[2021-12-01 20:44] rluethy opened #53277 "Different results using same code but different CPU type"
**System information**
- Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.5.0
- Python version: 3.8

**Describe the current behavior**

When tuning TF models we noted that we were getting different results when using different instance types on AWS. We started removing possible sources of variability until the only difference was

[2021-12-01 21:02] srjoglekar246 commented on #38746
The TFLite layer will pass on the cached representation if it finds one; @impjdi will the GPU delegate crash (or just be suboptimal) if the GPU driver version has changed underneath?

[2021-12-01 22:30] #42546 closed

[2021-12-01 22:31] learning-to-play commented on #53238
Please use [TF SIG Build's Docker images](https://github.com/tensorflow/build/tree/master/tf_sig_build_dockerfiles).

[2021-12-01 23:10] jvishnuvardhan commented on #38591
@makecent Sorry for the late response. I understand it may help investigating the effect of different initializations. Other than that, which use-cases will need this kind of feature? Also, i think you can write a custom keras callback to get the initial metrics.

Please note that Keras development moved to [keras-team/keras repo.](https://github.com/keras-team/keras/issues repository to focus on

[2021-12-01 23:12] jvishnuvardhan commented on #36376
@nbro Sorry for the late response. Are you still interested in contributing? If yes, please feel free to open a PR in  [keras-team/keras repo.](https://github.com/keras-team/keras/issues) repository.

Please note that Keras development moved to keras-team/keras repository to focus on only keras. Thanks!

[2021-12-01 23:46] jvishnuvardhan commented on #39755
@goulou Sorry for the late response. Looks like interesting feature.

Are you still interested in contributing? If yes, please feel free to open a PR in  [keras-team/keras repo.](https://github.com/keras-team/keras/issues) repository.

Please note that Keras development moved to keras-team/keras repository to focus on only keras. Thanks!

[2021-12-01 23:47] jvishnuvardhan commented on #39402
@maxvfischer Sorry for the late response. Are you still interested in contributing? If yes, please feel free to open a PR in  [keras-team/keras repo.](https://github.com/keras-team/keras/issues) repository.

Please note that Keras development moved to keras-team/keras repository to focus on only keras. Thanks!

[2021-12-02 00:22] jvishnuvardhan commented on #39084
@robertlugg Sorry for the late response. Are you still interested in contributing? If yes, please feel free to open a PR in  [keras-team/keras repo.](https://github.com/keras-team/keras/issues) repository.

Please note that Keras development moved to keras-team/keras repository to focus on only keras. Thanks!

[2021-12-02 00:24] jvishnuvardhan commented on #39036
@gdj0nes Sorry for the late response. Are you still interested in contributing? If yes, please feel free to open a PR in  [keras-team/keras repo.](https://github.com/keras-team/keras/issues) repository.

Please note that Keras development moved to keras-team/keras repository to focus on only keras. Thanks!

[2021-12-02 00:32] jvishnuvardhan commented on #48219
@FTC55 Sorry for the late response. Interesting.
I am not sure whether this feature is usable for any other applications or use cases. Do you think this will be useful for any other application other than autoencoders?

Are you still interested in contributing? If yes, please feel free to open a PR in  [keras-team/keras repo.](https://github.com/keras-team/keras/issues) repository.

Please note th

[2021-12-02 00:36] spagliarini commented on #53026
That apple forum didn't help (I already have the latest version of OS). I fairly don't know what to do and was trying to dig in but had to stop for other priorities this week. I will get back to this issue next week.

[2021-12-02 00:54] zhaozheng09 commented on #53233
InlineFunction graph optimize will inline function to main graph, then the attr of subgraph(tf.function) is dropped, so close InlineFunction optimize is a good idea.

[2021-12-02 01:01] fedeallocati commented on #53090
I tried and the behavior is the same, I get a 0 on the second GPU

[2021-12-02 01:09] dillon3344 opened #53278 "inaccurate tflite model"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installation (pip package or built from source): 2.7.0
- TensorFlow library (version, if pip package or github SHA, if built from source):

### 2. Code

[code]

[code]

### 3. Failure after conversion
If the conversion is successful, but the generated model is wrong, then state what is w

[2021-12-02 01:12] AnkushMahajan1 opened #53279 "Unsupported data type 14 in tensor"
Hi,
I recently converted my custom LSTM model from TensorFlow '2.7.0' to TensorFlow lite so I can implement it on a Android Device  But, when I tried to test it I got this error 'Unsupported data type 14 in tensor'.
Can anyone help me understand this error?

Here is code for converting model to tflite
'''
converter = tf.lite.TFLiteConverter.from_saved_model(TRAIN_MODELS_DIR)
converter.post_trainin

[2021-12-02 01:17] AnkushMahajan1 commented on #53279
And yes data type of the tflite  is float32

[2021-12-02 01:17] lobonexequiel commented on #17979
Men, you save my code. Thanks

[2021-12-02 01:25] andy6804tw commented on #47281
@sachinprasadhs Thank you very much! I'll open new issue on keras-team/keras repo.

[2021-12-02 01:25] #47281 closed

[2021-12-02 01:26] mohantym commented on #53268
Ok @terrycmchan !Could you please try again with latest version TF 2.7 with Cuda 11.2 and CuDNN 8.1?

[2021-12-02 01:32] mohantym commented on #53272
Hi @mahenning ! Have you tried from latest version  TF 2.7 yet?

[2021-12-02 01:43] mohantym commented on #53277
Hi @rluethy! Did you check with latest version 2.7 too?
Please post this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues) if it is not getting resolved.
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github

[2021-12-02 02:30] mohantym commented on #38037
Hi @garethjscoleman !
We are checking to see whether you still need help in this issue .Could you try with Python 3.6-3.8 with other tested configurations from [here](https://www.tensorflow.org/install/source#tested_build_configurations). Attaching relevant threads for reference. [link1](https://qengineering.eu/install-tensorflow-2-lite-on-raspberry-pi-4.html),[link2](https://www.tensorflow.org/li

[2021-12-02 02:36] kovkev commented on #53217
I solved this by downgrading my version of tensorflow

[2021-12-02 03:18] grewe commented on #53279
@sushreebarsa   I am working with Ankush and we are hoping you can help us.   The code that creates this error is when the Interpreter is being created.

[code]

Note that this is our Android gradle file:

[code]

[2021-12-02 03:19] grewe commented on #53279
@sushreebarsa

Also, note that the exact same model architecture but trained a number of months ago (with a different version of TFLite for conversion) is able to run with this exact same code.   So, there seems to be some kind of issue either in the latest TFLite conversion or support with our tensorflowlite in Android.

[2021-12-02 03:22] tilakrayal commented on #53266
@UsherWang ,
This issue is more related to tensorflow probability.Please post in that repo from [here](https://github.com/tensorflow/probability).

[2021-12-02 03:41] mohantym commented on #53247
Ok @aviaisr ! Above notebook seems to be restricted. Did you check in latest version TF 2.7 too?

[2021-12-02 03:59] mohantym commented on #53217
Hi @kovkev !Sorry for the late response. I was getting a lot of import errors. I think this issue would suit in this[ repo](https://github.com/google-research/seed_rl/issues).Thanks!

[2021-12-02 04:13] UsherWang commented on #53266
Hi @tilakrayal ,

Thank you for your reply and link. Before posting issue there I would like to double confirm with you about tfp problem.

I think the iteration steps shown above are related to adam optimizer, not for tfp.optimizer.lbfgs. Basically I use 2 different optimizer for training: first adam and then l-bfgs.
Adam part:
for epoch in range(50000):
    loss_loc, lt_loc, lbc_loc, lb_loc = tr

[2021-12-02 05:20] Saduf2019 commented on #53270
@sun2011yao
As you say it is [1,none,none,3] then you can just pass the 320,320,3 image to it.None input shape is just a placeholder and can take any value.
This is not a bug, i suggest you open this in discussion forum/stackoverflow for any further queries.

[2021-12-02 05:30] terrycmchan commented on #53268
@mohantym I tested with Tf v2.7.0 with Cuda release 11.2, V11.2.152 and CuDNN 8.1.1. However, the result is still not OK. Only the 1st frame can detect object.

[2021-12-02 05:30] #53081 closed

[2021-12-02 05:30] #53075 closed

[2021-12-02 05:40] par1hsharma commented on #52672
That is up to date install it from apple developer instruction
@KejianCui99

[2021-12-02 05:43] shkarupa-alex commented on #48701
The issue is still not resolved in TF master branch. It seems that PR https://github.com/tensorflow/tensorflow/pull/49868 was not merged.

[2021-12-02 05:57] KejianCui99 commented on #52672
Hey I've finally solved this problem by completely following [this](https://makeoptim.com/en/deep-learning/tensorflow-metal) install guidance. Although it's for M1, it works well on my M1 pro.

There will still be warnings but the code works, and I can see from the GPU monitor that it is actually using my GPU.
However I found the training speed is quite slow, it may due to the lack of adaptation,

[2021-12-02 05:57] Volatile-Memory commented on #45155
any update on when `tensorflow-lite-java` would be developed/released?

[2021-12-02 06:12] hashiting commented on #43905
Any better solutions?

[2021-12-02 06:13] hibamtol1 commented on #42781
Hi Can I contribute by translate in korean? If there's any task, I think I can do that! Please answer back.

[2021-12-02 06:21] drasticcode commented on #22926
[OpenCV VS Tensorflow](https://drasticcode.com/face-recognition-opencv-or-tensorflow/
)

The main difference between OpenCV is the computer vision library and TensorFlow is Machine Learning Tool. definition, differences, application, languages they support

[2021-12-02 07:30] #53098 closed

[2021-12-02 08:52] ghylander opened #53280 "'_VariantDataset' object has no attribute 'numpy'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes and no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu18.04
- TensorFlow installed from (source or binary): pypi
- TensorFlow version (use command below): 2.5.0.dev20210108
- Python version:  3.8.5

**Describe the current behavior**
[code]

**Describe the e

[2021-12-02 08:55] tilakrayal commented on #53231
@sun2011yao ,
Can you please confirm the tensorflow version you are using and also please provide the code snippet to analyse the issue.Thanks!

[2021-12-02 09:00] kretes commented on #40547
This is still there in tf 2.7 - see [Colab](https://colab.research.google.com/drive/1PqNtXN1ojugT9yt1Prs49GcwhMIShXJv?usp=sharing)

[2021-12-02 09:11] elda27 commented on #53271
I think so.
And also currently Keras is not work code completion too.
This is very similarly with this issue.

[2021-12-02 09:15] mohantym commented on #53268
Hi @sachinprasadhs ! Could you please look at this issue?

[2021-12-02 09:18] raharth commented on #39869
@jvishnuvardhan It works, yes, but I kind of have emotional trouble to rely on libs that (at least on my end) throw unpredictable and undescriptive errors :) but no for real, it throws a 'too many indices for array' exception depending on array/tensor length if the array is too **short**, so the error message seems to be unrelated to the issue and from the viewpoint of someone just using TF there

[2021-12-02 09:34] mahenning commented on #53272
Not yet. As far as I know, the binaries come with support for a fixed  CUDA version. At least when I tried to run it with TF 2.4 or higher, it tried to start with CUDA 11. Unfortunately, I'm bound to CUDA 10. Is there an easy solution to run TF 2.7 with CUDA 10/CuDNN 7.x?
On my personal system, I run TF 2.4 with CUDA 11 and have not encountered this problem so far. I don't run the program in batch

[2021-12-02 09:42] tilakrayal commented on #53275
@aligirayhanozbay
Could you please try with TensorFlow  latest stable version v2.7 and let us know if you are facing the same error. Thanks!

[2021-12-02 10:33] lionelsamrat10 opened #53281 "Getting this issue while running my fit method (For CNN)"
AttributeError                            Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_20164/3579053964.py in <module>
----> 1 history = model.fit(
      2     train_ds,
      3     epochs = EPOCH,
      4     batch_size = BATCH_SIZE,
      5     verbose = 1,

~\AppData\Local\Programs\Python\Python38\lib\site-packages\keras\utils\traceback_utils.py in error_handler(*args, **kwa

[2021-12-02 10:44] patrickzj commented on #33285
very useful, thks!

[2021-12-02 11:03] aviaisr commented on #53247
I updated the link to the notebook. Can you please try again?

Another important note- I continued investigating and saw that when I loaded the model trained with TF 2.2 in two different ways
1. With load_model + compile =False, I get this number of trainable parameters;

Total params: 3,136,005
**Trainable params: 911,913**
Non-trainable params: 2,224,092

2. When I initialize the model and Just

[2021-12-02 11:13] tilakrayal commented on #53254
@isaacgerg ,
Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-12-02 11:15] tilakrayal commented on #53248
@aviaisr ,
I do not have access to the link you have provided. Could you please provide the required permissions to view the files.

[2021-12-02 12:26] tilakrayal commented on #53278
@dillon3344 ,
Can you please provide the results of the model to confirm the issue.It helps to analyse and debug the issue.Thanks!

[2021-12-02 12:28] aviaisr commented on #53248
Updated link:
https://colab.research.google.com/drive/14rghRb2-0kknbCfSnxcU3WR4mI8mL9La?usp=sharing

[2021-12-02 12:30] #53097 closed

[2021-12-02 13:08] leelew opened #53283 "Bug for training GAN using TensorFlow v2.0"
Hi, I run GAN (train as following code) using TensorFlow 2.0.

[code]

But I got the following error and the system kill this task.

[code]

So how can I train GAN using Keras properly?

Thanks!

[2021-12-02 13:10] ghylander commented on #53280
I'd like to add:

[code]

is code from the tf.data.Dataset [documentation](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#window)

I am using categorical labels, I don't know if that somehow affects how the dataset object is constructed, or if it has some effect on how the WindowDataset object is created

[2021-12-02 13:24] JawadHalabiMTB commented on #53276
Hi @rifaadev ,
I'm looking at your issue... It will be more convenience and clear to solve the issue by adding the flowing
1. Attaching your conda info by typing the command **conda info**  .
2. Attaching your conda list by typing the command **conda list** .
3. Specify your system OS type and version.
**Hope I can help you solving the issue after your inputs.**

_Thanks in advance_

[2021-12-02 13:27] sanatmpa1 commented on #53281
@lionelsamrat10,

Can you please fill the issue template, and also share the reproducible code to expedite the trouble-shooting process? Thanks!

[2021-12-02 13:30] #53093 closed

[2021-12-02 13:35] svobora commented on #53197
Filled.

[2021-12-02 14:50] mohantym commented on #53272
Hi @mahenning ! Could you please provide a stand alone code to replicate the issue?

[2021-12-02 15:07] aviaisr commented on #53248
Hi,
I just saw the following:
**Load model + compile false**
Total params: 3,136,005
Trainable params: 911,913
Non-trainable params: 2,224,092

**Load weights**
Total params: 3,136,005
Trainable params: 3,101,673
Non-trainable params: 34,332

[2021-12-02 15:12] aviaisr commented on #53247
I uploaded the Keras hdf5 file + quantized TFLite file here:
https://drive.google.com/drive/folders/1IoUiItzZ1ePoQCQmH0Yy2EA7eCiEq9Fo?usp=sharing

[2021-12-02 15:14] aviaisr commented on #53247
BTW, I tried converting from Keras to quantized TFLite with TF2.7 the model I trained with 2.4, which shows the difference between DSP and CPU, and got empty maps on both...

[2021-12-02 15:55] sanatmpa1 commented on #53279
@AnkushMahajan1,

Can you share the complete stand-alone code to reproduce this issue? Thanks!

[2021-12-02 16:18] grofte commented on #50637
This appears to have been fixed in version 2.7

[2021-12-02 16:25] JDM-ULL-93 commented on #36111
It seems Python installed from Microsoft Store, for some reason, is not able to search for dll's through environment variables (Security Policies). One easy and temporary fix is , before this line of code
[code]

Add the following code:

[code]

This way, tensorflow loader will be able to load "cudart64_101.dll"

[2021-12-02 16:38] rafariossaa commented on #53238
Hi @learning-to-play ,
  Could you elaborate a little bit more ? As far as I can see, the `build-container-dev.sh` is running a `docker build ... -f Dockerfile.devel-mkl`, and in this dockerfile you can see: `FROM ${ROOT_CONTAINER}:${ROOT_CONTAINER_TAG}`, and those environment variables are set to:
[code]
  So it is using the images indicated in the link you provided.

[2021-12-02 16:41] DanBmh opened #53284 "Model not learning when using Dataset.from_generator() instead of Dataset.from_tensor_slices()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): Nvidia docker (nvcr.io/nvidia/tensorflow:21.08-tf2-py3)
- TensorFlow version (use command below): 2.5 (default installation) / 2.7 (updated with pip), does

[2021-12-02 16:57] iLeW commented on #47915
Ok, some time has passed since the last reply. I'm replying just for completeness. Finally, we moved to another version and into a new solution. The problem was probably tied to the CUDA version. We can keep this closed.

[2021-12-02 17:17] grewe commented on #53279
@sanatmpa1 the github is located at [https://github.com/grewe/USquat](https://github.com/grewe/USquat )

And this is happening with the 2 new models we are trying to load and create Interpreter instances of.  One is the LSTM model that we reported the issue on and the other is another newly created Object Detection API EfficientDet model.

The LSTM model is being created in this Classifier.java cl

[2021-12-02 18:08] HaithimNasher commented on #22926
Open CV

[2021-12-02 18:20] akzenith commented on #53060
How did you upgrade it?
 I tried doing !pip install --upgrade tensorflow==2.7.0 but its showing version upto 2.6.2 only.
ERROR: No matching distribution found for tensorflow==2.7.0

Current specifications:
tensorflow              2.5.0.dev2021032900
Python                  3.6.5 :: Anaconda
ipykernel               5.5.6
protobuf                3.19.1
tensorflow-addons       0.12.1
tf-estimator-nig

[2021-12-02 18:28] dillon3344 commented on #53278
sure, here you go

model_float32.h5:
array([[-7.0198089e-02,  3.5972762e-01, -2.1505730e-01,  3.5191351e-01,
         8.9106321e-02,  7.9619581e-01, -1.8258725e+00, -1.8856851e+00,
        -2.0833955e+00, -3.4985578e+00, -4.3255777e+00, -3.1656742e+00,
         9.5930970e-01,  2.2216064e-01,  1.6680446e-02,  1.6571397e-01,
         4.5229942e-02, -3.8629866e+00, -5.0174055e+00, -4.7954006e+00,

[2021-12-02 18:30] sachinprasadhs commented on #47281
@andy6804tw, I already see the issue has been moved to keras repo by us, please track the issue here https://github.com/keras-team/keras/issues/15206

[2021-12-02 18:58] aligirayhanozbay commented on #53275
@tilakrayal I currently cant test it with 2.7 GPU version as the only machine with multiple physical GPUs I have access to permits TF installation via conda. On that machine I tested the same script as above with TF 2.6.2 and the issue persists.

On CPU TF 2.7 I can confirm that on the CPU version the issue exists with `cross_device_ops=tf.distribute.HierarchicalCopyAllReduce()`

However, I found

[2021-12-02 19:06] MrinalTyagi commented on #53195
@mohantym As Keras team is not interested in adding this feature in their core API and wants to rely the users on third-party implementation for the same, is there any option of adding it into TensorFlow or should I scrap off the idea completely?

[2021-12-02 19:27] Demetrio92 commented on #5777
I tried a bunch of things from this thread without any success.

* disabling `nvidia-suspend.service` and co services
* enabling `nvidia-suspend.service` and co services
* patching `/usr/bin/nvidia-sleep.sh`
* config `options nvidia NVreg_PreserveVideoMemoryAllocations=1`

-----

What did work is **killing all CUDA-utilizing processes before suspending**. Most common scenario would be shutting dow

[2021-12-02 19:49] JXRiver commented on #53192
There is a known issue with `tf.Variable`: https://www.tensorflow.org/xla/known_issues#tfvariable_on_a_different_device

The `self.v` here is an int32 `tf.Variable` that can't be placed on GPU. You are suggested to use `int64` or `int32 + jit_compile=False`.

[2021-12-02 20:02] Demetrio92 commented on #5777
My service file
[code]

How to enable: https://www.shubhamdipt.com/blog/how-to-create-a-systemd-service-in-linux/

---
I couldn't get @denzp `awk` stuff working, so I simplified it.

[2021-12-02 21:43] srjoglekar246 commented on #53268
@terrycmchan What error do you see? If possible, can you provide the two models (working/not working)?

[2021-12-02 22:56] pcish commented on #52346
Thanks for the links, I'll work on updating the documentation to try to be more clear, and probably not recommend assert_consumed().

You could try running a "fake" training step (e.g. set loss to 0) to force a complete restoration.

I have to disagree. I'd be rather upset if I wrote:
[code]
and `assert_true(x)` went ahead and `does_something()` because clearly that's what I wished for.

However,

[2021-12-02 23:34] rifaadev commented on #53276
Hi @JawadHalabiMTB,
1. **conda info**

[code]

[2021-12-02 23:44] mohantym commented on #53277
Ok @rluethy ! Please close this issue here as it will be tracked there.

[2021-12-02 23:51] AnkushMahajan1 commented on #53279
@sanatmpa1 the github is located at https://github.com/grewe/USquat

And this is happening with the 2 new models we are trying to load and create Interpreter instances of. One is the LSTM model that we reported the issue on and the other is another newly created Object Detection API EfficientDet model.

The LSTM model is being created in this Classifier.java class . Particuarly see these lines 235

[2021-12-02 23:52] rluethy commented on #53277
Reposted here https://github.com/keras-team/keras/issues/15740

[2021-12-02 23:52] #53277 closed

[2021-12-03 00:38] jvishnuvardhan commented on #39636
@fsx950223 Is there any actionable item like raising PR?

Please note that Keras development moved to another repository to focus entirely on only keras. Could you please repost this feature on [keras-team/keras repo](https://github.com/keras-team/keras/issues). Thanks!

[2021-12-03 00:50] jvishnuvardhan commented on #38391
@Qottmann Is there any actionable item like a PR?

Please note that Keras development moved to another repository to focus entirely on only keras. Could you please repost this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues). Thanks!

[2021-12-03 00:55] jvishnuvardhan commented on #38711
@PhilipMay Sorry for the late response.

Please note that recently Keras development moved to [keras-team/keras repo.](https://github.com/keras-team/keras/issues) repository to focus on only keras.

I see a related issue (below) to track the progress. Please follow the progress in that issue
https://github.com/keras-team/keras/issues/15270

[2021-12-03 01:07] mohantym commented on #53276
Hi @rifaadev ! It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more.Please try again with Python 3.5-3.6 ? Tested configurations can be found from [here](https://www.tensorflow.org/install/source_windows#tested_build_configurations). Thanks!

[2021-12-03 01:13] JencharFung opened #53289 "java.lang.UnsatisfiedLinkError:java.lang.String[] org.tensorflow.lite.NativeInterpreterWrapper.getSignatureKeys(long)"
AndroidRuntime: java.lang.UnsatisfiedLinkError: No implementation found for java.lang.String[] org.tensorflow.lite.NativeInterpreterWrapper.getSignatureKeys(long) (tried Java_org_tensorflow_lite_NativeInterpreterWrapper_getSignatureKeys and Java_org_tensorflow_lite_NativeInterpreterWrapper_getSignatureKeys__J)
10-16 08:37:52.057 32388 32435 E AndroidRuntime:        at org.tensorflow.lite.NativeInt

[2021-12-03 01:13] mohantym commented on #20305
Hi @schloegl !
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Have you checked in [latest version](https://www.tensorflow.org/install/source) yet ? Thanks!

[2021-12-03 01:17] JencharFung commented on #53289
implementation 'org.tensorflow:tensorflow-lite-support:0.3.1'

[2021-12-03 01:19] mohantym commented on #24005
Hi @ylfzr!
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Have you checked in[ latest version](https://www.tensorflow.org/api_docs/python/tf/compat/v1/ConditionalAccumulator) yet? Thanks!

[2021-12-03 01:23] mohantym commented on #23679
Hi @Afroman1996 !
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Have you tried [latest version ](https://www.tensorflow.org/install/source_windows)yet ? Thanks!

[2021-12-03 01:30] mohantym commented on #22646
Hi @EdwardVincentMa !
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Have you tried [latest version ](https://www.tensorflow.org/install/pip)yet ? You can use[ tested configurations](https://www.tensorflow.org/install/source_windows#tested_build_configurations) to build older version using [Bazel](https://www.tensorflow.org/install/source_windows

[2021-12-03 01:46] mohantym commented on #8246
Hi @shoyer ! Have you checked latest document on [tf.repeat ](https://www.tensorflow.org/api_docs/python/tf/repeat)yet?

[2021-12-03 02:13] terrycmchan commented on #53268
@srjoglekar246 The problem is that:
I was going to run the inference on video.
It was ok when I ran on TF version 2.4.1. However, I found that the code could not be ran on TF version 2.6.2 and 2.7.0 successfully.
When running on TF v2.6.2/v2.7.0, only the 1st frame could detect object and the rest of frames could not.
[results.zip](https://github.com/tensorflow/tensorflow/files/7646337/results.zip

[2021-12-03 02:26] #8246 closed

[2021-12-03 02:30] #53102 closed

[2021-12-03 02:47] #53283 closed

[2021-12-03 03:12] cpuimage commented on #53144
hi, @markorakita
It's a naming conflict issue.
try modify the file [site-packages\tensorflow\__init__.py] near line 387.

**keras**  rename to **keras_module**
it a "Magic Repair".

before:

[code]

 after:

[code]

import like this
[code]
it work for me.

[2021-12-03 03:18] cpuimage commented on #53271
@elda27 try my solution.
 https://github.com/tensorflow/tensorflow/issues/53144#issuecomment-985179600

[2021-12-03 04:53] schissmantics commented on #47685
Well, closing the issue does not change the fact that tensorflow does not support reproducible results in migrated code. It's stale because there are no new findings on my behalf and the suggestions in the comments are not helpful.

[2021-12-03 05:30] #45373 closed

[2021-12-03 05:49] sanatmpa1 commented on #53144
@cpuimage,

Thanks for sharing your workaround.

@markorakita,

Can you try as per the suggestion by @cpuimage and let us know if it helps in resolving the auto completion problem?

[2021-12-03 05:52] SunitRoy2703 commented on #17328
TensorFlow Lite now supports training your models on-device, in addition to running inference. On-device training enables interesting personalization use cases where models can be fine-tuned based on user needs

Check this: https://blog.tensorflow.org/2021/11/on-device-training-in-tensorflow-lite.html

[2021-12-03 06:16] Sanjaygowda66 commented on #53060
Just use `!pip install --upgrade tensorflow`, it will automatically upgrade to a newer version.

[2021-12-03 06:17] tilakrayal commented on #53280
@ghylander ,
Can you please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/30664#issuecomment-511035643) from the similar issue and also please try to execute the code in latest stable v2.7 and let us know if the issue still persists.Thanks!

[2021-12-03 06:18] akzenith commented on #53060
I tried that but it is upgrading to 2.6.2 not 2.7

[2021-12-03 06:36] Sanjaygowda66 commented on #53060
Maybe you should upgrade your python >3.7, mine was 3.9 or try reinstalling TensorFlow.

[2021-12-03 06:37] akzenith commented on #53060
Ok.

[2021-12-03 06:39] Sanjaygowda66 commented on #53060
[System requirements
Python 3.7–3.9
Python 3.9 support requires TensorFlow 2.5 or later.
Python 3.8 support requires TensorFlow 2.2 or later.](https://www.tensorflow.org/install/pip)

[2021-12-03 07:34] ghylander commented on #53280
I believe I am already doing that, let me change the variable names so it looks closer to the comment you linked.

My code:
[code]

The code in #30664:
[code]

My code using y, i and j as variable names:
[code]

Either  way, I tried the exact code in #30664 and it produces the same result:
![image](https://user-images.githubusercontent.com/74593034/144563208-f567f9de-1156-4571-98be-8298c7b3aa62.pn

[2021-12-03 08:18] AndreyPlotkinOr commented on #46475
I faced the issue with Cuda 11.3 and CuDNN 8.2.0.
The problem persists in the latest Cuda 11.5 and CuDNN 8.3.1.
Interestingly, it only happens with enabled AUTOTUNE.
In a  screenshot below you can see a ~2Gb memory leak coming from cudnn_frontend::ExecutionPlanBuilder_v8::build(), but the inner stack is referencing cudnn_cnn_infer64_8.dll

![image](https://user-images.githubusercontent.com/4610825

[2021-12-03 08:19] trungnt13 opened #53291 "Wrong channel ordering in space_to_depth"
In the example provided for `space_to_depth` function here: https://www.tensorflow.org/api_docs/python/tf/nn/space_to_depth

If an input tensor has a larger depth

[code]
Then, `space_to_depth` output is: `[ 1  2  3  4  5  6  7  8  9 10 11 12]`, slice along channel dimension (i.e., `x[0, 0, 0, :]`)

While Pytorch `pixel_unshuffle` return: `[ 1  4  7 10  2  5  8 11  3  6  9 12]`

The issue is the i

[2021-12-03 08:59] dtlam26 commented on #32809
Actually when we got the checkpoint, we can recover the graph any way, I proposed [this solution](https://stackoverflow.com/questions/67702185/retrain-frozen-graph-in-tensorflow-2-x) then

[2021-12-03 09:12] schloegl commented on #20305
Recent versions of tensorflow work fine with Debian 10 and 11, and I do not have any more need for Tensorflow on Debian9. So this issue can be closed.

[2021-12-03 09:12] #20305 closed

[2021-12-03 09:14] tilakrayal commented on #53284
@DanBmh ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2021-12-03 09:16] tilakrayal commented on #53278
@sanatmpa1 ,
I was able to reproduce the issue in tf v2.5, v2.7 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/eb873ac1fa6dc6175bcc650ed5000867/53278.ipynb).

[2021-12-03 10:05] Saduf2019 commented on #53289
@JencharFung
an you please refer to [this link](https://stackoverflow.com/questions/48223347/unsatisfiedlinkerror-while-building-tensorflow-lite-demo-source-code) and let us know.

[2021-12-03 10:06] ghylander commented on #53280
this is the output of:

[code]

[2021-12-03 10:30] #15530 closed

[2021-12-03 10:30] #17930 closed

[2021-12-03 10:37] Thf772 opened #53292 "tf.data.experimental.load does not work on temporary files"
**System information**
- TensorFlow version (you are using): 2.6.0
- Are you willing to contribute it (Yes/No): No (I don't have the required knowledge)

**Describe the feature and the current behavior/state.**

When loading a dataset with `tf.data.experimental.load`, the produced dataset will always be a lazily-loaded dataset that doesn't read the files until the dataset object is consumed (e.g.

[2021-12-03 10:58] tilakrayal commented on #53280
@ghylander ,
Can you please provide the complete code to reproduce the issue.Thanks!

[2021-12-03 11:10] elda27 commented on #53271
@cpuimage
Thanks.
A module completion such as `from tensorflow.keras import ~` is works good.
But `tf.keras.~` is not work code completions.

Can you work completion about `tf.keras.~` on the PyCharm.
My VSCode is not work code completion after changes.

Maybe PyCharm is more intelligence.

[2021-12-03 11:48] Geoyi commented on #44884
as @vnghia mentioned above, you have to verify if you have (read and write) access to the GCS.
Once you can access the basket, writing file back to gcs buck can be like:

[code]
Read more on [StackOverflow](https://stackoverflow.com/questions/41633748/load-numpy-array-in-google-cloud-ml-job)

[2021-12-03 11:48] ghylander commented on #53280
I'll also add this since I didn't mention it before: I did try updating to tf2.7, but produces the same result

About the code, you can plug the code in the OP, all you need is a keras-style dataset for the tf.keras.utils.image_dataset_from_directory() function:
[code]

[2021-12-03 12:05] AshwinJay101 commented on #53267
@chunduriv Can we remove the awaiting response tag?

[2021-12-03 12:16] Thf772 commented on #53292
By the way, I have already tried calling `cache` on the dataset and iterating over it prior to exiting the `with` block, but this still results in an exception being thrown when the dataset is used outside of the function.

[2021-12-03 12:30] #20326 closed

[2021-12-03 12:45] cpuimage commented on #53271
@elda27  yes,it work.
after modify the  [site-packages\tensorflow_init_.py]
then write code like:

[code]

[2021-12-03 13:07] Thf772 commented on #53292
I have re-created the error in the Python console:
[code]
`loaded_dataset` is a dataset loaded from a now deleted temporary directory, on which I have done the following in order:
- Call `tf.data.experimental.load` on the temporary path to load the dataset
- Add the `.cache()` operation with no argument (cache to memory)
- Consume the dataset with `for _ in cached_dataset: pass`
- Exit the tempora

[2021-12-03 13:18] elda27 commented on #53271
@cpuimage Oh nice! maybe my work is something wrong.
I will read again your posts.

By the way, I found good feature in PEP563.
https://www.python.org/dev/peps/pep-0563/#runtime-annotation-resolution-and-type-checking

There are example code in the document.

[code]

This code is work good in the VSCode. (I'm not check on the PyCharm)
[code]

[2021-12-03 13:41] mohantym commented on #11085
@Dakkerad! Is this issue good to close then?

[2021-12-03 14:23] aetherwind opened #53293 "TfLiteStatus invoke_status = interpreter.Invoke(); Failed"
### 0. Summary

Help is appreciated!
Details are given below.

To do my first project with TF lite on microcontrollers (TFLM) I follow the Hello World example for TFLM.
I do this with my own network, though. The Structure is

- Input 1x16x16x1
- Two CNN layers with maxpooling
- Flatten
- Dense layer
- Output 1x2

I encounter the following problem:

In the python world (nearly) everything works.

A

[2021-12-03 14:51] ramonmatas opened #53294 "compiled tf.function and tf.data.Iterator error"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.5 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):

[2021-12-03 14:56] cpuimage commented on #53271
good job. it work good in PyCharm.

[2021-12-03 15:09] akzenith opened #53295 "SymbolAlreadyExposedError: Symbol random_rotation is already exposed as ('keras.preprocessing.image.random_rotation',)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
- TensorFlow instal

[2021-12-03 15:17] sigeisler opened #53296 "Cloud TPU VM with v3-32 fails while connecting to the cluster"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04 (Cloud TPU VM)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): preinstalled
- TensorFlow version (use

[2021-12-03 15:24] elda27 commented on #53271
@cpuimage Thanks! I haven't been successful your suggestion yet. Maybe VSCode has something difference with PyCharm.
@sanatmpa1 Can you review my solution and please tell us to any one is better for TensorFlow?

[2021-12-03 15:35] mperino opened #53297 "Update https://www.tensorflow.org/install/gpu#install_cuda_with_apt for Ubuntu 21.04"
## URL(s) with the issue:
https://www.tensorflow.org/install/gpu#install_cuda_with_apt

## Description of issue (what needs changing):

Please add a section for Ubuntu 21.04:

For Ubuntu 21.04 the manual installation instructions are a thing of the past assuming that you have installed your NVIDIA drivers from the Canonical default apt repo .  All one needs to do is:
pip3 install tensorflow
sudo a

[2021-12-03 15:55] markorakita commented on #53144
@cpuimage Thank you for finding the cause of the problem in the source code!

@sanatmpa1 I've tried the workaround and it works, but I don't think it's the complete fix since some of the keras classes are still not visible. For example _tensorflow.keras.layers.CenterCrop_ and _tensorflow.keras.layers.Rescaling_ layers cannot be resolved, this gets highlighted in red with the message "Cannot find r

[2021-12-03 16:07] jvishnuvardhan commented on #53164
I am not sure why it is throwing the following error. Pypi build https://pypi.org/project/tensorflow-io-gcs-filesystem/ is there
[code]

[2021-12-03 16:45] jvishnuvardhan commented on #53164
Could be an issue with Bazel version as reported [here](https://stackoverflow.com/questions/49825590/tensorflow-bazel-building-fails) for a similar error

Can you pleas try with
Bazel version (if compiling from source): 3.7.2

[2021-12-03 17:34] sanatmpa1 commented on #53271
@elda27,

As @mihaimaruseac pointed out in this [comment](https://github.com/tensorflow/tensorflow/issues/53271#issuecomment-983828570), it may be due to keras being moved to a different repo.
Can you please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues) Thanks!

[2021-12-03 17:39] FTC55 commented on #48219
@jvishnuvardhan Hi, I'm still interested in the implementation of this feature since I frequently work with autoencoders. However, mine was more of a suggestion as I lack the skill to carry out the implementation myself. I think the feature should be implemented for consistency with the rest of the API, as I said to match `tf.keras.preprocessing.image.ImageDataGenerator.flow_from_directory` so as

[2021-12-03 18:11] jvishnuvardhan commented on #48219
@FTC55 Would you mind opening it in keras-team/keras repo? Just need to copy and paste.

If you are busy, i can create the same feature request in that repo? Thanks

[2021-12-03 18:29] srjoglekar246 commented on #53268
I think your code isn't running TFLite, correct? @sachinprasadhs can we route to an appropriate person on the TF side?

[2021-12-03 19:15] altruistcoder commented on #53190
@tilakrayal I am sorry if it was not clear from the Title but this is not any issue specifically or it maybe I am not sure. I have general query which might be valid for all the versions of Tensorflow and there are no specific steps to reach this.
I just want to know whether is it possible to directly load a model (using any Tensorflow function) from the model file which is stored in a S3 bucket.

[2021-12-03 19:56] grewe commented on #53279
@sushreebarsa @sanatmpa1 We are stuck on this issue and please need your guidance.

[2021-12-03 20:21] sachinprasadhs commented on #52348
As mentioned below also as per the document about `global_clipnorm`.

[2021-12-03 20:26] isaacgerg commented on #52348
I don't see how clip_norm is different than global_clipnorm.

Clip_ value examines each scalar and hard clips based on threshold but preserves sign.  Clip_norm rescales all the scalars so that the norm is the specified value.  But, what does global_clipnorm do?

[2021-12-03 20:42] sachinprasadhs commented on #50326
Hi, Have you tried the above mentioned step, also please try in the latest Tensorflow version and let us know if the issue still persists. Thanks!

[2021-12-03 20:43] wangpengmit commented on #47685
The random numbers are not guaranteed to be consistent across TensorFlow versions. Please see [here](https://www.tensorflow.org/guide/versions#what_is_not_covered) and [here](https://www.tensorflow.org/guide/random_numbers).

[2021-12-03 21:22] cpuimage commented on #53144
@markorakita
you can find them here:

tf.keras.layers.experimental.preprocessing.Rescaling
tf.keras.layers.experimental.preprocessing.CenterCrop

[2021-12-03 21:38] markorakita commented on #53144
@cpuimage Thanks, they can be found in that path but that is the old path, in TF 2.7 they were moved from experimental to tensorflow.keras.layers (see [API docs](https://www.tensorflow.org/api_docs/python/tf/keras/layers/CenterCrop)) and those new paths should work in IDE. Maybe the same bug that is in `site-packages/tensorflow/__init__.py` is also in `site-packages/tensorflow/keras/__init__.py`

[2021-12-03 21:41] JawadHalabiMTB commented on #53276
Thanks @rifaadev for your inputs it was very helpful !!! For me it works !!

OS: RH7.x with
**Conda ver: 4.6.14** (Conda basically holds inside it many packages **glibc** on of those i notice that for me is lower version than yours this is the killer ).

My suggestion for you is to have lower Conda version installed on your system and let's proceed from there.

BR

[2021-12-03 22:16] compfy-dot-com commented on #52978
Yes, hence see https://github.com/tensorflow/tensorflow/issues/52978#issuecomment-971681651

[2021-12-03 22:19] ishark commented on #52905
The support for Where op in XLA was added recently and should be available in TF nightly.
@MedAbdelkaderAbba Could you please try to run the original code snippet again to check if this is resolved?

Thanks!

[2021-12-03 22:24] compfy-dot-com commented on #52978
Does this response mean that the TF team does not maintain stock models nor the compatibility with them when distributing them and it is the Keras team that should fix the models to work with the latest TF releases?

[2021-12-03 22:27] compfy-dot-com commented on #52978
What's about Google models such as MobileNetV3 - also Keras team should fix it?

[2021-12-03 23:01] hxyue1 commented on #53294
I ran your example on Google Colab and got a different error message which might be more informative

```InvalidArgumentError: Detected unsupported operations when trying to compile graph __inference_run_compiled_61[_XlaMustCompile=true,config_proto=3175580994766145631,executor_type=11160318154034397263] on XLA_CPU_JIT: IteratorGetNext (No registered 'IteratorGetNext' OpKernel for XLA_CPU_JIT devi

[2021-12-03 23:16] hxyue1 commented on #53294
Quickly scanning some of the documentation, `jit_compile=True` invokes compilation using XLA (Accelerated Linear Algebra) while very fast is known to have some [problems](https://www.tensorflow.org/xla/known_issues).

Unfortunately it doesn't look like your use case fits neatly into any of those listed. If I had to hazard a guess, it may have something to do with an iterator being unbounded which

[2021-12-04 00:17] #39636 closed

[2021-12-04 00:40] templeblock commented on #53144
@markorakita Everything is messed up, and I hope someone will carefully sort out the structure.

[2021-12-04 00:40] sachinprasadhs commented on #45874
Hi, could you please try with the latest Tensorflow version and let us know if this is still an issue. Thanks!

[2021-12-04 00:52] cpuimage commented on #53144
@markorakita    Everything is stirred up, for the time being, only part of it can be solved first, and I hope that someone will solve the problem as soon as possible.

[2021-12-04 01:30] #53124 closed

[2021-12-04 01:30] #52526 closed

[2021-12-04 01:32] sachinprasadhs commented on #51811
I don't see the reported issue in Tensorflow 2.7, please find the attached [gist](https://colab.research.google.com/gist/sachinprasadhs/9195eb14688c2f3a05e53d01be05f2fd/rest_simple.ipynb) and confirm. Thanks!

[2021-12-04 01:34] lugalUrim opened #53300 "tf.stack silently output wrong result with 0-dimension tensor"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):

[2021-12-04 01:38] sachinprasadhs commented on #44844
Could you please move this issue to closed as per the comment above. Thanks!

[2021-12-04 01:41] sachinprasadhs commented on #51043
If your issue is resolved, could you please close the issue. Thanks!

[2021-12-04 02:18] zhaozheng09 commented on #53233
https://tensorflow.google.cn/versions/r2.1/api_docs/python/tf/xla/experimental/jit_scope

[2021-12-04 02:18] #53233 closed

[2021-12-04 02:36] whatdhack opened #53301 "MLIR backend for XLA"
Hello,  may I ask  a few simple questions on XLA .

1. Is there an open sourced XLA MLIR backend that  one can try "out of the box" ?
2. Is there a way to enable/disable various optimizations  that are used in XLA ?
3. What is the best way to figure out  what optimizations are available in XLA ?

[2021-12-04 02:55] lubin-liu opened #53302 "Random seed in tf.keras.initializers.RandomNormal does not work in Tensorflow 2.7.0"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-12-04 04:40] elda27 commented on #53271
@sanatmpa1 This change apply the `tensorflow/__init__.py`.
I guess the issue for tensorflow-team.

[2021-12-04 04:42] #44844 closed

[2021-12-04 07:00] sushreebarsa commented on #53130
@elfringham Could you please let us know if we can close this issue as the PR is merged ?Thanks!

[2021-12-04 07:06] sushreebarsa commented on #53293
@aetherwind Could you please try with the latest TF v2.7.0 and let us know the outcome ? Thanks!

[2021-12-04 07:43] allhavebrainimplantsandmore opened #53303 "LSTM expansion"
**System information**
- TensorFlow version (you are using): 1.3
- Are you willing to contribute it (Yes/No): Maybe

**Describe the feature and the current behavior/state.**

Simple LSTMs have limitations. It cannot extract some features, i.e. some mathematical operands, conditional logic, etc. I don't think the LSTM advancements cover this. This paper kind of shows what logic needs to be part of

[2021-12-04 07:51] #53139 closed

[2021-12-04 10:09] saisahil2015 opened #53304 "Warnings with Arduino Nano 33 BLE"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): with pip
- TensorFlow version (or github SHA if from source): 2.7.0

**Standalone code to reproduce the issue**
Run the DigitsExample.ino with eloquenttinyml library in arduino of version 0.0.10.

**Any other info / logs**

When I try compiling the code, I'm

[2021-12-04 10:25] tilakrayal commented on #53222
@maye1998 ,
Please refer this links [1](https://numpy.org/doc/stable/reference/generated/numpy.linalg.eig.html), [2](https://www.tensorflow.org/api_docs/python/tf/linalg/eig) and SO [link](https://stackoverflow.com/questions/58856160/why-do-tensorflow-and-pytorch-gradients-of-the-eigenvalue-decomposition-differ-f) which provides more information.It helps.Thanks

[2021-12-04 10:38] ktncktnc commented on #47554
I met the same issue and still can't fix it

[2021-12-04 13:02] Lnazvkl commented on #53223
@sushreebarsa
I have trained yolov4 on my custom dataset, then I converted weights to .pb and then to .tflite, for using on android app, now I need to test my .tflite weights on the whole test dataset to find map@50 and ap on the whole test dataset, but I don't know how I can do this?

[2021-12-04 13:03] Lnazvkl commented on #53223
@sushreebarsa
I have trained yolov4 on my custom dataset, then I converted weights to .pb and then to .tflite, for using on android app, now I need to test my .tflite weights on the whole test dataset to find map@50 and ap on the whole test dataset, but I don't know how I can do this?

[2021-12-04 14:25] #53155 closed

[2021-12-04 14:39] FTC55 commented on #48219
@jvishnuvardhan Sure thing. Just done it. Should I close here?

[2021-12-04 14:43] muriloasouza opened #53305 "Could not find the DLL(s) 'msvcp140_1.dll'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: (Windows 10)
- TensorFlow installed from: binary
- Tensor

[2021-12-04 14:48] igorkf commented on #43905
I'm running a siamese network on Kaggle, using a tf Dataset (prefetching in the final step of dataset).
I'm noticing that GPU is not being used at all.
I also tried to run the same notebook on Google Colab, and seems that GPU is not being used.
Anyone running in the same issue?

[2021-12-04 16:23] ziofil opened #53306 "cannot get high precision arithmetic to work"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 12.0.1
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.6.2
- Python version: 3.9.7
- CUDA/cuDNN version: N/A
- GPU model and memory: N/A

**Describe the curren

[2021-12-04 17:36] rfrush commented on #52672
I've also confirmed that a fresh re-install of Miniforge using the instructions referenced by @KejianCui99 seem to clear up this issue. (though others related to jupyter that are unrelated remain...)

Thanks for the find!

I ran both with and without GPU support (and confirmed GPU usage or lack thereof) and got similar times...

`2021-12-04 10:15:35.681524: W tensorflow/core/platform/profile_utils

[2021-12-04 23:25] pedrohpf commented on #25138
Tried everything and nothing was working, turns out I was running this code I had found somewhere to check my GPU:

`from tensorflow.python.client import device_lib`
`device_lib.list_local_devices()`

After removing this and using `set_memory_growth` as others have commented, tensorflow stopped using all my gpu memory. Had no idea that line would affect memory to the point of ignoring `set_memory_

[2021-12-04 23:35] cnsgsz commented on #32090
a similar approach.
[code]

[2021-12-05 01:11] hlc1209 commented on #45256
I have to say that this problem stil exist in the latest version of tensorflow (colab 2.7.0)

It prevents me from generating a working model on the Arduino 33 ble.

This is a serious problem because we cannot even run this [official demo](https://www.tensorflow.org/lite/performance/post_training_integer_quant)

[2021-12-05 01:11] hlc1209 commented on #50286
I have to say that this problem stil exist in the latest version of tensorflow (colab 2.7.0)

It prevents me from generating a working model on the Arduino 33 ble.

This is a serious problem because we cannot even run this [official demo](https://www.tensorflow.org/lite/performance/post_training_integer_quant)

[2021-12-05 09:12] dorbittonn commented on #28287
thanks for your answer, Im having problems particularly, using tf 1.14.
still getting this error when trying to run 2 different models one after the other.
I get the error in model.fit. I paid attention to the fact that if Im not passing tensorboard callback the error is gone.

Anyone has an idea what it could be?

[2021-12-05 09:28] rllin commented on #53196
when i look at memory growth, it looks like when writing is in progress, 250% of the model size is needed in memory is needed to hold buffered data before writing begins.  and 130% is needed during restoration.  what my errors are are due to not having 2.5x or 1.3x the amount of memory as model size when saving/restoring.

however i still have a problem with how slow the saving is.  it is only wri

[2021-12-05 10:16] terrycmchan commented on #53268
@srjoglekar246 The code is not running on TFLite. It is running on TF.

[2021-12-05 10:51] #53132 closed

[2021-12-05 11:34] danielriege commented on #53069
When I try it on a different machine, I get a scale of 0.074 which is even worse. Any ideas?

[2021-12-05 11:51] #53137 closed

[2021-12-05 11:55] #53220 closed

[2021-12-05 13:20] meSajied commented on #53300
It shows no error till shape of first tensor is 0.

[2021-12-05 13:49] yevklym commented on #14978
In my case, the problem was that in the folder containing the dataset there were system files left by OS. (e.g. on Mac OS .DS_Store file).

[2021-12-05 14:26] LionQYW opened #53307 "How to pass a switch python argument into input_signature when using tf.function?"
Hi, I’m using Tensorflow 2.7.0 currently. There is no any other configuration things related to my issue.

I’m trying to set a switch for a tf.function, like set the input_signature for the call method of a Karas Model, so I can use the tf.saved_model.save API to save it. But it seems like I can not pass a python argument into the input_signature.

For example, I built a Transformer translation Mo

[2021-12-05 15:53] hashiting commented on #43905
Hi, What do you mean by "GPU is not being used"?

[2021-12-05 17:37] Saduf2019 commented on #53305
@muriloasouza
Please check these: [link](https://github.com/tensorflow/tensorflow/issues/18116#issuecomment-854379687), [link1](https://stackoverflow.com/questions/60157335/cant-pip-install-tensorflow-msvcp140-1-dll-missing).
#50955,#43193,#35618
Please verify your python/os version os not 32 bit.

[2021-12-05 17:39] JingZhang918 opened #53309 "Mac M1 tensorflow installation error"
**System information**
- OS Platform and Distribution: Mac OS Big Sur Version 11.6 Apple M1 chip Memory 8G

Here is how I install:
[code]
Then I run:
[code]
Then I got error:
[code]

[2021-12-05 17:47] Saduf2019 commented on #53303
@allhavebrainimplantsandmore
Please feel free to create a pr or let us know the changes to be made to which file for the requested change.

[2021-12-05 19:22] muriloasouza commented on #53305
@Saduf2019

I don't have a Program folder inside AppData\Local. Instead, i got Python38 folder inside Roaming\Python.
Python 64 bit.
![Capturar1](https://user-images.githubusercontent.com/40600889/144757777-aa36c8a3-561e-4cd3-8eed-ffc02dc96ba1.JPG)

Well, i just tried upgrading tensorflow (`pip install tensoflow` ). Now i am with tf 2.7.  Did one try, and the error was there. I restarted my PC, an

[2021-12-06 00:12] igorkf commented on #43905
I mean that the GPU memory isn't being modified (always 0%).
I don't know what's hapenning.

[2021-12-06 00:47] terryheo commented on #52542
If you want to use shared library distribution of TFLite, you'd better use C API.

https://www.tensorflow.org/lite/guide/build_cmake#build_tensorflow_lite_c_library

Then you can use TFLite with necessary header files and the generated shared library.

[2021-12-06 01:13] terryheo commented on #49902
The build issue should be fixed. Let me know if you still have the issue.

[2021-12-06 01:13] #49902 closed

[2021-12-06 03:19] AnishKumarNayak commented on #18652
Hi @stefan-falk Were you able to solve this problem? thanks

[2021-12-06 03:35] mohantym commented on #53291
Hi @Saduf2019 ! Could you please look at this issue! Attaching Gist in [2.6](https://colab.research.google.com/gist/mohantym/c8ae0482ec0fad0e6d4c6f84702a8c29/github_53291.ipynb#scrollTo=fesXfhtJEtHx),[2.7](https://colab.research.google.com/gist/mohantym/b524955337f79e4df87cdc1620e3be9a/github_53291.ipynb#scrollTo=7lUUAnumE11k) and [nightly ](https://colab.research.google.com/gist/mohantym/97c088f3

[2021-12-06 03:51] KejianCui99 commented on #52672
Maybe we are using different network structures, mine was extremely slow when using GPU (about 40s per epoch).

[2021-12-06 04:31] Saduf2019 commented on #53305
@muriloasouza
It clearly says windows 32, like i explained earlier there is no support for 32 bits.

[2021-12-06 05:51] #53141 closed

[2021-12-06 06:07] mohantym commented on #53302
Hi @lubin-liu! As this [document ](https://keras.io/api/layers/initializers/)suggests ,They are meant to give random weight values to input layer. So This is working as expected. Attaching [Gist ](https://colab.research.google.com/gist/mohantym/84541e4f6348446445e395410304825c/tf-keras-initializer-random-seed-test-using-version-2-7-0.ipynb#scrollTo=0UOgrynLV7Vh)for reference.

[2021-12-06 07:01] saeedm2020 commented on #11085
No, it's not.

On Fri, Dec 3, 2021 at 2:41 PM mohantym ***@***.***> wrote:

--
-Saeed

[2021-12-06 07:12] kumariko commented on #26405
@nfelt Could you please let us know if we can close the issue with the merged [PR](https://github.com/tensorflow/tensorboard/pull/2514) ? Thanks!

[2021-12-06 07:15] sushreebarsa commented on #53296
@sigeisler It could be a mismatch in either one of the following: Tensorflow version, zone or project between compute VM and TPU. If you create both TPU and GCE VM with the same Tensorflow version  and they both are created in the same project and zone. You can just provide the TPU name in TPUClusterResolver and it should work fine:

 `resolver = tf.distribute.cluster_resolver.TPUClusterResolver(t

[2021-12-06 07:17] sushreebarsa commented on #53304
@saisahil2015
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-12-06 07:19] Arman-Nikokolah commented on #22926
hi , my name is Arman I'm python developer such as Django I'd like extremely Django but I've problem for set static in URL please help me what should I do ?? Thanks

I've problem =>  style="background-image: url"{'%static img/bg_image_3.jpg'%};"

[2021-12-06 07:22] sushreebarsa commented on #53301
@whatdhack Could you please have a look at the [XLA link ](https://www.tensorflow.org/xla) and let us know if it helps?Thanks!

[2021-12-06 07:23] sigeisler commented on #53296
@sushreebarsa thanks for the response. I will check out upgrading TensorFlow later.

However, I do not have _both_ a TPU and GCE VM since I am using a [**TPU VM**](https://cloud.google.com/tpu/docs/users-guide-tpu-vm). Moreover, they come with a preinstalled tensorflow etc.

[2021-12-06 07:38] sushreebarsa commented on #53307
@LionQYW
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thanks!

[2021-12-06 07:38] shkarupa-alex commented on #48701
Here is a commit where this issue fix was removed https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/image_ops_impl.py#L2290

[2021-12-06 07:54] MayeZhang commented on #53222
It's different from the problem of the [link](https://stackoverflow.com/questions/58856160/why-do-tensorflow-and-pytorch-gradients-of-the-eigenvalue-decomposition-differ-f)

it's a real random matrix but not a real symmetric matrix, and I want to get the eigenvector of the random matrix.

When I calculate it by numpy and the Tensorflow, we can see that the result of the eigenvalue is same, but the

[2021-12-06 07:55] MayeZhang commented on #53222
It's different from the problem of the [link](https://stackoverflow.com/questions/58856160/why-do-tensorflow-and-pytorch-gradients-of-the-eigenvalue-decomposition-differ-f)

it's a real random matrix but not a real symmetric matrix, and I want to get the eigenvector of the random matrix.

When I calculate it by numpy and the Tensorflow, we can see that the result of the eigenvalue is same, but the

[2021-12-06 08:03] saeedm2020 commented on #11085
@mohantym <https://github.com/mohantym> I have a Graphics "Radeon Pro Vega
16 4 GB" which is an AMD graphics card. Installing Conda is in the
instruction for "arm64 : Apple Silicon" which is not applicable to my
graphics card. I have followed "x86 : AMD" in Step 1 as instructed. Then
went to Step 2. Thanks for your response. /saeed

On Mon, Dec 6, 2021 at 8:00 AM Saeed Mohammadi ***@***.***> wrote

[2021-12-06 08:21] muriloasouza commented on #53305
@Saduf2019

win 32 is just saying my Anaconda is installed on Windows OS. My OS is 64 bit, and AMD64 indicates that my code is running in a 64 bit process

[link1](https://stackoverflow.com/questions/28526062/does-64-bit-anaconda-on-win32-uses-32-bit-or-64-bit)
[link2](https://www.w3resource.com/python-exercises/python-basic-exercise-42.php)
[link3](https://www.scivision.dev/python-check-32-64-bit

[2021-12-06 08:23] bhpatray commented on #52542
Are you planning to create a process for C++ CMake shared library in future releases ?
What's the complexity in creating C++ shared library through CMake? why it is only for C?

I was able to generate shared-library through bazel using the below command.
bazel build  -c opt //tensorflow/lite:libtensorflowlite.so

Why such process not there for CMake.
The generated shared library through CMake was

[2021-12-06 08:40] aetherwind commented on #53293
@sushreebarsa Thanks for helping.

#### I went to TF 2.7 However the result stays the same.
pip list:

#### What is in my opinion interesting is the following: I run the checks:
[code]
They do not raise an error.

However I get an output that says 'Input UINT8, output INT8 not supported.' (I mean, where does the latter come from? Even in the C world the model clearly says that it has output UINT8

[2021-12-06 08:49] HuangChiEn commented on #26453
Thanks for your brief tutorial, but the given code will not work, if I convert it into the lambda function.
![image](https://user-images.githubusercontent.com/52521165/144815600-6c2b84e2-fb2d-4e4d-9a9d-85751a3d59c3.png)

![image](https://user-images.githubusercontent.com/52521165/144815642-0054a429-fa1a-4f3f-9ad4-2bab8e8fc7cc.png)

![image](https://user-images.githubusercontent.com/52521165/144815

[2021-12-06 08:51] #53148 closed

[2021-12-06 09:08] corneliusschroeder commented on #35860
I'm running a tensorflow application in a Docker Container on a Windows Machine with WSL2. I get the following errors:

` tensorflow/core/profiler/lib/profiler_session.cc:159] Profiler session started.
I tensorflow/core/profiler/internal/gpu/cupti_tracer.cc:1363] Profiler found 1 GPUs
I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcupti.so.10

[2021-12-06 09:08] bhpatray opened #53312 "Unable to find version specific documentation for building TFLite"
The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

https://www.tensorflow.org/lite/guide/

## Description of issue (what needs changing):
Unable to find version-specific documentation to build TFLite building.

### Clear description
For version 2.4.1, There used to be docum

[2021-12-06 09:22] elfringham commented on #53130
All good now thanks.

[2021-12-06 09:22] #53130 closed

[2021-12-06 09:29] songssssss commented on #45930
I'm facing the same problem. I installed tensorflow-gpu 2.2.0 using Anaconda and it will automatically download cudnn 7.6 and toolkit 10.1.  anyone using anaconda also faces the same problem? ( i installed tensorflow-gpu by running this line `conda create -n tf-gpu tensorflow-gpu==2.2.0 python==3.8`)

[2021-12-06 09:33] albertz opened #53313 ""Create an op" documentation is outdated"
## URL(s) with the issue:

https://www.tensorflow.org/guide/create_op
https://github.com/tensorflow/custom-op

## Description of issue (what needs changing):

The option `std-c++11` is wrong, I think. It needs at least `std-c++14` for TensorFlow >=2.7.

This issue also exists in the [custom-op](https://github.com/tensorflow/custom-op) repo.

I think C++14 as default was introduced here: https://gi

[2021-12-06 09:48] Eddy-Wu opened #53314 "How to build tflite for arm"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are
not verified bugs in TensorFlow, please go to
[Discourse](https://discuss.tensorflow.org/).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/tensorflow/blob/master/SECURI

[2021-12-06 09:58] sushreebarsa commented on #53313
@albertz This issue will be closed ,once the PR is merged.Thanks!

[2021-12-06 09:59] DanBmh commented on #53284
@tilakrayal
I uploaded the code to: https://gitlab.com/DANBER/Pingoora

I hope the instructions in the _Pose2D_ folder are good enough to help you set up the project. You only need to download the _val_ part of the coco dataset. The data pipeline part can be found [here](https://gitlab.com/DANBER/Pingoora/-/blob/main/Pose2D/training/scode/pipelines/pl_top_down.py#L175). You also can find some pipe

[2021-12-06 10:16] Saduf2019 commented on #53305
@muriloasouza
Could you please try on virtual env and let us know.

[2021-12-06 10:38] Saduf2019 commented on #53314
@Eddy-Wu
please refer to [this link](https://www.tensorflow.org/lite/guide/build_arm)

[2021-12-06 10:48] Saduf2019 commented on #53309
@JingZhang918
We don't support the M1 chip.
Can you refer to similar issues:#42482,46178,48808
Can you please create this on [Apple Developer Forum.](https://developer.apple.com/forums/tags/tensorflow-metal)

[2021-12-06 11:03] Tessil opened #53315 "[TFLite] Conversion support for 3D operators with channels first data format"
Hello,

TensorFlow Lite currently supports the conversion of 2D operators like `tf.keras.layers.Conv2D`, `tf.keras.layers.MaxPool2D`, ... with `data_format="channels_first"` through the insertion of `TRANSPOSE` operators as the TFLite kernels only support the channels last format.

Would it be possible to add something similar for 3D operators like  `tf.keras.layers.Conv3D`, `tf.keras.layers.MaxPo

[2021-12-06 11:27] LionQYW commented on #53307
Hi, I don’t think this is a pure Karas Problem. It is mainly about the tf.function and tf.saved_model API. And this is also a question for tf.Module class.

[2021-12-06 11:27] albertz commented on #53313
What PR are you referring to?

[2021-12-06 11:29] mohantym commented on #39665
Hi @OverLordGoldDragon !
We are checking to see whether you still need help in this issue . Have you tried your latest version (TF 2.7 ) yet?

[2021-12-06 11:30] jntdst opened #53316 "Wrong information"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://www.tensorflow.org/text

[2021-12-06 11:36] kumariko commented on #26997
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues),To know more see;[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-12-06 11:40] kumariko commented on #26997
@dynamicwebpaige Could you please have a look on the [link1](https://github.com/tensorflow/models/blob/master/research/object_detection/models/keras_models/mobilenet_v2.py) , [link2](https://colab.research.google.com/github/rok/models/blob/mobilenet_v2_tpu_with_dist_strat_and_keras/research/object_detection/mobilenet_v2_example.ipynb) , [link3](https://www.tensorflow.org/api_docs/python/tf/keras/a

[2021-12-06 11:51] #53150 closed

[2021-12-06 11:56] OverLordGoldDragon commented on #39665
Been resolved since 2.3, but also haven't checked since - at any rate I'll mark it resolved.

[2021-12-06 11:56] #39665 closed

[2021-12-06 12:02] kumariko commented on #41610
@lakshaykc I tried to run your code on TF 2.7 and got different result, please find the gist [here](https://colab.research.google.com/gist/kumariko/4be9813a59e5a1845f5572cd192b3d25/untitled114.ipynb#scrollTo=pWgavkVhOn85) and confirm the same.

[2021-12-06 12:48] chunduriv commented on #53267
@AshwinJay101, Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999).Thanks!

[2021-12-06 12:54] muriloasouza commented on #53305
Yes, everything is in the correct version and my CPU does support AVS.

At this point i'm just giving up, too much of a headache to make this work. I'm sticking with Google Colab.

Thanks for your help @Saduf2019

[2021-12-06 12:54] #53305 closed

[2021-12-06 13:20] xjj210130 opened #53317 "how to fix undefined reference to `tensorflow::Status::Status(tensorflow::error::Code, absl::lts_20211102::string_view, std::vector<tensorflow::StackFrame, std::allocator<tensorflow::StackFrame> >&&)'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>
Hi all:
   I build libtensorflow with source as follow:
  1: i build grpc first.
  2:  copy  pb, absl the include

[2021-12-06 13:21] chunduriv commented on #48829
@IldarKashaev, We are checking to see if you still need help on this issue. Can you try building the latest stable version of TF i.e 2.7.0 and let us know if the issue persists? You can use [this](https://www.tensorflow.org/install/source) guide for your reference and take a look at [this](https://www.tensorflow.org/install/source#linux) link for the tested build configs.Thanks!

[2021-12-06 13:34] terryheo commented on #52542
We don't have such a plan at the moment.

There is no easy way to share necessary header files. For C, you only need few C header files.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/c/README.md

I believe this is still possible. If this is sufficient for you, please use Bazel.

The way how they handle dependent libraries are different.

You mean C shared library? You need t

[2021-12-06 13:37] t-kalinowski commented on #11085
I don't think this should be closed until `pip install tensorflow` does the right thing. Not everyone wants to or can use conda.

[2021-12-06 13:44] fatihkiralioglu opened #53318 "Is Tensorflow Library is NVidia Verified?"
Hi,
Is tensroflow library is  tested by Nvidia AI team to check if Tensorflow libraries are efficiently utilizing GPU capabilities?
I use prebuilt tensorflow libraries in the link: https://www.tensorflow.org/install/lang_c
It would be great if I can access to any performance report containing GPU epxeirments and benchmarks prepared by Nvidia Team.

[2021-12-06 13:50] chunduriv commented on #46770
@artem-s-shevchenko,

Can you take a look at [this](https://github.com/tensorflow/tensorflow/issues/46770#issuecomment-921153932) comment and let us know if it helps?

[2021-12-06 14:11] bzamecnik commented on #41105
The bug in the code is that `K.mean()` sums here only over one (last) axis of a (likely) 2-D tensor.

[code]

In order to sum over all axis into a scalar, remove the axis argument:

[code]

Regularizers provide scalar values and the other losses must also be scalar in order to sum with the regularizer losses. In case the loss is alone it can have higher rank shape.

[2021-12-06 14:26] ZiqiFrancisFan opened #53319 "Build Debug Version of TF 2.4"
**System information**
- OS Platform and Distribution: Linux Ubuntu 20.04
- TensorFlow version: 2.4
- Python version: 3.8.5
- Bazel version (if compiling from source): 3.1.0
- GCC/Compiler version (if compiling from source): 9.3.0
- CUDA/cuDNN version: 11.2

**Command**
 bazel build --config=cuda --config=dbg //tensorflow/tools/pip_package:build_pip_package

**Error Message**
ERROR: /tensorflow/te

[2021-12-06 15:00] Msmhasani commented on #29876
I've got this warning too (along with the frozen training process) when I tried to train maskRcnn on coco dataset.
It's strange but I removed `import tensorflow as tf` from the begining of my code and after getting a lot of this error again, finally they stopped and the model continued to training!
Of course it's not a good solution because I need to import tf anyway, but maybe that helps somebody

[2021-12-06 15:15] edloper commented on #26453
@HuangChiEn Are you using TensorFlow 2.7?  Support for using composite tensors (such as `RaggedTensor`) with `py_function` was added with 2.7, so if you're using an earlier version of TensorFlow, then it won't work.  I tried executing your code as written:

[code]

And it failed with "`<lambda>() missing 1 required positional argument: '_'`" (which is expected, since your lambda takes one argument

[2021-12-06 16:16] mohantym commented on #53302
Ok @lubin-liu ! Thanks for reporting this bug .
Please post this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues) too.
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) . Than

[2021-12-06 16:18] paktiger opened #53320 "I am having this error in my code, "ValueError: No gradients provided for any variable:""
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are

Epoch 1/2
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
C:\Users\BLACKP~1\AppData\Local\Temp/ipykernel_15028/4197043661.py in <m

[2021-12-06 16:21] Ghostvv opened #53321 "`tf.keras.layers.experimental.EinsumDense` gives different results depending on batch size"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2021-12-06 16:34] Ghostvv commented on #53321
Similar behavior can be observed for the `tf.einsum`:
[code]
I've got different result in 7th-8th order:
[code]

[2021-12-06 16:39] Ghostvv commented on #53321
The issue is rather important because attention implementation uses einsum dense layers

[2021-12-06 16:42] sushreebarsa commented on #53319
@ZiqiFrancisFan Could you please try with the latest **TF v2.7.0** and refer to [build from source](https://www.tensorflow.org/install/source) , [tested build configurations](https://www.tensorflow.org/install/source#tested_build_configurations) ? Please let us know if it helps? Thanks!

[2021-12-06 16:43] sachinprasadhs commented on #53100
I can see that by adding `analytics = False` has resolved your problem as reported [here](https://github.com/iterative/dvc/issues/6992), in that case could you please close this issue. Thanks!

[2021-12-06 16:48] sachinprasadhs commented on #53099
Could you please provide details about your device, and which Hexagon you are using and also check the similar issue [here](https://github.com/tensorflow/tensorflow/issues/39024). Thanks!

[2021-12-06 17:03] DanielMH commented on #25980
Here you can find more related comments:

https://github.com/tensorflow/tensorflow/issues/47931#issue-836309758

[2021-12-06 17:09] elfringham opened #53322 "Unit test //tensorflow/python/ops/ragged:ragged_dispatch_test fails on AARCH64"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2021-12-06 17:13] elfringham commented on #53322
@cfRod @nSircombe

[2021-12-06 17:24] whatdhack commented on #53301
@sushreebarsa ,  that link is very cursory and does not address any of the questions above.  Hence I opened the issue .

[2021-12-06 17:44] ZiqiFrancisFan commented on #53319
@sushreebarsa Unfortunately, the product of my company is based on TF v2.4, and the code we developed as wrappers of TF won't work with a newer version. Is there a way to build debug particularly for TF v2.4?

[2021-12-06 18:15] sanatmpa1 commented on #53321
@Ghostvv,

I've tested the code in colab with `TF 2.70.0` and I am able to see the similar result for . Please find the [gist here](https://colab.sandbox.google.com/gist/sanatmpa1/6bbaead47f012b51b482722a5822c902/53321.ipynb) and let me know if I am missing something. Thanks!

[2021-12-06 19:20] pifon2a commented on #53041
@bondhugula
Uday, is this still relevant? there is no lowering from LHLO to Linalg anymore.

[2021-12-06 19:26] jvishnuvardhan commented on #39114
@gabrieldemarmiesse This feature not yet implemented. Is there any actionable item like raising PR?

Please note that Keras development moved to another repository to focus entirely on only keras. Could you please repost this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues). Thanks!

[2021-12-06 19:41] lubin-liu commented on #53302
Thanks! I have done so here:

https://github.com/keras-team/keras/issues/15755

[2021-12-06 19:51] #42101 closed

[2021-12-06 19:56] jvishnuvardhan commented on #38803
@reuben Is there any actionable item like raising PR? Can you please move this to keras-team/keras repo?

Please note that Keras development moved to another repository to focus entirely on only keras. Could you please repost this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues). Thanks!

[2021-12-06 20:00] gabrieldemarmiesse commented on #39114
I supposed the path forward would be to make a pull request. It's been quite a while since I last worked with deep learning so I'll let users who are interested implement it.

[2021-12-06 20:06] reuben commented on #38803
Feel free to move/repost at will. All due respect, but you chose to shuffle things around ;)

[2021-12-06 20:27] aaudiber commented on #53292
I'm surprised using `cache` doesn't avoid the issue. Here is a self-contained repro: https://colab.research.google.com/drive/188Kvhi5bVCtcEP54h3nRix-nrW9-LN3X?usp=sharing. Will need further investigation to see what's going on.

[2021-12-06 20:36] jxy commented on #53192
Assuming the developers have a good reason for this odd behavior of `int32`, it would be useful for users to make this behavior controllable.  Is there a way to force int32 tensors on a GPU?

At the very least the error message could be much more useful that what it is now.  Complaining about an `_AnonymousVarNNN` located on a different device that where it is supposed to be is useless.

[2021-12-06 20:38] ansingh1214 opened #53324 "Build from source failing for TF 2.7.0 (urgent, its been 18 days and I didn't get any response to my first post)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Scientific Linux 7.9 (Nitrogen

[2021-12-06 22:01] grewe commented on #53279
@sachinprasadhs  It would be great if we could get some traction on this issue --more than reassignment --- is it possible for you to look at this?

[2021-12-06 22:31] jvishnuvardhan opened #53326 "Support multiple validation sets in Model.fit"
Moving this feature from TF repository https://github.com/tensorflow/tensorflow/issues/38803

Are you willing to contribute it (Yes/No): No
Describe the feature and the current behavior/state.
Currently there's no way to use multiple validation sets with independent tracking of metrics.

Will this change the current api? How?

Simplest way I can think of is to accept a list of datasets in the vali

[2021-12-06 22:32] #53326 closed

[2021-12-06 22:44] foxik commented on #48838
I created a pull request in the keras repository https://github.com/keras-team/keras/pull/15756 .

[2021-12-06 22:51] bhack commented on #53118
I don't think if TF 2.7 has support for GCC 4.8. The default build is C++14
https://github.com/tensorflow/tensorflow/blob/ef2f6915b33be4ef5ed5e629866c4415366a76f6/.bazelrc#L320

https://www.tensorflow.org/install/source#bazel_build_options

See GCC compatibility with C++ 14
https://gcc.gnu.org/projects/cxx-status.html#cxx14

Can you build [TF in Docker](https://www.tensorflow.org/install/source#do

[2021-12-06 22:53] bhack commented on #53319
There is already a reply [in the forum](https://discuss.tensorflow.org/t/how-to-build-tensorflow-debug-version/6356/5)

[2021-12-06 22:54] bhack commented on #53324
I've posted a reply on your original ticket https://github.com/tensorflow/tensorflow/issues/53118#issuecomment-987330091

[2021-12-06 23:02] jvishnuvardhan commented on #38803
Let's track this feature request in keras-team/keras repo https://github.com/keras-team/keras/issues/15757

[2021-12-06 23:02] #38803 closed

[2021-12-06 23:07] jvishnuvardhan commented on #39114
I opened this issue in keras-team/keras. Let's track the progress there https://github.com/keras-team/keras/issues/15758

[2021-12-06 23:07] #39114 closed

[2021-12-06 23:09] mdanatg commented on #53192
There is no good reason to do that. It behaves that way because TF lacks a dedicated type for shapes, which must reside on CPU. We're looking into ways to fix this, but it's complicated and will take a while.

+1  to improving the error message.

[2021-12-06 23:37] sachinprasadhs commented on #29359
You seem to be using older version(1.x) of Tensorflow which is not supported anymore. Please try the latest [Tensorflow version](https://www.tensorflow.org/install/pip) and let us know if the problem still persists. Thanks!

[2021-12-07 00:16] jvishnuvardhan commented on #39830
@michalCyberfish Is this still an issue for you? Can you please check with recent TF/keras versions and let us know whether it is resolved. If this was not resolve, please share a standalone code (code with public data  or tf.random) so that I can try to reproduce the issue.

Please note that Keras development moved to another repository to focus entirely on only keras. Could you please repost thi

[2021-12-07 01:03] JivanRoquet commented on #42146
This warning doesn't seem to serve any apparent purpose and appears to be substantially annoying to anyone who encounters it.

[2021-12-07 01:31] lamberta commented on #42781
Hi @hibamtol1 , thanks for volunteering.
Community contributions can be made to this repo: https://github.com/tensorflow/docs-l10n
Please use the GitLocalize project to make sure your contribution is reviewed: https://gitlocalize.com/tensorflow/docs-l10n
Thanks

[2021-12-07 01:31] #42781 closed

[2021-12-07 02:03] mohantym commented on #53324
Hi @ansingh1214 ! Could you please check status in issue #53118 ? Thanks!

[2021-12-07 02:13] mohantym commented on #53320
Hi @paktiger! Could you please fill the template from [here ](https://github.com/tensorflow/tensorflow/issues/new/choose)as it helps expedite the issue? Feel free to look at these similar issues for reference .[ link1](https://pretagteam.com/question/valueerror-no-gradients-provided-for-any-variable-when-using-modelfit),[link2](https://github.com/tensorflow/tensorflow/issues/1511). Thanks!

[2021-12-07 02:20] mohantym commented on #53317
Hi @xjj210130 ! Could you please look at this [thread](https://github.com/tensorflow/tensorflow/issues/48813#issuecomment-838098803) for answer? Thanks!

[2021-12-07 02:22] mohantym commented on #53195
Hi @MrinalTyagi ! Could you please mention that Keras ticket here?

[2021-12-07 02:31] mohantym commented on #53302
Ok @lubin-liu ! Please close this issue here as it will be tracked in [#15755](https://github.com/keras-team/keras/issues/15755). Thanks!

[2021-12-07 02:42] #53302 closed

[2021-12-07 04:14] mohantym commented on #38043
Hi @EduardoDixo!
We are checking to see whether you still need help in this issue . Have you tried latest version (TF 2.7) yet?

[2021-12-07 04:20] MrinalTyagi commented on #53195
https://github.com/keras-team/keras/issues/15704

[2021-12-07 04:45] kumariko commented on #37147
@fedyfausto Could you please have a look on the [link1](https://stackoverflow.com/questions/68873659/how-to-fix-compilation-error-for-esp32-in-arduino-ide) , [link2](https://github.com/espressif/arduino-esp32/issues/333) and let us know if it helps? .Also please try to execute the code in latest tf version 2.7 . Thanks!

[2021-12-07 05:27] Eddy-Wu opened #53332 "can't execute cc1plus"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-12-07 05:39] s-kk commented on #53062
I can confirm the issue exists, as I manually compiled Tensorflow 2.3.0 against CUDA 10.1 and cuDNN v7, and produces the same runtime ComputeCapability Error (3.0 < 3.5) mentioned above.

[2021-12-07 05:41] sushreebarsa commented on #53332
@Eddy-Wu
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2021-12-07 06:30] shhdSU opened #53333 "op requires element_shape to be static during TF Lite transformation pass <unknown>:0: note: loc("StatefulPartitionedCall")"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Macbook Pro
- TensorFlow installation (pip package or built from source): pip package
- TensorFlow library (version, if pip package or github SHA, if built from source):  version 2.7.0

### 2. Code

`from tensorflow import lite
converter = lite.TFLiteConverter.from_keras_model(h_model)

tfmodel = converter.conver

[2021-12-07 06:44] kwlzn commented on #51145
@penpornk that would be super helpful - thank you!

ideally, we could get this into master for 2.8 (and future versions) and then cherry-pick that to a 2.7.1 patch release for near-term consumption (we're going to try to jump from 2.5 -> 2.7 as soon as we have a 2.7 release with this patch).

[2021-12-07 06:45] SungmanHong commented on #28287
from tensorflow.python.keras.backend import set_session
from tensorflow.python.keras.models import load_model

tf_config = some_custom_config
sess = tf.Session(config=tf_config)
graph = tf.get_default_graph()

# IMPORTANT: models have to be loaded AFTER SETTING THE SESSION for keras!
# Otherwise, their weights will be unavailable in the threads after the session there has been set
set_session(sess

[2021-12-07 06:53] sushreebarsa commented on #53316
@jntdst I have raised a [PR](https://github.com/tensorflow/text/pull/788) to fix this issue. This issue will be closed once the PR is merged.Thanks!

[2021-12-07 07:06] zzusunquan opened #53334 "c++ tensorflow api inference .pb model is too slower, What can I do to speed it up ?"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-12-07 07:13] sun2011yao commented on #52030
@ArunaKote HI, Did you solve this problem？I also met the tf.ResizeBilinear operation cannot be legalized.

[2021-12-07 07:16] #53333 closed

[2021-12-07 07:16] sushreebarsa commented on #53319
@ZiqiFrancisFan Could you please check the [comment](https://github.com/tensorflow/tensorflow/issues/53319#issuecomment-987330888) above and let us know if it helps?Thanks!

[2021-12-07 07:17] potula-chandra commented on #53164
@jvishnuvardhan thank you for the update.  Couple of things here:
1. Fix requires to build Tensorflow 2.7.0 when provided options `--config=noaws --config=nogcp --config=nohdfs --config=nonccl`
2. Even if we are able build Tensorflow 2.7.0 with some tweaks as mentioned in my earlier comment https://github.com/tensorflow/tensorflow/issues/53164#issuecomment-976522393, gcs is still posing as runtime

[2021-12-07 07:26] sj120698 opened #53335 "Getting [java.lang.IllegalArgumentException: Internal error: Error applying delegate] error while applying NNAPI Delegate"
**Describe the current behavior**

I am using the tensorflow [model_personalization ](https://github.com/tensorflow/examples/tree/master/lite/examples/model_personalization) example and I have modified the android application code ([LiteMultipleSignatureModel.java](https://github.com/tensorflow/examples/blob/master/lite/examples/model_personalization/android/transfer_api/src/main/java/org/tensorfl

[2021-12-07 07:33] paktiger commented on #53320
#!/usr/bin/env python
# coding: utf-8

# In[2]:   import pandas as pd

# In[3]: data = pd.read_csv('C:/Users/BlackPearl/Desktop/Annotated Dataset/FullFile_Clean_500.tsv', encoding="latin1",sep='\t',error_bad_lines=False)

# In[4]: data.isnull().sum()

# In[7]:

data['Word'].count()

# In[7]:

data.groupby('IOB').count()

# In[13]:

data['IOB'].fillna("O",inplace= True)

# In[5]:

bool_series = pd.

[2021-12-07 07:51] #38992 closed

[2021-12-07 07:55] smit-hinsu commented on #52030
@ArunaKote Dynamic inputs are not yet supported for many ops like ResizeBilinear. We could discuss if you would like to contribute a change to support dynamic inputs.

[2021-12-07 08:06] RomanSteinberg commented on #52346
@pcish thank you! These are quite clear answers. I agree both points (1-2).

My high-level goals are typical. Train model (experiments), pick out trained model and deploy it into production service. Unfortunately, I use TF irregularly and cann't follow all trends it suggests from time to time. I mean TF changes usage best practices from time to time. A year or two ago I tried to use TFX, but it wa

[2021-12-07 08:13] Ghostvv commented on #53321
@sanatmpa1 thank you for creating colab notebook. It looks correct there, however locally I ghave `2.7.0` as well, however I get slightly different numbers:
[code]
Do you have an idea why? the result is that my architecture with several attentions implemented with `tf.keras.layers.MultiHeadAttention` produce different prediciton confidence for the same example depending on the prediction batch siz

[2021-12-07 08:22] HaozhengLi opened #53336 "Can I repeat a 1-D tensor in segment form?"
According to the doc, TF has: tf.segment_xxx and tf.repeat. But can I repeat a 1-D tensor in segment form?

#### Example:
segment = [0 0 0 1 1]
value = [0 1 2 3 4]

#### [ 1 ] If repeat_cnt = [2 2 2 1 1]
With tf.repeat, I can easily repeat value to: [0 0 1 1 2 2 3 4]

#### [ 2 ] But I want a segment repeat, which means: segment-0 repeat 2 times, segment-1 repeat 1 time.
That is to say, if repeat_c

[2021-12-07 08:35] github-actions[bot] opened #53337 "Issue created for Rollback of PR #52543: Add GPU implementation for Range op"
Merged PR #52543 is rolled back in f50654f7030c8952b9598a7f930daeb41a00bec5.
    Please follow up with the reviewer and close this issue once its resolved.

[2021-12-07 08:35] Ghostvv commented on #53321
also locally, I have similar problems with transformer based models from tensorflow hub:
[code]
I get `False`

[2021-12-07 08:39] Ghostvv commented on #53321
@sanatmpa1 I added the example with sentence encoder above and I also get different sentence embeddings depending on the batch size

[2021-12-07 08:41] sushreebarsa commented on #53335
@sj120698
In order to reproduce the issue reported here, could you please provide the complete code and the dataset , tensorflow version you are using. Thanks!

[2021-12-07 08:49] Ghostvv commented on #53321
@sanatmpa1 sorry for multiple messages 🙈 I increased the seizes of the vectors and got different results in your collar notebook for `tf.einsum` as well

[2021-12-07 08:53] weeklynote commented on #53321
已收到，我会尽快回复你！
                     ——刘劲字

[2021-12-07 08:56] cuixue commented on #53321
  您好，邮件已经收到，我会尽快处理的。谢谢

[2021-12-07 09:01] terrycmchan commented on #53268
@srjoglekar246 @sachinprasadhs @mohantym Any update on this issue?

[2021-12-07 09:04] tilakrayal commented on #53280
@ghylander ,
We don't see any code to reproduce the issue reported.Can you please provide the complete code or colab gist to debug the issue.Thanks!

[2021-12-07 09:23] multiverse-tf commented on #53146
Thx for reporting this issue! We will look into this and get this fixed asap.

[2021-12-07 09:34] sj120698 commented on #53335
@sushreebarsa
I have used the same code snippet to apply NNAPI delegate over TF Lite Interpreter as given on the link you have mentioned. The problem is that the TF Lite model I am giving to the interpreter has optimizer.apply_gradients function in one of its signatures which is causing the issue.

[2021-12-07 09:34] chunduriv commented on #49824
@lnshi, Sorry for late response. We are checking to see if you still need help on this issue.

Can you try building the latest stable version of TF i.e 2.7.0 and let us know if the issue persists? You can use [this](https://www.tensorflow.org/install/source) guide for your reference and take a look at [this](https://www.tensorflow.org/install/source#linux) link for the tested build configs.Thanks!

[2021-12-07 09:37] s-kk commented on #53062
Reproduced in r2.3.4 and fixed using the method proposed by @AlessandroFlati. Hope this fix is going to be merged in upcoming versions.

[2021-12-07 09:40] Saduf2019 commented on #36616
@grzjab
Could you please check comment by @gabolsgabs if it helps also let us know if the latest version helps.

[2021-12-07 09:47] #52572 closed

[2021-12-07 09:48] araby123 commented on #52055
No at All

[2021-12-07 09:49] lnshi commented on #49824
@chunduriv  pls see this comment i put: https://github.com/tensorflow/tensorflow/issues/49824#issuecomment-856446851

it is due to we accidentally captured some signals in our program..., though how exactly these two affect each other is still unknown to me, but from my side, this issue can be considered as solved

thank u all for the effort.

[2021-12-07 09:56] chunduriv commented on #49824
@lnshi, Glad the issue is fixed on your end. Please feel free to move this to closed status. Thanks!

[2021-12-07 09:59] #49824 closed

[2021-12-07 10:07] mohantym commented on #53336
Hi @HaozhengLi ! Could you look at this [Gist](https://colab.research.google.com/gist/mohantym/b2f9af937f8a138b06aa7fcb93c41092/github_53336.ipynb#scrollTo=Dfk9iJC_OKrG) for answer?

[2021-12-07 10:19] HaozhengLi commented on #53336
No. I want [0 1 2 0 1 2 3 4], but not [0 0 1 1 2 2 3 4].

In this Gist, I understood what you want to do. You want to split value into [0 1 2] and [3 4], then repeat 2 times and 1 time, and finally concat.

But when I trying to train a MLP network, I must do all this things in ONE op. That is to say, my value.shape = [batch_size, 1].

It means that I can not manually split the value in Python, but

[2021-12-07 10:33] AdarshWase opened #53339 "TensorFlow TextVectorization producing Ragged Tensor with no padding after loading it from pickle."
This is my TextVectorization layer:

[code]

I have saved it using:

[code]

But after loading it again:

[code]

It is not behaving as the original one. It is outputting `RaggedTensor`, how to resolve this?
Here is the link to my Google Colab - https://colab.research.google.com/drive/1rEkPEnG1odsEObzQrRFVVll7L1Kz33ud?usp=sharing

[2021-12-07 10:41] mohantym commented on #53336
Hi @sanatmpa1 ! Could you please look at this issue?

[2021-12-07 10:51] #37544 closed

[2021-12-07 11:10] NeilChangYanpeng opened #53341 "failed call to cuInit: CUDA_ERROR_UNKNOWN: unknown error"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.14.0
- Python version: 3.6.13
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source): 7.5.0
- CUDA/cuDNN version: 10.0.130/7.4.2
- GPU model

[2021-12-07 11:11] arpitverma21 opened #53342 "Program of odd and even in third place"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are
not verified bugs in TensorFlow, please go to
[Discourse](https://discuss.tensorflow.org/).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/tensorflow/blob/master/SECURI

[2021-12-07 11:17] mohantym commented on #39269
Was able to replicate the issue with TF 2.7, Attaching Gist of [GPU](https://colab.research.google.com/gist/mohantym/4930fb330fe50366c7ba6056aa51a972/untitled318.ipynb#scrollTo=MpmxhhpkUyqs) and [TPU](https://colab.research.google.com/gist/mohantym/513fd2056b6e9f9b9be3cb074669ff7e/untitled318.ipynb#scrollTo=6qurgSsdUu5d) for Reference. Thanks!

[2021-12-07 11:23] mohantym commented on #39268
Was able to replicate this issue in [TF 2.7](https://colab.research.google.com/gist/mohantym/21cccf6c287482f3771d35e84271694a/untitled866.ipynb#scrollTo=wjlNSm5QNx7d) too .Thanks!

[2021-12-07 11:28] mohantym commented on #53247
Hi @sachinprasadhs ! Could you please look at this issue?

[2021-12-07 11:30] chauvinSimon commented on #34520
I could get around this issue by [configuring WORKSPACE and .bazelrc](https://www.tensorflow.org/lite/guide/build_android#configure_workspace_and_bazelrc), answering "Yes" when the script asks to interactively configure the `./WORKSPACE` for Android builds.

[2021-12-07 11:49] mohantym commented on #53341
Hi @NeilChangYanpeng !
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Could you try again in latest version 2.7? Attaching relevant[ thread](https://stackoverflow.com/questions/47068709/your-cpu-supports-instructions-that-this-tensorflow-binary-was-not-compiled-to-u) for reference. Thanks!

[2021-12-07 11:51] #44274 closed

[2021-12-07 12:12] NeilChangYanpeng commented on #53341
thank you，I will have a try on latest version

[2021-12-07 12:32] AshwinJay101 commented on #53267
Added the issue in that repo [Link](https://github.com/keras-team/keras/issues/15752)

[2021-12-07 12:51] #20998 closed

[2021-12-07 13:17] chunduriv commented on #53267
@AshwinJay101, Let's track the progress there [keras-team/keras#15752 ](https://github.com/keras-team/keras/issues/15752) and  i am closing issue here.

[2021-12-07 13:17] #53267 closed

[2021-12-07 13:26] tilakrayal commented on #53334
@zzusunquan ,
We see that you are using tf version 1.15, 1.x is not actively supported, please update to 2.x and let us know if you are using same issue.

[2021-12-07 13:37] #53339 closed

[2021-12-07 13:38] #51043 closed

[2021-12-07 13:51] NeilChangYanpeng commented on #53341
I created a new conda env with python 3.7 and installed tensorflow-gpu 2.4.1 using conda method, but still same error:
![812e733f8b8369bc677f50e3072b5ee](https://user-images.githubusercontent.com/41663460/145041073-938f9302-841e-43ed-a767-db1cbe713f48.png)

[2021-12-07 13:51] #53129 closed

[2021-12-07 13:51] #53087 closed

[2021-12-07 14:12] bilalsoomro commented on #45014
Any updates on this issue?

[2021-12-07 14:13] chunduriv commented on #46459
@thierryherrmann, Sorry for late response.

We see that you're using old version of TF2.2 and it is no longer supported. Its unlikely for TF2.2 version to receive any bug fixes except when we have security patches.

As per [this comment](https://github.com/tensorflow/tensorflow/issues/46459#issuecomment-762335517), your issue was resolved in TF2.3 and TF2.4. Please feel free to move this to closed

[2021-12-07 14:16] thierryherrmann commented on #46459
@chunduriv  yeah we no longer expected a response and switched to TF2.3 a long time ago. Thanks anyway.

[2021-12-07 14:17] sushreebarsa commented on #53335
@sj120698
In order to reproduce the issue reported here, could you please provide tensorflow version you are using. Thanks!

[2021-12-07 14:23] vigkrish123 opened #53343 "Could not load dynamic library 'libcusparse.so.11"
I am facing issue while trying to use the GPU with tensorflow :-

flow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.11.0
2021-12-06 18:16:03.990545: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublas.so.11
2021-12-06 18:16:03.990614: I tensorflow/stream_executor/platform/default/dso_lo

[2021-12-07 14:25] sj120698 commented on #53335
@sushreebarsa
On the python side I am using tensorflow v2.7.0 (as given in [requirements.txt](https://github.com/tensorflow/examples/blob/master/lite/examples/model_personalization/transfer_learning/requirements.txt)) and on android side I am importing TF Lite as follows through [build.gradle](https://github.com/tensorflow/examples/blob/master/lite/examples/model_personalization/android/transfer_a

[2021-12-07 14:27] chunduriv commented on #46459
@thierryherrmann, Please feel free to move this to closed status. Thanks!

[2021-12-07 14:52] mohantym commented on #53341
Ok @NeilChangYanpeng ! Are you using Cuda 11 and CuDNN 8.0  for TF  2.4 .Please following instructions from [here](https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html) properly setting CUDA installation.  Attaching relevant threads for reference . [link1](https://github.com/tensorflow/tensorflow/issues/32623),[link2](https://www.tensorflow.org/install/gpu#install_cuda_with_apt).T

[2021-12-07 15:13] zzusunquan commented on #53334
@tilakrayal  Thank you very much for your prompt reply. I will try the 2.x version of tensorflow next week. I will reply to you in time if there is any progress.

[2021-12-07 15:31] dniku opened #53344 "Debugger-V2 crashes with KeyError"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution: Docker image based on Ubuntu 18.04 Bionic
- TensorFlow installed from (source or binary): built from patched source code
- TensorFlow version (use command below): `v2.1.3-0-g77f47d6ed6c 2.1.3`
- Python version: `3.6.9`
- Bazel version (if comp

[2021-12-07 15:31] karimnosseir commented on #45014
There are multiple ways to correctly package your .so files. For example, [this](https://www.geeksforgeeks.org/how-to-include-so-library-in-android-studio/) explain how to do it.

[2021-12-07 15:31] #45014 closed

[2021-12-07 16:02] karimnosseir commented on #53207
1) For the unsupported case, can you run this
adb shell cat /sys/devices/soc0/soc_id
and share the result

2) Is it possible to share the model you're testing ? I'd like to have a look.

Thanks

[2021-12-07 16:08] karimnosseir commented on #52376
If you're using benchmark tool push all your files to /data/local/tmp/  this is the default path the tool is configured to look for the shared libraries in.

[2021-12-07 16:09] karimnosseir commented on #53083
Can you please retry from master branch. A fix was pushed.

Thanks

[2021-12-07 16:09] karimnosseir commented on #53083
Closing, please reopen if issue still happen.

Thanks

[2021-12-07 16:09] #53083 closed

[2021-12-07 16:46] #53307 closed

[2021-12-07 16:47] mihaimaruseac commented on #53083
Do we need a cherrypick on 2.7 to fix the build there, @karimnosseir ?

[2021-12-07 16:49] mihaimaruseac commented on #53118
We will move to C++17 soon.

[2021-12-07 16:49] mihaimaruseac commented on #53324
Duplicate of #53118

[2021-12-07 16:49] #53324 closed

[2021-12-07 16:51] #52980 closed

[2021-12-07 16:51] #53105 closed

[2021-12-07 16:52] mihaimaruseac commented on #53317
You need to make sure all components linked together use the same absl version.

[2021-12-07 16:55] mihaimaruseac commented on #53276
TF 1.4 does not support Python 3.

[2021-12-07 17:11] frgfm opened #53345 "CTC Loss throwing errors in half/mixed precision"
Hello there :wave:

I have been running some experiments with automatic mixed-precision using TensorFlow recently. And I encountered an issue with the CTC loss, which throws an obscure dtype incompatibility issue. And I'm not sure how to solve this :thinking:
Any ideas?

**System information**
- Have I written custom code: yes, the code snippet
- OS Platform and Distribution: Linux Ubuntu 20.04
-

[2021-12-07 17:34] #52934 closed

[2021-12-07 17:38] nneubert commented on #52933
Just want to let you know that the issue is not fixed. I can get TF version 2.2.3 to successfully quantize using this code here: https://colab.research.google.com/drive/1jR1nRQ1PK2nxUaQFHvYQPVJjs5cki5dI#scrollTo=NfHYCknyAqvT However it does not quantize in version 2.5 or version 2.7. If there is anything you can do to assist, please help.

[2021-12-07 18:03] jvishnuvardhan commented on #29685
More details about constraints is listed here https://keras.io/api/layers/constraints/

I am closing this issue as enough details are listed in the `keras.io`

Please note that Keras development moved to [keras-team/keras](keras-team/keras repo](https://github.com/keras-team/keras/issues) repository to focus entirely on only keras. Thanks!

[2021-12-07 18:03] #29685 closed

[2021-12-07 18:15] jvishnuvardhan commented on #30896
@SamuelMarks Are you still interested in contributing? If yes, please feel free to open a PR in  [keras-team/keras repo.](https://github.com/keras-team/keras/issues) repository.

Please note that Keras development moved to keras-team/keras repository to focus on only keras. Thanks!

Please let me know if you are busy, i can create this PR in keras-team/keras (with your content). Thanks

[2021-12-07 18:17] SamuelMarks commented on #30896
@jvishnuvardhan Yes: I am still interested in contributing. Okay, I'll cross-post there [and to the [RFC repo](https://github.com/tensorflow/community/tree/master/rfcs)?].

[2021-12-07 18:20] jvishnuvardhan commented on #26984
@8bitmp3 Looks like this was resolved. Can we close this issue? Thanks

[2021-12-07 18:28] bhack commented on #30896
I suggest you to post this idea to the forum before opening a new RFC PR as you need to try to collect interested sponsors for the PR

[2021-12-07 18:40] #26984 closed

[2021-12-07 18:48] jeisinge commented on #43745
Correct.
[code]
Succeeds.

However, the original issue,
[code]
fails.  The workaround is fine for me.  Feel free to close out or add extra documentation!

[2021-12-07 19:19] jvishnuvardhan commented on #29822
I think this was resolved with the update docs which list couple of guides and tutorials to migrate `SessionRunHook` to recent and more advanced methods.
https://www.tensorflow.org/api_docs/python/tf/estimator/SessionRunHook

I am closing this issue as this was resolved. Thanks!

[2021-12-07 19:19] #29822 closed

[2021-12-07 19:24] jvishnuvardhan commented on #29401
I think this was resolved with the update docs. https://www.tensorflow.org/api_docs/python/tf/io/decode_json_example

In the update docs, the links are active and working. Also, provided an example.

I am closing this issue as this was resolved. Thanks!

[2021-12-07 19:24] #29401 closed

[2021-12-07 19:24] ansingh1214 commented on #53118
Thanks for the response! I mentioned in my post that I tried compiling it in GCC 7.3.0, 5.4.0 and 6.3.0 and it still didn't work. This specific error shows up when I install it using GCC 7.3.0

[2021-12-07 19:25] ansingh1214 commented on #53118
And the cluster that I'm trying to install in does not have docker installed, and to install TensorFlow via docker, I'll need sudo access

[2021-12-07 19:44] sachinprasadhs commented on #53247
Could you please train the model in the latest version and try again, this can be due to the changes made in the saved models after Tensorflow version 2.4.

[2021-12-07 19:56] bhack commented on #53118
It was not so much clear from the description were the error emerged as the description start with

So is the build still failing with GCC 7.3.0, 5.4.0 and 6.3.0?

In some env, but I don't know your cluster, you could still install and use docker rootless https://docs.docker.com/engine/security/rootless/

[2021-12-07 20:03] sachinprasadhs commented on #53026
Let us know if you have any update as per the above comment. Thanks!

[2021-12-07 20:17] bhack commented on #30896
With the forum I  mean https://discuss.tensorflow.org

[2021-12-07 20:42] sachinprasadhs commented on #53275
I was able to run the sample code you have provided without any issues in Tensorflow 2.7, please find the gist [here](https://colab.research.google.com/gist/sachinprasadhs/c957319d59826eda5da65ee6fb67270a/53275.ipynb) and confirm. Thanks!

[2021-12-07 20:47] sachinprasadhs commented on #52348
Does the description provided [here](https://www.tensorflow.org/api_docs/python/tf/clip_by_global_norm) helps you.

[2021-12-07 21:01] jvishnuvardhan commented on #49754
@rustequal Agree with you that it was an issue with old versions.

This was resolved in recent `tf-nightly`.[Here](https://colab.research.google.com/gist/jvishnuvardhan/a8ca3bd6772f390b855cf765b4df7eaa/untitled.ipynb) is a gist for reference. If you want stable version, then it will be available in the upcoming `TF2.8` in near future. Thanks!

I am closing this issue as this was resolved. Please f

[2021-12-07 21:01] #49754 closed

[2021-12-07 21:09] jvishnuvardhan commented on #50324
@CaptainDario Agree with you that it was an issue with old versions.

This was resolved in recent `tf-nightly`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/32df0d4b8d83ac13e30e575ac8757835/untitled1128.ipynb) is a gist for reference. If you want stable version, then it will be available in the upcoming TF2.8 in near future. Thanks!

Please verify once and close the issue if the is

[2021-12-07 22:06] jvishnuvardhan commented on #52978
@compfy-dot-com Agree with you that it was an issue with old versions.

This was resolved in recent `tf-nightly`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/6b5ef3b267d868f311f4c2ed4c003bd0/untitled1129.ipynb) is a gist for reference. If you want stable version, then it will be available in the upcoming TF2.8 in near future. Thanks!

Please verify once and close the issue if the

[2021-12-07 22:29] ansingh1214 commented on #53118
Yup the build falls in every version gcc I use, this specific error shows up for Gcc 7.3.0. I’ve also tried installing different versions of tensor flow with different versions of Gcc, but all of them have failed with some eigen issues

[2021-12-07 23:01] sachinprasadhs commented on #53293
Did you follow the step mentioned [here](https://www.tensorflow.org/lite/microcontrollers/get_started_low_level#7_allocate_memory). Thanks!

[2021-12-07 23:08] sachinprasadhs commented on #53245
You could use [tf.sequence_mask](https://www.tensorflow.org/api_docs/python/tf/sequence_mask) to mask the output of `tf.unique`. Let us know if this is the operation if you were looking for. Thanks!

[2021-12-07 23:19] karimnosseir commented on #53083
@mihaimaruseac Yes, i will send cherrypicks now.

Thanks

[2021-12-07 23:21] bhack commented on #53118
It is hard to reproduce exactly your env without a Dockerfile receipt.
What I can tell is that currently we are bulding successful master/nightly versions (and so I suppose 2.7.x) with `gcc 7.3.1`:
https://github.com/tensorflow/build/blob/master/tf_sig_build_dockerfiles/builder.devtoolset/build_devtoolset.sh#L74

[2021-12-07 23:26] foxik commented on #53316
Note that the inequality `prediction is >= 0.0` is actually correct -- see https://github.com/tensorflow/text/pull/788#issuecomment-988336985 for more details.

[2021-12-08 00:45] #53189 closed

[2021-12-08 00:56] NeilChangYanpeng commented on #53341
First of all, when using conda to install tensorflow-gpu instead of pip, the conda will install cuda and cudnn properly, so you dont have to install it yourself.
second,I was using the container created by lxc  at beginning, but  now I changed to the host ,there is no problem on host, (tensorflow-gpu 1.14.0 created using 'conda install tensorflow-gpu=1.14.0' )
Thank you so much!

[2021-12-08 01:28] ballings commented on #50575
I have the same warning.

[code]
As you can see, the loss also gets stuck from epoch 2 onwards. Also the output is a constant (not shown here). This only happens when run on GPU. Python 3.7.12, tried with tf 2.3, 2.4, 2.7.0, CUDA/cuDNN version: 11.2/8.1.0, GeForce GTX 1080 Ti, Ubuntu 18.04.6.

[2021-12-08 01:47] SeeForTwo commented on #52063
Thank you for submitting this bug. Sorry, unfortunately TensorFlow does not throw errors during GPU execution of this kind of op. I have updated the source for the documentation for tf.math.unsorted_segment_sum and similar unsorted_segment_* ops to include a caution about this GPU vs. CPU difference. This will be reflected in the future in the tensorflow.org API documentation. See https://github.c

[2021-12-08 03:06] zxl777 opened #53351 "sound_classification example can not work on iOS 15.0+"
Source:
https://github.com/tensorflow/examples/tree/master/lite/examples/sound_classification/ios

I tested it on an iOS14 device and it worked fine.

I changed several iOS15.0+ devices, but they couldn't work. The phenomenon is that the progress bar jumps randomly and the data is messy.

I am sure that this is a bug that only appears on iOS 15.0+ and will recur 100%.

[2021-12-08 03:11] sushreebarsa commented on #53316
@foxik Thank you for the update!
@jntdst Could you please refer to the [comment](https://github.com/tensorflow/tensorflow/issues/53316#issuecomment-988337352) above and move this issue to closed status ? Thanks!

[2021-12-08 03:25] mohantym commented on #53341
Ok @NeilChangYanpeng! Thanks for confirmation. Closing this issue at it seems to be resolved.

[2021-12-08 03:25] #53341 closed

[2021-12-08 03:32] SamuelMarks commented on #30896
@bhack Yep I had posted on that keras-team org before I saw your reply to post on the forum. The forum is moderated so the topic only just got through the gates:
https://discuss.tensorflow.org/t/standard-way-of-sharing-architectures-e-g-to-pypi-org/6390

Upvote if you please

[2021-12-08 03:40] Irene-kim opened #53352 "Abnormally long loading/calling time for Tensorflow"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.3 LTS
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8
- GCC/Compiler version (if compiling from source): 9.3.0
- CUDA/cuDNN version:CUDA: 11.1 / 8.1.4
- GPU model and memory: RTX 308

[2021-12-08 04:20] tilakrayal commented on #53342
@arpitverma21 ,
Please refer this [link](https://www.programiz.com/python-programming/examples/odd-even) for the issue.Thanks

[2021-12-08 04:20] tilakrayal commented on #53342
This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) since it is not a TensorFlow bug or feature request. There is also a larger community that reads questions there. Thanks!

[2021-12-08 04:29] xjj210130 commented on #53317
Yes, now i change the method, i use absl download by tensorflow. the version is old, and grpc ,pb  is the same problem.
I use tensorflow version is r2.6。The problem is gone

[2021-12-08 04:30] soheil commented on #44394
I'm interested.

[2021-12-08 04:36] sushreebarsa commented on #53313
@albertz We could see the [PR](https://github.com/rwth-i6/returnn/pull/826) that you have raised is merged. Could you please let us know if we can move this issue to closed status?Thanks!

[2021-12-08 05:14] Corea commented on #45942
+1

[2021-12-08 05:58] tilakrayal commented on #53345
@sanatmpa1 ,
I was able to reproduce the issue in tf 2.7, 2.5 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/02292fbc8236872182b34be86936b511/53345.ipynb).

[2021-12-08 06:59] sushreebarsa commented on #53351
@zxl777
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2021-12-08 07:13] Eddy-Wu opened #53353 "How to build static library libtensorflowlite.a for arm?"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are
not verified bugs in TensorFlow, please go to
[Discourse](https://discuss.tensorflow.org/).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/tensorflow/blob/master/SECURI

[2021-12-08 07:23] tilakrayal commented on #53190
@altruistcoder ,
This question is better asked on TensorFlow Forum. Kindly open a tensorflow discussion [forum](https://discuss.tensorflow.org/) issue for this as it is not a bug or feature request, Please post this kind of support questions at Stackoverflow. There is a big community to support and learn from your questions.

[2021-12-08 07:24] dekkuz opened #53354 "[Help] how to fix i tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] none of the mlir optimization passes are enabled (registered 2)"
i used tf-cpu 2.6.0, python 3.9 run program in vscode env for conda find fault
**i tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] none of the mlir optimization passes are enabled (registered 2)**

how this fix ??
chatbot with LSTM
thanks

[2021-12-08 07:30] tilakrayal commented on #47852
@candyzone ,
Respective PR was closed due to lack of activity.Can you please provide the required information to debug the issue and also please  update TensorFlow to the latest stable version v.2.7 and let us know if you are facing the same error. Thanks!

[2021-12-08 07:41] terryheo commented on #38642
FYI, this effort is under experimental.
As the result, tflite_runtime 2.7 is published at Pypi.
https://pypi.org/project/tflite-runtime
So you can use `pip install tflite-runtime` on some platform.

We can't host armv6l on Pypi since it only allows manylinux compatible wheels and `armv6l` isn't compatible with  manylinux2014. https://www.python.org/dev/peps/pep-0599/#the-manylinux2014-policy
But y

[2021-12-08 07:43] terryheo commented on #50223
FYI, https://github.com/tensorflow/tensorflow/issues/38642#issuecomment-988572129

[2021-12-08 07:56] terryheo commented on #52377
I think we've updated eigen tag. Do you still have the issue?

[2021-12-08 07:58] breadbread1984 opened #53355 "tf.random.uniform can't generate random tensor of type tf.int32"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2021-12-08 08:06] aetherwind commented on #53293
Hello sachinprasadhs,

thanks for your reply. To be honest I simply went for a large memory size for testing, like 500*1024, assuming this would cover all my needs and worry about getting it smaller at a latter point.

I now tried and it works wit 5*1024.

Do I have to worry? As This is approx. 5000 bytes, but my model has approx. 17000 parameters. Somehow this does not seem to match.

[2021-12-08 08:10] leandro-gracia-gil commented on #53111
Important update: this does not seem to be specifically a StaticHashTable problem, but rather a problem of passing string tensor arguments to exported functions in TFLite!

This version of the function causes a segmentation fault just the same:
[code]

The crash does not happen if changing the argument type in the signature from string to something else like tf.int32.

[2021-12-08 08:11] zxl777 commented on #53351
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No, https://gi

[2021-12-08 08:26] mohantym commented on #53344
Hi @sanatmpa1 ! Could you please look at this issue?

[2021-12-08 08:37] multiverse-tf commented on #53146
@kodonnell, I noticed that you performed the experiments on Raspberry Pi 64 bit. Could you re-compile your pip with an additional bazel flag "--define=tflite_with_xnnpack=true" which explicitly enables the xnnpack-by-default feature, and then re-run your test program?

Based on the latest [bazel BUILD rule](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/BUILD#L703-L718), I'm

[2021-12-08 08:44] albertz commented on #53313
I don't understand. The linked PR is on our RETURNN project. It does not touch or fix the TensorFlow documentation.

[2021-12-08 08:51] #19120 closed

[2021-12-08 09:02] aviaisr commented on #53247
I ran a short training with TF2.7 and I do see matching results DSP vs CPU after saving the HDF5 and converting to quantized TFLite.
![image](https://user-images.githubusercontent.com/39811082/145179616-5ea84690-6b87-428f-97c1-8327c19ddf09.png)

My model was trained for over a month over millions of images. Any chance I can do something to fix this issue in the existing model without re-training i

[2021-12-08 09:08] aetherwind commented on #53293
The error seems to be invoked in micro_graph.cc at line 183

[code]

[2021-12-08 10:15] chunduriv commented on #53306
@sachinprasadhs, I was able to reproduce the issue on colab using TF 2.7 and TF-nightly(2.8.0-dev20211207). Please find the [gist here](https://colab.research.google.com/gist/chunduriv/c5748c0e1934a18ec9aac38daf131d30/53306.ipynb) for reference.Thanks!

[2021-12-08 10:35] usuku-hideki commented on #35506
@karimnosseir
When I call close() on HexagonDelegate, the DDR frequency does not come down.
I want to lower the DDR frequency by calling close() of HexagonDelegate.
The version of libhexagon_interface.so that I am using is Hexagon SDK (ver. 3.4.3).
I would like to get libhexagon_interface.so which uses the new Hexagon SDK (ver.3.5.4).
Could you please share the libhexagon_interface.so?

Please let

[2021-12-08 10:46] mohantym commented on #53352
Hi @Irene-kim ! Could you try again in latest version with test [configurations](https://www.tensorflow.org/install/source)?Could not replicate this issues in Colab  neither in CPU /GPU. Attaching Gist in [2.7](https://colab.research.google.com/gist/mohantym/5650123ba1bf5809615c763fdfb5d135/github_53352_2-7_gpu.ipynb#scrollTo=VVWfkQUpKmUg) for reference. Thank you!

[2021-12-08 10:51] #53123 closed

[2021-12-08 11:00] chunduriv commented on #53315
@sachinprasadhs, I was able to reproduce the issue on Colab using TF 2.7 and TF-nightly(2.8.0-dev20211208). Please find the [gist here](https://colab.research.google.com/gist/chunduriv/f3f4b6b4f958bf8034ce214062a786e6/untitled68.ipynb) for reference.Thanks!

[2021-12-08 11:04] aetherwind commented on #53293
When using
[code]
instead of
[code]
the tests do not invoke errors anymore. However, the results of the quantized model are wrong - already in the python world.

[2021-12-08 11:08] leandro-gracia-gil opened #53356 "Passing empty tensors to TFLite converted signatures fails with an exception"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): tf-nightly 2.8.0-dev20211203 and 2.7 are both affected

### 2. Code

[code]

### 3. Failure after conversion
Conversion seems to work fine, but t

[2021-12-08 11:20] Waaheeda commented on #44265
Hi @yyoon , Im Facing same issue on iOS 15 device ,
tried mentioned workarounds, using following pods -

 ` pod 'TensorFlowLiteObjC'
  pod 'libextobjc'
  pod 'TensorFlowLiteSelectTfOps', '~> 0.0.1-nightly'`

  added additional linker flag to force load the select TF ops framework into project , Settings -> Other Linker Flags,

`-force_load $(SRCROOT)/Pods/TensorFlowLiteSelectTfOps/Frameworks/Tenso

[2021-12-08 11:31] aligirayhanozbay commented on #53275
@sachinprasadhs

I can confirm that the issue still exists in Tensorflow 2.7. [Please see this modified version of the gist.](https://colab.research.google.com/gist/aligirayhanozbay/7ab0fcde7435f3de40cd74ba9b5b3688/53275.ipynb)

(Note that a GPU colab session is necessary to reproduce the issue)

[2021-12-08 11:33] mohantym commented on #49473
Hi @laurenmurphyx64 !
We are checking to see whether you still need help in this issue . Have you checked [documents ](https://www.tensorflow.org/lite/microcontrollers)from latest versions(2.7)  yet? . Thanks!

[2021-12-08 11:34] Waaheeda commented on #44265
@yyoon  then I Updated TensorFlowLiteSelectTfOps to latest version 2.7 getting following errors

<img width="1375" alt="Screenshot 2021-12-08 at 5 03 07 PM" src="https://user-images.githubusercontent.com/60549753/145201640-01a36229-6b88-4790-be7b-29017a7bc36f.png">

[2021-12-08 11:34] jaeyung1001 commented on #53352
Hi @mohantym ! I'm a coworker with @Irene-kim, I have installed tensorflow-gpu=2.7.0 version. and ran the below commands but now the tensorflow cannot recognize my local gpu machine.

[code]

[2021-12-08 11:51] #53174 closed

[2021-12-08 11:51] #38366 closed

[2021-12-08 11:52] kodonnell commented on #53146
Thanks @multiverse-tf - as above, I compiled with cmake, which enables xnnpack by default (and, as above, there’s strong evidence to support xnnpack being used). Note I just built aarch64 I.e. independent of raspberry pi.

[2021-12-08 12:04] dnlmlr opened #53357 "Tutorial for autoencoder might be applying denoising to the wrong input data"
## URL(s) with the issue:

https://www.tensorflow.org/tutorials/generative/autoencoder#second_example_image_denoising

## Description of issue (what needs changing):

The model was trained to remove noise using the `x_train_noisy` as input and `x_train` as target output.
Later when demonstrating the denoising capabilities `x_test` is used as input, which is the original (**not noisy**) test data.

[2021-12-08 12:08] tilakrayal commented on #40814
@lminer ,
Can you please try this [comment](https://github.com/tensorflow/tensorflow/issues/40814#issuecomment-663838196) with the latest stable version v2.7 and let us know the issue still persists.Thanks!

[2021-12-08 12:42] mahenning commented on #53272
I'm trying to find a minimal example to replicate. It is difficult to find, as it happens just every ~15-20 runs in my code, and not in a pattern. I'll get back here if I find a simple code that throws the error with different data.

[2021-12-08 13:14] tilakrayal commented on #53266
@sanatmpa1 ,
While trying to reproduce the issue in tf v2.7 and nightly, code execution is taking the longer than the expected time-interval.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/95c51683177c699508bda2541369305f/53266.ipynb).

[2021-12-08 13:27] tilakrayal commented on #53284
@DanBmh ,
The code provided is fairly complex hence it would be difficult for us to pinpoint the issue. Could you please get the example down to the simplest possible repro or colab gist? That will allow us to determine the source of the issue easily. Thanks!

[2021-12-08 13:50] jmgore75 commented on #52672
With respect to CPU vs GPU performance, I see two possibilities:

1. There is a tensorflow-metal implementation issue that makes using the GPU slow (possibly CPU-bound).
2. The M1 architecture itself is such that tensorflow operations are as fast or faster via the CPU vs the GPU. There could be various reasons for this.

It would be nice to get an answer for this; as it is tensorflow-metal is wors

[2021-12-08 14:05] HassanRahim26 commented on #53357
/assign

[2021-12-08 14:23] ZiqiFrancisFan commented on #53319
@sushreebarsa Actually, I am the one who asked the question on tensorflow forum, and I am posting the question here to see if someone has met a same issue and probably would provide a solution. If there is no official debug build for tf2.4, then there is nothing more I can do. Thanks.

[2021-12-08 14:46] jmgore75 commented on #52672
FYI there's a lot of discussion of installation and performance issues in the apple developer forums : https://developer.apple.com/forums/tags/tensorflow-metal

In particular [this thread](https://developer.apple.com/forums/thread/687654) suggests that the CPU simply works better for small models/batch/data, but the GPU works better for large models/batch/data.

[2021-12-08 14:52] icoric4 opened #53358 "Batched sparse2sparse (CSRSparseMatrix) multiplication error"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-12-08 15:17] Saduf2019 commented on #52934
@DEKHTIARJonathan
please verify the PR and move this to closed status.

[2021-12-08 15:23] tilakrayal commented on #53353
@Eddy-Wu ,
Can you please refer this [link](https://www.tensorflow.org/lite/guide/build_arm) for the installation of TensorFlow Lite for ARM boards.It helps.Thanks!

[2021-12-08 15:38] mohantym commented on #38452
Hi @naturomics ! As this [document](https://www.tensorflow.org/api_docs/python/tf/train/ExponentialMovingAverage) suggests although EMA objects are not directly trackable ,you can use average() to return the moving average variables for your model weights, which you can then checkpoint. Attaching Modified [Gist](https://colab.sandbox.google.com/gist/mohantym/f6c2f217efa72927625cee1be9ddf235/38452.

[2021-12-08 15:44] karimnosseir commented on #35506
@usuku-hideki

The code of libhexagon_interface.so is now on github [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/delegates/hexagon/hexagon_nn)

Feel free to adjust it as you want per your use case.

You might want to also check the code under third_party in [this](https://github.com/tensorflow/tensorflow/blob/master/third_party/hexagon/workspace.bzl) package, as it m

[2021-12-08 15:58] chengstark commented on #27190
Issue still exists on CoLab

[2021-12-08 16:11] mohantym commented on #53355
Hi @breadbread1984 ! As per this [document](https://www.tensorflow.org/api_docs/python/tf/random/uniform#args) For minval and maxval -Tensor or Python value of type dtype, broadcastable with shape **(for integer types, broadcasting is not supported, so it needs to be a scalar)**. So you need to provide a scalar value in case of using dtype int32. Attaching [Gist](https://colab.research.google.com/

[2021-12-08 16:12] Tessil commented on #44707
Solved by 0546868a385cb10028f831437980934299e3d13b as we can now use `_experimental_disable_batchmatmul_unfold=True`. Thanks.

[2021-12-08 16:12] #44707 closed

[2021-12-08 16:27] Saduf2019 commented on #53343
@vigkrish123
Please refer to [this](https://github.com/tensorflow/tensorflow/issues/45930#issuecomment-773308437) issue with same error.
Similar issues: #43947,#51684,[link](https://stackoverflow.com/questions/55224016/importerror-libcublas-so-10-0-cannot-open-shared-object-file-no-such-file-or).

[2021-12-08 16:30] SamuelMarks opened #53360 "Autoformat entire codebase?"
There are two popular ways of applying and enforcing automatic source code formatting a codebase like yours, these are:
- [clang-format](https://clang.llvm.org/docs/ClangFormat.html) (e.g., for your C++ and protobuf files)
- [black](https://github.com/psf/black) (for your Python and Jupyter Notebook files)

Which is as easy as:
[code]

Review changes:

  - https://github.com/offscale/tensorflow/tr

[2021-12-08 16:36] mohantym commented on #53352
Ok @jaeyung1001 ! Could you confirm on whether you have properly [configured](https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html) Cuda 11.2 and CudNN 8.1 or not?

[2021-12-08 16:44] mohantym commented on #43745
Ok @jeisinge ! Thanks for confirming the same! Closing this issue as it seems to be resolved.

[2021-12-08 16:44] #43745 closed

[2021-12-08 16:52] sliu54 opened #53361 "Running quantized TF Lite model on Android receives error "Failed to run on the given Interpreter""
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: Yes
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**: tested on Samsung Galaxy device and Pixel 4 emulator
-   **TensorFlow installed

[2021-12-08 17:00] ivelin commented on #38642
Very nice. Thank you for the update. Will give it a try.

[2021-12-08 17:18] dillon3344 commented on #53278
@sanatmpa1 any update?

[2021-12-08 17:51] #53073 closed

[2021-12-08 17:57] impjdi commented on #38746
Chances are high that it'll crash with driver version update.  I unfortunately don't have a code snippet that checks the driver version.  So far, we used this caching only in a setting where the app is updated with the OS update only, and there are no individual graphics driver update from Play Store, and we never ran into this issue ourselves =/

[2021-12-08 18:04] Saduf2019 commented on #53295
@akzenith
Please follow [this link](https://github.com/tensorflow/tensorflow/issues/39483#issuecomment-629006902) and let us know.[[link](https://stackoverflow.com/questions/50596341/import-tensor-flow-library-error],[link1](#52980))

[2021-12-08 18:36] sachinprasadhs commented on #53306
The reason is while doing the `tf.cast` it does the approximation because you are converting `tf.float32` to `tf.float64` because of this it changes the value of `pi` from `3.141592653589793 `to `3.1415927410125732` and hence the change in precision.
To avoid that you can feed the` tf.float64` variable by providing `tf.constant` value as below.
`tf.math.sin(tf.cast(tf.constant(np.pi, dtype=tf.floa

[2021-12-08 18:41] DEKHTIARJonathan commented on #52934
I specifically implemented the PR to fix this issue, so I don't need to check anything

[2021-12-08 18:53] Rayjrz commented on #47242
Saved my day! Thanks!

[2021-12-08 19:25] cheshire commented on #53192
@jxy @mdanatg From what I see the real bug is that device assignment is ignored and the variable is placed on CPU despite explicit GPU placement (speaking of shapes, do those ever reside inside variables though?). Once the placement on CPU happens, there's nothing much we can do: what would you expect to happen? Extra H2D copy potentially ruining performance? We can't really pattern match this cas

[2021-12-08 19:32] mdanatg commented on #53192
Just making it clearer that the variable (and which variable) was placed on CPU would help. The information is there (e.g. we have the internal name, and line number), so surfacing more clearly would help (e.g. include the actual line of code). "_AnonymousVarNNN" and "__inference_call_44" don't say much.
Agree that there's otherwise not much to do by the time things got here. Might be worth trying

[2021-12-08 20:02] jk78346 commented on #50237
I'm having a similar situation. I'm trying to convert mobilebert model into tflite from [here](https://github.com/tensorflow/models/blob/master/official/projects/edgetpu/nlp/serving/export_tflite_squad.py).
I modified the flag of converter in the export_tflite_squad.py in the following:
[code]
And I still got the following error:
[code]
Both tf2.4.0 and tf-nightly are having the same issue here.

[2021-12-08 20:25] Aman2909 commented on #53357
Yes, you are correct.
The input to the encoder should be x_test_noisy instead of x_test.

[2021-12-08 21:05] s0v1x commented on #47554
same issue guys using LSTM and GRU

[2021-12-08 21:33] jvishnuvardhan commented on #29296
Added an example through this https://github.com/tensorflow/tensorflow/pull/53346

I am closing this issue as this was resolved. Please feel free to reopen if I anything missing. Thanks!

[2021-12-08 21:33] #29296 closed

[2021-12-08 22:18] sachinprasadhs commented on #53291
Hi, did you try with different `data_format`, the default one is channel last("NHWC"), you can try channel first("NCHW") to see if it is matching.

[2021-12-08 22:29] reedwm commented on #53337
The rollback was rolled forward in 11d66a9a493ce013e53ceb98049cbef364cdc0b3.

[2021-12-08 22:29] #53337 closed

[2021-12-08 22:30] sachinprasadhs commented on #53315
Did you try with the `channels_last` `data_format` in `tf.keras.layers.Conv3D`, let me know if you are facing any issues with this conversion.

[2021-12-08 22:43] sachinprasadhs commented on #53279
If you are not using the latest Tensorflow and TensorFlow Lite runtime version please upgrade to the latest and try again.

[2021-12-08 22:50] 3kba opened #53362 "Could not load dynamic library 'libcudart.so.11.0' cannot open shared object file: No such file or directory"
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.7.0
- Python version: 3.9.7
- Installed using virtualenv? pip? conda?: pip3
- CUDA/cuDNN version: 11.5
- GPU model and memory: Gtx 1060
i have tensorflow and tensorflow-gpu installed

code source :

[code]

[code]

**i'm using manjaro and i get this error when i want to run my code by python3 main.py :**

[code]

any he

[2021-12-08 23:15] pcish commented on #52346
Thanks for sharing your use case and the issues you encountered @RomanSteinberg!

Regarding the original question, I found there's already an open internal feature request for adding an option to disable delayed restoration while loading a checkpoint, which is roughly equivalent to adding a `try_consume_everything_now()` function, so I've added a reference to this conversation on that feature requ

[2021-12-08 23:49] grewe commented on #53279
We are using the latest and have also tried an earlier version.   Neither
work and the error is as reported.

Lynne Grewe |  Professor Computer Science, Director iLab |  California
State University East Bay |
***@***.*** ***@***.***>  *

On Wed, Dec 8, 2021 at 2:43 PM sachinprasadhs ***@***.***>
wrote:

[2021-12-09 00:22] mohantym commented on #53272
Hi @sanatmpa1! Could you please look at this issue?

[2021-12-09 00:34] terryheo commented on #44265
Could you try to use 2.7 for `TensorFlowLiteObjC` pod ?
I think it's better to use the same version with `TensorFlowLiteSelectTfOps`.

[2021-12-09 01:25] #53355 closed

[2021-12-09 01:41] terrycmchan commented on #53268
@sachinprasadhs @mohantym Any update on this issue? Thanks!

[2021-12-09 01:51] #22854 closed

[2021-12-09 01:52] chunduriv commented on #44961
@deandx, Sorry for late response. We are checking to see if you still need help on this issue.

Many bugs have been fixed in the recent versions of TF. Could you please try with TF2.7 and let us know if the issue still persists?

[2021-12-09 02:49] mohantym commented on #53362
Hi @3kba!
Could you please update the template too as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].

Tested Cuda/CudNN config for each version can be found [here.](https://www.tensorflow.org/install/source_windows#gpu) Attaching relevant [thread](https://github.com/tensorflow/tensorflow/issues/

[2021-12-09 03:15] xjj210130 commented on #53317
fixed

[2021-12-09 03:15] #53317 closed

[2021-12-09 03:17] guelermus commented on #47554
Same here!

[2021-12-09 04:22] mohantym commented on #53358
Hi @chunduriv ! Could you please look at this issue? It is replicating in [2.6](https://colab.sandbox.google.com/gist/mohantym/dd5d7e01395c65f7d867d812112d2c38/gpusparsebatchingfail.ipynb#scrollTo=y-4zRfsDQoQZ),[2.7](https://colab.sandbox.google.com/gist/mohantym/2efb1f9111f1cfb35d606c8864ab5aaf/gpusparsebatchingfail.ipynb#scrollTo=gUxWF2BCV7B_) and [nightly](https://colab.sandbox.google.com/gist/

[2021-12-09 04:43] lekshmysudha commented on #47424
Hi, are there any updates on this? I have a DNN with SeLu activation for the hidden layers. I am trying to deploy the DNN on an ARM Cortex M4 MCU. I still can't see SeLu in the allowed Op list. Can using SELECT_TF_OPS solve this in any way?

[2021-12-09 04:47] sliu54 opened #53364 "Selective build for iOS does not produce TensorFlowLiteC_framework.zip"
### System information
-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: No
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 11.4
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**:
-   **TensorFlow installed from (source or binary)**: source
-   **TensorFlow vers

[2021-12-09 04:53] enfild opened #53365 "Interpreter->invoke() calls Segmentation Fault"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04 with USB Coral.
- TensorFlow installed from (source or binary): source
- TensorFlow version (or github SHA if from source): v2.5.0, v2.6.0

**Description**
When i calls `initTfLiteInterpreter()`, tfLite work is correct, output has all information (boxes, labels and classes), time of invoke is good

[2021-12-09 04:57] Waaheeda commented on #44265
@terryheo thank you for quick response, it started working after I updated all pods to 2.6 version,

pod 'TensorFlowLiteObjC' , '2.6.0'
pod 'libextobjc'
pod 'TensorFlowLiteSelectTfOps' ,'2.6.0'

[2021-12-09 04:59] IchiruTake commented on #43030
I have used TF 2.5 but it did not fix yet

[2021-12-09 05:00] XingjiaHan commented on #43030
您好，您的邮件已收到                                浙江大学——韩兴佳

[2021-12-09 05:07] jvishnuvardhan commented on #28762
@Mr-Nineteen Is there any actionable item like raising PR?

Since the issue opened, there were lot of improvements in the TF docs of several languages but `variables.md` is not there.

Can we close this issue here. Thanks

[2021-12-09 05:09] terryheo commented on #44265
It's good to hear. Thanks for the update.

[2021-12-09 05:09] #44265 closed

[2021-12-09 05:27] sherigithub commented on #23809
Did you solve this error?
i too had this error in AWS....but works in kaggle with no issues...

how to solve this?????

[2021-12-09 05:43] jvishnuvardhan commented on #29212
@HardPlant This is a stale issue. Is there any actionable item like raising PR?

If you plan to raise a PR, please feel free to use updated version https://www.tensorflow.org/api_docs/python/tf/queue/FIFOQueue

Thanks for your contribution.

[2021-12-09 05:45] tilakrayal commented on #53356
@sachinprasadhs ,
I was able to reproduce the issue in tf v2.5 , v2.7 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/b097f87fda554821341bb11b6c278d56/53356.ipynb).

[2021-12-09 07:00] luojuan2020 opened #53366 "tensorflow/c/c_api_experimental.cc:698:41: error: 'class tensorflow::EagerContext' has no member named 'StoreCollectiveOpsServer'"
编译  tensorflow 1.14版本，提示
tensorflow/c/c_api_experimental.cc:698:41: error: 'class tensorflow::EagerContext' has no member named 'StoreCollectiveOpsServer'

[2021-12-09 07:16] yyoon commented on #47400
That's good to hear. Roughly speaking, this could be done in the following steps.

1. Update bazel to 5.0.0 or higher.
2. Update `rules_apple` version to 0.32.0 or higher. This version dependency is defined in: https://github.com/tensorflow/tensorflow/blob/592f3797f814eb280eb39bda8aea193e5d5c60bc/tensorflow/workspace2.bzl#L801-L805
3. Add a new `.bazelrc` config for `ios_sim_arm64`: https://github

[2021-12-09 07:21] MrinalTyagi commented on #53358
Would like to work on this issue

[2021-12-09 07:24] tilakrayal commented on #53360
@SamuelMarks ,
Please feel free to submit a PR for the requested change or share the link where requested change is to be made in respective repo.Thanks!

[2021-12-09 07:56] mohantym commented on #53157
Hi @Nyrio ! Is this issue good to close now ? As the above PR seems to be merged now . Thanks!

[2021-12-09 08:06] yongtang commented on #53300
Added a PR #53367  for the fix.

[2021-12-09 08:22] HassanRahim26 commented on #53366
/assign

[2021-12-09 08:29] HassanRahim26 commented on #53343
Hey @Saduf2019, I'm Hassan. I'm new to this organisation. Can you please tell me ways to get started?
I've one doubt, how can I get assigned to any issue? In every issue it's saying that `google-ml-butler` assigned this issue to someone. Can you please help me?

[2021-12-09 08:55] #53334 closed

[2021-12-09 09:18] DanBmh commented on #53284
Before we simplify the example, could you please test if you can replicate the error with the current code?

[2021-12-09 10:00] Nyrio commented on #53157
@mohantym No, that's a different PR. #53158 is the one that closes this issue.

[2021-12-09 11:31] mohantym commented on #53366
Hi @luojuan2020 !
Could you please update the template too as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks!

[2021-12-09 12:57] 3kba commented on #53362
updated you can see and tell me if u want me to add another information it can help thanks.

[2021-12-09 13:02] ThanasisGiak opened #53370 "Quantized Convolution Layers Operation in TF-lite"
Hello to everyone, for academic and research purposes I am trying to understand the operation behind a quantized convolution layer in Tensorflow Lite. For this purpose, I chose EffiecientNet-lite0 model. So I downloaded pretrained EfficientNet-lite0 float32 and int8 tflite files from the official [repository](https://github.com/tensorflow/tpu/tree/master/models/official/efficientnet/lite) and run

[2021-12-09 14:17] adjhawar opened #53372 "How to train specific variables in SavedModel in Tensorflow format ?"
I have a pre-trained model in Tensorflow (not keras) format which I want to retrain .
[mobilenetv2.zip](https://github.com/tensorflow/tensorflow/files/7685965/mobilenetv2.zip)

However, in this model the list of variables is empty. The re-training needs to be done on a certain set of variables but those variables are not declared as trainable. How to access the variables from this model and make t

[2021-12-09 14:26] mohantym commented on #53362
Ok @3kba! You can install Cuda files either through [conda](https://anaconda.org/anaconda/cudatoolkit) command or follow instructions for ubuntu/others[ here](https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#ubuntu-installation). You can point your bin file from [Cuda installation](url) in your environment path as above [thread ](https://github.com/tensorflow/tensorflow/issues

[2021-12-09 14:39] rifaadev commented on #53276
Thank you, but how i can install low version of conda

[2021-12-09 14:53] sushreebarsa commented on #53354
@dekkuz
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2021-12-09 14:54] VincentTheBeast commented on #44592
For use cases that require lining up the label with the last row rather than the first row, we can reverse the dataset using df=df.iloc[::-1] before splitting into features and labels and passing it to tf.keras.preprocessing.timeseries_dataset_from_array

The reversed row order will make not difference to the training.

[2021-12-09 14:56] mohantym commented on #38767
Hi @kevinkepp !
We are checking to see whether you still need help in this issue . Have you tried building your model using [RNN documentation ](https://www.tensorflow.org/api_docs/python/tf/keras/layers/RNN)from latest version (2.7) yet? Thanks!

[2021-12-09 15:00] tilakrayal commented on #53364
@sliu54 ,
Please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/25800#issuecomment-475818277) from the issue with similar error.It helps.Thanks

[2021-12-09 15:22] sliu54 commented on #53364
@tilakrayal Thanks for your reply. Do you mind elaborating on how that comment relates to the issue I'm seeing? My issue is that the selective build script does not generate TensorFlowLiteC_framework.zip. Looks like in that comment they already assumed that TensorFlowLiteC_framework.zip exists and talked about how to get it working with CocoaPods. Please let me know if I misunderstood.

[2021-12-09 15:26] isonlaxman commented on #47554
yep same here still facing this issue

[2021-12-09 15:51] #35044 closed

[2021-12-09 16:03] mdanatg commented on #52055
Strange. And can you confirm that `normalize_img` is a function defined in a Python file, that you `import`?
If you run `import inspect; inspect.getsource(normalize_img)` in your program, does it throw an error?

[2021-12-09 16:16] Didi3333 opened #53373 "tfjs-v3.12.0 and Wasm 3.12.0 for tfjs-models/pose-detection/ MoveNet multipose wasm"
When I try to run the demo of the model : tfjs-models/pose-detection/  : https://storage.googleapis.com/tfjs-models/demos/pose-detection/index.html?model=movenet

With tfjs-v3.12.0 and Wasm 3.12.0 and configuration model MoveNet type Multipose and backend Wasm  i got the following error :

Error: Kernel 'Reciprocal' not registered for backend 'wasm'

![image](https://user-images.githubusercontent.

[2021-12-09 16:51] #53200 closed

[2021-12-09 17:04] Didi3333 commented on #53373
Open issue in good repo : https://github.com/tensorflow/tfjs/issues/5932

[2021-12-09 17:06] #52300 closed

[2021-12-09 17:13] mihaimaruseac commented on #53342
spam

[2021-12-09 17:15] vigkrish123 commented on #53343
@Saduf2019 Thanks for the timely help. I was able to fix this by purging CUDA and related software and installing the correct CUDA Toolkit and Cudnn based on my Tensorflow version referring to https://www.tensorflow.org/install/source#gpu

[2021-12-09 17:15] #53343 closed

[2021-12-09 17:25] MarkDaoust commented on #53360
See my comment on the PR.

We have internal systems for this, and generally we only apply autoformatting to code when we're updating it for other reasons.

Formatting just to format makes code history harder to follow.

[2021-12-09 17:25] #53360 closed

[2021-12-09 17:47] SamuelMarks commented on #53360
@MarkDaoust Yeah I agree formatting makes code history harder to follow. Which is why generally all these niceties (autolinters, autoformatters, &etc.) are done at the beginning of a project (and not 6 years later).

Still though, I wanted to start the discussion and see if there was any appetite for such.

Naturally autoformatters greatly simplify automated code modification tooling, and the cons

[2021-12-09 17:51] #47156 closed

[2021-12-09 17:51] #50282 closed

[2021-12-09 17:52] MarkDaoust commented on #53360
Yeah, we have them. Some as presubmit checks in github, some as internal presubmits. But typically we don't apply them to existing code unless it's something we're touching for other reasons.

[2021-12-09 18:35] bayesian-mind commented on #53025
@nutsiepully any updates on this issue?

[2021-12-09 18:51] #47597 closed

[2021-12-09 19:12] Karan-Dhingra commented on #22480
Hii,
I am facing the same error,
In my case there exists a save_model.pb file but still, it showing me this...

Here's my code:
[code]

# Result got while debugging:
[code]

[2021-12-09 19:15] gaurxvreddy commented on #53279
I'm facing the same issue.

[2021-12-09 19:20] ansingh1214 commented on #53118
I would like to try installing it in gcc 7.3.1, but I can't find the source code for that specific gcc version. Can you all point to a link for gcc 7.3.1?

[2021-12-09 19:26] bhack commented on #53118
Do you mean the TF source code version?

[2021-12-09 19:28] ansingh1214 commented on #53118
No, the gcc (I can find the source code for 7.3.0 but not 7.3.1)

[2021-12-09 19:38] gaurxvreddy opened #53377 "ValueError: Unsupported data type 14 in tensor"
_<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>_

**System information**
- Have I written custom code : `interpreter = tf.lite.Interpreter(model_path="models/saved_model.tflite")`
- O

[2021-12-09 19:45] bhack commented on #53118
I don't know as we need to produce manylinux compatible wheels we are using devtoolset 7 in an Ubuntu distro. So it is why i mentioned gcc 7.3.1:
https://centos.pkgs.org/7/centos-sclo-rh-x86_64/devtoolset-7-gcc-7.3.1-5.10.el7.x86_64.rpm.html

In the official devel image we install just the standard `build-essential` in an Ubuntu 20.04 base image:
https://github.com/tensorflow/tensorflow/blob/a0edc

[2021-12-09 19:51] #37157 closed

[2021-12-09 19:51] #53198 closed

[2021-12-09 20:00] grewe commented on #53279
@sachinprasadhs @gaurxvreddy    Please note my previously converted TFLite models still work (but, do not know what version used to convert) and the NEWLY converted TFLite models do not ---and tried with a few different Tensorflow versions specified in  Android build gradle file .     The odd thing is I did try for my new models to retrain them and convert with a lower version too -- for version 2

[2021-12-09 20:01] rainwoodman commented on #53115
Thanks MaggieLieu for tracking this down!

We can add a 'return_index_map=False/True' argument to ssim to maintain backward compatibility: when return_index_map is True, returns the index map; when return_idnex_map is False, return the reduced global value.

Since you have already identified where to change, would you mind contributing a PR?

PS: Here is a reference where it is explicitly describe

[2021-12-09 22:24] nitolpalak opened #53379 "Python Configuration Error: Problem getting numpy include path while building with Bazel"
<em>I am facing error trying to build tensorflow from source. My goal is to use tensorflow API in C++. I am following [this doc](https://www.tensorflow.org/install/source) for that. But whenever I run `bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package` I get `Python Configuration Error: Problem getting numpy include path.`</em>

**System information**
- OS Platform and Dist

[2021-12-09 22:38] Jesper-Hustad commented on #31654
Changing my batch size from `10` to `2048` increased performance from about 6 minutes to 15 seconds.

[2021-12-09 23:10] AnelMusic commented on #45611
The problem is caused due to OOM issues
My GPU RTX 3060 jumped to 12 GB as soon as a started training a simple CNN-

The only thing that helped in my case was:
pip install tf-nightly-gpu

Resolved all the problems

[2021-12-09 23:15] mihaimaruseac commented on #53118
gcc 7.3.0 and gcc 7.3.1 should not have many differences between them. Can you post the error log that would result with gcc 7.3.0? Please do a ` bazel clean --expunge` just before that, to make sure everything is building from scratch. Also, please share output of `git log -n1` and also make sure you wrap the error message around 3 backticks, not just one (I edited the first post as an example)

[2021-12-09 23:19] #48219 closed

[2021-12-09 23:20] mihaimaruseac commented on #53118
Btw,

[code]

looks like an error in your toolchain, not in TF. Are you able to compile any other program that uses this header?

[2021-12-09 23:27] simacaonima commented on #48219
邮件已收到！谢谢！

[2021-12-09 23:50] shilpakrish2 commented on #53292
I just sent out a fix in cl/415373976.  Before this change, dataset finalization (which allows options to propagate through datasets) was performed each time an iterator for a dataset was created.  When finalizing a cached LoadDataset, an error was thrown if the underlying file was no longer present. This would occur if the saved file had been in a temporary directory and the temporary directory w

[2021-12-09 23:51] #53292 closed

[2021-12-10 01:39] KieronQuinn opened #53380 "UnsatisfiedLinkError when attempting to use HexagonDelegate"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Using example

[2021-12-10 01:40] sushreebarsa commented on #53379
@nitolpalak We see that you are using older version of TF 2.1 , could you please try to upgrade to latest TF v2.7.0 and let us know the outcome? Thank you!

[2021-12-10 01:58] nitolpalak commented on #53379
@sushreebarsa I was able to solve the issue after installing _numpy_ and _future_ using both pip and pip3. Looks like the problem was previously I installed numpy and future only in pip3. After installing those packages in pip too, the previous error was fixed. But currently I am having a new issue. I would really like to use TF 2.1 if possible as some other libraries I am currently working with d

[2021-12-10 02:51] no-define opened #53381 "bazel-genfiles/ and *.pb.h not been generated with bazel-building tensorflow2.4.1 from source"
**System information**
- OS Platform and Distribution ( Linux Ubuntu 18.04):
- TensorFlow installed from (source)
- TensorFlow version:        Tags v2.4.1
- Python version:      Python 3.7.6
- Installed using virtualenv? pip? conda?:       conda
- Bazel version (if compiling from source):        have tried bazel 3.4.0 、 bazel 3.1.0
- GCC/Compiler version (if compiling from source):  gcc (GCC) 7.4.

[2021-12-10 03:51] #42750 closed

[2021-12-10 03:51] #45274 closed

[2021-12-10 03:51] #45585 closed

[2021-12-10 04:15] nitolpalak opened #53382 "FAILED: Build did NOT complete successfully on windows 10"
<em>I am facing error trying to build tensorflow from source in windows 10. My goal is to use tensorflow API in C++. I am following [this doc](https://www.tensorflow.org/install/source_windows) for that. But whenever I run `bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package` I get `ERROR: C:/users/black ops/_bazel_black ops/r7janahi/external/com_google_protobuf/BUILD:301:11:

[2021-12-10 04:17] nitolpalak commented on #53379
@sushreebarsa I have tried to build tensorflow 2.7 in my windows 10 environment and posted an issue regarding that [here](https://github.com/tensorflow/tensorflow/issues/53382)

[2021-12-10 04:35] jaeyung1001 commented on #53352
hi @mohantym ! I reinstalled my CUDA11.2 & cuDNN 8.1 for TF2.7, but I still encounter same issue about cannot recognize my local gpu machine.

when I ran below command & show result:
[code]

and
- the libcudnn.so.8 file exists in /usr/local/cuda-11.2/lib64
- the LD_LIBRARY_PATH(/usr/local/cuda-11.2/lib64) exists in ENV

[2021-12-10 04:43] Sameerbobde opened #53383 "I think nvidia-driver is not working."
I think nvidia-driver is not working.

You have to check command `nvidia-smi`

If these command is not working, you have reboot your computer.

Maybe `nvidia-smi` works correctly.

_Originally posted by @SnowMasaya in https://github.com/tensorflow/tensorflow/issues/255#issuecomment-384846967_

[2021-12-10 04:51] #47340 closed

[2021-12-10 04:51] #47115 closed

[2021-12-10 04:51] #39750 closed

[2021-12-10 04:59] mohantym commented on #53352
Hi @chunduriv! Could you please look at this issue. Its not replicating in Colab environment though. Attaching [Gist](https://colab.sandbox.google.com/gist/mohantym/5650123ba1bf5809615c763fdfb5d135/github_53352_2-7_gpu.ipynb#scrollTo=VVWfkQUpKmUg) in 2.7  for reference. Thanks!

[2021-12-10 05:00] enfild commented on #53365
I find problem, it is uncorrect model.

[2021-12-10 05:00] #53365 closed

[2021-12-10 05:26] mohantym commented on #53268
Hi @terrycmchan ! Sorry for the late response! Team is still investigating this issue. Thank you for your patience!

[2021-12-10 05:48] tilakrayal commented on #53370
@ThanasisGiak ,
On running the given code snippet, I am facing an different error. Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/7dcc05e1d0a6b2307583254e8d2813ad/untitled138.ipynb).Also please, fill issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) and the tensorflow version you are using.

[2021-12-10 05:51] #46684 closed

[2021-12-10 05:59] Mmisiek commented on #36766
So I have "-all_load" in podspec but still get this error.

[2021-12-10 06:15] UsherWang commented on #53266
Hi @tilakrayal  and @sanatmpa1

You can decrease iteration number from 50000 to 200 or 300 for adam optimizer
for epoch in range(50000): -> for epoch in range(200 or 300):

and comment out the bfgs part at the very end:

func = function_factory(tf_model, loss_function, tf_t0, tf_ans_t0, tf_xlb_x_ten, tf_xub_x_ten, tf_xb_t_ten, tf_bulk_px_tensor, tf_bulk_pt_tensor, pos_bound, t_bound)
init_params_T

[2021-12-10 06:24] mohantym commented on #53383
Hi @Sameerbobde !
Could you please update the template too as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks!

[2021-12-10 06:31] mohantym commented on #53380
Hi @KieronQuinn ! Did you check with this[ threa](https://github.com/tensorflow/tensorflow/issues/36804#issuecomment-591571178)d yet?

[2021-12-10 06:45] #52377 closed

[2021-12-10 06:46] liuchang3 commented on #52377
i check the modified code, it's solved now i think.

[2021-12-10 07:34] tilakrayal commented on #53377
@gaurxvreddy ,
Could you please update TensorFlow to the latest stable version v2.7 and let us know if you are facing the same error. Thanks!

[2021-12-10 08:00] gaurxvreddy commented on #53377
Is there `TF 2.7.0` available on Raspberry Pi, If yes, Can you provide me with the instructions to install it ?

[2021-12-10 09:14] ThanasisGiak commented on #53370
Hello @tilakrayal , thanks a lot for your immediate response. I forgot to attach [image_net_classes.txt](https://github.com/tensorflow/tensorflow/files/7691512/image_net_classes.txt) file. I also filled Tensorflow, Numpy and Python version I am using.

[2021-12-10 09:34] KieronQuinn commented on #53380
Yes, like I said in the issue that topic is for Python and is not relevant. I'm already using the nightly.

[2021-12-10 10:24] Zakria96 commented on #22480
Which model are you trying to convert...?

[2021-12-10 10:25] Zakria96 commented on #22480
There are only some model that are tflite supported

[2021-12-10 10:32] Sameerbobde commented on #53383
bash: /usr/bin/nvidia-smi: No such file or directory
i have install nvidia-cuda-toolkit but that it is not showing

[2021-12-10 10:49] Saduf2019 commented on #36590
@JesperLindberg
Could you please verify on the latest version if this is still an issue.

[2021-12-10 10:54] sachinkmohan commented on #35968
Make sure you have installed TensorRT and Cuda appropriately. This fixed my problem.
I was trying to run on a conda environment where no TensorRT was installed. Later ran the same code on Jetson where everything was configured. Ran flawlessly!

[2021-12-10 10:55] JesperLindberg commented on #36590
@Saduf2019 I will close this as I no longer has anyway of checking this.

[2021-12-10 10:55] #36590 closed

[2021-12-10 11:06] Saduf2019 commented on #36516
@espinafre
Could you please verify with the latest version if the issue still persist.

[2021-12-10 11:14] Saduf2019 commented on #36361
@abhigoyal2210
Could you please let us know if this is still an issue on tf 2.7 as per the above update, please confirm if this is still an issue.

[2021-12-10 11:36] Saduf2019 commented on #36164
@lerobitaille
Could you please let us know if this is still an issue in tf 2.7

[2021-12-10 12:11] mohantym commented on #53380
@sachinprasadhs ! Could you please look at this issue ?

[2021-12-10 12:16] mohantym commented on #53383
Hi @Sameerbobde ! Could you try again after pointing your file from Cuda installation location through [environment variable ](https://www.tensorflow.org/install/gpu#linux_setup). Thanks!

[2021-12-10 12:17] chunduriv commented on #53352
@Irene-kim, Generally if there was any incompatible between TF, CUDA and cuDNN versions we can observe this behavior. To get benefit we recommend to follow [tested build configurations](https://www.tensorflow.org/install/source#gpu).

@jaeyung1001, Can you please let us know steps that you have followed to install Tensorflow?

[2021-12-10 12:26] usuku-hideki commented on #35506
@karimnosseir
Thank you for your reply.
I was able to build and libhexagon_interface.so which uses HexagonSDK version 3.4.3.
Do you know how to make libhexagon_interface.so which uses HexagonSDK version 3.5.4?
Please let me know if you know.

[2021-12-10 12:31] tilakrayal commented on #53381
@no-define ,
Could you please update TensorFlow to the latest stable version v2.7 and let us know if you are facing the same error. Also please take a look at this issue [1](https://github.com/tensorflow/tensorflow/issues/47902) and [2](https://github.com/tensorflow/tensorflow/issues/46786) with the similar error.It helps.Thanks!

[2021-12-10 12:51] #38202 closed

[2021-12-10 13:29] MostafaFiroozi opened #53384 "Perspective transformation data augmentation for object detection"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version :2.7.0
- Are you willing to contribute it 🆗

**Perspective transformation d

[2021-12-10 13:38] Saduf2019 commented on #53384
@MostafaFiroozi
Please share your details in issue template for us to understand the issue faced. if possible share the URL where you request the change.

[2021-12-10 13:44] hemantnyadav commented on #41251
This real issue. I am also trying to extent the layer but it is not accepting anything in **kwargs with error TypeError: ('Keyword argument not understood:',

[2021-12-10 13:51] #38055 closed

[2021-12-10 13:51] #38130 closed

[2021-12-10 14:55] gaurxvreddy commented on #53377
Hey @tilakrayal,

It would be great if we could get some traction on this issue, is it possible for you to look at this?

[2021-12-10 14:56] Floflette32 commented on #17353
For mask RCNN, I have used a different script to generate my TFrecord files and it works now.

I used the read_pbtxt_file.py and TFrecord_json.py downloaded from [here](https://www.protocols.io/view/protocol-mask-rcnn-ct-tensorflow-buusnwwe?step=7.2) which split the data into train and val and then convert the LabelMe .json files into TFrecord files.

Lines must be modified in read_pbtxt_file.py b

[2021-12-10 15:29] Bhavay192 commented on #41123
Hey @MarkDaoust , are you there to help ??

[2021-12-10 15:51] #38023 closed

[2021-12-10 15:52] Tessil commented on #53251
@mohantym Thanks, I added a small example though the post is more of a feature request for `tf.keras.layers.DepthwiseConv3D` and `tf.nn.depthwise_conv3d` layer in TF and `DEPTHWISE_CONV_3D` operator in TFLite than an issue per-se.

[2021-12-10 16:51] #26094 closed

[2021-12-10 16:51] #29271 closed

[2021-12-10 17:25] gaurxvreddy commented on #40157
Is this solved ?

[2021-12-10 17:36] JawadHalabiMTB commented on #53276
Hi, i found this link it may fit your needs
https://anaconda.org/fridh/glibc

BR

[2021-12-10 17:51] #35070 closed

[2021-12-10 17:52] karimnosseir commented on #35506
@usuku-hideki
How did you build it ? Did you update the dependent files that are required from the SDK and used blaze or something else ?

The code should compile on SDK 3.5.4 and even 4.3.0

[2021-12-10 19:15] MarkDaoust commented on #41123
Just putting a 3D example on the api-page would be a good start.

For the error message maybe something like this would help:

[code]

And copy that to the description of the 'dims' argument.

[2021-12-10 19:31] RahulGhu commented on #21742
it showing error like app no define . i tried other things but not solve error ..plzz suggest .

[2021-12-10 19:51] #53193 closed

[2021-12-10 20:54] mihaimaruseac commented on #53313
There has been a confusion @albertz , please ignore @sushreebarsa 's comment about the PR on your project.

If you want to send a PR to the custom op and tag me, I'd be happy to review. Sorry for the confusion

[2021-12-10 21:13] sachinprasadhs commented on #53319
I see there was already a issue #45570 about TF 2.4 build in debug mode, you can refer to that and for additional follow ups you can refer to your original post in [TF Forum](https://discuss.tensorflow.org/t/how-to-build-tensorflow-debug-version/6356) and move this issue to closed status. Thanks!

[2021-12-10 23:42] jvishnuvardhan commented on #47623
@GungnirASHTTTTT did you check by enabling the above flag?
Also, can you please try with recent TF versions (TF2.7 and `tf-nightly`) and let us know whether it is still an issue for you? Thanks!

[2021-12-11 00:24] jvishnuvardhan commented on #48188
@dakshvar22 Looks like this was resolved in recent `tf-nightly`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/d37c0552f50a0c5aba0ee3f127105d62/untitled211.ipynb) is a gist for reference.

Can you please verify once and close the issue if this was resolved for you.

If this was not resolved, can you please open the issue in keras-team/keras repo as keras development moved to that re

[2021-12-11 00:29] jvishnuvardhan commented on #48660
@blackyang Is this still an issue for you?  Is there any actionable item like raising PR?

Please note that Keras development moved to another repository to focus entirely on only keras. Could you please repost this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues). Thanks!

[2021-12-11 00:40] jvishnuvardhan commented on #45053
@TylerADavis Looks like this was resolved in recent `tf-nightly`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/7009ba0e1039aa3d3a36dbf6134de279/untitled1133.ipynb) is a gist for reference.

Can you please verify once and close the issue if this was resolved for you.

If this was not resolved, can you please open the issue in  [keras-team/keras repo](https://github.com/keras-team/ke

[2021-12-11 01:15] jvishnuvardhan commented on #44986
@lminer I can reproduce the issue with `tf-nightly` (`TF2.8.dev`).
 As it is related to keras, Is it possible for you to move this issue to keras-team/keras repo?

Please note that Keras development moved to another repository to focus entirely on only keras. Could you please repost this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues). Thanks!

[2021-12-11 01:18] jvishnuvardhan commented on #42417
@zowen I can reproduce the issue with `tf-nightly` (`TF2.8.dev`).
 As it is related to keras, Is it possible for you to move this issue to keras-team/keras repo?

Please note that Keras development moved to another repository to focus entirely on only keras. Could you please repost this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues). Thanks!

[2021-12-11 01:21] jvishnuvardhan commented on #46715
@breadbread1984 Can you please check whether @edloper suggestion helped in resolving the issue. Thanks

[2021-12-11 01:23] jvishnuvardhan commented on #45476
@zaccharieramzi Can you please share a simple standalone code as requested above? Thanks!

[2021-12-11 01:31] Chalo0 opened #53387 "🐛🪲"
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobil

[2021-12-11 01:42] jvishnuvardhan commented on #42320
Looks like this was resolved in recent `tf-nightly`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/6027e225ae010de63ee88cd8fc8ee84d/untitled86.ipynb) is a gist for reference.

Can you please verify once and close the issue if this was resolved for you.

If this was not resolved, can you please open the issue in  [keras-team/keras repo](https://github.com/keras-team/keras/issues) rep

[2021-12-11 01:51] #25425 closed

[2021-12-11 01:51] #13308 closed

[2021-12-11 02:15] jvishnuvardhan commented on #47673
@OliverPfau Sorry for the late response.

Just a quick question. Why do you want to clone a model when you can use original model? Cloning creates new layers and new weights which will increase memory requirements. Thanks!

[2021-12-11 02:50] jvishnuvardhan commented on #44705
@mbalazs98 Is this still an issue for you? Can you please check with recent TF versions (`TF2.7 and `tf-nightly`) and let us know whether issue is still persisting.

Please note that Keras development moved to another repository to focus entirely on only keras. Could you please repost this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues). Thanks!

[2021-12-11 02:55] orlando9427 opened #53388 "cl.exe failed on fast_module_type.so exit 2"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 19044.1387
- Mobile

[2021-12-11 03:07] jvishnuvardhan commented on #35982
@mostafa-mahmoud Is this still an issue for you?  Can you please check with recent TF versions (`TF2.7` and `tf-nightly`) and let us know whether the issue persists.

Please note that Keras development moved to another repository to focus entirely on only keras. Could you please repost this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues). Thanks!

[2021-12-11 05:47] MrinalTyagi commented on #53351
I would like to work in this issue do fix the example. There were many updates in iOS 15 that makes the developers to change features a bit. That could be a reason.

[2021-12-11 07:47] sushreebarsa commented on #53387
@Chalo0
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2021-12-11 09:12] sushreebarsa commented on #53382
@nitolpalak Could you please to the similar [issue1](https://github.com/tensorflow/tensorflow/issues/53054), [issue2](https://github.com/tensorflow/tensorflow/issues/51841) and this [comment](https://github.com/tensorflow/tensorflow/issues/53007#issuecomment-965028450) ?Please let us know if it helps?Thank you!

[2021-12-11 09:20] sushreebarsa commented on #53379
@nitolpalak We are supporting TF v2.4 and later .Older versions are no longer supported.As per your above [comment](https://github.com/tensorflow/tensorflow/issues/53379#issuecomment-990528488) ,if you want to use TF v2.1 then could you please post this issue in [TF forum](https://discuss.tensorflow.org/) where there is a larger community to help? We are tracking this #53382 ticket as well. Thank

[2021-12-11 09:32] sushreebarsa commented on #53372
@adjhawar Could you please refer to the [SavedModel](https://www.tensorflow.org/guide/saved_model) format and let us know if it helps?Thank you!

[2021-12-11 10:20] MostafaFiroozi commented on #53384
In object detection projects for the sake of more robust models we need some data augmentation. In the  [preprocessor.py](https://github.com/tensorflow/models/blob/master/research/object_detection/core/preprocessor.py)
there are some possible functions that can be used in the pipeline config of a TensorFlow model to act as a data-augmentations tool.
![image](https://user-images.githubusercontent.c

[2021-12-11 10:43] OseyereProg commented on #51357
Hi , i understand your problem, you need to import logging module and change your line of code as shown below.
import logging
then   change tf.get_logger().setLevel("ERROR") to tf.get_logger().setLevel(logging.ERROR)

[2021-12-11 10:47] zaccharieramzi commented on #45476
Yes sorry about the delayed response, I am not really suffering from this issue anymore, but here is a simple standalone code:

[code]

You can find a colab [here](https://colab.research.google.com/drive/1SJKUp28Oe94DIoV-zVOLSwKdsycycAy9?usp=sharing).

[2021-12-11 14:17] Yuri-MRQ commented on #40070
same problem here tf 2.7.0

[2021-12-11 14:43] pn12 opened #53390 "Cuda 10.2 compatible with which tensorlow-gpu version?"
I am getting error while importing tensorflow where it is looking cuda 11.0 version, I have cuda with 10.2, unable to find compatible TF version with 10.2.

Can anyone confirm the TF version ?

[2021-12-11 16:15] aritraMandal02 opened #53391 "AttributeError: 'Sequential' object has no attribute 'predict_classes'"
[code]

This codeblock is giving me the error shown below:

[code]

How can I solve this error? Please help.

Here is the link of the full code:
https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbDVSTGdJczNoa2ZBeXpObWxobGJldGd5Q2pLd3xBQ3Jtc0trSVRobkVBM2EtV3lTajlQNzhXbEhGTjN3WXhFTGo3d1U4b3h1Rjl4Rk9ubUVVWG95cUNfaWFoTHpmRlpEM1VmM2NrOXFqc21WYkRKZ0c3WWgtcE5VRV9kZF9pZDZMUDVmWn

[2021-12-11 18:23] sac-ux commented on #44110
only need for !pip install tensorflow==2.7.0  tensorflow-gpu==2.7.0 --upgrade
to solve hole problem

[2021-12-11 21:48] vashat commented on #11085
Now that Monterey is out, is anybody having any good performance with the new metal tensorflow plugin? For me it is still slow on M1. Mnist with vanilla cpu tensorflow gives me 1 s per epoch, metal tensorflow is now down to 7 s on the same hardware. More complex models don't even work at all, they just get stuck.

[2021-12-11 22:09] gaurxvreddy commented on #53377
Update : Still facing the issue

[2021-12-12 00:56] ymodak commented on #47021
Thanks for your issue. I think this is working as intended.
The directory structure is expected to like -
[code]
See https://www.tensorflow.org/api_docs/python/tf/keras/utils/text_dataset_from_directory#used-in-the-notebooks
Thanks!

[2021-12-12 01:59] ollie-bell commented on #52672
@rfrush do you know why a "fresh re-install of Miniforge" meant you stopped getting the message about `Could not identify NUMA node of platform GPU ID 0`? e.g. had you previously installed Miniforge via Homebrew rather than directly from the bash script?

[2021-12-12 03:00] rfrush commented on #52672
@ollie-bell  I had followed the instructions at https://developer.apple.com/metal/tensorflow-plugin/, which are very similar to https://makeoptim.com/en/deep-learning/tensorflow-metal.    It does appear that between the two installs the TensorFlow version had also updated, so there could be multiple factors leading to the fix.

[2021-12-12 03:37] skywo1f opened #53392 "exit code 409 when trying to run through tensorflow example in pycharm"
I am trying to go through the DCGAN example on the tensorflow website https://www.tensorflow.org/tutorials/generative/dcgan. it seems to run fine up until the step where it uses the generator generated_image = generator(noise, training=False). At that point it exits with error code Process finished with exit code -1073740791 (0xC0000409).

I am running on Windows 10 using pycharm. I have tried mes

[2021-12-12 06:31] #53183 closed

[2021-12-12 06:47] thoughtfuldata commented on #48939
@joooeey  How is this closed? that's a clear workaround rather than a solution

[2021-12-12 07:30] p30arena opened #53393 "Can't run inference with YAMNET based model that's been converted to TFLite"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes and No
- O

[2021-12-12 07:32] p30arena commented on #53393
I've seen a similar issue #10235 but I've no idea how to fix mine.

[2021-12-12 07:41] negvet opened #53394 "Not able to restore the model from config with tf.einsum operation"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.4.3 (also reproduced with 2.5.0 and 2.7.0)
- Python version: 3.8.10
- CUDA/cuDNN version: 11.0

**Describe the current behavior**
When restoring the model from config getting
`ValueError: Got 0 inputs for equation "bmhwf,bmoh->

[2021-12-12 08:35] aviaisr commented on #53247
Hi,
Any chance you can help me with the model I already trained on 2.4? It was trained for over a month and I need it to work soon. Re-training will take a lot of time.
Thanks.

[2021-12-12 10:29] sushreebarsa commented on #53391
@aritraMandal02
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2021-12-12 10:34] sushreebarsa commented on #53394
@negvet
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thanks!

[2021-12-12 10:39] mennyham commented on #39521
Didn't see the --copt ...

[2021-12-12 10:40] mennyham commented on #39521
I will try again

[2021-12-12 11:10] holongate commented on #52988
I don't want to be dismissive here, but there is a lack of understanding of the problem specifically introduced by TF 2.7:
- A conda environment does install native libraries and does ensure they will be found by the os dynamic loader mechanism for the programs that want to find these libraries.
- Until TF 2.7 this was the way it worked, like the gazillion other native apps (including cuda ones)
-

[2021-12-12 11:47] p30arena commented on #53393
I resized to 15600 and the error is gone.
But faced a new Error:

**RuntimeError: tensorflow/lite/kernels/complex_support.cc:43 output->type != kTfLiteFloat32 (INT8 != FLOAT32)Node number 46 (COMPLEX_ABS) failed to prepare.**

seems that TFLite doesn't support complex and can't generate spectrogram using it.

[2021-12-12 12:00] jocampo2 opened #53395 "tf.sparse.sparse_dense_matmul vs tf.matmul has numerical error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution: MacOs Cataline 10.15.7
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): tested with 2.4.1, 2.6.0 2.7.0
- Python version: 3.7.12
- CUDA/cuDNN version: Used cpu
- GPU model and memory:

**Bug**

Numer

[2021-12-12 12:14] y-ich commented on #11085
Hi.

I think that this issue should be answered as the progress of this article "[Accelerating TensorFlow Performance on Mac](https://blog.tensorflow.org/2020/11/accelerating-tensorflow-performance-on-mac.html)" here.
I want to know the progress of the plan merging tensorflow-macos.

If your question is about tensorflow-macos and tensorflow-metal plugin rather than tensorflow itself, I guess that

[2021-12-12 13:35] TerenceYang commented on #51422
@hongye007 I have the same problem when deploy super-resolution model on android device

[2021-12-12 15:15] mohantym commented on #53388
Hi @chunduriv! Could you please look at this issue?

[2021-12-12 15:22] mohantym commented on #53157
Ok @Nyrio! Thanks for the confirmation!

[2021-12-12 16:24] sushreebarsa commented on #53357
@dnlmlr Sorry for the late response!
The description in the tutorial is correct since it is unsupervised learning so we require only input to learn patterns from it.Here we define two things one is **Encoder** which compresses the image that means conversion to a smaller dimension and second one is **Decoder** which takes the small image and reconstruct it back. In this case we call the  fit funct

[2021-12-12 16:39] dnlmlr commented on #53357
I think there is a misunderstanding here. I was talking specifically about the **denoising** (second) example as you can see in the title and also the issue text.
You seem to be talking about the first example instead, which just tries to reconstruct the input image.

Also I **never said** that any of the examples **didn't work**, I just said that I think the wrong input images were used in the de

[2021-12-12 17:00] sushreebarsa commented on #53357
@dnlmlr Thank you for the quick response!
Would you like to submit a PR to fix this issue else I can submit a PR on your behalf ?

[2021-12-12 17:18] dnlmlr commented on #53357
Feel free to submit the PR on my behalf. The change should literally be only 6 characters

[2021-12-12 17:28] Saduf2019 commented on #53392
@skywo1f
Can you please try on colab and see if you face the same issue, you use gpu option aswell.

[2021-12-12 17:32] Saduf2019 commented on #53390
@pn12
We see that you have not mentioned the tf version used, please use issue template a sit helps us help you.
Please refer to this link to use the [correct compatibility](https://www.tensorflow.org/install/source_windows#gpu).

[2021-12-12 17:39] skywo1f commented on #53392
I am using the gpu option, I installed cuda/cudnn/drivers and made sure that tensorflow did not throw any errors with regards to that. Running the code on google's colab does not replicate the error

[2021-12-12 18:05] skywo1f commented on #53392
pycharm defaults to python 3.9. is it possible that tensorflow is not compatible with python 3.9?

[2021-12-12 20:38] nikhilanayak commented on #30803
I have a similar error when running my model. I created a basic Colab notebook that reproduces this error without actually loading data.
[https://colab.research.google.com/drive/1GPR8c1Buy6bpw1PQmiqYBUjdJfjI8_Mh?usp=sharing
](https://colab.research.google.com/drive/1GPR8c1Buy6bpw1PQmiqYBUjdJfjI8_Mh?usp=sharing)
This is running on the TPU Hardware Accelerator with a Standard Runtime. Everything els

[2021-12-12 21:37] pn12 commented on #53390
@Saduf2019 - It's resolved now, there was a version compatibility issue among cuda , tf , cudnn.
Thanks.

[2021-12-12 21:37] #53390 closed

[2021-12-12 22:49] DocGarbanzo opened #53396 "module 'tensorflow.python.compiler.tensorrt.utils' has no attribute 'versionTupleToString'"
# Tensorrt conversion fails on Ubuntu

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): 2.7 binary (via pip)
- Tenso

[2021-12-13 01:50] no-define commented on #53381
@tilakrayal  hi,I've tried  manually generating pb.h by command  `sudo protoc  <protofile>  --cpp_out=./ `
, now the original error has been fixed.  Thank you anyway!

[2021-12-13 01:52] #53381 closed

[2021-12-13 03:29] jaeyung1001 commented on #53352
hi @chunduriv !. I follow the environment that you told me the link.
- tensorflow-gpu 2.6.0, CUDA11.2, cuDNN8.1

first I created the virtualenv using conda. and ran the command like below
- conda create -n check python=3.8
- pip install tensorflow-gpu==2.6.0

but it's still cannot recognize my local gpu machine. output like below
[code]

[2021-12-13 03:38] tangjie77wd commented on #53381
You could see the solution in https://blog.csdn.net/wd1603926823/article/details/92843830 because the author solved the similar problem like the following shows:
`./unsupported/Eigen/CXX11/Tensor:1:42: error: #include nested too deeply
tensorflow/core/lib/core/threadpool.cc:88:49: error: expected template-name before ‘<’ token
 struct ThreadPool::Impl : Eigen::ThreadPoolTempl<EigenEnvironment> {

[2021-12-13 03:46] IchiruTake opened #53397 "[BUG] Retrained model on new session cause garbage for saving"
I still get this issues at Tensorflow 2.5+, Tensorflow-GPU 2.5+, Keras-2.4.3. h5py=3.1.0
Even reinstalling Tensorflow, keras, and h5py does not resolve the problem.

The model I made is just a stack of Dense layer without anything special.
Similar to all people, I can evaluate and predict good in the same training kernel after training. But saving a model by `model.save()` after training, and then

[2021-12-13 03:55] multiverse-tf commented on #53146
@kodonnell, thanks again for clarification! I failed to reproduce the issue on my side with the [Python label image example](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/examples/python) on a Linux machine (where I explicitly turned on XNNPACK-by-default feature).

To help debug the issue further (as you did compilation on your own :-)), could you change the tensorflow  lit

[2021-12-13 04:00] sushreebarsa commented on #53397
@IchiruTake
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-12-13 04:09] khatrishubham88 commented on #30493
Hi,
It appears this functionality is still not present, or am I confused. The desired type would be equivalent to https://docs.python.org/3/library/functions.html#hex, int should be convertible to hex string and back.

[2021-12-13 04:17] khatrishubham88 opened #53398 "To support casting int32 in HEX format"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.x
- Are you willing to contribute it (Yes/No): Maybe

**

[2021-12-13 04:23] sushreebarsa commented on #43693
@pmeckoni Could you please refer to the above [comment](https://github.com/tensorflow/tensorflow/issues/43693#issuecomment-964606622) and let us know if it helps?Thanks!

[2021-12-13 04:24] abhmul opened #53399 "tf.reduce_logsumexp throws exception when reducing over RaggedTensor"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS P

[2021-12-13 04:28] pmeckoni commented on #43693
No response. I have moved on and no longer have access to the computer which had nvidia. So there is no way I can use this now.

[2021-12-13 05:02] junyiliu-1025 commented on #47973
Hi, I am new in tflite, and I got the same issue with you, Did you solve the problem?

[2021-12-13 05:11] wangwei-cmd opened #53400 "00M report after I upgrade tensorflow for tf2.5 to tf2.7"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-12-13 05:15] sushreebarsa commented on #53400
@wangwei-cmd
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-12-13 05:31] #53211 closed

[2021-12-13 05:46] mohantym commented on #39708
Hi @hohl!
We are checking to see whether you still need help in this issue . Did you check with above [suggestion](https://github.com/tensorflow/tensorflow/issues/39708#issuecomment-851420069) yet? Thanks!

[2021-12-13 05:53] adjhawar commented on #53372
I have tried to access the .trainable_variables and .variables attributes from the SavedModel but the lists returned from both are empty. However, I am able to run inference on the model, which implies that the variables are there in the model.
I wanted to know if there was a way to get the list of variables.
The task I am trying to accomplish is to retrain the some part of the model and for that

[2021-12-13 05:57] Saduf2019 commented on #53392
@skywo1f
Could you downgrade to 3.7/3.8 and see if you still face the issue. you may refer to similar compatibility issues.
#51573,#44485
As explained earlier unless we have all the required information we cannot help you, you may open this issue with pycharm or at the discussion forum.

[2021-12-13 06:07] mohantym commented on #39730
Hi @christopherbate!
We are checking to see whether you still need help in this issue .Have you checked above [suggestion](https://github.com/tensorflow/tensorflow/issues/39730#issuecomment-912710417) yet? Thanks!

[2021-12-13 07:00] OliverPfau commented on #47673
Every request making a prediction runs inside docker. So the idea was to preload the models, clone the appropriate model for the request, do the request in docker and dispose the copied model.

[2021-12-13 07:19] hohl commented on #39708
Sorry, I can‘t tell you anymore what I did to work around. I probably used `zip` as suggested, but I’m not sure anymore as it‘s already over a year ago. But I for sure figured out something to get the job done (either `zip` or some way to avoid the issue in the first place.)

[2021-12-13 07:37] wangwei-cmd commented on #53400
@sushreebarsa
The code script is here [https://github.com/tensorflow/tensorflow/issues/url](url). It cannot reporduce the isuue in colab since the code needs about 50G RAM memory and colab only give me 12.69G . Besides, colab doesn't has the RTX A6000.

When debugging the code, I found a strange phenomenon. When the number (not batch size) of training samples is small, the code can successfully ru

[2021-12-13 07:43] csdf-ssm opened #53401 "AFRG"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2021-12-13 07:46] csdf-ssm opened #53402 "When I use tensorflow_lite(1.13.1) it has report error it looks ..."
error tip : Model provided has model identifier 'AFRG', should be 'TFL3'

I have model.tflite when I creat
model = tflite::FlatBufferModel::BuildFromBuffer(newmodel_data, modellength);

How Can I do?

[2021-12-13 07:47] tilakrayal commented on #53284
@DanBmh ,
In order to reproduce the issue, the mentioned code is fairly complex.So it would be difficult for us to pinpoint the issue. Could you please get the example down to the simplest possible repro or colab gist?

[2021-12-13 07:50] tilakrayal commented on #40914
@jdduke ,
Can you please provide the details mentioned above.It helps to debug the issue.Thanks!

[2021-12-13 07:52] tilakrayal commented on #39167
@Ark-kun ,
Is this still an issue? Could you please confirm in TensorFlow latest stable version v.2.7. Thanks!

[2021-12-13 07:56] tilakrayal commented on #39056
@apcode ,
Can you please try the code as [commented](https://github.com/tensorflow/tensorflow/issues/39056#issuecomment-748243172) in latest stable v2.7 and let us know if the issue still persists.

[2021-12-13 08:04] tilakrayal commented on #38261
@plaffitte ,
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.7 and let us know if you are facing the same error. Thanks!