[2017-01-23 19:29] #6877 closed

[2017-01-23 19:33] rdipietro commented on #110
Sorry! I didn't notice that you had posted here. But note that you are making changes that I didn't need to make. Probably depends on specific versions of TF / cuda / gcc / whatever.

Side note: I still compile on MARCC because they only installed TF for Python 2.x, whereas I'm using 3.x.

[2017-01-23 19:36] drpngx commented on #6893
Got it. I think the PR was in the right direction, but depending on the `io_ops`, maybe in the wrong place. If it's a general bug in `io_ops`, then it should go there, otherwise, it should go in the wrapper code. The problem that I had was really about `./` which is not always portable. Do you want to resubmit the PR again?

[2017-01-23 19:43] yliu120 commented on #110
@rdipietro I used python 3.x locally on my computer and I uploaded my code to MARCC. It can still run with python 2.7.10b. In principle, in all python files of TF, they do some compatibility imports (from __future__ import print_function) and they use package six in the internal. However, for the compilation, you can still use python3.4 on MARCC to install TF. I don't think it will break if you us

[2017-01-23 20:06] jlebar commented on #6816
Running this through cuda-memcheck, I'm seeing a bunch of errors of the form

    ========= Invalid __global__ read of size 4
    =========     at 0x000000b8 in _copy
    =========     by thread (13,0,0) in block (866,0,0)
    =========     Address 0x3bdac0c83cce9646 is misaligned

That address is indeed misaligned.

The body of the _copy kernel (which you can get by setting the TF_CPP_MIN_VLOG_LE

[2017-01-23 20:20] drpngx commented on #6955
CC @mrry, @hawkinsp  as FYI.

I can sort of see how that would work on CPU only, but with GPU devices, and also XLA I can see that we would need to think carefully. A shallow tensor sounds like a great idea!

[2017-01-23 20:20] annarev commented on #6377
The fix commit is now in r1.0 branch. I will close this issue as fixed. Let me know if you still see any issue with negative axis concat grad.

[2017-01-23 20:20] #6377 closed

[2017-01-23 20:32] drpngx commented on #7011
I don't think we support splittable files.

[2017-01-23 20:42] amitsoni commented on #601
It was a permission issue for me. Thanks @PhoenixDai, following fixed it.

`chmod 655 /var/lib/nvidia-docker/volumes/nvidia_driver/367.57/lib64/libcuda.so.367.57`

[2017-01-23 20:43] gunan commented on #6850
Another possible workaround:
@hawkinsp would it work if you add the path `/usr/lib/x86_64-linux-gnu` to your `LD_LIBRARY_PATH` ?

[2017-01-23 20:46] drpngx commented on #7013
I *think* @yaroslavvb is right. From reading the code, it should be coming from [GetChildren](http://google3/third_party/tensorflow/core/platform/posix/posix_file_system.cc?l=201), which calls `opendir`. The only two that could arise in this situation are too many (global/process) open files, or too many links (unlikely unless you have a loop of sorts).

Could you try to debug? Reboot, reduce the

[2017-01-23 20:49] drpngx commented on #7008
@zheng-xq for any comments about the default exporter behavior. Should we fix this?

[2017-01-23 20:50] drpngx commented on #7014
@aselle for numpy compat.

[2017-01-23 20:54] swenner commented on #6647
The same bug is triggered with the text_classification_character_cnn.py example.

Debian 9, Python 3.5.3rc1, Tensorflow 0.12.1 (cpu)

...
  File "/home/simon/.local/lib/python3.5/site-packages/tensorflow/python/ops/variable_scope.py", line 850, in get_variable
    custom_getter=custom_getter)
  File "/home/simon/.local/lib/python3.5/site-packages/tensorflow/python/ops/variable_scope.py", line 346,

[2017-01-23 21:05] drpngx commented on #6950
Closing this to tidy up issues. Feel free to re-open another issue with a different title if you want to track.

[2017-01-23 21:05] #6950 closed

[2017-01-23 21:15] iantheconway opened #7019 "Windows Cmake RelWithDebInfo not working"
Summary:
I'm having an issue getting TensorFlow to build with debug symbols in Windows using Cmake.

About my system:

Windows 10
Version 1607
Build 14393.693

Cmake version 3.7.1

Visual Studio Community 2015

Clone tensor flow repository from https://github.com/tensorflow/tensorflow

git clone https://github.com/tensorflow/tensorflow.git

Change directory to tensorflow\tensorflow\contrib\cmake

[2017-01-23 21:33] drpngx commented on #7019
It looks like you need to place the binaries in your `%PATH%`. Can you try that?

[2017-01-23 21:42] drpngx commented on #6931
It's trying to access an `install` file. Not sure what this could be. @zheng-xq it looks like it broke last week.

[2017-01-23 21:48] foxik commented on #6846
Working on it.

[2017-01-23 21:51] iantheconway commented on #7019
Thanks for the response!
All binaries from the build? Meaning the ones that appear in the tensorflow\tensorflow\contrib\cmake\build\RelWithDebInfo folder?
I added C:\tesorflow\tensorflow\tensorflow\contrib\cmake\build\RelWithDebInfo to my path, and I'm rebuilding the solution. I'll reply after it's done building or trying to build.

[2017-01-23 21:53] monajalal opened #7020 "ImportError: cannot import name control_flow_ops"
Please suggest fixes. I just recently installed tf for Python2.7 on Ubuntu 14.04 and CUDA8.
[code]

[2017-01-23 22:17] aselle commented on #372
Closing due to lack of recent activity. Thanks!

[2017-01-23 22:17] #372 closed

[2017-01-23 22:17] aselle commented on #421
This is now done. Thanks!

[2017-01-23 22:17] #421 closed

[2017-01-23 22:18] aselle commented on #452
Closing due to lack of recent activity. Please open a new issue referencing this one if it is still an issue. Thanks!

[2017-01-23 22:18] #452 closed

[2017-01-23 22:19] aselle commented on #476
Shape inference is now in C++ as is partial gradients. Work continues, but closing due to lack of recent activity. Please open a new issue referencing this one if it is still an issue. Thanks!

[2017-01-23 22:19] #476 closed

[2017-01-23 22:30] drpngx commented on #6897
@liuziwei I tried on a Ubuntu system instead, with `gcc-4.8.4`, and it worked. Closing since we can't repro. Please re-open if you're really sure it's a problem with the TF code.

[2017-01-23 22:30] #6897 closed

[2017-01-23 22:32] drpngx commented on #7020
You are not supposed to use `control_flow_ops` directly, since this is not part of the public API. Please use `import tensorflow as tf` and then `tf.cond` etc directly.

[2017-01-23 22:59] drpngx commented on #3457
Closing this as per @jmchen-g comment on the PR. Let us know if it's still not fixed.

[2017-01-23 22:59] #3457 closed

[2017-01-23 23:01] drpngx commented on #3469
Closing this -- we only support Makefile builds right now.

[2017-01-23 23:01] #3469 closed

[2017-01-23 23:02] drpngx commented on #3472
The snippet is no longer a valid link. Please ask on stackoverflow if you need more info.

[2017-01-23 23:02] #3472 closed

[2017-01-23 23:02] drpngx commented on #3478
I assume this has been fixed in the meanwhile. Please open a new if you are still experiencing issues.

[2017-01-23 23:03] drpngx commented on #3504
Closing due to inactivity. Feel free to open a new issue if you still have a problem.

[2017-01-23 23:04] samjabrahams commented on #3469
Ok, no worries- I'll keep maintaining my repo for those who want a Python interface on their Raspberry Pi.

[2017-01-23 23:04] drpngx commented on #3506
We now have spiffy new docs. Feel free to open a new issue if you have issues with the new docs on our devsite.

[2017-01-23 23:05] drpngx commented on #3532
Closing due to inactivity. Feel free to open a new bug if you want to track additional issues.

[2017-01-23 23:05] drpngx commented on #3533
Please upgrade to a newer version, `0.12.1` or master. Feel free to open a new issue if the problem persists.

[2017-01-23 23:07] drpngx commented on #3537
Thanks @jacob-meacham for your comment! Marking as fixed. If the problem still persists with `0.12.x` and/or `master`, feel free to open an issue.

[2017-01-23 23:08] drpngx commented on #3539
Marking as fixed. Thanks @ilblackdragon !

[2017-01-23 23:09] drpngx commented on #3541
Please open a new issue if the short-term fix is still required in recent versions of tensorflow.

[2017-01-23 23:10] #3541 closed

[2017-01-23 23:11] drpngx commented on #3543
@petewarden 's solution should work. Feel free to open a new issue if the problem persists.

[2017-01-23 23:11] #3543 closed

[2017-01-23 23:11] #3478 closed

[2017-01-23 23:11] #3504 closed

[2017-01-23 23:11] iantheconway commented on #7019
Unfortunately, adding the build directory to path did not fix my issue. The build is failing with the same errors.

[2017-01-23 23:12] #3506 closed

[2017-01-23 23:12] #3532 closed

[2017-01-23 23:12] #3533 closed

[2017-01-23 23:12] #3537 closed

[2017-01-23 23:12] #3539 closed

[2017-01-23 23:13] drpngx commented on #3563
Closing due to inactivity. Feel free to open a new bug if the problem persists with more recent versions.

[2017-01-23 23:13] #3563 closed

[2017-01-23 23:14] drpngx commented on #3569
@jplu feel free to open a new issue if the problem persists.

[2017-01-23 23:14] #3569 closed

[2017-01-23 23:15] drpngx commented on #3591
Thanks @tobegit3hub :)

[2017-01-23 23:15] #3591 closed

[2017-01-23 23:15] drpngx commented on #3592
Closing due to inactivity. Feel free to open a new github issue if the problem is still current.

[2017-01-23 23:15] #3592 closed

[2017-01-23 23:19] drpngx commented on #7019
Oh wait, how did you change the build to `x86_64`? In visual studio, you have to make sure all projects are building for the right target. They are usually copied from the 32-bit `x86` target, then you have to change all projects in the solution. Make sure

[2017-01-23 23:20] drpngx commented on #3596
Closing due to inactivity. Please open a new github issue if the problem persists with recent versions.

[2017-01-23 23:20] #3596 closed

[2017-01-23 23:20] drpngx commented on #3607
We have a new doc, so this is obsolete or soon-to-be obsolete.

[2017-01-23 23:20] #3607 closed

[2017-01-23 23:22] drpngx commented on #3619
Closing due to inactivity. I gather from your last comment that you figured it out.

[2017-01-23 23:22] #3619 closed

[2017-01-23 23:25] drpngx commented on #3628
@barbolo is that still true of recent versions of TF?
@gunan in case we have to cherry-pick.
@zheng-xq FYI.

[2017-01-23 23:27] drpngx commented on #3631
Is this the makefile build?

[2017-01-23 23:28] iantheconway commented on #7019
I used x64 as a flag for cmake, and then I change to x64 in Visual Studio's Solution Platform drop down menu. Is there something else I need to change in the individual project? My solution's configuration properties says that all projects are trying to build as RelWithDebInfo x64.

[2017-01-23 23:28] drpngx commented on #3649
Closing this as we moved to `8.0`. Feel free to open a new issue if the problem persists with recent versions.

[2017-01-23 23:29] drpngx commented on #3658
We changed things around with the MonitoredSession if memory serves. @goncalopp is this still current?

[2017-01-23 23:30] drpngx commented on #3660
We had many iterations on that code since Aug. Closing this. Feel free to open a new bug if the problem persists in recent versions.

[2017-01-23 23:30] #3660 closed

[2017-01-23 23:30] drpngx commented on #3663
Closing this since it's based on old code. Feel free to open a new issue if the problem persists with new code.

[2017-01-23 23:30] #3663 closed

[2017-01-23 23:31] drpngx commented on #2840
Closing since this is based on old code that changed substantially in the last six months. Feel free to open a new issue if the problem persists with new code.

[2017-01-23 23:31] #2840 closed

[2017-01-23 23:31] monajalal opened #7023 "ImportError: No module named regularizers"
Any idea how to fix this for Keras on TensorFlow?

[code]

[2017-01-23 23:32] drpngx commented on #2848
Closing this since it has been a while and the code might have changed. Feel free to open a new issue if the problem persists with new code.

[2017-01-23 23:32] #2848 closed

[2017-01-23 23:32] drpngx commented on #2874
Closing this since the code might have change substantially around this. Feel free to open a new issue if the problem persists with new code.

[2017-01-23 23:32] #2874 closed

[2017-01-23 23:35] jhseu commented on #7011
We don't currently support splittable files, but I'm planning to support that in a future release.

For now, you should split data at training data generation time.

[2017-01-23 23:35] #7011 closed

[2017-01-23 23:35] drpngx commented on #2903
Closing this, since either:

* it's an install issue with inconsistent versions of protobuf
* it's a problem where you are trying to load multiple versions of protobuf in the same process space. You can't do that. You could attempt to use the `multiprocess` library if you are intent on this.

Feel free to reopen if that's not the case or if you want more information.

[2017-01-23 23:35] #2903 closed

[2017-01-23 23:37] drpngx commented on #2973
I see. That sounds to me like a good feature to have. Feel free to open a PR.

[2017-01-23 23:37] drpngx commented on #3017
Assuming @gunan 's instructions worked.

[2017-01-23 23:37] #3017 closed

[2017-01-23 23:38] drpngx commented on #3039
This references code that might have changed substantially. Feel free to open a new issue if the problem persists with new code.

[2017-01-23 23:38] #3039 closed

[2017-01-23 23:39] yaroslavvb opened #7025 "Getting "Dst tensor is not initialized." when really the problem is out of GPU memory"
This is the stack trace we sometimes get when trying to use TensorFlow on a GPU that's occupied by another process. It would help debugging if the error said something about memory.

@zheng-xq

tf.version: '0.12.1-1934-g27fca7d-dirty'
(nightly from last week)

[code]

[2017-01-23 23:40] drpngx commented on #3044
I think that's reasonable to have. Just submit a PR, and we'll handle it from there. Images are a bit tricky for us to sync, so we might remove them from github and push them separately to the documentation site. Feel free to open a PR and CC me on it.

[2017-01-23 23:41] drpngx commented on #3087
Assuming this was fixed in later versions. Feel free to open a new issue if the problem persists with new code.

[2017-01-23 23:41] #3087 closed

[2017-01-23 23:42] drpngx commented on #3101
Superseded by #6590.

[2017-01-23 23:42] #3101 closed

[2017-01-23 23:44] drpngx commented on #3128
@KendallWeihe please open a new one referencing this one and CC me and @gunan on this.

We test a lot of our code with asan and msan, but if this fell through the cracks that's a really important issue for us.

[2017-01-23 23:44] #3128 closed

[2017-01-23 23:45] drpngx commented on #3155
Feel free to submit a PR clarifying the error message.

[2017-01-23 23:45] #3155 closed

[2017-01-23 23:45] barbolo commented on #3628
@drpngx I use TensorFlow 0.12.0rc0. I can check the exact commit tomorrow if you need that information.

[2017-01-23 23:49] drpngx commented on #7019
Visual studio project/solution files can be very annoying, because propagation of configuration sometimes needs a lot of manual setting on the dropdowns by hand. I can't remember the project view on the top of my head. Can you try the www.dependencywalker.com tool on the pywrap DLL and see if there's anything missing from there?

[2017-01-23 23:50] ekelsen commented on #6914
Another solution could be to separate the binaries based on the compute capabilities they support.  We already release many binaries...so I'm not sure if this would be considered crossing the line to too many.

[2017-01-23 23:50] drpngx commented on #3160
Closing due to inactivity. Feel free to open a new issue if you are still interested in solving this.

[2017-01-23 23:50] #3160 closed

[2017-01-23 23:51] drpngx commented on #3172
This references code that moved quite substantially in the last few months. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-23 23:52] drpngx commented on #3180
Now that XLA is open-source, this might be worth reviving. Feel free to open a new issue referencing this one if you're ready to go!

[2017-01-23 23:52] #3180 closed

[2017-01-23 23:58] drpngx commented on #3628
Thanks!

[2017-01-23 23:59] amortazi opened #7026 "It seems that tf.scatter_nd only can run on CPU?"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-01-24 00:00] drpngx commented on #3208
@yuanbyu I think I saw something recently about that. Was that fixed at some point recently?

[2017-01-24 00:00] amortazi commented on #7026
Is there any way that I can run tf.scatter_nd on GPU? or is there an equivalent command?

[2017-01-24 00:01] drpngx commented on #3233
Thank you for reporting this. Since the code has changed substantially since the issue was open, it's not clear whether it's still valid. Please open a new issue if the problem persists with new versions of tensorflow.

[2017-01-24 00:01] drpngx commented on #3267
Since the code has changed substantially since this issue was opened, it might be obsolete. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 00:01] #3267 closed

[2017-01-24 00:02] drpngx commented on #3289
Closing since we don't have a repro. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 00:02] #3289 closed

[2017-01-24 00:02] drpngx commented on #3309
Closing due to inactivity. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 00:02] #3309 closed

[2017-01-24 00:03] drpngx commented on #3358
Closing due to inactivity. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 00:03] #3358 closed

[2017-01-24 00:03] jrajagopal commented on #1325
An update - to run inference, I am now using tf.get_variable to initialize the model parameters (randomly), and am then overwriting the values for each parameter with the learned model loaded using tf.train.import_meta_graph(). Clearly a workaround and sub-optimal, but necessary given the situation.

[2017-01-24 00:04] drpngx commented on #3370
Closing since it's a bit open-ended. Feel free to open a new issue if we need to reconsider.

[2017-01-24 00:04] #3370 closed

[2017-01-24 00:05] drpngx commented on #3436
Closing due to inactivity. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 00:05] #3436 closed

[2017-01-24 00:06] drpngx commented on #3451
Closing due to inactivity. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 00:06] #3451 closed

[2017-01-24 00:07] drpngx commented on #1291
The code has changed substantially since the issue has opened. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 00:07] #1291 closed

[2017-01-24 00:10] drpngx commented on #1519
Fixed by #4378.

[2017-01-24 00:10] #1519 closed

[2017-01-24 00:10] nikitakit commented on #3233
@drpngx Please don't close this.

Nothing has "changed substantially" that I am aware of -- it took me less than a minute to re-run the above sample code in tensorflow 0.12 (I just had to fix some trivial renames). The same error persists.

Code to reproduce is:
[code]

[2017-01-24 00:10] drpngx commented on #1749
We revamped our docs. Feel free to open a new issue if this is still missing from our new docs.

[2017-01-24 00:10] #1749 closed

[2017-01-24 00:12] drpngx commented on #1981
OK, it sounds like the code might have moved around since this issue was last touched. Feel free to open a new github issue if the problem still persists in recent versions, referencing this one.

[2017-01-24 00:12] #1981 closed

[2017-01-24 00:13] drpngx commented on #7023
@fchollet FYI since this is Keras-related.

Could you point to the code?

[2017-01-24 00:14] drpngx commented on #7025
Classifying as "docs" but this is really an error message / error propagation issue.

[2017-01-24 00:18] iantheconway commented on #7019
I'm not sure that I have a pywrap DLL. I have an obj and a lib. Is this a problem?

[2017-01-24 00:19] drpngx commented on #7026
Some operations should work. Which operations are you looking for?
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/scatter_nd_op.cc#L348

[2017-01-24 00:22] drpngx commented on #3233
@yuanbyu this looks like a bug in `partial_run`.

[2017-01-24 00:24] yaroslavvb commented on #7025
I can change the message to read "Dst tensor is not initialized (possibly caused by Out of Memory)" unless @zheng-xq has a better idea

[2017-01-24 00:25] drpngx commented on #2076
Are we ready to proceed on this?

[2017-01-24 00:25] amortazi commented on #7026
I am looking for tf.scatter_nd. when I am looking at log_device_placemnt it is saying that it is running in CPU. I am using tf.device to run it on GPU. The GPU version of this:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/scatter_nd_op.cc#L339

[2017-01-24 00:26] drpngx commented on #2109
Clsoing due to inactivity.

[2017-01-24 00:26] #2109 closed

[2017-01-24 00:27] drpngx commented on #2126
Closing due to inactivity. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 00:28] drpngx commented on #2288
Closing due to inactivity. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 00:28] #2288 closed

[2017-01-24 00:29] drpngx commented on #2294
Closing due to inactivity. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 00:29] #2294 closed

[2017-01-24 00:29] bhack commented on #2126
@drpngx From last @vrv comment we are waiting news from google on this. Any progress or public roadmap?

[2017-01-24 00:31] drpngx commented on #7026
Could you try registering the kernel for GPUs and see what happens? I'm not super familiar with that code and I'm not sure that it would work.

[2017-01-24 00:32] drpngx commented on #7026
@rmlarsen might have some input.

[2017-01-24 00:32] drpngx commented on #2164
Can you sync and try again? I think it was a transient error.

[2017-01-24 00:34] drpngx commented on #2307
Sorry we don't have the cycles to support that. It's a known problem. It might be worth asking the community on stackoverflow.

[2017-01-24 00:35] drpngx commented on #2342
Closing due to inactivity.

[2017-01-24 00:35] #2342 closed

[2017-01-24 00:36] drpngx commented on #2377
Not sure if it's obsolete. Closing since it might have been done. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 00:36] #2377 closed

[2017-01-24 00:37] fchollet commented on #7023
If this is the Keras regularizers module that this is about, shouldn't it be `from keras.regularizers import EigenvalueRegularizer`?

[2017-01-24 00:37] drpngx commented on #7019
Yes. That's strange, it should have been produced by the build. Would you mind putting the build logs somewhere on pastebin?

[2017-01-24 00:38] vrv commented on #2126
@benoitsteiner is working on better cost models for auto-assignment I think, but I don't know what the expected roadmap for that work is.

C++ shape inference theoretically makes it possible to do an initial-placement algorithm that is better than the simple_placer, but right now the python runtime still maintains shape information that is not propagated to C++.  I think we need to wait for the co

[2017-01-24 00:43] amortazi commented on #7026
I am not sure how i should register it!

[2017-01-24 00:43] bhack commented on #2126
I don't really know how you are solving this in production or managed cloud :) I know that you cannot disclose it but I don't think that you are handling manual placement.

[2017-01-24 00:44] ispirmustafa commented on #6132
We're making "allow_soft_placement" default in Estimator implementation.
That should fix this issue.

[2017-01-24 00:44] jlebar commented on #6816
Although _copy has three arguments, we seem to be passing only two when we call it.  (Maybe this is intentional; the kernel never uses the third arg.)  But in addition, those two args are the same pointer.  That...does not seem intentional.

[2017-01-24 00:47] iantheconway commented on #7019
[Build Output.txt](https://github.com/tensorflow/tensorflow/files/725368/Build.Output.txt)

[2017-01-24 00:49] martinwicke commented on #6132
@vvpreetham it's surprising that allow_soft_placement would not have fixed this. How did you set it?

[2017-01-24 00:50] amortazi commented on #7026
Even I couldn't find scatter_nd_op.cc file in my tensorflow directory. Can you give me some hint where is should be located?

[2017-01-24 00:52] amortazi opened #7027 "Is there any GPU implementation of tf.stack for int64?"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-01-24 00:52] ispirmustafa commented on #6780
Agreed, I'll add recoverable support to UnavailableError.

[2017-01-24 00:53] amortazi commented on #7027
I am wondering if there is any GPU implementation of tf.stack? It seems that tf.stack only can run on CPU. Is there any equivalent command that I can use it in GPU?
Thanks

[2017-01-24 01:06] amortazi opened #7029 "tensorflow has no attribute 'parallel_stack'"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-01-24 01:08] amortazi commented on #7029
I was trying import tf.parallel_stack, but I got following error:
'module' object has no attribute 'parallel_stack'
I am using tensorflow version 0.12, python 2.7 in ubuntu 14.
Thanks

[2017-01-24 01:08] vvpreetham commented on #6132
Thanks for the quick response Wicke.

I have done the following: tensorflow (v0.12)

In
the tensorflow/lib/python3.5/site-packages/tensorflow/contrib/learn/python/learn/estimators/run_config.py

Line 241: I have changed the code to:
    self.tf_config = ConfigProto(allow_soft_placement=true,....

*Then in my files: *
I am using a LinearRegressor as follows:
*       config_ = run_config.RunConfig()

[2017-01-24 01:14] vvpreetham commented on #6132
Also, I am using the estimator as follows:

        estimator.fit(input_fn=lambda: feed_fn(batch_df_train), steps=train_steps)

[2017-01-24 01:25] yaroslavvb opened #7030 "Feature Request: an op that returns bytes_in_use for its device"
We are trying to optimize some models to fit into TitanX's 12GB of RAM, and it's hard because of lack of transparency in TF available memory.

What would help this situation is an op that returns amount of bytes on its device when executed. Something similar to what's done in [stack_ops](https://github.com/tensorflow/tensorflow/blob/64edd34ce69b4a8033af5d217cb8894105297d8a/tensorflow/core/kernels/

[2017-01-24 01:26] yaroslavvb commented on #7029
This op was removed in github.com/tensorflow/tensorflow/commit/705cc933, the replacement is called `tf.stack`

[2017-01-24 01:29] #7029 closed

[2017-01-24 01:33] drpngx commented on #2453
Use this file: https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docker/run_jupyter.sh#L1

Either copy in your directory, or run the docker build directory from there.

[2017-01-24 01:33] #2453 closed

[2017-01-24 01:35] drpngx commented on #2467
@daeyun did @vincentvanhoucke 's suggestion work?

[2017-01-24 01:36] drpngx commented on #2471
Closing due to inactivity. I'm assuming you did the same as @daeyun .

[2017-01-24 01:36] #2471 closed

[2017-01-24 01:37] yaroslavvb commented on #7027
Native op seems to be called Pack and I see a GPU kernel registration for it in [pack_ops.cc](https://github.com/tensorflow/tensorflow/blob/64edd34ce69b4a8033af5d217cb8894105297d8a/tensorflow/core/kernels/pack_op.cc#L142)

[2017-01-24 01:38] monajalal commented on #7023
@fchollet  now that I used your line of code, that error is removed, however, I get this new error, can you provide feedback?
[code]

The code is:
'''This script reuses pieces of code from the post:
"Building powerful image classification models using very little data"
from blog.keras.io
and from:
https://www.kaggle.com/tnhabc/state-farm-distracted-driver-detection/keras-sample
The training data c

[2017-01-24 01:40] drpngx commented on #7027
Yes, to second what @yaroslavvb said, there is one and it's calling [`ConcatGPU`](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/pack_op.cc#L116) if the conditions are right. You shouldn't have to do anything to invoke it.

[2017-01-24 01:41] drpngx commented on #2501
Closing due to inactivity. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 01:41] #2501 closed

[2017-01-24 01:41] drpngx commented on #2599
Probably obsolete.

[2017-01-24 01:41] #2599 closed

[2017-01-24 01:43] drpngx commented on #2655
@wangyang0918 I didn't find a PR there yet. Hope you're progressing.

[2017-01-24 01:46] drpngx commented on #2760
Closing due to inactivity, not sure if it's obsolete. Feel free to re-open.

[2017-01-24 01:46] #2760 closed

[2017-01-24 01:49] benoitsteiner commented on #2126
We are now able to predict memory usage and performance for each operation of a TensorFlow graph. With this data we can start the actual work on optimizing TensorFlow models. We're completing work on a first optimizer that improves the performance of several models by about 20%, and we've also started to find a good device placement in parallel.
We'll start open sourcing this work as it matures. I

[2017-01-24 01:49] drpngx commented on #2807
Anyone tried on TitanX?

@lihungchieh did you try compiling the latest code with `--config=opt`? It should have `-march=native`, perhaps that helps on CPU.

[2017-01-24 01:51] bhack commented on #2126
@benoitsteiner Thank you for the update. We can live this open to track relevant progress.

[2017-01-24 01:51] drpngx commented on #1045
@sherrym any decision on this?

[2017-01-24 01:52] drpngx commented on #2714
Closing due to inactivity. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 01:52] #2714 closed

[2017-01-24 01:55] bhack commented on #2126
/cc @jhseu

[2017-01-24 01:56] lwohlhart commented on #6717
thank you for the fix !
i guess we can close this then

[2017-01-24 01:57] #6717 closed

[2017-01-24 02:01] drpngx commented on #851
Closing since @rwightman / @MatthewKleinsmith solution seems to work, though not quite a seamless out-the-box experience. Feel free to reopen.

[2017-01-24 02:01] #851 closed

[2017-01-24 02:02] drpngx commented on #586
Fixed by commit above.

[2017-01-24 02:02] #586 closed

[2017-01-24 02:03] drpngx commented on #837
I'm assuming that this is checked in. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 02:03] #837 closed

[2017-01-24 02:06] drpngx commented on #5
Could we break up this issue and file separate issues for each feature in the Java interface? It'll make easier to track/parse, then we can close this issue.

[2017-01-24 02:08] drpngx commented on #7026
It should just be in core/kernels/scatter_nd_op.cc. You should run the same `TF_CALL` macro for all types as in the CPU version, but instead register the GPU ones, if that makes sense. If you have repro instructions on how to test I could give it a shot on my end.

[2017-01-24 02:12] drpngx commented on #7030
@prb12 @mrry @vrv
That sounds like a pretty useful idea.

[2017-01-24 02:24] asimshankar commented on #5
@drpngx : My intention is to get a couple more changes in (reading tensors from buffers and setting up the binary release) before closing this out like we did for Go and having features/bugs be filed individually. So hopefully soon.

[2017-01-24 02:26] manuzhang commented on #2655
@drpngx Note there is also [YARN-6043 TensorFlow on YARN](https://issues.apache.org/jira/browse/YARN-6043) in the Hadoop community that doesn't require docker. You may check out the details in the design document.

[2017-01-24 02:30] vrv commented on #2126
Probably through hacks and common deployment patterns. :P

[2017-01-24 02:38] drpngx commented on #3233
Here's the stack trace:

[code]

`_do_run` calls `_do_call` with this:

[code]

Note that the error message talks about `Placeholder_2`, not `Placeholder_1`.

[2017-01-24 02:39] jhseu commented on #6968
I haven't been able to reproduce it yet. Do you happen to have a script that I can use?

It seems unlikely to be related to the jemalloc change. We don't (and technically can't) override Python's malloc/free. My guess is that setting tcmalloc is just hiding the error and that the issue is in the script itself.

If you have time, mind disabling jemalloc in ./configure and trying again?

[2017-01-24 02:39] drpngx commented on #5
Sounds good, thanks!

[2017-01-24 02:40] vrv commented on #7030
@yaroslavvb maybe try writing it as a custom op using load_op_library for now so you can try the idea out and see how useful it is for you first -- can always add it to the core later if it's widely useful.

[2017-01-24 03:08] deepankar1994 opened #7031 "TypeError: Expected int32, got list containing Tensors of type '_Message' instead."
Hi,
I am using TF ver 0.12.head on Ubuntu 16.04 Python 2.7 and following [this](https://github.com/tensorflow/models/blob/master/slim/slim_walkthough.ipynb) for learning inception model in TF Slim
[code]
However I am getting the following issue when running this:
[code]

[2017-01-24 03:08] b0noI commented on #2076
drpngx@ should be merged soon.

[2017-01-24 03:26] drpngx commented on #3233
OK, I need to call it a day for now but we're failing to find it in `name_to_node` here:
https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtime/direct_session.cc#L822
and when using `InteractiveSession` we're not inserting it in the [values](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtime/direct_session.cc#L962).

[2017-01-24 03:29] ppwwyyxx commented on #3649
The problem still exists.
Testing with tensorflow whl from today's nightly build.
cuda 8.0.44, ubuntu 16.04. TitanX-Pascal
The output of the snippet I posted originally:
[code]

[2017-01-24 03:32] drpngx commented on #3649
@rmlarsen maybe something you're interested in?

[2017-01-24 03:35] drpngx commented on #7031
Thanks for contacting us! This is better asked on stackoverflow, where we monitor all questions with the `tensorflow` tag.

[2017-01-24 03:43] amortazi commented on #7027
@yaroslavvb thanks for response. but it seems that tf.pack also just runs in CPU. I am using tf.device to put it in the gpu, but after looking at log_device_placement, it is still pinned to CPU. DO u have any suggestion? I can upload the code if u want it. Thanks

[2017-01-24 04:03] deepankar1994 commented on #7031
I did actually ask this on StackOverflow  [here](http://stackoverflow.com/questions/41813665/tensorflow-slim-typeerror-expected-int32-got-list-containing-tensors-of-type). Please feel free to respond.

[2017-01-24 04:05] yaroslavvb commented on #7027
what if you run with soft_device_placement=False? Also, I'm not sure where
log_device_placement takes assignments from, I normally look at
run_metadata to see where it gets put

run_metadata = tf.RunMetadata()
run_options = tf.RunOptions(trace_level=tf.RunOptions.FULL_TRACE)
sess.run(.., options=run_options, run_metadata=run_metadata)
print(run_metadata)

On Mon, Jan 23, 2017 at 7:43 PM, amortazi

[2017-01-24 04:38] deepankar1994 opened #7032 "Have tf.sub and tf.mul been removed from latest TF build ?"
I am running TF 0.12.head and ran into this issue where tf.sub was not found. I am writing this since the [docs](https://www.tensorflow.org/api_docs/python/math_ops/) don't seem to indicate any such thing.

[2017-01-24 04:55] amortazi commented on #7027
@yaroslavvb I got following error with soft_device_placement=False:
InvalidArgumentError (see above for traceback): Cannot assign a device to node 'pack': Could not satisfy explicit device specification '/device:GPU:0' because no supported kernel for GPU devices is available.
	 [[Node: pack = Pack[N=4, T=DT_INT64, axis=0, _device="/device:GPU:0"](mul_1, floordiv, floordiv_1, mul_3)]]

Unfortunatel

[2017-01-24 05:29] drpngx commented on #7032
Yes, it's been renamed to `tf.subtract`, to align with numpy.

[2017-01-24 05:29] #7032 closed

[2017-01-24 05:32] drpngx commented on #7027
Oh, it's `dtypes.int64`. The GPU number types are float and double.

[2017-01-24 05:43] drpngx commented on #7014
In general, I think it's probably a good idea to follow `np.clip()`. We might be using `isfinite()` instead of `isnan()`. If you submit a PR we could discuss the issues there.

@rmlarsen FYI

[2017-01-24 05:45] drpngx commented on #7019
Thanks! I'll take a look tomorrow. Ping if I drop this.

[2017-01-24 05:47] drpngx commented on #7023
@monajalal it looks like this is not strictly a tensorflow bug. So we're responding as we have bandwidth here, but your best bet is to go on stackoverflow, where we monitor issues with the tag `tensorflow`.

[2017-01-24 08:43] bhack commented on #2126
@vrv I've seen your deleted comment. Another hypothesis are a secret army of manual [Oompa-Loompa](http://roalddahl.wikia.com/wiki/Oompa_Loompas) device placers ;)

[2017-01-24 09:27] classner commented on #252
Great news from the side of PyPy: since version 5.6.0 (released in November) the devs included a compatibility layer for the CPython C-API (cpyext) (see also [here](https://morepypy.blogspot.de/2016/11/pypy27-v56-released-stdlib-2712-support.html)). With this, I was able to build numpy, scipy and sklearn out-of-the box, so finally machine learning with pypy gets interesting.

Of course I wanted to

[2017-01-24 09:44] plooney opened #7034 "QueueRunner hanging"
I find the queuerunner is hanging in the code below unless I uncomment the line

`#threads = tf.train.start_queue_runners(sess=sess, coord=coord)`

This isn't mentioned on the documentation
[https://www.tensorflow.org/versions/r0.10/how_tos/threading_and_queues/]

[code]

[2017-01-24 10:16] sjperkins commented on #6955
Thoughts:

I'm not sure that Eigen has the same concept of a [numpy strided indexing](https://docs.scipy.org/doc/numpy/reference/arrays.ndarray.html#internal-memory-layout-of-an-ndarray) for a Tensor, but similar concepts are expressed in [TensorStriding](https://eigen.tuxfamily.org/dox-devel/unsupported/TensorStriding_8h_source.html) and [TensorPadding](https://eigen.tuxfamily.org/dox-devel/unsup

[2017-01-24 10:45] WillBrennan commented on #5155
Ran across this as well, upgrading protobuf also works (installed version 3.1).

[2017-01-24 11:01] goncalopp commented on #3658
@drpngx I've moved to using a custom `Estimator`, as ` ilblackdragon suggested - it's not as easy, but works well. We can close this, if it's not a priority.
I took a quick look on `MonitoredSession`, but it seems geared to persisting state, not accessing it? The feature request here is accessing the raw neuron weights, post-training - for visualization purposes, for example. Would `MonitoredSessi

[2017-01-24 11:32] ppwwyyxx commented on #6893
Seems related to this one: https://github.com/tensorflow/tensorflow/issues/4921

[2017-01-24 12:00] albertz commented on #3945
Can someone comment on the state here? This was reverted? Why?

What broadcasting is supposed to work?

E.g. I get the error:

`Dimension 2 in both shapes must be equal, but are 9001 and 1 for '.../Select' (op: 'Select') with input shapes: [?,?,1], [?,?,9001], [1,1,1]`

So the `cond` can not be broadcasted?

Even when I have `cond` in the correct shape, I still get the error:

`ValueError: Dimensi

[2017-01-24 12:40] StevenPuttemans opened #7035 "Build with --config==cuda just runs fine, with --config== fails over and over"
### Environment info
Operating System: Ubuntu 14.04 64 bit

Installed version of CUDA and cuDNN: Cuda7.5, CuDNN 7.5
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
[code]

I tried following the `build from sources` directives from `https://www.tensorflow.org/get_started/os_setup#installing_from_sources` but as soon as I get to the command `bazel build -c opt --config=cuda //tensor

[2017-01-24 13:25] hawkinsp commented on #6850
@gunan Given the problem is finding the header file, not the .so libraries, I doubt setting LD_LIBRARY_PATH would help.

Note also that it's not just the path that is different, the header is called "cudnn_v5.h" not "cudnn.h".

This is a configuration we should support without needing workarounds (Ubuntu with NVidia's CUDA/CUDNN packages).

[2017-01-24 13:25] gdelab commented on #5342
Hi,
Is it fixed yet ? I'm using gather_nd() and I don't get any warning, but my gradient descent does not seem to work properly, so I guess it could come from there...

[2017-01-24 13:25] cpdurham opened #7036 "tf slim, default initializers for relu"
The defaults in layers such as conv and conv_transpose have the default activations as relu and the default initializer as xavier. From the paper https://arxiv.org/pdf/1502.01852v1.pdf, would this be the time to change the default initializer to use tf.contrib.layers.variance_scaling_initializer to account for the variance of the distributions being halved at each layer of activation?

Andrej Karp

[2017-01-24 13:40] avloss commented on #6627
thanks for the link. Though I've found building for Mac with GPU support extemely hard (didn't work for me at the end)

[2017-01-24 14:40] Caspain commented on #5036
Hvass-Labs's tutorials are outstanding. Please provide the MetaGraph etc that he is requesting.Everyone deeply appreciates his lessons. Kindly support his request
Thank You.

[2017-01-24 15:31] jdolson commented on #476
@aselle Do you mean to say that the C++ interface can now compute gradients and add them to the graph as in python? I don't see anything in the C interface to access this functionality. Is there a separate ticket to track that? Is there any rough timeline on when this functionality is expected?

[2017-01-24 15:49] Pepslee commented on #2169
@girving Which one native op would be faster?

[2017-01-24 15:54] vrv commented on #2126
Indeed, Oompa-Loompa's are not simple people.

(My deleted comment was in response to "I don't really know how you are solving this in production" to which I responded "hacks and common deployment scenarios".  I didn't see all the other comments after and it looked out of context ;)

[2017-01-24 16:10] drpngx commented on #7035
It looks like the host compiler is improperly configured. `cc1plus` is the compiler that's called after preprocessing is done.

Can you try gcc? It would seem that gcc doesn't work. Try re-installing it perhaps.

[2017-01-24 16:13] drpngx commented on #7034
Yes, you always have to start the queue runners by hand. If the documentation was incomplete, please send a PR to amend it. Thanks!

[2017-01-24 16:14] Mistobaan commented on #3945
@drpngx Why was it reverted?

[2017-01-24 16:19] hannes-brt commented on #6702
@ebrevdo Have you been able to gain any insights?

[2017-01-24 16:56] abejfehr commented on #6809
Is this issue receiving any love? I'd like to run tensorflow on a machine that doesn't have that instruction set.

At the very least, could someone tell me what's the most recent commit I could use that _doesn't_ have this issue?

[2017-01-24 16:59] gunan commented on #7035
Also, another possibility.
When running configure, did you enable GPU support?

[2017-01-24 17:04] gunan commented on #6931
Internally there is a fix, but we have not been able to make a successful push due to other breakages.

[2017-01-24 17:06] yaroslavvb opened #7038 "multiple dequeue ops are optimized away in latest TF"
Multiple ops Dequeue ops from the same queue started getting optimized away in latest TensorFlow:

The following executes dequeue once in Jan17 head, but 3 times in 12.1
`sess.run([q.dequeue(), q.dequeue(), q.dequeue()])
`

One gets expected behavior (3 dequeues) when graph optimization is turned off

[code]

Self-contained repro: https://github.com/yaroslavvb/stuff/blob/master/parallel_dequeue_te

[2017-01-24 17:07] yaroslavvb commented on #6968
I think I'll close this for now as unreproducible and reopen when someone can provide more info

[2017-01-24 17:07] #6968 closed

[2017-01-24 17:08] yuvval opened #7039 "Tensorboard stopped showing runs names"
Hi,

Tensorboard stopped showing runs names.
I can still filter (blindly) and see the curves, but there are no names of the runs to filter.

Any idea on how to fix that?
TF is installed under anaconda.

It worked with no issues until 2 weeks ago. I got back to the project today and this issue occurred.
I tried reinstalling 0.11, or even installing the latest 0.12.1 (under conda-forge), but the iss

[2017-01-24 17:23] yaroslavvb commented on #7038
cc @mrry the queue expert

[2017-01-24 17:32] jart commented on #6809
Thank you for your patience @abejfehr. I've sent a friendly ping to a couple Googlers via email. Expect an update very soon.

[2017-01-24 17:35] mrry commented on #7038
Can you print the GraphDef for that program? In particular, I'd like to know if the `FIFOQueueV2` (or some other `...QueueV2`) op is being used.

[2017-01-24 17:39] yaroslavvb commented on #7038
Yes, it's using V2 ops for queue. The 12.1 version is using regular

http://pastebin.com/gsu7xrU7

[2017-01-24 17:45] jart commented on #6823
This should now be unblocked. I'm now going to mail out a change.

[2017-01-24 17:46] drpngx commented on #3945
What was reverted? I think it's still there. It may have been reverted temporarily. I spot checked some code https://github.com/Mistobaan/tensorflow/blob/master/tensorflow/core/ops/math_ops.cc#L943 and it's there.

[2017-01-24 17:48] tarrencev opened #7041 "Tensorboard: Undefined import in serialize_tensorboard.py"
It looks like this change https://github.com/tensorflow/tensorflow/commit/e121667dc609de978a223c56ee906368d2c4ceef modified the module imports in `serialize_tensorboard.py` to remove the import of `tf` but did not update all the usages of `tf`. As such, `tf` is not defined error is thrown when trying to run the script.

[2017-01-24 17:48] Arsakes commented on #1758
Regarding using `tf.import_graph_def` it doesn't import savers though or variables right?
In case I would need to reuse part of someone else network and change something - I would have to manually create savers/loaders to load variable values into that loaded (and modifed network)?

I'm trying to make tf library of "model parts" however I'm strugling since not single way of saving models is suitab

[2017-01-24 17:50] girving commented on #252
@classner Very cool!  Presumably you have to link against a `cpyext` library.  @martinwicke Who would be the right person to ask for assistance here?

[2017-01-24 17:51] drpngx commented on #3658
@ispirmustafa could probably help on the MonitoredSession.

Closing this to tidy up. Please re-open if it becomes more important.

[2017-01-24 17:51] #3658 closed

[2017-01-24 17:52] drpngx commented on #6893
Thanks @ppwwyyxx for the cross-reference! Yes, it's a peculiarity in the lookup. It does look odd.

[2017-01-24 17:53] mrry commented on #7038
@alextp: It looks like the switch to resource-typed queues has caused a subtle bug in some of the queue ops. As far as I can tell, multiple instances of `queue.dequeue()` in the same subgraph are now being treated as common subexpressions, whereas before the fact that they had an incoming ref-typed edge meant they were [never candidates for CSE](https://github.com/tensorflow/tensorflow/blob/3570b5

[2017-01-24 17:54] yaroslavvb commented on #7030
load_library seems like a great idea. Can custom ops depend on `//tensorflow/core:core_cpu`? I need this for Allocator header `tensorflow/core/common_runtime/device.h` but adding the dependency fails

[code]

https://github.com/yaroslavvb/tensorflow/blob/custom_op/tensorflow/core/user_ops/BUILD

[2017-01-24 17:54] iarroyof opened #7042 "replicated function tf.where()?"
Hi all,

I have a problem adding an Embedding layer to a `Sequential` model.

[code]

I have the next error:
[code]
I have seen two versions of `tf.where()` in the documentation:

[https://www.tensorflow.org/versions/r0.10/api_docs/python/control_flow_ops/comparison_operators#where](url)
and
[https://www.tensorflow.org/api_docs/python/math_ops/sequence_comparison_and_indexing#where](url)

Any idea

[2017-01-24 17:55] albertz commented on #3945
Ok, the history of commits referenced in this issue suggests that something was reverted. This is a bit confusing.

Anyway, I think the broadcasting is still very much too limited. This feature request should also maybe be renamed to allow any broadcasting. I guess people would expect the straightforward behavior (which is the same in `numpy.where` I guess).

[2017-01-24 17:56] shamitlal commented on #1319
@kristoffernolgren I got the same error too. Everything worked well when I mentioned the complete directory in read_data_sets command.

[2017-01-24 18:06] drpngx commented on #7030
`core_cpu` is an internal target, but `core` in that directory has includes everything and has `//visibility:public`.

[2017-01-24 18:27] drpngx commented on #3945
Sounds good. Would someone be interested in implementing this? Maybe starting by replying on this thread with some snippets of test code to show all of the cases that need to be covered?

[2017-01-24 18:28] amortazi commented on #7026
@drpngx Unfortunately, my sensorflow directory is different from github files. I installed it by using pip. it is version 0.12 for python 2.7 in ubuntu 14 64bit. Can you guide me why it is different and I couldn't locate scatter_nd_op.cc file. :( Thanks.

[2017-01-24 18:28] yaroslavvb commented on #7030
Same error when depending on `core:core`, this seems like a circular dependency somewhere

[code]

[2017-01-24 18:31] drpngx commented on #7031
Oh, I didn't realize it was working on 0.11. Our tensorflow/models are woefully out of date and we don't really have the bandwidth to support them.

[2017-01-24 18:33] drpngx commented on #7026
For that, you have to install from source. You can't do it from a pip file unfortunately. You should follow this:
https://www.tensorflow.org/get_started/os_setup#installing_from_sources

[2017-01-24 18:35] drpngx commented on #7027
Could you try to add `TF_CALL_int64(REGISTER_GPU)` in `pack_ops.cc`?

[2017-01-24 18:38] NeilGirdhar commented on #3945
@drpngx It looks like you reverted it in the tensorflow codebase.  (Of course it's still on Mistobaan's codebase.)  Am I misunderstanding?

[2017-01-24 18:41] drpngx commented on #3945
@NeilGirdhar yes it looks like it, but it was put back at a later stage AFAIK. What code are you looking at?

[2017-01-24 18:45] martinwicke commented on #6809
@gunan, did you already fix the build scripts/Jenkins setup to explicitly set the optimization flags? We should remove 4.1.

[2017-01-24 18:46] NeilGirdhar commented on #3945
I see now, you're right.

[2017-01-24 18:47] gunan commented on #6809
Well, with our latest change, (--config=opt) the binaries we build for distribution should now be without sse 4.1.

Could you try downloading and installing nightly binaries?

[2017-01-24 18:49] drpngx commented on #7030
From the error message it looks like "core" depends on ":framework" somehow. That should fail everywhere. Do you need that build file in `core/user_ops`? It looks like it's globbed by `user_ops_libs` already.

[2017-01-24 18:52] martinwicke commented on #252
@classner can you try the cmake build? If you can make that work, then we know what needs to be added, and we can put it into the bazel build. Bazel really wants all its dependencies declared, so it would be good to have a clear picture of what exactly is missing.

[2017-01-24 18:54] drpngx commented on #7042
Could you try with a more recent version of tensorflow?

[2017-01-24 18:55] drpngx commented on #7041
@jart looks like we missed some `tf.foo` in tests?

[2017-01-24 18:55] drpngx commented on #7039
@dandelionmane is that intentional?

[2017-01-24 18:58] jart commented on #7041
Assigning to owner of script.

[2017-01-24 19:03] yaroslavvb commented on #7030
Yes, the error message doesn't make sense. I followed instructions in https://www.tensorflow.org/how_tos/adding_an_op/ which says to put `BUILD` file in `core/user_ops`. It passes analysis if I don't add dependency to `//tensorflow/core:core_cpu` or `//tensorflow/core:core`, but then bazel complains about missing `device.h`

cc @keveman in case he knows how to properly have user ops depend on `dev

[2017-01-24 19:09] vvpreetham commented on #6132
Also as an update, the reason I am trying out the specific device allocation is that, when I normally use the program without tf.device then, I am seeing a strange behavior where only the Titan-X GPU memory is allocated but the GPU processor is 0% used. (I have 3 Titan-X GPU on the same box)

[2017-01-24 19:12] dandelionmane commented on #7041
I'm going to remove the script.

[2017-01-24 19:13] dandelionmane commented on #7039
I suspect this is a screen resolution / zoom issue. The UI elements on the top left are fixed size, and the remainder goes to the run names.

Can you try pressing (ctrl + -) or decreasing the zoom level in the browser, and report if that fixes it?

[2017-01-24 19:13] ashern commented on #6132
@vvpreetham  I think what you're seeing is expected behavior, and unrelated to Estimator. Tensorflow will automatically claim all available memory for all of the GPUs that it sees, unless you tell it otherwise. It will do this whether you are using them for your model or not. Take a look at CUDA_VISIBLE_DEVICES environment setting to specify GPUs to use, or you can change the memory settings (see

[2017-01-24 19:16] aselle commented on #7014
This is generally the case... Also tf.clip_by_value should be consistent with the implementation of
tf.minimum and tf.maximum s.t.
clip_by_value(v,a,b) is equivalent to  tf.minimum(tf.maximum(a, v), b)

[2017-01-24 19:16] vvpreetham commented on #6132
@ashern I am guessing your comment is specific to my last comment (memory allocation). How do I ensure that tensorflow is actually using all the GPU processors I have?
Does CUDA_VISIBLE_DEVICE also ensure the GPU processor usage?

[2017-01-24 19:20] ashern commented on #6132
@vvpreetham That's a pretty big topic. Take a look here: https://www.tensorflow.org/how_tos/using_gpu/ - and I think you'll find more help if you post your questions to StackOverflow for a wider audience to answer.

[2017-01-24 19:21] ebrevdo commented on #5342
gather_nd gradients are available on master, and should be in the latest minor release:

https://github.com/tensorflow/tensorflow/blob/cb17d1b0e2b581b5da1d9597b7929ba764749d38/tensorflow/python/ops/array_grad.py

[2017-01-24 19:21] #5342 closed

[2017-01-24 19:23] vvpreetham commented on #6132
@ashern Thanks. I shall post on StackOverflow, meanwhile setting CUDA_VISIBLE_DEVICES still does not enable my processor usage.

(I have tried everything on the link you have specified and still no luck. Hence posted here)

[2017-01-24 19:34] aselle commented on #7014
I cannot reproduce this on 0.9, 0.10, 0.11, 0.12 or the last nightly build from master.  I get nan.  What version and platform are you using? The issue template we ask people to complete asks what version and platform you are using, so we can help you on these types of issues better. Please use it in the future. Thank you.

[2017-01-24 19:39] aselle opened #7044 "tf.gradients like functionality in the C and C++ API"
Currently gradients can only be computed manually in C++ or automatically in Python with tf.gradients. Work on registering C++ implemented gradients for all the OPs has started. However, there is currently no easy way to automatically use those gradients to generate a graph. The C-api also does not have gradient creation calls yet.

This supercedes the gradient part of #476, since the rest of #476

[2017-01-24 19:39] aselle commented on #476
@saudet, this issue is overly broad and not clear what it is asking for. Many of the things raised in this issue have been addressed. I closed this to create a more focused issue #7044.

[2017-01-24 19:54] bhack commented on #2126
:smile:

[2017-01-24 20:00] andrewharp commented on #5504
`-Wl,--icf=all` was removed from libtensorflow_demo.so in https://github.com/tensorflow/tensorflow/commit/1a08f5e79266a2e83106ab7f9e17c3787da57703#diff-06b90d704990e9b4f5adadb18c837b64, so this should no longer be an issue.

[2017-01-24 20:00] #5504 closed

[2017-01-24 20:02] #3847 closed

[2017-01-24 20:08] vvpreetham commented on #6132
@martinwicke bump on my original question (so that this thread is not lost) :)

[2017-01-24 20:56] #2818 closed

[2017-01-24 20:56] #6969 closed

[2017-01-24 20:56] #6974 closed

[2017-01-24 20:59] girving commented on #2818
The linked commit means TensorFlow now raises an exception for the complex case.  There were too many uses of the nonscalar real case, so that persists.

[2017-01-24 21:09] asimshankar commented on #7044
Closing this as duplicate of #6268

[2017-01-24 21:09] #7044 closed

[2017-01-24 21:50] drpngx commented on #3667
Could you try with the latest version?

[2017-01-24 21:51] drpngx commented on #3683
Closing due to inactivity. Feel free to open a new github issue if the problem still persists in recent versions. If you chose to do so, please include a small repro snippet. Thanks!

[2017-01-24 21:51] #3683 closed

[2017-01-24 21:52] drpngx commented on #3684
Closing due to inactivity. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 21:52] #3684 closed

[2017-01-24 21:52] drpngx commented on #3704
Closing due to inactivity. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 21:52] #3704 closed

[2017-01-24 21:55] drpngx commented on #3725
Closing after reading latest comment from @tangruiming.

[2017-01-24 21:55] #3725 closed

[2017-01-24 21:55] drpngx commented on #3726
Does the problem still presist with latest versions?

[2017-01-24 21:56] drpngx commented on #3728
Looks like this was answered on stackoverflow.

[2017-01-24 21:56] #3728 closed

[2017-01-24 21:57] rmlarsen commented on #3649
@drpngx Sure, I'll take a look when I get a chance.

[2017-01-24 21:59] drpngx commented on #3763
We've revamped the docs. I'm not sure that the tutorial is still there. I haven't seen an new issue filed on this. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 21:59] #3763 closed

[2017-01-24 22:00] drpngx commented on #3824
Is this still current?

[2017-01-24 22:00] drpngx commented on #3833
Closing due to inactivity. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 22:00] #3833 closed

[2017-01-24 22:01] drpngx commented on #3844
Is this still current?

[2017-01-24 22:04] drpngx commented on #3851
@darrengarvey I suppose you could go ahead and have a `CSVLineReader`. Note that this will complicate things when we allow splittable files.

[2017-01-24 22:06] drpngx commented on #3867
Closing this due to inactivity. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 22:06] #3867 closed

[2017-01-24 22:06] garibarba commented on #7014
I have filled in the information. I will do so in the future too. Sorry.
I will confirm the precise tensorflow version and test with a newer version as soon as I am able.

[2017-01-24 22:07] drpngx commented on #3870
Closing due to inactivity. Feel free to reopen if this is still current.

[2017-01-24 22:07] #3870 closed

[2017-01-24 22:11] drpngx commented on #3875
Is that still happening with the latest version?

[2017-01-24 22:12] drpngx commented on #3889
Closing since it should be fixed. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 22:12] #3889 closed

[2017-01-24 22:13] drpngx commented on #3900
Right, we moved the example files into models/tutorials if memory serves. Is this still current?

[2017-01-24 22:13] yaroslavvb opened #7048 "XLA on MacOS: ./configure gives java.lang.RuntimeException: Unrecoverable error while evaluating node 'REPOSITORY_DIRECTORY:@llvm' (requested by nodes 'REPOSITORY:@llvm')"
Not sure if this is WAI since XLA is experimental, but this is the error on MacOS that happens when you try to run ./configure with XLA=true

Same version configures fine on Linux (master as of now)

[code]

[2017-01-24 22:13] drpngx commented on #3902
Closing due to inactivity. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 22:13] #3902 closed

[2017-01-24 22:13] sdeoras commented on #6969
Thank you all. It is working!

[2017-01-24 22:17] darrengarvey commented on #3851
@drpngx - Can you give any more information on what you mean by "splittable files"?

In the end I've been going more in the direction of writing (a much more complicated) input function that feeds this data into a tf.learn `Estimator` using multiple threads in Python that feed data into a queue. This is basically done but seemingly very complicated to get right.

[2017-01-24 22:20] gitgreencoder opened #7049 "NotFoundError: /tf_files/retrained_graph.pb"
When I tried to follow the Tensorflow Poets tutorial steps, I got this error when try to run the label_image.py file with classifier.

python /tf_files/label_image.py /tf_files/flower_photos/daisy/21652746_cc379e0eea_m.jpg
Traceback (most recent call last):
  File "/tf_files/label_image.py", line 15, in <module>
    graph_def.ParseFromString(f.read())
  File "/usr/local/lib/python2.7/dist-packages

[2017-01-24 22:20] drpngx commented on #3919
Is this still broken?

[2017-01-24 22:22] drpngx commented on #3949
Is this something that we still want to do?

[2017-01-24 22:23] kramimus commented on #2456
Just in case someone else lands here, try clearing all old data from train_dir and then restart your distributed training.

[2017-01-24 22:23] drpngx commented on #3963
Fixed by #4108.

[2017-01-24 22:23] #3963 closed

[2017-01-24 22:23] drpngx commented on #3972
Is that still a problem with recent versions?

[2017-01-24 22:26] drpngx commented on #3986
@kevinashaw just to be sure, did you check on `master`?

[2017-01-24 22:27] drpngx commented on #4006
@jinhou is that still happening with the latest version?

[2017-01-24 22:27] drpngx commented on #4012
That would be nice, if you could contribute one.

[2017-01-24 22:29] drpngx commented on #4025
Closing since it looks like we have a solution.

[2017-01-24 22:29] #4025 closed

[2017-01-24 22:31] drpngx commented on #4044
Looks like a bug in freeze graph, right @petewarden ?

[2017-01-24 22:33] drpngx commented on #4072
@fayeshine you could try `tf.while_loop` and the latest XLA compiler. Closing for now since it's been a while and it's not clear how the new code still behaves. Feel free to reopen.

[2017-01-24 22:33] #4072 closed

[2017-01-24 22:36] yaroslavvb commented on #7048
@hawkinsp in case he knows status of XLA on MacOS

[2017-01-24 22:39] drpngx commented on #4073
Is this still broken with the latest version?

[2017-01-24 22:40] drpngx commented on #4092
Closing due to inactivity. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 22:40] #4092 closed

[2017-01-24 22:41] grovina commented on #4012
Actually, the following datauri favicon was added by e42fa0069.
![download](https://cloud.githubusercontent.com/assets/6004563/22270119/5030c808-e275-11e6-8fc8-e83cbbef104c.png)

[2017-01-24 22:41] #4012 closed

[2017-01-24 22:41] drpngx commented on #4106
We're still working on seq2seq. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 22:41] #4106 closed

[2017-01-24 22:42] drpngx commented on #4120
Closing this due to inactivity. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 22:42] #4120 closed

[2017-01-24 22:43] drpngx commented on #4130
@jhseu and @asimshankar for additional comments.

[2017-01-24 22:45] drpngx commented on #4133
gcc-7 is still in development. Please use 4.8 or 6.x. Feel free to open a new github issue if the problem still persists in recent versions.

[2017-01-24 22:45] #4133 closed

[2017-01-24 22:46] drpngx commented on #4135
@kevin-keraudren could you try with the latest version and build with `--config=asan`?

[2017-01-24 22:48] drpngx commented on #4154
@gopigrip7 if you have a specific question, please open a new bug or try on stack overflow. For the original question, I think we have a fused op which is indeed faster.

[2017-01-24 22:48] #4154 closed

[2017-01-24 22:50] drpngx commented on #4176
@tatatodd is that still current?

[2017-01-24 22:51] drpngx commented on #4203
Is this still current?

[2017-01-24 22:51] drpngx commented on #4213
@Huxwell how did that go?

[2017-01-24 22:54] asimshankar commented on #4130
Broadly speaking, there are two things holding training in languages other than python up. One is support for gradients (#6268) and the other is the fact that the "control logic" for training (optimizers, estimators etc.) are in python.

#6268 talks about covering gradients. Once that is is resolved (and that might be a while), we'll have enough functionality in these languages to build up the con

[2017-01-24 22:54] #4130 closed

[2017-01-24 22:55] drpngx commented on #4255
@eaigner do you have info? The second problem looks like you just have to create a default session.

[2017-01-24 23:10] drpngx commented on #7049
The log got truncated. What's the result of ls `/tf_files`?

[2017-01-24 23:23] gitgreencoder commented on #7049
You can close this now. I found out is was some weird permission issue on the file. I run in sudo mode and it fixed it.

[2017-01-24 23:23] #7049 closed

[2017-01-25 00:05] yaroslavvb commented on #6729
BTW, I just hit this issue when building today's head on Mac and was able to get things building with @damienmg 's suggestion

export CUDA_HOME=/usr/local/cuda
export DYLD_LIBRARY_PATH=/usr/local/cuda/lib:/usr/local/cuda/extras/CUPTI/lib
export LD_LIBRARY_PATH=$DYLD_LIBRARY_PATH
export PATH=$DYLD_LIBRARY_PATH:$PATH
export flags="--config=cuda --config=opt"
bazel build $flags --action_env PATH --ac

[2017-01-25 00:26] raphtown opened #7051 "Bug - tfdbg + multi-gpu gives ValueError: Duplicate node name: 'n/_0'"
Hello tensorflow team,

I have been starting to use your tensorflow debugger but have run into the issue that when I try and use it on a multi-gpu model I get `ValueError: Duplicate node name: 'n/_0'`.

Inspecting things closer, I saw that the issue originated from the run_metadata, whose partition graphs have many _Send and _HostRecv ops with names like 'n/_0'.  These ops are replicated with iden

[2017-01-25 01:00] hawkinsp commented on #7048
That looks like a Bazel bug to me. Are you using a the latest version of Bazel? If so, we should file a bug for Bazel.

I have previously built XLA on Mac, although there is currently no continuous build for XLA on Mac so it may have bitrotted.

[2017-01-25 01:20] drpngx commented on #7051
@raphtown a small code repro would be nice if you have one.

@caisq any idea?

[2017-01-25 01:21] drpngx commented on #7036
@nathansilberman @sguada is that something we'd want to do? (change the default)

[2017-01-25 01:41] #6808 closed

[2017-01-25 01:47] raphtown commented on #7051
Hello @drpngx, and thank you for your swift response.  I can try and make a minimal code reproduction if you think it necessary, but it may take a bit for me to do so.  My hunch is that to fix this bug we just need to figure out where these node's with names 'n' are coming from in the library code.

[2017-01-25 02:09] drpngx commented on #3851
"Splittable file" is hadoop parlance for files that can be split for parallel processing. An example of that is a simple file, say, that has fixed-length records. Each thread can skip to an offset and read from there. An example of a non-skippable file is stream-compressed file.

[2017-01-25 02:13] caisq commented on #7051
@raphtown Thanks for reporting this bug. As @drpng said, a short reproduction code will be very helpful. Even if the code can't the error without a multiple-GPU setup, we may be able to suggest a quick workaround.

[2017-01-25 02:39] raraujosc opened #7052 "Please create a new version tag."
There's currently no version tag that has all the WORKSPACE links working correctly. Can we please create one that I can point to to have a stable TF version? If I point to HEAD using git submodule we often update the TF version by mistake.

Thanks!

[2017-01-25 03:20] ymakkapa opened #7053 "TensorFlow- Recurrent Neural networks."
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-01-25 03:48] drpngx commented on #6980
We don't upload images to github, to save space. They are on the devsite documentation.

[2017-01-25 03:48] #6980 closed

[2017-01-25 04:18] ymakkapa commented on #7053
I got the files reader.py and ptb_word_lm.py from google and tried running them as "python ptb_word_lm.py --data_path=/tmp/simple-examples/data/ --model small". Please help me in resolving these errors.
Errors:
Traceback (most recent call last):
File "ptb_word_lm.py", line 321, in <module>
tf.app.run()
File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 43, in run

[2017-01-25 04:33] deepankar1994 commented on #7031
For now, I have reverted to TF 0.11 to get this to work until this is resolved in TF0.12.

[2017-01-25 05:35] ppwwyyxx commented on #5888
Seems to be fixed already.

[2017-01-25 05:35] #5888 closed

[2017-01-25 05:59] lokesh005 commented on #6971
Is there anybody to help me?

[2017-01-25 06:06] yaroslavvb commented on #7053
Sounds like you are missing input files (your /tmp/simple-examples/data directory doesn't have the train files). These kinds of questions are best asked on stackoverflow, this list is for bugs in TensorFlow itself + feature requests

[2017-01-25 06:06] #7053 closed

[2017-01-25 06:14] yaroslavvb commented on #3972
`None`s in Hessians are expected for reasons unrelated to `map_fn` -- for implementation reasons, TensorFlow returns `None` instead of `0` when the gradient is not a function of the variable being differentiated against. Hence off-diagonal terms are None's, see discussion here for Hessians -- https://www.google.com/url?hl=en&q=https://groups.google.com/a/tensorflow.org/d/msgid/discuss/d83404b7-793

[2017-01-25 06:15] yaroslavvb commented on #3972
You need to do something like this to get Hessians

[code]

[2017-01-25 06:31] iarroyof commented on #7042
Hi @drpngx I tried by installing version 0.12, but a new error raises

[code]

[2017-01-25 07:30] eaigner commented on #4255
The code is the same that works with the unmapped graph. A Session is definitely created (just no valid one).

[2017-01-25 08:31] Qululu commented on #7048
I'm also encountering this same error message. I'm trying to [install Tensor Serving from the docker image](https://tensorflow.github.io/serving/docker) using the Docker Toolbox on Windows 7. I also tried installing it within another Ubuntu docker container.

[2017-01-25 09:39] Qululu commented on #7048
@hawkinsp Hi, I upgraded Bazel to latest (0.4.3) but still get the same error message as the OP.

[2017-01-25 09:48] yuvval commented on #7039
Embarrassingly (for me) you were right :)
It happens with a 100% zoom, reducing the zoom to 75%, shows the list of runs. Any idea how to still show it with 100% zoom?

[2017-01-25 09:50] macsharma opened #7054 "Slicing"
I wish to implement the following line of code in tensorflow. Given below is the numpy version
correct_scores=scores[range(N), np.array(yTrain,dtype='int32')]

now in tensorflow, scores and yTrain are all variables, calculated on each minibatch. Is there a way to do this

[2017-01-25 09:56] meteorcloudy opened #7055 "TensorFlow Bazel build is failing on Windows"
http://ci.tensorflow.org/job/tf-master-win-bzl/339/console

[code]

Culprit: f736991fd3a7987665a6f9fcd26d464ea7f68e2b
This changes introduced the dependency on `//tensorflow/core/kernels:quantized_ops` through `//tensorflow/tools/graph_transforms:transform_graph_lib`, which doesn't build on Windows yet.

[2017-01-25 09:58] meteorcloudy commented on #7055
If simply exclude `//tensorflow/tools/graph_transforms:transform_graph_lib`, we'll get another error:
[code]

[2017-01-25 09:58] eiennohito commented on #5147
@standy66 in my case, a workaround like that had a bottleneck between `ShuffleFIFOQueue` and `batch` operations. One thread over there could not keep up with the training itself.

However, increasing the number of threads of `batch` caused contention on queueing and decreased throughput compared to one thread for ~20% for even two threads.

Sequence processing with tensorflow is not still as good

[2017-01-25 10:24] warmhug commented on #4451
I did the same, but still crashed.

[2017-01-25 11:14] nxnfufunezn commented on #22
👍

[2017-01-25 11:31] lorenzo93 opened #7056 "Build is failing on Linux GPU"
Hi,

I'm trying with no luck to build TF for OpenCL from source. I configured a new installed machine as is described in your guide but the build is failing.

I'm launching the build through this command:
`bazel build -c opt --config=sycl //tensorflow/tools/pip_package:build_pip_package`

And below you can find all the requested informations from my OS. In attach you'll find the [Errors](https://g

[2017-01-25 11:32] kishorenayar commented on #6500
@ThomasColthurst The issue is not yet resolved, Using tensorflow-0.12.1, Still facing

[2017-01-25 11:34] classner commented on #252
Just posted on the pypy dev mailing list to get a bit more input from that side! Will post further info here...

[2017-01-25 11:41] blodan opened #7057 "[PATCH] FreeBSD compatibility"
Hi,

I've managed to compile tensorflow in cpu mode so here's whats needed for FreeBSD compatibility.

As I've no clue how bazel really works I've mostly hacked the bazel stuff, so someone that knows what he's doing might want to make the BUILD changes in the proper place :)

**Summary**
1. -ldl needs to be removed from all linkopts for FreeBSD as libdl is integrated into libc  so FreeBSD does not

[2017-01-25 11:46] coder3344 opened #7058 "what's the difference betwee tf.nn.seq2seq and tf.python.ops.seq2seq?"
what's the difference betwee tf.nn.seq2seq and tf.python.ops.seq2seq?

[2017-01-25 12:08] migpradel commented on #22
![image](https://cloud.githubusercontent.com/assets/11524882/22290102/6488ece2-e2ff-11e6-8299-f672978a50e8.png)

[2017-01-25 12:09] migpradel commented on #22
:+1:

[2017-01-25 12:14] ibadami commented on #5742
@itsmeolivia

[code]
My error message suggest that the error come s from ``` tensorflow/python/ops/variables.py```.
Are you sure that all ones_initializer instances are fixed?

I am using tensorflow_gpu 12.1 .

[2017-01-25 12:43] warmhug commented on #1269
The above solution does not work on the new demo  code...

[2017-01-25 13:27] deepankar1994 commented on #5987
+1

[2017-01-25 14:06] jplu opened #7059 "Issue to compile on macOS with unrecognized command line option"
Hello,

I do have issues to compile Tensorflow on my mac in order to use the Java version. Here some useful information about my environment:

* macOS 10.12.3
* gcc 6.3.0 (from MacPorts)
* Bazel 4.3.0
* Python 2.7
* Tensorflow commit a12c7dc3d83049e10c1dca8903d73cc71d3cb7b2
* CPU only

Once I have done the ```./configure``` I'm trying to compile the Java version and here the log I get:

[code]

I

[2017-01-25 14:21] untom opened #7060 "Tensorboard: Please improve log-scale plots"
Hi!

Tensorboard currently (version 0.12.1) has an option to plot graphs with a logarithmic log scale, but this functionality doesn't work well whenever plotting very small values (e.g. the ones that converge to zero, like loss values). For example, compare this plot in Tensorboard:

![tensorboard_logplot](https://cloud.githubusercontent.com/assets/3627551/22293860/8abcdc40-e311-11e6-9e70-0796a503

[2017-01-25 14:32] martin-gorner commented on #5141
I have this issue as well.
MacOS using an external GPU.
DYLD_LIBRARY_PATH is set (to /usr/local/cuda/lib)
/usr/local/cuda/lib/libcudart.8.0.dylib exists

It works when I disable SIP. But something turns SIP on on a regular basis. Annoying.

[2017-01-25 14:57] Carmezim commented on #7054
This is probably a better suited question for StackOverflow. They also monitor there under the TensorFlow tag.

[2017-01-25 15:42] Huxwell commented on #4213
Changing input size manually in the exported .json file with the model architecture and using it with the same weights in different file works OK with me.

[2017-01-25 15:43] junos commented on #37
+1

[2017-01-25 16:02] Carmezim commented on #6999
With Python 3.6 even having Microsoft Visual C++ 2015 Redistributable Update 3 installed it still gives the error @AngledLuffa referred related to `MSVCP140.DLL`.

[2017-01-25 16:28] yaroslavvb commented on #5141
I suspect installing macos security updates enables sip

On Jan 25, 2017 6:32 AM, "martin-gorner" <notifications@github.com> wrote:

[2017-01-25 16:49] mbz opened #7061 "Is there any GPU implementation of Queues?"
what is the best way of pipelining the training samples in GPU to maximize its utilization?

The natural way of doing this seems to be using Queues, however it seems there is no GPU kernel for any type of Queue.

[2017-01-25 17:06] classner commented on #252
One of the devs was incredibly quick to reply: apparently, all the symbols I mentioned are part of `libpypy-c.so`, which is in the bin folder of the pypy distribution. I'm currently super-short on time and can't look at it right now, but could do sometime during the next weeks.

[2017-01-25 17:30] xmbrst commented on #3824
Yes, this is probably still a problem in the docs, and it will be useful for the TF writer to keep the issue for reference.

[2017-01-25 17:30] iantheconway commented on #7019
Any progress on this?

[2017-01-25 17:31] EronWright commented on #6781
@asimshankar the remaining gap in defining a placeholder op is how to specify the shape of the placeholder (otherwise a tensor of any shape is allowed).   The OpBuilder can't yet articulate the `shape` attribute.

[2017-01-25 17:32] amortazi commented on #7027
I need to install tf from source, i am working on it!

[2017-01-25 17:50] drpngx commented on #7061
The queues are always on CPU. The CPU needs to spool, then the heavy duty processing is done on the GPU.

This is more a general question that's probably best answered on stackoverflow. We monitor issues with the tag "tensorflow" there.

[2017-01-25 17:50] #7061 closed

[2017-01-25 17:52] drpngx commented on #7060
@dandelionmane a request for logy plot. Is that something that we would like that Tensorboard doesn't have?

[2017-01-25 17:55] girving commented on #2169
@Pepslee A hypothetical native op that does the whole thing at once.  Do you have some intuition for how that would compare speed-wise?

[2017-01-25 17:57] yaroslavvb commented on #7061
@mbz there's tracking issue in https://github.com/tensorflow/tensorflow/issues/5722 . In particular some queue-like ops with GPU support were added recently in https://github.com/tensorflow/tensorflow/commit/85acf52a

[2017-01-25 18:05] drpngx commented on #7059
Can you try this from the command-line?

[code]

It looks like this is requested here:
https://github.com/tensorflow/tensorflow/blob/master/third_party/gpus/crosstool/CROSSTOOL.tpl#L213

Could you try removing that?

[2017-01-25 18:10] drpngx commented on #7058
There should not be a `tf.python.ops.seq2seq`. The public API defines `tf.nn.seq2seq`.

[2017-01-25 18:11] drpngx commented on #7057
Could you submit that as a PR? That would be nice.

[2017-01-25 18:16] warmhug commented on #1269
It just crash. I follow this doc https://www.tensorflow.org/how_tos/image_retraining/ , and then use this command
[code]
the result like this:
![image](https://cloud.githubusercontent.com/assets/2011119/22303072/929c79ce-e36c-11e6-837c-482ff0901180.png)

It seems to work well, but the result `output_graph.pb`'s size is the same as the input `output_graph1.pb` file. Almost can confirm the strip res

[2017-01-25 18:20] drpngx commented on #7056
@gunan we don't support opencl, right?

[2017-01-25 18:24] lorenzo93 commented on #7056
[https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md)

It is your guide that tells me to do so.

[2017-01-25 18:25] drpngx commented on #7055
@petewarden FYI

[2017-01-25 18:27] #7054 closed

[2017-01-25 18:29] drpngx commented on #7052
The latest release is [0.12.1](https://github.com/tensorflow/tensorflow/releases).

[2017-01-25 18:30] VerityStone commented on #1325
@jrajagopal were you able to do that with an RNN model? I'm using tf.nn.bidirectional_dynamic_rnn() and struggling to restore the weights any sense...

[2017-01-25 18:33] amanckc opened #7063 "Can't install Tenserflow on ubuntu 16.04 via pip?"
Exception:
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/pip/basecommand.py", line 215, in main
    status = self.run(options, args)
  File "/usr/local/lib/python2.7/dist-packages/pip/commands/install.py", line 342, in run
    prefix=options.prefix_path,
  File "/usr/local/lib/python2.7/dist-packages/pip/req/req_set.py", line 784, in install
    **kwargs
  File

[2017-01-25 18:34] drpngx commented on #7063
You'll want to run as root.

[code]

[2017-01-25 18:34] amanckc opened #7064 "can't install tenserflow on ubuntu 16.04 via pip!!"
Exception:
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/pip/basecommand.py", line 215, in main
    status = self.run(options, args)
  File "/usr/local/lib/python2.7/dist-packages/pip/commands/install.py", line 342, in run
    prefix=options.prefix_path,
  File "/usr/local/lib/python2.7/dist-packages/pip/req/req_set.py", line 784, in install
    **kwargs
  File

[2017-01-25 18:36] drpngx commented on #7064
Closing as a duplicate of #7063. Please don't send duplicate issues. If you want to edit the description, use the pencil icon on the upper right corner.

[2017-01-25 18:36] #7064 closed

[2017-01-25 18:37] raraujosc commented on #7052
That release is broken as it points to a non-existing zlib url:
https://github.com/tensorflow/tensorflow/blob/0.12.1/tensorflow/workspace.bzl

[2017-01-25 18:38] carlthome commented on #6768
@dandelionmane, thoughts on this? It would be a pretty easy fix, I'd wager.

[2017-01-25 18:39] gunan commented on #7056
We should update our guide, sorry for the confusion.
OpenCL support is still in its early stages, and it is experimental:
You can follow this issue for more information:
https://github.com/tensorflow/tensorflow/issues/22

[2017-01-25 18:40] SeguinBe opened #7065 "pytorch 2.5x faster on VGG16"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

Started on SO, and was told to post here ([SO post](http://stackoverflow.com/questions/41832779/tensorflow-2-5x-slower-than-pytorch-on-vgg16-architecture?noredirect=1#comment70901342_41832779))
### Environment info
Operating System:
Ubuntu 14.04 + Maxwell Titan X

Installed version of CUD

[2017-01-25 18:42] yaroslavvb commented on #7065
@sguada do you see anything that got added recently that could address performance gap? (maybe some new fused ops?)

[2017-01-25 18:43] drpngx commented on #7052
@jart I thought we had cherry-picked into this?

[2017-01-25 18:44] drpngx commented on #7052
@yifeif I thought we had cherry-picked into all release points?

[2017-01-25 18:48] andrewharp commented on #1269
@warmhug I wonder if the graph is already stripped in that case?

Please use adb to capture the actual crash, otherwise it's impossible to tell what's going on.
e.g. run:
`adb logcat *:E native:V tensorflow:V`

then start the app, and watch the log for anything relevant that you can paste here.

[2017-01-25 18:50] yaroslavvb commented on #7065
cc: @vincentvanhoucke in case he knows others working on VGG-like models

[2017-01-25 18:58] seragENTp opened #7067 "Recurrent Spatial Transformer Network"
i'm trying to replicate Recurrent Spatial Transformer Network implemented here (https://github.com/skaae/recurrent-spatial-transformer-code) , however the loss didn't decrease at all .

the configuration of the network is as follow:
1 -  relu activations .

2 - xavier weight initialization for weights , zero initialization for biases .

3 - cost function is softmax_cross_entropy_with_logits .

4 -

[2017-01-25 18:59] stevendavis opened #7068 "Feature Request - support distributed Tensorflow on Sun Grid Engine job scheduler"
Sun Grid Engine is commonly used to schedule jobs on scientific computing clusters / supercomputers.  Please consider adding support for distributed Tensorflow on SGE.

[2017-01-25 19:01] amortazi opened #7069 "error in installing tf from source"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-01-25 19:04] amortazi commented on #7069
I got following error when I was installing tf from source:

  File "<stdin>", line 1, in <module>
  File "tensorflow/__init__.py", line 24, in <module>
    from tensorflow.python import *
  File "tensorflow/python/__init__.py", line 72, in <module>
    raise ImportError(msg)
ImportError: Traceback (most recent call last):
  File "tensorflow/python/__init__.py", line 61, in <module>
    from tenso

[2017-01-25 19:05] warmhug commented on #1269
@andrewharp
[code]
[code]

[2017-01-25 19:05] seragENTp commented on #7067
`

`

[2017-01-25 19:06] seragENTp commented on #7067
`# -*- coding: utf-8 -*-
"""
Created on Tue Sep 27 20:19:21 2016

@author: serag
"""

# Copyright 2016 The TensorFlow Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by a

[2017-01-25 19:10] andrewharp commented on #1269
@warmhug Here's the relevant log line: `jni_utils.cc:137 'asset' Must be non NULL`

Looks like the pb didn't actually make it into your APK. If you run:
`unzip -v bazel-bin/tensorflow/examples/android/tensorflow_demo.apk`

do you see any pb files under assets/?

[2017-01-25 19:18] seragENTp commented on #7067
@vincentvanhoucke

[2017-01-25 19:20] Nantangmo opened #7072 "[Windows] failed to create cublas handle: CUBLAS_STATUS_ALLOC_FAILED"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-01-25 19:20] drpngx commented on #7068
Thanks @stevendavis ! @jhseu FYI.

[2017-01-25 19:23] drpngx commented on #7067
Thanks @seragENTp for the report. We are tracking feature improvements and bug reports on github, but for usage issues we believe that stackoverflow is a better venue. We monitor all questions tagged with "tensorflow". Please post there and cross-link here.

[2017-01-25 19:23] #7067 closed

[2017-01-25 19:25] drpngx commented on #7069
Just to be clear, you built with cuda and built the pip and installed it on your machine?

[2017-01-25 19:36] amortazi commented on #7069
Yes, I follow instruction for installing from source from https://www.tensorflow.org/get_started/os_setup
I made a wheel and then I install it by pip.
It seems some other guys have same problem here https://github.com/tensorflow/tensorflow/issues/2746.
I am reading it if i can use their solution.
Thanks

[2017-01-25 19:46] amortazi commented on #7069
Unfortunately, it didn't help me. I uninstall six and install it again, but still i have same problem.  Any suggestion? Thanks

[2017-01-25 19:53] drpngx commented on #7072
Could you try with 0.12.1? There might have been some issues with 0.12rc.

[2017-01-25 19:58] drpngx commented on #7069
It looks like it can't load the pywrap.

Could you run this?

[code]

[2017-01-25 19:59] amortazi commented on #7069
I found the solution! When I am running python inside of tensorflow directory I got that error. But if I run python from any other directory and then import tensorflow, everything is working fine. I am not sure uninstalling and installing six affect it. I am closing this issue.
Thanks.

[2017-01-25 19:59] #7069 closed

[2017-01-25 20:00] drpngx commented on #7069
Oh, ok, you should have seen a message about that.

[2017-01-25 20:01] drpngx commented on #4213
Great to hear!

[2017-01-25 20:01] #4213 closed

[2017-01-25 20:03] drpngx commented on #6729
Should we update our documentation then?

[2017-01-25 20:13] yaroslavvb commented on #6729
Maybe under common problems? https://www.tensorflow.org/get_started/os_setup#common_problems

Not 100% sure what those flags do. IE, it worked for `bazel build`, but not for `bazel test`, it fails with error which suggests env problems (work-around is to do `bazel test sometes` followed by `bazel-bin/.../sometest`)

[2017-01-25 20:15] drpngx commented on #4255
I see. Is this iOS only or does it fail on linux too? If so, do you have a simple repro script?

[2017-01-25 20:23] drpngx commented on #7042
Are you installing from source? If so, you need to `cd ..` or somewhere else.

If not, then it looks like a problem with numpy. stackoverflow says that `sudo pip install -U numpy` might improve things (upgrade numpy).

[2017-01-25 20:27] drpngx commented on #7031
Looks similar to a problem when the parameter order was swapped. Maybe @sguada knows something about that.

[2017-01-25 20:32] laventura commented on #2882
Hi @yyyreal  -- I'm having the same problems!! It's driving me nuts.

Could you post the correct permissions to the files you listed ?("I reinstalled my cudnn library and authorized right permission to .a and .so.5.1.5 files. ")

Thanks!!

[2017-01-25 20:34] drpngx commented on #7019
OK, it fails to build the pywrap DLL because it failed to compile the wrapper. And that's because it failed to resolve the C++ function. Could you find a way to get the command-line that's running on this? It should be trying to link against the C++ tensorflow lib. We'd need to check the symbols in the C++ tensorflow lib and find out what symbols are out there. Maybe they're x86 symbols, or they h

[2017-01-25 20:34] drpngx commented on #7019
CC @mrry just in case

[2017-01-25 20:35] blodan commented on #7057
I've added a PR for the changes I can make in the git repo
https://github.com/tensorflow/tensorflow/pull/7073

However, the protobuff BUILD file still needs to be patched after extraction somehow.

[2017-01-25 20:36] drpngx commented on #6729
Thanks! Looping internally. `--config=opt` sets `-march=native` to get `-mavx` etc.

[2017-01-25 20:39] drpngx commented on #7057
Thanks! Could you submit the change to the protobuf repo? Then we can update the version.

[2017-01-25 20:40] gunan commented on #6729
I think for macos build we can set these environment variables through our bazelrc.
So users wont need to manually set them.

[2017-01-25 20:41] damienmg commented on #6729
/cc @aehlig: Is it normal that action_env is not passed to test?

--action_env tell which environment variable to pass to compile action
--test_env tell which environment variable to set to test action

Default value for action_env is LD_LIBRARY_PATH and PATH, we do not put DYLD_LIBRARY_PATH by default. So if explicitely set from the command line you want to add PATH and LD_LIBRARY_PATH too.

From

[2017-01-25 20:52] laventura commented on #2882
I'm on Mac OS X 10.11.6.  Installed CUDA 8, and CUDNN 5.1.  I've followed the install instructions from official TF site. (as of Jan 23, 2017)

**Any idea how to resolve this??**  Any help appreciated!! Thanks!

I'm getting this error:
**"libcuda reported version is: 310.42.25;  kernel reported version is: Invalid argument: expected %d.%d or %d.%d.%d form for driver version; got ""**

[code]

When

[2017-01-25 20:58] laventura commented on #4858
Hello @jart @wwxFromTju

I have similar problem as yours.:

**_Any help appreciated!! thanks!_**

**"libcuda reported version is: 310.42.25;
kernel reported version is: Invalid argument: expected %d.%d or %d.%d.%d form for driver version; got ""**
My detailed problem is here: https://github.com/tensorflow/tensorflow/issues/2882

In brief: CUDA Driver (from Apple > System Preferences > CUDA)
[code]

[2017-01-25 21:04] Ettrai commented on #4944
@dr2mer I followed your suggestion and the build managed to finish using --config=cuda7.5 .
The problem is that I tried to run [this example](https://www.tensorflow.org/get_started/os_setup#train_your_first_tensorflow_neural_net_model) but it always runs on the cpu and I have no idea why.

[2017-01-25 21:06] bamgooly commented on #6698
I'm encountering the same problem. The graph will run fine when forced to the cpu, but crashed on the gpu.

### Environment
OS: macOS 10.12.2
GPU: GeForce GT 750M
TF: 0.12.1 (pip install)
Python: 3.6.0
CUDA: 8.0
cuDNN: 5.1

(output of `ls -l /path/to/cuda/lib/libcud*`):
[code]

### Example
The minimal example provided by @ymfa both fails and succeeds on my setup. The following are three outputs th

[2017-01-25 21:07] blodan commented on #7057
I've now submitted a PR there too
https://github.com/google/protobuf/pull/2630

[2017-01-25 21:08] rajiv235 commented on #2882
@yyyreal @laventura I was able to solve this issue. I did the following:
1. updated the CUDA driver to 367.52
2. Installed CUDA 8.0 toolkit and CUDNN 5.1. Make sure to use -R with cp while copying cudnn library to cuda-8.0\lib64. Need to reboot after this. Check with nvidia-smi if proper drivers are installed and CUDA device is detected.
3. Follow http://expressionflow.com/2016/10/09/installing-te

[2017-01-25 21:14] laventura commented on #2882
@rajiv235 -- Thanks.  Your setup is Ubuntu I think.

I'm on Mac OS X 10.11.6.

I'm trying to see how to upgrade the existing GPU driver (reported from Apple > System Preferences > CUDA)

`GPU Driver Version: 10.10.14 310.42.25f02`

Maybe that's the source of the problem?? I dunno. 😩😩

[2017-01-25 21:17] yaroslavvb commented on #4858
@laventura sounds like you don't have CUDA-capable device (if your video card is AMD, it is not CUDA-capable)

[2017-01-25 21:18] tfboyd commented on #7065
Hi @yaroslavvb.  I am going to reproduce the result and get back to you.  Wanted to let you know we are looking at this issue.

[2017-01-25 21:19] yaroslavvb commented on #7065
thanks
ps: @SeguinBe is the affected party here

[2017-01-25 21:19] Nantangmo commented on #7072
@drpngx  Thank you! Now the script works fine~

[2017-01-25 21:24] laventura commented on #4858
@yaroslavvb

Here are the reports from System Report:  _(About This Mac > System Report > Graphics )_

So - _does this support CUDA or does it not? I 'm at a loss to figure this out now._

[code]

[2017-01-25 21:27] yaroslavvb commented on #4858
Yes it should. It seems your problem is outside of tensorflow since devicequery fails, maybe Nvidia support forums have tips

[2017-01-25 21:32] drpngx commented on #7072
Yay!

[2017-01-25 21:34] drpngx commented on #7057
Nice, thanks! Please ping back when approved.

[2017-01-25 21:35] laventura commented on #4858
I've been running between CUDA/GPU and Tensorflow issues... 😩😩

**_TensorFlow on GPU worked for me earlier,_** with an older version of TensorFlow (0.10? cant recall) and   perhaps older CUDA too (also can't recall)

I've seen the networks train faster with this same GPU...

Unfortunately, upgrading TF led to many of these errors.. and now I can't figure out if it is GPU/CUDA problem or TF.

Of co

[2017-01-25 21:38] yaroslavvb commented on #4858
`./deviceQuery` failing indicates this is not a TF problem, but a general GPU problem

[2017-01-25 21:50] iantheconway commented on #7019
I set Visual Studio's MSBuild output level to diagnostic, and I'm rebuilding the solution. I believe that will give the command line that's running underneath, let me know if I misunderstood the request. I'll post an attachment when it finishes running.

[2017-01-25 21:53] mrry commented on #7019
Hmm, I guess the problem is that we don't test with `-Dtensorflow_ENABLE_GRPC_SUPPORT=OFF` very often, and that option has bit-rotted... in particular, I don't think we've tested the Python support with it disabled.

I think the correct fix is to ensure that `tensorflow/core/distributed_runtime/server_lib.cc` is compiled and linked in even when `-Dtensorflow_ENABLE_GRPC_SUPPORT=OFF`. That will ens

[2017-01-25 21:53] drpngx commented on #7019
Sounds good thanks!

On Jan 25, 2017 1:52 PM, "iantheconway" <notifications@github.com> wrote:

[2017-01-25 22:01] iantheconway commented on #7019
Excellent, thanks! As I mentioned, I got another issue when I tried to build RelWithDebInfo with GRPC support on. Would it help if I tried to build with GRPC support on again and got back to you with info if it still fails?

[2017-01-25 22:03] mrry commented on #7019
That would indeed be useful, thanks! (I typically build with RelWithDebInfo locally, so I'm surprised that it isn't working with gRPC... but it's possible that I have something in my environment that causes it work.)

[2017-01-25 22:04] amortazi commented on #7026
@drpngx I have installed tf from source. Did I need to installed it from source again if I make changes to scatter_nd_op.cc file?
Also,  should I add sth like this to that file:
#define REGISTER_SCATTER_ND_CPU(type) REGISTER_SCATTER_ND(type, GPU);
TF_CALL_NUMBER_TYPES(REGISTER_SCATTER_ND_ADD_SUB_GPU);
// TODO(simister): Re-enable all types after binary size is under control.
TF_CALL_NUMBER_TYPES(R

[2017-01-25 22:09] Mazecreator opened #7077 "TensorBoard ImportError: No module named werkzeug"
using the current HEAD of tensorflow, I have bumped into an issue when I execute tensorboard.

Version is reported as: 0.12.head
git rev-parse HEAD: a12c7dc3d83049e10c1dca8903d73cc71d3cb7b2
Linux: Linux tensor 4.4.0-53-generic #74-Ubuntu SMP Fri Dec 2 15:59:10 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

2017-01-25 17:02:36: I tensorflow/stream_executor/dso_loader.cc:125] successfully opened CUDA libr

[2017-01-25 22:10] amortazi commented on #7027
@drpngx should I just add TF_CALL_int64(REGISTER_GPU) in pack)ops.cc? May i ask where I should add it in the code?
Thanks,
Ali

[2017-01-25 22:36] mrry commented on #7065
One drive-by observation: the setup with

[code]

...might be slow because it's invoking the random number generator **for every batch**. In the PyTorch program, you run the RNG once, outside the timing loop (in the call to `np.random.randn()`), and reuse its results several times.

The following might be a fairer comparison:

[code]

[2017-01-25 22:55] ivankreso commented on #2169
@amortazi tf.scatter_nd is CPU only also. I think that code from above can be rewritten without // and % but scatter is probably the main bottleneck.

[2017-01-25 22:58] SeguinBe commented on #7065
@mrry tried it already, it does not change the timing at all.

[code]

On a side note, the resnet-50 timing in the end is more like 50ms so basically the same as pytorch.

[2017-01-25 23:01] amortazi commented on #2169
@ivankreso yes, tf.stack and tf .scatter_nd are both bottleneck. Currently, both of them are just in CPU. I am trying to register them in GPU, so we can remove those bottlenecks.
Here are the issues about stack and scatter:
https://github.com/tensorflow/tensorflow/issues/7026
https://github.com/tensorflow/tensorflow/issues/7027

I highly appreciate if anyone can help! thanks

[2017-01-25 23:17] drpngx commented on #7077
Just to be clear, you ran configure, built the whl file, installed, and running from there?

/cc @dandelionmane

[2017-01-25 23:19] drpngx commented on #7027
Just before the `#undef` (here)[https://github.com/tensorflow/tensorflow/blob/64edd34ce69b4a8033af5d217cb8894105297d8a/tensorflow/core/kernels/pack_op.cc#L148] should be fine.

[2017-01-25 23:23] drpngx commented on #7026
Yes, please try that. Thanks!

[2017-01-25 23:29] vrv commented on #7077
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/setup.py#L38 also lists werkzeug, so it's not clear why pip installing the package would not install werkzeug too.

[2017-01-25 23:34] amortazi commented on #7026
@drpngx I apply those changes to cc files in clone of tensorflow in my machine and then I try to apply changes in cc files by this codes:
bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package
bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg
sudo pip install /tmp/tensorflow_pkg/tensorflow-0.12.1-py2-none-any.whl

but, it seems that those chang

[2017-01-25 23:36] Mazecreator commented on #7077
Sorry,

I ran configure and use TensorFlow from source, but don't build the whl, I am setup for "Setting up TensorFlow for Development".  So I use the following:

    # To build with GPU support:
    bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package

    mkdir _python_build
    cd _python_build
    ln -s ../bazel-bin/tensorflow/tools/pip_package/build_pip_package.ru

[2017-01-25 23:38] vrv commented on #7077
I am not super familiar with that style of development: I don't know why calling the setup.py with 'develop' mode doesn't install the required packages.

You should be able to get around this by `pip install werkzeug` manually.

[2017-01-26 00:08] amortazi commented on #7027
I am using tensorflow 0.12 which tf.pack is not defined for this version. So, I have to use tf.stack here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/stack_ops.cc#L265

Would you tell me how I should this file to work with int64?

[2017-01-26 00:09] Mazecreator commented on #7077
I can try the PIP but a little concerned it might cause problems later as the PIP should be bundled with the development install.

Here is the link to the "setting up with TensorFlow for Development":
https://www.tensorflow.org/get_started/os_setup#setting_up_tensorflow_for_development

[2017-01-26 00:13] drpngx commented on #7027
`tf.stack` just calls the [pack op](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/array_ops.py#L843). It's confusing just for historical reasons. So the omdification in `pack_ops.cc` is correct.

[2017-01-26 00:15] codeisnotcode commented on #616
Why is something that should be so simple, so incredibly complex and failure prone? These are supposed to be checkpoints to protect against failures, not to provoke failures. There should be a simple call to checkpoint everything and another to restore it. The restore should wipe out whatever was in memory before. I've spent hours trying to untangle this mess because I was hoping it would save me

[2017-01-26 00:19] amortazi commented on #7027
It didn't work after applying the changes. Still tf.stack is pinned to CPU:

2017-01-25 19:16:59: I tensorflow/core/common_runtime/simple_placer.cc:841] stack: (Pack)/job:localhost/replica:0/task:0/cpu:0

I am using tf.device to pin it to GPU (with allow_soft_placement = True).
Any suggestion?

[2017-01-26 00:21] amortazi commented on #7027
And this is an error I got with allow_soft_placement = False :

	 [[Node: stack = Pack[N=4, T=DT_INT64, axis=0, _device="/device:GPU:0"](mul_1, floordiv, floordiv_1, mul_3)]]

[2017-01-26 00:22] mrry commented on #616
@codeisnotcode It'd be great if you could share more details of your problem in a Stack Overflow question (if you have questions about how to do something specific) or a new issue (if you think it's a bug, or have a specific feature request). Thanks!

PS. I'm going to lock this issue to avoid the conversation drifting off-topic.

[2017-01-26 00:28] drpngx commented on #7027
It means that the registration did not work, for some reason.

Could you go to [`NewSession`](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtime/direct_session.cc#L130) then call [`LogAllRegisteredKernels`](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/op_kernel.h#L1118) and see if it's there? It should not be, but you shoul

[2017-01-26 00:30] pannous opened #7083 "Feature request: simplify tf.train.write_graph() and tf.import_graph_def()"
As can be seen in https://github.com/tensorflow/tensorflow/issues/616 the current mechanism is too painful. (Also #4044 etc )

[2017-01-26 00:34] drpngx commented on #7077
If you are concerned about polluting your environment, you should run virtualenv. We need `werkzeug` to run.

[2017-01-26 00:35] drpngx commented on #7026
Yes, that's the right thing. I guess we have to figure out why the kernels are not registered.

[2017-01-26 00:39] amortazi commented on #7027
Would you provide some hints how I should do it? Is there any example?

[2017-01-26 00:40] drpngx commented on #7083
Could you summarize what the problem is, perhaps with a snippet of code? Thanks.

[2017-01-26 00:42] drpngx commented on #7027
Just go to the code in NewSession linked above, then add LogAllRegisteredKernels(). In the `#include` section, add `#include "tensorflow/core/framework/op_kernel.h`, then rebuild etc.

[2017-01-26 03:13] coder3344 commented on #7058
but I found these two imports in two projects, this is why I got confused

[2017-01-26 03:56] kingtaurus commented on #2237
@ibab I believe that this can now be solved using just `tf.while_loop` and then making sure your data is appropriately formatted. Using the idea from @bogatyy [cs224d/repo](https://github.com/bogatyy/cs224d/tree/master/assignment3) - I  modified it so that it doesn't require storage in a `tf.TensorArray` (the `while_loop` iteration is used for storage). Below is a rough sketch of a solution.

[cod

[2017-01-26 05:48] yaroslavvb commented on #7030
OK, custom op turned out to be relatively straightforward, I put it here: https://github.com/yaroslavvb/memory_probe_ops

One snag is that when the op is placed on CPU, the allocator returns 0 for `bytes_in_use`, so this only works or GPUs. I still see LOGMEMORY messages coming from cpu allocations, so it seems this info gets lost somewhere.

Also, when graph optimization are turned on, it sometim

[2017-01-26 06:48] warmhug commented on #1269
Thank @andrewharp  and I'm very sorry, I put the file name misspelled. Thank you for your debugging tip `adb logcat *:E native:V tensorflow:V`, I am not skilled on Android. I will delete my comments to avoid misleading others.

[2017-01-26 08:47] jplu commented on #7059
Here the output I get:

[code]

Next, if I comment the two involved lines in the file you mention, it fails with the same error, but, because of an another file:

[code]

[2017-01-26 08:51] martin-gorner commented on #6729
I have the exact same problem, just running Tensorflow (not building it):
ImportError: dlopen(/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/tensorflow/python/_pywrap_tensorflow.so, 10): Library not loaded: @rpath/libcudart.8.0.dylib
  Referenced from: /Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/tensorflow/python/_pywrap_tensorflow.s

[2017-01-26 09:24] garibarba commented on #7014
Same results on tensorflow 0.12.1. And I also get the float instead of the `nan` if I call `tf.minimum(float('nan'), 0.0)` or `tf.maximum(float('nan'), 0.0)`

[2017-01-26 09:46] deepak09027 commented on #5688
@redst4r I have a similar issue. I too think there could be some issue when calculating the gradients. Any update on how you resolved it?

[2017-01-26 10:10] redst4r commented on #5688
@deepak09027 Unfortunately I dont have any solution yet. I was hoping that some googler picks it up here :)

[2017-01-26 10:15] NilsWinter commented on #5688
Can confirm this issue as well. I'm having exactly the same problem! Would be great if this could be resolved :)

[2017-01-26 10:16] dcscodelife opened #7087 "TensorBoard dones't work well on win10:"
events.out.tfevents.1485424988 has been generated，its default been encoded with ANSI (check with notepad++)
but tensroboard decode it with some problems as bellow:

[2017-01-26 10:32] bazinac commented on #5553
Hi Andrew, please would you please be so kind and help me with one issue that prevents me from moving forward. I have graph with two output layers (final_result_orig – which is basically coming form retraining example,final_result_added – my custom layer) and I am unable to strip/optimize_on_inference it in order to run on android device (on pc it runs fine)

When I run:
[code]

Then in my android

[2017-01-26 10:34] bazinac opened #7088 "Running optimized graph with two output nodes on android gives “Session was not created with a graph before Run()” error."
Hi, please would you please be so kind and help me with one issue that prevents me from moving forward. I have graph with two output layers (final_result_orig – which is basically coming form retraining example,final_result_added – my custom layer) and I am unable to strip/optimize_on_inference it in order to run on android device (on pc it runs fine)

When I run:

bazel-bin/tensorflow/python/tool

[2017-01-26 11:09] abred opened #7089 "Tensorboard multiple scalar summaries in one plot"
In 0.12 I could do this:

trainAccuracy = tf.Variable(0., name="accuracy")
testAccSum = tf.scalar_summary("Accuracy", testAccuracy)
trainAccSum = tf.scalar_summary("Accuracy", trainAccuracy)
summaryOpsTest = tf.merge_summary([testAccSum])
summaryOpsTrain = tf.merge_summary([trainAccSum])
writerTest = tf.train.SummaryWriter(out_dir+'/test', sess.graph)
writerTrain = tf.train.SummaryWriter(out_dir+'

[2017-01-26 11:14] KeyYD commented on #7063
Did you use the `sudo pip`? It said that not permitted, so I think that maybe you didn't use it

[2017-01-26 11:22] KeyYD commented on #7058
I think this maybe caused by the difference of the tensorflow version. In the version 12, the later is not available

[2017-01-26 11:26] lukeiwanski commented on #7056
@lorenzo93 Does it compile without `--config=sycl`? It seems like the compilation error comes from GCC6 headers.

[2017-01-26 11:33] lorenzo93 commented on #7056
I'll test it tomorrow night and reply. I'm out for work

2017-01-26 12:27 GMT+01:00 Luke Iwanski <notifications@github.com>:

[2017-01-26 11:51] KeyYD commented on #7087
Did you use Chinese in your file but without a comment, #coding=utf-8,  at the start of it? If not so, I don't think that Window system is suitable for tensor board. You could try Ubuntu, Linux or Mac System

[2017-01-26 11:53] KeyYD commented on #7087
In Linux or Mac, you will get a link for tensorboard to watch it. But I am not sure whether it works in window

[2017-01-26 11:56] kdavis-mozilla commented on #6034
@ebrevdo Has there been any progress on this?

[2017-01-26 11:58] vladmos commented on #6931
Unfortunately both CIs are still red, I think it should be reopened.

[2017-01-26 13:35] dvisockas commented on #7056
I have the same issue, so I thought that I'll drop it here instead of creating a new one. Compiling TF with `--config=syscl` throws an error:
[code]

Compiling without `--config=syscl` works fine.

System information:
- Ubuntu 14.04 64bit
- Intel Haswell Mobile graphics / Radeon 8800M

Maybe two graphics cards might be an issue?

[2017-01-26 13:36] lukeiwanski commented on #7056
@lorenzo93 The GCC 6 STL headers exposed a bug in clang 3.6, which has been fixed upstream and will soon be merged into computecpp. Until then, it is possible to work around this by either using the GCC5 headers or libc++ (https://llvm.org/bugs/show_bug.cgi?id=24770)

[2017-01-26 14:12] carlthome opened #7091 "Feature request: let tf.contrib.layers.batch_norm normalize over more axes than just the last one"
When using `tf.nn.batch_normalization` and `tf.nn.moments` it's possible to choose which axes are aggregated and thus which dimensions are normalized over. For `tf.contrib.layers.batch_norm` and `tf.contrib.layers.layer_norm` the assumption is that only the last dimension will be normalized over. This is standard practice for filters in ConvNets, or the features in fully-connected layers, but ther

[2017-01-26 15:36] ebrevdo commented on #6034
Please provide a small example input that causes the issue so I can debug

[2017-01-26 15:38] michael4john opened #7093 "problems with Model saving and program slow to run"
[github_text_classification.zip](https://github.com/tensorflow/tensorflow/files/732694/github_text_classification.zip)
### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)
I tried to run the text_classification.py provided as one of the examples. But I basically ran into 2 problems:

1: The program took hours to finish (which j

[2017-01-26 15:42] vrenkens commented on #6034
I am not really familiar with the code, but is it possible that it is caused by line 183 in tensorflow/tensorflow/core/util/ctc/ctc_beam_search.h: (*scores)(b, i) = -beam_log_probabilities[i]; ?

[2017-01-26 15:51] MtDersvan opened #7094 "Feature request: Multi-label Binarizer (k-hot)"
Hi, I feel like an array op that converts between iterable of iterables and a multi-label format would be useful for preprocessing in multi-label tasks. Basically a tensorflow version of a sklearn [MultiLabelBinarizer](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MultiLabelBinarizer.html) that can iterate through Tensors.
I would assume a `tf.one_hot()` modification can w

[2017-01-26 15:56] yaroslavvb commented on #7091
It seems useful, ie, there's [Layer Normalization](https://arxiv.org/abs/1607.06450) which got good performance which is transpose of batch normalization, and [Weight Normalization](https://arxiv.org/abs/1602.07868)

 I wonder if it should be called something else though, since `batch` in `batch_norm` refers to batch dimension (0'th dimension).

I don't see a way to specify axis in `tf.nb.batch_no

[2017-01-26 16:09] carlthome commented on #7091
According to its docstring `tf.nn.batch_normalization` infers the axes from the input tensors (I assume `x', `mean`, `variance` etc. and that they're expected to match), so it didn't really need an `axis` parameter, I guess?

By the way, my feature request applies to the layer norm layer too. That too is useful to be able to apply to several dimensions instead of just the last, particularly for RN

[2017-01-26 16:16] biomassives commented on #22
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (111/100 (111%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-01-26 16:16] biomassives commented on #4255
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (113/100 (112%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-01-26 16:16] biomassives commented on #3867
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (117/100 (117%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-01-26 16:16] biomassives commented on #4858
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (122/100 (122%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-01-26 16:17] yaroslavvb commented on #7091
Oh, good point, it looks like it can normalize over arbitrary axis, taking specification from the missing dimension in `mean`/`variance` tensors

[2017-01-26 16:24] kishorenayar opened #7095 "Same Issue with latest Tensorflow on windows when using TensorForestEstimator"
Already this [issue](https://github.com/tensorflow/tensorflow/issues/6500) was created before and it's closed, but the issue was not resolved yet.

hparams = tf.contrib.tensor_forest.python.tensor_forest.ForestHParams(
        num_trees=2, max_nodes=1000, num_classes=2, num_features=9, model_dir='model/fit/')
forest_classifier = tf.contrib.learn.TensorForestEstimator(hparams)

**NotFoundError: D:\

[2017-01-26 16:39] andrewharp commented on #7088
@bazinac Are you using a recent version of TensorFlow? The loading code has been improved recently to give more descriptive errors when something goes wrong. I'd suggest syncing first and then seeing what it says.

[2017-01-26 17:01] amortazi commented on #7027
I reseted my computer and now when I wanna to build tf again I got this error:

	File "/home/user/.cache/bazel/_bazel_user/f9f5c94ad789d21bcfdb930889866229/external/local_config_cuda/crosstool/BUILD", line 4
		error_gpu_disabled()
	File "/home/user/.cache/bazel/_bazel_user/f9f5c94ad789d21bcfdb930889866229/external/local_config_cuda/crosstool/error_gpu_disabled.bzl", line 3, in error_gpu_disabled

[2017-01-26 17:08] gunan commented on #6931
Sorry, that was an Auto-close due to fix <issue> pattern.

[2017-01-26 17:25] yaroslavvb commented on #2076
One second granularity is a bit too coarse for benchmarking, it would be nice to get microsecond granularity like LOG statements , ie, using `NowMicros` instead of `NowSeconds`. Maybe something like this in `GenerateLogMessage`?

[code]

[2017-01-26 17:27] maxbaluev commented on #37
very need it!

[2017-01-26 17:38] vrv commented on #4858
@biomassives you seem to have started spamming github threads, so I have blocked you.  Please contact us offline once you've fixed whatever you're doing to stop spamming threads.

[2017-01-26 18:04] imvetri opened #7096 "[installation issues] unable to pip install tensorflow in windows : wheel not supported in this platform"
The following information are for installation issues

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
https://stackoverflow.com/questions/41605355/updating-the-supported-tags-for-pip#

### Environment info
Operating System: windows

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`): Co

[2017-01-26 18:04] #7058 closed

[2017-01-26 18:12] mrry commented on #7096
PIP packages for TensorFlow on Windows are only available for Python 3.5 at present. Your easiest option might be to install Python 3.5, but it should be possible to make a custom build for Python 3.6 with CMake.

We're aware that this is not ideal, and already tracking the problem in #6999, so I'm going to close this as a duplicate for now.

[2017-01-26 18:12] #7096 closed

[2017-01-26 18:14] mrry commented on #7095
From your comment on #6500, it sounds like you're using TensorFlow 0.12.1. Can you try again with 1.0.0 alpha or a nightly build? I think the necessary fix landed after 0.12.1 was released.

[2017-01-26 18:17] drpngx commented on #7014
Just to be clear, @garibarba you're running:

[code]
?

[2017-01-26 18:22] drpngx commented on #7056
thanks @lukeiwanski -- very helpful!

[2017-01-26 18:22] #7056 closed

[2017-01-26 18:31] drpngx commented on #7087
@dandelionmane maybe issues with BOM on windows?

[2017-01-26 18:32] drpngx commented on #7087
@dcscodelife could you attach the events file?

[2017-01-26 18:32] laventura commented on #7025
Hi  @yaroslavvb @zheng-xq

I'm getting this `Dst Tensor Not Initialized` error.

(See my comment (the last one)  in this issue elsewhere: https://github.com/aymericdamien/TensorFlow-Examples/issues/38)

I'm reproducing the stack trace here in case it helps diagnose the issue:

[code]

Here's deviceQuery successfully reporting seeing the GPU:

[code]

My System:
[code]

[2017-01-26 18:34] drpngx commented on #7089
In general this is a question that is best answered on stackoverflow, where we monitor all questions with the tag `tensorflow`. What is the warning you are getting?

@dandelionmane may know how to plot two scalars in the same plot.

[2017-01-26 18:36] drpngx commented on #7091
What is the problem with using `tf.nn.batch_normalization`?

[2017-01-26 18:47] yaroslavvb commented on #7025
Sounds like you are running out of GPU memory

On Jan 26, 2017 10:33 AM, "Atul Acharya" <notifications@github.com> wrote:

[2017-01-26 18:48] drpngx commented on #7093
@ispirmustafa @ilblackdragon this looks like a tf.learn issue. Feel free to bounce to stackoverflow if appropriate.

[2017-01-26 18:49] Mazecreator commented on #7077
I understand, but wanted to report the break in the current HEAD development build.  This is the first include I have needed to PIP install that appears it should have been installed with bazel.  My only concern is I will not be able to detect when it is corrected in the future.

[2017-01-26 18:50] drpngx commented on #7094
@ilblackdragon is that something we would welcome as a contribution or implement ourselves?

[2017-01-26 18:56] drpngx commented on #7059
I'm not sure where these flags are coming from. @asimshankar any idea?

[2017-01-26 19:00] garibarba commented on #7014
Precisely:
`python -c "import tensorflow as tf; print(tf.Session().run(tf.minimum(float('nan'), 0.0))"`
`python -c "import tensorflow as tf; print(tf.Session().run(tf.maximum(float('nan'), 0.0))"`
`python -c "import tensorflow as tf; print(tf.Session().run(tf.clip_by_value(float('nan'), 0.0, 100.0))"`

[2017-01-26 19:00] yaroslavvb commented on #6716
It seems hard to get accurate deallocation information even from VLOG messages.

The problem is that you can have multiple allocations with the same allocation id, but different step ids in the same `.run` call. The deallocation message does not include step_id, so it's ambiguous.

Here's an example "leak" I spent this morning debugging

[code]

[2017-01-26 19:00] drpngx commented on #7027
That's odd. Did you try to re-run configure as instructed?

[2017-01-26 19:02] drpngx commented on #7077
Right, we are thinking that `setup.py` should have installed it, but for some reason didn't. Is it working for you now?

[2017-01-26 19:05] drpngx commented on #7014
OK, it gives `nan` for me on Linux and `master`. @mrry / @gunan do you happen to have a windows build available where you could repro?

[2017-01-26 19:15] Mazecreator commented on #7077
Yes, I will remove the PIP package once you guys determine how to move forward as you could add the package as a prerequisite.

[2017-01-26 19:25] drpngx commented on #7077
Yes, it looks like it's a documentation issue. According to [stackoverflow](http://stackoverflow.com/questions/28509965/setuptools-development-requirements), the `develop` mode doesn't install the requirements. You have to install them separately. Closing a looping internally to update the doc.

[2017-01-26 19:25] #7077 closed

[2017-01-26 19:30] iantheconway commented on #7019
Hey, I tried pulling again after the commit was pushed, and the build still failed for me. I noticed my CMake version is 3.7.1 and that the CMake instructions say to use 3.5 up to 3.6, could that be an issue? Everything else on my system seems to be fine. The errors I'm getting are:

Severity	Code	Description	Project	File	Line	Suppression State
Error	LNK1318	Unexpected PDB error; OK (0) ''	tf_labe

[2017-01-26 19:32] amortazi commented on #7027
Yes, even I installed bazel again.

[2017-01-26 19:35] drpngx commented on #7027
You did answer "Y" at the configure right? It should have run `bazel fetch ...` and gotten what was needed. Could you try bazel fetch ... by hand again to see?

[2017-01-26 19:37] mrry commented on #7019
Possibly related to this Stack Overflow question? http://stackoverflow.com/questions/4256524/lnk1318-unexpected-pdb-error-ok-0

[2017-01-26 19:41] yaroslavvb commented on #6716
I added some heuristics to deal with cases like above and packaged it up as standalone script at https://github.com/yaroslavvb/memory_util

[2017-01-26 19:42] abred commented on #7089
yeah, thought about that, but I posted it here because I thought it might be a bug as it was working before the update.
(just the warnings that scalar_summary, merge_summary etc are deprecated)

[2017-01-26 19:44] amortazi commented on #7027
Yes,I answered Y. It was working before I restarted my computer. I did it, it didn't work.

[2017-01-26 19:56] iantheconway commented on #7019
Hmm. It was a fresh clone with a fresh Cmake build, so I don't think deleting project temp files would help, but restarting Windows is always worth a try. I'll let you know if that works. Thanks.

[2017-01-26 20:10] ashutoshdas96 commented on #6737
@chenghuige What is the fix for this issue?

[2017-01-26 20:14] carlthome commented on #7091
`tf.nn.batch_normalization` is more low-level. Unlike the `layers` version it doesn't handle estimation of population statistics as decaying moving averages during training; it doesn't make a distinction between test time and train time statistics on its own; it requires you to manually introduce trainable variables for beta and gamma, and so on. It's rather tricky to setup, in fact, as it's basic

[2017-01-26 20:35] atinzad commented on #22
New here. Wanted to ask if there will be OpenCL support in tensorflow in the future, would that mean there will be support to run tensorflow on FPGA?
Thank you

[2017-01-26 20:37] zhangyaobit commented on #7065
The tf version is using the slower NHWC data format. Changing it to NHWC will most likely speed things up.

[2017-01-26 20:47] asimshankar commented on #7059
I suspect that this happening because you're actually using `gcc` as opposed to `clang` which is the compiler that ships with xcode and is aliased to `gcc` on OS X. For example, on my Mac:

[code]

Shows that `/usr/bin/gcc` is actually clang. The toolchain configuration that @drpngx linked to is also [designed for clang and not gcc on OS X](https://github.com/tensorflow/tensorflow/blob/master/thir

[2017-01-26 20:57] drpngx commented on #7059
We can also use `-Xclang-only=-Wthread-safety` to get it work for both (obviously disabling that on gcc).

[2017-01-26 21:01] BogdanRuzh opened #7098 "CPU performance issue, desynchronized cores"
From time to time I have 600% CPU utilization and great performance while feeding batches into my model. But after few minutes, or even hours, CPU stuck on near 100% and everything becomes too slow.
While it's 600% utilization, CPU History shows great synchronization between all my cores. After it degraded, it seems like desynchronization.

I use CPU only for input pipeline, reading data from SSD.

[2017-01-26 21:05] fps7806 commented on #4722
einsum does not support dynamic sized tensors either. If any of the matrices contains a dimension of 'None' einsum returns an error.

[2017-01-26 21:09] yaroslavvb commented on #7098
Have you tried using tcmalloc, or jemalloc (jemalloc comes in the nightly version of TF)

If tcmalloc doesn't help, it sounds like you have a bottleneck in your computation. Your "desynchronization" is probably due to some stage being slow, so now the CPU intensive stage now only gets enough work to occupy one CPU

For some examples of debugging inefficient pipelines: https://github.com/tensorflow

[2017-01-26 21:55] drpngx commented on #7042
Can you try the steps above?

[2017-01-26 21:56] hholst80 opened #7100 "Feature request: CI for Windows build and test"
https://www.appveyor.com/

Free build and test in cloud for Windows. I think this should be implemented for TensorFlow to make sure the windows builds are as well tested as the Linux builds.

Motivation: https://github.com/tensorflow/tensorflow/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20windows

[2017-01-26 21:56] drpngx commented on #7089
@dandelionmane might know the answer.

[2017-01-26 22:05] drpngx commented on #7100
@gunan interesting idea.

[2017-01-26 22:07] drpngx commented on #7026
Following up on #7027, which is similar, until build issues are resolved.

[2017-01-26 22:12] drpngx commented on #7098
Could you try what @yaroslavvb suggests? It's a bit hard to tell without more information.

[2017-01-26 22:13] gunan commented on #7052
Tags were not moved after cherrypicks.
One option for you is to use the tip of the release branches.
However, v1.0.0-rc0 is just created. So you may also use that one.
https://github.com/tensorflow/tensorflow/tree/v1.0.0-rc0

[2017-01-26 22:13] #7052 closed

[2017-01-26 22:15] gunan commented on #7100
We do have windows continuous tests setup and running on our own test infrastructure.
http://ci.tensorflow.org/job/tf-master-win-gpu-cmake/
http://ci.tensorflow.org/job/tf-master-win-bzl/
http://ci.tensorflow.org/job/tensorflow-master-win-cmake-py/

We might be lacking firsthand windows development machines for quickly debugging these. but the test infra is there.
Closing the issue.

[2017-01-26 22:15] #7100 closed

[2017-01-26 22:16] drpngx commented on #7027
What do you have in this file: `third_party/gpus/crosstool/BUILD` ?

[2017-01-26 22:17] drpngx commented on #7091
Could you outline what the API change would look like?

[2017-01-26 22:24] iantheconway commented on #7019
Restarting did not help for me, my build failed with the same errors. However, it seems that it's failing with or without the gRPC support, so my issue must not be related to the issue you fixed. I think I'll try on a fresh machine to see if it's an issue with my environment.

[2017-01-26 23:02] michael4john commented on #7093
Actually, text_classification.py can successfully be run, despite of all the warnings. However, I do want to know how to save models in that particular case. I searched Internet, but few were found. Below is what I'm using:

`classifier = learn.DNNClassifier(hidden_units=[10,20,10], n_classes=2, model_dir="savedModel")`

It's in the Line 106 in the script `text_classification_with_model_saving.py`

[2017-01-26 23:03] bazinac commented on #7088
Unfortunatelly, after installing latest Tensorflow, I am strangely unable to even build optimize_for_inference script with

`Traceback (most recent call last):
  File "/home/poborak/SW/tensorflow-master/bazel-bin/tensorflow/python/tools/optimize_for_inference.runfiles/org_tensorflow/tensorflow/python/tools/optimize_for_inference.py", line 65, in <module>
    from tensorflow.python.framework import

[2017-01-26 23:10] hartb commented on #6850
Submitted a pull request with a possible fix. Works for me on POWER Ubuntu with both tarball and deb package cuDNN installs.

[2017-01-26 23:12] amortazi commented on #7027
It is empty!

[2017-01-26 23:15] andrewharp commented on #7088
Perhaps #97 or #1013 are relevant here? Have you run ./configure? What Python version are you using?

My assumption is that you have a different version of tf installed that Python is finding when you import tf elsewhere, so that is probably misleading.

[2017-01-26 23:25] michaelisard commented on #6716
I have given this a little thought but not yet looked into the details of the implementation. It looks as if it should be ok to add the step_id to the tracked metadata, so that you won't have to use heuristics to guess it.

As for putting deallocation into the timeline, I have one idea which is a bit half-baked and has not been subjected to code review. Before I type it in, I'd like feedback on wh

[2017-01-26 23:29] iantheconway opened #7102 "Cmake Visual Studio Build Fails on Windows due to filename length"
Summary:

Visual Studio build fails on Windows due to filename length exceeding the limit.
Note: I think I can get around this by cloning into a higher level directory, such as C:\TensorFlow. Or perhaps by adding the flag -Dtensorflow_ENABLE_GRPC_SUPPORT=OFF

About my system:

Windows 10
Version 1607
Build 14393.693

Cmake version 3.7.1

Visual Studio Community 2015

Steps:

Clone tensor flow repo

[2017-01-26 23:30] bazinac commented on #7088
I am using Python 3.5. I have tried to build tf from source, but it has failed to build Python wheel. I therefore opted to install latest (12.1) release using pip.

I then ran ./configure in downloaded copy od latest tensorflow-master and built optimize_for_inference (I am sorry to provide misleading info on my previous comment). Then this abovementioned error arises when I try to run built optimi

[2017-01-26 23:32] nikhilshinday commented on #6744
turns out that `libcublas.so.8.0` was unsuccessfully unzipped. I downloaded CUDA 8.0/CuDNN again, reinstalled drivers, and TF installed successfully.

[2017-01-26 23:36] drpngx commented on #7027
That's the right content. Can you do:

[code]
?

[2017-01-26 23:41] drpngx commented on #7102
It's a bit strange that it continued. It looks like the protoc didn't produce output.

Sorry, I'm not sure there is much we can do about this, since the problem is outside of tensorflow. I would suggest using the `subst` command to assign a drive and work from there.

/cc @mrry

[2017-01-26 23:41] #7102 closed

[2017-01-26 23:46] drpngx commented on #7088
It sounds like @andrewharp is right. There are two versions in your system. I'm guessing that the best at this point is to go back and `pip uninstall` tensorflow, then work through the issues building from source.

[2017-01-26 23:46] amortazi commented on #7027
it returned nothing.

[2017-01-26 23:49] drpngx commented on #7027
That's strange.  Could you blow your cache again (`bazel --clean`) and run?

[2017-01-26 23:50] amortazi commented on #7027
bazel --clean returned error. but bazel clean worked fine. Is that fine?

[2017-01-26 23:52] iantheconway commented on #7102
Ok, I'll just build it from a higher path. I just thought I'd log the issue in case someone else runs into it. Thanks!

[2017-01-26 23:54] drpngx commented on #7027
Yes sorry. Could run `find . -type f -name BUILD|xargs grep -n error_gpu_disabled`?

[2017-01-26 23:55] drpngx commented on #7102
Good call. Thanks!

[2017-01-26 23:57] amortazi commented on #7027
it returned nothing. Also, I did bazel clean and run it again, but it returned same error.

[2017-01-26 23:57] yaroslavvb commented on #6716
So the problem I'm trying to solve is that we have models that use too much memory, and in order to have confidence that our optimizations are working, we want to be able to track down "MemoryExceeded" error to a particular sequence of allocations and deallocations.

For your proposal, my question would be how robust it is. What do you mean mean by "hopefully it's rare"? If it's pretty rare, then

[2017-01-27 00:00] drpngx commented on #7027
How about `git clone` to another directory and try from there?

[2017-01-27 00:03] michaelisard commented on #6716
The issue would arise if temporaries got allocated by threads on the Eigen threadpool. So it shouldn't happen for GPU allocations. For CPU I haven't looked at all the ops: someone could do it, but it seems unlikely to be performance-friendly.

Anything held in the resource manager may persist across run calls, and therefore be allocated and deallocated by different calls. E.g., a tensor in a queue

[2017-01-27 00:05] yaroslavvb commented on #6716
BTW, here's an example of things we are using it for, looking at timelines like attached (this is memory usage timeline for regular tf.gradients vs. sublinear memory gradients from https://arxiv.org/abs/1604.06174 for 100 node chain)

<img width="413" alt="default" src="https://cloud.githubusercontent.com/assets/23068/22355705/1f1ddd88-e3e1-11e6-9888-5a5d5214af3c.png">
<img width="413" alt="screen

[2017-01-27 00:14] yaroslavvb commented on #6716
I was seeing those "orphan" deallocations in https://github.com/tensorflow/models/tree/master/resnet which uses queues...although `cuda_host_bfc` seems to rule that out, queues should be using CPU

To summarize, I think any change that would make memory timelines easier to build would be welcome. My current vlog memory parsing logic seems to mostly work, but it breaks when vlog output gets too lar

[2017-01-27 00:15] amortazi commented on #7027
I got same error! :(

[2017-01-27 00:46] gunan commented on #7014
Trying now.

[2017-01-27 00:49] KeyYD commented on #7095
I come across the similar issues, too. And I suggest that you may check the import file in the file tree `D:\Program Files\Anaconda3\lib\site-packages\tensorflow\contrib\tensor_forest\python\ops_training_ops`
I think it may be caused by version of tensorflow. And in the ReadMe.md file of contrib, you can read that "Any code in this directory is not officially supported, and may change or be remove

[2017-01-27 00:56] gunan commented on #7014
Reproduced the issue on windows, both on master and 0.12.1

[2017-01-27 01:09] drpngx commented on #7014
Thank you @gunan ! We should definitely add a test for that once fixed.

Assigning to @aselle . I might take a look later

[2017-01-27 01:14] gunan commented on #7014
It looks like the problem is caused by maximum and minimum.
And the implementations of those seem to just use eigen, if I am not mistaken.

[2017-01-27 01:25] gunan commented on #7055
We fixed this in cmake, and I am attempting to fix it in https://github.com/tensorflow/tensorflow/pull/7082
But not been successful so far.

[2017-01-27 01:41] sguada commented on #7065
Can you try?
with slim.arg_scope([slim.conv2d], data_format='NCHW'):
 preds, _ = nets.vgg.vgg_16(input_images, is_training=False)

[2017-01-27 02:08] keryell commented on #22
@atinzad: yes if the OpenCL or SYCL version & source code is supported by the FPGA environment. But since TensorFlow is perhaps the most ported framework with various means, it might already have some part running on an FPGA already somewhere...

[2017-01-27 02:09] iantheconway commented on #7019
A fresh build on a separate machine did not fix my PDB errors.

On a whim, I tried enabling Cuda support on the second machine, and I got a different set of errors, starting with:
Severity	Code	Description	Project	File	Line	Suppression State
Error	MSB6006	"cmd.exe" exited with code 1.	tf_core_gpu_kernels	C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V140\Microsoft.CppCommon.targets	171

And fo

[2017-01-27 02:13] ravyg commented on #1820
I have to processes around 30 million tweets text with Tensorflow based word2vec implementation. I have data in json files saved on bases of daily streaming. Is there a way I can batch (queue) feed data from multiple files to word2vec? Please help!

[2017-01-27 02:22] darshanmaiya commented on #6687
I'm facing the same issue when trying to use the same example from [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dist_test/python/mnist_replica.py).

Asynchronous works but setting sync_replicas to True results in the same error like this:
[code]

I am running in CPU only mode on Ubuntu 16.04 with tensorflow 0.12.1 and Python 2.7.12. I'm facing the same issue with Py

[2017-01-27 02:27] drpngx commented on #7019
This is how we run the build:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/windows/cpu/cmake/run_build.bat

[2017-01-27 02:29] drpngx commented on #7014
Hopefully it's not a problem with NaN on SIMD.

[2017-01-27 02:58] act65 opened #7106 "Feature request: Audio thumbnails/summaries in the embedding visualization"
We (@pfcm and I) have been working with audio data (bird songs) and would like a way to inspect (via listening) embeddings of small chunks of audio files. The main use would be to help us to validate and explore our data. In our setting we have few labels, so we are especially interested in using it to inspect clusters and validate (with humans) their accuracy/reliability/clusteryness.

We would l

[2017-01-27 03:20] drpngx commented on #7027
I'm slowly running out of ideas. If you have tensorflow installed, please `pip uninstall` it.

Also, report the output of

[code]

You could try to use the docker file and build in a docker environment, roughly speaking:
[code]
and build from source there.

I have to ask -- are you sure you are building in the right directory?

[2017-01-27 03:25] drpngx commented on #7106
I'm not sure I totally understand, but let me know if this is related.

@dandelionmane has built tensorboard with audio summaries, where I think we can see spectrograms. Maybe extending this to allow listening to segments of that in some sense?

[2017-01-27 03:52] act65 commented on #7106
We would like audio summaries to work with the [embedding visualiser](https://www.tensorflow.org/how_tos/embedding_viz/). Much like there are thumbnails of each mnist image (see link), we would like to be able to click on an embedded datapoint; to listen to it (currently we are just using the spectrograms as image thumbnails) and to figure out where it came from (which part of which audio recordin

[2017-01-27 04:24] iarroyof commented on #7042
Hi @drpngx I tried what you kindly suggested, but the error is the same.
Given I'm in Kears, Theano works well at the moment.

[2017-01-27 05:25] kishorenayar commented on #7095
I will try with Tensorflow 1.0 and will let you know soon.

[2017-01-27 06:17] kishorenayar commented on #7095
Is there any way to install Tensorflow 1.0 rc1 without using bazel and cmake in windows ? Because I'm having a trouble with building from source

[2017-01-27 07:20] robmcdan commented on #7048
same on ubuntu, with bazel 0.4.3, downgraded to 0.4.2 and same problem, tried 0.3.2 but ran into https://github.com/tensorflow/tensorflow/issues/6436

dead in the water at this point, can't get past configure

[2017-01-27 07:52] Pepslee commented on #2169
I can remake this code without tf.stack and //, % , but I can`t find the GPU analog of tf.scatter_nd

[2017-01-27 08:53] StevenPuttemans commented on #7035
Sorry for the delay, but was not at work until now to try this out. It seems the following steps enabled me to get everything fixed and building

- Reinstalled `sudo apt-get install build-essentials gcc g++`
- Based on that, reinstalled CUDA7.5, to ensure CUDA was built using the correct compiler
- Then re-ran `./configure`

Now the command `bazel build -c opt --config=cuda //tensorflow/tools/pip_

[2017-01-27 09:12] StevenPuttemans commented on #7035
I will re-open this issue, because I still have some problems. So compiling went fine, then run the command  `bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg` and then ran `sudo pip install /tmp/tensorflow_pkg/tensorflow-0.12.1-cp34-cp34m-linux_x86_64.whl` which should be the last step of the installation...

However I get the following error

[code]

The log says

[co

[2017-01-27 09:13] StevenPuttemans commented on #7035
I guess it has to do I told the installation to use python3 but pip seems to use python 2.7, if anyone knows how to handle this, do let me know.

[2017-01-27 09:15] StevenPuttemans commented on #7035
Found it! Changed command to `sudo pip3 install /tmp/tensorflow_pkg/tensorflow-0.12.1-cp34-cp34m-linux_x86_64.whl`

I suggest to update the tutorial to mention this!

[2017-01-27 09:15] #7035 closed

[2017-01-27 09:26] carlthome commented on #7091
I'd expect `tf.contrib.layers.batch_norm(..., axis=[0, 1, 2])` to work, just it it does for `tf.nn.moments`.

For backwards compatibility (where all but the last dimension should be reduced) `axis=None` is necessary as the default argument because the shape of the input tensor is not known, with documented behavior that it aggregates every dimension except for the last.

[2017-01-27 09:31] carlthome commented on #7091
Or preferably a new normalization layer, that takes `mode` and `axis` so we could choose layer norm, batch norm, weight norm and not consider the particular implementation details of the competing normalization methods (they have the same purpose of minimizing covariate shift AFAIK, but with different tradeoffs in code complexity / normalization "quality"):

[code]

[2017-01-27 09:39] vahidk opened #7108 "Tensorflow freezes on iOS during Session::Run"
Tensorflow hangs on iOS during Session::Run. I have a deep LSTM model that requires running session.run many times. The program occasionally hangs after running a few sessions without consuming any cpu. Tensorflow seems to get stuck at DirectSession::WaitForNotification.

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

https://github.c

[2017-01-27 09:39] ivankreso commented on #7026
Can someone point out to the GPU implementation for tf.scatter_nd?

I found only CPU version, I believe this one:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/scatter_nd_op_cpu_impl.h#L106

called from here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/scatter_nd_op.cc#L169

[2017-01-27 09:39] Olouge commented on #5017
This trick also worked from me. Thank you.

[2017-01-27 09:41] meteorcloudy commented on #7055
Thanks, @gunan !  The pip package build is back to normal, only two python tests are failing. Are they supposed to pass on Windows, or should we just skip them?
[code]

[2017-01-27 09:50] BogdanRuzh commented on #7098
Thanks for a help. I need some time to investigate my pipeline and testing tcmalloc/jemalloc.

[2017-01-27 09:51] SeguinBe commented on #7065
[code]

Using `data_format='NHWC'` and size [X, 224, 224, 3] I still get **160ms** and with the `data_format='NCHW'` it is even worse at **462ms**...

[2017-01-27 10:13] jplu commented on #7059
Hello,

First of all, thanks a lot for you very clear explanation.

I can install the xcode toolchain and switch between both it is ok. The reason is that I don't use xcode at all to code, and I didn't want something that heavy installed for not being used at all. the second reason I'm used to the GNU tools so I replaced the "MacOS" version of these tools for using the GNU ones.

If there is a pos

[2017-01-27 10:13] #7059 closed

[2017-01-27 10:16] SeguinBe commented on #7065
So I think that was mainly the solution, the tensorflow definition of the network was using a convolution instead of the fully connected linear matrix multiplication for fc6 fc7 fc8. To recapitulate :

Model | Timing
--- | ---
TF-slim default | 160ms
TF-slim + NCHW | 150ms
fc layers instead of conv | 94ms
fc layers instead of conv + NCHW | 82ms
pytorch | 65ms

There is still a gap but it is defini

[2017-01-27 10:25] vahidk commented on #7108
@petewarden

[2017-01-27 10:50] mutasem-mattar opened #7109 "error training LSTM image captioning model using dynamic_rnn"
Hello,
I am trying to use tf.nn.dynamic_rnn to train an image captioning model. However, I keep getting this error.

    ValueError: Variable lstm//BasicLSTMCell/Linear/Matrix does not exist, or was not created with tf.get_variable(). Did you mean to set reuse=None in VarScope?

I am using Tensorflow version 0.12.1

Here is the code snippet:

     lstm_cell = tf.nn.rnn_cell.BasicLSTMCell(num_units

[2017-01-27 11:20] swarathesh commented on #3175
this is a noob question but can i know how to find the location of bazel in my system

[2017-01-27 11:29] fayeshine opened #7110 "error running mnist_with_summaries.py on 1.0.0rc0"
I opened native optimization on CPU and the new memory allocation option during configuration

I run the file `mnist_with_summaries.py`, when the code run into
[code]

I got error
[code]

[2017-01-27 11:48] fayeshine commented on #7110
seems that I need to add /usr/local/cuda-8.0/extras/CUPTI/lib64 to LD_LIBRARY, solved it

[2017-01-27 11:48] #7110 closed

[2017-01-27 13:26] olyaromanyuk opened #7111 "Inference results depend on order of images in training batch"
I've trained the same network two times on the same dataset of 5 images. For the first time, the images in a batch for each step were in the same order. For the second time, the batch was shuffled before every training step. Both models overfit. Both models were tested on shuffled images from training dataset.
The firs model shows 100% accuracy.
[code]
[logs_not_shuffled.txt](https://github.com/te

[2017-01-27 14:23] Alkhoraif commented on #1013
I got the same issue. Please, how can I solve it

Traceback (most recent call last):
  File "<pyshell#1>", line 1, in <module>
    import tensorflow as tf
  File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/tensorflow/__init__.py", line 23, in <module>
    from tensorflow.python import *
  File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-

[2017-01-27 15:29] andrewharp commented on #3175
@swarathesh try `which bazel`

[2017-01-27 16:14] swarathesh commented on #3175
thanks @andrewharp

[2017-01-27 16:19] swarathesh commented on #3175
while ./configure im getting this error Can't find swig.  Ensure swig is in $PATH or set $SWIG_PATH.
but i have already installed brew install swig , what to do now @andrewharp

[2017-01-27 16:26] rsethur commented on #2514
Many thanks to @yaroslavvb : The time taken to add the operators was just 90 seconds in my case - so `make_template` is a reasonable approach and works great for me.

@TimZaman : Thanks a LOT for taking the time to share your approach using scopes instead of `make_template` - this works fine as well in my case. The latter throws an error incase of tf.Variable is used - that seems to be an advantag

[2017-01-27 16:26] mrry commented on #7095
It doesn't look like the release candidate is showing up in PyPI yet, but you can try installing a nightly build to see if the problem is fixed (despite the version number in the name, this package contains all of the updates for 1.0.0):

http://ci.tensorflow.org/job/tensorflow-master-win-cmake-py/lastSuccessfulBuild/artifact/cmake_build/tf_python/dist/tensorflow-0.12.1-cp35-cp35m-win_amd64.whl

[2017-01-27 16:27] swarathesh commented on #427
installed through brew but still getting the following Can't find swig.  Ensure swig is in $PATH or set $SWIG_PATH.

[2017-01-27 16:34] shaayaansayed commented on #2514
@yaroslavvb, I'd also greatly appreciate some sample code on how to use tf.train.maybe_batch. I imagine that keep_input needs to be a placeholder passed in during graph eval.

@TimZaman, I also implemented the train and val with different feeds, with two different models in different name_scopes but still reusing variables across the graphs obviously. I found that if I created the train graph firs

[2017-01-27 16:36] hiemal commented on #5448
I use keras as wrapper. Moving all the imports into subprocess solves the issue.

[2017-01-27 17:24] gunan commented on #7055
Two PRs out for that. #7107 and #7112

[2017-01-27 17:28] jonasrauber commented on #5804
I also have this problem. Will you fix this?

[2017-01-27 17:38] drpngx commented on #7030
Maybe you have to run it with `control_dependencies`?

[2017-01-27 17:38] yaroslavvb commented on #7065
@SeguinBe are the models identical? One way of telling is initializing with same weights and running the computation through. Since they both rely on CuDNN they should get the same timing, 30% slower seems off.

BTW, you can print out layers and their flops like this, this can sometimes help spot the difference

[code]

[2017-01-27 17:40] drpngx commented on #7042
OK, I'm not sure what it is. This is a keras issue, perhaps @fchollet can help you. Best is to ask on stackoverflow, where we monitor all questions with tag `tensorflow`.

[2017-01-27 17:40] #7042 closed

[2017-01-27 17:42] drpngx commented on #7026
Yes, we think it should be there. Could you try to follow the instruction on #7027 to print `LogAllRegisteredKernels`?

[2017-01-27 17:55] petewarden commented on #7108
I got some advice from @mrry and he explained that `DirectSession::WaitForNotification` blocking means that the run call is never signalling that it's finishing. On iOS we should only ever have one thread executing ops (inter-op parallelism in the arguments) so it should be tough to get into this condition. From Derek: "my guess is (i) some op that we don't really support on that platform is runni

[2017-01-27 18:00] drpngx commented on #7109
Thank you for reporting this issue. From cursory inspection it looks like it's a usage issue rather than a bug in tensorflow. For this, we encourage our users to post on stackoverflow, where we monitor all questions with the tag `tensorflow`.

[2017-01-27 18:00] #7109 closed

[2017-01-27 18:03] BogdanRuzh commented on #7098
I found my bottleneck and it was summary.histogram on weights of a heavy dense layer. So I would just increase step for summary saving.
Thanks for a fast support.

[2017-01-27 18:08] bazinac commented on #7088
I followed your hint and somehow managed to build from source. When I run it know, tensorflow is much more verbose and I can see that -

` E/native: tensorflow_inference_jni.cc:146 Could not create TensorFlow graph: Invalid argument: No OpKernel was registered to support Op 'Pow' with these attrs.`

I google out somewhere that this can be surpassed by adding necessary OpKernel to Android operator

[2017-01-27 18:08] drpngx commented on #3844
Closing due to inactivity. Feel free to re-open if you would like us to look again.

[2017-01-27 18:08] #3844 closed

[2017-01-27 18:08] drpngx commented on #3875
Closing due to inactivity. Feel free to re-open if you would like us to look again.

[2017-01-27 18:09] drpngx commented on #3900
Feel free to file again if you still have the problem. Closing this to clean up.

[2017-01-27 18:09] #3900 closed

[2017-01-27 18:10] drpngx commented on #3907
Closing due to inactivity. Let us know if the problem still persists and if @amxineohp fix above worked.

[2017-01-27 18:10] #3907 closed

[2017-01-27 18:10] drpngx commented on #3919
Closing due to inactivity. Feel free to re-open if you would like us to look again.

[2017-01-27 18:10] #3919 closed

[2017-01-27 18:10] drpngx commented on #3949
Closing due to inactivity. Feel free to re-open if you would like us to look again.

[2017-01-27 18:10] #3949 closed

[2017-01-27 18:11] drpngx commented on #3972
Closing since @yaroslavvb comment seems like a reasonable answer.

[2017-01-27 18:11] #3972 closed

[2017-01-27 18:12] drpngx commented on #3986
Ping anyone?

[2017-01-27 18:12] drpngx commented on #4006
Closing due to inactivity. Feel free to re-open if you would like us to look again.

[2017-01-27 18:12] #4006 closed

[2017-01-27 18:12] drpngx commented on #4024
Closing since this seems solved. Feel free to reopen if I misunderstood.

[2017-01-27 18:12] #4024 closed

[2017-01-27 18:13] drpngx commented on #4073
Closing due to inactivity. Feel free to re-open if you would like us to look again.

[2017-01-27 18:13] #4073 closed

[2017-01-27 18:13] drpngx commented on #4135
Closing due to inactivity. Feel free to re-open if you would like us to look again.

[2017-01-27 18:13] #4135 closed

[2017-01-27 18:13] drpngx commented on #4176
Closing due to inactivity. Feel free to re-open if you would like us to look again.

[2017-01-27 18:13] #4176 closed

[2017-01-27 18:13] mrry commented on #7019
@iantheconway I only ever build using MSBuild from the Command Prompt, like in the instructions. If you're using Visual Studio, it ought to work, but there may be some configuration mismatch. In particular, the build is pretty massive, and Visual Studio's UI doesn't always make it easy to find the root cause of a build failure. It'd be great if you could capture the complete build output when buil

[2017-01-27 18:14] drpngx commented on #4203
Closing due to inactivity. Feel free to re-open if you would like us to look again.

[2017-01-27 18:14] #4203 closed

[2017-01-27 18:16] gautamsreekumar commented on #1244
@murraymack that worked for me.

the method where we edit /usr/local/lib/python2.7/dist-packages/tensorflow/python/__init__.py didn't work for me

[2017-01-27 18:16] drpngx commented on #4324
It looks like you need to follow the install steps again. Feel free to reopen the issue if you still have the problem.

[2017-01-27 18:16] #4324 closed

[2017-01-27 18:17] drpngx commented on #4337
Is this still current?

[2017-01-27 18:17] drpngx commented on #4282
Is this still current?

[2017-01-27 18:17] drpngx commented on #4353
Closing, assuming that the fix was committed. Feel free to open again if the problem persists in more recent versions.

[2017-01-27 18:17] #4353 closed

[2017-01-27 18:17] drpngx commented on #4354
Is this still current?

[2017-01-27 18:18] drpngx commented on #4355
Is this still current?

[2017-01-27 18:19] drpngx commented on #4356
Closing, and looping internally. Thanks for reporting!

[2017-01-27 18:19] #4356 closed

[2017-01-27 18:19] iantheconway commented on #7019
Will do, thanks.

[2017-01-27 18:23] cancan101 commented on #4354
Yes, the location still does not change on navigation.

[2017-01-27 18:31] drpngx commented on #7098
Great to hear!

@dandelionmane FYI

[2017-01-27 18:31] #7098 closed

[2017-01-27 18:39] drpngx commented on #7088
On behalf of our users, thanks for helping us clarify things!

You should be able to add ops from there:
https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/BUILD#L3378

[2017-01-27 18:40] drpngx commented on #4354
Sorry to be petulant, but you tried with the latest version? Which browser/architecture?

[2017-01-27 18:52] cancan101 commented on #4355
there is an inline maximization option (which causes a reflow) but no open in new tab

[2017-01-27 18:57] drpngx commented on #4355
What browser?

[2017-01-27 18:58] vrv commented on #4359
@RichDubielzig perhaps @eliben might be able to help or point you at somebody who can help regarding your 'maximum code size' question.

[2017-01-27 18:59] cancan101 commented on #4355
Chrome.

[2017-01-27 19:00] cancan101 commented on #4354
i am using the newest docker image: `gcr.io/tensorflow/tensorflow:latest-devel-gpu` and Chrome.

[2017-01-27 19:04] zohairshafi commented on #1244
@murraymack's method worked for me as well. Thank you!

[2017-01-27 19:07] yaroslavvb commented on #7030
I got around the optimization issue by adding `.SetIsStateful()` to my op. Regarding CPU allocations, looks like by default byte tracking it is turned off. There's a function `EnableCPUAllocatorStats(true);` which I can call from the kernel, but it doesn't do anything. I suspect the problem is that the underlying variable is defined as `static bool cpu_allocator_collect_stats = false;`, so it can'

[2017-01-27 19:24] aselle commented on #4620
Since there is no specific bug or feature request settled on, I am closing this for now. Our other performance initiatives will encompass using Cuda 8.0 features. Thank you!

[2017-01-27 19:24] #4620 closed

[2017-01-27 19:30] aselle commented on #4617
Any update @ebrevdo? If this is not going to happen soon, I plan on closing this pending a more concrete plan here. It's not clear enough to move to contributions welcome.

[2017-01-27 19:31] avader906 commented on #2916
MPI is the way to go for RDMA support on compute clusters - this is the most common setup. There is also RDMA versions of Hadoop/Spark/Hbase. So the data side is distributed. As for the distributed learning, TF is behind CNTK - which runs on MPI and thus has RDMA for free. gRPC is dead end.

[2017-01-27 19:32] vahidk commented on #7108
This is the result of running summarize_graph:

Found 7 possible inputs: (name=token, type=int32(3), shape=[1]) (name=lstm_state/0/c/in, type=float(1), shape=[1,512]) (name=lstm_state/0/h/in, type=float(1), shape=[1,512]) (name=lstm_state/1/c/in, type=float(1), shape=[1,512]) (name=lstm_state/1/h/in, type=float(1), shape=[1,512]) (name=lstm_state/2/c/in, type=float(1), shape=[1,512]) (name=lstm_st

[2017-01-27 19:35] iantheconway commented on #7019
[build_output.txt](https://github.com/tensorflow/tensorflow/files/736097/build_output.txt) This is what Visual Studio is outputting.

[2017-01-27 19:41] yaroslavvb commented on #2916
Google is planning to transition to gRPC for all internal networking, so it's not a dead-end in terms of development. Also, I've been told by Baidu ML people that they have to maintain their own fork of MPI because the official one has bugs.

[2017-01-27 19:43] aselle commented on #4552
#2126 is a catch all for improvements to TensorFlow placement. I'm closing this issue and redirecting this query there. Thanks.

[2017-01-27 19:48] avader906 commented on #2916
There have been message passing and distributed object architectures for ever. Every ten years or so we re-invent. Corba to stateless DCOM to n-th iteration of message queuing. What alphabet runs is their business choice - but does not reflect the HPC community. If there is a convergence that happens between distributed learning and distributed data - it will have to take into account investments

[2017-01-27 19:49] RasPat1 commented on #427
And you tried brew install swig as well @swarathesh?

[2017-01-27 19:54] drpngx commented on #7030
Right. If you're linked against it, it should.

For some reason we chose to use a `Mutex`, but I think `std::atomic` would have worked fine.

[2017-01-27 19:56] aselle commented on #4495
Closing due to lack of recent activity, please reopen if you have further. questions. Also since this involves usage best practices, Stack Overflow is more appropriate for this question.

[2017-01-27 19:56] #4495 closed

[2017-01-27 20:00] aselle commented on #4427
Closing due to lack of recent activity, please reopen if you have further. questions.

[2017-01-27 20:00] #4427 closed

[2017-01-27 20:01] drpngx commented on #7088
Could you try that and let us know?

[2017-01-27 20:01] aselle commented on #4428
Closing due to lack of recent activity, please reopen if you have further. Please let us know if your issue is not resolved in the latest version. Thanks!

[2017-01-27 20:01] #4428 closed

[2017-01-27 20:02] drpngx commented on #4551
Marking as "contributions welcome" as per @nfiedel .

[2017-01-27 20:04] roski commented on #7048
same error

[2017-01-27 20:05] eliben commented on #4359
@RichDubielzig not sure I understand the maximum code size requirement. Care to elaborate? Where in the API would you expect to see this?

[2017-01-27 20:05] drpngx commented on #4540
You want `tf.random_initializer(0, [BATCH_SIZE], 0, num_vectors, tf.int64)`, I think.

This is a question that is better answered in stackoverflow, where we monitor all issues with the tag `tensorflow`.

[2017-01-27 20:05] #4540 closed

[2017-01-27 20:06] drpngx commented on #4361
Is this still a problem with `tf.nn.batch_norm`?

[2017-01-27 20:10] RichDubielzig commented on #4359
I would expect to see code size considerations taken in generation of kernel code from LLVM IR.  The instuction memory for individual cores in Knureon is quite small, and it looks like XLA could JIT kernel code  that would overrun program memory.  Is there a mechanism to break up a block of IR into smaller pieces?

[2017-01-27 20:16] andrewharp commented on #7088
It looks like cwise_op_pow.cc needs to be added to android_extended_ops_group1.

AFAIK there's no reason not to make this change -- we've just been adding ops as needed, so long as they actually compile for Android without adding undue size.

I think it would also be informative to list registered ops in the case one isn't found; is there an easy way to do that?

[2017-01-27 20:18] drpngx commented on #7019
Could you do this?

1. Kill the PDB server (beter yet, reboot)
2. Remove all PDB files
3. Tell us what version of MSVC you are running
4. What cmake generator are you running
5. Use the msbuild command as in the instructions

And see if it works. If that works, then we can try to narrow it down to a GUI problem.

[2017-01-27 20:24] andrewharp commented on #7088
It's actually already included in the Makefile build, so not including it for Bazel seems to be an oversight. Sending a CL to fix.

[2017-01-27 20:28] yaroslavvb commented on #7030
So I think for this feature to be complete using `load_library` mechanism, what's missing is the ability to enable CPU allocator stats either from TF client, or from dynamically loaded op kernel. @misard any suggestions?

[2017-01-27 20:35] gpapan commented on #7065
Looped in by @sguada.

The discrepancy between using convolutional vs. fully connected layers should be fixed.

The convolution kernel correctly calls CuBlas gemm for 1x1 convolutions and NHWC format ([see here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/conv_ops.cc#L439)).
Using `conv2d` vs. `fully_connected` should not make a difference for 'fc7' or 'fc8' -- @Se

[2017-01-27 20:36] mrry commented on #7019
Thanks for sharing the new build output. Is it possible that you're using the 32-bit toolchain? If I remember correctly, the default version of the compiler and linker (even when compiling x64 code) is a 32-bit executable. TensorFlow generates quite a large binary (and debug symbols), which might exhaust the address space of a 32-bit compiler/linker.

It's a little tricky to force VS to use the 64

[2017-01-27 20:38] pannous commented on #7083
Nevermind, the old horrible workaround of #616  has been completely streamlined and simplified in one single new function `tf.train.import_meta_graph`

[2017-01-27 20:38] #7083 closed

[2017-01-27 20:51] iantheconway commented on #7019
@drpngx I will try this and let you know the results
@mrry That would make sense. After I try the command line build, if I try the vcvarsall command from the article you sent followed by devenv.exe that might work, right?

Thanks.

[2017-01-27 20:51] mrry commented on #7019
That might work indeed! (If not, you'll at least be in the right environment to run `msbuild.exe` :)....)

[2017-01-27 21:00] michael4john commented on #7093
By looking at the tutorial: https://www.tensorflow.org/tutorials/tflearn/#tf-contrib-learn-quickstart, I was able to make the script working by adding feature_column in Line 106. The script that works is attached.
[text_classification_with_model_saving.zip](https://github.com/tensorflow/tensorflow/files/736259/text_classification_with_model_saving.zip)

One more question, is there any way to repor

[2017-01-27 21:01] drpngx commented on #6791
@alarmz can you confirm that `tf.contrib.tensor_forest` works after that PR?

[2017-01-27 21:09] drpngx commented on #6599
@yaroslavvb the hex address shows up when the symbol lookup failed. This is always very brittle. You can try to fiddle with build options to see if it helps. You need the frame pointers for instance, IIRC. If you gdb attach to it, then info symbol, then you might be able to reverse map it.

[2017-01-27 21:15] gunan commented on #7055
This one now should be fixed.

[2017-01-27 21:15] #7055 closed

[2017-01-27 21:15] jiazhentim opened #7116 "Packet16q16i does not name a type"
When I compile from source using the flag of AVX512 on Xeon Phi with gcc, I come across a problem as below:
ERROR: tensorflow/tensorflow/core/kernels/BUILD:895:1: C++ compilation of rule '//tensorflow/core/kernels:gather_functor' failed: gcc failed: error executing command /opt/rh/devtoolset-4/root/usr/bin/gcc -U_FORTIFY_SOURCE '-D_FORTIFY_SOURCE=1' -fstack-protector -Wall -Wl,-z,-relro,-z,now -B/

[2017-01-27 21:17] jiazhentim commented on #4775
Hi @c0710204, I tried your command to build TF on Xeon Phi, but failded. Like describe in [https://github.com/tensorflow/tensorflow/issues/7116](url), Could you help to figure out what is wrong?

[2017-01-27 21:35] gunan commented on #6931
Some more fixes in. Now looking into tensorforest issues on GPU.
Looks like they arrived broken.
Will see how I can triage them.

[2017-01-27 21:39] eliben commented on #4359
@RichDubielzig this functionality is not supported by the current CPU/GPU backends; however if you'd plan to add a custom backend for your architecture you could implement this.

[2017-01-27 23:05] drpngx commented on #7116
@martinwicke @rmlarsen @gunan We did enable `-march` but not the special eigen defines.

[2017-01-27 23:14] Ettrai opened #7118 "Cannot run TensorFlow on GPU - RHEL 6"
Hello,
I have been trying for days to take advantage of the in one of the machines I have access to.
Given that **I have no root**  access I had to compile everything from source.
I tried both the last stable release and the current master branch but I had no luck at running TensorFlow on the GPU.

My setup is the following :
Red Hat EL 6.8 (no root access)
Python 2.7.8
virtualenv 13.1.0
devtoolse

[2017-01-27 23:39] michaelisard commented on #6716
For the orphan allocation, I think the most likely is that someone is calling AllocateRaw and forgetting to call LogMemory::RecordRawAllocation at the same time. The easiest way to debug it is probably to add a log statement in TrackingAllocator::AllocateRaw. If there's an orphan deallocation of size Q, grep through for all the allocations of size Q and look for the one with no matching __LOG_MEMO

[2017-01-28 00:26] annarev commented on #4428
Sorry, I somehow missed this issue earlier. Patrick, let me know if you still see the issue.

[2017-01-28 00:49] sguada commented on #7065
@gpapan yeah it would be great if it works when the input size and the kernel size are the same and padding is 'VALID'.

Also, it seems that the optimization won't work with data_format='NCWH', but it should also work, isn't it?

[2017-01-28 01:13] aidan-plenert-macdonald commented on #4359
@eliben Do you mean implement it in the main TensorFlow, or just in our library? Can you recommend a good place that it might fit into nicely?

[2017-01-28 02:21] zijunwei opened #7123 "try ... catch like structure when loading tfrecords?"
When transferring tfrecords from place to place, some of them might be damaged or become incomplete. In this case, tensorflow will just return a queue error.

Is it possible to put some try...catch structure into the data loading process to avoid the interuption?

Some of the core errors:
`W tensorflow/core/framework/op_kernel.cc:975] Invalid argument: Could not parse example inpu`

`tensorflow.py

[2017-01-28 03:47] swarathesh commented on #427
yes

[2017-01-28 03:49] swarathesh commented on #427
swigs installed through brew /"swig-3.0.11 already installed"
but still getting this can't find swig. Ensure swig is in $PATH or set $SWIG_PATH.
while doing ./configure

[2017-01-28 06:04] philipperemy commented on #2107
If you have the error `"CUDNN_STATUS_BAD_PARAM"`, make sure that this problem does not come from your code.

For example if you give an empty array as an input.

[2017-01-28 06:05] philipperemy commented on #1787
If you have the error `CUDNN_STATUS_BAD_PARAM`, make sure that the problem does not come from your code.
For example if you give an empty array as an input. It happened to me and this was the reason.
I'm running v5 with TF built from the sources.

[2017-01-28 06:07] philipperemy commented on #2033
If you have the error `CUDNN_STATUS_BAD_PARAM`, make sure that the problem does not come from your code. For example, it happened to me because I gave an empty array as an input to the tensorflow session after the SECOND epoch. My `next_batch()` function had a bug. This was the reason. I'm running v5 with TF 0.9 built from the sources and it works nicely now.
@tongda @vguizilini @mpkuse @oakkas @a

[2017-01-28 06:38] gunan commented on #7118
We do not have official support for RHEL. (However, I think I have a solution below)
Bazel is complaining that "nasm" package tensorflow depends on is looking for explicit build dependencies for the listed headers. The problem looks unrelated to CUDA or TensorFlow.
maybe it can be related to this build file, but for core system libraries and headers, bazel should not be asking for explicit depende

[2017-01-28 06:40] gunan commented on #6931
We have decided to disable contrib tests that were failing for now, as contrib does not have official support.
They will be disabled until contrib library (tensor_forest) owners triage those bugs separately.

This bug now should be fixed. (The remaining issues will be tracked separately).

[2017-01-28 06:40] #6931 closed

[2017-01-28 07:10] gunan commented on #7116
@benoitsteiner
I do not think we have a Xeon Phi, or anything that has AVX512. So it might be tricky to reproduce.
Benoit, does eigen have full AVX512 support at the moment?

[2017-01-28 08:48] bazinac commented on #7088
Yay after adding "cwise_op_pow.cc", it works. Thank you guys!

[2017-01-28 08:48] #7088 closed

[2017-01-28 12:20] kindlychung opened #7126 "No module named tensorflow"
System: macos sierra
Python 3.5.2 via anaconda, a special env `tensorflow` created and used (`source activate tensorflow`)

Here is how I installed the package:

[code]

pip says all packages have been successfully installed, but if I try to import tensorflow, python says there is no such module.

It seems the module is named `tensorflow_gpu`:

[code]

Although `tensorflow_gpu` couldn't be importe

[2017-01-28 13:38] chrisrn commented on #1269
I have trained the inception-v3 network and I have successfully loaded the model to android device, but the predictions I am getting are wrong. I have also run the strip_unused.py script but nothing has changed. The code is the following:

[code]

[2017-01-28 16:59] drpngx commented on #7126
@gunan any idea?

[2017-01-28 17:02] drpngx commented on #7123
@sheeym is there a simple solution to this?

[2017-01-28 18:09] SeguinBe commented on #7065
@gpapan Yes, setting fc7 or/and fc8 as 1x1 conv does not change the timing (both in NHWC and NCHW btw)

@yaroslavvb It'd take a bit more time to properly transfer the weights from one framework to another. Though I think that I find the same proportional gap even in the 3x3 convolutional layers. I'll investigate more in the coming days.

[2017-01-28 18:48] MKorablyov opened #7127 "graph nodes inside sess.run() brackets should be garbage-collected"
My input pipeline returns current epoch, and batch of images.

epoch,label_batch,image_batch  = my_input_pipeline(.....)
.....

Two examples:
`sess.run(epoch[0],train_step_run)`
gives 15 examples per second and RAM get filled over time very slowly.
`
sess.run(epoch,train_step_run)`
runs 100 examples per second and is stable.

It would be great to make sess.run brackets "special" so that some TF fu

[2017-01-28 19:20] yaroslavvb opened #7128 "QR decomposition is slow"
We are doing a bunch of of QR decompositions in numpy. I did preliminary investigation of moving them to TF, but TF version is slow compared to numpy.

Below is a benchmark script that runs QR decomposition of 4096x4096 matrix. It took 7.3 seconds in TF and 1.93 in numpy MKL. Numpy MKL is the default numpy that comes when installing Anaconda.

version: HEAD from last week, built with `--config=cud

[2017-01-28 19:39] yaroslavvb commented on #7127
Can you try
[code]

From your description it sounds like `sess.run(a)` is slow and leaks memory, but `sess.run([a])` doesn't, which indicates a bug

[2017-01-28 19:50] yaroslavvb commented on #7126
@kindlychung this could be a message produced by Python package loader because it can't find the packages, or it can be caused by `pywraptensorflow.so` crashing with an exception. One way to tell which one it is, is to run under strace (sudo dtruss on Mac), and see what files it's opening, and that it eventually opens TensorFlow files from the correct site-packages directory

[2017-01-28 19:57] MKorablyov commented on #7127
I did not explain myself right. sess.run([a]) and sess.run(a) are same in my example, just tested this. Creating
[code]
also works fine. a is a tensor object.

The thing that would not work is:
sess.run(a[0])
[code]

[2017-01-28 20:06] yaroslavvb commented on #7127
Ah, right, `a[0]` adds a `strided_slice` op to the graph. It's the same problem if you did `sess.run(a+b)`, every time you run it, an `Add` op is added.

The way to prevent these kinds of errors is to run `tf.get_default_graph().finalize()` before modifying the graph.

If you do learning through higher level frameworks like `tf.slim` or `MonitoredSession` or `estimator`, those  already modify the

[2017-01-28 20:10] MKorablyov commented on #7127
`tf.get_default_graph().finalize() `is indeed a good way to treat errors of this kind. Thank you for clarifications.

[2017-01-28 20:50] #7127 closed

[2017-01-28 21:10] rezafarhadi commented on #5478
I had the same issue with mac os.. this fixed the problem:
install brew
brew install python
export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/mac/tensorflow-0.9.0-py2-none-any.whl
sudo pip install --upgrade $TF_BINARY_URL

[2017-01-28 22:10] kindlychung commented on #7126
I did a few things:

[code]

And now I can load tensorflow without a problem. Not sure which of the above solved it.

[2017-01-28 22:22] yaroslavvb commented on #7126
It's the `pip install ipython` line. If you don't install `ipython`, then using ipython from your env will use ipython from outside your env, and hence switch the load paths to be outside of your env (hence no tensorflow)

This issue has been diagnosed by an earlier user who updated documentation to reflect this in
https://github.com/tensorflow/tensorflow/pull/3514

[2017-01-28 22:22] #7126 closed

[2017-01-28 23:20] yaroslavvb commented on #4809
recently came up here http://stackoverflow.com/questions/41867993/tensorflow-one-of-20-parameter-server-is-very-slow

[2017-01-29 00:05] matth opened #7129 "Possible bug in ctc_beam_search_test.cc ?"
Hello,

I've found something very confusing in the above file, I can't see how [line number 54](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/util/ctc/ctc_beam_search_test.cc#L54) can work correctly.

[code]

From what I can make out each child beam entry has a new state associated with it, so the `to_state` being passed to the `ExpandState` method should only ever be called

[2017-01-29 00:47] jeffhammond commented on #2916
@yaroslavvb Indeed, as @avader906 implied, MPI is a standard API (http://mpi-forum.org/) with many implementations.  According to [this paper](https://arxiv.org/vc/arxiv/papers/1501/1501.02876v1.pdf), Baidu uses [MVAPICH2](http://mvapich.cse.ohio-state.edu/), which has GPUdirect support.  I'll hazard a guess that the bugs they see are related to GPUdirect and may in fact be performance defects, ra

[2017-01-29 05:29] manjunaths opened #7130 "Possible bug in inception_v1 in slim networks library"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

This question is probably not relevant to this issue. I did a Google search and didn't find any.

### Environment info
Operating System:

**Windows 7 - 64 bit**

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

**None.**

### What othe

[2017-01-29 07:10] gunan commented on #6809
OK, with 1.0rc0, now the binaries should not need sse 4.1
Please let me know if you run into any issues.

I will close this issue now as our latest binaries are more compatible.

[2017-01-29 07:20] gunan commented on #6693
The fix is now merged. 1.0.0-rc1 will have the fix. Closing the issue.

[2017-01-29 07:20] #6693 closed

[2017-01-29 07:24] gunan commented on #6652
I think this is still not resolved. I still do not see r0.12 results in bing.
@dr4b @wolffg

[2017-01-29 07:41] gunan commented on #2412
@asimshankar I think we can call this resolved once c distributable is ready, right?

[2017-01-29 07:46] asimshankar commented on #2412
Yes and no :)
I'm hoping to have the C API distributable soon, in time for 1.0, but C++ will be a little while longer since we're still working on the right API surface.

[2017-01-29 08:18] rizasif commented on #2296
Hello, I am having the same issue. I am using a docker container to train a dataset of almost 101000 images. Tensorflow starts creating bottlenecks of the images and after creating 15500 bottleneck files crashes with the following error:

[code]

I am not really sure that it is a memory issue. Even if so, how should I try and clean it? I am using Windows 10 64-bit with Docker 1.13

[2017-01-29 08:54] shahparth123 commented on #7013
can you please provide more details where I can add this statements?
I am not sure what to compare with this case statements.
I have even tried to use different number of threads from 1 to 1024.
Machine is dedicated server with single user and 16TB storage and 32GB RAM.
I am quite sure that error is one of the following case:
    case EMFILE:   // Too many open files
    case EMLINK:   // Too many

[2017-01-29 09:53] rizasif commented on #2296
So I placed some checks in the retrain.py file and its working fine now. From What I understand this is not because of a faulty image file but a faulty bottleneck file. As soon as the error was caught by my checks, the script started creating new bottleneck files instead of checking the cached ones.

In other words, if an incomplete bottleneck file exists in the cache then this error arises  (this

[2017-01-29 10:33] avader906 commented on #2916
Thinkgs are moving fast - last time i looked and mvapich2 did not support infiniband and now we talk about GPUdirect. @jeffhammond and @yaroslavvb are the two people who's contribution to get TF on RDMA would be invaluable. Seems MPI provides what we need today while gRPC might get there with time. What would be architectural and API choices to make sure TF could be compiled and run on both ?

[2017-01-29 10:45] avader906 commented on #2916
@jeffhammond and @yaroslavvb are the two people who's contribution to get TF on RDMA would be invaluable.

TF does not scale beyond one host only in the multiple node / multiple GPU distributed learning environment. Just look at the calculation bandwidth that is now possible:
https://devblogs.nvidia.com/parallelforall/benchmarking-gpudirect-rdma-on-modern-server-platforms/

MPI provides what we ne

[2017-01-29 11:30] pbnsilva commented on #7048
Could you try:
`sudo update-ca-certificates -f`

[2017-01-29 12:31] #7039 closed

[2017-01-29 12:56] prateek-agarwal commented on #5343
Traceback (most recent call last):
  File "evaluate.py", line 3, in <module>
    import transform, numpy as np, vgg, pdb, os
  File "src/transform.py", line 1, in <module>
    import tensorflow as tf, pdb
  File "/home/prateek/.local/lib/python2.7/site-packages/tensorflow/__init__.py", line 24, in <module>
    from tensorflow.python import *
  File "/home/prateek/.local/lib/python2.7/site-packages

[2017-01-29 16:26] abhinavvishnu commented on #2916
I would like to join in -- if possible. We have been identifying minimal
changes in TF runtime to support MPI based parallelism in the optimizer
class. We expect the implementation to be ready in a few weeks.

Please let me know, if you would like to discuss this further.

Sincerely,

:- Abhinav

On Sun, Jan 29, 2017 at 2:47 AM, avader906 <notifications@github.com> wrote:

--
Abhinav Vishnu
Resear

[2017-01-29 18:02] yaroslavvb commented on #7129
That file hasn't been touched in 9 months, not sure if anyone has state on it, but cc @ebrevdo just in case

[2017-01-29 18:37] danielmogilny opened #7133 "Loading Files with New Tensorflow"
Using newest version of Tensorflow on Linux.

Ok so I had a working Saver.restore going for literally months and everyone was fine:
saver = tf.train.Saver()
saver.restore(sess, "deep_tweet_lstm_w-300000")

deep_tweet_lstm_w-300000 was the name of the file with the data points.

Ever since updating my Tensorflow I get this error:
NotFoundError (see above for traceback): Unsuccessful TensorSliceRead

[2017-01-29 19:07] yaroslavvb commented on #2916
@avader906 Some numbers/concrete performance goals would be useful here. IE, what is an important application, how fast is it now in TF GRPC, how fast is it in competing implementation?

Note that there are two use-cases -- using distributed TensorFlow on public cloud, and using TensorFlow on dedicated compute clusters. Existing TF is optimized for the public cloud case because that's what compute

[2017-01-29 19:08] ebrevdo commented on #7129
Will try to look this week.

[2017-01-29 19:10] yaroslavvb commented on #7133
1. Can you be more specific with the versions
2. Could you try to switch back to older version and see if the problem persists (use virtualenv or conda env to easily switch between versions)

[2017-01-29 19:14] EronWright opened #7134 "[Java] [Feature] Load from SavedModel"
Make it possible for the Java library to load exported TF models in SavedModel format.

Outline of the proposed design:
1. Define a new class `SavedModelBundle` to represent the loaded saved model.  Properties include the graph, session, and metagraphdef.
2. Define a static method on `SavedModelBundle` to load from disk, given an export path and some tags.

[code]

3. Write a JNI method to support

[2017-01-29 19:29] EronWright commented on #7134
Here's a WIP - do tell if there's any objections to the approach, otherwise I'll write some tests and submit.
https://github.com/cookieai/tensorflow/commit/64360fc51bd5ce48b06f52901e032313b68dfacd

[2017-01-29 19:37] danielmogilny commented on #7133
I'm using 0.12.1 while before I used 0.11

[2017-01-29 19:41] yaroslavvb commented on #7133
Can you try with tf 0.11 from inside virtual env?

IE, if you use conda,

[code]

[2017-01-29 20:25] notnot opened #7136 "../genop/main.go:15: running "sh": exit status 1"
I am unable to get the Go binding for TensorFlow working on OS X 10.12. I followed the installation instructions at https://github.com/tensorflow/tensorflow/tree/master/tensorflow/go.

Things go wrong when generating the wrapper functions for TensorFlow ops:
go generate github.com/tensorflow/tensorflow/tensorflow/go/op

The output from the above command is:
../genop/main.go:15: running "sh": exit

[2017-01-29 21:11] notnot commented on #7136
I figured out that this issue was caused by having a GOPATH that consists of multiple directories, for instance mine is: GOPATH=$HOME/gocode/extern:$HOME/gocode/jpad;

This confuses generate.sh in locating PROTOC and eventually PATH. I fixed the issue by setting GOPATH to the top level directory that contains the source of TensorFlow, in my case  GOPATH=$HOME/gocode/extern

I'm not a .sh script ex

[2017-01-29 22:33] gpapan commented on #7065
@SeguinBe Thanks, that's very informative, I will go ahead and submit a change to optimize the branch in which the filter and input activations have the same size.

@sguada I think that cudnn natively supports the NCHW format and handles this special case internally. The last experiment by @SeguinBe also hints in the same direction.

[2017-01-29 23:06] avader906 commented on #2916
@yaroslavvb are you google employee ? I can understand the commercial nature of an effort to limit the platform development in the direction of increasing CPU loading available to individual users. After all idle CPU could be resold to another. But that conversation does not belong here. Different users have different needs - amazon and msft both offer HPC cloud. There are RDMA capable computation

[2017-01-29 23:29] Ettrai commented on #7118
@gunan thank you for your reply!
I did as you suggested and that error has not shown up anymore.

I have now a new error I have just started to troubleshoot :

[code]

[2017-01-29 23:29] yaroslavvb commented on #2916
@avader906 contributions are welcome in this area. One starting point might be evaluating @abhinavvishnu 's approach for combining TensorFlow and MPI and identifying/removing bottlenecks

[2017-01-30 00:04] avader906 commented on #2916
@yaroslavvb  I've linked the 2 week old study in my prior post. The kit to replicate and tests results are at http://dlbench.comp.hkbu.edu.hk/. In multi host environment TF is unusable - seems I am wasting my breath here.

[2017-01-30 00:49] ChadTaljaardt opened #7138 "The TensorFlow library was compiled to use SSE4.1 instructions, but these aren't available on your machine."
Hello,

My CPU is AMD Phenom II x6 1090t, I don't know if that's relevant.
I have an issue with my tensorflow, I have tried a few things and nothing is working. Here is the error I'm getting when I run my script.

[code]

Here is the error i get when i run my script.
[code]

I followed this tutorial generally https://alliseesolutions.wordpress.com/2016/09/08/install-gpu-tensorflow-from-sources-w-u

[2017-01-30 00:51] yaroslavvb commented on #2916
@avader906 Thanks for the link. Note that the study compares CNTK toolkit which uses MPI to distribute to multiple GPUs, to single-machine TensorFlow which uses direct GPU->GPU transfers. The 3.31x speedup they get on CIFAR resnet50 using 4 GPUs suggests that MPI is being quite efficient. Not sure what's going on with single-machine TF getting only 1.65x scaling on 4x GPUs, that would need some in

[2017-01-30 01:13] 7ammer commented on #37
@stackOverMind. Did a little search on these bullet points. I've not tried any of these and they might not be efficient to use / run but it looks like there are things that exist to potentially solve those issues.

* [taking advantage of multi processor environments in node js](http://blog.carbonfive.com/2014/02/28/taking-advantage-of-multi-processor-environments-in-node-js/)
* [node-lapack](https

[2017-01-30 01:37] #7138 closed

[2017-01-30 02:23] jeffhammond commented on #2916
@avader906 I'm not going to wade too far into the MPI vs TCP/IP or Ethernet vs InfiniBand debates, other than to say that the real advantage of MPI is the ability to target any of these technologies and more while outsourcing the low-level performance optimization to someone else (who is usually an expert).  For example, IBM used MPI when running deep learning on their [Blue Gene/Q](http://www-03.

[2017-01-30 02:24] carltonwang commented on #6599
I got exactly the same problem as you, I also use TFRecord and Queue to process data, and my main memory keeps growing until the system goes down...
By the way, I use Tensorflow 0.12.1, CUDA 8.0.44, CUDNN 5.1, CentOS 7

[2017-01-30 02:31] gunan commented on #7118
Not sure what is going on there.
Maybe this helps?
http://stackoverflow.com/questions/24890865/usr-bin-ld-unrecognized-option-plugin-error

[2017-01-30 02:42] Ettrai commented on #7118
I ended up using this solution : https://github.com/bazelbuild/bazel/issues/361

I managed to compile the nightly version of tensorflow, now I am rebuilding r0.12.1 to try some of the bundled examples (e.g. models/images/mnist/convolutional.py) .

I tried to run those with the nightly version but I ended up experiencing this issue : https://github.com/tensorflow/models/issues/857

As soon as I man

[2017-01-30 03:30] Ettrai commented on #7118
I managed to build TensorFlow with GPU support on the following configuration :

Red Hat EL 6.8 (no root access)
Python 2.7.8
virtualenv 13.1.0
devtoolset-4 (GCC 5.3.1)
Bazel 0.4.3 (built from source)
GeForce GTX680 (compute capability 3.0)
Cuda Toolkit 8.0
cuDNN 5.1

This is my final diff :

[code]

Hope this helps!

[2017-01-30 03:37] Ettrai commented on #4944
I am not sure that setting the flag to something other than --config=cuda gets the job actually done.
Could you double check that you're actually running your code on the gpu?

I ended up solving my problem like this : https://github.com/tensorflow/tensorflow/issues/7118

[2017-01-30 04:10] dustinvtran opened #7140 "Invert bijector in tf.contrib.distributions fails to generate samples"
Sampling from the example provided in the docstring fails with recursion errors.
[code]
I run into similar errors when using the Invert bijector for other distributions/bijectors.

I am using TensorFlow v1.0.1 and Python 2.7.

@jvdillon

[2017-01-30 06:19] kwccoin opened #7141 "iOS example missing #include "tensorflow/core/framework/types.pb.h""
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-01-30 06:26] dr4b commented on #6652
Yeah, I think this one needs to go to Wolff -- sorry for not redirecting earlier.

[2017-01-30 06:42] dat-ai commented on #349
An other solution is to limit the maximum jobs bazel should build. For example:

[code]

[2017-01-30 08:15] mesuvash commented on #4267
@sunsided : I am having the same problem with Ubuntu 16.10. Could you please tell me how you install it manually?

[2017-01-30 08:19] hyekoo opened #7142 "AttributeError: 'GFile' object has no attribute 'tell'"
I'm using python 2.7.6, pip 9.0.1 and tensorflow 0.12.1 under Ubuntu 14.04.

When I ran the script using this line,

import input_data
mnist_images = input_data.read_data_sets( "MNIST_data/", one_hot=True )

I got message like this:

Successfully downloaded train-images-idx3-ubyte.gz 9912422 bytes.
Extracting MNIST_data/train-images-idx3-ubyte.gz
Traceback (most recent call last):
  File "mnist.py

[2017-01-30 09:31] stillwalker1234 opened #7145 "GPU not registrering after pip update to 0.12 from 0.10"
Since upgrading via pip, tensorflow does not use my GPU.

[code]

Device looks correctly installed
[code]

Theano works fine

[code]

Added the following to ~/.bashrc
[code]

Anybody have an idea how to figure this out? I could off cause try to re-install everything, but I would rather figure out why this isn't working.

thanks in advance :)

NOTE: Only file GitHub issues for bugs and feature requ

[2017-01-30 09:43] kdavis-mozilla commented on #6034
@ebrevdo Until I get time to write a smaller, example one can look at [ctc_decoder_ops_test.py](https://github.com/tensorflow/tensorflow/blob/584d4921014db921a8f4722749adff09737826a8/tensorflow/python/kernel_tests/ctc_decoder_ops_test.py)

Documentation of [`ctc_beam_search_decoder`](https://www.tensorflow.org/api_docs/python/nn/connectionist_temporal_classification__ctc_#ctc_beam_search_decoder)

[2017-01-30 10:16] c810armyHuan opened #7146 "Nested `tf.while_loop`s hang when they are placed on CPU"
When I place all ops within nested `tf.while_loop` on CPU, evaluating the output of nested `tf.while_loop` makes the program hang.

I also [posted a question on StackOverflow](http://stackoverflow.com/questions/41929472/why-does-nested-tf-while-loop-freeze-in-test-session-of-tf-test-testcase).

### Environment info
Operating System: Ubuntu 16.04

Installed version of CUDA and cuDNN:
[code]

If ins

[2017-01-30 10:17] stillwalker1234 commented on #7145
Never mind, solved it

[2017-01-30 10:17] #7145 closed

[2017-01-30 10:32] avader906 commented on #2916
@jeffhammond There is no debate. Questions where asked why this (RDMA) feature is important and what could be improved in TF / gRPC.

Detailed technical argument requires networking and distributed systems design knowledge - not a requirement per say to code TF and meet clearly articulated users' needs.

There are now sufficient references in this thread - industry use cases, single host benchmark

[2017-01-30 12:39] smorrel1 commented on #436
+1 on this. The error also arose if checkpoint_path=None. The error message should warn the ckpt file may not exist.
Also it may be useful to know that a missing protobuf in the checkpoint_path directory gives  checkpoint_path=None while an error message would be more useful. HTH.

[2017-01-30 13:31] alquraishi commented on #2126
Since #4552 was closed and referenced here, I would just like to point out that there's a separate issue having nothing to do with distributed computing, and that is to prevent TF from scheduling too many concurrent operations at once such that it runs out of memory (on a single GPU). I have run into this problem many times where every single op can fit onto memory but because TF is overly aggress

[2017-01-30 14:39] KaosEngineer commented on #5609
I have the same issue as  sonalgupta  . I pass in a list of roughly 605742 sequence lengths, and I have 24 buckets, and it errors out with:

`  File "./step_train_rnnlm.py", line 66, in <module>
    main()
  File "./step_train_rnnlm.py", line 61, in main
    n_epochs=10)
  File "/home/malinin/dnn_lib/rnnlm.py", line 138, in fit
    data = self._construct_bucket_queue(trn_data_list, batch_size, cap

[2017-01-30 14:56] bushibushi commented on #5354
Thanks @yufengg !!! How did you come up with this fix ?

[2017-01-30 16:46] ebrevdo commented on #5609
It does seem that way.  When you say you pass in a list, are you saying you
are literally passing in a python list of length 605742, each entry
containing a tensor?

If so, then what you want to be doing is passing in a list with a single
tensor whose leftmost dimension is 605742.

On Mon, Jan 30, 2017 at 6:40 AM, KaosEngineer <notifications@github.com>
wrote:

[2017-01-30 17:26] yaroslavvb commented on #4552
Memory efficient execution is an open research area, and it's good to have a concrete application in mind to have a practical solution. For instance I found that "out of memory" was often caused by bad execution order, rather than executing too many of them concurrently.

IE consider computational graph below
![caterpillar](https://cloud.githubusercontent.com/assets/23068/22432653/7dc7bf20-e6ca-11