[2019-10-02 21:04] nluehr commented on #32755
@reedwm can you take a look at this?

[2019-10-02 21:11] Geoyi commented on #32784
@AquaDef, you may have `Tensorflow 2.0` installed, but the code you used was based on Tensorflow 1. xx. I would switch to install a lower version of TensorFlow.

[2019-10-02 21:23] mschonwe commented on #32691
Hacked past the session_creation_timeout_secs issue by hardcoding a return in /usr/local/lib/python2.7/dist-packages/tensorflow_estimator/python/estimator/run_config.py
[code]

Still fails in TF1.15-rc2 when no explicit device placement is given.

HOWEVER, it does WORK now when **GPU** is specified (`with tf.device('/gpu:0'):`).

[2019-10-02 21:25] brycearden opened #33000 "Performance Degradation on MLPerf's GNMT implementation after converting to frozen graph"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): ('v1.14.0-rc1-22-gaf24dc91b5', '1.14.0')
- Python version: 2.7.15+
- Bazel version (if compiling from

[2019-10-02 21:44] gowthamkpr commented on #32981
Can you please try the solution mentioned in this[ issue](https://stackoverflow.com/questions/47079111/create-keras-callback-to-save-model-predictions-and-targets-for-each-batch-durin) and let me know if it helps. thanks!

[2019-10-02 22:17] jvishnuvardhan commented on #29593
@srihari-humbarwadi Can you check with `TF2.0` and let us know whether it was resolved your issue? I ran it in `TF2.0` and I see the following output (partial) that includes `loss` at different steps.

[code]

Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/ceabd9bc9d5f4447a94d8c26344669a1/tf29593.ipynb) and let us know what you think. If your issue was resolved b

[2019-10-02 22:18] gowthamkpr commented on #32993
Tried to reproduce it on google colab but I don't face any error. Heres the [gist](https://colab.sandbox.google.com/gist/gowthamkpr/60b42fb040fd50cb8652a1b11264fc70/untitled159.ipynb). Looks like the issue is that tensorflow is not installed well.

I cannot really find the rot cause of this issue but you can take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/6548) and let

[2019-10-02 22:20] jvishnuvardhan commented on #29629
@protsenkovi Is this still an issue? Can you check with `TF2.0` and let us know whether the issue persists with latest TF version. Thanks!

[2019-10-02 22:26] QRabbani opened #33001 "ERROR: C:/tensorflow/tensorflow/compiler/xla/service/gpu/BUILD:1314:1: C++ compilation of rule '//tensorflow/compiler/xla/service/gpu:cudnn_fused_conv_rewriter' failed (Exit 2): python.exe failed: error executing command"
I'm trying to build Tensorflow 2.0 from source on my RTX 2070 machine. I get this error towards the end of the compilation process (https://pastebin.com/zuuQqZTb):

[code]

Any idea what's going on and how to fix it?

**Edit:**
Here's the output of ./configure (https://pastebin.com/DhvwwyZM):

[code]

And here's what's in my .bazelrc (https://pastebin.com/h6aLHX0d):

[code]

[2019-10-02 22:35] jvishnuvardhan commented on #29674
@siavash-khodadadeh Is this still an issue? Can you check with `TF2.0` and let us know whether the issue persists with latest TF version. Thanks!

[2019-10-02 22:38] jvishnuvardhan commented on #30148
@captain-pool Is this still an issue? Can you check with `TF2.0` and let us know whether the issue persists with latest TF version. Thanks!

[2019-10-02 22:40] ymodak commented on #32839
The above structure looks good. You can also refer to [Writing custom layers and models with Keras](https://www.tensorflow.org/guide/keras/custom_layers_and_models) article.
Thanks!

[2019-10-02 22:51] PINTO0309 commented on #29704
I have never been able to generate a healthy binary with the official procedure. So I always do native builds with RaspberryPi. RaspberryPi4 (Buster) can be built in about 12 hours. glibc2.29 and openjdk-8-jdk are required to use my Tensorflow binary, so please read the usage section carefully.
**https://github.com/PINTO0309/Tensorflow-bin#usage**
Please note that the wheel file I created is unoff

[2019-10-02 22:57] nikogamulin opened #33002 "tensorflow-gpu CUPTI errors"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 18.04):
- TensorFlow installed from (s

[2019-10-02 23:07] nikogamulin opened #33003 "Loss of the model ran with TF2.0 is much higher compared to 1.x"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-10-02 23:08] gowthamkpr commented on #32845
Closing this issue as it has been resolved

[2019-10-02 23:08] #32845 closed

[2019-10-02 23:11] jvishnuvardhan commented on #30355
@mketcha I changed one line in your code to append all the three layers to `x_list` and then applied `concatenation` and the [gist is here](https://colab.sandbox.google.com/gist/jvishnuvardhan/d6f7c83b0315f3051023e8f915cce1ba/untitled527.ipynb). With that modification, it runs without any error. I have also plotted the model and is shown below.
![image](https://user-images.githubusercontent.com/46

[2019-10-02 23:24] yongtang commented on #32884
@adkoadko It would be better if you could share a complete reproducible code snippet that could expose the issue, as @gowthamkpr suggested to help finding the issue.

If I remember correctly, OpenCV uses NCHW format which could be different from TensorFlow's layout. Wondering if you did the conversion before calling extract_patches?

[2019-10-02 23:31] jvishnuvardhan commented on #32849
@codeyman I don't see any issue with tf_lite conversion of keras model in TF2.0. [Here] is the gist.

[code]

I am closing this issue. Please feel free to open it if the issue persists with TF2.0. Thanks!

[2019-10-02 23:53] jvishnuvardhan commented on #30173
Is this still an issue? Can you check with `TF2.0` and let us know whether the issue persists with latest TF version. Thanks!

[2019-10-02 23:59] ewilderj commented on #19147
@ankane please feel free to reach out - I'm ewj@google.com - as I would like to help you get support from us

thanks for pointing this out @kojix2

[2019-10-03 00:04] #32487 closed

[2019-10-03 00:05] tejaskhot commented on #21526
Can we have support for `tf.image.ResizeMethod.BICUBIC` ? Currently only bilinear and nearest neighbor are supported.

[2019-10-03 00:05] ymodak commented on #32398
I was able to reproduce the reported behavior. Built was model using TF 1.13.1 but failed to load using TF 1.15.0-rc2
[code]

[2019-10-03 00:16] karimnosseir commented on #30714
@DocDriven Are you still facing issues.
Can you please provide an update ?

Thanks

[2019-10-03 00:52] dawsonlp commented on #32990
One of the suggestions in the issue you linked was to add a swapfile. I added a 1G swapfile. It still shows the warning, which occurs right at the start and later in the process, but it does run successfully. Your colab environment has way more ram - more than 10x what this machine has. Before swap:
              total        used        free      shared  buff/cache   available
Mem:        1007292

[2019-10-03 01:39] Raukk opened #33005 "Will DepthwiseConv2D support non-square Strides in the future? Ex: `strides=(1,3)`"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
2.0.0, 1.14.0
- Are you willing to contribute it (Yes/No):

[2019-10-03 02:12] medphysicsliv commented on #28018
I have this same issue with tf.distribute.experimental.MultiWorkerMirroredStrategy

[2019-10-03 02:44] yunabe opened #33006 "Stop inheriting `tf.keras.Model` to build custom layers in tutorials and guides."
## URL(s) with the issue:
- https://www.tensorflow.org/tutorials/text/nmt_with_attention
`Encoder`, `BahdanauAttention` and `Decoder` inherit `tf.keras.Model`.
- https://www.tensorflow.org/guide/eager#variables_and_optimizers
Model does not need to be a subclass of `tf.keras.Model` because we don't use `Model`'s utility methods.
- https://www.tensorflow.org/tutorials/customization/custom_layers#mo

[2019-10-03 05:35] #29472 closed

[2019-10-03 05:44] kdonbekci commented on #24828
I began experiencing the issue as well. My setup is:
Ubuntu 18.04
Cuda compilation tools, release 10.0, V10.0.130 (as shown by nvcc --version)
cudnn version 7.4.1 (as shown in cat /usr/include/cudnn.h)
NVIDIA driver 430.26 (as shown grep "X Driver" /var/log/Xorg.0.log)
RTX 2070

I followed the tensorflow.org directions for installing cuda (the apt way). Prior to the latest release (2.0 alpha), in

[2019-10-03 05:57] gadagashwini commented on #32944
I could reproduce this issue with Tf 1.15.0rc1. Please see the [gist here](https://colab.sandbox.google.com/gist/gadagashwini/ee529a96c94b3e9a5aa5b22303ceeae1/untitled173.ipynb#scrollTo=CQh69Vy8KtmP). Thanks!

[2019-10-03 06:18] oanush commented on #32957
@durandg12 ,
Thanks for reporting the issue, Can you share a simple and standalone code to reproduce the issue?

[2019-10-03 06:24] oanush commented on #32946
@mohitranawat,
Please refer this [link](https://github.com/tensorflow/tensorflow/issues/24491) of similar issue.Thanks!

[2019-10-03 06:32] durandg12 commented on #32957
The two import lines are standalone code to reproduce the issue.

[2019-10-03 06:36] mohitranawat commented on #32946
@oanush  I am not facing this issue. My model is saved in cpu only, nowhere GPU comes into picture.
Hope you can give another solution or suggestion.Thanks!

[2019-10-03 06:37] ravikyram commented on #32998
As I understand with Xcode 10.3 and using  TF 2.0.0-rc2 the problem is resolved.Please, let us know if it is still an issue?. Thanks!

[2019-10-03 07:00] samhithaaaa opened #33007 "deepspeech running issue"
![image](https://user-images.githubusercontent.com/36496141/66105607-bd81a980-e570-11e9-8b01-77e08a7f27d4.png)
Facing this issue,any help would be appreciated.
Thanks

[2019-10-03 07:01] tiru1930 commented on #32948
@gowthamkpr

code not pushed to git at, here is the complete code file

`from __future__ import absolute_import, division, print_function, unicode_literals
import tensorflow as tf
from tensorflow.keras import Model
import numpy as np

class DetectionModel(object):

    def __init__(self):
        super(DetectionModel, self).__init__()

    def model(self,inputs,training=True):

        net = tf.la

[2019-10-03 07:29] adkoadko commented on #32884
https://gist.github.com/adkoadko/59580391e636705b8684056f9a5482f4

OpenCV uses NHWC by default, I also reproduced this with plain numpy and tensorflow 2.0.0 (see gist)

[2019-10-03 07:36] srihari-humbarwadi commented on #29593
Looks like its working now, thanks!

[2019-10-03 07:36] #29593 closed

[2019-10-03 07:59] MartinPeris commented on #379
I know this has been closed for a long time and tf.app.flags are not really supported. But defining *tea* like this will give you the expected behavior:

`tf.app.flags.DEFINE_boolean('tea',None,'Soggy Leaves')`

[2019-10-03 08:43] gadagashwini commented on #32991
@wwwind,
Provide the exact sequence of commands / steps that you executed before running into the problem. Thanks!

[2019-10-03 08:45] gargn commented on #32991
The test is not expected to work in open source currently.

[2019-10-03 08:52] ravikyram commented on #32967
@schmidtdominik
I tried with installing `!pip install tensorflow-gpu` on colab it works as expected.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/ba52702209851454ee6b8261772ccb01/untitled239.ipyn).
Can we close this issue since it looks like it is resolved. Please, let us know if i am mistaken. Thanks!

[2019-10-03 08:54] kartik4949 commented on #32839
Ok...so there is no issue in implementing model structure like this right? i mean performance?

[2019-10-03 08:54] gadagashwini commented on #33001
@QRabbani, Please include the ./configure output. Thanks

[2019-10-03 09:00] gadagashwini commented on #32982
@RensDimmendaal,
Could you please elaborate the issue. Thanks!

[2019-10-03 09:08] MProx opened #33009 "Memory leak"
**System information**
**- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):** Yes, see below
**- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):** Ubuntu 18.04 (also demonstrated in Windows 7)
**- TensorFlow installed from (source or binary):** Binary
**- TensorFlow version (use command below):** v2.0.0-rc2-26-g64c3d38 2.0.0 (problem disappea

[2019-10-03 09:08] gadagashwini commented on #32310
@sharonevarghese,
Did you build the Tensorflow using bazel. Thanks!

[2019-10-03 09:10] ravikyram commented on #32960
In order to expedite the trouble-shooting process, please provide a minimal standalone code to reproduce the issue reported here. Thanks!

[2019-10-03 09:19] cottrell commented on #23873
The docs should focus on the ONE TRUE WAY first and the ONE TRUE WAY should be the subclass api with custom training via gradient tape (no keras model.compile) as it supports all custom ops.

This one step in the docs will greatly simplify the real complexity of all these corner cases.

[2019-10-03 09:24] ravikyram commented on #32949
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-10-03 09:26] ravikyram commented on #32937
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-10-03 09:28] ialdencoots commented on #33009
I have also experienced this critical issue.

[2019-10-03 09:36] davidc9320sg commented on #30114
Hi! I'm having the same problem with Tensorflow 2.0 (both cpu and gpu versions).
From what I gather here, my cpu would need AVX instructions and in fact they don't show in my cpuinfo.
However, on the same machine I can smoothly run Tensorflow 1.14 (both cpu and gpu). Any idea on what's going on? Is AVX actually the problem?

[2019-10-03 09:38] rmothukuru commented on #32965
@adaber,
Can you please check [this link](https://towardsdatascience.com/creating-a-tensorflow-cnn-in-c-part-3-freezing-the-model-and-augmenting-it-59a07c7c4ec6) and let us know if it helps. If that link doesn't help, can you please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

Make sure you also include the exact command

[2019-10-03 09:39] ArtyomMashkin opened #33011 "Using Tflite in Java for getting image as float array"
I have own tranied model and it works right(already implemented on Swift). My inputs for Tflite in Java - two float one-dimensional arrays with size 1*512*512*3 with values from 0.0 to 1.0. They are images and I have to insert them sequentially in Tflite and get new image as one-dimensional float array with the same size. The Tflite docs give only common info about input and output and tell that i

[2019-10-03 09:48] georgesterpu commented on #25353
Hi @dynamicwebpaige @qlzh727 @borisgin
Is Nvidia's OpenSeq2Seq still being migrated to TF 2.0 ?
I have re-implemented our AV speech toolkit for this latest version of tensorflow using tensorflow/addons/seq2seq (thanks @qlzh727 for all your help so far), yet I am facing a memory leak issue. Was wondering if I could have a look at some code samples in OpenSeq2Seq.

Thanks,
George

[2019-10-03 09:55] gadagashwini commented on #32553
@kiflowb777, Associated PR has been merged. Let us know if the problem still persists. Thanks!

[2019-10-03 09:56] gadagashwini commented on #32604
@LLLLLLoki, Please fill the template.

[2019-10-03 10:17] PistaSaki opened #33012 "tf.function fails with tf.ragged.boolean_mask"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution: Windows 10
- TensorFlow version: v2.0.0-rc2-26-g64c3d382ca 2.0.0
- Python version: 3.7.4
- CUDA/cuDNN version: None
- GPU model and memory: NO GPU

**Describe the current behavior**
A function containing `tf.ragged.boolean_mask` and decorated

[2019-10-03 10:30] rmothukuru commented on #32879
@jiawei6636,
Can you please refer [this link](https://stackoverflow.com/a/41370610/11530462) for visualizing Embedding Projector Locally and let us know if it helps. Thanks!

[2019-10-03 10:35] oanush commented on #32975
Issue replicating for TF-1.14, kindly fins the khttps://colab.sandbox.google.com/gist/oanush/c9c779a326c8e55b7ad6f50b726774cf/32975.ipynb of colab.Thanks!

[2019-10-03 10:38] oanush commented on #32972
Issue replicating for TF-1.14, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/3d836d2cc2a89f8618022f9095d42363/32972.ipynb) of colab.Thanks!

[2019-10-03 10:40] rmothukuru commented on #32787
@shahriar49,
For your case, MultiWorkerMirroredStrategy explained in [this link](https://www.tensorflow.org/guide/distributed_training#multiworkermirroredstrategy) should work. Can you please check and let us know if it works. Thanks!

[2019-10-03 10:42] oanush commented on #32875
@hagianga21 ,
Thank you for the info, looks like the complete code is not given. Can you provide a standalone code to replicate the issue ?Thanks!

[2019-10-03 10:52] Davari393 opened #33013 "ERROR: Config value android_arm64 is not defined in any .rc file"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):18.04
- Mobile device (e.g. iPh

[2019-10-03 10:56] ravikyram commented on #33003
@nikogamulin
I tried to execute the code in colab with TF 2.0.0-rc2 , i am getting the below error message `NameError: name 'dataloader' is not defined` , also `ModuleNotFoundError: No module named 'heatmaps'` .Please, help me in reproducing the issue in our environment.Thanks!

[2019-10-03 11:00] NadavLightricks opened #33014 "tflite.allocate_tensors() fails after changing input size"
(using tensorflow 1.14.0)

I'm trying to use a tflite model to do inference on a batch. I use the following code:

[code]

The code crashes and gives the following error:
[code]

When looking at the output details, it still has the shape ```[1, 513, 513, output_channels]``` and not ```[batch_size, 513, 513, output_channels]``` as I would expect.

Any ideas?

[2019-10-03 11:13] volvador opened #33016 "Xla and memory allocation"
- TensorFlow version 1.14
- Python version: 2.7

I am defining this kind of graph:

    product_list = [(5, 6), ...] # list of pairs of integers
    data = tf.compat.v1.placeholder(dtype=tf.float64,
                                           name='input_tensor', shape=[1, 1000])
    x_i = tf.gather(data, [i[0] for i in product_list], axis=1)
    x_j = tf.gather(data, [i[1] for i in product_list],

[2019-10-03 11:17] gadagashwini commented on #30114
@davidc9320sg,
Can you please post a new issue by providing the information asked by the [template](https://github.com/tensorflow/tensorflow/issues/new/choose)?
The reason for this is we can focus on your specific configuration and problem since the root cause can be unrelated even though the error messages are similar. Thanks!

[2019-10-03 11:19] mazatov commented on #24828
Well, I take my words back for now. Somehow after multiple restarts and reinstalls, these lines of code started working. Honestly not sure what changed. Seems like same results from `conda list` but it seems to work now 🤷‍♂

[2019-10-03 11:21] ravikyram commented on #32959
@danvargg

Can you please help us with the simple stand alone code to reproduce the issue in our environment.Thanks!

[2019-10-03 11:28] dangerden commented on #32912
I see the same behaviour with dataset created from tf.data.Dataset.list_files and then mapped into X,Y tensors dataset

[2019-10-03 11:54] nikogamulin commented on #33003
@ravikyram , thanks for help. The project is fairly complex, but the archtecture is actually the same is [this one](https://fairyonice.github.io/Achieving-top-5-in-Kaggles-facial-keypoints-detection-using-FCN.html). Also, it would be helpful to benchmark the model using the same dataset (facial keypoints expression from kaggle) as I can't share the data.

[2019-10-03 11:58] oanush commented on #32607
@myy920213 ,
When tried executing the given code i got the as present in the [gist](https://colab.sandbox.google.com/gist/oanush/5a89ff690cd4c5e9ad5f75d4e53f6b61/32607.ipynb) of colab.Thanks!

[2019-10-03 12:14] Palak-15 opened #33018 "UserWarning: Discrepancy between trainable weights and collected trainable weights, did you set `model.trainable` without calling `model.compile` after ? 'Discrepancy between trainable weights and collected trainable'"
Please Check my process because I am trying to solve this issue from very long time. I tried every thing on google but it didn't help.

1) build_generator() and build_discriminator() are 2 functions
2)inputs = Input(shape=(MAX_SEQUENCE_LENGTH,lattice))
dis_model=build_discriminator(inputs)
dis_model.summary()
dis_model.compile(optimizer=Adam(0.0001, beta_1=0.5, beta_2=0.9))
n_disc_trainable = len(

[2019-10-03 12:18] oanush commented on #32946
@mohitranawat ,
Did you try using [TFLITE_BUILTINS, SELECT_TF_OPS](https://www.tensorflow.org/lite/guide/ops_select) to convert your model?Thanks!

[2019-10-03 12:22] GaranceRichard commented on #32945
pip freeze
absl-py==0.8.0
alabaster==0.7.12
asn1crypto==0.24.0
astor==0.8.0
astroid==2.2.5
attrs==19.1.0
Babel==2.7.0
backcall==0.1.0
bleach==3.1.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
cloudpickle==1.2.2
colorama==0.4.1
cryptography==2.7
cycler==0.10.0
DateTime==4.3
decorator==4.4.0
defusedxml==0.6.0
docutils==0.15.2
entrypoints==0.3
gast==0.2.2
google-pasta==0.1.7
grpcio==1.23.0
h5py==2

[2019-10-03 12:23] GaranceRichard commented on #32945
what do you need more ?

[2019-10-03 12:32] tensorflowbutler commented on #32617
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-10-03 12:34] netskink commented on #32557
I'm happy to say that this error no longer occurs with 2.0 version.

print(platform.python_version())
print(tf.version.GIT_VERSION)
print(tf.version.VERSION)
print(tf.__version__)

3.7.4
v2.0.0-rc2-26-g64c3d38
2.0.0
2.0.0

[2019-10-03 12:39] mohitranawat commented on #32946
@oanush Tried, not working. Thanks!

[2019-10-03 12:41] GaranceRichard commented on #32945
also valid with :
absl-py==0.7.1
altgraph==0.16.1
astor==0.8.0
attrs==19.1.0
auto-py-to-exe==2.6.5
backcall==0.1.0
beautifulsoup4==4.8.0
bleach==3.1.0
bottle==0.12.17
bottle-websocket==0.2.9
cffi==1.12.3
colorama==0.4.1
cx-Freeze==5.1.1
cycler==0.10.0
Cython==0.29.13
decorator==4.4.0
defusedxml==0.6.0
Eel==0.10.4
entrypoints==0.3
enum34==1.1.6
future==0.17.1
gast==0.2.2
gevent==1.4.0
gevent-websoc

[2019-10-03 13:07] EoinKenny commented on #24412
Is there any super simple example of using a TPU in Google colab? It seems so hard to get going in comparison to a GPU, I've been using a tonne of code online trying to get a pipeline that works, with no luck.

[2019-10-03 13:21] ravikyram commented on #32900
@mmmmayi
I tried executing your code in colab using TF version 1.15.0-rc1 and i am getting the below error `SystemExit`. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/df598e9d0a2defda70efd3c2e20f0d51/untitled242.ipynb#scrollTo=uHZ6RXaJkNnC). Thanks!

[2019-10-03 13:35] LoicDagnas opened #33020 "Silent end of the estimator's train_and_evaluate method but exit code != 0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): light adaptation in the estimator paradigm of the TensorFlow 2.0 [BERT pretraining code](https://github.com/tensorflow/models/tree/master/official/nlp)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy)

[2019-10-03 13:38] ravikyram commented on #32506
@gehring
Please, let us know is this still an issue?. If so please provide a minimal standalone code to reproduce the issue reported here.Thanks!

[2019-10-03 13:42] ravikyram commented on #32677
@yurivict
Can we close the issue since the query is been resolved. Let us know. Thanks!

[2019-10-03 13:52] jamieaware commented on #32677
Closed.

From: ravikyram <notifications@github.com>
Sent: Thursday, October 3, 2019 9:50 AM
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: Jamie Rogers <jrogers@aware.com>; Mention <mention@noreply.github.com>
Subject: Re: [tensorflow/tensorflow] gcc: error: unrecognized command line option '-std=c++14' (#32677)

@yurivict<https://github.com/yurivict>
Can we close the issue since th

[2019-10-03 14:03] vivekvekariya commented on #32950
@gowthamkpr
Kindly find link to my github gist on this issue:
https://gist.github.com/vivekvekariya/19d0b5a1af104d6cbac7425aa85bf408

[2019-10-03 14:29] feranick commented on #32998
Let's say that with XCode 10.3 and TF-2.0.0-rc2 it compiles. The problem is I cannot revert XCode to that, as the system automatically updated it to XCode 11. So I am stuck now.

[2019-10-03 14:30] daviduarte commented on #32767
From [this issue](https://github.com/tensorflow/serving/issues/1190) I tried not compile the TensorRT (running again ./configure), and then worked fine.

[2019-10-03 14:30] feranick commented on #32998
BTW, the issue is not unique to TF v2.0.0. TF1.15.0-rc1 and TF 1.15.0-rc2 do not compile either with XCode 11. I updated the bug description to reflect that.

[2019-10-03 14:37] andcarnivorous commented on #32629
@Namburger Oops, I was running the edgetpu api, tflite_runtime is still not working even on the images.

[2019-10-03 14:40] duysPES commented on #32817
I am having the exact same problem using this mock model. I am using tf 2.0.0 release.
On windows

[code]

[2019-10-03 14:59] MProx commented on #33009
I have managed to get around this error by using `model.predict_on_batch()` instead of `model.predict()`. This returns an object of type `<class 'tensorflow.python.framework.ops.EagerTensor'>` - not a numpy array as claimed in [the docs](https://www.tensorflow.org/api_docs/python/tf/keras/Model#predict_on_batch) - but it can be cast by calling `np.array(model.predict_on_batch(input_data))` to get

[2019-10-03 15:01] vccabral commented on #24496
For anyone else finding this after upgrading to tensorflow 2.0, the API and the code are slightly different.

Ubuntu 18
Tensorflow 2.0
Tensorflow-gpu 2.0
GeForce RTX 2070

Updated code for this system.
[code]

[2019-10-03 15:04] cybaj commented on #25807
Same error occurred here.

[code]

I don't know it is just related with that installed CUDA's version is `v10.1`, in my case.

- tensorflow 2.0.0
- CUDA 10.1
- windows 10 x64
- cuDNN 7.6.3
- gtx1060

of course, there are `cudart64_101.dll` in `CUDA\v.10.1`.

[2019-10-03 15:04] jhorowitz commented on #24412
@EoinKenny This is not specifically for 2.0 but it's a TPU in colab tutorial.  https://colab.research.google.com/github/tensorflow/tpu/blob/master/tools/colab/custom_training.ipynb

[2019-10-03 15:06] MadsAdrian opened #33022 "No module named `tensorflow.data`"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-10-03 15:13] zubairahmed-ai commented on #25807
Check the environment variable and make sure it points to ~v10.0\bin~ instead of ~\v10.0~ only

I spent way too long figuring this out than I should have 😔

[2019-10-03 15:15] rtkaratekid commented on #30388
Exact same issue for me using
CUDA 10.2
cuDNN 7.6
Tensorflow 2.0
Ubuntu 18.04
It might be a compatibility issue with the latest CUDA and cuDNN with tf? Not sure.

[2019-10-03 15:27] ipsec commented on #33009
I think same error here.
This code (https://github.com/ipsec/dqn_tf2/blob/master/nchain-train.py) not finishing.

[2019-10-03 15:32] doiko commented on #32981
How can we access the self.model._targets[0] and self.model.outputs[0] inside a Custom Callback at on_batch_end?

[2019-10-03 15:33] maranov commented on #9722
Here's my modification, for those who found this via web search:
[code]

[2019-10-03 15:36] keyzer-soze commented on #18503
my processor is i5-650@ 3.20GHz and i have the same issue ,and it works fine with tensorflow 1.5 version,can somone tell me even this processor doesn,t support avx feature?

[2019-10-03 15:38] njzjz commented on #27067
Is devtoolset7 gcc-7? I tried to compile custom ops with gcc-7, but when loading it I catch a `undefined symbol` error.
[code]

[2019-10-03 15:47] ustcwlin opened #33023 "optimize gfile for sequential reading"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.12 and 2.0
- Are you willing to contribute it (Yes/No):

[2019-10-03 15:53] Raukk opened #33024 "Performance: Training is much slower in TF v2.0.0 VS v1.14.0 when using `Tf.Keras` and `model.fit_generator`"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
**NOTE**: I have provided Google Colab' notebooks to reproduce the slowness.
- Have I written custom code (as op

[2019-10-03 15:58] #32677 closed

[2019-10-03 16:00] sealedtx commented on #32919
@gadagashwini I have tested latest Tf 1.15.0.rc1 version and it has same behavior. MODEL_PATH is just path to my custom networks files .pb

[2019-10-03 16:03] mihaimaruseac commented on #33022
Expected behavior. The only supported way is to `import tensorflow as tf` and access the rest of the API via `tf`'s attributes. All other ways of importing might break.

[code]

[2019-10-03 16:03] #33022 closed

[2019-10-03 16:04] mihaimaruseac commented on #33023
Please tag me in any PRs related to this.

[2019-10-03 16:05] mihaimaruseac commented on #32972
This is a bug in C++ filesystem support too. I will fix this after https://github.com/tensorflow/community/pull/101

[2019-10-03 16:07] mihaimaruseac commented on #32975
Will handle this after refactoring entailed by tensorflow/community#101

[2019-10-03 16:07] jdduke commented on #32970
Is there a reason you cannot use TensorFlow Lite? See also https://blog.francium.tech/real-time-object-detection-on-mobile-with-flutter-tensorflow-lite-and-yolo-android-part-a0042c9b62c6. Note that the TensorFlow Mobile library/bindings are deprecated.

[2019-10-03 16:13] devedse opened #33026 "Why is CUDA 10.1 not supported & strange error message?"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): N/A
- OS Platf

[2019-10-03 16:14] JoaoLages commented on #30521
The problem occurs when saving a Keras model (`save_model` function) in tensorflow-gpu==1.14.0 and loading it in tensorflow==1.14 (`load_model` function)

[2019-10-03 16:22] cottrell opened #33027 "tf.keras.layers.BatchNormalization produces wrong results when original feature scale is moderately small."
It looks like BatchNormalization fails to scale features up if the original scale is too low ... or I am doing something brain dead here.

If this is actually a constraint on the scale param, it should be very explicitly documented.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution (e.g., Lin

[2019-10-03 16:28] shahriar49 commented on #32787
@rmothukuru
I used the below mnist_estimator implementation to check the strategy on Tensorflow 1.14.

[code]

Without setting TF_CONFIG and running the code, it does the job (of course, without distribution). But when I define the TF_CONFIG, I get below error:

[code]

This is very strange. What does it say?

[2019-10-03 16:39] AbhishekKarthik commented on #28053
Even I was facing the same problem while training my model using a GPU, then I updated my NVIDIA GPU driver using GeForce Experience App and the error stopped occurring.

[2019-10-03 16:41] rryan commented on #30602
@tportenier gentle ping -- would love to know if the above helps! :)

[2019-10-03 17:05] mkulisic commented on #32970
@jdduke I originally tried to use TF LIte. I tried to build the sample application in https://blog.francium.tech/real-time-object-detection-on-mobile-with-flutter-tensorflow-lite-and-yolo-android-part-a0042c9b62c6 a couple of times, but I could not make it work. Ran into multiple issues when using flutter and I found no solution for the problems online. I used a different flutter example with TF L

[2019-10-03 17:17] gowthamkpr commented on #32990
@dawsonlp Sure. Thanks for pointing out the issue!

[2019-10-03 17:22] danvargg commented on #32959
@ravikyram thanks for the response, I'll post a code between tomorrow and Monday.

[2019-10-03 17:26] hollowgalaxy opened #33028 "tf keras progbar callback is not displayed during keras.fit() when verbose=0."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):binary (conda install tensorflow-gpu==1.14.0)
- TensorF

[2019-10-03 17:27] ustcwlin commented on #33023
so you agree it is worthwhile to develop. Sure, i will tag you in the related PRs

[2019-10-03 17:30] jdduke commented on #32970
I see. In theory you should be able to swap out your use of `TensorFlowInferenceInterface` with the standard TensorFlow Lite `Interpreter`, assuming you have the .tflite model available. Can you provide a link to the .tflite model you tried using? Note that we're also working on YoloV3 compat (see https://github.com/YunYang1994/tensorflow-yolov3/pull/312).

[2019-10-03 17:30] gowthamkpr commented on #33007
@samhithaaaa Its too vague for me to respond to this issue but you can take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/17702) which should help you in solving the problem.

[2019-10-03 17:37] samhithaaaa commented on #33007
I am using ubuntu with arm v8 architecture.My tensorflow version is 1.14.I compiled this tensorflow from source .while implementing deepspeech :https://github.com/tensorflow/models/tree/master/research/deep_speech this link after donwloading data I am facing this issue while training.python deepspeech.py

[2019-10-03 17:41] myy920213 commented on #32607
Thanks for your response.
This code used to work on my own laptop, but will show the same error when running on Google cloud or AWS GPU instances. So I guessed the problem was running with GPU.
After running the colab notebook you provided, I realized this problem may not be running with GPU, as I created a new colab notebook and run this code without using GPU, this error occur again. Here is the

[2019-10-03 17:44] pavithrasv commented on #32911
@alibeyram The mean_squared_error function returns one value per example, `MeanSquaredError` class which is the 2.0 way of specifying metrics uses mean_squared_error internally and computes the the weighted mean of the list of the values across all samples.

[2019-10-03 17:45] gowthamkpr commented on #32928
@mevalle I am going to close this issue as of now. But feel free to  add additional comments and we can reopen the issue again

[2019-10-03 17:45] #32928 closed

[2019-10-03 17:53] ymodak commented on #32573
Is this still an issue after switching to cuda 10.0?

[2019-10-03 17:54] ymodak commented on #32425
Thanks for sharing your resolution. Closing since its resolved. Thanks!

[2019-10-03 17:54] #32425 closed

[2019-10-03 17:56] ymodak commented on #32147
Most likely its because of your cpu does not support AVX instruction sets. Feel free to reopen this issue if otherwise. Thanks!

[2019-10-03 17:56] #32147 closed

[2019-10-03 17:58] ymodak commented on #32064
Closing this issue since associated PR has been merged. Thanks!

[2019-10-03 17:58] #32064 closed

[2019-10-03 17:59] robieta commented on #33002
Drive by comment: CUPTI lives in `cuda/extras` (namely `extras/CUPTI/lib64`), whereas typically LD_LIBRARY_PATH only includes `cuda/include` and `cuda/lib64` out of the box.

[2019-10-03 18:04] shahriar49 commented on #32841
@rmothukuru
I ran the code in TF 1.14 and the below problems still exist:

- I could get evaluation results printed at the end of training when I was running program in non-distributed mode, but I get below error when it tries to print the final evaluation results in distributed mode:
[code]

- When running in distributed mode, the chief or worker are not waiting for the other party to start and i

[2019-10-03 18:15] sgambient commented on #32937
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary): binary
TensorFlow version (use command below): 1.14
Python version: 2.7
Bazel version (if

[2019-10-03 18:20] adaber commented on #32965
Hi, rmothukuru

Firstly, thank you for the response. It is very appreciated :)

My environment:

-Operating system: Windows 10
-TensorFlow version: 1.13.1 (C library: libtensorflow-gpu-windows-x86_64-1.13.1)
-Visual Studio version: 2017

I had checked out that link before and while it has a ton of useful information it is the C++ API, not the C API. For example, the author uses the "FreezeSavedMod

[2019-10-03 18:22] gowthamkpr commented on #32884
@adkoadko Tried reproducing your issue, but was not able to. Please find my github gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/5fc22477c5e37930170941560319bf8e/untitled166.ipynb).

[2019-10-03 18:23] protsenkovi commented on #29629
@jvishnuvardhan With latest stable release of TF 2.0 the issue is gone.

[2019-10-03 18:29] alibeyram commented on #32911
@pavithrasv So I think we should not call it `mean_squared_error` since it does not do any averaging and it's just `(y_true - y_pred)**2`

[2019-10-03 18:30] lminer commented on #32142
@pavithrasv, @ymodak As an update, this still does not work in the stable release of Tensorflow 2.0. However, if I set the flag `experimental_run_tf_function=False` in `model.compile` it runs without a problem.

At the end of the day, this is a bit of a hack in order to pass the model input into the cost function. It might be worthwhile to simply include a hook for model input in `keras.losses.Los

[2019-10-03 18:38] pavithrasv commented on #32911
It computes the mean across all dimensions other than the batch dimension. If you provide 3D input the output will be 1D.

[2019-10-03 18:51] kdonbekci commented on #24828
@kdonbekci I resolved my error via upgrading libcudnn packages back to 7.6.2 and using the code snippet

gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
  # Currently, memory growth needs to be the same across GPUs
    try:
        for gpu in gpus:
            tf.config.experimental.set_memory_growth(gpu, True)
    except RuntimeError as e:
        print(e)

[2019-10-03 18:55] adkoadko commented on #32884
I see, you are using an older version of numpy, where `mode` is a required argument. I updated the gist: https://gist.github.com/adkoadko/59580391e636705b8684056f9a5482f4
After adding the argument, I was able to reproduce the issue in your notebook

[2019-10-03 19:02] novog commented on #27679
I just tested it using v2.0, and it still isn't possible to supply dictionaries to a `py_function` as inputs. Attempting to do so still results in:

@edloper's workaround seems like it may work (at least for the simple case that I have tried it with so far), but I still believe that py_function itself should be modified to be able to accept (and return, for that matter) dictionaries and other comp

[2019-10-03 19:09] DanMinhNguyen commented on #33024
Can confirm from my own experience with it. I had a similar issue with my own project when switching to TF2 (stable. I waited for the official release a few days ago), with a 2x to 3x decrease in training time for the same data and code, as compared to TF1. After some Google searching and reading, I then proceeded to implement the code using tf.data.Dataset.from_generator(), instead, which allows

[2019-10-03 19:13] jvishnuvardhan commented on #29629
I am closing the issue as it was resolved in `TF2.0`. Please feel free to open it if the issue persists again. Thanks!

[2019-10-03 19:13] #29629 closed

[2019-10-03 19:22] Risslock commented on #32960
[code]

[2019-10-03 19:32] edloper commented on #27679
@novog If you're interested in submitting a pull request that updates `py_function` to support nested structures, it looks like you could probably fold the suggestions I made above into [_internal_py_func](https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/ops/script_ops.py#L251).  (You'd need to add tests etc. as well.)

[2019-10-03 20:09] ipsec opened #33030 "Memory leak on TF 2.0 with model.predict or/and model.fit with keras"
**System information**
- OS Platform:

- TensorFlow installed from binary using `pip install tensorflow`

- Python version:

[code]

- GPU model and memory: No GPU

- TensorFlow version

[code]

**Describe the current behavior**
While running using tensorflow 1.14 or theano backends this code works fine.
After upgraded to tensorflow 2.0.0 it stops working and memory usage increasing without finish

[2019-10-03 20:42] gowthamkpr commented on #33028
Was able to reproduce this issue. Here's my github [gist](https://colab.sandbox.google.com/gist/gowthamkpr/7396f9add006cd8fe1f0ce1a943e643e/untitled167.ipynb)

[2019-10-03 21:06] sssun0228 commented on #31245
Still waiting. Any help would be appreciated.

[2019-10-03 21:16] minhtriet commented on #30069
I made changes in file `op_def_library.py` so that CompositeTensor is now allowed. However, there are some missing features of `CompositeTensor` that does not allow adding the node to the computation graph, for example `._as_tf_output()`, which is used in function `_create_c_op`. That function only appears in class `Tensor`. Could you advise on this @alextp?

[2019-10-03 21:28] anhmeow opened #33031 "Model.evaluate diverging from fit on Unet based model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 1.14
- Python ver

[2019-10-03 21:52] gowthamkpr commented on #33007
Can you provide me the series of commands that you followed before running into this issuse?

[2019-10-03 21:54] Szubie commented on #33024
Have also experienced a large (4x) increase in training times for Keras models when using fit_generator  after upgrading to TensorFlow 2.0.

Execution times became comparable to TF 1.14 when disabling eager execution by running:
`tf.compat.v1.disable_eager_execution()`.

[2019-10-03 22:00] omalleyt12 commented on #33028
@hollowgalaxy `verbose=0` is intended to suppress all output

[2019-10-03 22:03] gowthamkpr commented on #33028
@omalleyt12 If both the call back is provided and verbose is set to 1, the progress is displayed twice. Isn't it a bug?

[code]

[2019-10-03 22:05] kazimuth opened #33034 "Per-operation random seeds don't work in tensorflow 2.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- TensorFlow installed from (source or binary): anaconda
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d38 2.0.0
- Python version: Python 3.7.4

**Describe the current behavior**

Minimal tes

[2019-10-03 22:05] jvishnuvardhan commented on #32944
I could reproduce the issue with `TF1.15.0rc2` also. However, `TF2.0` works as expected. Please check [the gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/96c7fa6462f94cb421a9c2fa2684d9f1/untitled173.ipynb) with `TF2.0`. Thanks!

[2019-10-03 22:09] #33028 closed

[2019-10-03 22:20] jvishnuvardhan commented on #32980
@jiawei6636 Can you create a standalone code to reproduce the issue? I tried running a model with both the optimizers you mentioned. `optimizer=tf.keras.optimizers.Adam()` works as expected. But, `optimizer=tf.python.keras.optimizers.Adam()` throws an error as follows. Thanks!

[code]

[2019-10-03 22:30] ymodak commented on #33002
You need to add CUPTI path to your environment variable.
It should be something like  ```/usr/local/cuda/extras/CUPTI/lib64``` to ```LD_LIBRARY_PATH```

[2019-10-03 22:31] QRabbani commented on #33001
@gadagashwini, Done!

[2019-10-03 22:37] jvishnuvardhan commented on #33000
@brycearden Can you please try the recently released `TF1.15.0rc2` and let us know how it progresses. Thanks!

[2019-10-03 22:50] omalleyt12 commented on #33028
@gowthamkpr Hm I see what you're saying.

The ProgBarLogger callback is automatically added when you set verbose != 0. Users shouldn't need to add this to their `fit` call manually. Arguably we could check to see if a ProgBarLogger callback already exists before automatically adding, but as this doesn't crash anything and just duplicates the outputs I'm OK with leaving it like this for now. Please

[2019-10-03 22:50] hollowgalaxy commented on #33028
@omalleyt12  thats not true. I can print stuff while `verbose=0` with a custom callback. The bug, I'm pointing out is that using `tf.keras.callbacks.ProgbarLogger` with `verbose=0` doesn't get printed.
[code]
returns the following
[code]

[2019-10-03 22:51] hollowgalaxy commented on #33028
In addition, how can one use `tf.keras.callbacks.ProgbarLogger` when the goal is to override it?

[2019-10-03 22:56] ymodak commented on #32896
Perhaps you may find this [page useful](https://developer.nvidia.com/cublas)
Also see [cublas examples](https://developer.nvidia.com/sites/default/files/akamai/cuda/files/Misc/mygpu.pdf)

[2019-10-03 23:12] Raukk commented on #33024
@Szubie Thanks, that does seem to improve the performance back to standard levels, or at least close enough.

I wonder if there is a better fix for this issue?

`tf.compat.v1.disable_eager_execution()` seems like a workaround more than a fix, especially since I doubt V1 compatibility going to be maintained forever.

[2019-10-03 23:22] charmasaur commented on #32944
I could reproduce with `TF2.0` when disabling eager execution, [gist here](https://colab.research.google.com/drive/1hgzD_W_PfSNwCGOrNnhMk89u12gy3ISP).

[2019-10-03 23:24] omalleyt12 commented on #33028
@hollowgalaxy You could override `on_train_begin` to ignore the `verbose` setting of your overridden version:

https://github.com/tensorflow/tensorflow/blob/58b283fdc9428774f555dafb8ac347ae06bce264/tensorflow/python/keras/callbacks.py#L739

[2019-10-03 23:24] jvishnuvardhan commented on #32873
@nsmetanin Can you try recently released `TF1.15.0rc2` and let us know whether the issuer persists there? Thanks!

[2019-10-03 23:47] jvishnuvardhan commented on #32947
@Atharex Looks like an issue with building from source. Can you describe the steps you followed in building from source? Also, can you please try `TF1.15.0rc2` and let us know whether the issue persists with latest TF version. thanks!

[2019-10-03 23:54] mihaimaruseac commented on #32947
I would suggest skipping the `r1.14` branch as it is in a bad state. We tried to make a patch release there but it was too bad so we decided to make a 1.15 release instead.

[2019-10-04 00:02] yzhuang opened #33035 "tf.saved_model.save() unable to save model with sparse input."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-10-04 00:30] victormaggie commented on #28940
Hi wdirons. thanks for your solution. You save my life.. I can run cuda and cublas now.

by using 👍
pip install tf-nightly-gpu-2.0-preview==2.0.0.dev20191002
!!

[2019-10-04 00:50] 7oud commented on #32896
@ymodak Thanks! But my question is how the get the cublas handle from TF, I know the the usage of `cublas` and have run the custom op using cublas already, but the `handle` need be created with `cublasCreate(&handle)`, if run the op multi-times, then the handle is created multi-times, that's unreasonable. However I can't save the handle in an op and reuse it, as it is a global variable.
It seems t

[2019-10-04 01:12] brycearden commented on #33000
After trying on `1.15.0rc2` with Python 3.6.8, there seemed to be very little improvement:
[code]
Loading from checkpoint:
[code]
Loading from the frozen graph:
[code]

Reproducible using the link(s) provided above running `python3 run_task.py --run=accuracy`

[2019-10-04 01:33] alibeyram commented on #32911
@pavithrasv Thank you for clearing it up. The only suggestion I have is that if that's a change form  version 1 to version 2, it is useful to mention it in https://www.tensorflow.org/guide/migrate

[2019-10-04 01:51] alibeyram commented on #32911
@pavithrasv Also it does not return a 1D when you provide 3D.

[code]

returns:

[code]

[2019-10-04 02:07] georgevettathu commented on #32147
Dear Yasir,
Thank you so much for your suggestions. My CPU is:
 Intel (R) Core(TM)2 Duo CPU E7200 @ 2.53GHz
Whether it support AVX instruction sets. What is the solution?
Can you help me. I could install tensorflow but not working while calling.
George Mathew

On Thu, Oct 3, 2019 at 11:33 PM Yasir Modak <notifications@github.com>
wrote:

[2019-10-04 02:22] yw155 opened #33036 "TF 2.0 How to set a different learning rate for each layer?"
## Description of issue (what needs changing):
Hi, I would like to ask a question about how to set different learning rates for several layers. In my implementation, I would like to set one learning rate for some layers while the other learning rate for some other layers. Is there some example codes? Thanks in advance.

[2019-10-04 02:26] drvettam commented on #32147
My python is Python 3.7.2
I checked the path as you suggested.
) Open command prompt and :-

Note down the path.
ii) Open conda prompt and type the same commands.
I got the path as
C:\ProgramData\Anaconda37\python.exe
in both cases
My CPU is:
 Intel (R) Core(TM)2 Duo CPU E7200 @ 2.53GHz
Whether it support AVX instruction sets. What is the solution?
Thanking you
George Mathew

[2019-10-04 02:41] wangwei-cmd opened #33037 "radon and inverse radon transform, Projection and back_projection function in CT"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):  tf 1.14
- Are you willing to contribute it (Yes/No):  no

[2019-10-04 02:48] samhithaaaa commented on #33007
1.export PYTHONPATH="$PYTHONPATH:/path/to/models"
<https://github.com/tensorflow/models/tree/master/research/deep_speech#install-dependencies>
2.pip3 install -r requirements.txt
3.python data/download.py
4.python deep_speech.py

I am stuck at this step.

5.sh run_deep_speech.sh

On Thu, Oct 3, 2019 at 3:00 PM gowthamkpr <notifications@github.com> wrote:

[2019-10-04 03:11] sjtusmartboy commented on #32170
@tanzhenyu hi, can you be more specific, about what kind of gpu optimizer will be supported, sparse optimizer or dense optimizer?

[2019-10-04 03:15] pavithrasv commented on #32911
Oh sorry, i was wrong, it computes mean along the last dimension. How is the behavior different between 1.15 and 2.0 ? Are you referring to the standalone behavior or behavior in a Keras model fit?

[2019-10-04 03:21] alibeyram commented on #32911
@pavelbulanov Look at @gowthamkpr comment above. There are two code collab attach that shows one returns list and the other one return a scaler

[2019-10-04 03:22] alibeyram commented on #32911
@pavithrasv Also for me it does not make sense to compute mean along the last dimension.

[2019-10-04 03:24] oanush commented on #33035
@yzhuang ,
Thank you for reporting the issue, error also replicating for TF version-[2.0rc2](https://colab.sandbox.google.com/gist/oanush/d8dc1f89e88530a4ab3c83cdf81adc15/model-saving-fails-with-sparse-input-tensor.ipynb).Thanks!

[2019-10-04 03:25] davidc9320sg opened #33038 "TF 2.0: Illegal instruction (core dumped)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.2 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: /
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.0
- Python version: 3.7.4
- Installed using virtualenv? pip? conda?: pip (in conda environment)
- Bazel version (if

[2019-10-04 03:30] oanush commented on #33020
@LoicDagnas ,
Thank you for reporting the issue, Can you share a simple and standalone code to reproduce the issue reported here?

[2019-10-04 03:35] martin-gorner commented on #28028
@rwl93 , I cannot find any special handling of batch norm for custom training loops in the code you linked
@robieta , you mention that custom training loops with batch norm are an advanced topic

So which is it ? When I try, my model is not training to the same accuracy as with model.fit(). But then I might be hitting another issue.

Is there something special to do when using tf.keras.layers.Batc

[2019-10-04 03:42] liyi193328 commented on #24816
Any update? Face the same problem too.

[2019-10-04 03:51] Xavier449446 commented on #30114
This is happening to me also but my tensorflow version is 1.14.
Python 3.6

cat /proc/cpuinfo
processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 23
model name	: Intel(R) Core(TM)2 Duo CPU     E7500  @ 2.93GHz
stepping	: 10
microcode	: 0xa0b
cpu MHz		: 2546.724
cache size	: 3072 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 2
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exce

[2019-10-04 03:55] airplane2230 opened #33039 "TF 2.0: ValueError: Lengths of branch outputs of cond must match."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Window 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.0
- Python vers

[2019-10-04 03:55] Xavier449446 opened #33040 "Illegal Instruction on importing tensorflow"
Tensorflow version = 1.14
OS : Kali Linux Rolling (2018.2)
Output on cat /proc/cpuinfo :
processor : 0
vendor_id : GenuineIntel
cpu family : 6
model : 23
model name : Intel(R) Core(TM)2 Duo CPU E7500 @ 2.93GHz
stepping : 10
microcode : 0xa0b
cpu MHz : 2546.724
cache size : 3072 KB
physical id : 0
siblings : 2
core id : 0
cpu cores : 2
apicid : 0
initial apicid : 0
fpu : yes
fpu_exception : yes
cpu

[2019-10-04 03:59] doiko commented on #21174
Accessing true and predict data on_epoch_end callback will probably not  be possible (tf is not storing them and size will be number_batches*batch_size*size_sample).
Easy way to access the tf predicted and targets stored in model_targets and model.outputs should be considered. See also  #32981

[2019-10-04 04:03] gadagashwini commented on #32767
@doruksonmez, Can you try @daviduarte's workaround and let us know if the issue still persists. Thanks!

[2019-10-04 04:06] alibeyram commented on #32911
So As you said I think this is the intended behavior which is different between versions [1.14](https://github.com/tensorflow/tensorflow/blob/r1.14/tensorflow/python/keras/losses.py#L100) and [2.0](https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/keras/losses.py#L100)

[2019-10-04 04:25] sanchitjain04 opened #33041 "EdgeTPU library is not updating for coral dev board"
* Doc you were trying to follow: https://coral.withgoogle.com/news/updates-07-2019/
* Your host OS: Ubuntu 16.04
Python3 version: 3.5.3

# What I ran

I executed the commands as mentioned in the post as mentioned above :

sudo apt-get update

sudo apt-get dist-upgrade

this automatically updates the edgetpu library along with other Mendel system software.

# What the docs said should happen:

As p

[2019-10-04 04:39] #32755 closed

[2019-10-04 04:46] algorithmLOGIC opened #33042 "I have learned the dark secret to compile on Windows"
For all my fellow cybernauts, the dark secrets revealed. To tell it what compiler to use, requires ancient spells of dark magic. You must call into vcvarsall.bat of olde, and then you can tell it the vcvars for which compiler you wish it to choose. Now, go forth and compile.

[2019-10-04 04:52] oanush commented on #33009
@MProx ,
Can you confirm if the issue is resolved with the workaround? Thanks!

[2019-10-04 04:54] oanush commented on #32607
@myy920213 ,
Can you please provide access to the colab gist? Thanks!

[2019-10-04 05:07] MProx commented on #33009
Hi. Yes it did. I tested it overnight with no leak. I'm not sure why the original functions do not work as expected, but the workaround has fixed my problem.

[2019-10-04 06:03] rkopec91 commented on #24828
Anyone know how to remove cudnn and cuda from the ones listed in "conda list cudnn"?

[2019-10-04 06:14] robieta commented on #28028
I put together a quick example of batch norm and CTL [gist](https://colab.sandbox.google.com/gist/robieta/044ec2031399e1dae5e42fc7c8bd48d3/batch_norm_in_ctl.ipynb). The main thing is to pass the training arg when calling the model. (I was lazy and just used model.evaluate to assess the CTL) Interestingly that also seems to apply the updates to the moving statistics. For whatever reason I thought t

[2019-10-04 06:19] RensDimmendaal commented on #32982
Sure :-) Please note that I'm not an expert on this issue. I'm a tensorflow user who is inconvenienced by the issue and I thought I'd pass it along from the vscode thread to tensorflow when I saw that it was not something vscode could deal with by itself.

The end goal is intellisense support for tensorflow in the popular ide VSCode.
I believe the reason TF2 does not work with intellisense is that

[2019-10-04 06:20] sharvil commented on #32923
Sorry Mark, I have neither the setup nor the process know-how to send a PR for this issue. It would be more efficient for someone else to take this on.

On another note, you mentioned in another doc issue that it's not worth the effort to go back and fix documentation bugs for non-current TF releases. Instead, is it possible to add a regression test to make sure that documentation doesn't get drop

[2019-10-04 06:24] saberkun commented on #28028
I also noticed the problem months ago. I remember none of our examples pass
training arg. However, we should pass it explicitly in CTL and all official
models have that now.

On Thu, Oct 3, 2019, 11:17 PM Taylor Robie <notifications@github.com> wrote:

[2019-10-04 06:30] martin-gorner commented on #28028
Thank you for putting this example together. It is really nice. You say the main thing is to call the model with model(data, training=True) during training. After reading your code, it seems to me that's the *only* thing you are doing differently. Correct ?

[2019-10-04 06:36] thomasjo commented on #32982
Also see https://github.com/microsoft/python-language-server/issues/818#issuecomment-511495313, in which @alextp specifically asks @pkch about adding stubs for TF.

Note that this issue affects does not only affect VS Code, but also PyCharm and Atom. I'm guessing it'll also affect most Vim and Emacs plugins providing Python intellisense functionality using static type analysis.

[2019-10-04 06:47] ravikyram commented on #33031
I have tried on colab with TF version 1.14,1.15.0-rc1 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/2cba665f3b22aa25bb1c8343793fc660/untitled243.ipynb). Thanks!

[2019-10-04 07:06] ravikyram commented on #33027
I have tried on colab with TF version 2.0.0rc2 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/9dd7984692101e09e5c9b816b1a3643a/untitled245.ipynb).Thanks!

[2019-10-04 07:18] inscite opened #33043 "Dumping XLA compiled results in specific directory not working"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-10-04 07:56] ialdencoots commented on #33009
This issue is NOT resolved. I use predict_on_batch and still get an OOM error after some time of processing data.

[2019-10-04 08:00] tommigun97 opened #33044 "Detection and get position in TensorFlow android studio"
Hi, how can you take the position of an object detect from the camera with tensorflow in android studio? it's possible?

[2019-10-04 08:04] #33044 closed

[2019-10-04 08:18] gadagashwini commented on #33026
@devedse, Please take a look at the similar issue [#32381](https://github.com/tensorflow/tensorflow/issues/32381). Thanks!

[2019-10-04 08:25] gadagashwini commented on #33034
@kazimuth,
I could replicate the issue with TF 2.0.0.rc2. Please see the colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/847114c631edb377542a001d0c6714e5/untitled174.ipynb). Thanks!

[2019-10-04 08:27] gadagashwini commented on #33018
@Palak-15, Please provide the information asked in the [Template](https://github.com/tensorflow/tensorflow/issues/new/choose). Thanks!

[2019-10-04 08:27] ppwwyyxx commented on #33027
This is not a bug but expected.
Using `BatchNormalization(epsilon=0.0)` will make it print your expected output.

[2019-10-04 08:31] gadagashwini commented on #33016
@volvador, If you are using GPU, can you please try using GPU memory allocation mentioned in [this link](https://www.tensorflow.org/guide/gpu#manual_device_placement) and let us know if the issue still persists. Thanks!

[2019-10-04 08:31] ppwwyyxx commented on #32919
This is an ancient bug #8136 which is unlikely to be fixed. Once the GPU devices are created, its configuration cannot be changed any more.

[2019-10-04 08:33] MProx commented on #33009
Interesting. I think that OOM is telling you your GPU memory is being depleted, and that sounds like a different problem because mine was filling up system RAM, not GPU. Using predict_on_batch() and train_on_batch(), I ran ~800k iterations of my model over 10 hours last night, and it seemed to work fine.

Another thing is that I had to set the environment variable TF_FORCE_GPU_ALLOW_GROWTH=true to

[2019-10-04 08:34] ravikyram commented on #33012
I have tried on colab with TF version 2.0.0-rc2, 2.0.0-dev20191002 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/2229ff515d40f06a322a1df614c564e7/untitled246.ipynb). Thanks!

[2019-10-04 08:38] cottrell commented on #33027
Seems correct.

    epsilon=0.001,

This default is way too low and we should get a warning added to the docs ... the default should be much, much lower.

[2019-10-04 08:44] ialdencoots commented on #33009
Yeah, I don't have any critical errors when running on CPU. It's definitely GPU memory that's leaky. The GPU memory doesn't deplete immediately, but only after some number of calls to `predict_on_batch`. I am able to train using `fit` with no problems, which runs over that same data set over many epochs.

[2019-10-04 08:50] ravikyram commented on #32937
@sgambient

Will it be possible to share simple standalone code to reproduce the issue.Please provide as many details as possible to find the root cause of the issue.

[2019-10-04 08:50] volvador commented on #33016
@gadagashwini I am using CPU

[2019-10-04 08:50] ialdencoots commented on #33009
I can confirm actually, that when run on CPU, the leak still persists.

[2019-10-04 08:54] Atharex commented on #32947
@mihaimaruseac thanks for the suggestion! I've tried `git clone --branch r1.15 https://github.com/tensorflow/tensorflow.git` and now I get a different error.

[code]

[2019-10-04 09:02] MProx commented on #33009
Hmm, in that case I'm

[2019-10-04 09:03] MProx commented on #33009
In that case I'm going to re-open this issue so that maybe the TF team can help you.

[2019-10-04 09:07] douglas125 commented on #29799
This "kind of" works for me (I wanted to have class_id in f1)

But it throws a warning that I don't know how to parse:

[code]
  Usage with tf.keras API:
[code]
  """

  def __init__(self,
               thresholds=None,
               top_k=None,
               class_id=None,
               name=None,
               dtype=None):
    """Creates a `F1Score` instance.
    Args:
      thresholds: (Op

[2019-10-04 09:12] ravikyram commented on #32960
I have tried on colab with TF version 2.0.0-rc2 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/7dbb1f1dd1ecc4a0fba0cc6792bdfb98/untitled247.ipynb). However i am able to reproduce the issue with   `optimizer=tf.keras.optimizers.Nadam` and not seeing any issue if we use `optimizer=tf.keras.optimizers.Adam`.Thanks!

[2019-10-04 09:13] Atharex commented on #32947
@jvishnuvardhan here is a "high-level" docker file I'm using for the build. Some steps that involve private storage have been removed, but the main gist of the build steps is still there.
[Dockerfile.txt](https://github.com/tensorflow/tensorflow/files/3689760/Dockerfile.txt)

[2019-10-04 09:27] cyrilou242 commented on #29799
My solution is very outdated.
F1 score has been implemented in the AddOns repository (https://github.com/tensorflow/addons).

Have a look at `tensorflow_addons.metrics.F1Score`

[2019-10-04 09:35] georgealexandruvlad opened #33045 "TPU support in tensorflow 2.0 release"
From the following link https://www.tensorflow.org/guide/distributed_training I understand that TPU training is supported in tensorflow 2.0.

I followed the snippet code provided in the same page:

cluster_resolver = tf.distribute.cluster_resolver.TPUClusterResolver(
    tpu=tpu_address)
tf.config.experimental_connect_to_cluster(cluster_resolver)
tf.tpu.experimental.initialize_tpu_system(cluster_r

[2019-10-04 09:37] ravikyram commented on #33030
I am able to reproduce the issue in colab using TF 2.0.0-rc2. Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/ca9f659a22917431c694527e76decee0/untitled244.ipynb) .Thanks!

[2019-10-04 09:38] rmothukuru commented on #32841
@shahriar49,
Please confirm if we can consider this issue as duplicate of #32787, as the Code is same and as we to use `tf.distributionstrategy` for distributed training. Thanks!

[2019-10-04 09:39] oanush commented on #33009
Issue replicating for TF-2.0, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/07da0eef3fbfbd8ff74e6c840ad5b6d5/33009.ipynb) of colab.Thanks!

[2019-10-04 09:51] mnozary opened #33046 "Converting Tensor to numpy array"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.14.0
- Are you willing to contribute it (Yes/No): Yes

*

[2019-10-04 09:56] ravikyram commented on #32817
@duysPES
I am able to execute the code successfully in colab using TF 2.0.0-rc2 .Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/422f9b591f99f38e5c7f9f9b7211fea1/untitled248.ipynb).Thanks!

[2019-10-04 10:02] LoicDagnas commented on #33020
@oanush here is one, it not really light but most of the codes comes from [TensorFlow code](https://github.com/tensorflow/models/tree/master/official/nlp).
[bert_pretraining_test.zip](https://github.com/tensorflow/tensorflow/files/3690007/bert_pretraining_test.zip)

[2019-10-04 10:02] gadagashwini commented on #33039
@airplane2230,
In order to expedite the trouble-shooting process, please provide a complete code snippet to reproduce the issue reported here. Thanks!

[2019-10-04 10:06] gadagashwini commented on #32640
@jinfagang, Is this still an issue?

[2019-10-04 10:07] gadagashwini commented on #32660
@remydubois, Did you get chance to look attached colab gist. Thanks!

[2019-10-04 10:09] gadagashwini commented on #32678
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-04 10:09] #32678 closed

[2019-10-04 10:14] gadagashwini commented on #32831
@LiyuCode, Were you able resolve this issue. Thanks

[2019-10-04 10:24] gadagashwini commented on #33016
@volvador, Please provide the complete code to reproduce the reported issue. Thanks!

[2019-10-04 10:29] nsmetanin commented on #32873
The (mostly) same error in tensorflow/tensorflow:1.15.0rc2-gpu-py3:

`2019-10-04 10:25:57.285825: W tensorflow/core/common_runtime/process_function_library_runtime.cc:688] Ignoring multi-device function optimization failure: Invalid argument: Node '_arg_tokens_ids_input_0_0_0_arg': Node name contains invalid characters`

The difference is that previously the problem was with "_arg_segments_ids_inp

[2019-10-04 10:39] cottrell commented on #32058
I'm hitting similar things but using tfp as well so not sure if there is a good pattern to avoid this.

[2019-10-04 10:48] ravikyram commented on #30521
@JoaoLages
I tried with tensorflow-gpu==1.14.0 and able to save and load successfully.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/014783bb590e13b1884256509b83d0d8/untitled249.ipynb).Thanks!

[2019-10-04 10:48] rmothukuru commented on #33034
@kazimuth,
Thank you for the details and the reference. I think the behavior is expected, as per [the point](https://www.tensorflow.org/api_docs/python/tf/compat/v1/set_random_seed),

It is because, in Eager Execution, there will not be Graph Level Seed, as there will be no graph at all. So, they will be two independent Random Tensor Operations.

Please let me know your opinion about the same. Tha

[2019-10-04 10:49] Xavier449446 commented on #33040
![Screenshot from 2019-10-04 09-26-33](https://user-images.githubusercontent.com/47718724/66202206-c7b3bd00-e6c2-11e9-8a78-83d895963221.png)

[2019-10-04 10:59] pzobel commented on #32809
Any updates?

[2019-10-04 11:01] JoaoLages commented on #30521
@ravikyram can you try to load it with `tensorflow==1.14`? (and not tensorflow-gpu)

[2019-10-04 11:06] rmothukuru commented on #33035
@yzhuang,
The error is because of the below line of code.

`sparse_tensor = tf.sparse.SparseTensor(indices=sparse_tensor.indices, values=sparse_tensor.values, dense_shape=[2, 2])` .

It works fine if you replace that line with below line:

`sparse_tensor = tf.sparse.SparseTensor(indices=tf.constant([[0,0],[1,1]], dtype=tf.int64),values=tf.constant([1.0, 1.0], dtype=tf.float32),dense_shape=[2, 2])`

[2019-10-04 11:20] Palak-15 commented on #33018
@gadagashwini,
Please find the detail and this is not hardware issue for your kind information. There is no need of that template.
**System information**
- I already provided you my code.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow version (use command below): Tried all version
**Describe the current behavior**- Problem in wgan, weights are different.

**De

[2019-10-04 11:25] ravikyram commented on #30521
@JoaoLages
Loaded using `!pip install tensorflow==1.14`in the below attachment . Request you to have a look on this and let me know if the issue still persists.Thanks!
[keras.zip](https://github.com/tensorflow/tensorflow/files/3690276/keras.zip)

[2019-10-04 11:34] JoaoLages commented on #30521
I am closing the issue since I am not able to reproduce this error out of my environment.

[2019-10-04 11:34] #30521 closed

[2019-10-04 11:43] anhmeow commented on #33031
i've added a check by calling the model.predict : (just add this code after the one provided)
[code]

the last line provide a result of 0.862284

With this, i have the feeling that the issue is within the fit method and the loss calculation (can be potentially link with a specific layer... i can't figure it out)

[2019-10-04 11:48] lmartak commented on #32889
I am experiencing the exact same issue (just with different model) in TF version 2.0.0 and the error message is by no means suggestive of what may be done wrongly on the layer of abstraction I'm programming in to fix this (I'm using `tf.keras` Functional API to build the model and `tf.data.Dataset` to train with `model.fit()`).

[2019-10-04 11:48] Tj85710 opened #33047 "Kernel restating while importing tensorflow on Old Macs, works OK on new one."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-10-04 11:50] airplane2230 commented on #33039
Thank you for your answer!

I refered this git-page, SSD implementation and am changing to tf 2.0!
[SSD300, arabian9ts](https://github.com/arabian9ts/SSD300)

Thank you!

And, This is my full code in only this class!
<hr>
[code]

[2019-10-04 11:55] Tj85710 commented on #33047
Hello,
I am installing Tensorflow according to the Jeff Heaton. On an iMac mid-2010 with 2,93 GHz Core i7, 12GB RAM, the installation of the whole packages is OK, I can start jupyter. Than, when I want to import tensorflow as tf, the kernel restarts... I have tried it on the same host in a Parallels Virtual Machine configured with MacOS 10.13.6, same behavior. Than I have installed the same softar

[2019-10-04 12:36] AlexisBRENON opened #33048 "TFRecordDataset constructor does not support globbing pattern"
## URL(s) with the issue:

Better performance with data: https://www.tensorflow.org/guide/data_performance#structure_of_an_input_pipeline

## Description of issue (what needs changing):

The code example provided instantiate a `tf.data.TFRecordDataset` passing a globbing pattern: `"/path/to/dataset/train-*.tfrecord"` while it does not support it.

The example should be updated, relying on [`tf.dat

[2019-10-04 12:36] tensorflowbutler commented on #6541
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-10-04 12:36] tensorflowbutler commented on #31328
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-10-04 12:40] Macilias commented on #25880
Good point @jdduke. We have been feeding in a long float array with only one dimension (since it worked that way with tensorflow android) but the expected shape should be different.
We figured we can obtain the current output shape that way:
[code]

now it works :)

[2019-10-04 12:56] dmquin commented on #16614
I'm having this problem too

TensorFlow v2
Python 3.7

[code]

**Code**

[code]

[2019-10-04 13:01] devedse commented on #33026
@gadagashwini, yeah I saw that. It doesn't really answer the question of why though

[2019-10-04 13:22] shahriar49 commented on #32841
@rmothukuru
Yes the code is almost the same, but the problems that I mentioned here is different than the other one. Here I am not using strategy clause and get some issues. There I am using strategy clause and it fails to work. So the problems discussed in each case is different.

[2019-10-04 13:22] GaranceRichard commented on #32945
Did you reproduce it now ?

[2019-10-04 13:23] GaranceRichard commented on #32945
Is this ok ?

[2019-10-04 13:37] AlexisBRENON opened #33049 "Input pipeline guide refactoring"
## URL(s) with the issue:

Better performance with tf.data: https://www.tensorflow.org/guide/data_performance

## Description of issue (what needs changing):

Currently, this guide seems to be the main documentation source for `tf.data` usage.
However, the differents steps shown do not seems to be optimal. For example:
* TFRecordDataset usage do not match the actual API (see #33048)
* Usage of `in

[2019-10-04 13:49] owainkenwayucl commented on #32776
Having looked at `configure.py` I believe it's as simple as adding:

[code]

at line 842.

I'm happy to do this and do a pull request if you prefer?

[2019-10-04 14:35] MarkDaoust commented on #32923
I'll take care of this one.

For simple things you can often just hit the little "edit" button (pencil button). Spend 5 or 10 minutes trying it out to find useful examples. Paste them in using doctest format. Follow the pattern of other docstrings.

Do try it sometime.

The problem with this sort of test, how can you tell what's right?
When I caused the error in #32528, I rebuilt the docs: ~1000 f

[2019-10-04 14:52] Macilias commented on #25880
Now - where its running with unquantized model, we try to switch to quantized and are facing the old issue:
[code]
We are not using `runForMultipleInputsOutputs` but could this be an issue here?
PS.
We switch numBytesPerChannel accordingly and still the obtained source from the tensor looks the same after loading the quantized model.

Thanks for any advice.

[2019-10-04 14:59] dahjan commented on #31681
@zhen8838, were you ever able to find a solution to this? I am running into the same issue!

[2019-10-04 15:01] bionicles commented on #10827
would love a 2.0 solution for this to promote reproducible research without hardcoding everything.

[2019-10-04 15:16] bionicles commented on #10827
[code]

[2019-10-04 15:25] robieta commented on #28028
That is correct.

[2019-10-04 15:30] qiuminxu commented on #32809
We're working on adding cost model for tf 2.0. Since this is a pretty large feature, it will take more time to enable it.

[2019-10-04 15:56] mihaimaruseac commented on #32147
Plese check if AVX is supported.

If it is not, the only options are either compiling from source or #19584

[2019-10-04 15:58] mihaimaruseac commented on #32947
Please update git version, `-C` has been supported [since at least 2.2.0](https://git-scm.com/docs/git/2.2.0)

[2019-10-04 16:18] sgambient commented on #32937
What code do you want ?  I am puzzled.  You can just take any  ResNet code from slim/official  area , train with FP16 ( e.g. AMP for Nvidia) and generate a checkpoint.  Then try to load that checkpoint without enabling FP16.

[2019-10-04 16:29] mihaimaruseac commented on #10827
Closing as TF 1.2 is old and no longer supported.

[2019-10-04 16:29] #10827 closed

[2019-10-04 16:31] #33042 closed

[2019-10-04 16:32] mihaimaruseac commented on #30114
No AVX support, please check #19584 or build from source

[2019-10-04 16:33] abhoi commented on #32793
Facing the same issue. Any thoughts?

[2019-10-04 16:33] mihaimaruseac commented on #33038
No AVX support, please check #19584 or build from source

[2019-10-04 16:33] #33038 closed

[2019-10-04 16:44] shun-lin commented on #32793
Hi @abhoi ,

may you provide me with the output of ```nvidia-smi``` from the terminal and maybe I can help you debug :)

[2019-10-04 16:58] karimnosseir commented on #32991
@wwwind Can you please retry from the main branch and let me know if it is still failing

Thanks

[2019-10-04 17:13] ymodak commented on #32147
Unfortunately your model does not support AVX instruction sets.
See https://ark.intel.com/content/www/us/en/ark/products/35348/intel-core-2-duo-processor-e7200-3m-cache-2-53-ghz-1066-mhz-fsb.html

[2019-10-04 17:41] sjamesr commented on #30635
The upcoming release of TF 1.15.0 will contain the fixes for this problem.

[2019-10-04 17:57] mketcha commented on #30355
@jvishnuvardhan While your workaround may run, it does not achieve the same desired architecture

[2019-10-04 18:03] dimitryn opened #33051 "Build Tensorflow from sources for Android x86_64"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubunutu
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
Master, 1.14
- TensorFlow version:
- Python version:
2.7
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from source):
25
- GCC/Compiler vers

[2019-10-04 18:14] yzhuang commented on #33035
Hi @rmothukuru

I am reproducing this bug specifically: "During tf.saved_model.save(), while calling a model's call() method, all SparseTensor inputs are converted to dense tensors."  That's why the above code fails.

While the suggested one line change fixes the crash, it no longer uses the input to the call() method, and hence no longer reproduce this bug.  Does that make sense?

[2019-10-04 18:21] drasmuss opened #33052 "Keras RNN training speed significantly slower with eager execution/control flow v2"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.0.0
-

[2019-10-04 18:29] pavithrasv commented on #29770
@gadagashwini do you have a colab repro for this?

[2019-10-04 18:30] jaden-young commented on #28863
@thotaram See https://www.tensorflow.org/lite/guide/python#run_an_inference_using_tflite_runtime

[2019-10-04 18:34] qqfish commented on #32454
+1 @mdanatg
@makercob In your case: map_fn -> py_func -> tf.function, TF actually creates two graphs, one for map_fn and one for tf.function. It will introduce some extra overhead. For example ops in two graphs cannot be executed in parallel. @mdanatg's suggestion can maximize your performance gain.

But anyway, we are fixing this hanging issue by avoiding using threads from interop threadpool to

[2019-10-04 18:52] myy920213 commented on #32607
Sorry about that, I updated the share access. Could you please try again? (https://colab.research.google.com/drive/1qWh8F2iFfM64seNESDUrnIuofWrev1Kv)

[2019-10-04 19:00] MarkDaoust commented on #32926
Yes we're working on moving the blog because of this sort of thing.

If you think this change is important you can send a PR to update: https://github.com/tensorflow/tensorflow/blob/master/RELEASE.md

[2019-10-04 19:07] random-forests commented on #32926
Ugh, sorry to see that. There's a switch I think we can flip on articles to prevent it - perhaps we missed it. Will take a look.

[2019-10-04 19:21] mizzmir commented on #32707
Hi,

Any news about this problem, because I have same issue. With 4x 2080Ti I have problem with simple unet model with input size 320x480

[2019-10-04 19:32] alloai opened #33054 "Build failed, 2.0 for CPU without avx support."
tensorflow/compiler/xla/client/lib/prng.cc(438): error C2065: 'M_PI': undeclared identifier                             tensorflow/compiler/xla/client/lib/prng.cc(438): error C2672: 'ScalarLike': no matching overloaded function found       tensorflow/compiler/xla/client/lib/prng.cc(438): error C2780: 'xla::XlaOp xla::ScalarLike(xla::XlaOp,T)': expects 2 arguments - 1 provided
.\tensorflow/compiler

[2019-10-04 19:35] angerson commented on #32776
Yes, that would be very helpful, thank you!

On Fri, Oct 4, 2019 at 6:57 AM Dr Owain Kenway <notifications@github.com>
wrote:

[2019-10-04 19:38] kazimuth commented on #33034
I mean, that makes sense, but it's not really intuitive; it seems like the implementation details are getting in the way of the expected interface. Ideally it would be possible to set global and per-operation seeds in eager mode, whether or not there's a graph in the background.

In particular, as far as I can tell I can't write code with reproducible randomness right now if I'm running in eager m

[2019-10-04 19:44] ymodak commented on #32851
@sgambient Please close this thread if it solves your question. Thanks!

[2019-10-04 19:58] sgambient commented on #32851
Thanks, that  addresses by concern.

[2019-10-04 19:58] #32851 closed

[2019-10-04 20:06] ymodak commented on #32805
Apologies for the delay in response.
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-10-04 20:06] #32805 closed

[2019-10-04 20:12] ymodak commented on #32546
The issues exists with tf-nightly version ```'2.1.0-dev20191004'```

[2019-10-04 20:24] random-forests commented on #32926
Should be fixed now, thanks again for flagging!

[2019-10-04 20:24] #32926 closed

[2019-10-04 20:29] mdanatg commented on #32546
@kkimdev FYI

The root cause is that autograph doesn't yet support list comprehensions (primarily because it's difficult to determine the dtype of the result in all cases).

As a workaround, you can use `tf.map_fn` for the comprehension:

[code]

Or an explicit loop (which is a bit more verbose):

[code]

We also need to raise a better error message about this and either update the documentation,

[2019-10-04 20:33] ymodak commented on #32720
Following warning log can help understand the behaviour:
[code]

[2019-10-04 20:41] hur-kyuh-leez commented on #30748
works great!
Also, if you run into out of memory error
`CUDA runtime implicit initialization on GPU:0 failed. Status: out of memory`
reducing the batch size will fix the problem

[2019-10-04 20:52] jvishnuvardhan commented on #33005
@Raukk Can you please mention any use case for this kind of feature? Thank!

[2019-10-04 20:57] jvishnuvardhan commented on #33027
@cottrell Would you like to create any PR to update the docs? Thanks!

[2019-10-04 21:18] forstar2001 commented on #9722
reinstall tensorflow based on python 3.5xx and not 3.6 which is the default for anaconda
http://www.stefangordon.com/install-tensorflow-in-anaconda-on-windows/

[2019-10-04 21:22] sealedtx commented on #32919
@ppwwyyxx So it is not possible to manage gpu_memory_fraction for multiple sessions in a single process?

[2019-10-04 21:35] k-w-w commented on #32398
Looks like the `renorm_stddev_weight` variable was removed between 1.14 and 1.15 (https://github.com/tensorflow/tensorflow/commit/af15fb8624a0c0eabdd00ba1653cbbd4734c3b36). Accidentally breaking checkpoints is extremely easy. I would recommend that in the future, use the TensorFlow checkpoints (by specifying `save_format=tf`), which are more robust when dealing with variable changes.

You can migr

[2019-10-04 21:36] sanjoy commented on #32873
I don't think the log you're seeing signifies a hard error since it is a `LOG(WARNING)`.  But CC @iganichev who added the warning line.

As for why XLA does not provide a speedup, have you confirmed that XLA is kicking in?  You should see a `Compiled cluster using XLA!` log if it is kicking in.

Note that speedups using XLA is expected but not guaranteed.

[2019-10-04 21:36] ppwwyyxx commented on #32919
I think that's true.

[2019-10-04 21:53] DanMinhNguyen commented on #33024
@Szubie Thanks for you input!

Unfortunately running tf.compat.v1.disable_eager_execution() does not seem to to work any better for me, as compared to TF1.10 that I am using. Running 1 epoch of 100 update iterations takes, on average, 43 seconds with TF2, but only 20 seconds with TF1.

[2019-10-04 22:11] iganichev commented on #32873
That error is indeed non-fatal. It is warning that some optimizations could not be performed.

@sanjoy maybe some Keras folks can take a look at who produces these badly named nodes.

[2019-10-04 22:27] ziliangpeng opened #33057 "No stat cache for s3 file system"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.14
- Are you willing to contribute it (Yes/No): Yes

**D

[2019-10-04 22:36] feihugis commented on #26671
I have met the same problem when running the test for `tensorflow/lite/testing/kernel_test/util_test.cc`.

[2019-10-04 22:50] MishaelRosenthal commented on #16689
What about the following?

[code]

Just for testing:
[code]

Prints:
[code]

[2019-10-04 22:55] timshen91 commented on #32896
As of today cublas handle is for Tensorflow internal use only. It's not exposed to the public C++ API. See `tensorflow/stream_executor/cuda/cuda_blas.h` that no getters are there for getting the handle `blas_`.

I don't know much about TF custom ops, but I'd expect somewhere in the executor to have a place for users to keep a handle there.

[2019-10-04 23:21] wuhy08 opened #33059 "Size and CombinedNMS Op support request for tflite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary (pip)
- TensorFlow version (or github SHA if from source): 2.0.0

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or sourc

[2019-10-04 23:29] pooyadavoodi opened #33060 "Possible corruption in Load or freeze in TF2.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): custom code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary 2.0.0
- TensorFlow version (use command belo

[2019-10-05 00:06] SaraAlthubaiti opened #33061 "image_gradients: 'Tensor' object has no attribute 'get_shape'"
Hi all,

While I'm trying to feed my tensor to `image_gradients`, this error arises:

`AttributeError: 'Tensor' object has no attribute 'get_shape'`

The type of this tensor is: `torch.cuda.floattensor`

And its size: `torch.Size([2, 1, 128, 128])`

Any help, please.

[2019-10-05 00:24] SamuelMarks commented on #33061
Is this pytorch or TensorFlow?

[2019-10-05 00:54] sanjoy commented on #33001
@gunan @chsigg is this (XLA on windows) expected to work?

[2019-10-05 01:03] bionicles commented on #22105
same problem. guess it's memory because it's architecture search ... but it would be cool for this to fail more gracefully

[2019-10-05 01:16] qingxuantang commented on #30191
This also worked for me. Env: Mac OS 10.14.6

[2019-10-05 01:27] dhananjaisharma10 commented on #32791
Hi!

I tried freezing the graph with as you suggested, but I am getting the following error:
[code]

**Code to reproduce the error:**
[code]
This seems something specific to the mixnet code, but please let me know if you have any pointers/

Thanks in advance!

[2019-10-05 02:44] GeorgyZhou commented on #32546
I am interested to look into it deeper and to see if we can support this list comprehensions. Will send a PR if possible.

[2019-10-05 02:52] SaraAlthubaiti commented on #33061
@SamuelMarks It's PyTorch

[2019-10-05 03:02] rakshitraj opened #33062 "Jupyter notebook from `tensorflow/tensorflow:nightly-py3-jupyter` won't authenticate its own token"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 18.04
- TensorFlow installed from (source or binary): ` docker pull tensorflow/tensorflow:nightly-py3-jupyter`
- TensorFlow version (use command below):
- Python version:
- Bazel version (if compiling from sour

[2019-10-05 03:03] zhen8838 commented on #31681
This is a bug. You should try tensorflow 1.15 or tensorflow 2.0.  I'm not sure which version of the bug was fixed yet.

[2019-10-05 03:34] georgevettathu commented on #32147
Thank you so much Mr. Yasir Modak
Dr. George Mathew

On Fri, Oct 4, 2019 at 10:50 PM Yasir Modak <notifications@github.com>
wrote:

[2019-10-05 04:48] jiawei6636 commented on #32879
No, it is TF1.0 code.

[2019-10-05 05:28] gunan commented on #33001
I do not think we have it working yet.

On Fri, Oct 4, 2019, 5:57 PM Sanjoy Das <notifications@github.com> wrote:

[2019-10-05 05:53] BhavishyaDiggiwal commented on #30191
if "pip install tensorflow" command won't work...
try to "update conda --upgrade all"
then "conda install tensorflow" this will definitely work.

[2019-10-05 05:57] IvanUkhov commented on #24574
I suppose this one is no longer relevant, as `contrib` has been moved out.

[2019-10-05 05:57] #24574 closed

[2019-10-05 06:07] sealedtx commented on #32919
Sad to hear this :(
Really need this feature. Should I close the issue or leave as "want enchantment"?

[2019-10-05 06:35] payne4handsome commented on #32546
@mdanatg Thanks for your explains. Looking forward to your better solution

[2019-10-05 06:46] Atharex commented on #32947
Nice catch! Probably other default centos repo packages are also too old.
I'll do the updates and let you know afterwards if the problems are gone.

[2019-10-05 06:51] tobyclh commented on #33014
Stumbled upon this a few days ago,
when you convert your model you need to specify your input shape as `[None, 512, 512, 3]`.

[2019-10-05 07:25] schmidtdominik commented on #32967
I originally ran it in a Jupyter notebook in a nightly-gpu-py3 docker instance
But now I'm having difficulty to reproduce it so I guess it's resolved, thanks

[2019-10-05 07:25] #32967 closed

[2019-10-05 07:37] yongtang commented on #32082
Added a PR #33066 for the fix.

[2019-10-05 07:54] LuciusPennyworth opened #33067 "tf.gather can't perform real values but op while using sess.run()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Custom Code
- OS Platform and Distribution : Linux Ubuntu 16.04
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):tensorflow-gpu 1.12.0
- Python version:3.6
- CUDA/cuDNN version: CUDA 9.0

**Describe the current behavior**
I 'm a begin

[2019-10-05 09:30] melihcan06 commented on #22377
when i get this error = num_output elements != num_output elements [4004] != [1001] i changed input dimensions.from [1][200][200][3] to [1][128][128][3] . it works.I think model need this dimensions.I get model dimensions from pbtxt file.I create pbtxt file from= .....................................................
from keras.layers import Dense
import numpy
from keras.models import load_model
fr

[2019-10-05 09:57] sockfish commented on #6968
The malloc trick did not work for me:
[code]
And neither did the numpy trick:
[code]

[2019-10-05 09:58] sockfish commented on #32983
The malloc trick did not work for me:
[code]
And neither did the numpy trick:
[code]

[2019-10-05 10:38] somedadaism commented on #32612
@k-w-w @jvishnuvardhan Are there any updates on the issue?

[2019-10-05 12:26] tensorflowbutler commented on #32638
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-10-05 13:37] magneter commented on #29590
I tried resize input_tensor.It would crash in seconds.
And I tried 3 methods in  post_training_quantize ,interpreter.invoke  takes about 3 times before I used optimization method , even the model is  actually smaller.

[2019-10-05 14:11] jiawei6636 commented on #32980
`from tensorflow.python.keras.optimizers import Adam `

[2019-10-05 14:32] HsinJhao opened #33069 "TF2.0.0: tensorflow.python.framework.errors_impl.UnknownError: CUDNN_STATUS_BAD_PARAM"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  **yes**
- OS

[2019-10-05 14:33] csarami commented on #11037
Any solutions to this using Pip3 and not conda?

[2019-10-05 14:41] juliangall commented on #32817
I am also having this message feeding a dataset into a 1D Convnet. Happens on my Mac with tf version 2.0.0-rc2. Not reproducible on Colab.

[code]

[2019-10-05 15:44] mkulisic commented on #32970
Hello @jdduke,
I will try changing the the app to use TF lite interpreter. I'll give an update once I do.

Thank you,
Miguel

[2019-10-05 15:57] netskink commented on #32557
Actually, I am mistaken.   It does indeed fail at the same point as earlier.

3.7.4
v2.0.0-rc2-26-g64c3d38
2.0.0
2.0.0

this line
est.train(train_input_fn, max_steps=100)

will print this in the jupyter-notebook

The kernel appears to have died. It will restart automatically.

[2019-10-05 16:01] gstoica27 commented on #32720
I saw that warning at the time, but I understood that warning as stating "you shouldn't use tf.control_dependencies(...) with keras.layers.BatchNormalization", especially because the [documentation](https://www.tensorflow.org/versions/r1.14/api_docs/python/tf/layers/batch_normalization) on tf.layers.batch_normalization contains the starred section:

Is that warning overwriting the documentation, a

[2019-10-05 16:50] Atharex commented on #32947
Update: Newer versions of git (2.16.5) & gcc (6.5.0) solved the build problems.
Now I get an installable 1.15.0-rc3 pip package.

The package itself loads tensorflow normally and even correctly starts the Object Detection API scripts, however they die soon after startup (below an example of after 70 steps of training)

Does this look like a build problem or something connected to the release candi

[2019-10-05 19:07] ppwwyyxx commented on #32720
TensorFlow's default way of updating BatchNorm moving statistics by a collection, is known to cause various kind of bugs.
By replacing your BatchNorm layer with [tensorpack's BatchNorm layer](https://tensorpack.readthedocs.io/modules/models.html#tensorpack.models.BatchNorm), your code can then run correctly. The diff is:
[code]

[2019-10-05 19:13] raceee commented on #32817
I am having an issue similar to this and tried to run in Collab just to get an un-ending runtime. I asked my question in full on SO [here](https://stackoverflow.com/questions/58245855/numpy-arrays-used-in-training-in-tf1-keras-have-much-lower-accuracy-in-tf2?noredirect=1#comment102869129_58245855).

I had some numpy arrays that were trained in keras in the previous version of tf and now have to re

[2019-10-05 20:10] EdjeElectronics commented on #32743
Hi @Namburger , I had the same issue!

Make sure your Coral USB Accelerator is plugged in when you run your code. If the USB Accelerator isn't plugged in when you call the 'load_delegate' function, it will result in that error. If it IS plugged in, that error won't occur.

[2019-10-05 21:01] SunsetQuest commented on #24496
[This solution](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/config/experimental/set_memory_growth) worked for me.  (TF-GPU 2.0, Windows 10, GeForce RTX 20170)

[code]

[2019-10-05 21:19] oracle3001 opened #33071 "Explicitly Deleted Function Results in Failed Build with Master Branch on Windows"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution : Windows 10
- TensorFlow installed from (source or binary

[2019-10-05 21:25] saippuakauppias commented on #28693
The problem was in the video card. There were memory errors (can be verified through https://github.com/ForkLab/cuda_memtest ).
Solution: replace the video card.

[2019-10-05 21:42] dtch1997 commented on #32949
I ran into a similar error. I am using Windows 10 on a Microsoft PC, my TensorFlow version is 1.14. The code to recreate the error is found below and the execution command is `python hw1.py --num_classes=2 --num_samples=1 --meta_batch_size=4`

[code]

[hw1.zip](https://github.com/tensorflow/tensorflow/files/3693723/hw1.zip)

[2019-10-05 21:58] don-tpanic commented on #29535
[code]
This first summary shows there is no trainable weights. Wheras second summary shows all weights are trainable.

[2019-10-05 22:16] AhmUgEk commented on #32817
I am having the same issue as above on TF 2.0 release. Is this a bug with tensorflow or is there an issue with the code?

[2019-10-05 22:26] tcottin opened #33072 "Distributed training Keras ConvLSTM2D layer with stateful=True failing"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.1.0-dev201

[2019-10-06 00:19] bfmat opened #33074 "tf.keras accepts incorrect CNN input shapes from tf.data.Dataset when eager execution is disabled"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 1.14.0
- Python version: 3.7
- Device: CPU

**Describe the current behavior**
I am using a `tf.data.Dataset` to train a `tf.keras` model. My CNN input layer size is (72, 96, 1). I find that if I input

[2019-10-06 01:16] alloai commented on #33054
I've solved the problem by disable XLA/Jit on running `./configure` in first step.

[2019-10-06 01:16] #33054 closed

[2019-10-06 02:50] SamuelMarks commented on #33061
This is the TensorFlow GitHub. Anyway, checking it out:
https://pytorch.org/docs/stable/tensors.html

I do not see a `get_shape` available.

Maybe you want `.size()`?
 https://pytorch.org/docs/stable/tensors.html?highlight=size#torch.Tensor.size

[2019-10-06 03:14] OverLordGoldDragon opened #33075 "tf.keras works, tf.python.keras doesn't"
**DOESN'T WORK**:
[code]
**WORKS**: remove `.python` from above's imports. Above's error trace below.

Keras 2.3.0 and TensorFlow 2.0.0 freshly-installed via Anaconda, older versions uninstalled. Why the difference?

<hr>

[code]
<hr>

**UPDATE:** Debugging the two side-by-side, while both use the [same files](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/engine/trai

[2019-10-06 03:33] ayrtondenner commented on #22106
@EdjeElectronics removing ' characters and, depending on which model I'm trying to convert via tflite, using `--inference_type=FLOAT` instead of `--inference_type=QUANTIZED_UINT8` did the trick for me.

[2019-10-06 04:11] hagianga21 opened #33076 "Cannot understand class_weight"
**Describe the current behavior**
Hi, how actually does class_weight in model.fit works? Does it multiple to loss function? I cannot find it in source code. If I set class_weight = {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 1, 9:0}. The loss is not equal 0.

[2019-10-06 04:14] OverLordGoldDragon commented on #33075
The "one difference" was the key; pip failed - downloaded manually. Looking forward to Anaconda support.

[2019-10-06 04:33] wpf19911118 opened #33077 "TypeError: Input 'y' of 'Mul' Op has type float32 that does not match type float16 of argument 'x'."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-10-06 05:20] OverLordGoldDragon commented on #33075
Nope, wasn't it - somehow made it temporarily work, then something else broke, then couldn't get it to work again with several fresh re-installs. Pip also fails to fetch Github's TensorFlow master branch. Likely a bug.

[2019-10-06 05:58] SaraAlthubaiti commented on #33061
@SamuelMarks Yes, that's what I notice.

It seems that `image_gradients` function implementation call `get_shape`, in which it's not available for `tensor`. And yes you're right tensor has `.size` instead (but the problem is within `image_gradients` function), I cannot call `.size` within `image_gradients` function!

[2019-10-06 06:00] iamknownstranger opened #33078 "Issue while compiling with AdamOptimizer"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): `model.compile

[2019-10-06 06:21] lrxiao commented on #32383
Could you tell me how to switch the version？

[2019-10-06 06:42] hussain7 commented on #32383
pip install gast==0.2.2

On Sun, Oct 6, 2019 at 8:28 AM lrxiao <notifications@github.com> wrote:

[2019-10-06 07:13] NadavLightricks commented on #33014
Do you mean invoking `interpreter.resize_tensor_input(input_details[0]["index"], [None, 513, 513, 3])
`? Because this just raises an error: `TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'`.

[2019-10-06 07:23] srfrnk opened #33079 "make_csv_dataset with num_epochs=1,2,... (finite) produces (None,) shape tensors"
The following CoLab and Github Gist show the issue:
[CoLab](https://colab.research.google.com/gist/srfrnk/5744026f803b57254b5ba6162dd16bf8/csv.ipynb)
[Github Gist](https://gist.github.com/srfrnk/5744026f803b57254b5ba6162dd16bf8#file-csv-ipynb)

It is expected that the same shape will be returned regardless of num_epochs.
Currently if num_epochs=1 the returned tensors all have shape (None,)
Only wh

[2019-10-06 07:26] hagianga21 commented on #33078
Have you tried :
`model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])`

[2019-10-06 07:28] zhen8838 commented on #33036
Maybe you can refer to this article and use tf.keras to implement it.
This is a Chinese blogger's article : https://spaces.ac.cn/archives/6418

[2019-10-06 07:34] feature-engineer opened #33080 "Until Tensorflow 2.0, there had been an instance norm layer in tf.contrib.layers - please bring it back"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version: 2.0:
- Are you willing to contribute it: Yes:

There's already the code fo

[2019-10-06 07:41] Davari393 opened #33081 "why my coco_output.txt (output of evaluation coco object detection with tflite models)is empty!!!!!!"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:samsung s8 pluse
- TensorFlow installed from (source or binary):source
- TensorFlow version (use command below)

[2019-10-06 09:45] muleyprasad opened #33082 "tf.data.Dataset.from_generator is not executing eagerly"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 2
- Python version: 3

**

[2019-10-06 09:53] ifsheldon opened #33083 "hub.module_v2.load() returns a non-callable object"
**System information**
- tf version: 2.0.0 gpu
- tf_hub version: 0.6
- python: 3.7 with Anaconda

[code]
Error messages are long, but those related to the issue are below:
[code]
[code]
then I realized if we just directly use `hub.KerasLayer()`, the `'tags='` argument will not be passed to `module_v2.load()`, which causes this error.
So then I modified the codes as below:
[code]
Howerver, this won

[2019-10-06 11:29] oracle3001 commented on #30839
No, this did not resolve the issue.

[2019-10-06 11:37] oracle3001 commented on #33071
Please Close - Fixed by updating VS2017 to latest release and downgrading Bazel.

[2019-10-06 11:37] #33071 closed

[2019-10-06 11:39] oracle3001 commented on #32817
It seems everybody who is having this issue is using Windows. I presume that must have something to do with it?

[2019-10-06 11:46] liupengkd opened #33084 "how to change version of protobuf when I compile source code of tensorflow1.9 by bazel"
I want to compile source code of tensorflow-1.9 for c library. When I compile the source code of tensorflow1.9 through bazel, it downloaded and used protobuf3.5 during the compilation process. How to modify the code can be downloaded and used protobuf3.4.1 during the compilation process.

[2019-10-06 12:40] Marmotte06 commented on #33024
I have the same issue. I just installed Tensorflow-gpu 2.0 and modified my Keras code to use the "native" Keras module in Tensorflow.
My model that used to train in 12 sec/epoch with TF 1.14.0 now takes 83 sec/epoch.
And my RTX 2070 GPU is used at only 3% of its power !
I also used a fit_generator for the training.

I am on Windows 10 x64, CUDA 10.0
CPU Core i9 9900K
32 GB RAM for the CPU, 8GB RAM

[2019-10-06 12:54] #31477 closed

[2019-10-06 13:01] aimetrics commented on #31964
works for me, too

[2019-10-06 13:06] birkanatici commented on #33030
I have that same problem

[2019-10-06 13:26] juliangall commented on #32817
I am having the issue on a Mac with the latest version of MacOS

[2019-10-06 13:26] mtpgva commented on #32817
I am having the same problem after porting my code from 1.14 to 2.0.

I am running on UBUNTU 18.04 (not only a windows problem).  It occurs for me during both training and predict.  (so not linked to the optimiser).  I do NOT get the problem if i hide the GPU.   I do get the problem if I expose the GPU.

[2019-10-06 14:23] mihirp1998 commented on #26608
For now, the only fix I found is to multiply the tensor by 1. In between both the operations
But not sure if that is the best way to get rid of this error

[code]

[2019-10-06 14:37] XingyuChen01 commented on #31171
This is the correct solution for windows users. Classic unix/windows incompatibility due to path conventions

[2019-10-06 14:38] CarMiranda commented on #33079
From the docstring:

    to a batch of `batch_size` CSV rows.

So I guess you would expect to have elements with shape `batch_size`?

-- The following is explained more concisely (and precisely for your case) [here](https://github.com/tensorflow/tensorflow/blob/4aa790771fef28b68cb7703e72a0824e12c3732a/tensorflow/python/data/experimental/ops/readers.py#L547) in the source code. Shape inference has

[2019-10-06 15:12] srfrnk opened #33085 "Calling tf.keras.models.load_model / model.save twice fails"
Please see [CoLab](https://colab.research.google.com/drive/1dXgiJZDbGHdQFrquvtMBblgz_5O1WSlD) or [Github Gist](https://gist.github.com/srfrnk/713765b44dd6677ba3e26ff4ac46f68b#file-save-load-bug-ipynb) to see live demo.

Steps to reproduce:
1) Create model,compile and fit
2) Save model
3) Load model and fit
4) Save model
5) Load model

Get error: `ValueError: Passing a dictionary input to a Sequent

[2019-10-06 15:19] maziyarpanahi commented on #30635
Thanks @sjamesr, unfortunately, there is no ETA or any life cycle regarding on how long it takes to have TensorFlow on Maven after its official release. Also, the pre-releases were never got to Maven for testing like it's done for Python.

I myself am still waiting for TF 2.0 to have something on Maven so we can migrate our codes.

Thanks again, hope we can get `1.15` and `2.0` soon on Maven.

[2019-10-06 15:20] srfrnk commented on #33079
@CarMiranda Thanks for your  input.
Indeed I would expect the tensors to be of shape (`batch_size`,..)
The `batch_size` should be already defined he same way for when `num_epochs` is None or a finite number am I wrong?
If so - the tensors returned should at least have the `batch_size` as a "known" dimension. You might argue about the other dimensions for sure but not the first one. Am I wrong?

In

[2019-10-06 16:49] gkvoelkl opened #33086 "Distributed Keras MultiWorkerMirroredStrategy failed"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): stock example modified
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.14.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use comman

[2019-10-06 17:17] arthurflor23 opened #33087 "InternalError: Failed to call ThenRnnBackward"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): linux/google colab
- TensorFlow installed from (source or binary): pip install tensorflow-gpu==2.0.0
- TensorFlow version (use command below): 2.0.0
- Python version: 3
- CUDA/cuDNN version: 10.1
- GPU model and memory: 12gb (Tesla K80)

**Describe the current behavior**
Currently, I

[2019-10-06 17:57] WildTangles opened #33088 "inconsistent behavior of model after creation vs. after loading from save file"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Linux Ubuntu 18.04.2 LTS (Bionic Beaver)
- TensorFlow installed from (source or binary): pip install (binary?)
- TensorFlow version (use command below): 1.14.0
- Python version: 3.5.2
- Bazel version (if compiling from source): -
- GCC/Compiler version (if compiling from source): -
- CUDA/cuDNN version: - (run

[2019-10-06 18:19] WindQAQ commented on #33080
Hello, instance normalization layer has been moved to tensorflow-addons.
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/layers/normalizations.py#L277

[2019-10-06 18:31] CarMiranda commented on #33079
Actually, in most cases, I personally would expect all of the other dimensions to be known, but not the batch size... For example, when loading the MNIST data set from `tensorflow_datasets` and using `batch(N)`, the batch dimension is `None`, not `N`. In fact, columns/variables/features/image dimensions are something that remain constant over time, while the number of rows in a data set does not.

[2019-10-06 18:37] WildTangles opened #33089 "tf silently rounding to integer when converting to PIL format"
**System information**
- Have I written custom code: not really, no.
- OS Platform and Distribution: Linux Ubuntu 18.04.2 LTS (Bionic Beaver)
- TensorFlow installed from (source or binary): pip install (binary?)
- TensorFlow version (use command below): 1.14.0
- Python version: 3.5.2
- Bazel version (if compiling from source): -
- GCC/Compiler version (if compiling from source): -
- CUDA/cuDNN ver

[2019-10-06 18:51] Nephalen commented on #26557
I have the same issue. The code runs perfectly in tensorflow 1.14. But not in tensorflow 2.0.

Exact same situation.

[2019-10-06 18:58] tlkh opened #33090 "model.evaluate gives unexpected results"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, but very

[2019-10-06 19:43] TKassis commented on #31253
I'm still having the same memory issue when using class_weights with Keras model.fit_generator. Running the stable version of TF 2.0.

[2019-10-06 19:45] TKassis commented on #31312
I have the same issue. No problems running the exact same script with TF 1.14, but with TF 2.0 RAM usage keeps increasing with each epoch until my Jupyter Notebook freezes.

[2019-10-06 19:47] TKassis commented on #33030
Same problem here as well. No issues with 1.14 but suddenly appeared when I install 2.0.

[2019-10-06 20:52] aKzenT commented on #32982
It is extremely frustrating discovering the new Tensorflow 2.0 APIs without proper intellisense support in my IDEs. Please fix this!

[2019-10-06 21:28] Aakash1822 commented on #31709
The tf.data API helps to build flexible and efficient input pipelines.

[2019-10-06 21:35] jtavrisov opened #33092 "Prebuilt libtensorflow (C API)"
The link in
https://www.tensorflow.org/install/lang_c

contain the 1.14 library. Are there any prebuilt link for the C API for 2.0 stable?

This also holds true for the install for java page

[2019-10-06 21:44] TransientObject commented on #28337
In a machine with 48 cores, why cannot 48 threads of worker be run. If that is not possible, is there a way to distribute load onto the 48 cores within a single worker ?

[2019-10-06 22:03] njzjz commented on #27067
Found the reason: I need to add `-D_GLIBCXX_USE_CXX11_ABI=0`.

[2019-10-06 22:04] karmel commented on #32787
@tanzhenyu -- is this potentially related to the bug you fixed for losses in model_to_estimator?

[2019-10-06 22:52] borarak commented on #32912
I also see the same behavior, downgrading to `2.0b1` makes the problem go away. Seems like a problem with the `2.0.0` stable release?

[2019-10-06 23:45] luvwinnie opened #33094 "Tensorflow 2.0.0 / tf.keras.layers.TimeDistributed layer can't be save to saved Model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution : Colaboratory (GPU Runtime)
- tensorflow version: 2.0.0
- python version: 3.6.8

**Describe the current behavior**
The model defined which has tf.keras.layers.timeDistributed layer cannot be save by model.save() function.

It shows the error be

[2019-10-07 01:07] Nephalen opened #33095 "Tensorflow 2.0 stop_gradient cause ValueError has 'None' for gradient for tf.Optimizers.Adam"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-10-07 01:46] BlueFisher opened #33096 "Reading TF2 summary file with tf.data.TFRecordDataset"
In TF1, i could use `summary_iterator` to read summary files. But now, it will throw a warning

[code]

So i'm wondering how to use `tf.data.TFRecordDataset(path)` to read tfevent files generated by TF2.

[2019-10-07 03:29] XiagenFeng opened #33098 "TF2.0 gradient result with some minor difference"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- I have written very simple custom code (as opposed to using a stock example script provided in TensorFlow):
-

[2019-10-07 03:35] glw opened #33099 "possible file name typo in raspberry pi example"
## URL(s) with the issue:
https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/raspberry_pi

## Description of issue (what needs changing):
Near the bottom of the instruction on speeding up inference it reads
```python3 classify_picamera.py \```

Based on the files in that example folder should that instead read
```python3 detect_picamera.py \```

### Clear description

[2019-10-07 04:21] OverLordGoldDragon opened #33100 "Error saving Keras optimizer, TensorFlow 2.0"
[Related](https://github.com/keras-team/keras/issues/13402), minimal reproducible example below. Opened a [PR](https://github.com/tensorflow/tensorflow/pull/33097), but doesn't fix this problem.

<hr>

**DOESN'T WORK:**

[code]

<hr>

**WORKS**:  remove `.python` from above's imports, OR, `model.save(.., include_optimizer=False)`. Also works if `.python` is removed only from import `# [3]`.

<hr>

[2019-10-07 04:41] srfrnk commented on #33079
So basically you mean that tensor shapes should be undetermined with various . I would think it should be mentioned in the docs at least?

[2019-10-07 05:32] tobyclh commented on #33014
No.
When you define your model, you need to use `tf.placeholder(..., shape=(None, 512, 512, 3))`

[2019-10-07 05:59] gadagashwini commented on #29770
@pavithrasv, Please take a look at the colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/8cb0d2da742a303dda1e3e06bcab59c7/untitled178.ipynb). Thanks!

[2019-10-07 06:03] gadagashwini commented on #33018
@Palak-15, Please provide the intended code snippet to reproduce the issue. Thanks!

[2019-10-07 06:15] gadagashwini commented on #33045
@georgealexandruvlad, Please provide the complete code to reproduce the issue reported issue here. Thanks!

[2019-10-07 06:16] Palak-15 commented on #33018
@gadagashwini ,

Excuse me. I already provided it, main code. are you new on github or on tensorflow?

[2019-10-07 06:23] kfrncs commented on #32892
It looks as though it's already fixed. I can't find the part I was referring to, so I guess whatever restructuring is done now.

[2019-10-07 06:40] payne4handsome opened #33101 "TF2.0: tf.print doesn't work in tensorflow keras"
System information

OS Platform and Distribution
Mac os (10.14.6)
TensorFlow installed from (source or binary):
binary
TensorFlow version (use command below):
2.0.0rc1
Python version:
Python 3.6.4

I want to print intermediate tensor in model constructed by tensorflow keras functional api, but i got error.  code bellows

[code]
error informations bellows:

[code]

[2019-10-07 06:42] gadagashwini commented on #33047
@Tj85710, Please follow the instructions mentioned in the [Tensorflow](https://www.tensorflow.org/install/pip) website to install Tensorflow,select the mac os.Thanks!

[2019-10-07 06:47] georgealexandruvlad commented on #33045
The code can be found in following link: https://colab.research.google.com/drive/1CfY-bW-sRjZbvkQDjjl1CMiIzN6bJhQn

Basically I just try to initialize the TPU.
[code]

Full error message:

[code]

[2019-10-07 06:52] gadagashwini commented on #33051
@dimitryn, You would like to try Tensorflow lite on Android. Please take a look at the instructions mentioned in this [link](https://www.tensorflow.org/lite/guide/android).Thanks!

[2019-10-07 07:02] rmothukuru commented on #33100
@OverLordGoldDragon,
When I tried reproducing your error, I got a different error, as shown below.

`ValueError: Tried to convert 'y' to a tensor and failed. Error: None values not supported.`

Please find the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/efa2c0e43322822fb4b7b1d8af6eaecb/33100.ipynb).

Can you please help me to reproduce the issue. Thanks!

[2019-10-07 07:07] meyerjo commented on #26608
Unfortunately, I did not find time yet to work on the pull request. However, the fix mentioned in the initial issue is still working in TF2.0 . Hopefully, by mid of this week I will have some more time to take a deeper look at it.

[2019-10-07 07:15] NadavLightricks commented on #33014
This is a pre-trained model that I receive as a black box though

[2019-10-07 07:39] rmothukuru commented on #33098
@XiagenFeng,
I am not sure if that can be reproduced because, I have executed the same code and I got the Tensor Value as 32.0. Please find the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/d34dd3a6acad78e9a196a705dd718403/33098.ipynb).
Can you please try multiple times and report us the results. Thanks!

[2019-10-07 07:50] AllenWu18 opened #33102 "How can I update my existing tensorflow to 2.0?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.14.6
- Mobile device

[2019-10-07 07:51] Tj85710 commented on #33047
I have found references to this behaviour : My processors are too old, they don't support the AVX instruction set. I am building a VM with Ubuntu, 8 Xeon cores, 40 GB RAM and try to build a custom version with the correct --march flag.
Cross fingers !
Thanks for your answer,

Thierry

[2019-10-07 07:51] #33047 closed

[2019-10-07 08:19] pandrey-fr commented on #33078
As of 2.0, optimizers have been unified under the keras submodule; you therefore should use `tf.keras.optimizers.Adam` instead of the deprecated `tf.train.AdamOptimizer`. This is also what happens if you use `optimizer='adam'` as suggested by @hagianga21 although instantiating the optimizer yourself allows you to tweak its parameters.

[2019-10-07 08:27] gadagashwini commented on #33052
@drasmuss, I tried replicating the code on colab with Tf 2.0.0.rc2 but i didn't see increase in the training time. Please take a look at the colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/63e56c1793622ad377705725f555482e/untitled179.ipynb). Let me know the expected result. Thanks!

[2019-10-07 08:27] pandrey-fr commented on #33075
This is a side note to your issue, but with tensorflow 2.0 you are not using the separate keras package (instead, you are using the keras implementation embarked within tensorflow).

That being said, the imports should work, both with and without specifying `.python.`. In general, if you place yourself as a user, I think you had better import from `tensorflow.keras`, which is the intended public d

[2019-10-07 08:31] pandrey-fr commented on #33102
You should be able to simply `pip install --user tensorflow==2.0.0` (or `tensorflow-gpu==2.0.0`).

That being said, if you have some code depending on the former TF1.13 version, you might not want to wipe the latter out entirely. It may therefore be useful to set up a virtual environment (`python3 -m venv your_venv_path`), activate it (`source your_venv_path/bin/activate`) and then pip install any

[2019-10-07 08:40] LaCandela commented on #31896
Hi! I was wondering if there was any progress in this issue...

[2019-10-07 08:48] agsci2017 opened #33103 "TPU, model.fit : 2GB of RAM limit"
**Describe the current behavior**

There is an error ("Session is not found"), when trying to use a dataset with the size more than 2GB of RAM.
Error is reproducible for different step size (256,1024,8192).

**Describe the expected behavior**

No error when feeding a dataset which is more than 2GB of RAM.

**Code to reproduce the issue**

To reproduce, just copy the following code to Colab with TP

[2019-10-07 08:49] gadagashwini commented on #33061
@SaraAlthubaiti, Looks like the issue is not related to Tensorflow. Can please post this issue in relevant Repo. Thanks!

[2019-10-07 08:56] AlexisBRENON commented on #31019
So is it `interleave` the recommended way to parallelize (instead of `TFRecordDataset`)?

[2019-10-07 09:06] PeterStrom opened #33104 "Prediction on batch values vary with batch size."
When I predict on batches, e.g. with *predict_on_batch()*, I get different predictions depending on the batch size I am using. The differnce is sometimes as early as on the 4th digit. At first I thought it was due to batch normalization, but then I tried with pretrained VGG16 which I believe do not include batch normalization. This holds on all system settings I have tired:

Ubuntu and Windows
TF

[2019-10-07 09:20] AlexisBRENON opened #33105 "tf.data.Dataset.interleave does not seem to respect num_parallel_calls argument"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): *Yes*
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): *Linux 5.3.1-arch1-1-ARCH GNU/Linux*
- TensorFlow installed from (source or binary): *binary*
- TensorFlow version (use command below): *v2.0.0-rc2-26-g64c3d38 2.0.0*
- Python version: 3.7.4
- CUDA/cuDNN version: N

[2019-10-07 09:33] meteorcloudy commented on #30839
@oracle3001 I just verified again, `_pywrap_tensorflow_internal.lib` does exist.
I'm building with Bazel 0.26.1 + TF@r2.0 branch
[code]
When I open the whl file `tensorflow-2.0.0-cp36-cp36m-win_amd64.whl` as a zip file, it exists at `C:\Users\pcloudy\Desktop\tensorflow-2.0.0-cp36-cp36m-win_amd64.zip\tensorflow_core\python\_pywrap_tensorflow_internal.lib`

[2019-10-07 09:35] gadagashwini commented on #33069
@HsinJhao, Please downgrade CUDA to 10.0 version and cuDNN version to 7.4 and check. And also provide the complete code to reproduce the issue. Thanks!

[2019-10-07 09:46] rmothukuru commented on #33087
@arthurflor23,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-10-07 09:59] apparvi commented on #32468
I see that @njeffrie pushed the int8 quantization support. I'm however still getting the same `'Didn't find op for builtin opcode'CONV_2D' version '2' Invoke failed.'` error with a simple convolutional network.

I'm using the latest nightly build:
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow version: 1.14, 2.0-rc0, nightly-preview 2.0.0-dev20191002
-

[2019-10-07 10:07] JacobJeppesen commented on #32912
I just tested with the docker images (py3-gpu), and the bug started occurring between 2.0.0b1 and 2.0.0rc0.

[2019-10-07 10:17] gadagashwini commented on #33018
@Palak-15, I saw the above code and i tried replicating the reported issue but looks like the code is not properly intended. Please provide the complete standalone code to reproduce the issue. Thanks!

[2019-10-07 10:19] gadagashwini commented on #32892
@kfrncs, Glad it fixed.
Closing this issue. Please feel free to reopen if the issue still persists. Thanks!

[2019-10-07 10:19] #32892 closed

[2019-10-07 10:41] gadagashwini commented on #33074
I could reproduce the issue with TF1.14.0 on colab. Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/47a1e1726b762a876c0fc29c00e440b9/untitled182.ipynb).

[2019-10-07 10:46] alphamuth commented on #26600
I solved this issue by choosing GPU on colab through change runtime and it will through same error if you will not have gpu in your local system.

[2019-10-07 10:46] rmothukuru commented on #33088
@WildTangles,
When trying to open the ipynb notebook, I am encountering the error as shown in the screenshot below:

![image](https://user-images.githubusercontent.com/48206667/66305817-c9c58800-e91d-11e9-9c70-bd952d3586a7.png)

Can you please link the notebook correctly and share it. Thanks!

[2019-10-07 10:49] gadagashwini commented on #33074
@bfmat, I tried with TF 1.15.0rc1 but i didn't see ValueError with or without Eager execution. Please take a look at colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/ebbbb7296a5830c3ee0b852c4ec4db6e/untitled183.ipynb). Thanks!

[2019-10-07 10:52] rakshitraj commented on #33062
Initially I got this

[code]
Then I went ahead and tried this

[code]
and viola
![Screenshot from 2019-10-07 16-20-10](https://user-images.githubusercontent.com/31768189/66306069-5ec88100-e91e-11e9-9f48-fd909174abbb.png)
It works!

BTW could you tell me why it didn't work the first time. I was using it on a free port, I made sure of that using `netstat -an`

Thanks a lot!

[2019-10-07 10:55] XiagenFeng commented on #33098
@rmothukuru ,
Thanks for reply.
I try with cpu and gpu and found this minor difference ***ONLY exist when use tf2.0 with CUDA***(CC3.0@750m and CC6.1@1080Ti).
When use with CPU, I also got correct Tensor Value of 32.0.

So would you try to run it with CUDA GPU?

**Content of autograd.py**
SamuelFdeMacBook-Pro:mnist sfeng$ cat autograd.py
import tensorflow as tf

x = tf.constant(3.0)
a = tf.constan

[2019-10-07 11:02] #33018 closed

[2019-10-07 11:02] mbenezra commented on #33062
I have exactly the same issue.

[2019-10-07 11:02] gadagashwini commented on #33075
@OverLordGoldDragon,
Please use tf.keras instead of tf.python.keras. Please see the [gist here](https://colab.sandbox.google.com/gist/gadagashwini/5913c06c783100a1c1b9c9fb5d8bf2bc/untitled184.ipynb). Thanks!

[2019-10-07 11:06] gadagashwini commented on #33076
@hagianga21,
Please provide the standalone code to reproduce the issue. and also provide the Tensorflow version. Thanks!

[2019-10-07 11:10] rmothukuru commented on #33085
@srfrnk,
I have executed your code in Tensorflow Version 2.0 and it worked fine. Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/602f614b31dba5ef5e98026d317caa89/33085.ipynb).

Thanks!

[2019-10-07 11:11] gadagashwini commented on #32689
@Gzzgz, Please provide the standalone code to reproduce the issue. Thanks!

[2019-10-07 11:14] gadagashwini commented on #32891
@Srikanth-Kb, Was the solution provided worked for you.  Thanks!

[2019-10-07 11:15] rmothukuru commented on #33084
@liupengkd,
Can you please let us know the operating system which you are using. Also, can you please provide reproducible code. Can you please let us know the specific reason why you want to use Tensorflow 1.9, and why you are not using Tensorflow 1.14 or 1.15. Thanks!

[2019-10-07 11:15] gadagashwini commented on #32901
@WrathofBhuvan11, Were you able to resolve this issue. Thanks!

[2019-10-07 11:16] gadagashwini commented on #32905
@joe1chief, Did you try with the latest TF nightly build version. Thanks

[2019-10-07 11:19] rmothukuru commented on #33083
@ifsheldon,
This issue is not related to Tensorflow, but it is related to Tensorflow Hub. Request you to raise an issue in [Tensorflow Hub Repo](https://github.com/tensorflow/hub/issues).  Thanks!

[2019-10-07 11:20] gadagashwini commented on #33026
@devedse,
TF 2.0 supports cuda 10.0 Please switch to cuda 10.0 and update cuda paths. Did you try with CUDA 10.0. Thanks!

[2019-10-07 11:21] oracle3001 commented on #30839
I will try with those parameters. With v1.14, the following build arguments resulted in the the python directory i.e _pywrap_tensorflow_internal.lib also getting built in the output.

`bazel build --config=opt //tensorflow:libtensorflow.so `

[2019-10-07 11:26] srfrnk commented on #33085
I have tested again using this [CoLab](https://colab.research.google.com/drive/1dXgiJZDbGHdQFrquvtMBblgz_5O1WSlD)

The issue is reproduced. You can verify by running the CoLab yourself.
Since CoLab runs remotely I hardly think it can be something in my local environment.

I also printed the output of the CoLab here:
[Save-Load-Bug - Colaboratory.pdf](https://github.com/tensorflow/tensorflow/files/

[2019-10-07 11:27] berniekirby opened #33107 "Compilation error - pybind11"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Centos 6.9
- N/A
- TensorFlow installed from (source or binary): source
- TensorFlow ve

[2019-10-07 11:30] gadagashwini commented on #33039
@airplane2230, I tried replicating the issue on Colab but the code is throwing different error. Please take a look at the colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/fc6df853c58d9df38e4a7d2718c741fb/untitled185.ipynb) and provide the more information to reproduce the issue.Thanks!

[2019-10-07 11:30] devedse commented on #33026
Yes I'm currently trying to install CUDA 10.0, it's somewhat annoying that other frameworks support the latest CUDA 10.1. Is upgrading to CUDA 10.1 on the backlog? And if so, when do you expect it to be implemented?

CUDA 10.1 has been out for a long while so I would hope the newest Tensorflow could also get support for this.

[2019-10-07 11:33] gadagashwini commented on #33040
@Xavier449446, Does your CPU supports AVX instruction set or not.
Please refer this [link](https://superuser.com/questions/1251865/is-there-a-way-to-tell-if-my-hardware-supports-specific-instructions) to know the CPU instructions set. Thanks!

[2019-10-07 11:34] rmothukuru commented on #33082
@muleyprasad,
`DatasetV1Adapter` is representation of `Dataset`.

Please refer [this code](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/data/ops/dataset_ops.py#L1916-L1918),  Thanks!

[2019-10-07 11:36] rmothukuru commented on #33081
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-10-07 11:39] WrathofBhuvan11 commented on #32901
currently i have installed cudatoolkit 10.1 and cudnn recent one but having
path error... i have added these to environmental variables... yet while
importing tf i'm getting

On Mon, Oct 7, 2019 at 4:52 PM gadagashwini <notifications@github.com>
wrote:

[2019-10-07 11:41] gadagashwini commented on #33062
@rakshitraj,
Glad it worked.
Initial error might be because your jupyter notebook is already in use or you tried to connect jupyter notebook on different terminal. You can restart the system or kill the existing port to free the port. Thanks!

[2019-10-07 11:43] sayakpaul commented on #32241
@gowthamkpr `freeze_graph.py` is discontinued now, right? I am referring to this release note: https://github.com/tensorflow/tensorflow/releases/tag/v2.0.0/.

[2019-10-07 11:43] gadagashwini commented on #33062
@mbenezra, Can you please post a new issue by providing the information asked by the template?
The reason for this is we can focus on your specific configuration and problem since the root cause can be unrelated even though the error messages are similar. Thanks!

[2019-10-07 11:43] liupengkd commented on #33084
My operating system is ubuntu 16.04.The reason why I use tensorflow 1.9 is client needs。
source code tensorflow1.9/tensorflow/workspace.bzl:
  tf_http_archive(
      name = "protobuf_archive",
      urls = [
          "https://mirror.bazel.build/github.com/google/protobuf/archive/396336eb961b75f03b25824fe86cf6490fb75e3a.tar.gz",
          "https://github.com/google/protobuf/archive/396336eb961b75f

[2019-10-07 11:44] gadagashwini commented on #33062
Closing this issue since its resolved. Thanks!

[2019-10-07 11:44] #33062 closed

[2019-10-07 11:49] ouy160 commented on #32945
The code error message I encountered is very similar to yours. See my https://github.com/tensorflow/tensorflow/issues/32908 for details.

[2019-10-07 11:49] gadagashwini commented on #33077
@wpf19911118, Please provide the standalone code to reproduce the reported issue. Thanks!

[2019-10-07 11:55] ahtik commented on #32901
@WrathofBhuvan11 If you want to use cuda 10.1 then you must compile the whole tensorflow by yourself on Windows.

Unless you have a very specific reason to use cuda 10.1, I'd strongly recommended to use cuda 10.0, which works great with the tensorflow binary package. Please note that GPU drivers themselves can be still the latest.

Latest compatible versions as of last week are `cuda_10.0.130_411.

[2019-10-07 11:58] mbenezra commented on #33062
docker run -it -p 8888:8888 tensorflow/tensorflow:nightly-py3-jupyter works for me now.

[2019-10-07 12:01] rmothukuru commented on #33090
Could reproduce the issue with Tensorflow Version 2.0. Training Loss is 0.6364 for `model.fit` but Training Loss is 4.4208 for `model.evaluate`.

Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/f04842c98ea2332523f10b37537f0596/33090.ipynb#scrollTo=-C5i8c_Vmgwy).

[2019-10-07 12:02] gadagashwini commented on #33078
@iamknownstranger, Use `tf.compat.v1.train.AdamOptimizer` instead of `tf.train.AdamOptimizer`.
`tf.train.AdamOptimizer` is deprecated. Thanks!
Please change the code as
`model.compile(optimizer=tf.compat.v1.train.AdamOptimizer(), loss='sparse_categorical_crossentropy', metrics=['accuracy'])`.
Thanks!

[2019-10-07 12:03] GaranceRichard commented on #32945
https://github.com/tensorflow/tensorflow/issues/32908#issuecomment-537329762

I'm on windows 10...

[2019-10-07 12:23] rmothukuru commented on #33101
@payne4handsome,
From the explanation provided below in [this link](https://www.tensorflow.org/api_docs/python/tf/print), `tf.print` prints `Printable Python Objects` and I am not sure if Layers object falls under that category.

It works properly if we try printing Tensors. Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/1e4ddf426822dd37ef318f81eb327515/33101.ipynb).

[2019-10-07 12:26] conqueror7 commented on #33007
Hi,
I'm also facing the "UnrecognizedFlagError" issue of Abseil library while running below command
`python3 deep_speech.py`

I'm using following system config -
OS - Debian GNU/Linux 9.9 (stretch)
Python 3.5.3
Tensorflow 1.14.0

And ran below commands in order
1. export PYTHONPATH="$PYTHONPATH:/path/to/models"
2. pip3 install -r requirements.txt
3. python data/download.py
4. sh run_deep_speech.sh

[2019-10-07 12:29] muleyprasad commented on #33082
Ok. Then I believe DatasetV1Adapter is just holding the reference of the generator function so data can be generated for any iter like operation rather than loading it eagerly inline as other load data methods would do, is it correct?

[2019-10-07 12:31] rmothukuru commented on #33102
Thank you @pandrey-fr for pitching in.
@AllenWu18,
Can you please let us know if @pandrey-fr's comment has helped you. Thanks!

[2019-10-07 12:32] drasmuss commented on #33052
A couple problems with the gist. One is that the `use_v2`/`use_eager` logic won't work properly when it's copy-pasted multiple times like that. It only runs the disable command when flag=False, so e.g. if you run once with `use_v2=False` and then again with `use_v2=True`, it's actually disabled for both of those runs.  I don't think it's possible to re-enable those things after disabling them (you

[2019-10-07 12:32] tensorflowbutler commented on #32694
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-10-07 12:36] dustedduke commented on #32468
@apparvi `CONV_2D` error doesn't appear in tf-nightly 2.1.0.dev20191007, but now I encounter different errors with recently added `QUANTIZE` layer and `DEPTHWISE_CONV_2D`.

When I try to generate a fully integer model, as explained [here](https://www.tensorflow.org/lite/performance/post_training_integer_quant), converted CNN starts asking for `QUANTIZE` layer (`Didn't find op for builtin opcode...

[2019-10-07 12:37] drasmuss commented on #33052
Here's a script you can use if you'd like to see the overall effect within one script (this works because it runs first with the defaults, and then again after disabling eager mode and control flow v2).
[code]

[2019-10-07 12:39] rmothukuru commented on #33103
Could reproduce the error in Google Colab with Runtime as TPU and TF Version 1.14. Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/8ae1e4821a6cfbd56c9f408427f4cccb/33103.ipynb).

[2019-10-07 12:51] HsinJhao commented on #33069
Thanks your  reply! @gadagashwini
I am trying to downgrade CUDA to  10.0 version and cuDNN version to 7.4.2.
The code and some data files is provided to you! Hope it can help!
Thanks again!

[codeAndData.zip](https://github.com/tensorflow/tensorflow/files/3697284/codeAndData.zip)

[2019-10-07 13:00] ifsheldon commented on #33083
Sorry, and thanks.

[2019-10-07 13:00] #33083 closed

[2019-10-07 13:11] lutel opened #33108 "Tensorflow 2.0 - bazel build from source fails (can't exec cc1plus)"
**System information**
System: Gentoo
Tensorflow 2.0, 1.14
Python 3.6
Installed from source
Bazel 0.26.1
GCC 8.3.0, 7.4.0 (both fails, both have c++ installed - /usr/libexec/gcc/x86_64-pc-linux-gnu/8.3.0/cc1plus)
CUDA 10.1
CuDNN 7.6.4

[code]

g++ is installed on system...

[code]

Please help, I get the same error for every other release.

[2019-10-07 13:15] bfmat commented on #33074
@gadagashwini, I re-ran the gist with TensorFlow 2.0 as well, and no error is raised.

It is worth noting that if I change the data shape to (72, 128) instead of (72, 96), an error is raised as expected. However, if I use (72, 97), no error is raised, which is worrying, considering that the tensor size is incorrect as well as the shape.

[2019-10-07 13:18] eobw commented on #33104
In addition, there is inconsistency within a batch even if it is full. For example having a batch size of 31 with 31 identical images will give a different result on the last prediction in the batch. Or having a batch size of 31 with 32 identical images will give different results on the two last predictions. Here is some sample code to reproduce the error.

[code]

[2019-10-07 13:31] salman222-1 commented on #32901
شكرا ولاكني استخدم جوال هواوي q20ارجو الرد والائيفادههل تقصد للمحفظه ام لتسريع التعدين وماهي افظل برامج هواوي لتسريع التعدين وابقا الجوال بحاله مستمره لتعدينمُرسل من 📱 android is Huawei الخاص بي-------- الرسالة الأصلية --------الموضوع: Re: [tensorflow/tensorflow] whether cuda toolkit 10.1 version supports tensorflow 1.14Version? (#32901)من: Ahti Kitsik إلى: tensorflow/tensorflow نسخة إلى: salman22

[2019-10-07 13:42] HsinJhao commented on #33069
@gadagashwini
I downgraded CUDA and cuDNN and Checked.
When i downgrade cuDNN to **7.4.2**,it will let me to upgrade cuDNN to 7.6.0 at least.
After upgraded cuDNN to 7.6.4, the error remains same with the first time as below:
[code]
:(

[2019-10-07 14:04] JoaoLages opened #33110 "Weight decay in adam optimizer"
- TensorFlow version: 1.14 / 2.*
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
Could we please get weight decay (L2 penalty) in Adam optimizer? PyTorch has it and it is as easy as adding a `weight_decay` float argument when initializing the optimizer.
Rectified adam would be great too!

**Who will benefit with this feature?**
Everyone tha

[2019-10-07 14:18] SumitNikam commented on #11157
Do you solve this issue ? If you solve please suggest me to modifications please

[2019-10-07 14:23] OverLordGoldDragon commented on #33100
@rmothukuru Right, that's _another_ problem for which I started a [Pull Request](https://github.com/tensorflow/tensorflow/pull/33097) - you can implement the fix manually in the meantime.

[2019-10-07 14:25] WildTangles commented on #33088
Please see: https://nbviewer.jupyter.org/github/WildTangles/tf-issues/blob/master/tensorflow_bug_lambdas/bug_demo.ipynb

It's the same notebook, just now rendered on https://nbviewer.jupyter.org/.

[2019-10-07 14:26] HsinJhao commented on #33069
@gadagashwini
Thanks your response!
I think i find what is wrong when i read this sentence:

in [tf2.0api: tf.keras.layers.LSTM](https://www.tensorflow.org/api_docs/python/tf/keras/layers/LSTM)

The problem is that my input data existing all-zeros sequences. It will cause the input data will be all masked by Masking Layer.

Anyway, Thanks a lot! please close this issue right now!

[2019-10-07 14:28] OverLordGoldDragon commented on #33075
@gadagashwini Your gist is already in my original post - my question concerns _why_ `tf.python.keras` fails

[2019-10-07 14:37] wardVD opened #33112 "Link broken"
The link on the following line is broken: https://github.com/tensorflow/docs/blob/master/site/en/tutorials/load_data/csv.ipynb?short_path=443a7a7#L360

[2019-10-07 14:40] sanjoy commented on #33001
@QRabbani I'd be happy to review changes that fix the windows build, but as per Gunan it isn't expected to be working yet.

[2019-10-07 14:50] beasteers commented on #3907
This would be really useful to use functionally as an expandable hashtable. I need to track data ids inside a tensorflow graph :/

[2019-10-07 15:04] danvargg commented on #32959
Hi,

Here's a minimal stand alone code.

https://gist.github.com/danvargg/d5258167e27744d071f7bbb00b329e24

[2019-10-07 15:09] ShahinMojarad commented on #32748
Thank you guys for the notes. I spend two days to realize that when using @tf.function causes the error and when removing @tf.function everything works fine. Then I came up with search phrase of "AttributeError: 'NoneType' object has no attribute 'shape' + when using tf.function" and I found this post. I fixed the issue by using tf.constant when feeding training set to the function. I hope they fi

[2019-10-07 15:16] #33069 closed

[2019-10-07 15:16] mihaimaruseac commented on #33069
Closing per user request

[2019-10-07 15:18] Iorek73 commented on #22994
Same issue on tf 1.10

[2019-10-07 15:22] mihaimaruseac commented on #33108
Most likely `cc1plus` is not on a path that is visible in `PATH` envvar that Bazel uses. To check, compare the output of `which cc1plus` with the output that you'd get from running `bazel run :test_path` on a new project with

[code]

and

[code]

[2019-10-07 15:22] tanzhenyu commented on #30286
Our focus has been pivoted to support this through Python3 via [this work](https://github.com/keras-team/governance/blob/master/rfcs/20190729-keras-preprocessing-redesign.md).

[2019-10-07 15:22] #30286 closed

[2019-10-07 15:23] mihaimaruseac commented on #33102
You can also see the [`tf_upgrade_v2` script](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/compatibility) to upgrade existing code

[2019-10-07 15:25] mihaimaruseac commented on #33084
Please post code snippets using proper markdown format, so that they are easy to read.

In this particular case, as protobuf is tied with Bazel version, you have to use [the same Bazel version as that one used to build 1.9](https://www.tensorflow.org/install/source#linux)

[2019-10-07 15:26] mihaimaruseac commented on #33040
Based on the cpuinfo provided, your CPU doesn't support AVX. See #19584

[2019-10-07 15:27] mihaimaruseac commented on #30839
Please use the `r1.15`, `r2.0` or the `master` branches instead of `r1.14` as that branch is in an unstable state, unfortunately.

[2019-10-07 15:31] mihaimaruseac commented on #33075
TL;DR: The API import is in the root of the package. Any other import is just Python allowing you to access privates with no consideration for good coding practices.

Long story short:

The only way that imports should be are

[code]

We also provide support for

[code]

though this is brittle and can break as we keep refactoring.

Importing from `tensorflow.python` or any other modules (including

[2019-10-07 15:32] mihaimaruseac commented on #33112
Seems to be working for me.

[2019-10-07 15:34] tanzhenyu commented on #32787
@karmel It shouldn't be related to that (that fixes both single training and dist training), this seems more related to estimator distributed training scheme.

[2019-10-07 15:35] mihaimaruseac commented on #33024
Can you test the 1.15 release candidate and tell us if you still see the slowdown, as we're trying to identify the root cause?

[2019-10-07 15:36] Iorek73 commented on #22994
Noting this https://github.com/tensorflow/serving/issues/831#issuecomment-378986705

[2019-10-07 15:36] mihaimaruseac commented on #32947
That looks like a runtime error. Can you please open a new issue for that? And close this one as it seems solved?

[2019-10-07 15:45] mihaimaruseac commented on #26671
Google Test is a [publicly released open source library](https://github.com/google/googletest) that can be used by any other open source project. I see it is included as depenency in the `util_test.cc` target: https://github.com/tensorflow/tensorflow/blob/656e7a55387fac2df1b786013adbde79cdc95fd5/tensorflow/lite/testing/kernel_test/BUILD#L33-L49

Can you recompile from scratch and attach the log? M

[2019-10-07 15:48] martinwicke commented on #33024
@karmel, @robieta, this looks like a problem with plain numpy input and fit_generator, both CPU and GPU. Can you take a look?

[2019-10-07 16:07] eustomaqua commented on #32814
Nope. If I did, I wouldn't open this issue

[2019-10-07 16:11] jpienaar commented on #30293
Unfortunately the design/prototype did not get the buy in from other folks and is being redesigned post more exploration work. It may be 3-6 months before the next one. The closest externally visible is the changes we are making on the new TF & XLA integration using MLIR. This is still early though. In the interim the two options are the existing ones of creating a new TF device or a new XLA devic

[2019-10-07 16:16] alextp commented on #32965
There's no way to freeze it using only the C API. Also freezing is unsupported going forward. @gargn to confirm.

[2019-10-07 16:16] #32965 closed

[2019-10-07 16:26] lutel commented on #33108
Thanks! I've added /usr/libexec/gcc/x86_64-pc-linux-gnu/8.3.0 to the PATH, but now I'm getting errors for header files, should I set some environment variable or set it during ./configuration?

[code]

[2019-10-07 16:26] payne4handsome commented on #33101
@rmothukuru I know how to print tensors. My really question is how to print intermediate tensor in model constructed by tensorflow keras functional api. My real intention is to print **outputs object** when the model iterates that at below codes. I hope the model is iterated once and the intermediate value is printed once(just like bellow code tf.print("outputs",outputs) )

[code]

[2019-10-07 16:29] jvishnuvardhan commented on #33031
@anhmeow I think this is expected as you are using BatchNorm. There are some layers (BatchNorm, Dropout) that are enabled during training and disabled while evaluation. If you disable `BatchNorm` and run the training (`model.fit`) and Evaluation (`model.evaluate`), the results are very very close (upto 3rd ot 4th decimal). Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuv

[2019-10-07 16:31] robieta commented on #33024
First of all, thank you for the wonderful repro. I can't tell you how much easier it makes all of this.

It looks like `fit_generator` is incorrectly falling back to the eager path, which is why training is slower. I will look into why, but in the mean time can you try using `model.fit`? It actually also supports generators (we plan to deprecate the fit_generator endpoint at some point as it is no

[2019-10-07 16:31] victorflorintsev opened #33113 "Warning on why compute devices aren't being used"
**System information**
- TensorFlow version (you are using): 2.0.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
As of now, if "tf.debugging.set_log_device_placement(True)" is set, there is useful feedback on which device is being used for computation.

It would be helpful however, if feedback was given as to why a TPU, GPU, XLA_GPU or C

[2019-10-07 16:45] jvishnuvardhan commented on #29535
@don-tpanic Please create a new issue with more details on the issue and also provide platform details, version used etc. Thanks!

[2019-10-07 16:51] mihaimaruseac commented on #33108
I think it's better to set everything up during `./configure`. Otherwise you have to set up all kind of env vars for binaries, include paths, library paths, etc. In that case, this is not a supported usecase and would be better to continue that approach on StackOverflow as it is all a configuration issue.

[2019-10-07 16:54] evictor commented on #21174
@doiko Preds are at least already available without extra overhead for on_batch_end, see linked line: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/engine/training_arrays.py#L304

When I get a free few minutes I will submit a PR exposing these to on_batch_end; it is a trivial change now that I am looking at the code.

I can see what you mean re: not exposing to on_ep

[2019-10-07 17:00] jvishnuvardhan commented on #28337
@TransientObject Please create a new issue with description, platform details, TF version and a simple standalone code to reproduce the issue. Thanks!

[2019-10-07 17:04] jvishnuvardhan commented on #26557
@Nephalen I think original issue was resolved by @tanzhenyu suggestion. I am closing this issue.

Please open a new issue with details about your issue, platform details and a standalone code to reproduce the issue. Thanks!

[2019-10-07 17:04] #26557 closed

[2019-10-07 17:07] ebrevdo commented on #11157
One way is to use the model saving functionality in TensorFlow:
tf.keras.models.save_model
<https://www.tensorflow.org/api_docs/python/tf/keras/models/save_model> or
calling model.save
<https://www.tensorflow.org/guide/keras/save_and_serialize>.  Don't use
pickle.

On Mon, Oct 7, 2019 at 7:19 AM SumitNikam <notifications@github.com> wrote:

[2019-10-07 17:08] Atharex commented on #32947
Sure! I'll create the new issue.

Thanks for the help!

[2019-10-07 17:08] #32947 closed

[2019-10-07 17:09] jvishnuvardhan commented on #31253
@TKassis Please open a new issue with details about your issue, platform details and a standalone code to reproduce the issue. Thanks!

[2019-10-07 17:09] gowthamkpr commented on #32993
@yangzhuoran Were you able to solve the issue?

[2019-10-07 17:12] isaprykin commented on #32787
@shahriar49     The issue is that in order to use distribution strategies with Estimator the input fn needs to return a dataset.  However, numpy_input_fn doesn't return a dataset, it returns tensors instead.

[2019-10-07 17:17] isaprykin commented on #32960
Hi this issue if fixed [here](https://github.com/tensorflow/tensorflow/commit/1a1c0b6980f1648fe674de3e3b471e78a59143e1), which unfortunately hasn't made its way into the latest release.  It should be there in the next release and already in the nightlies.

[2019-10-07 17:17] #32960 closed

[2019-10-07 17:41] shahriar49 commented on #32787
@isaprykin  OK that seems to be the case (although this lack of support was not expected). However, I am still confused do I need to put the strategy clause in my code or not. As I mentioned earlier, I see the worker and chief are communicating and training the network together (and the global step per second is increased when having both chief and worker) even without this clause.

[2019-10-07 17:54] sanjoy commented on #32793
@shun-lin Any chance you're willing to send a PR to fix this?

[2019-10-07 17:56] OverLordGoldDragon commented on #33075
@mihaimaruseac That's fair, except `tf.keras` itself is full of imports from `tf.python.keras` - and making custom optimizers often requires imports from either of the two, which still ultimately import from `tf.python.keras`. It occurred with me while building a custom optimizer - making it compatible with `optimizer_v2` thus implies dealing with `tf.python.keras` and all its music. So even if it

[2019-10-07 18:02] lutel commented on #33108
I couldn't set it during configure, I've tried to set it through CPATH or CPLUS_INCLUDE_PATH but to no success.

[2019-10-07 18:03] Atharex opened #33117 "Object Detection API Training fails with: Cuda call failed with an illegal memory access on TF1.15rc3"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Using legacy train.py script from Object Detection API
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux CentOS 7.6
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below):  v1.15.0-rc2-8-g776451109a 1.15.0-rc3
- Python vers

[2019-10-07 18:16] shun-lin commented on #32793
@sanjoy what I end up doing is

1) set ```export TF_MIN_GPU_MULTIPROCESSOR_COUNT=5``` in my config file to let TF use the less powerful GPU and

2) Removing the less power GPU and just use the powerful GPU I have.

I have not spent much time diving deeper into where the the problem occurs (i.e. it should work without removing the less powerful GPU and know to only list the available devices) but w

[2019-10-07 18:19] arthurflor23 commented on #33087
Hi!
The training model:

[code]

I checked in CPU version and it's OK there..

And the error occurs during training..

Complete error output:

[code]

Maybe the model has something wrong and the beta version let it pass?

[2019-10-07 18:20] mihaimaruseac commented on #33108
Unfortunately, you'll have to ask for help on StackOverflow, as we cannot support all build configurations.

[2019-10-07 18:23] #32819 closed

[2019-10-07 18:38] jvishnuvardhan commented on #33045
@georgealexandruvlad Thanks for testing TF2.0 TPUs. This seems to be a known issue as https://github.com/huan/tensorflow-handbook-tpu/issues/1 which the colab kernel on tpu worker is out dated, Team is working on the fix. Thanks!

[2019-10-07 18:39] lutel commented on #33108
I could build Tensorflow on Gentoo, isn't this problem with bazel or some build scripts? Could your post what are your environmental variables set for building TF from source?

[2019-10-07 18:43] gowthamkpr commented on #33117
@Atharex Can you please provide a github gist for us to reproduce the issue? Thanks!

[2019-10-07 18:44] #32770 closed

[2019-10-07 18:48] gowthamkpr commented on #33112
Its working for me too.

[2019-10-07 18:49] gowthamkpr commented on #33112
Closing this issue as its not an issue. Please add additional comments and we can open this issue again. Thanks!

[2019-10-07 18:49] #33112 closed

[2019-10-07 18:51] gowthamkpr commented on #33110
@JoaoLages Is this a feature request? Can you please fill in the issue template thats given [here](https://github.com/tensorflow/tensorflow/issues/new/choose) which will help us expedite the process. Thanks!

[2019-10-07 19:06] cheshire commented on #32793
This is somewhat strange, because you're using the same configuration (as far as I can tell) as virtually everyone else using GPU: one powerful GPU for compute, other GPU for driving graphics. I really would not expect crashes on this codepath.

[2019-10-07 19:16] jvishnuvardhan commented on #31896
@LaCandela I reduced the dummy_data size and ran it with `TF2.0`. I don't see any issues. [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/007ed87a42cce8f0993933fd6c1c8b83/tf31896.ipynb) is the gist. Thanks!

[2019-10-07 20:02] DanMinhNguyen commented on #33024
@robieta I had also attempted model.fit() without any improvement to performance. It may have to do with my current implementation, so I'm pasting some pseudo code below. I am hoping there is something fundamentally wrong with it (I'm thinking its the usage of lambda):

For the pseudocode using tf.data.Dataset.from_generator():

    from tensorflow.compat.v2.data import Dataset

    def datagen(ar

[2019-10-07 20:05] agur commented on #30635
Thanks @geometrikal - works on linux (mint 19) w/ the mentioned quick workaround.

[2019-10-07 20:20] novog commented on #22098
I can confirm that I am experiencing this issue with TF 2.0.0, as well.

[2019-10-07 20:22] DanMinhNguyen commented on #33024
@mihaimaruseac I just tested my code on TF version 1.15.0rc2. It seems to be equally as slow a TF2.0, I hope this helps with your debugging!

[2019-10-07 20:33] robieta commented on #33024
It sounds like @Raukk and @Szubie (and maybe @Marmotte06) are hitting the issue I described above with `fit_generator` running eagerly, while @DanMinhNguyen's issue is likely different. A simple way to check is to pass the generator function directly into `Model.fit`. It will also call `Dataset.from_generator` under the hood, but with best practice optimizations like prefetching. I would also sugg

[2019-10-07 20:33] jvishnuvardhan commented on #33046
@mnozary You need to run a session in `TF1.x` in order to access the graph tensor. However, in TF2.0, everything runs eagerly and you can access a numpy array from a tensor as you mentioned above (`result.numpy()`)

So in TF1.x, you need to add the following lines to access `result` numpy array.
[code]

Please check the gist [here](https://colab.sandbox.google.com/gist/jvishnuvardhan/2d0e36917906f

[2019-10-07 20:33] #33046 closed

[2019-10-07 20:38] DanMinhNguyen commented on #33024
@robieta Thanks for the comment! I'll try it out later this evening or tomorrow and get back to you. If I'm still having issues, will make a colab to share and demonstrate it. Currently I was using some internal data which I cannot share, hence the pseudocode.

[2019-10-07 20:56] duysqubix commented on #32817
I think I may have found why it is complaining. However, I have no idea how to fix it. While training, we all get the IteratorGetNext Error: Sequence out of range.

I noticed that let’s say I have a dataset size of 60,000 with a batch size of 64 that would require floor(60000/64)= 937 to iterate through entire dataset for one epoch. However, when training using .fit(verbose=1) i botice that it att

[2019-10-07 20:57] jvishnuvardhan commented on #31915
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-07 20:57] #31915 closed

[2019-10-07 21:03] jvishnuvardhan commented on #30002
I am closing the issue as it was stale issue. Please feel free to reopen when you have time to update the information. Thanks!

[2019-10-07 21:03] #30002 closed

[2019-10-07 21:03] shun-lin commented on #32793
@cheshire exactly, I wanted to use my Quadro P1000 for general graphics use and Titan RTX for computing, but then I got the above error so I just remove the Quadro P1000. Do you have any insight into what may have gone wrong? Thank you so much for your time!

[2019-10-07 21:04] gowthamkpr commented on #32241
@sayakpaul Yes, freeze_graph.py is discontinued in Tensorflow 2.0.

[2019-10-07 21:35] JoaoLages commented on #33110
@gowthamkpr I've updated the issue description, idk if this is what you were looking for

[2019-10-07 21:48] jvishnuvardhan commented on #30830
@theangels Did you had time to review my shared gist? Thanks!

[2019-10-07 21:53] powderluv opened #33122 "Roll of absl breaks TFLite builds (absl::MakeTaggedSeedSeq)"
Build Top of master with

./tensorflow/lite/tools/make/download_dependencies.sh
./tensorflow/lite/tools/make/build_lib.sh

Fails with:

tensorflow/lite/tools/make/downloads/absl/absl/random/internal/named_generator.cc: In function ‘int main()’:                                                                                                                  │····
tensorflow/lite/tools/make/downloads

[2019-10-07 21:58] gowthamkpr commented on #33110
@JoaoLages Thanks for the update.

[2019-10-07 21:58] siavash-khodadadeh commented on #29674
I will try it and let you know. It might take a couple of days since I do not have access to that code now.

[2019-10-07 22:01] feihugis commented on #26671
@mihaimaruseac I think the error is caused by [#include "testing/base/public/googletest.h"](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/testing/kernel_test/util_test.cc#L21). The error message is as below:
[code]
This PR #33123 is submitted to fix it. Could you please take a look?

[2019-10-07 22:13] mmv commented on #29578
This has been resolved with along with #29075 — I'll go ahead and close it.

[2019-10-07 22:13] #29578 closed

[2019-10-07 22:14] robieta commented on #33009
This is an issue with how certain object lifetimes are being managed in the tf function cache. Behind the scenes `Model.predict` is creating some functions which aren't being spun down properly, which is why there is a small but consistent leak each iteration. We are currently working on a fix.

[2019-10-07 22:16] jvishnuvardhan commented on #32886
I am closing the issue as it was resolved. Please feel free to open it if the issue persists again. Thanks!

[2019-10-07 22:16] #32886 closed

[2019-10-07 22:18] datavisornicolacorradi opened #33124 "Can a tensorflow-lite model accept a variable-shaped input?"
When converting a saved frozen graph to tensorflow lite I received the following error: `ValueError: None is only supported in the 1st dimension. Tensor 'input' has invalid shape '[1, None, None]'.`

I'm expecting a variable-sized input that can range from e.g. 10x7 to 100x100, but this seems to be actively prevented in the conversion to tensorflow lite.

It seems to be possible to fix the input s

[2019-10-07 22:23] haozha111 commented on #32999
Could you try using TFLiteConverter.from_saved_model API instead?

Which version of Tensorflow are you using?

[2019-10-07 22:25] mihaimaruseac commented on #26671
Confirmed that I cannot compile `tensorflow/lite/testing/kernel_test:input_generator_test` although I can compile other targets using Google test. Assigning to lite/ code owners for review.

[2019-10-07 22:26] haozha111 commented on #32609
Sorry. I was meaning if you could find an API for TensorForest outside of tf.contrib, since that's being deprecated. I think tensor_forest is still under migration (which will eventually be moved to core):
https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md

However, before that happens, I think there is no easy way to support TensorForest ops in TF Lite. Sorry abou

[2019-10-07 22:29] mihaimaruseac commented on #33075
Yes, that's exactly the case. Anything under `tf.python` is private

[2019-10-07 22:30] alshedivat opened #33125 "[TF2.0] Keras layers with custom tensors as variables"
(I've asked this question on [StackOverflow](https://stackoverflow.com/questions/58275253/tensorflow-2-0-keras-layers-with-custom-tensors-as-variables), but after looking closer into the source code, I'm not sure if a clean solution exits yet, so re-posting it here.)

In TF 1.x, it was possible to build layers with custom variables. Here's an example:

[code]
The printed variables of the construct

[2019-10-07 22:41] haozha111 commented on #32294
Sorry for late reply.

The current error reporting is not ideal in TF Lite converter, which makes the debugging hard to do. However we are working on a new converter which can provide better code location tracking.

Could you try adding some debug info here to see which graph transformation causes the issue?
https://github.com/tensorflow/tensorflow/blob/df191feaa323b4b35d3c45effecbba38fbcb550e/ten

[2019-10-07 22:43] #32977 closed

[2019-10-07 22:51] haozha111 commented on #30272
Sorry for the wait. I'm taking a look now. Will update once I got any new findings. Thanks!

[2019-10-07 22:53] #33075 closed

[2019-10-07 22:54] codeyman commented on #32849
Could you please use the model from the summary that I provided? I understand that it works on the sample code. Can you please try with the same layers?

[2019-10-07 22:56] DanMinhNguyen commented on #33024
@robieta So I just ran my code by passing the generator function directly into model.fit(), and that seemed to fix the issue completely!

Basically my pseudo code now looks like this:

    def datagen(args):
        while True:
            #some code here to load and manipulate data into x and y. Mostly numpy functions
            yield x,y

    #some code here to create and compile model

    mod

[2019-10-07 22:57] jvishnuvardhan commented on #32818
Automatically closing this out since I understand it to be resolved by @fchollet comment, but please let me know if I'm mistaken.Thanks!

[2019-10-07 22:57] #32818 closed

[2019-10-07 23:03] tanzhenyu commented on #33110
Please use this [optimizer](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/optimizers/weight_decay_optimizers.py)

[2019-10-07 23:03] #33110 closed

[2019-10-07 23:05] jvishnuvardhan commented on #30877
@carlthome was this resolved by @yongtang PR that was merged? Please close the issue if it was already resolved. Thanks!

[2019-10-07 23:09] robieta commented on #33024
Excellent! I'm planning on just aliasing `(fit / evaluate / predict)_generator` to `(fit / evaluate / predict)`, as those methods are now strictly superior.

[2019-10-07 23:09] haozha111 commented on #30272
Hi,

I could convert the keras mobilenet model to tflite without issue using the TF 2 API as documented here:
https://www.tensorflow.org/lite/convert/python_api#end-to-end_mobilenet_conversion_

Please note that there are API signature changes between TF 1.X and TF2.0. The code instructions in that page is based on TF 2.0 API.

Could you please use the latest TF 2.0 code (the official 2.0 version

[2019-10-07 23:12] haozha111 commented on #30272
If that issue still exists, could you please share your keras model file (.h5) with me so that I can take a look (the link of above Google Drive is not valid any more).

[2019-10-07 23:23] haozha111 commented on #32693
Hi,

Keras LSTM/GRU will not be supported in the current TOCO converter. We are working on a new TF Lite converter that could convert LSTMs nicely. Please stay tuned. Thanks!

[2019-10-07 23:24] robieta commented on #32707
This is expected, and stems from the fact that you're running eagerly.

In graph mode, there are a number of optimizations to reuse of aggressively free memory based on an analysis of the overall dataflow graph. A good example to illustrate this is buffer forwarding:
[code]

In graph mode, the runtime can observe that `y` is the only consumer of `x`, and `z` is the only consumer of `y`. So it just

[2019-10-07 23:24] #32707 closed

[2019-10-07 23:24] jvishnuvardhan commented on #32849
@codeyman Can you please create the model and follow the steps I mentioned in the code I shared. If there is any issue, please create a colab gist and share it here. Thanks!

[2019-10-07 23:26] gowthamkpr commented on #32951
To understand about ConVLSTM2D[1] and StackedRNNCells()[2] you can follow these tutorials.
[1] - https://machinelearningmastery.com/stacked-long-short-term-memory-networks/
[2] - https://srirangatarun.wordpress.com/2018/07/09/video-frame-prediction-with-keras/

For more clarification please post it in Stackoverflow. Thanks!

[2019-10-07 23:26] #32951 closed

[2019-10-07 23:32] mitsuhisaT commented on #32784
I'm trying TensorFlow 2.0.
I got same error.

I used data is download from
https://archive.ics.uci.edu/ml/machine-learning-databases/00360/AirQualityUCI.zip

[code]

[2019-10-07 23:34] gowthamkpr commented on #32983
@sockfish As mentioned in this comment [here](https://github.com/tensorflow/tensorflow/issues/7268#issuecomment-278130615) this is unlikely a Tensorflow issue. For more details, you can refer to the issue [here](https://github.com/tensorflow/tensorflow/issues/7268).

[2019-10-07 23:35] gowthamkpr commented on #32916
@Julius-ZCJ Did you solve the issue or are you still facing the same issue?

[2019-10-07 23:38] karimnosseir commented on #32991
Marking as fixed. Please feel free to reopen and assign to me if anything is needed.

Thanks

[2019-10-07 23:38] #32991 closed

[2019-10-07 23:45] jvishnuvardhan commented on #29632
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-10-07 23:45] #29632 closed

[2019-10-08 00:09] jvishnuvardhan commented on #29831
@CovertKoala Is this still an issue? Can you check with `TF2.0` and let us know whether the issue persists with latest TF version. Thanks!

[2019-10-08 00:11] jvishnuvardhan commented on #29874
@rlewkowicz Is this still an issue? Can you check with `TF2.0` and let us know whether the issue persists with latest TF version. Thanks!

[2019-10-08 00:18] gowthamkpr commented on #33007
Can you try it with Tensorflow 1.13 and let me know if it works?

[2019-10-08 00:26] jvishnuvardhan commented on #29715
@ohtaman I am closing the issue as it was resolved in `tf-nightly`. Please feel free to open it if the issue persists again. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/701764218387356183515f772bbef27f/-post-training-integer-quantization-error.ipynb). Thanks!

[2019-10-08 00:26] #29715 closed

[2019-10-08 00:26] samhithaaaa commented on #33007
I have already tried with 1.13 too but that doesn’t help either

On Mon, Oct 7, 2019 at 5:24 PM gowthamkpr <notifications@github.com> wrote:

[2019-10-08 00:39] codeyman commented on #32849
@jvishnuvardhan Please look at my bug creation code. It is exactly the same:
import tensorflow as tf
model = tf.keras.models.load_model('keras_model.h5')
model.summary()
converter.convert() <-- This throws the error

[2019-10-08 00:42] jvishnuvardhan commented on #29968
@fhausmann Is this still an issue? Can you check with `TF2.0` and let us know whether the issue persists with latest TF version. I tried both `!pip install tf-nightly` and `!pip install tensorflow==2.0.0`.

[Here is the gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/f38f8b7f3c7adbc171814cb863b0de17/untitled539.ipynb) with `!pip install tf-nightly`. Thanks!

[2019-10-08 01:31] stephen-systemfriend opened #33127 "TensorflowLite Upsampling2D does not change output shape when resize_input_tensor is called"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes (code can be found here https://github.com/benjamintanweihao/YOLOv3)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows, but probably all
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.14.0
- Python version:

[2019-10-08 01:57] zh794390558 opened #33128 "How to using batch norm with different T in every batch which input is [B, T, D] shape tensor"
[code]

[2019-10-08 01:58] Raukk commented on #33024
I have ran the Colab's I posted on version `1.15.0-rc2` and got the exact same results as on version `1.14.0` for performance.

On version `2.0.0` I get comparable performance when I use `model.fit(` instead of `model.fit_generator(` OR if I use `tf.compat.v1.disable_eager_execution()`.
Switching to `model.fit(` is the solution I will use for all my code.

I vote that `.fit_generator(` become an A

[2019-10-08 02:22] Raukk commented on #33005
@jvishnuvardhan In my understanding, I think the same use cases for `Conv2D` would apply to a `DepthwiseConv2D` and `SeparableConv2D`, since they are essentially a drop in replacement for a `Conv2D` (that do different math under the hood). If you know of a reason why the `Conv2D` Use-cases would not apply to `DepthwiseConv2D` or `SeparableConv2D` then I can look for Specific Use-cases.

I'll link

[2019-10-08 02:34] Julius-ZCJ commented on #32916
Yes, I solved this problem, but have some other issues raise. I'm now fight against that.

[2019-10-08 02:51] aleozlx opened #33129 "[TF2.0] How to get the intermediate layers output of pretrained model?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Y
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 5.3.5-arch1-1-ARCH
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use co

[2019-10-08 02:54] adaber commented on #32965
Hi, alextp

Thank you for your response. I have tried to Google keywords such as "tensorflow model freezing being unsupported in the future" and didn't get any hits. Will the model file format be different in the future ? Will the network architecture and tensor values be saved to a single file by default ?

It'd be great if you could provide a bit more information if you have any at this point.

[2019-10-08 03:17] Julius-ZCJ opened #33130 "Cannot find NvInfer.h with TensorRT install"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile de

[2019-10-08 03:36] MUMOHK commented on #33129
I meet the same problem. Is there any instruction ?

[2019-10-08 03:37] srvasude commented on #19812
Closing this issue.

TF distributions are deprecated / removed. We've had a similar issue in TensorFlow Probability for multinomial. The implementation there is based on a map_fn as well. We can still do better by using the random_binomial sampler in TF (which is rejection based, and will probably work much better in the limit of large counts). Feel free to reach out at https://github.com/tensorfl

[2019-10-08 03:37] #19812 closed

[2019-10-08 03:42] ucasiggcas commented on #32650
I have changed the batch ,but also have the errors below

`2019-10-08 11:32:35.873302: I tensorflow/lite/toco/import_tensorflow.cc:659] Converting unsupported operation: TensorArrayV3
2019-10-08 11:32:35.881045: I tensorflow/lite/toco/import_tensorflow.cc:193] Unsupported data type in placeholder op: 20
2019-10-08 11:32:35.881104: I tensorflow/lite/toco/import_tensorflow.cc:659] Converting unsuppo

[2019-10-08 03:42] zhen8838 commented on #32982
Tensorflow 1.15 has the same problem.

[2019-10-08 03:50] ucasiggcas commented on #32650
and the command is here
`tensorflow-master$ bazel-bin/tensorflow/lite/toco/toco --input_file=../my_freeze5.pb --output_file=../my5.tflite --output_format=TFLITE --input_shapes=1,5,513 --input_arrays=x_mixed --output_arrays=y_out1,y_out2 --inference_type=QUANTIZED_UINT8 --inference_input_type=QUANTIZED_UINT8 --std_dev_values=1 --mean_values=0 --default_ranges_min=-1 --default_ranges_max=1`

[2019-10-08 03:54] aohan237 opened #33131 "how to assign value to a EagerTensor slice? ----'tensorflow.python.framework.ops.EagerTensor' object does not support item assignment"
as in numpy or pytorch ,we can do someting like this, but how to do it with tf2.0.
the following code will raise exception as :

`'tensorflow.python.framework.ops.EagerTensor' object does not support item assignment`
prediction[:,:,0]=tf.math.sigmoid(prediction[:,:,0])

[2019-10-08 03:55] byronyi commented on #33024
Could you try 1.15.0-rc3? A multi-GPU regression has been fixed in https://github.com/tensorflow/tensorflow/pull/32958#event-2685631743.

[2019-10-08 04:11] sunzhe09 opened #33132 "fully_connect cannot be quantilized"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-10-08 04:15] lsgrep commented on #24815
Hi @sakshiganeriwal , are you working on this? if not, could I work on it?  Thanks

[2019-10-08 04:32] aaroey commented on #32814
I cannot reproduce this issue with 1.15.0rc2. Here is what I did:
[code]

I'm using a Titan-V GPU. After running the above command, only 319MiB out of 12066MiB is used based on nvidia-smi.

Could you try with the above commands?

[2019-10-08 05:25] eustomaqua commented on #32814
**Did you use the AdaNet codes that I mentioned before? This issue happens when I use AdaNet models**, involving some modifications of course, but I think all you need to modify is those related to "sess = tf.Session()", by replacing them with "sess = tf.Session(config=config)". I will explain that in detail in the following.

To be clear, I get the AdaNet codes by "**pip install adanet==0.5.0**".

[2019-10-08 05:30] fhausmann commented on #29968
The issue is not resolved using both,  latest  TF2.0 and nightly.
I still get 16-21 threads and > 38000 voluntary_ctxt_switches (at epoch 20)
I used
[code]
after the execution of model.fit to look into these values.

[2019-10-08 05:37] sivakumaranandan commented on #30665
To use w/ CUDA10.1, please use the tf-nightly version.
Command to install: pip install tf-nightly.

[2019-10-08 05:52] dhassault opened #33133 "[TF2.0] tf.data.Dataset.from_generator raises `InvalidArgumentError` when using flow_from_directory"
Hi,
I have an issue when creating tf.data.Dataset with  tf.keras.preprocessing.image.ImageDataGenerator() and flow_from_directory. Seems like the arguments are not passed in the right format. Or maybe I missed something...

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use com

[2019-10-08 05:55] renjie-liu commented on #32866
Hi all,

sorry for the late response. (I just came back from vacation)

Currently 5-D strided_slice is not supported. conv_3d is not supported as well. :(

We would love to know your use cases as well: if conv 3d is necessary, maybe we can find some workaround methods.

cheers,

[2019-10-08 06:06] sunzhe09 commented on #33132
before the fully_connect is a concat

[2019-10-08 06:08] renjie-liu commented on #32970
Tei has made Yolo-v3 work.

Hi Miguel, is it possible to attach the problematic model for us to debug? thanks

[2019-10-08 06:17] programmer290399 commented on #32743
I am facing the same issue , even when the USB accelerator is plugged in and the LED in it is shining bright ........

[2019-10-08 06:25] max1mn commented on #33024
Hello everyone!

I have the same problem and was looking on a solution. I was also using fit_generator but on a Sequence class. The proposed change to simply use fit method is giving me errors, is there some workaround in sequence class case? I'm using tf 2.0.0

`
class LSTMSequence(Sequence):

    def __init__(self, x, subnet_x, y, batch_size):
        self.batch_size = batch_size
        self.x,

[2019-10-08 06:26] xunkai55 commented on #32802
Hi Momo1986, sorry I've been in traveling and vacation for a while. I'll take a look and get back to you soon.

[2019-10-08 06:34] mtpgva commented on #32817
Good idea.   I think you can use the take statement on the dataset to limit
yourself to the first 64*937 records avoiding any need to round at the end

On Mon, 7 Oct 2019, 23:02 duysqubix <notifications@github.com> wrote:

[2019-10-08 06:37] prabindh opened #33134 "[TF 2.0 API Docs] tf.nn.softmax"
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/nn/softmax

## Description of issue (what needs changing):

### Clear description

Yes

### Correct links

yes

### Parameters defined

No.
Per the code, the first argument "logits" can be of any type that can be passed to "convert_to_tensor()", not

[2019-10-08 06:45] zhangqinghao0811 commented on #32814
It's strange,  I found that only the "allow_growth" option doesn't work, others work well.
If I add use this config in my code:

`tf_config = tf.ConfigProto(gpu_options=tf.GPUOptions(allow_growth=True))
tf_config.gpu_options.allow_growth = True
tf_config.gpu_options.per_process_gpu_memory_fraction = 0.05`

The program will only use 5% gpu memory, and report this message:
`Allocator (GPU_0_bfc) ran

[2019-10-08 06:55] hamlatzis commented on #16216
https://github.com/tensorflow/tensorflow/issues/16216#issuecomment-361487585

@lucaswu what did you change in c++? I'm resizing the batch size, keeping width, height and channels the same, but only the input tensors change, when allocation is happening I get that a reshape node fails because the input & output shapes aren't the same.

I don't know how to find which operation doesn't modify the bat

[2019-10-08 07:19] robieta commented on #33024
@max1mn If you replace `return batch_x, batch_y` with `return tuple(batch_x), batch_y` your code should work. This stems from a historic decision in tf.data about how to treat lists. I will make fit robust to this, but adding that `tuple()` will immediately unblock you. Sorry for the inconvenience.

[2019-10-08 07:23] theangels commented on #30830
@jvishnuvardhan Sorry for reply late, I try your shared gist and it works, thank you!

[2019-10-08 07:24] #30830 closed

[2019-10-08 07:36] robieta commented on #32104
FYI this has been diagnosed in https://github.com/tensorflow/tensorflow/issues/33024. The issue is that `Model.fit_generator` is incorrectly running eagerly. (Consistent with @cupdike's observations)

[2019-10-08 07:43] haimat opened #33135 "How to replace Keras' gradients() function with GradientTape in TF2.0?"
With the "old" Keras library I created heatmaps for my CNNs using the `keras.backend.gradients()` function, like this:

    # load model and image, then predict the class this image belongs to
    model = load_model(os.path.join(model_folder, "custom_model.h5"))
    image = image.load_img(image_path)
    img_tensor = image.img_to_array(image)
    img_tensor = np.expand_dims(img_tensor, axis=0)

[2019-10-08 07:50] SaraAlthubaiti commented on #33061
@gadagashwini I think so, thanks for your help!

[2019-10-08 07:50] #33061 closed

[2019-10-08 07:59] rishabhsahrawat opened #33136 "[tf1.14][TPU] Can not save model trained on TPU using tf.saved_model.save"
I want to deploy the model using TF serving, for which I require to save the model using low level API `tf.saved_model.save()`. I am using [this](https://colab.research.google.com/drive/1C2JLKR3Rn1j2cZ_z_ZrTIc36Ou2s1H0-) exact tutorial on TPU with everything default. In found this tutorial [here](https://cloud.google.com/tpu/docs/colabs). After `model.fit()` if I try to save the model using `tf.sa

[2019-10-08 08:17] max1mn commented on #33024
@robieta Thank you very much, the code passes with than change. However, another problem appeared - it seemes the model is running on cpu only now. The training time is 254s per epoch, with 2.0 fit generator (and gpu) it was about 70s and with 1.14 gpu it was 20s. There are warnings, dont know whether they are related. Anyway, simply aliasing fit_generator to fit can break using gpu as in my case

[2019-10-08 08:23] samueljackson92 commented on #32817
I'm experiencing a similar problem to @duysqubix with my code in that I have a number of samples that doesn't neatly divide by the batch size. @duysqubix code works for me and the error disappears if I repeat the dataset and specify `steps_per_epoch`.

- I'm seeing this on Ubuntu 18.04, so definitely not a Windows only problem.
- I see this issue with both the tensorflow 2 release and the tensorfl

[2019-10-08 08:26] lufol commented on #33136
Hi, in the first notebook you [linked](https://colab.research.google.com/github/tensorflow/tpu/blob/master/tools/colab/shakespeare_with_tpu_and_keras.ipynb#scrollTo=ExQ922tfzSGA&line=20&uniqifier=1) in the 6th cell it says `training_model.save_weights('/tmp/bard.h5', overwrite=True`.
When I run this notebook for me the saving works fine.
Could you please share the code that throws the error? (Idea

[2019-10-08 08:35] lufol commented on #33135
Hi, please have a look at [this](https://www.tensorflow.org/guide/eager#computing_gradients) doc. The use of GradientTape is described there.
Maybe these lines will already solve your problem:
[code]

[2019-10-08 08:37] rishabhsahrawat commented on #33136
Hello, I am sorry, I did not make any changes to it but here is the edited file(https://colab.research.google.com/drive/1sQzyrz2zFOUVUTByqshJE__dhirxPYzd). I added two line for saving the model using `tf.saved_model.save()`. Thank you!

[2019-10-08 08:44] ziky90 commented on #30357
very much related to https://github.com/tensorflow/tensorflow/issues/30355

[2019-10-08 08:48] haimat commented on #33135
Sorry, but I can't see how these iines will solve my issue. That's my problem - I guess the `GradientTape` can help me, but I don't **how exactly** I need to use it in my case to achieve the same result as before with Keras' `backend.gradients()` function, as shown in my original post.

[2019-10-08 08:48] npuichigo commented on #26642
@qlzh727 Since we can benefit from the python level debugability when using keras.LSTMCell and keras.RNN, I think improve the performance of LSTM/GRU with a single fused op is possible.

In PyTorch, CuDNN is used for LSTM on GPU, and it will fall back to a fused lstm kernel when using CPU. So is it possible to integrate the LSTMBlockFusedCell into keras.LSTM when CPU is available.

(https://github

[2019-10-08 08:54] lufol commented on #33133
Hi, for me this did it:
[code]

[2019-10-08 08:55] yangzhuoran commented on #32993
when I run it on jupyter notebook , I don't face any error. But when I run it in local file by command 'python sourcefile.py', I face this error. I don't understand what happened. I think reinstall tensorflow in local compute.

[2019-10-08 09:02] JoaoLages commented on #33110
@tanzhenyu can you provide an example of how to use it?

[2019-10-08 09:11] lufol commented on #33136
I can reproduce your error. It seems that there are still incompatibilites with tensorflow 2.0 and TPU´s. Officially TPU´s only support tensorflow 1.14 [link](https://cloud.google.com/tpu/docs/supported-versions)

[2019-10-08 09:13] anki-xyz commented on #30162
I'm facing the same issue. As ```fit_generator``` does not work, I am using the same strategy because of the large dataset and involved data augmentation. But calling ```fit``` is extremely slow.
Things that come to my mind:
- re-loading the model to the TPU?
- data transfer?

Even when I load more data to decrease the ```fit``` calls (batch size > 2048), the sessions just fail. This makes me susp

[2019-10-08 09:13] carlosbabativa commented on #30272
I am having the same issue...
tf 1.13
win 10

I ran into that issue once I  managed to fix a previous issue I was facing (having [None, None, None, 3] in the input layer. I had managed to solve the previous issue by adding a custom
input_shapes={'input_1':[1,448,448,3]}
I tried the nightly method enable_v2_behavior and tested the TFLiteConverter but I am running into the same issue again. I notice

[2019-10-08 09:16] rishabhsahrawat commented on #33136
Yes, I am aware of that. But I am not using TF2.0, I am using TF1.14. I also mentioned this in the title.
I hope there is a solution, otherwise, what is the meaning of training models on TPUs if they can't be deployed. :(

[2019-10-08 09:20] tabacof commented on #32104
I am not sure `fit_generator` explains all of it: I ported code that uses embedding models from TF1 to TF2 and there was a significant decrease in performance, it was 2-3x slower.

[2019-10-08 09:35] pawelkobojek commented on #32875
I believe this is the code which reproduces the issue:
[code]

Running this throws the following exception: `InvalidArgumentError:  Shapes of all inputs must match: values[0].shape = [100] != values[1].shape = [1000]`

[2019-10-08 09:36] npuichigo opened #33138 "keras.LSTM in Tensorflow built with mkl is 5 times slower on CPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): source (with or without mkl)
- TensorFlow version (use command below): 2.0.0
- Python version: 3.6.8
- Bazel version (if compiling from source): 0.20.0
- G

[2019-10-08 10:03] lufol commented on #33135
Have you tried disabling the eager mode `tf.compat.v1.disable_eager_execution()`?

[2019-10-08 10:13] haimat commented on #33135
Yes, I did so and that worked.
However, that is my plan B. I would rather stick to TF2 eager execution if possible.

[2019-10-08 10:17] hamlatzis commented on #23940
I'm not sure if I have a similar or related problem. I am interested in modifying the batch size and I can resize the input tensors, but when I call to allocate the tensors I get an error message

`tensorflow/lite/kernels/reshape.cc:58 num_input_elements != num_output_elements (6 != 30)Node number 228`

I am unable to find which operation (built-in or custom) has the batch size as constant

[2019-10-08 10:25] gigadeplex commented on #33080
@WindQAQ does not support Windows...

[2019-10-08 10:29] rmothukuru commented on #33104
Could reproduce it with TF Version 2.0. Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/78927f8c619a6e62beffd9e5697987ca/33104.ipynb). Thanks!