[2018-07-17 15:05] shashishekhar commented on #20748
Fix is merged.

[2018-07-17 15:05] #20748 closed

[2018-07-17 15:05] shkarupa-alex opened #20883 "How to distribute custom OPs with pypi?"
We've got an instruction how to build custom OPs https://www.tensorflow.org/extend/adding_an_op

But there is no information about how to pack custom ops and distribute them with pypi.
Shared library built with system compiler could not be uploaded to pypi due to PEP 513 limitation.
And there is no instructions for building custom OPs outside "user_ops" dir in tensorflow source.

So, some boilerpl

[2018-07-17 15:08] yongtang commented on #20869
Added a PR #20884 for the fix.

[2018-07-17 15:08] shashishekhar commented on #20832
No I meant:
cd C:\Users\LENOVO-PC\tensorflow
then run
C:\Users\LENOVO-PC\tensorflow> bazel run //tensorflow/contrib/lite/python:tflite_convert -- --output_file=/saved_model/maonani.tflite \ --saved_model_dir=/saved_model/saved_model

[2018-07-17 15:12] shashishekhar commented on #19312
@xiechao4 : Sorry to ask but have you included '#include <string>' in the code that you wrote?

[2018-07-17 15:13] lgeiger commented on #17200
@adamjones1 It looks like this has been fixed in the latest tensorflow nightly.

[2018-07-17 15:16] DonPex commented on #4640
Hi,
I have the same problem executing the script _compile_ios_protobufs.sh_.

I got this error:
`Making distclean in third_party/googletest
make[1]: *** No rule to make target 'distclean'.  Stop.
make: *** [distclean-recursive] Error 1`

I am using **MacOS HighSierra 10.13.6** and the latest TensorFlow from master branch.

Does anybody have found a solution?

[2018-07-17 15:17] shashishekhar commented on #19642
@uelordi01 any reason you can use the bazel build?

[2018-07-17 15:19] shashishekhar commented on #17436
Issue is obsolete.

[2018-07-17 15:19] #17436 closed

[2018-07-17 15:20] aaroey commented on #20157
@qinyao-he make sense. I'll leave this to @jjsjann123 to check if/when we can support Conv2DTranspose.

[2018-07-17 15:22] DonPex commented on #20624
@laxmansahni Same for me, I'm running the script from MacOS HighSierra 10.13.6 and I have the latest TF version from master branch.

[2018-07-17 15:23] aaroey commented on #20780
This is a bug in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/tensorrt/convert/convert_graph.cc#L731, and will be fixed by #20318. Please wait for that PR to be merged and try again later.

Thanks.

[2018-07-17 15:24] fay111101 commented on #17629
I have the same bug cuda9.2 cuDNN7.14

[2018-07-17 15:34] shashishekhar commented on #19806
Is this still a problem @chenjiaoAngel . Can you paste the command you are using to build.

[2018-07-17 15:36] jdduke commented on #20837
The order shouldn't matter as long as each call to `runner.feed()` is provided a unique `inputName`. As for why other outputs would be wrong, it's hard to say without access to the model. Any chance you can share the model in question?

[2018-07-17 15:36] shashishekhar commented on #17514
Looks like issue is resolved.
The particular file mentioned: tensorflow.contrib.ios_examples.benchmark.benchmark.xcodeproj is a xcodeproj file and should not corrupt python imports, @bhagyashripachkor it could be something wrong with your setup.

[2018-07-17 15:36] #17514 closed

[2018-07-17 15:40] shashishekhar commented on #20313
PR #20330 is merged.

[2018-07-17 15:40] #20313 closed

[2018-07-17 15:41] jdduke commented on #17763
What is the size of your model?

Closing the `TensorFlowInferenceInterface` isn't guaranteed to immediately free all the used memory from the JVM. Moreover, while your device might have free memory available, the JVM heap size is typically much smaller than the device's memory limit.

Can you try adding `android:largeHeap="true"` to your manifest? In the meantime, we'll see if there's any way for

[2018-07-17 15:42] dhaneshr commented on #12001
any updates on this ?

[2018-07-17 15:46] d4l3k commented on #16795
@shashishekhar Unless I'm misunderstanding something, that issue is totally different. This issue isn't about NDK issues. This issue is that Tensorflow doesn't support building C++ library for use on android.

[2018-07-17 15:48] alextp commented on #20801
The eager environments do not depend on global state as much as the graph
environments, so having multiple global steps is easy: just create two
variables, and decide which one to pass to optimizers and summaries when
those ask for global steps.

On Tue, Jul 17, 2018 at 4:09 AM Konpat <notifications@github.com> wrote:

--
 - Alex

[2018-07-17 15:55] shashishekhar commented on #20470
@Jigar27: can you provide the graph that you are using.

[2018-07-17 16:02] shashishekhar commented on #20260
@kSimpleCoder : Use ' --' before any arguments, e.g. --output_layer,

[2018-07-17 16:02] #20260 closed

[2018-07-17 16:11] jsimsa commented on #20255
Hello @Hoeze there is already a way to do that.

Here is an example that with `sum` as the reduce function:

[code]

This example produces `45` as the output.

[2018-07-17 16:19] shashishekhar commented on #19158
@tsob thank you for the repro app. We fixed an alignment issue recently on May 14: https://github.com/tensorflow/tensorflow/commit/88103d000add4ea7f8d1a34ee3c898fc79d9e3c7

I am going to verify if the issue reported by App is also fixed.

[2018-07-17 16:26] Hoeze commented on #20255
Wow, thank you for this example. You just made ~100 lines of strange hacky code unnecessary :+1:

I can't wait for getting this into a release

[2018-07-17 16:29] steathy commented on #20865
Thanks. Is there a tutorial of doing that step by step?

[2018-07-17 16:30] Johnson145 commented on #17763
Thanks for your reply.

I tried e.g. the Inception v3 model, which is about 90MB.

As already stated above: Just to be clear: there is really enough free RAM available. I'm not only referring to the device's RAM in general, but to the individual Java heap of the Android app. I even outsourced the TensorFlow code to a separate process to ensure that it gets its own heap.

I'm already using this opt

[2018-07-17 16:30] tsob commented on #19158
Thanks @shashishekhar, I will also try to verify if it is fixed.

[2018-07-17 16:37] OzzieFZI commented on #13785
same issue using v1.9

[2018-07-17 16:42] husnejahan opened #20885 "AttributeError: module 'tensorflow.python.framework.ops' has no attribute '_TensorLike'"
I am using keras where tensorflow as backend.Getting the following error:

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-8-509bb069f0c0> in <module>()
     10 KEYS = [str(key) for key in range(len(database))]
     11
---> 12 encoder    = load_model(ENCODER_PATH, custom_objects={

[2018-07-17 16:42] shashishekhar commented on #16795
@d4l3k : For building C++ on Android you will use the NDK toolchain, which is used by bazelunderneath. Tensorflow does support building armeabi-v7a as well as arm64 on Linux.

@xav12358 : I should mention that we have Tensorflow lite : https://www.tensorflow.org/mobile/tflite/ which is better suitable for Android/iOS and mobile devices and has been designed specifically for mobile computationally

[2018-07-17 16:44] drpngx commented on #13785
@OzzieFZI please have further comments on #18523.

[2018-07-17 16:45] Mukundan314 commented on #20865
Tutorial for installing tensorflow from source is available [here](https://www.tensorflow.org/install/install_sources)

[2018-07-17 16:47] yzy1996 commented on #20778
When I update my python version from 3.6.2 to 3.6.6, I meet this problem.

[2018-07-17 16:56] jdduke commented on #17763
I haven't been able to repro locally, but I'd be curious if a heap dump might help isolate the problem or identify a leak.

If possible, you might try 1) Call `inferenceInterface.close()`, 2) Force a GC, 3) capture a heap dump. From there I'd be happy to look at the dump to see if anything stands out.

[2018-07-17 16:58] Basil-M opened #20886 "Freezing + fake quantization of graph"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Custom code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source (v1.8) / binary (v1.9)
- **TensorFlow version (use command below)**:  v1.8.0-0-g93bc2e2072 1.8.0 AND v1.9.0-0-g25c197e023

[2018-07-17 16:59] yegord commented on #19619
As of master (d51aff27ac2123fd7093b685be8b0e5200f95029):
The vanilla graph uses 5499MiB.
TRT-optimized graph uses 1753MiB.

All numbers are according to nvidia-smi, the test script is the one from https://github.com/tensorflow/tensorflow/issues/19619#issuecomment-404997677 with `config.gpu_options.allow_growth = True` added.
The result is definitely very positive, assuming there is no error in the

[2018-07-17 16:59] jdduke commented on #17763
All that said, have you looked into using TensorFlow Lite? It can substantially reduce the required memory footprint for certain models, and allows zero-copy loads of the input model as well as tensor inputs. There are pre-trained models for Inception v3 (as well as various other common models @ https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/g3doc/models.md).  See htt

[2018-07-17 17:08] #20776 closed

[2018-07-17 17:10] arogozhnikov commented on #19200
I believe, this issue drives to divergence in https://github.com/Kyubyong/dc_tts/issues/21

[2018-07-17 17:13] shashishekhar commented on #20872
@sukkyoung : On which device are you running this?

[2018-07-17 17:36] shashishekhar commented on #20841
@ShapingView : To convert a saved model use tflite_convert:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/toco/g3doc/cmdline_examples.md#savedmodel

In fact the commandline is much simpler :) since saved model has inputs and outputs.
tflite_convert  --saved_model_dir=export/   -output_file=export/optimized_graph.lite

I was able to convert your graph using the comman

[2018-07-17 17:42] raymond-yuan commented on #20805
@nairouz I'm sorry can you clarify what the second undesirable behavior is and what code you used to reproduce the error? Is it that when defining your own custom layer's `build` function you found that you had to provide the argument `value` instead of `input_shape`?

[code]
For reference, this example does not need `value` and works.

[2018-07-17 17:48] OzzieFZI commented on #18523
I have the same issue in v1.9. In my case, I am trying to get a .tflite model to serve from Firebase.
The other method I tried (which has been mentioned above) is creating a SavedModel then attempting to convert using
`tf.contrib.lite.TocoConverter.from_saved_model(path_to_savedModel)`
but then I get a different error:
**ValueError: Tensors input_example_tensor:0 not known type tf.string**

[2018-07-17 17:50] yaroslavvb opened #20887 "tf_nightly fails with from tensorflow.python.keras._impl.keras.backend import abs "cannot import name 'abs'""
[code]

[2018-07-17 17:50] phizaz commented on #20801
@alextp That's true if I want to sacrifice the compatibility between graph and eager modes. Since many of the Tensorflow code base make use of `tf.train.get_global_step()`, I need then to supply explicit global step to every one of those. To me, that breaks the compatibility between graph and eager.

[2018-07-17 17:50] yaroslavvb commented on #17246
BTW, I just did a benchmark with TF on DLAMI v11 (with MKL) on Skylake 18 core, and I'm seeing 10x improvement if I fetch "var+0" instead of var. Could try with nightly because of https://github.com/tensorflow/tensorflow/issues/20887

# fetching variable is slow from TF, because its single threaded
python tf_numpy_benchmark.py --benchmark=fetch_cpu_variable --num-iters=200
fetch_cpu_variable

[2018-07-17 17:58] shashishekhar commented on #20824
@longchr123 : Can you used tf.saved_model to save the graph and tf_convert https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/toco/g3doc/cmdline_examples.md#savedmodel

to convert it. It is available with latest version of Tensorflow

[2018-07-17 18:00] wdirons commented on #19697
With PR #20357 merged, this test is now passing.

[2018-07-17 18:00] #19697 closed

[2018-07-17 18:01] phizaz commented on #20801
@alextp I now come to question the philosophy of Tensorflow core team toward the eager mode. Should it be as compatible as possible with graph mode? Which naturally requires making eager as analogous to its graph mode counterpart as possible. For example, graph mode has "graph", eager should have a kind of that too. Or, eager is more like a "glue" rather than an "exchangeable" part of the graph mo

[2018-07-17 18:07] alextp commented on #20801
Eager should be as compatible with graph as possible, with some caveats
that relying on global state as much as the graph API does is not nice, so
we're trying to get rid of those types of global state. This part of the
API doesn't have a good alternative yet, but it will have one soon.

On Tue, Jul 17, 2018 at 11:05 AM Konpat <notifications@github.com> wrote:

--
 - Alex

[2018-07-17 18:12] shashishekhar commented on #19802
@baihualinxin : You are not prefix parameters with '--' use --input_file=path instead of input_file=path.

Also prefer using tflite_convert:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/toco/g3doc/cmdline_examples.md#savedmodel

Prefer using tflite_convert.
tflite_convert \
      --graph_def_file=/Users/dchealth/Desktop/mobilenet/frozen_graph.pb  \
      --output_fi

[2018-07-17 18:12] #19802 closed

[2018-07-17 18:13] yongtang commented on #20887
There was another issue #20778 which looks similar, but is on Windows 10.

[2018-07-17 18:14] wdirons commented on #20887
This looks similar to https://github.com/tensorflow/tensorflow/issues/20778

which is caused by old files from the prior install not being removed. Maybe try uninstalling tensorflow, manually removing the tensorflow directory under site-packages and reinstalling tensorflow.

[2018-07-17 18:18] achowdhery commented on #19414
@DeepakSridhar You may need to look at lines 160-163 of TFLiteObjectDetectionAPIModel.java to ensure that the image input (pixelValue) is passed in the correctly - we configured this for portrait mode right now. It could be that switching i and j will work.

160    for (int i = 0; i < inputSize; ++i) {
161     for (int j = 0; j < inputSize; ++j) {
162     int pixelValue = intValues[i * inputSize +

[2018-07-17 18:35] BryanRansil commented on #20451
Just to add more information, this error also happens when I've retrained ssd_mobilenet_v1_coco. I converted to a tflite ssd graph with
[code]
and then converted to a tflite file with
[code]
I used `default_ranges` since the initial conversion seems to have stripped those values. I hope it'll be fixed by what you're working on, but if this seems to be a wildly different case then I can look for ot

[2018-07-17 18:39] nairouz commented on #20805
@raymond-yuan
When defining my own custom layer's build function.
For the graph based execution, there should be no problem running the code without the TensorShape trick.
Try running the code that you gave me without the TensorShape trick in the case of the graph based execution, you will get an error.

###  Code:

import tensorflow.keras as keras

    class MyLayer(keras.layers.Layer):

      de

[2018-07-17 18:55] fzhu129 commented on #20353
@myth01 I tried this before and have tried today but not working.
bazel run --config=opt   //tensorflow/contrib/lite/toco:toco --   --input_file=/data/frankzhu/tmp/mnist.pb   --input_format=TENSORFLOW_GRAPHDEF   --output_format=TFLITE   --output_file=/data/frankzhu/tmp/mnist_q8.tflite   --inference_type=QUANTIZED_UINT8   --input_type=FLOAT   --input_arrays=input   --output_array=save/restore_all/N

[2018-07-17 19:01] yaroslavvb commented on #20887
Indeed, trying in fresh environment works.

[2018-07-17 19:01] #20887 closed

[2018-07-17 19:03] yaroslavvb commented on #17246
Still present in tf_nightly ("b'v1.9.0-rc2-572-geadcdf91aa'")

[2018-07-17 19:10] yupbank commented on #20806
nvm..

there is `tf.estimator.export.build_parsing_serving_input_receiver_fn`

[2018-07-17 19:10] #20806 closed

[2018-07-17 19:11] madhavajay commented on #17526
Wow thats really impressive stuff. Thanks for the notification! 👍

[2018-07-17 19:11] lukaszkaiser commented on #20585
@ebrevdo : I'm really not sure what the problem is here and who can debug it properly, can you find a person who'd know? Thanks!

[2018-07-17 19:15] G-mel commented on #20684
I also kept on getting similar errors with using a MobileNetV2 backbone for my network.

To solve my issue, I made sure to create the training quantization nodes (`tf.contrib.quantize.create_training_graph(quant_delay=quant_delay)`) in my training graph with MobileNetV2 training scope:
[code]

Where when I created my eval graph with quantization nodes (`tf.contrib.quantize.create_eval_graph()`), I

[2018-07-17 19:16] G-mel commented on #19014
I also kept on getting similar errors with using a MobileNetV2 backbone for my network.

To solve my issue, I made sure to create the training quantization nodes (`tf.contrib.quantize.create_training_graph(quant_delay=quant_delay)`) in my training graph with MobileNetV2 training scope:
[code]

Where when I created my eval graph with quantization nodes (`tf.contrib.quantize.create_eval_graph()`), I

[2018-07-17 19:21] #19639 closed

[2018-07-17 19:21] #19647 closed

[2018-07-17 19:22] tensorflowbutler commented on #20873
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-17 19:22] tensorflowbutler commented on #7876
Nagging Assignee @sherrym: It has been 169 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:22] tensorflowbutler commented on #12084
Nagging Assignee @petewarden: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:22] tensorflowbutler commented on #12301
Nagging Assignee @petewarden: It has been 166 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:22] tensorflowbutler commented on #12460
Nagging Assignee @andrewharp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:22] tensorflowbutler commented on #13308
Nagging Assignee @asimshankar: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:22] tensorflowbutler commented on #13341
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-17 19:22] tensorflowbutler commented on #13984
Nagging Assignee @gunan: It has been 105 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:22] tensorflowbutler commented on #14134
Nagging Assignee @asimshankar: It has been 105 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:22] tensorflowbutler commented on #14623
Nagging Assignee @skye: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:22] tensorflowbutler commented on #14663
Nagging Assignee @ebrevdo: It has been 152 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:22] tensorflowbutler commented on #14669
Nagging Assignee @fchollet: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:23] tensorflowbutler commented on #15150
Nagging Assignee @ebrevdo: It has been 157 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:23] tensorflowbutler commented on #15433
Nagging Assignee @benoitsteiner: It has been 90 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:23] tensorflowbutler commented on #15626
Nagging Assignee @asimshankar: It has been 151 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:23] tensorflowbutler commented on #15706
Nagging Assignee @aselle: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:23] tensorflowbutler commented on #16150
Nagging Assignee @caisq: It has been 167 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:23] tensorflowbutler commented on #16572
Nagging Assignee @itsmeolivia: It has been 167 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:23] tensorflowbutler commented on #16772
Nagging Assignee @shivaniag: It has been 115 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:23] tensorflowbutler commented on #16774
Nagging Assignee @fchollet: It has been 153 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:23] tensorflowbutler commented on #17056
Nagging Assignee @benoitsteiner: It has been 140 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:23] tensorflowbutler commented on #17135
Nagging Assignee @MarkDaoust: It has been 139 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:24] tensorflowbutler commented on #17211
Nagging Assignee @cy89: It has been 143 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:24] tensorflowbutler commented on #17321
Nagging Assignee @petewarden: It has been 105 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:24] tensorflowbutler commented on #17332
Nagging Assignee @rmlarsen: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:24] tensorflowbutler commented on #17419
Nagging Assignee @fchollet: It has been 105 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:24] tensorflowbutler commented on #17432
Nagging Assignee @cy89: It has been 134 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:24] tensorflowbutler commented on #17463
Nagging Assignee @tatatodd: It has been 132 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:24] tensorflowbutler commented on #17484
Nagging Assignee @rohan100jain: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:24] tensorflowbutler commented on #17541
Nagging Assignee @cy89: It has been 131 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:24] tensorflowbutler commented on #17628
Nagging Assignees @shivaniag, @andrehentz: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:24] tensorflowbutler commented on #17691
Nagging Assignee @tatatodd: It has been 125 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:24] tensorflowbutler commented on #17832
Nagging Assignee @cy89: It has been 119 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:24] tensorflowbutler commented on #18131
Nagging Assignee @cy89: It has been 108 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:25] tensorflowbutler commented on #18177
Nagging Assignee @shivaniag: It has been 105 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:25] tensorflowbutler commented on #18186
Nagging Assignee @jart: It has been 105 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:25] tensorflowbutler commented on #18239
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-17 19:25] tensorflowbutler commented on #18266
Nagging Assignee @saeta: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:25] tensorflowbutler commented on #18297
Nagging Assignee @tatianashp: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:25] tensorflowbutler commented on #18447
Nagging Assignee @jvdillon: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:25] tensorflowbutler commented on #18484
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-17 19:25] tensorflowbutler commented on #18492
Nagging Assignee @cy89: It has been 91 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:25] tensorflowbutler commented on #18656
Nagging Assignee @tatatodd: It has been 76 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:25] tensorflowbutler commented on #18693
Nagging Assignee @jvdillon: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:25] tensorflowbutler commented on #18764
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-07-17 19:26] tensorflowbutler commented on #18886
Nagging Assignee @shivaniag: It has been 76 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:26] tensorflowbutler commented on #18964
Nagging Assignee @gunan: It has been 47 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:26] tensorflowbutler commented on #18978
Nagging Assignee @cy89: It has been 76 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:26] tensorflowbutler commented on #19017
Nagging Assignees @yaroslavvb, @angersson: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-17 19:30] ebrevdo commented on #15150
@zotroneneis i'll close this for now since i think this should be fixed in recent TF builds (1.4+).  if you find otherwise; please reopen the bug.

[2018-07-17 19:30] #15150 closed

[2018-07-17 19:34] bhack commented on #18964
@martinwicke I know that with this comment I will reset the Nagging Assignee counting days stats but if this has a low priority can you prioritize https://github.com/tensorflow/tensorflow/issues/18732 so that beginners will have a quick path to profile theirs high level API models?

[2018-07-17 19:47] phizaz commented on #20801
@alextp Thanks for the clarification. I understand that there will be a graph thing of eager too?

[2018-07-17 19:50] dhingratul commented on #20577
Please see the attached script and a test model.pb file.

[files.tar.gz](https://github.com/tensorflow/tensorflow/files/2203164/files.tar.gz)

[2018-07-17 19:55] jjsjann123 commented on #20856
Just to clarify, PR #20862 fixes the alignment for TRT allocation. It does not fix the alignment for gpu_bfc_allocator for other use cases.

[2018-07-17 19:58] alextp commented on #20801
I'd rather not have a graph per se in eager. Right now one exists and there
are subtle ways in which the code depends on it (scoping of graph
collections, for example) but those will be phased out.

On Tue, Jul 17, 2018 at 12:54 PM Konpat <notifications@github.com> wrote:

--
 - Alex

[2018-07-17 20:06] MarkDaoust commented on #17135
A chunk of this is fixed.

The "pointing to the correctly versioned branch" will be fixed as part of the migration of tensorflow docs to their own repo (coming soon).

[2018-07-17 20:06] #17135 closed

[2018-07-17 20:10] petewarden commented on #14217
Closing this as we'll be switching over to the TensorFlow Lite pod for iOS rather than investing in this original TensorFlow Mobile approach.

[2018-07-17 20:10] #14217 closed

[2018-07-17 20:12] phizaz opened #20891 "Feature Request: tf.Session().as_default() should have a flag to keep the session alive"
### Describe the problem
I find a scenario in which keeping a session alive (even after closing the context manager) is useful. Let's say that I have a method `train(steps)` that will train a model for the next `steps` iterations. Given the current API r1.9, I could think of no other way than to save and restore the session between method calls. That would incur a huge overhead indeed!

I could th

[2018-07-17 20:12] reedwm commented on #20414
I'm not sure what you mean by "Cudatoolkit installed within the virtual env is 9.0". I do not think it's possible to install CUDA in a virtualenv. You should only have one CUDA version, and currently the TensorFlow nightlies only work with Cuda 9.0. Try replacing the system CUDA with 9.0 if possible, or use docker.

[2018-07-17 20:15] petewarden commented on #16884
Sorry for the long delay. I believe this should be addressed if you try defining `__ANDROID_TYPES_FULL__` when you compile (for example with `-copt=-D__ANDROID_TYPES_FULL__` if you're using Bazel). Closing, but please reopen if this doesn't fix it.

[2018-07-17 20:15] #16884 closed

[2018-07-17 20:20] petewarden commented on #19853
Thanks for spotting this! It does look like a bug, sorry about that. Since we've been using that conv model as a baseline (for example in https://arxiv.org/abs/1804.03209 ) it might be awkward to fix it at this stage. I would welcome a PR with a comment added noting this issue, and possibly an alternative conv_with_maxpool implementation if it does produce noticeably better results. Closing for no

[2018-07-17 20:20] #19853 closed

[2018-07-17 20:23] petewarden commented on #18202
This is now done! There's documentation at https://www.tensorflow.org/install/install_raspbian

Thanks for all your help @bennuttall, closing.

[2018-07-17 20:23] #18202 closed

[2018-07-17 20:24] petewarden commented on #15953
I haven't done any work on the logging, outside of mobile devices, so unassigning myself so that it can be triaged.

[2018-07-17 20:29] petewarden commented on #10488
I'm closing this now, since we've moved away from this code path in favor of TensorFlow Lite. Sorry for the long delay!

[2018-07-17 20:29] #10488 closed

[2018-07-17 20:29] karmel commented on #20858
I apologize, but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new). Please provide all the information it asks. Thank you.

[2018-07-17 20:29] #20858 closed

[2018-07-17 20:32] petewarden commented on #20206
Unfortunately the old HVX code path is no longer supported, since we're focused on the NN API's implementation instead. One unappetizing alternative is to use an older version of TensorFlow to generate the correct models, but I don't have great directions on that. Closing this as obsolete.

[2018-07-17 20:32] #20206 closed

[2018-07-17 20:35] karmel commented on #20844
Sorry, I'm having a little trouble understanding the problem here-- you should not need to explicitly close the session in the `with ...` block, so the version with sess.close() commented out is the correct one. Is there a problem still with that version?

[2018-07-17 20:35] petewarden commented on #19384
I haven't had a chance to look at this. Passing to @achowdhery to take a look, since she's been working on this code recently.

[2018-07-17 20:36] karmel commented on #19360
Bumping @ekelsen again, who may be back?

[2018-07-17 20:43] achowdhery commented on #19384
@achraf-boussaada Please consider following the instructions in this Tutorial with bazel build. Please suggest if you are still stuck after trying those.

[2018-07-17 20:46] asimshankar commented on #20769
@DutAlex : Just to confirm: When you say there is "no impact" you mean that you see all of the GPU memory being allocated by the JVM process (as reported by `nvidia-smi`)? Could you post some more detail on how you're running the program and observing the change?

[2018-07-17 20:53] achowdhery commented on #15633
@freedomtan I do see weight_quant and act_quant nodes in the exported graph after using object_detection/export_tflite_ssd_graph.py.
Please give a screenshot or exact instructions of how you verified it has no Fakequant nodes.
I am also able to successfully convert the checkpoints

[2018-07-17 20:54] shashishekhar commented on #20871
@longchr123  Can you include the test data and your implementation of custom op: SquaredDifference ?

[2018-07-17 20:55] ebubekirtabak commented on #20815
Yes, I installed environments and tested on python.

[code]

[2018-07-17 20:59] drpngx commented on #20829
Could you post the log for the crash?

[2018-07-17 21:10] GKilianW commented on #20674
Any more word on this?

[2018-07-17 21:24] foreverdeveloper commented on #17101
i installed cuda 9.2 but tensorflow is finding cudart64_92.dll ,
should i reinstall cuda 9.0 ?  are there any answers ?

[2018-07-17 21:31] ebadawy commented on #12745
Yes, my problem was kinda silly! I ssh to the remote server using `user@example.com` and that what I was using to define the cluster IP address in Tensorflow, but it turned out the I should be only using `example.com` and the problem was solved after that!

another thing that could cause the problem is that you make sure the task id matches with the cluster IP address, for simplicity try with one

[2018-07-17 21:32] lutzroeder commented on #20517
#17022

[2018-07-17 21:55] freedomtan commented on #15633
@achowdhery Thanks for checking. When I ran `export_tflite_ssd_graph.py` on those two, I couldn't get tflite models, so I inspected checkpoints. What I did is something like

[code]
Nothing shows up.

[2018-07-17 22:00] dkhmelenko commented on #18523
@harsh-agar @zhangjf23 sorry, I didnt find any solution so far, I'm still facing the issue

[2018-07-17 22:03] reedwm commented on #20729
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-07-17 22:03] #20729 closed

[2018-07-17 22:06] reedwm commented on #20811
Has this issue been fixed by #20810? Should I close it?

[2018-07-17 22:07] reedwm commented on #20462
Marking as contributions welcome if anyone wants to work on this

[2018-07-17 22:14] sadatnfs commented on #20811
Yep it's fixed!

[2018-07-17 22:15] reedwm commented on #20839
Looks like this was fixed in c2493ed5aa9eaf375d88331c7cdb70e428614dc8. That commit will be in TensorFlow 1.10.

[2018-07-17 22:15] #20839 closed

[2018-07-17 22:16] #20811 closed

[2018-07-17 22:17] reedwm commented on #20342
/CC @josh11b, any ideas?

[2018-07-17 22:19] reedwm commented on #20450
Please keep in mind that the TensorFlow GitHub Issues page is for tracking bugs and feature requests. It is not a way to escalate a Stack Overflow support question that is not getting enough attention. Thanks!

That said, if you are using Cuda 8, try switching to Cuda 9. The latest versions of TensorFlow do not supoprt Cuda 8, unless installing from source.

[2018-07-17 22:19] #20450 closed

[2018-07-17 22:24] reedwm commented on #19603
Not sure what the issue could be. Perhaps @zheng-xq has some ideas?

Without a self-contained example, we cannot effectively debug this.

[2018-07-17 23:14] aselle commented on #20826
This feature is not yet in 1.9.0. You need to use the nightly e.g. use
pip install --upgrade tf_nightly

[2018-07-17 23:49] mdanatg commented on #20703
Hi, sorry for the delay! This looks like a feature we should add. Here's a workaround in the mean time:

    @autograph.convert()
    def is_hashtag(x):
      if tf.substr(x, 0, 1) == "#":
        return True
      return False

Right now, what happens is that x is a scalar tensor of type string. The `[0]` operator is trying to index into a scalar tensor, and fails. It makes more sense when you th

[2018-07-17 23:59] mrry commented on #20891
`tf.Session.as_default()` doesn't close the session when you exit the context:

[code]

I don't think we need a flag here, because you can always use an explicit `sess.close()`. If you really need the second context to close on (e.g.) an exception, you can use the following:

[code]

[2018-07-17 23:59] vcvicek commented on #20418
@tgenin, thanks for pointing it out. I modified the count metric to be more similar to tf.metrics.mean, and this added one to_float() conversion as you suggested. I am not sure how long it will take to check in the change and propagate to GitHub.

[2018-07-18 01:17] iandreariley opened #20899 "load_op_library fails with undefined symbol in 1.7, but not 1.1"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux SLES 12.1
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.7.0
- **Python version**: 3.5.4 (as Anaconda environment)
- **Bazel version (if compil

[2018-07-18 01:21] wiseosho opened #20900 "[Tensorflow lite] iOS build for any archs fails : error: no matching member function for call to 'Verify'"
-----------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS X 10.13.3
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.9.0
- **Python version**: 2.7 / 3.6
- **Bazel version (if co

[2018-07-18 01:30] vibhuti19 commented on #18239
No

On Wed, Jul 18, 2018, 1:01 AM Alfred Sorten Wolf <notifications@github.com>
wrote:

[2018-07-18 01:35] raghuraman-k commented on #20691
Hi, Can you provide the input graph (pb) and the code for the squeezenet model so that we can work on resolving this issue?
Thanks,

[2018-07-18 01:36] a-wozniakowski opened #20901 ""Getting Started with TensorFlow" tutorial is missing input_shape argument"
In the tutorial "_Getting Started with TensorFlow_" there is a code segment for image classification, using the MNIST dataset. The segment includes a Keras Sequential model, which is missing the `input_shape` argument in the first layer.

- In particular, I propose changing `tf.keras.layers.Flatten()` to `tf.keras.layers.Flatten(input_shape` = (28, 28))`.

"_Getting Started with TensorFlow_" link:

[2018-07-18 01:40] raghuraman-k commented on #20653
It looks like you are trying to convert a training graph, please note that TOCO only supports converting eval graphs.

[2018-07-18 02:03] tensorflowbutler commented on #20879
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
CUDA/cuDNN version

[2018-07-18 02:03] tensorflowbutler commented on #20882
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-18 02:03] tensorflowbutler commented on #20883
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-18 02:03] tensorflowbutler commented on #20885
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-18 02:10] asimshankar commented on #20817
Thanks for the report @iron9light , I'm guessing you're talking about the path size limitations described in https://docs.microsoft.com/en-us/windows/desktop/fileio/naming-a-file#maximum-path-length-limitation ?

The TensorFlow maintainers are unlikely to have the cycles to investigate a fix for this in the short term, so I'm marking this as "Contributions Welcome" in case anyone else in the commu

[2018-07-18 02:17] asimshankar commented on #19893
I see, IIUC, you're having trouble building TensorFlow on Windows 10 when setting a non-default value for a build option (GRPC)?

If so, marking this as "Contributions Welcome"

[2018-07-18 02:30] mm1860 commented on #19893
-Dtensorflow_ENABLE_GRPC_SUPPORT=OFF or -Dtensorflow_ENABLE_GRPC_SUPPORT=On, having the same exception

[2018-07-18 02:52] anaskoara opened #20903 "Preinstalled tensorflow on ubuntu image"
Hi
Is There any Ubuntu image that comes with Tensorflow preinstalled,it will be more easier to start learning Tensorflow more quickly for beginners
I actually I have troubles with installing Tensorflow-gpu

Thanks

[2018-07-18 03:07] longchr123 commented on #20871
@shashishekhar  there is no test data for training, If i don't use --allow_custom_ops in bazel command,there will be errors,like this:
[code]

**how to sovle it?**

[2018-07-18 03:09] EleanWei commented on #20900
I had the same problem！！！！！

[2018-07-18 03:11] ChaosYang opened #20904 "build_all_ios.sh error"
[code]
I tried running `tensorflow/contrib/makefile/build_all_ios.sh` and then this issue occurred. I searched for a lot of similar issue, but not fixed the issue.
So, i need help.

[2018-07-18 03:15] tsoi2 commented on #20844
@karmel
Yes, the problem shown above still happens when "sess.close()" is commented.
If "sess.close()" is uncommented, there is another error as you can expect in addition to the Error I shown above.

[2018-07-18 03:19] lamberta commented on #20901
Thanks. Seems to run ok without it: https://colab.research.google.com/github/tensorflow/models/blob/master/samples/core/get_started/_index.ipynb

[2018-07-18 03:29] ChaosYang commented on #20904
-r 1.9
-mac 10.13.4 (17E199)

[2018-07-18 03:33] a-wozniakowski commented on #20901
Thanks, your implementation works fine. If I implement the same code partitioning (as your document) in a Juypter notebook, then the missing `input_shape` argument is returned after `model =`...

[2018-07-18 03:36] ezhulenev commented on #17246
@yaroslavvb Mkl has it's own kernel for Add, if it's easy for you to do the same test with default Tensorflow, I'd be very interested to know if it's any significant difference between MKL and Eigen for such simple kernel

[2018-07-18 03:50] CZWin32768 commented on #19567
I encountered the same problem😣

[2018-07-18 03:54] martis-chromium opened #20905 "Supporting a TF lite shared library target"
### Describe the problem
Would the TF project be open to supporting a TF lite shared library target (as is done already with `libtensorflow.so` and `libtensorflow_cc.so`)?

I believe many people would benefit from this, based on recent related issues:
https://github.com/tensorflow/tensorflow/issues/18060
https://github.com/tensorflow/tensorflow/issues/17826
https://github.com/tensorflow/tensorflow

[2018-07-18 04:01] JackCho commented on #17292
sadly still not supported

[2018-07-18 04:03] cheerss opened #20906 "failed to load keras model with tensorflow r1.9"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: from binary(pip install)
- **TensorFlow version (use command below)**:1.9.0
- **Python version**: 3.6.4
- **Bazel version (if compiling f

[2018-07-18 04:06] JackCho commented on #15805
same issue here

[2018-07-18 04:12] sukkyoung commented on #20872
@shashishekhar I used LG G7. (android ver.8.0.0)

[2018-07-18 04:20] myth01 commented on #20353
@fzhu129 In your freeze_graph command you use output_node_names=save/restore_shard_1. Did you try toco using the output node name instead of save/restore_all/NoOp

[2018-07-18 04:30] pavithrasv commented on #16493
Changing the warning message to 'Output "' + name + '" missing from loss dictionary. We assume this was done on purpose. The fit and evaluate APIs will not be expecting any data to be passed to "' + name + '".'

[2018-07-18 04:49] CZWin32768 commented on #19567
@simon-moloco I've solved this problem by `pip install tf-nightly-gpu`. This may help.

[2018-07-18 05:05] ajbouh commented on #20370
@yuefengz What strategy do you recommend for putting models on "ps" jobs?

[2018-07-18 05:05] yinoue93 opened #20908 "tf.nn.conv2d() inconsistent dilation rate at runtime"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04 LTS
- **TensorFlow installed from (source or binary)**: binary (pip install)
- **TensorFlow version (use command below)**: ('v1.7.0-3-g024aecf414', '1.7.0')
- **Python version**: 2.7.12
- *

[2018-07-18 05:13] vita-nove commented on #19733
@alextp hi!

I checked tensor array ops' code, and found some very expensive operation, like:

https://github.com/tensorflow/tensorflow/blob/81161f9d9987a8eb70793d95048c20be34292859/tensorflow/core/kernels/tensor_array_ops.cc#L1329-L1331

I modify the code and let the split act as trivial, then the total running time reduce to about 30s with the same device.

I also notice that tensorarray's scatt

[2018-07-18 05:16] ajbouh commented on #20521
I think I'm experiencing the same error here.

After staring at it for a while, I realized that the `direction` (HOST_TO_DEVICE = 1), the `recv_device` (`"/job:localhost/replica:0/task:0/device:CPU:0"`), and the `send_device` (`"/job:localhost/replica:0/task:0/device:GPU:0"`) don't seem to be in agreement.

Perhaps I'm misunderstanding what's going on here, but maybe it's a simple issue related to

[2018-07-18 05:18] yuefengz commented on #20370
@ajbouh We'll have a ParameterServerStrategy soon which works both locally and on a cluster.

[2018-07-18 05:19] gunan commented on #20674
Sorry for the radio silence. I am travelling right now, thus unable to respond. I will check the dependencies of TF 1.5 and 1.8, and see if there is an easy way to try this out.
In the meantime, @meteorcloudy @mrry @guschmue in case they have another idea.

[2018-07-18 05:36] BiaoLiu2017 commented on #14809
axis: An int, the axis that should be normalized (typically the features axis). For instance, after a Convolution2D layer with data_format="channels_first", set axis=1 in BatchNormalization.

so, you should choose the exact axis that you want to normalize.

Such as:
Z = [100, None]
B = tf.layers.batch_normalization(Z, **axis = 0**, training = is_training)

if you write "axis = -1", it will get wro

[2018-07-18 05:45] yaroslavvb commented on #17246
Using stock tfnightly I get about 8x speed-up instead of 10x by using +0 trick (https://github.com/tensorflow/tensorflow/commit/eadcdf91aa)

# regular fetching
python tf_numpy_benchmark.py --benchmark=fetch_cpu_variable
fetch_cpu_variable            :   2.0 GB/sec, min: 49.50, median: 49.62, mean: 49.68

# stock tensorflow
python tf_numpy_benchmark.py --benchmark=fetch_cpu_variable_plus0
fetch_cpu

[2018-07-18 05:50] gulingfengze commented on #20743
@aimhabo I compile using CMake,as follows:
1. Go to the tensorflow/tensorflow/contrib/cmake path, create the build folder, and CMD enters the build folder to execute the command:

2.Enter the build folder, use VS2015 to open tensorflow.sln, and then ALL build.

[2018-07-18 06:08] inakaaay commented on #20832
yes i did. it says ```
ERROR: C:/users/lenovo-pc/tensorflow/tensorflow/python/BUILD:1598:1: Linking of rule '//tensorflow/python:gen_linalg_ops_py_wrappers_cc' failed (Exit 1181)
LINK : warning LNK4044: unrecognized option '/lm'; ignored
LINK : fatal error LNK1181: cannot open input file 'tensorflow_framework.obj'
[code]

[2018-07-18 06:13] lamberta commented on #20906
Looks like a duplicate of https://github.com/tensorflow/tensorflow/issues/20073
Feel free to reopen if you think it's not.

[2018-07-18 06:13] #20906 closed

[2018-07-18 06:14] savageyusuff opened #20909 "Tflite_convert error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:  No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: pip install
- **TensorFlow version (use command below)**: tensorflow 1.9
- **Python version**: Python 2.7

### Describe the problem
I hav

[2018-07-18 06:16] phizaz commented on #20891
@mrry  That was a fool of me. A huge misconception I had.

[2018-07-18 06:21] zhengnianqing commented on #20900
I have the same problem.!

[2018-07-18 06:21] lilbedwin commented on #20873
The issue template, I think may be a very good tool to report a bug or a failure.
But the issue I proposed is a feature request, or abort the tf design plan. It seems that the issue template doesn't work well for me.
So can you give me some response? @asimshankar

[2018-07-18 06:22] MaeThird opened #20910 "move_binary_operator_before_reshape.cc:76] Check failed: binary_op->inputs.size() == 2 (1 vs. 2)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Y
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux  4.17.5-1-ARCH
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: b'v1.9.0-rc2-623-geb04124bb7' 1.9.0-rc0
- **Python version**: 3.6
- **Bazel version

[2018-07-18 06:34] MaeThird commented on #20879
modify the code ` nccl_lib_path = 'lib/libnccl.so.%s' % tf_nccl_version` round line 1135 of **configure.py**  or put your so into `/opt/cuda/lib` What's more **Don't forget the license file**!

[2018-07-18 06:37] manikaaggarwal commented on #17747
I also get this issue, in between of the training.

[2018-07-18 06:38] lamberta commented on #20456
Thanks for the feedback, but there are no plans to add this feature at this time.
However, you can bookmark an older version: https://www.tensorflow.org/versions/r1.7/api_docs/python/
And we are planning to add a /stable/ directory that points to the latest release.

[2018-07-18 06:38] #20456 closed

[2018-07-18 06:42] iron9light commented on #20817
Fine!

[2018-07-18 06:50] lamberta commented on #13281
Closing this issue since https://github.com/tensorflow/tensorflow/pull/13985 is closed.

[2018-07-18 06:50] #13281 closed

[2018-07-18 07:20] SanggunLee commented on #20798
I have the same issue.

Traceback (most recent call last):
  File "/usr/local/bin/tflite_convert", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.5/dist-packages/tensorflow/contrib/lite/python/tflite_convert.py", line 320, in main
    app.run(main=run_main, argv=sys.argv[:1])
  File "/usr/local/lib/python3.5/dist-packages/tensorflow/python/platform/app.py", line 125, in r

[2018-07-18 07:22] a-wozniakowski commented on #20901
Thanks, the issue emanates from the version of TensorFlow. I tested two different versions, 1.5.1 and 1.9.0.

- In 1.9.0 the code, as written in the tutorial, runs without error.

- In 1.5.1, the missing `input_shape` argument error is returned after executing the segment `model=`...

[2018-07-18 07:29] yuzhimin999 commented on #20728
Hi @shashishekhar
Use the website to access such as "https://storage.googleapis.com/download.tensorflow.org/models/tflite/mobilenet_v1_224_android_quant_2017_11_08.zip",but Configured for the Android Studio proxy and still has the above errors during build. thanks a lot

[2018-07-18 07:44] Mukundan314 commented on #20879
Thanks

[2018-07-18 07:44] #20879 closed

[2018-07-18 07:56] liuming5467 commented on #16094
hello, i meet the same problem where did you change?

[2018-07-18 08:03] homofortis commented on #20517
@activatedgeek Pardon me, but I fail to see how downgrading answers the the OP question regarding the timeline of making Tensorflow compatible with Python 3.7 (released almost a month ago).

[2018-07-18 08:16] 298068845 opened #20912 "android how to get time consuming ,node type and other information"
![20170623201903623](https://user-images.githubusercontent.com/11265867/42868674-7c9973c0-8aa5-11e8-9558-4ae018dd96bd.png)
 I find a tensorflow lite app‘s screenshot ，how to do it like that?

[2018-07-18 08:19] m3rc3n4ry opened #20913 "Keras guide webpage: tf.keras.version links to a dead webpage."
## System Information
**Have I written custom code:** No
**OS Platform and Distribution:** Windows 10 Pro
**TensorFlow installed from:** source
**TensorFlow version:** N/A
**Bazel version:** N/A
**CUDA/cuDNN version:** N/A
**GPU model and memory:** Nvidia GeForce GTX 950m 4GB
**Exact command to reproduce:** N/A

## Describe the problem
- On [this](https://www.tensorflow.org/guide/keras) TensorFlow

[2018-07-18 08:19] sjperkins commented on #13308
This still occurs on tensorflow 1.9.0 and Ubuntu 16.04, g++ 5.4.0.

[2018-07-18 08:21] n3011 commented on #20789
@cy89 any updates on this?

[2018-07-18 08:29] shkarupa-alex commented on #20883
This issue is a request for documentation improvement, not a bug

[2018-07-18 08:35] DutAlex commented on #20769
@asimshankar Yes, all the GPU memory is allocated to the JMV process (using `nvidia-smi` ). To run the program, I am building the .jar file using `mvn package` and running it with using `java -cp jar-file-with-dependencies.jar`.

In the main file, I am loading a model and open a file where I make prediction on 10000 inputs (1-by-1). I am using `System.nanoTime()` to profile how long did the predic

[2018-07-18 08:35] knighthappy commented on #5379
my solution:
tensorflow1.8
c++

https://blog.csdn.net/cdknight_happy/article/details/81100554

[2018-07-18 08:37] knighthappy commented on #16291
@Rongnian
my solution:
tensorflow1.8
c++
https://github.com/tensorflow/tensorflow/issues/16291

[2018-07-18 08:39] davlhd commented on #20900
Try replacing the downloaded version of flatbuffers with an older one.

[2018-07-18 08:41] knighthappy commented on #18861
my solution:
tensorflow1.8
c++

https://blog.csdn.net/cdknight_happy/article/details/81100554

[2018-07-18 09:00] zjfheart commented on #20677
@wdirons

I rm the tensorflow and git clone it again. Cherry pick the fix again. It works well.

[root@Jingfeng_redhat tensorflow]# bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package
... ...
Target //tensorflow/tools/pip_package:build_pip_package up-to-date:
bazel-bin/tensorflow/tools/pip_package/build_pip_package
INFO: Elapsed time: 916.321s, Critical Path: 53

[2018-07-18 09:20] bennuttall commented on #18202
Thanks @petewarden! \o/

[2018-07-18 09:28] jackonan opened #20914 "ResourceVariable save will lead to OOM in distributed mode"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.4
- **Python version**: 2.7.5
- **Bazel version (if compiling from source)**: 0.9
- **GCC/Compil

[2018-07-18 09:48] AbdelfettahBentaleb commented on #15633
@andrewharp Thank you so much for your cutosm inference class [TFLiteObjectDetectionAPIModel.java](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/examples/android/src/org/tensorflow/demo/TFLiteObjectDetectionAPIModel.java)  , I've tried it with your ssd mobilenet v1 tflite  [mobilenet_ssd_tflite_v1.zip](https://storage.googleapis.com/download.tensorflow.org/models/tfl

[2018-07-18 09:50] NPetsky commented on #9476
@Neilcc: don't know if it's still important for you but you can change line 51 in the Makefile
ANDROID_TYPES := -D__ANDROID_TYPES_SLIM__    to
ANDROID_TYPES := -D__ANDROID_TYPES_FULL__
and compile again, then it should work

[2018-07-18 09:54] moboehle opened #20915 "Heavily increased memory consumption for optimizing batch_norm in tf versions > 1.3.0"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

    I attach a code example that is intended to profile memory consumption for different layers of a network under different tensorflow versions. This should in principle work out of the box.

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

    VERSION="16.04.3 LTS (Xenial Xerus)"

[2018-07-18 09:55] Cruisetang commented on #17699
@dinglong1020 have you got it done?I also want to convert pb into ckpt file,but failed finnally. If you kown how to fix it now,please tell me,thanks!

[2018-07-18 09:59] orf commented on #20280
I think this might be going too far, all I'm asking for is a `TENSORFLOW_DONT_INCLUDE_TENSORBOARD` bazel config option or something to just remove it from the requirements file. Nothing too complex. Splitting them like this does sound like a good idea in theory, but as you said it can come with problems.

You distribute Tensorflow as a lowest common denominator binary. Ok, that's fine and makes se

[2018-07-18 10:19] gonnet opened #20916 "tf.contrib.graph_editor.graph_replace is broken for while loops"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.9
- **Python version**: 2.7.13

### Describe the problem
tf.contrib.graph_editor.graph_replace is bro

[2018-07-18 10:24] gonnet commented on #20916
@purpledog, any insights on which might be going on here?

[2018-07-18 10:41] HeNKiEeEeE commented on #20878
Same issue here

[2018-07-18 10:43] maelp commented on #20073
I have a similar error with TF 1.9 and some models (containing Lambda and Conv2D layers), but other models seem to load correctly

[2018-07-18 10:50] hephaex opened #20919 "bazel build failure, error occur no such package @androidndk"
### System information
- **OS Platform and Distribution **: Ubuntu 16.04
- **TensorFlow install **: installed from source
- **TensorFlow version **: r1.9
- **Python version **: pyenv + virtualenv to support python 3.6.6
- **Bazel version **: 0.14.1 compiling from source
- **GCC/Compiler version  **: gcc 4.9
- **CUDA, cuDNN version**: CUDA 9.0, cuDNN 7.1
- **GPU  **: NVIDIA Titan X 12GB
- ** no cus

[2018-07-18 10:50] maelp commented on #20073
The weights are in the HDF5 file, and are saved correctly at https://github.com/tensorflow/tensorflow/blob/r1.9/tensorflow/python/keras/engine/saving.py#L145 (I added logs in the load / save) but when loading from https://github.com/tensorflow/tensorflow/blob/r1.9/tensorflow/python/keras/engine/saving.py#L716 they appear empty

[2018-07-18 11:31] AbdelfettahBentaleb opened #20920 "[ Interpreter.runForMultipleInputsOutputs ] Error When running SSD-Mobilenet-v1 model in tensorflow-lite."
@andrewharp I tried your cutosm inference class TFLiteObjectDetectionAPIModel.java in [tensorflow/contrib/lite/examples/android](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/lite/examples/android) , and i use it with your ssd mobilenet v1 tflite mobilenet_ssd_tflite_v1.zip but it seems i have a problem when i call tfLite.runForMultipleInputsOutputs(inputArray, outputMap)

[2018-07-18 11:42] raninbowlalala commented on #20867
@drpngx Can you help me?

[2018-07-18 11:45] elksie5000 opened #20921 "ValueError: Cannot feed value of shape (5, 100, 100, 3) for Tensor 'X:0', which has shape '(?, 100, 100)'"
I'm very new to Tensorflow. And it hurts. A lot.

# coding: utf-8

# # Training a DCGAN to draw fake and real images

# In[1]:

directory = "../Data/image_files/"
new_dir = "../Data/image_files/cropped"
import urllib
import urllib.request
import tarfile
import os
import tarfile
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.image import imread
from scipy.misc import imresize, i

[2018-07-18 11:52] SunnyDjinn commented on #19548
I have the same problem regarding the accuracy. When training with a greater batch size (e.g. 128), the reported accuracy is around 95% (I am using the resnet model supplied by tensorflow on a subset of the imagenet dataset). Here is the filled issue template.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Pla

[2018-07-18 11:52] apisarek opened #20922 "Decoding 16bit PNG bug"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
I have written a test that (IMHO) should not fail, but it fails.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Mint 18
- **TensorFlow installed from (source or binary)**:
`pip install tensorflow==1.8` in a clean environment
- **TensorFlow version (use

[2018-07-18 11:53] cokekoala commented on #20900
Are flatbuffers the only one needed to be replaced? I have tried doing this, but it did not work.

[2018-07-18 12:00] jetojedno commented on #20456
If you could make search aware of and respect this base version, that would be very helpful.

[2018-07-18 12:03] davlhd commented on #20900
I am stuck at a later point but this particular issues is fixed for me.

[2018-07-18 12:15] apisarek commented on #20922
Added stacktrace.
[code]

[2018-07-18 12:23] #20301 closed

[2018-07-18 12:39] meyerjo commented on #18839
Having the same issue with
Ubuntu 14.04
CUDA 8
cudnn 6
gcc 4.8.4

[2018-07-18 12:50] tensorflowbutler commented on #20903
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-18 12:50] tensorflowbutler commented on #20905
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-18 13:17] svobora commented on #20921
X_in = tf.placeholder(dtype=tf.float32, shape=[None, height_width, height_width], name='X') here you set that the input images should be grayscale, ie num_images x width x height. But in imread function, you read color images, so you have num_images x width x height x 3. If you don't know what you are doing, change the imread to read grayscale images.

[2018-07-18 13:41] cokekoala commented on #20900
I find that it will still download the latest version of flatbuffers if I simply checkout to r1.8 branch of the tensorflow repository. To download the 1.8 version of flatbuffers, I should go to [https://github.com/google/flatbuffers/tree/v1.8.0](the flatbuffers repository). Then, I can build without error. Thanks @davlhd .

[2018-07-18 13:54] darcwader opened #20924 "Not able to build tensorflow lite iOS library"
### System information

Trying to follow steps from this https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/g3doc/ios.md

OS: Mac 10.13.4
XCode: 9.4.1
Command Line Tools: 9.4.1
Branch: master
SHA: ff791a7fde3605493bef70de8a9c9779541daf66

https://github.com/tensorflow/tensorflow/tree/master/tools/tf_env_collect.sh (Throws error)

### Describe the problem

error: invalid a

[2018-07-18 13:55] DeepakSridhar commented on #19414
@achowdhery I got it working by a hack by subtracting the bounding boxes from the model input size.
 I am not using TFLite. I will convert my model to TFLite and test it and will let you know. Just curious, how fast is TFLite models compared to pb models for object detection on android?

[2018-07-18 14:06] trathpai opened #20925 "Use InlinedVector for ShapeIndex breaks tensorflow build from source using bazel 0.14.0 inside docker"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: latest
- **Python version**: 3.6
- **Bazel version (if compiling from source)**:0.14.

[2018-07-18 14:11] edob95 commented on #19756
This step is not working
`bazel build -c opt --config=android_arm{,64} --cxxopt='--std=c++11' \
//tensorflow/contrib/lite/examples/android:tflite_demo`

Even trying different flags i get this error

`ERROR: No default_toolchain found for cpu 'arm64-v8a'. Valid cpus are: [
  k8,
  local,
  armeabi-v7a,
  x64_windows,
  x64_windows_msvc,
  x64_windows_msys,
  s390x,
  ios_x86_64,
]
INFO: Elapsed tim

[2018-07-18 14:13] dmbuchta commented on #18640
I am having a very similar issue as well. Following [this tutorial](https://www.tensorflow.org/tutorials/estimators/cnn), but working with larger images.

[2018-07-18 14:14] dmbuchta commented on #18769
I am having a very similar issue as well. Following [this tutorial](https://www.tensorflow.org/tutorials/estimators/cnn), but working with larger images.

[2018-07-18 14:22] wdirons commented on #20903
The dockerhub tensorflow image can be used to try tensorflow:

https://hub.docker.com/r/tensorflow/tensorflow/

[2018-07-18 14:34] mayankchatteron1 commented on #8220
@mrry .
I am facing the problem - "could not retrieve CUDA device count: CUDA_ERROR_NOT_INITIALIZED" due to memory issue while using django celery.
Is there any work around for python multiprocessing or celery in case of distributed tensorflow with gpu.

[2018-07-18 14:41] kbsriram opened #20926 "C++: Add gradient for Fill operator"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
v1.4.0-19-ga52c8d9 1.4.1
- **Python version**:
3.5.2 (default, Nov 23 2017, 16:37:01)

[2018-07-18 14:42] shashishekhar commented on #20900
@wiseosho : Thank you for the report, looks like a lot of people are hitting this, I am looking into it. @davlhd what other error are you seeing after replacing flatbuffers?

[2018-07-18 14:43] melody-rain commented on #15633
@achowdhery  Hi, following your blog I converted the model from ssd_mobilenet_v1_coco_2017_11_17. However when I used the converted mobilenet_ssd.tflite in tflite_demo.apk, I got the following error:
[code]

Any ideas why I got it? Thanks.

[2018-07-18 15:13] rabiaqayyum commented on #20771
https://ci.tensorflow.org/view/Nightly/job/nightly-android/ this link is not working and mentioned everywhere is there any other link to get pre built binaries

[2018-07-18 15:31] davlhd commented on #20900
I get `error: invalid argument '--std=c++11' not allowed with 'C'`
 because of `CCFLAGS := ${CXXFLAGS}` inside _tensorflow/contrib/lite/Makefile_. I need to change it to
[code]
to make sure the c++11 argument is only put into CCFLAGS. After that I got

[code]
and thats where I left it for the moment.

But all of this could be due to some setup error on my side.

[2018-07-18 15:41] alextp commented on #19733
The split operation there is needed to ensure that the split tensors don't
end up out of eigen alignment, I believe.

On Tue, Jul 17, 2018 at 10:17 PM Yingkai Luan <notifications@github.com>
wrote:

--
 - Alex

[2018-07-18 15:42] jdduke commented on #20920
TFLiteObjectDetectionAPIModel was recently modified to use a different model, which as additional outputs (see this [commit](https://github.com/tensorflow/tensorflow/commit/f3785197b4de9466b48462f4f93b455c88dd622b#diff-c748d758eb53ac58d70a13e07e02c6db)). If you want to continue using mobilenet_v1, pattern your code after the code before that commit. In particular, mobilenet_v1 only has outputLocat

[2018-07-18 15:42] #20920 closed

[2018-07-18 15:54] michaelisard commented on #15953
@asimshankar would you find someone to assign this too who will be willing to take it on, or else close it?

[2018-07-18 16:00] qmeeus commented on #9545
I had the same issue issue: each time the variable_scope is closed and reopened, it creates a new scope name by appending some integer at the end. As a consequence, the variables are duplicated (as we can witness on tensorboard).
My (unelegant) solution to the problem: add everything that has to rest under the same scope in one go and close the scope afterward. I am aware that this might not be a

[2018-07-18 16:00] ShapingView commented on #20841
This solved my issue! Thanks!

[2018-07-18 16:03] grilhami opened #20929 "cannot fit training data to TensorForestEstimator"
Currently I am trying to to implement a random forest regression using Tensorflow's `TensorForestEstimator`. I have successfully done using scikit-learn's `RandomForestRegressor` and wants to replicate the same result using Tensorflow.

I uploaded the data using pandas and I split the training and test set using scikit-learn's `train_test_split`. It contains 4 features (all numerical).

[code]
I s

[2018-07-18 16:09] saxenarohan97 opened #20930 "Reinitializable iterator doesn't use cached dataset upon reinitializing"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, written custom code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 8.1
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.8.0
- **Python version**: 3.6.5
- **Bazel version**: N/A
- **CUDA/cu

[2018-07-18 16:41] wdirons commented on #20677
@zjfheart , was there any errors running pip install? On my system I have to use 'pip3' install to install into the python3.4 site-packages directory. It would be good to see the output of pip3 install in case any errors occurred.

[code]

[2018-07-18 16:46] drpngx commented on #13308
Did you try to run with ASAN / MSAN / TSAN? Any finding?

[2018-07-18 16:46] dhingratul commented on #20653
Can you expand a bit on it, I did follow the workflow on the documentation page, and did call the create_eval function.

[2018-07-18 17:43] wiseosho commented on #20900
@davlhd Thankyou! I changed the flatbuffers version from master.zip to v1.8.0.zip and it works.
I can compile arm64 architecture only with this fallback, but I get the same error as @davlhd reported.
It seems this error pop up for x86_64 architecture( i386 I didn't try) . If I build only for arm64 architecture (which I need). It builds with no more issues.

[2018-07-18 17:43] activatedgeek commented on #20517
@homofortis Apologies. I probably missed a few words in there and thought that your main objective was to compile from source. A lot of searches were leading to this issue, I thought it would be good for everyone who's looking to just run Tensorflow.

[2018-07-18 17:48] shashishekhar commented on #20900
Looks like this is a problem with Xcode 9.3, it make take a few days to fix it. I will suggest to use Xcode 9.2 for now, while we fix it.

[2018-07-18 17:49] shashishekhar commented on #20924
This is tracked by issue #20900 , closing this updates will be on the other issue.

[2018-07-18 17:49] #20924 closed

[2018-07-18 17:56] nkalavak opened #20937 "__main__.UserInputError: Invalid TF_NCCL setting was provided 10 times in a row. Assuming to be a scripting mistake."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Modified Dockerfile provided for TensorFlow devel GPU
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source (attempt)
- **TensorFlow version (use command below)**: 1.8.0
- **Python version**:
-

[2018-07-18 17:57] wiseosho commented on #20900
@shashishekhar Do you mean Xcode 9.3 or later, including Xcode 9.4.1?

[2018-07-18 18:07] shashishekhar commented on #20871
Ah, I am going to explain what the error means:
First some background, TFLite doesn't have all the operators available in Tensorflow, we are working on improving and adding more operator support. When you convert your model the tool tells you if there are operators which don't have implementations. Here the tool is mentioning that RSQRT, SquaredDifference may need custom implementations.

I am sur

[2018-07-18 18:12] #19625 closed

[2018-07-18 18:18] achowdhery commented on #19756
Try this flag:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/lite/examples/android/app

bazel build -c opt --cxxopt='--std=c++11' --fat_apk_cpu=x86,x86_64,arm64-v8a,armeabi-v7a \
  //tensorflow/contrib/lite/examples/android:tflite_demo

[2018-07-18 18:24] guptapriya commented on #20566
The fix has been merged: https://github.com/tensorflow/tensorflow/commit/f1de0ddd55dcae6237ea7d21ccddcc6467a6cf8b

You should be able to test this out in a nightly build soon.

[2018-07-18 18:24] #20566 closed

[2018-07-18 18:27] #20873 closed

[2018-07-18 18:29] asimshankar commented on #15953
@tomerk is exploring some improvements to `tf.Print` in general, so assigning to him to evaluate whether we'd want to take this on.

[2018-07-18 18:58] crawforc3 opened #20938 "1.9 RC2 build from source fails cc1plus: warning: unrecognized command line option "-Wno-writable-strings""
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Debian 9

- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
n/a

- **TensorFlow installed from (source or binary)**:
Source

- **TensorFlow version (use comma

[2018-07-18 19:02] tensorflowbutler commented on #20909
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-18 19:02] tensorflowbutler commented on #20912
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-18 19:02] tensorflowbutler commented on #20913
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-18 19:02] tensorflowbutler commented on #20919
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-18 19:02] tensorflowbutler commented on #15492
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-18 19:03] tensorflowbutler commented on #16926
Nagging Assignee @jsimsa: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:03] tensorflowbutler commented on #17150
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:03] tensorflowbutler commented on #18037
Nagging Assignee @zheng-xq: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:03] tensorflowbutler commented on #18053
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:03] tensorflowbutler commented on #18543
Nagging Assignee @cy89: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:03] tensorflowbutler commented on #18552
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-18 19:03] tensorflowbutler commented on #18835
Nagging Assignee @karmel: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:03] tensorflowbutler commented on #19270
Nagging Assignee @ebrevdo: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:03] tensorflowbutler commented on #19543
Nagging Assignee @rxsang: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:04] tensorflowbutler commented on #19587
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-18 19:04] tensorflowbutler commented on #19644
Nagging Assignee @jart: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:04] tensorflowbutler commented on #19667
Nagging Assignee @tatianashp: It has been 48 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:04] tensorflowbutler commented on #19691
Nagging Assignee @tatianashp: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:04] tensorflowbutler commented on #19723
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-18 19:04] tensorflowbutler commented on #19967
Nagging Assignee @fchollet: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:04] tensorflowbutler commented on #20060
Nagging Assignee @suharshs: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:04] tensorflowbutler commented on #20070
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-18 19:04] tensorflowbutler commented on #20094
Nagging Assignee @zheng-xq: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:05] tensorflowbutler commented on #20099
Nagging Assignee @chsigg: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:05] tensorflowbutler commented on #20380
Nagging Assignee @caisq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:05] tensorflowbutler commented on #20428
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-18 19:05] tensorflowbutler commented on #20436
Nagging Assignee @allenlavoie: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:05] tensorflowbutler commented on #20465
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:05] tensorflowbutler commented on #20467
Nagging Assignee @bignamehyp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:05] tensorflowbutler commented on #20468
Nagging Assignee @asimshankar: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:05] tensorflowbutler commented on #20487
Nagging Assignee @drpngx: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:05] tensorflowbutler commented on #20494
Nagging Assignee @tatatodd: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:05] tensorflowbutler commented on #20504
Nagging Assignee @rohan100jain: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:06] tensorflowbutler commented on #20505
Nagging Assignee @shivaniag: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:06] tensorflowbutler commented on #20519
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:06] tensorflowbutler commented on #20522
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:06] tensorflowbutler commented on #20524
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-18 19:06] tensorflowbutler commented on #20528
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-18 19:15] asimshankar commented on #20468
@X-I-O-N : Could you confirm that (as mentioned in the previous comment)

[code]

prints `True`? I suspect it is printing false and looking at the logs in your last comment I see:

[code]

Which suggests that your TensorFlow installation cannot use the GPU you have and thus ends up with a single CPU device. The reason it can't use the GPU is because the binary requires the GPU to be compatible wit

[2018-07-18 19:36] pdnote99 commented on #20428
When used the compiler flag, -Werror, I cannot compile Tensorflow.
Because it is an enforced policy to use -Werror, which is out of my control,
yes, it is an issue for me.

JW

[2018-07-18 19:37] m3rc3n4ry commented on #20913
Sorry. Fixed it.

[2018-07-18 19:40] michaelisard commented on #20914
Thanks for tracking this down. @agarwal-ashish it looks as if you put in this device assignment would you take a look thanks.

[2018-07-18 19:43] #19296 closed

[2018-07-18 19:57] achowdhery commented on #15633
This is a shape mismatch because the expected output tensor is 1,10,4 in size not 1,1917,4. For the old model file, you will need to regress to the demo app version of May. Otherwise please use the latest released models for conversion.

[2018-07-18 20:04] shashishekhar commented on #20900
I have a fix, currently under review should be merged by end of tomorrow.
essentially: change MIN_SDK_VERSION := 10.0 which has C++ thread_local support and pass
-D__thread=thread_local

[2018-07-18 20:09] skye commented on #20519
@petewarden are you the owner of the graph transform tool?

[2018-07-18 20:10] skye commented on #20492
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-07-18 20:10] #20492 closed

[2018-07-18 20:15] skye commented on #20908
@zheng-xq this looks like a real bug, can you take a look or reassign to someone else who can?

[2018-07-18 20:16] dyf102 commented on #20900
Change from
[code]
indownload_dependencies.sh

[2018-07-18 20:17] skye commented on #20885
I apologize, but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new). Please provide all the information it asks. Thank you.

[2018-07-18 20:17] #20885 closed

[2018-07-18 20:17] drpngx commented on #20913
Thanks!

[2018-07-18 20:19] ashwaniag commented on #15633
@achowdhery I converted my own model to tflite and when I run it. The interpreter->invoke() call throws a seg fault. Any idea what might be wrong?

[2018-07-18 20:35] ajbouh commented on #20521
@rohan100jain Any thoughts on the above?

[2018-07-18 20:45] achowdhery commented on #15633
@ashwaniag Do the downloaded models on https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193
compile for you?
If yes, then please provide new instructions you are using now when you get seg fault?
There could be a mismatch in input type/size etc.

[2018-07-18 20:56] mrry commented on #20930
Assigning this one to @saeta, since he is working on a replacement for `Dataset.cache()` that probably ought to support this (especially in eager mode!).

[2018-07-18 21:05] Makhaon commented on #17101
Yes, you shoud, it helps.

[2018-07-18 21:11] m3rc3n4ry commented on #20913
I'm sorry for the confusion, but I said 'fixed it' to tell that I fixed the thing that the bot was talking about regarding the template. Not because the issue was fixed.

[2018-07-18 21:14] lamberta commented on #20456
Good idea and will keep it in mind, thanks

[2018-07-18 21:34] eavy commented on #20900
I think we should also add the concrete revisions for each dependency in the `download_dependecies.sh` rather depend on `master` for example. Otherwise this issue can happen in the future when any "dependency" updates its `master`.

For example, I also see that `NEON_2_SSE_URL` has also the dependency on `master` rather than on concrete revision.

[2018-07-18 21:42] tensorflowbutler commented on #20929
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-18 21:42] tensorflowbutler commented on #20930
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version

[2018-07-18 21:43] kevintrankt opened #20942 "tf.contrib.factorization.KMeansClustering training on CPU and not GPU"
I am currently running tensorflow-gpu 1.9 avx2 with cuda 9.2. When I train the model below, I notice that my CPU usage is 99% but my Tesla M60 usage is at 0%.

    def input_fn():
        return tf.train.limit_epochs(tf.convert_to_tensor(points, dtype=tf.float32), num_epochs=1)

    kmeans = tf.contrib.factorization.KMeansClustering(num_clusters=num_clusters, use_mini_batch=False)
    num_iteratio

[2018-07-18 22:05] hephaex commented on #20919
I've update filled out following filed in the issue
 - Have I written custom code: no custom code
 - CUDA/cuDNN version: CUDA 9.0, cuDNN 7.1
 - GPU model and memory: NVIDIA GTX Titan X 12GB
 - Exact command to reproduce: update build env. setting

[2018-07-18 22:13] drpngx commented on #20913
I think that makes sense. Please send a PR.

[2018-07-18 22:14] drpngx commented on #20921
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-07-18 22:14] #20921 closed

[2018-07-18 22:16] nairouz commented on #20816
It is also useful in my case.

[2018-07-18 22:22] drpngx commented on #20487
Yes, some extra validation sounds like a good idea.

[2018-07-18 22:30] kevintrankt commented on #20942
Okay I moved it to [stack overflow](https://stackoverflow.com/questions/51411442/tensorflow-kmeansclustering-training-on-cpu-and-not-gpu)

When I run tf.test.gpu_device_name() I get this

`2018-07-18 15:28:47.105452: I c:\users\user\source\repos\tensorflow\tensorflow\core\common_runtime\gpu\gpu_device.cc:1392] Found device 0 with properties:
name: Tesla M60 major: 5 minor: 2 memoryClockRate(GHz):

[2018-07-18 22:50] karmel commented on #18835
@satok16 -- any update here?

[2018-07-18 22:54] bhack commented on #12948
@drpngx Will this impact in general memory allocation in Shared layers models like https://github.com/tensorflow/tensorflow/issues/16468#issuecomment-385662734?

[2018-07-18 23:00] amirjamez commented on #18835
@satok16 I managed to build the libraries and the hexagon_excution_graph adding `-E` to the [build toturial](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/hvx#build-tensorflow-linking-hexagon-library). It takes around 10 minutes to compile (after we already built lib_controller and lib_hexagon_skel.so) and I am searching to reduce its compilation time.

Also, my other que

[2018-07-18 23:17] drpngx commented on #20867
Is `match.batch_epsilon` a `None`?

[2018-07-18 23:18] drpngx commented on #20402
I see. That sounds like a useful addition then.

[2018-07-18 23:38] raghuraman-k commented on #19821
Quantized inference is now done using tensorflow lite instead of tensorflow core. Please look at the docs at: https://www.tensorflow.org/performance/quantization.

[2018-07-18 23:43] raghuraman-k commented on #19607
Can you explain the issue more clearly and provide an example to reproduce the problem?
Thanks,

[2018-07-18 23:57] raghuraman-k commented on #18612
Please note that you need to create an eval graph, freeze it and send it to toco for conversion. Here it looks like you are using a training graph. If you are using Keras, you can export to saved model and pass that to tflite_convert (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/python/tflite_convert.py)

[2018-07-19 00:02] sguada commented on #20922
It seems that you would need to make a change [here](https://github.com/tensorflow/tensorflow/blob/5e855c56c2657128ff793b83442edc9886808922/tensorflow/contrib/slim/python/slim/data/tfexample_decoder.py#L394)
    `return self._decode(image_buffer, image_format)`
to
      `return self._decode(image_buffer, image_format, self._dtype)`

[2018-07-19 00:14] poxvoculi commented on #20773
I consistently get a div-by-0 error at:

	rato = tf.cast(sumr/nums, ttyp)

[2018-07-19 00:19] achowdhery commented on #19414
We are getting 15fps on Pixel 2 with SSD as referenced in blog post:
https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193

[2018-07-19 00:21] #19414 closed

[2018-07-19 01:10] aimhabo commented on #20743
@gulingfengze I got this in Cmake

[2018-07-19 01:19] asimshankar commented on #20769
@DutAlex : There seem to be two things in your comment

1. Even after setting `per_process_gpu_memory_fraction`, all GPU memory is being allocated.
2. Setting that option doesn't change the time it takes to run predictions.

I don't quite see why setting the memory fraction option should change the latency of predictions. The 65% utilization of GPU cores is not something this option would address.

[2018-07-19 01:24] wiseosho commented on #20900
I git pulled the repository and checked all architectures build.
Thanks for @shashishekhar, @davlhd and others for the support.

[2018-07-19 01:35] shashishekhar commented on #20900
Patch: https://github.com/tensorflow/tensorflow/commit/474b40bc7cb33d25f9bdc187d021e94a807bf1bd is merged, closing.

[2018-07-19 01:35] #20900 closed

[2018-07-19 01:37] shashishekhar commented on #19312
Looks like issue is obsolete.

[2018-07-19 01:37] #19312 closed

[2018-07-19 01:37] #19620 closed

[2018-07-19 01:38] shashishekhar commented on #20470
Closing due to lack of activity, @Jigar27 please reopen if you are still having issues.

[2018-07-19 01:38] #20470 closed

[2018-07-19 01:39] shashishekhar commented on #19642
@uelordi01 : Let me know if you are still having issues, reopen the issue.

[2018-07-19 01:39] #19642 closed

[2018-07-19 01:39] raninbowlalala commented on #20867
@drpngx I found "match.moving_variance_tensor", "match.moving_mean_tensor" and "match.bn_decay_mean_tensor" are None

[2018-07-19 01:41] shashishekhar commented on #18828
Looks like this issue has been open for a while, @iChiaGuo , @PariksheetPinjari909 please reopen if you are still having issues.

[2018-07-19 01:41] #18828 closed

[2018-07-19 01:59] MaeThird commented on #20910
It's ok now with today's `git pull`.

[2018-07-19 01:59] #20910 closed

[2018-07-19 02:14] zakizhou commented on #20666
I tried the new-released nightly and it now works for me, thank you again @pavithrasv

[2018-07-19 02:15] guoyejun commented on #3933
looks that the issue is still there. I'm using virtualenv 15.0.1 and the latest tensorflow code (ae62a692ddb53253462c1f79702fbc45baeb4ae3) on ubuntu 16.04 x64.

$virtualenv -p python3 ~/pyenv/tfbuild
$source ~/pyenv/tfbuild/bin/activate
(tfbuild) yguo18@yguo18-skl-u1604:/work/ml/tensorflow_work/tensorflow$ ./configure
WARNING: ignoring http_proxy in environment.
WARNING: --batch mode is deprecated

[2018-07-19 02:23] zjfheart commented on #20677
Hi @wdirons
I think my pip and pip3 is the same.

[code]

I install the same whl from pip3, but it cannot installed it into python3.4 site-packages directory

[code]

[2018-07-19 02:28] Watesoyan opened #20947 "tensorflow 1.8.0 may not be compatible with numpy 1.14.5"

[2018-07-19 02:33] 298068845 commented on #20912
Have I written custom code N/A
OS Platform and Distribution N/A
TensorFlow installed from N/A
TensorFlow version N/A
Bazel version N/A
CUDA/cuDNN version N/A
GPU model and memory N/A
Exact command to reproduce N/A

[2018-07-19 02:35] #20947 closed

[2018-07-19 02:46] candyzone commented on #20914
@agarwal-ashish
when I use partitioned ResourceVariable, it will be go to Line176. Line181 'x' is already an tf.identity with "v.device", Line183 changes the device placement using another tf.identity. It makes the SaveV2 OP placement with "/device:CPU:0", even I use the API tf.train.Saver(sharded=True). Is it by design?

[2018-07-19 03:03] margaretmm opened #20948 "How can I do type cast: Tensor<Float> to Tensor<String> ?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-07-19 03:37] madhu-sudhan opened #20949 "How to add/print logs from TFLite JNI.cc (native code) files?"
Hello, I'm trying to put prints in the [native code](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/java/src/main/native/nativeinterpreterwrapper_jni.cc) files of TFLite files in the repository to get good understanding of TFlite and Android ecosystem. I have tried including <stdio.h> and printing with printf/fprintf/cout. Noting seems to be coming in the adb logcat.

[2018-07-19 03:51] Jackhuang945 commented on #20346
the same problem, no solution now.

[2018-07-19 03:59] Mukundan314 opened #20950 "C++ compilation of rule '@protobuf_archive//:python/google/protobuf/pyext/_message.so' failed"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Arch Linux
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: source (r1.9 and r1.10)
- **TensorFlow ver

[2018-07-19 04:06] kanul commented on #20684
Hi @G-mel

Thank you for your comments

I have developed the segmentation based on mobilnetv2.

How could I edit train.py and eval.py to reflect you proposal.

Where should I add the training scope in train.py?

Your suggestion is very helpful

https://github.com/tensorflow/models/tree/master/research/deeplab

[2018-07-19 04:31] shashishekhar commented on #20949
@madhu-sudhan : You need to use Android native logging macros: https://developer.android.com/ndk/reference/group/logging#__android_log_print

[2018-07-19 04:34] Jvalal commented on #20326
@tatatodd BUMP

[2018-07-19 04:40] xingjinglu commented on #20471
@nagata-tensor have you resolved the problem?

[2018-07-19 04:48] savageyusuff commented on #20909
Bazel version: Not installed
CUDA/cuDNN version: release 9.0, V9.0.176
GPU model and memory:  GeFroce GTX 1080 8GB
Exact command to reproduce: No error. Quantized Tflite model produced

[2018-07-19 04:54] madhu-sudhan commented on #20949
Hi @shashishekhar , good to see quick response on the issue.

Yes, as you have mentioned I have just tried including the file <android/log.h> and I have put a sample print at [Java_org_tensorflow_lite_NativeInterpreterWrapper_run](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/java/src/main/native/nativeinterpreterwrapper_jni.cc#L349):

__android_log_print(ANDROID_LOG

[2018-07-19 04:56] MohammadMoradi commented on #18539
Hi, I have similar problem with SSD_MobileNet trained with tensorflow object detection API.

[2018-07-19 05:02] asimshankar commented on #20873
The environment variable is a convenience. You can explicitly provide the `ClusterSpec` from the `ClusterResolver` to the [`RunConfig`](https://www.tensorflow.org/api_docs/python/tf/estimator/RunConfig) like in this [TPU example](https://github.com/tensorflow/tpu/blob/62be0d7d2c880127c817b929dbde2c7fbadf87b1/models/official/squeezenet/squeezenet_main.py#L69).

That said, yes, this should become ea

[2018-07-19 05:03] asimshankar commented on #20948
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-07-19 05:03] #20948 closed

[2018-07-19 05:06] martis-chromium commented on #20905
These fields are not applicable, as this is a feature request. I might have used the wrong template.

[2018-07-19 05:07] t13m opened #20952 "How can tensorflow compiled with MKL rathan MKL-DNN"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: RHEL 7
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)

[2018-07-19 05:31] sukkyoung commented on #20872
Can I share only tf.reduce_* ops ??
I used only tf.reduce_mean.

[2018-07-19 05:32] ebrevdo commented on #19733
Alex is right. You can't do a simple split.

The TensorArray split, concat, stack, and unstack ops aren't optimized.
Sadly.  This requires someone with time and GPU expertise.  Look at the
code for TF.concat I think for an example.

On Wed, Jul 18, 2018, 8:42 AM Alexandre Passos <notifications@github.com>
wrote:

[2018-07-19 05:48] solarbear123 opened #20954 "Entry point not found error reported when calling tf.contrib.rnn.BasicRNNCell"
Python version = 3.5.0

- Have I written custom code --> No
- OS Platform and Distribution  --> Windows 10
- TensorFlow installed from --> pip install --ignore-installed --upgrade tensorflow-gpu
- TensorFlow version --> 1.8.0-gpu
- Bazel version --> NA
- CUDA/cuDNN version --> 9.0
- GPU model and memory --> GeForce GTX 960M, 3GB
- Exact command to reproduce --> See below

X0 = tf.placeholder(tf.fl

[2018-07-19 05:49] ebrevdo commented on #17588
Looks like a failure in shape inference on the python side

[2018-07-19 05:51] ebrevdo commented on #17588
I'll try to look tomorrow and run your code.

[2018-07-19 05:58] raninbowlalala opened #20955 "the quantized form of Shape operation is not yet implemented"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:N/A
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use com

[2018-07-19 06:09] dibyendudas0708 commented on #20925
I have faced the same issue for the latest TF1.9 build.

[2018-07-19 06:32] dibyendudas0708 commented on #20925
Looks like the namespace tensorflow is missing in ./tensorflow/compiler/xla/shape_util.h:77 for gtl::InlinedVector<> usage. We need to change this line to tensorflow::gtl::InlinedVector<>

[2018-07-19 06:39] Tonoyama commented on #20954
I'm having the same problem!

[2018-07-19 06:51] tobegit3hub opened #20956 "tensorflow.contrib.autograph generated the code to update variables with conditions but throws UnboundLocalError"
### Environment

python3 -c "import tensorflow as tf; print(tf.GIT_VERSION, tf.VERSION)"
v1.9.0-rc2-724-gc0dbd7e456 1.10.0-dev20180718

== cat /etc/issue ===============================================
Linux localhost 4.15.13-x86_64-linode106 #1 SMP Tue Mar 27 14:42:14 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
VERSION="16.04.4 LTS (Xenial Xerus)"
VERSION_ID="16.04"
VERSION_CODENAME=xenial

== are we

[2018-07-19 07:09] NaxAlpha commented on #20773
That may be possible but on my system, it doesn't give any error!
Using this instead: `rato = tf.cast(tf.equal(sumr, nums), ttyp)` gives correct result but performance is still worse without `tf.Print`:
[code]
I think it may be because tf.Print somehow forces tensor to load quickly but that's just my assumption.

[2018-07-19 07:31] Summer12333 commented on #319
I've just met this question and I've found one function that is exactly what I want.

**tf.nn.in_top_k(predictions, targets, k, name=None)**
Says whether the targets are in the top K predictions.
This outputs a batch_size bool array, an entry out[i] is true if the prediction for the target class is among the top k predictions among all predictions for example i. Note that the behavior of InTopK di

[2018-07-19 07:33] Sunil1997 commented on #8388
WARNING:tensorflow:From /home/sunil/PycharmProjects/test/testFile.py:7: read_data_sets (from tensorflow.contrib.learn.python.learn.datasets.mnist) is deprecated and will be removed in a future version.
Instructions for updating:
Please use alternatives such as official/mnist/dataset.py from tensorflow/models.
Extracting MNIST_data/train-images-idx3-ubyte.gz
WARNING:tensorflow:From /home/sunil/anac

[2018-07-19 07:35] freedomtan commented on #20949
@madhu-sudhan you probably want add `-llog` when building your jni .so (if you are building .so or say .aar with .so inside)

[2018-07-19 07:41] nadavb opened #20959 "Build tensorflow-model-server for gpu - Cannot find cuda library libcudnn.so.6"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux ip-172-30-1-83 4.4.0-1062-aws #71-Ubuntu SMP Fri Jun 15 10:07:39 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command bel

[2018-07-19 08:31] Sunil1997 opened #20961 "can't use data after download using tensoerflow.It's give below error"
WARNING:tensorflow:From /home/sunil/PycharmProjects/test/testFile.py:7: read_data_sets (from tensorflow.contrib.learn.python.learn.datasets.mnist) is deprecated and will be removed in a future version.
Instructions for updating:
Please use alternatives such as official/mnist/dataset.py from tensorflow/models.
Extracting MNIST_data/train-images-idx3-ubyte.gz
WARNING:tensorflow:From /home/sunil/anac

[2018-07-19 08:32] raninbowlalala commented on #20867
@suharshs I find the code in tensorflow\contrib\quantize\python\fold_batch_norms.py, because the moving_mean_tensor, bn_decay_mean_tensor, moving_variance_tensor and bn_decay_var_tensor is not assign a value, can you take a look at it?
[code]

[2018-07-19 08:48] laetitiaoist commented on #20866
Have I written custom code N/A
OS Platform and Distribution N/A
TensorFlow installed from N/A
TensorFlow version N/A
Bazel version N/A
CUDA/cuDNN version N/A
GPU model and memory N/A
Exact command to reproduce N/A

[2018-07-19 08:49] madhu-sudhan commented on #20949
Hi @freedomtan , I'm trying to build with bazel command like mentioned below.

bazel build --cxxopt=--std=c++11 -c opt --crosstool_top=//external:android/crosstool --host_crosstool_top=@bazel_tools//tools/cpp:toolchain --cpu=armeabi-v7a tensorflow/contrib/lite/java:libtensorflowlite_jni.so

I have specified -llog with an option (--linkopt=-llog) to bazel command like shown below, but still am not

[2018-07-19 08:51] #19501 closed

[2018-07-19 08:55] zhonghao0077 commented on #20679
OS: Ubuntu 16.04
TensorFlow Install from pip
TensorFlow version 1.9.0rc2
Bazel version:0.15.0
CUDA 9.0 cuDNN 7.0
GPU: Nvidia GTX Titan V 12GB
I firstly used the following command to export the model
`t2t-exporter \
  --model=transformer \
  --hparams_set=transformer_base_single_gpu \
  --problem=translate_enzh_wmt32k \
  --data_dir=../\
  --output_dir=./`
then I got the exported model with a new f

[2018-07-19 08:57] jrabary commented on #19958
@guptapriya I test the fix using the master version of the git but still got an error. This time

```RuntimeError: Tower-local variables may only be assigned in a tower context.```

When should I call ```tf.train.init_from_checkpoint``` ?

Currently I call it inside the `model_fn` of the estimator.

[2018-07-19 09:13] MaeThird opened #20962 "Miss-leading explanation of 'export_tflite_ssd_graph.py'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Y
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Arch
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: PC
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)*

[2018-07-19 09:23] jkingfu opened #20963 "find a bug for tensorflow\cc\framework\gradients.cc"
size_t dx_index = 0;
    for (const Edge* e : n->in_edges()) {
      if (e->IsControlEdge()) continue;
      if (dx_index == dx.size()) {
        return errors::Internal(
            "Invalid gradient output index: ", dx_index, " size: ", dx.size());
      }
      TF_RETURN_IF_ERROR(
          BackpropAlongEdge(dx[dx_index++], {e->src(), e->src_output()}));
    }

above code,  when   dx have diffe

[2018-07-19 09:24] apisarek commented on #20922
Could you elaborate more? As I understand the only place that `dtype` is used is `decode_raw`, but `self._dtype` is used here already.

Also I point to the https://github.com/tensorflow/tensorflow/blob/r1.8/tensorflow/contrib/slim/python/slim/data/tfexample_decoder.py while you have pointed to older code and it have changed since that time.

[2018-07-19 10:43] m3rc3n4ry commented on #20913
I can't find the website code in tensorflow/tensorflow repository. Can you point me to it?

[2018-07-19 11:08] Vasik76 commented on #18441
@samikama Faced with exactly the same issue now, TF 1.8, CUDA 8.0.44 and CUDNN 8_v7.0.5 with Bazel 0.15. @centos6.9
On which cudnn version you were upgraded, please?

[2018-07-19 11:24] npuichigo opened #20964 "Using tf.contrib.training.batch_sequences_with_states with tf.data.Dataset"
As far as I know, tf.contrib.training.SequenceQueuingStateSaver relies on queues and queue-runners, so we'll still need to call tf.train.start_queue_runners() when used with the new tf.data.Dataset API.

However, when I use tf.data.Iterator.from_structure to construct the input that is reusable with many different datasets, error occurs unless I initialize the Iterator before calling tf.train.star

[2018-07-19 11:35] Timen commented on #3332
I implemented a basic version of grouped convolutions using normal convolutions and splitting the input tensor and weights tensor. The implementation is kinda compatible with tensorflow slim. `import tensorflow as tf
from tensorflow.contrib.layers.python.layers import utils
import collections

slim = tf.contrib.slim

def grouped_convolution2D(inputs, filters, padding, num_groups,

[2018-07-19 11:42] lilbedwin commented on #20873
I checked the tpu example you provided. It seems that 'tf.estimator.RunConfig' could not take a parameter named 'cluster' whose type is 'ClusterResolver' like ' tf.contrib.tpu.RunConfig' does.

Do you mean I should write some code to make 'tf.estimator.RunConfig' take a parameter named 'cluster' ? which may be similar to 'tf.contrib.tpu.RunConfig' and 'tf.contrib.tpu.TPUEstimator'.

Thanks.

[2018-07-19 11:50] AbdelfettahBentaleb commented on #20920
@jdduke Thank you so much for your help That works  for Me , I reviewed the old version of this class and i fixe the issue.
But somthing it wasn't clear for me, what is the purpose of the box_priors.txt file and why he used it ? is it important to use it ?
Thank you for your replay

[2018-07-19 11:59] aimhabo opened #20966 "switch for nccl"
in configure.py(r1.10):

[code]
in case of install nccl by `sudo apt install libnccl2=2.2.13-1+cuda9.0 libnccl-dev=2.2.13-1+cuda9.0
`

[2018-07-19 12:46] FrancescoSaverioZuppichini commented on #20959
Hi. Try to set the env variable to `LD_LIBRARY_PATH`:

[code]
Hope it helps :)

[2018-07-19 13:51] nirmaljith opened #20968 "tensorRT error '*** stack smashing detected ***: python terminated',"
I am using tensorflow version 1.7, cuda8.0, python 2.7 to optimize the tensorflow VGG-16 model using the code below:-

    vgg_checkpoint = 'trained_models/models/vgg16/vgg_16.ckpt'
    image_decoded = tf.placeholder(dtype=tf.float32, shape=[None, None, None, 3], name="input")
    logits, _ = vgg_16(image_decoded, is_training=False)
    saver = tf.train.Saver()
    saver.restore(sess, vgg_checkpoi

[2018-07-19 13:51] tarunnbansal commented on #9516
its not working on my system installed with python version 3.7.0

I have already tried uninstalling and instaliing again from ..googleapis.. link using pip command

`pip install --upgrade https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-1.0.0-cp35-cp35m-win_amd64.whl`

[2018-07-19 14:05] DutAlex commented on #20769
@asimshankar I managed to reproduced the results of your gist. I found out that I was using a wrong version of the tensorflow-jni library... . It actually works well now.

Thank you for your help.
Looking forward to see the version in a stable release !

[2018-07-19 14:08] ondrejba commented on #3332
I tried something similar but it's too slow.

[2018-07-19 14:14] Basil-M commented on #20886
I think this issue may be fixed with correct usage of tf.contrib.create_eval_graph()
There are currently two issues I have there:

1. If I use create_eval_graph() after create_training_graph() it doesn't correctly change the graph
2. If I freeze the graph after create_eval_graph() (having not applied create_training_graph()) it fails, giving the following error:

Intuitively I feel create_eval_gra

[2018-07-19 14:30] abhi-rf commented on #20313
Hi guys. I seem to be hitting a new issue now.

C++ compilation of rule '//tensorflow/contrib/lite/kernels:eigen_support' failed (Exit 1)
tensorflow/contrib/lite/kernels/eigen_support.cc:32:1: error: static assertion failed: kDefaultArenaAlignment doesn't comply with Eigen alignment requirement.
 static_assert(
 ^~~~~~~~~~~~~
Target //tensorflow/contrib/lite/tools/benchmark:benchmark_model failed

[2018-07-19 14:32] daa commented on #20950
This breakage is caused by change in Python-3.7 internal C API used by protobuf, and thus protobuf build is broken. Protobuf addresses this issue in https://github.com/google/protobuf/issues/4086.

[2018-07-19 14:52] Mukundan314 commented on #20950
so should i close this issue

[2018-07-19 15:15] #20869 closed

[2018-07-19 15:15] Cpruce commented on #18539
@aselle https://github.com/matterport/Mask_RCNN/blob/master/mrcnn/model.py

[2018-07-19 15:25] matthew-z opened #20972 "Estimator does not work with tf.contrib.cudnn_rnn.CudnnGRU"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command

[2018-07-19 15:37] rickragv opened #20973 "TFLITE object detection api SSD model export issue toco"
Hi, while running

export CONFIG_FILE=~/ssdlite_mobilenet_v2_coco_2018_05_09/pipeline.config
export CHECKPOINT_PATH=~/ssdlite_mobilenet_v2_coco_2018_05_09/model.ckpt

bazel run -c opt tensorflow/contrib/lite/toco:toco — — input_file=$OUTPUT_DIR/tflite_graph.pb — output_file=$OUTPUT_DIR/detect.tflite — input_shapes=1,300,300,3 — input_arrays=normalized_input_image_tensor — output_arrays=’TFLite_Det

[2018-07-19 15:37] michaelklachko commented on #3332
@Timen it seems like you did a simple loop over the inputs. What makes you think your convolutions will run in parallel?

[2018-07-19 15:48] ebrevdo commented on #17588
Your script works for me on a recent TF nightly:

[code]

I probably fixed the shape propagation issues some time ago.  Try it again with the recent version of TF.  Reopen this bug if it's still an issue for you.

[2018-07-19 15:48] #17588 closed

[2018-07-19 15:48] rickragv opened #20974 "object detection api tflite export_tflite_ssd_graph error"
when i ran above SSD model

xport CONFIG_FILE=~/**ssd_mobilenet_v1_0.75_depth_quantized_300x300_coco14_sync_2018_07_03**/pipeline.config
export CHECKPOINT_PATH=~/ssd_mobilenet_v1_0.75_depth_quantized_300x300_coco14_sync_2018_07_03/model.ckpt

python object_detection/export_tflite_ssd_graph.py \

/home/ubuntu/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarni

[2018-07-19 16:10] Timen commented on #3332
@michaelklachko The loop is only there to define the convolutional nodes in the graph, during training the loop will not get executed. These convolutions all consume an independent input (after the split) and produce independent output (with respect to the other convolutions) these outputs are then gathered and combined with a concat. And according to this stackoverflow post https://stackoverflow.

[2018-07-19 16:30] karmel commented on #20679
@gargn - would the tflite convert tool be expected to convert the t2t Transformer? Can you advise?

[2018-07-19 16:32] Lexicographical opened #20975 "Toco not working on Windows"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: n/a
- **TensorFlow installed from (source or binary)**: source, pip install --upgrade tf-nightly
-

[2018-07-19 16:34] dmoham1476 commented on #6954
vgg_19 and inception .pb files that we get from the pretrained models link are not frozen graphs. Without having a checkpoint, I cannot use freeze_graph.py. How can I generate a frozen graph from the pretrained model here? It would have been nice if the pretrained models link provided the .pb file along with the checkpoint, so we could freeze it easily.

[2018-07-19 16:37] ebrevdo commented on #19834
@oahziur any chance you could take a look?

[2018-07-19 16:42] tanzhenyu commented on #17950
With latest changes and local testing, I think the issue should have been resolved. I posted my code snippet below. Would you mind check it again before closing this ticket?
nasnet (with batch norm):
https://gist.github.com/tanzhenyu/48d705ba49acb0ff166da2db986745ef

@dhgrs, also note that in your code example mnist are 28 by 28, while nasnet mobile requires at least 32 by 32. I'm not sure how the

[2018-07-19 16:43] guptapriya commented on #19958
Ah, yes there is another change in progress from @anj-s which will address Tower local variables. Will re-open until that is fixed.

[2018-07-19 16:45] bhack commented on #9545
Anybody tested if this has any memory impact?

[2018-07-19 16:57] achowdhery commented on #20974
Thanks. This checkpoint link will be updated today.
Please start with this checkpoint meanwhile:
https://storage.googleapis.com/download.tensorflow.org/models/tflite/ssd_mobilenet_v1_0.75_depth_300x300_quant_pets_2018_06_29.zip

[2018-07-19 17:00] johnsrude opened #20976 "map_fn removes a dimension"
I am trying to remap values in an input Tensor using a defaultdict.

    class MyDataSet(object):
        def __init__(self):
            self.class_map = MyDataSet.remap_class()

        @staticmethod
        def remap_class():
            class_remap = defaultdict(lambda: 11)
            class_remap[128] = 0
            class_remap[130] = 1
            class_remap[132] = 2
            # ...

[2018-07-19 17:21] bhack commented on #16468
@yifeif probably there is something in common with https://github.com/tensorflow/tensorflow/issues/9545 but I'am not sure that is a TB only bug cause the profiler give me duplicated memory consumption. What do you think?

[2018-07-19 17:36] shashishekhar commented on #20949
@madhu-sudhan :  this should work and is well test unless you are missing a step or apk is not updated.

[2018-07-19 17:38] bhack commented on #17950
@tanzhenyu I've recovered our old model and it is working fine after the `feed_inputs` fix.
I think that we can close this and handle BN/finetune API issues in https://github.com/tensorflow/tensorflow/issues/19295 https://github.com/tensorflow/tensorflow/issues/19903

What do you think?

[2018-07-19 17:41] reedwm commented on #20937
/CC @tfboyd can you look into this?

[2018-07-19 17:47] tanzhenyu commented on #17950
@bhack SGTM. And thanks for the prompt response!
I will take a look at those two when I have time (presumably this week, if not ping me)

[2018-07-19 17:47] #17950 closed

[2018-07-19 18:02] asimshankar commented on #20702
Correct, we do not promise API stability for symbols in `tf.contrib` so they can be changed.
Removing the "API Review" label.

I'll defer to the maintainers of the `model_pruning` module on whether they want to make the change though.

@suyoggupta

[2018-07-19 18:26] daa commented on #20517
As I see from description diagnostics is not related to tensorflow compatibility with Python-3.7 but with usage of too old Cython and currently exactly this issue is not reproducing because Cython mentioned in  Bazel workspace is new enough. On the other hand there are at least 2 Python-3.7 compatibility issues:
- usage of ``async`` keyword as variable name in ``pywrap_tensorflow_internal.py`` gen

[2018-07-19 18:34] Sohl-Dickstein commented on #4431
As a breadcrumb for future people trying to solve this problem,
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/nn/python/ops/fwd_gradients.py
performs forward mode differentiation.

[2018-07-19 18:36] cgohlke commented on #20517
FWIW, I just built (not tested yet) tensorflow 1.9 with MKL on Windows for Python 3.7 using VS2017 and the following patch:
[code]

[2018-07-19 18:57] MarkDaoust commented on #19778
Fixed. See PR

[2018-07-19 18:57] #19778 closed

[2018-07-19 19:07] tfboyd commented on #20937
I have a few options for you and I am cover some other scenarios so I can point any other issues back to this one.  Please let me know how it goes so I can modify anything to be more helpful.

Below are instructions on how to build with NCCL 2.x for a variety of situations.  If you are not using NCCL you can take a short-cut and specify NCCL 1.3 to ./configure and it will compile with open source

[2018-07-19 19:14] goelshivam1210 opened #20978 "Can I use this code to compute the receptive field of a model which I have created on my own. I am talking about calculating receptive fields of not popular conv nets."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-07-19 19:14] G-mel commented on #20684
I've looked around at the deeplab source code and the code for training scope already appears on lines 58, 85 and 318 in [feature_extractor.py](https://github.com/tensorflow/models/blob/master/research/deeplab/core/feature_extractor.py).

It also looks like the training scope in DeepLab is handled properly if `is_training=False` is being passed into the training scope in `feature_extractor.py`.

y

[2018-07-19 19:16] ijoseph commented on #16214
After about literally an hour of dependency hell, I managed to find everything for 16.04 compatible with **9.2** on [this page.](https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1604/x86_64/)

[2018-07-19 19:55] HackInvent commented on #14736
You definitively need to support AMD's GPU natively asap in my opinion:
- they are leader on free remote GPU clustering
- there are thousands of crypto mining datacenters that will be converted to lowcost GPU farms in the next following years (they all use AMD's GPU)
Not supporting AMD's GPU is not strategic if your aim is massive adoption of tensorflow.

[2018-07-19 20:07] mazz commented on #17369
mac:

<download python3 package from python.org and install with package installer>

cd src; mkdir tensorflow; python3 -m venv tf-test; cd tf-test

source bin/activate

curl https://bootstrap.pypa.io/get-pip.py | python

pip install --trusted-host pypi.org --trusted-host files.pythonhosted.org grpcio==1.9.1

pip install tensorflow

[2018-07-19 20:12] mehrdada commented on #17369
@mazz Any reason you are forcing `grpcio` to 1.9.1? The current version 1.13.0 seems to install just fine.

[2018-07-19 20:13] #20681 closed

[2018-07-19 20:15] drpngx commented on #20913
It's probably [here](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/guide/keras.md#L36).

[2018-07-19 20:16] vincentlabonte commented on #19354
@jrs-synth You are right my work around only works with -Dtensorflow_ENABLE_GPU=OFF...

[2018-07-19 20:30] m3rc3n4ry commented on #20913
I checked that file already. There's no issue in the file, it's all correct. But the webpage is different (as shown in the screenshot above) than this Keras.md file that you shared. The **webpage** documentation has the issue.

Just like there's a tfjs-website repository for tensorflow.js website, I want to know how I can fix the issue on tensorflow.org website.

I hope this makes it clear.

[2018-07-19 20:33] tatianashp commented on #20803
@dchichkov Glad to see that you found that issue in your code yourself. The example on the TFHub Overview [page](https://www.tensorflow.org/hub/) shows minimalistic sample code including the call to tf.global_variables_intializer().

We welcome contributions that help us to improve TensorFlow. If you feel that additional documentation  would be helpful please feel free to submit a PR.

[2018-07-19 20:33] #20803 closed

[2018-07-19 20:35] drpngx commented on #20913
The file seems to say `tf.keras.__version__` at line 35, right?

[2018-07-19 20:36] drpngx commented on #20913
For the website, probably @MarkDaoust can fix it directly.

[2018-07-19 20:37] tatianashp commented on #20775
1.2 is an old version and might have bugs that have been fixed since then. If you see erroneous behavior in the latest version please let us know and reopen the issue. Please also provide full details about your system  using the standard template.

[2018-07-19 20:37] #20775 closed

[2018-07-19 20:56] wdirons commented on #15131
@snjagadale , I just noticed this old issue for ppc64le. I believe this test is working now in Tensorflow 1.9. Is this issue ok to close ?

[2018-07-19 21:10] MarkDaoust commented on #20913
Yes. Thanks.

We're working on breaking the website out of the main repo so that we're not tied to release branches, as we currently are.

That will let us fix things like this more easily.

The 404 ... probably needs a fix to the api-reference generator. simple constants don't have api pages. That will take some work.

[2018-07-19 21:18] gunan commented on #15131
I will close this for now. But please reopen if this is still  a problem.

[2018-07-19 21:19] #15131 closed

[2018-07-19 21:20] agarwal-ashish commented on #20914
This intention here is to handle checkpointing of Variables placed on GPU when running with explicit device placement policy in Eager mode. I am submitting a fix that copies it to the CPU on the same machine instead of overriding the device to "/device:CPU:0" which might place it on a different job.

[2018-07-19 21:21] av8ramit commented on #9770
Delete this comment again.

[2018-07-19 21:23] gunan commented on #20724
This is a very old branch well out of our support window.
Also support for ROCm is just being merged into our repository.
I am pretty certain that TF 1.3 wont build successfully for ROCm.
You should reach out to ROCm or the author of the above instructions for this.

[2018-07-19 22:09] anitha-v commented on #18170
Can you please share the usecase you are trying to get to work ? There is no plan to support delegation of OEM ops currently. Your usecase will help us understand if this is needed.

[2018-07-19 22:12] anitha-v commented on #18000
Can you please confirm if this is still an open issue. There is another github issue tracking this which has been closed. Here is the link to that one
https://github.com/bazelbuild/bazel/issues/4068

[2018-07-19 22:13] anitha-v commented on #17984
We will try this, can you please share the error message if you have it handy ?

[2018-07-19 22:20] anitha-v commented on #17525
Can we close this one  as we have not heard back from you ?

[2018-07-19 22:22] suisuiwudi commented on #403
Do we get an RNN using C++ API in TensorFlow?

[2018-07-19 22:22] jbuisson1 opened #20980 "High loss of accuracy when using TFLite on Android"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Only on Android (modified the TFLiteClassifier.java class to output the results in a more convenient manner and commented the call to applyFilter() so the model doesn't base its detection on other images than the one I am giving to it)
- **OS Platform and Distribution (e.g.,

[2018-07-19 22:42] anitha-v commented on #19267
Can anyone having this issue share your model with us, so that we can reproduce the issue ?

[2018-07-19 22:43] anitha-v commented on #19242
You can pass a bytebuffer to TFlite using the Java API.  Can you please try this and let us know ?

[2018-07-19 22:45] bhack commented on #9545
@av8ramit sorry I didn't want to bother you. Was just for the @tensorflowbutler counting behavior :smile:  I think that the nagging assignee counter doesn't need to have a reset after non TF team members comments.

[2018-07-19 22:48] sleighsoft commented on #9545
@qmeeus If you really want to reuse name scopes then you can do this:
[code]

Tensorflow team, I can also add this as a PR if desired. I find this rather useful to get clean scopes in Tensorboard.

[2018-07-19 22:52] jsimsa commented on #20255
The coalesced reduce functionality has been implemented in https://github.com/tensorflow/tensorflow/commit/e9869ece182be721dc07fe8ecb7c7288f2fce90f.

[2018-07-19 22:52] #20255 closed

[2018-07-19 22:58] shashishekhar commented on #20919
@hephaex : You need to configure AndroidNDK by running ./configure and update the path to NDK.

[2018-07-19 23:02] sarda014 commented on #12328
@marhlder I am trying to export the model using https://github.com/unsiloai/parsey_mcparseface_export/tree/documents-from-tensor/ by doing the following -

1. Build syntaxnet
    bazel test --linkopt=-headerpad_max_install_names dragnn/... syntaxnet/... util/utf8/...

2. Build pip package
    bazel-bin/dragnn/tools/build_pip_package --include-tensorflow --output-dir=/tmp/syntaxnet_pkg

3. Install

[2018-07-19 23:23] briannemsick commented on #20529
@pavithrasv could you also take a look at https://github.com/keras-team/keras/pull/10673

The issue is also apparent in tf.keras.

[2018-07-20 00:02] nairouz opened #20982 "Keras Tensorboard callback and eager execution"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Google Colab
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**: 1

[2018-07-20 00:16] av8ramit commented on #9545
It is not a problem at all @bhack and absolutely no bother. I'm always here to help the community. I'll default to Andy on this one.

[2018-07-20 00:20] shashishekhar commented on #20905
Making the shared library target is easy, but we probably want to be careful about which symbols should be exposed.

[2018-07-20 00:20] Bidski commented on #18886
I have not had this issue arise recently. I will close this issue.

[2018-07-20 00:20] #18886 closed

[2018-07-20 00:40] yuefengz commented on #20873
Currently `tf.estimator.RunConfig` doesn't have cluster as an argument. It parses `cluster_spec` from `"TF_CONFIG"` environment variable. Its [documentation](https://www.tensorflow.org/api_docs/python/tf/estimator/RunConfig#__init__) provides examples for how to set it.
You can get `cluster_spec` from `ClusterResolver` and set the environment variable.

[2018-07-20 00:45] yuefengz commented on #20370
It is still under review.

[2018-07-20 00:52] sabhiram opened #20983 "[Bug] tf.py_func : Bad tensor -> np.array conversion in py_func (return [] with dtype=int64 is returned as dtype=float64)"
### Issue template:

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes (minimal example attached inline)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OSX 10.12.6
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: Probably
- **TensorFlow installed from (source or binary)**:

[2018-07-20 00:53] guptapriya commented on #20509
@carlthome - it seems like your might be seeing this error if you're trying to update metrics in cross tower mode. Typically, we would expect metrics to be computed in tower mode, as that's where your labels and logits etc are available. Could you provide a complete stack trace + your code that triggers this so we can debug further?

[2018-07-20 00:57] sabhiram commented on #20983
For what its worth, I think this would be easy enough to fix in the `core.ops.script_ops.py` file by keeping track of the tf output types when the py_func gets registered (similar to how `EagerFunc`s are stored).

Then during graph exec time, after we have results in an array (or scalar) - we can query the Tout list and convert to ndarrays correctly.  I was able to crudely implement this just to u

[2018-07-20 01:01] shashishekhar commented on #20980
@jbuisson1 : How are you feeding images to the classifier?

[2018-07-20 01:06] shashishekhar commented on #20728
@yuzhimin999 : Which directory did you download the model to, it should be in project buildDirectory. The other way is to copy the model to assets and just change project.ext.TMP_DIR to
projectDir.toString() + '/assets' in build.gradle

[2018-07-20 01:08] achowdhery commented on #20962
Thanks for correction on the comment

[2018-07-20 01:12] #15732 closed

[2018-07-20 01:12] #19732 closed

[2018-07-20 01:15] tensorflowbutler commented on #20954
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-20 01:15] tensorflowbutler commented on #20956
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-20 01:15] tensorflowbutler commented on #20961
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-20 01:15] tensorflowbutler commented on #20963
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-20 01:15] tensorflowbutler commented on #20964
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-20 01:15] tensorflowbutler commented on #20966
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-20 01:15] tensorflowbutler commented on #20968
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-20 01:15] tensorflowbutler commented on #20976
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-20 01:16] tensorflowbutler commented on #8652
Nagging Assignee @fchollet: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 01:16] tensorflowbutler commented on #13530
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 01:16] tensorflowbutler commented on #15732
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-07-20 01:16] tensorflowbutler commented on #16025
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-20 01:16] tensorflowbutler commented on #18383
Nagging Assignee @drpngx: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 01:16] tensorflowbutler commented on #18744
Nagging Assignee @aaroey: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 01:16] tensorflowbutler commented on #18859
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-20 01:16] tensorflowbutler commented on #19010
Nagging Assignee @asimshankar: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 01:17] tensorflowbutler commented on #19021
Nagging Assignee @andrehentz: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 01:17] tensorflowbutler commented on #19194
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-20 01:17] tensorflowbutler commented on #19236
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-20 01:17] tensorflowbutler commented on #19475
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-20 01:17] tensorflowbutler commented on #19510
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-20 01:17] tensorflowbutler commented on #19589
Nagging Assignee @jart: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 01:17] tensorflowbutler commented on #19616
Nagging Assignee @robieta: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 01:17] tensorflowbutler commented on #19732
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-07-20 01:17] tensorflowbutler commented on #19748
Nagging Assignee @robieta: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 01:17] tensorflowbutler commented on #19755
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-20 01:18] tensorflowbutler commented on #20006
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-20 01:18] tensorflowbutler commented on #20085
Nagging Assignees @lamberta, @MarkDaoust: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 01:18] tensorflowbutler commented on #20125
Nagging Assignee @rohan100jain: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 01:18] tensorflowbutler commented on #20420
Nagging Assignee @robieta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 01:18] tensorflowbutler commented on #20510
Nagging Assignee @skye: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 01:18] tensorflowbutler commented on #20518
It has been 16 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-20 01:26] shashishekhar commented on #19806
@chenjiaoAngel : Please reopen this issue, if you are still having this problem.

[2018-07-20 01:26] #19806 closed

[2018-07-20 01:28] shashishekhar commented on #20824
@longchr123 : Please reopen this issue, if you are still having trouble converting the model.

[2018-07-20 01:28] #20824 closed

[2018-07-20 01:33] freedomtan commented on #20313
@abhi-rf it seems you had bad luck. You must be somewhere between ff4945f86e04d403cdf46c19392b2041bc75c2ad and 37cf4e0783ad06e6cfc94c98a77a48734190ed48. The problematic code introduced in ff4945f was reverted already.

[2018-07-20 01:54] freedomtan commented on #15633
updated [ssd_mobilenet_v1_quantized_coco](http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_quantized_300x300_coco14_sync_2018_07_18.tar.gz) and [ssd_mobilenet_v1_0.75_depth_quantized_coco](http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_0.75_depth_quantized_300x300_coco14_sync_2018_07_18.tar.gz) work, if you followed the tutorial. Thanks @achowdhery.

[2018-07-20 02:05] denged opened #20984 "Can't convert .pb file to .lite, "toco: error: argument --output_file is required""
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04 virtual machine that is run on legitimate Windows 10 OS
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from

[2018-07-20 02:06] steathy commented on #20865
Thanks. I tried and failed on windows as well. Maybe I'll just wait till pip version gets updated. Hope it will happen soon.

[2018-07-20 02:32] jackshi0912 opened #20986 "tf.data.Iterator has_next(), next(), feature request"
Request:
has_next()  // opt that check if next data is present at graph execution time without resorting to python try/except
next()  // op that advance the iterator by one at graph execution time

Reason:
has_next():
Iterator seems to be designed for supervised learning. Data is fed from one end, OutOfRangeError occurs when all the data has been used and training stops (if repeat is not set).

In

[2018-07-20 02:35] zhosteven commented on #18152
WARNING: The following configs were expanded more than once: [cuda]. For repeatable flags, repeats are counted twice and may lead to unexpected behavior.
DEBUG: /root/.cache/bazel/_bazel_root/efb88f6336d9c4a18216fb94287b8d97/external/bazel_tools/tools/cpp/lib_cc_configure.bzl:91:3:
Auto-Configuration Warning: 'TMP' environment variable is not set, using 'C:\Windows\Temp' as default
WARNING: /root/

[2018-07-20 02:41] trangtv57 commented on #15414
any one have solution now ?

[2018-07-20 02:47] carusyte commented on #3957
My model's performance degraded seriously because of this. tf version is 1.9, hoping the fix could be considered officially

[2018-07-20 02:48] jiarenyf commented on #20139
I meet the same error in tf1.9 ...

[2018-07-20 03:02] Shanoobmk commented on #20729
thanks sir ,

[2018-07-20 03:08] jackonan commented on #20914
@agarwal-ashish thanks for reply. I make a change in my local repo. It works well and looks simple. Here is the PR https://github.com/tensorflow/tensorflow/pull/20985. Maybe you can check whether it is helpful.

[2018-07-20 03:13] guohengkai commented on #17984
@anitha-v Thanks for your response. I do not have any error message handy now. Sorry for that. The errors are something like dimension inconsistent with conv due to the trimming operation. But I think it's easy to reproduce.

[2018-07-20 03:30] csjunxu opened #20987 "install tf 1.4 or up in Virtualenv still suffers this problem, uninstall enum and install enum34 do not help."

[2018-07-20 03:43] omalleyt12 commented on #20842
Thanks for the code, I'm getting the same behavior on my end. It looks like `tf.keras` is incrementing the name of the layer unconditionally every time a layer of the same type is created. As per the release note you mentioned, this might be intended behavior, I'll check with other members of the team and get back.

In the meantime, one way to have variable sharing with `tf.keras` is to create the

[2018-07-20 03:46] Walt3r1 commented on #5949
After looking into this problem over few days I came across information that any tensorflow version that is >1.5 will not work with window. So my problem is solved. I downgraded to to 1.5. It's working. If you think this will help you then uninstall any previous version of TF and install the 1.5 version using this command:<br>
pip3 uninstall tensorflow
pip3 install --upgrade --ignore-installed ten

[2018-07-20 04:23] hephaex commented on #20919
@shashishekhar : Thanks you kind comment. The Tensorflow r1.8 is successful build from released source as same as same build pipeline, but the TensorFlow r1.9 is not successful build. Why it happen stop during bazel compile sequence. I try to review bazel's configuration.

[2018-07-20 04:30] Sunil1997 commented on #20961
**I'll use os as fedora
Install python via Conda-navigator
Editor use pycharm**

**Os Platform:fedora
Tensorflow installed from anaconda
Tensorflow version:1.8.0
python version : 3.6.5
Bazel version:Not installed**

WARNING:tensorflow:From /home/sunil/PycharmProjects/test/testFile.py:7: read_data_sets (from tensorflow.contrib.learn.python.learn.datasets.mnist) is deprecated and will be removed in

[2018-07-20 05:37] MauryaRitesh commented on #16374
Using Linux is not an ultimate solution

[2018-07-20 05:55] kingofthebongo2008 commented on #19354
I am working in a branch to split some tensorflow in parts in dlls.

So far the kernels are registered in a GlobalRegistry which is a multimap.
This can go in a dll. If it goes there, then every kernel can be made as a
dll and will have own pdb and the problem will disappear.

For this to happen.

1. proto files must be in a different dll like tf_proto.dll
2. tf_kernel_registry.dll must be made
3.

[2018-07-20 06:24] fifothekid commented on #20669
I'm building with CPU not with GPU
I don't have an installed tensorflow package, and I've just unisntalled grpcio
I'll try building again

[2018-07-20 06:38] 103061634 opened #20989 "Whether tensorflow supports image training or retraining on c++ API"
Tensorflow has supported image training or retraining on python
https://www.tensorflow.org/hub/tutorials/image_retraining
but that tutorials doesn't have any tutorials about  training or retraining on c++ API.
And here are very few discussions about this.
Whether tensorflow supports image training or retraining on c++ API?
THX

[2018-07-20 06:40] t13m commented on #20952
It turns out that for my machine (sandybridge), tensorflow v1.9.0 is not built with MKL BLAS support. This seems fixed by https://github.com/tensorflow/tensorflow/commit/64117da0c36f0697467ce6d56a7be6837da24d2f .
I tested the latest version, there is no more this problem.
Thank you!

[2018-07-20 06:40] #20952 closed

[2018-07-20 06:43] bylanhao commented on #7547
I also encountered this problem, solved with an absolute address, the relative address tensorflow is not recognized.

[2018-07-20 07:01] gunan commented on #19354
Actually we are also planning to do that.
Please see the design here:
https://github.com/tensorflow/community/pull/2

[2018-07-20 07:12] trangtv57 commented on #15805
anyone have solution for lstm in tensorflow lite ? me has the same issuse

[2018-07-20 07:15] hari-dori commented on #20469
I am also getting the same error , any update

[2018-07-20 07:40] carusyte commented on #20879
or add this line in the ~/.profile to set the environment variable, in Ubuntu, other OS varied accordingly. Actual nccl installation path is also varied
`export NCCL_INSTALL_PATH="$CUDA_HOME/targets/x86_64-linux"`

[2018-07-20 07:50] carlthome commented on #20509
This seems to reproduce the error consistently. Am I doing something wrong?

[code]

[2018-07-20 07:56] jbuisson1 commented on #20980
Here is the code where I feed an image to the classifier (f is the File of the current image to be fed)

[code]

[2018-07-20 08:00] rajnunes commented on #9545
Im not sure if it does have an impact on memory usage but I was training a model similar to segnet with image input size as 640x1024 and, at max I could only set my batch size to 1 image which is kind of strange (not sure if it should take that much memory) i was using a titanX (12gb ) and it ended up using the whole 12 gb.
(if I tried increasing batch size to anything greater than 1 I got CUDA ou

[2018-07-20 08:07] carlthome commented on #20781
Not sure why @tensorflowbutler auto-assigned @tatatodd but this seems like a more relevant feature request for @mrry according to commit history (https://github.com/tensorflow/tensorflow/commit/1fa7aae058f3d4ee85966163b1b27d21ca209f5f)!

[2018-07-20 08:16] aimhabo commented on #20966
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:  no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.8
- **Python version**:  2.7.12
- **Bazel version (if compiling from source)**: 0.14.1

[2018-07-20 08:30] madhu-sudhan commented on #20949
Hi @shashishekhar , yeah I dont know what i have missed. But the above mentioned steps are not helping to get prints in android logcat. Can you please help me identify if something I have missed?

Thanks
Madhu

[2018-07-20 08:32] fuglede commented on #20499
Note that what amounts to likely the exact same issue (albeit on Windows) has been post as a [question on StackOverflow](https://stackoverflow.com/questions/51390692/attributeerror-module-tensorflow-python-training-checkpointable-has-no-attrib/51397065?noredirect=1#comment89835739_51397065).

[2018-07-20 08:36] bhack commented on #9545
@rajnunes Have you tried to check with https://www.tensorflow.org/guide/graph_viz#runtime_statistics to check the memory?

[2018-07-20 08:37] ElderOrb commented on #20919
doesn't work for me too

[2018-07-20 09:05] Jylomaki opened #20990 "Convert_variables_to_constants return None after import"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes, minimal example below
- **OS Platform and Distribution**:Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: using pip3
- **TensorFlow version (use command below)**: git version: v1.8.0-0-g93bc2e2072 tf version 1.8.0
- **Python version**: 3.5.2
- **CU

[2018-07-20 09:23] nairouz commented on #20982
Duplicate of #20372

[2018-07-20 09:24] #20982 closed

[2018-07-20 09:26] Jylomaki commented on #20990
And I checked a bit the output graph_def a bit, it does seem to hold the values of the variables:
[code]

[2018-07-20 09:29] nadavb commented on #20959
You meant `export D_LIBRARY_PATH="/usr/local/cuda-9.0/"`

Nope... Still same error message:

`Cuda Configuration Error: Cannot find cuda library libcudnn.so.6`

The file libcudnn.so.6 is found on my server at `/usr/lib/x86_64-linux-gnu/libcudnn.so.6`
But it can't find it...

[2018-07-20 09:36] ChenyangLiu opened #20991 "NotFoundError with tf.add_check_numerics_ops()"
I worked on Tensorflow 1.8, and I used tf.add_check_numerics_ops() to check my model.
But it fails if I add tf.add_check_numerics_ops().
[code]

my code is here:
[code]

If I remove `checker` and `tf.add_check_numerics_ops()`, my code works fine.

[2018-07-20 10:08] LoSealL commented on #20669
Hi @fifothekid
I recognized, the problem may lie in the generating of `estimator_python_api`, you can first try to only build `tf_python_api`.
If you are urgent with this, please refer to my [PR](https://github.com/tensorflow/tensorflow/pull/20951 )

[2018-07-20 11:06] DLFaker opened #20992 "CheckpointSaverListener before_save"
code:
[code]
i'd wonder whether i can save the model when the accuracy score is better than last, if not the model will not be saved!

[2018-07-20 11:51] OlegKremnyov commented on #20411
Hi, any chance to have some information on it?

[2018-07-20 12:03] kingofthebongo2008 commented on #19584
CMake version on the other side on windows does not have AVX at all. I needed to enable it explictly locally.

[2018-07-20 12:05] kingofthebongo2008 commented on #19354
This is quite, good. Hope will come soon, In the mean time i will fix it
locally.

On Fri, 20 Jul 2018 at 10:05, Gunhan Gulsoy <notifications@github.com>
wrote:

[2018-07-20 12:07] tanndx17 commented on #17852
@simpeng I had the same error. Could you tell me which version of grpc you downgrade to and what version of tensorflow are you using? thank you

[2018-07-20 12:07] scucheri commented on #12813
finally I add my own ops to tensorflow as  kernel  ops do.  you can add the op file and register it to the bazel build file

[2018-07-20 12:10] saxenarohan97 commented on #20930
I have updated the description, I'm not sure how to trigger the bot. @shivaniag can you assign the relevant person again - I think it is @saeta as @mrry mentioned. TIA.

[2018-07-20 12:47] #19761 closed

[2018-07-20 12:47] tensorflowbutler commented on #20986
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-07-20 12:47] tensorflowbutler commented on #8550
Nagging Assignee @andrewharp: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:47] tensorflowbutler commented on #16593
Nagging Assignee @joel-shor: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:47] tensorflowbutler commented on #17149
Nagging Assignee @rohan100jain: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:48] tensorflowbutler commented on #17359
Nagging Assignee @tatianashp: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:48] tensorflowbutler commented on #18823
Nagging Assignee @mdanatg: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:48] tensorflowbutler commented on #18877
Nagging Assignee @petewarden: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:48] tensorflowbutler commented on #19214
Nagging Assignee @mdanatg: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:48] tensorflowbutler commented on #19268
Nagging Assignee @tatatodd: It has been 66 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:48] tensorflowbutler commented on #19298
Nagging Assignee @asimshankar: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:48] tensorflowbutler commented on #19374
Nagging Assignee @skye: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:48] tensorflowbutler commented on #19491
Nagging Assignee @tatianashp: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:49] tensorflowbutler commented on #19685
Nagging Assignee @andrehentz: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:49] tensorflowbutler commented on #19695
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:49] tensorflowbutler commented on #19746
Nagging Assignee @karmel: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:49] tensorflowbutler commented on #19761
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-07-20 12:49] tensorflowbutler commented on #19768
Nagging Assignee @skye: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:49] tensorflowbutler commented on #19771
Nagging Assignee @tatatodd: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:49] tensorflowbutler commented on #19777
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-20 12:49] tensorflowbutler commented on #19883
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:49] tensorflowbutler commented on #20028
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:49] tensorflowbutler commented on #20115
Nagging Assignee @jart: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:49] tensorflowbutler commented on #20121
Nagging Assignee @cy89: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:49] tensorflowbutler commented on #20124
Nagging Assignee @jart: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:49] tensorflowbutler commented on #20134
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-20 12:50] tensorflowbutler commented on #20144
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-20 12:50] tensorflowbutler commented on #20148
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-20 12:50] tensorflowbutler commented on #20150
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:50] tensorflowbutler commented on #20154
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-20 12:50] tensorflowbutler commented on #20344
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:50] tensorflowbutler commented on #20527
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:50] tensorflowbutler commented on #20532
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:50] tensorflowbutler commented on #20550
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:50] tensorflowbutler commented on #20562
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-20 12:50] tensorflowbutler commented on #20563
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:50] tensorflowbutler commented on #20564
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:50] tensorflowbutler commented on #20571
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-20 12:50] tensorflowbutler commented on #20575
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-20 12:58] gbildson commented on #19021
I see pow in r1.10 and I have a way to get rid of the SquaredDifference in moments so yeah!

[2018-07-20 13:12] qmeeus commented on #9545
thanks @sleighsoft, appreciate it!

@bhack the memory use was the thing that tipped me off. Indeed, I think that the duplication impacts memory, as I was getting those "More than 10% of total memory allocated" warnings and eventually, the program crashed... The warning disappeared after I adapted my code to avoid scope duplication and I can now train my network without crashing my computer.

[2018-07-20 14:07] fcacarminati commented on #19491
Actually I would really like an answer... thanks!

[2018-07-20 14:11] rabiaqayyum opened #20994 "can not build tensoflow inference library"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-07-20 14:32] #20886 closed

[2018-07-20 14:36] mdanatg commented on #20956
Hi, looks like a bug in the static analysis - it gets confused because `a` is not used after the conditional.

We'll look at the bug, but in the mean time, returning `a` from the function should clear the error:

[code]

[2018-07-20 14:43] AdamPWhite opened #20995 "Cannot set random_seed for DNNClassifier"
### System information
My own code
Windows 10
Python 3.6.5
Tensorflow 1.9 (problem also occurs with 1.8)
NVIDIA GeForce GTX 1050 (approx total memory 6011MB)
CUDA version 9.0 v9.0.176

Problem Description
Each time I run the code below, I get a different 'Loss for final step' when training my model. I have checked that the input data from train_test_split is constant. I have set the value of tf.ra

[2018-07-20 15:14] Mr-xingxing commented on #20961
I just occurred a same question like yours, and my version of tensorflow is 1.8 as well.Have you found the resolution?

[2018-07-20 15:23] achowdhery commented on #20962
https://github.com/tensorflow/models/pull/4851
Thanks. This should merge soon.

[2018-07-20 15:23] #20962 closed

[2018-07-20 15:52] jdduke commented on #20905
Hi @martis-chromium, we're actively working to publish a fully functional, pure C API, and as part of this will support a proper shared library target and various language bindings for that API. We don't have an exact ETA, but expect some related activity in the coming weeks.

[2018-07-20 15:54] yoya commented on #20028
Some checks haven’t completed yet.
![image](https://user-images.githubusercontent.com/26040/43012100-67ba8390-8c80-11e8-9db3-54b4ad6999c9.png)
Is there anything I should do ?

[2018-07-20 16:07] oahziur commented on #19834
@vsai121

I think you initial state should created from `cell.zero_state(batch_size=batch_size, dtype=tf.float32)` instead of `cells[0].zero_state(batch_size=batch_size, dtype=tf.float32)`. `cells[0]` is just your first rnn layer's cell.

[2018-07-20 16:23] ankitvgupta commented on #18394
As, to clarify, this works fine when I use the `train()` method of an estimator, but does not work when I use `tf.estimator.train_and_evaluate()`

[2018-07-20 16:24] mtiitto opened #20997 "ValueError: Empty Range for RandRange() in Train Function for Custom Classifier"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
I used stock example script provided by TensorFlow to write my own custom code.

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10 - Colab Notebook

- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happ

[2018-07-20 16:29] guschmue commented on #19354
I think splitting into multiple dlls is the only way to handle the large pdbs.
One issue that might come with this is the symbol exports from the dll done by https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/tools/create_def_file.py ... it is good enough to handle kernels in _lstm_ops.dll  but I'm not sure if it exports enough symbols to keep all kernels happy. In case

[2018-07-20 17:06] michaelisard commented on #20978
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-07-20 17:06] #20978 closed

[2018-07-20 17:06] omalleyt12 commented on #20842
Confirmed that this is intended behavior going forward. Preferred way to reuse variables in `tf.keras` is to construct the object once and then call it multiple times

[2018-07-20 17:06] #20842 closed

[2018-07-20 17:19] goutham commented on #18394
run_local was also updated to work well with train_and_evaluate. See 3edb609. This should be in 1.10. So, if you really want to use early stopping before 1.10 release, I suggest also patching in this PR. But I recommend waiting for 1.10 so that you don't have more trouble.

[2018-07-20 17:37] skye commented on #20532
@dhingratul can you provide the exact code or script needed to repro your problem?

[2018-07-20 17:45] ankitvgupta commented on #18394
Makes sense! I'll wait for 1.10.

[2018-07-20 17:49] skye commented on #20510
Can you fix the formatting of your code? It's very hard to read right now... you can create code blocks using ```, see https://help.github.com/articles/creating-and-highlighting-code-blocks/

[2018-07-20 18:11] ahundt opened #20998 "10 minutes to recover from ResourceExhaustedError"
While it is possible to create a model which is too large for GPU memory, catch the resulting `ResourceExhaustedError` exception, clear the session, and then change the configuration so it fits in memory (such as reducing batch size). However, the time from the initial allocation attempt to catching the exception can take as long as 10 minutes, when I would expect these steps should complete in mi

[2018-07-20 18:38] nairouz opened #20999 "incompatibility : Keras LearningRateScheduler callback and tf.train.optimizer"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Google Colab
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**: 1

[2018-07-20 18:59] agarwal-ashish commented on #20914
Did you test if the code after commit# 8f130ff5b021efb94946ed9deb1341890763fd3f  work for you ?

[2018-07-20 19:03] tensorflowbutler commented on #20989
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-07-20 19:03] tensorflowbutler commented on #20991
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-07-20 19:03] tensorflowbutler commented on #20992
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-07-20 19:12] nairouz commented on #20999
Even when I added the attribute "lr" to the model  `model.optimizer.lr`. It is producing another error:

### Log
AttributeErrorTraceback (most recent call last)
<ipython-input-11-3f77add48361> in <module>()
     24
     25 model.optimizer.lr = 0.01
---> 26 model.fit(x=X, y=Y, batch_size=1, epochs=10, callbacks=[lr_schedule])

/usr/local/lib/python2.7/dist-packages/tensorflow/python/keras/engine/tr

[2018-07-20 19:20] drasmuss commented on #20843
I did a git bisect to figure out where the slowdowns occurred, and found 3 commits that contributed to the decreased performance:

https://github.com/tensorflow/tensorflow/commit/2c105ace934edce193669b55b13b64283caa24d7

Runs the graph optimizer pass twice (up from previous value of once), so makes sense that this would take longer.  Can be disabled via `config.graph_options.rewrite_options.meta_o

[2018-07-20 19:29] aselle commented on #8938
test

[2018-07-20 19:41] asimshankar commented on #20802
Closing since it seems like the issue is resolved.

[2018-07-20 19:41] #20802 closed

[2018-07-20 19:42] aselle commented on #19943
Did you try doing what it suggested? this is covered on common installation issues on the home page?
https://www.tensorflow.org/install/install_linux#common_installation_problems

[2018-07-20 19:45] aselle commented on #19879
A 2GB card is probably not big enough. Try something like a GTX 1080.

[2018-07-20 19:45] #19879 closed

[2018-07-20 19:45] shinaebiz commented on #16951
k

[2018-07-20 19:47] aselle commented on #19444
I'm not clear what the problem is. Is there an error created? It is normal for tensorflow to use all the memory on the gpu. That allows it to use arena allocation which is more efficient for execution time.

[2018-07-20 19:49] michaelisard commented on #20788
@martinwicke who owns these? The docstring seems to have been there for years, and it doesn't look as if exponential_time_decay has ever existed.

[2018-07-20 19:52] aselle commented on #19957
@skyewm, are you familiar with functional ops?

[2018-07-20 19:53] aselle commented on #19233
@skye, are you familiar with functional ops?

[2018-07-20 19:55] aselle commented on #19171
This is known behavior and a dupe of #9171. The random seed is dependent on the order of ops created (there is a node number in the graphdef). To get consistent random initialization you need to fully seed as a node rather than relying on the partial seeding from the graph.

[2018-07-20 19:55] #19171 closed

[2018-07-20 19:55] achowdhery commented on #20974
The checkpoints have been updated in the detection model zoo.

[2018-07-20 19:55] #20974 closed

[2018-07-20 19:55] aselle commented on #19140
Todd, could you please take a look at this issue?

[2018-07-20 19:59] achowdhery commented on #20973
Please start with Mobilenet v1 SSD to make sure the pipeline works.
https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193
For the above model you are passing, it seems it is a float model, not a quantized model.
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tensorflowlite.

[2018-07-20 19:59] #20973 closed

[2018-07-20 20:01] achowdhery commented on #20798
Please follow steps on this blog post and let us know if you still fail to convert SSD Mobilenet V1
https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193

[2018-07-20 20:02] aselle commented on #17747
Do you know about windows CUDA support,?

[2018-07-20 20:03] achowdhery commented on #20354
This Dockerfile should also help
https://github.com/tensorflow/models/blob/master/research/object_detection/dockerfiles/android/Dockerfile
or use Android Studio

[2018-07-20 20:03] #20354 closed

[2018-07-20 20:04] aselle commented on #18191
Sorry, using custom op instructions is the only way to add new operations. If you would like to do nearest neighbor, you can do that, or you can remove the nearest neighbor from your model, and do it as a model preprocess.

[2018-07-20 20:05] achowdhery commented on #20148
The example is for classification not detection

[2018-07-20 20:05] aselle commented on #18920
@alextp, do you think this might be possible with eager? That seems like the best option to me. That allows you to do control flow in python rather than TensorFlow and it does automatic differentiation with a gradient tape (log of operations run in imediate mode). @AlexHarn, does this make sense?

[2018-07-20 20:06] achowdhery commented on #19939
Please consider following steps in this tutorial:
https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193

[2018-07-20 20:07] aselle commented on #19586
Could you use resize bilinear instead? That is currently supported?

[2018-07-20 20:08] aselle commented on #19586
Usually we want to not add every option unless it is really needed, because are trying to keep our binary size very small. Every op costs more space.

[2018-07-20 20:10] aselle commented on #18490
tfdbg requires curses it looks like. you may need to use the command line to do debugging. Assigning to the author of tfdbg, for additional info. @caisq could you provide more support.

[2018-07-20 20:12] aselle commented on #18352
You can run the previous graph_def through a filter that removes all control dependencies. If you are doing inference with no loops, usually control dependencies only exist to do debugging. Does that help?

[2018-07-20 20:29] achowdhery commented on #17212
Try the updated tutorial:
https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193

[2018-07-20 20:33] ChenyangLiu commented on #20991
Sorry for lacking information.
OS : Ubuntu 14.04
Tensorflow: 1.8 installed from pip.
CUDA: 9
GPU model: GTX 1060 6GB
And as for the function `deeplab`, it's a warpper I wrote for deeplabv3+, which is available in tensorflow/models, using `slim` to establish model.

[2018-07-20 20:37] ewilderj commented on #9545
@bhack if there are systemic issues with the bug nagging/updating, then let's file this as a bug itself so we can track it, assign it, and collect the multiple instances of where it's happening. Thanks for highlighting this!

[2018-07-20 20:39] shashishekhar commented on #20980
@jbuisson1 : My suspicion without looking at the images will be that images fed to classifier are not correct or not in the same format as during the training. You can try doing a sanity check of images that you are feeding to the classifier.
Try dumping the images to sdcard after you do
bitmap.getPixels(...) in convertBitmapToByteBuffer.  Check if they match with the images during the training ph

[2018-07-20 20:40] poxvoculi commented on #20990
@svgoogle: Can you take a look at this?

[2018-07-20 20:42] mrezak opened #21001 "Error during tf.evaluate when running on TPU: RuntimeError: All tensors outfed from TPU should preserve batch size dimension, but got scalar"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Google Cloud Platform (Linux Debian)
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**:Binary
- **TensorFlo

[2018-07-20 20:45] guptapriya commented on #20874
@yuefengz has a fix in progress relating to `contrib.layers` that might address this issue as well. He should be able to merge that in the a few days. After that you could try again and see if the issue still persists.

[2018-07-20 20:54] shashishekhar commented on #20909
Looks like you are hitting this:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/python/tflite_convert.py#L203

do you have '\' at the end of line between default_ranges_min/max lines.

[2018-07-20 20:54] rdekou commented on #6136
Installing with pip works for me:

python -m pip install --upgrade tensorflow

https://stackoverflow.com/questions/42559222/installation-of-tensorflow-on-windows-7-pip3-is-not-recognized-as-an-interna

[2018-07-20 20:58] caisq commented on #18490
@hhusum @aselle Yes, this error occurs because tfdbg uses `curses` to manage the terminal UI by default. PyCharm is an environment that does not have a tty for curses to use. To work around this, set the `ui_type` kwarg to `readline` when using `LocalCLIDebugWrapperSession` or `LocalCLIDebugHook`.

[2018-07-20 20:58] #18490 closed

[2018-07-20 21:08] shashishekhar commented on #19158
I ran it on Nexus 5 and couldn't reproduce the issue, please reopen if you can still reproduce it.

[2018-07-20 21:08] #19158 closed

[2018-07-20 21:12] shashishekhar commented on #18770
@zhonghuabao1 : You can try using Interpreter#SetNumThreads: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/java/src/main/java/org/tensorflow/lite/Interpreter.java#L231 to change the number of threads.

Do let me know if you still need help.

[2018-07-20 21:12] rryan commented on #15103
@VinceMarron so sorry I didn't see your most recent post. I think whatever issue you're seeing might have been fixed, because I just ran your examples on TF 1.9.0 on a Colab w/ GPU and don't see the error.

[2018-07-20 21:12] alextp commented on #18920
I think what you want is very reasonable, but you need different math than plain gradients. Once you do move beyond gradients the many known approaches to this are well-supported by TensorFlow.

The problem lies in (hopefully) continuous functions which are not differentiable everywhere. Anytime you have control flow in a program you have a function which, though it might be continuous, is not gua

[2018-07-20 21:12] #18920 closed

[2018-07-20 21:17] shashishekhar commented on #20949
@madhu-sudhan : You can try __android_log_assert and see if you get a fatal crash, then at least your log is getting triggered.

If that works then try "adb logcat -P ''" and relaunch the app, if you still don't see the log, I will suggest first writing a simple Android app with JNI and using that to do Android logging, there are plenty of examples on the web. This will make you familiar with how

[2018-07-20 21:17] #20949 closed

[2018-07-20 21:18] shashishekhar commented on #20919
@hephaex  can you attach your tensorflow/.tf_configure.bazelrc?

[2018-07-20 21:42] neheller commented on #18696
What about the second point? I agree with @dlsmith that it seems more natural to only "warm start" on the first `train` call.

[2018-07-20 21:54] FrancescoSaverioZuppichini commented on #20959
Sorry  I meant,
[code]
I am not an expert I was just trying to help since I had a similar issue on ubuntu 18.04 with `tensorflow-gpu`. So, did you have the `/usr/local/cuda-9.0/` folder? Just in case, try to echo your environment variables and see if there is LD_LIBRARY_PATH.

I hope maybe it will help

[2018-07-20 22:13] reedwm commented on #20959
This should be filed with the [tensorflow/serving repo](https://github.com/tensorflow/serving/issues). So I'll close this issue.

Not sure why Tensorflow Serving needs cudnn 6. In TensorFlow, currently by default we use cudnn 7.

[2018-07-20 22:13] #20959 closed

[2018-07-20 22:20] mehdirezaie commented on #1439
Hi Tensorflowers!

I am experiencing the same slow down issue by looping over sessions. In each loop I attempt to set a different seed for kernel initializer in `tf.layes.dense` , and I believe that "the program is constantly adding more nodes to the graph" causes this problem. In the following snipped I do my best to show how my program is structured. I set a global seed, and then generate a set

[2018-07-20 22:23] reedwm commented on #20428
Unfortunately, there are lots of TensorFlow warnings, so it would be difficult to remove all of them.

/CC @gunan, any plans to remove the TensorFlow warnings? If not, can you mark as contributions welcome?

[2018-07-20 22:41] visionscaper commented on #5592
@rajivkapoor Does the batch size typically need to be higher to get good performance when training with fp16? How much bigger?

[2018-07-20 22:45] savageyusuff commented on #20909
No, this is how i type for the tflite_convert command.

tflite_convert \
--graph_def_file=$INFILE \
--output_file=$OUTFILE \
--output_format=TFLITE \
--inference_type=$TYPE \
--input_arrays=$INPUT \
--output_arrays=$OUTPUT \
--mean_values=${MEAN}  \
--std_dev_values=${STD} \
--default_ranges_min=${MIN} \
--default_ranges_max=${MAX} \
--input_shapes=1,${IMAGE_SIZE},${IMAGE_SIZE},3

[2018-07-20 22:50] dhingratul commented on #20532
The script is the one on tensorflow's page (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/freeze_graph.py)

[2018-07-20 22:59] RanFeldesh commented on #18705
With TF 1.9 CPU version
On Dell XPS13 with i5-6200U
Running this benchmark via PyCharm, with the suggested parameters:
-d 512 -b 60 -t 380 -n 512 -w 20 -i 40
Yields:
Dynamic: 3.15 seconds / iteration
Static: 2.77 s/it
While-loop: 3.17 s/it
<img width="835" alt="dynamicvsstaticvswhile" src="https://user-images.githubusercontent.com/8627404/43028600-06506b20-8c3e-11e8-842c-6b54619c7796.PNG">

[2018-07-20 23:10] cy89 commented on #19852
@lukaszkaiser can you offer any advice, please?

[2018-07-20 23:12] cy89 commented on #17373
@Djoels I think we're stuck without reproducibility, alas. It does seem reasonable that uninstall isn't perfect.

[2018-07-20 23:12] #17373 closed

[2018-07-20 23:18] cy89 commented on #18039
@JonnoFTW it might be worth taking CentOS 6.5 out of the bug title, as that's not a supported configuration (but Ubuntu 16.04 is).

[2018-07-20 23:18] cy89 commented on #18039
@cwhipkey at least the source line pointed at by @eLvErDe looks like it's yours. Would you PTAL?

[2018-07-20 23:20] cy89 commented on #18456
Thanks for the help, @StevenVerne and @tambu-j . I'll close, as it looks like this is resolved.

[2018-07-20 23:20] #18456 closed

[2018-07-20 23:35] shashishekhar commented on #20872
@sukkyoung :
It seems the model has a bug, I am trying to see if there is a bug in our conversion script.
Can you attach:
1. The original graphDef or saved model that you used to convert the model.
2.  The command/script that you used to convert the model.

[2018-07-20 23:36] cy89 commented on #19093
@alextp, you seemed to have good suggestions on #13433. Can we declare this one to be the same problem (which also remains open)?

[2018-07-20 23:37] anjabeth commented on #19957
I'm having the same problem as well - the documentation says "partitions: A Tensor of type int32. Any shape. Indices in the range [0, num_partitions)", but it doesn't seem to accept a Tensor.

[2018-07-20 23:37] cy89 commented on #19504
@alex2425 that makes sense. Raspberry Pis aren't known for their processing power. I'll close; reopen if you'd like to revive.

[2018-07-20 23:37] #19504 closed

[2018-07-20 23:39] shashishekhar commented on #20909
@savageyusuff : Can you attach the original graph which you are trying to convert.

[2018-07-20 23:41] cy89 commented on #20308
@madrugado within one version of TF, do you get self-consistent results?
And, do either versions' results match Linux? Or do they both differ from Linux?

[2018-07-20 23:43] yunhailuo commented on #19093
OK. That sounds reasonable to me.

[2018-07-20 23:43] cy89 commented on #19952
@mrry could you please comment on whether there's a way to do what @terrykong wants, or if this is a feature request, whether we might do it, or we should mark it "Community Support"?

[2018-07-20 23:45] tatianashp commented on #20866
We currently don't have anybody working on this API. It would be great if you could help us by implementing the change that you propose and submitting a PR. Let us know if you need further clarification. Thanks!
/cc @alextp @ispirmustafa

[2018-07-20 23:47] alextp commented on #19093
This is a known issue, and @rmlarsen is working on a fix which might need to be flag-gated for compatibility.

[2018-07-20 23:48] cy89 commented on #20500
@aimhabo I'm sorry, but I don't understand your most recent comment. Are you saying that you've resolved the issue but were waiting for bazel to complete? If so, did your compilation complete successfully? Or is something else still broken?

[2018-07-20 23:48] tatianashp commented on #20912
@298068845 I apologize but I have hard time understanding what kind of help you need. Could you please clarify?

[2018-07-20 23:48] mrry commented on #19952
I think this should be possible with the new batching operations that @jsimsa is working on.

[2018-07-20 23:57] lukaszkaiser commented on #19852
Sorry, I have no experience with this code, I've never used it. I can only recommend switching to newer things like the tensor2tensor library, but maybe someone can find a real answer?

[2018-07-21 00:04] tatianashp commented on #19491
@fcacarminati Thank you for pointing out a performance problem. I apologize that this issue fell through the cracks. If I understand your request correctly, you are asking if we could improve performance of
the loop in line 559 of eigen_volume_patch.h.
    for (int i = 0; i < PacketSize; ++i) {
        values[i] = coeff(index + i);
    }
Is this correct?

/cc @ezhulenev @rmlarsen

[2018-07-21 00:13] rajivkapoor commented on #5592
@Freddy Snijder - Strictly speaking about the TF CNN benchmarks, generally,
for a single V100 a bs >=8, fp16 gives pretty decent gains over fp32 - at
least for vgg11, inception3 and resnet*.
I have seen gains starting at bs >=4 for 2 or more GPUs per server.

On Fri, Jul 20, 2018 at 3:45 PM Freddy Snijder <notifications@github.com>
wrote:

[2018-07-21 00:18] cy89 commented on #20379
@fchollet it looks like you might have introduced the code that manipulates outputs_4d in the case where channels_first is True. Would you PTAL?

[2018-07-21 00:27] smcgregor opened #21008 "Controlling the Quantization Graph-Rewriter"
### System information
Not applicable to this feature request.

### Describe the problem

Our (Syntiant Corp's) neural network inference chips support a continuous range of parameter and activation quantization levels for reducing power consumption. Consequently, we aggressively tune our quantization levels for each application. Based on the research literature and product datasheets we are seeing

[2018-07-21 00:30] cy89 commented on #17949
@denkuzin thank you for pointing this out!
@MarkDaoust would you PTAL?

[2018-07-21 00:31] cy89 commented on #19623
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2018-07-21 00:32] cy89 commented on #19623
Also, does #9469 help?

[2018-07-21 00:32] deepconvneuralnet opened #21009 "Fine-Grained Control Over TOCO Quantization"
Our (Syntiant Corp’s) neural network inference chips use quantized weights and biases in order to minimize storage and energy consumption. The new Tensorflow experimental quantization feature [tf.contrib.quantize.experimental_create_training_graph](https://www.tensorflow.org/api_docs/python/tf/contrib/quantize/experimental_create_training_graph) supports quantizing weights to between 2 and n bits,

[2018-07-21 00:40] fcacarminati commented on #19491
Thanks for looking into my problem. In my problem 50% of the time is spent in this line. The packet should be executed in a single vector instruction, ideally. There it is executed in a loop calling other procedures. This kills optimisation, as far as I understand. Regards,

Federico Carminati
Chief Innovation Officer
CERN openlab
1211 Geneva 23
Switzerland
Tel: +41 22 76 74959
Fax: +41 22 76 6850

[2018-07-21 00:43] cy89 commented on #19969
@suharshs can you please comment on how to avoid graph reloading?

[2018-07-21 00:43] #20032 closed

[2018-07-21 00:43] michaelklachko commented on #4632
I have a similar problem:

I want to create a random tensor of the same shape as the input my network. The input however has variable length, and is supplied by a queue. If I use the placeholder to pass the shape values, I have to evaluate the current input batch. The problem is that when I generate the input batch using sess.run then the queue will advance one step, and therefore the actual input

[2018-07-21 00:48] cy89 commented on #20208
@srvasude so can or should we mark this "docs"? Is there a way to override the docstring for tf.distributions.Gamma?

[2018-07-21 00:50] cy89 commented on #20819
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2018-07-21 00:52] michaelklachko commented on #4632
Actually, never mind:  tf.shape(input) worked, no placeholder needed.

[2018-07-21 00:57] cy89 commented on #20598
@Ducanhvu do the "common installation problems" at the bottom of https://www.tensorflow.org/install/install_windows

shed any light? In particular, this StackOverflow link [https://stackoverflow.com/questions/42006320/tensorflow-pip-installation-issue-cannot-import-name-descriptor] has some suggestions around import problems.

[2018-07-21 00:57] tatianashp commented on #19491
@ezhulenev Could you take a look at what's going on here?

[2018-07-21 00:58] cy89 commented on #20622
@matthew-z does that fix your problem?

[2018-07-21 01:04] cy89 commented on #18058
@mbarnes1 sorry for the slow reply. Just to check, m and n are 1e6 and 1e4 in your example?

@ebrevdo is this memory behavior intended for tf.multinomial?

[2018-07-21 01:07] cy89 commented on #18930
@helloworkcupid this looks like an install/build error. Have you tried the different issues on the Install Tensorflow on Windows page:
https://www.tensorflow.org/install/install_windows

In particular, have you tried the uninstall/reinstall sequence on StackOverflow:
https://stackoverflow.com/questions/42006320/tensorflow-pip-installation-issue-cannot-import-name-descriptor

[2018-07-21 01:09] cy89 commented on #19163
@achalshah20 can you please try with a more recent version of TF, and see if you still have the issue?

[2018-07-21 01:13] cy89 commented on #19193
@rryan might this kind of generalization of the pad value be planned, or should I mark "contributions welcome"?

[2018-07-21 01:13] achalshah20 commented on #19163
Yes. It got fixed in latest TF version. Closing the issue!

[2018-07-21 01:13] #19163 closed

[2018-07-21 01:14] cy89 commented on #19731
@JaeDukSeo do you happen to have an answer for @saxenarohan97 ?

[2018-07-21 01:16] tensorflowbutler commented on #20995
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-07-21 01:52] DLFaker commented on #20992
sorry,
ubuntu OS
tensorflow gpu 1.8
i wonder know whether i can stop the model to be saved if current accuracy is not better than last time, what i can do in the CheckpointSaverListener's before_save function.

[2018-07-21 03:47] yuefengz commented on #20496
@wangsiyu We will try to make our between-graph solution independent of the network protocol. We will support gRPC-based solution first.

[2018-07-21 04:04] matthew-z commented on #20622
Yes. I will close it

[2018-07-21 04:04] #20622 closed

[2018-07-21 05:19] JaeDukSeo commented on #19731
@cy89  I agree with @saxenarohan97 if allow_growth is set to true I don't think it automatically deallocates GPU

[2018-07-21 05:57] fritzde opened #21013 "Installing Tensorflow, verifying"
Please go to Stack Overflow for help and support:

Microsoft Windows [Version 6.3.9600]
(c) 2013 Microsoft Corporation. Alle Rechte vorbehalten.

C:\Users\Fritz>pip install "C:\tensorflow\tensorflow\contrib\cmake\build\tf_pyth
on\dist\tensorflow_gpu-1.5.0-cp35-cp35m-win_amd64.whl"
Requirement 'C:\\tensorflow\\tensorflow\\contrib\\cmake\\build\\tf_python\\dist\
\tensorflow_gpu-1.5.0-cp35-cp35m-win_

[2018-07-21 05:58] jayantsharma commented on #7521
@byronyi's solution works as far as total cpu time is concerned. I found the `--cpuset-cpus` option more appropriate for my use case to limit the cores docker/tf uses.

[2018-07-21 06:37] hephaex commented on #20919
@shashishekhar
here is my tensorflow/.tfl_configure.bazelrc

[code]

[2018-07-21 06:43] MohammadMoradi commented on #20798
Thanks for your reply. The problem was that I used old version of tensorflow object detectjon API. The new one seems to have complete solution for tensorflow lite. Maybe I should close the issue.

[2018-07-21 06:43] #20798 closed

[2018-07-21 07:11] nadavb commented on #20959
I will file it in the other repo.

[2018-07-21 07:22] tanndx17 commented on #17852
@simpeng Also, could you show a little on how to downgrade gprc? I mannually use pip uninstall grpcio and pip install grpcio==1.0.0, but it seems still reporting same error. I wonder if this needs to revert grpc somewhere else in tensorflow?

[2018-07-21 07:50] melgor commented on #20273
@danielwatson6 Could you point me if I'm correct?
1. While training, we can use just `CudnnLSTM`
2. When I want to freeze graph to pb, I should use `CudnnCompatibleLSTM` with `MultiRNNCell` and `stack_bidirectional_dynamic_rnn` (if  model was trained with such options)

Then, everything can be used in GPU and CPU.

If that pipeline is ok, it should be added to documentation?
Also question about `C

[2018-07-21 07:55] zhonghuabao1 commented on #18770
thanks for you ans, I have tried SetNumThreads a month ago yet. I fond it work with quantis models but not used with nonquantis models, such as MobileNet.
I have not time to test it more recently, do you meet the problem? is it a bug?

[2018-07-21 09:09] yinnxinn commented on #18640
i met same problem , is it a software bug??

[2018-07-21 10:12] RashadGarayev opened #21015 "How to get object coordinate with tensorflow?"
How to get object coordinate (tensorflow object_detection api)
(boxes, scores, classes, num) = sess.run(
        [detection_boxes, detection_scores, detection_classes, num_detections],
        feed_dict={image_tensor: frame_expanded})

    # Draw the results of the detection (aka 'visulaize the results')
    vis_util.visualize_boxes_and_labels_on_image_array(
        frame,
        np.squeeze(boxe