[2021-07-02 04:37] thaink commented on #50559
Please follow the issue template and provide logs.

[2021-07-02 04:48] apivovarov commented on #46385
In TF 2.5.0 `model.save("model_dir")` creates one additional file in the model folder - `keras_metadata.pb`.
The difference btw prev versions is that now we can load the model back and get fully-featured Keras model.

[code]
We can even re-fit the model!
We can save it in h5 format (some tools, such as Netron, support only h5 format)

[2021-07-02 05:03] thaink commented on #50571
So does your TF model (before converting to TFLite) work properly?

[2021-07-02 05:16] markub3327 commented on #50247
So sorry, I don't know what part of my model definition has been bad that I post it all, for the future, I will be shorter.

1. Yes, it's necessary to run call() before saving the model and **use only build() is not enough**!
2. With parameters that I need It's still not working: model.actor(tf.random.normal([1, 24]),training=False, with_log_prob=False, deterministic=True). You tested it on one of

[2021-07-02 06:09] sushreebarsa commented on #37131
Thank you for your update, glad its working fine for you, kindly move this issue to closed status as it is resolved.

[2021-07-02 06:17] johndpope commented on #45285
to add to the quagmire of misconfigurations - you can specify nvidia channel in conda which will return more recent results.

conda install --channel nvidia cudatoolkit cudnn

[code]

not working though - I will create a separate issue.

[2021-07-02 06:25] tilakrayal commented on #50559
@azziqshmsdn ,

We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled, could you please do so as it helps us analyse the issue.

[2021-07-02 06:43] tilakrayal commented on #50525
@liuzhiwei1997 ,

Can you please try executing the code in latest tf v2.5 and let us know if you are facing same issue.Also the code provided is fairly complex hence it would be difficult for us to pinpoint the issue. Could you please get the example down to the simplest possible repro? That will allow us to determine the source of the issue easily. Thanks!

[2021-07-02 06:44] tilakrayal commented on #50525
Can you please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/29972#issuecomment-504591877) for the similar error.It helps.Thanks!

[2021-07-02 06:47] wjxiz1992 commented on #47866
Reproduced on TF 2.5.0.

[2021-07-02 07:01] sushreebarsa commented on #41271
This is a micro related issue,Please post this in [micro repository](https://github.com/tensorflow/tflite-micro/issues/new) and move this issue to closed status .Thanks!

[2021-07-02 07:16] ABNER-1 commented on #46840
I found that was caused by PIL lib.
I found the numpy array function description here
[code]

so, it will invoke the `__array__` of PIL object.
I solved this problems by downgrade PIL from 8.3.0 to 8.2.0.
Maybe this will help you.

[2021-07-02 07:20] LutzWeischerFujitsu opened #50574 "build fails on AArch64, Fedora 33 due to --config=numa, missing sysctl.h"
[jw@cn05 master]$ bazel --output_user_root=/tmp/bazel build --local_ram_resources=6144 --config=numa //tensorflow/tools/pip_package:build_pip_package --verbose_failures
INFO: Options provided by the client:
  Inherited 'common' options: --isatty=1 --terminal_columns=120
INFO: Reading rc options for 'build' from /data/jw/tensorflow/master/.bazelrc:
  Inherited 'common' options: --experimental_repo_

[2021-07-02 07:25] sushreebarsa commented on #42564
@jatkinson-CRL Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-02 07:35] sushreebarsa commented on #42660
Hi @alecgunny  Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-02 07:39] mattia- commented on #47971
@jvishnuvardhan

[code]

Nope, I'm using (or, at least, trying to use) the plain CPU version.

Thanks!

[2021-07-02 07:43] rcx986635 commented on #47311
This is one of the solutions if you use tf2.x  and you dont want to close tf eager_execution.
Convert your loss function to a loss layer, and make the parameters advantage and old_prediction as Input layer.
for example,
    class PPO_loss_layer(tensorflow.keras.layers.Layer):
          def call(self,y_true, y_pred,advantage, old_prediction):
                     ....
    y_true = Input(...)
    ad

[2021-07-02 07:47] guillaumekln opened #50575 "Grappler error when Softmax input has a variable dimension"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from: binary
- TensorFlow version: 2.5.0
- Python version: 3.6.9
- CUDA/cuDNN version: 11.2/8.1.0
- GPU model and memory: NVIDIA Quadro P620 (4GB)

**Describe the current behavior**

The grappler pass is logging an error when Softmax is used in a `tf.function` with one or mo

[2021-07-02 07:50] sushreebarsa commented on #45136
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-07-02 07:50] #45136 closed

[2021-07-02 08:00] xzy-666 opened #50576 "add multiple classifications without network"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):arm-linux
- TensorFlow installed from (source or binary):source
- TensorFlow version (or github SHA if from source):tensorflow1.13.0
hello!
Users don't understand any code, and they may be in a environment without network. I'm using the classification algorithm model.How can users add multiple categories to the usage

[2021-07-02 08:00] hellomotor commented on #40345
I'm confused too , clarification need.

[2021-07-02 08:01] 928776539 commented on #22134
sorry do you have solved it?

[2021-07-02 08:02] FdyCN opened #50577 "CMAKE ERROR for Android_arm64 of TFLite on MacOS."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **MacOS Big Sur 11.2.3**
- Mob

[2021-07-02 08:02] 928776539 commented on #22134
have you solved it? maybe I need your help.

[2021-07-02 08:04] sushreebarsa commented on #48202
This is a micro related issue,Please post this in [micro repository](https://github.com/tensorflow/tflite-micro/issues/new) and move this issue to closed status .Thanks!

[2021-07-02 08:29] grofte opened #50579 "tf.data.Dataset.cache('filename') loads entire dataset into memory"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): bin (both pip and docker)
- TensorFlow version (use command below): happens on 2.4.1, 2.5.0 and nightly (2.7.0-dev20210630)
- Python version: 3.8.5

**Desc

[2021-07-02 08:29] grofte commented on #50579
**Tiny feature request:**
It would be cool if we could shuffle from cached data. Currently there's two ways to shuffle tf.data.Dataset: 1) shuffle the file paths 2) build a shuffle buffer. 1) is a problem because then I can't apply transformations and cache them (or exploit moving data) without doing all of the serialization and saving and loading and 2) is a problem because we are already using t

[2021-07-02 08:59] emre84 commented on #50571
Hi Thaink, thanks for the advice. I have not tried it yet. Unfortunately I have just a saved model so I will try to convert it to frozen model with following code:
https://blog.metaflow.fr/tensorflow-how-to-freeze-a-model-and-serve-it-with-a-python-api-d4f3596b3adc

and execute it following code example:
https://github.com/EdjeElectronics/TensorFlow-Object-Detection-API-Tutorial-Train-Multiple-Obj

[2021-07-02 09:04] qizhou000 commented on #50567
Can any one help me?

[2021-07-02 09:53] valentin-fngr commented on #46685
This is sadly the only way to achieve it

[2021-07-02 10:45] Saduf2019 commented on #50397
@ChWick
Can you please refer to [this link](https://stackoverflow.com/questions/66415623/group-convolution-in-keras).

[2021-07-02 10:48] tilakrayal commented on #50545
@ymodak ,
I was able to execute the code without any isssues in tf [v2.4](https://colab.research.google.com/gist/tilakrayal/41207bef2b66eb3f236089521bdbb8c7/2-4-50545.ipynb) and [v2.5](https://colab.research.google.com/gist/tilakrayal/4c8ea2462baf883bc635544e24aef422/classification.ipynb).Please find the gist here.

[2021-07-02 10:55] joooeey commented on #34697
There's a different error on TF 2.7.0.dev20210702:
The code posted by ageron just above leads to `TypeError: cannot pickle '_thread.RLock' object`

<details><summary>Stacktrace</summary>
[code]
</details>

[2021-07-02 11:03] tilakrayal commented on #50571
@emre84 ,

We see that you are using tf version 1.14, 1.x is not actively supported, please update to 2.x and let us know if you are using same issue.

[2021-07-02 11:11] UsharaniPagadala commented on #50574
@LutzWeischerFujitsu

We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new?assignees=&labels=type%3Abuild%2Finstall&template=10-build-installation-issue.md) has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error].

[2021-07-02 11:11] ChWick commented on #50397
The link has nothing to do with the reported issue. In the link there is a problem, that the grouped convolution operation was not present at all for the CPU in the former 2.4.1 version of tensorflow.
I am using Tensorflow 2.5.x, and the CPU operation exists now. However, I am only able to use grouped convolutions in the forward pass, but (probably) not the backward pass (computing gradients).\
In

[2021-07-02 11:17] qizhou000 commented on #50567
Help me! My model really needs transposed convolution implemented on TPU.

[2021-07-02 11:21] Cy-r0 commented on #49835
Apologies for the late reply, I've been called to do other work.

A couple of notes:
- Indeed I was not using the Task Library. I loaded a custom model trained by myself.
- I'm aware that running quantised models on GPU will just dequantise them. That's not a problem at the moment, we are not optimising for accuracy (yet) and using a single model for GPU and NPU is more convenient.

Below is a sni

[2021-07-02 11:21] bhack commented on #28601
/cc @yarri-oss

[2021-07-02 11:49] LutzWeischerFujitsu commented on #50574
Fedora 33
A64FX
source code, (recent) master
Python 3.9.5
no virtualenv, standard pip, conda
bazel 3.7.2- (@non-git), compiled from source
gcc (GCC) 10.3.1 20210422 (Red Hat 10.3.1-1)
no CUDA
no GPU

./configure, standard answers

[2021-07-02 12:01] makingglitches commented on #50479
Where the external code is concerned possible fix in comments here

https://github.com/bazelbuild/bazel/issues/13613

[2021-07-02 12:04] bersbersbers commented on #46840
Thanks! I had suspected something like this, so I had done a `pip install --upgrade --force-reinstall tensorflow` already. Interestingly, the `pillow` package was unaffected by this change, as it is not even listed in the `tensorflow` dependency tree.

`pip install "pillow<8.3"` does indeed fix this for now, and the root issue is tracked in https://github.com/python-pillow/Pillow/issues/5571.

[2021-07-02 12:08] mathshangw commented on #50549
thanks for your replying , i solved it . the problem was in my arrays i passed it was in dict form not array structure

[2021-07-02 12:08] #50549 closed

[2021-07-02 12:09] dennymarcels commented on #50516
Hey @jvishnuvardhan thank you for replying!

I don't think writing a custom callback would work because my model is customized itself, and I could only save its weights. I can surely load the weights if the training was interrupted, but all callbacks will be reset, meaning none knows which was the best loss so far, nor in which epoch it happened.

[2021-07-02 12:30] mathshangw opened #50582 "(0) Invalid argument: In[0] mismatch In[1] shape:"
`tensorflow.python.framework.errors_impl.InvalidArgumentError: 2 root error(s) found.`
`     (0) Invalid argument:  In[0] mismatch In[1] shape: 1108 vs. 1120: [42,1108] [1120,256] 0 0`
 `   [[node model/dense/MatMul (defined at rnn_flickr_fit.py:273) ]]`
`   (1) Invalid argument:  In[0] mismatch In[1] shape: 1108 vs. 1120: [42,1108] [1120,256] 0 0`
   ` [[node model/dense/MatMul (defined at rnn_fl

[2021-07-02 12:54] UsharaniPagadala commented on #50338
@lyw615

Could you please refer this [blog](https://dobromyslova.medium.com/making-work-tensorflow-with-nvidia-rtx-3090-on-windows-10-7a38e8e582bf) and also see the  [comment](https://stackoverflow.com/questions/65676011/invoking-gpu-asm-compilation-is-supported-on-cuda-non-windows-platforms-only-re),  hope it helps.Thanks

[2021-07-02 13:11] sushreebarsa commented on #39566
@LryF  Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-02 13:13] sushreebarsa commented on #39403
@AdrienCorenflos  Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-02 14:10] erilyth commented on #4094
I have a usecase where I haven't been able to work around with tf.no_ops within cond branches.

I run an eval pipeline where I run metric update ops per batch based on a condition on the inputs. Then I run a final metric op to retrieve the metrics.

Pseudocode:
iter = tf.data.Iterator on a dictionary ['input': float32, 'type' string]

def compute_metrics(x):
  _, metric_op = tf.metrics.mean(x, met

[2021-07-02 14:20] FalsoMoralista opened #50583 "[Colab TPU] [TF 2.5] UnavailableError: Socket closed"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
  - Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
  - Google Colab  enviroment
- TensorFlow version (use command below):
 - 2.5
- Python version:
  - 3.7.10

### Context:
My model was training ok untill a certain number of steps then throwing the error mentioned

[2021-07-02 14:47] Saduf2019 commented on #29625
@oliverdain
Please post this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues).
To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-02 14:49] Saduf2019 commented on #29576
@183amir
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-02 14:50] #29576 closed

[2021-07-02 14:50] callumm-graphcore commented on #50551
I was looking at this a bit more today and learned about `tf.enable_control_flow_v2()`, and learned that adding this works around the issue. For example, instead of this, which throws the error described above:

[code]

We have this, which results in the program running successfully:

[code]

 I assume this is because instead of putting the control flow in the graph using `Switch` and `Merge` node

[2021-07-02 14:55] Saduf2019 commented on #29572
@prannayk
Please post this issue on[ keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-02 14:55] #29572 closed

[2021-07-02 14:56] Saduf2019 commented on #29478
@EmanueleGhelfi
Please post this issue on[ keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-02 14:56] #29478 closed

[2021-07-02 15:02] UsharaniPagadala commented on #50562
@seermer

I was able to reproduce the issue reported here in tf2.5 with no errors.Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/fbff8db5d4e1645ef9f63651111f9754/untitled127.ipynb#scrollTo=RlmP-up0p_-V).Thanks

[2021-07-02 15:10] Saduf2019 commented on #28773
@smatzek
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-02 15:10] #28773 closed

[2021-07-02 15:11] Saduf2019 commented on #28215
@koute

Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-02 15:11] #28215 closed

[2021-07-02 15:12] Saduf2019 commented on #28176
@NMAC427

Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-02 15:12] #28176 closed

[2021-07-02 15:12] UsharaniPagadala commented on #50546
@TaeheeJeong

Thank you for your update, glad it is useful for you, kindly move this issue to closed status as it is resolved.

[2021-07-02 15:15] Saduf2019 commented on #28154
@thuyen

Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-02 15:16] Saduf2019 commented on #28073
@andreas-eberle

    Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
    To know more see;
    https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-02 15:16] #28073 closed

[2021-07-02 15:19] Saduf2019 commented on #27170
@jackd

Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-02 15:19] #27170 closed

[2021-07-02 15:21] Saduf2019 commented on #25974
@prateethvnayak
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-02 15:22] Saduf2019 commented on #33566
@mmalekzadeh
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-02 15:24] Saduf2019 commented on #33986
@josephcappadona
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-02 15:29] RaskiTech commented on #45897
Yep, same problem here. I was trying to use cppflow but the road ended here instead

[2021-07-02 15:39] YiZeng623 commented on #28924
Found an easy solution for this problem in Tensorfolw v 2.xx.xx:

import tensorflow.compat.v1 as tf
tf.disable_eager_execution()

[2021-07-02 15:43] sushreebarsa commented on #43753
@DavidInWuhanChina  Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-02 15:54] sushreebarsa commented on #29855
@allenbangai Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-07-02 15:54] #29855 closed

[2021-07-02 15:59] tilakrayal commented on #50576
@xzy-666 ,

We see that you are using tf version 1.13, 1.x is not actively supported, please update to 2.x and let us know if you are using same issue.Thanks!

[2021-07-02 16:14] miladtoutounchian opened #50584 "RBF Custom Layer in Tensorflow can not learn the centers (mu) parameters"
Using Google Colab with TF version 2.5

[2021-07-02 16:17] miladtoutounchian commented on #50584
[Bug.zip](https://github.com/tensorflow/tensorflow/files/6755781/Bug.zip)

[2021-07-02 16:21] miladtoutounchian commented on #50584
from tensorflow.keras.layers import Layer
from tensorflow.keras import backend as K

class RBFLayer(Layer):
    def __init__(self, units, gamma, **kwargs):
        super(RBFLayer, self).__init__(**kwargs)
        self.units = units
        self.gamma = K.cast_to_floatx(gamma)

    def build(self, input_shape):
        self.mu = self.add_weight(name='mu',
                                  shape=(in

[2021-07-02 16:23] xzy-666 commented on #50576
hello, @tilakrayal
Personally, I think my question has little to do with tensorflow. It is more about forward reasoning.Thanks!

[2021-07-02 16:28] tilakrayal commented on #50582
@mathshangw ,

Code shared is full of indentation errors, please share a colab gist with issue reported or complete code with dependencies.Also please share the tensorflow version you are using.Thanks

[2021-07-02 16:31] UsharaniPagadala commented on #50583
@falcondai

I am facing dependency errors,Could please provide the colab gist with all the required dependencies to analyse the issue.Thanks

[2021-07-02 16:34] mathshangw commented on #50582
`tensorflow          2.5.0`
`tensorflow-gpu                1.15.0`

i tried to write a code and avoid the indentation errors but couldn't .. How can i write it well ?

[2021-07-02 16:54] #43100 closed

[2021-07-02 16:56] sushreebarsa commented on #43938
@rkuo2000 Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-07-02 17:14] seermer commented on #50562
Thanks for helping. Just to clarify, I don't think there will be any error showing up, since the message shows up as a part of the TensorFlow logging information. Colab doesn't output the log, so we can't see it.

I opened this issue only because exited with -1 sounds like something problematic, but the solution provided by log (add ptxas to $PATH) does not help at all. So I would like to know how

[2021-07-02 17:17] shigabeev commented on #45963
Problem still persists and it lies in the image provided by Google Cloud itself. The solution is to always be defensive to any pre-installed tensorflow distribution and install one manually.

Quick fix is:
`pip install --upgrade --force-reinstall tensorflow`

[2021-07-02 17:29] alecgunny commented on #42660
@sushreebarsa I'm actually no longer a part of the team on whose behalf I filed this issue. @miguelusque it looks like the [corresponding workaround](https://github.com/NVIDIA/NVTabular/blob/a04cbeed73a4ec7ad840471f2cd8db1ea6110ff1/nvtabular/loader/tensorflow.py#L334) is still being used in NVTabular, so I would recommend getting in touch with @EvenOldridge about whether someone from that team is

[2021-07-02 17:51] lu-wang-g commented on #49835
From the [source code](https://github.com/tensorflow/tensorflow/blob/5dcfc51118817f27fad5246812d83e5dccdc5f72/tensorflow/lite/delegates/gpu/java/src/main/java/org/tensorflow/lite/gpu/GpuDelegate.java#L90), quantized models should be enabled as default. And @Cy-r0 is using the nightly build.

Looped in @srjoglekar246 to take a look.

[2021-07-02 18:05] #49890 closed

[2021-07-02 18:14] vangalamaheshh opened #50585 "Error in using next() method with DirectoryIterator"
`
train_images, train_labels = next(batch_obj['train'])
`

errors out with,

`
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-6-674a9be77381> in <module>
----> 1 train_images, train_labels = next(batch_obj['train'])

/opt/conda/lib/python3.8/site-packages/keras_preprocessing/imag

[2021-07-02 18:49] ymodak commented on #47552
Closing since the associated PR has been merged. Thanks!

[2021-07-02 18:49] #47552 closed

[2021-07-02 18:55] szutenberg commented on #50467
Hi @rschumi0 ,

Please have a look at [tf.keras.layers.Masking docs](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Masking).

I think that the error message may be confusing so I pushed PR #50586 .

[2021-07-02 19:05] TMPhoenix commented on #46840
Just came by to say that we too were seeing issues with this and a downgrade of pillow to 8.2.0 has worked around the issue for now.

[2021-07-02 19:57] #48768 closed

[2021-07-02 21:14] jvishnuvardhan commented on #47971
@mattia- Do you have GPU in your system? can you try reinstalling TF as `!pip install tf-nightly-cpu`. If you just use `!pip install tf-nightly`, it looks for GPU. If you have GPU, then automatically it installs GPU enabled TF.

As far as I know, this is not an issue with TF code but something with the system. So, may be unistall and reinstall TF-cpu and test again. You could also check it in goog

[2021-07-02 22:32] ymodak commented on #42389
Closing this issue since tensoflow/io repo is the right place for this issue.
To know more refer the issue tagged above in the thread. Thanks!

[2021-07-02 22:32] #42389 closed

[2021-07-02 22:58] RedJyve opened #50587 "custom implementation request: SparseReorder, SparseTensorDenseMatMul"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows10, x86-64
- TensorFlow installed from (source or binary): source
- TensorFlow version (or github SHA if from source): 2.7.0-dev20210702

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**
Provide a reproducible test case that is the bare minimum necessary to ge

[2021-07-02 23:55] jvishnuvardhan commented on #44730
@lschneidpro With the modification suggestion by @grofte , it works on my local without any issue.

However, you need to update code by looking at the warnings as shown in the following trace.

[code]

I am closing this issue as this was resolved. Please feel free to reopen if I am mistaken. Thanks!

[2021-07-02 23:55] #44730 closed

[2021-07-03 00:17] jvishnuvardhan commented on #50516
@dennymarcels When you write custom callback, you can inherit ModelCheckpoint callback and write the weights based on the performance of a metric. Please check [this example](https://github.com/tensorflow/tensorflow/issues/33163#issuecomment-833383468). When you want to load weights, you can choose weights of last iteration/batch/epoch or best weights as mentioned in [this TF tutorial](https://www

[2021-07-03 01:15] #50205 closed

[2021-07-03 01:15] #27822 closed

[2021-07-03 01:16] #27902 closed

[2021-07-03 01:16] #27910 closed

[2021-07-03 01:16] #28004 closed

[2021-07-03 01:16] #26100 closed

[2021-07-03 01:16] #37488 closed

[2021-07-03 01:16] #37057 closed

[2021-07-03 01:16] #50123 closed

[2021-07-03 01:16] #48402 closed

[2021-07-03 01:16] #40536 closed

[2021-07-03 01:16] #41045 closed

[2021-07-03 01:16] #45223 closed

[2021-07-03 01:16] #48702 closed

[2021-07-03 02:03] dennymarcels commented on #50516
I did [post an issue there](https://github.com/keras-team/keras/issues/14862), and while writing it I figured I was not that clear here. Thank you nonetheless. Closing.

[2021-07-03 02:03] #50516 closed

[2021-07-03 02:13] #49246 closed

[2021-07-03 02:13] #49512 closed

[2021-07-03 02:13] #50219 closed

[2021-07-03 02:13] #50230 closed

[2021-07-03 02:13] #50250 closed

[2021-07-03 02:13] #25064 closed

[2021-07-03 02:13] #25044 closed

[2021-07-03 02:13] #50238 closed

[2021-07-03 02:13] #49850 closed

[2021-07-03 02:13] #43297 closed

[2021-07-03 02:13] #46621 closed

[2021-07-03 02:13] #40287 closed

[2021-07-03 02:13] #50117 closed

[2021-07-03 02:13] #50218 closed

[2021-07-03 02:13] #24823 closed

[2021-07-03 02:13] #24951 closed

[2021-07-03 02:13] #24605 closed

[2021-07-03 02:13] #24672 closed

[2021-07-03 02:13] #42153 closed

[2021-07-03 03:02] sclarkson commented on #50545
Tagging @jzhoulon who re-introduced the bug, and @annarev who fixed this last time. It looks like there was some discussion about this reordering in PR #43610.

[2021-07-03 05:05] kenyonke commented on #50507
You need to run this code on gpus, it works on cpu or single gpu. Colab doesn't use multiple gpu even if you add
```strategy = tf.distribute.MirroredStrategy(["GPU:0", "GPU:1"])```
You can see this link
[https://colab.research.google.com/drive/1tEpZ1TQxyfh-Mz5uDPPXy3RDnX4_yCBM?usp=sharing](url)

[2021-07-03 07:40] japrogramer commented on #50372
This seems to be an issue with the nightly build of tensorflow

[2021-07-03 08:24] seermer commented on #50324
same for MobileNetV3

[2021-07-03 10:34] Nizarazo commented on #49910
Hi @jvishnuvardhan

Still waiting for your reply regarding my previous comment.

Thanks

[2021-07-03 10:54] OleksandrGrument commented on #45845
So, the problem is with multiplication 2 2d matrix
according to scheme here is them formula [170,1] x [170,8] = [170,8]
On initilalization looks like no rules for this case

![image](https://user-images.githubusercontent.com/20426405/124351885-af5d3300-dc05-11eb-9ac8-640959244989.png)

[2021-07-03 12:15] chuckhope commented on #35393
In my multi_lable_classification task, I try to use numpy operation in the custom metric and I have added "run_eagerly = True", but still failed

[2021-07-03 12:47] suvadityamuk opened #50589 "W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found"
**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow installed from (source or binary): pip
- TensorFlow version: 2.5.0
- Python version: 3.8.10
- Installed using virtualenv? pip? conda?: pip

- CUDA/cuDNN version: 11.4
- GPU model and memory: NVIDIA GTX 1650Ti 4GB

Upon writing `import tensorflow as tf` in the command prompt-bases python interpreter, it displays the foll

[2021-07-03 12:50] mathshangw commented on #50582
is there any help please ?

[2021-07-03 12:56] FalsoMoralista commented on #50583
Working on that

[2021-07-03 13:48] FalsoMoralista commented on #50583
@UsharaniPagadala let me know if there are any permission issues

[gist link](https://colab.research.google.com/drive/1ZTeOA8-2UUqljrqM6G3MblD_D7NZEOhl?usp=sharing)

[2021-07-03 15:40] victoryang00 commented on #45882
Sounds like Nvidia does not provide the runtime support for WSL2.

I use the `CMakeList.txt` file to make my test program compilable
[code]

[2021-07-03 15:47] xykong commented on #30372
Hello @novog , I tried this idea, It's much faster than tf.train.Feature. But I can't make the read pipeline work.
When I call tf.io.parse_tensor, it's failed with the error message
2021-07-03 23:35:01.655594: W tensorflow/core/framework/op_kernel.cc:1755] Invalid argument: ValueError: Tensor conversion requested dtype string for Tensor with dtype int32: <tf.Tensor: shape=(9, 9, 395), dtype=int32,

[2021-07-03 15:50] sushreebarsa commented on #36740
@mankeyboy  Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-03 15:55] #37131 closed

[2021-07-03 16:06] sushreebarsa commented on #39627
@dynamicwebpaige Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-03 16:11] sushreebarsa commented on #41671
@zhilothebest Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-03 16:31] sushreebarsa commented on #27896
@echo66 Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-03 16:36] sushreebarsa commented on #32761
@rodrigob  Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-07-03 16:39] sushreebarsa commented on #32912
@matpalm Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-03 16:44] djbacad opened #50590 "C++ compilation of rule error with/ Error C2664 -> Build did NOT complete successfully"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 64 bit
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.5.0
- Python version: 3.8
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): 3.7.

[2021-07-03 16:50] sushreebarsa commented on #39857
@philippeller  Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-03 17:04] sushreebarsa commented on #40035
@caffeine-lab Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-03 17:06] sushreebarsa commented on #39985
@Svdvoort  Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-03 17:10] sushreebarsa commented on #40178
@fzyai  Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-07-03 17:10] #40178 closed

[2021-07-03 17:15] sushreebarsa commented on #40345
@buddhapuneeth Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-03 18:20] pp2015jp opened #50591 "Undefined symbols for architecture arm64"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac BigSur
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Ipad 2021
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from source):
- GCC/Compiler version (if

[2021-07-03 19:01] ayomtuase commented on #24634
Please I don't understand how to apply your solution to my problem here

2021-07-03 18:46:15.428635: I tensorflow/lite/toco/import_tensorflow.cc:193] Unsupported data type in placeholder op: 19
2021-07-03 18:46:15.433220: F tensorflow/lite/toco/import_tensorflow.cc:2690] Check failed: status.ok() Unexpected value for attribute 'T'. Expected 'DT_FLOAT'
Aborted (core dumped)

I am currently using Go

[2021-07-03 19:11] suvadityamuk commented on #50589
Is this due to a possible conflict in versions of different packages?

[2021-07-03 20:35] mryusefVahedi01 opened #50592 "Closing as stale. Please reopen if you'd like to work on this further."
Closing as stale. Please reopen if you'd like to work on this further.

_Originally posted by @google-ml-butler[bot] in https://github.com/tensorflow/tensorflow/issues/49920#issuecomment-873439262_

[2021-07-04 01:36] novog commented on #30372
@xykong If I understand your question correctly, you are trying to use `parse_tensor` to transform the serialized string that we created back to a tensor. Instead, you would need to call `pickle.loads` on the string after reading it in from disk. Doing so will yield the `feature_dict` object that we had serialized.

In any case, I believe that the general movement has been toward using Keras funct

[2021-07-04 01:48] mathshangw commented on #47222
did you solve it ?

[2021-07-04 01:52] miguelCalado opened #50593 "Multi-GPU doesn't work for model(inputs) nor when computing the gradients"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Desktop
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): 2

[2021-07-04 03:28] sushreebarsa commented on #35939
@aabadie This is a micro related issue,Please post this in [micro repository](https://github.com/tensorflow/tflite-micro/issues) Thanks!

[2021-07-04 03:32] sushreebarsa commented on #38426
@Ashwini-prkt  This is a micro related issue,Please post this in [micro repository](https://github.com/tensorflow/tflite-micro/issues)  and move this issue to closed status..Thanks!

[2021-07-04 03:34] sushreebarsa commented on #40935
@fran203  This is a micro related issue,Please post this in [micro repository](https://github.com/tensorflow/tflite-micro/issues) and move this issue to closed status  ..Thanks!

[2021-07-04 03:37] sushreebarsa commented on #42170
@YarivCol  This is a micro related issue,Please post this in [micro repository](https://github.com/tensorflow/tflite-micro/issues)   and move this issue to close status..Thanks!

[2021-07-04 05:08] djbacad commented on #36055
Does someone have any updates here? I'm getting the same error

[2021-07-04 05:16] djbacad commented on #50589
What cuDNN version are you using?  (you only mentioned CUDA)I was having the same problem before and I was able to solve it by installing versions that are suggested by the [tested build configurations](https://www.tensorflow.org/install/source#tested_build_configurations).

[2021-07-04 05:24] this-is-shashank commented on #36508
**RuntimeError: Physical devices cannot be modified after being initialized**

[2021-07-04 05:52] teeters commented on #50124
I seem to be having the same issue. I have a model that uses inferred labels for a large image dataset, and I mapped them to numeric ids using the class_names argument. It was all working properly until a few days ago.

[2021-07-04 07:07] CaptainDario commented on #50124
@teeters could you try removin a part of the samples and see if the issue persists? For me it was solved when i removed 50% of the samples of every class.

[2021-07-04 07:52] kurudinesh opened #50594 "tensorflow.data.experimental.load not working inside tensorflow.data.Dataset().flatmap"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 and Google Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command bel

[2021-07-04 08:02] kurudinesh commented on #17415
I have also asked in https://stackoverflow.com/questions/68241938/trying-to-load-dataset-inside-flat-map-got-error-typeerror-expected-str-bytes

[2021-07-04 08:03] buddhapuneeth commented on #40345
@sushreebarsa
I am seeing same old issue on TF 2.5.0
Tried on Mac TF 2.5.0 (installed using pip)

[2021-07-04 09:51] suvadityamuk commented on #50589
CuDNN version 8.2.1, apparently. Seeing your link, it apparently is not compatible with said version as such. I am currently re-installing all the tools from scratch, and will check after that. Thank you

[2021-07-04 10:12] barabanus opened #50595 "Please support TFLite gradient operations: BroadcastGradientArgs, StridedSliceGrad and some other"
Within our company we trained a breakthrough realtime model which requires automatic differentiation feature at runtime. To be more specific, the model's output should be forward pass outputs + derivative of runtime loss function with respect to some input control variables.

We use TFLite to run the model, but we can't use TF Select kernels because our runtime environment is very strict (video ga

[2021-07-04 10:25] suvadityamuk commented on #50589
Nope, does not solve the problem for me.

Current versions :
Tensorflow -
![image](https://user-images.githubusercontent.com/70141886/124381362-ab9ddf00-dcdf-11eb-838a-e894668a3d2b.png)
Keras -
![image](https://user-images.githubusercontent.com/70141886/124381368-b5bfdd80-dcdf-11eb-960c-0b4771379d76.png)
CuDNN -
![image](https://user-images.githubusercontent.com/70141886/124381384-d5ef9c80-dcdf-11

[2021-07-04 10:59] WingsOfPanda commented on #47884
@jvishnuvardhan Hi. Any update? Have you able to run my code after reduce the input size? Thank you!

[2021-07-04 11:05] bibhu107 commented on #19458
Hi,  @Akshathar8, Read this line   Caused by: java.io.IOException: Not a valid TensorFlow Graph serialization: Input 1 of node embedding/embedding_lookup was passed float from inputTensor:0 incompatible with expected int32.

[2021-07-04 11:58] emre84 commented on #50571
Hi Tilakrayal, I upgraded my tf to 2.0.0, unfortunately it still occurs.

Hi Thaink, when I tried to convert my saved model to frozen model, I recognised that I do not have any defined output nodes.

Code for frozen model creation:
https://blog.metaflow.fr/tensorflow-how-to-freeze-a-model-and-serve-it-with-a-python-api-d4f3596b3adc
At Line 51:
output_node_names.split(",")
Error message:
assert d i

[2021-07-04 12:03] SouthernYoda commented on #39414
@leehanchung I am encountering an error with your code sample and I'm still relatively new to tf.data so I'm not sure how to resolve this error.

In the method I am taking a pandas dataframe with multiple features and converting it into tensors, I'm then creating a window of length 5 which works but I encounter an error when I try to flatten the structure,

Would you know who to resolve this?

<h2

[2021-07-04 12:40] djbacad commented on #50589
In my understanding, you intend to utilize the GPU support right? Can you try doing `pip show tensorflow-gpu` and show the result? Also,[ guide](https://www.tensorflow.org/install/gpu#windows_setup) here tells that these (sample) are the necessary envi variables to be set:

[code]

[2021-07-04 13:48] suvadityamuk commented on #50589
@djbacad As I read the guides, it said that after Tensorflow 2.5.0, we can simply use
`pip install tensorflow`.
Due to this, doing pip show tensorflow-gpu just doesn't do anything as such.
Also, all env variables mentioned here have been set. I did that as well, but this problem still crops up.

[2021-07-04 14:01] ThisIsIsaac commented on #31051
Thanks for the catch! will close

[2021-07-04 14:01] #31051 closed

[2021-07-04 14:41] dushyantkumr1 commented on #45882
Hi Abhilash,

Yes, I was able to install that.

Would it be okay if I respond in a couple of days as I am busy with some
important submission? It will also take me some time to remember what
exactly I did.

You can email me at ***@***.***

Regards,
Dushyant

==============================

Dushyant Kumar

Dept. of Radiology,

University of Pennsylvania,

Philadelphia, PA, 19104
===================

[2021-07-04 16:37] Saduf2019 commented on #50589
@suvadityamuk
Can you please refer to [this link ](https://stackoverflow.com/questions/59823283/could-not-load-dynamic-library-cudart64-101-dll-on-tensorflow-cpu-only-install)and let us know.

[2021-07-04 16:41] vangalamaheshh commented on #50585
Closing this as resolved.
Apparently, Pillow 8.3.0 was the culprit.
Downgraded it to 8.2.0 and things are peachy now.

Best,
Mahesh

[2021-07-04 16:41] #50585 closed

[2021-07-04 17:13] #28225 closed

[2021-07-04 17:42] suvadityamuk commented on #50589
@Saduf2019 I have tried going through these steps as well. The answer which involved shifting the file to the System32 path did end up working, but it seems to be nothing better than a stop-gap solution as such. Is there a better method to solve this problem once and for all?

[2021-07-04 18:36] teeters commented on #50124
So, I haven't tried removing data, but I did try visualizing some of the images using this code:

[code]

(`class_names` is a dict that maps the string class names to their desired numeric ids). The images show up with the correct ids and string names. So maybe the shuffling is happening somewhere else in the training process.

[2021-07-04 18:45] teeters commented on #50124
@CaptainDario how did you view the one-hot vectors in this post?

[2021-07-04 18:48] alvinrach commented on #33721
I just face this issue. Using LSTM and embedded layer. However, when I reduce 65k data to 50k data, the problem is solved. Anyone knows why is that? using TF 2.5.0

[2021-07-04 19:11] sebgra commented on #47222
This hasn't be solved yet. The only solution that I've found is to pad sequence with zeros to get series of the same time. Indeed, the power of the model is unfortunatly decreasing.

[2021-07-04 19:11] Oezkan23 opened #50596 "How to access elements of an input tensor in custom layers?"
I wanted to assign an element of input tensor X to an element of an output tensor Y inside a custom layer like

Y[0,0,0,0] = X[0,1,1,1]

For example:

[code]

If the call-function returns X , then X[0,1,1,1] is not anymore a sequence after it passed the modell.
It make not sense to use custom layers if you have no access to the elements of an input tensor as expected.
For example:
[code]

The Outp

[2021-07-04 20:40] kpei opened #50598 "TFLite conversion of LSTM model does not work with multiple batch size"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Kaggle Notebook (standard ubuntu)
- TensorFlow installed from (source or binary): Pip install tensorflow==2.5.0
- TensorFlow version (use command below): 2.5.0
- Python version: 3.7
- CUDA/cuDNN version: CPU Only
- GP

[2021-07-04 21:51] #20702 closed

[2021-07-04 23:47] rschumi0 opened #50599 "ConvLSTM2D layer wrong computation"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.4.0-rc4-71-g582c8d236cb 2.4.0
- Python version: 3.8.5

**Describe the current behavior**

There seems to be something wrong with the computation of the ConvLSTM2D layer. I tried to do the computation manua

[2021-07-05 01:42] Chen8023 commented on #45590
Thanks！！!It also works for me.

[2021-07-05 02:26] thaink commented on #50571
Hi,
You can check if your saved model contains valid signature_def following: https://www.tensorflow.org/guide/saved_model
Starting from:

[code]

If the saved model does not contains input, output information, the conversion might not work properly.

[2021-07-05 03:02] thaink commented on #21526
https://github.com/tensorflow/tensorflow/issues/50595 requests BroadcastGradientArgs, DynamicStitch, EluGrad, Sign, StridedSliceGrad, UnsortedSegmentSum

[2021-07-05 03:03] thaink commented on #50595
It will take time to review and add ops. You can use https://www.tensorflow.org/lite/guide/ops_select at the moment to unblock the conversion.

[2021-07-05 03:04] renjie-liu commented on #50598
Currently the fusion only works if the input shape is fixed, can you try to set the batch_size to 1? thanks!

[2021-07-05 03:07] thaink commented on #50576
An example to run tflite with C++ API is here: https://www.tensorflow.org/lite/api_docs/cc/class/tflite/interpreter

[2021-07-05 03:20] thaink commented on #50587
I adding them  as Select TF Ops. Please wait a bit before it get merged.

[2021-07-05 03:27] thaink commented on #50590
Please use c++14 instead of std:c++latest.

[2021-07-05 03:29] RedJyve commented on #50587
Thank you very much!

[2021-07-05 03:29] #50587 closed

[2021-07-05 03:51] EricTheRed20 commented on #50502
Sorry, but the problem is still there!

After waiting a few days, I then installed the latest nightly build ( tf_nightly-2.7.0.dev20210704-cp37-cp37m-win_amd64.whl ) into a separate virtual environment.

After implementing the changes suggested, the error message when including "training=True" for BatchNormalization() has changed to a different one  (TF Select ops: FusedBatchNormV3
Details: tf.Fus

[2021-07-05 04:01] djbacad commented on #50590
Thank you for your response, but apparently it didn't help. I'm starting to think this is an issue on compatibility of versions. I hope someone can provide here a complete list that contains system information and other necessary dependencies that leads to a successful build, so I can upgrade/downgrade as necessary

[2021-07-05 04:07] zuozhen commented on #44694
@karimnosseir
I'm in same situation as @Makkiy  that "we are working with a long pipeline from PyTorch -> ONNX -> savedmodel -> TFLite, it appears hard to control dtype in the savedmodel stage, where the Int64 Add appears."
I read the 'load and save' part, but still not get the point, could you please help how to fix?
   "1. Change the Add to use I32 instead of I64.
    2. Add Cast before the Add

[2021-07-05 04:11] tilakrayal commented on #50590
@djbacad ,

Please refer the [link](https://www.tensorflow.org/install/source_windows#gpu) for tested built configurations which are compatible with tf v2.5. It helps.Thanks!

[2021-07-05 04:21] tilakrayal commented on #50582
@mathshangw ,

Please refer this [link](https://www.geeksforgeeks.org/indentation-in-python/) for information on indentation.Without the reproducible code, it would be difficult for us to debug the issue. In order to expedite the trouble-shooting process, please provide the complete code.Thanks!

[2021-07-05 04:36] tilakrayal commented on #50593
@miguelCalado ,

TF v2.4 are built and tested against CUDA 11.0. Could you please check if you are facing the same error with CUDA 11.0 and cuDNN 8 and please let us know if you are facing same issue again.Please refer this link for [tested built configurations](https://www.tensorflow.org/install/source#gpu).Thanks!

[2021-07-05 04:53] thaink commented on #50587
the fixed is merged to master branch. You can try it in tomorrow nightly.
However, you will need to treat them as Select TF Ops. Please follow https://www.tensorflow.org/lite/guide/ops_select

[2021-07-05 05:07] karimnosseir commented on #50502
In your sample code, you didn't enable TF Select. You need to enable them since we don't support these ops natively.

See instructions [here](https://www.tensorflow.org/lite/guide/ops_select#convert_a_model)

Basically for conversion you need to add
[code]

[2021-07-05 06:13] sushreebarsa commented on #37132
@mathemakitten  Thank you for your update, glad its working fine for you, kindly move this issue to closed status as it is resolved.

[2021-07-05 06:14] UsharaniPagadala commented on #50594
@kurudinesh
Could you please fill the [template](https://github.com/tensorflow/tensorflow/issues/new?assignees=&labels=type%3Abug&template=00-bug-issue.md) to analyse the issue reported here.Thanks!

[2021-07-05 06:22] Saduf2019 commented on #50589
@suvadityamuk
You have used pip install hence its working as expected outside the venv, this is not a bug or error it is working as expected.

[2021-07-05 06:24] suvadityamuk commented on #50589
I ran the pip install within the venv, not outside. Is that still supposed to work as such?

[2021-07-05 06:39] sushreebarsa commented on #42660
@EvenOldridge, can you please respond to the above comment?

[2021-07-05 06:43] rmothukuru commented on #45590
@liuxufenfeiya,
Can you please let us know if we can close this issue as it has been resolved? Thanks!

[2021-07-05 06:59] rmothukuru commented on #50125
@shangh1,
We recommend the Developers to switch to **`Tensorflow Version, 2.x`**.  Please refer the [Migration Guide](https://www.tensorflow.org/guide/migrate) and [Upgrade Guide](https://www.tensorflow.org/guide/upgrade) which makes migration from **`Tensorflow Version 1.x`** to **`Tensorflow Version 2.x`** easier. Thanks!

[2021-07-05 07:03] NoraAl commented on #48313
Any update?

[2021-07-05 07:27] RushilVerma opened #50606 "InternalError: dnn PoolBackward launch failed in average_pooling2d/AvgPool/AvgPoolGrad"
[Link to Full notebook of training](https://github.com/RushilVerma/different-cats/blob/911b9c1d6cb4439626323697c6f634d4cce9701d/Training%20model_.ipynb)
I have recently run into an error after I enabled XLA devices  in tensor flow by :
os.environ['TF_XLA_FLAGS'] = '--tf_xla_enable_xla_devices'
After ward I was able to run predictions over the GPU but it gave following errors when I was fitting the

[2021-07-05 07:38] CaptainDario commented on #50124
@teeters  I trained a model on my data and gave it examples with the specific label.
And allways when I gave a sample from class "0010" it returned `[0, 0, 1, ...]`. Therefore I am sure that it actually learned the right thing just with the wrong label...

[2021-07-05 07:45] hyperfraise commented on #32796
This tutorial isn't about tensorflow-lite, is it ?

I see here that still no 3d ops are supported https://www.tensorflow.org/mlir/tfl_ops

I see in quantization schemes that 3D conv still isn't supported https://www.tensorflow.org/lite/performance/quantization_spec

[2021-07-05 07:51] yanzhang-dev opened #50607 "How to use the TF_VARIANT with C APIs?"
Hi,

Currently, we can create or get a `TF_Tensor` with `TF_FLOAT` data type, and then manipulate the raw data buffer by the pointer from `TF_TensorData`. For example,

[code]

But for the data type TF_VARIANT, we can't manipulate it directly like float type. Do we have any examples about how to use it ?

Thanks

[2021-07-05 08:32] liuzhiwei1997 commented on #50525
I still don’t know how to solve this problem, can I talk about it in detail

[2021-07-05 08:40] magicianofriga commented on #35100
Hi,
I seem to be facing the same issue with Leela Chess Zero training.

message.txt
I have tried various fixes to this problem (changing the parser, changing CUDA version, changing Python version, changing TF version etc). But it continues to persist. Please help me rectify this issue.

My current PC configuration:
8 GB RAM
Intel i7-4790K
NVIDIA RTX 2070 SUPER
1TB SSD

My current requirement setup

[2021-07-05 09:42] mattia- commented on #47971
@jvishnuvardhan

I managed to install it and test it. Here are the results on my machine:
[code]
[code]

It looks better than before, but to be honest I can still see the upwards trend in the training times.
Thanks!

[2021-07-05 09:49] Neronjust2017 opened #50611 "GPU memory usage does not increase when using multithreading in python"
Hi, I am working on deploy some yolo v3 models (keras) on the GPU of our server. However, I found that, when I use multithreading programming in python to deploy multiple models and let them predict in parallel, the GPU memory usage does not increase, the GPU memory usage is almost as much as one single model, which makes me very confused. Could someone help me?

load and predict one by one:
**mod

[2021-07-05 09:54] miguelCalado commented on #50593
Yes, it still does. I edited the *system information* to not cause any more confusion.

[2021-07-05 10:39] Saduf2019 commented on #50589
@suvadityamuk
 Please share the pip list for the venv you are using.

[2021-07-05 10:49] brunovollmer commented on #50514
Is there any difference between building the binaries and building the wheel (and installing it with pip) for the final usage?

[2021-07-05 10:51] rschumi0 opened #50612 "cropping layer additional error message"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.4.0-rc4-71-g582c8d236cb 2.4.0
- Python version: 3.8.5

**Describe the current behavior**
When a cropping layer (Cropping1D, Cropping2D,Cropping3D) is used, it can happen that the cropping value is accident

[2021-07-05 10:54] suvadityamuk commented on #50589
`pip list`
![image](https://user-images.githubusercontent.com/70141886/124460674-4adcd800-ddad-11eb-8071-14ca601c40b5.png)
![image](https://user-images.githubusercontent.com/70141886/124460701-529c7c80-ddad-11eb-8f89-50ff1e801bfa.png)
![image](https://user-images.githubusercontent.com/70141886/124460720-56c89a00-ddad-11eb-8a07-1a58011e38ab.png)
![image](https://user-images.githubusercontent.com/70

[2021-07-05 11:00] ligang1841 commented on #43174
I solved my problem,
use cuda 11.0 and cudnn 8.0.5(with cuda11.0), in ubuntu 20.04,and nvidia driver = 460.84, for my GTX 1660ti
other version of cuda(11.2 , 11.1) will get the error

[2021-07-05 11:13] #50138 closed

[2021-07-05 11:48] abattery commented on #50598
In my memory, the masking related issue has been fixed at the tf-nightly.

[2021-07-05 12:02] dtlam26 commented on #33925
Just include the newest new quantizer. And try to use the saved model export without the preprocess inside it.
[code]

[2021-07-05 12:09] tilakrayal commented on #50596
@Oezkan23 ,

Can you please fill the issue template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose) and also please let us know the tensorflow version you are using.Thanks!

[2021-07-05 12:36] terryheo commented on #50514
It depends on programming language you want to use.
PIP is for [Python API](https://www.tensorflow.org/lite/guide/python) and other binaries are for [C++](https://www.tensorflow.org/lite/api_docs/cc) or C.

[2021-07-05 12:48] brunovollmer commented on #48963
@migod35 How did you solve the problem?

[2021-07-05 12:52] Saduf2019 commented on #50589
@suvadityamuk
Cuda 11.4 is not tested, can you please refer to this link and use tested configurations, i suggest you can try 11.0 or 11.2 and let us know if the problem exist. [https://www.tensorflow.org/install/gpu]

also there seems to be the issue of a corrupted dll file due to which you have to explicitly mention the path in file 32 windows,
you can try rechecking this with a fresh venv insta

[2021-07-05 12:53] stacklikemind commented on #38012
The issue is **not occuring** in tensorflow==2.6.0rc0 and python 3.9.6 for me.

[2021-07-05 13:03] lgeiger opened #50613 "`tensorflow/python/keras` leads to inconsistencies when mixed with new Keras pip package in 2.6.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 11
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.6.0rc0
- Python version: 3.8

**Describe the current behavior**

Starting with TF 2.6.0rc0 [keras-team/keras

[2021-07-05 13:04] lgeiger commented on #44613
With TF 2.6.0 this issue is now is even more subtle since `tensorflow/python/keras` was replaced with `keras`, however the old import still work. Which leads to the following weirdness in TF 2.6.0:
[code]

[code]
Checkout [this notebook](https://colab.research.google.com/drive/1-TcroLTdI4fx4dk5P3Cq_vk5AfiYuVOo?usp=sharing).

I opened #50613 as a separate issue to discuss removal of `tensorflow/pyt

[2021-07-05 13:22] Saduf2019 commented on #50474
@rakshith291
Can you please share a use case to support your request.

[2021-07-05 13:25] brunovollmer commented on #50514
Thanks @terryheo. When I run the docker container to cross-compile the wheel it does not find docker. Any idea how to fix this? I cloned the latest version of the tensorflow repo.

Error Message:
[code]

[2021-07-05 13:26] stromal opened #50614 "Tensorflow GPU installation don't want to run this code"
**System information**
- Ubuntu 18.04 LTS
- Deep learning SageMaker with pre installed drivers and etc.
- AWS EC2 g4dn.xlarge

**ERORR**

**Describe the current behavior**
- Tensorflow GPU installation don't want to run this code
- while the CPU installation (other anaconda environment, built in AWS SageMaker anaconda evironment: "tensorflow2_p36") runs this code no problem (it is just slow as exp

[2021-07-05 13:59] suvadityamuk commented on #50589
@Saduf2019 I actually did reinstall Cuda 11.2, but that didn't do me any good as such.
I shall try creating a new venv and checking if this problem persists.

[2021-07-05 14:13] #50225 closed

[2021-07-05 14:20] Saduf2019 commented on #50372
@japrogramer
Please confirm if you have tried adding !pip uninstall keras-nightly before import keras makes as we are not facing the issue. [you my also try ! pip install tensorflow --upgrade and let us know]

[2021-07-05 14:31] Saduf2019 commented on #50589
@suvadityamuk

Do you wana try with 11.0 as per [this comment](https://github.com/tensorflow/tensorflow/issues/43174#issuecomment-874019987), though you are using windows

[2021-07-05 14:37] Saduf2019 commented on #50504
@harsh306
Is this still an issue

[2021-07-05 14:59] saikumarchalla commented on #50482
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-07-05 14:59] #50482 closed

[2021-07-05 16:00] RemiLacroix-IDRIS commented on #50392
@fischeru: I'm wondering if I have stumbled on the same issue:
[code]
causes error:
[code]

[2021-07-05 16:02] sushreebarsa commented on #21305
Hi There,

We are moving this issue to closed status, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions.
Please open a new issue for any help you need against 2.x, and we will get you the right help.Thanks!

[2021-07-05 16:02] #21305 closed

[2021-07-05 16:06] sushreebarsa commented on #21478
Hi There,

We are moving this issue to closed status, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions.
Please open a new issue for any help you need against 2.x, and we will get you the right help.Thanks!

[2021-07-05 16:06] #21478 closed

[2021-07-05 16:15] sushreebarsa commented on #21615
Hi There,

We are moving this issue to closed status, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions.
Please open a new issue for any help you need against 2.x, and we will get you the right help.Thanks!

[2021-07-05 16:15] #21615 closed

[2021-07-05 16:17] sushreebarsa commented on #21675
Hi There,

We are moving this issue to closed status, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions.
Please open a new issue for any help you need against 2.x, and we will get you the right help.Thanks!

[2021-07-05 16:17] #21675 closed

[2021-07-05 16:18] mmalekzadeh commented on #33566
I agree that there are different interpretations of `target` for a time window.

What I was trying to suggest is that if we consider `length=N`, this means that we generate a window including `N` samples.
We also have `N` targets associated with each of these `N` samples.

So, currently, this method considers the last target as the target of the whole window.

But in some applications, users may n

[2021-07-05 16:25] mtassano-gpfw opened #50616 "Multi-GPU issue: second A40 GPU returns zeros"
**System information**
- Have I written custom code: yes (code below)
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.5.0-rc3-213-ga4dfb8d1a71
- Python version: Python 3.6.9
- CUDA/cuDNN version: 11.2
- GPU model and memory: A40, 45634MiB (2X)

**Describe the current behavior**
I'm having difficulties

[2021-07-05 16:33] sushreebarsa commented on #27684
@cottrell Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-05 16:50] tilakrayal commented on #50612
@Saduf2019 ,
I was able to reproduce the issue in tf v2.4 and v2.5.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/6297e9900e309ab8d8bf02612967ab87/untitled50612.ipynb).

[2021-07-05 16:57] berhanpolat commented on #50557
I have managed torun my app with the latest tensorflow version in python. However it takes 10 sec for my mac to compute. I want to deploy my app to google app engine with bazel so that it computes sentence encoder multilingual under 1 second. Is there a way to manage this easily?

Thank you for your help!

Kind regards

Berhan Polat

[2021-07-05 17:04] sushreebarsa commented on #47805
@SunBeenMoon   This is a micro related issue , Please post this in [micro repository](https://github.com/tensorflow/tflite-micro/issues) & move this issue to closed status.. Thanks!

[2021-07-05 17:11] surak commented on #31020
@Flamefire was this ever fixed? I have it on Tensorflow 2.5.0

[2021-07-05 17:13] #50180 closed

[2021-07-05 17:24] PeterMitrano commented on #50440
I have reproduce the issue in colab:

https://colab.research.google.com/drive/18bLYBL6hAX8tNgxJ21qGAu81Hvt2h8Sy?usp=sharing

[2021-07-05 17:32] PeterMitrano commented on #50440
what permissions does the notebook need? I just set it to "anyone with link can view"

[2021-07-05 18:07] Oezkan23 opened #50617 "How to access elements of an input tensor in custom layers ?"
System: Python 3.8.3 64-bit | Qt 5.12.9 | PyQt5 5.12.3 | Linux 5.8.0-55-generic
tensorflow version: 2021-07-05 20:04:06.422679
keras version: 2021-07-05 20:04:06.422679

I wanted to assign an element of input tensor X to an element of an output tensor Y inside a custom layer like

Y[0,0,0,0] = X[0,1,1,1]

For example:

[code]
If the call-function returns X , then X[0,1,1,1] is not anymore a sequen

[2021-07-05 18:26] #37132 closed

[2021-07-05 18:43] vistart commented on #35842
The problem remains, but the details are different:
[code]

[2021-07-05 19:13] #50277 closed

[2021-07-05 19:13] #50303 closed

[2021-07-05 19:13] #50299 closed

[2021-07-05 19:13] #50332 closed

[2021-07-05 19:13] #50358 closed

[2021-07-05 19:13] #50354 closed

[2021-07-05 19:13] #50369 closed

[2021-07-05 19:13] #50368 closed

[2021-07-05 19:33] harsh306 commented on #50504
Yeah, I didn't find a proper way to do this.

[2021-07-05 20:48] rschumi0 opened #50618 "error reporting model(x) vs model.predict(x)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.4.0-rc4-71-g582c8d236cb 2.4.0
- Python version: 3.8.5

**Describe the current behavior**

The error and warning messages seem to be different when `model(x)` is used instead of `model.predict(x)`  to make

[2021-07-05 20:51] i-seesharp commented on #50618
Hi @saikumarchalla I'd like to contribute towards fixing this bug. Could you maybe point me in the right direction?

[2021-07-05 21:06] Azmisov opened #50619 "tf.repeat for RaggedTensor"
Wondering if we can get `tf.repeat` for the `tf.ragged` module?

The `tf.stack` and `tf.tile` ops are implemented, so doesn't seem like there would be a technical limitation for `tf.repeat`. My particular case is doing the repeat on one of the non-ragged dims. But seems you could do a repeat on a ragged tensor, so long as the `repeats` arg is scalar or matches the maximum row length. I did see a r

[2021-07-05 21:44] piEsposito commented on #48149
I'm having the same problem here.

[2021-07-05 22:13] Azmisov opened #50620 "tf.math.sigmoid/tanh for RaggedTensor"
I was surprised to see that two common activation functions, sigmoid and tanh, are not provided in `tf.ragged` module. Makes me wonder how many people are actually using RaggedTensor features with no feature requests for these.

I am currently calculating both via mathematical identities. However, I still think the API's between regular Tensor and RaggedTensor should be as close as possible, as id

[2021-07-05 22:13] #49605 closed

[2021-07-06 00:12] breadbread1984 opened #50622 "tf.shape can't infer sparse tensor shape in graph mode"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2021-07-06 01:24] EricTheRed20 commented on #50502
Thanks, I've added that bit of code.  It looks as though we are going in the right direction but am now getting a different error again "TFLite interpreter needs to link Flex delegate in order to run the model since it contains the following flex op(s): Flex ops: FlexFusedBatchNormV3, FlexRandomUniform".

The code is now as follows:-
[code]

Sorry, but could you have a look at it again.
Thanks
Eri

[2021-07-06 02:13] multiverse-tf commented on #36055
Which TFLite version did you use? Could you try out a more recent version? The RUY path mentioned in the original comment implies it's a pretty old TFLite version. RUY was moved out of TFLite to its own independent repo in April, 2020.

[2021-07-06 02:14] saikumarchalla commented on #50509
@annyan09023 It looks like the issue relates to the Keras component. Please submit it to the [github.com/keras-team/keras](github.com/keras-team/keras) repository. Thanks!

[2021-07-06 02:26] matpalm commented on #32912
happy to close, thought i actually had over a year ago sorry!

[2021-07-06 02:26] #32912 closed

[2021-07-06 02:26] saikumarchalla commented on #50592
@mryusefVahedi01  The issue was closed due to the  stalled label and we re-opened the issue now. Thanks!

[2021-07-06 02:36] saikumarchalla commented on #50611
@Neronjust2017 Could you please fill the issue template.Also Please provide the simple standalone code/ colab link to reproduce the issue at our end.Thanks

[2021-07-06 02:52] EricTheRed20 commented on #50502
IMPORTANT UPDATE

In my initial submission I said that "It would be good if the TensorFlow Lite Converter ignored the "training=True" arguments".

On some reflection and investigation, I now realize that the Dropout() and BatchNormalization() layers which are normally not trainable are now trainable.   The training logic for those two layers therefore needs to be implemented in TFLite.  Ignoring "

[2021-07-06 03:34] kevin2018pg commented on #43847
Having the same problem，

[2021-07-06 04:07] seermer commented on #37365
Any updates on this? This problem still exists in the newest version. Extra bias terms can lead to extra unnecessary calculations and params. In fact, even for ResNet50, extra bias terms lead to more than 10k extra parameters!

[2021-07-06 05:03] pp2015jp commented on #50591
I found solution by deleting TensorFlowLiteCCoreML.

[2021-07-06 05:04] #50591 closed

[2021-07-06 05:15] tilakrayal commented on #50606
@RushilVerma ,

On running the given code snippet, I am facing an error stating **FileNotFoundError: [Errno 2] No such file or directory: 'X.pickle'** Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/ffc1496cae53844040171ef4584a1073/untitled50606.ipynb).Also please let us know the tensorflow version you are using.Thanks!

[2021-07-06 05:56] ibrahimgharyali commented on #45014
print activity.getApplicationInfo().nativeLibraryDir = `/data/app/com.package.name-XXXXXXXXXXX==/lib/arm64`

log from `adb shell ls -al /data/app/com.package.name-XXXXXXXXXXX==/lib/arm64`
[code]

[2021-07-06 06:17] tabVersion commented on #46685
I've read related source code and I couldn't figure out why.

[2021-07-06 06:33] suvadityamuk commented on #50589
I tried that code snippet and added it to my program, but it did not solve the problem.
I had previously used CUDA 11.0, but I have reverted back to 11.2 once again.
I got the following trace:
![image](https://user-images.githubusercontent.com/70141886/124553290-31da3280-de52-11eb-8f3d-27f17f32d4e7.png)
![image](https://user-images.githubusercontent.com/70141886/124553325-3a326d80-de52-11eb-86a1-f

[2021-07-06 06:43] minalmeg commented on #39326
Have you tried upgrading pip3 and reinstalling it?

[2021-07-06 06:56] Flamefire commented on #31020
@surak What exactly do you have? TF now uses another variable for the protobuf headers: https://github.com/tensorflow/tensorflow/blob/c313c925f4d525aef40914413299706074fb51f8/third_party/systemlibs/protobuf.BUILD#L57

This works so far in EasyBuild

[2021-07-06 07:07] wandering007 commented on #35257
@hyperji You can use tf.math.l2_normalize instead. ( https://www.tensorflow.org/api_docs/python/tf/math/l2_normalize )

[2021-07-06 07:17] Niz13 commented on #50393
Hello,
Unfortunately, it isn't possible to provide you with a specific setup that would reproduce this, however, I can provide you with the pre-partitioning and post-partitioning graphs where it is possible to see the problem unfolding.
(These are .pbtxt files, for some reason couldn't upload .pbtxt files here)

[before.txt](https://github.com/tensorflow/tensorflow/files/6767985/before.txt)
[after

[2021-07-06 08:17] Bhisham-Sharma commented on #46840
Thanks alooooot !!

[2021-07-06 08:27] loadingvx commented on #28388
`monolithic` contains only one option define which was

`build:monolithic --define framework_shared_object=false`

And it is default true, so don't worry about `--config=monolithic` option, and you don't need to recompile with this option if you don't know it. (for any one who likes me, and I'm compiling tfv2.6)

[code]

[2021-07-06 08:57] DannyIsFunny opened #50624 "tensorflow lite compiling failed on docker"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
I compile tensorflow lite in android mode according to the online guide: https://www.tens

[2021-07-06 09:21] CaptainDario opened #50625 "Make layers from `tensorflow.keras.layers.experimental.preprocessing` usable in TF Lite"
**System information**
- TensorFlow version (you are using): 2.5.0
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
It would be awesome if layers from `tensorflow.keras.layers.experimental.preprocessing` like `Resizing` would be convertable to TF Lite without implementing custom ops.

Currently a custom op definition is needed for (some of)

[2021-07-06 10:12] yuyue9284 opened #50626 "TensorFlow 2.3.0 does not respect no_proxy environment variable"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2021-07-06 10:14] yuyue9284 commented on #50626
What is the grpc version used by TensorFlow? Since I saw a similar [issue ](https://github.com/grpc/grpc/issues/9989) in GRPC repo and it was fixed in v1.13.0.

[2021-07-06 10:42] UnickSoft opened #50627 "Cannot link libtensorflowlite.dylib for iOS"
**System information**
- OS Platform and Distribution : OS X 11.3
- TensorFlow version: 2.5
- Python version: python3.9
- Bazel version (if compiling from source): bazel 3.7.2
- GCC/Compiler version (if compiling from source): Apple clang version 12.0.5 (clang-1205.0.22.11), Xcode 12.5.1

I tried to build C++ API libtensorflowlite.dylib for iOS. I use build command:

`
bazel build -c opt --config=

[2021-07-06 11:08] lgeiger commented on #40055
constants are properly duplicated on the toy model originally posted.

Are you sure? I recently tested the MLIR filechecks again, and it still seems to be an issue or am I missing something?

[2021-07-06 11:21] UnickSoft commented on #50627
I am able to build if I remove all from this line from file tensorflow/tensorflow/lite/BUILD
`
"//conditions:default": [],
`

But I am not sure, is it correct to comment?

[2021-07-06 11:26] Saduf2019 commented on #50625
@CaptainDario
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-06 11:36] Saduf2019 commented on #50405
@haylie-murray
Please follow [this guide](https://www.tensorflow.org/guide/saved_model#specifying_signatures_during_export), as this is not a bug or feature request kindly move this to closed status.

[2021-07-06 11:37] RemiLacroix-IDRIS opened #50628 "Issue with Conv1D when groups > 1 and using our own TensorFlow builds"
**System information**
- OS Platform and Distribution: Linux Red Hat Enterprise 8.1
- TensorFlow installed from: source
- TensorFlow version: v2.5.0-0-ga4dfb8d1a71 2.5.0 (more generally any version starting from 2.3.1)
- Python version: 3.7.10
- Bazel version: 3.7.2
- GCC/Compiler version: 8.3.1
- CUDA/cuDNN version: 11.2 / 8.0
- GPU model and memory: NVIDIA V100

**Describe the current behavior**

[2021-07-06 12:00] lonway opened #50629 "Confusing about GPU state when ran out of memory"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-07-06 12:19] zhaocc1106 opened #50630 "How can i know the order of multiple inputs when i use TrtGraphConverterV2 build."
tensorflow version: tensorflow-gpu 2.0.4
cuda version: 10.0
cudnn version: 7.4
tensorrt version: 5.1.5

When i use tensorrt converter to convert my model, i can't know the order of multiple inputs. Such as:

[code]

I use saved_model_cli tool to check the signature input. But the signature input order is not true order for trt convert build function. Build function will report error with wrong ord

[2021-07-06 12:21] zhaocc1106 commented on #50630
So, how can i know the order of multiple inputs when i use TrtGraphConverterV2 build ?

[2021-07-06 12:29] rmothukuru commented on #50593
@miguelCalado,
Can you please try specifying the **`GPU Devices`** in the **`Mirrored Strategy`** as shown in the [Documentation of Mirrored Strategy](https://www.tensorflow.org/guide/distributed_training#mirroredstrategy), like:

**`mirrored_strategy = tf.distribute.MirroredStrategy(devices=["/gpu:0", "/gpu:1"])`**

and let us know how it goes? Thanks!

[2021-07-06 12:39] miguelCalado commented on #50593
Yes, the behavior still stands!

[2021-07-06 12:55] DaliaJaber opened #50631 "Container __per_step_0 does not exist"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-07-06 13:26] andrewstevens-infineon opened #50632 "Test //tensorflow/compiler/mlir/lite/tests/end2end:quant_stats.pbtxt.test succeeds regardless of check patterns"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installation (pip package or built from source):
- TensorFlow library (version, if pip package or github SHA, if built from source): a4dfb8d1a71385bd6d122e4f27f86dcebb96712d (v2.5.0)

### 2. Code

`bazel test //tensorflow/compiler/mlir/lite/tests/end2end:quant_stats.pbtxt.test`

always passes regardl

[2021-07-06 13:35] emre84 commented on #50571
Hi Thank, thanks again for the response. When I try to  get loaded.signatures.keys, I am getting following error:

OSError: SavedModel file does not exist at: /Users/emre/Documents/Temp/tensorflow_last/models/train/{saved_model.pbtxt|saved_model.pb}

The problem is, I do not have any .pb file in my train folder. The only files I have are:

checkpoint, events.out.tfevents.1613600796.emres-air, grap

[2021-07-06 13:37] Lescurel opened #50633 "Compiling a keras model during a callback causes TypeError: 'NoneType' object is not callable"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): binary from pip/anaconda
- TensorFlow version (use command below): Tried with the following
  - v2.4.0-49-g85c8b2a817f 2.4.1
  - v2.5.0-rc3-213-ga4df

[2021-07-06 13:51] kpei commented on #50598
Hi i am still relatively new to tf.  What do you mean by fusion? Also i would like to use dynamic batch size and not fixed input size of 1.

[2021-07-06 14:11] MarkDaoust commented on #39414
` TypeError: <lambda>() takes 1 positional argument but 2 were given`

That's talking about this lambda: `lambda window: window.batch(window_size, drop_remainder=True)`

It's failing there because each dataset element contains two items, the dict of features, and the labels:  `tf.data.Dataset.from_tensor_slices((dict(dataframe), labels))`

`.window`creates a sub-dataset for each tensor in the elem

[2021-07-06 14:22] CaptainDario commented on #50625
Thank you!
I did not know that keras and TensorFlow are separated repos now.
I will open the issue in that repo than.

[2021-07-06 14:22] #50625 closed

[2021-07-06 14:55] UsharaniPagadala commented on #50617
@Oezkan23
Please post this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues) as it is related to keras issue
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-06 14:56] eli-osherovich commented on #50260
@jvishnuvardhan
Any update on this?

[2021-07-06 15:13] brunovollmer opened #50634 "Can't build tensorflow lite wheel in docker image for aarch64"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04
- TensorFlow version: la

[2021-07-06 15:21] UsharaniPagadala commented on #50628
@RemiLacroix-IDRIS

I was able to reproduce the code shared in tf2.5 with no errors.Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/1b99df45ccd916c456ecf8d92586a08d/untitled132.ipynb) here.

similar issue tracking [here](https://github.com/tensorflow/tensorflow/issues/50397) follow the thread aswell and also refer this [comment](https://stackoverflow.com/questions/66

[2021-07-06 16:05] florianletsch opened #50635 "Converting FasterRCNN from tf -> tflite fails: could not rewrite use of immutable bound input"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installation (pip package or built from source): `tensorflow==2.5.0` installed via pip

### 2. Code

Full code to reproduce my issue: https://github.com/florianletsch/torch2tflite-failing

I am trying to convert a Faster-RCNN with Resnet backbone following these 3 steps:

1. PyTorc

[2021-07-06 16:14] RemiLacroix-IDRIS commented on #50628
@UsharaniPagadala : As mentioned, that code works fine with the TensorFlow builds from pip but crashes with the builds we compile from source but that doesn't seem to make any sense.

I don't see how compilation can have in impact on this.

[2021-07-06 16:57] dlyubimov opened #50636 "TFLite request to support bulit-in split op for int64 type"
**System information**
- OS Platform and Distribution MacOS
- TensorFlow installed from: recent nightly build, after issue https://github.com/tensorflow/tensorflow/issues/50445
- TensorFlow version (or github SHA if from source): master HEAD

**Standalone code to reproduce the issue**

[code]

after fix #50445, running this test issues the following converter error:

[code]

We think it is a fairl

[2021-07-06 17:20] kpei commented on #50598
Is there a way for me to see which layer that the issue with fixed input size occurs on? The error messages indicate node 33 and 28 so i assumed that is the index of the list when you call `get_tensor_details()` but it doesn't seem to be correct in terms of output information.

[2021-07-06 17:28] karlhigley commented on #42660
@sushreebarsa Chiming in from @EvenOldridge's team: I'm able to reproduce this issue with Tensorflow 2.5.0 and CuPy 9.2.0, so I believe this is still an issue.

[2021-07-06 17:55] itamarst commented on #48213
Updated example, with newer APIs and focusing on saving as the issue:

[code]

[2021-07-06 18:09] Mastiff37 commented on #43650
I'm struggling with this too (passing extra arguments to loss function, which are keras inputs).  Code that used to work no longer does with TF 2.5.

[2021-07-06 18:56] talipini opened #50637 "model.fit with dataset generator results in deadlock/hang"
TF: 2.5.0
Python: 3.7.10

 Model.fit hangs during training. It appears dataset generator seems go into a deadlock while reading tfrecords. A simplified naive model is in the github gist below which reproduces the issue. Directly iterating on the generator seems to work fine but feeding it to model.fit seems to deadlock. Appreciate any color.

https://gist.github.com/talipini/d82d1fa2f5d6b46f3222f2

[2021-07-06 22:13] abattery commented on #50637
Mutable variable support is now available in the nightly when converting using from_saved_model.
You need to set this flag to True for now.

converter.experimental_enable_resource_variables = True

[2021-07-06 22:14] abattery commented on #50635
Mutable variable support is now available in the nightly when converting using from_saved_model.
You need to set this flag to True for now.

converter.experimental_enable_resource_variables = True

[2021-07-06 22:14] #50635 closed

[2021-07-06 22:19] melanopsis commented on #50526
I would select the appropriate tag (version) in code view then check `tensorflow/tools/pip_package/setup.py` file for required packages.

[2021-07-06 22:22] mobius1983 commented on #33848
I had the same problem and I solved it with this code

`
import tensorflow as tf
config = tf.compat.v1.ConfigProto()
config.gpu_options.allow_growth = True
#sess = tf.Session(config=config)
sess = tf.compat.v1.InteractiveSession(config=config)`

[2021-07-06 22:30] mobius1983 commented on #24828
I had the same problem and I solved it with this code
`import tensorflow as tf \n
config = tf.compat.v1.ConfigProto() \n
config.gpu_options.allow_growth = True \n
sess = tf.compat.v1.InteractiveSession(config=config)`

[2021-07-06 22:47] joshua-cogliati-inl commented on #47691
FYI: On https://github.com/tensorflow/models/issues/9706  @Amir22010 provides this fix for numpy 1.20's NotImplementedError: Cannot convert a symbolic Tensor (strided_slice:0) to a numpy array error:
[code]

[2021-07-06 22:49] abattery commented on #50636
We are also welcome on the community contribution regarding this feature request. :-)

[2021-07-07 00:42] thaink commented on #50624
Sorry. the "install default-jdk" is introduced by me to fix the error you mentioned below.

[2021-07-07 00:54] thaink commented on #50624
I sent a fix for that.
Changing:
`sudo apt install default-jdk`
to:
`RUN apt-get install -y --no-install-recommends default-jdk`

[2021-07-07 01:00] thaink commented on #50571
The graph.pbtxt is a text file. You might try to open it and find your input/output node names.

[2021-07-07 01:41] saikumarchalla commented on #50599
@rschumi0 It looks like your Issue relates to the Keras component. Please submit it to the [github.com/keras-team/keras](github.com/keras-team/keras) repository instead. As ([previously announced](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999/)), all future development of Keras is expected to happen in the [github.com/keras-team/ke

[2021-07-07 01:55] saikumarchalla commented on #50622
Was able to reproduce the issue in TF 2.5. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/c3d7a40bd1c3d5ebefd86ed560a1c8c9/untitled107.ipynb),Thanks!

[2021-07-07 01:59] saikumarchalla commented on #50413
@saikumarchalla  Glad to hear that the issue is resolved for you.

[2021-07-07 02:05] saikumarchalla commented on #50575
@guillaumekln  The code snippet doesn't logging any warnings and resulting the output as expected on colab with TF 2.5. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/37906ae3ba15f17d11ad5ced51062a4d/untitled107.ipynb).Thanks!

[2021-07-07 02:35] Neronjust2017 commented on #50611
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Red Hat Enterprise Linux Server release 7.9 (Maipo)
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): gpu 1.14.0
- Python version: 3.7.10
- CUDA/cuDNN version: cuda 10.

[2021-07-07 02:59] sushreebarsa commented on #23918
@mzhaoshuai
We see that you are using old version of tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Hence moving this to closed status.Thanks!

[2021-07-07 02:59] #23918 closed

[2021-07-07 03:02] sushreebarsa commented on #25923
@yann-yy  We see that you are using old version of tensorflow (1.x)which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions.Please open a new issue in case you face any errors, we will get you the right help .Hence moving this to closed status.Thanks!

[2021-07-07 03:02] #25923 closed

[2021-07-07 03:41] RedJyve opened #50641 "ERROR: Didn't find op for builtin opcode 'MUL' version '5'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux CentOS 7
- TensorFlow installed from (source or binary): source
- TensorFlow version (or github SHA if from source): model built with tf2.5 converted to tflite with tf_nightly 2.7.0-dev20210705

**Output from tflite benchmark**

[code]

**Standalone code to reproduce the issue**
Provide a reproducible test case

[2021-07-07 04:19] ankitadhar commented on #22116
Have a look at https://stackoverflow.com/questions/67379519/cannot-use-keras-models-on-mac-m1-with-bigsur

[2021-07-07 04:26] matt-houk commented on #48772
Just got the opportunity to try the profiler, sorry for the further delay, was working to meet some deadlines. Any attempt I make to use profiling appears to immediately cause a segfault. I will update the GitHub (I've been behind on that anyway) and the relevant files can be found under the Groups directory, I made some modifications to the code in an attempt to improve runtime, using a different

[2021-07-07 04:33] abattery commented on #50641
This is an intended behavior. You need to use the same or higher version used for conversion when invoking the converted graph.

[2021-07-07 04:33] #50641 closed

[2021-07-07 04:33] Azmisov opened #50642 "RaggedTensor not broadcasting correctly"
Ubuntu 20.04, Tensorflow 2.5

A broadcast should be able to work across a RaggedTensor, so long as the dimension has fixed size. See the following example:

[code]
Output:
[code]
Even though `ragged_1` and `ragged_2` have identical shapes, the multiply only succeeds for the first. Seems like an over-zealous assertion is preventing the `ragged_2` multiply?

[2021-07-07 04:53] sushreebarsa commented on #26275
@yoshihikoueno We see that you are using old version of tensorflow (1.x)which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions.Please open a new issue in case you face any errors, we will get you the right help .Hence moving this to closed status.Thanks

[2021-07-07 04:53] #26275 closed

[2021-07-07 05:16] RedJyve commented on #50641
I little confused, from what I understand the I am using the same or higher version of TensorFlow. Should I build the benchmark from source since the pre-built ones don't seem to be working, or maybe they aren't the newest version of nightly like I was lead to believe? Maybe I am missing something?

[2021-07-07 05:24] guillaumekln commented on #50575
Google Colab discards the C++ logs by default. You can run the code this way to see the logs:

Also make sure to enable the GPU backend in your Colab session. Here's the [gist](https://colab.research.google.com/drive/18tXO7yY3rg7EagyK9weHbl4v1bZH38cv) (see the last line in the log).

[2021-07-07 05:25] thaink commented on #50624
The fix is merged in the master branch. You can sync and try it now.

[2021-07-07 05:25] #50624 closed

[2021-07-07 05:40] IchiruTake opened #50643 "[Adaptation] Indices of SparseTensor should adapt with current indices if (explicitly/implicitly) specified"
**System information**
- TensorFlow version (you are using): 2.5.0
- Are you willing to contribute it (Yes/No):

I am using TensorFlow version 2.5.0 and try to adapt Sparse Tensor into Deep Learning model. However, interestingly that despite the indices has been specified by numpy, the indices always cast to uint64 despite our trial, even from numpy or tensorflow (tf.convert_to_tensor || tf.consta

[2021-07-07 06:13] sanjoy commented on #50562
That message itself should be benign, but looping in @cheshire to check if the message can be made more actionable to users not familiar with TF internals.

[2021-07-07 06:22] DannyIsFunny opened #50644 "TensorFlow Lite android compiling failed on Docker"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
I compile tensorflow lite in android mode according to the online guide: https://www.tens

[2021-07-07 06:29] howl-anderson opened #50645 "The word vector obtained by the word2vec tutorial is very bad"
## URL(s) with the issue:

https://www.tensorflow.org/tutorials/text/word2vec

## Description of issue (what needs changing):

I run the word2vec code (without change) from the tutorial. But the word vector from the model is very bad, not reflect the semantic meaning at all.

Here is the result shown in the embedding projector:
![Selection_002](https://user-images.githubusercontent.com/1263428/124

[2021-07-07 06:53] bnavigator commented on #47691
@joshua-cogliati-inl, it's the same fix as in #48935 (0f8fde42d09b199d02cf5d9d79fe76ebf1d260ef)

[2021-07-07 06:57] jelimomaswan opened #50646 "Problem resuming training with checkpoints in TF > 2.4.1"
**System information**
- Windows 10 Pro
- TF 2.4.1 and TF 2.5.0

**Describe the current behavior**
It is no longer possible to resume training with checkpoints in TF > 2.4.1. This is not the case in previous versions of TF. The following error is displayed: tensorflow ValueError: Tensor conversion requested dtype float32 for Tensor with dtype int32: <tf.Tensor: shape=(), dtype=int32, numpy=0>. It

[2021-07-07 07:22] ghylander opened #50647 "Custommask warning when saving to h5 using built-in keras layers"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 18.04
- TensorFlow installed from (source or binary): pypi
- TensorFlow version (use command below): 2.5.0
- Python version: 3.8.5

**Describe the current behavior**
When saving a model to h5 format, and the m

[2021-07-07 07:42] #46885 closed

[2021-07-07 08:02] rmothukuru commented on #50622
@breadbread1984,
Documentation of [tf.shape](https://www.tensorflow.org/api_docs/python/tf/shape#for_example) states

Using **`inputs.shape`** instead of **`tf.shape(inputs))`** resolves your problem. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/72adf7e88659f4178f69dcf42985a9c1/untitled107.ipynb) of the working code. Thanks!

[2021-07-07 08:27] sayakpaul opened #50648 "Input shapes incompatible when using `tensorrt.Converter`"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Using Colab (with GPU) and TensorFlow 2.5

You can collect some of this information using our environment capt

[2021-07-07 08:30] emre84 commented on #50571
Thanks again :) Perfect. You are right, all nodes are defined in this file. Do you know which node I have to use exactly?

[graph.txt](https://github.com/tensorflow/tensorflow/files/6775603/graph.txt)

[2021-07-07 08:39] crischeng opened #50649 "same host memory address copy tensor to different device memory address"
I have a question. I export TF_CPP_MIN_VLOG_LEVEL=3 want to dump the log, then I find something I can't understand. I saw tensorflow from the same host memory address copy tensor to different device memory address, I want to know why does tensor flow do this? What are the advantages?
I think it will rely on CUDA Events for synchronization. Why not from different host memory  address?
Looking forwa

[2021-07-07 09:07] cl886699 commented on #42973
this is not worked for me

[2021-07-07 09:33] thaink commented on #50571
I actually have no idea. You better asks the model authors about that.
If that is not possible, then you might make a script to search through the file for:
 - potential input nodes is node that is not output of any op
 - potential ouput nodes is node that is not input to any op

[2021-07-07 09:46] tilakrayal commented on #50633
@Lescurel,

 It looks like the issue relates to the Keras component. Please submit it to the [github.com/keras-team/keras](https://github.com/keras-team/keras/issues) repository. Thanks!

[2021-07-07 10:03] Expert73 commented on #50526
what do you mean? how to do it?

[2021-07-07 10:07] Lescurel commented on #50633
Done. Feel free to close the issue if needed.

[2021-07-07 10:09] tilakrayal commented on #50633
@Lescurel ,

Please feel free to close the issue here and open new issue in keras repo.Thanks!

[2021-07-07 10:11] gyin-ai opened #50650 "OpKernelConstruction allocate tensor that can persistent for Compute"
How can we allocate a tensor or buffer that could exist among each Compute invocation?  If so, how can we free them after usage?

Based on the description in op_kernel.h, `allocate_temp` seems to only allow temporary tensor allocation during the construction. Is this correct?

Thanks a lot.

[2021-07-07 10:12] florianletsch commented on #50635
This solved it, thank you!

[2021-07-07 10:23] hidanom commented on #50322
This issue should not be stale. I have no idea why "awaiting response" label is still on.

[2021-07-07 11:04] rmothukuru commented on #50579
@grofte,
We couldn't reproduce the issue as the **`Dataset`** is very huge (30 GB) but your point is taken.

Regarding **`Feature Request`**, we request you to file it as a separate issue so that it can be tracked separately. Thanks!

[2021-07-07 11:29] rmothukuru commented on #36293
@jackd,
**`Row Partitioning`** seems to be implemented for [Ragged Tensors](https://www.tensorflow.org/guide/ragged_tensor). Can you please refer the [Documentation Guide](https://www.tensorflow.org/guide/ragged_tensor), [API Documentation](https://www.tensorflow.org/api_docs/python/tf/RaggedTensor) for **`Ragged Tensors`** and the [Documentation of tf.io.RaggedFeature](https://www.tensorflow.org/

[2021-07-07 11:44] rmothukuru commented on #36329
@vikramdattu,
Sorry for the delayed response. Currently, most of the operations are handled by [cuDNN, cuBLAS, cuFFT, etc..](https://github.com/tensorflow/tensorflow/search?l=Markdown&q=cublas). Can you please let us know how **`OpenBLASS`** is efficient over them? Thanks!

[2021-07-07 12:08] nilskk commented on #9471
@wuchichung do you found a solution to your problem? I'm facing the same issue.

[2021-07-07 12:13] rmothukuru commented on #36592
@generationzcode,
Can you please refer the [Grad-CAM Algorithm](https://keras.io/examples/vision/grad_cam/#the-gradcam-algorithm) mentioned in the **`Keras Documentation`** and let us know if that is what you are looking for? Thanks!

[2021-07-07 12:28] vikramdattu commented on #36329
I think it's okay to close the issue.
Code already is using some neat tricks, especially platform specific optimizations.

[2021-07-07 12:28] #36329 closed

[2021-07-07 12:32] rmothukuru commented on #36672
@fgervais,
Sorry for the delayed response. Can you please let us know if [this PR](https://github.com/tensorflow/tensorflow/pull/39695) has resolved your issue? Thanks!

[2021-07-07 12:38] shanu12joshi commented on #46178
Hey, It's July  I am still facing the issue, Is there a solution yet?

[2021-07-07 12:54] #50633 closed

[2021-07-07 13:00] breadbread1984 commented on #50622
in graph mode the batch size is inferable, but it is not when using tensor.shape. that why i am using th.shape to infer shape of tensor when building graph model with functional model definition.

[2021-07-07 13:32] guillaumekln commented on #48722
Note: extending the TensorFlow Docker image and removing the package `cuda-compat-11-2` is also a way to workaround this issue.

[2021-07-07 14:43] grofte commented on #50579
I chose a large data set for exactly that reason. If the data set fits in memory then it will be cached on file fine. But there's no incentive to cache a data set on file if it fits in memory. I will have a look at filing a feature request and see if I can link it here. I think both can be closed in one go though.

[2021-07-07 14:59] djbacad commented on #50590
@tilakrayal I already gave up with windows and what I did was I set up a VM with Ubuntu 18.04 and I was finally able to successfully build.

[2021-07-07 15:14] UsharaniPagadala commented on #50648
@sayakpaul

While running the code I am facing an error stating `OSError: SavedModel file does not exist at: classification_model/{saved_model.pbtxt|saved_model.pb}`

Could you please share the saved model file you are using in the code. Zip the contents of the folder, then drag and drop it in the input text box to share it. Thanks!

[2021-07-07 15:18] sayakpaul commented on #50648
You likely didn't read the description.

This means you need first load the `DenseNet121` model, save it as a `SavedModel` and then proceed.

[2021-07-07 15:34] djbacad opened #50652 "Quantized Version of tf-lite model returning "ERROR: Didn't find op for builtin opcode 'CONV_2D' version '5'" when measuring performance"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Samsung Galaxy A50
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): 2.5.0
- Python version: 3.6.9
- Bazel version (if compiling from source): 3.7.2

**Desc

[2021-07-07 15:36] philipjhc commented on #3437
Is this problem finally solved?

[2021-07-07 15:46] UsharaniPagadala commented on #50642
@Azmisov
As per the definition of Broadcasting, [Broadcasting](https://www.tensorflow.org/guide/ragged_tensor#broadcasting) is the process of **making** tensors with different shapes have compatible shapes for elementwise operations, there is no need to specify tf.expand_dims explicitly, Tensorflow will take care of it.

Could you please refer the similar [issue](https://stackoverflow.com/question

[2021-07-07 15:50] ahmadchalhoub opened #50653 "exporter_main_v2.py on official TF2 OD checkpoints produces saved_model.pb different than official saved_model.pb"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-07-07 16:04] srihari-humbarwadi commented on #50648
`build` method expects you to return inputs in a tuple. I have changed your `data_gen` function to match the correct signature.
Here is  the full script.

[code]
---
[code]

[2021-07-07 16:07] sayakpaul commented on #50648
I see. This is nowhere mentioned in the docs. Thanks, @srihari-humbarwadi :)

[2021-07-07 16:07] #50648 closed

[2021-07-07 16:16] tilakrayal commented on #50590
@djbacad ,

Glad the issue is resolved for you, please move this to closed status.Thanks!

[2021-07-07 16:18] tilakrayal commented on #50525
@liuzhiwei1997 ,

If you cannot simplify the code, please consider posting this issue in Stackoverflow where there is a large community to help and support each other. Thanks!

[2021-07-07 16:48] Azmisov commented on #50642
Consider the following two broadcasts:
[code]
[code]
The two calculations give different results. Mine is the second case, which you see would require inserting a shape 1 dimension at -2. So even though certain shapes are already compatible and tensorflow can handle it, that may not be the computation you want.

For the issue you linked, the OP was trying to do this broadcast:
[code]
Which obvious

[2021-07-07 16:55] UsharaniPagadala commented on #50607
@yanzhang-dev

Could you please refer this [`c_api`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/c_api_test.cc#L166),hope it helps.Thanks

[2021-07-07 16:59] aaudiber commented on #50579
Hi @grofte, the [snapshot](https://www.tensorflow.org/api_docs/python/tf/data/experimental/snapshot) transformation could be closer to what you're looking for. Instead of storing all data in a single file like `cache`, it shards the data into a configurable number of files, and you can shuffle the files in a different way each time you read from the snapshot.

[2021-07-07 17:06] UsharaniPagadala commented on #50642
@rmothukuru

I was able to replicate the issue reported here.Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/632c1ce4d196753d98bded818460c12a/-50642.ipynb).Thanks

[2021-07-07 17:07] saikumarchalla commented on #50584
Was able to reproduce the issue in TF 2.5. Please find the gist [here](https://colab.research.google.com/drive/1REr597ifuYcSsM9Bm27C6OuyGYIgUzTg#scrollTo=tg2DqpDg9PLQ). Thanks!

[2021-07-07 18:26] UsharaniPagadala commented on #50645
@howl-anderson

Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new?assignees=&labels=type%3Abug&template=00-bug-issue.md)

Could you please share the code/colab gist that you have implemented.Thanks

[2021-07-07 18:33] UsharaniPagadala commented on #50631
@DaliaJaber

Could you please refer the [comment](https://github.com/tensorflow/tensorflow/issues/28287#issuecomment-495005162)        ,hope it helps.Thanks

[2021-07-07 18:39] UsharaniPagadala commented on #50613
@lgeiger

I was not able to access the notebook provided, Could you please provide the access .Thanks

[2021-07-07 18:52] cheshire commented on #50562
It really should (remove the error message, not other issues) at least on Linux-based platforms. Sorry we are really short on Windows expertise. Maybe we are missing the `.exe` postfix when looking for it.

As @sanjoy pointed out above these are completely independent issues and not related to the ptxas issue. Closing this issue, feel free to reopen with more detailed information (e.g. if you beli

[2021-07-07 18:53] #50562 closed

[2021-07-07 18:53] lgeiger commented on #50613
Sorry about that. @UsharaniPagadala you should be able to access it now.

[2021-07-07 19:12] UsharaniPagadala commented on #50613
@rmothukuru

I was able to replicate the issue reported here.Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/03fbde228c60a553ca3ee294e9fc9713/untitled40.ipynb).Thanks

[2021-07-07 19:56] #35211 closed

[2021-07-07 19:57] UsharaniPagadala commented on #50583
@FalsoMoralista

Could you refer the similar [issue](https://github.com/tensorflow/tensorflow/issues/36136#issuecomment-627731715),hope it helps.Thanks

[2021-07-07 20:16] UsharaniPagadala commented on #50526
@Expert73

TensorFlow NumPy is built on top of TensorFlow and hence interoperates seamlessly with TensorFlow. Please refer this [documentation](https://www.tensorflow.org/guide/tf_numpy#tf_numpy_and_tensorflow) and let us know if it helps.Thanks

[2021-07-07 20:18] FalsoMoralista commented on #50583
Thank you but I have already checked this issue before. I have experimented with float32 labels as well but nothing happens. The thing is, as i mentioned before, the  same code was working fine on the previous issue that i've opened as you can check (#50522), the differences between that code and this one are:
- removed augmentation on the validation step
- set drop_remainder=True

[2021-07-07 20:24] UsharaniPagadala commented on #50583
@Saduf2019

I was able to replicate the issue reported here.Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/76145dd8ea30c2a615bec17d957e227a/colab_gist.ipynb#scrollTo=5-e5xvVyggeZ).Thanks

[2021-07-07 20:29] UsharaniPagadala commented on #50507
@kenyonke

I was not able to access the gist provided,Could you Please provide the access.Thanks

[2021-07-07 20:29] k-w-w commented on #48213
Thanks for reporting this! Looks like there is a bug with the RNN shape inference when using custom cells. For now, please the following workaround: (The model should use a subclass of RNN)

[code]

[2021-07-07 21:27] alexispascual commented on #40102
Hi @invencode, I'm experiencing the same issue. When you say it's an issue from the tfa.text.crf_decode, what do you mean? When I use the converter, I don't think I am calling this function at all.

[2021-07-07 21:36] alexispascual commented on #48071
@Adhithya-tech, have you resolved this issue with converting a Torch FasterRCNN model to TF through ONNX? Through some digging, the error is caused by the Resize op that the FasterRCNN model does regardless of the backbone. Buried within the `GeneralizedRCNNTransform` class is this `interpolate` method call:

[code]

The key is to set `align_corners` to `True` and retrain the model.

[2021-07-07 22:20] zac66789 commented on #50004
From [this](https://stackoverflow.com/questions/68080345/importerror-cannot-import-name-layernormalization-from-tensorflow-python-ker) stack overflow uninstalling and reinstalling tensorflow worked for them.

https://stackoverflow.com/questions/68080345/importerror-cannot-import-name-layernormalization-from-tensorflow-python-ker

[2021-07-07 22:29] yunjiangster opened #50654 "Tensorflow int32 matmul slower than float32 matmul"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-07-07 22:34] #50590 closed

[2021-07-07 23:26] evanatyourservice commented on #43690
I'm getting this error right now with 2.5.0 and functional API

[code]

How is this error so old please fix... I moved back to TF to use TPUs but it's 90% errors and two weeks of wasted time, I'm going back to pytorch. Sorry for the complaining, but TF with TPU has been impossible to work with in all aspects and I'm at my wits' end when after finally dropping down to the functional API, something

[2021-07-08 00:01] jackd commented on #36293
Not remotely - yes, it's implemented in ragged tensors, but this issue is about decoupling that implementation from everything else in ragged tensors. I've moved over to [jax](https://github.com/google/jax) so not bothered.

[2021-07-08 00:01] #36293 closed

[2021-07-08 00:18] abattery commented on #50652
Please make sure that the TensorFlow version of the benchmark tool is the same or higher version than the TensorFlow version used for the TensorFlow Lite conversion.

[2021-07-08 00:28] VicGoico opened #50656 "Which is the smallest SSD model to use in a MCU like ESP-EYE and using tensorflow lite micro?"
Hi,

I am trying to work with the smallest SSD model of tensorflow, but my problem is that I am working with an [ESP-EYE](https://www.espressif.com/en/products/devkits/esp-eye/overview) and this MCU has only 4 MB of memory.

All SSD models that I saw in the [pretrained models Garden of tensorflow](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf1_detection_zoo.md

[2021-07-08 01:50] kevin2018pg commented on #44539
Having the same problem

[2021-07-08 01:51] hksonngan opened #50658 "Tensorflow 2.3.x link error when use delay load"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 / Visual Studio 2017
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use com

[2021-07-08 01:57] terryheo commented on #50644
@thaink could you check this?

[2021-07-08 02:02] thaink commented on #50644
It is fixed in commit 27551046f5c49939c508ed7a7c33cb6724aa747c.
Could you sync to the master HEAD and try again?

[2021-07-08 02:31] RedJyve opened #50659 "AttributeError: '_UserObject' object has no attribute 'add_slot'"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 11.4
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): built on tf 2.5.0 converted on tf_nightly 2.7.0-dev20210707

### 2. Code

Provide code to help us reproduce your issues using one of the following option

[2021-07-08 02:32] DannyIsFunny commented on #50644
after [2755104](https://github.com/tensorflow/tensorflow/commit/27551046f5c49939c508ed7a7c33cb6724aa747c) is merged , compiling still failed
![image](https://user-images.githubusercontent.com/45189361/124853053-d3d75780-dfd7-11eb-866c-10a92889bd62.png)

[2021-07-08 02:39] abattery commented on #50659
The above error is coming from the TF saved model library while loading the saved model with the user objects.

[2021-07-08 02:41] arolet commented on #50448
@haozha111 Any idea why this happens? By the way the problem seems to be specific to the android tflite library, and not to the model itself. I tried to run the same model with the python interpreter and it works as expected.

[2021-07-08 02:46] #50040 closed

[2021-07-08 03:23] kenyonke commented on #50507
@UsharaniPagadala

Sorry, now you should have right of access
https://colab.research.google.com/drive/1tEpZ1TQxyfh-Mz5uDPPXy3RDnX4_yCBM?usp=sharing
I think it's necessary to check whether gpu is available before mirroredstrategy

[2021-07-08 03:26] yjmm10 opened #50660 "Fail to converted Tensorflow models to TensorFlow Lite"
### 1. System information

- OS Platform and Distribution (Linux Ubuntu 20.04):
- TensorFlow installation (pip package):
- TensorFlow library (tensorflow2.5):

### 2. Code
Model just use DNNLinearCombinedClassifier, when I converter .pb to tflite, it failed.

Model: https://drive.google.com/file/d/18FTOAx_HJlbnX0HQYqOwzvXdAm8dzyCL/view?usp=sharing
#### Way1
[code]
**Error:**
E        ValueError: F

[2021-07-08 03:37] kindalime opened #50661 "Calculation of gradient of 2D convolution operation through GradientTape returns None"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Mint 20.1
- TensorFlow installed from (source or binary): conda
- TensorFlow version (use command below): 2.4.1
- Python version: 3.9.4
- CUDA/cuDNN version: 10.1.243, 7.6.5 (both through conda)
- GPU model and

[2021-07-08 03:41] mingting opened #50662 "transpose op code behavior mismatch with comments in xla"
tensorflow 1.15.5
https://github.com/tensorflow/tensorflow/blob/v1.15.5/tensorflow/compiler/xla/service/shape_inference.cc#L2740

[code]

https://github.com/tensorflow/tensorflow/blob/v1.15.5/tensorflow/compiler/xla/util.h#L340

[code]

my question is
accoding to the comments, **if using inverse permutation, we should use output[i]=input[dimensions[i]].**
**but, code still use  output[dimensions[i

[2021-07-08 03:44] abattery commented on #50660
For the multiple signatures, the feature is not completed yet. Please consider providing the 'serving_default' only in the signature_key arguments.

[2021-07-08 03:51] mingting commented on #50662
@hawkinsp can you help to check this?

[2021-07-08 03:54] thaink commented on #50644
Did you build the docker again?
Can you upload the docker build log?

[2021-07-08 04:02] yuyue9284 commented on #50626
I missed an IP in `no_proxy`, after adding `10.0.0.7` into `no_proxy` the job finished with no error.
Thanks.

[2021-07-08 04:02] #50626 closed

[2021-07-08 04:18] terryheo commented on #50634
I've just tried on master branch on my Linux machine and it works well.

Could you share branch you used and your build environment?

[2021-07-08 04:26] tilakrayal commented on #50647
@ghylander ,

In order to reproduce the issue reported here, could you please provide the complete code and the dataset you are using. Thanks!

[2021-07-08 05:02] terryheo commented on #50577
I've just tried this on my machine with android-ndk-r21b and it works well.

Could you try it again with NDK version android-ndk-r21b ?

[2021-07-08 05:10] sushreebarsa commented on #27441
@samhodge We see that you are using old version of tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Hence moving this to closed status.Thanks!

[2021-07-08 05:10] #27441 closed

[2021-07-08 05:11] yjmm10 commented on #50660
When I set the signature_keys to ‘serving_default’ , get this error:
[code]

[2021-07-08 05:12] sushreebarsa commented on #32243
@tonyreina We see that you are using old version of tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions.Please open a new issue in case you face any errors, we will get you the right help .Hence moving this to closed status.Thanks!

[2021-07-08 05:12] #32243 closed

[2021-07-08 05:13] howl-anderson commented on #37818
@pavithrasv Could you please take a look?
Or anyone from the official team willing to take a look? This issue already waiting for more than one year, but I am still want to figure out: the idea is good or not.

[2021-07-08 05:13] abattery commented on #50660
Please consider using the Select TF option. https://www.tensorflow.org/lite/guide/ops_select

Dynamic dimensional TensorArray is currently supported through the Select TF option only.

[2021-07-08 05:14] sushreebarsa commented on #7480
@szym We see that you are using old version of tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions.Please open a new issue in case you face any errors, we will get you the right help .Hence moving this to closed status.Thanks!

[2021-07-08 05:29] howl-anderson commented on #50645
@UsharaniPagadala
I don't think it is a kind of bug of tensorflow, it more like a hyperparameter setting issue.

I  use the jupyter notebook (https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/text/word2vec.ipynb) provided by the tutorial (https://www.tensorflow.org/tutorials/text/word2vec). It will reproduce the result (not reflect the semantic meaning) in the

[2021-07-08 05:40] tilakrayal commented on #50650
@gyin-ai ,

Can you please refer this link which provide information on [OpKernelConstruction](https://www.tensorflow.org/guide/create_op).It helps.

[2021-07-08 05:41] saikumarchalla commented on #50618
@i-seesharp  It looks like your Issue relates to the Keras component. Please submit it to the [github.com/keras-team/keras](github.com/keras-team/keras) repository instead. As ([previously announced](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999/)), all future development of Keras is expected to happen in the [github.com/keras-team

[2021-07-08 05:41] IchiruTake opened #50663 "[Performance] Sparse Operation is tf.keras is super slow"
I am training a network using sparse operation.  The input matrix is large (4656 columns), the output (following) matrix is a dense one with 2328 outputs. Average density of the input was just 0.5%

Despite any methods works on GPU (Quadro P1000), either the input was scipy.COO, scipy.CSR or tf.SparseTensor, the performance was dropped by half compared to dense input , even I have activated the sp

[2021-07-08 05:42] tilakrayal commented on #50650
Also this is not bug or feature request.Please feel free to close here and post in [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) where larger community reads questions there.Thanks!

[2021-07-08 05:44] elimsjxr commented on #38488
I got the same issue, have you already solved the problem?

[2021-07-08 05:45] sushreebarsa commented on #30807
@corynezin We see that you are using old version of tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions.Please open a new issue in case you face any errors, we will get you the right help .Hence moving this to closed status.Thanks!

[2021-07-08 05:45] #30807 closed

[2021-07-08 05:47] sushreebarsa commented on #25554
@anilknayak We see that you are using old version of tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions.Please open a new issue in case you face any errors, we will get you the right help .Hence moving this to closed status.Thanks!

[2021-07-08 05:47] #25554 closed

[2021-07-08 05:48] sushreebarsa commented on #22058
@patzm We see that you are using old version of tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions.Please open a new issue in case you face any errors, we will get you the right help .Hence moving this to closed status.Thanks!

[2021-07-08 05:48] #22058 closed

[2021-07-08 05:53] rmothukuru commented on #36688
@padoremu,
Can you please go through the [Documentation of TF Lite RNN](https://www.tensorflow.org/lite/convert/rnn) and let us know if your feature is implemented? Thanks!

[2021-07-08 06:12] jainmilan commented on #50466
Thanks @Saduf2019 for the response. The link you shared discuss a totally different issue. Do you think it is because of the TensorFlow version and it was supported in the previous version?

[2021-07-08 06:30] ttang235 commented on #46648
For not-very-large tensors(e.g. 5M elements), tf.repeat can also have some problems.
`
a = tf.range(5000000)
b = tf.concat([tf.zeros(5000000-1, dtype=tf.int32),tf.constant([5000000], dtype=tf.int32)], axis=0)
c = tf.repeat(a,b)
`

The above code results in an OOM error:

2021-07-08 14:22:05.656150: W tensorflow/core/framework/op_kernel.cc:1651] OP_REQUIRES failed at cwise_ops_common.cc:82 : Resour

[2021-07-08 06:42] chsigg commented on #46269
Drive by comment: you need to install libnvrtc.so.11.1, see https://github.com/NVIDIA/TensorRT/issues/1064

[2021-07-08 06:59] DrXuQian commented on #45481
Hi tfeher, About 'Networks where the first (batch) dimension of a tensor changes within the graph (e.g. BERT)'.
Why would the first dimension change within the graph? I would assume that once the batch size is determined, the shape won't change throughout graph of BERT.

[2021-07-08 07:06] liangzelang opened #50665 "Can tf.function fully support control flow"
Hi， In eager mode, control flow is fully supported;
however, in graph mode, Does tf2.x fully support control flow. if so,  we write whether the control flow can be expressed in python statements, or tf2.x specific API 。

[2021-07-08 07:34] Saduf2019 commented on #50476
@777ki
Please refer to similar issues here:l[ink](https://stackoverflow.com/questions/42822844/tensorflow-incompatible-shapes-100-155-vs-128-155-when-combining-cnn-and),[link1](https://github.com/keras-team/keras/issues/11749#issuecomment-804620973).

Kindly create an issue on tensorflow discussion forum for any further queries.

So just change the training batch size to 2 from 8

[2021-07-08 08:06] Saduf2019 commented on #23049
@MustafaMustafa
This is fixed in tf 2.x, could you please verify and let us know.

[2021-07-08 08:29] Saduf2019 commented on #30089
I am facing a different issues, please find [gist here](https://colab.research.google.com/gist/Saduf2019/1fc5cd922e06200db7087126abfeb690/untitled.ipynb), the issue reported is resolved.

[2021-07-08 08:35] aucth opened #50666 "Quadratic runtime behavior in model.fit/predict with tf.keras.layers.experimental.preprocessing.TextVectorization"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.5.0
- Pyth

[2021-07-08 08:38] grofte commented on #50579
@aaudiber Perfect Andrew! That is exactly what I was asking for.

And I see that it is even out of experimental in the nightly build https://www.tensorflow.org/api_docs/python/tf/data/Dataset?version=nightly#snapshot

[2021-07-08 08:38] #50579 closed

[2021-07-08 09:08] tilakrayal commented on #50654
@yunjiangster ,

We see that you are using tf version 1.15, 1.x is not actively supported, please update to 2.x and let us know if you are using same issue.Thanks!

[2021-07-08 09:11] rmothukuru commented on #36897
@NEGU93,
Sorry for the delayed response. Can you please let us know if we can close this issue as the [associated PR](https://github.com/tensorflow/community/pull/286) has been merged? Thanks!

[2021-07-08 09:13] UsharaniPagadala commented on #50645
@howl-anderson

Could please open a [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow)/ Tensorflow discussion [forum](https://discuss.tensorflow.org/) issue as this is not a bug or feat request and move this to closed status.

[2021-07-08 09:14] NEGU93 commented on #36897
Yes sorry. You can choose it now.

[2021-07-08 09:20] rmothukuru commented on #37215
@iotwithit,
Sorry for the delayed response. **`SUB Operation`** seems to be added for [TF Lite Micro](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/micro/all_ops_resolver.cc). Can you please confirm the same so that we can close this issue? Thanks!

[2021-07-08 09:29] Alexanderstaehle commented on #47311
Could you maybe upload a more detailed example? :D I'm a bit new to this topic and I don't know if i fully understand your setup for this solution :)

[2021-07-08 09:30] RemiLacroix-IDRIS commented on #50628
I had a closer look and the call path seems to be the same for both our compiled build and the build from pip.

The last call I could track is in function `conv2d` in `tensorflow/python/ops/gen_nn_ops.py`:
[code]

The call to `pywrap_tfe.TFE_Py_FastPathExecute` returns successfully in the PIP build but fails with ours. Not sure how to get more information on what happens in that call.

Note that t

[2021-07-08 09:35] #36897 closed

[2021-07-08 09:38] ghylander commented on #50647
unfortunately i can't, provide the dataset, but it's not relevant, it happens when saving an untrained model (only default weights from imagenet)
by doing further tests i found out that the issue just started happening on the AWS machine we use for training models

it just began happening even with model architectures that have been working for months.
There is specially something that confuses me

[2021-07-08 09:39] brunovollmer commented on #50634
The problem was that I tried to built it on an azure machine learning instance inside a mounted networking file system and apparently the untar option does not work there properly as it does not support hard links. Solution was to run it outside the mounted file system.

[2021-07-08 09:39] #50634 closed

[2021-07-08 09:50] Koushik667 opened #50667 "Converting Boosted tree model to tflite"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): mac os Big Sur
- TensorFlow installation (pip package or built from source): pip package
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.4.1

### 2. Code

#### Option B: Paste your code here or provide a link to a custom end-to-end colab

`converter = tf.lite.TFLiteConverter.

[2021-07-08 09:52] howl-anderson commented on #50645
As I said before, it is not a bug of TensorFlow, it is a "bug" of the tutorial (something wrong with hyperparameter setting or corpus). I was being told (from tensorflow/docs) if there is an issue in docs, go here to report it. From the users' view, this tutorial is wrong. it is not a bug caused by the user.

[2021-07-08 10:10] anth2o opened #50668 "Can't use preprocess_input with mixed precision and Lambda layer"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-07-08 10:27] gyin-ai commented on #50650
@tilakrayal I have checked the source code but didn't see any potential function to do so. https://github.com/tensorflow/tensorflow/blob/ae38275fbbb602ef00930a8969ee4a352ae107e3/tensorflow/core/framework/op_kernel.h#L254

[2021-07-08 10:30] rmothukuru commented on #37369
@crystina-z,
Sorry for the delayed response. The API, [tf.estimator.RunConfig](https://www.tensorflow.org/api_docs/python/tf/estimator/RunConfig) has the argument, **`tf_random_seed`**. Can you please let us know if this is what you are looking for? Thanks!

[2021-07-08 10:38] rmothukuru commented on #37448
@tonyreina,
Sorry for the delayed response. Can you please refer the latest [documentation of BiasAddGrad](https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/bias-add-grad) and let us know if the issue still persists? Thanks!

[2021-07-08 10:47] sebltm opened #50669 "Internal Error with TF_GPU_ALLOCATOR=cuda_malloc_async"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Pop-OS 20.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): v2.5.0-rc3-213-ga4dfb8d1a71 2.5.0
- Python version: 3.9.5
- CUDA/cuDNN version: CUDA 11.4 / cuDNN 8.

[2021-07-08 10:55] sushreebarsa commented on #36781
@JivanRoquet  Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-08 10:58] sushreebarsa commented on #37432
@GyanendroKh Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-08 11:08] Nason-S opened #50670 "Internal: libdevice not found at ./libdevice.10.bc"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
CentOS 7.4

- TensorFlow installed from (source or binary): pip install
- TensorFlow version: 1.15
- Python version: 3.7
- Installed using virtualenv? pip? conda?: pip

- CUDA/cuDNN version:
Cudatoolkit 10.0.130, cuDNN 7.6.5.32

- GPU model and memory:
[code]

**Describe the problem**

I'm trying to run my tensorflow

[2021-07-08 11:38] Saduf2019 commented on #50611
@Neronjust2017
We see that you are using a old version of tensorflow [1.x] that is not supported now, please upgrade to tensorflow 2.x and let us know if you face any issues.

[2021-07-08 12:37] aakash30jan commented on #33840
@sachinprasadhs the issue is not fixed even with tf2.5,  you have pasted my workaround in your gist. The issue still persists, please check by pasting what OP @AravindGanesh has mentioned or check the proper gist [here](https://colab.research.google.com/gist/aakash30jan/7add0e61ea973844360cf569bf8dcffc/issue_33840.ipynb).

[2021-07-08 13:00] RemiLacroix-IDRIS commented on #50628
Not sure if it can help troubleshooting but it seems that non-eager mode works as expected on both our builds and the PIP builds:
[code]

[2021-07-08 13:06] UsharaniPagadala commented on #50670
@Nason-S

Kindly upgrade to 2.x stable version as there is no active support for 1.x, and let us know if the issue persist.
Please refer the similar issues [#4452](https://github.com/google/jax/issues/4452) and [#17801](https://github.com/tensorflow/tensorflow/issues/17801).
For latest test build configurations please refer [this](https://www.tensorflow.org/install/source#gpu)
and as you are build

[2021-07-08 13:18] RemiLacroix-IDRIS commented on #50628
Not sure if it can help troubleshooting the issue but it seems that **non-eager mode** works as expected on both our builds and the PIP builds **when using a GPU device**:
[code]
but **it still crashes when using a CPU device** and **the error is different depending on the build used**:
* our own build:
[code]
* PIP build:
[code]

[2021-07-08 13:44] tilakrayal commented on #50669
@sebltm ,

Every TensorFlow release is compatible with a certain version, for more information please take a look at the [tested build configurations](https://www.tensorflow.org/install/source#gpu).In this case, can you please try installing TensorFlow v2.5 with CUDA 11.2 and cuDNN 8.1 and check if you are facing the same error. Thanks!

[2021-07-08 13:48] demongolem-biz opened #50673 "Module 'tensorflow._api.v2.summary' has no attribute 'scalar'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Custom code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Red Hat 7.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
NA
- TensorFlow installed from (source or binary):
Binary
- TensorFlow version (use command below):

[2021-07-08 13:55] shreejalt opened #50674 "BigBiGAN Loss Function"
Hi,
I wanted to ask whether the BigBiGAN network contains KL Divergence Loss in the implementation? Because they have mentioned non-deterministic encoder architecture for sampling z vector. They used Variational Bayes for sampling as mentioned.

If anyone can help me out, it would be great!

Thanks in advance.

[2021-07-08 14:08] demongolem-biz commented on #50673
Picking up on a stray tensorflow-tensorboard install.  It is weird that one for computer, it apparently used the correct version and one it did not because I copied over the requirements.txt from one environment to another.

[2021-07-08 14:08] #50673 closed

[2021-07-08 14:33] M-Wolff commented on #50244
@deeb02 Thank you for your reply. Loading old models into newer versions not being a supported feature explains the high loss values, and it seems that the weird output prediction of a randomly initialized network for ResNet50 in TF 1.13.1 (i.e. for 5 classes [0, 0, 0, 1, 0]) has been fixed in newer versions and now produces in TF 2.4.1 [0.2, 0.2, 0.2, 0.2, 0.2] as expected.

But I still wonder wh

[2021-07-08 14:43] crystina-z commented on #37369
@rmothukuru
Hi! Yea I guess I didn't realize when using TPU, the `RunConfig` could be used as usual..thanks for the response!

[2021-07-08 14:43] #37369 closed

[2021-07-08 14:44] Lucy20211 opened #50675 "How to use weights to create a new op in Tensorflow"
I'd like to define a convolutional op by following this: https://www.tensorflow.org/guide/create_op. How can I access filter weights in the Compute method? In the call to the REGISTER_OP macro, should I define filter dimensions? Where the weights are updated?

[2021-07-08 14:51] talipini commented on #50637
Anyone have any workarounds or insights on this?

[2021-07-08 15:08] floriandotpy opened #50676 ""Given shapes (...) are not broadcastable" after conversion from tensorflow to tflite"
### 1. System information

-    OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
-    TensorFlow installation (pip package or built from source): `tb-nightly==2.6.0a20210706` installed via pip

### 2. Code

I am trying to convert a model from Pytorch -> ONNX -> Tensorflow -> tflite. The conversion works, but the results diverge between Tensorflow and tflite.

The origina

[2021-07-08 15:14] saikumarchalla commented on #50661
Was  able to reproduce the issue on colab with TF 2.5. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/b5134f90248252be82c92792ba891a2a/untitled.ipynb). Thanks!

[2021-07-08 15:24] saikumarchalla commented on #50614
@stormal I tired to reproduce the issue but  unable to load  the data. Could you please share the dataset  so that we can help you in a better way. Thanks!

[2021-07-08 15:33] hasan7n commented on #50661
'GradientTape' is different than `tf.gradients`.
The problem in the second code snippet is that your tensors are not being "watched" by `GradientTape`.
`tf.Variable`s are automatically watched by `GradientTape`, but tensors are not. You must "watch" them, or use `tf.Variable`s instead.
Information can be found in this guide:
[https://www.tensorflow.org/guide/eager#advanced_automatic_differentiatio

[2021-07-08 15:35] andreasntr commented on #46661
I'm having the same issue (during predict only) when using the following pre-trained keras models: VGG16, VGG19, MobileNet (I suppose it's the same with other models)

- Linux Mint 19.2 (based on Ubuntu 18.04)
- CUDA 11.3
- CuDnn 8.2
- Tensorflow 2.5.0
- Python 3.7.5
- Nvidia Quadro RTX 4000
- Nvidia driver 465.19.01

I know these CUDA and CuDnn are not officially supported by tf but maybe the bug

[2021-07-08 15:48] Saduf2019 commented on #50665
@liangzelang
Please check this [documentation](https://www.tensorflow.org/guide/function) it answers all your questions, kindly open a new issue in tensorflow discussion in case of any further queries as this is not a bug or a feat request.

[2021-07-08 15:57] Saduf2019 commented on #50661
@kindalime
You may also [refer](https://stackoverflow.com/questions/53953099/what-is-the-purpose-of-the-tensorflow-gradient-tape) to these links for better understanding,[this guide](https://www.tensorflow.org/guide/autodiff) would clear all doubts.

[2021-07-08 16:15] Alexanderstaehle opened #50678 "Keras model compiled with custom loss raises "Cannot convert a symbolic Keras input/output to a numpy array" error."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.5.0-rc3-21

[2021-07-08 16:15] Alexanderstaehle commented on #50678
[train.zip](https://github.com/tensorflow/tensorflow/files/6785913/train.zip)

[2021-07-08 16:28] haifeng-jin commented on #50613
@lgeiger Thank you for the issue!
`import keras` is not a standard usage after Keras became a dependency of TensorFlow.
We expect the users to only use `from tensorflow import keras`.
We may add additional guide to make sure the users are aware of this.

Regarding the duplication of the code, we will remove the code in tensorflow repo in the future.
@qlzh727 may have more info about this issue.

[2021-07-08 16:31] rxsang commented on #43690
Hi @sachinprasadhs, the problem should have been fixed by @yunxing. Could you try TF nightly?

[2021-07-08 16:35] lgeiger commented on #50613
@haifeng-jin I am aware of that. But unfortunately some APIs are not yet exposed via `tensorflow.keras` which means users and library authors are sometimes required to either rely on `tensorflow.python.keras` or `keras` directly. And as detailed above mixing and matching doesn't work as it is not the same code which can lead to not obvious issues. For more info checkout #44613 which e.g. also impa

[2021-07-08 16:39] #50596 closed

[2021-07-08 16:45] RedJyve commented on #50659
Thanks for pointing that out, it was part of the converting process so I thought I would just post it here, but I'll do it differently in the future.

[2021-07-08 17:05] qlzh727 commented on #50613
Thanks for reporting this issue and we are aware of this.

We leave the tensorflow.python.keras code in the release for now since we want to give user some time window (1 release) to migrate their code to use the new location if needed (although they shouldn't use the private APIs). Deleting the code will require immediate user action when they switch to TF 2.6. The code in tensorflow.python.keras

[2021-07-08 17:10] haifeng-jin commented on #50613
Actionable: add to release note about type checking and legacy code in tf.
Leave the code as it is for the next release.

[2021-07-08 17:17] ymodak commented on #50630
You may use TensorBoard to visualize TF-TRT graph
https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#tensorboard

[2021-07-08 18:22] haozha111 commented on #50448
Thanks for the info. If the issue only happens in the android tflite library, and not reproducible on desktop with the python interpreter, then I guess it's probably not caused by the dilated conv in the model. Have you tried the latest tf-nightly and see if the problem fixes?

[2021-07-08 18:25] SouthernYoda commented on #39414
@MarkDaoust thanks for your response.

Using batch() works without issues however I am trying to create a moving window for a timeseries dataset so batch wouldn't work for my application.

After I remove the label dict I encounter a different error where after using window() each feature is of type "_VariantDataset". Do I need to convert the dataset after window into another type before I pass it

[2021-07-08 18:27] soyers commented on #46661
Hi @andreasntr,

this is interesting. I actually stopped debugging this since I couldn't reproduce the issue with my minimal example posted above in TensorFlow 2.5.0. I was, therefore assuming that the issue was fixed in TF 2.5. Sorry for not reporting back on this!

Are you using the same code as I posted above or are you using a different setup? Could you provide example code reproducing the iss

[2021-07-08 18:39] MarkDaoust commented on #39414
Please re-read my previous comment:

Or in the updated docs see the section called on nested elements:  https://www.tensorflow.org/api_docs/python/tf/data/Dataset?version=nightly#nested_elements

Your dataset contains dictionaries of windows (the VariantDatasets). A dictionary doesn't have a `.batch` method.  you want:

`lambda xs: {key: window.batch(N) for key, window in xs}`

[2021-07-08 18:49] karimnosseir commented on #45014
@ibrahimgharyali Based on what you shared, the libraries are not packaged with your app. You need to get them packaged to be able to run the delegate.

[2021-07-08 18:52] edloper commented on #50642
The code for broadcasting ragged tensors ([here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/ragged/ragged_tensor_shape.py)) was written before the `uniform_row_length` option was added for partitioning ragged tensors.  (`uniform_row_length` was mainly added to help with multiple *leading* uniform dimensions -- shapes like `[5, 3, None]` -- which otherwise wouldn't b

[2021-07-08 19:04] edloper commented on #50620
To apply elementwise ops (or other elementwise functions) to ragged tensors, you can generally use `tf.ragged.map_flat_values`.  E.g., `tf.ragged.map_flat_values(tf.math.tanh, x)`.

Though I agree that you shouldn't have to do that -- where possible, ops should just work w/ ragged tensors.  I'm not sure why these two ops were left off the list of elementwise ops to dispatch for.

It looks like dis

[2021-07-08 19:33] edloper commented on #50620
I went through the ops under `tf.math`, and checked for any elementwise ops that didn't already have dispatch.  I'll send a PR to add dispatch for these ops.  The ops I identified were:

* tf.math.atan2
* tf.math.erfcinv
* tf.math.nextafter
* tf.math.recipricol_no_nan
* tf.math.softplus
* tf.math.tanh
* tf.math.bessel_i0
* tf.math.bessel_i0e
* tf.math.bessel_i1
* tf.math.bessel_i1e

Let me know if

[2021-07-08 19:49] #50632 closed

[2021-07-08 19:52] SouthernYoda commented on #39414
I don't understand what is going on with this object. In the documentation they show that after window we can use batch as taken from the documentation. Why is it working with the example in the document and not in my example. Does it have something to do with how I imported the data from the pandas dataframe that is causing this issue?

[code]

[2021-07-08 20:10] MarkDaoust commented on #39414
Yes. This gives you a dataset of `{str: Tensor}` dictionaries:

[code]

This gives you a dataset of (scalar) tensors:

[code]

`.window` replaces each tensor with a dataset. You can only call `.batch` on a dataset.

[2021-07-08 20:11] joelberkeley opened #50681 "Provide XLA as a standalone library"
**System information**
- TensorFlow version (you are using): n/a
- Are you willing to contribute it (Yes/No): Maybe, depends on the complexity of the problem (my C++ knowledge is minimal).

**Describe the feature and the current behavior/state.**
XLA is packaged with TensorFlow. I'd like to be able to install it as a standalone library.

**Will this change the current api? How?**
I don't really kn

[2021-07-08 20:17] andreasntr commented on #46661
Not exactly the same but I was doing something similar, i.e. I was slicing my dataset (since each observation is composed by N images) and feeding the model with one slice at a time in a for loop.
Even if I read that predict in for loop is discouraged, I wasn't expecting this behaviour with huge slices of data (more than 10k images per iteration, small batch size).
I solved the issue by reshaping

[2021-07-08 20:21] FalsoMoralista commented on #50583
Any updates?

[2021-07-08 21:31] qlzh727 commented on #50613
As a workaround, you could replace any "tensorflow.python.keras.xxx" imports with "keras.xxx" for 2.6 release, and it should work for you. For TF Addon, we probably will work with Addon to expose necessary endpoints as \_\_internal__ API, so that ppl can avoid using private API and have some level of API guarantee.

[2021-07-08 21:31] #50613 closed

[2021-07-08 23:19] gtoderici opened #50683 "Add support for WebP decoding in tf.io.decode_image"
**System information**
- TensorFlow version (you are using): 2.5.0
- Are you willing to contribute it (Yes/No): yes

**Describe the feature and the current behavior/state.**

tf.io.decode_image does not support WebP decoding. This makes using tfds and loading lsun/car impossible to use due to the fact that all images are encoded in WebP.

I'm somewhat surprised that DecodeImageV2Op doesn't support

[2021-07-08 23:41] pn12 opened #50684 "element_spec in tf.data.experimental.load - Variable Image Shapes"
I am facing an issue while using
[code]
Here the syntax requires element_spec argument to be filled, while I have images of variable shapes in the dataset, how do I mention the shape in such case.

Please suggest.

[2021-07-08 23:42] bhack commented on #50683
I think it is a dup of https://github.com/tensorflow/io/issues/930

[2021-07-08 23:44] pn12 commented on #50684
Resolved it,
can be closed!

[2021-07-08 23:44] #50684 closed

[2021-07-09 00:32] gtoderici commented on #50683
It is a dupe indeed.

[2021-07-09 00:32] #50683 closed

[2021-07-09 01:43] ymodak commented on #50656
Did you refer person detection example for tf lite micro to get some pointers?
https://github.com/tensorflow/tflite-micro/blob/main/tensorflow/lite/micro/examples/person_detection/training_a_model.md

[2021-07-09 02:06] arolet commented on #50448
Thank you for the answer.

I just tried with tf-nightly and it gives the same results.

I'm not sure what you mean by that, but the issue doesn't happen with other layers. In the minimal model I provided, which is only one convolutional layer, if you remove dilation then the bug doesn't happen. Similarly in my actual model (which has many more layers), if the bug only happens if there is some dila

[2021-07-09 02:27] ymodak commented on #50646
I tried executing the [training checkpoint guide](https://www.tensorflow.org/guide/checkpoint) and it works fine with TF 2.5.0 as well.
Perhaps you want to create a minimal code example to reproduce the issue observed. Thanks!

[2021-07-09 02:34] gititgo opened #50685 "resnet50 inference result is wrong with tensorflow+oneDNN"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-07-09 04:06] peiwenhuang27 opened #50686 "InvalidArgumentError: No OpKernel was registered to support Op 'QuantizedMatMulWithBiasAndDequantize'"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Google Colab
- TensorFlow installed from: binary
- TensorFlow version: 2.4.0
- Python version: 3.7
- (run on CPU)

I used a quantization package [LPOT](https://github.com/intel/lpot) supported with [Intel-Tensorflow](https://github.com/Intel-tensorflow/) to quantize my model, and ran inference under native Ten

[2021-07-09 04:17] #50661 closed

[2021-07-09 05:23] peiwenhuang27 commented on #50686
By the way, my goal is to load this model on ML.NET framework for inference. So any help/suggestions on how this issue could be resolved on ML.NET is also greatly appreciated!

[2021-07-09 05:40] hampengit commented on #46626
Hi all,

We have the same problem converting our model to tensorflow lite during quantisation stage. Is Softplus being supported now? if not, what would be the solution to convert models with Softplus ops?
Thanks

[2021-07-09 05:44] sushreebarsa commented on #37761
@valorusa Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-09 05:49] wwwwcu opened #50687 "Failed to convert mhlo dialect to Linalg dialect when the layout of Conv2d is NCHW"
I want to convert the conv2d operator from mhlo to linalg dialect. It seems like that it can't process the situation when the  layout of conv2d is NCHW.
The mhlo dialect of conv2d.mlir is shown below:
[code]
I use "./mlir-hlo-opt ./conv2d.mlir -hlo-legalize-to-linalg -o conv2d_linalg.mlir" to do the transformation.
I traced the workflow and found out when it checks "HasCanonicalDimensionNumbers()"

[2021-07-09 05:57] sushreebarsa commented on #37967
@seemakumar8 This is a micro related issue,Please post this in [micro repository](https://github.com/tensorflow/tflite-micro/issues)  and move this issue to close status..Thanks!

[2021-07-09 06:00] sushreebarsa commented on #38337
@wilerjrxd Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-09 06:06] sushreebarsa commented on #40152
@ltxitai Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-09 06:08] sushreebarsa commented on #40469
@msalvaris Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-09 06:10] sushreebarsa commented on #40686
@ievgen-goichuk-rft  Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-09 06:22] sushreebarsa commented on #40720
@jojivk73  Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-09 06:25] tilakrayal commented on #50666
@aucth ,

I ran the code shared and face a different error, please find the [gist](https://colab.research.google.com/gist/tilakrayal/78dd094a8f723caec480dadce6e21e8e/untitled50666.ipynb) here and share all dependencies to replicate the issue or share a colab gist with the reported error.Thanks!

[2021-07-09 06:47] DannyIsFunny commented on #50644
The docker image is built successfully.
I mean that I can't compile Tensorflow-Lite successfully in this docker image.

- Compiling is according to this [guide](https://www.tensorflow.org/lite/guide/build_android#build_tensorflow_lite_locally)
   - Compiling command: `bazel build -c opt --fat_apk_cpu=x86,x86_64,arm64-v8a,armeabi-v7a   --host_crosstool_top=@bazel_tools//tools/cpp:toolchain   //tens

[2021-07-09 07:00] brittle123 opened #50688 "Cropped Image feature in TFlite Image Segmentation Example"
Hello Tf Team!,... I'm using your image segmentation Android example in which deeplab model is being used. We get result and masked image in response. Could you please tell me how we can get the cropped image as we get the masked image! Please do let me know ASAP!
Thanks & Regards.

[2021-07-09 07:04] rmothukuru commented on #37576
@amascia,
Sorry for the delayed response. Since the [PR corresponding to this issue](https://github.com/tensorflow/addons/pull/1782) is **`Closed`**, can you please confirm if this Feature is still relevant? Thanks!

[2021-07-09 07:09] #37967 closed

[2021-07-09 07:13] rmothukuru commented on #37678
@tddevlin,
Sorry for the delayed response. Can you please let us know if [this PR](https://github.com/tensorflow/community/pull/188) followed by [this RFC PR](https://github.com/tensorflow/community/pull/209) has implemented the **`Feature`** that you are looking for? Thanks!

[2021-07-09 07:21] rmothukuru commented on #37692
@joelberkeley,
Sorry for the delayed response. As per the documentation of [**`tf.debugging.assert_shapes`**](https://www.tensorflow.org/api_docs/python/tf/debugging/assert_shapes#raises), it raises **`ValueError`** if:

Also, there is no Error in the [First Example](https://www.tensorflow.org/api_docs/python/tf/debugging/assert_shapes#example).

Hope this helps. Thanks!

[2021-07-09 07:26] VicGoico commented on #50656
Hi,

I saw that tutorial, but they explain how to train a classification model where the model can say if there is a person in the image, but not how many.
In my case, I would need a very lite SSD model, that can detected multiple objects in the same image, specifically people.

[2021-07-09 07:29] rmothukuru commented on #37706
@TanDatDo,
Sorry for the delayed response. From the documentation of [Post Training Quantization](https://www.tensorflow.org/lite/performance/post_training_quantization) and [RNN TF Lite Converter Guide](https://www.tensorflow.org/lite/convert/rnn), **`Batch Processing`** seems to be implemented for **`TF Lite`**. Can you please check? Thanks!

[2021-07-09 07:34] Hari-MathWorks commented on #22450
Does TensorFlow support Intel GPUs in its latest releases?

[2021-07-09 07:36] rmothukuru commented on #37721
@ngc92,
Sorry for the delayed response. Since it is more than an year since this issue has been raised, can you please refer the [latest documentation of Sparse Tensor](https://www.tensorflow.org/api_docs/python/tf/sparse/SparseTensor) and let us know if this **`Feature`** is implemented? Thanks!

[2021-07-09 07:37] ai1361720220000 commented on #45328
hello, i have the same error when quant my model to uint8 model. tf version 2.5.0.  Have you solved the problem?

[2021-07-09 07:40] tfeher commented on #45481
Some networks do reshape operations that change the first dim. It is done internally to express some operations more conveniently, the output is usually reshaped again to have the expected batch size. An example is [BERT TF1 model](https://github.com/NVIDIA/DeepLearningExamples/blob/c481324031ecf0f70f8939516c02e16cac60446d/TensorFlow/LanguageModeling/BERT/modeling.py#L674).

The dynamic shape feat

[2021-07-09 07:43] floriandotpy opened #50689 ""RuntimeError: Division by 0Node number 1252 (FLOOR_MOD) failed to invoke." after conversion from TensorFlow to tflite"
### 1. System information

-    OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
-    TensorFlow installation (pip package or built from source): `tb-nightly==2.6.0a20210706` installed via pip

### 2. Code

I am trying to convert a model from Pytorch -> ONNX -> Tensorflow -> tflite. The conversion works, but the results diverge between Tensorflow and tflite.

The origina

[2021-07-09 07:55] AdityaKane2001 commented on #48557
Requesting to close, as it is now implemented in [#14863](https://github.com/keras-team/keras/pull/14863) of keras-team/keras.

[2021-07-09 08:21] howardgriffin commented on #27846
any update?

[2021-07-09 08:58] thaink commented on #50644
You need to install the sdk using the command `android update sdk` and run ./configure.
It is described in the guide.

[2021-07-09 09:20] callzhang commented on #38461
where should I add this code? My original code is:
[code]

[2021-07-09 09:35] MPKenning opened #50691 "Custom training and and inference functions defined outside k-fold loop cause FailedPreconditionError"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.5.0
- Python version: 3.9.6
- GCC/Compiler version (if compiling from source): Apple clang version 12.0.0

[2021-07-09 09:40] yangyuimmerse opened #50692 "Build tensorflow-lite for armv7-a (embedded linux) failed？"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution :Linux Ubuntu 16.04 LTS
-target platform - embedded linux

[2021-07-09 09:45] npanpaliya commented on #50345
I've also been seeing the same error while building TF 2.5 with CUDA 10.2 on Linux ppc64le containers. On baremetal, the build works just fine. Could someone please help us on this?

[2021-07-09 09:50] tilakrayal commented on #50678
@Alexanderstaehle ,

I ran the code shared and face error, please find the [gist](https://colab.research.google.com/gist/tilakrayal/1df33312c18a68f6c7eab38d6a1be023/untitled50678.ipynb) here and share all dependencies to replicate the issue or share a colab gist with the reported error.Thanks!

[2021-07-09 09:54] yangyuimmerse commented on #50692
The build was not executed. What did I do wrong？

[2021-07-09 10:07] Alexanderstaehle commented on #50678
Hey @tilakrayal :) Thanks for the answer! The error occurs because the sample data was not uploaded :) i tried including it in a gist [here](https://colab.research.google.com/gist/Alexanderstaehle/afca7b85a227e676baa96116a4e07981/untitled50678.ipynb) but you can also find it in the initial description of the error under the bulletpoint "Othee info/logs" or under this link [here.](https://github.co

[2021-07-09 10:19] guillaumekln opened #50693 "Error log when using Dataset.group_by_window with Dataset.padded_batch"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from: binary
- TensorFlow version: 2.6.0rc0
- Python version: 3.6.9

**Describe the current behavior**

In TensorFlow 2.6.0rc0, an error log is emitted when `tf.data.Dataset.padded_batch` is used in the `reduce_func` of `tf.data.Dataset.group_by_window`.

This code did not l

[2021-07-09 10:19] guillaumekln commented on #50693
@saikumarchalla This is a C++ error log which is not visible by default on Colab. Please see this [gist](https://colab.research.google.com/drive/1YTo60nZzCeXl2VCb1tOW55yGNg-o0ZQP?usp=sharing) to reproduce on Colab.

[2021-07-09 10:21] yangyuimmerse commented on #50029
My problem is very similar to yours. I didn't perform the build after cmake

[2021-07-09 10:39] DenisUllmann opened #50694 "Error when applying tf.map_fn on symbolic tensors"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): conda
- TensorFlow version (use command below): tensorflow

[2021-07-09 10:43] UsharaniPagadala commented on #50637
@talipini

We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new?assignees=&labels=type%3Abug&template=00-bug-issue.md) has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]
Thanks

[2021-07-09 11:02] DenisUllmann commented on #50694
Sorry, I could resolve in this way:

[code]

I closed the issue.

[2021-07-09 11:02] #50694 closed

[2021-07-09 11:02] Nason-S commented on #50670
Thanks for the links, @martiningram answer found at #4452 was the solution to this issue.

[2021-07-09 11:02] #50670 closed

[2021-07-09 11:03] Saduf2019 commented on #50674
@shreejalt
Can you please let us know, where is it mentioned about "non-deterministic encoder architecture for sampling z vector".

[2021-07-09 11:29] stromal commented on #50614
<html>
<body>

  | a| b| c| d
-- | -- | -- | -- | --

31.1 | 36.1 | 0.0 | 0.723789
32.1 | 56.7 | 0.0 | 0.278357
35.3 | 78.5 | 0.0 | 0.348506

</body>
</html>

[2021-07-09 11:37] talipini commented on #50637
I have added github gist link which has the reproducible code to the original post but I will add the details here.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Colab jupyter notebok.
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happe

[2021-07-09 11:38] stromal commented on #50614
@saikumarchalla
I can not share the data set but it looks like as follows

<html>
<body>

  | a| b| c| d| e| f| g
-- | -- | -- | -- | -- | -- | -- | --
-2000 | 900.0 | 100.0 | 300.0 |  86.672575 | 45 | 5
-1999 | 5000.0 | 1500.0 | 400.0 | 45.688947 | 690 | 9

</body>
</html>

[2021-07-09 11:41] pranathibl opened #50695 "TFLite Variable Batch Size for Models"
Lets say my TFLite Model (mobilenet_v1) whose size is [1,224,224,3] where 1 is batch size.

I want to run for batch size 2.

[code]

Will the code I mentioned works for any TFLite model irrespective of any operations involved in model ?
Can I rely on the code for any TFLite Model ?

I got issue with Variable sequence length for few models. So wanted to confirm whether the same issue holds for vari

[2021-07-09 11:42] kevint324 commented on #47815
I'm suffering from the same issue. any updates? @angerson

[2021-07-09 11:58] pn12 opened #50696 "Snapshot not saved in tf.data.experimental.save"
Unable to load tf dataset at a later stage as the snapshot is not saved while running  -
[code]

What is the solution for this?

I have to save a tf dataset and reload it later.

[2021-07-09 12:04] #50644 closed

[2021-07-09 12:37] ghylander commented on #50647
Hi, i cloned my venv and installed tf 2.4.2 on it and i don't have this issue
is there something that changed in how models are saved?
previous to the stable 2.5.0 i had used both 2.5.0 nightly november release and march release, and i didnt have this issue before
i changed nothing in the code, just uninstalled 2.5.0 and installed 2.4.2
the issue is also present in the gist i linked, which i assum

[2021-07-09 12:38] UsharaniPagadala commented on #50688
@brittle123

This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow.](https://stackoverflow.com/questions/tagged/tensorflow)/ TF [Forum](https://discuss.tensorflow.org/) .There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks

[2021-07-09 12:42] UsharaniPagadala commented on #50675
@Lucy20211

This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow)/ TF [Forum](https://discuss.tensorflow.org/) There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance.
Thanks!

[2021-07-09 12:50] UsharaniPagadala commented on #50685
@gititgo

This issue is more suitable for TensorFlow Models repo. Please post it on Tensorflow Models [repo](https://github.com/tensorflow/models/issues) from here. Thanks!

[2021-07-09 12:54] Zeeshan113-hub commented on #49920
i have tflite model please change input size of my model provide me a code in which i can change my model input size
thanks

[2021-07-09 13:00] shreejalt commented on #50674
@Saduf2019 ,

As in ALI [10], the encoder E of our Base model is nondeterministic, parametrizing a distribution N (µ, σ). µ and σˆ are given by a linear layer at the output
of the model, and the final standard deviation σ is computed from σˆ using a non-negative “softplus”
non-linearity σ = log(1 + exp(ˆσ)) [9]. The final z uses the reparametrized sampling from [23],
with z = µ + σ, where  ∼ N (

[2021-07-09 13:13] tilakrayal commented on #50647
@ghylander ,

The warning was added with TF 2.5 in commit [076b5be](https://github.com/tensorflow/tensorflow/commit/076b5be77d3933deb726de1fc9d954d284985b1e#diff-08518b3b0b22c5c9dc137c911fa716fe820878cb9bbf95806ffca0e0296ec7fa).Please refer this [comment](https://github.com/tensorflow/tensorflow/issues/50324#issuecomment-864687940) from the issue.Thanks!

[2021-07-09 13:36] JVpltr opened #50697 "TfLite static MT build"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
- TensorFlow installed from (source or binary):
- TensorFlow version: 2.5
- Python version: 3.9
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from source): Bazel 2.7.2
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version:
- GPU model and memory:

Hi,
I'm trying

[2021-07-09 13:37] joelberkeley commented on #37692
@rmothukuru I don't think so. I understand how `assert_shapes` works. I just don't think it's functionality is suitable for internal code correctness checks

[2021-07-09 13:57] UsharaniPagadala commented on #50461
@Young768

Could you please provide a colab gist with required dependencies to analyse the issue reported .Thanks

[2021-07-09 14:08] #50653 closed

[2021-07-09 14:15] miguelCalado commented on #50593
Hi, any more updates on this issue?

Here's the list of things I've tried:
1. Put all the code inside mirrored strategy scope.
2. Used different GPUs: I've tried A100, A6000 and RTX5000. Also changed the number of graphic cards and varied the batch size.
3. Specified a list of GPUs, for instance, `strategy = tf.distribute.MirroredStrategy(['/gpu:0', '/gpu:1'])`.
4. Added this `strategy = tf.distri

[2021-07-09 14:36] dbl001 commented on #36792
I have the same issue.

Please see: https://github.com/tensorflow/tensorflow/issues/50353

1. the tensorflow_mac repository has been archived, so I can't add an issue.
2. the tensorflow_metal project (e.g. Tensorflow 2.5) gets an exception E.g. tensorflow.python.framework.errors_impl.NotFoundError: dlopen(/Users/davidlaxer/tensorflow-metal/lib/python3.8/site-packages/tensorflow-plugins/libmetal_pl

[2021-07-09 14:50] dennymarcels commented on #34697
I am trying to cave callback objects instead of models and getting the same error.

[2021-07-09 15:31] tilakrayal commented on #50691
@Saduf2019 ,
I was able to to reproduce the issue in tf [v2.4](https://colab.research.google.com/gist/tilakrayal/f288a30344ae20134e81bc3bb5aefed8/2-4broken_training_example.ipynb) and [v2.5](https://colab.research.google.com/gist/tilakrayal/4db737ebdfb6e35835ebc811a3097076/2-5broken_training_example.ipynb).Please find the gist here.

[2021-07-09 15:56] edloper commented on #50620
Fixed by 99f145872e474a603472e5d096631906bba86912.

[2021-07-09 15:56] #50620 closed

[2021-07-09 16:01] sushreebarsa commented on #21403
@apacha We see that you are using old version of tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Hence moving this to closed status.Thanks!

[2021-07-09 16:01] #21403 closed

[2021-07-09 16:13] nyadla-sys commented on #48202
@petewarden

Can you please move this issue to tflite-micro github?

[2021-07-09 16:28] UsharaniPagadala commented on #50557
@berhanpolat

As per the documentation there is no GPU support for macOS. For more info please refer this [documentation](https://www.tensorflow.org/install/source#install_bazel).Thanks

[2021-07-09 16:41] #50696 closed

[2021-07-09 16:42] talipini commented on #50637
This could be related to [43768](https://github.com/tensorflow/tensorflow/issues/43768) but not sure.

[2021-07-09 16:43] talipini commented on #43768
@aaudiber I might be running this same issue but not entirely sure. Any insights into [50637](https://github.com/tensorflow/tensorflow/issues/50637) - model.fit with dataset generator results in deadlock/hang. Appreciate any thoughts. Thanks

[2021-07-09 17:00] UsharaniPagadala commented on #50637
@talipini

Could you Please refer [this](https://stackoverflow.com/questions/47705684/tensorflow-tf-data-dataset-from-generator-does-not-work-with-strings-on-pyt), hope it helps.Thanks

[2021-07-09 17:20] DanBmh opened #50702 "AttributeError: 'ReLU' object has no attribute '_saved_model_inputs_spec'"
Got following error `AttributeError: 'ReLU' object has no attribute '_saved_model_inputs_spec'` when trying to export a model (`tf.keras.models.save_model`) with an `input_signature`.

-> I could solve it by switching `tensorflow.keras.layers.ReLU()(x)` to `tf.nn.relu(x)`

<br>

Tested in tf=2.4.0
Stack trace:
[code]

[2021-07-09 17:28] Saduf2019 commented on #50674
@shreejalt
Where in tensorflow do you expect these changes to be made.

[2021-07-09 17:35] cottrell commented on #27684
Looks like it still persists (am on a different machine now, Linux with GPU but I think that shouldn't matter for this problem).

[code]

[2021-07-09 18:11] ymodak commented on #50659
Can you please share a reproducible code to validate the issue? Thanks!

[2021-07-09 18:18] chethanjjj commented on #27190
If we set the reduction in our loss totf.losses.Reduction.NONE when we compile our model is there a way to retrieve the unreduced losses when we evaluate on a sample? I'm running into an issue where the loss in my model (with zeroed-out weights and bias - code below on how i'm doing this) is not what I'm expecting.

[code]

So I'd like to diagnose how my model is calculating the loss by looking at

[2021-07-09 18:23] ymodak commented on #50645
<img width="373" alt="Screen Shot 2021-07-09 at 11 16 52 AM" src="https://user-images.githubusercontent.com/42785357/125120336-2d5a8780-e0a7-11eb-980e-b7551ec30819.png">

I see relatively valid results. Can you please try again?
http://projector.tensorflow.org/

[2021-07-09 18:27] RedJyve commented on #50659
Sure

Here is the link:
[collab](https://colab.research.google.com/drive/1KwygD93TKndmIgZTQQVQzhzwN2nbAOzB?usp=sharing)

Here is the saved model directory:
[model_full_real.zip](https://github.com/tensorflow/tensorflow/files/6793257/model_full_real.zip)

[2021-07-09 18:34] Lucy20211 commented on #50675
Ok, sorry.

[2021-07-09 18:38] ymodak commented on #50397
Cross posting this issue to stand alone keras-team/keras repo for further investigation

[2021-07-09 18:38] #50397 closed

[2021-07-09 18:42] chethanjjj opened #50704 "Retrieving the Unreduced Losses"
If we set the reduction in our binary cross entropy loss to tf.losses.Reduction.NONE when we compile our model (code below) is there a way to retrieve the unreduced losses when we evaluate on a sample?

[code]

I'm running into an issue where the loss in my model (with zeroed-out weights and bias - code below on how i'm doing this) is not what I'm expecting.

[code]

So I'd like to diagnose how my

[2021-07-09 18:44] UsharaniPagadala commented on #50702
@DanBmh

We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new?assignees=&labels=type%3Abug&template=00-bug-issue.md) has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced]. Thanks

[2021-07-09 18:48] UsharaniPagadala commented on #50675
@Lucy20211

Could you please move this to closed status and open  new issue with mentioned links above.Thanks!

[2021-07-09 18:50] thierryherrmann opened #50705 "tf.saved_model.save() much slower than tf.compat.v1.saved_model.loader.load()"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution: Ubuntu 18.04.5 LTS
- TensorFlow installed from: binary
- TensorFlow version: 2.3.2
- Python version: 3.8.5
- CUDA/cuDNN version: 11.1.74 / 8.0.5
- GPU model and memory: NVidia Tesla V100-SXM2-32GB

**Describe the current behavior**
To load a

[2021-07-09 18:52] DanBmh commented on #50702
I did use Nvidia's tensorflow container: nvcr.io/nvidia/tensorflow:21.03-tf2-py3
Python version is 3.8.5

I've been trying to export a model with weights loaded from .index and .data-xxx files (exported in tf=2.4). As far as I remember it did not happen with a model loaded directly from saved_model.pb + variables/ (exported in tf=2.3)

The model+exporting code can be found at: https://gitlab.com/J

[2021-07-09 18:53] #50675 closed

[2021-07-09 19:39] peri044 opened #50706 "Saved model loading : KeyError: '__inference_depthwise_conv2d_layer_call_fn_126'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 2.5
- Python version:
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from

[2021-07-09 19:45] peri044 commented on #42004
@idofr Can you elaborate on your [comment ](https://github.com/tensorflow/tensorflow/issues/42004#issuecomment-669118318)as to what those exact changes were ?
I'm facing a similar issue https://github.com/tensorflow/tensorflow/issues/50706 and it will be helpful.

[2021-07-09 20:22] haozha111 commented on #50448
Sure. So the issue is gone if you use the python interpreter (on desktop) ?

[2021-07-09 20:29] berhanpolat commented on #50557
I have tried this documentation. To install tensorflow with bazel it takes hours to install it locally and gives errors at the end.

I actually want to deploy my app to google engine and build tensorflow with bazel. I have also tried this but does not work. It takes too long and gives errors too.

Any methods to suggest?

[2021-07-09 20:44] talipini commented on #50637
Thank you. First one is referring to an issue with strings in the generator, which I am not using. The [second](https://github.com/tensorflow/tensorflow/issues/21277) one is referring to deadlock on session destructor but that is supposed to be fixed in 2018. I went through both chains but I am kinda lost on it.  But [43768](https://github.com/tensorflow/tensorflow/issues/43768) looks interesting

[2021-07-10 01:47] #50387 closed

[2021-07-10 01:47] #44697 closed

[2021-07-10 01:47] #38701 closed

[2021-07-10 01:47] #30773 closed

[2021-07-10 01:47] #49911 closed

[2021-07-10 01:47] #50403 closed

[2021-07-10 01:47] #50391 closed

[2021-07-10 01:47] #29614 closed

[2021-07-10 01:47] #29808 closed

[2021-07-10 01:47] #50411 closed

[2021-07-10 01:47] #30045 closed

[2021-07-10 01:47] #30535 closed

[2021-07-10 01:47] #29304 closed

[2021-07-10 01:47] #30108 closed

[2021-07-10 01:47] #31542 closed

[2021-07-10 01:47] #44100 closed

[2021-07-10 01:47] #48763 closed

[2021-07-10 01:47] #50307 closed

[2021-07-10 01:47] #40415 closed

[2021-07-10 01:47] #50422 closed

[2021-07-10 01:47] #50429 closed

[2021-07-10 01:47] #31447 closed

[2021-07-10 01:47] #50421 closed

[2021-07-10 01:47] #31729 closed

[2021-07-10 01:47] #31738 closed

[2021-07-10 01:47] #32620 closed

[2021-07-10 01:47] #34040 closed

[2021-07-10 01:47] #49938 closed

[2021-07-10 01:52] howl-anderson commented on #50645
Hi @ymodak, Thank your reply. But what you show in the previous comment is not the word embedding view. It is the view that the projector helps you (using edit distance or something) to choose what word do you want to query. It is NOT the query result. After you choose the query word, then it will give some nearest words with scores or distances. Also, Please also notice that we are discussing wor

[2021-07-10 01:55] howl-anderson commented on #50645
Also, I have already run the model more than 5 times, every time it gives meanless embedding.

[2021-07-10 02:47] #32932 closed

[2021-07-10 02:47] #32964 closed

[2021-07-10 02:47] #33172 closed

[2021-07-10 02:47] #33557 closed

[2021-07-10 02:47] #50437 closed

[2021-07-10 02:47] #43141 closed

[2021-07-10 02:47] #50438 closed

[2021-07-10 02:47] #48514 closed

[2021-07-10 02:47] #36309 closed

[2021-07-10 03:55] LinJM opened #50709 "Failed precondition: Cannot compute input sources for dataset of type PaddedBatchDatasetV2"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.6.0 rc0

[2021-07-10 05:28] guillaumekln commented on #50709
Also reported in https://github.com/tensorflow/tensorflow/issues/50693

[2021-07-10 09:18] SouthernYoda commented on #39414
@MarkDaoust that makes more sense thanks for the clarification, I was able to resolve the issue by referencing the issue linked below :)

https://github.com/tensorflow/tensorflow/issues/43703#issue-712836365

<h2> Working code </h2>

[code]

[2021-07-10 10:34] chethanjjj opened #50710 "Understanding How Masking Affects BCE Loss Function"
Hi, I'm experimenting with masking and have come across an interesting observation. I've created a simple GRU-based model with zeroed-out weights and biases along with a simple X and Y tensor. Theoretically, because my weights and biases are set to zero I should get the same loss value for the same dataset regardless if masking is on or not. However, I find that masking affects my results and I'd

[2021-07-10 10:41] VicGoico commented on #50656
Hi,

My main question is:

Could I work with an object detection model in a MCU like ESP-EYE, with 4MB of size, using TFLiteMicro or TFLiteMicro only can support object classification models, like this [example](https://github.com/tensorflow/tflite-micro/tree/main/tensorflow/lite/micro/examples/person_detection#running-on-esp32)?

Because all object detection models that I saw are more heavy than

[2021-07-10 14:00] Colin-Guolin opened #50711 "My model seems not using my custom designed loss function"
I defined a triplet loss function as follow:

[code]

and then I compile it with my model by

    self.model.compile(loss=self.triplet_loss(alpha=margin,
                                              # emb_dim=emb_size
                                               ),
                        optimizer=optimizer )

then the model start training process by using `self.model.train_on_batch(data)`,
[c

[2021-07-10 14:14] bhack commented on #30896
@SamuelMarks I suggest to start a thread in [our forum](https://discuss.tensorflow.org/)

[2021-07-10 15:25] denix56 opened #50712 "tf.repeat memory consumption and performance"
Windows 10
TF 2.5.0
Python 3.8
CUDA 11.2
RTX 3060 6 GB

tf.repeat consumes much more memory with axis=0 in comparison if I create the same array with tf.gather.

[code]

[code]

Also my code ( I might share it, but is quite huge) runs 58 sec when I use tf.gather on each iteration and 73 sec when I use repeat, that is a bit strange (as tf.repeat is just a particular case of gather in this case).
Wh

[2021-07-10 15:50] denix56 opened #50713 "tf.math.segment_sum XLA"
tf.math.unsorted_segment_sum works on XLA (jit_compile=True), but tf.math.segment_sum is reported as missing op.
Is it possible to implement tf.math.segment_sum on XLA?

[2021-07-10 15:55] jiangzhen3s opened #50714 "RuntimeError: Regular TensorFlow ops are not supported by this interpreter. Make sure you apply/link the Flex delegate before inference.Node number 13 (FlexRandomStandardNormal) failed to prepare."
hi

i use colab to train and  save an VAE model (use default colab environment ,tensorflow version is 2.5.0)
i want deploy model on jetson nano ,
i install tflite_runtime version is  2.5.0

when running(  interpreter.allocate_tensors() ) error come:

usr/bin/python3 /home/jz/Desktop/test/demo/testTFLiteRuntime.py
Traceback (most recent call last):
File "/home/jz/Desktop/test/demo/testTFLiteRuntime

[2021-07-10 19:58] djbacad commented on #50652
Thanks. I was able to resolve it by using TF v2.5.0 both for the benchmark tool and the TF lite conversion.
Just one quick question before I close the issue:
In terms of inference time, what is expected for quantized versions of model? Higher or Lower?

[2021-07-10 23:35] EdwinKuriakose opened #50717 "tensorflow.python.framework.errors_impl.InternalError: cudaGetDevice() failed. Status: initialization error"
****System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Pro
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.5.0
- Python version: 3.9
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: 11.2/8.1.0
- GPU model and mem

[2021-07-11 00:00] AdamMiltonBarker commented on #35070
This is a real pain, I have an Acute Lymphoblastic Leukemia model loaded on a Nano 33 BLE and get the following, "Arena size is too small for all buffers. Needed 2497920 but only 209248 was available." unfortunately incrementing the arena size any further leads to the board becoming unresponsive, it uses 97% of dynamic memory and if I push arena size any further have to double tap reset to bring t

[2021-07-11 00:04] AdamMiltonBarker commented on #35070
They have moved here by the way: https://github.com/tensorflow/tflite-micro but none of the old notebooks are available any more. All links from Tensorflow website are broken, not good for people who may be considering using this tech lol.

[2021-07-11 04:13] JesseLT opened #50718 "Why is it so slow?"
I'm using MacBook Air with M1 chip. OS version is Big Sur 11.4.
`which python`
`/Users/dmitry/Applications/Miniforge3/bin/python`
I run the following code using [tensorflow-macos](https://developer.apple.com/metal/tensorflow-plugin/) and [tensorflow_macos](https://github.com/apple/tensorflow_macos), respectively.
`import tensorflow as tf`
`mnist = tf.keras.datasets.mnist`
`(x_train, y_train), (x_t

[2021-07-11 06:51] Lucy20211 opened #50719 "Cannot convert a symbolic Keras input/output to a numpy array when using TF Lite converter"
**System information**

- OS Platform and Distribution: Linux Ubuntu 20.10
- TensorFlow version: 2.4.1
- Python version : 3.8

**Describe the problem**

Hi, I need to implement a custom convolution layer which is not supported by Tensorflow and TF Lite, so I tried to define it by using this link: https://www.tensorflow.org/guide/create_op (in order to have a TF operator for the op) and this link:

[2021-07-11 07:10] snthibaud opened #50720 "Docker image tensorflow:latest or tensorflow:2.5.0 is missing git"
Following the steps in Docker Linux builds / CPU-only from https://www.tensorflow.org/install/source , I noticed git was missing when issuing git pull. It works with the :devel image, but not with :latest or :2.5.0.
Even installing git manually inside the container is not enough, because the source code is also missing in /tensorflow.
Perhaps the documented steps only work for certain versions?

[2021-07-11 07:25] nicolaspi opened #50721 "Model with nested input spec fails"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.5.0
- Python version: 3.9

**Describe the current behavior**
The [logic](https://github.com/tensorflow/tensorf

[2021-07-11 10:07] Saduf2019 commented on #50629
@lonway
Could you please upgrade the tensorflow version to 2.x and let us know if you face the issue as 1.x is not actively supported.

In 2.x you may try:
You may try limiting gpu memory growth in this case.
Put following snippet on top of your code;

```import tensorflow as tf```
```gpus = tf.config.experimental.list_physical_devices('GPU')```
```tf.config.experimental.set_memory_growth(gpus[0],

[2021-07-11 10:27] Saduf2019 commented on #50678
@Alexanderstaehle

Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-11 10:38] kurudinesh commented on #50594
I updated the issue with sample code to reproduce and system details. The code fails with interleave also and added almost same code to reproduce it also below.

[code]

[2021-07-11 10:43] lyh16 commented on #45930
I am running TensorFlow v2.4.1 and PyTorch v1.8.1 LTS with an NVIDIA RTX 3090 on a JupyterHub(The Littlest Jupyter Hub).
The suggestions that involve the "apt" command are therefore impractical in my case.
After scouring the internet(Github+Stack Overflow+etc.)  for multiple days, I've come up with a solution for JupyterHub users.
My suggested solutions are intended for JupyterHub users, but hopef

[2021-07-11 13:42] Lucy20211 commented on #50719
I think the problem is due to the fact that TF Lite converter receives a Keras Tensor (a placeholder) rather than an array numpy, but I'm not sure how I could convert the model if I have to use a TF Lite custom op.

[2021-07-11 13:51] europeanplaice commented on #50004
It was because of module name conflicts. Until v2.5, there were `tensorflow/python/keras/layers/normalization.py` and  a directory `tensorflow/python/keras/normalization`. The author used `normalization` in two places. It caused the error.

v2.6 solved it.
However, v2.6 is not officially released, so you should install 2.6.0rc0 by `pip install -U tensorflow==2.6.0rc0`

[2021-07-11 14:52] AdamMiltonBarker opened #50725 "TFlite from keras model full integer quantization fails with zero padding"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): oneAPI AI Analytics Toolkit
- TensorFlow version (use com

[2021-07-11 15:00] jt0dd opened #50726 "Print a warning or error when an empty TFRecord file is used."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

This is a feature request in the sense that it's asking for a new functionality to make a scenario not fail silently. N

[2021-07-11 15:40] AdamMiltonBarker commented on #43386
Thanks for this you answered a question that I had been scratching my head about. Do you know why full integer quantization would be failing with Zero Padding ? https://github.com/tensorflow/tensorflow/issues/50725

[2021-07-11 15:59] catskillsresearch opened #50727 "Translate use of Adam Optimizer from TF 1 to TF2 causing TF2 to coredump"
**System information**

- OS Platform and Distribution: Ubuntu 21.04
- TensorFlow installed from (source or binary): pip install tensorflow=2.5.0
- TensorFlow version (use command below): v2.5.0-rc3-213-ga4dfb8d1a71 2.5.0
- Python version: 3/8/10
- CUDA/cuDNN version: cuda_11.3.r11.3/compiler.29920130_0
- GPU model and memory: NVIDIA GeForce RTX 2080 Ti, 11GB

**Describe the current behavior**

I

[2021-07-11 16:29] makcimbx commented on #46840
Upgrade to 8.3.1 is work too.

[2021-07-11 17:24] Avelina9X commented on #36465
Still having this issue. Just trying to move some 'leaky' code inside a function to hope this hints to the gc that artefacts created during the function should be cleaned up... AND IT WORKED!

can confirm this works
[code]
But... this shouldn't be required. Clearly there is some issue in tensorflow making gc.collect() mandatory as well.

[2021-07-11 17:24] TechnikEmpire commented on #20905
@jdduke I would assume that the need for a static library here is the same basic reason for needing any static library: speed and size optimization. I only want what I absolutely need and I don't want the overhead of dynamic lookups.

[2021-07-11 18:02] roebel opened #50728 "TF25 inconsistency between eager and graph mode"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):

Yes, I use a

[2021-07-11 18:18] dbl001 commented on #36792
Does tensorflow-metal and/or tensorflow-macos require OS X Monterey?

[2021-07-11 18:28] ymodak commented on #50692
Are you following the steps mentioned in https://www.tensorflow.org/lite/guide/build_cmake?

[2021-07-11 21:07] dsantiago commented on #44592
The function `tf.keras.preprocessing.timeseries_dataset_from_array` is slow aswell, if you make the window in numpy, and pass the batch_size in the fit method of the model, is faster

[2021-07-12 01:31] arolet commented on #50448
Yes, the python interpreter has the correct shape, and give the same output as the original tensorflow (not lite) model.

[2021-07-12 03:06] mingting opened #50730 "markdown render incorrectly in operation_semantics#batchnormgrad"
## URL(s) with the issue:

https://www.tensorflow.org/xla/operation_semantics#batchnormgrad

## Description of issue (what needs changing):

the brachnormgrad table render incorrectly

### Clear description

![image](https://user-images.githubusercontent.com/1769997/125224912-fb446200-e300-11eb-9b90-39edc743582f.png)

### Correct links

no find yet

markdown to html used google internel doc system

[2021-07-12 03:14] dh-g commented on #46648
@rmothukuru @saikumarchalla hey guys any updates? there has been no update for 5 months now. And as you can see from @ttang235 's comment this is not a lone incidence.

[2021-07-12 04:54] brittle123 commented on #50688
Thankyou for the quick response but i didn't get any help from my search on stack overflow. Please can you give me a link where to find it?

[2021-07-12 05:55] cmj5064 commented on #39240
# tensorflow 1.x
# X       = tf.placeholder(tf.float32, shape=(None, image_height, image_width, image_depth))
# Y_obj   = tf.placeholder(tf.float32, shape=(None, num_of_anchors,2))
# Y_coor  = tf.placeholder(tf.float32, shape=(None, num_of_anchors,4))
# anch_bool = tf.placeholder(tf.float32, shape=(None, num_of_anchors))

# tensorflow 2.x
X       = tf.Variable(tf.ones(shape=[None, image_height, im

[2021-07-12 07:29] aucth commented on #50666
@tilakrayal
Sorry, there was a typo in my code example. I updated my code example above. You can also find the gist [here](https://colab.research.google.com/gist/aucth/9a020572f3427ad3e0f0974be2ae4b2e/untitled50666.ipynb).

[2021-07-12 07:34] #25974 closed

[2021-07-12 07:59] ItsMeTheBee opened #50731 "Possibility to define operator version"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installation (pip package or built from source): pip package 2.3.0 CPU
- TensorFlow library (version, if pip package or github SHA, if built from source): from installation

### 2. Code

[code]

### 5. (optional) Any other info / logs

I've trained a UNet model according to these [intruc

[2021-07-12 08:21] RemiLacroix-IDRIS commented on #50628
Hello,

I just realized that our builds have XLA enabled (`XLA_FLAGS=--xla_hlo_profile`), I guess it could be relevant for this issue.

[2021-07-12 09:41] lfch opened #50733 "Increasing physical memory usage implemented with tensorflow."
** Version Info **
Version: v3.9.2
Language: C++
OS Version: Centos 7.2 final
Tensorflow version: 2.4
Compiler: g++ 8.3

**What did you do?**
We are ready to use libtensorflow_cc 2.4 on machine learning platform and libtensorflow uses protobuf of which the Arena memory management is a requirement. We use the message GraphDef and SparseWeights (which are variables on stack) to deserialize data from

[2021-07-12 10:04] tilakrayal commented on #50721
@nicolaspi ,

Please post this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues).
To know more refer to:
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-07-12 10:30] tilakrayal commented on #50650
@gyin-ai ,

In order to expedite the trouble-shooting process, could you please provide a minimal code snippet and the TensorFlow version you are using.Thanks!

[2021-07-12 10:34] #50014 closed

[2021-07-12 10:34] #33598 closed

[2021-07-12 10:34] #33679 closed

[2021-07-12 10:47] nicolaspi commented on #50721
@tilakrayal  ,

Done

[2021-07-12 11:01] tilakrayal commented on #50721
@nicolaspi ,

Please feel free to move this to closed status as this issue has been tracked in keras repo.Thanks!

[2021-07-12 11:15] #50721 closed

[2021-07-12 11:22] furh18 commented on #24828
is works !

[2021-07-12 11:34] #50459 closed

[2021-07-12 11:34] #33784 closed

[2021-07-12 11:59] saikumarchalla commented on #50668
@anth2o It looks like your Issue relates to the Keras component. Please submit it to the [github.com/keras-team/keras](github.com/keras-team/keras) repository instead. As ([previously announced](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999/)), all future development of Keras is expected to happen in the [github.com/keras-team/kera

[2021-07-12 12:06] saikumarchalla commented on #50704
@chethanjjj  It looks like your Issue relates to the Keras component. Please submit it to the [github.com/keras-team/keras](github.com/keras-team/keras) repository instead. As ([previously announced](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999/)), all future development of Keras is expected to happen in the [github.com/keras-team

[2021-07-12 12:09] akkshay0107 opened #50734 "ProtoCompile Error while building tf 2.5 from source"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary):  source
- TensorFlow version: 2.5.0
- Python version: 3.8.6
- Installed using :
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if compiling from source): Visual Studio 2019
- No GPU

Build always fails to complete due to some Proto

[2021-07-12 12:30] arturdryomov commented on #40313
@jdduke, hey, it’s been a year — what’s the current status of the delegate? Is it enabled by default or still requires building?

Also — is it possible to see TF logs while executing a TF Lite model via the Python API? I see a silent output while executing so I’m not sure what’s going on under the hood.