[2018-11-08 14:54] meteorcloudy commented on #23402
@vyepishov Yes, you can do that. Or you can also cherry-pick #23583, it's a quite a simple change.

[2018-11-08 15:09] bjascob commented on #23593
BTW.. I was curious so I looked back to see what versions of TF support compute capability 3.0 and even back in mid-2015 it looks like they were compiling for CC 3.5 and 5.2, no support for 3.0.  Looks like you'll need to compile from source if you want to use the GPU.  I had to do this for my laptop's 860M and it now runs without issue.

[2018-11-08 15:15] vyepishov commented on #23402
@meteorcloudy Thanks for the answer and good news! I will stick to the option to add the argument to the command line :)

[2018-11-08 15:21] wt-huang commented on #22952
Closing as this is resolved

[2018-11-08 15:21] #22952 closed

[2018-11-08 15:22] #23076 closed

[2018-11-08 15:24] wt-huang commented on #15079
Closing as this is resolved

[2018-11-08 15:24] #15079 closed

[2018-11-08 15:29] wt-huang commented on #12330
Closing as this is resolved

[2018-11-08 15:29] #12330 closed

[2018-11-08 15:29] wt-huang commented on #10607
Closing as this is resolved

[2018-11-08 15:29] #10607 closed

[2018-11-08 15:30] wt-huang commented on #13805
Closing as this is resolved

[2018-11-08 15:30] #13805 closed

[2018-11-08 15:31] wt-huang commented on #14374
Closing as this is resolved

[2018-11-08 15:31] #14374 closed

[2018-11-08 15:31] wt-huang commented on #19182
Closing as this is resolved

[2018-11-08 15:31] #19182 closed

[2018-11-08 16:02] shakthydoss opened #23605 "Tensorboard projector visualisation - PCA keeps loading or not working"
Tensorboard projector visualisation - PCA keeps hanging.
I wrote a simple NN to predict the class type of iris dataset. NN model works fine.
[code]
Now I am trying to visualise the output of the test set. Below is the code for Tensorboard projector. I don't what I am missing but PCA keeps loading even after starting the Tensorboard several minutes ago.

import tensorflow as tf
from tensorflow.cont

[2018-11-08 16:34] jdduke commented on #22345
Can you run configure again and *only* enable Android support (that is, disable XLA/Cuda/etc...)?

[2018-11-08 16:43] TheIdanLapid commented on #9680
Really? TF isn't compatible with the latest version of Python? :(

[2018-11-08 16:46] mihaimaruseac commented on #23569
Can you try renaming `molecular dynamics` folder to something with no spaces in it (i.e., `molecular_dynamics`)? I think that should solve the issue

[2018-11-08 16:55] RamishaRaniK commented on #9680
So far. Variable used in tf are marked as reserved keywords in python 3.7

On Thu 8 Nov, 2018, 10:18 PM Idan, <notifications@github.com> wrote:

[2018-11-08 17:06] Nimitz14 commented on #23260
I've also tried using ndk16b and ndk15c, as well as setting `ANDROID_NDK_API_LEVEL=21`. Nothing worked.

[2018-11-08 17:21] allenlavoie commented on #18769
Interesting, thank you for trying that out. So maybe it is a Mac-specific issue.

Just to check, do you have >20GB of disk and >20GB of RAM free before running that snippet? This could be a badly reported OOM or out-of-disk error I suppose.

[2018-11-08 17:21] harshini-gadige commented on #23574
@gunan  PTAL

[2018-11-08 17:31] VincentMatthys commented on #21695
It may happen when you delete the previously defined model_dir in your Estimator configuration: FileWriter will fail to write in the deleted directory (even a directory with the same path is created).

You can use tf.summary.FileWriterCache.clear() to clear current cache if this happens. You will lose anterior cached summaries though.

[2018-11-08 17:32] harshini-gadige commented on #23602
#10033

[2018-11-08 17:39] harshini-gadige commented on #23595
@azaks2  PTAL

[2018-11-08 17:40] sjain-stanford commented on #23591
Thanks @facaiy for the pointer to [#22648](https://github.com/tensorflow/tensorflow/issues/22648). Yes definitely related, but I'm having trouble understanding the conclusion there. Was there a proposed solution/workaround to handle such inheritances of `tf.Variable` in TF1.11 onward?

As @leandro-gracia-gil [pointed out](https://github.com/tensorflow/community/pull/11/files#r215829467), we highly

[2018-11-08 17:41] #23057 closed

[2018-11-08 17:42] #23587 closed

[2018-11-08 17:45] #23449 closed

[2018-11-08 17:51] harshini-gadige commented on #23231
@shlens @ChrisAntaki   -  Could you please suggest a right person to assign this issue ?

[2018-11-08 17:52] gargn commented on #22191
@Elites2017 `None` is only supported in the first dimension. You can set the input shape using the `input_shapes` argument in the command line or in whichever classmethod you are using.

The windows 10 issues are being tracked in issue https://github.com/tensorflow/tensorflow/issues/22897.

[2018-11-08 17:53] harshini-gadige commented on #23348
@reedwm  PTAL

[2018-11-08 18:03] gargn commented on #22019
Reference the solution provided by @IMBurbank (https://github.com/tensorflow/tensorflow/issues/22019#issuecomment-425378974) in order to freeze a graph in TensorFlow 1.10. Closing this bug since there is a workaround provided.

[2018-11-08 18:03] #22019 closed

[2018-11-08 18:08] harshini-gadige commented on #22991
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-08 18:08] #22991 closed

[2018-11-08 18:09] harshini-gadige commented on #23112
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-08 18:09] #23112 closed

[2018-11-08 18:09] #23123 closed

[2018-11-08 18:10] alextp commented on #22648
You'd need to inherit from the private underlying implementation types, RefVariable (deprecated) or ResourceVariable.

If you describe your use-case for inheriting from Variable we can discuss how best to accomplish it.

[2018-11-08 18:22] alextp commented on #23591
There is no public API in tf right now to subclass variables. If you want to continue depending on the private implementation details you can inherit from the internal RefVariable type instead of Variable, but it doesn't have a subclass API.

I think you use-case can be addressed by Variable.from_proto, though.

[2018-11-08 18:41] mayou36 commented on #22648
@alextp thanks! ResourceVariable was what I also looked at. Our use-case is:
we are building a fitting library in High Energy Physics based on TF. We would really appreciate your opinion on the variables. As it's use-case specific, I'd propose to move it [here](https://github.com/zfit/zfit/issues/28) (and leave it as a reference).

[2018-11-08 18:42] AlvaroSJM commented on #23065
Hello vinit13792; I have followed this steps and I have finally managed to execute on jupyter notebook:
import tensorflow as tf

a = tf.Variable(1, name="a")
b = tf.Variable(2, name="b")
f = a + b

init = tf.global_variables_initializer()
with tf.Session() as s:
    init.run()
    print( f.eval() )

Step 1: install canopy (version 2.1.6)
Step 2: on the editor (NOT the command editor type and execu

[2018-11-08 18:46] sjain-stanford commented on #23591
Thanks @alextp, that helps. To follow-up,
1. Would it be possible to add the subclass API to `RefVariable` in the next 1.xx release?
2. Is `tf.Variable.from_proto` going to be retained in 2.0? ([currently](https://github.com/tensorflow/tensorflow/blob/r1.11/tensorflow/python/ops/variables.py#L900-L904) it returns a `RefVariable` object, but can it be extended to `ResourceVariable` too?)

In the me

[2018-11-08 18:48] gbildson commented on #19021
Let me try that more cleanly ...
I went into the tf.moments source and changed it to use supported methods:
`    diff = math_ops.subtract(y, array_ops.stop_gradient(mean))
    variance = math_ops.reduce_mean(
        #math_ops.squared_difference(y, array_ops.stop_gradient(mean)),
        math_ops.multiply(diff,diff),
        axes,
        keepdims=True,
        name="variance")`

and in recent tfl

[2018-11-08 18:52] gbildson commented on #19021
Now I'm just wondering about the performance and memory overhead of that manual squared_difference.

[2018-11-08 18:58] pachpandepriti commented on #13977
@rryan How can I add a fix fft length to the function tf.spectral.ifft and tf.spectral.fft?

[2018-11-08 19:02] tensorflowbutler commented on #8564
Nagging Assignee @ebrevdo: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:02] tensorflowbutler commented on #10220
Nagging Assignee @tfboyd: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:03] tensorflowbutler commented on #12596
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-11-08 19:03] tensorflowbutler commented on #15845
Nagging Assignees @aselle, @andrehentz: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:03] tensorflowbutler commented on #16050
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:03] tensorflowbutler commented on #16771
Nagging Assignee @rmlarsen: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:03] tensorflowbutler commented on #17933
Nagging Assignee @caisq: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:03] tensorflowbutler commented on #18112
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:03] tensorflowbutler commented on #19390
Nagging Assignees @drpngx, @tfboyd: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:03] tensorflowbutler commented on #19679
Nagging Assignee @chsigg: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:03] tensorflowbutler commented on #19904
Nagging Assignees @mhyttsten, @drpngx: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:03] tensorflowbutler commented on #19967
Nagging Assignees @fchollet, @tanzhenyu: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:04] tensorflowbutler commented on #20099
Nagging Assignee @chsigg: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:04] tensorflowbutler commented on #20761
Nagging Assignee @bignamehyp: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:04] tensorflowbutler commented on #21192
Nagging Assignee @karmel: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:04] tensorflowbutler commented on #21522
Nagging Assignee @asimshankar: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:04] tensorflowbutler commented on #21923
Nagging Assignee @skye: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:04] tensorflowbutler commented on #21925
Nagging Assignee @tatatodd: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:04] tensorflowbutler commented on #21979
Nagging Assignee @fchollet: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:04] tensorflowbutler commented on #21991
Nagging Assignee @walidk: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:04] tensorflowbutler commented on #22116
Nagging Assignee @cy89: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:04] tensorflowbutler commented on #22137
Nagging Assignee @karmel: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:04] tensorflowbutler commented on #22158
Nagging Assignee @ekelsen: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:04] tensorflowbutler commented on #22162
Nagging Assignee @skye: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:05] tensorflowbutler commented on #22226
Nagging Assignee @rmlarsen: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:05] Nimitz14 commented on #19868
How would one compile this from a standalone toolchain?

I compile libtensorflow.so with

[code]

and call it like
[code]

After compiling flatbuffers I try and compile minimal.cc like
[code]

But get an error
[code]
?

[2018-11-08 19:05] tensorflowbutler commented on #22242
Nagging Assignee @aaroey: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:05] tensorflowbutler commented on #22357
Nagging Assignees @lamberta, @av8ramit, @tfboyd: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:05] tensorflowbutler commented on #22359
Nagging Assignee @yongtang: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:05] tensorflowbutler commented on #22379
Nagging Assignee @sguada: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:05] tensorflowbutler commented on #22460
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-11-08 19:05] tensorflowbutler commented on #23016
Nagging Assignee @gunan: It has been 21 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:05] tensorflowbutler commented on #23049
It has been 21 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-11-08 19:05] tensorflowbutler commented on #23162
Nagging Assignee @ymodak: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:06] tensorflowbutler commented on #23191
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-08 19:06] tensorflowbutler commented on #23198
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-11-08 19:16] harshini-gadige commented on #7480
@yifeif  -  Any update on this ?

[2018-11-08 19:43] akshaym commented on #23407
Hi @galeone,

I tried to reproduce the problems, but I'm not able to. The only changes I made were to add this loop (and print the losses).
[code]

I get after 2000 steps:
[code]

Note that I tried this with/without a GPU, and on 1.11 as well as nightly and wasn't able to reproduce it.

Perhaps you can paste your full code so that I can reproduce this better?

[2018-11-08 19:49] alextp commented on #23591
Re (1) I'd like to not add functionality to RefVariable since it'll go away in tf2.0.

Re (2) tf.Variable.from_proto will be retained and works with both resource and ref variables (there's a field in the proto which controls which one to create)

[2018-11-08 19:54] sjain-stanford commented on #23591
@alextp Thanks! Feel free to close.

[2018-11-08 20:12] ChristianLagares commented on #23198
@nadianaji a 1050 Ti has a limited amount of memory (4 GB). My recommendations:
    - Try reducing your `target_size` from `(512, 512)` to something more manageable. I would start from a small patch such as 64 or 128 and move from there until the `ResourceExhaustedError` is raised again.
    - Try reducing the batch size (this wouldn't be my first choice, but something like 16 could also help redu

[2018-11-08 20:29] gzmkl commented on #17494
ELvErDe,

I verified the original issue has been addressed (with master build) with coreyjadams's test script.
Would you please provide a new test script for the "later crash"? I will troubleshoot the problem.

Thanks!

[2018-11-08 20:29] daariqilyo commented on #20444
pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.12.0-py3-none-any.whl
that's which i use, python 3.7 on windows and it works.

[2018-11-08 20:49] gzmkl commented on #23556
@coreyjadams I have verified with your test script.

[2018-11-08 20:52] nadianaji commented on #23198
thank you for the response. what is this memory (4GB)? is it different from RAM?

[2018-11-08 20:58] harahu commented on #16875
Joining the hype train. Would love to see the TensorFlow docker containers move to Python 3.6 or 3.7. Both carry performance improvements that I'd like to get the benefits from.

[2018-11-08 21:02] ChristianLagares commented on #23198
You are most welcomed.

Typically discrete GPUs have dedicated graphics memory. If I’m not mistaken, the 1050 Ti has 4 GB of GDDR5 memory. Although you have 16 GB of main memory for your host CPU, your GPU is limited to the available discrete memory. Since you are also driving a display, you probably have around 3.5 GB available for TensorFlow.

[2018-11-08 21:08] byronyi opened #23606 "V100 PCIE FP16 PS/worker training data corruption bug occurs when distributed over gRPC"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): [tensorflow/benchmarks:cnn_tf_v1.12_compatible](https://github.com/tensorflow/benchmarks/tree/cnn_tf_v1.12_compatible)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04-hwe
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mob

[2018-11-08 21:13] byronyi commented on #23606
I will try on one of our NVLink machines to see if the problem remains.

[2018-11-08 21:13] byronyi commented on #23606
I will try to reproduce this problem on one of our NVLink V100-SXM2 machine.

[2018-11-08 21:25] Salompas opened #23607 "Segmentation Fault on `help(tf.RunMetadata)`"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Mojave 10.14
- TensorFlow installed from (source or binary): `pip install tensorflow`
- TensorFlow version (use command below): v1.11.0-rc2-4-gc19e29306c 1.11.0
- Python version: 3.6.7

**Describe the current behavior**
`Segmentation fault: 11` and Python crashes.
**Describe the expected behavior**
Print the do

[2018-11-08 21:36] lucasfariaslf commented on #23607
I justed tried it and got the same behavior.

* OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 v. 1803
* TensorFlow installed from (source or binary): pip install tensorflow
* TensorFlow version (use command below): v1.8.0-0-g93bc2e2072' 1.8.0
* Python version: 3.6.5

[2018-11-08 21:43] TF-Deve opened #23608 "Tflite for micro kernel does not have conv2d?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue  happens on mobile device: No.
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below):

[2018-11-08 21:44] Keno opened #23609 "[Cloud TPU] Various issues with uint8 data type"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): N/A
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): GCP
- TensorFlow version (use command below): 1.11+
- Python ver

[2018-11-08 21:52] ymodak commented on #23581
I am able to execute your script by using latest tf-nightly build. Can you please confirm it?

[2018-11-08 22:00] hhxxttxsh commented on #15805
How did you summarize the tflite file? In your list for the tflite file, CUSTOM(Unpack)[32]  means it is not implemented for quantized 8-bit or float 32-bit?

[2018-11-08 22:02] TF-Deve commented on #23608
So far, I've gone through the micro_speech example. I know the model is defined with tf.nn.conv2d. [model defined in this file](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/speech_commands/models.py).
I'm curious about how does tflite for micro run through this model even without a conv2d kernel defined?

[2018-11-08 22:05] byronyi commented on #23606
The erroneous device has non-identity DMAR mapping, as shown in the kernel log:
``DMAR: 32bit 0000:1b:00.0 uses non-identity mapping``

[2018-11-08 22:12] meyerjo commented on #21348
@ebrevdo An answer/update regarding this issue, but we highly appreciated. It is rather on the annoying side of bugs in my experience.

[2018-11-08 22:40] ymodak commented on #23607
It doesn't look like an issue on TF ends. Please refer this link which addresses [similar behavior] (https://stackoverflow.com/questions/19531969/segmentation-fault-11-in-os-x)

[2018-11-08 22:57] mrry commented on #23525
@josh11b, since this bug is either in distribution strategies or estimators, can you please triage this?

[2018-11-08 22:57] Hemnepal commented on #3127
I had the same problem while using the mini condo, I think it might be due to not updated version. I installed Anaconda to replace mini condo and it worked. So the best way is to update your IDE.

[2018-11-08 23:02] sseveran commented on #23272
The stack trace is identical:

[code]

I would not call it deterministic. I have seen it take differing lengths of time to manifest itself. The `python map().batch()` has not crashed yet. The `python map_and_batch()` always seem the crash  but sometimes it can take quite a while.

[2018-11-08 23:07] byronyi commented on #23606
Disabling IOMMU temporarily resolves this issue.

I am still wondering though, as it seems distributed runtime triggers GPU P2P transfer even with CPU as local PS, but the same error does not occur in local training. Is this behaviour intended?

@poxvoculi Paul, is there anything you feel similar here?

[2018-11-08 23:42] shahruk10 commented on #23401
This worked for me too. Thanks !

[2018-11-08 23:59] frankchn commented on #23609
I am not familiar with XRT at all -- @froystig can you take a look?

cc @jekbradbury

[2018-11-09 00:41] joshim5 opened #23610 "Causal Convolutions in Tensorflow"
**System information**
- TensorFlow version (you are using): 1.10
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
This is feature request to support **causal convolutions** in the Tensorflow layers API. Currently, causal convolutions require `tf.nn.conv2d(...)` with manual masking of weights. To improve speed, the data can be cropped/padde

[2018-11-09 00:43] jekbradbury commented on #23609
These are mostly closer to "missing functionality" than "bugs", but we should definitely be returning a TF error over gRPC when something goes wrong in XLA rather than crashing the TPU host.

[2018-11-09 01:09] #23591 closed

[2018-11-09 02:13] upwon commented on #21084
tensorflow 1.11 or 1.9 is ok.

[2018-11-09 03:00] holyhao commented on #19642
@zhyj3038  Hi, how can you use the libtensorflowLite.so in an  android project? which head files do you include ？

[2018-11-09 03:19] #23550 closed

[2018-11-09 03:23] StephenGreat opened #23611 "How to feed data to the graph after using Graph Transform Tool"
The demo shows that it can strip unused nodes by Graph Transform Tool .
But when setting 'inputs=Mul:0' , the input of the graph becomes an 'Operation:Mul'.
The problem is that the graph needs a tensor as the input not the operation.
How to feed image data to the graph after stripping unused nodes?

bazel build tensorflow/tools/graph_transforms:transform_graph
bazel-bin/tensorflow/tools/graph_tran

[2018-11-09 03:26] ztwe opened #23612 "ValueError: No gradients provided for any variable when using custom raw_rnn"
**System: ubuntu 16.04
Docker: nvidia-gpu
Anaconda: 5.1
tensorflow:1.9**

I use custom raw_rnn to implement the graph shown as following:
![rnn](https://user-images.githubusercontent.com/7899459/48241311-494a8e80-e411-11e8-9235-735a8f8f8653.png)

The code of custom raw_rnn is shown as following:

[code]

The error info is shown as following:

[code]

**When I look into the graph using tensorboard,

[2018-11-09 03:33] 786694836 opened #23613 "ERROR: Config value opt is not defined in any .rc file"
I wanna change .pb file to tflite file , but I failed.

I use the follow commed.

bazel run --config=opt tensorflow/contrib/lite/toco:toco -- \
--input_file=$OUTPUT_DIR/tflite_graph.pb \
--output_file=$OUTPUT_DIR/detect.tflite \
--input_shapes=1,300,300,3 \
--input_arrays=normalized_input_image_tensor \
--output_arrays='TFLite_Detection_PostProcess','TFLite_Detection_PostProcess:1','TFLite_Detecti

[2018-11-09 03:34] fightbob opened #23614 "Why only support tf.train.Int64List? In many case int32 can meet requirements. Int64 will expand the computation."
message Example {
 Features features = 1;
};

message Features{
 map<string,Feature> featrue = 1;
};

message Feature{
    oneof kind{
        BytesList bytes_list = 1;
        FloatList float_list = 2;
        Int64List int64_list = 3;
    }
};

Only support bytes_list , float_list, int64_list. Why not support int32_list?

[2018-11-09 03:35] jsimsa commented on #23581
@antifriz your interpretation of the examples in the `window` dataset documentation is incorrect.

The result of applying the `window` transformation is a nested dataset, which needs to be flattened before it can be evaluated. One such mechanism for flattening a dataset is `flat_map`.

For instance,

[code]

produces a dataset that skips all even elements of the original range.

[2018-11-09 03:40] fightbob commented on #23614
@harshini-gadige any advice? Thx.

[2018-11-09 05:13] lucasfariaslf commented on #23607
@ymodak you might be right, though the bug in that link seemed to be OS related. Using `faulthandler` i got:

[code]

[2018-11-09 05:34] hzhangxyz opened #23615 "XLA does not know associative law"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Arch Linux**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below): **1.11.0**
- Python version: **3.7.1**

You can collect some of this information using our enviro

[2018-11-09 06:15] DavinciHW opened #23617 "Build //tensorflow:libtensorflow.so error."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Linux Ubuntu 16.04:
- TensorFlow installed from (source or binary):source
- TensorFlow

[2018-11-09 06:33] PabloDIGITS commented on #23603
@PINTO0309
`$ which python2` gives me:
`$ /usr/bin/python2`
The last 2 commands seems to install pip 18.1, and I can execute pip list/freeze without any problem so my pip problem looks like resolved. Thanks for that help.
But the tensorflow problem is still there. I'm going to ask in Stackoveflow and see what happends.

[2018-11-09 06:36] changlan commented on #22455
I can confirm that the issue still exists in the current master.

[2018-11-09 06:41] yuzhichang commented on #21745
I also met this problem.
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7.6
TensorFlow installed from (source or binary): binary (pip install)
TensorFlow version (use command below): 1.12.0
Python version: 2.7.5

[2018-11-09 06:43] shoyer commented on #23614
Protos use a variable width encoding for integers, so there’s really very little to gain from an int32 type for storing data on disk.

[2018-11-09 06:59] vyepishov commented on #22372
The issue is still reproducible during the tensorflow 1.12 build.
It was NOT reproducible in tensorflow 1.12rc1 and 1,12rc2.
My setup:
- Linux Ubuntu 18.04
- TensorFlow installed from source
- TensorFlow version: 1.12
- Python version: 3.6
- Bazel version (if compiling from source): 0.19
- GCC/Compiler version (if compiling from source): 7.3.0

[2018-11-09 06:59] vinit13792 commented on #23065
Hi AlvaroSSM, i tried the exact same steps which you mentioned above, and i still ended up having the same error. Any pointers as to what to do next?

[2018-11-09 07:04] guptapriya commented on #22088
@jrabary thanks for trying it out. num_packs=0 means that we will reduce each gradient separately, instead of trying to combine all of them into a small number of tensors first. Performance impact will depend on the use case. In the cases where the gradient tensors are large though (like it seems in your use case), it is not feasible to combine them given the limited memory.

@yuefengz @dubey it s

[2018-11-09 07:11] vyepishov opened #23618 "Build of tensorflow r1.12 fails on ubuntu 18.04"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in Tens

[2018-11-09 07:12] JiangKui007 opened #23619 "tf.contrib.distributions.percentile didn't support eager execution"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):tensorflow-py2-cpu API r1.1
- Are you willing to contribute

[2018-11-09 07:52] berli commented on #13516
I came across the same problem when using MonitoredTrainingSession instead of Superisor, error are following:
InvalidArgumentError (see above for traceback): You must feed a value for placeholder tensor 'Placeholder' with dtype float and shape [1,1]
         [[Node: Placeholder = Placeholder[dtype=DT_FLOAT, shape=[1,1], _device="/job:worker/replica:0/task:0/device:CPU:0"]()]]

[2018-11-09 07:56] galeone commented on #23407
Yes, no problem.

The models are the one posted earlier and are inside the `models/ganomaly.py` file.

The dataset definition (common to both version too) is placed inside `ops/input_fn/fashion_mnist.py`:

[code]

## Eager version

This is the training definition:

[code]

And this is the file that runs the train:

[code]

^ This version produces the D collapse.

While inside a session, (with ops

[2018-11-09 07:56] anonym24 commented on #136
@vaibhavsood 6GB 1080GTX is not enough?

[2018-11-09 08:00] vyepishov commented on #23618
Now the similar issue happens with GDR support as well (was not the case in tensorflow 1.11):
ERROR: /home/vyepishov/Documents/dev/git/tensorflow/tensorflow/contrib/gdr/BUILD:40:1: C++ compilation of rule '//tensorflow/contrib/gdr:gdr_memory_manager' failed (Exit 1): crosstool_wrapper_driver_is_not_gcc failed: error executing command

[2018-11-09 08:00] #23617 closed

[2018-11-09 08:07] zhyj3038 commented on #19642
@holyhao   the whole tflite folder

[2018-11-09 08:09] vcarpani commented on #3332
Is someone working on this? I would like to work on it, but I do not want to duplicate the work of someone else

[2018-11-09 08:34] ahatamiz opened #23621 "tf.assign does not support gradient?"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2018-11-09 08:36] ondrejba commented on #3332
@vcarpani This issue has been dead for a long time, so I think you're fine.
Thanks!

[2018-11-09 08:39] pkubik commented on #22957
I get similar error when I try to import a `GraphDef` for my frozen model using `tf.import_graph_def`.

[code]

I've searched the error in the TF sources and I only found one place which can match this log message at https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/graph/graph_constructor.cc#L1196:
[code]

So at first it looks like a very generic message but it actually seems l

[2018-11-09 09:10] holyhao commented on #19642
@zhyj3038 Thans for your reply, i have some trouble about compiling to the dynamic library. If any possible, would you please share it ?

[2018-11-09 09:14] SilenceWinter opened #23622 "A bug of tfdbg : Non-OK-status: env->NewWritableFile(file_path, &f) status: Not found: Failed to create a NewWriteableFile:"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platfo

[2018-11-09 09:21] zhyj3038 commented on #19642
just add

cc_binary(
name = "libtensorflowLite.so",

linkopts=["-shared", "-Wl"],
linkshared=1,

copts = tflite_copts(),
deps = [
    ":framework",
    "//tensorflow/contrib/lite/kernels:builtin_ops",
],

to any positon of tensorflow's BUILD file. the BUILD file is in tensorflow's root folder

[2018-11-09 09:29] xiaopingzi231 opened #23623 "question about quantization"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-11-09 09:29] xiaopingzi231 opened #23624 "question about quantization"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-11-09 09:29] SilenceWinter commented on #23622
Perhaps I know the reason， the path and file name is too long . It beyonds the windows 10 limit. So it cannot create .

[2018-11-09 09:31] Uradamus commented on #23520
I was running into this as well. I'm using an old Phenom II CPU. Bit annoying there isn't a way to get a version through pip without the AVX requirement. I personally have no direct use for this project, but a program I was trying to test out depends on it. I'll probably just give up on it, as this is more hassle than it's worth, already wasted way too much time this past week leading up to the di

[2018-11-09 09:33] #23624 closed

[2018-11-09 09:33] #23623 closed

[2018-11-09 09:40] xiaopingzi231 opened #23625 "question about quantization"
Using quantization, with the same parameters, the difference of the training accuracy is about 5-10% each time？

------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Gala

[2018-11-09 09:59] holyhao commented on #19642
@zhyj3038 Because of some proxy problem , i failed compiling with bazel .
The following are the error message, do you have some idea about this?:
  Encountered error while reading extension file 'closure/defs.bzl': no such package '@io_bazel_rules_closure//closure': Error downloading [https://mirror.bazel.build/github.com/bazelbuild/rules_closure/archive/dbb96841cc0a5fb2664c37822803b06dab20c7d1.ta

[2018-11-09 10:16] Michael3444 opened #23626 "how to merge different .ckpt files into a .pf file"
I had trained some  networks and saved them into  .ckpt file separately,  There is a connection between these networks, the output of the previous network is the input of the latter network, so here I want to merge these .ckpt files into a .pb file so I could deploy it very conveniently. But I didn't find the relevant tutorial. Had anyone done a similar job like that?

[2018-11-09 10:21] milinddeore opened #23627 "TFLiteConverter.from_saved_model - batchNorm is not supported?"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No, i have tri

[2018-11-09 10:50] wangyongqi opened #23628 "Caused by: java.lang.IllegalArgumentException: ByteBuffer is not a valid flatbuffer model"
When I put the tflite file trained by the ssdmobilenet model into Android studio, the following error occurred. Who can help me? Below is my configuration information and wrong information.
![image](https://user-images.githubusercontent.com/20412297/48258352-d7456a00-e44f-11e8-8f24-4de8aa60ebf0.png)

![image](https://user-images.githubusercontent.com/20412297/48258389-f3490b80-e44f-11e8-8ea2-4bbf0

[2018-11-09 10:52] wangyongqi commented on #23628
And this is my command to compile tflite files through toco.

bazel run tensorflow/contrib/lite/toco:toco -- \
--input_file=/Users/jyy/model/frozen_inference_graph.pb \
--output_file=/Users/jyy/model/wechat.tflite \
--input_shapes=1,128,128,3 \
--input_arrays=normalized_input_image_tensor \
--output_arrays='TFLite_Detection_PostProcess','TFLite_Detection_PostProcess:1','TFLite_Detection_PostProces

[2018-11-09 10:53] fo40225 commented on #20517
https://github.com/fo40225/tensorflow-windows-wheel/tree/master/1.12.0/py37

For anyone who wants to test tensorflow 1.12.0 with python 3.7 on windows.

depands on protobuf v3.6.0 + cherry-pick https://github.com/protocolbuffers/protobuf/commit/0a59054c30e4f0ba10f10acfc1d7f3814c63e1a7

[2018-11-09 11:03] PINTO0309 commented on #23603
@PabloDIGITS
Although it may have already been settled, I will contact you in case.
If unnecessary information, please ignore below.
If the device you are using is "TX2", you can install Tensorflow1.9 with .whl at the following URL.

**Python2.7**
http://developer.download.nvidia.com/compute/redist/jp33/tensorflow-gpu/tensorflow_gpu-1.9.0+nv18.8-cp27-cp27mu-linux_aarch64.whl
[code]

**Python3.5**

[2018-11-09 11:06] calledbymountains commented on #22455
I confirm that the issue exists in the current master as well as 1.12 branch

[2018-11-09 11:29] reinaldocmendes commented on #18736
Hi @elihuan1990, I installed the tensorflow from the source code, I am not using the precompiled version of the tensorflow. I have a very large feature vector such as input in my neural network (autoencoder).

[2018-11-09 11:37] Q82822 commented on #22595
hi, this problem was figure out in new tensorflow 1.12 , but it stall have another problem.
In this code will print error
` "provided list of inputs contains objects other than 'EagerTensor'. Item 0 is Tensor"`
add it  happen in use Vgg16 and other models.

This is the problem[ here](https://colab.research.google.com/github/tensorflow/tensorflow/blob/master/tensorflow/contrib/eager/python/examples

[2018-11-09 11:38] shkarupa-alex commented on #18769
I have about 400Gb free space on disk and total 16Gb of RAM (swapfile ON).
Such issue occurs even if try to load 2.7Gb variable file.

[2018-11-09 11:38] Nimitz14 opened #23629 "Cannot compile tensorflow lite minimal.cc with libtensorflowlite.so"
**System information**
Ubuntu 16, armeabi-v7a, bazel 0.18, tried out with NDK 16b and 15c

**Describe the current behavior**

When I run this command to compile `tensorflow/lite/examples/minimal.cc` using a `libtensorflowlite.so` I built:

`<path-to>/android-toolchain-15c/bin/clang++  -std=c++11 -I<path-to>/git/tensorflow-android
-I<path-to>/git/flatbuffers/include -L<path-to>/git/tensorflow-andro

[2018-11-09 11:38] PabloDIGITS commented on #23603
Ok, now it seems installed. I did pip list and tensorflow-gpu shows in the list. The problem was about the arch right? Im using a Jetson TX2.
Now I have 2 questions:
1. What is the -E arg does?
2.The fact that I use sudo (without sudo gives my an error of permissions) for installing will affect to acces the library with a script executed without sudo permissions or that other modules installed wit

[2018-11-09 11:55] PINTO0309 commented on #23603
@PabloDIGITS

Yes. That's right.

The "-E" option inherits environment variables.

Use "sudo" only during installation.
The only caveat is that it will not work unless cuda 9.0 is installed with Jet Pack.
I failed because I introduced Jet Pack 3.1 + cuda 8.0.

[2018-11-09 12:01] PabloDIGITS commented on #23603
@PINTO0309
Thanks for the response. I did `import tensorflow` and `import clodsa` (my custom library for augmented data that needs tensorflow and doesnt show any error). I will see if I can use the library without any error.
Thanks again.

PD: I have CUDA 9.1 I hope that difference dont cause me any error.

[2018-11-09 12:10] b0risbe commented on #23569
Thank you very much @harshini-gadige and @mihaimaruseac. It seems to work.

[2018-11-09 12:28] LJXLJXLJX opened #23630 "The output of trained model is constant when using batch normalization"
I have trained a model with tensorflow, with the use of batch normalization.

[code]
And the model has been trained well, I can see the loss curve has been falling in tensorboard, and the validation accuracy reached 99%+

Then I saved my model as ckpt files. But when I tried to load my model from ckpt files and do some prediction, what ever I feed to the model, the output is always an constant arr

[2018-11-09 12:39] mbartosi commented on #23613
Do as the warning says:

The following rc files are no longer being read, please transfer their contents or import their path into one of the standard rc files:
/home/abb/tensorflow/tools/bazel.rc

add:
import /home/abb/tensorflow/tools/bazel.rc

to .bazelrc file.

[2018-11-09 12:45] #23603 closed

[2018-11-09 12:46] #23612 closed

[2018-11-09 13:08] MasKong opened #23631 "Default argument of tf.placeholder"
InvalidArgumentError (see above for traceback): You must feed a value for placeholder tensor 'x' with dtype float
	 [[{{node x}} = Placeholder[dtype=DT_FLOAT, shape=<unknown>, _device="/job:localhost/replica:0/task:0/device:GPU:0"]()]]

I think  tf.placeholder(tf.float32, shape=None, name='x') is equivalent to  tf.placeholder(tf.float32,  name='x')? But the results are different for these two line

[2018-11-09 13:08] zhjunqin commented on #21745
same issue for me

distributed training on tf 1.10 , same code works on tf 1.7

master is hang on following traceback, but worker already closed

[code]

[2018-11-09 13:50] andhus opened #23632 "Incorrect masking in keras.backend.rnn"
**System information**
[code]

**Describe the current behavior**
For correct masking of `output` it is required that `output == states[0]` for  `keras.backend.rnn(..., unroll=False)`, not so with `unroll=True` or in latest version of [keras-team/keras](https://github.com/keras-team/keras). See [this line](https://github.com/tensorflow/tensorflow/blob/d703f64e452f49603a244978b13239ab7aac0168/tensor

[2018-11-09 13:51] andhus commented on #23632
I'm happy to adopt the fixes I made in keras-team/keras to here @fchollet

[2018-11-09 14:54] hfzarslan commented on #23524
ok got it thanks

[2018-11-09 14:58] CartierPierre commented on #19982
The .pb model looks good because still have 4 dimension with Placeholder but when i try to open .tflite converted mode, it doesn't find any input array. Still working on it, may be a problem with toco

[2018-11-09 15:02] Steamgjk opened #23633 "Distributed training with TF under BSP does not strictly follow the synchrnous rule"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2018-11-09 15:05] Steamgjk commented on #23633
Somebody seems to encounter similar problems, but no one gives an answer.
https://stackoverflow.com/questions/52216458/running-distributed-tensorflow-in-synchronous-sgdbsp

[2018-11-09 16:07] huangbiubiu commented on #2734
Why not calculate `vocab_size` automatically? Are there any reasons?

[2018-11-09 16:33] skiler07 opened #23634 "Incorrect loss calculation after v1.10: fitting tf.Dataset in Keras."
In 1.12, we can pass `tf.Dataset` into our Keras models. For instance, I'm modelling a binary classification with high class imbalance.

[code]
where `DEBUG_WEIGHT` is changed from 1 to 10000, with no affect on the loss.
Create `tf.Dataset`

[code]

But when I fit the model using Keras, no matter what weight is passed, it seems ignored.

E.g.

[code]
Interestingly, if I pass `class_weight` to the

[2018-11-09 16:38] dubey commented on #22088
From what I can understand, packing and splitting shouldn't affect overall memory usage.  This logic concats many (small) tensors into `num_packs` (larger) tensors.  But overall memory usage should remain the same.

I'm not aware of a size limitation when using `nccl`.

Looking at the logs above, the `op_kernel.cc` failure reports OOM at `GPU:1`, but the `ResourceExhaustedError` reports OOM at `GP

[2018-11-09 16:40] jdduke commented on #22345
Something seems broken with your build configuration, it shouldn't be pulling in the external/llvm build when you're building for Android. Can you try this command?

```bazel build --cxxopt='-std=c++11' -c opt --config=android_arm //tensorflow/contrib/android:libtensorflow_inference.so ```

[2018-11-09 17:08] #23569 closed

[2018-11-09 17:08] harshini-gadige commented on #23569
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=23569)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=23569)

[2018-11-09 17:17] eddie-zhou commented on #10155
I apologize for the convoluted (no pun intended) API here -- there are users who want to warm-start variables from the GLOBAL_VARIABLES collection (such as batch norm or optimizer accumulator vars, which aren't added to TRAINABLE_VARIABLES), and we also needed to ensure backwards compatibility.  So tangibly, we have the following options for vars_to_warm_start:

- regexp, which applies tf.get_coll

[2018-11-09 17:18] harshini-gadige commented on #23471
@inscite  Any update ?

[2018-11-09 17:46] rryan commented on #13977
@pachpandepriti I'm afraid you'll have to slice the input to `fft`/`ifft` like so:
[code]

[2018-11-09 18:01] harshini-gadige commented on #23611
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2018-11-09 18:04] gmanrocks99 opened #23635 "TensorFlow Keras Fit Bug Value Error: Dimension -3 must be >= 0"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
I have written

[2018-11-09 18:06] gmanrocks99 commented on #23635
[CvD.zip](https://github.com/tensorflow/tensorflow/files/2567000/CvD.zip)

[2018-11-09 18:12] drpngx commented on #23537
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-11-09 18:12] #23537 closed

[2018-11-09 18:12] alextp commented on #23456
This should be a stackoverflow question.

[2018-11-09 18:12] #23456 closed

[2018-11-09 18:14] harshini-gadige commented on #23582
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2018-11-09 18:14] #23582 closed

[2018-11-09 18:17] harshini-gadige commented on #23626
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2018-11-09 18:17] #23626 closed

[2018-11-09 18:43] wt-huang commented on #22878
@DevarakondaV It shows in your code snippet that you are using GPU, probably double check here:
[code]
Check the communications between ps and workers as well as how you set up the queue. You can always monitor the ps and worker performance online.

Also, make sure the chief worker is consistent in the setup, notice some discrepancy here:

[2018-11-09 18:49] tensorflowbutler commented on #16834
Nagging Assignee @rmlarsen: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:50] tensorflowbutler commented on #17540
Nagging Assignee @aselle: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:50] tensorflowbutler commented on #18177
Nagging Assignee @shivaniag: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:50] tensorflowbutler commented on #19691
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:50] tensorflowbutler commented on #19949
Nagging Assignee @suharshs: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:50] tensorflowbutler commented on #20856
Nagging Assignees @smit-hinsu, @aaroey: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:50] tensorflowbutler commented on #21255
Nagging Assignees @gunan, @cy89: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:50] tensorflowbutler commented on #21566
Nagging Assignee @jart: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:50] tensorflowbutler commented on #21587
Nagging Assignee @fchollet: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:50] tensorflowbutler commented on #21834
Nagging Assignee @aselle: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:50] tensorflowbutler commented on #21875
Nagging Assignee @sguada: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:50] tensorflowbutler commented on #22052
Nagging Assignee @jvdillon: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:51] tensorflowbutler commented on #22093
Nagging Assignee @jch1: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:51] tensorflowbutler commented on #22121
Nagging Assignee @cy89: It has been 63 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:51] tensorflowbutler commented on #22176
Nagging Assignees @asimshankar, @ebrevdo: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:51] tensorflowbutler commented on #22396
Nagging Assignee @karmel: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:51] tensorflowbutler commented on #22632
Nagging Assignee @ymodak: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:51] tensorflowbutler commented on #22859
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:51] tensorflowbutler commented on #22975
Nagging Assignee @harshini-gadige: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:51] tensorflowbutler commented on #23012
Nagging Assignee @harshini-gadige: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:51] tensorflowbutler commented on #23031
Nagging Assignees @annarev, @harshini-gadige: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:51] tensorflowbutler commented on #23054
Nagging Assignees @rmlarsen, @drpngx, @harshini-gadige: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:52] tensorflowbutler commented on #23207
Nagging Assignee @karmel: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:52] tensorflowbutler commented on #23243
Nagging Assignee @samikama: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 18:52] tensorflowbutler commented on #23262
Nagging Assignee @jhseu: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-09 19:00] wt-huang commented on #22854
@dhingratul Could you try to install TensorFlow from binary instead? Also use cuDNN 7.3 and Python 3.6. Make sure that cuBLAS library are correctly installed. You can also provide your env by running the script in the issue template.

[2018-11-09 19:02] aselle commented on #21834
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-09 19:02] #21834 closed

[2018-11-09 19:04] #23511 closed

[2018-11-09 19:07] dhingratul commented on #22854
@wt-huang I have TensorRT tarballs, not .deb hence i don't know how to install tf with pip and provide the correct path to my TRT. Can you expand on this

[2018-11-09 19:22] yuefengz commented on #22088
The concat op has create a memory block to store the concatenated result. In our our nccl packing algorithm, we concat all gradients into one large tensor. We can switch to a different tensor aggregation method (specifying non-zero `agg_small_grads_max_bytes` and `agg_small_grads_max_group` and set `num_packs` to 0) or even disable tensor aggregation. `CollectiveAllReduceStrategy` is another optio

[2018-11-09 19:36] spitis commented on #23607
I am getting this as well, on two separate machines (one Ubuntu 16.04, other Ubuntu 18.04). Also occurs when either run_options or metadata is passed to a tf.Session.run call (e.g., cloning the stable-baselines and running the tests results in core dumped).

_Separately_, also with the stable-baselines repo, I'm getting an unrelated core dumped when using Tensorflow 1.11.0 or 1.12.0, but not when

[2018-11-09 19:41] michaelisard commented on #23562
Just to clarify: if you run the ConfigureDistributedTPU Op, does all the memory get freed? I was assuming you were looking for an Op to free memory that is more lightweight than configure. If configure doesn't free memory then that is a different bug.

[2018-11-09 19:45] Keno commented on #23562
Configure does not free memory as far as I can tell (it certainly doesn't deregister it from XRT, so I can pass it to another execute and it'll do something - I haven't verified whether the underlying memory sticks around). I do also want a more lightweight Op. While we're at it, I'd also like a more lightweight op to interrupt a running XRTExecute run (our models tend to look like state machines

[2018-11-09 19:58] karmel commented on #23207
Given that this is a feature request specific to tf_cnn_benchmarks, reassigning to @reedwm

[2018-11-09 20:39] usingare commented on #16981
@zwei2007 @manupillai308

Consider adding the installation directory (usually **"Python36\Scripts"**) to your environment variables.

It should solve the issue.

[2018-11-09 20:39] gdj0nes commented on #22480
I'm having the same issue. The follow files we created using a tf.estimator checkpointing on S3.
[code]
Attempting to call
[code]
raises the following error.
[code]
I am able to view the weights but unable to load with this tool

[2018-11-09 20:49] michaelisard commented on #23562
OK we will treat 'memory not freed on configure' and 'support free-all-memory without configuring' as separate issues.

I think it's going to be hard to interrupt a running program without resetting all the chips. If you need to be able to recover from a codegen error then you probably need to do a reset. If you want users to be able to recover from their own errors, I fear you will need to add su

[2018-11-09 21:12] yongtang commented on #23619
Added PR #23637 for the fix.

[2018-11-09 21:40] #14456 closed

[2018-11-09 21:44] MMron opened #23638 "OSError and ImportError"
**System information**
- OS Platform and Distribution: Windows 8.1
- TensorFlow installed from (source or binary): https://pypi.org/project/tensorflow-gpu/1.5.0/#files
- TensorFlow version: 1.5.0
- Python version:3.6.5.final.0
- Installed using virtualenv? pip? conda?: installed on own computer with pip command
- Bazel version (if compiling from source): (?)
- GCC/Compiler version (if compiling fr

[2018-11-09 21:48] wt-huang commented on #37
Closing as this is resolved

[2018-11-09 21:51] machinaut opened #23639 "`var_list` will cause untrainable variables to be trained"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): below
- OS Pla

[2018-11-09 21:53] maverik-akagami commented on #22993
are the github pages missing for all the things related to TOCO?

[2018-11-09 22:05] wt-huang commented on #20779
Closing as this is no longer relevant

[2018-11-09 22:05] #20779 closed

[2018-11-09 22:13] wt-huang commented on #22857
Closing as this resolved, feel free to reopen if problem persists

[2018-11-09 22:13] #22857 closed

[2018-11-09 22:15] wt-huang commented on #17200
Closing as this is resolved

[2018-11-09 22:15] #17200 closed

[2018-11-09 22:21] wt-huang commented on #22179
Closing as this is resolved

[2018-11-09 22:21] #22179 closed

[2018-11-09 22:43] wt-huang commented on #2789
Closing as this is resolved

[2018-11-09 22:43] #2789 closed

[2018-11-09 22:52] wt-huang commented on #8770
Closing as this is resolved

[2018-11-09 22:52] #8770 closed

[2018-11-09 22:59] vholod commented on #19021
Thanks @gbildson ,
I can try to benchmark the model with those changes, and I will try to update. My last solution did use a lot of memory to perform Square operations:

[code]

[2018-11-09 23:00] wt-huang commented on #9571
Closing as this is resolved

[2018-11-09 23:00] #9571 closed

[2018-11-09 23:02] wt-huang commented on #9690
Closing as this is resolved

[2018-11-09 23:02] #9690 closed

[2018-11-09 23:05] #9927 closed

[2018-11-09 23:10] wt-huang commented on #10021
This can be done in keras.

[2018-11-09 23:10] #10021 closed

[2018-11-09 23:11] wt-huang commented on #10036
Closing as this is resolved

[2018-11-09 23:11] #10036 closed

[2018-11-09 23:16] akshaym commented on #23407
Hi @galeone,

I'm still unable to reproduce this (the scale of the loss is different, but it doesn't seem to collapse). I am able to fix the scaling by updating the _process_features function to include as the first line:
[code]

I am also not saving/restoring discriminator weights.

Could you try to replace your dataset using the dataset code I posted above, and see if it still collapses?

That m

[2018-11-09 23:35] wt-huang commented on #10277
Closing as this is resolved

[2018-11-09 23:35] #10277 closed

[2018-11-09 23:39] wt-huang commented on #10220
Closing as this is resolved

[2018-11-09 23:39] #10220 closed

[2018-11-09 23:44] wt-huang commented on #10984
Closing as this is resolved

[2018-11-09 23:44] #10984 closed

[2018-11-10 00:00] mrry commented on #23610
Adding this to the API would primarily impact Keras, so reassigning this to @fchollet.

[2018-11-10 00:03] ahatamiz commented on #17735
I am having the same issue for not being able to backprop the gradient through tf.assign. Is there any solution to this ?

[2018-11-10 00:12] DevarakondaV commented on #22878
@wt-huang

`
config.gpu_options.allow_growth = True
`
I've configured this option but I know for a fact that I am not using a GPU.
I've also removed it before running the code again and it still hangs. Have you been able to replicate the issue?

I should note that I am still running this distributed architecture completely on a local machine. Would this have an effect on whether or not the program

[2018-11-10 00:14] #21680 closed

[2018-11-10 00:32] allenlavoie commented on #18769
Interesting. I'll find a Mac next week and see if I can reproduce on it.

[2018-11-10 00:58] angersson commented on #23256
As far as I know, TensorFlow 1.11 and 1.12 only officially supports CUDA 9 right now (see https://www.tensorflow.org/install/gpu). Please consider upgrading your CUDA version or reverting to TF 1.10 in your container. Sorry for the inconvenience.

Since TF team doesn't support older CUDA versions, I'm closing this issue. You can also ask a question on [Stack Overflow](http://stackoverflow.com/ques

[2018-11-10 00:58] #23256 closed

[2018-11-10 01:00] angersson commented on #22536
I don't think TF team officially supports the Makefile any more, so I'm marking this as "contributions welcome".

[2018-11-10 01:13] liuyanpunk opened #23641 "Calculation precision issue"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2018-11-10 01:42] wt-huang commented on #23050
In the above code snippet you are performing Ghost Batch Normalization since virtual_batch_size is not None. This creates virtual sub-batches that are normalized separately with shared gamma, beta, and moving average.

The main benefit of acquiring the statistics on small virtual batches instead of the real large batch is to reduce the generalization error. It is noted in the paper the full batch

[2018-11-10 02:50] wt-huang commented on #22935
Thanks for bringing this to our attention. Synthetic gradient is a neat approach, we will note this down. You can also implement it yourself using TensorFlow and common python libraries.

[2018-11-10 02:58] wt-huang commented on #23220
Currently a PR is in progress targeting this issue.

[2018-11-10 03:01] arogozhnikov commented on #23185
@wt-huang
you probably missed I am talking about eager mode. In eager mode, there is no session and all tensors have known dimensions, so iteration is not a problem (see examples I provided). It's just not implemented for a variable.

[2018-11-10 03:14] wt-huang commented on #152
Closing as this is resolved, free to reopen if problem persists.

[2018-11-10 03:14] #152 closed

[2018-11-10 03:40] wt-huang commented on #8841
Closing as this is resolved

[2018-11-10 03:40] #8841 closed

[2018-11-10 03:42] wt-huang commented on #9149
Closing as this is resolved

[2018-11-10 03:42] #9149 closed

[2018-11-10 03:48] wt-huang commented on #9202
Closing as this is resolved

[2018-11-10 03:48] #9202 closed

[2018-11-10 03:54] wt-huang commented on #9506
Closing as this is resolved, free to reopen if problem persists.

[2018-11-10 03:54] #9506 closed

[2018-11-10 04:08] iohara opened #23643 "Adapting map to shuffled data set got result in a dataset whose order does not correspond."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution : Linux Ubuntu 16.04.5 LTS (Xenial Xerus)
- Mobile device if the issue happens on mobile device: None
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): v1.10.1-0-g4dcfddc
- Python version: Python 3

[2018-11-10 04:21] ahatamiz opened #23646 "tf.scatter_nd_update gradient support"
It seems that tf.scatter_nd_update does not support gradient back-propagation. Then in essence, it would be really hard to benefit from it in real applications where one needs to connect different components and back-propagate the error. Is there any possibility to provide the gradient support ?

[2018-11-10 04:37] dretta commented on #170
For windows I found the corrupted files in  `C:\Users\username\.keras\datasets\fashion-mnist`

[2018-11-10 04:47] dongAxis opened #23648 "run error when i use xla"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): centos 7.0
- Mobile device (e.

[2018-11-10 06:19] raven1989 opened #23649 "cannot link static library libtensorflow.a by go for tensorflow"
**System information**
GOARCH="amd64"
GOBIN=""
GOCACHE="/search/odin/tensorflow/.cache/go-build"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/search/odin/tensorflow/gopath/"
GOPROXY=""
GORACE=""
GOROOT="/search/odin/tensorflow/go"
GOTMPDIR=""
GOTOOLDIR="/search/odin/tensorflow/go/pkg/tool/linux_amd64"
GCCGO="gccgo"
CC="gcc"
CXX="g++"
CGO_ENABLED="1"
GOMOD=""
CGO_CF

[2018-11-10 06:37] KevinTriplett commented on #20444
Worked for me on python 3.7 on Mac.

[2018-11-10 06:47] MustafaMustafa commented on #23049
This is still an issue in TF 1.12 as well. I am not sure there is any reason the entire network should 2x slower with virtual batches. This is the case even when using `virtual batchsize = batchsize`.

[2018-11-10 07:31] unrealwill commented on #23639
@machinaut I think this is intended behavior and not a bug. Trainable is just a flag to help manage variables collections.

[2018-11-10 07:49] vyepishov commented on #23618
Also, the build fails with the nGraph support enabled (if both libverbs and gdr configuration options are removed from the build).

[2018-11-10 08:27] nickaein-a opened #23651 "TFLiteConverter.from_session() error"
Some of the operators in the model are not supported by the standard TensorFlow Lite runtime and are not recognized by TensorFlow. If you have a custom implementation for them you can disable this error with --allow_custom_ops, or by setting allow_custom_ops=True when calling tf.lite.TFLiteConverter(). Here is a list of builtin operators you are using: ADD, DIV, FLOOR, FULLY_CONNECTED, MUL. Here i

[2018-11-10 08:50] xiaket commented on #22859
@tensorflowbutler

Have I written custom code: No
OS Platform and Distribution: Raspbian stretch on raspberry Pi
TensorFlow installed from: binary
TensorFlow version: latest
Bazel version: None
CUDA/cuDNN version: None
GPU model and memory: None
Exact command to reproduce: None
Mobile device: false

[2018-11-10 09:30] doldre commented on #23467
You may try output = tf.ones((8,), dtype=tf.float32) + output

[2018-11-10 09:50] MMron commented on #23638
Needed to restart anaconda, everything seems fine now :)

[2018-11-10 09:50] #23638 closed

[2018-11-10 10:53] happy-machine opened #23652 "tfjs-node - binary was not compiled to use: SSE4.2 AVX AVX2 FMA and performance on node"
Hi

I have looked for an issue in regards to .js and tfjs node but can't find one so apologies for reposting if i've missed it!

We're trying to deploy an API on EC2 which uses tfjs-node. My main concern is finding a way i can bring down inference time on a server.

I have found instructions on using different binaries for python. Are these binaries compatible with the node tfjs wrapper?

Apart fr

[2018-11-10 11:34] SanthoshRajendiran commented on #20798
Facing the same issue in Tensorflow 1.12.0

[2018-11-10 11:48] SanthoshRajendiran commented on #23628
Facing the same issue with MobilenetV2 DeeplabV3 Segmentation in Tensorflow 1.11.

[2018-11-10 11:49] mingyr commented on #23537
Actually I have posted it on StackOverflow but no one gives some suggestions. https://stackoverflow.com/questions/53153933/failed-to-obtain-tensors-of-correct-batch-size

It is okay if it is ranked as not a defeat since I have found some workaround.

Thanks

[2018-11-10 13:56] cheneeheng commented on #20874
Hi there, i am also facing the same problem with mirrored strategy, even though i am using tf1.12...
How did u modify the code to put the keras layer in ? (Non-Keras user here)

[2018-11-10 14:29] YaochengTong commented on #23341
I have same problem here

[2018-11-10 14:37] ccurro commented on #23050
Please look at the test phase of algorithm 1 in the [ghost norm paper](https://arxiv.org/pdf/1705.08741.pdf). The test phase requires the learned gamma and beta, whose shape are independent of the batch size. The moving statistics mu_run, and sigma_run are calculated "on the side" from the full batches during train time, and are otherwise not used during train time. Their size/shape is independent

[2018-11-10 14:59] joeyearsley commented on #12948
I've made a memory efficient one which mirrors the pytorch version with gradient checkpointing:
https://github.com/joeyearsley/efficient_densenet_tensorflow

Would still be nice to have a shared memory concat though for the future.

[2018-11-10 15:42] ankurb43 opened #23653 "Tensorflow installation issue: ImportError: DLL load failed with error code -1073741795"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7 Service Pack1
- Mobi

[2018-11-10 15:53] happy-machine commented on #23652
Closing as this issue has been moved to the tfjs repo

[2018-11-10 15:53] #23652 closed

[2018-11-10 16:39] wt-huang commented on #11164
Closing as this is resolved

[2018-11-10 16:39] #11164 closed

[2018-11-10 16:59] wt-huang commented on #12644
@mrry suggestion would work

[2018-11-10 16:59] #12644 closed

[2018-11-10 17:01] wt-huang commented on #12804
Closing as this is resolved

[2018-11-10 17:01] #12804 closed

[2018-11-10 17:03] wt-huang commented on #13044
Closing as this resolved

[2018-11-10 17:03] #13044 closed

[2018-11-10 17:07] wt-huang commented on #13169
Closing as the docker issue is resolved

[2018-11-10 17:07] #13169 closed

[2018-11-10 17:15] eyalzk commented on #21555
I would be happy to. However, I want to wait for a response from one of the TF members so I will know I'm not working on something irrelevant in the project's perspective...

[2018-11-10 17:35] wt-huang commented on #22899
Closing as this is resolved, free to reopen if problem persists

[2018-11-10 17:35] #22899 closed

[2018-11-10 17:37] wt-huang commented on #23118
Closing as this should be resolved by the approach suggested, free to reopen if problem persists

[2018-11-10 17:37] #23118 closed

[2018-11-10 17:38] #23183 closed

[2018-11-10 17:39] wt-huang commented on #23160
Closing as this is resolved

[2018-11-10 17:39] #23160 closed

[2018-11-10 17:40] #23102 closed

[2018-11-10 17:47] wt-huang commented on #11370
Closing as this is resolved

[2018-11-10 17:47] #11370 closed

[2018-11-10 17:50] wt-huang commented on #11519
Closing as this is resolved

[2018-11-10 17:50] #11519 closed

[2018-11-10 17:56] wt-huang commented on #11903
Closing as this is resolved

[2018-11-10 17:56] #11903 closed

[2018-11-10 17:58] Goldesel23 opened #23654 "tf.contrib.image.transform lead to a ValueError in new releases of tensorflow"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2018-11-10 17:58] stakemura opened #23655 "r1.12 C++ tutorials_example_trainer failed to build on Windows"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows 10 v1803 Pro 64bit English
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:N/A
- TensorFlow installed from (source or binary):source
- TensorFlow version:1.12
- Python version:3.6
- Installed using virtualenv? pip? conda?:pip
- Bazel version (if compiling from sou

[2018-11-10 18:29] #13876 closed

[2018-11-10 18:41] leomelki opened #23656 "Java - java.lang.UnsatisfiedLinkError: tensorflow_jni.dll: Can't find dependent libraries (only GPU version)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): Tried to compile it from source and tried binary file
- TensorFlow version: 1.12.0
- Python version: 3.7
- Bazel version (if compiling from source): 15.0
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: CUDA 10.0 & cuDNN 7.3.0
- GPU mo

[2018-11-10 18:44] #22205 closed

[2018-11-10 18:44] tensorflowbutler commented on #14580
Nagging Assignee @petewarden: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:44] tensorflowbutler commented on #16184
Nagging Assignee @gunan: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:44] tensorflowbutler commented on #17150
Nagging Assignee @fchollet: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:44] tensorflowbutler commented on #17908
Nagging Assignee @chsigg: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:44] tensorflowbutler commented on #18237
Nagging Assignee @chsigg: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:45] tensorflowbutler commented on #19407
Nagging Assignee @fchollet: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:45] tensorflowbutler commented on #19626
Nagging Assignee @rohan100jain: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:45] tensorflowbutler commented on #19696
Nagging Assignee @skye: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:45] tensorflowbutler commented on #19838
Nagging Assignee @tatatodd: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:45] tensorflowbutler commented on #20208
Nagging Assignee @cy89: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:45] tensorflowbutler commented on #20308
Nagging Assignee @cy89: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:45] tensorflowbutler commented on #20348
Nagging Assignees @rongou, @yifeif: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:45] tensorflowbutler commented on #20529
Nagging Assignee @pavithrasv: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:45] tensorflowbutler commented on #20718
Nagging Assignee @achowdhery: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:45] tensorflowbutler commented on #20773
Nagging Assignees @poxvoculi, @aaroey: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:45] tensorflowbutler commented on #20812
Nagging Assignee @jart: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:45] tensorflowbutler commented on #20950
Nagging Assignee @michaelisard: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:45] tensorflowbutler commented on #20972
Nagging Assignee @fchollet: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:46] tensorflowbutler commented on #21439
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:46] tensorflowbutler commented on #21675
Nagging Assignee @drpngx: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:46] tensorflowbutler commented on #21726
Nagging Assignee @fchollet: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:46] tensorflowbutler commented on #22182
Nagging Assignee @tatatodd: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:47] tensorflowbutler commented on #22205
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-11-10 18:47] tensorflowbutler commented on #22207
Nagging Assignee @pavithrasv: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:47] tensorflowbutler commented on #22216
Nagging Assignee @jpienaar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:47] tensorflowbutler commented on #22481
Nagging Assignee @axch: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:47] tensorflowbutler commented on #22485
Nagging Assignee @omalleyt12: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:47] tensorflowbutler commented on #22889
Nagging Assignee @seemuch: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:47] tensorflowbutler commented on #22894
Nagging Assignee @ebrevdo: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:47] tensorflowbutler commented on #23030
Nagging Assignee @anj-s: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:47] tensorflowbutler commented on #23082
Nagging Assignees @petewarden, @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:48] tensorflowbutler commented on #23248
Nagging Assignee @ymodak: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:48] tensorflowbutler commented on #23265
Nagging Assignees @isaprykin, @MarkDaoust: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:48] tensorflowbutler commented on #23269
Nagging Assignee @ymodak: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-10 18:53] eamartin commented on #22398
Can this issue remain open until the fix is merged?

[2018-11-10 19:04] ebrevdo commented on #22894
Is this still an issue?

On Sat, Nov 10, 2018, 10:48 AM Alfred Sorten Wolf <notifications@github.com
wrote:

[2018-11-10 19:34] JakeDahl opened #23657 "Multiple tensorflow devices created, then programs ends"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Written
- OS P

[2018-11-10 20:35] yongtang commented on #23654
Added PR #23658 for the fix.

[2018-11-10 21:12] sajaddarabi commented on #17735
You can try overriding the assign operator, perhaps something like the following:

`@tf.custom_gradient
def mod_assign(x):
    phi = tf.Variable(tf.zeros([1, 4], dtype='float32'), dtype='float32',  trainable=True)
    phi = tf.assign(phi,x)
    def grad(dy):
        return dy
    return phi, grad
`

[2018-11-10 21:26] davidpham87 opened #23659 "TPU: keras support for multiples inputs layers"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2018-11-10 21:29] toby5box commented on #22409
@theavgguy It is a remarkably bad error message. I'm fighting a similar one right now.

[2018-11-10 21:34] andreasjansson commented on #20874
@cheneeheng you can replace

[code]

with

[code]

in the example above.

[2018-11-10 22:16] ahundt commented on #12948
Awesome, thanks! I'll close this now.

[2018-11-10 22:16] #12948 closed

[2018-11-10 22:44] Bazmundi commented on #23519
Ignore @harshini-gadige who has not applied any critical thinking enquiry at all.  Why on earth we would want Microsoft style user help on any forum is beyond me ;)

With a little work, I discovered the version of tensorflow required a cpu instruction my poor old laptop does not have.  I was not running a gpu as I had not installed cuda toolkit (it isn't really tuned for Debian).  So the article @

[2018-11-10 23:56] MingyaoLiu commented on #22706
Here is a ubuntu 18.109 build, tensorflow 1.12 release branch, python 3.6, CUDA 10.0, cuDNN 7.4.1.5, NCCL 2.3.7, tensorRT 5.0, compute capability 7.5, 6.1, for my RTX 2080 TI.
[tensorflow-1.12.0-cp36-cp36m-linux_x86_64.whl](https://app.box.com/s/jcw8uq6jannpg4myzighl166bq1zg07e)

[2018-11-11 00:01] MingyaoLiu commented on #23618
I just successfully built ubuntu 18.10 build (kernal 4.18), tensorflow r1.12 branch, python 3.6, CUDA 10.0, cuDNN 7.4.1.5, NCCL 2.3.7, tensorRT 5.0, compute capability 7.5, 6.1, for my RTX 2080 TI.
[tensorflow-1.12.0-cp36-cp36m-linux_x86_64.whl](https://app.box.com/s/jcw8uq6jannpg4myzighl166bq1zg07e)

If you need it I can try build one for your compute capability.

[2018-11-11 00:05] MingyaoLiu commented on #23574
Here is a ubuntu 18.10 build (kernal 4.18), tensorflow r1.12 branch, python 3.6, CUDA 10.0, cuDNN 7.4.1.5, NCCL 2.3.7, tensorRT 5.0, compute capability 7.5, 6.1, for my RTX 2080 TI.
[tensorflow-1.12.0-cp36-cp36m-linux_x86_64.whl](https://app.box.com/s/jcw8uq6jannpg4myzighl166bq1zg07e)

It took me around 2 full day to get it built, so many issue among bazel version (I used 0.18.1 it works), python

[2018-11-11 00:09] ahatamiz commented on #18383
Is this proposed tf.replace_slice going to be implemented? the only way to do something similar is with tf.scatter_nd_update for a variable. But in essence, it is useless, since it does not support gradient back-prop.  This is a major pitfall for Tensorflow cause the same op can be easily realized in Pytorch.

[2018-11-11 00:13] Bazmundi commented on #23520
Yep. Was only interested in getting a tensor setup going to start learning
about it. Other options out there.

On Fri, 9 Nov. 2018, 8:09 pm Uradamus <notifications@github.com wrote:

[2018-11-11 00:48] mtiitto commented on #21706
Hello Mr. Wolf,

It is ok with me if you stop nagging the assignee - I just ended up using
the Keras library to make my model instead.

Thank you for your persistence in attempting to resolve this issue.

On Thu, Nov 1, 2018 at 8:50 AM Alfred Sorten Wolf <notifications@github.com>
wrote:

--
Markus Ville Tiitto, Pharm.D.
PhD Student
Clinical & Experimental Therapeutics
Department of Pharmaceutical

[2018-11-11 02:18] dah512 opened #23660 "__manage.py__ not found"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 10.11.6
- TensorFlow in

[2018-11-11 02:38] milinddeore commented on #19431
TFLite conversion can be done using SavedModel, i have given the link to the model below. This is as per the documentation [here](https://www.tensorflow.org/lite/convert/python_api).

I have a [model here](https://drive.google.com/file/d/1mgjhsPpEDKs8Jud1wbtAKfjObAJVO8GL/view?usp=sharing), which is exported SavedModel using following code:

[code]

But while converting i am too getting the same er

[2018-11-11 05:28] mrry commented on #23523
Regarding your update, does using `tf.data.experimental.get_single_element()` work well for your case?

[2018-11-11 06:52] MingyaoLiu commented on #18237
I had this issue when trying to build from source on ubuntu 18.10, tf r1.12, cuda 10 (error just say .so.10.0 not .sp.9.0.
I got it working at last, thw whl file i attached in the other thread. Way i fixed it is to install cuda 10 with apt and also with the run file, then reboot... may not apply to your issue tho.

[2018-11-11 06:56] ahatamiz commented on #17735
Thanks !

[2018-11-11 07:03] AvinashTiwari commented on #21339
Still There is issue you have downgrade installation to tensorflow 1.5.
is there any proper solution ?

[2018-11-11 07:32] Abudhagir commented on #22342
Requirement already up-to-date: pandas in c:\users\anaconda3\lib\site-packages (0.23.4)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.5.0 in c:\users\anaconda3\lib\site-packages (from pandas) (2.7.5)
Requirement already satisfied, skipping upgrade: pytz>=2011k in c:\users\anaconda3\lib\site-packages (from pandas) (2018.7)
Requirement already satisfied, skipping upgrade: numpy

[2018-11-11 10:02] lxl910915 commented on #23621
Tensorflow default var_list contains 'variables.trainable_variables()', 'ops.get_collection(ops.GraphKeys.TRAINABLE_RESOURCE_VARIABLES)', and 'ops.get_collection(ops.GraphKeys._STREAMING_MODEL_PORTS)', but in your code, there is no trainable variables. Because 'tf.assign(phi,x)' assigns Tensor x to phi, and phi is an variable, which is untrainable.

[2018-11-11 10:36] lxl910915 commented on #23621
Tensorflow default var_list contains 'variables.trainable_variables()', 'ops.get_collection(ops.GraphKeys.TRAINABLE_RESOURCE_VARIABLES)', and 'ops.get_collection(ops.GraphKeys._STREAMING_MODEL_PORTS)', but in your code, there is no trainable variables. Because 'tf.assign(phi,x)' assigns Tensor x to phi, and phi become an Tensor rather than a Variable.

[2018-11-11 11:07] Naviden commented on #6215
Hi. I'm getting the same error trying to load a 11553 x 100 tsv file. (No header, No text, just tab separated floats)

[2018-11-11 12:32] DEKHTIARJonathan commented on #16369
@pechyonkin that's the code I use today 👍

[2018-11-11 12:37] pechyonkin commented on #16369
@DEKHTIARJonathan so this solution does solve your problem? I saw your post on Stackoverflow and noticed that you do use `tf.reset_default_graph()` in your main loop. But it wasn't clear to me if that was the right way to do it.

[2018-11-11 12:49] DEKHTIARJonathan commented on #16369
Yeap if does solve the problem

[2018-11-11 12:54] #23630 closed

[2018-11-11 13:30] peinbill commented on #21920
all right，thanks a lot.

[2018-11-11 15:51] milinddeore commented on #15336
I am giving #[23627](https://github.com/tensorflow/tensorflow/issues/23627)  reference of the other issue that i opened up in the same regard, but please reopen this issue to address the concern raised. I have given all the details in the templet required. Thanks.

[2018-11-11 16:42] DeepHorizons commented on #23593
Thanks @bjascob, that was the problem. I tried it on a newer card and it worked. Closing.

[2018-11-11 16:42] #23593 closed

[2018-11-11 17:12] user142 opened #23663 "Help with what version to install?"
I have a cuda compute capability 3.0 GPU ,AMD processor and running on windows 10 64bit . So when I checked the official tensorflow website it says requires cuda compute capability 3.5 or higher.

So which version should I install from the repository to support cuda 3.0 and run on my computer.

[2018-11-11 17:41] andhus commented on #23632
Hi @qlzh727 I see that a fix for this was added in https://github.com/tensorflow/tensorflow/commit/149886979acf87027a188c0851f0cbe41a30f275 So this should be closed?

Could you put me in the loop on the process of bringing features and fixes from keras-team/keras to tensorflow.keras? Do you want contributions for this? I think that there are still issues in current `rnn` implementation here (as in

[2018-11-11 18:00] wt-huang commented on #22665
Thanks for sharing your fix for NixOS @acowley.

The patches that may be helpful for FreeBSD case can be found in [https://svnweb.freebsd.org/ports/head/devel/protobuf/files/](https://svnweb.freebsd.org/ports/head/devel/protobuf/files/), locate the correct files that match with the FreeBSD version installed.

[2018-11-11 18:07] qlzh727 commented on #23632
Hi @andhus, thanks for the notice. I think this should be closed since I applied same fix to the tf.keras backend.

Currently there is manual sync process to bring fix/updates from keras/keras to tf.keras, usually this happens every few weeks. In this case, since I was aware of the issue on keras side, I just directly applied the same fix on tf.keras, which avoid the long waiting for the sync proc

[2018-11-11 18:35] tensorflowbutler commented on #8652
Nagging Assignee @fchollet: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:35] tensorflowbutler commented on #11823
Nagging Assignees @reedwm, @josh11b: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:35] tensorflowbutler commented on #13150
Nagging Assignee @saeta: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:35] tensorflowbutler commented on #13308
Nagging Assignee @asimshankar: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:35] tensorflowbutler commented on #16502
Nagging Assignee @andrewharp: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:35] tensorflowbutler commented on #17353
Nagging Assignees @jch1, @pkulzc: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:36] tensorflowbutler commented on #17628
Nagging Assignees @miaout17, @shivaniag: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:36] tensorflowbutler commented on #17629
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:36] tensorflowbutler commented on #18058
Nagging Assignee @cy89: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:36] tensorflowbutler commented on #19084
Nagging Assignees @ebrevdo, @qlzh727: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:36] tensorflowbutler commented on #19568
Nagging Assignee @asimshankar: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:36] tensorflowbutler commented on #19667
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-11-11 18:36] tensorflowbutler commented on #19770
Nagging Assignee @gunan: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:36] tensorflowbutler commented on #20600
Nagging Assignee @tatatodd: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:36] tensorflowbutler commented on #20628
Nagging Assignee @rohan100jain: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:36] tensorflowbutler commented on #20642
Nagging Assignee @anj-s: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:36] tensorflowbutler commented on #20644
Nagging Assignee @jart: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:36] tensorflowbutler commented on #20674
Nagging Assignees @mrry, @gunan: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:37] tensorflowbutler commented on #20922
Nagging Assignee @sguada: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:37] tensorflowbutler commented on #20938
Nagging Assignee @gunan: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:37] tensorflowbutler commented on #21332
Nagging Assignee @case540: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:37] tensorflowbutler commented on #21349
Nagging Assignee @rohan100jain: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:37] tensorflowbutler commented on #21646
Nagging Assignee @shashishekhar: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:37] tensorflowbutler commented on #21653
Nagging Assignee @jart: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:37] tensorflowbutler commented on #21744
Nagging Assignee @robieta: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:37] tensorflowbutler commented on #21839
Nagging Assignees @achowdhery, @cy89: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:37] tensorflowbutler commented on #21845
Nagging Assignee @andrewharp: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:37] tensorflowbutler commented on #21913
Nagging Assignees @asimshankar, @martinwicke: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:37] tensorflowbutler commented on #22023
Nagging Assignees @asimshankar, @gunan: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:37] tensorflowbutler commented on #22037
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-11-11 18:37] tensorflowbutler commented on #22059
Nagging Assignee @robieta: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:38] tensorflowbutler commented on #22217
Nagging Assignee @skye: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:38] tensorflowbutler commented on #22891
Nagging Assignee @achowdhery: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:38] tensorflowbutler commented on #22925
Nagging Assignee @chsigg: It has been 19 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-11 18:54] mechanicalAI commented on #17629
We'll, if you don't want me help. @elithrar please some with a better solution?

[2018-11-11 18:55] mechanicalAI commented on #17629
I'm done helping people with this. I'm out --- cheers

[2018-11-11 18:58] mechanicalAI commented on #17629
Thanks. I'm longer going to contribute to this. If you need help: https://github.com/mikewlange/tensorflow-gpu-install-ubuntu-16.04 otherwise, contact Nvidia and they'll tall you to figure it out!!!

[2018-11-11 19:03] mechanicalAI commented on #17629
And for the love of god. If you don't know why you need TF, stop using it!!! https://medium.com/@julsimon/apache-mxnet-support-in-keras-83de7dec46e5  convert you TF model to MXnet: https://github.com/Microsoft/MMdnn and them get to work!!!!

[2018-11-11 19:03] ng0177 commented on #23482
Sorry, I thought the set of information is complete: a fresh Centos 7.5 following https://docs.bazel.build/versions/master/install-redhat.html to install bazel, then the download script from above. As to python that comes with standard Centos epel repositories:

Python 3.4.9
pip 8.1.2 from /usr/lib/python3.4/site-packages (python 3.4)

Can anyone on reproduce the problem on Centos or installed it

[2018-11-11 19:19] yongtang commented on #19667
@mikhailkin I think this is the expected behavior. Will close the issue for now but feel free to reopen if issue still exists.

[2018-11-11 19:19] #19667 closed

[2018-11-11 19:39] josh11b commented on #11823
SyncReplicaOptimizer has been unsupported for some time and now is
officially deprecated.

Many cases can now use MirroredStrategy or CollectiveAllReduceStrategy
instead.

On Sun, Nov 11, 2018, 10:38 AM Alfred Sorten Wolf <notifications@github.com
wrote:

[2018-11-11 19:45] greerviau commented on #10033
I had this exact problem. I went to the TensorFlow GPU Support page and noticed that there is a required path variable I was missing `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.0\bin` After adding that path it worked perfectly for me.

[2018-11-11 19:48] mechanicalAI commented on #17629
ALL READ: -

https://github.com/awslabs/keras-apache-mxnet is your TF replacement. you look back.... trust me. Been at this for 24 years (software engineering in general) and have built anything you've seen on the net. And guess what, without TF. Worked at hedge funds to build prop trading, search and rescue 100% autonomous drones, ios slot machines, er surgical tools, ect...

All without TF. you

[2018-11-11 20:14] sfujiwara opened #23664 "Documents for MirroredStrategy"
**System information**

- TensorFlow version: 1.12
- Doc Link:
  1. https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/distribute
  2. https://www.tensorflow.org/api_docs/python/tf/contrib/distribute/MirroredStrategy

**Describe the documentation issue**

[Document i](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/distribute) says that `tf.contrib.dist

[2018-11-11 20:44] jonasrauber commented on #23397
Thanks @agarwal-ashish for fixing this so fast! Works :)

[2018-11-11 21:01] JaeDukSeo opened #23665 "Possible Error for tf Gradient on mean"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2018-11-11 21:03] JaeDukSeo commented on #23665
Sorry for my horrible explanation, I have the code in my GitHub repo. Or my math might just be wrong.
Different blog post such as https://medium.com/samkirkiles/spatial-batchnorm-backprop-implementation-notes-8ccde1ac62a2 describes how to do a back prop for batch norm as well

[2018-11-11 21:31] #22893 closed

[2018-11-11 21:35] pnik073 commented on #23536
Any progress on that?

[2018-11-11 21:52] MusaMahmood commented on #16502
@bryanlimy @andreas-eberle This is now working with TF 1.12, so this issue may be closed, unless it still doesn't work for you.

[2018-11-11 23:38] mrry commented on #23334
This does appear to be a bug in the latest version. One workaround is to ensure that all calls to `make_initializer()` have been made before creating the `tf.Session`. For example, the following program should work as intended:

[code]

[2018-11-12 01:04] palisadoes opened #23667 "Incorrect cuda9.0 package installation required. Should be cuda-9-0"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 1.11 +
- Doc Link: https://www.tensorflow.org/install/gpu

**Describe the

[2018-11-12 01:19] #22881 closed

[2018-11-12 02:04] jyoungyun commented on #15805
@jinzequn The `LSTM` operator does not support in tflite yet. So I also couldn't use the `LSTM` operator.
@hhxxttxsh oh, to summarize the tflite file, I made a simple application using flatbuffer schema. I couldn't share the detail codes right now. Sorry. And `CUSTOM(Unpack)` means it is not implemented for both type.

[2018-11-12 02:04] fightbob commented on #23614
@shoyer  But input tensor with data type int64 read from tf.example is inefficient, it consumes more computing resource. In many case int32 meets requirements. Many users try to change input data type, they use tf.cast to convert int64 to int32 .

[2018-11-12 02:06] fightbob commented on #23614
@shoyer But input tensor with data type int64  is inefficient, it consumes more computing resource when tf session train or predict model. In many case int32 meets requirements. Many users try to change input data type, they use tf.cast to convert int64 to int32 .

[2018-11-12 02:13] wangyongqi commented on #23628
@SanthoshRajendiran Sorry . There are no answers to the two questions above stackovewrflow, so I still haven't found a way to solve them.

[2018-11-12 02:24] mpjlu opened #23668 "A method to improve accuracy of LazyAdam"
LazyAdam is not convergent on NCF (MLPerf requires NCF to reach 0.635 HR in 10 epchos, but with LazyAdam HR can’t reach the goal).

The main problem of LazyAdam is it doesn't update m and v when the gradient is 0. Actually, m and v should be updated when other weight changed.  So the convergence accuracy of LazyAdam is lower than Adam.

I have designed a method to optimize Adam on Sparse data (nam

[2018-11-12 02:48] w4nderlust commented on #10021
If anything, that looks more like an additional reason to have it in the lower level APIs

[2018-11-12 02:53] jinfagang opened #23669 "Disable warnning logging by default"
One of the thing that I prefer pytorch more is that tensorflow are so annoying. Those infor logging such as tensorflow build doesn't with AVX or which gpu I got information does not needed to print out, cause we just doesn't care... those information we can get from nvidia or something else, but in tensorflow itself, we just need the model and logic....

It would make tensorflow more beautiful and

[2018-11-12 03:19] dearchill commented on #20444
Worked for me too on Mac , thanks!

[2018-11-12 03:29] zh182 commented on #22345
`/home/xx/.cache/bazel/_bazel_xx/701469a9a53002d9d7bcd7284d7ad10b/external/llvm/BUILD.bazel:1204:1: C++ compilation of rule '@llvm//:debug_info_msf' failed (Exit 1)
In file included from external/llvm/lib/DebugInfo/MSF/MSFCommon.cpp:10:
In file included from external/llvm/include/llvm/DebugInfo/MSF/MSFCommon.h:16:
In file included from external/llvm/include/llvm/Support/Error.h:20:
external/llvm/i

[2018-11-12 03:34] sqlin opened #23670 "Run example graph_mobilenet with QASYMM8 data type and CL target"
Hi,
I try to run example graph_mobilenet with QASYMM8 data type, but it would report error as follows:
$ graph_mobilenet --type=QASYMM8 --target=CL

ERROR in validate_all_nodes src/graph/detail/ExecutionHelpers.cpp:50: in validate_arguments src/core/CL/kernels/CLDirectConvolutionOutputStageKernel.cpp:51: ITensor data type QASYMM8 not supported by this kernel No such process

And running graph_mobi

[2018-11-12 03:36] JobSmith opened #23671 "pybullet.error: createCollisionShape failed."
It is on Ubuntu 16.04LTS, and it shows this error:
![image](https://user-images.githubusercontent.com/15700681/48325102-ff5ee400-e66e-11e8-8569-211441bbe004.png)

[2018-11-12 04:10] South2North commented on #19936
@suharshs  Excuse me, I'm confused with the `create_training_graph()` code when using estimator. Could you show me where the function is inserted? Thanks a lot.

[2018-11-12 05:27] AjayZinngg opened #23673 "Tensorflow build failed to complete"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile de

[2018-11-12 05:33] AjayZinngg commented on #23673
After this command executes, I am supposed to run this command according to the blog [post](https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193):
`bazel run -c opt tensorflow/contrib/lite/toco:toco -- \
--input_file=$OUTPUT_DIR/tflite_graph.pb \
--output_file=$OUTPUT_DIR/detect.tflite \
--input_shapes=1,300,300,3 \
--input

[2018-11-12 05:34] ppwwyyxx commented on #23665
Indeed.
The code is working correctly.

[2018-11-12 05:43] JaeDukSeo commented on #23665
I get that but can you show me how the derivative work out? (assuming you know how to). I think when the mean subtraction layer is c and original input is x (10,94,94,32)

x_hat = mean of x respect to axis (0,1,2) which is 10*94*94
c = x -x_hat

dc/dx = dc/dx + dc/dx_hat * dx_hat/hx
          =   1       +  (-1)          * 1/(10*94*94)
          =  0.999988683

Where was the mistake?

[2018-11-12 05:55] ppwwyyxx commented on #23665
`dc/dx_hat * dx_hat/dx`
None of these terms are real numbers. They are tensors.

[2018-11-12 06:09] JaeDukSeo commented on #23665
okay, my bad I wrote in a confusing way, it should be in a tensor as well.
Bu the general concept of taking derivative respect to the input (here x) is the same.

Let me give you an example, we have a function

def f(x): return tf.reduce_mean(x,(0,1,2,),keep_dims=True)

so the output would be a tensor shape of (1,1,1,32) right?
But when we take the derivative respect to the original input x the de

[2018-11-12 06:10] thedch commented on #23082
Just ran into this error as well, @PINTO0309 solution fixes it... thanks!

[2018-11-12 06:17] LJXLJXLJX commented on #22007
Hello, I am working on windows10 visual studio 2015, how can I build the links?

[2018-11-12 06:31] #23665 closed

[2018-11-12 06:40] LJXLJXLJX opened #23674 "bazel build on windows10 failed"
**System information**
- OS Platform and Distribution : windows10
- TensorFlow installed from : source
- TensorFlow version: 1.11.0
- Python version: Python 3.6.3 :: Anaconda custom (64-bit)
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): 0.19.0 not from source

only cpu version.

I followed the instruction from [tensorflow official site.](https://tenso

[2018-11-12 06:47] soulmachine commented on #19375
I tried all ways mentioned above but none worked, this is very upsetting

[2018-11-12 06:51] sunshinevirgo21 commented on #7904
@KaraRyougi @IdoHakimi - were you able to resolve this problem ?

[2018-11-12 06:58] Ouwen commented on #12948
@joeyearsley this is great, thanks for the reference code
:+1: for the future memory concat feature

[2018-11-12 07:36] hoavt-54 commented on #23530
I was able to log the name of the thread:
name: graph_runner
name: graph_runner
name: graph_runner
GraphRunner::GraphRunner(Env* env)

[2018-11-12 07:40] nickaein-a commented on #23534
list all operations, it's empty

`Iterator<Operation> operations = inferenceInterface.graph().operations();
        do {
            Operation next = operations.next();
            Log.d(TAG, "op:" + next);
        } while (operations.hasNext());`

i have same problem for my model

[2018-11-12 08:10] nickaein-a commented on #23534
@shashishekhar you're right
@myfknoll check official [tutorial](https://codelabs.developers.google.com/codelabs/tensorflow-for-poets-2-tflite/#6)

[2018-11-12 08:42] inscite commented on #23471
@harshini-gadige Sorry for late response. Currently, I omitted the MPI support by skipping build flags (not to use distributed tensorflow, for a while.) Moreover, the brand-new release 1.12.0 came out recently; therefore, I have lots of configurations to test.

As @jthestness mentioned about several configurations for baseline, I'll try multiple builds for my desire.
- OS: CentOS 7.5 x86_64
- Host

[2018-11-12 08:47] SanthoshRajendiran commented on #23628
Hello @wangyongqi  We have updated both the stack overflow links. Seems bytebuffer issue exists in all tensorflow-lite versions except for the nightly build(org.tensorflow:tensorflow-lite:0.0.0-nightly). But on using the nightly build, we are facing a different issue.

`java.lang.IllegalArgumentException: Internal error: Failed to run on the given Interpreter: tensorflow/lite/kernels/depthwise_con

[2018-11-12 08:49] hoavt-54 commented on #23530
I could disable the `graph_runner`s but those threads are still there!!! The number of threads is roughly the number of CPU cores.

[2018-11-12 08:51] wangyongqi commented on #23628
@SanthoshRajendiran Or the wind, thank you very much for your answer.My side is going to recompile it.

[2018-11-12 08:54] #23670 closed

[2018-11-12 08:56] MissyDu commented on #23598
@fengsam, Add `tf.contrib.quantize.create_training_graph(quant_delay=0)`before
       “slim.learning.train()”

[2018-11-12 09:10] ManuConcepBrito commented on #11974
I still have this issue, using tensorflow 1.10

[2018-11-12 09:11] fuzzy13337 opened #23677 "Sparc compatibility"
<em> Tensorflow Lite Sparc Support tag:feature_template</em>

**System information**
- TensorFlow version: r1.10
- Are you willing to contribute it: if able to

Tensorflow currently supports intel x86 (Windows,IOS) and ARM (raspberry pi), but not sparc architecture. Would be nice to also have support for sparc architecture.

[2018-11-12 09:15] RenanSch commented on #22897
Can you please point to the version that fix this issue?

[2018-11-12 10:15] mehditlili commented on #21675
Yes it is!

[2018-11-12 10:29] tahercoolguy opened #23678 "Windows does not build tflite in anaconda environment : gives ModuleNotFoundError: No module named "tensorflow.contrib.lite.python.tflite_convert""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):NO
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):WINDOWS 10
- TensorFlow installed from (source or binary):anaconda
- TensorFlow version (use command below):1.9
- Python version:3.6
- Bazel version (if compiling from source):NO
- GCC/Compiler version (if compiling fro

[2018-11-12 10:40] galeone commented on #23407
Update: The eager version with the `feature /= 255.` does not collapses, it works.

But the question is: why in my setup the missing feature scaling makes the model collapse while in yours it doesn't?

[2018-11-12 11:15] Afroman1996 opened #23679 "Installation of tensorflow r1.10 on windows with visual studio c++ (with gpu) help."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 64bit
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 1.10
- Python version:3.6
- Installed using virtualenv? pip? conda?: pip
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: CUDA 9.2, cuDNN 7.4.1.5
- GPU model and memory: 940mx 2GB Vram

**Describe the

[2018-11-12 11:39] seabiscuit08 commented on #17356
Hello,I see this is for training label for y1,but how can it train y2?Since the EstimatorSpec takes only one loss argument?

[2018-11-12 12:06] zh794390558 opened #23680 "lite compile error under tensorflow/lite/tools/make"
when tflite move from tensorflow/contrib/lite to tensorflow/lite, all shell under lite/tools/make has and error, and should be below.

[code]

[2018-11-12 12:31] PINTO0309 commented on #23680
#23672

[2018-11-12 12:46] bayandin opened #23681 "Generating of wrapper functions for TensorFlow ops for Go fails with not existing framework_go_proto directory"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **macOS Mojave 10.14.1**
- Mob

[2018-11-12 13:13] qixiang109 commented on #9260
@mjwillson haha, thank you, this works! I wrote the codes like:

def tf_no_replacement_sample_using_gambel_max_trick(logits, K):
    z = -tf.log(-tf.log(tf.random_uniform(tf.shape(logits),0,1)))
    _, indices = tf.nn.top_k(logits + z,K)
    return indices

[2018-11-12 13:34] ron159 opened #23682 "Can't install on Raspberry pi 3B"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):**Raspberry 9** on Pi 3B;Linux version 4.14.79-v7+ (dc4@dc4-XPS13-9333) (gcc version 4.9.3 (crosstool-NG crosstool-ng-1.22.0-88-g8460611)) #1159 SMP Sun Nov 4 17:50:20 GMT 2018

- TensorFlow version:1.12.0
- Python version:**3.5.3**
- Installed using virtualenv? pip? conda?:**pip**

**Describe the problem**

Could not

[2018-11-12 13:45] sjkim04 opened #23683 "ImportError: DLL load failed: A dynamic link library (DLL) initialization routine failed."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): `import tensorflow as tf`
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 64-bit
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): _pip_ package manager
- TensorFl

[2018-11-12 13:47] ztwe opened #23684 "How to freeze layers that located at the last of the whole graph when fine-tune"
The grpah is A->B->C->loss, and I want to freeze A and C when fine-tune. A is a pretrained network. It's easy to freeze A. B contains LSTM and fc ops. C is variables or tuple tensors which are the results of fc. C stores one tensor  for one time because the tensor is hidden state of LSTM. Actually C will stores 6 tensors for a iteration.
It seems there are several solutions:
1. C is variables and

[2018-11-12 14:11] basveeling commented on #12293
This is no longer relevant for me, so I'll unsuscribe from this issue. Send me an email or @mention if my input is required :-)!

[2018-11-12 14:16] Geomaan opened #23685 "Can anyone help me with this import error:"
### System information
- **custom code from [here](https://www.datacamp.com/community/tutorials/cnn-tensorflow-python)
- **OS Platform and Distribution : winows 10
- **TensorFlow installed from (source or binary)**: coda install tensorflow
- **Python version**: v3.6
- **CUDA/cuDNN version**: v9. 0
- **GPU model and memory**: Quadro M1200
 TensorFlow version : 'v1.9.0-0-g25c197e023' 1.9.0
.........

[2018-11-12 14:17] darkmanAmazigh opened #23686 "ImportError: DLL load failed: The specified procedure could not be found."
i got this message error

       ImportError: DLL load failed: The specified procedure could not be found.

i use this packages with python 3.6.0

$ pip list
Package              Version
-------------------- ------------------
absl-py              0.6.1
APScheduler          3.5.3
astor                0.7.1
attrs                18.2.0
Automat              0.7.0
boto3                1.9.42
botocore

[2018-11-12 14:33] darkmanAmazigh commented on #17393
i got this message with tenserflow 1.10.0,
solution ?

[2018-11-12 14:36] ZhouYuChen opened #23687 "scatter_max doesn't work with MirroredStrategy since v1.11.0"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from: binary
- TensorFlow version: tensorflow-gpu v1.12.0-0-ga6d8ffae09, v1.11.0-0-gc19e29306c
- Python version: python 2.7.12
- Bazel version: N/A
- GCC/Compiler versio

[2018-11-12 14:48] StevenPuttemans commented on #23348
The issues is still valid I guess. On our end we solved it by using the Dataset interface provided in Tensorflow, which served our needs more. It seems the  original code simply did not take into account that used datasets can be lots bigger than what they used.

[2018-11-12 14:52] martinwicke commented on #23407
Which Python version? Did rounding change maybe?

[2018-11-12 14:57] bjascob commented on #23673
It looks to me like you have an issue with your gcc configuration (maybe gcc isn't in /usr/bin/gcc??).   The command `bazel test` is running the unit tests with some default options.  I've had trouble running this command verbatim and noticed that they don't ask you to run `./configure` before running this.  I'm not sure if that's an oversight or if it's not required but when you run `./configure`

[2018-11-12 15:02] galeone commented on #23407
Python 3.6 and Python 3.7 (with tensorflow compiled and packaged by the archlinux maintainers with cuda 10)

[2018-11-12 15:15] darkmanAmazigh commented on #17386
i have the same problem,
i use AVX like @fo40225 say, but not working !

[2018-11-12 15:16] kirk86 opened #23688 "remove reduce_ from established functions, make it closer to numpy"
**System information**
- TensorFlow version (you are using): >>> tf.__version__
'1.11.0
- Are you willing to contribute it (Yes/No): I would like to but have no idea how.

**Describe the feature and the current behavior/state.**
Hi everyone. Thanks for your efforts in making tensorflow.
I've been using tensorflow for some time now and no matter my usecase I always find myself in the position of ha

[2018-11-12 15:44] darkmanAmazigh commented on #23686
When i change tensorflow to 1.8.0 and protobuf to 3.5.2, i got an other error essage

    		usage: train.py default [-h] [-o OUT] -d DOMAIN [--augmentation AUGMENTATION]
								-c [CONFIG [CONFIG ...]] [--dump_stories]
								[--debug_plots] (-s STORIES | --url URL | --core CORE)
								[-v] [-vv] [--quiet]
		train.py default: error: the following arguments are required: -c/--config

[2018-11-12 15:45] hhxxttxsh commented on #15805
@jyoungyun Thanks. It seems that using flatbuffer schema can generate the list of BuiltinOperator.py. However, how did you generate the list of supported quantized ops using schema? As far as I can see, the supported list of ops can be seen in the file quantized.cc, but there are no other files (similar to the builtin_ops.h) which provide a list for the quantized ops.

[2018-11-12 15:56] #23686 closed

[2018-11-12 16:04] darkmanAmazigh commented on #23683
https://github.com/tensorflow/tensorflow/issues/23686

[2018-11-12 16:07] cabahug2 opened #23689 "Object detection demo crashing using custom model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): just changed configuration values to match my model

`  private static final int TF_OD_API_INPUT_SIZE = 640;`
` private static final boolean TF_OD_API_IS_QUANTIZED = false;`
`private static final String TF_OD_API_MODEL_FILE = "ssd.tflite";`
`private static final String TF_OD_API

[2018-11-12 16:17] tfboyd commented on #22706
@lahwran  We are in the process of making the nightly builds CUDA 10.  Some may have flipped already.  I will update over the next few days in this comment and the original post at the top.

[2018-11-12 16:20] vignesh-irtt commented on #23455
Hi,
     i've tried ur idea of making do_not_cache=true, but memory leak still exists for me, can u plz give me ur tf-mkl wheel or ur repo

[2018-11-12 16:22] AVCarreiro commented on #22399
I still have this issue for Resnet50, and TensorFlow 1.12.0... Seems to be related with tf.slim's convolution2d, but not with batch_norm as I've seen elsewhere: add_weight, instead.

(On another note, I had problems with batch_norm, namely using sonnet, but disabling the corresponding layers work, so this makes me think that not all layers are supported with MirroredStrategy yet)

[2018-11-12 16:30] ragulpr commented on #23348
It would be helpful if you have a reproducible example that does not rely on your own dataset and reports on when/where it fails/your memory usage increases

[2018-11-12 16:37] jdduke commented on #22023
Can you sync to master and try building again? We recently updated all of our Eigen dependencies, and I'd like to see if you're hitting the same issue.

[2018-11-12 16:57] aselle commented on #22897
The version in tf-nightly does work ( I verified it ).
Many people on this thread are saying "they have the same problem" as the original issue. This is not the case as @notibus' original issue was that the converter was not running at all maybe... but it is hard to tell because it is not a reproducible test case since I do not have your pb file. Try my example below.

@cjr0106's issue was that th

[2018-11-12 16:59] alextp commented on #23407
Maybe this comes down just to random seeds? Eager and graph happen to use
slightly different random seeds for the weights unless you explicitly pass
seeds to the initializer ops.

On Mon, Nov 12, 2018 at 7:06 AM Paolo Galeone <notifications@github.com>
wrote:

--
 - Alex

[2018-11-12 17:07] aselle commented on #23082
Cross compiling to the raspberry pi tends to be pretty tricky to get right and is somewhat fragile. Unfortunately, it is quite difficult to build Tensorflow natively in a reasonable amount of time. We'll see if we can work on getting this resolved.

[2018-11-12 17:27] Hoeze opened #23691 "[Regresssion] TypeError: In op 'ScatterUpdate', input types are not compatible with expected types"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): v1.12.0-0-ga6d8ffae09
- Python version: 3.6.6
- Bazel version (if compiling from source): 0.18.0
- GCC/Com

[2018-11-12 17:32] azaks2 commented on #23466
Do you have a small example that can reproduce the issue? At the very least could you please share the stack trace for the thread that produces SIGSEGV

[2018-11-12 17:38] Nayana-ibm commented on #22023
@jdduke I have tried building v1.12.0 with vectorization on Ubuntu 18.04 with gcc v7.3.0, Bazel v0.15.0.

command used:
` bazel --host_jvm_args="-Xms512m" --host_jvm_args="-Xmx1024m" build --config=opt --copt="-mzvector" //tensorflow/tools/pip_package:build_pip_package `

However got an error:

[code]

Now, started build on z14 vm. will share the result.

[2018-11-12 18:03] Nimitz14 commented on #23629
I needed to be using NDK 18. I didn't think of using it previously because during `./configure` a warning was output saying I should only <=16 was supported.

[2018-11-12 18:03] #23629 closed

[2018-11-12 18:03] Hoeze commented on #23691
After some debugging I found out that this fails only after running some code I did not identify yet.

Stack trace:
[code]

The exact cause of the raised error in my code is the following:
[code]
=> `tf.Tensor 'ScatterUpdate/Placeholder:0' shape=(2221, 3) dtype=float64` is not compatible with `tf.float64_ref`.
`inputs` gets created somewhere in `_apply_op_helper, op_def_library.py`.

[2018-11-12 18:09] ymodak commented on #22993
@soumy94 Can you please use the latest tf -nightly build and check? This issue should be fixed now.

[2018-11-12 18:16] reedwm commented on #22925
This was fixed by 8c072a519e2beed483adb361a9be934a47bee366.

[2018-11-12 18:16] #22925 closed

[2018-11-12 18:35] gunan commented on #22902
I think this is an issue with bazel 0.19.
We are not importing all the bazelrc files we need.

@meteorcloudy has a fix for this in flight.

[2018-11-12 18:35] jeffdaily commented on #23618
I am able to build using `--config=gdr` alone.  I am not able to reproduce the failure to build `//tensorflow/contrib/gdr:gdr_memory_manager`.  Otherwise, the verbs build fails in the same was as reported in #22455 .

[2018-11-12 18:43] georgepaw commented on #22902
[code]

[2018-11-12 18:46] ymodak commented on #23685
Can you try using this [thread]9https://stackoverflow.com/questions/50609845/tensorflow-1-8-0-with-python-3-6-4-in-anaconda-show-error-dataset-ops-so-not-fo/50942347) and check if solves the issue for you.? Thanks!

[2018-11-12 18:48] tensorflowbutler commented on #675
Nagging Assignee @saxenasaurabh: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-12 18:48] tensorflowbutler commented on #5867
Nagging Assignee @miaout17: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-12 18:48] tensorflowbutler commented on #6992
Nagging Assignee @rmlarsen: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-12 18:49] tensorflowbutler commented on #11695
Nagging Assignee @petewarden: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-12 18:49] tensorflowbutler commented on #11806
Nagging Assignees @asimshankar, @saeta: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-12 18:49] tensorflowbutler commented on #19611
Nagging Assignee @jart: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-12 18:49] tensorflowbutler commented on #21615
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-11-12 18:49] tensorflowbutler commented on #21787
Nagging Assignee @shashishekhar: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-12 18:49] tensorflowbutler commented on #21946
Nagging Assignee @aaroey: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-12 18:49] tensorflowbutler commented on #22077
Nagging Assignee @bignamehyp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-12 18:50] tensorflowbutler commented on #22214
Nagging Assignee @robieta: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-12 18:50] tensorflowbutler commented on #22245
Nagging Assignee @jart: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-12 18:50] tensorflowbutler commented on #22278
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-12 18:50] tensorflowbutler commented on #22311
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-11-12 18:50] tensorflowbutler commented on #22531
Nagging Assignee @aselle: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-12 18:50] tensorflowbutler commented on #22541
Nagging Assignee @asimshankar: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-12 18:50] tensorflowbutler commented on #22598
Nagging Assignee @saeta: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-12 19:02] celinew1221 commented on #22098
Same issue. With inter_opt_parallelism_threads=1, it increases slower than without the option, but still this is a big performance issue. I need the memory to do other stuff too.

[2018-11-12 19:29] jsimsa commented on #23272
Do you know how what `intra_op_parallelism` are you using? Could you try setting `intra_op_parallelism_threads` to `1` using the `SessionConfig` as described [here](https://www.tensorflow.org/guide/performance/overview)) and see if that fixes the problem?

[2018-11-12 19:47] #23398 closed

[2018-11-12 19:59] jtavrisov opened #23692 "Tensor RT 5 Windows"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2018-11-12 20:06] imranparuk commented on #11339
I would also like to know why there is a difference in the code provided by @vadel

[2018-11-12 20:15] imranparuk commented on #11339
Could it be related to this maybe?

[2018-11-12 20:30] chsigg commented on #22123
This should be fixed in https://github.com/tensorflow/tensorflow/commit/fc44600e5c3ccf1de1e3d4792a00d3578311d3f6

I'm closing this issue, please let us know if you still experience this issue.

[2018-11-12 20:30] #22123 closed

[2018-11-12 20:47] chsigg commented on #20094
This has been fixed on Linux, tested with tensorflow/tensorflow:1.11.0-devel-gpu-py3 docker.

The issue has been reported on Windows, which I have no easy means to test. If you still experience the issue, please let us know.

[2018-11-12 20:47] #20094 closed

[2018-11-12 20:47] lauriebyrum opened #23693 "Dilated convolution support with nn-api"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.11
- Are you willing to contribute it (Yes/No): No

**De

[2018-11-12 20:50] toddpi314 commented on #18652
The JIT cache does seem to hang around for the entire Python process scope.

For those going in through Jupyter, on reset you hit the delay. But, subsequent part re-runs hit the existing JIT values. Just to reset your notebook after init and it is pretty fast.

[2018-11-12 21:07] 57ar7up commented on #22794
I just downgraded TensorFlow to 1.10.0 and it worked

pip install tensorflow-gpu==1.10.0

[2018-11-12 21:08] 57ar7up commented on #22872
I just downgraded TensorFlow to 1.10.0 and it worked

pip install tensorflow-gpu==1.10.0

[2018-11-12 21:16] coreyjadams commented on #23556
Sorry for some delay - our compute nodes were down most of last week and I couldn't do any testing.

I am trying to test this but I can not build the master branch of tensorflow - I get an error of `ModuleNotFoundError: No module named 'keras_preprocessing'`.  I have all of the packages suggested here (https://stackoverflow.com/questions/51771039/error-compiling-tensorflow-from-source-no-module-na

[2018-11-12 21:39] ymodak commented on #23692
Can you please post the error message you are getting when you try to build Tensor RT in windows?

[2018-11-12 21:44] jthestness commented on #23471
Hi guys. Just a little update from my side: Although I haven't gotten to the root cause of the problem posted here, I was able to build and run with TF version 1.8.0. There is a small bug that needed to be fixed manually (though it was fixed in TF with #18907, commit 26b2814096bf6d9dd0af91a37a0706e17450b9ec). The patch for that fix is below.

This build indicates that TF 1.8.0 should work for @ins

[2018-11-12 21:49] #23520 closed

[2018-11-12 21:55] ymodak commented on #23678
It should work with TensorFlow latest build. Can you please use tf-nightly and build again?

[2018-11-12 22:06] ymodak commented on #23269
@HansikaPH You are right in your current approach to use variable length sequences. A [PR](https://github.com/tensorflow/tensorflow/pull/22308) has been submitted to provide support for Variable Length Sequence for CUDNN LSTM and is work in progress.

[2018-11-12 22:12] poxvoculi commented on #23606
Byron,  we'll try to take a look at this before long, to see whether we can reproduce.

What do you mean by "it seems distributed runtime triggers GPU P2P transfer even with CPU as local PS"?  Are you seeing memcpy's direct between GPUs?  A lot of strange optimizations have been done to the TF CNN benchmark suite, so it's possible some kind of cross-device ops are intentionally done even in the CP

[2018-11-12 22:30] coreyjadams opened #23695 "Failure to parse PYTHONPATH to find keras_preprocessing?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux variant
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: (master branch, latest commit e84d75dd7429cdcbfa20518cce4a0e886271cfa0)
- Python version: 3.6.5.1
- Installed using virtualenv?

[2018-11-12 22:41] celinew1221 commented on #22098
Here's how I solve this issue: use placeholder - there is a make_initialize_iterator() function in dataset, use that and update your tensor in each iteration.

[2018-11-12 22:51] wt-huang commented on #23050
Good that you dig deeper in the paper, guess I was not explicit in my explanation.

For normalization at inference time population mean and variance are used which were calculated during training using moving mean and variance. They are averaged over virtual batches. From Algorithm 1 in Hoffer's paper, I wouldn't say that alpha and gamma are independent of batch size. You can also find more detail

[2018-11-12 23:09] jsimsa commented on #23272
One possibility you are seeing the segfault is because your host machine is running out of memory (and TensorFlow code base fails to check whether a dynamic allocation succeeded). This is somewhat more likely to happen with `map_and_batch()` because it, unlike `map().batch()`, it uses internal buffering.

Can you report what the host memory usage is? You almost certainly do not want to prefetch `s

[2018-11-12 23:09] #23563 closed

[2018-11-12 23:12] harshini-gadige opened #23696 "GPU crashes when running Keras/tensorflow-gpu, specifically when clock speed goes to idle at 0 MHz"
Below issue was posted by @r8drascal in TF Keras repo.

I'm using Jupyter Notebook to run Keras with a Tensorflow GPU backend. I've done some testing with various dummy models while simultaneously monitoring my GPU usage using MSI Afterburner, GPU-Z, nvidia-smi and Task Manager. My GPU is a GeForce GTX 960M, which has no issues running games. The temperatures are also low when running Keras.

What

[2018-11-12 23:22] #23696 closed

[2018-11-12 23:46] ymodak commented on #23201
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-12 23:46] #23201 closed

[2018-11-12 23:46] ymodak commented on #23361
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-12 23:46] #23361 closed

[2018-11-12 23:47] ymodak commented on #23249
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-12 23:47] #23249 closed

[2018-11-12 23:48] ymodak commented on #23512
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-12 23:48] #23512 closed

[2018-11-12 23:48] ymodak commented on #23368
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-12 23:48] #23368 closed

[2018-11-12 23:53] skavula opened #23697 "Cannot assign a device for operation 'optimizer/dense_1/bias/RMSProp_1': Operation was explicitly assigned to /job:ps/task:0 but available devices are [ /job:localhost/replica:0/task:0/device:CPU:0 ]. Make sure the device specification refers to a valid device. [[Node: optimizer/dense_1/bias/RMSProp_1 = VariableV2[_class=["loc:@dense_1/bias"], container="", dtype=DT_FLOAT, shape=[5], shared_name="", _device="/job:ps/task:0"]()]]"
The error is when I am trying to run distributed training with edward. Below is the code :

[code]

The error stack is as follows :

[code]

When config= tf.ConfigProto(allow_soft_placement=True, log_device_placement=True) :

[code]

Thanks for the help! :)

[2018-11-13 00:05] shafi-dayatar commented on #23660
I tried the same steps using conda  with Python 3.6 and tensorflow 1.2 version. I didn't face any problems mentioned above.
[code]

I am not sure if this is tensorflow issue but I usually prefer conda to install tensorflow.

[code]
Dont forget to activate the tensorflow environment on conda.

[2018-11-13 00:15] jimakr commented on #23683
same issue here protobuf downgrade didn't fix it

[2018-11-13 00:31] TF-Deve commented on #23608
I'm actually working on my own network. It's a CNN with RGB images as input. It contains regular conv2d layers just like most CNNs do. I wish to know how can I add this kernel into the micro interpreter. Would appreciate it if someone could point me to the correct way. Thanks!

[2018-11-13 00:45] feihugis commented on #23643
@iohara Could you try the following code, which walks around by adding a seed to `shuffle()`?
[code]

[2018-11-13 01:31] #23162 closed

[2018-11-13 01:40] jtavrisov commented on #23692
There's no error. The config scripts check if windows and don't give the option to build with tensor rt support. Tensor RT path search all assume linux as well

[2018-11-13 02:01] Nithanaroy commented on #23464
Just a quick question. I provide a one shot iterator to model.fit based on some examples i saw online.

model.fit(
   dataset.make_one_shot_iterator(),...

 However i saw just providing tf.dataset also works from the documentation. Is making the iteration the root cause for the above problems?

[2018-11-13 02:04] ankurb43 commented on #23653
Got it fixed myself post looking for similar answers in internet...I had to install the airflow version 1.5 and the tensorflow backend loaded seamlessly.

[2018-11-13 02:04] #23653 closed

[2018-11-13 02:07] dl8207531 commented on #22338
请问最后怎么解决的？@taotaolin

[2018-11-13 02:09] ferrophile commented on #22902
I am running into this issue as well while building with the master branch on MacOS High Sierra and Python 3.6.

bazel version: `0.18.1-homebrew`
clang version: `Apple LLVM version 10.0.0 (clang-1000.10.44.2)`

Running
`bazel build -c opt --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-msse4.2 -k //tensorflow/tools/pip_package:build_pip_package`

gives the error
[code]

[2018-11-13 02:26] ymodak commented on #23344
My GPU is Quadro K1200. Its strange that you are still having the issue after fresh install. I think you can try posting your issue on [Stack OverFlow](http://stackoverflow.com/questions/tagged/tensorflow) as well if haven't already.

[2018-11-13 03:01] anhtu812 commented on #22272
@amoghkashyap  how to fix this issue? Thanks.

[2018-11-13 03:16] macny commented on #22342
Faced the same problem with Anaconda5.3, python3.6, and tensorflow 1.12.0:

- pip install -U pandas (0.23.4 installed)
- pip install -U matplotlib (3.0.2 installed)

Worked for me

[2018-11-13 03:52] AKI-github opened #23698 "InvalidArgumentError: indices[26,0] = 5001 is not in [0, 5001) ( at Training Error in Image Captioning with attention Google Colab)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
Google Colab
image_captioning_with_attention.ipynb

**Describe the problem**
InvalidArgum

[2018-11-13 04:09] EternalSaga opened #23700 "Builiding tensorflow C++ package on a new CPU platform."
**System information**
It's a cross compiling for tensorflow. The target platform is on Sunway Taihu Lake super computer. The CPU modle is SW26010 but it's hard for me to describe the instruction sets.  I'm building it through a cross compiler which is based on gcc5.3 with modified compiler backend and it runs on a normal x86 linux (I'm using ubuntu 18.04 through docker).  This compiler supports t

[2018-11-13 05:40] rplawate opened #23701 "Tensorflow chatbot rnn model test issue"
I am getting the following error while testing seq2seq rnn model for chatbot

`Key embedding_attention_seq2seq/embedding_attention_decoder/attention_decoder/Attention_0/bias not found in checkpoint
 [[Node: save/RestoreV2 = RestoreV2[dtypes=[DT_HALF, DT_INT32, DT_HALF, DT_HALF, DT_HALF, ..., DT_HALF, DT_HALF, DT_HALF, DT_HALF, DT_HALF], _device="/job:localhost/replica:0/task:0/device:CPU:0"](_arg_

[2018-11-13 05:56] byronyi commented on #22077
@wangshuaizs Is your issue considered fixed now? If so, please close it. Thanks :)

[2018-11-13 06:17] schliffen commented on #9724
Thank you @ktiwary2 for your solution. I still have difficulty to find proper output nodes of SSD-Mobilenet when I loaded it from checkpoints. There are lots of nodes there 5000+ which I cant check them one by one. I checked some 1000+ last layers, but could not found. Any idea for this?  -Thankyou

[2018-11-13 06:18] facaiy commented on #23610
As far as I know, [ tf.keras.layers.Conv1D ](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Conv1D) supports causal padding. Does it work for you ?

[2018-11-13 06:29] Abhijit-2592 opened #23702 "Weird Bug in Tf.keras.Model.Predict(x=tf.Dataset iterator)"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2018-11-13 06:31] sharvil opened #23703 "import_meta_graph fails: NcclAllReduce"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04.5
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): v1.12

[2018-11-13 06:38] username2590 opened #23704 "unable to detect multiple faces in an image/video"
Hello,
i am building a face detection system for study purposes.
I installed tensorflow for python and developed a code in python for face detection.

If i have a single person in the image/video i am able to detect it.
But with multiple faces only one face is detected and others are ignored.

If anyone can help me i would be thankful to you.

Regards,
Napster

[2018-11-13 06:53] arcabhijeet opened #23705 "Install for Python 3.7 on Windows 64 bit"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2018-11-13 06:54] arcabhijeet commented on #23705
Unable to install Tensorflow (pip install). Have Anaconda (Python 3.7). Can find any help on the TensorFlow website.

[2018-11-13 06:55] joshim5 commented on #23610
The issue in question relates to _2D Convolutions_, which are significantly harder to implement.

[2018-11-13 07:05] nihp opened #23706 "I am getting the compilation error as 'tensorflow/lite/kernels/register.h' file not found in example cameraxcworkspace"
I am trying to build the example camera from the tensorflow. But it shows the error as 'tensorflow/lite/kernels/register.h' file not found in my Xcode.
![screen shot 2018-11-13 at 12 34 51 pm](https://user-images.githubusercontent.com/36992338/48396490-9c3d8200-e740-11e8-8cdd-008887ec5880.png)

[2018-11-13 07:42] galeone commented on #23407
It might be, but I repeated the tests several times and the behavior was always the same

[2018-11-13 08:12] oscarriddle opened #23708 "Can't build TensorRT 5.0.10 within Tensorflow 1.12, Tensorflow still search for libnvinfer.so.4 not 5"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source
- TensorFlow version: r1.12
- Python version: 2.7
- Installed using virtualenv? pip? conda?: No
- Bazel version (if compiling from source): 0.15.0
- GCC/Co

[2018-11-13 08:12] shijie001 opened #23709 "image_ocr.py running error on tf.keras"
I try to run image_ocr.py on tf.keras.
image_ocr.py is the example code from keras
https://github.com/keras-team/keras/blob/master/examples/image_ocr.py

'1.11.0'

'2.1.6-tf'

I only modify some imports to use tf.keras.

import tensorflow as tf
from tensorflow.keras import backend as K
from tensorflow.keras.layers import Conv2D, MaxPooling2D
...

The error code
  File "D:\Anaconda2\envs\tf-cpu\lib

[2018-11-13 08:15] dingevin opened #23710 "the performance of tensorflow distributed"
**Describe the current behavior**
I have trained a speech recognition network using tensorflow both on multi-gpu single machine version(multi-gpu) and multi-gpu multi-machine(distributed) version. the training speed was ok in multi-GPU but the speed on distributed is slow and accuracy is not same as multi-GPU version at same steps. I watched the timeline and found RecvTensor is waste so long time.

[2018-11-13 08:19] zh794390558 opened #23711 "please give an introduction of using quantize-aware training with tf.estimator"
How to use  `tf.contrib.quantize.*` with tf.estimator or how to using  post_quantize_training model with inference type of int8.  Demo is perferred, thanks.

[2018-11-13 08:30] cielavenir commented on #23655
Took a look at this and the first build was done as the screenshot. [![Imgur](https://i.imgur.com/sQhvd0Wl.png)](https://imgur.com/sQhvd0W)

[2018-11-13 08:30] cielavenir commented on #23655
Materials (rev1) are in https://gist.github.com/cielavenir/4b55dce31bbf93f5fee5c5b2bfbebfda.

The main thing win.patch consists of two parts.

The first is ICU. I needed to add U_STATIC_IMPLEMENTATION flag to link to original symbols, not `__imp_`. This had to be added also to third_party/icu/BUILD.bazel because udata.cpp tries to link __imp_icudt62_dat, which also we don't want.

The second is di

[2018-11-13 08:45] zh794390558 commented on #22988
@wt-huang Does the quantized model will using float at inference?

[2018-11-13 08:51] 1icas commented on #23541
@jdduke sorry. i can't access to the  https://mirror.bazel.build/github.com/abseil/abseil-cpp/archive/f95179062eb65ce40895cc76f1398cce25394369.tar.gz  from my device

[2018-11-13 08:52] beniroquai commented on #19293
Is there any update on the ResizeNearestNeighbor op? Thanks!

[2018-11-13 08:57] sbhakat opened #23712 "Keras with Tensorflow backend stooped working ImportError: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `CXXABI_1.3.9' not found"
I am running Keras with Tensorflow backend and encountering a problem like

[code]

I think this problem was quite similar to https://github.com/tensorflow/tensorflow/issues/5017 hence I tried the proposed method which is following

`cp /usr/lib/x86_64-linux-gnu/libstdc++.so.6 /home/sbhakat/miniconda2/envs/py36/lib/`

But now it seems the issue is similar to https://github.com/ContinuumIO/anaconda

[2018-11-13 09:09] stakemura commented on #23655
@cielavenir I appreciate your kindness. I’m gonna try your modification.

*for everyone
I heard final configuration and initial error log directly from him and updated this issue.*

[2018-11-13 09:20] antdlc commented on #22342
updating to tensorflow 1.12.0 worked for me in the end

[2018-11-13 09:31] wwlaoxi commented on #22005
I used Bazel 0.16.1,TensorRT 4.0.1.6,tensorflow 1.10.1. I modify tensorflow/BUILD and /tensorflow/contrib/tensorrt/BUILD.
I used bazel command:
bazel build --config=opt --config=cuda //tensorflow:libtensorflow_cc.so

Trying to run the graph in c++ fails with the following error：
 the error "Not found: Op type not registered 'TRTEngineOp'"

can you help me ?
Thanks.

[2018-11-13 10:08] FarhanAhmad4473 opened #23713 "Audio recognition on 8,000 samples per second audio data, label_wav.py"
I followed the Simple Audio Recognition tutorial given on tensorflow website. Everything went good. I downloaded the google speech command data set, trained a model using default setting, got 87% test accuracy, and then tested on some other simple audio clips using  label_wav.py code given as tutorial.

But I need to decode audio files of 8,000 sps. The results of this model is not good on 8000 sp

[2018-11-13 10:14] elvys-zhang commented on #18819
Hi, is this problem solved? Could you please show some details? Thx.

[2018-11-13 10:15] StephenGreat opened #23714 "How to remove NMS ops in mobilenet+ssd model?"
I use mobilenet+ssd for detection with android NN. But  TFLite is not supported for NMS such customized ops.  So I want to remove NMS ops in the .pb model. Is there any method for that?
Or any case of translating mobilnet+ssd to TFLite with android NN?

[2018-11-13 10:23] zhangshengsheng opened #23715 "Cudnn version of the problem"
Loaded runtime CuDNN library: 7.1.2 but source was compiled with: 7.3.1.  CuDNN library major and minor version needs to match or have higher minor version in case of CuDNN 7.0 or later version. If using a binary install, upgrade your CuDNN library.  If building from sources, make sure the library loaded at runtime is compatible with the version specified during compile configuration.

 cat /usr/l

[2018-11-13 10:39] Nayana-ibm commented on #22023
Tensorflow build  with vectorization failed on z14  with an error:

[code]

[2018-11-13 10:58] lee-bin commented on #22183
You may try this in `.tf_configure.bazelrc`
[code]

[2018-11-13 11:01] sanjaybharadwaj opened #23716 "aarch64 support"
**System information**
- TensorFlow version (you are using): 1.12.0
- Are you willing to contribute it (Yes/No): Yes
-Target device - NVIDIA DrivePX2 and NVIDIA JetsonTX2

**Describe the feature and the current behavior/state.**
Support aarch64 target architectures.

**Will this change the current api? How?**
NO, the current apis are not changed, this just enables bazel to find aarch64 tool chain

[2018-11-13 11:11] gasparka commented on #21574
@PINTO0309
Unfortunately i have no time to look into this :(

[2018-11-13 11:13] dhgokul opened #23717 "Tensorflow Object detection -> How to get class name from trained model (.pb file)"
Guys,

Tensorflow Object detection -> How to get class name from trained model (.pb file)
Trained with four class, i want to know how to get class name based on input give.
I checked with existing trained model and can able to get index value , but not able to get index/class name for my own trained mode

Any help appreciated !

[2018-11-13 11:34] byronyi commented on #23606
Patching the latest firmware resolves the issue completely. I will leave it here and hope it could be helpful if someone else meet the same problem.

[2018-11-13 12:20] george-adaimi commented on #19679
This solved my problem. Thank you for sharing!

[2018-11-13 12:22] oscarriddle commented on #22379
I tried to quantize the graph and create a session to run it, but failed, saying:
`KeyError: "The name 'Placeholder:0' refers to a Tensor which does not exist. The operation, 'Placeholder', does not exist in the graph."`

The script is:
[code]
Error log is:
[code]

[2018-11-13 12:51] ccurro commented on #23050
@wt-huang I'm specifically saying their **shape** is independent of the batch size - of course their actual values depends on the batch size during training.

@ppwwyyxx +1

[2018-11-13 12:55] mavrov commented on #23455
The fork I am working on: [https://github.com/hyperscience/tensorflow](https://github.com/hyperscience/tensorflow)
You can start with this branch: [https://github.com/hyperscience/tensorflow/tree/ivan/mkl-variable-input-size-fix](https://github.com/hyperscience/tensorflow/tree/ivan/mkl-variable-input-size-fix)
This is further refactoring on the above branch: [https://github.com/hyperscience/tensor

[2018-11-13 13:20] darkmanAmazigh commented on #23683
@jimakr  try with pip install protobuf==3.5.0

[2018-11-13 13:21] thesupermanreturns opened #23718 "Failed to load the native TensorFlow runtime."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): mac os
- Mobile device (e.g. i

[2018-11-13 14:03] aiueogawa commented on #23643
@feihugis
OK, you gave us some workarounds, but is this behavior expected?
Or is it a bug?

[2018-11-13 14:15] mavrov commented on #23455
The problem is that there are a lot of primitive reuse cases and not all factories even have an option to turn caching off. In TF 1.9 turning the cache off for the convolution should be enough but in later versions the caching is becoming widely adopted in other operations as well and very few can be turned off. My proposed solution introduces a new environment variable with a default value that p

[2018-11-13 14:37] Ami-Bangladesh commented on #23442
when I will be abled to install tensorflow with python3.7 ?

[2018-11-13 15:06] nfk93 opened #23719 "Analysis of target '@local_config_cc//:cc-compiler-x64_windows' failed;"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2018-11-13 15:12] boegel commented on #23380
@sadatnfs Is there an issue open for Bazel where we can check in which Bazel release the underlying issue is fixed?

[2018-11-13 15:16] boegel commented on #21362
I'm still seeing this with TensorFlow 1.12.0. Why was this closed while this problem hasn't been fixed?

[2018-11-13 15:20] mrry commented on #23334
Update: we have a fix for this case, and it's currently pending review.

[2018-11-13 15:21] coreyjadams commented on #23556
Ok.  The build was a pain, but eventually I succeeded.  I can confirm that my test script runs successfully on a Xeon Phi KNL with mkl-dnn, so that's great!

I'm going to close this issue since the fix is working.

[2018-11-13 15:21] #23556 closed

[2018-11-13 15:31] NorwayLobster commented on #23673
same problem, how to solve it?

[2018-11-13 15:39] vignesh-irtt commented on #23455
That's a nice idea because for training caching will help but for deploying caching will make the system's memory bloated which we currently experience.Thank You very much for ur response.

[2018-11-13 15:42] sadatnfs commented on #23380
@boegel Naw I haven't posted anything on the Bazel end. I just assumed that maybe TF's build files haven't been updated to cater to Bazel >0.18.0 and so I just pinned to Bazel 15 for now

[2018-11-13 15:48] DesJYX commented on #13856
i've got the same problem : /

[2018-11-13 15:55] pachpandepriti commented on #13977
@rryan can u guide me how to implement fftshift(as in matlab) on a tensor? I need to shuffle the elements in a tensor and then reshuffle it

[2018-11-13 15:55] coreyjadams commented on #17494
I mentioned on the other issue as well, but I can confirm my test script works with the master build.

[2018-11-13 16:01] susierao commented on #23077
Is there a fix to this:
[code]
 I am having the same problem.

Thanks a lot.

[2018-11-13 16:07] WolfLo commented on #8448
Has anyone found a solution to the issue? @ktsumura could you please show us a working example?

[2018-11-13 16:23] coreyjadams commented on #23695
Ok, I started from scratch to carefully test this, and my build still failed.  Below I've got a lot of the output so you can see if I configured tensorflow correctly, which I think I did.

1. I downloaded tensorflow fresh, bazel fresh, installed the necessary python packages fresh:
[code]

2. I built bazel with the following commands, which succeeded:
[code]

3. Configuration of tensorflow:
[code]

[2018-11-13 16:35] jimakr commented on #23683
with protobuf 3.5.0 more errors poped up because it is unsupported by tensorflow 1.12

[2018-11-13 16:47] jdduke commented on #19293
Yes! This op was added in https://github.com/tensorflow/tensorflow/commit/86a7867840d290f6d80b20765b4635c217700bd4. It's available either by building from head or in the next TensorFlow release (though there's no ETA for the latter yet).

[2018-11-13 16:48] jdduke commented on #23541
@gunan I'm not sure there's anything we can do if devs can't access mirrors for our dependencies? Do you have any suggestions?

[2018-11-13 16:49] muneeb699 opened #23720 "tensorflow.python.framework.errors_impl.InvalidArgumentError: Expected begin[1] in [0, 8], but got -2"
**Error**
[code]

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes

[code]

[code]

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:NA
- TensorFlow installed from (source or binary):Source
- TensorFlow versio

[2018-11-13 16:50] darkmanAmazigh commented on #23683
try with tensorflow 1.8.0

[2018-11-13 17:03] yweweler commented on #17811
@tpatel0409,
from [sequence_feature_column_test.py](https://github.com/tensorflow/tensorflow/blob/r1.12/tensorflow/contrib/feature_column/python/feature_column/sequence_feature_column_test.py) it seems that the only way to use `sequence_numeric_column` is with `SparseTensor`. Looking at the [implementation](https://github.com/tensorflow/tensorflow/blob/a6d8ffae097d0132989ae4688d224121ec6d8f35/tens

[2018-11-13 17:42] jxstanford opened #23721 "Build error while building contrib/bigtable"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: r1.12 and master (7561099fb65c18bd091751b60fc45550fc5d4805)
- Python version: 3.6.7
- Installed using virtualenv? pip? conda?: pyenv
- Bazel version (if compiling from source): 0.19.1
- GCC/Compiler version (if compiling from so

[2018-11-13 18:05] zaiedsarra commented on #6220
@lukaszkaiser Hello I need your help :( , in the code i have the same error :ValueError: Variable G_fc/w does not exist, or was not created with tf.get_variable(). Did you mean to set reuse=tf.AUTO_REUSE in VarScope?
But i didn't understand haw i can change the code (it works with GradientDescent)

this is the function

    def generator(self, z, y, gender=None, reuse_variables=False, enable_tile_

[2018-11-13 18:45] harrismirza opened #23722 "tf.keras - Saving model ignores layers that aren't fed into other layers"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows 10**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **N/A**
- TensorFlow installed from (source or binary): **Binary**
- TensorFlow version (use command

[2018-11-13 18:53] tensorflowbutler commented on #11138
Nagging Assignee @xiejw: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-13 18:53] tensorflowbutler commented on #16593
Nagging Assignee @joel-shor: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-13 18:53] tensorflowbutler commented on #18222
Nagging Assignees @yuefengz, @seemuch: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-13 18:53] tensorflowbutler commented on #20120
Nagging Assignee @jart: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-13 18:53] tensorflowbutler commented on #20305
Nagging Assignee @tatatodd: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-13 18:53] tensorflowbutler commented on #20461
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-11-13 18:53] tensorflowbutler commented on #20916
Nagging Assignee @bignamehyp: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-13 18:54] tensorflowbutler commented on #20919
Nagging Assignees @case540, @angersson: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-13 18:54] tensorflowbutler commented on #21022
Nagging Assignee @jpohanka: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-13 18:54] tensorflowbutler commented on #21213
Nagging Assignee @jdduke: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-13 18:54] tensorflowbutler commented on #21614
Nagging Assignees @fchollet, @tanzhenyu: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-13 18:54] tensorflowbutler commented on #21797
Nagging Assignee @cy89: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-13 18:54] tensorflowbutler commented on #21811
Nagging Assignee @fchollet: It has been 80 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-13 18:54] tensorflowbutler commented on #21974
Nagging Assignee @mrry: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-13 18:54] tensorflowbutler commented on #22266
Nagging Assignee @josh11b: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-13 18:54] tensorflowbutler commented on #22304
Nagging Assignee @reedwm: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-13 18:54] tensorflowbutler commented on #22459
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-13 18:55] tensorflowbutler commented on #23131
Nagging Assignees @tofulawrence, @harshini-gadige: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-13 18:55] tensorflowbutler commented on #23142
Nagging Assignee @harshini-gadige: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-13 18:55] tensorflowbutler commented on #23187
Nagging Assignee @liyunlu0618: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-13 19:25] gunan commented on #23142
I think this is a duplicate issue, assigning to @meteorcloudy, who took a look at the other ones.

[2018-11-13 19:57] ymodak commented on #23663
TensorFlow officially supports NVIDIA GPU. For using AMD gpu you have to compile TensorFlow using OpenCL. Please read this [setup guide] (https://developer.codeplay.com/computecppce/latest/getting-started-with-tensorflow) to get more insights on TensorFlow AMD Setup.

[2018-11-13 20:00] jeffdaily commented on #20761
I've seen the same error before.  Try setting env var `RDMAV_FORK_SAFE=y`.  See https://www.rdmamojo.com/2012/05/24/ibv_fork_init/ for details.

[2018-11-13 20:01] ymodak commented on #23721
Try as per the warning message, add following line to **.bazelrc** file:
import /home/jxstanford/src/tensorflow/tools/bazel.rc

[2018-11-13 20:15] jthestness commented on #23471
Update: I've been able to build all minor versions of TF up to 1.12.0 (1.8.0, 1.9.0, 1.10.0, 1.11.0 with 89979f42e82, and 1.12.0). They all appear to run a small test correctly. Here's my configuration so you can try to match most of it:
Ubuntu 18.04
GCC 7.3.0
Python 3.6.5
Environment: VirtualEnv
Bazel version: For TF v1.7.0, v1.8.0: 0.10.0. For TF v1.9.0: 0.11.0. For TF v1.10.0, v1.11.0, v1.12.0:

[2018-11-13 20:17] ymodak commented on #23704
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2018-11-13 20:17] #23704 closed

[2018-11-13 20:33] wdirons commented on #23695
Thank you @coreyjadams , I can confirm this a problem. I see now the same issue is being discussed in: https://github.com/tensorflow/tensorflow/issues/22395

I'm trying a few things on my end and might end up submitting a PR if I can fix it. [It's odd that configure parses PYTHONPATH, but then fails to pass PYTHONPATH into the bazel environment.]

[2018-11-13 20:48] eilifsolberg commented on #23334
Ok, thanks!

[2018-11-13 20:50] coreyjadams commented on #23695
Great, I'm glad it's reproducible!  When/If you have a PR candidate, I can attempt a build on our system to see if it works for me too, if you like.

[2018-11-13 20:54] HanxiSun commented on #16152
me too

[2018-11-13 21:08] harshini-gadige commented on #23313
@alanpurple  -  Hi, could you please check the latest comment by @fo40225  in the issue 20517.
Also feel free to close this issue as we are maintaining a single issue for Python 3.7 compatibility with TF. Thanks !

[2018-11-13 21:11] #23720 closed

[2018-11-13 21:12] sadatnfs opened #23725 "Sparse Precision Matrix implemetations (for gaussian processes or GMRFs)"
Are there any plans in the near future to implement sparse precision matrix computations for TensorFlow? My main use case when I'll be using this is for models like a Gaussian Process where a sparse precision matrix can be fed in as a Gaussian Markov Random Field to evaluate the GP (the sparse representation of an AR(1) GP is only tri-diagonal whereas the covariance matrix is dense).

Being able t

[2018-11-13 21:16] harshini-gadige commented on #23314
@AakashKumarNain  - Do you want to keep this open until TF 2.0 ? My suggestion is to open a new issue(if it still exists after TF 2.0) with the latest data.

[2018-11-13 21:29] harshini-gadige commented on #23341
@heboyong  - Any update ?

[2018-11-13 21:31] gunan commented on #22390
Thank you very much for your PR, it is reviewed, approved and merged!

[2018-11-13 21:36] harshini-gadige commented on #23350
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue.

Please note that issues with _stat:awaiting response_ are closed if we do not receive any update from the user within 3 days. Thanks!

[2018-11-13 21:37] #23350 closed

[2018-11-13 21:38] harshini-gadige commented on #23353
@anandh02  -  Is this still an issue ?

[2018-11-13 21:38] harshini-gadige commented on #23375
@depauwjimmy  - Any update on this ?

[2018-11-13 21:39] harshini-gadige commented on #23391
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-13 21:39] #23391 closed

[2018-11-13 21:42] harshini-gadige commented on #23417
@zkl99999  -  Any update ?

[2018-11-13 21:43] harshini-gadige commented on #23425
@rickdzekman  -  Any update ?

[2018-11-13 21:44] anandh02 commented on #23353
No it’s not, thanks for the input

[2018-11-13 21:47] harshini-gadige commented on #23451
@xav12358  - Any update on this ?

[2018-11-13 21:47] harshini-gadige commented on #23471
@inscite  -  Any update ?

[2018-11-13 21:52] harshini-gadige commented on #23614
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2018-11-13 21:54] #23611 closed

[2018-11-13 21:55] harshini-gadige commented on #23602
@winterwindwang  Any update ?

[2018-11-13 21:59] harshini-gadige commented on #23574
@MingyaoLiu  Great and thanks for your support.

@ArmaanBhullar  -  Any update based on @MingyaoLiu  build ?

[2018-11-13 22:00] harshini-gadige commented on #23533
@eachabys  Any update ?

[2018-11-13 22:11] wt-huang commented on #22846
Here is the link to [tensorflow/examples/speech_commands/wav_to_features.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/speech_commands/wav_to_features.py) added by @petewarden

[2018-11-13 22:14] ThomasEhling commented on #23698
Same issue for me, with "indices[6,0] = 5001 is not in [0, 5001)"

[2018-11-13 22:15] #23353 closed

[2018-11-13 22:29] drpngx commented on #23326
Are you sure you have the file and it's not truncated? What's the magic that you're getting instead?

[2018-11-13 22:44] jhseu commented on #23406
You can't save checkpoints locally, but if you have permissions, you can save them through Google Cloud Storage.

[2018-11-13 22:44] #23406 closed

[2018-11-13 22:46] vyepishov commented on #23618
I do not know why, but now after I tried to rebuild the tensorflow r1.12 from sources with the --config=gdr and --config=cuda options, I am getting the following error:
ERROR: ~/.cache/bazel/_bazel_vyepishov/cf67b2b2e967476eb2b1ee98e33ab5bd/external/local_config_cc/BUILD:57:1: in cc_toolchain rule @local_config_cc//:cc-compiler-k8: Error while selecting cc_toolchain: Toolchain identifier 'local' w

[2018-11-13 22:47] idraper opened #23726 "Win 10: Failed to load native runtime - DLL load failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win 10
- TensorFlow installed

[2018-11-13 22:50] jimakr commented on #23683
tried actually i doesn;t change the log at all even with the usuported version of protobuf. tried to replicate the issue on another machine and it works without problems

[2018-11-13 22:55] hadaev8 commented on #23406
Ok, it doesn't work and problem not in mine code, but isn't it should be fixed?

I want to use colab and tpu.
Docs advise to use TPU estimator. But it doesnt work in colab.

Can I at least disable autosaving? I have not found such an option in docs.

[2018-11-13 23:11] wt-huang commented on #23127
You can try to install [tensorflow-gpu from anaconda](https://anaconda.org/anaconda/tensorflow-gpu)

[2018-11-13 23:17] jeffdaily commented on #23618
Which version of bazel?  Try 0.18.1.

[2018-11-13 23:20] wt-huang commented on #22824
Closing, feel free to reopen if problem persists.

[2018-11-13 23:20] #22824 closed

[2018-11-13 23:47] feihugis commented on #23643
@aiueogawa I am also thinking about this question. @jsimsa may a better answer.

[2018-11-13 23:51] ymodak commented on #23726
TensorFlow officially supports CUDA 9.0. However it is compatible with CUDA 10.0 but not supported currently. For using TF with cuda 10, you have to build it from sources yourself. You can also take a look at [installations](https://medium.com/@amsokol.com/update-1-how-to-build-and-install-tensorflow-gpu-cpu-for-windows-from-source-code-using-bazel-and-c2e86fec9ef2) done by another users to make i

[2018-11-13 23:55] wt-huang commented on #23050
@ccurro  gamma and beta are parameters.

Yes, but if you change virtual_batch in x_norm as below, sess.run would not incur error.
[code]

[2018-11-13 23:57] wt-huang commented on #20309
Closing, feel free to reopen if problem persists

[2018-11-13 23:57] #20309 closed

[2018-11-13 23:58] hdtsirai commented on #23263
I've got the same proble with Ubuntu 18.04+GeForce 1080Ti+nvidia-390+cuda-9.[012] and corresponding cuDNNs +tensorflow-1.11.0 .
My solution is to downgrade the tensorflow and tensorflow-gpu to 1.6.0 with cuda-9.0+CuDNN 7. It worked.

[2018-11-14 00:07] #23313 closed

[2018-11-14 00:08] ymodak commented on #23719
Duplicate of #23674

[2018-11-14 00:14] cssaheel commented on #8785
just go to C:\Users\USERNAME\AppData\Local\Programs\Python\Python35\Lib\site-packages
and rename the folder of tensorflow to something else. That worked for me!

[2018-11-14 00:16] feihugis commented on #9917
@rdinse Are you still working on this issue?

[2018-11-14 00:20] jsimsa commented on #23643
This behavior is expected.

The easiest way to understand why is to assume that dataset construction is "by value". So when `dataset = Dataset.zip((dataset_A, dataset_B))` is called, the `dataset_A` passed as the first argument will be independent of the `dataset_A` used to create `dataset_B`.

[2018-11-14 00:33] akshaym commented on #23407
Hi @galeone,

Taking a step back, I want to confirm that it is actually broken without the ```feature /= 255.``` line?

The images that were generated initially (from your screenshot in https://github.com/tensorflow/tensorflow/issues/23407#issue-376045885) seem reasonable enough (at the very least not broken/collapsed).

Can you print the disc_loss out in python for the eager case as well (as I me

[2018-11-14 00:34] jhseu commented on #23406
If you set the save_checkpoint options to None, it should disable saving:
https://www.tensorflow.org/api_docs/python/tf/contrib/tpu/RunConfig#save_checkpoints_secs

[2018-11-14 00:37] wt-huang commented on #23701
Please provide more details by filling out the issue template.
Did you use a pre-trained model?

[2018-11-14 00:37] idraper commented on #23726
No problem, thanks.

Just glancing at the steps for building from source makes me believe simply installing CUDA with version 9.0 will be a faster and easier solution, then I can just (according to [this](https://devtalk.nvidia.com/default/topic/493290/multiple-cuda-versions-can-they-coexist-/)) change the path variables.

Am I correct in that cudnn64_7.dll is the supported version for tensorflow?

[2018-11-14 00:38] hadaev8 commented on #23406
Thanks

[2018-11-14 00:50] ymodak commented on #23718
What is the OS version you are using? I suspect your operating system does not follow AVX instruction sets. TensorFlow official release binaries version 1.6 and higher are prebuilt with AVX instruction sets. In the case of macOS, TF is tested and supported against macOS 10.12.6 (Sierra) or later. To use Tensorflow on old CPUs you'll need to build a binary on your own.

[2018-11-14 00:55] ymodak commented on #23726
Yes you are correct, cudnn64_7.dll is the supported version for tensorflow. You can also refer the [windows setup guide](https://www.tensorflow.org/install/gpu#windows_setup) to update the environment variables correctly.

[2018-11-14 01:44] feihugis commented on #23585
@vincentleon Could you post an example code for reproducing the problem?

[2018-11-14 02:02] idraper commented on #23726
Perfect, thank you :).

[2018-11-14 02:02] #23726 closed

[2018-11-14 02:05] rookie77 opened #23727 "how to sample tfrecord data with probability like experience replay? does tfrecord support this?"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2018-11-14 02:05] rookie77 commented on #23727
how to sample tfrecord data with probability like experience replay? does tfrecord support this?

[2018-11-14 02:14] ymodak commented on #23726
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2018-11-14 02:53] smit-hinsu commented on #23458
Assigning back to Todd as I don't see any of the GPUOptions being used in the tensorflow/compiler and I doubt if we use BaseGPUDevice for XLA.

[2018-11-14 04:04] Abhijit-2592 commented on #23702
@wt-huang were you able to reproduce this issue? Or am I missing something?

[2018-11-14 04:54] smit-hinsu commented on #20856
Closing this issue as the workaround was found for the use-case.

Please reopen if this causes issue for other use-cases as well.

[2018-11-14 04:54] #20856 closed

[2018-11-14 05:00] samikama commented on #20856
@smit-hinsu it is correct that we worked around the problem but the fact that GPUBFCAllocator breaking Allocator API stands. Is there a reason for not fixing it?

[2018-11-14 05:01] delock commented on #23179
Hi @jsimsa
I'm optimizing the pattern as you suggested.  However I met one problem. The `tf.random_uniform` op itself is stateful, which will be blocked by `tensorflow/core/framework/dataset.cc:AddFunction`.

It is tricky here, from definition in TensorFlow, random_uniform is stateful because two call with same input will generate different output, which is the nature of _random_.   The pseudo ran

[2018-11-14 05:09] nihp commented on #23706
I have tried to run the example app of tensor flow by following the document. https://www.tensorflow.org/lite/demo_ios

I have set up as mentioned all, while I am hitting the run button I am getting the error 'tensorflow/lite/kernels/register.h'

Kindly clarify as soon as possible.

[2018-11-14 05:45] jxstanford commented on #23721
your suggestion resulted in a viable test run, but I still had problems later in the build process.
 downgrading bazel to 18.1 resolved the problem.

[2018-11-14 05:45] #23721 closed

[2018-11-14 05:49] srihari-humbarwadi opened #23728 "Unable to import tf.keras.optimizers"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2018-11-14 05:50] tranhungnghiep commented on #21587
@ssubraveti In `tensorflow`, regularization loss is added to regularization loss key, not the main loss key.
Unless you use high level API like keras Model or Estimator, all losses have to be collected explicitly. So your total loss would look like:

    loss = main_loss + tf.losses.get_regularization_loss()

@fchollet This is not a `tensorflow` issue, it should be closed.

[2018-11-14 06:05] oxhagolli commented on #22342
Updating pandas alone did not help. Updating matplotlib fixed the issue for me.

[2018-11-14 06:11] allen90132 commented on #9090
NICE!!!!! It's work

[2018-11-14 06:29] yearfreeze commented on #6698
hi,guys,i faced the same issues.i using win10 tensorflow-gpu1.8.0 cuda 9.0 NVIDA gtx1050Ti ,when i change the version of cudann from 7.0 to 7.1,the problem solved

[2018-11-14 06:31] gunan commented on #23674
Looks like a permission issue. You can try starting a terminal with Administrator privileges.
@meteorcloudy may know more.

[2018-11-14 07:03] LJXLJXLJX commented on #23674
@gunan I tried the Windows PowerShell(Administrator) , but it didn't work. The same win32 exception , the same error.

[2018-11-14 07:04] wenmengzhou commented on #23523
Yes

[2018-11-14 07:11] omalleyt12 commented on #22837
Great, yes sorry meant to update this, the fix for this is in

[2018-11-14 07:11] #22837 closed

[2018-11-14 07:13] swatinair123 commented on #13341
But I have a question will 'tf.reset_default_graph()' reset the entire graph /network created ?

[2018-11-14 07:15] KapoorHitesh commented on #20867
@saeed68gm how did you turn off eval? I am facing this issue to quantize faster rcnn model

[2018-11-14 07:15] omalleyt12 commented on #23635
Hi @gmanrocks99 can you provide a minimal example reproducing the issue and copy-paste the code as a comment on this thread?

[2018-11-14 07:20] JobSmith opened #23729 "pybullet.error: createCollisionShape failed."
It is on Ubuntu 16.04LTS, and it shows this error:

![image](https://user-images.githubusercontent.com/15700681/48466407-c1a1bd00-e820-11e8-80f4-695690415552.png)

[2018-11-14 07:30] omalleyt12 commented on #23610
I think generalizing the approach to causal padding used by `tf.keras.layers.Conv1D` to n-dimensional convolutions would be straight-forward enough if we assumed there was only one causal/"time" dimension. The 2-d case could be useful for generating audio spectrograms, the 3-d for video generation. We'd have to add an arg to the API for the user to specify which dimension is causal. Also, rather t

[2018-11-14 07:35] npuichigo commented on #23581
@jsimsa So how can we group adjacent elements during sequence into windows using tf.data? Maybe like what tf.contrib.signal.frame does.

[2018-11-14 07:49] ymodak commented on #23721
Thanks for sharing your workaround.

[2018-11-14 07:51] ymodak commented on #23674
@LJXLJXLJX Can you please try lowering your bazel version to 0.18.1 and build again?

[2018-11-14 08:05] Abeltime commented on #22963
@jaydu1 I ignore the eager mode

[2018-11-14 08:10] ymodak commented on #23729
It doesn't look like an error on TensorFlow's end. Can you please share your bullet-test.py script?

[2018-11-14 08:33] LJXLJXLJX commented on #23674
@ymodak I download the bazel 0.18.1 and delete the previous _bazel_Administrator directory, repeated those process again but met the same win32 exception and error.

[2018-11-14 08:34] EddieOne commented on #21741
TF 2.0 will have CUDA 10 support and TensorRT. https://www.tensorflow.org/community/roadmap

[2018-11-14 08:39] scotthuang1989 commented on #21587
@tranhungnghiep , if you check source code of tf.losses.get_regularization_loss.  you will find that this function also get regularization loss from **REGULARIZATION_LOSSES** collection

`ops.get_collection(ops.GraphKeys.REGULARIZATION_LOSSES, scope)`

As I mentioned in my comment above ,  keras layer don't add regularization loss to this collection. I am able to fix this, but I am not sure if thi

[2018-11-14 08:50] darkmanAmazigh commented on #23683
The second machine have the same config with the first ?

[2018-11-14 08:51] LJXLJXLJX commented on #23674
I entered python ./configure.py,
then the Windows PowerShell print "Extracting Bazel installation..."
Then the exception occurred.
I followed the instruction and open my visual studio to debug.
It said there was an execption unhandled  at 0x00007FF8C0EA4D3B(ntdll.dll)(in bazel.exe): 0xC0000374: the heap was broken.(Parameter:0x0000FF8C0F097B0)
Followed is the screenshot.
https://suall-my.sharepoin

[2018-11-14 09:04] meteorcloudy commented on #23142
@WagnerCaetano Can you show me the exact compilation error?

[2018-11-14 09:05] SumNeuron commented on #22092
@lamberta @mrry @jsimsa @MarkDaoust  I am still waiting for some assistance with this. Use of TF records, even with `tf.data.TFRecordDataset(<files>)` can be problematic, especially with `SequenceExamples` in unwrapping the forced wrapped features and feating into an input_fn for a custom estimator.

My point is that it is unclear the best way to do something simple with TF records and given how m

[2018-11-14 09:08] skang29 opened #23730 "Multi GPU, GPU to GPU communication stops"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-11-14 09:10] meteorcloudy commented on #23674
@LJXLJXLJX It might be you don't have write permission to `C:\Users\Administrator/_bazel_Administrator`
Can you add `startup --output_user_root=C:/tmp` into your bazelrc file? This will change the output base.

[2018-11-14 09:11] mzhaoshuai opened #23731 "Error when using tf.metrics.mean_iou() in eval_metric_ops of tf.estimator.EstimatorSpec()"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:_no_
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  _Linux Ubuntu 16.04.5 LTS_。
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:_no_
- **TensorFlow installed from (source or binary)**:_binary_
- **TensorFlow

[2018-11-14 09:55] Akashpanchal95 commented on #12250
Simply use older retrain.py using the following link
https://github.com/tensorflow/tensorflow/blob/c565660e008cf666c582668cb0d0937ca86e71fb/tensorflow/examples/image_retraining/retrain.py

[2018-11-14 09:56] LJXLJXLJX commented on #23674
@meteorcloudy
[code]
it didn't work .

[2018-11-14 10:14] Bismarrck commented on #23646
I had the same problem with you at first but I managed to solve it by using `tf.scatter_nd`.

[2018-11-14 10:37] Steroes commented on #22634
@Arritmic Using release v1.12.0, some contrib/data/kernels files moved to core/kernels/data/experimental. You can search for the filenames that are missing and change the filepaths in the tf_core_framework.cmake and tf_core_kernels.cmake files.

[2018-11-14 10:41] rsippl commented on #8858
I ran into this while running code that's almost identical to what @nanoant posted, and I have a very similar setup (Lenovo Y700 with GTX 1070 on Ubuntu 18.04) -- creepy :) The machine always restarts during the first epoch.

This works for me:
`sudo nvidia-smi -pm 1 && sudo nvidia-smi -pl 120`

I watch the power draw via
`watch -n 0.5 nvidia-smi -q -d power`

Values above 120 don't work. Reducing

[2018-11-14 10:56] sahilbadyal commented on #22536
I am working on this. Will create a pull request soon

[2018-11-14 10:56] WuYunfan commented on #22794
I finally solve the problem by installing cuda 9.0 instead of 9.2 or 10.0 with tensorflow 1.12.0 and cudnn 7.4.1.5

[2018-11-14 11:04] galeone commented on #23407
Yes, without the `feature /= 255.` line the eager code is broken.

The `disc_loss` value in eager mode, with the feature scaling, is:

[code]

While adding the feature scaling the value becomes:

[code]

[2018-11-14 11:07] TheBlackPlague opened #23732 "Instance of 'CheckpointState' has no 'model_checkpoint_path' member"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2018-11-14 11:18] Arritmic commented on #22634
Thank you so much. :)

[2018-11-14 11:18] galeone opened #23733 "Memory leak in tf.train.Example/tf.train.Features/tf.gfile"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Archlinux
- TensorFlow installed from (source or binary): repository
- TensorFlow version (use command below): 1.12
- Python version: 3.7
- CUDA/cuDNN version: cuda 10, cudnn 7
- GPU model and memory: nvidia 1080ti

*

[2018-11-14 11:19] Fantelia commented on #22536
@sahilbadyal  Thank you so much!
And thank you all.

[2018-11-14 11:30] dujiangsu commented on #7810
Hi AlvinChen13,

I have the same requirement to disable TF's P2P feature and you provide me with a feasible method. Could you please tell me the result about changing the code you claimed?

[2018-11-14 11:34] #23728 closed

[2018-11-14 11:41] tranhungnghiep commented on #21587
@scotthuang1989 I think you are right. tf's `add_loss()` adds regularization loss to `GraphKeys.REGULARIZATION_LOSSES`, but keras' `add_loss()` doesn't. So `tf.losses.get_regularization_loss()` works for tf layer but not keras layer. For keras layer, you should call `layer._losses` or `layer.get_losses_for()`.

I also see @fchollet's comment that `GraphKeys.REGULARIZATION_LOSSES` is deprecated, so

[2018-11-14 11:41] baihualinxin opened #23734 "Object_detection model supports IOS?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:MAC 10.14
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:Phone 8
- **TensorFlow installed from (source or binary)**:bazel
- **TensorFlow version (use command b

[2018-11-14 11:43] zgbkdlm opened #23735 "Riccati solver suggest"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.7.0
- Are you willing to contribute it (Yes/No): Yes

**

[2018-11-14 11:43] schliffen commented on #9724
It seems this takes frozen graph as input, I wanted the same thing for meta graph "checkpoint.meta" file.
Can we use for meta graphs?

[2018-11-14 11:55] DavinciHW opened #23736 "Change the dependent @nsync version, resulting in a significant increase in the .so size"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Linux Ubuntu 16.04
- TensorFlow version:1.8.0
- Python version:3.5
- Bazel version (if

[2018-11-14 11:55] SanthoshRajendiran commented on #23628
Thank you for the response @wangyongqi . Is the recompilation done? And around when will the bug be fixed for tf-lite version of DeeplabV3?

[2018-11-14 12:07] bayandin commented on #23681
@wt-huang when I use `go get github.com/tensorflow/tensorflow/tensorflow/go` I don't get an access to types defined in protobuf, for example GPUOptions from from https://github.com/tensorflow/tensorflow/blob/v1.12.0/tensorflow/core/protobuf/config.proto#L16

[2018-11-14 12:15] meteorcloudy commented on #23674
That's strange.
Does `mklink /J d:\tmp\buk4ctdf\install d:\tmp\install\358af9e789d95fd87cbc5c9bb842e6bc` work?

[2018-11-14 12:20] Bowyee commented on #21880
I used following command to fix the issue on windows.
pip install png

[2018-11-14 12:40] depauwjimmy commented on #23375
Just renaming the /usr/include/google/protobuf folder to something else let me compile without a problem.
I did not had the time to try again with the recommended setup since it's a time consuming process.
I'll keep it in mind if a need to compile again in the future for another platform/version.
Thanks for your time

[2018-11-14 12:40] #23375 closed

[2018-11-14 12:44] ccurro commented on #23050
I am aware that gamma and beta are parameters - nothing I have said indicates otherwise.

Your statement is trivial and reductive. Obviously if I make `virtual_batch_size=1` then yes, at inference time, as the algorithm is currently implemented, I will not encounter a runtime error - that does not however make any statements about the correctness of the implementation. Further, `virtual_batch_size