[2020-11-04 14:31] parthshahengg opened #44586 "ImportError: DLL load failed: A dynamic link library (DLL) initialization routine failed."
![image](https://user-images.githubusercontent.com/19899607/98122360-7b930780-1ed6-11eb-8def-ae981ef57dcb.png)

Getting this error while importing TensorFlow.

It installed successfully.

CPU : Intel(R) Xeon(R) CPU E5-2670 v3 @ 2.30GHz
OS : Windows server 2016
python: 3.7.6
TensorwFlow : 2.3.0 and 2.2.0 both gives same error

Checked parameters :
-Installed Microsoft Visual C++ Redistributable for

[2020-11-04 14:36] danipozo opened #44587 "Behaviour of ImageDataGenerator with subset='validation'"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing/image/ImageDataGenerator
https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing/image/ImageDataGenerator#flow

## Description of issue:

The documentation for `keras.preprocessing.image.ImageDataGenerator` doesn't specify how it handles validation data.

### Clear description

In particular, doc

[2020-11-04 14:36] danipozo commented on #44587
Sorry, still editing this.

[2020-11-04 14:39] A-Ayesha-Abbasi commented on #43227
I also had same issue, This error occurs when VRAM on Colab become full thus program halts, So either reduce your input image size or reduce batch size. I used to resolve this issue by reducing batch size to 1 in config file, located at TensorFlow/workspace/training_demo/models/ YOUR-MODEL-NAME/pipeline.config

[2020-11-04 14:42] avrajsri commented on #559
Try This...
Run this Code One by One...

pip uninstall numpy
pip install numpy==1.19.3

[2020-11-04 14:43] avrajsri commented on #559
Try This...
Run this Code One by One...

pip uninstall numpy
pip install numpy==1.19.3

[2020-11-04 14:44] avrajsri commented on #25942
Try This...
Run this Code One by One...

pip uninstall numpy
pip install numpy==1.19.3

[2020-11-04 14:59] jaltmayerpizzorno commented on #43271
Sure, will do.

[2020-11-04 15:06] breadbread1984 commented on #44571
@amahendrakar the command is
[code]
train2017 val2017 annotations are three directories of COCO2017 dataset.

[2020-11-04 15:08] charlielito commented on #44568
@amahendrakar  sorry, forgot to change the permissions. Now you should be able to access it

[2020-11-04 15:13] amahendrakar commented on #44586
@parthshahengg,
Installation issues within the Anaconda environment are tracked in the Anaconda repo.

Could you please submit a new issue using [this link](https://github.com/ContinuumIO/anaconda-issues/issues) and fill in the template, so that the issue can be tracked there. Thanks!

[2020-11-04 15:24] amahendrakar commented on #44541
@junhyk,
In spite of the warnings, I was able to convert the model to tflite format without any issues. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/8cde728ac94bc76eaa70ef802132a397/44541-tf-nightly.ipynb). Thanks!

[2020-11-04 15:26] vikramdattu commented on #43450
Example build test is added here: https://github.com/tensorflow/tensorflow/pull/44588

[2020-11-04 15:27] #44541 closed

[2020-11-04 15:53] amahendrakar commented on #44548
@SangbumChoi,
I am unable to untar the `exp2_mobilenext_headnet_24.pth.tar` file you have shared. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/a30db81e07a49b17d4c0aa6348fceae7/44548.ipynb).

Could you please share the contents of the file in another format. Also, please share the complete code you have executed to build the model itself. Thanks!

[2020-11-04 15:58] amahendrakar commented on #44575
@usename6,
In order to expedite the trouble-shooting process, could you please provide the following information

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (sour

[2020-11-04 16:07] amahendrakar commented on #44555
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/6c286d9b6cd4266398a02d8373f3c73b/44555.ipynb). Thanks!

[2020-11-04 16:13] Bio-reactor commented on #44422
Hi,
I retrained the ssd_mobilenet for custom object recognition. I converted the frozen model into tflite file. I just replaced the tflite file in the assets folder and changed the labelmap.txt file. I checked with just the object detction model that is just using the detect.tflite and labelmap.txt. It works fine. When I change it to my model, the app keeps stopping

[2020-11-04 16:14] mihaimaruseac commented on #44192
Note that your error is actually `AttributeError: module 'tensorflow' has no attribute 'GIT_VERSION'`

[2020-11-04 16:29] amahendrakar commented on #44563
Was able to reproduce the issue with [TF v2.4.0rc0](https://colab.research.google.com/gist/amahendrakar/ae78370adfbd22d169f7ead5f6d579ad/44563.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/adac0577dd7fc3bbe4883428bc420fb8/44563-tf-nightly.ipynb). However, code works fine with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/187bb5be27ba643b1af9a5b556d9267

[2020-11-04 16:41] srjoglekar246 commented on #44503
Thanks for confirming @kaublezw !

[2020-11-04 16:41] #44503 closed

[2020-11-04 16:41] amahendrakar commented on #44569
@KodeWorker,
From the error log, I see that you are using Anaconda Python to build TensorFlow.

Could you please try building TensorFlow using just Python (i.e. outside the Anaconda environment) and check if it works. Thanks!

[2020-11-04 16:46] cookingbear commented on #44520
I used the code above to create the tflite model which would be used to produce speech based on text input.
According to my experiments, when I always feed the same input into the model, it works fine and always output the same speech. And the speech can also be produced correctly the first time after loading the tflite model.
However, the tflite model would go wrong after one or two rounds of pro

[2020-11-04 16:49] Saduf2019 commented on #44570
@oracle3001
Can you please let us know if you are using anaconda python and if yes please use normal python instead.

[2020-11-04 16:55] fuckfrancisco commented on #44519
is there a file in the build system can allow to add /GL- only to the contrib ?

[2020-11-04 17:03] merplumander opened #44590 "Layer.add_loss has wrong behaviour when building Sequential model in for loop"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS Catalina
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): v2.3.0-54-gfcc4b966f1     2.3.1
- Python version: 3.6.5
- CUDA/cuDNN version: Not using CUDA
- GPU model a

[2020-11-04 17:25] amahendrakar commented on #44438
@ZuyongWu,
Please check [this](https://colab.research.google.com/gist/amahendrakar/aa52e271dabd6ce4e05fc6d49a18c34a/44438-tf-nightly.ipynb#scrollTo=WOJZqlLw1S8P&line=1&uniqifier=1) updated gist which lists the files after the conversion. Thanks!

[2020-11-04 17:42] amahendrakar commented on #44572
@xyangk,
TensorFlow Serving issues are tracked in tensorflow/serving repo. Could you please submit a new issue from [this link](https://github.com/tensorflow/serving/issues/new) and fill in the template, so that we can track the issue there. Thanks!

[2020-11-04 17:42] lu-wang-g commented on #44431
Sounds good! I'll close this issue. Feel free to let us know if you encounter other problems. Thanks.

[2020-11-04 17:42] #44431 closed

[2020-11-04 17:56] KartikHegde64bit commented on #39442
@karbapi I'm having the same issue. Did you resolve it? If yes how?!

[2020-11-04 18:00] nityansuman opened #44591 "BUG!! tf.keras.model.summary() output is wrong"
**System information**

- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow version: 2.3.0
- Python version: 3.8.5
- GPU model and memory: Nvidia GeForce RTX 2080 Ti

**Describe the current behavior**
[code]

[code]

Output summary:
[code]

Run this to get summary:
[code]
As one can see in above summary, the `dropout_layer` is present below `d2` layer which is incorrect. It should be i

[2020-11-04 18:10] bibhas2 opened #44592 "Make timeseries_dataset_from_array() more intuitive"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.3.0
- Are you willing to contribute it (Yes/No): Yes

**

[2020-11-04 18:12] oracle3001 commented on #44570
Yes I am using Anaconda as standard. As stated above, this has not ever been an issue with building previous versions of python.

I have tried with the stand-alone installation of python (3.8), reran` configure.py `to ensure it used this.

[code]

Then ran

[code]

same error as initially reported.

[2020-11-04 18:32] Saduf2019 commented on #44585
@stephengmatthews
I ran the code shared, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/0a2d008b43a7d31de6efb51fb6cea04d/untitled458.ipynb) please confirm, this doesn't seem like a bug at tf end.

[2020-11-04 18:34] #44208 closed

[2020-11-04 18:43] Saduf2019 commented on #44545
I am able to replicate the issue reported,please find the [gist here](https://colab.research.google.com/gist/Saduf2019/34c1ed837a6ba2a1e704799f4fe146a9/untitled458.ipynb).

[2020-11-04 18:48] Saduf2019 commented on #44552
@ZakharovDenis
I ran the code shared and face a different issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/5579f91b0374d78431b4f8c4f8ecdc1a/untitled458.ipynb).

[2020-11-04 18:50] Saduf2019 commented on #44583
@ZYG151541155
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

Please paste the error message (using makrdown formatting around it) instead of screenshotting. Screenshots are not searchable so they don't help in looking for the iss

[2020-11-04 18:53] Saduf2019 commented on #44579
@peter197321
tensorflow Lite for Microcontrollers run just quantized, as this is not a bug or feature request please open this issue at [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) for any further queries.

[2020-11-04 18:56] jaltmayerpizzorno commented on #43271
I re-ran the code on the colab I posted earlier in this ticket; the crash is gone!  Nice! :)

I am getting errors about operations being `neither a custom op nor a flex op` that I haven't attempted to solve yet, but I assume they are due to what's in my model and not a sign of a bug (well, at least not this bug).

[2020-11-04 18:56] #43271 closed

[2020-11-04 18:57] Saduf2019 commented on #44567
@anisoulk
Please refer to these existing issues with same error and let us know:
#44291 #44128 # 44381

[2020-11-04 18:59] Saduf2019 commented on #44564
@shaowei-su
Please provide with complete stand alone code for us to replicate the issue faced, or if possible share a colab gist with error reported.

[2020-11-04 19:01] Saduf2019 commented on #44556
@swertz
I ran the code shared and face a different issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/c7429b868d443d188c6d029122e8ca89/untitled458.ipynb). Please share a colab gist with the error reported.

[2020-11-04 19:02] Saduf2019 commented on #44560
@houseofai
Please share simple stand alone code to replicate the issue or if possible share a colab gist with the error reported.

[2020-11-04 19:33] shaowei-su commented on #44564
Thank you @Saduf2019 taking look into this.
To reproduce the error it requires:
- S3 bucket access
- AWS credential setup for the given S3 bucket

(Unfortunately, my current setup is not public accessible/sharable)
Once its setup then you can run the following tests:

1. Smoke test (should pass)
[code]
2. TFRecordDataset load (should fail)
[code]

[2020-11-04 19:34] arunraja-hub opened #44595 "How to implement Bidirectional GRU in Encoder"
I am currently trying to implement a bidirectional GRU within an Encoder class:

[code]
But I am getting the following Key Error: 'go_backwards'
![image](https://user-images.githubusercontent.com/43485111/98159495-ad788e00-1f17-11eb-94e9-3e11c792e065.png)
How can I resolve this?

[2020-11-04 19:52] CoreyCole commented on #33341
Hey @jaeyoo I am able to convert my model using SELECT_TF_OPS, but that greatly increases the size of the libtensorflowlite library.

I am trying to get my model running on Android and this is the one operator in my way from >100 megabytes decrease in app download size.

Not only that, but I am trying to use the tensorflowlite c api and it doesn't seem like android arm compilation is supported whe

[2020-11-04 19:55] ymodak commented on #44389
Did you add CUPTI to the `$LD_LIBRARY_PATH` environmental variable?
See [linux gpu setup](https://www.tensorflow.org/install/gpu#linux_setup).

[2020-11-04 19:55] hugokitano commented on #42182
would like some resolution on this!

[2020-11-04 19:56] anisoulk commented on #44567
@Saduf2019 Thanks for getting back to me. I did look at the issues you mentioned, the applicable temporary fixes suggested there are:

1. Revert to Cuda 10.x : I can't do that since I have an RTX3080 GPU card, which is only compatible with Cuda 11.x
2. The other suggestion floating around is to "rename" the cusolver64_11.dll in my current Cuda11.1/bin folder to cusolver64_10.dll... Are you saying

[2020-11-04 20:48] fanto88 opened #44596 "tensorflow.python.framework.errors_impl.UnknownError: Access is denied."
Hi again!

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary):  binary i think
- TensorFlow version: 2.5.0-dev20201028
- Python version: Python 3.8.3
- Installed using virtualenv? pip? conda?: pip

**Describe the problem**
I can't train the model to recognize custom object.

[code]

So i have changed the pipel

[2020-11-04 20:50] puneith opened #44597 "TensorFlow serving on GPUs using Docker 19.03 needs gpus flag"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://www.tensorflow.org/tfx/

[2020-11-04 20:59] prokotg opened #44598 "AssertionError t.graph == cond_graph using tf.GradientTape"
Hi,

I posted a [similar question](https://stackoverflow.com/questions/64661822/what-is-the-meaning-of-assertion-error-assert-t-graph-cond-grap-using-tf-gra) on SO, but I am not sure anymore if the problem is on my side or somewhere in TF (hence no MRE).  Similar problem [here ](https://stackoverflow.com/questions/62911595/assertionerror-assert-t-graph-cond-graph-when-generating-heatmap-for-locall

[2020-11-04 21:00] Rariusz commented on #44091
@ymodak Following this issue https://github.com/tensorflow/tensorflow/issues/44561  without quantization everything work. If I run the detector for ```ssd_mobilenet_v2_fpnlite_320x320_coco17_tpu-8``` the result is
![prediction](https://user-images.githubusercontent.com/28406311/98166790-44c5ed00-1ee8-11eb-9565-b16ddef58339.jpg)

After running this command:
[code]

[2020-11-04 21:05] Rariusz commented on #44561
@amahendrakar Thank you for your help !!! So far the results are the same. For model graph and tflite frozen graph. Now I will want to run the model on google coral. But first I need to quantization. We'll see if there will be any more problems

[2020-11-04 21:05] #44561 closed

[2020-11-04 21:22] JulesGM commented on #35342
This is supported in tf 2.5 (maybe 2.4?) with the output_signature argument of from_generator

[2020-11-04 21:28] jvishnuvardhan commented on #43915
@sahal-mulki Difficult to find root-cause. I am not sure how to resolve. I would say keep trying to find any traces of tensorflow folders, env PATH, etc and delete them. You could also try Anaconda (we don't support) or Google colab. Thanks!

[2020-11-04 21:28] ymodak commented on #44423
2. Currently your code performs dynamic range quantization which may leave some of the data in float format.
For enforcing `int8` quantization you want to try [integer-only_quantization ](https://www.tensorflow.org/lite/performance/post_training_integer_quant#convert_using_integer-only_quantization)
Note that this approach raises errors where the quantization fails and in such cases you can still

[2020-11-04 21:41] k-w-w commented on #40546
If you install tf-nightly, you can use the newly added `save_traces` argument to prevent the model from being traced.

`model.save(export_dir="", signatures=signatures, save_traces=False)`

[2020-11-04 21:41] #40546 closed

[2020-11-04 21:44] convoliution commented on #44467
Thought it might be pertinent to link to the `h5py` repo:
This has been labeled as a bug in their 3.0.0 release (rather than a backwards incompatibility),
and is slated to be fixed in an upcoming release: https://github.com/h5py/h5py/issues/1732

[2020-11-04 21:45] ashahab commented on #44505
@amahendrakar Have you been able to reproduce the issue?

[2020-11-04 22:00] happychriss opened #44599 "esp32"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the converter invocation**

[code]

**Also, plea

[2020-11-04 22:22] aaudiber commented on #44573
Hi @OmriShiv,

`Dataset.from_tensor_slices` uses generic TensorFlow machinery to convert its inputs into tensors. It should be able to convert anything that can be passed to `tf.constant`.

To make `from_tensor_slices` work with DataFrames, convert the DataFrames to lists first:
[code]

[2020-11-04 22:36] OmriShiv commented on #44573
@aaudiber Let me take a look and see if I can make this work. I'm getting some dimension issues right now.

My question is more: why this works in 2.1, but not in 2.2+

[2020-11-04 22:57] Darqam commented on #43947
For some reason the symlink did not work with the provided target, however placing it in the tensorflow site-packages worked properly

(Obviously replacing python3.8 with proper value as well as username)

[2020-11-04 23:11] jvishnuvardhan commented on #44545
@oXwvdrbbj8S4wo9k8lSN May be I am missing something. I checked your colab. Data looks different and the results (losses) are also different as expected. Can you please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/cdb65957379a264c3121b2543595a5da/untitled458.ipynb) where I printed different datasets and results. Thanks!

[2020-11-04 23:49] fanto88 commented on #44596
I'm sorry about that. I have actually solved the problem.

Now i get this output:

[code]
So i suppose everything is fine. The error was that i didn't understand how everything worked. I had to copy pipeline.config inside a new folder, and this is where the new model will be created. Instead of doing so i edited the pipeline.config of the model i have downloaded from internet and i gave that pipel

[2020-11-04 23:52] wwoofbum opened #44600 "cstdio: No such file or directory"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arduino Create - online IDE
- TensorFlow installed from (source or binary): ARDUINO_TENSORFLOWLITE default library
- Tensorflow version (commit SHA if source): 2.1.0 alpha-precompiled
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Arduino Nano

**Describe the problem**
Using the A

[2020-11-04 23:58] talumbau commented on #42941
Hi,

Unfortunately I don't have a full answer but I can provide some info. First, can you say what the run time is for TF vs. TFL on x86 with this model built/run in a standard way (basically just `-c opt` for the build line)? If TFL is 2-3x slower than TF, it is likely something bad is happening. If TFL is on the order of 10-20% slower than TF for this float model, it might just mean that deeper

[2020-11-05 00:17] talumbau commented on #42941
It is worth pointing out that this model is quite large (peak memory footprint > 800 MB) and 1.8 seconds inference time on ARM when actually getting optimized code. ~90% of the execution time is in GEMM in ARM case, so I think if we are able to get the AVX2 path going on your machine, that's probably the low hanging fruit here.

[2020-11-05 00:19] AdamChrist commented on #42157
@abattery Can you provide some example code for convert SSD ResNet model ?

[2020-11-05 01:05] psycho2012 commented on #44200
@Thunder003 CUDA 11.1 and cuDNN 8.04, but I failed to run it on GPU for TF 1.14. I have tried to build it from source with TF 1.14, but failed.  According to the experiment, I think the current version of TF 1.14 can not support CUDA11.1.

[2020-11-05 01:54] terryheo commented on #44582
Flex delegate requires to build TF kernels and I'm not sure if TF is buildable with RISC-V.
BTW, the build error you have looks strange. When I checked, BoringSSL does support 64bit mips.
You'd better if your toolchain defines __mips__ and __LP64__

Also I'm curious if you setup RISC-V toolchain configuration for Bazel. If you did, can you share it?

[2020-11-05 01:56] Thunder003 commented on #44200
@psycho2012 thanks for your answer. It seems like TF 1.14 is incompatible with CUDA 11.1. One thing that is scratching my head is the type of issue I'm getting, pls check the image. I have checked the path and files, they are proper. Are you getting stuck at the same step?

![image](https://user-images.githubusercontent.com/51915348/98187495-13c0d900-1f37-11eb-95d4-3f26a92a5a82.png)

I have added

[2020-11-05 01:59] Noha82 commented on #36901
Hi all,
I have the same error. while I am running the same code in windows(tensorflow1.14 and 2.1) doesn't get that error. but I got it when I run on HPC using the Linux platform(tensorflow2.3).
I added the line
tf.config.optimizer.set_experimental_options({'layout_optimizer': False}) , it hides the error but not solve the problem, and learning is not improved and the loss increase. any advice?

[2020-11-05 02:21] CoreyCole commented on #33341
I noticed a commit in `v2.4.0-rc0` that has create a custom prototype for random standard normal:

https://github.com/tensorflow/tensorflow/commit/11823c6179a5e2ca6ac4f8480aa00c42c772885e

I've compiled this library but I'm getting the error:

[code]

Any guidance on how I can register the op using the c api?

[2020-11-05 02:28] shaowei-su commented on #44564
Quick updates on my end:
This issue seems related to the S3 multi part download that's introduced in TF2.2.
By disable the functionality with `os.environ['S3_DISABLE_MULTI_PART_DOWNLOAD'] = '1'`,  tf.data.TFRecordDataset() can load data from S3 properly.

[2020-11-05 02:52] ymodak commented on #44553
For using multiple gpu using [tf.distribute.MirroredStrategy](https://www.tensorflow.org/api_docs/python/tf/distribute/MirroredStrategy) is recommended.

[2020-11-05 02:53] nistarlwc opened #44601 "Why is the memory(no gpu) used so different between windows and Ubuntu？"
PS: memory is not GPU-memory, is PC-memory
There are 6 small models, inference with 6 multiprocessing in python3.7 and tensorflow1.13.1.
In windows, use 4G memory, but in Ubuntu use 12G memory, don't know why.
How to reduce memory in ubuntu?

[2020-11-05 02:56] breadbread1984 commented on #44571
I found TFRecordWriter created within child process works without problem. Whereas, TFRecordWriter created in the parent process can't work properly in child process. The following code is a modification of the problem code. it can work successfully. but I have to load dataset from several separate tfrecord files.

So, please solve the problem that TFRecordWriter created in parent process can't wo

[2020-11-05 03:01] psycho2012 commented on #44200
@Thunder003 I just tried on Windows but also failed on the step of the configuration. Maybe TF 1.14 is not supported by CUDA 11.1.

[2020-11-05 03:08] #44550 closed

[2020-11-05 03:08] sairmreddy opened #44602 "fatal error: tensorflow/core/framework/types.pb.h: No such file or directory"
**System information**
- OS Platform and Distribution : Linux Ubuntu 18.04.5 LTS
- TensorFlow installed from source
- TensorFlow version : r2.2
- Python version : py3.6
- Bazel version : 2.0.0
- GCC/Compiler version : 7.5.0

steps to produce error:

- sudo apt install python3-dev python3-pip
- pip install -U --user pip numpy wheel
- pip install -U --user keras_preprocessing --no-deps
- git clone h

[2020-11-05 03:29] Thunder003 commented on #44200
@psycho2012 thanks for your answer. I have checked from another source also that TF 1.14 is incompatible with CUDA 11.1. and probably the error popped-up due to that only.
I'm closing the issue now.

[2020-11-05 03:29] #44200 closed

[2020-11-05 03:59] #43898 closed

[2020-11-05 04:03] vikramdattu commented on #44599
@happychriss can you please elaborate the issue in more detail?

Do you face any issues running TFLu on ESP32 platforms?

[2020-11-05 04:04] Bio-reactor commented on #44422
System information

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Samsung a20
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Bazel version (if compiling from source):
GCC/Compiler version (if compiling from sour

[2020-11-05 04:10] DachuanZhao commented on #43373
Hi , I want to know whether it will slow down performance  or not in inference status if a model contains a preprocessing layer s  , especially when the model which contains a preprocessing layer served in tf-serving . Is there any document for that ?

[2020-11-05 04:19] KodeWorker commented on #44569
@amahendrakar ,
Thank you for the advice.
I used the base anaconda python, but doing this introduced new error.

**Thing I did**
1. Run <code>bazel clean --expunge</code>
2. Run <code>python configure.py</code>, and the configurations are shown below:
[code]
3. Run <code>bazel build //tensorflow/tools/pip_package:build_pip_package</code>, and got the following error:
[code]

The detailed messages

[2020-11-05 04:42] ln0v opened #44603 "tf.estimator.BoostedTreesClassifier - AttributeError: 'NoneType' object has no attribute 'is_compatible_with'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),

**System information**

- Running my code on Google Colab notebook

Am using the tf nightly build as:

`!pip install tf-nightly`

output of pip install :

Building wheel for tensorflow-docs (setup.py) ... done
Requirement already satisfied: tf-nightly in /usr/local/

[2020-11-05 04:53] je-santos opened #44604 "keras epsilon doesn't change"
Windows, TF 2.3.1

I'm trying to change the epsilon so my MAPE doesn't blow up. When I do:

$tensorflow.keras.backend.set_epsilon = 1e-3
and then:
$tensorflow.keras.backend.epsilon()
I get:

[2020-11-05 05:06] bhupendrathore commented on #44538
@Saduf2019 find the updated [colab notebook here](https://colab.research.google.com/drive/1-c4OYKe42pMqouVJAFcznhIfv8GKOVSH#scrollTo=Q8kksBJoQ5Bs)

now the error has changed with new tf-nightly which is
'''
ValueError: in user code:

    <ipython-input-52-b4ebcba6c559>:93 preprocess_data  *
        image, image_shape, _ = resize_and_pad_image(image)
    <ipython-input-58-b4ebcba6c559>:63 resize_an

[2020-11-05 05:07] parthshahengg commented on #44586
I can do this.
But I don't think this is related to anaconda.
Because I already tried this without anaconda with pip only. But getting the same error.

[2020-11-05 05:20] RarDay commented on #44546
I have:
[code]

[2020-11-05 05:23] morell5 commented on #44586
A

[2020-11-05 05:34] #32242 closed

[2020-11-05 05:39] nrothGIT commented on #44241
Wanted to rebump! Any update here? Thanks so much for all your work on tflow, also :)

[2020-11-05 06:20] Aribido-Oluwaseun commented on #33925
Please are these two flags:
#converter.inference_input_type = tf.uint8
#converter.inference_output_type = tf.uint8

now supported in the tf-nightly 2.5.0 version? I am still getting the same error when I uncomment those flags

[2020-11-05 06:31] RkVladimir opened #44605 "Compiling tensorflow for 12 hours is ok?"
**System information**
- Windows 10
- I download tensorflow by GIT day before yesterday
- TensorFlow version: last from GIT
- Python version: 3.7.9
- Im use pip
- Bazel version 3.7.0
- VS2019
- CUDA/cuDNN version: 11.1/8
- GPU model and memory:GeForce 3090, 24GB
CPU i7 10700 RAM 32GB, ssd

I following instructions for installation from sourses from website tensorflow.org (for windows 10). Now pass

[2020-11-05 06:32] psycho2012 commented on #44192
@mihaimaruseac Oh, I am sorry, but `python -c "import tensorflow as tf; print(tf.__version__)"`  also failed.

[2020-11-05 06:37] ramanps05 opened #44606 "Functionality of writing back Tflite model with multiple subgraphs that is currently loaded in the Tflite Interpreter."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.3.1
- Are you willing to contribute it (Yes/No): No

**D

[2020-11-05 06:39] raymanfx commented on #44553
This is not about using multiple GPUs. My system only has a single CUDA compute executor (the RTX 2070 Max-Q).

[2020-11-05 06:55] amahendrakar commented on #37942
@AinTziLLo,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-11-05 06:58] yoshihikoueno commented on #44518
@nikitamaia Hi! I would like to kindly ask you if you could have some time to take a look at this issue.

[2020-11-05 07:10] amahendrakar commented on #44062
@Fresh-Broccoli,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-11-05 07:10] ravikyram commented on #44603
@ln0v

I have tried in colab with TF nightly version(`2.5.0-dev20201104`) and i am not seeing any issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/029e1dd9c39f33156c494abff35b3ee5/untitled484.ipynb).Please, verify once and close the issue.Thanks!

[2020-11-05 07:16] amahendrakar commented on #42645
@Khezkid,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-11-05 07:24] spindensity commented on #40859
Same problem here with tensorflow 2.3.1, cuda 10.2, python 3.8.6, bazel 3.1.0 and MSVC 2019 16.7.7 on Windows 20H2 64bit. Only cuda 10.2 installed, and `bazel clean --expunge` does not work.

Logs:

[code]

[2020-11-05 07:26] ravikyram commented on #44422
@Bio-reactor

Just to verify did you follow the [tutorial](https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/android).Also, please see input and output are consistant in your model. Thanks!

[2020-11-05 07:36] NeoZhangJianyu commented on #38377
@leonelacs @kevint324
If build the TF with above bazel cmd,  it won't use mkldnn code to build. (miss '--config=mkl')
So the code change above won't impact the build.

Could you try tf with tag v1.15.4

[2020-11-05 07:43] NeoZhangJianyu commented on #37337
@astirn

Could you close this issue?

[2020-11-05 07:44] ravikyram commented on #44600
@wwoofbum

Please, refer this[ SO link](https://stackoverflow.com/questions/18655168/couldnt-found-cstdio-h),[ link1](https://stackoverflow.com/questions/1023638/correct-order-for-including-both-cstdio-and-stdio-h/1026367#1026367) and see if it helps you. Thanks!

[2020-11-05 07:48] NeoZhangJianyu commented on #35178
@robosina
Sorry, it's long time no answer this issue.

Is the issue still present?

[2020-11-05 07:49] cl886699 commented on #41532
in my case, it occurs during training.  I have trained my model hundreds of epochs, this issue occurs

[2020-11-05 07:52] robosina commented on #35178
@NeoZhangJianyu , unfortunately no, I tried so many ways but I can't resolve these errors.

[2020-11-05 07:53] NeoZhangJianyu commented on #34213
@RogueLogix Could you close this issue?

[2020-11-05 07:53] swertz commented on #44556
I could reproduce in colab with v2.3.0, please find it [here](https://colab.research.google.com/drive/1Nm-KoLV1ZDRTS6NarXgMNjcEQJumjMbH?usp=sharing).

[2020-11-05 07:58] NeoZhangJianyu commented on #35178
@robosina
Is your case changed now? like TF & bazel version?

What's the current version of the building target? And could you share your build cmd and error log?

[2020-11-05 08:00] #34213 closed

[2020-11-05 08:01] NeoZhangJianyu commented on #28470
@byronyi

Is this issue present?
If yes, please update the status with above suggestion.
Is no, could you close it?

[2020-11-05 08:03] ravikyram commented on #44592
@bibhas2

Please feel free to submit a PR if you have use cases that supports that feature.Thanks!

[2020-11-05 08:05] NeoZhangJianyu commented on #27752
@prateethvnayak

Is this issue present?

If yes, could you refer to following issues?
  https://github.com/tensorflow/tensorflow/issues/28131
  https://github.com/tensorflow/tensorflow/issues/29751
If no, could you close it?

[2020-11-05 08:11] NeoZhangJianyu commented on #23888
@muarvyn
Is this issue present?
If yes, could you update the latest status? so that we could continue supporting.

[2020-11-05 08:17] justeph opened #44607 "tensorflow lite Makefile issue : nnapi_delegate_provider.cc is not compiled and nnapi cannot be used from command line of benchmarck_model"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): yocto build system
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): compiled from source
- TensorFlow version: 2.3
- Python version: NA
- Installed using virtualenv? pip? conda?: NA
- Bazel version (if compiling from sou

[2020-11-05 08:21] ravikyram commented on #44578
@botasb

Please, go through this [tutorial](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#batch) and see if it helps you. Thanks!

[2020-11-05 08:33] amirhmk commented on #44565
@amahendrakar No worries! I can potentially look into creating a fix for this in the next couple of days and submit a PR. Though do you know of any workarounds to deal with such a dataset using the `Dataset` API? (Sparse + Dense)?

[2020-11-05 08:33] NeoZhangJianyu commented on #40122
@djshen

This issue is fixed in Tf 2.4.

Could you check it?

[2020-11-05 08:36] spindensity commented on #40859
@nluehr @gunan

After some investigation, I found cuda 10.2 does not define `cusparseDnMatDescr_t`, `cusparseSpMatDescr_t`, `cusparseSpMMAlg_t` at all when the compilation target is x64.

These symbols are defined in `cusparse.h` in a `#if !defined(_WIN32) ... #endif` scope:

[code]

According to the [Microsoft documentation](https://docs.microsoft.com/en-us/cpp/preprocessor/predefined-macros?view

[2020-11-05 08:41] amahendrakar commented on #40143
@mfoglio,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-11-05 08:45] NeoZhangJianyu commented on #34213
@RogueLogix  Thank you very much!

[2020-11-05 08:49] ravikyram commented on #44597
@puneith

This issue is more suitable for TensorFlow Serving repo. Please post it on Serving repo from [here.](https://github.com/tensorflow/serving/issues) Thanks!

[2020-11-05 09:00] oXwvdrbbj8S4wo9k8lSN commented on #44545
@jvishnuvardhan I do not totally get the concept of gists. Therefore, please excuse if I state the obvious.
Between the colab notebook and the gist, something in the behavior of Keras/Tensorflow changed. In my notebook (with tensorflow version 2.3.0), the output of the history is
[code]
Here, the results for *custom_loss* and *val_loss* are the same although they should differ since the inputs dif

[2020-11-05 09:02] stephengmatthews commented on #44585
Thank you. My assumption is that `next()` handles the end of iteration, similar to Python's built-in [`next()`](https://docs.python.org/3.8/library/functions.html#next) and `tf.data.Iterator`'s [`get_next()`](https://www.tensorflow.org/api_docs/python/tf/data/Iterator#get_next).

Could the use case for `next()` looping indefinitely be clarified, please? This [training workflow guide](https://www.t

[2020-11-05 09:04] Jayanth1812 commented on #24369
![image](https://user-images.githubusercontent.com/73299425/98220232-01b15b80-1f74-11eb-9006-24737f6d370e.png)

[2020-11-05 09:15] oXwvdrbbj8S4wo9k8lSN commented on #44545
@jvishnuvardhan I tested version 2.2.1 and also with this version, the outputs differ (as expected). It seems that the problem exists only in versions 2.3.0 and 2.3.1.

[2020-11-05 09:24] e-dzia opened #44608 "Graph disconnected when using transfer learning"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-11-05 09:26] junhyk commented on #44582
Thanks for reply

I figured it out by adding below to `bazel-tensorflow/external/boringssl/src/include/openssl/base.h`
[code]

About my riscv toolchain configuration for bazel, you can visit my repo [here](https://github.com/junhyk/tensorflow)
It's not updated since August, though.
You can also refer the issue I made #41960

[2020-11-05 09:27] tusu18 commented on #43583
@KevinCS17
I tweaked the same thing into my code
Although log cat shows following error
Still none of the objects are detected

2020-11-05 14:45:52.620 772-9676/? E/DataTable: hwcam_data_table_set_entry_data failed,error id : 22
2020-11-05 14:45:52.620 772-18232/? I/AntiBanding: onSubAlgoProcess() mAlgoCtx.continue_detect_cnt :0, mAlgoCtx.succ_detect_cnt : 0, mAlgoCtx.motion_flag = 0, detect_resul

[2020-11-05 09:39] ln0v commented on #44603
@ravikyram  thanks for your efforts, tried the nightly build again and it works fine.  Seems like colab notebook needed a reset and a fresh start on my side. Closing this issue.

[2020-11-05 09:39] #44603 closed

[2020-11-05 09:51] YokoHono commented on #40070
Has anybody solved this issue? Or found a workaround?

[2020-11-05 09:51] YokoHono commented on #39963
Has anybody solved this issue? Or found a workaround?

[2020-11-05 10:13] RkVladimir commented on #44605
Via 16 hours:

[2020-11-05 10:13] RkVladimir commented on #44605
****

[2020-11-05 10:13] #44605 closed

[2020-11-05 10:14] hhass commented on #44079
**System information**
- OS Platform and Distribution: Windows 10 64bit
- TensorFlow version: tf-nightly (2.5.0.dev20201103) (installed from github)
- TensorFlow Model Optimization version: 0.5.0 (installed from github)

When running the gist of previous comment locally, the following error occurs already for 'Convert normal model to INT8 TFLite':

[code]

[2020-11-05 10:14] lothrop opened #44609 "Make TensorFlow Lite available as Swift Package Manager package"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): Lite 2.3.0
- Are you willing to contribute it (Yes/No): ye

[2020-11-05 10:15] ravikyram commented on #44341
@abhishekbalu

This issue is more suitable for TensorFlow Models repo. Please post it on [Tensorflow Models repo](https://github.com/tensorflow/models/issues/new/choose) from here. Thanks!

[2020-11-05 10:19] #44091 closed

[2020-11-05 10:19] nistarlwc commented on #36459
run 6 small models(.pb about 44MB ), inference with 6 multiprocessing in python3.7 and tensorflow1.13.1.
In windows, use 4G memory, but in Ubuntu use 12G memory, don't know why.

[2020-11-05 10:58] rmothukuru commented on #44510
@JohnTaylor2000,
If I understand your requirement correctly, you want to utilize all the `GPUs` while `Training your Model`. If that is the case, the best `API` to use is [Distributed Training](https://www.tensorflow.org/guide/distributed_training). Even the Dataset can be Distributed using [Distributed Strategy](https://www.tensorflow.org/api_docs/python/tf/distribute/Strategy).

Thanks!

[2020-11-05 10:59] ravikyram commented on #44312
@tekumara

Can you install in a fresh environment and see if you are facing issue?
You can try below commands and see if you are still getting the issue.
[code]

Thanks!

[2020-11-05 11:01] amitport commented on #44381
also happens in tf@2.4-rc0

[2020-11-05 11:03] JohnTaylor2000 commented on #44510
The actual model that I am working on is too large to fit into GPU memory. I have a data parallel code using horovod that runs on hundreds of GPUs but now need to use a larger model.  To do this I need to spread the layers across multiple GPUs.

[2020-11-05 11:10] Rariusz opened #44610 "Convert Tensorflow model to TFLite model - problem with boxes after quantization"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google colab
- TensorFlow installed from (source or binary): source
- TensorFlow version (or github SHA if from source): tf-nightly==2.5.0.dev20201104

I am currently working on converting a tensorflow model to a TFLite model. By helping people from the Tensorflow community, in particular @amahendrakar.  Currently, a

[2020-11-05 11:21] e-dzia commented on #44608
UPDATE

So, when instead of
[code]

I use

[code]

Then it works! So I believe this issue can be closed now, but I think you should include it in the documentation (it is not included right now) - for this purpose, I am leaving this issue open.

All credit should go to [Mitiku](https://stackoverflow.com/users/5825953/mitiku) from [this Stackoveflow thread](https://stackoverflow.com/questions/55073

[2020-11-05 11:32] ravikyram commented on #44604
@je-santos

I have tried in colab with TF 2.3.1 version and i am not seeing any issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/3dd9f318dd195976dbdda087e7f4d2b9/untitled486.ipynb).Please, verify once and close the issue. Thanks!

[2020-11-05 11:34] #44210 closed

[2020-11-05 11:34] #44213 closed

[2020-11-05 11:57] danipozo commented on #44587
It seems that `ImageDataGenerator` actually inherits from the implementation in the `keras_preprocessing` module, which is (imported)[https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/preprocessing/image.py#L24] in this implementation.

From what I've seen in that package's source code, I'd think that it doesn't distinguish between training and validation subsets, and ap

[2020-11-05 12:01] robosina commented on #35178
@NeoZhangJianyu Since I can't use tensorflow and it didn't give me proper performance on cpu, I have changed my framework to Pytorch as it has simpler API in c++!

[2020-11-05 12:05] #43543 closed

[2020-11-05 12:21] #44197 closed

[2020-11-05 12:29] #43019 closed

[2020-11-05 12:32] ysyyork opened #44611 "Where is the TRTEngine saved?"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-11-05 13:03] alanpurple commented on #40859
this is not a problem anymore

[2020-11-05 13:03] #40859 closed

[2020-11-05 13:18] ravikyram commented on #44590
@merplumander

Please, refer similar issue #44048 and see if it helps you. Thanks!

[2020-11-05 13:22] amitport commented on #44192
(this also happens in windows10 with tf@2.4-rc0, can remove the subtype: ubuntu)

[2020-11-05 13:28] Demin92 opened #44612 "Slow Interpreter creation with GpuDelegate option"
I use TFLite 2.3.0 on Android device

**System information**
- Mobile device Xiaomi Redmi 5, GPU: Adreno(TM) 506

TensorFlow libraries imported in standard way:
[code]
Instance creation:

[code]

**Describe the current behavior**
`Interpreter(loadModelFile(model), options)` takes 2400ms with GpuDelegate instead of several hundreds ms without it. I have measured `loadModelFile(model)` separately an

[2020-11-05 13:29] eliethesaiyan commented on #42009
@njeffrie , any update on this issue, @FerenczD did you manage to fix it?

[2020-11-05 13:36] FerenczD commented on #42009
@njeffrie @eliethesaiyan I apologize forgot this issue was still open. I did solve the problem. It was coming from the creation of my model.

Originally I had 4 layers - 1 input, 1 output and 2 hidden layers with 32 and 20 nodes. Values for the hidden layers were picked randomly, to be honest.

However, I changed the nodes of the hidden layer to be 16 and 8 for some reason it started to work on th

[2020-11-05 13:36] #42009 closed

[2020-11-05 13:39] lgeiger opened #44613 "[TF 2.4] KerasTensor breaks typing compatibility"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.4.0-rc0 and tf-nightly
- Python version: 3.8

## The Problem
Since version 2.4 functional Keras models use `Ke

[2020-11-05 13:40] amahendrakar commented on #44591
@nityansuman,
On subclassing the Model, I am facing an error stating `TypeError: __init__() missing 1 required positional argument: 'targets'`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/595a785eec860a3211cf1b1d8c56112e/44591.ipynb).

Could you please provide the complete code to reproduce the issue reported here? Thanks!

[2020-11-05 13:43] amahendrakar commented on #44596
@fanto88,
Is this still an issue? Please feel free to close the issue if resolved. Thanks!

[2020-11-05 13:43] q-55555 commented on #41855
@omalleyt12, I think your commit https://github.com/tensorflow/tensorflow/commit/69565ec4003902794bc94e10ba5fe9469a0b3ae4 is creating this issue. When calling self._init_batch_counters() function in tensorflow/python/keras/engine/training.py, we get the following error:

"tensorflow.python.framework.errors_impl.InvalidArgumentError: assertion failed: [0] [Op:Assert] name: EagerVariableNameReuse".

[2020-11-05 13:45] amahendrakar commented on #44599
@happychriss,
In order to expedite the trouble-shooting process, please fill in the issue template and provide the complete code to reproduce the issue you are facing. Thanks!

[2020-11-05 13:53] marcohuber opened #44614 "Different behavior of model.predict and .call if training=True at dropout layer with pre-set seed"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-11-05 13:56] H-111-di opened #44615 "Could not find a version that satisfies the requirement tensorflow (from versions: none)"
System information

* OS Platform and Distribution: masOS Big Sur
* TensorFlow installed from (source or binary): binary
* TensorFlow version: none
* Python version: 3.8.2
* Installed using virtualenv? pip? conda?: virtualenv + pip

Describe the problem
Could not find a version that satisfies the requirement tensorflow (from versions: none)

Provide the exact sequence of commands / steps that you

[2020-11-05 14:00] #28470 closed

[2020-11-05 14:00] byronyi commented on #28470
The nGraph build option seems to be removed and migrated to a separate package. Closing for now.

[2020-11-05 14:01] H-111-di commented on #44615
I was able to install and run Tensorflow before I upgrade to Big Sur.
Then I installed the beta version, the environment still exist but it just can't run any thing so I tried reinstalled the whole thing again.(Though later I noticed the installation renewed the PATH setting, I had already uninstalled Tensorflow.)
Then this error occurred.

[2020-11-05 14:17] hsheimbuch opened #44616 "Plans to release 2.4.0 as a stable release?"
Hello, I was just wondering if a date when 2.4.0 will be released as a stable version is currently available?

[2020-11-05 14:34] #44217 closed

[2020-11-05 14:34] #44224 closed

[2020-11-05 14:54] amahendrakar commented on #44602
@sairmreddy,
Could you please specify if you're trying to build the [Python TensorFlow package](https://www.tensorflow.org/install/source) or the [TensorFlow C API](https://www.tensorflow.org/install/lang_c)?

Please check the linked guides for the respective instructions and let us know if you are still facing the same error. Thanks!

[2020-11-05 15:00] subhamkedia799 commented on #41803
build using numpy 1.19 also possible by following the solution in [](https://github.com/tensorflow/tensorflow/issues/41086)

[2020-11-05 15:09] Bio-reactor commented on #44422
@ravikyram yes I am following the same tutorial. I have placed my tflite file and labelmap under assests folder to get that working. I am attaching the same here. App is actually working now. But doesn't detect anything. It throws the following exception:

2020-11-05 20:35:21.492 30081-30081/org.tensorflow.lite.examples.detection E/tensorflow: CameraActivity: Exception!
    java.lang.IllegalStateE

[2020-11-05 15:09] saikumarchalla commented on #43851
@eypros  Currently we are not making any improvements  for TF 1.x and hence we suggest users to use TF 2.x  version.

Closing this issue since it was resolved for you.Thanks!

[2020-11-05 15:09] #43851 closed

[2020-11-05 15:14] saikumarchalla commented on #38463
@w19787 Closing this issue since it was the intended behavior.Thanks!

[2020-11-05 15:14] #38463 closed

[2020-11-05 15:17] grofte commented on #36626
Feature request:
Add a `return_shuffled` argument to the `.cache()` method on the tf.data.Datasets. Whether the dataset is cached in memory or on disk it should be doable to create a pointer index while caching and sample randomly from the index when reading from the cache. Obviously, you can't do that from a TFRecord file ccurrently and implementing it would be so much work. It also makes sense t

[2020-11-05 15:34] #44206 closed

[2020-11-05 15:39] amahendrakar commented on #44595
@arunraja-hub,
In order to reproduce the issue reported here, could you please provide the TensorFlow version, the complete code and the dataset you are using. Thanks!

[2020-11-05 15:42] amahendrakar commented on #44598
@prokotg,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the dataset you are using. Thanks!

[2020-11-05 15:49] spindensity opened #44622 "Tensorflow 2.3.1 is not compatible with cuda 10.2 on Windows"
**System information**

- OS Platform: Windows 20H2 19042.572 64bit;
- TensorFlow installed from (source or binary): source;
- TensorFlow version: 2.3.1;
- Python version: 3.8.6 64bit;
- Bazel version (if compiling from source): 3.1.0;
- Compiler version: MSVC 2019 16.7.7
- CUDA/cuDNN version: CUDA 10.2 with cuDNN 7.6.5.

**Describe the problem**

Build failed with cuda support:

**Any other info

[2020-11-05 15:50] ZakharovDenis commented on #44552
Hello @Saduf2019 . You have to upload model to colab storage to run the code. Download link provided in `download_models.txt` file. I can't put models to the zip file due to github file size limit.
I updated a `reproduce.zip` to run opencv segmentation from python, not from c++.

[2020-11-05 15:57] mmace-ls commented on #40070
@YokoHono the only way I have been able to get it to work is by including the weights in a TF dataset with the input and labels.

[2020-11-05 15:59] peter197321 opened #44623 "TensorFlow 2.4 & roadmap"
Hello,

It's been released ver. 2.4-rc0 of TensorFlow, can we expect ver.2.4.x this year?

Thank you.

[2020-11-05 16:01] TobiasGruening opened #44624 "cuDNN LSTMs not utilized after loading a model using `tf.saved_model.load`"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 16.04**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below):

[2020-11-05 16:05] somyamohanty opened #44625 "TFLite quantization aware converter - 'std.constant' op requires attribute's type ('tensor<1x64xf32>') to match op's return type"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): Source
- TensorFlow version (or github SHA if from source): 2.3.0

**Command used to run the converter or code if you’re using the Python API**
https://github.com/UNCG-DAISY/TinyDuneCollision/blob/master/src/TinyML_End_to_End.ipynb

See Quantization a

[2020-11-05 16:33] astirn commented on #37337
I don't think I can since I am not OP.

[2020-11-05 16:42] Harsh188 commented on #43294
@peter197321 [Tools for Evaluation](https://www.tensorflow.org/lite/performance/delegates#tools_for_evaluation) was added recently which provides a great explanation of the evaluation tools.

[2020-11-05 16:47] ravikyram commented on #44615
@H-111-di

Please, refer similar issue #39130
Please, uninstall everything and then install in new environment.

[code]

TensorFlow 2 packages require a pip version >19.0. Could you please upgrade pip using the below command and let us know if it works.

pip install --upgrade pip.

For more information please check this [TensorFlow guide](https://www.tensorflow.org/install#download-a-package). Tha

[2020-11-05 17:07] amitport commented on #41855
this was resolved for me after upgrading to CUDA/cuDNN: 11.1 (using `tensorflow@2.4-rc0`)

(though there were a few other less critical issues
https://github.com/tensorflow/tensorflow/issues/44192
https://github.com/tensorflow/tensorflow/issues/44381
)

[2020-11-05 17:10] Flamefire opened #44626 "ambiguous template instantiation error with Eigen code"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL 7.7
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.4-rc0
- Bazel version (if compiling from source): 3.4.1

**Describe the problem**

2.4 introduces a regression in the compilation fails on POWER systems with "ambiguous template instantiation".
The reason is that TF adds specializ

[2020-11-05 17:11] jhl13 commented on #44214
Same question!

[2020-11-05 17:14] jdduke commented on #44511
It depends on how frequently you need to run inference, and how sensitive you are to startup latency. There is a cost to constructing a new interpreter for each inference (often depending on the model size), which you should try measuring. If you destroy the model and interpreter, that will free up the memory, but if loading the model and interpreter is expensive, that may not be a desirable trade

[2020-11-05 17:14] #44511 closed

[2020-11-05 17:14] jdduke commented on #44511
This can free up memory, but you'll need to call AllocateTensors() again before you run inference, which again could have a non-trivial cost (which you'll want to measure).

[2020-11-05 17:18] jdduke commented on #44520
@terryheo @abattery can you take a look? I wonder if this is an issue with state (or tensor buffers?) not being properly reset.

[2020-11-05 17:20] gowthamkpr commented on #44409
@ofiryaish Did you post this question in stackoverflow? Thanks!

[2020-11-05 17:20] jdduke commented on #44357
There is no way to do this currently. Do you not have access to the original source TensorFlow graph?

[2020-11-05 17:21] gowthamkpr commented on #44359
@akorneychuk Please go through the above comment where the implementation is shown clearly. Thanks!

[2020-11-05 17:25] amahendrakar commented on #44601
@nistarlwc,
TensorFlow 1.x is not actively supported. Could you please upgrade TensorFlow to v2.3 and check if you are facing the same issue? Thanks!

[2020-11-05 17:27] cookingbear commented on #44543
I just found that the error is related with LayerNormalization. If I replace it with BatchNormalization, it can run successfully. But in my code, LayerNormalization is necessary. Although I can convert the code to the tflite model, it still show the error during inference using c++

[2020-11-05 17:32] #44261 closed

[2020-11-05 17:32] advaitjain commented on #44261
We are no longer patching CMSIS with #44406

[2020-11-05 17:36] gowthamkpr commented on #44083
@NiksanJP Please post your issue [here](https://github.com/google-research/bert/issues) as this issue is related to Bert. Also please post this issue in stackoverflow as I think this might be a user generated issue. Thanks!

[2020-11-05 17:37] jvishnuvardhan commented on #44545
@oXwvdrbbj8S4wo9k8lSN May be there was a bug in `TF2.3` but I just checked with most recent `tf-nightly` and `!pip install tensorflow==2.4.0rc0` and both showed different results for `custom_loss` and `val_loss`.

Please use recent TF versions. In near future there will be stable `TF2.4` which works better than `TF2.3`.

I am closing this issue as this was resolved in recent versions. If you see t

[2020-11-05 17:37] #44545 closed

[2020-11-05 17:42] mihaimaruseac commented on #44613
@tomerk can you take a look please?

[2020-11-05 17:43] amahendrakar commented on #44622
@spindensity,
Could you please provide the exact sequence of commands / steps that you executed before running into the problem.

Also, check if you are facing the same issue with CUDA 10.1 as well? Thanks!

[2020-11-05 17:43] mihaimaruseac commented on #44192
32f35aabce2b9c65d5244a8edf5904f367f28296 is indeed the culprit and fix is in progress

[2020-11-05 17:56] #42094 closed

[2020-11-05 17:57] amahendrakar commented on #44625
@somyamohanty,
On running the code, I am facing an error stating `FileNotFoundError: [Errno 2] No such file or directory: '../data/CollisionData/'`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/be7f7ad79baad2a33e7f290349ecae5b/44625.ipynb).

In order to expedite the trouble-shooting process, could you please provide all the supporting files required to run

[2020-11-05 17:59] stephanwlee commented on #43456
Projector already provide facilities to "upload" TSV to the web UI <https://projector.tensorflow.org/>.

The "load" button here:
![image](https://user-images.githubusercontent.com/2547313/98278454-77560100-1f4d-11eb-8c5b-5f9b83c1e69e.png)

Do you need to programmatically load the data?

[2020-11-05 18:05] spindensity commented on #44622
@amahendrakar

Thanks.

As the above source code referred (`tensorflow/core/kernels/cuda_sparse.h`, line 38-42), TensorFlow does NOT use these symbols at all when building with CUDA 10.1:

[code]

So CUDA 10.1 is OK and I have built TensorFlow 2.3.1 with it (CUDA 10.1) successfully:

The problem is these symbols are NEVER defined in CUDA 10.2 `cusparse.h` when the compilation target is x64 on Wind

[2020-11-05 18:20] advaitjain opened #44628 "Move EthosU custom op out of AllOpsResolver"
@tensorflow/micro

The EthosU custom op https://github.com/tensorflow/tensorflow/blob/33dbf934d3758dfee07c0b5f6f4a6a00939b1b42/tensorflow/lite/micro/all_ops_resolver.cc#L86-L92

should ideally only be used for EthosU applications and not be part of the AllOpsResolver.

Creating this issue to figure out how we might achieve that.

[2020-11-05 18:21] advaitjain commented on #44628
This came up during the review of #43566

tagging @mansnils @freddan80

[2020-11-05 18:23] jhandsel commented on #31173
I would also like this feature reinstated.

[2020-11-05 18:29] peter197321 commented on #43294
Thank you @Harsh188

[2020-11-05 18:39] fchollet commented on #44021
Hi there,

The output in eager and graph appears to be the same -- the issue is with the code you use to check the difference.

[code]

You are using `SyncBatchNormalization` in your model, which would introduce potential differences (hence triggering your check).

[2020-11-05 18:45] mihaimaruseac commented on #44622
Can you send a patch to master please and then a cherrypick to r2.3?

CC @sanjoy

[2020-11-05 18:47] mihaimaruseac commented on #44623
Most likely yes.

[2020-11-05 18:49] mihaimaruseac commented on #44616
As in every other release, we try to have at least 2 RCs before the final release. Each RC is triggered at least a week from the previous one.

[2020-11-05 18:51] mihaimaruseac commented on #44400
Duplicate of #44485 (assuming you meant/use Python 3.9)

Not that pycharm still downloads stuff locally.

[2020-11-05 18:51] #44400 closed

[2020-11-05 18:54] mihaimaruseac commented on #44546
1.13 is too old. I'd suggest starting a new virtual environment and installing at least 1.15.

[2020-11-05 19:04] srjoglekar246 commented on #44554
Can you share the labels file you are using to test the second model. One thing that causes issues is that the first label from COCO's list is a 'null' one, so you might just need to add a dummy label on the first line in your labels file.

[2020-11-05 19:17] seanpmorgan commented on #44613
cc @mdanatg per discussion in SIG Addons meeting

[2020-11-05 19:27] somyamohanty commented on #44625
The data is a set of large images which cannot be uploaded to Github. Do you suggest some other way of providing it.

[2020-11-05 19:29] somyamohanty commented on #44625
Sorry for the inability to provide the raw data. I have changed the repository and the code to utilize publicly available dataset instead. Should be able to run now. But the issue still persists.

[2020-11-05 19:49] pawarrick commented on #41810
I don't see mention of this issue in the 2.4.0-rc0 release notes

[2020-11-05 20:25] tjdurant opened #44630 "tf-nightly container has CUDA error on 'docker run'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04.6 LTS
- TensorFlo

[2020-11-05 20:39] goldiegadde commented on #44563
@drasmuss thanks for filing the issue, is there a reason that you disable eager execution ?

[2020-11-05 20:41] CoreyCole commented on #35689
@llschloesser @jdduke do you have any advice on how I can register the RandomStandardNormal custom operator prototype in the C api? It was implemented in 2.4.0-rc0

https://github.com/tensorflow/tensorflow/commit/11823c6179a5e2ca6ac4f8480aa00c42c772885e#

I'm not sure how to use it because the registration is defined in a C++ namespace and I don't know how to use `tflite::ops::custom::Register_RAN

[2020-11-05 20:47] drasmuss commented on #44563
I have found that using the old training_v1 Keras implementation (which is what you get when disabling eager execution) is still faster for some models.

[2020-11-05 20:49] charlet-antoine opened #44631 "TypeError: An op outside of the function building code is being passed"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution: MacOs Catalina 10.15
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from: pip
- TensorFlow version: v2.3.0-54-gfcc4b966f1 2.3.1
- Python version: 3.7.7

**Describe the current

[2020-11-05 20:49] abattery commented on #44520
@jaeyoo Could you take a look? FYI, the issue is related to the fastspeech model.

@cookingbear is this issue happening only with the tf nightly version or is it happening with the tf 2.3 and tf 2.4 versions as well?

[2020-11-05 20:53] abattery commented on #44576
Sorry for encountering this issue. Currently, TFLite does not support mutable variable support.

You might want to mimic the behavior with tf.Concat or other similar operation as a workaround.

[2020-11-05 20:55] gdrolet commented on #44159
@Akhilesh64 DLL is here until 11/12/2020:
https://transfert.mffp.gouv.qc.ca/?ShareToken=790B76CF0EBA6B094F39CF985247901B63D4AD19

[2020-11-05 20:58] Akhilesh64 commented on #44159
@gdrolet You're a lifesaver thanks.

[2020-11-05 21:25] aaudiber commented on #44565
@amirhmk Each component of the argument passed to `Dataset.from_tensors` or `Dataset.from_tensor_slices` must be convertible to a single object representable by a `tf.TypeSpec`. `list(SparseTensor)` doesn't satisfy this. There are a couple ways to make it work:

1. Define a single sparse tensor and take slices out of it:
[code]

2. Produce sparse tensors using Dataset.from_generator:
[code]

[2020-11-05 21:29] mdanatg commented on #44059
The functions passed to APIs like `Dataset.map` operate in graph mode (it's as if you decorated `augment` with `@tf.function`). In graph mode, you can typically only convert NumPy arrays to Tenors, not vice-versa.

There are a couple of ways to make this work:

 1. if you can write `augmentation` entirely using TF ops, that would be a solution; [tfa.image](https://www.tensorflow.org/addons/api_doc

[2020-11-05 21:36] mdanatg commented on #44059
Side note - `Dataset.map` uses autograph, so you can write the conditionals like so:

[code]

[2020-11-05 21:39] tomerk commented on #44563
Hi @drasmuss can you share what the models are that you've found it's faster for? We want to make sure to fix up any performance regressions like that.

[2020-11-05 21:54] drasmuss commented on #44563
You can see an example here https://github.com/nengo/nengo-dl/blob/master/nengo_dl/tests/test_benchmarks.py#L238, specifically comparing the two test cases
[code]
The second case runs the same benchmark but with
[code]
and it runs about 0.25s (20%) faster.

[2020-11-05 21:55] #44192 closed

[2020-11-05 22:13] drasmuss commented on #44563
Here is a Colab gist demonstrating the same thing if that helps https://colab.research.google.com/gist/drasmuss/45826df4e27dc6a21be961690d2a043f/performance-demo.ipynb

[2020-11-05 22:17] houseofai commented on #44560
After a deeper analysis, I was able to see that the scheduler was called

[2020-11-05 22:17] #44560 closed

[2020-11-05 23:10] hatooku commented on #36391
Also seeing this, I think my issue is related to embedding layers as @xixiddd mentioned. Is there any plan for adding support for embedding related ops?

[2020-11-05 23:29] ckkuang commented on #44518
This is (unfortunately) due to some historical constraints that optimizer slot variables are not immediately created in `load_weights` when a strategy is effective. This [comment](https://github.com/tensorflow/tensorflow/blob/bc01b08d2480fe25dec20dd8f307c4b8c1f1478b/tensorflow/python/keras/optimizer_v2/optimizer_v2.py#L1308) sheds some details. This won't affect correctness as the slot variables w

[2020-11-05 23:32] devtronslab opened #44637 "False out of resource error for multi-gpu machine"
Tensorflow 2.3.1 on Nvidia Docker image `tensorflow/tensorflow:latest-gpu-jupyter`

I can train an LSTM in a Jupyter notebook using 2-out-of-4 of my GPUs, but when I increase to 4 I get the following NCCL error:

[code]

Looking at the NCCL_DEBUG logs, I find an out of memory error:

![image](https://user-images.githubusercontent.com/3875113/98307202-17298400-1f7a-11eb-9e2d-0bcbf88aa36f.png)

But

[2020-11-05 23:42] kolian1 opened #44638 "cv2.cuda_GpuMat <-> TensorFlow vector / TensorFlow NumPy"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): TF  2.3
- Are you willing to contribute it (Yes/No): Yes

[2020-11-05 23:42] aleczoeller commented on #38589
Had the same issue in Tensorflow 2.3, resolved with changing _TENSOR_LIKE_TYPES to core_tf_types.Tensor from that same line in ops.py

[2020-11-05 23:56] H-111-di commented on #44615
Well, It didn't make any changes.

[code]
[code]

And I'm not running on a 32bit python
[code]

Also I can't install it through wheel files.
[code]

[2020-11-05 23:58] jvishnuvardhan commented on #33906
I am closing this issue as I think this issue was resolved. There is another `sample configuration` with newer versions in the build-from-source for linux/MacOS [page](https://www.tensorflow.org/install/source). Thanks!

[2020-11-05 23:58] #33906 closed

[2020-11-06 00:00] jvishnuvardhan commented on #44460
I am closing this issue as this was resolved. Please feel free to open a new issue if you face any bug/performance related issue. Thanks!

[2020-11-06 00:00] #44460 closed

[2020-11-06 00:38] H-111-di commented on #44615
Ummm, I tried the homebrew install version(both 3.7.9 and 3.8.6) and it works fine... But the requirements system in the homebrew seems to be something hardcoded and you can't upgrade anything it included...
So it seems like Apple had done something to their new system or the preinstalled python3.8 and that didn't meet the requirements of Tensorflow.

[2020-11-06 00:41] cookingbear commented on #44520
because the model contains 'embedding' and 'dynamic size' and other 'special' layers, it can not be converted to the tflite model successfully in the tf2.3 or tf2.4 version.  so I only tried the tf nightly version.

[2020-11-06 01:12] Abdulazizbek commented on #36805
Thank you

[2020-11-06 01:12] #36805 closed

[2020-11-06 01:34] #43728 closed

[2020-11-06 02:03] youngelf commented on #34135
Thanks, namburger. I flashed it last weekend, here we go:

$ cat /etc/os-release
PRETTY_NAME="Mendel GNU/Linux 5 (Eagle)"
NAME="Mendel GNU/Linux"
ID=mendel
ID_LIKE=debian
HOME_URL="https://coral.ai/"
SUPPORT_URL="https://coral.ai/"
BUG_REPORT_URL="https://coral.ai/"
VERSION_CODENAME="eagle"

$ dpkg -l |grep edgetpu
ii  edgetpu-examples                     14.1                                all

[2020-11-06 02:10] tricoffee commented on #44293
It doesn't work

[2020-11-06 02:26] #44577 closed

[2020-11-06 02:28] snnn commented on #40108
If python 3.7 works but python 3.8 doesn't, please read:

https://github.com/python/cpython/commit/2438cdf0e932a341c7613bf4323d06b91ae9f1f1
https://bugs.python.org/issue36085

Maybe they are relevant.

To verify it, you may use WinDBG and turn on loadsnap debugging , it will show which dir it searched.

[2020-11-06 02:54] ravikyram commented on #44623
@peter197321

Please, close this thread as your question has been answered. Thanks!

[2020-11-06 02:57] ymodak commented on #44608
Thanks for the issue. The docs are now updated.

[2020-11-06 02:57] #44608 closed

[2020-11-06 03:25] jiaqinglin opened #44640 "tf.keras.experimental.WideDeepModel can not accept two tf.keras.Model as input?"
tf.keras.experimental.WideDeepModel claims:

`tf.keras.experimental.WideDeepModel(linear_model, dnn_model, activation=None, **kwargs)`
Args:
linear_mode | a premade LinearModel, its output must match the output of the dnn model.
dnn_model   | a tf.keras.Model, its output must match the output of the linear model.
activation     | Activation function. Set it to None to maintain a linear activation.

[2020-11-06 04:17] Namburger commented on #34135
@youngelf does
ls /dev/apex_0
shows anything?

[2020-11-06 04:22] je-santos commented on #44604
Hi @ravikyram . I re-installed my TF and now it works. Thanks for the quick response to the issue.

[2020-11-06 04:22] #44604 closed

[2020-11-06 04:30] jiaqinglin commented on #44640
when i used this tf.data.Dataset as follows:
[code]
This model can work.

If i tried to remove `wd_out = layers.Dense(1,act='sigmoid',name='label')(wd)` the name argument,  it did not work.
So i guss that my problem may caused by 'label' tag.

[2020-11-06 04:32] jiaqinglin commented on #44640
@tanzhenyu Thx

[2020-11-06 04:41] youngelf commented on #34135
Nope, nothing.

[code]

Nothing called apex.

[2020-11-06 04:41] tanzhenyu commented on #44640
It sounds like this is a user code issue and we're safe to close it?

[2020-11-06 04:47] teijeong commented on #44612
Hi @Demin92,

The delay is expected to compile GPU shader, especially when your model is big. :( Preparing the interpreter while the app starts, and using it later would make the delay much less visible to the user.

@srjoglekar246 can you add some points?

[2020-11-06 04:53] KodeWorker commented on #44569
** Quick update **
I build Tensorflow using MSYS Shell, and result is the same:
<code> ERROR: D:/kelvinwu/code/tensorflow/tensorflow/lite/python/optimize/BUILD:29:1: Linking of rule '//tensorflow/lite/python/optimize:_tensorflow_lite_wrap_calibration_wrapper.so' failed (Exit 1120) </code>

[2020-11-06 05:19] daspranab opened #44641 "Tensorflow 2+ framework class exception"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2020-11-06 05:25] djshen commented on #40122
@NeoZhangJianyu

I compiled TF v2.4.0-rc0 from source with `--config=mkl` and confirmed that the result is correct.

[2020-11-06 05:29] HuaMuLanChina commented on #44576
... I see.

[2020-11-06 05:29] #44576 closed

[2020-11-06 05:51] Thunder003 commented on #44574
@amahendrakar let me rephrase my issue. When building Tensorflow 2 from source with CUDA 11.1, CUDNN 8.0.4, what TensorFlow 2.x checks at this stage( Configuration step) **inside the CUDNN file** which helps it recognize the CUDNN version. I have verified that there is no such issue with T.F. 2.3, CUDA 11.1, and CUDNN 8.0.4
I know the original issue is due to incompatible, but can you please give

[2020-11-06 06:03] ravikyram commented on #44640
@jiaqinglin

Is this still an issue?Please, close this thread if your issue was resolved. Thanks!

[2020-11-06 06:20] karbapi commented on #39442
Hi,
You may try this, after model.predict() call,
keras.backend.clear_session()

Sorry for my late reply.

Regards,
Bapi

[2020-11-06 06:28] ravikyram commented on #44631
@charlet-antoine

Please, provide colab link or simple standalone code snippet with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster. Thanks!

[2020-11-06 06:42] KodeWorker commented on #44569
**Quick update**
I found that MSYS2 packages (git patch unzip) were not installed!
<code>pacman -S git patch unzip</code> command is not working properly which causes the fetch errors stated in step 4.
I finally install the packages by downloading the binary files in MSYS2 [website](https://packages.msys2.org/updates) and manually copy to msys64 folder.
For now, it's compiling without additional m

[2020-11-06 07:21] freddan80 commented on #44628
Thx, we'll have a look at this.

[2020-11-06 07:25] ravikyram commented on #44615
@H-111-di

Could you please install python 3.8 from https://www.python.org/downloads/mac-osx/ and see if the issue still persists.Thanks!

[2020-11-06 07:28] Light-Reflection commented on #37153
hi, i confont this problem again!
And i take 2 days to fix it...it's terribly.

And the finally method is you should **_reshape_** all variabale about placeholder, like **tf.reshape gamma beta mean var input** ....

[2020-11-06 07:45] Bio-reactor commented on #44422
I got it fixed. My app is working. Thank you.

[2020-11-06 08:08] amitport opened #44642 "test with random fail on graph mode"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-11-06 09:10] ravikyram commented on #44422
@Bio-reactor

Please, close this thread if your issue was resolved.Thanks!

[2020-11-06 09:22] LucasStromberg commented on #44554
I'm using the same labels as for the original model.
[labelmap.txt](https://github.com/tensorflow/tensorflow/files/5500276/labelmap.txt)

But I believe I figured out a solution by following the recently solved topic I linked above:
https://github.com/tensorflow/tensorflow/issues/44431

I changed the mean and standard deviation for the model in the **TFLiteObjectDetectionAPIModel.java** file to:

`

[2020-11-06 09:41] asimeonovMLPS commented on #44192
Error persist in version 2.5.0-dev20201105.

[2020-11-06 10:07] albertz commented on #42035
@gowthamkpr Yes, nothing has changed.

(For myself: This is my Python 3.8 env + TF 2.3 installation, where it happens: `/work/tools/asr/python/3.8.0_tf_2.3-v1-generic+cuda10.1/bin/python3`)

[2020-11-06 10:09] guomingjin commented on #44192
It seems like a bug in the recent tf-nightly version, The bug will be gone with version 2.4.0.dev20200901.

[2020-11-06 10:13] freddan80 commented on #44455
Can be closed now

[2020-11-06 10:14] Saduf2019 commented on #44641
@daspranab
We see that you rae using cuda 11, If you want CUDA 11 you can use nightly version, and let us know if the issue exist.
Also please refer to these links with similar error and let us know if it helps:
[link](https://github.com/tensorflow/tensorflow/issues/30120), [link1](https://stackoverflow.com/questions/55161550/valuerror-attemp-to-convert-a-value-type-model-to-a-tensor)

[2020-11-06 10:21] mansnils commented on #44170
@advaitjain It seems GCC7 does not add FP capabilities to CPU, not by default nor can you use extensions. Our goal is to update GCC to version x.y.z once we have verified it to be working.

[2020-11-06 10:24] Saduf2019 commented on #44538
I am able to replicate the issue faced, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/dee1694852cf01f77a51df342a1964d0/untitled458.ipynb)

[2020-11-06 10:32] Saduf2019 commented on #44556
@swertz
I do not have access to the above link.

[2020-11-06 10:34] #44078 closed

[2020-11-06 10:35] swertz commented on #44556
Sorry! Should be fine now...

[2020-11-06 10:51] tail-island opened #44644 "tf.keras.models.load_model fails if tf.linalg.band_part is used."
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Arch Linux (5.9.4-arch1-1)
- TensorFlow installed from: binary
- TensorFlow version: 2.3.1
- Python version: 3.8.6
- CUDA/cuDNN version: 11.1/8.0.4
- GPU model and memory: NVIDIA GeForce GTX 1080 Ti/10.91GiB

**Describe the current behavior**
`tf.keras.models.load_model` fails when `tf.linalg.band_part` is use

[2020-11-06 10:59] charlet-antoine commented on #44631
@ravikyram
Hi there, you can git clone the mini project on your local:
https://github.com/charlet-antoine/tensorflow-serving-exemple.git

[2020-11-06 11:30] ravikyram commented on #44644
The issue is resolved in TF 2.4-rc0 version.I have tried in colab with TF 2.4-rc0 and i am not seeing any issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/895d7ea9e27adcce336e891a746964ff/untitled491.ipynb).Please, verify once and close the issue. Thanks!

[2020-11-06 11:33] Namburger commented on #34135
@youngelf apex is literally how the software interact with the edgetpu lol
Could you ping us an email to coral-support@google.com?
Looks like some how the edgetpu completely disappear from the board, we can issue a replacement

[2020-11-06 11:34] tail-island commented on #44644
Thanks. And sorry I forgot to check latest version...

[2020-11-06 11:34] #44644 closed

[2020-11-06 11:35] NaghmehShahverdi opened #44645 "AttributeError: 'tensorflow.python.framework.ops.EagerTensor' object has no attribute 'swapaxes'"
I am building a CNN model. model compile fine but when i fit the model it does not work: The code fine in my jupyttor but not in kaggle
#metric

[code]
nknownError: AttributeError: 'tensorflow.python.framework.ops.EagerTensor' object has no attribute 'swapaxes'
Traceback (most recent call last):

  File "/opt/conda/lib/python3.7/site-packages/tensorflow/python/ops/script_ops.py", line 242, in __ca

[2020-11-06 12:26] jplu opened #44646 "Bug when a custom tf.keras.models.Model has multiple class inheritance"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows and Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.3
- Python version: conda env with Python 3.7.9
- CUDA/cuDNN version: 10.1
- GPU model an

[2020-11-06 12:29] carmilso commented on #38518
Same problem here with TF 2.3.1:

[code]

[2020-11-06 12:42] #39572 closed

[2020-11-06 12:51] AndreyKorney commented on #44359
@gowthamkpr
Frankly speaking I didn't got your point. Which particular comment should I follow to check the clear implementation?
Perhaps I have missed something. I you meant the original gist https://colab.research.google.com/gist/amahendrakar/98d2d829ee3eac8c1119e501e738c86a/44359.ipynb
it still fails with the same error.
Thanks in advance!

[2020-11-06 12:57] ImJustError opened #44647 "Python/Django"
I just wanted to make a new application on Django. There were no problems during installation. But when I decided to create a new project, I received an unknown error. I didn’t find a solution in google. Here is what I wrote:

_django-admin startproject mysite_

This is what it gave me:

 _Traceback (most recent call last):
  File "c:\users\danii\appdata\local\programs\python\python38-32\lib\runpy

[2020-11-06 13:23] gitlabspy commented on #35346
Any solution now?

[2020-11-06 13:27] moha23 opened #44649 "ValueError: All inputs to `ConcreteFunction`s must be Tensors"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): linux 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.1.2
- Python

[2020-11-06 13:29] fridex opened #44650 "A listing of API symbols exported and supported in a machine readable form"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs

## Description of issue (what needs changing):

### Clear description

I would like to know if there is a listing of API symbols available and exported in a release (public API), I'm interested in Python code specifically. I see docs on the main page, but I would like to access symbols exported per release in a machine-readable form (

[2020-11-06 13:42] hugoych commented on #44021
Hi,
Thanks for the answer! I'm sorry I had changed the colab without noticing. My issue was when `training=True`.
You are right, this difference only occurs when using `tf.keras.layers.experimental.SyncBatchNormalization`.

Do you have a idea why it is the case ? Especially here, we aren't using any distribution strategy so the layer should behave as a `tf.keras.layers.BatchNormalization` no ? The

[2020-11-06 13:52] amahendrakar commented on #44611
@ysyyork,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the dataset you are using. Thanks!

[2020-11-06 13:57] hesiqi1998 commented on #34727
I have the same error, tensorflow version is 2.3.0, python 3.7, is it because of the version problem?

[2020-11-06 13:58] Saduf2019 commented on #44226
@sayan1999
Sorry for the delayed response, Could you please create a new issue for the information requested as i did look it up in [this link](https://www.tensorflow.org/install/lang_go) and dint find anything.

[2020-11-06 13:59] justeph opened #44651 "Tensorflow lite Makefile: add support of gpu"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):  2.3
- Are you willing to contribute it (Yes/No): Yes

**D

[2020-11-06 14:05] amahendrakar commented on #44614
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/e752bda68103226a37c72fce2e2379bc/44614.ipynb). Thanks!

[2020-11-06 14:12] ElhamSol commented on #44389
I did but for some reason it wasn't finding it anyway.

I reinstalled ubuntu, cuda 10.1 and everything and this time pip install tensorflow =2.3.0 worked.
I might have missed a step last time.

[2020-11-06 14:22] Aksh-kumar commented on #44557
It's been 2 days any progress guys....

[2020-11-06 14:52] archie94 opened #44659 "Fatal Exception: java.lang.IllegalArgumentException: Internal error: Failed to run on the given Interpreter: OpenCL library not loaded - dlopen failed: library "libOpenCL-pixel.so" not found"
**System information**

- Mobile device (vivo 1904, Pixel 2, etc),
- tenserflow lite
- build.gradle

[code]

**Describe the current behavior**
Exception is thrown on invoking `Interpreter.runForMultipleInputsOutputs()` on the model collected from https://storage.googleapis.com/download.tensorflow.org/models/tflite/posenet_mobilenet_v1_100_257x257_multi_kpt_stripped.tflite

**Describe the expected

[2020-11-06 14:52] youngelf commented on #34135
Super, thanks. Will do.

[2020-11-06 14:57] ramanps05 commented on #44606
Hi @jvishnuvardhan, could you please provide any insights or workaround to this problem.

[2020-11-06 15:02] Saduf2019 commented on #44624
@TobiasGruening
I ran the code shared, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/6595185b4ca9dab658afb14d74b09eb9/untitled458.ipynb) as i see a different issue

[2020-11-06 15:03] Saduf2019 commented on #44567
@anisoulk
Please try them and let us know.

[2020-11-06 15:14] amahendrakar commented on #44630
@tjdurant,
The latest TF-nightly release required CUDA 11 and cuDNN 8.

Could you please specify the CUDA and cuDNN version installed on your machine and check if you are facing the same error with CUDA 11 and cuDNN 8 as well? Thanks!

[2020-11-06 15:18] sorushsaghari commented on #25254
[code]
What's the problem with this code that skips all epochs greater than 1?

[2020-11-06 15:22] tjdurant commented on #44630
@amahendrakar , i'm sorry because I may have had a knowledge gap on this one. Is the CUDA version you're looking for the version on the local machine or in the Docker container? Or both?

[2020-11-06 15:36] amahendrakar commented on #44642
Was able to reproduce the issue with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/905b70e15ffb5cfc8ea2d81d35f0cad9/44642-2-3.ipynb#scrollTo=NpVjmosnL7hg), [TF v2.4.0rc0](https://colab.research.google.com/gist/amahendrakar/e72ce48377783ee0f30debcb5a0b4525/44642-2-4.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/d080f341e52044024ea8c9bfe65d3f6e/44642-tf-

[2020-11-06 15:44] catqaq commented on #34727
You can try to  upgrade tensorflow-dataset or downgrade python. Good luck!

[2020-11-06 15:48] csantosbh commented on #38319
I can also reproduce this issue even when using a custom loss class that inherits from tf.Module.

The [documentation on custom losses](https://keras.io/api/losses/) state the following:

So perhaps it should be updated instead?

[2020-11-06 15:54] Flamefire opened #44654 "Version requirements for Python dependencies too strict"
**System information**
- TensorFlow version (you are using): 2.4.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Up until 2.3.1 the version requirements in the setup.py file where of the form `foo >=x.y` or `foo >=x.y,<z.q`, i.e. there was a minimum and a potential maximum version specified. This allows for TensorFlow to be installed al

[2020-11-06 15:56] Saduf2019 commented on #44553
@raymanfx
Can you not resize to 224, as the image resolution of 32 is too low for that, and try tf.data instead of generator and let us know.
You may refer to this [example](https://sayak.dev/tf.keras/data_augmentation/image/2020/05/10/augmemtation-recipes.html).

[2020-11-06 16:21] Harshit-Kesar opened #44656 "ERROR: Could not find a version that satisfies the requirement tensorflow==2.3 (from versions: none)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2020-11-06 16:21] Harshit-Kesar commented on #44656
![image](https://user-images.githubusercontent.com/42645864/98389553-38719980-207a-11eb-9106-f28b68a41531.png)

Getting error on installing TENSORFLOW

[2020-11-06 16:24] TobiasGruening commented on #44624
Thanks for your time. I have fixed a little error in the code above.
Additionally, I added an assertion, because it is mandatory to run the test on a GPU machine to reproduce the effect.

[2020-11-06 16:32] srjoglekar246 commented on #44554
I see.
Yeah the inference latency is expected. Can you try the [GPU delegate](https://www.tensorflow.org/lite/performance/gpu) for your use-case? We have seen much better latencies with acceleration.

[2020-11-06 17:05] #44455 closed

[2020-11-06 17:06] MaxHeuillet opened #44657 "InvalidArgumentError: Cannot convert a Tensor of dtype resource to a NumPy array."
**System information**

- Linux Ubuntu 16.04
- TensorFlow 2.2
- Python 3

**Describe the current behavior**
[code]

**Describe the expected behavior**

I would like to define an Input vector of indices that I can use whether in a tf.ebedding_lookup or a tf.gather
It used to work in TF1 with placeholders and not anymore.

I don't know how i can Input my index vectors in my model
I know it is possib

[2020-11-06 17:10] TobiasGruening commented on #44624
We also reproduced the behaviour in the nightly build:
[code]
Kind regards,
Tobias

[2020-11-06 17:16] tcervi commented on #41018
Hi @Johnny19-91
I just came across the same build issue you described here. I'm unable to compile my project (linking to built libs) due to several erros on "errors.h" and "status.h" files, mainly related to this first one:
`error: C2039: 'error' is not a member of 'tensorflow'`

Do you mind explaining better how did you manage to get rid of this issue?
I saw your comment about declaring the class

[2020-11-06 17:30] amitport commented on #44642
@amahendrakar thanks for reproducing. I have to ask, what was the `type:bug` label removed? Should this be done differently?

[2020-11-06 17:35] rjurney commented on #33646
I have this problem loading an .h5 model on TF 2.3.0.

[2020-11-06 17:36] zaccharieramzi opened #44658 "tf.linalg.pinv also complex matrices"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.3
- Are you willing to contribute it (Yes/No): Yes

**De

[2020-11-06 17:46] nelsonlin2708968 commented on #43487
Is this open to being coded still?

[2020-11-06 17:49] aaudiber commented on #43487
Yes, contributions are still welcome here

[2020-11-06 18:04] mihaimaruseac commented on #44192
tf_nightly-2.5.0.dev20201106 which was pushed recently should be ok. At least the error no longer shows up on our log.

[2020-11-06 18:20] jvishnuvardhan commented on #34805
@gowthamkpr I am closing this as this was resolved already. Please check the update tested build configs [here](https://www.tensorflow.org/install/source#tested_build_configurations). Thanks!

[2020-11-06 18:20] #34805 closed

[2020-11-06 18:20] ccrusius commented on #37839
Duplicate of #37620

[2020-11-06 18:20] #37839 closed

[2020-11-06 18:35] anisoulk commented on #44567
I did try them, here are the results:
1. Revert to Cuda 10.x : Not Compatible with my GPU (Nvidia RTX 3080)
2. Changed cusolver64_11.dll to cusolver64_10,dll : This indeed removed the error, however it broke every thing for me, I have all kinds of errors every time I try to train models (models that I know work fine from running them before on tf-cpu)

[2020-11-06 18:49] #44160 closed

[2020-11-06 19:03] mdanatg commented on #42475
@TAIYISONG this is an interesting comparison. There are a few things which are probably not obvious, and I think this issue highlights some of them. Let me detail the differences first, and then I'll look into making the necessary modifications so that we can measure the actual performance of tf.function.

First, I should note that `@tf.function` is more similar to TorchScript than it it to PyTorc

[2020-11-06 19:26] zaccharieramzi commented on #44658
So it's possible to define the `pinv` for complex matrices using the same structure as the currently implemented `pinv`, getting rid of the `dtype` checking.

You can check this in [this colab](https://colab.research.google.com/drive/1NlZas6ljrnWw7ye1HhB05WrZdk2XJV2u?usp=sharing), with a test against the `numpy` implementation.
I am not sure it works in all edge cases so I do not guarantee anythin

[2020-11-06 19:36] bigalh94 commented on #37525
Worked for me on Anaconda as well. Big thnx!

[2020-11-06 20:00] jdduke commented on #35689
We're hoping to make the RANDOM_STANDARD_NORML op a builtin op for the next 2.5 release.

[2020-11-06 20:04] CoreyCole commented on #35689
@jdduke would you mind checking this thread on the TFLite mailing list? https://groups.google.com/a/tensorflow.org/g/tflite/c/1zfZtRtVfpY

I feel super close to getting the Register_RANDOM_STANDARD_NORMAL working from the C API, but I'm having trouble exporting the symbol to call it.

[2020-11-06 20:06] nityansuman commented on #44591
@amahendrakar https://colab.research.google.com/gist/amahendrakar/595a785eec860a3211cf1b1d8c56112e/44591.ipynb
Updated the notebook. Please have a look.

_Note: The above error is because summary is only available after model is build. Made changes._

[2020-11-06 20:09] nityansuman commented on #44591
@amahendrakar Updated the code snippet to successfully build model and get summary.

[2020-11-06 20:11] brlambert7818 commented on #42673
@evyasonov TextVectorization still doesn't seem to be working yet with TFLite. Have you received any updates on when it will be supported?

[2020-11-06 20:26] aaronmondal commented on #44192
I just built `master` and the issue did not occur anymore. Thanks for resolving :)

[2020-11-06 20:29] nikitamaia commented on #41042
@hartikainen can you share the code that is resulting in the seg fault?

[2020-11-06 20:33] mdanatg commented on #44613
Indeed, `is_tensor` intentionally diverges from `isinstance(*, tf.Tensor)`, and we ultimately hope to deprecate it. For now, you may use it and we'll support backward compatibility, but we encourage using isinstance whenever possible, so it makes sense to resolve this particular issue.

Option 1 is unfortunately not feasible because the TensorFlow infra does not support subclassing `tf.Tensor`.

T

[2020-11-06 20:34] #44157 closed

[2020-11-06 20:40] CoreyCole opened #44664 "Register Custom Operator Prototypes in TFLite C API"
**System information**
- TensorFlow version (you are using): v2.4.0-rc0
  - TFLite C API on android arm/arm64 JNI
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

I am specifically interested in the RandomStandardNormal operator. It was added as a custom op prototype in v2.4.0-rc0: https://github.com/tensorflow/tensorflow/commit/11823c6179

[2020-11-06 20:47] Ehsan-Yaghoubi commented on #7696
I changed `places2.ckpt-6666.data-00001-of-00002` to `places2.ckpt-6666` and it worked.

[2020-11-06 21:34] CoreyCole commented on #44664
On the TFLite mailing list, @jdduke suggested a temporary workaround:
- add a `extern "C"` wrapper head to `custom_ops_register.h`
[code]
- add a `extern "C"` wrapper implementation to `random_standard_normal.cc`
[code]
- ensure `//tensorflow/lite/kernels:custom_ops` is included as a dependency in `tensorflow/lite/c/BUILD`
[code]
- modify my C++ code to call this new wrapper function
[code]

And i

[2020-11-06 22:13] ccrusius commented on #43800
In the general case I think the answer is "no," as we don't support saving optimizers and their state, for example.

[2020-11-06 22:31] rd16395p commented on #43487
@nelsonlin2708968 I was hoping to work on this soon, if you want to tackle it together. 👍

[2020-11-06 22:57] ISipi commented on #36984
Forking may not work, but importing `from multiprocessing import set_start_method, get_context` and starting with
[code]
worked for me. Sure, this may limit the design of the software a bit, but at least I'm not facing any memory issues after three cross-validation folds and can happily train a six-headed DenseNet beast until eternity.

[2020-11-06 23:08] MCR-Student commented on #44472
I also have the dependency added and am getting this error.

[2020-11-06 23:13] bw4sz commented on #32817
Can anyone confirm what the result of this behavior is? I'm confused whether its a logging error, or whether the final batch does not get train/evaluated. For example, imagine I had 100 samples with a batch size of 52. Would I be training on a batch of 50 and 48 (expected behavior), or would I train on 50 and then just fail to fill the next batch and move to the next epoch? This is especially scar

[2020-11-07 00:11] psalveson opened #44668 "Unable to "import tensorflow" using 2.4.0rc0 from within conda environment"
**System information**
- OS: Ubuntu 20.04
- TensorFlow binary installed using pip
- TensorFlow version 2.4.0rc0
- Python version 3.8.6
- CUDA/cuDNN version: 11.0/8.0.4
- GPU model: GTX 1070

**Describe the current behavior**

Attempting to import tensorflow produces an "Illegal instruction" error.

**Describe the expected behavior**

Import tensorflow without error.

**Standalone code to reproduce

[2020-11-07 00:15] jdduke commented on #44664
Glad to hear it! Like I said, we're hoping to make this a builtin op soon, it'll be in the release notes when that happens. Cheers.

[2020-11-07 00:15] #44664 closed

[2020-11-07 00:31] mehmetalianil commented on #37131
@sanjoy I can confirm that Efficient-Net D1 fails as you indicate in our application code (by that I mean, not a test.)
[code]
till `TRTEngineOp_0_59`

[2020-11-07 01:51] BrunoArsioli commented on #15604
I faced this same error trying to use Thundersvm to speedup NuSVR with GPUs on Google  Colab.
Installing Cuda 9.0 solved the problem to me.
Just follow:

`!wget https://developer.nvidia.com/compute/cuda/9.0/Prod/local_installers/cuda-repo-ubuntu1704-9-0-local_9.0.176-1_amd64-deb`

`!ls  # Check if required cuda 9.0 amd64-deb file is downloaded`

`!dpkg -i cuda-repo-ubuntu1704-9-0-local_9.0.176-1_a

[2020-11-07 02:00] jvishnuvardhan commented on #44543
@cookingbear Please check this [comment](https://github.com/tensorflow/tensorflow/issues/43934#issuecomment-714832778) which is similar to your issue. Also, check [this resource](https://www.tensorflow.org/lite/guide/ops_select) on how to enable `Select_TF_Ops`. Thanks!

[2020-11-07 02:28] amirhmk commented on #44565
@aaudiber Thank you for your comment, that makes sense. I like the first approach, I just have to keep track of the indices that represent each data point after merging them into a single `SparseTensor` which shouldn't be too bad.

As for the second approach, I think `from_generator` accepts `SparseTensorSpec` in the `pre-release` version. Do you know when this will become a `stable` version?

[2020-11-07 02:28] jvishnuvardhan commented on #44378
@Movisoto Can you please share a standalone code? When I ran your gist, it is throwing an error as shown below. Thanks!

[code]

[2020-11-07 02:55] kennysong commented on #29064
FWIW, it looks like the right way to do this is to use [`tape.jacobian`](https://www.tensorflow.org/guide/advanced_autodiff#jacobians) rather than `tape.gradient`.

[2020-11-07 03:48] Harsh188 commented on #43294
I think this issue can be closed.

[2020-11-07 04:59] hesiqi1998 commented on #34727
I tried to make a change and I didn't solve the problem.I downgraded the python version to 3.6 and try to upgrade tensorflow-dataset. And even I changed tensorflow version to 2.1.0
AttributeError: module 'tensorflow_datasets' has no attribute 'load'

[2020-11-07 05:00] aRandomBlock opened #44669 "_pywrap_tensorflow_internal not found"
System information:
- OS: windows 10
- TensorFlow installed from (source or binary):
- TensorFlow version: tensorflow-cpu 2.3.0
- Python version: 3.8.3
- Installed using  pip from https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow_cpu-2.3.0-cp38-cp38-win_amd64.whl

Log:

Traceback (most recent call last):
  File "C:\Users\Hp\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensor

[2020-11-07 06:32] yan12125 commented on #44467
That seems the case. I tried h5py 3.1.0, and the error `AttributeError: 'str' object has no attribute 'decode'` still happens.

[2020-11-07 06:34] #43560 closed

[2020-11-07 07:15] adriangb opened #44670 "BUG: Keras SaveModel does not properly save optimizer state"
This happens at least for Adam (does not apply to SGD for example, did not test with others).

Tested on `tf-nightly` and `tf==2.3.0`.

Please let me know if I am doing something wrong here or missing something.

TL;DR: running a `tf.kerasModel` through `tf.keras.models.load(model.save)` does not properly preserve the state of optimizers.

The [docs](https://www.tensorflow.org/api_docs/python/tf/k

[2020-11-07 07:40] pradyum619 commented on #44429
https://codelabs.developers.google.com/codelabs/digit-classifier-tflite#3

Check the above link, In step number 4, The interpreter is not initialized using the model.
Which is why it is giving NPE on interpreter instance.

[2020-11-07 07:41] king398 opened #44671 "Problem building from source with cuda 11.1"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows 10
- Mobile device (e.g

[2020-11-07 07:43] king398 commented on #44671
log
`.\bazel build --config=opt --config=cuda --define=no_tensorflow_py_deps=true //tensorflow/tools/pip_package:build_pip_package
WARNING: Output user root "C:/Users/pc/_bazel_my new pc" contains a space. This will probably break the build. You should set a different --output_user_root.
WARNING: The following configs were expanded more than once: [cuda, using_cuda]. For repeatable flags, repeats

[2020-11-07 07:51] hartikainen commented on #41042
@nikitamaia this was with the same code as in my first message above.

[2020-11-07 08:11] hartikainen commented on #41042
@nikitamaia I reran the script on my end using the latest `tf-nightly==2.5.0.dev20201106`, and I don't actually see the seg fault anymore. There are a couple of optimization errors and warnings though. Not sure if these are a problem or not:

2020-11-07 08:07:15.257045: E tensorflow/core/grappler/optimizers/meta_optimizer.cc:592] function_optimizer failed: Invalid argument: Input 0 of node loop_bo

[2020-11-07 08:42] raymanfx commented on #44553
Initially I tried `tf.image.resize`, but that quickly crashed due to OOM (50.000 images in the dataset). This is why I'm trying to use a generator in the first place - I'd very much like to avoid that.

[2020-11-07 08:53] q-55555 commented on #41855
I managed to make it works with tensorflow 2.3.1 in recompiling tensorflow for CUDA 11.1 and cudnn 8.0.4.

[2020-11-07 09:00] amitport commented on #15
@vrv could you please repoen, point to the correct doc, or confirm that is still should be considered internal (though it is exposed in many place by now)

[2020-11-07 09:16] sunzhe09 commented on #43595
within new model-optimizer,the bug has been fixed;

[2020-11-07 09:16] #43595 closed

[2020-11-07 11:04] carlthome opened #44672 "TensorFlow Hub BigGAN cannot be converted with TFLiteConverterV2"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary from PyPI
- TensorFlow version (or github SHA if from source): 2.3.1

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

[code]

**Also, please include a link to the sav

[2020-11-07 11:49] mirekphd opened #44673 "Separate TF 1.x from 2.x in PyPi"
Let's separate TF 1.x from 2.x package names and PyPI repos  to enable auto-updates to latest versions of TF 1.x. (without the need to manually monitor the latest available 1.x version).

Possibly just rename it to `tensorflow1==tensorflow` and `tensorflow2`, like with python 2.x and 3.x. These major versions of TF of equally incompatible, so they should not have the same package name IMHO.

The a

[2020-11-07 12:04] fuckfrancisco commented on #44519
cl.exe stucks on infinite loop when compiling file segment_reduction_ops in tensorflow/core/kernels with /arch:AVX or /arch:AVX2
I built a version without AVX and put the .o file in there but bazel overwrites it, is there any way to prevent that ?

[2020-11-07 12:41] mdanatg commented on #42475
I had a chance to have a closer look at the `tf.function` instance. I see the latest version of the colab does avoid excessive retracing, which is good. It's still significantly slower than PyTorch, and we need to have a closer look why.

I had a suspicion that it's because the GPU placement is inefficient, so I re-ran the tests on CPU:

5. TF-Adam-without@tf.function takes ~ 0.71s
6. TF-Adam-with

[2020-11-07 12:47] mdanatg commented on #42475
**Update**: I re-ran all tests on GPU, in **tf-nightly**. Things seem to be much improved, and only the Eager version is slow (which is somewhat expected):

TF-Adam-without@tf.function takes ~ 0.7s
TF-Adam-with@tf.function takes ~ 0.082s
Torch-Adam takes ~ 0.095s
TF-Adam-with@tf.function(experimental_compile=True) takes ~ 0.0005s (@cheshire FYI)

So it seems that the slowdown issue is resolved at

[2020-11-07 13:12] Johnny19-91 commented on #41018
sorry, I sign in the github and do not find the topic.

---Original---
From: "Thales Elero Cervi"<notifications@github.com&gt;
Date: Sat, Nov 7, 2020 01:16 AM
To: "tensorflow/tensorflow"<tensorflow@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"Johnny19-91"<lijianning0000@foxmail.com&gt;;
Subject: Re: [tensorflow/tensorflow] error: ‘tensorflow::error’ has not been declared--

[2020-11-07 13:26] AnkS4 opened #44674 "metrics=[tf.keras.metrics.Accuracy()] gives ValueError"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
**Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
**Manjaro 20.2 Nibia, Kernel: x86_64 Linux 5.8.18-1-MANJARO**
- TensorFlow installed from (source or binary):
**pip**
- TensorFlow version (use command below):
**2.3.1**
- Python version:
**3.8.6**

**Describe th

[2020-11-07 13:28] amahendrakar commented on #43387
@wggbullet,
Please take a look at @rohan100jain's comment and let us know if you are still facing the same issue. Thanks!

[2020-11-07 13:30] hongsoog commented on #8264
The main reason is cuda version information is not stored in ```cudnn.h``` anymore in CUDA 11.X. In CUDA 11.X, the version information seems to stored in  new ```cudnn_version.h``` file. So many build tools such as cmake depends on ```cudnn.h``` for CUDA version information cannot guess CUDA version anymore.

[2020-11-07 14:04] mirekphd commented on #39768
A bit opinionated IMO. Py 2.x was supported for a decade or so after its deprecation.

But I've found a workaround:
[code]

[2020-11-07 14:52] scd75 opened #44675 "Bad performance of tf.data.Dataset APIs when dealing with windowed inputs / timeseries problems / 3D arrays"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
Have I written custom code (as opposed to using a stock example

[2020-11-07 15:02] amahendrakar commented on #43835
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/a43bdce0d63f4d7c0050fc82f8388a30/43835.ipynb). Thanks!

[2020-11-07 15:06] amahendrakar commented on #43835
@abhishekbalu,
Please check [this comment](https://stackoverflow.com/a/47707733) from a similar StackOverflow query and let us know if it helps. Thanks!

[2020-11-07 15:34] innat commented on #44674
Convert the class vector (`y_train`, `y_test`) to the binary class matrix.

[code]

[2020-11-07 15:35] happychriss commented on #44599
added the tag to early by mistake, this ticket can be closed.

[2020-11-07 15:35] #44599 closed

[2020-11-07 16:11] daspranab commented on #44641
1) Did you mean cuda_11.1.1_456.81_win10.exe? I will try that and report.
2) I didn't find a way to use the information given in the two links. Please elaborate. Apparently, following the first link I need to downgrade Tensorflow--is that what you mean? Following the second link, I may have to change the codebase: please confirm.

[2020-11-07 16:22] amahendrakar commented on #44428
@Z-yq,

The example you've provided is fairly complex and it would be difficult for us to pinpoint the issue. Can you remove the dependencies and get the example down to the simplest possible repro? That will allow us to determine the source of the error easily. Thanks!

[2020-11-07 17:21] vivamoto commented on #36358
In Coursera "Introduction to TensorFlow for Artificial Intelligence, Machine Learning, and Deep Learning" course, use `logs.get('acc')` instead of `logs.get('accuracy')`, otherwise you'll get the error **Can't compile the student's code. '>' not supported between instances of 'NoneType' and 'float'**

Also, replace 'accuracy' by 'acc' in other parts of the code.

[2020-11-07 18:25] bibhas2 commented on #44592
I had a chance to think more about this and look at several projects on the Internet. I think what we need is a higher level API that is quick to use in most time series problems.

This [excellent tutorial](https://www.tensorflow.org/tutorials/structured_data/time_series) from the TF documentation had to write good bit of code around ``timeseries_dataset_from_array`` to make it work. At that point

[2020-11-07 18:34] #43236 closed

[2020-11-07 18:42] aki65 commented on #43547
I have the exact same behaviour on OnePlus 7t after the latest android 10 update (before that the hexagon delegate worked fine). If this can't be resolved with Qualcomm and/or OEMs, the hexagon delegate becomes pretty useless, which would be a pity after all the excellent work that has been put into it.

[2020-11-07 18:44] junhyk commented on #44407
@jvishnuvardhan
Hi,
i'm using RaggedTensor for my model.
When I converted the model into tflite, I found there is whole lot of FlexStridedSlice in the computation graph like below
![image](https://user-images.githubusercontent.com/26551254/98449118-528fa280-2174-11eb-850c-fa838d025261.png)

Is this because tflite's stridedslice doesn't support int64?
If true, can I cast ragged tensor's row_split i

[2020-11-07 19:08] TAIYISONG commented on #42475
@mdanatg Hi, thanks for the reply.

If I'm correct I notice you change the optimizer from Adam() to Adagrad() to get the above result.
I rerun the colab with optimizer changed back to Adam() and still see my original question3: "In terms of using Adam, why TF is ~20 times slower than PyTorch ? (original question)".

[2020-11-07 19:23] TAIYISONG commented on #42475
It seems in **1st** case TF still doesn't perform well on Adam() without **tf.function**, compared to **3rd** torch case.

And I tried to use _Lookahead(RAdam(0.02))_ optimizer in TF, it's worse than Adam() case in both with/without tf.function() cases.
I will try upgrading to **tf-nightly** to see if this kind of more advanced optimizer is supported well in TF.

Thanks again for your testing. I w

[2020-11-07 19:48] chenghuige opened #44677 "Fail for tf.image.flip_left_right(img_input) where im_input is Input(shape=(None, None, 3), name='image')"
I want to dump graph of tta for model.h5. But seems tf.image.flip_left_right not support dynamic input size. (tf version 2.3)

    import tensorflow as tf
    from tensorflow.keras.layers import Input
    img_input = Input(shape=(None, None, 3), name='image')
    tf.image.flip_left_right(img_input)

OperatorNotAllowedInGraphError            Traceback (most recent call last)
<ipython-input-4-6faed2

[2020-11-07 19:49] yaswanth4512 commented on #34518
i need to use two class id's for this is it possible

[2020-11-07 20:58] djduncan585 commented on #44656
Having an identical issue with installing Tensorflow on a clean Python reinstallation using pip. 64 bit Win10 Pro, CPU only. Looking for a workaround if an immediate solution is not possible.
![Screenshot 2020-11-07 154507](https://user-images.githubusercontent.com/30355572/98451231-d5334600-2111-11eb-9654-ba77c1d0ea16.png)

[2020-11-07 21:57] jw3126 commented on #7278
Can't find it either.

[2020-11-07 21:59] jw3126 commented on #7278
@dynamicwebpaige can you reopen, as this feature seems to be missing in Tensorflow 2.1?

[2020-11-07 23:45] jvishnuvardhan commented on #44430
@zhezherun As mentioned in the error, decorating the `call` function with @tf.function will resolve the issue. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/d495e679cb482984093b6f98a9109e28/untitled455.ipynb). Thanks!

Please verify once and close the issue. Thanks!

[2020-11-07 23:56] zhezherun commented on #44430
Thanks, decorating the ```call``` function with ```@tf.function``` can be used as a temporary workaround until this issue is fixed. However, I think that it is indeed only a workaround, and the underlying issue stills need to be fixed. That comment in the code (i.e. ```# TODO(mdan): Should the model's call be autographed by default?```) suggests that the current behaviour is not necessarily the co

[2020-11-08 01:12] jayabs2020 commented on #36170
Is this issue fixed? building still leads to the following error

Linking CXX executable ../../../../bin/intel64/Release/hello_classification
/opt/intel/openvino_2020.1.023/opencv/lib/libopencv_imgproc.so.4.2.0: undefined reference to `expf@GLIBC_2.27'
/opt/intel/openvino_2020.1.023/opencv/lib/libopencv_core.so.4.2.0: undefined reference to `logf@GLIBC_2.27'
collect2: error: ld returned 1 exit sta

[2020-11-08 01:30] n9niwas commented on #44381
if that still doesn't help, make sure `LD_LIBRARY_PATH` points to CUDA 11.1 installation
[code]
I spent an hour trying to figure out what's happening only to discover later that I don't have `LD_LIBRARY_PATH` set :man_facepalming:

[2020-11-08 02:46] king398 commented on #44671
You can also suggest other ways to install tensorflow on rtx 3070

[2020-11-08 03:06] king398 opened #44678 "How to install tensorflow gpu on rtx 3070"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):windows 10
- Mobile device (e.g

[2020-11-08 04:11] Nhiem commented on #31802
Hi DocDriven, liyunlu0618, and Everyone..  Is there a solution for this issue? I have the same issue... For my experiment, I took the Keras model from the @fchollet reference model train on mnist.. During training I apply quantization aware model for all layer (image attached), then I did Post Quantization 8bit Integer only I show the error unsupport fake quantize (attached second image)

Anyone c

[2020-11-08 04:33] king398 commented on #44159
@gdrolet you are a hero man

[2020-11-08 05:02] djduncan585 commented on #44656
Workaround found: current version of Tensorflow is not compatible with Python 3.9; I was able to get it to install by first installing Python 3.8.

[2020-11-08 05:30] king398 commented on #44381
I had the same problem. I Found a link to Download The dll file here
 https://transfert.mffp.gouv.qc.ca/?ShareToken=790B76CF0EBA6B094F39CF985247901B63D4AD19. It is valid till 11/12/2020 10:30:00 AM

[2020-11-08 05:35] amahendrakar commented on #44656
@Harshit-Kesar,
From the error log, it seems like you have installed 32-bit Python. TensorFlow is tested and supported on 64-bit systems. For more information, please take a look at the [system requirements](https://www.tensorflow.org/install/pip#system-requirements).

Could you please install 64-bit Python and check if you are facing the same issue. Thanks!

[2020-11-08 05:48] amahendrakar commented on #44414
@stevenwong951028,
On running the code I did not face any errors. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/80bab1577ed23f14476266acf011c537/44414.ipynb).

Could you please elaborate the issue you are facing and also the behavior you are expecting? Thanks!

[2020-11-08 06:25] archie94 commented on #44659
Hello @amahendrakar
Please let me know if there are any other info I can help you with.

[2020-11-08 06:47] amahendrakar commented on #41118
@MikhailStartsev,
Any updates? Did you get a chance to work on this? Thanks!

[2020-11-08 07:36] #44678 closed

[2020-11-08 07:36] #44671 closed

[2020-11-08 08:27] abattery commented on #44326
Could you try conversion with tf-nightly version?

[2020-11-08 08:37] amahendrakar commented on #44672
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/7738f81c88629dfec31f94bdfec31511/44672-tf-nightly.ipynb). Thanks!

[2020-11-08 09:04] amahendrakar commented on #44421
@kja815,
The `max_to_keep` argument of the `tf.train.CheckpointManager` function is used to control the number of checkpoints to be preserved. For more information please take a look at the documentation [here](https://www.tensorflow.org/api_docs/python/tf/train/CheckpointManager).

Also check [this gist](https://colab.research.google.com/gist/amahendrakar/2e1ced95f05e058a9c021d671fee6321/44421.ip

[2020-11-08 09:35] amahendrakar commented on #44505
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/4b3d647a0cd6dfe8a8c64ccc6faa42ba/44505-tf-nightly.ipynb). Thanks!

[2020-11-08 10:00] amahendrakar commented on #44519
The ` --config=v1` is used to build TensorFlow 1.x.

You'll have to use Bazel to compile TensorFlow. For more information, please take a look at [this guide](https://www.tensorflow.org/install/source_windows).

In this case, I'd suggest you to migrate your code to support TensorFlow 2.x as shown in [this guide](https://www.tensorflow.org/guide/migrate
). Thanks!

[2020-11-08 10:01] 83521166 commented on #20271
thanks a lot, it solve my problem
wish you best

[2020-11-08 10:09] amahendrakar commented on #44669
@aRandomBlock,
Installation issues within the Anaconda environment are tracked in the Anaconda repo.

Could you please submit a new issue using [this link](https://github.com/ContinuumIO/anaconda-issues/issues) and fill in the template, so that the issue can be tracked there. Thanks!

[2020-11-08 10:14] m4masood commented on #41855
I have got windows 10 with GeForce GTX 850M nvida GPU and configured cuda 11.1 and cudnn 8.04 and I have tensorflow 2.3.0 but I am getting "Could not load dynamic library 'cudart64_101.dll'".  can any one please assist on this?

[2020-11-08 10:34] abattery commented on #44672
Merge node is a control flow v1 op. TFLite does not have any plans to support control flow v1 ops.

[2020-11-08 10:41] Rariusz opened #44680 "Install tf-nightly 2.0"
I need install ```tf-nightly 2.0```.  Where can I find older versions of the library?. On this site https://pypi.org/project/tf-nightly/#history the oldest is 2.4.0

[2020-11-08 11:11] amitport commented on #41855
that's one of the other issues I've mentioned https://github.com/tensorflow/tensorflow/issues/44381

I've used one of the workarounds there: rename `cudart64_111.dll` to `cudart64_101.dll`

[2020-11-08 11:21] SangbumChoi commented on #44548
another pth.tar
https://drive.google.com/file/d/1Dl5zC29g03UWc_Pb5alO1SgVgz25fUf7/view?usp=sharing

basline
https://drive.google.com/drive/folders/1HP-_4ggQDjmoRnIYj4msonVWRWwsJJGE?usp=sharing

two models are slightly different but i think it might regenerate the error

I'm not sure if this might can extract properly.

[2020-11-08 11:23] SangbumChoi commented on #44548
Also this model is generated with torch.nn.parallel.DataParallel so i load with
this kind of step

args = parse_args()

print("load keras model for MobileNeXt")
keras_model = ResPoseNet_Tensorflow((256, 256, 3), args.joint)

#Lucky for us, PyTorch includes a predefined Squeezenet
print("load pytorch model for MobileNeXt")
pytorch_model = get_pose_net(args.backbone, args.frontbone, False, args.join

[2020-11-08 11:24] SangbumChoi commented on #44548
However by using onnx @amahendrakar it succeed but still have problem with

java.lang.IllegalArgumentException: Internal error: Failed to apply delegate: Regular TensorFlow ops are not supported by this interpreter. Make sure you apply/link the Flex delegate before inference

Node number 3 (FlexAddV2) failed to prepare.

FlexAddV2

[2020-11-08 12:06] junhyk opened #44681 "How to implement custom delegate that supports dynamic-sized tensor"
Hi,

I'm implementing custom TFLite delegation for my accelerator.
My implemented the delegation largely referring [dummy delegate example](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/delegates/utils/dummy_delegate)
But when I modify the graph using my delegate, I got following error.
[code]
So I want to enable dynamic-sized tensor support in my delegate.
But I couldn't fi

[2020-11-08 12:07] #44582 closed

[2020-11-08 13:23] MikhailStartsev commented on #41118
@amahendrakar Thank you for following up on this, but unfortunately other issues took priority, as the absence of a CUDA-enabled debug DLL turned out not to be as critical, and building just a TF DLL in debug mode was resolved by my initial proposed change.

In this light, I propose to wrap up this thread by integrating the changes that make the DLL link under Windows _without_ CUDA, and if I ever

[2020-11-08 15:11] JVedant opened #44682 "Tensorflow support for Nvidia geforce rtx 3090 - CUDA-11.1"
The rtx 3090 has been a beast in deeplearning performance and yet tensorflow has no support for training on CUDA-11.1 and cuDNN-8.

it would be great if added soon.

[2020-11-08 16:23] Angit16 opened #44683 "Not creating XLA devices, tf_xla_enable_xla_devices not set"
Hi,

I have recently upgraded my system to the following configuration:

OS: ubuntu 18.04
gcc: 7.5.0
cuda: 10.2
cuDNN:7.6.5
TensorRT: 6.0.1.8
Tensorflow:2.5.0
My GPU spec: device: 0, name: GeForce GTX 1060 6GB

Once Tensorflow installation is completed, i checked the following cpde:

`with tf.device('/gpu:0'):
a = tf.constant([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], shape=[2, 3], name='a')
b = tf.constant(

[2020-11-08 16:32] houseofai opened #44685 "Arguments have an HTML format issue"
## URL(s) with the issue: https://www.tensorflow.org/api_docs/python/tf/image/extract_patches

The arguments need to be reformatted:

![Screen Shot 2020-11-08 at 17 28 21](https://user-images.githubusercontent.com/8287111/98470714-dafb5b00-21e7-11eb-8221-96eb105b5e52.png)

[2020-11-08 16:55] jvishnuvardhan opened #44686 "Typo in tf.keras.callbacks.EarlyStopping example"
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/MyMethod

https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/EarlyStopping

## Description of issue (what needs changing):
The following is from the `EarlyStopping` page on TensorFlow website.

callback = tf.keras.callbacks.EarlyStopping(m

[2020-11-08 17:06] Dueschen opened #44687 "How can I use micro_mutable_op_resolver.h instead of all_ops_resolver.h to run TensorFlow Lite for Microcontrollers exapmle?"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows subsystem for Linux, Ubuntu 18.04
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source):
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): My own PC

**Describe the problem**

I'm running test on the hello_world example in TensorFlow Lite

[2020-11-08 17:16] amahendrakar commented on #44680
@Rariusz,
We don't save nightly packages for longer period of time. Current archive collects nightly packages from the month of September 2020 till date.

For more information, please take a look at [this comment](https://github.com/tensorflow/tensorflow/issues/37317#issuecomment-595382300) from a similar issue. Thanks!

[2020-11-08 17:34] amahendrakar commented on #44683
@Angit16,
The `Not creating XLA devices, tf_xla_enable_xla_devices not set` message is an information log which you can safely ignore.

To verify that TensorFlow has detected the GPU on you machine, please run the below code and check the number of GPUs available
[code]

Thanks!

[2020-11-08 17:45] Angit16 commented on #44683
okay, thanks. I would appreciate it if you can provide some insight on these warnings though, would be helpful for me to understand. I have been looking into it as well.

regadrs,

[2020-11-08 18:05] amahendrakar commented on #44646
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/3b58866c9c9e0ac935296d26b903de22/44646-2-3.ipynb). Thanks!

[2020-11-08 18:13] kalosisz opened #44688 "Memory leak in TF 2.3.1 when using Multi-worker training"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Tensorflow 2.3.1 container
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Tensorflow 2.3.1 container
- TensorFlow ver

[2020-11-08 18:17] Saduf2019 commented on #44682
@JVedant
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]
This issue is already reported, please refer to these existing issues with respect to rtx 3090 and CUDA 11.1  #44200, #44251, #43588

[2020-11-08 18:37] #44494 closed

[2020-11-08 18:41] Palkos83 commented on #43623
Guys - so there is no way to fix this?
Any comments about the errors from the logs?
Any feedback from Nvidia about CuDNN issues?

[2020-11-08 18:45] GF-Huang opened #44689 "[Docs should enhance] The docs not tell me: How does a TPU cluster allocate memory for the model?"
My issue in short words, I'm creating a model just a single LSTM layer (`layers.LSTM(units=16298, input_shape=(1, 16298))`), and my google cloud vm connect to the `v3-8` tpu which has total 128GB RAM, why I still got `ResourceExhaustedError` exception? It seems only use one TPU core (16GB RAM) to create model, not the total (16 * 8 = 128GB).

Can some one tell me: How does a TPU cluster allocate m

[2020-11-08 18:51] Saduf2019 commented on #44668
@psalveson
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

Please refer to these resolved issues with same error : #44204, #40978, #43229.

[2020-11-08 19:07] kalosisz commented on #44688
Maybe related to #42616

[2020-11-08 20:08] srwiley commented on #36501
I found I needed to add  the following to the classification.ipynb notebook in the docs in order to get it to work. Otherwise the model would throw a CUDA_ERROR_OUT_OF_MEMORY error during initialization, even though there should have been plenty of memory.

My system information:
 == nvidia-smi ===================================================
Sun Nov  8 11:58:14 2020
+--------------------------

[2020-11-08 23:00] YijinLiu opened #44691 "Performance regression when MKL is enabled"
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No.

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 18.04.5

- TensorFlow installed from (source or binary):
Binary

- TensorFlow version (use command below):
1.13.2 and 1.14.0

**Describe the current behavior**
Train a ssdlite_mobilenet_v2 model with 1.13.2 and 1.14.0, the inferenc

[2020-11-09 00:09] kishoswag commented on #18044
Hello, I have an issue while training the data.
![Screenshot (263)](https://user-images.githubusercontent.com/72600760/98488193-125f1b80-226b-11eb-9a8f-8ac46b331779.png)
![Screenshot (263)](https://user-images.githubusercontent.com/72600760/98488213-3589cb00-226b-11eb-8ca8-cc441c95a0c9.png)
Can anyone help me with this?

[2020-11-09 00:55] bleedingfight opened #44692 "crosstool_wrapper_driver_is_not_gcc failed: error executing command"
<em>
</em>

**System information**
- Ubuntu20.04.1

- tensorflow source (master branch):
- TensorFlow version:
- Python version:3.8.5

- 3.1.0n (if compiling from source):
- GCC/Compiler version (if compiling from source):9.2
- CUDA/cuDNN version:8
- GPU model and memory:24GB
- Graph Card Diver:455.23.04
- NVIDIA Card:RTX3090
- TensorRT:TensorRT-7.2.1.6

**bazel build --config=opt --config=cuda //

[2020-11-09 01:32] #44640 closed

[2020-11-09 01:35] bittergourd1224 commented on #44508
Hi, would anyone please have a look :)

[2020-11-09 01:52] NeoZhangJianyu commented on #35178
@robosina
OK! I understand.

Do you think this issue could be continued or closed?

[2020-11-09 01:55] DachuanZhao commented on #44509
ok，but why not change
[code]
to
[code]
?

[2020-11-09 02:22] lintian06 commented on #44472
Hi Santosh and MCR,

Looks like there were failures of EfficientDet model in conversion, and then the interpreter cannot load the model file correctly.

I am not sure about the detail of EfficientDet you used. Can you provide more information? BTW, is there any EfficientDet lite model that you can find from the repo?

Thanks!

[2020-11-09 02:23] ravikyram commented on #44688
@kalosisz

Can you please try with TF nightly version and see if the issue still persists.Thanks!

[2020-11-09 02:30] ravikyram commented on #44389
@ElhamSol

Please, close this thread if your issue was resolved. Thanks!

[2020-11-09 02:39] JVedant commented on #44682
It's my first time opening an issue here so i'm not aware about the issue template.

I think i've got some help by checking the issue id's provided by you.
I'll try it once and if I wont be able to achieve any results, i'll open an issue with 'build' tag.

Thanks for providing the solution!

[2020-11-09 02:42] ravikyram commented on #44692
@bleedingfight

Please, see tested build configurations from [here](https://www.tensorflow.org/install/source#gpu).

Please, refer similar issues #22372, #13481 and see if it helps you. Thanks!

[2020-11-09 02:50] NeoZhangJianyu commented on #40122
@djshen
It's great news!

Could you close this issue? :)

[2020-11-09 03:22] djshen commented on #40122
@NeoZhangJianyu
Sure!

[2020-11-09 03:22] #40122 closed

[2020-11-09 03:23] NeoZhangJianyu commented on #40122
@djshen

Thank you very much!

[2020-11-09 03:27] bleedingfight commented on #44692
@ravikyram thanks for your reply.I've browsed the  build page，You mean I need to downgrade my software？gcc9.2-->GCC 7.3.1 and bazel 3.1->Bazel 0.27.1? In fact, I have successfully compiled software on the same type of platform。In my desktop：
OS：5.8.16-2-MANJARO
NVIDIA Graphic Card：GTX980m
Driver：450.80.02
gcc：10.1
TensorRT：TensorRT-7.2.0.14
CUDA：11.0
bazel:3.1
CUDNN:8.0
In this env,I compile tenso

[2020-11-09 03:27] bleedingfight commented on #44692
@ravikyram thanks for your reply.I've browsed the build page，You mean I need to downgrade my software？gcc9.2-->GCC 7.3.1 and bazel 3.1->Bazel 0.27.1? In fact, I have successfully compiled software on the same type of platform。In my desktop：
OS：5.8.16-2-MANJARO
NVIDIA Graphic Card：GTX980m
Driver：450.80.02
gcc：10.1
TensorRT：TensorRT-7.2.0.14
CUDA：11.0
bazel:3.1
CUDNN:8.0
In this env,I compile tensor

[2020-11-09 04:39] KodeWorker commented on #44569
**Final Update**
I did additional changes during last attempt.
1. Downgrading base Anaconda python from 3.8 to 3.6.10
2. Replacing -std=c++14 in .bazelrc with  /std:c++14 (fix warnings)

[code]
It worked!
I am closing this issue.

[2020-11-09 04:40] #44569 closed

[2020-11-09 04:45] Saduf2019 commented on #44682
@JVedant
Thank you for the update, please move the ticket to closed status if resolved.

[2020-11-09 04:46] #44682 closed

[2020-11-09 05:00] Saduf2019 commented on #44472
@ssuwal
Please provide complete code or if possible share a colab gist with the issue faced.

[2020-11-09 05:03] Saduf2019 commented on #44641
@daspranab
Can you please check if you are facing the issue on nightly version.

[2020-11-09 05:14] Saduf2019 commented on #44556
@swertz
I ran the code and this had been fixed in nightly version, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/7a30d232977727a555780404b15d0d4c/untitled458.ipynb).

[2020-11-09 05:16] Saduf2019 commented on #44610
@Rariusz
Could you please share the colab link mentioned in the issue.

[2020-11-09 05:20] Saduf2019 commented on #44674
@AnkS4
Please update as per above comment.

[2020-11-09 05:24] Saduf2019 commented on #44533
@Silb78dg
Please share a simple stand alone code such that we can replicate the issue faced or if possible share a colab gist with the issue reported.

[2020-11-09 05:26] Silb78dg commented on #44533
@Saduf2019 Don't you have access to the gist I already shared?

[2020-11-09 05:33] XRLuo commented on #42403
I met this issue, too. Can anyone help?

[2020-11-09 05:39] Saduf2019 commented on #44285
I m able to replicate the issue faced, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/2b25ebedc984251f6ac76021c122b59d/untitled458.ipynb)

[2020-11-09 05:56] hiroki-oist opened #44693 "module 'tensorflow_lite_support.metadata.metadata_schema_py_generated' has no attribute 'ModelMetadataT' error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Not used
- TensorFlow installed from (source or binary): Spyder in Anagonda Navigator (It was preinstalled)
-

[2020-11-09 05:59] Saduf2019 commented on #44691
@YijinLiu
As there is support for 2.x only now,could you please upgrade ad let us know if you still face any issues in 2.x.

[2020-11-09 06:01] Saduf2019 commented on #44693
@hiroki-oist
Please provide with simple stand alone code to replicate the issue or a colab gist with the error reported.

[2020-11-09 06:08] kimivital commented on #31610
how to fix it?

[2020-11-09 06:39] hiroki-oist commented on #44693
Sorry, since I am absolute beginner for python and machine learning, this might not exactly what you need, but anyway,
mobilenet_v1_0.75_160_quantized.tflite : tffile I want to add metadata to. Path is Desktop/model_without_metadata/
metadata_writer_for_image_classifier.py : code for adding metadata (not customized. Totally copied). Path is Desktop/
Code run in Anaconda Prompt : python ./metadata_

[2020-11-09 07:12] NeoZhangJianyu commented on #37337
@astirn Sorry, it's my mistake.

[2020-11-09 07:12] NeoZhangJianyu commented on #37337
@iamthebot
Is it possible to close this issue?

[2020-11-09 07:13] QColeman97 commented on #44185
For all interested, solution to this problem: https://github.com/keras-team/keras/issues/14140#issuecomment-713660704

[2020-11-09 07:16] NeoZhangJianyu commented on #28470
@byronyi

Thank you very much!

[2020-11-09 07:41] slimwangyue opened #44694 "How to avoid unsupported ops during the tf lite conversion"
**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow installed from (source or binary): pip installed tf
- TensorFlow version (or github SHA if from source): See below for detailed info

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the converter invoc

[2020-11-09 07:45] JingYao0512 commented on #44192
My solution:
This error seems to happen when python version is lower than 3.7, so I upgrade my python version to 3.8.0 and then the error did not happen.

My environment
--Windows 10
--python 3.8.0
--tensorflow2.4.0rc0

Thanks for everyone who provides great solutions for this issue!!

[2020-11-09 07:49] ZYG151541155 commented on #44583
Oh, Thank's, I get it and already solve this question, the reasons are all environmental mistakes.

[2020-11-09 07:49] anglerbug123 opened #44695 "bazel build libtensorflowlite has issue during compiling"
tizen5.0_cross_toolchain_vd_kant_target_armv7l_host_x86-64/bin/armv7l-tizen-linux-gnueabi-gcc -MD -MF bazel-out/armv7-opt/bin/external/mkl_dnn/_objs/mkldnn_single_threaded/simple_concat.d '-frandom-seed=bazel-out/armv7-opt/bin/external/mkl_dnn/_objs/mkldnn_single_threaded/simple_concat.o' -iquote external/mkl_dnn -iquote bazel-out/armv7-opt/bin/external/mkl_dnn -isystem external/mkl_dnn/include -i

[2020-11-09 07:59] swertz commented on #44556
Great, thanks!

[2020-11-09 07:59] #44556 closed

[2020-11-09 08:03] ofiryaish commented on #44409
@gowthamkpr Yes, I tried there also after day or two in in which I didn't get response here, but I wasn't lucky,

[2020-11-09 08:31] bitterengsci commented on #28346
Is it actually fixed??????

[2020-11-09 08:31] Rariusz commented on #44610
@Saduf2019  [ssd_modilenet_to_google_coral_step_1](https://colab.research.google.com/drive/1UBikIZmoJTuxWMXhyggBugM6dF7AWK4c?usp=sharing)

[2020-11-09 08:32] ravikyram commented on #44647
@ImJustError

Is this issue related to Tensorflow?.

This question is better asked on StackOverflow since it is not a bug or feature request related to Tensorflow. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2020-11-09 08:35] ravikyram commented on #44651
@justeph

Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature.Thanks!

[2020-11-09 08:37] Rariusz commented on #44680
@amahendrakar Thanks for the answer!!! I wanted to compile yolo to tflite model based on this repository  [YOLO](https://github.com/guichristmann/edge-tpu-tiny-yolo?fbclid=IwAR0-OrnFUL-k9xXbTieLb4sJr3YS3xIdeLyfxGlaYWJu1rheyQoCUaM5iD4) and it is required there tf-nightly 2.0.

Now I am working on compiling a tensorflow model to tflite or yolo to tflite for my own data
https://github.com/tensorflow/

[2020-11-09 08:41] Gorospe commented on #37347
Hello @bhavikapanara

I guess the problem can be in the training / quantization phase or in the version of the library of Tensorflow Lite used for the Arduino. If I remember correctly, I used the first method you stated for quantization as well, but then I runt it on a STM32 microcontroller, where I included the library by hand, taking the necessary files from the last version of github.

Have you

[2020-11-09 08:41] justeph commented on #44651
I am currently trying to build a yocto recipe for tensorflow-lite using Makefile, and I need the GPU delegate. I am trying to modify the Makefile right now, and I will open a merge request when this will be ready

[2020-11-09 09:14] ravikyram commented on #44657
@MaxHeuillet
Please, refer similar issue #37441 and see if it helps you.
If the issue still persists, request you to share colab link or simple standalone code with supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster.Thanks!

[2020-11-09 09:19] batara666 opened #44696 "tensorflow/go: does not contain package go/core/protobuf/for_core_protos_go_proto"

[2020-11-09 09:31] ravikyram commented on #44670
@adriangb

I have tried in colab with TF version 2.3, nightly version(`2.5.0-dev20201108`).Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/19c8028887615b61abedc1b46e2aec98/untitled494.ipynb).You are also seeing the same behavior?
Thanks!

[2020-11-09 09:36] lucastan5596 commented on #36517
Hi HaoWang I stumble across this exact same issue also, trying to do post quantization on Yunyang1994 Yolov3 implementation, I am using Tensorflow2.1.0 on Windows.
May I know hv you solved this problem?

[2020-11-09 09:47] ravikyram commented on #44677
I have tried in colab in TF 2.3 and was able to reproduce the issue. However the issue was resolved in TF nightly version(`2.5.0-dev20201108`).Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/250011705ca0a25c9059cd62117c129c/untitled495.ipynb).Please, verify once and close the issue.Thanks!

[2020-11-09 09:49] dqt1995 commented on #39056
I just modified your code a bit and end up with this:
`def _bytes_feature(value):
  """Returns a bytes_list from a string / byte."""
  return tf.train.Feature(bytes_list=tf.train.BytesList(value=[value]))

@tf.function
def example_write():

    writer = tf.io.TFRecordWriter("test.tfr")

    g = tf.Graph()

    with g.as_default():
        x = tf.constant([[0, 1], [2, 3]], dtype=tf.float32)

[2020-11-09 10:01] ravikyram commented on #44695
@anglerbug123

Request you to fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).
Provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2020-11-09 10:19] #44042 closed

[2020-11-09 10:19] #26947 closed

[2020-11-09 10:21] peachthiefmedia opened #44697 "Incorrect Cupti dll name on W10"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 20H2
- TensorFlow installed from (source or binary): Binary (pip)
- TensorFlow version (use command below): 2.4.0-rc0
- Python version: 3.6
- Bazel version (if compiling from source):
- GCC/Compiler version

[2020-11-09 10:37] ravikyram commented on #44631
@charlet-antoine

I have tried in colab with TF version 2.3 and nightly version(`2.5.0-dev20201109`) and was able to reproduce the issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/c64fcae0bc93c8abeba883b2cfcb5513/untitled497.ipynb).
This issue is more suitable for TensorFlow Hub repo. Please post it on hub repo from [here](https://github.com/tensorflow/hub/issue

[2020-11-09 10:58] Z-yq commented on #44428
@mihaimaruseac ，
Thanks for your help,

I've streamlined the code and there should be only tensorflow dependencies.  here:https://github.com/Z-yq/rnn-debug

the python/C script will recongnize test.wav . And python needs a **librosa** dependency only for read wav file.Using **wave** library is also possible.

In the python script, the example is called and converted to a pb file(The work has been

[2020-11-09 11:04] marziehoghbaie commented on #33261
Hi there,
I am using time distributed layer to apply another model on each frame and processing the final features by conv 3D. the model is trained properly. but when I want to load the model and use it for test, I face different issues:
- first, the model cant be loaded because of the nested model
- second, the model acc on the same val dataset is not reproducible

[2020-11-09 11:19] lei522 commented on #27325
@thameslu hi, How did you solve the problem? when i use metal delegate on ios i have the similar problem as follow,
Undefined symbols for architecture arm64:
  "_OBJC_CLASS_$_TFLInferenceContext", referenced from:
      objc-class-ref in libmetal_delegate.a(metal_delegate_bf7d4aad90502bdf5c67c8a69622de9d.o)
  "tflite::gpu::BuildModel(TfLiteContext*, TfLiteDelegateParams const*, tflite::gpu::Model<

[2020-11-09 11:22] lei522 commented on #27325
@thameslu ，hi，How did you solve the problem? when i use metal delegate on ios i have the similar problem as follow,

`_OBJC_CLASS_$_TFLInferenceContext", referenced from:
      objc-class-ref in libmetal_delegate.a(metal_delegate_bf7d4aad90502bdf5c67c8a69622de9d.o)
  "tflite::gpu::BuildModel(TfLiteContext*, TfLiteDelegateParams const*, tflite::gpu::Model<tflite::gpu::TensorRef<tflite::gpu::StrongS

[2020-11-09 11:23] randolf-scholz commented on #43947
For the ones using (mini-) conda, the soft-links should be

[code]
The library seems to work without problem:

[code]

[2020-11-09 11:24] natario1 commented on #44336
@impjdi pinging you as you requested.

I also want to take this opportunity to ask about the CL delegate - is this feature currently broken for the CL delegate as well? Can we pass DHWC4 there? And does it even help, or maybe it makes it worse (original image is grayscale)? I guess the SSBO will have to be converted to some OpenCL primitive buffer.

[2020-11-09 11:25] gitlabspy opened #44698 "Training takes forever when applying distribute strategy"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2020-11-09 11:31] kalosisz commented on #44688
@ravikyram

I have changed the order of operations on the dataset to cache, shuffle, repeat, batch, prefetch. I have re-run the code on 2.3.1 and nightly (see the repo).

The leak is even bigger for nightly. Here are the memory footprints of nightly (master and worker, resp.)

<img width="1619" alt="Screenshot 2020-11-09 at 12 29 21" src="https://user-images.githubusercontent.com/10571507/98535978

[2020-11-09 11:36] ravikyram commented on #44698
@gitlabspy

Please, help us with complete code snippet with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-11-09 11:37] Saduf2019 commented on #44649
@moha23
The issue exist in tf 2.1 and it has been fixed in the later versions, as i have tried on nightly and this bug is fixed, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/eef3c2923cd0807f4afbdf56e72ff27e/untitled458.ipynb), can you please upgrade your tf version.

[2020-11-09 11:40] Saduf2019 commented on #44583
@ZYG151541155
Thank you for your update, as the issue is resolved please the this to closed status,

[2020-11-09 11:43] Saduf2019 commented on #44696
@batara666
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

Please share the error logs. [along with exact tf version]

[2020-11-09 11:55] arainboldt commented on #37900
FWIW, I'm getting this issue with the below code:

[code]

I have the same GPU as OP.
python 3.8.3
Ubuntu 20.04
Tensorflow 2.3.1

[code]

[2020-11-09 12:03] Saduf2019 commented on #44645
@NaghmehShahverdi
Please share the tf version used, i ran the code shared and face a [different issue](https://colab.research.google.com/gist/Saduf2019/d6341c5809b9c1e823e6cccdd5bbb2e0/untitled458.ipynb).

[2020-11-09 12:26] sairmreddy commented on #44602
@amahendrakar
For Tensorflow C++ API

[2020-11-09 12:40] mimxrt commented on #37659
I have the same issue with an LSTM saved model (Keras model -> saved model).

Can someone shed some light on why this is not implemented in the first place? In my understanding _stateless_ RNNs need the whole input sequence at once to perform meaningful inference. Yet, in embedded environments (where tflite converted models come into play), one usually

1. does not have enough memory to record/sto

[2020-11-09 12:43] tanjia123456 opened #44699 "tensorflow.python.framework.errors_impl.InvalidArgumentError"
hello, when  I run my code, the error mesage occurs:
Traceback (most recent call last):
  File "/home/tj/anaconda3/envs/tensorflow/lib/python3.7/site-packages/tensorflow_core/python/framework/ops.py", line 1607, in _create_c_op
    c_op = c_api.TF_FinishOperation(op_desc)
tensorflow.python.framework.errors_impl.InvalidArgumentError: Dimensions must be equal, but are 122904 and 12 for 'mul' (op: 'M

[2020-11-09 12:47] Lifann opened #44700 "SegmentSum GPU OP has no incremental detection on segment_ids"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-11-09 12:50] arun4ss opened #44701 "3760 illegal hardware instruction python3"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): KALI LINUX
- TensorFlow installed from (source or binary): PIP3 INSTALL TENSORFLOW
- TensorFlow version:
tensorflow             2.3.1
tensorflow-estimator   2.3.0

- Python version:  Python 3.8
- Installed using virtualenv? pip? conda?:  pip3

- GPU model and memory: HP pavillion g4 intel i5 m480 6gb ram

**Describe

[2020-11-09 12:52] ujjwal-ai commented on #41009
Is there any update on this ? This is an extremely important use case

[2020-11-09 13:01] LucasStromberg commented on #44554
I have not tried that yet. Might do so soon!

[2020-11-09 13:03] ravikyram commented on #44701
@arun4ss

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements).

Also, refer this [SO link](https://stackoverflow.com/questions/49327879/illegal-hardware-instruction-when-trying-to-import-tensorflow) and see if it helps you. Thanks!

[2020-11-09 13:26] arun4ss commented on #44701
Cpu model is :- Intel Core i5-480M
How to cheak if my cpu support AVX or not?

I have checked the [SO link](https://stackoverflow.com/questions/49327879/illegal-hardware-instruction-when-trying-to-import-tensorflow)
But  it's code is different from my issue
It is **4492 illegal hardware instruction (core dumped)  python**

And

My issue is **3760 illegal hardware instruction python3**

[2020-11-09 13:50] mdanatg commented on #42475
Thanks. I don't think I have access to the original colab so I made some copies. But indeed I forgot to change `SGD` back to `Adam` in my colab. I fixed the results. Here are the colabs as well:

* [CPU](https://colab.research.google.com/drive/1v3lOdA0wIS_q7xWJcRdSRH7roEp8Wh29)
* [GPU](https://colab.research.google.com/drive/1SMAzg6F05iNkTFbw0tqy8NwcG02xGnbB#scrollTo=IMl1XRfotLmV)

So it seems tha

[2020-11-09 13:55] drjubbs commented on #44459
FYI - I was using Nvidia "Game Ready" drivers (441.22), a newer one (457.09) was released, I upgraded, and I no longer get the crash. Not sure if you test against the "Game Ready" versions but this may have been the cause?

[2020-11-09 14:01] adriangb commented on #44670
Yes

[2020-11-09 14:19] tgsmith61591 opened #44703 "Support string sorting"
**Describe the feature and the current behavior/state.**

Currently string sorting in the graph is unsupported:

### Does not work:

[code]

### Works (but not in the graph):

[code]

Can `tf.sort` be amended to allow string sorting?

**Will this change the current api? How?**

No

**Who will benefit with this feature?**

Anyone who might need to string-sort in the graph

**Any Other info.**

[2020-11-09 14:19] #44056 closed

[2020-11-09 14:22] bjarrell15 commented on #44059
@mdanatg Thank you for your suggestions! I have used tf.image and tfa.image augmentations in the past, but found them to be limiting. I have not used tf.py_function, so I will give that a look.

The fundamental issue is that this **did** work, but now there is some sort of TF-side bug which is now preventing the operation from working.

[2020-11-09 14:29] daniel-merrick opened #44704 "AttributeError: module 'tensorboard.summary._tf.summary' has no attribute '__file__'"
The Docker file I used to build TensorFlow 2.3.1 is shown below along with the error trace. Everything builds properly, however, when I import TensorFlow I get the following error:

AttributeError: module 'tensorboard.summary._tf.summary' has no attribute '__file__'

    FROM nvidia/cuda:10.1-cudnn7-devel-ubuntu18.04

    RUN apt-get update && apt-get -y upgrade
    RUN apt-get install -y --no-ins

[2020-11-09 15:01] mbalazs98 opened #44705 "Actor-critic model with LSTM layers runs out of GPU memory eventhough it shouldn't."
- Custom code
- Windows 10
- TensorFlow version: 2.3.1
- Python version: 3.7.9
- CUDA/cuDNN version: 10.1 / 7.6.5
- GPU model and memory: GTX 1660 6GB

Networks with LSTM layers run out of memory, using only batch at a time. Creating smaller layers don't help.By my calculations they should easily fit into the memory.

Source code to recreate the issue is the following (in a few places it uses bogu

[2020-11-09 15:04] #44647 closed

[2020-11-09 15:27] mdanatg commented on #41890
This looks like a gast version mismatch. If the issue still reproduces in tf-nightly, please re-open the bug. Thanks!

[2020-11-09 15:48] maxkaustav opened #44706 "tf concatination layers compatible with tfp"
Since tfp does not have `tf.keras.layers.Concatenate` does tf2.x support Concatenation of tfp layers?

If some changes are required then what?

[2020-11-09 15:56] moha23 commented on #44649
@Saduf2019 hi, as I mentioned I also tried in tf2.3 and it works without error, but tf2.1 is a requirement due to another libraries dependency. Is there a patch I can apply to the source codes may be?

[2020-11-09 15:59] AndreyKorney commented on #44359
Could you please point me what exactly should I do? Thanks!

[2020-11-09 16:21] npatel37 commented on #30263
Still have this issue.

[2020-11-09 16:21] rohan100jain commented on #40869
What version of Keras are you using? https://imageai.readthedocs.io/en/latest/ suggests 2.2.3. The imageai library is not built for TF 2.0 (it says so on their website) and so you need TF 1.x for this to work. Only some versions of keras are compatible with TF 1.x, so you need to make sure you have those versions installed.

[2020-11-09 16:24] rohan100jain commented on #44293
@tricoffee Please reopen this issue / file a new one with your code that is failing.

[2020-11-09 16:27] jvishnuvardhan commented on #33261
@marziehoghbaie Please create a new issue with a simple standalone code to reproduce the error. Thanks!

[2020-11-09 16:29] edloper commented on #34349
Closing this issue; but please re-open if you feel it's not addressed.

[2020-11-09 16:29] #34349 closed

[2020-11-09 16:32] jvishnuvardhan commented on #36517
@lucastan5596 Please create a new issue with a simple standalone code to reproduce the error you are noticing? Thanks!

[2020-11-09 16:37] aaroey commented on #28346
@bixia1 do you know if this is still a problem?

[2020-11-09 16:56] Tessil opened #44707 "[TFLite] TF MatMul operator converted to an unsupported TFL 16x16 FullyConnected operator with 16x8 post-training quantization"
Hello,

When using the `tf.linalg.matmul` function with TFLite 16-bit post-training quantization the operation is sometimes transformed into a `TFL::FullyConnectedOp` operator with 16-bit inputs and 16-bit weights. Unfortunately the 16-bit version of the FC operator only supports 16-bit inputs and 8-bit weights.

The conversion occurs in two places depending on how `tf.linalg.matmul` is interprete

[2020-11-09 16:58] nikitamaia commented on #44688
Hi @kalosisz, I took a look at the repo you have provided. I want to try and reproduce this on AI Platform Training. Can you provide the values you used for the various flags (eg learning rate, laters) as well as the data?

A few other things that could help to isolate the problem: can you call model.fit but without validation data and let me know what you see? Also you're running this with CPU on

[2020-11-09 17:06] nikitamaia commented on #41042
Closing this issue now since original problem has been fixed. @hartikainen if these warnings cause any performance issues for you, feel free to open a new issue as they do not seem to be related. Thanks everyone!

[2020-11-09 17:06] #41042 closed

[2020-11-09 17:08] yakovdan opened #44708 "TFLite set_tensor fails unexpectedly in Tensorflow version 2.3.1"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Windows 10
- Mobile device: Snapdragon 855
- TensorFlow installed from: binary
- TensorFlow version: 2.3.1
- Python version: 3.7
- Bazel version: None
- GCC/Compiler version:None
- CUDA/cuDNN version: None
- GPU model and memory: None

I have a Keras model which I am able to convert to tflite both without quan

[2020-11-09 17:09] nikitamaia commented on #44637
Hi @devtronslab, can you provide reproducible code so I can run this on my end? Your code looks fairly standard to me so I suspect I won't actually be able to reproduce this error, but always good to try.

Additionally, can you try:
-training with just GPUs 2 and 3
-in the 4 GPU case set `tf.distribute.ReductionToOneDevice` so NCCL won't be used.

Also this sounds like it could be an issue you wou

[2020-11-09 17:19] #44245 closed

[2020-11-09 17:23] srjoglekar246 commented on #44612
+1 to what @teijeong  said.

Ensure that you are initializing the interpreter only once during init, since the shader compiling unfortunately does take some time.

For this reason, the GPU delegate is appropriate when the number of inferences are more than a few, to offset the extended compilation time :-). If this isn't true for your case, maybe increasing the number of threads to the CPU kernels

[2020-11-09 17:33] cookingbear commented on #44520
@jaeyoo @abattery If there is any update or information needed to be provided, please let me know. Thanks very much!

[2020-11-09 17:36] nikitamaia commented on #43195
Seems that class weights are not supported with TPUs this way. I am linking to two Kaggle threads that could help with finding a workaround.
[Flower Classification with TPUs](https://www.kaggle.com/c/flower-classification-with-tpus/discussion/130272)
[ALASKA2 Image Steganalysis](https://www.kaggle.com/c/alaska2-image-steganalysis/discussion/149689)

[2020-11-09 17:39] rxsang commented on #43195
It may be related to an issue @tf-marissaw is working on.

Meanwhile, can you check if the problem goes away if you set `drop_remainder=True` when calling `dataset.batch`?

[2020-11-09 17:50] TAIYISONG commented on #42475
I set the original colab as "Anyone on the internet with this link can edit". I don't have access to above 2 new colabs either, but not a big deal lol.

**Is there any plan under way to 'fix' this issue in TF?** As Skip-Gram is the simplest model.

Still I would like to use the most advanced optimizer in my work. RANGER optimizer, which refers to the combo of newly introduced optimizers LOOKAHEAD

[2020-11-09 17:57] ramanps05 commented on #44606
@abattery, @tensorflower-gardener could be please give any suggestion on how to solve this problem.

[2020-11-09 18:00] srjoglekar246 commented on #44606
Hey @ramanps05 we don't have a concrete timeline for this yet, but I will take a look at this next week or so.

[2020-11-09 18:11] levimcclenny commented on #44698
Not sure if it'll help but you may try

`train_dataset = strategy.experimental_distribute_dataset(train_dataset)`

Or, to wrap your preprocessing function you could use

`strategy.experimental_distribute_dataset_from_function(argument)`

to batch your data across your workers. Seems like each worker is trying to work on the entire dataset from this snippet instead of doing a data parallelism appro

[2020-11-09 18:12] fuckfrancisco commented on #44519
realy ? you can convert from v1 to v2 automatic with tf_upgrade_v2 ? that's nice... thank I will try this :)

[2020-11-09 18:14] liyunlu0618 commented on #31802
Since your entire model is trained with QAT, you don't need post-training quantization. Try remove all optimization related options and re-convert your model.

[2020-11-09 18:23] devtronslab commented on #44637
@nikitamaia This is the best I can do regarding code since I won't be able to provide you with a dataset. The only difference between what I've provided and what I use is the `embeddings` vector gets concatenated with 2 other single float inputs and there is a second output of a single float. This is supposed to be an autoencoder, so the second output is a recreation of one of the float inputs, an

[2020-11-09 18:35] eafpres commented on #38518
I had the same issue today. Using
[code]
 "fixed" the problem.
However, possibly unrelated, it now takes a long time (like a minute or more) to go from attaching GPU 0 to start training.  Unclear what is taking so long.

[2020-11-09 18:48] devtronslab commented on #44637
@nikitamaia Following one of the links you've provided, I increased the shared memory size of the docker container with the `--shm-size=256m` flag, and the errors have gone away. Closing this issue. Thanks for the help!

[2020-11-09 18:48] #44637 closed

[2020-11-09 18:57] angerson commented on #44058
@jhseu Do you know who should be notified about golang issues like this?

[2020-11-09 19:06] Saduf2019 commented on #44459
@drjubbs
As you as see this is not a bug because of tensorflow and i was able to run your code without any crashing, as the issue is resolved please move this closed status.

[2020-11-09 19:19] #44123 closed

[2020-11-09 19:19] GF-Huang commented on #39955
You tell me only available with tf-nightly?

![image](https://user-images.githubusercontent.com/4510984/98586322-84833f00-2303-11eb-8c21-afe3e24fe1df.png)

[2020-11-09 19:19] #44143 closed

[2020-11-09 19:34] AngshuBh10 commented on #39442
I tried but not working

[2020-11-09 19:39] mdanatg commented on #42475
Yes, this is a significant bug and we definitely plan to fix it, though I couldn't give an exact timeline. We're currently discussing a few solutions internally.

The choice of optimizer influences performance so much is due to the nature of the bug: essentially, we have some computations that are executed on the CPU (likely the embedding lookups). That causes data transfers between CPU and GPU, w

[2020-11-09 19:46] cheshire commented on #42475
For more context, this is explicit CPU placement in the embeddings layer: https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/python/keras/layers/embeddings.py;l=141?q=layers%2Fembeddings.py%20file:tensorflow

[2020-11-09 19:50] fridex commented on #42475
Is this bug specific only to tensorflow==2.3.0 or does it apply also to older versions?

[2020-11-09 19:55] SteveGdvs opened #44709 "sequences_to_texts on character level tf.keras.preprocessing.text.Tokenizer adds spaces between characters"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows 10 2004**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below): **v2.3.0-54-gfcc4b966f1 2.3.1** and **v2.3.0-0-gb36436b087 2.3.0**
- Python version: **3.7.

[2020-11-09 20:18] bdch1234 opened #44710 "On-disk cache for compiled functions"
Is there a way to cache compiled tf.functions in between sessions with auto-load? As a reference, numba has the option cache=True:
https://numba.readthedocs.io/en/stable/user/jit.html?highlight=cache#cache

**System information**
- TensorFlow version (you are using):
2.3.1

[2020-11-09 20:20] YijinLiu commented on #44691
Unfortunately, tf2 doesn't fully support the model I am using. I am stuck in tf1 for now.
I use the C++ interface. I assume there is no much difference between tf1 and tf2?
I tried tf1.5, which has the exact same issue. I guess it's related to some mkl C++ code that cannot handle conv2d for models trained with tf1.4+. Is it possible that you have some guy from Intel (whoever contributed https://gi

[2020-11-09 20:24] Demin92 commented on #44612
Ok, thanks for your advices, I will try it)

[2020-11-09 20:24] #44612 closed

[2020-11-09 20:26] karimnosseir commented on #43547
@neeraj-partha @aki65  Thanks for verifying that the issue happens with android 10. Will check and update the issue.
Thanks

[2020-11-09 20:39] mdanatg commented on #42475
The explicit placement was done two years ago, so it probably applies to all versions of `kers.layers.Embedding`. That said, it might go unnoticed in practice if for example the embedding table is too large to fit the GPU memory, or if the model is large enough to dominate the compute time.

[2020-11-09 21:01] aki65 commented on #43547
@karimnosseir Just to avoid any misunderstandings: The problem did not come with android 10 (I had that before), but with the latest OnePlus update from October 2020 (they update every two months). So it may well be related to some exaggerated security measures because of the DSP "vulnerabilities" detected lately.

[2020-11-09 21:04] kalosisz commented on #44688
Hi @nikitamaia,

Yes, I'm using CPU only. The machines are *n1-standard-4*.

The data is available here `gs://szilard-ml-sandbox-eu-public/random_data_tfrecords`. The bucket is located in the EU and *requester pays* is switched on.

I've tried to remove the validation, but it did not help (run on nightly). The parameters I've run all the trials are `--layer-size 100 10 --learning-rate 0.01 --epoch

[2020-11-09 21:07] karimnosseir commented on #43547
Thanks a lot @aki65  for confirming. We will check and update the issue.
Thanks a lot for the update and more information.

[2020-11-09 21:36] plooney opened #44711 "memory leak in tf.keras.Model.predict"
https://stackoverflow.com/questions/64199384/tf-keras-model-predict-results-in-memory-leak

<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written cus

[2020-11-09 21:37] plooney commented on #44711
https://stackoverflow.com/questions/64199384/tf-keras-model-predict-results-in-memory-leak

Seems to be an issue with tf.keras.Model.predict

[2020-11-09 22:30] angerson commented on #14934
We don't have plans for this. Unfortunately, due to loss of staff on our team, it's more likely that we'd have to shrink our Docker support instead, but there are no plans as of now.

[2020-11-09 22:41] daniel-merrick commented on #44704
Thought Tensorboard would be installed with Tensorflow.

Solved with:

    pip3 install --upgrade tensorboard

[2020-11-09 22:41] #44704 closed

[2020-11-09 22:52] skribm9 opened #44713 "//tensorflow/compiler/xla/service/cpu:vectorized_reduce_with_no_vector_registers_test fails on s390x"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ub18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.3.1
- Pyth

[2020-11-09 23:13] charlielito commented on #44568
@amahendrakar

[2020-11-09 23:14] SalihACan commented on #42740
I got same error. After I tried with tensorflow it worked.
Tensorflow version : '2.3.1'
Tensorflow.keras version : '2.4.0'
Thanks.

[2020-11-09 23:16] amorisot commented on #44449
I'd like to say that I am also encountering this issue, and would appreciate clarification!

[2020-11-09 23:33] mrosales commented on #44609
This isn't a solution, but I spent a fair amount of time digging into this trying to find a workaround. This is a little brain dump of my progress.

I was able to get a custom build of TFLite built and packaged as an XCFramework in a private SPM module, but it required a handful of hacks to get working properly. I'm not really comfortable with bazel though, so I did all of this with writing a bash

[2020-11-09 23:57] TAIYISONG commented on #42475
Thanks @mdanatg, good to know more about TF schema behind the scene and you guys are planning to update it. Looking forward to seeing the issue go away. :)

[2020-11-10 00:02] angerson commented on #44279
./configure has been run in this environment prior to the `bazel` call, correct?

[2020-11-10 00:08] #42429 closed

[2020-11-10 00:08] #33264 closed

[2020-11-10 00:15] angerson commented on #42221
Can you try and reproduce this at `master` HEAD, please?

[2020-11-10 00:18] m4masood commented on #41855
@q-55555 how did you managed to get it working? did you recompile the tensorflow on windows machine? any step by step guide would be appreciated.

Thanks

[2020-11-10 00:19] melrobin commented on #44279
Yes I ran configure.  Not choosing CUDA allows a build. Choosing CUDA
fails.

On Mon, Nov 9, 2020 at 6:03 PM Austin Anderson <notifications@github.com>
wrote:

[2020-11-10 00:19] #44134 closed

[2020-11-10 00:21] angerson commented on #44255
@mihaimaruseac @broken I'm not very familiar with the ABIs and how this could have happened, or if it could happen again.

Do either of you have any more insight on this? I'm wondering if it would be fixed if we just re-deployed the 2.3.0 containers.

[2020-11-10 00:33] fuckfrancisco commented on #33696
I had this problem when compling TF 1.15.4 with --linkopt="/DEBUG:NONE" on windows

[2020-11-10 01:20] jnd77 commented on #44417
@ymodak Thanks a lot for your message. I will try revert  to an older version of Cudnn and monitor.

[2020-11-10 01:23] ravikyram commented on #44711
I have tried in TF GPU with version [2.3 gist](https://colab.research.google.com/gist/ravikyram/c9430bc7667e6299feaeab3b905418f7/untitled501.ipynb) ,nightly version(`2.5.0-dev20201109`) [gist](https://colab.research.google.com/gist/ravikyram/bf1336b625d9c416c9838280e162247c/untitled502.ipynb) and was able to reproduce the issue.Thanks!

[2020-11-10 01:33] zhangsanfeng86 opened #44714 "LeakSanitizer: detected memory leaks"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-11-10 02:02] srjoglekar246 commented on #43547
Looks like some OEMs might have locked down DSP access after the recent vulnerabilities as you figured. There are plans underway to mitigate some of this going forward, but we haven't got a timeline yet.

For the time being, does using the NNAPI delegate work for your use case?

[2020-11-10 02:08] zhedongzheng commented on #35102
This issue makes senses, and pytorch team has already fixed this.

[2020-11-10 02:42] impjdi commented on #44336
Thanks for the reminder.  Here's the response I'm forwarding.

Indeed the v2.2.0 included the issue which you just faced. The check was removed because objects with the same definitions are supported by DefaultTensorTie (see DefaultTensorTie::Init method). The cl you spotted is not enough to solve this issue, there must be 2 more changes in. If we open tensorflow/lite/delegates/gpu/gl/api2.cc hist

[2020-11-10 02:54] gitlabspy commented on #44698
@levimcclenny Thanks for your suggestion! I did `train_dataset = strategy.experimental_distribute_dataset(train_dataset)` but I forgot to put it in my code. I also try remove randomness from map function by removing `tf.image.random_brightness(img, max_delta=0.1)` but it doesnt help at all.

The reason for slow start-up, I think it should be caused by the dataset. Before training, I test the model

[2020-11-10 03:13] ravikyram commented on #44708
I have tried in colab with TF version 2.3, nightly version(`2.5.0-dev20201109`) and was able to reproduce the issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/0c936ae628894ef6cefba54a0ade47c6/untitled503.ipynb).Thanks!

[2020-11-10 03:17] levimcclenny commented on #44698
That's odd behavior, I have been recently building a MirroredStrategy distributed training loop in the latest stable (v2.3.1) that seems to behave normally.. perhaps try with that version instead of nightly? I'm not sure other than that.

[2020-11-10 03:26] ravikyram commented on #44705
I have tried in colab with TF version 2.3. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/df90560119494e74b2e26d6090f7033c/untitled504.ipynb).You are also seeing the same behavior?

Thanks!

[2020-11-10 03:52] stevenwong951028 commented on #44414
@amahendrakar
The error is that the code won't get reproducible results.

To elaborate on that, in gpu environment, I get different results on the accuracy and the loss on every runs. With seeding and tf_deterministic_ops all set.

The weird part is, I can get reproducible results on a plain cnn-mnist (in gpu environment)

[2020-11-10 04:17] jvishnuvardhan commented on #44711
@plooney `model.predict` is a high-level API which is designed for batch-predicting outside of any loops. It automatically wraps your model into a tf.function and maintains graph based execution. Which means, if there is any change in input signature (`shape` and `dtype`) to that function (here model.predict), then it traces multiple models instead of a single model as you are expecting.

In your

[2020-11-10 04:25] rishikeshF commented on #38619
@SangamSwadiK Hello, could you please elaborate exactly how you did, am facing similar error and am not getting any clue to resolve it.

[2020-11-10 04:28] aRandomBlock commented on #44669
The issue has been resolved after installing Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019.

[2020-11-10 04:28] #44669 closed

[2020-11-10 04:34] Saduf2019 commented on #44700
@Lifann
There is support for 2.x only, Can you please upgrade your tf version and let us know if you face any issues on 2.x

[2020-11-10 04:43] Saduf2019 commented on #44697
@peachthiefmedia
Can you please paste the error log (using makrdown formatting around it) .

[2020-11-10 04:43] Saduf2019 commented on #44699
@tanjia123456
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

[2020-11-10 04:43] daspranab commented on #44641
Sorry for the delay; there's was an unavoidable circumstance. Will post latest later today.

[2020-11-10 04:53] gdj0nes commented on #39036
@bhack I would be interested. I haven't taken a look at the latest changes to Keras but I will see if what I currently have is compatible.

[2020-11-10 05:05] daspranab commented on #44641
Exactly the same error repeated after installing the Cuda version mentioned by me before. Please let me know if any other version was to be used. I have no time; hence, will appreciate a considered response early.

[2020-11-10 05:08] over-shine commented on #44285
So, how to deal it?

[2020-11-10 05:45] ramanps05 commented on #44606
Hi @srjoglekar246 , thanks for the update. I also wanted to ask if functionality to do this task is already there but I can't figure it out.

[2020-11-10 05:47] anjugopinath opened #44718 "lib/python3.6/site-packages/tensorflow_probability/python/experimental/auto_batching/frontend.py", line 44, in <module> from tensorflow.python.autograph.core import naming ImportError: cannot import name 'naming'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (

[2020-11-10 05:47] LxzBUG commented on #34489
@jdduke https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/cmake, I have generated static files,but when I integrate them into cmakelist,all  undefined reference to `TfLiteModelCreate'   undefined reference to  undefined reference to

[2020-11-10 05:48] anjugopinath commented on #44718
How can I get it working with tensorflow version 1.15?

[2020-11-10 05:49] anjugopinath commented on #44718
Complete log:
python handObjectTrackingSingleFrame.py --seq 'test' --showFig --doPyRender
2020-11-09 22:41:54.700734: W tensorflow/stream_executor/platform/default/dso_loader.cc:59] Could not load dynamic library 'libcudart.so.10.1'; dlerror: libcudart.so.10.1: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: :/usr/local/cuda/lib64:/usr/local/cuda/extras/CUPTI/lib64
2020

[2020-11-10 06:01] ravikyram commented on #44718
@anjugopinath

I have tried in colab  with TF version 1.15 and i am not seeing any issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/d0a8523a9563bfee371ef212780a2b5c/untitled505.ipynb).

Please, refer similar issues #40584, #40385 and see if it helps you. Thanks!

[2020-11-10 06:04] anjugopinath commented on #44718
@ravikyram  Thank You ... Can I try this command: " pip install tfp-nightly 0.11.0.dev20200708" ?

[2020-11-10 06:07] ZhaoyangLi-nju opened #44720 "C++ inference with tensorflow1.15"
when I do inference with c++, this problem arised,
"2020-11-10 13:41:29.363429: F tensorflow/core/framework/op.cc:200] Non-OK-status: RegisterAlreadyLocked(deferred_[i]) status: Already exists: Op with name _Arg Aborted (core dumped)
"
tensorflow1.15 python 3.6

[2020-11-10 06:10] anjugopinath commented on #44718
I had tensorflow-probability version 0.8.0 ... I installed version 0.7 with the command "pip install tensorflow-probability==0.7" inside the conda virtual environment and I am not getting that error now...

Thank You very much!!

[2020-11-10 06:10] #44718 closed

[2020-11-10 06:20] Saduf2019 commented on #44720
@ZhaoyangLi-nju
Tf 1.15 is not supported, please upgrade to 2.x and let us know if you still face any issues.

[2020-11-10 06:31] m4masood commented on #41855
@amitport  I tried renaming the file cudart64_111.dll to cudart64_101.dll but no luck.

[2020-11-10 06:31] xyangk commented on #44572
tfserving response: https://github.com/tensorflow/serving/issues/1766#issuecomment-724481376

[2020-11-10 06:31] #44572 closed

[2020-11-10 06:32] abattery commented on #44520
@cookingbear Could you share your checkpoint data to us if possible? If not, we need to find a way to verify your situation in our side.

[2020-11-10 06:33] Saduf2019 commented on #44641
@daspranab
Please share a simple stand alone code to replicate the issue faced or if possible share a colab gist with the issue reported.

[2020-11-10 06:38] multiverse-tf commented on #44659
Hi,

As the log mentions the following, it means the missing OpenCL lib isn't a issue here, and OpenGL is used instead for the GPU delegate. However, there's some memory related issue.
"
Falling back to OpenGL
TfLiteGpuDelegate Invoke: Write to buffer failed. Source data is larger than buffer.
",

Considering you are running the example w/ tflite 2.0 and tflite-gpu-delegate 2.0, I'm wondering does

[2020-11-10 06:42] multiverse-tf commented on #41839
This issue looks similar to https://github.com/tensorflow/tensorflow/issues/44659.  Just wondering does more recent tflite build fix the issue? Thx!

[2020-11-10 06:46] multiverse-tf commented on #33410
Such "TfLiteGpuDelegate Invoke: Write to buffer failed. Source data is larger than buffer" also appears in more recent issues like https://github.com/tensorflow/tensorflow/issues/41839, https://github.com/tensorflow/tensorflow/issues/44659. Just wondering does more recent tflite build (tflite 2.3.0, tf-nightly etc.) fix the issue? Thx!

[2020-11-10 07:07] iBug opened #44721 "TFLite TensorArrayScatterV3 failed (not found)"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04 (work) / Android 9.0 (inference)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Motorola Nexus 6
- TensorFlow installed from (source or binary): Source (m

[2020-11-10 07:09] Angel3636 commented on #42311
Hi, what are the changes you have made to start the training?

[2020-11-10 07:15] archie94 commented on #44659
Thank you for your response @multiverse-tf

I will update to `2.3.0` and revert on this.

[2020-11-10 07:18] archie94 commented on #43793
One week after the OpenGL ES 3.1 check there are no issues on the new release. I think this issue is resolved.

Thank you @impjdi @srjoglekar246 for you help :)

[2020-11-10 07:18] #43793 closed

[2020-11-10 07:18] marziehoghbaie opened #44722 "TimeDistributed layer and Nested Modules"
Hi there,
I am using time distributed layer to apply another model on each frame and processing the final features by conv 3D. the model is trained properly. but when I want to load the model and use it for test, the model acc on the same val dataset is not reproducible.
When I looked the model summary I saw that if I use TimeDistributed layer with a model I can see that model parameters in the su

[2020-11-10 07:45] JiangKui007 commented on #28660
It work for me.
`conda create -n tf-cpu tensorflow==1.13.1`

can install python3.7.9 and tensorflow 1.13.1

[2020-11-10 08:14] maxkaustav opened #44723 "When using opt.apply_gradient(zip(grads,model.trainable variables))"
ValueError: No gradients provided for any variable: ['dense_flipout_1/kernel_posterior_loc:0', 'dense_flipout_1/kernel_posterior_untransformed_scale:0', 'dense_flipout_1/bias_posterior_loc:0', 'dense_flipout_2/kernel_posterior_loc:0', 'dense_flipout_2/kernel_posterior_untransformed_scale:0', 'dense_flipout_2/bias_posterior_loc:0'].

[2020-11-10 08:19] #44297 closed

[2020-11-10 08:19] #44287 closed

[2020-11-10 08:19] #44284 closed

[2020-11-10 08:26] ravikyram commented on #44701
@arun4ss

As per Intel's [product specification](https://ark.intel.com/content/www/us/en/ark/products/52952/intel-core-i5-480m-processor-3m-cache-2-66-ghz.html), your CPU doesn't support AVX. For more information, please take a look at the [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements) to install TensorFlow with pip.
Alternatively, you can build

[2020-11-10 08:27] amitport commented on #41855
@m4masood no I deleted the previous messages because mine was with cubsolver not cudart64_101.dll.

if it helps, makre sure you are using a tf version that looks for cuda 11.1 (nightly or 2.4 rc)
2.3 will still look for cuda 10.1 on windows, so if you upgraded cuda and not tf you still have an incompatibility

[2020-11-10 08:29] ravikyram commented on #44714
@zhangsanfeng86

Provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2020-11-10 08:36] cookingbear commented on #44520
Sorry, the checkpoint currently can not be provided. However, I recently found that if I add the line in the __init__ function:

[code]
in which position.npy is a matrix of which the value can be randomly set.
And replace the _feedforward_decoder function with the code below:
[code]
I convert this model into tflite, and after several rounds of calculations, I can see that the "self.position" value

[2020-11-10 08:43] xaver-k commented on #44555
I ran into the same behaviour again today using `tf.data.Dataset.from_tensors()`. Slow with a list of `np.array`, fast with a single `np.array`.

[2020-11-10 08:55] yang20091116 opened #44724 "Compiling tensorflow Lite into Android dynamic library"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Centos 7.1
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):tensorflow2.3.0
- TensorFlow version:tensorflow2.3.0
- Python version:python3.5
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from s

[2020-11-10 09:12] YANxu-666 opened #44725 "module 'tensorflow.lite.python.schema_py_generated' has no attribute 'Model'"
# Convert the model to the TensorFlow Lite format without quantization
converter = tf.lite.TFLiteConverter.from_saved_model(MODEL_TF)

AttributeError                            Traceback (most recent call last)
<ipython-input-57-448f10b1b0c8> in <module>()
     18 # Provide a representative dataset to ensure we quantize correctly.
     19 converter.representative_dataset = representative_dataset
-

[2020-11-10 09:15] yang20091116 commented on #44724
Cross compiler version：gcc-linaro-6.1.1-2016.08-x86_64_aarch64-linux-gnu

[2020-11-10 09:19] #44248 closed

[2020-11-10 09:34] ofshellohicy commented on #28326
save me time!!!

[2020-11-10 09:44] ravikyram commented on #44725
@YANxu-666

Please, refer similar issue #41846 and see if it helps you.
If issue still persists please, provide the below information to debug further.
Please, fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

Request you to share colab link or simple standalone code with supporting files to reproduce the issue in our environment. It helps us in localizing the iss

[2020-11-10 09:51] ravikyram commented on #44722
@marziehoghbaie

Can you please fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).Please, let us know the TF version you are using.

Please, share colab link or simple standalone code with proper indentation to reproduce the issue in our environment.It helps us in localizing the issue faster. Thanks!

[2020-11-10 10:07] peachthiefmedia commented on #44697
Apologies, I'd corrected it before I took logs. Here they are

[code]

It should say

[code]

[2020-11-10 10:33] landat opened #44727 "Running tf from docker with --read-only mode"
- TensorFlow version: 2.2.0
I'd love to run my app with docker run --read-only option, but startup fails when tf runs tests that try to create a temporary folder.
[code]
I wonder if it's possible to turn off these tests?
Provide param to turn off tests on starting up?
Those who are willing to run tf from docker in a read-only mode which is safer will benefit from this possibility.
If it's already

[2020-11-10 10:41] ibmua commented on #44116
Ran extensive benchmarks https://fsymbols.com/3080-3090-benchmarks/

[2020-11-10 11:05] Emile0205 commented on #33030
train_on_batch still has a memory leak... del and gc.collect() does not work

[2020-11-10 11:08] Emile0205 opened #44728 "Keras/Tensorflow train_on_batch memory leak"
Please do help

train_on_batch has a memory leak in my and many other people's code. It was thought to only be on predict and fit, which was solved with a del and gc.collect(), but train_on_batch cannot be solved by this. Please someone help!

[2020-11-10 11:19] #44283 closed

[2020-11-10 11:27] Saduf2019 commented on #44721
@iBug
I ran the code shared on tf nightly and did not see any error, can you please share a colab gist with the code and error reported.
Could you please refer to these resolved issues with the same error and let us know: #42214 , #43270

[2020-11-10 11:28] Saduf2019 commented on #44728
@Emile0205
Please share a simple stand alone code to replicate the issue reported.

[2020-11-10 11:53] devandong commented on #44369
hey guys, any update?

[2020-11-10 12:27] marziehoghbaie commented on #44722
@ravikyram
TNX, I edited my issue and submitted it in **Issue: Other Issues** template.

[2020-11-10 12:41] YANxu-666 commented on #41846
F:\anaconda3\Lib\site-packages\tensorflow\lite\pythonschema_py_generated.py      There is no code, it is empty.
how to solve this problem？

[2020-11-10 12:56] sxj731533730 commented on #28517
when i using vs2017+cmake+tf-r1.15 to making static lib,i encounter a  problem;
CMake Error at tf_python.cmake:132 (message):
  Python proto directory not found: tensorflow/contrib/tpu/profiler
Call Stack (most recent call first):
  CMakeLists.txt:612 (include)

[2020-11-10 12:58] daspranab commented on #44641
Kindly see my first submission. It's the same. I didn't make any change.

[2020-11-10 13:15] mbalazs98 commented on #44705
The fit of the actor and critic is in the for loop, and for me fails after about 30 iterations.

[2020-11-10 13:15] mbalazs98 commented on #44705
![image](https://user-images.githubusercontent.com/49280623/98678649-30a64380-235f-11eb-9983-93f9d92415b7.png)

[2020-11-10 13:16] mbalazs98 commented on #44705
The fit of the actor and critic is in the for loop and for me fails after about 30 iterations.

[2020-11-10 13:19] #44296 closed

[2020-11-10 13:19] #44327 closed

[2020-11-10 13:19] #44249 closed

[2020-11-10 13:19] #44321 closed

[2020-11-10 13:25] dtsmith2001 commented on #34459
@amahendrakar Sorry, I got diverted. Let me look into this today.

[2020-11-10 13:26] natario1 commented on #44336
@impjdi that's not the case unfortunately, I correctly hit [L175](https://github.com/deepmedia/tensorflow/blob/ac8aad5c55838566a26ed6725c966d399319c831/tensorflow/lite/delegates/gpu/gl/api2.cc#L175), which means that `user_provided` and `is_same_def` are both true. I setup the object def as follows:

[code]

So that if I pass is_dhwc4=false, inference works, if not, I get blank results.

Given tha

[2020-11-10 14:09] gitlabspy commented on #44698
Some info from profiler, it might be helpful?

![Screen Shot 2020-11-10 at 10 06 50 PM](https://user-images.githubusercontent.com/61307585/98684464-2a38bb80-23a1-11eb-9e63-4ec045972322.png)
![Screen Shot 2020-11-10 at 10 05 12 PM](https://user-images.githubusercontent.com/61307585/98684465-2c027f00-23a1-11eb-8f12-5c827ac3d1a4.png)

[2020-11-10 14:15] lschneidpro opened #44730 "Bug/Issue tf.data.Dataset for Keras multi-input model"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.15.7
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.3.1
- Python version: 3.7

**Describe the current behavior**
I built a multi-input model with the Keras functional API. The idea is to classify a text and its metadata. The model works fine with NumPy form

[2020-11-10 14:18] #44728 closed

[2020-11-10 14:25] fotiDim commented on #43339
I tested again on iOS 14.1 and 14.2 and it seems to be resolved. Can someone verify?

[2020-11-10 15:00] nouiz commented on #36974
I hit that problem today. I made a PR that move the stub to the end. This fix this problem: https://github.com/tensorflow/tensorflow/pull/44732

[2020-11-10 15:19] 007Nick700 opened #44733 "AttributeError: module 'tensorflow.compat.v2' has no attribute 'app'"
Hi,
First of all, I'm new to github and Iwasn't sure where to post this so sorry if it's in the wrong place. I'm trying to set up an object detector for my master's but I keep on running into issues.

**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow version: 2.3.0
- CUDA: 10.1
- cuDNN:  7.6.5

I've tried many many different things but I keep on running into issues tha

[2020-11-10 15:33] Saduf2019 commented on #44733
@007Nick700
Could you please refer to this comment of similar [resolved issue](https://github.com/tensorflow/tensorflow/issues/37128#issuecomment-600352999) and let us know.

[2020-11-10 15:54] bguetarni commented on #33030
It's been 2 weeks that I am having this problem too. My memory usage double while my model is fitting.

Before doing `gc.collect()` as suggested by @heilwood you can use `tf.keras.bakcend.clear_session()`.
Anyway, this is just a workaround not a fix !

[2020-11-10 15:57] Emile0205 commented on #33030
I can't get a work around to be successful because I'm using combined models for GANs. This is very annoying.

[2020-11-10 16:09] itsmemuthu opened #44734 "Dependencies for BERT-QA android not clear"
**System information**
- OS Platform and Distribution - (Linux Ubuntu 16.04)

Gradle and android SDK version not specified in the README of Android bert-qa for Question Answering
https://github.com/tensorflow/examples/tree/master/lite/examples/bert_qa/android

It would be helpful if you could add those details.

[2020-11-10 16:25] jdduke commented on #44609
@yyoon and @teijeong have we done any investigation into supporting the Swift Package Manager?

[2020-11-10 16:26] creidieki commented on #44348
It seems to only happen with the ctc loss. If I change the loss function to:
`def ctc_lambda_func(args):
    return K.constant(1, shape=(24, 1))`
it doesn't crash.

I don't know about the tf.data question, because the documentation for tf.data.Dataset doesn't cover creating a dataset from a dictionary of named inputs. I tried adding the line
`inputs = tf.data.Dataset.from_tensor_slices(inputs)`
ju

[2020-11-10 16:48] Luis-gd commented on #39132
how do you make to do python find tensorflow-cuda? I installed that metapkg but python says that there is no tensorflow installed

[2020-11-10 16:48] #44680 closed

[2020-11-10 17:00] creidieki opened #44736 "Validation step overwrites callback's internal predict call"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.1 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.3

[2020-11-10 17:12] ravikyram commented on #44736
@creidieki

I have tried in colab with TF version and was able to reproduce the issue. However issue got resolved in nightly version`(2.5.0-dev20201110`).Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/a3dedb7ebfe9d30e668853a18a078726/untitled506.ipynb).Please,verify once and close the issue.Thanks!

[2020-11-10 17:19] #44299 closed

[2020-11-10 17:19] #44207 closed

[2020-11-10 17:25] srjoglekar246 commented on #44606
It essentially boils down to making the [writer](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/writer/writer.cc#L37) write all subgraphs in the Interpreter, instead of just the `primary_subgraph`. The TFLite `Interpreter` has `subgraph(index)` & `subgraphs_size()` methods that we can use to accomplish this.

Feel free to give it a try if feel inclined :-).

[2020-11-10 17:32] mihaimaruseac commented on #44255
Let's try to redeploy the 2.3.0 container. It's possible we generated them using a different branch by mistake.

[2020-11-10 17:32] oclyke opened #44737 "Discussion of Apollo3 TFLu PRs"
@tensorflow/micro

Hi @advaitjain, or whoever it may concern.

Thank you for the [explanation closing my last PR](https://github.com/tensorflow/tensorflow/pull/43831). I'd like to restructure and improve those features so that they can be accepted into the project. From what I understand there are two main concerns:

* keeping PRs focused to one issue/feature each
* trying to deduplicate code for

[2020-11-10 17:32] ravikyram commented on #44730
I have tried in colab with TF version 2.3 [gist](https://colab.research.google.com/gist/ravikyram/40cd7f4575bfcbc6acb4d185f40f6e37/untitled507.ipynb) and nightly version(`2.5.0-dev20201110`) [gist](https://colab.research.google.com/gist/ravikyram/7a0cd68016ff9ba86885f58fcf0ceb99/untitled508.ipynb) and was able to reproduce the issue. Thanks!