[2017-11-03 08:11] klaxman commented on #9680
For me, TF 1.0 pip3 install works fine with py35 and not py36. Had installed py35 and followed tf documentation and was able to install.

[2017-11-03 08:11] asimshankar commented on #14203
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks, in particular detailed instructions to reproduce the problem. Thank you.

[2017-11-03 08:11] #14203 closed

[2017-11-03 08:23] daisylab opened #14205 "TensorFlow r1.4 does not be compiled from 32bit environment."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-11-03 08:30] eaigner commented on #14186
Also fails on `master`

[2017-11-03 08:31] stefbraun commented on #6620
@protoget what does "CL" stand for?

[2017-11-03 08:59] salihkaragoz commented on #14177
@asimshankar  . I have also tried with Python 3.5.2 and Tensorflow '1.4.0' which is installed with pip3 tensorflow - gpu. I got same wrong results. I think the problem is related to GPU, it is old and has small memory. Thank you for your all effort.

[2017-11-03 09:02] #14177 closed

[2017-11-03 09:06] ViktorM commented on #12052
Why 1.4 still doesn't have CUDA 9 in binaries? This version was released quit a long ago and for using with V100 building from source is required which is not so smooth and fast following to a number of issues reported.

[2017-11-03 09:30] vellamike commented on #12052
@ViktorM  What issues did you have compiling from source? It was a bit tricky but not that hard.

[2017-11-03 09:45] albertz commented on #6568
This didn't fixed it for me. Actually that was a custom user op in my case. I think #13607 describes my issue. I wonder a bit that on my local system (Ubuntu 16.04), this doesn't seem to be needed but on Travis, it seems to be needed.

[2017-11-03 10:29] albertz commented on #13355
This is not fixed yet in 1.4.0. The test does not pass.

[2017-11-03 10:41] lucifer6666 commented on #7623
Can Anyone tell me how to train my own classifier in tensorflow using my own image files

and how to set up a trainer...

[2017-11-03 10:51] Carmezim commented on #7623
@lucifer6666 github issues are only for bugs and feat. requests. You can ask for support on stackoverflow.com under the TensorFlow tag for community support. O think TF has an tutorial on that, if it's not what you looking there's a lot of tutorials out there on image classification.

[2017-11-03 11:02] riless opened #14207 "Could not find any downloads that satisfy the requirement tensorflow"
I cannot install Tensorflow using `pip install tensorflow`

[code]

[2017-11-03 11:09] salman-bhai commented on #14182
ANything that can be changed here?

[2017-11-03 11:10] salman-bhai commented on #12935
Any idea when the PR will be merged till?

[2017-11-03 11:16] blueabysm commented on #6533
@MichaelCaraccio Since I run my project with python2, I change this command to
[code]
and it works well. But according to my test, this only occurs when I use linuxbrew installed python. Everything works fine if I use pyenv installed python even if they are the same version `2.7.14`, weird..

Anyway, thank you!

[2017-11-03 11:41] lucifer6666 commented on #7623
Traceback (most recent call last):
  File "classify_image.py", line 227, in <module>
    tf.app.run(main=main, argv=[sys.argv[0]] + unparsed)
  File "C:\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\platform\app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "classify_image.py", line 193, in main
    run_inference_on_image(image)
  File "classify

[2017-11-03 11:41] PhilippRK commented on #14207
See [installation guide](https://www.tensorflow.org/install/install_linux):

[2017-11-03 11:45] wieberinsma commented on #14182
Same problem on Ubuntu 17.10.

[2017-11-03 11:52] zjh-nudger opened #14208 "java.lang.UnsatisfiedLinkError: tensorflow_native_libraries-1509708652238-0/libtensorflow_jni.so: /lib64/libc.so.6: version `GLIBC_2.16' not found (required bytensorflow_native_libraries-1509708652238-0/libtensorflow_jni.so)"
The exception is caught when I run Tensorflow API in java. There is no GLIBC_2.16. The lowest version is 2.2.5. what should I do? Could I package the .so file by myself?

[2017-11-03 12:36] alyaxey commented on #7669
Take a look at this example:
https://stackoverflow.com/questions/46326848/early-stopping-with-experiment-tensorflow
[code]

[2017-11-03 12:51] Carmezim commented on #7623
@lucifer6666 Could you please elaborate on the problem adding all other relevant information to your log? Check the Issue template for reference on how you could provide that so we can better help you.
With the limited information I can only conclude by looking at your log that you seem to not have permission to access `flower_photos` locally, so it's not a TensorFlow bug.
I could give a wild gues

[2017-11-03 13:04] lucifer6666 commented on #7623
I:\projects\py>python -m scripts.retrain \--bottleneck_dir=tf_files/bottlenecks \--how_many_training_steps=500 \--model_dir=tf_files/models/ \--summaries_dir=tf_files/training_summaries/"${ARCHITECTURE}" \--output_graph=tf_files/retrained_graph.pb \--output_labels=tf_files/retrained_labels.txt \--architecture="${ARCHITECTURE}" \--image_dir=tf_files/flower_photos
ERROR:tensorflow:Image directory ''

[2017-11-03 13:06] soenkyo opened #14209 "Why eager concat inputs?"
I am using eager to implement a seq2seq model.
Here is a [toy model](https://github.com/soenkyo/toy_seq2seq_4_debug):
No error arise in forward calculate, but in backprop, I get:

`Traceback (most recent call last):
  File "/home/usr/eager/test.py", line 18, in <module>
    tf.app.run()
  File "/home/usr/miniconda2/lib/python2.7/site-packages/tensorflow/python/platform/app.py", line 48, in run

[2017-11-03 13:09] sjperkins commented on #13308
Made a mistake when testing this. Shard still segfaults when the op is compiled with g++ 5.4.0 (as opposed to the tensorflow binary compiled with g++ 4.8.4)

[2017-11-03 13:09] riless commented on #14207
Yes, that's it. Thank you.

[2017-11-03 13:09] #14207 closed

[2017-11-03 13:29] lucifer6666 commented on #7623
I Corrected the previous error ,
Now it is showing this error

C:\Users\welcomepc>python -m scripts.retrain \--bottleneck_dir=tf_files/bottlenecks \--how_many_training_steps=500 \--model_dir=tf_files/models/ \--summaries_dir=tf_files/training_summaries/"${ARCHITECTURE}" \--output_graph=tf_files/retrained_graph.pb \--output_labels=tf_files/retrained_labels.txt \--architecture="${ARCHITECTURE}" \--i

[2017-11-03 13:30] littleDing commented on #11411
I report the same problem as @ahaider3 that small mini-batch on small model is terrible for distributed training using cpu.

When I train a deep&wide model with about 15 feas, embedding_size=32, I tried the 2/3/4 machine of ps+worker and ends up with the same speed as one machine of all in one process.
Only after increasing embedding_size to 256 give a 2x speed up with 4 machine.

[2017-11-03 13:43] barche opened #14211 "SWIGing tensorflow/python/tensorflow.i failed (Exit 1) on Centos 6.2"
Hi,

Trying to build on Centos 6.2 with the following command:
[code]
gives the following error:
[code]

Is there any way to at least see what the error from swig is? Running the reported command manually works fine.

[2017-11-03 13:52] pranay360 opened #14212 "Suggestion: Add Image Captioning Model Example for Android"
This is a suggestion to add Android example for our deep-learning based tensorflow-android app which captions live camera frames in real-time.
https://github.com/neural-nuts/Cam2Caption

This app uses pre-trained model generated using
https://github.com/neural-nuts/image-caption-generator

[2017-11-03 13:54] Kayoku opened #14213 "Feature tf.image : scale image and keep aspect/ratio"
Hi, I'm working on a FCN (Fully Convolutional Network) and use Tensorflow for this work. I have a lot of images in input, and they have very different dimensions, like 2340x4160 or 512x512. So my input need to be dynamic. It's why I search a way to resize images for having the greater dimension to a specific value, with respect to the aspect/ratio.

Unfortunatly, Tensorflow doesn't provide this fe

[2017-11-03 14:33] yongtang commented on #14213
I think this issue might be similar to #4290?

[2017-11-03 14:36] jamesben6688 opened #14214 "do fine tuning with my own image size"
I would like to do transfer learning and fine tuning with some pretrained model in tensorflow.contrib.slim. I searched some examples about this. However, almost all of these examples will resize images to the specified size that the model needs. For example, 224×224 is the size that vgg16 needed. Will it be possible to set my own image size? Like 512×512. In keras, I can do this like following:

[2017-11-03 14:37] tomzx commented on #14004
Based on the logs available @ http://ci.tensorflow.org/view/tf-nightly/job/tf-nightly-windows/M=windows-gpu,PY=35/90/consoleText (the tf-nightly-windows build for python 3.5 of November 3rd, 2017), it appears that gen_audio_ops.py is still not generated.

[code]

[2017-11-03 14:38] Leo-Mrl commented on #12860
I also encounter this problem in TF 1.4.0, any clue ?

[2017-11-03 14:39] tfboyd commented on #12052
26-SEP-2017 was the GA for CUDA 9.  If we release CUDA 9 + cuDNN 7 binaries in Q4 I think this will be the fastest we have upgraded cuDNN.  I was not here for 8.5 to 9 so I have no idea.   I would like us to go a little faster but this also means anyone with a CUDA 8 setup has to upgrade not just to CUDA 9 but they also need to upgrade their device driver to 384.x, which I can say is not something

[2017-11-03 14:46] tirrorex commented on #19
@RockfordWei any plan to create a pod? So that we can use it in ios apps too?

[2017-11-03 14:48] mrry commented on #14004
Thanks for letting us know. Looks like I missed a line in the CMake build... will send a PR shortly.

[2017-11-03 14:52] eli99999 opened #14215 "org.tensorflow.TensorFlowException: Op type not registered 'Sum' in binary running on localhost. Make sure the Op and Kernel are registered in the binary running in this process."
### System information
- **Have I written custom code**:
I worte a code that is based on this : https://www.tensorflow.org/api_guides/python/contrib.signal
trying to produce mfcc works fine in python but i cannot make it work in Android

- **OS Platform and Distribution  Linux Ubuntu 16.04
- **TensorFlow installed from source  **:
- **TensorFlow version 1.4.2:
- **Python version - 2.7
- **Bazel ve

[2017-11-03 15:01] Kayoku commented on #14213
You are right. So the feature was already proposed. But still I think it's an easy and useful feature to add! But my bad, didn't see the #4290 issue.

[2017-11-03 15:19] tirrorex opened #14217 "ios documentation for tensorflow-experimental"
Could we have a proper documentation (either in the pod files with a custom header) or in the readme?
It would help greatly to have the list of available methods and what they do (unless method name is self-explanatory).
Having to dig into ~20 objective-c files to get a grasp of what is possible in swift is not equivalent to a proper documentation

[2017-11-03 15:19] yongtang commented on #14213
@Kayoku Maybe we could close this issue and continue discussion in #4290? That may also generate more attention I assume.

[2017-11-03 15:19] banifou commented on #14182
Same on Ubuntu 14.04

[2017-11-03 15:25] ybsave commented on #14162
@ppwwyyxx I am sorry for my typo. I have corrected it. The gradient still pass when global_step < STEP_THRESHOLD.

[2017-11-03 15:26] Kayoku commented on #14213
Ok :)
Done!

[2017-11-03 15:26] #14213 closed

[2017-11-03 15:31] ppwwyyxx commented on #14162
You'll need to give a small repro then, for bugs like this. At least it works in my test:
[code]

[2017-11-03 15:31] yongtang commented on #14213
Thanks @Kayoku. I may looking into this issue and hopefully provide a fix if I could find some free cycles. Though I don't have a concrete timeline yet so I could not commit to get it done. Maybe someone else may provide a fix before that.

[2017-11-03 15:35] Kayoku commented on #4290
Hi, more than 1 year and this issue is still open. I also think that a function which maintains the aspect ratio would be great and very useful. You can see #14213 for a small piece of code.
Hope someone will work on it! Thanks

[2017-11-03 15:48] dartdog opened #14218 "TensorFlow 1.4 (gpu Linux) Py36 not built with Py36"
Installed TF 1.4 with pip install --ignore-installed --upgrade  https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.4.0-cp36-cp36m-linux_x86_64.whl
Gives me this error on import:
/home/tom/anaconda3/envs/tf4/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6

[2017-11-03 15:54] ebrevdo commented on #6620
It means "PR"

On Fri, Nov 3, 2017 at 1:31 AM, stefbraun <notifications@github.com> wrote:

[2017-11-03 15:55] ebrevdo commented on #13355
Have you tried in the nightlies?

On Fri, Nov 3, 2017 at 3:30 AM, Albert Zeyer <notifications@github.com>
wrote:

[2017-11-03 15:56] zhedongzheng commented on #14218
the same

[2017-11-03 15:57] ybsave commented on #14162
@ppwwyyxx Thank you so much for your quick response. To clarify my question, I am using slim.learning.train to perform the training, where the global_step increment was performed inside the function.

However, when I define my loss, it is defined before any session is created. Thus, when I use the global_step variable, I cannot get the correct value as tf.train.global_step requires a session as in

[2017-11-03 16:02] albertz commented on #13355
No, the official 1.4.0 release, installed via pip install. I thought that the commit should be in that release but not sure. Specifically, my version is `v1.4.0-rc1-11-g130a514 1.4.0`.

[2017-11-03 16:04] girving commented on #14191
@yongtang Thanks, looks perfect.

[2017-11-03 16:07] ppwwyyxx commented on #14162
Though I don't think I fully understand what's your problem, but you should not use `tf.train.global_step` for this. `tf.train.get_or_create_global_step` will give you the global step __tensor__ (instead of the value) and that's what you need. But still I'm not sure whether it works with high-level wrappers such as slim which takes control of the increment.

[2017-11-03 16:14] MadWombat opened #14219 "tf.layers.Network is in the documentation, but not the library"
**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support only helps individuals. GitHub also notifies thousands of people when issues are filed. We want them to see you communicating an interesting problem, rather than being redirected to Stack Overflow.

-----------------

[2017-11-03 16:19] ebrevdo commented on #13355
Commits to master don't always make it into 1.4 releases, they have to be
cherrypicked during the RC and it's possible that this bugfix was not.

On Fri, Nov 3, 2017 at 9:03 AM, Albert Zeyer <notifications@github.com>
wrote:

[2017-11-03 16:21] ispirmustafa commented on #14145
You can use `Dataset.from_generator` in your input_fn.

[2017-11-03 16:21] #14145 closed

[2017-11-03 16:23] MarvinTeichmann commented on #6847
@vrv  "2. It sounds like people want access to the gradient function of tf.extract_image_patches() without having to use it as a gradient (essentially a reduction). This is similar to people who want 'deconvolution' (the backward pass of convolution) as its own API. "

This is a quite common use-case for many ops even  beyond 'deconvolution'  and 'extract_image_patches()'. Do you think it would be

[2017-11-03 16:45] drasmuss opened #14220 "64MB protobuf limit"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: 3.5
- **Exact command to reproduce**:

[code]

### Describe the

[2017-11-03 16:45] vrv commented on #6847
@alextp What do you think?

The equivalent of .backward() might be exposing ops.get_gradient_function(), and would provide a mechanism to get the gradient of an op, but not as part of a documented API.  Perhaps that is good enough though?

[2017-11-03 16:50] allenlavoie commented on #14181
As long as we have reference cycles we're at the mercy of Python's garbage collection strategy. We could add some explicit `gc.collect()` calls in places (when popping the graph stack?), but for graph mode in TF 1.x I think that's the best we can do.

`graph.get_operations()[0].graph` is one definite reference cycle. I don't think this is something we can solve with weakref for graph mode while ma

[2017-11-03 16:53] alextp commented on #6847
You can get the equivalent of .backward() now for any tf op by doing something like tfe.gradients_function(tf.extract_image_patches)(arguments_to_image_patches ,..., dy=arguments_to_the_gradient_function) if tf.extract_image_patches has a gradient defined. When executing graphs this will only compute the forward pass if the backward function needs it (like how the gradient of exp or the gradient o

[2017-11-03 17:03] mrry commented on #14220
Can you please try installing the nightly build of TensorFlow (`pip install tf-nightly`) and see if this is a problem?

It looks like b927df57f0c09ea62a855795e340d6daf70553df upgrades TensorFlow on Windows to a newer version of protobuf, and that patch wasn't present in the 1.4 release.

[2017-11-03 17:14] drasmuss commented on #14220
That works!  So this should be fixed in the next release (or use `tf-nightly` in the meantime).  Thanks for the quick response.

[2017-11-03 17:14] #14220 closed

[2017-11-03 17:19] Jiawen1991 commented on #14109
Thank you though I still can not find the operations workflow of backpropagation in TensorBoard's generated graph.

[2017-11-03 17:26] botev opened #14221 "bayeslfow.hmc - provide option for skipping the MH step"
Currently `tf.contrib.bayesflow.hmc.kernel` returns directly the update x and value of the potential after the Metropolis-Hasting steps. It would be useful to have an option to omitting the MH step. This, for instance, is required for implementing HVI [1], where we want to propagate gradients through the HMC step and not reject any samples:

[1] https://arxiv.org/pdf/1410.6460.pdf

[2017-11-03 17:34] gunan commented on #12935
There's no PR, we will need to make this change in the release workflow.

[2017-11-03 17:39] mrry commented on #14218
Closing this as a duplicate of #14182. Please follow along on that thread!

[2017-11-03 17:39] #14218 closed

[2017-11-03 17:53] asimshankar commented on #14209
Thanks for the report. Though, without seeing more of the code, it's hard to tell what the problem might be.

Would it be possible to share detailed instructions on reproducing the problem? Ideally a small, self-contained snippet of code that I can run to reproduce the problem?

Thanks!

[2017-11-03 17:59] 404517981 opened #14223 "what's is forget_bias?"
what's is forget_bias? I checked the basicllstmcell variable. but I found the biases are 0 althought I changed forget_bias to 0 or 1. I heard the func of it is that don't forget input of  first time .  please feedback

[2017-11-03 18:02] flx42 opened #14224 "tensorflow/tensorflow:1.4.0-devel-gpu uses libcuda.so stub at runtime"
[code]
As a result, you can't use CUDA in this image:
[code]

Issue was caused by: https://github.com/tensorflow/tensorflow/pull/13399
Please backport https://github.com/tensorflow/tensorflow/pull/13456 into `r1.4`

[2017-11-03 18:03] flx42 commented on #14224
@gunan

[2017-11-03 18:06] ybsave commented on #14162
Hello, I made a simple test as below

	  TRAIN_STEP_NUM = 5
	  x_train = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
	  y_train = [0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

	  dataset = tf.data.Dataset.from_tensor_slices(
		  (tf.cast(x_train, tf.float32), tf.cast(y_train, tf.float32)))

	  with tf.Graph().as_default():
		iterator = dataset.batch(1).make_one_shot_iterator()
		x, y = iterator.get_next()

		W = t

[2017-11-03 18:08] asimshankar commented on #14223
Please see the [documentation](https://www.tensorflow.org/api_docs/python/tf/contrib/rnn/BasicLSTMCell). It's a bias added to the forget gate described in the paper at http://arxiv.org/abs/1409.2329

Hope that helps! Such questions are better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community t

[2017-11-03 18:08] #14223 closed

[2017-11-03 18:10] gunan commented on #14224
@case540 can we patch #13456 into the release branch and rebuild our docker images?

[2017-11-03 18:14] dcunhas commented on #1029
Based on https://github.com/tensorflow/tensorflow/issues/9356, using `decode_png` or `decode_jpeg` to decode the image (which seems to be the most popular source of this issue) can also resolve this issue. This also seems like a workaround to a bug.

[2017-11-03 18:16] asimshankar commented on #14205
Unfortunately, we don't have the resources to support a very large variety of platforms. As per https://www.tensorflow.org/install/ - the TensorFlow maintainers currently support only 64-bit platforms, with some limited support for 32-bit builds for ARM.

We rely on the community to support other configurations.
If you have a fix, we'd be happy to review and accept a pull request to fix the proble

[2017-11-03 18:18] asimshankar commented on #14217
@petewarden : Do we have something like this on the cards, or suggestions for contributions?

[2017-11-03 18:19] andrewharp commented on #13663
Closing this as I'm assuming it had something to do with the temporary jcenter  issue we had where the wrong version of the TF AAR was downloaded. If it's still occurring please open a new issue with more details.

[2017-11-03 18:19] #13663 closed

[2017-11-03 18:24] asimshankar commented on #14208
Please do try to fill in all the information asked for the in issue template (https://github.com/tensorflow/tensorflow/issues/new), without that it is somewhat hard to help.

In this particular case, what platform are you running on?
Seems like you have a very old version of glibc (2.2.5 is from 2002 I believe - as per https://sourceware.org/glibc/wiki/Glibc%20Timeline)

If that is the case, and y

[2017-11-03 18:26] case540 commented on #14224
Ok, will get started on this. #14225

[2017-11-03 18:27] dcunhas opened #14226 "decode_image resize_images workflow does not work"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: ('v1.3.0-rc2-20-g0787eee', '1.3.0')
- **Python version**:

[2017-11-03 18:43] ybsave commented on #13953
I do think this is a bug. After updating to Tensorflow 1.4, my tensorboard does not show anything, including previously working folders. Then I downgraded the Tensorboard version, it still does not work. Therefore, I believe that it is the Tensorflow 1.4's bug. @michaelisard . Would you please re-open this issue?

My issue has been posted at https://github.com/tensorflow/tensorboard/issues/695

[2017-11-03 19:00] bakera10 commented on #13705
I followed Timmmm's tip but then I get the following error:

ERROR: /home/ant/Data/Code/TF/tensorflow/tensorflow/core/BUILD:1720:1: C++ compilation of rule '//tensorflow/core:framework_internal_impl' failed (Exit 1)
In file included from ./tensorflow/core/framework/register_types.h:22:0,
                 from tensorflow/core/framework/variant_op_registry.cc:18:
./tensorflow/core/framework/variant.

[2017-11-03 19:11] chenc10 commented on #7970
@npfp Hi, I have encountered the same problem. Have you solved that?

[2017-11-03 19:29] RockfordWei commented on #19
@tirrorex Thanks for asking. However, PerfectlySoft currently doesn't have such a plan because Apple has already published CoreML framework which supports mobile application well enough. Perfect-TensorFlow is a Server Side Swift to maximize the power of the cloud computation and makes zero conflicts with Apple's strategy.

However, you can still have a good try. Tips are right here: [tensorflow io

[2017-11-03 19:41] squared9 commented on #14048
I have the same exact problem. Tried all recommended steps here, no luck. Running on Linux Mint 18.2 (Ubuntu 16.04), nvidia-375 (384.90), CUDA 8.0.61-1 + CuDNN 6.0, TensorFlow 1.3.0 and 1.4.0, default Python 2.7, no Anaconda. I once got it working right after reboot, but subsequent executions always failed. Seems like driver gets stuck in some weird state... It started happening only a few days ag

[2017-11-03 20:38] yaroslavvb opened #14228 "Feature request: an op that returns timestamp"
This is useful for stats tracking in distributed TensorFlow (ie, measuring TF communication latency between workers and plotting it in TensorBoard). Perhaps it could be called `CurrentTimestamp`, `tf.current_timestamp()`

[code]

[2017-11-03 20:40] mpekalski opened #14229 "tf.contrib.learn.Experiment - train_monitors should be renamed"
Shouldn't **train_monitors** be renamed to **train_hooks**? As far as I understand hooks replaced monitors.

I look at TF v1.4.0-rc1.

tf.contrib.learn.Experiment(estimator, train_input_fn, eval_input_fn, eval_metrics=None, train_steps=None, eval_steps=100, **train_monitors**=None, **eval_hooks**=None, local_eval_frequency=None, eval_delay_secs=120, continuous_eval_throttle_secs=60, min_eval_frequ

[2017-11-03 20:47] yaroslavvb commented on #12052
BTW, I [observed](https://medium.com/@yaroslavvb/peak-performance-of-amazon-p3-instances-f2bc48f9ef71) 85 T ops/second with CUDA 9 on float16 matmul/V100 using Nvidia's [NGC](https://ngc.nvidia.com/signin/email
) TensorFlow container (as opposed to 8.8 T ops/s on my GTX 1080 at home). Really looking forward to having these improvements in the officially supported version!

[2017-11-03 20:51] montanalow opened #14230 "Build from source documentation is incorrect"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: 3.6.3
- **Bazel version (if compiling from source)**: **4

[2017-11-03 20:56] tfboyd commented on #12052
@yaroslavvb  Being very honest we are working through some FP16 issues.  There is a path in the tf_cnn_benchmarks for FP16 and the focus is on ResNet50 first and we are working on auto scaling for FP16 as well.  You can give it a try if you are interested but we are actively working through some problems.  People are on it and it is just taking time.  We finally have DGX-1s in house so we can also

[2017-11-03 21:00] kelvinxu commented on #12937
Any update on this?

[2017-11-03 21:04] zhedongzheng commented on #14229
There seems to be some difference between tf.estimator and tf.contrib.learn (though i think tf.estimator comes from tf.contrib.learn)
The similar issue is ```train()``` and ```fit```, it would be great if we can make two APIs compatible in these functions and arguments in the long term

[2017-11-03 21:08] dsitnik commented on #14182
Same issue on Fedora 26 with Python 3.6.2.

[2017-11-03 21:15] riadsouissi opened #14231 "CUDA_ERROR_OUT_OF_MEMORY on multiple and single GPU set up (1080Ti)"
Hi. I am having troubles running any tensorflow code on my 4x1080Ti GPU set up.

This is the code I am running (just to reproduce the issue):
----------------------------------------------------------------
import tensorflow as tf
a = tf.constant([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], shape=[2, 3], name='a')
b = tf.constant([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], shape=[3, 2], name='b')
c = tf.matmul(a, b)
gpu_o

[2017-11-03 21:22] amitoengg commented on #6620
TypeError: __call__() takes at least 5 arguments (2 given)

[2017-11-03 21:39] UWFrank opened #14232 "[Feature Request] Automatic ClusterSpec Propagation for multiple hosts"
Currently, when launching a distributed TensorFlow job, user need to manually input all the worker hosts' IP and port number. This is not too convenient and does not scale well. It would be really nice to have the native TensorFlow functionality that workers can automatically register themselves on master service without knowing all the host IP and port beforehand. Not sure if there is existing so

[2017-11-03 21:54] vahidn83 commented on #13765
I have the same issue using TF 1.4.0 with python 2.7 (via venv). I use Centos 7, CUDA 9, CNDNN 7 and GCC 4.8.5

[2017-11-03 22:13] ayush2991 commented on #14214
That sounds like a question for stackoverflow; please close this issue here. Thanks!

[2017-11-03 22:32] yaroslavvb opened #14233 "graph_editor doesn't update graph_version"
Symptom:
1. session.run
2. modify the graph with tf.contrib.graph_editor
3. session.run

Session.run in step 3 will use the same graph as in step 1 (pre-modification)

The reason is that session.py looks at [self._graph.version]( https://github.com/tensorflow/tensorflow/blob/4e75ae1f1e8c6479cfa86fde1a940453945e6671/tensorflow/python/client/session.py#L1345) when deciding whether to trigger TF_Exte

[2017-11-03 22:33] psawbridge commented on #13379
Sorry for reopening this but I am having the same problem (host ubuntu 16.04, running on image latest-devel) and I don't understand how it is a user environment setup issue as the procedure he is following is exactly that defined in:
tensorflow/tensorflow/tools/docker/README.md

Shouldn't the development container (latest-devel) allow usage of docker natively or is there a magic trick to run the c

[2017-11-03 23:05] seanxwzhang commented on #14182
Same issue on OSX 10.12.5 with Python 3.6.3

[2017-11-03 23:09] brian8128 commented on #9506
Same issue. Attempting to do some indexing but I can't seem to put an integer tensor on the GPU.

[2017-11-03 23:13] asimshankar commented on #14219
Thanks for pointing this out. This is indeed a bug, we decided to not export `tf.layers.Network` as a symbol for the 1.4 release, but forgot to hide `tf.layers.Input` as well.

We probably will introduce a `tf.layers.Network` by 1.5 or 1.6. ( @josh11b @fchollet ?)

Sorry for the confusion.

[2017-11-03 23:20] w4nderlust commented on #14171
I just tested it on v1.4.0 and the problem is still there.

[2017-11-03 23:32] footh commented on #14054
So...while trying to debug this I discovered something odd. It works fine when I put a breakpoint in the `_compute_output_shape` method in TimeDistributed. When I remove the breakpoint and just run it, I get the error. This seems to be some kind of race condition. Can someone who can get this to work describe their environment? (I'm using the anaconda python 3.6 dist). Anyone have insight as to wh

[2017-11-03 23:51] scm-ns opened #14235 "Retraining the lower layers of the inception model for a better classifier."
https://github.com/tensorflow/tensorflow/blob/4e75ae1f1e8c6479cfa86fde1a940453945e6671/tensorflow/examples/image_retraining/retrain.py#L26

Hi, I am trying to use the inception model to learn to classify between about 200 different object types.  I tried the approach mentioned here, which seems to only retrain the last few layer of the model, and I can't get about ~ 60% accuracy even when I am tra

[2017-11-03 23:56] bobeo commented on #12468
I got the same issue.

[2017-11-04 00:18] asimshankar commented on #14235
The `retrain.py` example adds a new layer to the end of an existing model. Whether a single layer is sufficient, or whether the number of parameters chosen is sufficient, or how much data you should have to train effectively, or what the most effective way to train your classifier of 200 objects is are broad questions which aren't a matter of a TensorFlow bug or feature request :)

Apologies, but

[2017-11-04 00:18] #14235 closed

[2017-11-04 00:18] CharlesNord commented on #6698
@SimonWalsh1000 it works like a charm, thank you !!!!

[2017-11-04 00:20] asimshankar commented on #14221
@jvdillon : Any thoughts on this?

@botev : You may want to consider sending a pull request.

[2017-11-04 00:28] asimshankar commented on #14230
Thanks for pointing this out.

@jugglerix @gunan : Seems like the table needs to be updated?

[2017-11-04 01:27] vsubhashini commented on #3389
Looks like you could use a [session_handle](https://www.tensorflow.org/api_docs/python/tf/get_session_handle) to do this:

Simple case:
[code]

The below is an example from the get_session_handle doc:
[code]

[2017-11-04 01:40] zhedongzheng commented on #14190
Thanks @sshrdp, i have successfully run the boosted_tree in 1.4 (though it is very slow)
The script is:
[code]

[2017-11-04 01:42] Cpruce commented on #14062
Though it isn't the example, I should still be able to replace the same model with another of the same architecture! I have asked on stackoverflow, but I think the people you made the app might have the best insight (the apps are supposed to serve as foundations, right?).

Anyway, do you have an example you can point me to to train ssd_mobilenet_v1 compatible with TF Detect?

[2017-11-04 01:55] andrewharp commented on #10348
I took a closer look and my initial interpretation was a bit off; I was thinking that `sensorOrientation` referred to camera orientation only when in fact it's a computed variable of both sensor and display rotation relative to device.

The "invalid" 3 value was actually coming from the `getWindowManager().getDefaultDisplay().getRotation()` call which oddly enough returns an integer constant 1-3.

[2017-11-04 02:28] #14214 closed

[2017-11-04 02:39] #9412 closed

[2017-11-04 02:40] #10348 closed

[2017-11-04 03:09] #13764 closed

[2017-11-04 03:11] montanalow commented on #14230
I was able to successfully build with 0.5.4, instead of 0.4.5

[2017-11-04 03:25] gunan commented on #14230
@av8ramit Could you check if we have the information correct in the table?

[2017-11-04 03:26] #13249 closed

[2017-11-04 03:34] ppwwyyxx commented on #14162
The loss is changing because you're sending different data in each iteration. You snippet doesn't show any bugs.

[2017-11-04 04:05] protoget commented on #6620
You might be using the old cudnn_rnn **"ops"** API instead of the **"layers"** API.
The new nightly build (tmr) should now point ```tf.contrib.cudnn_rnn.CuDNNLSTM``` to the layers API.

With the layer API, you don't need to figure out the size yourself, the layer creates and owns the variables.

[2017-11-04 04:12] MadWombat commented on #14219
Thanks for the quick reply. Not sure about it, but it seems that without the tf.layers.Network and tf.layers.Input, the rest of the function based layers have a rather limited use. Anyway, looking forward to the future releases.

[2017-11-04 04:43] jackd opened #14241 "`Network` behaviour inconsistent with `Layer` w.r.t `build`"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes (provided below)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary, `pip install tf-nightly-gpu`
- **TensorFlow version (use command below)**: git: v1.3.0-rc1-4090-g4e75ae1, tf: 1.

[2017-11-04 05:02] KirtoXX opened #14242 "Concert keras model to tf.Keras model"
here is my original keras model

def inference(image_tensor):
    # the input size is 90*30*3
    x = Conv2D(32,(3,3),name='conv1')(image_tensor)
    x = MaxPool2D((2,2),name='pool1')(x)
    x = BatchNormalization(name='bn1')(x)
    x = Activation('relu')(x)

    x = Conv2D(64,(3,3),name='conv2')(x)
    x = MaxPool2D((2, 2),name='pool2')(x)
    x = BatchNormalization(name='bn2')(x)
    x = Activat

[2017-11-04 05:05] clived2 commented on #6533
Thanks for the note, Ray.

On Fri, Nov 3, 2017 at 7:20 AM, Ray Wang <notifications@github.com> wrote:

--
Clive DaSilva CPA,CMA
Home:  416-421-2480|Mobile: 416-560-8820
Email: clive.dasilva@gmail.com
LinkedIN:  http://ca.linkedin.com/pub/clive-dasilva/3/197/b89

[2017-11-04 05:06] nqiao commented on #14182
Same issue on OSX with Python 3.6.2

[2017-11-04 05:10] manipopopo opened #14243 "SpaceToDepthGrad and DepthToSpaceGrad are not aware of data_format"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.4.0-rc1-11-g130a514 1.4.0
- **Python version**: 3.5
- **Bazel version (if compili

[2017-11-04 05:21] bardenthenry opened #14244 "Can Tensorflow 1.4 use CUDA 9?"
I upgraded to tensorflow 1.4. I found that this version can not load "cudart64_90.dll" when i import tensorflow in python.

It can work when i use  tensorflow 1.4 rc-0. But now it goes error:   Could not find 'cudart64_80.dll'. TensorFlow requires that this DLL be installed in a directory that is named in your %PATH% environment variable. Download and install CUDA 8.0 from this URL: https://develo

[2017-11-04 05:31] paulcbetts commented on #13740
This is probably a side effect of the optimizer, if the compiler knows it can reuse blocks of assembly, it'll jump into the middle of functions or reuse them in weirdo ways

I can try to but I'll have to dig around building from source

[2017-11-04 07:02] ashokbugude opened #14245 "Issue building libtensorflow_cc.so for arm64-v8a"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 17.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.3
- **Python version**: 2.7
- **Bazel version (if compiling from source)**: 0.5.1
- **GCC/Compile

[2017-11-04 07:03] satendrapratap commented on #13785
Try following command to freeze the graph. We are able to create .pb file for text_classification.py (uses estimator and input function) example in tensorflow using the same command:

python /home/ck/venvs/enet/lib/python2.7/site-packages/tensorflow/python/tools/freeze_graph.py --input_graph ./log/graph.pbtxt --input_checkpoint ./log/model.ckpt-0 --output_graph ./log/frozen_model.pb --output_node_

[2017-11-04 07:21] bobeo commented on #9412
@gunan @andrewharp will this work with screenOrientation="sensor" or screenOrientation="fullSensor"?

Thanks.

[2017-11-04 07:33] yselivonchyk commented on #3431
Getting
[code]
while compiling TF 1.4 from source. Adding cxx_builtin_include_directory: "/usr/local/cuda-7.5/include makes no difference.

Bazel0.7.0 Cuda9 CuDNN7

[2017-11-04 07:34] dc297 commented on #14244
No, Tensorflow 1.4 doesn't support cuda 9.0. You may check the release docs here https://github.com/tensorflow/tensorflow/releases. They plan to release tensoflow 1.5 with cuda 9.0 and cuDNN 7.

[2017-11-04 08:49] soenkyo commented on #14209
@asimshankar  I updated a toy code [here](https://github.com/soenkyo/toy_seq2seq_4_debug)

[2017-11-04 10:17] vickylance commented on #12052
Ok, So I am going to install Ubuntu 17.10 and I just wanted to try all the latest stuffs for fun.
Before I do I just wanted to know did any one try the below stacks building from source and got any luck?

-> Ubuntu 17.10, CUDA 9.0, cuDNN 7.0, TF master
-> Ubuntu 17.10, CUDA 8.0, cnDNN 6.1, TF 1.4

[2017-11-04 10:27] aluo-x commented on #12052
I am encountering the same issue as @xsr-ai, specifically using Python 3.6.3, VS 2017, CUDA 9, cuDNN 7.

[2017-11-04 10:34] vickylance commented on #12052
@aluo-x You mean you tried on Windows 10? Assuming because you said VS 2017.

[2017-11-04 10:40] aluo-x commented on #12052
Yes, that is correct. Here is the specific error:

[code]

[2017-11-04 10:47] bhack commented on #2169
@jch1 I heard something about a TF Segmentation API at ICCV. Have you any details to share?

[2017-11-04 10:47] vickylance commented on #12052
@aluo-x  Did you use the latest c-make? i.e Release candidate or the stable release?

[2017-11-04 10:55] aluo-x commented on #12052
Using cmake 3.9.5, swig 3.0.12, CUDA 9.0.176, cuDNN 7.0.3. VS 2017 19.11.25547.

[2017-11-04 10:56] ming616 commented on #12414
I think i can guess out what cause this problems but i do not know how to resolve it.
That is :
There are multi threads in our training dataset instances(num_parallel_calls =4 in my config) ,
 but during our training process, we catch the except tf.errors.OutOfRangeError .
it only deal this only once.  So we still get another three excepts left.
Maybe we should treat this training process also mul

[2017-11-04 11:00] vickylance commented on #12052
@aluo-x  Even I didnt have much luck with c-make. But can you try building with Bazel?

[2017-11-04 11:22] tirrorex commented on #19
@RockfordWei what my company want is to keep supporting people not running ios 11, either because they don't want to or because they can't.
Since we use tensorflow already on android and with coreML not being available for all our customers we have no choice but to use tensorflow.

[2017-11-04 13:27] bshao001 commented on #14107
And it is slower than release 1.3, at least for the NMT model I am using. When I train it in 1.3, each epoch took about 600 seconds, now it takes about 700 seconds.

[2017-11-04 14:41] XiangJ87 commented on #9002
Hi @rohitgirdhar @sounakdey ,

I got the same error, and there is a possible solution (I read it on a Chinese blog)... which I only test it on TX1:
Edit cublas_api.h ('/usr/local/cuda/targets/aarch64-linux/include/cublas_api.h' is the TX1 path) as follows

[code]
On TX1, it works.

[2017-11-04 15:54] Instassa opened #14247 "BUG: ImportError: No module named 'tensorflow.contrib.eager'"
### System information

##### I tried to `import tensorflow.contrib.eager as tfe` after installation and it throws No module error.
##### OS Platform and Distribution Linux Ubuntu 16.04:
##### TensorFlow installed from python pip in virtualenv:
##### TensorFlow version 1.1.0:
##### Python version 3.5:
##### GPU model and memory: GeForce GTX 1080
##### CUDA 8.0 /cuDNN 6.0:

### Describe the problem

[2017-11-04 17:32] footh commented on #14054
I found out what the issue is. It's a bug in tensorflow. I have a PR that fixes it. I just am awaiting permission to push it up.

[2017-11-04 17:39] juanecito commented on #10220
Hello, I have found the same error when I add <random> include in a .cu file (compiled by nvcc CUDA 8). This file random (/usr/include/c++/5/random in GNU/Debian 9) include opt_random.h -> x86intrin.h -> immintrin.h -> avx512vlintrin.h. I don't have this problem when I compile with debug flags in nvcc (-g -O0). Finally I solved this problem changing include dependences in my application.

[2017-11-04 17:39] DollarAkshay commented on #14244
Yeah, just got this error

`mportError: Could not find 'cudart64_80.dll'. TensorFlow requires that this DLL be installed in a directory that is named in your %PATH% environment variable. Download and install CUDA 8.0 from this URL: https://developer.nvidia.com/cuda-toolkit`

[2017-11-04 17:55] al3xsh opened #14248 "Keras backend functionality changed?"
Hi,

I have been using keras from within tensorflow since it was included into the contrib package - but it seems that in the 1.4 release the keras backend is missing some functionality ...

For example:

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
    AttributeError: module 'tensorflow.python.keras.backend' has no attribute 'tile'

Whereas in tensorflow 1.1:

[2017-11-04 17:57] scm-ns commented on #14235
I wasn't asking a broad question of creating my own model. I was asking how can I pass the gradients down to the lower layers of the Inception Model that is provided by tensorflow. Only the last layers is retrained, how can I retrain the lower layers of an existing model ?

I apologize if I was not clear earlier.

[2017-11-04 18:18] memo commented on #2412
Not official, but I provide C++ libraries and headers for use outside bazel, and build instructions too (mainly to be used with openFrameworks, but not limited to).
https://github.com/memo/ofxMSATensorFlow
https://github.com/memo/ofxMSATensorFlow/wiki/

[2017-11-04 18:34] stoksc commented on #7072
@shingte worked for me, too. thanks a lot.

[2017-11-04 19:11] asimshankar commented on #14247
That seems like it isn't using the latest nightly builds. Could you try the following to ensure that you're not using an old, cached nightly build:

[code]

If that still doesn't work, do add more detailed version information by running the following in a Python shell:

[code]

Thanks

[2017-11-04 19:12] asimshankar commented on #14244
Correct, the release builds of TensorFlow use CUDA 8 right now.
The next release will support CUDA 9.

[2017-11-04 19:12] #14244 closed

[2017-11-04 19:30] asimshankar commented on #14245
Unfortunately, the TensorFlow maintainers do not have the bandwidth to provide support for building from source using cross-compilers and rely on community support for that.

That said, one thing that does come to mind from your description:
The linking error might be because you're not including `libtensorflow_framework.so`, which `libtensorflow_cc.so` depends on. However, you could build a singl

[2017-11-04 19:45] travek opened #14249 "Issue with installing TensorFlow with pip"
Hi!

I'm using Python 3.6.3
I'm trying to install TensorFlow using:
_pip3 install --upgrade tensorflow_

I get the following error:
_Collecting tensorflow
  Could not find a version that satisfies the requirement tensorflow (from versi
ons: )
No matching distribution found for tensorflow_

Could someone help to fix this?

[2017-11-04 19:50] asimshankar commented on #14241
Note that `Network` is not part of the supported public API (as per our [versioning guarantees](https://www.tensorflow.org/programmers_guide/version_compat#what_is_covered), since the symbol is not directly accessible via the `tensorflow` module and isn't documented on the website, it isn't supported).

However, it is something that is being worked on.
@fchollet might be able to comment on the des

[2017-11-04 19:57] asimshankar commented on #14219
@MadWombat : re "the rest of the function based layers have limited use" - the function based layers are in fact pretty extensively used already (such as in the [models repository](https://github.com/tensorflow/models/tree/master/official)).

The existing object oriented layers provide a way to structure your models (similar to Keras) as objects, even without the `Network` class. In fact, we encou

[2017-11-04 19:58] asimshankar commented on #14249
@av8ramit will have details on Python 3.6 support.

[2017-11-04 19:58] zendelcrow commented on #2471
Hi,

The instrucction per_process_gpu_memory_fraction seems not working on my computer.

I have Quadro K1200, 425/4039 MiB aprox, driver 387.12, cuda 8, cudnn 6,  tensorflow 1.4 install from anaconda. python 3.5.2 (64 bits).

my code goes like this:
config = tf.ConfigProto()
config.gpu_options.per_process_gpu_memory_fraction = 0.4
with tf.Graph().as_default():
        with tf.Session(config=config

[2017-11-04 20:02] asimshankar commented on #14229
FYI: As outlined in our [versioning guarantees policy](https://www.tensorflow.org/programmers_guide/version_compat#what_is_not_covered), things in the `tf.contrib` namespace are considered experimental and subject to change.

So we allow for differences between say `tf.estimator` and `tf.contrib.learn`, as a means of learning from feedback on functions and classes in `tf.contrib` before settling d

[2017-11-04 20:02] #14229 closed

[2017-11-04 20:18] travek commented on #14249
Additionally I downloaded .whl file
tensorflow-1.4.0-cp36-cp36m-win_amd64.whl
and try to install it with
_pip3 install tensorflow-1.4.0-cp36-cp36m-win_amd64.whl_
I had thefollowing error:
_tensorflow-1.4.0-cp36-cp36m-win_amd64.whl is not a supported wheel on this platf
orm._
I'm using Win7

[2017-11-04 20:23] asimshankar commented on #14249
Can you provide more details on the platform you're using? (e.g., are you using 32-bit Windows by any chance?)

[2017-11-04 21:12] fchollet commented on #14241
For the time being, `Network` can only be built from a set of already built layers. Thus its `build` method does nothing (the network is always already built). Also, it is not yet part of the public API. If you want to implement something custom, I recommend subclassing `Layer` instead (they have the same API anyway).

In addition, `__call__` is never a method you should subclass (unless you know

[2017-11-04 21:12] #14241 closed

[2017-11-04 21:12] jmaye commented on #14107
same here on linux, performance drop, but I tried the rc1, I'll evaluate the official release.

[2017-11-04 21:21] caisq commented on #14249
TensorFlow has pip packages available for Python 3.6 on Linux, Mac and Win64.
https://pypi.python.org/pypi/tensorflow

[2017-11-04 21:25] georgesterpu opened #14250 "[Feature request] tf.data.Dataset sort and skip buckets"
Hi
It would be useful to sort the variable length inputs by their lengths in order to accelerate the training process. However I cannot find this functionality yet.

In [[1]](https://github.com/tensorflow/tensorflow/issues/7951#issuecomment-308789560), @guillaumekln already suggested something similar through his code snippet, yet the requested feature was batching inputs of similar length togethe

[2017-11-04 21:30] Emiller00 commented on #14249
Hmm I am trying to do this on macOS and I am also having issues.

[2017-11-04 21:44] Emiller00 commented on #14249
I tried using a virtual environment that runs with both python 3.5 and 3.6 and pip did not work in both cases. What is going on.

[2017-11-04 21:54] aluo-x commented on #10199
Thanks a ton @scottmudge, just tried building with AVX2 and VS 2017. Worked flawlessly.

https://github.com/aluo-x/tensorflow_windows

[2017-11-04 22:34] yongtang commented on #14226
I think the issue is that in `def decode_image()`, BMP, JPEG, and PNG images would have the shape of `[height, width, num_channels]`, and GIF images would have the shape of `[num_frames, height, width, 3]`.
So the rank of the shape could be 3 or 4, depending on the image type.

Unfortunately, finding out if it is GIF image will require checking the content of the input tensor which is not availabl

[2017-11-04 22:47] dcunhas commented on #14226
Even if `decode_image` can't give a compile time size, why does `tf.image.resize_images` require image size at compile time?

[2017-11-04 23:11] georgesterpu opened #14252 "[Feature request] tf.edit_distance return deletions, substitutions, insertions"
Hi,
When analysing the performance of a speech recognition model, it is very useful to know the distribution of deletions, substitutions and insertions on the test set.

Could you make `tf.edit_distance` return these three metrics too, in addition to the cheapest cost?
It appears to me that the [cpp code](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/lib/gtl/edit_distance.h#

[2017-11-04 23:15] erichiller commented on #14182
Only posting because I didn't see my environment mentioned:
Clean 17.10 Ubuntu Server install on Python 3.6.3 (native `pip install tensorflow-gpu`)
Outputs:
[code]

[2017-11-04 23:30] alexbrad commented on #12052
@smitshilu If I am not mistaken, you are getting an error regarding alignment, right? Similar to the one described here for pytorch: https://github.com/pytorch/pytorch/issues/2692

I tried applying the same solution, that is removing all ___align__(sizeof(T))_ from the problematic files:
_tensorflow/core/kernels/concat_lib_gpu_impl.cu.cc_
_tensorflow/core/kernels/depthwise_conv_op_gpu.cu.cc_
_tens

[2017-11-05 00:08] tomwesolowski commented on #13161
I've been struggling with this problem.
I've put
`dataset = dataset.repeat()`
before
`dataset = dataset.batch(batch_size)`
and expected to see fully defined TensorShape.

[2017-11-05 01:23] marawanokasha commented on #13880
Hey, Any update on this? I can't use RMSProp, AdaGrad or AdaDelta with an InteractiveSession. Only AdamOptimizer and GradientDescentOptimizer work. Tried both TF 1.3 and 1.4

[2017-11-05 02:44] zepedaj commented on #12859
@gmichaeljaison
I tried the proposed solution for MonitoredTrainingSession and it did not work. I got an error message asking me to pass a feed_dict for the handle placeholder when trying
`handle_train, handle_val = sess.run([iter_train_handle, iter_val_handle])`
I tried passing  it an empty string with
`feed_dict={handle:''}`
and that got me the following error:

         [[Node: IteratorFromStri

[2017-11-05 03:14] ashokbugude commented on #14245
@asimshankar  Thanks for your time and response

I tried to execute the command as suggested

`bazel build -c opt --config=monolithic //tensorflow:libtensorflow_cc.so    --crosstool_top=//external:android/crosstool    --host_crosstool_top=@bazel_tools//tools/cpp:toolchain --cpu=arm64-v8a`

But unfortunately I receive same set of errors with an additional warning

`> WARNING: Config values are not

[2017-11-05 04:03] crizCraig opened #14254 "Tensors erroneously zero when an existing session is running on the same device"
UPDATE: Restarting my machine fixed the issue.

To reproduce, run two processes with
[code]
Second process output
[code]
Stopping the first process will fix the problem immediately without needing to restart the second process!

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Li

[2017-11-05 04:53] danqing commented on #14244
We've added CUDA 9 wheels here: https://github.com/mind/wheels/releases/tag/tf1.4-gpu-cuda9

[2017-11-05 04:54] danqing commented on #12052
For folks interested we have CUDA 9 wheels uploaded: https://github.com/mind/wheels/releases/tag/tf1.4-gpu-cuda9

[2017-11-05 04:56] danqing commented on #13857
We've uploaded prebuilt wheels: https://github.com/mind/wheels/releases/tag/tf1.4-gpu-cuda9

[2017-11-05 05:23] JeremyCCHsu commented on #12414
Maybe there are some other causes because by setting the `num_parallel_calls` argument to `1` in `tf.data.Dataset.map` doesn't prevent the warning from flooding.

BTW, a very useless tip to avoid the warning is by using `for-loops` instead of `try-except` (and remember to run the initializer every time before the loop). However, this only works when the dataset is simple enough that you know the e

[2017-11-05 06:37] selcouthlyBlue commented on #13651
I apologize for the late reply. It's weird that gmail didn't update me of your replies. I tried @eli99999 's solution and now I got this error when I ran the application:

[code]

[2017-11-05 06:38] #11575 closed

[2017-11-05 06:57] eli99999 commented on #14158
@bobeo thanks,
I looked into it, and it seems that there is  a problem with the bazel compilation
i changed the models a few time and then did the ops_to_register.h process,
each time the ops_to_register.h file changed but the libtensorflow_inference.so  does not.
I tried all sort of bazel clean and bazel dump, and not chaned the resulted  libtensorflow_inference.so
so i think that either there is

[2017-11-05 07:03] eli99999 commented on #14215
I looked into it, and it seems that there is a problem with the bazel compilation
i changed the models a few time and then did the print_selective_registration_header process,
each time the ops_to_register.h file changed but the libtensorflow_inference.so does not.
I tried all sort of bazel clean and bazel dump, and not chaned the resulted libtensorflow_inference.so
so i think that either there is

[2017-11-05 07:03] #14215 closed

[2017-11-05 07:13] gunan commented on #14231
Looking at your logs:
[code]
I can believe that a tensor of this size can be difficult to fit on your GPUs, if your process allocated anything else on the same device. I think this is an issue in the training code you are trying to run.

[2017-11-05 07:29] pbanavara commented on #12686
@skye Am getting a segmentation fault. I tried both on Ubuntu and Mac, same result.

[code]

[2017-11-05 09:29] evilkjoker commented on #12416
same problem, i only have <code>libcudnn.so.7</code>.  I edit binary file <code>python2.7/site-packages/tensorflow/libtensorflow_framework.so</code> , change <strong>libcudnn.so.6</strong>
  to <strong>libcudnn.so.7</strong> . surprised, it work.

System information
* Linux OpenSUSE 42.3
* Tensorflow version 1.5.0-dev20171103
* cuDNN v6

[2017-11-05 09:55] travek commented on #14249
@asimshankar
I'm using Win7 64 bit.
Python 3.6.3
The issue is still actual, can't install using pip

[2017-11-05 09:56] travek commented on #14249
@caisq
I already tried to install from package:
Additionally I downloaded .whl file
tensorflow-1.4.0-cp36-cp36m-win_amd64.whl
and try to install it with
pip3 install tensorflow-1.4.0-cp36-cp36m-win_amd64.whl
I had thefollowing error:
tensorflow-1.4.0-cp36-cp36m-win_amd64.whl is not a supported wheel on this platf
orm.

[2017-11-05 10:26] #14249 closed

[2017-11-05 10:26] travek commented on #14249
All,
closing the issue. I made a mistake and install 32 bit python. With 64 it's OK

[2017-11-05 10:35] h-jia commented on #14182
I have tried both 3.5 and 3.6 (macOS High Sierra).
3.5 works perfect while 3.6 gives warns.

Hope this helps.

[2017-11-05 11:51] alan23273850 commented on #5343
@maxss280's method works for me! In fact I have written some path settings, but with wrong syntax. So, this step, checking if environment variables are valid, is very important.

BTW, when something must be redone for each time computer restarted, I think writing the command into .bashrc file may be a kind of solution.

[2017-11-05 12:58] MagicTroy commented on #6683
same problem under tensorflow 1.3, python 3.6 when restoring from tf.contrib.rnn

[2017-11-05 13:29] sleighsoft opened #14257 "TFGAN gan_model tensor conversion necessary?"
I would like to use the `Dataset` API with the `GANEstimator`/`TFGAN`.

I know that `MakeIterator` cannot be cast to a tensor, but I would like to pass it to `generator_fn` anyways. Is the conversion of `generator_inputs` to tensors really necessary?

With the plain `Estimator` API I also do not have this restriction.

I am passing the following object to `gan_model` through `generator_inputs`:
[c

[2017-11-05 13:42] migueldeicaza commented on #18
Yes, you can train models in C#.   It seems like people like to use it to reuse existing code that imports their existing data into TensorFlow.

Today it is better to use Python and Keras to define your models/graphs and then load the result from C# and run that.

[2017-11-05 13:45] sleighsoft commented on #14257
Same goes for `real_data`.
Like in the regular `Estimator` API I would like to pass in `None` or any other value I like and do the handling of the input data myself instead of the framework trying to convert it to a tensor for me.

[2017-11-05 14:31] AlphaSmartDog commented on #14182
same problem on Linux Ubuntu 17.10

[2017-11-05 15:08] wedesoft commented on #11549
I think I encountered the same issue and found a workaround.
The following errors out with a `NotFoundError` in the `SaverV2` code:
[code]
However using a path (even a relative one) works:
[code]

[2017-11-05 15:22] omerbenamram commented on #14174
same here

[2017-11-05 15:33] february commented on #14182
Same issue on OSX 10.12.6 with Python 3.6.3(virtualenv installation)

/Users/zhanghao/virtualenv/tensorflow/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

[2017-11-05 15:45] skywhat commented on #44
--ignore-installed six
That's the point.

[2017-11-05 16:01] kanwei commented on #14174
👍

[2017-11-05 16:15] asimshankar commented on #14243
Thanks for the report, this indeed seems to be an oversight in https://github.com/tensorflow/tensorflow/commit/4d69d0408da946096163ee1d8ea068ae6698ae9d which introduced `data_format`.

@yzhwang @wujingyue : Could you take a look?

[2017-11-05 16:18] ebrevdo commented on #12414
Yes, you can wrap the dataset with a repeat () call and use an outer for
loop for reach epoch if you know the number of elements per epoch.

On Sat, Nov 4, 2017, 10:23 PM Jeremy Hsu <notifications@github.com> wrote:

[2017-11-05 17:18] marmarko commented on #14174
same here

[2017-11-05 17:36] ebrevdo commented on #14252
Sounds like we need to create a new op that returns all three

On Sat, Nov 4, 2017, 4:11 PM George Sterpu <notifications@github.com> wrote:

[2017-11-05 17:49] jthestness commented on #13875
Just wanted to give an update since other have asked about this as well: We've tried a number of different combinations of `alwayslink`, `linkstatic`, and `linkshared`, but nothing has fixed this issue. I think we will need to restructure the Bazel targets to get finer-grained control of the binary or library options during build. I won't be able to look into this soon, but if anyone wants to use

[2017-11-05 18:20] #11554 closed

[2017-11-05 18:26] stereomatchingkiss commented on #1924
Have the same issue with tensorflow1.4 and opencv3.3.1

[2017-11-05 19:37] christiangda commented on #14182
Same issue using this Docker file `https://github.com/christiangda/kerasvideo/blob/master/Dockerfile`

[2017-11-05 19:38] yselivonchyk commented on #12052
Ubuntu 17.10, CUDA 9, CuDNN 7 + TF from source.

Follow instructions as in this answer to get CUDA up and running:
https://askubuntu.com/questions/967332/how-can-i-install-cuda-9-on-ubuntu-17-10

Note, you might want to use these commands instead for 64 bit version:
[code]

To install Tensorflow you will need
1. Before compiling TF: correctly configure path variables (the paths from NVIDIA page di

[2017-11-05 20:03] nathanielatom commented on #12052
@alexbrad I ran into the same issue building for Mac GPU with CUDA 9, cuDNN 7. This solution also worked for me and I haven't run into any issues using TF so far.
Source changes and wheel: https://github.com/nathanielatom/tensorflow/releases/tag/v1.4.0-mac

[2017-11-05 20:15] allenlavoie commented on #13875
So it does work right before that commit? I thought you couldn't bisect.

Can you try copying the "defines=" from //tensorflow/core:lib_internal to //tensorflow/core:lib_internal_impl (or just wait a bit because I have a commit which will sync and do that)? Defines were not applied to .cc files in that commit. That's the only difference I know of when building with --config=monolithic.

[2017-11-05 20:15] amitoengg commented on #6620
excellent !! Thanks it works now.

[2017-11-05 20:24] psanch21 opened #14261 "'MultivariateNormalDiag' object has no attribute 'pdf' ERROR"
Hi,

I am trying to use tf.contrib.distributions.MultivariateNormalDiag
 as explained  in the API https://www.tensorflow.org/versions/r0.12/api_docs/python/contrib.distributions/multivariate_distributions

- macOS High Sierra
- **TensorFlow version**: v1.3.0-rc2-20-g0787eee 1.3.0
- **Python version**:  Python 3.6.1

Here is the code that throws the error:

	mu1 = tf.to_float(tf.fill([batch_size, z

[2017-11-05 20:48] MadWombat commented on #14219
I guess I did not phrase it right. I meant the new style function based layers. The ones that return functions rather than ops `tf.layers.Dense` rather than `tf.layers.dense`. The models seem to be using the old style ones and without tf.layers.Network, I am not sure how useful the new style layers are.

[2017-11-05 20:48] mrry commented on #13161
@tomwesolowski Did you try the workaround I suggested in [my previous comment](https://github.com/tensorflow/tensorflow/issues/13161#issuecomment-336316164)?

[2017-11-06 00:16] Jiewen2017 opened #14264 "the version for windows"
Hi, could you build the new version of tensorflow for windows? the cuda version just tensorflow 1.1.

[2017-11-06 00:57] selcouthlyBlue commented on #13651
I did a little poking with the network parameters and it turns out, the number of hidden units influence the dimensions found in "In[1]". With that, here's the code building the bidirectional lstm part of the graph:

`
#num_layers = 3,
#num_hidden = 32
#num_classes = 80

lstm_fw_cells = [tf.contrib.rnn.BasicLSTMCell(num_hidden, forget_bias=1.0) for _ in range(num_layers)]
lstm_bw_cells = [tf.contr

[2017-11-06 01:20] wryoung412 opened #14265 "tf.layers generates an extra op when not specifying the name"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
pip install
- **TensorFlow version (use command below)**:
v1.4.0-rc1-11-g130a514 1.4.0
- **Python version**:
3.5.2
- **Bazel version (if

[2017-11-06 02:02] contractorwolf commented on #11621
wait, how do you solve this issue? I am hitting it like this:
`# Classify two new flower samples.
def new_samples():
  return np.array(
    [[6.4, 3.2, 4.5, 1.5],
     [5.8, 3.1, 5.0, 1.7]], dtype=np.float32)

predictions = list(classifier.predict(input_fn=new_samples))`

[2017-11-06 02:04] abhigenie92 opened #14266 "Tensorflow splitting?"
I want to split tensor into two parts:

    ipdb> mean_log_std
    <tf.Tensor 'pi/add_5:0' shape=(?, 2) dtype=float32>

Context: ? is for number of samples and the other dimension is 2. I want to split along the second dimension into two tensorflow of shape 1 along that dimension.

What I tried?(https://www.tensorflow.org/api_docs/python/tf/slice)

    ipdb> tf.slice(mean_log_std,[0,2],[0,1])

[2017-11-06 02:13] yangyh1911 commented on #2399
see

at **Event Files & LogDirs: How TensorBoard loads the data** section in https://github.com/tensorflow/tensorboard/blob/master/README.md](url)

[2017-11-06 02:14] stereomatchingkiss opened #14267 "opencv cannot read any image with tensorflow"
It is the same issue as #1924, since the bug is closed, I open a new one, because this bug haven't been solved yet.

From subashp

[code]

From rmmal

From me, using tensor1.4, build from source

[code]

[2017-11-06 03:11] selcouthlyBlue commented on #13651
I managed to fix the error from applying @eli99999 's solution by changing the bitmap image_width to 128 in the application's recognizer config. I don't know why but it just fixed that error.

[code]

With that change, I now encounter this new error:

`java.lang.IllegalArgumentException: cannot use java.nio.FloatArrayBuffer with Tensor of type INT32`

I'm guessing this is the part where @petewarde

[2017-11-06 03:24] mroodschild commented on #14244
if you install it from anaconda:

pip install --ignore-installed --upgrade \ https://github.com/mind/wheels/releases/download/tf1.4-gpu-cuda9/tensorflow-1.4.0-cp36-cp36m-linux_x86_64.whl

danqing, Thanks a lot!!

[2017-11-06 03:45] wangsen1312 commented on #14244
danqing, Great work！

[2017-11-06 03:51] asimshankar commented on #14261
It seems you were looking at the documentation for release 0.12 but running 1.3.
Note that, as per [semantic versioning](http://semver.org/) followed [by TensorFlow](https://www.tensorflow.org/programmers_guide/version_compat) - there were no API stability guarantees for versions prior to 1.0

If you're using release 1.3, then please refer to the [documentation for that version](https://www.tensor

[2017-11-06 03:51] #14261 closed

[2017-11-06 04:07] alltom commented on #13821
The problem doesn't seem to be specific to training…

To bypass the issue in this thread, I picked parameters by hand. Then I launched a tensorflow-serving instance with the trained model, also on macOS. After a few thousand calls to Predict, the tensorflow-serving server dies with its own resource exhaustion errors:

[code]

Why does TensorFlow open so many pipes without closing them? Should I op

[2017-11-06 04:21] selcouthlyBlue commented on #13651
I already fixed the error previous error. I just changed the type of result from float to int. But I have some issues with changing the image width to 128 just to get it working. For now, I'm going to close this issue since the error has been addressed.

[2017-11-06 04:21] #13651 closed

[2017-11-06 05:07] wenwei202 opened #14271 "tf.gradients return NaN when batch_norm is in inference mode (is_training=False)?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:('v1.3.0-rc2-20-g0787eee', '1.3.0')
- **Python version**: Python 2.7.11 |Anaconda custo

[2017-11-06 05:30] ahmed-shariff commented on #5354
Setting `per_process_gpu_memory_fraction` does fix the problem. Though the fraction does not have to be so low. As xorg uses only 5MB, I was able to get away with setting the fraction to 0.99

[2017-11-06 05:41] mrry commented on #14264
Version 1.4.0 of the `tensorflow-gpu` package is available [from PyPI](https://pypi.python.org/pypi/tensorflow-gpu/1.4.0) and should be installed if you enter the command `pip install tensorflow-gpu`.

[2017-11-06 05:41] #14264 closed

[2017-11-06 06:45] goodloop commented on #13060
can we get any point here ? is this a problem of pyinstaller or tensorflow ?

[2017-11-06 06:50] tamias65 commented on #14112
Thanks. On a more general question, I figured that it's missing the right kernel libraries as suggested.  What is a good way to identify which kernel library I'm missing since I'm using the default faster_rcnn_resnet101_coco model from the Tensorflow model zoo and there are quite a few "Prod" ops in the overall kernel libraries.

[2017-11-06 06:56] SteffenNa opened #14273 "RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-11-06 07:08] breeze5428 opened #14274 "how can I print predictions in TF-Slim's eval_image_classifier.py?"
I want to print prediction results into txt files  in TF-Slim [eval_image_classifier.py](https://github.com/tensorflow/models/blob/master/research/slim/eval_image_classifier.py) .  I have tried many times, but failed to do it.
Thank you in advance.

===============================================================
`from __future__ import absolute_import
from __future__ import division
from __future_

[2017-11-06 07:11] eli99999 opened #14275 "changes in ops_to_register.h file does not effect resulting compilation"
------------------------

### System information
- **Have I written custom code (https://github.com/tensorflow/tensorflow/issues/14215)**:
- **OS Platform and Distribution (Linux Ubuntu 16.04)**:
- **TensorFlow installed from (source )**:
- **TensorFlow version (1.4)**:
- **Python version  2.7:
- **Bazel version (0.7.0)**:

### Describe the problem
I have been running print_selective_registration_

[2017-11-06 07:24] indra215 opened #14276 "Cannot interpret feed_dict key as tensor: tensor tensor(import/input:0, shape=(1, 299, 299, 3), dtype=float32) is not an element of this graph."
I'm running `label_image.py` given at [https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/label_image/label_image.py](url) on `inception_resnet_v2` frozen graph. When I run this code it's giving me the following error
`cannot interpret feed_dict key as tensor: tensor tensor(import/input:0, shape=(1, 299, 299, 3), dtype=float32) is not an element of this graph.`

But when I pr

[2017-11-06 07:35] icharlest opened #14277 "How to realize model parallelism"
I cannot find the model parallelism in the tensorflow, there are many examples about data parallelism. I write a programm to realize the model parallelism, but it cannot work.

from __future__ import print_function
import tensorflow as tf
import numpy as np

tf.train.ClusterSpec({
    "worker": [
        "node1:2222"
    ],
    "ps": [
        "node2:2222"
    ]})

with tf.device("/job:ps/task:0")

[2017-11-06 07:35] snnn opened #14278 "depthwise_ops build incorrect on MSVC debug mode"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10
- **TensorFlow installed from (source or binary)**:
Source
- **TensorFlow version (use command below)**:
1.4
- **Python version**:
3.5.4
- **Bazel version (if compiling fro

[2017-11-06 08:12] jart commented on #14278
@chsigg could you take a look at this feedback on a change you made recently?

[2017-11-06 08:15] tamias65 commented on #14112
Actually I figured it out after reproducing the "ops_to_register.h" file using "print_selective_registration.py".  The "Prod" op is associated with "reduction_prod_op.cc".

[2017-11-06 08:15] jart commented on #14276
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-06 08:15] #14276 closed

[2017-11-06 08:15] jart commented on #14274
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-06 08:15] #14274 closed

[2017-11-06 08:16] #14277 closed

[2017-11-06 08:26] asimshankar commented on #14273
Closing this as a duplicate of #14182

[2017-11-06 08:26] #14273 closed

[2017-11-06 08:48] psanch21 commented on #14261
Thank you for your response. It helps me a lot!

[2017-11-06 09:01] indra215 opened #14279 "Cannot interpret feed_dict key as tensor: tensor tensor(import/input:0, shape=(1, 299, 299, 3), dtype=float32) is not an element of this graph."
I'm running `label_image.py` code given at [https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/label_image/label_image.py](url) for inference on an image using InceptionV3 model trained on my own dataset. But it's giving the following error

Could anyone please help me with this issue ? Thanks in advance.

[2017-11-06 09:19] lwj7790 opened #14280 "Failed to load the native TensorFlow runtime."
when I import tensorflow-gpu,

this message occurs

Traceback (most recent call last):
  File "/home/wonjinlee/.local/lib/python3.5/site-packages/tensorflow/python/pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "/home/wonjinlee/.local/lib/python3.5/site-packages/tensorflow/python/pywrap_tensorflow_internal.py", line 28, in <module>

[2017-11-06 09:25] KrishnaveniTK commented on #14182
Hi,
Can you let me know if this has to be treated as a warning and ignored?
**Furthermore  the error is**
from PyQt5 import QtCore, QtGui, QtWidgets
ImportError: dlopen: cannot load any more object with static TLS

**See the Traceback below**
Traceback (most recent call last):
  File "train.py", line 51, in <module>
    from object_detection.builders import model_builder
  File "/home/raju/anacond

[2017-11-06 09:25] jplu commented on #10220
Sorry @juanecito but I don't get your post. I don't see the relation between the compilation of Tensorflow and the compilation of your application. Can you give more details please.

[2017-11-06 09:32] deepSalva opened #14282 "Neural Net regression in Tensorflow"
### Describe the problem
Hi, I am trying to perform a Neural Network in tensorflow for The Bike-Sharing-Dataset with a regresion model. I checked out the tensorflow tutorials but I couldn't find  a solution. Something's wrong with the tf.matmul() and the input and  targets matrix.

### Source code / logs
Here is my [repository](https://github.com/deepSalva/bikes_in_tensorflow.git) and the dataset.

[2017-11-06 09:42] sandipmgiri commented on #13992
PR got merged, hence closing.

[2017-11-06 09:42] #13992 closed

[2017-11-06 09:50] nisace opened #14283 "Can't use estimator + dataset and train for less than one epoch"
TensorFlow 1.4 moves TF Dataset to core (tf.data.Dataset) and doc/tutorial suggest to use tf.estimator to train models.

However, as recommended at the end of this [page](https://www.tensorflow.org/programmers_guide/datasets), the Dataset object and its iterator must be instantiated inside the input_fn function. This means the iterations through the dataset will start over for each call to estimat

[2017-11-06 09:51] xiaohujecky commented on #6513
@StrangeTcy how did you fix your problem? I came across  the same problem.

[2017-11-06 10:08] yjmade opened #14284 "Estimator from Keras by model_to_estimator cannot export"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.12
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.4 or Master

### Describe the problem
when calling model_to_estimator, the model_fn create

[2017-11-06 10:16] tomwesolowski commented on #13161
@mrry Yes and it worked. But my question is if it's a intended behaviour?

[2017-11-06 10:33] albertz opened #14285 "TF 1.4.0 on MacOSX: crash, object was probably modified after being freed"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOSX 10.13
- **TensorFlow installed from (source or binary)**: binary, via `pip3.6 install tensorflow`
- **TensorFlow version (use command below)**: v1.4.0-rc1-11-g130a514 1.4.0
- **Python version**:  3.6.3

[2017-11-06 10:34] NearLinHere commented on #14004
I have the same problem. The code is pull 5 hours ago.

**System information**
**Have I written custom code (as opposed to using a stock example script provided in TensorFlow):** No, I'm running python tensorflow/examples/speech_commands/train.py
**OS Platform and Distribution (e.g., Linux Ubuntu 16.04):** Windows 10 x64
**TensorFlow installed from (source or binary):** pip install tf-nightly (tf_

[2017-11-06 10:45] Timmmm commented on #14285
I have had this crash before when some tensors were the wrong size. They were fed into an Eigen operation that only checks the size in debug mode. When I rebuilt in debug mode I got an Eigen assertion that pointed to the actual issue.

[2017-11-06 12:15] zjh-nudger commented on #14208
Thanks. How can I specific the GLIBC version when I compile from source?  Is the GLIBC version same as GCC ?

[2017-11-06 12:31] gauss-clb opened #14289 "Is something wrong about slim.learning.train?"
[source code](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/slim/python/slim/learning.py)

My code is so complex and very very long, so I just describe my code logic.

I add two parameters `run_tensor` and `run_placeholder` to `slim.learning.train`, the `run_tensor` is the tensor I want to run and the `run_placeholder` is placeholder I need to feed. And I also add two par

[2017-11-06 13:22] ysfdmr28 commented on #14285
# deneme türkiye

[2017-11-06 13:24] ysfdmr28 commented on #14285
#14290 jtmjtym

[2017-11-06 13:26] ppwwyyxx commented on #14271
Should be fixed by #10857 in this commit: https://github.com/tensorflow/tensorflow/commit/ed259c237425230b77a6fbcede714282b69b753a#diff-09d0717441656db7d7338b7febc2251a

Please upgrade to TF 1.4.

[2017-11-06 13:35] TillLindemann commented on #543
@lglhuada  Hi, recently I have the same issue, I  tried  three different types of  neural network : 1.the simple feedforward network ,2.the pixelcnn 3.GAN. And weird things happened, 1 uses very low usage of the gpu, and that project has very large training data. 2 uses almost 100% of gpu .3 the usage of gpu is preodic , sometimes up to 50% sometimes down to 0%.  After exiperiment, I finally found

[2017-11-06 13:42] mari-linhares commented on #11621
Hi @contractorwolf,

From where I stand, I think the warning you see "makes sense" in your case, since this implementation suggests a queue input or the datasets API as your input pipeline.

An option would be to use [numpy input function](https://www.tensorflow.org/api_docs/python/tf/estimator/inputs/numpy_input_fn), but not sure if this is still recommended.

[2017-11-06 14:04] tirrorex commented on #14217
It goes beyond that.
After a close look i now see that your ios framework is in fact a c++ library just wrapped to be downloaded by cocoapods.
So it seems we have absolutly no way to use swift with tensorflow except if we wrappe everything ourselves

[2017-11-06 14:06] andreas-eberle commented on #14226
It could be a solution to implement a decode_bmp_jpg_png() function besides decode_image(). This function could then return a shape like decode_bmp, decode_jpg and decode_png do.

[2017-11-06 14:07] andreas-eberle commented on #13942
Any news?

[2017-11-06 14:21] andreas-eberle opened #14291 "map_fn not working with string tensor on Android"
It seems that the tensorflow Android version (1.4.0) does not include the kernel for TensorArrayScatterV3 for string tensors (see stacktrace below). This leads to the problem that I cannot use map_fn with string tensors on Android.

The same code and model runs fine with the desktop Java API in the same version.

Can you please add the missing kernel?

Stacktrace

[code]

[2017-11-06 14:21] yongtang commented on #14226
Or maybe add an optional argument, e.g., `candidate="jpg,bmp"` to `decode_image` so that the possible image formats to be probed are restricted.

Either way, if the rank of the shape is determined then I can help creating a PR to have the shape defined when returned from `decode_image`.

[2017-11-06 14:23] chaoswith commented on #14174
finally build success!!

GTX 1080
10.13.1
CUDA9.0 CUDNN7.0
bazel 0.7.0

the point is delete text '__align__(sizeof(T))'

concat_lib_gpu.impl.cu.cc
depthwise_conv_op_gpu.cu.cc
splite_lib_gpu.cu.cc

extern __shared__ __align__(sizeof(T)) unsigned char smem[];
->   extern __shared__ unsigned char smem[];

<img width="1543" alt="2017-11-06 11 10 08" src="https://user-images.githubusercontent.com/48509

[2017-11-06 14:27] tuobay commented on #543
When I train the faster-rcnn-resnet101 model with object-detection repo, no matter how many GPUs I used, the train.py will consume all of the GPUs. e.g. when I use 1, 2 or 4 GPUs, train.py occupy all the memory of them, but only one GPU 'Volatile GPU-Util ' is 100%, the others are 0%.

[2017-11-06 15:10] ghendrymsft opened #14292 "Can't import contrib.boosted_trees"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
== cat /etc/issue ===============================================
Linux 5508912-0913 4.4.0-43-Microsoft #1-Microsoft Wed Dec 31 14:42:53 PST 2014 x86_64 x86_64 x86_64 GNU/Linux
VERSION="16.04.3 LTS (Xenial Xerus)"
VERSION_ID="16.04"
VERSION_CODENAME=xenial

== are we in

[2017-11-06 15:18] wenwei202 commented on #14271
@ppwwyyxx Issue solved by upgrading to tf 1.4 (thumb up)

[2017-11-06 15:18] #14271 closed

[2017-11-06 15:41] mrry commented on #14004
@NearLinHere The  Wheel filename includes `20171026`, which suggests that it's the nightly build from October 26th 2017. Can you try against with the latest nightly build?

[2017-11-06 15:42] erichiller commented on #14230
& is 0.7.0 acceptable, because the Bazel installation guide the TensorFlow doc points to has only 0.7.0 in it's repo (unless installing from git) -- a list of acceptable releases might be good.

[2017-11-06 15:48] jart commented on #14266
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-06 15:48] #14266 closed

[2017-11-06 15:53] cuevas1208 opened #14293 "external symbol unresolved external symbol VS2015"
I have one error while trying to build my program:

### System information
Windows 10 x64 bit
TensorFlow version 1.3
Python version 3.5
cmake
visual studio 2015

- **Additional Dependencies**:
zlib\install\lib\zlibstatic.lib
gif\install\lib\giflib.lib
png\install\lib\libpng12_static.lib
jpeg\install\lib\libjpeg.lib
lmdb\install\lib\lmdb.lib
jsoncpp\src\jsoncpp\src\lib_json\Release\jsoncpp.lib
farm

[2017-11-06 15:54] gergf commented on #10520
The problem still occurs in version 1.4. As @happyharrycn explained right above, you can solve the problem by turning off the biases add operation, or defining a static batch size.

[2017-11-06 15:59] jart commented on #14292
@yk5 @tkoeppe Any particular reason why boosted_trees wouldn't be listed in `contrib/__init__.py`?

[2017-11-06 16:02] skye commented on #13880
No further updates at this time, sorry. I had to work on other things, but I'll try to take another look at this sometime this week.

[2017-11-06 16:07] skye commented on #12937
Looking at calRow_while, it appears you're using control dependencies to serialize the while loop iterations. This is probably why you're not seeing speedups from increasing the parallel_iterations argument (since it can't actually run anything in parallel).

[2017-11-06 16:12] ghendrymsft commented on #14292
ask thomaswc@, nponomoreva@, or soroush@.  There may still be some loose ends left in the migration from learning/lib to third_party.

[2017-11-06 16:15] Timmmm opened #14294 "Compilation progress indicator is useless"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS 10.12.6
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: `master` from around now
- **Python version**:  -
- **Bazel version (if compiling from sou

[2017-11-06 16:16] jart commented on #14226
I worked with these decode image ops recently with the C++ API and I remember having to code a bunch of logic into the graph to guarantee a certain shape output.

@mingxingtan would it be possible to add a parameter to `tf.image.decode_image` to make this simpler? Maybe it could be `force=None` for existing behavior, `force='4d'` to add a JPEG/PNG/BMP have a fourth dimension, or `force='3d'` to tr

[2017-11-06 16:17] jart commented on #14180
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-06 16:17] #14180 closed

[2017-11-06 16:18] georgh commented on #12937
This could be the case, but how would you perform it without the dependencies?
I thought that is the default way to use while_loop?

[2017-11-06 16:23] skye commented on #12686
Ah. Have you used gdb before? I suggest getting a stacktrace, and you can also poke around and find out more about what's causing the error. To use gdb:
1. Build the test in debug mode by using `bazel build -c dbg tensorflow/cc/gradients_nn_grad_test`
2. Open the test binary in gdb: `gdb bazel-bin/tensorflow/cc/gradients_nn_grad_test`
3. Once you get the gdb prompt, run the test in gdb: `(gdb) r`

[2017-11-06 16:27] skye commented on #12937
It depends on the body of your while loop. Sometimes there are independent calculations that can be run in parallel (e.g. if you have many different loop variables and they don't all depend on each other). Also, I suspect you're seeing the manual calculation run faster than the while loop because the body computation is small compared to the overhead of running the while loop. A more complicated o

[2017-11-06 16:29] nicholas-leonard commented on #7823
The [tf.GradientBoostedDecisionTree](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/boosted_trees/estimator_batch/estimator.py) estimators inherit the "old" tf.contrib.learn.Estimator. Will these be updated to inherit the "stable" tf.estimator.Estimator instead?

[2017-11-06 16:32] suharshs commented on #12686
Apologies for the delayed response, you don't need to use the `.backprop` in your test. You just write the usage of the op as normal. The gradient checker will add gradients and verify that they match the numerical gradient.

Here is an example of another test in that same file that does this. The only thing you need to make sure of is that the x shape and y shape match what SoftMaxWithCrossEntrop

[2017-11-06 16:33] georgh commented on #12937
The above calculation is only an example, the body I use takes quiet some time.
But for the above body - how would you write it down to achieve parallel execution with while_loop?

[2017-11-06 16:34] suharshs commented on #12686
You will also need to use the last override of RunTest which can handle multiple outputs and inputs.

[code]

[2017-11-06 16:34] jart commented on #14294
I agree it could be better. You can try filing a bug with the [Bazel project](https://github.com/bazelbuild/bazel), but this would be a tough nut to crack and I'm not sure how much help they would be able to provide.

The reason why that number grows over time is because Bazel starts building as it's traversing the build graph. It sort of discovers as it keeps going how much other stuff it needs t

[2017-11-06 16:34] #14294 closed

[2017-11-06 16:37] jart commented on #14282
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-06 16:37] #14282 closed

[2017-11-06 16:38] jart commented on #14242
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-06 16:38] #14242 closed

[2017-11-06 16:39] smitshilu commented on #14174
@chaoswith may I know Xcode command line tool version?

[2017-11-06 16:45] ybsave commented on #14162
@ppwwyyxx  Thank you for your kind help. After using the same data, the program now performs as expected. Really appreciate!

[2017-11-06 16:45] #14162 closed

[2017-11-06 16:52] fnozarian commented on #11812
I have the same problem when I use KerasClassifier and GridSearchCV for tuning the parameters.

**System information**

- OS: Linux 4.13.3-1-ARCH
- TensorFlow: 1.3.0
- Scikit-learn: 0.19.0
- Keras: 2.0.8
- Python: 3.6.2
- GPU: GeForce GTX 1080 Ti
- CUDA/cuDNN: release 8.0, V8.0.61

**Code example**

`model = KerasClassifier(build_fn=create_model, verbose=0, epochs=20, batch_size=1)`
`optimizer = [

[2017-11-06 16:54] ebrevdo commented on #6683
Is everyone having this issue using Python 3.6?  What operating systme are you using?

[2017-11-06 17:04] allenlavoie commented on #14267
This sounds like the same issue as https://github.com/tensorflow/tensorflow/issues/13278. Could you add a comment there describing how you're building (Bazel? Linking against libtensorflow_framework.so? Linking against the C++ API .so?)? TensorFlow needs to use image libraries, but it's possible we can hide the symbols in some cases.

[2017-11-06 17:12] jart commented on #14250
I haven't heard that one before. [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) is probably your best bet when there's any uncertainty about whether or not a feature is necessary. We triagers can also take care of the work of tagging folks on the team for you in the future. I will note that you made me smile, so I'm going to try my best to fill in for the community.

Speakin

[2017-11-06 17:12] skye commented on #12937
Remove the control dependency block? It depends on what you're trying to achieve... if the variable assigns can happen in any order, you don't need the control dependencies and you can run in parallel. If the assigns must happen in order, then you can't run them in parallel and this is enforced via control deps.

Note that map_fn calls tf.while_loop() under the hood, but doesn't add any control de

[2017-11-06 17:22] yk5 commented on #14292
You can import the classifier the way in the [examples](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/boosted_trees/examples/boston.py#L42) like:

`from tensorflow.contrib.boosted_trees.estimator_batch.estimator import GradientBoostedDecisionTreeRegressor`

But I'm asking the team about whether there's any reason of being made not accessible directly.

[2017-11-06 17:25] jart commented on #14212
If I understand correctly, you're asking us to merge your project into the TensorFlow codebase? Looking at the screenshots, what you built seems really cool. However merging it here might require a fair bit of build work, since .so and .jar files appear to be checked-in to that repo. While we appreciate contributions, we also love seeing TensorFlow benefiting the developers of other projects. I'm

[2017-11-06 17:25] #14212 closed

[2017-11-06 17:26] jart commented on #14198
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-06 17:26] #14198 closed

[2017-11-06 17:27] loretoparisi opened #14295 "Documentation: Java Tutorials"
There is only one example for the Java API `LabelImage.java` that is also outdated. It would be great to add more examples for different tasks like text classification, sentence matching, seq2seq, etc.

I have a small example that put the java api all together. See [tensorflow-java](https://github.com/loretoparisi/tensorflow-java)

[2017-11-06 17:30] yongtang commented on #13942
I think grayscale bmp is just 1 byte per pixel? Created a PR #14296 for the support.

[2017-11-06 17:36] andreas-eberle commented on #13942
Cool, thx.

[2017-11-06 17:41] jart commented on #14174
We only promise compatibility with XCode 7.2 at this time. See the [source install docs](https://www.tensorflow.org/install/install_sources). CC: @gunan

PTAL @ekelsen We're getting a compiler error about memory alignment, in recent versions of clang, on some GPU sources you worked on.

It also seems like [PyTorch](https://github.com/pytorch/pytorch/issues/2692) and a bunch of other projects have

[2017-11-06 17:49] jart commented on #14186
Searching the Internet, this type of error seems to happen quite rarely in general. Could you check if that nsync.a file exists? See https://github.com/openframeworks/openFrameworks/issues/4869#issuecomment-186440569 Were those files built with a different compiler? See [this question](https://stackoverflow.com/questions/13508332/how-to-import-non-standard-library-packages-use-gccgo).

[2017-11-06 17:50] ybsave commented on #1421
Anyone experienced Tensorboard failure after upgrading to Tensorflow 1.4?

My questions are posted here https://github.com/tensorflow/tensorboard/issues/695

Even after I downgraded both/either Tensorflow or Tensorboard, the Tensorboard still does not work, while the log directory's content works well on other computers.

It seems that the upgrading Tensorflow 1.4 damaging some of the essential pa

[2017-11-06 17:51] ghendrymsft commented on #14292
Understood.  It's worth pointing out that using the 'nightly-gpu' container from the [docker hub](https://hub.docker.com/r/tensorflow/tensorflow/tags/), I can't import the GBDTClassifier or the estimator python module:

Traceback (most recent call last):
  File "/mnt/batch/tasks/shared/LS_root/mounts/azfileshare/scripts/train.py", line 9, in <module>
    import models
  File "/mnt/batch/tasks/shar

[2017-11-06 17:51] laoshaw commented on #14182
Same issues on Ubuntu 16.04 64bit virtualenv python3

[2017-11-06 18:14] brian8128 commented on #14182
Does it break stuff or can I ignore the warning?

[2017-11-06 18:16] yk5 commented on #14292
I don't have proper GPU/docker settings, so cannot test out that nightly, but can you try 1.4.0-gpu instead of rc1?
1.4.0 is released last week, and the import works fine with non-gpu pip installation (not the docker).

[2017-11-06 18:36] av8ramit commented on #14230
Yes, unfortunately the information in that table is out of date for 1.4.0. I'll update it accordingly.

[2017-11-06 18:36] mrry commented on #14293
That symbol is defined in `tf_cc_while_loop.lib`. Can you try linking that into your project?

[2017-11-06 18:39] asimshankar commented on #14169
Thanks for the report and the detailed instructions.

I'm going to close this with the intention of continuing discussion on #14147 which seems similar.

[2017-11-06 18:45] av8ramit commented on #14230
https://github.com/tensorflow/tensorflow/pull/14298 thank you @jugglerix for pointing this out.

[2017-11-06 18:47] fchollet commented on #11812
It looks like `GridSearchCV` uses `joblib`. If it attempts to pickle a Keras model (and thus a TF graph) for use in different processes, then that is potentially not going to be possible safely (@reedwm may be able to say more).

It is possible to do this in Keras by creating your own session (with `per_process_gpu_memory_fraction` configured), then setting this session as the Keras session via `k

[2017-11-06 18:55] ebrevdo commented on #13649
Unfortunately, because this is cell is fused in time, adding dropout would require modifying the C++ code that performs the computation to add proper random number generation and dropout.  Work in this direction is not planned at the moment but I'll ping @ekelsen  to get his thoughts on feasibility.

[2017-11-06 19:00] asimshankar commented on #14169
Thanks for the instructions to reproduce.

@yzhwang and @zheng-xq have been investigating some issues with memory allocations and multiple processes and might have some more details here.

[2017-11-06 19:02] asimshankar commented on #14147
Thanks for the report,

@yzhwang and @zheng-xq have been investigating some issues with multiple processes and the GPU memory allocator and might have some more detail to share.

In the mean time, if possible, could you package up detailed instructions to reproduce the problem - ideally a `.py`  file that we could run (perhaps twice, one for each process) that reproduces the issue?

Thanks.

[2017-11-06 19:05] bignamehyp commented on #14295
@asimshankar how about more examples in Java tutorials?

[2017-11-06 19:14] bignamehyp commented on #14289
This is a question better suited for StackOverflow, which we also monitor. Please ask it there and tag it with the `tensorflow` tag.

[2017-11-06 19:14] #14289 closed

[2017-11-06 19:19] bignamehyp commented on #14280
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-06 19:19] #14280 closed

[2017-11-06 19:22] yzhwang commented on #14169
Hi @vincentfung13 . Thanks for reporting the issue. We have encountered similar issues internally when two or more processes are running TensorFlow with limited GPU memory. In our case, a simple const tensor or random tensor creation will cause garbage values instead of any OOM error when one process has already taken most GPU memory.
The short answer to the issue is that: it is due to CUDA runtim

[2017-11-06 19:23] reedwm commented on #11812
I'm not sure what you mean here. According to [this page](https://pythonhosted.org/joblib/parallel.html), `joblib` uses `fork()`, which, according to #5448, does not work well with TensorFlow.

[2017-11-06 19:27] yzhwang commented on #14147
Hi @mmuneebs Thanks for reporting the issue. See my comment for another issue here: https://github.com/tensorflow/tensorflow/issues/14169#issuecomment-342256834

[2017-11-06 19:28] #14231 closed

[2017-11-06 19:39] deepSalva commented on #14282
Thanks for your answer. Anyway I think there is a bug in there since I can' t train the model because of the tensor shapes. Also it will be interesting if someone in the tensorflow community can show me the way to make this regression model with a hidden layer in tensorflow. I already write in StackOverflow and I got no answer...

[2017-11-06 19:49] pfc opened #14299 "padded_batch fails on nested shapes"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Arch Linux, fully updated
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: v1.3.0-rc1-4086-g028809769d 1.4.0-rc1
- **Python version**: 3.6.3
- **Bazel v

[2017-11-06 19:59] mrry commented on #14299
I think the problem is in this line:

[code]

To match the signature of `generator()`, which returns a pair of objects, the `output_types` argument should be a pair of types, rather than a single type `tf.float32`. For example, changing that line as follows makes your code work for me:

[code]

[2017-11-06 19:59] bignamehyp commented on #14085
You don't have to follow examples in train_image_classifier. You can directly assign GPU to computing logits from the network. For example:
with tf.device('/gpu:0'):
   logits, _ = network_fn(images)

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads question

[2017-11-06 19:59] #14085 closed

[2017-11-06 19:59] gunan commented on #14039
@Nayana-ibm have you tried also turning off s3 support?

[2017-11-06 20:15] pfc commented on #14299
I can confirm that this does fix the problem.  It would be nice if we could somehow add information to the above exception as it does seem cryptic to newer users.  Not sure how that would be done though.  I'll close for now as the initial issue is resolved.  Thanks mrry for your help!

[2017-11-06 20:15] #14299 closed

[2017-11-06 20:28] MagicTroy commented on #6683
I am using Python 3.6 with tensorflow_gpu 1.3 in Ubuntu 14 TSI, the same issue happens. By switching to Python 2.7, restoring model works.

[2017-11-06 20:59] asimshankar commented on #14208
Can you compile on the same machine you're deploying on (the one that has the old GLIBC version?).

That said, it is quite possible that TensorFlow will not compile with an older GLIBC version. Unfortunately, we don't have the bandwidth to support that, and will have to rely on community support.

[2017-11-06 20:59] #14208 closed

[2017-11-06 21:01] ebrevdo commented on #6683
There could be a problem in our swig wrapping w/ TF 3.6.

On Mon, Nov 6, 2017 at 12:29 PM, Sixun Ouyang <notifications@github.com>
wrote:

[2017-11-06 21:18] bignamehyp commented on #14107
Thank you very much for your feedback. It seems some op consumed more memory than before. If you have time, can you please help figure out which op on your graph used more memory, maybe by simplifying your code and finding out the bottleneck? At the same time on our side, we plan to add better debugging tool for gpu memory allocation and add memory regression tests.

[2017-11-06 21:21] hanfeisun commented on #14145
@ispirmustafa Thanks, but while `numpy_input_fn` supports "dict of numpy array object" for data source, it seems that `Dataset.from_generator` doesn't support dictionary structure.

[2017-11-06 21:22] bignamehyp commented on #14196
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-11-06 21:26] jmaye commented on #14107
On my side, I have a resnet in the same style as the examples in the official tensorflow models repository. Thanks a lot for looking into this.

[2017-11-06 21:28] sshrdp commented on #14292
I think the issue is that with version 1.5 some of the python files are not included in the release. We have to investigate and add the proper dependencies. (Probably from boosted_trees:init_py to estimator_batch/estimator).
I just tried the nightly docker image and verified that in estimator_batch directory it only has:
__init__.py  __init__.pyc  custom_export_strategy.py  custom_export_strategy.

[2017-11-06 21:36] smitshilu opened #14301 "import keras error"
### System information
OS - High Sierra 10.13
Tensorflow - 1.4
Keras - 2.0.9
CUDA - 9
cuDNN - 7

### Describe the problem
CUDA_ERROR_OUT_OF_MEMORY when import Keras after upgrading to 10.13 and 1.4

[code]

[2017-11-06 21:37] smitshilu commented on #14174
Build success! Thank you @chaoswith

[2017-11-06 21:38] Jake8K commented on #14018
second!
I'm trying to implement this model in tf, ( https://arxiv.org/abs/1606.01700 ) which receives the same word at the word and character level to a lookup table and bidirectional LSTM (respectively), the output of both is then concatenated using a "gate" function before sending the imbedding to another LSTM.
Their Theano source-code is here: https://github.com/ nyu-dl/gated_word_char_rlm.

[2017-11-06 21:45] bignamehyp commented on #14165
You can achieve this using tf control flows. .I'm going to mark this as "contributions welcome" since I think it would be a nice feature and would benefit the whole community.

[2017-11-06 21:52] ispirmustafa commented on #14145
@mrry could you please comment about Dataset.from_generator?

[2017-11-06 21:56] keightyfive opened #14302 "TF CNN benchmark resnet-50 not freeing up GPU memory after being terminated"
Hi

I've ran some of the cnn benchmarks on an cluster that uses SLURM, on a Nvidia XP. One of my jobs got stuck. When I cancelled the script, it seems not to free up the GPU memory anymore after that.
totalMemory: 11.90GiB freeMemory: 365.94MiB

Now I can't run any more scripts. How can I free up my GPU memory again?

### System information
- **Have I written custom code (as opposed to using a sto

[2017-11-06 21:57] pandaczm commented on #12071
@yaroslavvb  Hi, I don't understand why ## dy*(x/tf.norm(x)) ##  this could lead to a stable gradient. Could you please explain it more? Thank you.

[2017-11-06 22:02] gbc8181 commented on #14163
@gunan thanks. That really works

[2017-11-06 22:08] allenlavoie commented on #14285
libsystem_malloc.dylib seems wrong; if you're using the pip package TensorFlow should be using jemalloc. Maybe [this symbol](https://github.com/rwth-i6/returnn/blob/148d103e13ebecb83c0d40539ae84eadabc14873/NativeOp.cpp#L499) is leaking into TensorFlow since you [load the op with RTLD_GLOBAL](https://github.com/rwth-i6/returnn/blob/b53a0a5c1c6acd0235fde2adcfeb8fb20b213fa8/TFNativeOp.py#L88)? If so,

[2017-11-06 22:09] johnsrude commented on #14107
I have already provided the steps to reproduce the error.   MNIST data works well.  I have real issues with detailed performance profiling on TensorFlow so I've stopped looking at detailed profiling on an op-by-op basis for now.  A better profiling tool would be much appreciated.

[2017-11-06 22:22] sshrdp commented on #14190
What's your examples_per_layer and batch_size?
Here is the values set in mnist.py comment:
 python tensorflow/contrib/boosted_trees/examples/mnist.py \
  --output_dir="/tmp/mnist" --depth=4 --learning_rate=0.3 --batch_size=60000  \
  --examples_per_layer=60000 --eval_batch_size=10000 --num_eval_steps=1 \
  --num_trees=10 --l2=1

[2017-11-06 22:26] bignamehyp commented on #14202
@ebrevdo can you please take a look at this issue? Thanks.

[2017-11-06 22:28] zhedongzheng commented on #14190
hi @sshrdp, just default value as you can see from code.
[code]
You can try my script on a single machine, it is very slow to build the graph.

[2017-11-06 22:44] flx42 commented on #14224
@gunan this seems to be fixed, right?

[2017-11-06 22:57] bignamehyp commented on #14302
Is there anything else running on the same XP gpu?

To free up GPU memory, you can try approaches recommended on stackoverflow, for example:
https://stackoverflow.com/questions/15197286/how-can-i-flush-gpu-memory-using-cuda-physical-reset-is-unavailable

[2017-11-06 23:05] georgesterpu commented on #14250
You are completely right, @jart. It would be more appropriate if I rephrase the last sentence as : "After going through the entire support thread in [[1]](https://github.com/tensorflow/tensorflow/issues/7951) and searching related content on StackOverflow too, to the best of my knowledge these functionalities have not been implemented yet."

If you are unsure about the possibility of sorting a Dat

[2017-11-06 23:06] bignamehyp commented on #14284
@yifeif , can you please take a look at this issue? Thanks,

[2017-11-06 23:09] keightyfive commented on #14302
The admin had to relaunch the node on the cluster. My script turned into a zombie a threw the gpu off the bus :dagger:
I'm now running my stuff again.

Thanks

[2017-11-06 23:12] case540 commented on #14224
Patch was cherry-picked to 1.4. In process of rebuilding/uploading docker images for 1.4

[2017-11-06 23:15] rasmi opened #14303 "tf.metrics.mean_per_class_accuracy does not assume num_classes"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: ('v1.2.0-5-g435cdfc', '1.2.1')
- **Python version**: 2.7.6
- **CUDA/cuDNN version**: 5.1
-

[2017-11-06 23:20] yifeif commented on #14284
Thanks @yjmade. A PR is more than welcomed! Feel free to request a review from me whenever you have it ready. cc: @fchollet.

[2017-11-06 23:23] rasmi commented on #14303
Here is a quick workaround. Essentially, define a wrapper function which gets num_classes from elsewhere in your model.py and passes it to `eval_metrics`. But ideally this can be inferred from elsewhere in the graph.
[code]

[2017-11-06 23:32] bignamehyp commented on #14228
If you would like to plot time stamp on tensorboard, you can use include it in tf.summary
For example,
summary_writer = tf.summary.FileWriter()

summary = tf.Summary()
summary.value.add(tag='xxx', simple_vale=yyy)
summary_writer.add_summary(summary, global_step)

[2017-11-06 23:32] #14228 closed

[2017-11-06 23:34] #14252 closed

[2017-11-06 23:36] #14163 closed

[2017-11-06 23:40] bignamehyp commented on #14254
I can't reproduce it on my local machine either. Thanks for the update. I will close this issue.

[2017-11-06 23:40] #14254 closed

[2017-11-06 23:40] jart commented on #14250
Just so there's no misunderstanding, our team is always grateful when members of the community take the time to leave us feedback. My goal is to be friendly and helpful in this process. Per your request, I'm happy to reopen this issue, so the next triager can take a look in a day or so.

[2017-11-06 23:42] jart commented on #14188
Thank you for the report. There's a lot of code here. Would you be able to distill a minimal reproducible example?

[2017-11-06 23:43] gunan commented on #14174
The GPU build on macOS is completely community supported now, as there are no "Officially supported" systems released by apple that have NVIDIA GPUs.

But looks like this issue was resolved anyway?

[2017-11-06 23:46] angersson commented on #14109
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. Please move your issue there. Thanks!

[2017-11-06 23:46] #14109 closed

[2017-11-06 23:50] yaroslavvb commented on #14228
How would you plot communication latency between workers using tf.summary?
You need something like CurrentTimestamp op to execute on one worker, and then compare it against timestamp on another worker to get the latency

[2017-11-06 23:52] riadsouissi commented on #14231
Gunan, if you check the code I am running to reproduce  this issue, I am loading anything in memory myself, just constants and such. But TF tries to allocate 8gb and it fails. Though I have 1080Ti with 11gb memory. I also used session gpu options to limit memory allocation but same thing.
I suspect a compatibility issue between my TF installation and the CUDA drivers.
Any idea?

[2017-11-06 23:52] angersson commented on #14257
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-11-06 23:55] mrry commented on #14232
Passing on to @saeta for ClusterSpec propagation and @frankchn for ClusterResolver.

It would be neat if we could implement this without big changes to the runtime. For example, could we use a TF server to implement step 1, and short-lived sessions targeting the master from each of the workers to implement steps 2 and 3?

[2017-11-06 23:56] gunan commented on #14231
What if you set `allow_growth` in your GPUOptions?

On Mon, Nov 6, 2017 at 3:54 PM, riadsouissi <notifications@github.com>
wrote:

[2017-11-06 23:58] mrry commented on #14145
I believe `Dataset.from_generator()` *does* support yielding dictionaries (of NumPy arrays), as long as you specify a dictionary-based structure in the `output_types` argument. If this is not the case, please file a bug with a way to reproduce the problem!

[2017-11-07 00:08] case540 commented on #14224
New dockers built and uploaded. Unsure how to verify issue is fixed.

[2017-11-07 00:10] printdhruv commented on #14303
I guess the doc says following for num_classes,
`num_classes: The possible number of labels the prediction task can have. This value must be provided, since a confusion matrix of dimension = [num_classes, num_classes] will be allocated.`

[2017-11-07 00:34] angersson commented on #14279
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-07 00:34] #14279 closed

[2017-11-07 00:35] angersson commented on #14283
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-07 00:43] angersson commented on #14301
This seems to be a duplicate of #14107.

For questions related to reducing memory usage for your specific case, please ask a question on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow), which we also monitor. Thanks!

[2017-11-07 00:43] #14301 closed

[2017-11-07 00:46] georgesterpu commented on #14250
Thanks, Justine. One workaround that crossed my mind is storing the inputs in separate TFRecords based on their lengths and concatenating several Datasets when creating the iterator. Having this feature on the iterator would only make things more compact.

[2017-11-07 00:47] nryant opened #14306 "Segmentation fault when using bidirectional_dynamic_rnn + orthogonal_initializer"
### System information
- **Have I written custom code**: Yes
- **OS Platform and Distribution**: Ubuntu 14.04 LTS (kernel: 3.16.0-77-generic)
- **TensorFlow installed from**: source
- **TensorFlow version**: 1.4.0rc1 (ae04712e3b74bc85445e12c90e375f980a907e2d)
- **Python version**:  2.7.10
- **Bazel version**: 0.7.0
- **GCC/Compiler version**: 4.8.5
- **CUDA/cuDNN version**: 8.0/6.0.21
- **GPU mode

[2017-11-07 00:53] bignamehyp commented on #14248
@fchollet any reason tile not included in tensorflow/python/keras/backend/__init__.py?

[2017-11-07 01:00] BumwooPark commented on #10827
i have same issue
tensorflow - 1.4.0
tensorflow-gpu - 1.4.0
GeForce GTX 980 TI
cuda_8.0
cudnn-8.0 -v6

[2017-11-07 01:00] zjh-nudger commented on #14208
unfortunately, I can not compile on the machine which I don't have the authority...

[2017-11-07 01:03] bignamehyp commented on #14306
I can reproduce it with tf-nightly-gpu. @ebrevdo can you please take a look?
Thanks

[2017-11-07 01:05] georgh commented on #12937
Ok now I got what you are suggesting.
The following does **not** work:
[code]
This will never execute calEntry.

But if you use
[code]
It works and is as fast as using map or foldl, foldr
Thank you a lot for your help, even though it does not change much because now my code already uses map and fold everywhere.

You can still gain some speed if you use
[code]
but this may result in a very slow gra

[2017-11-07 01:12] skye commented on #12937
You're welcome! Using the functional ops will probably make your program easier to understand than using while_loop directly (like I said, these functions call while_loop under the hood).

There are no plans to change while_loop right now, no. I suggest benchmarking your actual application, as I expect you'll find the overhead to be a smaller percentage of the total runtime than in this microbench

[2017-11-07 01:12] #12937 closed

[2017-11-07 01:13] kelvinxu commented on #12937
Hi @skye  I encountered something similar when running tf.map_fn where the function was a neural network that did a bunch of gradient steps. The inputs were just slices of a minibatch.

Basically this: https://github.com/cbfinn/maml/blob/master/maml.py#L78

I noticed that on CPU, there was parallelization, but on GPU no. Might there be a reason for this?

It seems like the post here was not the sa

[2017-11-07 01:14] angersson commented on #14211
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-07 01:14] #14211 closed

[2017-11-07 01:18] angersson commented on #14233
@purpledog, can you take a look at this feature request?

[2017-11-07 01:20] stereomatchingkiss commented on #14267
@allenlavoie

I build tensorflow libs by Bazel

1. Clone tensorflow from https://github.com/tensorflow
2. Install require dependencies
3. bazel build //tensorflow:libtensorflow.so
4. Link to cuda, -L/usr/local/cuda-8.0/lib64 -lcuda -lcudart -lcurand -lcublas -lcudnn -lcusolver -lcufft
5. Link to protof and tensorflow, -L/usr/local -lprotobuf -ltensorflow_framework -ltensorflow_cc
6. Link to opencv

[2017-11-07 01:21] angersson commented on #14265
@fchollet Could you take a look at this?

[2017-11-07 01:23] angersson commented on #14291
@petewarden Can you take a look at this?

[2017-11-07 01:26] allenlavoie commented on #14267
If you're using the C++ API, you shouldn't need to link against libtensorflow_framework.so directly. Does it work if you take "-ltensorflow_framework" out?

[2017-11-07 01:27] angersson commented on #14275
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it looks like a configuration-related build issue. There is also a larger community that reads questions there. Thanks!

[2017-11-07 01:27] #14275 closed

[2017-11-07 01:34] #9721 closed

[2017-11-07 01:39] angersson commented on #14303
This looks like a feature/cleanup request. @alextp, can you take a look?

[2017-11-07 01:47] angersson commented on #12157
@Sycor4x, has anything changed since you filed this issue?

@abrbrazj, can you provide additional information, as per [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new)?

[2017-11-07 01:53] stereomatchingkiss commented on #14267
@allenlavoie

It will pop out a lot of undefined symbol when compile

[2017-11-07 02:09] skye commented on #13880
I think I figured it out... under the hood, this code is creating colocated graph operations, including the variables. The problem is that when `place_pruned_graph = True` (which InteractiveSession sets), the variable initialization run() call places a Variable op on the GPU (since it doesn't see any of the pruned colocated ops). Then when you try to run the train_op, it "realizes" all the colocat

[2017-11-07 02:12] fchollet commented on #14265
I believe this is the same issue as https://github.com/tensorflow/tensorflow/issues/13429

It sounds like a variable scope issue?

[2017-11-07 02:15] fchollet commented on #14248
Thanks for reporting this, it seems like it was omitted from the list of symbols that are part of the public API. We'll fix it in the next release.

Have you noticed this for any other symbol than `tile`?

[2017-11-07 02:16] abeepathak96 commented on #7257
How can make the tensrflow installed on my machine to compile SSE, AVX, FMA instructions?

[2017-11-07 02:29] kishorenayar commented on #14198
Okay @jart

[2017-11-07 02:32] marvin520 commented on #9399
i have meet this problem,too. does there is any clear resolution or question in StackOverflow?

[2017-11-07 02:33] abrbrazj commented on #12157
@angersson
The System Information is the same as Sycor4x.
I want to move my model to the app on iPad, so I frozen and optimize my graph. But when I used the optimized model on C++ API of TnesorFlow, this issue occurred. I used `bidirectional_dynamic_rnn` in my graph, and this issue happened in the `whileloop` in` dynamic_rnn`.  And then I changed `bidirectional_dynamic_rnn` to `static_bidirectiona

[2017-11-07 02:49] danqing commented on #7257
If you use ubuntu 16.04, check out the link I posted above (https://github.com/mind/wheels) - there you can find the version you want as well as how to install it.

[2017-11-07 03:16] zjh-nudger commented on #14208
I have tried to compile on the machine with lower GLIBC version. Unfortunately, The compile tool (Bazel) need one higher GLIBC[bazel: /lib64/libc.so.6: version `GLIBC_2.14' not found (required by bazel)]. Consequently, there is no way to run the native tensorflow program on machine with lower GLIBC version（<2.14）...

[2017-11-07 03:27] gdeer81 commented on #13982
the python implementation uses None to indicate "no connection" but I'm not sure that returning null in c++ will have the same effect.

So I have three options: return 0, return the input gradient, or return a zero matrix.

Also, there is no test for the python version, so I'm really lost on how to test this one.

[2017-11-07 03:42] frankchn commented on #14232
Hi @UWFrank, is your code available as open source anywhere? We are happy to take a look at it.

[2017-11-07 04:08] Tweakmind commented on #12052
Ubuntu 16.04, TensorFlow 1.4 with CUDA 9.0 and cuDNN 7.0.3 already installed and tested:

# Install Tensorflow 1.4 from Source
cd ~/Downloads
git clone https://github.com/tensorflow/tensorflow
cd tensorflow
git checkout r1.4

# Configure for CUDA version: 9.0
# Configure for cuDNN version: 7.0.3
# Get your compute capability from https://developer.nvidia.com/cuda-gpus
# I set this to 6.1 as I have

[2017-11-07 04:57] kanwei commented on #14174
I finally got CUDA working on High Sierra, CUDA 9, and cuDNN 7, by removing the "align"s, doing the LD_LIBRARY_PATH hack above, and removing "-lgomp" from the CUDA makefile. Pain in the butt, but it works!

[2017-11-07 05:24] facaiy commented on #14303
It seems not true, see `tf.metrics.recall_at_k(labels, predictions, k)` and ` tf.metrics.mean(values)`

[2017-11-07 05:25] KevlarTheGreat commented on #14004
This is the error I get:
`c:\Users\Brian\Anaconda3\Lib\site-packages\tensorflow\examples\speech_commands>python train.py
Traceback (most recent call last):
  File "train.py", line 81, in <module>
    import input_data
  File "c:\Users\Brian\Anaconda3\Lib\site-packages\tensorflow\examples\speech_commands\input_data.py", line 35, in <module>
    from tensorflow.contrib.framework.python.ops import au

[2017-11-07 05:37] code-spring opened #14311 "How to automated test tensorflow with WisdomTool REST Client?"
[WisdomTool REST Client](https://github.com/wisdomtool/rest-client) supports automated testing RESTful API and automatically generating RESTful API documentation.
Do not know how to automated test tensorflow with this tool.

[2017-11-07 05:47] facaiy commented on #14265
I think @fchollet is right . The best solution is to specify name by yourself nowadays.

[2017-11-07 05:52] wryoung412 commented on #14265
@facaiy thanks for confirming this. Not really a big issue. Just to make sure I am using it properly.

[2017-11-07 06:10] flrngel commented on #6683
I am using python 3.6 / TF1.4, having same problem..

[2017-11-07 06:15] LiberiFatali commented on #4944
In my case, I use older bazel version and fix this issue

[2017-11-07 06:46] facaiy commented on #13429
@lukaszkaiser How about adding a new parameter, say `auxiliary_name_scope`, for ` tf.variable_scope`:
+ `auxiliary_name_scope=True`, create new name scope as before by default.
+ `auxiliary_name_scope=None` or `auxiliary_name_scope=False`, don't create any name scope.
+ `auxiliary_name_scope=some_name_scope`, reuse it if `some_name_scope`  is `name_scope`.

If so, we can write one line code to reu

[2017-11-07 07:26] nash100 commented on #14180
I had the same problem and solve it by closing spyder software before pip install

[2017-11-07 07:49] facaiy opened #14313 "Feature request: add tf.decode_libsvm op"
Hi, since libsvm format is used widespreadly to store sparse data, and is supported by many main-stream frameworks:
+ spark: [LibSVMDataSource](https://spark.apache.org/docs/2.0.0/api/java/org/apache/spark/ml/source/libsvm/LibSVMDataSource.html)
+ sklearn: [load_svmlight_file](http://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_svmlight_file.html)
+ xgboost: [LibSVM format](http

[2017-11-07 07:52] tarun005 commented on #5625
Any matching links for Python 3.6 on Ubuntu?

[2017-11-07 07:56] flrngel commented on #6683
Tested with Python 2.7 / TF1.4 was same

[2017-11-07 08:11] Randl commented on #13851
Another option would be just to remove `lib64` at configuration script ( https://github.com/tensorflow/tensorflow/blob/master/configure.py#L617 ) and to ask users give a full path to libcudart

[2017-11-07 08:11] hemp110 opened #14314 "eager module has no attributes"
My OS is Ubuntu 16.04
Python version is 3.5
Tensorflow version is 14.0
when I tried a simple code for TF Eager module

`import tensorflow as tf`
`import tensorflow.contrib.eager as tfe`
`tfe.enable_eager_execution()`
`x = [[2.]]`
`m = tf.matmul(x, x)`

I got a error
AttributeError: module 'tensorflow.contrib.eager' has no attribute 'enable_eager_execution'
So what's wrong?

[2017-11-07 08:17] Randl commented on #13851
However, the nvcc isn't install to the same dir anymore too (it sits at `/usr/bin/nvcc`)

[2017-11-07 08:24] nash100 commented on #6698
I had the same problem in on Windows 10, CUDA 8.0, cuDNN 6.1 with GTX1070Ti.
I find the reason: i have runned tensorflow code in annconda spyder IDE, after that I run another tensorflow code in annconda prompt.
solve it by closing spyder IDE
@lockywolf is right

[2017-11-07 08:30] berisfu commented on #14190
@zhedongzheng
estimator.fit(input_fn=tf.estimator.inputs.numpy_input_fn(
    x={'_':X_train}, y=y_train, batch_size=args.batch_size, num_epochs=1, shuffle=True))

after fit by GradientBoostedDecisionTreeEstimator , can the GBDT model be saved in JSON format, which can easily loaded by other language such as C++...

[2017-11-07 08:42] ZR-Huang commented on #6698
I had the same problem. I try the @strickon 's method, and I don't know about "nvidia-smi" maybe it is a command on Linux. I solved this problem through update the **cuDNN 6.0 for CUDA8.0**  to **cuDNN 7.0 for CUDA8.0**

**system at begin:**
- Windows10
- CUDA8.0
- cuDNN6.0
- Anaconda3.5(python3.5)
- GeForce 840M major: 5 minor: 0 memoryClockRate(GHz): 1.124
- 2.00GiB freeMemory: 1.66GiB

**system

[2017-11-07 08:44] nisace commented on #14283
Isn't it a feature request? As, as far as I understand, Dataset + input_fn are designed in a way that does not seem to allow to train for a few steps, evaluate, then train again without restarting the dataset iterations from scratch.
Thanks

[2017-11-07 08:48] staeff777 commented on #13610
I hope it's not too off-topic:
Is there a possibility to use efficient GPU-Preloading with the image_tensor placeholder in a object detection frozen graph?

(I'm searching since two day, and think that datasets might be a good answer, however I'm afraid that the feed_dict parameter to set data for placeholders does not support any preloaded data.)

[2017-11-07 08:57] ashokbugude commented on #11236
@fferroni Can I please know how to create model_string.meta . The below command creates only  model_string.index and model_string.data-00000-of-00001 files. .meta file is needed to do prediction as described in https://stackoverflow.com/questions/35508866/tensorflow-different-ways-to-export-and-run-graph-in-c

`TF_CHECK_OK(session->Run({{"save/Const:0", model_string}}, {}, {"save/control_dependenc

[2017-11-07 09:06] sunreef commented on #14314
From Eager [user guide](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/eager/python/g3doc/guide.md):

[2017-11-07 09:08] pribadihcr commented on #6971
+1
017-11-07 17:01:24.884678: W tensorflow/core/framework/op_kernel.cc:1182] Invalid argument: Cannot parse tensor from proto: dtype: DT_FLOAT
tensor_shape {
  dim {
    size: 832
  }
  dim {
    size: 832
  }
  dim {
    size: 832
  }
  dim {
    size: 216
  }
}
float_val: 0

2017-11-07 17:01:24.884742: E tensorflow/core/common_runtime/executor.cc:643] Executor failed to create kernel. Invalid ar

[2017-11-07 09:12] Nayana-ibm commented on #14039
hi @gunan I have tried turning off s3 support through configure however still I'm facing an issue with boringssl code.

[code]
bazel build -c opt //tensorflow/tools/pip_package:build_pip_package

[code]

I'm looking  into BUILD files if there is any code change requires for s390x.

[2017-11-07 09:19] hemp110 commented on #14314
@sunreef Thank you!

[2017-11-07 09:19] #14314 closed

[2017-11-07 09:20] albertz commented on #14285
Thanks for the answers. @allenlavoie  The symbol you refer to is inside `struct Context` (a macro trick to make `OpKernelContext* context` from the outer scope available inside the functions there), so I don't think that symbol causes confusion.

However, it's good that you mention libsystem_malloc.dylib. So, you assume the `malloc` from libsystem_malloc overwrites the `malloc` from libtensorflow_

[2017-11-07 09:22] formath opened #14315 "Does tensorflow support RowSparsePull and RowSparsePush when using embedding_lookup_sparse?"

[2017-11-07 09:58] ashokbugude opened #14316 "C++ model Saving(after training) not generating 'modelName.meta' file for Prediction"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 17.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 2.7
- **Bazel version (if compiling from source)**: 0.5.1
- **GCC/Comp

[2017-11-07 10:06] albertz commented on #6602
I wonder what the state is here? Wouldn't it be possible to just add `cuda_config.h` to the pip package? Wouldn't that solve the problem?

[2017-11-07 10:47] al3xsh commented on #14248
Hi @fchollet - thanks for the quick response!

Aside from tile, the following are missing:
conv3d_transpose
cumprod
cumsum
depthwise_conv2d
identity
local_conv1d
local_conv2d
logsumexp

I have added these imports into __init__.py and created a pull request.

#14318

Regards,

Alex

[2017-11-07 10:48] sleighsoft commented on #14257
I am on Windows 10, Tensorflow 1.4.0 (pip).
I do not see how my operating system and architecture are related to this question, though.

Maybe you misunderstood my question.
I would like to pass arbitrary data to my `generator_fn` and `discriminator_fn` as it is possible with `tf.estimator.Estimator`. This is a matter of consistency for me. I would allow reusing most of my data preprocessing alrea

[2017-11-07 11:51] NickolasHu commented on #11605
The pb generating files consume lots of binary space. for example, 160.1396kb by test_log.pb.o, 144.4404kb by meta_graph.pb.o which may not be used or appropriate on a mobile device. Is there any solution to remove or replace them?

The following file is a size analysis by link map file, sorted by size.
[text_section_size.txt](https://github.com/tensorflow/tensorflow/files/1449828/text_section_siz

[2017-11-07 12:09] AlexWang90 opened #14320 "Supervisor does not initialize parameters"
Hi，
      It throws an exception when I tried to initialize parameters with tf.train.Supervisor where the net is contructed with tensorlayer. The code is like this:

[code]
and the exception is:

[code]

It seems that when I run initialize op `init_ = sess.run(init_op)`  it does not really work.

I use tensorflow v1.2.1 and python3.6

[2017-11-07 12:45] dartdog commented on #14182
Quite strange since the prior version worked fine with 3.6 (and it's packages), so it would seem that this should be a pretty simple fix?

[2017-11-07 13:05] albertz commented on #14285
The commit I just did seems to fix it. It was actually not a bug in TensorFlow but in my code. I kept using the pointer `tensor->shape().dim_sizes().data()` which becomes invalid after the statement evaluation is finished. I wonder if that was valid before or not. Anyway, this seemed to be the problem and it doesn't crash anymore. So I'm closing this issue for now, unless it will happen again.

[2017-11-07 13:05] #14285 closed

[2017-11-07 14:02] ppwwyyxx commented on #14320
All the exceptions are throws from tensorlayer. Why would you think "Supervisor does not initialize parameters"?

[2017-11-07 14:06] ppwwyyxx commented on #14302
If there is no process running on the GPU but memory is not freed, this is a known bug of nvidia driver.

[2017-11-07 14:09] nillpatel commented on #13951
I have same issue with linux mint.

[2017-11-07 14:56] AlexWang90 commented on #14320
As if tensorflow initializes parameters succeed,  the following code could run without any Exception.
[code]

[2017-11-07 15:07] ppwwyyxx commented on #14320
You probably came to this wrong conclusion only because of the misleading messages from tensorlayer: ` Hint: print params details after tl.layers.initialize_global_variables(sess)`, which is irrelevant to the bug you're seeing.
In fact TensorFlow is already giving you the correct message: you need `with sess.as_default()`.

[2017-11-07 15:15] ebrevdo commented on #6683
Is this in Windows or Linux or...?

On Mon, Nov 6, 2017, 11:56 PM Hwechul Cho (Derrick) <
notifications@github.com> wrote:

[2017-11-07 15:21] Fulvioo commented on #14244
@Danquing . Any plans for developing  the same  patch for windows 10? Thanks

[2017-11-07 15:48] xiejw commented on #11621
mari-linhares  is correct. @contractorwolf's case deserves a warning as the Estimator.predict might not work well with constant arrays. numpy_input_fn should be the best option for now and it will be supported for future releases (see [API stability promises ](https://www.tensorflow.org/programmers_guide/version_compat))

At head, the warning should be removed for Dataset API (already). See code h

[2017-11-07 15:48] #11621 closed

[2017-11-07 15:49] baluyotraf opened #14322 "Cannot reload tensorflow with importlib"
System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
I just tried reloading tensorflow using importlib
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10
- **TensorFlow installed from (source or binary)**:
tensorflow-gpu from pip
- **TensorFlow version (use command below)**:
1.3.0
- **Python version**:
3.6.2

[2017-11-07 15:52] stevenhanjun opened #14323 "tensorflow.python.framework.errors_impl.InvalidArgumentError: Shape mismatch in tuple component 0"
When I use tensorflow to build my own neural network and run it, I meet a very strange error. The error is that tensorflow.python.framework.errors_impl.InvalidArgumentError: Shape mismatch in tuple component 0. Expected [400], got [3200]. I have no idea about how [3200] comes, could anyone can help to fix this problem? The input of the neural network is a 400-dimension vector.

Here is my code:

t

[2017-11-07 16:15] smitshilu commented on #14301
@angersson I am not sure whether it is duplicate or not. But I couldn't find a solution for this. The problem wasn't there for 1.2

[2017-11-07 16:26] roysheffi commented on #11085
+1

[2017-11-07 17:00] ejls opened #14324 "input_dims not a constant expression in slice_op.cc"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian 9.0 (with a Gentoo Prefix)
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: c81acfb025abe417d80ffa677edfe2dd1bcda58e (15 hours old)
- **Python ver

[2017-11-07 17:01] allenlavoie commented on #14267
@stereomatchingkiss which symbols? We'd like the C/C++ APIs (libtensorflow.so/libtensorflow_cc.so) to be usable on their own, and those have a linker script so that they don't expose extra symbols (preventing issues like the one you've reported).

[2017-11-07 17:01] skye commented on #13982
Use NoGradient() (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/cc/framework/gradients.h#L48). For example: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/cc/gradients/nn_grad.cc#L193

As for testing, look at cc/gradients/math_grad_test.cc and see if you can add a test case to CWiseUnaryGradTest for Floor. If you still need help post back here (I haven't looked a

[2017-11-07 17:05] divya07srivastava opened #14325 "Issue while importing tensorflow"
I am trying to import tensorflow in Ubuntu 14.04 having cuda 7.5 installed. I am using tensorflow 1.4. There is issue related to
 importerror: libcudart.so.8.0: cannot open shared object file: no such file or directory.
Kindly help!!
![screenshot from 2017-11-07 17-31-46 1](https://user-images.githubusercontent.com/33459515/32506944-dd8f450e-c3dd-11e7-91b8-0870e086f137.png)

[2017-11-07 17:12] smitshilu commented on #14174
I have listed all the steps to build tensorflow 1.4 with CUDA 9 at here https://gist.github.com/smitshilu/53cf9ff0fd6cdb64cca69a7e2827ed0f

[2017-11-07 17:14] smitshilu commented on #12052
Installation for Mac 10.13, CUDA 9 and tensorflow 1.4 https://gist.github.com/smitshilu/53cf9ff0fd6cdb64cca69a7e2827ed0f

[2017-11-07 17:20] flrngel commented on #6683
I use Ubuntu. I think this problem comes with initial state when using dynamic rnn. If we use just `dtype` from `dynamic_rnn()` (which means not using user-defined initial state), `tf.Saver()` doens't save dynamic rnn last state.

[2017-11-07 17:29] ispirmustafa commented on #13951
tf.estimator.DNNClassifier returns four predictions: logits, probabilities, class_ids, classes.
class_id is integer and classes is string

[2017-11-07 17:29] #13951 closed

[2017-11-07 17:30] bignamehyp commented on #14322
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-07 17:30] #14322 closed

[2017-11-07 17:37] bignamehyp commented on #14320
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-07 17:37] #14320 closed

[2017-11-07 17:37] furybubu opened #14327 "Mixed precision not enabled with TF1.4 on Tesla V100"
Hi there,

I was interested in testing my neural net (an Autoencoder that serves as a generator + a CNN as a discriminator)  that uses 3dconv/deconv layers with the new Volta architecture and benefit from the Mixed-Precision training. I compiled the most recent source code of Tensorflow 1.4 with CUDA 9 and CudNN 7.0 and cast all the trainable variables used by my conv/deconv layers to tf.float16.

[2017-11-07 18:01] wangwenqi1990 opened #14328 "DataLossError (see above for traceback): corrupted record at 46064268 [[Node: parallel_read/ReaderReadV2_2 = ReaderReadV2[_device="/job:localhost/replica:0/task:0/cpu:0"](parallel_read/TFRecordReaderV2_2, parallel_read/filenames)]]"
I am trying to train AlexNet from scratch through slim (https://github.com/tensorflow/models/tree/master/research/slim).
My setup is Python 2.7.12, Tensorflow 1.0.0, in a Linux16.04 system. Below is my error report after 3 hours training.
![screen shot 2017-11-07 at 12 57 15](https://user-images.githubusercontent.com/15274537/32509450-53bbcde2-c3bb-11e7-9dcb-e5fa2eab2783.png)
A similar problem als

[2017-11-07 18:17] danqing commented on #14244
@Fulvioo unfortunately not :( we don't have any windows machines.

[2017-11-07 18:22] bignamehyp commented on #14328
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-07 18:22] #14328 closed

[2017-11-07 18:23] alextp commented on #14303
This is why MetricSpec was dropped on the transition from tf.contrib.learn.Estimator to tf.estimator.Estimator. Instead, metrics are returned from the model_fn. If you switch to tf.estimator.Estimator and return your metrics from the model_fn this issue should go away.

[2017-11-07 18:23] #14303 closed

[2017-11-07 18:42] bignamehyp commented on #14316
As far as I know, you can only save metagraph in python and load it in C++.

[2017-11-07 18:42] #14316 closed

[2017-11-07 18:46] mrry commented on #14004
@KevlarTheGreat Which version of TensorFlow have you installed? The fix is only available in the `tf-nightly` package, and will be part of TF 1.5.

[2017-11-07 18:53] angersson commented on #14283
I misread the issue as a is-this-possible-if-so-how question. Sorry about that.

@davidsoergel, can you take a look at this?

[2017-11-07 18:55] UWFrank commented on #14232
Hi @frankchn, my design would require a new API for creating the server. Parameters such as num_ps_hosts, num_worker_hosts, job_name and task_index need to be provided by the user. I am working on a patch right now and can send a PR once done.

[2017-11-07 18:57] bignamehyp commented on #14324
@gunan @drpngx @aselle , can you please take a look?
It might be related to https://github.com/tensorflow/tensorflow/pull/11140

[2017-11-07 18:58] angersson commented on #14265
This appears to be resolved. I'm closing the issue to keep the tracker focused. Feel free to reopen if needed.

[2017-11-07 18:58] #14265 closed

[2017-11-07 19:06] lukaszkaiser commented on #13429
That looks fine to me provided Martin and others agree to the API change.

[2017-11-07 19:06] frankchn commented on #14232
Hi @UWFrank, would it be possible to write up a short Google Doc/Markdown doc about any proposed API changes? We try to review API changes early in the design process so to avoid extensive rewrites, etc...

[2017-11-07 19:13] angersson commented on #14301
#14107 discusses 1.4's extra GPU memory usage compared to older versions, which seems to be the same issue that you're facing.

For help with making adjustments for your specific case, [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow) is our preferred location to ask questions. Thanks!

[2017-11-07 19:24] yongtang commented on #14313
@facaiy I added a very rudimentary implementation of `decode_libsvm` in PR #14330. It is pretty rough as am not sure about the api. Please take a look and comment.

[2017-11-07 19:25] angersson commented on #14313
It looks like a few developers have written their own libsvm-format parser ops [based on previous issues](https://github.com/tensorflow/tensorflow/search?q=libsvm&type=Issues&utf8=%E2%9C%93), and a PR (above, #14330) has already been opened. Neat!

[2017-11-07 19:26] angersson commented on #14315
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-07 19:26] #14315 closed

[2017-11-07 19:27] angersson commented on #14323
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-07 19:27] #14323 closed

[2017-11-07 19:27] angersson commented on #14325
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-07 19:27] #14325 closed

[2017-11-07 19:34] mancoast commented on #8584
Greetings @cryptox31 @WorksWellWithOthers
Does the Intel Xeon Phi x100 PCI-E [Knight's corner] support Tensorflow?  Has anyone successfully executed the system on the 1st generation Xeon Phi?

Thanks,
coast

[2017-11-07 19:35] #11195 closed

[2017-11-07 19:35] #14243 closed

[2017-11-07 20:42] #12767 closed

[2017-11-07 20:46] angersson commented on #14327
For point 1, please ask a question on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow), which is better suited for questions that are not bugs or feature requests.

For point 2, can you split it (or reword this issue) into a separate feature request?

Thanks!

[2017-11-07 20:49] angersson commented on #14257
Yes, I misread this as an error during invocation. Sorry about that.

[2017-11-07 20:50] angersson commented on #14257
@mrry, can you take a look at this?

[2017-11-07 20:51] gunan commented on #8584
On TF side we still have not tested with avx512. So nothing from our end.

[2017-11-07 20:59] girving commented on #6706
@martinwicke Didn't you say configure wasn't necessary, or was that rerunning configure?

[2017-11-07 21:02] angersson commented on #12157
I was able to recreate @Sycor4x's errors with the latest docker image (TF 1.4) from gcr.io/tensorflow/tensorflow, after changing `toy_saved` to `./toy_saved`. The first script had to be saved as `optimize_graph_minimal.py`.

@ebrevdo, can you take a look at this?

[2017-11-07 21:02] Carmezim commented on #14127
Nice work @Timmmm, thanks for the solution. Waiting for #14288 to merge :)

[2017-11-07 21:28] laoshaw commented on #14182
same issue with the just released 1.4 version...

[2017-11-07 21:29] mrry commented on #14257
Seems specific to TFGAN, so I'll defer to @joel-shor.

[2017-11-07 21:42] sstolpovskiy commented on #11761
@subzerofun I was able to compile master with removing constexpr in variant.h
` class Variant {
  public:
-  constexpr Variant() noexcept = default;
+  Variant() noexcept = default;
`
It looks working, but I'm wondering if it's broke something?

[2017-11-07 21:47] 9034725985 commented on #14182
Just to add to what @dsitnik said,  simple hello world to reproduce on Fedora 26 venv

[code]

[code]

[code]

[code]

[2017-11-07 21:48] mancoast commented on #8584
greetings @gunan
Please excuse the cross-link, but as a k1om vet, I strongly suggest that we consider implementation using https://github.com/edanor/umesimd .  This lib handles avx512 and the eol 512-bit instruction set of knights corner.  I would be more than willing to contribute, but require direction/instruction.

Thanks,
coast

[2017-11-07 21:56] martinwicke commented on #6706
@gunan, it shouldn't be, is it still?

[2017-11-07 21:58] bignamehyp commented on #13096
Please upgrade to tensorflow 1.4 to see if you can reproduce this issue. Thanks.

[2017-11-07 21:58] gunan commented on #6706
Unfortunately it is, still.
@case540 has volunteered and working towards making configure script completely optional.
He can report on his progress.

[2017-11-07 21:59] bignamehyp commented on #12449
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-07 21:59] #12449 closed

[2017-11-07 22:02] bignamehyp commented on #12466
Does this problem still exist at TF 1.4?

[2017-11-07 22:04] bignamehyp commented on #13338
In your example, you named your encoder2 'encoder1'

[2017-11-07 22:06] bignamehyp commented on #13200
Thank you very much for your contribution. Since it's not a bug report nor a feature request, I will close this issue.

[2017-11-07 22:06] #13200 closed

[2017-11-07 22:07] furybubu opened #14334 "Float16 not supported by Maxpool3D"
I was trying to switch the training of my neural net to Mixed-precision but while conv/deconv3d layers are supporting the float16 type,  Maxpool3D layers still require a float32 input. Can we expect these to support float16 precision soon?

Thanks!

[2017-11-07 22:07] angersson commented on #13103
@ebrevdo, can you take a look at this?

[2017-11-07 22:07] furybubu commented on #14327
Sure, I just wrote a separate issue.

[2017-11-07 22:11] bignamehyp commented on #14334
We currently don't have anybody working on this. It would be great if you could help us by working on this and submitting a PR. Let us know if you need further clarification. Thanks!

[2017-11-07 22:11] #14334 closed

[2017-11-07 22:12] Carmezim commented on #14127
I've made the modifications and tried to compile this time getting just one error related to [this commit](https://github.com/tensorflow/tensorflow/commit/4e69e02241067129379f73dd4fefe57f0a12bdc9) replacing `setUnsafeAlgebra()` by `setFast()`. Should I open a new issue to track that @asimshankar?
[code]

[2017-11-07 22:29] sshrdp commented on #7823
@nicholas-leonard Yes. That's the plan.

[2017-11-07 22:33] rasmi commented on #14303
If that is the preferred approach going forward, then there is no need to modify this in contrib. The above workaround will suffice for those using the contrib Estimator. Thanks Alex!

[2017-11-07 22:52] yaroslavvb commented on #14327
@furybubu the way to troubleshoot this would be to isolate performance problem to individual ops.
There's probably a long road of improvements ahead in order to make TF make full use of Volta architectures.

For instance, here are some microbenchmarks on V100 using Amazon/Nvidia tensorflow images: https://medium.com/@yaroslavvb/peak-performance-of-amazon-p3-instances-f2bc48f9ef71

[2017-11-07 23:02] gunan commented on #14039
@case540 Do we need to disable s3 and gcp support through config options?

[2017-11-07 23:05] yaroslavvb commented on #14232
/sub

[2017-11-07 23:10] #478 closed

[2017-11-07 23:22] yongtang commented on #14232
@UWFrank This is an area of interest to us as well. Please keep us posted and let me know if I can be of any help in this area.

[2017-11-07 23:43] gotyaoi commented on #12466
The issue still exists in tensorflow 1.4.0. The stack trace looks to have changed slightly, but the error is very similar.

[code]

[2017-11-08 00:28] av8ramit commented on #14230
https://www.tensorflow.org/install/install_sources

[2017-11-08 00:28] #14230 closed

[2017-11-08 00:39] furybubu commented on #14327
@yaroslavvb Thanks for your reply. I tried the script you wrote for your benchmark and my results seem to be fairly different from what you have. In my case, both float32 and float exhibit the same plateau around 15 Tops/s, I do not see the peaks at 87ish Tops/s like yours.
My feeling is that my tensorflow build is probably not handling half precision correctly (Like I said, I compiled 1.4rc sourc

[2017-11-08 00:53] GreggHelt2 commented on #14182
Same issue on OSX 10.11.6, in an Anaconda virtual environment with Python 3.6.3 and upgrading to TensorFlow 1.4.
Temporarily routed around this issue by creating a new Anaconda environment with Python 3.5.4 and Tensorflow 1.4, which is working fine.

[2017-11-08 01:06] parsboy66 commented on #11157
hi guys
i want to train my model but it has errors like below...anybody knows whats that????   and i have to tell u   i have updated my keras to 2.0.9 and after that i got this error

File "train.py", line 57, in train
    history=model.fit_generator(datagen_train, steps_per_epoch=train_samples_per_epoch, epochs = 10, verbose = 1, validation_data                          = datagen_valid, validatio

[2017-11-08 01:07] yaroslavvb commented on #14327
@furybubu
I've used Amazon Machine Learning for CUDA 9 image (ami-60df1418), and also NVidia's NGC container (`docker pull nvcr.io/nvidia/tensorflow:17.10`). I have not observed difference on the microbenchmark for those two images.

Verbally I've been told by NVidia that getting TF to utilize Volta in NGC container required significant amount of customization from the official version, and that e

[2017-11-08 02:10] NearLinHere commented on #14004
@mrry it's fixed. thank you 👍

[2017-11-08 02:18] yongtang opened #14342 "[Feature Request] Add payload only compression support for TFRecord files"
This feature request is a follow up to PR #12369 and issue #12344.

Issue #12344 raised the feature request of supporting gzipped TFRecord files. However, the compression means the TFRecord file is gzipped as a whole and the header is compressed as well.

In certain situations, it might be desirable to expose the header and only compress the payload for better visibility and lookup performance.

T

[2017-11-08 03:35] facaiy commented on #13429
OK. Since the change is easy to implement, I'd like to propose a PR later for further discussion.

[2017-11-08 04:00] Maurdekye opened #14345 "CUBLAS_STATUS_ALLOC_FAILED when attempting to train linear regressor"
### System information
- This is my code.
- Windows 10 x64
- installed tensorflow using pip
- tensorflow-gpu v1.4.0
- Python 3.6.0
- CUDA v8.0, Cudunn v6.0
- EVGA GTX 980 SC ATX 4GB

### Describe the problem
Whenever I try to train a linear regression network with this dataset, it gives me a CUDA error saying CUBLAS_STATUS_ALLOC_FAILED. I suspect it's not because I'm using too much memory, as when

[2017-11-08 04:30] wy200507030 opened #14346 "how to use java client to request tensorflow serving for wide&deep model or how to use java to load wide&deep model and predict?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-11-08 04:34] wy200507030 commented on #14346
i have write python client to request wide&deep model by tensorflow serving successful, but i am am doubt how to use java to resolve it, because example and document is too lack

[2017-11-08 05:33] FarahSaeed commented on #14065
Hi I would like to work on this. Can I take up this issue?

[2017-11-08 05:51] yananchen1989 opened #14347 "Is my code right to use batch normalization layers in tensorflow?"
I have two inputs: `qi_pos & qi_neg` with the same shape. They should be processed by the two mlp layers, and finally get two results which acts as score. Here is my codes:
[code]

I use BN layer to normalize the nodes in hidden layers:

[code]

Below is the loss definition.It seems all right.

with tf.name_scope('predictions'):
  sim_diff = pos_pair_sim - neg_pair_sim
  predictions = tf.sigmoid(s

[2017-11-08 05:58] terryKing1992 commented on #13854
@onyamaa  Do you solve this problem? I add some code block before ` with sv.managed_session(server.target) as sess:`, use this snippet ` chief_queue_runner = model_builder.optimizer.get_chief_queue_runner()
            sv.start_queue_runners(sess, [chief_queue_runner])`, then it works well. hope it can work for you.

[2017-11-08 06:51] ProZoom commented on #12935
how i do on Mac？i hava this issue！

[2017-11-08 06:58] ProZoom commented on #14182
same issue on MacOS high sierra！how resolved it！give me command ，not link！

[2017-11-08 07:02] wy200507030 opened #14348 "how to use java client to request tensorflow serving for wide&deep model or how to use java to load wide&deep model and predict?"
i have write python client to request wide&deep model by tensorflow serving successful, but i am am doubt how to use java to resolve it, because example and document is too lack

[2017-11-08 07:41] adeagle opened #14349 "The efficiency of data access"
def test_tf():
    with  tf.Session() as sess:
        array=tf.ones([1024,5],dtype=tf.float32)
        t0=time.clock()
        out=0
        for i in range(array.shape[0]):
            out+=array[i]
        out=sess.run([out])
        t1=time.clock()
        print("test_tf:",out,t1-t0)

def test_np():
    array=np.ones((1024,5),dtype=np.float32)
    print array.shape
    t0=time.clock()
    out=0

[2017-11-08 07:52] myungjoo commented on #14014
Could you please share how it went?

[2017-11-08 07:56] gunan commented on #14014
Still looking into a few more things. I will update one we have a decision or counter proposal.

[2017-11-08 07:59] gunan commented on #12959
I think at least some of these are due to open file handles. I will try to see how I can overcome these, and also add these in cmake tests.

[2017-11-08 08:03] tcclk opened #14352 "How can I export the model as serving format?"
# I want to get the serving model format for using server.
To export estimator m there are four steps:
1.Define estimator's features.

2.Create a feature config.

3.Build an export_input_fn suitable for use in serving.

4.Export the model using export_savedmodel().

I try to use ：
    export_dir_base = "./serving_save_model"
    feature_spec = {
                    'times': tf.placeholder(tf.float

[2017-11-08 08:21] coderXiangLi opened #14353 "variance goes negative when set layers.batch_norm reuse=True"
#### TF 1.2.1 running on cpu & distributed version

#### layers.batch_norm set reuse=True
I use a sequence of items features which contains n (feature length) * N (sequence length) real-value features. And do batch_norm on each item of the sequence, then do some full_connected, etc. Finally concat them as dnn input.
Here is a simple code of the this. In order to make variance quickly go negative,

[2017-11-08 09:03] loretoparisi opened #14355 "Java API and Node.js: java.lang.IllegalArgumentException: graphDef and prefix cannot be null"
I'm using [node-java](https://github.com/joeferner/node-java) to run the JAVA API within a `Node.js` application. Most of the work is done in Java, but I have some issues when loading the graph through node using the Java api `graph.importGraphDef` I get a `java.lang.IllegalArgumentException: graphDef and prefix cannot be null`.
I'm loading the inception graph as a binary file `tensorflow_inceptio

[2017-11-08 09:24] DavidNorman commented on #14127
thanks for the heads up...

[2017-11-08 09:29] gunan commented on #14224
[code]
Looks like GPU is now accessible on 1.4 devel docker images.

[2017-11-08 09:29] #14224 closed

[2017-11-08 09:35] flrngel commented on #6683
@gaofeitongji yeah, I'm having same trouble after I changed rnn user defined initial variable.. I'm in debugging all variables now..

[2017-11-08 09:42] damienpontifex opened #14356 "Keras application - Tensor is not an element of this graph on eval after train"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.13.1
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: v1.4.0-rc1-11-g130a514 1.4.0
- **Python version**: 3.6.3
- **CUDA/cuDNN version**: N/A CPU o

[2017-11-08 09:45] gaofeitongji commented on #6683
@flrngel yeah, @MagicTroy said it was ok in python 2,  it does not work for you ?

[2017-11-08 09:48] formath commented on #9777
The performance of `embedding_lookup_sparse` for million of rows is very poor. More precisely, the bottleneck is on the network between worker and ps. As a ultimate solution, `RowSparsePull` and `RowSparsePush` are needed. Anyone want to contribute? @suiyuan2009

[2017-11-08 10:06] xisnu commented on #6683
Last test was with tensorflow 0.12 and python 2.7. Everything was fine.

[2017-11-08 10:11] eli99999 commented on #3549
thanks @bobeo ,
I did this process with a few pb graphs including the ones from the example app
and in in time I'm the print_selective_registration_header process i see that the ops_to_register.h file is updated according to the graph but the resulting libtensorflow_inference.so is always in the same size.
i tried all the bazel clean / bazel dump options that i have found, but nothing helped
so it

[2017-11-08 10:11] stereomatchingkiss commented on #14267
@allenlavoie

Many of them(1270), I put the records at [pastebin](https://pastebin.com/jmLBncx8)

[2017-11-08 10:32] naktinis opened #14357 "Following instructions in batch_normalization docs produces an exception"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 17.10
- **TensorFlow installed from (source or binary)**: Binary (pip install tensorflow)
- **TensorFlow version (use command below)**: v1.4.0-rc1-11-g130a514 1.4.0
- **Python version**: 3.6.3
-

[2017-11-08 10:49] smsrikanthreddy opened #14358 "Not found Op type not registered 'CountExtremelyRandomStats'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS sierra 10.12.6
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**: 1.3
- **Python version**: 3.5.2
- **Bazel version (if compiling from source)**: 0.5.4

[2017-11-08 10:53] eli99999 commented on #3549
OK,
just realized that i had 2 ops_to_register.h files ...
on in the /core/framework folder
and one in the project root folder where i ran the print_selective_registration_header build
i think that this is worth clearing in the print_selective_registration_header.h comments...

[2017-11-08 11:24] flrngel commented on #6683
I found my problem and it was shuffling before making dictionary.. 😢

[2017-11-08 11:52] keryil commented on #12657
I am running into the same issue on 1.4 rc (compiled from source, bazel v0.7.0). At first I thought it was trying to load the model on a Raspberry Pi that caused this, but it looks like I cannot load the frozen model even on the very workstation it was created on. Any tips on how to deal with this?

[2017-11-08 12:00] gaofeitongji commented on #6683
@flrngel what was that? can you explain more detail?

[2017-11-08 12:12] gaofeitongji commented on #6683
Everything was fine, Python2.7, TF1.4.

[2017-11-08 12:23] humcasma opened #14359 "Keras model.trainable_weights does not return all trainable weights"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: YES
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS 10.12.6
- **TensorFlow installed from (source or binary)**: BINARY
- **TensorFlow version (use command below)**: v1.4.0-rc1-11-g130a514 1.4.0
- **Python version**: 3.5.4
- **Bazel version (if compiling

[2017-11-08 12:39] wichtounet opened #14360 "Cannot build TF 1.4 with CUDNN 1.4"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Centos 7
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.4
- **Python version**: 3.4.5
- **Bazel version (if compiling from source)**: 0.7.0- (@non-gi

[2017-11-08 12:53] humcasma opened #14361 "tf.name_scope() is not propagated to variables created by Keras layers"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: YES
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS 10.12.6
- **TensorFlow installed from (source or binary)**: BINARY
- **TensorFlow version (use command below)**: v1.4.0-rc1-11-g130a514 1.4.0
- **Python version**: 3.5.4
- **Bazel version (if compiling

[2017-11-08 13:10] rjbruin commented on #13444
@caisq Sorry to bother you, but could you give an indication of when you could get to this? It would really help me to have this in TensorFlow. :)

[2017-11-08 13:17] ljanyst opened #14363 "Failed to synchronize the stop event"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04

- **TensorFlow installed from (source or binary)**:
source

- **TensorFlow version (use command below)**:
b'v1.4.0-0-gd752244' 1.4.0

- **Python version**:
3.5.2

- **Bazel version (if co

[2017-11-08 13:31] chihyuwang opened #14364 "What is the instruction of checking which version of cuda and cudnn the tensorflow is running on?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**:1.4
- **Python version**: 2.7
- **Bazel version (if compiling from source)**:
- **GCC/Compiler versio

[2017-11-08 14:14] laiviet opened #14365 "Unable to read saved model from SMB directory"
I am using Tensorflow GPU version 1.1.0, my model can run well if I save it to computer 's hard drives. However, if I save checkpoint files to a samba network drive, I can not restore it and here are the logs.

2017-11-08 17:25:27.795833: I tensorflow/core/common_runtime/gpu/gpu_device.cc:977] Creating TensorFlow device (/gpu:0) -> (device: 0, name: GeForce GTX 1070, pci bus id: 0000:01:00.0)
2017

[2017-11-08 14:29] bobeo commented on #3549
@eli99999 any luck? Can you try this [model](http://download.tensorflow.org/models/object_detection/faster_rcnn_resnet101_coco_11_06_2017.tar.gz)?
I'm trying all over again, if success I will let you know. Cheers!

[2017-11-08 14:50] caisq commented on #13444
@rjbruin Sorry about the delay.

@sguada @rjbruin's FR makes sense to me. The change should be small and straightforward. I'll send you a change list to you soon.

[2017-11-08 15:15] allenlavoie commented on #14267
This seems to be the main problem:
```usr/bin/ld: warning: libtensorflow_framework.so, needed by /home/ramsus/Qt/3rdLibs/tf_test/lib/libtensorflow_cc.so, not found (try using -rpath or -rpath-link)```

libtensorflow_framework.so should be accessible from libtensorflow_cc.so (in the same directory). As long as that's true and you stick to the C++ API it should work.

[2017-11-08 15:30] andreas-eberle opened #14366 "Question: How to feed a batch of variable sized images to the Tensorflow C/C++ or Java API on Android?"
I asked this question on Stackoverflow before but got no answers: https://stackoverflow.com/questions/46906269/how-to-process-variable-sized-images-with-tensorflow-java-api

In short: I have a CNN model that is doing some preprocessing of the images in the tensorflow graph before running the CNN on the data. This preprocessing includes resizing the images after normalizing them etc. Thus, I need t

[2017-11-08 15:34] sleighsoft commented on #14257
In general I would like full control over the data flow in `GANEstimator`. The framework should not prevent me from passing data between the functions I implement.

Same problem occurs with `gan_estimator_impl.py` where `_use_check_shapes(real_data)` is used to validate the shape of my generated data preventing me from passing `[batch_size]` shaped real_data to the `GANEstimator` while passing `[b

[2017-11-08 16:28] stereomatchingkiss commented on #14267
@allenlavoie

I use rpath to specify the folder, this time all of the compile time error gone(if I do not call tensorflow::graph_def), but the images read by cv::imread remain empty.

However, create tensorflow::graph_def still got error

[2017-11-08 16:32] footh commented on #14054
@jart What is the procedure for getting permission to push up a PR? I filled out the form and was expecting an email or something but haven't received anything yet.

[2017-11-08 16:47] johnsrude opened #14369 "configure.py should remember previous session as defaults"
### System information
[tf_env.txt](https://github.com/tensorflow/tensorflow/files/1454666/tf_env.txt)

Branch tensorflow-r1.4

### Describe the problem

Using instructions at https://www.tensorflow.org/install/install_sources to build from source.  When run configure.py a second time, defaults should be the options chosen the previous time.  Filling out all the questions again is exceedingly tedi

[2017-11-08 16:52] allenlavoie commented on #14267
@skye might know whether GraphDef should be in the C++ API.

But you could you verify that cv::imread works if you don't link in the TF C++ API, and doesn't work if you do link it in (making sure you're only linking to that and no other TF libraries)? This would be very surprising, since there's a linker script to control the symbols it exports. Basically we've already split the image reading part

[2017-11-08 17:02] jthestness commented on #13875
After removing the CUDA 9/cuDNN 7 changes (by establishing they weren't the problem), we were able to bisect. We built with the commit just before 5c7f9e3 (i.e., 054b882), and the MPI collectives import works there.

Thanks for the recommendations! I'll give them a try sometime next week.

[2017-11-08 17:02] m3bm3b commented on #13220
That's a very different issue, but I hope I have fixed it at head.
I still do not know whether the original issue on Sierra is fixed, because no one has reported
either failure or success at head since I attempted to fix it at head.

[2017-11-08 17:11] Paulswith commented on #14182
Same issue on OSX 10.12.6 sierra,
![image](https://user-images.githubusercontent.com/24262233/32562915-795d941c-c475-11e7-8f5f-314800f1c51e.png)

the version:
![image](https://user-images.githubusercontent.com/24262233/32562950-9213c742-c475-11e7-9ade-84519916faa5.png)

Hope this helps.

[2017-11-08 17:16] stereomatchingkiss commented on #14267
@allenlavoie

As long as I do not link to tensorflow library, cv::imread can read the image without any issue.
If I link to tensorflow library but do not include any tensorflow header, cv::imread still able to read the image.

[2017-11-08 17:23] bignamehyp commented on #14364
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-08 17:23] #14364 closed

[2017-11-08 17:24] jart commented on #14054
I wasn't aware there was a form. Is that for the Google CLA? If that's signed, you should be able to just write the code and send us the PR. Then someone on the team should hopefully review it in a day or so.

Please note you can't push to tensorflow/tensorflow. Typically people click the fork button, push to their personal repo, and then use that to create the PR.

[2017-11-08 17:24] bignamehyp commented on #14348
Same as #14346

[2017-11-08 17:24] #14348 closed

[2017-11-08 17:27] allenlavoie commented on #14267
Ah, so it's not a symbol conflict (and splitting up our shared objects wouldn't help). Interesting. Maybe a ```#define```? I'd think the compiler would complain about most other header issues.

[2017-11-08 17:33] asimshankar commented on #14127
Thanks for the fix @Carmezim - much appreciated.

[2017-11-08 17:53] yaroslavvb commented on #14349
this may be better for stackoverflow :)

[2017-11-08 17:53] #14349 closed

[2017-11-08 17:56] yaroslavvb commented on #14369
Two work-arounds:
1. with https://github.com/tensorflow/tensorflow/pull/13495 , you don't need to run configure. Just run it once, and then pulling/switch branches will remember the old values
2. Use expect script like https://github.com/yaroslavvb/stuff/blob/ab45a0463f12942aef4561799523a2f80e56d7de/configure_tf_cpu.sh to automatically answer the questions

[2017-11-08 17:59] bignamehyp commented on #14366
@rmlarsen @aselle
FYI (please feel free to cc anyone else who may be interested)

[2017-11-08 18:04] furybubu commented on #14327
@yaroslavvb thanks for your insight. I am guessing now my best option is to call Nvidia!

[2017-11-08 18:05] stereomatchingkiss commented on #14267
@allenlavoie

I set the option -Wall, most of the worning are related to unused parameter. The header "#include <tensorflow/cc/ops/const_op.h>" will cause imread always return empty image

[Complete warning message](https://pastebin.com/r0arZUt8)

[2017-11-08 18:09] noahu1234 opened #14373 "pip3 syntax error"
I put in the code in python but it does not work i made sure that pip3 and python is updated and installed but it gives me this:

  File "<stdin>", line 1
    pip3 install tensorflow
               ^
SyntaxError: invalid syntax

  File "<stdin>", line 1
    pip install tensorflow
              ^
SyntaxError: invalid syntax

  File "<stdin>", line 1
    pip3 install --upgrade tensorflow

[2017-11-08 18:25] bignamehyp commented on #14342
Thank you very much for adding gzip and zlib to TFRecords. For payload only compression the current option is to add compressed strings to the payload.

We currently don't have anybody working on this. It would be great if you could help us by working on this and submitting a PR. Let us know if you need further clarification. Thanks!

[2017-11-08 18:25] bignamehyp commented on #14342
Thank you very much for adding gzip and zlib to TFRecords. For payload only compression the current option is to add compressed strings to the payload.

We currently don't have anybody working on this. It would be great if you could help us by working on this and submitting a PR. Let us know if you need further clarification. Thanks!

[2017-11-08 18:26] bignamehyp commented on #14360
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-08 18:26] #14360 closed

[2017-11-08 18:34] hanfeisun opened #14374 "Get all placeholders of the graph"
According to [this](https://stackoverflow.com/questions/38933793/how-to-get-reference-by-name-of-variable-placeholder):, there are two ways to get placeholders of the graph.

However, neither of them are very convenient.

When I reuse a pretrained model, it is common to inspect the shape of **all placeholders**. But there is no API to **get all placeholders easily**.

Is it good for all placeholde

[2017-11-08 18:38] damienmg opened #14375 "Build is broken at HEAD"
From ci.bazel.io (mac and Linux: https://ci.bazel.io/blue/organizations/jenkins/TensorFlow/detail/TensorFlow/1544/pipeline/):

[code]

Repro:
[code]
After configuring.

Bisecting blame fe197f7dc5bd3b986141bcdaa27928206e74741a

/cc @gunan

[2017-11-08 18:41] angersson commented on #14345
This looks like it's been resolved, since you posted a solution. If you think others may run into the same problem, consider posting an answered question on [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow). Thanks!

[2017-11-08 18:41] #14345 closed

[2017-11-08 18:42] angersson commented on #14347
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-08 18:42] #14347 closed

[2017-11-08 18:45] angersson commented on #14373
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-08 18:45] #14373 closed

[2017-11-08 18:49] footh commented on #14054
Yes it was the Google CLA.

Thanks for the tip, the PR is up.

[2017-11-08 18:54] angersson commented on #14355
Node and node-java bridging isn't officially supported by the TF team. Try asking a question on [Stack Overflow](stackoverflow.com/questions/tagged/tensorflow), which is better suited for problems that are not bugs or feature requests. If you can track this back to a problem isolated within the Java API, please file another issue. Thanks!

[2017-11-08 18:54] #14355 closed

[2017-11-08 19:00] loretoparisi commented on #14355
@angersson Yes sir of course I did before posting here, but the response did not help me https://stackoverflow.com/questions/47160365/read-binary-data-with-node-js-stream

[2017-11-08 19:11] av8ramit commented on #14182
I am working on resolving both the Python3.6 binary as well as the git_version tag.

[2017-11-08 19:24] smcveigh-phunware commented on #14375
+1

[2017-11-08 19:53] johnsrude opened #14380 "Bazel Build Fails with "undeclared inclusion(s) in rule '@nccl_archive//:nccl'""
### System information
The environment used is:
[tf_env.txt](https://github.com/tensorflow/tensorflow/files/1455194/tf_env.txt)

The branch downloaded is tensorflow-master branch

When I run the configure script the configuration is
[.tf_configure.bazelrc](https://github.com/tensorflow/tensorflow/files/1455688/tf_configure.bazelrc.txt)

### Describe the problem
When I run
[code]
The build fails wi

[2017-11-08 20:06] sleighsoft commented on #14257
As a side note, is there an easy way to pretrain generator and discriminator independently using `GANEstimator`?

[2017-11-08 20:06] lmd-santos opened #14381 "Can't access predictions"
------------------------

### System information

- OS Platform and Distribution: Windows 10
- TensorFlow installed from: binary
- TensorFlow version: Tensorflow 1.4.0
- Python version: Python 3.6
- CUDA/cuDNN version: CUDA 8 / cuDNN 6
- GPU model and memory: GTX M950

### Describe the problem
When trying to print the predictions from DNNClassifier class i only get "<generator object Estimator.pre

[2017-11-08 20:19] jsimsa commented on #13101
@tillahoffmann I digged into this a bit more and my conclusion is that the slowdown is due to the (constant) overhead of `tf.data` runtime. In particular, I  have done the following:

[code]

which results in:

[code]

In particular, if a generator that produces whole batches is used (as opposed to a generator that produces single elements batched by `tf.data`), the throughput of `tf.data`-based e

[2017-11-08 20:34] angersson commented on #14363
@zheng-xq, can you take a look at this?

[2017-11-08 20:36] angersson commented on #14359
@martinwicke, can you take a look at this?

[2017-11-08 20:36] angersson commented on #14361
@martinwicke, can you take a look at this?

[2017-11-08 20:41] #11502 closed

[2017-11-08 20:41] #12327 closed

[2017-11-08 20:41] angersson commented on #14365
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-08 20:41] #14365 closed

[2017-11-08 20:48] #11916 closed

[2017-11-08 20:48] tensorflowbutler commented on #11916
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-11-08 20:48] angersson commented on #14381
`preds` is indeed a generator object that cannot be printed on its own. [The Estimator Tutorial](https://www.tensorflow.org/get_started/estimator) demonstrates this:

[code]

If you have more issues like this, please post a question on [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow), which is more suited to individual issues that are not bugs or feature requests. Thanks!

[2017-11-08 20:48] #14381 closed

[2017-11-08 20:53] angersson commented on #14327
This appears to be resolved, so I'm closing the issue to keep the tracker focused. Feel free to re-open if needed.

[2017-11-08 20:53] #14327 closed

[2017-11-08 21:04] angersson commented on #14357
It's hard to say if this is a local issue (for which [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow) may be more helpful) or a documentation bug. @fchollet, can you take a look?

[2017-11-08 21:05] angersson commented on #14353
@fchollet, can you take a look at this?

[2017-11-08 21:06] allenlavoie commented on #14267
Yeah, those warnings all look fine. The next step would be to narrow down and figure out which transitively included header from const_op.h is causing problems; any interest?

[2017-11-08 21:09] vishvananda opened #14384 "Cannot make an input layer that takes scalars with the keras functional api"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source (branch 1.4)
- **TensorFlow version (use command below)**: 1.4.0-dev
- **Python version**: 3.5
- **Bazel version (if compiling from

[2017-11-08 21:10] georgesterpu commented on #11598
Sorry for missing this, @ebrevdo.
Yes, as I don't use the decoder states, masking the outputs would do it.
I am now concerned about `impute_finished` and `dynamic_decode` during training.

[code]

While checking for some predictions, I could see that sometimes the network predicts the EOS token before the actual EOS in the ground truth. However, decoding does not stop there during training, as `Sc

[2017-11-08 21:11] arnoldaclf commented on #12132
@BKZero Could you post an example using the separableconv2d function of keras? . I want to present an example of a CNN model with conv2d to another with separableconv2d, but I do not find examples in keras.

[2017-11-08 21:12] vishvananda commented on #14384
FYI, it is not possible to model.predict() at the moment with a scalar input_shape, even though it is totally valid to put scalars into a feed_dict using session.run(). In fact, some tensorflow operations like tf.images.decode_jpeg require scalar inputs. The missing scalar support is a separate keras issue that I have reported here: https://github.com/fchollet/keras/issues/8436

[2017-11-08 21:24] bignamehyp commented on #14374
@martinwicke  where do you think is the best place to add this feature request. @aselle  suggests contrib.graph_util

[2017-11-08 22:06] bignamehyp commented on #14358
I'm not familar with rf_quora but I think CountExtremelyRandomStats op is deprecated from tensor_forest.

[2017-11-08 22:08] zheng-xq commented on #14363
The synchronization error is only what finds out the issue. The root cause is some GPU kernels had an illegal address access.

If someone wants to root cause this, first it is needed to find the offending kernel. In our past experience, it could be either a kernel bug, or a degenerate data entry.

[2017-11-08 22:08] zrion commented on #2462
Then in case that my output of the last layer is softmax activated, I have to manually do the cross entropy?
Then I don't understand why it is not supported because many models pick the output based on probabilities from softmax activation.

[2017-11-08 22:12] bignamehyp commented on #14356
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-08 22:12] #14356 closed

[2017-11-08 22:12] bignamehyp commented on #14356
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-08 22:13] bignamehyp commented on #14352
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-08 22:13] bignamehyp commented on #14352
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-08 22:13] #14352 closed

[2017-11-08 22:19] bignamehyp commented on #14384
@fchollet FYI, feel free to assign this issue to others.

[2017-11-08 22:20] bignamehyp commented on #14380
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-11-08 22:20] bignamehyp commented on #14346
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-08 22:20] #14346 closed

[2017-11-08 22:24] gunan commented on #14375
Fix is now merged.

[2017-11-08 22:24] #14375 closed

[2017-11-08 22:28] fchollet commented on #14384
You are supposed to specify `shape` and `batch_size` as two separate arguments. We are deprecating the `batch_shape` argument from the public API.

[2017-11-08 22:28] #14384 closed

[2017-11-08 22:29] fchollet commented on #14008
`np_utils` is not part of the public API. Please import symbols from `tensorflow.keras.utils` instead.

[2017-11-08 22:29] #14008 closed

[2017-11-08 22:33] fchollet commented on #12739
This has been fixed in the new release.

[2017-11-08 22:33] #12739 closed

[2017-11-08 22:34] fchollet commented on #14027
The expected behavior is that the absence or presence of a bias is controlled by `use_bias` (boolean). `None` passed to an initializer defaults to the current global default for initializers (glorot uniform). Please feel free to open a PR to improve the docs.

[2017-11-08 22:34] #14027 closed

[2017-11-08 22:45] johnsrude commented on #14380
All the info is provided but I guess I was too concise.  I'll add verbiage to the OP.

[2017-11-08 22:47] damienpontifex commented on #14356
@bignamehyp I had assumed this was a bug as it seems to be occurring with variables setup inside ‘tf.keras.applications.VGG16’ rather than any I had setup. Thoughts?

[2017-11-08 22:48] rmlarsen commented on #13603
This is strange. Let me take a look.

[2017-11-08 23:05] johnsrude commented on #14380
I have fixed my problem on my side by running
[code]
then hand-editing the configure file to
[.tf_configure.bazelrc](https://github.com/tensorflow/tensorflow/files/1455717/tf_configure.bazelrc.txt)
 then running
[code]

[2017-11-08 23:15] stefanonardo opened #14387 "tensorflow-gpu looks for the wrong driver version"
### System information
- **OS Platform and Distribution**: Ubuntu 16.04
- **TensorFlow installed from**: binary
- **TensorFlow version**: 1.4
- **Python version**: 2.7.12
- **CUDA/cuDNN version**: 8.0 / 6.0
- **GPU model and memory**: GTX 1060
- **GPU driver version**: 387.12
- **Exact command to reproduce**:
`import tensorflow as tf`

### Problem
It looks for the wrong version of libnvidia-fatbin

[2017-11-08 23:58] angersson commented on #14387
Can you include some more details and an exact sequence of commands / code to reproduce, as per [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new)? Thanks!

[2017-11-09 00:16] codecrystal commented on #14202
If this is not relevant, I am sorry but I have a problem using MultivariateNormalFullCovariance in optimization, especially when I set covariance as Variable, Visual Code crashes as shown below.

https://stackoverflow.com/questions/47182741/tensorflow-optimize-to-bring-two-multivariate-close-to-each-other-crashes

[2017-11-09 00:23] stefanonardo commented on #14387
I edited my post. I just cannot import Tensorflow with GPU support. What could I add to the issue?

[2017-11-09 00:49] bdaskalov commented on #8182
@nOkuda @yifeif Did you find a solution? I ran into the same problem and I have some idea why it happens but it won't be trivial to fix.

[2017-11-09 01:17] angersson commented on #14387
This looks like a duplicate of [this stack overflow question](https://stackoverflow.com/questions/42678439/importerror-libnvidia-fatbinaryloader-so-375-39-cannot-open-shared-object-file), and ultimately looks like an environment configuration issue (i.e. not a bug).

Try some of the recommendations on the SO question, and if you need more help, ask another SO question to get better help. Stack Ove

[2017-11-09 01:17] #14387 closed

[2017-11-09 01:32] nOkuda commented on #8182
@bdaskalov With respect to the project I was using this feature in, my solution was simply to run so many epochs that I wouldn't possibly run into the bug (i.e., training took so long that I never reached the end---this was fine, since I was saving out the information I needed after each epoch; when it was time to wrap up the project, I simply took the latest information and used that).

As for th

[2017-11-09 01:33] cthom055 opened #14388 "mutex.h, private member is inaccessible"
### System information
- **msvc v140**:

### Problem
mutex.h, Ln 145
condition_variable cannot access private member mu_ in mutex, when compiling a standalone c++ project on Windows.

### Solution
Forward declare condition variable in mutex.h. I have created a pull request.

[2017-11-09 01:36] vishvananda commented on #14384
@fchollet I understand the desire to deprecate batch_shape but that means there is no way to define an input that takes a scalar. Are you suggesting that accepting scalar input will not be supported at all? Or are you saying that the implementation needs to be different, perhaps with a new kwarg or a special sentinel value for shape? I personally think packing scalars into 1d vectors is pretty ugl

[2017-11-09 01:47] offbye commented on #8922
Use  darknet and darkflow generate   pb file, and put it into assets , change the  YOLO_MODEL_FILE DetectorMode MODE = DetectorMode.YOLO; in DetectorActivity

flow --model cfg/yolo.cfg --load bin/yolo.weights --savepb

[2017-11-09 01:56] hsm207 commented on #14356
Someone already asked a [similar question ](https://stackoverflow.com/questions/46911596/why-does-tensorflow-say-a-tensor-is-not-an-element-of-this-graph-when-training-a) on stack overflow.

The solution is to call `tf.keras.backend.clear_session()` after the call to `train()`. However, this won't work if the user wants to use `train_and_evaluate()` since there is no place to call `clear_session()

[2017-11-09 03:16] cryptox31 commented on #8584
@WorksWellWithOthers No, I haven't found a way yet but you can follow [this](https://software.intel.com/en-us/comment/1912006#comment-1912006) post on intel.

[2017-11-09 03:24] arnoldaclf commented on #4330
@singlasahil14  Could you use separable conv in your model? I also want to use separable conv but in keras, or does it only work in tensorflow? . Can you share your code ?.

[2017-11-09 03:31] singlasahil14 commented on #4330
@arnoldaclf : I wasn't trying to use it in keras.
https://github.com/singlasahil14/style-transfer/blob/master/style_network_factory.py
Here is my code.

[2017-11-09 03:35] aziabari commented on #3582
Is this issue resolved?

I had my CNN network in tensorflow which was working fine when I used either CPU or GPU.
After I updated my Cuda to Cuda 8.0.61, my code doesn't function properly with GPU and the loss value freezes after 2-3 epochs!! (doesn't decrease).
When I use CPU, my code works fine and I don't have any problem and everything is fine!

Please let me know if there is any solution to t

[2017-11-09 03:36] King-Of-Knights commented on #14070
@taki0112 , I found a relative code here, can some one verify it?
[https://github.com/PFCM/weightnorm/blob/master/weightnorm/weightnorm.py]

[2017-11-09 03:38] Kangbababa commented on #13220
another solution , use python3 on Mac.  built it succeed!

[2017-11-09 04:01] NEWPLAN commented on #13875
i roll back to commit 054b88233bf6d6bc5b953fca50dbb01d108b2d18, but there is not mpi_collectives in this branch...
i reset it wih command git reset --hard 054b88233bf6d6bc5b953fca50dbb01d108b2d18...
sorry for troubling you.

[2017-11-09 05:31] BastiaanBergman opened #14391 "MonitoredTrainingSession does not initialize after restore"
### Describe the problem
`local_init_op` can be passed to the SessionManager through the scaffold argument in MonitoredTrainingSession. From the doc's from session manager: The `local_init_op` is an `Operation` that is run always after a new session was created. This does not work as expected in the below example.

### Exact command to reproduce
[code]
The first time you run this, two variables `a

[2017-11-09 06:04] hsm207 opened #14392 "The weights argument in Keras's Embedding does not work"
I am using Tensorflow 1.4.0.

According to this [blog post](https://blog.keras.io/using-pre-trained-word-embeddings-in-a-keras-model.html), we can use the weights argument in the call to Embedding to specify some matrix that represents a pre-trained word embeddings (see the section titled Preparing the Embedding Layer).

However, this code does not work:

[code]

`lookup` should print [[3 4]] but

[2017-11-09 06:16] YudizPayal opened #14393 "Error:Execution failed for task ':buildNativeBazel'."
This problem occured with the android example in android studio.
 ->A problem occurred starting process 'command '/usr/local/bin/bazel''

[2017-11-09 06:33] wichtounet commented on #14360
It turned out it was a bug in Tensorflow after all. This is fixed by applying #13255

[2017-11-09 06:37] yaroslavvb commented on #14070
PS, for details on how to derive the formulas from scratch, some discussion is here -- https://discuss.openai.com/t/proof-of-weight-normalizations-mechanism/3026/3

[2017-11-09 07:34] sebeaumont commented on #13220
I can confirm have successfully built TensorFlow on Sierra from the head with vanilla (cpu) only config. Issues remain with XLA and tensorboard.

[2017-11-09 07:52] bignamehyp commented on #14380
MKL was added as of TensorFlow 1.2 and currently only works on Linux. It also does not work when also using --config=cuda.

[2017-11-09 07:56] bignamehyp commented on #14380
@zheng-xq

[2017-11-09 07:58] gamijin0 commented on #9976
Do you have a  directory named "data" beside the log-dir?
When I rename the "data" dir, my problem fixed.

[2017-11-09 08:02] bignamehyp commented on #14392
I think the api has been changed.  Please visit
https://keras.io/layers/embeddings/
for more details on Embedding constructor.

[2017-11-09 08:02] #14392 closed

[2017-11-09 08:04] bignamehyp commented on #14388
Waiting https://github.com/tensorflow/tensorflow/pull/14389

[2017-11-09 08:10] phongnhhn92 opened #14394 "TF Detect app doesnt work with my own weights"
Hello guys, I followed the instruction of object detection android app and successfully run the app using the pretrained tiny-yolo-voc.

Now I have trained another model by myself with my own dataset(1class) using Darknet. Then I convert the weights file to pb type format using the Darkflow command
`./flow --model cfg/yolo-1class.cfg --load bin/yolo-marker_1class.weights --savepb --verbalise`

Usi

[2017-11-09 08:53] smsrikanthreddy commented on #14358
Hi ,
rf_quora is a directory which contains the variabels folder and protobuf files (formed using savemodel builder).
I am not using CountExtremelyRandomStats but I am not sure whether it is being referenced or not.
I have successfully ran training and inference but if I do inference using tensorserving, then I am facing the error.

[2017-11-09 09:15] snnn opened #14396 "Unable to compile tensorflow in Win/Debug mode"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows Server 2012
- **TensorFlow installed from (source or binary)**:
Source

- **TensorFlow version (use command below)**:
92838685241ca22ea2797e937e380bdbe8325784

- **Python version**:
3.5.4
- **Bazel ver

[2017-11-09 09:31] eyaler commented on #13096
I tried to run a quantized model on windows with tf 1.4 and got:
No OpKernel was registered to support Op 'Dequantize'

could you point me out to references showing that quantization was added on windows in 1.4?

[2017-11-09 09:33] eyaler commented on #13096
could you point me out to what was changed in this regard in 1.4?

[2017-11-09 09:51] facaiy opened #14398 "name_scope is indistinguishable from string type"
variable_scope yields a class VariableScope when entered, while name_scope yields a string.

[code]

I think string might be unsafe. Moreover, sometimes we have to hack a "/" suffix if we want to reenter the current name scope.

Especially, it's difficult to check the type when `name_scope` is an argument for a function.
[code]

Will tensorflow plan to introduce a class like VariableScope, say Nam

[2017-11-09 09:53] oborchers commented on #675
@ModarTensai and @candidj0 : Awesome guys! You rock, thank you! I'll test them over the weekend and see how they work on a toy dataset.

[2017-11-09 10:21] myungjoo opened #14400 "[CMake] Default values of some options are not properly set"
```tensorflow_PATH_CUDNN_STATIC_LIB``` and ```tensorflow_PATH_NCCL_STATIC_LIB``` are supposed to be configured as the value of ```tensorflow_PATH_STATIC_LIB``` by default.

However, because cmake options's default values are either OFF or ON, this doesn't work as supposed.

I'll post a Pull Request addressing this issue in a few minutes.