[2019-03-23 06:05] joehoeller opened #27053 "tf.Session and tf.ConfigProto do not work in the new TF2.0"
tf.Session and tf.ConfigProto do not work in the new TF2.0; what other options do I have?

with tf.Session(config=tf.ConfigProto(log_device_placement=True)) as session:
        result = session.run(sum_operation)
        print(result)

[2019-03-23 06:24] bjtommychen commented on #15805
Hi, all
    I watched this topic for a long time, and thank all of you for the shared informations.
    Recently, I got a chance to try, refer the code of Mozilla Deepspeech project.
    Finally , based on TF1.12, I can convert well-trained pb file into tflite fp32/int8 model. Both tflite model work fine in x86 machine. and almost same speed. except the int8 version has little lower accuracy.

[2019-03-23 06:38] laiqb commented on #27030
I think there is a better way, otherwise I must modify many files.

[2019-03-23 06:51] shaolinkhoa opened #27054 "tensorflow 2.0 transfer_learning tutorial: tensorflow_datasets error on local jupyter notebook Anaconda Win10"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2019-03-23 06:55] shaolinkhoa commented on #27053
I suggest you read this [guide for tensorflow 2.0](https://www.tensorflow.org/alpha/guide/effective_tf2)

[2019-03-23 07:03] scottcjt commented on #26549
The unit test added in #26248 still failed with latest commit on master (b0432d52). As for the python script, it is not always reproducible.

[2019-03-23 07:24] Telang8100 opened #27055 "Deeplab TypeError: MonitoredTrainingSession() got an unexpected keyword argument 'summary_dir'"
When i am running train.py file for pascal voc dataset then fallowing error occures
file "train.py", line 500, in <module>
    tf.app.run()
  File "/home/suraj/anaconda2/envs/tensor/lib/python2.7/site-packages/tensorflow/python/platform/app.py", line 125, in run
    _sys.exit(main(argv))
  File "train.py", line 492, in main
    hooks=[stop_hook]) as sess:
TypeError: MonitoredTrainingSession() got

[2019-03-23 08:19] joehoeller commented on #27053
I patched it with tf.compat.v1 & it still fails.

[2019-03-23 08:23] hemantjnypc commented on #22794
Hi All,

Facing the same issue!

Can anyone provide a 'working' env info for _AMD Radeon HD7500M_ Graphic Accelerator with the following:

- Win10 Pro, FU 1803
- I3 3rd Gen, 4GB
- CUDA ver.10.0.130
- CUDNN ver 7.3.1
- Anaconda3 (2018.12)
- Py 3.7.1
- Tensorflow-gpu 1.13.1 - 'Conda' install using 'Anaconda prompt'

Thanks!

[2019-03-23 08:54] IvyGongoogle opened #27056 "ImportError: cannot import name trt_engine_op when using `tensorrt.create_inference_graph`"
hello, I use `tensorflow-gpu-2.0.0a0`. Here I want to use `tensorrt` to convert a tensorflow `saved_model` to a `output_saved_model` optimized by tensorrt. But when I run code:

[code]

it shows error:
[code]

how to fix it? anyone can give some advises?

[2019-03-23 08:58] cool6p commented on #26709
i meet this problem,too.this example given by tensorflow.org confused me

[2019-03-23 09:28] thebeancounter commented on #27002
@ymodak
I suspect this is a bug, given it does not work as expected (I used the same code many times without any issues in the past)

[2019-03-23 10:36] gshashank84 commented on #27003
The gen_math_ops.py file is missing in repo of Tensorflow 2.0.0-alpha0, but the functions of this file are working :confused:

[2019-03-23 10:41] sfujiwara opened #27058 "Is the task type "master" for distributed training deprecated?"
Should task type "master" be immediately replaced with "chief"?
For example, `CollectiveAllReduceStrategy` only use "chief" (not "master") and "worker":
https://github.com/tensorflow/tensorflow/blob/36f817a9f3e7d2339cb53b91ddc508b3e25ab761/tensorflow/python/distribute/multi_worker_util.py#L159-L161

However, in some environment such as Google Cloud ML Engine, environment variable `TF_CONFIG` with

[2019-03-23 10:47] hemantjnypc opened #27059 "~\Anaconda3\lib\imp.py......ImportError: DLL load failed: The specified module could not be found - Win10 Pro, Core I3 with AMD Radeon HD7500M Accelerator!"
Hi All,

Facing error -  _ImportError: DLL load failed: The specified module could not be found!_

Can anyone provide a 'working' env info for **AMD Radeon HD7500M** GPU alongside the following:

Win10 Pro, FU 1803
Core I3 3rd Gen (2370M), 4GB
CUDA ver.10.0.130
CUDNN ver 7.3.1 for 10.0_0
Anaconda 2018.12
Py 3.7.1
Tensorflow-gpu 1.13.1 - Installed using 'Conda' in an 'Anaconda prompt'!

Thanks!

[2019-03-23 11:04] achalagarwal commented on #26143
Hi,
I wish to start contributing to TensorFlow and hence would like to know if someone is already working on this issue.

[2019-03-23 11:12] 0xpulsar commented on #17349
This is a code from the documentation (https://www.tensorflow.org/lite/convert/python_api)
<code>
<img width="1129" alt="Screen Shot 2019-03-23 at 4 40 26 PM" src="https://user-images.githubusercontent.com/26170275/54865364-66617780-4d8a-11e9-8f5d-f0551153a643.png">

I am getting this error:
<error>
<img width="1134" alt="Screen Shot 2019-03-23 at 4 41 13 PM" src="https://user-images.githubusercon

[2019-03-23 11:36] oliviaolivia700 commented on #22794
I got the same DLL load failed error when running trying to run tensorboard, no problems running the others:

Win10
tensorflow-gpu 1.11.0
tensorboard 1.11.0
cudnn 7.1.4
cuda9.0_0
python 3.6.3

[2019-03-23 12:37] ChaoYue0307 opened #27060 "Where is the api of PhasedLSTM in tensorflow 2.0.0 alpha?"
Just like the title suggests, where can I find the PhasedLSTM api, or there is still lacking of that? Thanks

[2019-03-23 12:56] amitsrivastava78 commented on #26755
@xiaomin05, as of now TFlite does not support this, however i have raised one PR which supports 8-bit quantization for leaky relu, till this PR is merged you can play around and test this. In case you find any issues do let me know.
The link for the PR is:-
https://github.com/tensorflow/tensorflow/pull/27061

Regards
Amit

[2019-03-23 13:09] colibri17 commented on #26145
Same here!

[2019-03-23 13:50] catskillsresearch opened #27062 "Relationship between batch size and CUDA load in deep learning task"
I am learning about machine translation by running this TensorFlow example on my GPU in my home PC: https://colab.research.google.com/github/tensorflow/tensorflow/blob/master/tensorflow/contrib/eager/python/examples/nmt_with_attention/nmt_with_attention.ipynb

My GPU has 6GB of VRAM. I have to reduce the batch size to get the example code not to run out of memory on the GPU. With trial and error,

[2019-03-23 14:39] RRoundTable opened #27063 "How Can I set input shape of Subclass Model ?"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): tensorflow 1.13
- Are you willing to contribute it (Yes/No

[2019-03-23 14:49] thjashin commented on #5477
@jvishnuvardhan  I'm not sure because I don't use copy anymore. Feel free to close the issue.

[2019-03-23 15:21] shreyashub commented on #26294
Is anyone currently working on this Issue?

[2019-03-23 16:27] SAGARSURI opened #27064 "Support for Kotlin Native?"
As I see there is a full support for swift language now and I believe it will surely replace python as the primary language for building deep learning models by software developers. Will I see the same for Kotlin Native?

[2019-03-23 17:35] gshashank84 commented on #25780
I have added an comment for the working of **tensordot** function here, however this does not state that the Problem has been solved.
#### The size of the specified input_shape still does not raise error if the shape of the inputs is not equal to input_shape.

[2019-03-23 17:47] rok commented on #26997
@dynamicwebpaige I'd like to contribute this.

[2019-03-23 18:25] placidchat commented on #22037
I've noticed strange non deterministic errors as well, when some steps of the compilation works occasionally

[2019-03-23 19:00] placidchat commented on #26155
i have the same problem as well. Using python 3.6.7. For some reason, the compiler thinks m_ InnerMap is  called by a non object. But protobuf compiles fine by itself, just not the protobuf_archive together with the tensorflow bazel build system.

[2019-03-23 19:09] catskillsresearch opened #27065 "In tensorflow, why does a 6B GPU show with memory limit than 5GB of VRAM?"
I have a 6GB 1060 GPU. Running:

[code]
gives

[code]
Notice it is showing memory_limit of 4951913267, which is 1.1GB short of 6GB.  Where did my 1.1GB go?

[2019-03-23 19:11] rongou commented on #26155
This is a known bug in CUDA 10.1 (together with gcc 7.3+). You can either downgrade to CUDA 10.0 or gcc 6/7.2, whichever is easier.

[2019-03-23 19:20] hadaev8 commented on #20619
Here is code
https://colab.research.google.com/drive/1Px3i0bXFaJdFdMD2F1-WVO3Cp1xM90Iu?authuser=2#scrollTo=BX2SOcy6lRws

[2019-03-23 20:57] pradeepelavarasan commented on #20619
I am having a similar problem. Not able to use ReduceLROnPlateau along with TPU because of the optimizer constraint.

I already tried changing from tf.train.AdamOptimizer to tf.keras.optimizers.Adam . But in this case get TPU exception "TPU ....... not fetchable". Unless I use the tf.train.AdamOptimizer without the ReduceLROnPlateau , TPU given an error. Kindly suggest the ideal way to use adaptiv

[2019-03-23 22:34] Sklan commented on #26995
@dynamicwebpaige Do I open a PR in models?

[2019-03-24 00:33] alsrgv opened #27067 "TensorFlow stopped working with custom ops built with GCC5"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-03-24 00:34] alsrgv commented on #27067
cc @martinwicke, plugins built with gcc5 are broken

[2019-03-24 00:57] starty1314 commented on #26877
To whoever needs to figure this out. You can use below code to verify the installation of TensorFlow v2.0

python -c "import tensorflow as tf; tf.executing_eagerly(); print(tf.reduce_sum(tf.random.normal([1000, 1000])))"

[2019-03-24 01:14] martinwicke commented on #27067
@gunan @sjamesr FYI

[2019-03-24 01:25] dynamicwebpaige commented on #27053
`tf.ConfigProto` will be split and replaced into other functions ([ref](https://github.com/tensorflow/tensorflow/issues/25446#issuecomment-460516411)). If `tf.compat.v1.ConfigProto` is not working, however, that would be an issue.

[code]

Can you try running the code snippet above?

[2019-03-24 01:34] Michlong commented on #19304
I have the same issue, have solutions?

[2019-03-24 01:36] dynamicwebpaige commented on #27060
`tf.contrib.rnn.PhasedLSTM` was deprecated, as outlined [here](https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md#list-of-projects); however, it is in the process of being replaced with the new RNN API and [`tf.keras.layers.*`](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/layers). In the mean time, you should be able to recreate the `PhasedLSTM

[2019-03-24 01:50] joehoeller commented on #27053
@dynamicwebpaige thank you for that. I’ll try & follow up tomorrow and let you know. Thank you kindly.

[2019-03-24 01:57] yongtang commented on #27003
Added a PR #27068 for the fix to deprecate tf.floor in TF 2.0.

[2019-03-24 02:26] Opbrave commented on #26679
Hi ZunDubCore, How did you pass the issue you mentioned?

[2019-03-24 02:45] lostmsu commented on #27059
@hemantjnypc tensorflow-gpu only works with NVidia cards. You need tensorflow-rocm.
Also, your GPU might be too old even for that.

[2019-03-24 02:56] gunan commented on #27067
@yifeif
I think for everything except python 3.7 pip packages, this is WAI.
We build using GCC 4.8. Sometime in April, hopefully our binaries should become more compatible. Until then, you need to build with gcc 4.8

[2019-03-24 03:01] alsrgv commented on #27067
@gunan, it used to work correctly until https://github.com/tensorflow/tensorflow/commit/41e7b3ca0abfd7e40a82ae38f96a9fbfeecb0ee

What is the proposed change that will improve this in April?

[2019-03-24 03:35] gunan commented on #27067
Interesting, I would have expected to see ABI issues.
Ubuntu 14.04 is going EOL, so we have to upgrade our build environment. We are exploring how we can make things backwards compatible with a new build environment.

[2019-03-24 03:44] alsrgv commented on #27067
Back in the day we've added `tf.sysconfig.get_compile_flags()` to get around ABI incompatibility, and gcc4/gcc5 interop was working fine until three days ago.

Since Horovod and many other custom ops are compiled on the user machine, and most users have gcc5+, its not a good user experience to ask them to install gcc4.

Can we revert https://github.com/tensorflow/tensorflow/commit/41e7b3ca0abfd7e4

[2019-03-24 03:59] gunan commented on #27067
We can consider reverting, but if you use `std::string` you just wont be able to compile an add on to TF using GCC 5 or more recent. Our custom OP guide provides a docker container which guarantees that if you use that to compile your add ons, the compiled objects will work.

Considering @sjamesr's work is to get us to a fully ABI compatible state, I will check with him before rolling back, to see

[2019-03-24 04:08] alsrgv commented on #27067
`std::string` actually works fine with `-D_GLIBCXX_USE_CXX11_ABI=0`, which is returned by `tf.sysconfig.get_compile_flags()` if TF is compiled with gcc4.

I’m only aware of the issue with `std::function` which is not fixed by _GLIBCXX_USE_CXX11_ABI.

[2019-03-24 05:04] MZhangNan commented on #10632
Please restart your kernel and try again.

[2019-03-24 06:17] oiabtt commented on #26480
I met the same problem,  gen_experimental_dataset_ops.py is not in Tensorflow project. Is it removed to other place?

[2019-03-24 06:58] Gurpreetsingh9465 commented on #27010
@chwang85 can you elaborate a bit because the output is correct i guess,  which is  Tensor of shape `[3,5,7]` of value = `0.14285715` which is correct as shown here [wiki](https://en.wikipedia.org/wiki/Softmax_function)

[2019-03-24 07:45] XiaomoWu opened #27070 "Typo in doc: `tf.keras.losses.CategoricalCrossentropy`"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 1.13
- Doc Link: [tf.keras.losses.CategoricalCrossentropy](https://www.ten

[2019-03-24 08:35] gshashank84 commented on #27065
I think there is a limit(set by system) to what extent you can utilize your virtual memory of GPU, therefore the default size is set to 5GB. However it can be clocked further upto the actual size.

[2019-03-24 08:36] monklof commented on #26800
@smit-hinsu Hi, I've updated the pull request.

[2019-03-24 08:52] placidchat commented on #25312
Could someone explain the -MMD -MD difference again?

[2019-03-24 09:51] Gurpreetsingh9465 commented on #26989
seems interesting @dynamicwebpaige , @adler-j  , @martinwicke   , i just implemented fftshift and ifftshift in tensorflow.
[helper.py](https://gist.github.com/Gurpreetsingh9465/f76cc9e53107c29fd76515d64c294d3f)
mam, now i just need to add these two lines
`
from tensorflow.python.ops.signal.helper import fftshift`
`from tensorflow.python.ops.signal.helper import ifftshift
`
in this file [signal.py]

[2019-03-24 09:53] Narzhan opened #27074 "Celery hangs with Tensorflow shared model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 on Docker (18.03)
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.13.1
- Python version: 3.6
- CUDA/cuDNN version: No gpu
- GPU model and memory: No gpu
- C

[2019-03-24 10:07] LaCandela commented on #13745
Thanks, this works

[2019-03-24 11:02] Gurpreetsingh9465 commented on #26929
@veritas9872 there are only 2 hyper-parameter for SSIM filter and sigma [ssim](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/image_ops_impl.py#L2912-L2913) so we are supposed to add these two as default parameter?

[2019-03-24 11:02] Gurpreetsingh9465 commented on #26929
@jvishnuvardhan are you working on this issue ? 😄 would love to help

[2019-03-24 11:09] ZunDubCore commented on #26679
@Opbrave Actually, I don't know what I've done. The error just disappeared by itself. But instead, a different error appeared.

[2019-03-24 12:03] ZunDubCore commented on #26958
Found a workaround to fix this error message.

[2019-03-24 12:03] #26958 closed

[2019-03-24 12:04] ZunDubCore commented on #26958
See #26679

[2019-03-24 12:06] ZunDubCore commented on #26679
Okey, the error returned.

[2019-03-24 12:43] tensorflowbutler commented on #21332
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-24 12:53] cosmicexplorer opened #27078 "tensorflow 1.13.1 on linux on python 3.7 (not osx) uses -D_GLIBCXX_USE_CXX11_ABI=1 -- this behavior is undocumented and/or unspecified"
### System information
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `Linux Ubuntu 18.04.2`
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: *N/A*
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version: `1.13.1`
- Python version: `3.7`
- Installed using virtualenv? pip? conda?: **pip** -- see excerpt in pantsbuild

[2019-03-24 13:04] blairhan commented on #27055
What is your tf version? The keyword summary_dir is introduced in tf1.10 so if you version is below that you can solve the problem by upgrading tf version.

[2019-03-24 13:16] iperov commented on #15949
I found that this issue appears if HDD is busy by something else, for example torrents.

[2019-03-24 13:53] inakaaay commented on #22564
i have the same issue, how did you solve this @aurashn ?

[2019-03-24 15:10] wenredo commented on #26833
Hello, I am doing exactly the same and I have that same issue also? Did you find any solution to it?

[2019-03-24 15:33] 1denglei commented on #22794
My settings:

Win10x64
tensorflow-gpu 1.13.1
CUDA 10.1
CUDNN 7.5 for cuda10.1
python 3.7.1

And I got the same error!

[2019-03-24 15:51] oliviaolivia700 commented on #22794
I fixed the error by upgrading cygrpc in pip since the DLL load import error comes up when importing cygrpc

[2019-03-24 15:59] aaronhan92 commented on #14125
Hi, do you mind to share how do you switch the camera to front view?

[2019-03-24 16:03] littlehome-eugene commented on #26182
It happened to me when I installed cuda-10.1 not cuda-10.0 , downgrading to 10.0 did fix it

[2019-03-24 16:05] makalaia commented on #25144
Managed to build it for skylake(-march=skylake-avx512) , using:
bazel: 0.19.2
protobuf: 3.5.2
python: 3.7
gcc: 8.2.0

[2019-03-24 16:41] ChaoYue0307 opened #27079 "Why this error on tensorflow 1.13.1 with python 2.7 : ImportError: No module named model_utils"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.13.1
- Python version: 2.7
- GCC/Compiler version (if compiling from source): 7.0
- CUDA/cuDNN version

[2019-03-24 16:59] bensteers opened #27081 "Can't create non-trainable keras variables"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-03-24 17:39] musikisomorphie commented on #23590
Hi @alextp, I may have a stupid question. I implemented roll_op.h roll_op_gpu.cu.cc, and I copy them in the kernels/ folder. When I compile tensorflow, it seems that the compiling process simply ignores roll_op_gpu.cu.cc. This is confirmed by the time when I tried to run some tests. Can you tell me what should I do? Thx.

[2019-03-24 17:53] ajayshilwant opened #27082 "Win10: ImportError: DLL load failed: The specified module could not be found"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Windows 10 pro
- TensorFlow installed from (source or bin

[2019-03-24 17:54] sarc007 commented on #26852
Should I close the issue team @ocampesato , @hadim @jvishnuvardhan  as it is working with @hadim  suggested code please update?

[2019-03-24 18:05] caissalover commented on #26293
This needs attention. I'm having quite some problems with using tf.function and autograph whose basic features supposedly have been implemented some time ago.

[2019-03-24 18:28] kgizdov opened #27083 "Build Failure: Cannot link XLA allocator with CUDA 10.1 and GCC 7.2.1"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ArchLInux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.13.1
- Python version: 3.7.2
- Installed using virtualenv? pip? conda?: system install to `/usr`
- Bazel version (if compiling fr

[2019-03-24 18:37] chenyikang commented on #27082
I meet the same error.

[2019-03-24 19:06] ChaoYue0307 opened #27084 "ModuleNotFoundError: No module named 'tensorflow.contrib'"
Just cannot import from tensorflow.contrib in 1.13.xx, where do the packages be moved to? Thanks

[2019-03-24 19:57] yselivonchyk commented on #18165
I am facing the same issue. I am converting my code to TF 2.0. After getting everything to the coherent state running the code I am getting
`tf.placeholder() is not compatible with eager execution`
Which sounds a little funky, since I was not trying any eager execution at all. I am backwards and still trying to run in TF with a session.

So, the problem is 2-fold. First, the error message does not

[2019-03-24 20:09] asimshankar commented on #18165
@yselivonchyk : You may want to file a new issue about this, particularly since this seems more about an issue with what the upgrade script should do rather than the fact that `eager execution doesn't work with placeholders`.

[2019-03-24 20:11] wenredo commented on #26833
I already tried and with tensorflow 1.12.0 it is not possible since the library tf.lite is not included in this version, it is in tensorflow 1.13.0 only

[2019-03-24 20:20] Pure-Entropy commented on #26364
No need to reopen. The issue was solved by adding `include` to the path. Thank you

[2019-03-24 20:25] chwang85 commented on #27010
I think my question is clear enough...
Maybe you need to know what is masking first...

[2019-03-24 20:36] Pure-Entropy commented on #26364
I updated the docs and did a PR for the updated fork. the instructions did not tell us to add `https://github.com/tensorflow` to the PATH variable.

Please review it.

[2019-03-24 21:17] mmilosav opened #27085 "initialize_or_restore() executed on InitializationOnlyStatus returned by tf.train.Checkpoint.restore fails to initialize custom tf.keras.layers.Layer trainables"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes, provided below
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): various
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):

[2019-03-24 21:26] sarnold commented on #25078
This looks like an alpine/musl issue:  https://bugs.freedesktop.org/show_bug.cgi?id=35268
Getting rid of STATIC_TLS is the current workaround.

[2019-03-24 21:27] marwan116 opened #27086 "Tensorflow 2.0: Adding @tf.function decorator with categorical feature_column raises FailedPreconditionError: Table already initialized"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS X 10.14
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0-al

[2019-03-24 21:44] dynamicwebpaige commented on #27070
Thank you for noticing this and submitting the PR! Approving now. 🙂

[2019-03-24 21:47] dynamicwebpaige commented on #27083
Potentially related: https://github.com/tensorflow/tensorflow/pull/26230

[2019-03-24 23:33] xlnwel opened #27087 "`tk.layers.CuDNNLSTM` is not compatible with `tk.layers.StackedRNNCells`"
I follow the official document and write the following code to create a stack of RNN cells using Tensorflow 1.13 on GPU

[code]
However, I receive the error message:

Is this a bug, or do I do it wrong?

[2019-03-24 23:57] priyakansal commented on #26182
@littlehome-eugene
But I am using cuda-10.0 only
Btw, have you done it for docker

[2019-03-25 00:26] vyraun opened #27088 "failed to create cublas handle: CUBLAS_STATUS_NOT_INITIALIZED"
Hi,

I am a on a Ubuntu system, installed tensorflow using conda install tensorflow-gpu, have cuda 9.0.176. I am getting the error:

I tried the solutions:

`rm -rf .nv/`

[code]
Both are not helping resolve the issue. What could be the error source? Any more possible solutions to try?

Thanks!

[code]

[2019-03-25 00:52] SalihOsman1 commented on #20444
I got this error when I tried to install tensorflow on Ubuntu and Python3.5, any help, please. I have posted a similar question last week.
![image](https://user-images.githubusercontent.com/43449527/54888796-528f4180-4e6e-11e9-906d-c41fce1e1968.png)

[2019-03-25 00:55] SalihOsman1 commented on #20444
I'm running Ubuntu on Oracle Virtual Box- running on Windows 10,  and python3.5 , I got same install tensorflow error message above even when I changed the URL path to (linjx and Mac).

[2019-03-25 00:56] SalihOsman1 commented on #20444
Apology:  for the typo , I meant to (linux, and mac).

[2019-03-25 01:35] YongshengDong commented on #21623
@baihualinxin hi，I meet the same error with yours，can we communicate in wechat or another way？

[2019-03-25 01:42] YokkaBear commented on #20778
try uninstalling all dependencies of keras(including some base), and reinstall the keras(pip install). My successful running version of keras is 2.2.4. Plus, I suppose my fault is caused from the version conflict of keras base file and some of its dependencies.

| |
王尤嘉
|
|
15640162499@163.com
|
签名由网易邮箱大师定制

On 03/21/2019 10:43，Brian Vogl<notifications@github.com> wrote：

Am getting the following

[2019-03-25 01:45] veritas9872 commented on #26929
Hello. Thank you for helping out.
@Gurpreetsingh9465 It is my understanding that there are also K1 and K2 parameters. However, I don't understand their function perfectly.
Also, it would be great if MS-SSIM (Multi-scale SSIM) could also have default parameters.
Many thanks again for helping me out.

[2019-03-25 02:13] Gurpreetsingh9465 commented on #27010
Sir, according to my understanding mask just skip those value which are equal to mask value.

[2019-03-25 02:46] chrenlily opened #27090 "InvalidArgumentError (see above for traceback): No OpKernel was registered to support Op 'RoiPoolGrad' with these attrs. Registered devices: [CPU], Registered kernels:"
/home/chen/anaconda3/envs/tensorflow/lib/python3.5/site-packages/tensorflow/python/ops/gradients_impl.py:100: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "
Traceback (most recent call last):
  File "/home/chen/anaconda3/envs/tensorflow/lib/python3.5

[2019-03-25 02:51] chwang85 commented on #27010
The default mask value is zero, so the Softmax should skip all values in my given case

[2019-03-25 03:39] ericyue commented on #26938
@jvishnuvardhan   When I use `tf.feature_column.embedding_column`, it creates embeddings and do embedding-lookup using   `tf.contrib.layers.safe_embedding_lookup_sparse`by default,  which will cost lots of network traffic within the parameter-server and workers.  So I want to known is there a elegant way to replace `tf.contrib.layers.safe_embedding_lookup_sparse` with `tf.embedding_lookup_sparse_w

[2019-03-25 04:20] ericyue commented on #26938
I will prepare a simple demo for this case

[2019-03-25 04:27] jvishnuvardhan commented on #26852
Thanks @hadim for resolving the issue. I am closing the issue. Thanks!

[2019-03-25 04:27] #26852 closed

[2019-03-25 05:04] DarnelleF commented on #26833
i am using the nightly build of tensorflow
python 3.6.6
os mac

i've got a .h5 saved model
using

[code]

it fails while trying to convert
and i get

[code]

[2019-03-25 05:12] mattn opened #27093 "Export user_data from TfLiteContext"
**System information**
- TensorFlow version (you are using): 13fe6ef76e9f882584fe63a2b7f292266dedf847
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Thinking binding of Python or Java, no way to map TfLiteContext to Python/Java objcet. Current implementation of TfLiteRegistration does not have user_data to store object that can be used f

[2019-03-25 05:40] phdsky commented on #24828
Replaced cudnn v7.4.2 for CUDA 9.0, worked fine.

[2019-03-25 05:55] shashvatshahi1998 commented on #27084
Try to reinstall your tensorflow (prefer higher versions while installing it again).

[2019-03-25 06:08] shashvatshahi1998 commented on #27055
@Telang8100 before raising any issue you should always mention the environ on which you are working that is your :-
1) Tensorflow version you are using
2) Your operating system
3) Piece of code causing issue

[2019-03-25 06:32] gunan commented on #27067
I understand your frustration, however this is just how C++ ABI is. There are no standards governing how C++ ABI is generated, so an arbitrary change may break you at any given time. That is why we are right now pushing for https://github.com/tensorflow/community/pull/77. @sjamesr is working on creating a C ABI we can use that can remove  all ABI restrictions. Unfortunately, until that is ready, f

[2019-03-25 06:33] Huixxi commented on #21832
check whether your nvidia-driver support your cuda version from here https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html

[2019-03-25 06:50] as754770178 opened #27095 "Build Tensorflow r1.13 with verbs and gdr report rdma error"
cmd : ` bazel build --config=opt --config=cuda --config=gdr --config=verbs --distdir=/home/bazel_package //tensorflow/tools/pip_package:build_pip_package`
Due to network problems, I downloaded the dependencies in advance.
And I have install  the SW stack (libibverbs, etc..)
[code]

Error info:
[code]

please tell me how to fix this.

[2019-03-25 06:51] lubing0815 commented on #19046
ERROR: /root/tf_code/r1.8/tensorflow/python/BUILD:3315:1: Linking of rule '//tensorflow/python:_pywrap_tensorflow_internal.so' failed (Exit 1) gcc failed: error executing command /usr/bin/gcc -shared -o bazel-out/host/bin/tensorflow/python/_pywrap_tensorflow_internal.so -Wl,--version-script pywrap_tensorflow_internal_versionscript.lds '-Wl,-rpath,$ORIGIN/,-rpath,$ORIGIN/..' ... (remaining 90 argum

[2019-03-25 06:51] lubing0815 commented on #19046
root@shap000105362:~/tf_code/r1.8# bazel build -s //tensorflow/core:version_info_gen
WARNING: The following rc files are no longer being read, please transfer their contents or import their path into one of the standard rc files:
/root/tf_code/r1.8/tools/bazel.rc
INFO: Build options have changed, discarding analysis cache.
INFO: Analysed target //tensorflow/core:version_info_gen (0 packages loaded

[2019-03-25 07:21] kevin-14 commented on #13683
which c++ interface do you use to feed sparseTensor?

[2019-03-25 07:25] byronyi commented on #27095
Sorry that the verbs fix #24250 did not make into r1.13. Let us know if you met any other problems with that fix.

[2019-03-25 07:26] chrisfan918 commented on #26075
@karimnosseir here are the pb, tflite, ckpt files
https://drive.google.com/file/d/1-sjLKab-RMlj5GRVmirvifltNPWtnqJy/view?usp=sharing

Note that the ckpt is different from previous uploaded ckpt. As I have made some minor namespace changes in `some_other_layers` and retrained since the fix, and it is a bit complex to recover the exact model code of previous version. But the graph should be more or

[2019-03-25 07:26] byronyi commented on #25656
@jvishnuvardhan I believe this issue has been fixed. Could you close it?

[2019-03-25 07:33] 1denglei commented on #22794
I've changed the env info:
·tensorflow-gpu 1.12.0
·CUDA 9.0
·Cudnn 7.5 for CUDA9.0
·python3.6.8

Finally, it works!

[2019-03-25 07:39] as754770178 commented on #27095
I only saw you discussing how to solve in  #24250 .
I want to know what should I do? Can I change the code according to `https://patch-diff.githubusercontent.com/raw/tensorflow/tensorflow/pull/24250.patch` what you mentioned in #22455 . I hurry to compile tf1.13 with GDR and Verbs.

[2019-03-25 07:55] redforg commented on #21134
when i use w = tf.get_default_graph().get_tensor_by_name('w:0')  for optimizer.compute_gradients(loss, var_list=[w]) get the same problem, then i use w = tf.trainable_variables()[0] for optimizer.compute_gradients(loss, var_list=[w]), no more errors.

[2019-03-25 07:57] redforg commented on #21134
when i use
`w = tf.get_default_graph().get_tensor_by_name('w:0')`
for
`optimizer.compute_gradients(loss, var_list=[w])`  get the same problem, then i use
` w = tf.trainable_variables()[0]`
for
`optimizer.compute_gradients(loss, var_list=[w]),` no more errors.

[2019-03-25 07:58] redforg commented on #21134
when i use `w = tf.get_default_graph().get_tensor_by_name('w:0')` for
`optimizer.compute_gradients(loss, var_list=[w])` get the same problem, then i use
`w = tf.trainable_variables()[0]` for
`optimizer.compute_gradients(loss, var_list=[w]),` no more errors.

[2019-03-25 07:59] byronyi commented on #27095
Yes, could you try that?

[code]

[2019-03-25 08:15] lxl910915 commented on #27095
asd

[2019-03-25 08:20] Jie-Yuan opened #27099 "tf.feature_column.sequence_categorical"
What is the difference between tf.feature_column.sequence_categorical... and tf.feature_column.categorical...？

[2019-03-25 08:21] as754770178 commented on #27095
OK, I try it Now.

[2019-03-25 08:24] isra60 opened #27100 "Segmentation Fault with TensorRT create interference graph"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): bynary (tensorflow-gpu)
- TensorFlow version (use command below): b'v1.13.1-0-g6612da8951' 1.13.1

- Python version: Python 3.6.7
- CUDA/cuDNN version: CUDA 10
- GPU model and memo

[2019-03-25 08:49] hemantjnypc commented on #27059
Thanks! Shall check!

[2019-03-25 08:50] LukeBolly commented on #25301
Any update or workarounds for this?

[2019-03-25 08:52] hemantjnypc commented on #22794
Is it that tf-gpu works with 'NVIDIA' accelerators ONLY!

'RADEON' ones - need to use a different lib/ build!

[2019-03-25 08:59] kwonmha commented on #23986
@yuefengz
I'm sorry but I changed tensorflow/python/training/checkpoint_utils.py following your PR link.
But this issue still occurs.
I didn't modify tensorflow/contrib/distribute/python/checkpoint_utils_test.py as it seems that there is no such file included in pip tensorflow-gpu.
Anything more should I do or did I do in wrong way?

[2019-03-25 09:19] ajinkya933 opened #27101 "Unable to convert custom trained model ( .pb file ) into tflite format"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution : Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below):1.12
- Python version: 3.5
- Bazel version (if compiling from source): NA
- CUDA/cuDNN version: No gpu
- GPU model and memory: N

[2019-03-25 09:31] as754770178 commented on #27095
I fix the issue, but only modify  `rdma_mgr.cc` and `verbs_server_lib.cc` . Do I still need to modify other files?

[2019-03-25 09:31] em1208 opened #27102 "tf.py_function InternalError in distributed mode"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux Ubuntu 16.04.6 LTS
- TensorFlow installed from

[2019-03-25 09:40] ZYB19960829 commented on #23732
？

[2019-03-25 09:48] gshashank84 commented on #27087
One of the reasons is that the ```tf.keras.layers.CuDNNLSTM``` has been removed in 2.0 from ```tf.keras```. I suggest you must use ```tf.keras.layers.MultiRNNCell``` for now. But keep in mind that both **CuDNNLSTM** and **MultiRNNCell** has been removed in future versions, thats why the **StackedRNNCell** does not support it.

[2019-03-25 09:55] George191 commented on #24385
My reduction of tensorflow to 1.12 bazel to 0.18.1 is still a problem.

[2019-03-25 09:56] alextp commented on #23590
You need to add a new rule to tensorflow/core/kernels/BUILD for how to
build these files. I recommend you take a look at existing rules and copy
them, as it can be a bit tricky to get the right incantations.

On Sun, Mar 24, 2019 at 11:42 AM musikisomorphie <notifications@github.com>
wrote:

--
 - Alex

[2019-03-25 10:00] alextp commented on #26143
@achalagarwal I think @shashvatshahi1998 is already working on this. @shashvatshahi1998 can you confirm?

[2019-03-25 10:07] alextp commented on #26812
@ericpts this is an interesting use case I hadn't thought of.

As a workaround I recommend you use two instances of tf.function here.

Let's open another issue to discuss this?

[2019-03-25 10:15] cumberb1tch commented on #16561
@aselle could you please make it a little bit clear for me

I am using pyhon generated code to read and get node attributed from the model graph.

I generated it this way (output is `tflite/` folder with autogenerated *.py files):
`flatc -python tensorflow/tensorflow/lite/schema/schema.fbs`

Than I read the model:

[code]
Getting model parameters:

[code]
Than I realized that graph nodes could be

[2019-03-25 10:25] alextp commented on #26812
One alternative workaround is to make the boolean parameter a tensor; then
TF will trace both sides of the conditional once and pre-create all
variables.

On Mon, Mar 25, 2019 at 4:11 AM Alexandre Passos <notifications@github.com>
wrote:

--
 - Alex

[2019-03-25 10:41] Tahsin-Mayeesha commented on #25445
Would it be ok to make it a GSOC proposal? @dynamicwebpaige

[2019-03-25 10:57] Zeit42 commented on #19384
Any updates for 2019 for Tensorflow-lite? The Nightly Build links are now dead.

[2019-03-25 10:59] keesduisters commented on #26932
The bug was in my own code; the shape provided was (1, 200, 3, 1) i.s.o. (1, 3, 200, 1). Appologies, and thanks for looking into it.

I'm not much of an expert in using neural networks, but the fact that no error is ever produced about mismatching input shapes seems odd to me.
Is it desired to insert different-shaped inputs, or would it be a nice new feature to validate the inputs?

[2019-03-25 10:59] #26932 closed

[2019-03-25 11:20] cumberb1tch opened #27105 "TF Lite model parsing in Python"
Could you please make it a little bit clear for me

I am using pyhon generated code to read and get node attributes from the model graph.

I generated it this way (output is `tflite/` folder with autogenerated *.py files):
`flatc -python tensorflow/tensorflow/lite/schema/schema.fbs`

Than I read the model:

[code]
Getting model parameters:

[code]
Than I realized that graph nodes could be interpre

[2019-03-25 11:21] cumberb1tch opened #27106 "TF Lite model parsing in Python"
Could you please make it a little bit clear for me

I am using pyhon generated code to read and get node attributes from the model graph.

I generated it this way (output is `tflite/` folder with autogenerated *.py files):
`flatc -python tensorflow/tensorflow/lite/schema/schema.fbs`

Than I read the model:

[code]
Getting model parameters:

[code]
Than I realized that graph nodes could be interpre

[2019-03-25 11:27] Imtinan1996 commented on #26526
That's great, I worked around the problem by eliminating the use of map_fn, but still wanted to bring this to your attention, I have tried setting TF_ENABLE_CONTROL_FLOW_V2=1 just to test but the error persists, could be due to me using tensorflow version 1.12.1. If you think that this is fine then you may go ahead and close this issue. Thank you for your quick response and solution.

[2019-03-25 11:31] matlust commented on #27079
Same problem here..

[2019-03-25 12:00] wileeam opened #27107 "Implement WALS matrix factorization in Tensorflow 2.0"
**System information**
- TensorFlow version (you are using): 2.0-master
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Implement tf.contrib.factorization.WALSMatrixFactorization and tf.contrib.factorization.WALSModel in Tensorflow 2.0 (ideally in a distributed manner)

**Will this change the current api? How?**
Most likely.
The current WA

[2019-03-25 12:10] iamhankai commented on #17349
Have you solved your problem? I met the same one.

[2019-03-25 12:23] shashvatshahi1998 commented on #26143
Ya I am working on that, but anyone else who is interested can start working.

[2019-03-25 12:28] susanto-tm commented on #13746
How did you solve this issue? I am having the same issue at the moment.

[2019-03-25 12:36] opeide commented on #14855
I fixed this by changing the shebang at the top of the python file /usr/local/bin/tensorboard to #!/usr/bin/python3. (was just #!/usr/bin/python).

[2019-03-25 12:45] oveddan opened #27109 "Micro speech tutorial - wav_to_features script fails with "ImportError: No module named enum""
I'm following the instructions in the [micro_speech tutorial](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/experimental/micro/examples/micro_speech#creating-your-own-model)

I'm on OSX 10.14.2

When I get to the step to generate the test data files, and run the command:

[code]

I eventually get to an error "ImportError: No module named enum":

[2019-03-25 12:53] drasmuss commented on #8564
Yes it looks like this has been resolved now.

[2019-03-25 12:59] gshashank84 commented on #27109
It seems to me that you have not installed **enum** Module.

You can easily do that by ```pip install enum```

[2019-03-25 13:05] jvishnuvardhan commented on #8564
@drasmuss Thanks for confirming. I am closing the issue. Thanks!

[2019-03-25 13:05] #8564 closed

[2019-03-25 13:10] aaronhan92 commented on #14125
I've tried with the front camera view. Only need to play with the rotation variables and matrixes function.

[2019-03-25 13:34] Kuselokusi opened #27111 "CPU version of Tensorflow training is very slow with PlotLossesCallback"
I have the CPU version of tensorflow and have been training a 3 layered Simple Recurrent keras model. However, the model takes takes too long to complete the an epoch (in excess of 30 minutes).
This started when I added the `plot_losses = PlotLossesCallback()` so that I can get live progress plots of the progress on the losses and accuracies for each epoch. I'm not sure how to remediate the issue.

[2019-03-25 13:58] 0xpulsar commented on #17349
@iamhankai .
What i did for converting model to TFlite is, used **tflite_convert** command in terminal.
Example: `tflite_convert   --output_file=too.tflite   --keras_model_file=keras_model.h5`
Input file: ' keras_model.h5'
Output file: 'too.tflite'

[2019-03-25 14:09] nithingautham commented on #20874
any update on the solution here ?

[2019-03-25 14:39] qlzh727 commented on #26145
We are consolidating the high level APIs and remove duplications. Under the hood, tf.conv2d is using exactly the same code as tf.keras.layers.Conv2D. The functional API is just a wrapper around the keras API. With the new keras layer API, the existing tf.conv2d can be rewrite as follow:

[code]

[2019-03-25 14:42] artur-braga commented on #26155
Hello,
i have the same problem and given the current setup and dependencies I cannot downgrade neither of both softwares.
Does anyone have another suggestion?

[2019-03-25 14:45] ghltshubh commented on #14885
@theonegis Where did you increase the max user processes?

[2019-03-25 14:47] elmeriz commented on #23747
How did you resolve this issue @SirNeuman ? I am having the same problem trying to inference Deeplab v3+ ResNet 101 variant in tflite format. Conversion is succesful with no errors and the model works fine before conversion. I tried to adjust the export_model file according to melody-rain's tips, but it did not fix the problem.

[2019-03-25 14:52] theonegis commented on #14885
You can use the `ulimit` command (Linux/UNIX) to check and change related configurations.

[2019-03-25 14:58] ghltshubh commented on #14885
@theonegis I ran the ulimit command. The output was unlimited.

[2019-03-25 15:05] theonegis commented on #14885
If your max user processes is unlimited, then there may be something else causes this error.

[2019-03-25 15:08] Gurpreetsingh9465 commented on #26929
@veritas9872 sir, added k1 and k2 as default parameters 👍  [changes](https://github.com/tensorflow/tensorflow/pull/27076).  and sir can you open a new issue regarding mssim so that the code didn't clash.

[2019-03-25 15:09] jbedorf commented on #25638
This has been fixed in: https://github.com/tensorflow/tensorflow/pull/26720

[2019-03-25 15:11] mckeown12 opened #27112 "Cannot export Keras model TypeError: ('Not JSON Serializable:', b'\n...')"
Versions:
Mac OS 10.14.3
TF 2.0.0-dev20190319

[code]

It is curious that the preprocessing steps can serialize fine, but something goes wrong either with the definition/building of the `export_model`, or with the postprocessing steps...
(I apologize in advance if this is user error and not a bug-- it seems related to issues [here] (https://github.com/tensorflow/tensorflow/issues/19303) and [here]

[2019-03-25 15:13] AxelWolf commented on #27079
Same here with TF 1.13.1. Installed object_detection following https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md. Error shows when running model_builder_test.py.

[2019-03-25 15:21] Ayush517 commented on #27106
@cumberb1tch This is a copy of #27105 . Please close this.

[2019-03-25 15:33] eddienewton commented on #26145
@qlzh727 so before closing this issue, can you simply update the documentation and warning one gets?

The current documentation is wrong.  It leads users to a non-existing function.  The documentation should simply state what you just wrote above.

Thanks,

[2019-03-25 15:34] jtressle commented on #26145
@qlzh727 can you simply update the documentation and warning one gets?

The current documentation is wrong. It leads users to a non-existing function. The documentation should simply state what you just wrote above.

Thanks

[2019-03-25 15:36] zaccharieramzi commented on #386
Hi,

I was wondering whether you guys at TF were planning to implement a non-uniform FFT layer.
I don't know if this question belongs here, or if I should create a new issue by itself.

Cheers

[2019-03-25 15:43] jdduke commented on #26499
For better or worse, we cannot bundle *Android* binaries in a pip compiled for a desktop PC.

What we can do is provide a single shell script which automates steps (1)-(5). Would that help?

[2019-03-25 15:44] qlzh727 commented on #26145
Ack, will send a update for doc very soon.

[2019-03-25 15:57] Gurpreetsingh9465 commented on #27010
@chwang85 masking replace the value with 0 actually for example.
t = tf.fill([2,2],5.0)
m = tf.keras.layers.Masking(5)
print(m.apply(t))
""" output
tf.Tensor(
[[0. 0.]
 [0. 0.]], shape=(2, 2), dtype=float32)
"""

t = tf.fill([2,2],5.0)
m = tf.keras.layers.Masking() # default value 0.0
print(m.apply(t))

""" output
[[5. 5.]
 [5. 5.]], shape=(2, 2), dtype=float32)
"""

[2019-03-25 15:59] dtegunov commented on #15880
Since other users are still looking for a solution, here is the workaround I've been using in my projects:

The trick is to make the destructor in tensorflow/core/common_runtime/process_state.h public instead of protected. Now you can call tensorflow::ProcessState::singleton()->~ProcessState() to free all memory. TF 1.10 is the latest version I've tested for this. Here is a fork with the code alre

[2019-03-25 15:59] jvishnuvardhan commented on #25656
Thanks @byronyi . I am closing the issue. Thanks!

[2019-03-25 15:59] #25656 closed

[2019-03-25 16:05] qlzh727 commented on #26145
Its actually been fixed in https://github.com/tensorflow/tensorflow/commit/a4f5558529a56d72bdcec9c0c8d0a3fb2a91fb64, but hasn't reach the stable release yet.

[2019-03-25 16:05] #26145 closed

[2019-03-25 16:07] jvishnuvardhan commented on #5477
@thjashin Thanks! I am closing the issue. Please feel free to open a new ticket if the bug persists in latest version. Thanks!

[2019-03-25 16:07] #5477 closed

[2019-03-25 16:07] Brezloft commented on #27082
I also have this error

[2019-03-25 16:09] Brezloft commented on #27082
I have this same error with Python 3.7

[2019-03-25 16:10] jtressle commented on #26145
@qlzh727 awesome thanks for taking care of it!

[2019-03-25 16:13] jvishnuvardhan commented on #25638
I am closing the issue as it was resolved. Please open a new issue if the bug persists in future. Thanks!

[2019-03-25 16:13] #25638 closed

[2019-03-25 16:14] allenlavoie commented on #23732
Closing as not reproducible, but please do follow up if it's still an issue.

[2019-03-25 16:14] #23732 closed

[2019-03-25 16:21] byronyi commented on #27095
I don’t know. Did you get it working?

[2019-03-25 16:36] temrich commented on #25800
I was able to repro the issue you are running into for a Swift project. Doesn't appear to be an issue with an Objective-C project. The TensorFlowLiteC framework needs to be updated a bit to make it modular. Right now, the framework depends on `tensorflow/lite/context.h` and `tensorflow/lite/c/c_api_internal.h` that are not located in the `tensorflow/lite/experimental/c` directory. We can configure

[2019-03-25 16:49] gauravkaila commented on #22053
Thanks @zacharymostowsky for the solution. I found it quite helpful while installing cuda/cudnn/TensorFlow on RHEL7.

One additional step that I had to do was to install third-party repository.

`yum install https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm`

I followed this guide to get around a few errors

https://developer.download.nvidia.com/compute/cuda/9.2/Prod2/docs/sid

[2019-03-25 17:05] ymodak commented on #27063
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-03-25 17:05] #27063 closed

[2019-03-25 17:06] felixnext commented on #25254
Thanks for the note.
It actually does work, but the lambda function has to create the generator. So the code would look like this:

[code]

Alternative option would be to create a generator that loops infinitely over the data, but that would require to provide `steps_per_epoch` and `validation_steps`.

[2019-03-25 17:06] jvishnuvardhan commented on #27106
Thanks @Ayush517 .
I am closing this as it is a duplicate of #27105

[2019-03-25 17:06] #27106 closed

[2019-03-25 17:09] ymodak commented on #27002
@thebeancounter Before I reopen the issue, can you please tell me what changes you made to your configuration that might have caused your code to crash since you were able to execute it successfully in the past ? Thanks!

[2019-03-25 17:11] haozha111 commented on #26696
Based on the CHECK failure, my guess is that the type information in that particular NodeDef is missing. Could you check the attributes of that NodeDef? How is this graph generated?

[2019-03-25 17:11] alextp commented on #26807
This shows that most of the execution time of your program is indeed inside tensorflow's runtime, and not python overhead, so slow graph building is not the cause for your poor performance.

[2019-03-25 17:12] rongou commented on #26155
Another option is to patch the protobuf code to derefence the pointer first:
[code]
like what we did [here](https://github.com/dmlc/xgboost/pull/4223#issuecomment-470476672), but if you can't change your CUDA/gcc versions, I'm not sure if this is easier. :)

[2019-03-25 17:23] ttdd11 opened #27114 "Unable to assign GPU using c_api"
**System information**
Windows 10
Source (c_api)
TensorFlow version: 1.13
CUDA/cuDNN version:10, 7.4.2
GPU model and memory: RTX Titan 24 G

Using the c_api I am unable to assign a graph to a specific GPU. Overall the objective is to have the same graph running inference individually on each GPU. I have moved to the c_api from building in c++ because SetDefaultDevice is broken in c++ since version

[2019-03-25 17:23] ymodak commented on #26769
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-25 17:23] #26769 closed

[2019-03-25 17:23] #26801 closed

[2019-03-25 17:23] ymodak commented on #26801
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-25 17:24] ymodak commented on #26881
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-25 17:24] #26881 closed

[2019-03-25 17:24] ymodak commented on #26987
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-25 17:24] #26987 closed

[2019-03-25 17:24] ymodak commented on #26967
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-25 17:24] #26967 closed

[2019-03-25 17:36] allenlavoie commented on #27085
Layer only started tracking its sub-Layers like Network/Model in https://github.com/tensorflow/tensorflow/commit/e0f8b4cea2486cae671c60cc7645913bea1abf60

So the issue is that the variables aren't tracked. Can you use tf.keras.Model instead? Or try a nightly and it should work.

[2019-03-25 17:41] alextp commented on #26703
@pavithrasv can you look at this?

[2019-03-25 17:41] skye commented on #26526
Ah yeah, the TF_ENABLE_CONTROL_FLOW_V2 env var was only added in 1.13. In 1.12 there was an earlier version, TF_ENABLE_WHILE_V2=1, that you can try. However, I still recommend upgrading, since we've improved the new while loop quite a bit between 1.12 and 1.13.

I'm gonna keep this issue open for now, since we should probably fix the issue without requiring a workaround. Please let me know if run

[2019-03-25 17:42] alextp commented on #26819
I don't see in your code where you use session.run to make the assignments happen.

Are you using eager execution?

[2019-03-25 17:49] alextp commented on #27102
I believe this has been fixed in nightly.

Can you try?

[2019-03-25 17:51] girving commented on #26684
@alextp @rohan100jain Did you get a chance to look at this?  I want to make sure it isn't dropped, since it's blocking my upgrade of TensorFlow.

[2019-03-25 17:52] ttdd11 commented on #18861
@nikkymen Have you tried the c++ fix in a recent tensorflow build? Setting devices using your code doesn't seem to work for me because of libprotobuf string issues. Any suggestions?

[2019-03-25 17:53] brilee commented on #26293
Working on it now!

[2019-03-25 17:58] alextp commented on #26684
@nfelt can you look?

[2019-03-25 17:59] Gurpreetsingh9465 commented on #26879
@csachs @dynamicwebpaige  i found that there is no check about the type of values in tf2.0 but this check was there in tf 1.x , according to docs it should be a list or tuple.
so, by adding these lines in `ops/gen_array_ops pack function.`
`
    if not isinstance(values, (list, tuple)):
      raise TypeError(
          "Expected list for 'values' argument to "
          "'pack' Op, not %r." % valu

[2019-03-25 18:02] jpangburn commented on #25800
That worked on the simulator, thanks a lot!  After it built successfully I was able to init an Interpreter object using an absolute path to a tflite model file, and called `.allocateTensors()` and `.invoke()` on it with no errors.  So it was able to process my model (with whatever default values were inside the tensors after the allocation).  For me, this is enough for now as I have plenty to do l

[2019-03-25 18:05] achowdhery commented on #19384
The nightly build for Tensorflow lite is working appropriately. Please advise what link are you trying.

[2019-03-25 18:09] jdduke commented on #27101
Is this the correct shape for your graph? Are there any other inputs?

[2019-03-25 18:12] temrich commented on #25800
That's great to hear! Regarding not compiling/linking on a real device, we will definitely look into that before pushing the pod public. Appreciate the feedback.

For loading the model via a relative path, can you provide the code you are using?

[2019-03-25 18:19] mohamadamirdliwati opened #27116 "Failed to load the native TensorFlow runtime"
Exception has occurred: ImportError
Traceback (most recent call last):   File "C:\Users\moham\AppData\Local\Programs\Python\Python37\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>     from tensorflow.python.pywrap_tensorflow_internal import *   File "C:\Users\moham\AppData\Local\Programs\Python\Python37\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal

[2019-03-25 18:29] chwang85 commented on #27010
https://www.tensorflow.org/api_docs/python/tf/keras/layers/Masking

Masks a sequence by using a mask value to skip timesteps.

For each timestep in the input tensor (dimension #1 in the tensor), if all values in the input tensor at that timestep are equal to mask_value, then **the timestep will be masked (skipped) in all downstream layers** (as long as they support masking).

[2019-03-25 18:34] temrich commented on #25800
Also, for "Doesn't compile for real device. Commenting Interpreter.swift lines 54-67 resolved that.", is that only when Bitcode is enabled for your app? If you disable Bitcode (temporarily), does the app build successfully on a real device?

If that's a separate issue, can you provide the compiler error that you see prior to commenting out lines 54-67?

Thank you!

[2019-03-25 18:39] pavithrasv commented on #26703
Yes, I am able to repro, will look into the fix.

[2019-03-25 18:49] ymodak commented on #26780
I suppose ```Graph_Transform_Tool can be a better alternative instead. Did you take a look at [```Graph_Transform_Tool```](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_transforms#graph-transform-tool) yet?

[2019-03-25 19:00] ymodak commented on #26899
Thanks for the confirmation. Can you please describe the procedure you followed to install TF?
Also did you get a chance to take a look at [install guide on TF website](https://www.tensorflow.org/install/pip)?

[2019-03-25 19:07] pavithrasv commented on #26703
@guillaumekln is there a reason you have overridden `updates` property?

We wrap metrics `update_state` API in `tf.function` internally to allow users to write simple metric updates. Since you have overridden updates, the updates you get are the updates of the inner Precision, Recall metrics which are in the `FuncGraph` scope. Your F1 metric should work as expected with both Estimator and Keras AP

[2019-03-25 19:07] ymodak commented on #27055
Since this issue is related to [DeepLab](https://github.com/tensorflow/models/tree/master/research/deeplab#deeplab-deep-labelling-for-semantic-image-segmentation). Its better suited on tensorflow/models repo. Please post it on [tensorflow/models](https://github.com/tensorflow/models/issues/new). Thanks!

[2019-03-25 19:07] #27055 closed

[2019-03-25 19:18] captain-pool commented on #26998
@dynamicwebpaige Can You give me some pointers how to start? I went through the repository to find something where the model is implemented. However all I found is that there's no implementation of mobiilenet_v2 in tensorflow. The model is being imported from keras_applications and the appropriate object is returned when tf.keras.applications.MobileNetV2 is invoked.
**REF:**
 https://github.com/te

[2019-03-25 19:24] broune commented on #26893
I can't get into specifics on the architecture, but VMEM is a memory space that is managed entirely by XLA. XLA should always be able to ensure that you don't run out of VMEM, so whenever it happens that's a bug in XLA.

[2019-03-25 19:34] jpangburn commented on #25800
Yes, disabling Bitcode allowed the app to build/run on a real device.

The compiler error prior to commenting out 54-67 is that CVaListPointer error:

                  let message = String(cFormat: cFormat, arguments: arguments)
                                                                    ^
/Users/jpangburn/Documents/tensorflowlite/tensorflow/tensorflow/lite/experimental/swift/Sources/Inte

[2019-03-25 19:35] guillaumekln commented on #26703
I'm not sure that's the issue because if you don't override `updates`, it will still return the updates of the inner Precision and Recall metrics.  For example, when `updates` is not overriden, the graph of some updates is still not the default one:

[code]

I was not sure why there are 3 updates in this case, that's why I overrided `updates`.

Note that when integrating with Estimator, the error

[2019-03-25 19:49] jdduke commented on #19384
Which links in particular? I strongly encourage users to switch to using TensorFlow Lite. The detection sample for that can be found @ https://github.com/tensorflow/examples/blob/master/lite/examples/object_detection/android/README.md.

[2019-03-25 20:10] alsrgv commented on #27067
C API sounds great!  I'd love not to have to worry about C++ ABI compatibility anymore.  Happy to be one of the early adopters.

Is there any update on whether reverting https://github.com/tensorflow/tensorflow/commit/41e7b3ca0abfd7e40a82ae38f96a9fbfeecb0ee would impede the progress of that work?  While I understand that C++ ABI has little theoretical guarantees across compiler versions, in practi

[2019-03-25 20:20] ttdd11 commented on #16291
@Kejie-Wang Have you tried this with a later version of tensorflow and cuda 10?

[2019-03-25 20:29] vladr11 commented on #27079
Same problem here with TF 1.13.1, Linux Ubuntu 18.04, Python 3.6 CUDA 10.0.

[2019-03-25 20:40] rryan commented on #386
@zaccharieramzi nobody on the TF team is currently considering that, as far as I know.

AIUI, the most efficient algorithms for it are defined in terms of the FFT -- is it an easy extension of the FFT ops that already exist? If so, I would be happy to code review an addition to tf.signal. to add it if someone submits a pull request.

If it is more involved to implement, for example requiring custo

[2019-03-25 20:46] RadjaHachilif opened #27118 "Inference vs training in tensorflow"
Hello,
Could you please tell me how does Tensoflow differentiate the training step from the inference? ( in most examples I found, they use the same call for both steps )

[2019-03-25 20:50] gunan commented on #27067
Unfortunately, All I can offer is creating a docker container based on our custom op containers to provide an environment to build.
We have created these containers, because such issues has been hitting our users continuously. So for your simple example, you are only now hitting the issue. However, we have seen with tensorflow/compression or tensorflow/lingvo that withour the referenced change, th

[2019-03-25 21:02] ymodak commented on #26364
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-03-25 21:04] EliasHasle opened #27119 "window + flat_map fails on dataset of tuples"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Home edition
- TensorFlow installed from (source or binary): pip install tensorflow-gpu
- TensorFlow version (use command below): b'v1.12.0-rc2-3-ga6d8ffae09' 1.12.0
- Python version: 3.6.7
- CUDA/cuDNN v

[2019-03-25 21:05] ymodak commented on #26870
Closing since its a duplicate of #26364 . Feel free to reopen if the solution provided on that thread doesn't work for you. Thanks!

[2019-03-25 21:15] ericpts opened #27120 "tf.function-decorated function tried to create variables on non-first call"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian Testing
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.0.0.dev20190227
- Python version: 3.7

**Describe the current behavior**

A function which correctly works when in eager mode does not work anymore when annotated with `tf.function`.

In particular, it co

[2019-03-25 21:21] ArifSohaib commented on #26947
any suggestions/updates on this?

[2019-03-25 21:45] jw447 opened #27121 "Build from source error on knl"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Centos
- Mobile device (e.g. i

[2019-03-25 21:48] ymodak opened #27122 "Error selecting GPU programmatically from jupyter"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

I have a multi-GPU machine and am trying to train different models on different GPUs. I'm trying to set the GPU programmatically rather

[2019-03-25 21:51] alsrgv commented on #27067
OK, fair enough.  What's the timeline for C API and/or moving your build system to gcc5+?

[2019-03-25 21:58] jeffpollock9 commented on #26807
Any idea what is the cause then? A sequence of matrix multiplications with some element wise addition and division being approximately 40 times slower with the tensorflow 2 runtime feels very worrying to me. I hope I have made a mistake somewhere but I am really struggling to see where.

Also please let me know if it is worth opening another issue for this.

[2019-03-25 22:00] melissagrueter commented on #26371
Hi @skye,

I've been able to add control dependencies from the outer graph to the loop body, but I'm seeing some unexpected behavior: the control input operations are executed a nondeterministic number of times. From what I've seen so far, they run either n, n-1, or n+1 times, where n is the number of loop iterations. If there are multiple control dependencies, they are not all necessarily execute

[2019-03-25 22:09] ruffles1 commented on #25301
The workaround I'm using is to replace tf.keras.layers.BatchNormalization layers with tf.layers.batch_normalization(fused=False). tflite_convert converts the model successfully with this.

"fused=False" is needed if converting to a quantized flatbuffer file (in my case, I'm training with fake quantization nodes).

Otherwise, there will be errors regarding missing min/max information in the graph:

[2019-03-25 22:11] temrich commented on #25800
For the Bitcode issue, mind regenerating the framework with the following (see [Bazel CROSSTOOL change to support Bitcode](https://github.com/bazelbuild/bazel/commit/f8e38d1a4b4d8cc6b4855c100971706ba77b7f30)):
`bazel build tensorflow/lite/experimental/c:TensorFlowLiteC_framework -c fastbuild --ios_multi_cpus=x86_64,armv7,arm64 --apple_bitcode=embedded`

For the compiler error for `CVaListPointer?`

[2019-03-25 22:27] xiejw commented on #26906
Passed to karmel for triage.

As far as I remember, Estimator has dedup code but likely not in MonitoredTrainingSession

[2019-03-25 22:33] allenlavoie commented on #27049
Model.fit is taking random slices of the data and batching them together. If you control for that, e.g. make all of the examples identical, can you still reproduce?

[2019-03-25 22:47] stephanwlee commented on #27034
Hi @qwesdfok, thanks for raising the issue. I was able to reproduce this and it looks like it is related to https://github.com/tensorflow/tensorboard/issues/2028. `pip freeze` should reveal that you have werkzeug of `0.15.1`. We will address it soon. Thanks!

[2019-03-25 23:01] nfelt commented on #27034
Duplicate of https://github.com/tensorflow/tensorboard/issues/2028

[2019-03-25 23:02] lostmsu commented on #27049
@allenlavoie the model will converge instantly if there's just 1 training sample.
I added `shuffle=False` to `.fit(...)` calls. The issue persisted.

[2019-03-25 23:03] alextp commented on #26807
I think it's worth opening another issue, yes.

On Mon, Mar 25, 2019 at 3:01 PM Jeff <notifications@github.com> wrote:

--
 - Alex

[2019-03-25 23:03] #27122 closed

[2019-03-25 23:06] alextp commented on #26602
@vbardiovskyg I think you're working on this, right?

[2019-03-25 23:08] allenlavoie commented on #27120
That's interesting. In this case it looks like you can move the decorator to `apply_grads` as a workaround.

We don't have a particularly good reason I can think of for disallowing variable creation when different Python objects are passed, or even different shapes/dtypes. Can you think of any, @alextp ? We'd basically have to invert the current relationship between tf.function and defun, where ea

[2019-03-25 23:09] #27088 closed

[2019-03-25 23:14] allenlavoie commented on #27049
Hrm. It looks like it's passing include_optimizer to Model.save. @tanzhenyu, any ideas?

[2019-03-25 23:24] jvishnuvardhan commented on #19992
@PavelPr  Is this still an issue with the latest TF1.13 and TF2.0? Thanks!

[2019-03-25 23:25] alextp commented on #27120
For different shapes / dtypes we chose to disallow variable creation due to preserving the behavior of existing v1 code which could accidentally create variables on different shapes leading to an untrainable model.

I am fine relaxing the restriction on python objects, but I'd like to see if there's a better workaround here (and the one of decorating apply_grads instead and making use_fast a tenso

[2019-03-25 23:26] ymodak commented on #27082
You need to add sub folders: ```bin``` , ```include``` and ```lib`` to the path. Can you please try adding them?

[2019-03-25 23:26] alextp commented on #26608
We should probably drop this validating that everything is in the same graph bit. It'll likely be false with functions anyway.

[2019-03-25 23:38] dynamicwebpaige commented on #27107
This is an excellent recommendation (no pun intended), and we would welcome the contribution! :slightly_smiling_face:

If you are looking for a template for WALS implementation, the Google Cloud Platform team has a TensorFlow 1.x example located [here](https://github.com/GoogleCloudPlatform/tensorflow-recommendation-wals). Let us know if you have any questions!

[2019-03-25 23:39] jpangburn commented on #25800
The compiler error fix to `CVaListPointer?` worked great!

The Bitcode issue was not resolved on my machine.  I took the following steps:

1. deleted tensorflow/Frameworks/TensorFlowLiteC.framework
2. bazel clean
3. Cut'n'paste your updated bazel command, it completed with no errors
4. copied the new TensorFlowLiteC.framework to tensorflow/Frameworks/TensorFlowLiteC.framework
5.  edited the c_api.

[2019-03-26 00:25] chwang85 commented on #27010
No one can explain why?

[2019-03-26 00:51] jhseu commented on #26950
The issue is that you're creating the variables in apply_gradients, so as the error message says, they're uninitialized.

See _create_slots here for an example of where to create them:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/adam.py

[2019-03-26 00:51] #26950 closed

[2019-03-26 00:52] jhseu commented on #26950
@jing-dong for an example of an error message we should try to improve.

[2019-03-26 01:20] tanzhenyu commented on #27049
@lostmsu The previous keras optimizer is problematic. We have provided a new set of optimizers under exactly the same name and fully backward compatible for users. However as unfortunate as this is, the new ones did not make to tf 1.13.1. If you do !pip install tf-nightly-gpu-2.0-preview, then you should be able to see identical behavior.

That said, you need to change one line from tf.set_random_

[2019-03-26 01:21] em1208 commented on #27102
Hi @alextp,

I confirm this issue has been fixed on 1.14.1-dev20190325. Thanks!

[2019-03-26 01:28] qwesdfok commented on #27034
Yes, I checked the version of werkzeug and it is 0.15.1. I will downgrade werkzeug, if it is needed. Thanks!

[2019-03-26 01:46] thatsmesasha opened #27126 "TF 2.0 TPUStrategy error 'explicit_paddings' not in Op<name=Conv2D; ...>"
**System information**
- TensorFlow version: 2.0.0-alpha0
- Python version: 3.6
- Environment: Google Collaboratory with TPU

**Describe the current behavior**
I'm trying to do TPUStrategy for tensorflow 2.0 with disabled eager execution. I'm using Keras for the CNN model. When I try to run the .fit function on the model, I get an error:

NodeDef mentions attr 'explicit_paddings' not in Op<name=Co

[2019-03-26 01:47] iamhankai commented on #17349
Thanks~

[2019-03-26 01:59] RRoundTable commented on #27063
thanks!

[2019-03-26 02:06] as754770178 commented on #27095
Now I compile sucessfully. I find many diff in 24250.patch, but when I exec `24250.patch`, only modify `rdma_mgr.cc` and `verbs_server_lib.cc` .

Due to network problem, my server can not exec `curl https://patch-diff.githubusercontent.com/raw/tensorflow/tensorflow/pull/24250.patch | git apply`. So I manually  create a file `24250.patch` .  Do I still need to manually modify other files that show

[2019-03-26 02:22] ymodak commented on #26617
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-03-26 02:22] #26617 closed

[2019-03-26 02:24] ymodak commented on #26771
@jlebar

[2019-03-26 02:32] ymodak commented on #26689
Can you please describe the steps you followed to install TF? Also did you take a look at [Install TensorFlow with pip](https://www.tensorflow.org/install/pip)?

[2019-03-26 02:43] sravan938 opened #27127 "Issue while importing sugartensor --- tensorflow has no attribute core - SOLVED"
I am using versions:
Tensorflow 1.13.1
Python 3.6
Sugartensor (0.0.2.4)

[code]

[2019-03-26 02:44] temrich commented on #25800
Can you try also passing `--copt=-fembed-bitcode`?

`bazel build tensorflow/lite/experimental/c:TensorFlowLiteC_framework -c fastbuild --ios_multi_cpus=x86_64,armv7,arm64 --apple_bitcode=embedded --copt=-fembed-bitcode`

[2019-03-26 03:11] songabc commented on #26731
It also happened to me when cross-compiling for ARMv8 platform

[2019-03-26 03:12] dynamicwebpaige commented on #27126
TPUs are not yet supported with TensorFlow 2.0.
You can track [this issue](https://github.com/tensorflow/tensorflow/issues/24412) to stay up-to-date on progress.

[2019-03-26 03:29] fsx950223 opened #27128 "dataset memory cache runs out of memory"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-03-26 03:34] jnd77 opened #27129 "[Feature Request] tf.data.Dataset.batch to return RaggedTensor when batching different shape Tensors"
**System information**
- TensorFlow version (you are using): TF 1.13.1
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

Currently, when working with a tf.data.Dataset and batching together Tensors which have different shapes result in an error.
The new feature would return a RaggedTensor instead, which would also require tf.data.Dataset to

[2019-03-26 04:14] Cross22 commented on #23896
Here's the correct link:
https://zimenglyu.com/en/ml/android/tensorflow/2018/11/27/tflite-android-ndk-eng.html

[2019-03-26 04:33] byronyi commented on #27095
If it’s working it’s working.

Let us know when you find that it’s not :)

[2019-03-26 04:36] OsamaNaeem1995 commented on #26689
Yes I did. I just did 'pip install tensorflow ' nothing else

On Tue, Mar 26, 2019, 7:35 AM ymodak <notifications@github.com> wrote:

[2019-03-26 04:47] mattn commented on #27093
This is a patch I expected.
[code]

[2019-03-26 04:47] jpangburn commented on #25800
Looks like that worked!  Bitcode is enabled on my project and it compiled and executed on a real device.  I checked to make sure it didn't break the simulator and it works fine there too.

So the relative path thing is all you have left to figure out before you publish the pod?  Or maybe you have a laundry list :-)  Either way, pretty exciting stuff.

[2019-03-26 05:04] sunilanil commented on #12530
I am not able to take ir dump using new flag --xla_dump_ir_to=/path
the previous flag I am able to get the dump xla_generate_hlo_text_to

[2019-03-26 05:38] alanpurple opened #27132 "missing 2.0.0 alpha custom estimator guide"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 2.0.0-alpha.0
- Doc Link: https://www.tensorflow.org/alpha/guide/keras/est

[2019-03-26 05:53] xiaomin05 commented on #26755
thanks for the effort. i reviewed the code. it seems that you need to make change to quantize.cc as well, in order to make tflite_convert work:

index 2fa80f2..45873c2 100644
--- a/tensorflow/lite/toco/graph_transformations/quantize.cc
+++ b/tensorflow/lite/toco/graph_transformations/quantize.cc
@@ -66,7 +66,8 @@ bool SupportsQuantization(const Operator& op) {
          type == OperatorType::kPack

[2019-03-26 05:58] TiejunChina commented on #26202
@pooyadavoodi You're right. I tied out two weeks ago but forgot to close this but really appreciate your reply.

[2019-03-26 05:58] #26202 closed

[2019-03-26 06:15] yongtang commented on #26879
I think the issue is located in:
https://github.com/tensorflow/tensorflow/blob/ca1f0ce1b9e82e9577a2439c1c40cf38d4694c40/tensorflow/python/eager/pywrap_tfe_src.cc#L1835-L1843

The `PySequence_Fast_GET_ITEM` tries to access item which should be wrapped with `PySequence_Fast` instead.

Created a PR #27133 to fix the segmentation fault issue.

[2019-03-26 06:24] smit-hinsu commented on #15880
Note that Sessions are deprecated with TensorFlow 2.0 so this shouldn't be an issue for training.
https://medium.com/tensorflow/effective-tensorflow-2-0-best-practices-and-whats-changed-a0ca48767aff

However, Sessions are also useful for inference in C++ so I will keep this open and will look into deallocating memory on session destruction at a lower priority.

[2019-03-26 06:29] Gurpreetsingh9465 commented on #26879
@yongtang thanks for the PR :+1:

[2019-03-26 06:31] ErmiaAzarkhalili commented on #26502
As we discussed here, It's a serious problem which is created by tensorflow implementation. Could you please kindly consider it to resolve as soon as possible for next versions?

[2019-03-26 06:38] vishald527 commented on #26725
Any update on this issue? Even I am facing the exact same error. @isaacnoble @jvishnuvardhan

[2019-03-26 06:41] byronyi commented on #26725
Ping @poxvoculi; looks like a ScopeAllocator issue.

[2019-03-26 06:46] kibromdst commented on #2416
I had the same problem, but it was due to the fact that i had more than one program of python opened at a time. I was using Jupiter  notebook in my case, going to the running tab and closing the running programs that i don't need helped me solve this issue.

(https://user-images.githubusercontent.com/34263377/54976592-327e9000-4fde-11e9-9b89-d5cec2b4d799.png)

[2019-03-26 06:50] veritas9872 commented on #26929
@Gurpreetsingh9465 Thank you very much.
However, I find that many of the checks were not successful.
I will open a separate issue for MS-SSIM.
Thank you for helping out.

[2019-03-26 06:57] shaolinkhoa commented on #26824
Hi, @lamberta
I would like to know if the website team have a plan to check all the link on TF2 tutorial or not?
Because I just found another case in ["Load images with tf.data"](https://www.tensorflow.org/alpha/tutorials/load_data/images) and ["Using TFRecords and tf.Example"](https://www.tensorflow.org/alpha/tutorials/load_data/tf_records).
They should link to https://github.com/tensorflow/docs/

[2019-03-26 06:58] LiuPangYao commented on #25841
input is use the same function?

[2019-03-26 06:59] theangels opened #27135 "TFLite got same result whatever feed any image"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: 1+6T
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):

[2019-03-26 07:11] Telang8100 commented on #27055
Thanks..
The issue is solved by upgrading tensorflow_gpu to 1.10

[2019-03-26 07:13] jlebar commented on #26771
Hi, @RadjaHachilif.

Github Issues are for bugs in TensorFlow, not for support requests.  There are separate mailing lists for this.  See https://www.tensorflow.org/community/forums.  Or you can try StackOverflow.

I know it can be frustrated to be told "good question, wrong venue", but if we don't keep these separate, our processes will fall apart in a bad way.

We try to be very up-front about t

[2019-03-26 07:13] #26771 closed

[2019-03-26 07:14] jlebar commented on #26771
(@ymodak fyi is it possible to get responses like the above when someone files a bug that's not actually a bug?  Would save some dev time.)

[2019-03-26 07:22] #27095 closed

[2019-03-26 07:29] anilsathyan7 commented on #27031
Also, in the official tflite gpu [classification demo](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/java/demo) NNAPI was not giving any speed up (even compared with CPU version) with float model.With quantized model CPU was having better speed than NNAPI.
Benchmark result from app:
CPU: ~ 200 ms
GPU: ~ 90 ms
NNAPI: ~ 300-500 ms

[2019-03-26 07:48] guptapriya commented on #26980
Thanks for reporting, we will take a look at it.

[2019-03-26 08:00] amitsrivastava78 commented on #26755
@xiaomin05 , thanks for the comments, i will update this part as well, in the mean time can you please let me know if you have tested this implementation ? IF so kindly publish the results as well.

Regards
Amit

[2019-03-26 08:15] MostafaGazar commented on #27054
I think Google Cloud Storage (GCS) does not work on Windows because of its dependency on `curl` but the datasets download manager code does not seem to depend on any of that, https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/download/downloader.py#L146

A workaround could be to set that `download` param in `tfds.load` to `False` and download the data manually before hand.

[2019-03-26 08:16] chencan15 commented on #26819
Thanks for your reply!

I'm not using eager execution.

The above code is the neural network i defined, it ruturns C as the prediction of the neural network.
I name the network as NT, the input of NT is A and the output of NT is C:
C=NT(A)

I assign the prediction to a zero tensor C, the C should be non-zero and trainable. But when i run the following code to print C, all elements in C are still z

[2019-03-26 08:17] chencan15 commented on #26819
@alextp

[2019-03-26 08:27] veritas9872 opened #27138 "Add sigma, k1, k2, etc. as default parameters to tf.image.ssim_multiscale"
I previously requested a feature on tf.image.ssim for window size and sigma on this link. https://github.com/tensorflow/tensorflow/issues/26929
Please read it for additional information.

I would like to request for variables of multiscale ssim (such as sigma, k1, k2, etc.) to be listed as defaults (instead of being fixed inside the script) as well.

**System information**
- TensorFlow version (yo

[2019-03-26 08:27] ductri opened #27139 "save_weights/load_weights with custom layer does not work in tensorflow 1.13.1, but work in tf 2.0.0a0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, but very basic
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary (conda)
- TensorFlow versio

[2019-03-26 08:29] veritas9872 commented on #26929
@Gurpreetsingh9465 I opened a separate issue for MS-SSIM at  https://github.com/tensorflow/tensorflow/issues/27138
I also suggested that some values (such as K1 and K2) might be better left as keyword arguments (as is the case in skimage) since almost no one ever changes them.

[2019-03-26 08:53] fzyzcjy commented on #26499
Oh it does not matter in _pip for PC_. It would be excellent if the binary can be put **somewhere**!

[2019-03-26 09:37] Atom-101 opened #27141 "Tensorflow 2.0 failed to get convolution algorithm"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Fedora 29
- Mobile device (e.g

[2019-03-26 09:39] a6802739 commented on #26839
@alextp, I'm interested in contributing this, and hope you could give me some reference. Thanks.

[2019-03-26 09:47] TOSUKUi opened #27142 "AttributeError: 'LeakyReLU' object has no attribute '__name__' when running the train model."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
Docker container from tensorflow:2.0.0a0-gpu-py3

**Describe the current behavior**
I use leaky relu activation

[2019-03-26 09:50] jeffpollock9 opened #27143 "[TF 2.0] tf 2 around 40 times slower than tf 1 for unrolled taylor series"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.13.1
- Python version: Python 3.6.7
- CUDA/cuDNN version: 10.0/7.4
- GPU model and memory: GeForce GTX 1060

[2019-03-26 09:51] Overdrivr commented on #7414
I faced the same issue with calculating gradients for a graph containing `extract_image_patches`, using TF 1.10.0.

After upgrading TF to 1.13.0, the error stack is slightly different but fundamentally the problem remains the same:

[code]

This issue happens while running official NVidia docker container on a Tesla V100. Code runs fine in single precision, only crashes with half precision.

[2019-03-26 09:51] jeffpollock9 commented on #26807
Many thanks to everyone with your help on this, I have opened a new issue as per @alextp's suggestion (https://github.com/tensorflow/tensorflow/issues/27143) so can continue this discussion there.

[2019-03-26 10:07] #26324 closed

[2019-03-26 10:40] longair commented on #26731
Same for me.

[2019-03-26 10:47] vishald527 commented on #26725
@poxvoculi by any chance did you get time to look into this issue? @byronyi any workaround you can suggest for this?

[2019-03-26 11:23] moodoki opened #27144 "CUDNN_STATUS_INTERNAL_ERROR on GTX 1660 TI"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, simple du

[2019-03-26 11:53] lee-bin opened #27146 "Should `fold_constants` be before or after `flatten_atrous_conv`"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: v1.13.1
- Doc Link: https://github.com/tensorflow/tensorflow/blob/v1.13.1/

[2019-03-26 11:56] achandraa commented on #27118
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-03-26 12:00] achandraa commented on #27116
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-03-26 12:15] achandraa commented on #27129
Thank you for your suggestion. We will have a look and revert on the same further.

[2019-03-26 12:17] yonghenghuanmie commented on #21880
pacman -S msys/patch

[2019-03-26 12:18] achandraa commented on #27111
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-03-26 12:20] caissalover commented on #26041
I'm too facing this. It triggers when moving to the second variable [1] in
for i in tf.range(100):
Function runs correctly for i = 0.

Built 2.0 from source about 20th March. Thanks

[2019-03-26 12:23] mr-ubik commented on #26813
Importing keras in an interpreter works but all linters and autocomplete providers cannot resolve it. Unless it's something shared by all of them I would guess it's TF

[2019-03-26 12:24] achandraa commented on #27128
Thank you for reaching out to us. Can you please provide minimum reproducible code snippet and the error log to help us proceed further and verify what is going wrong

[2019-03-26 12:49] yonghenghuanmie commented on #26198
I solved this problem just few minutes ago.
https://github.com/tensorflow/tensorflow/issues/21880#issuecomment-476599931

[2019-03-26 12:55] byronyi commented on #26725
Pinging @dubey too

[2019-03-26 12:58] #27118 closed

[2019-03-26 13:07] tensorflowbutler commented on #23782
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-26 13:07] tensorflowbutler commented on #26068
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-26 13:18] sdjsngs commented on #24828
i use cuda 9.0 for windows and i  changed cudnn version form v7 to v7.4.1.5   and i works

[2019-03-26 13:24] derekmetcalf commented on #27079
Same problem. TF 1.13.1, SwagArch GNU/Linux 4.20.12
Comes from the tensorflow_probability import

[2019-03-26 13:27] smallhaolzh opened #27147 "AttentionMechanism not be supported in Eager Mode"
When I want to add certain classical AttetionMechansim through Tensorflow API, I find that Tensorflow 's AttentionMechansim API dose not support Eager Mode for the reason that "memory" parameter is in the attention mechiansim s' __init__ method. Because in general, I construct a AttentionMechanism in static graph mode, it must be constructed transferring a parameter "memory" , a tensor whose value

[2019-03-26 14:04] Lipingking opened #27149 "how to generate batch pictures of myselt dataset"
Based on MNIST recognition project,I want to train myself dataset,I want to generate more pictures on the basis of the existing captured pictures. thank you for your reply as soon as possible.

[2019-03-26 14:06] hgaiser commented on #26653
Thank you for reporting this issue, it helped me resolve it on my system. I'm running a nearly identical setup as you, Arch Linux, 2 GPUs, linux kernel 5.0.3 and it crashes with the same error. After seeing this issue I downgraded to `linux-lts` and `nvidia-lts`, that has resolved my problem. Apparently, something in linux / nvidia / tensorflow is causing issues.

[2019-03-26 14:10] edrozenberg commented on #26155
Thanks to @rongou for inspiring a temporary workaround. The actual steps involved were quite a bit more work to figure out. First I tried patching and installing the latest protobuf 3.7.0. Turns out Tensorflow does not use the protobuf package installed on the system - instead, it downloads its own protobuf from a URL listed in the tensorflow source code under `tensorflow/workspace.bzl`.

Steps:
-

[2019-03-26 14:10] fsx950223 commented on #27128
Yeah,I will have a try with leveldb

[2019-03-26 14:13] shaolinkhoa commented on #27054
Thank you @MostafaGazar .
I copy the dataset from my ubuntu server to my win10 PC and add download = False to the function then it works.
[code]
Hope TF dataset team will fix this.

[2019-03-26 14:21] edrozenberg commented on #26155
This was not easy but it was better than having to downgrade CUDA or gcc, neither of which are easy to do either:
- Tried to use CUDA 10.0 but its installer failed because it doesn't support gcc 8
- Trying to downgrade the OS-shipped gcc 8.3 to something else causes many other issues
- Building and installing an additional gcc 7 in a location such as /opt/gcc works but requires passing a bunch of

[2019-03-26 14:22] wdirons commented on #26155
@edrozenberg , you should be able to simplify the above steps by just adding a patch file to the existing protobuf entry in workspace.bzl.

See this example:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/workspace.bzl#L612

[2019-03-26 14:27] JamesTownend opened #27150 "keras.metrics.MeanIoU - AttributeError: 'list' object has no attribute 'shape'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0-alpha0
-

[2019-03-26 14:27] edrozenberg commented on #26155
@wdirons thanks! Sounds like a good way to go once I figure out where to put the patch file for it to be found. bazel/tensorflow leave a lot of things as exercises for the reader ("just read the source code to figure it out") :sweat_smile:

[2019-03-26 14:37] mrry commented on #26803
From the error message, I think the issue is in Keras. Reassigning to @fchollet for triage.

[2019-03-26 14:42] wdirons commented on #26155
@edrozenberg, here is how:
[code]
and copy the file to third_party/protobuf

I'm wondering if your patch should be submitted a PR to resolve this issue ?

[2019-03-26 14:49] skiler07 commented on #27079
Same here, when running Apache Beam pipelines:

TB:

[code]

[2019-03-26 14:56] zhangtravis opened #27152 "Error importing tensorflow on windows 10 ( Tensorflow 1.13.1 python3.7.2 )"
System information

OS Platform and Distribution : Windows 10, 64-bit
TensorFlow installed from (source or binary): source
TensorFlow version: 1.13.1
Python version: 3.7.2
Installed using virtualenv? pip? conda?: pip on a conda env

I want to run a python file that uses tensorflow, but I keep getting this error.

Traceback (most recent call last):
  File "C:\Users\popco\AppData\Local\Programs\Pyth

[2019-03-26 15:29] singh728om opened #27154 "SmartReply Tensorflow Lite"
I'm visited in github repo on tensorflow but there are showing source code batch files not found when i want try to clone repo...

[2019-03-26 15:32] kgizdov commented on #26155
All that is needed is the following:
[code]
[code]
[code]
To upgrade to `protobuf 3.7.x` one needs a bigger change to build environment as `skylib` build options have significantly changed.

[2019-03-26 15:34] temrich commented on #25800
That's good to hear that everything is working now! Thanks again for your all your help with testing out the pipeline!

Regarding loading a mode file, are you trying to load the file from the main bundle or a custom bundle? Did you try something like this:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/swift/TestApps/TensorFlowLiteApp/TensorFlowLiteApp/ViewContro

[2019-03-26 15:38] edrozenberg opened #27155 "Built TF 1.13.1 - libcublas.so.10.1: cannot open shared object file with classify_image.py"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-03-26 15:42] alextp commented on #26608
@meyerjo do you feel like sending a pull request which adds a unit test based on your code and deletes this validation block in ops.py?

[2019-03-26 15:44] #27102 closed

[2019-03-26 15:47] jing-dong commented on #26950
@jhseu Thanks for the example!

[2019-03-26 15:51] alextp commented on #26819
Right but when you do c[i].assign without using the return value you create an assignment operation in the graph but never actually execute it.

You have two options to make this code work. The first is in the TF 1.x style adding a lot of control dependencies to build an update op which depends on all assignments; the second is to use [tf.function](https://www.tensorflow.org/alpha/tutorials/eager/

[2019-03-26 15:58] kmader opened #27156 "TFLite MicroInterpreter Crashes/Seg Faults"
**System information**
- Have I written custom code: Yes (custom model and custom code)
- OS Platform and Distribution: Mac OS X 10.13.6
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): v1.12.0-11117-gca1f0ce1b9 1.14.1-dev20190326
- Python version: 3.7.2
- GCC/Compiler version (if compiling from source): Apple LLVM version 10.0.0 (clang-1000.10.44.4)

[2019-03-26 15:59] alextp commented on #26839
@a6802739 happy to help!

The current logic for numpy-style slicing in tensorflow is spread out over two functions: boolean_mask and strided_slice.

tf.boolean_mask is implemented in python in terms of gather here: https://github.com/tensorflow/tensorflow/blob/49414867df30277c7ea7839837cc8e3397c712cb/tensorflow/python/ops/array_ops.py#L1275

when slicing we first build a spec here for the strided_

[2019-03-26 16:01] Docjones commented on #8244
We are having a similar problem: We create Tensors in java using `Tensor.<String>create(...);` We are feeding a `byte[][][]` containing padded Strings (see our [stackoverflow ](https://stackoverflow.com/questions/55296464/how-can-i-feed-a-sparse-placeholder-in-a-tensorflow-model-from-java)post regarding this).

We are feeding 4 Tensors with ~7500 Strings each, which quite some time to `create`. Ha

[2019-03-26 16:01] kmader commented on #27156
The corresponding model (the .tflite) is visualized here (in case there are problematic layers)
![local_min_cnn](https://user-images.githubusercontent.com/116120/55013136-d53c0c00-4fe8-11e9-85c6-fbf24dc4fcda.png)

[2019-03-26 16:04] kmader commented on #27156
Issue is potentially related to https://github.com/tensorflow/tensorflow/issues/25614 but the model size here is much smaller (even smaller than the micro_speech demo)

[2019-03-26 16:09] jvishnuvardhan commented on #23782
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-03-26 16:09] #23782 closed

[2019-03-26 16:18] edrozenberg commented on #26155
@kgizdov Thanks for your excellent step-by-step guide! I will try it soon. Having done the builds already the hard way, it will be nice to do them again the easy way.

[2019-03-26 16:42] alextp commented on #26680
@azaks2 do you know who should debug this allocator issue?

[2019-03-26 16:52] jvishnuvardhan commented on #26726
@lyuchuny3
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. If you think this could be a bug then please fill the template and provide a

[2019-03-26 16:59] jpangburn commented on #25800
Yeah, sorry my prior iOS work was with Cordova, I'm just starting out on Swift.  I know nothing of bundles, and figured I could just use a relative path.  I had been playing with this example [SpeechCommands](https://github.com/tensorflow/examples/tree/master/lite/examples/speech_commands/ios/SpeechCommands) and mistakenly thought it was a simple relative path to the model file.  After your commen

[2019-03-26 17:13] allenlavoie commented on #27139
Yep, we recently enabled sub-Layer tracking for Layer, as Network/Model has been doing for a while. 1.14 when it comes out will have Layer doing this tracking as well. In the meantime you may need to use tf.keras.Model rather than Layer if you're composing other Layers.

[2019-03-26 17:13] #27139 closed

[2019-03-26 17:13] temrich commented on #25800
No problem at all! Please feel free to open up a new issue if you run into any new problems.

Hoping to push the new CocoaPods public over the next week or two.

[2019-03-26 17:31] er91 commented on #26980
Issue identified, fix is on the way (should be submitted today)

[2019-03-26 17:34] #27020 closed

[2019-03-26 17:34] ymodak commented on #27020
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-26 17:37] #26870 closed

[2019-03-26 17:43] mastedm commented on #27079
The same with Python 3.7.1:

[code]

[2019-03-26 17:45] harahu commented on #24429
@omalleyt12 I originally reported this issue using TF 1.12. I rechecked with that version and the issue still remains, also when using batch as you suggest. You are correct in that it now works in version 1.13.1, when using batch. I guess it might not be worth backporting the fixes. (I, at least have moved on to 1.13.1)

I am, however, unsure if this really is a satisfying solution, because it mea

[2019-03-26 17:49] plche commented on #26182
There is a typo in the last command, it should be:
`ln -s /usr/lib/x86_64-linux-gnu/libcublas.so.10 /usr/lib/x86_64-linux-gnu/libcublas.so.10.0`
Also consider issuing that command with root privileges (sudo) or you will get a permission denied error...

[2019-03-26 17:52] jsimsa commented on #26041
I cannot reproduce the issue using Python 3 Google colab, running:

`!pip install tf-nightly-gpu-2.0-preview` (this installs tf-nightly-gpu-2.0-preview-2.0.0.dev20190326)

followed by:

[code]

@bayesian and @caissalover please create a separate issue with instructions on how to reproduce the issue you are seeing. I am closing this issue.

[2019-03-26 17:52] #26041 closed

[2019-03-26 17:57] mostafaelhoushi commented on #26182
Thanks @plche ! I fixed it

[2019-03-26 17:58] omalleyt12 commented on #24429
Hi @harahu, yes you're correct we are only forward-fixing. Backporting changes like this requires quite a lot of work.

I see your point about the difference b/t how np arrays and Datasets are handled. Technically the second example you provided is the correct one, it's quite ambiguous in the first example whether Keras should expand to:

(A)
[code]

or (B):

[code]

For historical reasons, Keras

[2019-03-26 17:58] jvishnuvardhan commented on #26846
@simonefrancia In future, please post TF_Hub related issues in the Hub [Repo](https://github.com/tensorflow/hub/issues). Thanks!

[2019-03-26 17:59] #26904 closed

[2019-03-26 18:08] harahu commented on #24429
@omalleyt12 Also, strictly speaking, the original issue isn't entirely resolved. Yes, I am no longer forced to also provide labels in order to satisfy the shape requirements when using a dataset, but if I choose to, for reasons unknown, I still get the error:
``You must compile a model before training/testing. Use `model.compile(optimizer, loss)`.``

So I guess what has changed is the criticality

[2019-03-26 18:19] pkufergus commented on #12416
add into env
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:~/cudnn/c
udnn_v6/cuda/lib64

[2019-03-26 18:19] harahu commented on #24429
@omalleyt12 I agree that it might not be desirable to imitate the same leniency when using datasets as well. Assuming this is a quirk of the Keras specification, it is probably also not realistic to tighten up the requirements for array input to match that of dataset. But at a minimum I think it is an idea to document the differences somewhere, so that people like me can avoid confusion and head s

[2019-03-26 18:24] er91 commented on #26980
Hi Johannes,

Could you please test if https://github.com/tensorflow/tensorflow/commit/7bdb838313d322773908cf8368c03ec98117ad55 solves your issue?

Thanks!

[2019-03-26 18:33] tfboyd commented on #26553
ping @angersson

[2019-03-26 18:35] tfboyd commented on #26553
Can you (austin) verify the build works on the image, if needed we can escalate to the GPU team to get a clear ownership.

[2019-03-26 18:49] #26823 closed

[2019-03-26 18:52] jvishnuvardhan commented on #27090
Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. It would be great if you can provide a small code to reproduce the error. Thanks!

[2019-03-26 18:58] lostmsu commented on #27049
@tanzhenyu confirming, seems to be fixed in 2.0-preview

[2019-03-26 18:58] #27049 closed

[2019-03-26 18:58] ymodak commented on #26771
@jlebar Sure will make a note of it. Thanks for taking a look.

[2019-03-26 18:58] ymodak commented on #27149
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-03-26 18:58] #27149 closed

[2019-03-26 19:13] jvishnuvardhan commented on #27087
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-03-26 19:14] SumNeuron opened #27161 "Documentation Request: WALSModel with shard"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: script built around docs
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: n/a
- **TensorFlow installed from (source or binary)**: conda gpu version

[2019-03-26 19:16] jvishnuvardhan commented on #27127
Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. It would be great if you can provide a small code to reproduce the error. Thanks!

[2019-03-26 19:18] #26879 closed

[2019-03-26 19:45] ZeroMaxinumXZ commented on #24828
Having same issues, wanting to use cuda 10 with tensorflow 1.13.1...

[2019-03-26 19:45] AzharSindhi commented on #26068
Yes. Although when I export the model through transfer learning model works fine on android. It gives completely wrong predictions on model trained above. I can't figure out what is the problem.

[2019-03-26 20:02] ymodak commented on #27056
As the error says, ```the binary was not built with CUDA or TensorRT enabled```. Please take a look at [compilation steps](the binary was not built with CUDA or TensorRT enabled) if haven't already.

[2019-03-26 20:05] ymodak commented on #27052
You need to upgrade to [cuda 10.0 for using TF 1.13.1](https://www.tensorflow.org/install/gpu). Thanks!

[2019-03-26 20:07] #26616 closed

[2019-03-26 20:09] ymodak commented on #27062
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-03-26 20:09] #27062 closed

[2019-03-26 20:14] ymodak commented on #27065
The above explanation is correct. Closing this issue since the issue is not at TensorFlow end. Thanks!

[2019-03-26 20:14] #27065 closed

[2019-03-26 20:29] nagisa opened #27163 "std::terminate may be called when environment is misconfigured while using C API"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): 1.12
- Python version: N/A, C API is used
- Bazel version (if compiling from source): 0.16.1
- GCC/Compile

[2019-03-26 20:29] catskillsresearch commented on #27062
I did that.  Here are some unanswered threads:
- https://stackoverflow.com/questions/55313399/relationship-between-batch-size-and-cuda-load-in-deep-learning-task
- https://datascience.stackexchange.com/questions/47918/how-can-i-increase-cuda-load-on-a-tensorflow-deep-learning-task-after-reducing-b?noredirect=1#comment54931_47918

It's safe to say that
- You can count the number of people in the wo

[2019-03-26 20:42] ruslanagit opened #27165 "Error when compiling a keras model with top_k_categorical_accuracy metrics"
I am trying to compile a KERAS model for multi-class segmentation of 2D images with top_k_categorical_accuracy metrics, i.e.
`model.compile(optimizer='adadelta',
              loss='categorical_crossentropy',
              metrics=['accuracy', 'top_k_categorical_accuracy'])`
The error I get is:

I am using one-hot encoding for the labels (10 is number of classes).
Interestingly, trying to use spar

[2019-03-26 20:47] christian-rauch commented on #25329
The pre-build binaries ([`libtensorflow-gpu-linux-x86_64-1.13.1.tar.gz`](https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-gpu-linux-x86_64-1.13.1.tar.gz)) for the C API have the same limitation:
[code]

[2019-03-26 21:17] hksonngan opened #27166 "[TF 2.0 API Docs] tf.bitcast and tf.bitwise.*"
**System information**
- TensorFlow version: 2.0
- Doc Link:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/bitcast
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/bitwise/bitwise_and
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/bitwise/bitwise_or
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/bitwise/bitwise_xor
https://www.tensorflow.org/versi

[2019-03-26 21:31] smit-hinsu commented on #26635
It is better to first investigate in https://github.com/tensorflow/tensor2tensor/issues/1484 to isolate the issue from Tensor2Tensor specific application logic.

Please reopen this issue when further investigation is done and the issue is reproducible with MCV example as described in https://stackoverflow.com/help/mcve. You should also consider using profiler to identify the bottleneck.

[2019-03-26 21:31] #26635 closed

[2019-03-26 21:43] netskink opened #27168 "tf.dataset guide, TF 2.0 and one shot iterator"
<

**System information**
- TensorFlow version: 2.0
- Doc Link: https://www.tensorflow.org/guide/datasets

Issue
 - The tf.dataset guide mentions using one shot iterator.
 - The doc does not have a section to view by API release.

[2019-03-26 22:07] kgizdov commented on #26155
I can confirm successful build with this workaround for GCC 7.4.1, with and without CUDA 10.1.

[2019-03-26 22:46] jackd opened #27170 "Keras support for RaggedTensors"
# System Information
- TensorFlow version: 1.13.1 (issue present in 2.0 alpha
- Are you willing to contribute it: Yes

# Current State/Behaviour
`tf.RaggedTensor`s do a fantastic job of masking their internal representation from the user, allowing them to be used as regular tensors in most contexts. This does not extend to keras models however. As an example:

[code]

# Workaround
The operations a

[2019-03-26 22:56] DTopping256 commented on #22794
https://github.com/fo40225/tensorflow-windows-wheel

Took me ages but finally sorted this issue on my PC. Was a mixture of not having the correct cuDNN installed and VS redist. Find the correct versions for your Python version, CPU and Graphics card in the link above.

[2019-03-26 22:58] ymodak commented on #27059
Closing this issue since above explanation is correct. Feel free to reopen if facing difficulties any further difficulties. Thanks!

[2019-03-26 22:58] #27059 closed

[2019-03-26 23:05] ymodak commented on #26833
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue.
We encourage other users facing similar problems to post a separate issue by providing all the information asked by the template. Thanks!

[2019-03-26 23:05] #26833 closed

[2019-03-26 23:24] greydanus commented on #2169
I believe that a `max_unpool`/`avg_unpool` function would be quite useful. The argument that we should "just use the gradient op" ignores the fact that this makes our code hacky and opaque. Also, there's no official documentation for this approach.

TensorFlow doesn't ask people to implement deconvolution, even though technically [it can be expressed as a convolution](https://www.tensorflow.org/ap

[2019-03-26 23:37] saxenasaurabh commented on #26808
We need to add special treatment for DT_RESOURCE tensors when building the zeros tensors [here](https://github.com/tensorflow/tensorflow/blob/919b38007ea755a5b5ec87af324c91f55dce6717/tensorflow/python/eager/pywrap_tfe_src.cc#L1764). Maybe we can return a float32 with zeros here? @akshaym could you look into this?

[2019-03-27 00:18] ymodak commented on #27099
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-03-27 00:18] #27099 closed

[2019-03-27 01:05] ymodak commented on #23668
Appreciate your patience. LazyAdam now falls under [tensorflow/addons](https://github.com/tensorflow/addons). The folks of [Addons - Optimizers](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/optimizers/README.md#addons---optimizers) can be a good point of contact to add this feature. Thanks!

[2019-03-27 01:07] MHDBST opened #27171 "Compute F1 score for multilabel classifier"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.13
- Are you willing to contribute it (Yes/No): No

**De

[2019-03-27 01:16] #27008 closed

[2019-03-27 01:24] Lipingking commented on #27149
thanks for your advises

[2019-03-27 01:55] Vccxx opened #27172 "Bazel Build Error: Failed to build libtensorflow_inference.so"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):MacOS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:No,it's during compiling
- TensorFlow installed from (source or binary):
- TensorFlow version:latest
- Python version:2.7
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from source):0.23.2
- G

[2019-03-27 02:10] rok commented on #26994
@dynamicwebpaige I'd like to contribute this.

[2019-03-27 02:17] Zeit42 commented on #19384
@achowdhery and @jdduke sorry for the carelessly worded statement, I'm trying to build the Android Demo from source [using this link](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android#building-the-demo-with-tensorflow-from-source) with the hopes of getting Object Tracking in Tensorflow-Lite to work. I'll go through with this process and open a ticket if I encounter a

[2019-03-27 02:30] infichen opened #27173 "InvalidArgumentError (see above for traceback): You must feed a value for placeholder tensor 'import/Placeholder' with dtype uint8 and shape [1,30,300,3]"
I try to convert a tensorflow model to tf-trt model ,but when running has errors:
Traceback (most recent call last):
  File "./tranTFtoTRT.py", line 27, in <module>
    sess.run(output_node)
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/client/session.py", line 929, in run
    run_metadata_ptr)
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/client/session.py",

[2019-03-27 02:55] freedomtan commented on #26731
I think the code was not tested with newer gcc. If you build it with **gcc** or **clang** for `android-arm64`, e.g.,
[code]
It goes well.

To build it for aarch64 machines running Linux with gcc, either natively or cross-compiling, as suggested in the error message `use -flax-vector-conversions` is one of the possible answers. Other possible solutions include adding explicit type casting to make g

[2019-03-27 03:03] jerrymomo10 commented on #14834
got the same problem

[2019-03-27 03:57] liakopyangsir opened #27176 "TensorflowLite Convert error"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 1.18

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that w

[2019-03-27 04:36] Gagazet commented on #24828
Same problem here, ubuntu 18.04, cuda 10.0 and cudnn 7.5.0

[2019-03-27 05:02] mwappner commented on #26899
I hadn't read it, but it doesn't quite apply, I think. My python instalation uses Anaconda and in this machine I have a single enviorment I'm using. In that enviorment I ran `conda install tensorflow` to install.

The linked installation guide suggests using `pip install --upgrade tensorflow` and a virtualenv. I was told that as long as I can install something using conda I should, since it is bet

[2019-03-27 05:05] mwappner commented on #26899
Just to be sure I did the following in an anaconda prompt:

- I tried `conda update tensorflow`, which did nothing since I have a fresh installation.

- I tried `pip install --upgrade pip`, which did nothing.

- I ran `conda update pip` to actually update it, since my pip is a conda installation.

- I ran `pip install --update tensorflow`, which installed something, but I still get the same proble

[2019-03-27 05:22] azamatkhid commented on #14897
really helpful!!!

[2019-03-27 05:51] Atom-101 commented on #27144
I am having the same issue on RTX 2080 and Tf 2.0,  #27141

[2019-03-27 05:55] guptapriya commented on #26709
The `with distribution.scope():` API with Keras (as in your example above) only works with TensorFlow nightly or with TensorFlow 2.0 alpha currently. It will be available in TF next release (1.14) as well.

[2019-03-27 05:55] #26709 closed

[2019-03-27 06:11] ericyue commented on #26938
@jvishnuvardhan  Can you give me some advice about this? thanks :)

[2019-03-27 06:18] CasiaFan commented on #10155
When using **estimator** for training, argument `warm_start_from` in `tf.estimator.Estimator()` could be used to load pretrained model and it could be `tf.estimtor.WarmStartSettings()` which accepts regex to capture variables to warm-start.

For example, if we want to exclude dense layer for fine tuning: <br>
[code]

[2019-03-27 06:24] Nimishkhurana commented on #27132
It is available here: https://www.tensorflow.org/alpha/guide/migration_guide#using_a_custom_model_fn

[2019-03-27 06:28] SanthoshRajendiran commented on #23747
Could someone provide the command to convert deeplab pb file into a fully quantized tflite, along with some insights on the mean, std_dev_values and min-max ranges.

[2019-03-27 06:41] ajinkya933 commented on #27101
May I know how can I find "input_shapes" of my graph.

[2019-03-27 06:42] shaolinkhoa opened #27180 "[TF 2.0 alpha] Fix "Load images with tf.data" to run on window"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: Tensorflow 2.0 alpha
- Doc Link: Tutorial [Load images with tf.data](https

[2019-03-27 06:43] alanpurple commented on #27132
@Nimishkhurana
Thanks a lot, it seems like estimator is deprecated since that document shows lots of "compat.v1"

[2019-03-27 06:45] shaolinkhoa opened #27181 "[TF 2.0 alpha] Tutorial "Using TFRecords and tf.Example" can't run on GPU"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: Tensorflow 2.0 alpha
- Doc Link: [Using TFRecords and tf.Example](https://

[2019-03-27 06:47] shaolinkhoa opened #27182 "[TF 2.0 alpha] Tutorial "Loading Data" wrong link path"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: Tensorflow 2.0 alpha
- Doc Link:
[Load images with tf.data](https://www.te

[2019-03-27 06:48] Ayush517 commented on #27154
@jvishnuvardhan This isn't a bug/build issue, right?

[2019-03-27 07:03] Ayush517 commented on #27166
I think the pbtxt files present [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/core/api_def/base_api) are responsible for the documentation of these operations.

[2019-03-27 07:22] meyerjo commented on #26608
Do you feel like this whole validation block is not necessary? I will try to create a pull request beginning of April. Till then I am rather occupied.

[2019-03-27 07:35] SystemErrorWang commented on #22409
got similar problem here, the error message is "ValueError: Cannot set tensor: Got tensor of type 2 but expected type 1 for input 0 ", i checked the input dtype by "print(interpreter.get_input_details())",  the output is "[{'name': 'Placeholder', 'index': 0, 'shape': array([  1, 160, 160,   3], dtype=int32), 'dtype': <class 'numpy.float32'>, 'quantization': (0.0, 0)}]",  but i still got this error

[2019-03-27 08:04] PrakrutiChandak commented on #17353
@pkulzc Waiting for reply

[2019-03-27 08:06] EliasHasle commented on #12252
Why do you say that mean absolute error has no gradient? It is piecewise smooth, just like a ReLU layer, and the gradient should be the mean of the gradients of each absolute error (well-defined everywhere except at 0). I was surprised not to find a mean_absolute_error in tf.losses, as right now I thought I could be better off training for that, because I suspect squared error is too strict for my

[2019-03-27 08:14] itsliupeng commented on #17353
I find  my error is that I didn't use --include_masks when building coco tfrecord.

[2019-03-27 08:19] fhdbbk commented on #26725
Even I'm facing the same issue. Do update us as soon as you find a solution.

[2019-03-27 08:21] IamShivamJaiswal commented on #26725
Even I'm facing the same with tensorflow version=1.11 Python=3.6

[2019-03-27 08:45] virgiljoestar opened #27186 "Wrong function referenced in doc"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 1.13
- Doc Link: https://www.tensorflow.org/api_docs/python/tf/nn/dynamic_

[2019-03-27 09:05] kaierlong opened #27187 "tflite InterpreterBuilder error and crash"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution : MacOS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
OPPO A57, 魅族 M6
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.13.1
- Python version: 3.

[2019-03-27 09:24] ericyue commented on #26938
@jhseu @jvishnuvardhan Can you give me some advice about this? thanks :)

[2019-03-27 09:26] 307509256 opened #27189 "bazel error: name 'http_archive' is not defined"
I want to build libtensorflowLite.so for Android
[code]
# 1. modify WORKSPACE:
[code]
# 2. add in tensorflow/contrib/lite/BUILD
[code]
# 3. exec:
[code]

# 4. result:
[code]

# 5. Info:
tensorflow: r1.12
configure: default
macOS Mojave 10.14.3
python:2.7
bazel: 0.24.0

[2019-03-27 09:26] matgad opened #27190 "Losses with Reduction.NONE do not keep the input shape (the result is averaged along the last axis)"
**System information**
- OS Platform and Distribution: **Linux Manjaro**
- TensorFlow installed from: **binary**
- TensorFlow version (use command below): **2.0.0-dev20190326** (nightly build)
- Python version: **3.7.2**

**Describe the current behavior**
Currently, when a loss object is created with reduction=tf.losses.Reduction.NONE, the result is averaged along the last axis. This happens with

[2019-03-27 09:28] himanshurobo commented on #26545
2019-03-27 14:56:19.740750: I tensorflow/lite/toco/import_tensorflow.cc:1335] Converting unsupported operation: VariableV2
2019-03-27 14:56:19.746180: I tensorflow/lite/toco/import_tensorflow.cc:1335] Converting unsupported operation: Assign
2019-03-27 14:56:19.746229: I tensorflow/lite/toco/import_tensorflow.cc:1335] Converting unsupported operation: VariableV2
2019-03-27 14:56:19.746244: I tenso

[2019-03-27 09:36] phambao opened #27191 "AttributeError: 'tensorflow.python.framework.ops.EagerTensor' object has no attribute 'decode'"
i ran on Google Colab and saw error at the start of training model.
----> 8     for (batch, (img_tensor, target)) in enumerate(dataset):
--->545   def __next__(self):  # For Python 3 compatibility
--> 546     return self.next()
--> 575       return self._next_internal()
--> 567             output_shapes=self._flat_output_shapes)
-> 1848       _six.raise_from(_core._status_to_exception(e.code, mess

[2019-03-27 09:39] kmader commented on #27156
The 'binderized' version can be run by launching the binder and starting a terminal
https://mybinder.org/v2/gh/kmader/tflite_micro/master?urlpath=terminals/0
and then changing to the app directory and running `make` to see it fail and `lldb demo` to debug the error

[2019-03-27 09:39] freedomtan commented on #26731
it seem the problem is gone after 152095e319a0b6b79a13e689ea8decee819dbfcd

[2019-03-27 09:39] vigi04 opened #27192 "myWork"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-03-27 09:49] #27192 closed

[2019-03-27 09:57] luminouspoint47 commented on #10033
runfile('C:/Users/MG_14/Desktop/shiba kumar/MainEEGLearn/cnn_lstn_lib_eeg.py', wdir='C:/Users/MG_14/Desktop/shiba kumar/MainEEGLearn')
Traceback (most recent call last):

  File "<ipython-input-1-d0d50d859070>", line 1, in <module>
    runfile('C:/Users/MG_14/Desktop/shiba kumar/MainEEGLearn/cnn_lstn_lib_eeg.py', wdir='C:/Users/MG_14/Desktop/shiba kumar/MainEEGLearn')

  File "C:\ProgramData\Anaco

[2019-03-27 09:58] zaccharieramzi commented on #386
Hi @rryan ,

Unfortunately it's not a direct extension of the FFT afaik (I am still new to the topic). So I think it does require a custom kernel. I totally understand that it could be a hard sell and I will file a github issue requesting the feature (I am totally not familiar with C/C++ so I don't think I could implement it myself).

In the meantime I will use [ODL](https://github.com/odlgroup/od

[2019-03-27 10:04] zaccharieramzi opened #27193 "Non-uniform FFT layer"
**System information**
- TensorFlow version (you are using): 1.13
- Are you willing to contribute it (Yes/No): Yes (but I only know how to code in Python)

**Describe the feature and the current behavior/state.**
Have a layer similar to the fft layer that will implement the non-uniform FFT.

**Will this change the current api? How?** This will allow to have one more option when using the signal mo

[2019-03-27 10:23] meyerjo opened #27195 "[TF2.0alpha] Eagerness/Distribute Strategies performance issues"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 16.04/18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0-dev20190327
- Python version: 3.6
- CUDA/cuDNN version: 10.0
- GPU model and memory: TITAN X 12 GB

**Describe the current behavior**

I have some code, where to the best of my knowledge not everything c

[2019-03-27 10:25] a6802739 commented on #26839
@alextp , Thanks for your reference.
I have tried the slice operation, I found it could support operation like `tensor[p, q, :]`, `tensor[p, :, q]`, `tensor[:, p, q]`, etc
But it could not support fetch multi elements one time, just like in `numpy`, we could done it like this:
[code]
So I will first add this operation, how about that?

[2019-03-27 10:32] SumNeuron commented on #27161
@walidk I started a [colab](https://colab.research.google.com/drive/1xGe3lRiKnwPuhc1FfgdZiayEE8rQQwvM) trying to fill out / finish the pseudo-code for `WALSModel`

[2019-03-27 11:04] wangdejian commented on #24997
problem reproduced in tf version 1.10.0,but no problem with 1.13.0, maybe it is a bug of tf version 1.10.0

[2019-03-27 11:06] wangdejian commented on #21305
We met same issue in TF 1.10 like above described, but no problem in TF 1.13

[2019-03-27 12:02] meyerjo commented on #26980
I guess it is already included in the most recent nightly, isn't it? It seems to be working now.

[2019-03-27 12:10] kgizdov commented on #26155
Also, builds fine with GCC 8.2.1, with and without CUDA 10.1

[2019-03-27 12:14] sal0w commented on #19384
When I use the above repo I am getting the same error

2019-03-27 19:51:02.065 12142-12142/org.tensorflow.lite.examples.detection I/tensorflow: DetectorActivity: Initializing at size 640x480
2019-03-27 19:51:02.072 12142-12142/org.tensorflow.lite.examples.detection E/tensorflow: ObjectTracker: libtensorflow_demo.so not found, tracking unavailable
2019-03-27 19:51:02.073 12142-12142/org.tensorflow.

[2019-03-27 12:20] ashwanidv100 opened #27196 "Failed to load the native TensorFlow runtime and ImportError: No module named '_pywrap_tensorflow_internal'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2019-03-27 12:31] karllessard commented on #8244
@Docjones , did you tried something like this? Note that this will pad your `refNames` not with `\` but with zeros but I'm curious to see if that works.

Warning! I haven't ran the code before myself so it might require some adjustments...

[code]

[2019-03-27 12:40] pjhinton commented on #8508
I was looking at the comments in this issue to determine if this functionality was available in the version of TensorFlow that I am using (r1.12).  I notice that the string constant `FEATURE_IMPORTANCE_NAME` is defined in `tensorflow/contrib/tensor_forest/client/eval_metrics.py`, but the code that uses this constant in `tensorflow/contrib/tensor_forest/client/random_forest.py` is not.  Is this a c

[2019-03-27 12:56] ricardobnjunior commented on #24380
@StephanZmk I have the same problem, how did you solve it ?

[2019-03-27 13:00] tensorflowbutler commented on #26566
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-27 13:04] meyerjo commented on #26991
I think that has went under my radar. As in the other issues discussed it seems to work around the error message. Thanks!

May I leave this open, as TFRecord Files still get spontaneously corrupted during training? As training should be readonly regarding those files, this seems to be a bug.

[2019-03-27 13:08] Randl commented on #24930
@rmlarsen as far as I understand, you are the prime developer of linalg related stuff. Could you mentor me on this one or propose someone who could mentor me?

[2019-03-27 13:08] achandraa commented on #27170
Thank you for your suggestion. We will have a look and revert on the same

[2019-03-27 13:10] StephanZmk commented on #24380
@ricardobnjunior i am not quiet sure anymore. I think using the tf-nightly build did the trick.

[2019-03-27 13:24] mattn commented on #26621
Closed by #26615

[2019-03-27 13:24] #26621 closed

[2019-03-27 13:26] jayrawatrj commented on #20440
I had the same issue and get solved by using

pip install tensorflow==2.0.0a0

its 100% working

[2019-03-27 13:31] jyotirmayghosh commented on #25922
I have the same problem when I am trying to convert frozen_face_grapy.pb file to .tflite file.

But if you try with the code in [document](https://www.tensorflow.org/lite/convert/python_api) with files provided by them, it is converting properly.

Can anyone tell me, what is this input_tensor? And what is the expected value?

[2019-03-27 13:46] rklepetko opened #27197 "pr_curve gives error regardless of label type"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- I'm Trying to use pr_curve with tensorboard, and in one case I get an error telling me by labels need to be of

[2019-03-27 13:54] ttdd11 commented on #22826
@EdwardVincentMa How did you fix this link error?

[2019-03-27 14:00] OsamaNaeem1995 opened #27198 "Error importing tensorflow, tensorflow library was compiled to use AVX instructions, but these aren;t in your machine"
**System information**
-  Linux Ubuntu 16.04
-
- TensorFlow installed from binary (pip install)
- TensorFlow version:
- Python version: 3.5
- Installed using virtualenv? pip? conda?: pip and virtualenv
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version:
- GPU model and memory:

**Problem described**

i was following the tutorial for

[2019-03-27 14:15] gavinlive commented on #23590
Oh wow! Is that a successful implementation? :)

[2019-03-27 14:16] Zeit42 opened #27199 "Building Tensorflow Examples via Bazel on macOS doesn't work. Building for Object Tracking Support."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: macOS 10.13.6
- Mobile device: Not applicable
- TensorFlo

[2019-03-27 14:17] Zeit42 commented on #19384
@achowdhery and @jdduke, I opened a [new ticket here](https://github.com/tensorflow/tensorflow/issues/27199)

[2019-03-27 14:21] SumNeuron commented on #26928
@walidk  @agarwal-ashish the linked test code is for the `tf.estimator` wrapper of `WALSModel`, `WALSMatrixFactorization` and does not provide sufficient comments / guidance as to how to make and run a sharded `WALSModel`. In addition, the documentation for `WALSModel` is far from sufficient. The pseudo-code leads the reader down a rabbit hole of documentation back to the `.proto` files, and that

[2019-03-27 14:33] freedomtan opened #27200 "[tflite] multithreaded DepthwiseConv returns wrong results on aarch64 platform"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): nope
- OS Plat

[2019-03-27 14:34] sandacn commented on #24496
same issue, with gpu_options.allow_growth = True the issue fixed.

[2019-03-27 14:52] freedomtan commented on #27031
@anilsathyan7 it seems you are using NNAPI cpu fallback, that is, your device doesn't have real NNAPI  accelerators.

[2019-03-27 14:53] miguelangelcv commented on #27082
I have the same problema as @ajayshilwant

**System information**

- OS Platform and Distribution: Windows 10 Pro
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 1.13.1 GPU
- Python version: 3.6.8
- Installed using virtualenv? pip? conda?: pip
- CUDA/cuDNN version: CUDA 10.1 and cudnn-10.1-windows10-x64-v7.5.0.56
- GPU model and memory: GeForce GTX 1050 / 2 GB

**Descr

[2019-03-27 14:56] cottrell commented on #27112
Possibly related: https://github.com/keras-team/keras/issues/12473

[2019-03-27 14:58] Docjones commented on #8244
@karllessard - thanks for your help! We adapted your example to our (much bigger code) and unfortunately, we receive the following exception upon calling `model.session.runner.feed(...)`;

`Caused by: java.lang.IllegalArgumentException: Malformed TF_STRING tensor; too short to hold number of elements`

Most likely, the created ByteBuffer is different (not only in padding with `0` instead of `/`) f

[2019-03-27 15:25] cottrell commented on #19303
Possibly related: https://github.com/keras-team/keras/issues/12473

[2019-03-27 15:32] gargn commented on #26545
Can you try rerun the tutorial from the "Convert .weights to a frozen graph" step? This might have been fixed in by https://github.com/tensorflow/tensorflow/commit/0f486fc67070ba888204741c404a55a5f1a41fbc.

[2019-03-27 15:34] sravan938 commented on #27127
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows - Anaconda- Jupyter No

[2019-03-27 15:34] alextp commented on #26608
Yes, I feel like it's wrong more often than not now.

On Wed, Mar 27, 2019 at 12:25 AM Johannes Meyer <notifications@github.com>
wrote:

--
 - Alex

[2019-03-27 15:37] alextp commented on #26839
That sounds good. Fetching multiple elements like that sounds like
something which we can support with tf.gather_nd. So I'd try implementing
this by adding code to _slice_helper to detect that the slice expression
looks like this and then forward it to gather_nd in that case.

On Wed, Mar 27, 2019 at 3:30 AM songhao <notifications@github.com> wrote:

--
 - Alex

[2019-03-27 15:39] sravan938 commented on #27127
Please help me to solve this

[2019-03-27 15:40] antonino-tocco commented on #26545
Hi, thank you to all for the help. I can retry on this weekend. I will update you

[2019-03-27 15:42] jgehw opened #27201 "Error when restoring model using an LSTM layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 1803
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.13

[2019-03-27 15:42] Xiadalei opened #27202 "Tflite JNI wraps seems failing to release int array."
Hi, it seems that current impl of tflite jni overlooked ref release for array, And the current tflite really could make JNI reference table overflow some phones with Android 4.4.4 (API 19).

How:
Just invoke `resizeInput` every time you run interpreter, even put the same int array to it. You can see the reference table is booming.

version:
I've tried 1.13.1 and 0.0.0-nightly, it's the same.

the

[2019-03-27 15:46] jsimsa commented on #26991
@meyerjo thank you for your response. Unless you can provide us with an example that can be used to reproduce this issue, there is little value in keeping this issue open (as no further action will be taken).

[2019-03-27 15:59] karllessard commented on #8244
Mmh, just an idea like this, maybe you should `ByteBuffer.rewind()` both buffers before feeding them to the session?

[2019-03-27 16:10] bkazi commented on #25799
Tried it on a fresh Ubuntu 18.04 VM
Followed the [GPU support guide](https://www.tensorflow.org/install/gpu) to install drivers and libs
Driver Version: 418.40.04    CUDA Version: 10.1
Python 3.6.7
TensorFlow 1.13.1
and it works! 👍

[2019-03-27 16:16] alextp commented on #2169
@greydanus @jkyl I'd love to approve a PR adding this max_unpool implementation to tf and a unit test.

[2019-03-27 16:33] gargn commented on #26672
The work around in https://github.com/tensorflow/tensorflow/issues/26672#issuecomment-472519970 works in the latest nightly.

[2019-03-27 16:33] #26672 closed

[2019-03-27 16:37] gargn commented on #26708
I tested on today's nightly `2.0.0.dev20190327` and I was able to successfully run the script in https://github.com/tensorflow/tensorflow/issues/26708#issuecomment-474152784.

[2019-03-27 16:42] zadeck opened #27203 "install page wrong for version 2.0 alpha"
on page https://www.tensorflow.org/install/pip

change "tensorflow==2.0.0-alpha0" to "tensorflow==2.0.0-a0"    (two instances)
change "tensorflow-gpu==2.0.0-alpha0" to "tensorflow-gpu==2.0.0-a0"
change "tensorflow==2.0.0-alpha0-gpu" to "tensorflow-gpu==2.0.0-a0"

on page https://www.tensorflow.org/install/gpu

change "tensorflow==2.0.0-alpha0" to "tensorflow==2.0.0-a0"

i had to make these changes

[2019-03-27 16:43] dubey commented on #26725
Thanks for filing the issue.  [`589fb0dfdb`](https://github.com/tensorflow/tensorflow/commit/589fb0dfdb694d6318784e1523672fc2833b736d) fixed a similar issue in `ScopedAllocator`.  Can you try running with a nightly build and let us know if you still see this bug?  If yes, please also post instructions on how to reproduce.

[2019-03-27 16:44] gargn commented on #26496
This model requires the `custom_object` parameter when loading the model. This is only available through the Python API. The approach for using custom objects in 1.13 without Eager enabled is similar to the following (where `VladPooling` needs to be imported by your code):

[code]

Support for `custom_objects` will be added to `from_keras_model_file` shortly.

[2019-03-27 16:50] gargn commented on #26206
Can you attach the SavedModel you are converting or a minimal model that reproduces the same errors as you listed above?

[2019-03-27 16:52] krishnashankar commented on #14442
FWIW I found that both 1 and 2 were necessary to prevent hang.

[2019-03-27 16:52] gargn commented on #25689
Can you try using the latest TF version? If that doesn't work, can you provide your model or a minimal model that produces the same error?

[2019-03-27 17:01] ericpts opened #27204 "[TF2.0] How to build with Api v.2"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian Buster
- TensorFlow version: v2.0.0-alpha0
- Python version: 3.7
- Bazel version (if compiling from source): 0.23.0
- GCC/Compiler version (if compiling from source): 4.8.5
- CUDA/cuDNN version: 10 / 7

**Describe the problem**

I have tried compiling TF 2.0 from source, because my platform has a libc which is

[2019-03-27 17:09] jvishnuvardhan commented on #27154
@singh728om Please find instructions [here](https://help.github.com/en/articles/cloning-a-repository) to clone a repo on Github.

In future, please post this kind od support questions on [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-03-27 17:09] #27154 closed

[2019-03-27 17:11] jvishnuvardhan commented on #26566
Closing the issue as it was resolved. thanks!

[2019-03-27 17:11] #26566 closed

[2019-03-27 17:14] #25170 closed

[2019-03-27 17:16] alextp commented on #27143
Ah!

This is the subtlest and most common trap when it comes to profiling tensorflow: if you use a tf.constant to represent a graph's inputs, by default TF will constant fold the entire graph out of existence.

So if you replace x = tf.constant with x = tf.placeholder and use a feed_dict you'll get something closer to the real performance numbers, and session.run is no faster than tf.function.

[2019-03-27 17:16] #27143 closed

[2019-03-27 17:22] gargn commented on #24892
Strings aren't fully supported by TensorFlow Lite. I recommend testing your original model with the `tf-nightly` since it's some thing we are actively working on. If your original model doesn't work with the latest nightly, can you provide your model (or a minimal model that reproduces the error) along with the command you used to try and convert that model.

Reassigning to @haozha111 who is worki

[2019-03-27 17:26] XYudong commented on #23715
add `export LD_LIBRARY_PATH=/usr/local/cuda/lib64:${LD_LIBRARY_PATH:+${LD_LIBRARY_PATH}}` to the ~/.bashrc file, and then `source ~/.bashrc`. This solves my problem!

tf:1.12, CUDA 9.0, 384, cuDNN.7.1.4

[2019-03-27 17:26] jpangburn commented on #25800
The switches on that last bazel command that allow bitcode to work on the framework compilation are horrible for performance from my initial tests- you may want to investigate this a bit before pushing those CocoaPods.  I converted the SpeechCommands sample that I linked above to use this Swift API and tested the latency to run the `interpreter.invoke()` on the model from that sample with this cod

[2019-03-27 17:27] singh728om commented on #27154
Thankss..for This..but i know how to clone repo...i tell you just ..one
time i visited in Tensorflow lite  repo for auto reply system bit .in .that
repo no source code ..showing after cloning n also there were not available
for clone i was visited through path n raw file ..but it..didn't
work..that's why i discuss..with you sir...sorry..for...posting in git...

On Wed, 27 Mar 2019, 10:45 pm Vishnu

[2019-03-27 17:28] gargn commented on #24446
@LeManhTruong Please file a separate GitHub issue with all of the relevant information.

@jennings1716 It seems your model has ops that are not available as TFLite built-in ops. Can you try using our [experimental feature](https://www.tensorflow.org/lite/guide/ops_select) to try converting with a broader set of ops. There is some additional information about handling unsupported ops in our [FAQ](h

[2019-03-27 17:28] ali2210 commented on #27204
Steps
     Bazel -Ok
     tensorflow Ok
     cd ${GOPATH}/src/github.com/tensorflow/tensorflow
     ./configure
      python ok
      python-packages ok
      tensorflow xtla  Yes
      tensorflow cuda no
      tensorflow roc support Yes
      tensorflow mip support no
      fresh clang yes
      bazel build -c opt ok
android support no
sudo cp ${GOPATH}/src/github.com/tensorflow/tensorflow/bazel-

[2019-03-27 17:38] jvishnuvardhan commented on #27154
@singh728om Try it again and let me know which links are not working, and please also post with more details so that we can resolve it faster. Thanks!

[2019-03-27 17:38] gargn commented on #26203
`freeze_graph.freeze_graph` calls `tf.graph_util.convert_variables_to_constants` it is likely a problem with how you are loading your checkpoints with the Saver. I would suggest looking at how `freeze_graph.freeze_graph` restores the checkpoint files in order to see what is going wrong.

Loading `pbtxt` + checkpoints file can look something more like the following:
[code]

If this doesn't work, ca

[2019-03-27 17:39] ericpts commented on #27204
I found out the solution was adding a `--define=tf_api_version=2` flag to the bazel invocation:

[code]

[2019-03-27 17:40] gzmkl commented on #24650
The problem can not be reproduced with a build from the latest "master" branch

[2019-03-27 17:46] singh728om commented on #27154
sure...i will..thankss..lot..for..support..me..to ask doubts...

On Wed, 27 Mar 2019, 11:13 pm Vishnuvardhan Janapati, <
notifications@github.com> wrote:

[2019-03-27 17:48] temrich commented on #25800
Are you running in Release or Debug mode when targeting a real iOS device? Also, the command to generate the framework is using `-c fastbuild` rather than `-c opt`, which may affect performance as well. We need to wait for [Bazel 0.24](https://github.com/bazelbuild/bazel/commit/f8e38d1a4b4d8cc6b4855c100971706ba77b7f30) to be able to use `-c opt` and bitcode.

[2019-03-27 17:51] jeffpollock9 commented on #27143
@alextp that's amazing - thank you!

[2019-03-27 17:52] meyerjo commented on #26991
Ok. Then I will close the issue

[2019-03-27 17:52] #26991 closed

[2019-03-27 17:56] caissalover commented on #26244
I'm too facing this. I use tensorflow low level apis. Inside my while loop, the message of '_AnonymousVar60 variable was uninitialized' once the counter goes to [1]
@tf.function
def func():
     with tf.device('/device:GPU:0'):
           for i in tf.range(10):
                  {runs smoothly for i=0}

I use cuda 10.0 and built tensorflow 2.0.0 from source around 20th March.
Ubuntu 18.04, NVIDIA

[2019-03-27 18:01] md-k-sarker opened #27207 "TF2.0 distribution strategy hanging on keras"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS Linux release 7.5.1804
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): source
 from [tf2.0 branch](https://gith

[2019-03-27 18:09] jpangburn commented on #25800
I was running in Debug mode for both.  I edited my scheme to use Release mode for running, cleaned and rebuilt, and the performance is about the same.  I'll open a new issue, thanks!

[2019-03-27 18:40] jpangburn opened #27209 "TensorFlowLiteSwift performance problem with bitcode enabled on iOS"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, I converted the [SpeechCommands example](https://github.com/tensorflow/examples/tree/master/lite/examples/speech_commands/ios/SpeechCommands) to use the TensorFlowLiteSwift API instead of the C wrapper in the original example.
- OS Platform and Distribution (e.g., Linux Ubu

[2019-03-27 19:04] musikisomorphie commented on #23590
@gavinlive, I am afraid i need more time to implement it, maybe one or two weeks. Because I spent a lot of time to figure out how to effectively debug the cuda code, still every time it takes me half an hour to compile the code and run some tests, which slows down my progress.

[2019-03-27 19:05] wdirons commented on #27204
Add '--config=v2' to the bazel command line should be enough,

[2019-03-27 19:47] chichivica commented on #21852
How could I fix that issue on **r1.12 or r1.13** branches?
I placed
[code]
in both CROSSTOOL.tpl and CROSSTOOL_hipcc.tpl and neither didn't work

[2019-03-27 19:53] shashvatshahi1998 commented on #27166
Ya link is incorrect in the documentation, but whats the correct location where i can add some example in tf.bitcast

[2019-03-27 20:00] ppwwyyxx commented on #24650
Thanks! I just verified that the problem does not exist in latest master any more.

[2019-03-27 20:00] #24650 closed

[2019-03-27 20:16] macfly1202 commented on #25866
[SOLVED] Just if someone have this issue, I use ubuntu 16.04 and reinstall driver from linux proprietary drivers reponow  according to a tutorial with CUDA 10.0 and Cudnn 7.3.1 (https://www.pytorials.com/how-to-install-tensorflow-gpu-with-cuda-10-0-for-python-on-ubuntu/). I didn't have issue anymore with this install.
So there is something that cause issue with drivers  418.43 and cudnn 7.4.1. I h

[2019-03-27 20:23] gunan commented on #27067
For moving TF builds to gcc5+, we are  aiming end of april, the latest.
For C API, I would defer to @sjamesr

[2019-03-27 20:25] usptact commented on #18819
I have a similar issue but when using Tensorflow C library. Specifically, I don't know how to initialize the hash table the error message says.

[2019-03-27 20:30] jhseu commented on #26938
One option would be to subclass EmbeddingColumn and override the _get_dense_tensor_internal_helper mmethod.

[2019-03-27 20:30] alextp commented on #26989
Are you interested in sending us a pull request to add this code, with unit tests, to tf.signal?

[2019-03-27 20:30] alsrgv commented on #27067
Got it, TF 1.14.0 still planned on GCC 4.8 then?

[2019-03-27 20:45] gunan commented on #27067
90% yes. If by some miracle, we manage to pull it off and migrate builds would it be difficult to migrate your workflows?

BTW, the toolchains we are testing right now are centos6 + devtoolset7, to achieve manylinux 2010 compatibility.

[2019-03-27 20:46] asimshankar commented on #16291
@azaks2 @smit-hinsu - mind taking a look?
(I'm no longer actively working on TensorFlow)

[2019-03-27 21:01] #26808 closed

[2019-03-27 21:06] gzmkl commented on #24650
Hi Yuxin, thank you for the update.  Guozhong

[2019-03-27 21:12] er91 commented on #26980
Yeah nightly is less than one day old.

Good to know it works for you :-)

Closing this issue.

[2019-03-27 21:12] #26980 closed

[2019-03-27 21:14] ymodak commented on #26689
What version of python are you using? Note that TF 1.12 is not compatible with 3.7 you may have to switch to Python 3.6 or lower.
Also TF 1.13 supports Python 3.7

[2019-03-27 21:15] evancasey opened #27214 "[TF2.0] Syntax highlighting in PyCharm"
Has anyone here had any success using tensorflow==2.0.0-alpha in pycharm? The new module organization is making it hard for PyCharm to infer namespaces correctly.

For example, if I import as `tf.python.keras` syntax highlighting is fine and run time fails but if I import as `tf.keras` syntax highlight fails and run time works.

[2019-03-27 21:18] alsrgv commented on #27067
I expect it to be easy, could you share a WIP wheel built with centos6 + devtoolset7 file for me to try out early?

[2019-03-27 21:20] ttdd11 commented on #16291
@smit-hinsu with some workarounds i think this actually does work. Not with monolithic build though.

[2019-03-27 21:25] ymodak commented on #26634
@peyifyp Were able to install TF? Any updates yet.

[2019-03-27 21:27] ymodak commented on #26314
Closing this issue for now. Please reopen if still facing problems with the latest version of TF. Thanks!

[2019-03-27 21:27] #26314 closed

[2019-03-27 21:29] ymodak commented on #27082
@miguelangelcv In your case you need to lower your cuda version to 10.0 (currently you are using 10.1) Find cuda 10.0 toolkit version [here](https://developer.nvidia.com/cuda-toolkit-archive). Thanks!

[2019-03-27 21:32] ymodak commented on #26042
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-27 21:32] #26042 closed

[2019-03-27 21:34] towlerj opened #27215 "Commit to setup.py missing an import"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2019-03-27 21:56] skye commented on #26371
Hi, sorry for the delay. FYI I switched teams so am no longer actively working on TensorFlow, but I'll continue helping you here until I can find a replacement point person.

I'm a little confused -- in your example, are you trying to update x and y 10 times? And just to clarify, x and y are tf.Variables right? Not just regular tensors. In that case the assigns should be in the while loop body:
[c

[2019-03-27 22:03] miguelangelcv commented on #27082
@ymodak thanks for your reply. I downgrade cuda to 10.0, but the problem persists (same traceback) :(

[2019-03-27 22:12] kzh22 opened #27216 "raspberry pi 3B+ BERT"
how to use BERT on tensorflow for raspberry pi?

[2019-03-27 22:29] ocampesato commented on #13856
@morvan-s thanks for your suggestion: I renamed two estimator-related directories and now my code works!

[2019-03-27 22:40] snknitin opened #27217 "[TF 2.0 alpha] Keras Callbacks"
**System information**
- TensorFlow version: 2.0.0-alpha0
- Doc Link:

**When creating a callback , if we need an accuracy threshold for training , previous TF versions have logs.get('acc') but in this version we need to use logs.get('accuracy') for it to work. There wasn't any documentation regarding this change**

[2019-03-27 22:51] marwan116 commented on #27086
@alextp  - how to combine @tf.function with feature_columns ?

[2019-03-27 22:55] MostafaGazar commented on #27180
`Pathlib.Path` should create either a `WindowsPath` or a `PosixPath` based on your OS (takes care of slashes and backslashes under the hood).

Can you share some information about your setup, like what python version you are running etc...

[2019-03-27 22:56] alextp commented on #27086
@rohan100jain I thought you had already fixed this issue?

[2019-03-27 23:02] marwan116 commented on #27086
Thank you for responding!
Btw interesting enough I just added a counter - and the model managed to run for one epoch before crashing ...

[2019-03-27 23:04] ymodak commented on #27203
```pip install tensorflow-gpu==2.0.0-alpha0``` and
```pip install tensorflow==2.0.0-alpha0``` work as expected.
I was able to download the wheel and install it successfully.

[2019-03-27 23:05] aosman96 commented on #23698
@AKI-github
can you Provide the exact sequence of commands / steps that you executed before running into the problem.
and i this this because you to let vocab_size = len(tokenizer.word_index)+1

[2019-03-27 23:07] jvishnuvardhan commented on #27081
Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Thanks!

[2019-03-27 23:12] marwan116 commented on #27086
`from __future__ import absolute_import, division, print_function

import numpy as np
import pandas as pd

!pip install sklearn
!pip install tensorflow==2.0.0-alpha0
import tensorflow as tf

from tensorflow import feature_column
from tensorflow.keras import layers
from tensorflow.keras.models import Model
from sklearn.model_selection import train_test_split

URL = 'https://storage.googleapis.com/a

[2019-03-27 23:15] zadeck commented on #27203
you are right, they are both there.  I had tried "tensorflow==2.0.0-alpha0-gpu" and when that did not work just went looking around and came across the a0 aliases.

I do believe that that "tensorflow==2.0.0-alpha0-gpu" reference is actually wrong, but the others are correct.

[2019-03-27 23:18] MostafaGazar commented on #27214
Works fine, have you checked your PyCharm Python Interpreter settings.

https://youtrack.jetbrains.com/issues/PY is probably a better place to report this.

[2019-03-27 23:27] jvishnuvardhan commented on #27045
@chwang85 Could try the solution provided [here](https://github.com/tensorflow/tensorflow/issues/8340#issuecomment-332212742). It is not showing any warning when I used it. Please let us know how it progresses. Thanks!

[2019-03-27 23:47] ctmckee commented on #26273
I also get this error when trying to use tensorflowjs_converter

[2019-03-27 23:48] ctmckee commented on #25636
The "ModuleNotFoundError: No module name 'numpy.core._multiarray_umath' occurs when trying to use tensorflowjs_converter

[2019-03-27 23:55] greydanus commented on #2169
I'm working on a PR + unit test. More to come.

[2019-03-28 00:04] jvishnuvardhan commented on #27084
Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. It would be great if you can provide a small code to reproduce the error. Thanks!

[2019-03-28 00:06] lamberta commented on #26449
Hi @eivind88, I've filed an internal issue.

Can you load the site with the developer console open and let us know if there are any errors in the console? Thank you

[2019-03-28 00:19] angersson commented on #26553
Thanks for the ping, I missed this. I'm testing the builds now, but it'll take a while to get results.

[2019-03-28 00:22] adammoody commented on #15142
For those who cannot modify ld.so.conf directly, I was able to work around this problem by modifying the CROSSTOOL.tpl file.  I added -L and -Wl,-rpath flags to point to my cuDNN install path in the link steps:

in the "local_linux" toolchain section of tensorflow-1.13.1/third_party/gpus/crosstool/CROSSTOOL.tpl:
[code]

For good measure, I also added -L and -Wl,-rpath flags to tensorflow-1.13.1/th

[2019-03-28 00:27] ymodak commented on #27203
Yes you are right about the ```tensorflow==2.0.0-alpha0-gpu``` we have to correct it. Thanks!

[2019-03-28 00:34] jsimsa commented on #27119
This works as intended. If the input to `window`, is a dataset of nested elements, then the output of window will be a dataset of nested datasets of (flat) elements.

[code]

produces

[code]

[2019-03-28 00:34] #27119 closed

[2019-03-28 00:54] towlerj commented on #27215
Just to confirm - with the import, everything appears to work fine.

[2019-03-28 00:56] towlerj commented on #27215
Looks like commit fea98099e68bcdcd567afbabf2dabc8cf3ad4987 fixes the issue.

[2019-03-28 00:56] shaolinkhoa commented on #27180
Sure. I'm using Anaconda, python 3.6.8 on win10. I run the code on Jupyter notebook 5.7.4.
Pathlib takes care of the path but those picture's paths in "LICENSE.txt" are using the backslash.
Ex:
[code]
The dict `attributions `has the key `daisy/7568630428_8cf0fc16ff_n.jpg`
So when we use  `str_return = "Image (CC BY 2.0) " + ' - '.join(attributions[str(image_rel)].split(' - ')[:-1])` to extract the

[2019-03-28 00:56] #27215 closed

[2019-03-28 01:05] chwang85 commented on #27045
[code]

[2019-03-28 01:10] OsamaNaeem1995 commented on #26689
Ok thanks. I'll check

On Thu, Mar 28, 2019, 2:18 AM ymodak <notifications@github.com> wrote:

[2019-03-28 01:14] alimaan2935 commented on #26835
same problem here.

[2019-03-28 01:22] hksonngan commented on #27166
you can find *.pbtxt here tensorflow/tensorflow/core/api_def/base_api/
api_def_Bitcast.pbtxt
api_def_BitwiseAnd.pbtxt
api_def_BitwiseOr.pbtxt
api_def_BitwiseXor.pbtxt

@dynamicwebpaige ping.

[2019-03-28 02:14] shashvatshahi1998 commented on #27166
Ok thanks

[2019-03-28 02:16] Vccxx commented on #27172
Could you please upload compiled .jar and .so file so that I can use it directly?

[2019-03-28 02:29] jackd opened #27222 "ragged batch_gather fails for ragged indices, non-ragged params"
# System information
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes (see below)
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow installed from: pip
- TensorFlow version: ('v1.13.1-0-g6612da8951', '1.13.1')
- Python version: 2.7.12
- CUDA/cuDNN version: 10.0/7
- GPU model and memory: quadro

# Current behaviour
Using `tf.batch_gather(

[2019-03-28 02:31] Gurpreetsingh9465 commented on #26989
yes sir #27075

[2019-03-28 02:42] ali2210 commented on #27204
Configuration had finished successfully, but Libtensorflow.so can't find.
That's why build failed. How to do that? Please help me
This Message send through secure channel called BBM

On Thu, Mar 28, 2019 at 12:10 AM William D. Irons <notifications@github.com>
wrote:

[2019-03-28 02:49] likhilkt commented on #18894
@aselle , @myth01 solution working for me. commented applyFilter();

[2019-03-28 03:15] mattn opened #27223 "No way to use string type with Lite C APIs."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows10, Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version: a26413ef0a179dd93b5228b031de83dce97a8684
- Python version: 3.7 but I'm writing TfLite with C
- Installed using virtualenv? pip?

[2019-03-28 03:15] zjd1988 commented on #23600
Hi @andrehentz
when will you fix this?

[2019-03-28 03:23] #24446 closed

[2019-03-28 03:23] jtang10 opened #27225 "Tensorflow Installation for C does not work for Ubuntu 18.04 CUDA 10"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow inst

[2019-03-28 03:25] zjd1988 commented on #20052
Hi @suharshs

when will you fix this problem?

thanks

[2019-03-28 03:39] LucasSloan commented on #27079
Same problem here with TF 1.13.1, Windows 10, Python 3.6 CUDA 10.0.

[2019-03-28 03:53] veritas9872 commented on #27138
On second thoughts, I don't think that this is necessary for MS-SSIM as much as it is for SSIM.
Closing issue.

[2019-03-28 03:53] #27138 closed

[2019-03-28 04:00] veritas9872 commented on #26929
I closed the issue on MS-SSIM because I saw that everything had already been done.
@Gurpreetsingh9465 Thank you for your help on this issue!

[2019-03-28 04:01] reorder-cv commented on #26833
I have tried this but it still does not work properly.

[2019-03-28 04:01] reorder-cv commented on #26833
I've not found a solution to this yet.

[2019-03-28 04:01] veritas9872 commented on #27138
Also, I found that everything was already going on without a separate issue.

[2019-03-28 04:02] reorder-cv commented on #26833
How did you get the .h5 file? You need to change the data format while converting from yolo weights to other format

[2019-03-28 04:02] reorder-cv commented on #26833
I am not able to get it to work on TF 1.10.0

[2019-03-28 04:07] ericyue commented on #26938
@jhseu  Yes, I think about this before, by modifying the source code and build with bazel a new python lib.

Is this the best practice right now ? : )

[2019-03-28 04:20] patrick-ucr commented on #18199
I am working on TFLite using Mobile GPU. Just a followup question, "does TFLite support mobile GPU for detector task (instead of classifier in the demo)?" Also, "does TFLite's mobile GPU only works with floating-point models not quantized ones?" (I found this from code comments)

[2019-03-28 05:34] joseph-d-p opened #27229 "Convert Unsupported Operations"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS High Sierra 10.13.6
- TensorFlow installed from (source or binary): via pip
- TensorFlow version (or github SHA if from source): tensorflow==1.13.1

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

[model.zip](https://github.com/tenso

[2019-03-28 05:42] Imtinan1996 commented on #26526
I tested the new while loop implementation in 1.13 with TF_ENABLE_CONTROL_FLOW_V2 set as 1, and it seems to work, thanks alot for your help

[2019-03-28 06:40] yangjingyi opened #27231 "tf1.13 can be installed with cuda8.0, cudnn5.1 but tf1.6 cannot"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-03-28 06:42] yangjingyi commented on #27231
Ubuntu 16.04
Cuda 8.0
Cudnn 5.1
tensorflow pip3 install tensorflow install tf1.13 sucessfully
but I cannot install tf1.4 with pip install tensorflow-gpu==1.6.0 (https://pypi.org/project/tensorflow-gpu/1.6.0/)

[2019-03-28 06:51] liuheng92 commented on #26203
hi, I can't reproduce this issue now. But I get different output results between from ckpt and from pb, though they have same values

[2019-03-28 06:57] liuheng92 commented on #26203
hi, @gargn , I couldn't reproduce this issue. Though ckpt values are as same as pb's, but the inference results are difference. If there is a possible you known why this happens.

[2019-03-28 07:07] wenhway opened #27234 "It doesn't workout~"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-03-28 07:35] anilsathyan7 commented on #26474
The following seems to be the major differences between the official model and our replicated model:-
Deptwiseconv2d dilation factors, its corresponding weight dimensions and the input bias id (i.e no batc2spaceND_bias):-

![compare](https://user-images.githubusercontent.com/1130185/55138564-c9bc2280-5159-11e9-9d3a-2c21571caf05.png)

How can we fix it? Should we use some different training setting

[2019-03-28 07:45] EliasHasle commented on #27119
Thank you for answer, and for providing what appears to be a way to solve the problem. I suppose that for a dataset with many columns the expression would be something like:

    data.flat_map(lambda *x: tf.data.Dataset.zip((col.batch(batch_size) for col in x)))

which I will test soon. :-)

What I don't get is that x cannot just be batched directly. x is a tuple, but was supposed to be a dataset.

[2019-03-28 07:54] OgnjenTanovic commented on #26844
Can someone explain me. If I need to use  tf.keras.layers instead of tf.layers to build the models, and tf.keras.model.compile to build graph, and tf.keras.model.fit to train instead tf.graph and tf.Session.
Then why I need Tensorflow at all? Maybe I should simply use Keras?

@mihaimaruseac @galeone @mandroid6 @ry

[2019-03-28 08:33] glaucopater opened #27237 "Tutorial Setup Code Example error"
**System information**
- TensorFlow version: latest
- Doc Link: https://www.tensorflow.org/js/tutorials/setup

https://www.tensorflow.org/js/tutorials/setup
**Describe the documentation issue**

[code]

[2019-03-28 08:41] wd456 commented on #20690
Hi everyone can you enlighten me I barely get Tensorflow running every time he returns these errors

Traceback (most recent call last):
  File "C:\Users\WD\AppData\Local\Programs\Python\Python37\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\WD\AppData\Local\Programs\Python\Python37\lib

[2019-03-28 08:42] a6802739 commented on #26839
@alextp, Thanks. I have come up with the PR #27238, please take a loot at that.

And would us have any plan to support this kind of operation `tensor[p, q, j] = xxx`?

[2019-03-28 09:06] mandroid6 commented on #26844
Keras is a high level API for TensorFlow, which will be able to solve most
of the model building and training needs. Still it isn't an exhaustive API
which has all basic ops available in TensorFlow.

Most importantly Keras uses TensorFlow for building the acyclic graphs or
now the eager execution context.

All tf.keras.layers or tf.keras.model uses TensorFlow in the backend. You
can very well stil

[2019-03-28 09:13] AxelWolf commented on #27079
This setup works for me (Ubuntu 16.04):

Python 2.7.12
Cuda 10.0 (Driver 418.56)
cuDNN 7.4.2
tensorflow-gpu 13.0.0rc2

object_detection/builders/model_builder_test.py passes (with a warning about contrib being removed in TF 2.0), quick start tutorial also works.

[2019-03-28 09:29] lcycoding commented on #27207
According to the provided document.
`tf.distribute.MirroredStrategy support synchronous distributed training on multiple GPUs on one machine. `

So running dist strat on cpu does not make sense...

[2019-03-28 09:47] rongsuema commented on #8244
Hi all, any update on Docjones's problem? We are also working on this issue as we want to use the same idea, i.e. FloatBuffer API, to improve the performance of `Tensor<String>... Tensor.create(...)`. However, I just look into [another similar post] (https://github.com/tensorflow/tensorflow/issues/24331) , and find that @asimshankar suggest to use the API without buffer, which means we can't make

[2019-03-28 09:52] r4nt commented on #27067
I have a centos7+devtoolset7 image, and am working on a centos6 one - centos6 is unfortunately hard to target from debian, so I have to jump through some hoops.

[2019-03-28 10:04] blup-Blupon commented on #24828
Had the same issue with:

- RTX 2080
- NVIDIA 418.56
- CUDA 10.0
- cuDNN 7.5
- tensorflow-gpu 1.13.1 and tf-nightly-gpu 1.14.1.dev

Copy-paste your lines solved it for both tensorflow versions cited. Hope it's going to be solved in the coming tensorflow versions though. Many thanks for your help !

[2019-03-28 10:23] indrasweb commented on #20619
So I revisited this just now, looks like it is specifically a problem when training using a generator. model.fit() does not have this bug, where model.fit_generator() does.

As a temporary workaround you can just modify the source of the ReduceLROnPlateau source:

[code]

[code]

Here is a colab notebook for further clarification: https://colab.research.google.com/drive/13L41k6sOvsm-UIm67cpC_kvCDs

[2019-03-28 10:33] Manuscrit commented on #21196
This may help, from https://arxiv.org/abs/1903.08469v1 :

"However, MobileNet V2 uses **depthwise separable convolutions which are not directly supported in GPU firmware (the cuDNN library)**. Therefore, MobileNet V2 tends to be slower than ResNet18 in most experimental setups. Note that the same issue disqualifies usage of the DenseNet architecture [12], since it requires efficient convolution ov

[2019-03-28 10:42] tomhennigan commented on #27046
Hi all, the `tf.keras` team are working on making Module the base class for Layer. I think @qlzh727 is working on it this quarter.

As a temporary hack you can make a reference to the layer variables inside the module:

[code]

[2019-03-28 10:50] gerhardgossen opened #27240 "TFLite GPU delegate returns only zeros for part of the outputs"
I'm testing the GPU delegate with a pose detection model (https://github.com/ildoonet/tf-pose-estimation modified to run heatmap maxpooling as part of the graph). This model works with no problems when using the CPU. When I enable the GPU delegate, the inference time improves by about 4x, but one of the outputs contains only zeros, whereas the other outputs seem to contain reasonable values (`heat

[2019-03-28 10:52] zakizhou commented on #27046
@tomhennigan is there a timeline for it? will it get done in official 20. release?

[2019-03-28 10:55] zakizhou commented on #27046
Hi @tomhennigan, is there a timeline for it? will it get done in 2.0 release?

[2019-03-28 10:57] Dlougach commented on #15284
```tensorflow/tensorflow:1.12.0-gpu-py3``` still has jupyter in it, as far as I can tell.

[2019-03-28 11:17] WilliamL1 opened #27241 "Exception: TensorFlow Flex runtime does not support some operators in the model: Merge, Switch`"
Dear friends, I recently tried to convert MobileFaceNet_TF to tensorflow lite format, but the error is displayed as "Exception: TensorFlow Flex runtime does not support some operators in the model: Merge, Switch`, this version of MobileFaceNet_TF is implemented by tf.slim There are a lot of Merge and Switch. So what can I do to fix this error?

**System information**
- OS Platform and Distribution

[2019-03-28 11:50] dssangan opened #27242 ":gather_string failed (Exit 127)"
Hello all,

I'm having issues installing tensorflow on my windows system using bazel. If there is any other alternative or fix please let me know

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 Build 17134
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if

[2019-03-28 11:51] ajinkya933 commented on #27101
Good catch I made that correction to --input_shapes=1,1568,1176,3. But now I get a new error :

Any idea how to resolve this? I am attaching below file of same graph which produced this error:

[2019-03-28 12:13] liuheng92 commented on #26203
I can't reproduce this issue now. Maybe it's my mistake. sorry for bothering you.

[2019-03-28 12:27] wormwang commented on #21852
I meet same error on r1.12 & r1.13

[2019-03-28 12:35] HugoDLopes commented on #25356
Is there any example using the high-level Estimator's API? I can only find tutorials with keras API. If not, can anyone give an example with `LinearClassifier` for example?

[2019-03-28 12:52] liumilan opened #27244 "TensorFlow estimator train_and_evaluate loss is None model does not train when reading data from s3"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-03-28 12:58] MartinMacek commented on #26835
Same for Unknown layer: DenseFeatures

[2019-03-28 13:01] a6802739 commented on #26096
@brevdo, If you don't mind, could I have a try for this? And hope you could give me some reference, Thanks.

[2019-03-28 13:06] windskyl commented on #24828
previous solution worked before
it doesnt work now.......

Ubuntu 18.04
RTX 2080
NVIDIA 418.56
CUDA 10.0
cuDNN 7.5
tensorflow-gpu 1.13.1

[2019-03-28 13:13] disha3 commented on #25721
Hi, I am facing the same issue, did any one find a workaround?

[2019-03-28 13:17] ZeliangSu opened #27245 "tf.data input pipeline got strange bug with tensorflow-gpu"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Linux Ubuntu 16.04
- Mobile device if the issu

[2019-03-28 13:39] tomhennigan commented on #27046
I hope so, I worked with the Keras team last month to remove known blockers (e.g. e866995aff7) and I think it should be possible to do before 2.0 if we don't find more blockers.

[2019-03-28 13:44] wormwang commented on #23716
We also need the aarch64 support

[2019-03-28 13:52] muddham commented on #27193
Thanks for your contribution. we will keep this noted.

[2019-03-28 13:55] muddham commented on #27191
@phambao Request you to please fill the template with infrastructure details so that we can suggest you the solution.

[2019-03-28 13:58] muddham commented on #27189
@307509256 Request you to please fill the template with infrastructure details so that we can suggest you the solution

[2019-03-28 14:17] hongdd commented on #24814
2019-03-28 22:10:46.054232: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2
Device mapping: no known devices.
2019-03-28 22:10:46.063724: I tensorflow/core/common_runtime/direct_session.cc:317] Device mapping:

what is the above instruction meaning?

[2019-03-28 14:22] qlzh727 commented on #27046
Yes, the plan is to have keras.layer use module as base class, and we plan to have this feature in 2.0 release. I am actively working on it right now.

[2019-03-28 14:25] alextp commented on #26839
We cannot support mutating assignments because tf tensors are immutable. Not at least until a future release where we can hide the mutation somewhat better.

[2019-03-28 14:35] normandra commented on #23747
for quantized runtime I believe you also need to do quantization aware training, see https://github.com/tensorflow/tensorflow/issues/20867#issue-341770125

[2019-03-28 14:38] phil20686 opened #27246 "Build Issue on windows - cd command does not change drive without /d flag"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Windows 10:
- TensorFlow installed from (source or binary): building
- TensorFlow versi

[2019-03-28 14:39] Serendytg77 commented on #16291
@ttdd11 seems you have solved this issue, could you please tell me? many thanks.

[2019-03-28 14:41] blup-Blupon commented on #24828
@windskyl if you're talking about my message: something must have changed ! A few raw ideas, forgive the relative innocence of those questions, just in case:
- are you having the exact same error again ?
- did you try restarting jupyter and loading the first cell only once (I noticed a warning message when I execute the "solution" cell several times, could lead to a problem) and then launching you

[2019-03-28 14:43] lunaticwon commented on #22794
Thank you DTopping256!!!

[2019-03-28 14:44] simsim314 opened #27247 "Feedback limitation in a documentation web page"
Hello tf developers team.

I'm coming to this page: https://www.tensorflow.org/api_docs/python/tf/bitwise, and I see no indication whether this is implemented on GPU or CPU only. Will tf help me for my project or not? I find this information page extremely unhelpful for my purpose. As the overview should state clearly when to use the library and when not (I need only bitwise operations).

I left a

[2019-03-28 14:54] quirkyllama commented on #23733
Any update on this bug? We're seeing some sort of memory leak after moving from TF 1.1.9 to TF 1.1.3 on Python 2.7

[2019-03-28 15:00] Nankaiming opened #27248 "How to transfer a ckpt file to the code?"
I have a demand that need to transfer the ckpt.meta file to the code. Don't use the "import_meta_graph". I means that if we know the input_tensor name and logit name, how we get the subgraph of this and transfer the graph to "inference" code.

[2019-03-28 15:04] ygoncharov commented on #23733
I confirm that the bug still exists in TF 1.13. Env: the latest NVIDIA TF 1.13 container running on Google Gloud, python2 (nvcr.io/nvidia/tensorflow:19.03-py2)

[2019-03-28 15:16] SibtainRazaJamali commented on #26096
yes of course.
Mozilla Deep speech model have customized the tensorflow. This version supports building binaries for Kenlm language model scoring for ctc decoder.
https://github.com/mozilla/DeepSpeech/blob/master/native_client/README.md
Similary, facebook wav2letter++ also have these binaries for c++ but they are hard to build.
https://github.com/facebookresearch/wav2letter/tree/master/src/decoder

[2019-03-28 15:17] musikisomorphie commented on #25295
@a6802739, I already opened a PR for this issue. But you can leave some comments to my PR if you like.

[2019-03-28 15:23] jdduke commented on #27101
Can you try converting with TF op usage? See the instructions here: https://www.tensorflow.org/lite/guide/ops_select

[2019-03-28 15:41] beniroquai commented on #17097
May I ask you if there has been made any progress? I found out a weird behavior for initializing complex-valued tensors:

[code]
which gives:
[code]
Both parts should do the same, but the latter one is approx. 6x faster. Any ideas?
It was measured on Mac/Ubuntu/Windows with TF 1.13 GPU and CPU.

Kind regards!

[2019-03-28 15:53] gsrujana commented on #22134
Hi, I got the same error, TF 1.13, CUDA 10, Cudnn 7, Ubuntu 16.04, GeForce GTX 1050 Ti/PCIe/SSE2,

Deprecated in favor of operator or tf.math.divide.
2019-03-28 08:51:16.696019: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
2019-03-28 08:51:16.880719: I tensorflow/compiler/xla/service/service.cc:150

[2019-03-28 15:58] wwolfgang11 opened #27249 "importError: cannot import name 'bitwise'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-03-28 16:08] jayfurmanek commented on #24414
The fix for this issue was reverted with:

[Temporarily disable MKL-DNN contraction kernels by default] https://github.com/tensorflow/tensorflow/commit/ca8791fc6db991c6c7406f3274ca742d867e0c6b

Temporarily, but its been almost a month.

I had suggested a fix that made sense to me: https://github.com/tensorflow/tensorflow/pull/24416
But it wasn't accepted.

@penpornk What is the plan for this setti

[2019-03-28 16:11] eivind88 commented on #26449
Hey, @lamberta

Nothing in the console when loading:

![Skjermbilde 2019-03-28 kl  12 07 19](https://user-images.githubusercontent.com/939844/55173423-113eb080-5152-11e9-948e-efbf3288eaee.png)

When I empty the cache and reload, there's a bunch. All of them include "TypeError: Failed writing data to the file system" or otherwise failing to load resources. This is also similar to the Safari error-s

[2019-03-28 16:16] ludwigschreier opened #27250 "helper_functions.inc (Google howto fail)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): VMware Ubuntu 18.04.2
- TensorFlow installed from (source or binary): according to howto (see description of problem)
- TensorFlow version: according to howto (see description of problem)
- Python version: latest
- Installed using virtualenv? pip? conda?: according to howto (see description of problem)
- Bazel versio

[2019-03-28 16:19] jayfurmanek commented on #24414
The problem is `tensorflow_mkldnn_contraction_kernel` is only ever defined if on x86_64. So setting it at all (on or off) is a problem for other arches. My attempted fix in https://github.com/tensorflow/tensorflow/pull/24416 was to let that be defined for other arches too, so that disabling it will have an effect.

If I could get clarity on what was unacceptable in https://github.com/tensorflow/te

[2019-03-28 16:27] lamberta commented on #26449
Thanks. Tracking in b/129421358

[2019-03-28 16:33] #27249 closed

[2019-03-28 16:34] jvishnuvardhan commented on #15463
@ppwwyyxx Is this still an issue with latest versions (1.12, 1.13.1, and 2.0)? Could you check and let us know whether the bug persists with latest versions. Thanks!

[2019-03-28 16:37] wwolfgang11 commented on #27249
Solved issue by pip install --upgrade tensorflow

[2019-03-28 16:39] KevorkSulahian opened #27252 "tensorflow won't compile"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: only import tensorflow
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: windows 10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: no
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow vers

[2019-03-28 16:42] Ayush517 commented on #27182
@shaolinkhoa The issue has been updated and commits are approved. You can close this issue. Thank you for letting us know :)

[2019-03-28 16:47] jvishnuvardhan commented on #23318
@aiueogawa I think it was resolved. As mentioned above, non-deterministic nature of some ops results in minutely different results for the same input on GPU. Please close the issue if it was resolved. Thanks!

[2019-03-28 16:49] kazuki0824 opened #27253 "[CUDA] ’tensorflow/core/kernels:cwise_op_gpu’ is not Clang-compatible"
**System information**
- OS Platform and Distribution: Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: None
- TensorFlow installed from (source or binary): source
- TensorFlow version: f09580c8362385f934e7d8321353de06512d92be in master (Date:  Thu Mar 28 02:02:36 2019 -0700)
- Python version: 3.6
- Installed using virtualenv? pip? conda?

[2019-03-28 16:59] evancasey commented on #27214
Thx!! Closing this since it looks like the issue has already been reported there.

https://youtrack.jetbrains.com/issue/PY-34174
https://youtrack.jetbrains.com/issue/PY-33034

[2019-03-28 16:59] #27214 closed

[2019-03-28 17:09] tamaranorman commented on #26961
Sorry I don't have enough experience here, you need someone who has worked on the ops, I have only touched the python layer on top.

[2019-03-28 17:11] jvishnuvardhan commented on #26964
Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. It would be great if you can provide a small code to reproduce the error. Thanks!

[2019-03-28 17:11] urimerhav commented on #23733
@ygoncharov  @quirkyllama can you confirm that python3 doesn't have that memory leak?

[2019-03-28 17:20] botev opened #27255 "Issues with @tf.function and abstracted classes"
**System information**
- Have I written custom code: YES
- OS Platform and Distribution: Ubuntu 18.04
- Mobile device: NO
- TensorFlow installed from (source or binary): PyPI
- TensorFlow version (use command below): 2.0.0-alpha0
- Python version: 3.6.4
- Bazel version (if compiling from source): NA
- GCC/Compiler version (if compiling from source): NA
- CUDA/cuDNN version: NA
- GPU model and memo

[2019-03-28 17:27] wdirons commented on #27250
I believe you need to `cd tensorflow`, after the `git clone` so your in the correct directory when the command is run.

i.e. it should be  `make -f tensorflow/lite/experimental/micro/tools/make/Makefile test`
and not `make -f tensorflow/tensorflow/lite/experimental/micro/tools/make/Makefile test`

The 2nd command tells me your in the wrong directory.

[2019-03-28 17:37] galeone commented on #23733
@urimerhav with this setup https://github.com/tensorflow/tensorflow/issues/23733#issuecomment-444046925 the leak is still present and is Python 3

[2019-03-28 17:40] karllessard commented on #8244
I’ve dug a bit further and I saw that TF_String buffers are exceptional because they expect some extra bytes at the beginning of each elements, something called an “offset”.

I’ll continue to investigate when I’ll have a few minutes but it is something you might also want to look at if you’re curious to find before.

[2019-03-28 17:40] angersson commented on #15284
Right. The new docker images are only effective for tags newer than 1.12.

[2019-03-28 17:47] beniroquai commented on #483
Short question - is the GPU version already working? I was wondering why my model is so slow, a device_placement log gave me this:
`Back_Propagate/Back_Propagate_Step/Propagate/Angle: (Angle): /job:localhost/replica:0/task:0/device:CPU:0
`
All other Nodes are on GPU though. Right now I'm using TF v1.13 on Windows

[2019-03-28 17:47] karmel commented on #25721
@RuilongMachineLearning -- can you clarify why you are using graph freezing here? It might be that there's a better approach.

[2019-03-28 17:49] urimerhav commented on #23733
Well, I'm willing to use just about any TF distribution that will rid me of this bug, so far it seems like the only report on a working setup is 1.1.9 on python 2?

[2019-03-28 17:49] karmel commented on #26430
@wookayin Can you clarify why you need to finalize the graph before saving? Typically, you would save before finalizing the graph, because saving requires graph + var access.

[2019-03-28 17:50] Jumonji commented on #13530
Same problem with pandas_input_fn. Less than 10% GPU utilization on my brand new RTX 2080 TI... I spent all that money and I can process just as fast on a multi-core AMD CPU??? I don't get it. How are the "big boys" using these cards to get speedup?

[2019-03-28 17:52] karmel commented on #27201
@jgehw For saving and restoring, we would recommend you use tf.keras.Model.save() or tf.keras.experimental.export_saved_model(model). These will export to the Keras serialization format and the TF Saved Model format, respectively, both of which can be restored.

[2019-03-28 17:54] ppwwyyxx commented on #15463
The issue exists in 1.13 compiled from github master yesterday.

[2019-03-28 18:00] galeone commented on #23733
Reading the comments looks like yes, 1.1.9 py2 works - but you can try with some new tensorflow release that support Python 2 to see if the leak is still there or is gone

[2019-03-28 18:22] ymodak commented on #27182
Closing this issue since its resolved. Thanks all.

[2019-03-28 18:22] #27182 closed

[2019-03-28 18:26] jing-dong commented on #23733
@galeone @ygoncharov @urimend Can you please describe a python environment and a minimum code snippet that reproduces this memory leak? I will try to see if I can reproduce this in a GCloud VM and go from there.