[2019-05-07 21:06] sunnysinghnitb commented on #26600
I had the same issue. On shifting to "GPU" option, the error disappeared and the code started working. In the "Runtime" menu, change "Change Runtime Types" to "GPU".

[2019-05-07 21:16] MChaus commented on #28304
Unfortunately building TF from master branch didn't help. I have the same error.
Also I checked git tag. The response of **git describe --tags** was:
v1.12.1-1110-g530d379ac1

Also I've updated my bazel. Now I have 0.24.1 version.

[2019-05-07 21:40] KichangKim commented on #28028
I found that other document describes "training=True" flag for manual training loop:

https://www.tensorflow.org/alpha/guide/migration_guide#customize_the_training_step

But this does not:

https://www.tensorflow.org/alpha/guide/keras/training_and_evaluation#using_the_gradienttape_a_first_end-to-end_example

Also, second document does not use tf.function for its training step, so extremely slow th

[2019-05-07 21:45] Ark-kun commented on #28439
Given the v1.12.1 tag on the releases page this is really confusing.

TF Bazel build is currently broken and it's really hard to find out whether there is any release containing the fix.

[2019-05-07 21:58] ymodak commented on #27672
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-05-07 21:58] #27672 closed

[2019-05-07 22:01] mihaimaruseac commented on #27535
Sorry for the delay. I confirmed that the destructors are not properly called by doing the following changes:

[code]

And then `bazel test //tensorflow/core:platform_env_test`. The constructor message is printed, but not the destructor. Curiously, there's no memory leak either.

I'll investigate further

[2019-05-07 22:02] ymodak commented on #27342
@a6802739 Apologies for the delay in response. Is this still an issue? Thanks!

[2019-05-07 22:09] tumusudheer opened #28491 "Valgrind showing memory leak in c++ with libtensorflow.so file"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.12
-

[2019-05-07 22:12] ymodak commented on #26468
@asimshankar Can you PTAL? Thanks!

[2019-05-07 22:24] melissagrueter commented on #28195
Got it, thanks for clarifying! I will give that a try and report back.

[2019-05-07 22:26] tumusudheer commented on #25220
Ping.. Any update on this one ? Is there a way I can resolve this issue ?

[2019-05-07 22:26] miaowang14 commented on #27807
@RoyIronGrey is the issue still reproducible on top of tree?

[2019-05-07 22:27] ymodak commented on #27685
Apologies for the delay in response. Can you please try to replicate this issue with smaller example, possibly related to tf.layers.batch_normalization? It's difficult to debug larger models. Thanks!

[2019-05-07 22:46] Knize commented on #28373
@amitsrivastava78 Uploaded. Thanks in advance. I trained another net in order to make file small enough to attach. So it's more or less dummy net only to reproduce problem.

[2019-05-07 22:53] ymodak commented on #27171
@MHDBST As a workaround, have you explored https://scikit-learn.org/stable/modules/generated/sklearn.metrics.f1_score.html. This can help you compute f1_score for binary as well as multi-class classification problems. Thanks!

[2019-05-07 22:53] #27171 closed

[2019-05-07 22:55] Knize commented on #28373
@muddham OK, i'll try and post results here in a day or two.

[2019-05-07 23:01] jvishnuvardhan commented on #28323
@scooter4j Good to know that you want to contribute. You could use GPU from the [Google colab](https://colab.sandbox.google.com/notebooks/welcome.ipynb). It is free for public. In the `Runtime` dropdown menu in Google colab, click `change runtime type' and select "GPU" for `Hardware accelerator`. Thanks.!

[2019-05-07 23:04] ymodak commented on #27770
Apologies for the delay in response.
I believe there is typo error at line 96 as following:
[code]
You can change it to following;
[code]
Output:
[code]

[2019-05-07 23:04] #27770 closed

[2019-05-07 23:47] ezhulenev commented on #28411
Eigen PR is out: https://bitbucket.org/eigen/eigen/pull-requests/639/fix-avx512-gcc-63-compilation/diff

[2019-05-07 23:54] gocrap opened #28494 "Unable to install tensorflow in python 3.6.8 with pip"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
- TensorFlow installed from (source or binary): binary
- TensorFlow version:1.8.0
- Python version:3.6.8
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source):NA
- GCC/Compiler version (if compiling from source):NA
- CUDA/cuDNN version:NA
- GPU model and memory:NA

**Des

[2019-05-08 00:14] allenlavoie commented on #18769
Finally got a chance to debug this on a mac. Apparently the `pread` system call, despite taking a four-byte `size_t` for its `nbytes` argument, returns `EINVAL` if "The sum of the iov_len values in the iov array overflowed a 32-bit integer." And presumably `pread` is implemented in terms of `readv` so they have the same limitation.

I have a change out for review which just limits reads to INT32_M

[2019-05-08 00:27] gautamkmr opened #28495 "Move the Dockerfiles to ubuntu-18.04"
[Current Dockerfile](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dockerfiles/dockerfiles/gpu.Dockerfile#L22) we have is based out of 16.04, its better if we can move to 18.04.

The corresponding version of TF Serving is already using 18.04 based ubuntu in their Dockerfile.

[2019-05-08 00:31] beichen2012 commented on #28459
tf1.13 had no tf.function.
And if using tf2.0's savedModel, It can not loads  tf1.13's checkpoints correctly.

[2019-05-08 00:40] allenlavoie commented on #28459
Not sure what that means. If you have code you think should work, please file a bug with a reproduction and I'm happy to take a look.

[2019-05-08 00:42] Leslie-Fang commented on #28437
if you didn't want to use mkldnn, could you try this build options "--copt=-DINTEL_MKL_ML_ONLY"? And see if it would use the path1 you mentioned above

[2019-05-08 00:43] gnsmrky commented on #26297
@ktgordon Have you found a resolution/workaround for this issue?  I am experiencing exactly the same problem.  After calling modifyGraphWithDelegate(), all glDraw calls results in black.  Does not even need to associate SSBO buffer to TFLite Tensors.  This is strange.  Taking a deeper look as well.

[2019-05-08 01:03] #28487 closed

[2019-05-08 01:04] josepablog commented on #28487
Will repost with a better description

[2019-05-08 01:52] a6802739 commented on #27342
@ymodak, it's fixed now.

[2019-05-08 02:04] mwsunshine opened #28496 "TF_LoadLibrary in c++ when loading resampler.so"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-08 02:17] #18769 closed

[2019-05-08 02:27] xinan-jiang opened #28497 "cudnn.so could not be found when using bazel-0.21.0 in r1.13"
**System information**
- OS Platform and Distribution : Linux 3.10.0-CentOS 7
- TensorFlow installed from: source
- TensorFlow version: **r1.13**
- Python version: 2.7
- Bazel version : **0.21.0**
- GCC/Compiler version (if compiling from source): 4.8.5
- CUDA/cuDNN version: cuda9.0/cudnn7.3.1
- GPU model and memory: V-100

**Describe the problem**
I encountered below error using **bazel-0.21.0**.

[2019-05-08 02:29] framsc opened #28498 "cyclic graph is not supported?"
Please correct me if I am wrong.
I am building cyclic graph. However cyclic graph is not supported in tensorflow.

**System information**
- TensorFlow version: 2.0.0-alpha0
- Are you willing to contribute it (Yes/No): Yes

**Who will benefit with this feature?**
tf is more expressive with cyclic graph. tf.while can be build with cyclic graph with conditional node.  Recursion, such as https://stack

[2019-05-08 02:30] fsx950223 opened #28499 "tensorflow debugging tools not support eager execution"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-08 02:48] Scofield666 opened #28500 "Bazel build error"
Follow the instructions listed in [https://www.tensorflow.org/install/source](url), but encountered errors when building

[code]

The errors are:
[code]
Tensorflow: 1.11
bazel: 0.15.0

[2019-05-08 02:49] alanchiao commented on #28438
Would it be helpful at all for us to add an error message in TOCO where it points directly to a FAQ or Github issue (for control flow / LSTMs) when there is an Unsupported Control Flow Op?

[2019-05-08 03:08] MHDBST commented on #27171
@ymodak This function is what I'm using now. But I think there should be a metric in Tensorflow like accuracy, or F1 ( for binary classification) to compute macro f1 (for multi class classification) independent from other libraries.

[2019-05-08 03:14] miaout17 commented on #28438
Let's use #28485 for tracking TensorFlow Lite control flow support. A RFC already existed.
@alanchiao sounds a good idea.

[2019-05-08 03:17] BrikerMan opened #28501 "tf2.0, tf.keras Embedding layer behave different than tf1.13"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow

[2019-05-08 03:52] robieta commented on #28110
I'm not sure if it will make it into the next release, but yes that's the plan.

[2019-05-08 03:57] robieta commented on #28028
With respect to the initial issue, I don't thing a discussion of the learning phase is appropriate, because the example doesn't include any layers that depend on it. Writing a custom loop that uses batch norm is something of an advanced use case both because of the change in behavior between training and inference and the fact that its updates are not gradient updates. All of that complexity would

[2019-05-08 04:08] freedomtan commented on #27983
@miaowang14 I think op 67 is transpose convolution, which is not supported by NNAPI before Q :-)

[2019-05-08 04:13] kyleabeauchamp commented on #26182
I also encountered this issue on the tf2.0 nightly GPU, I overcame the issue by doing a conda install of CUDA 10.0.  However, I would like to have things up and running with my ubuntu install of CUDA 10.1.

[2019-05-08 04:18] anhtu812 opened #28503 "set_visible_device_list("") in c++ not work"
I use tensorflow 1.12 cuda 9.0 build from source.
My code have follow lines, but session still use gpu. I not use CUDA_VISIBLE_DEVICES='' because my program have two session.
[code]

[2019-05-08 04:30] ANSHUMAN87 commented on #28438
Unpack PR is already raised & approved: #27881

[2019-05-08 05:01] hoonkai opened #28504 "Error while converting .pb model into tensorflowlite model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.14
- Python version: 3.7.3
- Bazel version (if compiling from source): 0.25

**Describe the current behav

[2019-05-08 05:18] aaroey commented on #25220
@tumusudheer sorry for the late response. I was trying to reproduce your problem. Your repro code is incomplete and missing things like the model file, the `#include`s, build script, etc. It would be very helpful if you could provide a complete example. Thanks.

[2019-05-08 05:20] muddham commented on #28304
@MChaus The error trace log provided here is in other language, can you please repost in English.Also can you confirm which version of Microsoft Visual studio you have used. As per the build [link](https://tensorflow.google.cn/install/source_windows#cpu) Microsoft Visual studio is 2015.

[2019-05-08 06:04] JaeDukSeo commented on #2682
amazing

[2019-05-08 06:16] #28175 closed

[2019-05-08 06:19] zhangyic01 commented on #16752
Hi

I had the same problem. I think it likely to be "martinwicke commented on Feb 6, 2018" comment. I tried different .pb file downloaded from COCO than the one I got from the tutorial. I no longer see that problem, i still got errors but moved further.

[2019-05-08 06:19] zealotpb opened #28506 "Tensorflow build does not support bazel 0.25???"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-05-08 06:22] sunzhe09 opened #28507 "when I run my model in gpudelegate in android , it build crash"
here is my bug message:

TfLiteGpuDelegate Prepare: Suitable node shader is not found: Output size is less than input size.Node number 129 (TfLiteGpuDelegate) failed to prepare.

my aar is tensorflow-lite-0.0.0-gpu-experimental.aar

[2019-05-08 06:23] muddham commented on #28148
@gandalflee Executed the same in cpu version but I have not received any error,please see attached screen.As no error reproduced, closing this issue.
![image](https://user-images.githubusercontent.com/48215502/57353957-c7e97400-7187-11e9-9461-9e2047e2280f.png)

[2019-05-08 06:23] #28148 closed

[2019-05-08 06:24] muddham commented on #27761
@farzaa Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-08 06:24] #27761 closed

[2019-05-08 06:27] achandraa commented on #28218
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-08 06:27] #28218 closed

[2019-05-08 06:29] muddham commented on #28253
@beeteax Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-08 06:29] #28253 closed

[2019-05-08 06:30] muddham commented on #28262
@prateekswamy Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-08 06:30] #28262 closed

[2019-05-08 06:31] muddham commented on #28277
@hoonkai Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-08 06:31] #28277 closed

[2019-05-08 06:32] muddham commented on #28301
@elham1992 Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-08 06:32] #28301 closed

[2019-05-08 06:32] achandraa commented on #28254
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-08 06:33] #28254 closed

[2019-05-08 06:35] tsawada opened #28508 "gfile.Copy does not overwrite dest file properly on posix filesystems"
**Describe the current behavior**
`gfile.Copy(overwrite=True)` does not truncate the destination file before overwriting. That means if the src file is shorter than the dest file, the resulting dest file contains the mix of the two.

**Describe the expected behavior**
`gfile.Copy(overwrite=True)` results in having the exact same content of src file in the dest file.

**Code to reproduce the issue*

[2019-05-08 06:35] RoyIronGrey commented on #27807
Thanks for your reply. Yes, If I use the same edition of TF lite API. Is there anything new or any new edition for this problem?

[2019-05-08 06:36] muddham commented on #28412
@snowpeakz Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-08 06:36] #28412 closed

[2019-05-08 06:40] TomorrowIsAnOtherDay opened #28509 "【XLA on Centos】poor performance improvement on Centos than on Ubuntu"
Linking to XLA libraries has been a default option since version 1.12 .It's a really great job!!
I found training speed was faster, double to speed of tf 1.10, on Ubuntu system(48CPU,0 GPU).

Then I tried to test this improvement on Centos where I found there is no improvement. I also tried to compile source code with XLA, but no improvement was found either.

Does XLA only support Ubuntu system?

[2019-05-08 06:40] muddham commented on #28415
@jsl303 After running the code with epoch=1 got these results.
Dense accuracy: 0.5679987038135529, Conv accuracy: 0.06941995525737293
Dense accuracy: 0.5325789436578751, Conv accuracy: 0.06686571390144527
Dense accuracy: 0.5519545083522797, Conv accuracy: 0.06901443190686404
Dense accuracy: 0.547787981891632, Conv accuracy: 0.06690254995841532
Dense accuracy: 0.5438883091449738, Conv accuracy: 0.0

[2019-05-08 06:42] muddham commented on #28424
@goljx Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-08 06:42] #28424 closed

[2019-05-08 06:44] achandraa commented on #28317
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-08 06:44] #28317 closed

[2019-05-08 06:49] zsimone10 commented on #21526
Hi! Like the above commenter, I also wanted to followup on the status of Conv3D support in tflite or possible alternative operations? Thank you!

[2019-05-08 06:49] achandraa commented on #28341
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-08 06:50] #28341 closed

[2019-05-08 06:50] achandraa commented on #28332
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-08 06:50] #28332 closed

[2019-05-08 07:22] mayou36 commented on #28498
Can you may be more specific about the cyclic graph? What would you expect to run (that is not doable with a while_loop)?

[2019-05-08 07:44] tsawada commented on #28508
CC @Joeper214 who found this issue

[2019-05-08 07:53] fischeru opened #28511 "Not found: Op type not registered 'StatefulPartitionedCall'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Debian 9.9
- Mobile devi

[2019-05-08 07:56] 4p0pt0Z commented on #26501
I have been able to compile [minimal.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/minimal/minimal.cc) with libtensorflow-lite.a on my raspberry pi using:

g++ -I${TENSORFLOW_ROOT_DIR}/tensorflow/lite/tools/make/downloads/flatbuffers/include -I${TENSORFLOW_ROOT_DIR} -pthread -Wall -Wextra -pedantic -o minimal minimal.cc ${TENSORFLOW_ROOT_DIR}/tensorflow/lite/too

[2019-05-08 07:57] achandraa commented on #28407
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there and can provide help. Thanks!

[2019-05-08 07:58] Mainak431 commented on #27519
.Numpy is only supported in eager mode.  If you are in graph mode,  it will not be supported.  To check,  if you are in eager mode.  Do,  tf.eagerly().  It returns true or false.  In graph mode,  you have to use eval in a session to get the value of the tensor in numpy array.

[2019-05-08 08:00] asimshankar commented on #26468
@sjamesr : Could you take a look? (I haven't been working on TensorFlow for a while now :))

[2019-05-08 08:04] achandraa commented on #28329
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-08 08:04] #28329 closed

[2019-05-08 08:13] meteorcloudy commented on #28047
@jeffsaremi Can you do a
[code]
and tell me what's the content of this file?

[2019-05-08 08:16] MChaus commented on #28304
@muddham I have Microsoft VS Community 2017 with installed build tools for VC++ 2015.3.
Build was started in command line VS2015 x64 Native Tools.

The translation of the log:

[2019-05-08 08:19] momo1986 opened #28512 "AttributeError: module 'tensorflow' has no attribute 'placeholder'"
Hello, dear guys.

I build the tensorflow(CPU) version in Windows 10.

I install tensorflow-2.0-beta.

I want to run some tensorflow old-version code:
[code]

However, it reports the error:

I wonder how can I  make my old code compatible with new version software?

Thanks & Regards!

[2019-05-08 08:35] muddham commented on #28304
@MChaus Please refer the [link](https://github.com/tensorflow/tensorflow/issues/24890),install TF 2.0 nightly directly via pip and it works and see if it works

[2019-05-08 08:55] luorixiangyang opened #28513 "bazel test fails "C++ compilation of rule '@protobuf_archive//:protoc_lib' failed (Exit 2): python.exe failed: error executing command""
Env:
OS: windows 10
bazel version: 0.25
tensorflow version:r1.14
python:3.6.4

I use  command to build .whl file is ok:
bazel build --config=opt --config=cuda --define=no_tensorflow_py_deps=true //tensorflow/tools/pip_package:build_pip_package

before action:
I modify third_party/gpus/crosstool/BUILD.tpl.
cc_toolchain(
    name = "cc-compiler-local",
    all_files = "%{linker_files}",
    compiler

[2019-05-08 08:58] MChaus commented on #28304
@muddham I've installed latest stable version of TF last week via pip - tensorflow 1.13.1. It works fine, but I want to try build TF with additional configurations like MKL for further acceleration.
I desided to start from the simpliest default version without any additional dependencies and got that errors.

[2019-05-08 09:03] achandraa commented on #28437
@fengyuICT : Please have a look on @Leslie-Fang's suggestion and let us know if that helps. Thanks!

[2019-05-08 09:08] RoyIronGrey commented on #27807
Or I may misunderstand what you mean

[2019-05-08 09:12] caiya55 commented on #23113
Hi, if you are looking for some object detection and can be converted to .tflite file. I think this is great.https://coral.withgoogle.com/models/. google released this model for its new hardware device.  But I am still trying to convert my own model. I'd like to know after converting to tflite model, how to keep your tflite output still float32 type.

[2019-05-08 09:15] theonlydaleking opened #28514 "GoDoc link error"
## URL(s) with the issue:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/go/doc.go

## Description of issue (what needs changing):

The link doesn't work. It strips the trailing `.md` off the URL when it is redirected through `tensorflow.org/code`

### Correct links

it is correct, I think the redirect is broken. for example, if you change
`https://www.tensorflow.org/code/tensorf

[2019-05-08 09:16] EliasHasle commented on #26364
It is not necessary to add `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.0\include` to the PATH variable. My guess is that you (and others who think that is the solution) changed something else, such as restarting your computer or opening a new PowerShell console, which will load updated environment variables.

[2019-05-08 09:17] frams163com commented on #28498
For example, Sentiment Analisys with Recursive Neural Network. [https://chainer-colab-notebook.readthedocs.io/en/latest/notebook/official_example/sentiment.html](url)

Recursive Neural Network can be implemented neatly with cyclic graph. Maybe Graph Neural Network too. These models are very hard to implement in current version TensorFlow.

Is TensorFlow assuming that the Computation Graph is acycl

[2019-05-08 09:24] kmader commented on #26731
I have a travis-ci build running to build tflite and can reproduce the error on the latest commit: https://travis-ci.org/kmader/tflite_lib_builder/jobs/529685375

[2019-05-08 09:30] gijswobben commented on #25754
Any updates on this?

[2019-05-08 09:32] NEU-Gou opened #28515 "min/max data missing for FusedBatchNorm op"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-05-08 09:33] achandraa commented on #28464
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-05-08 09:35] RobotEdh opened #28516 "Issue recognize_commands micro_speech demo"
**System information**
run on SparkfunEdge Board Apollo3 operating in Burst Mode (96MHz)

Bin build on the following linux env:
Linux edh-VirtualBox 4.18.0-17-generic #18.04.1-Ubuntu SMP Fri Mar 15 15:27:12 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
TensorFlow installed from (source or binary): Git
TensorFlow version: 1.13.1
Python version:Python 2.7.15rc1
Installed using virtualenv? pip? conda?: pip

[2019-05-08 09:56] PointCloudNiphon commented on #27306
My cuda is 10.1,  and now have the same mistakes with yours ,ImportError: libcublas.so.10.0: cannot open shared object file: No such file or directory
please give me a hand.

[2019-05-08 10:10] Mainak431 commented on #27306
@pointcloudniphon please go through the link.  If you are using Tf 2.0 alpha , you need to install CUDA 10.0 and CUDNN 7.4. Else downgrade your tensorflow to 1.8.0. Follow this link  https://medium.com/@mainakdutta76/gpu-configuration-for-deep-learning-f35a8bf0f5e1. Thanks.

[2019-05-08 10:11] fengyuICT commented on #28437
I use tensorflow 1.10, it has macro INTEL_MKL_ML, so I add options --copt=-DINTEL_MKL_ML according to @Leslie-Fang , it works. Thanks ^_^

[2019-05-08 10:15] muddham commented on #28472
@hn2 This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tens

[2019-05-08 10:24] #28481 closed

[2019-05-08 10:33] muddham commented on #28457
@syedalamabbas This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tenso

[2019-05-08 11:10] spacelg opened #28517 "Tensorflow failed to CMake due to Python module not found: tensorflow/contrib/tpu/ops on Windows server 2016"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
  Windows server 2016
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
  Source
- TensorFlow version:
  [d58b53e](https://github.com/tensorflow/tensorflow/commit/d58b53e19c3d06cea5909c66379d073aea153651)
- Python version:
A

[2019-05-08 11:27] #28437 closed

[2019-05-08 11:28] xavysp commented on #27245
I will try that way but before this, I have printed the size of every single input and target, and all of them matched.

Thanks
Xavier

[2019-05-08 11:31] sleighsoft opened #28518 "Tensorflow v2 tensorflow.python.ops.linalg_ops.svd hangs"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win 10
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.0a-gpu
- Python version: 3.7.3
- CUDA/cuDNN version: 10.0
- GPU model and memory: RTX 2060

**Describe the curren

[2019-05-08 12:23] pouannes opened #28519 "Bug in Keras Guide"
## URL(s) with the issue:

https://www.tensorflow.org/guide/keras#multiple_gpus

## Description of issue (what needs changing):

The last line of this guide produces a bug when ran on the associated colab notebook (maybe everywhere, I haven't checked).

### Raises listed and defined

[code]
Are there currently visuals? If not, will it clarify the content?

### Submit a pull request?

No, I'm only

[2019-05-08 12:45] Dinghow opened #28520 "RTX 2080ti bazel build: nvcc fatal: Unsupported gpu architecture 'compute_75'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.4.0
- Python version: 2.7.15
- Bazel version (if compiling from source): 0.5.4
- GCC/Compiler version (if compiling from source): 4.8.5
- CUDA/cuDNN version: CUDA 8.0 cuDNN 6.0
- GPU model and memory: RTX2080Ti 11G

**Describe

[2019-05-08 12:51] 007fred50 opened #28521 "LSTM vs Conv2D, tf-nightly-gpu (CUDNN_STATUS_INTERNAL_ERROR)"
Hello,

info:
tf-nightly-gpu (1.14.1.dev20190508)
cuda 10.0
cuDNN v7.4.1
RTX 2080
ubuntu 16.04

I'm trying to execute some code. (ML)

i'm useing LSTM and i get no error !

i'm useing Conv2D and i get this error here:
`2019-05-08 14:45:09.120400: I tensorflow/stream_executor/platform/default/dso_loader.cc:42] Successfully opened dynamic library libcublas.so.10.0
2019-05-08 14:45:09.724859: I tenso

[2019-05-08 14:42] syedalamabbas commented on #28457
@muddham  If you feel there is nothing you can add to the discussion about the issue since its already on Stack Overflow as my first post described, you may close it.

[2019-05-08 14:43] Chadys commented on #28482
I reran the tutorial by first calling `tf.enable_eager_execution()` and it works. Weird, I thought that eager_execution was on by default in 2.0, seems not. So checkpoint is only failing in graph mode, maybe you can't use it that way in this mode. The 2.0 docs are great but graph mode examples are still a bit sparse.

[2019-05-08 14:59] muddham commented on #28460
@ThisIsIsaac Thanks for your effort. Please provide your code and elaborate in detail the added fix.

[2019-05-08 15:00] ktgordon commented on #26297
We did find a workaround. I'm assuming you're using the Java API and bringing in gpu delegates via
`implementation 'org.tensorflow:tensorflow-lite:0.0.1-gpu-experimental'`

What I think is happening is that modifyGraphWithDelegate() modifies the current context so that our display surface is no longer current... not a problem if we had access to our original state variables. However, since we orig

[2019-05-08 15:07] gregbillock commented on #27537
This looks like it isn't an issue with the unicode ops. The file looks to me like it wishes it has a BOM (0xEF 0xBB 0xBF) at the start, but instead has (0xED 0xBB 0xBF). This is not a valid encoding, so python internals are throwing a unicode error when they try to convert it using decode().

I'm not sure how this is unexpected. It seems like throwing an error on corrupted input is a reasonable be

[2019-05-08 15:09] gregbillock commented on #27537
@rohan100jain

[2019-05-08 15:38] jvishnuvardhan commented on #28232
@Jsevillamol Could check my [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/573ca634e39162eb4c48cabe042b89ca/untitled138.ipynb) and may be upgrade your TF2.0.0-alpha0 and run it again. If you see any error, we would like to resolve that. Thanks!

[2019-05-08 15:41] jeffsaremi commented on #28047
@meteorcloudy :

[code]

[2019-05-08 15:43] wqw547243068 commented on #18751
I am wondering where should I palce the new xml file ?

[2019-05-08 15:53] mihaimaruseac commented on #25826
Solved by #27335, additional attempt in #28502 came too late

[2019-05-08 15:53] #25826 closed

[2019-05-08 15:53] allenlavoie commented on #22853
@2649 to be clear, the existence of ListWrappers is intended behavior. Them causing problems is a bug. Are they causing issues?

[2019-05-08 15:57] sleighsoft opened #28523 "Tensorflow v2 cannot save with CheckpointManager in tf.function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win 10
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.0a
- Python version: 3.7.3
- CUDA/cuDNN version: 10.0

**Describe the current behavior**

I am trying to save a `

[2019-05-08 16:24] rootkitchao commented on #28520
Tensorflow 1.13 requires CUDA 10.0 and cuDNN 7.x.This may be because the old version of CUDA does not support new hardware.

[2019-05-08 16:35] datistiquo opened #28524 "Using subword information in OOV token from fasttext in word embedding layer (keras/tensorflow)"
Serious, there is nothing on the internet I found in this way to handle OOV tokens with custom word vectors! There are some post, but all are saying using eg. fasttext (https://stackoverflow.com/questions/48395570/how-to-initialize-word-embeddings-for-out-of-vocabulary-word?rq=1 ) wih no explanation how to do it.
It should be somehow possibleto  bypass/hack around to assign a vector for OOVs?
But

[2019-05-08 16:47] pavithrasv commented on #25754
@ageron, @gijswobben , are you still seeing this issue? There was a commit https://github.com/tensorflow/tensorflow/commit/cf31e9001c5ab89fc2e92eb98443d48cd37a726b#diff-8bfbe586f2ba61d9aa9e39676c7f69ee which may have fixed this issue. Can you try on the latest nightly release?

[2019-05-08 16:47] allenlavoie commented on #28523
Hrm, I thought we had a better exception here, namely this one: https://github.com/tensorflow/tensorflow/blob/cc0ad492d2752e9a271b6a6b902386458b39016a/tensorflow/python/training/tracking/util.py#L1812

But since CheckpointManager calls write() instead of save() (and write() does work on its own inside functions), we'll need to copy the exception over to CheckpointManager too. Thanks for the report

[2019-05-08 16:50] infoshoc commented on #14188
Can you, please, tell what exactly is not recommended?
I am experiencing similar issue with tf 1.5 (I know there is 1.12 😳🤦‍♂️) with tf.map_fn which applies very slow function and without any prefetching technique. Current workaround is to increase parallel_iterations.

I can not reproduce it with code simple enough to post for now :(.

Thank you.

[2019-05-08 16:55] allenlavoie commented on #28511
I'm somewhat confused about the setup. You compiled with cmake and StatefulPartitionedCall isn't registered, and then at the same git commit you compiled with bazel and it worked?

[2019-05-08 17:01] sleighsoft commented on #28523
Glad to help.
So whats the proper way of saving checkpoints from within a `tf.function`?

[2019-05-08 17:11] allenlavoie commented on #28523
Yep, you can use `tf.train.Checkpoint.write` since that uses only TF operations. It won't update any protos and so `tf.train.latest_checkpoint` won't work. But the checkpoints themselves are fine.

Personally I'd checkpoint outside a `tf.function` at the moment.

[2019-05-08 17:25] sleighsoft commented on #28523
I was just thinking about checkpointing within `tf.function` because this is a thing:
https://stackoverflow.com/questions/56038372/does-wrapping-tf-data-dataset-into-tf-function-improve-performance

[2019-05-08 17:36] ymodak commented on #28519
@pouannes Thanks for trying TF Keras colab. I was able to execute the colab successfully as is. Are you changing any module version or parameter in the colab?

[2019-05-08 17:46] mihaimaruseac commented on #27535
Reduced all the code to

[code]

and of course the destructors don't get called. Valgrind reports still reachable memory bytes as it should.

I think I have an idea of the root cause of this, will run one more experiment and be back in at most an hour or so.

[2019-05-08 17:50] allenlavoie commented on #28523
You're checkpointing multiple times when iterating over the same dataset? One option is to use a finite dataset that e.g. only does one epoch, then wrap that in a function. After the function runs one epoch you can save another checkpoint. That should have minimial overhead assuming epochs take at least a few minutes.

Ideally saving would work inside a graph and update all of the metadata. But it

[2019-05-08 17:54] elf128 commented on #25329
I would like to confirm presence of this regression in r1.13.1
I've built TF 1.13.1 from sources yesterday, specifically for Cuda3.0 support.
After install, following check failed the same way as for many people in this thread.
[code]
I've got **StreamExecutor cuda device (0) is of insufficient compute capability: 3.5 required, device is 3.0** followed by python crash.

Then I've found this thread

[2019-05-08 17:57] claynerobison opened #28526 "build_pip_package broken because of 58b53e19c3d06cea5909c66379d073aea153651"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution ( Linux Ubuntu 16.04):
- TensorFlow version: master at 66b

[2019-05-08 18:02] impjdi commented on #27757
@jaebaek

https://github.com/tensorflow/tensorflow/commit/bb530c6f82a06a8136042fccdd9456580f89f837

might have solved the issue.  Could you check?

[2019-05-08 18:04] CountingClouds opened #28527 "tfdbg and tf.data API: Inconsistency with handling dataset iterators' OutOfRangeError"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Mac OS Mojave v10.14.4
- TensorFlow installed from (source or binary):  Binary (PIP)
- TensorFlow version (use command below):  pip install tensorflow==1.13.1
- Python version:  3.6.2
- CUDA/cuDNN version:  N/A (fo

[2019-05-08 18:06] saxenasaurabh commented on #28446
Could you try using [`tf.enable_resource_variables()`](https://www.tensorflow.org/api_docs/python/tf/enable_resource_variables) or `tf.get_variable("x", dtype=tf.float32, shape=[3], use_resource=True)`.

v2 control flow does not support RefVariables.

[2019-05-08 18:06] gunan commented on #28388
I do not think we ever explored building static libtensorflow libraries.
@martinwicke to confirm if that's the case
@meteorcloudy to check how we can do this with bazel

Martin, also who would be the new owners of libtensorflow?

[2019-05-08 18:09] koute commented on #28215
So you're getting the same values on both the CPU and the GPU runtime? This is really strange. Because that's not what I am getting. Are you perhaps getting assigned a slightly different environment on Colab or something like that? (I'm not really too familiar with how exactly it works.)

Here are the screenshots of my results:

CPU results - https://imgur.com/eqhsNTn
GPU results - https://imgur.c

[2019-05-08 18:09] ymodak commented on #28365
This issue is more suitable on tensorflow js repo. Please post it on [tensorflow js](https://github.com/tensorflow/tfjs). Thanks!

[2019-05-08 18:09] #28365 closed

[2019-05-08 18:14] christian-rauch commented on #27505
@ymodak This issue is not solved. In https://github.com/tensorflow/tensorflow/issues/25329 the same issue is reported (i.e. CCC 3.0 works with TF 1.12 but fails with TF 1.13). If you closed this issue because of duplication, could you at least state in the other issue what the official state for CCC version support in source builds is?

[2019-05-08 18:21] ppwwyyxx commented on #28446
Thanks! This does fix the issue. Perhaps this behavior should trigger a more clear error message?

[2019-05-08 18:22] saxenasaurabh commented on #24517
I am unable to repro this at head so it's possible this has been fixed since. Please retry and reopen if this is still an issue.

[2019-05-08 18:22] #24517 closed

[2019-05-08 18:26] saxenasaurabh commented on #28446
Yep, that would be useful. Let me look into that. Thanks!

[2019-05-08 18:42] wdirons commented on #28512
try running the `tf_upgrade_v2` script against the code to see what changes it suggest.

[2019-05-08 19:03] skiler07 commented on #28477
After creating a clean environment with `conda` and only installing `tensorflow`, everything ran fine.

[2019-05-08 19:03] #28477 closed

[2019-05-08 19:10] mihaimaruseac commented on #27535
Ok, so the `Env` destructor is not called and that causes all the other relevant destructors to not be called either. The `Env` destructor is not called because of the static instance.

I have a fix incoming, but we also need to consider if we want to call `Env` destructor (as now it is [marked as illegal to delete `Env` instance](https://github.com/tensorflow/tensorflow/blob/17e49b339b2b9a58ed967

[2019-05-08 19:20] ajarthurs opened #28528 "TFLite calibration-and-quantization I/O min/max mismatch on some operators"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes

- OS Plat

[2019-05-08 19:34] mihaimaruseac commented on #27535
Also, @reflectored, since you're working with filesystems, you might want to also look at [a proposed modularization C API](https://github.com/tensorflow/community/pull/101) for them as feedback is welcomed.

[2019-05-08 19:38] reflectored commented on #27535
@mihaimaruseac Yeah I actually stumbled upon that in your profile. I will take a look at that.

[2019-05-08 19:39] nekitmm commented on #27496
What exactly is your problem? Initially I thought that setting this property is needed to run layers eagerly, but after digging some more I found out that it is not needed (in my case my custom layer was not running eagerly, but the source of the problem turned out to be completely different). In fact, at the moment I am not sure what does setting 'dynamic' property does at all.

[2019-05-08 19:49] AysunTE commented on #25034
I have the same problem. I have got different training sets with/without TPU.

[2019-05-08 20:12] developeralgo8888 opened #28530 "Python Flow-based Programming UI (graphical designer IDE) similar to FlowHub or Node-red"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.13 and 2.0
- Are you willing to contribute it (Yes/No):y

[2019-05-08 20:43] saxenasaurabh commented on #28385
Thanks melissagrueter@, comments inlined.

Yes, implementing cond in the C API would make sense.

If `TF_AddGradients` supports taking gradients of low level control flow ops `Switch`, `Merge` etc. (I will need to look into this but maybe @skye already knows), then yeah we could go this route just to avoid dealing with functional op gradients for now. If not, we can look into the functional cond.

[2019-05-08 20:57] skye commented on #28385
I'm pretty sure TF_AddGradients does not handle Switch and Merge. It's not as bad as while_loop, but the legacy cond gradient implementation is pretty complicated (e.g. see CondContext). It would be much better long-term to implement functional cond instead, although might take some short-term extra work because the C API only has very low-level support for functions. But I think it shouldn't be t

[2019-05-08 21:03] jvishnuvardhan commented on #27261
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-08 21:03] #27261 closed

[2019-05-08 21:05] futuyao commented on #28206
I've made a small change to the converter code, and it should support bool after the fix. See #28315 .

[2019-05-08 21:10] jvishnuvardhan commented on #27548
I think it was resolved. I am closing the issue. But, please let me know if I'm mistaken.

[2019-05-08 21:10] #27548 closed

[2019-05-08 21:11] jvishnuvardhan commented on #27611
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-08 21:11] #27611 closed

[2019-05-08 21:13] saxenasaurabh commented on #28114
@mrry @aselle do you have any ideas?

[2019-05-08 21:16] abdo96 commented on #23780
I had the same problem about import rewriter_config_pb2 from google3
`from tensorflow.core.protobuf import rewriter_config_pb2
config_proto = tf.ConfigProto(log_device_placement=False, allow_soft_placement=True)
off = rewriter_config_pb2.RewriterConfig.OFF
config_proto.graph_options.rewrite_options.arithmetic_optimization = off
     session = tf.Session(config=config_proto)`

[2019-05-08 21:16] melissagrueter commented on #28195
Hi @skye!

I gave it a try and my AccessOuterOp unit test (see above) is now passing, but a few of the other tests are now failing:

[ FAILED ] CApiWhileLoopTest.NestedLoop
[ FAILED ] CApiWhileLoopTest.InvalidCondOutputNode
[ FAILED ] CApiWhileLoopTest.InvalidBodyOutputNode
[ FAILED ] CApiWhileLoopTest.WrongGraph

It seems to me that the InvalidCondOutputNode, InvalidBodyOutputNode, and WrongGraph

[2019-05-08 21:17] ymodak commented on #27505
@gunan Can you PTAL? Thanks!

[2019-05-08 21:20] abdo96 commented on #23780
I had the same problem about import rewriter_config_pb2 from google3
[code]

[2019-05-08 21:21] mihaimaruseac commented on #27535
So, there is an issue with forcing `Env` destructor to be called: we will surely get into fiascos based on the order of calling static destructors. Instead, it is better if you use `atexit` to directly call the destructor/resource deinitializer of the filesystem, instead of relying on the destructor chain.

[2019-05-08 21:22] jvishnuvardhan commented on #27844
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-08 21:22] #27844 closed

[2019-05-08 21:23] jvishnuvardhan commented on #27854
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-08 21:23] #27854 closed

[2019-05-08 21:27] jvishnuvardhan commented on #27935
Thanks for the detailed instructions. I closing this issue.

This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-05-08 21:27] #27935 closed

[2019-05-08 21:27] jvishnuvardhan commented on #27944
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-08 21:27] #27944 closed

[2019-05-08 21:29] jvishnuvardhan commented on #27979
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-08 21:29] #27979 closed

[2019-05-08 21:30] jvishnuvardhan commented on #28035
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-08 21:30] #28035 closed

[2019-05-08 21:32] skye commented on #28195
Oof, I bet NestedLoop is failing because there's a problem with my input_map hack: if both the outer and inner graph have a node with the same name, there's no way to distinguish if a given input refers to the outer or inner tensor. I'm guessing NestedLoop is running into this because the inner and outer loops will end up using the same node names. This wasn't a problem before because keys in the

[2019-05-08 21:58] mihaimaruseac commented on #28388
I have attempted this for OSSFuzz integration and got into issues with Bazel

[2019-05-08 22:13] samhodge commented on #28388
I sorted the issues on the Linux side of things and can get everything statically linked with libtensorflow-core.a nsync.a and libprotobuf.a I was missing some of the -W,l directives which I shamelessly stole from the benchmark example that came as part of contrib/makefile

[2019-05-08 22:17] fuzzyBatman opened #28532 "ValueError when reading a frozen graph"
**System information**
- Have I written custom code: No
- OS Platform and Distribution: Linux Fedora 30
- TensorFlow installed from: Binary
- TensorFlow version: 1.13.1
- Python version: 3.7.3 (64-bit)
- CUDA/cuDNN version: CUDA 10.0
- GPU model and memory: Nvidia GeForce GTX 1050M [4GB]

**Current behavior**

[code]

**Describe the expected behavior**

Load the graph so it can be used for inferen

[2019-05-08 22:22] melissagrueter commented on #28195
What if we just add a list of outer graph nodes to allow as a parameter to copygraph? There should be no ambiguity if they always refer to nodes in the outer graph, and we could presumably allow these as inputs the same way we allow the nodes that are values in the input_map.

[2019-05-08 22:52] miaowang14 commented on #27807
@RoyIronGrey We just submitted a couple of fixes related to this issue. I don't think tensorflow-lite:0.0.0-nightly or 1.11.0 build include them.

You might be able to build TFLite binaries from source and try it out: https://www.tensorflow.org/lite/guide/build_arm64

[2019-05-08 22:58] skye commented on #28195
That might work for the particular use cases you have in mind, but there's still the fundamental problem that if you have an input "foo:0", an internal node "foo", and an external node "foo" (in the parameter whitelist), there's no way to determine which node "foo:0" is referring to. Having the whitelist makes you less likely to find yourself in this situation, but it's still possible.

[2019-05-08 23:22] kernelizd commented on #28326
I did. That issue is about TF 1.13. In my case it is TF 2.0-alpha
At any rate, the solutions offered for both cases are almost the same. I did try them but no luck.
I downgraded my cuda to 10, updated my cudnn to 7.4  and now it is working

[2019-05-08 23:22] #28326 closed

[2019-05-08 23:25] jdduke commented on #27807
The nightly should have the fixes, but you might need to [clear your gradle cache](https://stackoverflow.com/questions/23025433/how-to-clear-gradle-cache).

[2019-05-09 00:14] tumusudheer commented on #25220
Hi @aaroey,

Thank you very much. I pushed the code to my [git](https://github.com/tumusudheer/tensorflow_cpp_inference_multiple_gpus)

Please let me know if you have any trouble accessing the code.

The .so file is compiled using ```bazel build --config=cuda //tensorflow:libtensorflow_cc.so``` please refer to README file

Basically I've a bunch of images (assume 1000),  and I've two gpus. I want

[2019-05-09 01:01] impjdi commented on #27757
I just realized the commit I mentioned above does exactly what @jaebaek attempted to do in PR #27758.  Marking issue as closed.

[2019-05-09 01:01] #27757 closed

[2019-05-09 01:35] ageron commented on #25754
Hi @pavithrasv ,
I just tested again, unfortunately there are still some issues:

* The good news is that the `training` argument now works as expected.
* But the `learning_phase` seems to be always equal to 0.  I think TF2 should get rid of global scopes anyway, and this includes `K.learning_phase`, so I would recommend just deprecating `learning_phase` and `learning_phase_scope` altogether. Howe

[2019-05-09 02:03] SunGaofeng commented on #28171
Is there any suggestion? I pulled 1.2.0-devel-gpu, and it worked well. What happened to the latest-gpu docker image?

[2019-05-09 02:04] 406747925 commented on #22138
I'm wondering how to manually adding a FakeQuantWithMinMaxVars node. I've looked into the link you provided and still cannot find that code .

[2019-05-09 02:12] gnsmrky commented on #26297
I am doing exactly what you said here as I based on TFLite demo (which uses TextureView).  Mainly the following:
1. Create gl context, set gl viewport, etc.  Stores eglDisplay, eglSurface, eglContext.
2. Make call to `modifyGraphWithDelegate()`.
3. Set the eglContext, eglSurface, eglDisplay as current using `eglMakeCurrent`

The draws using `glDrawArrays`, results in black.  Interestingly, if step

[2019-05-09 02:22] dulkith opened #28536 "Dataset train terminate and Logging error"
`python retrain.py \
--bottleneck_dir=/tf_files/bottlenecks \
--how_many_training_steps 500 \
--model_dir=/tf_files/inception \
--output_graph=/tf_files/retrained_graph.pb \
--output_labels=/tf_files/retrained_labels.txt \
--image_dir /tf_files/data_set`

Ths is my training code

Traceback (most recent call last):
  File "/root/anaconda3/lib/python3.6/logging/__init__.py", line 992, in emit
    ms

[2019-05-09 02:23] dulkith opened #28537 "Dataset train terminate and Logging error"
`python retrain.py \
--bottleneck_dir=/tf_files/bottlenecks \
--how_many_training_steps 500 \
--model_dir=/tf_files/inception \
--output_graph=/tf_files/retrained_graph.pb \
--output_labels=/tf_files/retrained_labels.txt \
--image_dir /tf_files/data_set`

Ths is my training code

Traceback (most recent call last):
  File "/root/anaconda3/lib/python3.6/logging/__init__.py", line 992, in emit
    ms

[2019-05-09 02:38] jaydevtrivedi commented on #18266
tensorflow 2.0.0-alpha0
cache lockfile already exists.  When going for the 2nd epoch, of evaluation, the previous lock file isn't removed i can see it on the file system.  Doesnt happen with training data hence it fires this error as it cant get hold of ds.cache(file) it seems:
Code:

    def get_ds_tfdata_cache(self, X_train, y_train, batch_size, load_preprocess_image, filename):
        import t

[2019-05-09 03:04] akiroselin commented on #26639
Same question

[2019-05-09 03:07] KUASWoodyLIN commented on #28334
@muddham
```train_dataset = mnist_train.repeat(2).map(scale).shuffle(BUFFER_SIZE).batch(BATCH_SIZE)```
Add repeat(2) fixed the problem is because:
120000(train_num * repeat) / 64(batch) = 1875 it can be divisible.
if change batch size to `62`:
120000(train_num * repeat) / 62(batch) = 1935.48, Even though you repeat it 2 time error will still come out.

I think the best solution is fix `tf.data`, t

[2019-05-09 03:21] scooter4j commented on #28323
I could use Colab for manual validation - not sure how to run your existing suite of automated tests against my change on GPU. That's ok - maybe it'll become clear to me when I get in there. Plus I suppose I'd see if I broke any tests when I create a PR, and could adjust.

[2019-05-09 03:35] RoyIronGrey commented on #27807
Yes, It works. But why does it cost more time and unsteady?(Maybe I made some mistakes)
Below it's the difference
[code]
[code]

[2019-05-09 04:30] Rajamohanreddyai commented on #26945
hi,
check this one, run the below command from research path
you can do manually

From tensorflow/models/research/
export PYTHONPATH=$PYTHONPATH:pwd:pwd/slim

protoc --python_out=. .\object_detection\protos\calibration.proto
protoc --python_out=. .\object_detection\protos\preprocessor.proto
protoc --python_out=. .\object_detection\protos\anchor_generator.proto

and verify below video
https://youtu

[2019-05-09 04:41] gunan commented on #27505
@chsigg to confirm.
It is actually documented in multiple places that we officially support cuda compute capabilities >= 3.5.
In configure script, it is documented here:
https://github.com/tensorflow/tensorflow/blob/master/configure.py#L999
And in the website it is documented here:
https://www.tensorflow.org/install/gpu#hardware_requirements

So we did push the minimum official support to >=3.5 an

[2019-05-09 05:16] venuktan commented on #28537
#

[2019-05-09 05:20] guptapriya commented on #27696
This should be fixed in master now.

[2019-05-09 05:20] #27696 closed

[2019-05-09 05:25] mrry commented on #28114
I think this was fixed by the change to concat_op.cc in https://github.com/tensorflow/tensorflow/commit/2d0531d72c7dcbb0e149cafdd3a16ee8c3ff357a, which added [these lines](https://github.com/tensorflow/tensorflow/blame/f4815551dc19b2149a70f20dba5a6c043e627a5b/tensorflow/core/kernels/concat_op.cc#L65-L87). That change isn't part of TensorFlow 0.12.0, but it looks like it became available with 1.8.0

[2019-05-09 05:25] #28114 closed

[2019-05-09 05:39] jchia commented on #14357
@ebrevdo

Does the `tf.contrib.layers.batch_norm` workaround work if I'm not doing the usual `optimizer.minimize()` training, but using `optimizer.compute_gradients()` on multiple small batches, adding up the gradients, and then calling `optimizer.apply_gradients()` on the summed gradients? Will the BN moving mean & variance get update once every small batch, every `apply_gradients()` or never?

T

[2019-05-09 05:46] fischeru commented on #28511
Both times I compiled with bazel from the same commit. Once the libtensorflow_cc.so with the command 'bazel build  //tensorflow:libtensorflow_cc.so'. The resulting shared library is then used, I don't think it matters in which build system. As far as I understand the library is missing the above mentioned op.

But when I compile my cpp directly with bazel inside the repo everything works out. My c

[2019-05-09 05:57] momo1986 commented on #28512
Hello, @wdirons , William.

Thanks for your reply.

However, when I run the script, some problems happen.

I am not sure what type of language features in my old code will cause the error-report? How can I fix the problem?
Thanks & Regards!

[2019-05-09 06:00] Dayananda-V commented on #28438
Range op quantization support found ynder #27103

[2019-05-09 06:09] anilsathyan7 commented on #26297
Hi @ktgordon , @gnsmrky ,
                      Are you suggesting that ssbo method would not work with normal GLSurfaceView? What about something like GLTextureView( [link1](https://github.com/ykulbashian/LiquidSurface/blob/master/liquidview/src/main/java/com/mycardboarddreams/liquidsurface/GLTextureView.java), [link2](https://github.com/google/grafika/blob/master/app/src/main/java/com/android/gr

[2019-05-09 06:14] muddham commented on #28463
@shizukanaskytree  This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/t

[2019-05-09 06:58] chsigg commented on #27505
Correct, we no longer support compute capability < 3.5, even when building from source.

[2019-05-09 06:58] #27505 closed

[2019-05-09 07:04] byronyi commented on #28411
Should be fixed by c9e93a1bbfb7041e9f86c6c73ec617afc5bbcb51, but got the following error:

[code]

[2019-05-09 07:06] hmchaitra opened #28538 "IDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running."
**System information**
- OS Platform and Distribution Linux Ubuntu 16.04

- TensorFlow installed from pip:
- TensorFlow version 1.13:
- Python version 3.5:
- Installed using created virtualenvironment and then used ubuntu command to install :

- GPU model and memory   NVIDIA Corporation GT218 [GeForce 210] (rev a2)

# Install NVIDIA driver
apt-get install --no-install-recommends nvidia-410 .

to c

[2019-05-09 07:38] beingsagir opened #28539 "Tutorials next_step page is giving 404"
## URL(s) with the issue:

https://www.tensorflow.org/tutorials/next_steps

## Description of the issue (what needs changing):
This page is not opening

### Clear description

Link is getting 404

### Request visuals, if applicable

![404     Page Not Found     TensorFlow](https://user-images.githubusercontent.com/1620769/57435595-65fa3e80-725b-11e9-81da-8394e7147ca7.png)

[2019-05-09 08:11] androuino opened #28540 "Crashing on TF Detect Android sample with Yolov3-tiny model"
I converted Yolov3-tiny model (Trained from scratch) with [DW2TF](https://github.com/jinyu121/DW2TF). Then I put .pb file to assets and changed MODE == DetectorMode.YOLO in **[DetectorActivity.java](https://gist.github.com/androuino/2b67d88d00bc52ac181740fa475828c4)**.

When I start TF Detect app I have a crash:
[code]

Thank you in advance for the help.

[2019-05-09 08:16] meteorcloudy commented on #28388
@hlopko Is it possible to write a cc_static_library in Starlark now?

[2019-05-09 08:20] achandraa commented on #28113
@arrowd : Can we open a new issue (bug/feature) if it is not related to the issue at hand. We would be happy to help on that and also it would be very easy for us to track. Meanwhile can we close this since it is resolved. Let us know. Thanks!

[2019-05-09 08:22] meteorcloudy commented on #28047
@jeffsaremi The file looks correct to me, can you run it in cmd.exe and see what's the output?

[2019-05-09 08:23] Jsevillamol commented on #28232
@jvishnuvardhan I can no longer reproduce the issue!

[2019-05-09 08:23] #28232 closed

[2019-05-09 08:41] achandraa commented on #28215
After checking again and trying on default Colab environment in a fresh Python 3 notebook with TensorFlow version 1.13.1,  I was able to reproduce the issue with the outputs you have provided. Below  are the result :

Runtime : CPU
Initial value of iterations : 1
Result : -0.49368942

Runtime : GPU
Initial value of iterations : 0
Result : -0.05648327

[2019-05-09 08:42] hlopko commented on #28388
@oquenchil will know for sure :)

[2019-05-09 08:44] LucaCappelletti94 commented on #19370
Same problem.

[2019-05-09 08:45] muddham commented on #28499
@fsx950223 Request you to please refer the [link1](https://www.tensorflow.org/guide/debugger), [link2](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/debug/examples/debug_mnist.py).This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questi

[2019-05-09 08:53] achandraa commented on #28197
@yuanqing-wang : Good to know that it worked for you. We will be happy to help in case you get any other related issues. Thanks!

[2019-05-09 09:09] achandraa commented on #28449
@cseas : Can you please help us to know the origin of this link. Is it directed somewhere from TensorFlow official website ? Thanks!

[2019-05-09 09:09] semal commented on #26209
using tensorflow 1.12, it is working.

[2019-05-09 09:23] remydubois opened #28541 "tf.data.Dataset.padded_batch does not actually pad data when working on multiple GPUs."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
X
- **TensorFlow installed from (source or binary)**:
Binary
- **TensorFlow version (use comman

[2019-05-09 09:36] achandraa commented on #28398
@ispmarin : I am able to reproduce the issue on colab with TensorFlow version 2.0.0-alpha0

[2019-05-09 09:41] SharoneDayan commented on #27557
I have the same issue. Any updates?

[2019-05-09 09:43] henrysky commented on #27543
is there a schedule for this issue to be fixed?? Because I really want this issue to be fixed before 2.0.0a1 so that I can see if there is any further issue in my CI tests.

[2019-05-09 09:55] achandraa commented on #28440
@durandg12 : I was able to reproduce the output with TensorFlow version 2.0.0-dev20190313 and 2.0.0-alpha0.

[2019-05-09 10:02] ylz1104 commented on #19838
In my opinion  it caused by tf.cond(),but without any solutions,unless remove this node.

[2019-05-09 10:06] botastark opened #28545 "problem with installation"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MAC Yosemite 10.10.5 (14F27)
-

[2019-05-09 10:14] muddham commented on #28520
@Dinghow Did you get chance to upgrade Tensorflow to TF 1.13 as mentioned by rootkitchao , Please find the [link](https://www.tensorflow.org/install/source) for installation. Please let us know how it progresses. Thanks!

[2019-05-09 10:22] Rajamohanreddyai commented on #11597
Hello all,

just follow the below video and export your own model with in a 10 seconds

https://youtu.be/w0Ebsbz7HYA

[2019-05-09 10:24] Rajamohanreddyai commented on #5827
Hello all,

just follow the below video and export your own model with in a 10 seconds

https://youtu.be/w0Ebsbz7HYA

[2019-05-09 11:06] achandraa commented on #28512
@momo1986 : Did you get chance to have a look on this [link](https://www.tensorflow.org/alpha/guide/migration_guide). Let us know if that helps. Thanks!

[2019-05-09 11:21] sleighsoft commented on #28523
I am somtimes training on a very large dataset and I would like to have a checkpoint in case something goes wrong within an epoch.
If that is something for the future than maybe we should rename this issue to something more fitting so that future development can simply use this issue to track it.

[2019-05-09 11:30] yjfncu opened #28547 "ssd_mobilenet_v2 model convert tflite errors"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow 1.12, python 3.6.5
I use tensorflow object_detection train ssd_mobilenet_v2 model on my own dataset, and this code(https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tensorflowlite.md) convert trained ckpt model to pb, and use this .pb file predict on my da

[2019-05-09 11:50] sunzhe09 commented on #28144
sorry for my lately，here is my test model.pb
，I convert it 。the input node is Placeholder  ，output node is  sigmoid。you can freeze it！

[2019-05-09 11:51] sunzhe09 commented on #26730
Thx！

[2019-05-09 11:51] #26730 closed

[2019-05-09 12:05] achandraa commented on #28515
Looks like we have come across similar issue. Please have a look on #27952. Let us know if it is not the same. You can also have a look on #21725. Thanks!

[2019-05-09 12:08] Harmonicahappy commented on #15805
did you assign `initial_state` with zero by `tf.zeros`? If your answer is yes, then `tf.zeros` will use `tf.fill` internally. What if we use `tf.placeholder`? Which means that we define a placeholder for `initial_state` and feed zeros to in `feed_dict` when in inference mode.

[2019-05-09 12:10] Harmonicahappy commented on #15805
did you assign initial_state with zero by tf.zeros? If your answer is yes, then tf.zeros will use tf.fill internally. What if we use tf.placeholder? Which means that we define a placeholder for initial_state and feed zeros to in feed_dict when in inference mode.

[2019-05-09 12:15] EelcoHoogendoorn commented on #23410
Same issue here, going to python 3.7 on OSX, using conda-forge built tensorflow 1.13.1, gives the same error.

Is there any timeline on when there will be a release that solves this in a production-ready fashion? I know beggars cant be choosers, but this hiccup in going to python 3.7 comes at a bad time, so a fix would be much appreciated. If the nightly takes care of it, it seems pushing out a pa

[2019-05-09 12:16] wenrouruwanlian commented on #20332
who have solved this problem? help me

[2019-05-09 12:29] achandraa commented on #28503
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-05-09 12:33] achandraa commented on #28500
Please provide details about what platform you are using (operating system, architecture). Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/is

[2019-05-09 12:44] muddham commented on #28523
@sleighsoft Able to reproduce the issue with the first snippet code, the output is as below.

--> 687       session.run(self._save_counter_assign)
    688     if checkpoint_number is None:
    689       checkpoint_number = save_counter

AttributeError: 'NoneType' object has no attribute 'run'.

After running the second snippet code, the output is as below.

     32 train = tf.function(train)
--->

[2019-05-09 12:49] muddham commented on #28517
@spacelg We encourage you to use bazel to build TF, unfortunately we do not support cmake builds for TF. Thanks!

Here are the links to build TF ,
Build from source - https://www.tensorflow.org/install/source_windows
Build from pip - https://www.tensorflow.org/install/pip (select windows in step 1 and 2)

Please let us know how it progresses. Thanks!

[2019-05-09 12:54] Dinghow commented on #28520
Thanks for your suggestion, but it's a pity that I must use tensorflow1.4 for a paper reproduction. And I think this problem is due to the compatibility for new GPU too, anyway, I'll try to edit the codes for TF1.3.

[2019-05-09 12:57] muddham commented on #28508
@tsawada From the above referenced issue, can see a PR was raised, Can you please check if this is resolved after this change got merged.

[2019-05-09 13:03] sleighsoft commented on #28523
As @allenlavoie says https://github.com/tensorflow/tensorflow/issues/28523#issuecomment-490584848
CheckpointManager does currently not support writing checkpoints in graph mode as there are some underlying C++ ops missing to do so.
The error you are getting is from my point of view basically some old tf1 code leftover copy&paste code.
Correct me if I am wrong.

[2019-05-09 13:08] serv-inc commented on #28365
@ymodak: It's now at https://github.com/tensorflow/tfjs/issues/1576. Thanks!

[2019-05-09 13:35] amirmgh1375 commented on #20732
you just need to add *.so compiled file generated by model implementation.
as follows add this line before session and import meta graph.
`tf.load_op_library('<compiled_filename>.so')`
for example. i compiled a model that contains a `RoiPooling` layer and generated `roi_pooling.so` file. so that i added this line to my code
`tf.load_op_library('op/roi_pooling.so')`

and finally it works : )

[2019-05-09 13:36] starkdm opened #28551 "Tensorflow build issue on Windows"
**System information**

- OS Platform and Distribution: Windows 10 1809 Build
- TensorFlow installed from (source or binary): source
- TensorFlow version: latest (get with `git clone`)
- Python version: 2.7.16
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): 0.23.0
- CUDA/cuDNN version: not installed

**Problem**

I need to build Tensorflow on Windows for

[2019-05-09 13:39] amirmgh1375 commented on #20899
you just need to add *.so compiled file generated by model implementation.
as follows add this line before session and import meta graph.
tf.load_op_library('<compiled_filename>.so')
this function add a new op in tensorflow runtime.
for example. i compiled a model that contains a RoiPooling layer and generated roi_pooling.so file. so that i added this line to my code
tf.load_op_library('op/roi_poo

[2019-05-09 13:39] Jonathan-Livingston-Seagull commented on #26218
We are experiencing the same issue even with tf-2.0. The model we use consumes approx 1GB of  more GPU memory than the pytorch implementation of the same model, though tf model is way faster. Looking forward to the solution.

[2019-05-09 13:39] vgoklani opened #28552 "W ./tensorflow/core/framework/model.h:202] Encountered a stop event that was not preceded by a start event."
This is running on tensorflow v2 alpha on a GPU (NVIDIA RTX 2080ti)

This message keeps showing up in the logs, and I'm not sure how to dig further. Training has been very slow, and I'm guessing that it's because of this:

    W ./tensorflow/core/framework/model.h:202] Encountered a stop event that was not preceded by a start event.

This error occurs when I call the model.fit function:

    def g

[2019-05-09 13:40] amirmgh1375 commented on #23703
you just need to add `*.so` compiled file generated by model implementation.
as follows add this line before session and import meta graph.
`tf.load_op_library('<compiled_filename>.so')`
this function add a new op in tensorflow runtime.
for example. i compiled a model that contains a `RoiPooling` layer and generated `roi_pooling.so` file. so that i added this line to my code
`tf.load_op_library('o

[2019-05-09 13:41] amirmgh1375 commented on #27752
you just need to add `*.so` compiled file generated by model implementation.
as follows add this line before session and import meta graph.
`tf.load_op_library('<compiled_filename>.so')`
this function add a new op in tensorflow runtime.
for example. i compiled a model that contains a `RoiPooling` layer and generated `roi_pooling.so` file. so that i added this line to my code
`tf.load_op_library('o

[2019-05-09 13:54] SumanthMeenan commented on #16214
I also faced the same issue then i tried
sudo apt install cuda-command-line-tools-9-0
This is working

[2019-05-09 14:05] muddham commented on #28526
@claynerobison Request you to please follow the steps mentioned in the [link](https://www.tensorflow.org/install). In the log it says could not find cudaconfig.h so if you want to install TF gpu,Please install relevant components as per the OS and let us know how it progresses. Thanks!

[2019-05-09 14:10] grahamwhiteuk commented on #25144
I'm getting the same compiler error, using:
- Fedora 29 and the NVidia Drivers + Cuda 10.0 libraries from [Negativo 17](https://negativo17.org/repos/nvidia/fedora-29/x86_64/)
- bazel: 0.19.2
- protobuf: 3.5.0
- python: 3.7.3
- gcc: 7.3.1
- cuda: 10.0
- cudnn: 7.4.2
- nccl: 2.4.2

I've attempted to match my versions as closely as possible to the [tested build configurations](https://www.tensorflow.

[2019-05-09 14:10] Nayana-ibm opened #28553 "TensorFlow test execution fails with Bazel v0.24.1 on s390x"
**System information**
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 18.04 s390x**
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **NA**
TensorFlow installed from (source or binary): **Source**
TensorFlow version: **current master**
Python version: **2.7.x**
Installed using virtualenv? pip? conda?: **Building from source**
Ba

[2019-05-09 14:13] muddham commented on #28457
@syedalamabbas Since it is not a bug or feature request, this issue will be closed. Thanks!

[2019-05-09 14:13] #28457 closed

[2019-05-09 14:18] muddham commented on #28394
@Atrus619 Please provide a smaller reproducible code so that it will be easy to debug. Thanks!

[2019-05-09 14:24] sayakpaul opened #28554 ""The tensorboard module is not an IPython extension." in Google Colab"
I am running the `image_summaries.ipynb` notebook from this [tutorial](https://www.tensorflow.org/tensorboard/r2/image_summaries) on Colab. Even on Colab, `%load_ext tensorboard` is not working and the message is -

`The tensorboard module is not an IPython extension.`

TensorFlow version:  2.0.0-dev20190509

[2019-05-09 14:24] jenselofsson opened #28555 "Building TensorFlow Lite Micro for TARGET=bluepill fails"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): Source
- TensorFlow version: b02f70947d
- Python version: 3.6
- Installed using virtualenv? pip? conda?: NA
- Bazel version (if compiling from source): 0.25.1

[2019-05-09 14:28] muddham commented on #28334
@KUASWoodyLIN As this is resolved, this issue will be closed.

[2019-05-09 14:28] #28334 closed

[2019-05-09 14:37] xlambein commented on #10021
@bipinkc19 If you do the maths, you'll see that class weighting is strictly equivalent to sample weighting.  Cross entropy loss for a given sample with class `c` is defined as (in pseudocode):

```loss = sum(w[i] * y[i] * log(p[i]))```

where `w[i]` is the weight for the `i`th class, `y` is the one-hot encoding of `c`, and `p` is the softmax probabilities.  If you consider that the sample of that

[2019-05-09 14:37] muddham commented on #28304
@MChaus Could you please try installing TF using Conda [link](https://anaconda.org/anaconda/tensorflow-mkl). Please let us know how it progresses. Thanks!

[2019-05-09 14:38] Scofield666 commented on #28500
Actually, the problem above is innocuous.
But I have another question that when I compile the tensorflow1.11 following [instructions](https://www.tensorflow.org/install/install_sources) in conda environment, which environment does this version of tensorflow exist? In this conda environment or in my base environment?

[2019-05-09 14:48] Scofield666 commented on #28500
Here I add my system info for your reference.
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Mint 17.3 Rosa
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.11
- Python version: 3.6
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): 0.15.0
- GCC/Compiler version (if compiling from source

[2019-05-09 14:50] jiteshm17 commented on #24828
Thanks a lot. This worked for me. My CUDA version is 10.0 and cuDNN is 7.4.2

[2019-05-09 14:59] gnsmrky commented on #26297
@ktgordon Just got it working!  Indeed, the dummy shared context is the key to make it work.  I guess the GLES context setting/switching can be a lot more complicated then one can imagine...

@anilsathyan7 I based on the [TFLite demo](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/java/demo), which is the main sample project that [TFLite GPU delegate page](https://www.tensorf

[2019-05-09 15:08] sveah opened #28556 "AttributeError: module 'tensorflow_hub.tf_v1' has no attribute 'estimator'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Mojave 10.14.3 (18D109)

[2019-05-09 15:10] jeffsaremi commented on #28047
@meteorcloudy
Is this what you asked for?
[code]

[2019-05-09 15:11] jeffsaremi commented on #28047
I think there is something wrong with the parameters I am choosing. For instance --config. I don't know why I chose monolithic but the documentation didn't really advise anything on this.

[2019-05-09 15:16] meteorcloudy commented on #28047
Almost, can you try to run `bazel-tensorflow\external\local_config_cc\get_env.bat` and see what happens? Because the following error looks like comes from running this script.
[code]

[2019-05-09 15:27] liiutengbo opened #28557 "tensorflow 1.13.1 and RTX 2080 Ti"
tensorflow 1.13.1 can only  identify the max compute capability is 72, but RTX 2080 ti is 75,how can they are used together ?

[2019-05-09 15:40] tarrade commented on #27696
@guptapriya same observation as @AntGul I am getting the same error:
`ValueError: Only TensorFlow native optimizers are supported with DistributionStrategy.`

I am using tf-nightly-2.0-preview-2.0.0.dev20190509

[2019-05-09 15:48] jeffsaremi commented on #28047
I ran that and got the same error complaining about the ==.
I then did this:
`set VSCMD_DEBUG=3`
to get debug prints from the `vcvarsall.bat `in `VisualStudio`
and upon examining the print outs I realized that I had a `"` (double quote) in my path, caused by having an entry which itself had a semicolon in it.
After fixing the path, I ran the build and is running with no problems.
We can close this

[2019-05-09 15:48] #28047 closed

[2019-05-09 15:56] tarrade commented on #27583
The issue was not fixed with the PR, please reopen the ticket. Thanks

[2019-05-09 16:05] kmader commented on #22377
I am having the same issue with a fully convolution 1D network (in tf.keras having variable model size is not a problem). I export the model with a fixed size of 180x3 (since it won't export with None in any dimension) and then when I try to change the size with ResizeInput I get the message above.

[2019-05-09 16:14] yongtang commented on #27583
@tarrade The page is pointing to 2.0.0alpha so it still use the docstring in 2.0.0 python. The PR #27596 fixes the issue in the master branch, it will show up in the next release of 2.0.0 (alpha or beta), then the web page will be re-rendered to capture the change.

I will re-open the issue for now, though I think once the next release of 2.0.0 (alpha or beta) is out the page will be updated and c

[2019-05-09 16:34] sleighsoft opened #28558 "Tensorflow v2 Variable name uniquification for Keras Layers in eager is inconsistent"
Tensorflow v2.0a

When creating e.g. keras models I would assume, that when I run `make_generator_model` twice in eager mode that the `trainable_variable` names are identical.

**Why would I assume this?**
Because the `tf.train.Checkpoint` and `Checkpointable` api makes you believe that variables are coupled with their corresponding object/class and uniquification of variables would be no longer n

[2019-05-09 16:38] OmriKaduri commented on #22794
After spending some time on it, for tensorflow-gpu 2.0 (alpha), on Windows 10 try to install:

1. python 3.6
2. CUDA v10.0
3. cudnn 7.4.1.5

[2019-05-09 16:44] ezhulenev commented on #28411
@anuj-rawat any ideas what's the problem here?

@byronyi what bazel command are you trying to run? It seems that this problem might be coming from wrong combination of compiler flags. Something similar: https://github.com/xianyi/OpenBLAS/issues/1797

[2019-05-09 16:55] tarrade commented on #27583
@yongtang ah ok got it. Since this was independend of a Tensorflow version (the format), I was think it will be probagated to the main branch and I could see the update on the main page. I am fine to have the ticket closed since the issue is really fixed.

[2019-05-09 17:11] jvishnuvardhan commented on #27583
I am closing the issue as it was resolved. I have checked that the PR was merged already. It will reflect on the website soon. Thanks!

[2019-05-09 17:11] #27583 closed

[2019-05-09 17:24] jvishnuvardhan commented on #28539
@beingsagir Where did you find the link to `next_steps`? Could you share that link? Thanks!

[2019-05-09 17:27] anuj-rawat commented on #28411
I think the problem might be that `_mm256_maskz_loadu_epi16` requires AVX512VL and AVX512BW. I will update the API similar to what you did in AVX/PacketMath.h to only use AVX intrinsics. If I am unable to do that, I will add a guard.

[2019-05-09 17:37] Nayana-ibm commented on #28553
@gunan Could you please advice

[2019-05-09 17:41] mihaimaruseac commented on #28526
Also, that commit doesn't seem to exist

[2019-05-09 18:03] olesalscheider commented on #28028
I agree that it would be nice to have an example with batch normalization.

I also stumbled about this when I converted my code to TF 2: In graph mode you had to run the collected update ops from your model. In eager mode all updates were done in place and the call to updates() just did nothing. But once I wrapped my training step in a tf.function I ended up getting an error and it was really not

[2019-05-09 18:06] robieta commented on #28181
@CJMenart is correct; the model.call is incorrect.

In this line:
[code]
x is a symbolic Tensor. When you call `np.sum`, it retrieves the Tensor `__sum__` attr, which in the case of TensorFlow is the element wise sum. (And the sum of a single element is just an identity) And so `tf.summary.scalar` is correctly telling you that the value you passed is not a scalar. The function that you want is `tf

[2019-05-09 18:17] alextp commented on #23780
Just remove "google3" from the example and it should work.

[2019-05-09 18:22] hoonkai opened #28563 "TFLite GPU delegate produces very different results"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution: Linux Ubuntu 16.04)
- Mobile device if the issue happens on mobile device: LG V30 Android 8.0.0
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 0.0.0-gpu-experimental
- Python version: 3.6.5

**

[2019-05-09 18:24] alextp commented on #27820
TensorFlow will by default only use a single GPU. To use multiple GPUs you need to either do data or model parallelism. The easiest way to do data parallelism is using distribution strategies; take a look at mirrored strategy or our [tf2 guide on distributed training](https://www.tensorflow.org/alpha/guide/distribute_strategy).

cc @guptapriya

[2019-05-09 18:40] wdirons commented on #28553
Hi @Nayana-ibm , For Power, we have started to include `--host_javabase=@bazel_tools//tools/jdk:remote_jdk11` on the command line. Perhaps you can try that.

Because it is a test option (and not a bazel general option) it has to be included after the `test` argument (and not before)

[2019-05-09 18:41] ymodak commented on #28537
duplicate #28536

[2019-05-09 18:41] #28537 closed

[2019-05-09 18:45] wdirons commented on #28526
This was fixed yesterday by: https://github.com/tensorflow/tensorflow/commit/98bf24deb21e8d0b5c11aedfe655f6f7a5e022ad

The GPU builds were working fine, it was the non gpu builds that could failed finding cuda.h :)

[2019-05-09 19:02] abdo96 commented on #23780
But I had another problem I used python3.6 and I countered this problem "AlreadyExists error"

[2019-05-09 19:07] ymodak commented on #28020
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-05-09 19:07] #28020 closed

[2019-05-09 19:22] Knize commented on #28373
@muddham Looks like downgrading to 1.12 helped. Thank you.

[2019-05-09 19:26] cseas commented on #28449
I'm not sure about the TenforFlow website, but the CodeLab link is referenced here:
https://www.youtube.com/watch?v=cSKfRcEDGUs

The video mentions the link to the CodeLab:
 https://goo.gl/QTwZ3v

I can now see that this CodeLab has been deprecated and an alternate TF 2.0 Notebook has been provided for the same. However, I feel that the original link is more intuitive and explains the process in a

[2019-05-09 19:44] reactivetype commented on #23714
@mrgloom has made a good point. Why is NMS custom ops only supporting SSD model? Is there a plan to support non-SSD models that use `tf.image.non_max_suppression?`

[2019-05-09 20:16] CJMenart commented on #28181
So if I understand correctly what's happened here...model.call was supposed to do things in eager mode; that's what I initially assumed would be the case in 2.0. And in fact, it was supposed to do things in eager mode (in the default case, of course), but it was actually building a graph with symbolic tensors, a la the default method of model construction in 1.x. As such, the output which confused

[2019-05-09 21:05] myron commented on #22095
Hi, so I can't test TF 1.13 yet (I cant upgrade to CUDA10 just yet).
But for my setup, I get this bug (try both images_sizes)

TF 1.12.2
CUDA9
NVIDIA driver 418.56
Ubuntu 16.04
Python 3.6
cudnn 7.5

here is the snipper
[code]

[2019-05-09 21:06] miguno commented on #26835
👍 Same problem.

[2019-05-09 21:17] robieta commented on #28181
This is intentional. Even though eager is the default execution mode in TF 2.0, keras defaults to symbolic computation because it is more efficient for the sorts of computation that keras is typically used for. (Namely, the same computation over different data.) You can enable eager execution inside of a layer's call method either on an individual basis (by passing `dynamic=True` to a Layer's cons

[2019-05-09 21:18] jgung opened #28570 "TF 1.13.1 SequenceExample & Dataset/Estimator Saved Model: No attr named 'Ncontext_sparse' in NodeDef"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OS X 10.14
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.13.1
- Python version: 3.6.5
- CUDA/cuDNN version: N/A
- GPU model and memory: N/A

**Describe the current

[2019-05-09 21:22] miaowang14 commented on #27807
I guess the performance issues could be related two possible causes:
1. There are still operations in the Model not supported by NNAPI, so they fallback to TFLite CPU implementation. The overhead and sync cost between multiple subgraphs  could be high.
2. The model itself is a floating point model, while Mi8 may just have an hardware accelerator (Hexagon DSP) that can only accelerate quantized 8bi

[2019-05-09 21:23] miaowang14 commented on #27807
I will mark this specific issue as fixed. But feel free to keep comment on it or create new ones if you have questions about the performance and NNAPI delegate.

[2019-05-09 21:23] #27807 closed

[2019-05-09 21:34] ymodak commented on #27342
That's great to hear. Can you please share your solution? It may help other users coming across this issue in the future. Thanks!

[2019-05-09 21:34] #27342 closed

[2019-05-09 21:41] anuj-rawat commented on #28411
I could recreate the build failure. I am sure it is because of `_mm256_maskz_loadu_epi16` requiring AVX512VL and AVX512BW. Since currently this API is not used anywhere, I will remove it for now and create an Eigen PR.

[2019-05-09 21:52] TheDraguun commented on #23873
no news yet? I keep hearing ppl suggesting moving towards pytorch because tf keras unfinishedness ... I think the move towards eager keras will lower the entry barrier, but maybe the announcement should have waited for a more mature state of tf keras w.r.t customization and interop with the rest of tf...

[2019-05-09 21:55] melissagrueter commented on #28195
Hmm, let me back up a bit -- could you clarify why you believe this a naming issue? I don't quite see it yet.

The nodes that cause NestedLoop to fail seem to already be named uniquely depending on which graph they're in — their names all include inner_loop:

{{node test_loop/body/**inner_loop**/Merge}} has inputs from different frames. The input {{node test_loop/body/**inner_loop**/NextIteration}

[2019-05-09 21:57] jgung commented on #28570
For anyone experiencing this issue, you can work around it in the Estimator API by exporting your saved model using [export_savedmodel](https://www.tensorflow.org/api_docs/python/tf/estimator/Estimator#export_savedmodel) with `strip_default_attrs` set to `False`. This isn't ideal since it may hurt the forwards compatibility of your exported model.

[2019-05-09 21:57] ZhaoWang-IIT opened #28572 "Does the order matter for importing tensorflow and keras?"
**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04;
- I create a conda virtual environment:
conda create -n tf_gpu tensorflow-gpu
conda activate tf_gpu
- TensorFlow installed in conda virtual environment:
conda install -c conda-forge/label/cf201901
- TensorFlow version: 1.14.1-dev20190424;
- Python version: 3.6.7;

**Problem (1)**
I am running python in linux terminal and ge

[2019-05-09 22:12] gsrujana89 commented on #22854
Hi, any resolutions to this? I am getting the same issue with nvidia docker 19.01-py2

[2019-05-09 22:20] farhan333 commented on #18731
Anybody have any luck with this?

[2019-05-09 22:34] KichangKim commented on #28028
@robieta Thanks for clarification. I think that this also should be clearly described in documents for new users. Current training sample (Eager without tf.function) is extremely slow as you described, so it makes user misunderstand that TF 2.0 is slow (like me).

I know that TF 2.0 is in the early stage, but these issue makes me that hard to investigate whether an issue is intended behaviour or b

[2019-05-09 22:42] #28532 closed

[2019-05-09 22:44] fuzzyBatman commented on #28532
I used **keras** and **tensorflow.keras** interchangeably.
So my answer to _Have you written custom code_ is a Yes.

[2019-05-09 22:45] qlzh727 commented on #28185
From the docstring in the call() method of PhasedLSTMCell, its quite clear that its expecting two tensor, and the shape are (batch, 1) and (batch, features_size). So the timestamps input in your code snippet is actually not correct. The shape of that should be
[code]

[2019-05-09 23:09] celinew1221 opened #28577 "tensorflow 2.0 giving tf.print message while using rejection_resample"
I am using rejection_resample from tensorflow v2.0, this is giving me the following message. While this is no big deal, it is kind of annoying. I don't think this is an issue on my end, I didn't use any tf.print. It will be great to turn this off. Thank you.

[2019-05-09 23:11] celinew1221 opened #28578 "tensorflow 2.0 from_generator"
While using from_generator, tensorflow is giving me this message. Is there a way to turn this off?

[2019-05-09 23:16] cobujo commented on #27260
I was getting an error trying to use fit_generator and one of the strategies in tf.distribute.Strategy and came across this thread.  So it looks like use_multiprocessing as well as any tf strategies that use multiple workers/GPUs does not work with fit_generator.

What would be the best solution here?  Do I have to change my generator to a tf.Dataset object?

[2019-05-09 23:20] jlebar opened #28579 "[XLA] AlgebraicSimplifierTest::DotContractingReorder_NoChangeInContractingDimsOrder is broken (reads out-of-bounds in an array)"
https://github.com/tensorflow/tensorflow/commit/3eb4a44f0536888881d49df60c18f528b7122d25 fixed a bug in `AlgebraicSimplifierTest::DotContractingReorder_NoChangeInContractingDimsOrder` that was causing it not to run.

With that bug fixed, the test now crashes XLA!  STR, get rid of "DISABLED_" from the front of the test and run it.  It should crash with an out-of-bounds array access in `ComposePermu

[2019-05-09 23:21] mhurliman commented on #28130
Both versions of the input pipeline are available in the gist I linked above. Given references to the synthesized input directories it should work out of the box.

[2019-05-09 23:21] qlzh727 commented on #26547
Thank for reporting the issue. let me take a look.

[2019-05-09 23:27] reedwm commented on #28491
Thank you for the detailed and informative bug report! According to the [Valgrind FAQ](http://www.valgrind.org/docs/manual/faq.html#faq.deflost):

All the bytes valgrind reports are "still reachable". My guess is that Valgrind is reporting the allocations from global variables, like [this one](https://github.com/tensorflow/tensorflow/blob/6f980870f3861c38599cfdbbb20dd2b69f2c28d4/tensorflow/core/co

[2019-05-09 23:27] #28491 closed

[2019-05-09 23:29] jsimsa commented on #28130
Thanks!

[2019-05-09 23:37] BinFan commented on #28579
Sure. I'll take a look.

[2019-05-10 00:07] SchenbergZY commented on #27979
Yes it is the default colab.

[2019-05-10 00:28] kiitosu commented on #26209
you can do that with this command.
sudo apt purge cuda
sudo apt autoremove
sudo apt install cuda-10-0

And now it is working.

[2019-05-10 00:36] wangpengmit commented on #26104
@awav, a fix is in flight, FYI.

[2019-05-10 00:40] KichangKim commented on #28010
Additionally, using "+" operator instead of tf.keras.layers.Add makes this issue same.

[2019-05-10 01:13] RoyIronGrey commented on #27807
Thanks a lot! I'll stay focus on the processing of this project as it really supports my research

[2019-05-10 01:16] monkeypride opened #28580 "keras.layers.BatchNormalization.call() with default training param does not reflect K.learning_phase() Tensor input when fed into feed_dict"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 update 1809
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.12.0
- **Python version**: 3.6.8
- **Bazel version (if compiling from source)**: N/A
- **GCC/Compiler version (if compiling from source)**: N/A
- **CUDA/cuDNN version**: CUDAv9.0.176 /

[2019-05-10 01:22] KaramAbuaisha commented on #26072
To me it happens every time I run the python script. The only time the initialization doesn't have to be repeated is if I'm on a jupyter notebook (unless I reset then kernel, then I have to initialize again)

[2019-05-10 01:29] ajayshankar295 commented on #23683
i am also getting same issue please anybody help me ?????

ImportError                               Traceback (most recent call last)
c:\users\ajays\documents\temp\envs\tensorflow1\lib\site-packages\tensorflow\python\pywrap_tensorflow.py in <module>
     57
---> 58   from tensorflow.python.pywrap_tensorflow_internal import *
     59   from tensorflow.python.pywrap_tensorflow_internal import __ver

[2019-05-10 01:52] ChChwang commented on #20693
I meet the same requestion, did you resole it ?

[2019-05-10 02:05] mwsunshine commented on #28496
I actually have looked into this post, but there are some differences:
1. the poster wants to load his own custom op, while I want to load the built-in op(resampler)
2. TF_LoadLibrary for the poster returns Ok, while returns fails for me.
3. the post haven't figure out how to solve this problem as I know.

[2019-05-10 02:36] djpeterhenry commented on #16291
Please update?  I'm still seeing this issue.

[2019-05-10 02:58] shliang0603 opened #28581 "absl.flags._exceptions.UnrecognizedFlagError: Unknown command line flag 'h'"
@jmhodges @ry @bmabey @djones I want to look at my own parameters in command line. I used `'python main.py -h '`  . But this error occurred 'absl.flags._exceptions.UnrecognizedFlagError: Unknown command line flag 'h''. I use tensorflow-gpu == 1.10.0 . Can you give me some advice ?

*Here is my code :*
[code]

[2019-05-10 03:01] apivovarov commented on #26209
@kiitosu I tried that and still had the same error
When you install `cuda-10-0` on ubuntu 16.04 it does not install `libcudnn.so.7`
To install cudnn you need to download deb package from https://developer.nvidia.com/rdp/cudnn-download
and then install it
[code]
After that `import tensorflow as tf` works!

[2019-05-10 03:23] ChChwang commented on #12745
there are always 2 manchine no matter 8 workers or 6 works, and the IP of them are not fixed.
have you fixed the issue? thanks a lot.

[2019-05-10 03:31] karllessard commented on #27999
Hi everyone,

Often, what slows down the Java API is the reflection operations that occurs when creating the tensors using multidimensional arrays (see [this related issue](https://github.com/tensorflow/tensorflow/issues/8244)). Serializing those arrays directly into a `FloatBuffer` and passing it through [this constructor](https://github.com/tensorflow/tensorflow/blob/c23fd17c3781b21bd3309faa13fa

[2019-05-10 03:57] #28197 closed

[2019-05-10 03:59] achandraa commented on #28413
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-10 03:59] #28413 closed

[2019-05-10 04:00] achandraa commented on #28389
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-10 04:00] #28389 closed

[2019-05-10 04:06] #28407 closed

[2019-05-10 04:07] achandraa commented on #28353
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-10 04:07] #28353 closed

[2019-05-10 04:14] #28464 closed

[2019-05-10 04:42] KevlarTheGreat commented on #24886
Thank you!  This (enabling long path names) worked for me.

[2019-05-10 04:43] achandraa commented on #28518
I tried running the two snippet on Colab using TensorFlow GPU version 2.0.0-alpha0 and noticed that both ran without error but there was difference in execution time.

[2019-05-10 04:56] achandraa commented on #28524
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there and can provide support better for these type of issues. Thanks!

[2019-05-10 05:09] FiveSpeedFrog opened #28582 "tf-nightly-gpu 1.14.1 failed to get device attribute 13 for device 0: CUDA_ERROR_UNKNOWN: unknown error"
My Python version is 3.6.8, the operating system is Windows 10, the CUDA version is cuda_10.0.130,the cudnn version is cudnn-10.0-windows10-x64-v7.5.1.10, the GPU is Nvidia GTX965M, and the tf-nightly-gpu-1.14.1is installed.
When I run  "import tensorflow as tf"
there is no problem.
When I run  "python -c "import tensorflow as tf; tf.enable_eager_execution(); print(tf.reduce_sum(tf.random_normal([

[2019-05-10 05:12] muddham commented on #28373
@Knize As this is resolved. We will close this issue. Thanks!

[2019-05-10 05:12] #28373 closed

[2019-05-10 05:16] muddham commented on #28526
@claynerobison Can you please try the fix suggested by wdirons and let us know. Thanks!

[2019-05-10 05:26] muddham commented on #28403
@gandalflee Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-10 05:26] #28403 closed

[2019-05-10 05:31] muddham commented on #28427
@diemtran1005 Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-10 05:31] #28427 closed

[2019-05-10 05:52] muddham commented on #28436
@007fred50 Request you to please follow the [link1](https://github.com/tensorflow/models/issues/143), [link2](https://github.com/tensorflow/tensorflow/issues/1501).
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-10 05:52] #28436 closed

[2019-05-10 05:54] #28463 closed

[2019-05-10 05:59] muddham commented on #28520
@Dinghow Please let us know if this issue was resolved after lowering to TF 1.3. If its resolved we will close this issue.Thanks!

[2019-05-10 06:00] achandraa commented on #28521
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-05-10 06:06] achandraa commented on #28509
Will it be possible to provide us the minimal reproducible code that can depict the performance improvement. Thanks!

[2019-05-10 06:09] zysNLP commented on #27415
OK, sorry and thankyou very much!

[2019-05-10 06:13] #28472 closed

[2019-05-10 06:14] TomorrowIsAnOtherDay commented on #28509
[code]

[2019-05-10 06:15] #28499 closed

[2019-05-10 06:18] ayush2051 commented on #23698
Hi All,
I am getting a similar error, the snippets I have shared also. I tried to increase the Vocab size too but still got the same error. I have been trying to run it on my CPU only with no GPU installed. Can anyone help in this regard?
<img width="554" alt="Capture3" src="https://user-images.githubusercontent.com/9390908/57506491-8f799f80-7319-11e9-9341-c53957cd4298.PNG">

InvalidArgumentError:

[2019-05-10 06:22] Dinghow commented on #28520
Fine, I still encountered this problem with tf1.3, I finally used pip to install compiled tf1.4 without any errors.

[2019-05-10 06:30] muddham commented on #28520
@Dinghow As this is resolved after pop install tf1.4, we will close this issue. Thanks!

[2019-05-10 06:30] #28520 closed

[2019-05-10 06:30] tsawada commented on #28508
I built latest master `8a8a109e` and my `o_trunc` branch within `tensorflow/tensorflow:devel` docker container, and confirmed that the problem reproduces on the `master`, and not on `o_trunc`.

[2019-05-10 06:32] beingsagir commented on #28539
@jvishnuvardhan
Please visit this link: [(https://www.tensorflow.org/tutorials/keras)]

**search for:** next steps.

[2019-05-10 06:32] WeiYangBin commented on #10779
Terminal input
`open "/Applications/Python 3.6/Install Certificates.command"`

[2019-05-10 06:51] muddham commented on #28466
@ziyigogogo I ran the below codes and respective log is attached.
import tensorflow as tf
from tensorflow.python import keras
from tensorflow.python.keras import layers as KL
from tensorflow.python.keras import models as KM
import numpy as np
print(tf.__version__)

def my_custom_loss_wrapper(input_weight):
    def real_loss(y_true, y_pred):
        # expand the out put of binary_crossentropy(64,64

[2019-05-10 06:54] muddham commented on #28415
@jsl303 Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-10 06:54] #28415 closed

[2019-05-10 07:10] Dinghow commented on #28520
Thanks for your immediate response. In some cases, the TF installed by pip may not be suitable for the users' environment, they must build TF from source, so this issue is still existed, I hope anyone who has solved it totally can share their methods!

[2019-05-10 07:15] harshitAgr commented on #20999
I had same problem I changed the learning rate scheduler callback as below and it worked,

previous implementation:

class LearningRateScheduler(Callback):
    """Learning rate scheduler.
    # Arguments
        schedule: a function that takes an epoch index as input
            (integer, indexed from 0) and current learning rate
            and returns a new learning rate as output (float).

[2019-05-10 07:31] wcq19941215 opened #28585 "The package org.tensorflow.lite.nnapi does not exist"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-10 07:33] wcq19941215 commented on #28585
Excuse me, how long will this nnapi package be completed in org.tensorflow:tensorflow-lite:0.0.0-nightly?

[2019-05-10 07:37] beichen2012 commented on #28459
Thanks for your reply.
Finally, the graph mode works .

[2019-05-10 07:48] wenbotse commented on #17824
Maybe you can take a look at 'bert' code, when define the EstimatorSpec, you can feed the relative values,
      output_spec = tf.contrib.tpu.TPUEstimatorSpec(
          mode=mode,
          predictions={"probabilities": probabilities,
                       "label": label},
          scaffold_fn=scaffold_fn)
get the label after prediction:

result = estimator.predict(input_fn=my_predict_input_fn)

[2019-05-10 07:55] wenbotse commented on #4648
another way can work around this problem,  you can define a "input_fn" with a dataset , and you can use dataset.from_generator(generator, ****),  in the definition of 'generator' you can use yield after read from outside queue , such as Kafka。and estimator predict also return an generator. You can get the result from the predict result generator supply to the caller

[2019-05-10 07:59] jesen8 opened #28586 "build error on aarch64"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  aarch64-linux-gnu
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.13.0-rc2
- Python version: 2.7
- Installed using virtualenv? pip? conda?: native python 2.7
- Bazel version (if compiling

[2019-05-10 08:03] PengchengYan commented on #28164
yes, it has been resolved@jvishnuvardhan

[2019-05-10 08:03] jesen8 opened #28587 "Erratum 843419 found and fixed at **"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  aarch64-linux-gnu
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): source
- TensorFlow version:  tensorflow-1.13.0-rc2
- Python version: python 2.7
- Installed using virtualenv? pip? conda?: native python 2.7
- Bazel ve

[2019-05-10 08:07] achandraa commented on #28557
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there and can provide better support for such issues. Thanks!

[2019-05-10 08:07] #28587 closed

[2019-05-10 08:07] wcq19941215 commented on #28506
when i used bazel 0.24.1, This problem has been solved

[2019-05-10 08:10] 007fred50 commented on #28521
i got error in this code here: (Conv2D)

[code]

[2019-05-10 08:22] newey01c commented on #28185
@qlzh727 you are correct. However, in the case of several inputs with vastly different sample rates (e.g. imagine 2 sensors; one with 1000Hz sample rate, and the other with 2.5Hz) it doesn't seem a particularly efficient strategy. Obviously this is an exaggerated scenario but it's illustrative. To jointly train a Phased LSTM on outputs from these sensors, one would need to essentially stretch the

[2019-05-10 08:45] achandraa commented on #28554
I tried running the tutorial on Colab but was not able to reproduce the issue. However while running it on jupyter notebook, I do hit it.

[2019-05-10 08:46] ThejanW commented on #14475
`jupyter lab --allow-root` worked for me.

[2019-05-10 08:49] muddham commented on #28553
@Nayana-ibm Request you to please try the tested build configurations [link](https://www.tensorflow.org/install/source#linux), Please install relevant bazel version as per the TF version . Let us know how it progresses. Thanks!

[2019-05-10 08:50] datistiquo commented on #28524
@achandraa I asked this too on stackoverflow but no answer. I do also get rarely an answer there...

[2019-05-10 08:51] achandraa commented on #28536
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command or code to reproduce the issue. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tenso

[2019-05-10 08:58] muddham commented on #28556
@sveah Please reference this issue [link](https://github.com/tensorflow/hub/issues/289). As this is related to tensorflow hub request you to please post this in TF Hub repo [link](https://github.com/tensorflow/hub/issues/new). Hence this issue will be closed.

[2019-05-10 08:58] #28556 closed

[2019-05-10 09:04] Ascalon01 commented on #16187
Any updates on the same?

[2019-05-10 09:04] muddham commented on #28547
@yjfncu Request you to please refer this [link](https://github.com/tensorflow/tensorflow/issues/22106). Please let us know how it progresses. Thanks!

[2019-05-10 09:07] muddham commented on #28538
@hmchaitra This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflo

[2019-05-10 09:07] #28538 closed

[2019-05-10 09:09] samhodge commented on #28388
OK I can build the static libraries under OSX from the makefile method also, but I dont have CUDA support yet.

I might submit a new Makefile if I figure it out.

[2019-05-10 09:14] achandraa commented on #28578
Did you get chance to have a look on #26348. Let us know if that solves the problem. Thanks!

[2019-05-10 09:15] muddham commented on #28507
@sunzhe09 This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow

[2019-05-10 09:17] oquenchil commented on #28388
With help from the toolchain API but yes it can be done now. There is no cc_common.link() or cc_common.archive() method in the API that will create a static library with dependencies.

[2019-05-10 09:35] muddham commented on #28474
@Polaris-SDU It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you w

[2019-05-10 09:35] #28474 closed

[2019-05-10 09:49] Nayana-ibm commented on #28553
@wdirons I tried with `--host_javabase=@bazel_tools//tools/jdk:remote_jdk11` option after test argument however facing same issue:

` bazel test --host_javabase=@bazel_tools//tools/jdk:remote_jdk11 --test_tag_filters=-gpu,-benchmark-test -k --test_timeout 300,450,1200,3600 --build_tests_only --test_output=errors -- //tensorflow/... -//tensorflow/compiler/...`

`ERROR: /home/external/bazel_tools/to

[2019-05-10 09:50] chris-opendata commented on #24828
I am running into the same problem. My dev env is a docker (built according to https://www.tensorflow.org/install/docker) as follows:
1. Host OS: Ubuntu 18.04
2. GPU: RTX 2070
3. NVidia driver: 418.56
4. cuda ver: 10.1
5. Nvidia cuda docker image: nvidia/cuda:latest
6. The custom docker built based on tensorflow/tensorflow:latest-gpu-py3-jupyter.

I couldn't find cuDNN.h neither from my host OS en

[2019-05-10 09:54] zhang-ray opened #28589 "Build TensorFlow Lite for ARM64 boards failed"
**System information**
- Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: r1.14

**Describe the problem**
I got build error: undefined reference to `NnApiImplementation()'

**Provide the exact sequence of commands / steps that you executed before running into the problem**
I followed https://www.tensorflow.org/lite/guide/build_arm64 . Here are the exa

[2019-05-10 10:09] kiitosu commented on #26209
Yes I installed cuDNN before reinstall cuda10-0.

[2019-05-10 10:16] abdou31 opened #28590 "python3.exe crush after running python script with tensorflow"
Hello ,
I'm setting and cloned the this project :
https://github.com/yinguobing/cnn-facial-landmark
But when i run:

I get this bug :

![ce](https://user-images.githubusercontent.com/19480228/57519953-c8ffda00-731c-11e9-9e8e-21c9db0e0387.PNG)

when i debug , i get this :

![des](https://user-images.githubusercontent.com/19480228/57520070-13815680-731d-11e9-8b58-73e93587da41.PNG)

Note : I test ten

[2019-05-10 10:33] sleighsoft commented on #28518
Hmm, strange. I don't know if it helps: Nvidia Driver Version 419.67

[2019-05-10 10:37] Nayana-ibm commented on #28553
@muddham ya..I have checked build configurations link for all latest versions however I need to build TF master on s390x

[2019-05-10 10:41] chris-opendata commented on #27715
I am getting the same error for tf.conv2d that never worked. So, it's not related to the memory. My dev env is also a docker (built according to https://www.tensorflow.org/install/docker) as follows:
    Host OS: Ubuntu 18.04
    GPU: RTX 2070
    NVidia driver: 418.56
    cuda ver: 10.1
    Nvidia cuda docker image: nvidia/cuda:latest
    The custom docker built based on tensorflow/tensorflow:lat

[2019-05-10 10:42] ilango100 commented on #24518
I recently went through the code for crossentropy loss functions in r2.0 branch.

- It seems that even when we apply softmax or sigmoid activation and then loss, the activation is undone, ([see here](https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/keras/backend.py#L3926)) to recover logits for loss calculation. This answers the "efficiency" part of my question.
- When coming f

[2019-05-10 10:42] #24518 closed

[2019-05-10 10:50] sayakpaul commented on #28554
Okay.

[2019-05-10 10:58] achandraa commented on #28465
It will be great if you can provide us with the minimal code snippet which can replicate the scenario. Thanks!

[2019-05-10 11:02] sc1991327 commented on #18879
Hello,

Hello, could you solved this problem?

[2019-05-10 11:03] sc1991327 commented on #18879
Hi~

Could you solved this problem?

I have the same problem.

[2019-05-10 11:35] arnoegw commented on #26835
The crash with hub.KerasLayer and an image module from tfhub.dev should be fixed by updating to their latest versions:
https://tfhub.dev/google/tf2-preview/inception_v3/feature_vector/3
https://tfhub.dev/google/tf2-preview/mobilenet_v2/feature_vector/3
For details, see issue https://github.com/tensorflow/hub/issues/287

Can this issue be closed now, or is anyone using it to track the DenseLayer an

[2019-05-10 11:36] pouannes commented on #28519
I've checked again, the issue was that by habit I used a GPU in colab. Maybe it's not a bug anymore then? I don't really know, but you should be able to reproduce the exception by choosing a GPU as the hardware accelerator.

[2019-05-10 11:36] arnoegw commented on #27688
FYI - issue https://github.com/tensorflow/hub/issues/287 has been solved (upgrade Hub module version to /3).

[2019-05-10 11:45] achandraa commented on #27512
Apologies for the delay in response. Have a look on this [link](https://www.tensorflow.org/guide/using_gpu) and let us know if that helps. Thanks!

[2019-05-10 11:49] achandraa commented on #28441
@philgras  : I was able to replicate the output with the code snippet provided on Colab (TensorFlow version 1.13.1).

[2019-05-10 12:27] menghuanlater opened #28592 "About slim.nets.inception_v3"
I have read the function Inception_v3_base, I have questions about the code of Mixed_5b, 5c, 5d. The paper replaces the 5x5 convolution with 1x1 3x3 3x3, but why replace the original 1x1 3x3 combination with 1x1 5x5 in the code.

[2019-05-10 12:47] menghuanlater commented on #28592
not only this question, in line 242~251, the code named the scope as "conv2d_1a_1x1", but actually the code use 3x3 size

[2019-05-10 12:52] abdou31 commented on #18652
Doesn't work for me it still frozeen on

[2019-05-10 12:56] abdou31 opened #28595 "I tensorflow/core/common_runtime/gpu/gpu_device.cc:1512] Adding visible gpu devices: 0"
Hello ,
I need a help , when i try to execute program with tensorflow it frozen on this line:

I run this script :
`import tensorflow as tf
tf.test.is_gpu_available(cuda_only=False,min_cuda_compute_capability=None)`

**System information**
- Windows 10 x64
- TensorFlow installed from (binary):
- TensorFlow version: 1.13.1
- Python version: 3.6
- Installed using pip
- CUDA/cuDNN version:10.0/7.5
-

[2019-05-10 12:58] #28595 closed

[2019-05-10 12:59] wdirons commented on #28553
For Power we are building bazel with the jdk embedded in it. Perhaps that needs to be done for s390 also. @tjakob , can you share how that is done for Power, or do you other ideas to solve this problem?

[2019-05-10 13:00] achandraa commented on #28558
@sleighsoft : I was able to get the output mentioned above when I tried running the code snippet with TensorFlow 2.0.0-alpha on Colab.

[2019-05-10 13:03] muddham opened #28596 "Keras code in colab from tensorflow.org is not showing tensorflow version details"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-10 13:05] muddham commented on #28596
Able to reproduce the issue . Please see the attached image.
![image](https://user-images.githubusercontent.com/48215502/57529375-61648180-7352-11e9-8081-a9a452e73238.png)

[2019-05-10 13:27] tensorflowbutler commented on #27114
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-10 13:27] tensorflowbutler commented on #28131
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-10 13:31] muddham commented on #28577
@celinew1221 I ran the code provided in TF GPU 2.0.0-alpha0. Have not received any error.
![image](https://user-images.githubusercontent.com/48215502/57530948-fe74e980-7355-11e9-8ad6-736c082a5c01.png). Please check and let us know.

[2019-05-10 13:31] hoonkai commented on #28563
I've added my results for mobilenetv2_coco_voc_trainaug as well.

[2019-05-10 13:33] valb21 commented on #28554
I think that you can try it :  %load_ext tensorboard.notebook

[2019-05-10 13:44] celinew1221 commented on #28578
The problem is gone by using the following code in tensorflow 2.0:
[code]

[2019-05-10 13:47] celinew1221 commented on #28577
The code provided was in the error message itself. I am using rejection sampling function, and that produces this message. But I managed to get rid of it with the following code:

[code]

[2019-05-10 13:47] #28577 closed

[2019-05-10 13:48] #28578 closed

[2019-05-10 13:50] celinew1221 opened #28597 "tensorflow 2.0 rejection resample printing proportion of examples ... message"
I am using tensorflow 2.0 CUDA 10.

The message comes from rejection sampling. I receive multiple lines similar to this:

Turn the logging level to ERROR does not help. Is there a way to turn this off or direct it to a disk file so that it won't mess up my other progress messages? You can use the following snippet to reproduce:

[code]

[2019-05-10 13:51] achandraa commented on #28506
@zealotpb : You can try bazel 0.24.1 as suggested by @wcq19941215  and let us know if that helps. Thanks!

[2019-05-10 13:52] achandraa commented on #28578
@celinew1221 : Good to know it solved your issue.

[2019-05-10 14:02] celinew1221 opened #28598 "Tensorflow 2.0 rejection resample not producing the proper target distribution"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): from binary pip3
- TensorFlow version (use command below): 2.0-alpha
- Python version: 3.5.2
- CUDA/cuDNN version: 10.0
- GPU model and memory: GTX Titan V 12GB

**Issues**
I am trying to test rejection sampling with the following code.
This is

[2019-05-10 14:12] galeone opened #28599 "Restore from SavedModel not compatible with tf.distribute"
**System information**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Archlinux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):  v1.12.0-9492-g2c319fb415 2.0.0-alpha0
- Python version: 3.6.0

**Describe the current behavior**

I'm using Tenso

[2019-05-10 14:18] SanthoshRajendiran opened #28600 "Tensorflow Lite GPU Delegate - Argmax Op Request"
<em>Tensorflow Lite GPU Delegate - Argmax Op Request</em>

**System information**
- TensorFlow version (you are using): Tensorflow 1.13
Tensorflow Lite GPU Delegate 0.0.0-nightly
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
The current GPU delegate does not support Argmax op to run on the mobile GPU. It is one of the major stuff needed

[2019-05-10 14:29] mirkobrankovic commented on #26501
and thken you get minimal.so? what do you do then ?

[2019-05-10 14:30] seanpmorgan opened #28601 "Request for public APIs or alternatives: TF-Addons"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): TF 2.0

As part of our effort to make [tensorflow/addons](

[2019-05-10 14:33] jiteshm17 commented on #24828
Try adding these lines of code in your notebook after you import tensorflow as mentioned by oscarlinux

[code]

[2019-05-10 14:38] chris-opendata commented on #24828
Thanks jiteshm17. I have tried it without success. I am now running in eager execution mode. It's not working either.

[2019-05-10 14:50] 4p0pt0Z commented on #26501
Then you have compiled your program `minimal` and linked it to `libtensorflow-lite.a` and can execute it: `./minimal /path/to/your/model.tflite`

[2019-05-10 15:00] sayakpaul commented on #28554
That worked @valb21. Thanks

[2019-05-10 15:03] twoDarkMessiah commented on #26182
**Possible Solution:**
Docker container which handles all dependencies and provides a working tensorflow2-cuda environment:

**Link Docker Hub:**
[https://hub.docker.com/r/twodarkmessiah/tensorflow2-cuda)](https://hub.docker.com/r/twodarkmessiah/tensorflow2-cuda)

[2019-05-10 15:04] seanpmorgan opened #28602 "Custom layer build should fail if it includes tensor computations"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- TensorFl

[2019-05-10 15:04] sleighsoft commented on #28558
Ideally I would like to get the same functionality as is currently available when in graph mode.
So when calling `make_generator_model()` I have the choice to generate a new one "in a new graph so to speak" (the `with tf.Graph().as_default()` example) or to just use the same weights as in the existing scope (the `a`, `b` example).

I found this to be useful when having a training "graph" and an ev

[2019-05-10 15:08] 007fred50 commented on #28521
Hello,

i added this here

[code]
got new error ! (OOM when allocating tensor with shape[24946,32,48,48] and type float on /job:localhost/replica:0/task:0/device:GPU:0 by allocator GPU_0_bfc)

[2019-05-10 15:10] jiteshm17 commented on #24828
@chris-opendata, may I please know your cuDNN version??
My CUDA version is 10.0 ,cuDNN is 7.4.2 and even I use the Tensorflow(gpu) version of 1.13.1.
 I had the same error before but after adding those above lines, the error disappeared. If possible, try to change the CUDA version to 10.
I would also recommend you to go through the following article to install CUDA 10 if possible.
https://medium.c

[2019-05-10 15:22] seb1000 commented on #15833
The issue is not resolved, at least when manually recoring the gradient on tapes.
To be precise, it is not  possible to compute the gradients of the results of odeint.
This minimal example:

[code]

raises the following error:

Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2862, in run_code
    exec(code_obj, self.user

[2019-05-10 15:33] wdirons commented on #28506
I will mention the reason bazel 0.25.0 is not supported yet (because I think that is the question being asked) is that bazel 0.25.0 was only released 9 ago and has not been tested with the tensorflow builds. New bazel versions have a long history of breaking the tensorflow builds, so the recommendation is the build with the versions that have been tested.

The release notes for bazel 0.25.0 list 6

[2019-05-10 15:36] mihaimaruseac commented on #28388
Is there a recipe for doing it now?

[2019-05-10 15:38] diemtran1005 opened #28605 "FailedPreconditionError (see above for traceback): Attempting to use uninitialized value"
FailedPreconditionError (see above for traceback): Attempting to use uninitialized value con1/bias
         [[node con1/bias/read (defined at c:/users/tran thi diem/documents/diem/research/reinforcementlearning/code/codeforlearningreinforcement/cnnandrl/object-recognition-cifar-10-master/code/codechuan/10_5_2019/2_5_2019_cifar_modify_bangchay_testingwithrl.py:60) ]]

**System information**

- OS P

[2019-05-10 15:42] qlzh727 commented on #28185
I haven't dig deep into the paper yet, but we are no long releasing contrib in Tensorflow 2.0, the change you are about to make will probably never get released anymore.

Having said that, if you would like to contribute the change, you can make the updated cell to tensorflow/addons repository, which is the new github repository for extended APIs.

[2019-05-10 15:48] sleighsoft commented on #28558
**Update:**
The "problem" is here: https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/keras/engine/base_layer.py#L1372

There seems to be a global name space for layers. Which is a little confusing considering tf-2 wants to drop most/all of the global states.

[2019-05-10 15:48] mihaimaruseac commented on #28506
Once Bazel 1.0 is released we won't have that many incompatible changes between versions which are released so frequently (there's a bazel 0.25.1 out already). At that point we will be able to support a wider range of versions, at the moment the corresponding line in `./configure.py` uses exactly one Bazel version, the one that we are confident TensorFlow builds with: https://github.com/tensorflow

[2019-05-10 16:27] mihaimaruseac commented on #28508
Oh, the PR fixing this hasn't been yet merged (due to my commit causing a merge conflict, sorry about that)

[2019-05-10 16:41] jvishnuvardhan commented on #28596
@muddham I don't see any issue. Please check the attached [GitHub gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/afd188f0434e01f55b7aac61667e0d08/keras.ipynb). Thanks!

[2019-05-10 16:42] SanthoshRajendiran opened #28606 "tflite GPU Delegate sub operator not supported"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes (But the model should be running)
- OS Platform and Distribution: Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Oneplus3 (Android 8.0)
- TensorFlow installed from (source or binary): Source
- TensorFlow ver

[2019-05-10 16:49] rchao commented on #27688
Thanks for the updates!

[2019-05-10 16:49] sF0rman opened #28607 "Unable to install tensorflow-gpu (python 3.6 windows)"
Where did I go wrong?

**System information**
- OS Platform and Distribution: Windows 10 Pro 10.0.17134 Build 17134
- CUDA Version: 10.1
- cuDNN version: 7.5.1
- TensorFlow version: tensorflow-gpu 1.13.1
- Python version: python-3.6.8-amd64 (64-bit version)
- Installed using pip in virtualenv
- GPU model and memory: NVIDIA GeForce GTX 980 4GB VRAM
(checked versions here: https://www.tensorflow.org

[2019-05-10 17:00] allenlavoie commented on #26814
Models export all their methods now ([example](https://github.com/tensorflow/tensorflow/blob/a37f3e3f88e1a91f9418ace165e59986164a942e/tensorflow/python/saved_model/load_test.py#L1554)). So well and truly fixed now.

[2019-05-10 17:00] #26814 closed

[2019-05-10 17:00] #25795 closed

[2019-05-10 17:06] kyleabeauchamp commented on #26182
In my case, the issue was that the location of libcublas changed with cuda 10.1 and needed me to update my LD_LIBRARY_PATH

[2019-05-10 17:10] kenryd opened #28608 "Tensorflow gives incorrect results for simple example"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-05-10 17:25] melissagrueter commented on #28195
Update I am getting NestedLoop to pass now, just need to dig a bit more to make sure the fix can work in general... :)

[2019-05-10 17:29] MChaus commented on #28304
@muddham I've installed TF-mkl via Anaconda today and found out that it is 2 times slower than TF installed via pip. Maybe it's because I have AMD processor. Well, it looks like that I can use standard TF from pip without any inconveniences, but I can't build TF from source with custom configurations for today.

[2019-05-10 17:43] ymodak commented on #28509
@sanjoy Can you please take a look? Thanks!

[2019-05-10 17:59] ymodak commented on #28482
@Chadys I was able to execute the colab successfully as is.
I see that you are using TF 1.14 whereas the tutorial requires TF 2.0 Alpha gpu (default version in colab)
Are you trying to test this colab in TF 1.X?

[2019-05-10 18:05] sanjoy commented on #28509
How are you enabling XLA (XLA is not *enabled* by default and running a vanilla TF graph does not automatically run XLA.

[2019-05-10 18:09] jvishnuvardhan commented on #28507
@sunzhe09
Please fill the issue [template](https://github.com/keras-team/keras/issues/new?template=a--tensorflow-backend-users.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. It would be great if you can provide a small code to reproduce the error. Thanks!

[2019-05-10 18:34] IanQS commented on #28111
Seems like this is closely related to #27416 where the issue boils down to not being able to use DenseFeatures in a functional style?

[2019-05-10 19:28] allenlavoie commented on #28599
Thanks for the report. @seemuch is looking into SavedModels + distribution strategies.

[2019-05-10 19:41] ymodak commented on #28530
@mihaimaruseac Can you PTAL? Thanks!

[2019-05-10 19:44] ymodak commented on #28071
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-10 19:44] #28071 closed

[2019-05-10 19:57] dd1923 commented on #26714
@jvishnuvardhan any updates?

[2019-05-10 19:58] mihaimaruseac commented on #28530
I think it's better to get PTAL from @martinwicke and @dynamicwebpaige though this feature request seems to not have a lot of details

[2019-05-10 20:03] Chadys commented on #28482
Yeah it seems to be the wrong tf version that is getting used, but why would that be ? I didn't touch the `!pip install tensorflow-gpu==2.0.0-alpha0`

[2019-05-10 20:26] tjakob commented on #28553
@Nayana-ibm Can you try `--host_javabase=@local_jdk//:jdk` again? (but after the test command)
This should use the local java installation.
I can give more information on how to embed the jdk into a bazel build, but if the local installation is an option, it is much easier.

[2019-05-10 20:28] kenryd opened #28610 "tf.cast() throws an error using DEVICE_PLACEMENT_EXPLICIT that contradicts the argument's .device"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-05-10 20:34] abdo96 commented on #23780
I tried to disable the arithmetic optimizer but I don't know where does it ? in  version python3.7, TF1.13.1
[code]

[2019-05-10 20:48] omalleyt12 commented on #27275
Thanks for the bug! Was able to repro, will update when a fix is available

[2019-05-10 21:11] ymodak commented on #28519
I see. You have to install TF-gpu to use gpu accelerator. Closing this issue since it's not a bug and works in colab (without hardware accelerator). Thanks!

[2019-05-10 21:11] #28519 closed

[2019-05-10 21:17] huiyujie commented on #26545
@himanshurobo Hi, I have the same issue with you. I also have added --target_ops. But it's still not working. Have you fixed it? Thanks

[2019-05-10 21:25] qlzh727 commented on #26547
I have tried with unmodified code with GPU setting for predication, its interesting to see that it will randomly generate some text first and then suddenly produce reasonable text afterwards. Its like there are some junk text in memory need to flush first before it can probably work. Not sure why, need to dig more.

=======================================================
ROMEO: NG&UZSEkzjjUPCQHOUJ

[2019-05-10 21:33] jasonzhang2022 opened #28613 "Issue with transformer guide"
## URL(s) with the issue:
https://www.tensorflow.org/alpha/tutorials/text/transformer
## Description of issue (what needs changing):
format and normalization layer.

### Clear description
1. when describe the multi-head attention, there is this text in one line:  "Multi-head attention consists of four parts: * Linear layers and split into heads. * Scaled dot-product attention. * Concatenation of h

[2019-05-10 21:37] martinwicke commented on #28530
In this generality, this is not a feature request we will be working on in the foreseeable future. If there's significant interest in something like this from the community, we would encourage organizing a group and coming up with a more detailed proposal.

I will close this issue.

[2019-05-10 21:37] #28530 closed

[2019-05-10 21:57] jvishnuvardhan commented on #28608
@kenryd I could reproduce this with TF1.13.1. However, with TF2.0, the results are what you expected. [GitHub Gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/40edc993f3c1ce726a47dddd5bff7c6d/untitled151.ipynb) is here for TF2.0.0-alpha0. Thanks!

[2019-05-10 22:01] HLorzel commented on #24496
Still having the same issue here but "config.gpu_options.allow_growth = True" doesn't fix the problem.  Happens on both TF-gpu 1.14.1 and TF-gpu 2.0.  RTX1070, CUDA 10.0, Ubuntu 18.04, Nvidia driver 430.09.

[2019-05-10 22:12] w4nderlust commented on #10021
@xlambein you are assuming that all datapoints from the same class should be weighted the same, which is not true in the most general case. Your math should be: `loss = sum(w_s[i] * w_c[y[i]] * y[i] * log(p[i]))` where `w_s[i]` is the weight of the i-th datapoint and `w_c[y[i]]` is the weight of the class of the i-th datapoint.
As already discussed several times in this thread you can combine clas

[2019-05-10 22:16] davisyoshida opened #28614 "Keras RNN example from docs does not support statefulness when multilayer"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-10 22:17] kenryd commented on #28608
@jvishnuvardhan In your link tf.Print is removed (I believe it was deprecated and remove in 2.0?). However, removing the tf.Print op in 1.13 also "fixes" the behavior, so this doesn't not address the problem.

My concern is that this bug is some memory problem, and "just use 2.0" isn't a solution. It's also not possible for everyone to just upgrade to 2.0 since tensorflow is often integrated into

[2019-05-10 22:22] alextp commented on #28608
This looks like a grappler bug which was fixed a few months ago. Can you reproduce it on nightly?

[2019-05-10 22:25] qlzh727 commented on #26547
Also, it seems that the model works properly with the custom training loop. The prediction output for the model from custom training loop always produce reasonable result.

[2019-05-10 22:31] dd1923 commented on #26714
@imarkiew This looks like due to the fact that code in training_utils.py of tf.keras is still wrongly assuming input data to be numpy arrays. Try enabling eager execution. It goes away for me if I do that but then it also uncovers other bugs.

[2019-05-10 22:39] kenryd commented on #28608
@alextp After installing tf-nightly (1.14.1) it does indeed seem to be fixed. Thanks! Do you by chance know which commit fixed this issue?

[2019-05-10 22:43] haozha111 commented on #28504
Please try converting '--input_data_type=FLOAT' to '--input_data_types=FLOAT'. Let me know if you have other questions. Thanks.

[2019-05-10 22:47] alextp commented on #28608
No, not off the top of my head.

[2019-05-10 22:47] #28608 closed

[2019-05-10 22:49] gaurav16gupta commented on #19375
I got the same problem.
python3: Relink /lib/x86_64-linux-gnu/libudev.so.1' with /lib/x86_64-linux-gnu/librt.so.1' for IFUNC symbol `clock_gettime'
Segmentation fault (core dumped)
even after correct CUDA and CUDNN installation.
Finally **installing opencv  (apt install python3-opencv) worked!**
Strange...?

[2019-05-10 22:59] melissagrueter commented on #28195
Hi @skye ,

As you could have predicted, my latest quick fix didn't work out — I understand the naming issue now. :)

It seems to me that the best way forward is to go for the long-term fix and move toward functional control flow. As we've discussed [in another thread](https://github.com/tensorflow/tensorflow/issues/28385), I'm also interested in getting a cond op working. To that end, I'd like to

[2019-05-10 23:08] melissagrueter commented on #28195
One more question — I see that for the Python's functional control flow, there's a lowering pass to the non-functional cond and while. Is it critical to be able to lower functional control flow ops into their non-functional equivalents? In other words, will we still end up needing to fix the non-functional control flow even if we do implement functional control flow?

[2019-05-10 23:12] uqyge commented on #28430
hit the same problem with nvidia k80

[2019-05-10 23:16] jasonzhang2022 commented on #27539
tf-nightly-2.0-preview works in Linux

[2019-05-10 23:18] gunan commented on #27576
This is actually an nvcc bug. we are also running into this and reported to nvidia.
Nvidia has fixed this issue in cuda 10.1, but reported that they will not patch 10.0 with the fix.

[2019-05-10 23:19] gunan commented on #27576
This is actually an nvcc bug. we are also running into this and reported to nvidia.
Nvidia has fixed this issue in cuda 10.1, but reported that they will not patch 10.0 with the fix.

[2019-05-10 23:20] gunan commented on #26610
From our side, MPI is a community maintained feature.
@tatianashp does Intel help with maintaining MPI support?

[2019-05-10 23:20] gunan commented on #26610
Maybe @jhseu has knowledge of the party that supports MPI.

[2019-05-10 23:21] gunan commented on #26249
After 1.12, our configure script reports what is the minimum and maximum version of bazel you need to use to build TF.
Sorry for the inconvenience, and hopefully we do not run into such issues moving forward.

[2019-05-10 23:21] #26249 closed

[2019-05-10 23:25] gunan commented on #25812
Could you try running `configure.py` from your main repository root?
@r4nt may also have some ideas.

[2019-05-10 23:30] gunan commented on #25590
Maybe using MKL can help with this.
https://github.com/tensorflow/community/blob/master/rfcs/20180604-dynamic-kernels.md will definitely be able to help.
I am hoping to be able to land dynamic kernels this quarter.

[2019-05-10 23:31] gunan commented on #7480
We are still working on cleaning up headers, it is proving to be a real challenge as a lot of technical debt is accumulated.

In the meantime, if there are any proposals for a temporary solution, I am happy to discuss.

[2019-05-10 23:34] qlzh727 commented on #26547
Also noticed the difference between custom training loop and standard keras fit. The model.reset_states() is not call at the beginning of per epoch. After adding that, the model is producing reasonable text quite constantly.

Having said that, this still doesn't explain why the CPU and V1 code works properly without reset_states().

[2019-05-10 23:41] gunan commented on #15618
Looks like now python2 is an actual dependency of bazel apt package.
I am quite surprised about that.
@meteorcloudy do you know why python2 is now a bazel dependency?

[2019-05-10 23:42] gunan commented on #18652
This should be fixed with 1.13.1

[2019-05-10 23:47] gunan commented on #21269
[code]
This is a duplicate of this issue:
https://github.com/tensorflow/serving/issues/626

It is related to anaconda's openssl. Please see the workaround on the other issue.

[2019-05-10 23:47] #21269 closed

[2019-05-10 23:48] gunan commented on #19770
Redirecting to @sjamesr as he is now our resident java expert.

[2019-05-10 23:50] gunan commented on #23531
@alextp any ideas?

[2019-05-10 23:53] TomorrowIsAnOtherDay commented on #28509
Well, I just tested training speed on a CPU machine(Ubuntu System) and a remark difference could be seen between r1.11 and  versions above r1.11
I found XLA that had been a default option in [release log](https://github.com/tensorflow/tensorflow/releases?after=v1.12.0-rc1), then I guess the speed improvment was brought by this option.

[2019-05-10 23:54] gunan commented on #22300
Looks like the issue was resolved?
@theerfan could you confirm?

[2019-05-10 23:55] gunan commented on #22344
@tatianashp @jhseu to check if they can redirect to mpi support maintainers.

[2019-05-10 23:56] #23561 closed

[2019-05-11 00:01] gunan commented on #25323
I think there is a known gcc 7 issue. It is fixed in the later versions of gcc 7 and 8.

CXXABI issue is different. If you build TF on ubuntu 18, that binary wont run on ubuntu 16 or 14. Using D_GLIBCXX_USE_CXX11_ABI will only make it possible for TF to be able to run properly with binaries that are compiled using older libstdc++ versions.

As the main issue reported is a gcc issue, and fixed with

[2019-05-11 00:01] #25323 closed

[2019-05-11 00:02] gunan commented on #25195
Also, I added the necessary tag filters to the bazelrc, which should help with this. Closing the issue.

[2019-05-11 00:02] #25195 closed

[2019-05-11 00:03] gunan commented on #24846
I will close the issue, but thanks for the document!
It will still be discoverable through search, and I am sure it will be very helpful to users.

[2019-05-11 00:04] gunan commented on #24262
@hgadig please redirect the issue to the owners of profiler. From the error, it looks to me like the code is not fully compatible with windows.

[2019-05-11 00:05] sanjoy commented on #28509
That release note is just saying that TensorFlow binaries have XLA linked in by default (so if you want to use XLA you don't have to rebuild TF).  But XLA is still not enabled by default so the speedup you saw was probably something else.

I'm closing this issue now, can you please open a separate one if you want to pursue this further?

[2019-05-11 00:05] #28509 closed

[2019-05-11 00:06] gunan commented on #23955
Pete, could you redirect to the owners of the graph transform tool?

[2019-05-11 00:08] gunan commented on #23916
While I am late to answer this, even when this was filed TF 1.2 and 1.4 were well over a year old, outside our support window.

[2019-05-11 00:08] #23916 closed

[2019-05-11 00:09] abdou31 commented on #18652
it fixed but i have other error

[2019-05-11 00:09] gunan commented on #25913
duplicate of #7480

[2019-05-11 00:09] #25913 closed

[2019-05-11 00:10] gunan commented on #26289
@chsigg @annarev has done a lot on this. I think we are compatible now.

[2019-05-11 00:26] TomorrowIsAnOtherDay commented on #28509
Thanks, I will be opening another issue to pursue the reason.

[2019-05-11 00:32] shoyer commented on #15833
We are porting `odeint` over into [TensorFlow Probability](https://github.com/tensorflow/probability) (tf.contrib is being removed in TensorFlow 2.0) -- see https://github.com/tensorflow/probability/tree/master/tensorflow_probability/python/math/ode.

It would be good to check if gradients work there -- it's unlikely we will fix this here given the deprecated status of tf.contrib.

[2019-05-11 00:37] tatianashp commented on #22344
+@azaks2 on distributed execution

[2019-05-11 00:59] tatianashp commented on #26610
I don't think Intel supports MPI in TensorFlow. Adding @agramesh1  just in case.

[2019-05-11 01:13] byronyi commented on #26610
@jbedorf mind to take a look here?

[2019-05-11 01:34] chris-opendata commented on #24828
Thanks jiteshm17. I have the same versions as yours. the remedy doesn't work though. One thing puzzles me that I couldn't find cudnn.h file as mentioned by the other issue tracker threads. I use runtime only that comes as default in tensorflow/tensorflow:latest-gpu-py3-jupyter docker image. May I ask if you have cudnn.h in your docker container? and does your docker use cudnn development packege i

[2019-05-11 01:49] freedomtan commented on #28606
it's tiny problem. sent a one-line patch PR to fix it. @impjdi

[2019-05-11 01:54] acmilannesta opened #28619 "pass sample weight into py_func"
I tried to use the sklearn roc_auc_score function in a customized metric and would like to pass the sample weight. Here is my code:

[code]
But I got the error message:
TypeError: object of type 'Tensor' has no len()
	 [[{{node metrics_7/metric/PyFunc}} = PyFunc[Tin=[DT_FLOAT, DT_FLOAT], Tout=[DT_FLOAT], token="pyfunc_2", _device="/job:localhost/replica:0/task:0/device:CPU:0"](_arg_dense_4_target_

[2019-05-11 02:25] tfboyd commented on #22357
Seem good to me, you could put it on the linux page but you could argue the link to the install page is also fine.  I am closing.  Feel free to reopen.
https://www.tensorflow.org/install/source#linux

[2019-05-11 02:25] #22357 closed

[2019-05-11 02:25] tfboyd commented on #22356
Stale

[2019-05-11 02:25] #22356 closed

[2019-05-11 02:44] shoreason commented on #23410
Same issue here running on python 3.7. Many of the recommendations above didn't work for due to a **constraint** on the tensorflow version (1.5.0) on the backend of Keras in my case.

Ultimately, I reverted back to Python 3.6.8 using [pyenv](https://github.com/pyenv/pyenv#homebrew-on-macos). that did the trick

[2019-05-11 05:29] samhodge commented on #28388
OK here is the link command for using the libtensorflow-core.a nsync.a and libprotobuf.a on OSX

[code]

[2019-05-11 05:31] samhodge commented on #28388
OK people I can see that under contrib/makefile

There are CUDA build possibilities for Tegra

Is there any history of people makeing the tf_gpu.a for Linux and OSX?

I am not sure if my users will buy a CPU only interence because it can take 5 minutes per frame of video.

GPU can be as little as 0.2fps.

I have tested with libtensorflow_cc.so and libtensorflow_framework.so

Sam
sam

[2019-05-11 05:47] theerfan commented on #22300
Yeah, it was.
My apologies for forgetting to close the issue.

[2019-05-11 05:47] #22300 closed

[2019-05-11 05:56] samhodge commented on #28426
Sorry -j24 doesnt agree with my machine when each clang instance occupies ~100Mb of memory the amount of memory on the host machine is 16Gb 24*100 = 24Gb it was swapping hard and non repsonsive.

Once the automatic -j value was hard coded to 8 the compile completed without error.

[2019-05-11 05:57] samhodge commented on #28426
Sorry there should be a warning the -j value is determined automatically.

[2019-05-11 05:57] #28426 closed

[2019-05-11 07:22] Asphelzhn commented on #20041
the same problem occured in tensorflow 1.12.0 and cuda 9.0 , how can I fix it?

[2019-05-11 07:29] Frank17 commented on #28326
I hava 2 GPUs: RTX 2070
My TensorFlow is v1.13.1, cuda is 10.0 and cudnn is 7.4.1 for cuda10.
System version: CentOS 7.6

When I run the test code with TensorFlow and cnn layer, it still has this exception.
I can run the sample codes provided by cudnn but error when tensorflow.

[2019-05-11 07:45] xlambein commented on #10021
@w4nderlust I think you did not understand the purpose or the content of my post.  I don't have an opinion about API design.  I was just pointing out that a "weighted cross entropy", as suggested by @bipinkc19, actually reduces to sample weights, since all but one weight end up disappearing from the expression.  Hence, the implementation they suggested is not more expressive than the current imple

[2019-05-11 08:00] zrss commented on #12667
@chenjiasheng, anything new ? i see the same call stack ...

[2019-05-11 09:21] eecshope commented on #13463
I ran into this problem once today while I was using Google Colab GPU Version and I fixed this just restart my notebook. Here is the address of my note book <br> https://colab.research.google.com/drive/1aqKWeqKGSDUiTJFmmlS47MVd8XiFEJWe#scrollTo=jU3twrhvfe9r

[2019-05-11 10:04] imarkiew commented on #26714
@dd1923 Honestly, I changed my approach some time ago and completely switched to Kerasa (so I don't use TFRecords and Datset API). But I also think that there is something broken underneath between the Tensors and numpy arrays.

[2019-05-11 10:22] chenjiasheng commented on #12667
@zrss My colleague has avoided this hanging issue, or at least reduced the hanging probability, by making an explicit call to mpi barrier at the end of each batch.  We don't know why it works but it just goes that way.

[2019-05-11 10:36] SunYanCN opened #28621 "About transformer"
transformer:https://www.tensorflow.org/alpha/tutorials/text/transformer#top_of_page

Has anyone run this experiment, and the results of my run have not reached the official results. I posted my code and helped me find the reason.

[code]

[2019-05-11 10:38] 007fred50 opened #28622 "expected conv2d_input to have 4 dimensions with shape(1, 1)"
after i fit my machinelerning i trying to predict a new one. as image named demo1.jpg

what i expected get new feature. into my library:

My detailts:
RTX 2080
Tensorflow  1.13.1
Cuda 10.0

Can some one help me? Thanks !!

I'm using tf.keras and I'm getting following error:

I got new error then i mode.predict a new (feature):

[code]

[2019-05-11 12:13] jiapei100 opened #28624 "TypeError: '<' not supported between instances of 'list' and 'tuple'."
I **git pull http directly** and **not git fork any more**...
So, I do **NOT** provide **pull request** for now.

A bug:
[code]

File **third_party/gpus/find_cuda_config.py**

Line 447:
[code]
to
[code]

BTW, I'm using **CUDA 10.1**

Cheers
Pei

[2019-05-11 12:42] serv-inc commented on #27539
@jasonzhang2022 : yes, like a charm. It also works on Mac OS X. There is no nightly version for windows, though. (this should be closed, as a windows nightly build is arguably a feature request)

[2019-05-11 12:42] #27539 closed

[2019-05-11 12:56] shubhamn94 commented on #15129
Hello,
I am facing the similar issue but the link you provided above land me to "page not found". Could you please help provide the command?
Thanks!!

[2019-05-11 14:22] 007fred50 opened #28625 "tensorflow, does this do LSTM"
Hello,

what deos this do ?

LSTM shows the same photo:
0.38, 0.57, 0.31, -0.2

i don't know what this do !

can some one help me with this?

[code]

[2019-05-11 14:33] Chadys commented on #28482
Found the problem : I had another notebook opened, on which I was working at the same time, where I did the import this way :
[code]
instead of
[code]
So the 2.0 alpha was replaced by the latest 1.x nightly version. When I opened the notebook of the tutorial, it used the same virtual environment as my other notebook and so, since the requirement tensorflow-gpu==2.0.0-alpha0 was already satisfied,

[2019-05-11 14:33] #28482 closed

[2019-05-11 14:44] jinfagang commented on #27267
@shafi-dayatar  ```
    hparams = tf.contrib.training.HParams(
AttributeError: module 'tensorflow.compat.v1' has no attribute 'contrib'

[code]

[2019-05-11 14:51] zrss commented on #12667
@chenjiasheng , oh thx a lot, we use the tf 1.8 with horovod nccl, and ran at 8 * 4 GPU cluster, and it hang at the middle of trainning with all GPUs util 100%; and we print the backtrace of threads, it is very similar to your case ...

[2019-05-11 16:18] ljakupi opened #28626 "TF 2.0: Invalid argument: Unsupported type: 21"
Hello guys,

Did any of you encounter this weird warning when training any network:

`E tensorflow/core/grappler/optimizers/meta_optimizer.cc:502] constant folding failed: Invalid argument: Unsupported type: 21`

<img width="1175" alt="warning_error" src="https://user-images.githubusercontent.com/3697692/57572249-f4b3ba80-7417-11e9-90c0-8c6bdc223da1.png">

I am using Adam optimizer, however, I tri

[2019-05-11 16:28] fengwuxuan commented on #24715
@marcreyesph I have same question about myself dastaset, what's the reason?

[2019-05-11 17:07] rootkitchao commented on #28607
You are using CUDA10.1, the current version of Tensorflow GPU requires CUDA10.0(see https://www.tensorflow.org/install/gpu).Please reinstall the correct version of CUDA and cuDNN.

[2019-05-11 17:23] #28607 closed

[2019-05-11 17:23] sF0rman commented on #28607
Thanks, got it working :)

[2019-05-11 17:39] byronyi opened #28628 "Unexpected tf.version.GIT_VERSION for nightly builds"
In colab, use the following commands to reproduce:

[code]

Which shows ``v1.12.1-1705-g978532afa9`` (last hex is not any git commit btw)

Shouldn't it be the git version used to build that package instead?

Gentle ping @gunan and @yifeif

[2019-05-11 18:31] jimfleming commented on #28626
I'm experience this as well with the latest nightly build. In my case, the error appears when using tf.function and calling tape.gradient but only when the model calls an instance of tf.keras.layers.LSTM. Disabling the layer call, tf.function or tape.gradient does not result in the same error.

[2019-05-11 21:17] #24846 closed

[2019-05-11 21:35] TheDraguun commented on #23873
@fchollet Will this be fixed or will this issue just die with sessions?
Looking at some official colab examples updates might happen if calling the model with narg training=true.   Have to look into that - the eager pix2pix example might just be wrong ...

[2019-05-11 21:42] TheDraguun commented on #23873
Maybe this issue could be closed? (need to check if this works - but even if it works, the API is a bit misleading - maybe model.updates should be renamed?)

via https://github.com/tensorflow/tensorflow/issues/26322#issuecomment-474520177

[2019-05-12 00:11] tomguyman opened #28630 "TensorFlow install"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-05-12 00:19] #28194 closed

[2019-05-12 01:22] freedomtan commented on #28113
@arrowd if you haven't figured out how to do it yet, check bazel's [select](https://docs.bazel.build/versions/master/be/functions.html#select). See TensorFlow's [BUILD.bazel](https://github.com/tensorflow/tensorflow/blob/master/third_party/aws/BUILD.bazel) of AWS SDK for example usage of `select`.

[2019-05-12 03:25] phum126 opened #28632 "AttributeError: module 'tensorflow' has no attribute 'gfile'"
Hi,

I am trying to load a file using the following code below. However, whenever I run my code I get an error stating that `AttributeError: module 'tensorflow' has no attribute 'gfile'` . I have successfully installed gin using `pip install gin-config`.

[code]

I've even done `import gin.tf` , but when I run my code I then get...

`
  File "C:\Users\WTC\Anaconda3\lib\site-packages\bert\tokenizat

[2019-05-12 03:45] dipanjanS commented on #26639
@fchollet any idea on this aspect?

[2019-05-12 04:25] zakizhou opened #28635 "`ConcreteFunction` does not raise errors when inputs and `tf.TensorSpec` are not compatible with each other"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-12 05:27] Sadrpour commented on #25152
please do not close this issue, how is this not a bug ? all these people having this issue, the least you can do is to help or leave this open.

[2019-05-12 08:20] chsigg commented on #24496
The descriptions of the problems you are seeing makes me believe that (particular version of) cuDNN tries to allocate GPU memory when creating the handle. If TensorFlow already took all the memory (either because config.gpu_options.allow_growth = false, or per_process_gpu_memory_fraction close to 1.0) there is no memory left to allocate for cuDNN.

You could confirm this by running TensorFlow thro

[2019-05-12 10:40] cgbahk commented on #21366
I've encountered same problem when I set custom bazel output directory with manually setting [$TEST_TMPDIR](https://docs.bazel.build/versions/master/output_directories.html#documentation-of-the-current-bazel-output-directory-layout).

I still not understand fully, but I found a work-around at least for my case: **if you want to set your own bazel output directory, set it outside of tensorflow root

[2019-05-12 11:01] rsophie275 opened #28638 "一切都刚刚开始 郭文贵 https://www.guo.media"

[2019-05-12 11:22] dmus commented on #28363
It seems that tf.image.resize_image_with_pad gives slightly different results under eager execution than under graph mode

[2019-05-12 12:03] zrss opened #28639 "tf 1.8.0 with horovod hang at the middle of training"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
`yes`
- OS Pla

[2019-05-12 12:23] shaulimaya commented on #26572
I have the same issue while running  keras-retinanet after upgraded to cuda 10 t.f. 1.13.1 python 3.6.8

[2019-05-12 12:45] tensorflowbutler commented on #13530
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-12 13:06] kaaanishk commented on #28596
Seems to be working correctly for me. @muddham I'm unable to reproduce the error from the given [link](https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/guide/keras.ipynb#scrollTo=7e1LPcXx0gR6). Are you still facing the problem?
![Screen Shot 2019-05-12 at 6 34 11 PM](https://user-images.githubusercontent.com/46882326/57582614-a28c9b00-74e4-11e9-946b-175066983dde.png)

[2019-05-12 13:13] yogeshmishrikotkar commented on #23534
how you solve it?

[2019-05-12 13:30] frogermcs commented on #28161
I've just checked it with suggested changes, and now saving model works correctly.

Code I needed to use:
[code]

Info:
[code]

Updated module handle from version 2 to 3 (2 doesn't work):

[code]

And at the end:
[code]
Instead of `from_concrete_function`

Updated code: https://colab.research.google.com/drive/1fDWZfce2BJnU49xyrvwXYpX3EW3UK6QH#scrollTo=o5JPT0yOkiK6

[2019-05-12 13:46] nijatmursali opened #28642 "Is it possible to train custom models for Tensorflow Android?"
Hello,

Currently, I'm working on one projects and I need to train my models. I want to train models using YoloV2 and my question is that will my custom trained models work on Android Tensorflow if I add .pb model into the assets folder?

**System information**
- TensorFlow version 1.5.0
- Are you willing to contribute it (YES)

**It will not change the API .**

**I would like to benefit from this

[2019-05-12 13:49] myfknoll commented on #23534
I am using now a different dependency
`implementation 'org.tensorflow:tensorflow-lite:1.10.0'`

You can find this also in the tutorial linked by @nickaein-a above

[2019-05-12 14:18] byronyi commented on #28639
Ping @alsrgv; mind to take a look here?

[2019-05-12 14:48] HLorzel commented on #24496
Turns out I didn't have cuDNN installed correctly because I am a great fool.  Got it in, reinstalled TF2-nightly, added the lines to allow the growth, and all is good.

[2019-05-12 15:59] Atrus619 commented on #28552
I'm running into the same issue. I think it has to do with the tf.data.Dataset.shuffle method. Haven't found a fix just yet, because as you said, it works, it just throws this error and runs fairly slow.

[2019-05-12 16:41] 183amir commented on #23780
If you are using the estimators API, try something like this:
[code]

Note to developers: this issue is not fixed. Theses are just workarounds as far as I can understand. Could you please re-open the issue?

[2019-05-12 17:05] Atrus619 commented on #28394
@muddham Here is one standalone script that replicates this issue. I am leaving the original code at the top for the time being for reference (to demonstrate the analogy at play), but if you would prefer I completely replace it, I have no problem doing just that.

Short description of analogy:
I wrote a very simple generator to replicate the tf.keras.utils.Sequence class I am using for my custom g

[2019-05-12 18:00] yurivict commented on #21366
Problems in ```bazel``` aren't fixed for months or years.

[2019-05-12 18:27] paviddavid commented on #27715
@chris-opendata Sounds weird.. I am working under Ubuntu 16.04 and I used the docker image tensorflow/tensorflow:latest-gpu-py3 and it worked for me as expected. My Cuda is 10.0. Have you tried to verify cudnn in your image? nvcc --version could maybe help

[2019-05-12 18:42] abdo96 commented on #23780
Thank so much. I will try then If it's still existing. I will re-open issue @183amir

[2019-05-12 19:20] shkarupa-alex opened #28643 "Keras fit_generator fails in graph mode when input is dict"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): simple keras model combined from examples
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS X 10.14
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFl

[2019-05-12 19:46] colonder opened #28644 "GPU not available after installation of TF 2.0 alpha"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlo

[2019-05-12 20:22] mihaimaruseac commented on #28638
Closing as spam

[2019-05-12 20:22] #28638 closed

[2019-05-12 23:34] makslevental opened #28645 "AttributeError: module 'tensorflow.python.saved_model.signature_constants' has no attribute 'DEFAULT_TRAIN_SIGNATURE_DEF_KEY'"
[code]
[code]
[code]

[2019-05-12 23:38] KichangKim opened #28646 "[TF 2.0] keras model.train_on_batch allocates extremely large CPU memory"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64 1809
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.0.0-

[2019-05-13 00:42] Tourenathan-G5organisation commented on #18736
In my case, batch_size was 128 and i reduce it to 20 and it seems running now. Hope i wouldn't have this problem again till my training ends

[2019-05-13 00:56] melo19890618 opened #28647 "switch statement"
I am a beginner of tensorflow。When I use tensorflow, I want to do this:
If (global_step%2==0):
      Compute and store
elif(global_step%2!=0):
      Get the stored date
After analysis, I found that tensorflow builds a graph using tf.cond instead of if。。。 else。。。.So I modified the code：tf.cond(tf.cast(global_step%2==0),tf.bool,Compute and store,  Get the stored date).However, there are still proble

[2019-05-13 01:00] geometrikal opened #28648 "Keras fit_generator using validation does not respect verbose argument"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 1809
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.13 gpu
- Python version: 3.6

**Bug**
When using `fit_generator` with validation the progress bar is printed regardless of the `verbose` setting.

**Cause**
Line 216 of tensorflow/python/keras/engine/traini

[2019-05-13 01:01] zrss commented on #28639
@byronyi  .. thx byr (BUPT ?) ... i just print the current thread bt ... i should print all the threads bt (i.e. `thread apply all bt`), my fault

but in my memory, i see some horovod `common` call and it end with `cudaEvent*` ...

[2019-05-13 01:10] KichangKim commented on #28646
Related comment:
https://github.com/tensorflow/tensorflow/issues/28110#issuecomment-490082449

[2019-05-13 01:16] guptapriya commented on #25152
@jaingaurav can you help look into this, and see if there is a bug, and maybe provide the recommended APIs?

[2019-05-13 02:06] byronyi commented on #28639
I’ll suggest you to raise this issue to horovod directly. You could try upgrading your TF as well.

[2019-05-13 02:06] ChChwang commented on #16611
I used tf1.4.0 and raise the error "Session was not ready after 1800 seconds", which version of tensorflow worked? thanks.

[2019-05-13 02:09] toandrew opened #28649 "tf.lite.TFLiteConverter.from_saved_model error"
**System information**
- OS Platform and Distribution (MacOS 10.14.4):
- TensorFlow installed from (binary):
- TensorFlow version (tensorflow==1.13.1):

**Provide the text output from tflite_convert**

Some of the operators in the model are not supported by the standard TensorFlow Lite runtime and are not recognized by TensorFlow. If you have a custom implementation for them you can disable this e

[2019-05-13 02:21] ziyigogogo commented on #28466
@muddham  The fact is that I just cannot make the custom loss work on 2.0 alpha in any way. And the latest tf nightly enabled the add_loss& add_metric again. So im using a add_loss way to achieve my target.
So for me at least, the latest version meets my needs.
However, there are still bugs on the thing I reported: you can make the custom_loss_function work ONLY WITHOUT distribute strategy.  This

[2019-05-13 02:24] sunoranges commented on #10632
Hi, I add `tf.reset_default_graph()' before creating the graph, but it said
'Tensor("ConvNet/conv2d/kernel:0", shape=(5, 5, 3, 32), dtype=float32_ref) must be from the same graph as Tensor("x:0", shape=(?, 128, 128, 3), dtype=float32).'

[2019-05-13 03:55] KVRMtech opened #28650 "Getting error message while converting data to TFrecords. TypeError: 'Self-emp-not-inc' has type str, but expected one of: bytes"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 64 bit
- TensorFlow installed from (source or binary): Source
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

[2019-05-13 03:55] #28161 closed

[2019-05-13 04:14] #28342 closed

[2019-05-13 04:19] IcarusZqt opened #28651 "mode.fit() Error: ValueError: TypeError: len() of unsized object"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-13 04:25] #28222 closed

[2019-05-13 05:17] jbedorf commented on #26610
That is a weird error, especially given that it happens during the build process. Could it be that there is a Python package installed that loads MPI libraries, e.g. `mpi4py`?

[2019-05-13 05:21] achandraa commented on #28086
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-13 05:21] #28086 closed

[2019-05-13 05:25] achandraa commented on #28404
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-13 05:25] #28404 closed

[2019-05-13 05:26] achandraa commented on #28428
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-13 05:26] #28428 closed

[2019-05-13 05:26] achandraa commented on #28425
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-13 05:26] #28425 closed

[2019-05-13 05:27] achandraa commented on #28419
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-13 05:27] #28419 closed

[2019-05-13 05:38] hoonkai commented on #28504
@haozha111 Oh! Well spotted. Thanks.

[2019-05-13 05:38] #28504 closed

[2019-05-13 05:48] #28596 closed

[2019-05-13 05:49] achandraa commented on #28506
@zealotpb :  Hope the comments resolved the issue. Kindly let us know. Thanks!

[2019-05-13 05:56] #28557 closed

[2019-05-13 06:00] achandraa commented on #28113
@arrowd :  Let us know if that helps. Thanks!

[2019-05-13 06:09] BrEr commented on #28428
I am using both Windows 7 and Ubuntu 18.04 and the issue is the same for both platforms cause I am trying to figure out how I can use the API. I am using TF 1.13.

[2019-05-13 06:17] amitsrivastava78 commented on #28438
Quantization support for Exp is raised as PR now.

Regards
Amit

[2019-05-13 06:20] DJSpyman commented on #26296
Same here with 1.13.1 tried to narrow it down with procmon.exe because I also have a working developer machine, and a non working deploy device. Unluckily I could not narrow it down. By the Looks of it all dependant dlls were found.

[2019-05-13 06:25] jinfagang commented on #25299
this not work on tensorflow 2.0:

[code]

[2019-05-13 06:27] byronyi opened #28653 "Multi-GPU performance degradation in custom built TF"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): tensorflow/benchmarks
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 9.4
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy): N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 33141833284a81a5ab3300047d28

[2019-05-13 06:28] CorbanSwain commented on #22618
I'm having this same issue. It seems like there needs to be a way to retrieve a global_step tensor in a compatible manner. I think there are some advantages to the TensorFlor distributed estimator method that the keras multi_gpu_model doesn't capture (i.e. distributing the entire model over multiple GPUs [estimator]rather than running computations in parallel over multiple GPUs [multi_gpu_model]),

[2019-05-13 06:35] bipinkc19 commented on #10021
@xlambein @w4nderlust Thanks for clearing out that class weights by the method mentioned by me converts to sample weights. But it still doesn't explain why most implementation are done this way:
[code]

[2019-05-13 06:36] fsx950223 commented on #26973
fixed

[2019-05-13 06:36] #26973 closed

[2019-05-13 07:07] meteorcloudy commented on #15618
https://github.com/bazelbuild/bazel/blob/5e34534fe6108277843632e5fd206052ca296ce3/scripts/packages/debian/control#L13
@ulfjack Do we still need `python` as a dependency for Bazel's apt package?

[2019-05-13 07:41] sarim-zafar opened #28654 "NotFoundError: Resource worker/embedding_layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- GPU model and memory: TPU

**Describe the current behavior**
When i try to call fit on a character level LSTM based model I get following error `NotFoundError: Resource worker/embedding_layer/embedding

[2019-05-13 07:57] yangjinghit opened #28655 "train.py"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac
- Mobile device (e.g. iPho

[2019-05-13 08:01] gadagashwini commented on #28462
@Leslie-Fang Could you provide more details about the issue and context? Also, In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-05-13 08:05] alsrgv commented on #28639
@zrss, I'd suggest TF upgrade as well.  Can you run with NCCL_DEBUG=INFO, and share NCCL debug output & version info?

[2019-05-13 08:08] byronyi commented on #28653
Removing ``--config=mkl`` resolves this issue.

[2019-05-13 08:08] #28653 closed

[2019-05-13 08:14] lfaino commented on #26289
Dear
i`m trying to install tensorflow using an Nvidia 1070, CUDA 10.1, cudnn7.5.1.10 on Ubuntu 18.04.
the nvidia drivers are NVIDIA-SMI 418.40.04    Driver Version: 418.40.04    CUDA Version: 10.1  (this comes from nvidia-smi).

I install tensorflow-gpu using pip3.

the error that i get when i run:
`python3 -c "import tensorflow as tf; tf.enable_eager_execution(); print(tf.reduce_sum(tf.random_nor

[2019-05-13 08:22] byronyi commented on #28653
Gentle ping @claynerobison @nhasabni @mahmoud-abuzaina what is your recommended configuration if we try to run our wide and deep models on a mixed CPU/GPU cluster? Do we need to have a MKL build and a separate CUDA build?

[2019-05-13 08:22] gadagashwini commented on #28552
@vgoklani In order to expedite the trouble-shooting process, please provide a minimum code snippet to reproduce the issue reported here. Thanks!

[2019-05-13 08:29] #28507 closed

[2019-05-13 08:33] sunzhe09 opened #28657 "custom tflite model run failed with Gpudelegate (android P)"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-13 08:42] achandraa commented on #28632
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version and gfile version you are using. Meanwhile you can also have a look on this [issue](https://github.com/google/gin-config/issues/9) and let us know if that solves the problem. Thanks!

[2019-05-13 08:46] SirCastic1 commented on #26833
Same Issue .
Model saves succesfully in tensorflow
While converting using code:

`import tensorflow.compat.v1 as tf

tf.disable_v2_behavior()
tf.enable_eager_execution

converter = tf.lite.TFLiteConverter.from_saved_model('C:/Users/ajayb/OneDrive/Desktop/roj/SM/1557730360',signature_key='predict')
tflite_model = converter.convert()
open("converted_model.tflite", "wb").write(tflite_model)
`

Curren

[2019-05-13 08:52] Leslie-Fang commented on #28462
@gadagashwini Thanks for you reply.

[2019-05-13 08:52] #28462 closed

[2019-05-13 08:53] Leslie-Fang commented on #28462
I suppose it's a expected behavior.

[2019-05-13 09:07] adrianstaniec commented on #28256
Could someone else look at this issue, please?
I am sorry, but captain-pool doesn't get it

[2019-05-13 09:17] zrss commented on #28639
thx @alsrgv , i run a new job and it hang again, but this time i get more info ... (yes, included NCCL_DEBUG log)

[nccl-debug-info.txt](https://github.com/tensorflow/tensorflow/files/3172031/nccl-debug-info.txt)

ps -ef info in one (A) node ( 4 nodes * 8 V100 GPU)

[ps-ef-info.txt](https://github.com/tensorflow/tensorflow/files/3172035/ps-ef-info.txt)

nvidia-smi info in A node

[nvidia-smi-info.

[2019-05-13 09:19] csejourne commented on #28310
Ok, so I got two different workaround that allow to compute ``tf.hessians`` w.r.t the inputs.

### First workaround

Using ``unroll=True`` prevents Tensorflow from creating the symbolic ``tf.while_loop`` as said in the documentation. Without this symbolic loop, the following code runs smoothly.

[code]

However for my need I needed to discard the time dimension (i.e remove it or set it to 1). It i

[2019-05-13 09:23] melo19890618 opened #28658 "tf.cond？？？？"
How to achieve in tensorflow: meet the condition, execute 1 (do not execute 2); do not satisfy the condition, execute 2 (do not execute 1)

[2019-05-13 09:23] oquenchil commented on #28388
Not exactly. We have this example:
https://github.com/bazelbuild/rules_cc/blob/master/examples/my_c_compile/my_c_compile.bzl

You could use that with CPP_LINK_STATIC_LIBRARY_ACTION_NAME instead from https://github.com/bazelbuild/bazel/blob/master/tools/build_defs/cc/action_names.bzl

[2019-05-13 09:23] ulfjack commented on #15618
We're still shipping a bunch of python files as part of the Bazel binary. There are some Android tools as well as a couple of packaging build_defs under tools/. They should all be unbundled, but I'm not sure what the timeline is:
[code]

[2019-05-13 09:25] muddham commented on #28643
@shkarupa-alex Able to reproduce the issue with the provided code.

     62 model.run_eagerly = False
---> 63 model.fit_generator(input_fn())

2 frames
/usr/local/lib/python3.6/dist-packages/tensorflow/python/keras/engine/training.py in train_on_batch(self, x, y, sample_weight, class_weight, reset_metrics)
   1248     else:
   1249       if not isinstance(K.symbolic_learning_phase(), int):
-> 1250

[2019-05-13 09:30] gadagashwini commented on #28585
@wcq19941215 Could you provide more details about the bug and context? Also, it would be great if you can provide any commands you followed. Please provide as many details as possible to resolve the issue faster. Thanks!

[2019-05-13 09:32] FunkyKingston opened #28659 "model.fit"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-13 09:32] gadagashwini commented on #28597
@celinew1221 Could you provide more details about the issue and context? Please provide as many details as possible to resolve the issue faster. Thanks!

[2019-05-13 09:34] PrimaryKey opened #28660 "ImportError: /lib64/libm.so.6: version `GLIBC_2.23' not found (required by /home/xsx/.conda/envs/tensorflow/lib/python3.7/site-packages/tensorflow/python/_pywrap_tensorflow_internal.so)"
- centos7_DVD(The latest version)
- python: 3.7.3
- tensorflow:  1.13.1
- anaconda: Anaconda3-2019.03-Linux-x86_64

After the installation of tensorflow(cpu version) via pip command, I just used import tensorflow as tf which leads to the following error message；

[code]

I try to update GLIBC_2.23,But the whole system crashed；

This problem has been bothering me for a week and my system has crashe

[2019-05-13 09:42] FunkyKingston opened #28661 "TF2.0.0-alpha bad performance (compared to TF1.13.1) with model.fit() for 1-layer tf.keras.Sequential model, Linear Regression"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Nope, this only concerns performance of model.fit for a tf.keras.Sequential model, comparing versions 2.0.0-alpha to 1.13.1.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Tested on Windows 10, 64-bit (local machine), and on google colab with similar outcome
- Tensor

[2019-05-13 09:43] gadagashwini commented on #28621
@SunYanCN Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue templ

[2019-05-13 09:44] chrismostert opened #28662 "Unable to use custom problem for visualizing attention"
I am trying to run the code in the TransformerVisualization.ipynb notebook to visualize the attention on a user defined problem, however I am unable to do so. When running the following code

[code]

I get the following error

[code]

Training the model using the custom problem worked just fine by running t2t-trainer with the t2t_usr_dir flag set to my directory with the custom problem, however I

[2019-05-13 09:45] gadagashwini commented on #28624
@jiapei100 Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue temp

[2019-05-13 09:48] achandraa commented on #28581
Please provide details about what platform you are using (operating system, architecture).
Make sure you also include the exact command if possible to produce the output included in your test case. You can refer this [link](https://github.com/tensorflow/tensorflow/issues/new/choose) to fill in the template. Thanks!

[2019-05-13 09:49] gadagashwini commented on #28630
@tomguyman Can you please follow [these](https://www.tensorflow.org/install/pip) steps to install TF. Thanks!

[2019-05-13 09:49] #28662 closed

[2019-05-13 09:50] wcq19941215 commented on #28585
@gadagashwini .The detail about bug in https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/java/demo/app/src/main/java/com/example/android/tflitecamerademo/ImageClassifier.java

and the code is:
import org.tensorflow.lite.nnapi.NnApiDelegate;

but I can't find the pack in org.tensorflow:tensorflow-lite-gpu:0.0.0-nightly or org.tensorflow:tensorflow-lite:0.1.2-nightly
so ,i used ba

[2019-05-13 10:14] sleighsoft opened #28663 "meta_optimizer.cc layout failed on frozen_graph"
TF 2.0 preview gpu
Python 3.6.3

Importing a frozen graph def leads to an error: `... meta_optimizer.cc:486] layout failed: Invalid argument: Invalid graph: Frame ids for node ...`

**What I did**
Checkpoint: http://download.tensorflow.org/models/inception_v3_2016_08_28.tar.gz

Run in `research/slim/` found here: https://github.com/tensorflow/models/tree/master/research/slim
1. GraphDef:
```python

[2019-05-13 10:16] shkarupa-alex commented on #28643
tf-nightly is free from this issue (but that is tf 1.x branch as i know)

[2019-05-13 10:26] sleighsoft commented on #28663
This example was extracted from a large codebase and tested on my machine!

This extracted example also causes the following problem: https://github.com/tensorflow/tensorflow/issues/27141
When I run this code within a large code base (cannot share) I do not get the aforementioned CUDNN error but I get the `layout failed` one.

[2019-05-13 10:33] chsigg commented on #26289
If you want to use TensorFlow with CUDA 10.1, you currently need to build it from source. The binaries we ship are built for CUDA 10.0.

[2019-05-13 11:03] achandraa commented on #28545
Which CUDA/cuDNN version you are using. Also did you try installing TensorFlow from this [link](https://www.tensorflow.org/install/source). Please let us know. Thanks!

[2019-05-13 11:12] met45 commented on #26546
I am having the same error as well

[2019-05-13 11:14] weishengchong commented on #26833
@SirCastic1,@reorder-cv

similar issue, do you have any ideas? Thanks!

  File "/root/.local/lib/python3.6/site-packages/tensorflow/lite/python/convert.py", line 205, in toco_convert_protos
    **"TOCO failed. See console for info.\n%s\n%s\n" % (stdout, stderr))
tensorflow.lite.python.convert.ConverterError: TOCO failed. See console for info.
/bin/sh: 1: toco_from_protos: not found**

environment

[2019-05-13 11:19] Shobana16 opened #28664 "tensorflow-gpu import error"
Python 3.6.8 (tags/v3.6.8:3c6b436a57, Dec 24 2018, 00:16:47) [MSC v.1916 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "C:\Users\shoba\AppData\Local\Programs\Python\Python36\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal

[2019-05-13 11:44] muddham commented on #28646
@KichangKim Able to reproduce the issue using build (dev20190511) allocates endless memory and finally crashes.

[2019-05-13 11:49] Karocyt commented on #5369
It works perfectly fine for tensorflow, thanks a lot !

Would it be possible to apply the same kind of patch to standalone tensorboard ? It was working like a charm with HDFS but it doesn't as soon as Kerberos is involved...

[2019-05-13 11:53] muddham commented on #28628
@byronyi Able to reproduce the issue. Please find attached log

'v1.12.1-1705-g978532afa9'

[2019-05-13 11:53] WY19940327 opened #28666 "I can not import tf successfully although it doesn't output any error"
<em> </em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win10 64bit
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version: 1.8.0
- Python version: 3.6
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): 0.16.1

[2019-05-13 11:56] achandraa commented on #28551
Please let us know which version of TensorFlow you are using. Also try to check whether numpy is installed or not. If yes which version of numpy is installed and what is the path for the same. Thanks!

[2019-05-13 11:56] muddham commented on #28625
@007fred50 It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you wil

[2019-05-13 11:58] seb1000 commented on #15833
I tried with tf-nightly and tfp-nightly (the tfp release does not yet include ode), and the ode solver is not differentiable with gradient tapes. When trying to differentiate the result of the solver, the gradient function returns None ( see below).
Or maybe I am getting something wrong, and differentiation works differently in tensorflow-probability? I just used the solver from tfp, and the rest

[2019-05-13 12:05] muddham commented on #28622
@007fred50 In the earlier opened issue [link](https://github.com/tensorflow/tensorflow/issues/28442) , seems like you have got the stackoverflow link.Can you please refer this. As this is the custom code after I ran the code it says 'Errno 2] No such file or directory: 'x.pickle'.

[2019-05-13 12:25] starkdm commented on #28551
numpy install path: c:\users\lenovo\appdata\local\programs\python\python37\lib\site-packages (1.16.3 version)

Where in sources I can view library version?

[2019-05-13 12:34] danielbraun89 commented on #26178
thanks for this, Solved me a lot of headach.
This issue is most definantly needed to be solved. It is a crucial step in the process of serving a keras model using tf.serve for example

[2019-05-13 12:39] SirCastic1 commented on #26833
Tried the tflite converter using commandline?
For me it says

    `ValueError: No 'serving_default' in the SavedModel's SignatureDefs. Possible values are 'predict'.`

Unfortunately I am not sure how to set serving_default as 'predict' in command line. I am only able  to set using python api which is failing me.

[2019-05-13 12:42] ljakupi commented on #28626
Thanks for the feedback @jimfleming.

I am not sure if it has an impact on anything, in my case during the optimization process!

[2019-05-13 12:50] 007fred50 commented on #28622
hello

you can download it here:
http://people8people.com/x.pickle
http://people8people.com/y.pickle

[2019-05-13 12:52] celinew1221 commented on #28597
I’m confused. What other information do you need? The sample code is what I used to undersample data - using rejection sampling. However, with a highly unbalanced dataset, like the one I used here, it will spit out the information I quoted above, which is every annoying when I have other debug/info printed to screen.

[2019-05-13 12:53] achandraa commented on #28626
Please provide details about what platform you are using (operating system, architecture).Also help us to get minimal reproducible code to expedite the trouble-shooting process. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

We ask for this in the issue submission template, because

[2019-05-13 12:56] hariteja97 opened #28667 "Can't Run code on ubuntu 18.04"
I tried to run the code in my ubuntu system but couldn't run the code
can u suggest a way to run the code without gpu support and it would be great if u say with few proper steps

[2019-05-13 12:57] muddham commented on #28610
@kenryd Able to reproduce the issue with the provided code.
/job:localhost/replica:0/task:0/device:GPU:0
/job:localhost/replica:0/task:0/device:GPU:0
-------------------------------------------------
---> 14 c = tf.cast(b, tf.float32) # error, says first argument is on the CPU
InvalidArgumentError: Tensors on conflicting devices: cannot compute Cast as input #0 was expected to be on /job:localhost

[2019-05-13 13:01] muddham commented on #28598
@celinew1221 It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you w

[2019-05-13 13:04] Shobana16 commented on #28664
OS Platform and Distribution - windows 10 64 bit
TensorFlow installed from - pip install tensorflow-gpu
TensorFlow version - 1.13.1
Bazel version - not sure
CUDA/cuDNN version - cuda - 9.0 and cudnn - v7.5.0.56
GPU model and memory - Intel(R) HD Graphics 630
total graphics memory - 4154 MB

[2019-05-13 13:18] galeone commented on #23873
The `model.get_updates_for` call, in a scenario like the one I presented in the opening post, can't be called (when you're sharing the model parameters).

I guess it's better to do not close the issue since people are starting to migrate their codebase to TF2 by using Keras models and not `tf.layers` and until TF2 is not the recommended default, many of them just use Keras + Session (and thus the

[2019-05-13 13:21] AyushP123 commented on #28664
Although I think unrelated but the CUDA version should be 10.0 and cuDNN version should be 7.4 ( corresponding to CUDA 10.0 ). Use anaconda to install tensorflow-gpu after installing CUDA and cuDNN. Its easier that way.

[2019-05-13 13:24] muddham commented on #28592
@menghuanlater This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tenso

[2019-05-13 13:27] celinew1221 commented on #28598
Sure. Can I just edit this post? Looks like I am missing some system info.