[2016-07-13 22:56] benoitsteiner commented on #1300
The performance of the cifar10 model is limited by the speed at which we can perform the local response normalization. This operation is currently implemented for CPU only. Since most CPUs don't support fp16, we have to emulate the corresponding computations, which is incredibly slow.

The performance should improve significantly once we add support for LRN on GPU. Another option would be to compi

[2016-07-13 22:57] hengtze commented on #3200
I'm not sure how the change that @skywildworld suggested would fix the problem.

If you look at https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/estimators/dnn_linear_combined.py#L236

def _get_dnn_feature_columns(self):
    if not self._dnn_feature_columns:
      return None
    feature_column_ops.check_feature_columns(self._dnn_feature_columns)
    retur

[2016-07-13 23:05] anuragkr90 commented on #1803
I think the issue can be closed from my side. I don't face the same issue on other machines.

[2016-07-14 00:54] ebrevdo commented on #2826
See tf.contrib.distributions for normal and multivariate normal distribution classes.

[2016-07-14 00:54] #2826 closed

[2016-07-14 01:28] mbz opened #3304 "Ran out of GPU memory"
I have a network similar to A3C network described [here](http://arxiv.org/abs/1602.01783), with lots of syncing and copying tensor values between different duplicates of the model. The code crashes with a `Ran out of memory` exception (see below). This might be a little bit hard to reproduce somewhere other than my machine (since the code is not open source ... yet) but I would be more than happy

[2016-07-14 01:45] nmhkahn commented on #1122
@pawni he's code works good, but have to change like below

`def BatchNorm(inputT, is_training=True, scope=None):
    # Note: is_training is boolean type placeholder
    return tf.cond(is_training,
                lambda: batch_norm(inputT, is_training=True,
                                   center=False, updates_collections=None, scope=scope),
                lambda: batch_norm(inputT, is_traini

[2016-07-14 01:49] nmhkahn commented on #1122
@pawni he's code works good, but have to change like below

[code]

And when run in training or test time,

[code]

This code works, but like [#3265](https://github.com/tensorflow/tensorflow/issues/3265) says it will be great if `tf.contrib.layers.batch_norm` get `is_training` variable as a `tf.plcaeholer`.

[2016-07-14 02:10] jhobbs-stats opened #3305 ".Save, .Restore for DNNRegressor, DNNClassifier"

[2016-07-14 02:12] #3305 closed

[2016-07-14 02:15] jah456 opened #3306 ".Save, .Restore for contrib.learn.DNNClassifier"
The older functions like skflow.TensorFlowDNNClassifier had methods .save and .restore.  These were supposedly migrated over to the contrib.learn functions, but there are no longer save and restore methods that I can find.  Is there a new protocol for saving the graph and variables with the new contrib.learn package?

[2016-07-14 02:48] thinxer commented on #1300
@sbrodehl GTX 1080's fp16 performance is well under 1Tflops. See reddit discussions [here](https://www.reddit.com/r/MachineLearning/comments/4lhrfj/fp16_performance_on_gtx_1080_is_artificially/?st=iqlpu3i4&sh=0afda9d6).

[2016-07-14 05:18] jmchen-g commented on #3304
It might not be easy to find the problems without the code...
@zheng-xq Could you take a look at this please?

[2016-07-14 05:20] jmchen-g commented on #3306
@ispirmustafa Could you take a look at this please?

[2016-07-14 05:21] jmchen-g commented on #3302
Sounds good. @danmane Could you take a look at this please?

[2016-07-14 05:25] jmchen-g commented on #3247
Tracked this internally so I will close this one here.

[2016-07-14 05:25] #3247 closed

[2016-07-14 05:38] zheng-xq commented on #3304
@mbz, are you using the latest TensorFlow? Both both GPU and pinned memory, the latest TensorFlow uses BFC allocator, which has a lot less fragmentation.

[2016-07-14 05:59] asaydin opened #3307 "NaN values in the learnable parameters with custom initialization, along with lasso regularization"
From what I read online, getting NaN cost values can happen if someone uses a custom cross entropy calculation while doing classification. However, I use the built-in cross entropy calculation provided.

My problem is different. I have a network that consists of an RNN and a convolutional layer before that. When I initialize the convolutional layer with random values(e.g., normal random or uniform

[2016-07-14 06:08] Kongsea commented on #3304
Maybe you need to close and restart your Terminal every time after you run your previous program.

[2016-07-14 06:37] zheng-xq commented on #3304
Also please upload the entire log to website such as the following, and paste the link here.

http://pastebin.com/

As @jmchen-g mentioned, it is better to have a small repro case. Otherwise, it might be expected to fail if the model requests more memory than what the GPU has.

[2016-07-14 06:40] taifeng1205 commented on #1203
@jmhessel @suniliitm @Lazare , we are facing with the same problem you mentioned above. Our setting is ubuntu14.04 lts, cuda 7.5.18, cudnn 4.0. (hardware, 2*titanX per machine, or 8*tesla k40 per machine).  As chivee said, tensorflow can work correctly in the case when some process else related to GPU started(e.g. x server, or another tf/torch/theano process keep running). And what's more we have

[2016-07-14 07:04] VincentLa commented on #42
@rajmiglani same issue here. Did you ever figure out a solution? Not sure why it's defaulting to Python 2

[2016-07-14 08:10] power9694 commented on #2235
@akors

I actually runned the code, print(tensorflow.__version__), and found that version of the tensorflow in my computer was 0.8.0.
After i updated the version, i can run tf.nn.conv3d well.
Very thank you for your advice. :)

[2016-07-14 08:30] jojotata commented on #2437
Hi. I have a similar issue when I run MNIST on TensorFlow.
There may be some problem in cudnn.
How did you fix the problem?

`E tensorflow/stream_executor/cuda/cuda_driver.cc:932] failed to allocate 163.74M (171696128 bytes) from device: CUDA_ERROR_OUT_OF_MEMORY
E tensorflow/stream_executor/cuda/cuda_dnn.cc:289] could not create cudnn handle: CUDNN_STATUS_INTERNAL_ERROR
E tensorflow/stream_executo

[2016-07-14 08:36] dipanjan06 commented on #1947
I am also getting the same problem . Can any one already solved this problem ? Any suggestion how to overcome this problem.

ubuntu@ip-172-31-19-3:~/TensorFlowWorkSpace/rnn/wordSequence$ python sample.py -n=200 --prime='Hello '
I tensorflow/stream_executor/dso_loader.cc:105] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.cc:105] successfully opened CU

[2016-07-14 09:40] rajmiglani commented on #42
@VincentLa no i rather switched to AWS and built over the cloud.
I try to work out every solution available over the internet but none worked unfortunately.

[2016-07-14 09:40] Ape opened #3308 "contrib/makefile: No session factory registered for the given session options"
### Environment info
Operating System: Arch Linux 64-bit
GCC: 6.1.1
no CUDA or cuDNN used

Tensorflow installed from Git repo sources. I tried v0.9.0 and current master (`c129591`).

### Steps to reproduce
**1.** Build `contrib/makefile` (`download_dependencies.sh` + `make`)
**2.** Link produced `tensorflow-core` to a C++ project
**3.** Try to create a new TensorFlow session:

[code]

**4.** Compi

[2016-07-14 10:01] Ape opened #3309 "contrib/makefile: device_attributes.pb_text.h: No such file or directory"
### Environment info

Operating System: Arch Linux 64-bit
GCC: 6.1.1
no CUDA or cdDNN used

Tensorflow installed from Git repo sources (v0.9.0).
### Steps to reproduce

**1.** Get a clean copy tensorflow repository
**2.** Run `tensorflow/contrib/makefile/download_dependencies.sh`
**3.** Run `make -f tensorflow/contrib/makefile/Makefile`
**4.** The build sometimes fails with:

[code]

**5.** Run `m

[2016-07-14 10:02] Ape commented on #3308
This may be related to #3309 since also that occurs sometimes for me.

[2016-07-14 10:10] Ape commented on #3308
The same issue also occurs with the C API and the following code:

[code]

[2016-07-14 10:22] Ape commented on #3308
This works perfectly (both C++ and C API) if I build `libtensorflow.so` with bazel (instead of using `contrib/makefile`) and then link to `bazel-bin/tensorflow/libtensorflow.so`.

[2016-07-14 11:21] Su-Jin2 opened #3310 "warning when running commands with bazel"
Hello, I'm installing tensorflow following instructions of
https://www.tensorflow.org/versions/r0.9/get_started/os_setup.html
especially in "Installing from sources"

I almost encountered the below warnings when running commands with bazel
Among the warnings, I'd like to resolve the warning which says 'in includes attribute of cc_library rule //****' resolves to '****' not in 'third_party'. This w

[2016-07-14 12:04] isabeaups opened #3311 "Bug with tensorflow.random_normal() when using placeholders and last dimension is 1"
tensorflow.shape(x) gives ? for the last dimension when the last dimension is 1.
This is a problem if you have layers or inputs which are only one dimensional.
### Environment info

Operating System: OSX
Tensorflow 0.9.0

Installed version of CUDA and cuDNN:
problem not related to CUDA or cuDNN

**Edit:** thanks to @cwhipkey I noticed I mischaracterized the problem, edited version below.
### Steps

[2016-07-14 12:48] matthiasreisser opened #3312 "drawing random numbers in a loop"
Hey tf-community,

Please consider the following example:
`import tensorflow as tf`
`x = tf.random_normal(shape=(1,), mean=0.0, stddev=1.0)`
`sess = tf.Session()`
`sess.run([x for _ in xrange(4)])`

This results in a list of four identical numbers. What I would expect, however, is a list of 4 independently drawn numbers. Is this behaviour by design? And if so, is there a way to specify that I woul

[2016-07-14 13:47] sahil912 opened #3313 "iOS tensforflow example ?"
Hi,

I observed that in the latest version of tensorflow example folder, there is no iOS example, though it was available in the previous version. Could you please direct me on where do I find the iOS example for tensorflow.

Thanks

[2016-07-14 14:29] rueberger commented on #3277
Yup! All is well. Thanks for quickly dispatching this one!

[2016-07-14 14:51] alquraishi commented on #3115
I don't think the issue that @davek44 is raising is gate-specific initialization, but rather just initialization period. LSTMCell allows the user to pass an initializer (used for all gates), but the other types of cells do not (e.g. GRUs).

[2016-07-14 15:16] tanmayshankar commented on #3247
Hi Vijay and Jianmin, thanks for taking the time to look into this.

I agree that controlling padding amounts of each dimension is probably the most general scenario, but  I also like the existing abstraction of padding types in place.

Until this feature is brought in, would it be possible for me to define an alternate operation to conv3d,
where the amount of padding for planes, rows and columns

[2016-07-14 15:17] sbrodehl commented on #1300
Thanks @thinxer , I noticed that one later. :-/
NVidia did not specify any half precision intrinsics either in CUDA 8.
And thanks @benoitsteiner for the deeper insight.

[2016-07-14 15:49] girving commented on #1203
@chivee @taifeng1205 Unfortunately, as noted above this seems like a bug in Linux or the GPU driver, so we may not be able to fix it on our end.  We're happen to accept PRs if you find a fix, but upgrading may be the easiest route.

[2016-07-14 17:29] danmane commented on #3302
Thanks for the suggestion. I've implemented the change and it's working its way through our internal review system.

[2016-07-14 17:34] #3313 closed

[2016-07-14 17:46] martinwicke commented on #3261
@damienmg is this something we can fix on our side or is that a problem in bazel?

[2016-07-14 17:54] davek44 commented on #3115
Yes, initializers for all different types of cells (like LSTMCell already has) is an important first step.

@ebrevdo, I see the challenge in trading off flexibility for complexity in initializing different matrices. Are you saying it's also a programming challenge? I imagined it was straightforward to initialize the matrices separately and combine them into the merged version.

[2016-07-14 17:57] jmchen-g commented on #3310
@martinwicke Could you take a look at this please?

[2016-07-14 18:00] jmchen-g commented on #3312
Can you give it a different seed everytime you call it? Maybe related to the time.

[2016-07-14 18:33] cwhipkey commented on #3311
What are you printing from shp to see the (?,?,1)?  Against the head version, I tried the following and could not reproduce it.  I also tried to run shp in my session, but that requires an actual value of the placeholder in order to run.

import tensorflow as tf
 n=1
 x = tf.placeholder(tf.float32, shape=(None, None, n), name='x')
 shp = tf.shape(x)
 print(str(shp))
 print(x.get_shape())

Output:

[2016-07-14 18:42] zheng-xq commented on #1947
@dipanjan06, since we cannot reproduce this problem locally, we need your help to debug this. While the process is hanging could you use gdb to attach to it and print out the call stack?

1. While the process is hanging, find out its process-id.
2. Run "gdb"
3. Run "attach <process-id>". If this fails saying you don't have the permission, follow the instruction which may have "sudo sysctl -w kerne

[2016-07-14 18:55] mbz opened #3317 "handling multiple graphs"
In numerous locations in the documentation, it has been mentioned that it is possible to handle multiple `Graph`s, but I couldn't find any example.

Since `Session` only support a single `Graph`, it seems the only way of doing it is to create multiple `Session` instances.

Is it **safe** to have multiple instances `Session` at the same time?
if not, what is the proper way of handling multiple `Gra

[2016-07-14 19:12] mukul1992 commented on #1870
I am having the same issue on CentOs 6.7. Now I am using Bazel version 3.0.0 to compile tensorflow 0.9.0. How to make bazel recognize LD_LIBRARY_PATH is the question. #110 includes step-wise directions including a couple of hacks but does not work for me. Still getting the libpython not found error.

[2016-07-14 19:13] rdipietro commented on #110
Hi @mukul1992

Sorry, I'm still working with 0.8, so haven't battled with the 0.9 changes yet.

Here is a suggestion:

Use `--verbose_failures` with bazel, so that error messages aren't truncated. Then sift through the failure to find out which script ends up causing the issue. Then try putting `export LD_LIBRARY_PATH=your:custom:paths:$LD_LIBRARY_PATH` at the top of that file.

Hopefully that mig

[2016-07-14 19:35] damienstanton commented on #10
Hi @Mistobaan and @alonsovidales, for my own project I have been working on merging the master updates into the go branch [here](https://github.com/damienstanton/tensorflow/tree/go).

TF build is fine, however `go test` is currently failing:
[code]
I am new to working with swig. Any ideas here?

[2016-07-14 19:48] zheng-xq commented on #3304
@mbz, uploading the full log to pastebin.com and paste the URL here is very helpful.

If you are using a 12G GPU, something is wrong with the memory limit BFC allocator sees:

I tensorflow/core/common_runtime/bfc_allocator.cc:698] Stats:
Limit: 503270604

It is only allowed 500M GPU memory. A few possibilities:

1. It is currently running on a smaller GPU.
2. The GPU config in the session only all

[2016-07-14 19:51] damienstanton commented on #3001
I'd like to help here. I have a well-defined use case in a personal project.

When I have time to look into it, I'll track on the `bnns` branch on my fork, [here](https://github.com/damienstanton/tensorflow/tree/bnns).

[2016-07-14 20:03] pooya-mobadersany commented on #492
Hello,

I am using the GPU compatible version of TensorFlow 0.8, my system has 4 GPUs with approximately 12GB memory for each. I am running a CNN in TensorFlow for grey scale images (one channel images) whose size is 1024*1024, the total number of training images is 1520 and the batch size is 7, also this CNN has 64 feature maps for each convolutional layer. According to a variety of web pages tal

[2016-07-14 20:18] lpralf commented on #851
Temporary sources used in the build process can be found in ~/.cache/bazel. Cd to this directory and search for config.guess: find ./ -name "config.guess".
You might get several files but the paths should give you a clue which config.guess is the one of farmhash. In my case it is ./_bazel_ubuntu/ad1e09741bb4109fbc70ef8216b59ee2/external/farmhash_archive/farmhash-34c13ddfab0e35422f4c3979f360635a8c0

[2016-07-14 20:23] mukul1992 commented on #110
Hi @rdipietro , thanks for replying.

So, I switched back to 0.8. I am now using Bazel 3.0.0 (any previous version which would work better?).
Here is the output. I am just including the ERROR part which is in Bold. Again, I did complete other steps. I cannot figure out where to add the LD_LIBRARY_PATH thing so that it picks up the libpython library.

## Output:

[mdave@login001 tensorflow]$ bazel

[2016-07-14 20:27] PatrickGuo opened #3319 "TensorFlow Android demo crashes on start"
I installed the TensorFlow on my mac and tried the Android demo. It is confusing that it's all fine with compiling to .apk, but the application crashes as soon as it starts on my Nexus5 cellphone.

### Environment info
Operating System: Mac OS X
Android SDK: 24.0.0
Android NDK: r10e (will encounter problems when building with bazel if using latest v12)
Bazel: 0.1.4
Cellphone OS: Android 6

I tried

[2016-07-14 20:34] Mazecreator opened #3320 "CPU vs GPU Performance"
I am working on a reinforcement learning model problem.  I have been working to get the model creation running faster and bumped into a strange issue I cannot explain.  It runs much faster ~50% or so on the CPU vs the GPU.  This was unexpected and I have disabled the GPU using **"export CUDA_VISIBLE_DEVICES=-1"** so the learning runs faster.  I have been looking at upgrading my GTX 950, but not su

[2016-07-14 20:44] xjdeng opened #3321 "Tensorflow with GPU on Mac OSX: Works in Python but NOT IPython"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-07-14 21:06] JulienB-78 commented on #1803
I faced the same problem with the r0.9 version and solved it by moving the creation of the Coordinator and the call to start_queue_runners after the variable initialization (sess.run(tf.initialize_all_variables()).

[2016-07-14 21:36] waleedka commented on #2050
Is this in the master branch now? I see a refresh icon in the top right corner of the page next to the settings gear, so I was wondering if that was the implementation that @danmane  is referring to. However, clicking that icon doesn't seem to do anything for me.

During development I edit my models often and run quick training sessions that take a minute or less to see the effects of my edits. I

[2016-07-14 21:40] mbz commented on #3304
my bad, I should have been more clear. I'm ran the same experiment on a 12G gpu and it crashed after a few days. In order to reproduce it, I re ran the code with `gpu_options=tf.GPUOptions(per_process_gpu_memory_fraction=0.05))` which resulted in the logs above.

I'm not sure if I understand what you mean by full log. TensorFlow also outputs `See logs for memory state.`, but it doesn't say where c

[2016-07-14 21:44] sjperkins commented on #2919
I see there's already a Py_DECREF "associated" with the numpy input arrays when they are wrapped in unique_ptr's  with `make_safe`. I guess this is to ensure they're there to encourage release of the numpy base arrays on exit of TF_wrapper_helper. Am I reading this correctly?

How about using Py_INCREF on the numpy inputs to make sure they exist for the duration of `session.run` (which is guarded

[2016-07-14 21:46] zheng-xq commented on #3304
Could you install the latest Cuda driver as well? From another issue, older Cuda drivers could leak memory.

https://github.com/tensorflow/tensorflow/issues/2728

You can redirect your TensorFlow output into another file, and then upload it.

<your command line> |& tee /tmp/tf_output.log

[2016-07-14 21:51] sjperkins commented on #3009
I've noticed memcpy's being mentioned in this and [other](https://github.com/tensorflow/tensorflow/issues/2919) issues related to performance. I'm guessing memcpy is used to avoid thread-safety issues, in particular to support operations that take references to tensors such as **assign**.

Has any thought been given to introducing Copy-On-Write functionality to tensors within the graph? Numpy hand

[2016-07-14 21:56] jstaker7 commented on #2237
I also followed the example in CS224D until I hit a wall when trying to do mini-batching. My graph and dataset are both so large that rebuilding the graph for each tree and running them one at a time is just not feasible. I also thought about using a while_loop, but I don't see how this can work since the incoming trees have different sizes, as @ibab mentioned.

[2016-07-14 22:02] jstaker7 commented on #2237
Even if we don't support a Tree datatype right away, I'd think that a way to perform recursion in-graph would be sufficient to at least allow for a working solution. Then we could arrange the trees linearly and use gather recursively to interact with the computed tensors. It looks like theano doesn't even support recursion, so perhaps this alone is a really hard problem.

[2016-07-14 22:02] rryan commented on #2977
tf.matmul/tf.batch_matmul support for complex types is now in:
https://github.com/tensorflow/tensorflow/commit/6c7681fbbcc3c244f3e406abc4ea1287fd717752

[2016-07-14 22:06] asaydin commented on #3307
I finally understood the reason. It's due to numerical instability with the tf.sqrt function. Adding an epsilon solved the problem. Closing the issue.

[2016-07-14 22:06] #3307 closed

[2016-07-14 22:24] andrewharp commented on #3319
Hi, could you please update to hazel 0.3.0 and try again?

The demo should definitely work on a stock nexus 5. Have you made any changes to the code at all, like modifying the model parameters? It uses the input size to pick preview size.

[2016-07-14 23:15] raduk opened #3322 "Wrong type in rnn function"
I think the type of `zero_output` in line 135 in [(rnn.py)](https://github.com/tensorflow/tensorflow/blob/r0.9/tensorflow/python/ops/rnn.py#L135) should be `dtype` and not `inputs[0].dtype` as it is right now. If the cell output is a float, this will trigger an exception in the select statement in `_rnn_step` function in line [(298)](https://github.com/tensorflow/tensorflow/blob/r0.9/tensorflow/py

[2016-07-14 23:18] shekkizh commented on #3312
You are just fetching the value for **x** 4 times when you running the session. The session run is not sampling from the normal distribution every time.

Instead something like below will work?!
`x = tf.random_normal(shape=(4,), mean=0.0, stddev=1.0)
sess = tf.Session()
sess.run(x)`

[2016-07-14 23:30] PatrickGuo commented on #3319
I used to build with bazel 0.3.0, but it tells me that `ERROR: /tensorflow/WORKSPACE:70:1: new_git_repository rule //external:iron-ajax' s name field must be a legal workspace name.`. According to issue [#1047](https://github.com/tensorflow/tensorflow/issues/1047), I switched back to bazel 0.1.4.

[2016-07-14 23:35] PatrickGuo commented on #3319
By the way my TensorFlow version is: 0.9.0 mac os x CPU only. I installed using python: `# Mac OS X, CPU only, Python 2.7:
(tensorflow)$ export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/mac/tensorflow-0.9.0-py2-none-any.whl`

[2016-07-14 23:51] rryan commented on #2358
/me whistles innocently ;)

https://github.com/tensorflow/tensorflow/blob/5df4c71c86b28c2a4dd746bd67f00fc0281bd24f/tensorflow/python/ops/math_ops.py#L1525

[2016-07-14 23:55] girving commented on #2358
Excellent.  I won't have time to work on this PR in the near term.  @rryan Would you want to either take over or elaborate about how to use `temporary_variable` for this purpose?

[2016-07-15 00:19] rryan commented on #2358
It wont help with the gradient bit (and this is a non-public op) but based on your example code you could do:
[code]

[2016-07-15 01:20] shingchuang commented on #851
I successfully build the tensorflow on TX1 24.1 64 bit, with the following patch. But, run example failed with following kernel message.
**```tutorials_examp[31026]: unhandled level 1 translation fault (11) at 0xffffffffffffe8, esr 0x92000005```**

Maybe farmhard.BUILD with ```--build=arm-linux-gnu``` is wrong? But, I failed to compile it with ```--build=aaarch64-linux-gnu```. I'm still trying to

[2016-07-15 01:36] wfs commented on #3289
Thanks so much for your help @petewarden.

This got me a lot further through the build process but ran into new error at the end :

1. Did sudo apt-get update and dist-upgrade as usual to ensure have I the latest system.

All OK.

2. pi@raspberrypi:~ $ sudo apt-get install autoconf automake libtool curl make g++ unzip

All OK.

3. pi@raspberrypi:~/tensorflow/tensorflow/contrib/makefile/downloads/p

[2016-07-15 02:17] PatrickGuo commented on #3319
Just git clone the master branch from TensorFlow, and upgrade Bazel to 0.3.0, NDK to v12. The building is still fine without previously appeared errors. However, the app still crash on the phone for a different reason. Attached is the log:

07-14 22:07:56.070  2364  2382 I tensorflow: CameraConnectionFragment: Getting assets.
07-14 22:07:56.072  2364  2382 E art     : No implementation found for i

[2016-07-15 03:52] hanskrupakar commented on #1277
Hey, I'm using Ubuntu 16.04, CUDA 7.5, CuDNN v4, Tensorflow 0.8.0 with a single NVIDIA Geforce 650M 2GB GPU to train.

I am implementing the same network with cifar100 as input instead of the cifar10 that is specified. I had the same exact error at the same exact line. If you traced the flow back to the source of the error, I think it lies in the cifar10_input.py in line number 149.

Inside the di

[2016-07-15 04:06] jmchen-g commented on #3320
@zheng-xq Could you take a look at this please?

[2016-07-15 04:07] metap commented on #3293
Some new convolutional layers invented in the last few months for superresolution etc. require further division of the H and W dimension like [N, C, H, H_sub, W, W_sub]. Although the slicing can be simulated via reshaping and slicing in a lower rank tensor, it's just doesn't feel right when T.transpose() and T.reshape() are both supported for rank 6 tensor and T.slice() isn't.

[2016-07-15 04:35] petewarden commented on #3289
That looks like the protobuf installation failed. If it worked, you should have protoc in your path, as well as the libprotobuf.so.10 files that it expects. From the error message it seems like it's not finding those when it tries to run protoc though.

Can you re-run the protobuf install step, and make sure that there aren't any errors shown? Once you've done that, try running protoc on its own t

[2016-07-15 04:38] ebrevdo commented on #3115
Performing a concat & then a split of the gradients will still slow down calculation, so I would not modify existing RNNCells with this behavior.  LSTMCell provides the ability to initialize the shared matrix, not individual gate weights.

[2016-07-15 04:39] ebrevdo commented on #3115
In addition, that initialization option is deprecated, since you can just use tf.variable_scope with a proper initializer (which is what LSTMCell does under the hood).  that parameter will probably go away soonish.

[2016-07-15 04:48] wfs opened #3324 "tensorflow anaconda : pip install fails in newly created python 2.7 environment"
### Environment info
Operating System:
(tf) :~/anaconda3/bin$ cat /proc/version
Linux version 4.4.0-31-generic (buildd@lgw01-16) (gcc version 5.3.1 20160413 (Ubuntu 5.3.1-14ubuntu2.1) ) #50-Ubuntu SMP Wed Jul 13 00:07:12 UTC 2016

### Steps to reproduce
1. Follow https://www.tensorflow.org/versions/r0.9/get_started/os_setup.html#anaconda-installation
2. :~/anaconda3/bin$ ./conda create --name tf p

[2016-07-15 05:32] wfs commented on #3289
I get this error when trying to run protoc :

pi@raspberrypi:~/tensorflow $ ls -ali /usr/local/bin/protoc
3433 -rwxr-xr-x 1 root staff 148548 Jul 15 05:11 /usr/local/bin/protoc
pi@raspberrypi:~/tensorflow $ sudo /usr/local/bin/protoc
/usr/local/bin/protoc: error while loading shared libraries: libprotobuf.so.10: cannot open shared object file: No such file or directory

Here is a link to the termi

[2016-07-15 05:43] llealgt commented on #3306
Hi, any news on this , im having hard times trying to save  a DNNClassifier , followed some examples using train.Saver() but it says (No variables to save)

[2016-07-15 06:41] zheng-xq commented on #3320
A few observations:

1. GTX 950 is definitely a low-end card for deep learning. It is roughly 1/4 of a Titan-X, which is a good card.
2. You have a lot of small GPU kernels, which medium and large gaps in-between them. So the total amount of GPU compute time is probably much smaller than 10ms, but you GPU has a lot of idle time.

A few possible things to try:

A. Each of your kernel is too small,

[2016-07-15 07:41] MartinThoma commented on #2810
* Get your current driver version: `nvidia-smi | grep "Driver Version"` (or by using the GUI: `nvidia-settings`)
* Go to http://www.nvidia.com/Download/index.aspx and get your driver (`nvidia-smi` might be handy to find your GPU)

[2016-07-15 07:51] ptc-swalk commented on #3324
See https://github.com/ContinuumIO/anaconda-issues/issues/542 - this is one of the reasons I don't use anaconda anymore, it doesn't play nice with pip and its main selling points (package management and environments) now come bundled with python ...

As a workaround, do `pip install --ignore-installed --upgrade pip setuptools` before installing TF via pip.

[2016-07-15 07:52] pkpp1233 commented on #3319
I'm seeing the same issue except on a stock Nexus 5x. Only difference is I'm using bazel 2.0.

[2016-07-15 08:08] wfs commented on #3324
Great! Thanks very much @ptc-swalk.

[2016-07-15 08:08] #3324 closed

[2016-07-15 08:20] isabeaups commented on #3311
Thank you for looking into it.
I'm seeing this in the PyCharm debugging mode.

I think you are right, I missidentified the problem. shp is actually ok, the problem occurs while using
`tf.random_normal(shp,mean=0,stddev=1)`

This occures inside my _build_graph methode of a neural network.

I have the following line:

`xtilde = x + noise_level * tf.random_normal(tf.shape(x),

[2016-07-15 08:21] siddharth-agrawal commented on #1140
@girving I did some digging on `LogUniformSampler` to see how it works. I found that the sampling is done using `RandDouble()` which is a part of the class `SimplePhilox`. However, `RangeSampler` which is the general class that `LogUniformSampler` uses, has been written so as to make it work only for the CPU. Is there a reason for this? If not, how should I go about making the changes (some pointe

[2016-07-15 08:23] siddharth-agrawal commented on #508
@girving Should this issue be closed? Or are there other changes that need to be made?

[2016-07-15 08:26] siddharth-agrawal commented on #2596
This issue should probably be closed.

[2016-07-15 08:29] u4lr451 commented on #2721
@vrv thanks for you comment,  bazel need build binary with option   --config=cuda to enable GPU.

[2016-07-15 08:29] #2721 closed

[2016-07-15 10:31] Ape commented on #3309
This reproduces on Ubuntu 16.04.

[2016-07-15 10:45] vrv commented on #508
We could have documentation on every elementwise op that supports broadcasting (numpy does mention broadcasting somewhere in the notes of every op.

[2016-07-15 10:46] #2596 closed

[2016-07-15 10:51] Phhere opened #3325 "build_pip_package failed"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-07-15 10:52] Ape commented on #3308
This reproduces also on Ubuntu 16.04.

[2016-07-15 11:21] heenamahour opened #3326 "classification using tensorflow : word2vec_basic"
Hi,

In tensorflow, using word2vec_basic, can we have a few fixed buckets and others as custom buckets based on valid_examples ?

I have also raised a similar doubt on[ stack overflow ](http://stackoverflow.com/questions/38295791/classification-using-tensorflow-word2vec-basic) . It will be great to have your feedback on the same !!

[2016-07-15 11:22] lhlmgr commented on #3285
Hi,

this is my solution to run it on a CentOS6 machine.

[code]

and run it with:

[code]

[2016-07-15 11:35] alquraishi commented on #3115
@davek44 probably the easiest approach to initializing parts of the LSTM matrix differently is to separately construct the desired matrices, concatenate them, and then assign their value to the LSTM matrix using assign.

[2016-07-15 11:35] sahil912 opened #3327 "Issue running compile_ios_tensorflow.sh?"
On running compile_ios_tensorflow.sh, I am facing the below issue.

**sh compile_ios_tensorflow.sh**

    sed: tensorflow/contrib/makefile/downloads/eigen-latest/eigen/src/Core/arch/NEON/Complex.h: No such file or directory
    sed: tensorflow/contrib/makefile/downloads/eigen-latest/eigen/src/Core/arch/NEON/Complex.h: No such file or directory
    sed: tensorflow/contrib/makefile/downloads/eigen-l

[2016-07-15 11:36] ptc-swalk commented on #3312
For completeness, if you were to draw actually multiple times in different calls to sess.run like in `[sess.run(x) for _ in xrange(4)]`, you'd also get four different random numbers, or if you had different tensors (`x = [tf.random_normal(shape=(1,), mean=0.0, stddev=1.0) for _ in xrange(4)]; sess.run(x)`) - like @shekkizh says you have just one tensor (which has exactly one value during a computa

[2016-07-15 11:48] fwalch commented on #3322
I think this has been fixed on `master` (bbdda85344b819ce4db0bab5a9143fe9c4ff1c76).

[2016-07-15 12:17] andrewharp commented on #3319
@PatrickGuo initializeTensorflow() is a native method; can you tell if Bazel is building the native libs? Try `unzip -v bazel-bin/tensorflow/examples/android/tensorflow_demo.apk | grep libtensorflow_demo.so` and you should see output like:
` 5163140  Defl:N  1753712  66% 1980-01-01 00:00 7b8de845  lib/armeabi-v7a/libtensorflow_demo.so`

Also can you build with `-s --verbose_failures` and attach th

[2016-07-15 12:17] sahil912 opened #3329 "issue running build_all_ios.sh ?"
On running build_all_ios.sh script, getting folllowing error?

m -lz
    Undefined symbols for architecture x86_64:
      "google::protobuf::io::CodedInputStream::ReadVarintSizeAsIntFallback()", referenced from:
      google::protobuf::io::CodedInputStream::ReadVarintSizeAsInt(int*) in test_log.pb.o
      google::protobuf::io::CodedInputStream::ReadVarintSizeAsInt(int*) in saved_tensor_slice.pb.o

[2016-07-15 13:45] Ape commented on #3308
This also happens on Raspberry Pi (Raspbian Jessie), but #3309 didn't occur there.

[2016-07-15 13:50] rajkumarcm commented on #2995
@ScartleRoy Could you please explain why you are concatenating the outputs from forward, and backward cells though ?
I thought it should be (as per [Alex Graves, 2013):](http://www.cs.toronto.edu/~graves/asru_2013.pdf)
<pre><code>
fw_out = output[0]
bw_out = output[1]
fw_out = tf.reshape(fw_out,[-1,hidden_size])
bw_out = tf.reshape(bw_out,[-1,hidden_size])
W_fw   = tf.Variable(tf.truncated_normal(

[2016-07-15 14:05] c0g commented on #2217
Hi, sorry my silence in this - I've been ill. I have not been able to puzzle out how to integrate my changes inside of tf.contrib - they're changes to fairly key things like stream.h, the cuda stuff in third party, etc. It seems like most of the other projects inside of contrib are more modular and are mainly python ops.

What I have been trying to do is make a BUILD file such that I could write:

[2016-07-15 14:12] Zappau commented on #3308
Reproduced on Mac OS X (10.11) with current master
Only when using contrib/makefile

[2016-07-15 14:18] aladwig06 commented on #1334
This fixed the issue for me as well.  Thanks!

[2016-07-15 14:39] PatrickGuo commented on #3319
@andrewharp Attached is the building log. I also tried the `unzip | grep` command and the output is pretty the same as yours `14545924  Defl:N  3554961  76%  01-01-80 00:00  27d80c72  lib/armeabi-v7a/libtensorflow_demo.so`.
[build-log.txt](https://github.com/tensorflow/tensorflow/files/366201/build-log.txt)

[2016-07-15 14:42] girving commented on #508
@vrv Putting it in every op seems unpleasant to maintain.

[2016-07-15 14:54] girving commented on #1140
@siddharth-agrawal If you have to write GPU implementations, that should definitely be a separate issue.

[2016-07-15 14:55] girving commented on #2358
@rryan Is it possible to define valid gradients for this using `gradient_override_map` if we use `temporary_variable`?

[2016-07-15 15:13] andrewharp commented on #3319
@PatrickGuo Strange, it seems like it's building the native libs just fine. I'd also expect it to fail on the static loadLibrary call if there was a problem loading the .so itself, but it doesn't seem to be doing that.

Have you made any changes at all to the code? Changing package names or method signatures?

[2016-07-15 15:23] qazmichaelgw opened #3330 "tensorflow based shared library can't link to other project"
Problem:
I create a project in tensorflow/tensorflow/my_project. Then create a library by cc_library of bazel. I can compile it and create the library. For example, test.a, test.so in tensorflow/bazel-bin/my_project. But if I use the library in another project by linking it. It would raise a problem of finding the header file.
[code]
test.h:
[code]

[2016-07-15 15:31] davek44 commented on #3115
Thanks for the suggestion @alquraishi! I'm most interested in Geoff Hinton's identity initialization of the hidden-hidden weight matrix of the BasicRNNCell. It sounds like the codebase doesn't want to move in the initialization direction that I imagined, so I'll explore ad hoc methods to get it done. Thanks for the feedback @ebrevdo

[2016-07-15 15:31] #3115 closed

[2016-07-15 15:36] zheng-xq commented on #2810
@MartinThoma, you can set compute version for 5.0 via "configure".

build with. You can find the compute capability of your device at:

build time and binary size. [Default is: \"3.5,5.2\"]: 3.5

The same thing applies to Cuda and Cudnn paths.

README.md for more details. [default is: /usr/local/cuda]: /usr/local/cuda

What does the structure of the Cuda binaries look like when you do apt-get? You

[2016-07-15 16:34] disyntheticlogic opened #3331 "Retrofitting: idgi make me smarter :)"
can someone point me to some info on retrofitting?  I don't get it really.

I'm specifically trying to combine some of my writing with ConceptNet (which I can download in matrix form) in order to generate output that sounds something like me or at least talks about the things i talk about.  Guess I'm not understanding how to align and combine the matrices for the most part but any literature is gr

[2016-07-15 16:37] MartinThoma commented on #2810
Here are some of the files:

    /usr/bin/nvcc
    /usr/bin/nvidia-smi
    /usr/lib/x86_64-linux-gnu/libcudadevrt.a
    /usr/include/cudnn.h

When `configure` of tensorflow asks me where the cuda folder is, I pointed to `/usr/lib/x86_64-linux-gnu/`. But then it complained that there is no `/usr/lib/x86_64-linux-gnu/lib64` (or something similar).

I think I'll just install it manually, because I ru

[2016-07-15 16:40] vrv commented on #3331
This is probably a better question for StackOverflow, the people monitoring these issues are only helping with bugs / TensorFlow core features.

[2016-07-15 16:40] #3331 closed

[2016-07-15 17:00] ScartleRoy commented on #2995
@rajkumarcm Oh, that's just the one we're currently in use (and it works). We don't know if the standard one will perform much better than that one, but I think you may choose the standard one in most of the tasks. Well, sorry that I don't know if there are any performance degradation in certain tasks :(

[2016-07-15 17:09] zheng-xq commented on #2810
If those are not symlinks, I would recommend you to manually reinstall that.

[2016-07-15 17:09] #2810 closed

[2016-07-15 17:50] fculinovic opened #3332 "Feature Request: Support for depthwise convolution by groups"
As much as I have managed to follow the API section of tensorflow the depthwise_conv2d doesn't fulfill my thoughts on what I would like to do with the input/filters.

[code]

Considering the input is of shape (batch_size, 55, 55, 96),
the function definition would be:

[code]

which would be able to do

[code]

that would split the input depthwise into depths from given 'groups' parameter and perf

[2016-07-15 18:14] jmchen-g commented on #3330
@martinwicke Do you know what is the recommended way to do such thing?

[2016-07-15 18:24] aselle commented on #3206
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-15 18:24] aselle commented on #3175
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-15 18:24] aselle commented on #3179
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-15 18:24] #3179 closed

[2016-07-15 18:24] #3206 closed

[2016-07-15 18:24] aselle commented on #3154
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-15 18:24] aselle commented on #3173
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-15 18:24] #3173 closed

[2016-07-15 18:24] #3154 closed

[2016-07-15 18:33] NikunjBajaj-Reflektion commented on #3300
Hi @ilblackdragon. Did you get a chance to look into this? I would be happy to help if I could.

[2016-07-15 18:35] jmchen-g commented on #3332
I am not sure how to read the numbers in your code. Are they matching?
Are you trying to combine two depthwise conv to one essentially?

[2016-07-15 18:37] jmchen-g commented on #3325
Redhat is not officially supported. But you can move this to Stackoverflow though and people might be able to help there.

[2016-07-15 18:37] #3325 closed

[2016-07-15 18:51] fculinovic commented on #3332
What I would basically like to do is use convolution on an input of size (batch_size, 55, 55, 96) such that 1 kernel is shared for the whole input UP TO depth 48, and a different kernel from depth 48. Each convolution should therefore give a result of depth 128 because of the defined weights. Then when the results are concatenated depthwise they would give the depth of 256 such as defined in [(htt

[2016-07-15 19:27] rmuss commented on #3289
You need to /usr/local/lib to your lib path.
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib

[2016-07-15 19:28] rmuss commented on #3289
You need to add /usr/local/lib to your lib search path.  Try this:

export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib

[2016-07-15 19:29] kokozaurz commented on #3319
Having the same issue.…

[2016-07-15 19:33] andrewharp commented on #3319
@kokozaurz Which issue, are you seeing the preview size error or the no implementation error?

[2016-07-15 19:39] kokozaurz commented on #3319
It is adding size fine… Samsung Galaxy Tab A6, Android 5.1.1, building with bazel version 0.3.0

The Crash starts here-

...

[code]
....

[2016-07-15 19:41] andrewharp commented on #3319
@kokozaurz Have you checked that the native lib is getting built and put into the APK as well?

[2016-07-15 19:48] kokozaurz commented on #3319
built as mentioned above with -s --verbose_failures and this is the log. Interesting enough it's way smaller than previously attached log by @PatrickGuo

Is something missing there?

[buildlog.txt](https://github.com/tensorflow/tensorflow/files/366735/buildlog.txt)

[2016-07-15 20:33] kokozaurz commented on #3319
Also just tried on LG G4 Android 6.0.0 - the same error.

[2016-07-15 20:41] jmchen-g commented on #3332
OK. Depthwise convolution is actually a different type of conv. You can find "depthwise_conv2d_native".

For this, it might be better to just have two separate convs like what inception did to avoid all the slicing operations.

[2016-07-15 20:41] ilblackdragon commented on #3300
Sorry I'm on vacation until next week. @wicke can you ask somebody to look
at this and related issues? Thanks
On Fri, Jul 15, 2016 at 8:35 PM Nikunj Bajaj <notifications@github.com>
wrote:

[2016-07-15 20:48] jmchen-g commented on #3326
This is for tensorflow bugs/feature requests/ etc... so this fits better in stackoverflow. Please follow this in the stack overflow.

[2016-07-15 20:48] #3326 closed

[2016-07-15 20:53] jmchen-g commented on #3329
@petewarden Could you take a look at this please?

[2016-07-15 20:53] pkpp1233 commented on #3319
@andrewharp no implementation error for me. Here's the log

[code]

[2016-07-15 20:53] jmchen-g commented on #3327
@petewarden Could you take a look at this please?

[2016-07-15 20:58] jmchen-g commented on #3322
@raduk Could you try it out and close this if it is fixed?

[2016-07-15 20:59] fculinovic commented on #3332
Sorry for misunderstanding the depthwise convolution, I thought the term would just generally describe using different filters for different depths (and therefore include groups).
The exact reason to implement a function such as this is to avoid explicit slicing of the kernels, biases and inputs. An additional reason why I thought it might be useful is because Caffe had "groups" as a possible para

[2016-07-15 21:08] jmchen-g commented on #3332
I think it is actually logically cleaner to have two separate convs just like what's in inception. We might need a strong use case to support another interface for the very popular op so please send this over when it is the case. Thanks.

[2016-07-15 21:14] andrewharp commented on #3319
@pkpp1233 @kokozaurz @PatrickGuo

Ok, the problem is that a recent global renaming for Tensorflow to Tensor**F**low caught the native identifier in [tensorflow_jni.h](https://github.com/tensorflow/tensorflow/blob/aedd2173deef51661ab0cabcb9009d249e744e31/tensorflow/examples/android/jni/tensorflow_jni.h#L31)  but did not correspondingly rename [TensorflowClassifier.java](https://github.com/tensorflo

[2016-07-15 21:23] alexatknit commented on #1300
@sbrodehl my benchmark was simply done on a cpu only 2015 macbook pro 13"

[2016-07-15 22:08] raduk commented on #3322
Looks like it is, thanks !

[2016-07-15 22:08] #3322 closed

[2016-07-15 22:36] alexatknit opened #3334 "tf.case doesn't preserve shape information"
tf.case is a python implementation of a case statement using tf.cond, but unlike cond it doesn't preserve shape information when executing. This is because of this little snippet:

[code]

The op works by evaluating a series of predicates (including a predicate for the default value) but it starts off with an empty object. The empty object seems to be designed to pass on correct shape and type inf

[2016-07-15 23:20] #3302 closed

[2016-07-15 23:52] petewarden commented on #3327
Sorry you're hitting problems! It looks like your immediate problem is that you're running the script with the working directory set to tensorflow/contrib/makefile, e.g. you've done this:

[code]

What you should actually do is this:

[code]

The documentation is at https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile#ios but I realize that is a bit unclear about which

[2016-07-16 02:09] pkpp1233 commented on #3319
@andrewharp hehe this does look like a losing battle (https://github.com/tensorflow/tensorflow/commit/c87a7ca3113c95aaf52de7a094773feb2dba2fa1).

I started heading down the route of renaming https://github.com/tensorflow/tensorflow/blob/060484b39d0813a5e209f90d9de81413da310cac/tensorflow/examples/android/src/org/tensorflow/demo/TensorflowClassifier.java but then get an error to rename https://gith

[2016-07-16 02:45] petewarden commented on #3329
I've looked at it, and wasn't able to reproduce the problem. I did encounter a few missing files from the Makefile that I've added in PR #3337, but after that the build_all_ios.sh script completed successfully.

@sahil912 can you see if there's any mention of missing libprotobuf files in the lines before those linker errors, since it appears that the creation of those failed?

[2016-07-16 02:51] pkpp1233 commented on #3319
Easy fix, see commit on my fork - https://github.com/pkpp1233/tensorflow/commit/13be44b9c8fe212ea2408a4c27b21f4092b5437d

[2016-07-16 03:25] goooodday opened #3338 "Tensorflow build error on the Macbook docker"
In my MacBook(using docker) has a built in Tensorflow source.
The error occurred during the build.
### Environment info

Operating System: OSX, El Capitan
Using Docker & tensor flow docker image :  tensorflow/tensorflow:latest-devel
### Steps to reproduce
1. checking bazel & update
2. download a new tensorflow source
3. ./configure   --> No GPU...
4. build bazel to pip
   --> bazel build -c opt //

[2016-07-16 03:43] Mistobaan commented on #3338
can you run it again with `--verbose_failures` ?
`bazel build -c opt //tensorflow/tools/pip_package:build_pip_package --verbose_failures`

[2016-07-16 03:57] goooodday commented on #3338
@Mistobaan No, I don't try again ....
Now, I'm running again. Thank U!!!

[2016-07-16 03:59] PatrickGuo commented on #3319
@andrewharp Ok, such a tricky one. @pkpp1233 Thanks for your note. Now it works perfectly fine on my android devices.

[2016-07-16 05:56] goooodday commented on #3338
Updated a error log.
How do I bug report.

[2016-07-16 06:39] llealgt opened #3340 "cannot save/restore contrib.learn.DNNClassifier"
Hi , i been struggling some days trying to save a contrib.learn.DNNClassifier and im getting desperate can you help me? I tried everything it says in official documentation, but it sees as if the documentation isnt coherent with the API, things i have tried are:

- rain.Saver() ,but got a "No variables to save" error

- tried https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/

[2016-07-16 07:40] MartinThoma opened #3341 "undefined reference to `tensorflow::strings::StrAppend"
### Environment info
Operating System: Ubuntu 16.04 LTS (Linux thinkpad 4.4.0-31-generic #50-Ubuntu SMP Wed Jul 13 00:07:12 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux)

Installed version of CUDA and cuDNN: CUDA 8.0, cuDNN 4.0.7

[code]

If installed from sources, provide the commit hash:

[code]

### Steps to reproduce
1. Clone the tensorflow repository
2. `./configure` (with GPU)
3. `bazel build -c

[2016-07-16 07:51] saudet commented on #476
@josh11b Great! Though what about automatic differentiation?

[2016-07-16 08:19] MartinThoma commented on #3341
I just tried it again with e8aa19bd4fbcbbaeacb1f4f753e6c4f15dee1d9c:

[code]

I'm not sure what changed, but now it seems to work.

[2016-07-16 08:19] #3341 closed

[2016-07-16 08:57] MartinThoma opened #3342 "segfault after building from source with cuda 8, cudnn 4.0.7"
### Environment info
Operating System: Ubuntu 16.04 LTS (Linux thinkpad 4.4.0-31-generic #50-Ubuntu SMP Wed Jul 13 00:07:12 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux)

Installed version of CUDA and cuDNN: CUDA 8.0, cuDNN 4.0.7

[code]

If installed from sources, provide the commit hash: e8aa19bd4fbcbbaeacb1f4f753e6c4f15dee1d9c

[code]

Graphics card: GeForce 940MX

Driver version:  361.42

### Steps

[2016-07-16 09:01] fgeorg commented on #3329
I had the same problem as above and pulling in your changes seems to have fixed the issue

[2016-07-16 09:08] wfs commented on #3289
Thanks @rmuss This let me run the final make (step 9) however I get a lot of warnings and then some errors at the end. [Here is the terminal output](https://drive.google.com/open?id=0B0Oci8Q1NdEuSWRrXzV4czVPQ3pCaUktSl8xR2NNY19RWmU0).

The updated protobuf build steps are now :

1. pi@raspberrypi:~/ $ sudo apt-get install autoconf automake libtool curl make g++ unzip
2. pi@raspberrypi:~/ $ cd ~/ten

[2016-07-16 09:18] zh19970205 commented on #3285
I tried it, but what I get is :
[code]
T_T

it seems that this glibc and the old vdso are incompatible?

[2016-07-16 09:57] andrewharp commented on #3319
Fixed in https://github.com/tensorflow/tensorflow/pull/3336/commits/194efde51895e0251d39c72c969dff1a50b67d35. Thanks for the reports!

[2016-07-16 09:57] #3319 closed

[2016-07-16 10:38] 3rduncle opened #3343 "Can I export a gpu-trained model to a cpu-only machine for serving/evaluation?"
I trained a model on a GPU machine.
When l load such model on a cpu-only machine, I get the error below.
![](https://raw.githubusercontent.com/3rduncle/DeepNLP/master/error.png)

Thank you for any suggestions!

[2016-07-16 10:59] sahil912 commented on #3329
@petewarden

I tried to run this with the latest version, and getting following error:

    "void tensorflow::HandleStridedSliceCase<Eigen::ThreadPoolDevice, int, 3>(tensorflow::OpKernelContext*, tensorflow::gtl::ArraySlice<long long> const&, tensorflow::gtl::ArraySlice<long long> const&, tensorflow::gtl::ArraySlice<long long> const&, tensorflow::TensorShape const&, bool, tensorflow::Tensor*)", re

[2016-07-16 11:05] rajkumarcm commented on #2995
@ScartleRoy Could you please show here how you compute the loss with the concatenated version of logits, and what was the outcome ?

I have been training a Bidirectional LSTM network, aiming to reproduce result of network described in Alex Grave's "Towards End-End Speech Recognition using Recurrent Neural Networks", but the predicted transcription is nowhere near that of actual. After 4000 iterati

[2016-07-16 11:20] sahil912 commented on #3327
@petewarden  I have tried to follow the steps you mentioned and I am getting the following error

    Undefined symbols for architecture armv7:
  "tensorflow::DebugNodeInserter::InsertNodes(tensorflow::Graph*, tensorflow::Device*)", referenced from:
      tensorflow::DirectSession::GetOrCreateExecutors(tensorflow::thread::ThreadPool*, tensorflow::gtl::ArraySlice<std::__1::basic_string<char, std::_

[2016-07-16 15:11] bpajusco opened #3344 "Tensorboard is failing to parse tfevents"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-07-16 16:21] #2140 closed

[2016-07-16 17:21] siddharth-agrawal opened #3345 "GPU implementation for RangeSampler and related samplers"
The implementation for `RangeSampler` currently works only for the CPU, even though the sampling is done using `SimplePhilox` in most cases (which has GPU support). This issue is for tracking all changes to enable GPU support for the samplers.

This issue came into picture while digging for #1140, and affects it directly. Once GPU implementations are written for the samplers related to `RangeSampl

[2016-07-16 17:49] ChrisHowlin commented on #1947
This is a stack trace of my AWS instance, which is configured according to these instructions:

http://eatcodeplay.com/installing-gpu-enabled-tensorflow-with-python-3-4-in-ec2/

but with the following changes bazel 0.3.0 (instead of 0.1.8) and tensorflow 0.9.0 (instead of a specific commit)

Problem similar to above occurs when running **cifar10_multi_gpu_train.py**

gdb output: http://pastebin.co

[2016-07-16 17:50] terrytangyuan commented on #3340
@llealgt Thanks for reporting. I believe you are not able to restore at this moment. There are checkpoint loading util functions but they are not integrated with estimators yet.
@martinwicke Any ideas on what's the timing on those? Many people are having this issue.

[2016-07-16 19:13] ASRagab commented on #3263
@Menerve three hours of building and pip installing and uninstalling later, I finally find your helpful comment. THANK YOU.

[2016-07-16 19:33] whdc opened #3346 "Casting from real to complex lacks gradient"
The operation of casting from `float32` to `complex64` lacks a gradient:
[code]
Surely this is not intentional?

(FWIW, I'm on Tensorflow 0.9.0, running on the CPU on OS X.)

[2016-07-16 19:42] whdc commented on #3346
I just realized that what I wanted is to be accomplished this way:
[code]

[2016-07-16 20:04] jiapei100 commented on #352
In my case, the same, and I doubt if this Raising pool_size_limit_ will have effects on generator() ? My gosh....

`jiapei:peijia$ python train.py
Using TensorFlow backend.
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcublas.so.8.0 locally
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcudnn.so.5.0.5 locally
I tensorflow/s

[2016-07-16 20:52] matthiasreisser commented on #3312
Thx for the replies. Although they explain what is happening, they do not provide me with a solution to my problem.
What I am trying to do is to sample repeatedly from a model I trained and to compute, for example, the average of the individual results. For simplicity and maybe efficiency in my code, I thought it might be possible to avoid doing a '[sess.run(x) for _ in xrange(4)]' call, which is

[2016-07-16 20:52] #3312 closed

[2016-07-16 21:24] JohnAllen opened #3347 "Cuda/Cudnn file name change break ./configure & Bazel build"
- Ubuntu 16.04
- Gtx 1080
- Building master (614d4c19fb22df501ba16a3f580f4e3ac1a9df1a)
- Cudnn 5 (Nvidia site download)
- Cuda 8

I've got the above mostly installed, except for Tensorflow itself.

But anyways, Nvidia seems to have changed the file names on this stuff, and it is not what Tensorflow's configure and Bazel are expecting.

Actual error message below:

 `bazel build -c opt --config=cud

[2016-07-16 21:41] caisq commented on #3321
Does your LD_LIBRARY_PATH include "/usr/local/cuda/lib"? Is it configured a system-wide, like in /etc/profile?

[2016-07-16 21:42] JohnAllen commented on #3347
Ok, this seems to be about what I type in `./configure`.  Just change the version numbering when configuring to give Tensorflow what it's looking for.  Will close and maybe someone will run into this.

[2016-07-16 21:42] #3347 closed

[2016-07-17 00:46] ibab commented on #3346
The reason that there is no gradient in your first example is that complex numbers haven't been included in the gradient code for `tf.cast`.
Right now it only returns a gradient if you convert between floats.
This is something that should be fixed, in my opinion.
Here's the code that would need to be changed: https://github.com/tensorflow/tensorflow/blob/e95f4e760c6b6713b6b686ebeff9a1586a5831dd/te

[2016-07-17 02:14] whdc opened #3348 "tf.gradients() gives the conjugate of what is expected"
`tf.gradients()`, when used on complex numbers, erroneously flips the sign of the imaginary part:
[code]
I expect `0.2j` and `0.99500416527802571+0.099833416646828155j`.

I'm running version 0.9.0, CPU only, on OS X.

[2016-07-17 02:15] whdc commented on #3346
Thanks!  I'll use the workaround for now, and if my schedule ever frees up, will try to submit a PR.

[2016-07-17 03:41] ibab commented on #3346
Note that I'm not a googler, though (Just wanted to point out where the issue is so others won't have to search for it).
So it would be worth waiting until one of the core developers assigns the "contributions welcome" label.

[2016-07-17 05:39] mccajm opened #3349 "-mavx2 or -mavx prevents eigen from compiling"
I'm compiling the master branch of TensorFlow as follows:

and receive the error:

In file included from ./third_party/eigen3/unsupported/Eigen/CXX11/FixedPoint:36:0,
                 from ./tensorflow/core/framework/types.h:27,
                 from ./tensorflow/core/framework/type_traits.h:22,
                 from ./tensorflow/core/framework/allocator.h:25,
                 from ./tensorflow/co

[2016-07-17 06:12] jmchen-g commented on #3265
@ilblackdragon Could you take a look at this please?

[2016-07-17 08:42] shawnLeeZX opened #3350 "No GPU implementation of determinant and no gradient of determinant?"
We do not have GPU implementation of determinant calculation and its gradient is not available? It is really nice to have them.

Thanks!

[2016-07-17 09:53] tscohen commented on #175
Would also like to see this. One tensor op to rule them all.

If anyone wants to have a go at this, note that the gradient of einsum can be implemented neatly as another einsum with swapped arguments / indices. See the autograd implementation make_grad_einsum: https://github.com/HIPS/autograd/blob/master/autograd/numpy/numpy_grads.py#L447

[2016-07-17 11:01] dipanjan06 commented on #1947
Hello ,

As requested please find the gdb stack trace .

http://pastebin.com/Trf15Tca

Regards,
Dipanjan

On Fri, Jul 15, 2016 at 12:14 AM, zheng-xq <notifications@github.com> wrote:

[2016-07-17 13:07] huixutech commented on #2748
@terrytangyuan The TensorFlow commit version number is 10fbaf0581700641fc9b38b1bd722044bfb7c638

[2016-07-17 13:53] #3320 closed

[2016-07-17 14:48] sguada commented on #3265
I already have done it internally, it will push soon.

[2016-07-17 15:10] ScartleRoy commented on #2995
@rajkumarcm I just simply feed the concatenated output into next layer. Sorry that I haven't read that paper (my interest is not in ASR) so that I don't know if the decrease of loss is good or not. But I think you can start with 10% data to see if you can overfit (and determine the size of the network, tune the parameters, etc.). Or maybe choose another learning algorithm (preferably with momentum

[2016-07-17 15:46] Menerve commented on #3263
@ASRagab @lw394 Glad to help! But I'm not sure why this issue is closed. Something needs to be done here.

[2016-07-17 15:56] vrv commented on #3263
@Menerve we've been told that this is a bug in the naming / packaging for OS X cuda installs -- I think we're waiting for the real fix by them, which is to name the library with a .1, and maybe add the symlink.

[2016-07-17 17:12] suiyuan2009 commented on #1361
I meet the same problem, @cbonnett did you find a solution?

[2016-07-17 18:10] cbonnett commented on #1361
nope, I got access to newer GPU cards so that solved my problem. Theano should work fine though.

[2016-07-17 18:24] suiyuan2009 commented on #2053
follow @akors guidance, I finally succeed on centos 6.5, with cuda7.5 and cudnn5.0.5. I set compute capability to 3.0 though my gpu is actually 2.0.
# build gcc
follow this [https://gcc.gnu.org/wiki/InstallingGCC](url), I use gcc4.9.2
`$PWD/../gcc-4.9.2/configure --prefix=$HOME/gcc-4.9.2 --disable-nls --enable-languages=c,c++ --with-ld=/usr/bin/ld --with-nm=/usr/bin/nm --with-as=/usr/bin/as`, a li

[2016-07-17 19:01] bakwc commented on #3008
NotImplemented means that it never should be implemented? Or it will be implemented later? Or this is some wrong usage issue?

[2016-07-17 19:16] zheng-xq commented on #1947
@ChrisHowlin, one thing I found in your log is "cuMemAlloc_v2", I wonder whether it consistently show up in the hanging? Could you repeat the  process and take multiple snapshots of the hanging callstacks?

@dipanjan06, thank you for the stack trace. However, it is not complete. The last line is "---Type <return> to continue, or q <return> to quit---". Please press <return> to get all the stack pr

[2016-07-17 21:51] sentryAI opened #3352 "iOS Example with fine-tuned inception network memory error & quantization attempt"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

### Environment info
Operating System: iOS

### Steps to reproduce
1. Follow the contrib/makefile/README to install the tensorflow iOS core lib
2. Create my own model using flower's example and shards (https://github.com/tensorflow/

[2016-07-18 00:21] KevinAyuque opened #3354 "Problem trying to install iOS example"
I get this problem when running `compile_ios_tensorflow.sh`

I tried cloning TensorFlow again, download dependencies and `compile_ios_protobuf.sh ` but the problem persists.

[code]

[2016-07-18 00:30] terrytangyuan commented on #2748
@huixutech The examples are out-dated. Estimators starting with `TensorFlow***` are deprecated and will be removed soon. Could you try using the new estimators? Pull requests for fixing those examples are more than welcomed!

[2016-07-18 01:20] samjabrahams commented on #254
A couple recent changes are throwing a wrench into compiling full TensorFlow binaries on RPi. [These lines](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/platform.h#L40-L45) cause `IS_MOBILE_PLATFORM` to be defined when compiling RPi, which in turn causes errors in some of the image processing files (such as [core/platform/png.h](https://github.com/tensorflow/tensor

[2016-07-18 01:32] josh11b commented on #476
Automatic differentiation will eventually be in, though closer to 1.0.  Are you looking for C API support for use in another language or are you using C++ directly?  We consider those separate APIs, but both should have something reasonable for defining graphs (though no shape inference or automatic differentiation, yet) in the next TensorFlow release (0.10.0) -- they are both checked in at head.

[2016-07-18 01:56] lw394 commented on #3263
reopened per @Menerve's suggestion, I'll let google close it.

[2016-07-18 02:15] Mazecreator commented on #3320
@zheng-xq, sorry for the delay getting back to you but as I was putting the test case together I bumped into some unexpected results.

What I did was to take my **Original Solution** and stripped out the "Game Environment".  I replaced it with a random data generation.  In this Game Environment, there is no creation/modification of the TensorFlow Graph.  The structure closely follows/leverages [ni

[2016-07-18 02:23] saudet commented on #476
Good to hear that! JavaCPP has no problems interacting with TensorFlow's C++ API directly, so using either API is fine in that case.

[2016-07-18 02:32] suiyuan2009 commented on #2109
follow @akors guidance, I finally succeed on centos 6.5, with cuda7.5 and cudnn5.0.5. I set compute capability to 3.0 though my gpu is actually 2.0.
## build gcc
follow this [https://gcc.gnu.org/wiki/InstallingGCC](url), I use gcc4.9.2
`$PWD/../gcc-4.9.2/configure --prefix=$HOME/gcc-4.9.2 --disable-nls --enable-languages=c,c++ --with-ld=/usr/bin/ld --with-nm=/usr/bin/nm --with-as=/usr/bin/as`, a l

[2016-07-18 02:35] vrv commented on #3263
:) I wish I could mark this as "still an issue, but not a TensorFlow-specific issue" :(

[2016-07-18 02:35] #3263 closed

[2016-07-18 02:42] jmchen-g commented on #3285
Are you using a Redhat linux? It is not officially supported so please move this to stackoverflow where you might get more help. Thanks.

[2016-07-18 02:42] #3285 closed

[2016-07-18 02:47] jmchen-g commented on #3308
Could you provide the details when you get the errors on Ubuntu 16?

[2016-07-18 02:47] jmchen-g commented on #3309
Please provide details when you tried it on Ubuntu instead.

[2016-07-18 02:55] jmchen-g commented on #3338
@caisq Could you take a look at this please?

[2016-07-18 02:58] jmchen-g commented on #3342
@martinwicke Could you take a look at this please?

[2016-07-18 02:59] jmchen-g commented on #3344
@danmane Could you take a look at this please?

[2016-07-18 02:59] danielbarter opened #3355 "feature request - tf.stack"
Given a tensor `x[i,j,k]` in a graph, I often want to construct tensors like `X[i,j,k,p,q] = x[i,j,k]`.

You can get this done using `tf.pack`, but it can get kind of messy if you are adding a bunch of dimensions.

It would be nice if there was a function `tf.stack(x,list)` which added dimensions to a tensor as above. The name is motivated by the following situation. If x is a matrix, then tf.stac

[2016-07-18 03:00] jmchen-g commented on #3343
@vrv Could you take a look at this please? Do we have such support now? Thanks.

[2016-07-18 03:04] vrv commented on #3355
Try tf.tile ?

[2016-07-18 03:11] danielbarter commented on #3355
If I understand correctly, tf.tile can't change the dimension of a tensor. What is the best way to cast a tensor of dimension `[a,b,c]` to a tensor of dimension `[a,b,c,1,1]`?

[2016-07-18 03:12] vrv commented on #3343
Yup, you can pass tf.ConfigProto(allow_soft_placement=True) to the tf.Session if you really want to ignore device placement directives in the graph.  I'm not a huge fan of using this option (I'd rather the graph be rewritten to strip out the device fields explicitly), but that should work.

[2016-07-18 03:12] #3343 closed

[2016-07-18 03:12] vrv commented on #3343
Also, in the future, StackOverflow is the right place to ask these questions.

[2016-07-18 03:13] vrv commented on #3355
You can use tf.expand_dims, then followed by tf.tile, perhaps!

[2016-07-18 03:16] danielbarter commented on #3355
@vrv that works very well. Sorry for the stupid question and thanks for the fast response!

[2016-07-18 03:17] suiyuan2009 commented on #25
anyone succeed on Cuda compute capability 2.0?

[2016-07-18 03:22] llealgt commented on #3340
Hello guys , any news on this ? :)

[2016-07-18 03:22] vrv commented on #3355
Glad I could help, and no worries -- you might also ask these types of questions on StackOverflow -- the community is also quite helpful for these kind of modeling / programming questions.

[2016-07-18 03:22] #3355 closed

[2016-07-18 03:32] jmchen-g commented on #3317
You can do both ways:
1. Create multiple sessions;
2. Create a big graph which includes multiple small graphs.

And they can share the same set of variables and you just need to make sure it picks the right graph/session to run.

[2016-07-18 03:55] jmchen-g commented on #3352
@petewarden Could you take a look at this please?

[2016-07-18 03:58] jmchen-g commented on #3348
@girving Could you take a look at this please?

[2016-07-18 04:00] jmchen-g commented on #3354
@petewarden Could you take a look at this please?

[2016-07-18 05:00] girving commented on #3348
The gradient of a holomorphic function is the transpose of its complex derivative.

[2016-07-18 05:00] #3348 closed

[2016-07-18 05:11] andreesteva commented on #3354
I'm getting the same error

[2016-07-18 05:39] whdc opened #3356 "can't construct gradient of gradient"
In general, I've had no trouble constructing the gradient of a gradient in Tensorflow, but I hit on a weird edge case involving complex numbers where I couldn't.  Below, I show a case where the double gradient works, and one that is minimally different where it doesn't.

Here's where double gradient works:
[code]
As expected, evaluating `h` produces:
[code]

Here's where double gradient doesn't wo

[2016-07-18 06:20] Hvass-Labs commented on #3180
@vrv Thanks for commenting on the dev-status on Peephole Optimizations, I was curious if it was already included or not in TensorFlow.

I've now tried PrettyTensor which automatically adds the activation function to the layer, e.g. like this for adding ReLU to each layer:

    with pt.defaults_scope(activation_fn=tf.nn.relu):
        y_pred, loss = x_pretty.\
            conv2d(kernel=5, depth=16,

[2016-07-18 07:02] huixutech commented on #2748
@terrytangyuan Sure, I'll try it. Thank you for your suggestion.

[2016-07-18 08:06] sahil912 commented on #3354
I am getting the same error too..

[2016-07-18 08:19] Sundy1219 opened #3357 "./tensorflow/core/platform/jpeg.h:31:2: error: #error Define the appropriate PLATFORM_<foo> macro for this platform"
I got a problem when building tensorflow from source in Raspberrypi platform. Anyone knows how to solve it ? Thanks
pi@raspberrypi:~/tensorflow/tensorflow $ bazel build -c opt --local_resources 1024,1.0,1.0 --verbose_failures tensorflow/tools/pip_package:build_pip_package
WARNING: Sandboxed execution is not supported on your system and thus hermeticity of actions cannot be guaranteed. See http://b

[2016-07-18 08:56] Ape commented on #3308
This occurs exactly the same on Ubuntu 16.04 64-bit with GCC 5.3.1. With exactly the same commands and code it will give this error in runtime:

[code]

[2016-07-18 09:18] suiyuan2009 commented on #2801
fixed in version 0.9.0

[2016-07-18 09:29] gorBaghdasaryan opened #3358 "IOS - No OpKernel was registered to support Op 'Add' with these attrs"
Hi everyone,

We are trying to load a very simple graph inside IOS
Right now, we have this following error:

[code]

[2016-07-18 09:40] jacobvsdanniel opened #3359 "Gradient computation fails concatenation in while_loop() body"
### Description
When I was trying to implement RNN with while_loop(), I tried to concatenate output to a matrix.
This worked in forward passes but not in applying gradients.

Also, I saw that there are discussions (#2237) about supporting Recursive NN. There's a workaround by transforming tree structures to a matrix. For example, if we have a binary tree with its node values and structure be like

[2016-07-18 10:18] sahil912 commented on #3327
On latest build, I tried to run tensorflow/contrib/makefile/compile_ios_tensorflow.sh

    Undefined symbols for architecture armv7:
      "tensorflow::OptimizationPassRegistry::Global()", referenced from:
      tensorflow::SimpleGraphExecutionState::InitBaseGraph(tensorflow::BuildGraphOptions const&) in libtensorflow-core-armv7.a(simple_graph_execution_state.o)
      tensorflow::SimpleGraphExecut

[2016-07-18 10:53] Dan1900 opened #3360 "5:1: C++ compilation of rule '//tensorflow/stream_executor:stream_executor' failed:"
I am using the latest branch of tensorflow
Error:/home/xxxxx/bazel/output/bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer --verbose_failures
/home/xxxxx/bazel/output/bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer --verbose_failures
/home/newSpace/projects2/tensorflow/tensorflow/stream_executor/BUILD:5:1: C++ compilation of rule '//tensorflow/s

[2016-07-18 11:09] untom opened #3361 "Support streaming from hdf5"
It would be nice if streaming HDF5 (which is required in out-of-core situations) would be implemented in Tensorflow.

[2016-07-18 11:17] dipanjan06 commented on #1947
Hello,

As advised I have taken multiple snap shots of the call stack when the
actual process hangs after printing the following

*____________________________________*

*I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:900] successful
NUMA node read from SysFS had negative value (-1), but there must be at
least one NUMA node, so returning NUMA node zero*

*I tensorflow/core/common_runtime/g

[2016-07-18 12:42] ppries opened #3362 "Using a batchsize greater than 1 when using C++ API"
I have a Tensorflow model trained in Python and frozen with the freeze_graph script. I've succesfully loaded the model in C++ and made inference for a single image. However, whenever I attempt to feed the model a batch of images in C++ I get the error:

`tensorflow/core/framework/tensor.cc:433] Check failed: 1 == NumElements() (1 vs. 16)Must have a one element tensor`

If I print the frozen graph

[2016-07-18 13:11] eliben opened #3363 "embeddings tutorial has dead link to googlecode svn"
The page:

https://www.tensorflow.org/versions/r0.9/tutorials/word2vec/index.html#evaluating-embeddings-analogical-reasoning

Has a dead (404) link to https://word2vec.googlecode.com/svn/trunk/questions-words.txt

I'd submit a PR if I knew where it *should* point, but I don't :)

[2016-07-18 13:16] friesel commented on #1060
Having very similar issues as well:
- cifar10 often freezes right after or during local3 (first fc after the two convs)
- Now did this right after or during the first conv:
E tensorflow/stream_executor/cuda/cuda_event.cc:49] Error polling for event status: failed to query event: CUDA_ERROR_ILLEGAL_ADDRESS
F tensorflow/core/common_runtime/gpu/gpu_event_mgr.cc:198] Unexpected Event status: 1
Aborted

[2016-07-18 13:17] friesel commented on #1060
Sorry, forgot:
running GeForce 940M with 2 GB VRAM (Acer Aspire E 17)

[2016-07-18 13:25] michaellee1 commented on #3354
Same error found here

[2016-07-18 14:32] rmasad opened #3364 "dnn_autoencoder_iris.py example error"
The example in skflow folder gives this error:
[code]

[2016-07-18 15:10] ibab commented on #3360
Which version of cuDNN are you using?
cuDNN v4 seems to be working at the moment.

[2016-07-18 15:21] ibab commented on #3363
The project has been archived on Google code and it seems that there's no simple way to link to the file. It also looks like there's no official Github mirror.
Here's a link to an unofficial mirror, but I'm not sure whether it's a good idea to use this one:
https://raw.githubusercontent.com/dav/word2vec/master/data/questions-words.txt

I think the best solution would be to include the file in the

[2016-07-18 15:44] luxiaolei opened #3366 "bus error (core dumped), when build with GPU support"
I followed the installing from source tutorial, however in step
[code]
I encountered the following message:
[code]

Any helps would be great

### Environment info
Operating System:  Ubuntu 16.04

Installed version of CUDA and cuDNN: CUDA 8.0, cuDNN 5

(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
[code]

If installed from sources, provide the commit hash:
e95f4e760c6b6713b6b686e

[2016-07-18 16:14] u4lr451 opened #3367 "model with batchnorm runs overfit in multigpu training,but is ok in single gpu. mutilgpu model is based on cifar10_multi_gpu_train.py"
1. mutil gpu code based on cifar10_multi_gpu_train.py(https://github.com/tensorflow/tensorflow/blob/d42facc3cc9611f0c9722c81551a7404a0bd3f6b/tensorflow/models/image/cifar10/cifar10_multi_gpu_train.py)
2. two implementation of batch norm  is overfit in multigpu ,but is ok in sigle gpu.<br>
   one implementation based on inception batch_norm function: (https://github.com/tensorflow/models/blob/maste

[2016-07-18 16:38] gideonite opened #3368 "download tensorboard vis export to image files"
Has there been discussion of exporting tensorboard visualizations as images (e.g. `.png`)? This would be helpful for rough drafts and work-in-progress type presentations.

[2016-07-18 16:41] k3nnywilliam opened #3369 "AttributeError: 'module' object has no attribute 'constant'"
Hi everyone, I tried to run Tensorflow 0.9.0 with Python 3.4 but I've received this error:

Python 3.4.5 |Continuum Analytics, Inc.| (default, Jul  2 2016, 17:47:57)
[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
import tensorflow as tf
hello = tf.constant('Hello, TensorFlow!')
Traceback (most recent call last

[2016-07-18 16:43] gideonite opened #3370 "Tests for examples/learn"
A little while ago I caught a bug with the [resnet example](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/skflow/resnet.py) that could have been caught by an automated test.

What do people think about bringing in some kind of automated tests to examples/skflow? What sort of tests should these be? I think the first step would be to simply run the code regularly. That wou

[2016-07-18 16:53] KendallWeihe opened #3371 "GridRNNCell -> RNN TypeError: unsupported operand type(s) for +: 'int'"
I am unsure whether this is an issue in my code, or a bug in the contrib -> GridRNNCell.

Please see this SO post: http://stackoverflow.com/questions/38442025/tensorflow-grid-lstm-rnn-typeerror

[2016-07-18 18:02] jmchen-g commented on #3308
@martinwicke Could you take a look at this please?

[2016-07-18 18:03] jiapei100 commented on #2903
Exactly the same situation here...

[2016-07-18 18:06] aselle commented on #3232
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-18 18:06] #3232 closed

[2016-07-18 18:06] aselle commented on #3215
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-18 18:06] #3215 closed

[2016-07-18 18:06] aselle commented on #3216
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-18 18:06] #3216 closed

[2016-07-18 18:06] aselle commented on #3197
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-18 18:06] #3197 closed

[2016-07-18 18:06] aselle commented on #3211
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-18 18:06] #3211 closed

[2016-07-18 18:06] aselle commented on #2621
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-18 18:06] #2621 closed

[2016-07-18 18:13] #2654 closed

[2016-07-18 18:13] aselle commented on #2648
Since there has been no activity and we have not been able to reproduce, I am closing for now.

[2016-07-18 18:17] aselle commented on #2618
Automatically closing this issue due to lack of recent activity.

[2016-07-18 18:17] #2618 closed

[2016-07-18 18:21] aselle commented on #2745
@ispirmustafa friendly ping to take a look.

[2016-07-18 18:21] gorBaghdasaryan commented on #3358
a code in which an error is thrown

[code]

[2016-07-18 18:24] aselle commented on #2890
@ashwin1992 did you try  the new release 0.9.0  (rather than the RC)?
@zhaolili  did release 0.9.0 (rather than the RC) work?

[2016-07-18 18:28] aselle commented on #2973
Since tf.train is in heavy development, moving to the new version 0.9.0 might help. Also 0.10.0 might also help which is coming soon. We are unlikely to dig into this deeply with an older version. Please try with the newest release. @martinwicke can correct me if I am wrong.

[2016-07-18 18:34] gorBaghdasaryan commented on #3358
@petewarden  Could you take a look at this please?

[2016-07-18 18:35] aselle commented on #3009
I think @prb12 's really detailed analysis answers the question. There is always a tradeoff in using convenient and general operations for data manipulation as well as using numpy source data. We are continually working to improve performance. Automatic fusion of ops as alluded in the original paper's future work and issue #164 will provide generality and good performance.

Closing for now.

[2016-07-18 18:35] #3009 closed

[2016-07-18 18:37] aselle commented on #3027
Seems like this is resolved. Closing for now.

[2016-07-18 18:37] #3027 closed

[2016-07-18 18:40] aselle commented on #3071
Automatically closing due to lack of recent of activity. Please reopen if new information becomes available.

[2016-07-18 18:40] #3071 closed

[2016-07-18 18:43] martinwicke commented on #2973
That is somewhat mysterious. Maybe there is a bug in how checkpoint paths are handled. The checkpoint logic is fairly old, but not deprecated, and ought to work.

[2016-07-18 18:47] martinwicke commented on #2973
For now, please use an absolute path for training as a workaround.

[2016-07-18 18:52] danmane commented on #3368
We haven't discussed this much, it's not on the radar at the moment.

[2016-07-18 18:59] zheng-xq commented on #1947
@ChrisHowlin, @dipanjan06, thanks for the stack traces, they are very useful. I suspect this is a bug from the Cuda driver.

1. What are the Cuda driver version shown in your nvidia-smi?
2. Could you upgrade to the latest Cuda driver and see if the problem goes away.

Details:

I found that at both stack traces, two Cuda calls are still active, while all other threads are effectively sleeping. The

[2016-07-18 19:02] danmane commented on #3344
Can you run `tensorboard --inspect --logdir=XXXX` and report what it says?

[2016-07-18 19:19] osdf commented on #2514
Picking up this old thread, a question: why don't you use ```make_template``` and have three queues feeding into three automatically shared model graphs? True, you still need to keep track when an epoch ends and switch over to the e.g. validation queue, but this can be done rather simple by either counting or have the queues return a third element that indicates one full pass through the data (tra

[2016-07-18 19:54] lukasr0 commented on #2237
I've been working with tree-structured examples on tensorflow using Control Flow ops.  While I haven't implemented the Socher et al. 2011 paper, I use the indexing structure to represent edges between nodes.  Something like:
[code]

In order to generalize this type of processing and make it scale there is work in progress exploring support for things like:
- efficient batching - processing more th

[2016-07-18 19:59] yajiemiao opened #3372 "Multi-GPU for LSTM"
I am experimenting with multi-gpu feedforwarding for LSTM models, by feeding two batches of sequences through a LSTM model. Here are two cases I am testing:

**Single-GPU**: simply pass the two batches sequentially on 1 GPU
**Two-GPU**: 2 parallel GPUs where each GPU takes care of one batch. **My code is in the attached file** (.txt --> .py).

However, instead of being 2X faster, the two-GPU case

[2016-07-18 20:02] cardshuffle commented on #3175
@lukesleeman #1468 was the issue I linked to, and I already discussed how I tried the solutions suggested there.
@andrewharp I installed version 0.3.0 as confirmed by `bazel version`. This is the log output:

    Build label: 0.3.0
    Build target: bazel-out/local-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel /BazelServer_deploy.jar
    Build time: Fri Jun 10 11:38:23 2016 (1465

[2016-07-18 20:05] zheng-xq commented on #1947
Adding @benbarsdell from NVIDIA to this discussion to look at this the Grid Cuda driver issue.

[2016-07-18 20:15] zheng-xq commented on #2217
@c0g, all the stream_executor has to directly go to the stream_executor source. And we will ask the owners from stream_executor to review them.

In general, once you set up your ops and BUILD file, any project that wants to use your op can depends on it directly, in addition to normal TensorFlow dependency.

If you want really your op to be available in the default TensorFlow pip_package, once it

[2016-07-18 20:20] zheng-xq commented on #1060
From a different issue #2810, we've found some problems with 940M cuda driver. The problem was solved by:

https://github.com/tensorflow/tensorflow/issues/2810#issuecomment-232476283

1. Build from source while explicitly setting 5.0 build target in "configure".
2. Or install the latest graphics driver 367.27.

Not sure whether it is related. But it is worth trying.

[2016-07-18 20:22] AnishShah commented on #2040
I'm using Bazel 0.3 and facing this problem

[2016-07-18 20:58] lightcatcher opened #3373 "Cannot use more than 50% of available memory for a single variable"
I'm running Tensorflow 0.9.0 on a K40m (with 12GB of memory) with CUDA 7.5.0.

I'm attempting to preload data as described here: https://www.tensorflow.org/versions/r0.9/how_tos/reading_data/index.html#preloaded-data

Treating the data as a constant doesn't work because constants are limited to 2GB, and a minibatch approach does not make sense for my application.

Perhaps Tensorflow wants to alloc

[2016-07-18 21:17] Arn-O opened #3374 "Android app compilation fails: fatal error: gif_lib_private.h: No such file or directory"
Hi.

I'm unable to compile the Android app. Here is the error message:

[code]

### Environment info
Operating System: Ubuntu 16.04

Installed version of CUDA and cuDNN: N/A
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

If installed from binary pip package, provide:

1. Which pip package you installed.
2. The output from `python -c "import tensorflow; print(tensorflow.__version

[2016-07-18 21:18] andrewharp commented on #3175
@cardshuffle
Can you please clarify what issue "it" was that you fixed by downgrading your ndk, what version you downgraded to, and what issue still remains?

I was just able to clone the TF repo and build the tensorflow demo using NDK r11c and Bazel 0.3.0 on Ubuntu. The RELEASE.TXT issues should no longer occur with this version combination.

It's possible that Android Studio has downloaded a dif

[2016-07-18 21:33] jinghuangzhu opened #3375 "wrong use of sequence_loss_by_example in ptb_word_lm.py?"
Hi, I noticed "sequence_loss_by_example" with default of "average_across_timesteps":

def sequence_loss_by_example(logits, targets, weights,
                             average_across_timesteps=True,
                             softmax_loss_function=None, name=None):

but in pub_word_lm.py:

loss = tf.nn.seq2seq.sequence_loss_by_example(
        [logits],
        [tf.reshape(self._targets, [-1])

[2016-07-18 21:34] andrewharp commented on #3374
I'm not certain why this is happening yet, but running ./configure seems to make it go away for me.

[2016-07-18 22:05] ibab commented on #2237
Awesome, thanks for sharing this!
I never thought of solving it this way, where the traversal instructions are "pre-packaged" by the operator that parses the examples.

[2016-07-18 22:07] andrewharp commented on #3374
There is a dependency chain between //tensorflow/core:android_tensorflow_lib_lite and @gif_archive//:gif:

@martinwicke @raingo I think this may be from https://github.com/tensorflow/tensorflow/pull/3264

As gif support is unnecessary for the Android build, is there any easy way we can make the build proceed despite gif_archive not having been configured?

[2016-07-18 22:09] ibab commented on #813
This has been fixed by #2711, so this issue can be closed.

[2016-07-18 22:09] ibab commented on #2641
This has been fixed by #3351, so this issue can be closed.

[2016-07-18 22:09] vrv commented on #813
Yup, thanks!!

[2016-07-18 22:09] #813 closed

[2016-07-18 22:10] #2641 closed

[2016-07-18 22:17] stas-sl opened #3376 "Element-wise tf.cond (like theano switch)"
When I try the following code:
[code]
I get this error:
[code]

As I understand *pred* argument should be scalar, but what I need is element-wise condition.

Though theano switch is working as expected:
[code]

[2016-07-18 22:25] martinwicke commented on #3374
platformlib also depends on png and jpeg -- are those also unnecessary in android? If so, we could split all image support out into a separate target, but it would be a fair amount of work to separate core:lib_internal into two (or more) targets.

[2016-07-18 22:27] tkuebler commented on #25
Verified that 'TF_UNOFFICIAL_SETTING=1 ./configure' works on a macbook pro with at GeForce GT 750M.  Thanks!

[2016-07-18 22:42] andrewharp commented on #3374
All that the Android build needs from platformlib is the proto_text_srcs_all output which depends on platformlib. It doesn't use the actual platformlib binary for compilation -- all srcs are compiled from scratch using the resulting android_srcs filegroup.

So if somehow we could reduce the complexity of generating proto_text_srcs_all, that would reduce Android issues going forward.

[2016-07-18 22:56] lizallendorf opened #3377 "Moving data from CPU to GPU is slow"
I have noticed that when moving MNIST data from the CPU to the GPU, there is a significant time lag when using TensorFlow in comparison to Theano. Specifically, we have noticed this problem in the context of feed_dict, which moves information from the CPU to the GPU when running minibatches. I am using python 2.7. Our current solution to this problem is to move all of the data directly to the GPU

[2016-07-18 22:56] concretevitamin commented on #2536
Closing since the original issue seems to have been resolved.

[2016-07-18 22:56] #2536 closed

[2016-07-18 22:58] concretevitamin commented on #2860
Closing since this seems to have been identified and/or resolved.

[2016-07-18 22:58] #2860 closed

[2016-07-18 23:00] concretevitamin commented on #2973
Closing due to inactivity. Please comment with new information and I will reopen.

[2016-07-18 23:06] danijar opened #3378 "Why not feed placeholders by name?"
I couldn't find anything [in the documentation](https://www.tensorflow.org/versions/r0.9/how_tos/reading_data/index.html#feeding) on this. Is it possible to feed placeholders by name? If not, why? I think this would be useful to feed graphs after loading them from disk.

[code]

[2016-07-18 23:09] concretevitamin commented on #3208
Could you try using the (somewhat experimental) `@Defun` functionality to see if it works?  See `testWhileFuncBasic()` in `control_flow_ops_py_test.py`.

[2016-07-18 23:12] concretevitamin commented on #3334
Assigning to @yuanbyu to take a look (although he's out of office currently).

[2016-07-18 23:16] concretevitamin commented on #3309
Have you done this part?:

[code]

More generally, does the issue reproduce when following the steps documented in [this section](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/makefile/README.md#building-on-linux)?

[2016-07-18 23:25] concretevitamin commented on #3356
@girving Can you take a look?

[2016-07-18 23:29] concretevitamin commented on #3350
Thanks for reporting this.  We most likely will not work on it in the near future.  Marking as "contributions welcome".

[2016-07-18 23:30] girving commented on #3356
In the complex case `h = tf.gradients(tf.reduce_sum(g), x)` is trying to take the gradient of 2 reals w.r.t. 10 reals, which TensorFlow doesn't support.  We only support gradients of single real scalars.  I believe `h = tf.gradients(tf.real(tf.reduce_sum(g)), x)` should work fine.

[2016-07-18 23:32] tetmin opened #3379 "Tensorflow 0.9 HDF5"
The Tensorflow 0.9 changelog mentions HDF5 support but I can't find any further details. What is actually implemented, is it possible to stream HDF5 files using the Tensorflow pipelines?

[2016-07-18 23:53] zhanif3 opened #3380 "Multi-GPU Example only using a single GPU"
When running the CIFAR-10 example, it appears like TensorFlow is only utilizing one card - despite the fact that I have 4 cards installed in this machine (it is an NVIDIA DIGITS box). The script runs fine otherwise (can complete computation on a single card), but simply refuses to use more than one card. When attempting to use the script here: [https://github.com/aymericdamien/TensorFlow-Examples/

[2016-07-18 23:59] zhanif3 commented on #3380
In the event that it's helpful, I installed the latest version of Hashcat (as I knew it's benchmark capability could detect and use multiple GPU's). Hashcat was able to detect and use all 4 GPU's within the system at the same time (as observed by nvidia-smi), leading me to think that this is a TensorFlow issue, either due to TensorFlow itself, or due to some error I introduced during installation.

[2016-07-19 00:00] martinwicke commented on #3374
@keveman can the protos be built without any of the other lib stuff? It seems this quickly turning into a requirement for mobile.

[2016-07-19 00:10] concretevitamin commented on #3357
@petewarden Pete, could you take a look?  Thanks.

[2016-07-19 00:12] cardshuffle commented on #3175
@andrewharp I didn't downgrade the NDK (at the time of that post). What I "fixed" was my initial post in this thread, when I mistakenly said Bazel instead of NDK. I also stated in my initial post that I was unable to downgrade to NDK using the links provided in #1468 (I tried to downgrade to r10e). Sorry if my wording was confusing.

I downloaded the NDK r11c using the link you provided, unzipped

[2016-07-19 00:15] concretevitamin commented on #3377
Just curious: have you (and how have you) isolated the problem to host-to-device transfer with feeding?

Search for `StepStats` and "chrome timeline" in the repo.  It should tell you how to get a basic performance profile out.

[2016-07-19 00:19] andrewharp commented on #3175
Did you git clone with the --recursive option?

[2016-07-19 00:20] concretevitamin commented on #3375
@ebrevdo Eugene, can you take a look?

[2016-07-19 00:23] concretevitamin commented on #3376
Your understanding of `tf.cond()` seems to be correct: `pred` needs to be a boolean scalar.  Marking as contributions welcome.

[2016-07-19 00:25] keveman commented on #3374
`//tensorflow/core:proto_text_srcs_all` is not part the proto library, but something that @cwhipkey wrote. I doubt it can be built independent of `core:lib`, but maybe @cwhipkey can answer it better.

[2016-07-19 00:28] concretevitamin commented on #3359
Assigning to @ebrevdo: can you take a look?  Thanks.

[2016-07-19 00:29] concretevitamin commented on #3360
Please report your complete environment info (see other issues).  Thanks!

[2016-07-19 00:30] andrewharp commented on #3374
It's generated by the cc_binary tool gen_proto_text_functions, which only uses the following basic TF includes:
#include "third_party/tensorflow/core/lib/strings/str_util.h"
#include "third_party/tensorflow/core/lib/strings/strcat.h"
#include "third_party/tensorflow/core/platform/macros.h"
#include "third_party/tensorflow/core/platform/types.h"
#include "third_party/tensorflow/core/platform/init_m

[2016-07-19 00:30] concretevitamin commented on #3361
This feature request is very broad, and we will likely not work on it in the foreseeable future. To keep the issue tracker focused, I will close this issue.

[2016-07-19 00:30] #3361 closed

[2016-07-19 00:33] concretevitamin commented on #3362
What is the stack trace corresponding to `tensorflow/core/framework/tensor.cc:433]`?  Can you add some LOG messages to see which node is creating issues?

[2016-07-19 00:34] michaellee1 opened #3381 "iOS Example Make Build Error"
I am following the iOS static TF build on the "Building By Hand" section [found here]  (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile#building-by-hand).  I am running the build command after downloading dependencies and compiling successfully.

When running `make -f tensorflow/contrib/makefile/Makefile  TARGET=IOS  IOS_ARCH=ARM64`, there is a generated error that

[2016-07-19 00:35] concretevitamin commented on #3363
@martinwicke Can you take a look? Thanks.

[2016-07-19 00:48] whdc commented on #3356
@girving, `xx` is a tensor of reals, so `g` is a gradient of a real w.r.t. reals.  Supporting this is the fact that the expression `tf.real(tf.reduce_sum(g))` produces the following error:
[code]

[2016-07-19 00:49] cwhipkey commented on #3374
I think it's possible to get it down to just the dependency on protobuf.h
(I have a change somewhere where I did that, but it was ultimately not
needed).  Would that help?  The protobuf.h code would still need to be made
available somehow.

On Mon, Jul 18, 2016 at 5:31 PM, Andrew Harp <notifications@github.com>
wrote:

[2016-07-19 00:59] markpwoodward commented on #2514
I ended up doing the switching between validation and train in a python
producer thread, and counting the number of elements processed. But I have
been thinking about this a bit, and I am leaning towards a similar (maybe
same) idea as yours, where there are two queues (train and validation),
with a tf.cond switching between queues, controlled by a placeholder. This
would allow for a single model g

[2016-07-19 01:29] Dan1900 commented on #3360
ubuntu 14.04.4 LTS
cuda7.0
cudnn v4
gcc 4.9.4

[2016-07-19 01:57] martinwicke commented on #3310
I would not worry about these just yet. We'll have to change things in order to conform to future bazel versions. @damienmg, is this something we can change now (or do we have to change things in protobuf?)

[2016-07-19 01:57] #3310 closed

[2016-07-19 01:59] Dan1900 commented on #3360
Thank you for your comments.I check my install steps again and find that I choose the cudnn 7.0,maybe it is the problem! when I change it to 4,it works.Thank you again.

[2016-07-19 02:30] martinwicke commented on #2973
That was a little harsh -- however, it would be good to know if this is still an issue in 0.9. I think it probably is.

[2016-07-19 02:53] gallupliu commented on #2995
@ScartleRoy Thanks，I has master to use the
 function bidirectional_rnn to achieve one layer,But I don‘t know to  achieve multiple layer？may
be I'm wrong understand blstm

[2016-07-19 03:09] ispirmustafa commented on #2745
Hi,
Not providing steps means training will continue forever or until input is
exhausted.

On Mon, Jul 18, 2016, 11:23 AM Andrew Selle <notifications@github.com>
wrote:

[2016-07-19 03:20] markpwoodward commented on #2514
Oops, tf.cond may be the wrong choice, as ebrevdo mentions in the parallel
thread which I will stop referencing now. From the documentation, it seems
that tf.cond executes both paths up to, but not including, the final
operation, so it wouldn't work as I had hoped.

Perhaps it could still work if what was passed to tf.cond() was the
queue.dequeue(), or queue.dequeue_many(), operations for the trai

[2016-07-19 05:15] ispirmustafa commented on #2745
Yes, fit supposed to take a steps. Default is None which means run infinitely or until input is exhausted.

[2016-07-19 05:16] yaroslavvb commented on #3378
You need to add ":0"
print sess.run(y, {'x:0': [1, 2, 3]})

Here's some background on why the ":0" is needed:
http://stackoverflow.com/a/37870634/419116

On Tue, Jul 19, 2016 at 3:06 AM, Danijar Hafner <notifications@github.com>
wrote:

[2016-07-19 05:16] ebrevdo commented on #2514
What can work is a cond(filter_predicate, lambda: queue.enqueue(..),
tf.no_op).  This allows controlling what goes into a queue.  Most other
ways of combining queues and tf.cond usually don't have the behavior you
would expect.

On Jul 18, 2016 8:20 PM, "Mark Woodward" <notifications@github.com> wrote:

[2016-07-19 05:22] ebrevdo commented on #3359
Have you tried using a TensorArray?  See tf.nn.dynamic_rnn for example usage.

[2016-07-19 05:23] ebrevdo commented on #3375
Lukasz knows this code better.

[2016-07-19 05:46] yuanbyu commented on #3359
Line 498 of gradients.py is too strong for while loop:

`in_grad.set_shape(t_in.get_shape())`

It looks like a bug introduced recently, and could potentially cause other problems.  We probably want to add a test case to guard this when we fix it.

[2016-07-19 05:49] bpajusco commented on #3344
Here is the output from the --inspect command

======================================================================
Processing event files... (this can take a few minutes)
======================================================================

Found event files in:
/home/bruno/Documents/Machine_Learning/Tensorflow/TensorFlow-Examples/notebooks/tmp/tensorflow_logs

These tags are in
/home/bruno/D

[2016-07-19 05:51] jacobvsdanniel commented on #3359
Having a quick look at ops/rnn.py and I can't quite understand it; coming back later when I'm off duty.

[2016-07-19 06:09] untom commented on #3361
Well, what I'm actually asking for is something along the lines of a `tf.TextLineReader` that supports reading random The request came up before e.g. in #2089 . The problem with always closing these feature requests is that people who are looking for easy, new contributions might not see them, although they might be a good first step into the TF code base.

[2016-07-19 07:04] osdf commented on #2514
With ```make_template``` there won't be multiple copies of the graph. Tensorboard nicely shows that the two queues (one for training data, the other for validation data) share one graph with the weights (True, you need to have two different smaller pieces of loss expressions that are associated with the queue and are placed on top of the one graph that has the trainable parameters). Deciding which

[2016-07-19 07:20] zhangcx93 commented on #3380
--num-gpus=2 won't set the flag to 2, just change the number in the code and test again.

[2016-07-19 08:04] jrabary opened #3385 "Update probabilities for stratified_sampling"
The function `tf.contrib.framework.sampling_ops.stratified_sample` doesn't accept probability update. Is it a bug or a normal behaviour ?
Bellow is a sample code that produce the error. The idea is to resample a label sub set from large dataset with large number of label (and unbalanced) and update the target prob after each iteration :

[code]

[2016-07-19 08:20] mbaytas commented on #3203
The issue persists.

[2016-07-19 08:34] ppries commented on #3362
So, I'm not that proficient at C++, but I tried using `gdb` to get something that looks like a stack trace (I added `-g -rdynamic` to the compiler flags and ran it in `gdb` with `run`:

    (gdb) bt
    #0  0x00007fffddf0fc37 in __GI_raise (sig=sig@entry=6) at ../nptl/sysdeps/unix/sysv/linux/raise.c:56
    #1  0x00007fffddf13028 in __GI_abort () at abort.c:89
    #2  0x00007fffe93a5189 in tensorfl

[2016-07-19 08:41] sammoes opened #3386 "Ubuntu 16.04"
On Ubuntu 16.04 (gcc default is 5.3),
apt-get install cuda-toolkit installs the library files in usr/lib/x86_64-linux-gnu
tensorflow prefers them in usr/local/cuda
.configure allows you to change the directory

cuDNN installs in /usr/local/cuda (more or less by default)
telling configure that cuDNN is in usr/local/cuda makes tf look for cuda in usr/local/cuda

Before you know it, you have cuda ver

[2016-07-19 08:47] danijar commented on #3378
Thanks.

[2016-07-19 08:47] #3378 closed

[2016-07-19 08:50] baylor0118 opened #3387 "mobile tensorflow"
About mobile tensorflow ( https://www.tensorflow.org/mobile.html ), I want to download the inception
(http://download.tensorflow.org/models/image/imagenet/inception-2015-12-05.tgz), but it has been
damaged.

Thank you!

[2016-07-19 09:15] yaroslavvb commented on #3386
I have not had success getting TensorFlow GPU to work through apt-get install cuda-toolkit, hence I always install cuda through tarbar from NVidia website

[2016-07-19 10:27] Ape commented on #3309
Yes, I followed that guide, including installing protobuf.

[2016-07-19 11:00] Hvass-Labs opened #3388 "Bug: Exception ignored in BaseSession.__del__"
Hello Everyone,

The following code produces an error in TensorFlow:

[code]

This is the contents of sandbox3.py which I run in PyCharm.

The output is:

[code]

I'm using the following versions:
- TensorFlow 0.9.0 CPU installed from binary.
- Python 3.5.1
- Anaconda 2.5.0
- PyCharm 5.0.4
- Linux Mint 17.3

[2016-07-19 11:25] iahmad-khan commented on #720
@ricochet2200 any update? i just need a spec file that can build tensor-flow.
centos6 , amd-64

[2016-07-19 11:46] Tugees commented on #2883
Hi,

I encountered the same errors and followed the suggestions. No longer getting any errors but I get the same prediction no matter what I point the camera at. What could be the problem?

[2016-07-19 11:49] countkisg commented on #2034
Is there any update now?  I found there was no such problem in pyCharm IDE (with sklearn installed)

but the same code cann't work in ipython

Dont know why

[2016-07-19 11:55] MartinThoma commented on #3342
I've just installed CUDA 7.5 and TF rc0.7. So I will not be able to reproduce this error.

[2016-07-19 12:13] rlrs commented on #1768
The error in optimizer.py prints the Variable object, which is shown as e.g. `<tensorflow.python.ops.variables.Variable object at 0x7ff7ed095350>`, not very informative. It should probably display `Variable.name`.

[2016-07-19 12:23] akors commented on #2959
Hi, I have just tested with TensorFlow master, and it seems that there are no more "API  Callback" warnings anymore.

Commit f2a69f30fb159f4dd7d6550562e6e0c2e1f05c3a seems to have fixed the issue, and I suggest closing it.

[2016-07-19 12:42] sammoes commented on #3386
Yeah, I understand, but in 16.04, it is possible to set the default gcc to 4.9 to be able to build the .run file,  however, I ran into complaints about the 5.3 compiler again when building tf from source after that.  With the cuda .deb, tf doesn't know the gpu:0 the .deb possibly overwrites the nvidia 367 driver (partially) (or it lets you select whether to do so, it comes with 361 long term suppo

[2016-07-19 12:45] wishforgood opened #3389 "Why doesn't tensorflow support tensor as the feed_dict?"
**What I'm trying to do**

I am trying to extract CNN features for my own images with residual-net based on https://github.com/ry/tensorflow-resnet. I plan to input image data from JPG files before exploring how to convert the images into a single file.

**What I have done**

I have read https://www.tensorflow.org/versions/r0.9/how_tos/reading_data/index.html and some related materials about how t

[2016-07-19 13:35] Devadath opened #3390 "Index error in decoding"
When I tried  --decode  and gave a sentence, I got this error
Traceback (most recent call last):
  File "translate.py", line 279, in <module>
    tf.app.run()
  File "/home/devadath/.local/lib/python3.5/site-packages/tensorflow/python/platform/app.py", line 30, in run
    sys.exit(main(sys.argv))
  File "translate.py", line 274, in main
    decode()
  File "translate.py", line 244, in decode
    p

[2016-07-19 13:43] zakizhou commented on #3389
I new to tensorflow, according to my experience, you really don't need to feed a tf.tensor to feed_dict. Once you have a tensor with value, you can get this value with your_tensor.eval() or sess.run(you_tensor) and then you can feed the output to your feed_dict

[2016-07-19 14:06] sammoes commented on #3386
I get the gpu:0 now through the nvidia-docker solution
Please leave it open until the website is updated.

[2016-07-19 14:12] wishforgood commented on #3389
I have also searched about how to get the value of a tensor to solve this problem and seen the solutions like above. However when I try to get image_batch.eval() or even image_buffer.eval(), the program just keep working without stopping or outing anything. I have tried to get a constant value from a tensor and succeeded. But this is just useless with tensor gotten from tf.read_file() and etc.

[2016-07-19 14:36] nationalflag opened #3391 "cudnn5 so slow"
I updated cudnn from 4 to 5, and reinstall tensorflow from source.
But I found that my code run almost 6 time slower than before.

[2016-07-19 14:39] vrv commented on #3203
Ah, graph_util.py was moved from python/client to python/framework after r0.9.  You should either check out the code from the r0.9 branch, or use the nightly PIPs linked from github.com/tensorflow/tensorflow to get access to more recent installs that match the latest source code in master.

[2016-07-19 14:39] pescam commented on #1803
I didn't try it on latest build but JulienB-78 solution solved my problem.

[2016-07-19 14:40] KevinAyuque commented on #3354
Could this be due to the Xcode 8 beta? I have it installed and I'm not sure if it affects the command line tools.

[2016-07-19 14:43] zhanif3 commented on #3380
This worked. Thank you for the help.

[2016-07-19 14:43] #3380 closed

[2016-07-19 14:48] JulianBlin commented on #3354
No, it's not linked to Xcode 8 beta. I faced the same xith Xcode 7.3
If you want to build the library, I'd advise you to checkout an older commit (e.g. 7520953ac6ee65f7cca8ab3f124fb2cb1629918e ) and then run build_all_ios.sh , it worked for me. But this issue is still open because the compilation fails with the current master tensorflow.

[2016-07-19 14:55] prb12 commented on #2959
Thanks!

[2016-07-19 14:55] #2959 closed

[2016-07-19 15:13] petewarden commented on #3354
I just checked in PR #3382 which fixes the immediate problem, and also makes it less likely that it will happen in the future. The summary is that we used to have an explicit list of files that were needed for the core library, and this was fragile because individual .cc files are often added, breaking the build. To make things more robust, I've switched over to a wildcard-based approach together

[2016-07-19 15:18] danmane commented on #3344
Hmm, TensorBoard should display events when loaded against that directory, can you try again? I just inspected the logs you uploaded, and they contain no scalar summaries, so I think perhaps the situation has changed between when you filed the issue and uploaded logs, and when you ran the inspect command.

[2016-07-19 15:50] rdipietro opened #3392 "Remove unnecessary input-size requirement for convolutions with padding='SAME'"
Right now there is conflicting behavior when `padding='SAME'`: If inputs have a defined height and width, then convolutions require that filters be no larger than input images (spatially). If inputs do not have a defined height and width, then it's okay for filters to be larger than images.

I think this conflicting behavior should be removed, especially since `padding='SAME'` is used for convenie

[2016-07-19 15:56] andrewharp commented on #3374
@cwhipkey Yes, that was exactly what was needed. Starting from that CL I was able to get something building that fixes this issue by creating a minimal dependency tree for gen_proto_text_functions.

[2016-07-19 16:04] ricochet2200 commented on #720
@iahmad-khan I haven't been following this bug closely.  Can you build with cmake now?

[2016-07-19 16:09] igormq commented on #2146
Anyone have news about it?

[2016-07-19 16:15] sahil912 commented on #3354
It works great now.
![img_5043](https://cloud.githubusercontent.com/assets/7187949/16957491/26dc3e48-4dfa-11e6-881a-5b623c6227bd.jpg)

[2016-07-19 16:17] Gandor26 opened #3393 "build_pip_package failed to build without GPU option"
### Environment info
Operating System: Ubuntu 16.04 LTS
GCC Version: 5.4.0
python 3.5.2
Installed version of CUDA and cuDNN:  None

If installed from sources, provide the commit hash:
fc9162975e52978d3af38549b570cc3cc5f0ab66

### Steps to reproduce
1. build bazel from sources
2. git clone --recurse-submodules https://github.com/tensorflow/tensorflow
3. ./configure
4. bazel build -c opt //tensorflo

[2016-07-19 16:17] sahil912 commented on #3327
works good after #3382  commit. Thanks

[2016-07-19 16:17] #3327 closed

[2016-07-19 16:18] sahil912 commented on #3329
works good after #3382 commit. Thanks

[2016-07-19 16:18] #3329 closed

[2016-07-19 16:19] martinwicke commented on #720
Just the core for now -- but it may still be interesting to make a tensorflow-core package from that.

[2016-07-19 16:40] bpajusco commented on #3344
Here it is. Looks pretty similar to me anyway

======================================================================
Processing event files... (this can take a few minutes)
======================================================================

Found event files in:
/home/bruno/Documents/Machine_Learning/Tensorflow/TensorFlow-Examples/notebooks/tmp/tensorflow_logs

These tags are in
/home/bruno/D

[2016-07-19 16:55] iurilgit commented on #1604
hi,
We are interested in the sparse tensor for conv2d as well. Is it supported in the latest version yet?
Thanks!

[2016-07-19 16:59] danmane commented on #3344
No, I mean can you verify that nothing is showing up in TensorBoard UI when loaded on that directory?

[2016-07-19 17:00] danmane commented on #3344
To be clear: in the --inspect output you show, TensorBoard discovers scalar summaries, which I expect it would display. In the original log files you uploaded, there are no scalar summaries (and --inspect confirms that). So something has changed since you posted this issue.

[2016-07-19 17:14] bpajusco commented on #3344
Thanks for the clarification and the instructions. As you can see, I'm a
Tensorflow noob. You're right that everything shows up as expected now
and I'm really puzzled why it does since I changed nothing in the
graph/scalars or images but it seems to be working fine. I'm obviously
mocking things up here and there but I have no idea how; in other words,
I'm quite dangerous at this stage since I clea

[2016-07-19 17:23] #3381 closed

[2016-07-19 17:23] michaellee1 commented on #3381
Issue resolved by the latest commit.

[2016-07-19 17:31] dbikard opened #3394 "logdir not recognized as a keyword argument when fitting a DNNRegressor"
Hi,
I got the following error when trying to fit a DNNRegressor with this code:
[code]
TypeError: fit() got an unexpected keyword argument 'logdir'

Was the option to monitor a regressor not implemented yet?
Thanks,
David

[2016-07-19 17:39] cwhipkey commented on #3311
A ? in a shape output means "unknown dimenson value", and that is
considered compatible with a dimension with a known size.  So I'm not sure
it would give an error from that step.

Does it fail when running the model, or while setting up the model?  What
is the error message you get?

On Fri, Jul 15, 2016 at 1:21 AM, isabeaups <notifications@github.com> wrote:

[2016-07-19 17:43] markpwoodward commented on #2514
Christian, just a clarification, doesn't calling make_template twice create
duplicate operation paths in the graph, one for training and one for
validation? That duplication is probably harmless, it just seems messy when
all we want to do is switch between two input sources (although I don't
have an alternative to propose).

On Tue, Jul 19, 2016 at 12:05 AM, Christian <notifications@github.com>
wr

[2016-07-19 17:49] #3360 closed

[2016-07-19 17:53] siddharth-agrawal commented on #508
Final thoughts on this? I agree with @vrv, I think we should have one sentence for each op that supports broadcasting.

[2016-07-19 17:54] #3178 closed

[2016-07-19 17:55] waleedka commented on #2141
The TensorFlowEstimator class had save() and restore() functions, but then that the class was deprecated. Are there plans to add the same functions to the Estimator class?

I noticed there is an export_estimator() function, but I can't find the corresponding import_estimator(). What would you suggest for someone how needs to save/restore a model now?

[2016-07-19 17:57] aselle commented on #2037
Closing this bug, as we cannot reproduce it.

[2016-07-19 17:57] #2037 closed

[2016-07-19 18:04] Sherif89 commented on #720
You can put it in the open build service. It supports many distributions (Ubuntu, Fedora, OpenSUSE,...).

[2016-07-19 18:14] osdf commented on #2514
@markpwoodward hmm, i don't know what an _operation path_ is. Say you call it twice, with two different input tensors (e.g. coming from a deque op on your training/validation set respectively). What is happening is that in the first call, the graph with the parameters is constructed. In the second call, this graph is simply reused. If you open up tensorboard, you see exactly this view, sort of a b

[2016-07-19 18:18] Mistobaan commented on #3376
The problem is that the result type of the if operation has different dimensions. You can easily solve the problem by having one ore more operations in the else branch such  that they return a scalar too, or modify the if part by returning also a dim-2 tensor.

[2016-07-19 18:22] jhollowayj commented on #1686
Sounds good.  We got it installed here just a little bit ago, so I'll take a stab at it sometime.

In case I don't, the slurm manager here pointed me to two scripts he wrote to parse out the slurm nodelist in perl that may be helpful for generating that list:
https://github.com/SchedMD/slurm/blob/slurm-16.05/contribs/torque/generate_pbs_nodefile.pl
https://github.com/SchedMD/slurm/blob/78bb5093c37

[2016-07-19 18:29] NikunjBajaj-Reflektion commented on #3300
Apologies for bothering again. Just checking in if someone got a chance.

[2016-07-19 18:40] markpwoodward commented on #2514
@osdf, thank you for the response. Would you mind include the picture from
tensorboard? I certainly may be missing something about how tensorflow
execution happens. Also, maybe brief pseudo code for your usage of
make_template(); where the goal of the pseudo code is just inference (no
loss or training), but on two different queues.

On Tue, Jul 19, 2016 at 11:16 AM, Christian <notifications@github

[2016-07-19 18:42] jhollowayj commented on #1686
@mrry If we did have this nodelist parsing code written, where would it sit in the project?

I'm not familiar with the internals to see where and the best that I would have would be to write a separate python script that parses the nodes, picks ports, and then just formats arguments like `--ps_hosts=ps1:2222,ps2:2222, --worker_hosts=wk1:2223,wk2:2223,wk3:2223,`  which then call my regular scrips w

[2016-07-19 18:58] cardshuffle commented on #3175
@andrewharp When I initially installed TensorFlow and cloned the repository, I didn't use --recursive, but I just re-cloned it in a new folder using --recursive, and redid all the steps (excluding installation of the SDK/NDK/Bazel), up to the Bazel build. However, I got this output:

    WARNING: /home/me/.cache/bazel/_bazel_me/95be766f297ed076701dc5f5e00e0a6b/external/protobuf/WORKSPACE:1: Worksp

[2016-07-19 19:02] andrewharp commented on #3175
Does platforms/android-23/android.jar exist in your sdk directory? Can you paste the WORKSPACE entry for your sdk and ndk please?

[2016-07-19 19:07] cardshuffle commented on #3175
No, but the path platforms/android-24/android.jar does. This is my WORKSPACE entry:

    android_sdk_repository(
        name = "androidsdk",
        api_level = 23,
        build_tools_version = "23.0.1",
        # Replace with path to Android SDK on your system
        path = "/home/me/Android/Sdk",
    )

    android_ndk_repository(
        name="androidndk",
        path="/home/me/Documents/an

[2016-07-19 19:13] andrewharp commented on #3175
Sounds like it. You can use `/home/me/Android/Sdk/tools/android` to confirm.

There's no problem having multiple Android api levels installed in your SDK, so you can use the `android` tool to install 23, or just change WORKSPACE to match what you have.

[2016-07-19 19:18] KevinAyuque commented on #3354
It works for me now as well! thanks!

[2016-07-19 19:19] #3354 closed

[2016-07-19 19:29] Anjum48 opened #3396 "Numpy reshape and tf.reshape give different results in MNIST classification"
### Environment info

Operating System:

[code]

Installed version of CUDA and cuDNN:
Using CPU only version

If installed from binary pip package, provide:
1. Which pip package you installed: https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.9.0-cp35-cp35m-linux_x86_64.whl
2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.:
   `0.9.0`
### Steps to re

[2016-07-19 19:33] cardshuffle commented on #3175
This is the error now:

    ERROR: /home/me/.cache/bazel/_bazel_me/95be766f297ed076701dc5f5e00e0a6b/external/gif_archive/BUILD:14:1: C++ compilation of rule '@gif_archive//:gif' failed: namespace-sandbox failed: error executing command /home/me/.cache/bazel/_bazel_me/95be766f297ed076701dc5f5e00e0a6b/execroot/tensorflow/_bin/namespace-sandbox ... (remaining 46 argument(s) skipped).
    external/gif

[2016-07-19 19:45] girving commented on #508
I'll reverse my previous position: putting a sentence in every op, ideally with a link to a more detailed discussion of broadcasting, would be great.

[2016-07-19 19:47] girving commented on #3356
Whoops, you're right.  Apologies for misreading.

[2016-07-19 20:15] andrewharp commented on #3175
Now you've run into an outstanding TF issue :)
https://github.com/tensorflow/tensorflow/issues/3374

I have a fix incoming, until then just run ./configure for a simple workaround.

[2016-07-19 20:28] fwalch commented on #3389
If you have your data in tensors anyway, you don't need to use placeholders and `feed_dict`. You can just use `image_batch` / `label_batch` instead of `images_placeholder` / `label_placeholder` when setting up your model / loss.

[2016-07-19 20:32] fwalch commented on #3387
The download/extraction works for me; are you sure it's not a problem with your network connection or something like that?

[2016-07-19 20:40] AaronZhouQian commented on #3377
Lemme clarify the question a little bit.

We took the tutorial code for logistic regression for MNIST from the tensorflow website.

We used the same MNIST dataset from the tensorflow repository and used an equivalent logistic regression model in Theano.

We're not sure where the four-time timing difference comes from, although I suspect it's from the feed_dict and placeholder feature.

I don't see

[2016-07-19 20:50] infnorm commented on #3293
Interesting, could you give a citation of papers that do this. It is difficult to extend past 5 in the current framework because it requires more Eigen template instantiation which would bloat the binary. One way to get around this would be to implement a catchall non templatized version of slice. Most ops don't really support more than 5 so you probably will hit this on many other ops as well.

[2016-07-19 20:51] aselle commented on #3293
Interesting, could you give a citation of papers that do this. It is difficult to extend past 5 in the current framework because it requires more Eigen template instantiation which would bloat the binary. One way to get around this would be to implement a catchall non templatized version of slice. Most ops don't really support more than 5 so you probably will hit this on many other ops as well.

[2016-07-19 21:01] Mazecreator commented on #3377
You can look at report #3320 as I have example code there to capture a run in the "discrete_deepq_model.py" file starting near line 257.  This will give you a trace file to open in Crome with:
chrome://tracing

There is a link to the reference I used to create the trace file in that post as well.

[2016-07-19 21:40] cardshuffle commented on #3175
Thanks for all your help! ./configure worked and the Bazel build was successful. One final question: is there a way to open up a project built with Bazel in Android Studio? I find it easier to view and edit code that way.

[2016-07-19 21:47] osdf opened #3397 "Can't place tf.nn.moments() on GPU when first dimension is None"
At first this sounds like #2508, but this was closed and apparently fixed and the error message is also different. So it might be more related to #139, and possibly to the comment of @mrry on `tf.mean` on GPUs. The example below works with cpu device context (or no explicit device placement at all). Is this a missing feature or should one not expect that this is fixable?
### Environment info

Oper

[2016-07-19 22:03] andrewharp commented on #3175
glad you got it working!

Android Studio should be able to let you edit the Android/Java portion of the demo, and maybe the native code too. See http://stackoverflow.com/questions/27570516/how-to-open-an-existing-project-in-android-studio

However, you're probably better off using bazel directly to actually build it for deployment.

[2016-07-19 22:03] #3175 closed

[2016-07-19 22:03] #2476 closed

[2016-07-19 22:10] concretevitamin commented on #1803
Closing this for now, since workaround seems to be in place.

[2016-07-19 22:10] #1803 closed

[2016-07-19 22:16] concretevitamin commented on #3193
Since Martin has provided the workaround, I am closing this.  (Please feel free to file a separate issue about updating the docs; although as already mentioned this code path is in heavy development now.)

[2016-07-19 22:16] #3193 closed

[2016-07-19 22:20] concretevitamin commented on #3212
Dan, assigning it to you to take a look at the TensorBoard feature request.

@ibab @benwu232 You could use `tf.check_numerics()` to catch these errors during training.  Would this op work?

[2016-07-19 22:30] concretevitamin commented on #3309
@satok16: could you take a look at this?  Since I know you've been touching makefile recently.  Thanks!

[2016-07-19 22:34] Arn-O commented on #3374
I can confirm that the ``./configure`` works for me. So we can close this issue, or keep it open for reference, if someone wants to remove the unnecessary dependencies.

[2016-07-19 22:34] concretevitamin commented on #3356
Assigning to @mrry to take a look, although he's currently out.

[2016-07-19 22:38] concretevitamin commented on #3362
It appears that your code `BlockFilter::getFrame` seems to create a `Tensor`, populate it with 16 elements, and then call `tensor.scalar<float>()` on it.

I suspect this can be fixed once you change the `getFrame()` to not call `scalar<>()`.  (If you need to access the `i`-th element, call `flat<T>()(i)`.)

[2016-07-19 22:43] #3344 closed

[2016-07-19 22:47] concretevitamin commented on #3391
Please provide more environment details and a minimum repro (if you can isolate the performance degradation to a few ops, or a minimum model).

[2016-07-19 22:47] #3391 closed

[2016-07-19 22:48] concretevitamin commented on #3387
Same: works for me.  Closing for now.

[2016-07-19 22:48] #3387 closed

[2016-07-19 22:48] concretevitamin commented on #3391
(For example, please copy the issue report template from #3366.)

[2016-07-19 23:02] concretevitamin commented on #3373
@zheng-xq: seems like an issue of bfc_allocator.  Could you take a look?  Thanks.

[2016-07-19 23:03] andrewharp commented on #3374
I've submitted a fix internally; it should show up externally in the next push -- I'll close the issue when it does.

[2016-07-19 23:29] petewarden commented on #3289
Sorry you're still hitting problems! I took a look at the output, and it's a known issue with gcc 4.9. I've added some extra documentation about working around this in #3398, but here's the relevant piece:

If you hit compilation errors mentioning `__atomic_compare_exchange` and you're
using gcc 4.9, you should try installing gcc 4.8 and using that instead:

[code]

Does that help?

[2016-07-19 23:44] zheng-xq commented on #3373
@concretevitamin, the initializer is fundamentally a tf.Assign. So there will be at least two copies of the tensors in that operation, lhs is the variable, and rhs is the initial value. Since TensorFlow didn't get all the GPU memory, it only allocates about 11GB memory. So half of that is about 5.5GB. If you change the size of your variable to (1400 << (1 <<20)), it should work.

Short of an in-pl

[2016-07-19 23:47] petewarden commented on #3308
This is usually a sign that the global constructors that TensorFlow uses to register things like session factories and kernels have been stripped out. The short answer is that you should make sure you build with the right linker options to stop them being stripped. On Linux you will add `-Wl,--allow-multiple-definition -Wl,--whole-archive`, and on OS X `-all_load`. The benchmark binary works becau

[2016-07-19 23:49] terrytangyuan commented on #3340
Actually, I missed this earlier but you can restore by specifying same model_dir when you call the constructor and it will load the saved model for you. Let me know if that solves your issue. Thanks.

[2016-07-20 00:32] concretevitamin commented on #3373
Sounds good.  @lightcatcher can you verify?

[2016-07-20 01:29] wfs commented on #3289
Great! These final steps work. No warnings or errors during the make. Off to test the installation now. Will provide another update when done. Thanks again for the awesome support.

[2016-07-20 01:29] JulianNorton commented on #3200
@hengtze
I can confirm this issue is present in the most recent version of code. I was trying to do the tutorial here: https://www.tensorflow.org/versions/r0.9/tutorials/wide/index.html using [this code](https://github.com/JulianNorton/trump-weather/blob/87062b07e037e1c3dedb06bd45c95d222e175f85/tensor-flow.py).

Python 3.5.1
Tensorflow 0.9.0

### Problem
[code]
in dnn_linear_combined.py was causin

[2016-07-20 01:30] seansaito commented on #2774
This still occurs for Python 2, Ubuntu 14.04

[2016-07-20 01:40] concretevitamin commented on #3379
I did a search in the repo, perhaps the only thing is an usage example?  See `tensorflow/examples/skflow/hdf5_classification.py`.

[2016-07-20 01:40] terrytangyuan commented on #3394
Please use model_dir in the constructor

[2016-07-20 01:41] concretevitamin commented on #3364
@wicke: assigning to you to redirect.  Who is the owner of the `tensorflow/examples/skflow` directory?

[2016-07-20 01:42] terrytangyuan commented on #2141
Please use model_dir in constructor

[2016-07-20 01:43] terrytangyuan commented on #3379
That example is probably broken as we are switching to learn.dataframe soon instead of data feeder. For now, you can probably load it into numpy. Stay tuned!

[2016-07-20 01:45] wishforgood commented on #3389
Yes, I can see from the examples of training procedures that I can just use tensors as input of any ops in tensorflow. However in this case I am using a predefined network so I am confused whether I can change the network definition. That is to say, I have no idea how to change the input of loss function(the definition of node "images" and "prob" is `        images = tf.placeholder("float32", [Non

[2016-07-20 01:45] #3379 closed

[2016-07-20 01:45] concretevitamin commented on #3379
Ok, closing for now.

[2016-07-20 01:56] wfs commented on #3289
Segmentation fault :(

Terminal output since your make command in previous comment [is stored here](https://drive.google.com/file/d/0B0Oci8Q1NdEucWg5b0FNc3huT0xTaXJTVzU4dnB1cG02SzJz/view?usp=sharing)

[2016-07-20 01:58] girving commented on #2774
@seansaito We'll need more information to be able to help, including the TensorFlow version.

[2016-07-20 02:08] petewarden commented on #3289
Can you run

[code]

and see if you get a stack trace? Also, can you confirm which Pi model you're on?

[2016-07-20 02:21] baylor0118 commented on #3387
Thank you very much.

[2016-07-20 02:26] wfs commented on #3289
pi@raspberrypi:~/tensorflow $ gdb tensorflow/contrib/pi_examples/label_image/gen/bin/label_image
GNU gdb (Raspbian 7.7.1+dfsg-5) 7.7.1
Copyright (C) 2014 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copy

[2016-07-20 02:27] STREETZHOOKDMASTER opened #3400 "new stacks"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-07-20 02:28] petewarden commented on #3289
Thanks for the info, and sorry, I should have been more specific. When you run gdb and get to the prompt, type 'r' then return to run the program. Hopefully then there will be a backtrace.

[2016-07-20 02:31] STREETZHOOKDMASTER commented on #3400
I want to start

[2016-07-20 02:33] wfs commented on #3289
No problem.

Reading symbols from tensorflow/contrib/pi_examples/label_image/gen/bin/label_image...(no debugging symbols found)...done.
(gdb) r
Starting program: /home/pi/tensorflow/tensorflow/contrib/pi_examples/label_image/gen/bin/label_image
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/arm-linux-gnueabihf/libthread_db.so.1".

Program received signal SIGSEG

[2016-07-20 02:39] petewarden commented on #3289
Thanks, that does at least suggest there may be something funky with the build, since that's not an error I'd expect to see. Since you switched compilers, could you try

[code]

just to make sure that there are no weird linking issues with objects from different gcc versions (though that's a bit of a stretch). I'll try this on my Pi tomorrow too, to see if I can reproduce the problem.

[2016-07-20 02:44] wfs opened #3401 "Run a TensorFlow demo model : IOError: CRC check failed"
### Environment info
Operating System:
(tensorflow) paddlescoot@paddlescoot-Satellite-P870:~$ cat /proc/version
Linux version 4.4.0-31-generic (buildd@lgw01-16) (gcc version 5.3.1 20160413 (Ubuntu 5.3.1-14ubuntu2.1) ) #50-Ubuntu SMP Wed Jul 13 00:07:12 UTC 2016

If installed from binary pip package, provide:

1. Which pip package you installed.
Follow python 2.7 virtualenv installtion notes - http

[2016-07-20 02:47] waleedka commented on #2141
Thanks, I do use the model_dir param and it works. I meant to ask about the ability to save the execution graph as well, not just the weights. Such that I can send the model file to someone and they can load it and run it without having to send the python code with it. I believe that's what TensorFlowEstimator.save() does, right? Or am I misunderstanding it.

[2016-07-20 02:47] wfs commented on #3289
No joy. Same segmentation fault after 1st running clean above.

[2016-07-20 02:59] terrytangyuan commented on #2141
Ok I see. Then I'll be waiting for @ilblackdragon to respond on the plans.

[2016-07-20 03:19] leihe001 opened #3402 "Given one input tensor, why tf.nn.max_pool generate two tensors?"
with tf.name_scope('layer3'):
    conv3_weights = tf.Variable(tf.truncated_normal(
      [3, 3, 128, 256], stddev=0.1))
    variable_summaries(conv3_weights, 'layer3' + '/weights')
    conv3_biases = tf.Variable(tf.constant(0.1, shape=[256]))
    variable_summaries(conv3_biases, 'layer3' + '/biases')
    conv3 = tf.nn.conv2d(pool2,
      conv3_weights,
      strides=[1, 1, 1, 1],
      padding='SA

[2016-07-20 03:31] zhmz90 opened #3403 "A link in tensorflow's website is ineffective"
The link in **Download [the tutorial code](https://github.com/tensorflow/tensorflow/tree/r0.9/tensorflow/examples/learn/wide_n_deep_tutorial.py).**  from [TensorFlow Linear Model Tutorial](https://www.tensorflow.org/versions/master/tutorials/wide/index.html) failed.

Is the source code of the website not open? I didn't find it.

[2016-07-20 03:33] SuperJonotron commented on #3340
Similarly trying to figure this one out using the example here using a DNNClassifier:
https://www.tensorflow.org/versions/r0.9/tutorials/tflearn/index.html

It looks like the answer currently provided is only for deprecated TensorflowDNNClassifier (as it pertained to restore only) and does not address the initial question of saving and restoring the new DNNClassifier.

Is the functionality for the

[2016-07-20 03:36] terrytangyuan commented on #3340
Check master version of the doc and use what I described above.

[2016-07-20 03:40] zhaolili commented on #2890
yes, I was using version 0.9.0

[2016-07-20 03:45] SuperJonotron commented on #3340
Couldn't find anything in the docs that actually explains the behavior but it looks like as long as you have the model_dir in the constructor it is automatically saved and/or restored with nothing else needing to be done.

[2016-07-20 03:46] zhaolili commented on #2890
BTW, I finally solved this problem by re-installing correct GPU device driver for Ubuntu 14.04.
My Ubuntu version is 14.04, but I mistakely installed device driver for Ubuntu 15.x. So everytime it hangs on starting tensorflow Session.

[2016-07-20 04:10] lukaszkaiser commented on #3375
Hi!

I think the use of sequence_loss_by_example in ptb_word_lm in ok, because sequence_loss_by_example averages across time-steps (not batch), but ptb_word_lm uses it with just 1 time-step -- it first puts the time component into the batch dimenstion. That's why it has the reshape, but the lists are all of length 1 -- that's the time dimenstion and that's why you see "batch_size * num_steps" ther

[2016-07-20 04:10] #3375 closed

[2016-07-20 04:18] vrv commented on #2890
Nice find @zhaolili -- I'm tempted to close this bug since it's not TensorFlow-specific, it seems.

(It would be good to know if TensorFlow is somehow hitting unique bugs in the driver that others aren't, so if anyone wants to validate that other GPU software works fine before trying to update to the correct device driver, that would be useful debugging info for the future).

[2016-07-20 04:18] #2890 closed

[2016-07-20 04:19] vrv commented on #3403
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/g3doc/tutorials/wide Feel free to send a PR to update the docs for us!

[2016-07-20 04:20] terrytangyuan commented on #3340
Yeah it needs to be updated/clarified

On Tuesday, July 19, 2016, SuperJonotron <notifications@github.com> wrote:

[2016-07-20 04:33] RafaelCosman opened #3404 "Can't create placeholder with partially defined shape e.g. (-1, 10)"
I get `ValueError: Dimension -1 must be >= 0`

[2016-07-20 04:34] #3404 closed

[2016-07-20 04:36] damienstanton commented on #10
Follow-up: I've since resolved that issue (an enum that was improperly `typdef`'d). I am working out one other type assertion bug, but otherwise looking good. I'll update once all tests pass on my branch

[2016-07-20 05:18] siddharth-agrawal commented on #1140
@girving Created a separate issue for GPU implementations. Could you comment on the other questions in my comment above?

[2016-07-20 06:17] chenbiaolong commented on #1924
@ilaripih It seems that the latest [tensorflow.bzl](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tensorflow.bzl) is the same as the [qbx2@f2f9322 ](https://github.com/qbx2/tensorflow/commit/f2f9322db34d0d500bff2d7ac812c2daf53d4d79) you just comment. But I still can't use the opencv(c++) read images.
Here is my BUILD:
[code]
Did I miss something?Can you give an example of using t

[2016-07-20 06:19] concretevitamin commented on #3396
Did you try isolating the issue, by looking at the two reshaped `features` and compare differences?  That might uncover bugs/issues better than comparing the end-to-end accuracy.

(I expect them to be equal.  And the differences in accuracy are just...machine learning? =D Did you train the `tf.reshape` version to full?)

[2016-07-20 06:25] concretevitamin commented on #3401
I cannot reproduce, as this sounds like the download of the MNIST data zip files failed.

Could you try to manually download the MNIST zip files, and replace the corrupted versions with the fresh ones?

[2016-07-20 06:30] concretevitamin commented on #3402
Can you click on `MaxPool` and see the `Outputs`?

I suspect the extra tensor might just be CheckNumerics or a control dependency?

[2016-07-20 06:31] concretevitamin commented on #3370
@ilblackdragon: can you comment on this, thanks.

[2016-07-20 06:34] danmane commented on #3212
I agree that writing a NaN should not crash the program. I am guessing the crash is due to the histogram summary op? We should fix this.

However, I am out for the next two weeks, and at the moment this sounds like a TensorFlow kernel issue rather than a TensorBoard issue. I'm going to unassign myself.

[2016-07-20 06:35] isabeaups commented on #3311
It fails while setting up the model.
As you can see in the above revised original issue post, doing
`xtilde = x +  tf.random_normal(tf.shape(x), mean=0., stddev=1.)`
 fails with error:

"Input size (depth of inputs) must be accessible via shape inference, "
ValueError: Input size (depth of inputs) must be accessible via shape inference, but saw value None.

[2016-07-20 06:37] concretevitamin commented on #3212
Yes, the histogram summary op can be expensive and might cause crashes.

Closing this for now - please feel free to refile if there's a more specific bug to look at.

[2016-07-20 06:37] #3212 closed

[2016-07-20 06:44] danmane commented on #3212
Specifically, @benwu232 if you confirm that the issue is that `tf.histogram_summary` crashes if passed a NaN, please open an issue on that specific problem and we will triage it there.

[2016-07-20 06:44] concretevitamin commented on #3372
Several issues I see:

1. `log_device_placement=False,allow_soft_placement=True` are passed to your Session ctor.  You should flip both, so as to verify that indeed two GPUs are used, but not just one.

2. For benchmark purposes, you should not just report one iter.  Best practices are to warm up for a few iters, then start timing (the trial runs), and report avg with std.

[2016-07-20 06:48] wfs commented on #3401
Thanks @concretevitamin . Yes something happened to the file on original download.

Was ...
9609216 train-images-idx3-ubyte.gz

Should be ...
9912422 train-images-idx3-ubyte.gz

Manually downloaded, re-ran convolutional.py and it worked.

[2016-07-20 06:48] #3401 closed

[2016-07-20 06:49] Anjum48 commented on #3396
Thanks for the reply! What's the best way of comparing the differences between the reshaped features? I'm afraid my tensor debugging doesn't extend beyond print (I posted the output above).

I initially thought it was ML accuracy, but I would have thought that 2% was pretty significant using MNIST? It also seems to be giving the same result each time which makes me think something else is up. Is t

[2016-07-20 06:51] wwfeng2 commented on #3232
thanks,

[2016-07-20 06:55] concretevitamin commented on #3390
We will need more info.  See #3366 as an example.

[2016-07-20 06:56] xuchenCN opened #3406 "How to debug tensorflow swig shared library"
I tired PyDev + CDT, and GDB, so Python file is easy to debugging . But swig generations *.so file can't debug into *.cc file side .

Could anybody tell me HOW TO debug swig?

[2016-07-20 06:56] concretevitamin commented on #3367
This does not sound like a bug in TensorFlow.  Maybe StackOverflow is a better venue?  Although, please do re-open if you've isolated more down to a TF component/op.

[2016-07-20 06:56] #3367 closed

[2016-07-20 07:01] concretevitamin commented on #3366
I don't think CUDA 8.0 is fully, if at all, supported yet.  CUDA 7.0 to 7.5 should work.

[2016-07-20 07:02] #3366 closed

[2016-07-20 07:04] zhmz90 commented on #3403
This fixed by a recent commit ac482df8f3522656d9bab96f665405aa2ba5f98b, and the official site doesn't update now.

[code]

[2016-07-20 07:04] #3403 closed

[2016-07-20 07:08] ilaripih commented on #1924
@chenbiaolong My solution was to to build `libtensorflow.so` with the version script that only exports the `*tensorflow*` symbols, and link to it dynamically from my project. You seem to be using static linkage to some tensorflow modules, which won't work.

I only used Bazel to build `libtensorflow.so`, but for building my own project I found that it was a lot easier to just use a traditional Make

[2016-07-20 07:11] Gandor26 commented on #3393
OK, I think it may result from my building this on a 32bit virtual machine... Can anyone confirm this?

[2016-07-20 07:26] ppries commented on #3362
I completely forgot about that -- I was calling `.scalar<float>` on the output tensor, which obviously won't work now that the tensor has a first dimension greater than one.

Thank you so much for the help!

[2016-07-20 07:26] #3362 closed

[2016-07-20 07:42] KangBing opened #3407 "//util/python:python_headers: 'python_include' resolves to 'util/python/python_include' not in 'third_party'"
I am installing TensorFlow on **Unbutu 12.04** with source code. I can build `bazel-bin/tensorflow/cc/tutorials_example_trainer --use_gpu` successfully, but where i create pip package, i get the warnning:

WARNING: /root/.cache/bazel/_bazel_root/f23957347b508b087abaf4db43031df3/external/protobuf/WORKSPACE:1: Workspace name in /root/.cache/bazel/_bazel_root/f23957347b508b087abaf4db43031df3/external

[2016-07-20 07:44] llealgt commented on #3340
Thank you guys , i tested it and it seems as it works, my test was: created a DNNClassifier specifiyng model_dir on constructor, fit(), used get_variable_value to wet weights of the last layer , created another DNNClassifier using the same model_dir in constructor, used get_variable_value and the same weights were printed, so i worked as you said, but now i have some additional questions
in this c

[2016-07-20 07:49] Ape commented on #3393
I encountered this same compilation failure on Raspberry Pi 2 (Raspbian Jessie, GCC 4.9.2) with tensorflow commit fc91629.

I was running this command and got the same error messages:

[code]

[2016-07-20 08:06] dbikard commented on #3394
Using model_dir in the constructor still gives me the same error
[code]
any help is welcome.
Thanks!

[2016-07-20 08:07] leihe001 commented on #3402
OK, the screenshot is as follow:
![2](https://cloud.githubusercontent.com/assets/20062851/16979506/fb42e134-4e93-11e6-9b40-3062fc421f27.jpg)

[2016-07-20 08:25] chenbiaolong commented on #1924
@ilaripih Thank you for your reply.I try to use your solution to build my project.But when I try to compile the project, a lot of include errors occur.I had include the `.../tensorflow` and `.../bazel-genfiles/tensorflow`,but some errors like`atal error: eigen-eigenb4fa9622b809/unsupported/Eigen/CXX11/Tensor: No such file or directory` occur.what headers should I include when compile the projects?

[2016-07-20 08:29] wfs opened #3408 "How To Image Retraining : ImportError: No module named mock"
### Environment info
Operating System:
cat /proc/version
Linux version 4.4.0-31-generic (buildd@lgw01-16) (gcc version 5.3.1 20160413 (Ubuntu 5.3.1-14ubuntu2.1) ) #50-Ubuntu SMP Wed Jul 13 00:07:12 UTC 2016

1. Which pip package you installed.
2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.
0.9.0

### Steps to reproduce
1. Following this tutorial : https://www.te

[2016-07-20 09:10] lethienhoa opened #3410 "Histogramme"
Hi,
This is not a problem but rather a question about the quantile "histogram". I see that Tensorflow can plot almost everything (W, dW, b, db,...).

But what is in it actually ? Knowing that b is a vector, W is a matrix. I assumed that Tensorflow has calculated the norm (L2 et Frobenius) of these tensors to view their evolution through time, right ?

Of course, a probability density function is m

[2016-07-20 09:20] Ape commented on #3393
I tried to checkout tensorflow v0.9.0, but the same error occurs also there.

[2016-07-20 09:32] leihe001 commented on #3402
Got it! I implement unpooling function in the layer4.

[code]

[2016-07-20 09:32] leihe001 commented on #3402
![3](https://cloud.githubusercontent.com/assets/20062851/16981976/ecfd6d36-4e9f-11e6-904c-05e804864f67.jpg)

[2016-07-20 09:33] Ape commented on #3309
Could this be caused by `MAKEFLAGS=-j4`? Maybe `make` sometimes builds things in wrong order.

[2016-07-20 09:52] suiyuan2009 commented on #2234
I'll work on this

[2016-07-20 10:01] Ape commented on #3308
Thanks. Adding `-Wl,--allow-multiple-definition -Wl,--whole-archive` did fix the "No session factory registered" issue, but now I get another one:

[code]

Note that the exact same code is working with bazel, but fails with contrib/makefile.

I think this might still be related to this issue since the new error mentions `No OpKernel was registered`.

In addition, while `-Wl,--whole-archive` fixes

[2016-07-20 10:05] annisamansa opened #3411 "Building error: ptxas fatal : Internal error: writing file ERROR: /disk1/caina2/tensorflow/tensorflow/core/kernels/BUILD:1509:1: output 'tensorflow/core/kernels/_objs/depth_space_ops_gpu/tensorflow/core/kernels/depthtospace_op_gpu.cu.pic.o' was not created."
when build_pip_package, ending with

ptxas fatal   : Internal error: writing file
ERROR: /disk1/caina2/tensorflow/tensorflow/core/kernels/BUILD:1509:1: output 'tensorflow/core/kernels/_objs/depth_space_ops_gpu/tensorflow/core/kernels/depthtospace_op_gpu.cu.pic.o' was not created.

Does anyone have the same problem?

### Environment info
Operating System:
centos 6.2
glibc 2.23
Installed version of

[2016-07-20 10:41] rpagliarix opened #3413 "tutorial image resolution"
Hi,
is there a higher image resolution of this?

https://www.tensorflow.org/images/tensors_flowing.gif

Thank you,

[2016-07-20 11:05] terrytangyuan commented on #3394
Pass it to DNNRegressor (constructor), not fit.

On Wednesday, July 20, 2016, David Bikard <notifications@github.com> wrote:

[2016-07-20 11:14] terrytangyuan commented on #3403
@vrv The g3doc needs to be regenerated. I saw some other places with this issue as well.

[2016-07-20 13:10] Qwlouse commented on #1203
On my Debian machine enabling [persistence mode](http://docs.nvidia.com/deploy/driver-persistence/) resolved the problem.

[2016-07-20 14:00] zgxgoo commented on #3376
tensorflow/python/ops/control_flow_ops.py
1236a1237,1239

1318a1322,1327

[2016-07-20 14:17] ZiangYan commented on #1157
@kirilg You save my day. In my case, add `cxx_builtin_include_directory: "/usr/local/cuda-7.5/include"` works, but `cxx_builtin_include_directory: "/usr/local/cuda/include"` doesn't.

[2016-07-20 14:42] teckays commented on #37
+1

[2016-07-20 15:10] girving commented on #1140
@siddharth-agrawal I'm leery of trying to GPUify all the range sampling ops unless you have a compelling need.  They're quite intricate, and specifically intricate in the kind of way that's hard to do efficiently on GPU (doing them inefficiently on GPU is not interesting).  It's all possible, but their has to be a need in order to accept that complexity into the codebase.

[2016-07-20 15:24] ilaripih commented on #1924
@chenbiaolong  Ah yes, the headers are all over the place. I made a shell script that can copy all the needed headers into a single location: https://gist.github.com/ilaripih/928ec17298859f168eee8d12cf796ee8

The script assumes that you have cloned and built tensorflow at `/tensorflow`, and can be run like this to copy the headers to `/tf_headers`:

`sh bundle_tf_headers.sh /tf_headers`

Then you

[2016-07-20 15:31] cwhipkey commented on #3311
I used the test body below and get noise always as (?, ?, ?), regardless of n.  xtilde is (?, ?, ?) when n = 1, and (?, ?, 2) when n = 2.

This is because x + noise might broadcast x onto noise, and when the dim's value is 1 then the output dim could be 1 or the other side.  A fix is to use tf.add_n([x, noise]) - this ends up giving the right shape.   Does this workaround work for you?

It seems t

[2016-07-20 15:34] siddharth-agrawal commented on #1140
@girving Alright, could you then comment on which ops should be worked on? This is so that anyone who wants to contribute does not spend time on something that is not useful. For example, @ebrevdo mentioned that float64 for CTC ops may not be useful, and as you said the Sampler ops will also not be supported. Are there any other ops that need to be discarded from [this list](https://github.com/ten

[2016-07-20 15:37] lecterquadpartisan opened #3418 "cannot install tensorflow from source"
Hi, trying to build tensorflow from source. Getting the error message below -

"/home/lec/Downloads/tensorflow/tensorflow/tools/proto_text/BUILD:31:1: Linking of rule '//tensorflow/tools/proto_text:gen_proto_text_functions' failed: crosstool_wrapper_driver_is_not_gcc failed: error executing command third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc -o bazel-out/host/bin/tenso

[2016-07-20 15:54] joel-shor commented on #3385
A few comments:
1) `tf.contrib.distributions.Bernoulli` is not a Tensor. If it has a registered conversion to a Tensor then your code will be fine in that respect, but if not it should throw a graph-build error.
2) The tensor `target_prob` represents "Target class proportions in batch". It should be a decimal number representing the target fraction per class. For example, if you have 3 classes, a

[2016-07-20 16:24] ra9hur commented on #2810
Was facing same problem, get "CUDA_ERROR_MISALIGNED_ADDRESS" with MNIST samples. Below are the environment versions.
Ubuntu - 16.04
Driver - 361.45 or 364.19
CUDA - 7.5
CUDNN - 4.0
TF - 0.9
gcc - 4.9

Downgraded tensorflow to 0.8 and this error does not show up. However, started facing a new problem. TF would just hang, nvidia-smi shows temperature at 68 C and the process stops responding. It shou

[2016-07-20 16:25] zhengwy888 commented on #1592
binarization can be done with tf.sign(). though the tricky part is to get the gradient backprop to work after binarizing input. for now this requires a separate op I implemented in tensorflow. https://github.com/zhengwy888/binary_ops. with this code you can implement your own XNOR net on GPU. comments/suggestions welcome.

[2016-07-20 16:27] girving commented on #3376
Isn't this just `tf.select`?

[2016-07-20 16:28] #3271 closed

[2016-07-20 16:31] martinwicke commented on #3340
Right now, there isn't (which is a missing feature).

You can get the value of `global_step` (which is the total number of training steps).

We're working on a multi-headed classififer.

[2016-07-20 16:33] girving commented on #1140
@siddharth-agrawal I would suggest picking a machine learning project to apply TensorFlow too!  If you pick something that you find interesting, you'll inevitably find flaws or areas for improvement in TensorFlow that will help your project.  Also inevitably, things that will help you will help others, and they'll probably end up more useful than unmotivated changes.

The other options is to look

[2016-07-20 16:33] lightcatcher commented on #3373
``1350 * (1 << 20)`` (5.27GiB) works while ``1360 * (1 << 20)`` (5.31GiB) does not. This confirms the cutoff is half of 10.57GiB mentioned by log (I'm assuming this the BFC allocator's memory pool size).

A fix or at least a documented workaround for this bug (only being able to use 50% of GPU memory for a single variable) would be very nice.
Using full GPU memory for data enables efficient batch

[2016-07-20 16:38] petewarden commented on #3308
This is actually a different error. If you look at `tensorflow/contrib/makefile/tf_op_files.txt` you'll see a list of the kernel files that are included by default, which doesn't include the `tensorflow/core/kernels/cwise_op_inverse.cc` which defines the Inv kernel.

This is actually by design, since we have picked a minimal subset of kernels that we expect to be used for inference, skipping those

[2016-07-20 16:42] damienstanton commented on #10
Okay - good to go with all updates from `master` in `go`. [PR Here](https://github.com/tensorflow/tensorflow/pull/3419).

[2016-07-20 16:48] zheng-xq commented on #3373
@lightcatcher, not at this point. All ops on a device are required to have all the input Tensors on that same device.

You can still use multiple very large tensors, such as around 1GB each.

[2016-07-20 16:59] bhack commented on #1592
For who is interested there is also https://arxiv.org/abs/1606.06160

[2016-07-20 17:02] ASDen opened #3420 "Running Bidirectional RNN cells on parallel"
is there any method to run Bidirectional RNNs on parallel as they should (they have no dependency on each other)
I noticed that stacking 2 LSTM layer has the exact same performance as bidirection LSTM (BLSTM)
even 4 stacked LSTM has same performance as 2 parallel BLSTMs (which simply means  that TF runtime doesn't parallelize BLSTMs at all, I also notice the same behavior on both the CPU and the G

[2016-07-20 17:04] ilblackdragon commented on #3370
@gideonite That would be great. I think @zhangyaobit was planning to work on tests for some of the examples, but contributions definitely will be welcome.

[2016-07-20 17:09] ppwwyyxx commented on #1592
Thanks @bhack for mentioning. We have a DoReFa-Net training implementation available [here](https://github.com/ppwwyyxx/tensorpack/tree/master/examples/DoReFa-Net), which doesn't make use of any custom Op. Since DoReFa-Net is a generalization of XNOR-Net, XNOR-Net can be built in TF in a similar manner, if it is only for training purpose. I'm also releasing a trainable DoReLa(1,2,6)-AlexNet later

[2016-07-20 17:11] bhack commented on #1592
@ppwwyyxx Nice! /cc @wangyida

[2016-07-20 17:11] llealgt commented on #3340
Thank you guys! This answers will help me on my current task. Greetings!

[2016-07-20 17:13] sunilraiyani opened #3421 "Scope Reusability in tf.nn.dynamic_rnn"
I am getting this error when I try to run the code for RNN:

ValueError: Variable RNN/MultiRNNCell/Cell0/BasicLSTMCell/Linear/Matrix does not exist, disallowed. Did you mean to set reuse=None in VarScope?

Here is a snippet of my code for RNN:

lstm_cell = tf.nn.rnn_cell.BasicLSTMCell(self._num_hidden, forget_bias=0.0)
cell = tf.nn.rnn_cell.MultiRNNCell([lstm_cell] * self._num_layers)
self._initia

[2016-07-20 17:30] psnegi opened #3422 "CUDA_ERROR_ILLEGAL_ADDRESS on GTX 1080"
On training a model on cifar 10 I am getting following error after couple of epochs.

 tensorflow/stream_executor/cuda/cuda_driver.cc:1140] could not synchronize on CUDA context: CUDA_ERROR_ILLEGAL_ADDRESS :: No stack trace availablech: 034 | loss: 0.21259 - acc: 0.9223 -- iter: 08128/50000
F tensorflow/core/common_runtime/gpu/gpu_util.cc:370] GPU sync failed
Aborted (core dumped)

### Environment

[2016-07-20 17:58] satok16 commented on #3309
Currently, tensorflow/contrib/makefile/download_dependencies.sh doesn't work due to the change on eigen.BUILD(https://github.com/tensorflow/tensorflow/pull/3288) and can't try reproducing the issue.  Trying to fix it first.

[2016-07-20 18:00] zhangyaobit commented on #3370
Yes, I actually added the "first step" to run code regularly :)
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/skflow/examples_test.sh

This list only covers about half of the examples in examples/skflow though. I have moved to and are currently occupied by other projects, so contributions are welcome to add other examples!

[2016-07-20 19:03] andreesteva commented on #3352
I'm seeing this exact issue when attempting to run a fine-tuned Inception v3 network. Also tried quantizing and ran into the same issue.

Please note I am working with commit #3382 since the latest commit (#3288) results in the following error:
+ curl https://bitbucket.org/eigen/eigen/get/.tar.gz -o /tmp/eigen-.tar.gz
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current

[2016-07-20 20:24] bcaine commented on #1793
@mwalton Not sure if you've made any progress on this, but I believe the correct change would be the following:

[code]

Seems to be working on a model I'm training. Haven't had time to write tests for it yet, nor do I know how/what tests are needed for registering an existing op (that appears to have **some** test coverage, see https://github.com/tensorflow/tensorflow/blob/master/tensorflow/pytho

[2016-07-20 20:28] girving commented on #1793
@bcaine Awesome!  Tests for gradients are pretty easy: just use `tf.test.compute_gradient_error` and verify that the error is small (1e-4 or 1e-3, typically, due to numerical differences).  You can look at other `compute_gradient_error` examples and mimic.

[2016-07-20 21:16] ushnish opened #3426 "How to get the last timestep of the output of an RNN?"
Just a general question which might also help others, namely what is the correct way to extract the last timestep of the output of an RNN. Is it as simple as

`outputs, state = tf.nn.dynamic_rnn(cell=dropout_cell, inputs=outputs1, initial_state=initial_state, sequence_length=s)`
`last = tf.gather(outputs, int(outputs.get_shape()[0]) - 1)`

Or should i transpose the output before performing gather,

[2016-07-20 21:23] apcode opened #3427 "Failing dependency downloads in latest"
### Environment info
Operating System: OSX El Capitan
Latest pull on 20th July 2016: c5983f87f0402f2cb8c627807917ebdf8e4d4bb6

Run: tensorflow/contrib/makefile/download_dependencies.sh

Failing output:
+ DOWNLOADS_DIR=tensorflow/contrib/makefile/downloads
+ mkdir tensorflow/contrib/makefile/downloads
++ cat eigen.BUILD
++ grep archive_dir
++ head -1
++ cut -f3 -d-
++ cut -f1 '-d"'
+ EIGEN_HASH=
+

[2016-07-20 21:32] apcode commented on #3427
As shown in the output:

The download_dependencies.sh tries to grep the eigen hash from the eigen.BUILD file by finding the archive_dir. But there is no archive_dir in eigen.BUILD so it finds nothing.

[2016-07-20 22:03] satok16 commented on #3309
The fix for download_dependencies.sh is here.
https://github.com/tensorflow/tensorflow/pull/3428#issue-166690786

[2016-07-20 22:12] terrytangyuan commented on #3370
@zhangyaobit Awesome!

[2016-07-20 22:12] chunhuizhusc opened #3429 "[Python][Quantized Inference] 'Zero is not representable' when doing inference from quantized const graph def"
I used the checkpoint file and the graph def file to generate the const graph def file using the freeze_graph script. Then I used the quantize_graph tool to generate a quantized model. The output file sizes from these steps seem reasonable. But I failed to run a inference using the generated quantized model.

Tried both tensorflow 0.8.0 and 0.9.0, they both failed but with different errors though.

[2016-07-20 22:13] chunhuizhusc commented on #3429
@petewarden

[2016-07-20 22:38] concretevitamin commented on #3371
Marking as community support.

[2016-07-20 22:41] concretevitamin commented on #3386
@vrv: who is the point of contact of `os_setup.md`?

[2016-07-20 22:45] vrv commented on #3386
there is no point of contact per-se, anyone can send a PR to add information there if it is suitably generic for an important class of systems that we support

[2016-07-20 22:46] concretevitamin commented on #3388
I cannot reproduce this on Ubuntu or my local Mac laptop -- both run fine, with or without the `quit()` line.  FYI, Linux Mint is not officially supported, so I'm marking this as community support.

[2016-07-20 22:47] yaroslavvb commented on #3386
Related issue #2897

[2016-07-20 23:05] concretevitamin commented on #3397
The call stack is as such: `tf.nn.moments()` calls `sufficient_statistics()`, which contains [this part](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/nn.py#L695):

[code]

Since the shape contains `None` the else branch is taken.  Lastly, the `SparseToDense` op only has a CPU kernel, not a GPU one.  Hence the failure.

Possible fixes:
- Somehow change the `tf.nn.momen

[2016-07-20 23:06] concretevitamin commented on #3397
/cc @vincentvanhoucke

[2016-07-20 23:06] gaphex opened #3430 "Ignoring gpu device with Cuda multiprocessor count: 7."
I am unable to run TF on a GPU, despite the fact that I have 2 CUDA-enabled K4200 NVIDIA QUATTRO (Compute Capability 3.0)

### Environment info
Operating System: linux 14.04 x64

Installed version of CUDA and cuDNN:
1. CUDA 7.5
2. cuDNN 4

If installed from binary pip package, provide:

1. Ubuntu/Linux 64-bit, GPU enabled, Python 2.7
2. TF v0.9.0

### Steps to reproduce
1. Run IPython Notebook
2.

[2016-07-20 23:07] concretevitamin commented on #3426
This is best suited for StackOverflow, as it is not a bug nor feature request.

[2016-07-20 23:07] #3426 closed

[2016-07-20 23:08] concretevitamin commented on #3406
This is best suited for StackOverflow, as it is not a bug nor feature request.

[2016-07-20 23:08] #3406 closed

[2016-07-20 23:18] concretevitamin commented on #3418
Please complete environment information, steps you took, etc.  See #3366 as an example, thanks.

[2016-07-20 23:18] #3418 closed

[2016-07-20 23:24] concretevitamin commented on #3392
@zheng-xq: are you the right person to ping?  Thanks.

[2016-07-20 23:27] concretevitamin commented on #3420
Could you provide your reproducible code snippet?

[2016-07-20 23:51] concretevitamin commented on #3421
Can you paste a complete snippet program the reliably reproduces?  Might be some outside scope that wraps the lines you pasted.

[2016-07-20 23:52] newcoder commented on #452
experiencing same issue with bazel 0.3.0:

ERROR: /home/ray/tensorflow/tensorflow/tensorboard/bower/BUILD:5:1: no such package '@paper_radio_group//': Error cloning repository: https://github.com/polymerelements/paper-radio-group.git: cannot open git-upload-pack caused by https://github.com/polymerelements/paper-radio-group.git: cannot open git-upload-pack caused by Connection reset and referenced

[2016-07-20 23:57] vincentvanhoucke commented on #3397
Yes, it's a known wrinkle, that would only be properly solved with a dedicated op or a GPU implementation of `sparse_to_dense`. In practice, there should be no good reason to want to enforce a hard placement of all the ops on GPU though. With soft placement, you may let the graph mostly run on GPU and back off to CPU only for this one op without a GPU equivalent.

[2016-07-21 00:11] exowanderer commented on #2143
For updated information, I had the exact same problem specified above. Following instructions from @Froskekongen, I was able to edit the CROSSTOOL file only and proceed with the instructions on https://www.tensorflow.org/versions/r0.9/get_started/os_setup.html#installing-from-sources

There was one exception to the instructions, I had to edit the file twice.  There are 2 instances of ```cxx_flag:

[2016-07-21 00:47] yaroslavvb opened #3431 "Getting "missing dependency declarations" with bazel 0.3.0"
I just upgraded Bazel/synced and now I'm getting same errors as in #1157

[code]

[2016-07-21 00:52] lecterquadpartisan commented on #3418
Environment info

Bazel 0.3.0

Operating System: Ubuntu 16.04
Installed version of CUDA and cuDNN: CUDA 8.0, cuDNN 5

Ran this step :
bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package

[2016-07-21 00:56] lecterquadpartisan commented on #3418
Repository used :
git clone https://github.com/tensorflow/tensorflow

[2016-07-21 01:14] yaroslavvb commented on #3418
may need to run with `--verbose_failures` to see what the actual error message was

[2016-07-21 01:18] concretevitamin commented on #3418
Yep.  Also, CUDA 8.0 may not be fully supported yet.  Try 7.5?

[2016-07-21 01:21] concretevitamin commented on #3373
This requires large changes/re-designs.  I am not sure if we will get to it in the short term, so I'm marking as contributions welcome.

(Workaround for your issue, of course, is to use `tf.zeros()`.  Although I suspect you don't just want to initialize with zeros?)

[2016-07-21 01:25] yaroslavvb commented on #3431
Work-around from #1157 seems to work

add
`cxx_builtin_include_directory: "/usr/local/cuda-8.0/include"`
to
`third_party/gpus/crosstool/CROSSTOOL`

[2016-07-21 01:26] isabel-schwende commented on #1592
Thanks for sharing everyone. But as I understood the DoReFa implementation so far, it still uses the standard 32 bit tensors. I've been thinking about ways to use the official TensorFlow quantization methods to reduce the memory at least to a quarter. The 8-bit datatype is available. Of course the question would be how to use it with the least hassle.

[2016-07-21 01:27] yaroslavvb commented on #3373
@concretevitamin does `tf.zeros` use some kind of compact representation?

[2016-07-21 01:37] dstu commented on #3369
I'm also running into this problem, after having followed the instructions for installing TensorFlow via pip on www.tensorflow.org, under Python 3.5.2 in Debian unstable. Here's what `dir(tf)` says after I `import tensorflow as tf`:

`['__doc__', '__loader__', '__name__', '__package__', '__path__', '__spec__']`

`help(tf)` is similarly unhelpful, giving some simple boilerplate and nothing else.

[2016-07-21 01:47] bgenchel opened #3432 "missing 'train' module"
trying to follow this document: https://www.tensorflow.org/versions/r0.9/how_tos/distributed/index.html

can't import tf.train because train doesn't exist.

i looked through the repo; it appears that's a correct appraisal. TF does not have a train package.

??

[2016-07-21 01:48] concretevitamin commented on #3369
I just tried to follow the Anaconda 64-bit Python 3.4 on my Ubuntu, and it worked fine.  One thing to check: if you used `sudo` in the installation process, directly launching `python3` might fail to find tensorflow; instead try `sudo python3`.

Did you use the GPU version or CPU-only version?

[2016-07-21 01:50] concretevitamin commented on #3389
StackOverflow is a better venue.  One key thing to note is that `Tensor` is simply a **symbolic** object.  The values of your `feed_dict` are the **actual** values, e.g. a Numpy ndarry.

[2016-07-21 01:50] #3389 closed

[2016-07-21 01:53] concretevitamin commented on #3393
For the original environment: can you confirm that the issue is still there in a non-virtual machine?

[2016-07-21 01:55] concretevitamin commented on #3411
Two notes:

1. You said "install from source".  What version/commit?
2. CentOS 7 and above are supported.  Please try to use one of those versions.

[2016-07-21 01:55] #3411 closed

[2016-07-21 01:56] concretevitamin commented on #3394
Sounds like a usage issue.  Nonetheless, StackOverflow is a better venue.

[2016-07-21 01:56] #3394 closed

[2016-07-21 01:58] #3400 closed

[2016-07-21 02:00] Wangyida commented on #1592
In my perspective of view. released pipeline of DeRoFa is still float, and quantization module in TF could have a 8 bit representation with little performance drop, but this won't be the aim of DeRoFa which is already a quantized model just in a float representation of codes.

[2016-07-21 02:06] dstu commented on #3369
`sudo python3` gives me a full tensorflow module. See my edit about RE the CPU version vs. the GPU version.

It looks like `/usr/local/lib/python3.5/dist-packages/tensorflow/` is set `drwxr-S---` for some bizarre reason. This might not be a problem with your packaging; if I install another third-party module (like flask) using `pip3 install`, I also have problems viewing its contents as a non-root

[2016-07-21 02:08] dstu commented on #3369
Actually, as per http://caligari.treboada.net/2014/09/23/python-pip-and-the-staff-group/, it should be sufficient to add your user to the group `staff` and then install with `pip/pip3 install` (rather than `sudo pip/pip3`).

[2016-07-21 02:16] isabel-schwende commented on #1592
@Wangyida Yes, I agree that it seems that the intention of the authors of DoReFa was mostly to reduce training and inference time by using low bitwidth. I don't expect them to release an 8bit version. However they also mention in their paper the idea to use this kind of network on embedded devices. If you want to use AlexNet on a very small device, I don't see the reason to use 32 bit floats if th

[2016-07-21 02:57] xuchenCN commented on #1824
LGTM +1  that's good utils to trace flow states,hope someone write tutorial to description this 👍

[2016-07-21 03:00] ppwwyyxx commented on #1592
@isabel-schwende Yes the released implementation uses float32 to __hold__ low-bitwidth numbers, because there is simply no low-bitwidth operations available in TF. And we never planned to build such operations into TF because we already have our own run-time implementations working smoothly on ARM.
The released model is similar: it uses tf.float32 to hold all the binary weights as well as run all

[2016-07-21 03:14] lightcatcher commented on #3373
@concretevitamin Correct, I don't want to initialize with zeros.
Is there any way to do a partial assign? This would allow multiple assigns into a single large (GPU memory sized) variable.
If there's no partial assign, the only work around seems to be to use multiple variables (which makes the model code uglier).

[2016-07-21 03:28] xsj0jsx commented on #3261
I have sovled this problem by add `linker_flag: "-Wl,-rpath,you-local-gcc-lib-path"` to the `toolchain`section with `host_system_name: "local"` in the `third_party/gpus/crosstool/CROSSTOOL` file .

This problem is caused by `exec env -` ,which clear LD_LIBRARY_PATH, resulted protoc can't find you gcc lib

[2016-07-21 03:44] annisamansa commented on #3411
sorry for forgetting it...
commit fc9162975e52978d3af38549b570cc3cc5f0ab66

is that still because of centos version?

[2016-07-21 03:57] concretevitamin commented on #3411
I don't know, unfortunately.  Please try to test against a newer version (>= 7).

[2016-07-21 04:45] annisamansa commented on #3411
[code]

[2016-07-21 05:01] yaroslavvb opened #3435 "Segmentation fault in Diagnostician on MacOS"
I get segmentation fault on MacOS on creating new session if GPU is unavailable (ie, through `export CUDA_VISIBLE_DEVICES=`)

It's due to this [line](https://github.com/tensorflow/tensorflow/blob/d42facc3cc9611f0c9722c81551a7404a0bd3f6b/tensorflow/stream_executor/cuda/cuda_diagnostics.cc#L319)

[code]
`version` is a NULL, which causes SEGSERV during conversion to string.

Documentation for `CFStri

[2016-07-21 05:29] evolu8 commented on #1796
I'm struggling to server a 'fine tuned' retrained inceptions model. After retraining on just two classes I get an error when trying to export:

`  File "/home/ubuntu/serving/bazel-bin/tensorflow_serving/example/inception_export.runfiles/org_tensorflow/tensorflow/python/clie
nt/session.py", line 743, in _do_call
    raise type(e)(node_def, op, message)
tensorflow.python.framework.errors.InvalidArgu

[2016-07-21 05:41] evolu8 opened #3436 "serving tretrained inception model with different number of lables to initial training"
I'm struggling to serve a 'fine tuned' retrained inceptions model. After retraining on just two classes/labels. I get an error when trying to export to model:

File "/home/ubuntu/serving/bazel-bin/tensorflow_serving/example/inception_export.runfiles/org_tensorflow/tensorflow/python/clie nt/session.py", line 743, in _do_call raise type(e)(node_def, op, message) tensorflow.python.framework.errors.In

[2016-07-21 05:50] zheng-xq commented on #3373
@lightcatcher, you can try tf.scatter_update and see if you can have better luck there.

[2016-07-21 06:03] zheng-xq commented on #3392
I agree that this check is not completely necessary at this point. However, both the forward/ backward and CPU/GPU in a number of use cases are affected by potential relaxing of this restriction. Some code paths may not work. We need to check them extensively before relaxing it.

[2016-07-21 06:13] KangBing commented on #3407
I update numpy to 1.11, then the error disappear.

[2016-07-21 06:13] #3407 closed

[2016-07-21 06:32] gclouding opened #3437 "google/protobuf/any.proto: File not found"
### Environment info
Operating System: ubuntu14.04

I have install java8 and the latest version of bazel ([bazel release 0.3.0-2016-07-21 (@2e1dbd7)]) pulled from github. After then, I pulled the tensorflow.igt using the command: git clone --recurse-submodules https://github.com/tensorflow/tensorflow.

Then, I intended to install tensorflow following the steps:
1) Install java8.
2) Install bazel (

[2016-07-21 07:01] isabeaups commented on #3311
I'm not sure I understand your explanation completely, but the workaround works and is good enough for my purposes. Thank you!

[2016-07-21 07:01] chenbiaolong commented on #1924
@ilaripih great useful script. I am able to build the project.But I still can't use opencv read image... Maybe I made some mistakes I did't find out yet.It seems that if I include some `tensorflow` header and link the `libtensorflow_cc.so`, `cv::imread` will fail to read images(just return an empty `Mat`).The `opencv` 's other functions seem work well.For now, I use `tensorflow` decode the image,

[2016-07-21 07:04] concretevitamin commented on #3408
Does `pip install mock` help?  We started requiring this package on this [commit](https://github.com/tensorflow/tensorflow/commit/f72242bfce6f3976d433d051f6316a135d05b811).

[2016-07-21 07:07] concretevitamin commented on #3410
Sorry, I don't understand the issue.

Seeing this does not sound like a bug nor a feature request, please redirect the discussion to the [mailing list](https://groups.google.com/a/tensorflow.org/d/forum/discuss) or to StackOverflow.

[2016-07-21 07:07] #3410 closed

[2016-07-21 07:10] concretevitamin commented on #3413
Not that I know of.  @gcorrado: Greg, do we have any?  Thanks.

[2016-07-21 07:12] concretevitamin commented on #3422
Could you check two things:

1. Try with CUDA 7.5, which is best supported.
2. Try with a smaller model footprint.  2 * ~50% seems to imply difficulty from memory pressure: we'd need to eliminate this from the root causes.

[2016-07-21 07:27] ppwwyyxx commented on #1592
I totally agree and the code we released was never intended for running on mobiles, but for showing how to train such networks in tensorflow, as a supplementary material and proof of the paper.

I can certainly compress our models to about 30x smaller because they are essentially binary, and maybe use tf.quint8 for computation. But that doesn't make sense to me, because I think anyone who really w

[2016-07-21 07:31] osdf commented on #3397
Thank you for the replies. Out of curiosity, would the performance hit of going down to cpu and up again be negligible? The ```tf.nn.moments``` is used in a BatchNorm layer in this case, so with ResNets, many of this transfers would happen. Or is using ```None``` in the batchsize itself having already such a negative effect (e.g. because some optimizations can't be realized offline) that this copy

[2016-07-21 08:13] damienmg commented on #3261
@martinwicke @philwo recently added the LD_LIBRARY_PATH to the list of environment passed when using the default shell env (which the action might not, this is an option in genrule / skylark action). This should be fixed with Bazel at HEAD.

Also we have a more general principle approach to that, see http://www.bazel.io/docs/designs/2016/06/21/environment.html

So this is a problem in Bazel, and w

[2016-07-21 08:19] Ape commented on #3308
Seems that `-Os` does decrease the binary size to 112 MB, but it's still like 100 times larger than it could be.

[2016-07-21 08:36] AlvinChen13 opened #3438 "Discussion: A possible Profiling method for TensorFlow"
Goals:
1. Get the timing run on CPU & GPU.
2. Get the timing for each OP (run on GPU or CPU) or a serial of OPs.

Identify the performance bottlenecks to do the optimization.

I just review some code for TF, and I find it should be possible to add some profiling code in tensorflow/core or tensorflow/stream_executor.

How about the idea? Any comments?

[2016-07-21 08:41] ilaripih commented on #1924
@chenbiaolong What does your `cc_binary` section for `libtensorflow_cc.so` look like? Did you add the version script to the linkopts?

[2016-07-21 08:43] dbikard commented on #3394
Thanks, removing logdir from fit() worked, and I was able to launch tensorboard. I was mislead by the usage reported here: http://terrytangyuan.github.io/2016/03/14/scikit-flow-intro/

[2016-07-21 08:48] k3nnywilliam commented on #3369
Since I'm using OSX, the binary provided is CPU-only therefore I'm not having any problem with GPU vs CPU version.

Ok, so far I got python 3.5 working by installing TF via pip. Which means it has something to do with the conda package manager maybe...? It works with python 2.7 so I'm not sure. Tried sudo python3, nothing worked.

[2016-07-21 08:56] Brill-Wang commented on #92
+1 for java

[2016-07-21 09:47] dbikard opened #3439 ""tensorflow: Input iterator is exhausted" when passing numpy arrays in validation monitor"
I'm not sure if this is a bug or whether I just don't understand the usage of monitors (in which case I apologize for posting here). I'm trying to use a validation monitor by passing my validation set as numpy array.

[code]
(X_val and Y_val are numpy arrays)

The code runs but only the first validation step is done properly, then I get the following message in the logs:
`INFO:tensorflow:Input ite

[2016-07-21 09:54] Gandor26 commented on #3393
Hello there, I have a try on another virtual machine today and make it this time (a little slow though...).

CentOS7(x86_64)
gcc-4.8.5
python 3.5.2
no GPU option

    bazel-bin/tensorflow/tools/pip_package/build_pip_package

So I guess it's an issue related to 32bit arch......

[2016-07-21 10:01] jplu commented on #2703
Hello,

I have tested with the commit fefe52c that contains the fix proposed by @plutoshe. Unfortunately the issue still remains :(

[code]

Don't hesitate to ask me if you need other information to help you to debug.

[2016-07-21 10:06] Ape commented on #3308
Thanks for the help. I needed to include all these:

[code]

Compiling and running my programs work now. You might want to add documentation and research if there are better solutions than requiring `--whole-archive`.

[2016-07-21 10:29] ASDen commented on #3420
This is somewhat lengthy, as I take the chance to also demonstrate a speed problem with dynamic_rnn when specifying sequence_length
[code]

when running on GTX 960, you get (i record Utilization from nvidia-setting)
stacked_lstm              : 14.11s     GPU Util:69%
stacked_lstm_no_sql : 10.49s     GPU Util:79%
bi_lstm              : 16.15s     GPU Util:65%
bi_lstm_no_sql  : 11.54s     GPU Util:7

[2016-07-21 10:31] chenbiaolong commented on #1924
@ilaripih
[code]
I use `copts ` instead of `linkopts` because when I use `linkopts` I got an error `gcc: error: unrecognized command line option '--version-script=tensorflow/tf_version_script.lds'`
I `bazal clean` before build the `tensorflow.so`,but still no make any different.

[2016-07-21 10:55] isabel-schwende commented on #1592
@ppwwyyxx Thanks a lot for your answer. I definitely agree. For that reason I started with the quantization available by TensorFlow. It seems like using it for inference is currently very slow. As several others have described here https://github.com/tensorflow/tensorflow/issues/2807 the memory might be much lower for saving the model but inference time is approximately doubled, which is undesirab

[2016-07-21 11:01] krayush07 opened #3440 "How to modify the seq2seq cost function for padded vectors?"
Tensorflow supports dynamic length sequence by use of the parameter: `sequence_length` while constructing the RNN layer, wherein the model does not learn the sequence after the sequence size = 'sequence_length' i.e, returns zero vector.

However, how can the cost function at https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/seq2seq.py#L890 be modified to encounter the mask

[2016-07-21 11:42] MingStar commented on #1325
+1, got the same problem symptom as @mlinxiang

[2016-07-21 12:11] Robin-des-Bois commented on #1820
Maybe this helps someone:
For me, It still does not work on OS X using clang (7.3.0) but it works on CentOS 6 using GCC (4.8.2 and 4.9.2).

[2016-07-21 12:45] tvogels opened #3441 "Documentation for 'Adding a new op'"
This is a feature request. Currently, I find the documentation for 'Adding an Op' quite minimal. There are a few important questions that remain unanswered:
- How should one use multithreaded CPU code in an operation? Can we use OpenMP? How many threads should an op use? It is hard to find this in the implementations of existing ops, because they are all based on _Eigen_.
- How should a GPU versio

[2016-07-21 13:34] gclouding commented on #3437
After I downloaded the dependencies manually, the previous errors were passed. However, I got the following errors:

WARNING: ../tensorflow/util/python/BUILD:11:16: in includes attribute of cc_library rule //util/python:python_headers: 'python_include' resolves to 'util/python/python_include' not in 'third_party'. This will be an error in the future.
ERROR: /home/dl/.cache/bazel/_bazel_dl/647b15c3

[2016-07-21 13:48] ilaripih commented on #1924
@chenbiaolong `copts` is only used when compiling; you need to use the linker script with the linker so it really needs to be in `linkopts`. Maybe you can't have a space between `-Wl,` and `--version-script...`

[2016-07-21 14:04] mukul1992 commented on #1870
A polite reminder to all participants. Kindly do share the solution to this issue if you found one.

I tried using `--action_env` but to no avail (http://www.bazel.io/docs/designs/2016/06/21/environment.html)

[2016-07-21 14:08] launch81 opened #3442 "Error malloc(): memory corruption"
Hi All

### Environment info
OS: Linux raspberrypi 4.4.11-v7+ #888 SMP Mon May 23 20:10:33 BST 2016 armv7l GNU/Linux
Device: Raspberry PI 3

Installed version of CUDA and cuDNN: N/A

Tensorflow installed from source:
git clone --recurse-submodules https://github.com/tensorflow/tensorflow
commit c5983f87f0402f2cb8c627807917ebdf8e4d4bb6

### Steps to reproduce
1.   `make -f tensorflow/contrib/makefi

[2016-07-21 14:22] vincentvanhoucke commented on #3397
This op operates on four floats. There should be no impact at all.

[2016-07-21 14:44] chenbiaolong commented on #1924
@ilaripih wow,finally solve my problem! you are right, I should delete the space between `Wl` and `--version-script` .A stupid mistake... Thank you for your patience.

[2016-07-21 15:09] slowbull commented on #1157
@ZiangYan  cxx_builtin_include_directory: "/usr/local/cuda-7.5/include" works for me too!

[2016-07-21 15:13] vishnudevk opened #3443 "step_stats.pb.h and types.pb.h missing"
These two files are missing in the repo.
core/framework/step_stats.pb.h
core/framework/types.pb.h

Compilation of tensorflow_jni.cc is failing due to this.
Is it due to any issue?

[2016-07-21 15:19] kskp commented on #110
@rdipietro Hi, I have tried everything you gave here- changed the CROSSTOOL files and everything but it does not work. I started fresh again and believe I have bazel working. Can you please look at my description [here](https://github.com/tensorflow/models/issues/276) and suggest something. Thanks a lot!

[2016-07-21 15:27] vishnudevk opened #3444 "Is it possible to import the project int android Studio and compile using NDK?"
I was trying to import the project into android studio and work on it.
Getting lot of compilation issues on jni compilation.
Is it possible to do that?
Any constraints we have ?

[2016-07-21 15:32] petewarden commented on #1592
The current slow speed of quantization is due to reference implementations for some of the ops, which we're actively working on optimizing. The goal is that quantization should be faster than float.

[2016-07-21 15:33] rdipietro commented on #110
I really don't know what to suggest. Other than perhaps asking TensorFlow
to build binaries for CentOS 6.7. I think this would save a lot of people a
lot of trouble and would repeatedly save all this trouble each new release,
but I don't know if they're willing to do it.

On Thu, Jul 21, 2016 at 11:21 AM, kskp <notifications@github.com> wrote:

[2016-07-21 15:39] #3443 closed

[2016-07-21 15:40] vishnudevk opened #3445 "Where to download updated apks from the jenkin builds"
where to get the artifacts from daily builds?
http://ci.tensorflow.org/job/tensorflow-master-android/

[2016-07-21 15:48] lightcatcher commented on #3373
@yaroslavvb @concretevitamin Initializing a >50% GPU memory size array from ``tf.zeros`` does not work either.

@zheng-xq Assuming a reasonable implementation of scatter_update, that would work if any type of initialization worked (or if there wasn't an error thrown while trying to use an uninitialized variable).

The following is my attempt to use tf.zeros and scatter_update. If I comment out the

[2016-07-21 15:51] kskp commented on #110
Sorry, but didn't you mention you had tensorflow running on centos 6.7 and gcc 4.8.2? Were you able to run Syntaxnet also? I am stuck with the Centos 6.6 cluster and need to get Syntaxnet running on this. It works fine on Centos 7.

[2016-07-21 16:15] tetmin commented on #3379
Loading into numpy doesn't work since I need out-of-core support, it seems the only way to achieve this now without IO/CPU blocking training is to convert to a TFRecord, is that correct?

[2016-07-21 16:36] Tugees opened #3446 "iOS example with Image Retraining model always gives the same prediction"
## Environment info

Running on: iOS 9.1
Building on OS X El Capitan version 10.11, Xcode version 7.3.1
TensorFlow release 0.9

## Steps to reproduce

Follow the contrib/makefile/README to install the tensorflow iOS core lib
Create my own model with the Image Retraining tutorial
Run the iOS example, same error as #2883 is logged.
After fixing errors as suggested same prediction is always given.
Lo

[2016-07-21 16:50] ilblackdragon commented on #3008
To save and restore model just pass the same `model_dir` into Estimator.

For example:
[code]

[2016-07-21 17:07] johann-petrak commented on #3321
Same problem on Ubuntu 16.04 when installing TensorFlow tensorflow-0.9.0  with CUDA (17.5) support according to the instructions at the website. Installation for Ubuntu Linux 16.04 64 bit, Anaconda2 64 bit.

In python, import tensorflow works:
[code]

But with ipython tensorflow is not known:
[code]

[2016-07-21 17:13] aselle commented on #3114
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-21 17:13] #3114 closed

[2016-07-21 17:13] aselle commented on #2384
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-21 17:13] #2384 closed

[2016-07-21 17:30] andrewharp commented on #3444
Hi, I've just given this a whirl and managed to successfully open the Android Tensorflow Demo under Android Studio and build it from there. You'll still need Bazel for building the native libs, but you'll be able to get full Java support through Android Studio.

Some of these steps are shared with
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/README.md, so feel f

[2016-07-21 17:39] #2648 closed

[2016-07-21 17:41] concretevitamin commented on #3438
Take a look at #1824?  The StepStats and timeline functionalities that we open-sourced a while ago should address these two goals.

Feel free to re-open if there's something missing.

[2016-07-21 17:41] #3438 closed

[2016-07-21 17:43] johann-petrak commented on #3321
The solution is simple: when the tensorflow environment is activated, i.e. after running `source activate tensorflow`, ipython needs to get installed (again? specifically for that environment?) using `conda install ipython`. After this, importing tensorflow in ipython works just fine.

[2016-07-21 18:13] jboero commented on #22
Great to read this is being worked on. It would help if Beignet 2.0 were polished. Lots of potential with Skylake and Iris right now.

[2016-07-21 18:28] andrewharp commented on #220
Instructions for building the Android demo APK with Android Studio (Bazel still required for native libs): https://github.com/tensorflow/tensorflow/issues/3444

[2016-07-21 18:32] martinwicke commented on #3261
Thanks @damienmg. I'll close this issue, and we should revisit it when the fix in bazel hits a release.

[2016-07-21 18:32] #3261 closed

[2016-07-21 18:40] shekkizh opened #3449 "IPython Notebook kernel dies when importing tensorflow"
### Environment info
Operating System: nvidia-docker (Docker version 1.11.2, build b9f10c9)
Tensorflow version 0.8.0

### Steps to reproduce
1. Run ipyhton notebook from nvidia-docker
2. import tensorflow
3. Kernel dies with Kernel Restarting dialog and message "The kernel appears to have died. It will restart automatically"
4. importing numpy package before importing tensorflow solves the issue.

[2016-07-21 18:50] damienstanton commented on #10
@Mistobaan see new PR for the same ☝️

[2016-07-21 19:42] yaroslavvb commented on #3449
There was a similar crash fixed in 0.9
https://github.com/tensorflow/tensorflow/pull/2173#event-646602065

[2016-07-21 20:08] tomrunia commented on #3379
@tetmin: you can use QueueRunners, see: http://stackoverflow.com/questions/34594198/how-to-prefetch-data-using-a-custom-python-function-in-tensorflow

[2016-07-21 20:16] kivijoshi opened #3451 "retrain.py validation and testing evaluation seems incorrect"
While retrain new final layer is added which has name defined by FLAGS.final_tensor_name. Strangely while evaluating against ground truths instead of using final_tensor_name or final_matmul it still uses output of ''validation_bottlenecks'.

validation_accuracy = sess.run(
          evaluation_step,
          feed_dict={bottleneck_input: validation_bottlenecks,
                     ground_truth_in

[2016-07-21 20:33] #3427 closed

[2016-07-21 20:42] mmuneebs opened #3453 "Saver (sharded) ignores number of checkpoints to keep"
`tf.train.Saver()` has a default limit of 5 most recent checkpoints to keep (`max_to_keep=5`). When I use a Saver with `sharded=True` option, only one machine performs this check and keeps ALL the checkpoints without removing any of them.

### Environment info
Operating System: Ubuntu 14.04 LTS
Built from source; commit hash: aa2cacd6627ffb296bedc910c957a0fd4a2f957f

### Steps to reproduce
- Init

[2016-07-21 21:25] #3435 closed

[2016-07-21 21:59] iurilgit opened #3455 "Feature Request: support sparse tensor in conv2d operator"
It looks like TF doesn't support conv2d as another thread mentioned (https://github.com/tensorflow/tensorflow/issues/1604). This is critical for us since we are implementing CDSSM (from microsoft https://www.microsoft.com/en-us/research/wp-content/uploads/2016/02/www2014_cdssm_p07.pdf). Miscrosoft's library supports it and the training speed is dramatically faster than using TF. So we strongly fee

[2016-07-21 22:01] vrv commented on #3455
Is this different from #1604 ?

[2016-07-21 22:04] iurilgit commented on #3455
It is essentially the same. But that was  not reported as a feature request. I am shouting out officially to request it. :)

[2016-07-21 22:06] vrv commented on #3455
I will retitle that one.

[2016-07-21 22:06] #3455 closed

[2016-07-21 22:09] iurilgit commented on #3455
That works too. Thanks!

[2016-07-21 22:55] diegoAtAlpine commented on #1122
@nmhkahn @pawni thanks for the code snippets. They were very useful in adding batch normalization to my convolution network.  Training seems to work very well. Testing is not.  In some versions of the code training accuracies are much higher than testing accuracies, which probably mean I am not sharing batch normalization parameters.  In other versions of the code I get "ValueError: Variable conv1

[2016-07-22 01:50] concretevitamin commented on #3369
Looks like it has been workaround-ed.  Closing for now.

[2016-07-22 01:50] #3369 closed

[2016-07-22 01:52] concretevitamin commented on #3432
Please *do* fill in the issue template to include more info.

`tf.train` should work and many people run the classes in it regularly.

[2016-07-22 01:54] concretevitamin commented on #3431
Good to know it can be made to work, @yaroslavvb thanks for persisting the workaround.

[2016-07-22 01:54] #3431 closed

[2016-07-22 01:57] concretevitamin commented on #3437
@martinwicke can you take a look at the Bazel issue?  Thanks.

[2016-07-22 01:58] #3393 closed

[2016-07-22 02:04] martinwicke commented on #3437
Are you sure you have the correct version of protobuf? It's sadly very specific: 3.0.0b2.

[2016-07-22 02:28] chivee commented on #1203
@Qwlouse it works! thank you so much.

[2016-07-22 02:30] alvations commented on #2685
Possibly some repackaging needs to be done because currently importing using namespaces returns `ImportError`:

[code]

Is there an existing issue to allow namespaces in tensorflow?

[2016-07-22 02:35] yaroslavvb commented on #3431
Weird that you guys aren't hitting this issue on the nightly wheels, unless the nightlies are done with newer Bazel than 0.3.0

[2016-07-22 02:59] gclouding commented on #3437
I downloaded this version of protobuf ------ https://github.com/google/protobuf/archive/v3.0.0-beta-2.tar.gz
And execute "bazel clean --expunge", and then use bazel to build tensorflow agian. However, different errors occured:

`ERROR: /home/dl/.cache/bazel/_bazel_dl/647b15c3637d5190d4f70d81e8357baf/external/protobuf/BUILD:32:5: no such variable: internal_gen_well_known_protos_java.
ERROR: /home/d

[2016-07-22 02:59] gclouding commented on #3437
@martinwicke

[2016-07-22 03:52] annisamansa commented on #3411
hooray! centos 7.x finally successful! thanks god~~~~~~~~~

[2016-07-22 04:43] concretevitamin commented on #3420
@ebrevdo: can you take a look?

@ASDen: a more accurate way to measure the running time is to wrap the results in `tf.group()`, so that the device-to-host transfer of final results is not included.

[2016-07-22 05:09] concretevitamin commented on #3430
Can you try
[code]
or
[code]

Additionally, perhaps add `--copt=-DTF_EXTRA_CUDA_CAPABILITIES=3.0`.