[2020-02-11 09:46] moniGra commented on #29674
I have similar issue with the model NOT using LSTMs - I posted it here: https://github.com/tensorflow/tensorflow/issues/35987

(with latest tf-nightly and experimental converter turned on)
`File "[...]/miniconda3/envs/tf-nightly-py3/lib/python3.7/site-packages/tensorflow_core/python/framework/convert_to_constants.py", line 526, in _convert_variables_to_constants_v2_impl raise ValueError("Cannot fi

[2020-02-11 09:46] gadagashwini commented on #36338
@vishwas1234567, Is this still an issue

[2020-02-11 09:46] Saduf2019 commented on #36508
@ARozental I ran the code on nightly ['2.2.0-dev20200210'] and on tensorflow==2.1.0, un-commenting the LSTM line as requested by you and did not face any issues,  please find the gist of 2.1.0 [here](https://colab.research.google.com/gist/Saduf2019/6e154d2e10a11bf658ce742182066fd1/latest.ipynb)

[2020-02-11 09:47] gadagashwini commented on #36402
@karapapas, Did you check @srjoglekar246's comment.

[2020-02-11 09:48] gadagashwini commented on #36420
@Panshangka, Please provide the information asked in the Template to analyze the issue.

[2020-02-11 09:52] gadagashwini commented on #36455
@Amit507017, Could you provide the standalone code to analyze the issue. Thanks

[2020-02-11 09:53] amahendrakar commented on #36621
Was able to reproduce the issue. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/ff6fff58e8904211c6c218e121bf100e/36621.ipynb). Thanks!

[2020-02-11 09:56] gadagashwini commented on #36537
Closing as it is resolved.

[2020-02-11 09:56] #36537 closed

[2020-02-11 10:02] ravikyram commented on #36612
I have tried on colab with TF version 2.1.0, 2.2.0-dev20200211 and was able to reproduce the issue. Thanks!

[2020-02-11 10:05] MonicaGu opened #36653 "Results difference after converting a tensorflow op to TfLite"
**System information**
- Have I written custom code: No
- OS Platform and Distribution: MacOS 10.15
- TensorFlow version: 2.0
- Python version: 3.6.9

**Describe the current behavior**
I converted a Tensorflow model with only one Tensorflow Keras layer _tf.keras.layers.Conv2D_ to TFLite and ran the TFLite model. There was no quantization when converting the model.

**Describe the expected behavior

[2020-02-11 10:22] ragnariock commented on #26696
same error, maybe, any update?)

[2020-02-11 10:23] Sam-Persoon commented on #36505
Single-threaded downloading the files gives the following output:
[code]

[2020-02-11 10:24] Panshangka commented on #36420
Thanks, it's solved. I'll close the issue

[2020-02-11 10:24] #36420 closed

[2020-02-11 10:26] nauyan opened #36654 "Tensorflow Lite Android Application Crashes on Inference A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x7759200000 in tid 26388 (mple.inpainting), pid 26388 (mple.inpainting)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): N/A
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Samsung A30
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): 1

[2020-02-11 10:33] NielsRogge commented on #36308
Got the same error. Can you please update the documentation of this [tutorial](https://www.tensorflow.org/tutorials/keras/text_classification). Weird thing is, this runs on TF 2.2, but not on 2.1 because of the additional required argument.

[2020-02-11 10:36] ksabr opened #36656 "Profiler doesn't work correctly in tensorflow 2.1"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): centos-release-7-6.1810.2.el7.centos.x86_64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version (

[2020-02-11 10:49] Saduf2019 commented on #36587
@Tarungarg98  Could you please share complete implementable code, so we could replicate it in our environment to see where the issue lies and help you.

[2020-02-11 10:58] cossio commented on #35754
Ease of installing is definitely a plus.

[2020-02-11 11:04] Nithraniel opened #36657 "Hello World example for STM32F746 make error"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64
- TensorFlow installed from (source or binary): pip
- Tensorflow version (commit SHA if source): 2.1.0
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): STM32F7

**Describe the problem**
I started following the guide here : https://github.com/tensorflow/tensorflow/tree

[2020-02-11 11:06] ashishmagar600 commented on #15781
Why is this not resolved yet?

[2020-02-11 11:06] amahendrakar commented on #36624
Was able to reproduce the issue. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/895c54df8a066fec5cfd7fdf27fc431a/36624.ipynb). Thanks!

[2020-02-11 11:08] ashishmagar600 commented on #15781
@ashokbugude

Yes.  Here is my code:

 #include < cstdio >
  #include "tensorflow/lite/interpreter.h"
  #include "tensorflow/lite/kernels/register.h"
  #include "tensorflow/lite/model.h"
  #include "tensorflow/lite/tools/gen_op_registration.h"

  using namespace tflite;

  int main(int argc, char* argv[]) {
  if (argc != 2) {
  fprintf(stderr, "minimal \n");
  return 1;
  }
  const char* filename

[2020-02-11 11:10] durandg12 commented on #30882
I appreciate how the new note is comprehensive @pavithrasv .

But now I don't get the purpose of `TimeDistributed` anymore, as I don't see the difference between `Dense` and `TimeDistributed(Dense)`.

[2020-02-11 11:11] Stewiejobs90 commented on #10779
You saved my life with this comment! <3

[2020-02-11 11:13] Saduf2019 commented on #36611
@daixiangzi  you please try with "GCC 7.3.1" and let us know if it helps.

[2020-02-11 11:16] Saduf2019 commented on #36609
@TaeheeJeong Could you please share the code for "freeze_graph.py" so we could help you resolve the issue

[2020-02-11 11:19] Dark-Monk commented on #36059
@nauyan Any update for this issue?

[2020-02-11 11:20] alonRozental commented on #36508
@Saduf2019 than I don't know how to replicate it on Colab, maybe it only occurs with specific hardware (ti 2080). In anyway, can you confirm that those 2 lines should do the exact same thing? if this is indeed the case we can look at the difference (that shouldn't exist) between the 2 implementations to find the bug.

[2020-02-11 11:21] #36598 closed

[2020-02-11 11:25] byronyi commented on #36626
I am working on adding TFIndexedDataset RFC for externally shuffling with dataset limit beyond memory size. Let me know your preferred use case and I will consider adding it to the RFC. Thanks!

[2020-02-11 11:25] byronyi commented on #36626
FYI @jirisima

[2020-02-11 11:30] ravikyram commented on #36344
@nmatare

I tried in colab with TF 2.0 and i am seeing `AssertionError: This should pass` and I tried in colab with TF 2.2.0-dev20200211 and i am seeing
`AttributeError: 'LSTM' object has no attribute 'could_use_cudnn`'PLease, find the gist [here](https://colab.research.google.com/gist/ravikyram/f455ca020a66d9d36d2bc60fe4fdb0b6/untitled638.ipynb).Is this the expected behavior. Thanks!

[2020-02-11 11:32] chrishmorris commented on #29877
This documentation helps a lot: https://medium.com/mostly-ai/tensorflow-records-what-they-are-and-how-to-use-them-c46bc4bbb564. It could usefully be used as the basis for a tutorial on the official TF site.

[2020-02-11 11:32] amahendrakar commented on #36637
Was able to reproduce the issue. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/b2adc534c82c405ca62b378842e531c3/36637.ipynb). Thanks!

[2020-02-11 11:33] ravikyram commented on #36485
@AIChuY
It looks like you have successfully imported Tensorflow. Can you please confirm can we close this issue.Thanks!

[2020-02-11 11:35] Saduf2019 commented on #36598
@Jyothif As the issue with installation is resolved, please create a new issue for the new error faced by you.

[2020-02-11 11:43] ravikyram commented on #36649
@jdchancellor

Can you please provide colab link or simple standalone code with proper indentation and supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-02-11 11:49] aayusharora commented on #36441
Cant package tensorflow=1.15 with Pyinstaller because of the same error.

[2020-02-11 11:57] ravikyram commented on #36614
@Kaushikudaya
What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the latest [microsoft visual c++ redistributable from here](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads).
Make sure you

[2020-02-11 12:00] JaccovG opened #36658 "generate_projects target in the tf micro makefile fails for some target architectures"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution: cygwin
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source):
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): ARC

**Describe the problem**
The generate_projects target in the tf micro makefile creates all projects, including the projects that are not valid for the given

[2020-02-11 12:02] JoaoLages commented on #36320
I'm running it on Ubuntu 18.04.1 LTS. Just regularly intalled with `pip  install tensorflow==1.14`

What I am doing now is:
[code]

[2020-02-11 12:11] daixiangzi commented on #36611
OK，thinks

---Original---
From: "Saduf2019"<notifications@github.com&gt;
Date: Tue, Feb 11, 2020 19:13 PM
To: "tensorflow/tensorflow"<tensorflow@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"daixiangzi"<543826458@qq.com&gt;;
Subject: Re: [tensorflow/tensorflow] Buid failed in redhat system.. (#36611)

@daixiangzi  you please try with "GCC 7.3.1" and let us know if it helps.

[2020-02-11 12:27] Tarungarg98 commented on #36587
def nn(x,y,x_train,x_validate,x_test,y_train,y_validate,y_test,results,output):
	K.clear_session()
	model=None
	model= Sequential()
	model.add(Dense(y, input_dim=4, activation=x))
	model.add(Dense(2, activation='linear'))
	opt = tf.keras.optimizers.Adam(lr=0.01, decay=1e-3)
	model.compile(loss='mean_squared_error', optimizer=opt,metrics=['accuracy'])
	# fit model
	print('Training :',x,y)
	log_dir=

[2020-02-11 12:28] Tarungarg98 commented on #36587
Every time I call this function I need to create a new model, but it's not creating one

[2020-02-11 12:36] Saduf2019 commented on #36651
@Jyothif  Please provide us with complete executable code for us to replicate it in our environment and help you resolve the issue.

[2020-02-11 12:49] amahendrakar commented on #36648
@ParikhKadam,
[This](https://stackoverflow.com/a/45047930) StackOverflow comment might answer your query.

[2020-02-11 13:06] Burton2000 commented on #36632
TfLiteConverterV1 had this option (using inference input/output type attributes) but these seem to have been removed in TfLiteConverterV2?

[2020-02-11 13:12] aakhundov commented on #36463
@ymodak Thank you for the answer.

I can confirm what you've written. I can also add that, even in TF 2.1, if the `build` call nested in a pair of `tf.name_scope` context managers happens within a `@tf.function`-decorated function,

[code]

 the names defined by the `tf.name_scope`s show up in the resulting variable (weight) names:

[code]

On the other hand, I cannot agree that it is normal that

[2020-02-11 13:33] Lillypucien commented on #36064
Any update on this issue?

[2020-02-11 13:40] ashishmagar600 opened #36661 "undefined reference to `tflite::DefaultErrorReporter()'"
System information:
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
TensorFlow installed from (source or binary): source
TensorFlow version (use command below): v1.4.0-19-ga52c8d9 1.4.1
Python version: 2.7.12
Bazel version (if compiling from source): 0.8.1
GCC/Compiler ve

[2020-02-11 13:50] amahendrakar commented on #36656
@ksabr,
I was able to run the code without any issues. Please find the Gist [here](https://colab.research.google.com/gist/amahendrakar/383565fa64dbb1602d3dccd2b00ce550/36656.ipynb). Thanks!

[2020-02-11 13:54] tawej commented on #36535
I've tried to install python 3.6.8 but still having the same error message. Would you recommend working with TF 2.1.0 and cuda 10.1 or not?

[2020-02-11 14:08] psyyip opened #36662 "Issue with tf.estimator.export.ServingInputReceiver()"
**System information**
- I run my project on a Jupyter Notebook on GCP
- TensorFlow version: 1.15
- Python version: 3.5.3

**Describe the current behavior**
I followed every instruction to build a serving_input_receiver_fn(). Valliappa Lakshmanan provides his solution to me but it still does not work. I believe it is not the problem of the codes but some unknown issue.

**Describe the expected beh

[2020-02-11 14:09] himanshugullaiya commented on #36622
https://www.youtube.com/watch?v=xQVOaTUm9lM&t=390s

[2020-02-11 14:09] #36622 closed

[2020-02-11 14:15] jreinauld commented on #33365
Hello,
Can anyone provide info on the matter?
Is it gonna be fixed? If no, why? Is there a timeline? Are there any blockers?
Many thanks,
- Julien

[2020-02-11 14:31] shongi-yd opened #36663 "Flatten layer behaves differently on different machine architectures for a 4 D tensor."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-02-11 14:32] shongi-yd commented on #36663
Please run the flatten layer for a 4D tensor on different versions of CUDA. It will produce different vectors with a different order of terms.

[2020-02-11 14:45] namedtoaster commented on #36607
Updating to macos 10.5 Catalina fixed my problem. Thanks for the help

[2020-02-11 14:45] #36607 closed

[2020-02-11 15:22] MarkDaoust commented on #29877
@MikeOfZen, IIUC [tf.data.Snapshot](https://github.com/tensorflow/community/pull/193) will be the fix you're looking for.

Right @jsimsa?

But yes, it looks like we could use a section on `tf.io.parse_tensor` and `tf.io.serialize_tensor` either way.

[2020-02-11 15:23] bduan007 opened #36665 "TensorFlow 2.1 import 'DLL load failed error'"
When I tried to import TensorFlow 2,1 in Anaconda environment after seeming successful installation using Aanacond Prompt, I got a 'DLL load failed error'. I tried several times from creating the virtual environment to installation tensorflow 2.1 again without success. The installation process went through fine without any error message.

Strangely, the tensorflow 2.0 works fine but not tensorflow

[2020-02-11 15:26] ParikhKadam commented on #36648
Thank you @amahendrakar

It is a lot helpful..

[2020-02-11 15:26] #36648 closed

[2020-02-11 15:26] limbuu commented on #30263
We had following set up:

Also, in our case some tensor-flow code were running in above setting while some were not. In our case, this was caused by insufficient RAM, increasing RAM size fixed the issue.

[2020-02-11 15:28] padoremu opened #36666 "Saving model with tf.keras.layers.RNN with unroll=True fails for save_format=tf"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution: Linux Ubuntu 18.04
- Mobile device if the issue happens on mobile device: -
- TensorFlow installed from: binary (tf-nightly via docker)
- TensorFlow version: GIT_VERSION = v1.12.1-23779-g96c5c8a 2.2.0-dev20200202
- Python version: 3.6.9
- Baze

[2020-02-11 15:38] jdchancellor commented on #36649
Thanks for the response.  I'll set up a colab and shoot over a link this
afternoon once I get back to my workstation.

Jon

On Tue, Feb 11, 2020, 3:44 AM ravikyram <notifications@github.com> wrote:

[2020-02-11 15:40] RichardYang40148 commented on #36474
Gotcha, thanks for the clarification! This is really helpful!

[2020-02-11 15:46] michaelarfreed commented on #34585
I noticed that the bug that I have described is also present in the TF 2.1 release. If I call `!pip install tensorflow==2.1` where you have called `!pip install tensorflow==2.0` in [this notebook](https://colab.sandbox.google.com/gist/ravikyram/e751dbf44cf2051a5117caaf663ccb94/untitled447.ipynb), I see the same behavior that I have been describing (1. the progress bar does not fill up for a full e

[2020-02-11 16:04] psunn commented on #36632
we find on TFLiteConverter V1, we can still got fully quantized model.
check code and model graph below:
[code]
![image](https://user-images.githubusercontent.com/55463253/74254238-149a4680-4ce8-11ea-8c7b-55526495596d.png)

[2020-02-11 16:22] bjarthur commented on #16023
multi-channel spectrograms (and mel-cepstrums) would be useful!

[2020-02-11 16:24] akarmi commented on #36632
@suharshs, is this the intended behaviour of the TF2.x API? It seems it would be useful to retain the option of not having the model wrapped into Quantize/Dequantize nodes.

[2020-02-11 16:34] MICROSOFT55555555hh commented on #8233
I use keras change to tensorflow but when i use it on Android It says can't find the input layer but in keras my input layer is bidirectional_3 but I use keras.input_names result is sequential_3_input ,when I try both ,None of them how can I do??

[2020-02-11 16:35] feranick opened #36667 "Pip package for tensorflow 2.1 for Raspberry Pi (python 3.7)"
Current versions of Raspbian use Python 3.7. Yet, the most updated pip packages (TF 2.1) provided by Google for the Raspberry pi are limited to python 3.5:

https://www.tensorflow.org/install/pip

Pypi provides much older versions of TF (1.14) for python 3.7.

Please update the version provided by either google or Pypi

[2020-02-11 16:49] alextp commented on #34519
@sanjoy I agree; sadly TF doesn't let you specify a kernel which doesn't look at its tensor content (and I don't know how to fold that information in to the current placer algorithm).

@lindong28 @jsimsa should we add a registry of variant-ops-whose-outputs-cannot-be-copied and seed that with the tf.data ops then?

@saxenasaurabh maybe we can avoid this placing business altogether if we can delay

[2020-02-11 16:55] Kaushikudaya commented on #36614
Hi Team,

That error was solved after updating the tensorflow to 2.0
but i am getting other error:
[image: image.png]

Please check

On Tue, Feb 11, 2020 at 5:27 PM ravikyram <notifications@github.com> wrote:

[2020-02-11 16:58] nmatare commented on #36344
It appears the attribute  `could_use_cudnn` was changed to `_could_use_gpu_kernel ` for TF 2.2.0. When running the notebook with TF 2.2.0-dev20200211,
please change `assert lstm_layer.could_use_cudnn is True`, to `assert lstm_layer._could_use_gpu_kernel is True`, the underlying logic appears to have remained the same.

[2020-02-11 17:02] srjoglekar246 commented on #34845
@limsijie93 You need to make some building changes as per the [official documentation](https://www.tensorflow.org/lite/guide/ops_select#running_the_model) for things to run :-)

[2020-02-11 17:02] mihaimaruseac commented on #36441
@mshmsh1234 You said you tried to downgrade below TF 2.0 but your `pip freeze` output still lists TF 2.1.

Probably your environment is in a bad state. Can you please make sure you clean it? Using `virtualenv` is recommended.

[2020-02-11 17:04] bjarthur commented on #16023
the workaround is:

[code]

[2020-02-11 17:08] Dominux commented on #36423
Can it be associate with small gpu-ram (I have only 2MB)?

[2020-02-11 17:10] mihaimaruseac commented on #36665
You didn't fill the issue template at all.

Most likely you are on windows, in which case just searching for similar issues would have pointed you to other duplicated issues.

Closing as duplicate.

#36167 (comment)

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-02-11 17:10] #36665 closed

[2020-02-11 17:27] pmalecka commented on #35326
Hi,
you are absolutely correct, thanks for the detailed answer.

It's not a running program that is being interrupted, this just gets written to the output at the end of the execution.

Thanks again,
Peter

[2020-02-11 17:30] kurka opened #36668 "TF 1.15.2: Metrics created in custom layer (self.add_metric) producing wrong output"
(this seems to be the same issue as #32144, but for tf 1.15)

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.15.2
- Python version: 3.6.9
- CUDA/

[2020-02-11 17:32] jsimsa commented on #29877
@MarkDaoust I don't think that [tf.data.Snapshot](https://github.com/tensorflow/community/pull/193) will provide what is @MikeOfZen asking for. IIUC, he would like to have a simple API to "save" and "load" arbitrary structure of tensors.

@MikeOfZen a challenge that Python pickling does not need to solve but TensorFlow ser/de does is how to statically infer shapes and types so that a traced Python

[2020-02-11 17:42] #36457 closed

[2020-02-11 17:43] 1vecera commented on #35618
I don't think this is closed. Tensorflow PyPI distribution should not rely on a manual install of some Microsoft software utility that needs admin rights to install. (Scalability and so)

[2020-02-11 17:46] mihaimaruseac commented on #35618
We cannot bundle everything ourselves (especially so since some packages have licenses prohibiting bundling together). So you have to install dependencies out of bound.

[2020-02-11 17:58] mindis opened #36669 "Error while reading resource variable _AnonymousVar12 from Container: localhost"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2020-02-11 18:04] Cesarcuna commented on #26546
If your problem is with RASA CORE, in my case, I executed the following commands:
pip install -U tensorflow==1.15
pip install -U tensorflow==2.0
pip install -U gast==0.3.3
pip install -U tf-nightly-gpu
pip install -U tensorboard==1.15.0
pip install -U tensorflow==1.15

[2020-02-11 18:06] jvishnuvardhan commented on #36535
@tawej Did you install all compatible drivers as mentioned in TF website.

Version | Python version | Compiler | Build tools | cuDNN | CUDA
-- | -- | -- | -- | -- | --
tensorflow_gpu-2.0.0 | 3.5-3.7 | MSVC 2017 | Bazel 0.26.1 | 7.4 | 10

Can you please try some instructions mentioned in this [resolved issue](https://github.com/tensorflow/tensorflow/issues/26227) and [this issue](https://github.com

[2020-02-11 18:23] bbrito commented on #19567
Is this problem fixed in any of the current Tensorflow versions? For instance, 1.15.0?

[2020-02-11 18:34] Kodiologist commented on #35876
@ymodak It's just as well that you didn't actually close the issue, since you might as well use this issue for the API and documentation complaints I mentioned earlier instead of opening a new issue for them.

[2020-02-11 18:36] tawej commented on #36535
Thanks I'll keep you updated

[2020-02-11 18:38] macfly1202 commented on #25866
@ymodak : please read my comment above ; it solve my issue ; ```[SOLVED] Just if someone have this issue, I use ubuntu 16.04 and reinstall driver from linux proprietary drivers repo now according to a tutorial with CUDA 10.0 and Cudnn 7.3.1 (https://www.pytorials.com/how-to-install-tensorflow-gpu-with-cuda-10-0-for-python-on-ubuntu/). I didn't have issue anymore with this install.
So there is some

[2020-02-11 18:39] saxenasaurabh commented on #34519
@alextp I don't understand your suggestion. IIUC we must place the lowered control flow ops so we will still need update the placement logic?

@ezhulenev probably understands the placement logic better. Looking at the example here it seems we need to recognize patterns like Input(CPU) -> Enter -> Merge -> Switch -> Identity -> Consumer (CPU) and if so place the entire chain(-s in case of nesting)

[2020-02-11 18:42] alextp commented on #34519
The lowered ops are currently placed on the wrong device. If we had device
assignments for the ops before/after each lowered op when we added the
lowered op we could add them on a device which would minimize communication.

On Tue, Feb 11, 2020 at 10:39 AM Saurabh Saxena <notifications@github.com>
wrote:

--
 - Alex

[2020-02-11 18:52] saxenasaurabh commented on #34519
I see. Yeah that would be simpler than trying to handle this in the placement code I agree.

[2020-02-11 19:15] gowthamkpr commented on #36637
@charmasaur As mentioned in the error, if you make necessary changes this should work.

[code]

[2020-02-11 19:17] edmondja commented on #27817
+1

[2020-02-11 19:20] ymodak commented on #36511
Closing since its fixed. Thanks!

[2020-02-11 19:20] #36511 closed

[2020-02-11 19:25] joanafilipa commented on #35754
@woodknight @cossio please stay on topic as per community guidelines. Thank you!

[2020-02-11 19:27] jvishnuvardhan commented on #36621
@mindis The method `tf.image.extract_patches` was expecting an int where as you are passing a tensor. When I replaced `tf.shape(image)[1]` with `image.shape[1]`, everything worked as expected. Please check the [gist here]( https://colab.sandbox.google.com/gist/jvishnuvardhan/4a7da2707c133cfc96a9cbdc77392f73/36621.ipynb). Thanks!

[2020-02-11 19:30] gowthamkpr commented on #36627
@TheSentry By default TensorFlow allocates GPU memory for the lifetime of the process, not the lifetime of the session object. More details at: https://www.tensorflow.org/programmers_guide/using_gpu#allowing_gpu_memory_growth

Thus, if you want memory to be freed, you'll have to exit the Java interpreter, not just close the session.

For more info, you can refer to the following [issue](https://gi

[2020-02-11 19:32] acvander commented on #36587
I'm seeing a similar issue in my project using TF2.0. Should I open a separate issue referencing this one for that?

[2020-02-11 19:43] edmondja commented on #27817
https://github.com/tensorflow/tensorflow/issues/33886#issuecomment-554491736 get_initial_state gives a hint on the right shape, solved the problem for me.

[2020-02-11 19:51] jdduke commented on #36645
Thanks for the report, any chance you could attach the model, and/or a stripped version of the model? Feel free to PM me a link directly if there is any sensitivity, using my alias at google dot com.

[2020-02-11 19:57] faroit commented on #35791
@jvishnuvardhan I get the same issue with similar code. Using tf2.1 on cuda 10.2 with driver 440.33.01. Interestingly this error only appears when all of the following settings

* under a strategy scope
* with more than one gpus
* when the sequence_length changes (e.g. going from train to test back to train)

any workaround?

[2020-02-11 19:58] faroit commented on #35950
@oanush I get the same issue with similar code. Using tf2.1 on cuda 10.2 with driver 440.33.01. Interestingly this error only appears when all of the following settings

* under a strategy scope
* with more than one gpu
* when the sequence_length changes (e.g. going from train to test back to train)
* not in eager mode

any workaround?

[2020-02-11 20:04] helloworld1 commented on #36645
The model is this:
https://s3.amazonaws.com/models.huggingface.co/bert/gpt2-64-fp16.tflite

The sample code is here: (Need to add `opts.addDelegate(NnApiDelegate())`
https://github.com/huggingface/tflite-android-transformers/blob/master/gpt2/src/main/java/co/huggingface/android_transformers/gpt2/ml/GPT2Client.kt#L136

[2020-02-11 20:06] ymodak commented on #35702
Setting cuda version to 10.1 with TF 2.1 should provide gpu support. Closing this issue now. Thanks!

[2020-02-11 20:06] #35702 closed

[2020-02-11 20:08] #36339 closed

[2020-02-11 20:20] jdduke commented on #36645
Thanks for the report. Out of curiosity, since it looks like you used the fp16 compression feature, does the original full float model work properly with NNAPI? Or do you have a link to the fp32 model?

[2020-02-11 20:31] jsimsa commented on #36539
This is a Keras documentation issue, not tf.data issue.

[2020-02-11 20:32] jsimsa commented on #36539
Karmel, could you please triage this to someone on the Keras team. Thank you.

[2020-02-11 20:32] Lay4U commented on #36508
me too
[code]

[2020-02-11 20:41] houtoms commented on #33924
Can you have a try of the newer cuDNN? It seems the cuDNN 7.6.5 fixed a related issue:
```Fixed a lack-of-synchronization issue when cudnnRNNBackwardData() and cudnnRNNBackwardDataEx() calls a kernel that is not synchronized back to the application's stream. This issue only appears when users are using bidirectional RNN using algo of CUDNN_RNN_ALGO_STANDARD. This issue affects cuDNN versions 5 thr

[2020-02-11 20:44] pavithrasv commented on #30882
They are the same, `TimeDistributed`  doesn't just apply to Dense layers but i see that the main example in the TimeDistributed docs is using Dense layer. i'll update that.

[2020-02-11 20:45] fgervais opened #36672 "Add a raspberry pi docker image"
**System information**
- TensorFlow version (you are using): 2.1.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

There is already a tensoflow docker image for amd64. I'd like to see if there is interest other than me to have the same for armv7.

I recently made one for tensorflow 2.1.0 here:

https://github.com/fgervais/docker-tensorflo

[2020-02-11 21:00] harshad16 commented on #35922
I'm observing something similar:
[code]
with bazel 0.26.1 and python 3.6

[2020-02-11 21:05] MikeOfZen commented on #29877
@jsimsa  thank you for your response. Yes, you understood it correctly.
I appericiate the diffcutly of integrating this dynamic into the graph tracing.

I wouldn't mind indicating the tensor types&shapes before a 'load' operation.
or even having a seperate 'descriptor' file (though it can also be a header in a regular data file)
for the static graph building.

right now, this information has to be

[2020-02-11 21:10] mihaimaruseac commented on #36556
In general, in Python if you can do

[code]

that doesn't imply you can also do

[code]

It is not just something in Python that TensorFlow breaks, it's just the way things work.

In fact, to separate public and private APIs it is actually better to not allow both types of imports.

[2020-02-11 21:25] jvishnuvardhan commented on #35791
@faroit Please create a new issue with details and a simple standalone code to reproduce the issue. Thanks!

[2020-02-11 21:29] shoyer commented on #36556
It's true that the former behavior does not strictly imply the later, but in practice it essentially always does for modules. If something is called the `foo.bar.baz` module, then it is expected for `import foo.bar.baz` to work. I cannot think of any exceptions to this rule, besides TensorFlow.

There are other ways to hide internal implementation details. For example, it is common to use undocume

[2020-02-11 21:33] tawej commented on #36535
python 3.7.6
TF-gpu 2.1.0
cuda 10.1
cudnn 7.6.5 for cuda 10.1
MSVC 2017
It's working, at least with a tf basic mnist classification :)

[2020-02-11 21:33] mihaimaruseac commented on #36556
I agree with you. There is work on simplifying this structure, see https://github.com/tensorflow/community/pull/182

[2020-02-11 21:39] jvishnuvardhan commented on #36535
@tawej I think it should work with other complex models also. I guess there might have been some issue with compatibility between different dependencies. Thanks!

I will close this issue as it was resolved. Feel free to reopen if the issue persists again. Thanks!

[2020-02-11 21:39] #36535 closed

[2020-02-11 21:39] charmasaur commented on #36637
Yup, that fixes the issue for me too.

[2020-02-11 21:46] jackd commented on #35754
@joanafilipa which part of those comments isn't on topic? It's all well and good for @mihaimaruseac to say this isn't a priority, but a community shouldn't be discouraged from expressing frustration when those priorities push them away. Judging by reactions to posts - which certainly isn't an exhaustive survey, but better than nothing - @cossio isn't the only one who feels this way.

[2020-02-11 21:48] jdchancellor commented on #36649
https://colab.research.google.com/drive/1PvEO3waUT1CN_b9MqusrG6CKfKVCd324#scrollTo=BjLA9JsMElSF

Has the stripped down code.   I enabled eager execution since colab is
running TF 1.15 vs 2.0

On Tue, Feb 11, 2020 at 7:37 AM Jon Chancellor <jdchancellor@gmail.com>
wrote:

[2020-02-11 21:53] TaeheeJeong commented on #36609
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/freeze_graph.py

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/py_checkpoint_reader.py

On Tue, Feb 11, 2020 at 3:17 AM Saduf2019 <notifications@github.com> wrote:

[2020-02-11 21:54] dlaiup commented on #36629
@karimnosseir , Thanks for the support, this model is an example, is it reasonable to expect 3X+ faster on DSP than CPU? Looking forward to trying it out once you can add the support of two missing Ops. Thanks.

[2020-02-11 21:55] jvishnuvardhan commented on #36643
@1-willAll-0 I cannot reproduce the issue. I am using most recent `tf-nightly`. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/8e144b09ad3992b36b798db1ec6e4c46/untitled818.ipynb). Thanks!

[2020-02-11 22:06] LambertMark commented on #32801
I'm getting this same issue in TF2.1:

`import tensorflow as tf

tf.keras.mixed_precision.experimental.set_policy('mixed_bfloat16')

optimizer = tf.optimizers.SGD(learning_rate=0.1, momentum=0.9)

input=tf.keras.layers.Input(shape=(256, 256, 3))

x=tf.keras.layers.Conv2D(32,(3,3))(input)
x=tf.keras.layers.UpSampling2D()(x)

x=tf.keras.layers.Conv2D(32,(3,3))(x)
out=tf.keras.layers.Activation('sigm

[2020-02-11 22:07] gowthamkpr commented on #36600
@TheGlobalist I am not running into any error if I am running the code in [colab](https://colab.research.google.com/gist/gowthamkpr/340ef323a3236ca0b3ef188d8ccc7d97/untitled633.ipynb). I am using `hub 0.7` and `Tensorflow 2.1
`

[2020-02-11 22:12] gowthamkpr commented on #36540
@jorgeraulgomez Please take a look at this [doc](https://github.com/tensorflow/examples/blob/master/community/en/docs/deploy/distributed.md) where it explains how to use tensorflow in a distributed mode. Thanks!

[2020-02-11 22:15] golden0080 commented on #13499
Echo with what your results, the custom ops would not behave in a large network, when manipulate the GPU memory with native APIs.
My code doesn't have any `Memcpy`, instead it has `memset` in it, also giving me
[code]

[2020-02-11 22:24] bhack commented on #36629
@karimnosseir Are you sure? Check https://github.com/tensorflow/tensorflow/issues/29509

[2020-02-11 22:24] helloworld1 commented on #36645
I tried the original FP32 version https://s3.amazonaws.com/models.huggingface.co/bert/gpt2-64.tflite.
It was converted from this model: https://s3.amazonaws.com/models.huggingface.co/bert/gpt2-tf_model.h5

It still crashes with fp32 model.
[code]

[2020-02-11 22:33] pgunn commented on #35754
At risk of continuing a conversation that's already off-topic,
Please recall that expressing frustration is not productive and it's something that a lot of us who subscribe to the issue just looking for updates get emails about. It's okay to *be* frustrated, but please do it somewhere else so the github issues are not full of chatter.

[2020-02-11 22:38] jvishnuvardhan commented on #36653
@MonicaGu I ran your code and find very very small mismatch (in the 7th decimal) in the results between keras  and tflite_model. Do you see significantly different results. Please check the [gist here]( https://colab.sandbox.google.com/gist/jvishnuvardhan/e7d0429feef15a434a36e5226c10f214/untitled819.ipynb). Thanks!

[2020-02-11 22:40] jvishnuvardhan commented on #32801
@LambertMark Please create a new issue with details and a simple standalone code to reproduce the issue. Thanks!

[2020-02-11 22:57] gowthamkpr commented on #36508
@Lay4U @ARozental Please use the below code while importing tensorflow and let me know if the issue still persists. Thanks!

[code]

[2020-02-11 23:00] gowthamkpr commented on #35485
Closing this issue as it has been inactive for more thank 2 weeks. Please add additions comments and we can open the issue again. Thanks!

[2020-02-11 23:00] #35485 closed

[2020-02-11 23:06] nipnipj opened #36674 "Tensorflow error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No. I'm trying to reproduce simple examples.

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64

- TensorFlow installed from (source or binary):
I used the following commands in command promt window:
pip install --user pip
pip install --user tensorflow

-

[2020-02-11 23:19] jvishnuvardhan commented on #36642
@tsuzukit Can you please provide a standalone code to reproduce the issue? Thanks!

[2020-02-11 23:25] wdirons commented on #36674
tf.set_random_seed was removed in TensorFlow 2.X

You can use: `tf.random.set_seed(seed)`
see: https://www.tensorflow.org/api_docs/python/tf/random/set_seed

[2020-02-11 23:34] nipnipj commented on #36674
After using `tf.random.set_seed(seed)`, the almost the sam error message appears,

It changed a bit in the line that say "File...".

[2020-02-11 23:36] edwardyehuang commented on #35754
Agree. However, the result of the "productive " comment is

Frustrated or not, I think those users only want the Tensorflow become better.

Also, I believe the Pytorch Conda is supported by offical [1, 2]. We did not off-topic. We are only requesting the offical Tensorflow to support the Conda distribution without rely too much on the community.

Unfortunately, this is the truth, especially in Res

[2020-02-11 23:42] karimnosseir commented on #36629
@bhack The model attached by @dlaiup has the SpaceToBatch/BatchToSpace, and my reply is about it, i am assuming the conversion is done not using the new converter.
@dlaiup can you reconvert the model using the new converter and attach the model (set experimental_new_converter=True)

Thanks

[2020-02-12 00:31] preethivenkatesh commented on #36054
@Korsar13 Did you happen to build successfully without mkl flag?

[2020-02-12 00:32] preethivenkatesh commented on #34213
We have an engineer looking into this issue now. I'll keep you posted

[2020-02-12 00:33] byronyi commented on #35754
@jjhelmus Anything we could help to provide future TF releases on Anaconda in a more timely manner?

TF 2.2 is upcoming and @edwardyehuang @cossio you might considering to join the effort to make the release on conda faster.

[2020-02-12 00:33] penpornk commented on #34213
@preethivenkatesh Thank you very much!

[2020-02-12 00:38] preethivenkatesh commented on #33975
I'm a little confused. so the issue is with Bazel not being able to resolve the paths in general or particularly when using mkl flag?

[2020-02-12 00:50] miaowang14 commented on #36645
Could you post the logcat with "adb shell setprop debug.nn.vlog 1"? The verbose logging would helpful figuring out the root cause.

[2020-02-12 01:07] dlaiup commented on #36629
@karimnosseir Sure, this is the new model with experimental_new_converter, please check if that's what you want?
https://github.com/tensorflow/tensorflow/files/4189351/deep_lab_v3_mv2_new.zip

[2020-02-12 01:12] alanpurple commented on #35922
@gadagashwini
yes, never been resolved

also failed yesterday

[2020-02-12 01:13] karimnosseir commented on #36629
@dlaiup I think you set some config incorrectly, the model you are sending has all ops expecting float not uint8.

Can you double check please.

Thanks

[2020-02-12 01:14] miaowang14 commented on #35847
I guess you meant the intermediate tensors are int16 for TFLite CPU implementation. And since NNAPI delegate uses lower level operations to compute hard_swish, the intermediate output are 8bit. Please correct me if that's incorrect.

Back to my original question, is this off-by-1 error causing significant difference in the accuracy for the model?

(also, FYI, for Android R, NNAPI will be adding a

[2020-02-12 01:32] settle commented on #35492
I just tested the latest-devel-gpu image from DockerHub, aka 2.1.0-devel-gpu, and ran into an error that when these Dockerfiles are updated should be addressed.  The fastest way to reproduce the error is to simply try running nvidia-smi from the command line.  When I ran it, it reports "CUDA Version: ERR!".  Running that from the latest-gpu image it returns "CUDA Version: 10.1".  Diff'ing the foll

[2020-02-12 01:48] settle commented on #35492
Hi @angerson,

I forgot to mention that I had to change "ENV TF_NEED_TENSORRT 1" to "ENV TF_NEED_TENSORRT 0" in order to successfully bazel build inside latest-devel-gpu.  Sorry, I didn't hunt down why that was necessary.

Oh, the above LD_LIBRARY_PATH issue didn't affect bazel build, just when I went to test `python -c "import tensorflow as tf ; physical_devices = tf.config.list_physical_devices(

[2020-02-12 01:53] 1-willAll-0 commented on #36643
Thanks for the response, jvishnuvardhan.  Perhaps bugs are only relevant to post if I'm using the most updated version?  If so I won't post next time.  I did already mention I myself couldn't reproduce the issue in collab, so maybe that's a non-starter.

I don't want to start building now and disrupt the continuity of the managed bundles in Clear Linux, otherwise I'd be using 2.1.0.  As of now I'm

[2020-02-12 01:58] chrisagblake commented on #33634
Am I understanding correctly that if I build bazel from master to get that latest fix, then add `features = ["windows_export_all_symbols"],` to tensorflow/lite/build_def.bzl like:

def tflite_cc_shared_object(
        name,
        copts = tflite_copts(),
        linkopts = [],
        linkstatic = 1,
        deps = [],
        visibility = None,
        per_os_targets = False,
        tags = None

[2020-02-12 01:59] peteryuX commented on #34470
There still have same error in the 2.1.0 ...
[code]
but the tf-nightly-gpu==2.1.0dev20191121 above is alright.

[2020-02-12 02:54] spate141 commented on #35100
@jsimsa Any update on this? I'm getting this exact message and it looks like my model.fit is not doing it's thing on validation dataset during training.

[2020-02-12 03:12] MattConley opened #36675 "[TF2] TRT Engine Ops are not garbage collected, resulting in incorrect reuse"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2

[2020-02-12 03:15] namedtoaster commented on #36146
@mdanatg I downloaded tensorflow from the most current repo and built using the instructions you linked to. When I try to run the code from the notebook (or really any simple tensorflow command), I get the following error.

`Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.2 AVX AVX2 FMA`

Is there a way to suppress those features from my CPU so I can run tf

[2020-02-12 03:16] MonicaGu commented on #36653
@jvishnuvardhan In my case, I also found very small mismatch in the 7th or 6th decimal. I am not sure is this small mismatch inevitable? Or is this caused by a bug in the computation of Conv2D in TFLite? Thank you!

[2020-02-12 03:23] houtoms commented on #12132
Yes, we follow the https://docs.nvidia.com/deeplearning/sdk/cudnn-release-notes/rel_763.html#rel_763 to enable fast depwise cuDNN paths.

[2020-02-12 03:43] XMK233 opened #36676 "TF2 SavedModel does not support multiple signatures?"
I used `tf.saved_model.save` and `tf.saved_model.load` to save and load TF2 SavedModel. According to [this link][1], I created a signature and this signature is `serving_default`. Then I try to add a new function with the signature decorator in class `Adder`. But after I loaded the model according to [this][2], I find that the signatures disappear in the model, i.e., `print(adder1.signatures)` pri

[2020-02-12 03:44] rohanmohapatra opened #36677 "Custom training loss with custom gradients"
I am trying to write a custom loss in Tensorflow v2, for simplicity let's say that I'm using Mean Squared Error loss as follows,
[code]

Now I know that Tensorflow does [automatic differentiation](https://stackoverflow.com/questions/48219296/why-doesnt-keras-need-the-gradient-of-a-custom-loss-function).

But I want to specify my **custom gradient**, in the BackPropagation algorithm,
if we use MSE,

[2020-02-12 04:34] Saduf2019 commented on #36611
@daixiangzi Please confirm if the above comment helps and your issue is resolved.

[2020-02-12 04:39] gadagashwini commented on #36650
Could able to replicate the reported issue with Tf2.1.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/a7bd20a199660b361c9eef47430f7e2a/untitled387.ipynb). Thanks!

[2020-02-12 04:51] gadagashwini commented on #36663
@shongi-yd, Could you please fill the template to understand the issue better. Thanks!

[2020-02-12 04:53] ravikyram commented on #36662
@psyyip

This issue is more suitable for TensorFlow Serving repo. Please post it on Serving repo from [here.](https://github.com/tensorflow/serving/issues) Thanks!

[2020-02-12 04:55] jungmin-lim opened #36678 "Tensorflow installation document Korean translated page outdated"
## URL(s) with the issue

https://www.tensorflow.org/install?hl=ko

## Description of issue (what needs changing)

On installation document/windows build from source page, it tells that "TensorFlow를 컴파일하는 데 사용되는 빌드 도구인 Bazel 0.23.0을 설치합니다. C++를 빌드하도록 Bazel을 설정합니다." which means install Bazel 0.23.0 to compile Tensorflow. However, most recent version of Tensorflow which is r2.1, doesn't support Baze

[2020-02-12 05:06] nauyan commented on #36059
@Dark-Monk Nope

[2020-02-12 05:16] terryheo commented on #36661
Could you try to separate build and link stage?
For example)
$ g++ -I../tensorflow -ltensorflow_cc -c test.cpp
$ g++ -Llib -ltensorflow_cc -Llib -o exec test.o -ltensorflowlite
Please make sure to provide your object file first than "-ltensorflowlite "

[2020-02-12 05:18] Korsar13 commented on #36054
@preethivenkatesh Yes

[2020-02-12 05:19] helloworld1 commented on #36645
[log-with-debug-nn-vlog-1.log](https://github.com/tensorflow/tensorflow/files/4189969/log-with-debug-nn-vlog-1.log)

I have added the log file with debug on

[2020-02-12 05:23] Adilkhan510 commented on #26813
Having the same issue. Please reopen this

[2020-02-12 05:45] terryheo commented on #36445
Could you try it again with TARGET_ARCH=armv6 ?
According to tensorflow/lite/tools/make/targets/rpi_makefile.inc, "armv6l" won't work.

[2020-02-12 05:46] Joey155 commented on #34947
Hello! I would love to work on this. Could you guide me?

[2020-02-12 05:48] ashishmagar600 commented on #36661
I am getting this :
./exec: error while loading shared libraries: libtensorflowlite.so: cannot open shared object file: No such file or directory

My lib/
libtensorflow_cc.so                 libtensorflow_framework.so.2               libtensorflowlite.so-2.params           lite
libtensorflow_cc.so.2               libtensorflow_framework.so.2.1.0           libtensorflowlite.so.runfiles
libtensorflo

[2020-02-12 05:51] terryheo commented on #32038
It looks like Dockerfile was updated.
https://github.com/tensorflow/tensorflow/commit/a1309f4e3c4780c8b24ba6b0fbddad278d3071e3#diff-5f85f919491d70a8ec63d18a0e93c898
Let's close this.

[2020-02-12 05:51] #32038 closed

[2020-02-12 06:00] terryheo commented on #36654
I recommend you to check addresses on backtrace with addr2line utility.
It's likely memory override by size mismatch.

[2020-02-12 06:02] daixiangzi commented on #36611
i also meet new problem :
ERROR: /home/github/tensorflow_source/tensorflow/core/lib/monitoring/BUILD:191:1: C++ compilation of rule '//tensorflow/core/lib/monitoring:percentile_sampler' failed (Exit 1) gcc failed: error executing command /usr/bin/gcc -U_FORTIFY_SOURCE -fstack-protector -Wall -Wunused-but-set-parameter -Wno-free-nonheap-object -fno-omit-frame-pointer '-std=c++0x' -MD -MF ... (remai

[2020-02-12 06:05] Ehtasha commented on #36059
@Dark-Monk  @nauyan

I you are using ` runSegmentationOnBinary ` method then replace bellow lines

Replace bellow line
`var convertedBytes = Uint8List(1 * inputSize * inputSize * 3);`

with
`var convertedBytes = Uint8List(4 * 1 * inputSize * inputSize * 3);`

[2020-02-12 06:06] Saduf2019 commented on #36587
@acvander Please create a separate issue for that.

[2020-02-12 06:11] terryheo commented on #36653
It's expected behavior. Since floating point has limited precision, calculated results can be vary by order of execution.
https://en.wikipedia.org/wiki/Floating-point_arithmetic#Accuracy_problems
You can see we're allowing 1e-5 (0.00001) errors in our TFLite kernel testing.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/kernels/conv_test.cc#L819
So the 7th or 6th decimal diff

[2020-02-12 06:11] #36653 closed

[2020-02-12 06:12] Saduf2019 commented on #36587
@Tarungarg98 I ahve tried to replicate issue faced by you with the code provided here is the [link](https://colab.sandbox.google.com/gist/Saduf2019/a538dda0514ef28bd545d4311d1c937e/untitled31.ipynb) for the same, unless we have the complete executable code[with dependencies] to see what issue is faced by you we will not be able to help.

[2020-02-12 06:13] Saduf2019 commented on #36614
@Kaushikudaya Please share complete executable code and the error **log** faced for us to replicate the issue and help

[2020-02-12 06:14] terryheo commented on #36620
GPU delegate only works on Android and iOS for now.
https://www.tensorflow.org/lite/performance/gpu_advanced

[2020-02-12 06:14] #36620 closed

[2020-02-12 06:15] Saduf2019 commented on #36320
@JoaoLages code provided is not sufficient to replicate the issue faced by you, please provide complete code so we could help you.

[2020-02-12 06:23] nauyan commented on #36059
@Ehtasha I am using Java instead of kotlin seconldy I am using **runForMultipleInputsOutputs**

[2020-02-12 06:25] terryheo commented on #36249
It's fixed now.
https://github.com/tensorflow/tensorflow/commit/f270180a6caa8693f2b2888ac7e6b8e69c4feaa8

[2020-02-12 06:25] #36249 closed

[2020-02-12 06:30] terryheo commented on #36661
You need to update LD_LIBRARY_PATH to make linker can find libtensorflowlite.so

[2020-02-12 06:34] limsijie93 commented on #28485
Hi

I tried to convert my model in TF 1.15 into .tflite using the following:
[code]

However, I encountered the following error:
[code]

I'm not calling any DenseToDenseSetOperation explicitly. Is this part of the backend engine that is used to convert the tf functions into .tflite?

[2020-02-12 06:35] dd1923 opened #36679 "tf.keras.layers.Softmax should respect image_data_format by default"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.1.0
- Are you willing to contribute it (Yes/No): No

**D

[2020-02-12 06:36] lyonguyen8697 commented on #34114
You can access originally passed `inputs`, `outputs` argments in `Model.input` and `Model.output` (not `Model.inputs`, `Model.outputs`).

[2020-02-12 06:40] gadagashwini commented on #36646
@Feri73, Its working without any error, Please take a look at the colab gist [here](https://colab.sandbox.google.com/gist/gadagashwini/294b786c8b8e0de16fe4d91e95ad9278/untitled388.ipynb). Thanks!

[2020-02-12 06:40] ashishmagar600 commented on #36661
Thanks a lot...
So I have to:
1. Include my library after object file
2. Add path to LD_LIBRARY_PATH

I wasted so many days on this.
Thank you once again

[2020-02-12 06:40] #36661 closed

[2020-02-12 06:43] ravikyram commented on #36666
I have tried on colab with TF version 2.2.0-dev20200211 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/2d485b1a2c3a6140d636d845ec760479/untitled640.ipynb). Thanks!

[2020-02-12 06:45] Feri73 commented on #36646
The gist uses tf 2.0!

gadagashwini <notifications@github.com> schrieb am Di., 11. Feb. 2020,
22:40:

[2020-02-12 06:45] anirbankonar123 opened #36680 "Image Augmentation erroring out with ImageDataGenerator.flow and multiple labels"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-02-12 06:46] huanyingjun opened #36681 "How to build libhexagon_nn_skel.so ?"
Hi
TFLite hexagon delegate is based on hexagon nnlib, I can get nnlib source code from https://source.codeaurora.org/quic/hexagon_nn/nnlib, and I can build ibhexagon_nn_skel.so according to "README.HOW_TO_BUILD" in nnlib, but my build libhexagon_nn_skel.so can not be used for tflite, report some error.
Does  tflite modify the nnlib code ? how to build libhexagon_nn_skel.so using the nnlib source c

[2020-02-12 06:54] ravikyram commented on #36669
I have tried on colab with TF version 2.1.0, 2.2.0-dev20200211 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/1a57753e62d5a898c3f565a6e53d0434/untitled641.ipynb). Thanks!

[2020-02-12 07:01] Ehtasha commented on #36059
Okey I'm integrating this using Flutter and binary function is available there.

But is java also multiple with 4 where you specify the image size.
Above inputSize represent the image dimention.

`(4 * 1 * 128* 128 * 3)`

[2020-02-12 07:02] #34947 closed

[2020-02-12 07:04] TheGlobalist commented on #36600
Sorry, maybe I'm missing the point... shouldn't TF be able to run everywhere?
If so, why are we talking about Colab if I'm asking for macOS?

[2020-02-12 07:06] amahendrakar commented on #36297
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-12 07:06] #36297 closed

[2020-02-12 07:07] datdinhquoc commented on #18257
On Colab, TF 2, api: https://www.tensorflow.org/api_docs/python/tf/while_loop

Example in api doc:
[code]

TF 2 on Eager mode by default:<br/>
`TypeError: Cannot iterate over a scalar tensor.`

[2020-02-12 07:13] prabs190 commented on #33722
i am getting below error. Can anyone please help me on this

import tensorflow as tf
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\a658371\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\__init__.py", line 101, in <module>
    from tensorflow_core import *
  File "C:\Users\a658371\AppData\Roaming\Python\Python37\site-packages\tensorflow_co

[2020-02-12 07:16] themusmus opened #36682 "unspecified errors while building tensorflow"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): window 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:N/A
- TensorFlow installed from (source or binary): build from source
- TensorFlow version (use command below):2

[2020-02-12 07:21] nauyan commented on #36059
@Ehtasha Can you please point out where should I make changes in the above code?

[2020-02-12 07:29] Dark-Monk commented on #36059
@Ehtasha ... Appreciate the help but I am already doing this and even tried this (1 * inputSize * inputSize * 3) for Quantized model but didn't worked. I am actually using  the sample app.

Code:
int numBytesPerChannel;
if (isQuantized) {
  numBytesPerChannel = 1; // Quantized
} else {
  numBytesPerChannel = 4; // Floating point
}
d.imgData = ByteBuffer.allocateDirect(1 * d.inputSize * d.inputSize

[2020-02-12 07:32] nauyan commented on #36059
@Dark-Monk I am have tried the same but doesn't work

[2020-02-12 07:35] tsuzukit commented on #36642
@jvishnuvardhan

As in original comment, I meant below as minimum standalone code to reproduce the issue.
If you run below in colab, you should be able to reproduce the issue.
This is the colab I used. https://colab.research.google.com/drive/1NV_KXlKRv148H50SExVYdHkVCh9Acnp_?hl=ja#scrollTo=13C17fSiwhAC

[code]

Pls let me know if you need any other info!

[2020-02-12 07:39] liuxingbaoyu commented on #36072
@jvishnuvardhan Hello, are there any updates? Thank you!

[2020-02-12 07:59] balaganesh1 opened #36683 "DLL load failed: The specified module could not be found."
Warning:
This Python interpreter is in a conda environment, but the environment has
not been activated.  Libraries may fail to load.  To activate this environment
please see https://conda.io/activation

Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflo

[2020-02-12 08:06] padoremu commented on #33416
According to the [RNN Lite conversion documentation](https://www.tensorflow.org/lite/convert/rnn), only `static_rnn` without `sequence_length` is supported by Tensorflow Lite. According to the [static_rnn documentation](https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/nn/static_rnn), `keras.layers.RNN(cell, unroll=True)` is the equivalent in Tensorflow 2.

So I added `unroll=True` and

[2020-02-12 08:07] Tarungarg98 commented on #36587
I updated the code in the editor
It works on fine on colab but not on my PC
ON colab the model is resetting but on PC it's not resetting.

Attaching the snip of my results
![image](https://user-images.githubusercontent.com/44539397/74315138-d874ed80-4d9c-11ea-9f9e-910bdf48ecd8.png)

[2020-02-12 08:17] Tarungarg98 commented on #36587
[link](https://colab.research.google.com/gist/Tarungarg98/d7a247e1fe961f267f6c8d7cf6c7abeb/untitled31.ipynb)

[2020-02-12 08:23] ChaoAtUnity commented on #34118
I have the exact same problem running the tutorial code but I am not using gpu to run the code. The code cannot run correctly even with the change or params. Any other ideas to work around this issue?

[2020-02-12 08:33] ragnariock commented on #29642
I have same error

[2020-02-12 08:41] Saduf2019 commented on #36609
@TaeheeJeong
I have tried the same on nightly version and there is no issue, [gist](https://colab.sandbox.google.com/gist/Saduf2019/6d390784507dbb0c6c92f07fef842c88/latest.ipynb#scrollTo=sb7Mr-WqEWg8) for the same.
As there are dependencies you will have to clone Tensorflow as shown in the gist.

[2020-02-12 08:43] rohanmohapatra commented on #36677
@gadagashwini can you take a look at this.

[2020-02-12 08:48] lizhen2017 opened #36684 "tflite model visualize"
python visualize.py
Traceback (most recent call last):
 File "visualize.py", line 30, in <module>
 from tensorflow.lite.python import schema_py_generated as schema_fb
ImportError: cannot import name schema_py_generated

Thanks for your help!

[2020-02-12 08:51] Saduf2019 commented on #36683
@balaganesh1
What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the latest [microsoft visual c++ redistributable from here.](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads)
Make sure you u

[2020-02-12 08:53] ChaoAtUnity commented on #34118
In case someone has the same issue, do also check this [https://github.com/tensorflow/tensorflow/issues/30319].

[2020-02-12 08:54] gadagashwini commented on #36646
Was able to replicate the issue with Tf 1.15.
Please find the [gist](https://colab.sandbox.google.com/gist/gadagashwini/47dbfb8fc51b92a690ec2b5645c61c70/untitled390.ipynb). Thanks!

[2020-02-12 08:54] foxik commented on #26784
@pavithrasv Well, for a single-CPU/single-GPU training, the change is trivial. But for a non-trivial distribution strategy it will take some thinking how to implement it correctly. Also there seems to be several places in Keras which manually handle SUM_OVER_BATCH_SIZE, which will probably have to be adapted -- overall I do not feel confident I can put all the pieces together.

[2020-02-12 09:02] stathva opened #36686 "Dataset padded_batch fails with InvalidArgumentError"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.1.0
- Python version: 3.6

**Describe the current behavior**
[code]
Fails with the following error:
[code]
However:
[code]
works as expected

[2020-02-12 09:03] jorgeraulgomez commented on #36540
Thank you for your answer. It is a very interesting document.

However, I don't think it solves my problem. I am currently executing it in the same notebook, so I am not distributing it yet. This will be a problem of my future me, and I will address it, but for now I would need to be able to execute it in the same notebook.

Regards

[2020-02-12 09:05] ravikyram commented on #36684
@lizhen2017
Please, provide the exact sequence of commands / code that you executed before running into the problem. Thanks!

[2020-02-12 09:08] Saduf2019 commented on #36587
@Tarungarg98  Please share "data_nn.csv" to try this on local environment.

[2020-02-12 09:12] Tarungarg98 commented on #36587
@Saduf2019  Added

[2020-02-12 09:16] sandeepgadhwal opened #36687 "tflite object detection predictions are always same irrespective of input"
Hi have a tensorflow tflite model that i am trying to deploy on an android device, the issue is that the outputs of the model are always same. Irrespective of input.

Can anyone help ?

Here is the link to that model: https://esriis-my.sharepoint.com/:u:/g/personal/san10428_esri_com/EbO-1fGDczRKnW9E2-hDhbQB17aufX_se-VdMBZrhaid3A?e=UKRiyO

Here is the link to the android project: https://esriis-my.

[2020-02-12 09:21] Saduf2019 commented on #36677
@rohanmohapatra Could you please provide with an implementable stand alone code so we could help you resolve the issue.

[2020-02-12 09:26] padoremu opened #36688 "RNN support for Tensorflow Lite Micro"
**System information**
- TensorFlow version: v1.12.1-23779-g96c5c8a 2.2.0-dev20200202
- Are you willing to contribute it: No

**Describe the feature and the current behavior/state.**
Support of RNNs is currently missing in Tensorflow Lite Micro. I've been testing with an RNN with GRU cells. Simple code (from [here](https://github.com/tensorflow/tensorflow/issues/33416#issuecomment-585081574)):

[c

[2020-02-12 09:32] lowkick commented on #31040
I just tried with tf2.1 (on windows), updated a few days ago.
Inserting the
`converter.experimental_new_converter = True`
that error disappeared.

Now I have other issues like
`error: 'tf.ResizeBilinear' op is neither a custom op nor a flex op`
which I believe depends on other things.

Without the
`converter.experimental_new_converter = True`
the error is still there so it definitely makes a diffe

[2020-02-12 09:43] Saduf2019 commented on #36587
@Tarungarg98  I have not received the csv. please drag and drop the zip file in the comment box.

[2020-02-12 09:49] Tarungarg98 commented on #36587
[data_nn.zip](https://github.com/tensorflow/tensorflow/files/4191100/data_nn.zip)

[2020-02-12 10:07] bvarbanov commented on #36445
In file included from tensorflow/lite/core/api/error_reporter.cc:15:0:
./tensorflow/lite/core/api/error_reporter.h: In destructor ‘virtual tflite::ErrorReporter::~ErrorReporter()’:
./tensorflow/lite/core/api/error_reporter.h:37:28: sorry, unimplemented: Thumb-1 hard-float VFP ABI
   virtual ~ErrorReporter() {}

[2020-02-12 10:14] rohanmohapatra commented on #36677
@Saduf2019 Hi, what I'm interested is how is the gradient of the loss w.r.t to the `pred_y` calculated? I want to replace the that gradient with my custom gradient value.

[2020-02-12 10:24] chiboreache commented on #34291
same here

[code]

Arch Linux

[2020-02-12 10:25] artemry-mlnx opened #36691 "_pywrap_tensorflow_internal.so: undefined symbol: _ZTIN10tensorflow8OpKernelE"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `Ubuntu 16.04.6`
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: `N/A`
- TensorFlow installed from (source or binary): `source`
- TensorFlow version: `2.1.0 (master)`
- Python version: `Python 3.5.2`
- Installed using virtualenv? pip? conda?: `apt`
- Bazel version (if c

[2020-02-12 10:36] JoaoLages commented on #36320
`from keras.models import Sequential
from keras.layers import Dense, Activation

model = Sequential([
    Dense(32, input_shape=(784,)),
    Activation('relu'),
    Dense(10),
    Activation('softmax'),
])
model.save_weights('weights.hdf5')
new_model = Sequential([
    Dense(32, input_shape=(784,)),
    Activation('relu'),
    Dense(5),
    Activation('softmax'),
])
new_model.load_weights('weights

[2020-02-12 10:42] Leehon008 commented on #22981
got this error while trying to install tensorflow. any help is highly entertained

from tensorflow.python.pywrap_tensorflow_internal import *
  File "E:\School\WEB\django\twitter-sentiment-analysis-web-app\venv\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 114
    def TFE_ContextOptionsSetAsync(arg1, async):

[2020-02-12 10:52] sandeepgadhwal commented on #36687
In my gradle build settings i updated the version of tensorflow binary to 2.0.0 and it is working fine now, strange things. If something is wrong it should raise and error instead of predicting random values.

[2020-02-12 10:52] #36687 closed

[2020-02-12 11:14] Mithrandir2k18 commented on #34291
Yes the error seems to still be there. A patch for grpc exists and is included in the Arch Build System build: https://git.archlinux.org/svntogit/community.git/tree/trunk?h=packages/tensorflow

I recommend to use that in the meantime.

[2020-02-12 11:21] TheSentry commented on #36627
@gowthamkpr Thank you for your response.

Unfortunately, the text in this link doesn't state this as clearly as you did just now. I've interpreted "Note we do not release memory, since it can lead to memory fragmentation." as session-bound, not process-bound.

This is unfortunate as our process is a Tomcat webserver, which is long-running.

Thank for the link to that issue. I had hoped that this w

[2020-02-12 11:23] wwwind opened #36692 "TFLiteConverter: segmentation fault when dilation is not (1,1) in CONV_2D"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2020-02-12 11:25] amahendrakar commented on #36668
Was able to reproduce the issue. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/970adef6e8e9d6d31d69a647ec342023/untitled1.ipynb). Thanks!

[2020-02-12 11:44] LaureLazard commented on #20444
https://www.tensorflow.org/install/pip says that a windows version for python 3.7 support exists for 64bit python.
 `pip install https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow_cpu-2.1.0-cp37-cp37m-win_amd64.whl` which the page says is for windows using python 3.7 should work. if you get an error saying the wheel doesn't exist for this platform, that means you're using a 32bit pyt

[2020-02-12 11:45] Spider8801 opened #36693 "Spelling of placeholder incorrect in line 53... :P"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://github.com/tensorflow/t

[2020-02-12 11:58] Flamefire commented on #33975
This has nothing to do with MKL, it is Bazel generally not able to match resolved vs unresolved paths, see https://github.com/tensorflow/tensorflow/issues/33975#issuecomment-549397196 and https://github.com/bazelbuild/bazel/issues/10167: It compares unresolved symlinks to resolved paths reported by gcc. @ymodak You might want to fix the tags and assignment.

A potential patch to TensorFlow is http

[2020-02-12 12:02] Flamefire commented on #36539
@jsimsa Why is this a documentation issue if there is no way to solve this problem using the current code? As I argued in the initial description there is no way to use the current API to work with common use cases, in particular: "Iterate over full dataset except incomplete trailing batch". I reviewed the code to come to this conclusion and posted the relevant links to verify this along with the

[2020-02-12 12:10] Flamefire commented on #36626
@byronyi Basically a way to use either TFDS or TFRecord files where shuffling considers the whole dataset. To be more specific: I expect a dataset to know its size and provide random access to its elements where this is possible (and I assume for most datasets it is possible as they use images, videos or whatever files or lines which can be counted and ordered first, I even thought TFRecord files

[2020-02-12 12:14] aGiant opened #36694 "Different gradient results for same custom loss function in Tensorflow 2.0"
Tensorflow 2.0 & Python 3.7

[code]

Two different trains, the same results were expected but two very different results came out.
First one, just let rate = 0.5

[code]

In case II, just put the factor out and let rate = 1.0 but put 0.5 to ewc_loss:

[code]

Tests were with random samples, but the same for those test codes described above.
We evaluated the model using two test sets, loss = custom

[2020-02-12 12:16] OverLordGoldDragon commented on #33487
@robieta @qlzh727 @tomonodes Results in for TF 2.1 `train_on_batch()`; Small-Small through Large-Small: equal to or _much faster_ than the best of TF1 & TF2. Large-Large: ... **47% slower** than TF2, in both Eager and Graph. What's the deal?

Also Medium-Large was 2% slower ("equal"), and Large-Large Eager didn't OOM. Small-Large also ~equal to TF2. Basically, it seems to have grown worse on proce

[2020-02-12 12:19] vladostan commented on #24828
I have CUDA 10.0, cuDNN 7.4.1 (also tried 7.6.5), ubuntu 18.04
For tensorflow-gpu==2.0.0 setting up allow_growth = True didn't help
setting up allow_growth = True helped for tensorflow-gpu==1.14.0

[2020-02-12 12:25] betterze commented on #32793
any update about this issue? I am also facing the same problem.

[2020-02-12 12:36] ashwin17083 commented on #36238
Hi @gadagashwini, I tried it on conda 4.8.0 and it worked. 👍
Really appreciate your help

[2020-02-12 12:36] #36238 closed

[2020-02-12 12:37] terryheo commented on #36445
Are you seeing #36661 ? Please refer it.
It seems that SIGILL issue was gone.

[2020-02-12 12:56] mindis commented on #36621
thanks @jvishnuvardhan but unfortunately in my use case, data shape is dynamic and I can only get shape with tf.shape(), but then resulting Tensor is not accepted by  tf.image.extract_patches.

see example with dynamic shape

[code]

`TypeError: Expected int for argument 'ksizes' not None.`

[2020-02-12 13:12] tmensink opened #36695 "Function String Keras Attention Layer contains error/typo"
It is a documentation issue, but embedded in the code. This seems most appropriate issue template.

## URL(s) with the issue:
https://github.com/tensorflow/tensorflow/blob/v2.1.0/tensorflow/python/keras/layers/dense_attention.py#L187-L313

## Description of issue (what needs changing):
There is an error in the provided example (L236 - 276):

Here is a code example for using `Attention` in a CNN+At

[2020-02-12 13:16] ashishmagar600 commented on #25162
tflite_model = converter.convert()

Why are there not any updates after this...??

[2020-02-12 13:20] Jamesswiz commented on #24828
I had the same issue for TF2, Cuda-10, Cudnn-7.4/7.6

# this workaround worked for me for cudnn failure
physical_devices = tf.config.experimental.list_physical_devices('GPU')
tf.config.experimental.set_memory_growth(physical_devices[0], True)

Note if you want to use Keras:fit_generator(), multiprocessing=True will again cause memory errors, so better to write your own custom multiprocessing queue

[2020-02-12 13:20] JesperLindberg commented on #36576
@ihuale I switched to libtoch (pytorch) 1.4 instead. At least it windows supported and cmake makes it much easier than bazel.

[2020-02-12 13:24] Jakejaga5 commented on #25162
@ashishmagar600 could be elaborate more?

[2020-02-12 13:34] valsworthen commented on #36266
I'm having a similar issue. Everything's ok if I create a dataset from a `pd.DataFrame` containing 100k samples. However, if I open a `pd.DataFrame` containing 1k samples, then duplicate it to 2k samples, it crashes.

I'm working on TF 2.0.

[2020-02-12 13:49] Jamesswiz commented on #24828
I had the same issue for TF2, Cuda-10, Cudnn-7.4/7.6

this workaround worked for me for cudnn failure as mentioned above
physical_devices = tf.config.experimental.list_physical_devices('GPU')
tf.config.experimental.set_memory_growth(physical_devices[0], True)

Note if you want to use Keras:fit_generator(), multiprocessing=True will again cause memory errors, so better to write your own custom mult

[2020-02-12 13:57] ClementWalter commented on #25093
I suggest using `pyenv` for managing python versions

[code]

[2020-02-12 14:09] OverLordGoldDragon commented on #33487
New info in: `fit()` is much faster, but is still slower than TF2's. But more interestingly:

<img src="https://user-images.githubusercontent.com/16495490/74341828-d709ec00-4dc1-11ea-93cd-7e46c907355e.png" width="500">

Before this image, the average was 4.65 secs - these are the 50 after restarting the kernel and running again. I noticed in the first one that iterations were as fast as 3 secs. It

[2020-02-12 14:09] Danfoa commented on #9512
As mentioned by @mohamed-ezz:

In order to properly log runs with custom callbacks this needs to be addressed. I believe this should be reopen or a new issue needs to be created

[2020-02-12 14:17] cheshire commented on #32793
@betterze Have you tried running under the environment variable specified in the previous comment?

[2020-02-12 14:20] LambertMark opened #36696 "UpSampling2D doesn't support bfloat16 in TF 2.1"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.1
- Python

[2020-02-12 14:23] vertcli commented on #30490
The same here.

I run the following code:

import tensorflow as tf

saved_model_dir = "./saved_model"
converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir)
tflite_model = converter.convert()

Tensorflow version 1.14.0

And I got the error:

2020-02-12 14:18:28.766546: I tensorflow/lite/toco/import_tensorflow.cc:1336] Converting unsupported operation: NonMaxSuppressionV3
2020-02-12

[2020-02-12 14:42] muellesi opened #36697 "Training suddenly freezes"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): unknown 2.0.

[2020-02-12 15:14] mdanatg commented on #34947
@Joey155 it might be interesting to see if polyval can be made to work with tensor inputs by taking its source code and putting it in a `tf.function`. That said, there are a couple of bugs and `GradientTape` doesn't give high-order gradients for `tf.while_loop`, which would need to be fixed first.

[2020-02-12 15:19] mdanatg commented on #36146
@namedtoaster You can safely ignore that warning, but otherwise you want a binary that is built with those features enabled. Try to see if you can rebuild it with these bazel options: `--copt=-mavx2 --copt=-msse4 --copt=-mfma`

[2020-02-12 15:25] betterze commented on #32793
@cheshire Thank you for your reply. How to run under TF_XLA_FLAGS='--tf_xla_enable_xla_devices=false' ? I am not sure where to change this variable.

My promble is solved by:

[code]

Try 0,1,2 that represent different index of gpu. One of my gpu is not strong enough to train DL model, so I can choose any gpu except this one.

[2020-02-12 15:52] wwwind commented on #36692
The version of TF is actually 2.2
I put output of the command v1.12.1-24656-g0ec37eb 2.2.0-dev20200212 - TF Git version is the first number and the second is the version of TF

[2020-02-12 16:04] cheshire commented on #32793
@betterze It's an environment variable, `env TF_XLA_FLAGS='--tf_xla_enable_xla_devices=false' ./yourscript.py`

[2020-02-12 16:35] EmGarr opened #36700 "tf2 isn't enabled in tensorflow_core.python.keras.layers.__init__"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): pip install tensorflow==2.1
- TensorFlow version (use command below): 2.1
- Python version: 3.6.6
- CUDA/cuDNN version: Not used
- GPU model and memory: Not

[2020-02-12 17:01] MaximeAubanel commented on #36155
Hello everyone !

Since we switch our prediction platform to Tensorflow we are also experienced a memory leak.

After finding that out, we used **go tool pprof** in order to found where leaks where happening but it was useless. Impossible to find the leak using pprof. In fact, **pprof**'s _inuse_space_ sum output was completely different from **top**'s. Everything seemed to be fine on **pprof** bu

[2020-02-12 17:06] mihaimaruseac commented on #36683
You didn't fill the issue template at all.

Most likely you are on windows, in which case just searching for similar issues would have pointed you to other duplicated issues.

Closing as duplicate.

#36167 (comment)

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-02-12 17:06] #36683 closed

[2020-02-12 17:09] mihaimaruseac commented on #36674
What is the output of `pip list`?

[2020-02-12 17:16] suphoff commented on #35121
Resolved by #35123

[2020-02-12 17:16] #35121 closed

[2020-02-12 17:19] ChrisJH1 opened #36702 "ImportError: DLL load failed: The specified module could not be found."
Hi,

I keep hitting an import error shown below

setup is Windows 10 64 bit - Processor	Intel(R) Core(TM) i7-7820HQ - GPU Nividia Quadro M1200,

Running Spyder version 4.0 (tried 4.01 also) with python 3.7.6 (also tried 3.8) via virtual env  with tensorflow 2.  Despite a weeks worth of various combinations I am having no luck. Any help much appreciated

Home setup works fine but I need it working

[2020-02-12 17:21] cheshire commented on #35874
Thanks for such a detailed bug report! I have a fix ready which removes the two extra D2D copies.

[2020-02-12 17:22] nipnipj commented on #36674
I reinstalled everything from zero, but this time with python 3.7.0. Same problem I can't even see the version of tensorflow (`tf.__version__`)
pip list:

[2020-02-12 17:25] mihaimaruseac commented on #36674
`ImportError: DLL load failed: A dynamic link library (DLL) initialization routine failed.` is the main error.

In this case, please see https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156 and all the duplicated bugs

[2020-02-12 17:26] mihaimaruseac commented on #36702
Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

Just to sample over 100 similar issues: #36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

Please make sure you do a search in the future.

[2020-02-12 17:26] #36702 closed

[2020-02-12 17:28] acvander opened #36703 "Unable to remove model from memory"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes, it can be found in the following repository https://github.com/acvander/kaggle_real_or_not
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 18.04
- **TensorFlow installed from (source or binary)**:
Binary
- **TensorFlow version (use command below)**

[2020-02-12 17:28] TaeheeJeong commented on #36609
I tried to run it on gist and got the same error.

[image: image.png]

On Wed, Feb 12, 2020 at 12:41 AM Saduf2019 <notifications@github.com> wrote:

[2020-02-12 17:33] mdbrannock commented on #33250
Have there been any other developments on this? I'm running into the same issue (attempting to run almost the same exact code) with TF 2.1.0.

[2020-02-12 17:37] mdanatg commented on #36368
@omalleyt12

The error in the gist indicates that `inputs` is not a 2-element tuple as you'd expect, but instead a single Tensor. When you try to expand that, Python tries to iterate over that Tensor which gives you the error message. Not sure where that single Tensor is coming from, but you can see it by adding a print statement:

[code]

@Goofy-G Keras expects your dataset to be batched, so you

[2020-02-12 17:38] mdanatg commented on #36368
BTW, I couldn't see the original `count_oarams` in any of the error any more.

[2020-02-12 17:45] guillaumekln commented on #35309
I could no longer reproduce the issue with 2.1 and 2.2.0.dev20200212.

[2020-02-12 17:45] #35309 closed

[2020-02-12 17:52] nipnipj commented on #36674
Does intel i3 540 support AVX or AVX2?
If not i think that's the problem and I'll use another PC.

[2020-02-12 17:56] mimxrt commented on #33148
@houtoms As it seems the implementation takes more time than expected I wanted to continue and try your suggestion of using a dynamic number of timesteps (instead of the fixed 144). Unfortunately I get an error when doing this in TF 2.1.0 (calling `model.fit()` with an input of `<PrefetchDataset shapes: ((128, None, 128), (128, None, 1)), types: (tf.float32, tf.float32)>`:

`
InvalidArgumentError:

[2020-02-12 18:03] OverLordGoldDragon commented on #36644
Figured it out; passed `step` as a state. Didn't fix the error though, just worked around it.

[2020-02-12 18:03] #36644 closed

[2020-02-12 18:05] cheshire commented on #35874
I'll mark the bug as fixed based on removing those extra copies. From what I understand, the fact that the kernel for gradient computation is launched regardless of whether derivative is used is just a property of eager runtime, and can not really be avoided (if you don't need the gradients => don't launch under the gradient tape).

[2020-02-12 18:06] theadactyl commented on #35754
Thanks @edwardyehuang for the context.

We hear that this is a point of frustration for conda users. @gunan could add the appropriate label (feature? or build/install?) to this so we can better track this issue going forward? We'll circle round with the TF and community folks who add conda support and see what the blockers are to
 getting packages ready sooner after new TF releases.

A general rem

[2020-02-12 18:07] qlzh727 commented on #36559
Hum, what's the error u see from the assign_sub()? I would expect it to work.

[2020-02-12 18:14] migliorinie commented on #35935
I traced this issue to Windows not allowing, by default, file paths loner than 256 characters. To solve, you should set the LongPathsEnabled key in your registry to 1, as explained [here](https://knowledge.autodesk.com/search-result/caas/sfdcarticles/sfdcarticles/The-Windows-10-default-path-length-limitation-MAX-PATH-is-256-characters.html).
I'm currently checking out what happens when I rename th

[2020-02-12 18:18] ifed-ucsd commented on #35874
Thank you! I apologize for the silly question, but how do I get the fix for the D2D copies?

[2020-02-12 18:33] gowthamkpr commented on #36637
Great. I am gonna close this issue then. To understand the cause of this error please read the following [doc](https://www.tensorflow.org/api_docs/python/tf/compat/v1/experimental/output_all_intermediates). Thanks.

If you have any more questions please post them on stack overflow. Thanks!

[2020-02-12 18:33] #36637 closed

[2020-02-12 18:39] durandg12 opened #36704 "Why K.mean is used in tf.keras.losses.binary_crossentropy ?"
In [line 993](https://github.com/tensorflow/tensorflow/blob/a641fa1c5c10f0a278c7671fd6f7df550a74935d/tensorflow/python/keras/losses.py#L993) of the code of `tf.keras.losses.binary_crossentropy`, `K.mean` is called on axis `-1` of `K.binary_crossentropy(y_true, y_pred, from_logits=from_logits)`.

I wonder why there is this `K.mean` call and why `tf.keras.losses.binary_crossentropy` doesn't simply r

[2020-02-12 18:45] gowthamkpr commented on #36627
Yes. I can leave it open. As mentioned [here](https://github.com/tensorflow/tensorflow/issues/19731#issuecomment-556215327) pytorch has a way to clear it and is  being requested by many users.

[2020-02-12 18:54] julian-urban opened #36705 "TFLite: allocate_tensors() fails for 2 dense layers with quantization"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 1.15.0

I'm trying to convert a model built with keras to tflite in order to run it on an Edge TPU. If I use more than one dense layer, allocate_tensors() throws an error. It only happens for full

[2020-02-12 18:56] pingsutw opened #36706 "Why do we need to convert Keras model to tf-estimator in TF-2.0"
I want to upgrade my custom estimator model from tf1 to tf2, and I follow this link to upgrade

They recommend the use tf.keras.estimator.model_to_estimator

**TensorFlow-2.0 official doc**

In TF-1.x, in order to scale model to training on multiple workers, we convert Keras to tf-estimator.

But in TF-2.x, Keras already support distributed training well, so my question is

1. Why do we need to co

[2020-02-12 18:57] psunn opened #36707 "TFLite can't quantize op transpose_conv"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 1.15.2, 2.1.0

Quantization doesn't support op: TRANSPOSE_CONV

[code]

error mesg:

[2020-02-12 18:57] haozha111 commented on #31040
TF lite has ResizeBilinear op:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/kernels/resize_bilinear.cc

I'm guessing that the TF 2.1 doesn't contain the relevant converter changes to support this op, could you try convert your model with tf-nightly? Thanks.

[2020-02-12 19:03] jvishnuvardhan commented on #36643
@1-willAll-0

No. we encourage you to post issues with older versions also. I just checked with latest version to see whether the issue is still there in the latest version or not. I also checked with `TF2.0` and `TF2.1` and I cannot reproduce the issue as well. I noticed your note about colab.

Let me check with my laptop and respond to you soon. Thanks!

[2020-02-12 19:13] rcizzle94 opened #36708 "First python project for class--- could someone please help me understand?- exif data using python"
Here are the instructions and at the bottom is exp-11's script. I have no idea what to do. VERY new to programming.. thank you ahead of time!

Using the Exp-11.py script provide as a baseline your assignment is as follows:

1) Allow the user to enter a path

2) Using that path, process all the .jpg files contained in that folder  (note you will need to create a directory with jpg images)

3) Extra

[2020-02-12 19:14] cheshire commented on #35874
You would have to wait for it to land after it passes internal testing.

[2020-02-12 19:22] dlaiup commented on #36629
@karimnosseir , Add the two tfllite deeplab_v3 models converted with and without experimental_new_converter:
1. Without experimental_new_converter:
https://github.com/tensorflow/tensorflow/files/4194569/deeplab_v3_quant.zip
2. With experimental_new_converter:
https://github.com/tensorflow/tensorflow/files/4194570/deeplab_v3_quant_new.zip

Please check if they are what you expected. Thanks.

[2020-02-12 19:28] SARCASMOOO commented on #35573
Another thing you can try is to install an older version of libprotobuf and *protobuf. I had the same issue but I was using anaconda. I went from version 3.10.1 to version 3.8.0. After doing this it started working. Not sure if this is because I unistalled and reinstalled thoughs pakcages or if it was a version issue.

[2020-02-12 19:55] jvishnuvardhan commented on #36072
@liuxingbaoyu Can you please provide system information? I am not sure about the root-cause. Can you please check with other models and data. Some time when there is missing data, TF tries to look for the data. Please check with other datasets also. Thanks!
[code]

[2020-02-12 19:56] chrishmorris opened #36710 "Infinite recursion in TFModuleWrapper.__getattr__"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Docker container gcr.io/deeplearning-platform-release/tf-cpu.1-15
- **TensorFlow version (use command below)**: v1.15
- **Python version**: Python 3.5.6 :: Anaconda, Inc.
- **Exact command to reproduce**:

##

[2020-02-12 19:58] hi10n commented on #31922
Hi:

I have a follow up question. I am using the same setup using tflite-gpu 1.14 and get the raw data of 'Feature Extractor' & 'Box Predictor'. Can you please let me know how to go about post-processing that data using NMS and I believe we would need the anchors to use with NMS?

Thanks.

[2020-02-12 19:59] vlasenkoalexey commented on #35860
This is due to NVIDIA CUPTI libary API change:  https://developer.nvidia.com/nvidia-development-tools-solutions-err-nvgpuctrperm-cupti
In order for GPU profiling to work you need to run your job as sudo.
On Kubernetes you'll need a allowPrivilegeEscalation: true, you can see example here:
https://github.com/vlasenkoalexey/criteo/blob/05e2aa4c5a15b9e437a364295b7f1e5e2653a22b/scripts/template.yaml.j

[2020-02-12 20:06] erichaydel opened #36711 "Error TFLite converting tensorflow graph generated with config file with experimental_new_converter = True"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary (pip)
- TensorFlow version (or github SHA if from source): TF Nightly 2.2.0-dev20200212

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

[code]

**Also, please

[2020-02-12 20:08] srjoglekar246 commented on #31922
One way would be to [use TFLite's post-processing op](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tensorflowlite.md).
If you want to do things yourself, look at our [detection_postprocess](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/kernels/detection_postprocess.cc) op.

I am closing this issue now, since it has been s

[2020-02-12 20:08] #31922 closed

[2020-02-12 20:12] chrisagblake commented on #33634
For anyone who is interested I got it built on windows using the 2.1.0 release of bazel, adding in the features = ["windows_export_all_symbols"], to tensorflow/lite/build_def.bzl as before and compiling with bazel-2.1.0.exe build //tensorflow/lite:libtensorflowlite.so

[2020-02-12 20:22] jdduke commented on #33634
From a master checkout, could you try doing:

[code]

That should produce a proper .dll, though I want to make sure it's properly symbolized. Thanks!

[2020-02-12 20:27] gowthamkpr commented on #36540
@jorgeraulgomez If you are planning to work on the distributed mode then you have to follow the Distributed Tensorflow concept.

Anyways I am going to close this issue for now and if you encounter any issues in future, create a new issue. Thanks!

[2020-02-12 20:27] #36540 closed

[2020-02-12 20:28] jvishnuvardhan commented on #36642
@tsuzukit It is throwing the following error. Thanks!
[code]

[2020-02-12 21:11] crccw commented on #36510
The log with NCCL_DEBUG = INFO suggests it's out of memory.

[2020-02-12 21:23] gahaalt opened #36712 "KeyError of identity node, when using Skip Connection and RandomDrop together"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: v2.1.0-rc2-17-ge5bf8de410 2.1.0
- **Python version**: 3.7.6 Anaconda
- **CUDA/cuDNN version**: 10.2 / 7.6.5
- **GPU mo

[2020-02-12 21:26] bhack commented on #36629
@dialup Are you using the nightly version? See https://github.com/tensorflow/tensorflow/issues/29509#issuecomment-580451630

[2020-02-12 21:28] eubergene opened #36714 "Tensorflow Serving | Input to reshape is a tensor with 512 values, but the requested shape has 1"
### System information
Ubuntu 18.04.4 LTS
TF version 2.1.0
Python 3.6.9

While serving a tensorflow model I keep getting the same error related to tensor shape, it seems that tensors lose 1 dimension while in serving. Everything works fine before hosting.

Model definition:
[code]
Docker command to launch the container:
[code]

Send a request to the API:
[code]

It seems that while serving one of

[2020-02-12 21:32] markemus opened #36715 "BUG: tf.random.normal() has a fixed value in eager mode (TF2.0)"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-02-12 21:34] ymodak commented on #36454
Thanks. This is fixed now.

[2020-02-12 21:34] #36454 closed

[2020-02-12 21:41] gowthamkpr commented on #36681
@huanyingjun Github is only meant for bug/performance, build/install, feature request or docs related issues.
Please post it in stack overflow as there is a wider community to respond. Thanks!

[2020-02-12 21:41] #36681 closed

[2020-02-12 21:47] chrisagblake commented on #33634
I pulled from master on tensorflow. Then tried:
`bazel build -c opt //tensorflow/lite:tensorflowlite`

This built the .lib and .dll, however the files were tiny ~2KB and when I tried to use them I got error with unresolved symbols. I then added the following after line 168 in build_def.bzl and rebuilt in the same way:
`features = ["windows_export_all_symbols"],`

This produced the .lib that I coul

[2020-02-12 21:52] trisolaran commented on #35860
Adding `options nvidia "NVreg_RestrictProfilingToAdminUsers=0"` to /etc/modprobe.d/nvidia-kernel-common.conf
and reboot should resolve the permision issue.

[2020-02-12 21:52] chrisagblake commented on #33634
The same code worked fine when using an older commit on tensorflow:master ~15 Jan, and adding the extra line to build_def.bzl then compiling with bazel build //tensorflow/lite:libtensorflowlite.so (2.1.0 release of bazel). However I did have to keep the generated library named as .so.

[2020-02-12 22:14] gowthamkpr commented on #36649
@jdchancellor  I think you are only specifying inputs not the model outputs. Please take a look this [comment](https://github.com/tensorflow/tensorflow/issues/21894#issuecomment-487746983).

[2020-02-12 22:45] charmasaur commented on #36637
OK, but presumably the fact that `tf.compat.v1.experimental.output_all_intermediates(True)` is necessary means that there's still something to be fixed here. Surely using that function isn't the intended long-term solution for people who want to calculate gradients of `expm`?

https://www.tensorflow.org/api_docs/python/tf/compat/v1/experimental/output_all_intermediates also says that if we see thi

[2020-02-12 22:46] srinjay-paul commented on #34391
Issue persists in TF2.1.0 and nightly (12/2) releases.

[2020-02-12 23:16] LuisCampos1234 commented on #35462
yeah issue still present, same version of software as original filing

2020-02-12 14:41:15.443282: E tensorflow/core/platform/hadoop/hadoop_file_system.cc:132] HadoopFileSystem load error: libhdfs.so: cannot open shared object file: No such file or directory

[2020-02-12 23:30] KLzC commented on #33250
I’m not receiving any update for this issue.

Sincerely,
Klaus

[2020-02-12 23:32] gowthamkpr commented on #36461
@divyag11 You can define your own signatures in the form of a dictionary as shown [here](https://github.com/tensorflow/tensorflow/blob/e5bf8de410005de06a7ff5393fafdf832ef1d4ad/tensorflow/python/saved_model/save.py#L448)

[2020-02-12 23:49] rodrigoruiz commented on #33924
I'm not sure how to check the CuDNN version, but my CUDA version is 10.1.

[code]

[2020-02-12 23:53] #34752 closed

[2020-02-12 23:54] yuefengz commented on #34752
Closing now. Feel free to reopen or file a new issue if you see obvious problems on your profile.

[2020-02-12 23:59] gowthamkpr commented on #36448
@laghaout please go through the above comment and let me know if it helps. Thanks!

[2020-02-13 00:06] namedtoaster commented on #36146
@mdanatg thanks for the info. I stand corrected on my last post, I am able to do a simple tensorflow command with the original binary installed. When I tried to re-install with the optimizations I got some compiler errors that I'll try to fix at a later time. I did what you said but I get this output:

`clang: error: unsupported option '--config=opt'`

My bigger confusion right now is that when I

[2020-02-13 00:18] dlaiup commented on #36629
@bhack , I am using tensorflow 2.1.0 version.

[2020-02-13 00:19] miaout17 commented on #36156
We investigated the model and found it's actually working as intended.

Here's the detail: The model outputs up to 10 results, but the actual number of results is stored in an output tensor (output 3).
The other outputs always allocate enough memory to handle 10 results, but only the first `num_results` rows are meaningful. The rest of output buffer is uninitialized.

Below is the code snippet to

[2020-02-13 00:19] #36156 closed

[2020-02-13 00:19] tsuzukit commented on #36642
@jvishnuvardhan

Ah, sorry there were typos in the code.
Again, below is complete runnable code along with Colaboratory link that I used.

[code]

https://colab.research.google.com/drive/1NV_KXlKRv148H50SExVYdHkVCh9Acnp_?hl=ja#scrollTo=JuJ1C645yW3x

thanks!

[2020-02-13 00:19] sanjoy commented on #36675
https://github.com/tensorflow/tensorflow/blob/v2.1.0/tensorflow/python/compiler/tensorrt/test/tf_trt_integration_test_base.py#L372

That looks super fishy to me as well -- we should never need to rely on GC for *correctness*.

Is this happening because we are creating key-ing TRT engines on the tensor shapes of the inputs and ignoring the dtypes?  I.e. the key does not capture enough information?

[2020-02-13 00:20] sanjoy commented on #36675
@bixia1 @DEKHTIARJonathan Do either of you have cycles to pick this up?

[2020-02-13 00:26] houtoms commented on #33924
Can you find your `cudnn.h` file? The version should be found there.

Can you find your `cudnn.h` file? The version should be found there.

[2020-02-13 00:30] liuxingbaoyu commented on #36072
@jvishnuvardhan
[code]

It is normal on colab.

https://github.com/tensorflow/tensorflow/issues/36072#issuecomment-576813991
And modifying these settings will work.

Thanks!

[2020-02-13 00:41] dlaiup commented on #36629
@karimnosseir , using the correct convert configuration (up to ResizeBilinear_1 layer), the deeplab v3 model is running ok now. Will close this issue. Thanks.

[2020-02-13 00:41] #36629 closed

[2020-02-13 00:42] dlaiup commented on #36629
@bhack Yes, the SpaceToBatchND-Conv2D-BatchToSpaceND can be converted to a single Conv2D, thanks.

[2020-02-13 00:45] jvishnuvardhan commented on #36642
Here is the complete error trace for our reference.

[code]

[2020-02-13 00:48] karimnosseir commented on #36629
Glad it is working now.
Do you mind sharing the newly converted model

Thanks

[2020-02-13 00:49] MarkDaoust commented on #36678
Hi @jungmin-lim,

Thanks for reporting this. The docs translations in the
https://github.com/tensorflow/docs-l10n repository.

Can you copy this issue to that repository, and close this one? Thanks.

Also note that these translations are community owned. Since you seem to know how to correct this, I'm sure they'd love it if you can send a PR too.

Thanks.

[2020-02-13 00:59] gunan commented on #36252
I am sorry, I have been knee deep in another task lately, and have not been able to respond.
I will try to look into this tomorrow.

[2020-02-13 01:05] pavanky opened #36717 "MKL no longer works with tensorflow 1.15"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Centos 7

- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: source
- **Tenso

[2020-02-13 01:07] pavanky commented on #36717
tried to build with this patch, all it did was get rid of the error. The performance regression tests we have in house indicate MKL is not being used (i.e. they are on par with no-mkl).

[code]

[2020-02-13 01:10] rzyangKyle commented on #36309
I use tflite version is 2.0.

[2020-02-13 01:17] tispratik commented on #27189
What bazel version should I downgrade to for TF 1.10.0 ?

[2020-02-13 01:17] pavithrasv commented on #30882
The change to `TimeDistributed` docs have also been submitted. Thank you!

[2020-02-13 01:29] mdanatg commented on #36146
I think the error you see is expected - it's the bug described in the OP.

[2020-02-13 01:31] mdanatg commented on #36146
For the instruction set warning, try specifying `-c opt` as well. I came across this page where the author seemed to successfully use these options: https://gist.github.com/Brainiarc7/6d6c3f23ea057775b72c52817759b25c

[2020-02-13 01:47] nipnipj commented on #36674
I tried with anaconda 3.7. I guess the hardware isn't compatible.

Anaconda Error message (same as Python):

[2020-02-13 01:48] bhack commented on #36629
@dlaiup There was some changes recently in resize bilinear handling. Check https://github.com/tensorflow/tensorflow/issues/33691.

[2020-02-13 02:22] #36678 closed

[2020-02-13 02:25] k-w-w commented on #36650
Thanks for reporting this! This is one of the effects of moving into TF 2.X -- variable names are no longer uniqueified. This should be fixed in one of two places: either when the variables are created, or when the variables are saved out to HDF5.

(This should only effect the HDF5 saving format. The `tf` format should still work)

[2020-02-13 02:49] raltech commented on #36517
@jvishnuvardhan
When I switched to tf-nightly, I could reproduce the exact same error as yours.
[code]

Any updates on this issue?

[2020-02-13 02:52] sanjoy commented on #36627
This GH issue can serve a feature request.  We don't have anyone working on this in Q1 though.

[2020-02-13 03:02] rodrigoruiz commented on #33924
Where in the file would the version be?
I found this:
[code]

[2020-02-13 03:09] MichaelKarpe opened #36718 "[TPU Colab] [TF2.1] Many issues only on TPU due to data types, batch sizes and memory (gist provided with explanations)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, see gists with code on Colab [not working on TPU](https://colab.research.google.com/drive/1yk4Emyzxju85gqflEii9FVuMD6VF5vta) and [working on GPU](https://colab.research.google.com/drive/1d4_RPQ2wHg6q4wr-J8VzjSi_DMTLRZDp).
- **OS Platform and Distribution (e.g., Linux Ub

[2020-02-13 03:11] amahendrakar commented on #36289
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-13 03:11] #36289 closed

[2020-02-13 03:30] joshz123 commented on #36695
This issue looks like it is resolved

[2020-02-13 03:37] joshz123 commented on #36375
I would like to help with this issue. Is this just a case of having the documentation instead state that validation_data has been removed/ removing the line entirely?

[2020-02-13 03:49] songxuemei opened #36719 "name: Bug Issue about: why the performance of nnapi is much lower than cpu . labels: 'type:bug_template'"
#36088 # System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: android O
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: GLK-AL00,Mi 6,vivo NEX,MI 8 SE

### Describe the problem
I write  nnapidelegate in my Engine ju

[2020-02-13 03:58] Goofy-G commented on #36368
Hi
   Thanks for your reply. The original crash occured when `I run model.summary()` instead of `model.fit()`. Firstly, I used to build model with `keras.Model(input, output)`, there is no crash happen, and then I transfer it to `model.call()`.
   Furthermore, I am failed to use `tf.saved_model.save()` to export serving model in tf 2.0. But I use `tf.keras.experimental.export_saved_model()` to exp

[2020-02-13 04:02] mankeyboy opened #36720 "Getting SavedModel format from Checkpoint automatically"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):2.1.0
- Are you willing to contribute it (Yes/No):Yes

**De

[2020-02-13 04:16] Joey155 commented on #34947
@mdanatg the issue is closed now. But i will check out your directions all the same.

[2020-02-13 04:26] sayakpaul commented on #8854
Hey folks. So, how should one do this in TensorFlow 2.x? Gists are very much helpful

[2020-02-13 04:56] nipnipj commented on #36674
I checked on another PC. It has an intel i5 9400f. I could run commands `import tensorflow` and `tensorflow.__version__` without problems. I think intel i3 540 doen't suppor avx, but i'm not 100% sure if it is about the CPU.

[2020-02-13 05:08] jvishnuvardhan commented on #36695
@joshz123 Thanks. Yes, it was updated in the [`master`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/dense_attention.py).

As it was resolved, I am closing this issue. Thanks!

[2020-02-13 05:08] #36695 closed

[2020-02-13 05:14] gadagashwini commented on #36682
@themusmus, Provide the exact sequence of commands / steps that you executed before running into the problem. Thanks!

[2020-02-13 05:14] phemmer opened #36721 "Github issue creation for bugs missing"
Note that the option for bug reports is missing.

![image](https://user-images.githubusercontent.com/1826947/74403305-c9ba2500-4df4-11ea-8ec4-bc18da185557.png)

I suspect this is related to #36636 which was recently merged.

When I look at the [`00-bug-issue.md` file](https://raw.githubusercontent.com/tensorflow/tensorflow/master/.github/ISSUE_TEMPLATE/00-bug-issue.md), there is a space instead of

[2020-02-13 05:25] puneetjindal commented on #24296
@ASDen is it solved?

[2020-02-13 05:25] amahendrakar commented on #36700
Was able to reproduce the issue. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/7097b0aa2d706811bc19d086206fd55a/36700.ipynb). Thanks!

[2020-02-13 05:30] phemmer opened #36722 "Bug: Cannot load model with tf.keras.layers.Lambda & eager functions enabled"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Fedora 31
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): v2.

[2020-02-13 05:36] mjlbach commented on #31962
I'm also having this error

[2020-02-13 05:37] puneetjindal commented on #34391
i am also looking for a solution of training CRNN model with TPU strategy but shows

	.  Registered:  device='CPU'; T in [DT_FLOAT]
  device='CPU'; T in [DT_DOUBLE]
){{node model_1/lambda_1/CTCLoss}}
	TPU compilation failed
	 [[tpu_compile_succeeded_assert/_10567693008944060997/_8]]

Link to the issue [here](https://github.com/tensorflow/tpu/issues/692)

[2020-02-13 05:38] gadagashwini commented on #36686
I could replicate the issue with Tf 2.1 and Latest tf-nightly.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/72fc06af220d44e2f7a1bd9208528b7a/untitled391.ipynb). Thanks!

[2020-02-13 05:50] gadagashwini commented on #36694
@aGiant, I tried replicating the issue, but getting different error.
Please take a look at [gist](https://colab.sandbox.google.com/gist/gadagashwini/bc099589a92797d7f66dedad888e0433/untitled392.ipynb) and provide more information to reproduce issue. Thanks!

[2020-02-13 05:54] ashishmagar600 commented on #25162
The error still persists...

`ImportError: cannot import name lite
`

[2020-02-13 05:55] mankeyboy opened #36723 "Allow TrtGraphConverterV2 to accept Frozen Graph input as well as saved_model"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):2.1
- Are you willing to contribute it (Yes/No):Yes

**Desc

[2020-02-13 06:00] Saduf2019 commented on #36587
@Tarungarg98 I have replicated your issue on my local as well [result is same as the colab link you have shared above] and understand that when you execute your code on colab the dependencies are taken care, whereas on local your imports were not as expected, ["keras.backend" from keras] please use:

from tensorflow.keras import backend as K instead of #import keras.backend as K

Could you please

[2020-02-13 06:07] gadagashwini commented on #36697
@muellesi, Could you provide the standalone code to replicate the issue.

[2020-02-13 06:12] gadagashwini commented on #36703
@acvander, Can you provide the code snippet to reproduce the issue. Thanks!

[2020-02-13 06:33] gadagashwini commented on #36710
@chrishmorris, Can you provide the sample code to reproduce the reported issue. Thanks!

[2020-02-13 06:56] Jakejaga5 commented on #25162
@ashishmagar600  please upload the screenshot of your terminal

[2020-02-13 06:57] themusmus commented on #36682
following steps of [https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/label_image](url)
executed the
`$ curl -L "https://storage.googleapis.com/download.tensorflow.org/models/inception_v3_2016_08_28_frozen.pb.tar.gz" |
  tar -C tensorflow/examples/label_image/data -xz`
code and run
`$ bazel build tensorflow/examples/label_image/...`
which keeps making errors wrote above

[2020-02-13 07:03] m4tts commented on #36510
@crccw but it happens right at the beginning with a fresh booted system? there should be more than enough memory left. changing the batch size didn't chance anything aswell.
what would you suggest?

[2020-02-13 07:04] gadagashwini commented on #36677
@rohanmohapatra, Tensorflow provides two ways  to add custom loss with Keras. Please refer [this doc](https://www.tensorflow.org/guide/keras/train_and_evaluate#custom_losses). Thanks!

[2020-02-13 07:26] OmerLiberman commented on #36332
I don't know what changed but it seems fixed

[2020-02-13 07:29] sanjoy commented on #36501
`allow_growth` only means that TF will *start off* with allocating only part of the GPU memory, but there is no limit to how much of the GPU memory it can use over the execution of the program (i.e. over time, the GPU memory usage can grow).  Is this what you are observing?  If so, I think this is WAI.

To keep TF from allocation more than half the GPU for the lifetime of the process, you need to

[2020-02-13 07:34] terryheo commented on #36705
@daverim allocation works without quantization. Any idea?

[2020-02-13 07:39] terryheo commented on #36684
Please use https://www.tensorflow.org/lite/guide/faq#how_do_i_inspect_a_tflite_file

[2020-02-13 07:39] #36684 closed

[2020-02-13 07:41] arjun-majumdar commented on #36574
Hello, I have the following issue which doesn't make sense. The code that I have is as follows:

[code]

If, I re-execute the **for i in range(1, 6):** block of code again, why do I get the "_ValueError: tf.function-decorated function tried to create variables on non-first call._" ?

Thanks

[2020-02-13 08:05] OmerLiberman commented on #36332
The output is:
`

13m 43s | 220 | Epoch 1/3
-- | -- | --
13m 43s | 221 | 2020-02-13 08:01:22.217883: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcublas.so.10
13m 43s | 222 | 2020-02-13 08:01:22.788927: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcudnn.so.7
15m 55s | 223 | 1/82 [...

[2020-02-13 08:08] OmerLiberman commented on #36332
**The code I use:**

**for creating the image generator**
`
def __load_train_and_val_generators(data, image_size, val_size, image_color, batch_size, class_mode, classes):
	"""
	Returns two generators contains the files in the directory data..
	"""
	data_gen = tf.keras.preprocessing.image.ImageDataGenerator(validation_split=val_size)

	train_gen = data_gen.flow_from_directory(
		data,
		color_mode=

[2020-02-13 08:10] berylsheep-up commented on #23715
I solve the same solution by follow method.

I add the follow values into the System environment variable.
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.0\libnvvp
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.0\bin
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.0\lib
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.0\include

[2020-02-13 08:11] OmerLiberman commented on #36332
@ravikyram
sorry for the delay,
finals at school.

[2020-02-13 08:21] aGiant commented on #36694
For the first run, just delete
[code]

Model was defined as:
[code]
Data was generated by
[code]

[2020-02-13 08:34] double344931987 commented on #22854
I have same problem with tf 1.15 tensorrt 6.
Calibrate step cost all of the memory and error as following:
 E tensorflow/compiler/tf2tensorrt/utils/trt_logger.cc:41] DefaultLogger ../rtSafe/safeContext.cpp (105) - Cudnn Error in initializeCommonContext: 4 (Could not initialize cudnn, please check cudnn installation.)

[2020-02-13 08:44] neenaloysius commented on #35063
@gabolsgabs, were u able to implement CTC successfully? any updates

[2020-02-13 08:48] chrishmorris commented on #36710
Appears to be related to https://github.com/uqfoundation/dill/issues/300. I had a DoFn with a custom init method and a super call, and used save_main_session. So my beam job would have failed, for reasons unconnected with Tensorflow. However, the behaviour of TFModuleWrapper.getattr generated an especially obscure message for the error.

[2020-02-13 08:52] mankeyboy opened #36724 "Bug for TF2.x + TensorRT(7) failing when minimum_segment_size=2"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No, code used from https://github.com/tensorflow/tensorrt/blob/master/tftrt/examples/object_detection/object_detection.py and modified to remove logical errors
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: RHEL 7.6
- **Mobile device (e.g. iPhone 8, Pixel 2,

[2020-02-13 09:02] rohanmohapatra commented on #36677
@gadagashwini Can I also change the value of the backprop gradient for the loss? I do not want to explicitly use the AutoGrad.

[2020-02-13 09:10] benewade commented on #34392
@Clouxie I'm running into the exact same issue, training stops randomly with 0 GPU usage. Just wondering if you've found a workaround yet?

[2020-02-13 09:21] tanzhenyu commented on #34114
This seems a good feature request to have, for now all we support is through DenseFeatures

[2020-02-13 09:27] lowkick commented on #31040
Unfortunately I can't install the tf-nightly here, so I can't help.
For me the issue was solved just by adding this (found somewhere on the internet):
[code]
And now the model is converted. I have yet to check for correctness, but at least I have a float32 tflite model. Float16 has some other problems which i'll try to investigate later.

[2020-02-13 09:28] daverim commented on #36707
This is working for me in nightly -- please try upgrading to tf-nightly==2.2.0.dev20200212 and running your test again.

[2020-02-13 09:31] #36707 closed

[2020-02-13 09:32] Saduf2019 commented on #36708
@rcizzle94 This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2020-02-13 09:32] #36708 closed

[2020-02-13 09:34] yetanotheryeti commented on #36459
@sanjoy
Hello, are there any updates? This is a somewhat blocking issue for our team.
Thank you!

[2020-02-13 09:41] CMCDragonkai commented on #36501
This behaviour is different from before. When allow memory growth was enabled I saw a progressive incremental gpu memory growth. But now its instantly all the gpu memory. So the errors are non fatal. But previously I didn't need to enable this for tf to work on rtx 2070.

On 13 February 2020 18:29:22 GMT+11:00, Sanjoy Das <notifications@github.com> wrote:

--
Sent from my Android device with K-9 M

[2020-02-13 09:46] Zayr0 opened #36725 "Can't open the camera/webcam due to a tensorflow installation problem."
Hello, i have some problems with the installation of tensorflow and the opening of the webcam. Now i am nowhere near experienced with tensorflow, let alone the anaconda prompt menu. I hope you guys could provide me with some help. Thank you in advanced.

(tfpose) C:\Users\gebruiker\Desktop\tf-pose-estimation>python run_webcam.py --model=mobilenet_thin --resize=432x368 --camera=0
Traceback (most re

[2020-02-13 09:48] Saduf2019 commented on #36693
@Spider8801 Could you please fill the template, share the issue code and log of error faced for us to help.

[2020-02-13 10:01] laghaout commented on #36448
Yes, it's clear now, thanks.

If I were to give feedback to TF, however, I'd say that this sorting "under the hood" can be a source of confusion since the developers will normally have a certain ordering of their features in mind. Overwriting that ordering makes it difficult to read the stacked one-hot encodings or embeddings in general. If anything, it would be better to enforce that the user pro

[2020-02-13 10:02] psunn commented on #36707
thanks for have a quick look. yes, works on tf-nightly, issue closed.

[2020-02-13 10:13] amahendrakar commented on #36725
@Zayr0,
Could you please check [this](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) comment on a similar issue and let us know if it works. Thanks!

[2020-02-13 10:28] Saduf2019 commented on #36201
@galah92 Please let us know if the above comment helps and issue is resolved.

[2020-02-13 10:31] amahendrakar commented on #36722
@phemmer,
Was able to reproduce the error in [TF 2.1](https://colab.sandbox.google.com/gist/amahendrakar/2fe3544585360b1152ede567878dccc3/36722.ipynb). Works without any issues in nightly version [TF 2.2.0.dev20200212](https://colab.sandbox.google.com/gist/amahendrakar/aad6174deb95ae40bc122f784322a3c7/36722_nightly.ipynb). Please find the Gist attached. Thanks!

[2020-02-13 10:36] ucalyptus commented on #32952
@nikogamulin I came across the same error. What did you install and uninstall and reinstall can you clarify?

[2020-02-13 10:38] gadagashwini commented on #36605
Was able to replicate the issue with Tf1.15.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/5b034e9985b110e692fbc4695ac70b35/untitled383.ipynb). Thanks!

[2020-02-13 10:45] bvarbanov commented on #36445
There must be additional setup because build fails with:
sorry, unimplemented: Thumb-1 hard-float VFP ABI
OS: Ubuntu 18.04 LTS

[2020-02-13 10:55] amahendrakar commented on #36715
Was able to reproduce the issue. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/b5dfe95b4ce08d000c0cef3b05bb66d4/36715_eager.ipynb). Thanks!

[2020-02-13 11:01] OverLordGoldDragon commented on #34351
Same error for `tf-nightly 2.2.0`; any resolution?

[2020-02-13 11:19] OverLordGoldDragon commented on #34351
So, `site-packages\opt_einsum\backends\tensorflow.py` was missing - adding it from the `tf2` virtual environment made the error go away. Unsure if things are stable now, will close issue if they are.

[2020-02-13 11:29] prudhvirajboddu commented on #35462
It is but the running of lite models in PI doesn't effect by this So. I closed the issue

[2020-02-13 11:35] amin-unity commented on #33035
Hi guys, is there any update on this?

[2020-02-13 11:35] terryheo commented on #36445
I've tested both 2.0 branch and 2.1 but I can't find any build issue on cross build.

@bvarbanov did you try clean build?

CC_PREFIX=arm-linux-gnueabihf- make -j 8 -f ./tensorflow/lite/tools/make/Makefile TARGET=rpi TARGET_ARCH=armv6l clean
CC_PREFIX=arm-linux-gnueabihf- make -j 8 -f ./tensorflow/lite/tools/make/Makefile TARGET=rpi TARGET_ARCH=armv6l

[2020-02-13 11:37] nbro commented on #36375
@joshz123 Have you seen https://github.com/tensorflow/tensorflow/pull/36414?

[2020-02-13 11:40] bvarbanov commented on #36445
Try now with armv6 (no trailing l)

CC_PREFIX=arm-linux-gnueabihf- make -j 8 -f ./tensorflow/lite/tools/make/Makefile TARGET=rpi TARGET_ARCH=armv6

I get compile errors:
/usr/arm-linux-gnueabihf/include/stdlib.h:361:1: sorry, unimplemented: Thumb-1 hard-float VFP ABI

[2020-02-13 11:41] amahendrakar commented on #36483
Any updates regarding this issue? Thanks!

[2020-02-13 11:41] terryheo commented on #36445
@bvarbanov you should use armv6l. What's the result of using armv6l?

[2020-02-13 11:42] erShoeb commented on #34850
i a, working with same code and when try to run train.py getting     scale /= max(1., (fan_in + fan_out) / 2.)
TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

[2020-02-13 11:48] terryheo commented on #36445
Oh i was wrong. You're right.
You should use armv6. Now I can reproduce the issue. Let me dig more.

[2020-02-13 11:48] andrewstanfordjason opened #36727 "TFRecordDataset causes seg fault with parallel reads and parallel map of an empty file list"
== check python ===================================================
python version: 3.7.4
python branch:
python build version: ('default', 'Sep 7 2019 18:27:02')
python compiler version: Clang 10.0.1 (clang-1001.0.46.4)
python implementation: CPython

== check os platform ===============================================
os: Darwin
os kernel version: Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50

[2020-02-13 11:56] bvarbanov commented on #36445
there is a tricky part with raspberry pi zero - the similar bug has been reported to WebRTC and abseil teams... Nobody has done anything so far about it - but it's a result of incorrectly generated floating point instructions...

I can reproduce some of the crashes using cross-compiled program like thins:
int main()
{
  long long a = 1;
  auto b = static_cast<double>(a); // <--- vmov instruction h

[2020-02-13 11:59] starstalmax commented on #28496
Steps that helped me with this issue:
1. change dlopen flag to RTLD_LAZY | RTLD_GLOBAL  in platform/core/posix/load_library.cc
2. add of "-rdynamic" compilation flag to my custom  build of executable
There is.

the reason to fail was  _ZTIN10tensorflow8OpKernelE symbol that is undefined in _resampler_ops.so but present in framework libs;

[2020-02-13 11:59] terryheo commented on #36445
Could you try this?

https://github.com/terryheo/tensorflow/commit/9e4de36c24ecb84af1ac77cb9d6c46f5d885313b

[2020-02-13 12:04] Ehtasha commented on #36059
@nauyan
I'm integrating my model in flutter app using tflite plugin not in android native.

In flutter binary method is available.

I will try to implement this in android also and then update if this work there.

[2020-02-13 12:06] amahendrakar commented on #36692
@wwwind,
Sorry for the incorrect label, fixed it.
I was able to reproduce the issue on [TF-nightly](https://colab.sandbox.google.com/gist/amahendrakar/0c0c73823cc734da006e2af211424186/36692_nightly.ipynb) v2.2.0-dev20200212. However, the code runs on [TF 2.1](https://colab.sandbox.google.com/gist/amahendrakar/913ccc0dcca84a1d51189b3c76f34d7f/36692.ipynb) without any issues. Please find the attache

[2020-02-13 12:12] amahendrakar commented on #36432
Closing the issue as it is resolved.

[2020-02-13 12:12] #36432 closed

[2020-02-13 12:21] bvarbanov commented on #36445
Build is fixed. On raspberry pi zero - resulting executable is still crashing

pi@pi4:~/prob $ ls
benchmark_model  benchmark_model_performance_options  minimal
pi@pi4:~/prob $ ./minimal
Segmentation fault
pi@pi4:~/prob $ ./benchmark_model
Segmentation fault
pi@pi4:~/prob $ ./benchmark_model_performance_options
Illegal instruction
pi@pi4:~/prob $
pi@pi4:~/prob $ gdb -q ./minimal
Reading symbols fro

[2020-02-13 12:37] OverLordGoldDragon commented on #34351
Severe performance degradation relative to 2.1-stable: one `LSTM(500, return_sequences=True)` layer runs **15.6x** slower.

[2020-02-13 12:38] OverLordGoldDragon commented on #33487
Today's `tf-nightly` is also **15.6x** slower in running a single `LSTM(500, return_sequences=True)` layer than TF 2.1-stable. Though I possibly have a [faulty install](https://github.com/tensorflow/tensorflow/issues/34351).

[2020-02-13 12:38] #36483 closed

[2020-02-13 12:41] wwwind commented on #36692
@amahendrakar Thanks for the investigation!
We are using tf-night, so I would like to confirm: it will be fixed in the tf-night, right ?

[2020-02-13 12:45] bvarbanov commented on #36445
I have if fixed:

For rasbperry pi zero:
sudo apt-get install crossbuild-essential-armel

Modify the rpi_makefile.inc for rasbperry pi zero to have proper toolchain prefix:
TARGET_TOOLCHAIN_PREFIX := arm-linux-gnueabi-

[2020-02-13 12:53] moniGra commented on #35987
@haozha111 I've managed to fix this - my initial model is form keras, when I've modified its conversion to Saved Model (as suggested here: https://stackoverflow.com/questions/51858203/cant-import-frozen-graph-with-batchnorm-layer/52823701#52823701), the new SM converts properly with the latest tf-nightly and experimental converter - the problem with invoke is unfortunately still the same...

[2020-02-13 12:53] yug95 opened #36728 "Iterator Resource Error"
While running this code - [Link](https://github.com/cerlymarco/MEDIUM_NoteBook/blob/master/Time2Vec/Time2Vec2.ipynb)

Please help me with this.

[code]

[2020-02-13 13:50] nikste commented on #24496
@sanjoy I have the same issue with RTX 2080 and can build from source if needed.

[2020-02-13 14:13] PingYufeng opened #36730 "tensorflow-gpu=2.1.0 AttributeError: module 'tensorflow' has no attribute 'placeholder'"
when I used the tensorflow-gpu=2.1.0 to run in keras-python3.6 env, it said:

Using TensorFlow backend.
2020-02-13 21:47:27.592762: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library cudart64_100.dll
WARNING:tensorflow:From D:\Anaconda3\envs\keras36\lib\site-packages\tensorflow_core\python\compat\v2_compat.py:65: disable_resource_variables (from ten

[2020-02-13 14:14] urimerhav commented on #27780
Seems like this is still an issue?

[2020-02-13 14:19] byronyi commented on #27780
This is fixed with #31597 and #33836.

[2020-02-13 14:24] ximalayashanjiao commented on #26813
Having the same issue. Please reopen this

[2020-02-13 14:28] nikste commented on #24496
can confirm that building from source with changing the magic number  [`0.05` magic number](https://github.com/tensorflow/tensorflow/blob/4596b3bc1ea85ea1bfdb6c0779b90eaab65ae252/tensorflow/core/common_runtime/gpu/gpu_device.cc#L818) to `0.1` seems to fix the issue!

[2020-02-13 14:47] anas0001 commented on #36561
Yes, your notebook is working just fine.

Since I was working with 'TensorFlow Datasets' (instead of 'Requests' issue in your StackOverflow link), I tried replicated that solution by installing the TensorFlow/TensorFlow Datasets security modules in terminal by using these commands:

(Used conda since I'm working in spyder)
And some security packages were indeed installed but my issue is still pers

[2020-02-13 15:00] joshz123 commented on #36375
@nbro no I had not, I guess that answers my question. Thanks!

[2020-02-13 15:07] mdanatg commented on #31962
This looks like a bug related to `GradientTape` and `Dataset`. A few workarounds:

1. Move the @tf.function to `train_step` (so that the dataset iteration is outside the tf.function). That also seems to speed things up, which might be another bug.

2. Use `tf.gradients` instead of `GradientTape`. The downside is that tf.gradients doesn't work in eager mode:

[code]

[2020-02-13 15:29] skavulya commented on #35625
I had a similar problem with tflite post-training quantization for the SSD + mobilenetv3 model on TensorFlow 1.15.0. I resolved the issue by upgrading to TensorFlow 2.1.0 then saving the model as v1 compatible.

[code]

[2020-02-13 15:55] MaggieLieu commented on #33775
tf.nn.conv2d and tf.keras.layers.Conv2D for example are not the same. The former does not yet include bias or activation. Personally I find tf.nn more flexible in particular for custom models whereas tf.keras is easier to use.

[2020-02-13 15:55] dusanmacho commented on #24607
@gargn For speech recognition applications, as opposed to image, it is natural using dynamic shapes due to varying lengths of the input signal. Would you point to an example that deals with this dynamic aspect and uses quantization and TFLite? I am aware of [Command Recognition Android Demo](https://github.com/tensorflow/examples/blob/master/lite/examples/speech_commands/android/README.md), but th

[2020-02-13 16:06] mjlbach commented on #31962
@mdanatg For now I applied https://github.com/tensorflow/tensorflow/pull/33497 locally which fixes the problem. Currently I'm already doing 1, I can try doing 2 as well.

[2020-02-13 16:11] dtim1985 commented on #36314
Here is the output of `!ldconfig -p | grep cupti`
[code]
So seems 34844 has been already fixed in colab
But no step stats
Anyway after using fix from 34844 we are able to get GPU profile using tensorboard, so this issue is not so critical anymore (yet traces converted from step_stats are more informative then those in tensorboard)

[2020-02-13 16:54] dmitry-kabanov opened #36731 "Entity <function pfor.<locals>.f at 0x644d84950> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.14.6 (18G2022)
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: no
- **TensorFlow installed from (source or binary)**: binary, from Anaconda
- **TensorF

[2020-02-13 17:04] mihaimaruseac commented on #36721
Working on a fix

[2020-02-13 17:07] cheshire commented on #35874
Actually apologies, this was the incorrect commit, the proper fix has still not landed yet.

[2020-02-13 17:13] mihaimaruseac commented on #36674
It is the CPU lacking the AVX support.

Closing the issue as we determined what is the root cause.

[2020-02-13 17:13] #36674 closed

[2020-02-13 17:14] mihaimaruseac commented on #27189
Pleae see table at https://www.tensorflow.org/install/source#tested_build_configurations

[2020-02-13 17:26] kamalravi opened #36733 "tf.split for unequal splits when num is odd and size_splits is not available"
**System information**
- TensorFlow version: 1.14.0

**Describe the feature and the current behavior/state.**
When I have a tensor of size say [99, 100, 100, 1] and want to split (batch size 99) it into 4 parts (because I have 4 GPUs). It can't be split with the existing function. I don't always know the batch size so I can't use size_splits as well.

[2020-02-13 17:31] dlaiup commented on #36629
@karimnosseir , Sure, here is the converted model. Thanks.
https://github.com/tensorflow/tensorflow/files/4199909/deeplab_v3_quant_new.zip

[2020-02-13 17:39] dlaiup commented on #36629
@dlaiup Thanks for pointing out. I think that change is mainly for CPU kernels.

[2020-02-13 17:45] SSaishruthi commented on #35342
Is anyone working on this? If not, I would like to work on this

[2020-02-13 17:46] karimnosseir commented on #36629
Thanks for sharing. The new is faster on CPU and can also be fully delegated on Hexagon DSP.
Just tried it ~2x faster than CPU when run on hexagon

[2020-02-13 17:49] samhodge commented on #24496
In an ocean of noisy post the minimum system memory magic number totally seems logical. Thanks for sharing!

[2020-02-13 17:50] patric-r commented on #28693
I am facing the same issue (Windows, tensorflow 2.1):
Random `Error polling for event status: failed to query event: CUDA_ERROR_LAUNCH_FAILED: unspecified launch failure` errors when training LSTM networks, causing the kernel to fail.

When replacing the LSTM layers with GRU layers, everything works like a charm.
OCCT did not reveal any issues. Other stress tests worked perfectly.

Any hints/sugge

[2020-02-13 17:55] trisolaran commented on #36314
unfortunately, profiler team don't support step_stats anymore in favor of new "tf 2.0 profiler".

[2020-02-13 18:50] tomerk commented on #36272
Hi Mokke,
Thanks for the PR! I have two thoughts about this:

1. layer_test is a totally internal method, we don't want external users relying on it. This change seems explicitly designed for external users of Keras implementing their own layers and trying to use layer_test.

2. The layer_test utility isn't an effective test of layer behavior, it just makes sure certain things don't crash. You wou

[2020-02-13 18:52] acvander commented on #36703
[code]

[2020-02-13 18:53] etetteh opened #36734 "AttributeError: 'BatchGen' object has no attribute 'shape'"
I am using TensorFlow version 1.15 for a project. I have converted a BioBert pre-trained model into a Keras layer following the code [here](https://towardsdatascience.com/fine-tuning-bert-with-keras-and-tf-module-ed24ea91cff2). However, when I run my code, I get the following error:

[code]
Please, how do I fix this error? I really need your help.

[2020-02-13 19:09] #36721 closed

[2020-02-13 19:23] av8ramit commented on #36691
Can you check if https://github.com/tensorflow/tensorflow/commit/c4c8b17313e3a1dbdfb6ca0c5702d247a26604c5 fixes it for you? I've been able to reproduce and fix that issue on an 18.04 docker container with gcc5.

[2020-02-13 19:24] ROAbb commented on #21429
@Lotte1990  I have also this problem. Could you find a solution?

[2020-02-13 19:29] gargn commented on #21429
In 2.X you need to load your Keras model yourself with the `custom_objects` passed in and then call `from_keras_model`. Please reference [this](https://www.tensorflow.org/lite/convert/python_api#converting_a_keras_model_) example on how to convert a model using `from_keras_model`. Please reference [this](https://www.tensorflow.org/lite/convert/1x_compatibility) document on details on compatibility

[2020-02-13 19:38] ifrit98 commented on #22670
Can anyone share a minimal working example with multi-output models?

[2020-02-13 19:42] MarkDaoust commented on #36595
Hi @rushabh-v

I don't think that's correct.
You probably have tensorflow 1.14 installed, and "pip install tensorflow" says "tensorflow is already installed".

Try "pip install -U tensorflow".

[2020-02-13 19:45] rushabh-v commented on #36595
Okay then, should I close the PR?

[2020-02-13 19:45] dlaiup commented on #36629
@karimnosseir Yes, it can be fully deployed on DSP. Thanks for the support.

[2020-02-13 19:46] MarkDaoust commented on #36595
I think so.

[2020-02-13 19:49] ding-c3 opened #36735 "Re-compiling keras model causes save / load_model to fail"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: docker container running RHEL 7.7
- **TensorFlow installed from (source or binary)**: binary (pip)
- **TensorFlow version (use command below)**: 2.1
- **Python version**: 3.6
- **CUDA/cuDNN version**: running

[2020-02-13 19:55] TheUnixDude commented on #36595
Just to note, I did not have Tensorflow installed when I began this. Mark's suggestion is incorrect.

Trying to update via "pip install -U tensorflow" does not install the new version.

Example of how broken this is There's clearly a newer version, and pip refuses to update when told to. Note these versions have moved forward since I opened this BR.

[code]

[2020-02-13 20:03] MarkDaoust commented on #36595
Hmmm...

Other than TensorFlow already being installed, the only way I can think of for pip install to get you an old version is if you're running a system or python version that we no longer support, pip might still find all the old bersions that are supported on that system.

could that be it?
Any other ideas?

[2020-02-13 20:09] JotaRodriguez94 opened #36736 "Sudden OOM error with Tensorflow after several successfully trained batches"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution: Ubuntu 18.04.3 LTS
- TensorFlow installed from (source or binary): tensorflow installed from docker image
- TensorFlow version (use command below): v2.1.0
- Python version: 3.6.9
- GCC/Compiler version (if compiling from source): 8.3.0
- CUDA/

[2020-02-13 20:29] lamberta commented on #36595
Thanks, @TheUnixDude. Confirmed Debian stable is installing 1.14
Ignoring that we say [in the docs](https://www.tensorflow.org/install/pip) that we officially support "Ubuntu 16.04 or later (64-bit)", this is odd.

Repro in Docker:
[code]

So it doesn't seem a stable version of 2.x is available.

[2020-02-13 20:37] gunan commented on #36595
It is probably because the pip version is just too old.
could you check the pip version?
Our minimum required pip version is listed on our installation page

[2020-02-13 20:41] mihaimaruseac commented on #36595
Yes, `pip install --upgrade pip setuptools` is needed

[2020-02-13 20:42] lamberta commented on #36595
Ah, @gunan, you are right . ANd we do mention this throughout the docs.

[code]

[2020-02-13 20:42] #36595 closed

[2020-02-13 20:53] TheUnixDude commented on #36595
[code]

So Debian Stable is not a supported release for Tensorflow version 2. In fact, pip3 version 20 isn't even available in sid. But, yes, upgrading pip3 outside of the package manager does solve the problem even though pip3 now throws a warning when used.

Maybe call this out in the Beginner's page? I would not expect a beginner to know the multiple layers needed to navigate this failure.

[co

[2020-02-13 20:56] mihaimaruseac commented on #36595
Debian's package manager installs very old versions for a lot of packages. `pip`, `cabal` and others all need to be updated outside of it.

I don't know if we can document all the quirks of all the operating systems, but letting @lamberta decide what can be done.

[2020-02-13 20:58] lamberta commented on #36595
I think it's worth an additional note in the first quickstart guides because it is confusing.

My ideal solution is a patch to 1.14 with a warning for folks to upgrade their pip to install the latest version. Typically these kinds of patches are reserved for security fixes, but this is a major usability flaw, IMHO

[2020-02-13 20:59] dmus commented on #36596
As a workaround: I can get this example working when I convert the image to a tensor for computing the gradient and to a tf.Variable for updating.

[code]

[2020-02-13 21:12] TheUnixDude commented on #36595
I made a patch & pull request to the doc adding a link to the install page with a note to follow it closely - but I cannot agree to the Google CLA so I closed the PR. Sorry I can't be of more assistance there.

[2020-02-13 21:15] lamberta commented on #36595
No worries. I'll make a separate update to the docs. Thanks

[2020-02-13 21:18] mjlbach commented on #36557
Closing, this was another issue similar to https://github.com/tensorflow/tensorflow/issues/27143, even though I was pretty sure it wasn't... Sometimes a static graph will seem faster when it's actually removing iterations in which the input doesn't change (had a bug in my recurrent code).

[2020-02-13 21:18] #36557 closed

[2020-02-13 21:25] ymodak commented on #36715
Variables state is stored in when you execute script. So if you are calling same variable multiple times you will see the same result.
However if you run the same script multiple times you can see different results.
Try executing following script multiple times (#avoid calling same variable multiple times in same script)
[code]
Similarly try;
[code]

[2020-02-13 21:32] frankchn commented on #36718
Thanks for reporting the issues.

The [batch size](https://cloud.google.com/tpu/docs/troubleshooting#batch-too-small) and [dtype](https://cloud.google.com/tpu/docs/troubleshooting#unsupported_data_type) limitations are known.

Practically speaking, the TPU systems have significant amounts of host memory, so converting INT8 to INT32 data types manually should not make it OOM unless the batch and da

[2020-02-13 21:58] artemry-mlnx commented on #36691
Thanks, I'll try it but seems there's another building regression (need to double check it):
[code]

[2020-02-13 21:59] markemus commented on #36715
This is not related to the seed- the issue is that the same code behaves differently in graph vs eager mode. The same code run in graph mode will return new values each time the tensor is evaluated, but in eager mode it stores those values and returns them repeatedly.

This means that for example everyone using VAEs built in TF1.0 has code that is silently broken in TF2.0 (now that eager mode is t

[2020-02-13 22:22] av8ramit commented on #36691
Sorry for the inconvenience @artemry-mlnx I'll try and see what I can do about that right away.

[2020-02-13 22:24] gowthamkpr commented on #36448
Yes. I am closing this issue but you can go ahead and open a new issue related to docs.

[2020-02-13 22:24] #36448 closed

[2020-02-13 22:36] gowthamkpr commented on #35660
Closing this issue as the error is not reproducible. Please add additional comments and we can open the issue again. Thanks!

[2020-02-13 22:36] #35660 closed

[2020-02-13 22:38] #36209 closed

[2020-02-13 22:40] Ely-S commented on #35100
I'm also experiencing this on the official Google Cloud Platform tf2-gpu.2-1.m42 image with Python 3.53.

[2020-02-13 22:42] jsimsa commented on #35100
This warning is spurious and should be removed by https://github.com/tensorflow/tensorflow/commit/b6edd34c5858ab0ab4380da774e7e2fd81a92da0

[2020-02-13 22:58] lithuak commented on #35342
@SSaishruthi I'm trying to work on it at the moment.

[2020-02-13 22:59] jvishnuvardhan commented on #36696
@LambertMark I can reproduce the issue. [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/2802ef0d49e7ebf66c5418375f8df6c2/tf36696.ipynb) is the colab for our reference.

`tf.keras.layers.UpSampling2D` uses `tf.keras.backend.resize_images` that may not support `bfloat16`.  Let's find it. Thanks!

[2020-02-13 23:00] penpornk commented on #36717
@pavanky Could you please update the original post to provide the commands you used to import tensorflow from java as well? Thank you very much!

[2020-02-13 23:14] Jianhui-Li commented on #36717
@ashraf-bhuiyan @claynerobison

[2020-02-13 23:19] geetachavan1 opened #36737 "Updating TF to start using Bazel 2.0.0"
Updating TF to start using Bazel 2.0.0

[2020-02-13 23:22] geetachavan1 commented on #36737
issue is fixed with https://github.com/YINZHI-keji/tensorflow/pull/4634

[2020-02-13 23:22] #36737 closed

[2020-02-13 23:32] jvishnuvardhan commented on #36700
@EmGarr Importing using `tensorflow_core.` is not a suggested way for importing any module as mentioned [here](https://github.com/tensorflow/tensorflow/issues/32957#issuecomment-543819065) and [another resource](https://github.com/tensorflow/tensorflow/issues/33075#issuecomment-539070546). Thanks!

[2020-02-13 23:36] rosanag24 commented on #36140
Hello, I have the same error you had. What do you mean with "remove .python"? Please I don't get it and I really want to fix this issue.

[2020-02-13 23:40] av8ramit commented on #36691
That should be fixed now as well: https://github.com/tensorflow/tensorflow/commit/a15fe8f6066932e53c171519a011282cdb6ea451

[2020-02-13 23:44] EmGarr commented on #36700
@jvishnuvardhan I do not use this layer but however all the base model of tensorflow keras do use those imports. It means that whenever you use a Resnet50 (or others) you'll use the batch normalization from tf 1.X which have a totally different behavior for trainable is False.

[2020-02-13 23:59] Unimax commented on #30052
tried tf-nightly build '2.1.0-dev20200109' and the lastest TensorFlow-GPU also
Keras 2.3.1

problem not resolved when doing predict or predict_on_batch from model loaded from a file.

can someone confirm this? or my problem could be unrelated.

[2020-02-14 00:04] pavanky commented on #36717
@penpornk I update the original description with more information. We technically use scala and not java, but that shouldnt be too different.

[2020-02-14 00:21] pavanky commented on #36717
@penpornk Also verified from python (wheel) that MKL is not available.

[2020-02-14 00:25] #36234 closed

[2020-02-14 00:28] houtoms commented on #33924
It looks you have the correct cudnn version. @rodrigoruiz  Can you send me a repro?

[2020-02-14 00:36] Vignesh-Nswamy commented on #36136
I'm encountering the same issue

[2020-02-14 00:39] 1-willAll-0 commented on #36643
Ah, good to know!

Thanks for looking into it!

[2020-02-14 00:39] allenlavoie commented on #36720
What do you mean by "checkpoint graph"? A GraphDef and a training checkpoint?

[2020-02-14 01:04] jtanios commented on #31115
Any idea when that's happening?

[2020-02-14 01:22] penpornk commented on #36717
@pavanky Thank you very much for the additional details!
I tried this on Ubuntu 16.04, gcc 5.4.0, and python2.7. (TF 1.15.2.) The issue didn't occur to me.
[code]
The pip wheel:
[code]

I'll try CentOS 7 next.

[2020-02-14 01:45] namedtoaster commented on #36146
@mdanatg that makes sense. I should've noticed that -- I will check out that link and give it a try. Thanks

[2020-02-14 02:20] haozha111 commented on #31040
I see.

tf.lite.OpsSet.SELECT_TF_OPS tells the converter to use the TF ResizeBilinear op instead. So it can convert. But the binary size may grow a bit.

[2020-02-14 02:20] #31040 closed

[2020-02-14 02:22] Hannabrahman opened #36739 "How to get original string data back from TFRecordData"
I followed TensorFlow guide to save my string data using:
[code]
I also used ```["tf.string", "FixedLenFeature"]``` as my feature original type, and ```"tf.string"``` as my feature convert type.

However, during my training when I run my session and I create iterators, my string feature for a batch size of 2 (for example: ['food fruit', 'cupcake food' ]) would be like below. The problem is that th

[2020-02-14 03:24] monocongo commented on #36209
Thanks for the good advice, @gowthamkpr

As suggested this issue was raised on the tensorflow/models issues tracker (see [8137](https://github.com/tensorflow/models/issues/8137))

[2020-02-14 04:25] mankeyboy commented on #36720
@allenlavoie Yes, precisely. My feature request stems from this issues I've been facing in getting to a SavedModel given that I have a training checkpoint with all my weights, for eg:
[code]

The challenge I've been facing is in getting from a training checkpoint and a GraphDef to a saved_model which is a wrapping around a frozen graph with signatures and a variables folder where it maintains the

[2020-02-14 05:03] mankeyboy opened #36740 "Image Classification pretrained model breaks for batch size 1 with BaseCollectiveExecutor::StartAbort error"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): No, code used from https://github.com/tensorflow/tensorrt/tftrt/examples/image-classification
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): RHEL 7.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device:
- TensorFlow installe

[2020-02-14 05:09] Saduf2019 commented on #36734
@etetteh Could you please provide us with a simple stand alone code so we could replicate the issue faced by you.

[2020-02-14 05:43] yanz20 commented on #32381
I have the same problem, using tensorflow-gpu==2.0 and CUDA10.0, Graphic card is RTX 2070:

print(device_lib.list_local_devices())
2020-02-14 00:35:15.639841: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1618] Found device 0 with properties:
name: GeForce RTX 2070 major: 7 minor: 5 memoryClockRate(GHz): 1.62
pciBusID: 0000:01:00.0
2020-02-14 00:35:15.643490: I tensorflow/stream_executor/plat

[2020-02-14 05:43] Saduf2019 commented on #36731
@dmitry-kabanov I have executed the code provided by you [on 1.14 as mentioned in by you] and do not find any warning/issue faced by you, please find the gist here for the same[.](https://colab.sandbox.google.com/gist/Saduf2019/3365818269fe056f5fae5b39f737d9fe/36731.ipynb)

if you still face an issues please share a gist of the issue.

[2020-02-14 05:48] Saduf2019 commented on #36730
@PingYufeng  please share implementable stand alone code for the issue faced by you, for us to help you resolve the issue.

[2020-02-14 06:06] Saduf2019 commented on #36727
@andrewstanfordjason I have executed the code shared by you on nightly and do not face any issues, please find the [gist](https://colab.sandbox.google.com/gist/Saduf2019/cf71b3aba378304db1bd1b7ef496bf10/36727.ipynb) for the same.

The colab link shared by you does not have any error.

[2020-02-14 06:12] jvishnuvardhan commented on #36181
I think this was resolved. I am closing the issue. Please feel free to open if the issue persists again. Thanks!

[2020-02-14 06:12] terryheo commented on #36445
Thanks for the information. Let me fix the script.

[2020-02-14 06:16] jdchancellor commented on #36649
I tried this previously.  It appears that tensorflow knows it's an
autoencoder and a tfds dataset as duplicating the input for Y gives the
following error. (or is there some way I need to extract the x values from
the dataset at run time?)  Interestingly, I switched over to using
keras's ImageDataGenerator with flow_from_directory and was able to get the
model to start training (albeit less effici

[2020-02-14 06:22] Saduf2019 commented on #36735
@ding-c3 please refer to [this issue](https://github.com/tensorflow/tensorflow/issues/30521) to resolve the issue.

[2020-02-14 06:27] zhly0 commented on #22977
@wt-huang ，Hi wt-huang：
    Is there a doc that can elaborate how to add fake node manually？Since in tensorflow 1.11,some op like transpose conv can not add fake node automatic.
Thanks,if you can help me,I search the internet for several days,but counld not find any doc.

[2020-02-14 06:32] Saduf2019 commented on #36330
@yxchng  Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-14 06:33] #36330 closed

[2020-02-14 06:38] Saduf2019 commented on #36307
@matthiasseibold Please let us know if the above comment helps resolve the issue.

[2020-02-14 06:39] gadagashwini commented on #36728
@yug95, Please provide the Tensorflow version. Thanks!

[2020-02-14 06:41] gadagashwini commented on #36733
@kamalravi, Can you provide the sample code snippet to analyze the reported issue. Thanks!

[2020-02-14 06:43] Saduf2019 commented on #36248
@peter197321 Could you please respond to the above comment, so we could help you resolve the issue.

[2020-02-14 06:47] gadagashwini commented on #36736
@JotaRodriguez94, Thanks for reporting this issue.
Could you provide the complete standalone code to replicate the reported issue. Thanks!

[2020-02-14 06:52] Saduf2019 commented on #36247
@himanshisyadav Please let us know if the above comment helps resolve the issue.

[2020-02-14 07:00] nauyan commented on #36059
@Ehtasha sure that would be nice.

[2020-02-14 07:05] alanpurple commented on #35653
successfully build image with latest master, closing

[2020-02-14 07:05] #35653 closed

[2020-02-14 07:05] alanpurple commented on #35922
successfully build image with latest master, closing

[2020-02-14 07:05] #35922 closed

[2020-02-14 07:21] ogsharma commented on #25346
Hi guys, do you have a date for us in terms of when we can expect an NCF implementation in tensorflow 2.x?

[2020-02-14 07:35] yug95 commented on #36728
tensorflow  - 2.0.0

[2020-02-14 07:49] galah92 commented on #36201
@ymodak @Saduf2019 Thanks, I'm currently ignoring these warnings. It's just weird that that's the default, I didn't expect warning if my machine don't even have a GPU.
Thanks again.

[2020-02-14 08:02] pandrey-fr commented on #36730
From your error stack, it looks like you are trying to execute TensorFlow 1 code (e.g. creating placeholder tensors) whose syntax is no longer supported in TensorFlow 2, which introduced numerous non-backward-compatible API changes.

Please [read about the API changes](https://www.tensorflow.org/guide/effective_tf2) to upgrade your code, or run your code with TensorFlow 1.15.

[2020-02-14 08:04] Tarungarg98 commented on #36587
It works after making the change. Thank you

[2020-02-14 08:26] Sam-Persoon commented on #36391
Any updates on this?

[2020-02-14 08:26] Sam-Persoon commented on #36505
Any updates on this?

[2020-02-14 08:36] #36587 closed

[2020-02-14 08:39] #36201 closed

[2020-02-14 08:55] Saduf2019 commented on #36201
As the issue has been resolved, moving it to closed status

[2020-02-14 08:58] Saduf2019 commented on #36169
@ffriande Could you please confirm if the abvoe comment helps resolve the issue.

[2020-02-14 09:11] mankeyboy commented on #36724
I have tested for other batch sizes and this is failing for all batch sizes so updating the issue name. Output for batch size:8
[code]

[2020-02-14 09:12] Saduf2019 commented on #36021
@hartikainen please confirm if above comment helps resolve the issue.

[2020-02-14 09:13] etetteh commented on #36734
Please, the steps involve
1. cloning this [repo](https://github.com/YerevaNN/mimic3-benchmarks)
2. creating the tf.Module Keras layer following this [colab file](https://colab.research.google.com/drive/1ofSfThTBlWjOx5dqXmdsIol-MdiqCyZC)
The model to use is:
[code]

3. Download the dataset [here](https://drive.google.com/drive/folders/1KwXMENqypwDW5kQwRPa945ijUVta428v?usp=sharing)
4. run this line

[2020-02-14 09:18] Saduf2019 commented on #35835
@sspohrer could you please respond to the above comment

[2020-02-14 10:30] hartikainen commented on #36021
It's still a little unsatisfactory that the deserialization does not fully recover the item that was serialized. The above solutions would require some custom code for deserialization even for attributes that exist by default for `tf.Module`, which makes me feel like this way of saving/loading should raise `NotImplementedError` if the user doesn't manually implement the deserialization behavior? O

[2020-02-14 10:38] TuringLee commented on #28164
hello,  what did you rebuilding ?

[2020-02-14 11:10] Abdelrahmanalii opened #36746 "Best Method To import Multiple Tensorflow Models in Inference"
suppose i have 3 Models in Tensorflow each for a specific problem while inference with a web cam or in real time processing, my question is how can i import multiple models in one session with their frozen graph and labelpb files ? or what is the best method for doing running the 3 models at the same time ?

[2020-02-14 11:30] Randryn0 opened #36748 "Ubuntu 18.04 with RTX 2070 SUPER with tensorflow 1.13, Could not create cudnn handle: CUDNN_STATUS_INTERNAL_ERRO"
**System information**
- Have I written custom code : No
- OS: Linux 5.3.0-28 18.04.1-Ubuntu
- TensorFlow installed from pip3
- TensorFlow version: tried 13.1 and 13.2
- Python version: Python 3.6.9
- Bazel: /
- GCC/Compiler: gcc (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
- CUDA/cuDNN version: CUDA 10.0, cuDNN 7.4.2
- GPU model and memory: GeForce RTX 2070 SUPER, 8GB

**Describe the current behavior**

[2020-02-14 11:31] Pathakvishnu commented on #33738
en2de = torch.hub.load('pytorch/fairseq', 'transformer.wmt19.en-de.single_model', tokenizer='moses', bpe='fastbpe')
Using cache found in /home/glmr/.cache/torch/hub/pytorch_fairseq_master
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/glmr/anaconda3/envs/fairseq/lib/python3.6/site-packages/torch/hub.py", line 363, in load
    model = entry(*args, **kwargs)

[2020-02-14 11:32] Pathakvishnu commented on #33738
Anyone pls help with this problem.

[2020-02-14 11:34] lgeiger commented on #36240
@yhliang2018 @karmel @jsimsa Any updates on this?

[2020-02-14 12:01] foxik commented on #36715
Well, to me the behaviour is exactly what I expect of the eager mode. When you have
[code]
it should write the same value twice -- it was generated once during `tf.random.normal` call. So in your second example, I would expect three same values.

Similarly in your Keras code, `y` is generated once and never recomputed -- why should it? It is not a function generating random values, it was generate

[2020-02-14 12:05] dmitry-kabanov commented on #36731
Well, I do not know how to explain it. I can see this bug but I have Tensorflow provided by Anaconda distribution.

If it is irreproducible, then should I close it?

[2020-02-14 12:24] nbro commented on #36181
@jvishnuvardhan The issue https://github.com/tensorflow/probability/issues/742 (which is now the title of this issue) was not resolved yet, so you should not have closed this issue.

[2020-02-14 12:28] brookman commented on #33634
Is it possible to build TFLite for Windows and ARM(32/64)? I am asking because it would be useful to run it on the HoloLens 2 which is based on Universal Windows Platform (UWP) and has an ARM chip set.

[2020-02-14 12:59] aGiant commented on #36694
now the error was re-produced: https://colab.research.google.com/gist/aGiant/7893ade6d21be98bebbeb91f69fc0b84/untitled392.ipynb

[2020-02-14 13:05] rverdier65 commented on #33997
It does not solve the issue, but I found a work around to this problem. It worked with the `@tf.function` decorator applying all the layers one by one.

[code]

[2020-02-14 13:20] harshithdwivedi opened #36750 "Loading the in-memory loaded saved model"
Hi all,
Can someone tell me a way to load an in-memory loaded tensorflow model (a protobuf file) into Tensorflow?

For example, the current code I have is as follows:
[code]

However, instead of loading the model by providing its path, I would like to load a model by providing a bytebuffer of the loaded model file.

Can anyone tell me how I can do this? Thanks!

[2020-02-14 13:20] markemus commented on #36715
It's extremely unexpected for a stochastic tensor to become non-stochastic in eager mode. It breaks working code without warning the user, and it does it in a very nasty hard to detect way. Your output will still be normally distributed. It will still change on every initialization (if you are not using a seed). I am 100% sure there are people out there atm working on VAEs that are actually AEs.

[2020-02-14 13:41] foxik commented on #36715
I do not think this is a silent change. In eager mode, `tf.random.normal()` is a function returning a TF tensor. When executed, it generated random number, and you get back a piece of memory containing these numbers -- there is no magic for the tensor to be regenerated each time you use it (which is how it worked in a graph mode, where `tf.random_normal()` returned a node in a graph, which was ree

[2020-02-14 13:44] mdanatg commented on #33997
It looks like Model.predict is not compatible with tf.function. Note that the error is different in tf-nightly, and I confirmed that it's not caused by autograph by modifying the gist above:

[code]

[code]

[2020-02-14 14:13] pandrey-fr commented on #36715
I agree with @foxik, the current behaviour is strictly logical.
As to the proper way to add noise in TF2, as far as I know, it is by using a dedicated layer, _e.g._ the [GaussianNoise](https://www.tensorflow.org/api_docs/python/tf/keras/layers/GaussianNoise) one.

[2020-02-14 14:30] Krishnarohith10 opened #36751 "Allocator (GPU_0_bfc) ran out of memory trying to allocate 32.0KiB (rounded to 32768)"
**System information**
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): -  Windows 10 1909
TensorFlow version (use command below): -  2.1.0 - gpu version
Python version: -  3.6.9
CUDA/cuDNN version: -  10.1.243
GPU model and memory:  GTX 1660 Ti 6GB and 32GB (28GB available)

**Describe the current behavior**
Firstly it is some weighted model which I used for google-quest-challenge and sin

[2020-02-14 14:33] rohittayal595 commented on #31015
@val9299 When I am running this model which is converted like this in android, I am getting array of 10 elements with 4 inner elements each, i.e zzasu[0][0][0] = [0.4893098, 0.83000225,0.5201194,0.8918484]; Now I don't understand how these values are corresponding to "“detection_boxes, detection_classes, detection_scores, num_boxes”". Kindly help me with some links to understand.

[2020-02-14 14:34] markemus commented on #36715
I hear what you guys are saying. But I think this is a big change from the way things worked in graph mode with no warning and no easy way to see the change. All four of the examples I linked used tf.random_normal the same way I did in the example- none of them wrap it in a layer.call. This has been the standard way to create VAEs for years now- all those people were following the same tutorials a

[2020-02-14 14:36] vinorth05 commented on #34416
Any updates with tf 1.15 ?

[2020-02-14 14:46] denyHell commented on #329
I am creating multiple graph in tensorboard, and would like to have some of them printing multiple scalars ( for comparison purpose). For instance, suppose I have scalar s1,s2,...,s10, and would like s1,s2,s3 to be plotted in one graph, and s4,..., s10 to be plotted in another graph. Is there a way of doing this? Thanks in advance.

[2020-02-14 15:26] aaroey commented on #36723
@mankeyboy frozen graph is not supported by TF2.0. So instead could you build a SavedModel using your frozen graph, and then use the converter?

[2020-02-14 15:28] raajprakash commented on #5066
I run training on both the GPU's, I can see the process on both the GPU say it apears my python command is on both the GPUS, but then the GPU memory is being utilized by only the first GPU i mention. I am trying to train images for FRCNN.

command : os.environ[CUDA_VISIBLE_DEVICES[ = "0,1"

[2020-02-14 15:31] pandrey-fr commented on #36715
In my humble opinion, raising a warning whenever using `tf.random.normal` in eager mode would do more harm than good in that it would be over-triggered; yet I hear your point about the risk for incorrect code being ignorantly run, and I hope someone in the TF team will come up with a reasonable way to inform users. Perhaps tf1-to-tf2 conversion tools and tutorials already include checks on these c

[2020-02-14 15:57] markemus commented on #36715
For posterity, here's a minimal example of how to correctly run the code in the OP with a custom Keras layer:

[code]

That wasn't too bad. Alright, you guys convinced me- put something in the documentation and the update scripts (and maybe on the [migration page](https://www.tensorflow.org/guide/migrate) ) and I'll go away :)

[2020-02-14 16:09] gdudziuk commented on #35030
I have observed something similar concerning also for `model.predict`. Just add the following line at the and of the reproduction code for this issue:

[code]

`y_pred.dtype` is `float32`, based on which we may compute the size of `y_pred` as 5GB (5 120 000 kB). After `model.fit` the Python process occupies ~17.5 GB of RSS memory. After `y_pred = model.predict` it occupies ~25 GB, giving an increa

[2020-02-14 16:18] gdudziuk commented on #35030
Moreover, there seems to be a memory leak. When I repeat `y_pred = model.predict` followed by `del y_pred` several times, the memory usage increases ~2.0-2.5 GB almost each time (sometimes this does not happen, but usually it does).

It seems to be already reported in the issue keras-team/keras#13118 which is still open at the moment. The latter issue concerns Keras with TF backend  `1.12.0` and h

[2020-02-14 16:25] cheshire opened #36755 "Unify the code for GpuCompiler::OptimizeHloPostLayoutAssignment for AMD and NVidia in XLA"
The code in `GpuCompiler::OptimizeHloPostLayoutAssignment` subclasses is essentially duplicated for AMD and NVidia in XLA. This already leads to subtle bugs: TreeReductionRewriterPass is applied to NVidia, but not to AMD.

 Would it be possible to unify those, put the code in `gpu_compiler.cc`, and just check the platform to dynamically choose whether to apply NVidia-specific or AMD-specific passe

[2020-02-14 16:26] #36755 closed

[2020-02-14 16:37] ilyes-hm commented on #36470
Let me reformulate my question, Is it possible to get the network outputs as numpy and compute the loss using a numpy function (which include a command line that takes the network output as argument)?

[2020-02-14 16:46] mihaimaruseac commented on #36505
I think the issue is that you don't factor in the time spent on network operations. To me, it looks consistent

[2020-02-14 16:52] allenlavoie commented on #36720
So the GraphDef here is already frozen?

[2020-02-14 17:03] claynerobison commented on #36717
@penpornk I'm checking this out now...

[2020-02-14 17:04] val9299 commented on #31015
@rohittayal595: I'm not longer working on it. The output is explained here: https://www.tensorflow.org/lite/models/object_detection/overview#output

[2020-02-14 17:13] jjedele commented on #34114
I just debugged the weirdest effects for more than a day until I found out that some of my outputs are swapped from the order I created them in (which makes sense given it's a dictionary, but duh...).

Definitely +1 for this request and the current behaviour should be better documented.

E.g. what happens when I train my multi-output model with a tf.data.Dataset yielding structured tuples? Are the

[2020-02-14 17:22] jjedele commented on #34114
And for other people having this problem:

The models seem to have a `output_names` property which can be used to map the list back to the named outputs.

[2020-02-14 18:08] kamalravi commented on #36733
`    def make_parallel(fn, num_gpus, **kwargs):

        in_splits = {}
        for k, v in kwargs.items():
            in_splits[k] = tf.split(v, num_gpus)`

where
fn is the model
kwargs.items() are input ( [99, 100, 100, 1]) and output data ( [99, 100, 100, 1])
num_gpus is the number of available GPUs.

I want to split input and output almost evenly for each GPU. Thanks!

[2020-02-14 18:23] penpornk commented on #36717
@claynerobison Thank you very much!

[2020-02-14 18:25] jvishnuvardhan commented on #36181
@nbro I think this is more related to `tensorflow/probability` and you already opened issue there. Anyway I am opening this here. Thanks!

[2020-02-14 18:31] qlzh727 opened #36757 "Add more information about eager/graph context for Keras layer.call()"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

https://www.tensorflow.org/api

[2020-02-14 18:32] vadimen opened #36758 "Tensorflow-GPU 2.0 Docker Python script is just returning a message without executing"
I installed "tensorflow:2.0.1-gpu-py3" docker image on my Ubuntu 18.04 with nvidia-driver-435 and mx110 video card. It works and even runs the following code after few minutes of initialization
`python -c "import tensorflow as tf;print(tf.reduce_sum(tf.random.normal([1000, 1000])))"`
but when I'm trying to execute this file

https://github.com/vadimen/algorithms/blob/master/code.py

it just return

[2020-02-14 18:33] qlzh727 commented on #36757
Just FYI, keras-team is working on some documents that clearly defines the API contract for all the important interfaces for Keras, and we will update the docs related very soon.

[2020-02-14 18:49] pavithrasv commented on #36704
Thank you @durandg12 . Historically, the loss functions have been expecting that inputs are at least 2D and computing mean on the last axis in order to support sample weighting correctly.

[code]

If your input labels are [batch_size, d0] the result from the functions will be [batch_size] ie. one loss value per sample. This applies to binary, categorical and sparse categorical crossentropy functio

[2020-02-14 18:51] ding-c3 commented on #36735
@Saduf2019 Thanks for getting back!

I don't think that link resolves my issue. Our use case is to load keras model from the model file for further training.

The workaround it provided is to set `compile=False` when calling `load_model`. It will cause loading of loss / optimizer / metrics to be skipped and therefore loaded model won't be able to be trained.

[2020-02-14 19:11] aselva-eb opened #36759 "posenet negative output scores"
@tensorflow/micro

**Describe the problem**
Hello,

I'm working on a C++ implementation for the posenet model. (using multi_person_mobilenet_v1_075_float.tflite).

I can't seem to find much documentation on how to interpret the outputs of the model, but I did come across [this medium post](https://medium.com/@prajwalsingh_48273/posenet-for-android-8b6dede9fa2f). My outputs adhere to the dimensions

[2020-02-14 20:06] qianhui-wan commented on #33925
Is there a solution for this? I encountered the same problem.

[2020-02-14 21:10] mihaimaruseac commented on #36717
One additional question: are there changes in behavior between 1.15.0 and 1.15.2?

[2020-02-14 21:20] jvishnuvardhan commented on #36643
@1-willAll-0 On My MacBook Pro, I have install 2.0 and ran your code in the gist and I could not see any error with the code. Not sure why you are facing that issue. May be try uninstalling and reinstalling the TF and then check. Thanks!

[2020-02-14 21:39] amitDaMan opened #36763 "Missing dependencies in image_classification android example for instrumented test ClassifierTest"
**Describe the problem**

**Provide the exact sequence of commands / steps that you executed before running into the problem**

In the tensorflow lite image classification example for android; gradle dependencies for the instrumented test have to be added

https://github.com/tensorflow/examples/blob/master/lite/examples/image_classification/android/app/build.gradle

Fix:
needs to be added in the d

[2020-02-14 21:52] pkan2 opened #36764 "tf.linalg.svd not supporting tf.half as dtype on Windows CPU with python3.5"
Hello!

I am currently writing a test file for an optimizer toward tensorflow_addons. I use tf.linalg.svd function in the test file and I test with the case of using tf.half as dtype.

The test can pass the given CI test with Mac CPU python 3.5 and Ubuntu CPU python 3. But for the given CI test on Windows CPU with python3.5, it throws following error message:

"
ERROR:tensorflow:No OpKernel was re

[2020-02-14 22:03] qlzh727 commented on #33258
Just tested tested same code again with the latest tf-nigthly and it runs fine now.

[2020-02-14 22:03] #33258 closed

[2020-02-14 22:20] am15h opened #36766 "TensorFlowLiteC.framework in flutter : Undefined symbols for architecture & using TensorFlowLiteC directly for iOS"
**System information** -
bazel --version 2.0.0
TensorFlowLiteC.framework built as per [these instructions](https://github.com/tensorflow/tensorflow/blob/2fc54c5eacd547ba2cd9a6acf61ff131bb5f1bfd/tensorflow/lite/g3doc/guide/build_ios.md)

flutter doctor
[code]

**Steps to reproduce:**

`git clone https://github.com/am15h/tflite_flutter_plugin`
`cd tflite_flutter_plugin`
`git checkout ios_support`
`f

[2020-02-14 22:24] liufengdb commented on #36632
+1 on adding the `inference_input_type` and `inference_type` back in the v2 converter.

[2020-02-14 22:32] andrewstanfordjason commented on #36727
Clearly this is not an issue in the nightly. Thanks

[2020-02-14 22:32] #36727 closed

[2020-02-14 22:38] pavanky commented on #36717
@penpornk did you use the same build instructions or did you try something different?

[2020-02-14 22:42] qlzh727 commented on #36624
So for Sequential model, we expect the layer within it only have one input and one output. The LSTM layer with return_states=True will cause it to return more than 1 output, which violate this rule.

I think the sequential model code need to be updated to show more explicit error for this case. We already show it if your model has the input_shape (which trigger model build under the hood), but we

[2020-02-14 22:47] gowthamkpr commented on #36714
Can I see the output of `saved_model_cli`  and also what is `units` in the model?

[2020-02-14 22:48] penpornk commented on #36717
@pavanky Yes, I used the instruction you provided:
[code]

I tried building it on CentOS but got this JDK header error. (I'm using OpenJDK version 1.8.0_242, the same version I used for Ubuntu.) Any suggestions?
[code]

[2020-02-14 22:51] hongjunChoi commented on #36718
Hello Michael,

Thank you for reporting. As for errors regarding sample size not being divisible by batch size, could you try converting numpy arrays to tf.data.Dataset?

Currently, partial batch size for final batch is supported for dataset inputs.

[2020-02-14 22:57] #36704 closed

[2020-02-14 23:05] gowthamkpr commented on #36706
If you use infrastructure or other tooling that relies on Estimators, you can still build a Keras model and use model_to_estimator to convert the Keras model to an Estimator for use with downstream systems.

As you can see [here](https://www.tensorflow.org/api_docs/python/tf/estimator/Estimator#eager_compatibility), Calling methods of Estimator will work while eager execution is enabled. However,

[2020-02-14 23:06] lcdavis13 opened #36768 "Pix2Pix tutorial error: "Cannot convert a symbolic Tensor (truediv:0) to a numpy array.""
## URL(s) with the issue:

https://www.tensorflow.org/tutorials/generative/pix2pix#load_the_dataset

## Description of issue (what needs changing):

plt.imshow(inp/255.0) is not valid in latest TF. Instead you must call .eval() on the Tensor objects to convert them to numpy.

### Clear description

The existing code throws this error: "Cannot convert a symbolic Tensor (truediv:0) to a numpy array.

[2020-02-14 23:09] tomerk commented on #33929
This should be fixed for 2.2 (If you're not using a distribution strategy). We're working on a longer-term change for optimizers that should fix this more fundamentally.

[2020-02-14 23:10] pavanky commented on #36717
@penpornk this is the setup I am using (minus the Twitter specific stuff): https://gist.github.com/pavanky/5a45b29ed3ca56b7e1c747b9c0c88503

I then run `make IMAGE_TYPE=cpu USE_MKL=1`

[2020-02-14 23:22] ymodak commented on #36594
@MaUt89 Since the tutorial you are referring works fine we don't suspect it to be a bug at this point. If you can provide a dummy csv file which gives you same error as you see in your actual case will help us validate the issue and work on its fix. Apologies we cannot help you debug/fix the error without complete minimal repro code.
You can also try posting this question on StackOverFlow. Thanks!

[2020-02-14 23:23] #36594 closed

[2020-02-14 23:29] qlzh727 commented on #35902
Can't reproduce this error with latest tf-nightly 2.2.0.dev20200203. Probably the issue is fixed by the recent changes.

[2020-02-14 23:29] #35902 closed

[2020-02-14 23:34] qlzh727 commented on #36391
Adding Kathy for the save model question.

[2020-02-14 23:51] k-w-w commented on #36391
+@gargn  Should convert_variables_to_constants_v2 be working for this case?

[2020-02-15 00:05] Pinkmei opened #36769 "Tensorflow installation error"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-02-15 00:13] Pinkmei commented on #36769
Dear Tensorflow  expert,

I have tried to use miniconda to install Tensorflow cpu for Windows10. It went smoothly. However when I test it with simple line:
import tensorflow as tf
There is Import Error: DLL load failed: The specified module could not be found.

How can we fix it and have tensorflow installed completely?

Thank you in advance!
![Tensorflow_installation_err1](https://user-images.git

[2020-02-15 00:13] qlzh727 commented on #33785
Sorry for the very late reply.

I don't think compute_output_shape need to be called if we can already get the output tensor from the layer itself. It doesn't make sense to call compute_output_shape() when we have layer.output available. If the model's output doesn't carry the correct static shape information, I think we should fix the layer.call() body for that.

Could u point me to the layer in

[2020-02-15 00:15] preethivenkatesh commented on #36717
I could reproduce the results of @penpornk on Centos 7 along with all other sw installs mentioned in the original thread. Additionally I used openJDK-devel-1.8.0.
[code]

[2020-02-15 00:22] OneRaynyDay opened #36771 "Building libtensorflow for v2.1.0 fails on mac with unrecognized flag "-fno-constant-cfstrings""
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OSX 10.15.3
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.1.0 (Version on branch git/r2.1)
- Python version: Python 3.7.4
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): 0.29.1
- GCC/Compiler version (if compiling from source): CC=gcc-8

[2020-02-15 00:25] qlzh727 commented on #35306
Sorry for the very late reply. I will take a look and fix the issue.

[2020-02-15 00:43] Jack-Hewson opened #36772 "Error converting GraphDef to tflite - Check failed: GetOpWithOutput(model, output_array) Specified output array "'TFLite_Detection_PostProcess'" is not produced by any op in this graph"
**System information**
- OS Platform and Distribution = Win10
- TensorFlow installed from binary - pip
- TensorFlow version 1.13.1

**Command used to run the converter or code if you’re using the Python API**

[code]
# Copy and paste the output here.
(tensorflow1) C:\tensorflow1\models\research\object_detection>tflite_convert \ --output_file=/tmp/fuck.tflite \ --graph_def_file=tflite2/tflite_graph

[2020-02-15 00:44] matthiasseibold commented on #36307
It's not an issue for me, I just wanted to let you know that the error message might be irritating because the link is wrong

[2020-02-15 00:44] #36307 closed

[2020-02-15 02:22] #36662 closed

[2020-02-15 02:22] psyyip commented on #36662
moved to TensorFlow Serving repo

[2020-02-15 04:03] jraman opened #36775 "First example on the Tensor page results in an error"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/Tensor

The page has the breadcrumbs `TensorFlow > API > TensorFlow Core v2.1.0 > Python`.

## Description of issue (what needs changing):

Running the first example on the [Tensor](https://www.tensorflow.org/api_docs/python/tf/Tensor) page results in an error.

### Clear description

Here is the outcome of running the first

[2020-02-15 04:14] pingsutw commented on #36706
@gowthamkpr Thanks for the reply.
Instead of use Keras, I want to build a custom estimator model that build by low-level TF API.

[2020-02-15 04:41] cpark40 commented on #18829
thank you so much! you saved me

[2020-02-15 05:09] ManasRMohanty opened #36776 "tf.config.list_physical_devices() does not show GPU"
**System information**
OS Platform and Distribution - Windows 10 home
TensorFlow installed using - pip install tensorflow-gpu
TensorFlow version - 2.1.0
Python version - 3.7.4
CUDA/cuDNN version - 10.1
GPU - NVIDIA GeForce GTX 1650

I can see the GPUs in my machine as shown below.
![image](https://user-images.githubusercontent.com/42920503/74582198-e4bc9e80-4f86-11ea-9626-70c844e87bdd.png)

I have

[2020-02-15 05:56] sanjoy commented on #36740
Unfortunately the original author of image_classification.py has moved on to other things.  @DEKHTIARJonathan do you want to take a look?

[2020-02-15 06:06] Nephalen commented on #33471
https://github.com/matterport/Mask_RCNN/issues/1889#issuecomment-566217231

As mentioned in the post above. The issue can be resolved by converting passed function into a lambda function without input parameters.

[2020-02-15 06:06] #33471 closed

[2020-02-15 06:11] dartlune commented on #35860
@tamaramiteva
I resolved the problem with docker run option '--privileged=true'.
There is no more errors such as 'CUPTI_ERROR_INSUFFICIENT_PRIVILEGES'.

[2020-02-15 06:14] sanjoy commented on #24496
@chsigg Any suggestions?  Maybe we can try to initialize cuDNN, cuBLAS and other NVIDIA libraries _before_ we reserve all of the GPU memory?

We can also try to enable `allow_growth` by default, but that's going to take time.

[2020-02-15 06:44] sanjoy commented on #36501
It would be nice to have some more information here (what TF versions are you comparing?) but ultimately I'm not sure if there is much for us to do here.  The could just be a matter of the executor executing the graph in a different order.

[2020-02-15 07:03] rodrigoruiz commented on #33924
Yeah, but now not even training is working... (I updated TensorFlow)

[2020-02-15 07:40] doublexxking opened #36778 "TFTRT Int8 calibrate cost all of memory and Fail"
**System information**
Hardware : i7 + 1660ti
TensorFlow installed from source using bazel
The tf_env.txt is shown :

== check python ===================================================
python version: 3.5.2
python branch:
python build version: ('default', 'Oct  8 2019 13:06:37')
python compiler version: GCC 5.4.0 20160609
python implementation: CPython

== check os platform ======================

[2020-02-15 09:04] shazhongcheng commented on #34094
Hello！ I try tensorflow-gpu-2.1 and cuda10.1

But still run error!

This is the error information:
[code]
With the same code.

[2020-02-15 09:50] CMCDragonkai commented on #36501
Are you implying that memory growth is not happening any more on 1.15 and RTX2070. Cause that's what the option says. But it immediately allocates all memory.

On 15 February 2020 17:46:21 GMT+11:00, Sanjoy Das <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-02-15 10:10] SirRob1997 commented on #26256
Still having this problem on `1.15` is there any solution besides updating to `2.0.0`?

[2020-02-15 10:44] taozhijiang commented on #18176
I am also watching this problem, the debug version of tensorflow v1.13.1 comes to 4.7G.
Any idea now?

[2020-02-15 10:47] VyBui commented on #33749
It has been 3 months, do we have any info about this request?

[2020-02-15 10:50] rmothukuru opened #36779 "Change in the Dimension (shape) because of np.hstack on tf.keras.preprocessing.text.Tokenizer.texts_to_sequences"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes

- OS Platform and Distribution (e.g.,Linux Ubuntu 16.04): - NA, as it can be replicated in Google Colab, irrespective of an OS

Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: - NA

TensorFlow installed from (source or binary):

[2020-02-15 10:51] ManasRMohanty commented on #36776
@amahendrakar The type of this issue is not a bug.

[2020-02-15 11:03] traduy1998 opened #36780 "GPU ran out of memory when run training"
<em>
from imageai.Detection.Custom import DetectionModelTrainer
trainer = DetectionModelTrainer()
trainer.setModelTypeAsYOLOv3()
trainer.setDataDirectory(data_directory="dataset")
trainer.setTrainConfig(object_names_array=["bottle", "plastic"], batch_size=4, num_experiments=100, train_from_pretrained_model="pretrained-yolov3.h5")
trainer.trainModel()
</em>

**System information**
- OS Platform and

[2020-02-15 11:14] tanzhenyu commented on #26256
Did you try tf.contrib optimizer or tf.keras optimizer?

[2020-02-15 11:17] tanzhenyu commented on #33749
keras applications is actually in the merging process with tf model garden. Maybe we should have a formal discussion of where this should go.

[2020-02-15 11:19] JivanRoquet opened #36781 "Blas GEMM launch failed"
- Have I written custom code: yes
- OS Platform and Distribution: ubuntu 18.04
- TensorFlow installed from binary
- TensorFlow version: 2.1.0 (TensorFlow-GPU)
- Keras version: 2.3.1
- Python version: 3.6.8
- CUDA/cuDNN version: Cuda 10.1 / cuDNN 7.6.4
- GPU model and memory: Tesla K80 with 11441MiB Memory

**Describe the current behavior**

On an AWS p2.xlarge instance, when calling `model.fit` on

[2020-02-15 12:24] SirRob1997 commented on #26256
Both seem to produce NaNs for me in GPU Mode. CPU works fine though

[2020-02-15 12:41] harshithdwivedi opened #36782 "Unable to package tensorflow with Py2App"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Catalina
- TensorFlow installed from (source or binary): Binary
- TensorFlow version: 2.1.0
- Python version: 3.7
- Installed using virtualenv? pip? conda?: Yes, installed in a virtualenv using pip
- CUDA/cuDNN version: N/A
- GPU model and memory: N/A

**Describe the problem**
On running an executable that was

[2020-02-15 13:01] haolujun opened #36783 "tensorflow-1.14 and tensorflow1.15, avx512f does no performance improvements than avx2"
HI :
    I run a model use tensorflow-1.14 compiled with avx2, avx512f , and found that: avx512 does no performance improvements than avx2. The timeline of avx2 or avx512f were the same as below. MatMul is most expensive op.

Machine A:
avx512 CPU: Intel(R) Xeon(R) Silver 4110 CPU @ 2.10GHz
avx512 compile command:
bazel build tensorflow:libtensorflow_cc.so -c opt --copt=-march=native --copt=-mfpma

[2020-02-15 14:07] eubergene commented on #36714
Sorry, I've edited the number of units in the original post (512).

Output of the `saved_model_cli show --dir /tmp/models/model/1 --tag_set serve --signature_def serving_default` commeand:

[code]

[2020-02-15 15:56] artemry-mlnx commented on #36691
@av8ramit
Thanks a lot!
TensorFlow is built successfully now, but horovod installation with `pip install horovod` fails now (we use it for [TF CNN benchmark](https://github.com/tensorflow/benchmarks/tree/master/scripts/tf_cnn_benchmarks) test). I'm investigating the issue - may the above commits cause such error?
[code]

[2020-02-15 15:59] OverLordGoldDragon commented on #34351
Nevermind, didn't know `tf-nightly-gpu` is still needed for GPU.

[2020-02-15 15:59] #34351 closed

[2020-02-15 16:12] OverLordGoldDragon opened #36784 "Allow overriding `_validate_state_spec` in RNN [Feature Request]"
We are allowed to define `get_initial_state()` for initializing custom states, but not for validating them; I have a scalar hidden state, which raises an exception per `flat_state_spec[i].shape[1:]` (it assumes a 2D+ tensor). Below modification resolves it, but isn't really a workaround since it [modifies](https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/keras/layers/recurrent.

[2020-02-15 16:23] OverLordGoldDragon commented on #36784
Err, IDE fault - it _is_ overridable.

[2020-02-15 16:23] #36784 closed

[2020-02-15 16:42] Jiang-zzz commented on #30052
I got similar issue, I was using
`K.function(input, output, updates)`

[2020-02-15 17:53] 8bitmp3 opened #36785 "TF 2.1/tf.keras AdaDelta optimizer: default epsilon and learning rate values"
Hi @tanzhenyu @lamberta @dynamicwebpaige There are two param default values for AdaDelta that look different from the original implementation. It is probably explained in past discussions (and if it is the case pls let me know where I can find it so we can close this issue.) Cheers.

Similar issues: https://github.com/tensorflow/tensorflow/issues/31024 and https://github.com/tensorflow/tensorflow/

[2020-02-15 18:13] nahidalam commented on #30191
This worked in Mac

[2020-02-15 18:29] janosh commented on #24653
FWIW, I agree with @ageron. `tf.log` should have stayed the logarithm.

Having `tf.exp` next to `tf.math.log` just looks weird.

[2020-02-15 18:45] nickcorona commented on #33289
Same issue here.

[2020-02-15 18:47] ma7555 commented on #31231
This issue has been resolved with TF v2.1.0 by replacing `model.fit_generator()` with `model.fit()`

[2020-02-15 18:50] janosh opened #36786 "Add "See also" references"
This is sort of a follow up to #33756. The TF docs have undergone huge improvements over the last couple months. However, one thing I really like about the PyTorch docs which is still (mostly) missing in the TF docs are "**See also**"  references.

A lot of functions have similar or related functionality. Examples include:

1. `tf.split`, `tf.unstack`
2. `tf.size`, `tf.shape`
3. `tf.repeat`, `tf.c

[2020-02-15 19:04] ffanatic13 commented on #4914
Curious here, what behaviors do you exactly want near singularities?  Having the software perform analytic continuation, which is what I am reading here, isn't going to be an easy problem.

[2020-02-15 19:55] ManasRMohanty commented on #36776
I can see the GPU after restarting my system.

[2020-02-15 19:55] #36776 closed

[2020-02-15 21:26] MtotheKay commented on #22641
+1

[2020-02-15 23:51] CaptBender commented on #34826
I encountered the same problem using Cupy.
tensorflow==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==2.1.0
cupy==7.1.1

[2020-02-16 00:25] WibbletheDuck commented on #34743
Looking for info about this as well, trying to build in a Py3-only environment.  TF 2.1.0 seems to require Bazel >= 0.27.1 (.bazelversion says 0.29.1), which means the workaround noted above no longer applies.

Is there any way to override this, or just specify to not build the Py2 code sections?

[2020-02-16 02:46] jtanios commented on #34698
I'm having the same issue with `tensorflow-gpu==2.1.0`

[2020-02-16 03:55] giri-prasad commented on #24541
@jvishnuvardhan I've been looking for the exact same thing.. were you able to resize the segmentation mask obtained from Deeplab v3?? Any leads would be helpful ..

[2020-02-16 04:23] sanjoy commented on #36501
allow_growth is a core TF level setting.  When it is set to false (default) TensorFlow itself allocates almost all of the GPU memory into its memory pool and uses this memory pool to satisfy memory allocation requests from the various GPU kernels.  When it is set to true then TF starts of allocating only a small amount of memory into the pool, and expands the pool as needed (e.g. if the pool has 1

[2020-02-16 04:35] LGDHS opened #36787 "AttributeError: 'module' object has no attribute 'random_normal'"
AttributeError                            Traceback (most recent call last)
<ipython-input-5-73592c5fe983> in <module>()
----> 1 W=tf.Variable(initial_value=tf.random_normal(shape=(1,4),mean=100,stddev=0.35),name="W")
      2 b=tf.Variable(tf.zeros([4]),name="b")

AttributeError: 'module' object has no attribute 'random_normal'

tf has no attribute 'random_normal' ?

[2020-02-16 05:15] sanjoy commented on #34094
Unfortunately the Python program works fine on my local machine (P100): [log](https://gist.github.com/sanjoy/942bef2c1433ddfa721d173c5f539585).

Are you able to run RNN cells using cuDNN on your machine normally?  And does preventing TF from allocating all of the GPU memory at startup ([instructions](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth)) help?

[2020-02-16 05:17] shazhongcheng commented on #34094
This error will turn out on GTX1060 >_<.
I try on google cloab, it will run fluently.

[2020-02-16 05:18] shazhongcheng commented on #34094
This error will turn out on GTX1060 >_<.
I try on google cloab, it will run fluently.

[2020-02-16 05:32] yo-png opened #36788 "How to use tensorflow js on a nodejs server?"
Hi everyone 👨‍💻,
I would like to use the tensorflow js plugin with cocossd and mobilenet on the server side with nodejs.
I've already done a script on the client side that works where when the user submits a form I run tfjs:
[code]

I would like to do the same on the server side but I have node idea what modules require or how to load an image from it's base 64.

I tried to download cocossd and mo

[2020-02-16 05:32] sushil579 opened #36789 "image-utils"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-02-16 05:33] sanjoy commented on #36423
I suspect MX230 is not CUDA capable, I don't see it listed on https://developer.nvidia.com/cuda-gpus.  @nluehr Any idea?

For completeness, attribute 13 is `CU_DEVICE_ATTRIBUTE_CLOCK_RATE`.

[2020-02-16 05:34] sanjoy commented on #34094
Can you please check if this helps:

[2020-02-16 05:36] shazhongcheng commented on #34094
ok, i will try. Thank you!

[2020-02-16 05:36] sanjoy commented on #36465
I see, thanks!

How do you exit the TF processes?

[2020-02-16 05:45] Krishnarohith10 commented on #36751
Model has more parameters alongside with more layers. So, I decreased model layers and few parameters for e.g. vocab_size, etc. And now it is working. Thank you myself.

[2020-02-16 05:45] #36751 closed

[2020-02-16 06:05] sanjoy commented on #36459
I believe RSS includes all of the CUDA libraries TensorFlow loads which could explain the large memory footprint you're seeing.  Given that, I would expect multiple TF gpu processes to share the actual physical memory for these loaded shared objects.

[2020-02-16 06:28] szuer2018 commented on #27023
before import tensorflow, you should implement:
import warnings
warnings.filterwarnings('ignore',category=FutureWarning)
warnings.filterwarnings('ignore', category=DeprecationWarning)
it works for on tensorflow==1.12.0, numpy==1.18.1, python 3.6

[2020-02-16 06:43] Hemal-Mamtora opened #36790 "tf.keras.backend.set_floatx() causing ValueError (dtype conversion error) while computing tf.keras.metrics.*"
**System information** - Have I written custom code on **Google Colab**: -
**Code:**
[code]
**Error:**
[code]

OS Platform and Distribution : -
[code]
TensorFlow installed from : -
```!pip install tensorflow==2.10```
TensorFlow version : -
[code]
Python version: -
[code]
~~Bazel version :-  NA~~
~~GCC/Compiler version : - NA~~
~~CUDA/cuDNN version: -  NA~~

GPU model and memory:
[code]
~~You can c

[2020-02-16 06:55] Hemal-Mamtora commented on #36790
@MarkDaoust
Tagging you for escalation. Kindly excuse me if it is unprofessional.

[2020-02-16 07:10] alonRozental commented on #36508
@gowthamkpr It doesn't help

[2020-02-16 07:22] miaoweiwei commented on #29161
test_predict = model.predict_generator(
    test_generator,
    max_queue_size=64,
    workers=4,
    use_multiprocessing=True)

Exception in thread Thread-24:
Traceback (most recent call last):
  File "D:\Anaconda\envs\tfgpu\lib\threading.py", line 926, in _bootstrap_inner
    self.run()
  File "D:\Anaconda\envs\tfgpu\lib\threading.py", line 870, in run
    self._target(*self._args, **self._kwarg

[2020-02-16 07:39] renjie-liu commented on #36719
nnapi is implemented by OEM, it's possible the hardware vendors have not provided fast implementation yet.

[2020-02-16 08:16] JaeinKim85 opened #36791 "tflite save issue"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

[2020-02-16 09:05] iwatake2222 commented on #33634
@chrisagblake

I built tensorflowlite.dll.if.lib and tensorflowlite.dll from master branch with modified build_def.bzl.
The generated  library files work in my project  on Visual Studio 2017.
Do you happen to forget to copy tensorflowlite.dll?

I just arranged the way to generate tensorflowlite.dll which actually works at the moment.
https://gist.github.com/iwatake2222/3017d9ac3112b27cc9f5011ece99