[2016-06-10 09:56] lhlmgr opened #2779 "dynamic_rnn execution with EmbeddingWrapper"
Hi Guys,

I'm currently working on a sequence to sequence model for sequences with variable length. Instead of using buckets (like in the example of seq2seq) I used the `rnn.dynamic_rnn` function. But when I use an EmbeddingWrapper around my RNNCell I'll get exceptions because of two reasons:

- EmbeddingWrapper doesn't implement the derived property `def output_size(self):` (used in the function

[2016-06-10 10:39] corcra commented on #1452
I was also getting an error like this and fixed it by upgrading bazel from `0.1.4` to `0.2.3-2016-06-10` (installed bazel from source).

The specific error was:
[code]
after running
```bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package```

[2016-06-10 10:57] ivankreso commented on #2271
I forgot to mention that I am using tf.train.batch for data fetching, defined like this:
[code]

[2016-06-10 11:00] kuza55 opened #2780 "Potential Contribution: Ansible roles & playbooks"
I've been running tensorflow on ec2 spot instances rather than buying a GPU, and I've written a few ansible playbooks to make this easier given spot instances go down, etc.

I split the base software out into two separate Ansible roles, one for CUDA/cuDNN: (For those unfamiliar with Ansible, the meat is in blob/master/tasks/main.yml)
https://github.com/kuza55/ansible-cudnn
And one for Bazel/Tensor

[2016-06-10 11:02] bsautermeister commented on #833
I tried to to it exactly the same way as described here. But Unfortunately, it returns a tensor with unknown dimensions:

`batch_size = tf.shape(something_or_other)[0]
deconv_shape = tf.pack([batch_size, 40, 40, 32])
conv2d_transpose(..., output_shape=deconv_shape, ...)`
Returns: A  tensor with shape (?, ?, ?, ?).

`conv2d_transpose(..., output_shape=[64, 40, 40. 32], ...)`
Returns: A  tensor with

[2016-06-10 11:09] Shaikjalal commented on #1269
Hi, I tried including the op, unfortunately it doesn't build due duplicate libraries being added to the build.
The other thing I tried was to strip_unused script in python/tools, but that script when run shows me protobuf errors, any ideas how to get around the no op support for DecodeJpeg
----
bazel build tensorflow/python/tools:strip_unused && bazel-bin/tensorflow/python/tools/strip_unused --inp

[2016-06-10 11:14] Shaikjalal commented on #2570
@andrewharp sorry the strip_unused wasn't stripping it.
I recently updated to 0.9 version and now I get a protobuf error when running the strip_unused script any ideas.
bazel build tensorflow/python/tools:strip_unused && bazel-bin/tensorflow/python/tools/strip_unused --input_graph=/BBGraph/output_graph.pb --output_graph=/tmp/stripped_graph.pb --input_node_names=cast --output_node_names=final_resul

[2016-06-10 12:09] connormclaud opened #2781 "Deep MNIST for Experts Tutorial accuracy is lower than expected (0.9091)"
### Environment info
Operating System:

Ubuntu 16.04

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
Not installed

If installed from binary pip package, provide:

1. Which pip package you installed.
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.9.0rc0-cp35-cp35m-linux_x86_64.whl
2. The output from `python -c "import tensorf

[2016-06-10 13:16] jonathanmasci opened #2782 "cannot assign"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-06-10 13:17] #2782 closed

[2016-06-10 13:18] #1074 closed

[2016-06-10 13:18] MrSlayer02 opened #2783 "Building TensorFlow on RaspberryPi"
I'm trying to build `TensorFlow` on a Raspberry Pi (OS : Raspbian Jessie), but I get this error :

http://pastebin.com/zUfP4xsP

I use this command to build TensorFlow :
`sudo bazel build -c opt --local_resources 1024,1.0,1.0 --verbose_failures --ignore_unsupported_sandboxing --copt="-mfpu=neon" tensorflow/tools/pip_package:build_pip_package
`

Any help ?

[2016-06-10 13:49] samfux84 commented on #2751
Is it possible to build the tensorflow pip wheel with the following version of bazel ?

[sfux@develop01 ~]$ bazel version
..
Build label: 0.2.3- (@non-git)
Build target: bazel-out/local-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Mon Jun 6 08:27:55 2016 (1465201675)
Build timestamp: 1465201675
Build timestamp as int: 1465201675
[sfux@develop01

[2016-06-10 13:50] samfux84 commented on #2751
I have this version and encountered the problem with the missing "external" directory.

[2016-06-10 13:51] ivdorelian commented on #2536
That worked. Thank you very much, and I apologize for the late reply.

[2016-06-10 14:14] LeavesBreathe commented on #2255
@ibab thanks for your pull as it did resolve the `tf.transpose` issue that was occuring. However, a new issue has arisen. When I `optimizer.apply_gradients()`, I get the following error message:

gradient code:
[code]

[code]

Basically, there are both complex64 and float32 trainable variables that I have in the `seq2seq.py` which is based upon tensorflow's `seq2seq.py`. These trainable variables

[2016-06-10 14:18] yaroslavvb commented on #2778
Building from master builds "head" which is newer than 0.9.0

On Fri, Jun 10, 2016 at 2:23 AM, JIA Pei <notifications@github.com> wrote:

[2016-06-10 14:30] graphific opened #2784 "Lite runtime is not supported in proto3"
compiling proto3 for ios with `tensorflow/contrib/makefile/compile_ios_protobuf.sh` an error is thrown on the `make` step:

`google/protobuf/unittest_proto3_arena_lite.proto: Lite runtime is not supported in proto3.`

It seems that Lite support has been added to the master branch of protobuf however: https://github.com/google/protobuf/issues/1443

any idea why this error persists? Same for a clean

[2016-06-10 15:08] ibab commented on #2255
That's strange, as MatMul has support for `complex64`, although only on the CPU.
Maybe you are somehow forcing the op to execute on the GPU?
Currently complex support is a bit poor for GPU ops, as discussed in this issue: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/matmul_op.cc#L219

[2016-06-10 15:17] martinwicke commented on #2751
@damienmg could we have a sh_test that simply runs build_pip_package? That
should have caught this one at least, right?

On Fri, Jun 10, 2016 at 6:50 AM samfux84 <notifications@github.com> wrote:

[2016-06-10 15:32] damienmg commented on #2751
Yes this is possible,

By the way, `bazel-bin/tensorflow/tools/pip_package/build_pip_package.runfiles` is a bit weird, we generally use `$PYTHON_RUNFILES` if it exisrts or `$0.runfiles` instead. Every other file should be included as inputs of the target. Seeing the build_pip_package.sh script I actually wonder why it is not a build step for bazel?

[2016-06-10 15:47] #2420 closed

[2016-06-10 15:57] martinwicke commented on #2751
Good question. What's the easiest way to do that?
On Fri, Jun 10, 2016 at 08:32 Damien Martin-Guillerez <
notifications@github.com> wrote:

[2016-06-10 16:01] girving commented on #833
@bsautermeister Yes, that's expected behavior.  We currently don't do constant folding through partially known tensors such as the `tf.pack` here.  Hopefully that will be fixed at some point in the future.

[2016-06-10 16:07] damienmg commented on #2751
Having a genrule that call the build_pip_package script should be enough. Some adaptation will be needed from the pip package. Actually let me try to do it.

[2016-06-10 16:07] girving commented on #2703
@damienmg We have a `python_check` genrule that verifies that a symbolic link to a directory exists.  I think the check is failing since we don't depend on the symbolic link.  Can one put a symbolic link to a directory in a normal filegroup, or is something special required?

https://github.com/tensorflow/tensorflow/blob/master/util/python/BUILD#L14

On the other hand, @martinwicke, I suppose if w

[2016-06-10 16:12] #2756 closed

[2016-06-10 16:17] damienmg commented on #2703
FWIW: the path was in the output :) `/homes/plu/.cache/bazel/_bazel_plu/5fecb6612d2e95475ff53a54e377c3f7/tensorflow`

The test that check a symlink is printing a more comprehensive message about it not being a symlink, or did I read the script wrong?

[2016-06-10 16:17] damienmg commented on #2703
(and nothing special required with symlinks, but remember that when running, most files will actually be symlinks while directories will be recreated).

[2016-06-10 16:35] damienmg commented on #2751
(sorry I have to leave, my fast test show it should not be too hard, I'll try to send a PR for doing so on monday).

[2016-06-10 16:52] ebrevdo commented on #2714
can you paste more of the error trace?  need more context.

[2016-06-10 16:53] LeavesBreathe commented on #2255
Thanks again @ibab -- can't believe I didn't think of that. I'll try that out and get back to you with results.

[2016-06-10 17:09] maniteja123 commented on #1828
Hi everyone, I am new to tensorflow but have been working on it recently and was hoping to contribute. This task might help me understand the basic functionalities like adding ops. Would it be fine if I try implementing these. I suppose @siddharth-agarwal has already worked on some of these. Please let me know whether I can work on this. Thanks.

[2016-06-10 17:16] cwhipkey commented on #2784
The failing file unittest_proto3_arena_lite.proto comes the protobuf library itself, and was added at the same time that lite+proto3 support was added.  So it seems like a mismatch between the version of protobuf downloaded by download_dependencies.sh, and the protoc compiler used to run the unit test - although I would have expected the test to use the protoc built from that code.

Just to check,

[2016-06-10 17:19] jlowin opened #2787 "0.9rc0 regression when using scan over axes with shape None"
A simple cumulative sum with scan that worked in TF 0.8 fails in 0.9rc0 with an inconsistent shape error. I have attached code to illustrate the error below. Basically, a scan over the 0th axis fails when a different axis has None shape. This occurs, for example, when computing a cumulative sum over an arbitrary axis of a minibatched variable (after first transposing that axis to be in the 0th pos

[2016-06-10 17:32] mrry commented on #1758
@TianweiXing: Can you post this as a question on Stack Overflow? We're using it to track problems that are not bugs or feature requests.

[2016-06-10 17:42] girving commented on #2745
@ispirmustafa: Is `regressor.fit` supposed to take a steps argument?

[2016-06-10 17:45] petewarden commented on #2784
My usual recommendation is to make sure that you do a host install of the protobuf version you've downloaded, to make sure that the headers, libraries, and protoc binary that's in /usr/* are compatible with the version we're compiling for Android. This may be overkill, and I'm looking at better ways of handling this (e.g. compiling a local copy of the host protobuf and using that local protoc), bu

[2016-06-10 17:52] jarrydfillmore commented on #2787
+1!

[2016-06-10 17:53] alexatknit opened #2788 "Tensorflow hangs without explanation, some threads stay busy."
I've got a machine running a GTX 980 Ti with 32 gb of ram (of which about half is used by the data loading pipeline) and a i7-5930K cpu driving a network. I'm running Ubuntu 14.04, I've got the drivers x86_64-361.45.11 installed, I've installed CUDA 7.5.18_linux with CUDNN linux-x64-v4.0-prod. Every 30 or so iterations the run method hangs and 2 to 5 virtual cores are busy, with the gpu not doing

[2016-06-10 18:07] #2586 closed

[2016-06-10 18:17] alquraishi opened #2789 "DropoutWrapper has unintended mask behavior when random seed is set"
When using the non-dynamic `rnn`, if the `seed` is set to something other than `None` for `DropoutWrapper`, the dropout masks for the inputs become synchronized across time steps. I.e. the same input dimension is dropped for all time steps for a given entry in a batch. If the maximum number of time steps varies between batches, then the later time steps begin to go out of sync (but all time steps

[2016-06-10 18:20] vincentvanhoucke commented on #1774
No reply in a month. Close?

[2016-06-10 18:20] #1741 closed

[2016-06-10 18:21] vrv commented on #1774
Yup, closing due to inactivity,  re-open if more information is available.

[2016-06-10 18:21] #1774 closed

[2016-06-10 18:22] ebrevdo commented on #2550
Working on this now.

[2016-06-10 18:23] ebrevdo commented on #2463
Seems this is fixed.  @jihunchoi feel free to reopen if you're still having issues.

[2016-06-10 18:23] #2463 closed

[2016-06-10 18:24] maxmelnick opened #2790 "Issue re-building with Dockerfile.devel-gpu file"
I tried to build my own version of the `Dockerfile.devel-gpu` with the instructions on [this page](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/docker) but got the error as seen in the details below.

After doing some troubleshooting I noticed the `tensorflow/core` folder wasn't getting created by the `git clone` statement that's in the `Dockerfile.devel-gpu` so I updated

[2016-06-10 18:26] jiapei100 commented on #2778
@yaroslavvb
Weird that I just git clone tensorflow, and have it built with bazel 3.0.0, only tensorflow-0.8.0 has been built out....

[2016-06-10 18:29] ebrevdo commented on #2354
Right now, batch and batch_join use a PaddingFIFOQueue if dynamic_pad=True otherwise a FIFOQueue.  shuffle_batch uses a ShuffleQueue which does not do batchwise padding.

Maybe by combining the PaddingFIFOQueue with the ShuffleQueue underneath if someone passes dynamic_pad=True to shuffle_batch (which right now doesn't have that parameter)?  Marking as contributions welcome.  I don't have bandwidt

[2016-06-10 18:30] ebrevdo commented on #2294
We are working on more generalized nesting in general; then I'll pick this up in a couple of weeks once we have that in.

[2016-06-10 18:31] yaroslavvb commented on #2778
All the binaries you build should be build at version "head" where do u see
0.8?
On Jun 10, 2016 11:26 AM, "JIA Pei" <notifications@github.com> wrote:

[2016-06-10 18:31] ebrevdo commented on #2150
We currently use single fused weight and bias variables in order to speed up computation.  Having separate initializers would lead to a significant slowdown.  You are welcome to write your own RNNCell which creates separate weight variables, each with their own initializers.

[2016-06-10 18:39] ebrevdo commented on #2004
The main blocker I see now is a way to write the [TestResults](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/util/test_log.proto) protos we generate into a BigQuery table; which means being able to automatically generate and update the table's structure when the TestResults proto is updated.

This tool could be a start, but I'm unaware of who is maintaining it and it doesn't

[2016-06-10 18:40] zhengwy888 commented on #2714
Unfortunately there is not much output. I have added a minimal script to reproduce the hanging on dynamic_rnn and the exception on rnn().

[code]

[2016-06-10 18:40] ebrevdo commented on #2004
@caisq  feel free to remove self; just wanted you on the participants list so you see relevant updates here.

[2016-06-10 18:42] ebrevdo commented on #2787
@yuanbyu we may have to either plumb infer_shape=True through scan/map_fn/etc or just set infer_shape=False everywhere.  what do you think is best?

[2016-06-10 18:43] ebrevdo commented on #2583
For backwards compatibility reasons, we can't change bidirectional_rnn.  However we have an open PR implementing dynamic bidirectional rnn, and we can change the signature there to emit the final states.

[2016-06-10 18:43] ebrevdo commented on #2583
Indeed - your dynamic bidirectional rnn PR is the one i'm talking about ;)

[2016-06-10 18:48] ebrevdo commented on #1830
After discussing w/ @girving and @aselle, looks like gather_nd extensions will be coming in soon.  **Keep in mind** as of now, gather_nd has no gradient equivalent, so you still won't be able to use this to train :(  We'll need a scatter_nd op for that.

[2016-06-10 18:48] jiapei100 commented on #2778
@yaroslavvb
Do you mean this?
[code]

[2016-06-10 18:48] ebrevdo commented on #1742
Marked as resolved.  It's easy to create a SparseTensor if you have fixed length target sequences.

[2016-06-10 18:48] #1742 closed

[2016-06-10 18:50] ebrevdo commented on #1037
See the PR coming in now that has a dynamic_bidirectional_rnn.  That will return the split final states.  We can't modify the output signature of bidirectional_rnn now for backwards compatibility reasons.

[2016-06-10 18:51] ebrevdo commented on #389
@yuanpengX @atamahjoubfar is this still an issue?  Is it just the verbose logging that's troubling you?  when you reach the end of the input file, the queue dies and the training is restarted from the beginning.  that may explain all the warnings.

[2016-06-10 18:51] ebrevdo commented on #1037
Marking "works as intended" for now, since the dynamic birnn should solve your problem.

[2016-06-10 18:51] #1037 closed

[2016-06-10 19:07] jorgemf opened #2791 "map_fn: output type error when running the graph"
I am adding batch support to the inception example of tensorflow serving. In order to do that I have tweaked the [exporting script](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/example/inception_export.py) to support batch with a map function (I have also tweaked the inference server but I think it is not relevant for the bug):

[code]

The graph is exported without any iss

[2016-06-10 19:12] ajaybhat commented on #2682
I would like to work on this.

[2016-06-10 19:28] siddharth-agrawal commented on #1828
@maniteja123 I would suggest looking at how to implement `tf.pow()` as it is a binary operator. I have already figured out how the unitary operator code and tests need to look like, so I will be putting them out one by one.

[2016-06-10 19:57] orome commented on #2607
What do I need to do to install a version with this fix. Is an updated `.whl` available?

(I've installed `mac/tensorflow-0.9.0rc0-py2-none-any.whl`.)

[2016-06-10 20:03] ckolovson commented on #42
I am getting the following error when trying to connect to 192.168.99.101:8888 (Chrome on Win10):
This site can’t be reached
192.168.99.101 refused to connect.
Search Google for 192 168 101 8888
ERR_CONNECTION_REFUSED

[2016-06-10 20:23] danmane commented on #2607
We need https://github.com/tensorflow/tensorflow/pull/2786 to merge into 0.9 for 0.9 to be fixed.
Then, you can rebuild the .whl yourself using the build_pip_package script, or wait for us to publish an updated whl.

[2016-06-10 20:58] girving commented on #2682
@ajaybhat Let us know if you have questions or issues!

[2016-06-10 21:08] girving commented on #368
@lukaszkaiser Does `tf.multinomial` obviate `tf.choice`?

[2016-06-10 21:15] girving commented on #2790
@caisq Can you comment?

[2016-06-10 21:16] girving commented on #2788
You'll need to provide some details about what you are doing.  The most common hanging issue is that you've created an empty queue and are waiting to dequeue elements from it without any enqueues.

[2016-06-10 21:20] girving commented on #2781
@keveman Can you take a look?
@vrv, @martinwicke If real this could be another release blocker.

[2016-06-10 21:21] alexatknit commented on #2788
I do have a queue for preloading data, though the model is hanging after everything is executed, meaning that it already successfully executed the dequeue node. I'll try it without preloading, to remove any queue ops from the graph and see what happens.

[2016-06-10 21:21] girving commented on #2778
@jiapei100 The source version will say 0.8 until we release 0.9; currently we're at 0.9.0rc0 < 0.9.

[2016-06-10 21:21] #2778 closed

[2016-06-10 21:26] yaroslavvb commented on #2788
You could also create all your sessions with
"config.operation_timeout_in_ms=60000" for your ConfigProto so you crash
with DeadlineExceeded instead of hanging forever when your queues get
full/empty

On Fri, Jun 10, 2016 at 2:21 PM, alexatknit <notifications@github.com>
wrote:

[2016-06-10 21:30] alexatknit commented on #2788
I do have to clarify that I don't think this has anything to do with queues as I have this code running on 6 other machines without issue.

[2016-06-10 21:31] alexatknit commented on #2788
Yep, its hanging again without queues

[2016-06-10 21:32] girving commented on #2779
@ebrevdo Can you comment?  Is `output_size` a new or old thing?

[2016-06-10 21:33] lukaszkaiser commented on #600
This is strange: usually it'd start at the latest checkpoint. It's all saved in the --train_dir directory and the "checkpoint" file there specifies what's the latest checkpoint. Could it be that you used /tmp and your checkpoint got deleted, e.g., on restart?

[2016-06-10 21:34] girving commented on #2776
This sounds like a system configuration issue with either Python or CUDA, especially the bit where PyObject_Malloc crashes.  Do you have multiple versions of Python installed on your machine?  What information did you give to configure?

[2016-06-10 21:35] alexatknit commented on #2788
I'm running with the timeout to see if the error message has any info

[2016-06-10 21:35] vrv commented on #2781
If this doesn't happen in 0.8, then yes, it's a blocker.

[2016-06-10 21:36] lukaszkaiser commented on #368
I think it does, thanks! With the example above, I think we can close this issue. Great thanks nikitakit!

[2016-06-10 21:38] #368 closed

[2016-06-10 21:43] girving commented on #2774
@concretevitamin Looks like `tf.multinomial` doesn't subtract off the maximum logit before taking exponentials.  Can you fix it to do that?  The undocumented error case is also bad; not sure where in the code it's doing that.

[2016-06-10 21:46] girving commented on #2771
We wouldn't be able to reproduce this since it involves Windows, but it could be a path issue (maybe LD_LIBRARY_PATH?).

[2016-06-10 21:47] girving commented on #2766
Can you elaborate?  TensorFlow is already a dataflow system.  Are you imagining building a separate repository on top of TensorFlow with alternate semantics?

[2016-06-10 21:50] girving commented on #2765
@ebrevdo Do you think this is a reasonable approach?  I don't know enough about the API to answer.

[2016-06-10 21:51] girving commented on #2773
@amineHorseman Could you give run this through gdb and give us a stack trace?  It's not enough information to debug as is.

[2016-06-10 21:53] alexatknit commented on #2788
The DeadlineExceededError doesn't seem to provide any information about which nodes in the graph are executing at the time of the error.

[2016-06-10 21:53] asheshjain399 opened #2793 "Clipping gradient w.r.t. inputs at each time step for RNN/LSTM"
New feature request:

While training LSTMs, is it often useful to clip the derivates w.r.t the inputs into the LSTM at each time step ([Alex Graves](http://arxiv.org/pdf/1308.0850v5.pdf), Sec 2.1). This is different from clipping the overall gradient. Theano supports this feature with `theano.gradient.grad_clip(tensor_var)`. Can we have a similar feature in tensorflow?

[2016-06-10 21:53] keveman commented on #2781
@girving taking a look.

[2016-06-10 21:53] maxmelnick commented on #2790
It looks like the regular `git clone https://github.com/tensorflow/tensorflow.git` command is now including the tensorflow/core folder again. Not sure if this was a caching issue on my end but all good now. Thanks!

[2016-06-10 21:53] #2790 closed

[2016-06-10 21:59] girving commented on #2788
Is this a CUDA-related issue, or is it possible to reproduce with just CPU?  There could be a bug here, but I think we'd need a somewhat minimized test case in order to reproduce on our end.

[2016-06-10 22:02] lukaszkaiser commented on #1286
Indeed. Should we mark this in some way to indicate it's blocked?

[2016-06-10 22:04] lukaszkaiser commented on #1797
I'm working on a CL/PR that at least adds the name scope to variable scope. Will report back here once that's in.

[2016-06-10 22:04] kingtaurus commented on #2781
Ran a quick test:
[code]

Relevant details:
[code]

Got the following:
[code]

Changing the learning rate to (1e-3):
[code]

Which looks a little better.

[2016-06-10 22:10] girving commented on #1286
@lukaszkaiser I don't know any way to do that, unfortunately.

[2016-06-10 22:10] keveman commented on #2781
0.8.0 and 0.9.0rc0 get the same accuracy (modulo differences due to random initialization). @kingtaurus thanks for checking the learning rate.

[2016-06-10 22:24] girving commented on #2781
@keveman What is that same accuracy?  This tutorial is supposed to get to 99.2% accuracy.  If it's the same model as `models/image/mnist/convolutional.py`, that's what it should be getting.

[2016-06-10 22:28] alexatknit commented on #2788
I am seeing this when deploying it to only the cpu. Let me see if I can't narrow down a test case.

[2016-06-10 22:49] yaroslavvb commented on #2781
The models look identical except Deep MNIST for experts uses 1024
<https://www.tensorflow.org/versions/r0.9/tutorials/mnist/pros/index.html#densely-connected-layer>
for first FC layer and Vincent's model uses 512
<https://github.com/tensorflow/tensorflow/blob/6431560b7ec3565154cb9cdc9c827db78ccfebe7/tensorflow/models/image/mnist/convolutional.py#L174>

Also, Deep MNIST uses Adam, whereas convoluti

[2016-06-10 22:50] kingtaurus commented on #2781
Its not the same model:
(1) this model uses `tf.train.AdamOptimize(1e-4)` instead of (`tf.train.exponential_decay` combined with `tf.train.MomentumOptimizer` and starts at a learning rate of `0.01`)
(2)
[code]
is used for loss (rather than `tf.nn.sparse_softmax_cross_entropy_with_logits`) [this should be identical but just a minor point] ;
(3) regularization is being applied in (`models/image/mnis

[2016-06-10 23:27] alexatknit commented on #2788
It might have something to do with my system, I'm seeing the same behavior with cifar10_train.py.

[2016-06-10 23:28] girving commented on #2781
@vincentvanhoucke Should the mnist for experts tutorial be the same model as `models/image/mnist/convolutional.py`?

@keveman When you say the accuracy is the same, is it close to 99.2%?

[2016-06-10 23:35] PhABC commented on #2765
@girving Sorry, someone directed me and I made a pull request for this feature, which you can find [here](https://github.com/tensorflow/tensorflow/pull/2767) ;.

[2016-06-10 23:56] girving commented on #2453
Switching to @caisq.

[2016-06-10 23:57] girving commented on #2480
@petewarden @timbrucks What's the status of this?

[2016-06-10 23:58] girving commented on #2536
@damienmg Is there a version of that fix we could incorporate?

[2016-06-11 00:00] girving commented on #2616
Closing for now since we already check dimensions pretty thoroughly.  @konts6102 Please comment if there's something specific that we're missing and I'm happy to reopen.

[2016-06-11 00:00] #2616 closed

[2016-06-11 00:03] girving commented on #2750
Closing the issue for now since it isn't likely to go in the core `tensorflow` repo, but we'd be happy to point to it from the community resources page once it's up and running.

[2016-06-11 00:03] #2750 closed

[2016-06-11 00:06] KaroAntonio commented on #1774
sorry i know longer am using the machine this came up on so I can't give more info

[2016-06-11 00:07] girving commented on #2619
@dave-andersen Could you take a look since you touched the png reading most recently? :)

[2016-06-11 00:21] petewarden commented on #2480
We don't plan on supporting cmake ourselves, we're putting our effort behind the makefile approach for the core runtime instead. Closing this one, since we're not going to support this method.

[2016-06-11 00:21] #2480 closed

[2016-06-11 00:33] zffchen78 commented on #1065
Should have been closed.

[2016-06-11 00:33] #1065 closed

[2016-06-11 00:33] ebrevdo commented on #1828
pow(0, x) is undefined for x == 0, so that requires subtle work.

exp(0) == 1, so that densifies the SparseTensor (therefore it's not very useful)
log(0) = -inf, and i see you just pushed that; we will have to revert it because it densifies the sparse tensor.
inv(0) is not defined, and so is not implementable.

[2016-06-11 00:34] ebrevdo commented on #1828
@vrv have to assign you for now, to revert the log() change.  feel free to unassign yourself after.

[2016-06-11 00:57] ebrevdo commented on #2789
Are you interested in contributing a fix?

[2016-06-11 01:12] LeavesBreathe commented on #2255
Reporting back to @ibab  -- I tried `tf.complex(var,var)` and unfortunately it produced the same error as above. I looked at your crossed out message and I am running this on a titan x -- so this could be the problem. Here's my weight matrix code:

[code]

[2016-06-11 01:23] progdude commented on #37
+1

[2016-06-11 02:29] martinwicke commented on #2751
Awesome! That would be a great improvement of our installation process.
On Fri, Jun 10, 2016 at 09:35 Damien Martin-Guillerez <
notifications@github.com> wrote:

[2016-06-11 02:35] ebrevdo commented on #2779
This is a sort of known issue. Have you tried performing the embedding lookup on all time steps before calling rnn?  Or are you implementing a seq2seq decoder?

[2016-06-11 02:52] guohengkai opened #2797 "error when using batch_normalize in tensorflow.contrib"
When I try to use batch_normalize as `bn = batch_normalize(conv, convnet=True)`, the error is as follows:

Operating System: Ubuntu 14.04, 64 bits
Pip package: https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.9.0rc0-cp27-none-linux_x86_64.whl
The output from `python -c "import tensorflow; print(tensorflow.__version__)"`: 0.9.0rc0

[2016-06-11 05:27] martinwicke commented on #2703
Can we just use all_files as a data depedency for python_check? That will not fail (since it's just a glob), and if nothing is there, we'll still see it's not there and get our nice message.

[2016-06-11 05:47] siddharth-agrawal commented on #1828
@ebrevdo The implementations were based on @concretevitamin's comment [here](https://github.com/tensorflow/tensorflow/issues/1828#issuecomment-225325574), which was a reply to @mrry's comment just before that (which raised the same issues you raised). I think an option should be added later for the operators to make the result tensor dense, if and when applicable.

[2016-06-11 06:02] martinwicke commented on #217
Closing this -- if there are specific violations, or a nicer linter for our tests, I'd love more concrete issues or PRs.

[2016-06-11 06:05] martinwicke commented on #878
Ok, I think after we know a little more about the environments out there, I doubt we want to maintain such a script. It's a great idea, felled by the messiness of contemporary information technology.

I'll close this issue.

[2016-06-11 06:05] #878 closed

[2016-06-11 06:09] staranjeet commented on #217
I ran a pep8 test and found that most of the warnings were for spaces as 2
and 80 char limit. As for the spaces, I think that as per the above
conversation we are going with 2 spaces convention. Char limit can be
discussed.

Also let me know if there are any other linters. I was a little busy, will
also look myself today.

[2016-06-11 06:11] martinwicke commented on #2046
@lichan, do you think stricter symbol visibility solves this problem as well (similar to #2646)?

[2016-06-11 06:14] martinwicke commented on #217
We currently use pylint: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/ci_sanity.sh

We can talk about changing options to make it more powerful -- it will need some experimentation to get the right balance between false positives (which we have to whitelist) and enforcing the rules.

[2016-06-11 06:19] graphific commented on #2784
Doing a full host install with correct osx version in compile_ios_protobuf.sh (OSX_VERSION=darwin15.0.0 in my case) and recompiling for iOS seems to do the trick. tnx!

[2016-06-11 06:19] #2784 closed

[2016-06-11 06:21] staranjeet commented on #217
Ok I will look this into today and update accordingly.
On 11-Jun-2016 11:46 AM, "Martin Wicke" <notifications@github.com> wrote:

[2016-06-11 06:24] graphific opened #2799 "Eigen core linking errors (iOS camera example)"
when compiling the ios camera example there's a few linking errors where it cant link to:
`#include <Eigen/src/Core/util/DisableStupidWarnings.h>`
a simple hack does the trick.

Replace with:
`#include "../../../Eigen/src/Core/util/DisableStupidWarnings.h" `
in Eigen/Core and a couple of other places (Tensor)

similar for
`#include "../../../Eigen/src/Core/util/ReenableStupidWarnings.h"`
instead o

[2016-06-11 09:34] johnfrombluff commented on #665
Firstly, thanks for tensorflow!

I am experiencing a similar issue. I installed tensorflow on Fedora 23 via **pip**.  My CUDA installation seems to be working fine, as I can use the R package **gputools** with spectacular results. However the MNIST example fails with a misaligned memory error. My graphics card info from **lspci** is:

01:00.0 VGA compatible controller: NVIDIA Corporation GM107 [Ge

[2016-06-11 10:27] varunteja28 opened #2800 "Tensorflow on windows using docker"
Hey i am trying to install tensorflow on windows 10 machine using docker. I am getting this message for a very long time. please help me out with this or suggest any alternative.
Thanks
![capture](https://cloud.githubusercontent.com/assets/18229244/15984549/20b37872-2fed-11e6-9f40-4fbbedcc3c88.JPG)

[2016-06-11 10:29] lhlmgr commented on #2779
Hi ebrevdo,
yes, if I perform the embedding lookup for the whole sequence before feeding the RNN encoder, it works.  And yes, the goal is  to implement a seq2seq model for sequence with variable lengths.

[2016-06-11 10:46] peterzcc opened #2801 "Error building from source: "/usr/bin/env: python2.7: No such file or directory""
I'm building tensorflow from source but I don't know why python2.7 is required. Does anyone know whether I can change the crosstool_wrapper_driver_is_not_gcc file?

ERROR: ~/.cache/bazel/_bazel_czeng/211970d9a1065a07eafbeb7dcc542b10/external/protobuf/BUILD:331:1: Linking of rule '@protobuf//:protoc' failed: crosstool_wrapper_driver_is_not_gcc failed: error executing command
  (cd /csproject/dygrou

[2016-06-11 10:50] peterzcc commented on #2801
Seems like changing the python2.7 to python2 works in the first line of third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc

[2016-06-11 11:53] peterzcc opened #2802 "Compile failed due to undeclared inclusion"
###ERROR message
[code]

### Environment info
Operating System:
CentOS 6.5
Installed version of CUDA and cuDNN:
cuda-7.5
cuDNN v5

###Procedure to reproduce:
I used a custom GCC version (which is in /usr/local/GNU/gcc-4.9.2/) following the guide in #2109 , and executed

`bazel build --verbose_failures -c opt --config=cuda --genrule_strategy=standalone -j 10 //tensorflow/cc:tutorials_example_traine

[2016-06-11 12:06] 3rd3 opened #2803 "Is it possible to truncate BPTT to less than max_time in dynamic_rnn?"
I am wondering whether it is possible to feed, say, sequences of length 10000 while letting the gradients only flow back over a maximum of 100 time steps. This seem to me a pretty common thing to do in sequential learning tasks, so I am wondering whether there is support for that in `dynamic_rnn` and if not, whether it is planned.

[2016-06-11 12:39] MisayaZ opened #2804 "what is the different between tf.mul and * when i used to build a graph"
what is the difference between tf.mul and * when i used to build a graph?
Can both of them calculate the gradient automatically?

[2016-06-11 13:59] StephenOman commented on #2799
This is being caused by changes to the version of Eigen being used by TensorFlow.

To fix this without changing the code, modify the Header Search Paths reference to Eigen in Xcode to the version in makefile/downloads/.

For example, change
`$(SRCROOT)/../../makefile/downloads/eigen-eigen-d02e6a705c30`
to
`$(SRCROOT)/../../makefile/downloads/eigen-eigen-5f86b31739cd`

[2016-06-11 14:30] akors commented on #2802
Did you shorten your error message? *which* files turned out to be undeclared?

How exactly did you edit your CROSSTOOL file?

[2016-06-11 14:31] akors commented on #2109
@girving OK, so I redid all the testing with the most recent HEADs of TensorFlow and bazel. I will try to summarize comprehensively:

Custom GCC, Bazel 0.2.3 (Release), TensorFlow head (b3621c95160a916d4d255f9f44318b9d465701af): compilation fails with the undeclared inclusion messages above.

Custom GCC, Bazel head (e7e2301) compiled with CC and CXX set to the custom GCC, TensorFlow head (b3621c95

[2016-06-11 14:55] ajwimmers commented on #394
It's worth adding that
`sudo apt-get install nvidia-modprobe`
fixed it for me too even after I had installed it on a previous session directly before installing Tensorflow.

[2016-06-11 15:58] cesc-park commented on #593
+1
Still not able to handle backprop over nested while loops.

[2016-06-11 16:07] ebrevdo commented on #2803
We have some internal code that does this, am planning to open source it someone this summer.

[2016-06-11 16:10] ebrevdo commented on #2765
Please see my comment on the pull request. Closing this for now, feel free to reopen once you've decided on a way forward.

[2016-06-11 16:10] #2765 closed

[2016-06-11 16:16] ebrevdo commented on #1828
No sparse matrix library I know of supports these operations, and SparseTensor was definitely not designed to support structured unary operations like this. It's meant to represent tensors with lots of zeros. Any functions that modify the sparsity structure of a dense version of the matrix have to be implemented similarly. One can always call tf.exp(st.values) themselves. Then it's very clear what

[2016-06-11 16:18] ebrevdo commented on #1828
Binary operations like tf.pow are even more tricky. See the various implementations of sparse_add.

[2016-06-11 16:18] akors opened #2806 "Building TF with custom GCC requires hardcoded ld,nm and as"
Hi! I am using Fedora 23 to build TensorFlow with GPU support.

GPU support requires a specific GCC version, 4.9 for successful compilation. Since this version is not available from the Fedora Package repositories, it has to be compiled from source. Unfortunately, there are a few obstacles using this version with bazel.

One of those is the following:
After configuring TensorFlow with the self-com

[2016-06-11 16:39] siddharth-agrawal commented on #1828
Could you point me towards some library where I can see what the expected outputs of each of these operations should be? Also, could you mention which of these operations should be implemented? (since you mentioned exp won't be useful and inv is not implementable)

[2016-06-11 16:50] changyun79 opened #2807 "Slow quantized graph"
1. On Ubuntu 15.10 with CUDA 7.5, cuDNN 7.0, tensorflow-0.9.0rc0, ran "tensorflow/examples/label_image/" application by taking inception-v3 graph and roughly measure the elapsed time.
2. Then take "tensorflow/contrib/quantization/tools:quantize_graph" to quant inception-v3, rebuilt application by giving

[code]

into "tensorflow/examples/label_image/BUILD" and redo the same classification and meas

[2016-06-11 17:34] nsuke commented on #2728
I'm experiencing a similar problem.
When launching a graph, around 16 GB memory is consumed, but only ~3 GB is release upon exiting the process.

Using `top` command, lost 13 GB is only in total used memory, not on any of listed processes.
I.e., summing up every process's memory usage results in a fewer number by ~13 GB.

Memory consumption is constant during training, and re-runing the same graph

[2016-06-11 18:13] #867 closed

[2016-06-11 18:19] girving commented on #665
@johnfrombluff Why do you think it is a related error?  Unrelated errors should be filed as separate issues.

[2016-06-11 18:23] girving commented on #2703
@martinwicke Seems reasonable.  Want to assign it to someone?

[2016-06-11 18:50] bryongloden opened #2808 "Discard PR"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-06-11 18:51] #2808 closed

[2016-06-11 18:53] vrv commented on #2807
Maybe it's possible that the reference (slow) implementations are used when not running on Android/ARM.  @petewarden would know more.

[2016-06-11 19:15] changyun79 commented on #2807
Thanks for the response, vrv.

I am running on Intel i7-3770 with Nvidia GM200 [GeForce GTX TITAN X] GPU (I am profiling CPU only anyways). The profiling is very rough as I am just taking bash timer. The complete script, which actually comes from Pete's blog is as following.

[code]

[2016-06-11 19:34] ebrevdo commented on #1828
There are no sparse libraries that implement log or exp or inv.  Unary operations that preserve the sparsity pattern are reasonable and easy to implement... Think sign, neg, square, round, floor.

[2016-06-11 19:38] ebrevdo commented on #1828
Basically, any injective function for which f(0)=0 is OK.  floor and ceil require care because they move values near 0 to 0, so those are probably also not great candidates here.

[2016-06-11 19:38] changyun79 commented on #2807
By doing this,
[code]
I print out the graph and load into tensorboard to visually check it and looks  2  pool layers

- pool between conv_2 and conve_3
- pool_1 between conv_4 and mixed

 goes away in the "quantized" version graph.

Is there any reason? I am quite new to tensor flow so there could be something wrong on my side.

Thanks.

[2016-06-11 20:38] changyun79 commented on #2807
I just tried giving -pg as
[code]
and rerun the quantized graph after rebuild. It then took 245 seconds to finish the classification. I did not find gprof log file produced and results even did not match which confused me:
- military uniform (866): 0.579775
- suit (794): 0.0243188
- bolo tie (940): 0.0200896
- academic gown (896): 0.0179139
- Windsor tie (935): 0.010099

Any recommended way to do

[2016-06-11 21:35] ucabmrn commented on #593
+1, this functionality would be super useful for some stuff I am working on.

[2016-06-11 21:57] johnfrombluff commented on #665
What a fool I am. Sorry to waste your time.

[2016-06-11 22:05] johnfrombluff opened #2810 "CUDA_ERROR_MISALIGNED_ADDRESS on MNIST example"
## Summary
What might be causing this error when running **python tensorflow/models/image/mnist/convolutional.py**?

E tensorflow/stream_executor/cuda/cuda_event.cc:49] Error polling for event status: failed to query event: CUDA_ERROR_MISALIGNED_ADDRESS

### Environment info
**Operating System:**
Linux Lounge 4.5.6-200.fc23.x86_64 #1 SMP Wed Jun 1 21:28:20 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

[2016-06-11 22:26] ibab commented on #2255
My guess is that the problem is caused by some of the gradients being complex.
If you post your loss function, I might be able to help.
Alternatively, you could post this to StackOverflow, as people there are usually very quick at responding to tensorflow questions (and it might be more appropriate, as I suspect that this isn't a bug in tensorflow).

[2016-06-11 22:59] ibab commented on #2237
I think the hardest part about this is coming up with a nice way of storing tree-shaped entries and passing them to Tensorflow ops.
Then a monolithic tensorflow op could provide endpoints for a tensor computation, which allows the user to define the network that will be replicated at each node of the tree.
The API could be something like this:
[code]

[2016-06-11 23:17] peterzcc commented on #2802
Thanks for the suggestion. I solved the error by clean and build it again. Don't know why it happens.

[2016-06-11 23:17] #2802 closed

[2016-06-11 23:26] peterzcc opened #2811 "ERROR when building pip package: undeclared function related to swig"
I was able to build the cc:tutorials_example_trainer , but failed to build the  pip package. Could anyone suggest how I can fix it? Thanks a lot!

### Environment info
Operating System:
CentOS 6.5
Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
cuda-7.5

### Steps to reproduce
1. I used python 3.5.1  installled by pyenv
2. I installed swig from

[2016-06-12 01:14] ebrevdo commented on #593
ACT only requires a while_loop inside the rnncell, not a scan, and does not require TensorArray except in the outer dynamic_rnn call. You should be able to implement it without running into this bug.

[2016-06-12 01:15] ebrevdo commented on #593
Still no eta for fixing nested scan.

[2016-06-12 02:06] alquraishi commented on #2789
@ebrevdo I'd be happy to, but it probably won't happen right away. I'm planning on expanding the suite of dropout functionality available (recurrence, zoneout, etc) and can include it then. But it would likely be several weeks after ICML.

[2016-06-12 03:36] ebrevdo commented on #2789
Wonderful!  For now I'll mark this as "contributions welcome", and feel free to contribute this fix into core and/or any other types of dropout (citing your work, of course), if you like, in tf.contrib.rnn.

[2016-06-12 04:16] peterzcc commented on #2801
Solved by changing the interpreter to python2

[2016-06-12 04:16] #2801 closed

[2016-06-12 05:10] #2077 closed

[2016-06-12 05:36] sergulaydore opened #2813 "Broken link for tensorboard"
The link [https://www.tensorflow.org/versions/tensorboard/README.html](https://www.tensorflow.org/versions/tensorboard/README.html) for README file in [tensorboard](https://www.tensorflow.org/versions/master/how_tos/summaries_and_tensorboard/index.html) page is broken.

[2016-06-12 05:53] metap commented on #2652
By the way, pure warp-shuffle (shfl_down, or shfl_xor for keep_dim) based block/warp reduction doesn't seem to be that much slower than warp-shuffle+atomic

[2016-06-12 07:04] suiyuan2009 commented on #1503
I'd like to implement deepwalk since it's related to my study.

[2016-06-12 08:27] staranjeet commented on #217
The errors which we are planning to ignore

| Error |                Error meaning                    |
|------ |-------------------------------------------------|
| E501  | line too long                                   |
| E111  | indentation is not a multiple of four           |
| E114  | indentation is not a multiple of four(comment)  |
| E701  | multiple statements on one line (colon)

[2016-06-12 08:47] gaohuazuo opened #2814 "Define new ops with pure python"
AFAIK, new ops can't be created with python alone. However, such feature would be quite helpful when dealing with not-so-common IO, e.g. reading an LMDB, or when experimenting with new algorithms.

[2016-06-12 10:35] ibab commented on #2814
There's the `tf.py_func` op which lets you insert Python functions into the computational graph: https://www.tensorflow.org/versions/r0.9/api_docs/python/script_ops.html
Is this close to what you had in mind?

[2016-06-12 10:48] gaohuazuo commented on #2814
That's exactly what I'm looking for. @ibab Thanks!

[2016-06-12 10:48] #2814 closed

[2016-06-12 10:56] elvinpoon commented on #1280
I'm working on it

[2016-06-12 12:26] thammegowda commented on #3
+1 for Java/Scala

[2016-06-12 15:31] 333caowei opened #2815 "glibc detected *** python3: invalid fastbin entry (free)"
Hello ,I am try to run my code on TensorFlow. When I run it, it works fine. But after 30 minutes, I get this error:
[code]
I don't see this error before when I use TF. It is the first time to see it on running TF and I am not sure weather it's the problem of TF or not. BTW, I am trying to run my code again in order to see if the error can appear again.

The version of TF is 0.8 and the version of

[2016-06-12 16:07] kmhofmann opened #2816 "Executing genrule //tensorflow/contrib/session_bundle/example:half_plus_two failed"
Hi,
Installing TensorFlow from source fails on my system. There seems to be some Python-related error when building 'half_plus_two'.
See (hopefully) all relevant output below.

### Environment info
Operating System:

No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04 LTS
Release:	16.04
Codename:	xenial

Linux the-beast 4.4.0-24-generic #43-Ubuntu SMP Wed Jun 8 19:27:37

[2016-06-12 16:43] yaroslavvb commented on #2816
I think I"ve seen this error when "git pull" overwrote files like CROSSTOOL
that ./configure sets up, can you try again after ./configure?

On Sun, Jun 12, 2016 at 9:07 AM, Michael Hofmann <notifications@github.com>
wrote:

[2016-06-12 17:00] martinwicke commented on #217
E402 has valid uses (conditional imports to avoid breaking on missing soft
dependencies) and we should probably ignore those if they are used for such
a purpose.

E129 is a bit iffy, i have to check how these look.

I'd like to find a way to enforce these going forward (=add a stricter
linter test), but we have to make sure that we don't conflict with our
internal tools. Otherwise I agree, these s

[2016-06-12 17:02] ibab commented on #610
Just had a look at `InvertPermutation` and noticed that a GPU version based on `HostMemory` has been added by now.
I like the idea of re-using `ScatterFunctor` for this, but it wouldn't check whether there are duplicate permutation indices in the input (which the current version of the code does).

[2016-06-12 17:02] martinwicke commented on #217
Actually, we want to enforce line-too-long, but with some exceptions
(import statements for instance can make unavoidably long lines)
On Sun, Jun 12, 2016 at 10:00 Martin Wicke <wicke@google.com> wrote:

[2016-06-12 18:18] ibab commented on #2354
@ebrevdo: I've had a look at this and realized that the output shape of `PaddingFIFOQueue` is still dynamic where the input shape was dynamic. This makes sense, as we can only find out what the maximum size per dimension is when we execute `dequeue_many` at runtime.
But the dynamic output shape prevents me from piping the padded tensors into a `ShuffleQueue`.
So I'm sure if it's possible to implem

[2016-06-12 18:51] LeavesBreathe commented on #2255
@ibab, the loss function is the seq2seq sequence loss function from tensorflow ops:

[code]
I can post on this on Overflow, but I do believe it is a bug. I think inherently some of the gradients are complex because i'm doing several complex computations for the associative LSTM (and likewise would be doing the same for the unitary RNN).

Associative LSTM paper
https://arxiv.org/abs/1602.03032

Her

[2016-06-12 20:18] ibab commented on #2255
Note that the gradient of a complex expression can be complex, even if the variables that you take the derivative with respect to are real.
For example, the derivative of `(1 + 1j * x)` with regard to `x` is `1j`, even if `x` is a real parameter.
That means you have to explicitly make sure that all expressions that you differentiate are real.
Unfortunately, the associative LSTM paper doesn't seem

[2016-06-12 20:28] ibab opened #2818 "tf.gradients casts away imaginary part of result when differentiating by a real value"
This is continued from #2255:

Differentiating a complex expression by a real value with `tf.gradients` should yield a complex value, but this doesn't seem to be the way that `tf.gradients` works at the moment.
If I run

[code]

The output is

[code]

while I would have expected

[code]

I suspect that `tf.gradients` always casts the final result to the type of the variable that we differentiate w

[2016-06-12 20:28] girving commented on #2652
@metap Do you have a link for that?  I don't quite follow, especially the bit about keep_dim since that doesn't change the computation structure.

[2016-06-13 00:44] mwalton opened #2821 "max_pool_with_argmax index calculation"
max_pool_with_argmax returns an argmax array which doesn't seem to account for the batch dimension. That is, the op returns the flattened index as: (height * width + x) * channels + c instead of ((b * height + y) * width + x) * channels + c as indicated in the API

[2016-06-13 01:27] wb14123 opened #2823 "Implement variable length sequences for seq2seq"
Now, seq2seq uses bucketing to deal with variable length sequences. Which need to define many models and require manually tuning.  While in RNN, some models implement variable length sequences with a param `sequence_length`, which I think is a better method. So how about use the same method in RNN to implement variable length sequences for seq2seq?

[2016-06-13 01:55] kyu9 commented on #739
@ExonRen @Irtza  I saw https://github.com/yuxng/tensorflow, he also implemented roi pooling layer in tensorflow. But I do not have time to test this. Maybe you will get more idea for Faster-RCNN in TF.

[2016-06-13 01:57] metap commented on #2652
Here's the link: https://devblogs.nvidia.com/parallelforall/faster-parallel-reductions-kepler/
Using shfl_xor just keeps the same copy of data across all warps (not mentioned in the article) and should be better in keep_dim situations. One example is in a [fast CUDA word2vec implementation](https://github.com/ChenglongChen/word2vec_cbow/blob/master/cbow.cu) that utilize the warp shuffle to reach 3

[2016-06-13 02:18] concretevitamin commented on #2774
I'm looking into this.

[2016-06-13 03:09] ebrevdo commented on #2823
This is on the near-future TODO list.

[2016-06-13 03:10] ebrevdo commented on #2804
There is no difference. * is sugar for tf.mul.

tf.mul does backpropagate gradients correctly.

[2016-06-13 03:10] #2804 closed

[2016-06-13 03:11] ebrevdo commented on #2719
The API docs will be updated soon; as we *just* released the RNN docs in HEAD.  Not sure if this will end up in 0.9 or the next version.  @martinwicke?

[2016-06-13 03:13] ebrevdo commented on #2703
This used to work out of the box, no?  Sounds like a bug was recently introduced.

[2016-06-13 03:14] ebrevdo commented on #2661
This is a known issue.  Right now you cannot nest map/scan/fold*.  No ETA on the fix unfortunately :(

[2016-06-13 03:17] ebrevdo commented on #2695
This may be something we're working on.  Would you like to open a new bug to track it, explicitly describing the semantics of how you'd like to be able to pass tuples into feed_dict?  Closing this bug for now.  Thanks for answering @jihunchoi!

[2016-06-13 03:17] #2695 closed

[2016-06-13 03:19] ebrevdo commented on #2776
It would also be good if you could run "thread all apply backtrace" -- would be good to see where the TensorFlow C++ code is when you get the malloc failure.

[2016-06-13 03:19] wb14123 commented on #2823
Where can I see the TODO list? I'm interesting in implement this.

[2016-06-13 03:36] martinwicke commented on #2719
Can you check the 0.9 docs? If the docs are there they're there.
On Sun, Jun 12, 2016 at 20:12 ebrevdo <notifications@github.com> wrote:

[2016-06-13 03:56] girving commented on #2652
Cc @zheng-xq @benoitsteiner in case more GPU knowledgeable folk want to take a look.  Determinism would certainly be nice to have if we can get it.

[2016-06-13 04:10] zheng-xq commented on #2652
The shfl_down results are only useful within a single wrap. That technique itself would take a second pass to accumulate the results for each block.

In general, there is no guarantee of determinism on GPU. Therefore, we are not sure how much effort we want to spend on it. Even if we can fix this particular kernel, we have other Cudnn kernels that do have non-determinism.

[2016-06-13 04:23] ebrevdo commented on #2823
We already have interest from about 2 folks internally to implement this.
Please be patient and we'll have something "soonish".

On Sun, Jun 12, 2016 at 8:20 PM, Bin Wang <notifications@github.com> wrote:

[2016-06-13 04:31] ajaybhat commented on #2682
@girving Could you let me know which classes to look for as a reference to implement optimizers? I'm having a bit of trouble finding them.

[2016-06-13 04:42] wb14123 commented on #2823
Thanks. Looking forward it.

[2016-06-13 04:42] #2823 closed

[2016-06-13 04:43] martinwicke commented on #2703
Olivia, can you change the BUILD file in util/python to have a filegroup containing all files in the directory, like this:

filegroup(
    name = "configure_files",
    data = glob([
        "*",
    ])
)

(syntax may be screwy), and add that as a data dependency to the python_check target?

And then make sure it works... I hadn't seen this before.

[2016-06-13 04:46] girving commented on #2682
@ajaybhat Search for classes which inherit from `Optimizer`.  However, note that for Hessian free methods the standard split into `compute_gradients` and `apply_gradients` won't work, since you need to compute partial second order gradients.  There are a few different ways one could handle that; the simplest would be to compute gradients as normal during `compute_gradients` and do the higher order

[2016-06-13 05:05] ExonRen commented on #739
@ck196 Ah yes he did a good job. He implemented the RoIPooling directly in C++ as a new operation, while I just worked out some Python codes to do a similar task, due to the narrow arrangement. So I believe his implementation should be much more efficient and helpful.

[2016-06-13 05:39] concretevitamin commented on #1824
@girving Paul is probably working on something along this line (profiling tools for OSS land).  (Although I wrote the RunOptions/RunMetadata support, I'm not the original author of the timeline.)

[2016-06-13 05:41] concretevitamin commented on #2180
I see Eugene has marked it as contributions welcome.  I am happy to review any PRs!

[2016-06-13 05:52] ajaybhat commented on #2682
Thanks! I'll let you know if i've any more questions.

[2016-06-13 06:41] sdemyanov opened #2825 "Initialize moving averages by the first applied value rather than 0"
Currently hidden moving averages are initialized by 0. If the decay is large, it takes a lot of time for the moving average variable to forget about initial zero value. It would be much more reasonable to initialize by the first obtained value of the observed variable, and then start to apply decay. In this case the initial initialization is not required anymore, so the variable can be removed fro

[2016-06-13 06:54] RobRomijnders opened #2826 "A 1D and 2D Gaussian implementation in TensorFlow"
Feature request:

Mixture Density networks, attention models and variational inference getting more popular, we are defining more and more Gaussians in our model. My feature request would be to have a native Gaussian implementation in TensorFlow.

Up to now, I re-use [this](https://github.com/hardmaru/write-rnn-tensorflow/blob/master/model.py) code:

    def tf_2d_normal(x1, x2, mu1, mu2, s1, s2,

[2016-06-13 06:56] concretevitamin commented on #1828
After more thoughts, I agree with @ebrevdo about leaving out the tricky ones for now.  Biggest reason being the purposed semantics is indeed weird, and if users do want to do something like that, it'd be easy for them to make a new SparseTensor with transformed values.

Apologies for my earlier comment in this thread.  This issue probably still should exist for other unary ops that are well-behave

[2016-06-13 08:23] maniteja123 commented on #2180
Hi, I would like working on this. Please let me know if it would be fine to proceed. Thanks.

[2016-06-13 08:40] ad26kt opened #2827 "_reverse_seq in rnn.py"
I can't figure out the usage of _reverse_seq in rnn.py

followings are my code
[code]
tf.Variable([2,2]) means that (batch size : 2) each length of elements in batch is 2
data : vector size 3, total length 3, useful length 2

errors are as follows :

[code]

[2016-06-13 09:20] maniteja123 commented on #1828
Hi, sorry for the noise but in scipy sparse matrices, functions like log(1+X) [log1p](http://docs.scipy.org/doc/scipy-0.17.0/reference/generated/scipy.sparse.csr_matrix.log1p.html) and exp(X)-1 [expm1](http://docs.scipy.org/doc/scipy-0.17.0/reference/generated/scipy.sparse.csr_matrix.expm1.html) are implemented which satisfy f(0)=0. Though I am not sure if these operations are too specific to be i

[2016-06-13 09:22] damienmg commented on #2536
girving: no we are down to auto-configuration of the nvcc crosstool again. @davidzchen is working on it AFAICT.

[2016-06-13 10:56] damienmg commented on #2751
So I made it work but it's hacky:
  1. the name of the package encode the version of tensorflow (not a problem), the version of python and the system (not a problem). The version of python might be an issue. A workaround is to wrap the package in another zip but that's not really nice.
  2. pip is non deterministic, it stores the timestamp of the zip file. It's ok overall to mark the genrule as ti

[2016-06-13 11:03] damienmg commented on #2751
Ok the name can be resolve with apropriate auto-configuration I think. I think I'll take today to do it for python :)

[2016-06-13 12:14] kmhofmann commented on #2816
The error still occurs after a fresh repository clone, a new call to ./configure, and also cleaning the Bazel cache (~/.cache/bazel).

[2016-06-13 12:55] chanhkim commented on #2618
I found a way to fix my problem. I'm not sure it's right way...

I added my gcc header file path to third_party/gpus/crosstool/CROSSTOOL file.

<pre>
  cxx_builtin_include_directory: "/opt/rh/devtoolset-2/root/usr/include"
  cxx_builtin_include_directory: "/opt/rh/devtoolset-2/root/usr/lib/gcc/x86_64-redhat-linux/4.8.2/include"
</pre>

I guess that my problem was due to using another version of gc

[2016-06-13 13:32] MrSlayer02 opened #2829 "Can not completely disable GPU & CUDA support."
This only applies to `TensorFlow 0.9`.

Even if you disable GPU support when configuring `TensorFlow`, you will still need CUDA to build it. Indeed, `Eigen::half` (half floats) should only be used when running on a GPU, it's not CPU-compatible.

But they are always used, and this causes exceptions to be thrown if our `Eigen `version does not contains the `Eigen/src/arch/CUDA` folder and headers. (

[2016-06-13 13:46] machomachopadre opened #2830 "syntaxnet bazel test failed"
I ran `bazel test syntaxnet/... util/utf8/...` and it gave a few errors . It gave me this output:
[code]

If you want the output of `--test_verbose_timeout_warnings` then please ask

I have no idea what these mean...please help me :pray:

PS: If this is the wrong place to ask, then please direct me where to post this(but kindly suggest an answer)

[2016-06-13 14:05] LeavesBreathe commented on #2255
Thanks @ibab -- the Associative LSTM paper was done in Theano and their code is here. They do not use any complex variables, but rather simulate it with real ones. This can be done in tensorflow as well, but for unitary RNN's this can not be done since the `ifft` args require complex inputs.

https://github.com/mohammadpz/Associative_LSTM

Basically the main issue with using non-complex variables

[2016-06-13 14:37] keveman commented on #2781
@girving No, both were close to 90%

[2016-06-13 14:38] keveman commented on #2334
@yaroslavvb Can this be closed, then?

[2016-06-13 14:39] keveman commented on #2197
@fcole90 Gentle ping. Please let me know if the new protobuf wheel package solves this issue.

[2016-06-13 14:41] keveman commented on #1870
@kmuriki Gentle ping. Please let me know if this is still an issue.

[2016-06-13 14:45] keveman commented on #1704
@rdadolf Closing this one out due to inactivity. I don't see anything fundamentally broken about using `pip` with `--prefix` and using `$PYTHONPATH` later, at least in the platforms I tried. Please feel free to reopen if you think this is still an issue worth solving.

[2016-06-13 14:45] #1704 closed

[2016-06-13 15:10] eldor4do commented on #1807
@janislejins Updating tensorflow should do the trick.

[2016-06-13 16:08] girving commented on #2781
@keveman We should probably fix the tutorial to be 99% then, unless there is a compelling reason to make it 10x worse than `models/image/mnist/convolutional.py`.

[2016-06-13 16:13] girving commented on #2109
@martinwicke @damienmg Can you advise on how to split this bug across Bazel and Github?

[2016-06-13 16:36] girving commented on #1824
@concretevitamin Which Paul?

[2016-06-13 17:05] fcole90 commented on #2197
Sorry for my late reply.

I just tested the just tried both and I still received a segmentation fault.

[Python2](https://gist.github.com/fcole90/0ed450312a1306c35330f5fc9d65a148)

[Python3](https://gist.github.com/fcole90/f64d8ee051a6b453a8ad8482aea61bb1)

[2016-06-13 17:16] erickrf opened #2834 "Defining shape of 1-D variable-size placeholder with tuple doesn't enforce the actual shape"
I noticed that defining a 1-D batch-sized placeholder with a tuple instead of a list doesn't enforce its shape:

[code]

This outputs:
[code]

While with `[None]`:

[code]

results in `ValueError: Cannot feed value of shape (5, 5) for Tensor u'Placeholder_5:0', which has shape '(?,)'`, as I would expect.

Is the behavior with the tuple intended to work like this? I really don't think it's a good i

[2016-06-13 17:18] sherrym commented on #2827
_reverse_seq returns a list already. So remove [] from output_feed:

output_feed = rnn._reverse_seq(encoder_inputs,tf.Variable([2,2]))

[2016-06-13 17:19] sherrym commented on #2830
Could you please attach the log?

/home/me/.cache/bazel/_bazel_rushat/cc4d67663fbe887a603385d628fdf383/syntaxnet/bazel-out/local-opt/testlogs/syntaxnet/parser_trainer_test/test.log

[2016-06-13 17:46] bnaul commented on #2815
FWIW I just saw something similar while training an LSTM through `keras`; of 8 runs of the same model w/ different hyperparameters, 7 completed and one stopped after a few hours with:

[code]

[2016-06-13 17:47] connormclaud commented on #2781
In my humble opinion, this issue may indicate regression in core nn code.  I believe tutorial was correct at some point.

[2016-06-13 18:00] zheng-xq commented on #2121
@ppwwyyxx, @liuyipei, @yosinski, in order to debug this problem, it is very useful to list all threads information, even better with call stacks, at least for the unique ones. Also please run the same experiment with environmental variable "CUDA_LAUNCH_BLOCKING=1" set.

That would help us pin-point where the hang is happening.

There are a number of problems described here. Not sure all of them ar

[2016-06-13 18:03] zheng-xq commented on #2377
We are still waiting for the BatchNorm kernel to be merged. Support for other formats will proceed afterwards.

[2016-06-13 18:09] zheng-xq commented on #1947
The first step is to find out where the hanging is happening. Could someone help print out the call stack of all threads when the hanging is happen, at least the unique ones?

[2016-06-13 18:10] sherrym commented on #2821
Could you please cut and paste the code that you believe is doing this incorrectly?

Could you please also include a unit test demonstrating the problem? Thanks.

[2016-06-13 18:16] 333caowei commented on #2815
@bnaul Wow, I am also use lstm and of 4 runs of same model in different  parameter. But when I run again, this error disappear.

[2016-06-13 18:16] zheng-xq commented on #1803
@anuragkr90, I am not able to reproduce this problem locally.

Could you try to upgrade your Cuda driver, and use the Cuda SDK, and see if the problem still persists?

[2016-06-13 18:18] bryongloden commented on #1803
<3

[2016-06-13 18:21] kingtaurus commented on #2781
There is **bug** in your code. You are only running the learning step once every 100 batches;

[code]

Should be:
[code]

[2016-06-13 18:23] zheng-xq commented on #1727
As for the original problem, currently the Allocator in the GPUDevice belongs to the ProcessState, which is essentially a global singleton. The first session using GPU initializes it, and frees itself when the process shuts down. Even if a second session chooses a different GPUOptions, it would not take effect.

Changing this would be a fairly large change. We need to rethink how the device is ini

[2016-06-13 18:23] sybilrobertson opened #2836 "Report Abuse #0"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-06-13 18:32] ethereon commented on #2037
@prb12 I'm running a single GPU config (Titan X). This appears to be a bit of a heisenbug: it occurred on every single run last week, but everything seems fine today. The build hasn't changed - everything's untouched.

[2016-06-13 18:39] keveman commented on #2781
Good catch @kingtaurus. I can confirm ~99% accuracy with 0.9.

[2016-06-13 18:39] #2781 closed

[2016-06-13 18:42] #2836 closed

[2016-06-13 18:43] vrv commented on #2830
This is probably better filed at tensorflow/models, since this is a different repo.

[2016-06-13 18:43] #2830 closed

[2016-06-13 18:57] benoitsteiner commented on #2829
@MrSlayer02 Eigen::half runs on both CPU and GPU. The code resides in a directory called CUDA purely for historical reasons. Moreover tensorflow 0.9 pulls a recent version of Eigen that contains the CUDA directory whether or not TensorFlow is compiled with CUDA support.

Can you document what you're trying to do as well as the symptoms that you experience ?

[2016-06-13 19:02] benoitsteiner commented on #2799
This appears to be due to an incorrect iOS Makefile that attempts to link against version d02e6a705c30 instead of version 5f86b31739cd of the Eigen codebase. This is fixed in [pull request 2805](https://github.com/tensorflow/tensorflow/pull/2805/files).

[2016-06-13 19:03] Styrke commented on #1941
Cool! I will try to code up a proper implementation.

[2016-06-13 19:05] zheng-xq commented on #1268
@Palang2014, a typical set up is to have all the variables on CPU, and all the computation on GPU. If you have multiple GPUs, it is a good idea to merge the gradients on them before sending the delta back to CPU.

It is not a good idea to place some ops on one device, and others on another, with fine granularity. The problem with that is the data transfer. Each time your data flow across device bo

[2016-06-13 19:05] zheng-xq commented on #808
Per comments from @jendap, closing this issue.

[2016-06-13 19:05] #808 closed

[2016-06-13 19:13] bryongloden commented on #808
👍

[2016-06-13 19:14] danijar opened #2838 "Get placeholder for initial state of nested RNN"
For RNN cells, we get the initial state using `cell.zero_state()` and the last state after processing a sequence using `rnn.dynamic_rnn()`. However, to use the last state as the initial state for the next run, one must create a `tf.placeholder()`. As far as I know, currently there is no way to create and fill such  a placeholder (or nested tuple of placeholders) automatically. Such a feature would

[2016-06-13 19:27] zheng-xq commented on #2810
Swapping my action with Benoit. All the misaligned memory reads came from Eigen kernels in the attached error messages.

[2016-06-13 19:29] zheng-xq commented on #2037
Not to my knowledge yet.

[2016-06-13 19:58] mrry commented on #2800
The message indicates that the container started successfully. You should now be able to connect to the Jupyter kernel running inside the container.

[2016-06-13 19:58] #2800 closed

[2016-06-13 20:12] MInner opened #2840 "segfault in perftools::gputools::StreamExecutor::DeviceMemoryUsage - on a busy gpu"
I'm using tensorflow 0.9.0rc0 with cuda 7.5 on Tesla K40c .

The GPU I'm specifying via `device_id` and

[code]

is running under a heavy load now (multiple instances of tf are working with it in parallel, so it has 70-80% gpu voltage), but still has ~20-30% free memory, so I wanted to run a one more tiny script.

If I run the script under `gdb`, I get:

[code]

is it indeed "out of resources" or

[2016-06-13 20:37] mrry commented on #2834
The problem is that `(None)` evaluates to `None`, and not a `tuple` containing a single element that is `None`. To define a single element tuple, you need to type `(None,)`.

This is due to Python's syntax, not the placeholder implementation:

[code]

[2016-06-13 20:37] #2834 closed

[2016-06-13 20:52] kingtaurus commented on #2237
This is an NLP style model (sentiment analysis) and is based upon assignment 3 from [Stanford CS224D](http://cs224d.stanford.edu/syllabus.html). The tree structure is created as a purely python structure (tree class and node class). The variable state is saved/restored on a per batch usage and the tree structure is created using recursive descent (with any leaf nodes using an embedding operation t

[2016-06-13 21:07] johnfrombluff commented on #2810
Thanks for your help, but I'm still lost. I'm a user, not a programmer. I'm a statistician. So I'm not sure what to do to fix this problem. Does "All the misaligned memory reads came from Eigen kernels" mean I've done something wrong? If so, what have I done wrong? If not, then what can I do to get tensorflow working on my machine?

[2016-06-13 21:10] bryongloden commented on #2810
@johnfrombluff GREETINGS. I don't know what misaligned memory reads came from Eigen kernels

Do you have a basic block size like (or such as) 256 , 512, 1024

[2016-06-13 21:12] marcellomh commented on #2237
Hi Folks,

I'm a Google employee.  Our team has already implemented a library that handles recursive neural nets.  We intend to open source it within the next two weeks.

-Marcello Herreshoff

[2016-06-13 21:35] Palang2014 commented on #1268
Thank you girving and zheng-xq for explanations.

[2016-06-13 21:44] andrewharp commented on #2570
@Shaikjalal What's the command line you're giving to strip_unused? It sounds like it's not reading from a valid text-format protobuf file.

[2016-06-13 22:04] davidzchen commented on #2536
I should have a PR for the cuda autoconf later this week.

[2016-06-13 22:08] jlebar commented on #1535
The target from comment 0 is gone, but plain bazel test -c opt //tensorflow/python/... works, with no virtualenvs.  So I think we're good here.  Thank you!

[2016-06-13 22:08] #1535 closed

[2016-06-13 22:21] anuragkr90 commented on #1803
@girving  @zheng-xq I think I have updated drivers. But in any case let me redo everything from scratch

[2016-06-13 22:24] kmuriki commented on #1870
Manjunath,

Thanks for writing back to me. Its been couple of weeks since I tried this
and did not get a chance yet to attempt it again. I'm busy with other
deadlines all this week. Hopefully I will have some free time later this
week or early next week. I will attempt building from scratch once again
and write back to you.

Just to answer your earlier question we do not install Python to the
stan

[2016-06-13 22:36] ysuematsu commented on #2618
Yes, the problem happens when gcc is installed in other directory.

The issue to fix in configuration phase is tracked in #2413.

[2016-06-13 22:54] zheng-xq commented on #2840
@MInner, the error comes from stream-executor. I will try to loop in some developers to help there.

Something seems wrong here. If you don't run this script under "gdb", what is the output? Could you post the entire log somewhere, and post the link here?

[2016-06-13 23:07] johnfrombluff commented on #2810
Sorry, I'm still confused. What block size are you referring to? Which file(s) should I look at to find what you're talking about?

I'm trying to run example code that comes with the tensorflow distribution. Shouldn't that code run on all supported architectures? Maybe GNU/Linux or my GPU is not supported, but I haven't noticed that in the documentation?

And thank you for your attempt to help me!

[2016-06-13 23:10] andrewharp commented on #2680
@TianweiXing The op name output should be the first native log output from the app. It should be above even "Loading Tensorflow" (since it happens as the library is loaded, not when the session is initialized).

If you're not seeing anything there at all, it's possible you're not linking in the kernel lib successfully. What is the command you're using to build?

[2016-06-13 23:25] juansalas commented on #2784
@graphific Looks like I have the same issue. I updated my darwin version in _compile_ios_protobuf.sh_ to **OSX_VERSION=darwin15.0.0** but still not working. How you solved it ? Thanks!

[2016-06-13 23:30] concretevitamin commented on #1824
@geoffreyi pbar.

On Tue, Jun 14, 2016 at 12:36 AM, Geoffrey Irving <notifications@github.com>
wrote:

[2016-06-13 23:33] aidangomez commented on #1280
Just opened a pull request

[2016-06-13 23:35] girving commented on #1280
@aidangomez Can you link to the pull request?

[2016-06-13 23:36] girving commented on #1824
@prb12 What's the story for OSS profiling?  If we have tools in place, could we make a tutorial explaining them?  Assigning to you for now, but feel free to triage further.

[2016-06-13 23:43] aidangomez commented on #1280
Here: https://github.com/tensorflow/models/pull/198

[2016-06-13 23:49] ppwwyyxx commented on #2740
The problem seems to come from https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/slot_creator.py#L83, where the name of an op is used to create a variable. But the name of the op already contain the current scope, therefore the variable to create will contain the scope twice.

[2016-06-13 23:54] MInner commented on #2840
Hi, @zheng-xq . If I run it without `gdb`, nothing interesting happens (no error messages or whatever, just the ordinary debug output regarding cuda .so files and etc.) until I try to execute the graph, and then it just segfaults silently (before any "allocation attempt" messages pop up). The very same script works just fine, if the GPU is not under heavy load; but when it was (under load), it fai

[2016-06-14 00:02] zheng-xq commented on #2840
Swapping my action with Jason, who owns stream-executor. Feel free to assign back to me when we feel TensorFlow is at fault here.

The segfault is suspicious. Well behaving TensorFlow or stream-executor code should check for error conditions and quit with a clear error message.

[2016-06-14 00:03] zheng-xq commented on #2840
Really adding Jason. +@henline

[2016-06-14 00:14] henline commented on #2840
Hi @MInner. Thanks for your report.

I think it would be useful for me to see the full stdout and stderr for the run that causes the segfault. That should include all the ordinary debug output you mentioned (loading cuda .so files, etc.).

I'd also like to see the full backtrace when you run it under gdb. You should be able to get that by using the gdb 'backtrace' command.

[2016-06-14 00:15] andrewharp commented on #2570
@maelp Sorry, I'm not sure what you mean. AFAICT libjpeg and libpng are specifically excluded from all mobile builds. The makefile-base ios build uses https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/makefile/gen_file_lists.sh to create the source file list, and this excludes png and jpeg files.

You should be able to get them build if you start by adding them to the depende

[2016-06-14 00:17] #2645 closed

[2016-06-14 00:30] zheng-xq commented on #2810
@johnfrombluff, my earlier comment only meant to point out which part of the program is triggering the error to my colleague. It didn't imply you did something wrong.

Your GPU is GTX 750 Ti, which is gm107. It is supported in theory. But it is a low-end GPU, out of which you might not see a very big speedup.

Since we never saw this problem before, and were unable to reproduce it, the only way to

[2016-06-14 00:37] caisq commented on #2815
Where does the tensorflow binary that you use come from? Did you build it from source? If so, what's the git hash? Or did you download a pip file and install it? If so, which version?

[2016-06-14 00:41] caisq commented on #2811
Which version of SWIG are you using? Can you try 3.0.8+?

[2016-06-14 01:17] prb12 commented on #1824
I'm unlikely to have much time to write a tutorial in the near future, but the current status of the open source tools are as follows:

There is now a basic CUPTI GPU tracer integrated in the runtime.  You can run a step with tracing enabled and it records both the ops which are executed and the GPU kernels which are launched.  Here is an example:
[code]
After the step completes, the run_metadata

[2016-06-14 01:20] khaotik commented on #2255
@LeavesBreathe In my TF unitary RNN implementation, I had real and complex parameters, and my cost function was real. It seems working well. However I'm not sure if the above "cast away imag part gradient" runtime issue occurred in my implementation.

[code]

[2016-06-14 01:54] Fhrozen commented on #2682
I was also try to implement HessianFree (HF) optimization on another framework, however i did not success. I am not sure if you can use this git (https://github.com/drasmuss/hessianfree) as reference or ask for help. The implementation is already on python and cuda, but he did not implemented convolutional. If you have a code to test let me know so i can compare with my others results.

[2016-06-14 02:16] yaroslavvb opened #2844 "Setting up TensorFlow for development affects subsequent `bazel test` runs"
After following instructions in [Setting up TensorFlow for development](https://www.tensorflow.org/versions/r0.9/get_started/os_setup.html#setting-up-tensorflow-for-development) , `bazel test` will look in `_python_build` before looking in `.runfiles` directory.

The result is that some tests may fail which would otherwise pass in a hermetic requirement. Also it could mean that some tests would pa

[2016-06-14 03:13] lightingghost commented on #511
Hi @ebrevdo ,

I have tried `dynamic_rnn`. But it is still ultra slow when building the graph

My model is 200~300 steps encoder and 30 steps decoder with attention,

The mini model of 100 steps encoder and 30 steps decoder takes 400s to build.

I cannot even build the full model on my machine (16 G Memory) due to out of memory, while the same model without attention using mxnet takes approx 20% o

[2016-06-14 03:19] ad26kt commented on #2827
I got it. THANKS A LOT

[2016-06-14 03:19] #2827 closed

[2016-06-14 03:55] ebrevdo commented on #511
Can you post a gist with your model so we can look at it and figure out
what's slowing it down?

On Mon, Jun 13, 2016 at 8:13 PM, lightingghost <notifications@github.com>
wrote:

[2016-06-14 04:07] machomachopadre commented on #2830
Output of /home/me/.cache/bazel/_bazel_me/cc4d67663fbe887a603385d628fdf383/syntaxnet/bazel-out/local-opt/testlogs/syntaxnet/parser_trainer_test/test.log

[code]

[2016-06-14 04:20] lightingghost commented on #511
Hi @ebrevdo ,

Thank you for helping me out. The code was shown in

[](https://bitbucket.org/lightingghost/sent2mat)

with the model defined in seq2seq.py

[2016-06-14 04:39] 333caowei commented on #2815
@caisq  I downloaded it from github and built it from source. But I am sorry I don't know how to check git hash.

[2016-06-14 05:42] eldor4do opened #2846 "Increase speed of getting pool3 features on CPU machine"
Currently on my CPU setup, Tensorflow is taking almost 0.5 second for one image, to get the pool3 features. I'm using the retrained Inception model, after training it on my own images.

Any way to increase this speed?

[2016-06-14 07:21] MrSlayer02 commented on #2829
I was trying to install `TensorFlow 0.9` on a Raspberry Pi 3, but I got an error that told me g++ could not `static_cast` from `Eigen::half` to `float`. The header Half.h is not there in the pulled eigen version.
Actually it seems TensorFlow declares `struct half` in `namespace Eigen` (header `strcat.h`) but does not instantiates it. Maybe this is normally done in Half.h...

[2016-06-14 09:27] damienmg commented on #2109
@girving: the TODO is copied from the legacy CROSSTOOL of Bazel. In beetween we did C++ autoconfiguration.

If I understand correctly there is only one issue: cxx_builtin_include_directory? In which case it should be covered by the work that @davidzchen has started on auto-detecting nvcc config.

[2016-06-14 09:31] skyprince999 commented on #2830
any updates on this. I am getting a similar error :
[code]

[2016-06-14 09:34] sjperkins opened #2848 "GPU Host To Device copies don't appear to respect GPU operation dependencies"
I've been trying out the fancy new [tracing](http://stackoverflow.com/a/37774430/1611416) functionality in the Tensorflow nightlies. It's really great, thanks for providing it!

One thing I noticed while [enqueueing](https://github.com/ska-sa/montblanc/blob/29b264ee114a6ef63159808125b1a4505cc5ffa2/montblanc/tensorflow/rime_ops/test_all.py#L66-L127) multiple GPU operations with `tf.control_dependen

[2016-06-14 10:54] smartcat2010 opened #2849 "Lack of support for word-embedding on GPU"
Dear experts,

I faced some problems when training model with word-embedding. For simplify the case, I make a helloworld example in this file:
[WE_example.py.txt](https://github.com/tensorflow/tensorflow/files/313712/WE_example.py.txt)

The task is to classify each sentence into 10 classes. Each sentence is length of 30 words. Firstly I use embedding_lookup to get all 30 word-vectors, then I use t

[2016-06-14 11:28] tsitsilin commented on #2810
@zheng-xq, I have a similar setup on Ubuntu 14.04.4 LTS: Cuda v7.5, Cudnn v4, `/gpu/tensorflow-0.9.0rc0-cp27-none-linux_x86_64.whl` with GTX750 Ti and  see the same issue on the mnist example:
`E tensorflow/stream_executor/cuda/cuda_event.cc:49] Error polling for event status: failed to query event: CUDA_ERROR_MISALIGNED_ADDRESS`.

I went one step further and tried another tf examples, such as ale

[2016-06-14 11:44] Shaikjalal commented on #2570
@andrewharp this is the command line i am running
bazel-bin/tensorflow/python/tools/strip_unused --input_graph=/BBGraph/output_graph.pb --output_graph=/tmp/stripped_graph.pb --input_node_names=cast --output_node_names=final_result

[2016-06-14 12:33] maelp commented on #2570
@andrewharp: sorry it was related to the bug #2754 that I closed -- it was linked to the model I downloaded from the web which included some operations that are not in the mobile app, but the link to the model has been updated

[2016-06-14 12:47] KendallWeihe opened #2850 "Saver() not saving as .ckpt file"
I'm trying to save and restore a model. From all the support I have found [here](https://www.tensorflow.org/versions/r0.9/how_tos/variables/index.html) & [here](http://stackoverflow.com/questions/33759623/tensorflow-how-to-restore-a-previously-saved-model-python) `Saver.save()` is supposed to save a model file of type `.ckpt` & then `Saver.restore()` is supposed to used that file name coupled with

[2016-06-14 12:56] #2850 closed

[2016-06-14 12:57] smartcat2010 opened #2851 "How to reduce_max variable length sentences?"
When I use word-embedding to train model, variable-sentence-length is a problem that could hurt performance.
The task is same as [#2849](https://github.com/tensorflow/tensorflow/issues/2849) . I open this new issue because of variable-sentence-length problem.
The task is to classify each sentence into 10 classes. Each sentence is length of 1~30 words. Firstly I use embedding_lookup to get all 1~30

[2016-06-14 13:34] ibab commented on #1062
In order to implement the semantics of `@` properly, we should use an op that exactly matches the behaviour of `numpy.matmul`: http://docs.scipy.org/doc/numpy-1.10.0/reference/generated/numpy.matmul.html#numpy.matmul
Otherwise things would get very confusing when users assume that the tensorflow `@` will work like the numpy one.

Here's a copy of the behaviour described in the docs:
 - If both arg

[2016-06-14 14:17] G10DRAS commented on #254
Well Tensorflow binaries works on RPi2B + Rasbian Jessie. Thank you @samjabrahams.

[2016-06-14 14:38] machomachopadre commented on #2830
@vrv please reopen as another person has same issue

[2016-06-14 15:16] ad26kt opened #2852 "I think 'class EmbeddingWrapper' has problem"
I found that there are some differences between r0.7 and r0.9 which is that : class EmbeddingWrapper in rnn_cell.py in r0.9 doens't has some @property values, just like ``` def input_size``` , ```def output_size ``` . and when i run rnn.rnn with embeded cell, it causes an NotImplementedError which is from RNNCell 's function
[code]

Did i do something wrong?

[2016-06-14 15:45] girving commented on #1062
@ibab I believe all of those semantics are backwards compatible with what we currently have, but @rmlarsen can correct me if I'm wrong.

[2016-06-14 16:12] arita37 commented on #2560
@kosklain   : Ok, Sure

Does 0.9c release now contains this ?

https://www.tensorflow.org/versions/r0.9/get_started/os_setup.html

[2016-06-14 16:16] agupta83 commented on #2342
I am not really sure what is causing this issue. It was resolved once I changed scope names and variables names to shorter string. You can check the `tfevent` file attached with this issue to see the how the scope and variable was named before. TF adds `op_name` on top of that. Now I am using something shorter (shown below) and the graph rendered. I am still unsure about how the error shown in the

[2016-06-14 16:28] jbruck commented on #1066
I came across this error on Ubuntu 16.04, otherwise pretty much same config as the others here.
Just these two fixed the compile errors.
+  cxx_flag: "-D_MWAITXINTRIN_H_INCLUDED"
+  cxx_flag: "-D_FORCE_INLINES"

I noticed the force inlines is also recommended by Theano for the same reason http://deeplearning.net/software/theano/install_ubuntu.html

[2016-06-14 16:30] blablaen opened #2854 "change weights during training"
Hi,
I train a model and save it to ckpt file.
The next think i want do to is to load the model and change some of his weights. I read the TF API and didn't find any way to do that. Am i missing something? Is there a way to change the weights during training?

thank a lot!

[2016-06-14 16:34] ebrevdo commented on #511
I see.  For now you should write your own encoder using tf.nn.dynamic_rnn.
For the decoder we are working on something equivalent to dynamic_rnn.

On Mon, Jun 13, 2016 at 9:21 PM, lightingghost <notifications@github.com>
wrote:

[2016-06-14 16:37] ebrevdo commented on #2793
It seems reasonable to add a clip_gradient op.  That said, you can always look through the output of tf.gradients(), find the gradient you want to clip, and pass it through a thresholding function before passing it to the optimizer.  That'll do what you want.  See ops/clip_ops.py to get a sense of how one may inspect the set of gradients and add modifications to some/all of them.

Marking as "cont

[2016-06-14 16:39] ebrevdo commented on #2838
Is this request specifically for truncated BPTT?  or something more general?

[2016-06-14 16:48] yaroslavvb opened #2855 "Jenkins test take dependencies from pip package instead of .runfiles directory"
TLDR; Jenkins looks for dependencies in `python2.7/site-packages/tensorflow/..` but it should look for them in `bazel-bin/.../test.runfiles/...`. Possibly related to https://github.com/tensorflow/tensorflow/issues/2844

I'm looking at a test failure in https://github.com/tensorflow/tensorflow/pull/2747, and it can't find a data dependency while running on Jenkins, meanwhile this test passes under

[2016-06-14 17:09] andrewharp commented on #2570
@Shaikjalal Can you try running strip_unused with --input_binary=true? It may be trying to read a binary proto as if it were text format.

[2016-06-14 17:14] lightingghost commented on #511
Oh, Thanks @ebrevdo. I will have a try on that.

[2016-06-14 17:46] prb12 commented on #2848
This is indeed the expected behavior.   Control dependencies only constrain the order of evaluation of ops.  The device to host memcpy operations are executed as _Send/_Recv ops which are automatically inserted when the graph is partitioned between cpu and gpu devices.

The _Recv ops  have zero inputs and so are schedulable immediately.  The _Send ops (and hence the transfers) are schedulable as s

[2016-06-14 17:56] bnaul commented on #2815
@caisq I'm running `tensorflow==0.9.0rc0` under Python 3.5, Linux+GPU.

[2016-06-14 17:57] rogertrullo commented on #150
is there also a 3d "Deconvolution" (conv3d_transpose) available?
Thanks!

[2016-06-14 18:06] zhiqiangwan opened #2858 "[install problem] Tensorflow with Anaconda on Ubuntu"
On my Ubuntu 14.04, I have installed tensorflow from source, as specified in the Tensorflow Installation instructions and it works well.

Then I install anaconda but it changes the $PATH environment variable, so I cannot import tensorflow.
Following the instruction in http://stackoverflow.com/questions/33646541/tensorflow-and-anaconda-on-ubuntu, I created an environment and installed tensorflow in

[2016-06-14 18:41] jwise opened #2859 "tf.train.exponential_decay examples use 32 bit number for batch"
As far as I can tell, `tf.train.exponential_decay` examples seem to use a 32-bit signed number for global_step, because the batch number is also a `tf.int32`.  This means that long runs can result in [unpleasant surprises](http://nyus.joshuawise.com/fml-tensorflow.png) with learning rates, which result in a frustrating experience for new users. [1]  Examples should be updated to initialize `batch`

[2016-06-14 18:46] alexatknit commented on #2648
I figured out a workaround. As long as I match the directory structure used by the session manager object, and sync it completely from the master worker to the parameter servers and there are no exception during loading, theres no segfault. The saver also has unexpected behavior when saving sharded models, as the sharded model is saved on the parameter servers rather than the master worker like th

[2016-06-14 19:09] GoMapur opened #2860 "[Installation problem] ImportError: No module named google.protobuf"
Installation problem
### Environment info
Operating System: Ubuntu 14.04

Installed version of CUDA and cuDNN: None
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

If installed from binary pip package, provide:

### Which pip package you installed.
- adium-theme-ubuntu (0.3.4)
- apt-xapian-index (0.45)
- argparse (1.2.1)
- auxlib (0.0.39)
- chardet (2.0.1)
- colorama (0.2.5)
- co

[2016-06-14 19:24] qbx2 opened #2862 "Tensorboard: non-square images are overlapped"
### Environment info
Operating System: Ubuntu 14.04

If installed from sources, provide the commit hash:
592675b2b8d1cabbf923638942ea6f200abe353a

### Steps to reproduce
1. Log some non-square (rectangle, 72x105 in my case) images (at least two) with SummaryWriter.
2. Load the log file with tensorboard.
3. Now, you will see the images are overlapped on images tab.

### What have you tried?
1. I tr

[2016-06-14 20:04] mrry commented on #2648
Thanks for following up. Unfortunately, we still haven't been able to reproduce the failure you are seeing, but it does sound like there's a bug.

Just to clarify: does the failure only occur when there is a mismatch in the directory structure on the master worker and the parameter servers?

[2016-06-14 20:05] graphific commented on #2784
@juansalas hard to say actually since I was compiling a bunch of things, but I think doing a full protobuf reinstall from the master branch should fix it.

[2016-06-14 20:28] alexatknit commented on #2648
The important thing seemed to be that the checkpoint file wasn't overwritten by a save with a different name and that it existed on the parameter server. I also had an issue with collections occurring because I was transitioning to a frozen graph implementation. The resulting exception caused a segfault for some reason.

[2016-06-14 20:30] zheng-xq commented on #2728
It will be very helpful if someone can post a small case to reproduce the problem.

[2016-06-14 20:42] sjperkins commented on #2848
@prb12 Thanks for the detailed feedback, its very helpful for understanding Tensorflow's transfer handling.

I think it's highly dependent on an algorithm's compute to I/O ratio -- Transfers don't matter much if one is performing a lot of GPU compute for a small amount of input data. As this ratio decreases one wants to ensure that one's data transfers overlap compute in order to maximise device u

[2016-06-14 20:45] sherrym commented on #2860
Could you try running:

sudo pip install protobuf

and retry your command?

[2016-06-14 20:46] GoMapur commented on #2860
Hi, I tried and here is the response.

 mapur@mapur-ThinkPad-T540p  ~  sudo pip install protobuf
Requirement already satisfied (use --upgrade to upgrade): protobuf in /usr/local/lib/python2.7/dist-packages
Cleaning up...
 mapur@mapur-ThinkPad-T540p  ~  python
Python 2.7.11 |Anaconda 4.0.0 (64-bit)| (default, Dec  6 2015, 18:08:32)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux2
Type "help", "

[2016-06-14 20:48] sherrym commented on #2859
Examples are supposed to cover common use cases. If you do expect your experiments to overflow a 32-bit integer, then yes, please explicitly set it to int64.

[2016-06-14 20:48] #2859 closed

[2016-06-14 20:48] GoMapur commented on #2860
I believe this is caused by a conda issue that it wont work if there's a library outside conda but conda neither can use it nor can uninstall it.

[2016-06-14 20:54] jwise commented on #2859
Hmm, this might be an indication that what I'm doing is unreasonable :-) But my understanding is that "more data is better", and that 12 hour training runs are not super uncommon in the world of DNNs.  (My inexperience may show through here!)  I had actually (obviously, incorrectly) assumed that the type of that Variable would have been some kind of floating point datatype, given that it wasn't sp

[2016-06-14 20:55] sherrym commented on #2854
How do you want to change the weights?

[2016-06-14 20:58] sherrym commented on #2849
For d, you can follow instructions here to get profiling information:

http://stackoverflow.com/questions/37751739/tensorflow-code-optimization-strategy/37774430#37774430

[2016-06-14 20:59] blablaen commented on #2854
Every weight < threshold
Assign weight = const

[2016-06-14 21:00] rdadolf opened #2865 "Docker GPU CUDA failure fails to be caught by CI"
Two issues:

1. It looks like the recent docker images, including `r0.9rc0-devel-gpu` and `nightly-devel-gpu` (as of June 14) are failing to load libcuda. The `latest-devel-gpu` seems to work fine.

2. The CI tests seem to be missing these failures and reporting success.

### Environment info
**Host:**
  Ubuntu 15.10
  GTX 980, driver version 352.63
  docker 1.11.2 build b9f10c9
  using nvidia-doc

[2016-06-14 21:09] ucabmrn commented on #593
@ebrevdo, thanks for your hints - I have created a SO for a question I have regarding this; your TF wisdom would be gratefully received.
http://stackoverflow.com/questions/37822097/using-tensorarrays-in-the-context-of-a-while-loop-to-accumulate-values

[2016-06-14 21:38] heywhoah commented on #2423
+1.
It'd be great to be able to sample from gamma distributions in TF. That would make it possible to sample from many other popular distributions, such as:
* Inverse-Gamma (just the inverse of a gamma r.v.)
* Beta/Dirichlet (which are just normalized gamma random vectors)
* Student t (sample from a normal whose variance is sampled from an inverse-gamma)
* Gumbel (location-scale transformation of

[2016-06-14 21:49] martinwicke commented on #2855
@caisq, is this a pip install issue?

[2016-06-14 22:02] dave-andersen commented on #2619
Urgh.  I'm concerned that we're not properly setting the IS_LITTLE_ENDIAN flag in the OSS build:
https://github.com/tensorflow/tensorflow/search?utf8=%E2%9C%93&q=IS_LITTLE_ENDIAN

I'll take this on.  @girving - do you know off the top of your head if we have an existing flag for little endian I can repurpose here?  (I'll dig, just trying to be lazy. :)

[2016-06-14 22:10] shoyer opened #2867 "Support size 0 tensors with parse_example and parse_single_example"
Currently, this fails `InvalidArgumentError: Name: <unknown>, Feature: a is required but could not be found.`:

[code]

(The same is true for `tf.parse_example`.)

This sort of thing may seem useless, but can be handy for writing generic code that handles variable sized input (with fixed size for each graph).

[2016-06-14 22:12] girving commented on #2619
@dave-andersen I don't remember, nor do I envy you this task. :)

[2016-06-14 22:15] dave-andersen commented on #2619
I'm, um, just going to use the existing flag and assume it's someone else's responsibility to make the flag work. :)
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/host_info.h#L25

(static const bool kLittleEndian = true; )

[2016-06-14 22:20] girving commented on #2619
Actually, I'm not sure that flag is the issue.  @beopst Are you on a little endian machine?

[2016-06-14 22:21] mmuneebs commented on #2384
I fixed this issue with the workers by commenting the `with tf.device('/cpu:0'):` spec while calling `batch_inputs` in `image_processing.py`. One reason this may have happened with my setup though not completely clear is that I use
[code]
instead of
[code]
as the outermost training scope inside which the batch processing gets called (`inception_distributed_train.py`).

Not sure why exactly this be

[2016-06-14 22:22] shoyer opened #2868 "tf.concat(-1, list_of_tensors) should fail at graph build time, not eval time"
Instead it gives an erroneous result:
[code]

When you run `.eval()` you get the expected error message:
`InvalidArgumentError: ConcatOp : Expected concatenating dimensions in the range [0, 1), but got -1`

Of course, it would be even better if negative indices counted axes from the end (like in NumPy), but that's a different matter...

[2016-06-14 22:22] dave-andersen commented on #2619
@girving - the issue is that we don't use that flag in the PNG decoder, we use the IS_LITTLE_ENDIAN flag, which is only defined by some transitively included google-internal header.

The second part of the issue is that we don't have any tests for the png decode op that would catch this on jenkins.

Fixing.

[2016-06-14 22:30] abezuglov commented on #2728
I adapted CIFAR multi gpu for my project. In my case **both my code and CIFAR** cause memory leaks on 0.8.0rc version. I rolled back to 0.7.1 and I can confirm that there is no memory leak.
I can provide my code if it is till needed.

[2016-06-14 22:34] zheng-xq commented on #2728
@abezuglov, does the memory leak only happen with multi-GPU?

It will be great to have a repro with single GPU. If not, it is okay to have a repro case with multi-GPU.

[2016-06-14 22:49] LeavesBreathe commented on #2255
@khaotik thanks for sharing your unitary code. I have a similar script for unitary. I think as the implementation stands right now, the gradient you're processing from your Unitary Cell is not correct as @ibab illustrated with his newly raised issue.

---
Completely on the side (and we can start a separate thread for this) but I do have some questions about your unitary implementation.

1. Why do

[2016-06-14 22:51] daeyun commented on #150
@rogertrullo `conv3d_backprop_input` is available e.g. #2467

[2016-06-14 22:59] ibab commented on #2255
The issue with casting away the imaginary part of the gradient shouldn't affect either of you.
It only seems to affect the final result that's returned by `tf.gradients`, not any of the intermediate computations. If your gradients are all real (as they should be if you want to run an optimization), then you won't have any issues with this.

[2016-06-14 23:01] LeavesBreathe commented on #511
@lightingghost just to comment on this as I have heavily worked on seq2seq in tensorflow. I have found that I need at minimum 24gb of ram to have a working model of the timesteps you're describing. The demands go up even further to 32 or 64gb for large sized models (2048 sizes). Your 16gb limitation seems normal to me.

[2016-06-14 23:09] LeavesBreathe commented on #2255
@ibab maybe I'm misunderstanding something here. In both the Associative LSTM and Unitary, there are intermediate complex calculations that are called for. How could all gradients be real if there are complex calculations occurring?

I understand that you can initialize all the trainable variables with `tf.complex(var1, var2)`. However, when I run the `tf.gradient` function on a real cost function

[2016-06-14 23:24] ibab commented on #2255
If both the function that you are computing and the variables that you differentiate with respect to are real, then the gradients must be real, even if there were intermediate complex calculations involved.
You can see this from the following argument:
 - If both the differentiated function and the variables are real, then we can construct a fully real function by simply keeping track of the real

[2016-06-14 23:45] ibab commented on #2868
Nice catch!
The problem is that it's only tested whether the concatenation axis is too large (`>= ndims`) here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/array_ops.py#L530
But this should also test for `concat_dim < 0`.

[2016-06-14 23:48] abezuglov commented on #2728
If I remember correctly, it did happen with both single and multi GPU's.

Please, find the main training loop below. The complete code is here: [https://github.com/abezuglov/ANN/tree/master/code], where ilt_one_layer.py, ilt_two_layers.py, etc. are the models; ilt_default_feed.py -- training on a single device, ilt_multi_gpu_feed.py -- training on multiple devices. Let me know if I can be of furth

[2016-06-14 23:54] prb12 commented on #2848
In the general case, doing a good job of this requires having an accurate cost model including the computation cost of ops and the shapes of all Tensors.  In the presence of custom ops and dynamically fed tensors (whose shape we often don't know until runtime), there is a lot of missing information.  Even in the presence of full information, computing a good schedule is an expensive algorithm whic

[2016-06-15 00:08] el3ment commented on #150
@rogertrullo if you manage to get conv3d_backprop_input to work as a deconvolution, would you publish some example code?

[2016-06-15 00:13] cssndrx commented on #2825
I can't reproduce what you're seeing. Could you add a small code snippet to repro?

[code]

This returns:
[code]

[2016-06-15 00:24] ibab commented on #2868
I've submitted a PR that adds the missing check.

[2016-06-15 00:51] flx42 commented on #2865
See #2525

[2016-06-15 01:07] khaotik commented on #2255
@LeavesBreathe

My bad. One line in the code is supposed to be commented out, already edited. There should be only one FFT/IFFT pair.
As for why I multiply `fft_scale`, is due to TF's FFT is not a normalized FFT, it will scale the norm of the vector being FFTed. For example:
[code]

They are diagonal.
If you multiply (NOT `matmul`) tensor `x` of shape `[4]` with tensor `y` of shape `[100,4]`, you

[2016-06-15 01:12] davidzchen opened #2873 "Perform CUDA autoconfiguration in Skylark"
Moving the CUDA autoconfiguration to a Skylark repository rule, similar to Bazel's [`cc_configure`](https://github.com/bazelbuild/bazel/blob/master/tools/cpp/cc_configure.bzl), will fix many pain points and build issues that have been reported. This will also eventually allow projects such as Serving and Magenta to include TensorFlow as a Bazel workspace dependency rather than a Git submodule.

Re

[2016-06-15 01:12] davidzchen commented on #2536
Here is the tracking bug for the cuda autoconf: #2873

[2016-06-15 01:12] alquraishi commented on #2788
I'm seeing similar behavior, and it also appears to be installation or system dependent. cifar10_train.py hangs after some random number of iterations. Same with my own models. This is on a system with 4 x Tesla K80s.

[2016-06-15 01:12] davidzchen commented on #2109
This is the tracking bug for cuda autoconf: #2873

[2016-06-15 01:13] davidzchen commented on #1157
Here is the tracking bug for cuda autoconf: #2873

[2016-06-15 01:14] dave-andersen commented on #2619
Fix submitted, should hit github at next sync.  Will let the fix close it.
@beopst - huge thanks for providing an easy way to reproduce with your bug report!

[2016-06-15 01:29] dsmilkov commented on #1782
Hi eriophora@,

To make sure I understand your question: Are you asking for "weights" to be left of "BatchNorm" inside the conv0 namespace? Left-to-right ordering is meaningless in the graph visualizer. What matters is the bottom-to-top ordering. We leave left-to-right ordering to the layout optimizer to figure it out, which sometimes can swap nodes to reduce edge crossing and we can't control it

[2016-06-15 01:30] shoyer opened #2874 "FixedLenFeature with dimensions of unknown size fails with strange error"
[code]

[code]

It would be nice to get an informative `ValueError` at graph construction time.

[2016-06-15 01:33] danijar commented on #2838
It's for both truncated BPTT and architectures using LSTM decoders. In the second case, the cells are initialized with some encoded activation. For an example see: Skip-Thought Vectors (Kiros et al. 2015).

[2016-06-15 01:44] sufengniu commented on #2706
any updates on this issue?

[2016-06-15 01:59] gavinsherry opened #2877 "eigen_spatial_convolutions.h: reading of uninitialized variable 'k'"
It appears that `k` is not initialized before being read below. From eigen_spatial_convolutions.h:848:

[code]

Am I missing something here?

[2016-06-15 02:14] rdadolf commented on #2865
Ahh, it seems I didn't read that issue carefully enough. I had seen the resolution on cudnn, but the libcuda conclusion was different.

I'll submit a pull request to do just that.

#808 also had this issue, but the conclusion was to use nvidia-docker (which is not the solution here, since I'm already using it). I should note that adding a `RUN ln -s /usr/local/nvidia/lib64/libcuda.so.1 /usr/lib/x8

[2016-06-15 02:51] amolchanov86 commented on #2118
Hi everyone,
I have a question. How can I force certain dimensionality of the output of the conv2d_transpose layer ? My problem is that I use it for upsampling and I want to match the dimensionality of my labels and the output of the NN, for example if I have a feature map as Bx25x40xC how can I make it Bx100x160xC (i.e. upsample exactly 4x times) ?

[2016-06-15 03:12] lightingghost commented on #511
@LeavesBreathe Thanks for letting me know that. Already ordered more RAMs on BestBuy =.=

[2016-06-15 03:36] benoitsteiner commented on #2829
This could be because the makefile used to compile TensorFlow on Raspberry Pi isn't up to date, so we end up pulling a very old version of Eigen instead of the correct one. Can you send me the command(s) you use to launch your build ? I'll take a look.

[2016-06-15 04:04] LeavesBreathe commented on #2255
Maybe some of the variables that you differentiate by are still complex?

@ibab  You could be right. I will carefully analyze all of my `trainable variables` and ensure that they are all real.

Thank you very much for the comprehensive mathematical explanation for gradient understanding. Makes much more sense to me now.

----

@khaotik

Apologies for some of my misunderstandings. Makes complete se

[2016-06-15 04:35] peterzcc commented on #2811
Hi @caisq

Thanks for your reply. I tried SWIG Version 3.0.8 to my virtualenv directory but another error occured, saying that libpcre.so.1 not found

[2016-06-15 05:52] #2619 closed

[2016-06-15 07:11] sahil912 commented on #16
May I know, When will the tensor flow for iOS will be out? Any reference example that will help get started. Thanks

[2016-06-15 07:13] bhack commented on #1996
@windreamer @girving How do you think this can be initally contributed to TF? I think that if you can create a PR we can attract a more extended users base.

[2016-06-15 08:26] concretevitamin commented on #2180
@maniteja123 please feel free to take it.  Besides all of the above suggestions, I'd imagine adding an additional bool flag (`reorder`?) to the Python function can be useful, with default to True.

[2016-06-15 08:34] maniteja123 commented on #2180
Thanks for the response. Could you please clarify some questions ? Would adding a wrapper suffice ? I was thinking ``sparse_ops.py`` where similar functions are there ? Or should it be added to the core code ?

Also the implementation AFAICU would be something like

[code]

Please let me know if this is  the right approach here ? Thanks.

[2016-06-15 08:35] windreamer commented on #1996
sure，it is an honour to contribute these small code base to TF. however, i think TF prefers k8s over mesos or yarn.

[2016-06-15 08:41] bhack commented on #1996
K8s is in house but I don't that @mrry is against Mesos contribution.

[2016-06-15 08:45] windreamer commented on #1996
by the way, `tfmesos` depend on `pymesos` as a driver, (or you can use mesos native python driver, however it is a lot heavier). I do not know whether TF cares about external dependencies.

[2016-06-15 09:04] jyshee commented on #2605
I tried to use[ tf.extract_image_patches](https://www.tensorflow.org/versions/r0.9/api_docs/python/array_ops.html#extract_image_patches) to implement a locally layer and run into an error:

LookupError: No gradient defined for operation 'local/ExtractImagePatches' (op type: ExtractImagePatches)

I checked that  tf.space_to_depth has the gradient definition but  tf.extract_image_patches does not. A

[2016-06-15 09:14] acowlikeobject commented on #2810
@zheng-xq See the same error when running MNIST test.
`E tensorflow/stream_executor/cuda/cuda_event.cc:49] Error polling for event status: failed to query event: CUDA_ERROR_MISALIGNED_ADDRESS`

Also on Ubuntu 14.04, Cuda v7.5, Cudnn v4.  Use the nvidia-docker using [this image](https://github.com/NVIDIA/nvidia-docker/blob/master/ubuntu-14.04/cuda/7.5/devel/cudnn4/Dockerfile).

This is using a GTX

[2016-06-15 09:58] machomachopadre commented on #2830
@skyprince999 Follow this [here](http://stackoverflow.com/questions/37804158/syntaxnet-bazel-test-failed) and [here](https://github.com/tensorflow/models/issues/196). Please tell me if you have found an answer!!

[2016-06-15 10:00] suraj1990 commented on #2776
I understood from this thread https://github.com/tensorflow/tensorflow/issues/600#issuecomment-225301315 that the crash is because of my RAM size. I see that my RAM is not sufficient to load full training data. i.e 22M sentences. So as suggested in the link, I am currently setting  max_train_data_size to 10M or which ever value your RAM can handle. It runs fine.

[2016-06-15 10:02] suraj1990 commented on #600
@lukaszkaiser  No, I see that the checkpoint data as well as other directories are intact. Caould there be any other reason?

[2016-06-15 10:15] suraj1990 commented on #600
@lukaszkaiser you say that the training data should be huge. I tried with 10M sentences for English to French Translation. I see that the results are not good. I even tried to use AdagradOptimizer optimizer in place of GradientDescentOptimizer  in seq2seq_model.py. The perplexity of the first two buckets is below 10 for checkpoints after 15000.  Can you tell me if this is a good behavior?  Also at

[2016-06-15 10:23] skyprince999 commented on #2830
@machomachopadre no, I am still confounded!!! However I have been able to run the Dockerfile and build it using the docker service.

[2016-06-15 10:30] jdoerrie opened #2880 "tf.flags.DEFINE_boolean is broken for flags containing dashes"
`tf.flags.DEFINE_boolean` does not replace dashes with underscores when adding the negated flag, which results in a bug for flags containing dashes.

### Environment info
Operating System: Mac OSX 10.11.5
Pip Package: https://storage.googleapis.com/tensorflow/mac/tensorflow-0.9.0rc0-py3-none-any.whl
TensorFlow Version: 0.9.0rc0

### Steps to reproduce
- `foo.py`:
[code]

### What have you tried?
-

[2016-06-15 10:57] khaotik commented on #2255
@LeavesBreathe Thanks for improving my code. I just put the new code in a new [repo](https://github.com/khaotik/char-rnn-tensorflow), which is a fork of [char-rnn-tensorflow](https://github.com/sherjilozair/char-rnn-tensorflow). Feel free doing experiments or contributing.

[2016-06-15 11:37] CharlesJQuarra commented on #324
can you link the commit that fixed this issue?

[2016-06-15 11:38] CharlesJQuarra commented on #324
also why has all these 'summaries' be added to display the already existing graph? supposedly the graph exists even with no summaries added, why can't the underlying graph be rendered without summaries?

[2016-06-15 12:14] kalleknast commented on #1373
@viksit: Sorry for the delay. I did a fresh tensorflow installation on a new computer and the problem remains. I get a segfault if I import Gtk and tensorflow. Cuda version 6 has never been installed on the computer (only Cuda compilation tools release 7.5, V7.5.17 and CUDNN is v 4).

I want to point out that the segfault ONLY occurs when importing both Gtk (ie `import gi; from gi.repository impor

[2016-06-15 12:55] suiyuan2009 commented on #1820
any update? the link [](https://tensorflow-review.googlesource.com/#/c/1252/) in #531 is invalid

[2016-06-15 13:06] entttom commented on #1269
@mattpoggi i have the same error - did you find a solution?

[2016-06-15 13:12] Shaikjalal commented on #2570
@andrewharp Thanks that worked, I will try load the new graph in the demo and see if it infers, fingers crossed. :)
Cheers!

[2016-06-15 13:14] mattpoggi commented on #1269
Nope, I tried to remove the op from the exclude list, but I'm now I'm facing more build errors. I'll try again in the weekend.

[2016-06-15 13:20] entttom commented on #1269
@mattpoggi please let me know if you find a solution - i will also do my best!

[2016-06-15 13:22] yyyreal opened #2882 "TensorFlow cannot detect my GPU"
I have a Ubuntu 14.04.4 with Titan X, cuda 7.5 and cudnn v4

cuda 7.5 was installed by a run file, just like I used to installed Caffe.
Environment variables have been added to /etc/profile  and ~/.bashrc
A file named cuda.conf have been added to /etc/ld.so.conf.d/

I installed TensorFlow via pip, using the following command:

$ sudo pip install --upgrade https://storage.googleapis.com/tensorflow/

[2016-06-15 13:45] ebrevdo commented on #2852
Lukasz, ptal?

[2016-06-15 13:46] rogertrullo commented on #150
@el3ment sure!, I am wondering though, if I define the operation like in #2467 , if I use the function as a layer, will the backward pass do something? (since we are actually using the backward pass of the convolution as forwards pass for the "deconvolution" )

[2016-06-15 14:02] efritzilas commented on #1870
Same behaviour as @mlopezantequera when trying to build on CentOS 6.7. My debug output is the same, expect for the actual installation directory of Python that is different in my case.

If that matters, I'm running Python 2.7.10 using environment modules, so LD_LIBRARY_PATH etc are all set up correctly. The actual Python binary and libs have been built with EasyBuild.

[2016-06-15 14:15] SioIkzk commented on #2618
Thank you for all of your comments.
I had been tackled on this issue, but I could not resolve it.

Yes, I have installed the older gcc in my current directory. Maybe I should also install gcc in system directory.

Anyway, I will try again with new version of tensorflow. Many thanks!

[2016-06-15 14:29] mat-peterson opened #2883 "iOS example DecodeJpeg issue with Image Retraining model"
### Environment info
Operating System: iOS

### Steps to reproduce
1. Follow the contrib/makefile/README to install the tensorflow iOS core lib
2. Create my own model with the Image Retraining tutorial
3. Run the iOS example, error is logged.

### Logs or other output that would be helpful
`Running model failed:Invalid argument: No OpKernel was registered to support Op 'DecodeJpeg' with these attr

[2016-06-15 15:18] daeyun commented on #150
@rogertrullo I think so. conv2d_transpose is actually `conv2d_backprop_input`.

https://github.com/tensorflow/tensorflow/blob/9e8a4938c06301cc3afa4cd3a3c6c2279e81c98f/tensorflow/python/ops/nn_ops.py#L292

[2016-06-15 15:26] petewarden commented on #16
The documentation is still in progress, and we're still testing it, but you can build an iOS version of the library by using the new makefile system:

https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile

After that's built, the tensorflow/contrib/ios_examples folder has a couple of sample applications.

[2016-06-15 15:31] girving commented on #1373
@kalleknast That does seem like it could be a similar problem, but please file a separate issue anyway since we're trying to keep the issue tracker organized and this one has already been fixed.  Apologies for the bureaucracy, but keeping issues focused helps us not let fall through the cracks (and not get fixed).

[2016-06-15 15:37] girving commented on #2788
@mrry Suggestions?  Seems like this one is going to be hard to debug.  Assigning to you for now.

[2016-06-15 15:42] girving commented on #2118
@amolchanov86 Questions like that should go on StackOverflow; Github issues are for bugs and feature requests.

[2016-06-15 16:15] mrry commented on #2788
(Reassigning to Benoit as my best guess is that it's an Eigen threadpool issue.)

It might be a red herring, but the "busy" thread has a stack that includes the new Eigen threadpool, and perhaps it could be livelocking? @dvyukov, @rmlarsen, or @benoitsteiner would be best placed to comment on whether this is possible.

Just for clarification, when you say "virtual cores" do you mean hyperthreads,

[2016-06-15 16:34] dvyukov commented on #2788
Please run `thread apply all` in gdb and post output here.
At first sight it looks like it's just doing some work. Maybe inefficiently. But it's unclear where is the root of inefficiency -- in tensorflow or in your code.

[2016-06-15 16:39] mrry commented on #1996
@bhack @windreamer: We'd be delighted to see TensorFlow working on Mesos (and YARN, and other cluster managers). I don't know anything about how `tfmesos` is structured, but if it can exist as external code, that would be best. It shouldn't be necessary to add a dependency from the core `tensorflow` module to `pymesos` or any other cluster manager, unless I'm missing something. We could investigat

[2016-06-15 16:42] bhack commented on #1996
@mrry Yes probably in tensorflow.contrib to have a little bit more exposition to the project.

[2016-06-15 16:42] paul2254 opened #2885 "Tensorflow import error despite correct installation"
Hi everyone!

### Environment info
Operating System: Ubuntu 16.04 LTS
Graphics card: GTX 1080 Founders Edition
Installed version of CUDA: 8.0 RC
Installed version of cuDNN: v5 (May 27, 2016), for CUDA 8.0 RC

Output of `ls -l /usr/local/cuda/lib64/libcud*`:
[code]

Tensorflow installed from source, last commit hash: 7644b3dd001355bf5e3734e541d9955277447601

## Problem
When I open the terminal and

[2016-06-15 16:48] amolchanov86 commented on #2118
Well, it would be actually great to have such feature, since the conv2d_inverse is often used for the goal of upsampling anyway and one usually have a standard target size :) But, sure, you are right.

[2016-06-15 17:00] #2868 closed

[2016-06-15 17:37] craigcitro commented on #2880
@jdoerrie Yep, good catch. Would you have time to send a PR?

[2016-06-15 18:31] alexatknit commented on #2788
@mrry The i7-5930K has 6 cores but shows 12 in htop so I guess the proper name for that is hyperthreads? I'm going to work on getting thread apply all in gdb

[2016-06-15 18:46] alexatknit commented on #2788
[code]

[2016-06-15 19:00] andrewharp commented on #1269
@mattpoggi @entttom Try running [strip_unused](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/strip_unused.py) on the graph to remove the unsupported jpeg decoding layers. For inception v3 I believe the input you'll actually want to use is "Mul:0".

You may need to also pass in --input_binary=true depending on the format of your graph.

[2016-06-15 19:00] benoitsteiner commented on #2788
The cifar model uses local response normalization operation. Since this op doesn't have a GPU implementation it is being run on the CPU and therefore a fairly high average CPU utilization is expected.
However since most of the graph is being processed on the GPU I expect that the threads will often be waiting for actual work to do,  and therefore the stack trace will often show them stuck in sched

[2016-06-15 19:01] #2447 closed

[2016-06-15 19:03] alexatknit commented on #2788
I'm just running python3.4 cifar10_train.py

[2016-06-15 19:15] dvyukov commented on #2788
Sooo much mutexes, my eyes are bleeding.
Is it a traceback during the "hang"?
I have two ideas:
1. The new thread pool executes CPU part faster, which increases contention on GPU (or on GPU management code) to indecent levels.
2. Everything is serialized on GPU but otherwise is fine. Some CPU is consumed by thread pool spinning threads.
Does it make any sense?

[2016-06-15 19:20] alexatknit commented on #2788
@dvyukov Of course this is a traceback during the hang. The traceback is taken from the execution from my last comment with $ python3.4 cifar10_train.py running to just past step 40. I don't remember how many threads were busy in this case. It hangs even if nothing is deployed to the gpu.

[2016-06-15 19:24] alexatknit commented on #2788
@mrry I get build errors if I use your #define EIGEN_USE_SIMPLE_THREAD_POOL workaround.

[2016-06-15 19:26] dvyukov commented on #2788
The only non-blocked thread in the trace is the one executing cuda ioctl. The rest are either blocked on GPU mutex (waiting for the first thread), or thread pool threads out of work.
Looks like the cuda driver is misbehaving.

[2016-06-15 19:30] blablaen commented on #2854
http://stackoverflow.com/questions/34220532/how-to-assign-value-to-a-tensorflow-variable

[2016-06-15 19:30] #2854 closed

[2016-06-15 19:39] benoitsteiner commented on #2788
Most of the CPU to GPU and GPU to CPU copies come from the fact that the exponential moving average variables are all placed on CPU, which causes a lot of small data transfers. Can you try to move it to GPU and see if that helps reduce the likelihood of the CPU hanging ? It will also help the model train faster.

[2016-06-15 19:40] mrry commented on #2885
Did you follow the instructions in [Create the pip package and install](https://www.tensorflow.org/versions/r0.9/get_started/os_setup.html#create-the-pip-package-and-install)? This step is necessary for your default Python installation to be able to `import tensorflow`.

[2016-06-15 20:13] alexatknit commented on #2788
I commented out the code that deploys the variables to the cpu and these are the new stacks (most are duplicates):

[code]

[2016-06-15 20:14] alexatknit commented on #2788
Is it possible that the gpu has a defect?

[2016-06-15 20:20] alexatknit commented on #2788
I'm going to try out the new drivers: 367.27

[2016-06-15 20:26] kalleknast commented on #1373
@girving
The back trace from core dump from the original segfault (ie importing Gtk before tensorflow):

`[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
Core was generated by `/usr/bin/python3 /usr/local/bin/ipython'.`
Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x00007fdd874a4b2b in tensorflow::kernel_fa

[2016-06-15 20:38] alexatknit commented on #2788
didn't work

[2016-06-15 20:39] alexatknit commented on #2788
I'm going to install the cpu only build

[2016-06-15 20:53] alexatknit commented on #2788
Still happens on cpu only install, has nothing to do with cuda.

[2016-06-15 20:57] alexatknit commented on #2788
[code]

[2016-06-15 21:03] alexatknit commented on #2788
the only thread that isn't waiting on a mutex or calling syscall-template.S is thread 41:

[code]

[2016-06-15 21:12] sherrym commented on #2854
You can do something like:

v = tf.Variable(1.0)
c = tf.constant(2.0)
c2 =  tf.cond(v < c, lambda: tf.constant(3.0), lambda: tf.constant(4.0))
v2 = tf.assign(v, c2)
with tf.Session() as sess:
  sess.run(tf.initialize_all_variables())
  print sess.run(v2)

[2016-06-15 21:18] golmschenk commented on #2825
@sdemyanov is probably using a Tensor in the moving average rather than a Variable, since the documentation for `tf.train.ExponentialMovingAverage.apply` specifies that "For Tensor objects, the shadow variables are initialized to 0."

[2016-06-15 21:22] zheng-xq commented on #2882
Could you run "nvidia-smi" and report back what GPU is available?

TensorFlow successfully load alll the Cuda libraries. But failed to find any GPU. We need to make sure GPUs are actually visible there.

[2016-06-15 21:34] nsthorat commented on #2342
Can you post a tfevents file that is broken? I tried the original one attached to this thread and it renders just fine.

[2016-06-15 21:40] ashwin1992 opened #2890 "Tensorflow Session hangs when tf.Session() is created"
### Environment info
Operating System:
 Ubuntu 14.04

Installed version of CUDA and cuDNN:
(
CUDA =7.5 cuDNN=4

ashwin@smile-titan:~$ ls -l /usr/local/cuda-7.5/lib64/libcud*
-rw-r--r-- 1 root root   322936 Aug 15  2015 /usr/local/cuda-7.5/lib64/libcudadevrt.a
lrwxrwxrwx 1 root root       16 Aug 15  2015 /usr/local/cuda-7.5/lib64/libcudart.so -> libcudart.so.7.5
lrwxrwxrwx 1 root root       19 Aug

[2016-06-15 21:50] petewarden commented on #2883
Sorry you're hitting problems! Since DecodeJpeg isn't supported as part of the core, you'll need to strip it out of the graph first. I'm working on a more user-friendly approach, but you should be able to run the strip_unused script on it, something like this:

[code]

Let me know if that helps.

[2016-06-15 21:54] girving commented on #2118
I'm going to mark this as contributions welcome since there are some subtleties that I don't have time to investigate at the moment.  I'd be happy to review PRs if anyone wants to tackle this.  The subtlety is that  I'm not sure what the ideal default should be.

[2016-06-15 22:00] lukaszkaiser commented on #600
I think the perplexity needs to go to around 4 for the results to be good. On a single GPU, this can take about a month of training with this simple tutorial script. There is a lot that can be sped up there, and better parameter settings can help, but I hope that gives you a general idea for the expectations.

[2016-06-15 23:06] paul2254 commented on #2885
Thank you Derek for your message. It was precisely because of that. Now I feel bad. Next time I'll be more careful not to skip a part of the tutorial.
Now everything works fine, thanks to you!

[2016-06-15 23:19] mrry commented on #2885
That's no problem - I'm glad it's working, and don't feel bad!

[2016-06-15 23:19] #2885 closed

[2016-06-16 00:24] #2289 closed

[2016-06-16 01:37] concretevitamin commented on #2774
I pushed a fix via commit [de6ce1de08](https://github.com/tensorflow/tensorflow/commit/de6ce1de08ea97d599687fbbe5196ca4af5232ae).  Please feel free to re-open if related issues come up.  Thanks!

[2016-06-16 01:37] #2774 closed

[2016-06-16 01:38] concretevitamin commented on #2769
Fixed by [f36659](https://github.com/tensorflow/tensorflow/commit/f36659f555027481788d14cc388cec1071a3182a).

[2016-06-16 01:38] #2769 closed

[2016-06-16 02:39] amineHorseman commented on #2773
Sorry for the delay:

Here's what I get when I execute it with gdb:
[code]

[2016-06-16 02:44] zzqiang04053080 opened #2894 "how to use multiple parameters server under synchronous gradient update"
recently, I try to train the inceptionV3 mode with multi machine. As described in [https://github.com/tensorflow/models/tree/master/inception](url),  tutorial describes how to train inceptionv3 using tensorflow  distributed version, but only use a parameter server.
I want to know how to use multiple parameters server under synchronous gradient update, anyone can give guidance?

[2016-06-16 03:02] ad26kt opened #2895 "fatal issue with _reverse_seq in rnn.py"
I was trying to code bidirectional seq2seq on my own. I made a ```cell with a embedding wrapper```,
following is the code of _reverse_seq which is from tensorflow ver r0.7(r0.9 doesn't work either)
[code]

it requires input_seq which is ```sequence of seq_len tensors of dimension (batch_size, depth)```
However, pay attention to a part of ```def bidirectional_rnn ``` :
[code]

just because I use a

[2016-06-16 03:31] randomiser opened #2896 "compile_ios_tensorflow.sh failing"
Hi there

I'm following the instructions on your website to build a version of tensor flow for iOS:

https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile

Unfortunately when I get to final step:

tensorflow/contrib/makefile/compile_ios_tensorflow.sh

It errors with:

 /Projects/ML/tensorflow/tensorflow/contrib/makefile/gen/lib/libtensorflow-core-armv7.a -arch armv7 -mip

[2016-06-16 04:33] jmugan commented on #2342
You should be able to get it here. https://drive.google.com/file/d/0B7nTycTqHbhMZ21uMDMxOUJHNWc/view?usp=sharing

[2016-06-16 04:52] MMingabc opened #2897 "It is too painful to install a gpu-surpport edition on Ubuntu 16.04"

[2016-06-16 05:23] #2776 closed

[2016-06-16 05:25] prakhar21 commented on #2830
I was also facing the same issue. The problem was with bazel version that, I have been using.
https://github.com/bazelbuild/bazel/releases  <- Download bazel-0.2.2.deb for you configuration.
run it using `sudo dpkg -i filename.deb`.
Check for the bazel version by typing: `bazel version` , it must say 0.2.2.
Rest follow the tutorials. You must be good to go.

[2016-06-16 05:31] blablaen commented on #2854
thanks

[2016-06-16 05:39] #2811 closed

[2016-06-16 05:52] suraj1990 commented on #550
Some of the sampel outputs that I am getting are attached
![sample-translations](https://cloud.githubusercontent.com/assets/5551707/16106680/15101370-33b4-11e6-8cb0-c206469f4141.png).

The results are not good.
`global step 46300 learning rate 0.2499 step-time 0.89 perplexity 7.50
eval: bucket 0 perplexity 6.22
eval: bucket 1 perplexity 7.30
eval: bucket 2 perplexity 9.18
eval: bucket 3 perplexity

[2016-06-16 06:30] martinwicke commented on #2865
@caisq @jendap @gunan Any idea why we are missing this in CI?

I'm reopening this and changing title appropriately. (I merged the fixing PR, thanks @rdadolf!)

[2016-06-16 08:10] machomachopadre commented on #2830
@prakhar21 my bazel version is 0.2.3, but tensorflow(not syntaxnet) had built normally and is functioning

[2016-06-16 08:12] StephenOman commented on #2896
That problem is caused by the out-of-date tf_cc_files.txt file that is in the repo. That version doesn't include newer files such as shape_inference.cc, the source of the missing symbols in your error.

If you run ./gen_file_lists.sh from tensorflow/contrib/makefile it will generate a new tf_cc_files.txt for you. Then run the compile script again and see if it works.

Note that you have to remove

[2016-06-16 08:19] StephenOman opened #2899 "[make] gen_file_lists.sh output to wrong directory"
The gen_file_lists.sh script in contrib/makefile outputs the generated lists to the incorrect directory:

[code]

The "make/" should be removed as "make" expects the lists to be in the same directory as the Makefile.

[2016-06-16 08:49] boluoweifenda opened #2900 "When will the installation support cuDNN 5 ?"

[2016-06-16 09:18] MammadTavakoli opened #2901 "problem in checkpoint"
I used tf 0.9.

When I restore the checkpoint i get the error:

Traceback (most recent call last):

  File "<ipython-input-42-7082fb551371>", line 1, in <module>
    runfile('/media/m/E/Deep/proj/1/t.py', wdir='/media/m/E/Deep/proj/1')

  File "/home/m/anaconda3/lib/python3.5/site-packages/spyderlib/widgets/externalshell/sitecustomize.py", line 714, in runfile
    execfile(filename, namespace)

[2016-06-16 09:21] machomachopadre commented on #2830
@skyprince999 got some vague response [here](http://stackoverflow.com/questions/37804158/syntaxnet-bazel-test-failed)(by kristina)

[2016-06-16 09:29] Crusty82 commented on #2277
I have just received a very similar error on Assignment 3, after copying over an existing and working movel from Assignment 2. I restarted my colab kernel and things worked fine afterwards.

[2016-06-16 10:21] noisychannel commented on #526
Issue still exists in 0.9.

[2016-06-16 10:24] noisychannel commented on #526
Out of curiosity, how is this not a bigger issue? Is there a specific condition where this failure occurs? It seems like the process crashes whether all or any GPUs are available on the machine.

How do other people get around this?

[2016-06-16 11:00] skyprince999 commented on #2830
@machomachopadre syntaxtnet doesn't work with 0.2.3 check the installation instructions over [here]( https://github.com/tensorflow/models/tree/master/syntaxnet)
Thanks @prakhar21 for pointing it out.

[2016-06-16 11:06] mhex opened #2902 "build_pip_package fails with locally installed python3: script unsets LD_LIBRARY_PATH"
build_pip_package fails here with

`ERROR: /path/to/src/tensorflow/tensorflow/contrib/session_bundle/example/BUILD:38:1: Executing genrule //tensorflow/contrib/session_bundle/example:half_plus_two failed: bash failed: error executing command`

caused by

`error while loading shared libraries: libpython3.5m.so.1.0: cannot open shared object file: No such file or directory`

executing

`(cd path/to/

[2016-06-16 11:10] MrSlayer02 commented on #2829
After installing bazel and protobuf, I used :

- `git clone --recurse-submodules https://github.com/tensorflow/tensorflow`
- `grep -Rl 'lib64'| xargs sed -i 's/lib64/lib/g'`
- `sudo ./configure` ; I configured no Google Platform Support and no GPU support
- `sudo bazel build -c opt --local_resources 1024,1.0,1.0 --verbose_failures --ignore_unsupported_sandboxing --copt="-mfpu=neon" tensorflow/tool

[2016-06-16 11:26] rdadolf commented on #2865
Thanks, @martinwicke.

Also, I alluded to this in the original post, but I think the CI issue boils down to the tests checking for correctness on the output of the test, whereas in this case, we actually care that the output was correct *and* that the output was generated by code on the GPU. Since TF fails gracefully back to the CPU when the cuda libraries aren't found, the tests run along happily

[2016-06-16 11:46] dvyukov commented on #2788
It seems that all worker threads except one are in some kind of livelock, while one thread is working. And that livelocked threads additionally slowdown the working threads (due to contention in kernel or memory bus contention).

@alexatknit, you said that "Pausing and continuing the process using gdb will make it continue immediately". Is it true most of the time?
It seems that the pause/resume p

[2016-06-16 11:56] kalleknast opened #2903 "Importing Gtk before tensorflow causes crash"
### Environment info

Ubuntu 16.04
`uname -a
Linux p900 4.4.0-22-generic #40-Ubuntu SMP Thu May 12 22:03:46 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

Installed version of CUDA and cuDNN:
Cuda compilation tools release 7.5, V7.5.17 and CUDNN is v 4

`ls -l /usr/local/cuda-7.5/lib/libcud*
-rw-r--r-- 1 root root 189170 Jun  2 10:18 /usr/local/cuda-7.5/lib/libcudadevrt.a
lrwxrwxrwx 1 root root     16

[2016-06-16 12:01] dvyukov commented on #2788
Of maybe 2x100000000x2 kind of configuration?

[2016-06-16 13:22] #2858 closed

[2016-06-16 13:27] ems7 commented on #2685
I am having the same issue, I tried replacing `from tensorflow.models.rnn import rnn_cell` with
`tensorflow.nn.rnn_cell` but this gives the error `tensorflow.nn.rnn`

[2016-06-16 14:37] KendallWeihe commented on #2685
No, there are two ways to do it. just like throughout the code you see
tf.nn.something

that would work, and you would get rid of the import tensorflow.models.rnn.

and what that means is that it is placed in tensorflow.python.ops

so I just replaced tensorflow.models.rnn with tensorflow.python.ops

On Thu, Jun 16, 2016 at 9:28 AM, ems7 <notifications@github.com> wrote:

[2016-06-16 14:41] martinwicke commented on #2865
We have a way to enforce the GPU being used (force_gpu arg for test
session), but we have no test for it. We should make such a test.
On Thu, Jun 16, 2016 at 04:27 Bob Adolf <notifications@github.com> wrote:

[2016-06-16 15:39] girving commented on #2773
It looks like your library path doesn't include `libcudart.7.5.dylib`.

[2016-06-16 15:40] girving commented on #2774
@concretevitamin In future, please automatically close issues from the commit by saying "Fixes #2774" or similar: https://help.github.com/articles/closing-issues-via-commit-messages

[2016-06-16 16:18] machomachopadre commented on #2830
@skyprince999 how did you uninstall previous bazel version?

[2016-06-16 16:23] ushnish opened #2905 "Why has the RNN API changed so drastically?"
The new 0.9 version has 3 changes which has broken my existing functionality.

1. Have to use tensorflow.python.ops.rnn_cell instead of tensorflow.models.rnn.rnn_cell
2. Have to use cell(inputs, state..) instead of rnn.rnn(cell, inputs, state ...)
3. Initial_state keyword arg has been removed
4. Worst of all, i can't find any mention of variable sequence length in the new version of rnn_cell code

[2016-06-16 16:23] machomachopadre commented on #2830
@skyprince999 How did you uninstall your previous bazel version? I tried `rm -fr .cache/bazel` following recommendation [here](http://stackoverflow.com/questions/37804158/syntaxnet-bazel-test-failed#comment63168021_37845800), but it didn't work

[2016-06-16 16:30] ushnish commented on #2129
Yes! Incredibly import numpy before tensorflow fixes this issue. What's weird is this issue started happening today, and I've run this same code 50+ times before this started happening.

[2016-06-16 16:31] makhzani opened #2906 "cond"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-06-16 16:31] makhzani opened #2907 "cond"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-06-16 16:31] makhzani opened #2908 "cond"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-06-16 16:38] cyriltw commented on #1142
@Jx-b you are not alone. Using OS X 10.11.5 and having the same issue.

[2016-06-16 16:54] alexatknit commented on #2788
[code]

[2016-06-16 17:00] dansbecker opened #2909 "Failure to build from source with GPU support on macOS"
I am trying to follow the installation instructions for Mac with GPU support.  I have CUDA 7.5 and cuDNN installed (and Theano currently works with GPU support on this system).

The contents of my /usr/local/cuda/lib include the following:
[code]

My configure step doesn't provide any errors, as shown in the following:
[code]

However the first bazel build step results in the following error:
[cod

[2016-06-16 17:04] #2906 closed

[2016-06-16 17:04] #2907 closed

[2016-06-16 17:04] #2908 closed

[2016-06-16 17:30] skyprince999 commented on #2830
Uninstalling bazel seems to be a pain! My installation was at that location, you could try `rm -f ~/.bazel  ~/.bazelrc`
You can check the treads over [here](https://github.com/bazelbuild/bazel/issues/838) & [here](https://github.com/bazelbuild/bazel/issues/962)

[2016-06-16 17:44] danpovey commented on #526
Regarding the comment of @zxvix, saying: "I encountered the error Check failed: CUDA_SUCCESS == dynload::cuCtxSetCurrent(context) (0 vs. 216) recently, which turned out to be caused by someone accidently set the compute mode of GPU to be EXCLUSIVE_THREAD. Revert it back to DEFAULT solved my error."

Sometimes on shared clusters there are valid reasons for setting exclusive mode for GPUs.  Does Ten

[2016-06-16 17:48] zheng-xq commented on #526
Adding @henline, who is the owner of stream-executor.

[2016-06-16 17:51] yaroslavvb opened #2910 "Hard-coding "1" for CUDA version breaks existing MacOS GPU build with CUDA 7.5"
Commit https://github.com/tensorflow/tensorflow/commit/f45874b4a969a60fa9ced86e6769012e4912b5ca broke existing GPU builds on MacOS with CUDA 7.5

It nows fails
`I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:1078] failed to find libcuda.so on this system: Failed precondition: could not dlopen DSO: libcuda.1.dylib; dlerror: dlopen(libcuda.1.dylib, 5): image not found
`
A work-around is to c

[2016-06-16 18:00] yaroslavvb commented on #2897
You'll need CUDA 8.0 and latest NVidia drivers. Here are instructions I followed to install them
https://gist.github.com/yaroslavvb/07b2d9a828f82792ebef2a080e814f0f

A small side-effect is that X server will no longer work after this, but you'll be able to run TensorFlow through SSH

[2016-06-16 18:17] vrv commented on #2910
cc @3XX0 and @rdadolf

life is hard

[2016-06-16 18:25] flx42 commented on #2910
It was `libcuda.so.1` previously too:
https://github.com/tensorflow/tensorflow/commit/d0a822fbcb04d95a643d8efe65699a8d1cdce98b
But then the `.1` suddenly disappeared here:
https://github.com/tensorflow/tensorflow/commit/8bf6ef1337359993a8be057c0dc90da8f5a6e4fa

[2016-06-16 18:52] ringw commented on #2423
I'm working on a new truncated normal function with minval and maxval parameters, and batching. Some of the distributions you mentioned are already implemented [in Python](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/distributions/python/ops). We could add Gumbel and Poisson distributions there too. I'm not sure if we need beta or negative binomial distributions if they

[2016-06-16 18:59] vrv commented on #2910
I think the .1 makes more sense, so I'd rather someone figure out a way to special-case this for OS X rather than change it back.

[2016-06-16 19:09] rdadolf commented on #2910
@vrv What fun would life be without incompatible versioning?

So it seems like this is coming from mutual incompatibility in nvidia's tools.

On the OS X cuda 7.5 default install, most of the libraries exist in `/Developer/NVIDIA/CUDA-7.5/lib`, and these are symlinked into `/usr/local/cuda/lib`. There is actually only one non-symlinked file, which is `/usr/local/cuda/lib/libcuda.dylib`. There are

[2016-06-16 19:30] gavinsherry commented on #2877
@benoitsteiner seems like you fixed this in 406db8835d656540c96f69e9ac565ef8c22be3d1. This can be closed now.

[2016-06-16 19:33] mat-peterson commented on #2883
@petewarden
I used your strip commands. The got rid of the DecodeJpeg error. But a new error has appeared.
`Running model failed: Not found: FeedInputs: unable to find feed output input`

[2016-06-16 19:38] petewarden commented on #2883
Great! You should just need to update the input and output layer names to "Mul" and "final_result" respectively, here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/ios_examples/camera/CameraExampleViewController.mm#L300

[2016-06-16 19:42] mat-peterson commented on #2883
Awesome! That fixed the last error, but now I'm getting:

`Running model failed: Invalid argument: computed output size would be negative
	 [[Node: pool_3 = AvgPool[T=DT_FLOAT, data_format="NHWC", ksize=[1, 8, 8, 1], padding="VALID", strides=[1, 1, 1, 1], _device="/job:localhost/replica:0/task:0/cpu:0"](mixed_10/join)]]`

[2016-06-16 19:43] 3XX0 commented on #2910
Why am I not surprised...

We decided to hardcode the `libcuda.so` symlink inside `nvidia-docker` because too many things are broken without it, so reverting is one solution. Fixing cuDNN is a must have though.

Otherwise, as @rdadolf pointed out you could have two functions `GetCudaDriverVersion` and `GetCudaVersion` which would return the cuda version (e.g. "7.5) and "1" (**"" for OSX**) respect

[2016-06-16 19:45] petewarden commented on #2883
Ah yes! The input sizes need to be 299, not 224. You'll also need to change the mean and std values both to 128. Here's the code I think you'll need:

[code]

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/ios_examples/camera/CameraExampleViewController.mm#L272

We will be collecting this in proper documentation soon too, but thanks for testing this out.

[2016-06-16 19:49] benoitsteiner commented on #2877
Indeed

[2016-06-16 19:49] #2877 closed

[2016-06-16 20:05] vrv commented on #2910
@3XX0: Can you clarify what things TensorFlow should do and what needs to be fixed elsewhere?  I've seen your comments in other github threads but I've had trouble understanding what your full set of recommendations is (for cuda, cudnn, etc).

Also @zheng-xq for TF opinions

[2016-06-16 20:09] mat-peterson commented on #2883
It worked! Thanks for all the help.

[2016-06-16 20:09] #2883 closed

[2016-06-16 20:48] lukaszkaiser commented on #550
Yes, train more. From the seq2seq tutorial: "one epoch (going through the training data once) takes about 340K steps with batch-size of 64. At this point the model can be used for translating English sentences to French". You're at step 46K, that's not even 15% of the 340K described! (The UNK problem can be better remedied by improving tokenization, but when you train longer it becomes less of a p

[2016-06-16 20:52] albhaf commented on #2896
Piggybacking on this issue (let me know if it's better suited as a separate one). I changed gen_file_list.sh, ran it and then attempted building again, now I'm instead getting the following:
[code]

[2016-06-16 20:55] yaroslavvb commented on #2334
@keveman this is the main tracking issue though, those other links are pull requests

[2016-06-16 21:37] StephenOman commented on #2896
@albhaf That looks like a different problem.

I had a quick look and I think that it's being caused by support being added in the main tensorflow build for reading compressed files. The download dependencies script in the makefile directory is now out of date, along with the Makefile.

A quick work-around should be to remove the two zlib references from your generated tf_cc_files.txt. I haven't ch

[2016-06-16 21:51] asaydin commented on #412
I think I am having a similar problem to this. Gradients are apparently computed, but the weight matrix associated with the gradient does not change (i.e., they are exactly the same across mini-batches and iterations). Interestingly, this happens only with one dataset. I use the same code for two other (MNIST and an artificially generated dataset) datasets, and it works fine.

[code]

So this is m

[2016-06-16 21:58] girving commented on #412
Are you running the `train_op`?

[2016-06-16 22:27] zheng-xq commented on #2910
I agree add ".1" for OSX is a good idea.

Adding the stream-executor owner, @henline here.

[2016-06-16 22:47] lukaszkaiser commented on #2852
I made a code change correcting it (adding output_state to EmbeddingWrapper), so that should be working now on master. Closing, please re-open if it's still not working.

[2016-06-16 22:47] #2852 closed

[2016-06-16 22:48] lukaszkaiser commented on #213
Improved the tutorial to clarify which sets of variables are meant in a recent CL, is now live on master.

[2016-06-16 22:48] #213 closed

[2016-06-16 22:49] amolchanov86 commented on #833
The proposed solution still wouldn't work in case of stacking `conv2d_transpose` filters because, in the example, the static shape is calculated from the input tensor, but the previous filter would produce the dynamic shape, i.e. `(?,?,?,?)` which should brake at the point of initializing weights since they can take static shapes with known values only (the channel dimension would be unknown). The

[2016-06-16 22:52] lukaszkaiser commented on #1797
A recent CL correcting this is now live on master. It includes a unit test that re-enters a variable scope and the original name scope this variable scope was created in (by using the new .original_name_scope property). See here: [variable_scope_test](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/kernel_tests/variable_scope_test.py#L297). Closing this now, please re-open o

[2016-06-16 22:52] #1797 closed

[2016-06-16 22:56] girving commented on #833
@amolchanov86 The proposed solution works fine for stacked filters, since it has no dependence on static shapes.  If you want assistance getting your model working, please ask questions on StackOverflow.

[2016-06-16 22:57] samjabrahams commented on #2829
It looks like the issue is with the Neon GCC compiler instruction. I was able to build TensorFlow 0.9rc0 today by simply taking out `--copt="-mfpu=neon"`. I'm not an expert in the GCC instructions for ARM, but I'll continue to look into options for various optimizations that may be possible without messing up the compiler.

@MrSlayer02 linked [his error log](http://pastebin.com/zUfP4xsP) in the pa

[2016-06-16 23:01] asaydin commented on #412
My bad. I deleted it at some point, and only for the code that runs with that particular dataset. Thanks a lot. You saved my future few days.

[2016-06-16 23:01] hsaputra opened #2915 "Error when compiling TensorFlow from source for GPU"
When trying to compile TF from source, I am seeing error

### Environment info
Operating System:
Ubuntu 16.04

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
 /usr/local/cuda/lib/libcudadevrt.a
/usr/local/cuda/lib/libcudart.so -> libcudart.so.7.5
/usr/local/cuda/lib/libcudart.so.7.5 -> libcudart.so.7.5.18
/usr/local/cuda/lib/libcudart.so.7.5.1

[2016-06-16 23:07] anfeng opened #2916 "[Feature] RDMA support for distribued Tensorflow"
Tensorflow paper (http://arxiv.org/pdf/1605.08695v1.pdf) states that Tensorflow supports multiple communication protocols such as gRPC over TCP, and RDMA over Converged Ethernet. Current repo, on the other hand, only has gRPC implementations.

Do you have any plan to introduce RDMA support? It should be beneficial especially for GPU-to-GPU communications across servers.

[2016-06-17 00:24] martinwicke commented on #2909
@kirilg, @nfiedel is there still something amiss with the session_bundle?

[2016-06-17 00:25] martinwicke commented on #2909
@dansbecker can you tell us which bazel version you're using?

[2016-06-17 00:27] ebrevdo commented on #2867
This is definitely useful.  Are you interested in piping this through the parser library?

[2016-06-17 00:28] martinwicke commented on #2905
@ebrevdo is there a conversion howto? That would be helpful.

[2016-06-17 00:48] Mistobaan opened #2917 "tf.fill does not have dtype"
[tf.fill](https://www.tensorflow.org/versions/r0.9/api_docs/python/constant_op.html#fill)

Does not provide a dtype keyword like tf.ones, tf.zeros.  Is there a particular reason or is just missing ? You can force it by casting the number but I don't think is clean `tf.fill([10,10], np.int16(8))`.

EDIT: seems also tf.linspace and tf.range

[2016-06-17 01:27] nanddalal opened #2919 "feed_dict performance"
I have been experimenting with different way of reading data in tensorflow, namely:
- input ops / queues
- feed_dict / placeholders

I am finding that feed_dict is much slower on my alexnet benchmark. I have adapted the alexnet benchmark code from the [convnet-benchmarks](https://github.com/soumith/convnet-benchmarks/blob/master/tensorflow/benchmark_alexnet.py). You can find my benchmarking code [

[2016-06-17 01:27] martinwicke commented on #2902
What version is this about? r0.9? master? If master, at which commit?

[2016-06-17 01:28] martinwicke commented on #2902
@nfiedel, we disabled this is in 0.9, and I thought this was fixed in master, but seems that maybe it isn't.

[2016-06-17 01:32] yaroslavvb opened #2920 "dso_loader on MacOS opens libcudnn.dylib instead of libcudnn.5.dylib"
I'm getting error below after syncing. Was there something in last 24 hours that affected how libcudnn filename is resolved?

`Couldn't open CUDA library libcudnn.dylib. LD_LIBRARY_PATH: /usr/local/cuda/lib
`
Instead I have these files

[code]

This worked for me as a work-around:

[code]

PS: my configure run is below.

[code]
Note: one productivity sink is that `git pull` overwrites files that a

[2016-06-17 01:35] concretevitamin commented on #2774
Yep, if you look at my commit message, I included something similar but
slightly more complicated for Github to grasp ("fixes github issue
#????").  Will make it simpler next time :)

On Thu, Jun 16, 2016 at 11:40 PM, Geoffrey Irving <notifications@github.com>
wrote:

[2016-06-17 01:39] yaroslavvb commented on #2919
Feed_dict does a single-threaded memcpy of contents from Python runtime into TensorFlow runtime. If data is needed on GPU, then you'll have an additional CPU->GPU transfer. I'm used to seeing up to 10x improvement in performance when switching from feed_dict to native TensorFlow (Variable/Queue)

[2016-06-17 01:42] martinwicke commented on #2855
Definitely sounds related to #2844.

[2016-06-17 01:49] jyshee opened #2921 "No gradient defined for operation 'ExtractImagePatches'"
I tried to  use [tf.extract_image_patches](https://www.tensorflow.org/versions/r0.9/api_docs/python/array_ops.html#extract_image_patches) to implement a locally layer as #2605 said. However an error occurred:
LookupError: No gradient defined for operation 'local/ExtractImagePatches' (op type: ExtractImagePatches)

I checked that tf.space_to_depth has the gradient definition but tf.extract_image_pa

[2016-06-17 02:12] nanddalal commented on #2919
It seems like there are a lot of copies being made of the values in the feed dict as it moves from the numpy array to the tensor proto's bytes. Do you think we can reduce some of these? For example changing the `np.array` to `np.asarray`. Or even better is it possible to directly assign the tensor proto's byte field to look at the numpy array's pointer?

[2016-06-17 02:20] yyyreal commented on #2882
@zheng-xq Here is my report
`+------------------------------------------------------+
| NVIDIA-SMI 352.79     Driver Version: 352.79         |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|================

[2016-06-17 02:45] yyyreal commented on #2882
@zheng-xq I managed to solve this issuse.
I happened to run `$sudo ldconfig`,  and the terminal prompted  me that 'libcudnn.so' is not a valid symbolic link, although I followde the install instruction setp by step.
So I deleted and reinstalled Cudnn in my own way.
At this time, tensorflow works correctly.
Thanks all the same.
Have a nice day.

s = tf.Session()
I tensorflow/stream_executor/cuda/cu

[2016-06-17 02:46] #2882 closed

[2016-06-17 03:11] KingAndQueen commented on #2535
Thanks a lot! It's the problem. TF 0.8 has a new way to call function embedding_attention_seq2seq.

[2016-06-17 03:25] ebrevdo commented on #2905
The RNN api wasn't documented until 0.9, so it was liable to change.  Now that it is documented and "officially released", it has the same guarantees as the rest of core.

That said, none of the functionality has changed - it was just moved.

You can use tensorflow.nn.rnn_cell.*, tensorflow.nn.rnn(), tensorflow.nn.dynamic_rnn(), etc.  You do not have to call the cell directly.

initial_state is av

[2016-06-17 03:26] ebrevdo commented on #2779
This should have been fixed by @lukaszkaiser recently.  Try using the HEAD master branch.

[2016-06-17 03:27] ebrevdo commented on #2719
@martinwicke for some reason they don't show up.

[2016-06-17 03:29] ebrevdo commented on #2550
Fixed at head.

[2016-06-17 03:29] #2550 closed

[2016-06-17 03:32] ebrevdo commented on #2150
Closing this for now; as it sounds straightforward for you to create this custom LSTMCell in your own repository.

[2016-06-17 03:32] #2150 closed

[2016-06-17 03:33] hunkim commented on #2719
I also noticed.

On Fri, Jun 17, 2016 at 11:28 AM ebrevdo <notifications@github.com> wrote:

[2016-06-17 03:33] d3vv3d opened #2922 "iris_custom_decay_dnn.py does not work"
The code below is the current version of iris_custom_decay_dnn.py. The custom decay portion of which does not appear to work as whenever I run it I get the Traceback below. Through so light testing I discovered that the code works when the custom decay portion is removed.
# iris_custom_decay_dnn.py
[code]
# Traceback
Traceback (most recent call last):
  File "/home/d3v/Py/SkFlow Iris DNN.py", line

[2016-06-17 03:34] ebrevdo commented on #1370
Should be fixed now.

[2016-06-17 03:34] #1370 closed

[2016-06-17 03:36] ebrevdo commented on #593
nested functional ops should now work (or at least the change will be pushed to github w/in the next week).  reopen if you're still having a problem after the next push.

[2016-06-17 03:36] #593 closed

[2016-06-17 03:40] trubin commented on #593
You guys rock, thanks.

On Thu, Jun 16, 2016, 8:38 PM ebrevdo <notifications@github.com> wrote:

[2016-06-17 04:06] martinwicke commented on #2905
r0.9 docs reflect changes to the docs made before we branched. Are those
changes on the r0.9 branch?
On Thu, Jun 16, 2016 at 20:25 ebrevdo <notifications@github.com> wrote:

[2016-06-17 04:11] dansbecker commented on #2909
My apologies.  As @martinwicke figured, I was using an old version of bazel (0.1.4).

Upgrading to 0.2.3 resolved the error.

If there's any other info I can add here that you think might be useful for people who stumble on this thread in the future, let me know.  And thanks for the help.

[2016-06-17 04:11] #2909 closed

[2016-06-17 04:13] concretevitamin commented on #1968
Closing this as all three methods are now checked in.  Thanks!

[2016-06-17 04:57] futurely commented on #312
When the checkpoint files are saved with a subset of GPUs, they can't be loaded if new GPUs are used. The error is `tensorflow.python.framework.errors.NotFoundError: Tensor name "tower_name_gpu_3/fc/Variable_1" not found in checkpoint files`. How to work around the strict restriction?

[2016-06-17 05:39] JohnAllen commented on #2901
Are you sure that the ckpt_dir/model.ckpt-0 file exists in your checkpoint directory?  Normally a later step would be loaded, after some training had been done. But basically tf.restore is trying to restor me a specific file. Make sure the file you specify is there.

[2016-06-17 05:44] machomachopadre commented on #2830
@skyprince999 Successfully uninstalled!

[2016-06-17 06:27] noisychannel commented on #469
FYI : I was able to build the GPU pip package using the changes listed in this install script : https://github.com/noisychannel/tensorflow_install/blob/master/tf_install.sh

Specifically, check the function fix_tf which makes changes in third_party/gpus/crosstool/CROSSTOOL, tensorflow/tensorflow.bzl and tensorflow/stream_executor/BUILD.

[2016-06-17 06:29] noisychannel commented on #2618
xPost from #469

FYI : I was able to build the GPU pip package using the changes listed in this install script : https://github.com/noisychannel/tensorflow_install/blob/master/tf_install.sh

Specifically, check the function fix_tf which makes changes in third_party/gpus/crosstool/CROSSTOOL, tensorflow/tensorflow.bzl and tensorflow/stream_executor/BUILD.

[2016-06-17 06:34] qemb01 opened #2923 "Error:use tensorflow_cifar-10 model on tensorflow android camera"
I am very new to tensorflow. Now I am trying to use tensorflow_cifar-10 model on tensorflow android camera, the app is running but there is no output.

At first I have tried this example:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android
This example uses the .pb file at:
https://storage.googleapis.com/download.tensorflow.org/models/inception5h.zip
It works well.

Th

[2016-06-17 07:27] ucabmrn commented on #593
Sweet. Cheers!

[2016-06-17 07:32] staranjeet commented on #217
So I should start fixing pep8 warning or add clauses first in existing pylintrc?

[2016-06-17 07:53] futurely commented on #2807
What are the results running on GPU?

[2016-06-17 08:21] amineHorseman commented on #2773
Yes,

Thank you.

I checked and I found that my library path points to `/usr/local/cuda/lib` and this folder contains a link to `libcudart.7.5.dylib` which is in `/Developer/NVIDIA/CUDA-7.5/lib` folder (the [installation tutorial](https://www.tensorflow.org/versions/r0.9/get_started/os_setup.html) suggested to move the files to this folder, but this one is not included in the path).

So, I simply

[2016-06-17 08:21] #2773 closed

[2016-06-17 08:24] mhex commented on #2902
yes 0.9 master, sorry forgot to mention it.

commit is

commit bdc43730c9e6037c608adb91fe55d6c1a82879a8
Date:   Tue Jun 14 06:19:48 2016 +0100

[2016-06-17 08:35] #2829 closed

[2016-06-17 08:50] jinfengfeng opened #2924 "Problems and solutions in installing tf on Redhat"
I encountered several problems in installing tensorflow on Redhat system. I solved them by googling solutions. Hope my experience may be helpful to some users.

OS version: Red Hat Enterprise Linux Server release 6.2 (Santiago)
Linux kernel: 2.6.32-220.el6.x86_64

Problems and solutions:

 **1. glibc version is too low**

Install higer version glibc, e.g. glibc-2.17.
Please use at least version 2.

[2016-06-17 09:08] tobegit3hub opened #2925 "Always bind "localhost" when starting workers"
Now we have tried distributed TensorFlow and run multiple workers. It works but we found that it always bind "localhost" when I would like to bind one of my NICs.

Is it the bug? Or do I miss something because I found nothing to configure it in any document.

### Environment info
Operating System: Ubuntu 16.04

Installed version of CUDA and cuDNN:  No

If installed from binary pip package, provide

[2016-06-17 09:24] MammadTavakoli commented on #2901
Yes , this file exists.

This is my code:

`import tensorflow as tf
import input_data
import os

checkpoint_dir='./ckpt_dir/'

mnist = input_data.read_data_sets("MNIST_data", one_hot = True)

x = tf.placeholder(tf.float32, shape = [None , 784])
y_ = tf.placeholder(tf.float32, [None, 10])

sess = tf.InteractiveSession()

def load_model(sess, saver, checkpoint_dir ):
        ckpt = tf.train.get_chec

[2016-06-17 09:54] tobegit3hub commented on #1142
Thanks @jendap and all contributors 🎉

[2016-06-17 10:09] cjh9 commented on #2146
+1, CTC GPU support would be awesome for handwritten text recognition, speech recognition etc. May key applications here!! 🎉 😀

[2016-06-17 11:21] mhex commented on #2902
still happens with a fresh cloned branch i.e.

commit b327647368117db19b42c6fd75d0aa67a66dbf26
Merge: b8652a2 7e32f92
Date:   Thu Jun 16 20:53:14 2016 -0700

[2016-06-17 11:45] concretevitamin commented on #2180
AFAICT, adding a wrapper function to sparse_ops.py sounds good.

On Wednesday, June 15, 2016, Maniteja Nandana <notifications@github.com>
wrote:

[2016-06-17 11:51] maniteja123 commented on #2180
Thank you. Will try working on it and send a PR as soon as possible.

[2016-06-17 12:09] pescam commented on #1803
Hello!
I am getting the same error. In my code I basically put names of images in a FIFO, then read images,randomly cropped them and pass the result to a tf.train.batch with 3 or more threads.
When I remove the random_crop the error doesn't occur.
When I use 1 or 2 threads, the error doesn't occur.
When I run it in gdb I get  the same backtrace.
`

[2016-06-17 12:36] changyun79 commented on #2807
After quant, on GPU:
military uniform (866): 0.703474
suit (794): 0.0248454
bow tie (817): 0.0171362
bolo tie (940): 0.0171362
academic gown (896): 0.0164432

Elapsed time is actually the same as CPU only build, which is 6 and 17 seconds before/after quant respectively so it quite confused me.

[2016-06-17 12:38] bhack commented on #22
[Anonther step](http://lists.llvm.org/pipermail/llvm-dev/2016-June/101028.html) of Streamexecutor in LLVM

[2016-06-17 13:23] Lunarmony opened #2926 "Any plans to support tf.map_fn/tf.fold{l,r} with multiple tensors?"
I might be interested in potentially working on this too, but just want to make sure that this doesn't conflict with any planned work :)

[2016-06-17 13:24] mat-peterson opened #2927 "iOS example Retrained Stripped model memory usage causes app to crash without warning"
### Environment info
Operating System: iOS

### Steps to reproduce
1. create graph with image_retraining example
2. use strip_unused tool on graph with input_node_names=Mul, output_node_names=final_result
3. run iOS example with the retrained stripped graph
4. 80% of the time the app crashes, apparently because it allocates too much memory

### What have you tried?
1. reducing the size of the imag

[2016-06-17 13:30] chasep255 opened #2928 "Zeros function not correctly determining shape."
I want to have dynamic batch sizes so I defined my input tensors as follows.

`input_tensor = tf.placeholder(tf.float32, (None, TIME_STEPS, 128), 'input_tensor')`

I then calculate the batch size.

`batch_size = tf.shape(input_tensor)[0]`

I can use this to determine the initial state for my RNNs as follows...

[code]
This seems to work fine when I evaluate tf.shape(initial_state) in my sess.run()

[2016-06-17 13:31] tylerfox commented on #851
@maxcuda is the new 7.0 compiler you were referencing part of Jetpack 2.2 that was just released?

[2016-06-17 13:42] martinwicke commented on #217
We can't really add the clauses until the code is clean, as currently set
up, pylint errors are a test failure blocking a commit.
On Fri, Jun 17, 2016 at 00:32 Taranjeet Singh <notifications@github.com>
wrote:

[2016-06-17 13:58] morgangiraud opened #2929 "IOS - No OpKernel was registered to support Op 'Conv2DBackpropInput' with these attrs"
Hi everyone,

We are trying to load a very simple graph inside IOS that we generate and freeze with python.
Right now, we have this following error:
[code]

Here is the python script generating the model:
[code]

Here is the Objective-C++ interesting part:
[code]

We are using:
- Python 3.5.1 for the script
- The python tensorflow build is downloaded from `https://storage.googleapis.com/tensorflow

[2016-06-17 15:04] changyun79 opened #2930 "Is contrib/quantization available through Python interface?"
It works in C++ if I build label_image example but if I call through python, I got:
tensorflow.python.framework.errors.NotFoundError: Op type not registered 'QuantizeV2'

Is there any build file I need to update? I tested on RC0.9 release. Thanks.

[2016-06-17 15:20] maxcuda commented on #851
Yes, you can get it with:
wget http://developer.download.nvidia.com/embedded/L4T/r24_Release_v1.0/CUDA/cuda-repo-l4t-7-0-local_7.0-76_armhf.deb

The good news are that I was able to build v0.8 but some of the results are incorrect. I will update the blog with the changes. With v0.9 I had problem with the cudnn.cc file, it looks like it cannot handle cuddn v2.

[2016-06-17 15:34] petewarden commented on #2896
Apologies about the breakage! I'm working to make the update a bit less of a manual process.

I'll investigate how we can avoid the new zlib dependency (since we don't want additional libraries to link in), and hopefully have an answer soon.

[2016-06-17 15:36] tylerfox commented on #851
Thanks so much. Looking forward to your post so I can get tensorflow running on the TX1

[2016-06-17 17:29] Sohojoe commented on #2559
@jendap @jstaker7 did this get resolved? will CUDA 8 be supported when installing via pip?

[2016-06-17 17:30] sherrym commented on #2897
I will consider this resolved. :)

[2016-06-17 17:30] #2897 closed

[2016-06-17 17:44] sherrym commented on #2923
You will need to either name your input_data "input", or change the demo code to feed "input_placeholder:0".

[2016-06-17 17:48] sherrym commented on #2930
In Python it's call  tf.contrib.quantization.python.quantize_v2.

[2016-06-17 17:52] sherrym commented on #2930
Please let me know if it works for you. Thanks.

[2016-06-17 17:52] ebrevdo commented on #2787
We may have pushed a fix for this in an unrelated bugfix to TensorArray.  It hasn't been merged into github yet.  Try this in a couple of days on the version of TF in master and report back.

[2016-06-17 18:34] MarkDaoust commented on #47
I think that 'close' belongs over in [tensorflow/skflow #47](https://github.com/tensorflow/skflow/issues/47)

[2016-06-17 18:36] changyun79 commented on #2930
Thanks for the response. It happened when I load the pretrained and converted graph as
`
        with tf.gfile.FastGFile(model_path, 'rb') as f:
            graph_def = tf.GraphDef()
            graph_def.ParseFromString(f.read())
            _ = tf.import_graph_def(graph_def, name='')
`
and then run the session
`
            correct += np.sum(sesh.run(top_k_op,

[2016-06-17 18:36] thirdOctet opened #2935 "Exception when trying to use TensorFlowDNNClassifier with Scikit-Learn model_selection.cross_val_score"
I am attempting to use cross_val_score with the TensorFlowDNNClassifier (I know it is deprecated) from Scikit-Learn. I used cross_val_score seamlessly with the original skflow wrapper which allowed me to use evolutionary computing to evolve the parameters of the TensorFlowDNNClassifier.

It appears that when a clone of the TensorFlowDNNClassifier is initialised for the number of folds specified in

[2016-06-17 18:40] siddharth-agrawal commented on #1968
@concretevitamin Your comment [here](https://github.com/tensorflow/tensorflow/pull/2681#discussion_r66742242) applies to my earlier PR [here](https://github.com/tensorflow/tensorflow/pull/2659) too. I will update it once the `tf.size()` PR is merged.

[2016-06-17 19:01] maxcuda commented on #851
I updated my building instruction on cudamusing and also posted a wheel file.

[2016-06-17 19:02] Mistobaan opened #2937 "Tensorflow cudnn integration status"
With this issue I would like to track the efforts in integrating the
cudnn library within tensorflow.

As of June 17th 2016 doing a manual grep on the repository gives these
functions as being mapped from cudnn to the stream executor,

From chapter 4 of the cudnn User Guide version 5.0 (April 2016):

- [x] cudnnGetVersion
- [ ] cudnnGetErrorString
- [x] cudnnCreate
- [x] cudnnDestroy
- [x] cudnnSe

[2016-06-17 20:29] yaroslavvb commented on #2919
@nanddalal extra copy in `np.array` seems like a bug, good catch.

As far as feasibility of removing the extra copy, I believe the memcpy is happening in [TF_wrapper_helper](https://github.com/tensorflow/tensorflow/blob/d42facc3cc9611f0c9722c81551a7404a0bd3f6b/tensorflow/python/client/tf_session_helper.cc#L445). There's a note from @mrry that memcpy is there to prevent having to acquire GIL on dea

[2016-06-17 20:51] zheng-xq commented on #2937
In general, TensorFlow prefers its own implementation on GPU, if the performance is close enough. This is because we would have the source code for customization. Conv is a good example where it would take a lot of effort to replicate Cudnn's performance.

There is still an ongoing investigation how TensorFlow would expose a fused RNN/LSTM implementations. The current Cudnn interface does not prov

[2016-06-17 21:19] mp2893 opened #2938 "dynamic_rnn after reshape seems impossible"
I need to multiply a 3D tensor by a 2D weight matrix, then feed it to dynamic_rnn.
Below is the code.

    inputSize = 1000
    embeddingSize = 100

    batchX = tf.placeholder(tf.float32, [None, None, inputSize])
    #The maximum length of the sequences and the size of the mini-batch are dynamic
    #batchX is a time-major 3D tensor

    batchXLenghts = tf.placeholder(tf.int32, [None,])
    #A li

[2016-06-17 21:24] bhack commented on #2937
@zheng-xq How much of this policy is related to the blend effort of each framework to an API conformation on cudnn and how much to the control  of  kernels code from open source point of view?

[2016-06-17 21:29] ppwwyyxx opened #2939 "Unable to download nightly binaries"
All the links in README, such as [this one](http://ci.tensorflow.org/view/Nightly/job/nigntly-matrix-linux-gpu/TF_BUILD_CONTAINER_TYPE=GPU,TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON2,label=gpu-linux/lastSuccessfulBuild/artifact/pip_test/whl/tensorflow-0.8.0-cp27-none-linux_x86_64.whl)
give me
[code]

[2016-06-17 21:36] changyun79 commented on #2930
I found the solution from Pete Warden's blog. @petewarden Thanks. Pete provided solutions for both Python and C++ interface cases while I misread python part.

[2016-06-17 21:37] zheng-xq commented on #2937
@bhack, in case of LSTM, the biggest concern is lack of customization. In general, having access to the source code gives us better ability us to tweak our code to better serve TensorFlow users.

That said, we won't hesitate to pick any good functionalities from any library including Cudnn, if there is evidence showing a sizeable benefit.

[2016-06-17 21:38] sherrym commented on #2925
Excellent question! The short answer is that it's not a bug. We always start an in-process server on localhost. So to use this correctly, you actually need to have a separate script which logs onto www.a.com and start the server. See https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/how_tos/distributed/index.md
for details.

Here's the slightly longer answer should you be inter

[2016-06-17 21:39] #2930 closed

[2016-06-17 21:41] sherrym commented on #2926
Please feel free to send a PR.

Added @yuanbyu just in case.

[2016-06-17 21:50] hsaputra commented on #2915
Looks like the cuDNN install path is different from `/usr/local/cuda`. Error from my side.

[2016-06-17 21:50] #2915 closed

[2016-06-17 21:56] sherrym commented on #2901
1. You are repeatedly creating the Saver, that's why you have 8 global_steps. You can fix it by either explicitly creating a new graph tf.Graph(), or reset the default graph by calling tf.reset_default_graph().

If you print out your graph now by calling tf.train.write_graph, you will see that you have 8 copies of what you are building.

2. The saver should only be called once after you have creat

[2016-06-17 21:57] petewarden commented on #2899
Thanks for the report! This should be fixed in #2936, closing now.

[2016-06-17 21:57] #2899 closed

[2016-06-17 21:57] sherrym commented on #2924
Thanks, @jinfengfeng .

[2016-06-17 21:57] #2924 closed

[2016-06-17 21:58] petewarden commented on #2896
Thanks everyone! I've tested this again and it should be fixed in #2936, so I'll close this. Comment or reopen if you're still hitting problems.

[2016-06-17 21:58] petewarden commented on #2566
This should actually be fixed now.

[2016-06-17 21:58] #2566 closed

[2016-06-17 22:01] petewarden commented on #2807
Can you try using https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/benchmark and let me know what you get? There are some known optimizations for eight-bit CPU we're working on, but it would be useful to see where the time is going from the profiling logs you'll get from that tool.

[2016-06-17 22:02] petewarden commented on #2304
Closing this as presumed fix, since it's been a while. Please reopen or let me know if it's still an issue.

[2016-06-17 22:02] #2304 closed

[2016-06-17 22:07] petewarden commented on #2927
Sorry you're hitting problems! We actually have a few different ways to reduce memory usage. One of them is to run tensorflow/contrib/quantization/tools/quantize_graph with --mode=weights to shrink the size of the model on disk by quantizing the weights to eight bits. I'm also working on folding in the batch normalization ops into the weights, which will reduce memory pressure.

We also have memor

[2016-06-17 22:18] sherrym commented on #2922
convert_to_tensor expects value to be "An object whose type has a registered `Tensor` conversion function.", not an op.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/ops.py#L572

[2016-06-17 22:20] petewarden commented on #2929
Sorry you're hitting problems, and thanks for the very clear report!

Because most mobile use cases are focused on inference, we don't support gradient ops like Conv2DBackpropInput. In this case though, the op is actually used under the hood by conv2d_transpose(), and so isn't removed when freeze_graph strips out training operations.

As a temporary solution, you should be able to add tensorflow/c

[2016-06-17 22:20] sherrym commented on #2921
@jyshee go for it if you need it.

[2016-06-17 22:22] petewarden commented on #1253
This is now fixed, closing.

[2016-06-17 22:22] #1253 closed

[2016-06-17 22:26] jlowin commented on #2938
@mp2893 I've run in to a similar problem -- try calling `emb.set_shape([None, None, embDimSize])` to work around the issue.

[2016-06-17 22:28] changyun79 commented on #2807
sure. The machine has launched some over weekend testing so I will do it on coming Monday. Thanks.

[2016-06-17 22:35] mp2893 commented on #2938
@jlowin Thank you!! This would have never ocurred to me. I tried `emb.set_shape([maxLength, batchSize, embDimSize])` but I got an error saying I cannot use 'Tensor' in the `set_shape` argument. Then I gave up hope. Thank you very much again!!

[2016-06-17 22:35] petewarden commented on #2929
Never mind, the op is already listed in that file. I'll keep digging to see what's actually wrong here.

[2016-06-17 23:22] sherrym commented on #2895
Could you please cut and paste your complete program and errors? Thanks.

[2016-06-17 23:38] mts42000 opened #2940 "Installing Tensorflow with GPU support on os x 10.11"
After configuring and running
`bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package`
I am getting this error during the build:

`ERROR: /pathtotensorflow/tensorflow/tensorflow/contrib/session_bundle/example/BUILD:38:1: Executing genrule //tensorflow/contrib/session_bundle/example:half_plus_two failed: bash failed: error executing command /bin/bash -c ... (remaining 1 a

[2016-06-17 23:40] tokyoben commented on #2471
Hi, I am experiencing the same thing:

Ubuntu 16 / tf built from master Jun 14th / CUDA 8 / GTX 1080

gpu_options = tf.GPUOptions(per_process_gpu_memory_fraction=0.3, allow_growth=True)
config = tf.ConfigProto(gpu_options=gpu_options,allow_soft_placement=True)

+------------------------------------------------------+
| NVIDIA-SMI 367.18     Driver Version: 367.18         |
|-----------------------

[2016-06-17 23:51] sherrym commented on #312
@futurely, how do you want to work around this restriction? Do you want to restore all you have, and initialize the rest to what's in the checkpoint? If that's the case, what you can do is this:
1. Initialize all the variables.
2. Get all the variables in the checkpoint by using get_variable_to_shape_map() and restore those only.

See https://github.com/tensorflow/tensorflow/blob/8df836f2611c533c5

[2016-06-17 23:54] sherrym commented on #2928
Hi @chasep255. If it's a runtime decision, you should do

last_out = tf.cond(t > 0, lambda: decode_output[t-1], lambda: tf.zeros((batch_size, 128))

Could you please give it a try and see if it works for you? If not, could you cut and paste the complete program? Thanks.

[2016-06-17 23:58] MInner commented on #2840
Sorry for not answering that long, I needed to wait for a heavy cluster load to reproduce this error

here's the `gdb` output and the backtrace:
https://gist.github.com/MInner/dff6d209948d95cf4da9245dbbab18e8 .

And yes, I totally forgot about the user-level warning regarding allocating a huge dense matrix - it comes from the modified code snippet `last_relevant()` from #206 that extracts "last re

[2016-06-18 00:18] chasep255 commented on #2928
It is not a runtime decision.  t is the time step.  Here is a more complete section.  I already fixed the issue by just defining a batch size so I don't have the original code.

Here is what is looks like now.  See how t is just the loop variable.

[code]

[2016-06-18 00:40] petewarden commented on #2929
I wasn't able to reproduce this locally, and on a deeper look I discovered that I'd fixed this in #2936 when I regenerated the file lists from the latest Bazel build. If you get top-of-tree, conv_grad_ops.cc is included and you should no longer see this problem.

Can you confirm updating fixes this for you too?

[2016-06-18 01:00] yuanbyu commented on #2706
A possible workaround is to make:

def condition(mem_state_previous, hops):
            z = tf.mul(stories, mem_state_previous)
            e_reshaped = tf.reshape(tf.matmul(z , l1_weights) , [1,-1], name="e_reshaped")
            e_gate = tf.nn.softmax(e_reshaped)
            e_unpacked = tf.unpack( tf.reshape(e_gate, [4,1]))
            argmax_e = tf.to_int32(tf.argmax(e_gate, 1)) #should be 1

[2016-06-18 01:17] ppwwyyxx opened #2942 "Memory Leak in Queue"
Version: nightly built for Python2+Linux+GPU about a week ago (perhaps earlier). Cannot test on latest binary due to #2939.

The following code:
[code]
quickly consumes 10GB main memory.

Tested on ArchLinux as well as CentOS7.

[2016-06-18 02:46] yaroslavvb commented on #2942
See same thing on today head

[2016-06-18 06:16] kyrs opened #2943 "Extracting features from mixed layer in inception-v3"
Hi,
For my project I need to extract the features from the mixed layer in inception-v3. But, for doing so I need the name of various tensor layer.
as far as I know
`pool_1:0 correspond to (35X35X192) feature matrix`
`pool_3:0 correspond to (2048,) feature matrix`
`conv_1:0 correspond to ((147X147X32)) feature matrix`
`conv_2:0 correspond to (147X147X64) feature matrix`
`conv_3:0 correspond to (73X

[2016-06-18 07:39] tobegit3hub commented on #2925
Thanks @sherrym and it helps a lot.

But I have another question. If it's target is always "localhost", how can the client which is in another host connect with this server? We can specify the "server.target" when initializing "Session" but it doesn't work to connect with "www.a.com:2222" or the ip.

[2016-06-18 07:55] Mahdizade commented on #1122
I think some thing wrong with this layer. in training every thing is OK and loss decrease very good. but in testing I get zero accuracy.
By the way in testing when I use is_training=False, I get zero acc.

[2016-06-18 09:12] suraj1990 opened #2944 "Errors while running Translate.py sample code with multiple GPUS"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-06-18 09:14] suraj1990 commented on #2944
@lukaszkaiser Can you give me any inputs?

[2016-06-18 10:41] siddharth-agrawal commented on #1246
@vrv I tried doing this, I feel that I'm still not ready for writing an Op (I'm not familiar with Eigen functionalities, and don't understand what is efficient v/s what is not). I will look at some C++ issues before coming back to this. Are there some issues that will help me with this, or do you recommend another way?

[2016-06-18 11:08] bhack commented on #1996
If somebody is interested there is a releated presentation done at Mesosconf with a demo of [Spark+Tensorflow on GPU](https://docs.google.com/presentation/d/1Y1IUlWV6g1HzD1wYIYXy6AmbfnczWfjvvmqqpeDFBic/edit?usp=docslist_api)

[2016-06-18 12:11] albhaf commented on #2896
Thanks! Managed to successfully build with 582e6c8.

Recent changes in master (I suspect 7764e8f6 from a brief look), appears to have caused it to regress again if it's of any interest:
[code]

[2016-06-18 12:36] siddharth-agrawal commented on #1140
@girving Some of the ops mentioned by @smcantab like **Mean**, **Prod** have float64 support on the GPU as of today. Are there some important ops that need to be looked at?

[2016-06-18 13:55] ericox commented on #1824
We have been using these tracing features for tensorflow computations on a single machine and they are very helpful. Is there a way to collect the Timeline trace as mentioned above for distributed tensorflow? Thank you!

[2016-06-18 14:48] jlowin commented on #2938
@mp2893 glad I could be helpful! You might want to leave this issue open -- I believe it's a shape inference bug.

[2016-06-18 15:14] HanyuGuo commented on #2706
Thanks, problem solved. I think my code breaks the graph, if `condition()` is `False` in the first run.

[2016-06-18 18:05] vrv commented on #2896
Shoot, probably my fault, I'll send a fix.

[2016-06-18 18:09] petewarden commented on #2896
I'm actually looking at it now too. It builds fine using the makefile on Linux, so it's not just a new file added. I'm running build_all_ios.sh to repro the problem, and I'll update with more details when I have them.

[2016-06-18 18:11] vrv commented on #2896
Actually, I can't find any reference to those symbols -- my change removed the old APIs and converted to the new ones, so I'm not sure why we're seeing that.

[2016-06-18 18:28] albhaf commented on #2896
Checking if I can reproduce it and making sure it's on a clean state, in case it was in an inconsistent one from jumping between refs.

[2016-06-18 19:01] albhaf commented on #2896
It seemed like it was, I must have missed to clean in between checkouts.
I can build it from master now, sorry for the noise.

[2016-06-18 19:02] petewarden commented on #2896
Great to hear, and no worries! Thanks for the update and the report.

[2016-06-18 19:02] #2896 closed

[2016-06-18 21:24] apple2373 commented on #1967
+1
I would like to request that feature.

[2016-06-18 21:58] mp2893 commented on #2938
@jlowin Re-opened the issue. Thanks!

[2016-06-18 22:18] jstaker7 commented on #2559
@Sohojoe Thanks for the followup. Not yet.

Expected output during compilation:
I tensorflow/stream_executor/dso_loader.cc:105] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.cc:105] successfully opened CUDA library libcudnn.so locally
I tensorflow/stream_executor/dso_loader.cc:105] successfully opened CUDA library libcufft.so locally
I tensorflow/str

[2016-06-18 23:48] tcheightyeight commented on #2777
Hi Rahul,

I was having the exact same problem as you until I checked the size of the "reverse_dictionary" array using "print(len(reverse_dictionary))" just before the error occurred.

Your "vocabulary_size = 50000" line should be set lower. I set it to the value returned by printing the length of "reverse_dictionary" and no longer had any issues.

I hope this helps.

[2016-06-19 04:43] ebrevdo commented on #2938
It may be possible that tf.reshape needs more aggressive shape inference code.  I'll take a look and see how much we can infer at graph construction time.

[2016-06-19 05:18] ebrevdo commented on #2905
The documentation will be fixed by #2933

[2016-06-19 05:29] gaohuazuo opened #2948 "Automatically merge identical ops"
When an op constructing function is called for multiple times on the same set of inputs, each of these calls adds a new op to the graph, which leads to extra computation. I understand that this could be avoided in most cases by reusing the output tensor. However, this can't be easily done in some situations, e.g. when using different optimizers for different parts of a neural network. Therefore, I

[2016-06-19 12:05] RafaelCosman opened #2950 "Error when running resnet.py"
System: Mac OS Yosemite, Python 2.7.

[code]

[2016-06-19 13:17] kalleknast commented on #2810
I get the same a similar error from running `tf.nn.softmax()`.
I can give more details if this seems relevant.

#### To reproduce:
`import tensorflow as tf`
`logits = tf.random_normal((10, 2))`
`y = tf.nn.softmax(logits)`

`with tf.Session() as sess:`
    `print(y.eval())`

#### Result:
`I tensorflow/core/common_runtime/gpu/gpu_init.cc:102] Found device 0 with properties:
name: Quadro K2200
major:

[2016-06-19 13:28] yaroslavvb commented on #2948
BTW PR #2747 has logic to detect when Python function call would create an op that's already in the graph and reuse that op if so

[2016-06-19 14:03] Anjum48 commented on #2748
I'm getting the same issue using RNN in Python 3.5 with the current and nightly build. Any ideas?

[2016-06-19 14:33] jvmvik commented on #2775
This issue might be actually be caused by Bazel (currrently using 0.3.0)

[2016-06-19 17:12] zxzhijia commented on #2333
I tried to build on Raspberry Pi and got the same error as @GekTo

[2016-06-19 17:16] cyriltw opened #2951 "Installation of Tensorflow on Mac OS X 10.11.5 wheel not supported?"
Tried installing Tensorflow but wheel not supported on this platform.

### Environment info
Operating System: Mac OS X 10.11.5

If installed from binary pip package, provide:

1. sudo -H pip install --upgrade https://storage.googleapis.com/tensorflow/mac/tensorflow-0.8.0-py2-none-any.whl
2. Traceback (most recent call last):
  File "<string>", line 1, in <module>
ImportError: No module named tenso

[2016-06-19 18:17] deepmath commented on #1140
Here are the ops that lack double versions.  Most of these would be straightforward to add.  The most important missing ones are the max pool ops covered in issue #547, but as described in #547 they'd be a bit difficult to do.

    AdjustContrastv2
    AllCandidateSampler
    AudioSummary
    CTCBeamSearchDecoder
    CTCGreedyDecoder
    CTCLoss
    ComputeAccidentalHits
    DrawBoundingBoxes

[2016-06-19 18:21] girving commented on #547
Here are the ops that are missing double versions.  I believe the only difficult ones to add are the max pool ops, as described in #547.  Most of them are very neural net specific, which is probably why they haven't been generalized yet: neural net specific applications rarely need double precision.  We'd be happy to accept PRs though!

    AdjustContrastv2
    AllCandidateSampler
    AudioSummary

[2016-06-19 18:29] girving commented on #1140
Here are the ops missing double support.  I believe most of these would be straightforward to add, except for max pooling as described in #547, and we'd be happy to accept PRs.  Also max pooling is doable, it would just take a bit of coordination to make the stream executor changes.

    AdjustContrastv2
    AllCandidateSampler
    AudioSummary
    CTCBeamSearchDecoder
    CTCGreedyDecoder
    CTC

[2016-06-19 19:37] chan1 commented on #2039
@girving In case it's helpful, this is still an issue as of this week when using gcr.io/tensorflow/tensorflow:latest-gpu. As klopyrev mentioned, ln -s /usr/lib/x86_64-linux-gnu/libcudnn.so.4 /usr/lib/x86_64-linux-gnu/libcudnn.so , fixes the issue.

[2016-06-19 19:47] girving commented on #2039
@chan1 Thanks.  Switching assignment to @caisq who knows more about the docker setup.

[2016-06-19 19:54] siddharth-agrawal commented on #1140
@girving Just out of curiosity, is there a way these can be found easily, i.e., not manually?

[2016-06-19 20:11] girving commented on #1140
@siddharth-agrawal Here's the script I used, but it would have to be modified a bit to work outside of Google: https://gist.github.com/girving/fbe861e6df1ce9d5add8e57bf32a247d

[2016-06-19 21:00] #2905 closed

[2016-06-19 22:03] miahunsicker opened #2952 "learn datasets not found"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-06-19 22:30] martinwicke commented on #47
Oops, sorry.

[2016-06-19 22:46] martinwicke commented on #2902
Which version of bazel are you using?

[2016-06-19 22:48] martinwicke commented on #2952
0.8.0 doesn't contain (all of) tf.contrib.learn. Can you check with 0.9?

[2016-06-19 22:52] martinwicke commented on #2951
Can you post the output of pip --version? It's possible that your pip is installed for python3.

[2016-06-20 00:34] amirstar opened #2953 "Fractional pooling"
Is there or (will there be) a "Fractional Pooling" support in tensorflow?

[2016-06-20 00:44] karthiksekarnz commented on #16
@petewarden I may sound dumb, can you give me an example use case of having the machine learning on an ios client, please. How does the neuralnet learn when it's on an iOS client? Will the training data be only users' data i.e their photos, playlists etc. Does the neural net sit in the background and train itself with user's data like a cron? e.g it can understand user's preferences. Am I right in

[2016-06-20 01:24] yeison commented on #2865
Testception

[2016-06-20 02:01] atamahjoubfar commented on #389
@ebrevdo I just tested again the CIFAR-10 code on the same machine, and the issue is resolved. Thank you.

[2016-06-20 02:21] brando90 opened #2955 "Readmea for tensorboard not on website"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-06-20 03:25] girving commented on #389
@atamahjoubfar Thanks!  Closing for now; please comment or file another if it comes up again.

[2016-06-20 03:25] #389 closed

[2016-06-20 04:03] tobegit3hub commented on #1452
We have the same error like @hrajanie and @corcra in AWS EC2.

And it works after upgrading bazel to 0.2.3 according to https://github.com/tensorflow/tensorflow/issues/2909

[2016-06-20 04:06] randomiser commented on #16
The example demo for iOS is very very slow in comparison with the Android version. Is there anything I can change within the demo code to improve the speed?

Also the match percentages vary wildly. On Android it with report accuracy levels about 70% sometimes but I can't get it above about 15% on iOS. I'm using the same files for both.

[2016-06-20 04:07] caisq commented on #2728
@osdf @neggert @abezuglov @jihunchoi @nsuke Just to gather some info here: What is your NVIDIA driver version (see nvidia-smi output)?

[2016-06-20 04:47] qemb01 commented on #2923
@sherrym I have done this, but nothing is changed.

[2016-06-20 05:21] Hibbert-pku commented on #2146
I've merged tensorflow and baidu's warp-ctc in:
https://github.com/Hibbert-pku/tensorflow
maybe it's useful for you.
@cjh9

[2016-06-20 06:28] tobegit3hub commented on #817
Is it fixed because we have the similar problem? @fancyerii

[2016-06-20 06:55] coderXiangLi commented on #92
+1 for java!

[2016-06-20 07:23] H0icky commented on #2816
I delete the old version of protobuf

[2016-06-20 07:26] H0icky commented on #2816
I delete the old version(2.6.1) protobuf and it works
TF need protobuf 3.0
pip install --upgrade https://storage.googleapis.com/tensorflow/linux/cpu/protobuf-3.0.0b2.post2-cp27-none-linux_x86_64.whl