[2018-04-06 12:32] tensorflowbutler commented on #17612
Nagging Assignees @ebrevdo, @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-06 12:32] tensorflowbutler commented on #17729
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-06 12:32] tensorflowbutler commented on #17783
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-06 12:32] tensorflowbutler commented on #17811
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-06 12:32] tensorflowbutler commented on #17816
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-06 12:32] tensorflowbutler commented on #17933
Nagging Assignee @caisq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-06 13:00] AndRossi commented on #5867
Please let optimize_for_inference remove dropout layers from the graph.
I am trying to convert a MNIST model from TF to TFLite.
It seems to me that this should be the very first thing to try when one is learning to use TFLite, since MNIST is the first tutorial in TensorFlow.

To allow the conversion to TFLite, I need to remove the dropout layer in my MNIST model frozen graph.

If I get it right, t

[2018-04-06 13:00] jrbrearley commented on #18264
Have I written custom code N/A
OS Platform and Distribution N/A
TensorFlow installed from N/A
TensorFlow version N/A
Bazel version N/A
CUDA/cuDNN version N/A
GPU model and memory N/A
Exact command to reproduce N/A

[2018-04-06 13:07] Pyrestone commented on #18260
yeah, that works. Doesn't have the performance benefits of `prefetch_to_device()` though...

[2018-04-06 13:10] roya0045 opened #18294 "Issue using/importing unsorted_segment_mean"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Win 10
- **TensorFlow installed from (source or binary)**: pip install ( and reinstalled after the first errors)
- **TensorFlow version (use command below)**: 1.7
- **Python version**: 3.5.4
- **Bazel version (i

[2018-04-06 13:33] gunan commented on #16861
Please see https://github.com/tensorflow/tensorflow/issues/16861#issuecomment-371414008.

[2018-04-06 13:33] TylerBalsam commented on #3332
We've been getting a lot of mileage out of the MobileNet class of architectures, especially for edge inference. Any updates on this so we can really use separable convs near their theoretical speed?

[2018-04-06 13:33] #16861 closed

[2018-04-06 13:57] mrry commented on #18260
It is supposed to have the same benefits... the `tfe.Iterator` has an on-device buffer internally when it’s placed on a non-CPU device. Are you observing different performance?

[2018-04-06 14:07] DiogoDantas commented on #13127
Hi, @alex-petrenko

I read your instructions, but it is not too clear for me. Could you be more precise about the instructions to build Tensorflow with /MT option, please?

I mean, should I add

[code]

to each **.cmake** file located in tensorflow\contrib\cmake\external or each **.BUILD** file located in third_party folder?

I had already passed flags like ```-DCMAKE_CXX_FLAGS_RELEASE="/MT"``` in

[2018-04-06 14:25] clone2code commented on #16374
@aselle any update on how to get this working ??
@ushnish Hi does git cloning the TF repo and running the bazel build toco command from the root of the TF repo work for you ??

[2018-04-06 14:32] alex-petrenko commented on #13127
@DiogoDantas sorry, I don't remember exactly how we did it, as I said, we ended up using a different solution which I recommend. But I think you should add this option to every *.cmake file in tensorflow\contrib\cmake\external

All these dependencies are basically separate CMake projects, so you can just pass this option to every one of them. Some of them will have problems of their own handling t

[2018-04-06 14:47] Pyrestone commented on #18260
In my current Implementation I see no difference between putting the Iterator on GPU or not.
In both cases my GPU spends a decent amount of time copying data, though that might be for different batches, GPU Compute load stays the same.

Doesn't mean there is no difference though. Might just be bound somewhere else.
I'll have to try disabling eager mode, using prefetch_to_device and see if it's fas

[2018-04-06 15:12] Pyrestone commented on #18260
Update: I checked without my model code (just putting some dummy GPU op in place) and that is significantly faster with the Iterator on GPU.

[2018-04-06 15:32] tatianashp commented on #17816
The issue have been resolved.

[2018-04-06 15:32] #17816 closed

[2018-04-06 15:35] mrry commented on #18260
Thanks for confirming!

[2018-04-06 15:43] petrosmol commented on #8904
@Lidaguo.

Hi, RandomFourierFeatureMapper should be able to handle input/output dimensions of 100/1000. Related question: Do you see the same issue on CPU?

Is it possible that you add the map ops multiple times (one per epoch) in your training graph and that's why your are getting OOM errors after a few iterations?
RandomFourierFeatureMapper only adds map OPs (and does not store any values in a w

[2018-04-06 16:13] phueac opened #18296 "Building Tensorflow on Windows"
At https://www.tensorflow.org/install/install_sources, you say:

"We do not support building TensorFlow on Windows."

Why not? Are there any plans to support this in future? I know it is technically possible to build with CMake, but official support would be nice. At the moment, I am trying to use a trained model for inference as part of a C++ application. I am constrained to Windows, and getting

[2018-04-06 16:18] mrry commented on #18291
I just checked the version control history for TensorFlow and there has never been a module called `data_generators`, so it's possible that you're missing some external library or tutorial code that we didn't provide.

[2018-04-06 16:18] #18291 closed

[2018-04-06 16:20] Pyrestone commented on #18260
Here's how to check if anyone's interested:
<details><p>
  <summary>Click to expand</summary>

[code]
</p>
</details>

[2018-04-06 16:26] #17269 closed

[2018-04-06 17:07] av8ramit commented on #18013
Sorry, fixed!

[2018-04-06 17:10] av8ramit commented on #18013
Updated the release notes. Closing this for now.

[2018-04-06 17:10] #18013 closed

[2018-04-06 17:42] poxvoculi commented on #18043
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-06 17:42] #18043 closed

[2018-04-06 17:43] poxvoculi commented on #17102
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-06 17:43] #17102 closed

[2018-04-06 17:46] yifeif commented on #18193
My guess is this is due to how we set session in model_to_estimator. I'll take a look.

[2018-04-06 17:50] poxvoculi commented on #16095
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-06 17:50] #16095 closed

[2018-04-06 17:54] bhack commented on #18193
@yifeif  Generally seems that we are having many problems with `tf.keras.estimator.model_to_estimator`. What is the problem? Is that is not used internally so frequently in Google? Poor test coverage? What else?

[2018-04-06 17:59] asimshankar commented on #14133
Actually, this should be fixed by commit c6911faaf4702096064542790d8c9e8e6f938d52
which makes placement of operations with eager execution similar to graph (use a GPU if available, and transparently copy).

These silent copies could be a performance bottleneck if there is too much back and forth between host and device memory. Explicitly using `tf.enable_eager_execution(device_policy=tf.contrib.ea

[2018-04-06 17:59] #14133 closed

[2018-04-06 17:59] poxvoculi commented on #15883
@martinwicke Whose domain does this feature request fall into?

[2018-04-06 18:03] poxvoculi commented on #16997
@raja-rizki TensorFlow is an open source project to which anyone may contribute.  Is there something more that you're looking for?

[2018-04-06 18:25] dmoham1476 commented on #17411
I want to use the latest tensorflow-gpu (1.7) and don't want to stick to 1.5. So is the solution to build tensorflow from source without AVX support enabled? I have an old Xeon E5420 but am using tensorflow-gpu

[2018-04-06 18:32] fillorkill commented on #17411
dmoham1476 <notifications@github.com>于2018年4月7日 周六上午2:28写道：

You can build from source from the git clone master. It should auto adjust
to ur cpu.
--
Regards,

Jin

[2018-04-06 18:32] xingao267 commented on #17816
Hi,

I'm seeing this failure with Bazel 0.12.0rc2 (probably Bazel head as well). Here is my build info:

System information
Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Debian 8
TensorFlow installed from (source or binary):
Source
TensorFlow version (use command below):
commit 7535f6beb7b

[2018-04-06 18:32] samikama commented on #17881
@louisquinn at the time our error messages were not very user friendly. Can you tell which network are you trying? it is possible that it is not fully supported yet and error message could be misleading.

[2018-04-06 18:34] marcomele commented on #18289
same problem here, I tried and run this:
`
bazel run --config=opt tensorflow/tensorflow/contrib/lite/toco:toco -- \

WARNING: Config values are not defined in any .rc file: opt
ERROR: Skipping 'tensorflow/tensorflow/contrib/lite/toco:toco': error loading package 'tensorflow/tensorflow/contrib/lite/toco': Extension file not found. Unable to load package for '//tensorflow/core:platform/default/build

[2018-04-06 18:40] TwoRice opened #18297 "Tensorflow-gpu performance drop"
### System information
- **Have I written custom code**: No
- **OS Platform and Distribution**: Windows 10 64-bit
- **TensorFlow installed from**: binary
- **TensorFlow version**: 1.6.0
- **Python version**: 3.6.3
- **CUDA/cuDNN version**: 9.0
- **GPU model and memory**: GeForce GTX 780, 3Gb

Using Keras in Python with tensorflow-gpu backend. Worked fine for weeks until a few days ago, when I have

[2018-04-06 18:41] tensorflowbutler commented on #18287
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version

[2018-04-06 18:41] tensorflowbutler commented on #18288
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-06 18:41] tensorflowbutler commented on #18290
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-06 18:44] rishabhmalhotra commented on #6048
Since this still seems to be a major issue, just wondering if we can use CUDA through numba and force the GPU to kill all existing processes (which should automatically release memory)...

[2018-04-06 18:54] batzner commented on #18287
Not compiled from source, i.e.
- **Bazel version (if compiling from source)**: N/A
- **GCC/Compiler version (if compiling from source)**: N/A

[2018-04-06 18:55] batzner commented on #18287
Updated

[2018-04-06 18:57] Luonic commented on #17945
#MeToo
Compiled TF 1.7 (Ubuntu 16.04) today with mkl, trying to run seq2seq with attention, got:
`2018-04-06 21:52:38.076967: F ./tensorflow/core/util/mkl_util.h:1288] Non-OK-status: Status(error::Code::INVALID_ARGUMENT, "Unsupported data format") status: Invalid argument: Unsupported data format`
There is no even message about what OP caused failure. Seq2seq is batch-major if important.

[2018-04-06 19:06] poxvoculi commented on #6048
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-06 19:35] poxvoculi commented on #18285
You have not specified whether you're executing custom code or a provided model exactly as documented.  Probably your model is not getting input of the size it expects, but it's impossible to tell from this information.

Usage questions are better posed on StackOverflow.  This forum is for bug reports.  If you believe you have discovered a bug in tensorflow please post a small, reproducible exampl

[2018-04-06 19:55] martinwicke commented on #15883
@fchollet @sherrym for additional opinions.

This may not be worth the added API complexity. Have you tried using "same" for all dimensions and clipping manually afterwards? There's a performance cost to this, but it's probably negligible compared to the cost of the convolution itself.

[2018-04-06 19:56] tatianashp commented on #17816
The PR just went through. Please try again in a day or so. If you still see error messages please reopen this issue.

[2018-04-06 20:11] poxvoculi commented on #1325
@sherrym Could you update with the status of this issue?

[2018-04-06 20:17] saluto commented on #18275
That's not good. IMO it is a bug / faulty build and should be changed urgently in a next patch. CPU extensions that are not functionally necessary shouldn't be required for minimal installation. Could be frustrating for beginners following the simple installation instructions.

[2018-04-06 20:24] rohan100jain commented on #18275
As @yaroslavvb mentioned, from TF 1.6 onwards the pip install requires CPU's with AVX capability (https://www.tensorflow.org/install/install_sources). You can always do

pip install tensorflow==1.5
or
pip install tensorflow-gpu==1.5

[2018-04-06 20:24] #18275 closed

[2018-04-06 20:30] calledbymountains commented on #13610
@TimZaman It cannot be used with initializable iterators which limits its usability. Isn't it ?

[2018-04-06 20:36] calledbymountains commented on #18297
This is consistent with my experiments. As of commit `5d33c1e49178aedbb459da7ce58eca710102c06b` , the performance drop over 25600 images of imagenet when training densenet265 is about 17 seconds.

[2018-04-06 21:02] asimshankar commented on #18257
Thanks for the report, @akshaym is looking into fixing that.

[2018-04-06 21:25] #17423 closed

[2018-04-06 21:25] #18260 closed

[2018-04-06 21:26] yaroslavvb commented on #18297
The official benchmarks have not been affected as you can see [here](https://benchmarks-dot-tensorflow-testing.appspot.com/)

So the question is what you are doing different from official pipelines.

One possibility is if you are using feed_dict, which is not well tested by those benchmarks. Upgrading past TensorFlow 1.6 changes alignment requirement which will lead to slowdown if you use feed_dic

[2018-04-06 21:36] robieta opened #18300 "Thread limits are not respected in latest tf-nightly build."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes. My minimal example is as follows:
[code]
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Goobuntu desktop.
- **TensorFlow installed from (source or binary)**:
tf-nightly (see below)
- **Python version**:
3.5.3

### Describe the problem
Describe the proble

[2018-04-06 21:43] TwoRice commented on #18297
Not 100% sure what is being used because I'm using Keras.
Would I receive a warning if feed_dict was being used?
I do get this warning, however

`WARNING:tensorflow:From C:\Python36\lib\site-packages\keras\backend\tensorflow_backend.py:1259: calling reduce_prod (from tensorflow.python.ops.math_ops) with keep_dims is deprecated and will be removed in a future version.
Instructions for updating:
kee

[2018-04-06 21:50] yaroslavvb commented on #18297
I guess the best way to debug would be to look at timeline of a single step (fast) of old version, and compare it to timeline of single step (slow) in new version, and see what changed

[2018-04-06 21:53] jaikumarm commented on #17945
Same here, installed tf and keras from conda.

[code]

[2018-04-06 22:03] mrry commented on #18300
While driving by, I noticed that the threads are being created when the C API's `TF_Graph` is being constructed, with a stack like this:

[code]

It looks like that call to `GetCPUDevice()` (frame 10) is default initializing a SessionOptions and using it to create the CPU device's threadpool. Since the threadpools are static by default, by the time you come to create the session, it's too late. St

[2018-04-06 22:06] peastman commented on #18055
I tried your test, and sure enough if I run it directly it works.  However, if I run it using `nosetests` it gets skipped:

[code]

In addition, if I tell it to run just that one test rather than all tests in the file

[code]

then it fails:

[code]

[2018-04-06 22:17] asimshankar commented on #18055
I'm not familiar enough with `nosetests` to provide help here. From the stacktrace it seems that somehow the use of `nosetests` is resulting in an incorrect import of TensorFlow where it is looking for the `decorated` symbol in the wrong module.

Marking as "Community Support" since I don't believe anyone on the team here has the expertise to debug interactions with `nosetests`.

[2018-04-06 22:18] facaiy commented on #18292
Could weakref solve the problem?

[2018-04-06 22:32] yongtang commented on #12610
Close the issue as the PR has been merged. Thanks!

[2018-04-06 22:32] #12610 closed

[2018-04-06 22:52] thomasquintana opened #18301 "tf.data.TFRecordDataset does not properly infer shape"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-04-06 22:57] facaiy commented on #18187
Hi, I think the question is better to be asked on stackoverflow. You should use tf.minimize with your optimizer to create a train_op, and print lr_t after session.run(train_op) in each iteration.

[2018-04-06 23:00] tastyminerals commented on #18290
- Have I written custom code - yes
- OS Platform and Distribution - Linux 4.14.30-1-MANJARO
- TensorFlow installed from - pip, tensorflow-gpu 1.7
- Bazel version - ???
- CUDA/cuDNN version - 9.0
- GPU model and memory - NVIDIA GTX 1070 mobile, 8GB
- Exact command to reproduce --

[2018-04-06 23:00] facaiy commented on #18144
#17480 has been merged, I hope it could help you :)

[2018-04-06 23:03] thomasquintana commented on #13766
Any update on this?

[code]

Output:
[code]

[2018-04-06 23:10] mrry commented on #13766
@thomasquintana Can you please open a new issue for this? /cc @jsimsa

[2018-04-06 23:11] mpekalski commented on #9489
In my case it was caused by running it under Windows with
`session_config.gpu_options.allow_growth = True`
without this I got another error, that was masked by
` failed to create cublas handle: CUBLAS_STATUS_NOT_INITIALIZED`

[2018-04-06 23:18] mrry commented on #18301
I think the problem is that the `padded_shapes` argument to `dataset.padded_batch()` should be a tuple of four shapes (to match the tuple of four tensors returned from `parse()`). So something like `([], [None], [], [])` seems like it's probably the appropriate argument here.

[2018-04-06 23:18] thomasquintana opened #18302 "Add sparse tensor support to Dataset.padded_batch()"
@jsimsa Please help :) Thx

Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those

[2018-04-06 23:27] thomasquintana commented on #18301
Thanks I must've misunderstood the documentation. That solved the problem. :beers:

[2018-04-06 23:27] #18301 closed

[2018-04-06 23:40] mrry commented on #18301
Great, thanks for confirming!

[2018-04-07 00:17] TwoRice commented on #18297
Like I said, I'm using the same data and model as before, and I haven't updated any of my libraries.
Although I guess _something_ must have changed that's caused this performance drop, but at the moment, I have no idea how to get my fast version back.

[2018-04-07 00:31] facaiy commented on #18179
@fchollet `tf.layers.Input` seem removed in 32ccc6a0. Is this a mistake?

[2018-04-07 00:37] tensorflowbutler commented on #18296
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-07 00:40] facaiy commented on #18179
@cgarciae Would you replace it by `tf.keras.layers.Input`? I think it should work for you as well.

[2018-04-07 00:40] fchollet commented on #18179
Sorry for the inconvenience, it was not possible to keep it in the namespace after relocating the code. This is deliberate.

You can now import it as `tf.keras.Input`.

[2018-04-07 00:40] #18179 closed

[2018-04-07 00:42] facaiy commented on #18179
@fchollet I think the change should have been explained in [1.7 release notes](https://github.com/tensorflow/tensorflow/releases/tag/v1.7.0)

[2018-04-07 00:59] facaiy commented on #16930
@mrry @cy89 Hi, could you take a look at #17083 since it has been a long time. Thanks.

[2018-04-07 01:08] yaroslavvb commented on #18297
Are you sure this is not a user error? Without a reproducible case or some kind of narrowing down of the regression, this report is not very useful since it's hard to make progress on it

[2018-04-07 01:26] LandSurveyorK opened #18304 "tf.enable_eager_execution must be called at program startup."
[code]

[code]

[2018-04-07 01:34] asimshankar commented on #18247
@ispirmustafa @fchollet : Any suggestions here?

[2018-04-07 01:41] asimshankar commented on #17996
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-07 01:41] #17996 closed

[2018-04-07 01:45] asimshankar commented on #17897
So, if I understand correctly - things work well if you install TensorFlow binaries for any of the new recent versions (1.5, 1.6, 1.7 etc.)? But the output tensor is empty only if building from source?

Hard to say what's happening without more details, or ideally an ability to reproduce the problem. Are you building from unedited source? When you say the "output is empty", is there no output tens

[2018-04-07 01:46] asimshankar commented on #17464
Closing since I interpreted your last comment to imply that my hunch was correct. Please feel free to reopen if I was mistaken. Thanks.

[2018-04-07 01:46] #17464 closed

[2018-04-07 01:47] facaiy commented on #14809
@fchollet Could you take a look?

[2018-04-07 02:02] wendazhou commented on #3332
@TylerBalsam I have implemented the CUDNN grouped conv API for DepthwiseConv in https://github.com/tensorflow/tensorflow/pull/17961, you can give it a try if you are willing to compile yourself. I get a significant speed-up for MobileNet (my main application), especially in 16-bit training.

[2018-04-07 02:09] TylerBalsam commented on #3332
Many thanks!

On Fri, Apr 6, 2018, 10:05 PM Wenda Zhou <notifications@github.com> wrote:

[2018-04-07 02:13] Lidaguo commented on #8904
@petrosmol . Hello, I did add the map ops multiple times in one per epoch in my training graph. I have fixed this problem. Thank you very much. And I have a another problem about the implemented multiclass SVM loss (see [)](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/kernel_methods/python/losses.py)

[2018-04-07 02:31] ebrevdo commented on #15237
Seems so, I don't think there's anything actionable here.  Just add weight decay to the graph yourself.

[2018-04-07 02:34] Lidaguo commented on #8904
@petrosmol . Hello, I did add the map ops multiple times in one per epoch in my training graph. I have fixed this problem. Thank you very much. And now, I have a problem about the implemented multiclass SVM loss (see [https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/kernel_methods/python/losses.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/kerne

[2018-04-07 02:37] facaiy commented on #18287
@batzner could you use `tf.keras`, instead of contrib module?

[2018-04-07 03:05] #17079 closed

[2018-04-07 03:30] facaiy commented on #18198
@worm004 Could you test it on the latest version 1.7?

[2018-04-07 05:12] lenjoy commented on #16044
hi, @squall-1002 , in recommender system, anyway we need to do some data process to merge the ID features (such as maker IDs) into a list.

Do you think the code below is working as you expected?

[code]

The output is
[code]

[2018-04-07 06:09] dchatterjee172 commented on #15771
@petrosmol
The output should be also [batch_size, x, self._output_dim]. For example if you have a sentence, where x is the sentence length or how many words the sentence has, and self._output_dim will be the size of word vectors.

[2018-04-07 06:11] batzner commented on #18287
I updated the code to use `tf.keras` instead of contrib. The output is the same as before.

[2018-04-07 06:12] asimshankar commented on #18304
`tf.enable_eager_execution()` is intended to be called once in a program, typically the first thing in a program. Libraries should not be calling `tf.enable_eager_execution()` and instead should in general work for both graph construction and eager execution (or `assert tf.executing_eagerly()` if they work only with eager execution).

That said, I can't reproduce the error you're seeing using the

[2018-04-07 06:38] galeone commented on #14546
I'm facing again this same exact issue.
It looks like the problem with the `Unexpected type: 23` has been fixed only in tensorflow 1.4, but it is still present in every other release (I've tested with 1.5, 1.6 and 1.7 and is present).

Proof:

1.5
[code]

1.6
[code]

1.7
[code]

[2018-04-07 06:44] galeone opened #18306 "[Go] SIGABRT (Unexpected type: 23) when running go test, using tensorflow > 1.4"
The same error reported in #14546 is still present in every tensorflow release > 1.4 (and master branch).

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Archlinux
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use comma

[2018-04-07 07:08] asimshankar commented on #14546
That sounds like the underlying C library is an older version. Are you using the corresponding version of the C library as per Step 2 in https://www.tensorflow.org/install/install_go#installation ?

[2018-04-07 07:13] asimshankar commented on #18306
Is it possible that there is a conflicting (older) version of the C library that is being linked against?
You can figure that out with something like this:

[code]

And ensuring that the path to `libtensorflow_framework.so` is the correct one.

Alternatively, try something like this:

[code]

You should see the same version as the branch you've checked out.
If not, then it would appear that you're

[2018-04-07 07:59] galeone commented on #18306
Yes, you're right. I was linking to an older version of the C library. Now I updated it and everything works as expected. Thank you for your help

[2018-04-07 08:07] tgy commented on #18275
@rohan100jain Why does tensorflow require AVX capability from version 1.6? Why drop the support of CPUs that don't have AVX capabilities?

[2018-04-07 08:18] oscarbg opened #18307 "WinML or DirectML support planned?"
Windows only, but this should support AMD and Intel GPUs using D3D12 backend or even DirectML which with custom metacommands seems even able to use tensor cores on Volta GPUs..
Hope to hear news at least by Build conference in May

[2018-04-07 08:28] #18306 closed

[2018-04-07 08:47] saluto commented on #18275
I don't get it either...
So users with older CPU are forced to use an outdated tensorflow API, probably leading to incompatible code in the future, just because AVX is required - unnecessarily! (Because building it without AVX shows that it is not really needed.) I understand that it improves performance. But in my opinion the most basic pip-installed build should target as many systems as possibl

[2018-04-07 08:59] ppwwyyxx commented on #18275
@saluto  @tgy TensorFlow 1.6 supports CPUs without AVX capabilities. TensorFlow 1.6 did not drop support of older CPUs. The __prebuilt official binary__ of TensorFlow 1.6 does not support older CPUs. You can always build yourself on older GPUs or look for non-official binary others have built.

There are lots of options building a binary and there could be only one binary called "tensorflow==1.6.0

[2018-04-07 09:30] sjperkins commented on #13610
@calledbymountains I saw a commit to master that enables prefetch_to_device with initialisable iterators. I also think prefetch_to_device is in master, but not 1.7

[2018-04-07 09:58] HerrickCof opened #18309 "Cannot build toco or use it to transfer model"
Hi, i encountered a lot of problems using tflite. I can build the demo and run it on my android phone. I am trying to transfer my trained model to tflite format and cannot even build toco. I have already editted the workspace with the directory of sdk and ndk. The first problem shows up saying max/min is no -std member. I add the #include<algorithm> to that file and the next strange problem shows

[2018-04-07 10:46] ppwwyyxx commented on #18297
@TwoRice if you're using Keras and you don't know whether you're using feed_dict or not, you're probably using feed_dict in the critical path (because it's a Keras default).
feed_dict is slow probably since the first day of tensorflow. It gets slower in 1.6 as @yaroslavvb mentioned. Maybe related to your issue.

[2018-04-07 10:58] Windaway opened #18310 "Feature Request: Locally Connected Conv2d"
### Describe the problem
Need new features, the local conv is avaiable in Keras.
https://www.tensorflow.org/api_docs/python/tf/keras/layers/LocallyConnected2D
But tensorflow does not have this feature. I have writen this layer with tensorlayer, it can work, but the initializing is too slow. So I want offical to release a better implementation. Thanks
### Source code / logs
[code]

[2018-04-07 11:30] facaiy commented on #18310
As said by you, the feature has been supported by tf.keras. If I'm not wrong, tf.layer will be replaced by tf.keras.layer in the near future. Hence it might be better to use the implementation in tf.keras.

[2018-04-07 11:39] Windaway commented on #18310
Thanks, but the implementation in keras only supports point-wise locally connected conv2d, I make the block-wise locally connected conv2d with overlap feature, a more complex reimplementation.

[2018-04-07 11:59] LynnHo commented on #13101
@mrry I saw dataset.batch(BATCH_SIZE).prefetch(FACTOR * BATCH_SIZE) and dataset.batch(BATCH_SIZE).prefetch(FACTOR), which ones is correct usage?

[2018-04-07 13:39] imatensor commented on #18216
The point of my inquiry is because I want to use certain tf ops that pehaps only transpose the tensor shape and not necessarily operate on its data mathematically.  DepthSpace and BatchSpace are two such ops that supposedly return the input tensor dtype.

Since quatization is not specifically supported for most/any commands currently it would help if those commands that don't operate mathematicall

[2018-04-07 13:55] saluto commented on #18275
@ppwwyyxx "You can always build from source" - You should say this to people wanting a more not less advanced build. Especially because Tensorflow is also widely used among beginners.
I stay with it: For the most basic pip-build it's the wrong choice. Maybe a better compromise would be to activate AVX only for the prebuilt **GPU**-version, since this already is a performance optimized one. I think

[2018-04-07 15:06] roya0045 opened #18311 "[Feature request] unsquashing unsorted_segment_x"
Have I written custom code? No
OS Platform and Distribution? Win10
TensorFlow installed from? pip
TensorFlow version? 1.7
Bazel version? N/A
CUDA/cuDNN version? N/A
GPU model and memory? N/A
Exact command to reproduce: unsorted_segment_sum

### Describe the problem
Let's say you have 3 sequences of 12 values (shape (3,12)) with 5 segments and you have an input of shape (None,12,3) transposed to (3

[2018-04-07 15:10] arthurarg commented on #17356
I probably misunderstand your post but it seems that tf.estimator handles multi-dimension outputs (with labels taking in input a dict for multi-head models) - see tf.estimator.Estimator class definition:

Args:
      model_fn: Model function. Follows the signature:
        * Args:
          * `features`: This is the first item returned from the `input_fn`
                 passed to `train`, `evalu

[2018-04-07 15:38] LandSurveyorK commented on #18304
Thank you for your quick response.

I tried the same codes in Windows terminal, it works.
But it doesn't work in Jupyter (Version 5.4.1, latest version).

[2018-04-07 15:57] yanghoonkim commented on #17356
Oh, I found that I only checked the following link:
https://www.tensorflow.org/versions/r1.4/extend/estimators
And in the link, `lables` in `model_fn` is only explained as:

So did i make such a suggestion.

So this means that I can have multiple objective functions and different dimensions of label values? e.g.  the label of the first objective function with 5 dimension vector and the label of th

[2018-04-07 17:01] asimshankar commented on #18304
Sounds like the Jupyter kernel needs to be restarted.

[2018-04-07 17:01] #18304 closed

[2018-04-07 17:11] arthurarg commented on #17356
Yes, you can indeed. tf.estimator allows to handle it, then you can handle the multiple objectives however you want in your model_fn. See simple example bellow (taken from the TF website and modified for multi-dimension labels):
[code]

[2018-04-07 17:12] bignamehyp commented on #13890
@mingxingtan can you please take a look?

[2018-04-07 17:13] bignamehyp commented on #18041
@joel-shor can you please take a look?

[2018-04-07 17:15] LandSurveyorK commented on #18304
Cool, it works, thank you for  your time.

[2018-04-07 17:37] tali172 commented on #647
first step is to ACTIVATE tensorflow
it can be done by  firing these commands
"cd tensorflow/bin"
"source activate tensorflow"

and that should do allow you to import tensorflow.

particularly in my case,
next few steps are...

now go to the folder where premade_estimator resides
"cd models/samples/core/get_started/"
now run premade_estimator.py file by typing this command,
"python premade_estimat

[2018-04-07 17:37] voegtlel commented on #18292
@facaiy: I can easily fix my code, now that I know where the leak comes from. The problem here is rather the pitfall which creates the leak (i.e. hidden/unobvious references to the graph from your py_func, which can be really hard to find). So if the weakref was ment for my py_func, that's actually not the issue. If you suggest replacing the direct reference in the `FuncRegistry`, that is not help

[2018-04-07 18:16] jperl opened #18314 "Feature Request: Allow extending Estimator"
Our model is time based and we are doing continuous training and eval on the same machine. The model is very large and takes 1+ minutes to load, so we don't want the overhead of reloading the graph and weights every time we switch from training to eval https://github.com/tensorflow/tensorflow/issues/13895#issuecomment-375990484.

I tried to subclass Estimator to override the `_train_model fn` but

[2018-04-07 18:25] tensorflowbutler commented on #18307
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-07 18:25] tensorflowbutler commented on #16504
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:25] tensorflowbutler commented on #17965
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:25] tensorflowbutler commented on #17901
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-07 18:25] tensorflowbutler commented on #17867
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:26] tensorflowbutler commented on #17844
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:26] tensorflowbutler commented on #17761
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-07 18:26] tensorflowbutler commented on #17739
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:26] tensorflowbutler commented on #17451
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:26] tensorflowbutler commented on #17319
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:26] tensorflowbutler commented on #17199
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:26] tensorflowbutler commented on #17116
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:26] tensorflowbutler commented on #16884
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:26] tensorflowbutler commented on #7162
Nagging Assignees @petewarden, @suharshs: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:26] tensorflowbutler commented on #16468
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:26] tensorflowbutler commented on #16184
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:26] tensorflowbutler commented on #14699
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:26] tensorflowbutler commented on #14584
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:27] tensorflowbutler commented on #14080
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:27] tensorflowbutler commented on #13818
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:27] tensorflowbutler commented on #13705
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:27] tensorflowbutler commented on #11765
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:27] tensorflowbutler commented on #10179
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:27] tensorflowbutler commented on #9525
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:27] tensorflowbutler commented on #8665
Nagging Assignees @petewarden, @suharshs: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:27] tensorflowbutler commented on #7480
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-07 18:27] jperl commented on #18314
Hacked around this with a noop `Estimator._assert_members_are_not_overridden = lambda _: None`

[2018-04-07 18:27] #18314 closed

[2018-04-07 19:07] Luonic commented on #17945
@claynerobison can you tell how we can help you debug this? Commands for verbose logging, etc?

[2018-04-07 19:39] yaroslavvb commented on #18275
The real issue is that TensorFlow binary is pre-baked with a specific architecture instruction set. This makes sense for Google internal deployments -- there's a small number of supported configurations, so it makes sense to maintain a different binary for each configuration. But it makes less sense for python ecosystem where there's a large number of hardware configurations, and pypi doesn't even

[2018-04-07 19:53] mingxingtan commented on #13890
I am not able to reproduce the issue on my local Volta GPU.

[2018-04-07 20:35] dtrebbien commented on #17116
I think that this was fixed by 3d9c27742693f9859e2fb75de57fe108520de712

[2018-04-07 20:35] #17116 closed

[2018-04-07 20:36] dtrebbien commented on #17119
I think that this was fixed by 3d9c27742693f9859e2fb75de57fe108520de712

[2018-04-07 20:36] #17119 closed

[2018-04-07 20:40] Skydes commented on #17232
@achalshah20 Did you eventually manage to get the CMake build to work on Ubuntu ?

[2018-04-07 22:01] oscarbg commented on #18307
It’s a request such details aren’t needed..

[2018-04-07 22:39] phueac commented on #18296
Have I written custom code: No
OS Platform and Distribution: Windows 10 64-bit Fall Creator's Update
TensorFlow installed from: pip install tensorflow via Anaconda
TensorFlow version: 1.7
Bazel version: N/A
CUDA/cuDNN version: CUDA 9.0
GPU model and memory: Nvidia K2200 4GB
Exact command to reproduce: N/A

[2018-04-07 23:40] drpngx commented on #18292
/CC @zffchen78

[2018-04-08 00:18] NightCrawler96 opened #18316 "TensorFlow-GPU random GPU crashes while training"
### System information
- Custom code - Simple q learning model using Keras with TF and Open AI Gym
- Windows 10
- Tensorflow installed with pip
- TensorFlow-gpu 1.7.0
- Python 3.6.4
- CUDA 9.0, cuDNN 7
- Nvidia GeForce GTX 1050 Ti GDDR5 4GB

### Describtion
When I'm running a script randomly two types of errors happen:

-  Blue Screen with Driver Power State Failure
- TensorFlow cannot locate gpu

[2018-04-08 00:35] tensorflowbutler commented on #18311
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-08 01:38] qiuxin2012 opened #18317 "[bug] FtrlOptimizer with l2_shrinkage_regularization_strength is incorrect"
The result of `accum` in FtrlOptimizer with l2_shrinkage_regularization_strength seems incorrect.

Test code:
[code]

My result is
[code]
OS Platform and Distribution
OS: Ubuntu 16.04
Tensorflow version: 1.7.0
CPU: i7 4790

TensorFlow installed from
pypi

According to comments of apply_ftrl_v2 in gen_training_ops.py
[code]
grad_with_shrinkage should be [0.1] + 2 * 0.5 * [1.0] = 1.1
accum_new shoul

[2018-04-08 02:19] scotthuang1989 opened #18318 "Is input of tf.contrib.cudnn_rnn.CudnnLSTM time-major?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 17.10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.6
- **Python version**: 3.6
- **Bazel version (if compiling from source)**:
- **GCC/Compiler versio

[2018-04-08 03:13] qumoy commented on #18191
Have u solved this problem the unsupported operations?

[2018-04-08 03:16] chenzhiwo commented on #17822
Actually this is not necessary part of this script.
Solution in #17796. A quick fix here.
Modify ``tensorflow/contrib/lite/build_rpi_lib.sh``
[code]

[2018-04-08 03:34] qumoy opened #18320 "How to solve the problem that the unsupported operations"
### Describe the problem
I want to convert my project to xxx.tflite,but i meet the problem blew "Didn't find custom op for name 'FLOOR'". So how to solve this problem?

### Source code / logs
![image](https://user-images.githubusercontent.com/15247604/38462856-e05f469e-3b1f-11e8-8e0e-07c61f28cedf.png)

[2018-04-08 03:52] HerrickCof commented on #18309
Another error while building the demo according to the official site instructions using bazel:
`bazel build -c opt //tensorflow/examples/android:tensorflow_demo`
`ERROR: C:/users/herrick/tensorflow/tensorflow/core/kernels/BUILD:5136:1: Linking of rule '//tensorflow/core/kernels:android_tensorflow_kernels' failed (Exit -1). Note: Remote connection/protocol failed with: execution failed
Action faile

[2018-04-08 03:55] linuxaged commented on #13729
tensorflow still relies on GCC i think, since ndk-r15 GCC is no longer supported.

[2018-04-08 04:26] Duke-ding commented on #11974
i  also have this issue

[2018-04-08 04:26] Duke-ding commented on #11974
i also have this issue

[2018-04-08 04:30] Duke-ding commented on #11974
def read_and_decode(filename):
    filename_quece = tf.train.string_input_producer([filename])#读入流中

    reader = tf.TFRecordReader()
    _,serialized_example = reader.read(filename_quece)#返回文件名和文件
    features = tf.parse_single_example(serialized_example,features={
        'label':tf.FixedLenFeature([],tf.int64),
        'img_raw' : tf.FixedLenFeature([],tf.string),
    })
    img = tf.decode_raw

[2018-04-08 06:16] a2en commented on #14873
@asimshankar if we were to use platform channels, we need to code in both swift and kotlin. @nikhil-minz  is referring to plugin support like Flutterfire for firebase

[2018-04-08 06:58] Gnefi commented on #17411
I have the same problem with 1.7 but I cannot downgrade at 1.5 because I need new attribute that are located in 1.6 and 1.7. How can I fix the problem?

This is my CPU: AMD A4-3300M APU with Radeon(tm) HD Graphics
It's to old to run tensorflow? Is tensorflow works with new CPU and GPU? My PC is 6-7 years old.

[2018-04-08 07:01] rigorosyang commented on #18081
I tried, still not work.

[2018-04-08 07:03] Gnefi opened #18322 "Tensorflow 1.7.0 - Illegal instruction"
Hy everyone!

I have Illegal instruction with tensorflow (v. 1.7) when I just type the import command:

Python 2.7.14 |Anaconda, Inc.| (default, Mar 27 2018, 17:29:31)
[GCC 7.2.0] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Illegal instruction ( core dumped creato )

Surface the internet for the solution, I found that I can downgrade at 1.5 but I cannot downgr

[2018-04-08 09:03] MyVanitar opened #18323 "The LSTM does not generate reproducible results, but GRU does"
I can not get reproducible results by just using the LSTM, but GRU is Okay.

Let me explain what happens.

if I train an identical LSTM, 10 times in a loop, for the first 6 run it handles MSE equal to value `a` and for the rest 4 run it handles MSE value `b`. weird isn't?
Just value `a` OR `b`. it means an identical LSTM can handle two MSEs by random and just two MSE values.

and if I just replace

[2018-04-08 09:25] carbon1985 opened #18324 "can tensorflow lite be accelerated on android devices below 8.0? can renderscript or any gpu acceleration do the tricks?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-04-08 10:07] plouismarie commented on #7072
@shingte worked for me, also. thanks !!!

[2018-04-08 10:12] zhongmengfeng commented on #15633
The DetectorActivity interface is stuck in my project, do you exist, how can I solve it?

[2018-04-08 12:10] simpeng commented on #17852
The issue repro on tf1.7 release, and the workaround(revert grpc change) still work till now.

I am quite curious anybody else who use distributed tf, don't really have the exact same repro? (to be clear, the initial issue has nothing to do with OOM).

[2018-04-08 12:26] roya0045 commented on #18311
Have I written custom code? No
OS Platform and Distribution? Win10
TensorFlow installed from? pip
TensorFlow version? 1.7
Bazel version? N/A
CUDA/cuDNN version? N/A
GPU model and memory? N/A
Exact command to reproduce: unsorted_segment_sum
(duplicate info for the bot)

[2018-04-08 12:26] tensorflowbutler commented on #18316
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-08 12:26] tensorflowbutler commented on #18317
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-08 12:26] tensorflowbutler commented on #18320
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-08 12:40] GarryLau commented on #14606
@aselle I used --transform='remove_nodes(op=RandomShuffleQueueV2)'. But it still wrong!!!

[2018-04-08 13:16] Ashiqgiga opened #18325 "Caught OutOfRangeError. Stopping Training. FIFOQueue '_3_prefetch_queue' is closed and has insufficient elements (requested 1, current size 0)"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04 (PaperSpace Quadro P4000
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.70
- **Python version**:  3.6.3
- **Bazel version (if compiling from source)**:
-

[2018-04-08 16:00] xysmlx commented on #18322
This CPU does not support the AVX instructions. The prebuilt binaries require it. Please install from source.

[2018-04-08 16:26] khashei commented on #11399
Thanks for raising this issue @sheerun . Did you find any workaround that you can share please?

[2018-04-08 16:58] XMaster96 opened #18326 "Input shape Error, bidirectional rnn"
System Info:
    - OS: Windows 7
    - Cude: 9, 9.1
    - Tensorflow: 1.7.0
    - GPU Mode

I have some problems with bidirectional rnn inputs. After my anderstanging, a bidirectional  rnn needs a input from the shape "[batch_size, input_size]".
May input "hidden" has first the shape (?, 512), I then reshape is to (1, 512) and expande the dims to
(1, 1, 512). I treid to pass all three versions to

[2018-04-08 17:01] dthkao commented on #18242
Friendly ping?

[2018-04-08 17:20] xxiane opened #18328 "saving model under different directory if specified one is already taken"
[https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/saved_model/builder_impl.py](url)
Line 87

If the specified directory name is already taken, is there a reason why the model saving has to fail instead of saving to some alternate directory? I was wondering if we could add a while loop that says that while the directory name is taken, we'll try again and save it in `export_dir

[2018-04-08 17:42] VanitarNordic commented on #18323
The code is not something special, just a loop and Keras guides to make reproducible results, something like this:

[code]

[2018-04-08 18:27] tensorflowbutler commented on #16216
Nagging Assignee @andrehentz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:27] tensorflowbutler commented on #15845
Nagging Assignees @aselle, @andrehentz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:27] tensorflowbutler commented on #15913
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:27] tensorflowbutler commented on #16042
Nagging Assignee @protoget: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:27] tensorflowbutler commented on #16045
Nagging Assignee @jlebar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:27] tensorflowbutler commented on #16087
Nagging Assignee @xiejw: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:27] tensorflowbutler commented on #15818
Nagging Assignee @derekjchow: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:28] tensorflowbutler commented on #16226
Nagging Assignee @caisq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:28] tensorflowbutler commented on #16247
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-04-08 18:28] tensorflowbutler commented on #16257
Nagging Assignee @jvdillon: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:28] tensorflowbutler commented on #16344
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:28] tensorflowbutler commented on #16396
Nagging Assignee @raghuraman-k: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:28] tensorflowbutler commented on #15284
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:29] tensorflowbutler commented on #15364
Nagging Assignee @wolffg: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:29] tensorflowbutler commented on #15488
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:29] tensorflowbutler commented on #15542
Nagging Assignees @meteorcloudy, @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:29] tensorflowbutler commented on #16608
Nagging Assignee @jvdillon: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:29] tensorflowbutler commented on #15624
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-04-08 18:29] tensorflowbutler commented on #15635
Nagging Assignee @andrewharp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:29] tensorflowbutler commented on #15717
Nagging Assignee @yzhwang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:29] tensorflowbutler commented on #15720
Nagging Assignee @zheng-xq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:29] tensorflowbutler commented on #15805
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:29] tensorflowbutler commented on #17526
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:30] tensorflowbutler commented on #17548
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:30] tensorflowbutler commented on #17557
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-08 18:30] tensorflowbutler commented on #17593
Nagging Assignee @yongtang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:30] tensorflowbutler commented on #17507
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-08 18:30] tensorflowbutler commented on #17909
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:30] tensorflowbutler commented on #17910
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:30] tensorflowbutler commented on #17921
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-08 18:30] tensorflowbutler commented on #17951
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:31] tensorflowbutler commented on #17967
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:31] tensorflowbutler commented on #17218
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:31] tensorflowbutler commented on #16656
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:31] tensorflowbutler commented on #16776
Nagging Assignee @caisq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:31] tensorflowbutler commented on #16798
Nagging Assignee @yzhwang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:31] tensorflowbutler commented on #16850
Nagging Assignee @caisq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:31] tensorflowbutler commented on #17014
Nagging Assignee @malcolmreynolds: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:31] tensorflowbutler commented on #17170
Nagging Assignee @ispirmustafa: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:31] tensorflowbutler commented on #17347
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-04-08 18:31] tensorflowbutler commented on #17413
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-08 18:32] tensorflowbutler commented on #17417
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-04-08 18:32] tensorflowbutler commented on #17421
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-08 18:32] tensorflowbutler commented on #17467
Nagging Assignee @jvdillon: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:32] tensorflowbutler commented on #17483
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:32] tensorflowbutler commented on #17484
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:32] tensorflowbutler commented on #11514
Nagging Assignee @zhangyaobit: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:32] tensorflowbutler commented on #10220
Nagging Assignee @tfboyd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:32] tensorflowbutler commented on #10605
Nagging Assignee @case540: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:32] tensorflowbutler commented on #10728
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:32] tensorflowbutler commented on #10972
Nagging Assignee @chihuahua: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:32] tensorflowbutler commented on #11070
Nagging Assignee @zheng-xq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:32] tensorflowbutler commented on #11138
Nagging Assignee @xiejw: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:33] tensorflowbutler commented on #11144
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:33] tensorflowbutler commented on #9904
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:33] tensorflowbutler commented on #11802
Nagging Assignee @tfboyd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:33] tensorflowbutler commented on #11831
Nagging Assignee @sandersk: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:33] tensorflowbutler commented on #11923
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-04-08 18:33] tensorflowbutler commented on #12293
Nagging Assignee @yzhwang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:33] tensorflowbutler commented on #12460
Nagging Assignee @andrewharp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:33] tensorflowbutler commented on #12465
Nagging Assignee @caisq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:33] tensorflowbutler commented on #8112
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:33] tensorflowbutler commented on #5477
Nagging Assignee @thjashin: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:33] tensorflowbutler commented on #6034
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:33] tensorflowbutler commented on #6767
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:33] tensorflowbutler commented on #6992
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:34] tensorflowbutler commented on #7129
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:34] tolotrasamuel opened #18329 "Failed to load the native TensorFlow runtime."
------------------------

### System information

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 Pro
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: tensorflow-gpu (1.7.0).
- **Python version**:  3.5.5
- **Bazel

[2018-04-08 18:34] tensorflowbutler commented on #7467
Nagging Assignee @sguada: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:34] tensorflowbutler commented on #7669
Nagging Assignee @xiejw: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:34] tensorflowbutler commented on #7808
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:34] tensorflowbutler commented on #8804
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:34] tensorflowbutler commented on #9171
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:34] tensorflowbutler commented on #9509
Nagging Assignee @hawkinsp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:34] tensorflowbutler commented on #9550
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:34] tensorflowbutler commented on #9579
Nagging Assignee @hawkinsp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:34] tensorflowbutler commented on #9779
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:35] tensorflowbutler commented on #14518
Nagging Assignee @mrry: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:35] tensorflowbutler commented on #14676
Nagging Assignee @yunxing: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:35] tensorflowbutler commented on #14716
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-08 18:35] tensorflowbutler commented on #13982
Nagging Assignee @gdeer81: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:35] tensorflowbutler commented on #14936
Nagging Assignee @andrehentz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:35] tensorflowbutler commented on #14943
Nagging Assignee @caisq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:35] tensorflowbutler commented on #14972
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:35] tensorflowbutler commented on #14980
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:36] tensorflowbutler commented on #22
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-04-08 18:36] tensorflowbutler commented on #13530
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:36] tensorflowbutler commented on #13351
Nagging Assignee @djvisentin: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:36] tensorflowbutler commented on #13310
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-04-08 18:36] tensorflowbutler commented on #13243
Nagging Assignee @allenlavoie: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:36] tensorflowbutler commented on #13169
Nagging Assignee @caisq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:36] tensorflowbutler commented on #13150
Nagging Assignee @saeta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:36] tensorflowbutler commented on #13104
Nagging Assignee @wolffg: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:36] tensorflowbutler commented on #12927
Nagging Assignee @allenlavoie: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:37] tensorflowbutler commented on #12917
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:37] tensorflowbutler commented on #12653
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:37] tensorflowbutler commented on #12569
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 18:37] tensorflowbutler commented on #12514
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-08 19:44] Sciguymjm opened #18332 "tf_debug incompatibility with importlib (Python 3.6)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.7.0
- **Python version**: Python 3.6
- **Exact command to reproduce**:
- Bazel version: N/

[2018-04-08 20:40] poxvoculi commented on #13519
opened internal bug.

[2018-04-08 20:59] poxvoculi commented on #14947
Perhaps this is solved, or just no longer of interest.

[2018-04-08 20:59] #14947 closed

[2018-04-08 20:59] maxzzze commented on #15305
This is still an issue, seems to just be assigned incorrectly.

[2018-04-08 21:05] poxvoculi commented on #16535
@jart Feature request possibly related to tensorboard.  Thoughts?

[2018-04-08 21:11] asimshankar commented on #18322
Yup, as @xysmlx said : TensorFlow release binaries are now compiled with AVX support. If your CPU does not support that, you'll have to build from source for now. (see ["Release Notes"](https://github.com/tensorflow/tensorflow/releases/tag/v1.6.0) for 1.6)

[2018-04-08 21:11] #18322 closed

[2018-04-08 21:16] sheerun commented on #11399
I don't rembember but I think I interlaced every character of input string with some character not present in string, and then used single character delimiter for splitting

[2018-04-08 21:28] JerryZeyu opened #18333 "Tree-LSTM couldn't be trained on the GPU"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04;macOS10.12.6
- **TensorFlow installed from (source or binary)**:pip
- **TensorFlow version (use command below)**:1.6.0
- **Python version**: 3.6.4
- **Bazel version (

[2018-04-08 22:57] redhumor opened #18334 "always get negative moving_variance in batchnormalization"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
   Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
MacOS 10.12.6
- **TensorFlow installed from (source or binary)**:
pycharm
- **TensorFlow version (use command below)**:
1.5.0
- **Python version**:
2.7
- **Bazel version (if compi

[2018-04-08 23:43] khashei commented on #11399
Thanks for the suggestion. I had to do exactly what you've suggested and was searching for a better way.

[2018-04-09 01:09] kumarNith commented on #17411
Downgrading to version 1.5 fixed the issue. I am using Ubuntu 16.04  with python 2.7

[2018-04-09 01:12] tensorflowbutler commented on #18326
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-09 01:12] tensorflowbutler commented on #18328
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-09 02:04] monajalal opened #18337 "c_api.TF_GetCode(self.status.status)) tensorflow.python.framework.errors_impl.NotFoundError: ; No such file or directory [[Node: save_1/SaveV2 = SaveV2["
Please suggest what is wrong and how to fix it:
-----------------------------------------
Right on the 60k iteration, I got this error, please suggest what might have been wrong. Can you also share your models for MPII human pose dataset? I basically followed all the instructions for training and had no error until 60k-th iteration!! The error is cause when using this repo https://github.com/eldar

[2018-04-09 02:07] hsm207 opened #18338 "SeparableConv2D from tf.keras.layers and tf.layers gives different results"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-04-09 02:16] Zealoe commented on #11882
Sorry for bothering you, but are there any updates now? Thanks very much! @yzhwang  @benoitsteiner

[2018-04-09 02:59] ay27 commented on #6489
@shakacs Could you please give a more clear solution to solve the ZeroDivisionError? It's still error in April 2018.

[2018-04-09 03:27] #12927 closed

[2018-04-09 03:46] deval1491 commented on #17921
OS Platform and Distribution: Ubuntu 14.04
TensorFlow installed from: Git cloned
TensorFlow version: N/A
Bazel version: Build label: 0.11.1
CUDA/cuDNN version: N/A
GPU model and memory: x86 8GB RAM
Exact command to reproduce: Using Android studio as a existing project

[2018-04-09 03:47] carbon1985 commented on #18324
thx, I'm a fresher, can you provide some advise to tune the performance to classify using tensorflow lite on android. it seems like with the same model, tensorflow lite run on IOS is much faster
btw, i run a test on nexus5x (android 8.1), it cost 800ms to classify a frame, but only 300ms on HUAWEI P9  i don't whether the nnapi is enabled?

[2018-04-09 04:14] samhodge commented on #6875
Thank you for putting up this response to your own issue, you may have just saved me several hours of head scratching.

[2018-04-09 04:32] ZexuanTHU opened #18339 "GPU support for macOS"
Hi there, with the launch of version 10.13.4, now the macOS officially support eGPU(extend GPU). Though there does not have a official Nvidia GPU driver, users still can drive their Nvidia eGPU with the Nvidia Web Driver. So the use of CUDA and cuDNN on macOS become possible.

For now, without the official GPU-support binary package, eGPU users like me have to compile from source code, which is a

[2018-04-09 04:51] George-Gate commented on #17985
Is there anyone can solve this problem?

[2018-04-09 05:49] rakibulhaq commented on #10033
i am facing the same issue, but i have installed the tensorflow without GPU using:
pip3 install --upgrade tensorflow
python version 3.6.5 64bit [amd64]
i did not install GPU version,so do i need the cuDNN ?

[2018-04-09 06:03] HandsomeHans commented on #17464
i got a same error when doing sync training in distribution environment.
Sys: Linux 14.04
TF: 1.6.0

`Exception in thread QueueRunnerThread-dummy_queue-sync_token_q_EnqueueMany:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self._

[2018-04-09 06:23] ryan-chen-luxing opened #18341 "Distributed Tensorflow stucks in multiple loss functions"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-04-09 06:32] tensorflowbutler commented on #18329
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-09 06:32] tensorflowbutler commented on #18332
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory

[2018-04-09 06:33] tensorflowbutler commented on #18333
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version

[2018-04-09 07:58] tolotrasamuel commented on #18329
------------------------

### System information

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 Pro
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: tensorflow-gpu (1.7.0).
- **Python version**:  3.5.5
- **Bazel

[2018-04-09 08:30] abdullahselek commented on #17702
I had the same issue and I figured out now it works with version `1.7.0`. It might be useful for the others:
`import tensorflow as tf`
Then define your flags with using `tf.app.flags`. When you finished defining flags do your assignment as `FLAGS = tf.app.flags.FLAGS`.

And if you need to run `tf.app.run` run on main function.

[2018-04-09 09:23] coutner opened #18342 "operation concat causes error when using toco converter"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:Y
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:16.04
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**:('v1.7.0-1116-g5d33c1e', '1.7.0')
- **Python version**: 2.7
- **Bazel version (if compiling from source

[2018-04-09 09:39] elmerastudillo commented on #10026
thanks @amanrana20, using sudo was a quick fix

[2018-04-09 09:40] johnathanachen commented on #10026
Thanks @amanrana20, using sudo was a quick fix!

[2018-04-09 10:16] kalluwa commented on #3309
Hi @cj741 @hushanxue ,  have you solved the problem? i am using win10 + vs2015 + r1.3

[2018-04-09 10:17] ddviper commented on #17628
@sascha-greiner-adam what the example gitHub URL?

[2018-04-09 10:18] moluwentu opened #18343 "iOS Demo can't run"
iOS Demo run crash in interpreter.h line 221 if (tensor_ptr->type == typeToTfLiteType<T>()) ,How can I solve this problem?

Have I written custom code : NO
OS Platform and Distribution: High Sierra 10.13.4,  iOS 11.3 on iPhoneX,iOS11.0.3 on iPhone6
TensorFlow installed from : https://github.com/tensorflow/tensorflow
TensorFlow version : 1.7.0
Exact command to reproduce  : Followed instructions at

[2018-04-09 10:47] Luonic commented on #18271
Also it would be very nice to be able to split utf-8 encoded string into multibyte characters instead of separate raw bytes to be able to implement character-level NLP completely with TF's OPs. Current solution is dirty hack: py_func that decodes string to utf-8, insert some separator (for example: "|") after each character and then this string tensor is separated by tf.string_split(input_tensor,

[2018-04-09 10:53] bhack commented on #18266
@mrry I think that there is a conceptual problem with the `train_and_evaluate`.
Mainly you control train/eval phases with `EvalSpec` (with a default throttle_secs=600) or check point in `RunConfig`.
If the dataset is quite big you cannot evaluate until the cache is done cause a new TrainSpec call will rebuild the input/dataset pipeline and you will find a lock on the cache dir.
There could be a no

[2018-04-09 11:01] baodingge commented on #15448
I'm having the same problem，I train my network always using the process:
for i in range(train_step):
    sess.run(train_op_with_next_train_batch)
    if i%100==0:
        sess.run(test_with_next_test_batch)
but, i can't do that with tf.data, .make_one_shot_iterator() can only train data one epoch, make_initializable_iterator() will restart from the begining, how to solve this problem?
I try to sol

[2018-04-09 11:24] sunriseXu commented on #8879
with tf.Graph().as_default():
        gpu_options = tf.GPUOptions(per_process_gpu_memory_fraction=gpu_memory_fraction)
        sess = tf.Session(config=tf.ConfigProto(gpu_options=gpu_options, log_device_placement=False))
        with sess.as_default():

i lower gpu_memory_fraction, and there is no problem

[2018-04-09 11:48] nikita68 commented on #17199
This error is gone with 1.7!

[2018-04-09 11:54] zhm1995 commented on #4368
Using a lower version of bazel can solve this problem (e.g bazel 0.2.2)

[2018-04-09 12:06] TBastiani opened #18345 "Using Tensorflow with RNNs & batch normalisation"
### System information
- **Have I written custom code**: Yes
- **OS Platform and Distribution**: Archlinux/Linux 4.14
- **TensorFlow installed from**: source (will segfault before [7535f6b](https://github.com/tensorflow/tensorflow/commit/7535f6beb7ba95bf54e1513b0c2c51b844a7a49f))
- **TensorFlow version**: b'unknown' 1.7.0 / latest master
- **Python version**: 3.6
- **Bazel version**: 0.11.1
- **GC

[2018-04-09 12:33] tensorflowbutler commented on #18339
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-09 12:33] tensorflowbutler commented on #18337
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-09 12:33] tensorflowbutler commented on #15096
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-09 12:33] tensorflowbutler commented on #12659
Nagging Assignee @benoitsteiner: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:33] tensorflowbutler commented on #14993
Nagging Assignee @caisq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:33] tensorflowbutler commented on #14929
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-09 12:33] tensorflowbutler commented on #14924
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:33] tensorflowbutler commented on #14772
Nagging Assignee @josh11b: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:34] tensorflowbutler commented on #14528
Nagging Assignee @tfboyd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:34] tensorflowbutler commented on #14506
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-09 12:34] tensorflowbutler commented on #14232
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-09 12:34] tensorflowbutler commented on #14012
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-04-09 12:34] tensorflowbutler commented on #14007
Nagging Assignee @akshayka: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:34] tensorflowbutler commented on #13983
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-09 12:34] tensorflowbutler commented on #13931
Nagging Assignee @prb12: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:34] tensorflowbutler commented on #13641
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-04-09 12:34] tensorflowbutler commented on #13281
Nagging Assignee @MarkDaoust: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:34] tensorflowbutler commented on #12386
Nagging Assignee @josh11b: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:34] tensorflowbutler commented on #15463
Nagging Assignee @ekelsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:34] tensorflowbutler commented on #15572
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:35] tensorflowbutler commented on #15588
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:35] tensorflowbutler commented on #15618
Nagging Assignees @case540, @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:35] tensorflowbutler commented on #15831
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:35] tensorflowbutler commented on #15978
Nagging Assignee @wolffg: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:35] tensorflowbutler commented on #16147
Nagging Assignee @zheng-xq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:35] tensorflowbutler commented on #16203
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-04-09 12:35] tensorflowbutler commented on #16261
Nagging Assignee @caisq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:35] tensorflowbutler commented on #16465
Nagging Assignee @rryan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:35] tensorflowbutler commented on #16540
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-09 12:35] tensorflowbutler commented on #16834
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:35] tensorflowbutler commented on #17397
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:35] tensorflowbutler commented on #17472
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:36] tensorflowbutler commented on #17588
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:36] tensorflowbutler commented on #8550
Nagging Assignee @andrewharp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:36] tensorflowbutler commented on #10110
Nagging Assignee @andrewharp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:36] tensorflowbutler commented on #9946
Nagging Assignee @andrewharp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:36] tensorflowbutler commented on #9638
Nagging Assignee @benoitsteiner: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:36] tensorflowbutler commented on #9260
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-04-09 12:36] tensorflowbutler commented on #8564
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:36] tensorflowbutler commented on #10370
Nagging Assignee @cwhipkey: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:36] tensorflowbutler commented on #8517
Nagging Assignee @zheng-xq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:37] tensorflowbutler commented on #7702
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-04-09 12:37] tensorflowbutler commented on #7700
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:37] tensorflowbutler commented on #6633
Nagging Assignee @protoget: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:37] tensorflowbutler commented on #5492
Nagging Assignee @benoitsteiner: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:37] tensorflowbutler commented on #4639
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:37] tensorflowbutler commented on #11806
Nagging Assignee @saeta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:37] tensorflowbutler commented on #11735
Nagging Assignee @meteorcloudy: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:37] tensorflowbutler commented on #11724
Nagging Assignee @tfboyd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:37] tensorflowbutler commented on #11569
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:37] tensorflowbutler commented on #11396
Nagging Assignee @ekelsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:37] tensorflowbutler commented on #11148
Nagging Assignee @caisq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:38] tensorflowbutler commented on #3636
Nagging Assignee @tfboyd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:38] tensorflowbutler commented on #11055
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:38] tensorflowbutler commented on #10520
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 12:38] tensorflowbutler commented on #10408
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-09 13:08] rainlei2001 commented on #16855
I ran into the same issue.

[2018-04-09 13:38] hko-gh commented on #17164
When I tried to arrange a minimal code sample, it surprisingly worked. I guess there was some issue with the self-compiled TF version we were using. Now I am getting an error message and status.ok() == false, which is the expected behavior. Thank you very much for asking for code :)

[2018-04-09 14:14] jattenberg commented on #17373
I'm getting the same error on `import tensorflow as tf`. The program says "Illegal Command" and exits. No further info.

I'm running on a ARMv6 raspberry pi, installed from `http://ci.tensorflow.org/view/Nightly/job/nightly-pi-zero/lastSuccessfulBuild/artifact/output-artifacts/tensorflow-1.7.0-cp27-none-any.whl` using the `--no-cache-dir` flag. The install went off without a hitch, but I get this

[2018-04-09 14:30] VincentLin78 commented on #18170
Have I written custom code: No
OS Platform and Distribution: Android
TensorFlow installed from: N/A
TensorFlow version: N/A
Bazel version: N/A
CUDA/cuDNN version: N/A
GPU model and memory: N/A
Exact command to reproduce: N/A

[2018-04-09 14:35] skye commented on #17199
Awesome, thanks for confirming!

[2018-04-09 14:35] #17199 closed

[2018-04-09 15:15] drvladb commented on #7841
same here

[2018-04-09 15:35] JerryZeyu commented on #18333
Ok. I have completed updating it. Thanks.

[2018-04-09 15:48] jerrin92 commented on #11859
I am facing this issue with bazel 0.11.1 on r1.7

`
tf-latest.img:~/tensorflow> bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0"
............
ERROR: Skipping '//tensorflow/tools/pip_package:build_pip_package': error loading package 'tensorflow/tools/pip_package': Encountered error while reading extension file 'cuda/build_

[2018-04-09 15:50] alextp commented on #15859
Overall it's not safe to create two writers with the same logdir. If you build from HEAD and try with different logdirs does it work?

[2018-04-09 15:57] jjahanip commented on #18187
I already checked the stackoverflow and found [this](https://stackoverflow.com/questions/37842913/tensorflow-confusion-regarding-the-adam-optimizer?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa) post explaining the concept. I am familiar with the concept. But I think there is an issue that the TensorFlow is not using the decaying learning rate. That is why I submitted th

[2018-04-09 16:11] ispirmustafa commented on #16203
@xiejw this is about adding saver listeners to TrainSpec

[2018-04-09 16:18] xingao267 commented on #17816
I just executed the same command with Tensorflow head at b874783ccdf4cc36cb3546e6b6a998cb8f3470bb. I'm still seeing the same error with Bazel 0.12.0rc2:

ERROR: /root/.cache/bazel/_bazel_root/68a62076e91007a7908bc42a32e4cff9/external/mkl_dnn/BUILD:11:1: C++ compilation of rule '@mkl_dnn//:mkl_dnn' failed (Exit 1)
In file included from external/mkl_dnn/src/cpu/jit_uni_batch_normalization.cpp:22:
ex

[2018-04-09 16:34] ispirmustafa commented on #17417
the difference seems related to tf.gather. @alextp do you know who can give us some background info here?

[2018-04-09 16:49] kr-ish commented on #18338
You're right, seems the keras implementation takes the depth_multiplier argument but does nothing with it. This seems to be true for both SeparableConv1D and SeparableConv2D. See https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/_impl/keras/layers/convolutional.py#L941-L983. I'd be happy to put in a PR fixing it but I wonder if it was left out intentionally?

[2018-04-09 16:52] alextp commented on #17417
Is this related to GPU gather setting out-of-range indices to zero ( https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/gather_functor_gpu.cu.h#L58 ) ?

[2018-04-09 16:56] gururao001 commented on #8517
Any updates guys? Having the same problem

[2018-04-09 17:09] mrry commented on #18081
Can you try running the code with the following environment variable set: `GRPC_VERBOSITY=DEBUG` and share the logs?

[2018-04-09 17:09] kr-ish commented on #18338
I think a fix would look something like this- https://github.com/kr-ish/tensorflow/commit/676778f16e6efbde5b59f753e7e85d74359d046f, but perhaps with an added test case

[2018-04-09 17:10] alberto139 opened #18351 "TF Lite Documentation and Raspberry Pi Demo Request"
Hi All,

I want to request further documentation for running TF Lite on a Raspberry Pi.
I was really impressed by the SSD demo shown by Andrew Selle during the TensorFlow Dev Summit and would love to see documentation to reimplement something like that.

At some point the tensorflow/contrib/lite/README.md stated something about a Raspberry Pi demo app coming soon, but it is no longer there. Is thi

[2018-04-09 17:11] mrry commented on #11071
I'm going to close this issue, because it seems like a workaround was found, and the eventual plan is to drop support for `tf.train.SyncReplicasOptimizer`, replacing it with a more robust implementation in `DistributionStrategy`.

[2018-04-09 17:11] #11071 closed

[2018-04-09 17:43] brianwa84 commented on #12941
I've added support for conv2d float64 in e3468b56d323783fdfb79fa2d6c24effc58bcaa9

[2018-04-09 17:45] #12941 closed

[2018-04-09 17:47] brianwa84 commented on #13097
I've just closed out #12943 with support for f64 conv2d, lmk if you have further issues.

[2018-04-09 17:47] #13097 closed

[2018-04-09 17:52] NightCrawler96 commented on #18316
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.7.0
- **Python version**: 3.6.4
- **Bazel version (if compiling from source)**: N/A
- **G

[2018-04-09 17:55] JackKZ commented on #3340
Thanks a lot Martin! That solves my problem perfectly!

[2018-04-09 18:17] matejaputic opened #18352 "Placeholder not replaced by import_graph_def input_map argument"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: I have written custom code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.6
- **Python version**: 3.5
- **Bazel version (if compiling

[2018-04-09 18:32] reedwm commented on #17164
Thank you for the update. I'll close the issue for now. Please reopen if you re-encounter the issue and are able to reproduce with a C++ code sample.

[2018-04-09 18:32] #17164 closed

[2018-04-09 18:41] glenn-jocher commented on #18343
Same issue. Followed all directions on https://www.tensorflow.org/mobile/tflite/demo_ios, build succeeds in Xcode but error at runtime as shown below. iPhone screen remains black, or with camera (no classifications) and unresponsive 'Freeze Frame' below camera.

- Xcode 9.3
- MacOS High Sierra 10.13.4
- iPhone 6s with iOS 11.3

<img width="1418" alt="screen shot 2018-04-09 at 3 35 51 pm" src="http

[2018-04-09 18:45] reedwm commented on #11859
@jerrin92 can you file a new issue? I think you are encountering a different error since you have the error message "Cuda Configuration Error".

[2018-04-09 18:53] hccheng opened #18353 "InvalidArgumentError in tensorflow reduce_sum gradient when compiling from sources (still a problem in TF 1.7)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: source, without AVX support
- **TensorFlow version (use command below)**: 1.7.0
- **Python version**: 3.5.4
- **Bazel version (if compiling from

[2018-04-09 18:57] tensorflowbutler commented on #18343
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-09 19:32] JSLBen commented on #18203
I have the same problem. I believe while TF devs upgraded to 1.7, they also added cuda 9.0 support for some of the prev versions, which lead to a backward compatibility issue. This problem should be solved easily, and quickly.

[2018-04-09 19:37] tsoernes opened #18354 "LookupError: No gradient defined for operation DepthwiseConv2dNativeBackpropFilter"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Fedora 27
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: b'v1.3.0-rc1-3011-gd86448938' 1.3.0
- **Python version**: Python 3.6.4
-Bazel version: N/A
-C

[2018-04-09 19:46] laurimi opened #18355 "Cannot return string from tf.data map function"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.6.0
- **Python version**: 2.7.12
- **Bazel version (if compiling from source)**:
-

[2018-04-09 19:52] sadlerjw opened #18356 "Failed to build for iOS using Xcode 9.3: thread-local storage is not supported for the current target"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS High Sierra 10.13.3
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.6.0
- **Python version**: 2.7.14
- **Bazel version (if compiling from source

[2018-04-09 19:53] mrry commented on #18355
@jsimsa I think this regression crept in at 82fa1e1ae5b2f8af642979fafb1cab455db1882f, which added SparseTensor support, because the new logic assumes that all return values from a map function are either `tf.Tensor` or `tf.SparseTensor`, whereas the old logic had a conversion pass. Perhaps some variant of `convert_to_tensor_or_sparse_tensor()` is needed here?

[2018-04-09 19:54] taiwotman commented on #17979
I hope this problem would be ultimately solved in the long run. Meanwhile, I have had a workaround. For the main error, which is the invalidArgumentError, I handled it in a try-catch block. This error often results from getting a wrong file format and even for a JPEG/JPG  which is derived from some corrupt file issues or converted from PDF to JPEG - so just think of it has a JPEG file that is not

[2018-04-09 20:01] #17979 closed

[2018-04-09 20:03] rishabhmalhotra opened #18357 "Bug: GPU resources not released appropriately when graph is reset & session is closed"
Have I written custom code: Forked network arch for FasterRCNN from `https://github.com/endernewton/tf-faster-rcnn`
OS Platform and Distribution: Ubuntu 16.04.4, x86_64 GNU/Linux
TensorFlow installed from:
Bazel version: 0.5.2
CUDA/cuDNN version: CUDA V8.0.61, release 8.0
GPU model and memory: `Nvidia Tesla K80`, 12 GB memory
Exact procedure to reproduce: Load `graph` and `net` in GPU memory, use

[2018-04-09 20:04] glenn-jocher commented on #18343
Have I written custom code - No
OS Platform and Distribution - MacOS High Sierra 10.13.4, iOS 11.3 on iPhone
TensorFlow installed from - git clone https://github.com/tensorflow/tensorflow
TensorFlow version - 1.7.0
Bazel version - NA
CUDA/cuDNN version - NA
GPU model and memory - NA
Exact command to reproduce - Followed instructions at  https://www.tensorflow.org/mobile/tflite/demo_ios

[2018-04-09 20:05] codexponent opened #18358 "Not a valid TensorFlow Graph serialization: NodeDef expected inputs '' do not match 1 inputs specified; Op<name=Const; signature= -> output:dtype; attr=value:tensor; attr=dtype:type>; NodeDef: dropout_1/cond/dropout/random_uniform/max = Const[dtype=DT_FLOAT, value=Tensor<type: float shape: [] values: 1>](dropout_1/cond/Switch:1)"
I used Transfer Learning to learn a set of features. So used these 3 final layers on my transfer learning task.

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 256)               6422784
_____________________________

[2018-04-09 20:11] xxiane commented on #18328
Have I written custom code: no, but i can, unless there's a reason why the model should fail to save
OS Platform and Distribution: ubuntu 17.10
TensorFlow installed from / TensorFlow version: cloned from this repo
Bazel version: idk what this is
CUDA/cuDNN version: n/a?
GPU model and memory: n/a
Exact command to reproduce: n/a

[2018-04-09 20:17] meteorcloudy commented on #17816
@xingao267 Does the problem happen with Bazel 0.11.0?

[2018-04-09 20:18] meteorcloudy commented on #17816
Is `@mkl_dnn` supposed to be used for some targets?

[2018-04-09 20:21] nushrathumaira opened #18359 "Tensorflow import error for tf.contrib.data.python.ops.threadpool(used for benchmark script)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No, I am trying to run tf_cnn_benchmarks provided by tensorflow
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Redhat linux 7.4
- **TensorFlow version (use command below)**: v1.5.0-0-g37aa430d84 1.5.0
- **GCC/Compiler version (if compiling from source)**:c++

[2018-04-09 20:26] peastman opened #18360 "Include C and C++ APIs with binary distributions"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Any
- **TensorFlow installed from (source or binary)**: see below
- **TensorFlow version (use command below)**: Any
- **Python version**:  Any
- **Bazel version (if compiling from source)**:
- **GCC/Compiler

[2018-04-09 20:29] mrry commented on #18359
The `tensorflow.contrib.data.python.ops.threadpool` module was added after TensorFlow 1.5 (in ee40d87af8e6c24e6e84ff64e4932c38d6ccfcf7), so you'll need to upgrade to TensorFlow 1.7 or later to use that particular version of the benchmarking script.

[2018-04-09 20:29] #18359 closed

[2018-04-09 21:37] XMaster96 commented on #18326
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 7 6.1.7601 Service Pack 1 Build 7601
- **TensorFlow installed from (source or binary)**: pip install
- **TensorFlow version (use command below)**: 1.7.0
- **Python version**: 3.6
- **Bazel version (if compiling from source)*

[2018-04-09 21:43] dkhmelenko opened #18361 "Android: Not a valid TensorFlow Graph serialization: Invalid GraphDef"
I have an issue with loading custom model into Android app.
I'm using `LinearClassifier` and the function `export_savedmodel()` for saving the model.
It looks like this
[code]

Then from the path, I'm getting the file `saved_model.pb` and put it into the `assets` folder of the Android app. Then I try to load the model
[code]
However, at runtime IOException is thrown:
[code]

Does anybody know what

[2018-04-09 21:46] xingao267 commented on #17816
Just tried the same command with Bazel 0.11.1, it also failed. The log is

ERROR: /root/.cache/bazel/_bazel_root/68a62076e91007a7908bc42a32e4cff9/external/mkl_dnn/BUILD:11:1: C++ compilation of rule '@mkl_dnn//:mkl_dnn' failed (Exit 1)
In file included from external/mkl_dnn/src/cpu/cpu_reorder.cpp:23:
In file included from external/mkl_dnn/src/cpu/jit_reorder.hpp:27:
In file included from external

[2018-04-09 21:50] ispirmustafa commented on #18247
Hi @zmjjmz
Could you please elaborate on use cases?

My current thinking is as follows, it may change based on your use case:

model_to_estimator recreates the same model within an estimator. Since that behavior does not need a hook or Scaffold, we should not add such an argument to model_to_estimator.

you can add hooks when you call the estimator.train(..., hooks=) or evaluate

If you need to pl

[2018-04-09 21:53] meteorcloudy commented on #17816
@xingao267 , So this isn't a regression in Bazel 0.12.0, we should fix the dependency somewhere in TensorFlow

[2018-04-09 21:56] steven200796 commented on #12071
Bump for my honors thesis XD

[2018-04-09 21:56] mahmoud-abuzaina commented on #17816
I am looking at this issue..

[2018-04-09 21:57] ncteisen commented on #17883
gRPC version was updated in [this commit](https://github.com/tensorflow/tensorflow/commit/f80486324807181614ac71367dbb9cf588aa2804#diff-455a4c7f8e22d7c514e8c2caa27506c5). I think this issue can be closed

[2018-04-09 21:58] poxvoculi commented on #18342
Passing to @andrewharp for further triage.  I can't tell who maintains these models, if anyone.

[2018-04-09 21:59] grahammorehead opened #18363 "Won't build on Ubuntu 16, CUDA 9.0"
I've tried to build TF from source, a number of times over the span of a week, each day pulling the latest TF.  I've tried gcc and I've tried clang.  With gcc it fails near the end.  If needed I'll open a separate issue for clang (the error is very different)

First I'll give configuration, then the FAIL output.

Configuration
--------------
 - bazel 0.11.1
 - python3.5 (/home/ubuntu/envs/med/lib/

[2018-04-09 22:01] grahammorehead commented on #18363
Forgot to mention:
 - AWS p3.2xlarge
 - Ubuntu 16.04.4 LTS

[code]

[2018-04-09 22:06] zmjjmz commented on #18247
Actually this is largely due to trying to use keras with Amazon SageMaker. As far as I can tell, I don't have access to the actual train call when using the SageMaker API (afaict), and as such am putting hooks in the `EstimatorSpec` initializer.

My current (broken) keras model function as such looks a bit like this:

[code]

As such I don't really have direct access to the EstimatorSpec, so I can

[2018-04-09 22:15] alberto139 commented on #18351
Have I written custom code: N/A
OS Platform and Distribution: N/A
TensorFlow installed from: master
TensorFlow version: N/A
Bazel version: N/A
CUDA/cuDNN version: N/A
GPU model and memory: N/A
Exact command to reproduce: N/A

[2018-04-09 22:25] petrosmol commented on #8904
@Lidaguo
Hard to tell what is going on without seeing code. But both labels and logits should work with unspecified shape. For instance the following code should work:

import numpy as np

BATCH_SIZE = None
NUM_CLASSES = None

logits_np = np.array([[1.2, -1.4, -1.0], [1.4, 1.8, 4.0], [0.5, 1.3, -1.0]])
labels_np = np.array([0, 2, 1], dtype=np.int32)
logits = tf.placeholder(
    tf.float32, shape=(

[2018-04-09 22:57] martinwicke commented on #18242
Thanks, this sounds good. Anybody want to take a stab at this?

[2018-04-09 23:00] grahammorehead commented on #18363
Incidentally, here's the FAIL output when using clang:

uested here
    return numext::numeric_limits<T>::quiet_NaN();
                                      ^
./tensorflow/core/kernels/reduction_ops.h:59:1: note: in instantiation of member function 'Eigen::GenericNumTraits<std::complex<float> >::quiet_NaN' requested here
FIX_MEAN_IDENTITY(complex64)
^
./tensorflow/core/kernels/reduction_ops.h:53:3

[2018-04-09 23:13] dthkao commented on #18242
I'll submit a PR

[2018-04-09 23:14] chiachunfu commented on #17881
Running into the same error message with custom SSD model.

[2018-04-09 23:28] ispirmustafa commented on #18247
Great for giving us background.
one solution, would be asking sage maker a way to define hooks if you're using estimators.

another solution is using model_fn extension as follows:
`est = model_to_estimator(...)
def new_model_fn(features, labels, mode, config):
  spec = est.model_fn(features, labels, mode, config)
  return spec._replace(...)
`
head: https://github.com/tensorflow/tensorflow/blob/ma

[2018-04-09 23:28] #18247 closed

[2018-04-10 00:10] poxvoculi commented on #18324
Here's the documentation for tuning mobile models:

https://www.tensorflow.org/mobile/optimizing

For further advice, try StackOverflow, as this forum is for bug reports.

[2018-04-10 00:12] grahammorehead commented on #18363
If I remove MPI support from the configuration, it seems to succeed.

[2018-04-10 00:31] tensorflowbutler commented on #18354
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory

[2018-04-10 00:32] tensorflowbutler commented on #18357
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-10 00:32] tensorflowbutler commented on #18358
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-10 00:34] joe-of-all-trades commented on #16239
@smit-hinsu  I'm interested in this feature, too. In my case, I'm working on medical images of very large dimensions. For CT image, it could be 512*512*512 uint16. For pathology image, it could be larger 20000*20000*3 uint8. I can certainly do some cropping and resizing, but there's a limit. Even then, the image is way too big for a model to fit in a gpu. For me, it's the question of whether I can

[2018-04-10 00:34] reedwm commented on #18353
/CC @mrry, any ideas?

[2018-04-10 00:41] jart commented on #18356
@petewarden here's an iOS build issue potentially related to a change you made.

[2018-04-10 00:46] ghostplant commented on #16239
@joe-of-all-trades This feature is only supported by NV cards that supports unified memory. Typically, Tesla P100 supports this feature, while Tesla K40c and all GTX cards doesn't.

[2018-04-10 00:51] ghostplant commented on #16239
@joe-of-all-trades So for all normal NV cards, the basic method is still to reduce the batch_size when training models.

[2018-04-10 00:54] seeiespi commented on #9090
O.M.G. lol, I had a sneaking suspicion that it was dropbox but didn't want to admit it to myself

[2018-04-10 01:05] joe-of-all-trades commented on #16239
@ghostplant  I'm using p40 so I believe think it should work ?  If I were to try, should I just follow the steps you listed in one of your previous comments that "we can just replace its underlay symbol link of cuMemAlloc_v2" ? Can you elaborate in a little more details ?  I don't quite understand how you did it.

[2018-04-10 01:09] skye commented on #18300
This should be fixed now.

[2018-04-10 01:56] Bingohong commented on #5343
maybe this was because the path usr/local/lib dont have the .so  file ,so you can cp the .so file to /usr/local/lib then ldconfig.
- sudo cp  /lusr/local/cuda-9.0/libcudart.so.9.0 /usr/local/lib
- sudo ldconfig
these steps works

[2018-04-10 02:03] ghostplant commented on #16239
@joe-of-all-trades Yes, actually this only works on Linux. The procedure is compile `main.c` to `main.out` and then `export LD_PRELOAD=/where/is/your/main.out`. Finally, execute your tensorflow application within this session.

[2018-04-10 03:13] csuestc commented on #4434
@isabel-schwende -- can you please tell me which machine translation paper. I want to see. thanks

[2018-04-10 03:32] louisquinn commented on #17881
@samikama
You can reproduce this error using any of the **Object Detection** models from here:
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md

I have not attempted TensorRT with the **Mask** models yet.

[2018-04-10 03:33] codexponent commented on #18358
System information
Have I written custom code : yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
TensorFlow installed from (source or binary): binary
TensorFlow version (use command below): 1.4.0
Python version: 2.7.13
Bazel version (if compiling from source):
GCC/Compiler version (if compiling from source):
CUDA/cuDNN version: N/A
GPU model and memory: N/A
Exact command to rep

[2018-04-10 03:52] jyu25utk commented on #18194
@Hunterwolf88  The options I can think of to address these warnings:
  1. Make sure your version is the latest master 1.7.0.
  2. Following the Bazel install guide: https://docs.bazel.build/versions/master/install-ubuntu.html
  3. Make Bazel point at com_google_protobuf by default for cc/java_proto_library rules.
Please make sure these three options.

[2018-04-10 04:08] MaeThird opened #18371 "compile tf-lite error"
I want to **cross compile** some components of **tf-lite**.So I do these:
[code]
in my **arm_build** folder the **BUILD** file is:
[code]
the **test.cc** is:
[code]
Actually I just want to compile the "context,framework and schema_fbs_version" components.
I got like this "**error: '_Float128' does not name a type**"
![a](https://user-images.githubusercontent.com/14851411/38535744-98ca9ada-3c74-11e

[2018-04-10 04:08] AliceDinh commented on #15698
Hi @ElephantHunters
I did follow your suggestion, which is:
I modified `compile 'org.tensorflow:tensorflow-android:1.2.0-preview'` by
`implementation 'org.tensorflow:tensorflow-android:1.6.0'`
I created a folder named libs and copied files in this order:
[code]
I cleaned the project, rebuilt project successfully, but it crashed on Android after a second with this error:
[code]
Please advice me in

[2018-04-10 04:14] ZexuanTHU commented on #18339
Sorry for the trouble

Have I written custom code: No
OS Platform and Distribution: macOS 10.13.3
TensorFlow installed from: Source code
TensorFlow version: r1.7
Bazel version: 0.10.0
CUDA/cuDNN version: 9.1 / 7.05
GPU model and memory: extended Nvidia GTX 1070 (8G memory)

**Following is my build process:**
Exact command to reproduce:
First,
[code]
**I disable all support options, but leave CUDA

[2018-04-10 04:26] #17882 closed

[2018-04-10 04:43] MatsumotoHiroko opened #18372 "Is Docker image tag "latest-devel-py3" Python2?"
I'd like to use Tensorflow with Python3 on Docker.
I set my Dockerfile below then build and run.

`FROM tensorflow/tensorflow:latest-devel-py3`

I entered in a shell on Docker and typed next command.

[code]

Is the image tag of "latest-devel-py3" Python2?

However, I tried to build and run using "latest-py3".
This response was,
[code]

Anyway, could anyone describe me about the difference between

[2018-04-10 05:28] eaplatanios opened #18373 "CI nightly libtensorflow stuck"
@asimshankar @alextp the nightly libtensorflow build on the CI server seems to have been stuck for a few days now due to the Mac build. Is there a way to resolve this in order to have the binaries built for the recent changes to the eager C API? I'm currently cross-compiling on my machine but that is very expensive and so this would really help! Thanks a lot! :)

[http://ci.tensorflow.org/job/nigh

[2018-04-10 05:37] YerongLi commented on #13711
Following MKL instruction here does not gives necessary libmklml_intel.so file in the library.
[https://github.com/mind/wheels#mkl](url).

Anyone knows how to follow MKL README [https://github.com/intel/mkl-dnn](url) in order to generate **libmklml_intel.so**?

[2018-04-10 06:00] VictorZuanazzi commented on #13856
Hello,

I am having the same problem:
[code]

But estimator is in tensorflow.contrib:
[code]

I am having the same problem:

import tensorflow as tf

my_optimizer= tf.train.GradientDescentOptimizer(learning_rate=0.00000001)

my_optimizer = tf.contrib.estimator.clip_gradients_by_norm(my_optimizer, 5.0)
Traceback (most recent call last):

  File "<ipython-input-36-49765c0f1466>", line 1, in <module>

[2018-04-10 06:08] frusciante commented on #17493
@bennix 哥，能求一个cc3.0的么。感谢啊。

Ignoring visible gpu device (device: 0, name: GeForce GT 750M, pci bus id: 0000:01:00.0, compute capability: 3.0) with Cuda compute capability 3.0. The minimum required Cuda capability is 3.5.

[2018-04-10 06:19] PIRANAVARUBAN opened #18374 "Feed_dict slow in Google compute engine"
_preds = sess.run(preds, feed_dict={img_placeholder: X})

while running in computer it took around 1-2 seconds while running in compute engine cost more than 50 s

[2018-04-10 06:37] mpatwary commented on #17155
Any update on this? I am seeing the same issue when tf.unique is being called repeatedly in each iteration. For me, even though the tensor is being placed in GPU, the CPU memory keeps increasing and blows the memory at some point. I was using py3.6 and tf-1.4.0

[2018-04-10 06:39] tensorflowbutler commented on #18361
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-10 06:43] nickwhsu opened #18375 "Using tensorflow lite invoke inference with multiple input tensors and specifying input node?"
**System information**
Have I written custom code: Yes
OS Platform and Distribution: Ubuntu  16.04
TensorFlow installed from: source:Yes
TensorFlow version: 1.7.0
Python version: 3.6
Bazel version: 0.11.1
GCC/Compiler version: N/A
CUDA/cuDNN version: N/A
GPU model and memory: N/A

**Describe the problem**

I converted my tflite model foo.tflite with multiple input arrays flag , I got two inputs (d

[2018-04-10 07:03] FlashTek commented on #18193
I've just tested the example code from the documentation (see my initial post) again with the commit e606e9133e96caf00d60e2ac0eb3f308fd0a4758. I fear that this has not fixed the issue, as I now get this output:

Traceback (most recent call last):
  File "/root/anaconda3/lib/python3.6/site-packages/tensorflow/python/client/session.py", line 1330, in _do_call
    return fn(*args)
  File "/root/anaco

[2018-04-10 07:10] mpeniak commented on #15633
@zhangbo0325 Thanks for the details. Since the squeeze is not supported by the NNAPI, does that mean that the NNAPI is not used at all and inference will remain as slow as it is? As I mentioned in the earlier comment, I get really poor performance on Pixel XL. I would expect inference times somewhere around 80-120ms. Thanks!

[2018-04-10 07:13] asimshankar commented on #18373
I restarted that job, but I believe the nightly jobs are in the process of being migrated away from this Jenkins instance? I could be wrong (there seem to be no online Mac slaves).

@av8ramit @case540 would know better.

[2018-04-10 07:35] Corentin-pro commented on #15062
@petewarden I have the same issue, I guess my platforms is not supported too.

Where can I find the supported platform list?

[2018-04-10 08:05] AndRossi opened #18376 "Tensorflow MNIST Estimator: does the training batch size affect the graph expected input?"
Hello Tensorflow team,

First of all let me thank you for your amazing job. Tensorflow is one of the greatest Deep Learning frameworks out there.

I am opening this issue because I am experiencing  something weird after following the MNIST tutorial with the new Estimator high level interface.
The training and evaluation worked fine, but visualizing the model graph on Tensorboard there is something

[2018-04-10 08:12] Rick-McCoy opened #18377 "tf.layers.conv3d_transpose with channels_first flips the last two dimensions of the gradient"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: pip3 install --upgrade tf-nightly-gpu
- **TensorFlow version (use command below)**: 1.8.0-dev20180329
- **Python version**: 3.6.4
- **Bazel versi

[2018-04-10 08:37] isabel-schwende commented on #4434
There's a section in this paper from 2016 on how they used 8-bit quantization for machine translation https://arxiv.org/abs/1609.08144

[2018-04-10 09:12] VictorQi commented on #18343
Same issue.

Have I written custom code - No
OS Platform and Distribution - MacOS High Sierra 10.13.0, iOS 11.0.1 on iPhone 6s
TensorFlow installed from - git clone https://github.com/tensorflow/tensorflow
TensorFlow version - 1.7.0
Bazel version - NA
CUDA/cuDNN version - NA
GPU model and memory - NA
Exact command to reproduce - Followed instructions at https://github.com/tensorflow/tensorflow/blo

[2018-04-10 09:14] exitNA commented on #17736
I have the same problem, anyone who can help this?

[2018-04-10 10:04] yrwy commented on #17493
楼上的用低版本吧

3.0 不再被支持了 官方不再支持

[2018-04-10 10:40] araleqiu commented on #18039
Hello, have you solved your problem? I have the same problem.

[2018-04-10 10:55] ZexuanTHU commented on #18339
**UPDATE**
**Add some WARNINGS showed when the build start**
[code]

**It seems like that these WARNINGS have relationships with the ERROR that cause the build failed. But I can not figure out why and how to fix it.**

[2018-04-10 11:32] ianholing commented on #17501
Is there a timing for add "TransposeConv" to the TFLITE compatible operations? I have the same problem exporting my model to tflite.

[2018-04-10 11:46] liyancas opened #18379 "issues in the tflite_camera_example on IOS"
------------------------

### System information
- **Xcode 9.3 and Mac OS is 10.13.4  **:
- **TensorFlow r1.2**:
- **iPhone 7 plus**:

### Describe the problem
NSString* graph_path = FilePathForResourceName(model_file_name, @"tflite");
  model = **tflite::FlatBufferModel::BuildFromFile**([graph_path UTF8String]);
  if (!model) {
    LOG(FATAL) << "Failed to mmap model " << graph_path;
  }
  LOG(IN

[2018-04-10 11:50] DAHEECHOI1208 commented on #14273
@SteffenNa Thank you :)

[2018-04-10 12:29] Overdrivr opened #18380 "TF does not seem to map all available VRAM in multi-gpu config"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.7.0-3-g024aecf414 1.7.0
- **Python version**: 3.5.2
- **Bazel version (if compiling from

[2018-04-10 12:32] tensorflowbutler commented on #18372
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-10 12:32] tensorflowbutler commented on #18371
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-10 12:32] tensorflowbutler commented on #16623
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:32] tensorflowbutler commented on #14675
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:32] tensorflowbutler commented on #16545
Nagging Assignee @tatianashp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:32] tensorflowbutler commented on #16526
Nagging Assignees @case540, @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:32] tensorflowbutler commented on #16493
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:32] tensorflowbutler commented on #16381
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:32] tensorflowbutler commented on #16311
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:33] tensorflowbutler commented on #16139
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:33] tensorflowbutler commented on #16115
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:33] tensorflowbutler commented on #16032
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:33] tensorflowbutler commented on #16025
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:33] tensorflowbutler commented on #16023
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:33] tensorflowbutler commented on #15915
Nagging Assignee @tatianashp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:33] tensorflowbutler commented on #15804
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-10 12:33] tensorflowbutler commented on #15688
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:33] tensorflowbutler commented on #15651
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:33] tensorflowbutler commented on #15621
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:33] tensorflowbutler commented on #15530
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:33] tensorflowbutler commented on #15352
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:34] tensorflowbutler commented on #14950
Nagging Assignee @tatianashp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:34] tensorflowbutler commented on #14669
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:34] tensorflowbutler commented on #17540
Nagging Assignee @andrehentz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:34] tensorflowbutler commented on #17993
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-10 12:34] tensorflowbutler commented on #17981
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-10 12:34] tensorflowbutler commented on #17980
Nagging Assignee @zhangyaobit: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:34] tensorflowbutler commented on #17944
Nagging Assignee @andrewharp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:35] tensorflowbutler commented on #16771
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:35] tensorflowbutler commented on #17487
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-10 12:35] tensorflowbutler commented on #17273
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:35] tensorflowbutler commented on #17092
Nagging Assignee @tatianashp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:35] tensorflowbutler commented on #17047
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:35] tensorflowbutler commented on #17009
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-10 12:35] tensorflowbutler commented on #16979
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:35] tensorflowbutler commented on #16965
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:35] tensorflowbutler commented on #16935
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:36] tensorflowbutler commented on #12587
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:36] tensorflowbutler commented on #12523
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:36] tensorflowbutler commented on #12121
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:36] tensorflowbutler commented on #12022
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:36] tensorflowbutler commented on #11695
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:36] tensorflowbutler commented on #11447
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:36] tensorflowbutler commented on #12753
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:36] tensorflowbutler commented on #11247
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:37] tensorflowbutler commented on #10703
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:37] tensorflowbutler commented on #10338
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:37] tensorflowbutler commented on #8745
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:37] tensorflowbutler commented on #14626
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:37] tensorflowbutler commented on #14625
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:38] tensorflowbutler commented on #14535
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:38] tensorflowbutler commented on #14291
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:38] tensorflowbutler commented on #14144
Nagging Assignee @tatianashp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:38] tensorflowbutler commented on #14132
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:38] tensorflowbutler commented on #3628
Nagging Assignees @petewarden, @suharshs: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:38] tensorflowbutler commented on #14014
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:39] tensorflowbutler commented on #13980
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:39] tensorflowbutler commented on #13718
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:39] tensorflowbutler commented on #13308
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:39] tensorflowbutler commented on #13206
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-10 12:55] matejaputic commented on #18352
Update on this, I realized that 'batch' in the graph that I'm importing has control inputs that are not being mapped with `input_map`. Relevant issue may be [here](https://github.com/tensorflow/tensorflow/issues/7508).

The `batch` port has two tensor outputs and three control dependencies. The tensor inputs are mapped correctly but the control dependencies are left dangling. How do I map these?

[2018-04-10 13:01] ElephantHunters commented on #15698
hi @AliceDinh ,thanks for reaching me out
for this tensorflow for poet2: optimize for mobile tutorial I didn't created a folder named libs and copied files in this order:

libs
-libtensorflow_demo.so
-libtensorflow_inference.so
-libandroid_tensorflow_inference_java.jar

because it was not required at all. As per the direction given in the tutorial I only made changes in ClassifierActivity.java fil

[2018-04-10 13:02] #10703 closed

[2018-04-10 13:30] kaspermarstal commented on #15913
@rmlarsen?

[2018-04-10 13:48] #17993 closed

[2018-04-10 13:49] purpledog commented on #17993
fixed in the master branch

[2018-04-10 13:51] matejaputic commented on #18352
According to [this comment](https://github.com/tensorflow/tensorflow/issues/7508#issuecomment-363964163), there is a way to map control inputs using the `c_api` module.

I have tried:

    scoped_options = c_api_util.ScopedTFImportGraphDefOptions()
    options = scoped_options.options

    tf.import_graph_def(quantized_graph_def,
        input_map={'batch': images},
        name='')
    c_api.TF_I

[2018-04-10 13:53] Lexicographical commented on #17790
Hello! I'm not really sure but I was able to run Tensorflow applications normally despite commenting out that line so it doesn't seem to be a problem.

[2018-04-10 14:03] Overdrivr commented on #18380
Here a simple program that allocates a large tensor filled with zeros:

[code]

Generating `1200` or `1300` zeros works ok

[code]

But as soon as I go over 1300 the allocation fails:

[code]

In fact, it seems that the allocator is not even able to allocate half of available memory for a single GPU. Is there a maximum limit for single memory allocations ?

[2018-04-10 14:25] poxvoculi commented on #17076
I agree that this is a good feature request, i.e. there should be a guide to memory use debugging in TF, especially GPU memory use since there are some non-obvious tricks going on.   Eventually someone from TF will probably get around to doing it, but probably not soon, so I'm going to mark it contributions welcome.  @geogh I see that you made some progress in the other thread, using @yaroslavvb '

[2018-04-10 14:27] #15638 closed

[2018-04-10 14:47] hydrogenpi opened #18382 "where can I find people to help with tensorflow for windows?"
I'm on server 2016, Windows 10 LTSB

I cannot get tensorflow to work with a tf/python open source project I have interested in.

Is there somewhere I can find help like someone good at tensorflow on Windows to remote in or use teamviewer to walk me through step by step to show me how to do a net2net and start a training (supervised training, not reinforced training) just in order to show me how to

[2018-04-10 14:51] ikizhvatov commented on #16898
Thanks Wei @wei-v-wang for looking into it. With the commit you specified ([abccb5d](https://github.com/tensorflow/tensorflow/commit/abccb5d3cb45da0d8703b526776883df2f575c87)), I still observe the problem.

However, a very recent commit I tried ([dfbacef](https://github.com/tensorflow/tensorflow/commit/dfbacef32d1fdafe71caad4c99ce8c4b648e6397)) does not have the problem any more. The speedup achie

[2018-04-10 14:52] Overdrivr commented on #13591
@reedwm In which commit was this fixed ? I'm still noticing weird behavior regarding allocation. For instance, it's impossible to allocate a tensor filled with zeros that's above half the total GPU memory. I have a GPU with 12GB of vram yet I can't allocate more than ~5.5GB. Does not make any sense.

See https://github.com/tensorflow/tensorflow/issues/18380#issuecomment-380110126

[2018-04-10 14:59] fatmausta commented on #16004
Hello,
I have the same error:
My Python crushes when it gets to the first convolutional layer, I tried making the model simpler, still crushes.

This is the output and error:

Do I need to update my cudnn? On  tensorflow webiste, it seems cudnn 6 still works with tensorflow-gpu 1.7

TensorFlow 1.7 may be the last time we support cuDNN versions below 6.0.
Starting with TensorFlow 1.8 release, 6.0 w

[2018-04-10 15:00] mrry commented on #18353
Well, it looks like something is trying to make a shape of rank `0 - 2`. Since our binaries don't crash in the same way, we'll need some help to track down the problem. Can you try running the script with the environment variable `TF_CPP_MIN_VLOG_LEVEL=1` set, and post the log that results? That should tell us what op failed.

[2018-04-10 15:07] sjsy commented on #15604
With cuda 8 and 9.0 installed, setting `LD_LIBRARY_PATH` in `.bashrc` and `.profile` not work. So, I set
`LD_LIBRARY_PATH=/usr/local/cuda-9.0/lib64` in pycharm Environment variable field and it works.

[2018-04-10 15:16] javidcf opened #18383 "Feature Request: Slice replacement operation"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: b'unknown' 1.4.0
- **Python version**: 3.6.3 Anaconda
- **Bazel version (if compiling from so

[2018-04-10 15:27] ydp commented on #10669
@July-Morning  Hi, I see you finally solved the problem, the reason is variable batch size. how did you solve this in your production environment? Do you mean  the batch size of training and evaluation has to be the same? But in my situation, we often train in large batch size like 4096, but inference with small batch like 20, thus I would be definitely suffer from this problem, is this the situat

[2018-04-10 15:30] jrbrearley opened #18384 "tf.decode_csv New Feature Request option to remove leading/trailing whitespace on text fields"
tf.decode_csv currently allows leading and trailing spaces with int or float fields and quietly strips the whitespace off, see: https://www.tensorflow.org/api_docs/python/tf/decode_csv

It would be really nice if the text fields could also have the leading/trailing whitespace stripped off. The embedded whitespace in a text field or sentence does need to be left intact, although it might be useful

[2018-04-10 15:37] hccheng commented on #18353
Please find the result in the link below. Thanks.
[result.txt](https://github.com/tensorflow/tensorflow/files/1895252/result.txt)

[2018-04-10 15:56] mrry commented on #18353
That seems to be a different failure (a Python `InvalidArgumentError` exception) than the one you described in the initial issue (a fatal error, leading to a process crash). Can you reproduce the process crash version with that environment variable set as well?

[2018-04-10 15:56] ispirmustafa commented on #17487
Hi @sami93
I've checked your code again. You can fix this problem by using regular tensor instead of sparse tensor. categorical column should work with that. So you will replace following line:

[code]
with following:
[code]
Having said that I recommend using `pandas_input_fn`.
Closing this now. Please re-open it if it doesn't work.

[2018-04-10 15:56] #17487 closed

[2018-04-10 15:58] ispirmustafa commented on #17952
We decided not to support partial hook run since it will complicate the usage.
You may find `MonitoredSession.run_step_fn` useful. It let's you run with or without hooks since you access the raw session.

[2018-04-10 15:58] #17952 closed

[2018-04-10 16:06] yongtang commented on #18384
Instead of an option in decode_csv, maybe we could add an 'string_strip' op so that it could be used in some other places as well?

[2018-04-10 16:11] glenn-jocher commented on #18379
This is a duplicate of issue #18343

[2018-04-10 16:14] hccheng commented on #18353
Yes. It is kind of random actually; sometimes it's the InvalidArgumentError and sometimes it's the "ndims_byte() < MaxDimensions()" check fail. Please find the log below for the "ndims_byte() < MaxDimensions()":
[result_2.log](https://github.com/tensorflow/tensorflow/files/1895426/result_2.log)

[2018-04-10 16:48] Carmezim commented on #18382
Hi @hydrogenpi, for instructions on how to install TF on Windows please follow the [installation docs](https://www.tensorflow.org/install/install_windows), you will find all the information necessary to successfully install it.

[2018-04-10 16:50] limitless4 commented on #16862
I have installed tensorflow from source and trying to build speech recognition model given as an example but facing quite similar issue. I tried @asimshankar's solution but getting same error. Kindly have a look:

bazel run tensorflow/examples/speech_commands:generate_streaming_test_wav
.....................................................................
WARNING: /root/.cache/bazel/_bazel_root/34

[2018-04-10 16:56] Carmezim commented on #18374
Hi @PIRANAVARUBAN, please fill the issue template including an example to reproduce the issue or else we won't be able to properly help you. Thanks!

[2018-04-10 16:56] MarkDaoust commented on #11247
Hi thanks for the bug report.

This is a tensorboard problem, and should be moved to that repo (now that it has it's own repo).

A quick search shows that this has been reported there:

tensorflow/tensorboard#911
tensorflow/tensorboard#835

So I'm closing this as duplicate.

[2018-04-10 16:56] #11247 closed

[2018-04-10 17:30] yongtang commented on #18372
Python 3 was added to Dockerfile in #6030. I noticed that compared with `Dockerfile`, the `Dockerfile.devel` does not have
[code]
That is the reason `python --version` output difference. (python 2 in latest-devel-py3 and python 3 in latest-py3)

I don't know if that was intentional in #6030, though.

[2018-04-10 17:30] mrry commented on #18353
It looks like the DynamicStitch op is giving an incorrect output in some cases. Can you replace the last part of the program with the following and let us know what the three values are when it crashes?

[code]

[2018-04-10 17:31] dmoham1476 commented on #17220
Hi Richard, this really helped, thanks

[2018-04-10 17:32] mrry commented on #18266
/cc @isaprykin for suggestions about how to use `train_and_evaluate()`.

[2018-04-10 17:33] jrbrearley commented on #18384
Sounds good. Another place that this would apply is: tf.data.TextLineDataset

[2018-04-10 17:34] #17641 closed

[2018-04-10 18:07] VictorZuanazzi commented on #13856
Problem solved.

There was an environment issue, tensorflow was running in its own environment and not at base, at anaconda. A friend reinstalled a few packages at the base environment and deleted the tensorflow environmnet. I can't really say what he did, we had several trials before figuring out the problem and what to do.

[2018-04-10 18:12] javadnoorb commented on #13856
Good to hear that.

[2018-04-10 18:12] aselle commented on #17984
@guohengkai, it's difficult to help you without a reproducible test case. Could you provide one?

[2018-04-10 18:17] aselle commented on #10747
@reedwm, are you still looking at padding strategies in tf?

[2018-04-10 18:18] aselle commented on #4639
Nobody is working on it, and I will likely not be able to in the near term. Marking as contributions welcome.

[2018-04-10 18:28] reedwm commented on #13591
This was fixed in 9fe7c29605a5ee1519cceba8e67a6d8413444fac.

[2018-04-10 18:29] reedwm commented on #18380
@jlebar, can you take a look?

[2018-04-10 18:31] bhack commented on #18193
@qlzh727 When this will be fixed I think that a point (1.7.1) release is required.

[2018-04-10 18:32] aselle commented on #17033
This is a duplicate of  #2175
Solution there... i.e.
At start of your code:
[code]
Closing for now. Thanks!

[2018-04-10 18:32] #17033 closed

[2018-04-10 18:36] aselle commented on #17223
It seems like if TF Java was built with CUDA support it should allow running on GPU. @asimshankar  for  verification. Also, you may find that for inference, just running on CPU is fast, especially if you are doing small batches, the latency for pipeline synch in gpu may not be worth it.

[2018-04-10 18:38] aselle commented on #17880
This seems to be resolved with another PR see:
https://github.com/tensorflow/tensorflow/blob/049dfd5e070cfa84c82eea71c6c746a70cba4a3f/tensorflow/contrib/lite/java/src/main/java/org/tensorflow/lite/Interpreter.java#L207

Please close if this is done to your satisfaction. Thanks!

[2018-04-10 18:39] qlzh727 commented on #18193
Reopen the issue and wait for further comments from @yifeif yifeif

[2018-04-10 18:41] av8ramit commented on #18382
@hydrogenpi, @Carmezim said it best. You can also refer to our [tested source configurations](https://www.tensorflow.org/install/install_sources#tested_source_configurations) table if you want to install from source with certain packages as well. Good luck!

[2018-04-10 18:41] #18382 closed

[2018-04-10 18:42] av8ramit commented on #18373
Thanks for filing @eaplatanios. I'm working right now to take care of this.

[2018-04-10 18:43] aselle commented on #18080
@nfiedel, is there a better solution using saved model?

[2018-04-10 18:44] aselle commented on #17994
Unfortunately, this seems to work as expected. Memory is finite. Closing for now.

[2018-04-10 18:44] #17994 closed

[2018-04-10 18:51] jlebar commented on #18380
Hi, Reed.

I work on XLA.  Is this somehow related to that?

[2018-04-10 18:55] asimshankar commented on #17223
@Bahramudin : GPU on Windows isn't packaged yet (see #16660), but as @aselle said, we do support it it for Linux.

@szaza : To use GPU on Linux, your dependencies should look [like this](https://docs.google.com/presentation/d/e/2PACX-1vQ6DzxNTBrJo7K5P8t5_rBRGnyJoPUPBVOJR4ooHCwi4TlBFnIriFmI719rDNpcQzojqsV58aUqmBBx/pub?start=false&loop=false&delayms=3000&slide=id.g306175dd89_0_41). From a cursory lo

[2018-04-10 18:55] #17223 closed

[2018-04-10 19:09] rryan commented on #10749
@Rassibassi, I'm working on adding complex128 support to the FFT ops, and I ran your code snippet on CPU with the new complex128 support. It looks like a good bit of the difference comes down to floating point precision, but there is still a difference between our Eigen CPU kernels and NumPy's FFTPACK-based implementation:

[code]

[2018-04-10 19:09] tensorflowbutler commented on #18375
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Exact command to reproduce

[2018-04-10 19:32] reedwm commented on #10747
Not really, but @yzhwang recently fixed a padding bug. I'm going to assume the issue is fixed since that was the only known padding bug; @amnonh-uw, please reopen if that's not the case in 1.7.

[2018-04-10 19:32] #10747 closed

[2018-04-10 19:35] reedwm commented on #18380
No. I only assigned to your because you authored 9fe7c29605a5ee1519cceba8e67a6d8413444fac. But I can take a look instead.

[2018-04-10 19:41] rryan commented on #10749
@Sushobhan04, running your code snippet using complex128 FFTs the error is `1.57009245868e-16`. Under complex64 the error is `5.1619136559e-08`.

[2018-04-10 19:51] wei-v-wang commented on #17273
Eigen community included our fix for sqrt in the following commit https://mirror.bazel.build/bitbucket.org/eigen/eigen/get/87636bcbdf12.tar.gz

We have created and are testing a PR to tensorflow to use the above Eigen to fix avx512 sqrt/rsqrt issue.

[2018-04-10 20:06] ahundt commented on #15214
It looks like this error has been reproduced at https://github.com/melodyguan/enas/issues/4

[2018-04-10 20:08] sadlerjw commented on #18356
I changed `-D__thread=thread_local \` to `-D__thread= \` in tensorflow/contrib/makefile/Makefile (for the `i386` architecture only) and that's an okay workaround for now. It (probably) re-introduces the problem that #12573 solved for that architecture, but at least for my use that's acceptable until this gets a proper solution.

[2018-04-10 20:08] pwnmactep opened #18393 "label_image.py Example: Show ONLY results Higher than 75 % ?"
Hello,

can Sombody please explain how to change `label_image.py` from the [Example Codes](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/label_image/label_image.py)
so its only Shows the Result (Name,Score) if the Score is Higher than 75 % , else  print ".... "

Would be very Helpfull.

[2018-04-10 20:26] ankitvgupta opened #18394 "Feature Request: Early Stopping with the tf.estimator"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-04-10 20:28] ankitvgupta commented on #17650
+1 for this as well. It would be good to have true feature-parity with the Experiment API.

[2018-04-10 20:41] dkhmelenko commented on #18361
Sure, sorry for incomplete data. Here they are:
OS Platform and Distribution: Windows 10
TensorFlow installed from Anaconda
TensorFlow version: 1.4.0
Bazel version: N/A
CUDA/cuDNN version: N/A
GPU model and memory: N/A
Exact command to reproduce: Described in the first comment

[2018-04-10 21:03] skycoop commented on #17650
I'd really like to submit a PR for this since people are clearly interested, but I would still like clarification from the team on which solution should be used. @rohan100jain, any chance you could look at this?

[2018-04-10 21:04] znmeb commented on #22
@wesamco No, it isn't necessarily in Google's interest. They make their own hardware - something called a "TensorBoard", IIRC. They can bypass OpenCL and CUDA / CUDnn and make the board run raw TensorFlow code.

[2018-04-10 21:13] VanitarNordic commented on #18323
Why nobody considers this?  :-(

[2018-04-10 21:14] sabi0 commented on #17534
@Derekkk
Only x86_64 TensorFlow native library binaries are uploaded to Maven. (See `libtensorflow_jni` artifact)
So need 64-bit (x86_64) version of JVM to run TensorFlow. Not 32-bit (x86).
If that is not possible you could try compiling your own 32-bit TensorFlow binary for Windows.

[2018-04-10 21:44] sabi0 opened #18397 "Java wrapper floods temp dir with copies of extracted native library"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 7 x64
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.5.0
- **Python version**: N/A
- **Bazel version (if compiling from source)**: N/A
- **GC

[2018-04-10 21:48] kpayson64 commented on #18152
@apolcyn
@nicolasnoble

[2018-04-10 22:24] sirgogo commented on #10749
@rryan Thanks, this sounds promising.

One thing I was wondering (perhaps unrelated to this issue), is some of us are seeing different results on TF-CPU vs TF-GPU computation, even for networks with only simple operations like Add, Multiply, MatMul, reduce_sum, reduce_max, etc. I need to come up with a good set of tests to expose this, but do you have any insight on why this might be the case?

[2018-04-10 22:25] calledbymountains opened #18400 "Using boosted trees without an estimator"
Have I written custom code : NO
OS Platform and Distribution : CentOS
TensorFlow installed from : Sources
TensorFlow version : r1.8
Bazel version : 0.11
CUDA/cuDNN version : 9.1/7.0
GPU model and memory : GTX 1080 Ti
Exact command to reproduce : N/A

At the moment is it  possible to use the TensorFlow implementation of boosted trees without invoking the concept of an Estimator ?
[Examples](https:/

[2018-04-10 22:30] mahmoud-abuzaina commented on #17816
@xingao267 can you test again with this PR #18401 ?

[2018-04-10 22:39] michaelisard commented on #7108
Closing due to lack of activity, but please reopen if there's some followup needed.

[2018-04-10 22:39] #7108 closed

[2018-04-10 22:40] samikama opened #18402 "DnnSupport::GetVersion() is failing with 'too perfect fowarding' issue with gcc-6"
A similar issue was #16309
newly added DnnSupport::GetVersion() call is causing gcc-6 compilation to fail. Using a structure instead of a tuple could workaround the issue.

[2018-04-10 22:40] michaelisard commented on #13187
Closing due to lack of activity but please reopen if there's new information.

[2018-04-10 22:40] #13187 closed

[2018-04-10 22:42] samikama commented on #18402
Hi, @jlebar
GetVersion() calls seem to be added recently and causing issues with gcc6+. Are there any possibilities to replace tuple with a struct?

Thanks

[2018-04-10 22:42] npeirson commented on #13044
Interesting, I've just bumped into this as well... fully jpg converted dataset. Will update if I resolve.

[2018-04-10 22:43] michaelisard commented on #14857
Closing since the discussion seems to have successfully moved to stackoverflow.

[2018-04-10 22:43] #14857 closed

[2018-04-10 22:44] #15267 closed

[2018-04-10 22:44] michaelisard commented on #15438
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-10 22:44] #15438 closed

[2018-04-10 22:45] #15693 closed

[2018-04-10 22:47] michaelisard commented on #16110
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-10 22:47] #16110 closed

[2018-04-10 22:48] VinceKumar commented on #13044
I wasn't able to figure out to fix it, but my way around it was to convert my images/annotations to this format and use this [script](https://github.com/EdjeElectronics/TensorFlow-Object-Detection-API-Tutorial-Train-Multiple-Objects-Windows-10/blob/master/generate_tfrecord.py)

[2018-04-10 22:49] apolcyn commented on #18152
I'm wondering if this is an upstream issue in [grpc](https://github.com/grpc/grpc/tree/master/third_party/address_sorting).

@fat-tire do you have command lines to reproduce?

[2018-04-10 23:01] numericlee commented on #9294
Thanks to @kevinashaw for pointing out this problem.
As far as I can see @MarkDaoust @drpngx
 the tutorial code posted here and at [TF site](https://www.tensorflow.org/tutorials/recurrent) still has the same errors after nearly 12 months

I did try making some of the modifications suggested above, they don't appear to solve the issue

[code]
Is there another RNN tutorial anyone can recommend?

[2018-04-10 23:05] jlebar commented on #18402
Hi, thanks for letting me know that you're hitting this problem.

I would like to understand what is the minimal change we can make to address this problem you're experiencing, so as to minimize the amount of defensive coding we have to do in TF around a compiler that is not used in any of our CI bots.  It's not clear to me that converting every tuple used inside of a StatusOr into a struct is the

[2018-04-10 23:08] numericlee opened #18405 "Reopening #9294 error in RNN tutorial"
Thanks to @kevinashaw for pointing out [various](https://github.com/tensorflow/tensorflow/issues/9294) problems with the RNN tensorflow tutorial

Although the issue was closed, as far as I can see @MarkDaoust @drpngx @ebrevdo @martinwicke
the tutorial code posted here and at TF site still has the same errors after nearly 12 months

I did try making some of the modifications suggested in the thread

[2018-04-10 23:11] jlebar commented on #18402
And by that, I mean XLA's StatusOr.  TF doesn't like StatusOr.

[2018-04-10 23:17] mrry commented on #15920
Marking as contributions welcome, since the CMake build is community supported.

[2018-04-10 23:24] michaelisard commented on #17429
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-10 23:24] #17429 closed

[2018-04-10 23:25] michaelisard commented on #18236
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-10 23:25] #18236 closed

[2018-04-10 23:26] michaelisard commented on #17534
@Derekkk does that solve your problem?

[2018-04-10 23:52] samikama commented on #18402
@jlebar I tried your first suggestion, issue is the same.
I also tried using `return port::StatusOr<std::tuple<int,int,int>>(port::UnimplementedError(
        "DnnSupport::GetVersion not implemented on this platform."))` and it didn't change the result.

[StackOverflow](https://stackoverflow.com/questions/44475317/variadic-template-issue) and [Andrzej's blog](https://akrzemi1.wordpress.com/2013/10

[2018-04-10 23:54] chiachunfu opened #18408 "Unable to write an event file for TF-TRT model"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.7.0
- **Python version**: 2.7
- **Bazel version (if compiling from source)**: 0.11.

[2018-04-10 23:58] michaelisard commented on #16755
Closing due to lack of activity but please reopen if you believe there is a bug.

[2018-04-10 23:58] #16755 closed

[2018-04-10 23:59] michaelisard commented on #17817
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-10 23:59] #17817 closed

[2018-04-11 00:02] michaelisard commented on #18117
In general it is expected that the first call to session.run may take longer than subsequent calls. I'm closing since 1/3s seems in a more reasonable range than 10s, but please reopen if you think there is a bug to look into.

[2018-04-11 00:02] #18117 closed

[2018-04-11 00:07] michaelisard commented on #17369
Closing because the issue seems understood, but please reopen if you think there's something we should change.

[2018-04-11 00:07] #17369 closed

[2018-04-11 00:08] jlebar commented on #18402
It sounds like you just want this fixed.

On my end, I really do not want to convert this tuple into a struct if there are alternatives.  I would much rather look into structural fixes, so we don't have to waste time on this problem in the future.

I'm hopeful that it may be possible to fix xla::StatusOr so it doesn't have this problem.  If you can't come up with a fix there, I will consult with t

[2018-04-11 00:17] samikama commented on #18402
Yes, we are adding new features to TF and usually need to work on master. There are a few changes that went in recently that is fixing other issues. I can branch from before your changes and cherry-pick the fixes but that may cause bigger headaches when we merge back. If it takes you a long time to fix this, I might have to do this anyways. But I don't think the issue is StatusOr, it is template t

[2018-04-11 00:39] jlebar commented on #18402
I have not yet fully digested these blog posts, but the StreamExecutor StatusOr has known problems (read: undefined behavior) with std::is_constructible, which I see appearing in these errors.  There's tons of complexity in xla::StatusOr to avoid this fail.

If you're willing, it would be great if you could test whether this happens with xla::StatusOr, and even better if you could produce a minima

[2018-04-11 00:53] tensorflowbutler commented on #18383
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-11 00:57] easyfly007 commented on #13963
I also meet this issue, tensorflow /keras (with tensorflow backend) abort if I import some module before. (some internal module).

so I move import tensorflow and keras to the very begining then the issue disappeared.

[2018-04-11 01:05] asimshankar commented on #18379
Thanks @glenn-jocher - closing this since it is a duplicate.

[2018-04-11 01:05] #18379 closed

[2018-04-11 01:35] AliceDinh commented on #15698
@ElephantHunters
Thanks for your response. I confirm that the project is working after I followed your solution and the error I posted above relating to `INPUT_SIZE` which by accidentally I changed to `299` in stead of `224`.

[2018-04-11 01:45] Bahramudin commented on #17223
@asimshankar OK, the question almost has been answered, we hope the TensorFlow support GPU for Java on windows platform. And also I think the API for using the trained model in Java a much complex to use, I think it can be better to divide the usage into steps, like 1. load 2. calling the API for recognition 3. release resources. But now when loading we must do a lot of work, and also when doing r

[2018-04-11 01:57] yongtang commented on #17387
Added a PR #18410 for `scanr` support.

[2018-04-11 02:13] allenlavoie commented on #13963
This isn't a TensorFlow issue. Import order can work around other libraries exporting conflicting symbols, or RTLD_DEEPBIND can let TF ignore them. Closing this to keep the tracker focused on actionable issues.

[2018-04-11 02:13] #13963 closed

[2018-04-11 02:45] samhodge commented on #4085
OK I have an example of this problem, I have one machine I can run on the internet, and then I have another machine behind the firewall with no internet access where I can build

can I run "bazel fetch **" where everything possible gets pulled down and then go to the other machine and build

stopping and pulling one more package is wasting me hours of time.

[2018-04-11 02:56] rightaditya commented on #15985
@selcouthlyBlue I am using an implementation very much like @pozhijisi. I need this functionality for something unrelated to CTCs (namely, tf.edit_distance). I think it makes sense for the function to use either `eos_token` or `sequence_lengths` (or even a mask directly, as that is what I actually have).

[2018-04-11 02:57] erolrecep commented on #15656
@hitvoice  Which version of tensorflow did you build from source? Also, which operating system do you use?

[2018-04-11 03:03] daniel347x commented on #12579
I appreciate the efforts of folks on this.  Just mentioning that we are dropping SyntaxNet and just going with spaCy in our project because SyntaxNet is essentially unbuildable without non-trivial effort from what is currently in GitHub.  This issue is just one example.  Alas!

[2018-04-11 03:14] xiejw commented on #18266
If I understand the problem correctly, user defines the dataset with cache(filename). For this input_fn, as the input_fn is invoked multiple times, train_and_evalaute will error out. Is this the issue?

Unfortunately, train_and_evaluate does not specify the contract how many times train input_fn and eval input_fn will be invoked today. It will limit the implementation space we have.

@mrry can use

[2018-04-11 03:44] Ruvinator commented on #13177
@hemecha  I am currently having the same issue. I was able to build TensorFlow using CMake and use it in Visual Studio with the /WHOLEARCHIVE flag, but I'm having trouble finding an alternative in Qt. Would you be able to shed some light regarding how you generated libprotobuf.lib and tensorflow.lib and then linked them in Qt?

Thanks in advance!

[2018-04-11 03:58] yijie0710 commented on #6968
I used jemalloc instead of tcmalloc and the problem was also solved on CentOS 6.
Just install jemalloc and run with LD_PRELOAD=/usr/local/lib/libjemalloc.so
 (follow this post: https://zapier.com/engineering/celery-python-jemalloc/)

[2018-04-11 04:07] michaelisard commented on #18243
@asimshankar do you want to assign this to someone or leave as community support?

[2018-04-11 04:11] michaelisard commented on #18323
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-11 04:13] michaelisard commented on #18384
@mrry would you reassign to someone as appropriate?

[2018-04-11 04:16] mrry commented on #18384
Reassigning to "contributions welcome" (for the `tf.string_strip()` op).

[2018-04-11 04:35] mrry commented on #18266
@xiejw Unfortunately that won't work because `ds` will be bound to a graph that is different from the estimator's graph.

I'm not sure why `train_and_evaluate()` is calling the input function multiple times, but the right solution would seem to be allowing concurrent iterators to build a cache with the same eventual filename.

[2018-04-11 05:01] szaza commented on #17223
Thanks @asimshankar for your response, however I tried those dependencies before. As you can see the 'libtensorflow_jni_gpu' is also present in line 19, just it is commented out right now.
Unfortunately, the GPU support on Linux didn't work for me, however it can happen that my configuration is wrong.

[2018-04-11 06:01] hitvoice commented on #15656
@erolrecep 1.7.0, on Ubuntu Server 16.04

[2018-04-11 06:30] VanitarNordic commented on #18323
explanation is clear, but you have a great talent to just close issues. this is clear bug.

I gave a clear explanation with sample code. You just making buggy products and crash other developers who make similar libraries just because you have money. if you don't know how to solve it, say I can not because I just hired by friendship and connection.

[2018-04-11 06:33] zhangbo0325 commented on #15633
@mpeniak , I asked the same question to andrewharp.  I just ran the ssd-mobilenet with the help of tensorflow-lite cpu implementation and also got the poor performance.

[2018-04-11 06:37] andaas4 commented on #18343
Same issue here.
Have I written custom code - No
OS Platform and Distribution - MacOS High Sierra 10.13.4, iOS 11.3.0 on iPhone X
TensorFlow installed from - git clone https://github.com/tensorflow/tensorflow
TensorFlow version - 1.7.0
Bazel version - NA
CUDA/cuDNN version - NA
GPU model and memory - NA
Exact command to reproduce - Followed instructions at https://github.com/tensorflow/tensorflow/

[2018-04-11 06:46] tensorflowbutler commented on #18393
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-11 06:46] tensorflowbutler commented on #18400
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-11 06:46] tensorflowbutler commented on #18405
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-11 06:49] gyanendro commented on #17629
I also face the same problem with same configuration. But when I install cuda-9.0 version the issue got solved. I feel tensorflow-gpu version is using the cuda-9.0 version specifically.

[2018-04-11 07:02] Overdrivr commented on #18380
Thank you for looking into this. Today, I tried the same thing on a Tesla P100 that has 16GB of VRAM, same outcome. It fails to allocate ~4GB:
[code]
[code]
Let me know if I can do anything to help debug this.

[2018-04-11 07:34] jlebar commented on #18402
I've checked in a change to get rid of StreamExecutor's StatusOr.  That will make its way upstream in our next uplift to OSS -- I dunno how often those happen.

[2018-04-11 08:12] eaplatanios commented on #18373
@av8ramit Thanks! It seems it'll all good now! :)

@asimshankar Thanks for helping with this! If indeed you migrate those jobs away, do you plan to provide a way to obtain nightly builds for the dynamic libraries (i.e., `libtensorflow.so` and `libtensorflow_framework.so`)?

[2018-04-11 08:31] npeirson commented on #13044
Ah yeah, thanks for the tip. I ended up adapting [this rad tool](https://github.com/visipedia/tfrecords) to suit my dataset.

[2018-04-11 09:15] gvashkevich commented on #9471
Hi guys! I have the same problem. I have noticed that the training time is not increasing when I disable all summary operations.

[2018-04-11 09:28] OswinGuai commented on #17853
@AlexWang90 What's your mistake? I encountered a similar problem.

[2018-04-11 09:55] atishjn commented on #18193
I am facing the same issue but interestingly I trained using imagenet weights 2 days back and today the same script is not working using imagenet weights for my Resnet50 keras model. But when I initialized with weights = None the estimator model was working. @fchollet Can you please help out here ?

[2018-04-11 10:08] jharbott commented on #16609
From what I'm reading, the solution would have been the abovementioned hiptensorflow, where HIP is a tool to convert code from CUDA (nvidia specific) to ROCm (AMD specific). Sadly it looks like that repo has been pulled from github, all links (even from current Google searches) give 404. Would be great to hear an official update on the status.

[2018-04-11 10:10] #18342 closed

[2018-04-11 10:34] sven-mayer commented on #17411
Same Problem
Ubuntu=16.10
python=3.6
pip=9.0.3
with tensorflow-gpu= 1.7

solved by:
pip install tensorflow-gpu==1.5

[2018-04-11 10:44] denji commented on #16609
@jharbott ROCm not only AMD...

[2018-04-11 11:07] bhack commented on #16609
https://github.com/ROCmSoftwarePlatform/tensorflow

[2018-04-11 11:10] bhack commented on #16609
Check also https://github.com/ROCmSoftwarePlatform/tensorflow/issues/35#comment-379410874

[2018-04-11 11:35] fengyang0317 opened #18415 "A bug related to conv2d_transpose and tf.cond"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.7.0
- **Python version**: 2.7
- **Bazel version (if compiling from source)**:
- **GCC/Co

[2018-04-11 11:43] fengyang0317 commented on #18415
If I add a tab in line 38, which makes the code look like
[code]

The error would become
[code]

[2018-04-11 12:11] benjiebob commented on #11294
I'm very interested in being able to implement a dogleg optimizer in tensorflow. Anyone got a simple optimization example which I can use as a starting point?

[2018-04-11 12:24] moss-khaldi commented on #3986
yes, the node name is incorrect according to the .pb file, you have to print the actual name used during the saving by print <name-of-model>.output.op.name same with input if that happened occasionally <name-of-model>.input.op.name, then you can use the printed name as an argument in the export function.
i hope this solved the problem.

[2018-04-11 12:25] dsmilkov commented on #18280
Hi @cancan101, the body of the py_func will not be serialized in a GraphDef. Therefore, you should not use this function if you need to serialize your model and restore it in a different environment.

Also, if you are using TensorFlow.js for development, and are thinking about this in a JS-only context, would you mind re-posting this issue to the [tensorflow/tfjs issues](https://github.com/tensorf

[2018-04-11 12:29] facaiy commented on #18187
@jjahanip  You're right. `lr_t_` is constant, which is `learning_rate` in the [API document](https://www.tensorflow.org/versions/master/api_docs/python/tf/train/AdamOptimizer).

https://github.com/tensorflow/tensorflow/blob/f9c5e71104cb30583127fdc918591cc7604f17ca/tensorflow/python/training/adam.py#L135

And the real decaying `lr_t` is computed as an intermediate result inside the computing functi

[2018-04-11 12:36] tensorflowbutler commented on #14580
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-11 12:36] tensorflowbutler commented on #17762
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-11 12:36] tensorflowbutler commented on #17589
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-11 12:36] tensorflowbutler commented on #17514
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-11 12:37] tensorflowbutler commented on #17485
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-11 12:37] tensorflowbutler commented on #16929
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-11 12:37] tensorflowbutler commented on #14456
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-11 12:37] tensorflowbutler commented on #14436
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-11 12:37] tensorflowbutler commented on #12792
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-11 12:37] tensorflowbutler commented on #11954
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-04-11 12:37] tensorflowbutler commented on #11807
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-11 12:37] tensorflowbutler commented on #11726
Nagging Assignee @tatianashp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-11 12:37] tensorflowbutler commented on #11548
Nagging Assignee @yzhwang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-11 12:37] tensorflowbutler commented on #10842
Nagging Assignees @lmthang, @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-11 12:41] mirh commented on #22
Perfect sum-up, but plaidml does run on gpus too.
It's just that at the moment they are a backend for keras, not tensorflow. So it's kinda OT there.

[2018-04-11 12:42] SAGGSOC commented on #18136
Problem is solved. I reinstalled everthing including tensorflow and cuda 9.0

[2018-04-11 12:56] Neilcc opened #18417 "freeze_graph"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: None
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  macOS High Sierra 10.13.3
- **TensorFlow installed from (source or binary)**:  binary, Installing with Virtualenv and pip install
- **TensorFlow version (use command below)**:1.7.0
- **Python version**:  2.

[2018-04-11 12:57] utkrist commented on #5354
Thank you VERY VERY MUCH @hzxie.

[2018-04-11 13:05] Neilcc commented on #18417
I solved this by use "python -m tensorflow.python.tools.freeze_graph" instead of "freeze_graph" . But I'm still confused with this. Why does the command does not works on my computer?  Thanks a lot

[2018-04-11 13:08] yongtang commented on #18384
Added a PR #18418 for `tf.string_strip`

[2018-04-11 13:13] hccheng commented on #18353
Please find the logs below, thanks.
[Check failed.log](https://github.com/tensorflow/tensorflow/files/1898919/Check.failed.log)
[InvalidArgumentError.log](https://github.com/tensorflow/tensorflow/files/1898920/InvalidArgumentError.log)

[2018-04-11 13:16] DEepLiker commented on #6022
Thanks

[2018-04-11 13:48] cancan101 commented on #18280
Interesting to know that the body is not serialized; I had not realized that. I was not thinking of js_func in the context of tfjs. Rather I was thinking of loading a graph on iOS or Android and using the js_func to supply user created functions.

[2018-04-11 14:45] tsoernes opened #18421 "Cannot apply convolution twice"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Fedora 27
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: b'v1.3.0-rc1-3011-gd86448938' 1.3.0

- **Python version**: 3.6.4
- **Bazel version (if compil

[2018-04-11 14:56] Ruvinator commented on #13177
Just following up on my previous comment - I ended up getting TensorFlow to work on Qt using your recommendation in #13180.

For reference: I built TensorFlow using CMake as per the instructions in [this post](https://medium.com/@shiweili/building-tensorflow-c-shared-library-on-windows-e79c90e23e6e). Once built, I was able to run the C++ API code from [this post](https://joe-antognini.github.io/ma

[2018-04-11 14:57] asimshankar commented on #18243
I believe [glog](https://github.com/google/glog) does support `vmodule`.
That said, I don't think we'll be working on switching the logging implementation/adding a vmodule feature in the near future, so marking this as "Contributions Welcome".

We'll be happy to see pull requests bumping up the log level of existing lines.

Deferring to @martinwicke about whether switching to glog is an option.

[2018-04-11 14:59] asimshankar commented on #17223
@szaza : Note that you want to depend on *exactly one* of `libtensorflow_jni` and `libtensorflow_jni_gpu`.  Hence, I suggested replacing lines 15 and 16 (and not just uncommenting line 19).

[2018-04-11 15:16] av8ramit commented on #18373
@eaplatanios yes we will definitely provide a way for access to those in a cleaner way as well.

[2018-04-11 15:16] #18373 closed

[2018-04-11 15:17] unnir commented on #17411
the same problem

[2018-04-11 15:38] nfiedel commented on #18080
Possibly, though this will be pretty advanced and likely not work easily out of the box.

TLDR: [TensorFlow Hub](https://www.tensorflow.org/hub/) enables you to compose Hub Modules into a single model. If you can export/provide both models as Hub Modules, then you can later use the Hub APIs to import them into a single graph/model. You will still need to wire-up the inputs & outputs.

[2018-04-11 15:43] ianholing commented on #16497
Hey!
Something similar happens to me recently with a really simple convolutional encoder. The ".tflite" file exported with this:
https://colab.research.google.com/drive/1KMQQjuSfurog3n-Ut7BMSfv1TXGFonbX#scrollTo=WZlb35eHCchl

And executed with "implementation 'org.tensorflow:tensorflow-lite:+'" in Android was almost twice slow than the exported as a usual ".pb" and executed with "implementation 'o

[2018-04-11 15:45] isrugeek commented on #17620
@jongwun  did you fix the issue?
Thanks

[2018-04-11 15:47] markpwoodward commented on #16087
+1
To compare train and validation metrics "apples" to "apples", I run two evaluations, one on the validation set and one on a fixed subset of training data. To do this I call the evaluate's in a CheckpointSaverListener passed to estimator.train(...., saving_listeners), but two EvalSpec's passed to train_and_evalute(..., eval_spec) would be cleaner. Alternatively, EvalSpec could take a list of inp

[2018-04-11 16:00] ahundt commented on #10837
Awesome! Is there a PR # or is it currently internal?

[2018-04-11 16:04] unnir commented on #18147
the same issue, ubuntu...

[2018-04-11 16:14] mrry commented on #10837
It looks like the initial Python changes landed as part of 9db93a8db8fafee8092b30ae33a26248867e9b26, and the final C++ change landed in 49c6489368ea98feb3259d54a10c6fdfd01caf44. You can play with the private `Session._make_callable_from_options()` API, but be warned that it's still private so it might change. Example code here:

https://github.com/tensorflow/tensorflow/blob/f9c5e71104cb30583127fdc

[2018-04-11 16:20] boegel opened #18424 "sneaky re-release of TF 1.7.0?"
Someone informed us that the checksum of the source tarball from https://github.com/tensorflow/tensorflow/archive/v1.7.0.tar.gz changed according to what we had in place (was `2df5e308357356c9ffb7e9a7816dfa9947bd8928f9d406cf7e851b82853931ea`, now is `c676a96fc8700722816b2b98c85578b2f99fac7a7b2484c9c7f0641484f8d50d`).

After some investigation, it seems there was indeed a "re-release" without chang