[2017-05-28 23:44] nikitakit commented on #654
My code works fine with attention. All of my own models that i used it for relied on attention. However, you do need to make sure that cell_transform is set correctly (instructions in the docstring).

That said, the code still uses the tensor flow 0.12 API and I haven't updated it for tensorflow 1.0

[2017-05-28 23:47] Moondra commented on #10252
@caisq  Hi, I was looking for the Windows version. Thank you.

[2017-05-28 23:53] Moondra commented on #6999
@AlexisTM  'Good news! We finally have a procedure for people wanting to work with Python 3.6 only ! \o/'

Where can I find the solution? Thank you  =)

[2017-05-29 00:27] classicCoder16 commented on #9832
Great, thanks! A couple of quick follow-up questions:

- When using BeamSearchDecoder with `dynamic_decode`, it seems that we can't pass in `impute_finished=True` without obtaining an error -- is this expected?

- Also, BeamSearchDecoder appears to expect `initial_state` to have a shape whose first dimension is `batch_size*beam_size`. However, it is not entirely clear to me how you would form this

[2017-05-29 00:45] SMH17 commented on #6999
@AlexisTM I don't want to be polemic with you but Tensorflow isn't some amateur project, It's reference framework for deeplearning of a big company named Google, and if I invest time to develop my projects on Tensorflow instead of competitor solutions, I would like everything work as It should. It's perfectly legit asking for Python 3.6 official support. I'm not insulting, threatening or holding a

[2017-05-29 01:00] classicCoder16 commented on #654
Great, thanks! Out of curiosity, when you've integrated attention have you been using AttentionCellWrapper, or some other means? Also, does the code in general support custom attention cell wrappers?

[2017-05-29 01:14] nikitakit commented on #654
@classicCoder16 I used custom cells, but AttentionCellWrapper will work too. Anything that implements the RNNCell interface is compatible -- the interface specifies how the cells are supposed to store their state, and the beam search has access to that for state reordering.

[2017-05-29 01:58] YutingZhang commented on #524
I am using TF1.1. I found this op have no CPU kernel for either Targmax=tf.int32 or Targmax=tf.int64. For GPU (CUDA8 on a Titan X), it has kernel for Targmax=tf.int64, but no kernel for Targmax=tf.int32

[2017-05-29 02:47] dwiggles commented on #8385
That solved it for me, too. Thanks.

[2017-05-29 03:15] zuxfoucault commented on #10258
Thanks for the prompt response!
TF r.1.2 can successfully be build with cuda 8.0. But, on the workstation, I don't have the privilege to upgrade the cuda driver 352.93, which didn't support cuda 8.0.

[2017-05-29 03:30] tfboyd commented on #7549
This is in progress.  A an internal PR to add fused to tf.layers.batch_nornmalization is in progress.  We made it an top priority.  We do not promise dates because things can go wrong or issues come up but I expect it will be in before the end of the quarter.  Again, things can go wrong and that is not a promise just guidance.

[2017-05-29 03:52] SunnerLi commented on #8191
As the rookie, I raise some of my opinion.
The following code will make this similar mistake occure:
(Piece of my code)
[code]
The error dump as the following:
[code]

But after I do the revision, It can work.
[code]

[2017-05-29 04:08] ipoletaev commented on #10215
Thanks!

[2017-05-29 04:47] atrah22 opened #10266 "QuantizedConv2D (inference) on iOS"
Hello,

I had some question and it would be nice to get quick help/reply.

I know, that accelerate framework (cblass_sgemm) is used for Conv operation (gemm_functors.h) incase of iOS platform. However, that is for float datatype.

1) What happens incase of quantized op of inception5h graph. For example, which library is used for QuantizedConv2D operation incase of iOS mobile platform?
2) Is Accele

[2017-05-29 04:50] mlghost commented on #10033
I  have same problem . My %PATH% directory includes cuda\bin and cuDNN dll file copied there
What is solution for my problem ?

[2017-05-29 05:01] anikdas commented on #7751
I was planning to use this as Named Entity Recognition. I think `contrib/crf` will help a lot other people who are trying to do the same. If given a little guidance I can contribute as well.

[2017-05-29 05:15] mlghost commented on #9484
I have cudnn 5.1 and cuda-8.0. cudnn is copied in cuda's directory. I've also appended it's path to the system PATHs as:

C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\bin

Also msvcp140.dll is included both in systemWow64 and system32 and I use Python 3.5.2.

What is wrong? Have you faced the same problem?

[2017-05-29 07:13] RajeevSharma2015 commented on #9484
My programs are working fine now. Only one change I am taking care of
additionally is - (a) low learning rate

On Mon, May 29, 2017 at 10:46 AM, Abolfazl Meyarian <
notifications@github.com> wrote:

--
Regards
Rajeev

[2017-05-29 07:22] domschl commented on #9939
Still present in 1.2rc1:
`WARNING:tensorflow:Error encountered when serializing LAYER_NAME_UIDS.
Type is unsupported, or the types of the items don't match field type in CollectionDef.
'dict' object has no attribute 'name'`
@ali01 : please reclassify, this isn't a feature-request, but a bug: This worked fine until 1.1, then models that were working without error-messages suddenly produce the error

[2017-05-29 07:22] shuuki4 opened #10267 "Unnecessary label division at tf.nn.nce_loss?"
As far as I know, NCE Loss is a sampling-based loss that converts large-scale multiclass loss into a sum of binary loss for sampled classes. Each binary classification infers a probability where the given context and word is from the proxy corpus (real distribution) or noise distribution. Therefore, I guess each binary classification of word should be hard binary classification with label 0.0 or 1

[2017-05-29 07:43] sj6077 commented on #9906
I found 2 issues related with auto-parallel.
It doesn't replicate queues and euqueue ops, but if input pipeline contains a work for data-preprocessing, gpus are utilized as serial orders.
One more thing is apply gradient descent is a long time task, below is the tracing result, the computation time was 100ms but apply gradient descent time takes 100ms times more. Is there any dpendencies between d

[2017-05-29 07:48] mlghost commented on #9484
@RajeevSharma2015
How did you solve this problem ? (ImportError: No module named '_pywrap_tensorflow_internal')

[2017-05-29 08:01] mtanti opened #10268 "sparse_softmax_cross_entropy_with_logits gives NaN instead of error when using non-existent labels"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 14.04

- **TensorFlow installed from (source or binary)**:
Source

- **TensorFlow version (use command below)**:
v1.0.0-65-g4763edf-dirty
1.0.1

- **Bazel version (if compiling from source)**:
0.4.5

[2017-05-29 08:13] AlexisTM commented on #6999
@Moondra Using those binairies https://github.com/tensorflow/tensorflow/issues/6999#issuecomment-298116252 and this fix https://github.com/tensorflow/tensorflow/issues/6999#issuecomment-304495235 gives you **Python3.6 support**.

The easy workaround using **Python3.5**, plug'n'play, without breaking any Python installation is using Conda following this https://github.com/tensorflow/tensorflow/issu

[2017-05-29 08:19] mlghost commented on #9484
@RajeevSharma2015
???

[2017-05-29 08:19] albertz commented on #7951
Maybe here is a good place to refer to my Dataset related questions:
https://stackoverflow.com/questions/44132579/feed-data-into-a-tf-contrib-data-dataset-like-a-queue
https://stackoverflow.com/questions/44132307/tf-contrib-data-dataset-repeat-with-shuffle-notice-epoch-end-mixed-epochs

[2017-05-29 08:30] umairalipathan opened #10269 "Applying dropout in Tensorflow C++ API"
I have retrained Inception-v3 model using (Tensorflow) Python API and saved a standalone Graph in .pb form. I have also used a dropout layer before the final layer. I can successfully run inference on the graph in python. The code to generate predictions in python is as follows:

    softmax_tensor = sess.graph.get_tensor_by_name('final_layer/final_result/Softmax:0')
    predictions = sess.run(sof

[2017-05-29 08:34] mrlzla commented on #10199
I have the same problems as @serchsm, @cesardelgadof.

[2017-05-29 08:56] KashiErez opened #10270 "Performance degradation with large lookup tables - optimizer._apply_sparse_duplicate_indices (TF V1.0.1)"
Hi,

I ran into this performance issue while trying to upgrade tensorflow from version 0.12.1  to 1.X.

We ran a network with large embedding lookup tables:
- 100K X 32 (for example, word embedding -  with 100K unique words)
- 300K X 128 (for example, categorical feature with cardinality of 300K unique items)

 After upgrading TF version to 1.0.1,  GPU usage dropped in from 60% to 30%.
Training ti

[2017-05-29 08:57] KashiErez commented on #10270
Forgot to mention - this is the GPU info:

$nvidia-smi
Mon May 29 08:50:48 2017
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 367.48                 Driver Version: 367.48                    |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |

[2017-05-29 08:59] KashiErez commented on #10270
I using docker base image:

`nvidia/cuda:8.0-cudnn5-devel-ubuntu16.04
`
[code]

[2017-05-29 09:04] KashiErez commented on #10270
This is how a good trace looks like:  (after applying downgrading to version 12.0.1 or applying the workaround)
![good_trace_no_unique](https://cloud.githubusercontent.com/assets/8734262/26543479/ca4810b2-4466-11e7-9e6c-64cbb09f6ab4.png)

Note that there is higher parallelism, no big 'unique block' in the middle.

[2017-05-29 09:10] AbhinavDS commented on #7089
@abred , were you able to get it working?  How did you cater to the "_X" suffixes problem ?

[2017-05-29 09:10] drewniu commented on #7705
I would like to confirm that downgrading to cuDNN 5.1 (from 6.0) resolved the issue for me as well.

[2017-05-29 09:15] SoumyaMaitra commented on #16
Hi
Is there any update on tensorflow/core/framework/types.pb.h not found on iOS compile?

[2017-05-29 09:19] abred commented on #7089
@AbhinavDS: @BarzinM's solution worked for me

[2017-05-29 09:29] atrah22 opened #10273 "Android build error: tensorflow/core/framework/op_gen_lib.h:22:59: fatal error"
Hello,

I previously built (some earlier releases of tensorflow) succesfully for android platform (aarch64). However, I get this  following error "./tensorflow/core/framework/op_gen_lib.h:22:59: fatal error: tensorflow/core/framework/op_gen_overrides.pb.h: No such file or directory
 #include "tensorflow/core/framework/op_gen_overrides.pb.h"
" incase of the latest release.

I did run "download_depe

[2017-05-29 09:43] geometrikal commented on #3986
Write the graph as a text file using `as_text=True` in `write_graph`.
Open the graph file, it will have some node entries written in plane text.
Check the node name you are passing is in the graph file. When I had the same problem, the actual node name had some extra parts on the end.

[2017-05-29 10:15] SMH17 commented on #6999
@AlexisTM The fact there are less Windows based companies explain why they have given higher priority to Linux support but doesn't explain why according to you I shouldn't ask for official support showing at the company staff my interest in Python 3.6 support and giving a feedback about this matter.

[2017-05-29 10:16] Lakedaemon commented on #8404
I tried replacing a PlaceHolder node holding a boolean, namely
`node {
  name: "dropout_1/keras_learning_phase"
  op: "Placeholder"
  attr {
    key: "dtype"
    value {
      type: DT_BOOL
    }
  }
  attr {
    key: "shape"
    value {
      shape {
      }
    }
  }
}`

with this node (not sure if it is correct)
`node {
  name: "dropout_1/keras_learning_phase"
  op: "Const"
  attr {
    key: "d

[2017-05-29 11:47] xueyouluo commented on #9832
I meet the same problem with @classicCoder16. I used a bi-direction rnn as encode,  right now I use following code to get the initial state.
[code]
 But when I ran the dynamic decode, I can't get correct beam search result. Maybe my code is not right. Has anyone tried the BeamSearchDecoder and got the correct result? Would you please share the code with me? My tensorFlow version is 1.2.0-rc0. Than

[2017-05-29 12:37] trojana commented on #5036
+1

[2017-05-29 12:42] untom opened #10275 "TF 1.2.0-rc1: Build with MKL failed"
Hi!
I just tried building TF 1.2.0-rc1 with MKL, using:

    bazel build --config=opt --config=cuda --config=mkl --copt="-DEIGEN_USE_VML" -c opt //tensorflow/tools/pip_package:build_pip_package

Where, in the `'./configure` step I said "yes" to both using MKL and to downloading it from the web. I get the following error:

    ERROR: /dataSSD/untom/tmp/tensorflow-1.2.0-rc1/tensorflow/core/BUILD:154

[2017-05-29 13:01] Franck-Dernoncourt commented on #7751
@anikdas I used the CRF layer to perform named-entity recognition in https://github.com/Franck-Dernoncourt/NeuroNER if interested. Since in named-entity recognition it's often preferable to add start and end tokens around each sequence, it avoids having sequences of length 1.

[2017-05-29 13:33] AlexisTM commented on #6999
@SMH17 It is not giving priorities, it is seamless for Linux, while is it DLL dependent on Windows. It is simply working on Linux, that's why it works.

[2017-05-29 13:38] rodburns commented on #22
There's a new version of the setup guide for compiling TensorFlow with ComputeCpp, Codeplay's implementation of SYCL, so that OpenCL devices can be used. We would appreciate any feedback you can give us on it. https://www.codeplay.com/products/computesuite/computecpp/guides/how-to-setup-tensorflow-with-computecpp

[2017-05-29 14:31] Lakedaemon commented on #8404
ok, built tensorflow from sources (30 minutes O.O)
retrained my model (took mostly as long for 1 epoch as the prebuilt tensorflow binary, despite the added cpu instructions ? I didn't add any optimisation flag (there is no documentation for that anyway))
built summarize_graph (it takes sooooooooooooooooooooo long to compile C++ :/, like 8 minutes for a simple utility)

Also, tried this command `ba

[2017-05-29 14:41] Lakedaemon commented on #8404
manually replaced the placeholder with a constant op (potentially in a bad way), rerun through transform_graph -> no change to the Switch ops that are fed with a constant false.

That's it... let's build CPU:DT_BOOL for android.. :/

[2017-05-29 15:36] Egor-Krivov commented on #7549
@taion Thank you for the remark. I was, indeed, using NCHWD format for my data, following performance guide, and probably got massive performance drop.
@tfboyd Thank you for fast response. Hope it will go as planned.
There really should be a big warning sign somewhere near tf.layers.batch_normalization, warning about https://github.com/tensorflow/tensorflow/issues/7551.

[2017-05-29 15:38] guschmue commented on #10199
Its a few comments above: /arch takes only avx and avx2.
sse and sse2 are 'implicit' set for x64 and tensorflow (eigen) assumes sse2 for x64 on msvc.
TensorFlow should be using sse2 already but you still see the warning because the  `__SSE2__ ` define is not set by msvc.
Not sure how to fix this the correct way, maybe setting   `__SSE2__ , __SSE__ `  in cmake would be ok since everybody is assumin

[2017-05-29 15:57] avi-jain commented on #6589
^Getting a similar error. Retrain command seems fine. Have you managed to resolve this?

[2017-05-29 16:17] dahlem commented on #8466
@bcbrock I have the same issue on a Minsky machine:

System: Power8 Minsky, 4xP100
OS: Ubuntu 16.04.2
CUDA: 8.0.61
cuDNN: 5.1.10/6.0.20
Python: 2.7.12
NVIDIA Driver: 375.51
TensorFlow: 1.0.1

Any more ideas on this issue?

[2017-05-29 16:32] antoajayraj commented on #8466
@dahlem What is the command or recreate steps ? and is it consistent ?

[2017-05-29 16:42] ebrevdo commented on #9939
Francois and Sherry should probably come to a decision. Either keras keeps
an internal dictionary or we find a way to signal to saver to mark some
collections as local.

On May 29, 2017 12:22 AM, "Dominik Schlösser" <notifications@github.com>
wrote:

[2017-05-29 17:03] Androbin commented on #8404
@Lakedaemon Totally agree on Android lacking default support for important -.- stuff #10254

[2017-05-29 17:07] taion commented on #7549
@tfboyd

It'd be good to add a note to the performance guide warning against using un-fused batch norm when not using a channels-last data format?

While both are active recommendations, it's really weird and strange that switching to NCHW without switching to fused batch norm gives such a massive slowdown – especially because "use NCHW" comes before "use fused batch norm" in the performance guide

[2017-05-29 18:44] osdamv opened #10277 "Android demo app crash on x86 device(libavcodec.so text relocations)"
The app start then,  complain about libavcodec.so text relocations
![screenshot_20170529-122626](https://cloud.githubusercontent.com/assets/4120796/26559275/f5468b90-446b-11e7-85bb-fb1eadcbf691.png)
here is the log:

`05-29 12:33:36.787 12014-12014/org.tensorflow.demo E/WindowManager: android.view.WindowLeaked: Activity org.tensorflow.demo.ClassifierActivity has leaked window DecorView@34ca6d3[] t

[2017-05-29 19:24] orome commented on #8387
I have the same problem. I use helper something like

[code]

which I call with

[code]

for each layer as it is created.

This used to create a collection of stats for each layer (one panel/scope per layer, containing all the collected stats). But now I get two `stats_X` layers for each layer. I also get a mess when trying to track anything that iterates and attempts to "accumulate" values in a s

[2017-05-29 20:56] dylanrandle opened #10278 "Pool Allocator Problem (re-allocation after every batch!)"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: r1.1
- **CUDA/cuDNN version**: 8.0/5.1
- **GPU model and memory**: Tesla K80 16GB

Hi there,
I am running a 2 lay

[2017-05-29 20:59] andrewharp commented on #10277
Haven't seen that one. The demo definitely should work on x86, so long as you have a build x86 native libs in it (though libavcodec isn't one of those). Where did you get the demo from? If built it yourself, does the [prebuilt APK](https://ci.tensorflow.org/view/Nightly/job/nightly-android/lastSuccessfulBuild/artifact/out/tensorflow_demo.apk), which does contain x86 libs, work?

There may be an er

[2017-05-29 21:05] aselle commented on #10066
@mrry, any ideas. Could you take a look?

[2017-05-29 21:17] Lakedaemon commented on #8404
Well, tried compiling the android demo example with basel (on a fresh git clone of the repo, after having nuked the .cache for bazel on my box) : fail

ERROR: /home/lakedaemon/.cache/bazel/_bazel_lakedaemon/6532aa38fb8c8ce96c07312dcb04db38/external/protobuf/BUILD:113:1: C++ compilation of rule '@protobuf//:protobuf' failed: false failed: error executing command
  (cd /home/lakedaemon/.cache/bazel/

[2017-05-29 21:58] Lakedaemon commented on #8404
mmh managed to build the android app with make  and found why it wouldn't build with basel (used a wrong git clone command missing recurse subprojects).

Will now try to build the android app with Bazel and then with custom ops (selective) and kernels

[2017-05-29 22:22] pcejrowski commented on #1993
Any comment on closing ?

[2017-05-29 22:40] tomwanzek opened #10279 "Windows GPU Nightly Build Failures"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-05-29 23:19] jmchen-g commented on #10086
@vrv Could you take a look please? Thanks.

[2017-05-29 23:24] vrv commented on #10086
No, we should probably be checking base dtype there. Would you like to send a PR?

[2017-05-29 23:24] jmchen-g commented on #10094
@skye  Could you take a look at this please? Thanks.

[2017-05-29 23:34] jmchen-g commented on #10110
@andrewharp Could you take a look please? Thanks.

[2017-05-29 23:38] jmchen-g commented on #10124
@keveman Could you take a look at this please? Thanks.

[2017-05-30 00:32] ChristopherLucas commented on #3388
I'm also using TF1.1.0, Python 3.5, Ubuntu 16.04.2 and am still getting this error. Are there any solutions aside from commenting out the section of code below from `session.py`? If not, is there any reason to worry about commenting this code out?
[code]

[2017-05-30 01:47] normanheckscher commented on #7482
Any chance that append will be implemented?
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/lib/io/tf_record.py#L91
@josh11b

[2017-05-30 01:53] jmchen-g commented on #10152
@zffchen78 Could you take a look please? Thanks.

[2017-05-30 01:54] jmchen-g commented on #10154
@mrry Could you take a look please? Thanks.

[2017-05-30 01:56] jmchen-g commented on #10157
@jart Could you take a look please? Thanks.

[2017-05-30 02:57] josh11b commented on #7482
For uncompressed files, you can concatenate them since there is no per-file header. Beyond that, I don't think we have immediate plans to implement append.  That comment you link to was written before we supported compression, which complicates the implementation of the feature.

[2017-05-30 06:34] sandipmgiri opened #10281 "//tensorflow/python:function_test is passing without GPU support but failing with GPU support"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
     Ubuntu 16.04 (ppc64le)
- **TensorFlow installed from (source or binary)**:
     Installed from source (v1.0.1)
- **TensorFlow version (use command below)**:
    ('v1.0.1-0-ge895d5c-dirty', '1.0.1')
- **Bazel version (if compiling from source)**:
    0.4.4-2017-05-26 (@80a07b5)
- **CUDA/cuDNN version**:

[2017-05-30 06:50] pbanavara commented on #9999
@jart I have some time to fix this. Is replacing any detected whitespace with '\' a good solution ? Or should I aim for something better. Please let me know.

[2017-05-30 07:45] EverettYou opened #10282 "Conflict between Defun and py_func"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS 10.12.5
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.1.0-rc0-61-g1ec6ed5 1.1.0
- **Bazel version (if compiling from source)**: N/A
- **CUD

[2017-05-30 07:48] hzqjyyx commented on #5036
+1

[2017-05-30 08:02] kencano commented on #5036
+1

[2017-05-30 08:02] jart commented on #9999
On second thought, this might not be a good issue to fix. It would be extremely difficult to maintain our build system(s) if we couldn't assume paths don't have spaces. Please build TensorFlow under a path that doesn't have spaces. If you find any stuff in our source tree that has spaces, let us know.

[2017-05-30 08:02] #9999 closed

[2017-05-30 08:33] wqj97 commented on #10169
please checkout this

[here](https://github.com/wqj97/tf_issue)

[2017-05-30 08:34] truatpasteurdotfr commented on #8421
@vladfi1 you can get the ideas just by reading the Dockerfile, ymmv.

[2017-05-30 08:38] tblaschke commented on #1300
@icyblade
No. FP16 is half precision, not single precision. The stated 5591–8736 GFLOPS are single precision (FP32) performance. As sbrodehl mentioned: Up to now only the P100 supports FP16. Other cards have crippled FP16 support/performance

[2017-05-30 09:27] Luxios commented on #10247
????

[2017-05-30 09:28] Luxios opened #10283 "ImportError:_pywrap_tensorflow_internal.so: __sprintf_chk: symbol not found"
# OS
Host: Windows 10 Professional  64bit
Docker container :  Alpine
`/ # cat /etc/issue`
Welcome to Alpine Linux 3.6
Kernel \r on an \m (\l)

`/ # uname -a`
Linux 3b851449cb60 4.9.27-moby #1 SMP Thu May 11 04:01:18 UTC 2017 x86_64 Linux

# Installation
- Part of my dockerfile

`FROM frolvlad/alpine-glibc`
`RUN apk update && apk add --no-cache \
        wget ca-certificates unzip vim git \

[2017-05-30 09:45] shuuki4 opened #10284 "Using fixed_unigram_candidate_sampler + nce_loss with reserved_ids emits NaN outputs"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: From Source,
- **TensorFlow version (use command below)**: v1.1.0-rc2-773-g7fa0cf3
- **Bazel version (if compiling from source)**: 0.4.5
- **

[2017-05-30 09:50] mrcauamst opened #10285 "Tensorflow Windows Visual Studio Help"
Hi all,
I'm VietNamese, my English is not good.
I'm programming mobile robot with Aria ,C++ ,OpenCv and Tensorflow
I'm using Windows and Visual Studio 2012. I can't setup Tensorflow C++.
how to setup Tensorflow C++ and connect to VS2012
I hope everyone will train and help me.
Thank you.

[2017-05-30 09:51] dahlem commented on #8466
@antoajayraj I'm using Mozilla's deepspeech [1] to build a speech transcription model using the LibriSpeech dataset. It does not happen consistently.

[1] https://github.com/mozilla/DeepSpeech

[2017-05-30 10:42] kzos opened #10286 "Not able to run fusedgraph test on Hexagon"
OS: Ubuntu 16.04 64bits
Android Version: 7.1 (Nougat)
NDK Version: android-ndk-r12b
HEXAGON SDK: 3.1
nnlib source: https://source.codeaurora.org/quic/hexagon_nn/nnlib

Able to run runtime tf graph on hexagon **but not able to run fused graph** .
I got below error.

WARNING: linker: Warning: unable to normalize ""
Running main() from test_main.cc
[==========] Running 1 test from 1 test case.
[-----

[2017-05-30 11:55] classicCoder16 commented on #9832
Agreed, would love to see a piece of example code that illustrates the proper way to use the BeamSearchDecoder.

[2017-05-30 12:40] classicCoder16 commented on #4427
Hello, apologies if this might be an obvious question, but I have a basic question regarding applying the AttentionCellWrapper in practice -- in particular it seems that we never specify the memory (e.g. the set of encoder hidden states) during the creation of the wrapper.

How then does the module know where to attend? Does the memory get passed somehow through the initial state of the decoder? A

[2017-05-30 12:50] elijahFTL commented on #10033
Apologies for the late response, but what @mrry posted 8 days ago completely solved my issue. Thanks! Closing this now.

[2017-05-30 12:50] #10033 closed

[2017-05-30 13:11] yangjunpro commented on #2126
@benoitsteiner

Thanks for the nice progress.
Our work haven't been recorded into any paper since we are still on the way with it.
As to the grappler auto parallelizer, we do have taken a look at its implementation. It is nice and somehow is what we want, although currently it only support naive BSP auto placement(Is my understanding correct?). My question is that why not to implement the grappler

[2017-05-30 13:20] vdevaram commented on #10275
Not sure about the right fix.
Take the changes in the below file to the file tensorflow/core/BUILD and try
[BUILD.txt](https://github.com/tensorflow/tensorflow/files/1038430/BUILD.txt)

[2017-05-30 14:22] girving commented on #288
@martinwicke Any obstacles to using thrust?  Having GPU sort would be great.

[2017-05-30 14:30] yukimach opened #10287 "Windows 8.1 Anaconda Tensorflow GPU -- BLACKSCREEN"
Followed instructions on https://www.tensorflow.org/install/install_windows
When I get to

activate tensorflow-gpu
 $ python

Screen goes Black. When I move the cursor it moves, and then resets to the center every 10 seconds or so and disappears into the blackness, and doesnt go back to normal screen.

### System information
- Windows 8.1 Pro
used
- pip install --ignore-installed --upgrade https:/

[2017-05-30 14:38] annanay25 commented on #10283
Are you in the tensorflow source root directory? Can you try and ```cd``` into another folder and running the same?

[2017-05-30 14:55] osdamv commented on #10277
The apk is built by myself, however the prebuilt apk also crash
but it throws a different stack trace:
`05-30 08:50:18.841 12116-12611/org.tensorflow.demo W/LegacyRequestMapper: convertRequestMetadata - control.awbRegions setting is not supported, ignoring value
05-30 08:50:18.841 12116-12611/org.tensorflow.demo W/LegacyRequestMapper: Only received metering rectangles with weight 0.
05-30 08:50:18

[2017-05-30 15:01] kzos commented on #10286
@satok16 , request you to give pointers on this. thanks

[2017-05-30 15:02] annanay25 opened #10288 "[XLA][Feature] - Pass config flags for LLVM runtime."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**:  ('v1.0.0-1783-g4c3bb1a', '1.0.0')
- **Bazel version (if compiling from source)**:

[2017-05-30 15:04] fferroni opened #10289 "Cannot bazel build tensorflow pip package from source (/usr/bin/env: 'python': No such file or directory)"
------------------------
### System information
- OS Platform and Distribution: Linux Ubuntu 16.04
- CUDA Toolkit v8.0
- cuDNN 5
- gcc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609
- Bazel 0.5.0 (from repo)
- Anaconda Python 3.6
[code]

------------------------

Hello,

I am trying to build tensor flow pip package from source. I can install and use tensorflow with GPU using a precompiled binary j

[2017-05-30 15:07] mlghost commented on #10033
:|

[2017-05-30 15:16] girving opened #10290 "tf.split should allow negative axis arguments"
`tf.concat` does, for instance.

[2017-05-30 15:38] martinwicke commented on #524
Did you find the error message to be bad? If so, can you paste the error message here, and how you would have improved it?

If your comment is about the absence of the kernel registration, please open a separate issue (or send a PR).

[2017-05-30 15:46] jthestness commented on #10226
I have traced this bug back to a race condition in the PhiloxRandom GPU code. Taking a stab at a fix, and will post a PR after testing.

[2017-05-30 15:49] tfboyd commented on #7549
@taion  Thanks Jimmy, I will add that.  So much to do and not enough time in the day.  :-)  I just rewrote most of the code that the Hong Kong University uses for their tests and started using the [DataSets](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/data) which is new in TF 1.2 (RC right now).  I have found it to be much easier and doing side by side testing with queu

[2017-05-30 15:58] sj6077 opened #10291 "Memory violation when adding an new op"
-----------------------
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
commit 3bee923c9
- **Bazel version (if compiling from source

[2017-05-30 16:06] andrewharp commented on #10277
This may be a camera2 API problem. It wouldn't surprise me if an x86 device like the Xenfone 2 has issues with it.

There's an outstanding PR #8736 to add a fallback to the original camera 1 API on problematic devices -- you might try syncing to that branch and see if it addresses your problem. If it does then we'd like to get it merged, there's just a little bit more refactoring that needs to be

[2017-05-30 16:33] orome opened #10292 "FEATURE: Label scalar summaries"
Often I log scalar summaries at intervals that are meaningful in their own right — e.g. at epochs or min-batch boundaries — and report this, rather than the global step, as the x-value with something like

    some_writer.add_summary(a_value, epoch_number)

or

    some_writer.add_summary(a_value, batch_number)

But the API has no way of indicating that these x-values are not "steps", and reports

[2017-05-30 16:44] bsautermeister commented on #2514
In my opinion, `tf.train.maybe_batch()` is not working properly yet. By looking at the code, it is exactly the same method as `tf.train.batch()`. The latter simply uses _keep_input=True_.

According to the API documentation, _keep_input_ is a bool Tensor, so it should accept a `tf.placeholder(tf.bool)` as well, right? But when I use a placeholder, and feed it with the value _True_, the queue is si

[2017-05-30 16:47] satok16 commented on #10286
I'm working on refactoring this part to make it much stable, and that should be done in a week.  Sorry.

[2017-05-30 17:13] RylanSchaeffer commented on #6483
I'd like to know whether there's any update on this issue as well.

[2017-05-30 17:26] joe-antognini commented on #9870
@zheng-xq, I think that andydavis1 accidentally flipped the @ sign with your username so you may never have gotten a notification for this.

[2017-05-30 17:26] asimshankar commented on #8798
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-05-30 17:26] #8798 closed

[2017-05-30 17:27] asimshankar commented on #8685
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-05-30 17:27] #8685 closed

[2017-05-30 17:27] asimshankar commented on #8846
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-05-30 17:27] #8846 closed

[2017-05-30 17:28] asimshankar commented on #9015
Closing this out due to inactivity. If you're still running into trouble, please feel free to file a new issue with all relevant details (including what was suggested in the previous comment).

Thanks.

[2017-05-30 17:28] #9015 closed

[2017-05-30 17:31] asimshankar commented on #10140
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-05-30 17:31] #10140 closed

[2017-05-30 17:32] asimshankar commented on #10292
CC @dandelionmane @jart

[2017-05-30 17:34] osdamv commented on #10277
I gonna give it a shot!! thank you very much !!

[2017-05-30 17:37] asimshankar commented on #10265
@langmore @rmlarsen : Mind taking a look?

[2017-05-30 17:41] asimshankar commented on #10282
@EverettYou : A  quick heads up: as per the [TensorFlow version semantics](https://www.tensorflow.org/programmers_guide/version_semantics), the `Defun` decorator is not part of the public API at this time (it is not directly accessible from the `tf` namespace and is not included in documentation, e.g., on the website).

FYI: @ali01 who is looking into making that public and defining the limitation

[2017-05-30 17:49] nhasabni commented on #10275
@untom This is a duplicate of #9979
It has been fixed in the master. Looks like the fix - PR #9986 - is not in 1.2.0-rc1.

[2017-05-30 17:50] asimshankar commented on #10283
From a quick search and from https://github.com/gliderlabs/docker-alpine/issues/149#issuecomment-194435282 and #103, I believe Alpine uses a different C library than glibc, which unfortunately isn't supported.

You might want to try to install glibc and/or build from source. However, since this isn't a supported configuration, I'm afraid we won't be able to guide you through the process here.

[2017-05-30 17:50] #10283 closed

[2017-05-30 17:52] asimshankar commented on #10259
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-05-30 17:52] #10259 closed

[2017-05-30 17:52] kylehounslow commented on #8092
I had this issue:

`Extracting Bazel installation...
..........
unexpected pipe read status: (error: 2): No such file or directory
Server presumed dead. Now printing '/home/kyle/.cache/bazel/_bazel_kyle/c7d12c37ed7a4d74cf8d7e2aae5a727d/server/jvm.out':
java.lang.ExceptionInInitializerError
	at java.lang.J9VMInternals.ensureError(J9VMInternals.java:141)
	at java.lang.J9VMInternals.recordInitializat

[2017-05-30 17:59] dylanrandle commented on #10278
Hi guys, I think this issue is resolved.

[2017-05-30 17:59] #10278 closed

[2017-05-30 18:00] asimshankar commented on #10269
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-30 18:00] #10269 closed

[2017-05-30 18:00] Androbin opened #10296 "Test CMake entries against filetree"
There were some invalid entries in `tensorflow/contrib/cmake/tf_python.cmake` which are removed as of #10294 and which were discovered alongside #10264 @drpngx where I proposed extracting all file glob entries from all CMake files for better management as well as automated testing for their validity to keep things safe and sound.

[2017-05-30 18:00] drasmuss commented on #7951
I really like the new Dataset/Iterator API!  Here is a feature that would help my use-case:

I would like to be able to create iterators that share part of the data pipeline.  As a simple example, something like this:
[code]
What I'd like is for `op0` and `op1` there to output elements in the same order (because they share the `shuffle` step), but with different batch sizes.  That is, I would like

[2017-05-30 18:02] asimshankar commented on #10273
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

In particular, things like what version of the code you're building (is it the release branch or some spec

[2017-05-30 18:02] #10273 closed

[2017-05-30 18:04] asimshankar commented on #10247
Closing this out as a duplicate of #10283

[2017-05-30 18:04] #10247 closed

[2017-05-30 18:09] gunan commented on #10285
TensorFlow on windows needs at least Visual Studio 2015, due to required C++11 support.
You will need to upgrade visual studio otherwise you wont be able to compile TF on your system.

You can find some more information here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/README.md

[2017-05-30 18:09] #10285 closed

[2017-05-30 18:13] asimshankar commented on #10226
Thanks for looking into it, looking forward to a PR.

FYI @ekelsen

[2017-05-30 18:18] asimshankar commented on #10279
Thanks for the report, FYI @gunan @av8ramit

That said though, nightly builds are provided on a best-effort basis. We continue to provide release binaries for supported platforms, so 1.2.0-rc1 for Windows/GPU is available.

[2017-05-30 18:18] #10279 closed

[2017-05-30 18:19] gunan commented on #10258
As we moved our support to cuda 8.0, the support for 7.5 is best effort.
I cannot promise we will get to this in a timely manner, so I am marking this contributions welcome.
I am happy to accept a PR to fix this on CUDA 7.5 and also does not break CUDA 8.0

[2017-05-30 18:20] Garoe commented on #2412
In case it's useful for someone, I've writtend up quite a crude approach for getting a C++ project on windows that depends on tensorflow.dll built with the contrib CMake in Release
https://gist.github.com/Garoe/a6a82b75ea8277d12829eee81d6d2203

I've tested it with the example C++ code in
https://www.tensorflow.org/tutorials/image_recognition

[2017-05-30 18:21] #9979 closed

[2017-05-30 18:22] asimshankar commented on #10275
@av8ramit : Should the PR references above be included in 1.2.0-rc2 (or 1.2.0 final)?

[2017-05-30 18:24] drpngx commented on #10296
/CC @gunan @mrry

[2017-05-30 18:26] gunan commented on #10220
Looks like you enabled MKL support. I think that is why the build is failing.

[2017-05-30 18:30] gunan commented on #10296
For multiple reasons, bazel will stay as our primary build system.
cmake wont be promoted to core.
I am not against the test itself, I am happy to accept a test as you described as a contribution, and run it under contrib/cmake. But it is not a priority for us.

[2017-05-30 18:36] Androbin commented on #10296
@gunan Understandable, would you go ahead and label this as `contributions welcome`?

[2017-05-30 18:40] asimshankar commented on #10204
@dandelionmane @jart : Mind taking a look?

[2017-05-30 18:41] sharjeel7r opened #10297 "docker tensorflow python - FileNotFoundError: [WinError 3] The system cannot find the path specified: ''"
getting below error while running following command on docker. kindly assist..

$ python retrain.py \

Looking for images in 'cat'
Looking for images in 'dog'

Traceback (most recent call last):
  File "retrain.py", line 1063, in <module>
    tf.app.run(main=main, argv=[sys.argv[0]] + unparsed)
  File "C:\Users\Sharjeel.Riaz\AppData\Local\Programs\Python\Python35\Lib\site-packages\tensorflow\pytho

[2017-05-30 18:41] drpngx commented on #10296
Feel free to describe your design before you send a PR if you'd like some clarification.

[2017-05-30 18:44] Randl commented on #10220
@gunan disabling it gives same result

[2017-05-30 19:01] jthestness commented on #10226
Created PR here that fixes the race condition: #10298

[2017-05-30 19:15] asimshankar commented on #10297
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-05-30 19:15] #10297 closed

[2017-05-30 19:31] asimshankar commented on #10222
@zheng-xq @ekelsen : Mind taking a look?

[2017-05-30 19:31] asimshankar commented on #10266
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-30 19:31] #10266 closed

[2017-05-30 19:36] asimshankar commented on #10267
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-30 19:36] #10267 closed

[2017-05-30 19:39] gunan commented on #10289
I am pretty certain the cause is using anaconda python, instead of ubuntu python.
Is your python bin path included in your "path" environment variable?

[2017-05-30 19:47] fferroni commented on #10289
[code]

Yes it's included, AFAIK

[2017-05-30 19:50] av8ramit commented on #10275
@asimshankar I'll add them into rc2.

[2017-05-30 20:04] Lakedaemon commented on #8404
I managed to crosscompile tensorFlow with Basel and to build an android app with the native library.
Of course, the app crashed at runtime as it was still missing types (DT_BOOL) and probably ops too.

Today, I have been trying to cross-compile libtensorflow_inference.so  for android with more types/ops without success :
I created a "ops_to_register.h" header file that I put in tenserflow/core/fra

[2017-05-30 20:21] Lakedaemon opened #10299 "document how to use selective_registration and the use of __ANDROID_FULL_TYPE__"
Every developer wants to use his own model.
Most app built for Mobile will crash at runtime, because those model won't just use the sparse subset of ops shipped with the aar available from jcenter

Which means, that mobile developers need a way to easily and painlessly cross compile tenserflow with the right ops for their custom models.

The print_header_for_selecrtive_registration.py  script is a

[2017-05-30 20:21] aselle commented on #10182
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-30 20:21] #10182 closed

[2017-05-30 20:22] aselle commented on #10192
@petewarden, could you comment on this.

[2017-05-30 20:29] gunan commented on #10289
@damienmg Could you help look into this?
highwayhash//:siphash seems to be a cc rule, but I am not sure why we see the failure here.
maybe there is some backwards incompatible change with bazel 0.5?

[2017-05-30 20:32] aselle commented on #10142
I'm not so sure you can do the exact same thing. That method is taking into account that if you scale the computation based on the range of the existing values, you can exp and reduce (sum) in a space where there is more floating accuracy. You'd have to do that scaling and return the caling to the user. That would make for a complicated interface for users of tf.softmax.  As you say this is a know

[2017-05-30 20:37] damienmg commented on #10289
Can you try with `--action_env PATH`?

[2017-05-30 20:38] hunsteve commented on #10222
Determinism option sounds great. Until then a notice in the docs would be nice, saying that the reduction ops might be non-deterministic.

Currently this behavior does not cause serious problems to us. The way it came up was a test, where we tried to numerically compare the outputs and gradients of our implementation of a method with the reference implementation of that method in tensorflow. We go

[2017-05-30 20:54] asimshankar commented on #10234
@dandelionmane @jart : Mind taking a look?

[2017-05-30 20:57] RichDubielzig commented on #4359
Asked a new question related to this on stackoverflow.  Will also post to the xla-dev forum

https://stackoverflow.com/questions/44271775/can-tensorflow-xla-be-supported-by-plug-ins

[2017-05-30 20:58] fferroni commented on #10289
Nope.
Tried variations like `--action_env PATH`, `--action_env=PATH`, `--action_env=$PATH` to no avail.

[2017-05-30 21:09] asimshankar commented on #10299
CC/ @petewarden @andrewharp

[2017-05-30 21:10] lmkostas commented on #654
Hi, @nikitakit , I am currently working on an application in which I would like to incorporate attention with your implementation of beam search. So far I have been struggling to implement my own custom attention wrapper and I wanted to ask if you would be willing to share your code for the custom attention cells which you referenced in your most recent post? Thanks for the help in advance.

[2017-05-30 21:12] damienmg commented on #10289
`--action_env PATH="$PATH"`?

[2017-05-30 21:18] yukimach commented on #10287
I tried both allow_growth  and the fraction config parameters down until 0.1 but still getting a black screen..  a bit confused as to why that is the case. I can't log anything, since as soon as I hit enter on sess = tf.Session(config = config) the screen crashes.  Any alternatives? I thought my gpu was compatible, and all I was computing is to print hello world ..

I have a laptop with intel inte

[2017-05-30 21:22] martinwicke commented on #10178
I agree -- it's not quite a numpy shape, and so it's reasonable to make operations explicit.

[2017-05-30 21:31] austinstover opened #10301 "TensorBoard Embeddings fail if a "+" character is in LOG_DIR subdirectory filename"
### System information
- **Occurs in Tutorial**: DandelionMane's TF Dev Summit 2017 TensorBoard Tutorial
  - If learning_rate >= 1 (not that you would want to do that)
- **OS Platform**: Windows 10
- **TensorFlow install**: Binary
- **TensorFlow version**: 1.1.0
- **Exact command to reproduce**: Use a plus sign in the filename of one of LOG_DIR's subdirectories

### Problem
The tensorboard embeddi

[2017-05-30 21:37] blake-varden opened #10303 "TensorflowDebugger does not dump Stack/Pack/Concat nodes"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**:
Binary
- **TensorFlow version (use command below)**:
1.1
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN version**:
8.0/5.

[2017-05-30 21:39] hartb commented on #8466
I'm able to reproduce this on a POWER system with:

- TensorFlow        1.1.0
- Ubuntu            16.04.2 (kernel 4.4.0-77-generic)
- libc6:ppc64el     2.23-0ubuntu7
- cuda-cudart-8-0   8.0.61-1
- GPU driver        375.51

In a crash I caught, it looks like there are 2 mutexes and 2 or 3 threads involved.

First mutex is wanted by thread 1 (110471 / 0x1af87), and seems to be owned by thead 17 (110

[2017-05-30 21:47] aselle commented on #10218
Could you provide the full code?

[2017-05-30 22:21] cfperez commented on #10003
Is the request for the equivalent of
[code]
and similarly for `sparse_multiply_sparse`?

[2017-05-30 22:47] hartb commented on #8466
Confirmed that I also see this with NVIDIA driver 375.66.  I've asked NVIDIA to take a look as well.

[2017-05-30 23:11] brunoalr opened #10306 "Build fails on ppc64le"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 17.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 359d6f9716c0bb9bd8201ce600da98b0481a8049
- **Bazel version (if compiling from source)

[2017-05-30 23:19] gunan commented on #10287
The issue sounds like a problem with either your GPU, or your driver, then.
We cannot reproduce the issue you are seeing in any of your machines, so you can try stackoverflow to see how you may be able to troubleshoot your GPU on your laptop.

[2017-05-30 23:25] gunan commented on #10066
What are the CPUs and memory you are using on these machines, are they all the same?

[2017-05-31 00:00] asimshankar commented on #10303
@caisq : Mind taking a look?

[2017-05-31 00:04] ed-alertedh commented on #288
Probably worth noting that Arrayfire claims that it generally performs better than thrust [1][2]. Particularly in "row-wise" cases. The advantage of thrust is that, as far as I can tell, it already works in the current build environment without needing to add any third_party headers. So I took this as the path of least resistance. I'm sure you're constantly fighting people trying to add more and m

[2017-05-31 00:12] martinwicke commented on #288
There's no fundamental problem with, although I am less than excited to add another STL implementation.

Can we use it instead of something else we're using in core/lib? Can we check what the effect on build times is (by adding it as a dependency in a PR)?

[2017-05-31 00:36] caisq commented on #10303
@blake-varden This is not a bug. The reason why you see no data dumped is because every node is constant folded in the graph set up by your code. `tf.ones` defines a TF constant. So all the downstream tensors like `stacked` and `concat` are effectively constant. TF's graph optimization knows that and folds all nodes into one.

If you replace `tf.ones` with a `tf.Variable`, you'll see the data dump

[2017-05-31 00:42] caisq commented on #10303
Re-opening the issue as a doc bug. I plan to add a Q&A item for this behavior.

[2017-05-31 00:57] pottergxy commented on #6533
(step 1) conda create -n py35 python=3.5
(step 2) activate py35
(step 3) conda create -n tensorflow
(step 4,only for GPU) pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/windows/gpu/tensorflow_gpu-1.1.0-cp35-cp35m-win_amd64.whl

[2017-05-31 01:09] ahundt commented on #7951
What @drasmuss suggests is very useful for segmentation tasks where both labels and images need to be augmented. For example the images could very reasonably use bilinear interpolation, but interpolating label values is not okay because a label boundary of 0 and 2 should not be interpolated to the completely different label of 1.

[2017-05-31 01:30] Bondifrench commented on #37
:+1:

[2017-05-31 03:42] fword commented on #10262
print sess.run([feat1,feat2])

[2017-05-31 03:42] #10262 closed

[2017-05-31 05:16] KrnTneja commented on #527
I had the same problem when I installed TesnsorFlow using pip in CentOS 6.7 cluster. But using Miniconda, I directly install using 'conda install tensorflow' and it works.

[2017-05-31 05:29] alexeieleusis commented on #4894
I tried this and finished without errors, I don't know yet if it works https://stackoverflow.com/a/38088879/224255

tl;dr add `--user` parameter to the `install` command: `pip3 install tensorflow --user`

[2017-05-31 05:45] wangyaobupt commented on #10213
Thank you guys, after change the "self.batch_size_t" definition to self.batch_size_t = tf.placeholder(tf.int32, []), it fixed.

[2017-05-31 06:43] ashern commented on #9831
Rebuilt from 7937fb34dbd9fd04dc878eefa6ccfe00d1262f2e and this behavior has changed. I'm not sure that it's quite correct - perhaps it's using the allow_growth option instead of per_process_gpu_memory_fraction?

[1] TITAN X (Pascal) | 62'C,  29 % | 12049 / 12189 MB | asher(457M)

is the result of:
session_config.gpu_options.per_process_gpu_memory_fraction = 0.40

Which I would expect to reserve 40

[2017-05-31 06:54] zhangyaobit commented on #9906
The queue and enqueue ops don't need to be replicated; only dequeue node is replicated, so that multiple GPUs could dequeue and work in parallel. If there is a lot of preprocessing for input data, you may consider using more threads for input preprocessing, so that it keeps up the GPU computations.

The time for apply gradient depends on the models. For small models, it may become a bottleneck; fo

[2017-05-31 07:05] giuliohome commented on #18
Which is the status of .Net binding as of today? Are C# and F# really usable languages to work with Tensor Flow or the situation is still as described in [this previous comment](https://github.com/tensorflow/tensorflow/issues/18#issuecomment-270672765)? Thanks for the quick recap

[2017-05-31 07:13] asimshankar commented on #18
@giuliohome : The TensorFlow maintainers do not maintain or support the C#/F# bindings and have no plans of doing so. However, we happily point you to [TensorFlowSharp](https://github.com/migueldeicaza/TensorFlowSharp), which is built on top of the supported C API. Any questions/comments/concerns you have there are better raised in the TensorFlowSharp repository.

[2017-05-31 07:14] samhains commented on #22
this is probably a stupid question, but is there a good chance of getting this working on my AMD Radeon Pro 460  @rodburns ? I would be happy to spend a few hours getting ubuntu running on my Macbook laptop to test this if there is hope for me

[2017-05-31 07:16] RobSalzwedel commented on #7511
Is there any progress on this feature?

[2017-05-31 07:19] JimSEOW commented on #18
@giuliohome please visit Tensorflowsharp. We are using the latest window dll contributed by this group C API. We need more people to port python tensorflow examples/tutorials codes to .NET

[2017-05-31 07:56] evan176 opened #10311 "Different arg names for conv1d"
### System information
- **TensorFlow version (use command below)**: r1.1

### Describe the problem
In latest verion, tf.nn.conv1d and tf.nn.conv2d has different arg names for filter and stride.
tf.nn.conv1d:
    filters: A 3D Tensor. Must have the same type as input.
    stride: An integer. The number of entries by which the filter is moved right at each step.
tf.nn.conv2d:
    filter: A Tensor.

[2017-05-31 07:57] asimshankar commented on #10306
That error seems to be coming from your JDK installation

Could you describe your bazel installation process and the JDK you're using (required by bazel)? For example, `java -version`?

[2017-05-31 08:19] michal-kierzynka commented on #7664
Hi,
I'm trying to move my LSTM network from TF v0.12 to v1.1, but its learning capabilities are very different:
in v0.12 I had:
`    cell = tf.nn.rnn_cell.BasicLSTMCell(num_units=n_hidden, state_is_tuple=True)
    cell = tf.nn.rnn_cell.MultiRNNCell([cell] * num_layers)
    cell = tf.nn.rnn_cell.DropoutWrapper(cell, output_keep_prob=dropout)`

in my TFv1.1 code I have now:
`    cell = []
    for _

[2017-05-31 08:34] asimshankar commented on #10169
I believe this happens because:

- `tf.image.decode_jpeg` returns a `tf.uint8` tensor
- `tf.image.resize_image_with_crop_or_pad` doesn't do any numerical operations on the pixel values, it just crops or pads to change the shape of the input tensor but returns a tensor of the same type. In this case, it's a `tf.uint8` tensor.
- [`tf.image.resize_images`](https://www.tensorflow.org/api_docs/python/t

[2017-05-31 08:50] MuhammadHamed commented on #9469
Hi @quatre008 ... I am having the same error as u had. Which visual studio version did u use ?

[2017-05-31 08:59] asimshankar commented on #10281
Thanks for the report. I haven't traced down how, but it seems this was fixed in a later release (I'm unable to reproduce the failure in TensorFlow 1.1 or the release candidate for the next version - 1.2.0-rc0).

Is it possible for you to upgrade to a later version (1.1.0 for example)?

[2017-05-31 09:03] asimshankar commented on #8743
Closing due to inactivity (don't see an update after the suggestion in the previous comment).

If you're still having trouble, please feel free to file a new, updated issue.

[2017-05-31 09:03] #8743 closed

[2017-05-31 09:05] asimshankar commented on #9017
Closing due to inactivity.

If you're still running into trouble, please feel free to file a new updated issue (including the response to the question raised in the previous comment).

Thanks!

[2017-05-31 09:05] #9017 closed

[2017-05-31 09:07] asimshankar commented on #8947
Closing due to inactivity. If you're still running into this, please feel free to file an updated issue (including any output from suggestions above). Thanks!

[2017-05-31 09:07] #8947 closed

[2017-05-31 09:08] #9421 closed

[2017-05-31 09:45] yukimach commented on #10287
Ok. Thank you, I'll have a look into that on stackoverflow.

[2017-05-31 11:08] fumin opened #10315 "tf.image.central_crop returns zero dimension shaped tensors"
* I have written custom code.
* OS platform
c++ (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4
Copyright (C) 2013 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* Tensorflow version
1.1.0-rc2
* GPU model
Wed May 31 11:49:29 2017
+--------------------------------------------

[2017-05-31 11:53] tazr opened #10317 "mnist_with_summaries does not produce node statistics"
### System information
- Windows 7 Enterprise 64
- TF 1.1.0 installed from pip
- CUDA 8.0/cuDNN 5.1.5
- GeForce GTX TITAN X
- command: python mnist_with_summaries.py

### Describe the problem
In https://www.tensorflow.org/get_started/graph_viz, mnist_with_summaries is given as an illustration of how to use tensorboard to show node statistics. However, it does not produce node statistics on my comp

[2017-05-31 12:16] Netzeband commented on #8787
I'm also very interested in using TF Record-files with Keras. I read several issues, that are related to this feature, read the stack-overflow question (https://stackoverflow.com/questions/42184863/how-do-you-make-tensorflow-keras-fast-with-a-tfrecord-dataset) and saw the pull request https://github.com/farizrahman4u/keras-contrib/pull/27

What is the current state of this Feature?
Can I merge the

[2017-05-31 12:52] Androbin commented on #10299
Couldn't agree more! At least the following should work:
`bazel build -c opt --copt="-DSELECTIVE_REGISTRATION" //tensorflow/contrib/android:libtensorflow_inference.so --config=android_arm`

[2017-05-31 12:54] Androbin commented on #10254
Continuing at #10299

[2017-05-31 13:09] Androbin commented on #10299
current reference for selective registration: [core/framework/selective_registration.h](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/selective_registration.h)

[2017-05-31 13:14] Androbin commented on #10290
Are you sure about `tf.concat`? The documentation at `https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/array_ops.cc#L369` doesn't say so. This might be a consistency issue.

[2017-05-31 13:22] Androbin commented on #10311
The naming for conv2d and conv3d seems to match: `input, filter, strides, padding`
This should be used in conv1d as well: `value -> input, filters -> filter, stride -> strides`

[2017-05-31 14:16] girving commented on #10290
Yep, just confirmed in a shell.  I'll fix the documentation for `tf.concat`.

[2017-05-31 14:24] maxfiedler commented on #7951
I am only starting to read into the new API, but I want to share two problems that I had with the old Input Queues in concurrence with using MonitoredSession with SessionRunHooks.
We also used two separate queues, one handling input data_files as string names and the other one the resulting input data with preprocessing being done in between those two.
We needed to make sure that the enqueue opera

[2017-05-31 14:48] fbcotter commented on #483
(This is obviously only a temporary fix for those that find themselves at this thread before the official tf.arg is added). You can do it with existing tensorflow operations, like:

    def angle(z):
        """
        Returns the elementwise arctan of z, choosing the quadrant correctly.

        Quadrant I: arctan(y/x)
        Qaudrant II: π + arctan(y/x) (phase of x<0, y=0 is π)
        Quadran

[2017-05-31 14:50] fbcotter commented on #483
Also, I would have thought calling it `tf.angle` would be nicer than `tf.arg`, as it then mimics numpy's `np.angle`

[2017-05-31 14:57] carlthome commented on #483
np.angle

Conformity is great, but then for API symmetry, `tf.abs` should also have an alias `tf.magnitude` that only takes complex numbers, no? It's rather NumPy that goofed by having abs(z) but not arg(z), IMO. Also, angle could refer to a lot of things not related to complex numbers, in my mind.

[2017-05-31 15:00] kzos opened #10325 "How to add cwise_op_floor_mod to build libtensorflow-core.a for ANDROID"
OS: Ubuntu 16.04 64bits
Android Version: 7.1 (Nougat)
NDK Version: android-ndk-r12b
HEXAGON SDK: 3.1

When i am trying to build benchmark app, using make build, floor mod operation is not getting added by default,

### By default:-
when I issue below command, cwise_op_floor_mod.cc is not getting compiled against most of the files getting compiled in core/kernel/ folder
`make -f tensorflow/contrib/

[2017-05-31 15:09] tfboyd commented on #9939
Fix is checked in internally and should get synced today.  I am attempting to make sure it is in the next 1.2 RC as a final cherry pick.

[2017-05-31 15:21] shyamalschandra opened #10329 "Problem exporting the weight matrix for each layer along with all the hyper parameters of each layer and their connectivity."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

Yes, I have modified Tensorflow before but not w.r.t. this problem. (I used the binaries provided by conda and pip)

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

macOS 10.12 Sierra for iMac

- **TensorFlow installed from (source or binary)**:

1.1.+

- **

[2017-05-31 15:31] wqj97 commented on #10169
Yeah~
It works
Thx!

[2017-05-31 15:31] tfboyd commented on #9339
This is so close.  Is is submitted internally and I am working to get it synced to github.  Why say anything until it is in master?  Because I am so happy this is finally nearly done.  :-)  I will update and close as soon as I see this in master.

[2017-05-31 15:45] mrry commented on #10154
I've created a script for diagnosing common TensorFlow on Windows installation issues. Please download the script from https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c and run `python tensorflow_self_check.py`. It will print suggestions for how to fix your installation. Let me know if you are still facing problems after running the script.

[2017-05-31 15:49] mrry commented on #10199
@petewarden Assigning this to you, since I think you added the CPU info warning. It looks like we can't use the same macros to test for the presence of SSE on Windows (and we're producing reams of false positives because almost all of our Windows builds are x86-64, and so always have SSE and SSE2).

[2017-05-31 15:49] ahundt commented on #8787
It will be very different. Implementation has not yet started.

[2017-05-31 15:53] albertz opened #10332 "[Feature request] dynamically catch exceptions in TensorFlow as part of the graph execution"
Via [this StackOverflow question](https://stackoverflow.com/questions/44137542/dynamically-catch-exceptions-in-tensorflow-as-part-of-the-graph-execution):

E.g. the `QueueBase.dequeue` function can raise an `OutOfRangeError` exception which I will receive in Python from the `Session.run` call. It would be nice to catch the exception inside the graph, similar as `tf.cond`. E.g. something like:

[2017-05-31 16:02] #10169 closed

[2017-05-31 16:11] Netzeband commented on #8787
Oh, too bad. When reading the stackoverflow answer, I really thought, that this feature is almost done :-)

I was thinking about using Keras (the first time) for my next project. But since I have over 100GB TFRecord-Files as training data, this seems not to be an good option currently.

However thank you very much for driving this topic. If there was a prototype implementation, I would have tested

[2017-05-31 16:18] brunoalr commented on #10306
I tried running
`bazel --host_jvm_args=-XX:+IgnoreUnrecognizedVMOptions  build --config=opt --verbose_failures --show_package_location  //tensorflow/tools/pip_package:build_pip_package`
as a way to ignore the issue with `-client`, but I still get the same error.

[2017-05-31 16:28] vonclites commented on #7951
1. Anything that helps me analyze if and where the bottleneck lies in the training pipeline would be great. For example, a way to monitor the number of examples in the buffers along the input pipeline would be helpful. Or the number of items processed per thread of a .map() operation  Basically, something along the lines of how the queues create summaries for the number of images they are holding.

[2017-05-31 16:29] mrry commented on #9170
(As a temporary workaround...) I've created a script for diagnosing common TensorFlow on Windows installation issues. Please download the script from https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c and run `python tensorflow_self_check.py`. It will print suggestions for how to fix your installation.

[2017-05-31 16:30] normanheckscher commented on #8787
I'm in a similar situation to you, netzeband.

I'm sure Andrew will correct me if I'm wrong, however, the code in the PR looks good as a single example on 28x28 single channel images. It doesn't appear that it will work with other datasets unless you change the code in the PR to suit your own dataset. For the code to be pulled into TensorFlow master, it'd need to be genericised and also be ported

[2017-05-31 16:30] mrry commented on #9167
For users who find this issue when searching for the error message, I've created a script for diagnosing common TensorFlow on Windows installation issues. Please download the script from https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c and run `python tensorflow_self_check.py`. It will print suggestions for how to fix your installation. Let me know if you are still facing problems aft

[2017-05-31 16:30] mrry commented on #9484
For users who find this issue when searching for the error message, I've created a script for diagnosing common TensorFlow on Windows installation issues. Please download the script from https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c and run `python tensorflow_self_check.py`. It will print suggestions for how to fix your installation. Let me know if you are still facing problems aft

[2017-05-31 16:30] mrry commented on #5949
For users who find this issue when searching for the error message, I've created a script for diagnosing common TensorFlow on Windows installation issues. Please download the script from https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c and run `python tensorflow_self_check.py`. It will print suggestions for how to fix your installation. Let me know if you are still facing problems aft

[2017-05-31 16:30] mrry commented on #9603
For users who find this issue when searching for the error message, I've created a script for diagnosing common TensorFlow on Windows installation issues. Please download the script from https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c and run `python tensorflow_self_check.py`. It will print suggestions for how to fix your installation. Let me know if you are still facing problems aft

[2017-05-31 16:39] brunoalr commented on #10306
If I config my jdk installation to ignore the error ( `sudo sed -i "\$a-client IGNORE" /usr/lib/jvm/java-1.8.0-openjdk-ppc64el/jre/lib/ppc64le/jvm.cfg` ), I got a different error:

[code]

Looking closer:

It seems that `external/org_nodejs/bin/node` is an architecture-dependent (x64) binary...

[2017-05-31 16:40] asimshankar commented on #10325
Not all operations are included for Android by default in order to reduce binary size.

To include `cwise_op_floor_mode.cc` in your build, you'll need to add that to [`tf_op_files.txt`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/makefile/tf_op_files.txt) (more details in the [README](https://github.com/tensorflow/tensorflow/blob/4be052a5fc9e6569fcf07da3e9615b463e008266

[2017-05-31 16:41] hartb commented on #8466
The results of my testing so far as as follows. All tests with Ubuntu 16.04.2 (kernel 4.4.0-72 or -78) and CUDA 8.0.61:

    TF      Driver    cuDNN     Comment
    1.0.1   361.119   5.0.10    OK
    1.0.1   375.51    5.1.10    Hang/Assert
    1.0.1   375.51    6.0.20    Hang/Assert
    1.1.0   361.119   5.0.10    OK
    1.1.0   375.51    6.0.20    Assert
    1.1.0   375.66    6.0.20    Assert/Han

[2017-05-31 16:41] jonasrauber opened #10338 "tensorflow.Session() crashes if executed after importing scipy.optimize and pytorch"
### Configuration

Python version: 3.5.2 (same for Python 3.6)
SciPy version: 0.19.0
PyTorch version: 0.1.12_2
TensorFlow version: 1.1.0
Host system: Ubuntu 16.04

### Dockerfile to reproduce my setup:

[code]

### Describe the problem

[code]

### Output

The above error message is followed by a huge backtrace that starts like this ...

[code]

and ends like this

[code]

[2017-05-31 16:43] jonasrauber commented on #10338
I should mention that the crash does NOT happen if the imports are in a different order or any of the imports is left out. Very obscure!

[2017-05-31 16:45] asimshankar commented on #10329
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

(That said, in this case the files you're looking at are produced by [`tf.train.Saver`](https://www.tensorflow.org/api_docs/python/tf/train/Saver) - whose documentation will describe

[2017-05-31 16:45] #10329 closed

[2017-05-31 16:55] fferroni commented on #10289
Hi,

That worked!

[code]

 However, I then build a wheel (still fine)

[code]

I install the wheel tensorflow-1.2.0rc0-cp36-cp36m-linux_x86_64.whl

[code]

but when I try to import tensorflow, it fails :(

[code]

Is it an issue with the building process, or making the wheel, or installing the wheel?

[2017-05-31 16:59] SealLive opened #10342 "Compilation error when install with CUDA 7.0: image_ops_gpu.cu.pic.o was not created"
Similar to
[https://github.com/tensorflow/tensorflow/issues/10258](url)
and
[https://stackoverflow.com/questions/44116381/error-when-install-tensorflow-from-source](url),
no working solutions yet.
When I'm trying to install tensorflow r1.1 from source with CUDA 7.0, this error comes up:
[code]
Environment is Ubuntu 14.04, CUDA 7.0, CUDNN 4, gcc 4.8.4, bazel 0.4.5, tensorflow r1.1.
Because I don't

[2017-05-31 17:01] fferroni commented on #10289
Hi,

That worked. Ran into another issue `ModuleNotFoundError: No module named 'tensorflow.python.pywrap_tensorflow_internal'`when importing the tensorflow in python, but that's only because I was running the shell in the git directory :)

Will close the issue.

[2017-05-31 17:01] #10289 closed

[2017-05-31 17:08] emulvihill commented on #6999
I can confirm that the hack works to copy the python 3.5-installed tensorflow packages from site-packages, and copy it back into python 3.6 after hex-editing the pywrap_tensorflow_internal.pyd, to change python35->python36 .

Still it would be great if this package was kept current, a lot of people do want to use Windows platform but it's very hard to make a cohesive environment when different ML

[2017-05-31 17:26] caisq commented on #10338
Looks like some sort of GPU resource conflict? @mrry @zheng-xq

[2017-05-31 17:29] aselle commented on #10240
Googling the error and wide&deep yielded these results. Please see if they help you.

https://stackoverflow.com/questions/36349049/overcome-graphdef-cannot-be-larger-than-2gb-in-tensorflow
https://github.com/tensorflow/tensorflow/issues/5383
https://stackoverflow.com/questions/41439136/wide-deep-learning-for-large-data-error-graphdef-cannot-be-larger-than-2gb

[2017-05-31 17:30] aselle commented on #10226
Thanks for creating the fix @jthestness!

[2017-05-31 17:30] #10226 closed

[2017-05-31 17:39] jubjamie opened #10348 "Android Detect App does not draw overlay correctly."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: [No] Further troubleshooting shows a minor change may cause this.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Android 7.1
- **TensorFlow installed from (source or binary)**: N/A (Nightly apk)
- **TensorFlow version (use command below)**: 1.1,1.2
- **Phone

[2017-05-31 18:09] brett--anderson commented on #2277
I'm seeing this error on assignment 4 when running on the GPU. If I switch back to CPU it completes successfully. Any tips on how to tweak this so I can run it on the GPU? (GTX 1070)

[2017-05-31 18:11] jonasrauber commented on #10338
TensorFlow is the only one using the GPU. PyTorch does not access it just because its imported.

[2017-05-31 18:17] osdamv opened #10350 "Build Android demo, ambiguous python reference"
Hi, while I was building the android demo with the command `bazel build -c opt //tensorflow/examples/android:tensorflow_demo --verbose_failures`,  it throw the error:

[code]

I debuged the error and the cause is in the file `bazel-out/host/bin/external/bazel_tools/tools/android/resource_extractor` around the line 35:

[code]

the script  need and assumes the default /usr/bin/python is linked to p

[2017-05-31 18:59] malmaud opened #10352 "Feature request: Update OpDef proto to ease 1-based indexing"
It would be nice if the `OpDef` proto included information on which inputs and attributes are indices, so that TensorFlow bindings for index-from-1 languages (like Julia) could automatically subtract 1 from the parameters of client calls that refer to those parameters.

Currently, the Julia binding has to rely on [rough heuristics](https://github.com/malmaud/TensorFlow.jl/blob/40d963f010bd394258d4

[2017-05-31 20:22] maverickg opened #10355 "confusing warning of rank of input Tensor should be the same as output_rank"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-05-31 21:10] Kankroc commented on #3628
I have (what I believe is) the same error using TF 1.1 on Ubuntu when trying to load a frozen version of  Inception v4:

`ValueError: graph_def is invalid at node 'save/Assign': Input tensor 'InceptionV4/AuxLogits/Aux_logits/biases:0' Cannot convert a tensor of type float32 to an input of type float32_ref.`

Unfortunately the answer above did not have any effect on the error message.

[2017-05-31 21:47] ahundt commented on #8787
@normanheckscher is correct

[2017-05-31 22:09] girving commented on #10290
@vrv @cwhipkey Fixed by someone else two hours before I submitted my CL.

[2017-05-31 22:09] #10290 closed

[2017-05-31 23:02] gunan commented on #7966
I think this is resolved? Or are we still seeing this build failure with avx2?

[2017-05-31 23:07] amirmazaheri1990 commented on #213
Hi,

My question may be a little bit different than what is already asked.
If I define a class like below:

[code]

And get **one** instance of this class in my code and use it multiple times by using its `apply` function. Does it mean that I have shared the same weight matrix (they have equal values in them) in different parts of my graph? Or it will make different matrices and update the variabl

[2017-05-31 23:16] lukaszkaiser commented on #213
Please use tf.get_variable. Reuse will *not* work with tf.Variable and you should basically *never* use it, always go for tf.get_variable instead.

[2017-05-31 23:25] amirmazaheri1990 commented on #213
@lukaszkaiser  Thanks a lot for your prompt response and the good tip.

Actually, my main concern is about using object oriented style programming in TF.

If I implement a costume layer as a class (Dense layer in my toy example above), can I do weight sharing by just getting one instance of that class and use it multiple times? Or the TF engine will internally make different ones and update them c

[2017-05-31 23:49] Spenhouet opened #10357 "TensorFlow build: protobuf/pyext/_message.so' failed"
I'm trying to build TensorFlow with Bazel on Windows.

But i'm getting this error:

    ERROR: C:/users/spenh/appdata/local/temp/_bazel_spen/icnq02mb/external/protobuf/BUILD:623:1:
    C++ compilation of rule '@protobuf//:python/google/protobuf/pyext/_message.so' failed:
    msvc_cl.bat failed: error executing command
    external/local_config_cc/wrapper/bin/msvc_cl.bat /DOS_WINDOWS=OS_WINDOWS /DC

[2017-05-31 23:52] lukaszkaiser commented on #213
It is a little tricky to do the OO-style right, but we're working to provide a convenient way to do it as follows.

First of all, let your class be a sub-class of Layer from tensorflow/python/layers/base.py: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/layers/base.py

This will handle everything related to scopes. It will open new scope if you provide a name for your laye

[2017-06-01 00:05] guschmue commented on #7966
yes, avx2 build are still failing - looking at it.

[2017-06-01 00:18] asimshankar commented on #10357
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

(As per https://www.tensorflow.org/install/install_sources - building from source on Windows isn't supported yet, in that we don't have the bandwidth to debug various configurations.

[2017-06-01 00:18] #10357 closed

[2017-06-01 01:00] jart commented on #10352
@josh11b Our friend here maintains the [Julia language wrapper for TensorFlow](https://github.com/malmaud/TensorFlow.jl). It would make his job easier if the OpDef proto specified which inputs and attributes are indices. Does this sound like a reasonable request to you?

[2017-06-01 01:12] johndpope commented on #19
so proto buffers are neat. turns out you can rip apart trained models with a few lines of swift code.
here's a gist using inception  .pb   trained model
https://gist.github.com/johndpope/5b6bb864d335398bf9b0886c4a09217d

@siilime - if you got any bandwidth... I've done some draft work to generate operations en masse . using stencil. this is using native c api. there's a few warts.
https://github.c

[2017-06-01 01:18] josh11b commented on #10352
It sounds like a reasonable feature, but it would be hard to write a test that it is correct.  Combined with 1-based-indexing languages being off the radar for most people authoring ops, it seems like it would likely be unreliable in practice even if we added it to the OpDef. I'm further concerned that if we get this wrong for an op it could very well be a backwards-incompatible change to fix the

[2017-06-01 01:27] ed-alertedh commented on #9506
+1 general support for int types on GPU would be great across the board

[2017-06-01 01:29] aselle commented on #10350
@petewarden, who would be good to take a look?

[2017-06-01 01:38] andrewharp commented on #10350
@osdamv The simplest fix would seem to be to install Python 2.X if possible.

Closing however as this doesn't appear to be an actual issue with TensorFlow. You would probably be better off making a Bazel GitHub issue or asking on StackOverflow.

[2017-06-01 01:38] #10350 closed

[2017-06-01 01:49] andrewharp commented on #10348
@jubjamie Some screenshots would be very helpful as I don't have a device on hand to verify this with. It's possible this is a bug in how those devices report the camera or display orientation and the code mixes up width and height, or something of that nature.

When you turn on debug visualizations (using the volume keys), what do you see in the thumbnail view? It should be rendering static detec

[2017-06-01 02:20] thinxer commented on #10204
On the 'summaries are overwritten' part: TensorBoard [downsamples](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tensorboard/README.md#is-my-data-being-downsampled-am-i-really-seeing-all-the-data) the summaries so that it can loaded into the memory.

[2017-06-01 02:35] smarttafirt opened #10360 "How to compile a 32-bit shared library with bazel on a 64-bit machine ?"

[2017-06-01 02:59] StarRain-L opened #10361 "Excuse me,I know this is a basic problem, but I don't know how to solve, time is tight, trouble to give some guidance, how to find the lost files, such as libprotobuf - lite. a, libprotobuf. a?"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-06-01 03:12] asimshankar commented on #10361
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

Though, based on the title, it seems that this question is better asked on  [StackOverflow](http://stackov

[2017-06-01 03:12] #10361 closed

[2017-06-01 03:17] StarRain-L commented on #10361
Thank you for your prompt reply, send you screenshots to my question!!!

![111](https://cloud.githubusercontent.com/assets/8908244/26663189/b353075c-46bb-11e7-8f51-e81efd626b8f.png)

[2017-06-01 03:42] steven-hh-ding commented on #9701
`tensorboard --logdir==training:log_dir --host=127.0.0.1`
works for me (1.2.0rc1)

[2017-06-01 04:55] allenlavoie commented on #10270
Interesting timelines, and sorry you're running into this. Some/most of this time is likely copying to host memory: we don't actually have a GPU kernel for unique, but one needed to be [registered](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/unique_op.cc#L102) to avoid interfering with op placements. The computation happens on the CPU.

So this could be sped up by

[2017-06-01 05:51] amohant4 commented on #834
optimizer.minimize(loss, var_list=[your variables]) will optimize over the list of variables.

But is there a way to optimize over a subset of a given variable while treating the rest of it as constants? What I mean is : say I have a 2D variable named W_fc of size 2x2. I want to optimize over W_fc[0][0] and W_fc[1][1] and treat W_fc[0][1] and W_fc[1][0] as constants.

[2017-06-01 06:09] HaroldZ opened #10362 "dataset.output_shapes returns demension(none) after batching"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:1.2.0-rc0
- **CUDA/cuDNN version**:8.0
- **GPU model and memory**:GTX 1080 8G

### Desc

[2017-06-01 07:01] albertz commented on #8286
@yaroslavvb Was that a typo in your latest post? Otherwise it sounds exactly like the opposite.
Btw., why is that that NCWH is faster than NHWC? ([Related StackOverflow question.](https://stackoverflow.com/questions/44280335/how-much-faster-is-nchw-compared-to-nhwc-in-tensorflow-cudnn)) Is that also the official Nvidia statement, or have people just seen that in benchmarks? Do you have any referen

[2017-06-01 07:14] albertz commented on #8286
Is it right that the CPU implementation currently only supports NHWC and fails otherwise? Looked like that in the code, no automatic transposing. But maybe I'm missing something.

[2017-06-01 07:49] ruppeshnalwaya1993 commented on #3427
In the latest Tensorflow, this problem pops up again.
When I execute tensorflow/contrib/makefile/download_dependencies.sh
I get following error:
downloading http://mirror.bazel.build/bitbucket.org/eigen/eigen/get/f3a22f35b044.tar.gz
tar: Unrecognized archive format
tar: Error exit delayed from previous errors.

This error was not there in the Tensorflow on May 10
https://github.com/tensorflow/tens

[2017-06-01 07:57] Spenhouet commented on #10357
@asimshankar
Why is this not a bug? How do you know?

[2017-06-01 08:08] asimshankar commented on #10357
@Spenhouet :  You snippet suggest that it is failing to build the protocol buffer library (not TensorFlow code) when using a particular version of MSVC.

What I meant to convey in the previous comment is that this is not a configuration that we have the bandwidth to support or debug. Figuring this out would require some experience/expertise with bazel-on-windows-building-protobuf-using-MSVC. You'r

[2017-06-01 08:12] laoreja opened #10363 "TensorBoard: Graph Visualization failed Runtime statistics"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Debian 8 (jessie)
- **TensorFlow installed from (source or binary)**: using virtualenv, pip install
- **TensorFlow version (use command below)**: 1.1.0
- **Bazel version (if compiling from source)**:
- *

[2017-06-01 08:24] ashokbugude opened #10364 "worker.pb.h file not found"
I am trying to find the file worker.ph.h file which is included in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/distributed_runtime/rpc/grpc_remote_worker.cc

Can I know if need to run any command like below one to generate the file
**bazel build tensorflow/cc:cc_ops** as indicated in https://github.com/tensorflow/tensorflow/issues/3017 to generate the respective ops files

[2017-06-01 08:45] bachhavpramod commented on #9090
I was stuck from 2 days because of this stupid error before I found this post. Thank you very much for the solution.

[2017-06-01 08:51] asiakaczmar commented on #10003
Thank you for replying! As far as we know tf.multiply requires both a and b to be Tensors and we would like it to accept SparseTensor (possibly as one or both arguments, we could work with either). We couldn't find a_is_sparse flag in tf.multiply documentation (nor source, but it could be hidden somewhere). Also sparse_multiply would return Tensor as result, but sparse_multiply_sparse would return

[2017-06-01 08:53] danqing opened #10367 "Error building TensorFlow from source"
### System information

- No custom code.
- Ubuntu 16.04.
- Trying to compile Tensorflow r1.1 from source.
- Bazel 0.5.0
- CUDA 8.0, cuDNN 5
- K80 GPU (12GB memory)

### Describe the problem

I'm trying to build TensorFlow from source, with CUDA support. My CUDA and cuDNN are installed successfully, as I can run a TensorFlow program fine (with pre-built TensorFlow GPU image).

The command I used w

[2017-06-01 08:59] jpuigcerver commented on #10258
Hi @gunan, I created a PR that fixes this problem.

[2017-06-01 09:03] Czxck001 commented on #6541
I've done some simple profiling and it seems the CPU version of tf.spectrum.fft is slow in small `nfft` because of EIGEN fft function. The most time spent on the execution of CPU fft kernel is by EIGEN fft function.

[2017-06-01 09:07] kratzert commented on #7951
In the last couple of days I was playing around quite a bit with the new Input API and I think the `Dataset` and `Iterator` classes improve highly the clearness and readability of code (compared to the old input queues). Also switching between e.g. training and validation dataset within one session works quite effortless.

But I have also some questions and suggestions.
Maybe first a question: Is

[2017-06-01 09:24] jcimoch commented on #37
+1

[2017-06-01 09:57] jubjamie commented on #10348
@andrewharp Curiously i'm not getting the same behaviour from my 6P today. However the Pixel C is giving me trouble. It looks like it's to do with how the camera feed is displayed as it is being cropped and squished but the overlay goes on as if it hasn't it.
Using the debug view is fine and shows that the camera preview feed is being cropped as I can see much more in the debug view than the main

[2017-06-01 10:03] snnn opened #10369 "Deadlock in MapDataset"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
no

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 14.04

- **TensorFlow installed from (source or binary)**: source

- **TensorFlow version (use command below)**:
95d90ab2e0994127ffc42b80e16a3f532895cf6d

- **Bazel version (if compiling from sou

[2017-06-01 10:10] snnn commented on #10369
(gdb) thr 14
	(gdb) f2
	(gdb) p *mutex
	$2 = {__data = {__lock = 2, __count = 0, __owner = 28288, __nusers = 1, __kind = 0, __spins = 0, __elision = 0,
		__list = {__prev = 0x0, __next = 0x0}},

This mutex is owned by LWP 28288. (Thread 12),  which is waiting the output_buffer_ to be non-empty.

[2017-06-01 10:16] #10325 closed

[2017-06-01 10:16] kzos commented on #10325
it does works, thanks

[2017-06-01 11:05] sandipmgiri commented on #10281
Hi @asimshankar, I have upgraded TF version from 1.0.1 to 1.1.0 , and now this test is passing

Thanks for your suggestion!

[2017-06-01 11:14] ashokbugude commented on #10214
Hi , I am trying to print log statements in 'DirectSession::Run' from https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/core/common_runtime/direct_session.cc#L364

as described in https://stackoverflow.com/questions/24325463/how-to-get-console-output-of-log-lines-printf-cout-etc-of-c-library-use

and then built the libraries from source file.

I have then used the library in android nd

[2017-06-01 11:18] #10281 closed

[2017-06-01 11:47] irfan-zoefit commented on #3431
Getting following error after updating `cxx_builtin_include_directory: "/usr/local/cuda-7.5/include`

[code]

[2017-06-01 11:53] mlghost commented on #10154
Hi derek
At first thank you for your response
I ran your script and it's results is :

ERROR: Failed to import the TensorFlow module.

- Python version is 3.5.

- TensorFlow is installed at: C:\Program
Files\Anaconda3\lib\site-packages\tensorflow

- Could not load 'cudnn64_5.dll'. The GPU version of TensorFlow
  requires that this DLL be installed in a directory that is named in
  your %PATH% envi

[2017-06-01 12:55] MaximilianKoestler opened #10370 "Bug: ProtoBuf tokenizer crashes when loading single_image_random_dot_stereograms OP"
### System information
- No custom code
- Ubuntu 17.04 (also confirmed on 16.04)
- TensorFlow installed from source
- TensorFlow version: v1.2.0-rc0-486-g95d90ab2e 1.2.0-rc1
- Bazel version: 0.5.0
- Python version: 3.5.3 (also confirmed on 2.7.12):
- Not tested with GPU support:

Reproduction
------------------

    import tensorflow as tf
    regressor = tf.contrib.learn.LinearRegressor(feature_c

[2017-06-01 12:58] sandipmgiri opened #10371 "//tensorflow/tools/test:cast_op_benchmark and //tensorflow/tools/test:rnn_op_benchmark tests are failing with KeyError: 'l2_cache_size' on ppc64le"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
      Ubuntu 16.04 (ppc64le)
- **TensorFlow installed from (source or binary)**:
     Installed from source (v1.0.1)
- **TensorFlow version (use command below)**:
     ('v1.0.1-0-ge895d5c-dirty', '1.0.1')
- **Bazel version (if compiling from source)**:
     0.4.4-2017-05-26 (@80a07b5)
- **CUDA/cuDNN version**:

[2017-06-01 13:04] tazr commented on #10363
That is a duplicate of https://github.com/tensorflow/tensorflow/issues/10317, albeit with a different configuration.

[2017-06-01 13:28] Lakedaemon commented on #8404
I have tried a few commands :
1) bazel build -c opt --copt="-DSELECTIVE_REGISTRATION" tensorflow/contrib/android:libtensorflow_inference.so --config=android_arm

-> I get a 37 MB libtensorflow_inference.

When compiling in an android apk, I get
:app:transformNativeLibsWithStripDebugSymbolForDebug/home/lakedaemon/Android/Sdk/ndk-bundle/toolchains/arm-linux-androideabi-4.9/prebuilt/linux-x86_64/bin/

[2017-06-01 13:39] npanpaliya commented on #10306
@brunoalr, please refer this [issue](https://github.com/tensorflow/tensorflow/issues/10001). This issue also talks about the error with tsc.sh, may work for you too.

[2017-06-01 13:53] Lakedaemon commented on #8404
3) bazel build -c opt --copt="-DSELECTIVE_REGISTRATION" //tensorflow/contrib/android:libtensorflow_inference.so    --crosstool_top=//external:android/crosstool    --host_crosstool_top=@bazel_tools//tools/cpp:toolchain    --cpu=armeabi-v7a

-> I get a 3.7 MB libtensorflow_inference.

no android error at compile time/when loading the .so code in Java but the infamous
java.lang.IllegalArgumentExcepti

[2017-06-01 14:08] fvisin opened #10373 "Limit the number of images in a summary [feature request]"
When working on dense prediction tasks it is very convenient to show the predictions of the network in TensorBoard to evaluate them qualitatively during training. Even if TensorBoard shows only a subset of these images, all the summaries that have been saved since the beginning of times are kept on disk. The occupied space grows with the size of the dataset, the sampling frequency and the number o

[2017-06-01 14:24] achainan commented on #9966
Posted a similar question on Stackoverflow:
https://stackoverflow.com/questions/44267616/bazel-build-tensorflow-python-toolsstrip-unused-compilation-failure

Thanks.

[2017-06-01 14:30] Guitarja commented on #3834
@chengshuyi Yes, it does.

[2017-06-01 14:33] Lakedaemon commented on #8404
and the winner is.....
bazel build -c opt --copt="-DSELECTIVE_REGISTRATION" --copt="-DSUPPORT_SELECTIVE_REGISTRATION" //tensorflow/contrib/android:libtensorflow_inference.so    --crosstool_top=//external:android/crosstool    --host_crosstool_top=@bazel_tools//tools/cpp:toolchain    --cpu=armeabi-v7a

I get a 3.9 MB libtensorflow_inference.so that doesn't crash the app because of tensorflow code
(w

[2017-06-01 14:44] BIRlz commented on #647
how can i use tensorflow in pypy?  help!!!

[2017-06-01 14:56] Androbin commented on #8404
@Lakedaemon [tensorflow/BUILD#L49](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/BUILD#L49) says that `--config=android_arm` is shorthand for `--crosstool_top=//external:android/crosstool --cpu=armeabi-v7a`

[2017-06-01 14:58] lfwin opened #10374 "Weird bugs after successful running until reboot computer"
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
r0.9
- **Bazel version (if compiling from source)**:
0.2.3
- **CUDA/cuDNN version**:
v4
- **GPU model and memory**:
k80

Due to need debug some old Tensorflow code, i need to install TF0.9 version, after i install

[2017-06-01 15:06] pmunin commented on #6999
After installing it on win7 x64 via ```https://testpypi.python.org/packages/db/d2/876b5eedda1f81d5b5734277a155fa0894d394a7f55efa9946a818ad1190/tensorflow-0.12.1-cp36-cp36m-win_amd64.whl```
It seems to finish installation successfully, however anytime I try to import tensorflow in my python code I see the following error:
[code]

[2017-06-01 15:06] pmunin commented on #6533
After installing it on win7 x64 via ```https://testpypi.python.org/packages/db/d2/876b5eedda1f81d5b5734277a155fa0894d394a7f55efa9946a818ad1190/tensorflow-0.12.1-cp36-cp36m-win_amd64.whl```
It seems to finish installation successfully, however anytime I try to import tensorflow in my python code I see the following error:
[code]

[2017-06-01 15:10] Androbin commented on #8404
@Lakedaemon Look what I found in [tensorflow/core/BUILD#L1004](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/BUILD#L1004)

[2017-06-01 15:23] taion commented on #8286
I think @yaroslavvb's post was a typo – NCHW is cuDNN's native format, and is what most other DL libraries use. As such the justification is perhaps that the built-in NHWC operations in cuDNN are slower than transpose-run-transpose.

The CPU implementations in TF largely do only support NHWC, and will fail otherwise.

[2017-06-01 15:26] Androbin commented on #8404
Seems that SUPPORT_SELECTIVE_REGISTRATION is used in core and all BUILD files while SELECTIVE_REGISTRATION appears further away from core (python tools). These may be outdated references:
[tensorflow/python/tools/selective_registration_header_lib.py](../blob/master/tensorflow/python/tools/selective_registration_header_lib.py)
[tensorflow/python/tools/print_selective_registration_header.py](../blob

[2017-06-01 15:39] danielegrattarola opened #10375 "[Feature] sparse_tensor_dense_matmul with two SparseTensor"
Would it be possible to implement matrix multiplication between two `SparseTensor`?

Currently, it's possible to multiply two dense `Tensor` with many zeros using the `X_is_sparse` parameter of `tf.matmul`, and a `SparseTensor` with a `Tensor` using `tf.sparse_tensor_dense_matmul`.

However, with some datasets it is impossible to store dense matrices in memory and it would be great if we could hav

[2017-06-01 15:39] Lakedaemon commented on #8404
yes, I read that stuff in tensorflow/core/BUILD#L1004 while greping for SELECTIVE_REGISTRATION but I could not find a way to build lib_inderesnce.so with this target.

Bazel is really new to me (and to any non-googler I guess), learned a lot of things about it while trying to find a solution to my issue this past feaw days (the BUILD language, the if_android "pythonic"-functions/macro, ..)

found

[2017-06-01 15:49] Androbin commented on #8404
@Lakedaemon I share your disorientation.
Interestingly, wherever `--config=android_arm` or its expansion is used, it adds `--host_crosstool_top=@bazel_tools//tools/cpp:toolchain` to it.
Maybe @andrewharp can help clarifying things here.

[2017-06-01 15:52] emulvihill commented on #6999
@pmunin Check the message above by @Carmezim, that package doesnt work since it was just a renamed 3.5 package. I'd recommend going through the hack that was described earlier in the thread, of installing on 3.5, upgrading to 3.6 and hex editing one .pyd file.

[2017-06-01 16:02] gwendoline-28 commented on #10154
Hi @mrry, many thanks for your response ! Sadly the script advised me to post a help message on github :( It issued the following:

ERROR: Failed to import the TensorFlow module.

- Python version is 3.5.

- TensorFlow is installed at: C:\Users\Gwendoline\Anaconda3\envs\tensorflow-gpu\lib\site-packages\tensorflow

- All required DLLs are present. Please open an issue on the
  TensorFlow GitHub pag

[2017-06-01 16:06] asimshankar commented on #10375
@ebrevdo @rmlarsen : Do you know if anyone is planning to add this?

[2017-06-01 16:29] brunoalr commented on #10306
@npanpaliya thanks for pointing to that issue. Unfortunately I still can't compile it.

[2017-06-01 16:36] frankyjuang opened #10376 "Lack support of qint32 in tf.nn.tanh"
According to the [doc](https://www.tensorflow.org/versions/master/api_docs/python/tf/tanh), the `tanh` operation supports floating point inputs as well as fixed point inputs of type qint32. However, in the latest master, a `TypeError` raised when running following code:
[code]
The complete error message is
[code]

According to the backend function `_tanh` in `gen_math_ops.py`:
[code]
It shows that

[2017-06-01 16:38] 109km commented on #8114
Same issue here.
[code]
Still tell me ``` ImportError: No module named mock ```

I also tried the methods in #7980 , none is working for me.
My system info :
[code]

[2017-06-01 16:40] edgimar opened #10377 "tf.contrib.data.Dataset fails to batch elements that are tuples"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution**: Linux Ubuntu 16.04.2 LTS
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: ('v1.2.0-rc0-312-g0b72359', '1.2.0-rc0')
- **Bazel version (if compiling from source)**: 0.4.5
- **CUDA/c

[2017-06-01 16:45] lincolnBush commented on #9976
Get the same problem with this system information:
Ubuntu 16.04
python 3.5.2
tensorflow 1.1.0

[2017-06-01 16:47] Carmezim commented on #6999
Exciting news folks, Python 3.6 support will be soon available from release 1.2 forward so bear with the TensorFlowers just a bit more https://github.com/tensorflow/tensorflow/pull/10356

@pmunin @emulvihill is correct in his assessment. Simply renaming the wheel won't yield any result. If you can wait I strongly suggest the official release as stated above. TensorFlow can only provide support for

[2017-06-01 16:48] asimshankar commented on #10377
`val` is a tuple of batches, in this case, `print(val)` yields:

[code]

@mrry for comments on how batch is intended to and documented to deal with tuples.

[2017-06-01 17:03] edgimar commented on #10377
On second thought, I think this is the expected behavior -- seemed unintuitive though because the batching is done by grouping elements of a series of tuples, rather than grouping the series of tuples where each tuple is a row in the output 'batch tensor'.

[2017-06-01 17:03] #10377 closed

[2017-06-01 17:09] filipealeixo opened #10378 "What are the 'from' and 'to' dimensions of transition_params in tf.contrib.crf.crf_log_likelihood?"
On TensorFlow, I want to pass a transition_params matrix as argument to tf.contrib.crf.crf_log_likelihood (https://www.tensorflow.org/api_docs/python/tf/contrib/crf/crf_log_likelihood) in order to initialize the transitions matrix of the CRF. Although, in the documentation, it doesn't state which dimension of this matrix corresponds to the first tag of the transition and which dimension correspond

[2017-06-01 17:11] brunoalr commented on #10306
I updated the issue's name to make clear it occurs on a ppc64le (little endian) rather than a ppc64 (big endian) machine.

[2017-06-01 17:55] shawnjhenry commented on #10003
I would like to have this feature as well, with the caveat that sparse multiplied element-wise with dense is always sparse, and so should be returned as such.  This can make a huge difference in some use cases, for example if you wanted to multiply every row in a huge sparse matrix by the same dense vector element-wise.  If that operation returned a dense tensor there could easily be memory issues

[2017-06-01 18:10] #6999 closed

[2017-06-01 18:15] AngledLuffa commented on #6999
Excellent, thank you!

On Thu, Jun 1, 2017 at 11:13 AM, gunan <notifications@github.com> wrote:

[2017-06-01 18:17] gunan commented on #6999
As @Carmezim said, the CPU nightly pip package is ready.
GPU nightly pip package should be ready later today.

As for pypi, the binaries wont be there until our next release, which should be sometime next week.

[2017-06-01 18:36] dakshj commented on #5949
@mrry Thanks for your script! Worked for me.
My issue was that the PATH for cuDNN was set to "D:\TensorFlow\cudnn-8.0-windows10-x64-v5.1\cuda", **but** the correct PATH for it was "D:\TensorFlow\cudnn-8.0-windows10-x64-v5.1\cuda\bin".

[2017-06-01 18:43] sounakdey commented on #8828
@gnujimmik cuDNN6.0 with cuda 8.0 is givinig the same error for tensorflow 1.1
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/pywrap_tensorflow_internal.py", line 24, in swig_import_helper
    _mod = imp.load_module('_pywrap_tensorflow_internal', fp, pathname, description)
ImportError: libcudnn.so.5: cannot open shared object file: No such file or directory

Please can anyone hel

[2017-06-01 18:51] pmunin commented on #6999
Just found Tensorflow 1.1 working on python 3.6: [http://www.lfd.uci.edu/~gohlke/pythonlibs/#tensorflow](http://www.lfd.uci.edu/~gohlke/pythonlibs/#tensorflow). Unofficial apparently, but working.
They have scipy windows package there too.

[2017-06-01 18:52] pmunin commented on #7096
Just found Tensorflow 1.1 working on python 3.6: http://www.lfd.uci.edu/~gohlke/pythonlibs/#tensorflow. Unofficial apparently, but working.
They have scipy windows package there too.

[2017-06-01 19:55] allenlavoie commented on #10270
@zhangyaobit @yzhwang since we discussed this.

@KashiErez: One useful clarification would be how many indices are going into the UniqueOp, which should be equal to the number of embeddings that are accessed in each iteration (e.g. sentence length).

[2017-06-01 20:22] asimshankar commented on #10367
Sorry you're running into this. Some questions:

- Could you include the output of your run of the `configure` script?
- Does the build work with a simpler setup (CPU-only, no-CUDA, reduced custom flags etc.)?

[2017-06-01 20:27] asimshankar commented on #10369
@snnn : Could you reduce your sampler to something simpler? (Among other things, seems like you're running multiple groups of threads, if you can reduce it to the smallest example that demonstrates the failure, that will be helpful)

CC @mrry

[2017-06-01 20:28] allenlavoie commented on #10270
Also @ekelsen, who has been thinking about using CUB as a way to implement these kinds of ops on the GPU.

[2017-06-01 21:04] jart commented on #10378
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is a larger community that reads questions there.

We also give amazing code reviews to anyone generous enough to send us pull requests that improve the documentation of contrib packages.

[2017-06-01 21:04] #10378 closed

[2017-06-01 21:43] jart commented on #10376
@dr4b The Python docstring for `tanh` and `sigmoid` says they support various types, e.g. qint32, but fail when those types are passed.

CC: @girving

[2017-06-01 21:47] jart commented on #10374
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-01 21:47] #10374 closed

[2017-06-01 21:48] brunoalr commented on #10306
Alright, so I managed to build TensorFlow **without** TensorBoard (https://stackoverflow.com/questions/43119802/can-i-build-tensorflow-without-android-and-without-tensorboard).

That seems to be a strong indication that the issue is caused by distributing architecture-dependent binaries (e.g. x64 binaries for nodejs and protoc) to satifisfy some build dependencies.

Summarizing: it is necessary to

[2017-06-01 21:52] jart commented on #10370
@josh11b has been doing some work on these pbtxt op definitions. Any idea why periods would get replaced with commas?

[2017-06-01 21:53] dr4b commented on #10376
We gladly accept pull requests on the docs!

(or I can go change the docstring.  What is the actual list of possible types?  We currently seem to say "float, double, int32, complex64, int64, or qint32" which is quite a bit off from "float16, float32, float64, complex64, complex128" in the error message OR the backend "`half`, `float32`, `float64`, `complex64`, `complex128`".)

[2017-06-01 21:54] hadaev8 opened #10382 "Cant start work with tensorflow, import error"
### System information
Windows 7 64.
Installed CUDA, cuDNN 8.0.
Installed TensorFlow gpu from pip.
Pyrhon 3.5 by anaconda.

Try inpute import tensorflow and get this

ImportError                               Traceback (most recent call last)
C:\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py in swig_import_helper()
     17         try:
---> 18             return import

[2017-06-01 22:16] lababidi commented on #8828
@sounakdey how did you install tensorflow? you must build it from scratch

[2017-06-01 22:21] ekelsen commented on #10270
Yeah, hopefully CUB will be usable from TF soon.  In that case, unique can be done by sorting and then doing run-length-encoding.

[2017-06-01 22:25] kangtestat commented on #7540
@Jarvis1985 Same issue here. Try running with as administrator under windows OS.

[2017-06-01 22:55] girving commented on #10376
This is just a Python doc error: the C++ op registrations use a reasonable set of types (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/math_ops.cc#L193) but the Python wrapper does not (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/math_ops.py#L2061).

[2017-06-01 23:11] hadaev8 commented on #10382
CPU ver works fine.

[2017-06-01 23:27] gunan commented on #10342
We currently support building with CUDA 8.0.
Building with earlier CUDA versions is supported only as best effort. However these days there are a few higher priority issues we need to focus on.
I will mark this issue as community support, maybe someone from the community can help.

[2017-06-01 23:31] gunan commented on #10364
pb.h files are generated from protocol buffers.
Bazel creates these once you have the dependencies set up correctly.
In this case, `"//tensorflow/core:worker_proto_cc",` dependency is the correct proto dependency we use.

[2017-06-01 23:36] gunan commented on #10306
As we do not have access to ppc machines, we do not have official support on this platform.
We will be happy to accept a Pull request resolving this issue.
Therefore, I will mark this as Contributions Welcome.

[2017-06-02 00:14] jart commented on #10364
Yeah when you bazel build it, you can find it by fishing around in the bazel-bin/ or bazel-genfiles/ directory.

[2017-06-02 00:14] #10364 closed

[2017-06-02 00:18] jart commented on #10382
https://github.com/tensorflow/tensorflow/issues/10033 indicates this might be due to a problem with the `%PATH%` environment variable. There's a few other [reports](https://www.google.com/search?q=%22ImportError%3A+DLL+load+failed%22+tensorflow&oq=%22ImportError%3A+DLL+load+failed%22+tensorflow&aqs=chrome..69i57.3519j0j4&sourceid=chrome&ie=UTF-8) of this issue in the past too.

[2017-06-02 00:18] #10382 closed

[2017-06-02 00:19] jart commented on #10363
Closing in favor of the other issue. Thanks for the report.

[2017-06-02 00:19] #10363 closed

[2017-06-02 00:20] jart commented on #10317
@chihuahua Mind taking a look at this? Could be some type of regression in tf_graph.

[2017-06-02 00:25] inflation commented on #9697
Also happens on
gcc (Ubuntu 6.3.0-12ubuntu2) 6.3.0 20170406
Ubuntu 17.04
And I'm on master

[2017-06-02 00:26] jart commented on #10216
@girving Since you participated a lot in the linked context thread, would you mind taking a look at this?

[2017-06-02 00:32] jart commented on #10268
This behavior is documented and working as intended:

[code]

It's probably not a behavior we could change, due to our [API stability promise](https://www.tensorflow.org/programmers_guide/version_semantics).

[2017-06-02 00:32] #10268 closed

[2017-06-02 00:38] jart commented on #10210
Please see https://github.com/tensorflow/tensorflow/issues/923.

[2017-06-02 00:38] #10210 closed

[2017-06-02 00:41] catpanda opened #10383 "error， I use tensorboard with pandas error"
hello , during this days I was learning use tensorflow to build NN, when I use the tensorboard .In my code I use:
`self.writer = tf.summary.FileWriter('./board', self.graph)`\
to create the board file. and use qurery ,and It successfully have a file called events.out.tfevents.1496363479.dyy there. the Iuse query :tensorboard --logdir=board
then I got the error info.
`panda@dyy:~/code/number_test$

[2017-06-02 00:42] jart commented on #10256
How did you install TensorFlow? Did PyCharm install it?

[2017-06-02 00:51] josh11b commented on #10370
I'm going to have to defer to @cwhipkey for this one.

[2017-06-02 00:52] jart commented on #10284
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-02 00:52] #10284 closed

[2017-06-02 00:53] jart commented on #10291
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-02 00:53] #10291 closed

[2017-06-02 00:54] gnujimmik commented on #8828
@sandersk as he mentioned, you will need to build it from source. The default support for the tensorflow is cuda 8.0 and cudnn 5.

[2017-06-02 00:54] jart commented on #10301
@dsmilkov Maybe we need to URLencode the projector config filename?

[2017-06-02 01:07] jart commented on #10362
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-02 01:07] #10362 closed

[2017-06-02 01:08] jart commented on #10360
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-02 01:08] #10360 closed

[2017-06-02 01:17] jart commented on #10288
Thank you for working to bring LLVM Polly optimizations to TensorFlow! Since @phawkins owns our llvm.BUILD file, I'll assign to him, since helping you accomplish this will probably be quite beneficial to the community.

[2017-06-02 01:18] asimshankar commented on #10383
Looking at the stacktrace, it seems that you might have a old `dask` version. The stacktrace is triggered by `/home/panda/anaconda3/lib/python3.6/site-packages/dask/dataframe/core.py`, line 38, which is trying to use `pd.computation`. It seems that in pandas 0.20.0 this was changed (this was fixed in dask 0.14.2 I think - https://github.com/dask/dask/commit/bab4942b4b9eab6862226c0da868389629ee074f

[2017-06-02 01:21] tfboyd commented on #9339
Done https://github.com/tensorflow/tensorflow/pull/10359  It will most likely NOT be 1.2 but will be in 1.3.

[2017-06-02 01:21] #9339 closed

[2017-06-02 01:22] tfboyd commented on #9939
This is in with this https://github.com/tensorflow/tensorflow/pull/10359   and I have it on the list to get cherry-picked into 1.2 RC2.  I will double check as long as I do not forget.

[2017-06-02 01:22] #9939 closed

[2017-06-02 01:33] cwhipkey commented on #10370
my guess is that a localization setting on the machine is set to use comma as the decimal separator.  We are probably using a locale-specific function to re-serialize the floating point value.

Is that possibly what is happening on your machine?  If so, I can track down which proto-text serialization is doing this and try to fix it there.

[2017-06-02 01:48] jart commented on #10332
This would be a very radical change to TensorFlow. What is the use case?

[2017-06-02 02:05] AndreiCostinescu commented on #10210
@jart
Thanks for replying :)
The "problem" at #932 isn't the same as this described bug. My code behaves differently when running the summary operation as opposed to when not running the summary operation.

The main difference is that there are 10 images in my dataset and when not running the summary op, I can read all images this way. However if I run the summary operation I can only read one ima

[2017-06-02 02:21] asimshankar commented on #10311
Ah, this discrepancy is unfortunate. Thanks for pointing it out.

Alas, since this now part of the 1.x release - we can't get rid of the old names. However, we can perhaps add "input", "filter" and "strides" as arguments to conv1d.

I'll take a stab at that.

(Though, perhaps `stride` still makes sense since it is a single integer, not a list as in `conv2d` and `conv3d`?)

[2017-06-02 02:29] philipperemy commented on #8191
None of those workarounds worked for me with Tensorflow 1.1

I'm using `seq2seq` model with `MultiRNNCell` cells.

[2017-06-02 02:31] ashokbugude commented on #10364
Is there any command to build all core files at a time, instead of building
each such files.

On Jun 2, 2017 5:46 AM, "Justine Tunney" <notifications@github.com> wrote:

[2017-06-02 02:37] asimshankar commented on #10311
Actually, on further reflection - while this discrepancy is unfortunate - I don't think it is worth fixing.

We have to maintain backward compatibility of the API for all 1.x releases. In order to accept either the old or new arguments as named parameters, the signature of `conv1d` will have to change from:

[code]

to something like:

[code]

With a bunch of logic in the new function to ensure th

[2017-06-02 02:40] cwhipkey commented on #10370
I think that is probably the cause - appending uses AppendNumeric in proto_text_util.h, which calls StrCat() on the value.  This ends up calling FloatToBuffer, which looks like it uses locale-specific snprintf for printing.

[2017-06-02 02:52] asimshankar commented on #10371
Seems like `l2_cache_size` does not exist in the CPU info returned on your platform.

Could you paste the output of the following (you may need to `pip install py-cpuinfo`):
[code]

That will help determine how we can make the test get L2 cache information.
(Which would ultimately end up as a patch to https://github.com/tensorflow/tensorflow/blob/557c539/tensorflow/tools/test/system_info_lib.py#L9

[2017-06-02 02:56] StarRain-L commented on #10361
Excuse me, the Header Search Paths set up relative path, so packaged into the SDK when others use path also want this configuration?
![703ef680-d928-48ed-94b2-4bd47fc58929](https://cloud.githubusercontent.com/assets/8908244/26708992/0a081d46-4782-11e7-97a9-af7605a960cb.png)

[2017-06-02 03:08] asimshankar commented on #10315
Thanks for the report and the simple reproducible instructions @fumin

@shlens : Mind taking a look? IIUC, this might have been a bug since `central_crop` was introduced in de7b961da6cea7692d9f36eeec1c7f220c15af3f - where if [`fraction_offset`](https://github.com/tensorflow/tensorflow/blob/r1.1/tensorflow/python/ops/image_ops_impl.py#L390) computes to 2, then `bbox_h_size` and `bbox_w_size` will b

[2017-06-02 03:11] xzy256 commented on #9998
@skye  i build bazel successful. Then, i build tensorflow getting next error.
<pre>
[xzy@localhost tensorflow]$ bazel build --copt=-march=native -c opt //tensorflow/tools/pip_package:build_pip_package
Extracting Bazel installation...
............................................
WARNING: /home/xzy/tensorflow/tensorflow/contrib/learn/BUILD:15:1: in py_library rule //tensorflow/contrib/learn:learn: t

[2017-06-02 03:15] asimshankar commented on #10355
@maverickg : Thanks for the report. The good news is that you can ignore the WARNING message, it is advisory - I don't think there is anything wrong with your setup.

@ispirmustafa : Would you mind taking a look? I think this is coming from https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/contrib/layers/python/layers/feature_column.py#L1582 - suggesting that something in feature_colum

[2017-06-02 03:18] hynra commented on #37
+1

[2017-06-02 03:21] sampathchanda commented on #8619
Am still seeing this issue. Can anyone help by letting me know how to fix this.

[2017-06-02 03:44] lmkostas commented on #9832
Struggling with the same issues as @xueyouluo and @classicCoder16. I have been working on resolving this problem for some time with no success and some sample code would be incredibly helpful! Thanks in advance

[2017-06-02 04:06] yycho0108 commented on #6766
Still getting this issue, as of 06/02/2017 when using tf.gather_nd(...)

[2017-06-02 04:26] astorfi commented on #4814
Thank you @AshishBora for your guidance. However I am encountering an issue using TF-Slim. The problem is that the TF-Slim use tf.train.Supervisor() and after that the graph is finalized and cannot be be modified. I get the following error:

``raise RuntimeError("Graph is finalized and cannot be modified.")
RuntimeError: Graph is finalized and cannot be modified.``

So the above solution won't wor

[2017-06-02 04:50] nathansilberman commented on #4814
You can run the following to reset the local variables used by metric computation:
session.run(tf.local_variables_initializer())

To avoid the issue of graph finalization, just create a reference to this op BEFORE session creation:

reset_op = tf.local_variables_initializer()
# ... session created
session.run(reset_op)

[2017-06-02 05:06] annanay25 commented on #10288
Thank you so much! @jart

Update: I have figured out the answer to the second question -
How can I pass configuration flags to LLVM in TensorFlow to check for Polly usage?

Its by adding ``` TF_XLA_FLAGS="--xla_cpu_llvm_cl_opts=-polly" ``` to the python command.

However, the ```-polly``` flag is not being recognized by llvm yet, and that means that the pass manager has not yet been linked correct

[2017-06-02 05:21] Utumno commented on #10256
Nope in cmd:

[code]

[2017-06-02 05:34] brianretford commented on #10288
I've been working w/ Annanay to get the llvm build files modified -- he's done some great work. Annanay - can you share your repo here? It'll be a lot easier for people to help you if they can reproduce your work easily.

[2017-06-02 05:49] jart commented on #10364
`bazel build //tensorflow/core/...`

[2017-06-02 05:50] MxKy commented on #10370
@cwhipkey
I can confirm that changing the decimal separator in my locale settings resolved the problem.

[2017-06-02 06:03] zixia commented on #5354
I ran into this problem when I'm running <https://github.com/davidsandberg/facenet/> inside docker image `tensorflow/tensorflow:latest-gpu-py3`.

LD_LIBRARY_PATH is already included CUPTI but still get this wrong.

However, the jupyter can run without any problem.

[2017-06-02 06:10] KashiErez commented on #10270
Regarding Question: @KashiErez: One useful clarification would be how many indices are going into the UniqueOp, which should be equal to the number of embeddings that are accessed in each iteration (e.g. sentence length).

Answer:

The batch size is 1024.

Regarding words:
The sentence length is 21.
Number if unique words ~ 100K

But We have another categorical feature that has only on value in ea

[2017-06-02 06:20] jart commented on #10210
This issue tracker is for bugs and feature requests. Issues like these can easily be misconfiguration. The [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) community exists to support TensorFlow users.

[2017-06-02 06:22] jart commented on #10256
@mrry I'm confused. Is `tf.contrib` supported on Windows? This is the second such issue I'm noticing today. The reason why I'm confused is because https://github.com/tensorflow/tensorflow/issues/5662 yet it is [excluded](https://github.com/tensorflow/tensorflow/blob/0462416f6498d964310ba05a38a23bd1eabba3bf/tensorflow/python/BUILD#L90) from the bazel build.

[2017-06-02 06:35] sandipmgiri commented on #10371
Hi @asimshankar,  getting following output

`{'count': 160, 'hz_advertised': '4.0230 GHz', 'bits': 64, 'brand': 'POWER8NVL (raw), altivec supported', 'cpuinfo_version': (3, 2, 0), 'flags': ['dabr', 'dabrx', 'dsisr', 'fpu', 'lp', 'mmu', 'pp', 'rislb', 'run', 'slb', 'sprg3', 'ugr_in_dscr'], 'raw_arch_string': 'ppc64le', 'hz_actual_raw': (4023000000, 0), 'hz_actual': '4.0230 GHz', 'arch': 'PPC_64', '

[2017-06-02 06:49] annanay25 commented on #10288
Hi @brianretford,
Thanks for this.

These are the steps to reproduce my state right now:
- Clone my tensorflow [repository](gitlab.com/annanay25/tensorflow) or
  1. copy the llvm build [file](https://gitlab.com/annanay25/tensorflow/blob/master/third_party/llvm/llvm.BUILD)
  2. edit the xla build file to add [this line](https://gitlab.com/annanay25/tensorflow/blob/master/tensorflow/compiler/xla/ser

[2017-06-02 07:16] jaewoosong commented on #7705
I had the same issue. Downgrading cuDNN from 6.0 to 5.1 solved it for me as well.

[2017-06-02 08:08] sethtroisi commented on #6727
@gmacleod Thanks eval_steps = 1 fixed the problem!

@lancerts did you find a solution to validation only triggering once?

[2017-06-02 08:41] sleepfin opened #10389 "slim.conv2d Error: Input has undefined `axis` dimension."
Here is my code:
[code]

Here is the logs:
[code]

When I change the rate to 1
Or I change the data_format to 'NHWC' and input to [2, None, None, 4]
It works without any error.
My tensorflow version: 1.1

[2017-06-02 08:52] lulinyuan opened #10390 "error ，a configure error! help!"
➜  tensorflow git:(master) ✗ ./configure
Please specify the location of python. [Default is /usr/bin/python]:
Found possible Python library paths:
  /opt/ros/kinetic/lib/python2.7/dist-packages
  /usr/local/lib/python2.7/dist-packages
  /usr/lib/python2.7/dist-packages
Please input the desired Python library path to use.  Default is [/opt/ros/kinetic/lib/python2.7/dist-packages]

Using python libr

[2017-06-02 09:16] wm901115nwpu opened #10392 "transfer problem"
How to transfer model.ckpt-152000.meta into .pb file, we will apply to graph_transfer?
Thank you!!

[2017-06-02 10:05] sounakdey commented on #9002
i get the same error with
Cuda compilation tools, release 8.0, V8.0.61
ERROR: /path/to//tensorflow/stream_executor/BUILD:39:1: C++ compilation of rule '//tensorflow/stream_executor:cuda_platform' failed: crosstool_wrapper_driver_is_not_gcc failed: error executing command external/local_config_cuda/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc -U_FORTIFY_SOURCE '-D_FORTIFY_SOURCE=1' -fsta

[2017-06-02 10:20] sounakdey commented on #8828
yes i tried to built it from source but it gives an error like this
cuda 8.0.61 cudnn 6
ERROR: /path/to/tensorflow/tensorflow/stream_executor/BUILD:39:1: C++ compilation of rule '//tensorflow/stream_executor:cuda_platform' failed: crosstool_wrapper_driver_is_not_gcc failed: error executing command external/local_config_cuda/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc -U_FORTIFY_SOURCE

[2017-06-02 10:25] isabel-schwende commented on #9270
Has there been any progress about this implementation? I'd be also interested in an option to use one-class SVM. I'm currently considering implementing that myself but it might take a while if I have to do it from scratch...

[2017-06-02 10:27] rodburns commented on #22
@samhains we have not tested this but you could give it a try. You will need to use some older AMD drivers with Ubuntu that support the SPIR extension. I haven't yet been able to figure out what drivers those are yet.

[2017-06-02 10:28] secsilm commented on #7680
I had the same issue. Here is my solution.

Add the `config`  option when you define your estimator, for exzample:

[code]

But I still want to know how I can only use CPU.

[2017-06-02 10:44] zhoulinyuan opened #10393 "I want read train or test data in next_batch by tf.cond"
[code]
[code]

this is error ,but below is ok, why and how to do
   ` filenames = tf.cast([os.path.join(data_dir, 'data_batch_%d.bin' % i) for i in range(1, 6)], tf.string)
`

[2017-06-02 11:03] skynode commented on #37
+1

[2017-06-02 11:05] foxik commented on #10311
+1 to not fixing the issue

[2017-06-02 11:08] foxik commented on #4814
Note that this is tightly coupled to #9498.

[2017-06-02 11:09] foxik commented on #9498
Note that this is tightly coupled to #4814.

[2017-06-02 11:16] Androbin commented on #10311
We should probably at least keep a list of such planned API changes for 2.x

[2017-06-02 11:18] Garoe commented on #6479
I've put the file in a external repository and it's updated for the parameters used in version 1.2
As I said before, I'd happy to write a pull request to include this by default or however they think it's best, so I'm still waiting on someone to answer @dandelionmane  question.

https://gist.github.com/Garoe/e6c8a3a0af6f487f2886c77f2a185738

[2017-06-02 11:23] Androbin commented on #8828
@sounakdey This might be #9002

[2017-06-02 11:34] sounakdey commented on #8828
I saw this but still having the cuda 8.0.61 is giving the same error while building both for r1.1 and r1.2.

[2017-06-02 11:43] AndreiCostinescu commented on #10210
@jart
Thanks for pointing me to the direction of StackOverflow. There I found the problem related to this "issue".
Apparently, a summary op triggers a dequeue everytime it is run.
https://stackoverflow.com/questions/40723307/tensorflow-how-to-run-summary-operation-without-triggering-dequeue

Could it be possible to implement the summary_op in such a way, that it doesn't automatically do a dequeue

[2017-06-02 11:47] AndreiCostinescu commented on #10210
Or should we update the documentation stating *somewhere* that the summary operation will trigger a dequeue operation?

[2017-06-02 11:59] albertz commented on #10332
I was thinking about having some special logic inside my graph which does something different depending on whether there was such an exception or not.
Also, as I have multiple queues in my graph, I could do some more fine-grained handling.
But I see that this requires quite radical changes, and I can also solve my tasks in other ways, so maybe just let's close this.

[2017-06-02 12:10] kmhofmann commented on #7951
@mrry  Thanks for the a preview of the new API; I think this is a good starting point!
One function that still seems to be missing, but would be essential for one of our primary use cases (see comment above: https://github.com/tensorflow/tensorflow/issues/7951#issuecomment-283186552) is a

`Dataset.map_to_multiple()`
used as in
`dataset2 = dataset1.map_to_multiple(func)`

function, where one eleme

[2017-06-02 12:11] GospodinNoob opened #10394 "How to disable checkpoints?"
This is a classifier:
classifier = SKCompat(tf.contrib.learn.DNNClassifier(feature_columns=feature_columns,
                                            hidden_units=[7, 4, 2],
                                            n_classes=2,
                                            optimizer=tf.train.GradientDescentOptimizer(0.08)
                                                    )

[2017-06-02 13:13] KangHsi opened #10396 "inference require the old training datasets exist"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu 1604
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**: r1.1
- **Bazel version (if compiling from source)**: /
- **CUDA/cuDNN version**: 8.0/5.1
- **GPU model and memory**: GTX1080/8G

**Problem description**
The exact problem is Inference requires traini

[2017-06-02 13:32] drcrook1 opened #10397 "Tensorboard Regex does not work - Docker Container (non-gpu)"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-06-02 13:47] alyato commented on #5537
@tornadomeet it doest't work by the @yaroslavvb suggestion. the version is `0.11.0rc1`

[2017-06-02 13:53] EdeMeijer commented on #7951
@kmhofmann I think you can map one example to multiple examples with `Dataset.flat_map()`. Inside your flatmap function, create a new Dataset object with one or multiple examples for every input example.

[2017-06-02 13:57] Randl commented on #1592
https://github.com/Microsoft/CNTK/tree/master/Examples/Extensibility/BinaryConvolution
https://github.com/hpi-xnor/BMXNet

Binary nets in other frameworks

[2017-06-02 14:00] Spenhouet commented on #10357
@asimshankar I can't find my self to resolve this issue. I thought about trying CMake but on the GitHub page it says

What i want to do, and why i think i need to build tensorflow in the first place, is to add a new optimization algorithm. So if i understand correct i don't even need to try to build with CMake because it wouldn't allow me to add any optimizer?

[2017-06-02 14:02] kmhofmann commented on #7951
@EdeMeijer That could be -- it's really hard to tell, as the documentation is quite sparse, with no examples. (There seem to be two places containing some amount of separate documentation: either on [GitHub](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/data) or on [tensorflow.org](https://www.tensorflow.org/versions/r1.2/api_docs/python/tf/contrib/data/Dataset#flat_map))

[2017-06-02 14:09] Androbin opened #10398 "[Docs] "arg_scope" overrides "defined in" paths"
I found that some ops have incorrect "defined in" paths in the [`contrib.layers` docs](https://www.tensorflow.org/api_docs/python/tf/contrib/layers).

Examples: `avg_pool2d, batch_norm, bias_add, conv2d, conv2d_in_plane, conv2d_transpose, dropout, flatten, fully_connected, layer_norm, one_hot_encoding, separable_conv2d, softmax`

It always uses [`tensorflow/contrib/framework/python/ops/arg_scope.p

[2017-06-02 14:10] lakshayg commented on #9202
Is someone currently working on this issue at the moment @bhairavmehta95 @emchristiansen? I intent to start contributing to tensorflow. I have tried to figure out the roadmap to implement the matrix_sqrt feature and this is what I have come up with:

- [ ] Create `matrix_sqrt_op.cc` in `tensorflow/tensorflow/core/kernels`
- [ ] Add `matrix_sqrt_op` entry to `tensorflow/tensorflow/core/kernels/BUIL

[2017-06-02 14:21] EdeMeijer commented on #7951
I based my suggestion on the one flat_map code example on the github page you linked. There, single string tensors come in (file names) and whole Datasets are emitted in the map function, so that seems pretty clear. I guess the parallel processing from `map()` is a TODO, I'm sure they'd love a PR :)

[2017-06-02 14:26] kmhofmann commented on #7951
Ah, thanks, I missed that, as it was in an example about text processing. Still, the function description in the documentation seems a bit sparse, consisting of `Maps map_func across this dataset and flattens the result`.

[2017-06-02 14:40] mrry commented on #10256
@jart I don't think this is using any of `tf.contrib`, is it? FWIW, the Windows releases include `tf.contrib` (via the CMake build), but the Bazel build doesn't include it—IIRC because the method of integrating `tf.load_op_library()`-based extensions doesn't currently work in Bazel.

On the original issue, I think this race is "benign", and the error messages are printed in a situation where the q

[2017-06-02 14:51] Mazecreator commented on #10370
Let me know if you think there is something that I can correct in  _single_image_random_dot_stereograms but it seems like this is outside of that Op at the moment.

[2017-06-02 14:59] astorfi commented on #4814
Thank you @nathansilberman .
Unfortunately it didn't work. Looks like the supervisor is much smarter than that!
Moreover I the the problem with tf.local_variables_initializer() is that by defining the reset_op it may reset all variables.
I am not %100 sure though.
But thank you so much for the hint. I think I may find the solution from this.

[2017-06-02 15:00] yufengg opened #10399 "export step of Experiment fails in python 3.5 (likely due to string-type mismatch)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yep
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OSX
- **TensorFlow installed from (source or binary)**: binary 1.1.0
- **TensorFlow version (use command below)**: 1.1.0
- **Bazel version (if compiling from source)**: n/a
- **CUDA/cuDNN version**: n/a
-

[2017-06-02 15:05] allenlavoie commented on #10270
In that case, could you add a print node to get the exact shape of the Tensor going into unique?

The whole idea of this code path is that the gradients are sparse; the IndexedSlices from the gradient of the embedding lookup has a number of indices equal to the number of embeddings which were actually accessed (which it sounds like should be ~21504 and ~1024?), independent of the size of the embed

[2017-06-02 15:13] langmore commented on #10265
Hello @jim24 .  Your understanding is correct, and on my system all three methods give the same result.  Could you try running again on CPU, by using:

`with tf.Session() as sess, tf.device('/cpu:0'):`

[2017-06-02 15:39] gunan commented on #8619
You need to upgrade the version of  bazel you are using.

[2017-06-02 15:44] gunan commented on #7680
Before running TF, if you set `export CUDA_VISIBLE_DEVISES=""` That should make all of your GPUs invisible to TF. One you start, it should run things on your CPU.
Could you try it out?

[2017-06-02 15:44] zeka0 commented on #8161
Happens to me as well. Any solutions?

[2017-06-02 15:49] Utumno commented on #10256
Indeed:

[code]

Note however the error is only printed for small directories (couple items) in my system - for larger ones I get the warning:

It's benign as you say but maybe there is something there worth investigating

Thanks!

[2017-06-02 16:03] girving commented on #10216
I'm not sure whether this is intended behavior or not, but regardless I don't think we can change it.  It doesn't strike as clearly a bug, and changing it will break existing models and code in incredibly difficult to spot ways.

@Panaetius For your purposes, can you just add the padding-related offset?

Note that if an existing gradient routine uses the routine assuming the other behavior, and is

[2017-06-02 16:19] cathalgarvey commented on #22
@samhains If the codeplay route fails to deliver, don't miss out on [tf-coriander](https://github.com/hughperkins/tf-coriander), which is finally at a state of practical usage on Ubuntu/Mac.

I'm currently testing it on convnets, bidirectional rnns, etcetera and everything seems to be working great. It runs on "vanilla" OpenCL 1.2 so that should enable Tensorflow on a huge range of relatively old

[2017-06-02 16:22] jim24 commented on #10265
Hi Ian.

I ran the script again, with your modifications, on a different machine (info posted at the bottom).

[code]

which now gives output:

/cpu:0	MatrixInverse:0:
[[ 0.5  0. ]
 [ 0.   0.5]]
/cpu:0	MatrixSolve:0:
[[ 0.5  0. ]
 [ 0.   0.5]]
/cpu:0	cholesky_solve/MatrixTriangularSolve_1:0:
[[ 1.  0.]
 [ 0.  1.]]
/gpu:0	MatrixInverse:0:
[[ 0.5  0. ]
 [ 0.   0.5]]
/gpu:0	MatrixSolve:0:
[[ 0.5  0.

[2017-06-02 16:25] emchristiansen commented on #9202
@lakshayg I'm not currently working on this, and I'd guess @bhairavmehta95 isn't working on it either. So I think it's yours if you want it :)

I'm not familiar enough with the C++ side of TensorFlow to meaningfully comment on your plan, but it seems like a good start at least.
If I were you (and I'm guessing this is what you did), I'd just model the code on another unary matrix op, e.g. matrix in

[2017-06-02 16:49] mrry commented on #8161
Hi folks! We've posted a script that you can run, and it will give you some suggestions about how to fix your TensorFlow on Windows installation. It's available here:

https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c

[2017-06-02 17:10] nathansilberman commented on #4814
Alternatively, you can always define the metrics within a name scope and
only reset the local variables within that name scope.

On Fri, Jun 2, 2017 at 11:01 AM, Amirsina Torfi <notifications@github.com>
wrote:

[2017-06-02 17:21] astorfi commented on #4814
@untom I made it. Thanks to @nathansilberman .

I made a pull request to tensorflow for changing slim.learning.train and I added a reset_op for metric.
Although different changes must be made to train_image_classifier.py provided by slim, but the first pull request is necessary to accept.

pull request:
#10400
https://github.com/tensorflow/tensorflow/pull/10400#issuecomment-305853010

[2017-06-02 17:37] Panaetius commented on #10216
@girving I'm currently not really affected, by supplying the width without padding to my unpool op, it's working fine.

If this isn't changed, then you should update the documentation of tf.nn.max_pool_with_argmax to clearly reflect this behaviour.

I can understand your reasoning, though I still regard it as a bug. Specifically, if there's [[-1, -2], [0, 0]] at the bottom of a tensor (the 0's bei

[2017-06-02 17:38] jvdillon commented on #10149
Sorry for the delay! Small update: we implemented a fix and it's currently under review.

[2017-06-02 17:40] wqj97 commented on #10077
@jart
This problem also happen with 1.2.0rc1
System: OSX 10.12.5
Python: 2.7.13
tensorflow: 1.2.0rc1

[2017-06-02 17:41] mrry commented on #10256
I think the way `tf.train.string_input_producer()` is implemented with background threads and queue runners makes it tricky to avoid this happening. One thing we've been working on recently (and released in TensorFlow 1.2) is a new `Dataset` API that lets you do similar things without having to manage the threads. Here's what your program would look like with the new API:

[code]

Note that there

[2017-06-02 17:41] #10256 closed

[2017-06-02 17:41] asimshankar commented on #10399
Thanks for the report @yufengg . Can you include the full stracktrace and ideally a reproducible test case?

[2017-06-02 17:46] ispirmustafa commented on #10355
We graduated FeatureColumns from contrib. We fixed this warning in the new ones.
You can use tf.feature_column.*.

[2017-06-02 17:46] #10355 closed

[2017-06-02 17:49] wqj97 commented on #10077
@jart
I found a way to fix this
If use relative path like
[code]
This problem will happen
But if I use absolute path like
[code]
It works well

[2017-06-02 18:11] mrry commented on #10369
This is definitely a real bug, which I suspect arises because you have 8 or fewer cores on the machine where you're running the test. The issue is that the current implementation of the `IteratorGetNext` op is a synchronous `OpKernel` but it can block an inter-op threadpool thread, and the unblocking action may require the use of another inter-op threadpool thread. The default threadpool size is t

[2017-06-02 19:09] gunan commented on #10390
You need to upgrade bazel.
TF at head requires bazel version 0.4.5 or higher.

[2017-06-02 19:09] #10390 closed

[2017-06-02 20:31] navya-xx opened #10403 "contrib/learn/python/learn_io/data_feeder.py : "y_is_dict" instead of "x_is_dict" at line 325"
version r1.2
I was trying to create a regressor with X as dict, and y as ndarray. Got error that at line mentioned in title saying ndarray object as no attribute items.
When I checked the code, it look like

[code]
This **`x_is_dict`** in the last line should be `y_is_dict`!! Or do I have to send both as dict??

[2017-06-02 20:39] dongwang218 commented on #9205
Issue is fixed! Thanks to tensorflow commit https://github.com/caisq/tensorflow/commit/fccaac3d1bf1391756fae67f1979afe598d10ed1, I rerun the reported python test program, results are consistent. cc @caisq

[2017-06-02 20:39] #9205 closed

[2017-06-02 20:57] danqing commented on #10367
I got it working.

I installed conda and used the Python there, and rebuilt TensorFlow with success.

Thanks!

[2017-06-02 20:57] #10367 closed

[2017-06-02 21:18] jart commented on #10403
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-02 21:21] AlvarezAriel commented on #2883
I can reproduce the issue from @lxtGH

[code]

[2017-06-02 21:44] orome opened #10405 "Operation functions return operations, not Tensors"
The way the return value for many TensorFlow operations is described in the documentation is a potential (and actual, from experience) source of confusion.

For example the [docs for `tf.acos`][1] say (like many ops):

But that's not true, is it: Tensors are graph *edges* (pipes through with values flow), while `tf.acos` is a graph *node* (an operation that needs to be executed to put a value into

[2017-06-02 21:48] mstfldmr opened #10406 "Build Error gcc: error: ”-DEIGEN_USE_VML”: No such file or directory"
$ bazel build --config=mkl --copt=”-DEIGEN_USE_VML” -c opt //tensorflow/tools/pip_package:build_pip_package
WARNING: /home/mstf/workspace/tensorflow/tensorflow/contrib/learn/BUILD:15:1: in py_library rule //tensorflow/contrib/learn:learn: target '//tensorflow/contrib/learn:learn' depends on deprecated target '//tensorflow/contrib/session_bundle:exporter': Use SavedModel Builder instead.
WARNING: /

[2017-06-02 21:48] mrry commented on #10154
@mlghost It looks like you might be running a 32-bit version of Python and importing a 64-bit version of TensorFlow... for example, all of the official packages are 64-bit.

@gwendoline-28 I'm sorry to hear that the script didn't fix your problem! Can you please paste in the full error that you see when you do `import tensorflow` in Python?

[2017-06-02 21:50] #10406 closed

[2017-06-02 21:55] Caselles opened #10408 "Memory leak"
I have a memory leak with TensorFlow. I refered to https://stackoverflow.com/questions/35695183/tensorflow-memory-leak-even-while-closing-session to address my issue, and I followed the advices of the answer, that seemed to have solved the problem. However it does not work here.

In order to recreate the memory leak, I have created a simple example. First, I use this function (that I got here : ht

[2017-06-02 22:04] abhishekg2389 commented on #10077
@wqj97 It is still giving that problem with absolute path

[2017-06-02 22:56] asimshankar commented on #10405
`tf.acos` does not return a node in the graph, it creates a node in the graph and returns a [`tf.Tensor`]
(https://www.tensorflow.org/api_docs/python/tf/Tensor) Python object that is a handle to the output of that operation. For example, in the snippet:

[code]

The `x` refers to the value (the "Tensor") that is flowing on the "edges" between the "acos" and "cos" nodes.

Hope that helps.

[2017-06-02 22:56] #10405 closed

[2017-06-02 22:57] Utumno commented on #10256
I think the new API does need some polishing (why `tf.constant(filenames)`) but thanks :)

[2017-06-02 23:03] asimshankar commented on #10371
Alright, it seems that `l2_cache_size` is not something that is returned by `get_cpu_info()` on your platform. I'll send out a change to make `system_info_lib.py` resilient to this case.

[2017-06-02 23:18] asimshankar commented on #10397
Sorry you ran into this. I believe this has been fixed in the upcoming release, could you try with the docker image `tensorflow/tensorflow:1.2.0-rc1`?

[2017-06-02 23:21] mikler commented on #10033
5.1 instead of 6 worked for me as well. But what pisses me off big time is that it doesn't say which exact DLL didn't it find!

[2017-06-02 23:21] asimshankar commented on #10373
I don't believe we have any immediate plans for working on this, so I'm going to mark this as Contributions Welcome, with the expectation that this might be updated as things towards #5039 happen.

If anyone does want to assist with this, it may make sense to discuss some design here before investing too much time in implementation.

Thanks!

[2017-06-02 23:23] asimshankar commented on #10389
Thanks for the report.

I haven't traced how, but it seems that things are fixed in the release candidate for the next release (version 1.2.0-rc1). Could you give that a spin?

[2017-06-02 23:24] asimshankar commented on #10393
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-02 23:24] #10393 closed

[2017-06-02 23:24] mrry commented on #10033
Yes, it's unfortunate that the Win32 `LoadLibrary()` call doesn't produce a better error message! I've been mentioning this on some other issue threads, but I uploaded a script that can help to check common installation issues for TensorFlow on Windows. You can get it here:

https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c

[2017-06-02 23:44] orome commented on #10405
@asimshankar — Yes, it does help.

I think what's confusing me is the notion of running or evaluating operations. But now I think I see.

Functions like `tf.cos` add a node to the graph and return an edge, and when I `run` or `eval` I'm tugging on the edge and _that_, rather than directly "running" the operation, is what invokes the operation (and so on for any edges it tugs on in turn).

In effec

[2017-06-03 00:22] jart commented on #10408
Would you be able to plot memory usage over a thousand iterations? That will help us rule out the possibility that the memory usage is caused by modules being loaded, or garbage collector fanciness. It would also be great if you could narrow down the number of APIs being called.

[2017-06-03 00:27] jart commented on #10398
@dr4b Our friend has identified has at least thirteen functions in contrib where the "defined in" link needs to be updated.

[2017-06-03 00:32] dr4b commented on #10398
I don't own the tool that generates these; reassigning to Mark to take a look.

[2017-06-03 00:41] jart commented on #10396
Is that the full error output?

Could you also please fill out the system / install information form that was in the issue template.

See also https://stackoverflow.com/questions/38829641/tensorflow-train-import-meta-graph-does-not-work in case it helps.

[2017-06-03 00:47] jart commented on #10394
Please don't crosspost [StackOverflow questions](https://stackoverflow.com/questions/44330025/how-to-disable-checkpoints-in-fit-tensorflow). CC: @alextp

[2017-06-03 00:47] #10394 closed

[2017-06-03 00:48] jart commented on #10392
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-03 00:48] #10392 closed

[2017-06-03 00:51] jart commented on #10348
Assigning to @andrewharp, to remove from triage queue.

[2017-06-03 00:58] jart commented on #10332
Sounds good. Glad to hear you're able to solve your problem in other ways.

[2017-06-03 00:58] #10332 closed

[2017-06-03 01:06] caffinatedmonkey commented on #2412
@lirchi You need to include the generated protobuf headers. If you built using the makefile, add the following to your include path:

    -Itensorflow/tensorflow/contrib/makefile/gen/proto/

[2017-06-03 03:30] caffinatedmonkey commented on #524
@jacksonloper You can find a list of opcodes available in the makefile build from here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/makefile/tf_op_files.txt

[2017-06-03 03:50] ashokbugude opened #10410 "Could not create Tensorflow Graph: Invalid argument: No OpKernel was registered to support Op 'Const' with these attrs"
I am try to create to Graph by running below command
tensorflow::Status s = session->Create(tensorflow_graph);
But I get below error

Could not create Tensorflow Graph: Invalid argument: No OpKernel was registered to support Op 'Const' with these attrs.  Registered devices: [CPU], Registered kernels: \<no registered kernels\>

[2017-06-03 04:09] tonytangau commented on #7841
You have to set the `model_dir`, eg. if you want to store the outputs in `./output `folder:

`estimator = tf.contrib.learn.LinearRegressor(feature_columns=features, model_dir='./output')`

Same thing if you follow the next example (Custom model):

`estimator = tf.contrib.learn.Estimator(model_fn=model,model_dir='./output')`

Then you can use TensorBoard to show the result:
`>tensorboard --logdir=o

[2017-06-03 04:10] KangHsi commented on #10396
@jart
I've update my comment.

the problem is that:
[code]
are the files that I used in training section. They were saved as const in trained model(ckpt.meta). When I inference the model use import_meta_graph(),  it seems that it would insure these 'old files' exist.

[2017-06-03 04:30] oxinabox commented on #9701
Same here,
I solved by renaming directory from `2017-06-02T07:5:28.864_sib0.5/logs/`
to `arun/logs`

[2017-06-03 04:37] caffinatedmonkey commented on #1758
How are you supposed to do this with c++? I don't see anything similar.

[2017-06-03 04:47] twairball commented on #8655
As above comments mentioned, this error message occurs when `PYTHON_BINARY` starts with `//` . This happened for me as my python binary was `//anaconda/bin/python`.

[2017-06-03 05:34] jewdore commented on #10077
I move the logs folder to home dir (~) ,fix the problem

[2017-06-03 05:58] asimshankar commented on #10410
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-06-03 06:00] wqj97 commented on #10077
@abhishekg2389
[code]

[2017-06-03 06:31] ashokbugude commented on #10410
Thanks
But I figured out the issue..
I am trying to use TensorFlow Libraries in android ndk.
If I place libraries of both 'arm64-v8a' and 'armeabiv-7a' libraries in my project , it works fine. If I remove either of these the above error is thrown.

[2017-06-03 07:16] gwendoline-28 commented on #10154
Hi @mrry, here is the full error:

Microsoft Windows [version 10.0.14393]
(c) 2016 Microsoft Corporation. Tous droits réservés.

C:\Users\Gwendoline>activate tensorflow-gpu

(tensorflow-gpu) C:\Users\Gwendoline>python
Python 3.5.3 |Continuum Analytics, Inc.| (default, May 15 2017, 10:43:23) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

[2017-06-03 07:46] #10369 closed

[2017-06-03 08:11] hgffly opened #10413 "Random crop a patch from a various-sized image read in TFRecord"
I have posted my question on stackoverflow but no ones answered me. [here](https://stackoverflow.com/questions/44152661/random-crop-a-patch-from-a-various-sized-image-read-in-tfrecord)
I found another similar question posted more than one year ago on stackoverflow as well, [How to read images with different size in a TFRecord file.
](https://stackoverflow.com/questions/35028173/how-to-read-images-

[2017-06-03 09:25] lakshayg commented on #7531
It seems that no one is working on this issue as I couldn't find sinh and cosh in tensorflow. I am interested in taking up this issue.

[2017-06-03 09:27] ashokbugude commented on #10410
I have built Tensoflow using bazel.
I have taken the libraries from tensorflow and used in android ndk, by stetting abi as either of  'arm64-v8a' or 'armeabiv-7a' and am executing
tensorflow::Status s = session->Create(tensorflow_graph); in android ndk from
https://github.com/miyosuda/TensorFlowAndroidMNIST/blob/master/jni-build/jni/tensorflow_jni.cc

[2017-06-03 11:28] dhirajpatnaik16297 opened #10415 "ValueError: Attempt to have a second RNNCell use the weights of a variable scope that already has weights:"
'generator/rnn_cell/rnn/basic_rnn_cell'; and the cell was not constructed as BasicRNNCell(..., reuse=True).  To share the weights of an RNNCell, simply reuse it in your second calculation, or create a new one with the argument reuse=True.

[2017-06-03 11:38] sleighsoft commented on #2938
I am facing a similar problem with a tensor `features` coming from a shuffle_batch queue.
[code]

`features.shape` shows the correct TensorShape but when using `tf.shape(features)[0]` the output is wrong or empty.

[2017-06-03 13:01] Caselles commented on #10408
![image](https://cloud.githubusercontent.com/assets/19774802/26753716/0e980254-486d-11e7-9ac8-4f57150b7815.png)
@jart Here you go. As you can see, the memory usage goes up in a linear way, which is exactly the problem.

About the number of APIs being called, do you refer to Keras by saying that ? I only use tf.contrib.keras, which is part of tensorflow. Hence I only use tensorflow here.

[2017-06-03 13:58] alphashuro commented on #5949
@mrry thank you your script is very helpful, why don't you submit a pull request to add this script to the tensorflow library itself, so that it can be used as an install step?

[2017-06-03 14:06] ashokbugude opened #10416 "Printing TensorFlow Library Logs in Android Studio"
I have built Tensor Flow using Bazel  and am using the generated TensorFlow Libraries in Android Studio
for ndk.

But I do not find the logs of Tensor Flow being printed in Android Studio.
Can I know how do I acheive this .

I have tried using Android/log.h in TensorFlow code but of no use

[2017-06-03 15:54] royshan commented on #9071
I fixed the error by using a symbolic link.

ln -s libnvidia-fatbinaryloader.so.375.66 libnvidia-fatbinaryloader.so.375.51

[2017-06-03 17:52] lulinyuan commented on #10390
thank!.i had got it.the error is the bazel! thanks

[2017-06-03 17:53] lakshayg commented on #7531
I have written some code for sinh and cosh based on the way sin and cos were implemented. On trying to run the unit tests for cwise_op, the compilation fails and I get the following error message

[code]

I have not been able to fix this issue, any help/hint is appreciated.

[2017-06-03 18:43] kilgore92 commented on #9701
I had the same problem. Steven's suggestion of specifying the host explicitly works for me ! Thanks :)

[2017-06-03 20:37] jart commented on #10408
@Caselles Excellent. Thank you.

@fchollet There appears to be some type of memory leak in Keras.

[2017-06-03 20:41] ProGamerGov opened #10419 "[Feature Request] A guide for creating custom DeepDream models"
The current DeepDream guide located [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/tutorials/deepdream), uses the inception5h model. From what I can tell, it does not appear very straightforward in terms of how to fine tune the model in order to create different DeepDream hallucinations from a custom data set. It also does not appear to be relatively easy to change

[2017-06-03 21:12] gammaguy opened #10420 "I think your linux python3.5 1.2rc whl is actually installing TF 1.1.0, the Python 3.6 one works"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-06-03 21:27] mrry commented on #2938
I'm not 100% sure what the problem is here, but I think this is working as intended:

* `features` is a 5 x 10 matrix (2-D tensor).
* `tf.shape(features)` is a length-2 vector (1-D tensor), which will evaluate to `[5, 10]`.
* `tf.shape(features)[0]` is a scalar (0-D tensor), which will evaluate to `5`.
* `tf.shape(features)[0].shape` is the `tf.TensorShape` representing the (static) shape of `tf.s

[2017-06-03 21:36] mrry commented on #10154
@gwendoline-28 There must be some other DLL causing the import to fail. Can you try opening the file `C:\Users\Gwendoline\Anaconda3\envs\tensorflow-gpu\lib\site-packages\tensorflow\python\_pywrap_tensorflow_internal.pyd` using the [Dependency Walker](http://www.dependencywalker.com/) tool and see if it reports any dependency errors?

[2017-06-03 21:53] orome opened #10421 "Specify which scopes are removed from TensorBoard main graph by default"
The heuristics used by TensorBoard to determine which scopes are added to the "main graph" and which are not by default often results in scopes being included that obscure the underlying network structure.

It would be nice to have an additional named parameter for `tf.name_scope` that indicated whether that scope should be removed (or included) in the main graph by default.

[2017-06-03 21:56] hipoglucido commented on #5983
Which is the current state? is it already possible to run tensorflow on windows?

[2017-06-03 21:58] orome opened #10422 "Ability to add to an existing named scope"
Currently it is impossible to use `tf.name_scope` to add additional elements to an existing scope. Using the same name a second time creates a new scope (with an appended index). This means that any elements that need to be in the same scope must be defined close together in source, which is not always consistent with the logic of the code.

A desirable feature would be the ability to add to an ex

[2017-06-03 22:00] mrry commented on #5983
Yes, we have been publishing packages for TensorFlow (including TensorBoard) since the final release of version 0.12. AFAIK, the issue with Windows-style paths is still an open issue (see #7856) but there is a workaround that involves specifying a run name.

[2017-06-03 22:04] hipoglucido commented on #5983
Thanks for the fast response @mrry and for the work. Could you elaborate a bit more on that workaround you mention please?

[2017-06-03 22:16] mrry commented on #5983
Here's a [link](https://github.com/tensorflow/tensorflow/issues/7856#issuecomment-282617523) to the explanation.

[2017-06-03 22:23] mrry commented on #5949
@alphashuro I'm glad it helped! Eventually we'll want to integrate some of the heuristics in the script into the import process, but I wanted to get something out there ASAP to help people who were struggling with these problems :). (One slight issue with integrating it in the repository is that we'd like it to be usable for people who haven't managed to install the library correctly....)

[2017-06-03 22:36] Chandrahas1991 commented on #10278
Hey Dylan,

What was the error ? Was it because of the batch size ?

[2017-06-03 22:41] yongtang commented on #9313
I think the issue is the extra line in `metrics:` args description in python code. PR #10423

[2017-06-03 23:32] secsilm commented on #7680
@gunan I'm using MINGW32 bash on Windows and that didn't work for me. TensorFlow still use GPU to compute.

[2017-06-04 00:31] djelkind commented on #9824
This works as expected in TF 1.2rc0.

[2017-06-04 00:31] #9824 closed

[2017-06-04 00:58] 3arth opened #10424 "Unable to train restore or save when running lamp server"
Running apache mysql python server on port 80, I am unable to save my train data or restore.

[2017-06-04 01:07] mayankj08 commented on #6971
Even I am facing same issue. Is there any solution for same?

2017-06-02 16:20:59.440852: W tensorflow/core/framework/op_kernel.cc:1142] Invalid argument: Cannot parse tensor from proto: dtype: DT_FLOAT
tensor_shape {
  dim {
    size: 15900942
  }
  dim {
    size: 53003
  }
}
float_val: 0

[2017-06-04 02:18] zeka0 commented on #8652
It happens to me as well, from time to time.
I used tensorflow-gpu

[2017-06-04 02:55] pankajvela commented on #1325
Bumped into the same problem as many of you: Variables loaded by tf.Saver.restore() don't work with tf.get_variable() . What's the final solution ?

[2017-06-04 04:20] djelkind opened #10425 "Feature request -forwardsolve and backsolve"
I would like to use OLS to estimate parameters in some parts of my models. We're most of the way there today: QR decomposition is already implemented; we just need a backsolve command. And while we're at it, we might as well add a forwardsolve command. For example, one solution would just be calls to SGETRS	CGETRS	DGETRS	ZGETRS in LAPACK and their transpose equivalents.

[2017-06-04 04:50] gunan commented on #7680
MINGW32 on windows is not a tested/supported platform.
Therefore, I cannot really comment on how that might work, or if even GPU access correctly works on your setup.

I recommend heading to stackoverflow to reach out to community for help on your issue.
As the initial issue on ubuntu seems to be resolved/addressed, I will close this issue.

[2017-06-04 04:50] #7680 closed

[2017-06-04 06:11] razrLeLe commented on #9071
same as @royshan , fixed with:
`sudo ln -s libnvidia-fatbinaryloader.so.375.66 /usr/lib/nvidia-375/libnvidia-fatbinaryloader.so.375.39`

[2017-06-04 07:26] KashiErez commented on #10270
Hi,

Not sure I understand where to add the print node.
'_apply_sparse_duplicate_indices' gets two parameters: grad, var
Should I print this tensor shapes?

[2017-06-04 09:13] agniszczotka commented on #7951
input_fn has to return features and labels only. What about extra params which can be used while training progress to customise loss for given input?

[2017-06-04 09:20] asimshankar commented on #10413
`tf.pack` existed in versions of TensorFlow prior to 1.0.
That has been replaced by [`tf.stack`](https://www.tensorflow.org/api_docs/python/tf/stack) since then.

Closing this out as we aim to keep Github issues focused on bugs and feature requests.

[2017-06-04 09:20] #10413 closed

[2017-06-04 09:22] asimshankar commented on #10415
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-06-04 09:22] #10415 closed

[2017-06-04 10:25] chihuahua commented on #10317
I am trying to repro the issue. This is what I see in the graphs tab. I clicked the Memory radio button on the left side and then selected a node. What do you see?

<img width="778" alt="screen shot 2017-06-04 at 3 23 26 am" src="https://cloud.githubusercontent.com/assets/4221553/26760745/701b65a8-48d5-11e7-935f-477fb63c0b35.png">

[2017-06-04 10:28] chihuahua commented on #10317
One small nit: Maybe you've tried this, but users have to select a Session run (to see node-specific stats for that run).
<img width="206" alt="screen shot 2017-06-04 at 3 26 34 am" src="https://cloud.githubusercontent.com/assets/4221553/26760761/d5b447ea-48d5-11e7-9b5c-70c181306f06.png">

[2017-06-04 12:59] orome opened #10428 "TensorBoard graph key does not match documentation"
The key in the TensorBoard UI indicates a "Reference edge" as a single-headed arrow:

[![enter image description here][1]][1]

while the documentation shows these as double-headed arrows:

[![enter image description here][2]][2]

Moreover, it appears that the edges indicated as references edges in the UI (according to the key there) are not in fact such edges. For example neither

    cs = tf.cons

[2017-06-04 13:04] orome commented on #10428
[Related SO question](https://stackoverflow.com/q/44345863/656912).

[2017-06-04 13:13] oranshayer commented on #10066
intel i7-7700
CORSAIR Vengeance LPX 32GB (2 x 16GB) DDR4

It's all the same hardware for all OS - it's a dual boot machine with windows 10 and ubuntu 16.04

[2017-06-04 13:53] caisq commented on #10420
@av8ramit can you take a look please?

[2017-06-04 16:57] djelkind commented on #10425
https://www.tensorflow.org/api_docs/python/tf/matrix_triangular_solve implements this.

[2017-06-04 16:57] #10425 closed

[2017-06-04 17:06] woodshop commented on #4859
It appears that this issue was recently fixed by 3fe917bfb116ecebdd73de632c18cef6a1a04d9c. I'll leave it open until a googler confirms.

[2017-06-04 18:10] chihuahua commented on #10428
By convention, dataflow edges are directed upwards, so that is why the "dataflow edges" lack arrowheads - we assume the reader understands the convention.

If we must make a dataflow edge that points downwards (or close to downwards like in your second picture) - and sometimes that is necessary, we add an arrowhead to make that clear.

Several people (including some folks on deep mind) have told m

[2017-06-04 18:31] dylanrandle commented on #10278
Hey @Chandrahas1991

There was no error. The simple issue was that I was truncating my sequences not small enough, and the computation time blew up (~O(n^4)). Cutting the length into 1/3 resulted in getting approximately what I expect in terms of computation time.

Cheers,
Dylan

[2017-06-04 18:36] frankyjuang commented on #3649
Any updates here?

[2017-06-04 18:41] shingte commented on #7072
@mingrutar - use this instead:
tf.Session(config=tf.ConfigProto(allow_growth=True))

[2017-06-04 18:59] andrewharp commented on #10416
There should be a "logcat" tab on the "Android Monitor" view that displays this. TensorFlow prints messages in the standard Android fashion so it's no different than any other app.

Any followup logging questions are better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since this is not a  bug or feature request. There is also a larger community that reads questio

[2017-06-04 18:59] #10416 closed

[2017-06-04 19:25] shingte commented on #7072
@mingrutar - Correction:
config = tf.ConfigProto()
config.gpu_options.allow_growth = True
session = tf.Session(config=config)

[2017-06-04 20:30] cancan101 opened #10429 "Separate tensorboard from tensorflow (core)"
I suggest to separate tensorboard from tensorflow.

This could mean:
* break tensorboard to its own repos (under the same organization)
* publish a separate tensorboard wheel / package on pypi.

The advantages of this are:
* simpler building of tensorboard which will make it easier for non core tensorflow members to contribute to the development of the project.
* tensorboard to operate on its own

[2017-06-04 21:48] classicCoder16 commented on #9832
@ebrevdo Thanks for your help thus far! I've been looking over the implementation of the tests in `beam_search_decoder_test.py` and they are quite helpful. However, I have a bit of a fundamental question: when using `dynamic_decode` with the BeamSearchDecoder, it seems that the `final_outputs` that is returned has an attribute `predicted_ids` whose shape is `(batch_size, T, beam_width)`, which are

[2017-06-04 21:50] orome commented on #10428
@chihuahua Indeed, that wasn't at all clear (I'm glad to have company at DeepMind).

IMV it would be a lot clearer if direction of flow was always indicated, and there was something distinct for "reference edges" (whatever those are).

And of course: the documentation should agree with the docs!

[2017-06-04 23:45] byronyi commented on #9951
How about the [gpucc](http://llvm.org/docs/CompileCudaWithLLVM.html) that developed by Google? Enabling clang compilation may have some potential performance gain, according to [this slides](http://llvm.org/devmtg/2015-10/slides/Wu-OptimizingLLVMforGPGPU.pdf).

[2017-06-05 00:37] physicsrob commented on #3684
Not sure if this is the best place to put this piece of feedback, but I'm finding the behavior of variables_to_restore() to a bit ... bizarre and not intuitive.  Currently variables_to_restore() includes all trainable variables in the graph.  Being an instance method I would have expected variables_to_restore() to return something related to the specific instance of ExponentialMovingAverages.  But

[2017-06-05 01:19] sleepfin opened #10432 "No `data_format` option for slim.separable_convolution2d ?"
When I use slim.separable_convolution2d, according to the [CODE](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/layers/python/layers/layers.py#L1868)
`data_format` is not an argument.
Inside the separable_convolution2d function, if num_output is not None, `data_format` is always 'channel_last' when calling convolutional_layers.SeparableConvolution2D (Alias SeparableConvolu

[2017-06-05 02:33] xundong commented on #5987
Seems Slim saves checkpoints at a fixed time interval defined in the save_interval_secs. This seems cause issue if we want to synchronization this with validation set evaluation process. Plus saving checkpoints at fixed time interval (instead of training steps) seems introduce an extra set of uncertainty. I believe override the supervisor can change this behavior but it is kind of messy. Is there

[2017-06-05 02:36] ashokbugude commented on #10416
Thanks, but the logs of tensorflow are not being printed in Logcat of
Android ndk.

On Jun 5, 2017 00:30, "Andrew Harp" <notifications@github.com> wrote:

[2017-06-05 02:38] astorfi commented on #5987
You can dig into the supervisor and change it. I did the same and customized it a little bit for myself.

[2017-06-05 03:04] ebrevdo commented on #9832
classicCoder: the BeamSearchDecoder uses tf.nn.top_k to update the beams at
each iteration (top_k by default returns sorted values).  The final
computation uses GatherTree to identify the true indices at each time
step.  This means that the 0th beam is the one with the highest score; and
you should be able to use predicted_ids[:, :, 0] to access it.

On Sun, Jun 4, 2017 at 2:49 PM, classicCoder16

[2017-06-05 03:07] mikowals commented on #3684
Tensorflow 1.2 has another way of saving moving average and using them for inference: [tf.contrib.opt.MovingAverageOptimizer](https://www.tensorflow.org/versions/r1.2/api_docs/python/tf/contrib/opt/MovingAverageOptimizer).

For me that has been a very good work around to this issue.

[2017-06-05 04:28] jart commented on #10428
Assigning to @chihuahua as a documentation issue.

[2017-06-05 04:32] jart commented on #10429
I agree. We're actually currently working on exactly that. Assigning to @dandelionmane.

However TensorBoard will continue to be installed when you install the TensorFlow pip package. So this change will mostly impact developers, and should have zero user facing impact.

[2017-06-05 04:34] jart commented on #10424
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-05 04:34] #10424 closed

[2017-06-05 04:39] ed-alertedh commented on #8168
@MicaelCarvalho I seem to have implemented the hack you described. Fairly dirty, but if anybody wants a stopgap...

[code]

[2017-06-05 04:42] JayParks opened #10433 "BeamsearchDecoder w/ AttentionWrapper"
Ubuntu 16.04
TF version; 1.2.0.rc1

Hi Team, I'm implementing seq2seq framework using BeamSearchDecoder and got an error when using with AttentionWrapper that has no predefined time-steps.

Here's my rough code

--------------------------------------------------------------------------------------------------------------------------
....
self.encoder_cell = build_encoder_cell()
self.encoder_inputs

[2017-06-05 04:44] jart commented on #10410
OpKernels not loading when with Android is a common issue. It might have something to do with what's in this talk: https://youtu.be/0r9w3V923rk?t=19m39s. There's also a bunch of [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) issues. Let us know if you're certain there's a bug in TensorFlow.

[2017-06-05 04:44] #10410 closed

[2017-06-05 04:57] cancan101 commented on #10429
You could still create a second wheel / pypi package for tensorboard and have the tensorflow package install / depend on that.

[2017-06-05 05:12] jart commented on #10419
Thank you for the feedback. Generally speaking, tutorials are meant to cover a breadth of topics. Our goal is to show users what's possible and help them get the ball rolling.

Since the DeepDream notebook is very popular, it might be worth going more in depth. I'm not sure if it's something we have time to work on. But I think it's worth asking @znah what he thinks.

[2017-06-05 06:59] jhonsonlaid commented on #9701
@steven-hh-ding , your suggestion exactly works for me, too! Thanks.

[2017-06-05 06:59] fnoop commented on #9697
Very similar problem on arm (raspberry):
[code]
 and
[code]
[code]

[2017-06-05 07:13] sandipmgiri commented on #10371
Hi @asimshankar ,

Did you get chance to look into this ?

As per my point of view - It should not just assume that the l2_cache_size will be there:

[code]

It could be changed to something like:

[code]
I am not sure whether it is correct or not, please guide me to make changes in system_info_lib.py file to support this case.

[2017-06-05 07:14] loveJasmine commented on #3052
any can help?
I need tf0.8 with cuda8

[2017-06-05 07:15] Idobenja commented on #10111
@amtagrwl thanks, worked for me too (python 3.5.3 with Pycharm community, CuDA 8.0, windows 10, CuDNN 5.1 - works now)

[2017-06-05 07:36] ppwwyyxx commented on #10422
Vote for it.
Discussed (but closed) in #6007.

[2017-06-05 07:45] kwotsin opened #10434 "Building TensorFlow 1.2 from source results in catastrophic error?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04 LTS
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.2
- **Bazel version (if compiling from source)**: 4.5.1
- **CUDA/cuDNN version**: 8.0

[2017-06-05 08:23] JcmeLs opened #10435 "build optimize_for_inference fail"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
    No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
    Windows 7 x64
- **TensorFlow installed from (source or binary)**:
    binary (pip3 install....)
- **TensorFlow version (use command below)**:
    tensorflow 1.1.0 CPU only
- **Bazel version (if compili

[2017-06-05 09:25] sleepfin commented on #10389
@asimshankar
I've tried on version 1.2.0-rc1, and the error still remains.

[2017-06-05 10:09] yanchen036 commented on #8873
Hi @girving ,
I'd like to work on this issue. I've written sketch code for it:
https://github.com/yanchen036/tensorflow/blob/arbitrary_dim_for_tile/tensorflow/core/kernels/tile_ops_impl.h#L55
https://github.com/yanchen036/tensorflow/blob/arbitrary_dim_for_tile/tensorflow/core/kernels/tile_ops.cc#L187

Are these the same as what you think? If I'm wrong pls correct me!

[2017-06-05 10:38] gwendoline-28 commented on #10154
Hi @mrry, many thanks, it looks like there were indeed dependency errors. The Dependency Walker has displayed the list of .dll files that were not found (there are a whole bunch of them):

Error: At least one required implicit or forwarded dependency was not found.
Error: At least one module has an unresolved import due to a missing export function in an implicitly dependent module.
Error: A circu

[2017-06-05 10:42] erlebach commented on #7731
I am interested in the answer to this same question. Thanks.

[2017-06-05 10:43] tillahoffmann opened #10436 "Failed to build on Mac OSX: "Could not find python binary""
I am trying to compile tensorflow from source but cannot build `master`. The build for the pip package fails with the following error message

[code]

I am running Mac OSX 10.12.4, bazel 0.4.5, python 3.6.1 in a conda virtual environment, Apple LLVM version 8.1.0 (clang-802.0.42). This might be related to https://github.com/bazelbuild/bazel/issues/2752.

Any suggestions would be greatly appreciate

[2017-06-05 10:51] lakshayg commented on #9683
Please see #2660 for a discussion about the same issue in MaxPooling operation

[2017-06-05 11:12] sandipmgiri commented on #9360
Hi @drpngx , @martinwicke,

I have discussed this issue with numpy community - https://github.com/numpy/numpy/issues/9040

**They mentioned that** -

1. Note that doing this cast incurs undefined behaviour, so it's hard to say which platform is incorrect here.I'd argue that we should just issue a warning and leave the platform-specific behaviour.

2. The same argument you use for "we should fix th

[2017-06-05 11:37] lakshayg commented on #9898
I am interested in taking up this issue. Should I send in a pull request?

[2017-06-05 12:35] lmkostas commented on #9832
@ebrevdo I'm looking to incorporate BeamSearchDecoder into a project I'm working on as soon as possible. Have all the fixes been pushed/is there anything still in the pipeline to be done that I should be aware of when using the current state of the code? Thanks!

[2017-06-05 13:08] KashiErez commented on #10270
Hi,

This is the optimizer I used to print the indices shape:
(I copied the code from optimizer.Optimizer class, and injected a tf.Print statement).

[code]

I ran it on 3 models, here are the results:

Model 1 - few small categorical features (no more then 10K each):

[code]

Model 2 - small categorical features (no more then 10K each) + words (50K unique values):

[code]

Model 3 - small categor

[2017-06-05 13:20] tomwanzek commented on #9526
Any update on this? Thx in advance.

[2017-06-05 13:28] orome commented on #10422
Actually [this](https://github.com/tensorflow/tensorflow/issues/6007#issuecomment-264322793) is a satisfactory solution (I don't know why it didn't occur to me!).

[2017-06-05 13:33] al626 commented on #9868
This was fixed in https://github.com/fchollet/keras/pull/6693

A simple example:

[code]

[2017-06-05 14:17] johndpope commented on #19
so good news & bad news

To anyone - coming to pick up a 'swift' port of tensorflow - as of this writing -
there's a limit to how far the c api will take this codebase.
https://www.tensorflow.org/versions/r0.12/how_tos/language_bindings/

<img width="746" alt="screen shot 2017-06-05 at 9 40 22 am" src="https://cloud.githubusercontent.com/assets/289994/26786018/115356c6-49d3-11e7-9a3f-cc937b04c109.

[2017-06-05 14:21] ljstrnadiii commented on #672
@markusdr,

This is exactly what I need to know about partial run! Have you found an answer to your questions?

Len

[2017-06-05 14:23] CJxD commented on #3368
The easiest way I've found is to save the SVG element to a .svg file, and then in-line all the CSS. There's a handy bookmarklet that does it for you, found here: http://nytimes.github.io/svg-crowbar/

[2017-06-05 14:37] adityaatluri opened #10437 "Enabling TF to build LLVM AMDGPU backend for XLA"
Hi,
When I enable XLA during configure stage and run `bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package`, it starts pulling [llvm](https://github.com/tensorflow/tensorflow/blob/master/third_party/llvm/llvm.BUILD) and build for ARM, PPC, X86 and NVPTX backends. Is there a way to enable AMDGPU backend? (Matter of fact, all backends supported by LLVM?)

[2017-06-05 14:48] girving commented on #8873
@yanchen036 Those links don't make it easy to see diffs.  Am I right that you just added a stub for TileSimple but didn't write it?  If so, the existence of TileSimple is on the right path.  I'm not sure if you made other changes.

[2017-06-05 14:58] SHMCU commented on #6606
I am in Ubuntu, I have this three errors and I found it is because insufficient memory on the GPU I specified. That GPU is occupied by some other programs. I changed to another GPU with more memory available. The problem is gone.

[2017-06-05 15:18] bryant1410 commented on #7958
At @xmartlabs we have been working on a framework to use neural nets for iOS on top of metal that supports running TensorFlow models, maybe someone is interested in using it, at least until TF supports metal

https://github.com/xmartlabs/Bender

[2017-06-05 15:21] yanchen036 commented on #8873
@girving I did 2 things.
First, I wrote a TileSimple stub(now I know that's not you need) and a TileUsingEigen function
[code]
which implements the old Tile::operator(). See https://github.com/yanchen036/tensorflow/blob/arbitrary_dim_for_tile/tensorflow/core/kernels/tile_ops_impl.h#L32

Second, I changed the Tile::operator() function from
[code]
To
[code]
This uses template specialization as you m

[2017-06-05 15:33] drasmuss commented on #7951
Another feature request: it'd be great if there was an `iterator.peek()` operator, which would return the current iterator value (like `iterator.get_next()`), but not advance the iterator.  This would make it easier to coordinate multiple elements of a model that all want to read from the iterator before advancing it one step.

[2017-06-05 15:39] shlens commented on #10315
I believe the issue is that the function tries to be general in order to handle cases when the input shape is not known at compile time. This might be the case if the image were the result of decode_jpeg, for instance. In this case, the spatial dimensions of the output shape are unknown.

It would be possible to create a special case handling such that if the shape is fully specified in the input,

[2017-06-05 15:43] Dref360 commented on #10408
Early tests seems to show that
_GRAPH_LEARNING_PHASES is not cleared so there is tons of tensors that get kept.

Changing to ```def reset_uids():
  global _GRAPH_UID_DICTS
  global _GRAPH_LEARNING_PHASES
  _GRAPH_UID_DICTS = {}
  _GRAPH_LEARNING_PHASES = {}```

Seems to resolve the problem.

memory use: 0.13190841674804688
memory use: 0.13220977783203125
memory use: 0.13220977783203125
memory use:

[2017-06-05 15:44] petecoup commented on #10437
Not sure what will be different for a GPU target, but for a CPU target, I modified the llvm.BUILD to add the target to the llvm_targets = [] list, added the target { "name":, ... "tbl_outs": [(...)] } entries to llvm_target_list, and "cc_library" entries like the other CPU targets (<target>_asm_printer, <target>_code_gen, <target>_desc, <target>_disassembler, <target>_info).  Once I had all of thi

[2017-06-05 15:46] bryant1410 commented on #4846
There's [bender](https://github.com/xmartlabs/Bender), that provides an API on top of Metal to build and run neural nets. It also supports running TensorFlow models.

[2017-06-05 15:48] girving commented on #8873
The `TileSimple` stub *is* the right idea; didn't mean to imply that wasn't.  So that looks good, except that I assume you don't mean to templatize your new `operator()` over `NDIM`?  I'm happy to comment further, but I'd much prefer to be looking at a pull request with diffs.

I'm not sure how many fully specialized versions you should have, by the way.  I think there is a fairly common case whic

[2017-06-05 15:50] bryant1410 commented on #491
[Bender](https://github.com/xmartlabs/Bender) supports running TensorFlow models in Metal API. It was tested on iPhone, not on Mac. But maybe with little changes it works for Mac!

[2017-06-05 15:51] bryant1410 commented on #6357
[Bender](https://github.com/xmartlabs/Bender) supports running TensorFlow models on iOS. Maybe it's interesting for you.

[2017-06-05 16:02] taion commented on #7958
Would it make sense to take the same approach to adapt TF models to run on Caffe2?

[2017-06-05 16:12] Dref360 commented on #10408
This is actually fixed in keras master branch.
https://github.com/fchollet/keras/blob/master/keras/backend/tensorflow_backend.py#L82
So waiting for the merge will fix the problem.

[2017-06-05 16:12] michaelisard commented on #8946
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-05 16:12] #8946 closed

[2017-06-05 16:12] malmaud commented on #10352
I suppose other 1-based languages could benefit as well...Matlab/Octave, Lua, and Mathematica come to mind.

Re moving things out of `OpDef`: Indeed, for my purposes it only matters that the information is somehow programmatically available, not necessary that it is part of the `OpDef` proto.

[2017-06-05 16:17] virl commented on #491
@bryant1410 No, it uses MetalPerformanceShaders and thus allows to execute '''already trained''' networks, not training with Metal.

[2017-06-05 16:18] allenlavoie commented on #10270
Well, that explains why the transfer times are in miliseconds: 3 megabytes of indices at ~1 gigabyte/sec, then take a round trip (even if they're all duplicate, the second result of unique() has the same size as its input).

There's a separate question of why that many embeddings are accessed at each iteration (all of them?). It's definitely unusual for a language model. Regardless, clearly it wou

[2017-06-05 16:18] michaelisard commented on #9368
@girving any ideas?

[2017-06-05 16:21] adityaatluri commented on #10437
Hi,
Thank you for response. I tried to add the entries you mentioned and running into build errors.
I documented my observations here:
https://groups.google.com/a/tensorflow.org/forum/#!topic/discuss/Diy-mVlcNPQ

[2017-06-05 16:23] YuanmanLi commented on #956
Please add other padding modes, as ‘wrap’ in numpy.pad. (as also requested by @FedericoMuciaccia )
Besides, could anyone give me a clue that how to implement 'wrap' padding using only the current tensorflow functions?  Thanks in advance.

[2017-06-05 16:23] michaelisard commented on #9742
It sounds as if the right thing to do is follow up with protobuf to investigate further, so I am closing this for now but please reopen if there are more TF issues.

[2017-06-05 16:23] #9742 closed

[2017-06-05 16:35] ringw commented on #288
If we implemented this ourselves, we could also add an efficient median function (using something like quickselect).

[2017-06-05 16:44] mrry commented on #10154
Hmm, that's surprising. Can you share the list of DLLs that were not found?

(Also, just to make sure, can you run Dependency Walker from the Anaconda terminal in the environment where TensorFlow is installed? This might have a different `%PATH%` from the default system `%PATH%`, and so some of the errors might be false negatives....)

[2017-06-05 16:56] michaelisard commented on #9961
@mrry could you reassign to whomever supports Windows configuration?

[2017-06-05 16:57] petecoup commented on #10437
Hmm...
...looking more closely at the AMDGPU backend.  Unlike any of the other current supported backends, it looks like the intrinsics you're interested in are in lib/Target/AMDGPU, rather than what is in include/llvm/IR/IntrinsicsAMDGPU.td...and you're the only target that uses "-gen-intrinsic" directly.  I'm guessing that this is problematic.  The regular CMakeLists.txt rule for this is:
tableg

[2017-06-05 16:58] michaelisard commented on #9972
Thanks, closing this as a duplicate of #9905 please reopen if there's still a problem when that one is closed.

[2017-06-05 16:58] #9972 closed

[2017-06-05 17:08] mrry commented on #9961
AFAICT, @petewarden added the spectrogram code, which appears to be causing the failure, in 7c9d2a458ee6cb925a0b3d23793d0e356a6eac12.

[2017-06-05 17:13] bryant1410 commented on #491
Oh, yeah. It only allows to do inference, not training.

[2017-06-05 17:13] wolffg commented on #9905
This is fixed in 1.2 and master already; this will be fixed at this location when 1.2 is made the current binary version.  We can cherrypick back to 1.1, but I don't think it's worth the trouble.

As a passing note, we should not link from 1.1 narrative docs to master code samples; this has caused confusion in the past, as the master code may not work with 1.1.  It should link to the 1.1 branch (w

[2017-06-05 17:29] charles200000 commented on #10111
Worked for me too ! (python 3.5.3, windows 10, Cuda 8.0 and GTX 1080

[2017-06-05 17:32] JayParks commented on #10433
The issue was resolved by following ebrevdo@96698f7fdc0e9fa82413691ca7064db2723d2d56

[2017-06-05 17:32] #10433 closed

[2017-06-05 17:33] skye commented on #10094
@satok16 is listed as the maintainer of contrib/hvx, perhaps he can comment

[2017-06-05 17:35] michaelisard commented on #10004
Marking contributions welcome while we are waiting for the PR.

[2017-06-05 17:36] girving commented on #9368
The solution is to port the trick from the nonsparse case (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/nn_grad.py#L393).

[2017-06-05 17:42] michaelisard commented on #10014
@brandondutra how is that workaround for you?

[2017-06-05 17:42] fchollet commented on #10408
@Dref360 this is fixed in TF master: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/keras/python/keras/backend.py#L288

Does this resolve the problem?

[2017-06-05 17:50] Dref360 commented on #10408
K.clear_session is never called. maybe K.set_session should do a clear_session?

[2017-06-05 17:52] michaelisard commented on #10040
I'm closing this since it seems to be resolved, but please reopen if there is an issue.

[2017-06-05 17:52] #10040 closed

[2017-06-05 17:54] anonym24 opened #10438 "Android TF Classify: Reduce input size"
I'm trying to reduce input size in ClassifierActivity, but I get ` java.lang.IllegalArgumentException: Input to reshape is a tensor with 128 values, but the requested shape requires a multiple of 2048`

[code]

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/src/org/tensorflow/demo/ClassifierActivity.java#L61

What should I do to reduce it? (my cropped image is als

[2017-06-05 17:56] satok16 commented on #10094
Hi, sorry for the delay.
I'm going to refactor this part (change has been already created, I'm cleaning up it now.)  Will be checked in a week.

[2017-06-05 18:03] michaelisard commented on #10050
Does it work if you just do

img = pil_image.open(...)
x = np.as_array(img, dtype=float32)

i.e. just using pillow and np? If not, I guess you may have to follow up with those projects.

[2017-06-05 18:03] gunan commented on #10436
What is the output of `which python3` in the terminal you are trying to build TF?
Also, did you run configure before building?

[2017-06-05 18:04] svetlov opened #10439 "Different timelines on QueueDequeManyV2 in cpu and gpu installations"
OS Platform and Distribution: Ubuntu 14.04
TensorFlow version:
    cpu: ('v1.1.0-rc0-61-g1ec6ed5', '1.1.0')
    gpu:  ('v1.1.0-rc0-61-g1ec6ed5', '1.1.0')

CUDA/cuDNN: 8.0/5.0

env: https://pastebin.com/f70fQ9Mw

I'm trying to fill queue of input data in additional thread in python, but obtain very strange timings for this operation, different for cpu and gpu version in 20 times. as you can see in

[2017-06-05 18:10] tillahoffmann commented on #10436
@gunan, thanks for looking into this. Yes, I have run configure. Here is the output.

[code]

And some more diagnostics:

[code]

[2017-06-05 18:11] michaelisard commented on #10054
Sorry if this is obvious, but why do you say in the title that the inconsistency isn't caused by the random seed? Is the seed being set in the code somewhere and I am missing it?

[2017-06-05 18:15] gunan commented on #10436
All looks good, thanks.
What is the exact bazel command you are running after configure?

[2017-06-05 18:18] ebrevdo commented on #10036
@ahundt `tf.parallel_stack` has strict limitations that `tf.stack` does not.  Not only do the shapes need to be known at graph build time for `tf.parallel_stack`, but this op ***does not support backprop*** (due to incompatibility between the in-place nature of its calculation and the functional requirements for enabling backprop on an op)!  In fact, this is more of a block temporary variable assi

[2017-06-05 18:18] ebrevdo commented on #10036
The fact that `parallel_stack` has no backprop support should be clearly documented, but it doesn't seem to be :(

[2017-06-05 18:19] ebrevdo commented on #10036
@alextp can you confirm?

[2017-06-05 18:22] danijar commented on #7880
@suharshs Do you have a solution for in-graph reinforcement learning?

[2017-06-05 18:23] alextp commented on #10036
Yes, it should be documented that it has no backprop support.

parallel_stack also has restrictions on what can be stacked (all shapes must be fully known I think)

[2017-06-05 18:24] adityaatluri commented on #10437
Ah! Thank you for the insight of CMake->Bazel mapping of -gen* flags. Using the idea, I cleaned up llvm.BUILD file and able to build AMDGPU backend.
Thank you very much!

[2017-06-05 18:29] asimshankar commented on #10371
@sandipmgiri : I did submit a change internally to fix this, similar to yours. We push our internal changes to Github typically once a day so PR #10440 should resolve this.

[2017-06-05 18:56] Caselles commented on #10408
Before posting this issue, I tried calling K.clear_session(), but my tensorflow version was 1.1... Never lucky. By upgrading to 1.2 and calling K.clear_session(), the problem was solved. Thank you very much 👍

[2017-06-05 19:00] rahasayantan commented on #22
@rodburns. I tried following the steps listed on the link https://www.codeplay.com/products/computesuite/computecpp/guides/how-to-setup-tensorflow-with-computecpp
I get the following error:
ERROR: /home/sayantan/.cache/bazel/_bazel_sayantan/6f05f78a1e215999d72e42c1e87a8c1d/external/protobuf/BUILD:609:1: undeclared inclusion(s) in rule '@protobuf//:python/google/protobuf/internal/_api_implementatio

[2017-06-05 19:02] fchollet commented on #10408
Independently of `clear_session`, I would expect the use of graph scopes to prevent this behavior. What's the status of that?

[2017-06-05 19:04] ebrevdo commented on #10036
OK; so I'm going to rename this to "document functional differences between tf.parallel_stack and tf.stack."