[2018-12-26 16:55] DEKHTIARJonathan opened #24582 "TF Identity - SparseTensor - Not Working"
`tf.identity` seems to be not working with SparseTensor. This is a problem, because it makes quite impossible to use them with `tf.control_dependencies`.

Below a very simple example:

[code]

[code]

[2018-12-26 17:19] jennings1716 commented on #24446
Any updates

[2018-12-26 17:20] cbasavaraj commented on #23784
@rohit-gupta See @byronyi 's original post:
`/home/byronyi/.cache/bazel/_bazel_byronyi/fe336f47afec8b033fb4b29a6628548f/external/local_config_cc/BUILD:57 `
It will be the equivalent location for you

[2018-12-26 17:36] tataganesh95 commented on #14586
@wantt Thanks! Will take a look.

[2018-12-26 17:45] WrathofBhuvan11 commented on #7072
Hooo!! this worked

[2018-12-26 17:47] ymodak commented on #24506
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-12-26 17:47] #24506 closed

[2018-12-26 17:47] ymodak commented on #24470
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-12-26 17:47] ymodak commented on #24251
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-12-26 17:47] #24251 closed

[2018-12-26 17:48] ymodak commented on #24240
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-12-26 17:48] #24240 closed

[2018-12-26 17:48] ymodak commented on #24239
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-12-26 17:48] #24239 closed

[2018-12-26 17:49] ymodak commented on #21978
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-12-26 17:49] #21978 closed

[2018-12-26 17:51] alexellis commented on #24104
What was the resolution for this? I"m using the Docker / cross-compilation instructions via https://www.tensorflow.org/install/source_rpi with r1.12 branch.

[2018-12-26 18:06] martinwicke commented on #24576
We removed `tf.spectral` and replaced it with `tf.signal`, which also includes more functional related to signal processing. We should probably update the RFC, but it's probably better to do it once all these changes are solidified.

[2018-12-26 18:06] #24576 closed

[2018-12-26 18:39] ymodak commented on #24574
@theweiho Can you please take a look? Thanks!

[2018-12-26 18:39] GearWalker commented on #11930
I'm got a problem too. I'm using tensorflow 1.12.0 with python 3.6.8 on Windows10 + GPU GTX1070

[2018-12-26 18:41] tensorflowbutler commented on #23326
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-12-26 18:58] ymodak commented on #24517
I was able to run your code snippet successfully using TF 1.12. Can you try using https://colab.sandbox.google.com/notebooks/welcome.ipynb to execute your code and confirm?

[2018-12-26 19:08] ppwwyyxx commented on #24517
![1226-11 07 10](https://user-images.githubusercontent.com/1381301/50454757-6cb49480-08fe-11e9-96f2-6c34d0542594.png)
You may be executing my code in the wrong way (e.g. import tensorflow before setting envvar).

[2018-12-26 19:37] ymodak commented on #24517
Yes you are right.

[2018-12-26 20:01] msymp commented on #24525
Hello all, to correctly use the latest TFLiteConverter for r1.12/r1.13 & higher nightly builds, you must use the  tf.contrib.lite.TFLiteConverter Python API instead of tf.lite.TFLiteConverter. Please try your conversions again and report back to us. Thanks.

[2018-12-26 20:16] msymp commented on #24527
Hello @starkdg, In response to your original question, you can reliably build from r1.12 sources, with **_Python 3.5.3 and gcc 4.8.4 and bazel 0.15.0_**
Bazel is generally behind the curve to the latest TF distros.
--

[2018-12-26 20:42] i3130002 commented on #18193
I imagine having the same problem but this did not fixed mine

Error:

Source code:
[code]

Already tried :

- Session variable initialization
- Using `callbacks=[tbCallBack])` instead of  ` tbCallBack.set_model(model)`
- Using other callbacks works perfectly
-  tensorflow 1.12.0
- keras 2.2.4
- Reinstalling both tensorflow and keras using pip
- win 10 64
- python 3.6

[2018-12-26 20:53] yongtang commented on #24577
@ageron I tried the same tf-nightly on Ubuntu and it looks to be fine:
[code]

I am wondering if you completely uninstall the tensorflow/tf-nightly then reinstall again (or delete packages from site-packages/tensorflow completely) might make a difference?

Or this could be specific to Mac only issue?

[2018-12-26 20:56] yongtang commented on #24573
@ageron I tried with ubuntu but could not reproduce it:
[code]

Wondering if the issue is similar to #24577 as well?

[2018-12-26 21:21] gunan commented on #23561
Thank you very much for sharing this!
I have not been able to look at this yet, but this is a priority for me.
Also cc @yifeif

[2018-12-26 22:33] ufukcbicici opened #24585 "tf.dynamic_stitch does not work when one of the partitions has zero elements."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution : Windows 10
- TensorFlow installed from (source or binary): Binary
- TensorFlow

[2018-12-26 23:05] ymodak commented on #24558
duplicate #24233

[2018-12-26 23:13] jlebar commented on #24469
@ymodak Based on my comment above, I'm confused what caused this to be assigned to me.  Would you be willing to elaborate on what further action you're looking for from me?

[2018-12-26 23:16] msymp commented on #24529
Hello, _**Brian Patton**_ on Stack Overflow might have provided an answer to the exact query you have:
_https://stackoverflow.com/questions/53338975/use-and-modify-variables-in-tensorflow-bijectors_
Please let us know if above Stack Overflow solution has addressed your issue, without currently needing a new feature. Thanks.

[2018-12-26 23:21] ymodak commented on #24565
Can you please give a try to bazel version 0.15? TF build is tested against bazel 0.15. You are trying to install cpu version of TF right?

[2018-12-26 23:53] yongtang commented on #24585
@ufukcbicici I tried your code example on Ubuntu (with the tf same version) but could not reproduce the error you mentioned. Wondering if the issue only exists on Windows?

[2018-12-26 23:55] rootkitchao commented on #24531
May require NVIDIA to provide a way to observe how Tensor Core works.

[2018-12-26 23:59] ymodak commented on #24469
@jlebar Currently I am waiting for the user to respond. If he's willing to make a contribution then it will require your inputs. At this point we don't need any action from your side. I will reassign it to you/other assignee depending on its progress. Thanks!

[2018-12-27 00:04] jlebar commented on #24469
@ymodak Since we are not looking for any action from me, would it be OK if the bug was not assigned to me?

This way I can maintain the invariant that when I look at the set of bugs assigned to me, it's the set of things that need action from me.  This is helpful for keeping things from falling through the cracks.

[2018-12-27 00:18] msymp commented on #24530
Hello @demeiyan , please let us know if @lxl910915 comments has addressed you query sufficiently. Thanks.

[2018-12-27 00:30] msymp commented on #24531
Hello @MerceaOtniel , Please let us know if you query has been addressed by @rootkitchao
Thanks.

[2018-12-27 00:30] yongtang commented on #24555
@larry0123du Can you provide the minimal full code sample that could reproduce the error? The code you pasted is not complete with `get_dataset` and `callbacks` missing.

[2018-12-27 00:31] demeiyan commented on #24530
no,I can not run bi-lstm on multi gpu. And do not know how to run.

[2018-12-27 00:36] msymp commented on #24533
Hello @Kishwar , Please let us know if your query has been addressed by @Rbiessy
Thanks.

[2018-12-27 00:39] jlertle opened #24586 "Using MirroredStrategy for Multi-GPU Training Fails with DNNLinearCombinedClassifier using default FTRL optimizer"
Many similar issues using MirroredStrategy with other optimizers have been filed. Looks like FTRL optimizer needs to be updated as well.

**Environment**
== cat /etc/issue ===============================================
Linux 1226-234618-hanks421-172-20-170-14 4.4.0-1072-aws #82-Ubuntu SMP Fri Nov 2 15:00:21 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
VERSION="16.04.5 LTS (Xenial Xerus)"
VERSION_ID="1

[2018-12-27 00:54] xilenteyex opened #24587 "Controlling Scheduling of Unrelated Ops"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.11
- Are you willing to contribute it (Yes/No): Yes

**D

[2018-12-27 01:14] rky0930 commented on #24104
@alexellis Yes, It's for source build for RPI and I had the same error when i compiled r1.12 branch.

[2018-12-27 01:30] ymodak commented on #24460
Can you please provide following information? Thanks!
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from so

[2018-12-27 01:30] ageron commented on #24573
Hi @yongtang ,
I'm not sure we are using the same version. I installed the 2.0 preview, but it says the version is 1.13.0-dev20181225.

[2018-12-27 01:33] msymp commented on #24534
Hello @hillin , Please install with following procedure and let us know:

TensorFlow supports only 64-bit Python 3.5 on Windows. Test Pip installation on Windows with this distribution of Python:   _https://www.python.org/downloads/release/python-352/_

NOTE: TensorFlow requires MSVCP140.DLL, which may not be installed on your system. If, when you import tensorflow as tf, you see an error about No

[2018-12-27 01:45] msymp commented on #24536
Hello,
Everything on your template looks consistent except for the Bazel version. Try **_bazel 0.15.0_** and let us know. Bazel is generally behind the curve. Thanks.

[2018-12-27 01:48] fkjpn1204 commented on #24138
By the way... I want to convert to quantized model.
but custom model(SSD) couldn't convert to quantized model.
bellow error was happen.
Do you know the solution?

#command
$ (path) tflite_convert
--output_file=(path)/ssd2.tflite
--graph_def_file=(path)/ssd1.pb
--input_arrays=input_13
--output_arrays=predictions/concat
--allow_custom_ops=True
--inference_type=QUANTIZED_UINT8
--mean_values=128
--std

[2018-12-27 01:50] fkjpn1204 commented on #24138
By the way... I want to convert to quantized model.
but custom model(SSD) couldn't convert to quantized model.
bellow error was happen.
Do you know the solution?

#command
$ (path) tflite_convert
--output_file=(path)/ssd2.tflite
--graph_def_file=(path)/ssd1.pb
--input_arrays=input_13
--output_arrays=predictions/concat
--allow_custom_ops    *"True" is not neccessary
--inference_type=QUANTIZED_UINT8

[2018-12-27 01:50] frankchn commented on #14232
The new way to use TensorFlow for distributed training is called distribution strategies: https://github.com/tensorflow/tensorflow/blob/r1.12/tensorflow/contrib/distribute/README.md, so we do encourage you to take a look at those examples.

[2018-12-27 01:59] shenyingying commented on #20209
@skye @shantianyang
hi ,did you solve the proble ,I train the yolov2 and use it in office demo,there is the problem.
2018-12-27 09:41:33.780 17423-17443/org.tensorflow.demo E/TensorFlowInferenceInterface: Failed to run TensorFlow inference with inputs:[input], outputs:[output]
2018-12-27 09:41:33.783 17423-17443/org.tensorflow.demo E/AndroidRuntime: FATAL EXCEPTION: inference
    Process: org.tens

[2018-12-27 02:08] hnustxyxm opened #24589 "Why can't Python 2.7 install tensorFlow with windows operating system ? Does TensorFlow not support Python 27 now? Is there a kind person who can tell me, I really urgent!"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2018-12-27 02:11] georgesterpu commented on #24469
Hi,
Thanks a lot for the explanations, and apologies if my lack of response led to a sub-optimal workflow.
I mainly wanted to see if the updated `CudnnRNN` API could be used in machine translation or speech recognitions applications, and, if not, which of its aspects could further improve the performance of the `RNNCell` implementation. Since I may not have the technical expertise in XLA (sorry fo

[2018-12-27 02:11] #24469 closed

[2018-12-27 02:12] shenyingying opened #24590 "java.lang.IllegalArgumentException: ConcatOp : Dimensions of inputs should match: shape[0] = [1,1,1,256] vs. shape[13] = [0,1,1,256]"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2018-12-27 02:15] RyanRong commented on #24565
@ymodak  sor,tensorflow required latest bazel version is 0.19.

[2018-12-27 02:15] wangchengbi commented on #24135
I test the url 'https://mirror.bazel.build/github.com/unicode-org/icu/archive/release-62-1.tar.gz' in browser with a usable vpn, but returning 404.

[2018-12-27 02:46] burui11087 opened #24591 "list index out of range in freeze_graph.py"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):**NO**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):**Linux Ubuntu 16.04.5**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:**No**
- TensorFlow installed from (source or binary):**binary**
- TensorFlow version (use comm

[2018-12-27 02:46] dustinbigham commented on #24586
I have the same issue trying to use FTRL optimizer with MirroredStrategy on multiple GPUs.

[2018-12-27 02:48] oss-developer commented on #24556
@yongtang , May I known what difference between https://github.com/tensorflow/tensorflow/tree/master/tensorflow/core/platform and https://github.com/tensorflow/io supports external-filesystems?

[2018-12-27 03:01] #24259 closed

[2018-12-27 03:12] yaxiongma commented on #24525
@msymp
Hi M Srikant~
    I just tried the method you mentioned above：

But it didn't work.
My tf version is **'1.13.0-dev20181226'**.
Here is part of my code and the error log:

**code:**

`
converter =tf.contrib.lite.TFLiteConverter.from_frozen_graph('data/tflog/pb/feature_extracting_from_fixed_sequence.pb',
                                                      ['adio_sequence'],['adio_sequence']

[2018-12-27 03:32] traviskaufman opened #24592 "Estimators + tf.data iterators incompatible with eager execution enabled"
Yes

MacOS Mojave version 10.14.2

N/A

binary

v1.12.0-rc2-3-ga6d8ffae09 1.12.0

Python 3.6.0

N/A

N/A

N/A

N/A

**Describe the current behavior**

Say you train an estimator using [tf.estimator.train_and_evaluate](https://www.tensorflow.org/api_docs/python/tf/estimator/train_and_evaluate). The `input_fn` to your estimator returns a [tf.data.Dataset](https://www.tensorflow.org/api_docs/python/t

[2018-12-27 03:50] ardianumam commented on #22957
Any update of this issue? I also encounter a similar issue.

[2018-12-27 03:59] jiangxiluning commented on #23772
HI, @ymodak I used the nightly build， same error occurred.

[2018-12-27 04:16] ufukcbicici commented on #24585
@yongtang Interestingly, again  on Windows but using a much older Tensorflow 1.7.0, I cannot reproduce the error as well. The newest Tensorflow seems to be affected.

[2018-12-27 05:35] sdeoras commented on #24450
@asimshankar It is great to see that TF master is cross-compiling fine for Raspberry PI (I tried at commit `92b598a32d`). Just wondering if team is planning to bring up Go API to work properly in master. I see following errors:
[code]

[2018-12-27 05:46] shkarupa-alex commented on #18858
+1 to have this feature out-of-the-box

[2018-12-27 05:58] StevenBanama commented on #17013
you can add list_diff_op.cc to android_extended_ops_group1 in "tensorflow/core/kernels/BUILD" or update tensorflow to latest version (over 1.8).

[2018-12-27 06:32] iamtubu commented on #24558
The issue has been resolved.Looks like there was a problem with the eigen patch file.Also i have to upgrade the version of bazel.
After doing this i was able to create tensorflow pip package.
Closing this issue.
Thanks!

[2018-12-27 06:32] #24558 closed

[2018-12-27 06:36] ageron opened #24593 "Keras model evaluate() progress bar randomly stops before 100%"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mac OS X 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
VE

[2018-12-27 08:15] piaoyats opened #24594 "tensorflow parameter server start with no worker_hosts specific in cluster def"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (1.8.0):
- Are you willing to contribute it (Yes):

**Describe the feature

[2018-12-27 08:39] maishuguang commented on #24557
The same problem happens to me.

[2018-12-27 09:00] stefanofiorentino commented on #15604
Could you tell us the OS version and the exact command you issued to "downgrade"?

[2018-12-27 09:16] terminsen commented on #24470
Hi -

I already updated my question with additional information you requested. So, hope that you will take a look at my question again, please.

Thanks.

[2018-12-27 09:27] ZhouYuChen opened #24595 "Multi-tower support on each GPU in MirroredStrategy and estimator"
**System information**
- TensorFlow version (you are using): 1.12
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
*Feature*:
Add an argument like `num_towers_per_gpu`  in `tf.contrib.distribute.MirroredStrategy` to enable multi-tower computation on each GPU.
*Current state*:
Current `tf.contrib.distribute.MirroredStrategy`'s design is one G

[2018-12-27 09:45] aafreenart commented on #22300
I experienced this issue when I installed tensorflow using conda. Then I uninstalled tensorflow and installed it using pip3 command. The issue has been resolved.

[2018-12-27 09:56] Cuiwanxin1998 opened #24596 "Failded to build libtensorflow_inference.so"
<em>Please Help,I try to build libtensorflow_inference.so ,but i get an error.  I guess the problem is my sytem ,I use window10, I don't know</em>

``bazel build -c opt //tensorflow/contrib/android:libtensorflow_inference.so --crosstool_top=//external:android/crosstool --host_crosstool_top=@bazel_tools//tools/cpp:toolchain  --cpu=armeabi-v7a
``

this is my error information:

``
INFO: Analysed tar

[2018-12-27 09:56] larry0123du commented on #24555
Sure, my get_dataset is as follows:
[code]
and the callback is
[code]
Let me know if you need anything else!

[2018-12-27 09:59] Pushkar-Singh-14 commented on #20444
try

python3 -m pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.12.0-py3-none-any.whl

[2018-12-27 10:15] luuil commented on #9722
@nikisalli @yifeif @SofiaAmel
Try this one(pip18, python3.6.6):
`python3 -c "import wheel.pep425tags as w; print(w.get_supported())" | sed -zE 's/\),/),\n/g'`

[2018-12-27 10:34] hillin commented on #24534
Hi @msymp , thanks for the response.

The python/PIP version works fine on my side. I'm reporting an issue related to the C++ binary build (which I invokes with C#).

[2018-12-27 10:41] jrabary commented on #17851
Hi @guptapriya, is there any update on this issue ? When can we expect to have multi-gpu support running in eager mode ?

[2018-12-27 10:46] asimshankar commented on #24450
@sdeoras : those messages seems symptomatic of having an older version of the C library. Could it be that you are linking against an old version?

[2018-12-27 11:06] rmmal commented on #6720
Any new news about this ? , results from tensorflow.resize_bilinear is different from cv2.resize bilinear ,, what should i do to make them like each others as the network output different results in each case

[2018-12-27 11:13] Noltibus commented on #23766
Any word on this? It seems, that using the normal, not the nightly dependency of tflite now runs the model, but still way slower than the not-lite model

[2018-12-27 11:53] ufukcbicici opened #24598 "Potential tf.boolean_mask bug when the mask array is empty"
**System information**
- OS Platform and Distribution : Windows 10
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 1.11.0
- Python version: 3.6.6
- CUDA/cuDNN version: V8.0.60
- GPU model and memory: Geforce GTX 1070 8GB

**Describe the current behavior**
I have actually experiencing almost the similar problem like in thread:  https://github.com/ten

[2018-12-27 12:15] Kishwar commented on #24533
Hello @msymp, I changed at one place in a file with path of "computeCpp". My compile crossed the failing point but now I have another failure. Currently I have stopped working on it. I will start again in next year.

[2018-12-27 12:33] wang150973 commented on #6998
hi, sir,  I meet the problem too,  if I need  get the gradients wrt the sparse tensor's zero elements, what should I do?

[2018-12-27 12:47] ParikhKadam commented on #24519
That can't be possible.. Maybe you haven't cloned the whole project. This file has its own dependencies which are already included in the project.

The module 'layers' is also a part of the project which is here:
https://github.com/ParikhKadam/bidaf-keras/tree/master/layers

[2018-12-27 12:54] sdeoras commented on #24450
@asimshankar : thank you. yes, it was an older library i was linking against. Previous errors are gone but one last issue still remains:
[code]
I am able to get past this error simply by reducing the slice length in `attrs.go:173` to:
`slice := (*[1 << 27]C.int64_t)(unsafe.Pointer(dim))[:numDim:numDim]`

[2018-12-27 14:04] byronyi commented on #24594
It’s by design. We use the name “ps” in TensorFlow in its nominal sense, without a specialized PS construct. The current SendRecvOps require both side to be aware of each other’s endpoints for duplex communication.

For example, before each iteration, the worker needs to call RecvTensor RPC to fetch model parameters. It does not use the same channel to push gradients; instead, the PS calls RecvTen

[2018-12-27 14:36] iggy12345 opened #24599 "Documentation: User-friendly Bazel installation"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: GPU 1.14.0
- Doc Link: https://www.tensorflow.org/install/source_windows

[2018-12-27 14:42] COthello opened #24600 "cudnn gru has bug"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2018-12-27 16:37] martinwicke commented on #6998
Use tf.sparse.to_dense first. Since you'll be expanding the tensor for the
backward pass anyway, there's little reason to keep it sparse.

On Thu, Dec 27, 2018, 04:36 王吉宏 <notifications@github.com wrote:

[2018-12-27 16:53] Alireza89 opened #24601 "possible bug in examples/speech_commands/test_streaming_accuracy.cc"
in tensorflow/tensorflow/examples/speech_commands/test_streaming_accuracy.cc line 247 the following code is not correct:

`const int64 audio_data_end = (sample_count - clip_duration_ms);`
it should be corrected as follows:
`const int64 audio_data_end = (sample_count - clip_duration_samples);`

it is wrong because the dimensions do not match. sample_count is in units [sample] but clip_duration_ms i

[2018-12-27 16:55] maoshenl commented on #24528
Hi @msymp,  thanks!

I'm using the official NVIDIA Tensorflow singularity container 18.10-py2, directly from their web site:
https://ngc.nvidia.com/catalog/containers/nvidia%2Ftensorflow/tags

As for other information,
OS:  CentOS Version 7
GPU: NVIDIA Tesla P100 Pascal architecture, 16GB/GPU memory

[2018-12-27 17:21] hellozjj commented on #10284
same problem

[2018-12-27 17:52] ymodak commented on #23772
@jiangxiluning Can you please post a new issue describing your problem? Also make sure you provide all the information asked by the template. Thanks!

[2018-12-27 17:58] ymodak commented on #24589
I am afraid you are right. Unfortunately, TensorFlow is not supported on Windows with Python 2.7.

[2018-12-27 18:06] superbobry commented on #13308
I did a bit of investigation, and this particular failure seems to be due to a change in `std::function` between GCC [4.X](https://github.com/gcc-mirror/gcc/blob/gcc-5_1_0-release/libstdc++-v3/include/std/functional#L1871) and [5.X](https://github.com/gcc-mirror/gcc/blob/gcc-4_8_4-release/libstdc++-v3/include/std/functional#L2069). Interestingly, this change does not affect the ABI, and therefore

[2018-12-27 18:13] drpngx commented on #13308
Thanks @superbobry !

[2018-12-27 18:17] ChineduLB commented on #24471
Changed to bazel 0.18.1 now I am back to the original Error:

/usr/bin/bash: line 1: 1896 Illegal instruction bazel-out/x64_windows-opt/bin/external/nasm/nasm -fwin64 -DWIN64 -D__x86_64 -I $(dirname external/jpeg/simd/x86_64/jccolext-sse2.asm)/ -I $(dirname external/jpeg/simd/nasm/jdct.inc)/ -I $(dirname external/jpeg/simd/nasm/jdct.inc)/../../win/ -o $out $(dirname external/jpeg/simd/x86_64/jccol

[2018-12-27 18:38] wangpengmit commented on #23882
The behavior is caused by the fact that eager engine caches and reuses the same op node, and the random_uniform node has an internal state so multiple executions of it give different results. We are addressing this problem by a comprehensive overhaul in RFC [](https://github.com/tensorflow/community/pull/38). Please comment on that.

[2018-12-27 18:38] starkdg commented on #24527
Thanks @msymp for the response.  I'm pretty sure I tried that already, but I just tried it again just to be sure.  While the compilation does advance much further, it ends with a a different error.  To be sure, the missing dependency information is gone, but  a seg fault.

python 3.5.3
gcc 4.8.4
bazel 0.15.0
tensorflow v1.12.0 source
system: Linux debian 4.9.0-8-amd64 #1 SMP Debian 4.9.130-2 (2018

[2018-12-27 18:47] wangpengmit commented on #9171
We are addressing this problem by a comprehensive revamp in RFC tensorflow/community#38. Please comment on that.

[2018-12-27 18:48] ymodak commented on #24470
Can you try following and confirm if that works for you?
conda install -c conda-forge tensorflow

[2018-12-27 18:49] wangpengmit commented on #23407
FYI, we are addressing this problem by a comprehensive revamp in RFC tensorflow/community#38. Please comment on that.

[2018-12-27 18:57] Sphinxs commented on #15604
I tried Deepin 15.8 and Mint 19.1, I'm going to test Windows 10 later. The command `pip install --upgrade tensorflow-gpu==version`, I tried the [master](https://pypi.org/project/tensorflow-gpu/#history) versions: 1.9.0, 1.10.1, 1.11.0 and 1.12.0. The [cuda](https://developer.nvidia.com/cuda-downloads?target_os=Linux&target_arch=x86_64&target_distro=Ubuntu&target_version=1804) version and the drive

[2018-12-27 19:07] wangpengmit commented on #9230
tf.image.random_hue is a stateful op and as a general rule tf.map_fn shouldn't be used with a stateful op. There should be a stateless version of tf.image.random_hue (implemented by e.g. tf.random.stateless_normal provided by [cc45456](https://github.com/tensorflow/tensorflow/commit/cc45456e4ad0eff16127d1727d0cf48afb71ca0e)).

[2018-12-27 19:30] terminsen commented on #24470
I tried to run that line of code ... conda install -c conda-forge tensorflow

Python was able to import tensorflow (now 1.10):

2018-12-27 20:24:47  (rev 25)
     certifi  {2018.4.16 -> 2018.4.16 (conda-forge)}
     conda  {4.5.12 -> 4.5.12 (conda-forge)}
     tensorboard  {1.12.0 -> 1.10.0 (conda-forge)}
     tensorflow  {1.12.0 -> 1.10.0 (conda-forge)}

But I now got the following traceback;

--

[2018-12-27 19:38] jlertle commented on #24586
Also failing for ProximalAdagradOptimizer and AdagradDAOptimizer.

[2018-12-27 19:52] lhendre commented on #24374
I am working on the issue and testing, things have slowed down a bit on my end due to the holidays but i have blocked time to wrap this up over the weekend.  Ill post and updated status on sunday/monday and if i have made progress ill step back then

[2018-12-27 19:55] Akila92 commented on #8151
I have encountered the same error. Im using a CPU not GPU. So I changed the data format of the tensors to overcome in the code.Above Suggested solutions will not work for CPU.
More can be found in tensorflow documentation. Refer to  data formats
https://www.tensorflow.org/guide/performance/overview

[2018-12-27 19:56] Akila92 commented on #7967
I have encountered the same error. Im using a CPU not GPU. So I changed the data format of the tensors to overcome in the code.Above Suggested solutions will not work for CPU.
More can be found in tensorflow documentation. Refer to data formats
https://www.tensorflow.org/guide/performance/overview

[2018-12-27 20:11] kvcuong commented on #24472
I found the problem. I forgot to normalize the input batch data.

[2018-12-27 20:11] #24472 closed

[2018-12-27 20:22] #24529 closed

[2018-12-27 20:31] ebcdic-zehetbauer opened #24602 "Install documentation for pip install on PI not right / fails"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: unknown.
- Doc Link: https://www.tensorflow.org/install/pip

**Describe th

[2018-12-27 21:05] ricardobnjunior commented on #24210
Same problem

[2018-12-27 21:07] ricardobnjunior commented on #24210
@hondaathma Did you solve the problem?
If so, please share the solution with me.

[2018-12-27 21:16] Squadrick commented on #24105
Hey, I'd like to take a crack at this! Is that alright?

[2018-12-27 21:18] yongtang commented on #24601
@Alireza89 I think you are correct, do you want to create a PR for that?

[2018-12-27 21:23] DecentGradient opened #24603 "Retval[0] has already been set"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Modified Code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Fedora 28
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):binary pip
- TensorFlow version (use command below):1

[2018-12-27 21:27] ricardobnjunior opened #24604 "How to create an tensor as vector C++ ?"
Hey, there.

I am trying to create an tensor as vector with 16 positions. However i cannot. Can you help me please?
My code:

[code]

The error:

![image](https://user-images.githubusercontent.com/18532570/50494950-08302d00-0a05-11e9-8eb3-1170f1c0c720.png)

[2018-12-27 21:42] yongtang commented on #24573
@ageron I used the following command to install tf-nightly on Ubuntu 18.04:
[code]

May I know the installation method you used?

[2018-12-27 21:51] nunezpaul opened #24605 "[Feature Request] Indexing an array of functions"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.12.0
- Are you willing to contribute it (Yes/No): Yes

*

[2018-12-27 22:16] ymodak commented on #24598
I was able to run your code snippet successfully on cpu however interestingly it failed computing on gpu.

[2018-12-27 22:38] yongtang commented on #24592
@traviskaufman Would you mind to provide a full reproducible code sample that triggers the error? The code snippet you pasted may not be complete.

[2018-12-27 23:02] jvishnuvardhan commented on #24562
Hi @DevDaring, as it is not clear to find the root-cause of the issue, could you fill the following build/installation template.  Please report the installation process and commands used.  Here is the [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md).

[2018-12-27 23:15] ymodak commented on #24604
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-12-27 23:15] #24604 closed

[2018-12-27 23:20] CRichterLeipzig opened #24606 "Can't run tensorflow on PyCharm at Win10"
Hi, can anyone help me with this errors? I've tried varios Python installations an have installed Cuda 10.
I tried to run TensorFlow-GPU...
[code]

[2018-12-27 23:39] alextp commented on #24598
Indeed this is a bug, fixed by pinning Where to the CPU. I'm submitting a patch soon.

[2018-12-27 23:39] ymodak commented on #24128
Apologies for the delay in response. Is this still an issue? Can you try with the latest version of TF and test again? Thanks!

[2018-12-27 23:41] ymodak commented on #24125
Apologies for the delay in response. Is this still an issue for you?

[2018-12-27 23:43] jvishnuvardhan commented on #24580
@ram1897, tf.cast function is working as expected. tf.cast creates a new tensor with the specified data type and does not alter the original variable. Here is the solution for your question.

source_variable = tf.cast(source_variable,tf.int32)

Please understand that Github is primarily for addressing bugs in installation and performance. Stackoverflow is a better place to ask/discuss questions li

[2018-12-27 23:46] alextp commented on #24133
To create a boolean mask you can do tf.where(boolean_tensor) and to apply it you can do tensor[tf.where(boolean_tensor)].

[2018-12-27 23:50] gunan commented on #24124
I think @annarev merged a change to fix this at head.
What commit are you seeing this at?

[2018-12-27 23:52] alextp commented on #24133
Actually my example was wrong, but I don't see what's the issue with tf.boolean_mask(a, a > 5) or something like that.

I'm happy to consider better syntax, if someone is willing to contribute the code.

[2018-12-27 23:58] ymodak commented on #24548
Closing this issue since @rootkitchao has answered the question correctly. Feel free to post if have any issues in building TF from sources. Thanks!

[2018-12-27 23:58] #24548 closed

[2018-12-28 00:07] ymodak commented on #24549
CUDA 10 will be officially supported with TensorFlow 2.0
I would recommend you to switch to cuda 9.0 which is current official supported version if possible.

[2018-12-28 00:12] #24598 closed

[2018-12-28 00:32] AksBrijSandy commented on #24509
Facing same problem with tensorflow CPU version

[2018-12-28 00:38] #24589 closed

[2018-12-28 00:47] ymodak commented on #24606
Duplicate #22794

[2018-12-28 00:54] yaxiongma commented on #24525
My problem was finally solved when switching to **TensorFlow 1.12.0**

[2018-12-28 01:18] msymp commented on #24525
Great to hear!

[2018-12-28 01:18] #24525 closed

[2018-12-28 02:04] WenguoLi opened #24607 "TFLite not support Dynamic input size"
**System information**
- TensorFlow version (you are using): 1.12
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

Try running tflite_convert again, with --input_shapes=1,none,none,3,  but these conversion cannot be supported.
For some networks requiring dynamic input, the static input of tflite is too limited, such as Superresolution Neura

[2018-12-28 02:32] mauermbq opened #24608 "Build did NOT complete successfully while Fetching @com_google_protobuf"
**System information**
- OS Platform and Distribution: Mac OS Mojave 10.14.2 (18C54)
- TensorFlow version: 1.12 (cloned from master)
- Python version: 3.6.6
- Icompiling in conda virtual env
- Bazel version (if compiling from source): 0.21.0
- GCC/Compiler version (if compiling from source): /MacOSX10.14.sdk/usr/include/c++/4.2.1

exception when executing `bazel test -c opt -- //tensorflow/... -//

[2018-12-28 02:53] jsimsa commented on #24351
IIUC, your proposal relies on the existence of an efficient implementation of skip / seek for the dataset to be shuffled. Unfortunately, not all dataset types meet this requirement. For instance, `TFRecordDataset` -- commonly used for storing data at rest -- does not support efficient skip/ seek and to seek to an offset, you need to sequentially read all the data up to that offset.

The good news

[2018-12-28 02:53] #24351 closed

[2018-12-28 02:59] jsimsa commented on #24105
If by taking a crack at this, you mean implementing `take_while` that sounds good to me.

My suggestion is to start by taking a look at how another op that takes a user defined function (e.g. `tf.data.experimental.scan`) is implemented and tested. Here are relevant code pointers for `scan`:

- [python API](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/data/experimental/ops

[2018-12-28 05:57] pavanjava commented on #20798
I have the same problem with tflite_convert while converting. so i checked with tflite_convert --help which is giving me the below problem i have tensorflow version 1.12. please see the log below.

(tensorflow) C:\Users\H156759>python
Python 3.6.7 |Anaconda, Inc.| (default, Dec 10 2018, 20:35:02) [MSC v.1915 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more informa

[2018-12-28 06:02] Alireza89 commented on #24601
@yongtang  Well I don't have a plan to create a PR for now but if it is actually a bug, I hope it gets corrected in the master branch in the future.

[2018-12-28 06:12] ufukcbicici commented on #24598
Thank you @alextp . How can I get the fix now?

[2018-12-28 06:18] pavanjava opened #24609 "unable to convert the .pb to .tflite as tflite_convert is giving me a problem"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- I am working on tensorflow-for-poets-2 and trying to convert the trained model to tflite so that i can port my

[2018-12-28 06:31] SoarAnyway commented on #24460
@ymodak
System information：

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
TensorFlow installed from (source or binary): source
TensorFlow version:1.12.0
Python version:3.6.5
Installed using virtualenv? pip? conda?: pip
Bazel version (if compiling from source):19.2
GCC/Compiler version (if compiling from source):5.4.0
CUDA/cuDNN version: cuda10.0/cuDNN v7.4.1
GPU model and

[2018-12-28 06:41] jkyl commented on #6720
If you don't need to compute its gradient or compute on GPU: use `cv2.resize` via `tf.py_func` wrapper. Otherwise, unless you want to implement a C++ op along with its gradient and submit a PR, I'm afraid we're SOL.

[2018-12-28 06:50] AksBrijSandy commented on #24606
@ymodak How to resolve this? #22794 does not mention any solution. In that issue, many people have stated that they faced the same issue. But what's the solution? Mine is not GPU version, rather I am using CPU version of tensorflow. Still I am getting error related to pywrap. Please help.

[2018-12-28 07:32] Tiger97 commented on #7015
I have the same problem. How did you solve it？

[2018-12-28 08:12] burui11087 commented on #8511
NEED MORE TUTORIALS OF SERVING

[2018-12-28 08:48] ustcyue opened #24611 "performance issue in CollectiveAllReduceStrategy"
Tried both `CollectiveAllReduceStrategy` and `MirroredStrategy` on a same 8 GPU machine. And `CollectiveAllReduceStrategy` is constantly 30% slower than MirroredStrategy no matter how many cards I am using.

The tensorflow version I am running is 1.12.0.

I am using estimator API and tried many different models including resnet50, resnet34, vgg etc.

Is this expected? Or I need some configuration

[2018-12-28 08:57] byronyi commented on #24611
You could take a look in this thread: https://groups.google.com/a/tensorflow.org/d/msg/discuss/7T05tNV08Us/gStt8n77CgAJ

[2018-12-28 11:15] sulantha2006 commented on #16239
Hello,
Thanks for the support of unified memory. Is there a config that needs to be set to using unified memory?

[2018-12-28 12:07] ustcyue commented on #24611
@byronyi thanks, may I know where could I change this parameter? I cannot find place to pass in this parameter and seems its default value is already 32.

[2018-12-28 13:17] Zhiqiang-Ye opened #24612 "weird behavior in distributed training using partitioner"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2018-12-28 13:30] phongnhhn92 commented on #15773
`# optimization
  all_vars = tf.trainable_variables()
  gqn_var = [v for v in all_vars if 'GQN' in v.op.name]
  dis_var = [v for v in all_vars if 'Discriminator' in v.op.name]

  if mode == tf.estimator.ModeKeys.TRAIN:
    lr = _linear_lr_annealing(params['gqn_params'])
    optimizer = tf.train.AdamOptimizer(learning_rate=lr)
    optimizer_dis = tf.train.AdamOptimizer(learning_rate=lr*4)
    train

[2018-12-28 14:13] yongtang commented on #24601
@Alireza89 I have created the PR #24613 for the fix. Thanks for your contribution!

[2018-12-28 15:20] xulongwu4 opened #24614 "Tensorflow docker image doesn't set correct `LD_LIBRARY_PATH` variable for CUDA libraries"
I ran the tensorflow docker with GPU support with the following command:
[code]

I got the following error message:
[code]

It complains that the library `libcublas.so.9.0` cannot be found.

I then started a bash session with the following command:
[code]
and checked the variable `LD_LIBRARY_PATH`:
[code]

As we can see, there is no `/usr/local/nvidia` directory in the docker image. The `libcublas

[2018-12-28 16:11] julesverneat commented on #24509
A friend told me there is an issue with Anaconda and Tensorflow. The
solution is to create a virtual environment.

Am Fr., 28. Dez. 2018, 01:35 hat AksBrijSandy <notifications@github.com>
geschrieben:

[2018-12-28 16:13] Charon77 opened #24615 "Building from source on docker very slow (9 hours)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2018-12-28 16:39] jdduke commented on #24059
Thanks. More recently we've been recommending "--config=android_arm64" to get the most accurate performance numbers, but I suspect the delta remains the same. We'll take a look, though I should note that it looks like TensorFlow Lite is still ~15-20% faster overall for this model?

It would also help if you could either send me the model (or a minimal repro) directly, or at least give the general

[2018-12-28 16:42] deanmonnn opened #24616 "Tensorflow 1.10"
Hi . I have unstatement import issue while using Pycharm community edition. I’m using this command
import tensorflow as tf
Python : 3.6.0
Tensorflow : 1.10.1

[2018-12-28 16:43] mihaimaruseac commented on #24615
Thank you for the report.

One reason for the slowness is that only 2 CPU jobs were used for building. Though that's mostly linear speedup if you increase to more (on 12 cores I'm seeing builds finish in ~3 hours)

[2018-12-28 17:44] Charon77 commented on #24615
Ah I just realized from the log, that's 75209.586s (20 hours!)
Thank you @mihaimaruseac, I didn't realized the scale of the code. 3 hours on 12 cores corresponds to 18 hours on 2 cores, so I guess the numbers check out.

[2018-12-28 17:44] #24615 closed

[2018-12-28 18:31] ebcdic-zehetbauer opened #24618 "tensor flow requires ffmpeg ... it was replaced by avconv"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2018-12-28 18:33] ebcdic-zehetbauer commented on #24618
CI_DOCKER_EXTRA_PARAMS="-e CI_BUILD_PYTHON=python3 -e CROSSTOOL_PYTHON_INCLUDE_PATH=/usr/include/python3.4"     tensorflow/tools/ci_build/ci_build.sh PI-PYTHON3     tensorflow/tools/ci_build/pi/build_raspberry_pi.sh

fails with

E: Package 'ffmpeg' has no installation candidate

ffmpeg packages was replaced by avconv in libav-tools

[2018-12-28 18:39] tensorflowbutler commented on #23096
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-12-28 18:39] tensorflowbutler commented on #23944
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-12-28 18:39] tensorflowbutler commented on #24336
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-12-28 18:39] tensorflowbutler commented on #24346
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-12-28 18:42] ymodak commented on #24606
@CRichterLeipzig @AksBrijSandy Can you please try setting a virtual environment and install TensorFlow?
Apparently there's an issue with other ide's used for installation.

[2018-12-28 18:43] ymodak commented on #24509
@julesverneat Thanks for sharing your workaround. Closing this issue since activating virtual environment solves the issue for anaconda users.

[2018-12-28 18:43] #24509 closed

[2018-12-28 18:43] drpngx commented on #13308
I've changed it to `contributions welcome`. We can change to a function pointer, or provide an interface that has a function pointer.

[2018-12-28 19:19] data-bloom commented on #20517
https://drive.google.com/open?id=16vXTOJHXCLDKMTqtxMLDugUsRhiZPriQ
1.12 Python 3.7 without AVX extensions.

[2018-12-28 19:31] #21788 closed

[2018-12-28 19:37] #21706 closed

[2018-12-28 19:45] sbehuret commented on #8858
If you experience sudden reboots, the most probable cause is that your PSU is underrated. A machine rebooting or shutting off suddenly is actually a good sign, because it suggests that the PSU in cleanly shutting off to prevent damage to the hardware. This happens with high-end PSUs that have overcurrent (OCP) / overload (OLP) protection (these two terms refer to the same thing). By contrast, lowe

[2018-12-28 20:09] starkdg commented on #24527
Alright, I was finally able to build the r1.12.0 package under the following setup combination.  The usual error ("internal compiler error: segfault") still occured, but I found that if I just rerun the command, the build eventually completes successfully.  It took 3 or 4 tries before eventually succeeding.   Not a very satisfying or comforting resolution, but at least it's something.

Not that it

[2018-12-28 20:32] #24527 closed

[2018-12-28 21:03] jvishnuvardhan commented on #24580
@ram1897
Please post this @stockoverflow as there is a big community to answer questions like this.
https://stackoverflow.com/questions/35596629/how-to-convert-tf-int64-to-tf-float32

 I think you can use "name" argument to control the name attribute to some extent as shown below.

import tensorflow as tf
x=tf.constant(1)
print(x.dtype)
print(x.name)
name=x.name
name=name.split(':')[0]
print(name)

[2018-12-28 21:31] ppwwyyxx opened #24619 "TensorFlow official devel docker cannot build TensorFlow"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):ubuntu16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:n/a
- TensorFlow installed from (source or binary):n/a
- TensorFlow version:n/a
- Python version:3
- Installed using virtualenv? pip? conda?:n.a
- Bazel version (if compiling from source):n/a
- GCC/Compiler versi

[2018-12-28 21:48] yogeshg commented on #24385
crosspost: https://stackoverflow.com/a/53708415

[2018-12-28 22:05] data-bloom commented on #20517
https://drive.google.com/open?id=1ni7ExGVb6-c6gvb4J0hohpT4Jj4Z4xxO
1.12 Python 3.7 wheel with SSE, XLA.

[2018-12-28 22:05] Squadrick commented on #24105
I'll start working on `take_while`, but before I started I had a couple of questions.

1. `take_while` will be part of `tf.data.experimental`, but should I make a separate `take_while_ops.py`, or should I include in a pre-existing python file? Are there any pre-existing ops of this type?
2. What should the API of `take_while` look like? Do I make a general `take_while(cond_func)`, where `cond_func

[2018-12-28 22:12] jsimsa commented on #24105
1. creating `take_while_ops.py` is fine
2. general purpose `take_while(predicate)` as the API sounds good

[2018-12-28 22:18] johnpjf commented on #6720
Working on it, we'll have something soon!

[2018-12-28 22:19] jvishnuvardhan commented on #24616
Hi @deanmonnn, as it is not clear to find the root-cause of the issue, could you fill the following build/installation template.  Please report the installation process and commands used.  Here is the [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md)

[2018-12-28 22:44] ymodak commented on #24426
Closing this issue since @hsgkim has provided the solution. Feel free to reopen if have any further questions. Thanks!

[2018-12-28 22:44] #24426 closed

[2018-12-28 22:46] ymodak commented on #24406
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-12-28 22:46] #24406 closed

[2018-12-28 22:46] ymodak commented on #24143
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-12-28 22:46] #24143 closed

[2018-12-28 22:51] ymodak commented on #24200
Apologies for the delay in response. This issue is more suitable for TensorFlow Models repo. Please post it on models repo from [here](https://github.com/tensorflow/models/issues/new). Thanks!

[2018-12-28 22:51] #24200 closed

[2018-12-28 23:02] ymodak commented on #24210
@sukritiramesh Can you please take a look? Thanks!

[2018-12-28 23:51] ymodak commented on #24535
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-12-28 23:51] #24535 closed

[2018-12-28 23:59] ymodak commented on #24203
Apologies for the delay in response. You are right about this. Thanks for reporting.

[2018-12-29 00:01] ymodak commented on #24184
Closing this issue since it has been resolved. Thanks!

[2018-12-29 00:01] #24184 closed

[2018-12-29 00:03] ymodak commented on #24171
Is this an issue with the latest version of TF?

[2018-12-29 00:05] #24185 closed

[2018-12-29 00:05] ymodak commented on #24185
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2018-12-29 00:09] ymodak commented on #24167
Is this still an issue for you? Can you please uninstall the python 3.7 version and confirm?

[2018-12-29 00:11] ymodak commented on #24122
@jayoungo Is this still an issue? Yes you should set cuda 9.0.

[2018-12-29 00:13] ymodak commented on #23198
@nadianaji Is this still an issue for you?

[2018-12-29 00:17] ymodak commented on #24106
Closing this issue since its more a likely an issue with anaconda. You can always set a virtual env and run your code as a workaround. Feel free to reopen if have any further problems. Thanks!

[2018-12-29 00:17] #24106 closed

[2018-12-29 00:18] ymodak commented on #24400
@Ar4ikov Is this still an issue for you?

[2018-12-29 00:20] ymodak commented on #23953
Closing due to lack of recent activity from the original author. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-12-29 00:20] #23953 closed

[2018-12-29 00:40] gearsmotion789 commented on #24417
There are much more other problems in other steps in the Dockerfile too. But do you know how I could fix this step first?

[2018-12-29 00:40] jayoungo commented on #24122
@ymodak I cannot fix the build error, and I had changed the CUDA version to 9.0 and installed the official pip package. It works well now. Thank you!

[2018-12-29 00:49] msymp commented on #24619
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2018-12-29 00:52] msymp commented on #24618
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2018-12-29 01:01] ppwwyyxx commented on #24619
I already provided the information at first.

[2018-12-29 01:18] msymp commented on #24612
Hi @karmel , this user is using the tf.estimator module to write a custom estimator and trying to set the Partitioner in the model. But it does not converge. Can you please see why this happens? Thanks.

[2018-12-29 01:30] msymp commented on #24608
Hello,
Please try and compile / build the cloned source 1.12.0 (and python 3.6) with _clang from xcode_ and _bazel 0.15.0_ on the MacOS. Thanks.

[2018-12-29 03:39] clooney2007 commented on #24564
cmake python version is wrong.

[2018-12-29 03:39] #24564 closed

[2018-12-29 05:00] Santosh-Gupta commented on #18238
Is this still the case now that Ragged tensors have been released?

[2018-12-29 06:54] tianmingdu commented on #19551
optimizer1 = tf.train. GradientDescentOptimizer(learning_rate=FLAGS.tnet_lr)
    optimizer1 = tf.contrib.estimator.TowerOptimizer(optimizer1)
    optimizer2 = tf.train. GradientDescentOptimizer(learning_rate=FLAGS.mnet_lr)
    optimizer2 = tf.contrib.estimator.TowerOptimizer(optimizer2)
    tnet_variables = get_model_variables('tnet')
    mnet_variables = get_model_variables('mnet')

    train_op1

[2018-12-29 09:47] VMois commented on #11303
Any updates?

[2018-12-29 10:42] bluecamel commented on #8658
I'm new to tensorflow and have had trouble running inference on saved models (using the object detection API).  I don't have any trouble using an inference graph exported using the export tool, so I just want to collect the model files for the best checkpoints.

Anyhow, I threw together a little exporter that simply copies checkpoint files from the model directory based on an eval metric and compa

[2018-12-29 11:06] pavanjava commented on #24609
Hi yaxiongma,

you mean to say that i should try tflite on Linux and this will not work on windows ? because my execution environment that i am trying is on Windows currently.

[2018-12-29 11:07] pavanjava commented on #24609
Hi yaxiongma,

you mean to say that i should try tflite on Linux and this will not work on windows ? because my execution environment that i am trying is on Windows currently.

[2018-12-29 11:08] bandarikanth commented on #17411
System information

-
   Lenovo-G500 8GB RAM          description: CPU
          product: Intel(R) Core(TM) i3 CPU       M 330  @ 2.13GHz
          bus info: cpu@0
          version: CPU Version
 OS; Ubuntu-16.05
pip : 18 version latest
I dont have gpu

 i also getting   illegal instruction core dumped. tensorforflow 1.5 is working for me ,
but
I need to install tensorflowv1.10 0r latest for my pr

[2018-12-29 11:26] ageron opened #24622 "tf.keras.utils.plot_model() raises TypeError: 'InputLayer' object is not iterable"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mac OS X 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
VER

[2018-12-29 12:13] ustcyue commented on #24611
@byronyi tried change this line https://github.com/tensorflow/tensorflow/blob/r1.12/tensorflow/contrib/distribute/python/cross_tower_ops.py#L782 and set `all_reduce_merge_scope` to various values but speed is still the same. Seems it has no effect at all.

[2018-12-29 13:00] AlanNewImage commented on #21575
didyou  got the x86 dll?

[2018-12-29 14:16] huangbiubiu opened #24623 "tf.keras.Model.load_weights failed"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Both on Ubuntu 16.04 / Windows 10 1803
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (u

[2018-12-29 14:46] Maxtoq commented on #24549
So I tried with CUDA 9.0, and it's still not working.
I have the same errors:

Weird thing though, even after going back to MSVC 2015 Update 3, the error message still says:

I tried again with MSVC 2017 to be sure, still the exact same error.

I don't know what's going on.
Does anyone have a clue ?

Thanks.

[2018-12-29 14:52] PiotrWegrzyn commented on #20444
Well this doesn't work for me. After the download with pip finished it says no module named tensorflow

[2018-12-29 16:27] AliOsm opened #24624 "Load weights from TensorFlow checkpoint to Keras model"
I have trained a TensorFlow with Keras model and using `keras.callbacks.ModelCheckpoint` I've saved the weights as follows:

    cp_callback = keras.callbacks.ModelCheckpoint(checkpoint_path,
                                              save_weights_only=True,
                                              verbose=1)
    model.fit(X_train, Y_train, callbacks=[cp_callback], epochs=50, batch_size=25

[2018-12-29 17:57] WillBrennan commented on #20619
Similar issue with `LearningRateScheduler`.

[2018-12-29 18:35] tensorflowbutler commented on #24313
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-12-29 18:35] tensorflowbutler commented on #24328
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-12-29 18:36] Ar4ikov commented on #24400
yes it is

[2018-12-29 18:51] dstine commented on #17411
@bandarikanth

The manner in which you install tensorflow shouldn’t matter. The problem is that the tensorflow 1.6+ prebuilt binaries require the [AVX](
https://en.m.wikipedia.org/wiki/Advanced_Vector_Extensions) instruction set extensions, and your processor doesn’t support AVX. You can either build from source, move to a computer with a new-enough processor, or stick with 1.5.

[2018-12-29 22:19] mauermbq commented on #24608
source does not work with bazel 0.15.0
./configure requires min_version bazel 0.19.0
`Please upgrade your bazel installation to version 0.19.0 or higher to build TensorFlow!`

[2018-12-29 23:00] gissemari commented on #22346
And where it came from? I am having the same error with save/RestoreV2

[2018-12-30 01:17] yongtang commented on #24622
Added a PR #24625 for the fix.

[2018-12-30 03:02] dingguijin opened #24626 "Master build crash with GPU support testing with OpenSeq2Seq"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 9.6 x64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Not Mobile
- TensorFlow installed from (source or binary): Clone from github, master branch
- TensorFlow v

[2018-12-30 03:16] ageron commented on #24622
Thanks @yongtang , I just tried your fix, works like a charm.

[2018-12-30 03:44] #24122 closed

[2018-12-30 04:12] ageron opened #24627 "Keras model summary does not display "Connected to" correctly"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mac OS X 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
VE

[2018-12-30 04:31] jermainewang commented on #24453
Hi, is there any help from the dev team or the community on this?

[2018-12-30 05:18] nardeas commented on #16424
Yeah, could we have some resolution to this? It's getting pretty annoying

[2018-12-30 06:19] cameron2018 commented on #22940
im still having this issue with tensorflow 1.12 depite having compiled from source with cuda 10

[2018-12-30 06:48] #24083 closed

[2018-12-30 06:59] ik024 commented on #20832
I am too not able to run tflite_convert on windows. Any help ?
![image](https://user-images.githubusercontent.com/4861930/50545059-6855e780-0c2e-11e9-8f0b-4d60f3e2bde8.png)

[2018-12-30 10:13] yongtang commented on #24627
Added a PR #24629 for the fix.

[2018-12-30 11:00] KosukeArase commented on #19945
Hi @alextp
Even using v1.12 which includes 4e65277, the scripts above return the same results (eager execution takes 1.5+ computation time).
Can you take a look at it? Thank you.

[2018-12-30 11:32] Mart1nch commented on #6393
me 2

[2018-12-30 12:40] mauermbq commented on #24608
Hi,

bazel version was not the problem. Sources could be compiled with 0.19.0 and the latest (0.21.0)
I changed two things:

`export CC=/usr/bin/clang`

and according to following error:

as well as proposed solution in
https://stackoverflow.com/questions/45276830/xcode-version-must-be-specified-to-use-an-apple-crosstool

At the end you have to take care that you initially set the command line too

[2018-12-30 12:40] #24608 closed

[2018-12-30 12:59] ricardobnjunior commented on #24210
Yes, I Will try this in 2019-01-02.

I will go gente and response

[2018-12-30 16:10] ageron opened #24632 "Interrupting tf.keras training while using the TensorBoard callback wreaks havoc"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mac OS X 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
VE

[2018-12-30 16:15] ageron commented on #24632
Note: I checked, this issue does not occur with TF 1.12.

[2018-12-30 16:39] mcourteaux commented on #20444
Okay guys... Spent two hours. It's as simple as...... Use `python3.6.5_1` for now. Launch your tensorflow-based applications with the full path to the older python executable.

[code]

Just make sure you manage to install this python version using homebrew or some other way.

[2018-12-30 18:09] yongtang commented on #24593
I think the issue was that, `on_batch_end()` was relying on `on_epoch_end()` for the last step processing:
https://github.com/tensorflow/tensorflow/blob/8f60a381d210478f21762a6cf14f547a05e98878/tensorflow/python/keras/callbacks.py#L724-L727
but `on_epoch_end()` was only called for train mode:
https://github.com/tensorflow/tensorflow/blob/8f60a381d210478f21762a6cf14f547a05e98878/tensorflow/python/k

[2018-12-30 18:10] yongtang commented on #24593
Created a PR #24633 for the fix.

[2018-12-30 19:02] pascalwhoop commented on #15604
the man has got a point. TF CAN be compiled to work with more modern CUDA versions... why not just offer that to most people with a `tensorflow-gpu-cuda110` package or something temporary until the library can figure out the underlying cuda version dynamically?

[2018-12-30 19:05] berkgulay commented on #19380
Same problem, pre-trained mobilenet architecture on Keras gives this error on Android.

[2018-12-30 19:20] irenedea commented on #24483
We found the issue in tensorflow/java/src/gen/cc/op_specs.cc in the TypeOf function.

The fix is a super simple change, moving an if statement block from the beginning to the end of the function. See the fix here:
https://github.com/irenedea/tensorflow/commit/264648c4b30479a4f110bd6ce66830c2963ee4ae
"Move initial iterable check in TypeOf function from the beginning to the end of the function. (The

[2018-12-30 21:10] kasperfred commented on #24624
Do you use `tf.keras` or `keras` standalone?

Are you sure your `checkpoint_path` is correct?

Could you run the following script?
[code]

[2018-12-30 21:54] AliOsm commented on #24624
I'm working with `tf.keras` and the checkpoint_path is correct. Also, the output of the evaluation in your code is correct:

[code]

I think I figure the problem, after I load the weights I test it with the same testing data but shuffled (not in the same order) is this effects the accuracy? because if I evaluate using the same order it gives me the same results of the original model.

Another thin

[2018-12-30 22:33] kasperfred commented on #24623
You didn't initialize the weights when creating the 2nd model.

When using the model class API, you need to initialize the weights manually. You can do this by training on just a single example. (don't worry the learned weights will be overwritten when you load your own weights)

You can do this by inserting the following line after you compile the model for the 2nd time.

[code]

Alternatively, y

[2018-12-30 23:43] twalk4821 commented on #24525
With TensorFlow 1.12.0, I get the original issue again. Which makes sense. That is, not using the nightly build.

I tensorflow/contrib/lite/toco/import_tensorflow.cc:189] Unsupported data type in placeholder op: 2\n2018-12-30 15:40:54.450020: F tensorflow/contrib/lite/toco/import_tensorflow.cc:2137] Check failed: status.ok() Unexpected value forattribute 'T'. Expected 'DT_FLOAT'\n"

[2018-12-30 23:47] twalk4821 opened #24634 "Unsupported data type in placeholder op"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mac OS Mojave
- TensorFlow installed from (source or binary):
pip install tensorflow
- TensorFlow version (or github SHA if from source):
1.12

[code]

To save the model, I have:
[code]

and:
[code]

As you can see, dtype is np.int32, so I attempt to cast that to a tf type.

I can attach the full model def on request

[2018-12-31 02:07] ageron commented on #24593
Once again, thanks @yongtang , and happy New Year! 👍

[2018-12-31 02:40] huangbiubiu commented on #24623
@kasperfred Thank you for your help.
Is it intentional not to initialize the model automatically in model class API? It's confused to initialize weight with `fit()` method. Is it a bug or designed for some reason?

[2018-12-31 03:16] ZhangYuef opened #24636 "Tensorflow can find right cudnn in one python file but fail in another"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2018-12-31 03:32] DVLP commented on #22794
**SOLUTION**! If you're trying to run TF with CUDA 10

Tensorflow 1.12 DOES NOT support CUDA 10 but nightly build DOES

There are 2 solutions
1. Remove 1.12 and install nightly build 1.13
pip uninstall tensorflow-gpu
pip install pip install tf-nightly-gpu

Alternative solution: Downgrade CUDA to 9.0

Remember about copying CUDNN files to right location in CUDA installation folder every time when r

[2018-12-31 05:49] Jayanth-L commented on #23747
@melody-rain
I followed your code and modified the export_model.py file accordingly

but got an error
[code]

[2018-12-31 05:51] Jayanth-L commented on #23747
@SirNeuman
Can you please post the tflite_convert command which you used to convert the model ?

[2018-12-31 06:48] yongtang commented on #24593
Happy New Year🎉👍!

[2018-12-31 09:10] shivam13juna commented on #12065
@ebrevdo I would love to do that, if it's still required?

[2018-12-31 10:42] ageron opened #24639 "model_to_dot() missing from tf.keras although it is documented on keras.io"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mac OS X 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
VE

[2018-12-31 10:45] ageron commented on #24639
I would suggest:
* fixing the Keras API to replace `keras.utils.vis_utils.model_to_dot` with `keras.utils.model_to_dot`
* fixing the Keras API to replace `keras.utils.np_utils.to_categorical` with `keras.utils.to_categorical`
* Adding `model_to_dot` and `print_summary` to `tf.keras.utils`.
I will submit PRs to that effect.

[2018-12-31 11:31] ParikhKadam commented on #24519
@yongtang Bro.. As I said above, the issue was because of my model returning more than one outputs. And I tried to access them using a single loss function. As I google for a while, I came to know that I can combine both outputs using tf.stack() and use the returned tensor of this function as final output of my model. But I am still facing issues with shapes in the loss function.

I had two output

[2018-12-31 11:31] ParikhKadam commented on #24519
Please help... @yongtang

[2018-12-31 11:33] fgr1986 opened #24641 "tf.contrib.quantize.create_training_graph with tf.keras.activations.relu quantizes before the relu cliping op"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 1.12
- Pyth

[2018-12-31 12:37] mikkokotila opened #24642 "Failed to load the native TensorFlow runtime in Mac OSX"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Mac OSX 10.11.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue h

[2018-12-31 12:49] kasperfred commented on #24624
Since the accuracy metric is a reduce operation, the order of the data should not matter.

It's important, however, that when you're shuffling, that you're preserving the same order between the features and labels.

When you compile the model, you lose the optimizer state meaning it will require a few iterations to dial the learning rate back in. This may be why you can't resume training from the

[2018-12-31 12:57] mcguile opened #24643 "Tensorboard histogram_freq is not using GPU: slows down training"
**System information**
- No custom code
- Ubuntu 18.04
- TensorFlow version 1.11.0
- tf.COMPILER_VERSION = v1.11.0-0-gc19e29306c
- Python version 3.6
- CUDA/cuDNN version 9.0
- GPU model and memory: GTX 1060 6GB

When I run Tensorboard with `histogram_freq = x` where `x != 0`, it uses the CPU at the end of each epoch when Tensorboard writes to logs.

Usually the GPU is used for the entirety of tra

[2018-12-31 12:58] kasperfred commented on #24623
I'm very new here. As such, I'm not very familiar with what behavior has been left intentional, and which is unintentional.

I do agree that it's rather confusing having to call `fit` just to overwrite it afterwards.

However, I think we need a regular contributor or a member who are more familiar with the architectural decisions to determine if this is considered a bug. If it is, I'd be happy to

[2018-12-31 13:21] AliOsm commented on #24624
Actually I've asked the same question on Stackoverflow here: https://stackoverflow.com/questions/53971139/load-weights-from-tensorflow-checkpoint-to-keras-model but there is no answer, the shuffling should be ok, but still I don't know why the accuracy decreases after loading the model.

[2018-12-31 15:13] amapic commented on #19564
Hi Peng,
I have the same configuration. Did you manage to solve this problem ?

[2018-12-31 15:47] ebrevdo commented on #12065
Sure

On Mon, Dec 31, 2018, 1:10 AM SHIVAM PRASAD <notifications@github.com wrote:

[2018-12-31 16:45] kasperfred commented on #24624
Could you send a working code snippet that demonstrates this behavior?

[2018-12-31 17:05] AliOsm commented on #24624
This is the code, by now the code saves and restore the checkpoint weights correctly. But as I said before, the testing data should be in the same order and it is not working from the same point that ends in with the fitting process.

[code]

[2018-12-31 17:53] iperov opened #24644 "I replaced keras to tensorflow.keras in my project and got OOM with same batch size."
I would like to completely remove keras dependency from my project and replace it to tensorflow.keras, but it is significantly degrades performance.
Out Of Memory occurs when I just replace keras to tensorflow.keras with same batch size.
Also epoch train time increased.
Looks like tensorflow.keras unoptimized.
Will tensorflow.keras be optimized in future?

[2018-12-31 20:33] Squadrick commented on #21737
@karmel I'd love to take a crack at this. Any pointers before I get started?

[2019-01-01 00:02] ioavator opened #24646 "TensorFlow Lite conversion fails"
**System information**
Windows 7/64bit
- TensorFlow installed from binary:
1.12 from pip
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

Traceback (most recent call last):
  File "C:\Users\io\AppData\Roaming\Python\Python36\site-packages\tensorflow\contrib\lite\python\lite.py", line 453, in
convert
    **converter_kwargs)
  File "C:\Users\io\A

[2019-01-01 03:32] ageron commented on #24639
I filed a corresponding issue in keras-team/keras: https://github.com/keras-team/keras/issues/11959

[2019-01-01 05:54] ParikhKadam commented on #24519
An update.. There's no problem with slicing or tf.map_fn(). There seems to be a problem with y_pred.

Reason:
On iterating, tf.map_fn() returned elements of (None, 1) and slicing too returns this extra 1 at the end which is (None, None, 1). And this happens only with y_pred and not with y_true.

Question:
So, what's actually wrong with y_pred?

[2019-01-01 06:06] ParikhKadam commented on #24519
@bstriner Sir, I have read many issue threads on loss function in Keras and seen you provide a solution there.. Maybe you can help me here..

[2019-01-01 07:30] melody-rain commented on #23747
@Jayanth-L

Change
[code]
to:
[code]

[2019-01-01 08:16] chuong98 commented on #20619
I think this may solve the problem https://github.com/uber/horovod/issues/42

[2019-01-01 09:42] alexxchen opened #24649 "Why tf.matmul doesn't get zero?"
<em>I got a problem when using TensorFlow eager mode that tf.matmul result of two matrixes should obvious be zeros but now different small number as results.</em>

**System information**
- OS Platform and Distribution:Linux Ubuntu 16.04, also on macOS
- TensorFlow installed from:binary
- TensorFlow version :1.12
- Python version:3.6
- GPU model and memory: no GPU, 8GB memory

**Describe the curren

[2019-01-01 09:58] yaxiongma commented on #24609
@pavanjava
Yes.
I haven't tried it in Windows.
good luck

[2019-01-01 10:54] thebeancounter commented on #21632
I am getting the same issue when trying to use tf.contrib.losses even when just
[code]

system:
conda with python 3.6
list of packages:

_license                  1.1                      py36_1
absl-py                   0.6.1                 py36_1000    conda-forge
alabaster                 0.7.10                   py36_0
anaconda                  custom                   py36_0
anaconda-client

[2019-01-01 12:19] ppwwyyxx opened #24650 "MKL convolution throws exception for simple code"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:n/a
- TensorFlow installed from (source or binary):source
- TensorFlow version (use command below):b'v1.12.0-5

[2019-01-01 12:40] ppwwyyxx commented on #23783
Partially addressed by https://github.com/tensorflow/tensorflow/commit/bafb8747983fbcf186ffb063ed39dbb0a18e3c8e, but it's unclear how a user is supposed to use it.

[2019-01-01 12:45] DoxasticFox commented on #24649
I don't understand why it should be all zeros. AFAICT, all the elements of `grad` will either be `0.005` or `-0.045` (i.e. none will be `0.0`.) Also, all the elements of `w` will be equal to `0.01`. Multiplying (the transpose of) these will result in a non-zero matrix.

[2019-01-01 12:59] xyzdcgan commented on #8854
While adding my frozen.pb file to it, it gives me an error
Traceback (most recent call last):
File "convert.py", line 30, in
g_in = tf.import_graph_def(graph_def)
File "/home/ios/.local/lib/python2.7/site-packages/tensorflow/python/util/deprecation.py", line 432, in new_func
return func(*args, **kwargs)
File "/home/ios/.local/lib/python2.7/site-packages/tensorflow/python/framework/importer.py", li

[2019-01-01 13:01] xyzdcgan commented on #8854
I also tried to run it through import_pb_to_tensorboard.py file but in that also i got an error of float32 to float32_ref

[2019-01-01 13:05] ppwwyyxx commented on #24649
The results should be zeros mathematically but standard floating point numbers simply do not have enough precision to compute the exact results. This seems to be expected results.

[2019-01-01 13:11] sahle123 commented on #20444
@PiotrWegrzyn,

See if the following works for you:
`pip3 install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.12.0-py3-none-any.whl`

[2019-01-01 14:07] ageron opened #24653 "tf.log() is missing although it is still used in many code examples"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mac OS X 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
VER

[2019-01-01 16:17] Pushkar-Singh-14 commented on #20517
Let me tell you what issue I faced and how I resolved them. I am using Mac OS

Tensorflow is not compatible with python 3.7 its only available for i think upto python 3.6 as of now..

I was using python 3.7 so I download python 3.6 from its official website.. a installer package and install it. And pin the python 3.6 app to dock because as soon as python 3.7 is in the launcher. Python 3.6 will not

[2019-01-01 20:18] Kishwar commented on #15062
@PINTO0309 It seems binaries are for Pi and TX2. I am also facing same issue with Odroid. Could you please explain how you solved bus error?

Thanks.

[2019-01-01 20:42] ERDataDoc commented on #22794
I had the same problems, and tried most of the proposed fixes for about 3 hours with no luck.  However I found the post by kennedyCzar at the top - and this fixed my issue ("ImportError: DLL load failed: The specified module could not be found.")  I highly encourage readers to try this approach as it is fast and easy.  I specifically went to the referenced blog post by Dr. Donald Kinghorn and foll

[2019-01-01 22:51] PINTO0309 commented on #15062
@Kishwar

I just built a **`native build`** on RaspberryPi3 and TX2.
There seems to be a problem with cross compile scripts.
The point you need to be aware of is that it takes dozens of hours for native builds to use low-spec devices.
Unfortunately, I do not own "Odroid", so I can not try it.

[2019-01-01 23:47] #22577 closed

[2019-01-01 23:51] smit-hinsu commented on #23463
Closing this issue as it is not reproducible with the latest version. See https://github.com/tensorflow/tensorflow/issues/23463#issuecomment-448817970.

Feel free to reopen if the issue persists for you in the latest TensorRT version.

[2019-01-01 23:51] #23463 closed

[2019-01-02 03:00] alexxchen commented on #24649
Precision was my first thought, but it have different result for the same calculation as follow.
[code]
And floating point shouldn't get the problem of representing 0.005. Calculating 0.005*0.001*9 - 0.0045*0.01=0.

[2019-01-02 03:41] ispirmustafa commented on #15773
hi,
for both of your quenstion, you can use tf.cond. it will be something like:
[code]

[2019-01-02 03:41] ljdang commented on #24059
@jdduke The models shown here:
[models.zip](https://github.com/tensorflow/tensorflow/files/2719886/models.zip)
And I also found that time cost was quite different with execution within the Android app (tflite.run(imgData, outputArray)).

[2019-01-02 04:44] iamtubu commented on #24558
I have used bazel version 0.17.2
Thanks.

[2019-01-02 04:46] jibanreloaded commented on #24398
is there any updates on this?
Can you please let me know the right way for using the selective_registration

[2019-01-02 05:09] ppwwyyxx commented on #24649
Your code contains randomness, so getting different result is no surprise.

float32 has no problem representing 0.005. But as I have shown above, it does have problems representing something like this which is very likely to be an intermediate result of your computation:
[code]

[2019-01-02 05:58] dMokaMoka opened #24658 "[BUG] r1.12.0-rc2 :StringPiece has no member named 'starts_with'"
**System information**
- target-cpu  arm-v8
- tensorflow  r1.12.0-rc2
- local gcc 5.4.0

This is the entry point to the tensorflow utest program
[code]
If I try to compile any test files, I get the following error:
[code]

[2019-01-02 06:04] dchatterjee172 opened #24659 "TensorArrays in tf.map_fn are being placed on CPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04.5 LTS
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.12
- Python version:3.5.2
- CUDA/cuDNN version:
- GPU model and memory: Compute capability 7, ~30G

[2019-01-02 06:20] egyptdj opened #24660 "cuDNN launch failure when implementing custom kernel_regularizer function within [tf.layers] module"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platf

[2019-01-02 06:48] elbamos commented on #14174
@saudet I was ultimately able to get it compiled with your commands. However, the problem arises that then the library paths need to be set in the environment before running python.  This makes it hard to run with jupyter, among other issues.

[2019-01-02 06:58] jennings1716 opened #24661 "tensorflow.lite.python.convert.ConverterError: TOCO failed."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu 16.04
- TensorFlow installed from (source or binary):pip install
- TensorFlow version (or github SHA if from source):1.9

**Command Used**
 tflite_convert   --output_file=detect.tflite   --graph_def_file=frozen_inference_graph.pb    --input_arrays=image_tensor   --input_shape=1,300,300,3   --output_arrays='dete

[2019-01-02 07:51] guikarist commented on #7258
I made [a script to build Tensorflow C++ API using Bazel on Windows](https://github.com/guikarist/tensorflow-windows-build-script). It made it easier to build Tensorflow on Windows (which also supports building pip packages or C API). But I believe there will be better solutions and I hope everyone with same trouble could join me!

If you need `.dll` files, you should only rename `bazel-bin\tensor

[2019-01-02 07:54] guikarist commented on #22338
See my [comment](https://github.com/tensorflow/tensorflow/issues/7258#issuecomment-450802749) which provides a way to build on Windows.

[2019-01-02 07:57] guikarist commented on #9068
See my [comment](https://github.com/tensorflow/tensorflow/issues/7258#issuecomment-450802749) which provides a way to build on Windows automatically.

[2019-01-02 07:57] guikarist commented on #18296
See my [comment](https://github.com/tensorflow/tensorflow/issues/7258#issuecomment-450802749) which provides a way to build on Windows automatically.

[2019-01-02 08:50] dchatterjee172 commented on #24659
Apparently it was happening for int64 type. Works fine for float16/32

[2019-01-02 08:50] #24659 closed

[2019-01-02 08:57] alexxchen commented on #24649
The randomness is only about the place of -0.045 in vector when multiplying, which affect the order of adding, but they show different results.

I asked another question in numpy. It seems the problem from original python.
[https://github.com/numpy/numpy/issues/12643](url)

[2019-01-02 09:09] ppwwyyxx commented on #24649
and the order of adding may affect results due to precision.

[2019-01-02 09:49] yanivbl6 commented on #18232
hi @poxvoculi , @byronyi
I would like to have the ability to initialize an implementation dependent context for a collective, preferably during the construction of the CollectiveReduceOpKernel.
As it stands, the collective kernel seem oblivious to the collective implementation/executor at construction time (it is also unaware of the network- which I would like to be).
The obvious work-around for m

[2019-01-02 10:10] sachin-ranka opened #24663 "TFLite App error with SSD_MobileNet V2 Quantized 300*300 CoCo"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Nexus 6 and Moto G5sPlus
- TensorFlow installed from (source or binary): binary (pip)
- TensorFlow version (u

[2019-01-02 10:19] byronyi commented on #18232
@yanivbl6 I did not quite get what you are trying to accomplish. Could you be more specific here? What information you are trying to expose to the OpKernel through the context?

[2019-01-02 10:20] Steroes commented on #22338
@guikarist Nice to see the acknowledgements.
Nice cleanup of the script and parsing of the parameters by the way.

[2019-01-02 10:31] alexxchen commented on #24649
Thanks for answering and sorry for my stubborn. Finally I figured out IEEE754 can not represent 0.05 accurately. I forgot the rule to generate binary representation back to university.

[2019-01-02 11:24] sebastianfast commented on #22794
I had CUDA 10 running and downgraded to CUDA 9. Works now.

[2019-01-02 11:38] yanivbl6 commented on #18232
The implementation I am working on rely on each collective operator having it's own unique context- which would be eventually bounded to collective-specific hardware resources.

To initialize this context, I would need:
1. The collective_executor (Otherwise I can not do any implementation-specific initialization- right?)
2. Remote access- some remote access capability with the other workers in the

[2019-01-02 11:52] pangzis commented on #11994
you can try to modify the first line to "def sampled_loss(labels, logits):".Of course, you need to modify the corresponding code below.I don't know why,but my code can working by this modify

[2019-01-02 12:12] UCRajkumar commented on #12871
@chithangduong How are you able to send just `clip_by_value` to the CPU and keep everything else the same? I'm using Keras to do my training. Is there a way to still do it or do I need to switch into tf?

[2019-01-02 12:13] zhuohuiyuan opened #24665 "why invoke() take so much time? use pos_training_quantized=True to convert pb into a tflite model."
**MY QUESTION**

Training a model with FLOAT-32 and converts into a saved model. Then I use **'pos_training_quantized=True '** to generate .tflite model (int8).
according to official website: https://www.tensorflow.org/lite/performance/post_training_quantization
[code]
However, at inference, tflite model costs more than pb, and almost costs in **invoke()** op. now ,the speed is much slow than save

[2019-01-02 13:53] hqcthunders opened #24667 "InvalidArgumentError when use Keras loss function categorical_crossentropy"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.12.0
- Python version: python3.6
- Installed using virtualenv? pip? conda?: virtualenv
- Bazel version (if compiling from source): 0

[2019-01-02 14:13] phongnhhn92 commented on #15773
@ispirmustafa Hello, thanks! But how did you define "step" variable in your answer. This is something I tried based on your suggestion but it didnt work
[code]
This is the error:

[2019-01-02 14:18] jennings1716 opened #24668 "Quantized tflite model has large sized apk than unquantized"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-01-02 14:47] wltjd54 opened #24669 "no such package '@png_archive//"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2019-01-02 16:31] ricardobnjunior commented on #24210
@ymodak @sukritiramesh I have the same problem than the creator of the post.
Is there a solution to solve the problem?

[2019-01-02 17:41] shashishekhar commented on #24307
@shenyingying : Can you attach the model to the bug or the log for the crash, will be easier to debug.

[2019-01-02 18:44] tensorflowbutler commented on #21772
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-02 18:44] tensorflowbutler commented on #23001
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-02 18:44] tensorflowbutler commented on #23871
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-02 18:49] BryanCutler commented on #23001
Issue has been moved to https://github.com/tensorflow/io/issues/13

[2019-01-02 18:49] #23001 closed

[2019-01-02 18:52] jsimsa commented on #24103
What exactly do you mean by "initialization of an instance can take a long time"?

Could you perhaps illustrate with an example(s) the use case(s) that this API would benefit?

What prevents you from using `pickle`? I was able to use `pickle` for saving and loading a `tf.SparseTensor`:

[code]
produces
[code]

[2019-01-02 19:04] Proch92 opened #24670 "AddSymbolicGradients segfaults internally C++ API"
**System information**
- Have I written custom code:
- Linux Ubuntu 16.04
- TensorFlow installed from source:
- TensorFlow version: r1.13 #24493
- CPU only
- Bazel version: Build label: 0.21.0
- GCC/Compiler version: gcc (Ubuntu 7.3.0-27ubuntu1~18.04) 7.3.0
- memory: 6GB

**Describe the current behavior**
AddSymbolicGradients call results in a segmentation fault.

**Describe the expected behavior*

[2019-01-02 19:07] hondaathma commented on #24210
@ricardobnjunior I could not solve the problem...so instead I std::cout (printed) to a text file all the values.
I am having trouble building tensorflow with opencv or converted the tensor to cv::Mat. This si the only solution that works for me

[2019-01-02 19:25] thebeancounter opened #24671 "alternative for tf.contrib.losses.metric_learning.triplet_semihard_loss"
Hi,
I read that tf contrib is deprecated soon, is there an alternative for triplet loss that will remain in the api?

[2019-01-02 19:54] Usherwood opened #24672 "Incorrect relative include paths in include/tensorflow/core/framework/op_def.pb.h when building external c++ files using Windows"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow installed from: binary
- TensorFl

[2019-01-02 21:14] ymodak commented on #24669
You can safely ignore the warning message and continue to use TensorFlow.

[2019-01-02 21:17] pooyadavoodi commented on #24214
@paduck86 You would have to use the dynamic mode if you have dynamic shapes ( set `is_dynamic_op=True` when you call `create_inference_graph`). Could you please try that and let us know if that changes anything?

We are still working on improving TF-TRT with dynamic shapes (e.g. caching). This would affect a lot of models such as object detection and seq2seq. @trevor-m

[2019-01-02 21:42] SumNeuron commented on #24103
@jsimsa thanks for chiming in.

I mean the call `tf.SparseTensor(...)` for relatively large tensors can take a while. For an example, just copy / paste the code from google's rec sys tutorial... although for data I used a matrix with  `shape=(20000, 30000)` and sparsity ≈`0.001` on a system with 100 Gb Ram, 40 cores and a GPU it took ~ 30 minutes to evaluate just `sparse = tf.SparseTensor(...)`, (

[2019-01-02 21:48] ymodak commented on #24024
Closing this issue since its resolved. Thanks!

[2019-01-02 21:48] #24024 closed

[2019-01-02 21:52] jlebar commented on #24061
Hi, as per the other bug report, would you be willing not to assign issues to me that I am not working on?

[2019-01-02 21:53] hgadig commented on #24540
Hi, request you to post any support related questions in [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow). We encourage users to post only bug/feature request here. If you think it is a bug/feature, please fill this template and open a new issue. Thank you !

[2019-01-02 21:54] #24540 closed

[2019-01-02 21:54] pminervini commented on #24024
@ymodak it is not really resolved - I just hacked that "fix" into my tensorflow installation, but the problem persists

[2019-01-02 21:55] ymodak commented on #24065
This issue is more suitable on TensorFlow models repo. Please post it on TF models repo from [here](https://github.com/tensorflow/models/issues/new). Thanks!

[2019-01-02 21:55] #24065 closed

[2019-01-02 21:56] ymodak commented on #24075
This issue is more suitable on TensorFlow models repo. Please post it on TF models repo from [here](https://github.com/tensorflow/models/issues/new). Thanks!

[2019-01-02 21:56] #24075 closed

[2019-01-02 21:58] jvishnuvardhan commented on #24541
@ahmedbilal
Please understand that Github is primarily for addressing bugs in installation and performance. [StackOverflow] (https://stackoverflow.com/) is better place to ask/discuss support questions like these.

[2019-01-02 21:58] msymp commented on #24132
@joshl This user request is about specific combination where 3+ layers of Keras model are imported into estimators and a distribution strategy is employed. Can you please review this condition?

[2019-01-02 22:04] ymodak commented on #24024
Can you please fill the information asked by the template and we can reopen your issue? Thanks!
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from

[2019-01-02 22:10] hgadig commented on #24002
@TommoAsh   -   Can you try with tf nightly and see if this issue persists ?

[2019-01-02 22:19] ymodak commented on #24044
@zheng-xq  Can you please take a look? Thanks!

[2019-01-02 22:20] hgadig commented on #24582
What is the tensorflow version you used ? Also please fill [this](https://github.com/tensorflow/tensorflow/issues/new/choose) template which helps us to look into the issue.

[2019-01-02 22:33] #23827 closed

[2019-01-02 22:36] jvishnuvardhan commented on #24494
@Auroratan
Please provide part of the code which is throwing error.
Please try import tensorflow.data.Dataset(). Let me know what you get. thanks

[2019-01-02 22:36] msymp commented on #24062
Hello, please refer to #3628 where the conversion issue is addressed.

[2019-01-02 22:38] zboldyga commented on #11956
@evolu8 eek! I totally lost track of this ticket, thanks for the reminder... I read the paper today as a refresher and the correlation layer seems straightforward. Will be in the weeds and make some commits shortly 😄

[2019-01-02 22:46] ymodak commented on #24643
This issue is more suitable on TenosrFlow Tensorboard repo. Please post it on tensorboard repo from [here](https://github.com/tensorflow/tensorboard/issues). Thanks!

[2019-01-02 22:46] #24643 closed

[2019-01-02 22:57] cuevas1208 commented on #5066
any updates on this?

[2019-01-02 23:06] michaelgreenburg commented on #24346
Sorry for the late response. I went ahead and updated pandas and installed TF 1.12 with bazel 0.15, but ran into a similar (probably related?) issue:

[code]

As before, `ldd` shows that the libraries can find the right `libstdc++.so.6` rather than just using the one in `/lib64`:

[code]

[2019-01-02 23:10] toby5box commented on #20900
Against tensorflow v1.10.0: flatbuffers 1.9.0 also worked for me. 1.10.0 did not work.

[2019-01-02 23:14] crobarcro commented on #9171
Just to be clear, does this mean nothing will happen on this issue until v2.0 is released? It really hinders debugging.

[2019-01-02 23:34] wangpengmit commented on #9171
I'm afraid so.

[2019-01-02 23:53] nfelt commented on #16424
This issue is resolved.  TensorBoard stopped depending on Bleach nearly a year ago, and TensorFlow's only dependency on it was indirectly via TensorBoard.  Relatively recent versions of TensorFlow and TensorBoard don't have any dependency on Bleach at all.

[2019-01-03 00:00] byronyi commented on #18232
I see. Are we talking about collective ops offloaded to NIC/switch? This would be very interesting.

I do not know how to use such an API though, but if it looks like NCCL, you could take a look at 44f117cecbdcea196ef7ccf93c01c6425ad3232a, which implements multi-node collectives by graph rewrite. I guess similarly you could replace standard collective ops with your own implementation. My hunch is

[2019-01-03 00:12] sulantha2006 commented on #16239
Hi,
I was wondering, in a system with 2 GPUs with NVLINK interconnect (45GB/s, Peer-to-Peer working), `config.gpu_options.per_process_gpu_memory_fraction = 1.5` would use 0.5 of the second GPU instead of the host memory.

If not, how can this be done?
Thanks for the information.

[2019-01-03 00:34] #24627 closed

[2019-01-03 00:45] arunasank commented on #15296
@facaiy, is there a reason this was closed, even though I don't see a PR referenced to this issue?

[2019-01-03 00:48] Auroratan commented on #24494
@jvishnuvardhan
Thank you for your help！ I know my mistake, because the version of tensorflow is 1.2, it is a version problem, I used conda install tensorflow=1.12.0 to solve my problem.

[2019-01-03 01:14] wosiu opened #24676 "NNAPI doesn't support tensors with rank 0 - LeakyRelu?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 16.04 + Android 8.1
- TensorFlow installed from (source or binary): Anaconda
- TensorFlow version (or github SHA if from source): tensorflow 1.12.0 + keras 2.2.4 for converting model using tflite_convert and tensorflow-lite:1.12.0 in Android gradle build config

**Provide the text output from tflite_con

[2019-01-03 01:40] jvishnuvardhan commented on #24494
@Auroratan Thanks. I will close this.

[2019-01-03 01:40] #24494 closed

[2019-01-03 02:15] jvishnuvardhan commented on #24622
Thanks @yongtang.
Closing this out since it was resolved.

[2019-01-03 02:15] #24622 closed

[2019-01-03 02:30] poxvoculi commented on #18232
@yanivbl6 you can completely replace the collective implementation by providing an alternate implementation of CollectiveExecutorMgrInterface (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/collective.h#L203)
at service creation, via this function:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/distributed_runtime/rpc/grpc_server_lib.h#L89
You

[2019-01-03 02:44] jvishnuvardhan commented on #24644
@iperov, please provide the code and also follow the guidelines to fill the required details in the (template)[https://github.com/tensorflow/tensorflow/issues/new?template=00-bug-performance-issue.md]. Without the code and other details, it is difficult to find rootcause of the problem. If possible, mention your intention behind removing keras dependency?

[2019-01-03 03:08] jibanreloaded commented on #24398
Found the root cause..some of the custom ops used out side the graph were missing.
closing the issues.

[2019-01-03 03:08] #24398 closed

[2019-01-03 03:12] shenyingying commented on #24307
@shashishekhar HI guys
`2019-01-03 11:09:26.049 18193-18561/org.tensorflow.demo E/TensorFlowInferenceInterface: Failed to run TensorFlow inference with inputs:[input], outputs:[output]

    --------- beginning of crash
2019-01-03 11:09:26.055 18193-18561/org.tensorflow.demo E/AndroidRuntime: FATAL EXCEPTION: inference
    Process: org.tensorflow.demo, PID: 18193
    java.lang.IllegalArgumentExcept

[2019-01-03 03:14] shenyingying commented on #24307
@shashishekhar  there is another question , i can't convert yolov3-tiny.weight to yolov3-tiny.pb in CPU mode ,can you ever try it.

[2019-01-03 03:17] yangw1234 commented on #21889
similar issue here. It seem tf.keras will use ResourceVariable by default, which caused the problem. Changing the default value of `use_resource` to `False` in `tf.keras.Layer.add_weight` seems to fix the problem ([here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/engine/base_layer.py#L253)). But I still cannot a figure out a workaround without changing the TF sour

[2019-01-03 04:07] sulantha2006 commented on #16239
Thanks. Mesh-tensorflow can be a solution, but it won't be as a plugin replacement for keras based models.

Is it possible to share the GPU memory instead of host memory, if they already have UVA capability (at least with some config)? This way, GPU memory will be used first.

[2019-01-03 06:04] gunan commented on #24346
Thanks for the report.
Adding @allenlavoie @jhseu

[2019-01-03 06:07] gunan commented on #24346
Also adding @yifeif @hlopko
Marcel, is it possible that when building from sources, bazel ends up using a different libstdc++ then pandas is configured to use?

[2019-01-03 06:08] facaiy commented on #15296
Hi, @arunasank . I think variable_scope is going to be removed in the future: https://github.com/tensorflow/community/blob/master/rfcs/20180817-variables-20.md

[2019-01-03 06:30] maxiwu commented on #18652
similar issue, adding device takes a few minutes.
GPU  840M, python 3.6, CUDA 9.0, CUDNN 7.4.2, tensorflow 1.12.0

[2019-01-03 06:36] adoudou2008 commented on #23703
I have the same problem. Have you solved this problem?

[2019-01-03 07:09] DEKHTIARJonathan commented on #24582
I used the latest version of tensorflow.
I will check with the nightly build version.

[2019-01-03 07:11] tyongguang commented on #3550
use g++-4.8 and set the absolute path when setting config,using symbolic link will be  occurred this error

[2019-01-03 07:13] skang29 opened #24677 "GPU peer-to-peer access"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Y
- OS Platfor

[2019-01-03 08:06] mvhsin commented on #19838
Hi kasyoukin,
I also met the same issue when use the .pb produced by quantize_graph.
Did you find the solution?

[2019-01-03 08:07] raviilango commented on #24311
Hi,    Thanks for investigating this issue.    Would like to know when a resolution is possible.  I am working on a project deadline which needs a solution for variable size image as input.    Thanks again for everything so far.

[2019-01-03 08:28] ageron opened #24679 "Out of bounds error while iterating on the rows of a RaggedTensor"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mac OS X 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
VE

[2019-01-03 08:35] yanivbl6 commented on #18232
@byronyi

Yes, that's the general idea. I can gladly share more if you are interested.

The API I am currently checking is similar to Facebook's gloo, a.k.a , persistent collectives.
So it's somehow different to what is being used by nccl and MPI (will be added to MPI4.0). It has strict limitation on parameters (determined during initialization) but allows more flexible ordering in runtime.

@poxv

[2019-01-03 08:38] ageron commented on #24679
Here is a simple workaround:

[code]

However, it moves all the data to Python. To preserve Tensors and remain within TensorFlow:

[code]

[2019-01-03 10:00] larissa95 commented on #24524
You can run it by changing
train_input_fn = tf.compat.v1.estimator.inputs.numpy_input_fn(
to train_input_fn = tf.estimator.inputs.numpy_input_fn(
and eval_input_fn = tf.compat.v1.estimator.inputs.numpy_input_fn(
to eval_input_fn = tf.estimator.inputs.numpy_input_fn(

basically the reverse than what was done in the last commit:
https://github.com/tensorflow/tensorflow/commit/95e808ba44075dfe0b7db57

[2019-01-03 10:12] ustcyue commented on #24611
some update, I figured out why `CollectiveAllReduceStrategy` is slower than `MirroredStrategy` on a single machine. It is because the `CollectiveReduce` op is not enabled in rewrite_option when running on single machine. After fix this, it can run at same speed with MirroredStrategy now, but  `CollectiveAllReduceStrategy` on multiple workers is still slow, for example, when I split the 8 cards int

[2019-01-03 10:13] yangw1234 commented on #21889
changing variable creator seems to be a workaround
[code]

[2019-01-03 10:19] Kishwar commented on #15062
@PINTO0309

Thanks for the response. Your binary for Pi is working on Odroid XU4.

[code]

Warning msg because binaries are compiled for Python3.5 but Odroid have 3.6.

If anyone installing binary compiled with 3.5 with pip3 of python will get following error msg:

**tensorflow-1.11.0-cp35-cp35m-linux_armv7l.whl is not a supported wheel on this platform.**

Solution:
1. Rename file to tensorflow-1

[2019-01-03 10:22] byronyi commented on #24611
Case of multi-worker involves interprocess communication, which is a whole different story. If you have RDMA capable NIC, it’s possible to utilize GPU Direct RDMA to improve performance in the case multi-worker.

[2019-01-03 10:22] jameswan commented on #6698
Switch to tensorflow 1.7

On Thu., 3 Jan. 2019, 19:29 maxi.wu <notifications@github.com wrote:

[2019-01-03 10:56] HazratBilal12 commented on #9680
UnsatisfiableError: The following specifications were found to be in conflict:
  - anaconda==2018.12=py37_0 -> bleach==3.0.2=py37_0
  - anaconda==2018.12=py37_0 -> mkl-service==1.1.2=py37hb782905_5
  - anaconda==2018.12=py37_0 -> numexpr==2.6.8=py37hdce8814_0
  - anaconda==2018.12=py37_0 -> scikit-learn==0.20.1=py37h343c172_0
  - tensorflow
Use "conda info <package>" to see the dependencies for ea

[2019-01-03 11:03] ram1897 commented on #24580
@jvishnuvardhan I have opened up a stackoverflow question 10 days back. No replies from the community there.
**Did you execute the snippet in your comment?**
The two Printing Name functions in your snippet will give you:
Const:0 and Const_1:0 which is the problem which I reported in the first place.
I want both print statements to give the output as Const:0

Is this a **Bug** in Tensorflow or the

[2019-01-03 11:08] durgeshiitj commented on #2416
I am facing the same issue.
Tried both tensorflow-gpu and tensorflow(cpu only) and got MemoryError.
I don't know how to fix this.
Also, erickrf commented that giving 512GB of RAM to GPU solved issue, how to do that on server?

[2019-01-03 12:35] shutian1986 commented on #10609
HI，I also have the meet the same problem when I train the faster-rcnn using tensorflow, the error is "InvalidArgumentError (see above for traceback): Reshape cannot infer the missing input size for an empty tensor unless all specified input sizes are non-zero",  if you fix it?

[2019-01-03 12:37] twiecki opened #24684 "Large Python call overhead in eager mode"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX Mojave
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.12.0
- Python version: 3.6
- GCC/Compiler version (if compiling from source): 4.2.1
v1.12.0-rc2-3-ga6d8ffae09

[2019-01-03 12:37] twiecki commented on #120
@asimshankar https://github.com/tensorflow/tensorflow/issues/24684

[2019-01-03 13:15] Shailendra2803 opened #24685 "Image Style Transfer Model not generating fake nodes"
HI,
I am trying to quantize the following model
https://github.com/hwalsuklee/tensorflow-fast-style-transfer

 I have trained the model with following
tf.contrib.quantize.create_training_graph(quant_delay=0)
and for Inference I am using the following
 tf.contrib.quantize.create_eval_graph()

I am freezing the graph with following command
python -m tensorflow.python.tools.freeze_graph \
--input_gra

[2019-01-03 13:22] simtony commented on #17968
The same issue. It only happens on some runs. The process staled and the gpu utilization get 100%.

[2019-01-03 13:35] mario98 commented on #22794
I had the same issue with TensorFlow 1.12.0 and none of the solutions worked for me. Then I downgraded to TensorFlow 1.10.0 and this time the error message was much more informative. It told me that cudart64_90.dll could not be found which is located in `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.0\bin`. After adding this specific path to the PATH variable, it run smoothly without error

[2019-01-03 13:55] byronyi commented on #24611
I would not say it’s unreasonable; it’s certainly possible to achieve higher performance than gRPC via some other means, e.g. shared memory, regular RDMA, interprocess CUDA P2P, etc. Some of them are implemented in open source TF (contrib/verbs or uber/horovod), some are not.

Since you could actually reach expected performance with a single TF process, I do not understand what you are trying to a

[2019-01-03 14:11] TeaPearce commented on #23410
any chance you could expand on this? I tried changing the call to PlaceholderWithDefault in gen_array_ops.py line 5334 but it just triggered another error.

[2019-01-03 14:37] cielavenir commented on #23655
@hgadig now I see this issue is closed, may I have the relevant commit?

[2019-01-03 15:24] echarso commented on #23410
Same problem here

[2019-01-03 15:39] lyhue1991 opened #24686 "tf.print can't print log in jupyter notebook."
When I tried to use tf.print() or get the log_device_placement information in google colabratory. I just can't get the print output. I tried in my own jupyter, and I find the print log is in the cmd.exe windows. This behavior is very strange and I think it should be fixed.  The code is like below.

`python
import tensorflow as tf
print(tf.GIT_VERSION, tf.VERSION)
a = tf.constant([1.0, 2.0, 3.0, 4.

[2019-01-03 16:07] isheunesutembo opened #24687 "I am getting the following error when exporting keras model to tensorflow"
from tensorflow.python.saved_model import builder as saved_model_builder
from tensorflow.python.saved_model import utils
from tensorflow.python.saved_model import tag_constants, signature_constants
from tensorflow.python.saved_model.signature_def_utils_impl import build_signature_def, predict_signature_def
from tensorflow.contrib.session_bundle import exporter

export_path = 'plantmodelproduction'

[2019-01-03 17:20] allenlavoie commented on #24346
Could you try running something like:

`strace python3.6 -c "import tensorflow" 2>&1 | grep libstdc`

and

`strace python3.6 -c "import pandas; import tensorflow" 2>&1 | grep libstdc`

It would be nice to know what ends up loading the lib64 one.

[2019-01-03 17:31] martinwicke commented on #24653
The code examples will be updated soon, and it isn't surprising that they don't yet work on TF2 (though of course, it would be nice if they did).

We decided to remove tf.log because there's an unfortunate ambiguity with tf.logging.log.

Thank you for sending the differences. We have made some changes, and at first glance, these look fine to me. We do have to update the RFC though.

[2019-01-03 17:36] matthewbundala commented on #22338
@guikarist @Steroes Thank you for the script, it makes the environment preparation much easier. However, it does not address the original issue: if I try to compile the debug version (with `-c dbg` parameter), I get a `error C4716: 'tensorflow::io::GetTempFilename': must return a value` error - this happens regardless whether I use the script or not.

[2019-01-03 17:44] poxvoculi commented on #18232
@yanivbl6 :

Yes

[2019-01-03 17:53] pachpandepriti commented on #13977
@rryan for tf.ifft function if I don't give the fft length will it take the batch_size as fft length when the function is used inside a model?

[2019-01-03 18:30] jsimsa commented on #24288
The example is not self-contained and thus not reproducible. Closing the issue as the user was able to solve their problem idiomatically (by using existing tf.data transformations).

[2019-01-03 18:30] #24288 closed

[2019-01-03 18:38] rafaellopezgarcia commented on #22706
Thank you guys, it also works for me as well with a 1080 ti

[2019-01-03 18:45] tensorflowbutler commented on #20629
It has been 26 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-03 18:45] tensorflowbutler commented on #22480
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-03 18:46] tensorflowbutler commented on #22946
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-03 19:01] allenlavoie commented on #24623
One option is using the TensorFlow weight format, by using an extension that doesn't include `h5` (or [passing `save_format='tf'` explicitly to save_weights](https://www.tensorflow.org/api_docs/python/tf/keras/models/Model#save_weights)). That will do restore-on-create for variables when loading, so you can `load_weights` and then run `fit` and the variables will be restored before they get used.

[2019-01-03 19:43] guikarist commented on #22338
@matthewbundala I have built without this flag but succeeded to use VS debug tools or build debug Tensorflow program.

[2019-01-03 19:44] lesniewski commented on #23386
I also hit this issue when upgrading from 1.10 to 1.12.
Adding `--define=framework_shared_object=true` to the bazel build suppressed it, so this may be a bug in the static build.

[2019-01-03 20:05] reedwm commented on #15115
@dchatterjee172, can you provide a self-contained, relatively short example I can run to reproduce? It does seem like `loss` should be different from `eval_mean_loss`. I am also unsure how loss can be a non-integer, since you passed an `int32` value for loss.

[2019-01-03 21:04] cabahug2 commented on #23714
@achowdhery does TFLite have support for the dequantization and NMS ops for Java?

[2019-01-03 21:45] oxanderv commented on #9516
yes, I'm installing python 3.5.2 and I followed this link.:

https://medium.com/intel-student-ambassadors/installing-tensorflow-on-windows-with-anaconda-af6fa6280a4b

work to me..

[2019-01-03 21:57] defaultUser3214 commented on #23970
something new about it?

[2019-01-03 22:15] allenlavoie commented on #24346
Oh interesting, yeah the `-B15` is helpful there. So it looks like matplotlib is going straight for the /lib64/ version, then the linker uses the cached /lib64/ load for TensorFlow.

I'm not sure what TF can do in this case. Presumably it works if you `LD_PRELOAD=/apps/gcc/7.3.0/lib64/libstdc++.so.6 python3.6 -c "import pandas; import tensorflow"` ? That should be more or less equivalent to what h

[2019-01-03 23:31] chrisdahlberg opened #24690 "tf.keras.backend.batch_normalization documentation equation does not match implementation"
**System information**
- TensorFlow version: r1.12
- Doc Link: https://www.tensorflow.org/api_docs/python/tf/keras/backend/batch_normalization

**Describe the documentation issue**
The documentation describes the op as computing

[code]

the op actually computes

[code]

with `epsilon` inside the sqrt

Practically, it doesn't really matter where the epsilon is added in actual use.  (I only noticed

[2019-01-03 23:35] jpribyl commented on #20444
@shahril96

Your solution worked for me on arch linux, thank you!

[2019-01-04 00:39] ageron commented on #24653
Thanks Martin.  I didn't think about `tf.logging.log()`, I see your point, although I would strongly vote in favor of keeping `tf.log()` (math), as I believe way more people are going to be frustrated by `tf.log()` missing than people frustrated by `tf.log()` being math instead of logging, given that:
* TF 1.x had `tf.log()`, and it was math, not logging.
* `exp()` and `log()` always go hand in ha

[2019-01-04 00:40] yongtang commented on #24690
@chrisdahlberg Created a PR #24693 for the fix.

[2019-01-04 00:52] zhaoyuchen2018 commented on #24600
i made a mistake, it's not cudnn's problem, the weights should be reset->update, not update->reset. sorry...

[2019-01-04 01:10] jvishnuvardhan commented on #24580
Yes. I executed it.
The function is performing as it was intended.
I think the attribute is only referencing a variable. When you change the type of a variable, it's reference also changes. If you want to use the attribute for some comparison, you could read, split and compare.
Thanks again. This channel is not for support questions like this.

[2019-01-04 01:10] #24580 closed

[2019-01-04 01:16] tgs266 commented on #23659
@davidpham87 did you ever find a fix for this?

[2019-01-04 01:52] ustcyue commented on #24611
Hi @byronyi , this is just an example. I am trying to use it for distributed training across several machines. I tried 64 cards training across 8 machines and the acceleration rate is around 20.

[2019-01-04 01:59] taotaolin commented on #22338
@Steroes @guikarist Thank you for the script and i will try to compile the latest version again.

[2019-01-04 02:00] chutongz commented on #24128
I met this error when trying to convert the froze_eval_graph.pb into .tflite file using 'toco'
I followed the steps in the instruction [here](https://github.com/tensorflow/tensorflow/tree/r1.12/tensorflow/contrib/quantize), and here is my error trace:
[code]

And my environments are:
Python3.5
Tensorflow-gpu 1.9.0
cuDNN 7.5.0
CUDA 9.0

Any help is appreciated! Thanks a lot!

[2019-01-04 02:07] guikarist commented on #22338
@taotaolin This script cannot work on the latest Tensorflow. To be exact, it can only work on Tensorflow 1.11.0 at least now.

[2019-01-04 02:21] chutongz commented on #20886
@hzhyhx1117 Hi, I have same error when using create_training_graph() and create_eval_graph().
I have a question about reconstructing the graph. Do you mean to restart a session and reload the checkpoint to evaluate?
Because I am currently use this method but still can not work, when I use 'toco' to convert the graph, it gave me error as bellow:
`ValueError: Input 0 of node Lenet/conv1/weights_quan

[2019-01-04 02:32] MariAmon opened #24694 "Tensorflow-gpu installation issue"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2019-01-04 02:54] kurka opened #24695 "Incompatible checkpoint being restored on estimator with keras model"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Archlinux
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.12.0
- Python version: 3.7.1
- CUDA/cuDNN version: 10.0.130-2/7.4.1.5-2
- GPU model and memory: 11GB GTX 1080 Ti

**Describe the current behavior**

I am running a Keras Model within a custom estimator

[2019-01-04 03:09] MariAmon commented on #24694
I rerun it

Traceback (most recent call last):
  File "C:\Users\Lenovo\AppData\Local\Programs\Python\Python36\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\Lenovo\AppData\Local\Programs\Python\Python36\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 28, in <mod

[2019-01-04 03:50] asimshankar commented on #24571
There are currently no plans to pursue this.

That said, could you elaborate on the use case? Quitting from [the documentation](https://www.tensorflow.org/api_docs/python/tf/Graph#device):

[code]

With eager execution, there is no `Operation` object, as there is no symbolic execution. So, I'm curious about what function you would be using that doesn't just return a string that can be used.

Perha

[2019-01-04 04:48] samhodge opened #24698 "C++ include files when linking against headers with wrong type, no long int in code base, erroring about long int type."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes I have wri

[2019-01-04 06:58] byronyi commented on #24611
@ustcyue That is good to know. May you give more specific configurations of your cluster? What is your network configuration? How does PS/mirrored strategy work with your jobs in the same environment?

@poxvoculi @yanivbl6 @jbedorf may help you.

[2019-01-04 07:08] nikhil-dev commented on #24571
Ah ok I didn't realize there's no `Operation` object in eager mode.

My use case is the following: I have a LSTM network with a Gaussian distribution output. I'm using the TF probability library to create a distribution object parametrized by the outputs of my LSTM network.

One of the methods of this TF Probability distribution object invokes the op `MatrixTriangularSolve` at some point in the ca

[2019-01-04 07:21] ktaebum opened #24701 "Cannot reproduce tf.contrib.autograph's RNN Colorbot example"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No (Used script provided in Tensorflow)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): r1.12
- Python version: 3.6

**Describe the current behavior**

I trie

[2019-01-04 07:22] faxinwang commented on #3834
that works for me too, on my old win7 desktop, thanks!!

[2019-01-04 07:34] ageron commented on #24573
Thanks once more @yongtang ! 👍

[2019-01-04 07:40] jezzadiaz commented on #13765
This was fixed when we upgraded our protoc version. Thanks
protoc --version
libprotoc 3.6.0

[2019-01-04 08:14] dchatterjee172 commented on #15115
@reedwm
tf.metrics.mean will cast the `values` argument to float.
https://github.com/tensorflow/tensorflow/blob/r1.12/tensorflow/python/ops/metrics_impl.py#L392

[2019-01-04 08:39] davidpham87 commented on #23659
I implemented the Estimator API (which will be depreciated in TF 2.0, lol)

[2019-01-04 10:09] ufukcbicici opened #24702 "Errors of the form "In rule 'core_test', size 'medium' is not a valid size.""
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow instal

[2019-01-04 10:34] simonsays1980 commented on #9512
I am also having this problem when using the tf.estimator.Estimator with the tf.estimator.RunConfig saving checkpoints. There had been an issue that was already closed without a solution: https://github.com/tensorflow/tensorflow/issues/17272

[2019-01-04 11:49] jiakai0419 commented on #19464
brew install c-ares

[2019-01-04 12:07] amitisgr8 opened #24703 "Tensorflow Feature Column V2 test cases failing due to Out of Memory for CUDA"
I am trying to run feature_column_v2_test script using  the bazel test command :
bazel test tensorflow/python/feature_column:feature_column_v2_test
I get an error of i.e out of memory for CUDA
---------------------------------------------------------------------------------------------------
[code]
-----------------------------------------------------------------------------------------------
**My

[2019-01-04 12:12] susierao commented on #23077
Yes, it is still an issue, please advise accordingly. Thank you.

[2019-01-04 12:13] aslihn commented on #23898
I'm struggling with the same issue. I have saved my network using CudnnLSTM.

`cudnn_lstm =tf.contrib.cudnn_rnn.CudnnLSTM(num_layers=2, num_units=36, dtype=tf.float32)  `

After that, using the code seen below, I'm trying to restore variables like input placeholder or accuracy.

`graph = tf.Graph()
with tf.Graph().as_default(), tf.device('/gpu:0'):
    with tf.Session() as sess:
        saver = tf

[2019-01-04 12:35] iperov commented on #24644
sorry I cannot provide reproduce right now, because my project is large enough.

Possible reproduce :
create deep image autoencoder for ~500MB total disk space.
Find largest not OOM batch size for training for your videocard.
Replace keras to tf.keras and expect issue.

[2019-01-04 12:38] ved27 commented on #20886
Wait, I used layers from slim instead of the following

[2019-01-04 12:51] aslihn commented on #23898
I'm struggling with the same problem. I'have saved my network with using CudnnLstm ;
`cudnn_lstm = tf.contrib.cudnn_rnn.CudnnLSTM(num_layers=2, num_units=36, dtype=tf.float32)`

I saved it in a checkpoint file. After that, using the code seen below, I'm trying to restore variables like input placeholder or accuracy.
[code]
But I get this error " The name 'cudnn_lstm/opaque_kernel_saveable' refers

[2019-01-04 14:42] timoveldt commented on #11812
This worked for me. I was running multiple python consoles in PyCharm and making sure there is just one seems to help.

[2019-01-04 15:32] alain54 commented on #24373
master branch, same error with XLA; ok without XLA.
bazel master call:
env TMP=/tmp bazel build --config=opt --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-mfpmath=both --copt=-msse4.2 --cxxopt=-D_GLIBCXX_USE_CXX11_ABI=0 //tensorflow:libtensorflow.so //tensorflow/tools/pip_package:build_pip_package

Package versions: tensorflow1.13 bazel0.20 python2.7.15 gcc7.3.0 cuda10.0 cudnn7.4.2 fedora29

[2019-01-04 15:44] skeydan commented on #24373
Hi @alain54 - sorry for misusing this, but I plan to upgrade to F29 soon, and I see you have it working with cuda 10.
Might I ask you what version of the nvidia driver you're using, and which is your kernel version? (I also take it, from what you write, that we still need to custom-compile gcc7 for cuda 10...?)

Thanks!

[2019-01-04 16:12] aadamson opened #24704 "Can't load JNI library and Python bindings in same process"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Source
- TensorFlow version: 1.11.0
- Python version: 3.6.8
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source):

[2019-01-04 17:18] michaelgreenburg commented on #24346
Yeah, setting LD_PRELOAD/prepending to LD_LIBRARY_PATH works. I'll just do that for now, and report back here if I find a less [dangerous](http://xahlee.info/UnixResource_dir/_/ldpath.html) solution. I guess this doesn't really have to do with TF so much as the overall setup--sorry for the noise!

[2019-01-04 17:18] #24346 closed

[2019-01-04 17:34] alextp commented on #24067
@azaks2 this looks like an issue where constant folding (which runs on the CPU) gives different answers than the GPU kernel. Can someone on your team look at the GPU side of this?

[2019-01-04 18:16] sscardapane opened #24705 "TensorFlow 2.0 installation issue on Windows (CPU)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 (Home Edition)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): binary
- TensorFlow version: tf-nightly-2.0-preview
- Python version: 3.6.x
- Installed using virtualenv? pip? conda?: pip
- CUDA/cuDNN version:

[2019-01-04 18:16] sscardapane commented on #24705
I forgot to mention that a similar error message arises here: #24694.

[2019-01-04 18:38] feihugis commented on #19945
Here is the results I run on my mac using tf-nightly (1.13.0.dev20190104). The issue likely has been fixed.

Eager:
[code]

Graph:
[code]

[2019-01-04 18:39] jdduke commented on #24311
Still working on a more general solution. The converter makes some (questionable) optimizations for square shapes, which is preventing the subsequent resize.

In the meantime, for this case I would use the workaround you already discovered, that is, feed it a non-square shape during conversion (e.g., (1, 230, 150, 1)), which should allow resizing at runtime.

[2019-01-04 18:41] samhodge commented on #24698
I have an idea now to recompile on the new machine with identical SHA hash from the github revision without CUDA support and see if I still get the same error.

[2019-01-04 18:46] tensorflowbutler commented on #24161
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-04 18:46] tensorflowbutler commented on #24397
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-04 18:58] #23384 closed

[2019-01-04 19:08] sadilek commented on #24592
I ran into the same issue. I think the problem is that `predict()` runs a new session, and in that context, accessing the EagerTensor is not supported. A workaround I found works is to convert the tensor into a numpy array and convert it with `numpy_input_fn()`:
[code]

My first attempt was to pass the numpy array into `Dataset.from_tensor_slices()`:
[code]
But that leads to an infinitely yielding

[2019-01-04 19:09] jdduke commented on #23766
I was finally able to repro this.

By default, TensorFlow (Mobile) uses ~4 threads, whereas TensorFlow Lite only uses 1. If you increase the thread count to 2, or 4, you should see a modest speedup (On a Pixel 2 it went from ~420ms to ~250ms when going from 1 to 4 threads).

The TensorFlow (Mobile) execution is still slightly faster, as it has multi-threading support for the lrn op, whereas Tensor

[2019-01-04 19:10] penpornk commented on #24172
@dizzam  I'm so sorry for the delay, and thank you for the detailed description!

Just a side note: I got this error `ModuleNotFoundError: No module named 'google_compute_engine` from
[code]
I got rid of it with `pip install google_compute_engine`.

I could reproduce the issues on CentOS 7 and Ubuntu 16.04 with both python and ipython. The issue also persists in the latest release (1.12.0). Intere

[2019-01-04 19:18] jayfurmanek commented on #24414
addressed with https://github.com/tensorflow/tensorflow/commit/7c9323bedc48c98be3c07b72ec1d6f4dccdefb35

[2019-01-04 19:19] reedwm commented on #15115
Even with the cast in `tf.metrics.mean`, you pass `loss=a`, which is an int. In any case, a self-contained example would make this easier to debug.

[2019-01-04 19:54] aijunbai commented on #23703
Same problem here.

[2019-01-04 20:05] vtolani95 commented on #19671
@jaingaurav Thanks for your work thus far. I've run into this same issue myself recently on a project.

Is the fix still in progress?

[2019-01-04 20:32] reedwm commented on #23861
/CC @chsigg, can you take a look?

[2019-01-04 20:35] yuefengz commented on #23703
Looks like the nccl op is not loaded when the meta_graph is loaded. @azaks2, do you have any clue?

[2019-01-04 20:38] jaingaurav commented on #19671
Hi, yes this issue was on the back burner for a bit but I'm currently working through an updated change internally.

@feihugis: There is some relation to the doc you referenced. However, the issue is more specific to eager execution. At https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/resource_variable_ops.py#L409 we generate unique shared names for eager variables. As a

[2019-01-04 20:47] ShariqM opened #24709 "TFLite c++ code with TFLite binary gives error using BuildFromBuffer()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac High Sierra 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Pixel 2
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command

[2019-01-04 21:20] feihugis commented on #19671
@jaingaurav Thanks for your explanation. The following issues may also be related to the kernel cache: #23882, #23407, and #24084.

[2019-01-04 21:23] ymodak commented on #24687
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-01-04 21:23] #24687 closed

[2019-01-04 21:24] #24457 closed

[2019-01-04 21:34] rockclimber112358 commented on #3332
Any update on this?

[2019-01-04 21:35] ThomasColthurst commented on #23007
I'm also seeing this with TensorFlow 1.11.  I'm building TensorFlow from source following the instructions at https://www.tensorflow.org/install/source

[2019-01-04 21:35] pawarrick commented on #24226
@shivam13juna, I have not seen any note of work being done on this, so I think your contribution would be most welcome

[2019-01-04 21:46] ymodak commented on #23389
I checked with Chrome Version 69.0.3497.100 (Official Build) (64-bit), macOS High Sierra and the error is no longer applicable. Is this still an issue for you?

[2019-01-04 22:03] jvishnuvardhan commented on #24147
@arcane1028 , this [article](https://www.programcreek.com/2011/09/what-is-the-difference-between-a-java-library-and-a-framework/) explains differences between framework and library in general.

[2019-01-04 22:12] msymp commented on #23970
Hello @martinwicke , can you please check this accuracy issue? Thanks.

[2019-01-04 22:20] msymp commented on #24012
Hello, can you please try bazel 0.9.0  ?

[2019-01-04 22:30] martinwicke commented on #23970
@rmlarsen, @guizili0 pointed at the Eigen update leading to a regression in YOLO quality.

This is sadly a very ill-defined regression -- @guizili0 do you have any hints as to where this regression may manifest itself, i.e., where (which op) results start to differ?

[2019-01-04 22:30] martinwicke commented on #23970
@guizili0 did you find this commit via bisection?

[2019-01-04 22:33] msymp commented on #24029
Hello @petermattson  , can you please check this resnet50 accuracy issue ? Thanks.

[2019-01-04 23:15] B-Rydalch commented on #16965
I'm having the same issue, even after applying the changes posted by Jart back in April. The code I'm executing is from Udacity deep learning tutorial assignment #4. Any help would be greatly appreciated.

System Details:
System: Windows 10 home 64-bit, x64-based processor
Cuda: v 9.0.176
CUDNN: v 9.0 win10x64 7.3.1.2
tf-gpu: v 1.5.0 via PIP
NVIDIA: GTX 1060 6 GiB
NVIDIA DRIVER VERSION: 417.35
pyt

[2019-01-04 23:41] alfredaita commented on #17022
create an environment and use python 36. install spyder and pandas with conda. Install tensorflow-gpu with pip.  I suggested this before on an earlier post. Tensorflow recommends pip not conda.

[2019-01-04 23:46] karmel commented on #21737
Great-- anything that can also work for Keras would be preferred-- so, if you represent additional functionality as layers/models that then become part of a canned Estimator, we have much wider applicability and flexibility. Thanks, and looking forward to updates--

[2019-01-04 23:48] karmel commented on #24612
@xiejw , @alextp for the behavior of the current partitioners, and some insight as to the expected APIs in 2.0.

[2019-01-04 23:50] karmel commented on #23798
Thanks, @shivam13juna -- sure, please update the docs for the relevant classes/methods above as necessary, and it would be great if you also came up with an end-to-end example that could be published as a tutorial/Jupyter notebook. Thanks--

[2019-01-04 23:55] ymodak commented on #24686
By adding tf.logging.set_verbosity(tf.logging.INFO in your script you should be able to see the logging in the ipython console.

[2019-01-05 00:00] alextp commented on #24612
The partitioner shouldn't affect convergence, other than it can change the relative speed of your workers and hence affect the level of parallelism requiring a retuning of the learning rate.

[2019-01-05 00:16] salvatoreloguercio commented on #23389
Thanks for checking this out. Yes, getting the same error with Chrome Version 70.0.3538.77 (Official Build) (64-bit). Also got the same error on Win10 machines running Chrome 71.
Seems that the "load bookmark" button is broken with all current versions of Chrome (70 and above).

[2019-01-05 00:37] #19671 closed

[2019-01-05 00:40] jaingaurav commented on #19671
@feihugis, @julesbayet: Fix has been landed. Thanks for your patience with this fix. Please let me know if you are still seeing the issue after my change.

[2019-01-05 01:01] jvishnuvardhan commented on #24518
@fchollet,
please take a look at this feature request in keras to add crossentropy with logits as loss function

[2019-01-05 01:12] jvishnuvardhan commented on #24521
@jdduke, Could you please take a look at this build issue in TF Lite. Thanks

[2019-01-05 01:18] liyunlu0618 commented on #24138
Your model needs to be trained with quantization for this conversion to work. This process will add the missing min/max to the tensors, as complained in the error message.

If you do not have to run quantized inference, we have another [post-training optimization tools](https://www.tensorflow.org/lite/performance/post_training_quantization) that doesn't require retraining your model. Please check

[2019-01-05 01:22] jvishnuvardhan commented on #24591
@burui11087,
Could you provide a code to reproduce the issue to find root-cause of the issue?
Thank you

[2019-01-05 03:32] gitdavida opened #24712 "tf.nn.embedding_lookup return NaN, i think it is not correct!"
here is my test case code:
-----------------------------------start
import tensorflow as tf
import numpy as np

tf.enable_eager_execution()
a = np.zeros([2,4,2],dtype=float)
out = tf.nn.embedding_lookup(a,[0],'div',None,-1)
-------------------------------------end
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-01-05 04:42] samhodge commented on #24698
OK I can compile some old code but not the identical source as is compiling in the otherwise identical virtual machine which is CentOS 6.9
Is there a way to run that virtual machine with access to the GPU, the end goal is to come up with some libraries that are glibc 2.12 compliant.

[2019-01-05 05:33] maisora commented on #24581
This is still an issue, I will try uninstalling anaconda and reinstalling with py36 and report back.

[2019-01-05 06:05] anilsathyan7 commented on #22957
Facing similar issue while benchmarking my custom model with tensorflow benchmark tool:-

`E tensorflow/tools/benchmark/benchmark_model.cc:275] Could not create TensorFlow Session: Invalid argument: Input 0 of node MobilenetV2/expanded_conv/project/bn/cond/ReadVariableOp/Switch was passed float from MobilenetV2/expanded_conv/project/bn/gamma:0 incompatible with expected resource.`

[2019-01-05 06:20] elbamos commented on #14174
@saudet I believe the issue is that instead of changing the PATH and DYLD_LIBRARY_PATH at compile time, you need to add the relevant directories to the directives given to the linker...  I used to know the details of this, some years ago.

Here's some additional information:
[code]

So, you can see the problem is the `@rpath` on libcudnn and libcudart.

One way of changing this would be to run `in

[2019-01-05 06:42] saudet commented on #14174
I'm pretty sure the CUDA paths are in the rpath. Check `otool -l`, I'm sure
they will show up there.

[2019-01-05 06:59] elbamos commented on #14174
I just checked, and they're definitely not there.  (If they were there, then we wouldn't have this issue.)

For both of them I do see:

[code]

So it looks like an install tool directive that is improperly replacing a variable.

[2019-01-05 07:13] komcat commented on #22794
**confirm this solution**

use tf-nightly-gpu
win10
cuda 10.0
python 3.6.4
geforce 960M
cudnn64_7

[2019-01-05 07:40] FazalAAli commented on #19375
Here's how I fixed this issue for me:
**Things that didn't fix the issue**
1. Installed all the dependencies for the thing I was working on (hypergan in this case).
2. Installed latest linux nvidia drivers (390 in my case)
3. Download and install Cuda 9.0

**Thing that worked**
Installing Cudnn from Nvidia using the .deb pacakge.(The package was meant for ubuntu 16.04 but it worked fine for me on

[2019-01-05 08:05] QianShengWu commented on #20444
even if you successful install tensorflow1.12 in python 3.7, it'll get some unexpected error like:
'tf.constant(5)' get 'UnboundLocalError: local variable 'self' referenced before assignment'

[2019-01-05 08:45] metalalive commented on #23673
I got the same  error, build from source in the following environment

#### system information
- OS Platform and Distribution : Raspbian  9.0 (Stretch)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.12
- Python version: N/A, I was building C++ library (.so)
- Installe

[2019-01-05 09:44] alsrgv commented on #13308
@superbobry, thanks - you just saved us from spending a lot of time in uber/horovod#542 digging through this.

[2019-01-05 10:05] cjjjy opened #24714 "Tensor conversion requested dtype float32_ref for Tensor with dtype float32?"
Hi:
my program have bug in these code line:

               word_embeddings = tf.scatter_nd_update(var_output, error_word_f, sum_all)
                word_embeddings_2 = tf.nn.dropout(word_embeddings, self.dropout_pl)

The error hint as follows:
ValueError: Tensor conversion requested dtype float32_ref for Tensor with dtype float32: 'Tensor("dropout:0", shape=(), dtype=float32)
  =================

[2019-01-05 11:12] ParmpalGill commented on #9071
I had the same error that nvidia had 384.145 version and tensorflow demanded 384.130. i have resolved it by uninstall the tensorflow and then install the tensorflow
pip uninstall tensorflow-gpu
sudo apt-get update
sudo reboot now
pip install tensorflow-gpu
sudo apt-get update

[2019-01-05 12:46] rockzhuang commented on #2667
Freeze and save model, Example here: https://github.com/rockzhuang/tensorflow/commit/fb6a6f4e3dd6e663a14b672ab5c616d968d62bc5

[2019-01-05 12:48] lyhue1991 commented on #24686
Thank you very much. But I tried this, it does't work. The reson of this probelem maybe is the cooperation of tensorflow and Jupyter notebook. Because I can see the log information in the cmd.exe window which runs  jupyter.

[2019-01-05 13:25] marcreyesph opened #24715 "Mobilenet transfer learning has a higher final test accuracy than Inception V3 and Inception ResNet v2"
I tried and did some experimenting on running the [retrain.py](https://github.com/tensorflow/hub/blob/master/examples/image_retraining/retrain.py) script for transfer learning. I did the transfer learning of images with 512px x 384px, of the same learning rate (used 0.01) and training steps (used 10000) using [Inception V3](https://tfhub.dev/google/imagenet/inception_v3/feature_vector/1), [Mobilen

[2019-01-05 13:39] ardianumam commented on #22957
I solved this similar issue, in my case, I added `tf.keras.backend.set_learning_phase(0)`.

[2019-01-05 13:54] huangbiubiu commented on #24623
@allenlavoie So Keras `h5` model is not compatible with TensorFlow now? I am confused on initializing layers with `fit` method. Is this a bug?

I prefer `ModelCheckpoint` class because it supports more features, like saving the best models, loggings, etc.

[2019-01-05 14:39] Zhiqiang-Ye commented on #24612
I had a similar guess about the parallelism and did some experiments under less scale setting using 2 ps and 5 workers on my local server. I also observed low AUC with fixed_size_partitioner. After reading your reply, I did another set of experiments with only 1 worker providing updating gradients, and still low AUC.

I also tried to find some other clues from TensorBoard and noticed:
1. the train

[2019-01-05 14:48] #24534 closed

[2019-01-05 16:21] iseegr8tfuldeadppl opened #24716 "Building Pip package keeps failing"
**System information**
- OS Platform and Distribution: Windows 10
- Mobile device: Lenovo Z50 Laptop
- TensorFlow installed from (source or binary): source
- TensorFlow version: i'm not sure
- Python version: 3.6
- Installed using virtualenv? pip? conda?: i don't have it installed i cloned the github repository though i ran through issues and been told to not have tensorflow installed before build

[2019-01-05 18:37] hanayashiki opened #24717 "Deadlock probably with RandomShuffleQueue and FIFOQueue"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-01-05 18:37] tensorflowbutler commented on #18769
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-05 18:38] tensorflowbutler commented on #24425
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-05 18:38] tensorflowbutler commented on #24434
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-05 19:09] hanayashiki commented on #24717
For more: Two of the Queues read the same files. Does that matter?

[2019-01-05 19:40] hanayashiki commented on #24712
[code]
[code]
Guess I cannot reproduce.

[2019-01-05 20:49] iseegr8tfuldeadppl commented on #24716
hey! so i've bypassed some issues but i'm still getting that spammed line with the fetching below it

[2019-01-05 21:31] fdchiu commented on #24120
I had similar crash problem with tensor flow tflite android example code when setUseNNAPI to true:
2019-01-05 13:24:13.982 9314-9331/org.tensorflow.lite.demo E/AndroidRuntime: FATAL EXCEPTION: inference
    Process: org.tensorflow.lite.demo, PID: 9314
    java.lang.IllegalArgumentException: Internal error: Failed to run on the given Interpreter:
        at org.tensorflow.lite.NativeInterpreterWrap

[2019-01-05 23:10] carlini commented on #23166
Is there something I can do to help diagnose the bug to make it easier to fix? I (and others, it seems) have been running into this reasonably often recently.

[2019-01-05 23:10] carlini commented on #23166
[I don't know why it says I unassigned @wt-huang -- I didn't intend to do that if I did somehow]

[2019-01-05 23:20] nunezpaul commented on #17150
So I was having this problem and decided to look at the code for model.fit. This is the section that's giving us problems (lines 1133 - 1149 of tf 1.12.0)

[code]

Pretty much if you're using tf.keras.losses.sparse_categorical_crossentropy then it adds an extra dimension to your shapes. This is why if you wrap tf.keras.losses.sparse_categorical_crossentropy with another function then you can bypas

[2019-01-05 23:39] TheSadRhino opened #24720 "ExtractImagePatches request"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 1.12

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that wou

[2019-01-06 01:00] EvanSchalton commented on #12093
If there is appetite for this change a hacky solution would be to add a parameter ``return_loss = False`` then use
[code]

but that might be equally hacky

[2019-01-06 03:17] scorpionsting6x3 opened #24721 "Problems with building tensorflow"
Hello,

I'm having problems building tensorflow from source using bazel. I am currently using the guide here: (https://medium.com/@amsokol.com/update-2-how-to-build-and-install-tensorflow-gpu-cpu-for-windows-from-source-code-using-bazel-61c26553f7e8)

I have verified that everything is installed correctly, and keep on running into problems when it comes time to build. I have tried multiple version

[2019-01-06 04:16] twalk4821 commented on #24634
The solution to this was not in the placeholder op itself, but in the model declaration. I was using a float64 input type. Switching to float32, and setting dtype=float32 in the placeholder, solved my issue.

[2019-01-06 04:16] #24634 closed

[2019-01-06 05:39] Shiki-H opened #24722 "Error building master branch from source"
**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: master branch
- Python version: 3.6
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): 18 and 19
- GCC/Compiler version (if compiling from source): 5.4
- CUDA/cuDNN version: 9.0/7.2 and 10.0/7.4
- GPU model

[2019-01-06 07:10] yongtang commented on #24679
The issue was that, the `__getitem__` in RaggedTensor should throw out `IndexError` (vs. `InvalidArgumentError`) in order to allow python to process iteration correctly (translated to `StopIteration` in `next/__next__()`).

Created a PR #24723 for the fix.

The fix will only work with eager mode as non-eager mode will not be able to find out the out-of-bound errors before session run.

[2019-01-06 07:12] beerkato opened #24724 "Stack Overflow"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-01-06 08:45] Adopteruf opened #24725 "tensorflow cannot launch operator: NormalizeWithDimensions"
2019-01-06 03:31:37.602215: E tensorflow/stream_executor/cuda/cuda_dnn.cc:4063] failed to run cudnnLRNCrossChannelForward
Traceback (most recent call last):
  File "main_segnet.py", line 124, in <module>
    main()
  File "main_segnet.py", line 119, in main
    segnet_solver.train()
  File "/home/jingwei/RA_XJTLU__10_12_2018_to_2_28_2019/KTF/scripts/Segmentation_Nets/Seg_net/solver_segnet.py", lin

[2019-01-06 08:53] msmsajjadi commented on #23410
The bug had nothing to do with the placeholders, it occurs whenever I try to create anything of type `tf.bool`. Changing `tf.placeholder_with_default` to `tf.placeholder` had fixed the bug for me because the default value was a `tf.bool` :)

See update here: https://github.com/tensorflow/tensorflow/issues/23410#issuecomment-447679999

[2019-01-06 09:29] ageron opened #24726 "PolymorphicFunction.get_concrete_function() creates a different concrete function for each python scalar value"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mac OS X 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
VE

[2019-01-06 10:07] xiaogangLi opened #24727 "Run tflite model on self-developed embedded system"
Hi experts,
I have self-developed an embedded system. I want to run tflite model on this system for detection or classification. But I can't how to do it. Could you please give me advises and instruction of solving this problem?

Thanks.

[2019-01-06 10:44] whuguozili commented on #22581
this issue also exists in tf-serving 1.12.0

[2019-01-06 10:54] sidbentifraouine commented on #10104
As said @corneel, using JPG instead of some other fancy formats fixes the issue. 🙌

[2019-01-06 12:37] laochanlam commented on #24722
@YellowOldOdd cool you save my time

[2019-01-06 14:39] abhiramsingh0 opened #24728 "backpropagation of gradients into labels in tensorflow tf.nn.ctc_loss()"
**System information**
- TensorFlow version (you are using): 1.12
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): Binary
- Python version: 2.7

**Describe the feature and the current behavior/state.**

I am working with tensorflow ctc loss function `tf.nn.ctc_loss(labels,inputs,__)`

Here `inputs` argument is the output

[2019-01-06 14:44] filipvg68 commented on #21787
@jdduke Any idea on timings the fix? Thanks!

[2019-01-06 16:59] rryan commented on #13977
It will use the inner-most dimension as the FFT length (not the batch size, which is usually the outer-most dimension).

[2019-01-06 17:07] pachpandepriti commented on #13977
@rryan Thanks for the help. Slicing the input  option worked for me.

[2019-01-06 17:16] Squadrick commented on #21737
Alright, I'll get started right away. I'm creating a PR to track progress.

[2019-01-06 18:32] tensorflowbutler commented on #20346
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-06 18:32] tensorflowbutler commented on #20674
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-06 19:26] auvilink opened #24729 "Speech recognition with pretrained model"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):

**Describe t

[2019-01-06 19:56] pigritia commented on #23096
I saw the same error when building tensorflow-serving on Mojave using Bazel 0.18.0.

[code]

[2019-01-06 20:01] twalk4821 opened #24730 "Depthwise Conv Tensor Allocation Failure"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS Mojave
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.12

[2019-01-07 00:09] #24724 closed

[2019-01-07 00:35] dimitarsh1 commented on #13463
Hi all, I ran into the same error several times. Sometimes it gets fixed after restarting the machine (weird, I know). Updated the drivers as well - still remains. Any update from TF folks?

[2019-01-07 01:38] byronyi commented on #22455
#24250 should fix this. @snuzxj could you confirm?

[2019-01-07 02:00] ktaebum commented on #24701
I found that for python 3.6 environment, autograph cannot convert range(batch_size) in
call function of RnnColorbot.

It runs without error if change range(batch_size) into tf.Tensor via
[code]

However, still raise error in python 2.7, the original tutorial environment

[2019-01-07 03:09] guizili0 commented on #23970
@martinwicke it is hard for me to find the regression commit in Eigen, do you have any suggestion about this?

[2019-01-07 03:33] asdfsx opened #24731 "cannot locate "pip_test/whl/*.whl" while executing parameterized_docker_build.sh"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version:1.12
- Python version: 2.7
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): N/A
- GCC/Co

[2019-01-07 03:52] candyzone commented on #24575
@saeta thanks

[2019-01-07 04:03] asdfsx commented on #24731
This problem can be solved by executing script under `${SCRIPT_DIR}`
[code]

[2019-01-07 04:03] #24731 closed

[2019-01-07 04:24] sdeoras opened #24732 "ARM6/RPI: Executor failed to create kernel _FusedConv2D"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
yes

- OS Plat

[2019-01-07 06:01] ymodak commented on #24714
Have you tried using tf.cast function?

[2019-01-07 06:10] ymodak commented on #24606
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-07 06:10] #24606 closed

[2019-01-07 06:13] ymodak commented on #24563
@striker890 Did you get a chance to try @rootkitchao 's suggestion? Is this still an issue for you?

[2019-01-07 06:53] pavanjava commented on #24609
Thanks yaxiongma,
i will try and let you know. i will keep this issue on hold

[2019-01-07 06:55] pavanjava commented on #24609
until i try creating the model in linux. closing the issue

[2019-01-07 06:55] #24609 closed

[2019-01-07 07:12] gunan commented on #23096
I think this may be due to trying to compile with GPU support.
I am not sure how well CUDA is supported on macos.
Since that is ambigious, TF does not officially support GPUs on macos.

[2019-01-07 07:15] #24729 closed

[2019-01-07 07:30] skang29 commented on #24677
[https://devtalk.nvidia.com/default/topic/1043300/linux/2080-tis-cudadevicecanaccesspeer-failure-without-nvlink-bridge/](url)

Found out that 2080 Ti does not support p2p access without NVLink bridge.

[2019-01-07 07:30] #24677 closed

[2019-01-07 08:57] DEKHTIARJonathan commented on #24582
@hgadig so I just tested with the following containers:

* `tensorflow/tensorflow:latest-gpu-py3 (413b9533f92a)` => TF 1.12.0, CUDA 9
* `tensorflow/tensorflow:nightly-gpu-py3 (e06d8999a068)` => TF 1.13.0-dev20181228, CUDA 10

The error is reproducible on both. So it should be live on master ;)

[2019-01-07 09:02] jennings1716 commented on #15401
TF version = 1.12
tfnightly = 1.13.0.dev20190104
python 3.5
Model [ ssd_mobilenet_v1_coco_2018_01_28](http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_coco_2018_01_28.tar.gz)

[code]

Error

2019-01-07 09:01:08.268020: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2300030000 Hz
2019-01-07 09:01:08.268185: I tensorflow/compiler/xla/service/service.c

[2019-01-07 09:07] jennings1716 opened #24734 "Check failed: GetOpGradFactory()->insert({op, func}).second Duplicated gradient for ReadVariableOp Aborted (core dumped)"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-01-07 09:17] Maxtoq opened #24735 "Error while building from source with Bazel: in target '//external:cc_toolchain': no such package '@local_config_cc//'"
**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.13
- Python version: 3.6.5
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): 0.20.0

**Describe the problem**
I followed the instructions to build TF from source with bazel. But this error occurs:

WARNING: The fol

[2019-01-07 10:43] kashyap-vinay commented on #24474
Any update on the above issue related to JDK mismatch.??
Very hard to find why tensorflow jobs are asking for legacy java when accessing hdfs.

[2019-01-07 10:44] dchatterjee172 opened #24738 "float16 matmul is way slower than float32 matmul on CPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 1.12.0
- Python version: 3.5.2

You can collect some of this information using our environment capture [sc

[2019-01-07 10:47] NicolasKun commented on #15203
same probleam on Windows10 / tensorflow-gpu-1.2 / python3.6.6

[2019-01-07 11:39] luaGeeko commented on #22082
upgrading setuptools==40.6.3 works perfectly and build succeeds.
OS - ubuntu 16.04
tensorflow 1.12, python-3.5
cuda 10.0, cudnn-7.3.1, nccl-2.3.5
If anyone requires the built .whl you can download from here
[https://drive.google.com/open?id=1ukL8M93LBPsBcERWPmL3VIzLSkFbCL_R](url)

[2019-01-07 11:40] Noltibus commented on #23766
Thanks for looking into it!

[2019-01-07 11:46] NoelKennedy commented on #22706
I installed the nightly build which works in general but I get an error message when trying to fit a keras.layers.Conv1D layer on my GPU (RTX 2070)

Is cuDNN installed on the tensorflow nightly containers?  Or is this the wrong question!

[2019-01-07 11:56] zyq11223 opened #24739 "AttributeError: module 'tensorflow.python.pywrap_tensorflow' has no attribute 'IsSequenceForData'"
I have followed the TensorFlow tutorial, "first_steps_with_tensor_flow.ipynb"  When I ran the code below local , I got  the error messages behind the code below:

from __future__ import print_function

import math

from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn import met

[2019-01-07 12:44] aisolab opened #24741 "When passing tf.data.Dataset instance to model.fit method which is instantiated by tf.keras.Sequential, tf.keras.Model, subclassing tf.keras.Model, passing metrics argument to 'accuracy' in model.compile method provokes TypeError"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-01-07 13:02] Emadeldeen-24 commented on #22443
If the model name is "modeltest.ckpt", then you probably have the model in a zip file. Then you need to extract the model into a folder ("model\" for example) and it will include 3 files. Now you can use the name as follows: "model\modeltest.ckpt"

[2019-01-07 13:20] byronyi commented on #23220
@guoshimin could you confirm if #24250 fix your issue? If so, could you close it?

[2019-01-07 13:42] freedomtan commented on #24722
this should be fixed by 48d0e4d813b914fc480c51de5c48903b9bcc4cc7.
I created a similar patch, git pull, and found that it was fixed.

[2019-01-07 14:01] ageron opened #24742 "Inconsistent behavior of tf.function when using autograph"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mac OS X 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
VE

[2019-01-07 14:51] AndreaIncertiDelmonte commented on #22056
In my case apt updated:
- libcudnn7 from 7.2.1.38-1+cuda9.0 to 7.4.2.24-1+cuda10.0
- libnccl2 from 2.2.13-1+cuda9.0 to 2.3.7-1+cuda10.0
causing the same issue in TF.
A way to prevent that could be `sudo apt-get purge nvidia-machine-learning-repo-ubuntu1604`

[2019-01-07 16:00] Shiki-H commented on #24722
@YellowOldOdd @freedomtan thanks for the help.

[2019-01-07 16:01] Shiki-H commented on #24722
closing this issue now since it has been fixed

[2019-01-07 16:01] #24722 closed

[2019-01-07 16:07] eladc4 commented on #17884
Also facing the same issue...

[2019-01-07 17:00] ElmiiiRaa opened #24743 "load model's checkpoint"
hi
how can i restore checkpoints to use this in pyhton?

[2019-01-07 17:03] allenlavoie commented on #24623
Not sure what you mean by "not compatible with TensorFlow." The h5 format just doesn't include enough information to restore variables as soon as they're created.

You can use the TF format with ModelCheckpoint if you use `save_weights_only` and leave off the ".h5" suffix.

[2019-01-07 18:41] ymodak commented on #24743
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-01-07 18:41] #24743 closed

[2019-01-07 19:05] asimshankar commented on #24704
The two libraries aren't setup to be linked together - not that we specifically don't want them to, just wasn't something we were aiming for.

I'd be curious to understand your use case here - why do you need to load both libraries? That said, the bottleneck here is that the operations and kernel registrations (the `REGISTER_OP` and `REGISTER_KERNEL` calls in source) are part of both libraries. Yo

[2019-01-07 19:18] grobman opened #24744 "why is there different latency for post-training quantization and quantization-aware trained models?"
**System information**
- TensorFlow version: TFlite
- Doc Link:https://www.tensorflow.org/lite/performance/model_optimization

in the model optimization documentation page:
https://www.tensorflow.org/lite/performance/model_optimization
Table 1 gives a latency of 145ms for post-training quantization and 80.2 for quantization-aware training.

it is unclear to me why there should be a difference in l

[2019-01-07 19:20] pmcgraw-lucidyne opened #24745 "NcclAllReduce Registered Multiple TImes"
This is likely a problem between the chair and keyboard, but bear with me. I try to simply:

`from tensorflow.contrib import nccl`

This causes code to run that registers an operation called NcclAllReduce multiple times because of various imports:

[code]

Seems like one should be able to register multiple functions with the tensoflow RegsiterGradient to the same operation. Any help pointing me to

[2019-01-07 19:32] asimshankar commented on #24453
@jermainewang : I'm not familiar enough with DLPack to offer any insightful comments, but at a high level this seems reasonable.

From a very very cursory look, it seems that it should be easy to translate between `TF_Tensor` or `TFE_TensorHandle` types and the [`DLTensor`](https://github.com/dmlc/dlpack/blob/5c792cef3aee54ad8b7000111c9dc1797f327b59/include/dlpack/dlpack.h#L147) types using the ex

[2019-01-07 19:36] #23220 closed

[2019-01-07 19:36] guoshimin commented on #23220
I'm not in a position to test it since we are still using 1.9. I'll close
my PR for now.

On Mon, Jan 7, 2019, 5:24 AM Bairen Yi <notifications@github.com wrote:

[2019-01-07 19:56] yongtang commented on #22449
Looks like bazel 0.20 has been in place for tf repo: https://github.com/tensorflow/tensorflow/commit/55bbb4c92567732ee6712c0201b94bef50df6083

So this issue could be closed. Thanks all for the work!

[2019-01-07 19:56] #22449 closed

[2019-01-07 20:20] msymp commented on #24623
@kasperfred addressed this issue and @allenlavoie has provided a workaround. Hence closing the issue. Thanks.

[2019-01-07 20:20] #24623 closed

[2019-01-07 20:44] msymp commented on #24626
Hello, Can you please step back to the following build: tensorflow_gpu-1.12.0 , gcc 4.8 , bazel 0.15.0 , cuDNN 7 , CUDA 9 , and let us know. Thanks.

[2019-01-07 20:50] ymodak commented on #24725
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-01-07 20:51] reedwm commented on #24067
As @alextp said, this is caused by a difference between the CPU and the GPU implementations. The CPU implementation runs when the input is a constant, due to constant folding.

According to [the documentation](https://www.tensorflow.org/api_docs/python/tf/nn/max_pool_with_argmax) The CPU implementation is correct, and the GPU implementation is incorrect. However, the GPU behavior has been around s

[2019-01-07 21:01] msymp commented on #24632
Hello @martinwicke, In this issue @ageron has outlined that for r2.0 (a) tf.Keras model training when interrupted by TensorBoard callback and then resume training generates an exception (b) interrupting training and deleting logs and invoking TensorBoard callback generates an exception. Thanks.

[2019-01-07 21:19] yongtang commented on #24741
@aisolab I tried with tf-nightly and it works fine. I think the issue may have been fixed. Can you try with tf-nightly and see if the issue persist?
[code]

[2019-01-07 21:47] ymodak commented on #24745
Please provide following information. Thanks!

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use com

[2019-01-07 22:51] msymp commented on #24639
Hi @ymodak , Please kindly complete review for this PR submitted by @ageron . Thanks.

[2019-01-07 23:22] msymp commented on #24641
Hello @fchollet , user requests that quantization occur after clipping of Relu, not before as shown. Can you please review? Thanks.

[2019-01-07 23:40] alextp commented on #24375
It's not feasible to support this since the underlying cudnn API does not let us choose the activation function for LSTMS: https://docs.nvidia.com/deeplearning/sdk/cudnn-developer-guide/index.html#cudnnRNNMode_t

[2019-01-07 23:40] #24375 closed

[2019-01-07 23:49] aaroey commented on #22682
Since the original problem is fixed, I'm closing this. Feel free to file a new one for the assertion error, which should be fixed in the next release.

Thanks.

[2019-01-07 23:49] #22682 closed

[2019-01-07 23:59] msymp commented on #24660
Hello @egyptdj , Thank you for the detailed issue template response. Can we please try to step back to gcc 4.8 ? Please let us know how the runs on (1), (2) & (3) transpire. Thanks.

[2019-01-08 00:05] GothamCityPro opened #24751 "Instantiating Separate Session for Each GPU"
I'm trying to speed up Tensorflow inference by using multiple GPUs and instantiating a separate Session for each GPU.

I am using Tensorflow 1.7 and 2 Quadro GV100's for this. The GV100's are device 0 and device 1, respectively.

My C++ code looks something like the following:

auto options0 = SessionOptions();
options0.config.mutable_gpu_options()->set_visible_device_list("0");
NewSession(options

[2019-01-08 00:07] msymp commented on #24661
Hello @gargn , can you please let us know if the user's query has been reviewed and being addressed?

[2019-01-08 00:12] msymp commented on #24663
Hello @gargn , can you please let us know if the user's query has been reviewed and being addressed?

[2019-01-08 00:14] msymp commented on #24665
Hello @gargn , can you please let us know if the user's query has been reviewed and being addressed?

[2019-01-08 00:15] gargn commented on #24665
@msymp It has not.

[2019-01-08 00:15] gargn commented on #24663
@msymp  It has not.

[2019-01-08 00:15] gargn commented on #24661
@msymp It has not.

[2019-01-08 00:15] msymp commented on #24668
Hello @gargn , can you please let us know if the user's query has been reviewed and being addressed?

[2019-01-08 00:17] GothamCityPro commented on #24751
Additionally, I tried

auto options = SessionOptions();
options.config.mutable_gpu_options()->set_visible_device_list("0, 1");
NewSession(options, &m_session0);
NewSession(options, &m_session1);

and then loading the same graph twice each time onto a diff Session
GraphDef graph_def;
ReadBinaryProto(Env::Default(), graphPath, &graph_def);
m_session0->Create(graph_def);
graph::SetDefaultDevice("/dev

[2019-01-08 00:45] gitdavida commented on #24712
@hanayashiki   please try again with tensorflow version=1.12.0

[2019-01-08 00:53] jennings1716 commented on #24668
5 days passed.Please address the issue

[2019-01-08 01:01] iganichev commented on #24684
@derifatives has indeed experimented using XLA on CPU to remove TensorFlow Executor's overhead. In his benchmarks, we saw almost 100x improvement. The aesthetics of getting XLA to work well in Eager are pretty bad at the moment and we are actively working through various integration issues.

If this is not pressing, we should have a reasonable story for Eager + Defun + XLA in a couple of weeks. If

[2019-01-08 01:08] binbinsh commented on #15805
Hi achowdhery, I tried to use this TFLiteLSTMCell in my model, when training it consumes much more memory than tf.nn.rnn_cell.LSTMCell, for example, I can use batch_size=32, hidden_size=256, num_proj=128 with tf.nn.rnn_cell.LSTMCell for my 12GB GPU, but I can only use batch_size=8, hidden_size=128, num_proj=64 with TFLiteLSTMCell to prevent the OOM problem.

Is this the expected result? Do you hav

[2019-01-08 01:39] guptapriya commented on #23703
@azaks2 should this issue happen if they built from source after nccl was moved to core?

[2019-01-08 01:44] bhagathkumar commented on #22706
my GPU : RTX 2070
Ubuntu 16.04
Python 3.5.2
Install 410.78
CUDA - 10.0.130
cuDNN-10.0 - 7.4.2.24
TensorRT-5.0.0
Compute Capability: 7.5

<a href="https://drive.google.com/open?id=19NkEV3I1Oye_Ia65w0Iu1foOccbVRP7l">tensorflow-1.13.0rc0-cp35-cp35m-linux_x86_64</a>

[2019-01-08 02:01] msymp commented on #24425
Hello @felixnext , Can you please study this Stack Overflow post that exactly addresses your query:
https://stackoverflow.com/questions/41412335/tf-nn-softmax-cross-entropy-with-logits-error-logits-and-labels-must-be-same
Please let us know if you are satisfied the various solutions provided in the post. Thanks.

[2019-01-08 02:12] msymp commented on #24425
Hi Alfred,
Thank you for flagging this issue. It happened to one of initial
'reverse-shadow' exercises that I had initiated, and forgot to update the
response.
I have dispatched a Stack Overflow link just now to the author, that
addresses the query, and am awaiting their feedback. I shall close it upon
confirmation.
Thanks,
@msymp

On Sat, Jan 5, 2019 at 10:41 AM Alfred Sorten Wolf <notifications@

[2019-01-08 02:16] poryfly commented on #13683
@formath hi,how do you use spasetensor in c++ at last

[2019-01-08 02:31] lesniewski opened #24752 "saved_model_portable_proto target doesn't exist"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04.5 LTS
- TensorFlow installed from (source or binary): source
- TensorFlow version: v1.12.0
- Python version: 2.7.12
- Bazel version (if compiling from source):
Build label: 63d51e23a26a25116e659a75113ee654a62213c5
Build target: bazel-out/k8-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelS

[2019-01-08 02:32] msymp commented on #24427
The author has confirmed the response, hence this issue is closed.

[2019-01-08 02:36] azraelkuan opened #24753 "Why name scope will add the prefix to the keras layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Centos 7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.12
- Python

[2019-01-08 02:38] formath commented on #13683
sparseTensor is composed by three tensors: indice, value, shape. I feed those tensors

[2019-01-08 02:43] egyptdj commented on #24660
Hello @msymp ,
Thank you for your help.

I removed and re-compiled the tensorflow-gpu with gcc --version 4.8.5.
It still seems that the same problem occurs when running (1), (2), and (3), but at a different layer. (I did not change the layer numbers or capacity, i.e. same network.). The time for running the network was almost the same as before.

I will attach the new error message at the bottom o

[2019-01-08 03:00] hurri2000 commented on #23873
@

[2019-01-08 03:00] asimshankar commented on #14132
@johnpjust : could you provide a short snippet to reproduce the error you're seeing? From the error message it appears that `scatter_update` is being invoked on a `Tensor` instead of a `Variable`.

[2019-01-08 03:03] sharvil opened #24754 "Support first_n in tf.print"
**System information**
- TensorFlow version (you are using): 1.12
- Are you willing to contribute it (Yes/No): no

**Describe the feature and the current behavior/state.**
`tf.Print` is deprecated and `tf.print` doesn't support `first_n`. Would be good to support `first_n` in `tf.print` as well.

**Will this change the current api? How?**
Add a `first_n` parameter to tf.print.

**Who will benefit

[2019-01-08 03:04] msymp commented on #24619
The author has closed this issue after some experiments. Thanks.

[2019-01-08 03:08] msymp commented on #24608
Thank you @mauermbq , for the detailed feedback after your experiments and closing the issue.

[2019-01-08 03:13] msymp commented on #24527
Thank you @starkdg , for the detailed feedback from your experiments and closing the issue, especially info regarding the Debian Linux distros, which may be very helpful to the community.

[2019-01-08 03:18] msymp commented on #24536
The author had already closed the issue on their own discretion.

[2019-01-08 03:21] msymp commented on #24533
The author granted assent to close this issue, since they had other tasks to pursue.

[2019-01-08 03:25] learnerwang opened #24755 "how to read tflite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that would be helpful to diagno

[2019-01-08 03:31] sharvil opened #24756 "tf.train.init_from_checkpoint incorrectly raises ValueError"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 16.04.5
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): v1.12.0-rc2

[2019-01-08 03:46] breadbread1984 commented on #24529
OK, thx!

[2019-01-08 03:57] luorixiangyang commented on #22794
but i download the cudnn7.4.1.5 instead of cudnn7.0.5 still encounter this error:

[2019-01-08 04:08] aisolab commented on #24741
@yongtang Thanks. I confirm that it works fine at tf-nightly version

[2019-01-08 04:11] learnerwang commented on #24755
System information:Linux Ubuntu 16.04
TensorFlow installed from:binary
TensorFlow version:1.12 cpu
 Dear developers:
    I have transformed the inceptionV3 tflite file using toco, and the type is uint8. I have one task is that to parse the tflite file and transform it to the format I want. The first step is to parse it, I have used tf.contrib.lite.Interpreter to get the tensor shape ,value. But I

[2019-01-08 04:13] vidursatija commented on #24728
Hi,
By default CTC wasn't meant to backpropgrate through labels because they are the ground truth inputs. The reason why it worked with softmax cross entropy was because the loss got differentiated in the graph itself with respect to the labels. This isn't the case with ctc_loss as the labels don't have a gradient.

[2019-01-08 05:10] ageron opened #24759 "tf.function raises OSError "could not get source code" when run in a Python shell"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mac OS X 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
VE

[2019-01-08 05:30] abhiramsingh0 commented on #24728
Why softmax cross entropy loss was differentiated w.r.t ground truth labels?
If anyway differentiation was performed in cross entropy loss, similar thing can be achieved in ctc_loss.
I do not see any problem in that.

[2019-01-08 05:36] johnpjust commented on #14132
Hi yes -- you are correct in that I am trying to set it on a single element of the variable array, which I thought is like what is happening above.  I've got this on SO as well since i wasn't sure if it was a bug, but when i use scatter_update I'm not finding the right combination to change a single element of, e.g., a 3x3 variable

model.trainable_variables[0]
<tf.Variable 'dense_5/kernel:0' shap

[2019-01-08 06:14] ymodak commented on #24712
@gitdavida I was able execute your code snippet successfully in TF 1.12.
1.12.0
tf.Tensor(
[[[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]], shape=(1, 4, 2), dtype=float64)

Can you please confirm it by running your code usinf google colab? Thanks!

[2019-01-08 06:16] PlatinumLyfe commented on #21524
If anyone is looking for Windows nightly's (I ended up in this issue trying to find out what happened to the windows tf-nightly-gpu pypi package) you can find links to them here:
[https://github.com/PlatinumLyfe/tf-windows-gpu/](https://github.com/PlatinumLyfe/tf-windows-gpu/)

Got sick of waiting since I was using "tf-nightly-gpu" pypi package and looking at the history of that package, it seems

[2019-01-08 06:17] PlatinumLyfe commented on #20517
Got python3.7.2 very recent compiled for windows with CUDA 10, links at this repo:
[https://github.com/PlatinumLyfe/tf-windows-gpu/](https://github.com/PlatinumLyfe/tf-windows-gpu/)

[2019-01-08 06:21] hkhantang commented on #14013
the latest tensorflow version in github is 0.11.0, but the tensorflow version older than 1.9.0 has the drawback: tf.session.close() can't release the memory of the gpu card，so the memory can exhaust,
the version newer than or equal to 1.9.0 solves the problem;
so we need a tensorflow version newer than or equal to 1.9.0 that can run on pynq;
If there is a detailed introduction about how to cross-c

[2019-01-08 06:54] Shailendra2803 commented on #24685
Hi,

We have another observation that only when bias is added after convolution than only we are able to
get the fake quantization layer.
In our network mentioned above we are not able to get the fake layer as there are no bias layer after Convolution layers.But if we add bias layers after convolution we are able to see fake layers.
Can you also please explain the behaviour.?

I request you to ple

[2019-01-08 06:59] kimchicanh commented on #24139
@zjmirving Could you tell me about your solution, I am facing the same problem???

[2019-01-08 07:08] zjmirving commented on #24139
ByteBuffer byteBuffer = ByteBuffer.allocateDirect(bytes.length);
byteBuffer.order(ByteOrder.nativeOrder());
byteBuffer.put(bytes);
Interpreter mTFLiteInterpreter = new Interpreter(byteBuffer);

[2019-01-08 07:17] wonniu opened #24760 "Bug related to tf.sparse_tensor_dense_matmul()"
**Example**
The following example has some bugs that I can not solve.

[code]

**Error**
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-83-02386eb1014c> in <module>()
     32
     33 with tf.Session() as sess:
---> 34     out = sess.run(D, {C: A})
     35     print('-------------

[2019-01-08 07:50] rivergold commented on #17494
I also meet this problem when using TensorFLow 1.12 installed with conda.
[code]
Is there any solution?

[2019-01-08 08:15] amoghkashyap commented on #22272
you have to build tensorflow from source using bazel. Also, if you don't have the jetpack, you can install the dependencies with the following instructions:

#Add base Jetpack URL to ENV
export URL=https://developer.download.nvidia.com/devzone/devcenter/mobile/jetpack_l4t/3.2.1/m8u2ki/JetPackL4T_321_b23

#update and add few usefull packages
sudo apt-get update && apt-get install -y apt-utils bzip2

[2019-01-08 08:42] twiecki commented on #24684
@iganichev Thanks, good to hear there is development there.

I tried your suggestions. `make_callable` actually leads to a small improvement.

Using `xla.compile` in eager mode gave:
[code]
I don't set it to `True` anywhere, fwiw.

and sometimes also:
[code]

In any case, I'm also happy to wait a few weeks and test it again when XLA + Eager play nicely, sounds like that's exactly what I need.

[2019-01-08 08:46] mnboos commented on #22047
@gunan Could you please explain that a little further? Why should we not build that and:

Thanks.

[2019-01-08 08:54] anonymone commented on #14475
I had an issue similar to this when I used docker to run two tensorflow program using GPU.

[2019-01-08 09:20] stefanofiorentino commented on #9071
@ParmpalGill do you exactly know what each command you issued does? In particular pip and apt-get are not linked in any way.

[2019-01-08 09:56] haslo commented on #24124
@gunan It certainly happens with https://github.com/tensorflow/tensorflow/releases/tag/v1.12.0. So the currently latest TF release can't be built.

[2019-01-08 10:00] majiali1995 opened #24761 "TensorFlowLite: failed to load native library: no tensorflowlite_jni in java.library.path"
TensorFlowLite: failed to load native library: no tensorflowlite_jni in java.library.path

[2019-01-08 10:31] byronyi commented on #24124
It can be built per se. It is just the Bazel team is releasing frequently, and TF team is releasing frequently based on the lastest Bazel available at that time. If you are building an older release of TF, make sure you are using the corresponding Bazel version, which is probably not the latest one.

[2019-01-08 10:42] luorixiangyang commented on #22794
Final i downgrade the bazel version to 0.20.0 (from 0.21.0) solve this issue. but i don't know why can't compatible for lastst bazel version.

[2019-01-08 11:33] zh794390558 opened #24763 "tf.estimator support multi saver and train_op for training multi model at the same time"

[2019-01-08 11:38] #24760 closed

[2019-01-08 12:12] haslo commented on #24124
@byronyi Yeah, of course (though 1.12.0 is the newest release, not an older one). I absolutely think the issue lies with Bazel here.

The main problem I see is that they regularly roll out non backwards compatible releases without providing packages for older versions. So I can't use a package manager to install that older Bazel version, but I have to curl and then manually install it from somewhe

[2019-01-08 12:30] AzizCode92 commented on #24405
any updates on this issue pleas?

[2019-01-08 12:37] zh794390558 commented on #10155
@jart should have some example in `tensorflow/models`.

[2019-01-08 12:46] DEKHTIARJonathan commented on #23458
@nluehr you can close the issue. TF Nightly build shows that the problem is fixed.

[2019-01-08 13:16] ShirinNajdi commented on #24124
I am getting almost the same issue in MacBook Pro, macOS High Sierra 10.13.6, bazel version 0.21 and CUDA/cuDNN: 10/7.4:

 bazel build --config=cuda --config=opt --incompatible_remove_native_http_archive=false --incompatible_package_name_is_a_function=false  --apple_platform_type macos --action_env PATH --action_env LD_LIBRARY_PATH --action_env DYLD_LIBRARY_PATH //tensorflow/tools/pip_package:buil

[2019-01-08 13:30] freedomtan commented on #24744
The reason is well explained in another doc, the [post_training_quantization](https://www.tensorflow.org/lite/performance/post_training_quantization) page. In short, models quantized by post-training quantization compute using floating point kernels; models quantized by quantization aware training use fixed-point kernels.

[2019-01-08 13:31] burnpanck commented on #23873
@hurri2000: Not really. I backported my code from `tf.keras.layers` to `tf.layers`. In my case this was possible, because I really only needed the functional interface of the keras layers. However, it seems `tf.layers` is deprecated and scheduled for removal in TF 2.0. I assume I'll have to port forwards again then, hoping that this is fixed by then.

[2019-01-08 14:09] byronyi commented on #24124
It is alright. Bazel is still in its 0.x release line so do expect breaking changes. It would be better once it hits 1.0. TF itself is a complex project that is hard to build with any other build systems than the Google internal one (called Blade). I am outside Google, but I guess the open source of Bazel has much reason behind TF. Bazel itself is a good tool, it is just adapting itself to the ope

[2019-01-08 14:23] tridemax commented on #8369
@shoyer, could you please provide an example of this workaround? It is not clear for me how to perform `tf.concat()` on a single stacked tensor.

To be precise, I've tried:

But I need the output of `tf.concat()` to be `(D1, D2, D3)`, concatenated by axis D2.

[2019-01-08 14:39] grobman commented on #24744
Thanks for the reply!

However, I still find it confusing as the move from floating kerenl to fixed point kernels is done via graph_freezing as explained in the [quantization-aware training](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/quantize/README.md) doc.

Is there no way to freeze the eval graph created by post training quantization to get the full speed up offered

[2019-01-08 14:47] yuvdar opened #24770 "TOCO can't convert SpaceToBatchND when current tensor is not a multiply of value"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): mac
- TensorFlow installed from (source or binary): pip
- TensorFlow version (or github SHA if from source): 1.12

I have this command working:
'''
toco --graph_def_file=/Users/yuval/dev/research-serialization/person_production.pb --output_file=person_production.tflite --input_array=input_1 --output_array=results/tru

[2019-01-08 15:20] vidursatija commented on #24728
It might be possible. Someone will need to write the custom gradient implementation for it

[2019-01-08 15:37] philnguyenresson opened #24771 "tf.contrib.estimator.early_stopping doesn't work with tf.keras.estimator.model_to_estimator"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary/pip
- TensorFlow version (use command below): v1.12.0-0-ga6d8ffae09 1.12.0
- Python version: 3.5

**Describe the current behavior**
tf.keras.e

[2019-01-08 16:00] shoyer commented on #8369
I think I meant `tf.stack`, not `tf.concat`, e.g., `tf.stack(probs, axis=2)`

[2019-01-08 16:35] hsilva664 opened #24772 "tfdbg gets stuck with nested tf.scan calls"
**tfdbg gets stuck with nested tf.scan calls**

I was running https://github.com/hmishra2250/NTM-One-Shot-TF implementation of MANN on Tensorflow and had some problems using tfdbg with it. The code runs fine without the debugger mode, but gets stuck after the first .run() call when wrapped with the debugger. I've tried greatly reducing parameter and batch sizes to see if memory or performance was

[2019-01-08 16:53] tridemax commented on #8369
@shoyer probably I don't understand something about how this works. =)

`TensorArray.stack()` will return values stacked along new zero dimension. `tf.stack()` over its output makes no sense for me as `tf.stack(probs)` is complaining about `Expected list for 'values' argument to 'pack' Op`. So I'm a bit lost.

I've solved that case by doing `tf.transpose()` inside the body which fills `TensorArray