[2016-08-02 04:47] ebrevdo commented on #2146
Very much a "contributions welcome"; @Hibbert-pku has what looks like an implementation in their own github.  It includes some nvidia code which probably cannot be merged into the main tensorflow repository, and a lot of cleanup would have to happen before we could merge a pull request.

[2016-08-02 05:48] suiyuan2009 commented on #3608
use pip --upgrade

[2016-08-02 06:53] DjangoPeng commented on #2386
@s0okiym
I have the same problem!
only the chief task works, and the ps prints a list of errors
"E tensorflow/stream_executor/cuda/cuda_driver.cc:965] failed to allocate 564.97M (592413952 bytes) from device: CUDA_ERROR_OUT_OF_MEMORY"
Have you fixed your problem?

[2016-08-02 08:42] hholst80 commented on #3470
I updated the issue.

[2016-08-02 09:55] damienmg commented on #3589
Investigating. It might be related to symlink. I needs to install cuda on my workstation.

[2016-08-02 10:04] sisp opened #3610 "Graph optimization and other features"
I've been using Theano for about 4 years now and love its flexibility due to the many available low-level ops that allow me to implement complicated and possibly non-standard models without needing to write C++/CUDA code (most of the time). In addition, I can focus almost exclusively on the model design and don't need to think much about numerical stability or suboptimal graph design leading to in

[2016-08-02 11:12] suiyuan2009 commented on #2916
I'm reading distributed tensorflow code recently, hope I can give a help.

[2016-08-02 11:46] Neodimi commented on #2307
I'm stuck at this point too. Did anyone find a solution?

[2016-08-02 12:13] damienmg commented on #3589
I am stuck when needing to download cuDNN. Is there any good guide I can follow to install those dependency without signing a 1000 line license?

[2016-08-02 12:14] damienmg commented on #3589
(alternatively if there is a simple docker image I can use to repro).

[2016-08-02 12:58] hholst80 commented on #3589
If we would help you with that we would probably violate the license agreement which you so carefully are trying to avoid signing. ;-)

[2016-08-02 13:04] damienmg commented on #3589
IANAL so I cannot sign it on the behalf of Google.

[2016-08-02 13:08] damienmg commented on #3589
(I am speaking of the thing you must accept to be allowed to download cuDNN). Maybe that's perfectly fine but only @martinwicke or someone else from TF at Google might lnow :)

[2016-08-02 13:54] DjangoPeng commented on #3457
@perhapszzy
Have you solved the problem? I'm trying the distributed mnist demo, and I'm facing the same problem!
The tutorial of distributed tensorflow is really awful and hard-to-use

[2016-08-02 13:57] alexmonroe87 commented on #3589
x64 cuDNN v5 for cuda 7.5: https://www.sendspace.com/file/v142i4

[2016-08-02 14:05] rob-rowe commented on #3603
@rryan I've attached the timelines named appropriately. Each was generated with the identical code running under either tf0.9 or tf0.10rc. The elapsed times for 100 training steps were 4:20 and 14:36, respectively.
[timelines.tar.gz](https://github.com/tensorflow/tensorflow/files/397146/timelines.tar.gz)
For some reason, the timing routine gave repeated error messages when running under 0.9 but no

[2016-08-02 14:18] untom commented on #3459
For what it's worth, if I explicitly place `xp` on the CPU using a `device_scope`, I don't run into any issues. As far as I'm concerned, my issue is solved and this can be closed.

[2016-08-02 14:23] perhapszzy commented on #3457
I can start the demo by applying this pr:
https://github.com/tensorflow/tensorflow/pull/3458

but I haven't figured out why.

[2016-08-02 14:31] luxiaolei commented on #3596
@poxvoculi ,
Yes indeed, here is my nvidia-smi out put
[code]

[2016-08-02 14:34] csyking commented on #1592
@lorenlugosch Hi, I am interested in your problem. What framework do you use? And will you release it to the git?

[2016-08-02 14:42] luxiaolei commented on #3596
shouldn't tensorflow use the first gpu:0 as default?
also, I can run scripts with only one GPU.

[2016-08-02 14:55] poxvoculi commented on #3596
Yes, typically TF will start using GPUs from 0, in order, only as many as you tell it to.  Do you have some more complete logs output?  I'm less familiar with the open source logs output, but the internal Google version will log the available GPUs, their IDs and attributes prior to attempting to use them.  Do you see anything like that in your logs?  Does it successfully assign any nodes to GPU0 f

[2016-08-02 15:00] hholst80 opened #3611 "Feature request: Support for non-minibatch data for intrinsic functions"
Some functions in the TensorFlow standard library makes an assumption that we're always feeding minibatches.

One example is `tf.nn.softmax` which assumes a 2-D input of shape `[batch_size, num_classes]`. It would be nice to have a second API to such subroutines that work also without an assumption of a minibatch dimension in the input tensor.

[2016-08-02 15:14] luxiaolei commented on #3596
yes:)
the command simply (in examples/skflow/ directory):
[code]
the full output is

[code]

To get more log_device_placement info. I first changed a few lines around line:318 in file
[code]
to
[code]
then, I ran the multipul_gpu.py in the same way. I got the following message:
(sorry..its really long.)
[code]

[2016-08-02 15:17] luxiaolei commented on #3596
sorry. its ```log_device_placement=True```

[2016-08-02 15:38] poxvoculi commented on #3596
Thanks for the full logs, that's actually easier for me, to see the full context.  Though now I'm suspecting that the problem is largely localized by your first post.

The ShardedFileOp, defined in tensorflow/core/kernels/save_op.cc is a CPU only Op.  For some reason, the program is trying to place this Op on the GPU, and it fails at that point, presumably because there is no GPU version of the ke

[2016-08-02 15:42] Fenugreek commented on #206
I am looking to do a max_pool that doesn't reduce the input tensor but replaces the non-max elements with zeros. Currently using a clumsy and slow workaround using space_to_depth, argmax, onehot, select and several transposes/reshapes.

Implementing numpy-like indexing for assignment will help simplify this, so I'd like to add my vote for this feature. If anyone has any other ideas on how I can go

[2016-08-02 15:43] damienmg commented on #3589
Thanks I was able to repro.

[2016-08-02 15:46] luxiaolei commented on #3596
@proxvoculi
Ok, thank you very much:)

[2016-08-02 16:00] damienmg commented on #3589
I am going offline for the day but I have fixed it with:
[code]

So it means only it missing the include path. #3269 should fix that.

[2016-08-02 16:10] rob-rowe commented on #3603
@rryan: Not sure if it matters but I've attached two other timelines taken in loops in which summary operations are not being performed
[timelines2.tar.gz](https://github.com/tensorflow/tensorflow/files/397509/timelines2.tar.gz)

[2016-08-02 16:21] SerhanGul opened #3612 "Cuda error: creating context when one is currently active"
### Environment info

- Operating System: Ubuntu 14.04,
- GPU server with 8 **Tesla K80** GPUs,
- Python 2.7 (Anaconda)

Installed version of CUDA and cuDNN:

- Cuda 7.5, cuDNN v4

If installed from binary pip package, provide:

1. Pip package: GPU-enabled, Python 2.7
https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.10.0rc0-cp27-none-linux_x86_64.whl

2. The output from `python -c

[2016-08-02 16:24] girving commented on #206
@Fenugreek: Please keep this thread focused on the new feature. Please ask side questions on StackOverflow.  Note that votes do not count as discussions of the feature.

[2016-08-02 16:31] rryan commented on #3603
@rob-rowe -- thanks! The easiest way to get a graph proto is probably to insert some code into your training script to write the graph to a file.

Once you're done building your graph, right where you would start your session (maybe with a supervisor, etc.) -- you could do this:

[code]

[2016-08-02 16:42] alquraishi commented on #3574
I figured out what was going on. I was setting `inter_op_parallelism_threads` and `intra_op_parallelism_threads` to specific values and that wasn't being reflected in `test_session`. I see now that it's possible to pass it an explicit `ConfigProto` object and that solves the problem.

[2016-08-02 16:42] #3574 closed

[2016-08-02 16:53] rryan commented on #3603
One thing that sticks out from the traces are these Sum ops associated with your batch norms:

* net_cnn/conv1/cbn/moments/moments/mean_ss
* net_cnn/conv1/cbn/moments/moments/var_ss
* net_cnn/conv2/cbn/moments/moments/mean_ss
* net_cnn/conv2/cbn/moments/moments/var_ss

They take a handful of millis in 0.9 but up to 700ms in 0.10. I would potentially chalk that up to a tracing noise (e.g. your Sum

[2016-08-02 16:54] ebrevdo commented on #2787
Fix has been pushed; takes a few days to reach github.  When you call
tf.scan/tf.map_fn, pass the argument infer_shape=False and things should
work.  Added your use case as a unit test.

On Mon, Aug 1, 2016 at 3:23 PM, barimohsin <notifications@github.com> wrote:

[2016-08-02 16:58] thomasquintana commented on #2787
Thank you so much! I am traveling for a few days but I will try on Friday from the nightly build and update this thread.

Cheers!

[2016-08-02 16:59] aselle commented on #3152
Automatically closing due to lack of recent activity. Please reopen if additional information becomes available.

[2016-08-02 16:59] #3152 closed

[2016-08-02 17:07] rob-rowe commented on #3603
@rryan --
graph proto attached.
[graph.pbtxt.tar.gz](https://github.com/tensorflow/tensorflow/files/397621/graph.pbtxt.tar.gz)
The batch norm variables you mention are all default data types (float32)

[2016-08-02 17:07] prb12 commented on #3603
@rryan Nop - these traces make it pretty clear that there is a perf regression in the Sum reduction kernel on GPU.  I think it would be useful to compare what CUDA launch parameters are being used for the reduction.  The quickest way to do that is to run the program under nvprof as follows:

`nvprof --print-gpu-trace program args....`
or
`nvprof -o /tmp/nvprof.out program args...`  to produce a tr

[2016-08-02 17:10] prb12 commented on #3603
@bsteiner may know more about this.

[2016-08-02 17:58] martinwicke commented on #2703
@itsmeolivia can you look into modifying the python setup to include the workflow outlined by @jplu?

[2016-08-02 18:11] rob-rowe commented on #3603
@rryan, @prb12  -- I've attached nvprof.out files for each of the two cases. I ran the profiling for just 5 batches to keep the files from getting too large but they're still too big to upload here. Please let me know if [this link](https://1drv.ms/u/s!AnX4PArwPRXWg9dmWvZieqWqQqCQbw) doesn't work

[2016-08-02 18:21] poxvoculi commented on #3583
Hi, it seems likely that your second and first issues are unrelated.  Let's tackle the second issue first, since it's a blocker.  What changed between when you had the slow runs, and when the library could no longer be found?  It seems that one must be careful when using gpus with docker to use the correct image.  There's some recent discussion in #808

[2016-08-02 18:22] #3599 closed

[2016-08-02 18:23] prb12 commented on #3603
Unfortunately both those files seem to be corrupted - it looks like the process didn't exit cleanly.  Did you Ctrl-C ?  (I think that to get a clean nvprof trace you need to exit gracefully)

[2016-08-02 18:26] #3608 closed

[2016-08-02 18:34] weiliu620 commented on #446
@joshburkart Can you provide a minimal example of using the loss_callback? The in-code examples are great, just not using loss_callback. Thanks!

[2016-08-02 18:34] poxvoculi commented on #3610
Thanks for your comments.  These are interesting issues, however design and feature issues like these are more appropriately addressed on stackoverflow, tagged 'tensorflow'.  This forum is  for bug reports and similar.

[2016-08-02 18:34] #3610 closed

[2016-08-02 18:39] lukaszkaiser commented on #3056
I can replicate the problem now, working on a fix. Thanks!

[2016-08-02 18:42] poxvoculi commented on #3611
Could you give some more concrete examples of exactly what you'd like to do, and clarify whether it's merely awkward or impossible?

[2016-08-02 18:58] rob-rowe commented on #3603
Odd, I did let the process end on it's own. I used your nvprof - o method and waited until the cursor returned, which was a multisecond delay after the training finished which I assume was file IO. The raw files here seem to be able to be consumed by nvprof -i I think (see attached). Perhaps compression failed? I uploaded the files uncompressed to google drive at [this link](https://drive.google.c

[2016-08-02 19:08] rob-rowe commented on #3603
I've also just rerun both cases and confirmed they seem to be ending cleanly:

Both of these 'v2' files are in the same google drive folder as previous

[2016-08-02 19:09] rob-rowe commented on #3603
Sorry -- the tf0.10.0rc0_v2 file is wrong (I didn't switch TF versions) I'll re-upload momentarily

[2016-08-02 19:13] rob-rowe commented on #3603
nvprof_tf0.10.0rc0_v2.out is now correct

[2016-08-02 19:25] alexmonroe87 commented on #3589
Is there an ETA for when this will be merged into master?

[2016-08-02 20:17] zheng-xq commented on #3589
I am not entirely sure whether it is okay to change this for all users. We will look at this problem in more details and see whether this is the best way. Meanwhile, please use this patch to work around this issue.

[2016-08-02 20:41] joshburkart commented on #446
Example callback:
[code]
It would be nice if the callback received e.g. a map from tensor name to current value, rather than the internal packed representation as a single vector, but that's currently not implemented. Feel free to work on it!

Note that we're deprecating `grad_callback` (we're going to run both loss and loss grad in one `session.run` call) so best not to use that.

[2016-08-02 21:34] Anthony-Tatowicz commented on #3583
Nothing changed, but the code for the time tracer if I comment out the tracer code it will run, but if I uncomment the tracer code I get the above error.

[2016-08-02 21:54] memo commented on #2695
Sorry to comment on this closed issue, but I came across the exact same problem when trying to get rid of the 'state_is_tuple' warning. The usage of the tuple-less state was very nice and manageable (at least for the basic stuff I was doing), passing in and out a single tensor. With the tuple state, if I have a variable number of cells (e.g. trying different hyperparameters), the code becomes a bi

[2016-08-02 22:59] rvanguri opened #3613 "Running LinearClassifier.fit with SparseTensor"
I'm trying to create a LinearClassifer with a sparse binary numpy coo matrix (reports) using a SparseTensor.  This is with TensorFlow 0.9.0

I do this as follows:

[code]

The dimensions of reports is 10K by 1.5K.

I then setup the LinearClassifier as follows:

[code]

This results in the following error:
`TypeError: object of type 'Tensor' has no len()
`

Is my construction incorrect for some rea

[2016-08-02 23:00] poxvoculi commented on #3583
OK, thanks for clarifying.  It would be nice to get op times somehow, but I'm less optimistic that will be strongly helpful.   Weird slowdown errors can often be caused by memory problems, especially if they gradually build up over time, like you report.   Can you watch use of virtual memory and swap on your machine while this is going on?  I wonder whether you might be using up too much vmem for

[2016-08-03 00:47] memo commented on #2695
just a follow up on this. I think I have it fully working now (tested a small model). For a Graves-style sequence generation it took quite a bit of wrangling.

This was the original code (relevant bits only) without tuples

    state = model.initial_state.eval()
    loop:
        feed = {model.inputs:x, model.initial_state: state}
        loss, state, _ = sess.run([model.outputs, model.state], fee

[2016-08-03 02:06] deerishi opened #3616 "ImportError: libcudart.so.7.0: cannot open shared object file: No such file or directory"
I installed Cuda 7.5 and cudnn v4. after making the symlinks for cudnn and changing the path variables, when I import tensorflow I get the error : ImportError: libcudart.so.7.0: cannot open shared object file: No such file or directory. ?

Any advice on how to proceed?

[2016-08-03 02:12] yaroslavvb commented on #3616
when you ran ./configure, did you specify 7.5 as cuda version?
Also a work-around for this kind of issue could be to find your
libcudart.so (maybe in /usr/lib/cuda) and symlink it to libcudart.so.7.0

On Tue, Aug 2, 2016 at 7:06 PM, Deepak <notifications@github.com> wrote:

[2016-08-03 02:17] deerishi commented on #3616
I only have libcudart.so.7.5 at /usr/local/cuda-7.5/targets/x86_64-linux/lib/libcudart.so.7.5
. I do not have libcudart.so.7.0.
Also I did not install tensorflow from source.

[2016-08-03 02:19] yaroslavvb commented on #3616
You could "ln -s" your libcudart.so.7.5 to libcudart.so.7.0

On Tue, Aug 2, 2016 at 7:17 PM, Deepak <notifications@github.com> wrote:

[2016-08-03 02:32] deerishi commented on #3616
I reinstalled tensorflow, it worked, though a strange ting happened now. Tensorflow runs fine in the ipython shell, but if I execute the python  program  from the terminal I get the following error :

`  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/__init__.py", line 23, in <module>
    from tensorflow.python import *
  File "/usr/local/lib/python2.

[2016-08-03 02:34] yaroslavvb commented on #3616
Your ipython and Python have different values for sys.path

Basically you can have multiple Python distributions with their own sets of
libraries, so your Python and ipython probably come from different
distributions

On Aug 2, 2016 7:32 PM, "Deepak" <notifications@github.com> wrote:

[2016-08-03 02:37] deerishi commented on #3616
I thought that would be the case, but my Python path is set to /usr/local/lib/python2.7/dist-packages. its where google/protobuf is.

[2016-08-03 03:53] ebrevdo commented on #3528
This is pretty easy to do by adding a few lines to the reverse sequence op declaration under core/ops/ and instantiating some additional tempaltes in core/kernels/.  Contributions welcome.

[2016-08-03 03:55] ebrevdo commented on #3476
LSTMStateTuple is just a tuple.  You can create it with two placeholders and when you run session, pass values for those placeholders with the feed_dict param.  To evaluate an LSTMStateTuple, simply call session.run(lstm_state_tuple).

[2016-08-03 04:00] yaroslavvb commented on #3616
Package loading is done by traversing entries in sys.path until there's a
match. So if os.getcwd() and sys.path are identical between Python and
ipython, your package loading should be the same.

On Aug 2, 2016 7:38 PM, "Deepak" <notifications@github.com> wrote:

/usr/local/lib/python2.7/dist-packages. its where google/protobuf is.

<https://github.com/tensorflow/tensorflow/issues/3616#issuecommen

[2016-08-03 04:04] ebrevdo commented on #3334
This is what case originally looked like (look at the git history for the file).  Unfortunately, this has the bad side effect of always executing at least two nodes (default and the one that evaluated to true).  Even if the default node was not actually returned, it was still executed and as a result may have had possible side effects.  Feel free to change the code as you suggested and you'll see

[2016-08-03 04:54] joshburkart commented on #446
Whoa! Please ignore my previous completely incorrect post. Forgot that I actually did implement this correctly the first time. :P The callback does in fact get arbitrary fetches as appropriate-shaped arrays. So here's an example where the callback receives the loss itself (but it could receive any other tensor in the graph):

[code]

I should really rename `fetches` to `callback_fetches`, since th

[2016-08-03 05:17] deerishi commented on #3616
I had to un install miniconda and anaconda , though it is working now. Although I double checked, there were no conflicts with protobuf from miniconda or anaconda, it  was'nt working with them installed. Does tensorflow has some other conflicts with anacondas or miniconda?

[2016-08-03 06:12] duanLH opened #3618 "gcc: error: unrecognized command line option '-fno-canonical-system-headers'"
when I run :
bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer --verbose_failures
 then the output is

duan@duan:~/tensorflow$ bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer --verbose_failures
WARNING: /home/duan/.cache/bazel/_bazel_duan/9f3780f2ce96d65830e33f06d4dd8a47/external/protobuf/WORKSPACE:1: Workspace name in /home/duan/.cache/bazel/_ba

[2016-08-03 06:48] yjmade opened #3619 "Running Quantized model in iOS failed: Couldn't load model: Not found: Op type not registered 'Dequantize'"
### Environment info

Operating System:
Building on Mac OS X
Running on iOS 9.2.1
1. The commit hash (`git rev-parse HEAD`)
   27eeb441bad8bcaa1bcba42a4b4ee49fb50ea0d3
2. The output of `bazel version`

[code]
### Steps to reproduce
1. I compile tf for iOS with the makefile
2. I follow https://www.tensorflow.org/versions/master/how_tos/quantization/index.html to quantize a model which run perfectly

[2016-08-03 08:14] untom commented on #3603
Just chiming in to say that I also experience heavy slowdowns using TF 0.10 RC0. In My case, the slowdown is even more severe: ~10x when using a ResNet-like architecture, on Python 3.5 using cuDNN 4 and CUDA 7.5.

[2016-08-03 08:35] pawelsubko commented on #3603
Same here. 10X slowdown

[2016-08-03 08:58] qinjian623 opened #3620 "Building Android version on Ubuntu 16.04 failed."
Error message as below:

[code]

I was trying to build an Android version Tensorflow on Ubuntu 16.04 according to   [Tensorflow's docs](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile) .

This error happened, after I executed this:
` make -f tensorflow/contrib/makefile/Makefile TARGET=ANDROID`

[2016-08-03 09:04] hholst80 commented on #3611
Say `out` is a vector (one dimension tensor) and I would like to define a softmax output from it called `pi`:

The way I am doing it now:

[code]

The way I would like to do it:

[code]

[2016-08-03 09:26] suiyuan2009 opened #3621 "layer normalization"
recently Hinton published layer normalization on [arxiv layer normalization](https://arxiv.org/pdf/1607.06450v1.pdf?), any plan to add an Op?

[2016-08-03 09:50] jparinita commented on #3527
@girving

Could you please let us know the test "Sparse_split_op_test" which is failing can be ignored? Or is it used to test some complex functionality of TensorFlow?

About PR for Tensorflow,  I have built TensorFlow version 0.8.0 for big endian and also executed test cases for same version. I made few code changes related to big endian in the source code that I git cloned from tag 0.8.0.

Now,

[2016-08-03 10:17] qinjian623 commented on #3620
env.cc: 304 is like this:
[code]
So I added the protobuf namespace:
[code]

Now, it works fine.

[2016-08-03 10:22] qinjian623 commented on #3620
PR #3614 fixed this.

Close it now.

[2016-08-03 10:22] #3620 closed

[2016-08-03 10:32] PeterisP opened #3622 "Missing doc: tf.contrib.layers.embedding_column"
Tutorial https://www.tensorflow.org/versions/r0.10/tutorials/wide_and_deep/index.html refers to tf.contrib.layers.embedding_column.

 No documentation for this is available at API docs https://www.tensorflow.org/versions/master/api_docs/python/contrib.layers.html

The same applies for tf.contrib.learn.DNNLinearCombinedClassifier used later in that tutorial.

[2016-08-03 12:16] olesalscheider commented on #3603
I can confirm that the SumOp kernel is much slower in 0.10.0 than it used to be in 0.9.0 on an Nvidia Titan X.

[2016-08-03 13:17] sulc commented on #2424
I encountered the same error when moving my project to Android Studio.
It can be resolved simply by extracting libtensorflow_demo.so from the APK built by bazel and copying it to the Android Studio project to app/src/main/jniLibs/armeabi-v7a/ .

[2016-08-03 13:31] poxvoculi commented on #3611
Thanks for clarifying.   This sounds like it could be useful, but is not urgent at the present time.  So it's a good candidate for a community contribution.

[2016-08-03 13:31] #3611 closed

[2016-08-03 13:36] SerhanGul commented on #3612
Ok, by reading through the discussion in [152](https://github.com/tensorflow/tensorflow/issues/152), I figured out that Tensorflow tries to grab all the GPUs it sees from the system. The SegFault probably occurs when there is not enough memory on one or more of the GPUs since Tensorflow tries to grab it anyway.

The workaround in [152](https://github.com/tensorflow/tensorflow/issues/152) is to che

[2016-08-03 13:39] zhaopku opened #3623 "Adding a new gate to LSTM"
I am trying to reimplement this paper [Semantically Conditioned LSTM-based Natural Language Generation for Spoken Dialogue Systems](http://mi.eng.cam.ac.uk/~thw28/papers/EMNLP15.pdf), in which they add a gate to the LSTM cell and change how the state is computed.

How can I do this in tensorflow? Do I need to add a new OP ?

[2016-08-03 13:42] marcromeyn commented on #3596
Same error here!

@poxvoculi Also tried changing the deprecated stuff by doing:
[code]

Leads to the same error though:
`I tensorflow/core/common_runtime/gpu/gpu_device.cc:840] Creating TensorFlow device (/gpu:0) -> (device: 0, name: GRID K520, pci bus id: 0000:00:03.0)
I tensorflow/core/common_runtime/gpu/gpu_device.cc:840] Creating TensorFlow device (/gpu:1) -> (device: 1, name: GRID K520, pci b

[2016-08-03 13:49] damienmg commented on #3589
@alexmonroe87: before the end of the week I guess, there are still a couple of issue with tests.

@zheng-xq: this is absolutely not correct to change this but absolutely not worth than hard-coding /usr/local/include :). The correct fix is #3269

[2016-08-03 14:14] poxvoculi commented on #3616
This stackoverflow thread
http://stackoverflow.com/questions/33646541/tensorflow-and-anaconda-on-ubuntu
discusses some issues that can cause trouble between TF and anaconda on ubuntu.

[2016-08-03 14:26] poxvoculi commented on #3618
This sounds like a bazel issue, rather than TensorFlow.  Please ask your question at https://github.com/bazelbuild/bazel/issues

[2016-08-03 14:26] #3618 closed

[2016-08-03 14:38] girving commented on #3527
@jparinita `sparse_split_op_test` mostly just tests that one op, but there's a good chance that the failure is in core functionality rather than that op so it's worth debugging.

[2016-08-03 15:32] sbrodeur opened #3624 "Basic Element-wise Complex Number Calculations Not Available On GPU"
Basic element-wise addition, subtraction, multiplication or division for any Tensor of type tf.complex64 is not implemented on GPU.

### Environment info
Operating System: Centos 7,  3.10.0-327.22.2.el7.x86_64

Installed version of CUDA and cuDNN:  CUDA 7.5 and cuDNN 7.0-v4
-rw-r--r--. 1 root root 189170 Jul 22 16:14 /usr/local/cuda-7.5/lib/libcudadevrt.a
lrwxrwxrwx. 1 root root     16 Jul 22 16:1

[2016-08-03 15:43] andrewharp commented on #2424
You can find full instructions for building the Tensorflow demo in Android studio here: https://github.com/tensorflow/tensorflow/issues/3444

Bazel is still required, though.

[2016-08-03 15:53] jesseseales opened #3625 "iOS CameraExample KVO mismatching keys"
I got a KVO error when switching views and noticed:

In CameraExampleViewController.mm, `setupAVCapture`uses

[code]

while `teardownAVCapture` uses

[code]

 `forKeyPath:@"capturingStillImage"` and `forKeyPath:@"isCapturingStillImage"` do not match.

[2016-08-03 15:55] deerishi commented on #3616
Thanks , I have exactly the same issue. Anyways I installed some of the anaconda packages by pip and its working fine now.
Thanks @yaroslavvb  and @poxvoculi  for your help.

[2016-08-03 15:55] #3616 closed

[2016-08-03 16:30] antogerva opened #3626 "contrib/makefile: error: conflicting return type"
### Environment info
OS:   I'm running on Docker with an Ubuntu 14.04.4 LTS x86_64 (gcc/g++ version is 4.8.4)
No CUDA or cuDNN installed

installed from source

1. The commit hash (`git rev-parse HEAD`)
$ git rev-parse HEAD
27eeb441bad8bcaa1bcba42a4b4ee49fb50ea0d3
(note: I also tried with branch  r0.9 and  r0.10 with the same issue about conflicting return type)

### Steps to reproduce
	$ mkdir /o

[2016-08-03 16:31] poxvoculi commented on #3612
Closing as duplicate of #152

[2016-08-03 16:31] #3612 closed

[2016-08-03 16:47] prb12 commented on #3603
@rob-rowe Thanks for the nvprof output - it looks like there are two common shapes of Sum reduction ops in your trace and one of them is being evaluated very differently by Eigen in 0.10 resulting in much less GPU parallelism and about a 60x slowdown!  (3.3ms -> 178ms)

It would help us to make a quick repro if we knew the shapes of the operands to these ops...
Do you happen to have this informati

[2016-08-03 16:50] pavelgonchar commented on #616
Is there a way to solve this issue (unable to import frozen graph with batchnorm) https://github.com/tensorflow/tensorflow/issues/616#issuecomment-235999726

[2016-08-03 17:05] martinwicke commented on #3589
What's the status/ETA of that fix?

[2016-08-03 17:06] aselle commented on #3486
@datomnurdin, did @hybridteory's suggestion solve your problem?

[2016-08-03 17:07] aselle commented on #3499
Automatically closing due to lack of recent activity. Please reopen when you have additional information.

[2016-08-03 17:08] aselle commented on #2745
Automatically closing due to lack of recent activity. Please reopen when additional information becomes available.

[2016-08-03 17:08] #2745 closed

[2016-08-03 17:30] tomvars commented on #3571
I've also had this issue with
Operating System: Ubuntu 16.04
CUDA: 8.0
cuDNN: 5.0
bazel: 0.3.0-2016-07-29
gcc: 4.9

[2016-08-03 17:32] timsainb opened #3627 "Tensorflow inability to kill processes using more than 1 GPU"
### Environment info
Operating System: Ubuntu 14.04

Installed version of CUDA and cuDNN:
CUDA 7.5
CUDNNv4

GPUs:
2x Tesla K40x
2x GeForce GTX K40c

The output from `python -c "import tensorflow; print(tensorflow.__version__)"`:
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened C

[2016-08-03 17:36] mrry commented on #3626
I think this recent change to `protobuf` might be causing the problem: https://github.com/google/protobuf/commit/a17367f44a3b592993d2ac5c074ed58fb0ce784c. (I noticed the same issue when attempting to build TensorFlow with the 3.0.0 release.) A stop-gap solution would be to change [`download_dependencies.sh`](https://github.com/tensorflow/tensorflow/blob/27eeb441bad8bcaa1bcba42a4b4ee49fb50ea0d3/ten

[2016-08-03 17:39] mrry commented on #616
@axeltidemann @bcaine @pavelgonchar The original issue is now closed: please create a new issue for the problem with freezing and batchnorm, and we will assign it appropriately.

[2016-08-03 17:50] rob-rowe commented on #3603
@prb12 the graphdef with shape annotations is attached
[graph_with_shapes.pbtxt.tar.gz](https://github.com/tensorflow/tensorflow/files/400073/graph_with_shapes.pbtxt.tar.gz)

[2016-08-03 17:54] poxvoculi commented on #3625
@petewarden can you take a look at this?

[2016-08-03 18:01] rob-rowe commented on #3603
@prb12 here is the runtime metadata jic that is helpful

[metadata.pbtxt.tar.gz](https://github.com/tensorflow/tensorflow/files/400094/metadata.pbtxt.tar.gz)

[2016-08-03 18:04] poxvoculi commented on #3613
Unless there's evidence of a TF bug, this sort of user program debugging question is more properly asked on stackoverflow, tagged as 'tensorflow'.  It would likely help to give more information so that the error is reproducible, and also the full error stack trace.

[2016-08-03 18:04] #3613 closed

[2016-08-03 18:06] pavelgonchar opened #3628 "Unable to import frozen graph with batchnorm"
Error when loading the frozen graph with [tensorflow.contrib.layers.python.layers.batch_norm](https://github.com/tensorflow/tensorflow/blob/88d9bc16d6a16e5b660cda548b74944f27ddcd1b/tensorflow/contrib/layers/python/layers/layers.py)
`
ValueError: graph_def is invalid at node u'BatchNorm/cond/AssignMovingAvg/Switch': Input tensor 'BatchNorm/moving_mean:0' Cannot convert a tensor of type float32 to a

[2016-08-03 18:08] pavelgonchar commented on #616
raised a new issue https://github.com/tensorflow/tensorflow/issues/3628 for the freezing batchnorm

[2016-08-03 18:17] sbrodeur commented on #3624
Note: implementations using built-in Tensorflow functions as show above doesn't solve gradient issues caused by the handling of complex numbers:

[code]
This code will fail with the following error:

E tensorflow/core/client/tensor_c_api.cc:485] Cannot assign a device to node 'gradients/Shape': Could not satisfy explicit device specification '/device:GPU:0' because no supported kernel for GPU devi

[2016-08-03 18:21] yaroslavvb commented on #3571
CUDA 8.0 also has a 50% improvement on matmul for GTX 980 over CUDA 7.5, I hit similar issue and solution is to modify CROSSTOOL file -- https://github.com/tensorflow/tensorflow/issues/3431

[2016-08-03 18:22] harpone opened #3629 "Problems in "Implement the gradient in Python" docs"
Referring to the docs [here](https://www.tensorflow.org/versions/r0.10/how_tos/adding_an_op/index.html#implement-the-gradient-in-python)

First of all, the chain rule is completely wrong. Also the `ZeroOut` example is not a very good one IMO... would be much better to give e.g. a simple derivative of a polynomial or something. Just a FYI.

EDIT: I'd like to emphasize that the chain rule is *embarr

[2016-08-03 18:30] fjrodriguezdiaz commented on #3571
I just tried the solution in https://github.com/tensorflow/tensorflow/issues/3431 and it works. Thanks!

[2016-08-03 18:55] harpone commented on #367
@RuiShu (and others): are you aware that `grad(logdet(A)) = transpose(inv(A))`? Unless it's actually faster to compute the grad of the cholesky decomp (and to the other operations), then IMO it might make sense to use the cholesky decomp in getting the *value* of the logdet and to use the inverse-transpose form for the gradient?

[2016-08-03 18:57] benoitsteiner commented on #3603
I think I found the source of the problem. A fix is on the way. I'll update this thread once the fix is merged.

[2016-08-03 18:58] harpone commented on #3350
[Issue on computing log det by Cholesky decomposition](https://github.com/tensorflow/tensorflow/issues/367). Applies to also regular determinant.

[2016-08-03 19:07] harpone commented on #367
tf.cholesky works only for symmetric pos def matrices? Any plans to support non-symmetric matrices?

[2016-08-03 20:25] izLHC opened #3630 "TF works in python3.4 for some users but not for others under RedHat7"
We have a RedHat7 machine where our sysadmin, per my request, has installed TF 0.9.0 for both python2.7 and python3.4. Both versions of python are installed centrally under /usr/bin.

When installing, he followed the "pip install" instructions from the TF page for CPU-only 64-bit 2.7 and 3.4 installs.

For both me and him, importing tenserflow in python2.7 works fine.

For him, importing TF in pyt

[2016-08-03 20:41] prb12 commented on #3603
@rob-rowe Thanks for the diagnostics.

For future reference, it looks like the first example of the slow Sum is this one:
[code]
Where reduction indices are [0,1,2] and the first input has shape [100, 127, 127, 30]

[2016-08-03 20:47] martinwicke commented on #2307
@nfiedel can you help with this?

[2016-08-03 21:07] rob-rowe commented on #3603
@prb12 A convolutional batch norm factor in the first layer --- yeah, I can see why that would cause a major slow down if the op is slow! I'm looking forward to the fix. Thanks

[2016-08-03 21:32] lliu25 opened #3631 "Unable to build from source for TensorFlow r0.10 C++ compilation of rule '//tensorflow/core:lib_internal' failed: gcc failed: error executing command"
I have followed this tutorial (https://github.com/samjabrahams/tensorflow-on-raspberry-pi) trying to install the latest tensorflow with quantization enabled, on raspberry pi 3. So I followed every step in it except for the tensorflow version, instead of Tensorflow 0.9 I used the latest 0.10.

But I ran into the following error

[code]

my gcc version is 4.9.2

I appreciate any help and suggestion!

[2016-08-03 21:48] brando90 opened #3632 "Not finding cuda library for jobs that do NOT require GPU"
I am having this error when I use the slurm (http://slurm.schedmd.com/) workload manager. When I run some tensorflow python scripts, sometimes it results in an error (attached). It seems that it can't find cuda library installed but I am running scripts that do **not** require GPUs.  Therefore, I find it very confusing why cuda would be an issue at all. Why is cuda installation an issue if I don't

[2016-08-03 22:14] yaroslavvb commented on #3632
TensorFlow has separate builds for CPU and GPU binaries (http://ci.tensorflow.org/view/Nightly/) You seem to be running a GPU build on a machine that has no GPUs, hence the warning. However, it should still work regardless, this message is purely informational.

[2016-08-03 22:16] brando90 commented on #3632
@yaroslavvb however, the observed behavior is that the job just stalls and does not move on. Is there some way to go around this? I never requested it to run on GPUs in the first place so its confusing that its doing this.

[2016-08-03 22:21] yaroslavvb commented on #3632
Job stalling is unrelated to the message. GPU initialization happens when TensorFlow library is loaded, regardless of whether you actually need GPU or not.

[2016-08-03 22:40] poxvoculi commented on #3619
Sorry to drop another one on you @petewarden but maybe this is your area?

[2016-08-03 22:52] pavelgonchar commented on #3628
An ugly way to get it working:
manually replace the wrong node definitions in the frozen graph
``
RefSwitch --> Switch + add '/read' to the input names
``
``
AssignSub --> Sub + remove use_locking attributes
``

[2016-08-03 22:53] poxvoculi commented on #3624
It seems that support for complex64 types is piecemeal, by op-type and device-type.  Bringing in @martinwicke for a comment on the policy.

[2016-08-03 22:57] martinwicke commented on #3624
Yes, this is a good feature request bordering on a bug. Please check the Op registrations of the affected ops, and you'll probably find that the templates of many of them are not specialized for complex data types. It is a relatively simple thing to fix, and I'd love PRs that do it.

[2016-08-03 23:40] Anthony-Tatowicz commented on #3583
That sounds likely, I do recall massive vmem usage when I was running I will double check and report, back with my findings. I'm not sure what the issue is with the time tracer might be a docker issue, I will try again on a local install as well.

[2016-08-04 01:24] jbohart commented on #2745
testing:
#1:
clone latest repo
cd examples/skflow
python digits.py
got error below
#2:
sudo pip install tensorflow --upgrade
python digits.py
got same error below

error:
Traceback (most recent call last):
  File "digits.py", line 52, in <module>
    val_monitor = monitors.ValidationMonitor(X_val, y_val, every_n_steps=50)
TypeError: __init__() got an unexpected keyword argument 'every_n_steps'

th

[2016-08-04 04:13] dzhwinter commented on #446
Is there any progress on this enhancement? I'm working on that and need a comparison.

[2016-08-04 04:18] shawnLeeZX commented on #3350
Thanks for pointing it out!

On 4 August 2016 at 03:00, Heikki Arponen <notifications@github.com> wrote:

[2016-08-04 05:52] HadronCloud opened #3636 "Inception retraining / transfer learning can only utilize one CPU core and one GPU"
The retraining code is example code, but it does seem like there are many people experimenting with retraining and improving performance could make the example code much more useful as a launchpad for others if it can scale across GPUs and multiple CPU cores.

At the moment, running
`bazel-bin/tensorflow/examples/image_retraining/retrain --num_gpus=2 --image_dir /images`
will only result in a sing

[2016-08-04 06:20] cg31 commented on #3631
looks like libpng-dev is missing.

[2016-08-04 06:24] nikhilmishra000 commented on #2921
I have an implementation of this gradient -- should I create a pull request?

[2016-08-04 08:11] leftstone2015 commented on #2680
It's been fixed.
Solutions are as follows:
check the file control_flow_ops.cc where 'Switch' registered. TF_CALL_ALL_TYPES are called to register 'Switch'. Then TF_CALL_ALL_TYPES(m) calls TF_CALL_string(m), while TF_CALL_string(m) will not actually called in Mobile platforms. So modify TF_CALL_string(m) to call m(string)  for all platforms in  Register_types.h (tensorflow\core\framework),

[2016-08-04 08:44] hholst80 opened #3638 "tf.gather produces zeros for invalid indices on GPU"
### Environment info

Operating System: Ubuntu 16.04 LTS (64 bit)

[code]

[code]

[code]
### Steps to reproduce

[code]

[2016-08-04 08:52] Nayana-ibm opened #3639 "TensorFlow master build failing: error: 'Packet4f' does not name a type"
I am trying to build TensorFlow master on big endian architecture and I am facing build issues related to EIGEN_VECTORIZE_SSE2 as mentioned below:

[code]

Looks like this issue is caused due to a recent commit [fix build for PPC](https://github.com/tensorflow/tensorflow/pull/2911/commits/a1de95f38b442b0534f1f8871bc5cb16390725ae)
This commit includes fix for PPC however its breaking build for othe

[2016-08-04 09:14] leachim opened #3640 "Output for tfrecords files is not reproducible"
### Environment info
Operating System:
OS: Debian testing stretch
Kernel: x86_64 Linux 4.5.0-1-amd64

Tensorflow
Version: 0.9.0

### Steps to reproduce
Running this script gives a ~/test.tfrecords file.
Running the script repeatedly gives different hashes for the file.

[code]

I wonder why I cannot produce the same binary file again, if I rerun the script. Does this mean the content is different?

[2016-08-04 09:18] DogNick commented on #640
Is it resolved?  so the code in seq2seq.py has been modified to just make outprojection of the last layer?
where can i see the latest version?

[2016-08-04 09:22] zsdonghao commented on #3476
@ebrevdo can you give a code example ?

[2016-08-04 09:31] damienmg commented on #3589
The status is David has still to fix the breakage and then the change is good to merge from my perspective.

[2016-08-04 10:07] sammoes commented on #1171
undefined reference to symbol 'ceil@@GLIBC_2.2.5'
I get the same and a great many Info/Warnings.
this issue was patched and merged, but I simply follow the syntaxnet instructions:

  git clone --recursive https://github.com/tensorflow/models.git
  cd models/syntaxnet/tensorflow
  ./configure
  cd ..
  bazel test syntaxnet/... util/utf8/...
  # On Mac, run the following:
  bazel test --linkopt=-hea

[2016-08-04 10:09] sammoes opened #3641 "1171 (reopen)"
undefined reference to symbol 'ceil@@GLIBC_2.2.5'
I get the same and a great many Info/Warnings.
this issue was patched and merged, but I simply follow the syntaxnet instructions (from the readme.md):

git clone --recursive https://github.com/tensorflow/models.git
cd models/syntaxnet/tensorflow
./configure
cd ..
bazel test syntaxnet/... util/utf8/...

it still gives:
/home/tf/.cache/bazel/_bazel_s

[2016-08-04 10:13] sammoes commented on #3092
undefined reference to symbol 'ceil@@GLIBC_2.2.5'
I get the same and a great many Info/Warnings.
this issue was patched and merged, but I simply follow the syntaxnet instructions:

git clone --recursive https://github.com/tensorflow/models.git
cd models/syntaxnet/tensorflow
./configure
cd ..
bazel test syntaxnet/... util/utf8/...
# On Mac, run the following:
bazel test --linkopt=-headerpad_max_ins

[2016-08-04 11:55] mangate commented on #135
@arustagi’s solution worked for me. This is with TensorFlow version tensorflow-0.10.0rc0

[2016-08-04 12:58] zjujimmy commented on #2655
Is anyone working on this now?

[2016-08-04 13:32] tobegit3hub opened #3644 "Multiple tasks in the same server may cause OOM in distributed mode with GPUs"
Following the [official tutorial](https://www.tensorflow.org/versions/master/how_tos/distributed/index.html) of distributed TensorFlow, we find that the ps and works will use the first GPU by default which may cause OOM in distributed mode.

If we don't set `CUDA_VISIBLE_DEVICES`, all the ps tasks may see all the GPUs and use the first one by default. And when I start all the ps and worker process

[2016-08-04 13:49] sdenel opened #3645 "TensorShape dimensions size should be of type uint64, not int64"
According to core/framework/tensor_shape.cc:171:
[code]

TensorShape dimensions size can only be greater or equal to 0. **Thus, its type should be uint64_t.**

I even wonder if **size_t** would not be more appropriate.

[2016-08-04 14:17] ilblackdragon commented on #3596
@vrv Can you take a look - seems like problem with auto-placement of other ops when some ops are pinned.

[2016-08-04 14:18] ilblackdragon commented on #3370
@gideonite  You need to have py_test targets in the `tensorflow/examples/skflow/BUILD` file.
For example target `mnist_test`, then you can run it with `blaze test //tensorflow/examples/skflow:mnist_test`.

[2016-08-04 14:26] ilblackdragon commented on #3539
The error means that some component inside the object can't be picklable (serializable).
Probably this means the `model_fn` didn't serialize. (I'm not sure because your error doesn't have info about object like this `Can't pickle <function _model_fn at 0x108802140>:`).

Two things:
1) Try using `Estimator`, because `TensorFlowEstimator` is deprecated.
2) You can try to move whatever you passing to

[2016-08-04 15:05] antogerva commented on #3626
Thanks, look like the hash d5fb408ddc281ffcadeb08699e65bb694656d0bd works well for protobuf and now I've been able to compile Tensorflow.

[2016-08-04 15:05] #3626 closed

[2016-08-04 16:03] aselle commented on #2780
Automatically closing due to lack of recent activity. Please reopen when new information becomes available.

[2016-08-04 16:03] #2780 closed

[2016-08-04 16:03] aselle commented on #3493
Automatically closing due to lack of recent activity. Please reopen when new information becomes available.

[2016-08-04 16:03] #3493 closed

[2016-08-04 16:11] sguada commented on #3628
@petewarden Do you know how freeze_graph.py handle conditional assignments?

[2016-08-04 16:28] thatindiandude commented on #1244
Upgrading to protobuf 3.0.0 from 3.0.0b seemed to solve this for me. Just did:
`pip install protobuf --upgrade`

[2016-08-04 16:29] girving commented on #3629
@harpone It's only embarrassingly wrong if one is irrationally embarrassed by making mistakes!

[2016-08-04 16:33] girving commented on #3629
@harpone Do clarify: by "embarrassingly wrong" all you mean is that it should be "dL/dx = dL/dy dy/dx" to avoid implying that "d/dy" is differentiating "dy/dx"?

[2016-08-04 16:49] poxvoculi commented on #3636
This retraining program was written to be a relatively simple example, not a high-performance distributed program.  That said, it does seem to be a very popular application and a multi-gpu version would be nice.  It's not as simple as just adding a flag and running on a machine with more gpus; the model needs to be modified so that it can effectively use more gpus in parallel.  TF is able to use m

[2016-08-04 16:54] aecker commented on #1122
I'm running into an issue, where the size of the input isn't fully known at the time of building the graph and I get the following error:
[code]
I have to use `tf.shape(x)` at several other places because of this, but since `batch_norm()` creates the variables for beta etc. itself I have no way of doing that. Is there a way I can define the variable for beta myself and pass it to `batch_norm()`?

[2016-08-04 17:10] poxvoculi commented on #3638
You are correct.  The validation is always performed, since overhead was negligible.

[2016-08-04 17:15] poxvoculi commented on #3636
Not sure what the single core being pegged at 100% issue is; I'm not a python expert but I've heard it's not very good a doing multithreading, and this program has some image preprocessing done in python.  For a real high-performance application, that stuff should be ported to a more effective, distributable framework.

[2016-08-04 17:17] girving commented on #3638
To clarify: it works on CPU but not on GPU, right?  Unfortunately, while we always perform the checks on GPU, we never report those errors back to the user:

https://github.com/tensorflow/tensorflow/blob/c5f94b10bbb30e525fa3ca313e7ccb173040c90a/tensorflow/core/kernels/gather_op_gpu.cu.cc#L40

It would be great to fix this, but we didn't know how to do it in a performant fashion.

[2016-08-04 17:19] poxvoculi commented on #3630
There seems to be a misconfiguration on this machine causing python3 to look for Python code in the 2.7 directories. It's hard for us to help with this, as it is probably not related to TensorFlow specifically. I will close this issue. If you find evidence that there is a problem with TensorFlow, feel free to reopen it.

[2016-08-04 17:19] #3630 closed

[2016-08-04 17:21] KendallWeihe commented on #1594
I do have `swig` installed, but I'm still getting the same error. My process is outlined in [this](http://stackoverflow.com/questions/38773402/tensorflow-bazel-build-failing-not-generating-bazel-bin-directory/38773658#38773658) SO post (it was about a different question, but still explains everything).

[2016-08-04 17:27] zheng-xq commented on #3627
@timsainb, I am not sure we are aware of this problem before. Could you share the simplest python code that has the problem? And if you run it through regular python, will it have the same problem?

[2016-08-04 17:45] rubenstern commented on #3539
Thanks
In which library can I find : Estimator ?

[2016-08-04 17:49] harpone commented on #3629
Yup, exactly! Was a bit tired yesterday so maybe I overreacted a bit though :)

Anyway, for example the abs + it's gradient would probably make for a better example?

[2016-08-04 17:54] poxvoculi commented on #3644
Your observation is correct.  It is a deliberate design choice that a TF process will, unless instructed otherwise, use visible GPUs in order, and attempt to use all of the memory on each device.  This approach can work well when processes sharing a server are in a virtual environment that makes visible only the GPUs that the process is permitted to use.  As you note, setting a different value for

[2016-08-04 17:54] #3644 closed

[2016-08-04 18:04] poxvoculi commented on #3645
Use of this type is deliberate, and reflects Google coding guidelines.  Signed int types are to be preferred since overflow/underflow errors are more likely to be caught.  Loss of one bit of range is not of concern in this case.

[2016-08-04 18:04] #3645 closed

[2016-08-04 18:41] aselle commented on #3483
The change that I was describing will be sync'd soon (it's internal). For now try,
[code]

[2016-08-04 18:44] harpone opened #3647 "Mismatch in gradient of 'abs' for complex values"
... in the `def abs(x, name=None):` [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/math_ops.py)

The abs correctly returns complex abs if the input is complex, but the gradient always returns `math_ops.sign(x)`. There seems to be a `_ComplexAbsGrad` though, so maybe that should be used?

Anyone have time for this? Clearly it's not that urgent (how many people are

[2016-08-04 18:45] harpone commented on #3629
Oops actually maybe `abs` is not a good example, see (this)[https://github.com/tensorflow/tensorflow/issues/3647] (possible) bug.

[2016-08-04 18:54] vrv commented on #3596
This isn't really a bug -- some library or user code is trying to place "sharded_filename" on GPU, and sharded_filename can't be placed on GPU.

The solutions are to enable soft_placement in the ConfigProto (dangerous), or figure out why the user/library code is trying to assign a string-based operation to a GPU.

[2016-08-04 18:58] girving commented on #3647
The gradient registry is based on the names of C++ ops, not the names of Python functions.  The code is correct.

[2016-08-04 18:58] #3647 closed

[2016-08-04 19:25] girving commented on #3629
@harpone Are you happy with this chain rule fix?  https://github.com/girving/tensorflow/commit/05e7bc317317cc868710db2762acaab87b8c17a4

[2016-08-04 19:44] poxvoculi commented on #3640
When I run this program I get the same result every time, with identical md5sum hashes.  What happens if you print the protobuf, instead of using SerializeToString(), are they different?

[2016-08-04 19:58] drcrook1 opened #3648 "SKFlow - RNN - Tuple does not have dtype"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-08-04 20:02] harpone commented on #3629
Sure, that's much better!

On Thu, Aug 4, 2016, 22:27 Geoffrey Irving <notifications@github.com> wrote:

[2016-08-04 20:23] terrytangyuan commented on #3539
@rubenstern `tf.contrib.learn`

[2016-08-04 20:25] ppwwyyxx opened #3649 "Boolean operations on GPU are extremely slow"
ArchLinux. Cuda7.5. NIghtly TF built for Python2.

[code]

CPU version of the same operation is also much faster than this.

[2016-08-04 20:29] terrytangyuan commented on #3596
Perhaps add that `soft_placement` as an option [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/estimators/run_config.py#L71) and pass `config` into your custom `Estimator`.

[2016-08-04 20:54] fractalego commented on #2138
Hi all, I have exactly the same issue: embedding_rnn_seq2seq works fine but embedding_attention_seq2seq gives me segfault when running tensorflow.initialize_all_variables() .

I have enough ram and this segfault happens upon changing batch size, embedding dim or memory dim - for both GRU and LSTM cells.

The core dump tells me
"""
Segfault happened at:07ff864e935b <__memmove_avx_unaligned+427>: mo

[2016-08-04 22:16] KendallWeihe opened #3651 "GTX 1070 source install bazel build -- Unsupported gpu architecture 'compute_61'"
Here are my specs:
- Ubuntu 15.10 (potential conflict with CUDA 7.5?)
- NVIDIA GTX 1070 (compute capability 6.1)
- CUDA 7.5
- Cudnn v5.0

Error message:

[code]

It is clearly complaining about the compute capability. Is a compute capability of 6.1 supported? Surely.

I am installing from source.

Some dependency versions:

[code]

When I execute `sudo ./configure` I have tried different varients.

[2016-08-04 22:18] natalieparde opened #3652 "No such package '@iron_list (Device or resource busy)"
### Environment info
**Operating System:** Ubuntu 12.04

**Installed from source:**
**Commit Hash:** c5f94b10bbb30e525fa3ca313e7ccb173040c90a
**Output of "bazel version":**
WARNING: Output base '/home/user1/.cache/bazel/_bazel_user1/d49ce44fa50589aa9a9d880466ef1baf' is on NFS. This may lead to surprising failures and undetermined behavior.
Build target: bazel-out/local-fastbuild/bin/src/main/java/

[2016-08-04 22:20] girving commented on #3629
So the PR to fix the chain rule mention is https://github.com/tensorflow/tensorflow/pull/3650.  As for the example, @harpone: do you want to personally fix it?  It's a nontrivial amount of work for a marginal gain, since the goal of the tutorial is to teach people how to use the API, not to teach them calculus.

[2016-08-04 22:21] KendallWeihe commented on #3651
I should note that a virtual_env install works totally fine, so maybe this isn't an issue?

[2016-08-04 22:44] leachim commented on #3640
I am very sorry, in my haste, I seem to have given you a bad toy example. Very strangely, in my setup if I execute a slightly modified example from above, I get different hashes:
`
example = tf.train.Example(features=tf.train.Features(feature={
'x1': _bytes_feature(seq_x1),
'x2': _bytes_feature(seq_x2),
'x3': _bytes_feature(seq_x2),
}))
`
It seems that the protobuf is identical though, I have atta

[2016-08-04 22:44] yaroslavvb commented on #3651
CUDA 7.5 doesn't support Pascal cards, so you'll need CUDA 8.0
TensorFlow doesn't support CUDA 8.0, but you can make it work with extra
tweaks like in https://github.com/tensorflow/tensorflow/issues/3431

Also CUDA 8.0 doesn't support Ubuntu 15.10, so you may need to upgrade to
16.04, or fix a bunch of compilation errors by hand during install

On Thu, Aug 4, 2016 at 3:21 PM, Kendall Weihe <notifi

[2016-08-04 22:52] poxvoculi commented on #3649
investigating

[2016-08-04 23:14] zeryx opened #3654 "archive.openswitch.net ssl cert path fails when installing syntaxnet."
Hey guys,
We've been using your default bazel shell script, `https://github.com/bazelbuild/bazel/releases/download/0.2.2b/bazel-0.2.2b-installer-linux-x86_64.sh` for a while to create a syntaxnet docker image for internal use, and it's been working great. However recently (past couple of days) we've tried a rebuild that started failing with the following error message:

[code]
From quick inspectio

[2016-08-04 23:14] #2939 closed

[2016-08-04 23:34] tejaskhot commented on #206
Will this also support multi-indexing such as:
`matrix[row_indices, col_indices]` where `matrix` is a `mxn` tensor and `row_indices` and `col_indices` are int32 vectors of sizes `k` such that k is less than m and n respectively. The slice above returns a length `k` vector eventually i.e. vectorized operation of `matrix[i,j] for all i,j in row_indices, col_indices`

[2016-08-04 23:44] aselle commented on #206
Eventually we may add support for  that (it's what numpy calls advanced indexing), but this first version will just focus on making the so called numpy basic slicing fully supported.

[2016-08-04 23:49] tejaskhot commented on #206
@aselle With what we have now, what's the optimal way of achieving this sort of indexing? I was hoping this would be solved in this issue.

[2016-08-04 23:59] girving commented on #206
@tejaskhot: Please keep this thread focused on the new features. Please ask side questions on StackOverflow.

[2016-08-05 00:46] shawnjhenry commented on #3144
I'm having the same issue as well with a fresh install.  When I remove the explicit "axis=" and just put the number in the correct position, unpack incorrectly infers that the number is the name of the op rather than the axis argument.  Any solution forthcoming?

[2016-08-05 01:27] tobegit3hub commented on #3644
Thanks for confirming and detailed explaination 😃

TensorFlow is flexible enough with `CUDA_VISIBLE_DEVICES` and `with tf.device()` to archive any architecture. We are also looking forward to the optimization of scheduling. Maybe adding the rule of using CPU for ps and placing operations randomly in all GPUs for worker could help, especially for beginners.

[2016-08-05 02:13] upupnoel commented on #3533
i found a solution, rebuilt the `label_image` by adding two lines below
[code]
into `tensorflow/examples/label_image/BUILD` . It works for me (ubuntu 1404LTS, tf0.9-gpu ).

[2016-08-05 02:19] jlowin opened #3657 "0.10.0rc0: Contrib distributions crash when sampling "n" is scalar"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-08-05 02:53] luxiaolei commented on #3596
@vrv @terrytangyuan ,

Thanks for the helps, however it does not work..Same error appears

I added

[code]

to Line 71 in ```/anaconda2/lib/python2.7/site-packages/tensorflow/contrib/learn/python/learn/estimators/run_config.py```

and then added

[code]

to line 39 in file ```~/tensorflow/tensorflow/examples/skflow/multiple_gpu.py```

[2016-08-05 02:55] terrytangyuan commented on #3596
What is the error? Please use `Estimator` going forward. `TensorFlowEstimator` may not work and we are removing it soon

[2016-08-05 02:56] goncalopp opened #3658 "API for getting hidden layer state"
I'm using `tf.contrib.learn.TensorFlowDNNRegressor` and I'd like to get the hidden layers state after forward propagation (calling predict()). There doesn't seem to be an API to do this. Will one be provided in the future, or would I need to avoid `tf.contrib.learn`?

[2016-08-05 02:58] upupnoel commented on #2807
my result is
- inception-v3 : 8s
- inception-v3-quantized : 20s
- inception-v3-stripped : 7s
with tf0.9.0-gpu.

[2016-08-05 03:00] luxiaolei commented on #3596
ok, i will try to replace with Estimator, may take a while, since I am quite new to tensorflow.

And here is the message:

[code]

[2016-08-05 03:13] luxiaolei commented on #3596
Simply change ```TensorflowEstimator``` to ```Estimator``` in the origin code, would result in following Type error

[code]
sad..:(

[2016-08-05 03:34] abes975 opened #3660 "cannot run on x86 emulator android example"
Linux Sabayon 4.3 on intel x86_64 platform
- cannot build and run an apk for x86_64 cpu android emulator.
- bazel release 0.3.1-2016-08-02 (@8b4df1b)

I run this command in order to build the apk package that I would like to run on x86_64 emulator

bazel build --android_cpu=x86_64 //tensorflow/examples/android:tensorflow_demo

But in
bazel-bin/tensorflow/examples/android/_dx/tensorflow_demo/native

[2016-08-05 05:19] #3056 closed

[2016-08-05 05:19] huyong1109 commented on #2807
I tried a small network on GPU and get similar results.  ( https://stackoverflow.com/questions/38775675/why-my-tensorflow-network-becomes-slower-after-applying-the-quantization-tools-o
 )  It may because  GeForce GTX  has less integer computing cores?

[2016-08-05 07:51] tobegit3hub commented on #397
`AUC` is commonly used in LR or DNN models and I don't think everyone need to implement the user op again.

Now TF learn has implemented the `streaming_auc` in `tensorflow/tensorflow/contrib/metrics/python/ops/metric_ops.py`. We will test and hope it could be used out of the scope of TF learn API.

[2016-08-05 08:28] hholst80 commented on #3638
So what does the CPU version do? https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/gather_op.cc

I was not expecting a zero as return when I sent in a out of bounds index. NaN maybe but not zero.

[2016-08-05 09:24] andrewrichards commented on #22
The easiest is if you click on "register your interest" on our page here: https://www.codeplay.com/products/computecpp
That will get you into our developer program and we can work together on this @alephman

[2016-08-05 09:46] bhack commented on #22
If you want you can cotribute also to let to compile with an opensource alternative. See https://github.com/tensorflow/tensorflow/issues/22#issuecomment-221841173

[2016-08-05 09:59] zfwang commented on #3565
problem solved!
when run tensorboard in docker, it is need to map port from container to host. For example, run
docker run -it -P tensorflow tensorboard --logdir='/notebooks/logs/'

[2016-08-05 09:59] stilda commented on #593
Hi, I use r0.9 version but still have an error when use nested map_fn and a variable involved in calculations of inner function.

The error is

tensorflow.python.framework.errors.InvalidArgumentError: Input 0 of node gradients/map/while/map/TensorArrayPack_grad/TensorArrayGrad/TensorArrayGrad was passed string from gradients/map/while/map/TensorArrayPack_grad/TensorArrayGrad/TensorArrayGrad/StackP

[2016-08-05 10:00] #3565 closed

[2016-08-05 10:17] stilda opened #3663 "Error when using TensorArray and variables in nested loops"
Hi, I use r0.9 version but still have an error when use nested map_fn and a variable involved in calculations of inner function.

The error is

tensorflow.python.framework.errors.InvalidArgumentError: Input 0 of node gradients/map/while/map/TensorArrayPack_grad/TensorArrayGrad/TensorArrayGrad was passed string from gradients/map/while/map/TensorArrayPack_grad/TensorArrayGrad/TensorArrayGrad/StackP

[2016-08-05 12:48] chunfu-yang opened #3665 "cannot generate visual studio solution file on Windows 7"
### Environment info
Operating System:
Windows 7

### What have you tried?
1.on Windows 7 follow https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/README.md
when try to generate visual  studio sln file, error occurred.

### Logs or other output that would be helpful
CMakeError.log

Determining if the include file pthread.h exists failed with the following output:
Change

[2016-08-05 12:52] moorea commented on #3654
I am experiencing the same issue

[2016-08-05 13:05] hotomski commented on #3654
I have this problem as well..

[2016-08-05 13:06] leftstone2015 opened #3667 "convert tf.cond to constants failed by convert_variables_to_constants."
### Environment info

Operating System:
Ubuntu 14.04.4 LTS

If installed from binary pip package, provide:
0.9.0
### Steps to reproduce

import tensorflow as tf
from tensorflow.python.framework.graph_util import convert_variables_to_constants

def save_model(sess, output_node_names, path = "predict.pb"):
    output_list =  output_node_names
    output_graph_def = convert_variables_to_constants(ses

[2016-08-05 13:07] caisq commented on #3457
The --sync-replicas mode is not fully supported yet (see the obscurely located line at: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dist_test/scripts/dist_mnist_test.sh#L69). If you remove that flag, it should work under the asynchronous mode.

[2016-08-05 13:12] leftstone2015 commented on #3667
Test from source aslo failed, the env infos are as follows;
~tensorflow$ git rev-parse HEAD
861644c0bcae5d56f7b3f439696eefa6df8580ec
bazel version.
Build label: 0.3.1-2016-08-01 (@722fb2d)

[2016-08-05 13:17] andrewharp commented on #3544
@alan23273850
If you don't need to modify the native C++ code, then no you can just copy the built .so file into your Android studio project as described. However, if you plan to modify them, you'll need to rebuild, which at this point will be hard to do in Windows due to the lack of Bazel support.

[2016-08-05 13:17] #3544 closed

[2016-08-05 13:35] suiyuan2009 commented on #3621
I see c++ implement of batch_normalization is deprecated

[2016-08-05 13:55] drcrook1 commented on #3648
Solved the issue.  The data needs to be provided to SKFLow as an ndarray and not a list or tuple or anything else.  Simply convert the data using np.array(data) for data.  Labels appear to be OK without this treatment.

[2016-08-05 13:55] #3648 closed

[2016-08-05 14:06] mrry commented on #3665
The CMake build in `tensorflow/contrib/cmake/...` doesn't currently support Windows. We are working on adding this support (see issue #17).

For running on Windows at present, the [best options](http://stackoverflow.com/q/33616094) are using Docker or installing the Linux version on the Windows 10 Subsystem for Linux.

[2016-08-05 14:06] #3665 closed

[2016-08-05 15:08] perhapszzy commented on #3457
Is synchronous model not supported in general or just this demo doesn't support it? I did found it work when start individual works this way:

[code]

And it also runs by applying that pr. (not sure if it works expectedly).

[2016-08-05 15:32] suiyuan2009 commented on #3464
dbs

[2016-08-05 15:57] martinwicke commented on #2921
Yes please, that would be great!

[2016-08-05 16:04] KendallWeihe commented on #3651
Do you know if the nightly wheels support CUDA 8.0?

[2016-08-05 16:08] yaroslavvb commented on #3651
They do not

On Aug 5, 2016 9:04 AM, "Kendall Weihe" <notifications@github.com> wrote:

[2016-08-05 16:23] QihongL commented on #1421
I also had the same TAG issue:
`WARNING:tensorflow:IOError [Errno 2] No such file or directory: '/Users/Qihong/anaconda/envs/tensorflow/lib/python2.7/site-packages/tensorflow/tensorboard/TAG' on path /Users/Qihong/anaconda/envs/tensorflow/lib/python2.7/site-packages/tensorflow/tensorboard/TAG
WARNING:tensorflow:Unable to read TensorBoard tag`

**michaelosthege** said that this can be resolved by d

[2016-08-05 16:27] QihongL commented on #1421
By the way, downloading that file didn't work for me. My issue is that the Tensorboard is slow at responding: after the new event file is created for 15 minutes, it is still absent on the Tensorboard page. It sometimes magically appears after a while but I couldn't find a pattern. Sometimes, it assigns the wrong label (defined by the directory name of the event file) to the plotted curves.

[2016-08-05 16:30] danmane commented on #1421
The tag file has no purpose other than displaying a version number at
startup. The missing tag file can be ignored.
On Fri, Aug 5, 2016 at 9:25 AM QiHong Lu <notifications@github.com> wrote:

[2016-08-05 16:49] QihongL commented on #1421
I see... Thanks!

[2016-08-05 17:16] huyong1109 commented on #3429
Problems solved with 0.10.0 version. Great!

[2016-08-05 17:22] KendallWeihe commented on #3651
Fort verification when I add

`cxx_builtin_include_directory: "/usr/local/cuda-8.0/include"`
to
`third_party/gpus/crosstool/CROSSTOOL`

Am I adding it to the first line of the `toolchain {...` block

I'm having [this](http://stackoverflow.com/questions/38794497/tensorflow-bazel-build-cuda-8-0-gtx-1070-fails-w-gcc-error) issue now.

[2016-08-05 17:53] aselle commented on #3174
Is this still occurring (try the 0.10RC for example).  If it is still occurring, it will be difficult to help you any further without you providing a self-contained reproducible test case. I understand these errors are frustrating.

[2016-08-05 17:59] RuiShu commented on #367
@harpone It's been a while since I've checked up on this issue. Generally, it'd be nice to not compute the inverse explicitly. Since I was primarily interested in logdets within the context of gaussian processes, there are ways of getting around it (such as something that ultimately requires something like the cholesky decomp in the backwards pass as well :P)

In any case, I was under the impressi

[2016-08-05 18:08] flx42 opened #3669 "Update Docker instructions"
Docker is supported as a way of using TensorFlow:
https://www.tensorflow.org/versions/r0.10/get_started/os_setup.html#docker-installation

However, all those Docker images are 0.8, more than 3000 commits behind. An eon for TF ;)

[code]

Just below, you also mention the following:

However, I couldn't make it work for 0.10.0rc0 or 0.9.0:

[code]

On GitHub, you have another set of [instructions](h

[2016-08-05 18:15] flx42 opened #3670 "Update CUDA/cuDNN in Dockerfiles"
Currently, the Dockerfiles are using CUDA 7.5 and cuDNN v4:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docker/Dockerfile.devel-gpu#L1

Any chance of updating the Dockerfile to cuDNN v5 as a first step? It might be just a single-character fix :) cuDNN v5 is RC but stable AFAIK.

Ideally, it would be also useful for users with Pascal boards to also update to CUDA 8.0 as th

[2016-08-05 18:18] mrry commented on #3652
This part of the log might have something to do with it:

I think the appropriate resolution is to pass the flag `--output_base=/tmp/some/other/dir` (for example) to the `bazel build` command.

[2016-08-05 18:35] mrry commented on #2655
We've started looking at this internally. @jhseu will be leading up this effort.

[2016-08-05 18:40] girving commented on #3638
@hholst80 The CPU gives you an exception independent of what you're using (True or False).  This is to avoid crashing.  NaN would be reasonable, but the real fix would be to get an actual exception to bubble back up to the CPU from the GPU.

[2016-08-05 18:46] bhack commented on #2655
So are you supporting internally yarn and on contribution mesos?

[2016-08-05 18:58] poxvoculi commented on #3649
First, thanks for reporting this issue.  There is something going on that looks like a possible bug.

Second, writing good performance benchmarks that measure what you intend, and not something else, is  hard.  I'm still not completely confident I've gotten it right.  However, I'm going to suggest an alternative benchmark program, then explain why.   It's not precisely what I run on my system, and

[2016-08-05 19:12] ppwwyyxx commented on #3649
Running your benchmark, I saw something very different regarding GPU reduction:
[code]

[2016-08-05 19:44] jstaker7 commented on #1768
I agree with rlrs. I have no easy way to know which variables are causing the failure.

[2016-08-05 20:14] poxvoculi commented on #3649
@ppwwyyxx  Oh my.  That's very interesting.  Will do some more analysis on this side.

[2016-08-05 20:28] thomasquintana commented on #2787
This problem is fixed! -- Cheers, Tom

[2016-08-05 20:35] natalieparde commented on #3652
That worked!  Thank you so much for your help; I hadn't thought to just try changing the output base.

I appreciate your help!

[2016-08-05 20:46] bhack commented on #1996
@jhseau See also last comments of https://github.com/douban/tfmesos/pull/3

[2016-08-05 20:50] bostonbuddy commented on #2413
Hi,

I am getting this error when running:

[code] bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer [/code]

ERROR: /home/audio-dnn/tensorflow/tensorflow/core/kernels/BUILD:855:1: undeclared inclusion(s) in rule '//tensorflow/core/kernels:crop_and_resize_op_gpu':
this rule is missing dependency declarations for the following files included by 'tensorflow/core/kernels/crop

[2016-08-05 20:55] mrry commented on #3652
Glad to hear it!

[2016-08-05 20:55] #3652 closed

[2016-08-05 21:03] yaroslavvb commented on #2413
Maybe add `cxx_builtin_include_directory` pointing to your 7.5 cuda similar to https://github.com/tensorflow/tensorflow/issues/3431

[2016-08-05 21:12] hendrycks commented on #3208
I get a similar error when I have a map_fn modifying a variable, and the map_fn is inside of a cond.

[code]

[2016-08-05 21:13] jhseu commented on #2655
We'll likely do both.

[2016-08-05 21:41] lukaszkaiser commented on #3056
Hope the above PR fixed it. Let me know if any problems are still there, of course!

[2016-08-05 21:57] josh11b commented on #3638
I neither have the context for this bug, nor am I going to be able to get to this in a reasonable time frame.

[2016-08-05 22:07] poxvoculi commented on #3641
Looks like a bazel issue.  @martinwicke ?

[2016-08-05 22:16] poxvoculi commented on #3660
Assigned to @petewarden, but maybe @martinwicke would recommend following up with bazel project instead?

[2016-08-05 22:24] girving commented on #3638
I don't know enough about GPUs to solve this one.  @zheng-xq Can you triage?

[2016-08-05 22:24] lukaszkaiser commented on #2138
Can you make a small example where this happens regularly? That'd be very helpful, since for now I cannot reproduce it. Are you using TF 0.10rc0?

[2016-08-05 22:29] bostonbuddy commented on #2413
Thank you so much @yaroslavvb , adding the following line to third_party/gpus/crosstool/CROSSTOOL worked:

cxx_builtin_include_directory: "/usr/local/cuda-7.5/include"

[2016-08-05 22:34] poxvoculi commented on #3657
@langmore Can you take a look?

[2016-08-05 22:35] zheng-xq commented on #3638
This is an area that is contribution welcome. We cannot have GPU synchronize with CPU. There are a few ways:

1. Trigger a "trap" instruction on GPU, which triggers an interrupt on the host CPU.
2. Allocated a pinned memory on CPU, and write the error status from GPU in the kernel. During the launch, also schedule an asynchrous functor to check the status through "ThenExecute".

[2016-08-05 22:52] langmore commented on #3657
This is a documentation issue.  `.sample()` expects a rank 1 Tensor (or something convertible to that) specifying a shape.  So the scalar case was not intended to be handled.  I'm fixing the docs now.

[2016-08-05 23:17] nfiedel commented on #2307
@fangweili and I were discussing offline. Now that [SessionBundle](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/session_bundle) is in contrib, the next natural step is to update the inception model / retrain.py to directly use the SessionBundle Exporter. Contributions welcome though we may get to it over the coming weeks.

[2016-08-05 23:29] poxvoculi commented on #3640
Sorry for the latency, just got a chance to run your updated program, with the three examples.  I ran it 6 times and got identical output files each time.

You say you always see the same values printed by
  print(example)
Have you verified that by taking a checksum of that printed output?

If that is true, yet the example.SerializeToString() output varies, I would suspect a problem not with Tenso

[2016-08-06 00:17] cardshuffle opened #3673 "Android demo crashes when package name is changed"
### Environment info
Operating System: Ubuntu 14.04 LTS 64-bit
Installed version of CUDA and cuDNN: none (not using GPU)

If installed from source, provide
1. The commit hash (`git rev-parse HEAD`): fc9162975e52978d3af38549b570cc3cc5f0ab66
2. The output of `bazel version`
[code]

### Steps to reproduce
1. Open Android demo in Android Studio (not imported)
2. Change org/tensorflow/demo folder names

[2016-08-06 01:15] peterzcc opened #3674 "PIP installation error due to libcuda.so.1 not found"
I encountered a strange error after installing tensorflow through pip: the tensorflow says it cannot find libcuda.so.1, which should not exist. Does anyone know how to fix it? Thanks for help!
### Environment info

Operating System:
CentOS 6
Installed version of CUDA and cuDNN:
Cuda 7.5 and cudnnv4

If installed from binary pip package, provide:
1. Which pip package you installed.
   https://stora

[2016-08-06 01:32] langmore commented on #3657
Doc change submitted.  Thanks for reporting this Jeremiah!

[2016-08-06 01:58] jlowin commented on #3657
Thanks @langmore, makes sense!

[2016-08-06 02:12] wyli commented on #3501
@justdark Hello, I had exactly the same error when accidentally change the gcc tool path in CROSSTOOL https://github.com/tensorflow/tensorflow/blob/v0.9.0/third_party/gpus/crosstool/CROSSTOOL#L49 to my own gcc. make sure  `clang/bin/crosstool_wrapper_driver_is_not_gcc` and change the path in crosstool_wrapper_driver_is_not_gcc file if necessary-- it works for me (centos 6.7, tensorflow v0.9.0)

[2016-08-06 03:41] suiyuan2009 commented on #3621
@xodus7 great

[2016-08-06 04:14] chhwang opened #3675 "Source-compiled 0.9.0 version performs worse than binary-installed one"
I'm running my ResNet-32 benchmark model. My code looks quite similar with the code in TensorFlow GitHub:

https://github.com/tensorflow/tensorflow/tree/master/tensorflow/models/image/cifar10

but the model is changed into my own ResNet-32 implementation.

I'm measuring how long it takes to train a minibatch with size 128, and here are brief results. I used one GPU, 64bit Ubuntu 14.04 and Python 2

[2016-08-06 06:06] ppwwyyxx opened #3676 "BatchNorm on GPU become very slow in latest TF"
Nightly built, python2 gpu, cuda 7.5, cudnn 4.0.7, archlinux. TitanX.
I run [batch_norm_benchmark.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/batch_norm_benchmark.py) and got the following output:
[code]

Although `sess.run` in a loop might not be an accurate way to benchmark, I think the performance regression exists because running the same script with an earli

[2016-08-06 06:08] ppwwyyxx commented on #3675
I found that batch norm becomes very slow recently (#3676). Could you try removing batchnorm and benchmark again?

[2016-08-06 06:18] chhwang commented on #3675
@ppwwyyxx I just tried it and I think you're right. If I remove all batch norm layers, the elapsed time becomes 330 -> 38 ms with 745f16f790d2f9abf2c6a70d6b383b152cca3cff. The same experiment done with pip installed 0.9.0 takes 34 ms.

[2016-08-06 08:59] bentzinir commented on #672
Hi,
Doe's partial_run work for RNN?
Thanks,
Nir

[2016-08-06 09:33] isaacmao commented on #394
No, I still can't fix with the nvidia-modprobe method.

/usr/bin/python: libcudart.so.7.5: cannot open shared object file: No such file or directory

[2016-08-06 10:41] leachim commented on #3640
Ok. I managed to reproduce the issue on a digital ocean droplet. I have attached all the files, hope that helps to clarify things.

System info:
4.4.0-31-generic #50-Ubuntu SMP Wed Jul 13 00:07:12 UTC 2016
Ubuntu 16.04 xenia

Steps to reproduce:
see command_info and issue.txt

I have also included the tfrecord files in the zip folder.

[command_info.txt](https://github.com/tensorflow/tensorflow/fi

[2016-08-06 11:44] fractalego commented on #2138
Thank you for your quick reply. I was using TF 0.9.0 when I posted the first comment. I upgraded to 0.10 and with the new version the error message is more clear.

The issue is an out of memory problem: with embedding_attention_seq2seq an additional tensor is created with size [num_symbols x  (num_symbols+memory_dim)]. Since my vocabolary size is ~10000 I run out of memory.

My guess is that this

[2016-08-06 13:54] muhammadzaheer commented on #2514
@markpwoodward Can you explain how to use the feature pointed out by @josh11b? A code snippet would be great.

[2016-08-06 14:20] chrisruk commented on #2166
Just wondering if there is any news on this, as I seem to experience this
issue with version 0.10
cheers

[code]

gives: INP <unknown>

[2016-08-06 15:17] eric-czech opened #3677 "TFLearn estimators not passing "save_summary_steps""
I think this should be an easy fix (or it was to hack it in locally), but it looks like [supervisor.py:L560](https://github.com/tensorflow/tensorflow/blob/r0.10/tensorflow/contrib/learn/python/learn/estimators/estimator.py#L560) for release **r0.10** is calling ```graph_actions._supervised_train``` without passing the ```save_summary_steps``` parameter now configurable in RunConfig.

I was able to

[2016-08-06 16:25] cardshuffle commented on #3673
Turns out I missed a line in `imageutils_jni.cc`, and after changing that, the error was fixed. But at the moment, the only way I can work on an Android app with TensorFlow is by modifying the demo project. If I try to make a copy in another location, Bazel doesn't work, and creating a copy by importing it into Android Studio doesn't work either. Is there a better way to handle this?

[2016-08-06 17:02] deeplearning-ai-research opened #3678 "New Feature: Pascal, Cuda 8, Unified memory"
Hi,

As Cuda 8 enables unified memory for Pascal GPU, combining CPU and GPU on the same address level, and enhancing the memory size available for GPU (with limited latency), using CPU RAM.

1) Is there a possibility to have larger than GPU ram NN+data (lower than CPU ram) for training in tensor flow ? (it would help reducing distributed computing/network latency) ?

ie, using the idea of  Oversub

[2016-08-06 17:28] alexmonroe87 commented on #3589
This is presumably not affecting everyone. Since a patch is not forthcoming, what is it about our environments that causes it? Maybe we can fix that.

[2016-08-06 18:04] zsdonghao commented on #2695
Hi , there are a ``tutorial_ptb_lstm_state_is_tuple`` in TensorLayer repo, hope it help.
https://github.com/zsdonghao/tensorlayer

[2016-08-06 18:04] #3476 closed

[2016-08-06 19:15] harpone commented on #3629
I'm afraid I don't have the time right now, but I may submit a PR related
on another thing (log abs det gradient etc.) some time in the future, so I
could also do this in the same PR? No promises however, it could take a
while...

On Fri, Aug 5, 2016 at 1:22 AM Geoffrey Irving <notifications@github.com>
wrote:

[2016-08-06 19:16] brando90 commented on #3632
I also made a stackoverflow question for it: http://stackoverflow.com/questions/38727375/why-do-jobs-in-slurm-freeze-indefinitely-when-they-are-tensorflow-scripts and currently put a bounty of 100 on it.

I'd love to be able to solve this and why its stalling. Not sure if its tensorflow or the computers/nodes themselves.

[2016-08-06 19:22] girving commented on #3629
@harpone That sounds like it should be a separate PR.  I'll close this one for now.

[2016-08-06 19:22] #3629 closed

[2016-08-06 19:32] terrytangyuan commented on #3677
@eric-czech Thanks for reporting! I have submitted a fix. Going forward you are welcome to submit a PR to fix it directly!

[2016-08-06 19:41] guillaume-chevalier commented on #37
This would be interesting for pure front-end graph exportation for direct usage on web clients. Even if the desired inputs/outputs asked from the graph would be hard-coded in the exported JS "sess.run" equivalent function.

[2016-08-06 20:16] EderSantana opened #3680 "error: can't copy 'tensorflow/models/embedding/gen_word2vec.py': doesn't exist"
I was installing TF from source like I always did but I'm having the following issue this time when running `bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg` I got

[code]

plus, I can't find that file anywhere... did anything change or am I missing something?

[2016-08-06 20:43] martinwicke commented on #3654
Please re-file this issue to [tensorflow/models](github.com/tensorflow/models).

@calberti: We switched away from the openswitch.net mirror because it isn't well maintained, you can look at the corresponding entry in the tensorflow WORKSPACE file, adapting yours to be the same should fix this.

[2016-08-06 20:43] #3654 closed

[2016-08-06 21:41] hotomski commented on #3654
Thanks! I copied this whole part : native.new_http_archive(
    name = "gmock_archive",
    url = "http://pkgs.fedoraproject.org/repo/pkgs/gmock/gmock-1.7.0.zip/073b984d8798ea1594f5e44d85b20d66/gmock-1.7.0.zip",
    sha256 = "26fcbb5925b74ad5fc8c26b0495dfc96353f4d553492eb97e85a8a6d2f43095b",
    build_file = path_prefix + "gmock.BUILD",
  )
from original tensorflow and it worked!

[2016-08-06 22:24] KendallWeihe commented on #3278
Grid LSTM RNNs support n-dimensional inputs in theory, but since the Tensorflow implementation uses the `RNNCell` object, the network requires a list of inputs, as opposed to say a 3D volume.

[2016-08-07 00:49] denru01 opened #3681 "Segmentation Fault When Importing Tensorflow"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-08-07 00:52] yaochx commented on #3479
The following should be a proper way:
add
cxx_builtin_include_directory: "/usr/local/cuda/include"
to
third_party/gpus/crosstool/CROSSTOOL

[2016-08-07 01:04] Zulqurnain24 commented on #2883
After going through the steps pointed out by Pete Warden I am getting following result:
"I /Users/mohammadzulqurnain/Downloads/tensorflow-master/tensorflow/contrib/ios_examples/camera/tensorflow_utils.mm:130] Session created.
I /Users/mohammadzulqurnain/Downloads/tensorflow-master/tensorflow/contrib/ios_examples/camera/tensorflow_utils.mm:133] Graph created.
E /Users/mohammadzulqurnain/Downloads/t

[2016-08-07 01:09] Zulqurnain24 commented on #2883
After going through the procedure told by Pete I am getting this result:
"I /Users/mohammadzulqurnain/Downloads/tensorflow-master/tensorflow/contrib/ios_examples/camera/tensorflow_utils.mm:130] Session created.
I /Users/mohammadzulqurnain/Downloads/tensorflow-master/tensorflow/contrib/ios_examples/camera/tensorflow_utils.mm:133] Graph created.
E /Users/mohammadzulqurnain/Downloads/tensorflow-maste

[2016-08-07 01:23] NeilGirdhar opened #3682 "Consider adding expm1 and log1p"
`expm1` is useful for inverting `tf.nn.softplus`:

[code]

`log1p` is useful for implementing `logaddexp`:

[code]

[2016-08-07 02:20] #3657 closed

[2016-08-07 02:30] poxvoculi commented on #3675
Marking as duplicate of #3676

[2016-08-07 02:30] #3675 closed

[2016-08-07 04:18] ashleyjsands commented on #3507
I'm having the exact same issues with the GTX 1080 and CUDA 7.5, but I am unable to successfully compile Tensorflow with CUDA 8.0. Is anybody able to share their compile Tensorflow whl file that works with CUDA 8.0?

[2016-08-07 04:30] vinayakumarr opened #3683 "query - neuraltranslation.py"
I was trying to execute neural_translation.py but it is generating the below error
![aa3385a2-5c29-11e6-8cd4-90113fca1e45](https://cloud.githubusercontent.com/assets/18217467/17460473/ca2b6b7a-5c85-11e6-83fc-01191ba64098.png)

[2016-08-07 05:39] zheng-xq commented on #3678
UVM is implemented through page-fault between CPU and GPU. It makes GPU program easier to be adopted, but not necessarily as fast as possible. Without more investigation, we are not sure this is suitable for high-performance machine learning. Note that the typical bandwidth across PCIE is often about two orders of magnitude slower than accessing the GPU dram itself.

If the model is indeed too lar

[2016-08-07 06:39] martinwicke commented on #2745
The monitors interface has changes recently, this may or may not work for 0.8.0. @jbohart are you also running on 0.8.0?

[2016-08-07 06:58] martinwicke commented on #3557
Yes, please submit a PR.

Try to stick to the style as you see it in other parts of the code (for contrib, for instance, stick to the directory structure you see in other contrib directories). For documentation, this is covered specifically in https://www.tensorflow.org/versions/r0.10/how_tos/documentation/index.html, but that's not all.

The code review we will do should surface other things.

[2016-08-07 07:42] mikowals opened #3684 "ExponentialMovingAverage.variables_to_restore() treats all vars like they have averages"
Use:

[code]

outputs `{u'Variable/ExponentialMovingAverage': <tensorflow.python.ops.variables.Variable object at 0x1139d1bd0>}`

I expect `variables_to_restore` not to append `/ExponentialMovingAverage` to the names of variables that do not have averages tracked.

I checked that `ema._averages` and `tf.get_collection(tf.GraphKeys.MOVING_AVERAGE_VARIABLES)` were indeed both empty.  Calling `ema.av

[2016-08-07 08:33] akors commented on #3507
@ashleyjsands I have one compiled from the master branch (I think it's labeled0.10rc0 or something), for Ubuntu 16.04.1. what is your system?

If it's incompatible to my whql, try these instructions for compilation: https://github.com/tensorflow/tensorflow/issues/2053#issuecomment-214891013

[2016-08-07 09:17] csyking commented on #1592
Hi @lorenlugosch, It's very kind of you. Looking forward to your good new!

[2016-08-07 09:22] tongda commented on #2033
I have similar problem.

OS: Ubuntu 14.04
Cuda: 7.5
cudnn: v4 for 7.0
tensorflow: 0.10

error message: F tensorflow/stream_executor/cuda/cuda_dnn.cc:423] could not set cudnn tensor descriptor: CUDNN_STATUS_BAD_PARAM

It seems like every time 1 epoch training finishes, tensorflow will fail with this message.

Any thought about this?

Thanks.

[2016-08-07 10:55] sammoes commented on #3641
The fix elsewhere fixes it, need to add -pthread and -lm to
~/models/syntaxnet/tensorflow/tensorflow/tools/proto_text$ ls
BUILD <-- this file's cc_lib structure

[2016-08-07 10:55] #3641 closed

[2016-08-07 13:06] jimdowling commented on #2655
Great. Any timeline on this?

[2016-08-07 14:03] cardshuffle opened #3685 "Unable to generate signed APK for project based on Android demo"
I wrote a simple app based on the Android demo that I got running successfully on my own device for debugging, using Bazel, and I'm planning on releasing it, but generating a signed APK fails.

### Environment info
Operating System: Ubuntu 14.04 LTS 64-bit

Installed version of CUDA and cuDNN: none

If installed from source, provide
1. The commit hash (`git rev-parse HEAD`): fc9162975e52978d3af385

[2016-08-07 14:06] Tondy opened #3686 "C++ API Usage :No such file or directory"
Hello

I am trying to run the image recognition library but have the error below.

I run :

wget https://storage.googleapis.com/download.tensorflow.org/models/inception_dec_2015.zip -O tensorflow/examples/label_image/data/inception_dec_2015.zip

Error

tensorflow/examples/label_image/data/inception_dec_2015.zip: No such file or directory

[2016-08-07 15:45] raingo opened #3687 "slice shape inference bug"
At current HEAD 32bd3d024f33e920a67a1081bc0ae0048350fdee with the following code,

[code]
The first dimension of B is unknown, but should be known. I have to use the `tf.slice` function to get the shape back:

[code]

[2016-08-07 18:43] josefinb opened #3688 "Error when trying to run tensorboard --logdir=some_path"
Hi,

I am using python 2.7 on Mac 10.11.4.

I get errors when I am trying to run tensorboard --logdir=path

where path is some path I have specified, i.e. 'visualizations'

It correctly creates the directory visualizations in my current working directory, but

if I run: tensorboard --logdir=path, I get:
SyntaxError: can't assign to operator

If I try: tensorboard --logdir=visualizations, I get:
Sy

[2016-08-07 20:49] kbirger opened #3689 "AttributeError: 'module' object has no attribute 'session'"
### Environment info
Operating System: Ubuntu 16.04

Installed version of CUDA and cuDNN:
None - using CPU version
If installed from binary pip package, provide:

1. Which pip package you installed.
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.9.0-cp27-none-linux_x86_64.whl
2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.
0.9.0

### Steps to re

[2016-08-07 21:33] #3689 closed

[2016-08-07 21:52] jbohart commented on #2745
Yes, I'm running 0.8.0.

[2016-08-07 22:02] NeilGirdhar commented on #3610
@poxvoculi This is a feature request.  He's suggesting that TensorFlow add a graph optimizer and he provided a motivating example.  Feature requests for TensorFlow belong on Github — not StackOverflow.

[2016-08-07 22:10] NeilGirdhar commented on #3610
In line with this request, I've been trying to abstract away some differences between theano and tensorflow (so that I can use either one).  My suggested interface for this feature would be something like what follows.  Instead of:

[code]

I would like something like:
[code]

[2016-08-07 22:29] terrytangyuan commented on #2745
@jbohart Could you try the latest version? It should be there now. [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/monitors.py#L606)

[2016-08-07 22:52] wackymaster opened #3690 "MNIST Prediction"
I used the MNIST-EXPERT.py to create a model by adding this to the end:

`save_path = saver.save(sess, "model.ckpt")  `
`print ("Model saved in file: ", save_path)`

Now that I have saved a model, how do I give it a picture of handwriting so it can figure it out?

Thanks

[2016-08-08 01:26] justdark commented on #3501
@wyli thanks a lot.

[2016-08-08 01:52] mrry opened #3692 "tf.tile() doesn't propagate shapes when `multiples` argument depends on a placeholder"
From [this Stack Overflow question](http://stackoverflow.com/q/38806136/3574081):

The solution is to use `tensor_util.constant_value_as_shape()` in the shape function for `tf.tile()`. I have a fix pending.

[2016-08-08 02:18] martinwicke commented on #3364
Sorry, the autoencoder example is terribly out of date and we haven't deprecated it properly. We need to clean up the examples. This should be converted to use a custom `Estimator` until we add a new DNNAutoencoder.

[2016-08-08 02:21] martinwicke commented on #3569
In the configure step, did you specify the same python you're usually using? My guess would be that you're getting a different installation of python, without numpy installed.

[2016-08-08 03:02] suiyuan2009 commented on #3464
op's attr can't be {type, list(type)}, so I suggest add a boolean to distinguish

[2016-08-08 03:19] alexmonroe87 commented on #1122
Has there been any progress made with speeding up batch norm?

[2016-08-08 04:13] adonisDias opened #3693 "MNIST TensorFlow Website Example problem"
Hi! When i run the example of MNIST Deep model (got on the tensorflow website) in a jupyter notebook i get this error: The kernel appears to have died. It will restart automatically.
This happens in the line:
print("test accuracy %g"%accuracy.eval(feed_dict={x: mnist.test.images, y_: mnist.test.labels, keep_prob: 1.0}))

COMPLETE CODE TENSORFLOW WEBSITE:
from tensorflow.examples.tutorials.mnist im

[2016-08-08 05:29] episodeyang commented on #622
Both solutions worked for me:

1.
[code]

2.
[code]

[2016-08-08 06:18] AlvinChen13 opened #3694 "Fail to build from source"
Hi all,

I just try to build tensorflow from source according to the steps described step by step, but I get the following error, anyone can help on it?
Thanks!

alvin@hal-dev:~/tensorflow-r0.9$ bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer
Found stale PID file (pid=29629). Server probably died abruptly, continuing...
.
unexpected pipe read status: Connection refused
S

[2016-08-08 06:46] untom commented on #3676
I'm assuming this is a duplicate of #3603

[2016-08-08 06:59] ppwwyyxx commented on #3676
Oh it seems so. Thanks. Will close due to duplication.

[2016-08-08 06:59] #3676 closed

[2016-08-08 07:29] jplu commented on #3569
Oh this is a good guess! Unfortunately the one specified in the configure is the good one :-(

My own guess is that it is somehow related to the issue #2703, I think my $PYTHONPATH variable is not loaded in the test environment and then it cannot find all my libs. I will do some test to check that and keep you posted.

[2016-08-08 07:30] hholst80 commented on #3638
I'd love to see GPU doing the same thing as the CPU code is doing, but as I said, the flag is unnecessary since it does not do anything on neither GPU nor CPU (and this behavior is undocumented as well).

If the exception thingy from GPU is too hard to do right now just put a NaN here instead of T(0)?
https://github.com/tensorflow/tensorflow/blob/c5f94b10bbb30e525fa3ca313e7ccb173040c90a/tensorflow

[2016-08-08 07:45] jplu commented on #3569
My guess was the good one, my Python environment is not loaded properly. I modified the file

[code]

To add these two lines at the beginning:

[code]

And this is what I have in the log file:

[code]

These three paths are missing:

[code]

Which correspond to my $PYTHONPATH environment variable.

[2016-08-08 08:23] martinwicke commented on #3569
@damienmg we have seen this before right? I couldn't find a bug open for bazel, and I forget whether this is intended behavior (it doesn't look like intended behavior to me).

[2016-08-08 08:53] akors commented on #3507
@ashleyjsands
Here's my version compiled for CUDA 8.0: https://dl.dropboxusercontent.com/u/1414175/tensorflow_gpu_cuda8-0.9.0-4fb28d6-py3-none-any.whl

You have to rename (or symlink) it to `tensorflow-0.9.0-py3-none-any.whl` to install.

[2016-08-08 09:05] lingz commented on #2146
Maybe we could open this issue back up then, so it's visible?

[2016-08-08 10:12] ashleyjsands commented on #3507
Thanks @akors. Yes, I'm using Ubuntuy 16.04, but I am using Python 2. I will give Python 3 a try and along with your whl file. Thanks for sending it through.

I tried your instructions for compilation previously, but I got stuck in the part when it came to editting the CROSSTOOL file as I apt-get install-ed gcc-4.9 on my machine and I couldn't figure out the correct paths to set for the cxx_builti

[2016-08-08 12:50] ibab commented on #3638
Here's an older issue that can be closed once this one is fixed: https://github.com/tensorflow/tensorflow/issues/3067

[2016-08-08 12:56] ibab commented on #3624
@sbrodeur: Are you currently working on this?
If not, I could go ahead and attempt a fix.

[2016-08-08 13:01] akors commented on #3507
Glad I could help.

First, for CUDA 8, you need GCC 5.3.1, which is not available in the Repos. You have to compile that manually. Second, here's my patch to the CROSSTOOL file:

[code]

[2016-08-08 13:13] ibab commented on #3346
@whdc: Are you still planning to have a look at this?
I can submit a quick fix if you're not planning to work on it.

[2016-08-08 13:18] lliu25 commented on #3631
sorry for the delay, but it seems libpng-dev is already installed
[code]

[2016-08-08 14:02] sbrodeur commented on #3624
I did not yet attempt a fix. I've looked a at little at Eigen:
"_By default, Eigen currently supports standard floating-point types (float, double, std::complex<float>, std::complex<double>, long double), as well as all native integer types (e.g., int, unsigned int, short, etc.), and bool._"
[https://eigen.tuxfamily.org/dox-devel/TopicCustomizingEigen.html]

Thus, for the simple calculations here,

[2016-08-08 14:07] KendallWeihe opened #3696 "conv3d_transpose not freeing memory"
This issue might be the same as #3128 (which is still awaiting Googler), but it is occurring in a different way. The above issue was run on a CPU. I have since upgrade to a GTX 1070 with 8GB RAM.

Instead of a Segmentation Fault, the program now runs until it runs out of memory -- in my case it runs for roughly 2000 iterations. Running on a CPU was spitting our a `free()` error, which leads me to

[2016-08-08 14:14] ibab commented on #3624
Yes, you won't have to implement the operations themselves, you just need to enable them.
For example, you can look at the supported types for the addition op here:
https://github.com/tensorflow/tensorflow/blob/32bd3d024f33e920a67a1081bc0ae0048350fdee/tensorflow/core/kernels/cwise_op_add.cc#L22
You would need to add `complex64` and `complex128` to the macro (and change it into `REGISTER6`).

You s

[2016-08-08 14:19] KendallWeihe commented on #3696
**UPDATE** Please stand-by, I have done more testing and I believe the issue might be elsewhere. I have tested on a different network, and it is still running out of memory.

[2016-08-08 14:27] sbrodeur commented on #3624
Thanks for the information @ibab! I will attempt a fix myself and send a PR soon!

[2016-08-08 14:42] ibab commented on #3638
@hholst80: You can only put `NaN` into the output if `T` is a floating point type, so I'm afraid that the idea can't work for all types :(

@zheng-xq: Do you know whether it's possible to somehow signal an error in TensorFlow after `OpKernel::Compute()` has already finished? It seems that this might not be possible through the `OpKernelContext`, as it's only guaranteed to live roughly until the en

[2016-08-08 15:21] KendallWeihe commented on #3696
**UPDATE** after

[2016-08-08 15:22] whdc commented on #3346
Please do! I've had too much to do!

On Monday, August 8, 2016, Igor Babuschkin <notifications@github.com> wrote:

[2016-08-08 15:39] #3696 closed

[2016-08-08 16:00] brando90 commented on #3632
Just to add more information to the discussion, in slurm one can explicitly say to assign jobs to nodes with GPU's. I've observed that the apparent "stalling" only happens when jobs are sent to machine that are suppose to be CPU only.

If the machine is artificially restricted to only use CPU but tensorflow detects GPUs, can tensorflow accidentally get stuck?

[2016-08-08 16:09] girving commented on #3694
This looks like a bazel issue.  @damienmg Do you know what's going wrong?

[2016-08-08 16:09] millisecond commented on #3295
I'm not the original author, but I'm having the same performance degradation when using the server.

Here's my training loop, which I believe is straight from one of the examples:

`for step in xrange(num_epochs * train_size // self.batch_size):
    offset = (step * self.batch_size) % train_size
    batch_data = train_data[offset:(offset + self.batch_size), :]
    batch_labels = train_labels[offse

[2016-08-08 16:11] girving commented on #3693
I don't think we have enough information.  Is that the full error message?

[2016-08-08 16:12] girving commented on #3690
This should be asked on StackOverflow, since it is not an issue in TensorFlow requiring improvement.

[2016-08-08 16:12] #3690 closed

[2016-08-08 16:14] girving commented on #3688
What are the full error messages?

[2016-08-08 16:24] aselle commented on #3421
@drcrook1, we don't want to take your password. Could you extract the code from the notebook that could be run on standalone python?
@sunilraiyani could you attach the full program that reproducies the issue?
Without a self-contained reproducible test case, we will need to close the issue.

[2016-08-08 16:25] aselle commented on #2919
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-08-08 16:25] #2919 closed

[2016-08-08 16:29] girving commented on #3687
@aselle Sounds like `strided_slice`.

[2016-08-08 16:31] girving commented on #3686
This sounds like an issue with how you are using wget, not an issue with tensorflow.  Maybe the directory doesn't exist?

[2016-08-08 16:31] #3686 closed

[2016-08-08 16:33] adonisDias commented on #3693
Yes, jupyter notebook shows just this message on the screen. I don't know if it has a different kind of log error output.

I did a little change in the code, specific in that last line. The new line is:

teste = mnist.test.next_batch(1500)
print("test accuracy %g"%accuracy.eval(feed_dict={x:teste[0], y_: teste[1], keep_prob: 1.0}))

And the code ran fine.
I am suspicious that is a memory problem.

[2016-08-08 16:34] girving commented on #3685
@petewarden Do you know if this is an issue on our end?

[2016-08-08 16:44] girving commented on #3683
@ilblackdragon Is this an error on our end?

[2016-08-08 16:46] ibab commented on #3346
I just realized that casting from/to complex numbers isn't actually supported by TensorFlow.
It will raise an error like
[code]
at runtime if you try to cast from/to complex numbers.
That also explains why the gradient for `cast` ignores complex numbers :(

@vrv: Is there interest in supporting casting complex numbers?
This would mirror what can be done in `numpy`, for example with
[code]
or
[code

[2016-08-08 16:46] girving commented on #3682
Yep, this would both be nice to have.

[2016-08-08 16:48] girving commented on #3680
@martinwicke Do we have a pip czar?  We don't have one listed in the spreadsheet.

[2016-08-08 16:53] vrv commented on #3346
Casting to complex numbers like numpy seems like a good idea!

[2016-08-08 16:54] girving commented on #3693
I have no familiarity with Jupyter notebooks.  @colah Any guesses?

[2016-08-08 17:03] mrry commented on #3356
I'm going to assume this is fixed now, and close the issue. Feel free to reopen if the problem persists!

[2016-08-08 17:03] #3356 closed

[2016-08-08 17:07] mrry commented on #3295
The server-based version uses an RPC (actually, two RPCs) to communicate the `feed_dict` to the TensorFlow runtime. There's a medium-term effort underway to improve the performance of this codepath when the data stays in the same process, but for now, for distributed training, we recommend using [input pipelines](https://www.tensorflow.org/versions/r0.10/how_tos/reading_data/index.html) so that th

[2016-08-08 17:07] girving commented on #3684
@sherrym Is this a bug?  The behavior of `variables_to_restore` seems somewhat elaborate.

[2016-08-08 17:08] ibab commented on #3682
I've had a quick look at Eigen to see whether these two are already supported as functors.
`log1p` is there, but `expm1` is missing.
That means a good start for `expm1` would be to add it to Eigen.
I think some extra work in Eigen is also needed to get `log1p` to work with GPU ops (e.g. adding it to `Eigen/src/Core/arch/CUDA/MathFunctions.h`)

[2016-08-08 17:09] girving commented on #3674
When you say `libcuda.so.1` should not exist, does it exist?  Usually this kind of error is caused by a bad path or bad cuda installation.

[2016-08-08 17:10] aselle commented on #3687
I assume you are expecting to get [5,None] from the inference.
In numpy style, if the slice range exceeds the original shape, it is clamped to the largest size possible.
This means that for tensors shaped 0, 1, 2, 3, 4 you will get tensors that are 0xNone, 1xNone, 2xNone, 3xNone, 4xNone. Only if the the placeholder is 5x10 or larger will you see a fixed value of 5.

[2016-08-08 17:12] girving commented on #3673
@cardshuffle If your final question is also covered by https://github.com/tensorflow/tensorflow/issues/3685, can I close this one?

[2016-08-08 17:14] girving commented on #3674
Also: CentOS isn't a fully supported platform, which may mean that our pip wheels don't work with it.

[2016-08-08 17:15] raingo commented on #3687
@aselle you are right. Thanks.

[2016-08-08 17:15] #3687 closed

[2016-08-08 17:19] girving commented on #3681
Unfortunately, this isn't enough information to help.  However, it sounds like you have dueling versions of glibc, and you're almost certainly going to need to compile your own version of TensorFlow to make this work.  Since we do not officially support CentOS, there's no guarantee that it will be solvable.

[2016-08-08 17:23] cardshuffle commented on #3673
Yes, logcat is available now that the project is properly opened in Android Studio.

[2016-08-08 17:24] #3673 closed

[2016-08-08 17:29] girving commented on #3631
@petewarden Is `IS_MOBILE_PLATFORM` defined for Raspberry Pi?  If so, what's the appropriate `PLATFORM_<foo>` macro?

[2016-08-08 17:30] girving commented on #3598
Closing due to lack of response.  We are happy to reopen if more details emerge!

[2016-08-08 17:31] #3598 closed

[2016-08-08 17:33] girving commented on #3582
@TylerBalsam Just arriving at this thread now; can you explain why you think this isn't just a model convergence issue?  Nothing in the thread implies there is a bug in TensorFlow to my eyes.

[2016-08-08 17:35] girving commented on #3567
Closing for now due to lack of response.  We are happy to reopen if more details emerge!

[2016-08-08 17:35] #3567 closed

[2016-08-08 17:41] girving commented on #3470
@mrry What are the next steps here?

[2016-08-08 17:41] girving commented on #3463
Closing since this seems resolved.

[2016-08-08 17:41] #3463 closed

[2016-08-08 17:47] girving commented on #3610
We do have plans for further graph optimization, and @NeilGirdhar is correct that design discussions do not belong on StackOverflow.  However, we do not have plans for fixing numerical issues with graph optimization, so I'm going to close the issue for now to keep the issue tracker focused.

[2016-08-08 17:48] girving commented on #3437
@martinwicke Should this be closed due to lack of response, or is there more checking to do?

[2016-08-08 17:51] girving commented on #3295
It sounds like @millisecond's question is answered, and there's been no response from the OP for a while, so I'm going to close this issue for now.

[2016-08-08 17:51] #3295 closed

[2016-08-08 17:52] girving commented on #3234
Closing for now due to lack of response.  @hellf I'm happy to reopen if more details emerge.

[2016-08-08 17:52] #3234 closed

[2016-08-08 17:53] girving commented on #3165
Closing for now since @martinwicke says this is fixed.

[2016-08-08 17:53] #3165 closed

[2016-08-08 17:54] #2787 closed

[2016-08-08 18:07] patfla opened #3699 "inline compiler switch for __memcpy_inline?"
Trying to build tensorflow on Ubuntu 16.04 with cuda 7.5 and gcc 4.9.3.

[code]

I think __memcpy_inline needs an inline compiler switch turned on but this is the first time I've used bazel, and just what where?

[2016-08-08 18:15] martinwicke commented on #3437
I do not know the status of this -- but it seems like an isolated thing. Closing, feel free to reopen with new information if it persists.

[2016-08-08 18:15] #3437 closed

[2016-08-08 18:33] vinayakumarr commented on #3683
Yes....it is working in tensorflow 7

[2016-08-08 18:40] buriy commented on #3092
https://github.com/tensorflow/models/issues/255 has a fix that appears to work for me and some other people.

[2016-08-08 20:34] vrv commented on #3603
@benoitsteiner any updates on this?

[2016-08-08 20:47] martinwicke commented on #2577
related but distinct: #3624

[2016-08-08 20:53] zheng-xq commented on #3638
If someone really wants to have this kernel report errors, here are some more details:

1. Add non-default attribute so the kernel can optional synchronize with GPU and check errors.
2. A more TensorFlow way is to change the kernel AsyncOpKernel, and check the errors and call "done" through ThenExecute. That way, the current thread is released to do other work. But ops following gather still canno

[2016-08-08 21:39] gunan commented on #2973
I would like to solve this for 0.10. Reopening the issue and assigning to myself.

[2016-08-08 21:51] georgedahl commented on #672
It should work for any TensorFlow graph, as far as I know. If it doesn't file a bug.

[2016-08-08 21:53] millisecond commented on #3295
Hmm, I rewrote everything for the CSV input pipeline and switched all training code over to that.  Network usage dropped off to a few KB/s (vs 2MB/s before), but it performs almost identically to the previous train.  Training directly on the worker takes 11s, using client-server it takes ~40s.

This is a CPU worker, might those be single-threaded?  Wondering if only GPU workers are expected.  On t

[2016-08-08 21:59] aselle commented on #2973
Thanks for letting us know this is still an issue @jared-mess

[2016-08-08 22:23] ibab commented on #3638
Thanks!
I think the checking shouldn't be optional, otherwise users will keep running into problems, so that would rule out option 1.
Option 2 still blocks ops that depend on gather. I think we should try to avoid this if we can.
Option 3 sounds good, but a `LOG(FATAL)` would crash the interpreter that the user might be running TensorFlow in, which isn't very nice. (But maybe this is easy to fix?)

[2016-08-08 23:14] zheng-xq commented on #3638
I've talked to my colleagues about modifying executor. It is trickier than we would like.

At this point, I think option 3 with LOG(FATAL) is the path with the least potential problems. I agree that it is not clean. But there are plenty of CHECK in TensorFlow, which does essentially the same thing. So if we put debugging information in that error message, perhaps it is more useful to people than i

[2016-08-08 23:30] girving commented on #3638
@zheng-xq Actually we've done quite a bit of work to remove `LOG(FATAL)` uses that can be triggered by the user.  The policy is that they should all be unreachable.  It would be a shame if `gather` did this.

[2016-08-08 23:54] zheng-xq commented on #3638
In that case, maybe we could explore the async error reporting as @ibab mentioned. The tricky part is that we need to hold executor to wait for all the error checks to finish at the end. Otherwise, the run could finish  successfully before the async error checking. And we need to be very careful that we don't cause a deadlock.

[2016-08-08 23:58] jhseu commented on #2655
There are some prerequisites that need to be done first for it to be useful (e.g. HDFS support). Definitely soonish, but I'd prefer not commit externally to a timeline :)

[2016-08-08 23:59] jhseu commented on #2655
Also, YARN has some complications that don't exist in Mesos and Kubernetes, so we're not completely sure we'll add support for it.

[2016-08-09 00:45] zhangwei0119 commented on #190
same problem here.

[2016-08-09 01:18] xiaorongfan opened #3701 "tensorflow won't release system memroy"
Hi all,

I started to use tensorflow one month ago. I briefly use it to train neural machine translation models.
I find that after several times of training,  there were a huge amount of memory not released. I have to reboot my machine after some numbers of training to release those memory.

I use the sample code( tensorflow/models/rnn/translate python translate.py) to train the model.

### Enviro

[2016-08-09 01:21] xiaorongfan commented on #3701
1. Add a maximum step number to terminate training normally.
2. replace

  with tf.Session() as sess:

with the following code:

  config = tf.ConfigProto()
  config.gpu_options.allow_growth=True
  sess = tf.Session(config=config)

  with tf.Graph().as_default(),sess:
3. close the session after training
    sess.close()
  del sess
4. the version of my nvidia driver is 352.79 now.
  I will update i

[2016-08-09 01:43] AlvinChen13 commented on #3694
while bazel is running, will it connect to google server?

[2016-08-09 02:29] girving commented on #3694
@AlvinChen13 Bazel uses a client/server architecture for distributed builds, but both the client and the server are on your local machine in this case.

[2016-08-09 02:32] jtoy commented on #616
im sure this is a complex issue,  but there seems to be a lot of problems around  saving/loading models. isnt this one of the fundamental things tensorflow and not the developer should take care of?

[2016-08-09 03:05] benoitsteiner commented on #3603
I have just started one last round of testing. If everything comes back clean this time I'll be able to submit the fix first tomorrow morning.

[2016-08-09 03:13] AlvinChen13 commented on #3694
@girving Is that to say I need run a bazel server in my local firstly? But after I install bazel, I haven't got server application.

[2016-08-09 03:47] zhedongzheng opened #3703 "tf.contrib.learn.TensorFlowRNNRegressor: "inputs must be a list!""
**throws error:
Traceback (most recent call last):
  File "rnn_test.py", line 9, in <module>
    regr.fit(np.array(X), np.array(y))
  File "/usr/local/lib/python3.4/dist-packages/tensorflow/contrib/learn/python/learn/estimators/base.py", line 160, in fit
    monitors=monitors)
  File "/usr/local/lib/python3.4/dist-packages/tensorflow/contrib/learn/python/learn/estimators/estimator.py", line 449, i

[2016-08-09 04:59] liusiqi43 opened #3704 "scalar_summary within map_fn hangs when run."
On tf 0.9, it seems that I cannot collect summaries from within map_fn. The following code would reproduce the problem:

[code]

If I unpack first and apply the function without map_fn, the code finishes as expected:

[code]

Is this a known issue? It seems the problem is with map_fn (or while_loop).

[2016-08-09 06:16] liusiqi43 commented on #3704
http://stackoverflow.com/questions/37571017/tensorflow-stuck-into-endless-loop-using-tf-while-loop

This might be related. As map_fn is in fact using while_loop internally, `fn` must NOT have side-effects and `scalar_summary` is in this case a side-effect. Is that right? If the dimension along which I need to split is unknown at graph construction time, is there any work-around that would let me c

[2016-08-09 07:19] DjangoPeng opened #3705 "Distributed seq2seq model stuck at the session.run()"
I'm applying the distributed seq2seq model:
   1 ps
   2 workers
but stuck at the

in the seq2seq_model.py, even though my params are very small(1 layers of 10 units)

my problem like the question on the below in stackoverflow:
(http://stackoverflow.com/questions/38319953/tensorflow-applying-syncreplicasoptimizer-to-seq2seq-model-with-buckets).

Tensorflow version: 0.9-GPU_Support

This is the log

[2016-08-09 07:32] umerebryx opened #3706 "Error: the tensor's graph is different from the session's graph"
I am using my previously trained models to generate deep dream images as decscribe in one of the [tutorials](https://render.githubusercontent.com/view/ipynb?commit=0685152a02f1fd4dbd711a023c1ccea5a8b8262b&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f74656e736f72666c6f772f74656e736f72666c6f772f303638353135326130326631666434646264373131613032336331636365613561386238323

[2016-08-09 08:56] kmu-leeky commented on #3701
I had a same issue like you. After upgrading the GPU driver from 352.79 to 367.35 (the newest one), the problem disappeared.

[2016-08-09 09:32] arita37 commented on #3678
Cuda 8 with Pascal has Nvlink which is 80Gb/sec, so Latency is very low between RAM.
It allows to create larger than GPU memory through single memory allocation,
At very low latency. Performance would be enhanced.

See the slides.

[2016-08-09 09:36] jzhang533 commented on #3585
you'll need to implement your own encoder,
for decoder part, you could use tf provided ones : rnn_decoder or attention_decoder
in tf0.9, they are implemented in
lib/python2.7/site-packages/tensorflow/python/ops/seq2seq.py
encoders already implemented in this file are good start points for implementing your own encoder.

[2016-08-09 11:53] dzhwinter commented on #2655
How tensorflow will support hdfs ? Any progress? I'm going to contribute on it.

[2016-08-09 12:28] tobegit3hub opened #3708 "Can not access GPU when run python script with bazel"
When we're using TensorFlow serving to train our model, we have found that the program is not able to access all the GPUs in that machine. This can be 100% reproduced and we add the following code for testing.

[code]

If we run the script with `python`, it prints all the GPUs normally. If we run with `bazel build` and `bazel run` for the same script, it prints the empty list.

### Environment inf

[2016-08-09 13:02] kunaldeo commented on #3494
Same issue here on 10.12 with Python 3.5.2:

[code]

[2016-08-09 13:37] gaohuazuo opened #3709 "random_uniform for int32 broken on GPU"
`tf.random_uniform` with `dtype=tf.int32` always produces `106199773` on GPU.

[code]

Environment:
CentOS 7
TensorFlow 0.9.0
GTX TITAN X
CUDA 7.5
NVIDIA 367.27

[2016-08-09 14:04] mrry commented on #3708
I suspect the problem is that, when you run the result of `bazel build`, the resulting binary uses a newly-compiled version of TensorFlow that has whatever compilation options you specify in the build command. By default, `bazel` will build a CPU-only version, and you need to specify `--config=cuda` to get a GPU version.

Can you try the following commands instead?

[code]

[2016-08-09 14:05] adonisDias commented on #3693
Hi Guys!!
The problem is solved. Really, it was a memory problem.
I installed ubuntu in my notebook (8 GB RAM) and the code ran fine (total memory used during the execution).
previously i was running in a virtual machine.
Thanks!!

[2016-08-09 14:10] gaohuazuo commented on #3709
This is likely caused by conversion between float and int.

[code]

[2016-08-09 14:11] zeis opened #3710 "function.Defun can't be applied to tf.Variable"
I need to specify a custom gradient for my custom_op() function. I've written the following example.

[code]

If I run the above example as it is I get the following result:

[code]

If I comment out the @function.Defun(...) decorator (with I use to specify a custom gradient function) I get a different result:

[code]

That is strange because custom_op_grad(op, grad) just returns grad, which I gue

[2016-08-09 14:42] Micy1919 opened #3711 "mnist_with_summaries.py error 'module' object has no attribute 'DT_HALF'"
when $python mnist_with_summaries.py
File "mnist_with_summaries.py", line 29, in <module>
    from tensorflow.examples.tutorials.mnist import input_data
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/examples/tutorials/mnist/__init__.py", line 21, in <module>
    from tensorflow.examples.tutorials.mnist import input_data
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/examples

[2016-08-09 15:06] #3371 closed

[2016-08-09 15:11] xksteven opened #3712 "gather_nd not working with API examples"
### Environment info
Operating System: Ubuntu 14.04

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
cuda 7.5
cudnn 4.0

python3
tensorflow version 0.9

#### Code:

    import tensorflow as tf
    x = tf.constant([[1,1,1,1],[1,2,3,4]],shape=(2,4))
    indices = [[0],[0]]
    y = tf.gather_nd(x,indices)

#### Error log messages
  File "/usr/loca

[2016-08-09 15:20] Micy1919 commented on #3711
Wrong version   solved it now

[2016-08-09 15:47] girving commented on #3693
Glad you figured it out!

[2016-08-09 15:47] #3693 closed

[2016-08-09 15:48] girving commented on #3694
@AlvinChen13 No, running bazel starts both client and server.  This seems like a bazel issue, which is why I'm checking with @damienmg.

[2016-08-09 15:59] girving commented on #3712
Support for partial indices in `gather_nd` (fewer indices than dimensions) was added quite recently.  You are you using a version of TensorFlow where each index tensor must have exactly the number of tensor dimensions.  The code should work at HEAD.

[2016-08-09 15:59] #3712 closed

[2016-08-09 15:59] #3711 closed

[2016-08-09 16:05] martinwicke commented on #3494
The question is, why does this work on our test machines? @yifeif any idea?

Can you try in a virtualenv? It often provides useful isolation. That said, this seems pervasive.

[2016-08-09 16:06] martinwicke commented on #2655
We're working on HDFS, it's close.

[2016-08-09 16:06] girving commented on #3710
If you comment out the `Defun`, it's computing the gradient of softplus correctly.  Your gradient function is wrong, since softplus isn't the identity function and doesn't have derivative 1, but computes what I'd expect given its implementation.

The fact that you can't apply a Defun to a variable is a bug.  @andydavis1: Could you take a look?

[2016-08-09 16:20] girving commented on #3709
That does seem like a bug, but it will be hard for us to reproduce since we don't have CentOS machines, and it doesn't seem to happen on what we do have.  Would you be up for investigating further?

[2016-08-09 16:23] girving commented on #3706
Please use markdown to format code so it is easier to read (I edited your comment to do that just now).

[2016-08-09 16:25] girving commented on #3706
This is unlikely to be a bug in TensorFlow.  I would suggest printing out `session.graph`.  Presumably it will be different from `out.graph`.  This is probably fixable by passing `graph=something` when making the session, but further details should be asked about on StackOverflow, not here.

[2016-08-09 16:25] #3706 closed

[2016-08-09 16:28] KendallWeihe commented on #3278
I posted [this](http://stackoverflow.com/questions/38855807/tensorflow-grid3lstmcell-visualization) to SO, it may be way I'm looking for. In which case we can close this issue.

[2016-08-09 16:28] renesax14 commented on #2165
are there any docs explaining how to actually use the 1D conv/CNN?

[2016-08-09 16:32] girving commented on #3704
@liusiqi43 Actually `scalar_summary` is just an op that returns a string; it doesn't have any side effects.  The problem is that you can't use `tf.merge_all_summaries` to link together outputs from across the while loop.  If you want this to work, you'd have to manually merge the summaries during the while loop using `tf.merge_summaries`.

However, hanging seems like unfortunate behavior.  @yuanby

[2016-08-09 16:33] girving commented on #3701
@xiaorongfan Can you check if that driver update fixes it for you too?

[2016-08-09 16:35] renesax14 commented on #1136
are there examples or docs that explain how to actually use the 1D convolution?

[2016-08-09 16:37] girving commented on #3699
@martinwicke Have you seen this before?

[2016-08-09 16:42] girving commented on #3705
If the events file is being updated, it's unlikely that the code is hanging inside `session.run`.  Why do you think it is hanging there?

[2016-08-09 16:44] kunaldeo commented on #3494
Above result is in virtualenv.

[2016-08-09 16:47] girving commented on #3703
The issue template asks for some information, including the version of TensorFlow, platform, etc.  Can you add this information?  TensorFlow at HEAD has a different error message, so it's possible something has been fixed (or changed) in the mean time.

[2016-08-09 17:00] zheng-xq commented on #3678
My understanding was that 80GB/s was between devices. The CPU/GPU communication through PCIE used by UVM is only a small fraction of that. And they are both much smaller than the 720GB/s when GPU accessing its own memory.

This is an active research area, and we might still find a good use of UVM down the road. But the current belief is that it is better to page in/out memory with CPU in parallel,

[2016-08-09 17:17] shyamalschandra opened #3714 "Tensorflow fails to install with python 2 (CPU-only) on MacOS 10.11.6. What to do?"
### Environment info
Operating System: MacOS 10.11.6

Installed version of CUDA and cuDNN:
n/a -- I chose the non-GPU edition of TensorFlow

If installed from binary pip package, provide:

See below...

If installed from source, provide

n/a

### Steps to reproduce
1. Try to install tensorflow with python 2 on MacOSX 10.11.6.

[code]

### What have you tried?
Nothing yet; what should I do?

### Lo

[2016-08-09 17:17] martinwicke commented on #3699
Never. I think switches would be in the crosstool, but it's weird we should need them (or rather, you should need some that we apparently don't). @damienmg any idea?

[2016-08-09 17:28] patfla commented on #3699
Sorry - "inline" ended up getting used in two contexts - in the code function name itself but I used it in the sense of: is adding __n to memcpy(a,b,n) valid in itself or does it need a special compiler switch?  Now that I think about it memcpy returns a pointer so this is just standard C pointer arithmetic in which case you don't need a complier switch.

If so then the question becomes: why is me

[2016-08-09 17:43] dzhwinter opened #3715 "convert_to_records meet a bug"
When I run the convert_to_records in how_to demo, show me the message.
I just trash the reshape parameter and meet other bugs, it seems simple to fix.

[code]

[2016-08-09 18:02] mrry commented on #3470
Without a heap profile or a simple repro, there's not much more I can do.

@hholst80 I'm not familiar with tmuxinator, so I'm not sure if it is causing problems with producing a heap profile. Could you perhaps slim down the example so that you can create two processes from the command line, with no external dependencies?

[2016-08-09 18:45] renesax14 commented on #1136
example: http://stackoverflow.com/questions/38114534/basic-1d-convolution-in-tensorflow/38117279#comment65079952_38117279

[2016-08-09 18:57] siabar opened #3716 "Seq2Seq - Place different LSTM layers on separate GPUs"
Dears

Based on the discussion on https://github.com/tensorflow/tensorflow/issues/600, I would like to place different LSTM layers on separate GPUs to improve the accuracy and speed.
Can someone help me?

With Best Wishes,
Siamak

[2016-08-09 19:34] patfla commented on #3699
As I iteratively re-execute the build for tutorials_example_trainer I find that the target at which it fails can change:

[code]
That makes me begin to question how bazel keeps state.

[code]

That's not a good indication (less state is usually better) and makes me wonder just what I'm investigating here.  Certainly not, neural net architectures.

Maybe a different version of bazel would help?

[c

[2016-08-09 19:45] Mazecreator opened #3717 "Undefined Inputs on MatMul in Trace File (GPU Only)"
I am still working on solving my performance issue with a Reinforcement Learning system as stated in #3320 and have a question about reading the trace files in Chrome with "chrome:trace".

I am trying to debug and speed up my graph.  I am seeing multiple copies of some of the graph ops with "undefined" for both inputs for MatMul when GPU is in use, but not for CPU.  This seems to be the only Op I

[2016-08-09 21:18] jacksonloper commented on #386
Is there any update on FFT on the CPU?  Are fftw license issues still killing us?

[2016-08-09 21:37] flx42 commented on #3699
On 16.04, you should use CUDA 8.0 instead.

[2016-08-09 22:35] thomasquintana commented on #3663
+1 I'm having the same issue with the scan function.

[2016-08-09 22:44] patfla commented on #3699
I tried that but backed out because something somewhere (don't remember exactly what) told me in effect: you can't get there from here.

Oh yes, it was probably because I didn't find an 8.0-compatible cudNN ...

[code]
Yes, that's what sent me back to 7.5.

Ah wait a min:

`Download cuDNN v5 (May 27, 2016), for CUDA 8.0 RC
`

Oh well, it doesn't hurt to go through these drills multiple times.

Tha

[2016-08-09 22:47] barimohsin commented on #3663
+1. scan issues in nested condition throwing exception

[2016-08-09 23:32] girving commented on #3527
Removing my assignment since I can't debug this personally.  Still happy to help with advice and code reviews.

[2016-08-09 23:36] girving commented on #2358
Removing my assignment since I won't have time to work on this personally.  @rryan Could you comment on my gradient question?  If there's a reasonable path forward we can mark this contributions welcome, but I'm not sure how the temporary variables stuff works.

[2016-08-09 23:37] jmchen-g commented on #2397
One thing you guys can try is to remove the function to modify the image in the image_preprocess code and see if it helps. If yes, then it means the CPU just couldn't feed this many GPUs concurrently. Otherwise, it could mean that the bandwidth is not enough or some other system bottleneck.

[2016-08-09 23:39] girving commented on #783
I'm going to close this for now.  It's a marginal benefit with an unfortunately large amount of work, since introducing `Zeros` or similar will break a lot of downstream code.

[2016-08-09 23:39] #783 closed

[2016-08-09 23:41] girving commented on #439
@martinwicke Do you want to triage this further, or should we just close?

[2016-08-09 23:43] girving commented on #436
Apologies: looks like this one fell through the cracks.  Removing assignment for purposes of upcoming bug scrub.

[2016-08-09 23:45] martinwicke commented on #439
We can close this. It's hard to see what we can do about it. It may actually be fixed now that we made the GPU code work on Mac.

[2016-08-09 23:45] #439 closed

[2016-08-09 23:58] xiaorongfan commented on #3701
kmu-leeky
Thank you for you information. Because the administrator is on vacation now, I can only upgrade GPU driver next week. I will report the result later.

[2016-08-10 00:03] poxvoculi commented on #3640
Doh!  Sorry for not seeing the issue here sooner.  tf.train.example is a protocol message whose internal representation uses some kind of map.  The order in which the map entries are stored in serializied-format is non-deterministic, so that's where your checksum differences come from, even though the ASCII serializations are identical.  This should be clear enough if you squint at your example1.t

[2016-08-10 00:03] #3640 closed

[2016-08-10 00:24] vladfi1 opened #3719 "Log sigmoid"
It would be nice to have a numerically stable log_sigmoid similar to the existing log_softmax.

[2016-08-10 00:27] kmu-leeky commented on #3701
@xiaorongfan my pleasure
@girving Out of curiosity, do you know what is the root cause for this issue? How does the old version of GPU driver and Tensorflow system memory management conflicts? If you can redirect me to an article to elaborate it, it would be appreciated.

[2016-08-10 00:34] yaroslavvb commented on #783
I've been using this work-around

def replace_none_with_zero(l):
  return [0 if i==None else i for i in l]

grads = replace_none_with_zero(tf.gradients([grads[0]], [x, y]))

On Tue, Aug 9, 2016 at 4:39 PM, Geoffrey Irving <notifications@github.com>
wrote:

[2016-08-10 00:36] jadewon commented on #37
+1

[2016-08-10 00:42] girving commented on #3701
@kmu-leeky Unfortunately I do know or the reason, or of such an article.

[2016-08-10 00:47] patfla commented on #3699
Hmm - installed all of 8.0.  The build gets much further but then this:

[code]

crosstool_wrapper_driver_is_not_gcc failed

[2016-08-10 00:56] yaroslavvb commented on #3699
That's not an actual error, there's should be more info about the true
error from the child script.

There was similar configuration problem in the SO question below, solved by
doing `bazel clean`

http://stackoverflow.com/questions/38794497/tensorflow-bazel-0-3-0-build-cuda-8-0-gtx-1070-fails/38795005#comment64963046_38795005

On Tue, Aug 9, 2016 at 5:47 PM, patfla <notifications@github.com> wrot

[2016-08-10 01:00] yaroslavvb commented on #2358
I thought there was a thread a while back (Feb) from @vanhoucke about how
to do scatter add without using variables. If you can do without variables,
you can use same op to do it using same op hundreds of thousands of times
by using persistent Tensors, since memory is recycled as soon as Python
handle is unassigned

On Tue, Aug 9, 2016 at 4:36 PM, Geoffrey Irving <notifications@github.com>
wrote:

[2016-08-10 01:11] lukaszkaiser commented on #1286
Since this is part of a general move of layers/slim into core and merging RNN with that, I'm closing it for now.

[2016-08-10 01:11] #1286 closed

[2016-08-10 01:39] vrv commented on #3701
My guess is that we aggressively use host-pinned GPU memory to make GPU->CPU transfers faster, and there was probably a driver bug that leaks the memory allocated in this fashion.  But impossible to know for sure since cuda driver is closed source :)

[2016-08-10 01:39] #3701 closed

[2016-08-10 01:40] DjangoPeng commented on #3705
@girving Thx for your comment.
I find the Supervisor class, and it's __init__ is as below:

               init_op=USE_DEFAULT, init_feed_dict=None,
               local_init_op=USE_DEFAULT, logdir=None,
               summary_op=USE_DEFAULT, saver=USE_DEFAULT,
               global_step=USE_DEFAULT, save_summaries_secs=120,
               save_model_secs=600, recovery_wait_secs=30, stop_grace_sec

[2016-08-10 01:44] girving commented on #3705
@DjangoPeng I don't understand how your comment is related to my question.  What is your evidence that it's hanging inside `sess.run()`?  It's possible I'm missing something obvious, but as is we don't have enough information to help.

[2016-08-10 01:55] DjangoPeng commented on #3705
@girving Ok，let me clear.
I add two `prints` between the `session.run`:

           bucket_id, forward_only):

    # Check if the sizes match.
    encoder_size, decoder_size = self.buckets[bucket_id]
    if len(encoder_inputs) != encoder_size:
      raise ValueError("Encoder length must be equal to the one in bucket,"
                       " %d != %d." % (len(encoder_inputs), encoder_size))
    i

[2016-08-10 01:59] DjangoPeng commented on #3705
[code]

[2016-08-10 02:10] tobegit3hub commented on #3708
Thanks @mrry . It works like exactly what you suspect and now the process is able to "see" the GPUs.

But I have another problem about the cuda compute capability version. I'm running this in AWS g2.8xlarge instance with NVIDIA K520 GPU which is cuda compute capability 3.0. I will try `TF_UNOFFICIAL_SETTING=1 ./configure` which may fix this.

![screen shot 2016-08-10 at 09 54 20](https://cloud.git

[2016-08-10 02:19] altaetran commented on #2358
Hey, this sounds really promising. Do you think you could provide a simple example of how one might do this? I'm not too familiar with persistent tensors. Thanks!

[2016-08-10 02:22] tobegit3hub commented on #3708
After `TF_UNOFFICIAL_SETTING=1 ./configure` and setting the min compute capability as 3.0, it works like run `python` in my local environment. Not a bug of `bazel` or `TensorFlow`.

Thanks @mrry for detailed explaination and it would be better to add more documents about this.

[2016-08-10 02:22] #3708 closed

[2016-08-10 03:09] gaohuazuo commented on #3709
Yes, I would like to.

[2016-08-10 03:16] DjangoPeng commented on #3705
Now I add the `init_tokens_op` and `chief_queue_runner`.  It cause a AttributeError!
[code]
seq2seq_model.py:
[code]
translate.py:
[code]

[2016-08-10 03:38] kchen92 opened #3721 "contrib outputs_collections bug"
# Problem description

TensorFlow version r0.10

It seems to me that there is a bug with the outputs_collections in tensorflow/tensorflow/contrib/layers. When trying to add the outputs of the layers (say, conv2d) to the tf.GraphKeys.ACTIVATIONS collection, I run into errors with NamedOutputs such as the following:

[code]

# Root of problem

## README and code are not consistent

The readme (locat

[2016-08-10 03:55] ashvsdata commented on #3714
Do not use sudo pip on Mac. use `pip install --user <package_name>`

[2016-08-10 05:13] yaroslavvb commented on #2358
sure, I'll put an example together tomorrow

On Tue, Aug 9, 2016 at 7:19 PM, Han Altae-Tran <notifications@github.com>
wrote:

[2016-08-10 05:22] yaroslavvb commented on #3714
El Capitan has a protection feature built-in that prevents overwriting some
python dirs even with sudo

On Tue, Aug 9, 2016 at 8:55 PM, ashvsdata <notifications@github.com> wrote:

[2016-08-10 05:59] bhack commented on #2218
See also https://github.com/tensorflow/tensorflow/issues/2655#issuecomment-238602661

[2016-08-10 06:52] npanpaliya opened #3722 "Tensorflow build fails due to farmhash build failure on ppc64le"
Tensorflow's external dependency named farmhash fails to build on Ubuntu 14.04 linux ppc64le. If I manually edit the config.guess of farmhash to add a case for ppc64le, then it works. So, I wanted to know how can I contribute this fix back to repo as farmhash is not git cloned by tensorflow, rather a zip archive is downloaded from [farmhash download url](https://github.com/google/farmhash/archive/

[2016-08-10 06:56] vrv commented on #3722
We download by git hash: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/workspace.bzl#L35

So if you make a PR to farmhash, and it gets merged, we can update the hash in workspace.bzl and farmhash.BUILD to point to the version that has your commit.

[2016-08-10 06:59] ojss opened #3723 "_pywrap_tensorflow module not found on OS X 10.11.6 after compiling and building a package"
I compiled tensorflow from the source with CUDA support. After installing the wheel I was greeted with an error(listed below). The compilation without CUDA support is successful.

I cant figure out what the problem is.

**All of this was done in a Virtualenv Python version: 2.7.12**
### Environment info

Operating System:
Mac OS X(10.11.6)
Installed version of CUDA and cuDNN:
`-rwxr-xr-x  1 root

[2016-08-10 07:34] ashvsdata commented on #3723
Can you try in a different shell? I hit this error when I am using bash. But, with fish shell I get a SEGMENTATION FAULT on Python

[2016-08-10 07:46] ojss commented on #3723
Tried that. Still the same error.

Another thing I did was installed the TF binary with GPU support. Tried importing in a different shell(fish).
Got this error:
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/ojas/.pyenv/versions/ve2/lib/python2.7/site-packages/tensorflow/__init__.py", line 23, in <module>
    from tensorflow.python import *
  File "/Users/

[2016-08-10 08:03] gclouding opened #3724 "Source-compiled .whl package is much slower in training"
Recently, from my experiment, I found that running inception model using the .whl file generated by myself is much slower than using .whl file downloaded directly from the $TF_BINARY_URL.

### Environment info
Operating System: ubuntu14.04
CUDA: cuda7.5
CUDNN: cudnn 5

I followed the instructions
./configure
bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package
bazel-bi

[2016-08-10 08:25] tangruiming opened #3725 "FTRL implementation in tensorflow V.S. FTRL in Google's research paper"
Hello, every one!

I am interested in digging the details how FTRL is implemented in tensorflow. I find some information in the file "gen_training_ops.py" in the folder /tensorflow/python/training. In this file, the formula of FTRL algorithm is described as follows:

[code]

I am also reading the paper "Ad Click Prediction: a View from the Trenches" by Google in KDD'13. The formula of FTRL algorit

[2016-08-10 08:25] npanpaliya commented on #3722
Okay. Thanks a lot!

[2016-08-10 08:29] HeikoSchuett opened #3726 "nested scan functions break in gradient calculation, bug?"
I tried to produce some code to read out the values at multiple locations from a vector of results. To do this I used two nested scan functions to go through the batches and the vector of the multiple locations.
This function correctly calculates the values when used alone, but when I want to calculate gradients, the code breaks at initialisation of the variables in the session with a error messag

[2016-08-10 09:09] DjangoPeng opened #3727 "distributed seq2seq: too much device placement logs"
I'm trying the distributed seq2seq model. But when I run the program, there are too much device placement logs. Just like this below:
[code]
While when I run the original seq2seq model in single machine, I don't have the problem. I locate the `simple_placer.cc:818`, finding they are really log ouputs.

## Why does it output in the distributed model?
simple_placer.cc
[code]

[2016-08-10 09:13] albicasty commented on #1592
@mrastegari  May you share the model for the Resnet-14? I am training it starting from the model you proposed in your implementation (with some modifications) but the progresses seem to be very slow.

[2016-08-10 09:47] brando90 commented on #1122
I was trying to use batch norm with a 2 layered densely connected NN with the (flatten) MNIST data set for the task of auto-encoding  and I keep getting a NaN error. Anyone know why might this be? Is this ever possible with BN? seem fishy, but it couldn't be my learning rate etc.

[2016-08-10 10:30] jbwenisch opened #3728 "contrib.learn.DNNRegressor not compatible for e.g. GridSearchCV"
Imho the new architecture of contrib.learn.DNNRegressor (compared to the old contrib.learn.TensorflowDNNRegressor) makes it impossible to properly use things like GridSearchCV from sklearn. To use GridSearchCV I have to pass all parameters to be tuned to the constructor. In the new architecture of DNNRegressor some parameters are passed to the fit-method which is quite untypical for sklearns archi

[2016-08-10 12:35] npanpaliya commented on #3545
@cwhipkey could you please let us know your thoughts?

[2016-08-10 12:51] dzhwinter opened #3729 "[started] convert to records example in tutorial?"
As far as i know, the started document only provide a example with mnist example, however, really confused about how tensorflow handle an sparse example.
when it comes to linear model, the libsvm format always be a popular format in research and industry. But how to convert libsvm format entries to tensorflow records? How will an entry represent in tensorflow? in column ways or in row ways?

e.g.

[2016-08-10 14:40] girving commented on #3705
I believe `sv.chief_queue_runner` is supposed to be set to a `QueueRunner`, not a function that returns a `QueueRunner`.  Try adding empty parentheses so that the function gets called.

[2016-08-10 14:46] m-colombo opened #3730 "tf.round != np.round"
Looks like tensorflow and numpy use different tie-breaking rules:

[code]

Both are sound, so actually there's no bug, however since tf and np are tightly coupled is worth considering to uniform them or at least to explictly mention it in the doc.
Especially because np is often used as ground truth for tf tests.
### Environment info
- Operating System: Mac OS X
- TensorFlow: 0.10.0rc0
- https://st

[2016-08-10 15:23] cwhipkey commented on #3549
Regarding the question: "@cwhipkey do you know if there is a public example of this yet?", no there is no public example yet of creating a selective-registration header.

[2016-08-10 15:26] jlowin opened #3731 "0.10.0rc0: tf.pack uses the wrong negative axis"
When supplied a negative axis, tf.pack() actually operates on `(axis - 1)`. For example, providing `axis=-1` operates on the second-to-last axis, not the last axis.

This code illustrates the issue:

[code]
### Environment info
Operating System:
macOS 10.11

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
N/A

If installed from binary pip packa

[2016-08-10 15:54] ebrevdo commented on #3420
@ASDen apologies; in fact, there is no execution barrier because the following can be run in parallel:

chunk 1:
reverse x
y_rev = lstm(x_rev)
y_bak = reverse y_rev

chunk 2:
y_fw = lstm(x)

then you need to wait for both of these chunks to finish before you can concat them.

dynamic bidirectional rnn doesn't even bother with the concat - you get both pieces and can concat them if you wish.

right

[2016-08-10 15:57] ebrevdo commented on #3420
@avostryakov can you provide some details about the sizes of your inputs, number of frames, depth of your RNN, and cell size?

[2016-08-10 16:14] ebrevdo commented on #1830
Right now there are two solutions:  the slower `tf.reverse_sequence` followed by pulling out the 0th index, or using `tf.gather_nd`.  Note that `gather_nd` does not currently have a gradient defined.  We're working on that now, but it's not blocking.  So I'm marking this as resolved.

[2016-08-10 16:14] #1830 closed

[2016-08-10 16:14] yaroslavvb commented on #3724
You need to build with -c opt, ie
bazel build -c opt inception/imagenet_train

On Wed, Aug 10, 2016 at 1:03 AM, gclouding <notifications@github.com> wrote:

[2016-08-10 16:14] suiyuan2009 commented on #3464
@concretevitamin since attr can't be set as {type, list(type)}, if it's set as list(type), then this op will always return [...] instead of ... , I want to make C++ api and python api same as each other, I need help.

[2016-08-10 16:16] ebrevdo commented on #837
@josh11b could this be due to lack of caching in the readers?  not sure if this bug is still relevant given the changes that have been pushed between when this bug report and now.

[2016-08-10 16:17] girving commented on #3731
This looks like a bug in shape inference, actually.  What happens if you evaluate the tensors?

[2016-08-10 16:18] ebrevdo commented on #3334
@yuanbyu another reason to split up cond/case into if_then type statements?

[2016-08-10 16:21] ebrevdo commented on #3459
@yuanbyu you have a change that probably fixes this, yes?

[2016-08-10 16:22] girving commented on #3730
@martinwicke What's the status of native round?  We currently just use `floor`.

[2016-08-10 16:24] girving commented on #3729
I think these questions would be better on StackOverflow.  You're welcome to submit a tutorial yourself, but otherwise I'll close this issue for now, since Github issues are more for code bugs and feature requests.

[2016-08-10 16:24] #3729 closed

[2016-08-10 16:25] girving commented on #3728
@ilblackdragon Can you comment?

[2016-08-10 16:26] girving commented on #3727
What is the bug here?  The logs can be turned off by setting `log_device_placement=false` in the config.

[2016-08-10 16:27] yaroslavvb commented on #3723
The `libcudart.7.5.dylib not found` error happens when you don't set `DYLD_LIBRARY_PATH` correctly

[2016-08-10 16:29] girving commented on #3725
Unless you think there is a bug, this question would be better asked on StackOverflow.  Github issues are for code bugs and feature requests, not requests for clarification.

[2016-08-10 16:31] girving commented on #3724
To expand on Yaroslav's comment: you need to give options to bazel every time you run it.  If you run it twice with different options, it will discard anything built with the older options.

[2016-08-10 16:31] #3724 closed

[2016-08-10 16:32] martinwicke commented on #3730
Never reinstated it. We should.
On Wed, Aug 10, 2016 at 09:23 Geoffrey Irving <notifications@github.com>
wrote:

[2016-08-10 16:35] girving commented on #3719
Do you mean `-tf.softplus`?

[2016-08-10 16:38] girving commented on #3716
Please ask questions about how to use TensorFlow on StackOverflow, not as Github issues.

[2016-08-10 16:38] #3716 closed

[2016-08-10 16:42] girving commented on #3721
@martinwicke Is this a `tf.learn` API inconsistency?

[2016-08-10 16:44] girving commented on #3717
@prb12 What does undefined mean here?  If this is expected behavior, more details would be better sought on StackOverflow.

[2016-08-10 16:52] girving commented on #3715
We'll need more information:

1. Which tutorial code are you copying from?
2. Which `read_data_sets` function doesn't have a reshape argument?

The only tutorial which I see using a `reshape` argument calls a `read_data_sets` function that does take that argument.

[2016-08-10 16:53] zeis opened #3732 "partial_run, feed placeholder already been fed"
The following code gives this error: 'InvalidArgumentError: The feed Placeholder:0 had already been fed.' I'm not sure if it is expected behaviour.

[code]

I get the error both on version '0.9.0' and on a yesterday's GitHub snapshot.

[2016-08-10 17:05] yuanbyu commented on #3459
Yes. It is CL/129785041 that you reviewed.  -Yuan

On Wed, Aug 10, 2016 at 9:22 AM, ebrevdo <notifications@github.com> wrote:

[2016-08-10 17:10] avostryakov commented on #2397
Did you try to increase "replicas_to_aggregate" parameter? It looks it can increase the speed of training because fewer synchronizations will be done.

[2016-08-10 17:25] danmane commented on #3592
Zoom doesn't work on those histograms. That's currently working as intended. In a future release, we will rename the histograms to "distribution charts" and add in true histogram charts which are much nicer.

For the performance issues: in the future, we hope to improve performance for large numbers of charts in a single group, but it's not on the immediate roadmap. We are actively working on ways

[2016-08-10 17:26] danmane commented on #3548
There is no such option, and no plans for one at this time.

[2016-08-10 17:26] #3548 closed

[2016-08-10 17:27] danmane commented on #3267
This is fixed in the latest release.

[2016-08-10 17:30] josh11b commented on #837
I believe there is now the ability to read batches from a reader that can reduce overhead, assuming there is no problem with the examples having different dimensions.  Also I recall someone is working on ParseExample performance improvements?

[2016-08-10 17:30] danmane commented on #2729
Thanks for the report. In the coming few months we're planning to prioritize making the graph visualizer more useful on a wider range of models; we'll revisit this issue then. For now, I'm going to close this to keep issue tracking manageable.

[2016-08-10 17:30] #2729 closed

[2016-08-10 17:32] danmane commented on #2603
Sorry I disappeared. You're right that adding a route to handler.py and modifying the js behaviors is a good way to go.

There's no ETA on the broader TensorBoard changes that will switch to streaming.

[2016-08-10 17:33] ojss commented on #3723
I have set that correctly.
Verified by running deviceQuery, unless thats not the point of deviceQuery.

[2016-08-10 17:33] danmane commented on #2454
Hyperparameter & run description for tensorboard is now under active development.
I'm closing this issue to make for easier issue tracking.

[2016-08-10 17:33] #2454 closed

[2016-08-10 17:34] danmane commented on #2186
I believe this was fixed.

[2016-08-10 17:34] #2186 closed

[2016-08-10 17:35] danmane commented on #1978
Closing due to lack of activity.

[2016-08-10 17:35] #1978 closed

[2016-08-10 17:36] jart commented on #2862
Thanks for reporting this issue @qbx2. I'm doing a bunch of work on polishing the images dashboard right now. I'll make sure this gets fixed in the near future.

[2016-08-10 17:36] danmane commented on #458
Closing this since we aren't likely to work on it soon, and it's probably too large and involved a change for external contributors.

[2016-08-10 17:36] #458 closed

[2016-08-10 17:37] danmane commented on #335
Once we have plugin support in TensorBoard, this will be a good candidate for a plugin. But I'm going to close it for now since it won't be easy to write plugins for a few months.

[2016-08-10 17:37] #335 closed

[2016-08-10 17:37] yaroslavvb commented on #3723
OK, I've actually had this same issue before, and it was fixed by disabling System Integrity Protection, here's the thread for some debugging tips -- https://github.com/tensorflow/tensorflow/pull/2557#issuecomment-224155895

[2016-08-10 17:40] danmane commented on #329
@b78 Sorry, I don't have a code example on hand. This would be a good question for StackOverflow, rather than issues.

I'm not prioritizing getting two summaries into one plot, and it's probably too complicated for a pull request, so I'm going to close this issue. Maybe once TensorBoard has plugin support it will make sense to revisit this issue.

[2016-08-10 17:40] #329 closed

[2016-08-10 17:42] yaroslavvb commented on #3723
You could run it under `sudo dtruss` to see where it's trying to look for the `dylib`. Also, I've had to disable SIP (system integrity protection) for it to work, although that had extra `dyld: warning` messages in error log

[2016-08-10 18:02] NathanHowell commented on #338
Looks like support for zlib compressed TFRecords was added in 90bad51f97cc32dc9bc8e2ffb3e81b65cec37dfb

[2016-08-10 18:07] alexcolburn commented on #2940
There is a bug with loading libcuda.dylib - the default cuda install creates libcuda.dylib, but tensorflow tries to load libcuda.1.dylib .  This fails, resorting to using the LD_LIBRARY_PATH which if NULL crashes.  If you copy libcuda.dylib to libcuda.1.dylib it loads fine.

[2016-08-10 18:33] #3692 closed

[2016-08-10 18:38] rubenstern commented on #3539
1) and 2) doesn't work : I got the same error.

How can I make a wrapper that will do the work of constructing new estimator and returning ?

[2016-08-10 18:57] akors commented on #2454
Hi, this is great news! Is there a tracking bug or anything to get notified, when you have implemented this feature?

[2016-08-10 19:02] O1Davies commented on #1244
@thatindiandude above solution for upgrading protobuf did it for me on MacOS. Thx.

[2016-08-10 19:06] samjabrahams opened #3735 "Giving `name` attributes to `Graph` and `Session`"
I wanted to gauge thoughts on adding a string `name` attribute to `Graph` and `Session` objects. Currently, there's no programmatic way to identify specific Graphs or Sessions from a generic handle.

There's no mechanism to ensure unique graph/session names (unless I'm mistaken), but it should still be beneficial even without guaranteeing unique names. In a larger system that may be tossing around

[2016-08-10 19:10] jayswinney commented on #3703
I just reproduced this error using 0.8.0

Some system info:

CPython 3.4.4
IPython 4.1.2

compiler   : GCC 4.4.7 20120313 (Red Hat 4.4.7-1)
system     : Linux (Ubuntu 16.04)
release    : 4.4.0-31-generic
machine    : x86_64
processor  : x86_64
CPU cores  : 4
interpreter: 64bit

[2016-08-10 19:19] jlowin commented on #3731
@girving Yep, I think you're right:
[code]
And indeed, trying to `eval` the unpack/pack combination at the end of my snippet raises a shape mismatch  error.

[2016-08-10 19:21] akors commented on #3267
@danmane Is this head already pushed? I just tried with 8c10acb2039af47f3a2940281b3e056e9789a82d , and after I delete event files, I still get errors:

`ERROR:tensorflow:Unable to reload accumulator 'dbg_tcmalloc': [Errno 2] No such file or directory: '/fast/cavitylearn/dataset-test/logs/dbg_tcmalloc'
ERROR:tensorflow:Unable to reload accumulator 'dbg_tcmalloc/test': [Errno 2] No such file or dire

[2016-08-10 19:24] RenatoUtsch commented on #2813
Fixed by 6b08d99, #3733 and #3734.

[2016-08-10 19:24] #2813 closed

[2016-08-10 19:36] yaroslavvb commented on #3731
Shape inference there
<https://github.com/tensorflow/tensorflow/blob/2a10e469d70827ede21c0bb5d0a46aac97404d4c/tensorflow/python/ops/array_ops.py#L772>
doesn't have special logic for negative axis
input_shape.insert(op.get_attr("axis"), len(op.inputs))

So if axis is "-1", it just does "shapelist.insert(-1, stuff)"
It should probably mirror the logic from the C++ implementation
GetAxisForPackAndUnp

[2016-08-10 19:38] avostryakov commented on #3420
@ebrevdo Size of input: 100, Number of time steps: 400, Depth: 2-3 layers if I understood correctly, cell size (hidden state size): 400.

[2016-08-10 20:05] danmane commented on #2813
(The fix won't propagate to the website until the next rebuild. )

[2016-08-10 20:10] girving commented on #3731
I'm in the process of locating the Github account of the axis attr's author.

On the other hand, @cwhipkey: Are we far enough along that Python shape inference routines can go away?

[2016-08-10 20:12] girving commented on #3703
@jayswinney 0.8.0 is two releases ago.  Could you try again with 0.10?

[2016-08-10 20:19] cwhipkey commented on #3731
On Wed, Aug 10, 2016 at 1:12 PM, Geoffrey Irving <notifications@github.com>
wrote:

I think we are still several weeks away from removing the python shape
inference ones.

(@vrv fyi)

[2016-08-10 20:29] jayswinney commented on #3703
upgrading to '0.10.0rc0' gives a similar error to the original

[code]

[2016-08-10 20:38] patfla commented on #3699
bazel clean worked and I now have tensorflow-0.10.0rc0 installed and running.

How do I tell when bazel clean finishes?  I used bazel clean before; couldn't tell when it finished; and ended up wiping the tree and doing a git clone again.

[2016-08-10 20:42] yaroslavvb commented on #3699
You don't need to wait, bazel clean; bazel build should work

On Wed, Aug 10, 2016 at 1:38 PM, patfla <notifications@github.com> wrote:

[2016-08-10 20:42] martinwicke commented on #3721
Yes, thanks. @sguada: I hadn't noticed the commit that introduced these. As a general rule, we always only had tensors in the collections, and rely on this in several places.

I recall a conversation where we discussed this type of change and decided that the tensor names themselves would be enough. We should revisit that decision and talk about what we want and make it consistent, or we should re

[2016-08-10 20:47] girving commented on #3703
So the error says an argument must be a sequence, but you're passing a numpy array.  What happens if you pass a sequence (such as a list)?

[2016-08-10 20:48] jayswinney commented on #3703
[code]

[2016-08-10 20:54] girving commented on #3703
@martinwicke This is probably user error, but it at least seems like a bug that we don't autoconvert lists to numpy arrays here.

[2016-08-10 20:57] girving commented on #3699
Thanks @yaroslavvb for the pointer.  @damienmg Could you comment on whether there is a fixable bazel issue here (or in how we use bazel), or should we close?

[2016-08-10 22:02] msevrens opened #3738 "Bidirectional_dynamic_rnn in while_loop results in: AttributeError: 'GradLoopState' object has no attribute 'forward_ctxt'"
I'm attempting to recreate this [model](https://github.com/bplank/bilstm-aux) in TensorFlow but I can not seem to get anywhere close to the speed of the original code. On average the TensorFlow implementation is taking 60 ms per document on a GPU, while the pycnn is taking 12 ms per document on a CPU.

What appears to be the issue is that _rnn_step will call the LSTM cell on every time step regard

[2016-08-10 22:02] inderpreetsganda opened #3739 "Cross entropy should give targets out of range error as given by tf.nn.in_top_k"
I ran the tensorflow code(given below) and it gave me error(error stack is below code) targets out of range.

I have figured out what was causing this error, it was due to mismatch between labels and outputs, like I'm doing 8 class sentiment classification and my labels are `(1,2,3,4,7,8,9,10)` so it was unable to match predictions`(1,2,3,4,5,6,7,8)` with my labels, so that's why it was giving out

[2016-08-10 22:18] yaroslavvb commented on #3739
Can you reduce it to a small example? That's a lot of code to read through...

[2016-08-10 22:25] cwhipkey commented on #3545
I think it would be good to figure out the issue with __linux not being set properly.

Can you try:
`touch /tmp/foo.cc`
`cpp -dM -std=c++11 /tmp/foo.cc`

vs
`cpp -dM /tmp/foo.cc`

Save the output of each separately and attach both files?  It will be good to see which macros are actually defined in both cases.

[2016-08-10 22:37] martinwicke commented on #3703
The TensorFlow* Estimator classes are deprecated. We don't have a direct replacement for it yet (we should soon). @ilblackdragon or @terrytangyuan may have advice in the meantime.

[2016-08-10 22:37] #3703 closed

[2016-08-10 23:43] jramapuram commented on #3494
@alexcolburn 's solution [here](https://github.com/tensorflow/tensorflow/issues/2940) solves this for me

[2016-08-10 23:45] inderpreetsganda commented on #3739
[code]
@yaroslavvb  This is the code to reproduce the result. As you will see, cross_entropy is printed while top_k is not printed giving error[5] targets out of range. I don't know why cross_entropy doesn't give this type of error, it should give this error because there is mismatch between labels(y) and predictions.

Here is the output:
[code]

[2016-08-11 00:01] yaroslavvb commented on #3739
OK, looks like there's a TODO [to fix this](https://github.com/tensorflow/tensorflow/blob/2a10e469d70827ede21c0bb5d0a46aac97404d4c/tensorflow/python/ops/nn_ops.py#L537) added[ in april](https://github.com/tensorflow/tensorflow/commit/7fdd41b374cf6ed3528985e55ddeebe431df13eb) in python/ops/nn_ops.py

`# TODO(pcmurray) Raise an error when the label is not an index in`

[2016-08-11 00:20] tangruiming commented on #3725
I think there is a bug in it.

[2016-08-11 00:52] msevrens commented on #3738
This seems related but it doesn't seem it was ever resolved:

https://github.com/tensorflow/tensorflow/issues/511

[2016-08-11 01:02] DjangoPeng commented on #3705
@girving thx for you reply. Actually, I'm learning how to use the distributed by reading the `inception' code.
I don't know if it's necessary to use the `sv.chief_queue_runner`, because I find comments in the `supervisor.py' [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/supervisor.py#L693). While, the [distributed inception](https://github.com/tensorflow/mo

[2016-08-11 01:07] girving commented on #3705
It looks like this is a question about how to use TensorFlow, not a Github issue, so I'm going to close this for now.  Questions about how to use TensorFlow are better asked on StackOverflow.  I'm happy to reopen if it turns out this is actually a bug.

[2016-08-11 01:07] #3705 closed

[2016-08-11 01:07] msevrens commented on #3738
Whats most frustrating is that if one token is 50 characters long and 10 other tokens in that batch are 3 characters long it essentially takes the same time to process as if every token was 50 characters long. There must be a better way to approach this.

[2016-08-11 01:10] inderpreetsganda commented on #3739
Yes, this is what I'm looking for. It's an issue.

[2016-08-11 01:15] DjangoPeng commented on #3727
@girving thx, it works. But it's still hanging on the `sess.run()` . As the [issue](https://github.com/tensorflow/tensorflow/issues/3705)

[2016-08-11 01:23] gclouding commented on #3724
I have tried this:
cd ~/models/inception
bazel build -c opt inception/imagenet_train
bazel-bin/inception/imagenet_train --num_gpus=1 --batch_size=64 --train_dir=/tmp/imagenet_train --data_dir=/data1/ImageNet

Unfortunately, the performance is still the same as my previous results.

[2016-08-11 01:25] gclouding commented on #3724
It seems that it is not the problem of "bazel build -c opt inception/imagenet_train", because I use the same build option with self-complied .whl package and the downloaded one.

[2016-08-11 01:56] yaroslavvb commented on #2358
@altaetran here's an example that uses a helper I wrote to simplify dealing with persistent tensors

1. Download [imperative.py](https://raw.githubusercontent.com/yaroslavvb/imperative/georgia/release/imperative.py) and save it in a place where you can import it (ie, same directory as your script)

2.
[code]

That should give

[code]

I'm working on more docs for imperative.py, meanwhile there's a

[2016-08-11 02:05] ASDen commented on #3420
@ebrevdo much thanks, this should solve the problem for multiple devices
but what about a single device (e.g. a single GPU) ?
as a side note, when I tried to run two different versions of my code on parallel, I notice only ~ 50% decrease in performance (e.g. when a single instance takes n seconds, running two parallel instances takes only 1.5n not 2n seconds) so this should be doable and the devic

[2016-08-11 02:08] yaroslavvb commented on #3724
Some debugging ideas:

1. Use strace to see which "_pywrap_tensorflow.so" each run is opening, and
check that their sizes are similar
2. Configure built-from-source version with CuDNN version 4.0 and see how
fast it is
3. Look at how the version is built in the "pip.sh" script
<https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/builds/pip.sh>

On Wed, Aug 10, 2016 at 6:

[2016-08-11 02:11] AdamBear commented on #3431
Same "missing dependency declarations" problem still exists in head version, thanks @yaroslavvb for the workaround.

[2016-08-11 03:22] ebrevdo commented on #837
Yes; the ParseExample work will hopefully get checked in w/in a week or two.

On Wed, Aug 10, 2016 at 10:31 AM, josh11b <notifications@github.com> wrote:

[2016-08-11 03:23] ebrevdo commented on #3459
Thomas, can you confirm this bug is fixed?

On Wed, Aug 10, 2016 at 10:06 AM, Yuan Yu <notifications@github.com> wrote:

[2016-08-11 03:49] gustavla opened #3743 "Bazel missing dependency declaration for Eigen"
Compilation error that suggests Bazel is not recognizing the Eigen header files. Occurs consistently for me on all versions starting from 21716d8f6e175cd6e8cd97a84e48497574268b0c up until the current master (00726750c9f7dedfc57685c5011e21df3b5b3706).

### Environment info
64-bit CentOS / cuda 7.5.18 / cudnn 5.0.5 / bazel 0.2.1 / java 1.8.0_91

### Steps to reproduce
Run `./configure` and set up co

[2016-08-11 04:29] ashvsdata commented on #3494
Thank you @jramapuram. The solution works!

[2016-08-11 05:39] npanpaliya commented on #3545
Here are the files with both outputs. The one with std=c++11 doesn't have __linux defined (it has __linux__ defined though) while the other one without it, has __linux and __linux__ defined.

Even if __linux is defined, sched_getaffinity does not give us expected output. It gives us logical no. of cores, i.e. max possible threads (no. of sockets * core per socket * threads per core) which is prett

[2016-08-11 06:16] suiyuan2009 commented on #3373
I'm starting working on this.

[2016-08-11 06:20] yaroslavvb commented on #3494
BTW, the problem that @alexcolbun's solution fixes was is a crash in cuda_diagnostics code which gets triggered when the library can't find cuda dyld. The code tries to print some strings obtained `CFStringGetCStringPtr` which can return null, which shouldn't be printed. I fixed one such condition in #3448 but there were other improper uses in that file I didn't touch. The way to tell if that's th

[2016-08-11 06:25] gustavla opened #3745 "Tensorflow and import IPython errors"
When I use a thread-based data queue in Tensorflow and also include `import IPython`, I get various errors thrown at the very end of the Tensorflow session. Since I am offering a "solution" (do not import IPython), I am fine closing this immediately and re-opening if necessary. I am filing this mostly to have these errors and the cause on file in case it happens to someone else.

### Environment i

[2016-08-11 06:25] ojss commented on #3723
I shall try disabling SIP soon.
here is the exports:
`export CUDA_HOME=/usr/local/cuda
export DYLD_LIBRARY_PATH="$DYLD_LIBRARY_PATH:$CUDA_HOME/lib:/Developer/NVIDIA/CUDA-7.5/lib"
export DYLD_LIBRARY_PATH="$CUDA_HOME/lib:$DYLD_LIBRARY_PATH"
export PATH="$CUDA_HOME/bin:$PATH"
`

[2016-08-11 06:42] upupnoel opened #3746 "underperformed test of inception-v3 retraining result"
Hello, I'am do the retraining of inceptionv3 following tensorflow official [tutorial](https://www.tensorflow.org/versions/master/how_tos/image_retraining/index.html). Everything goes fine and it gives a `output_graph.pb` finally, but when I test the `output_graph.pb` with `label_image` module, it gives me quite odd result like below. Even when I test it with the flower images provided by the tutor

[2016-08-11 06:50] #3481 closed

[2016-08-11 07:08] #3727 closed

[2016-08-11 08:07] bardeli opened #3747 "Segmentation fault when importing TensorFlow"
After installing TensorFlow 0.10.0rc0 with pip in a virtualenv
import tensorflow as tf
results in
Segmentation fault (core dumped)

Importing numpy before tensorflow results in the same segfault

OS: RedHat 6, 64-bit
(Installed glibc 2.1.4 from source)
Python Version 3.4.5

pip packages (cpu versions):
tensorflow-0.10.0rc0-cp34-cp34m-linux_x86_64.whl
protobuf-3.0.0b2.post2-cp34-none-linux_x86_64.w

[2016-08-11 08:11] untom commented on #3459
Hi! Unfortunately I don't have the time to compile my own TF version right now, so I'll have to wait for the next RC-release to test this.

[2016-08-11 08:26] hholst80 commented on #3470
Run this in a script:

[code]

[2016-08-11 08:43] jplu commented on #2703
Perfect! Everything is compiling like a charm with this fix

Thanks a lot!

[2016-08-11 08:43] #2703 closed

[2016-08-11 08:46] #3688 closed

[2016-08-11 09:49] ojss commented on #3723
Okay I did what you said @yaroslavvb. Disabled SIP, now I get this:
`import tensorflow
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcublas.7.5.dylib locally
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcudnn.5.dylib locally
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcufft.7.5.dyli

[2016-08-11 10:51] suiyuan2009 commented on #1060
I meet the same problem with GeForce GTX 1080, I build from source and configure compute capability to 6.1. I run a modified version of cifar10, after 9990 step(I set max_step = 10000), program failed.
`2016-08-11 17:26:23.054839: step 9980, loss = 5.73 (55.6 examples/sec; 2.302 sec/batch)

2016-08-11 17:26:47.250385: step 9990, loss = 5.70 (52.9 examples/sec; 2.420 sec/batch)

E tensorflow/stream

[2016-08-11 11:06] chhwang commented on #3724
This is a known bug. #3603

[2016-08-11 11:09] flor385 opened #3748 "unexpected names in `NamedOutputs` tuples when using `outputs_collections` with some layers"
We are getting unexpected names (they lack outer name scope) in `NamedOutputs` tuples added to collections using `tf.contrib.layers` `outputs_collections`. The following code demonstrates the issue:

[code]
The output is:
[code]
We have tracked the cause of this down in to `tf.contrib.layers`. For layers that use internal variables (fully_connected, conv2d, ...), final outputs are added to collect

[2016-08-11 12:13] gclouding opened #3749 "error: can't copy 'tensorflow/python/ops/gen_sparse_ops.py': doesn't exist or not a regular file"
After I compiled the source code of TF0.10 (the latest version) using command "bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package", I tried to generate the .whl package using the following command:
"bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg"
However, errors occured:
Thu Aug 11 20:10:14 EDT 2016 : === Using tmpdir: /tmp/tmp.r1OX0vuuc

[2016-08-11 12:25] tomrunia commented on #3749
I had the same error, but for me there was already an error during the build process. Check if you have the same problem (missing `/usr/local/cuda/` dependencies) and then fix the problem by adding a line to the file `third_party/gpus/crosstool/CROSSTOOL`, see here: https://github.com/tensorflow/tensorflow/issues/3589#issuecomment-236430359

This fix works for me using both CUDA Toolkit version 7.

[2016-08-11 12:28] gclouding commented on #3749
No, I don't have the cuda error.
Is there any idea to solve the problem in generating whl package?

[2016-08-11 12:51] tomrunia opened #3750 "TensorBoard doesn't show Events on TensorFlow v0.10 RC"
After a clean install of TensorFlow v0.10 (from `master`) my TensorBoard is suddenly broken. The scalar event plots do not show upon clicking (see screenshow below). While the logs in the terminal do not show any errors, the Chrome Developer console shows the following error upon opening a figure:

[code]

I am running Chrome Version 52.0.2743.116 (64-bit) on Linux Mint 17.

![TensorBoard](http://

[2016-08-11 13:54] rapatel0 commented on #1592
We got a "version" working in Eigen::Tensor (~7x performance over float on Xeon AVX-256), but we're still hitting relatively low accuracies (20 to 40 % more error than a float based net). The accuracy drops quickly as you increase the output channels in a layer.  From a performance POV the bit packing code slows things down a bit and the calculation of beta values still takes time.
I'm not sure if

[2016-08-11 14:21] KendallWeihe opened #3751 "Grid3LSTMCell running out of memory"
Here are my specs:

- NVIDIA GTX 1070
- Tensorflow from source (bazel 0.3.0)
- CUDA 8.0
- Cudnn 5

I am trying to implement a 3D Grid LSTM network. My network is actually a CNN-LSTM end-to-end system, but I know that the `Grid3LSTMCell` is what is causing the issue (I have tested without and it functions fine).

Typically this would be an appropriate SO post, but I think I have exhausted my GPU op

[2016-08-11 14:22] yaroslavvb commented on #3723
Can you get a stack trace?
You should have a crash report file created in a file like below during
crash

~/Library/Logs/DiagnosticReports/Python_2016-07-21-144526_Yaroslavs-MacBook-Pro.crash
(Also viewable under User Diagnostic reports in Console App)

Also you get a stack trace for crashing script.py on Mac by running under
lldb, ie

lldb python
(lldb) r script.py
....
(lldb) up
...
(lldb) up

O

[2016-08-11 14:38] cdjkim commented on #206
Any ideas as to when gather_nd will support gradient?

[2016-08-11 15:57] jayswinney commented on #3703
If anyone comes here looking for an RNN to run the above example, this is about the shortest script I could come up with:

[code]

run on version 0.10.0rc0

[2016-08-11 16:35] zhengwy888 commented on #1592
@rapatel0 7x performance means 7x faster? could you release some part of your code? I tried to use gcc popcnt for bitcounting but it's really slow.

[2016-08-11 16:50] dead opened #3752 "Error: OK vs. Unimplemented: Explict cast of a non-empty tensor not implemented yet"
[code]

### Environment info
Operating System: Ubuntu 16.04
Cuda Toolkit 8.0 and cudnn 5
Driver Version: 361.77

ls -l /usr/local/cuda/lib64/libcud*
-rw-r--r-- 1 root root   560184 Mai 18 21:44 /usr/local/cuda/lib64/libcudadevrt.a
lrwxrwxrwx 1 root root       16 Mai 18 21:47 /usr/local/cuda/lib64/libcudart.so -> libcudart.so.8.0
lrwxrwxrwx 1 root root       19 Mai 18 21:47 /usr/local/cuda/lib64/li

[2016-08-11 17:11] mrry commented on #3470
Thanks for those repro instructions! I've got it running locally and am seeing the leak in the parameter server. I'll keep this issue posted with updates....

[2016-08-11 17:48] martinwicke commented on #3748
Duplicate of #3721.

[2016-08-11 17:58] yaroslavvb commented on #3745
What if you call `del sess` before the end of your program? From the errors, it sounds like `__del__` is called after some modules it depends on have been unloaded

[2016-08-11 18:06] gustavla commented on #3745
Nice call, adding `del sess` resolves the problem while still importing IPython.

[2016-08-11 18:11] girving commented on #3751
Can you elaborate on why you think this isn't caused by trying to use more memory than the GPU has?

[2016-08-11 18:11] girving commented on #3750
@danmane Can you take a look?  Looks like a dependency version problem.

[2016-08-11 18:14] girving commented on #3747
I think this kind of error is caused by dueling versions of glibc.  Something linked with TensorFlow is using the wrong version, and two separate versions of glibc in the same process is bad.

[2016-08-11 18:15] girving commented on #3746
This is a better fit for StackOverflow.  Github issues are for bugs and feature requests for the TensorFlow codebase, not requests for help using TensorFlow.

[2016-08-11 18:15] #3746 closed

[2016-08-11 18:15] KendallWeihe commented on #3751
@girving I suppose that is an issue. I assumed Tensorflow had a way of handling overflow memory. Am I correct that it doesn't? Are there any workarounds?

[2016-08-11 18:16] girving commented on #3745
@yaroslavvb Thanks for the catch!

[2016-08-11 18:16] #3745 closed

[2016-08-11 18:16] gustavla commented on #3745
Anoter thing that worked was to add `del IPython` at the end of the file.

[2016-08-11 18:20] girving commented on #3738
Yes, the RNN code always runs up to the maximum length.  This is usually solved at a higher level by bucketing by input size.

[2016-08-11 18:22] girving commented on #3735
I would suggest storing a dictionary mapping names to graphs.  Adding name attributes to `Graph` or `Session` would be poor coding style.

[2016-08-11 18:22] #3735 closed

[2016-08-11 18:22] martinwicke commented on #3748
Never mind. Different issue.

[2016-08-11 18:23] girving commented on #3732
Please ask questions like this on StackOverflow.  In this case, the problem is caused by feeding the same placeholder twice, as the error message indicates.

[2016-08-11 18:23] #3732 closed

[2016-08-11 18:26] girving commented on #3751
Unfortunately, TensorFlow is limited to using the amount of memory that the computer possesses.  There any many workarounds, but exploring them would be better in a StackOverflow question.

[2016-08-11 18:26] #3751 closed

[2016-08-11 18:27] girving commented on #3749
Can you show us the full output of all your build commands?

[2016-08-11 18:27] ebrevdo commented on #3459
You can download a nightly wheel.  See the readme.md on
github/tensorflow/tensorflow.

On Aug 11, 2016 1:11 AM, "Thomas Unterthiner" <notifications@github.com>
wrote:

[2016-08-11 18:28] girving commented on #3743
Bazel 0.2.1 is quite old.  Could you check if upgrading to recent bazel solves the problem?

[2016-08-11 18:31] girving commented on #3731
Looks like the author is on vacation, so I'll fix it.

[2016-08-11 18:47] girving commented on #3739
I believe `sparse_softmax_cross_entropy_with_logits` spits out nans now for invalid indices, and this is the best that can be feasibly done given the structure of the code (especially on GPU).  Unfortunately Eigen is designed to make returning errors nearly impossible.

[2016-08-11 18:47] #3739 closed

[2016-08-11 18:50] girving commented on #3752
@keveman Do you want to keep this bug open?  The C++ API is currently not fully supported, so it  may be fine to close.

[2016-08-11 18:53] gustavla commented on #3743
I just upgraded to Bazel 0.3.1 and tried to compile again (after fully expunging the cache). The problem still happens.

[2016-08-11 18:58] girving commented on #3743
@martinwicke Have you seen anything similar?

[2016-08-11 19:06] dead commented on #3752
How I can fix this? I installed

[2016-08-11 19:09] weiliu620 commented on #446
@joshburkart tested and the callback works. Thanks for the great work!

[2016-08-11 20:20] girving commented on #3731
Fixed internally, should push out soon.

[2016-08-11 20:20] girving commented on #3731
@jlowin Thank you for reporting!

[2016-08-11 20:35] flybirdx101 commented on #3743
The same happens for me on Ubuntu 16.04.1 with Bazel 0.3.1. Tried reconfiguring with and without GPU support - this doesn't change anything.

[2016-08-11 20:38] jlowin commented on #3731
@girving thanks for fixing!

[2016-08-11 21:01] will001 commented on #3725
The FTRL implementation in Tensorflow was exactly coming from that paper. I think the meaning of parameters is quite consistent with the notation in the paper. Where do you think the bug is?

[2016-08-11 21:16] msevrens commented on #3738
@girving

I don't think bucketing by input size works in this case. A sub-LSTM is encoding each token in the each sentence. There's only a limited number of tokens in each document. At each step a LSTM encoding of each token is concatenated with work a word embedding before fed into a higher level LSTM for tagging.

I've attempted to not call the cell at ever step like this

[code]

But this seems

[2016-08-11 21:26] msevrens opened #3754 "Unresolved RNN performance issue"
My previous issue was closed without resolution: https://github.com/tensorflow/tensorflow/issues/3738#issuecomment-239050102

The tf RNN approach of running up to the maximum length seems to be fundamentally flawed compared to the pycnn approach.

Even when only calling the LSTM cell on the relevant steps like below the performance issue persists:

[code]

Bucketing is not a reasonable approach in

[2016-08-11 21:27] #3754 closed

[2016-08-11 21:28] girving commented on #3754
Please do not file new issues just because I close old ones.  I am happy to reopen the old one, and am ready through it now; creating new issues just clutters up the tracker.

[2016-08-11 21:29] girving commented on #3738
You mention that pycnn does something better.  Can you describe the approach?

[2016-08-11 21:37] msevrens commented on #3738
Pycnn isn't documented as well, but the original code at https://github.com/bplank/bilstm-aux simply iterates through each token and then concats the output to the word embeddings.

[code]

[code]

I posted a similar approach in TensorFlow above but got the following error:

[code]

I've solved on how to run the RNN while only calling the cell on the relevant characters (can post code if necessary

[2016-08-11 21:43] msevrens commented on #3738
Are there any details on how back prop flows through tensorArrays?

[2016-08-11 21:43] girving commented on #3738
@yuanbyu He's trying to do a two dimensional while loop, and the code looks reasonable to me at first glance.  Could you take a look?

[2016-08-11 21:44] girving commented on #3738
@msevrens I somewhat doubt we have good documentation for while loop differentiation, but @yuanbyu can correct me if we have it.

[2016-08-11 22:13] mxbi commented on #3752
I am also having the same issue, Ubuntu 14.04 with 4x Titan X building from source with cuDNN 5.

Installed a few weeks back on a machine with the exact same config fine - looks like it is caused by a recent commit.

[2016-08-11 22:13] jtoy commented on #6
for this inceptiion5h model, anyway to see the code that it was trained with?

[2016-08-11 22:26] mrry commented on #3470
An update: I was able to reproduce the memory leak with r0.10, and it seems to be due to an RPC stub object not being deleted correctly. This logic was changed just after r0.10 was branched, and it appears that the nightly code no longer has the same leak.

However, there's a second issue, which is related to the core dump you were seeing:

This is being caused by a **thread leak** in the distribu

[2016-08-11 22:28] benoitsteiner commented on #3603
The performance regression should have been fixed by https://github.com/tensorflow/tensorflow/commit/0e12a0b0dbcf17da880402bc01d8511aa4568cda. Please reopen if you still find that RC 0.10 is slower than 0.9 on your GPU.

[2016-08-11 22:35] martinwicke commented on #3680
That looks like a build dependency is missing: pip_package should depend on that gen_word2vec.py file, but doesn't. PRs welcome.

[2016-08-11 22:36] martinwicke commented on #3680
Yuefeng, assigning to you, build system fun.

[2016-08-11 22:39] benoitsteiner commented on #3639
A fix is on its way. I'm hoping to get it merged by tomorrow.

[2016-08-11 22:41] benoitsteiner commented on #2015
I can't reproduce the issue. Is this still a problem?

[2016-08-11 22:44] benoitsteiner commented on #1300
Starting with https://github.com/tensorflow/tensorflow/commit/0e91b8b4db9c40bc8c45bcc69dd18e03d9f898a3, it's now possible to train our reference translation model using fp16.

I'm closing this issue since we now have several reference models that demonstrate the use of fp16 in TensorFlow. Please file separate bugs if you encounter specific limitations or bug in the functionality.

[2016-08-11 22:44] #1300 closed

[2016-08-11 22:50] girving commented on #2015
@alphaf52: Is it still an issue?
@prb12: Were you able to reproduce this at some point?

[2016-08-11 23:07] martinwicke commented on #3743
@davidzchen We discussed this change a while ago, and it seemed to be doing ok -- did something change in bazel 0.3.1?

[2016-08-11 23:13] dead commented on #3752
Yeah, using `git checkout r0.10` It worked.

[2016-08-11 23:23] keveman commented on #3752
Sending out a fix shortly. Sorry about the breakage.

[2016-08-11 23:46] amitphadke commented on #3008
@rifatmahmud  Do you have an example where you got it to work?

[2016-08-11 23:48] cwhipkey commented on #3545
Thanks for posting that info.  We'll make a change to use __linux__ instead of __linux, so that would fix the issue with using the hardcoded value instead of sched_getaffinity.

For logical vs physical, it does seem useful to be able to detect physical and use on PPC (unless there is some other change that can be made to use the logical cores in a more useful way).  I don't have experience with po

[2016-08-12 00:17] mschonwe opened #3759 "LSTMFusedCell ops only running on CPU"
Operating System: Ubuntu 14.04

Installed version of CUDA and cuDNN: 8.0.27 and v5
394472 Jul 26 13:26 /usr/local/cuda/lib64/libcudart.so.8.0.27
78065952 Jul 26 13:33 /usr/local/cuda/lib64/libcudnn.so.5.0.5

1. TF commit : c5f94b10bbb30e525fa3ca313e7ccb173040c90a
2. bazel version :  0.3.0

We switched over a working Seq2Seq model to use the LSTMFusedCell (previously GRUCell).  The graph build is a

[2016-08-12 00:47] sungjin712 opened #3760 "Ubuntu 16.04 / Gpu 1080 Version compile Error (Tensorflow installation)"
Hello, I recently got a new machine gpu 1080 and I did follow most of instructions via http://textminingonline.com/dive-into-tensorflow-part-iii-gtx-1080-ubuntu16-04-cuda8-0-cudnn5-0-tensorflow.
Anyone successfully installed Ubuntu 16.04 GPU with that version?? Let me know

But the Issue is it doesn't let me complie via bazel.

The following code...

ERROR: /home/ryan/git_ryan/tensorflow/tensorflo

[2016-08-12 00:54] therne commented on #3738
Same issue here. I've implemented 2d RNN using `tf.while` but got only `AttributeError: 'GradLoopState' object has no attribute 'forward_ctxt'` error. 😞

[2016-08-12 01:09] sungjin712 commented on #3479
what does
"
add
cxx_builtin_include_directory: "/usr/local/cuda-8.0/include"
to
third_party/gpus/crosstool/CROSSTOOL"

means? I am not sure where cxx_builtin and how to add this.

[2016-08-12 01:17] #3677 closed

[2016-08-12 01:22] DjangoPeng opened #3762 "PS is bound in GPU:0 by default, we can't change!"
I modified the seq2seq , mnist_replica and ptb model into distributed training model. But all of them have the same problem, that is when I start the server and `server.join()` the ps. The ps was bound in GPU:0 by default, and I can't change the setting. I follow the tutorial of distributed tensorflow [here](https://www.tensorflow.org/versions/r0.10/how_tos/distributed/index.html#putting-it-all-to

[2016-08-12 01:49] alphaf52 commented on #2015
hi, this is solved long ago, i can't remember what was wrong at that time, but it's gone

[2016-08-12 01:49] #2015 closed

[2016-08-12 02:00] msevrens commented on #3738
This seems relevant: https://github.com/tensorflow/tensorflow/issues/593

[2016-08-12 02:05] msevrens commented on #593
This appears to still be an issue

[2016-08-12 02:28] Mazecreator commented on #3760
You need to update the CROSSTOOLS file to see this CUDA includes:
tensorflow/third_party/gpus/crosstool/CROSSTOOL

Around line 65, add:
  cxx_builtin_include_directory: "/usr/local/cuda-8.0/include"

[2016-08-12 02:44] gustavla commented on #3743
I have tested on all versions of bazel supported by the master branch now (0.2.0, 0.2.1, 0.2.2, 0.2.3, 0.3.0, 0.3.1) and I got the same error every time. I carefully cleaned cache and killed any lingering bazel process between builds.

I also double-checked that building without GPU support is indeed fine, contrary to @flybirdx101's experience.

[2016-08-12 03:41] girving commented on #3738
@msevrens I forgot to verify: what version of TensorFlow are you using?

[2016-08-12 03:44] msevrens commented on #3738
@girving
0.9.0

[2016-08-12 04:30] shawnLeeZX commented on #3592
Thanks for reaching back. Performance perhaps won't be an issue when regex
is working since we could filter relevant out each time.

As for zooming, I remember it works in 0.5, at least. It is nice to have
that feature around, since sometime, the vibration in the network may cause
activation or parameters to reach a far larger value than the values when
the network stablizes. To be able to zoom in

[2016-08-12 04:34] yuanbyu commented on #3738
Could you provide a complete running program that can reproduce the problem?

[2016-08-12 04:42] Jerryzcn commented on #3750
Got the same error. The server is on a ubuntu, and the client is a mac.

[2016-08-12 05:02] msevrens commented on #3738
@girving: I've confirmed that the issue still exists on 0.10.0rc0

@yuanbyu: I've attached a stripped down version that isolates the issue.
[bilstm_tagger.txt](https://github.com/tensorflow/tensorflow/files/414650/bilstm_tagger.txt)

[2016-08-12 05:46] therne commented on #3738
I think GradLoopState error is occured by this [commit](https://github.com/tensorflow/tensorflow/commit/0ab76c2cf2b3a34f4cb985875512830aadea9afd) by @yuanbyu . This code makes no sense - because i think this code has a lot of syntax error (ex: `forward_ctxt` is nowhere (did you meant `forward_context`?), `grad_state` and `outer_grad_state` is not defined.)

Can you confirm it?

[2016-08-12 06:49] fogelton opened #3763 "contrib.learn.LinearClassifier steps not working as tutorial instructs"
In tutorial it is written

classifier.fit(x=x_train, y=y_train, steps=200)
The state of the model is preserved in the classifier, which means you can train iteratively if you like. For example, the above is equivalent to the following:
classifier.fit(x=x_train, y=y_train, steps=100)
classifier.fit(x=x_train, y=y_train, steps=100)

But whne I try on my own, the same step parameter and evaluate the

[2016-08-12 07:33] AlvinChen13 commented on #3694
Anyone can help on it? Very appreciated!

[2016-08-12 07:43] sungjin712 commented on #3760
@Mazecreator  Thank you for your answer. But I still have pywrap error...which doesnt work for my pc.

[2016-08-12 07:50] rapatel0 commented on #1592
Depending on your compiler flags gcc popcount won't emit a _popcnt64 instruction which limits the performance. The code is still buggy and requires some more testing but I'll release it once we get it cleaned up.

[2016-08-12 07:52] tomrunia commented on #3750
I found a temporary fix. Replace the file `[...]/python2.7/site-packages/tensorflow/tensorboard/dist/tf-tensorboard.html` with the older version from TensorFlow v0.9. This version can be found here: https://raw.githubusercontent.com/tensorflow/tensorflow/r0.9/tensorflow/tensorboard/dist/tf-tensorboard.html. This way the plots will work again. Hopefully there will be a proper fix soon :-)

[2016-08-12 08:01] sahil912 opened #3764 "iOS: No OpKernel was registered to support Op 'RandomShuffleQueue' with these attrs"
I am trying to load the simple trained model, but I am facing the following issue:

    No OpKernel was registered to support Op 'RandomShuffleQueue' with these attrs

    [[Node: shuffle_batch_1/random_shuffle_queue = RandomShuffleQueue[capacity=1003,
    component_types=[DT_FLOAT, DT_FLOAT, DT_FLOAT], container="", min_after_dequeue=1000,
    seed=0, seed2=0, shapes=[[227,227,3], [10], [18]], sh

[2016-08-12 08:12] bardeli commented on #3747
This seems to have been the case.
I have replaced six and numpy with the source versions and reinstalled tensorflow with pip.
This removed the segfault but left me with the problem that libstdc++ was too old.
Finally, the following way of setting up a local glibc/libstdc++ environment solved my problem:
http://stackoverflow.com/questions/33655731/error-while-importing-tensorflow-in-python2-7-in-ub

[2016-08-12 08:56] tangruiming commented on #3725
Hi, will001:

Thanks for your attention!

To our understanding, we can establish the following connections:
var is w_{t,i} in the paper; l1 is lambda1 in the paper; linear is zi in the paper; lr is alpha in the paper; grad is gi in the paper; accum is ni in the paper.

However, we found that  the notation "beta" is the paper is missing from the Tensorflow implementation.

Furthermore, we guess tha

[2016-08-12 09:48] harpone commented on #1095
In case some other n00b like me stumbles here wondering how to practically implement the py_func grad, I came up with an explicit example (after some struggling) which I posted [here](https://gist.github.com/harpone/3453185b41d8d985356cbe5e57d67342).

The "unique" name generation is a bit hacky...

[2016-08-12 10:07] chenghuige commented on #3729
@dzhwinter http://www.cnblogs.com/rocketfan/p/5765979.html
This is an example of parsing libsvm format

[2016-08-12 10:25] chrisrn opened #3765 "Don't know if tensorflow supports this type of restoring a model."
I am new here so I have a basic question. I want to train a cnn for 20000 steps. In the 100th step I want to save all variables and after that I want to re-run my code restoring model and starting from the 101- step. I am trying to make it work with tensorflow documentation: https://www.tensorflow.org/versions/r0.10/how_tos/variables/index.html
but I don't know if I am right. When I re-run my code

[2016-08-12 10:34] bixiongxu opened #3766 "Tensorflow distributed RNN crashed on ProtoBuf when using 3*512 rnn."
### Environment info
Operating System:
Linux XNLPEXP2 4.4.0-24-generic #43-Ubuntu SMP Wed Jun 8 19:27:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
Azure VM 8 cores, 56GB memory

If installed from binary pip package, provide:
pip 8.1.2 from /home/xubixiong/.local/lib/python2.7/site-packages (python 2.7)
0.10.0rc0

### Steps to reproduce
1. Create 2*PS + 2*worker,
2. Try 3 * 512 RNN, (I changed some c

[2016-08-12 10:36] cjf00000 opened #3767 "Incorrect Hessian of the tf.nn.sigmoid function"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-08-12 10:51] IvanUkhov opened #3768 "TF_OperationOpType"
Hi,

`TF_Node` [has been renamed](https://github.com/tensorflow/tensorflow/commit/b2c21f7e15cb61d2b1b2ca4154b1da45662f4747) to `TF_Operation`, which involved changing the names of a lot of functions. In particular, `TF_NodeOpType` has been changed to `TF_OperationOpType`. Before it’s been released, I just want to confirm that `Op` in `TF_OperationOpType` is not redundant. Thanks!

Regards,
Ivan

[2016-08-12 11:13] FudanHeroSZN opened #3769 "Assigning Multiple Embeddings per Word in Tensorflow"
I am trying to reproduce the results described in the EMNLP 2014 paper "Efficient Non-parametric Estimation of Multiple Embeddings per Word in Vector Space". The authors proposed a way of handling multiple senses per word through the use of multiple embeddings associated with it. Each word is assigned a global context embedding and several sense-specific embeddings, and which sense the word belong

[2016-08-12 11:48] flybirdx101 commented on #3743
Here is my error message, if this helps (abridged and personal paths removed):
`ERROR: /.../tensorflow/core/BUILD:925:1: undeclared inclusion(s) in rule '//tensorflow/core:framework_internal':
this rule is missing dependency declarations for the following files included by 'tensorflow/core/framework/device_base.cc':
  '/.../third_party/eigen3/unsupported/Eigen/CXX11/CustomOps'
  '/.../third_party/