[2018-09-15 18:51] tensorflowbutler commented on #21224
Nagging Assignee @jart: It has been 47 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:51] tensorflowbutler commented on #21227
Nagging Assignee @yuefengz: It has been 46 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:51] tensorflowbutler commented on #21233
Nagging Assignee @tatianashp: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:51] tensorflowbutler commented on #21241
Nagging Reviewer @yongtang: It has been 45 days with no activity and the `awaiting review` label was assigned. Can you please take a look?

[2018-09-15 18:51] tensorflowbutler commented on #21243
Nagging Assignee @shivaniag: It has been 47 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:51] tensorflowbutler commented on #21250
Nagging Assignee @annemenini: It has been 43 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:51] tensorflowbutler commented on #21260
It has been 35 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-15 18:51] tensorflowbutler commented on #21261
Nagging Assignee @gunan: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:51] tensorflowbutler commented on #21265
Nagging Assignee @rmlarsen: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:51] tensorflowbutler commented on #21268
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-15 18:51] tensorflowbutler commented on #21269
Nagging Assignee @shivaniag: It has been 46 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:51] tensorflowbutler commented on #21273
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-15 18:51] tensorflowbutler commented on #21284
Nagging Assignee @shivaniag: It has been 32 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 19:03] asimshankar commented on #21141
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-15 19:03] #21141 closed

[2018-09-15 19:10] gunan commented on #21261
Closing as duplicate of #19584

[2018-09-15 19:10] #21261 closed

[2018-09-15 19:11] gunan commented on #18296
https://www.tensorflow.org/install/install_sources_windows

[2018-09-15 19:11] #18296 closed

[2018-09-15 19:26] gunan commented on #18872
@angersson @perfinion to provide latest on this

[2018-09-15 20:05] G-mel commented on #19014
@guvcolie My work was with only 1 GPU

[2018-09-15 21:32] markostam opened #22295 "Allow grads to be scaled by tensors in tf.contrib.layers.optimize_loss()"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use com

[2018-09-15 22:06] ymodak commented on #22293
@cqfindingmyself  Please provide your system information and describe your problem in detail. It will help us to guide you better.

[2018-09-15 22:36] Keno commented on #22130
Found another one that I thought was a bit more insidious and is easy to miss. If you have an `HloMap` instruction, the computation it references must be serialized in the .proto before the computation that references it, otherwise you get a segfault (order of ids doesn't matter though)

[2018-09-15 23:08] wzzju commented on #22277
@shashishekhar, thanks. I want to compile the tf-lite to get a smaller size of jni dynamic link library（.so file）, not a java library. How can I achieve this goal？

[2018-09-15 23:13] YijinLiu commented on #21921
It seems to me that tflite is not able to detect objects overlap with other objects. I hope this is a bug instead of a fundamental problem of tensorflow lite's object detection postprocess implementation.

[2018-09-15 23:40] ebrevdo commented on #20737
+bayesflow-team <bayesflow-team@google.com>

On Sat, Sep 15, 2018, 11:49 AM Alfred Sorten Wolf <notifications@github.com>
wrote:

[2018-09-16 01:04] Q82822 commented on #22213
I'm copy from [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/eager/python/examples/generative_examples/image_captioning_with_attention.ipynb) ypu just use tf-nightly-gpu running this code.
and output it  `embedding`

[2018-09-16 02:27] tensorflowbutler commented on #21333
Nagging Assignee @zhangyaobit: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:27] tensorflowbutler commented on #21339
Nagging Assignee @mrry: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:27] tensorflowbutler commented on #21358
Nagging Assignee @zheng-xq: It has been 32 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:27] tensorflowbutler commented on #21359
It has been 35 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 02:28] tensorflowbutler commented on #21403
Nagging Assignee @rohan100jain: It has been 33 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:28] tensorflowbutler commented on #21409
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-16 02:28] tensorflowbutler commented on #21432
Nagging Assignee @robieta: It has been 33 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:28] tensorflowbutler commented on #21441
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 02:28] tensorflowbutler commented on #21447
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:28] tensorflowbutler commented on #21454
Nagging Assignee @robieta: It has been 32 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:28] tensorflowbutler commented on #21458
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-16 02:28] tensorflowbutler commented on #21459
Nagging Assignee @tatianashp: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:28] tensorflowbutler commented on #21464
Nagging Assignee @tanzhenyu: It has been 32 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:29] tensorflowbutler commented on #21522
Nagging Assignee @zheng-xq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:29] tensorflowbutler commented on #21523
Nagging Assignee @tatatodd: It has been 36 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:29] tensorflowbutler commented on #21528
Nagging Assignee @tatatodd: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:29] tensorflowbutler commented on #21537
Nagging Assignee @rohan100jain: It has been 36 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:29] tensorflowbutler commented on #21538
It has been 36 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 02:29] tensorflowbutler commented on #21548
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:29] tensorflowbutler commented on #21549
Nagging Assignee @yongtang: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:29] tensorflowbutler commented on #21569
It has been 33 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 02:29] tensorflowbutler commented on #21581
It has been 32 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 02:29] tensorflowbutler commented on #21588
Nagging Assignees @petewarden, @aselle: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:29] tensorflowbutler commented on #21590
Nagging Assignee @ispirmustafa: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:29] tensorflowbutler commented on #21591
Nagging Assignee @petewarden: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:29] tensorflowbutler commented on #21598
Nagging Assignee @robieta: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:30] tensorflowbutler commented on #21601
Nagging Assignee @tatianashp: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:30] tensorflowbutler commented on #21613
It has been 31 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 02:30] tensorflowbutler commented on #21620
It has been 31 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 02:30] tensorflowbutler commented on #21622
Nagging Assignee @tatatodd: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:30] tensorflowbutler commented on #21638
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 02:30] tensorflowbutler commented on #21644
Nagging Assignee @tatatodd: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:30] tensorflowbutler commented on #21653
Nagging Assignee @jart: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:30] tensorflowbutler commented on #21701
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 02:30] tensorflowbutler commented on #21719
Nagging Assignees @gunan, @poxvoculi: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:30] tensorflowbutler commented on #21722
Nagging Assignee @martinwicke: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:30] tensorflowbutler commented on #21730
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:30] tensorflowbutler commented on #21737
Nagging Assignee @ispirmustafa: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:30] tensorflowbutler commented on #21761
Nagging Assignees @sanjoy, @hawkinsp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:31] tensorflowbutler commented on #21772
Nagging Assignee @karmel: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:31] tensorflowbutler commented on #21842
Nagging Assignee @jart: It has been 21 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:31] tensorflowbutler commented on #21862
It has been 21 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 02:31] tensorflowbutler commented on #21871
It has been 21 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 02:31] tensorflowbutler commented on #21875
Nagging Assignee @rohan100jain: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:31] tensorflowbutler commented on #21878
It has been 20 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 02:31] tensorflowbutler commented on #21881
Nagging Assignee @tfboyd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:31] tensorflowbutler commented on #21889
Nagging Assignee @robieta: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:31] tensorflowbutler commented on #21898
Nagging Assignee @bignamehyp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:31] tensorflowbutler commented on #21899
It has been 18 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 02:31] tensorflowbutler commented on #21900
It has been 18 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 02:31] tensorflowbutler commented on #21904
Nagging Assignee @jpienaar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:31] tensorflowbutler commented on #21907
Nagging Assignee @jart: It has been 18 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:32] tensorflowbutler commented on #21908
It has been 18 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 02:32] tensorflowbutler commented on #21910
Nagging Assignee @robieta: It has been 18 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:32] tensorflowbutler commented on #21914
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 02:32] tensorflowbutler commented on #21915
Nagging Assignee @tatianashp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:32] tensorflowbutler commented on #21917
Nagging Assignee @drpngx: It has been 18 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:32] tensorflowbutler commented on #21922
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:32] tensorflowbutler commented on #21925
Nagging Assignee @tatatodd: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:32] tensorflowbutler commented on #21935
Nagging Assignee @cy89: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:32] tensorflowbutler commented on #21938
Nagging Assignee @bignamehyp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:32] tensorflowbutler commented on #21942
It has been 17 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 02:32] tensorflowbutler commented on #21943
It has been 17 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 02:32] tensorflowbutler commented on #21959
Nagging Assignee @jart: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:33] tensorflowbutler commented on #21973
Nagging Assignee @bignamehyp: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:33] tensorflowbutler commented on #21974
Nagging Assignee @rohan100jain: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:33] tensorflowbutler commented on #21975
Nagging Assignee @shivaniag: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:33] tensorflowbutler commented on #21976
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 02:33] tensorflowbutler commented on #21978
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 02:33] tensorflowbutler commented on #21979
Nagging Assignee @tatatodd: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:33] tensorflowbutler commented on #21987
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 02:33] tensorflowbutler commented on #21994
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 02:38] #21878 closed

[2018-09-16 03:49] pathakrohit08 commented on #21581
Since I never got an response I found an alternative . I am ok with this issue being closed.Thanks

[2018-09-16 03:49] #21581 closed

[2018-09-16 04:52] yanboliang commented on #22012
@naoto0804
Keras model training will update params in ```model._collected_trainable_weights``` which is produced at ```model.compile```.
When you call ```dis_model.trainable = False``` to freeze ```dis_model```, you don't compile ```dis_model```, so two things happens:
* ```dis_model._collected_trainable_weights``` still includes old trainable params.
* ```dis_model.trainable_weights``` will retur

[2018-09-16 04:59] yuefengz commented on #21227
I think the question fits more on StackOverflow. To use multi-worker training with distribution strategies, you can take a look at our (documentations)[https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/distribute/README.md] and (examples)[https://github.com/tensorflow/ecosystem/tree/master/distribution_strategy].

[2018-09-16 04:59] #21227 closed

[2018-09-16 05:01] yuefengz commented on #22274
@byronyi really appreciate you came to our roadshow event!

For now, if there is not a simple workaround, you can try MirroredStrategy as well. But we still recommend CollectiveAllReducStrategy for multi-node training and we will fix it as soon as possible. Thanks!

[2018-09-16 05:53] naoto0804 commented on #22012
I'm bit new to tf/keras. Thank you so much for clear explanation and PR!

[2018-09-16 06:46] yanboliang commented on #21598
@wagenrace @robieta I have sent #22265 to fix this, would you mind to take a look? Thanks.

[2018-09-16 08:29] facaiy commented on #19420
So we'd better to update Dropout's document, right? This seems like a good beginner issue.

[2018-09-16 11:04] RylanSchaeffer commented on #22254
@ebrevdo , I'm not sure I understand. Yes, tuple are immutable, so they cannot be modified in place. A friend told me that he had no problems creating new `LSTMStateTuple`s, so I'll spend today checking if there's some other problem with my code.

[2018-09-16 11:28] RylanSchaeffer commented on #22254
I think my code actually works as intended. Sorry to bother you.

[2018-09-16 11:28] #22254 closed

[2018-09-16 12:29] tensorflowbutler commented on #10215
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-16 12:29] tensorflowbutler commented on #11447
Nagging Assignee @rmlarsen: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:29] tensorflowbutler commented on #13718
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 12:30] tensorflowbutler commented on #15211
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:30] tensorflowbutler commented on #15953
Nagging Assignee @tomerk: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:30] tensorflowbutler commented on #16926
Nagging Assignee @jsimsa: It has been 119 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:30] tensorflowbutler commented on #17432
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 12:30] tensorflowbutler commented on #17586
Nagging Assignee @shivaniag: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:30] tensorflowbutler commented on #17629
Nagging Assignee @shivaniag: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:30] tensorflowbutler commented on #18053
Nagging Assignee @tomerk: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:30] tensorflowbutler commented on #18356
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:30] tensorflowbutler commented on #18769
Nagging Assignee @rohan100jain: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:30] tensorflowbutler commented on #18839
Nagging Assignee @zheng-xq: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:30] tensorflowbutler commented on #19194
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 12:30] tensorflowbutler commented on #19270
Nagging Assignee @ebrevdo: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:31] tensorflowbutler commented on #19543
Nagging Assignee @rxsang: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:31] tensorflowbutler commented on #19548
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 12:31] tensorflowbutler commented on #19696
Nagging Assignee @skye: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:31] tensorflowbutler commented on #19733
Nagging Assignee @ebrevdo: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:31] tensorflowbutler commented on #19895
Nagging Assignee @gunan: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:31] tensorflowbutler commented on #20094
Nagging Assignee @zheng-xq: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:31] tensorflowbutler commented on #20099
Nagging Assignee @chsigg: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:31] tensorflowbutler commented on #20320
Nagging Assignee @gunan: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:31] tensorflowbutler commented on #20326
Nagging Assignee @tatatodd: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:31] tensorflowbutler commented on #20338
Nagging Assignees @fchollet, @pavithrasv, @anj-s: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:31] tensorflowbutler commented on #20346
Nagging Assignee @rohan100jain: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:31] tensorflowbutler commented on #20465
Nagging Assignee @tatatodd: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:31] tensorflowbutler commented on #20500
Nagging Assignee @cy89: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:31] tensorflowbutler commented on #20505
Nagging Assignee @shivaniag: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:31] tensorflowbutler commented on #20519
Nagging Assignee @petewarden: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:32] tensorflowbutler commented on #20522
Nagging Assignee @tatatodd: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:32] tensorflowbutler commented on #20528
Nagging Assignee @shivaniag: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:32] tensorflowbutler commented on #20628
Nagging Assignee @rohan100jain: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:32] tensorflowbutler commented on #20687
Nagging Assignee @skye: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:32] tensorflowbutler commented on #20771
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:32] tensorflowbutler commented on #21229
Nagging Assignees @nealwu, @cy89: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:32] tensorflowbutler commented on #21251
Nagging Assignee @drpngx: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:32] tensorflowbutler commented on #21328
Nagging Assignee @rohan100jain: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:32] tensorflowbutler commented on #21389
Nagging Assignee @anj-s: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:32] tensorflowbutler commented on #21488
Nagging Assignee @yifeif: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:32] tensorflowbutler commented on #21491
Nagging Assignee @tatatodd: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:33] tensorflowbutler commented on #21515
Nagging Assignee @michaelisard: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:33] tensorflowbutler commented on #21600
Nagging Assignee @smit-hinsu: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:33] tensorflowbutler commented on #21615
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 12:33] tensorflowbutler commented on #21647
Nagging Assignee @asimshankar: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 12:33] tensorflowbutler commented on #21667
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-16 12:33] tensorflowbutler commented on #21984
Nagging Assignee @drpngx: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-16 14:09] mibrahimali commented on #21761
I noticed the same issue , i`m trying to deploy Inception model on arm target , i managed to deployed for linux and Xeon processor but when i move to arm aarch64 it took almost 10X running time slower.

[2018-09-16 14:16] ToonTalk commented on #21891
Thanks for looking into this. Yes just "x" reproduces the problem.

However when  I checked the metadataPath in https://ecraft2learn.github.io/ai/word-embeddings/hi/projector.json (which is https://ecraft2learn.github.io/ai/word-embeddings/hi/projector-labels.tsv) it sure seems to be 20000 lines (e.g. opening it in Chrome dev tools shows 20001 as the final blank line). The same for the tensorPath.

[2018-09-16 14:22] qiang2008 opened #22297 "shared_embedding_columns with partitioner is ERROR"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**:1.10.1
- *

[2018-09-16 14:47] jrabary opened #22298 "Can't initialize keras.Model based network with tf.train.init_from_chekpoint"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**: git master
- *

[2018-09-16 15:10] #21984 closed

[2018-09-16 15:38] jrabary commented on #22088
@guptapriya here is an example of code to reproduce this. Tested on Nvidia Titan X. The model is big enough to completely fill the memory of a single GPU but it still works in one device strategy.
You get the problem when you change the number of GPU to 2 for example.

[code]

[2018-09-16 15:47] paulomarciano commented on #20915
To make it easier to replicate the problem, I submit here a very simple piece of code that builds a network and tries different batch sizes succesively. On a GTX 1080 TI, tensorflow 1.10 goes up to 150 batch size, while 1.3 goes up to 180.
[example_net.zip](https://github.com/tensorflow/tensorflow/files/2386736/example_net.zip)

[2018-09-16 16:04] yongtang commented on #22275
@was84san I am not able to reproduce the scenario, as in case a `tf.dataset` is used, `y` is not specified in `model.fit`.

Can you provide a minimal example that trigger the error you encounter?

[2018-09-16 16:15] lowsparkk commented on #8251
Just tried this
`pip install --upgrade tensorflow_gpu-1.10.1-cp36-cp36m-linux_x86_64.whl`
and I get
`tensorflow_gpu-1.10.1-cp36-cp36m-linux_x86_64.whl is not a supported wheel on this platform`
Looks like python 3.7 is not supported yet.

[2018-09-16 17:17] AntonKovalev opened #22299 "Contributing to tf from windows environment"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-16 17:27] theerfan opened #22300 "Can't import tensorflow"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: just tried to import it.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 x64
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: tried 1.10 down to 1.4, none worked, only cpu versions.
- **Python

[2018-09-16 17:31] ebrevdo commented on #15953
Let's move this conversation here:https://github.com/tensorflow/community/pull/14

[2018-09-16 17:32] #15953 closed

[2018-09-16 17:36] Keiku commented on #20271
@tedyu @mysticaltech I found libcudnn.so.7 in `/usr/lib/x86_64-linux-gnu`. Do you know why it will be installed there?

[code]

[2018-09-16 17:48] was84san commented on #22275
I know y is not specified, but then it will be extracted trough `next element` as shown below:

`> /home/wassan/tensorflow/venv/lib/python2.7/site-packages/tensorflow/python/keras/engine/training.py(755)_standardize_user_data()
    753       try:
    754         if is_x_iterator:
--> 755           next_element = self._get_iterator_get_next_tensors(x)
    756         else:
    757           next_el

[2018-09-16 17:57] tedyu commented on #20271
I think it is the default location for libcudnn.so.7

On Sun, Sep 16, 2018 at 10:39 AM KUROYANAGI KEIICHI <
notifications@github.com> wrote:

[2018-09-16 18:35] lamberta commented on #15284
Not sure if still relevant, but ...
On the docs side, Jupyter notebooks are popular with users and something we're pushing more on tensorflow.org. And, in fact, we use a TensorFlow Docker container with Jupyter to render a number of tutorials and guides on the site.

My understanding is the *-devel* images are intended for hacking on TensorFlow and building from source. Jupyter notebooks are more

[2018-09-16 18:57] gunan commented on #15284
Thanks for the information.
That aligns with what I vaguely remember.

I would like to avoid proliferation of tags, to avoid confusion, so I would vote against the `-base` tag. But I think we will remove the jupyter notebooks from the devel images.

[2018-09-16 19:27] yongtang commented on #22275
@was84san Any chance you could provide a sample tfrecord file and a "complete" reproducible sample code (from first line of `import tensorflow as tf` to last line of `model.fit`)?

Many parameters in your code snippet are missing.

[2018-09-16 19:33] gunan commented on #19895
I think this was fixed, but I forgot to update this issue.
However, now this is obsolete because the recommended way to build TF on windows is now using bazel:
https://www.tensorflow.org/install/install_sources_windows

As a bonus, building TF on windows with GPU support is 5x faster using bazel than cmake!

[2018-09-16 19:33] #19895 closed

[2018-09-16 19:34] gunan commented on #21976
I cannot reproduce this problem on a docker container.
Maybe you need to run:
[code]

[2018-09-16 19:51] gunan commented on #21528
@meteorcloudy could you loop in someone who can help out with our gpu crosstool?

[2018-09-16 20:31] lamberta commented on #21096
I'm working on an update to this page which has a section for [configuration options](https://github.com/lamberta/docs/blob/install/site/en/install/source.md#configuration-options).

We can add some more after this lands. If this list becomes unwieldy for the doc page, maybe we can just put it in a file in the tensorflow repo and link to it.

[2018-09-16 20:44] lamberta commented on #18185
There's a [graph guide](https://www.tensorflow.org/guide/graphs) ([in github](https://github.com/tensorflow/docs/blob/master/site/en/guide/graphs.md)) if there are details you'd like to add.

Given the [emphasis on eager execution for TF 2.0](https://groups.google.com/a/tensorflow.org/forum/#!topic/announce/qXfsxr2sF-0), I don't think we'll building out this section much more.

[2018-09-16 20:44] #18185 closed

[2018-09-16 20:56] lamberta commented on #17390
This conversation seems to have run its course. Closing this issue since I don't know of any plans on the docs side to publish a separate Java roadmap (here's the [general TF roadmap](https://www.tensorflow.org/community/roadmap) that was recently updated).

Sounds like the mailing lists/SIGs are the best way to keep up with new developments.

[2018-09-16 20:56] #17390 closed

[2018-09-16 21:07] arnaghizadeh commented on #17390
there is no mention of the Java API in the road-map though, it seems that Java is going to be ignored for TF 2.0?

[2018-09-16 21:09] gunan commented on #19770
I think this is a bazel issue.
I saw this happen when building bazel itself, too.
[code]

@meteorcloudy Could you loop in someone who is knowledgeable about bazel with java?

[2018-09-16 21:18] gunan commented on #22300
I am inclined to think this is an installation issue.
Could you check `C:\Users\there\AppData\Local\Programs\Python\Python37\lib\site-packages\tensorflow\python\` if it actually has `_pywrap_tensorflow_internal.dll" ?

[2018-09-16 21:26] gunan commented on #21977
Suspected duplicate of #19584
Please reopen if you have data to suggest otherwise.

[2018-09-16 21:26] #21977 closed

[2018-09-16 21:27] gunan commented on #22037
[code]
This line suggests to me that this is actually a segmentation fault in gcc 6

[2018-09-16 21:34] puneetp commented on #18480
+1

[2018-09-16 21:49] gunan commented on #20320
@case540 @av8ramit ping!

[2018-09-16 22:09] was84san commented on #22275
@yongtang I edited the code, you can run it now.

[2018-09-16 22:13] chrisrapson commented on #22069
I have since discovered that some of the options I was supplying to `train.py` were not recommended for MobileNetV2. My goal is to keep the same network structure of MobileNetV2 (as far as possible, given that I am using a different number of classes), but retrain the weights. If the network structure would stay the same, I think `freeze_graph.py` would have no problems with missing nodes.

See al

[2018-09-17 00:42] tensorflowbutler commented on #22297
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-17 01:04] saeed68gm commented on #20867
@raninbowlalala  same here, @HimariO  where did you make this change?

[2018-09-17 01:29] shqking commented on #17274
@lissyx

[2018-09-17 01:30] was84san commented on #22275
` using_class_weight= True                        # if you set this to True, you will produce the error
`

[2018-09-17 01:35] #22012 closed

[2018-09-17 01:36] taotaolin commented on #22268
i try using bazel to build on windows, but tips:

**Have I written custom code** No
**OS Platform and Distribution** WIN7 Visual Studio 2015
**TensorFlow installed from source**  master
**Bazel version**  0.17.1
**CUDA/cuDNN version** CUDA9.0 / CUDNN 7.2.1
**GPU model and memory** 1080Ti / 11G
**Mobile device** N/A
**Exact command to reproduce**
**1. python ./configure.py**
**2.bazel build --confi

[2018-09-17 02:00] theerfan commented on #22300
I checked, and it wasn't there.

[2018-09-17 02:14] ChenKunMiner commented on #14273
take the right version of this @SteffenNa ,and i resolve it. thx

[2018-09-17 02:34] qiang2008 commented on #22297
updated, please help me to solve this problerm ,thank u.

[2018-09-17 03:02] xu-song opened #22304 "C++ set_allow_soft_placement does not work"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution: Mac  CPU
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.8.0
- **Python version**: 2.7

### Describe the problem

I have set set_allow_soft_placement(true), but it does not work.

##

[2018-09-17 03:13] gunan commented on #22300
Then there is our problem. What command did you use to install?

[2018-09-17 03:27] yuefengz commented on #20942
Do you where does this concat op come from? cc @agarwal-ashish

[2018-09-17 03:27] gunan commented on #22268
[code]
This means either cudnn.h is unreadable for bazel, or it is not located at `G:/cudnn/include/cudnn.h`
What is the location of your cudnn headers on your machine?
Did you follow these:
https://docs.nvidia.com/deeplearning/sdk/cudnn-install/index.html#installwindows

[2018-09-17 03:35] theerfan commented on #22300
Trying `pip install` didn't work, then I found [this](https://stackoverflow.com/questions/38896424/tensorflow-not-found-using-pip) which recommends using `pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.12.0-py3-none-any.whl`, tried to get a little creative and changed the version to 1.10, 1.9 and so on, all resulting in the same problem.

[2018-09-17 03:49] gunan commented on #22300
The URL you used is the macos URL, it definitely wont work.
Could you share the full output of `pip install tensorflow` using pastebin?

[2018-09-17 04:10] amoghkashyap commented on #22272
Hi I was able to fix the issue thank you!

[2018-09-17 04:10] #22272 closed

[2018-09-17 04:47] linlin860320 opened #22305 "Use own model on android demo(TF_OD) make app crash"
My stack overflow question: https://stackoverflow.com/questions/52309707/use-own-model-on-android-demo-tf-od-but-app-was-crash-after-open-camera

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
    I had change camera from back to front.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
    Windows10
- **Mobi

[2018-09-17 05:12] holy7water commented on #13096
I got same problem. Is there anyone who can advice to solve this problem?

-------------------------------
No OpKernel was registered to support Op 'QuantizeV2' with these attrs.  Registered devices: [CPU,GPU], Registered kernels:  <no registered kernels>

[2018-09-17 05:16] anj-s commented on #21968
Thank you for reporting the error. joshl@ is working on this issue and will update this bug as soon as possible.

[2018-09-17 05:25] guoguo11191 opened #22306 "why options in session_config like intra_op_parallelism_threads/inter_op_parallelism_threads doesn't work in tensorflow estimator distribution mode？"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:just tried to import it.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:CentOS Linux release 7.2
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**:binary
- **Te

[2018-09-17 05:29] antodasns commented on #17386
I used the .whl file that @fo40225 said and it works like a charm..
Thanks to @fo40225

[2018-09-17 05:31] anj-s commented on #21405
@iliTheFallen We are currently working on this bug since this slightly different from the one I fixed in #19551.
@josh11b is working on this and we will update the bug as soon as possible.

[2018-09-17 05:35] taotaolin commented on #22268
Now tips:
[code]

[2018-09-17 05:44] fifothekid commented on #17386
Building with Bazel works on Windows

[2018-09-17 05:50] anj-s commented on #21767
@yncxcw The issue with AdagradOptimizer should be fixed now. Can you try running your model again with the latest TensorFlow code? Thanks!

@olel-may I am not able to reproduce the issue with the AdamOptimizer. Do you have a standalone snippet of code which reproduces this issue?

[2018-09-17 05:51] gunan commented on #22268
Did you run configure script?
Also, in bazel command line syntax, you are not allowed to have empty spaces around `=`, so you need to provide the options as `--config=opt --config=cuda`

[2018-09-17 05:58] taotaolin commented on #22268
It has been complied. but have err:
[code]
i can't understand why`no such package '@png_archive//': Traceback (most recent call last):` is produced

[2018-09-17 06:10] gunan commented on #22268
@meteorcloudy to help with that quqestion.
Yun, looks like this is happening for a few users now.
Our CI cannot reproduce the problem.
Any idea what is going on?

[2018-09-17 06:31] shanthoosh opened #22307 "Tensorflow library loading order causes segmentation fault"
My application depends on both RocksDB and tensorflow. If I load rocksDB shared library before loading the tensorflow model in my application then it results in SIGSEGV. However, if the loading order is reversed then there're no exceptions(and it works fine as expected).

Here're the external dependencies of my application:
Tensorflow  version: 1.6
RocksDB version: 5.7.3
Java version: JDK-8
OS pla

[2018-09-17 07:08] taotaolin commented on #19583
how to slove this problem, thx?

[2018-09-17 07:10] wangsiyu opened #22309 "About partitioned variable is Disabled in DistributionStrategy"
System information
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS
TensorFlow installed from (source or binary): source
TensorFlow version (use command below): master
Python version: 2.7
Bazel version (if compiling from source):
GCC/Compiler version (if compiling from source):
CUDA/cu

[2018-09-17 07:11] wangsiyu commented on #22309
@yuefengz

[2018-09-17 07:32] byronyi commented on #22274
It seems I used [SingleThreadedCpuDevice](tensorflow/core/common_runtime/single_threaded_cpu_device.h) that was added in 9b18bd70b5739d646b21b7d45de0e5c96b8cc2a1, later than [ScopedAllocator](tensorflow/core/common_runtime/scoped_allocator.cc), which was added in 282750fee5e2df502436ca9ef6a95283f8adab34.

@skye Mind to fix this? Or I could help submit a patch if you're okay with it.

[2018-09-17 07:52] yangjunpro commented on #22309
@yuefengz
Yuefeng,

We are working for TensorFlow enhancement and optimization for Alibaba's production clusters. And
TF's DistributionStrategy looks a promising feature for us since it could reduce the overhead for user writing distributed execution plan. However, there are still some limitations regarding to DistributionStrategy, as the one mentioned by Siyu.

Any comments from you side is hight

[2018-09-17 07:57] meteorcloudy commented on #19583
Can you try to reinstall `patch`?
`C:\msys64\usr\bin\pacman -S patch`

[2018-09-17 08:00] meteorcloudy commented on #22268
Indeed, I couldn't reproduce this, either.
But @taotaolin can you try to reinstall patch by `C:\msys64\usr\bin\pacman.exe -S patch`?

[2018-09-17 08:07] taotaolin commented on #22268
It still remains like this
[code]
can't work but

[code]
it can work

[2018-09-17 08:16] meteorcloudy commented on #22268
I believe Bazel does pass the arguments as
`C:\msys64\usr\bin\bash.exe -l -c "patch -p1 -d C:/users/tao/_bazel_tao/ic7qrvhc/external/png_archive -i G:/tensorflow/third_party/png_fix_rpi.patch"`

It's just missing the quotes when printing the command in terminal.

Can you try to add `-f` here:
https://github.com/tensorflow/tensorflow/blob/f1d42c8967410db1e08c0b6d62dc1fc4844165a8/third_party/repo.bz

[2018-09-17 08:17] PennySHE commented on #22183
@shashishekhar  _SUPPORTED_ANDROID_NDK_VERSIONS = [10, 11, 12, 13, 14, 15, 16]

I'm using NDK 16 which is the most stable version right now.

[2018-09-17 08:23] tataganesh95 opened #22310 "Tflite label_image resize bug"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
NA
- **TensorFlow installed from (source or binary)**:
Source
- **TensorFlow version (use command below

[2018-09-17 08:35] yuefengz commented on #22309
Thanks for bringing this up. I'll think about it and get back to you soon.

[2018-09-17 08:39] taotaolin commented on #22268
Can provide `tensorflow.dll` and `tensorflow.lib` for windows tensorflow, preferably DEBUG version？thx.

[2018-09-17 08:41] meteorcloudy commented on #19770
@cushon Have you ever seem errors like this?

[2018-09-17 08:50] meteorcloudy commented on #21528
From the command line
[code]

Looks like Bazel is compiling for host configuration. You need to use `--host_copt` and `--host_cxxopt` if you want to pass options for those compilations.
Also /cc @mhlopko the C++ expert.

[2018-09-17 08:52] cushon commented on #19770
@meteorcloudy I haven't seen either segmentation faults in singlejar or 'slow read' warnings for those files. Is there a repro?

[2018-09-17 08:54] YijinLiu commented on #21921
After playing with detection_postprocess.cc a bit, I don't think these missing overlapped objects are caused by Detection_PostProcess. They don't even exist in Detection_PostProcess's input.

[2018-09-17 09:02] qiang2008 opened #22311 "ERROR when reload shared_embedding_columns with partitioner"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**:1.10.1
- *

[2018-09-17 09:05] eliorc commented on #13463
Having the same problem

The setup is as follows.
I'm running inside a nvidia-docker container, TF version 1.10, Ubuntu 16.04.
My TFRecords are 161GB in size.

Since the code is sensitive I can't post it but I'll explain what goes on and how I can repeat this exception.

After restarting the machine and rebuilding the image (still TF 1.10) before training I'll actually go over the entire dataset,

[2018-09-17 09:08] lissyx commented on #17274
Thanks, this was not documented anywhere when we started that.

[2018-09-17 09:12] meteorcloudy commented on #19770
@duane-ibm Is it possible to create a minimal repo for this bug?

[2018-09-17 09:17] meteorcloudy commented on #20688
I believe `//tensorflow/core/distributed_runtime/rpc:grpc_tensorflow_server` is buildable after running `./configure`, so closing this issue now.

[2018-09-17 09:17] #20688 closed

[2018-09-17 09:34] vyepishov commented on #21999
There was already tensorflow 1.11rc1 release, and this issue is still not fixed (build failed if the VERBS support is enabled).

[2018-09-17 09:45] #18080 closed

[2018-09-17 09:50] meteorcloudy commented on #22268
@taotaolin , can you run `bazel clean --expunge` and then try to rebuild?

[2018-09-17 09:56] mortendahl commented on #15293
just an update to anyone interested: work on bringing secure computation to tensorflow has been progressing nicely recently as [`tf-encrypted`](https://github.com/mortendahl/tf-encrypted)

[2018-09-17 10:53] chaine09 commented on #19951
@ashermancinelli  what do you mean by tensor/op names? Can you specify?

[2018-09-17 11:20] high242 opened #22314 "Problems after installing tensorflow with pip"
Hi I encounter following issue, when I run "import tensorflow as tf" with python

install command I used:
`pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.12.0-py3-none-any.whl`

python version
`Python 3.7.0`

[code]

-
What's the problem here? Thank you for your help!

[2018-09-17 11:28] high242 commented on #22314
I have installed my tensorflow using the following command:
`pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.12.0-py3-none-any.whl`

[2018-09-17 11:49] muneebullahkhan opened #22315 "Ji"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-17 11:49] muneebullahkhan opened #22316 "Hi"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-17 11:50] muneebullahkhan opened #22317 "Hi when i run the this code[ input_layer = tf.reshape(features["x"], [-1, 28, 28, 1])]"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-17 11:52] muneebullahkhan opened #22318 "Hi when i run the this code[ input_layer = tf.reshape(features["x"], [-1, 28, 28, 1])] then it give this error [ 1 input_layer = tf.reshape(features["x"], [-1, 28, 28, 1]) NameError: name 'features' is not defined ]] can u tell me that how i fix it thanks"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-17 12:37] ppries commented on #6955
@harshini-gadige

we are using memcpy for now, but might look into alternative ways of doing this – at some point we will have a need for pointing at data already on the gpu, but other problems are prioritized for now.

[2018-09-17 12:46] tensorflowbutler commented on #22304
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-17 12:46] tensorflowbutler commented on #22305
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
TensorFlow installed from
Bazel version
CUDA/cuDNN version
Exact command to reproduce

[2018-09-17 12:46] tensorflowbutler commented on #22306
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-09-17 12:59] SumNeuron commented on #22292
To clarify, I mean that taking the NVIDIA partial of the TF docker file:

[code]

results in errors (unable to locate package), timeout or the like. So even if I wanted to make the python3.6 version myself, I can not :)

Trying to use `FROM tensorflow/tensorflow` and `python3` will not work without a virtual environment... as non docker guru, I think many in the community would appreciate it

@Neg

[2018-09-17 14:09] skye commented on #22305
What's the error when it crashes?

[2018-09-17 14:12] skye commented on #22274
@byronyi if you'd like to submit a PR that'd be great!

[2018-09-17 14:18] bjacob commented on #21924
We are still investigating the best fixes internally, but as an immediate work-around, you can pass:

--dedupe_array_min_size_bytes=1000

this allows your command to complete and the resulting .tflite file size is 188939536 bytes.

[2018-09-17 14:19] HimariO commented on #20867
@saeed68gm I'm getting this error with my own project, but the issue is the same. You can look into `tensorflow\contrib\quantize\python\fold_batch_norms.py` to compare the graph structure `graph_matcher` is looking for and what `silm.mobilenetv2.py` created. I had taken a quick glance at `silm.mobilenetv2.py` 's graph but doesn't see anything wrong with it.

[2018-09-17 14:27] mrry commented on #22275
@pavithrasv Could you please take a look at this issue? Thanks!

[2018-09-17 14:47] mbelang commented on #21898
Yeah we disabled the logs completely because it was logging way too much and so we are loosing all the logging purpose now because "good" logs are being lost in false positive.

thank you.

[2018-09-17 14:53] #21687 closed

[2018-09-17 14:53] jianlong-yuan commented on #18222
I also implemented it. You can easy use it. `https://github.com/jianlong-yuan/syncbn-tensorflow/blob/master/README.md`

[2018-09-17 14:53] #21908 closed

[2018-09-17 14:54] jianlong-yuan commented on #18222
I also implemented it. You can easy use it.  [https://github.com/jianlong-yuan/syncbn-tensorflow/blob/master/README.md](url)

[2018-09-17 14:55] jianlong-yuan commented on #18222
I also implemented it. You can easy use it. [https://github.com/jianlong-yuan/syncbn-tensorflow](url)

[2018-09-17 14:56] meteorcloudy commented on #22268
@taotaolin If that didn't work, can you type `where patch` in your terminal? Just trying to make sure you have the correct patch binary in `PATH`

[2018-09-17 14:57] stephan-blueriver commented on #21852
Similar problem on nvidia Xavier.

[2018-09-17 14:57] jianlong-yuan commented on #18222
I just implemented it. You can just replace batch_norm with sync_batch_norm.  ( [https://github.com/jianlong-yuan/syncbn-tensorflow](url) )

[2018-09-17 14:57] Dimitrioum commented on #6698
@drproy2k solution seems effective for me as well. The problem was that I was running another jupyter notebook instance with keras, and I was trying to run keras training in Pycharm. So simply closing jupyter notebook and killing this process solved this problem.

[2018-09-17 15:20] saeed68gm commented on #20867
@HimariO  Thank you for your response. The interesting thing is I was able to quantize deeplab using their training code (which uses the specialize implementation of mobilenetv2) but when I try to use the line tf.contrib.quantize.create_training_graph in mobilenetv2 implementation in slim, I get this error. So I guess I can compare the two and find out the difference....

[2018-09-17 15:28] eamartin commented on #3103
Are reductions still non-determinstic by default on GPU? If so, can this issue be re-opened? Determinstic computation is critical for reproducibility, and reductions are a critical part of neural nets.

Finally:
Several comments on this issue and other linked issues mention that "reductions are non-determinstic for performance". This is not the case. A reduction tree is both determinstic and gener

[2018-09-17 15:43] alanchiao commented on #21921
@YijinLiu : @achowdhery is most familiar with export_ssd script and the conversion process.

Can we move this discussion to a separate thread since it's unrelated to the issue that @jimenisimo has?

[2018-09-17 15:43] taotaolin commented on #22268
It can now be compiled, but it seems that something went wrong, maybe because my Windows language is Chinese ，so it's error is garbled, I can't understand what went wrong. tips:
[code]

[2018-09-17 16:18] ispirmustafa commented on #21915
Hi @lukmanr
Could you please update the progress on your PR #21916 ?
Thank you

[2018-09-17 16:25] dmitrievanthony opened #22319 "Distributed training fails when I use FixedLengthRecordDataset"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
I slightly updated `keras_model_to_estimator_client.py` example so that it uses FixedLengthRecordDataset. Updated version is [here](https://github.com/dmitrievanthony/ecosystem/blob/ignite/distribution_strategy/keras_model_to_estimator_client.py).

- **OS Platform and Distri

[2018-09-17 16:30] wt-huang commented on #22318
@muneebullahkhan you would need to define features as tensor i.e. 28 by 28 in your case before using it.

[2018-09-17 16:31] harshini-gadige commented on #6955
Ok. Closing this issue for now. Feel free to reopen if there any new suggestions.

[2018-09-17 16:31] #6955 closed

[2018-09-17 16:32] wt-huang commented on #22317
Closing this as this is a duplicate

[2018-09-17 16:32] #22317 closed

[2018-09-17 16:32] wt-huang commented on #22316
Closing as this is a duplicate

[2018-09-17 16:32] #22316 closed

[2018-09-17 16:33] wt-huang commented on #22315
Closing as this is a duplicate

[2018-09-17 16:33] #22315 closed

[2018-09-17 16:36] weinman commented on #21615
Thanks. I'm not sure how to best construct a minimum working example, but here's a more concrete sketch than the description in the OP.

In our `model_fn.py` which has all the custom Estimator framework, we have something like ...

[code]

and then in our  `train.py` driver

[code]

The root issue seems to be tied to [this line/comment](https://github.com/tensorflow/tensorflow/blob/c8a0dfc741736a5

[2018-09-17 16:45] dhingratul commented on #21863
I believe the issue is with the timeline, as it shows crop_and_resize as one big block of operation, after inspecting with nvidia visual profiler, I have more clarity, and the issue is non-reproducible. Its actually faster than a few other custom ops I tried.

[2018-09-17 16:45] #21863 closed

[2018-09-17 16:47] yuefengz commented on #22319
It is not recommended to use MirroredStrategy for multi-node, could you try CollectiveAllReduceStrategy while we are fixing this issue?

[2018-09-17 16:50] #19935 closed

[2018-09-17 16:54] alextp commented on #20586
I think we should close this issue for now. Please reopen if you still think it should be addressed.

[2018-09-17 16:54] #20586 closed

[2018-09-17 16:57] ymodak commented on #22314
@high242 This error indicates that your system path or environment settings of CUDA  have not been configured correctly. Please refer a duplicate issue https://github.com/tensorflow/tensorflow/issues/11571 .  I am closing this issue since its a duplicate. Feel free to reopen if your issue still persists.

[2018-09-17 16:57] #22314 closed

[2018-09-17 16:59] karmel commented on #21737
Thanks @agniszczotka -- that is an interesting area of research. While we don't currently have resources to devote to a pre-baked solution here, we are happy to consider contributions that enable population based training for Estimators-- let us know if you are interested.

[2018-09-17 17:13] robinqhuang commented on #20904
I am having the same issue.  and I am using tensorflow r1.10 branch and xcode 9.4.1.  https://github.com/tensorflow/tensorflow/issues/20900 does not help since flatbuffers is not dowloaded anymore .

[2018-09-17 17:18] asimshankar commented on #21358
The `CUDA_VISIBILE_DEVICES` environment variable controls the GPUs that are visible to TensorFlow (or really any CUDA library).

The names of devices in TensorFlow (`"/gpu:0") are assigned in serial order based on what is visible. Thus, when you set `CUDA_VISIBLE_DEVICES=1`, then the TensorFlow device name "/gpu:0" corresponds to it (since it is referring to the one and only device visible to Tens

[2018-09-17 17:18] #21358 closed

[2018-09-17 17:29] gunan commented on #22268
The latest is an issue that was fixed last week. You will need to sync your code to head and retry.
At this point, this is becoming a technical support issue. It is now clear that this is not a bug in TensorFlow, but rather setup problems in your environment.

Please make sure to follow this page to be able to build TF on windows:
https://www.tensorflow.org/install/install_sources_windows
All the

[2018-09-17 17:29] #22268 closed

[2018-09-17 17:32] harshini-gadige commented on #7094
Feel free to reopen this issue if there are any contributions. Also PR number can be posted here.

[2018-09-17 17:32] #7094 closed

[2018-09-17 17:34] shashishekhar commented on #22183
@PennySHE : Ah! correct the parsing code for NDK support seems incorrect. Please see my comment [here](https://github.com/tensorflow/tensorflow/issues/20192#issuecomment-404971539) for using a higher version of NDK. Sorry for the trouble, we are going to fix this soon.

[2018-09-17 17:46] roshan-dongre opened #22320 "fatal error: google/protobuf/inlined_string_field.h: No such file or directory #include <google/protobuf/inlined_string_field.h>"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-17 17:56] gunan commented on #22300
Are you using 32 bit python by any chance?
Could you share the output of `pip --version`

[2018-09-17 18:34] reuben commented on #21924
Oh, neat, thanks! I'll give it a try.

[2018-09-17 18:36] robinqhuang commented on #18356
sadlerjw's fix does not work for tensorflow 1.10 + xcode 9.4.1. It fixed for Eigen, but there is another similar error:
tensorflow/core/util/work_sharder.cc:23:23: error: thread-local storage is not supported for the current target

[2018-09-17 18:47] roshan-dongre commented on #22320
~/Desktop/tensorflow/tensorflow/contrib/makefile/downloads/protobuf/src protoc --version gives libprotoc 3.5.0 but inlined_string_field.h is not in 3.5.0

[2018-09-17 18:55] #21352 closed

[2018-09-17 18:56] tensorflowbutler commented on #22307
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-17 18:56] tensorflowbutler commented on #13530
Nagging Assignee @rohan100jain: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:56] tensorflowbutler commented on #16468
Nagging Assignee @fchollet: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:56] tensorflowbutler commented on #17158
Nagging Assignee @aselle: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:56] tensorflowbutler commented on #17227
Nagging Assignee @petewarden: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:56] tensorflowbutler commented on #18037
Nagging Assignees @chsigg, @zheng-xq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:56] tensorflowbutler commented on #18978
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-17 18:57] tensorflowbutler commented on #19589
Nagging Assignee @jart: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:57] tensorflowbutler commented on #19616
Nagging Assignee @robieta: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:57] tensorflowbutler commented on #19644
Nagging Assignee @raghuraman-k: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:57] tensorflowbutler commented on #19679
Nagging Assignee @chsigg: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:57] tensorflowbutler commented on #19691
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:57] tensorflowbutler commented on #19748
Nagging Assignee @robieta: It has been 104 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:57] tensorflowbutler commented on #20529
Nagging Assignee @pavithrasv: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:57] tensorflowbutler commented on #20570
Nagging Assignee @tatianashp: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:57] tensorflowbutler commented on #20922
Nagging Assignee @sguada: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:57] tensorflowbutler commented on #21257
Nagging Assignee @jart: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:58] tensorflowbutler commented on #21352
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-17 18:58] tensorflowbutler commented on #21367
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-17 18:58] tensorflowbutler commented on #21461
Nagging Assignee @drpngx: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:58] tensorflowbutler commented on #21631
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:58] tensorflowbutler commented on #21673
Nagging Assignee @tatianashp: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:58] tensorflowbutler commented on #21693
Nagging Assignee @tatatodd: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:58] tensorflowbutler commented on #21695
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-17 18:58] tensorflowbutler commented on #21705
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-17 18:58] tensorflowbutler commented on #21706
Nagging Assignee @robieta: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:58] tensorflowbutler commented on #21725
Nagging Assignee @suharshs: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:59] tensorflowbutler commented on #21745
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:59] tensorflowbutler commented on #21918
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-09-17 18:59] tensorflowbutler commented on #22000
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-17 18:59] tensorflowbutler commented on #22014
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-17 19:03] dmitrievanthony opened #22321 "Distributed training fails when I use CollectiveAllReduceStrategy"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
I slightly updated mnist.py example so that it uses CollectiveAllReduceStrategy. Updated version is [here](https://github.com/dmitrievanthony/models/blob/ignite/official/mnist/mnist.py#L208).

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Mac OS 10.13.3

- *

[2018-09-17 19:05] dmitrievanthony commented on #22319
@yuefengz, I tried, please have a look at #22321 :)

[2018-09-17 19:15] frap129 commented on #17227
@tensorflowbutler can you nag a little harder? Thanks

[2018-09-17 19:19] theerfan commented on #22300
No, I'm using 65 bit python.

And as for pip,

[2018-09-17 19:22] Sergio0694 opened #22322 "Error compiling/importing a custom (GPU) op on Windows w/ Bazel and TF r1.11"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 Pro x64 17134.x
- **TensorFlow installed from (source or binary)**: binary, w/ Bazel
- **TensorFlow version (use command below)**: r1.11
- **Python version**: 3.6.5 x64
- **Bazel version (if compil

[2018-09-17 19:28] rcorvus opened #22325 "bazel build tensorflow on windows 10 getting cudnn.h- system cannot find the file specified"
From stackoverflow:

https://stackoverflow.com/questions/52335703/bazel-build-tensorflow-on-windows-10-getting-cudnn-h-system-cannot-find-the-fil

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung

[2018-09-17 19:56] nvcastet opened #22326 "CollectiveAllReduceStrategy errors with official models"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
I modified the tensorflow/models repo utility function to use CollectiveAllReduceStrategy instead of MirroredStrategy. See the one-line change at: https://gist.github.com/nvcastet/60b8c0c66da4cf2949e38fc790208a1c#file-distribution_utils-py-L47
- **OS Platform and Distributio

[2018-09-17 19:58] nvcastet commented on #22326
FYI @yuefengz

[2018-09-17 20:35] Bracewind opened #22329 "Error when loading model from InputStream in Tensorflow Lite"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: Samsung Galaxy, android 6.0 API 23
- **TensorFlow installed from (source or binary)**: no

[2018-09-17 20:36] mbrubake opened #22330 "Eigenvalue decomposition of asymmetric matrices"
There is no general eigenvalue decomposition available in TensorFlow.  ```tf.self_adjoint_eig``` currently only supports self-adjoint matrices.  A full implementation of the eigenvalue decomposition for more general (diagonalizable) matrices could be very useful.  Even a version without gradients would be helpful.

[2018-09-17 20:37] yaroslavvb commented on #3103
I believe there's been some work to make reductions deterministic

[2018-09-17 20:47] roshan-dongre commented on #22320
Figured out a way around this and was able to run a custom c++ program with g++ outside the tensorflow repo without using bazel other than for building the .so files. I'll be posting a tutorial soon for anyone who needs it.

[2018-09-17 20:56] soerendip commented on #20271
Hm, the links seem to be outdated and the install commands don't work. How to resolve this now??

[2018-09-17 21:05] #21257 closed

[2018-09-17 21:13] gunan commented on #22300
Ah, it is because this is python 3.7.
The same package we have for python 3.6 should work fine.
Could you try
[code]

[2018-09-17 21:20] poxvoculi commented on #22326
I don't think this is a duplicate of #22321.

The specific error:
Internal: Second consumer arrived for key 10003:0:0:0:0:1

Is most typically caused by an RPC response failure that results in a second RecvBuf request being sent by the client for the same key.  This kind of error cannot be tolerated, only detected with this failure.  It should be rare.  If you're experiencing it frequently, there'

[2018-09-17 21:28] fchollet commented on #22012
Note that you can also suppress the warning by setting back `dis_model.trainable = True` once you've compiled `combined_model`.

[2018-09-17 21:29] soerendip commented on #13416
How to install libcusolver.so.8.0?

[2018-09-17 21:32] amirjamez commented on #20194
no answers on this?

[2018-09-17 21:33] cyberwillis commented on #21802
Hi @jeanpat, take a look on this instructions

The version mentioned is a bit old but the process is the same for the new version of nccl2.

https://github.com/tensorflow/serving/issues/327#issuecomment-385712926

[2018-09-17 21:42] denfromufa opened #22331 "broken link in documentation for autograph"
This page from docs links to the limitations, but in the wrong subfolder:

https://www.tensorflow.org/guide/autograph

WRONG PATH:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/autograph/LIMITATIONS.md

But the original Jupyter Notebook refers to the markdown file in the correct subfolder:

https://github.com/tensorflow/docs/blob/master/site/en/guide/autograph.ipynb
https

[2018-09-17 21:46] eamartin commented on #3103
@yaroslavvb
I just re-ran my initial examples on TF 1.5.0 and found that that `reduce_mean` call produced consistent results across 10K trials with the mean kernel running on a K80 GPU. This observation agrees with @ahmedhosny 's observation.

I dug through the source a little bit and I think the reduction logic happens in https://github.com/eigenteam/eigen-git-mirror/blob/master/unsupported/Eigen

[2018-09-17 21:53] dhingratul commented on #22320
+1

[2018-09-17 21:54] dhingratul commented on #22320
workspace.bzl downloads 3.6.0, i am trying to hardcode and revert to 3.5.0, have you tried that, does that work ?

[2018-09-17 22:02] ymodak commented on #22331
@denfromufa Thank you for your post. Yes you are right about the pointing of autograph.ipynb link, we have moved the notebooks to the tensorflow/docs repository. This update in the Readme file as well. I am closing this issue as you can access the notebooks from the tensorflow/docs repository.
@MarkDaoust Can you please update the documentation link with correct address.

[2018-09-17 22:03] #22331 closed

[2018-09-17 22:08] allenlavoie commented on #22297
Yeah this comes up if there's a PartitionedVariable in a collection without a read op. There was a fix in https://github.com/tensorflow/tensorflow/commit/b23df6e50255991b06cc8d6596b1075c3bd3f7e9. Looks like it'll be in 1.11.

[2018-09-17 22:08] #22297 closed

[2018-09-17 22:14] drpngx commented on #22140
@chenghuige ok to close?

[2018-09-17 22:16] sepulm01 commented on #21725
yep ! I solve with apply fake Quatized

--default_ranges_min=0 \
--default_ranges_max=6 \

I hope it will be usefull to other people :)

[2018-09-17 22:27] drpngx commented on #21872
@yongtang thank you for helping out!
@Q82822 closing since it seems that you have a solution.

[2018-09-17 22:27] #21872 closed

[2018-09-17 22:34] xilenteyex commented on #17910
@prb12 ,  it will be great if you can look into this.

Thanks!

[2018-09-17 23:09] roshan-dongre commented on #22320
Yeah you can do that or you can get the 3.6.0 protobufs from the protobuf github repo which is what I ended up doing.

[2018-09-17 23:56] ispirmustafa commented on #20506
Estimator.predict yields predictions under a graph context. The way with handle graph context in TF make yielding an issue. For example following code has same error.

I'll update the documentation of predict:

[code]

[2018-09-18 00:09] harshini-gadige commented on #22298
@jrabary Hi, are you getting any error or does the system not respond without any error? Could you post the error message if you get it.

[2018-09-18 00:12] ispirmustafa commented on #20375
Closing this due to inactivity. Please do re-open if you need this.

[2018-09-18 00:12] #20375 closed

[2018-09-18 00:13] ispirmustafa commented on #20090
Un-assigning myself so that it will be triaged.

[2018-09-18 00:13] ymodak commented on #22184
@midnitekoder Did you try the @facaiy 's  suggestion? Does it solve your issue?

[2018-09-18 00:27] pritamdamania87 opened #22332 "Alternative to http://www.image-net.org/challenges/LSVRC/ for tflite accuracy tool?"
I was looking into using the tflite accuracy tool provided here: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/lite/tools/accuracy/ilsvrc. The documentation mentions that we need to download the devkit from http://www.image-net.org/challenges/LSVRC/. Although, it seems like image-net.org has been down for several days.

Is there any alternative repository for the same dat

[2018-09-18 00:38] trias702 commented on #22042
I get this same error even when using a `with tf.device("/gpu:0")` block in
my code.

On Mon, 17 Sep 2018, 18:30 Asim Shankar, <notifications@github.com> wrote:

[2018-09-18 00:52] gunan commented on #22325
Thanks for debugging the problem.
Would you like to contribute a fix to cuda_configure.bzl ?

[2018-09-18 00:57] harshini-gadige commented on #22221
@girving Hi, Can this be closed or any fix is being implemented ?

[2018-09-18 01:00] asimshankar commented on #22307
CC @m3bm3b in case he has ideas. From a cursory look at the stacktrace it seems `pthread_once` is somehow leading to an invalid program address?

[2018-09-18 01:02] asimshankar commented on #22042
@trias702 : Yeah, a `with tf.device("/gpu:0")` mean "run everything under this on the GPU", at which point I expect it to fail with the error above (complaining that there is no GPU implementation of `ResourceSparseApplyRMSProp`. However, without that directive, it should be able to use the CPU kernel (as so your original report does sound like a bug)

[2018-09-18 01:06] taotaolin commented on #22268
I tried to recompile the latest version of git, prompting CUDA to compile. Is this a problem with my CUDA?Rename the compiled tensorflow.so to tensorflow.dll and it will work?
tips:
[code]

[2018-09-18 01:08] asimshankar commented on #21745
@yuefengz : Mind taking a look?

(CC @mrry FYI)

[2018-09-18 01:36] harshini-gadige commented on #22226
@rohan100jain Hi, could you please post the output which you get when running on a GPU for a 1000x1000 matrix.

[2018-09-18 01:43] sss0636 opened #22333 "TensorFlowlite 加载模型报 it is probably compressed"
android版本5.1
系统版本Windows
软件版本androidstudio3.0.1
模型 yolo_v2_7_448.tflite
程序调试到AssetFileDescriptor fileDescriptor = assets.openFd(modelFilename)时报错，”This file can not be opened as a file descriptor; it is probably compressed”

[2018-09-18 01:45] candyzone commented on #19324
@yuefengz Here is my issue.

[2018-09-18 01:53] guptapriya commented on #21968
Actually, this issue is likely fixed in release 1.11, could you try with that and see if that fixes the issue?

[2018-09-18 02:00] dargilboa commented on #22226
This is for a 1000x1000
<tf.Tensor: id=24, shape=(1000, 1000), dtype=float32, numpy=
array([[ 1.0023266 ,  0.02684135, -0.01610221, ..., -0.00190309,
         0.01394506, -0.00587076],
       [ 0.02684135,  1.0824999 , -0.0193597 , ...,  0.0389607 ,
        -0.00889984, -0.05881837],
       [-0.01610221, -0.0193597 ,  1.0005746 , ..., -0.02111715,
        -0.00168062,  0.01316965],
       ...,

[2018-09-18 02:00] guptapriya commented on #21470
@tfboyd - do you know what needs to be done for getting nccl to run with windows?

[2018-09-18 02:05] guptapriya commented on #20874
The fix for this is in r1.11, could you please test with that and let us know?

[2018-09-18 02:06] guptapriya commented on #20651
Closing for now, please re-open if this is still an issue

[2018-09-18 02:06] #20651 closed

[2018-09-18 02:42] m3bm3b commented on #22307
I agree that debug symbols could help, if you can get a symbolic stack trace from the debugger.

pthread_once() is fairly straightforward.
I'm slightly suspicious that the libstdc++ implementation of call_once()
is rather complicated (e.g., it uses TLS).
I'd be tempted to try replacing the use of call_once()
with a direct call to pthread_once() to see whether the problem is still present.

[2018-09-18 03:11] karllessard commented on #17390
FYI, since TF 1.10, operations wrappers have been added to build and train graphs in Java (please note that it is still at an experimental stage).

A minimalist example of their usage can be found [here](https://github.com/karllessard/models/tree/java-examples/samples/languages/java/mnist).

[2018-09-18 03:36] perfinion commented on #21528
@samikama try this: https://github.com/gentoo/gentoo/blob/0d7adf51d80763d2ca8c3e5ffac4dd9b3edbe388/sci-libs/tensorflow/tensorflow-1.11.0_rc0.ebuild#L125-L141
im pretty sure that snippet gets all flags properly. (at least for one machine, I havent worked on cross-compiling yet)

[2018-09-18 03:54] zheolong commented on #22223
ok , get it done, thx

[2018-09-18 03:54] raninbowlalala commented on #20867
@saeed68gm I will also check silm.mobilenetv2.py. If you have some progress, please comment here, we can discuss about this problem. Thank you very much!

[2018-09-18 04:05] karllessard commented on #17390
It seems that closing this issue just ignited it ;)

@agibsonccc , personally I'm all for having a SIG where all those matters could be discussed and efforts could be merged, a big 👍 for this. I'm not sure though where all this is going since the current topic is about the current state of the TF Java client but discussions always tend to be dragged in the directions of other projects. When you ta

[2018-09-18 04:06] FriedRonaldo commented on #22143
Test

[2018-09-18 04:08] skang29 commented on #22143
Hi,
Thanks for the solution.
I tried to apply your solution, it doesn't work.
I removed current container and I reinstalled **tensorflow/tensorflow:1.10.0-gpu-py3** image.
Right after installation, I only can find libnccl2 as shown below and code was not working.
[code]

So, I tried to install libnccl-dev as follows.
[code]
However, same problem.
Did I installed libnccl2 and libnccl-dev properly?

[2018-09-18 04:18] pranasblk commented on #22204
Simple:
Simple *gradle script unable to retrieve tensorflow Java API* from maven
central and/or jcenter.
Please see the gradle script in the previous post to reproduce the issue.

Thanks!

On Sat, Sep 15, 2018 at 7:43 AM, Karmel Allison <notifications@github.com>
wrote:

[2018-09-18 04:34] agibsonccc commented on #17390
@karllessard We're still interested in doing this as part of dl4j or TF we don't care.  It really depends on what the TF team is interested in doing with 2.0. The team had expressed interest in merging efforts somehow. We'd prefer not to be rewriting things your team is already doing. We're interested in providing a graph runner regardless since we have to interop with every stack anyways. We're g

[2018-09-18 04:48] cococyx opened #22336 "ssd_mobilenet_v1_quantized_300x300_coco14_sync's mAP=0"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform Ubuntu 16.04
- **TensorFlow installed from source: models's commit = 55d55abc71483723743c0273b9c1fd8e0c7d8391 and tensorflow's commit = 6c3e1f4bc803f2dc8a804f4f15ada0eda6c90a18
- **TensorFlow version **:1.9.0
- **Python version**:Python 3.5.2 (default, Nov 23

[2018-09-18 04:51] ZacVawterKodiak commented on #22057
Had some time for more digging.  Looks like the crosstools `cxx_builtin_include_directory` is getting nuked to `\`, [here](https://github.com/tensorflow/tensorflow/blob/b91e27a9c33d038af79a0944eb9046b926d483c8/third_party/gpus/cuda_configure.bzl#L1355).

Setting the line back to what the above comment says it should be:
`cuda_defines["%{host_compiler_includes}"] = (host_compiler_includes + "\n  cx

[2018-09-18 05:07] girving commented on #22221
@alextp?

[2018-09-18 05:43] byronyi commented on #22274
@poxvoculi @dubey PR submitted.

[2018-09-18 05:51] jyoungyun commented on #21473
I added lstm_test.py file into tensorflow/contrib/lite/testing directoy. This file will check whether LSTM operator is generated or not.

[2018-09-18 05:52] tfboyd commented on #22201
Updating soon.

[2018-09-18 06:07] taotaolin opened #22338 "using bazel to build tensorflow.dll"
i try using bazel to build on windows, but tips:

**Have I written custom code** No
**OS Platform and Distribution** WIN7 Visual Studio 2015
**TensorFlow installed from** source master
**Bazel version** 0.17.1
**CUDA/cuDNN version** CUDA9.0 / CUDNN 7.2.1
**GPU model and memory** 1080Ti / 11G
**Mobile device** N/A
**Exact command to reproduce**
1. python ./configure.py
[code]

2.bazel build --confi

[2018-09-18 06:57] u2takey opened #22339 "pip official package compiled differently with docker package?"
I found in docker container, tensorflow is installed from `http://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.7.0-cp27-none-linux_x86_64.whl`
not official pip source `https://pypi.org/project/tensorflow/`.

And i am working on filesystem plugin, a .so file, which works fine with official tensorflow pip package, but with tensorflow from `http://storage.googleapis.com/tensorflow/linux/c

[2018-09-18 06:59] Nayana-ibm commented on #19770
@meteorcloudy @cushon There are two different issues here.
1.  Slow read warnings
2. Building Java resource jar failed (Segmentation fault): singlejar failed

The slow read issue is seen when using `Openjdk`,  which is currently being looked at by @gunan
@duane-ibm Could you comment on singlejar issue?

[2018-09-18 07:00] duane-ibm commented on #19770
@meteorcloudy Building tensorflow works fine using `bazel build -c opt //tensorflow/tools/pip_package:build_pip_package`
The `singlejar` issue is seen when running the tests `bazel test -c opt //tensorflow/java/...`

[2018-09-18 07:19] eduOSS commented on #19362
I get stuck by the same issue and cannot be solved with @codeteo's solution. Any other possibilities causing this issue?

[2018-09-18 07:38] byronyi commented on #22274
@yuefengz I just tried MirroredStrategy but it seems require NCCL even if it is a CPU-only build.

Is this going to be fixed soon? If not, I will open a separate issue for this.

[code]

[2018-09-18 07:39] fclof opened #22341 "Feature Request: Add quadratic weighted kappa"
### System information
- **Have I written custom code**: No
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **Mobile device if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.10.0
- **Python version**: 2.7.12
- **Bazel version (if compiling from source)**: N/A
- **GCC/Compiler version (if

[2018-09-18 07:51] skeydan commented on #21469
Hello, could anyone please provide the current URL for TF nightly builds, unrelated to raspberry PI?
Thank you!

[2018-09-18 07:55] meteorcloudy commented on #22268
@taotaolin Can you sync TF repo to HEAD, this issue should be fixed already.

[2018-09-18 08:02] 07freedom opened #22342 "tensorflow import error(tf.estimator package not installed)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Centos 7
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command be

[2018-09-18 08:04] jrabary commented on #22298
@harshini-gadige Hi, no there is no error. But the variable are not initialized. I know this because I set the logging to DEBUG in order to see which variables are initialized in the logs.
The good news is that I can initialize my network tf.estimator.WarmStartSettings.

[2018-09-18 08:07] 07freedom commented on #22342
I have tried uninstall and install tensorflow & tensorflow-hub. But it doesn't work.

[2018-09-18 08:10] Zantares commented on #22229
Does anyone have any suggestion? I'm assume this should be a bug or lack of design in Tensorflow, who   try to run [tensorflow/models](https://github.com/tensorflow/models) on CPU may meet this issue, and I also think this is the reason of #14900.

[2018-09-18 08:33] itsliupeng commented on #22321
I met the same problem when using CollectiveAllReduceStrategy

[2018-09-18 09:07] bjtommychen commented on #15805
would u tell me what script used to get your summarize. thanks.

 summarize frozen pb
Inputs
	name=Placeholder
	type=float(1)
	shape=[?,28,28]
Outputs
	name=output, op=Add
Op Types
	99 Const
	84 Mul
	84 Sigmoid
	57 Add
	56 Tanh
	30 ConcatV2
	29 MatMul
	28 BiasAdd
...

[2018-09-18 09:09] adityakamble49 commented on #22333
I am facing the same issue
I referred [TFLite Poets 2](https://github.com/googlecodelabs/tensorflow-for-poets-2) example and [TFLite using Keras](https://www.youtube.com/watch?v=MZx1fhbL2q4)

I have _**linear.tflite**_ file in **android assets** directory
I am able to generate linear.tflite model but while accessing it from loadModel() method I am getting
[code]

at line

[code]

[code]

Is there

[2018-09-18 09:23] ram1897 opened #22343 "How to penalize the loss of one class more than the other in tensorflow for a multi class problem?"
Let's say my model has two classes Class 1 and Class 2. Both Class 1 and Class 2 has a equal amount of training and testing data. But I want to penalize the loss of the Class 1 more than Class 2, so that one class has a fewer number of False Positives than the other (I want the model to perform better for one class than the other).

[2018-09-18 09:53] #21359 closed

[2018-09-18 10:07] autkid commented on #7031
Worked For me Too :P

[2018-09-18 10:24] qyyy opened #22344 "tensorflow.contrib.mpi import fails and cannot run with mpi even though tensorflow is compiled with mpi"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:Yes, I follow [this](https://github.com/tensorflow/tensorflow/issues/17758) to add "#define TENSORFLOW_USE_MPI" to each *.cc files and *.h files in mpi_collectives folder.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04.5 LTS
- **Mobile devic

[2018-09-18 11:15] maitreya2954 opened #22345 "bazel build Error: use of undeclared identifier 'strtold'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NA
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04 LTS
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: NA
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (

[2018-09-18 11:58] Nayana-ibm commented on #22023
@gunan  We are observing different issues with different GCC version with vectorization:

1. With gcc 6.3.0 , Ubuntu 16.04, z13 :   Sqlite build issue
2. With gcc 6.3.0/7.3.0 , Ubuntu 16.04, z14 :  TF build failure on Eigen /internal compiler error.
3. With gcc 7.3.0 , Ubuntu 18.04, z14 :  TF buil dfailure on Eigen.
We are currently investigating more on Eigen failures. (Any pointers on this would

[2018-09-18 12:04] taotaolin commented on #22268
How should I choose to compile the debug version or the realse version?

[2018-09-18 12:33] eaigner commented on #18356
@sadlerjw 's fix doesn't seem to work anymore on TF 1.10

[2018-09-18 12:43] tensorflowbutler commented on #22336
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
OS Platform and Distribution
Mobile device

[2018-09-18 12:45] nvcastet commented on #22326
@poxvoculi I experience it constantly. This is a single worker run using 2 GPUs. I also sometimes got an assert at https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtime/collective_rma_local.cc#L49
`CHECK_EQ(recv_bytes, hook->prod_value->TotalBytes());`. Let me know if i can provide more debugging info.

[2018-09-18 12:56] Carl-Jensen-Bose commented on #18394
I've had a problem with the the `stop_if_no_decrease` hook and I think I've found the problem in the code I changed below.

The problem is that the python `dict.items()` method doesn't return entries in the order they went in. The indeterminate ordering means that the hook can trigger when it comes across any eval checkpoints that are more than max_steps apart without having come across a better e

[2018-09-18 13:16] meteorcloudy commented on #19770
@duane-ibm I couldn't reproduce the singlejar failure with Bazel 0.17.1, can you try upgrading Bazel?

[2018-09-18 13:20] yuefengz commented on #22326
I believe the problem is in the variable creator which only sees a partial name: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/distribute/python/collective_all_reduce_strategy.py#L147 and therefore it assigns same key for different variables.

Let me see whether there is a workaround. I am not sure why pure Estimator model doesn't have this problem.

[2018-09-18 13:28] PaulWoitaschek commented on #12460
@wt-huang pingpong

[2018-09-18 13:31] rcorvus commented on #22325
Definitely, I'll see what I can do.

[2018-09-18 13:34] LeanderK commented on #11447
I would also be very interested in such a feature!

[2018-09-18 14:02] theerfan commented on #22300
I tried.

[2018-09-18 14:11] westurner commented on #8802
"PEP 571 -- The manylinux2010 Platform Tag"
https://www.python.org/dev/peps/pep-0571/

"Tracking issue for manylinux2010 rollout"
https://github.com/pypa/manylinux/issues/179

"[Distutils] Opinions on requiring younger glibc in manylinux1 wheel?"
https://mail.python.org/mm3/archives/list/distutils-sig@python.org/message/M4MSVY5MPAPXFWHH4PBLE6PEBPOBIA44/

[2018-09-18 14:36] oroojlooy opened #22346 "NotFoundError (see above for traceback): Key Variable not found in checkpoint [[Node: save/RestoreV2 = RestoreV2[dtypes=[DT_INT32, DT_FLOAT, DT_FLOAT, DT_FLOAT, DT_FLOAT, ..., DT_FLOAT, DT_FLOAT, DT_FLOAT, DT_FLOAT, DT_FLOAT],"
When I restore a saved model using:

    checkpoint = tf.train.get_checkpoint_state(config.pre_model_dir)
    if checkpoint and checkpoint.model_checkpoint_path:
     saver.restore(session, checkpoint.model_checkpoint_path)
, I am getting this error:

    INFO:tensorflow:Restoring parameters from ./saved_model/10_zones/10/network--1685000
    -------------------------------------------------------

[2018-09-18 14:44] jrbtaylor opened #22347 "Bug in tf.import_graph_def for Graph Editor"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: see example below
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow ver

[2018-09-18 14:49] izdi commented on #16189
Yep, still wondering.

[2018-09-18 14:54] kocurvik commented on #21976
I ended up using downloaded clang for compilation (ability to download during build is a great feature). I am closing this, but I wasn't able to find out what is wrong with my gcc and/or tf build.

[2018-09-18 14:54] #21976 closed

[2018-09-18 14:55] lightning20 opened #22348 "Try to install TF from source got error"
The environment is Ubuntu 18, nvidia driver 396(K80), cuda 9.2, cudnn 7.2.1, nccl 2.2, TF 1.10, python 3.6, bazel 0.17.1, gcc 7.3.0

the ./configure is ok, but command below got error
bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package

ERROR: /home/eliyart/tensorflow/tensorflow/python/BUILD:1598:1: Linking of rule '//tensorflow/python:gen_linalg_ops_py_wrappers

[2018-09-18 14:55] tfboyd commented on #21470
I am not aware of a nccl binary for Windows from NVIDIA.  That does not
mean it does not exist.  You can use hierarchical copy and get the same or
very similar performance.

On Mon, Sep 17, 2018, 7:07 PM guptapriya <notifications@github.com> wrote:

[2018-09-18 15:00] purpledog commented on #22347
Thanks for reporting this bug. As you identified, the most likely cause is that the graph_editor does not copy the attribute of the graph correctly.
This package is maintained by the open-source community and contribution are welcome. I am happy to review commits.

[2018-09-18 15:31] VadimShevchuk commented on #21478
I have the same problem

[2018-09-18 15:42] alextp commented on #22291
@akshaym can you look at this? It seems to be related to the convert_to_tensor codepath where the tf.stack thing is getting confused.

[2018-09-18 15:45] harshini-gadige commented on #22342
#21478

[2018-09-18 15:45] brianwa84 commented on #21909
This code needs to get moved into TFP. I'd like to assign to https://github.com/axch but apparently we need to tweak his github memberships.

[2018-09-18 15:50] goutham commented on #18394
@Carl-Jensen-Bose Thanks for pointing it out. `read_eval_metrics` should have returned an `OrderedDict` (sorted by global_step key) instead of `dict`. Have a fix out for review.

[2018-09-18 15:52] martinwicke commented on #21478
@case540 There probably is some additional untangling to be done?

[2018-09-18 15:57] alextp commented on #22042
@asimshankar This error is happening because once the variable has been placed on the GPU we need to run any op which updates it (including `ResourceSparseApplyRMSProp` here) on the same device the variable is, which means there's nothing the eager placer can do but fail.

The correct long-term fix here is to register the adagrad optimizers for CPU and GPU.

The correct short-term fix is to force-

[2018-09-18 16:00] alextp commented on #22042
Looking at the code it seems like we never implement the ResourceSparseApply* ops for any optimizer on the GPU. So we should fix this by probably auto-placing the variables in the keras Embedding layer on the CPU if in eager and there are GPUs available (so as to not interfere with TPUs).

[2018-09-18 16:02] alextp commented on #22221
This is still a bug and expected to be fixed only when we transition to while_v2 as described in https://github.com/tensorflow/community/pull/13 . I'll close this for now.

[2018-09-18 16:02] #22221 closed

[2018-09-18 16:03] harshini-gadige commented on #22348
@lightning20 Hi, have you tried following the instructions [here](https://www.tensorflow.org/install/install_sources)

[2018-09-18 16:05] Carl-Jensen-Bose commented on #18394
@goutham Even better. Thanks!

[2018-09-18 16:11] harshini-gadige commented on #22343
This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there.

[2018-09-18 16:11] #22343 closed

[2018-09-18 16:18] dhingratul commented on #22005
+ 1

[2018-09-18 16:28] case540 commented on #21478
I'll take a look

[2018-09-18 16:36] mbrubake opened #22349 "Error in tf.contrib.distributions.fill_triangular_inverse"
### System information
** TF Env Info: **
[tf_env.txt](https://github.com/tensorflow/tensorflow/files/2393567/tf_env.txt)

** TF Version: **
[code]

### Describe the problem
The function ```fill_triangular_inverse``` actually uses the upper triangular portion of the matrices when constructing the transformation.  This can be seen with the above code where a vector is converted to a lower triangula

[2018-09-18 16:41] harshini-gadige commented on #22298
@fchollet  Any suggestions or explanation on why the network cannot be initialized with tf.train.init_from_checkpoint

[2018-09-18 16:45] dhingratul commented on #22005
@fferroni Have you tried all 4 of the workarounds suggested on the stack overflow page?

[2018-09-18 16:46] zeroows commented on #17411
This solved my issue:
After installing NVIDIA driver, CUDA Toolkit, and CUDNN.
First uninstall `tensorflow-gpu`:
[code]

Using Anaconda:
[code]

[2018-09-18 16:53] oroojlooy commented on #22346
Thanks for the quick reply.
What I understood is that `variables_to_restore` is used when `tf.train.ExponentialMovingAverage` exists in the model. Am I right? If so, I think I cannot use it, since I do not have `tf.train.ExponentialMovingAverage` in my model.

[2018-09-18 17:02] gunan commented on #22300
I am so sorry, I linked the linux package.
This is the package you need:
https://files.pythonhosted.org/packages/0e/2a/c3fe6035f0a8726e5b210680af3ccaf826f4a64ce7306e57017aba749447/tensorflow-1.10.0-cp36-cp36m-win_amd64.whl

If this also does not work could you:
- Download the file
- rename by replacing all 36 fields with 37
- install the renamed whl file, by providing its path to the `pip install`

[2018-09-18 17:03] ymodak commented on #21844
@yashkant Can you please post the error the message you are getting?

[2018-09-18 17:05] harshini-gadige commented on #22320
@roshan-dongre Hi, can this issue be closed as you figured out a way to resolve this ?

[2018-09-18 17:08] tnbalsam commented on #12948
Update: I wrote custom gradient operations for the inplace operations. However, since the inplace update only operates on the 0th dimension, there has to be a transpose on either write or read to the memory block, so training speed doesn't seem to be so hot with that.

[2018-09-18 17:09] rishi-rranjan commented on #22134
I tried this with r1.11 also and issue is there with latest release also.

[2018-09-18 17:10] ekelsen commented on #2732
GPU reduction are now deterministic.

[2018-09-18 17:10] #2732 closed

[2018-09-18 17:11] harshini-gadige commented on #22346
@allenlavoie Any inputs here ?

[2018-09-18 17:12] yongtang commented on #22295
Added a PR #22350 for tensor support.

[2018-09-18 17:15] harshini-gadige commented on #22336
@cococyx Hi, Could you please explain the issue in brief ? Also appreciate if you provide a code snippet to reproduce the issue.

[2018-09-18 17:16] gunan commented on #21469
Please see the README.md page at the repository root, as recommended above.

[2018-09-18 17:27] wt-huang commented on #22287
@sboshin could you check whether the TensorFlow version you used to train the model is the same as the one for serving the model?

[2018-09-18 17:28] yuefengz commented on #22321
I couldn't reproduce this problem. I am wondering whether you are still running with standalone client mode?

[2018-09-18 17:30] skeydan commented on #21469
thank you!

[2018-09-18 17:37] bjvanov commented on #22342
I was experiencing this error as well. It was preventing me from using some of the contrib rnn packages. I was also getting

which led me to this [SO post](https://stackoverflow.com/questions/14422976/importing-pandas-shows-importerror-cannot-import-name-hashtable).

Apparently there is some dependency on pandas that was out-of-date for me. I fixed it accordingly and now these warning are gone

`p

[2018-09-18 17:38] harshini-gadige commented on #22321
@dmitrievanthony Hi, Could you please share a small code snippet to reproduce this issue. Also you may clarify if you are running this with standalone client mode or not.

[2018-09-18 17:40] gunan commented on #22023
I assume that sqlite build issue is everywhere. But with newer gcc versions
there is also the eigen build issue.

For sqlite, we have to conditionally exclude sqlite targets if we are
building for s390x.
Do you have a link for that build result(log)?

On Tue, Sep 18, 2018 at 5:02 AM Nayana Thorat <notifications@github.com>
wrote:

[2018-09-18 17:41] sboshin commented on #22287
@wt-huang I unfortunately didn't train this model its gotten from [Object Detection](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md), which is an official repo. From the little understanding its not able to find an attribute

[2018-09-18 17:42] karmel commented on #21909
Great, thanks. Can you also add to @martinwicke 's [chart of contrib migrations](https://github.com/tensorflow/community/pull/18/files)?

[2018-09-18 17:44] gunan commented on #19770
@meteorcloudy FYI this issue is happening on IBM s390x machines (different CPU architecture, big endian)
I was hoping this may be something in java that a java expert can help with.

[2018-09-18 17:48] harshini-gadige commented on #22342
@07freedom Can you please try to check if any of the dependencies are out-of-date and try reinstalling those.

[2018-09-18 17:49] asdfzxh8 commented on #1604
No such thing as enough or fun or not about it. cpu, Can say any no matter what.

[2018-09-18 17:49] karmel commented on #21455
The sparse tensor transformation is important for other downstream steps (ie, converting into an embedding). Since those steps don't apply here, removing that line works for you, but likely would not work for the general case.

[2018-09-18 17:50] wt-huang commented on #22238
@Raj-08 could you check whether there are any formatting issues in your model transformation. Make sure the inputs, outputs and weights are correct depending upon the mobile device you are using.

[2018-09-18 17:55] karthikeyan19 commented on #7072
if you are using keras, just put this code before loading the model
[code]

[2018-09-18 17:55] Nayana-ibm commented on #22023
@gunan I have tried TensorFlow build v1.8.0 on local z13 vm with gcc 6.3.0 on Ubuntu 16.04.
Below is the log for sqlite.  Please note we have not observed sqlite issue ( or may be build didn't reach till sqlite module) with z14.

[code]

[2018-09-18 17:59] harshini-gadige commented on #1604
Closing this issue for now. Feel free to reopen and share the PR number if any contributions are made.

[2018-09-18 17:59] #1604 closed

[2018-09-18 18:00] wt-huang commented on #20090
@vishal-kr-yadav could you check if transport endpoint is not connected? Probably start with test run on checkpoint to make sure all nodes are alive.

[2018-09-18 18:03] gunan commented on #22023
Do we know if sqlite has big endian support, by the way?

[2018-09-18 18:34] calledbymountains opened #22353 "[Feature Request] Making gradient boosted trees available outside tf.Estimator"
**Feature Request**

Is there any ongoing discussion on making gradient boosted trees available outside of `tf.estimators` ?

Doing this will allow a wider range of experimentation than what is possible with `tf.estimators`.

[2018-09-18 18:39] wt-huang commented on #22287
@sboshin you can retrain the model with the current TensorFlow version which should be the same as the one you will be using  for serving.

[2018-09-18 18:42] IdRatherBeCoding commented on #1604
@harshini-gadige no I didn't pursue this further. As mentioned by @ghexp the sbnets (https://github.com/uber/sbnet) provides similar solution, with better speedups, according to the paper.

[2018-09-18 18:42] harshini-gadige commented on #22333
#21245

[2018-09-18 18:44] ymodak commented on #22290
This question is better asked on #StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there.

[2018-09-18 18:44] #22290 closed

[2018-09-18 18:44] theerfan commented on #22300
I did, but it opened another entire can of worms. (I have importlib listed in my pip packages)

`Traceback (most recent call last):
  File "C:\Users\there\AppData\Local\Programs\Python\Python37\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 14, in swig_import_helper
    return importlib.import_module(mname)
  File "C:\Users\there\AppData\Local\Programs\Python\Python37\lib

[2018-09-18 18:46] brianwa84 commented on #21909
distributions is already on there. Most of that move is complete, Alexey
can move this code as it corresponds to lkj, which is already under
tfp/distributions.

On Tue, Sep 18, 2018 at 1:49 PM Karmel Allison <notifications@github.com>
wrote:

[2018-09-18 18:47] harshini-gadige commented on #22333
@adityakamble49 Hi, can you try loading your model using tf.contrib.lite.Interpreter.

[2018-09-18 18:47] dmitrievanthony commented on #22321
@yuefengz, @harshini-gadige, yes I use standalone client mode.

I've prepared an example based on keras_model_to_estimator_client.py. Please take a look [here](https://github.com/dmitrievanthony/ecosystem/blob/ignite-2/distribution_strategy/keras_model_to_estimator_client.py). It uses `FixedLengthRecordDataset` and `CollectiveAllReduceStrategy` strategy.

I don't use Kubernetes, so to reproduce th

[2018-09-18 18:51] guptapriya commented on #21470
@Windaway nccl is only useful if there are GPU to GPU connections available in your setup. Is that the case? If yes, you could try finding a nccl binary for Windows.

If not, then it would be better to try some of the non nccl options. To get those, try the following:

Option 1:
Try using hierarchical copy.
[code]

Option 2:
Reduce to first GPU:
[code]

Option 3:
Reduce to CPU:
[code]

You will ha

[2018-09-18 18:52] aaroey commented on #22239
Yes, as @azaks2 mentioned, if you want to use all available, set per_process_gpu_memory_fraction to 0. Using `free_memory * per_process_gpu_memory_fraction` will have unexpected behavior since multiple processes will get different actual number.

[2018-09-18 18:53] nxphi47 commented on #14402
Hi there, can you open this. I'm facing the exact same issue with the thread owner, with GTX 1080ti

[2018-09-18 19:01] #18352 closed

[2018-09-18 19:01] #18930 closed

[2018-09-18 19:01] #19444 closed

[2018-09-18 19:01] #19623 closed

[2018-09-18 19:01] #19943 closed

[2018-09-18 19:01] tensorflowbutler commented on #22338
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
TensorFlow version

[2018-09-18 19:01] tensorflowbutler commented on #22339
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-18 19:01] tensorflowbutler commented on #22345
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
Mobile device

[2018-09-18 19:02] tensorflowbutler commented on #9171
Nagging Assignee @asimshankar: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:02] tensorflowbutler commented on #9545
Nagging Assignee @chihuahua: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:02] tensorflowbutler commented on #13603
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:02] tensorflowbutler commented on #15651
Nagging Assignees @petewarden, @suharshs, @rockyrhodes: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:02] tensorflowbutler commented on #16593
Nagging Assignee @joel-shor: It has been 119 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:02] tensorflowbutler commented on #17359
Nagging Assignee @tatianashp: It has been 105 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:02] tensorflowbutler commented on #18352
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-18 19:02] tensorflowbutler commented on #18711
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-18 19:02] tensorflowbutler commented on #18877
Nagging Assignee @petewarden: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:03] tensorflowbutler commented on #18930
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-18 19:03] tensorflowbutler commented on #19193
Nagging Assignee @cy89: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:03] tensorflowbutler commented on #19214
Nagging Assignee @mdanatg: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:03] tensorflowbutler commented on #19233
Nagging Assignee @skye: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:03] tensorflowbutler commented on #19268
Nagging Assignee @tatatodd: It has been 126 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:03] tensorflowbutler commented on #19444
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-18 19:03] tensorflowbutler commented on #19623
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-18 19:03] tensorflowbutler commented on #19746
Nagging Assignee @karmel: It has been 104 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:03] tensorflowbutler commented on #19771
Nagging Assignee @tatatodd: It has been 104 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:04] tensorflowbutler commented on #19943
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-18 19:04] tensorflowbutler commented on #19944
Nagging Assignee @suharshs: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:04] tensorflowbutler commented on #19969
Nagging Assignee @cy89: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:04] tensorflowbutler commented on #20124
Nagging Assignee @jart: It has been 90 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:04] tensorflowbutler commented on #20379
Nagging Assignee @fchollet: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:04] tensorflowbutler commented on #20411
Nagging Assignee @zheng-xq: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:04] tensorflowbutler commented on #20564
Nagging Assignee @tatatodd: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:04] tensorflowbutler commented on #20575
Nagging Assignee @tatatodd: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:04] tensorflowbutler commented on #20781
Nagging Assignee @tatatodd: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:04] tensorflowbutler commented on #20955
Nagging Assignees @suharshs, @achowdhery, @liyunlu0618, @raghuraman-k: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:05] tensorflowbutler commented on #21679
Nagging Assignee @tatatodd: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:05] tensorflowbutler commented on #21704
Nagging Assignee @tatatodd: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:05] tensorflowbutler commented on #21718
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-18 19:05] tensorflowbutler commented on #21729
Nagging Assignee @fchollet: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:05] tensorflowbutler commented on #21884
Nagging Assignee @jart: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:05] tensorflowbutler commented on #22016
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-18 19:05] tensorflowbutler commented on #22027
Nagging Assignee @rohan100jain: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:05] tensorflowbutler commented on #22028
Nagging Assignee @shivaniag: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-18 19:15] rajendra2 opened #22354 "ig -v"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-18 19:16] #22354 closed

[2018-09-18 19:59] guptapriya commented on #22274
@byronyi would be good to file a separate issue for MirroredStrategy, we should not default to nccl for CPU only builds.

[2018-09-18 20:02] kate-kate opened #22355 "Bazel build fails for r1.11"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS High Sierra 10.13.4
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.11
- **Python version**: 3.6.4
- **Bazel version (if compiling from source)*

[2018-09-18 20:10] byronyi commented on #22274
I guess #21470 would be enough for now? I saw multiple issues opened for dist-strat, let's not overload @yuefengz at this moment :)

[2018-09-18 20:41] tfboyd commented on #22201
There were additional topics discussed that could not be turned into coherent notes after the fact.

## Action items
   * TensorFlow team to create a block diagram and then go deeper.  Goal is to help people who want to contribute plugins or extensions.
   * Make the NVIDIA Library to TF Version matrix more visible and consider better error messages.
   * Document tips and methods to use for large

[2018-09-18 20:42] #22201 closed

[2018-09-18 20:49] tfboyd opened #22356 "Document DistributionStrategies including how it can be extended."
This request was a product of the TensorFlow Fall Symposium.  It might be nice to start with a simple block diagram and then go deeper with the objective to show companies, individual, and academics how they can extend DistributionStrategies at various points.

Picking a random person from the tf-dist-strat team to start.

[2018-09-18 20:51] tfboyd opened #22357 "Make NVIDIA library versions to TF Version matrix more visible."
This request was a product of the TensorFlow Fall Symposium. Consider talking to the documentation team as well as maybe linking it to the top or near the top of all the release documents.

[2018-09-18 20:52] tfboyd commented on #22357
This is a shared task/issue.

[2018-09-18 20:54] tfboyd opened #22358 "Document how to train with large batch sizes"
This request was a result of the TensorFlow Fall Symposium. Document tips and methods to use for large batch scaling with TensorFlow.  Possibly mention where this is proven and unproven to work.  This would include adding optimizers or wrapper to simplify usage.  Researchers are large labs want to scale but do not have the knowledge to do it quickly.

[2018-09-18 20:54] tfboyd commented on #22358
Randomly assigned, feel free to reassign.

[2018-09-18 21:04] wt-huang commented on #22349
@mbrubake if you would like to contribute PR are always welcome!

[2018-09-18 21:06] zanes2016 opened #22359 "Bazel Build all_protos proto_library Support"
I would like to build a `proto_library` for all the protobuf files in (core) tensorflow.

Specifically, I need to build the GraphDef protobuf message (and later target it for Golang) and include it in a custom proto definition. However, it seems only cc and py are visible/supported. It does not seem like the general `proto_library` is exposed by the tensorflow repo. Is there a simple way to do thi

[2018-09-18 21:06] allenlavoie commented on #22346
I'd pass a `var_list` to `tf.train.Saver`'s constructor excluding the new variable. If you don't know where it's from you can just filter the global variables collection. It does say "Key Variable not found in checkpoint", so it's definitely that one that's causing this exception.

[2018-09-18 21:12] Lennart-J commented on #21926
I also had this issue, using keras and tensorflow. The problem for me was that I trained my model with tensorflow 1.10 but had 1.9 on my raspberry. I only had the "Bus error" log, though
You can get a prebuilt 1.10 version for raspbian stretch from https://github.com/lhelontra/tensorflow-on-arm/releases

[2018-09-18 21:17] anj-s commented on #21786
This issue has been fixed in TF v1.11. Can you try updating TensorFlow and retrying this example? Thanks!

[2018-09-18 21:27] wt-huang commented on #22333
@sss0636 try adding the following in build.gradle in Android Studio then sync gradle:
android{
    aaptOptions {
        noCompress "tflite"
        noCompress "lite"
}

[2018-09-18 21:29] jrbtaylor commented on #22347
Fixed typo in the original post. The bug is only in the graph editor, not tf.import_graph_def, and is indeed in how it copies the operations, carrying over collocation attributes of the node_def. I'm working on a fix now.

[2018-09-18 21:30] ymodak commented on #22332
@pritamdamania87 You can use the site [academic torrents](http://academictorrents.com/browse.php?search=imagenet) to download the data.

[2018-09-18 21:36] shashishekhar commented on #22333
@adityakamble49 : Try wt-huang's suggestion, I don't think this is related to #21245

[2018-09-18 21:37] dhingratul opened #22360 "Op type not registered 'TRTEngineOp' in binary running with C API"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-18 21:52] wt-huang commented on #12460
@PaulWoitaschek thanks for the confirmation. Any ETA as to when the updated 1.11.0 will be pushed to jcenter?

[2018-09-18 21:53] joe-antognini opened #22361 "Conv1d ops don't get quantized"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: OS X
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command belo

[2018-09-18 22:02] PaulWoitaschek commented on #12460
I am not involved into that, I just contributed the fix.

[2018-09-18 22:08] okdzhimiev opened #22362 "Impossible to initialize Variable, restored from a model, in Java API?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
N/A
- **TensorFlow installed from (source or binary)**:
binary via pom.xml:
[code]

- **T

[2018-09-18 22:18] martinwicke commented on #22353
@nataliaponomareva not sure whether you have plans to expose the underlying ops?

[2018-09-18 22:19] wei-v-wang commented on #17945
Update: the fix to this issue has been merged to master branch of github.com/tensorflow/tensorflow.
E.g. I have personally verified this public tensorflow commit id to work at least:

https://github.com/tensorflow/tensorflow/commit/36568a821a13379b79d74586ff20bdd3e0da102b
(sorry I cannot point out which exactly commit fixed this bug, but the above should already contain the fix).

Using TensorFlow

[2018-09-18 22:28] wei-v-wang commented on #17945
@Chaoste  I suggest using latest TF commit, or wait till Anaconda releases TF v1.11 release. As the fix happened between v1.10 and v1.11.
@Salomefu , @FoxerLee , @michetonu, @jostheim , @Luonic , @jaikumarm , @wenouyang, @barnybug, @mlazarew  please upgrade TF to latest  commit version if possible. Thanks for waiting for trying Intel optimized tensorflow (aka. TensorFlow MKL-DNN).

@tasnim07 thank

[2018-09-18 22:50] bstriner commented on #6633
Hi everybody! Just implemented variable sequence length CuDNN RNNs, which touches on this subject. PR here: https://github.com/tensorflow/tensorflow/pull/22308

Cheers

[2018-09-18 22:55] nikolayvoronchikhin commented on #20387
Same here. We could not find code sample to free the GPU memory when Tensorflow has finished processing. This can be done either as part of config itself or a code snippet at the end of the program.

[2018-09-18 23:06] nikolayvoronchikhin commented on #19731
@TanLingxiao were you able to find any other method? numba is a great way with the drawback being that once you run cuda.close(), you can no longer run your process again in the same process/session. Was hoping that tensorflow has config option to free GPU Memory after the processing ends.

[2018-09-18 23:08] nikolayvoronchikhin commented on #17048
@TanLingxiao were you able to find any other method? numba is a great way with the drawback being that once you run cuda.close(), you can no longer run your process again in the same process/session. As alluded above and in other threads, Was hoping that tensorflow has config option to free GPU Memory after the processing ends.

[2018-09-18 23:31] agarwal-ashish commented on #12323
This issue was fixed as far as I know. Can you provide more details on how to reproduce, and which version of tensorflow you are using ?

[2018-09-18 23:36] chenghuige commented on #22140
@drpngx  Fine close this.

[2018-09-18 23:36] #22140 closed

[2018-09-18 23:42] ymodak commented on #22341
@fclof  This will be an interesting feature addition to tf.contrib.metrics. Workaround will be to refer [quadratic_weighted_kappa](https://github.com/benhamner/Metrics/blob/master/Python/ml_metrics/quadratic_weighted_kappa.py)
Feel free to contribute PR for this feature, we will be glad to review it.

[2018-09-18 23:42] #22341 closed

[2018-09-18 23:46] jyoungyun commented on #15805
@bjtommychen  I use `SummarizeGraph` function in tensorflow. The code is [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/summarize_graph_main.cc#L144).

[2018-09-18 23:50] wt-huang commented on #12460
@PaulWoitaschek @meavydev Closing this issue for now as the fix is in for 1.10.0 and 1.11.0 will be pushed to jcenter when the release is ready. Feel free to open a new issue if any error comes up.

[2018-09-18 23:50] #12460 closed

[2018-09-18 23:54] goutham commented on #18394
Fixed in b9e6bbc.

[2018-09-19 00:01] omalleyt12 commented on #22234
@OneMoreSecond Your `Lambda` should accept a list of inputs rather than referencing the global variable `inputs2`. I'm not sure `TimeDistributed` is the best way to go about this. Here's an example that I believe satisfies your use case

[code]

[2018-09-19 00:07] harshita-kaushal commented on #21978
It was an issue, but running the command which provided the system's details also generated an error, thus I could not provide more info. This has still not been resolved, no.

[2018-09-19 00:15] taotaolin commented on #22338
**TensorFlow version**   master   maybe r1.10

[2018-09-19 00:53] kahkeng opened #22364 "Estimator with MirroredStrategy on multiple GPUs seems to start with non-initialized weights on one of the GPUs"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: slightly modified example code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: n/a
- **TensorFlow installed from (source or binary)**: binary

[2018-09-19 00:54] sss0636 commented on #22333
问题已解决

[2018-09-19 00:54] #22333 closed

[2018-09-19 01:04] yuefengz commented on #22321
@dmitrievanthony But you haven't specified `remote_cluster` in your code?

[2018-09-19 01:07] #21704 closed

[2018-09-19 01:58] akshaym commented on #22291
Hi @Q82822, it seems from your stacktrace, the problem is simply calling load_image on any image file, but I'm unable to reproduce it at the moment (I downloaded a single file from the coco dataset locally).

Here is the code I have:
[code]

From the error it seems that there is a graph mode tensor involved here somewhere, but reading the code within the tf codebase, I can't find that happens anyw

[2018-09-19 02:07] Nireyflip commented on #21348
I got the same problem. I used gperf to prof the heap using status and it showed me a cpu memory increasing caused by allocate_temp, but i ran the run the funtion on a GPU kernel.

[2018-09-19 02:36] raninbowlalala commented on #20867
@saeed68gm I find a solution, you can use "--fine_tune_batch_norm=true " instead of "--fine_tune_batch_norm=false". This error will  disappear.

[2018-09-19 02:38] 07freedom commented on #22342
@harshini-gadige @bjvanov thanks for the quick reply. I have already fixed the problem by upgrade pandas. I have to install Tensorflow offline from scratch so I am so glad to find the exact needed dependency.
The pandas comes with my Anaconda3-5.2.0-Linux-x86_64 is 0.23.0
After upgrade pandas with pip to 0.23.4 and it works for me.

[2018-09-19 02:47] byronyi commented on #22306
@skye I suppose the user needs to switch to GraphRunner in this case?

[2018-09-19 02:51] oscarriddle commented on #18199
@aselle @shashishekhar
Hi, I just wondering whether tflite will support CUDA gpu acceleration?
I think tflite provides a more compatible quantization over difference types of nodes in tf.

Thanks,

[2018-09-19 02:54] u2takey commented on #22339
@wt-huang  hi，this issue seems not quite related with specific version. I produced this issue with version 1.6-1.8, to be more clear: my custom filesystem plugin works fine with tensorflow from `pip install tensorflow==1.6.0`  `pip install tensorflow==1.7.0` `pip install tensorflow==1.8.0`, but get error `_ZN10tensorflow10FileSystem10FilesExistERKSt6vectorISsSaISsEEPS1_INS_6StatusESaIS6_EE ` with

[2018-09-19 02:58] dyanos opened #22366 "Example problem in tf.reduce_sum function documentation"
I'm not sure about registering an issue for an documentation error here, I found that the name of argument "keep_dims" on example of tf.reduce_sum is wrong.

ref: https://www.tensorflow.org/versions/r1.11/api_docs/python/tf/reduce_sum

x = tf.constant([[1, 1, 1], [1, 1, 1]])
tf.reduce_sum(x)  # 6
tf.reduce_sum(x, 0)  # [2, 2, 2]
tf.reduce_sum(x, 1)  # [3, 3]
tf.reduce_sum(x, 1, **keepdims**=True)

[2018-09-19 03:02] oscarriddle commented on #19123
This issue is meaningful.
Developers need to find a way to convert the tflite model to frozen model.

[2018-09-19 03:08] sxsxsx opened #22367 "a problem about using the tflite_convert"
### System information
- **Have I written custom code**:  NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: NO
- **TensorFlow installed from (source or binary)**: pip install tensorflow-gpu==1.9
- **TensorFlow version (use command below)**: 1.9 GPU
- **Python vers

[2018-09-19 03:30] vishal-kr-yadav commented on #20090
@wt-huang yes i checked with this one also, it seems that the issue is not on the tensorflow side. As we are writing the checkpoints to dbfs, its throwing the error. We checked with other storage system and it worked fine.
If anyone of you could simply run a tensorflow object detection model and check whether you are able to write the checkpoints in dbfs or not.

[2018-09-19 03:44] byronyi commented on #22356
This looks interesting. Looking forward to a SIG in distributed training.

[2018-09-19 03:49] byronyi commented on #22201
I would be interested if @tfboyd could share more information on this particular event; I cannot find any information online apart from this issue.

[2018-09-19 03:55] kasyoukin opened #22369 "when use tensorflow to predict images with different resolution,the forward's cost unstable"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use comman

[2018-09-19 04:08] byronyi commented on #22229
It is a known issue and I would not call it a bug.

Theoretically the session configuration should be session-wise, but some of the session config will effect in resource initialization which is difficult to release unless the process is terminated.

I would suggest you to detect GPU availability before your main TF process starts.

[2018-09-19 04:12] Q82822 commented on #22291
hi, if you just load image in vgg16 , it is work. but I need to "transfer learning" so I download about 30000 images. You can copy my all the code and run.
there have a weird thing !!! this problem will not happen in inception_v3.
[code]
[code]

[code]
you just change above 3 codes the problem was solved. but it very weird.

[2018-09-19 04:13] lightning20 commented on #22348
Thanks, after re-use the following commands, then built and installed successfully.
1)export PATH=/usr/local/cuda-9.2/bin${PATH:+:${PATH}}
2)export LD_LIBRARY_PATH=/usr/local/cuda-9.2/lib64\
                         ${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}
Actually, them has been used before. But after restart, seems lost again. Is there a way to fix them in the system, thanks.

[2018-09-19 04:30] Zantares commented on #22229
The root of this issue is **list_devices()** will initialize all available devices in this session, meanwhile the global intra thread pool was created.  **is_gpu_available()** is just an instance, user may use this API anywhere and TF API doc didn't tell user any side-effect of this.

I also listed how to avoid this issue - just change the flag **use_global_threadpool_** to false, but I don't know

[2018-09-19 04:37] dmitrievanthony commented on #22321
I specified `TF_CONFIG`. As far as I understand documentation it's another source of information about cluster if `remote_cluster` is not specified. Am I wrong?

[2018-09-19 04:43] Zantares commented on #22229
The roof of this issue is **list_devices()** will initialize all available devices in this session, meanwhile the global intra thread pool is created. **is_gpu_available()** is just an instance, user may use this API anywhere, and TF API doc doesn't tell them there's side-effect here:

I also listed how to solve this issue - just set the flag **use_global_threadpool_** to false. My question is, wh

[2018-09-19 04:47] zhyj3038 commented on #22277
can U get a static library ? ie. libtensorflow-lite.a.  I can only get one works on pc, not on armeabi-v7

[2018-09-19 04:53] zhyj3038 commented on #19642
hi, have you solved the "incompatible target" problem ?

[2018-09-19 04:59] PaulWoitaschek commented on #12460
But 1.10.1?

[2018-09-19 05:08] Marko-Stamenovic-Bose commented on #22295
thank you!

[2018-09-19 05:18] bhack opened #22370 "model_to_estimator not working on float16"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
   custom code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
    Linux
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
   N/A
- **TensorFlow installed from (source or binary)**:
   Binary
- **TensorFlow ver

[2018-09-19 05:29] byronyi commented on #22229
I agree with you; PR is always welcomed!

[2018-09-19 05:32] byronyi commented on #22321
If I remember correctly, I suppose if you don’t specify the remote_cluster, the client runs in independent worker mode, which means all your nodes should run the same Python program but not a standard TF server. I would recommend you to try standalone client mode, which is in effect when you do specify remote_cluster.

[2018-09-19 05:36] facaiy commented on #22298
@jrabary  How about use the native methods of `tf.keras.Model`, say `load`, `load_weights` or `set_weights`?

[2018-09-19 05:36] adityakamble49 commented on #22333
Thanks @wt-huang , @shashishekhar. It worked. able to load model now
[code]

[2018-09-19 05:51] Raj-08 commented on #22238
One thing which i want to ask is this , i am using tensorflow inference on android , now i have been using two ops tf.nn.dilation and tf.nn.erosion in my training , and while inference it says no op kernel was registered for this , now is it possible that tensorflow inference on android is not able to understand these ops even though these ops were working on tensorflow GPU?

[2018-09-19 06:05] jrabary commented on #22298
@facaiy Need to figure out how to use `load_weights` since we are using tf.Estimator to optimize the model. This is because we also have `old` models coded with slim so we just don't want to change everything.

[2018-09-19 06:38] vyepishov opened #22372 "crosstool_wrapper_driver_is_not_gcc failed: error executing command"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-19 06:44] taninaim commented on #2033
I was having this problem earlier trying to fit inception_v3 on cifar10. As noted in Keras' documentation, there is a minimum image size for each model. Make sure you're not fitting images that are too small for your selected model.

[2018-09-19 06:44] tensorflowbutler commented on #22355
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Mobile device

[2018-09-19 06:44] tensorflowbutler commented on #22359
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-19 07:07] dmitrievanthony commented on #22321
Looks like it would be better to make documentation of API more clear, but anyway... :)

I tried the following approach:
1. Set `export TF_CONFIG='{"cluster":{"worker":["localhost:1111", "localhost:1112"],"chief":["localhost:1113"]}, "task":{"type":"worker","index":0}}'`
2. Start [worker1](https://github.com/dmitrievanthony/ecosystem/blob/ignite-2/ignite/worker1.py) (it's modified and now calls `r

[2018-09-19 07:45] sxsxsx opened #22373 "AttributeError: 'TocoConverter' object has no attribute 'get_input_arrays'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: NO
- **TensorFlow installed from (source or binary)**: pip install-gpu==1.9
- **TensorFlo

[2018-09-19 07:54] uelordi01 commented on #19642
Currently I am able to compile the tensorflow-lite.a through bazel, and also I can build shared lib adding in tese lines to build_file:
[code]

[2018-09-19 08:14] kate-kate commented on #22355
**Mobile device** N/A
Also can't get, why error is pointing at the clang files, because I set "use clang: no" while configuring
I have updated python dependencies that were mentioned in installation guide. I have installed other versions of tensorflow successfully before. Now I've tried also to build it for 1.9 version, but I had another error:
[code]
pointing some clang files as well

[2018-09-19 08:17] meteorcloudy commented on #22338
Yes, it should work.

[2018-09-19 08:18] meteorcloudy commented on #22338
You might find this script useful:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/windows/libtensorflow_cpu.sh

[2018-09-19 08:29] Yangxiu123321 opened #22374 "*** stack smashing detected ***: <unknown> terminated 已放弃 (核心已转储)"
## describe problems：
1. ubuntu 18.04 cmake
2. c++ with libtensorflow_cc.so
3. I can compile my code,but when I run it,the error is "*** stack smashing detected ***: <unknown> terminated 已放弃 (核心已转储)"

## code
#include "tensorflow/core/public/session.h"
#include "tensorflow/core/platform/env.h"

using namespace std;
using namespace chrono;
using namespace tensorflow;
int main(int argc, char* argv[]

[2018-09-19 08:41] stefan-falk commented on #18304
Same issue here:

[code]

Throws

[code]

[2018-09-19 08:44] MalathiKaliyappan opened #22375 "Tensorflow Object Detection - Car is wrongly detected as N/A"
In Google-colab I am trying to detect car using Tensorflow Object-Detection API with SSD_mobilenet_v1_pets.config, it detect humans as car and car as N/A. The following are the  size config and image dimensions:

anchor_generator {
      ssd_anchor_generator {
        num_layers: 6
        min_scale: 0.2
        max_scale: 0.95
        aspect_ratios: 1.0
        aspect_ratios: 2.0
        aspect_r

[2018-09-19 08:52] MounirB commented on #20414
Hello, I abandoned the double GPU setup. I kept only the Quadro P400, and I am intending to reinstall everything from scratch. This problem was probably, essentially, due to a bad connection between Cuda and the GPU version of Tensorflow. I think that it is suitable to close the issue as I may have understood what the source of the problem was.

[2018-09-19 09:07] changwuxie commented on #12491
i had same issue on centos7,@leonmak suggestion worked for me.

[2018-09-19 09:10] stefanpantic opened #22376 "Failed to build TF from source with MPI support"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04 LTS
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version

[2018-09-19 09:16] yongtang commented on #22376
@stefanpantic A PR #22084 is pending for review. The PR fixed the issue you mentioned.

[2018-09-19 09:30] changwuxie commented on #16264
@abratchik you are right

[2018-09-19 09:49] TPcoding opened #22377 "tflite can't ResizeInputTensor size"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:16.04.1-Ubuntu
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:N/A
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use comman

[2018-09-19 09:52] nairouz opened #22378 "Stop the gradient computation for Keras eager execution mode"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Colab
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (

[2018-09-19 10:01] oscarriddle opened #22379 "[TF1.10] Use the method "experimental_create_eval_graph()" of quantize_graph.py to quantize a frozen_model, succeeded but failed at serializing by graph_util"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS 10.13.6
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: No
- **TensorFlow installed from (source or binary)**: pip install tensorflow-gpu==1.10.0
- **T

[2018-09-19 10:39] alphastreak commented on #22086
Should float16 support be added to all ops in [linalg_ops.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/linalg_ops.cc) or just the qr function?

[2018-09-19 10:49] ajonkisz commented on #22086
Ideally all of the ops in [linalg_ops.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/linalg_ops.cc) unless there's a good reason not to.

[2018-09-19 10:59] yangjunpro commented on #22309
@yuefengz
Hi yuefeng,

Any update?

Thanks

[2018-09-19 11:01] yangjunpro commented on #22309
Actually, based on the architecture of Distributed Strategy, we are pushing its application inside Alibaba and it is the substrate of our so-called "auto-parallel" functionality, any discussion or interaction with people from Google working Distributed Strategy will be highly appreciated.

Thanks

[2018-09-19 11:20] byronyi commented on #22309
Why don't you submit an RFC or a reference implementation?

It should be much more appreciated.

[2018-09-19 11:35] dhananjaisharma10 opened #22380 "ImportError: libcublas.so.9.0: cannot open shared object file: No such file or directory"
Hi! I have CUDA 9.2 and CUDNN 7.2.1
I have seen this error in the issues page before but didn't get a nice answer as to solve it. Should I downgarde the CUDA version, if yes, which one to? Thanks in advance!

[code]

[2018-09-19 11:48] cococyx commented on #21968
'1.11.0-rc0'
but the issue still happen

[2018-09-19 11:49] facaiy commented on #22298
I'm afraid that the graph built by tf.Estimator is quite different from the one built by keras, so you have to resolve those details by yourself.  Even if tf.train.init_from_checkpoint could support tf.keras, it still won't work as you expected.

If you really need it, I think you can load all variables with ` tf.train.load_variable`, and then assign them one by one with `set_weigths` method of yo

[2018-09-19 11:52] cococyx commented on #21968
1.git/models/research# git log
commit 17fa52864bfc7a7444a8b921d8a8eb1669e14ebd
tensorflow# git log
commit 1e438195399650604fb3aa3a53c67339f1167882
Author: Amit Patankar <amitpatankar@google.com>
git checkout -b v1.11.0-rc0 v1.11.0-rc0
2.
# git diff object_detection/model_main.py
-  config = tf.estimator.RunConfig(model_dir=FLAGS.model_dir)
+
+  distribution = tf.contrib.distribute.MirroredStrategy

[2018-09-19 11:55] cococyx commented on #22336
OS Platform and Distribution :Ubuntu 16.04 , not Mobile device

[2018-09-19 11:58] cococyx commented on #22336
And ssd_mobilenet_v1_quantized_300x300_coco14_sync.config is attached ssd_mobilenet_v1_quantized_300x300_coco14_sync.zip

diff --git a/models/research/object_detection/samples/configs/ssd_mobilenet_v1_quantized_300x300_coco14_sync.config b/models/research/object_detection/samples/configs/ssd_mobilenet_v1_qua                                                  ntized_300x300_coco14_sync.config
index a

[2018-09-19 11:59] cococyx commented on #22336
This is easy to reproduce by

python object_detection/model_main.py --pipeline_config_path=./object_detection/samples/configs/ssd_mobilenet_v1_quantized_300x300_coco14_sync.config --model_dir=/checkpoint/ssd_mobilenet_v1_quantized_300x300_coco14_sync --checkpoint_dir=/ssd/ssd_mobilenet_v1_quantized_300x300_coco14_sync_2018_07_18 --run_once=True

from models/research

[2018-09-19 12:05] dust0x commented on #12071
Thanks, @gsutanto for your solution. I wanted to ask how what the correct way to do it is when there is a loss function term with the norm (in a neural network). Do I have to force the gradient of the entire `Z` or will only the gradient of norm be computed separately?

To draw from your example:

[code]

[2018-09-19 12:39] dust0x commented on #12071
Thanks, @gsutanto for your solution. I wanted to ask what the correct way to force calculate gradients is when there is a complicated relationship of variables, such as when there is a loss function term with the norm and we're using gradient descent to optimize.

Do I have to force the gradient of the entire `Z` or will only the gradient of norm be computed separately?

Drawing from your code, wh

[2018-09-19 12:43] madhusmita18 commented on #6136
![image](https://user-images.githubusercontent.com/43405947/45753810-c1919200-bbce-11e8-89f6-ee70dfc15062.png)why this is happening frequently . plz help me in installing tensorflow

[2018-09-19 12:44] dust0x commented on #12071
Thanks, @gsutanto for your solution. I wanted to ask what the correct way to force calculate gradients is when there is a complicated interaction of variables, such as when we're using gradient descent to optimize a loss function term with the norm as penalty.

Do I have to force the gradient of the entire loss function or should only the gradient of norm be computed separately?

Drawing from your

[2018-09-19 12:45] tensorflowbutler commented on #22367
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Exact command to reproduce

[2018-09-19 12:45] tensorflowbutler commented on #3332
Nagging Assignee @chsigg: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:45] tensorflowbutler commented on #9638
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:45] tensorflowbutler commented on #11092
Nagging Assignee @zheng-xq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:45] tensorflowbutler commented on #12659
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:45] tensorflowbutler commented on #13101
Nagging Assignee @mrry: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:45] tensorflowbutler commented on #18213
Nagging Assignee @reedwm: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:45] tensorflowbutler commented on #18880
Nagging Assignee @saeta: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:45] tensorflowbutler commented on #19515
Nagging Assignees @wolffg, @MarkDaoust: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:46] tensorflowbutler commented on #19717
Nagging Assignee @jhseu: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:46] tensorflowbutler commented on #19904
Nagging Assignees @mhyttsten, @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:46] tensorflowbutler commented on #20930
Nagging Assignee @saeta: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:46] tensorflowbutler commented on #21349
Nagging Assignees @mrry, @shivaniag: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:46] tensorflowbutler commented on #21382
Nagging Assignee @gunan: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:46] tensorflowbutler commented on #21530
Nagging Assignee @robieta: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:46] tensorflowbutler commented on #21645
Nagging Assignee @karmel: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:46] tensorflowbutler commented on #21655
Nagging Assignee @tatatodd: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:46] tensorflowbutler commented on #21697
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-19 12:46] tensorflowbutler commented on #21713
Nagging Assignee @shivaniag: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:46] tensorflowbutler commented on #21724
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-19 12:47] tensorflowbutler commented on #21728
Nagging Assignee @tatatodd: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:47] tensorflowbutler commented on #21732
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-19 12:47] tensorflowbutler commented on #21740
Nagging Assignee @jart: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:47] tensorflowbutler commented on #21742
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-19 12:47] tensorflowbutler commented on #21777
Nagging Assignees @yifeif, @case540: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:47] tensorflowbutler commented on #21893
It has been 22 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-19 12:47] tensorflowbutler commented on #21923
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:47] tensorflowbutler commented on #21932
Nagging Assignee @jdduke: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:47] tensorflowbutler commented on #21971
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:47] tensorflowbutler commented on #21972
Nagging Assignee @aquariusjay: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:47] tensorflowbutler commented on #22002
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:47] tensorflowbutler commented on #22013
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:48] tensorflowbutler commented on #22029
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:48] tensorflowbutler commented on #22033
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:48] tensorflowbutler commented on #22049
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:48] tensorflowbutler commented on #22056
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-19 12:48] tensorflowbutler commented on #22063
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:48] tensorflowbutler commented on #22071
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-19 12:59] JosephPB commented on #18193
No problem @aojue1109 glad it worked. Just the same logic - to make sure the layers and callbacks etc. are imported from the eras implementation in tensorflow. I wrote an article about [Freezing a Keras model](https://towardsdatascience.com/freezing-a-keras-model-c2e26cb84a38), where one method uses the `model_to_estimator` method if you'd like more information.

[2018-09-19 13:40] jrbtaylor commented on #22347
Pull request submitted. The issue was the deepcopy of the node_def. I added a line that checks for the colocation attribute and clears it whenever it is present.

[2018-09-19 14:19] rcorvus opened #22382 "Creating pip package for TensorFlow with GPU support results in 0 byte simple_console_for_windows.zip"
Here is the stackoverflow question: https://stackoverflow.com/questions/52394305/creating-pip-package-for-tensorflow-with-gpu-support-results-in-0-byte-simple-co

------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Mobil

[2018-09-19 14:27] jhultman opened #22383 "Inconsistency in tf.nn.top_k when using sorted=False and tf.float32 tensor and GPU placement"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04.
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: NA.
- **TensorFlow installed from (source or binary)**: Binary.
- **TensorFlow version (use co

[2018-09-19 14:50] taotaolin commented on #22338
How should I choose to compile the debug version or the realse version?

[2018-09-19 14:50] #22342 closed

[2018-09-19 14:54] harshini-gadige commented on #22348
Ideally it should retain the installation after the restart. You may try it again and feel free to reopen if you face the same issue.

[2018-09-19 15:02] harshini-gadige commented on #22347
Closing this for now. Feel free to reopen.

[2018-09-19 15:02] #22347 closed

[2018-09-19 15:28] mayou36 opened #22384 "BUG: reciprocal GPU kernel for complex 1/1 division not found"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command

[2018-09-19 15:33] patzm commented on #22058
any news on this? If you point me to the right direction, I can also do some debugging :slightly_smiling_face:

[2018-09-19 15:41] lightning20 commented on #22348
Every time restart ubuntu and type nvcc will not recognize, need type this 2 lines below then nvcc can work. Any suggestion, really appreciate.
1)export PATH=/usr/local/cuda-9.2/bin${PATH:+:${PATH}}
2)export LD_LIBRARY_PATH=/usr/local/cuda-9.2/lib64
${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}

[2018-09-19 15:41] prb12 commented on #21736
Note: This isn't a bug or issue, so should not have been filed on GitHub issues.

No, EEG is not open source.  It makes extensive use of some google-specific libraries for thread tracing, as well as an internal wrapper around Linux kernel tracing that would be difficult to open-source.

The trace-visualization server wouldn't be too hard to port, but somebody would have to provide all of the equiv

[2018-09-19 15:41] #21736 closed

[2018-09-19 15:48] dhananjaisharma10 opened #22385 "session = tf.Session()"
Can someone please tell me how to solve this. Though I'm able to run forward in tf.

[code]

[2018-09-19 16:03] harshini-gadige commented on #22383
@jhultman Hi, I've executed your code and I get the values and indices in a consistent order. Please find the result below.

('dtype:   ', 'tf.int32')
('arr:     ', array([3, 2, 8, 1], dtype=int32))
('inds:    ', array([1, 0, 2], dtype=int32))
('tf_vals: ', array([2, 3, 8], dtype=int32))
('np_vals: ', array([2, 3, 8], dtype=int32))
('dtype:   ', 'tf.float32')
('arr:     ', array([3., 2., 8., 1.],

[2018-09-19 16:04] nataliaponomareva commented on #22353
boosted_trees_ops_op_lib has public visibility, so you can potentially use the ops as you wish in your graph.
What's ur use case? what kind of experiments you can't do with an estimator?

[2018-09-19 16:08] zishanahmed08 commented on #20798
@Elites2017 David.Where you able to solve it?

[2018-09-19 16:13] was84san commented on #22275
The only solution for me if this is not fixed, is to return back to use fit_generator instead and feed my data from own generator, and this one is much slower than model.fit. Like 10 times slower. I wish that can anyone just justify the condition in line 531 to make it work for both tensor and bumpy array.

[2018-09-19 16:29] jhultman commented on #22383
I just tried it again in a different virtualenv installed from source (not pip package) with tf.__version__ == 1.9.0 and I was able to reproduce the bug. My colleague was not able to reproduce the bug despite being on 16.04 with tf v1.10.1 latest pip package.

I tried again with a different test case and same problem:

[code]

[2018-09-19 16:31] harshini-gadige commented on #22383
@jhultman Okay. The issue is with tensorflow v 1.9. I recommend to use tensorflow v 1.10 for this op.

[2018-09-19 16:33] jhultman commented on #22383
Sorry, I think maybe you misunderstood. I am able to reproduce the bug in _both_ v 1.9.0 and v 1.10.1.

[2018-09-19 16:37] lissyx commented on #20369
@zheng-xq @robieta Updating our codebase, I'm hitting a similar issue with current tensorflow master:
[code]

This is happening when trying to run inference from `libdeepspeech.so`, which links TensorFlow. However, the same code would work well with something based on TensorFlow r1.6. So it looks like something changed on that side, since. I could not find any evidence / documentation related.

[2018-09-19 16:38] saeed68gm commented on #20867
@raninbowlalala This is awesome, I will give it a try this afternoon! Thank a lot of sharing your results :)

[2018-09-19 16:50] lakeofsoft opened #22387 "Error compiling optional_ops.cc when building from source with MSVC 2017"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Microsoft Windows [Version 10.0.17134.228]
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: Source
- *

[2018-09-19 16:56] fferroni commented on #22005
@dhingratul in the end, it worked for me adding dependencies to the libtensorflow_cc but _not_ compiling monolithically.

[2018-09-19 16:58] #22005 closed

[2018-09-19 17:08] harshini-gadige commented on #22376
Feel free to reopen if you face the issue again.

[2018-09-19 17:08] #22376 closed

[2018-09-19 17:13] ymodak commented on #22385
@dhananjaisharma10 tf.Session provides you with a list of devices that are available. These are warning messages for your current session and not fatal error's therefore you can proceed further.
If you want to disable these warnings you can try:
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2'

[2018-09-19 17:26] vandana-rajan opened #22389 "tensorflow.python.framework.errors_impl.FailedPreconditionError: temp/G2D19_P2OF_ResHB_1LSTM_dataAug_expLR; Not a directory"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

Yes. I was trying out the code given in https://github.com/JoshuaPiinRueyPan/ViolenceDetection

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Ubuntu 18.04

- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:

[2018-09-19 17:41] ymodak commented on #22389
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2018-09-19 17:48] dlfu commented on #18850
Tensorflow doesnt exist for python 3.7 yet because of a reserved keyword issue.

[2018-09-19 17:54] martinwicke commented on #22364
Priya, not sure who's best for MirroredStrategy.

[2018-09-19 17:55] belvederef commented on #20444
I found this to work after searching for a while. I will leave this here as it might be useful for someone.

Tensorflow only supports Python 3.6 as of today. You can install a different version of python alongside your standard one. You need to:
- Download the Python3.6 tgz file from the official website (eg. Python-3.6.6.tgz)
- Unpack it with `tar -xvzf Python-3.6.6.tgz`
- `cd Python-3.6.6`
- run

[2018-09-19 17:56] belvederef commented on #17022
I found this to work after searching for a while. I will leave this here as it might be useful for someone and save some time.

Tensorflow only supports Python 3.6 as of today. You can install a different version of python alongside your standard one. You need to:
- Download the Python3.6 tgz file from the official website (eg. Python-3.6.6.tgz)
- Unpack it with `tar -xvzf Python-3.6.6.tgz`
- `cd

[2018-09-19 18:00] martinwicke commented on #22311
Mustafa, is this a known issue (who, in addition to you, should know about this?)

[2018-09-19 18:00] #22042 closed

[2018-09-19 18:02] fo40225 opened #22390 "bazel absence of ZIP64 support cause tensorflow build fail"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 1803
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: v1.11.0-rc1
- **Python version**: 3.6.5
- **Bazel version (if compiling from source)**:

[2018-09-19 18:05] wt-huang commented on #22361
@joe-antognini good point. Just ran the above code snippets and both returned True. For image quantization conv2d is typically used, e.g. in your example. conv1d essentially does the same thing here, unless you want to do text quantization, which would require different methodology.

[2018-09-19 18:07] yuefengz commented on #22321
Looks like this is a problem with python3.

[2018-09-19 18:09] ispirmustafa commented on #22311
I'm not aware of this failure. @rohan100jain for FeatureColumn and @karmel for saved model.

[2018-09-19 18:12] ymodak commented on #22366
@dyanos Thank you for your post. The arg: keep_dims in tf.reduce_sum() is deprecated and will be removed from future versions of TensorFlow. Please use arg: **keepdims** instead.

[2018-09-19 18:12] #22366 closed

[2018-09-19 18:16] #21893 closed

[2018-09-19 18:28] kahkeng commented on #22364
Actually, I tried on 2 other machines (with multiple v100 GPUs and multiple p100 GPUs) and the issue doesn't reproduce there. So this could be something specific to my hardware or software setup for the particular machine above.

[2018-09-19 18:30] trias702 commented on #22042
Thanks very much for the fix!

However, I think there might be a small bug in line 129 of your change to tensorflow/python/keras/layers/embeddings.py:

should it not be:

`with ops.device('/cpu:0'):`

instead of:

`with ops.device('cpu:0'):`

[2018-09-19 18:30] dmitrievanthony commented on #22321
Hi @yuefengz, yes, looks like you are right. I changed example so that it doesn't require kubernetes. From my perspective it's easier to start with such example without external dependencies.

[2018-09-19 18:32] lissyx commented on #20369
@zheng-xq @robieta Ok, my code works if I hack around `Const`:
[code]

I am not convinced, however, that this is a viable solution. According to your comment earlier, I'm wondering if it's normal or not that we get a `int32`, it's within `LSTMBlockFusedCell`.

[2018-09-19 18:34] wt-huang commented on #22339
@u2takey I installed above TensorFlow versions without encountering any error. Make sure you use the latest bazel version. Please fill out the template, in particular the exact command to reproduce.

[2018-09-19 18:35] ymodak commented on #22375
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-09-19 18:36] #22375 closed

[2018-09-19 18:40] gunan commented on #22339
To check how to use those dockerfiles, please see the readme in that folder:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docker/README.md

The link you are seeing there should not exist. its version string is `0.0.0`

Those dockerfiles **cannot** be used without the `parameterized_docker_build.sh` script.
For the newer and more flexible dockerfiles, please see https://git

[2018-09-19 18:46] joe-antognini commented on #22361
Interesting, what version of Tensorflow did you run those snippets on?  I tried again and I still get `True` from the first snippet and `False` from the second.  The reason I'm interested in quantizing 1d convolution is for audio applications.

[2018-09-19 18:55] vielmetti commented on #17850
@petewarden would it make more sense to start a new issue specific to 64-bit Arm (arm64) and close this one which has primarily been for 32-bit Arm?  I find it difficult to determine whether this is a modest-sized task for the build team or a big ask.

[2018-09-19 19:01] jhultman commented on #22383
I tried with different device placements and it seems like a GPU-only bug for tf.float32 tensors. Maybe someone else can try with GPU placement and see if they can reproduce the bug. See my updated dummy example below.

`import tensorflow as tf
import numpy as np
import itertools
tf.set_random_seed(21)

def demo_bug(np_dtype, tf_dtype, device):
    with tf.device(device):
        np_arr = np.array

[2018-09-19 19:13] alextp commented on #22042
I don't think this makes a difference; if you look at the test, it passes
now, so it's doing the right thing.

On Wed, Sep 19, 2018 at 11:36 AM trias702 <notifications@github.com> wrote:

--
 - Alex

[2018-09-19 19:14] phalexo commented on #22376
This issue has been closed, BUT it has not been resolved. I see exactly the same problem right now.

[2018-09-19 19:15] arnaldog12 commented on #11231
Hi, @jakiechris
thanks for your instructions. I did a Medium post about it to help others as well:
https://medium.com/me/stats/post/5c762dbdd5d4

[2018-09-19 19:16] lakeofsoft commented on #22387
Found the solution ( hinted by #15925 ). In file **/tensorflow/core/framework/op_kernel.h**
add **const** at operator* for OpArgIterator class:

`reference operator*() const { return (*list_)[i_]; }`

[2018-09-19 19:27] ppwwyyxx commented on #21338
@tfboyd

[2018-09-19 19:37] trias702 commented on #22042
Just forgot, in case it might help, the actual line in my own code which triggers the cuSolverDN error is:

`model.add(layers.LSTM(256, dropout=0.2, recurrent_dropout=0.5, kernel_initializer=tf.keras.initializers.VarianceScaling(scale=1.0, mode='fan_avg', seed=None), return_sequences=False))`

When I fix that using the tf.set_random_seed(1) trick, the line of code which gives me the OOM error is:

[2018-09-19 19:42] alextp commented on #22042
On Wed, Sep 19, 2018 at 12:33 PM trias702 <notifications@github.com> wrote:

Are you using tf.data to do your batching? It is possible if you're loading
numpy data without tf.data that you'll accidentally copy the entire dataset
to the GPU only to perform slicing of a minibatch on the GPU. If you open
another bug for this issue with some example code I can help you debug.

Can you file an issue wi

[2018-09-19 19:43] nvcastet commented on #22326
@yufengg Correct, I see several variables with names `kernel` and `bias`:
[code]
Here error is:
`InternalError (see above for traceback): BufRendezvous::ProvideBuf already called for key 10003:0:0:0:0:1` which corresponds to the `bias` variables.

[2018-09-19 19:56] tensorflowbutler commented on #22373
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Exact command to reproduce

[2018-09-19 19:57] tensorflowbutler commented on #22374
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-19 19:57] harshini-gadige commented on #22376
@phalexo Please wait until the PR is completed. You may track it #22084

[2018-09-19 19:59] yanboliang commented on #22190
@Efaq
This is caused a bug in ```tf.keras.metrics.sparse_categorical_accuracy```.
* Train with Numpy array, the shape of ```y_true``` is ```(num_samples, 1)```.
* Train with ```tf.data```, the shape of ```y_true``` is ```(num_samples,)```.

```tf.keras.metrics.sparse_categorical_accuracy``` doesn't handle the latter case correctly, which leads the error output. I have sent #22392 to fix this, wish

[2018-09-19 20:15] bjacob commented on #21924
Fixes are going through integration at the moment so expect them soon in this repository. Once they land, the default behavior will be equivalent to --dedupe_array_min_size_bytes=64, and your command line should work as-is.

[2018-09-19 20:27] ymodak commented on #378
Closing this issue since the fix has been made.

[2018-09-19 20:27] #378 closed

[2018-09-19 20:30] gsutanto commented on #12071
Hi, @dust0x if you work on a batch of data, it would be something like:
[code]
(say if X_ were NxM=4x3; each row is a feature vector of size 3 that you would like to compute norm() on, and there are N=4 samples)

[2018-09-19 20:39] yanboliang commented on #22142
I think this behavior change introduced at https://github.com/tensorflow/tensorflow/commit/693b339ab2f062ec5bbb29f976c5d1fd94fbffa5 . @manipopopo Do you have some issues wrt this change? Thanks.

[2018-09-19 21:00] nvcastet commented on #22326
@yuefengz : In the code line you referred in your last comment, what about replacing
`collective_instance_key = self._collective_keys.get_instance_key(key_id=kwargs["name"])` with `collective_instance_key = self._collective_keys.get_instance_key()`? In this case, we get a different id for each new variable. Also, each replica of the same variable inside a worker still gets the same key because in

[2018-09-19 21:05] phalexo opened #22393 "ERROR: /home/developer/tensorflow/tensorflow/BUILD:652"
:1: Executing genrule //tensorflow:tf_python_api_gen_v1 failed (Exit 1)
Traceback (most recent call last):
  File "/home/developer/.cache/bazel/_bazel_developer/6acbce31a4e8077fc84a239074e8eda3/execroot/org_tensorflow/bazel-out/host/bin/tensorflow/create_tensorflow.python_api_1.runfiles/org_tensorflow/tensorflow/python/tools/api/generator/create_python_api.py", line 27, in <module>
    from tensor

[2018-09-19 21:10] wt-huang commented on #22361
1.10.0

[2018-09-19 21:16] wt-huang commented on #22252
Closing this issue, feel free to reopen if problem persists.

[2018-09-19 21:16] #22252 closed

[2018-09-19 21:46] jhultman commented on #11756
I recently dealt with a similar problem involving `reduce_max()` over a tensor where I couldn't apply a boolean mask since that would yield a "jagged" tensor. Instead of "turning off" values with negative infinite (or pos inf for reduce_min), I suggest simply replacing unwanted values with an arbitrary slice of the tensor (for a matrix you can pick the first row, assuming it's True in the mask). Y

[2018-09-19 22:13] bbrister opened #22394 "Tensorflow == operator is inconsistent with NumPy, other TF comparison operators"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-19 22:19] maxnbk opened #22395 "numpy not found during python_api generation"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS-7.4
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: None
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use comman

[2018-09-19 22:27] #21914 closed

[2018-09-19 22:40] #21382 closed

[2018-09-19 22:42] haotianteng opened #22396 "Assign a name to SaprseTensor when build_tensor_info of it"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N.A.
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (u

[2018-09-19 22:46] haotianteng commented on #22396
tensorflow/serving#1096

[2018-09-19 22:52] ymodak commented on #22395
@maxnbk TensorFlow has a dependency on NumPy module. Please install NumPy and build again.

[2018-09-19 23:07] dipendave commented on #6698
[Solved] In my case, I had installed CUDA v9.2 and the corresponding cuDNN, but had not correctly installed cuDNN specific to CUDA v9.0 which tensorflow requires.

Ensure that you download the correct version of cuDNN from here: https://developer.nvidia.com/rdp/cudnn-archive

and **NOT** the one from here: https://developer.nvidia.com/cudnn

[2018-09-19 23:18] ManoaNosea opened #22397 "your soft is shit"
put this bazel in your ass and suck it, and suck it long, and suck it hard !

[2018-09-19 23:20] mrry commented on #21349
A quick update: this improvement depends on a refactoring that @rohan100jain is working on, to make the correspondence between `tf.data.Dataset` objects and nodes in the graph 1-to-1. This will give us a natural way to use op names to add descriptive names for the functions.

(Rohan, I'll assign this to you as part of the "create-as-you-go" work you're already doing.)

As for changes to the visual

[2018-09-19 23:34] azaks2 commented on #22249
tf.tile has int32 implementation (not int64)
tf.reduce has no int* implementations. There are kernels registered on GPU with int32 but they run on CPU since in most common case the tensors are small and launching GPU kernel would be inefficient.
If you indeed need an int32 op that runs on GPU you are out of luck.

Generally, there is an inconsistency since for some ops registering an int32 gpu ker

[2018-09-19 23:37] eamartin opened #22398 "CUDA implementation of BiasAddGrad op is non-determinstic"
I'm running TensorFlow 1.5.0 on a K80 GPU on Python 2.7

Failing test case:
[code]

Outputs
[code]

This bug still exists in master, because the code in master uses the unsafe CUDA atomic floating point add in several places. See https://github.com/tensorflow/tensorflow/blob/abc55107eb7a03fe3d83f95fd5e1b8e4def90826/tensorflow/core/kernels/bias_op_gpu.cu.cc
If TensorFlow will be ever be fully deter

[2018-09-19 23:39] harshini-gadige commented on #22393
@phalexo Can you please describe the problem clearly.

[2018-09-19 23:53] maxnbk commented on #22395
numpy is installed. Please read the details more thoroughly. It is simply not in a typical system-installed path, but is available on the PYTHONPATH.

[2018-09-20 00:29] ymodak commented on #21840
Closing this issue due to lack of activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-20 00:29] #21840 closed

[2018-09-20 00:35] wt-huang commented on #22378
@nairouz just ran above snippets in eager execution and both of these functions should work. You would need to add something like:
`from tensorflow import keras
from tensorflow.python.eager.backprop import GradientTape
from tensorflow import keras as ks
`
Make sure to add `with GradientTape() as tape:` in your first function.

[2018-09-20 00:38] taotaolin commented on #22338
i try using `bazel build --config=fastbuild --config=cuda //tensorflow:libtensorflow.so` or `bazel build --config=debug --config=cuda //tensorflow:libtensorflow.so` but it's have some mistake, tips:
[code]

[2018-09-20 00:43] u2takey commented on #22339
@gunan @wt-huang why not take a minute to read through my issue before you give answer in a hurry? My issue is not a install issue! My issue is caused by : package from different source compiled differently.

[2018-09-20 00:51] pauldelmusica commented on #22397
LOL

[2018-09-20 01:04] gunan commented on #22339
When I read your issue, I see that you link to this package:
`http://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.0.0-cp27-none-linux_x86_64.whl`
This is an invalid path, that just stays as a placeholder. (looks like part of your report was modified 14 minutes ago)

When we are building dockerfiles using parameterized_docker_build.sh, this placeholder is replaced with the exact same bi

[2018-09-20 01:05] cococyx opened #22399 "MirroredStrategy AssertionError in 1.11.0-rc0"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04; Not on mobile device
- **TensorFlow installed from (source or binary)**:
source
models's commit = 17fa52864bfc7a7444a8b921d8a8eb1669e14ebd and tensorflow's commit = 1e438195399650604fb3aa3a

[2018-09-20 01:07] cococyx commented on #22399
sorry for missed info:
CUDA/cuDNN version:
Cuda compilation tools, release 9.0, V9.0.176;cuDNN7.0

[2018-09-20 01:12] cococyx commented on #22399
Update env.txt, [tf_env.txt](https://github.com/tensorflow/tensorflow/files/2399219/tf_env.txt)
Thanks.

[2018-09-20 01:40] ghltshubh commented on #11859
@jerrin92 @gunan Any idea about this error?

[2018-09-20 01:51] myth01 commented on #21864
@jdduke Do you have any updates about this? Thanks in advance!

[2018-09-20 02:33] wt-huang commented on #22355
@kate-kate it looks like you are using XCode 10 beta. Have you tried OSX-10.13.5?

[2018-09-20 02:34] sxsxsx commented on #22373
I have update them

[2018-09-20 02:39] sxsxsx commented on #22367
I have updated them

[2018-09-20 02:43] wt-huang commented on #20411
@OlegKremnyov if you use your boosted trees model to make predictions on the existing data, does it also crash?

[2018-09-20 02:55] dhananjaisharma10 commented on #22385
I get your point, @ymodak. But this means that there is an aberrant behaviour in my system, as otherwise, I wouldn't have received these messages. Anyway, I wrote `export TF_CPP_MIN_LOG_LEVEL=2` in my .bashrc and now I'm not getting those messages. But do let me know if there's something that needs to be done to eradicate those warnings. Thanks!

[2018-09-20 03:00] u2takey commented on #22339
@gunan sorry for confusion, i haven's expressed my question clearly.
GCS package is same as pypi, but seems different from package in docker image?
I checked docker hub image history `tensorflow/tensorflow:1.7.0` with docker history
[code]
seems tensorflow is install from local wal, and tensorflow size is 16533200 and symbol i want to find missing

[code]
But if i uninstall tensorflow an reinstall

[2018-09-20 03:18] hhwxxx commented on #20698
Hi, @was84san.
As you mentioned, I am using `tf.kera`. But the problem still exists. Do you have any idea?
Thanks!

[2018-09-20 03:28] ghltshubh opened #22400 "[tensorflow ppc64le] Building tensorflow from source fails on power8 architecture machine"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Red Hat Enterprise Linux Server 7.4 (Maipo)
- **Mobile devices**: N/A
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**:
- **Python version**: 3.5.6
- **Ba

[2018-09-20 03:30] was84san commented on #20698
Which problem exactly!, feeding multiple inputs, or feeding the iterator directly to model.fit. I figure out only the last one.

[2018-09-20 03:30] AshviniVJain commented on #2048
How did you solve the issue? Iam facing the same issue and not able to find what and where to make a correction.

[2018-09-20 04:12] alanpurple opened #22401 "CUDA 10.0 and python 3.7 support"
this is not an issue

more of a question, request

can tensorflowers give roadmap for CUDA 10.0(and of course, cuDNN 7.3 for CUDA 10.0) and python 3.7 support? and of course Ubuntu 18.04

CUDA 10.0 and python 3.7 already support Ubuntu 18.04

thank you always

[2018-09-20 05:38] Q82822 commented on #21796
yes, I follow the document. and only inception_resnet_v2 will fail.
the other model (ex vgg16 ,inceptionV3) can work at same documentation

[2018-09-20 05:45] kate-kate commented on #22355
@wt-huang actually I'm not using XCode (it is not installed on my OS at all), that is why I configured tensorflow not to use clang. But anyway I have Xcode Command Line Tools installed and recently updated and here is the info about them
[code]
Also sorry for misinformation, my OS version is 10.13.6 now

[2018-09-20 06:02] facaiy commented on #22401
Linked to #20517 : Python 3.7 compatibility

[2018-09-20 06:41] Efaq commented on #22190
Sounds great, thank you!

[2018-09-20 06:44] tensorflowbutler commented on #22398
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-20 06:47] EdwardVincentMa opened #22403 "Where is the pywrap_tensorflow_internal.lib after building TensorFlow1.11 On Win10?"
I have build TensorFlow1.11GPU version successfully in Win10 with using bazel, and generate tensorflow-1.11.0rc1-cp36-cp36m-win_amd64.whl file seccessfully. But I can not find the C++ lib(pywrap_tensorflow_internal.lib), where is the lib?  I want to use C++ not  Python.

![qq 20180920145146](https://user-images.githubusercontent.com/39480728/45800850-bdf02f00-bce4-11e8-9cda-e233ac413387.png)

[2018-09-20 07:01] cogbee commented on #21829
I have the same problem,:
_ZN10tensorflow7functor10NHWCToNCHWIN5Eigen9GpuDeviceEfLi4EEclERKS3_NS2_9TensorMapINS2_6TensorIKfLi4ELi1ElEELi16ENS2_11MakePointerEEENS7_INS8_IfLi4ELi1ElEELi16ESB_EE

when compile contrib/fused_conv, it depends conv_ops_gpu_hdrs(NHWCToNCHWIN is define here)
`cc_library(
    name = "conv_ops_gpu_hdrs",
    hdrs = ["conv_ops_gpu.h"],
)`
but it just a header, and the impleme

[2018-09-20 07:08] Wesley-Li commented on #8220
I just hit the same issue when using celery worker to run tensorflow gpu. I this issue solved?

[2018-09-20 07:29] dust0x commented on #12071
Thanks again, @gsutanto. Luckily for me, the input to the norm only needs to be fed once in my case and so I don't (yet) have to worry about batch computations. The way I am currently solving this is by simply calling the forced gradient of norm in the same session as the optimizer and if what you say is correct — nothing seems to have broken so far, so it must be — this should work just fine.

[2018-09-20 07:45] meteorcloudy commented on #22338
Sorry, I meant you need to pass `-c debug` or `-c fastbuild`, it's different from `--config`

[2018-09-20 07:46] jiawei6636 commented on #12859
good!

[2018-09-20 07:50] thaodersar commented on #21431
I got the same issue
Just upgarde build grade as the same version as your android studio version
for mine is:
dependencies {
        classpath 'com.android.tools.build:gradle:3.1.4' // android 3.1.4
        classpath 'org.apache.httpcomponents:httpclient:4.5.4'
    }

then issue you can run and see TF sample apk installed: TF Classify, TF Detect, TF Speech, TF Stylize

[2018-09-20 07:51] nairouz commented on #22378
@wt-huang thank you for the response. Yes, I made sure to add all the required imports.

Please let further explain the problem. Some loss functions require to stop the gradient for some specific variables. In fact, there are two cases:

1) In the graph execution mode, one can use the  `tf.stop_gradient(input=a)` and this operator will exclude the "a" variable from any gradient backpropagation.

2

[2018-09-20 07:53] jiawei6636 commented on #12859
you are very good!

[2018-09-20 08:06] bjtho08 commented on #20517
Are the any Ubuntu 16.04 TensorFlow gpu wheels for python 3.7 available? Or, if not, could I please get a short guide for building it myself? I don't have the experience to just go outand do it without anyone holding my hand :)

[2018-09-20 08:08] #22403 closed

[2018-09-20 08:38] EwoutH commented on #22401
In addition, [TensorRT 5](https://developer.nvidia.com/tensorrt#tensorrt-whats-new)

[2018-09-20 08:54] alanpurple commented on #22401
@EwoutH

good

TensorRT 5.0.0.10 RC for Ubuntu 1804 and CUDA 10.0

[2018-09-20 08:57] minizon commented on #21211
I tried the [tf-nightly version](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/tutorials/post_training_quant.ipynb),  and used the [python api](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/toco/g3doc/python_api.md), it seems this kind of method works and this error did not happen.