[2018-02-23 14:12] tensorflowbutler commented on #11411
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:12] tensorflowbutler commented on #11414
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:12] tensorflowbutler commented on #11447
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:12] tensorflowbutler commented on #11463
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:20] donand commented on #8652
Same here. I'm usingpython 3.5, tensorflow 1.4.0 and keras 2.1.0 and I get the following error:

[code]

I noticed that in the relative code block only the AttributeError exception is catched, but not the TypeError we are getting, probably it should be added.

[code]

[2018-02-23 14:23] JoanRessing commented on #17101
Figured it out, had forgotten to set the cuDNN path variable.

[2018-02-23 14:46] #16370 closed

[2018-02-23 14:58] cybot16 commented on #9270
Thanks!

[2018-02-23 15:05] WentaoZero commented on #1475
@Shaligram Could you elaborate a bit?

[2018-02-23 15:20] adamjones1 commented on #17200
I didn't realize that those questions were necessary. Answers below.
Have I written custom code: No, using standard keras Functional API
OS Platform and Distribution: macOS 10.13 & Ubuntu 16.04
TensorFlow installed from: macOS: pip & Ubuntu: conda
TensorFlow version: 1.5.0
Bazel version: N/A (was not compiled)
CUDA/cuDNN version: Ubuntu: CUDA 9
GPU model and memory: Ubuntu: GeForce 1080 Ti
Exact c

[2018-02-23 15:28] JeroenDelcour commented on #17209
For anyone else running into this: this is an issue with the Object Detection API in the [tensorflow/models](https://github.com/tensorflow/models) repository. I've created a [pull request with a simple fix](https://github.com/tensorflow/models/pull/3442).

[2018-02-23 15:55] yongtang commented on #17210
@MtDersvan @asimshankar At the moment the Kafka Op could be optionally built with ./configure (specify `y`):
[code]

It is not part of the default configuration (only with customized build).

There were some issues with `.so` as the op requires linkage with core and bazel could not resolve the linkage.

That was the case a couple of months ago. I will take a look and see if it is possible to build

[2018-02-23 16:17] Bahramudin opened #17223 "How to run a trained model of TensorFlow object detection in Java application with GPU support with boxes output (x, y, w, h)?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Linux Ubuntu 16.04/Windows 10
- **TensorFlow installed from (source or binary)**: No
- **TensorFlow version (use command below)**: 1.5
- **Python version**:  3.5
- **Bazel version (if compiling from source)**:
-

[2018-02-23 16:30] ebrevdo commented on #4337
Agreed it would be nice to optimize these methods.  I'm not sure the COO representation is great for this, but we would review performance improvements to this op.

[2018-02-23 16:31] ebrevdo commented on #10487
This is fixed in newer versions of TF.

[2018-02-23 16:31] #10487 closed

[2018-02-23 16:34] ebrevdo commented on #16872
@rmlarsen did you touch this code last?

[2018-02-23 16:53] allenlavoie commented on #15752
@burglarhobbit still I'm not sure whether these issues are related. It'd be good to rule this one out before spending time debugging that one separately, though.

Can you build from source with cuda 8? Annoying for sure, but the fix is in C++ and so needs to be compiled.

[2018-02-23 17:05] MtDersvan commented on #17210
@yongtang If I understand correctly, `--define with_kafka_support=true` or `TF_NEED_KAFKA=1` is equivalent to specifying `y` in `Do you wish to build TensorFlow with Apache Kafka Platform support? [y/N]`, so it should be working.
I don't think tensorflow picks up the cpp kernel properly. I tried adding the [kernel](https://github.com/tensorflow/tensorflow/blob/r1.6/tensorflow/contrib/kafka/BUILD#L

[2018-02-23 17:08] adamdunlap commented on #17185
I thought tensorflow was only supported on the 3 series of python?

[2018-02-23 17:16] tbird20d commented on #11463
I guess no one is going to look at this.  Here - I'll help you open issues stats by closing this issue as unresolved.
 -- Tim

[2018-02-23 17:16] #11463 closed

[2018-02-23 17:21] ambodi commented on #9487
@sedghi did you call the K.clear_session() at the end of training or at the start of it?

[2018-02-23 17:26] drpngx commented on #17021
From the code, it looks like it just wants binary labels. I read the doc to mean either `0` or `1`. Feel free to send a PR to clarify the doc.

[2018-02-23 17:34] ipeirotis commented on #17175
The problem is the regex at:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/special_math_ops.py#L166

`match = re.match('([a-z,]+)(->[a-z]*)?', equation)`

which allows the `(->[a-z]*)?` to be optional. Since space is not accepted by the regex, the parsing of the `equation` variable stops once a space character is encountered. If the space appears before the -> charact

[2018-02-23 17:38] nathandouglas commented on #17048
I'm currently building out a workflow using Celery to perform a set of image analytics in parallel. I ran into this issues since the celery daemon, once started, never released GPU resources after it completed processing images that used TensorFlow. As a result, I quickly depleted all of my GPU resources. My interim solution to the problem, was to wrap my analytic in a Pool that spawns a single Pr

[2018-02-23 18:15] reedwm commented on #15049
Closing for now due to a lack of a response to @mrry's comment. @BrightJoy @cuevas1208, feel free to reopen if @mrry's comment does not resolve the issue.

[2018-02-23 18:15] #15049 closed

[2018-02-23 18:16] sedghi commented on #9487
@ambodi at the end.
I was doing 5-fold cross-validation

[2018-02-23 18:36] av8ramit commented on #16453
@sandeepngupta has merged the new roadmap which will be populated to the site soon. Closing for now.

[2018-02-23 18:36] #16453 closed

[2018-02-23 18:36] gunan commented on #15618
I thought I fixed everything (not merged to master yet), where I realized that any `py_test` or `py_binary` rule outputs get `/usr/bin/env python` by bazel.
So this is blocked by a bazel bug.
I am contacting bazel team to see how we can fix this.

[2018-02-23 18:38] av8ramit commented on #16162
@Celelibi is this still an issue with r1.5 or r1.6rcs?

[2018-02-23 18:41] Hoeze commented on #22
I thought, that SPIR-V would directly replace CUDA as a cross-hardware alternative:
http://alphanew.net/index.php?section=alphanew&site=overview&lang=eng&newsID=111

Why does Google still rely on CUDA?

[2018-02-23 18:44] DexHunter commented on #14292
even using ubuntu `bash` on windows doesn't work

[2018-02-23 18:45] yaroslavvb commented on #17204
https://wolfr.am/sEh9TuuR

![screenshot 2018-02-23 10 44 24](https://user-images.githubusercontent.com/23068/36610893-9555b374-1886-11e8-86bb-15d0cac793d6.png)

[2018-02-23 18:49] #7970 closed

[2018-02-23 18:51] tatatodd commented on #11777
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-23 18:51] #11777 closed

[2018-02-23 19:31] peggyn7 commented on #16755
Thank you. Will try that.

________________________________
From: Yanping Huang <notifications@github.com>
Sent: Thursday, February 22, 2018 3:51:58 PM
To: tensorflow/tensorflow
Cc: peggyn7; Author
Subject: Re: [tensorflow/tensorflow] Multilayer CNN Softmax Script Error (#16755)

Please follow tutorials from https://www.tensorflow.org/tutorials/layers instead. Thanks.

—
You are receiving this bec

[2018-02-23 19:31] frap129 opened #17227 "Unable to load retrained MobileNet"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Arch Linux on x86_64
- **TensorFlow installed from (source or binary)**: binary/pip
- **TensorFlow version (use command below)**: 1.5.0
- **Python version**: 3.6.4
- **Exact command to reproduce**:
`python3 la

[2018-02-23 19:59] CarltonSemple commented on #17223
See the the object detection API section for details on detection with boxes
https://github.com/tensorflow/models/blob/master/research/object_detection/README.md

[2018-02-23 20:12] yaroslavvb commented on #17204
H2D seems to take expected time when it's done from TensorFlow CPU variable (8ms instead of 20ms), so I suspected memory pinning.

I tried creating page-locked numpy array using PyCUDA ([code](https://github.com/diux-dev/cluster/blob/master/yuxin_numpy/d2h_benchmark_pycuda.py)) but it made no difference. I wonder if TensorFlow is smart enough to check if incoming numpy arrays are page-locked alrea

[2018-02-23 20:12] tensorflowbutler commented on #17215
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-23 20:12] tensorflowbutler commented on #17217
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-23 20:26] smatzek commented on #12659
Issue #11603 is similar to this and might well be a dup.
The differences seen in 11603 and here likely come down to the architecture specific implementations of Eigen's PacketMath pmax function.

Per [IEEE-754R](https://msdn.microsoft.com/en-us/library/windows/desktop/jj218760(v=vs.85).aspx#alpha_754_Deviations) the behavior should be:

min(x,QNaN) == min(QNaN,x) == x (same for max)

In practice w

[2018-02-23 20:41] kevinashaw commented on #16662
So by "skip the checkout step" I infer that we not checkout TF1.5 and instead work at HEAD?  I think that is TF1.6rc1.  We would prefer not to run on a release-candidate.  Or is that our only option so far.

[2018-02-23 21:04] ispirmustafa commented on #17159
@dacox thank you for a simple script!
we're working on it.

[2018-02-23 21:20] vihanjain commented on #17159
@dacox Thanks for the script and logs!

I ran your code on Mac and Ubuntu and I didn't see any slowness between the cold-start run and warm-start run. I ran the code on CPU only. Can you disable GPU for your runs and confirm that you don't see any slowness when everything runs on CPU only?

[2018-02-23 21:58] zheng-xq commented on #17204
TensorFlow has its heuristics to determine whether a host memory should be page locked or not. Variables or any op that will be sent to device automatically gets page locked memory.

However, I don't think the heuristics treats memory feeds as page locked. For high-performance models, it is recommended to go through a reader-op, instead of feeding a large amount of data.

[2018-02-23 22:13] #9770 closed

[2018-02-23 22:24] ekelsen commented on #17155
The memory usage he's showing is CPU memory not GPU VRAM.  Unique also doesn't actually have a GPU implementation - it runs on the CPU even when placed on the GPU.

[2018-02-23 22:26] martinwicke commented on #16757
There is no plan to update contrib.layers.optimize_loss. If you require mixed precision updates, it is best to write the loss update yourself (you can use the implementation of optimize_loss or training.create_train_op as an example).

[2018-02-23 22:26] #16757 closed

[2018-02-23 22:27] ahsteven commented on #17048
The problem is that even if I exit python in the terminal (ctl -Z) and
restart another python process the memory is still occupied. I have to
close the terminal for the memory to release.

On Fri, Feb 23, 2018 at 12:41 PM, Nathan Douglas <notifications@github.com>
wrote:

[2018-02-23 22:33] arch-rh1 commented on #17185
Nope. I built from **source** (also tried with **pip** [_uninstalled tf, cleared cache before each install attempt_] )on **another** machine that has **Cuda 8, Cudnn 7.05**. I specified the path to the cuda-8.0 (_used actual [to cuda-8.0 folder] and symbolic path [to cuda folder] on separate occasions, same error_) and performed TF 1.6 configuration. When I try to import tf, I got :

[code]

@guna

[2018-02-23 22:34] ccolby commented on #17002
@avigyan1009 That warning shouldn't prevent anything from working.

[2018-02-23 22:40] asimshankar commented on #17048
When you're "Ctrl+Z"ing, you're not killing the python process, you're just putting it into the background. So it doesn't release the memory. You want to exit the python interpreter to kill the process.

[2018-02-23 22:40] nathandouglas commented on #17048
Oh I see. Just to clarify in case you weren't aware, Ctrl-Z will put the python process in the background which isn't the same as doing Ctrl-D from the python terminal. If you open 2 terminals and in one run `watch nvidia-smi` and in the other you run your python terminal to start a tensorflow session, you'll see your python process allocate space and then drop off with Ctrl-D, where as the Ctrl-Z

[2018-02-23 22:42] asimshankar commented on #17106
A fix to update CUB has been submitted internally and should sync to github shortly.
The 1.6 final release will contain this updated CUB version I believe, which will fix the problem.

[2018-02-23 22:42] yaroslavvb commented on #17204
@zheng-xq the application here is setting network parameters rather than reading data. Parameters come from external application (Ray)  and the goal is to get those values into corresponding TensorFlow parameter variables as fast as possible (cc @mrry)

[2018-02-23 22:46] cy89 commented on #17002
@ccolby has an update on the internal side that should become visible through the normal merge process.
I'll close this; please reopen if there is more to do.

[2018-02-23 22:46] #17002 closed

[2018-02-23 23:09] Siesh1oo commented on #12008
@av8ramit asked:

Yes, using latest tensorflow-git and bazel-10.1 or bazel-11.0.
Build variables:
[code]

Build command:
[code]

CPU-only build works fine, as soon CUDA is enabled, the problem persists as reported above.

python-2.7 and python-3.6 have been tried.

Error message same as in original post.

[2018-02-23 23:13] ankitvgupta commented on #17106
@asimshankar Thanks so much! This is great news. Any estimate on when the final 1.6 release will be?

[2018-02-23 23:21] achalshah20 opened #17232 "Cmake build doesn't work on ubuntu 16.04"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: Latest from master branch
- **Python version**: 2.7
- **Bazel version (if compiling from so

[2018-02-23 23:38] ahsteven commented on #17048
Thanks Nathan. Yes with ctrl-D it works properly.

On Fri, Feb 23, 2018 at 5:43 PM, Nathan Douglas <notifications@github.com>
wrote:

[2018-02-23 23:43] martinwicke commented on #16534
If the call was missing, gradients would be propagated to the labels, which, depending on where those labels come from, may or may not be what you want.

In general, gradients should flow through all ops back to all inputs. If you do not want this, stop_gradients should be used.

[2018-02-23 23:45] asimshankar commented on #17048
Closing this as things are working as intended.

[2018-02-23 23:45] #17048 closed

[2018-02-23 23:46] yaroslavvb opened #17233 "4x slowdown in feed_dict in tf-nightly-gpu"
Upgrading to `pip install tf-nightly-gpu` from `pip install tensorflow` (1.5) slows down feeding about 4x

Feeding 100MB array used to take 15ms, and it takes 60ms after the change. I think this is due to change in alignment requirements for AVX-compiled binary. I want to start the thread to figure out how to regain the performance before these changes make it into official release

benchmark: [al

[2018-02-23 23:47] martinwicke commented on #16594
@allenlavoie is working on a better way of getting to variables. Even now, I would generally prefer the .variables property of layer objects.

However, this is a bug, and we could add code to tf.layers.Layer to fix this. Marking contributions welcome.

[2018-02-23 23:54] Siesh1oo commented on #12008
This patch seems to work around the issue:

[code]

[2018-02-24 00:01] martinwicke commented on #8137
@tfboyd @tatianashp if I understand correctly, this will become more pertinent with MKL, for which the default (or only supported) data format is different from GPU?

@rmlarsen data layout optimization is a grappler pass, right?

What is the way forward to relieve actual users from these problems?

[2018-02-24 00:10] taion commented on #8137
The right answer there is something like https://github.com/tensorflow/tensorflow/issues/8227.

This is more of an smaller ergonomics thing. I just want to be able to do `data_format='NCHW'` for e.g. `tf.layers.conv2d`, as is the case for most other things in TF, rather than having to do `data_format='channels_first'`, which is the only supported scheme in `tf.layers`, and is not supported anywher

[2018-02-24 00:25] fchollet commented on #8137
@taion This is a solved issue. Consider using `tf.keras` to build your models. In all layers from `tf.keras.layers` that take a `data_format` argument, the default will be `keras.backend.image_data_format()` (which you can set via `keras.backend.set_image_data_format('channels_...')` or via your Keras settings files). This allows you to build models that work for either data format, without changi

[2018-02-24 00:31] martinwicke commented on #1763
I'll close this issue. Please reopen if you have a concrete suggestion for improving the API.

[2018-02-24 00:31] #1763 closed

[2018-02-24 00:50] mikistra commented on #17167
@Carmezim  you were right, I feel so dumb. Now i'm going to have a fresh installation of everything and then in case of problem start a thread filling the template correctly. So maybe you can can close this...

[2018-02-24 01:05] taion commented on #8137
We should probably leave discussion there on #8227.

The specific issue here is just that it's awkward to write:

[code]

[2018-02-24 02:33] ScorpioCPH commented on #7767
@alsrgv @jhseu Hi, sorry to comment on this closed issue.

But I'm wondering will training freezes if non-chief workers failure in the latest release (v1.5.0)?

[2018-02-24 02:35] clovking commented on #7434
Thank you for your patient and detailed explanation. I will try it as you say. Thank you!!!

At 2018-02-23 19:30:01, "clarklight" <notifications@github.com> wrote:
For me anyway the jpeg looked like it was correct, the format looked
correct. I checked everything,I even open it to view the image, everything
looked right, but for some reason for me when the images is moved from a
folder to another s

[2018-02-24 02:41] ericyue commented on #17218
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: max os 10.12.6
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: 1.5
- **Python version**:   2.7 anaconda
- **Bazel version (if compiling from source)**: non

[2018-02-24 02:43] ericyue commented on #17218
source code from @andrehentz

[2018-02-24 02:57] yaroslavvb commented on #17233
OK, here's a hacky way of aligning an existing array. This removes the speed penalty of speed dict, and you can copy new data into existing aligned memory using `np.copyto`

[code]

[2018-02-24 03:12] ericyue opened #17237 ""ld: unknown option: --icf=all" Bazel build tensorflow-lite label_image Error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: max os 10.12.6
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: 1.5
- **Python version**:   2.7 anaconda
- **Bazel version (if compiling from source)**: non

[2018-02-24 03:17] yaroslavvb commented on #17233
@alextp what is the algorithm to determine if existing numpy memory is aligned?

[2018-02-24 03:39] TEJAPS commented on #14736
@charlie-ruan do you have windows version of the GPU installation in amd.

[2018-02-24 03:40] #6956 closed

[2018-02-24 04:22] getudom opened #17238 "Cannot install Tensorflow with Visual Studio 2017"
**Please, add to the documentation a detailed guide on how to install Tensorflow with Visual Studio 2017, on Windows 7 64bit.**

I followed many tutorials on Internet, and none works. They frequently have contradictory information.

Is necessary to have an updated, official tutorial.

And please, don't redirect people to stackoverflow. They mistreat anybody trying to start learning, and don't prov

[2018-02-24 05:01] gunan commented on #17233
Just to check. Does the regression also affect 1.6 RC1?

[2018-02-24 05:22] martinwicke commented on #17233
Also, could this be related to the AVX build?

[2018-02-24 05:40] fgallaire commented on #16862
yes

[2018-02-24 05:42] fgallaire commented on #16862
When trying to build on Ubuntu the 1.6.0-rc1

[2018-02-24 05:44] fgallaire commented on #16654
Same issue with Bazel 0.11.0
``Current Bazel version is 0.11.0, expected at least 0.5.4``

[2018-02-24 05:56] dchatterjee172 commented on #17215
I have included a custom code, rest are not required in this case

[2018-02-24 05:57] fgallaire commented on #16654
Brazel is a joke, why use this sh** ?

[2018-02-24 05:58] fgallaire commented on #16862
When trying to build on Ubuntu the 1.5.0

[2018-02-24 06:03] fgallaire commented on #16862
As you use Jenkins ans don´t catch this, you should fix Jenkins too

[2018-02-24 06:25] wandering007 commented on #11690
Are the implementations of Instance Normalization and Layer Normalization identical or similar?

[2018-02-24 06:33] zh794390558 commented on #16775
@tensorflowbutler fix

[2018-02-24 06:45] Bahramudin commented on #17223
@CarltonSemple I know the link you mentioned, but you did not get the question that I asked.
I say that:
Is there possible to run the trained object detection API model within Java application with **GPU** support in both **Windows** and **Linux** operating systems?

I don't want a toy OR `helloword `program, I want to sure the stability and reliability in a real project.

[2018-02-24 06:47] Sahriyal opened #17240 "Tensorflow"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-02-24 07:02] kaiiyer commented on #16641
GPU on mac is not that compatible
but external GPU cann be set up
read more from here https://egpu.io/

[2018-02-24 07:33] benshi001 opened #17241 "TFlite: tensorflow/contrib/lite/java/demo/app/src/main/TfLiteCameraDemo does not work"
The TfLiteCameraDemo shows "Uninitialized Classifier or invalid context" after launching.

My environment
1. android 8.1 on pixel 2
2. bazel 0.11.0
3. tensorflow commit c7e966b5e35ee7fc511c1efe84dba8d3558f2b1c
4. stand-alone ndk-r14b, sdk within android-studio 3.0.1
5. ubuntu 16.04

My step
1. bazel build --cxxopt=--std=c++11 //tensorflow/contrib/lite/java/demo/app/src/main:TfLiteCameraDemo --conf

[2018-02-24 07:37] gunan commented on #17185
I am sorry that you are still running into issues.
However, I just verified on my test machine by building TF master on a machine cuda 8.0, cudnn 6.
tf.test.is_gpu_available() returns true, and I can run a very simple graph.

[code]

Please check your LD_LIBRARY_PATH actually points to your cuda and cudnn library directories, please make sure you follow CUDA installation instructions carefully to

[2018-02-24 07:49] benshi001 commented on #17241
The demo is ok if built from android studio, only failed when built by bazel command line.

[2018-02-24 08:00] sadimanna opened #17242 "Getting ValueError: setting an array element with a sequence from tf.contrib.keras.preprocessing.image.ImageDatagenerator.flow"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution**:  Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.6.0-rc0
- **Python version**: 2.7.12
- **Bazel version (if compiling from source)**: 0.10.0
- **GCC/Compiler

[2018-02-24 08:54] jart commented on #14278
I agree with @snnn's assessment. This seems incorrect. Should be fixed. cc: @mrry.

[2018-02-24 09:37] Lancerchiang commented on #10618
Hi I have the same issue even when I am using tensorflow 1.4

[2018-02-24 10:08] #16499 closed

[2018-02-24 12:42] jcplus commented on #17217
- Have I written custom code: N/A
- OS Platform and Distribution: Windows 10 64bit
- TensorFlow installed from: local files
- TensorFlow version: tensorflow-1.6.0rc1-cp35-cp35m-win_amd64.whl
- Bazel version: N/A
- CUDA/cuDNN version: 8.0/5.1
- GPU model and memory: GTX 1060 4GB
- Exact command to reproduce: `pip3 install tensorflow-1.6.0rc1-cp35-cp35m-win_amd64.whl`

Hope this helps.

[2018-02-24 13:02] Elmirrah commented on #16752
I am trying to solve the same kind of issue for almost a month but still it is not solved. So I am really hoping someone can help us. I am also a windows os user.

[2018-02-24 14:27] alhassan-fadel commented on #14624
So do you found any workaround for this?
Thanks

[2018-02-24 15:02] JoyChopra1298 commented on #110
I am working on a CentOS 6 cluster which uses Lustre filesystem. I am unable to make Bazel work on it since it can't use file locking. [Refer this issue](https://github.com/bazelbuild/bazel/issues/2647). So would it be possible for tensorflow to support other build tools?

[2018-02-24 15:26] siryog90 opened #17243 "Would a vector field layer be a welcome addition?"
Here is a [paper](https://arxiv.org/pdf/1802.08235v1.pdf) I stumbled upon yesterday. It describes an interesting, visual approach of separation of mixed set of points in high dimensional spaces into linearly separable set of points by learning a vector field that carries input points to new locations.

Coupled with Tensorboard, such a layer would provide intuition as to what the network is doing.

[2018-02-24 15:35] eamartin commented on #17233
I suspect an extra memcpy is the cause. The slowdown is 45ms, and 100MB/45ms = 2.2GB/s. This is about the throughput of a memcpy that causes a lot of pagefaults.

[code]

GIven this, I suspect the TF changes caused an additional memcpy on feed. The memcpy theory can be further tested by running the test at 200MB instead of 100MB. If slowdown roughly doubles to 90ms, strong indicator that memcpy (o

[2018-02-24 15:45] #17240 closed

[2018-02-24 16:06] CarltonSemple commented on #17238
https://github.com/tensorflow/tensorflow/issues/16138

[2018-02-24 16:15] mrlzla commented on #17214
Yes. Actually, there were different inputs.

[2018-02-24 16:15] #17214 closed

[2018-02-24 16:19] martinwicke commented on #17233
That would be consistent with an alignment mismatch forcing a copy.

[2018-02-24 16:35] nikita68 commented on #17045
This is the same issue as described in #17199

[2018-02-24 16:53] alc5978 commented on #12052
Hi All
I today install tensorflow-gpu 1.6.0rc1 on win10  with CUDA 9.0 and cuDNN 7.0.5 library with http://www.python36.com/install-tensorflow-using-official-pip-pacakage/

Everything seems ok

[2018-02-24 17:23] charlie-ruan commented on #16609
according to this link https://www.notebookcheck.net/AMD-Radeon-Pro-WX-4150-GPU.215312.0.html
AMD Radeon Pro WX 4150's architecture is Polaris which is supported by hiptensorflow.  for related info and installation see:
https://github.com/ROCmSoftwarePlatform/hiptensorflow/blob/hip/README.ROCm.md

[2018-02-24 17:27] charlie-ruan commented on #14736
@TEJAPS , according to AMD hiptensorflow documentation, hiptensorflow only supports Linux for now.

[2018-02-24 17:40] dacox commented on #17159
@vihanjain I just did a test using CPU only on my laptop(not the same machine, however).
You're right, I do not see the same slowdown. There is significantly more variance between the batch times when running on my (older) CPU.
When I get back on Monday I will try the CPU on the work machine with the GPU. I almost wonder if it's somehow running in CPU mode.

[2018-02-24 18:07] ChrisAntaki commented on #16821
Sorry, I just have experience using the Python API

[2018-02-24 20:00] brainnoise commented on #17191
Please take a look at this related [issue](https://github.com/keras-team/keras/issues/7431) in Keras.

[2018-02-24 20:02] ebrevdo commented on #17045
Let's close one of these bugs as duplicate.

On Sat, Feb 24, 2018, 8:36 AM nikita68 <notifications@github.com> wrote:

[2018-02-24 21:08] rubenlg commented on #16479
It works for me, but you have to specify the version so that it won't pick 9.1 automatically. Steps:
1. `apt-cache show cuda | grep Version`
2. Write down the full 9.0.? version
3. `apt-get install cuda=FULL-VERSION-CODE`

Also, make sure to run `apt-get update` before any of this, after you download the installer for 9.0.

[2018-02-24 21:41] getudom commented on #17238
Here is an example video. It explains that CUDA 9.1 is not compatible in Windows, yet it advice to use pip, when my system has pip3
https://www.youtube.com/watch?v=uIm3DMprk7M&t=12s

The instructions here
https://www.tensorflow.org/install/install_windows

Do not explain that newer versions should not be used. It is logical to assume that the webpage is outdated, so the user installs 9.1, because

[2018-02-24 22:49] javadba commented on #3217
It's strange that disallowing a  script to be run in the TF directory were considered a non-bug.

[2018-02-24 23:39] yaroslavvb opened #17246 "Fetching value of Variable unnecessarily slow"
Doing sess.run(var) is about 5x slower than sess.run(var+1).

python [variable_fetch_bug_report.py](https://github.com/diux-dev/cluster/blob/26f8e01bd79e49fe2d1dac342dd90493f693b85c/yuxin_numpy/variable_fetch_bug_report.py)

100MB variable
fetch_cpu_variable  : 2.5 GB/sec, min: 40.74, median: 41.33, mean: 42.08
fetch_cpu_variable_add: 12.6 GB/sec, min: 7.96, median: 8.54, mean: 8.71
fetch_cpu_vari

[2018-02-25 01:18] netheril96 commented on #17215
When in doubt, check the [source code](https://github.com/tensorflow/tensorflow/blob/7c324811f10eaf049735ace7b6a228ccc931d8ff/tensorflow/python/ops/array_grad.py#L566).

So apparently, in your case, the gradient will be summed along axis 0 in back propagation.

[2018-02-25 01:59] AlexBO222 commented on #13715
Please help me! Does not start TensorFlow.

my windows 10 x64
my python version is 3.6.2 (x64)
cuda version is 8.0 and 9.0 (script https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c  required all these libraries in turn)
and cudnn version is 5.1 and 6.0  and 7 (script required all these libraries in turn)

script answer:
ERROR: Failed to import the TensorFlow module.
- Python version is

[2018-02-25 03:07] yaroslavvb commented on #17204
OK, I suspect it actually recognizes numpy arrays to be page-locked. I tried fetching GPU tensor as numpy, writing my own data into that numpy array, and feeding it back, and it's about 1.8x faster than a regular 64-byte aligned numpy array

[tf_numpy_benchmark.py](https://github.com/diux-dev/cluster/blob/41b318a5e5248b8e236c31c323be6d7777fa6133/yuxin_numpy/tf_numpy_benchmark.py)
[code]

[2018-02-25 03:10] yaroslavvb commented on #17233
@gunan it would affect it if RC1 is built with avx

I regain the speed when using TensorFlow to allocate memory and writing my own data into that memory using `np.copyto`.

benchmark: [tf_numpy_benchmark.py](https://github.com/diux-dev/cluster/blob/41b318a5e5248b8e236c31c323be6d7777fa6133/yuxin_numpy/tf_numpy_benchmark.py)

Using 100 MB of data, times are in ms

[code]

[2018-02-25 03:44] aReaSa opened #17248 "The labels do not appear on android app screen"
------------------------

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 17.10
- **TensorFlow installed from (source or binary)**: Tensorflow For Poets 2
- **Python version**: 3
You can obtain the TensorFlow version with
v1.5.0-0-g37aa430d84 1.5.0

### Describe the problem

Hello dear friends,
I literally followed all instructions in Tenforflow F

[2018-02-25 04:17] tonywangcn commented on #3986
@SanthoshMKunthe Is there any possible to print all the node name in Graph? Checked the code and didn't find anything about the naming you mentioned. Thanks!

[2018-02-25 04:27] SanthoshMKunthe commented on #3986
Use json viewer. . . It helped me to solve mis naming problem. . . Its one of the solution, look for other possibilities to be sure. . .

[2018-02-25 04:42] tonywangcn commented on #3986
I used this function to get all the node names, but more than 10000 nodes are really crazy for me to figure out the one that belong to me......  print(len([n.name for n in tf.get_default_graph().as_graph_def().node]))

[2018-02-25 05:05] Lancerchiang opened #17249 "TypeError: Failed to convert object of type <type 'list'> to Tensor."
I want to construct a dataset in which each element is a list of tensors with different shapes, because I need a dataset to contain my parsed image informations with different shapes. If I run the code like below:

`dataset = tf.data.Dataset.from_tensor_slices([[np.array([1]),np.array([1,2])],[np.array([2]), np.array([4, 5])]])`

It reports `TypeError: Failed to convert object of type <type 'list'

[2018-02-25 05:06] dchatterjee172 commented on #17215
Thank you very much, I'll remember that from next time.
You can close the issue.

[2018-02-25 05:06] #17215 closed

[2018-02-25 05:33] miranthajayatilake opened #17250 "What defines the output tensor shape of tf.layers.conv2d_transpose?"
When using `tf.layers.conv2d_transpose` what defines the output tensor shape?
For example: if the input was 4x4x512, for the output to be 8x8x256 the filters can be given, but how are is the height and width defined? Or else is it always two times the input height and width?

Thanks.

[2018-02-25 06:27] SarthakJShetty commented on #17187
The issue was resolved once I reintstalled CUDA v8.0. Thank you!

[2018-02-25 06:27] #17187 closed

[2018-02-25 06:40] gunan commented on #17233
Thank you very much for the analysis.
Since this will require some investigation, I will release 1.6 final without a fix for this, however I want to follow up on this and once we have a fix prepare patch releases for 1.5 and 1.6.
@tfboyd @tatianashp FYI

[2018-02-25 06:41] #17021 closed

[2018-02-25 07:33] joelandplus commented on #16479
@rubenlg i followed the instructions on NVIDIA website:

wget http://developer.download.nvidia.com/compute/cuda/repos/ubuntu1604/x86_64/cuda-repo-ubuntu1604_9.0.176-1_amd64.deb
dpkg -i cuda-repo-ubuntu1604_9.0.176-1_amd64.deb
apt-key adv --fetch-keys http://developer.download.nvidia.com/compute/cuda/repos/ubuntu1604/x86_64/7fa2af80.pub
apt-get update
apt-get install -y cuda

The above doesn't work

[2018-02-25 07:44] #17249 closed

[2018-02-25 08:20] RT-TL opened #17252 "Retrain.py script failing with nan-error at random without any code changes"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Working on a notebook with MacOS High Sierra v10.13.1 in a Docker container using Ubuntu 16.04.3
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.5
- *

[2018-02-25 08:27] guxiaobo opened #17253 "Higher level C++ API feature request"
Hi,
I seems the C++ API only have frontend API to access tensorflow core, is there a plan to make higher level APIs, such as various algorithms and the estimator API, thanks.

I am sorry if this is not the right place to post this.

[2018-02-25 08:48] gunan commented on #17232
Currently, cmake build is only recommended for windows.
Bazel is the currently tested and officially supported build system on ubuntu.

[2018-02-25 08:51] JeromeDesseaux opened #17254 "DeprecationWarning: The binary mode of fromstring is deprecated, as it behaves surprisingly on unicode inputs. Use frombuffer instead 1.6rc0"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- Ubuntu 16.04
- Tensorflow installed from source, latest HEAD from master (CPU)
- 1.6rc0
- Python 3.5.2
- Bazel 0.10.1
- gcc-5

### Describe the problem
When using tensorflow, I got hundred of DeprecationWarnings: This message exactly

  return np.fromstring(tensor.tensor_c

[2018-02-25 09:40] Lancerchiang opened #17255 "tensorflow suddenly cannot detect my GPUs"
I was working with tensorflow-gpu, and it worked properly before. But just now, suddenly my Tensorflow cannot run on GPU anymore and when I query my devices with `list_local_devices()`, it shows that I don't have any GPU! But my nvidia-smi properly displayed the info of my 2 GPUs. It's very weird since I did't do anything.

[2018-02-25 09:54] gunan commented on #14436
I would like to go for the option where we can collaborate easier.
So let's go for the solution where we setup a job on the jenkins infra hosted there, where you can also have full access to the job setup.

Please reach out to me through (my github username) @ (companyname).com so we can discuss the details.

[2018-02-25 10:01] lauphedo commented on #734
@fastlater: Yes, in my experience it is related to the running-out-of-memory issue. It seems that weiliu620 made the same experience.
What kind of images do you use? What's your batch size?

[2018-02-25 10:14] sadimanna commented on #17254
[code]

I used this at the start of my code which suppresses the warning.

[2018-02-25 10:39] GPhilo commented on #16534
Thanks for the clarification.
Is there anywhere an example of use-case where propagation to labels is useful/necessary? (I'm just trying to figure out what is this used for)

[2018-02-25 10:41] anubhavroy opened #17256 "Download the training images"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-02-25 10:42] anubhavroy commented on #17256
![capture](https://user-images.githubusercontent.com/36357656/36640529-abc8a4c4-1a46-11e8-871a-cae6b3449d64.JPG)
I am unable to download the images from the terminal

[2018-02-25 10:50] apple4562251 commented on #582
@raingo 's solution is really cool!

[2018-02-25 11:45] tralpha commented on #17067
Thank you, @dtrebbien. This helped me a lot, even on Mac OS 10.13.3, tensorflow v1.6.

[2018-02-25 12:12] sleighsoft opened #17257 "Saver: Don't fail on restoring variables not present in a checkpoint."
This is a feature request.

Let's consider a scenario where one trains multiple models and uses them in combination (like it is done in GANs).

To simplify the process of saving and restoring variables that are partly shared across the models (Pretraining Model, Training Model, Evaluation Model, Infer Model) one could instantiate the whole graph, containing all operations and variables, and save i

[2018-02-25 12:29] GHAIGIT commented on #15773
@ispirmustafa
Question on loss. I think your code makes the three train_op the same loss, the sum of three different losses. However, @developer-mayuan wants to run the three train_op with three separate losses I think.
@developer-mayuan Do you have any solution yet?

[2018-02-25 12:58] amxineohp opened #17259 "after restore trained model checkpoint, the prefetch capacity become 500 which is 5 during training"
when I restore my trained model and do predict it out of memory problem, how can I restore the original capacity? or how can I reset the capacity after restore?
I am using python-gpu 1.5
below is the operation information:
when training:
name: "prefetch_queue"
op: "PaddingFIFOQueueV2"
device: "/device:CPU:0"
attr {
  key: "capacity"
  value {
    i: 5
  }
}

after restore:
name: "prefetch_queue"
o

[2018-02-25 13:34] x10000year commented on #16829
Thank you!

[2018-02-25 15:50] imsheridan commented on #17254
I assume this is a duplicate issue of #17020, which was fixed already.

[2018-02-25 16:37] BLCKPSTV opened #17260 "Running on DLAMI"
I've got this error when running this script on Amazon aws.

I just want to know if this error is related to the memory space on the aws or within my installation of the project? If this is possible on first sight.
So that I now where to ask the more specific questions.

ERROR OUTPUT:
[code]

[2018-02-25 16:42] #11585 closed

[2018-02-25 17:00] domarps commented on #17256
Have you tried running with the `-k` or `--insecure` option? More details [here](https://stackoverflow.com/a/20843514)

[2018-02-25 17:09] domarps commented on #17227
I had faced a similar issue a while ago, but I realized that my Linux shell variables, `IMAGE_SIZE` and `ARCHITECTURE` had been incorrectly populated.

[2018-02-25 17:28] kirk86 commented on #15604
@abrahamrhoffman That's easy for anyone who has sudo privileges but what about people on a shared system like a cluster environment with simple user privileges. In those case even if you ask from the sys admin to install any libraries most probably the answer is gonna be NO! Since they are afraid that might interfere with other users' settings and environments.

[2018-02-25 18:00] DenisN03 commented on #6035
@mmpinso, @liangxiao05, did you succeed in coloring the result after processing the image with a neural network? If so, how do you do this? I'm trying to implement a function from the examples of the opencv - colorizeSegmentation library in the Java language, but so far it has not turned out.

[2018-02-25 18:29] yaroslavvb commented on #17260
Your machine doesn't have enough GPU memory to run this neural network

[2018-02-25 18:44] aReaSa commented on #16752
I am trying to solve the same kind of issue for almost a month but still it is not solved. So I am really hoping someone can help us. I am also a windows os user.

Me too.

[2018-02-25 19:13] yaroslavvb commented on #17204
BTW, PyTorch doesn't seem to have this limitation, I can take a regular numpy array, and load it onto GPU as fast as numpy array in page-locked memory. Meanwhile TensorFlow gets

[benchmark v2](https://github.com/diux-dev/cluster/blob/c396df42b7d13387b3be767f18f59e012bfd0277/yuxin_numpy/tf_numpy_benchmark.py)

[code]

[2018-02-25 19:34] yongtang commented on #17254
Since the issue has been fixed in https://github.com/tensorflow/tensorflow/commit/f5c581f0f4649898ed00650fe98c7ef344e0f240. Let me close this one. Feel free to reopen if the issue persists. Thanks for the contribution!

[2018-02-25 19:34] #17254 closed

[2018-02-25 20:57] Carmezim commented on #17167
@mikistra No worries, it happens :). Thank you for reporting the issue and following up, glad it's working now. Feel free to close the issue.

[2018-02-25 21:03] ajbouh commented on #11882
I could be wrong, but I as of today, I don't think this issue has been addressed in the nightly wheel available over here: http://ci.tensorflow.org/view/tf-nightly/job/tf-nightly-mac/TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON3,label=mac-slave/lastSuccessfulBuild/artifact/pip_test/whl/tf_nightly-1.head-py3-none-any.whl

[2018-02-25 21:42] Richard-Neill commented on #17220
The rendering works with the 'spreadsheet' attribute entirely removed.

Looking in a little more depth, we get an error when the spreadsheet is restricted to 312 lines. For example, if you remove lines 323:665 in the attached `.dot` file then no error is given. If you instead remove lines 324:665, i.e. 1 extra line, we get the error from before.

It does not seem like the syntax of lines 323 onwar

[2018-02-25 21:48] #17167 closed

[2018-02-25 22:07] jayshah19949596 commented on #14884
I am facing the same error.... Using tensorflow 1.3 on ubuntu with cuda 8

[2018-02-25 23:54] spk921 commented on #11350
@vierja  Could you give example? I have a problem adding summary operation with MonitoredTrainingSession.

[2018-02-25 23:54] yongtang commented on #16282
Added a PR #17262 for the fix.

[2018-02-26 00:51] betelgeuseMsi commented on #7157
I installed tensorflow from Source had the same problem. I noticed that while executing the command "sudo pip install /tmp/tensorflow_pkg/tensorflow-1.5.0-py2-none-any.whl", I was executing it by copying and pasting it directly which was wrong because the term "tensorflow-1.5.0-py2-none-any.whl" need to be replaced with the right name of the .whl file. First time running it gave some error but whe

[2018-02-26 00:52] betelgeuseMsi commented on #3369
I installed tensorflow from Source had the same problem. I noticed that while executing the command "sudo pip install /tmp/tensorflow_pkg/tensorflow-1.5.0-py2-none-any.whl", I was executing it by copying and pasting it directly which was wrong because the term "tensorflow-1.5.0-py2-none-any.whl" need to be replaced with the right name of the .whl file. First time running it gave some error but whe

[2018-02-26 01:10] MingJiang1988 commented on #6383
replace  "\\" C:\\appData\\Local\\

[2018-02-26 01:10] MingJiang1988 commented on #6383
'\\\\'

[2018-02-26 01:30] Imorton-zd opened #17263 "A good and practical feature is removed"
[code]
When training and test, I want to use the different batch size. But in `zero_state` function, the first parameter doesn't support a tensor as input. To my knowledge, I don't meet the error with the version of tensorflow before 1.2. Now I update tensorflow to 1.2.1. I think that using the different batch size is a practical function.
In stackoverflow, a same problem is post, but it is not so

[2018-02-26 01:45] meteorcloudy commented on #15297
Sorry, I was on vacation for the last two weeks. And I don't know what's the proper way to fix it.
@martinwicke Can you point this issue to the correct owner?

[2018-02-26 02:03] LinBoLen commented on #37
+1

[2018-02-26 02:05] #17263 closed

[2018-02-26 02:13] selcouthlyBlue commented on #16999
Alright

[2018-02-26 02:17] ginsongsong commented on #16947
Hi @bignamehyp ,

The following are the exact command we used on tf_cnn_benchmark.
AlexNet:
python tf_cnn_benchmarks.py --local_parameter_device=cpu --num_gpus=1 \
--batch_size=512 --num_batches=10000 --model=alexnet --variable_update=replicated --all_reduce_spec nccl
InceptionV3:
python tf_cnn_benchmarks.py --local_parameter_device=cpu --num_gpus=1 \
--batch_size=64 --num_batches=10000 --model=in

[2018-02-26 02:33] rjurney commented on #15604
I installed cuda-9.0 and still it does not work. This is really irritating.

[2018-02-26 02:43] abrahamrhoffman commented on #15604
Please make sure to set your PATH variable appropriately, such as described here: https://stackoverflow.com/questions/39287744/ubuntu-16-04-nvidia-toolkit-8-0-rc-darknet-compilation-error-expected-a/41290056#41290056

[code]

[2018-02-26 03:15] t0mst0ne commented on #10852
@adanaila  may I ask which brand 1080Ti you use when error occurred ?
I met the same situation on EVGA 1080ti ftw3 , not sure if the hardware problem , thanks for your help.

[2018-02-26 03:35] selcouthlyBlue commented on #1742
PR https://github.com/tensorflow/tensorflow/pull/16119 addresses this issue.

[2018-02-26 03:41] fastlater commented on #734
@lauphedo  Well, in my case, I guess it is because problems with cuda installation. I was testing a code with the same image used in their demo. Then, I tried one of my old codes and the same error came out so it should be something else and not a memory issue. I hope I could solve this problem soon and report the solution.

[2018-02-26 03:58] adanaila commented on #10852
@t0mst0ne I had a founder's card, it either crashed the system or resulted in the above errors.

[2018-02-26 04:19] CorvetteCole commented on #9049
Hey @andrewharp I'm running in this issue while trying to build using CMake on Ubuntu 16.04. I am making progress on this issue but I've gotten sort of stuck so I'd appreciate it if you would take another look. Thanks!

[2018-02-26 04:44] CarltonSemple commented on #17217
You need CUDA 9.0 and cuDNN v7.0, and then make sure they're referenced in the Path environment variable.
See https://www.tensorflow.org/install/install_windows

[2018-02-26 04:47] CarltonSemple commented on #17217
Also, choose a command with `cp36` since you have Python 3.6.
For example
[code]

[2018-02-26 05:05] vinishg commented on #16752
You need to change "libtensorflow_demo.so" file, the file attached in github code is not correct.
Add it under which ever arch you are using "arm64-v8a" or  'armeabi-v7a" or "x86" or "x86_64"
Also you need to add Jar file "libandroid_tensorflow_inference_java.jar" under Library.

[libandroid_tensorflow_inference_java.zip](https://github.com/tensorflow/tensorflow/files/1757273/libandroid_tensorflow

[2018-02-26 05:30] ed-alertedh commented on #13463
We just ran into this error and it turned out to be legitimately caused by a corrupted record in our tfrecord file. Just threw these functions together to help check for this in future, thought they may be useful to others: https://gist.github.com/ed-alertedh/9f49bfc6216585f520c7c7723d20d951

[2018-02-26 05:37] #16053 closed

[2018-02-26 05:51] SofaPotatos commented on #17191
@brainnoise Thanks for your help. The following code works for my case.
[code]

[2018-02-26 05:51] #17191 closed

[2018-02-26 05:54] liao-b commented on #12496
Still not working until Feb 28 2018 on Chrome:

Your connection is not private
Attackers might be trying to steal your information from www.tensorflow.org (for example, passwords, messages, or credit cards). Learn more
NET::ERR_CERT_DATE_INVALID
Subject: tensorflow.org

Issuer: Google Internet Authority G2

Expires on: Jun 29, 2017

Current date: Feb 25, 2018

[2018-02-26 06:33] Imorton-zd opened #17266 "'num' must be either a scalar or vector in tf.unstack?"
[code]

When training and test, I want to use the different batch size. But in `unstack` function, the `num` parameter doesn't support a tensor as input. However, in `zero_state` function, the first parameter can support a tensor as input. I think the new version should support this practical feature. Thanks!

[2018-02-26 06:40] baozi-lala opened #17267 "CMP0002 error when building TensorFlow cc unit tests"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-02-26 06:48] automateljw commented on #4114
@tobegit3hub  do you have resolved the problem?

[2018-02-26 07:02] meteorcloudy opened #17268 "CI: TensorFlow build is failing on Windows"
Before merging #16659, we should fix the TF build on Windows first.

Current failure:
[code]
Culprit is https://github.com/tensorflow/tensorflow/commit/671baf080238025da9698ea980cd9504005f727c
because `f.write('import %s\n' % _TF_BAZELRC)` writes backslash into bazelrc file without escaping.
I'll send a fix.
FYI, @gunan @martinwicke @case540

[2018-02-26 08:05] XuChunling commented on #17143
I have get answer at issue pull request #13242
https://github.com/tensorflow/tensorflow/pull/13242

so, I will try ffmpeg.decode_video when tensorflow1.6 release.

[2018-02-26 08:05] #17143 closed

[2018-02-26 08:13] jerryshao4u commented on #17255
Maybe you can check your CUDA is already installed, and with the correct version?

[2018-02-26 08:46] aReaSa commented on #13030
Did you found any solution for crash ?

[2018-02-26 09:10] frkhit opened #17269 "Can't load model file"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
   env from [google colab](https://colab.research.google.com/)
- **TensorFlow installed from (source or binary)**:
  env from [google colab](https://colab.research.google.com/)
- **TensorFlow version (use com

[2018-02-26 09:24] BKZero opened #17270 "same code, tensorflow/contribe/android works, but tensorflow/contribe/lite/java/src/main/native doesn't, with error: No implementation found"
tensorflow r1.4
ubuntu 14.04
armv7 platform
for short, the same code witch can be used in tensorflow/cotribe/android/jni, when move to tensorflow/contribe/lite/java/src/main/native, the java code cannot find the implementation.
use the command line:
bazel build -c opt --cxxopt='-std=c++11' //tensorflow/contrib/android:libtensorflow_inference.so    --crosstool_top=//external:android/crosstool    --

[2018-02-26 09:49] mohitkaushikj133 commented on #7814
I am getting this error while using

AttributeError: 'Model' object has no attribute 'D_logits_'

[2018-02-26 10:16] Mandrewoid commented on #10703
@adityaatluri  although this issue appears stale, I thought I'd let you know the https://github.com/ROCmSoftwarePlatform/tensorflow links are dead

[2018-02-26 11:02] lejafar commented on #16214
@bjenkinsgit @AIGyan I'm using Ubuntu 16.04 and I resolved the issue by downloading the package from http://developer.download.nvidia.com/compute/cuda/repos/ubuntu1604/x86_64/
[code]
This will also install `cuda-command-line-tools-9-0`

[2018-02-26 11:29] voegtlel opened #17272 "Using tf.estimator.Estimator with save_checkpoint_steps leads to Tensorboard warnings"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux 4.4.0-104-generic
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.4.0-rc1-11-g130a514 1.4.0
- **Python version**: 3.6.4
- **CUDA/cuDNN version*

[2018-02-26 11:46] victorcampos7 opened #17273 "Numerical error with tf.nn.conv2d, tf.nn.moments and tf.sqrt"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes (see code below)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: SUSE Linux Enterprise Server 12.2 (x86_64)
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.5.0 (git v1.5.0-0-g37aa430d84) & also pre

[2018-02-26 11:54] SanthoshMKunthe commented on #15401
I am getting TOCO_CONVERT ERROR. . .

    tflite_model=tf.contrib.lite.toco(sess.graph_def,[x],[mxc])

AttributeError: module 'tensorflow.contrib.lite.python.lite' has no attribute 'toco'

//=========================================
import tensorflow  as tf
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as lib

from tensorflow.python.tools import freeze_graph
from t

[2018-02-26 12:00] SanthoshMKunthe commented on #15401
Am geetting TOCO_CONVERT error. . .Kindlyhelp. . .

**AttributeError: module 'tensorflow.contrib.lite.python.lite' has no attribute 'toco_convert'**
_see last two  lines for error causing code_
//=================================
import tensorflow  as tf
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as lib

from tensorflow.python.tools import freeze_graph
from tens

[2018-02-26 12:03] SanthoshMKunthe commented on #16374
Am geetting TOCO_CONVERT error. . .Kindlyhelp. . .

**AttributeError: module 'tensorflow.contrib.lite.python.lite' has no attribute 'toco_convert'**
_see last two  lines for error causing code_
//=================================
import tensorflow  as tf
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as lib

from tensorflow.python.tools import freeze_graph
from tens

[2018-02-26 12:09] mmpinso commented on #6035
@DenisN03 yes, we did it with TF itself. FYI, in our project we do binary segmentation, so we replaced the softmax by sigmoid. Then:

`
            predictions = tf.cast(tf.round(probabilities), tf.int32, name='output')

            #=============PAINTED OUTPUT=============
            #Compute an inverse of the output mask
            predictions_inverse = tf.cast(tf.subtract(tf.ones([inputs_shap

[2018-02-26 12:23] frap129 commented on #17227
Unfortunately, that doesn't seem to be my issue. Unsetting them before retraining, as well as setting them to the correct values, doesn't change the outcome.

[2018-02-26 12:58] RomRoc commented on #16452
@bhack It's better to ask to Tensorflow team for forthcoming developments.

[2018-02-26 13:11] vinishg commented on #13030
yes, check this [link](https://github.com/tensorflow/tensorflow/issues/16752)

[2018-02-26 13:18] apacha commented on #6815
Just saying that `keepdims` - although being used in numpy - is just a really bad name and `keep_dimensions` or `keep_dims` (if you insist on non-obvious abbreviations) is much better readable (which I would give the highest priority in an API). I would rather keep the good name, and try to change numpy parameter.

[2018-02-26 13:38] lissyx opened #17274 "Unable to get FLOPs on model with tf.nn.bidirectional_dynamic_rnn"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian/Sid
- **TensorFlow installed from (source or binary)**: binary, tensorflow-gpu
- **TensorFlow version (use command below)**: 1.5.0
- **Python version**: 2.7
- **Bazel version (if compiling from source)

[2018-02-26 13:40] lissyx commented on #17274
Generate the model: `python make_rnn_test.py test_benchmark.pb`
Run the benchmark: `./bazel-bin/tensorflow/tools/benchmark/benchmark_model --graph=test_benchmark.pb.pb --input_layer="garbage_batch_x:0" --input_layer_type=float --input_layer_shape="1,1,492" --input_layer_values="0.0" --output_layer="garbage_outputs:0" --show_flops=true --max_num_runs=1000`

[2018-02-26 13:42] lissyx commented on #17274
[log run](https://github.com/tensorflow/tensorflow/files/1758801/test_benchmark.log)

[2018-02-26 13:43] lhlmgr commented on #11665
@ispirmustafa, @reedwm  sorry for commenting on a closed issue.
But I found maybe a use-case where its not possible to use `init_fn`.
Consider the following programm:

[code]

When training the model from scratch it would be possible to use `init_fn`, however, when restoring the model from checkpoint, I need the `local_init_op` to initialize the `iterator` with the placeholders and therefore a `fe

[2018-02-26 13:43] lissyx commented on #17274
[code]

[2018-02-26 13:44] lissyx commented on #17274
Switching to RNN cell does not help, removing the layer `tf.nn.bidirectional_dynamic_rnn` helps.

[2018-02-26 13:58] ljstrnadiii commented on #2245
@mrry any plans to add a feature to remove dropout in the tensorflow graph transform tool? I am running into the issue that nvidia's tensorrt does not support the op, which forces me to manually remove the nodes. Or is there an easy way to do that already with optimizing for deployment?

[2018-02-26 14:04] DenisN03 commented on #6035
@mmpinso, that is, you segment only two classes? How long does it take to process one image? what resolution do you use? you managed to find faster architectures?

[2018-02-26 14:31] hko-gh commented on #17164
@tensorflowbutler Thanks, I've updated the issue description

[2018-02-26 14:35] TomAshley303 commented on #15604
cuda 9.1 is the current version. I want TF to use it. How to?

[2018-02-26 14:40] TomAshley303 commented on #15604
Even tf-nightly-gpu is not looking for cuda 9.1. Meh

[2018-02-26 14:53] mmpinso commented on #6035
@DenisN03 , one class + background.
It took around 1.6 seconds with quantization on a Huawei P10 Lite with 200*200 images. With smaller images, quality was very bad.
We are currently trying [MobileUNet](https://github.com/akirasosa/mobile-semantic-segmentation). First results show 0.86 seconds without quantization and 224*224 images.
We would also like to try Mask RCNN at some point.

[2018-02-26 15:03] aforslow opened #17275 "Feature request: tf.gather with multidimensional axis"
As the title says, I would like to gather multiple dimensions in the tf.gather function. An example situation would be:

a = tf.random_normal([2,3,4])
b = tf.gather(a, [[0, 0], [1, 0]], axis=[1,2])
assert b[:, 0] == a[:, 0, 0]
assert b[:, 1] == a[:, 1, 0]

When a dimension in axis is not listed, the function will gather all the entries in that dimension, as shown above. Is this possible?

[2018-02-26 15:05] TomAshley303 commented on #15604
I tried symbolic links from all the 9.0 filenames to all the 9.1 filenames and it didn't work. In the end, TF knows the true version.

[2018-02-26 15:09] voegtlel commented on #14283
We have the same issue: As we have a large dataset which trains several hours per epoch, but we wish to evaluate in between epochs. Unfortunately there is no resource sharing for local sessions, so iterators cannot be shared between sessions.

So these are the possibilities I see:
- As far as I understand, dataset.skip() always skips the first lines, thus it is not usable for this case. Also the g

[2018-02-26 15:10] saeed68gm commented on #6035
@nio1814 I have a couple of items on my hand, but I am down to maybe create a pull request for this some time soon. I would appreciate your feedback on the code as well.

@mmpinso @DenisN03 Mobilenet v2 seems very promising for this task as well. The results published are really good and it's even faster than mobilenet v1. But I have yet to get my hands on the pretrained waits (it was published Ja

[2018-02-26 15:12] Randl commented on #16862
The problem is that one of two mirrors for nasm is dead, and the second one is sort some reason problematic. Workaround would be to add one more mirror:
[code]
in https://github.com/tensorflow/tensorflow/blob/aed54c857802cc191293e0c4df8bbc9a0a15dca9/tensorflow/workspace.bzl#L216

[2018-02-26 15:15] TomAshley303 commented on #15604
I fix him for now by:

Download deb (network) from: https://developer.nvidia.com/cuda-90-download-archive?target_os=Linux&target_arch=x86_64&target_distro=Ubuntu&target_version=1604&target_type=debnetwork

Then: `dpkg -i cuda-repo-ubuntu1604_9.0.176-1_amd64.deb`

Then: aptitude update

Then: aptitude install cuda-9-0

[2018-02-26 15:22] fgallaire commented on #16862
AND not adding the new mirror in the first place... bazel is a mess

[2018-02-26 15:29] vigchand2705 commented on #10703
@Mandrewoid I am guessing this is the new link https://github.com/ROCmSoftwarePlatform/hiptensorflow

[2018-02-26 15:35] Euphemiasama commented on #12388
I encountered the same problem.
For me a simple reboot of the system did the trick, my tensorflow is running on GPU
`reboot`

[2018-02-26 16:33] mrry commented on #2245
@ljstrnadiii I'm not sure what the plans are for the graph transform tool, but @petewarden would know. It might be worth creating a new issue with this high-level feature request.

[2018-02-26 16:34] SIAAAAAA commented on #6698
face same problem. tf1.5 py2.7 titan x cuda8.
`config.gpu_options.allow_growth = True `
not work

[2018-02-26 16:41] imsheridan commented on #11440
Added a PR #17276 for the fix.

[2018-02-26 17:31] achalshah20 commented on #17232
I can surely take a look to make it work in linux environment. In so many of my projects I have to use cmake so I will fix and send PR. Other contributors are also welcome for speedup.

[2018-02-26 17:41] yaroslavvb commented on #17204
To summarize, getting numpy array onto GPU memory is about 4x faster in PyTorch than in TensorFlow
[code]

[2018-02-26 17:42] developer-mayuan commented on #15773
@GHAIGIT @ispirmustafa is correct. Here is my implementation:

[code]

[2018-02-26 17:47] mariombaltazar commented on #12990
Hi @dilipbobby,
Did you find anything with content based?
thanks

[2018-02-26 18:07] alextp commented on #17233
@yaroslavvb this is the test we apply https://github.com/tensorflow/tensorflow/blob/26ae3287a12c71fccaec9ea74f55b6a51a3d33c6/tensorflow/c/c_api.cc#L197 and it hasn't changed recently so I don't know what's going on. The call site to this is in https://github.com/tensorflow/tensorflow/blob/26ae3287a12c71fccaec9ea74f55b6a51a3d33c6/tensorflow/c/c_api.cc#L197 and that hasn't changed recently either.

[2018-02-26 18:08] dacox commented on #17159
@vihanjain @ispirmustafa I tried using CPU only on my work desktop(same machine as initial report) and do not see any appreciable difference between runs - it appears it only affects the GPU.
For the record, each mini-batch on CPU takes `~ 3.5 s`

[2018-02-26 18:15] yaroslavvb commented on #17233
@alextp I think what's going on is that `EIGEN_MAX_ALIGN_BYTES` has changed recently in `tf-nightly` due to switching to AVX build

[2018-02-26 18:20] spiderwisp commented on #8037
These are not merely warnings as it kills the process on my test boxes. Since I also use AMD GPUs I spun up a Digital Ocean tensorflow box to give this a go, but it seems there is no GPU support there either, and it's failing miserably.

`# Job id 0
# Loading hparams from /home/science/tf-demo/models/nmt-chatbot/model/hparams
  saving hparams to /home/science/tf-demo/models/nmt-chatbot/model/hpara

[2018-02-26 18:29] maxim5 commented on #10767
Current implementation looks really dangerous. A real case from StackOverflow: [Mysterious ReLu](https://stackoverflow.com/q/48993004/712995)

[2018-02-26 18:37] notsmartenough commented on #1749
Exactly, this is not about one question or doubt or a blog post. Tensorflow, in general, has very vague documentation. It seems totally confusing for beginners like me. For eg. https://www.tensorflow.org/api_docs/python/tf/train/Features

[2018-02-26 18:55] martinwicke commented on #10767
I would love a PR to fix this. @nolanliou valiantly tried. A backwards compatible version as described above should not be terribly hard to do.

[2018-02-26 18:56] frap129 commented on #12250
Anyone solve this issue?

[2018-02-26 19:05] #17260 closed

[2018-02-26 19:07] asimshankar commented on #17220
@tatatodd in case he has any thoughts on what typically works for visualizing HLO graphs.

[2018-02-26 19:17] anton-matosov commented on #10685
Hi everyone,
I am yet another MacBook Pro owner struggling to gain a bit more performance.
Fortunately I had some degree of success with MKL, but only in docker instances so far.
It gives about 3.5x of performance gain compared to `native` build (tested with resnet50 benchmark)

---

## Test Hardware:
[code]

## Docker image with MKL
`antonmatosov/tensorflow:latest-devel-cpu-mkl-py3`

-----
## Her

[2018-02-26 19:22] angersson commented on #17238
@mrry Any thoughts?

[2018-02-26 19:25] angersson commented on #17056
@mrry Is the underlying issue a dupe of #12659?

[2018-02-26 19:28] angersson commented on #17274
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-26 19:29] anton-matosov commented on #10685
I have also managed to build Tensorflow with MKL on Darwin natively (steps below), but crashes at runtime during the benchmark, even tho it works for simple tests.

Here is the runtime error I get
[code]
Sometimes it is dealloc of already freed pointer. Not sure if it is MKL itself, or something is getting messed up in TF with such a setup.
I am going to spend next couple days trying to tough it o

[2018-02-26 19:31] #17195 closed

[2018-02-26 19:32] vade commented on #10685
@anton-matosov - those NANs in the faster docker build look vv suspicious - have you verified accuracy ?

[2018-02-26 19:35] martinwicke commented on #13336
@dieka13 when do you encounter that error? When you run export_savedmodel? Or when you load it into tensorflow/serving?

[2018-02-26 19:41] jalajthanaki commented on #255
I had same issue but I have resolved it by restarting my computer

[2018-02-26 19:41] angersson commented on #17248
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-26 19:41] #17248 closed

[2018-02-26 19:41] angersson commented on #17250
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-26 19:41] #17250 closed

[2018-02-26 19:42] yongtang commented on #13844
@smurching As @jkinkead mentioned, adjusting `S3_REQUEST_TIMEOUT_MSEC` could help addressing the timeout issue when the graph is too large. I will close this issue for now, but feel free to reopen and continue the discussion if the issue persists.

[2018-02-26 19:42] #13844 closed

[2018-02-26 19:42] angersson commented on #17252
@petewarden Is there a bug on our end here?

[2018-02-26 19:46] angersson commented on #17270
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2018-02-26 19:46] #17270 closed

[2018-02-26 19:51] angersson commented on #17272
I don't think there's enough information here to identify a TF bug. Consider asking another question on Stack Overflow with the `tensorboard` tag.

[2018-02-26 19:51] #17272 closed

[2018-02-26 19:52] angersson commented on #17216
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-26 19:52] #17216 closed

[2018-02-26 19:52] angersson commented on #17242
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-26 19:52] #17242 closed

[2018-02-26 19:54] angersson commented on #17246
@mrry Any clue what's going on here?

[2018-02-26 19:55] angersson commented on #17188
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-26 19:55] #17188 closed

[2018-02-26 19:55] angersson commented on #17128
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-26 19:55] #17128 closed

[2018-02-26 20:21] yzhwang commented on #9471
@drpngx Do you know who would be a better one to handle this issue on tf.image.decode_image()?

[2018-02-26 20:22] mrry commented on #17056
It sounds like it. Closing as a duplicate of #12659.

[2018-02-26 20:24] lissyx commented on #17274
@angersson I'm not asking now how to use `benchmark_model`, I'm reporting that a model with a `tf.nn.bidirectional_dynamic_rnn` is actually breaking (at least some) features of `benchmark_model`.

[2018-02-26 20:31] mrry commented on #17246
Presumably it's copying when it doesn't (?) need to. @alextp added the optimizations for the fetch path, so might know what could be going on here.

[2018-02-26 20:36] alextp commented on #17246
Does the problem also happen with resource variables? (tfe.Variable or tf.get_variable(..., use_resource=True)

[2018-02-26 20:44] anton-matosov commented on #10685
That's not faster, that's slower one (bigger is better, it's images/sec).
And I have not noticed that, and don't even know what this benchmark output actually means.
But I have used this build to train and run some experiments with OpenAI Gym and it worked without problems.

[2018-02-26 20:48] LinghaoYu commented on #15751
I have the same issue also.

[2018-02-26 20:57] vade commented on #10685
@anton-matosov I guess my point is, its not a benchmark if the data is garbage haha :) Thanks for documenting the MLK build on Darwin though, thats awesome

[2018-02-26 21:07] ljstrnadiii commented on #2245
Thanks @mrry .

[2018-02-26 21:15] rightaditya opened #17284 "tensor-valued seeds in tf.data API can result in nondeterministic results"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 17.10
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: v1.5.0-11-g4588350f20 1.5.0
- **Python version**: 3.6.3
- **Bazel version (if compil

[2018-02-26 22:10] yaroslavvb commented on #17246
Yes, same speed is with resource variables. BTW, I can get the same fast speed if I turn off all optimizers and fetch `var+0`

[tf_numpy_benchmark.py](https://github.com/diux-dev/cluster/blob/37d069c20fae6aeac10a53e3f801d29aebc5d6b4/yuxin_numpy/tf_numpy_benchmark.py)

[code]

I suspect that fetching variable triggers a single threaded memcpy. Meanwhile fetching "var+0" uses multiple cores, so it's

[2018-02-26 22:21] angersson commented on #17274
@ebrevdo, can you comment on this?

[2018-02-26 22:24] ebrevdo commented on #17274
@petewarden do you have experience with dynamic rnn and benchmark_model?

[2018-02-26 22:58] alextp commented on #17246
The code which fetches tensors is https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/lib/core/ndarray_tensor.cc#L331 which calls https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/c_api.cc#L227 which triggers a copy if the refcount is not 1 (and it's never 1 for variables). It does the copy with normal memcpy.

I remember people caring passionately about us not s

[2018-02-26 23:12] angersson commented on #17284
@mrry Can you look at this?

[2018-02-26 23:20] girving commented on #17056
@mrry A dupe means that fixing #12659 will necessarily fix this one, which isn't obvious to me.  Similar causes doesn't mean duplicate.

[2018-02-26 23:26] anton-matosov commented on #10685
@vade makes sense. I will rerun those tests with couple other builds on mac.

[2018-02-26 23:34] mrry commented on #17284
I'm a bit confused by the code example. Why would you expect the shuffled order to be the same when you feed two *different* values for `seed_tensor`?

It might make sense to rewrite the seed, as `tf.get_seed()` does, when the runtime value is 0. Is that what you're suggesting?

[2018-02-26 23:36] mrry commented on #17056
Assigning to @benoitsteiner, since he's got #12569, and is best placed to figure out if there is a common solution.

[2018-02-26 23:57] CarltonSemple commented on #17268
By the way, is this related to https://github.com/tensorflow/tensorflow/issues/16138 ? Or are you referring to a build with VS 2015?

[2018-02-27 00:24] rightaditya commented on #17284
@mrry Ugh, sorry, that's my mistake. Both fed values should be 0. I copied-and-pasted the code I was using to test it and had changed one of them but not the other. I've edited the original code to reflect my intention.

Yes, exactly. the `tf.get_seed()` check is insufficient if tensor-valued seeds are allowed, as it only does an identity check against `0`.

[2018-02-27 00:38] yaroslavvb commented on #17204
TensorFlow H2D becomes much faster if I enable tcmalloc.
[code]

Theory -- something in TensorFlow is sensitive to memory properties (posix_memalign flags?), and triggers an additional CPU memory copy before calling cudaMemCopyAsync. Hard to check because enabling cpu profiler also makes the slowness disappear, classical heisenbug

[2018-02-27 00:42] MCCCSunny commented on #8432
It is a normal problem?

[2018-02-27 00:53] drpngx commented on #9471
@ruiann could you run the heap profiler to see the call graph of the allocations?

[2018-02-27 00:58] yaroslavvb commented on #17246
Yes, faster memcpy would also resolve https://github.com/tensorflow/tensorflow/issues/17233 , until there are better tools to create 64-byte aligned numpy arrays.

(PS: I wonder if this alignment requirement is moot in a first place. In PyTorch, I can inititialize tensors from unaligned numpy arrays, with memory reuse, and add them at 20 GB/second on CPU, there's no benefit in starting with aligne

[2018-02-27 01:07] anton-matosov commented on #10685
Good news. I have managed to localize the issue (haven't fix yet) and MLK build now runs natively on my Mac!!!
The issue is in the tensorflow lite, which I don't use at the moment. So I commented out it's import from contrib's __init__ `# from tensorflow.contrib.lite.python import lite` and I got max performance of my i7 CPU
![image](https://user-images.githubusercontent.com/3339485/36704859-2611d

[2018-02-27 01:26] mixuala commented on #5987
@liavassif

sess.run(is_training.assign(True))
and at the validation:
sess.run(is_training.assign(False))

this seems like an interesting approach. can you give a more complete example? I'm not sure how to use `feed_dict` to feed the different train/val inputs into the same model and reuse weights

[2018-02-27 01:36] anton-matosov commented on #10685
Narrowed it down even deeper.
Crash happens while loading `_tensorflow_wrap_toco.so` in
`tensorflow/contrib/lite/toco/python/tensorflow_wrap_toco.py` line:
`_mod = imp.load_module('_tensorflow_wrap_toco', fp, pathname, description)`

[2018-02-27 01:39] meteorcloudy commented on #17268
Sorry for the confusion, I meant the build on TF CI.
See http://ci.tensorflow.org/job/tf-master-win-bzl/2577/

[2018-02-27 01:45] mrry commented on #17284
OK, that does seem like a bug, and the fix isn't too difficult. The gist is to set `seed = tf.where(seed == 0, tf.constant(2 ** 31 - 1, dtype=tf.int64), seed)` when `seed` is a `tf.Tensor`.

Watch this space for a fix in the next few days.

[2018-02-27 01:59] freedomtan commented on #17241
I have a patch for this issue, see https://github.com/tensorflow/tensorflow/pull/17094

[2018-02-27 02:01] llyyun commented on #16624
I tried again with the latest code on 2018.2.23, sometimes panic still exists, sometimes not panic but the result is incorrect.

<img width="1430" alt="2018-02-26 6 19 56" src="https://user-images.githubusercontent.com/33706846/36705329-929b10d6-1b9f-11e8-9321-3a600e049b03.png">

[2018-02-27 02:01] freedomtan commented on #17237
I have a patch for this, see https://github.com/tensorflow/tensorflow/pull/15127

[2018-02-27 02:17] BKZero opened #17285 "tensorflow lite so cannot add opencv dependence, cause "library not found" error"
Version info:
tensorflow r1.4
ubuntu 14.04
armv7 platform
android 5.1.1
ndk version: r14
android studio 2.3.1
when compile tensorflow lite so, if i add the opencv dependence like:
deps = [
        "//tensorflow/contrib/lite:context",
        "//tensorflow/contrib/lite:framework",
        "//tensorflow/contrib/lite:schema_fbs_version",
        "//tensorflow/contrib/lite/kernels:builtin_ops",

[2018-02-27 02:21] dieka13 commented on #13336
@martinwicke when I load it into tensorflow serving.
no problem when running export_savedmodel now.

I also run into another similar device assignment issue in #17149

[2018-02-27 02:27] BKZero commented on #17285
the java code:
static {
        try {
            System.loadLibrary("tensorflow_inference");
        } catch (UnsatisfiedLinkError e) {
            android.util.Log.d("PeopleDet", "library not found!");
        }
    }

[2018-02-27 02:36] umangsa commented on #14753
Has this been resolved? It would be very helpful if you could please publish steps or advice

[2018-02-27 02:56] martinwicke commented on #13336
Then I believe this is best filed as an issue to tensorflow/serving.
@nfiedel FYI.

[2018-02-27 02:57] anton-matosov commented on #10685
Following crash trace in LLDB it looks like it is crashing in OpDef::~OpDef() from instance created in
tensorflow/core/ops/function_ops.cc:22
[code]

[code]
    0x119b93d44 <+52>:  callq  0x119c8c010               ; tensorflow::OpDefBuilder::OpDefBuilder(tensorflow::StringPiece)
    0x119b93d49 <+57>:  leaq   0x857142(%rip), %rsi      ; "output: T"
    0x119b93d50 <+64>:  movl   $0x9, %edx
    0x1

[2018-02-27 03:32] anton-matosov commented on #10685
I have found bunch of other issues that have same crash with protobuf's SharedDtor
here https://github.com/tensorflow/fold/issues/37
here https://github.com/tensorflow/deepmath/issues/13
and here https://github.com/tensorflow/tensorflow/issues/12389
has a comment:
https://github.com/tensorflow/tensorflow/issues/12389#issuecomment-323539751

I will experiment with different builds of protobuf to fi

[2018-02-27 04:43] ericyue commented on #17256
maybe the internet is blocked.  you can download it by chrome via a proxy. and extract zip files to the right path.

[2018-02-27 05:00] anton-matosov commented on #10685
Ok. Got rid of the memory issue. It was really caused by the protobuf build (manually built from source....)
The stock one from `conda` worked fine (after fixing issue with conda's cache).
But there is a new crash now, again caused by the Toco

[code]

Steps to reproduce:
`python -c "from tensorflow.contrib.lite.toco.python.tensorflow_wrap_toco import TocoConvert as _toco_convert_protos"`

[2018-02-27 05:13] mrry commented on #17238
Are you asking about building from source using Visual Studio 2017, or doing something else? If you are just starting to learn, I'd recommend using one of the recipes on the [installation page](https://www.tensorflow.org/install/install_windows), using PIP to install a pre-built binary.

Unfortunately we have limited resources dedicated to maintaining the Windows build, and cannot test it in every

[2018-02-27 05:15] mrry commented on #10837
We're currently mulling over a design for this feature. It seems feasible to extend the `feed_dict` mechanism so that it would be possible to feed a placeholder based on the output of another operation, but it will require some care to ensure that the resulting graph is valid.

[2018-02-27 05:25] mjadczak commented on #17046
Please let me know if this is the wrong place, but I'm also trying to compile TF on macOS and having trouble with changing the compiler (trying to use MKL, but also just to compile with openMP and native arch extensions). Setting CC and CXX doesn't work, because the CROSSTOOL in the project is configured to use `xcrun` which uses the system clang with no openMP support. I can only see the CROSSTOO

[2018-02-27 05:28] suharshs commented on #15701
We have published new models here: https://github.com/tensorflow/models/blob/master/research/slim/nets/mobilenet_v1.md

I have pushed changes to the retrain script to support these, once the next sync happens.

Commands like
[code]
should work for all depth multipliers and image sizes.

Please create a new issue if things don't work once github pulls in the changes to retrain.py

[2018-02-27 05:28] #15701 closed

[2018-02-27 05:28] suharshs commented on #15009
I have pushed changes to the retrain.py script to support these, once the next sync happens.

Commands like
[code]
should work for all depth multipliers and image sizes.

Please create a new issue if things don't work once github pulls in the changes to retrain.py

[2018-02-27 05:31] suharshs commented on #4821
Hi, the quantized training rewrites are documented and available here:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/quantize

Note, they will not work on all models, though we are working on improving how well they generalize.

You can convert these Fake quantized models to fully quantized mobile models via TensorFlow Lite.
https://www.tensorflow.org/mobile/tflite/

[2018-02-27 05:31] #4821 closed

[2018-02-27 05:44] hnamzian opened #17287 "text manipulation in tensorflow"
Hi,
I want to make my text files in lower case. I tried following code:

[code]

and unfortunately I got error:

slice index 1 of dimension 0 out of bounds.
	 [[Node: strided_slice_1 = StridedSlice[Index=DT_INT32, T=DT_STRING, begin_mask=0, ellipsis_mask=0, end_mask=0, new_axis_mask=0, shrink_axis_mask=1](StringSplit:1, strided_slice_1/stack, strided_slice_1/stack_1, strided_slice_1/stack_2)]]
	 [

[2018-02-27 05:49] suharshs commented on #16803
cc @petewarden

transform_graph has had some hard to debug issue for various models in the past. From your error, it seems that some transformation is screwing up shape information in the graph, but i am really not sure.

We have focused our 8-bit quantization efforts for mobile models on TensorFlow Lite : https://www.tensorflow.org/mobile/tflite/. Currently TFLite quantizations requires quantizin

[2018-02-27 05:54] #17255 closed

[2018-02-27 05:58] anton-matosov commented on #10685
I have compared _tensorflow_wrap_toco.so on linux and mac and found 1 major difference that I suspect causes all these trouble.
On linux it depends on Shared library `libtensorflow_framework.so`
[code]

While on mac it has TF linked in statically (no libtensorflow_framework.so here and libmklml is linked to it directly):
[code]

I am trying to put my head around `tf_py_wrap_cc` and all the deps in

[2018-02-27 06:05] suharshs commented on #16483
@rajendraarora16 Sorry for the delay, but I am unable to reproduce this :(

This may be a GPU issue, but without a repro case I am unable to debug. Did you have any luck digging into this?

What machine, TF version, and operating system are you using?

[2018-02-27 06:08] Lancerchiang opened #17288 "OutOfRangeError (see above for traceback): box_index has values outside [0, batch_size)"
[code]
My issue is very similar to this one here: [issue #10618](https://github.com/tensorflow/tensorflow/issues/10618)
I have been doing a multi-GPU session and I get some weird behavior from Tensorflow.
My script only can finish its run in 1 out of 6 attempts, and in each finished execution, the result is slightly different from the single-GPU execution mode (unrepeatable error). If the executio

[2018-02-27 06:09] SaqibS opened #17289 "TFLite 'Minimum' Operator"
I have a fine-tuned MobileNet model, in frozen graph format. I ran Toco to create a TFLite model, but got the following error:

```Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If you have a custom implementation for them you can disable this error with --allow_custom_ops. Here is a list of operators for which you will need custom implementations: Te

[2018-02-27 06:19] suharshs commented on #11670
We have focused our 8 bit fixed point efforts on TensorFlow Lite (https://www.tensorflow.org/mobile/tflite/). This means the quantized kernels are implemented as TFLite kernels. The current flow is to train "fake" quantized models (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/quantize) and then convert them to TFLite models with TOCO, the TFLite converter (https://github

[2018-02-27 06:19] #11670 closed

[2018-02-27 06:23] taylorkm commented on #15087
Any links to where this question ended up on SO??? Yes, please google it for me, I couldn’t find the goods

[2018-02-27 06:24] yucheeling commented on #14731
@dominic1031

[2018-02-27 06:24] yucheeling commented on #14731
@yucheeling

[2018-02-27 06:25] ChiFang commented on #15002
I use pip install to install tensorflow 1.5 and follow @Queequeg92  to remove -DGOOGLE_CUDA=1
and compiling of cuda OP work fine. But when I load the .so in my python code to use the op, it shows following error:

    tf.resource_loader.get_path_to_datafile("./ops/build/flow_warp.so"))
  File "/usr/local/lib/python3.5/dist-packages/tensorflow/python/framework/load_library.py", line 56, in load_op_

[2018-02-27 06:25] yucheeling commented on #15633
@yucheeling

[2018-02-27 06:27] suharshs commented on #10012
Closing this due to inactivity, please reopen if there is still something pending on this issue.

[2018-02-27 06:27] #10012 closed

[2018-02-27 06:55] acinwinstack commented on #8879
I'm on Windows10 and encountered this issue. Running "C:\Program Files\NVIDIA Corporation\NVSMI\nvidia-smi.exe" doesn't solve it for me... There isn't a .nv file/directory under home directory to delete either.

Has anyone solved this for Windows Environments?

[2018-02-27 06:57] yanwii commented on #16969
Platform:Ubuntu 16.04
Tensorflow-cpu:1.4, install from pip

---
Our project used `tornado` as service

Model like this:
`
Class Model:
    def __init__(self):
        ....
        self.create_model()  # create placeholder, graph, etc.
        self.resotre_model() # resotre model from cpkt

    def create_model():
        self.graph = tf.Graph()
        with self.graph.as_default():
            ...

[2018-02-27 07:40] amirhessam opened #17290 "Windows Compile Issue: absl is not a class or namespace name"
Hi,
I am trying to compile tensorflow from source in windows using bazel 0.11.0 and vc14, and I am getting the following error:
`~\igwos0gz\execroot\org_tensorflow\tensorflow\core\platform\windows\port.cc(153): error C2653: 'absl': is not a class or namespace name
`
Have I written custom code? no
OS Platform and Distribution? windows 10 - x64
TensorFlow installed from? git repo
TensorFlow version?

[2018-02-27 08:27] fword commented on #11598
hi，@zhedongzheng

你的意思是在tensorflow 1.2.1以及更高的版本中，
initial_state = tf.contrib.seq2seq.tile_batch(encoder_state, multiplier=10)
和
initial_state = tf.nn.rnn_cell.LSTMStateTuple(
        tf.contrib.seq2seq.tile_batch(encoder_state[0], multiplier=10),
        tf.contrib.seq2seq.tile_batch(encoder_state[1], multiplier=10)),,
是一个效果了吗？

[2018-02-27 08:37] zhedongzheng commented on #11598
@fword 是的，因为tf在1.2.1以后，会自动识别出LSTMStateTuple并组装，不需要自己手动解决了

yes, after TF 1.2.1, The LSTM state tuple will be automatically correctly handled by tile_batch()

[2018-02-27 08:38] hemrajgithub commented on #9722
Thanks @yifeif

[2018-02-27 08:40] kmonachopoulos commented on #16803
Hi @suharshs,

Thanks for the information. I am currently not interested on gaining back the quatnization error through re-training but only to manage to inference through the quantized graph. The model is a style transfer model and I want to quantize both weights and activations as I am showing above.

[2018-02-27 08:59] fastlater opened #17291 "Screen goes black - CUDA_ERROR_UNKNOWN on TensorFlow-GPU 1.5"
**Machine specs:**
Operating System: Windows 7 64 bits
TensorFlow version: 1.5.0
Python version: 3.6 (Anaconda)
CUDA/cuDNN version: CUDA 9.0, cudNN 7.0.5
GPU model and memory: Quadro K2000 2GB
Note: GPU is also driving the display.

While testing, my demo runs well until the screen goes black for a short instant of time and it crashes with the following error message:

[code]

I tried for several

[2018-02-27 09:02] anton-matosov commented on #10685
Yay! I finally figured it out with shared libraries.
For some reason on Mac I always get by `.tf_configure.bazelrc` truncated and it looses last 10 lines including `build --define framework_shared_object=true` which should **unconditionally** be there.

However it's not the end of the story. There is a ton of linker warnings getting generated during the build and it look like final shared library

[2018-02-27 09:04] anton-matosov commented on #10685
I am not sure if I am going to keep digging this rabbit hole for too long.
I might stick to build with commented out `lite.toco` or just use it from Docker, as performance overhead is barely noticeable.

[2018-02-27 09:06] fword commented on #11598
谢谢
thanks

[2018-02-27 09:13] BKZero opened #17292 "Feature request: add operators support in tflite : ExpandDims, Prod, Slice"
i have my own network trained, and when i want to convert it to tflite mode, the toco gives my the error:
2018-02-27 16:57:12.122124: I tensorflow/contrib/lite/toco/allocate_transient_arrays.cc:313] Total transient array allocated size: 103680 bytes, theoretical optimal value: 103680 bytes.
2018-02-27 16:57:12.122280: F tensorflow/contrib/lite/toco/tflite/export.cc:303] Some of the operators in th

[2018-02-27 09:28] BKZero commented on #12132
sorry i am late. i found a intrest phenomenon, if i use mobilenet on PC, it is really slow, but on android platform, it is fast. i do not know why, but it is real.

[2018-02-27 10:20] carlthome commented on #17097
Having read up more, complex weight initialization is actually more subtle than I hoped, and somewhat uncharted territory, so if it were to be merged into TensorFlow it probably fits better into contrib somewhere at the moment.

Just doing the real and imaginary part separately like I proposed above might be too naive because in terms of polar coordinates we probably only want normal distributed m

[2018-02-27 10:20] carlthome commented on #17097
Ping @ChihebTrabelsi for input. 😃

[2018-02-27 10:33] DavidBrayford opened #17293 "Bazel Build fails after updating"
After updating my local copy of TensorFlow from the github repository the Bazel build failed with the following error (see below). However, the same command successfully built version 1.5 of TensorFlow.

OS: SLES12
Python version: 3.6
Bazel version: Build label: 0.7.0- (@non-git)
gcc version 7.2.0 (GCC)
No GPU
No CUDA

build command:
bazel build --config=mkl --copt="-DEIGEN_USE_VML" -s -c opt //te

[2018-02-27 10:39] amxineohp commented on #17259
My fault. I just found the prefetch queue is created when restore the model and the capacity is hardcoded.
Thanks.

[2018-02-27 10:39] #17259 closed

[2018-02-27 11:08] Davidrjx opened #17294 "FileWriter instance can not invoke close normally"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
4.9.0-4-amd64 #1 SMP Debian 4.9.65-3+deb9u1 (2017-12-23) x86_64 GNU/Linux
- **TensorFlow installed from (source or binary)**:
via pip3 for python3.5.3
- **TensorFlow version (use command below)**:
v1.5.0-0-g3

[2018-02-27 12:08] imvinaypatil opened #17296 "retraining on gpu causing high clone loss"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Linux 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.5.0
- **Python version**: 3.6.3
- **Bazel version (if compiling from source)**:  0.9
- **G

[2018-02-27 12:26] dee6600 commented on #526
changing compute mode didn't solve the problem, i am getting the same error, my cards are two tesla k80 's

[2018-02-27 12:32] RDaneelOlivav commented on #17208
How did you fix this issue? I'm getting the exact same one

[2018-02-27 12:37] zhengzhiyuan commented on #14580
I have exactly the same problem. Still no response yet.

[2018-02-27 12:41] freedomtan commented on #17046
if Xcode is installed, you need BAZEL_USE_CPP_ONLY_TOOLCHAIN=1, see this [stackoverflow entry](https://stackoverflow.com/questions/47624689/how-to-set-c-compiler-on-os-x-with-bazel)

[2018-02-27 12:56] zeshaoaaa commented on #17208
@RDaneelOlivav I just clone the 'r1.5' branch of the 'models' repository and uninstall 'tensorflow-gpu' and install tensorflow 1.5, after that, the problem is disappeared. Seems it come from the 'gpu' version of tensorflow. I don't know, if my response doesn't solve your problem, I suggest you can open a new issue for that.

[2018-02-27 13:00] JoyChopra1298 commented on #8709
What is the solution to this problem? I am running it on a CentOS 6 cluster and gcc 4.8.2 is installed on cluster and using bazel 0.4.5

[2018-02-27 13:06] izaid opened #17297 "Expectations of MonitoredTrainingSession for saving and restoring (fixes inside)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

No, anything discussed here is valid with the cifar10 model script -- https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_train.p

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Ubuntu 16.04, but should be platform independent

[2018-02-27 13:06] xiezhongzhao commented on #15604
First I've installed tensorflow 1.5, it broke, and I get the following error:
`ImportError: libcublas.so.9.0: cannot open shared object file: No such file or directory`
then I uninstalled,  installed 1.4 with pip install --upgrade tensorflow-gpu==1.4, it did't work,  and I get the following error:
`ImportError: libcublas.so.8.0: cannot open shared object file: No such file or directory`

[2018-02-27 13:18] wileeam commented on #17002
@cy89 Could you point to the revision of the merge process where the update you referred has happened on the r1.6 branch? I don't manage to find it (or maybe it hasn't happened yet?).

[2018-02-27 13:42] sdrelton commented on #9210
@kojino I just found this page because I wanted to do a sparse-dense tensordot operation. If you're willing the implement it (even as a custom Op) I would certainly much appreciate it! I'm sure we can't be the only two who would be interested in this! Cheers

[2018-02-27 14:00] mkaze commented on #15604
@xiezhongzhao What version of Cuda are you using? For tensorflow 1.5 you must have installed the Cuda 9.0 and for tensorflow 1.4 you must use cuda 8.0. If the the tensorflow version and cuda version are compatible, then check the environment variables i.e. `CUDA_HOME `and `LD_LIBRARY_PATH`.

[2018-02-27 14:09] xiezhongzhao commented on #15604
@mkaze I used Cuda9.1

[2018-02-27 14:24] mkaze commented on #15604
@xiezhongzhao Install Cuda 9.0 and you should be fine.

[2018-02-27 14:45] elwlxj opened #17300 "Why Run a short TensorFlow program，print b'Hello,TensorFlow'"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-02-27 14:46] elwlxj commented on #17300
Instead of Hello, TensorFlow

[2018-02-27 14:46] esc opened #17301 "Tensorflow 1.5.0 manylinux binary requires Numpy 1.14.1"
On Travis-CI using Python 3.6 Numpy 1.13.2 is installed. Trying to use the `tensorflow` manylinux binary from PyPi will result in:

[code]

A log from a broken build is here:

https://travis-ci.org/TwentyBN/ionn/jobs/344881411

Fixing the `.travis.yml` like so:

https://github.com/TwentyBN/ionn/commit/24ced51bb26d78aa5fed265ed9196f47da4d7d6d

Produces a green build like here:

https://travis-ci.or

[2018-02-27 14:49] AngryPowman commented on #14186
The same issue, any patches with it?

[2018-02-27 15:02] jqcorreia commented on #17208
Hey there,

Remove `dct_method=dct_method` in `object_detection/data_decoders/tf_example_decoder.py` around line 109. This fixed it for me.

Using TensorFlow 1.5 and `4c0541482` of `tensorflow/models` without a problem

[2018-02-27 15:22] ccolby commented on #17002
It's not in r1.6, but it has been merged into the master. The content is essentially what is in this thread (a documented example). Essentially no change to the code.

[2018-02-27 16:21] avigyan1009 commented on #17002
@ccolby @cy89 While training tf.contrib.factorization.kmeanclustering in r1.5 on 3 node cluster using cpu throwing error 'UTF-8' not encode, i had provided data in input function as df.asmatrix.

[2018-02-27 17:05] nfiedel commented on #13336
This is key the key log message: "Could not satisfy explicit device specification '/device:GPU:0' because no supported kernel for GPU devices is available". The binary you are trying to run most likely does not link in the GPU kernels. The supported build targets (tensorflow_model_server model_servers/BUILD) and pre-built binaries (installable via apt-get) currently support CPU with and without AV

[2018-02-27 17:11] karthikbeepi opened #17302 "Failed to load the native TensorFlow runtime"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**:
- **Python version**: tensorflow_gpu-1.5
- **GCC/Compiler version (if compiling from sou

[2018-02-27 17:17] steowens opened #17303 "%matplotlib inline invalid syntax for Python 2.7, Python3.5, Python3.6 and IronPython 6.2.1"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-02-27 17:35] JGSweets commented on #7648
Similar issue, tf-gpu detects properly with python 3 while python 2 tf-gpu doesn't detect GPUS.

This seems to be localized to python 2 versions of TF-GPU

[2018-02-27 17:52] themightyoarfish commented on #16214
@lejafar I had installed Cuda 9.0 from Nvidia + cudnn 7 and when I tried your suggestion...
[code]

[2018-02-27 18:01] shoyer commented on #17303
This is invalid Python code, but it's valid in an IPython notebook (which is what that file is). You can safely drop it from that example, which doesn't actually use matplotlib to make plots.

[2018-02-27 18:11] #17045 closed

[2018-02-27 18:29] angersson commented on #17292
@aselle are these ops on the roadmap?

[2018-02-27 18:29] angersson commented on #17294
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-27 18:29] #17294 closed

[2018-02-27 18:30] angersson commented on #17296
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-27 18:30] #17296 closed

[2018-02-27 18:30] angersson commented on #17300
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-27 18:30] #17300 closed

[2018-02-27 18:30] angersson commented on #17302
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-27 18:30] #17302 closed

[2018-02-27 18:31] angersson commented on #17290
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-27 18:35] angersson commented on #17288
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2018-02-27 18:51] amirhessam commented on #17290
Is this not a build bug?

[2018-02-27 19:22] kartiknagappa commented on #15417
I still see the mention of `Protobuf pip package 3.1` here:<br> https://www.tensorflow.org/install/install_mac

Running the command listed under Python 3.n results in an error:<br>`protobuf-3.1.0-cp35-none-macosx_10_11_x86_64.whl is not a supported wheel on this platform.`

[2018-02-27 19:23] bjenkinsgit commented on #16214
In the end I downloaded the Tensorflow 9.1 source, installed bazel and other tools and compiled the source for my GPU.  I now have Tensorflow 9.1, cudnn 7.0.5 running on Ubuntu 17.10.

[2018-02-27 19:42] samgd opened #17306 "CudnnRNN TensorCore Support"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: N/A
- **Python version**: N/A
- **Bazel version (if compiling from source)**: N/A
- *

[2018-02-27 20:20] valiok98 commented on #17208
Thanks a lot @jqcorreia

[2018-02-27 21:27] skeggse opened #17307 "Dataset map KeyError from external tensors"
### System information

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Arch 15 Feb 2018
- **TensorFlow installed from (source or binary)**: binary - `tensorflow-gpu` via `pip`
- **TensorFlow version (use command below)**: `v1.5.0-0-g37aa430d84 1.5.0`
- **Python version**:

[2018-02-27 21:28] tatatodd commented on #17220
@jlebar might have some thoughts here, as he's worked on HLO visualization.

[2018-02-27 21:58] yzhwang commented on #17306
@protoget Do you have any timeline for adding TensorCore support for CudnnRNN?

[2018-02-27 22:05] protoget commented on #17306
The support for CudnnRNN is on our roadmap. We don't yet have a delivery date, but it's one of the high priority things we will do next.

[2018-02-27 22:10] devkicks commented on #15204
I am getting this issue when compiling with Intel GPU. Is there a solution to this anywhere?

[2018-02-27 22:27] jlebar commented on #17220
Yeah, maybe try graphviz v2.40.1 or newer?  That seems to be what we're using internally.  (I say "seems to be because...it's complicated, and I can't just run `dot -v`.)  You may also need to pass `-Tsvg` given that we have the HTML selectors, I dunno.  I verified that `-Tsvg` doesn't work with v2.38.0.

FYI the graphs can get pretty big, and at some point graphviz will be unable to render even i

[2018-02-27 22:28] rightaditya commented on #17284
@mrry I'd be willing to submit a PR for this if no one's already working on it.

[2018-02-27 22:33] mrry commented on #17284
Thanks for offering! I've already got a fix under review, so it should be merged soon.

[2018-02-27 22:34] #17090 closed

[2018-02-27 22:41] yaroslavvb commented on #17233
@alextp is there any other place that copy can happen? I'm finding that there's significant penalty in feeding read-only numpy arrays. This comes up when trying to feed data from Ray which uses read-only memory buffers

IE,
[code]

[tf_numpy_benchmark.py](https://github.com/diux-dev/cluster/blob/ee5c07056a9d1dadb118aaa93e721bc81a962428/yuxin_numpy/tf_numpy_benchmark.py)

[code]

[2018-02-27 22:45] 3rd3 opened #17311 "Shape inference with dynamic shapes"
I was wondering whether it is possible to use a variable as a placeholder for underspecified/dynamic shapes. Let's say the `batch_size` is dynamic (e.g. as a result from using `tf.Dataset.batch` which may produce an incomplete batch at the end of the dataset), so we have an input of images of shape `[?, h, w, c]`. Couldn't the shape inference procedure create an internal variable for `?` such that

[2018-02-27 22:46] anton-matosov commented on #10685
🎉I DID IT!
It am not sure what was causing the issue (I was also playing with different optimization level and debug build, switching branches, etc.), but restarting from fresh checkout, clean conda env, rerun configure and build gave a working native binaries!!!

With all the possible CPU runtime optimizations settings from [here](https://www.tensorflow.org/performance/performance_guide#optimizin

[2018-02-27 22:54] mirh commented on #15204
[This is the branch](https://github.com/lukeiwanski/tensorflow/tree/dev/amd_gpu).

[2018-02-27 23:51] anton-matosov commented on #10685
I have uploaded my wheel with MKL here https://github.com/anton-matosov/tensorflow-wheels

If you would like to build it yourself, please follow instructions provided here: https://github.com/anton-matosov/tensorflow-wheels/tree/master/Tensorflow-Wheels/MacOS/MKL (Disclaimer: tested on my machine only)

Meanwhile I am going to complete the MKL build to have MKL dylib files bundled inside the wheel

[2018-02-27 23:59] XingyuGuUCSD commented on #5968
And dont forget to restart. it is really important, which waste me 30 min....

[2018-02-28 00:26] yaroslavvb opened #17315 "feed_dict 10x slower on read-only numpy arrays"
There's a significant slowdown when feeding numpy arrays which are read-only. Looking at cpu profile, it looks like time is spent in memcpy (incorrectly reported as __nss_passwd_lookup). This memory copy seems unnnecessary

IE,
[code]

[tf_numpy_benchmark.py](https://github.com/diux-dev/cluster/blob/ee5c07056a9d1dadb118aaa93e721bc81a962428/yuxin_numpy/tf_numpy_benchmark.py)

[code]
cc @alextp

[2018-02-28 00:26] yaroslavvb commented on #17233
Moving "read-only" slowness to separate issue https://github.com/tensorflow/tensorflow/issues/17315 because it's unrelated to alignment

[2018-02-28 00:33] alexlee-gk commented on #15370
One thing to note is that you can get different values depending on implementation details, which is not good when reporting numbers in papers. Here is yet another implementation, which I based it off scikit-image's compare_ssim implementation (and the numbers match): https://gist.github.com/alexlee-gk/cbc9bfa6e5be51b53c622684cec0a3f3

[2018-02-28 00:40] nealwu commented on #17135
Re-assigning to @MarkDaoust for the samples/ folder.

[2018-02-28 01:29] mrry commented on #17307
This should be fixed by 8852be3ed15e11071d6807b61294d36168be693c. The fix will appear in TF 1.7; in the meantime unfortunately you'll have to add a `tf.identity(zeros)` around any tensors that are (i) captured from an external scope, and (ii) returned directly from a TF function (in `Dataset.map()`, `Dataset.filter()`, etc.).

[2018-02-28 01:29] #17307 closed

[2018-02-28 02:10] angersson commented on #17290
Hmm... I'm not sure how to verify this. @mrry, thoughts?

[2018-02-28 02:24] tedhtchang commented on #17232
@achalshah20 I saw similar grpc error on my Mac before so this PR #17005 may fix your grpc issue.

[2018-02-28 02:26] mrry commented on #17290
@benoitsteiner added this call in 09138338ed81b56aeaff88b9ee5a11c3f6d77b70. I don't see any corresponding change to the includes, so it's possible this is broken in some build configurations.

(Remember that we only support the CMake build on Windows right now, but hope to switch to Bazel soon.)

/cc @meteorcloudy

[2018-02-28 02:29] inugi00 commented on #14085
Due to comments of @chrisrn, I resolved the same problem of @Ellie68.

[2018-02-28 02:43] mrry opened #17316 "ABI for `tensorflow::core::RefCounted` is error-prone"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: tf-nightly
- **Python version**: 2.7
- **Bazel version (if compiling from source)**:

[2018-02-28 03:07] xiezhongzhao commented on #15604
@mkaze Thank you very much

[2018-02-28 03:36] meteorcloudy commented on #17290
I think https://github.com/tensorflow/tensorflow/pull/16905 if for fixing this issue.

[2018-02-28 03:44] Aashit-Sharma opened #17317 "How to Split up/Unstack/Partition a dynamic 3D Tensor into subtensors?"
In this [code from google][1] , sequence loss is being calculated by passing in 3 variables : logits , weights and targets.

How logits are defined:

My intentions were to get **3 different tensors of shapes** batch_size , sequence_length and dec_symbols  and then use them in **tf.scan** (using sequence_length as elems)

If I print the logits tensor , this is what i get :

Which means tf.unstack i

[2018-02-28 04:01] dieka13 commented on #13336
@nfiedel: but i used tensorflow/serving built with ```bazel build -c opt --config=cuda tensorflow_serving/...```, is that still the case?

[2018-02-28 04:33] GHAIGIT commented on #15773
@developer-mayuan @ispirmustafa
Thanks for your answer!
I still don't understand the `loss` of `EstimatorSpec`, does not it join the back propagation process? What is the effect of `loss` of `EstimatorSpec`? only for summary?
I did not find any explanation in documentation, looking forward to your reply!

[2018-02-28 04:47] lcycoding commented on #17218
@ericyue
This is a known issue, since the quantize op currently not fully implemented...

Take a look at [issue15871](https://github.com/tensorflow/tensorflow/issues/15871)

[2018-02-28 04:56] ericyue commented on #17237
it works. thanks @freedomtan

[2018-02-28 04:56] #17237 closed

[2018-02-28 05:30] ugmurthy commented on #15849
@mhlopko, the `bazel clean -expunge` worked. Sucessfully compiled Tensorflow.
thanks a ton.

[2018-02-28 07:25] pickou commented on #6683
@asimshankar I have fix this error, and no error occurs using TF 1.4 .

[2018-02-28 09:08] inkzk opened #17319 "Model trained with `tf.data.Dataset` can not be converted to `dlc` file of snpe"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
1.4
- **Python version**:
3.6
- **Bazel version (if compiling from source)**:
- **GC

[2018-02-28 09:26] jspark-cochlearai commented on #17013
I am suffering from the same problem. I want to replace the model in the tensorflow for android demo app (https://github.com/tensorflow/tensorflow) with my custom model but I never succeeded. Below are what I have tried so far:

1. I replaced the `.pb` file and its corresponding labels. But it showed runtime error something like
`No OpKernel was registered to support Op 'ListDiff'`
This is because

[2018-02-28 09:43] Lancerchiang commented on #17288
@angersson, I did add my platform information. In case of mistake I state here again:

SYSTEM INFO:
OS: Ubuntu 16.04 LTS
Tensorflow version: 1.4.0
Python version: 2.7.12

My code is a multi GPU session for testing in an open-sourced project [tf-faster-rcnn](https://github.com/endernewton/tf-faster-rcnn), and here is my `multi_gpu_demo.py` script.

[multi_gpu_demo.zip](https://github.com/tensorflow

[2018-02-28 10:09] BKZero opened #17320 "Require a c++ example or documents about tensorflow lite useage"
because i have my own native and c++ code, if i want to use tensorflow lite feature and put it in my android project, i have write tensorflow lite code in c++.
but it is too hard to find out how to get the input and output.
i have look up the ios example because part of the code is written in c++, but it crashed when i have:
float* output = interpreter->typed_output_tensor<float>(0);
for(int i = 0

[2018-02-28 10:13] bhack commented on #16452
@YknZhu ping us here when you will have an update :wink:

[2018-02-28 10:21] ahdidou-mohamed commented on #15751
Hi there ,

Did you copy the tflite file in the assets folder ?

I had the same issue , but got the demo project working by copying this file  **_mobilenet_quant_v1_224.tflite_** in the asset folder.

[2018-02-28 10:31] imvinaypatil commented on #17296
Well, I feel it is a bug because this behaviour is not featured by other models. Also, I have already asked the question on stack overflow with no help and hence had to post it on git

[2018-02-28 10:56] senthilki commented on #17253
Hi ,

Can someone throw light on this ?

As most of the example code are written in Python, it is not possible to execute it directly on Android device.

[2018-02-28 11:49] apollo-time opened #17321 "toco convert to lite model incorrectly with slim.batch_norm not follows after conv."
### System information
- **OS Platform and Distribution Linux Ubuntu 14.04**:
- **TensorFlow installed from binary**:
- **TensorFlow version 1.6.rc1**:
- **Python version 3.6**:
- **Have I written custom code N/A**:
- **Bazel version N/A**:
- **CUDA/cuDNN version N/A**:
- **GPU model and memory N/A**:
- **Exact command to reproduce N/A**:

I create simple model with slim and convert lite model usi

[2018-02-28 12:11] gabrielrlp commented on #17013
@jspark-cochlearai We tried everything you said. Unsuccessfully.

[2018-02-28 12:20] apollo-time commented on #17320
You can get output tensor index list by calling interpreter->outputs() after calling to interpreter->Invoke().
And you can access the output tensors with the index by calling interpreter->tensor(index).

[2018-02-28 12:37] burness opened #17322 "A bug When use kmean and tensorboard"
When I use the tensorboard in kmeans it cause an error, if i remove the merge_summary_op with `_, d, idx = sess.run([train_op, avg_distance, cluster_idx], feed_dict={X: full_data_x})`, it will be ok!!!  I don't know why the merge op will cause the error, could anyone help me with  ?

[code]

[code]

[2018-02-28 12:45] Richard-Neill commented on #17220
Using `dot - graphviz version 2.40.1 (20161225.0304)`, I get a more precise confirmation from graphviz about the problem:

     Error: hlo_graph_47.mcrbox-6dffc700-28862-565e07de51010.dot: syntax error in line 10 scanning a quoted string (missing endquote? *longer than 16384?*)
    String starting:"
      data:text/css,
      @import url(https://fonts.googleapis.com/css?family=Roboto:4

In graphvi

[2018-02-28 12:46] #17220 closed

[2018-02-28 13:05] #15393 closed

[2018-02-28 13:30] anbai106 opened #17323 "Save activation map for a specific convnet in the process of tf.train.MonitoredTrainingSession()"
ADDING FEATURES

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: ('v1.4.0-19-ga52c8d9', '1.4.1')
- **Python version**:  2.7 anaconda

[2018-02-28 14:00] AbhinavG7 opened #17325 "Resource exhausted: OOM when allocating tensor with shape, even when batch_size is 1."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
I've registered a new problem for translating English to Swedish, the code is pretty similar to TranslateEndeWmtBpe32k, with Europarl data. I'm able to train with hidden_size: 128, anything over 128 and I get Resource exhausted error, even when batch size is 1. (I'm using hp

[2018-02-28 14:27] #15965 closed

[2018-02-28 14:50] DerekKen commented on #17293
I‘ve encountered the same problem.

OS: Windows 10, x64,
Bazel 0.5.4,
MSYS2,
Python 2.7,
GPU-support enabled: CUDA 9.0 Toolkit, cuDNN 7.0,
Visual Studio 2017 community,

build command issued in MSYS2:

`bazel build -c opt --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-mfpmath=both --copt=-msse4.2 --copt=-march=native --config=mkl --config=win-cuda //tensorflow/tools/pip_package:build_pip_package`

[2018-02-28 14:57] soCzech opened #17327 "tf.data.Dataset.padded_batch() should support padding to nearest N bytes"
### System information
TF 1.5
Python 3.6.4 (Anaconda)

### Problem description
If using `tf.data.Dataset.padded_batch()` on input with variable size, it looks like there is significant overhead first time a batch with examples of size X is used on GPU. If batch with examples of size X is used second time, the execution is approx. 4x faster. (I suppose it is due to a way tensorflow handles data.)

[2018-02-28 14:58] senthilki opened #17328 "Feature Request: Training on device"
Hi Tensorflow,

I would like to know whether Tensorflow does support on-device training i.e creation of model on Android device. Right now Tensorflow provides Python script to generate model in the Native system and only inference we can execute on Android device. Obviously i cannot execute the Python to create the model in Android, does Tensorflow provides any Example/Feature in C++ to train the

[2018-02-28 15:02] #17325 closed

[2018-02-28 15:14] Johnson145 commented on #17237
@freedomtan I get the same error on Ubuntu 16.04, but unfortunately your patch doesn't solve the issue yet. Any further ideas though?

[2018-02-28 15:15] kbsriram opened #17330 "C++ gradients: fractional{agv,max}pool, soft{plus,sign}"
Adding gradients to the C++ API for these look straightforward, as there are existing kernel ops for their gradients. If nobody has already started, I can sign up for these.

/cc @bpiel @suharshs

[2018-02-28 15:33] bpiel commented on #17330
@kbsriram Go for it!

[2018-02-28 15:44] adamjones1 commented on #17200
**new finding**
The above lines work perfectly if I use the keras package (2.1.4) directly, instead of keras included in Tensorflow.

[2018-02-28 17:02] withai commented on #8854
@GustavZ You can visualize the graph of your frozen pb model using this command

python import_pb_to_tensorboard.py --model_dir="path/to/your/model/file.pb" --log_dir="path/to/your/log/dir"

[2018-02-28 17:03] frap129 commented on #17227
@tensorflowbutler

[2018-02-28 17:13] developer-mayuan commented on #15773
@GHAIGIT According to my understanding, the loss is an operation (a node in the computing graph), Tensorflow will automatically calculate the gradient starting from this loss , do the back propagation and update the weights in `var_list`.

The `+` in `EstimatorSpec(loss=yaw_total_loss + pitch_total_loss + roll_total_loss, ...)` is not the value addition but connect 3 different loss operation to th

[2018-02-28 18:17] tatianashp commented on #16352
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-28 18:17] #16352 closed

[2018-02-28 18:28] mmlanger opened #17332 "Feature request: fft support for complex128"
Tensorflow fft only supports complex64 types at the moment. I have a physics application that could make great use of tensorflow's architecture, which is not machine learning related but needs greater precision.

Since [pyculib](http://pyculib.readthedocs.io/en/latest/cufft.html) supports complex128, it should be available from nvidia.

Is there support planned in the future?

[2018-02-28 18:29] asimshankar commented on #6683
Closing this out since it seems the issue does not exist in stable versions of TensorFlow (version 1.0 and above).

Please feel free to comment or open a new issue if I'm mistaken.

Thanks!

[2018-02-28 18:29] #6683 closed

[2018-02-28 19:02] ispirmustafa commented on #15773
@GHAIGIT @developer-mayuan
yes, `loss` in `EstimatorSpec` is just for summary and tensorboard. it doesn't impact any training operation.

[2018-02-28 19:14] angersson commented on #17288
Please provide all of the information listed in the [Github new issue template](https://github.com/tensorflow/tensorflow/issues/new).

[2018-02-28 19:37] aht commented on #6438
Is there a clean way to fix the issue, or some manual override to make tf.Print works with Jupyter?

FDRedirector is a barely workable solution, as it is not available in latest IPython anymore.

[2018-02-28 19:48] saxenasaurabh commented on #13575
I am unable to reproduce this even with `SIZE = int(64e7)`. Closing for now. Please re-open if you are still seeing this.

[2018-02-28 19:48] #13575 closed

[2018-02-28 20:22] #15849 closed

[2018-02-28 20:50] saxenasaurabh commented on #5676
Closing as this looks like a duplicate of [#13575](https://github.com/tensorflow/tensorflow/issues/13575) which I have been unable to reproduce. Please re-try and re-open [#13575](https://github.com/tensorflow/tensorflow/issues/13575) if this is still an issue.

[2018-02-28 20:50] #5676 closed

[2018-02-28 21:28] angersson commented on #17328
@aselle This seems TF Lite related, can you take a look?

[2018-02-28 21:34] angersson commented on #17332
@rmlarsen Is this on a roadmap of ours?

[2018-02-28 22:05] ChengshuLi commented on #16291
@tensorflowbutler @tatatodd

The issue still persists. I think this is a bug.

[code]

[2018-02-28 22:09] angersson commented on #17316
@josh11b Any thoughts on this?

[2018-02-28 22:25] josh11b commented on #17316
I think updating the documentation and tf.sysconfig.get_compile_flags() would be a quick fix that we should do. Not sure how performance critical the optimization is, measuring that would be the main effort behind really solving this problem.

[2018-02-28 22:26] lichunshang opened #17333 "map_fn produces inconsistent results when using numpy vs. tf constants"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Nope
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.5
- **Python version**: 3.5.2
- **Bazel version (if compiling from source)**:
- **GCC/C

[2018-02-28 22:33] ChengshuLi commented on #1888
@kitterive @bravelywangexocr @RexYing @mattdingmeng

Just want to create more context, I tried to debug a little bit and I found that when I called set_visible_device_list("1,2"), it also set "allocator_type" to "1,2", which is an invalid value for allocator_type. That's why the error message is "Invalid allocator type: 1,2".

In other words, allocator_type and visible_device seem to share the sam

[2018-02-28 22:34] pavanky commented on #17316
@mrry thanks for helping out with this!

[2018-02-28 22:36] drpngx commented on #17044
FYI we just released our [ML course](https://developers.google.com/machine-learning/crash-course/?hl=es-419).

[2018-02-28 22:36] drpngx commented on #16871
FYI we just released our [ML course](https://developers.google.com/machine-learning/crash-course/?hl=es-419).

[2018-02-28 22:37] cancan101 opened #17334 "Still Seeing AVX Warnings on TF 1.6 Docker Image"
### System information
[code]

[code]
Image: `tensorflow/tensorflow:1.6.0-devel-gpu-py3`

### Describe the problem
I am seeing this error message even though I thought that AVX instructions should be used in 1.6:
[code]

[2018-02-28 22:47] ppwwyyxx commented on #6815
Btw, `tf.nn.moments` still uses `keep_dims` in latest master.

[2018-02-28 23:10] jlebar commented on #16045
CUDA 9.1.85.2 has just been released, and it fixes this problem.

[2018-02-28 23:15] is8ac opened #17336 "Feature Request: Axis support for scatter update"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Arch Linux
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.6.0
- **Python version**: N/A (applicable to both Python and Go bindings)
- **Bazel versio

[2018-02-28 23:52] jbobba commented on #17293
Can you try using a newer version of bazel (v0.11.0)?

[2018-03-01 00:01] mihaic commented on #16181
Duplicate of issue #14900?

[2018-03-01 00:16] acbellini commented on #17175
@ipeirotis As you are working on this, would it make sense to also support uppercase letters? Numpy allows for uppercase letters in indices, and we use them to denote axes that have a specific semantic meaning. also, it expands the number of axes that can be specified, as they become 52 instead of just 26. Or do you think this requires another issue? I am happy to post one, but as this is already

[2018-03-01 01:28] tatatodd commented on #16291
@ChengshuLi Thanks for debugging!  I agree that the results of your experiment are troubling; something definitely seems wrong.

@asimshankar can you suggest someone to investigate?  FYI my totally wild guess (having not investigated at all) is that cc_enable_arenas is broken in our open source builds in some subtle way.

[2018-03-01 01:45] freedomtan commented on #17237
@Johnson145 interesting. Do you really mean that you literally see "ld: unknown option: --icf=all" on Ubuntu 16.04? That's weird. We got the message on OS X because Apple has its own [ld](https://opensource.apple.com/source/ld64/) (neither GNU ld  nor gold) and the Apple ld doesn't support `--icf`. On Ubuntu 16.04,

[code]
should just work.

[2018-03-01 01:48] yaroslavvb opened #17339 "tf 1.6rc1 feed_dict is slow on multi-socket machines"
It seems as if 1.6rc1 introduces a copy in `feed_dict` on machines with >1 physical socket. Similar to https://github.com/tensorflow/tensorflow/issues/17233, but this also happens if numpy array is aligned. Fetching array from tensorflow, then feeding it back in happens at single-core memcpy speed. Downgrading to 1.5 restores fast behavior (4x faster)

https://github.com/diux-dev/cluster/blob/mast

[2018-03-01 01:59] fengwuxuan opened #17340 "Could some ops(assert,switch...) be removed in inference model ?"
I want to convert faster-rcnn model to tensorRT, but these ops can't be converted,because invalid dtype or non data value, so I want to know how to solve the question.

[2018-03-01 02:02] isalirezag opened #17341 "Cannot import Tensorflow on a system that has anaconda installed, though tensorflow installed successfully"
I installed tensorflow  on ubntu 16.04 by using
[code]
it sounds like that it is installed correct, after installation it shows that:
[code]
Now Im tryin to import tensorflow and i receive the following error:

[code]

Any help or suggestion on what should i do??

[2018-03-01 02:10] tonghuizhang commented on #15804
Is there any process on this issue?

[2018-03-01 02:19] impanyu commented on #17341
It seems you still need to install cuda9.0

[2018-03-01 02:21] vihanjain commented on #17159
The bug was identified and fixed in https://github.com/tensorflow/tensorflow/pull/17312.

It should be in TF official release v1.6.0. Please give it a try and let us know if it resolves the training speed issues with your original model.

Thank you @dacox for reporting and for your help in debugging this.

[2018-03-01 02:25] ipeirotis commented on #17175
@acbellini Sure, added support for uppercase letters as well. Based on my reading of the code, it should work without problems, but let's see if it passes all the tests.

[2018-03-01 02:34] StarOverSeas commented on #16374
has this problem been solved ?

[2018-03-01 02:48] fastalgo opened #17342 "can't use all the CPU cores"
I'm running the [ptb](https://github.com/petewarden/tensorflow_makefile/blob/master/tensorflow/models/rnn/ptb/ptb_word_lm.py) example on my 48-core Intel Skylake CPUs (two sockets).

However, I found only 10 of the 48 cores are being used (I used the 'top' command). I want to use all the cores.

I tried the following setting, but it did not work

config_proto = tf.ConfigProto(allow_soft_placement=

[2018-03-01 02:53] isalirezag commented on #17341
@impanyu I already have cuda 8, isnot that enough?

[2018-03-01 04:12] yaroslavvb commented on #17342
Using more cores can decrease performance. It's not clear that ptb_word_lm.py example can make use of 48 cores

[2018-03-01 04:53] liuhantao9 opened #17343 "Very general question about .tflite"
Is the tensorflow lite always have quantized calculation and output?
Or it depends on the model's input type?

[2018-03-01 04:59] rsk97 commented on #5120
I have a very similar error using the vgg16 architecture from the same tutorial spot and I also downloaded download using pip install download.

[2018-03-01 06:36] yananchen1989 opened #17344 "Does the size of embedding have a huge influence on the training speed?"
In my text classification task, I use vectors to represent the words. After I enlarge the size of vocabulary (word dimension is still 128), from 200000 to 1000000, the training step time arise from 0.1s to 0.4s. Here is the word embedding tensor creatation:

`tf.get_variable('embedding', shape, dtype=dtype, return tf.get_variable('embedding', shape, dtype=dtype, initializer=tf.random_normal_initia

[2018-03-01 07:40] lhx0612 commented on #9661
@ruppeshnalwaya1993 can you share your BUILD file to cross-compile your model to both android and ios? I managed to use aot to compile my model into a shared library and run on linux, but cannot find anything workable in android and ios. Thanks!

[2018-03-01 08:03] kdhingra307 commented on #17104
@facaiy please go on, I will look into another issue

though can u help me with entry point

[2018-03-01 08:16] lwd1132438569 commented on #6698
I got this error on windows 10 with CUDA 9.0 and GTX 1060.
python 3.5
tensorflow-gpu 1.5.0
I find a easy way to solve it : update my NVIDIA Display Driver to the newest version,reboot PC
then it worked!

[2018-03-01 08:21] selcouthlyBlue commented on #15985
@ebrevdo -1 is not really allowed as padding. ctc_loss throws this error: `All labels must be nonnegative integers`

[2018-03-01 08:22] SanthoshMKunthe commented on #15410
I tried your way but its giving error. . . Kindly help. . .

ERROR is as follows:
DeprecationWarning: inspect.getargspec() is deprecated, use inspect.signature() or inspect.getfullargspec()\n  if d.decorator_argspec is not None), _inspect.getargspec(target))\n2018-03-01 13:38:39.528159: I tensorflow/contrib/lite/toco/import_tensorflow.cc:1184] Converting unsupported operation: VariableV2\n2018-03-

[2018-03-01 08:25] SanthoshMKunthe commented on #15410
above code is not giving any output. . . wow.tflite is not even created. . . Please help. . .

[2018-03-01 08:30] kdhingra307 commented on #17266
@angersson can I add a fix to this issue??

[2018-03-01 08:42] selcouthlyBlue commented on #15985
Also, adding having an eos_token assumes that an eos_token should be appended to each label.

[2018-03-01 08:48] ad26kt opened #17347 "[suggestion] New option for dynamic_decode function"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-03-01 09:02] wolverineq commented on #15090
Sorry for the very late reply, but I donnt think questions above are relevant...
I still wonder has anyone implemented RNNDROP?
Thanks.

[2018-03-01 09:12] NatLun091238 commented on #7669
@alyaxey, in TensorFlow 1.5.0

        estimator = estimator,
        train_input_fn = train_input_fn,
        eval_input_fn = eval_input_fn,
        train_monitors = [train_monitors])

"train_monitors" option is not available....

[2018-03-01 09:16] BKZero opened #17348 "when run ./bazel-bin/tensorflow/python/tools/freeze_graph AttributeError: 'int' object attribute '__doc__' is read-only"
tensorflow r1.5
python2.7
followed by the tensorflow lite tutorial:
https://github.com/tensorflow/tensorflow/tree/r1.5/tensorflow/contrib/lite
my command line:
[code]

[2018-03-01 09:26] NatLun091238 commented on #7669
@alyaxey,

            early_stopping_metric = "loss",
    )

Unfortunately, in TensorFlow 1.5.0 ValidationMonitor is not available ...
"2016-12-05, Monitors are deprecated. Please use tf.train.SessionRunHook."

[2018-03-01 09:44] SanthoshMKunthe opened #17349 "RuntimeError: TOCO failed see console for info."
I tried your way but its giving error. . . Kindly help. . . tf.version = 1.6.0rc1 and Ubuntu

**_#ERROR is as follows:_**

Converted 2 variables to const ops.
Traceback (most recent call last):

File "tf.py", line 94, in
tflite_model=tf.contrib.lite.toco_convert(sess.graph_def,[x],[mxc])

File "/home/siteurl/anaconda3/envs/osrco/lib/python3.6/site-packages/tensorflow/contrib/lite/python/lite.py",

[2018-03-01 09:45] SanthoshMKunthe commented on #17349
above code is not giving any output. . . wow.tflite is not even created. . . Please help. . .

[2018-03-01 09:49] Johnson145 commented on #17237
Well, almost literally. Actually, it's an `unrecognized` option instead of an `unknown` one, but the actual content is just the same. Here is the full error message having `--verbose_failures` enabled:
[code]

The only related information I could find using Google is [this GitHub issue from a different repo](https://github.com/turol/smaaDemo/issues/1). It suggests that the default Linux ld linker

[2018-03-01 10:06] freedomtan commented on #17237
I think GNU ld also supports --icf, but it seems I am wrong. I guess my Ubutun machine  uses gold. Anyway, either change your /usr/bin/ld, which should be a symbolic link, to gold or modify the default link flag should work.

[2018-03-01 10:08] wileeam commented on #17002
Aha! Okay, awesome! I saw the documented example in the master as you said and was confused looking for something else.
Thanks! :)

[2018-03-01 10:41] aforslow opened #17350 "Feature request: Make div operator that sets 0/0=0 instead of 0/0=NaN"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes, code provided below
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10 Pro, Version 1709
- **TensorFlow installed from (source or binary)**:
Binary
- **TensorFlow version (use command below)**:
1.5.0
- **Python version**:
3.6.4
- **Bazel version (

[2018-03-01 11:28] Johnson145 commented on #17237
Just changing the ld symlink from `x86_64-linux-gnu-ld` to `x86_64-linux-gnu-ld.gold` crashes with
[code]
Besides that, just changing the symlink was a good idea for testing purposes, but I don't really feel good about doing that permanently.

Any idea how to modify the flag in the `build_def.bzl` file? If I just remove it, I get another error.

[2018-03-01 12:04] spiiph opened #17351 "Examples and tutorial missing from pip tensorflow package"
After searching for and eventually posting a question on StackOverflow (https://stackoverflow.com/questions/49007742/tensorflow-examples-and-tutorials-missing-from-the-pip-package) I was recommended to report this as a bug:

When installing Tensorflow (e.g. tensorflow-1.5.0-cp36-cp36m-manylinux1_x86_64.whl from https://pypi.python.org/pypi/tensorflow/1.5.0) from pip, there is only the tutorials/mn

[2018-03-01 12:09] SanthoshMKunthe commented on #16374
nope @StarOverSeas . . . it works fine in Ubuntu but sucks in windows. . .

[2018-03-01 12:09] jppgks commented on #10145
@lw394 Do you have a working version of the script above that you were trying to run?

[2018-03-01 12:12] sseung0703 opened #17352 "[Suggestion]SVD GPU Op is not efficient than CPU."
when I used TF 1.2 version, there is no problem with using SVD

but few days ago i updated my tensorflow version to 1.5 and my code get extremely slow.

so I tested all possibility and  checked issues

finally i found that someone commited SVD GPU op made by cudasolver. in june, 2017

he said that it contain memcopy and it cause bottleneck. it is true and it make svd GPU op extremely slow than for

[2018-03-01 12:13] valiok98 opened #17353 "Error indices[0] = 0 is not in [0, 0) while training an object-detection model with tensorflow"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**: 1.5
- **Python version**:  3.6
- **Bazel version (if compiling from source)**:
- **GCC/Compiler ve

[2018-03-01 12:27] farhanhubble commented on #15656
Is there a way to print out all Cuda dependencies for Tensorflow, before building from source? I just built tensorflow master with Cuda 9.1 and now Tensorflow complains about **libcusolver.so.8** not being present, because I have  **libcusolver.so.9**. It must be that the version of **libcusolver.so** changed from 8 in Cuda 9.0 to 9 in Cuda 9.1.

[2018-03-01 13:17] mushroom1116 commented on #1604
@IdRatherBeCoding You just implemented the forward propagate, right?

[2018-03-01 13:40] ghostplant opened #17354 "Throw Exception instead of Crash when out of BFC memory allocation"
For huge application model, the memory is easy to overflow and the framework will quit after plenty of Out-of-memory logs. Is it possible to just quickly throw an Exception in python runtime instead of killing the whole program?

[2018-03-01 14:03] yanghoonkim opened #17356 "[suggestion][tf.estimator] model with multiple labels"
How about let `labels` provided to `def model_fn(features, labels, mode, params):` be `dict` but not a tensor.
I'm now modeling a model with multiple outputs to be optimized, however, I can only use `features` to substitute `labels` because it only allow a tensor. I'm using version 1.4

[2018-03-01 14:07] IdRatherBeCoding commented on #1604
@mushroom1116 Actually, I recently started work on the gradient, and I'm almost done.

Do you need an efficient sparse CNN in TF for a project, or are you just curious?

To be clear, both my forward and back prop implementations are going to be slower than TF conv2d because I'm computing Q with simple python loops. I intend to write the Op in C++, but it's still just for a learning exercise. Suppo

[2018-03-01 14:58] etasnadi commented on #14622
With tensoflow-gpu (1.5.0) + cuda 9.0 + ubuntu 16.04 in virtualenv: the same error when importing tensorflow in the virtualenv's python3 interpreter. I think it is because it is not enough to set the LD_LIBRARY_PATH properly; You should run the `ldconfig` after installing the cuda toolkit. So I put the cuda lib path `/usr/local/cuda-9.0/lib64` (in my config) into the newly created file `/etc/ld.so

[2018-03-01 15:14] liavassif commented on #5987
@mixuala
After using sess.run() to set the is_training variable, the rest is just the usual mini-batch approach (at train or at validation).
[code]

[2018-03-01 15:32] aureliengervasi commented on #17289
Same issue on my side.

I have retrained a MobileNet model with Keras and converted it to TensorFlow. The model is ready for inference.

With `tensorflow==1.6.0.rc1`, it is the only operation which is said to be not supported.
I'm a bit suprised, as [the doc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/g3doc/tf_ops_compatibility.md) says that this kind of ops "are

[2018-03-01 15:33] apiro opened #17358 "Distributed training: Evaluation and inference best practices"
I understand tensorflow distributed training and I implemented my own script.

What I want to do now is to integrate the possibility of assigning some workers the task of asynchronously evaluate the model.

Let's say we have 6 workers, what I want to do is to use 4 of them to do asynchronous training, one to periodically evaluate the model and another one to periodically make inference on it.

My

[2018-03-01 15:45] iurilarosa opened #17359 "Lack of documentation about: saving-restoring graphs & other languages API about this"
I think that one of the main features of TensorFlow is its portability. I want to exploit it in a huge code written in C, where a small but computational heavy part can be computed using GPU through TF. So I started to study the problem about saving a graph, loading it to another code (possibly in another programming language) and passing it data to perform some computations.

I'm finding very dif

[2018-03-01 16:02] carlobertolli commented on #17293
I had the same problem and it went away after updating to bazel 0.11.0

The configuration I had when I saw that error:

OS: Ubuntu 16.04.3 LTS
Python version: 2.7.12
Bazel version: Build label: 0.7.0- (@non-git)
gcc version 5.4.0 (GCC)
No GPU
No CUDA

The configuration that works is the same, except:

Bazel version: Build label: 0.11.0- (@non-git)

[2018-03-01 16:17] jppgks commented on #16611
I'm experiencing the same problem.

[2018-03-01 16:26] kbsriram opened #17360 "C++ api: use of op::Attrs methods in gradients"
The generated op::Attrs struct returns new instances on its chainable methods, and doesn't change the original object.

https://github.com/tensorflow/tensorflow/blob/d7d7f4eea5f3a2e63e12c803d02f56726c0e0513/tensorflow/cc/framework/cc_op_gen.cc#L701

There are a few related issues e.g. https://github.com/tensorflow/tensorflow/blob/6fdb9ad1baf7686a75f9e660178f7ac595e7fc2e/tensorflow/cc/gradients/nn_

[2018-03-01 16:44] keveman commented on #17360
@kbsriram thanks for pointing out the bug. I am not a fan of mutable state, so my natural inclination is towards option 2. Adding `TF_MUST_USE_RESULT` to the generated API would simply point out the existing erroneous uses as compiler errors.

[2018-03-01 16:56] hhusum opened #17361 "Feature request: Let Dataset.padded_batch() return a sequence_length tensor as a feature"
### System information
- **Have I written custom code**: Yes
- **OS Platform and Distribution**: MacOS High Sierra v10.13.3
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: 1.5.0
- **Python version**: 3.6.4 :: Anaconda, Inc.
- **Bazel version (if compiling from source)**: n/a
- **GCC/Compiler version (if compiling from source)**: n/a
- **CUDA/cu

[2018-03-01 17:00] dreamflasher opened #17362 "Missing documentation for tf.train.Saver"
The documentation for tf.train.Saver (https://www.tensorflow.org/api_docs/python/tf/train/Saver) is not explaining how to actually use the saver. The crucial missing part:
* `saver = tf.train.Saver()` needs to be executed right before finalizing the graph

[2018-03-01 17:04] ps2 opened #17363 "zeros() not tracking shape based on input tensors"
[code]
If reshape can understand the input values well enough to set a static shape for its output, shouldn't zeros() be able to?

This is using tensorflow 1.5

[2018-03-01 17:17] lahwran commented on #16374
why was I mentioned on this issue?

[2018-03-01 17:21] ps2 commented on #17363
Ah, I believe in this case reshape() is getting all the information it needs from the static shape of the input tensor, and the other known constants in the shape.  I don't think this is a bug, then.

[2018-03-01 17:21] #17363 closed

[2018-03-01 17:32] eaplatanios opened #17364 "Interleaving multiple datasets together"
@mrry The current interleave functionality is basically a interleaved flat-map taking as input a single dataset. Given the current API, what's the best way to interleave multiple datasets together? Say they have already been constructed and I have a list of them. I want to produce elements from them alternatively and I want to support lists with more than 2 datasets (i.e., stacked zips and interle

[2018-03-01 17:41] willianscfa commented on #15352
@coolchicha any progress on this? I'm having a similar problem trying to compile a graph using tfcompile.
GDB traceback is

[code]

[2018-03-01 17:49] dilipbobby commented on #12990
No ! not yet ! I worked out that with normal python code.I will look into how to perform content based recommendations using tensor-flow when I have some free time.

[2018-03-01 18:02] smilejimin opened #17366 "Link error on compile_android_protobuf.sh"
TensorFlow version (use command below): r1.6

Hi,
I'm trying to use Makefile to compile android library(following this guideline - https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile) , but having an issue with compile_android_protobuf.sh.

I tried with both NDKr16b and NDKr15c, but getting this error.

...
...
/DL/tensorflow/tensorflow/tensorflow/contrib/makefile/down

[2018-03-01 18:10] angersson commented on #17266
@kdhingra307 Please do! If you plan to contribute the code yourself, please have a look at [CONTRIBUTING.md](https://github.com/tensorflow/tensorflow/blob/master/CONTRIBUTING.md).

[2018-03-01 18:18] lw394 commented on #10145
@jppgks ,  I've used this testing for a 4 Titan X machine.  You can set --distributed=False to compare single GPU, non distributed performance.  With a smaller network, i.e. --hidden-units=128, I see some improvement with 4 GPUs vs 1.  With --hidden_units=2048,  4 gpus distributed is less than half the speed of just using one.

[code]

[2018-03-01 18:25] kdhingra307 commented on #17266
@angersson i will, thanks

[2018-03-01 18:59] angersson commented on #17366
@smilejimin Please provide all of the platform information requested in [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new).

@petewarden Can you take a look at this?

[2018-03-01 18:59] angersson commented on #17364
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-03-01 18:59] #17364 closed

[2018-03-01 19:00] angersson commented on #17358
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-03-01 19:00] #17358 closed

[2018-03-01 19:02] angersson commented on #17354
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-03-01 19:02] #17354 closed

[2018-03-01 19:19] angersson commented on #17350
@mrry Any thoughts on this?

[2018-03-01 19:21] angersson commented on #17352
@rmlarsen  Can you comment on this?

[2018-03-01 19:26] angersson commented on #17348
You're using a frozen graph as input. Note that the tutorial says:

[code]

If you have any more problems, please ask a question on [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow-lite) to help you see if you've found a bug. Thanks!

[2018-03-01 19:26] #17348 closed

[2018-03-01 19:36] angersson commented on #17344
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-03-01 19:36] #17344 closed

[2018-03-01 19:37] angersson commented on #17342
Thanks for the input, @yaroslavvb!

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-03-01 19:37] #17342 closed

[2018-03-01 19:37] angersson commented on #17340
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-03-01 19:37] #17340 closed

[2018-03-01 19:57] 7immer commented on #37
propelml.org - Looks promising not tried it but its GPU enabled and runs in both the browser and on node

[2018-03-01 19:58] impanyu commented on #17341
I think you should upgrade to  cuda9.0

[2018-03-01 20:05] ningxia commented on #16654
@fgallaire
I am building v1.5 against CUDA8.0, besides changing repositories.bzl file mentioned by @lifefeel    tensorflow/workspace.bzl, I also change tensorflow/workspace.bzl similarly to "0.11.0-". It's compiling.

[2018-03-01 20:21] andpol5 commented on #14267
@RoboEvangelist I am having the same issue in tensorflow r1.5 as well.

[2018-03-01 20:25] kbsriram commented on #17360
@keveman thanks for the note! Sgtm - don't have a strong opinion on this. But would like to make progress on fixes and (for option 2 as you note) add a bit of a compile-time safety net for new code.

Tentatively predicated on option 2, suggestions on next steps? If someone is already on it, awesome - otherwise, I can sign up for a pull request on this.

[2018-03-01 20:27] dacox commented on #17159
@vihanjain Thanks for the response! I can confirm that I no longer see the issue using `tensorflow/tensorflow:1.6.0-gpu`.

Cheers!

[2018-03-01 20:39] smilejimin commented on #17366
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: r1.6
- **Python version**:  3.4.3
- **Bazel version (if compiling from source)**: 0.6.1
- *

[2018-03-01 20:42] ppwwyyxx commented on #9437
Could anyone take a look at my PR?

[2018-03-01 20:53] #17159 closed

[2018-03-01 21:30] isalirezag commented on #17341
I will try that to see if it works...

[2018-03-01 21:30] #17341 closed

[2018-03-01 21:32] FrancescoSaverioZuppichini opened #17368 "The best way to pass the LSTM state between batches"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:
### System information
The problem is independent of the system information.

I am using Tensorflow 1.5

### Describe the problem
I think I will be insane. I am trying to find the best way to pass the LSTM state between batches. I have searched e

[2018-03-01 21:48] eaplatanios commented on #17364
I posted a question [here](https://stackoverflow.com/questions/49058913/interleaving-multiple-tensorflow-datasets-together) but I'm not sure how to mention @mrry there.

[2018-03-01 23:02] angersson commented on #17334
@gunan Can you look at this when you have a chance?

[2018-03-02 01:09] zhiruiwang commented on #16424
The TF 1.6 version on PyPI still has the bleach ==1.5.0 and html5lib ==0.9999999 dependency.

[2018-03-02 01:17] shivaniag commented on #17361
@mrry what are your thoughts on this.

[2018-03-02 01:19] shivaniag commented on #17351
@yifeif any comments on this?

[2018-03-02 01:23] shivaniag commented on #17343
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-03-02 01:23] #17343 closed

[2018-03-02 01:25] mushroom1116 commented on #1604
@IdRatherBeCoding I tried to implement SparseCNN too and I was stopped by some difficulties in BP, so I want to know how  you did it. If may. Could you please let me know the details of code?

[2018-03-02 01:27] yifeif commented on #17351
We want to keep our distribution as small as possible. As tutorials are not part of the APIs, we don't plan to include them in the standard package. `git clone` the repo would be the recommended way to get them. Hope this answer your question @spiiph.

[2018-03-02 01:27] #17351 closed

[2018-03-02 01:48] feranick opened #17369 "TF 1.6 cannot be installed on MacOS because of failure in installing grpcio"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS 10.13.3
- **TensorFlow installed from (source or binary)**: both
- **TensorFlow version (use command below)**: 1.6
- **Python version**: 3.6.4
- **Bazel version (if compiling from source)**: 0.11
- **GCC

[2018-03-02 02:12] shivaniag commented on #17287
Can you share your file  `./test.txt`. My guess is, the output of `tf.string_split([line], '\t')` might have dimension of `values`  as 1.  Try to see output with only `line_split = tf.string_split([line], '\t')` in your function _parse_line(..).

[2018-03-02 02:12] SanthoshMKunthe commented on #16374
Sorry Lawren. . . Accept my humble apologies. . . If possible kindly look
at this issue. . . https://github.com/tensorflow/tensorflow/issues/17349
and help me if possible. . .

[2018-03-02 02:25] skye commented on #13818
Hey, sorry for leaving this hanging for so long... is this still an issue for you?

[2018-03-02 03:45] zxr12748 commented on #16214
I tried
$ sudo apt-cache search cuda-command-line-tool
but got nothing.
I have cuda 9.0,cudnn7.05 running on Ubuntu 16.04.
Is there any other solution?
THX:-D

[2018-03-02 03:46] mixuala commented on #5987
@liavassif I keep getting `RuntimeError: Graph is finalized and cannot be modified.` but I am trying to run this inside `slim.learning.train()` in `def train_step_fn(sess, ...)` . maybe that is not the right way to go...

[2018-03-02 04:08] ljllili23 commented on #17369
me too. failed to install v1.6 on OSX 10.12.6 because of the same issue.

[2018-03-02 04:11] cfregly commented on #17210
@yongtang same issue.  bazel 0.11.0, python3, cuda 9.0, cudnn 7.0, TF_NEED_KAFKA=1

fresh build from a couple days ago:  4faee3942d9983e0c96091b32095cc0d9ff494e0

Note:  i didn't set `--with_kafka_support=true`

[2018-03-02 04:13] bryantkhoo commented on #17369
Same here, I'm also on OSX 10.12.6 with the same issue.

[2018-03-02 04:53] krishnan-prabhu commented on #17369
Failed for me too. I am on OSX 10.13.3.

[2018-03-02 05:00] lcycoding opened #17370 "Image retraining script memory problem and issue"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
      Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.6-gpu/nightly-gpu
- **Python version**: 3.5.2
- **Bazel version (if compiling from source

[2018-03-02 05:16] automateljw commented on #15835
I meet the same problem, when variable is large and in distribution environment.  chief worker can't initializer the large variable correctly, so i guess it is bug!
the large variable i define is:
[code]
I use tf.estimator.train_and_evaluate api to do distributed training, and define w0 in the model_fn.  when i define w0 using[100000, 256, 32]  , I can run the code in the single machine( local mod

[2018-03-02 05:24] lunersonguo commented on #17369
+1 on OSX 10.12.6

[2018-03-02 05:31] holtc commented on #17369
+1 on OSX 10.12.6 as well

[2018-03-02 05:39] zhedongzheng commented on #17369
me too

[2018-03-02 05:48] ghostplant commented on #17354
@angersson Hi. This is a bug of Tensorflow, not a question.

[2018-03-02 05:48] ghostplant commented on #17354
Can you reopen this issue?

[2018-03-02 05:51] ghostplant commented on #17354
Currently Tensorflow did a force quit when OOM which is not catchable by python runtime.

[2018-03-02 05:52] andrewjtimmons commented on #15604
I am also getting this issue and struggling to resolve it.
[code]
I installed following these instructions
https://www.tensorflow.org/install/install_linux#nvidia_requirements_to_run_tensorflow_with_gpu_support

I believe I installed the right versions from nvidia.  filenames were
`cuda-repo-ubuntu1604_9.0.176-1_amd64.deb`
and `cudnn-9.0-linux-x64-v7.tgz` (version 7.0.5)

I set the path as per tho

[2018-03-02 06:00] sakaia commented on #16358
you should change from
from tensorflow.python.keras.datasets import imdb
to
from keras.datasets import imdb

because of this issue in tensorflow/keras package.
original keras (not tensorflow/keras) works fine.

[2018-03-02 06:12] shreystechtips commented on #17369
me as well...

[2018-03-02 06:13] jeffwang0516 commented on #17369
same issue on OSX 10.13.3, python3.6

[2018-03-02 06:25] rajatmonga commented on #17328
[TensorFlow mobile](https://www.tensorflow.org/mobile/mobile_intro) runs on Android and iOS and does support training as well. One way you could do this is to create the model using the Python libraries and then load and train it on Android, using the C++ APIs.

Here's [a blog](https://tebesu.github.io/posts/Training-a-TensorFlow-graph-in-C++-API) that does something similar (although not on mobil

[2018-03-02 06:25] #17328 closed

[2018-03-02 06:26] rajatmonga commented on #12696
This was answered in #17328

[2018-03-02 06:28] Amitayus opened #17372 "tf.svd and matlab svd return different results with the same input. Why?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 3.5
- **CUDA/cuDNN version**: CUDA 8.0, cuDNN 6.0
- **GPU model and

[2018-03-02 06:34] sdsouza33 commented on #16374
when will this be solved ?

[2018-03-02 06:43] entropy43 commented on #15604
Per the CUDNN guide at:

http://docs.nvidia.com/deeplearning/sdk/cudnn-install/index.html

You need to copy the unpacked files (from the directory you ran `$ tar -xzvf cudnn-9.0-linux-x64-v7.tgz` or similar) into `/usr/local/cuda` subdirectories:

`$ sudo cp cuda/include/cudnn.h /usr/local/cuda/include`
`$ sudo cp cuda/lib64/libcudnn* /usr/local/cuda/lib64`
`$ sudo chmod a+r /usr/local/cuda/includ

[2018-03-02 06:54] PatWie commented on #17359
The C_API is ready to understand. It is an issue of writing in C such that the LOC is very large. But it is pretty straightforward to restore a graph in different languages.

[These examples for C,C++,Go](https://github.com/PatWie/tensorflow_inference) work. Instead of wasting time by reading "tutorials", reading the TF source is more helpful. You probably cannot write a a small guide for loading

[2018-03-02 07:10] rthel commented on #17369
macOS 10.13.3 Python 3.6 same problem.

[2018-03-02 07:11] sbl commented on #17369
The issue is related to `grpcio` v1.10.0 (https://github.com/grpc/grpc/releases/tag/v1.10.0) not being able to build.

If you install *don't*  do `pip install -U tensorflow` (which will try to also update grpcio). Instead:

[2018-03-02 07:21] zhedongzheng commented on #17369
Thanks to @sbl
[code]
works

[2018-03-02 07:22] rthel commented on #17369
Try install grpcio 1.09
[code]

[2018-03-02 08:08] theyusufyildiz commented on #16654
WTF ? IntelliJ throws following error:

[code]

[2018-03-02 08:09] Djoels opened #17373 "Illegal instruction on import tensorflow"
I had installed a non-optimized version of tensorflow (1.6.0) on debian (Debian GNU/Linux 8) for use within python 3.6.4.
I was told that SSE4.1 and SSE4.2 instructions were supported by my CPU but that the tensorflow I was using was not compiled to support it, so I decided to use one of the pre-compiled whl's.
This resulted in a "illegal instruction" error which exits python immediately.
I tried

[2018-03-02 08:55] mixalturek opened #17374 "Potential resource leaks caused by unclear Java examples"
### System information

Java examples at https://www.tensorflow.org/ for tensorflow 1.6.0.

### Describe the problem

`org.tensorflow.Session.Runner.run()` returns list of closables, Javadoc clearly states that the caller is responsible to free all of them. None of the Java examples I found at https://www.tensorflow.org/ highlights that, I realized it by happy accident during in-depth reading impl

[2018-03-02 09:06] bluesjjw commented on #17369
+1 on OSX 10.13.3 Python 3.6

fixed the problem by
`pip3 install grpcio==1.9.1 tensorflow`

[2018-03-02 10:16] renewang commented on #16186
Hi, I encountered the same problem. After searching issues, I found many users have the same difficulties to construct MultiCellRNN correctly. So I did some code trace and explained what I understood from code in this Stackflow post https://stackoverflow.com/questions/48865554/using-dynamic-rnn-with-multirnn-gives-error/49066981#49066981
I hope this might help future users have the same problem wi

[2018-03-02 10:17] songmeixu commented on #9775
I understand your confusion. Use a python bool for is_training, it cannot be in graph; while use a tensor.bool for is_training, you need something like tf.is_true(is_training) , but tf without it.

The problem can be solve by:
`
is_training = tf.placeholder_with_default(False, shape=(), name='is_training')
basic_cell = tf.contrib.rnn.BasicRNNCell(num_units=n_neurons)
keep_prob = tf.cond(is_trainin

[2018-03-02 10:18] BKZero opened #17375 "tensorflow lite cannot use my own model, crashed without error log."
**Version Info:**
tensorflow r1.5
ubuntu 14.04
armv7 platform
android 6.0.1 and pc
ndk version: r14
android studio 2.3.1

**Describe the problem**
i write the code in c++, it can get results when using the mobilenet model from the tutorails(link: https://storage.googleapis.com/download.tensorflow.org/models/tflite/mobilenet_v1_224_android_quant_2017_11_08.zip)
but when i use my own model converted

[2018-03-02 10:39] spiiph commented on #17351
Thanks for the response.

[2018-03-02 10:54] iurilarosa commented on #17359
Indeed I can surely admit that I'm not so good understanding codes "from scratch" and I can be quite confused, but since i think in general this could be true for many people, this is the reason why well written documentations are so important. I'd like to contribute but first I need to understand the subject :)

Apart the general issue, I thank you for your answer, I'm watching your examples and

[2018-03-02 11:35] facaiy commented on #17104
@dchatterjee172 Not yet. I'll finish it in the weekend.

[2018-03-02 11:41] dchatterjee172 commented on #17104
Thanks for your contribution. Sparse update is required in this case
because adamax is mainly used with word embeddings. Can you post a comment
here after implementing sparse update?

On 02-Mar-2018 17:09, "Yan Facai (颜发才)" <notifications@github.com> wrote:

[2018-03-02 11:49] mirca commented on #11294
Hey, I'm trying use the 'dogleg' method in `tf.contrib.opt.ScipyOptimizerInterface`.
I'm able to compute the hessian of my objective functions with ``tf.hessians`` (which returns a list of tensors). But then when I pass that hessian to `tf.contrib.opt.ScipyOptimizerInterface` I get the following error message:
[code]
Is the 'dogleg' method supported at all?
Thanks!

[2018-03-02 12:37] totob92 opened #17377 "Attempt failed to use tf.ConditionalAccumulator.take_grad() with GradientDescentOptimizer.apply_gradients"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10 Home 64-bit
- **TensorFlow installed from (source or binary)**:
Binary
- **TensorFlow version (use command below)**:
1.4.0
- **Python version**:
3.6.3
- **Bazel version (if compiling from source)**

[2018-03-02 12:42] ViktorM commented on #15140
Hi! What were a reasons why TF 1.6 hasn't been shipped with CUDA 9.1 but only 9.0?

[2018-03-02 13:47] tastyminerals opened #17378 "Please explain what is going on in tf.nn.raw_rnn function?"
I am trying to implement custom hidden state computation with a help of `tf.nn.raw_rnn` function. However, using the API example provided I am receiving a strange message:

[code]

![2018-03-02-143635_1049x358_scrot](https://user-images.githubusercontent.com/7676160/36901389-45c88efc-1e27-11e8-93b1-f42c3018057e.png)

What I want to do is the following:

[code]

Here is my implementation, well basi

[2018-03-02 13:55] reuben commented on #17015
@jhunsaker did you get around to asking about this on SO? I'm hitting the same problem.

[2018-03-02 13:57] #17311 closed

[2018-03-02 14:03] thebillington commented on #17369
+1 on OSX 10.11.6 Python 3.6.1

`pip3 install grpcio==1.9.1 tensorflow`

[2018-03-02 14:14] CharlesJQuarra opened #17379 "`tf.case` is not allowing the computation of the `default` tensor when it falls in the default case"
[code]

### Describe the problem

`tf.case` does not seem to be computing the graph tensor related with the `default` parameter when it should fall in it. It seems to be computing all the case tensors correctly in all the other cases

### Source code / logs

The script optimizes a piecewise rectilinear function defined with `tf.case` to match the square of the argument as closely as possible in th

[2018-03-02 14:18] #17379 closed

[2018-03-02 14:25] IdRatherBeCoding commented on #1604
@mushroom1116 You can take a look at it now:
https://github.com/IdRatherBeCoding/sparse_cnn/blob/master/sparse_cnn_back_prop.ipynb

Please let me know if something doesn't make sense.

I have tested the derivatives of Q with respect to M and ground state. I have not yet tested with an end to end CNN training.

[2018-03-02 14:38] gabrielrlp commented on #16589
+1

[2018-03-02 15:22] ewilderj commented on #16654
Please keep conversation civil in this issue, per our code of conduct. I've edited out the swearing: help us keep TensorFlow a welcoming environment.

[2018-03-02 15:48] soloman817 commented on #12851
what is the status of this issue? I also need an unzip operation!

[2018-03-02 15:53] deerdodo opened #17381 "Cannot feed value of shape (64, 25, 9) for Tensor 'Placeholder:0', which has shape '(?, 25, 25)'"
i am trying to train my RNN-LSTM model in python 3.5, this is my code and my dataset is a 3D accelerometer dataset

[code]
but it gives me the following error

[code]
and this is the shapes of my dataset
[code]

[2018-03-02 16:15] SuMyatNoe29 commented on #8096
I've trying so many tools to install TensorFlow on my mac. But I finally installed with this conda environment. Thanks bro!

[2018-03-02 16:20] andrewjtimmons commented on #15604
Thank you for the reply @entropy43.

I should have been more specific.  I did those two `cp` and the `chmod` commands after `tar`.  When I look in the folder cuda folder for where I ran the tar command like `ls cuda/lib64` I see
```libcudnn.so  libcudnn.so.7  libcudnn.so.7.0.5  libcudnn_static.a```

I tried this section as well from the nvidia [doc](http://docs.nvidia.com/deeplearning/sdk/cudnn-in

[2018-03-02 16:44] JonathanRaiman commented on #13221
Just wanted to post an update on #9091 (cpu growth unbounded with feed dicts).
- the error is not due to graph not being fixed
- it is not caused by using`tf.zeros` vs. `tf.fill`
- I'm using `cudnnLstm`, not `dynamic_rnn`, so while_loops are also not the cause

After updating to Tensorflow 1.6, the CPU growth dropped from the original 640mb/hr down to 25mb/hr (at most, not sure what the curve look

[2018-03-02 16:44] JonathanRaiman commented on #9091
Appears to be fixed in tf 1.6

[2018-03-02 16:46] ebrevdo commented on #13221
Thanks for the update!

On Fri, Mar 2, 2018 at 8:45 AM, Jonathan Raiman <notifications@github.com>
wrote:

[2018-03-02 16:47] ebrevdo commented on #13221
@vrv it may have been a bug in cub.  we've since updated both cuda and cub (i think); so whatever it was, it's been resolved.

[2018-03-02 16:47] #13221 closed

[2018-03-02 16:52] r0mainK commented on #17381
Well its kinda self explanatory, the placeholder `X` expected you to feed it tensors of shape (n, 25, 25) where n is (I guess) 64 in your case, but you fed it tensors of shape (n, 25, 9). I'm guessing you did a mistake while creating the `train_x` variable.

[2018-03-02 17:04] gohugo commented on #17101
what cuDNN path variable ?

[2018-03-02 17:05] edgarriba commented on #16452
@YknZhu any plan to release a Pytorch version for that ?

[2018-03-02 17:12] droidresearch commented on #17369
+1

If you are installing it freshly for the first time
`install grpcio==1.9.1 tensorflow`
will work

If you are trying to upgrade tensorflow from existing version,
`pip install tensorflow==1.6.0`
will work

[2018-03-02 17:16] r0mainK commented on #17333
No, if you replace the values you'll understand what's happening.
For example, try this:  `elems = tf.constant(((10, 2, 3), (-10, 2, -1)), dtype=tf.int64)`
It will output `[ 20 -20]`.
As you can see, when using constants `map_fn` thinks you want to apply the lambda function to the vecors, not the matrix.  Not sure it's an expected behavior though.

[2018-03-02 17:33] YknZhu commented on #16452
Haha no plans yet ;) But helping hands welcome!

[2018-03-02 17:36] letarg0 commented on #254
whatt about Mali 400 and more and tensorflow

[2018-03-02 17:54] Mandrewoid opened #17382 "https://www.tensorflow.org/versions/r1.6/ Dead link on versions page"
On https://www.tensorflow.org/versions, there's a link to
https://www.tensorflow.org/versions/r1.6/
This link is 404

[2018-03-02 17:58] yongtang commented on #17210
@MtDersvan @cfregly Thanks for the info. Was on the road and had to do some other stuff so wasn't able to reply in time. But let me assign the issue to myself. I will take a look in the next several days.

[2018-03-02 18:23] ndbroadbent commented on #1922
I "fixed" it, but the original one actually looks better.

![fixed-tensorflow](https://user-images.githubusercontent.com/139536/36914932-81f1c7cc-1e81-11e8-81f9-b05382e81777.png)

[2018-03-02 18:39] angersson commented on #17354
If you believe you've found a bug, file another issue that clearly indicates the problem and includes replicate-able code and the other required information from [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new). Thanks!

[2018-03-02 18:40] petewarden commented on #16589
Sorry for the delay on this one! From a bit of digging, it looks like it may be related to this issue:
https://github.com/alexa/avs-device-sdk/issues/380

In that case, it was resolved with an explicit addition of -latomic to the linker stage. Can you try editing build_def.bzl to add that flag:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/build_def.bzl#L48
In `def t

[2018-03-02 19:38] zhiz21 opened #17383 "Performance dropped in cifar10 in TF 1.6.0 compiled with MKL"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04.3 LTS
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.6.0
- **Python version**: 2.7/3.6
- **Bazel version (if compiling from source)**: B

[2018-03-02 19:42] yaroslavvb commented on #17339
This artifact disappeared in 1.6 release

https://docs.google.com/document/d/1U3x2DwfXLMYU6hbSjmB8yqBtvEFXIndAIdH9iwYP7LI/edit#heading=h.wqwu9nnpvc4z

[2018-03-02 19:42] #17339 closed

[2018-03-02 20:05] #17284 closed

[2018-03-02 20:11] krishnan-prabhu commented on #17369
Thank you.

pip install grpcio==1.9.1 tensorflow worked for me.

[2018-03-02 20:42] mb73 opened #17384 "broken Qualcomm link on tensorflow.org"
On tensorflow.org there is a logo with a broken link to https://qualcomm.com/ (ERR_TIMED_OUT)
Looks like it should be https://www.qualcomm.com/

Sorry, if creating an issue was wrong, but I did not find any contact possibilities.

[2018-03-02 21:31] epivbg opened #17386 "Tensorflow 1.6.0 cpu fails on import on Windows 10"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No, problem appears on import (import tensorflow as tf).
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 x64
- **TensorFlow installed from (source or binary)**: binary (pip --no-cache-dir) install --upgrade tensorflow
- **TensorFlow version (use com

[2018-03-02 21:34] lucb commented on #12871
TF_CUDNN_USE_AUTOTUNE='0' will not work, it will use cuDNN function to retrieve the best algorithm. One solution I found was to support a new environment variable TF_CUDNN_CONVOLUTION_BWD_FILTER_ALGO_DETERMINISTIC='1' such that we only use cuDNN deterministic algorithms.

I did not measure the performance of this solution but I'm getting deterministic results for gradient computation of convolutio

[2018-03-02 21:59] shengc opened #17387 "[feature request] add higher order function `scanr`"
Have I written custom code: yes
OS Platform and Distribution: OSX 10.11.6
TensorFlow installed from: conda-forge
TensorFlow version: 1.5
Bazel version: N.A
CUDA/cuDNN version: N/A (CPU only)
GPU model and memory (CPU only)
Exact command to reproduce: N/A

Description:
TensorFlow has `foldl` which folds the array from first to last, and `foldr` which folds the array from last to first. It also has

[2018-03-02 22:04] maxbanas commented on #16862
Thanks, @Randl!

[2018-03-02 22:16] jin commented on #15322
NDK r16 supported has been merged into Bazel as of
https://github.com/bazelbuild/bazel/commit/39e4046dee0b201b411521c9560cfaffe5c6f6d3

[2018-03-02 22:21] mirh commented on #15204
[Found the actual cause](https://github.com/tensorflow/tensorflow/blob/d0a5d885d61b837018cb931a4d577289acc826fc/third_party/sycl/sycl/build_defs.bzl.tpl#L13)
Somebody screwed kinda hard.

@huoyushi can you reopen?

[2018-03-02 22:42] llchan opened #17388 "Inconsistent OMPI_SKIP_MPICXX define"
Looks like we `#define OMPI_SKIP_MPICXX` before `#include third_party/mpi/mpi.h` in two places:

https://github.com/tensorflow/tensorflow/blob/b79ce0029dce3264266ced739590bc238b17096c/tensorflow/contrib/mpi_collectives/kernels/ring.h#L32-L34
https://github.com/tensorflow/tensorflow/blob/b79ce0029dce3264266ced739590bc238b17096c/tensorflow/contrib/mpi_collectives/kernels/mpi_ops.cc#L36-L37

But it i

[2018-03-02 22:49] harvitronix commented on #9489
As @jeremy-rutman said, this is likely an out-of-memory issue. When I get this error, I can fix it every time by unplugging my external monitor. This frees up GPU memory immediately, and I'm then able to run predictions with TF. Another fix that seems to work is if I close my million Chrome tabs.

Note that running as root did not fix it for me.

[2018-03-02 22:50] recolgan opened #17389 "Documentation links for version 1.5 silently redirect to 1.6"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.5
- **Python version**: 3.5.2
- **Bazel version (if compiling from source)**: N/A

[2018-03-02 23:10] up-to-you opened #17390 "Full-fledged Java api roadmap?"
Are there any estimated plans for Java api development in terms of functionality ? The only absolute choice for Java language nowadays is Deeplearning4j, any plans to occupy a niche for Java language?
By the term "full-fledged" I mean: constructing a graph from scratch (including most common math function/operations, respectively), train CNN, test CNN, recognize the result, all of this using Java

[2018-03-02 23:15] lahwran commented on #16374
While I have previously contributed code to tensorflow, I am not an ongoing team member; I work for an unrelated company doing unrelated things, and my contributions to tensorflow have been trivial fixes to issues I noticed in my spare time. Please give the tensorflow team time to see this thread and work through the issue, and be aware that if you found me to ping, you probably also pinged other

[2018-03-02 23:49] lichunshang commented on #17333
Hmm, I read the source code and it checks if the input is a sequence. But this behaviour seems to be vaguely documented though.

[2018-03-03 00:16] angersson commented on #17382
@wolffg Can you look at this?

[2018-03-03 00:16] angersson commented on #17382
Also @gunan, just in case.

[2018-03-03 00:24] angersson commented on #17386
@gunan Can you take a look at this?

[2018-03-03 00:26] angersson commented on #17388
This seems like a pretty small / low-impact change, so I'll mark it as contributions welcome. Please feel free to prepare a PR.

[2018-03-03 00:28] gunan commented on #17386
This is interesting. Could you retry installing with "--ignore_installed" plus everything you had, just in case.

[2018-03-03 00:35] angersson commented on #17378
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not clear if this is a bug or a usage error. There is also a larger community that reads questions there.

If you've determined that this certainly a bug or bad documentation, please file another issue. Thanks!

[2018-03-03 00:35] #17378 closed

[2018-03-03 00:37] angersson commented on #17390
@asimshankar Can you comment on this?

[2018-03-03 00:39] angersson commented on #17374
@asimshankar Can you take a look at this?

[2018-03-03 00:49] bradezard131 commented on #17386
I also have this problem, exact same errors and outputs (except obviously my username instead of OPs). Installing with --ignore-installed doesn't change anything

[2018-03-03 00:52] asimshankar commented on #17374
@mixalturek : Thanks for the note and yes we'd like to make documentation and examples as clear as possible.

The examples referenced only fetch a single tensor, hence the list returned necessarily has a single element (and since that is referenced in the try-with-resources blocks, there is no leak). When the example is explicitly requesting a single tensor, the loop seems unnecessary.

Happy to h

[2018-03-03 00:59] angersson commented on #17368
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you have figured out something that you think should be in the docs, please file an issue or PR after you determine what it is you think needs to be included.

Thanks!

[2018-03-03 00:59] #17368 closed

[2018-03-03 01:06] angersson commented on #17372
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-03-03 01:06] #17372 closed

[2018-03-03 01:08] angersson commented on #17336
@alextp Can you look at this?

[2018-03-03 01:11] angersson commented on #17370
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-lite) since it is not a  bug or feature request. There is also a larger community that reads questions there.

If you can concretely identify a bug that is causing this, please file another issue.

Thanks!

[2018-03-03 01:11] #17370 closed

[2018-03-03 02:07] BKZero commented on #17375
i am sorry i am new to github and not familar to the issue editor, so the code block was mass.
now it is clear to read the code.

[2018-03-03 03:25] repentsinner commented on #17369
Just a heads up that a MacOS wheel for grpcio 1.10.0 is now on pypi as of today so the default TF dependencies (grpcio = "*") should work fine. Backed out the `grpcio = "1.9.1"` here and `pipenv` no longer fails to install TF.

See https://github.com/grpc/grpc/issues/14573 and https://pypi.python.org/pypi/grpcio/1.10.0

Thanks to @mehrdada for the quick work on resolving this!

[2018-03-03 03:36] anton-matosov commented on #10685
After taking a look at linux setup I decided not to bundle dylibs, as it is external binary dependency.
In case TensorFlow team decides to do so it can be done for both platforms.

[2018-03-03 03:50] #17333 closed

[2018-03-03 03:50] dchatterjee172 commented on #17104
@facaiy
Can you explain this operation?
https://github.com/facaiy/tensorflow/blob/006871750bb76dda4dfa65e0c707ca12e759d6f8/tensorflow/contrib/opt/python/training/adamax.py#L124
lr = (lr_t * math_ops.sqrt(1 - beta2_power) / (1 - beta1_power))
Is this required in adamax?

[2018-03-03 04:17] jcplus commented on #17217
Are there any x64 versions?

[2018-03-03 04:58] sdhhqb opened #17393 "import tensorflow failed, "ImportError: DLL load failed". Even after install visual studio 2015, Microsoft Visual C++ 2015 Redistributable Update 3."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: win10 x64
- **TensorFlow installed from (source or binary)**:  pip install --upgrade tensorflow
- **TensorFlow version (use command below)**: 1.6.0
- **Python version**: 3.6.4
- **Bazel version (if compiling f

[2018-03-03 06:27] thuojb commented on #17393
I'm also having the same issue. ANybody with a fix?

[2018-03-03 06:54] liavassif commented on #5987
@mixuala this approach should be used instead of slim.learning.train(). You should just run the for loop in the example in your main code in order to perform training/val. Similarly as done in the regular Tensorflow MNIST/CIFAR tutorials (well, at least in the old tutorials, now they are using something called an Estimator).

[2018-03-03 07:08] thuojb commented on #17393
Seems tensorflow 1.6 is the issue,
I installed 1.5 and it works just fine
try
pip install tensorflow==1.5

[2018-03-03 07:23] Lancerchiang commented on #8220
Hi I had the same issue today, but this problem can be resolved by putting `import tensorflow as tf` inside your worker function (and the result is well parallelised).

[2018-03-03 07:33] epivbg commented on #17386
No positive result on installing with --ignore-installed.

[2018-03-03 07:42] tastyminerals commented on #17378
"[How to use tf.nn.raw_rnn function in Tensorflow](https://stackoverflow.com/questions/49066695/how-to-use-tf-nn-raw-rnn-function-in-tensorflow)?" 18 views for the last 21 hours. I would not call it a large community :)

[2018-03-03 07:45] tensorflowbutler commented on #17387
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-03-03 07:45] tensorflowbutler commented on #17219
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-03-03 07:45] tensorflowbutler commented on #17221
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-03-03 07:45] tensorflowbutler commented on #17243
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-03-03 07:46] tensorflowbutler commented on #17257
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-03-03 07:46] tensorflowbutler commented on #17269
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-03-03 07:46] tensorflowbutler commented on #17275
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-03-03 07:46] tensorflowbutler commented on #17291
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
Exact command to reproduce

[2018-03-03 07:46] tensorflowbutler commented on #17301
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-03-03 07:46] tensorflowbutler commented on #17315
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-03-03 07:46] tensorflowbutler commented on #17317
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-03-03 07:46] tensorflowbutler commented on #17321
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-03-03 07:47] tensorflowbutler commented on #17327
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-03-03 07:47] tensorflowbutler commented on #17373
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-03-03 07:47] tensorflowbutler commented on #17377
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Exact command to reproduce

[2018-03-03 07:47] tensorflowbutler commented on #16468
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-03-03 07:47] tensorflowbutler commented on #16572
Nagging Assignee @itsmeolivia: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-03-03 07:47] tensorflowbutler commented on #16493
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-03-03 07:47] tensorflowbutler commented on #16497
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-03-03 07:47] tensorflowbutler commented on #16502
Nagging Assignee @andrewharp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-03-03 07:48] tensorflowbutler commented on #16504
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-03-03 07:48] tensorflowbutler commented on #16521
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-03-03 07:48] tensorflowbutler commented on #16522
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-03-03 07:48] tensorflowbutler commented on #16532
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-03-03 07:48] tensorflowbutler commented on #16535
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-03-03 07:48] tensorflowbutler commented on #16542
Nagging Assignee @alextp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-03-03 07:48] tensorflowbutler commented on #16545
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-03-03 07:49] tensorflowbutler commented on #16553
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-03-03 07:49] tensorflowbutler commented on #16555
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-03-03 07:49] tensorflowbutler commented on #16139
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-03-03 07:49] tensorflowbutler commented on #16138
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-03-03 07:49] tensorflowbutler commented on #16150
Nagging Assignee @caisq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-03-03 07:49] tensorflowbutler commented on #16182
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-03-03 07:49] tensorflowbutler commented on #16184
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-03-03 07:49] tensorflowbutler commented on #16197
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-03-03 07:50] tensorflowbutler commented on #16239
Nagging Assignee @chsigg: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-03-03 07:50] tensorflowbutler commented on #16466
Nagging Assignee @chihuahua: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-03-03 07:50] tensorflowbutler commented on #16327
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-03-03 07:50] tensorflowbutler commented on #16333
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-03-03 07:50] tensorflowbutler commented on #16343
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-03-03 07:50] tensorflowbutler commented on #16363
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-03-03 07:51] tensorflowbutler commented on #16390
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-03-03 07:51] tensorflowbutler commented on #16428
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-03-03 07:51] tensorflowbutler commented on #16461
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-03-03 07:51] tensorflowbutler commented on #16943
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-03-03 07:51] tensorflowbutler commented on #16919
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-03-03 07:51] tensorflowbutler commented on #16926
Nagging Assignee @jsimsa: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.