[2019-09-26 17:25] ymodak commented on #32814
You need to put the gpu configuration on top of your code.
[code]
Can you please confirm if this was the case? Thanks!

[2019-09-26 18:01] Enumaris commented on #32675
@kobenaxie Right, we are performing identical operations. After some debugging, it appears that the `tf.math.reduce_sum(output*scores, axis=1)` line takes up all the time actually. These are quite large tensors that need to be broadcasted and multiplied together then summed. But it is beyond my scope of knowledge to figure out how to optimize these operations.

[2019-09-26 18:26] ychen404 commented on #32520
@jvishnuvardhan
Sorry for the delay. I was working on some deadlines in the past week.
I tried on TF1.15.0rc1 as well. The issue persists.
Not quite sure what did you mean by "small standalone code". The code that shared in the gist can run out-of-the-box and everything is in one python fie.

[2019-09-26 18:27] mshlis commented on #32477
@bionicles yeah i noticed that, i shifted to use the functional api (as it works there) and explicitly creating the block i was using with BN, but i feel its still important this gets fixed given that higher level layer abstraction and model sub-classing are some of convenient interfaces of the framework

[2019-09-26 18:47] rsjain1978 commented on #31939
On my windows machine, I was facing same issue while running _pip install tensorflow==2.0.0-rc1_ though I was on latest version of pip and on 64-bit distribution for python.
Oddly enough, I face this issue when I am running the pip install inside a virtual environment. If i deactivate from my virtual env. I do not get this issue.

Will continue to investigate if I could find anything more.

Thanks

[2019-09-26 19:51] angerson commented on #32776
Just to be clear, you think this would be solved if our `./configure` script resolved symlinks, right?

[2019-09-26 19:53] michaelbenayoun commented on #31609
@mmmmayi I am currently facing the same issue, have you found a solution ?
Thanks !

[2019-09-26 19:59] ebrahimi-mr commented on #11756
To extend @LordBlackhawk's elegant solution for batched 2D logits, you just need to first tile the mask first:
`    mask = tf.tile(tf.expand_dims(mask,axis=0),[tf.shape(logits)[0],1,1])
`

[2019-09-26 20:15] fchollet commented on #32818
Hello,

It is unsafe to pickle a Keras model. Rather than doing this, consider using `model.save(path, format='tf')`, which will use the SavedModel format and which will also include the custom objects.

[2019-09-26 20:19] jvishnuvardhan commented on #32520
@ychen404 I checked the code and ran it for 1 iteration with `BATCH_SIZE = 32`. Code runs without any issues. Please check the output after i iteration.

[code]

You need to select optimum parameters for your configuration. I don't thing this is related to bug in TF. Please let us know what you think? As it is not related to TF, it is better to post in Stackoverflow where the issues like these wil

[2019-09-26 20:20] fchollet commented on #32783
Hello,

Gelu has about 100 hits on ArXiv and has been used in at least one popular model. Given that it would be easy to add and easy to maintain, we can definitely add it to `activations.py`. Feel free to open a PR and assign me as a reviewer.

[2019-09-26 20:37] rafariva commented on #19880
Hi, how do you fix this annoying problem? my image is between [0-255] (min 5, max 248), when interpole bicubic, it change between [no idea, to no idea] (and my min become -3 and max 260),
it loose the relationship, this NOT happen if us NEAREST_NEIGHBOR

[2019-09-26 20:40] fchollet commented on #32532
Hello,

Making the sklearn wrapper classes agnostic to input shape seems like a good idea. However the commit you link make many assumptions that wouldn't apply. Since these classes are meant for compatibility with sklearn, we should only support single Numpy arrays as input, since this is what sklearn supports.

[2019-09-26 20:47] ymodak commented on #32793
Can you print the output of  ```which nvcc```? This will give you cuda runtime version whereas ```nvidia-smi``` shows latest installed cuda driver version. Both can be different.

[2019-09-26 20:49] mihaimaruseac commented on #31939
@rsjain1978 Can you check if you have both 32 bits and 64 bits binaries in your system? It's very likely that somehow the virtualenv python is 32 bits.

Alternatively, you can compare output of `pip debug --verbose` outside and inside the virtualenv. That should point out these differences very quickly.

[2019-09-26 20:54] jvishnuvardhan commented on #32697
@isaacgerg Can you try running with TF1.15.0rc1 and check whether the issue persists or not? I will run on my windows laptop later and let you know. Thanks!

[2019-09-26 21:05] gowthamkpr commented on #32845
@spiegelss What browser are you using?

[2019-09-26 21:13] maithal commented on #31504
Did you get the problem resolved?

[2019-09-26 21:41] joker2017 commented on #30272
Same issue here with TF1.14 on Windows 10

[2019-09-26 21:44] codeyman opened #32849 "TFlite conversion of tf.keras model fails"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command below):v2.

[2019-09-26 21:59] jvishnuvardhan commented on #32774
I was able to reproduce the issue in `2.0.0rc2`. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/ecf15b48633de8064ea99a5834c523cc/32774.ipynb). Thanks!

Here is the error trace
[code]

[2019-09-26 22:04] shun-lin commented on #32793
Hi ymodak,

```which nvcc``` gives me the output ``` /usr/local/cuda/bin/nvcc```

and ```nvcc --version``` gives me the following output:

[code]

I hope this helps!

[2019-09-26 22:05] carlosg-m commented on #11756
I've just tried @LordBlackhawk solution that uses `tf.sparse.softmax`.  It's 2x slower than @bstriner's `np.inf` together with `sparse_softmax_cross_entropy_with_logits`.

Both solutions are very elegant and using them provided sharper convergence and lower loss since the labels are restricted. But none of them is faster than the standard `tf.nn.softmax`.

This is baffling to me since I’m using th

[2019-09-26 22:29] jvishnuvardhan commented on #32656
@fgr1986 I ran it in `2.0.0rc2` with GPU (as mentioned by you) and it runs without any issue. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/a2ee547861e319f66974c23e9c288927/advanced.ipynb).

Here is the error trace
[code]

If you set the default `dtype`  as `tf.keras.backend.set_floatx('float64')`, then the output is

[code]

Please close the issue if it was res

[2019-09-26 22:32] tanzhenyu commented on #32470
you can fix this by having the add_slot inside _create_slots:
def _create_slots(self, var_list):
  self.cool_period_slot = self.add_slot(self.cool_period, "cool_period")

But I do agree we should probably not error out in this case

[2019-09-26 22:40] jvishnuvardhan commented on #32800
@yunabe TF team is working on updating the website for future 2.0 release. [Here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/autograph/g3doc/reference/limitations.md) is the missing link.

[This `autograph.ipynb`](https://github.com/tensorflow/docs/blob/r2.0rc/site/en/guide/autograph.ipynb) has correct links. Thanks!

[2019-09-26 22:40] ymodak commented on #32759
To use the op in Python, See https://www.tensorflow.org/guide/extend/op#use_the_op_in_python
For invoking the op in c++, you may refer this [thread](https://stackoverflow.com/questions/50799510/how-to-run-custom-gpu-tensorflowop-from-c-code)

[2019-09-26 22:42] sgambient opened #32851 ""/device:GPU:0" or "/device:XLA_GPU:0" ?"
When XLA is enabled with  TF_XLA_FLAGS=--tf_xla_auto_jit=2, should I see "/device:GPU:0" or "/device:XLA_GPU:0" in  Tensorflow output ?

[2019-09-26 22:47] sanjoy commented on #32808
This is probably because of bad clustering decisions that is decreasing concurrency / overlapped execution.  Can you give us instructions on how to reproduce this?

CC @trentlo @cheshire @tpopp

[2019-09-26 22:53] dubey commented on #32810
Thanks for the report.  I'll look into this a bit more and get back to you.

[2019-09-26 22:56] yunabe commented on #32800
Do you mean we won't fix problems of exiting docs until tf2 is launched?

[2019-09-26 23:09] jvishnuvardhan commented on #32769
@BoysFight Can you provide a standalone code to reproduce the issue? Thanks!

[2019-09-26 23:12] talumbau commented on #32785
Hi, thanks for posting your run script and conversion  script. Could you attach the model you get from freeze_graph.py to this issue? I'm having trouble reproducing your exact error. Thanks!

[2019-09-26 23:14] gunan commented on #32064
Thank you very much for reporting this.
You are correct, the license file was missing in some of the distributables.
The fixes are merged into master. https://github.com/tensorflow/tensorflow/pull/32852 will fix this in 2.0 branch. https://github.com/tensorflow/tensorflow/pull/32853 will fix this in 1.15 branch. We will push new binaries with the fixes within 1 week.

[2019-09-26 23:15] jvishnuvardhan commented on #32800
@yunabe As you mentioned and I also checked source doc which was fixed already. But, TF team is working on updating the TF website. It will take some time to update all the links. Thanks!

[2019-09-26 23:33] sshrdp commented on #32081
ML Engine currently only supports estimator distributed training but not through tf.distribute.
The team is working on enabling that support soon. In the meantime you can add  this snippet to the beginning of your program:
  import json, os
  tf_config_json = json.loads(os.environ.get('TF_CONFIG', '{}'))
  if tf_config_json and tf_config_json['cluster'].get('master', None):
    tf_config_json['clu

[2019-09-26 23:42] Bakibiiiillah commented on #31504
I didn't get the problem resolve but I don't need to solve it now. You may
close the conversation. Thank

On Fri, Sep 27, 2019, 3:20 AM maithal <notifications@github.com> wrote:

[2019-09-26 23:49] #32731 closed

[2019-09-27 00:15] yunabe commented on #32588
According to the discussion of https://github.com/tensorflow/docs/pull/1044, it seems like that the live site won't be updated until TF2 launch.

I'm not very happy about the fact that TensoFlow guide aren't updated for a while though many people are interested to learn TF2.0. But I understand TF team is busy for TF2 releases.

I'm closing this bug because I added a tf.summary section to the new T

[2019-09-27 00:15] #32588 closed

[2019-09-27 00:18] trentlo commented on #32808
Looks like a similar issue as the description about the HorovodAllReduce nodes in this [report](https://docs.google.com/document/d/1q1UPN2CRRNBoUXM0zORT-cTG9m7ctQRB2xfUPhaK1Ek/edit?usp=sharing).

Wondering which model you are running? Is it with Horovod?

[2019-09-27 00:25] yunabe commented on #32800
I see. I'm not very happy about the fact that the website is frozen for months. But I understand the current status. Thank you for the advice, Vishnuvardhan.

BTW, when TF2 will be released? https://www.tensorflow.org/community/roadmap says *The official 2.0 release target is Q2 2019*.

Anyway, I'm closing this bug because there is no solution until TF2 is launched.

[2019-09-27 00:25] #32800 closed

[2019-09-27 00:41] mhong commented on #32454
TF runtime folks are looking into this bug. Will post updates here.

[2019-09-27 00:56] haozha111 commented on #31604
Hi,

DepthToSpace is added as built-in op recently into TF-Lite. Could you try run the conversion with the most recent tf-nightly build? Let me know if you encounter new issues, thanks!

[2019-09-27 01:00] spencerfrei commented on #28431
Hi, I've run into this issue as well.  In order to use sparse_image_warp() in a custom Keras layer, it throws an error because it is expecting numbers rather than dynamic tensor shapes (i.e. "None").  The error I received came from a similar chain:

  File "/home/ubuntu/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/tensorflow/contrib/image/python/ops/sparse_image_warp.py", line 185, in

[2019-09-27 01:04] eustomaqua commented on #32814
Yes, that's exactly what I did. Didn't work

[2019-09-27 01:14] sanjoy commented on #32271
Thank you for the graph dumps.  Unfortunately nothing obviously bad jumps out.

Can you try poking at the timeline TensorBoard generates: https://www.tensorflow.org/tensorboard/r2/tensorboard_profiling_keras to see if you spot anything unusual?

CC @jbaiocchi @zongweiz

[2019-09-27 01:22] eustomaqua commented on #32814
The codes I used is here [AdaNet](https://github.com/tensorflow/adanet), to be specific, the codes I got by "pip install adanet==0.5.0". Since AdaNet has been updated, AdaNet 0.5.0 will have some differences, compared with [AdaNet](https://github.com/tensorflow/adanet).

Besides, I changed all the original "sess = tf.Session()" inside to "config, ... , sess=tf.Session()". The files involving "tf.S

[2019-09-27 01:27] jingxu10 commented on #30475
Hi
Thanks for the quick fix.
I'll share your fix to dev team.
Thank you.

[2019-09-27 01:29] jingxu10 commented on #30898
May I know the reason why you don't use bazel?

[2019-09-27 01:37] eustomaqua commented on #32814
As for the examples I tried, it refers to [A Simple Example using AdaNet](https://github.com/tensorflow/adanet/blob/master/adanet/examples/tutorials/customizing_adanet.ipynb)

Please modify some of them as follows:
[code]

[2019-09-27 01:44] zhuhong commented on #32808
hi，trentlo；
1. I find this phenomenon using horovod and also in tensorflow distributed strategy.
2. I find this phenomenon training resnet50 and also bert-large squad.
So, I think this is a XLA internal issue.

[2019-09-27 02:15] baqwas opened #32855 "Hash mismatch"
<em>Cannot install tensorflow on Raspberry Pi 0W v1.3 owing to hash mismatch. tag:bug_template</em>

**System information**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Raspbian Buster
- TensorFlow installed from (source or binary): using pip
- TensorFlow version (use command below): n/a; not installed yet
- Python version: 3.7

**Describe the current behavior**
Hash mismatch for
ht

[2019-09-27 02:46] alanpurple commented on #32602
successfully build tensorflow 2.0 GA with tensorrt6

looks resolved

[2019-09-27 02:46] #32602 closed

[2019-09-27 02:48] datdinhquoc commented on #32383
I face this error `Bad argument number for Name: 3, expecting 4` too.
It happens to me when using this on Colab:

[code]

It works when using:

[code]

[2019-09-27 02:53] momo1986 commented on #32802
Same problem when I refer to some Keras MobileNetv3 customed model for tf-lite transorfmation:

The code is defined in this repository:
https://github.com/xiaochus/MobileNetV3

[code]

I try to import the header file, e.g.
`from mobilenetv3_model.mobilenet_base import MobileNetBase`

Failure to tf-lite transformation.

It looks same with the problem of efficientnet model, tf-lite authorities do no

[2019-09-27 03:03] zhuhong commented on #32808
Hi, trentlo

using nvcr.io/nvidia/tensorflow:19.03-py3  + tf_benchmark 1.13 + resnet50 or other cnn models + xla

[2019-09-27 03:17] dzungtx commented on #32725
I also have the same issue

[2019-09-27 03:20] 7oud commented on #32759
@ymodak yes, it is worked when using python, but how to invoke the op in C++ is not solved in your link. In short, when you add and register an op, there is no header file to include, how to call the op function, maybe parsed in `TF_GetOpList`, but no clear doc or example for that

[2019-09-27 03:23] ziyigogogo commented on #31870
Yes if the team think the change was on purpose.

For my previous user case, accept the param passed by argparse like this:

[code]
In tf2.0-beta1, i can do things like this, but now due to the change i should re-orgnize my previous code. That's not a big deal, just want some confirmation from you guys since the change is not mentioned in any document. @mihaimaruseac

[2019-09-27 03:29] Jasonnor commented on #32603
Hi @nfelt, thanks for the reply, but I still get same problem after change scalar name `train` to `train_acc` and `train_f1_score` or something else without same name.
![image](https://user-images.githubusercontent.com/7609173/65739989-d70e9580-e119-11e9-916f-1f87bc11d7ac.png)

Looks like a bug of summary in custom loss/metrics function with model_to_estimator.

[2019-09-27 03:38] themightyoarfish commented on #30898
Because it's generally a pain to install the correct version, and none of my knowledge transfers to it. I find it lamentable that such an important project does not have a build process which works easily on all systems.

[2019-09-27 03:38] allangelman commented on #32701
I just updated my comment with the link to the repo I am trying to run, and the code snippet where I know it is seg faulting! Thank you!

[2019-09-27 04:04] tobyclh opened #32857 "TFLite Reshape not supporting resizeInputTensor with -1"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-09-27 04:20] jingxu10 commented on #30898
Hi, this issue seems not to be Intel specific, but about compiling of TF. I would suggest other experts to share ideas.

[2019-09-27 04:27] devitnow15 opened #32858 "when will tensor flow support python3.7 ?"
when will tenor flow support python 3.7 ? tried the installation with 2.0 , which also does not support python 3.7.

[2019-09-27 04:44] gadagashwini commented on #28431
@spencerfrei , Please post a new issue and provide all the information asked by the [template](https://github.com/tensorflow/tensorflow/issues/new/choose). The reason for this is we can focus on your specific configuration and problem since the root cause can be unrelated even though the error messages are similar. Thanks!

[2019-09-27 04:45] AkashNagaraj commented on #32842
Try this on top-
**tf.enable_eager_execution()**

[2019-09-27 05:02] oanush commented on #32842
@Efaq ,
Can you try @AkashNagaraj solution? Thanks!

[2019-09-27 05:02] WingsBrokenAngel opened #32859 "Warming tensorflow: Entity could not be transformed and will be executed as-is."
**System information**
- Custom layers of tf.layer.Layers
- Linux Ubuntu 16.04)
- TensorFlow installed from: Conda
- TensorFlow version: 1.14
- Python version: 3.7
- CUDA/cuDNN version: 10.0.130/7.6.0
- GPU model and memory: Nvidia TitanX 1080Ti, 12GB

**a Snippet of Error message**

[error.log](https://github.com/tensorflow/tensorflow/files/3660952/error.log)
**Describe the expected behavior**
Th

[2019-09-27 05:11] gadagashwini commented on #32830
@WestbrookZero,
Provide the exact sequence of commands / steps that you executed before running into the problem. Thanks!

[2019-09-27 05:29] oanush commented on #32832
@liakopyangsir ,
Provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2019-09-27 05:30] gadagashwini commented on #32831
@LiyuCode, Thanks for reporting this issue.
Could you try compiling with CUDA 10.0.
Please take a look at [software requirements](https://www.tensorflow.org/install/gpu#software_requirements). Thanks!

[2019-09-27 05:37] gd12345 commented on #32609
Request a reply on this. Will tensor-forest be supported in tensor-flow lite?

[2019-09-27 05:40] bearsroom commented on #32653
Updates: I've tested my codes in TF 2.0 version. The saving time reduced from at least 10 mins to about 3 mins, which is acceptable but still has room for improvement. I'll update a minimal reproducible example later.

[2019-09-27 05:44] ravikyram commented on #32841
Can you please help us in providing full code along with TF_CONFIG to reproduce the issue in our environment.Thanks!

[2019-09-27 05:54] ravikyram commented on #32836
Can you please provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2019-09-27 06:05] ravikyram commented on #32858
@devitnow15

Please, go through #32718 and see if it helps you. Thanks!

[2019-09-27 06:05] mmmmayi opened #32863 "save and recover problem in TensorFlow"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 18.04.2
- TensorFlow version:1.14.0
- Python version:3.6.9
- Installed using virtualenv? pip? conda?:conda
- CUDA/cuDNN version:7/10

**Describe the problem**
I try to save the model by Saver.save(), and then use restore to recover the model, but with I get the same results acculated from the save file ev

[2019-09-27 06:05] Ahwar commented on #24491
I have a question Can't The people who are working on tensorflow see these errors.
I have never seen any tensorflow team member commenting on these issues.
Obviously they have better knowledge about these issues

[2019-09-27 06:06] gadagashwini commented on #32837
@kvanhoey, Thanks for reporting this issue.
I could reproduce the reported issue in TF1.x. Its fixed in TF 2.0.0rc2.
Please take a look at colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/2ae2a31571acc201572fb9fa4e15e66c/untitled166.ipynb). You might want to give it a try instead. Thanks!

[2019-09-27 06:09] gadagashwini commented on #32839
@kartik4949, In order to expedite the trouble-shooting process, please provide a standalone code to reproduce the issue reported here. Thanks!

[2019-09-27 06:11] oanush commented on #32833
@calciver ,
I tried executing the tutorial using TF-2.0rc2 and it worked fine. Kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/621fbdbda1301e9e3ffeb4479916583e/untitled11.ipynb) of colab.Thanks!

[2019-09-27 06:22] oanush commented on #32791
Thank you for updating the code,Issue replicating for TF-1.14 and TF-1.15rc1, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/d7823c31df1fdad9513663c91ee07528/32791.ipynb) of colab.Thanks!

[2019-09-27 06:23] kartik4949 commented on #32839
[code]

[2019-09-27 06:25] kartik4949 commented on #32839
[code]

[2019-09-27 06:51] iperov opened #32864 "BatchNormalization update ops with gradient tape"
how to update moving mean and moving var in each BatchNormalization layer in gradient tape mode?

[2019-09-27 06:54] devitnow15 commented on #32858
As given in #32718 , tried pip3 install tensorflow==2.0.0rc2 , it does not work.
I am using windows10 with Pythin 3.7 , is this issue fixed for windows in tensorflow2.0 or is this fixed only for mac ?

[2019-09-27 06:55] Saptarshi-Ghosh-98 commented on #32858
tf rc2 is available for py 3.7. What's your pip version?

[2019-09-27 07:12] devitnow15 commented on #32858
using 19.2.3. , please view the attachment
![tensor_flow](https://user-images.githubusercontent.com/55172847/65749660-28bc1d80-e124-11e9-9f45-ef68c6109a86.PNG)

[2019-09-27 07:16] iperov commented on #32864
solved:

batch normalization layer should be called with argument *training=True*

[2019-09-27 07:17] #32864 closed

[2019-09-27 07:18] xiaojiangwangjiang commented on #29489
I have the same problem.can you help me ?
problem:
tensorflow.python.framework.errors_impl.InvalidArgumentError: Incompatible shapes: [50,3] vs. [3000,3]
[[{{node training/Adam/gradients/loss/dense_1_loss/mul_grad/BroadcastGradientArgs}}]]
#3000 is my total text number
# batch_size = 50

code:

sentence_input = Input(shape=(1000,), dtype='int32')
embedded_sequences = embedding_layer(sentence_input

[2019-09-27 07:20] xiaojiangwangjiang commented on #29489
I have the same problem.can you help me ?
problem:
tensorflow.python.framework.errors_impl.InvalidArgumentError: Incompatible shapes: [50,3] vs. [3000,3]
[[{{node training/Adam/gradients/loss/dense_1_loss/mul_grad/BroadcastGradientArgs}}]]
#3000 is my total text number
#batch_size =50

code:

sentence_input = Input(shape=(1000,), dtype='int32')
embedded_sequences = embedding_layer(sentence_input)

[2019-09-27 07:31] guptapriya commented on #32653
Thank you for the update, good to know it's better with 2.0. Can you compare the numbers with and without batch norm? 3 mins might still be too much if it's primarily coming from batch norm. If you have NCCL then it should not be taking that long (how much is your step time? There is typically gradient aggregation happening at each step so I suspect that would be slow as well, if the sync at the e

[2019-09-27 07:44] simoncozens opened #32865 "fit_generator validation steps running on CPU?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, see below.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Nvidia L4T 32.2.1 (based on Ubuntu 18.04) running on Jetson Nano
- TensorFlow installed from (source or binary): binary from Nvidia Jetson repo.
- TensorFlow version (use command below): unknown 1.14.0 (Al

[2019-09-27 07:46] Saptarshi-Ghosh-98 commented on #32858
Is that 32-bit python? Tensorflow 2 is available for only 64-bit python.

[2019-09-27 07:47] MaryRodina commented on #32647
Hi !
when i created standalone code (analog our production code), i get such error :
[code]
so i can't get error exactly same in start topic.

Standalone code for this example:
[code]
here you can see convolutional for tensor [10,128,128,9] -> [10,128,128,32]->[10,128,128,3] doesn't work.

[2019-09-27 08:07] ArtemisZGL commented on #32725
i found the reason of my problem is because when two tensors subtract using broadcast. but if the tensor dim is smaller than 5, this problem will not occur. Once the tensor dim is larger than 4, it can't use broadcast or will be broken. But when i try to use tf.tile to avoid using broadcast, the tflite will move this tile node from the graph, may be it's where the reason from.

[2019-09-27 08:07] #32725 closed

[2019-09-27 08:13] xxxzhi commented on #32836
well, I just try to merge two branch (ResNet50) to construct new loss. And then, it will run into the problem occasionally. My program will continue to run even though running into that problem.

here is my peseude code:

      with sess.graph.as_default(), tf.device('/cpu:0'):

            for i in range(2):
                gpu_idx = i
                if len(os.environ['CUDA_VISIBLE_DEVICES'].spl

[2019-09-27 08:22] #32863 closed

[2019-09-27 08:29] Efaq commented on #32842
@AkashNagaraj @oanush Tried it now, and I'm getting:

[code]

I'm in Tensorflow 2.0 rc2, so I supposed the eager execution would be enabled by default. Shouldn't it be the case?

Also,` tf.executing_eagerly()` returns `True`, what would make me believe that I'm already in eager execution.

Thank you for the help!

[2019-09-27 08:30] Efaq commented on #32842
@oanush just noticed that you labeled this issue as **rc0**, while I have the version **v2.0.0-rc1-51-g2646d23074 2.0.0-rc2**

[2019-09-27 08:30] fgr1986 commented on #32656
Yeap, rc2 worked nicely.
Thanks

[2019-09-27 08:30] #32656 closed

[2019-09-27 08:33] zxj11838 opened #32866 "The use of tflite Model of C3D Network in Android"
I use a model of C3D network training to convert to a tflite format;
use in the android project available at:
https://github.com/tensorflow/examples/tree/master/lite/examples/image_classification/android
The following question arises: is android not currently supported Con3D? 5D data?

E/tensorflow: CameraActivity: Exception!
    java.lang.IllegalStateException: Internal error: Unexpected failure

[2019-09-27 08:47] gadagashwini commented on #32839
@kartik4949, Thanks for providing the full code. I could replicate the issue on colab. Please see the [gist here](https://colab.sandbox.google.com/gist/gadagashwini/747ad1d17997ca02678ce45dcee2cc26/untitled167.ipynb). Thanks!

[2019-09-27 08:56] anhmeow opened #32868 "Combo TPU/TFRecords for model.evaluate is not working"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 1.14
- Python version: 3.6.8
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling fro

[2019-09-27 09:09] guptapriya commented on #32769
+1. Complete code to repro would be helpful in debugging this further.
The stack trace above is confusing because it seems like it is from TF 2.0, but also seems to be using TF session which is only a 1.x thing. Can you confirm if the stack trace if from 2.0 rc1?

[2019-09-27 09:10] kartik4949 commented on #32839
Sweet!
I think i will solve it!
Im Re-Designing it by making class function to Seperate classes with inheriting (tf.keras.Models)!

So basically ill make keras block and do the If statement there inside the class!
Hope it will Work ill Upload the working in few hours!!!!!

[2019-09-27 09:15] devitnow15 commented on #32858
Thanks for pointing out , it worked.

[2019-09-27 09:15] #32858 closed

[2019-09-27 09:16] #32592 closed

[2019-09-27 09:21] ravikyram commented on #32647
I have tried on colab with TF version 2.0.rc0,2.0.0-rc2  and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/c1171a6578fe3ab1dc77a2170d4086ca/untitled228.ipynb).Thanks!

[2019-09-27 09:21] mpdn opened #32869 "sparse_categorical_crossentropy does not use underlying logits of tf.keras.layers.Softmax"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.0.0-rc0
- Python version: 3.6

**Describe the current behavior**
As per the comment in `sparse_categorical_crosse

[2019-09-27 09:29] calciver commented on #32833
Thanks, that helped. Glad to know this was resolved in TF-2.0rc2.
Hope google colab supports the latest version of TF 2.0 in time.

[2019-09-27 09:29] #32833 closed

[2019-09-27 09:33] noctune commented on #32869
This seems to have an absolutely HUGE impact on my models. I *really* recommend anyone using `tf.keras.layers.Softmax` to use `tf.nn.softmax` instead until this issue is fixed.

[2019-09-27 09:36] dahliau opened #32870 "No gradient defined for operation 'ExtractVolumePatches'"
I saw it already been solved for images but it still hasn't been solved for 3D volumes.

The ExtractImagePatches solution:
https://github.com/tensorflow/tensorflow/issues/2921

I'm using tf 1.12 and get the following message:
LookupError: No gradient defined for operation 'gpu_0/local_z_3d/EXTRACT_LOCAL_Z' (op type: ExtractVolumePatches)

[2019-09-27 09:39] stakemura commented on #32038
I confirmed TFLite benchmark tool supported OpenCL delegate by 7bb0ace8572de53c0409f120c7faf5fa55a777b7.
Thanks.

However [CI script](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/Dockerfile.android) is still using old Android NDK r17c. Would you like to update this Dockerfile?

[2019-09-27 09:50] MaryRodina commented on #32647
Please, excuse me i broken result of first paragraph in your Jupyter, i did it accidentally !
I think, for reproduce this error you must have identically versions of cuda/cudann, isn't it?

Nevertheless, you can see what it doesn't work, because world "iteration" must print 5 times (dataset has 10 record - 5 batch with 2 records), but "iteration" prints only 1 time.

[2019-09-27 09:58] Efaq commented on #25369
I wonder if there are any news regarding that, and specifically regarding TF Transform together with the new Tensorflow 2.0. The functionality in TFT is quite important to produce well-structured preprocessing steps without leaking info between train and validation/test set.

On the other hand, anyone who know about a nice approach to replace TFT for the while?

Thanks

[2019-09-27 10:13] ravikyram commented on #32819
I have tried on colab with TF version 1.15.0-rc0,1.15.0-rc1 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/608e6fcff91f3b80d8025f7f9c4876f6/untitled231.ipynb). Thanks!

[2019-09-27 10:21] Jar7 opened #32872 "In batching.map_and_batch, is map_fn for each sample build by random order?"
Hi,
I meet the difficulty to reproduce the result with fixed random_seed.
tf.set_random_seed(0) is set before building a graph, for each run (rerun the script without modifying the codes), samples (after shuffle) are feed into network by the same order. But the output of `tf.image.random_flip_left_right` in `map_fn` in `batching.map_and_batch` still produce random flip image.  **In short, same inp

[2019-09-27 10:26] owainkenwayucl commented on #32776
I think so.  However it works it out, it needs to be consistent with how Bazel writes its rules (which I'm really not an expert in!).

[2019-09-27 10:27] kartik4949 commented on #32839
Sweet!
i tried like everything to make it work!

[2019-09-27 10:37] IvanUkhov commented on #32819
I have an idea of how it could be fixed, and I will try to explore it in #32847.

[2019-09-27 10:40] vmarkovtsev commented on #32654
@guptapriya Can you please build me a wheel that I can install? Compiling TF from the source with some additional hacks is so error-prone and hard for me.

[2019-09-27 10:53] andcarnivorous commented on #32629
Same issue here

[2019-09-27 10:57] kartik4949 commented on #32839
[code]

IS THIS GOOD??

THIS IS THE ONLY WORKING SOLUTION I CAN MAKE AT THIS MOMENT
SO BASICALLY IS MADE COMPOSITION LAYERS CLASSES RATHER THAN FUNCTION AS PREVIOUS
AND I MADE THEM AS SPERATE MODEL!
PLEASE REVIEW THEM!
,THANKS.

[2019-09-27 11:07] nikitos9000 opened #32873 "XLA bug w/ Keras: "Node name contains invalid characters""
**System information**
- Have I written custom code: yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): tensorflow-gpu==1.14.0+nv
- Python version: 3.6.8
- CUDA/cuDNN version: 10.1
- GPU model and memory: RTX 2080 Ti, NVIDIA Driver 418.43

**Describe the current behavior**

Shows

[2019-09-27 11:07] OuHangKresnik commented on #32781
The context is then using GPU, this optimization seems to be not happening

[2019-09-27 11:14] vmarkovtsev commented on #32654
@guptapriya This is the log I get on `tf-nightly-gpu-2.0-preview==2.0.0.dev20190927`:

[code]

\<nothing is printed to the terminal after that\>

[2019-09-27 11:16] kvanhoey commented on #32837
Thank you for getting back to me. Glad it's fixed in 2.0.
I have a big project that I don't want to move to TF 2.0 yet, so I'll stay with my workaround (reshape first, then tf.norm on one dimension only).

[2019-09-27 11:16] #32837 closed

[2019-09-27 11:36] vmarkovtsev commented on #32654
`bt` of the threads which have "nccl" in `bt`:

[code]

[2019-09-27 11:48] vmarkovtsev commented on #32654
Indeed the hang happens there, I put a breakpoint at `ncclAllReduce` and see this:

[code]

\<nothing happens, we do not return\>

[2019-09-27 11:49] Karinsapple opened #32874 "scientific research on the evaluation of Tensorflow"
Hello, everyone!
We are students from Linkoping University, Sweden. We are doing research on evaluation of Tensorflow, so we need help!
There is a questionnaire we need you to answer! Just 1-2 minutes!
Thank you so much for your patience and kindness!

https://docs.google.com/forms/d/e/1FAIpQLSfvqIUxxI5mm82dr_M8Ja7y_eGG0mqXzfCLQ0c6ehjqSjAQkA/viewform?usp=sf_link

[2019-09-27 12:19] shahriar49 commented on #32841
@ravikyram
Thanks. The above is the full code. Just add below TF_CONFIG definition (replacing ... with your ip addresses and selecting any of chief/worker/ps according to the server):

[code]

[2019-09-27 12:29] hagianga21 opened #32875 "tf.keras.metrics.MeanIoU have some conflicts with sparse_categorical_crossentropy"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.0 RC
- Python

[2019-09-27 12:32] tensorflowbutler commented on #31945
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-09-27 12:36] hagianga21 commented on #32875
Invalid argument:  Shapes of all inputs must match: values[0].shape = [131072] != values[1].shape = [2621440]

[2019-09-27 12:37] fferroni commented on #32778
Seems to work appropriately in 1.15. Thanks!

[2019-09-27 12:37] #32778 closed

[2019-09-27 12:41] spiegelss commented on #32845
I am using firefox.  I will check if it's my ad block.  I forgot I had that on.

[2019-09-27 13:12] lei6315 opened #32876 "How to use estimator predict on multi machine, predict run on every worker?"

[2019-09-27 13:49] jackd opened #32877 "matmul / matvec / einsum bug when dim exceeds 2**16"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 16.04**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below): git: **v1.12.1-9365-gff401a6** tf: **1.15.0-dev20190821**
- Python version: 3.6.8
- CUDA/cuD

[2019-09-27 14:01] NEGU93 commented on #3348
Just some thought I have been given lately. Another (more compressed) way to write tensorflow's definition of the gradient is: `2*dreal(f) / dconj(z)`.

[2019-09-27 14:28] jiawei6636 opened #32878 "Iembedding projector"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-09-27 14:28] #32878 closed

[2019-09-27 14:30] jiawei6636 opened #32879 "I want a example code to use the embedding projector in tensorboard by tensorflow-2.0."
I want a example code to use the embedding projector in tensorboard by tensorflow-2.0.

[2019-09-27 15:24] MarkDaoust commented on #32528
We're not going to go back and fit the 1.14 and older docs. But this is fixed in 1.15+. The fix will be published early next week.

[2019-09-27 15:24] #32528 closed

[2019-09-27 15:34] mihaimaruseac commented on #32731
The messages there are just information log messages. They can be hidden.

[2019-09-27 15:34] mihaimaruseac commented on #31870
I think it is some side effect on the interaction between absl and tensorflow.

[2019-09-27 15:48] mihaimaruseac commented on #30898
This came now to my eyes.

Two things: makefile build is no longer supported (since at least months ago). Also, recently we removed contrib as it won't be available in 2.0.

I think it would be best to try using Bazel. `./configure.py` has the versioning information at the top:

https://github.com/tensorflow/tensorflow/blob/250a5d47828aa229857266d59b32314bda79bcb3/configure.py#L52-L53

Once you st

[2019-09-27 15:58] WindQAQ commented on #32783
Hi @fchollet, greetings from SIG-Addons. Addons has already had C++/CUDA kernel for gelu activation, which is much faster than Python op. We would like to migrate our implementation to core. Wonder if we should issue a PR for `tf.nn.gelu` first or put all things into one? Thanks!

https://github.com/tensorflow/addons/blob/master/tensorflow_addons/custom_ops/activations/cc/kernels/gelu_op.h
https:/

[2019-09-27 16:19] cupdike commented on #32104
There seems to be a significant slowdown **generally** when using TF2 fit_generator.  It seems to be around a 3x slowdown in my own code between TF1 and TF2.  It is easy to reproduce using the "Transfer Learning with TFHub" example from the TF2 official tutorials on Collab:  https://www.tensorflow.org/beta/tutorials/images/hub_with_keras

To reproduce it, all I did was change model.fit to model.fi

[2019-09-27 16:21] jdduke commented on #32866
Many of our kernels are optimized for 4D cases, and may not support 5D. Quite frequently we see 5D models that really don't need 5D, and can be reduced to 4D when authoring. Can you provide a link to your model?

[2019-09-27 16:34] #32570 closed

[2019-09-27 17:03] haozha111 commented on #32609
Hi gd12345,

I checked that the missing ops 'TreePredictionsV4' is under tensorflow/contrib directory, unfortunately this op can't be supported by TF Lite right now. Could you manage to find a replacement for the op outside of contrib/? (since contrib is going to be deprecated).

[2019-09-27 17:06] durandg12 opened #32880 "deprecation warning when training a simple embedding with custom function"
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.13.6
- TensorFlow installed from (source or binary): pip install tensorflow==2.0.0-beta1
- TensorFlow version (use command below): v2.0.0-beta1-5101-gc75bb66a99 2.0.0-rc0
- Python version: v3.6.7:6ec5cf24b7, Oct 20 2018, 03:02:14

[2019-09-27 17:15] kirk86 commented on #24496
I had the same issue with 1080Ti & TitanX on TF1.4 and the suggestions from @va-andrew and @oscarlinux saved the day!

[2019-09-27 17:16] gd12345 commented on #32609
How to manage it outside contrib?

What is the alternative of tensor forest in TFLite?

On Fri 27 Sep, 2019, 22:39 Haoliang Zhang, <notifications@github.com> wrote:

[2019-09-27 17:20] iperov opened #32881 "Tensorflow device indexes mismatch with nvidia-smi"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.0rc1
- Python version: 3.7.4
- CUDA/cuDNN version: 10.0 / 7.6.0
- GPU model and memory: RTX 2080 TI  11GB

**Describe the current behavior**

I have two gpus.
My code is designed to determine GPUs info and their

[2019-09-27 17:26] oliverhu commented on #32539
I run into the same issue as well, @jvishnuvardhan could you refer a related commit so we could try it out?

[2019-09-27 17:43] #32043 closed

[2019-09-27 17:43] frankchn commented on #31687
Closing issue for now, feel free to reopen.

[2019-09-27 17:43] #31687 closed

[2019-09-27 17:54] jvishnuvardhan commented on #32748
@dovahcrow @tf.function on any defined function allows it to retrace the function when necessary to generate the correct graphs.

I think your intention is not to control and trace the graph. In that case, you could use the following code

[code]

Please check the resource [here](https://www.tensorflow.org/beta/tutorials/eager/tf_function#when_to_retrace) for more details on the retrace.

[2019-09-27 18:06] mrry commented on #23506
The self-check functions are once again available in the latest versions of TensorFlow (1.15 / 2.0), so please try again with a more recent version, and open a new issue if they don't work.

[2019-09-27 18:06] #23506 closed

[2019-09-27 18:08] rb-determined-ai commented on #29937
@ymodak I have confirmed that the bug is not fixed with TF 1.15.0-rc1.  These were the steps I took to reproduce:

[code]

This is my output (same as before, the line `"done restoring"` never prints):
[code]

[2019-09-27 18:25] adkoadko opened #32884 "tf.image.extract_patches bug - incorrect values"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
docker built from tensorflow/tensorflow:2.0.0rc0-gpu-py3
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
docker built fr

[2019-09-27 19:47] angerson commented on #32835
(Assigning to @hlopko to detach this issue from our auto-assignment pipeline. Thanks for tracking this!)

[2019-09-27 19:54] impjdi commented on #32038
Oops.  Apologies.  Somehow, this issue completely dropped off my radar.

We were holding on to an announcement, waiting for the delegate to get ready.  I think we're pretty close (the code is actually in), and we might do another blog post, before TF World :)

[2019-09-27 20:01] gowthamkpr commented on #32880
Was able to reproduce the issue. The github gist is [here](https://colab.sandbox.google.com/gist/gowthamkpr/3b8b4b959ee44861ce8c20c3ff399559/untitled150.ipynb)

[2019-09-27 20:23] #25828 closed

[2019-09-27 20:27] fchollet commented on #32774
Unassigning, as I have no context on complex variable support. Sorry.

[2019-09-27 20:50] wchargin commented on #32621
Estimator nightly packages now seem to be versioned as 2.x, which should
be sufficient for Pip to install the right things in the future. Thanks!

[2019-09-27 20:50] #32621 closed

[2019-09-27 20:57] wchargin opened #32885 "When importing TensorFlow, error loading Hadoop"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-09-27 21:04] TimCapes commented on #32785
Changed name from .pbtxt to .txt because of unsupported file format. Uploaded.
[freeze_graph.txt](https://github.com/tensorflow/tensorflow/files/3664520/freeze_graph.txt)

[2019-09-27 21:11] samhodge commented on #32128
A response would be great

[2019-09-27 21:53] ziofil commented on #32774
@fchollet what do you mean by context?

[2019-09-27 22:04] dovahcrow commented on #32748
@jvishnuvardhan Hi, I don't think this is because of the misuse of the API.
First, by changing the code piece to
[code]
Tensorflow will raise the error I reported. In this case Tensorflow is disallowing my redefining the variable which is totally a legal operation in Python. This is very unexpected and super hard to debug when happened in a large codebase (in my case I spent 5 hours to reduce thou

[2019-09-27 22:20] qlzh727 commented on #32662
The issue was recently fixed in https://github.com/tensorflow/tensorflow/commit/498e815097e74aff7fefdbbae69ba9daf6e9c023, but we haven't cherrypick it into 2.0 rc yet. I verified the code against nightly and it works.

Could you try to save it as tf format as a workaround?

[2019-09-27 22:20] #32662 closed

[2019-09-27 22:31] elizabethsiegle opened #32886 "image classification code sample error"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://www.tensorflow.org/beta

[2019-09-27 22:49] jvishnuvardhan commented on #32234
@julyrashchenko Can you try `!pip install -q tf-nightly-gpu-2.0-preview` and let us know. With `tf-nightly` my output looks little different. ~100 MB per 100 iterations doesn't look bad i guess. @aaroey will know better. You could also delete those `imported` models. Thanks!

[code]

[2019-09-27 23:06] isaacgerg commented on #32697
@jvishnuvardhan When i run with tf 1.15.0rc1 I get the following error.  I likely need a newer version of cuda or cudnn (or both) with this version of tf.  Unfortunatly, I cannot upgrade at this time.

[code]

[2019-09-27 23:11] ymodak commented on #32755
I was able to reproduce the error reported in TF 2.0 nightly version ```'2.0.0-dev20190924'```
[code]

[2019-09-28 00:05] jsimsa commented on #32454
The bad news:

The problem here is that use of `tf.function` inside of a `py_function` inside of a `tf.function` (introduced by tf.data around `dataset_map`). The current TensorFlow runtime will need two interop threadpool threads (one for the outer `tf.function` and another for the inner `tf.function`) to execute such function and if N such functions are scheduled for execution concurrently, then

[2019-09-28 00:15] #32470 closed

[2019-09-28 00:27] talumbau commented on #32785
Hi I believe the problem is that your bias vectors were one dimension row vectors instead of two dimensional vectors of size (128, 1) for b1 and (10, 1) for b2. I made this change and re-ran your script, converted with freeze_graph, and then the model was able to successfully convert with TF Lite. Here is the code:

https://gist.github.com/talumbau/042ee5b278b4f73229333f6baf427bbe

[2019-09-28 01:02] SmileTM commented on #26418
@jvishnuvardhan you are right.  I have succeeded to build TF2.0 with CUDA9 and cudnn6.7  from source. Now it's working grateful. Thanks.

[2019-09-28 04:02] makercob commented on #32454
@jsimsa Provided code above is just an example to replicate the issue.
My actual data input pipeline as follows:
Step 1. read image and ROIs from database (in tf.py_function).
Step 2. predicate and process ROIs (wished to done with tf.function in hope for performance gain).
Step 3. augment the image and ROIs with OpenCV(in tf.py_function).
tf.functions in step 2, are also used in scenarios other t

[2019-09-28 04:27] alokprasad commented on #31829
try ndk14b , makefile only supports ndk14b as there are headers changes in later ndk, but there is huge performance impact using this ndk , i am trying to compile using latest ndk20 .

[2019-09-28 07:17] iperov commented on #32881
it seems like nvcuda.dll device order differs from nvsmi device order

[2019-09-28 10:42] saudet commented on #25952
@preethivenkatesh I'm also encountering this issue with more recent versions of Bazel (at least 0.25.3) and Visual Studio 2017. It looks like the trick that resolved issue #25213 doesn't work anymore. Bazel uses `/WHOLEARCHIVE` regardless.

[2019-09-28 12:19] robin2897 opened #32888 "RuntimeError: Variable *= value not supported. Use `var.assign(var * value)` to modify the variable or `var = var * value` to get a new Tensor object. When using tf2.0 rc2 and keras min_max_norm constraints for kernel and bias constraints in Google colab"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow installed from (source or binary): pip
- TensorFlow version GIT_VERSION: v2.0.0-rc1-51-g2646d23
- TensorFlow version : v2.0.0-rc2

```!python -c "import tensorflow as tf; print(tf.version.GIT_VE

[2019-09-28 13:55] hitlic opened #32889 "TypeError: An op outside of the function building code is being passed"
I have realized a code to take previous lstm outputs as current inputs as a sequence generator. But when I want to pass states of lstm cells to next batch by take states as a member of the generator class, it rise an exception "TypeError: An op outside of the function building code is being passed". When add `@tf.function` to `main` function in my code, the exception became "AttributeError: 'Tenso

[2019-09-28 15:11] robin2897 commented on #32888
My mistake I was importing from keras instead of tensorflow.keras

[2019-09-28 15:11] #32888 closed

[2019-09-28 15:22] saudet commented on #25952
I've found that launching with `bazel build --nolegacy_whole_archive ...` seems to do the trick though.

[2019-09-28 15:34] mdanatg commented on #32454
@makercob I think that is doable as @jsimsa suggested, without sacrificing the reusability of step 2, by breaking the py_function into two pieces:

[code]

WDYT?

[2019-09-28 15:54] SamuelMarks commented on #32323
Building with latest master (003323c95155c5fcd3e4be796d2cb1e4c0589c2d) after `rm -rf ~/repos/tensorflow-for-py3 ~/.cache/bazel`, full build output:
https://gist.githubusercontent.com/SamuelMarks/fcd18d1704d69bb6f7827a92619768b2/raw/af9eac14bbe63f7bbd76c92fce6fa63e71858b10/tflog.txt

[code]

[2019-09-28 16:09] saudet commented on #25952
Actually, this was the same as issue #25213 after all. The patch wasn't getting applied properly. With it, Bazel doesn't use `/WHOLEARCHIVE` and no errors occur with Visual Studio 2017 either.

[2019-09-28 16:16] prabindh opened #32890 "[TF 2.0 API Docs] tf.nn.batch_normalization"
## URL(s) with the issue:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/nn/batch_normalization

## Description of issue (what needs changing):
Documentation

### Clear description
Yes
### Correct links
Yes
Is the link to the source code correct?
Yes
### Parameters defined
Yes
Are all parameters defined and formatted correctly?
No.

- tf.nn.moments(..., keep_dims=True)

In TF2 version

[2019-09-28 16:33] Srikanth-Kb opened #32891 "ImportError: /usr/local/lib/python3.5/dist-packages/tensorflow/python/_pywrap_tensorflow.so: cannot open shared object file: No such file or directory"
This error is obtained while importing tensorflow in a program.

- OS Platform and Distribution : Linux raspberry 4.9.0-11-686 #1 SMP Debian 4.9.189-3+deb9u1 (2019-09-20) i686 GNU/Linux
- TensorFlow installed from (source or binary): using pip3 python package
- Python version: 3.5.3
- TensorFlow version = 0.11.0

"import tensorflow as tf"
The above command is throwing ImportError as follows:

Trac

[2019-09-28 17:47] Srikanth-Kb commented on #1711
Linux raspberry 4.9.0-11-686 #1 SMP Debian 4.9.189-3+deb9u1 (2019-09-20) i686 GNU/Linux

I am facing this issue. I couldn't find the solution on how to choose the right .whl file for installation.

[2019-09-28 18:58] kfrncs opened #32892 "Broken Link for API Development Recommendations"
[This page](https://www.tensorflow.org/community/contribute/docs) links to https://www.tensorflow.org/customize, which doesn't exist.

("We encourage the community to develop and maintain support for other languages with the approach recommended by the TensorFlow maintainers.")

[2019-09-28 20:16] guptapriya commented on #32654
Ah yes, I later learned that the env variable works with pip packages as well.
Thank you for the logs. It seems like it could have something to do with NCCL. Can you re-run with NCCL_DEBUG=INFO (another env variable) which will give us more info?

[2019-09-28 20:18] guptapriya commented on #32654
cc @dubey

[2019-09-28 20:57] vmarkovtsev commented on #32654
@guptapriya sure, this is what I see:

[code]
\<hangs\>

[2019-09-28 21:39] vmarkovtsev commented on #32654
`NCCL_DEBUG_SUBSYS=COLL` also gives

[code]

[2019-09-28 22:11] vmarkovtsev commented on #32654
AllReduce tests from https://github.com/nvidia/nccl-tests hang for me

[code]

So this is probably not a problem with Tensorflow itself... Reporting this upstream.

[2019-09-29 00:59] ichisadashioko commented on #32892
I believe that https://www.tensorflow.org/customize is no longer existed in https://www.tensorflow.org/community/contribute/docs.

I wrote the snippet below to check in Developer console and nothing has been printed out. Maybe the problem has been fixed?

[code]

![https://imgur.com/a/qdWWoWA](https://i.imgur.com/mGQEiyc.png)

[2019-09-29 01:07] KichangKim commented on #31871
tensorflow-gpu==2.0rc2 still has this issue.

[2019-09-29 01:15] adalca commented on #26996
@nairouz , did you ever write a complete version of this layer?

[2019-09-29 01:37] J-zin opened #32894 "convolution2d_transpose() got an unexpected keyword argument 'kernel_constraint'"
when i use tensorflow.contrib.layers.convolution2d_transpose()
using tensorflow1.13-gpu, ubuntu
i got this error:
convolution2d_transpose() got an unexpected keyword argument 'kernel_constraint'

but i check the document, there exits 'kernel_constraint' parameter in tensorflow.contrib.layers.convolution2d_transpose
how to fix it???

[2019-09-29 01:38] J-zin commented on #32894
the document get 404....
https://www.tensorflow.org/api_docs/python/tf/contrib/layers/conv2d_transpose

[2019-09-29 01:53] byronyi commented on #32653
Since the code path uses auto mixed precision, I suspect this has been fixed by cc9938e891ea387939c85238c9316f0c0dbb6e1a. Ping @anj-s; I will double check with the latest nightly.

See https://github.com/tensorflow/tensorflow/pull/32245#issuecomment-536239014 for the context.

[2019-09-29 02:00] ichisadashioko commented on #32894
If you are looking for `1.13` docs, then here is the [link](https://www.tensorflow.org/versions/r1.13/api_docs/python/tf).

However, I do recommend you to upgrade to newer version of [Tensorflow](https://www.tensorflow.org/install). I believe that `tf.contrib` is removed in Tensorflow 2.0 so you should take that in consideration (find alternative).

[2019-09-29 02:09] ziyigogogo commented on #31870
OK, fair enough, i personally have no further question. thank you very much for the patient follow up though.

[2019-09-29 02:09] payne4handsome opened #32895 "Decorated the call methods of tf.keras.Model subclass with @tf.function or not , result is very different"
System information

OS Platform and Distribution
Mac os (10.14.6)
TensorFlow installed from (source or binary):
binary
TensorFlow version (use command below):
2.0.0rc1
Python version:
Python 3.6.4
I implement a  model with tensorflow keras just copy [official tutorials](https://www.tensorflow.org/tutorials/quickstart/advanced). The code is shown below

[code]
The result show below
[code]

But I fi

[2019-09-29 02:52] 7oud opened #32896 "How to get cublas handle to run cublas function?"
I write a custom op using cublas function `cublasCgetrfBatched` and `cublasCgetriBatched`, the functions use cublas handle as a input param, however the `cublasCreate(&handle);` cost nearly 100ms.
I think the TF has already integrate CUBLAS module, `cublasCreate(&handle)` muse have been invoked in the init process, then how to get the handle? An example may be the best!

[2019-09-29 03:20] BlueFisher opened #32897 "TF2: tfp.distributions.Normal in tf.keras.Model issue"
I just found that if I returned a distribution in `call` not a tensor and called `self(tf.keras.Input())` in `__init__`, it would throw an exception `'Normal' object has no attribute 'shape'`
[code]

[2019-09-29 03:31] lovejing0306 commented on #32583
I have solved this problem. Thanks!

[2019-09-29 03:31] #32583 closed

[2019-09-29 03:33] egolearner opened #32898 "tf.lite not support Merge, RandomUniform, Switch"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 1.14.0

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that wou

[2019-09-29 04:42] ChosunOne opened #32899 "Model training does not improve accuracy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 19.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.0.0-rc2
- Python version: 3.7.3
- CUDA/cuDNN version: release 10.0, V10.0.130
- GPU model and memory:

[2019-09-29 05:12] bearsroom commented on #32653
Tested with this nightly version in both fp32 and fp16 setup, but no improvement in terms of saving time:

[2019-09-29 06:06] mmmmayi opened #32900 "cannot run the model from Saver"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 18.04
- TensorFlow version:Tensorflow nightly
- Python version:3.6
- Installed using virtualenv? pip? conda?:pip
- CUDA/cuDNN version:7/10

**Describe the problem**
I use tf.train.Saver() to save the model, but when I train to restore it, I find the output didn't change even though the inputs are differen

[2019-09-29 06:06] fsx950223 commented on #32885
Maybe the lazy load is a better solution

[2019-09-29 06:19] WrathofBhuvan11 opened #32901 "whether cuda toolkit 10.1 version supports tensorflow 1.14Version?"
trying to install tensorflow 2.0 in windows 10. Already installed CUDA toolkit 10.1 and cudNN

[2019-09-29 06:55] penguinbing commented on #30748
I met the same problem on ubuntu 18.04, cuda 10.1 and Tensorflow 1.14.0. However, I uninstalled the pip version tensorflow using `pip uninstall tensorflow-gpu` and then use `conda install -c anaconda tensorflow-gpu` to install conda version,  and it works for me. You can have a try. @AmitMY

[2019-09-29 07:15] hagianga21 commented on #32377
I also met that problem

[2019-09-29 07:31] ophiry opened #32902 "bug when supplying metadata files for embeddings in tensorboard callback"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platfo

[2019-09-29 07:51] zhixuanli commented on #22854
Still having problem of `CUBLAS_STATUS_INTERNAL_ERROR cublasSgemm`

[2019-09-29 08:05] makercob commented on #32454
@mdanatg No, not doable in my implementation, in which tf.function and py function usage are quite intertwined.

[2019-09-29 08:49] zxj11838 commented on #32866
@jdduke
Thank you for your reply. The download link for the FLOAT format of the tflite model is as follows：
https://pan.baidu.com/s/1n4Gqg56PyO0tp1EjmmsruQ

[2019-09-29 09:09] FLming opened #32903 "Let us decide the index of the blank in tf.nn.ctc_greedy_decoder"
**System information**
- TensorFlow version (you are using): 2.0.0rc1
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

I am using ctc_greedy_decoder function to decode my output from logits. In the ctc_loss function, we have the opportunity to choose blank_index equals what, but in the ctc_greedy_decoder function, it seems equals (num_clas

[2019-09-29 09:27] ZhangShuoAlreadyExists opened #32904 "Inference time by quantized model is longer than that by non-quantized model in Tensorflow"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-09-29 10:00] askerlee commented on #30427
Thanks @Namburger . The warnings are gone on 2.0.0-rc1.

[2019-09-29 10:56] #30748 closed

[2019-09-29 11:04] joe1chief opened #32905 ""tf.train.experimental.enable_mixed_precision_graph_rewrite(opt)" is not compatible with "tf.keras.LearningRateScheduler" and "tf.keras.ReduceLROnPlateau""
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**Ubuntu 18.04**
- TensorFlow version (you are using): 1.14.0
- Are you willing to contribute it (Yes/No): No

After ca

[2019-09-29 11:51] largeword opened #32906 "An error occur in "cwise_op_gpu" and faile to complete when building the tf2.0_rc2"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): win10 1903
- Mobile device (e.

[2019-09-29 13:22] largeword commented on #32906
I found the way to handle this problem, after changing `Please note that each additional compute capability significantly increases your build time and binary size, and that TensorFlow only supports compute capabilities >= 3.5 [Default is: 3.5,7.0]: 7.0,8,0` to `7.0,7.5` the error gone.

however, another error occurred

`ERROR: C:/users/bill_/desktop/tensorflow-2.0.0-rc2/tensorflow/core/grappler/o

[2019-09-29 13:32] David-Mao commented on #32457
Yes, `merge` should take an arbitrary-length list of tuples, and the tuples all have the same signatures. I mention signatures rather than shapes here because signatures allow unknown dimension (i.e. the `None` value in `tf.shape()`), which is more flexible.

[2019-09-29 13:54] ahtik commented on #32901
Yes and no.

You're better off installing `cuda_10.0.130_411.31_win10` and `cudnn-10.0-windows10-x64-v7.6.4.38`.

cudNN installation is just about extracting it to `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.0`.

You can still have the latest NVIDIA drivers, so there is no need to go through all the trouble and timesink of compiling Tensorflow 2.0 by yourself in Windows. If you want to

[2019-09-29 14:07] ahtik commented on #32881
@iperov CUDA tries to order the GPUs based on their computing power, nvidia-smi by pci bus id.

Try running with `CUDA_DEVICE_ORDER=PCI_BUS_ID` to get the nvidia-smi indices.

[2019-09-29 14:50] knsong opened #32907 "tensorflow c sdk crash when called by a java program"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Red Hat 4.8.5-4**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below): **tensorflow-gpu-linux-x86_64-1.13.1**
- Python version: **No**
- CUDA/cuDNN version: **cuda

[2019-09-29 14:53] ouy160 opened #32908 "a bizarre mistake-----InvalidArgumentError: slice index -1 of dimension 0 out of bounds.（）"
My computer is installed with win10, tf-nightly-2.0-preview==2.0.0dev20190926，python3.7&python3.6.8

Tensorflow standard template: https://tensorflow.google.cn/tutorials/load_data/images#setup

When I run the tensorflow standard template, I get an error in

    for image, label in labeled_ds.take(1):
        print("Image shape: ", image.numpy().shape)
        print("Label: ", label.numpy())

 the

[2019-09-29 15:21] Aladoro commented on #29535
Encountered this error in tensorflow 1.14 from a colab gpu runtime with the following code:

`import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import (Dense, Activation, BatchNormalization,
                                     Reshape, Conv2D, LeakyReLU, Input)
from tensorflow.keras.optimizers import Adam

print(tf.__version__)

network = Sequenti

[2019-09-29 15:32] byronyi commented on #32905
I believe it’s fixed in latest master. Could you try with the latest nightly packages again?

[2019-09-29 16:09] carlosg-m commented on #31231
I tried every workaround proposed here with Colab using TF 1.14 and it didn't work, even though it works with GPU without any issue, using both `tf.keras.utils.Sequence` or a python generator.

Is there any workaround for people using a `tf.keras` with a generator, TPU and TF 1.14?

[2019-09-29 17:49] notnot commented on #28405
I am seeing the same issue regularly, not every run though. My input data are images of the same size. This happens with all kinds of network sizes. It happens on both my machines.

[2019-09-29 18:02] savvisingh commented on #29472
I am also getting the same error

opt/conda/lib/python3.6/site-packages/tensorflow/lite/python/lite.py in from_keras_model_file(cls, model_file, input_arrays, input_shapes, output_arrays, custom_objects)
    760     _set_tensor_shapes(input_tensors, input_shapes)
    761
--> 762     graph_def = _freeze_graph(sess, input_tensors, output_tensors)
    763     return cls(graph_def, input_tensors, outp

[2019-09-29 18:45] q0p1us opened #32909 "No libtensorflow_framework.so"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04.6 LTS (GNU/Linux 4.15.0-55-generic x86_64)
- TensorFlow installed from (source or binary): `pip install tensorflow-gpu==2.0.0rc2`
- TensorFlow version (use command below): v2.0.0-rc1-51-g2646d23 2.0.0-rc2
- Python version: 3.5.2
- CUDA/cuDNN version: 10.0/7.6.4.38
- GPU model and memory: GTX 1080 Ti 11GB

[2019-09-29 18:47] #32909 closed

[2019-09-29 18:49] netw0rkf10w opened #32910 "No `libtensorflow_framework.so`"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04.6 LTS (GNU/Linux 4.15.0-55-generic x86_64)
- TensorFlow installed from (source or binary): `pip install tensorflow-gpu==2.0.0rc2`
- TensorFlow version (use command below): v2.0.0-rc1-51-g2646d23 2.0.0-rc2
- Python version: 3.5.2
- CUDA/cuDNN version: 10.0/7.6.4.38
- GPU model and memory: GTX 1080 Ti 11GB

[2019-09-29 20:40] MoustafaMeshry commented on #30404
Make sure to cast the indices you use for slicing to int32.

[2019-09-29 21:26] wchargin commented on #32885
Yes, Hadoop should probably be lazy-loaded. Even users who have it
installed may well not want to use it in _every_ TensorFlow process;
forcing them to pay the load cost doesn’t make much sense to me.

[2019-09-29 22:13] dubey commented on #32654
Thanks, please reopen if needed.

[2019-09-29 22:13] #32654 closed

[2019-09-29 23:21] jvishnuvardhan commented on #32697
@isaacgerg I think you can try tensorflow `cpu` version and check whether code runs with `cpu` version. If the code is running without any issue, then CUDA and cudnn might be the issue. You need to uninstall and reinstall GPU drivers and try again. When you try to find root-cause, try to use simple code from tensorflow website or keras website. By doing that you are sure that error is not in the c

[2019-09-29 23:38] jvishnuvardhan commented on #26418
Tensorflow2.0 officially built with cuda10.0. There are community built binaries are there but not sure whether they have anything you are looking. Please [check some here](https://github.com/tensorflow/tensorflow/issues/28022#issuecomment-485357906). Thanks

[2019-09-29 23:41] isaacgerg commented on #32697
@jvishnuvardhan Yes, the problem still occurs even with the tensorflow CPU version.  Have you run it in windows yet?

[2019-09-29 23:43] jvishnuvardhan commented on #29535
@aladoro Please create a new issue by providing your platform details and the standalone code. Thanks!

[2019-09-30 00:10] Leslie-Fang commented on #32910
Hi @netw0rkf10w , But why must libtensorflow_framework.so exsit?

[2019-09-30 00:12] Leslie-Fang commented on #32908
It seems the only difference between google colab system and yours is the Python version?

[2019-09-30 00:16] alibeyram opened #32911 "tf.losses.mean_squared_error returns a list in tensorflow '2.0.0-rc1'"
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
[code]
TensorFlow installed from (source or binary): binary (pip)
TensorFlow version (use command below): 'v2.0.0-rc0-101-gd2d2566'
Python version: 3.6.6 :: Anaconda, Inc.
Bazel version (if compiling from source): N/A
GCC/Compiler version (if

[2019-09-30 00:50] tejaskhot commented on #25044
@aselle @stakemura  Hi, I am interested in using the `depth_to_space` op. Is there a workaround for this in the meantime till it is added to the list of supported ops? I am able to convert my model to tflite by specifying
[code]
However, the interpreter fails with the error:
[code]

[2019-09-30 01:26] baxterai commented on #29866
See https://github.com/tensorflow/tensorboard/issues/2352 for solution

[2019-09-30 02:05] YichengWu commented on #32218
This is what I saw just now, the speed changed from 40s/100iter to 6s/100iter.
2019-09-30 01:50:45.808665
2019-09-30 01:51:25.043709
2019-09-30 01:52:04.264984
2019-09-30 01:52:44.757427
2019-09-30 01:53:25.178119
2019-09-30 01:54:04.592331
2019-09-30 01:54:44.897020
2019-09-30 01:55:24.013882
2019-09-30 01:56:03.740308
2019-09-30 01:56:43.617144
2019-09-30 01:57:23.751177
2019-09-30 01:58:04.2286

[2019-09-30 02:41] #32907 closed

[2019-09-30 02:48] lingdavid commented on #25152
@policeme  Hi, Have you solved this problem?  I also encountered this problem.

[2019-09-30 02:58] policeme commented on #25152
no I haven't

Cally Ma (马雄)
Chongqing University of Post and Telecommunications
Mobile: +86 15025700935
E-mail: mx15025700935@aliyun.com

------------------------------------------------------------------
发件人：lingdavid <notifications@github.com>
发送时间：2019年9月30日(星期一) 10:55
收件人：tensorflow/tensorflow <tensorflow@noreply.github.com>
抄　送：Cally <mx15025700935@aliyun.com>; Mention <mention@noreply.github

[2019-09-30 03:21] yanmenglu commented on #24607
@jdduke tflite support multi-size image input. Is there some sample about how to do that?

[2019-09-30 03:31] matpalm opened #32912 "model.fit with tf.data.Dataset.from_generator can't infer shape"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOs 10.13.6
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.0.0-beta1-5101-gc75bb66a99 2.0.0-rc0
- Python version: 3.6.4
- Bazel version (if compiling from source

[2019-09-30 03:45] ares5221 opened #32913 "Attention :module 'tensorflow.python.keras.api._v2.keras.layers' has no attribute 'Attention'"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-09-30 03:46] yanmenglu commented on #24607
@jdduke Is plan to support multi-size image input on tflite?

[2019-09-30 04:08] ouy160 commented on #32908
I used the same python3.6.8 as colab and got the same error.

[2019-09-30 04:49] rryan commented on #32218
Could you please post the output of `nvidia-smi` when the issue is occurring and when the issue not occurring? I'd like to see the difference between the two.

[2019-09-30 04:54] ArtemisZGL opened #32914 "set tflite interpreter gpu delegate on android，it's output is different without gpu delegate"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platfo

[2019-09-30 04:59] oanush commented on #32562
@caseybasichis ,
Any update on the issue ?Thanks!

[2019-09-30 05:25] oanush commented on #32897
Tried given code forTF-1.15rc1 and 2.0rc2 i was able to replicate the error. Kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/ccc142acb65fd5d7f519c2deea5b7893/32897.ipynb) of colab.Thanks!

[2019-09-30 05:37] ravikyram commented on #32908
I tried executing the standard template code in colab and on my computer successfully.Thanks!

[2019-09-30 06:09] gadagashwini commented on #32873
@nsmetanin, I executed on Colab with Tf 1.14.0. But it didn't throw any error. Please take a look at [colab gist](https://colab.sandbox.google.com/gist/gadagashwini/57dd2eae878e43da89dbc146409c59a5/untitled169.ipynb) and confirm the expected behavior. Thanks!

[2019-09-30 06:10] ArtemisZGL commented on #32914
i notice a error when lauching the app:  E/libEGL: call to OpenGL ES API with no current context (logged once per thread), is it related to it?

[2019-09-30 06:15] ravikyram commented on #32900
@mmmmayi

I tried to reproduce the issue and i am getting the below error.`FileNotFoundError: [Errno 2] No such file or directory: 'wavelet_stft.p'`.
Also, request you to provide a simple standalone code (the current code is too long and requires lot of efforts to resolve). If you provide simple standalone code, then it is easy for localizing the issue faster. Thanks !

[2019-09-30 06:17] gadagashwini commented on #32881
@iperov, Did you try the @ahtik's suggestion. Please let us know if that solves your issue. Thanks!

[2019-09-30 06:20] oanush commented on #32876
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-09-30 06:30] Julius-ZCJ commented on #3027
@cancan101 Hi ，I have met the same problem, can you tell more details about how you solved this problem. Thank you very much

[2019-09-30 06:33] iperov commented on #32881
I got rid of using pynvml.
Now I am using cuda lib directly to determine devices and indexes that match tensorflow. Works windows and linux perfectly.

[code]

[2019-09-30 06:40] oanush commented on #32875
@hagianga21 ,
Thank you for reporting the issue,Can you share a simple and standalone code to reproduce the issue?Thanks!

[2019-09-30 06:44] ravikyram commented on #32899
I have tried on colab with TF version 2.0 beta 1, 2.0.0-rc2 and was able to reproduce the issue. Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/2d329adc843eeca37e3c219e74515b9b/untitled233.ipynb) Thanks!

[2019-09-30 06:53] DeveloperRachit commented on #32641
tell me

[2019-09-30 06:54] DeveloperRachit commented on #32641
what is the reason tell me

[2019-09-30 07:06] shejingbingxiansheng commented on #20874
I have the same problem

[2019-09-30 07:07] ArtemisZGL commented on #31949
hello, do you know what's the meaning of " E/libEGL: call to OpenGL ES API with no current context" ? and i use gpu delegate, seems the output is not corresponding to without delegate

[2019-09-30 07:08] oanush commented on #32869
Tried replicating with given code for TF-2.0rc2, the same error was received. Kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/78bd4585819aa58fbc13155a1ab3871d/32869.ipynb) of colab.Thanks!

[2019-09-30 07:21] autominded commented on #23807
Errors are for:  convert the model into tflite compatible operations.

My Docker file for this looks like this for comparison.

FROM python:3.6-slim
ARG UID
ARG TAG_NAME
ENV TERM linux
ENV DEBIAN_FRONTEND noninteractive
ARG proxy
ENV http_proxy $proxy
ENV https_proxy $proxy
COPY ZscalerRootCA.crt /usr/local/share/ca-certificates/
RUN chmod 644 /usr/local/share/ca-certificates/ZscalerRootCA.crt
RUN

[2019-09-30 07:31] mmmmayi commented on #32900
Here are the wavelet_stft.p and wavelet_stft_test.p: https://drive.google.com/open?id=1DfV7WPJymj66jJ13ds6javg3GSLPhwyr

Also, I am soooo sorry that I'm afraid I can't provide a more simple one because I don't know which is the key code that leads to this problem, if I delete some codes of them, maybe it won't reproduce the problem. But I try to build the simpler model here:

[code]

[2019-09-30 07:43] Qasim-Abdul-Majeed commented on #6954
Hi, You can download its weights from here:
https://github.com/fchollet/deep-learning-models/releases/download/v0.5/inception_v3_weights_tf_dim_ordering_tf_kernels.h5

After downloading this, you can get values of its convolution  filters in a sequence using 'h5py'
e.g.
h5 = h5py('Path/to/.h5')
conv_name = 'conv2d_1'
conv2d_1 = h5[conv_name][conv_name]['kernel:0']

Now, conv2d_1 contains filter va

[2019-09-30 07:43] pw1316 commented on #30545
[code]

I removed all top-level consts in this struct and there are no more warnings, and the code seems work, to be tested though.

[2019-09-30 08:14] twinanda commented on #32544
@isaacgerg no, unfortunately not. I am looking into other normalization methods for this. Maybe instancenorm might yield similar convergence, without the inconsistency of batchnorm. Let me know if you find something on your side. :)

[2019-09-30 08:14] fangyu1006 commented on #30838
Meet the same problem. Any solution?

[2019-09-30 08:15] gadagashwini commented on #32892
@kfrncs,
In [this link](https://www.tensorflow.org/community/contribute/docs), https://www.tensorflow.org/customize is not available. Could you please provide the exact position of the broken link. Thanks!

[2019-09-30 08:21] ravikyram commented on #32889
I have tried on colab with TF version 2.0.0-rc1,2.0.0-rc2 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/c3f66cbde5677fa47653892374f09871/untitled234.ipynb).Thanks!

[2019-09-30 08:39] meteorcloudy commented on #8773
@TsarF Does https://github.com/tensorflow/tensorflow/pull/24963 solve your problem?

[2019-09-30 08:45] netw0rkf10w commented on #32910
Hi @Leslie-Fang. Good question!
I am not sure if `libtensorflow_framework.so` must exist, but there are 2 reasons why I thought it should exist:

- It was existing before in previous versions. When compiling a custom TF operator in 2.0.0rc2, I obtained `ltensorflow_framework` linking error (it was working in TF 1.14). I had to create a symbolic link `libtensorflow_framework.so` pointing to `libten

[2019-09-30 08:49] ravikyram commented on #32879
@jiawei6636
Can you please go through below link and see if it helps you. Thanks!
https://www.tensorflow.org/tutorials/text/word_embeddings

[2019-09-30 08:51] savvisingh commented on #32849
any update on this Were you able to fix this issue

[2019-09-30 08:52] canasta opened #32915 "Wrong links in API document and search results"
Items in TensorFlow Core r1.14 is linked to r2.0.
In search results, all informations are correct except the link.
All links point to RC version, not r1.14.

I checked tf.nn.dynamic_rnn and tf.nn.fused_batch_norm.
dynamic_rnn is linked to [https://www.tensorflow.org/api_docs/python/tf/nn/dynamic_rnn](https://www.tensorflow.org/api_docs/python/tf/nn/dynamic_rnn) now.
But [https://www.tensorflow.org

[2019-09-30 08:54] gadagashwini commented on #32902
@ophiry,
Do you have sample code to reproduce the issue. Thanks!

[2019-09-30 08:54] oanush commented on #32870
@dahliau ,
Can you please provide standalone code to reproduce the error mentioned here ?Thanks

[2019-09-30 08:55] ahtik commented on #32881
@iperov I would be a bit cautious using your snuppet as it's likely not deterministic.
Have a look at https://docs.nvidia.com/deploy/nvml-api/group__nvmlDeviceQueries.html#group__nvmlDeviceQueries_1g52677ecb45f937c5005124608780a3f4

`The order in which NVML enumerates devices has no guarantees of consistency between reboots. For that reason it is recommended that devices be looked up by their PCI

[2019-09-30 08:59] oanush commented on #32895
@payne4handsome ,
When tried executing the code in TF-rc2 i got the output as present in the [gist](https://colab.sandbox.google.com/gist/oanush/d76aa20e3777359100449f80dc6d15ee/32895.ipynb) of colab, kindly take a look at that same.Thanks!

[2019-09-30 09:00] gadagashwini commented on #32901
@WrathofBhuvan11,
Please take a look at [software requirements](https://www.tensorflow.org/install/gpu#software_requirements) for Tensorflow. Thanks!

[2019-09-30 09:01] sghoshjr commented on #32899
The same Model on Pytorch gives the similar accuracy of around 11%. So I don't suppose its a tf issue.
Anyway, using Adam optimizer or SGD with momentum boosts up the accuracy on both tf and PyTorch.

[2019-09-30 09:09] Julius-ZCJ opened #32916 "local variable 'nccl_lib_path' referenced before assignment"
When I compile the tensorflow-1.12.0 version , I process command :
./configure

and then I got this error:
  File "./configure.py", line 1693, in <module>
    main()
  File "./configure.py", line 1612, in main
    set_tf_nccl_install_path(environ_cp)
  File "./configure.py", line 1208, in set_tf_nccl_install_path
    nccl_lib_path = os.path.join(nccl_install_path, nccl_lib_path)
UnboundLocalError:

[2019-09-30 09:15] zhangqinghao0811 commented on #32814
It doesn't work for me either, have you found the solution?

[2019-09-30 09:17] iperov commented on #32881
@ahtik

sometimes nvml does not come with video drivers on some notebook cards, even high-end cards like 1080. There is no ```NVIDIA Corporation\NVSMI``` folder that contains nvml.dll on such systems.

so I think using direct cuda lib is the best choice
because
1) indexes are always match tensorflow indexes
2) works everywhere, tested on google colab.

[2019-09-30 09:17] gadagashwini commented on #32905
@joe1chief,
Can you try the @byronyi's suggestion and let us if that resolves your issue. Thanks!

[2019-09-30 09:36] ravikyram commented on #32877
I have tried on colab with TF version 1.15.0-rc1 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/4025781d3a84432fc1badf78bf23fe98/untitled235.ipynb). Thanks!

[2019-09-30 09:37] gadagashwini commented on #32701
@allangelman,
Please provide the simple standalone code to replicate the issue and indeed it will help us to move faster. Thanks!

[2019-09-30 09:41] gadagashwini commented on #32781
@OuHangKresnik, Will it be possible to provide the sample standalone code reproduce the issue reported here. Thanks!

[2019-09-30 09:42] gadagashwini commented on #32787
@shahriar49, Any update on reproducible code. Thanks!

[2019-09-30 09:46] ravikyram commented on #32872
In order to expedite the trouble-shooting process, please provide a minimal standalone code to reproduce the issue reported here. Thanks!

[2019-09-30 09:54] ravikyram commented on #32859
In order to expedite the trouble-shooting process, please provide a minimal standalone code with proper indentation to reproduce the issue reported here. Thanks!

[2019-09-30 10:02] ravikyram commented on #32836
@xxxzhi
Looks like code is incomplete.In order to expedite the trouble-shooting process, please provide a minimal standalone code to reproduce the issue reported here. Thanks!

[2019-09-30 10:09] oanush commented on #32842
I was able to replicate the issue for TF-2.0rc2 and TF-nightly-2.0-preview, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/7cb7982ed907c4ed4f534fb029a904e3/32842.ipynb) of colab.Thanks!

[2019-09-30 10:11] oanush commented on #32842
@Efaq ,
We just have 2.0rc0 label available now as the latest version in Github.

[2019-09-30 10:30] payne4handsome commented on #32895
@oanush You didn't understand me and executed the wrong code.  Below code should replace call function that in class MyModel.
[code]
I mean you should execute code with two cases. one is not decorated call function with @tf.function, another is decorated call function with @tf.function.

**first case**
[code]

**second case**
[code]

[2019-09-30 10:33] ravikyram commented on #32841
Is it possible for you to try latest TF versions (`!pip install tensorflow==1.15.0-rc1`) and let us know whether the issue persists? There were lots of performance improvements in the latest versions. Thanks!

[2019-09-30 10:53] ahtik commented on #32913
@ares5221 Could you try with 2.0.0rc1 or 2.0.0rc2 instead of 2.0.0a0? There it's all good for me.

[2019-09-30 11:22] julyrashchenko commented on #32234
Yes, I also see that with such settings (tf-nightly-gpu-2.0-preview) memory leak decreased to about 100 Mb per 100 iterations. Usage `del imported` didn't changed situation (~100 Mb per 100 steps, too). But I  think it is still a huge problem because leak increases with complicating the model. E.g., when I add a couple of dense layers, leak is about 200 Mb per 100 steps.
![Снимок экрана от 2019-09

[2019-09-30 11:30] gadagashwini commented on #32865
@simoncozens, Will it be possible to provide the simple standalone code to replicate the reported issue here. Thanks!

[2019-09-30 11:46] dahliau commented on #32870
I've checked it again now in a simple standalone code and it had gradients.
I'll try figure out later the problem in my original code.

[code]

[2019-09-30 11:46] #32870 closed

[2019-09-30 11:54] gadagashwini commented on #32868
Could able to reproduce the issue on colab with TF 1.14.Please see the [gist here](https://colab.sandbox.google.com/gist/gadagashwini/b9ce05d1ae96ef8bc73e0124a674ea42/untitled168.ipynb). Thanks!

[2019-09-30 12:01] OuHangKresnik commented on #32781
With any network that contains Convolution and BatchNorm stuff.

config = tf.ConfigProto(device_count = {'GPU': 0})

With above configuration, the _FusedConv2D operator will show up (in CPU mode).
Without it, then _FusedConv2D won't show up (in GPU mode)

[2019-09-30 12:03] WingsBrokenAngel commented on #32859
I have updated a segment of standalone and reproducible code.

[2019-09-30 12:05] shahriar49 commented on #32787
@gadagashwini
Sorry I was very busy and generating sample data and code takes a while. I will close this issue at this time and maybe return to it later.

[2019-09-30 12:10] periraviteja commented on #29723
While running the object detection using tensorflow , i'm getting the below error. I uninstalled and installed the tensorflow and have the latest version. Any help in this regard is appreciated.
Thanks much in advance.

"AttributeError: module 'wrapt' has no attribute 'ObjectProxy' "

[2019-09-30 12:18] mabdullahrafique commented on #21501
But when I try to open the tflite model in bytes array the tflite interpreter can not read it.

[2019-09-30 12:21] shahriar49 commented on #32787
@gadagashwini
But I was actually thinking of something that may be a clue: The worker loads the saved model to start working on its batch, but if saved model was a bit old (because models are not saved on each batch), the chief's model may have been way better than worker model and therefore their combination will not be as good as the chief alone. What do you think about it? How such a problem ca

[2019-09-30 12:29] andreyhristov commented on #31982
Seems has already been fixed in 1.15-rc2

[2019-09-30 12:39] shahriar49 commented on #32841
@ravikyram
I tried TF 1.15.0-rc1 but it can not be loaded on my system and I get this error:

[code]

[2019-09-30 12:41] ophiry commented on #32902
code to reproduce:
[code]

output is:

[2019-09-30 12:48] jvishnuvardhan commented on #30646
@rishabhsahrawat Is this still an issue.? I noticed you have opened multiple issues on this or similar topic. If this was covered in other opened issues, then please close this issue. Thanks!

[2019-09-30 12:53] fjallraven commented on #32768
I was missing CUDA/cudnn on my PATH, adding those then rerunning pip install fixed the issue.

[2019-09-30 13:15] Nayana-ibm commented on #28553
@ebrevdo Is the file guarded with ifdefs?  Could you please point to commit id?

[2019-09-30 13:19] anhmeow commented on #32868
Hello,

In your attempt to reproduce the issue, you used google drive but TFRecords/TPU are not compatible with google drive or local disk. A google bucket from google cloud service is mandatary.

Then you will be able to have the error i got, currently, you have :
UnimplementedError: From /job:worker/replica:0/task:0:
**File system scheme '[local]' not implemented** (file: '/content/drive/My Driv

[2019-09-30 13:23] nsmetanin commented on #32873
I'm able to reproduce the bug in the "tensorflow/tensorflow:1.14.0-gpu-py3" docker container. Google Colab has K80 GPU while I have RTX 2080 Ti, so I think this bug could be related to the 2080 GPUs and/or CUDA 10.1 only.

[2019-09-30 13:34] PgLoLo opened #32918 "Tensorflow 2.0 custom_scalar plugin for tensorboard"
To set layout for custom_layout plugin in tensorflow 1.x you should use method add_summary in FileWriter class. So the code should look like this:

[code]

In tensorflow 2 add_summary method was removed. How can I set custom_scalar layout now? Is it a bug or a desired API change?

[2019-09-30 13:42] Efaq commented on #32842
@oanush alright!

[2019-09-30 13:58] mdanatg commented on #32457
Thanks! This makes sense. Essentially, this would be a more generic version of TensorArray that can hold structures, not just single Tensors.

Right now, there are a few ways work with this kind of data (structures of TensorArray, Datasets), but neither as as practical as an actual Array class. So I think this is a good feature request.

[2019-09-30 14:02] rishabhsahrawat commented on #30646
Yes, this has been answered [here](https://github.com/tensorflow/tensorflow/issues/32376).

[2019-09-30 14:02] #30646 closed

[2019-09-30 14:23] jwaychee commented on #31119
Hi. Is it possible to build the tensorflowlite_c.a static library for use in iOS? The readme only listed the bazel command for Android and linux but not for iOS.

[2019-09-30 14:35] sealedtx opened #32919 "Multiple sessions with per_process_gpu_memory_fraction"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): 1.14.0
- TensorFlow version (use command below): v1.14.0-rc1-22-gaf24dc91b5 1.14.0
- Python version: 3.6.8
- CUDA/cuDNN version: 10.0 / 7.4.2.24-1
- GPU model and memory: GTX 1070ti, 8119Mb

**Describe the current behavior**
Start multiple sessions with gpu_options and differen

[2019-09-30 14:40] #32664 closed

[2019-09-30 14:40] #32657 closed

[2019-09-30 14:45] Jona2jef commented on #374
Chaning directory not working for me.
Running pip3 list returns the following:

Package              Version
-------------------- -------
absl-py              0.8.0
astor                0.8.0
astroid              2.3.1
gast                 0.3.2
google-pasta         0.1.7
grpcio               1.16.1
h5py                 2.8.0
isort                4.3.21
Keras-Applications   1.0.8
Keras-Preprocessi

[2019-09-30 15:10] bwang-delft opened #32920 "How to explitly save the values of every buffer in a tflite model?"
When using interpreter.get_tensor() to get the values in a tensor after calling interpreter.invoke(), some values seem to be overwritten. If I understand correctly, to explicitly prevent those values from being overwritten, we have to append the names of the tensors we care about in the "output_arrays" argument when calling tf.lite.TFLiteConverter.from_saved_model(). However, some tensors in a tfl

[2019-09-30 15:32] mihaimaruseac commented on #31870
I will try to investigate this further in my 20% time.

[2019-09-30 15:34] awav commented on #32242
Hello @ravikyram , @jvishnuvardhan , @rchao again! Does anyone have looked at this issue?

[2019-09-30 15:35] mihaimaruseac commented on #29723
Please open a new issue, @periraviteja Please fill in all the details in the issue template and also provide a proper minified reproducer.

[2019-09-30 15:36] Odera-Dim opened #32921 "Unable to input categorical columns in my preprocessing layer for keras"
Hi All,

I am trying to use python to run the [example](https://www.tensorflow.org/tutorials/load_data/csv) which is given on the tensorflow website on working with .CSV data. This example is meant to use some features to predict if a passenger is labeled dead or alive on the titanic. Everything goes well until the point where I attempt to run a fit on the training data data. The error below is ge

[2019-09-30 15:48] jvishnuvardhan commented on #32868
@anhmeow Can you try `TF1.15.0rc1` and let us know if the issue persists? Thanks!

[2019-09-30 15:48] michael-wijaya commented on #22512
I also get the same error.
Somehow upgrading TensorFlow to version1.14.0 solves the problem  :)

[2019-09-30 15:49] michael-wijaya commented on #22794
I also get the same error.
Somehow upgrading TensorFlow to version1.14.0 solves the problem :)

[2019-09-30 15:51] vmarkovtsev commented on #32654
My root problem was malfunctioning peer to peer GPU access. I saw something like this in `dmesg`:

[code]

My workaround is `export NCCL_P2P_DISABLE=1`.

[2019-09-30 15:51] mihaimaruseac commented on #32913
2.0.0a0 is extremely old, please switch to 2.0.0rc2

[2019-09-30 15:56] jvishnuvardhan commented on #32242
@rchao could you PTAL?

[2019-09-30 16:05] dubey commented on #32654
Thanks for posting the update!  It may help others who run into a similar issue.

[2019-09-30 16:08] TimCapes commented on #32785
Looks good to me. Closing issue. Thanks.

[2019-09-30 16:08] #32785 closed

[2019-09-30 16:14] bqm commented on #32674
I've updated a protobuf text format of the created SavedModel - can be seen at https://gist.github.com/bqm/88c62df65d76832108de2ec0f9b853cc.

The `request:0` and `response:0` nodes are stored in the `Library`
protobuf object (which starts line 1306). My guess is that the current Tensorflow API ignores that Library object. Thoughts?

Definition of the Protobuf Library object below:
https://github.c

[2019-09-30 16:16] TimCapes commented on #32821
I am now using the following revised code which works better for TFLite conversion. Still have the optimizer issue.
[code]

[2019-09-30 16:29] myy920213 commented on #32607
Sorry for the late response. I write up a simple test case to reproduce this error. I uploaded the python file as zip, run simple_test.py will reproduce the error. newLSTM class defines the customer LSTM layer, mainly copied from tensorflow/python/ops/rnn_cell_impl.py, only ''d = multiply(f, (tf.ones_like(f)-f))'' is newly added.
Apparently, change the gradient aggregation_method to tf.Aggregation

[2019-09-30 16:44] TimCapes commented on #32740
Found issue, thought slice was supported but only strided_slice is.
[code]
Works properly. Closing issue.

[2019-09-30 16:44] #32740 closed

[2019-09-30 16:48] jsimsa commented on #32842
This is expected behavior. tf.data traces all of its user-defined functions and data objects observable by user-defined functions will be `Tensor`s and not `EagerTensor`s (and `Tensor`s do not have `.numpy()`). If you would like to execute (a subset of) tf.data user-defined function in eager mode, use [py_function](https://www.tensorflow.org/api_docs/python/tf/py_function). Note that the use of `p

[2019-09-30 16:48] #32842 closed

[2019-09-30 17:08] gowthamkpr commented on #32845
@spiegelss Does your issue still persists or is it resolved?

[2019-09-30 17:18] R4ZZ3 commented on #32204
I am having same problem.
RPI 4 and python 3.7.3
![image](https://user-images.githubusercontent.com/25264037/65900790-73a59180-e3bf-11e9-9678-47f84b8b6d03.png)

[2019-09-30 17:21] jvishnuvardhan commented on #32897
@BlueFisher This is more related to `tfb` repository. Can you open the issue [here](https://github.com/tensorflow/probability/issues). Thanks!

[2019-09-30 17:30] reedwm commented on #32691
@mschonwe, thank you for reporting this issue. I am confused why placing on the CPU would help at all. The error is that the CPU only supports NHWC and that NCHW is being used. Yet, in the `add_delta_deltas` function, it explicitly uses NHWC, so the error should not occur whether the op is on the CPU or GPU. And, the error message indicates the op already is placed on the CPU, so explicitly placin

[2019-09-30 17:39] kasunvj commented on #28824
Successful!!. but not on the top of workspace file. put these lines after loading http_archive

[2019-09-30 17:39] ELind77 commented on #32672
I believe that this is the same issue as #12195.  When adding a `tf.tile` operation the keras model gets a `tf_op_layer_Title/multiples` layer added _before_ a `tf_op_layer_Tile` layer which I believe is what causes the problem.

[2019-09-30 17:42] ymodak commented on #32294
Is this still an issue?

[2019-09-30 17:43] ymodak commented on #32147
Is this still an issue?

[2019-09-30 17:43] ymodak commented on #32363
Is this still an issue?

[2019-09-30 17:43] ymodak commented on #32458
Is this still an issue?

[2019-09-30 17:45] nkjassal commented on #31134
I'm getting a similar issue with the build_ios_universal_lib.sh:
[code]

[2019-09-30 17:46] mazatov commented on #24828
I have the same issue. Using conda for installation. I tried with python 3.6 and tensorflow 1.13.1 as well as python 3.7 together with tensorflow 1.14. I am using Cuda 10.0 and cudnn 7.6.0

[2019-09-30 17:53] jvishnuvardhan commented on #32886
@elizabethsiegle Thanks for reporting this issue. The code in the tutorial is correct for TF2.0. If you want to run it in TF1.x, you need to change those two lines from
[code]
to
[code]
Thanks! Please close this issue if it was resolved? Thanks!

[2019-09-30 17:53] talhaanwarch commented on #24828
yes, i do. i installed latest version of every things.
my steps are as follows
1-install Cuda 10.0
2- Create a virtual environmnet (python 3.7)
3- install keras gpu (from anaconda navigator)
my tensorflow version is 1.14.0
keras version is 2.2.4

[2019-09-30 17:54] gowthamkpr commented on #32921
I tried runningthe same example on google colab and its working finr foe me without any errors. Please take a look at my github gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/236357c898cebaa78bfd470f953baf56/titanic.ipynb).

[2019-09-30 17:56] ychen404 commented on #32520
@jvishnuvardhan
I understand that too big a network model may not run given a certain configuration.
But should tensorflow let users know that the model is too big to run if that's the case?
For the case of batch 128, I still don't know if  1) the code is stuck somewhere because the memory allocation cannot go through or 2) the code is actually fine just taking too much time.
Is there a way that a

[2019-09-30 18:13] sharvil opened #32923 "No documentation for tf.strings.reduce_join"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://www.tensorflow.org/api_

[2019-09-30 18:14] YichengWu commented on #32218
The  GPU-Util is very low when the code is slow. Output from `nvidia-smi`:
Here is when the code is slow
[code]

Here is when the code is fast
[code]

[2019-09-30 18:18] sharvil opened #32924 "Malformed documentation for tf.strings.split"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://www.tensorflow.org/vers

[2019-09-30 18:19] Kevin-Delnoije opened #32925 "tensorflow 2 rc2 + tensorrt6 compile error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 18.04
- Mobile device (

[2019-09-30 18:30] Odera-Dim commented on #32921
I looked through the example on google colab and and it works fine as you said, however mine still doesn't work. I have pretty much everything exact same besides the way I import the data. I have downloaded the training and testing (eval) data unto my google drive. The reason I have it this way is that I want to familiarize myself with working with data on drive. So that in future when I have pers

[2019-09-30 18:33] daviddiazvico commented on #32532
Hi,

Thanks for the comment.

I'm not sure I understand it, though. Just to confirm:

I guess you mean that no dict should be allowed (like in [test](https://github.com/tensorflow/tensorflow/pull/32533/commits/e33e1c5f88e9832b2578f495ee85bcae7e9a5a4f#diff-7145b17c14e03227607f6a4617309181R343
)) as input. That is totally true. I included this to provide a better integration with the functional Mode

[2019-09-30 18:36] gowthamkpr commented on #32913
@ares5221 Please find the github gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/62089d4044afed594e0c08e5ad6b4c8e/untitled152.ipynb). Attention layer does exist in tensorflow 2.0.0-rc2.

[2019-09-30 18:38] jvishnuvardhan commented on #32894
@J-zin As suggested by @ichisadashioko Can you try `TF1.15.0rc1` or `TF2.0.0rc2` and let us know how it progresses. Please also share platform details and also provide a simple standalone code to reproduce the issue. Thanks!

[2019-09-30 18:39] bionicles commented on #29663
@qlzh727 @fchollet @timudk

hi, this makes it seemingly impossible to build a hypernetwork wrapper which uses "get_weights" and "set_weights" -- this API exists, but just doesnt work inside tf 2.0 bc we need numpy arrays to set tensorflow keras layer weights (which seems stupid, why don't we just use tensors?)

I get that it "might cause issues" but ... the API as-is contains a broken "set_weights

[2019-09-30 18:41] gowthamkpr commented on #32916
Please take a look at the similar issue [here](https://github.com/FloopCZ/tensorflow_cc/issues/147) and let me know if it helps. Thanks!

[2019-09-30 18:42] jvishnuvardhan commented on #32910
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-09-30 18:42] kventinel commented on #32294
I'm not using last in my model.

[2019-09-30 18:58] jayschwa opened #32926 ""Upgrading your code to TensorFlow 2.0" is behind a Medium paywall"
## URL(s) with the issue:

https://medium.com/tensorflow/upgrading-your-code-to-tensorflow-2-0-f72c3a4d83b5

## Description of issue (what needs changing):

This upgrade guide is linked from the TensorFlow 2.0 release notes. If the viewer has exceeded their quota on Medium, they are blocked by a paywall and cannot read the upgrade guide. Is this intentional?

![image](https://user-images.githubuse

[2019-09-30 19:06] bionicles opened #32927 "set_weights crashes in tf.function because it tries to convert tensors into numpy arrays"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 16
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2 rc2
- Python version: 3.6
- CUDA/cuDNN version: 10
- GPU model and memory: 1070, n/a

**Describe the current behav

[2019-09-30 19:11] netw0rkf10w commented on #32910
I have updated the CMakeLists of my project by making use of `tf.sysconfig.get_link_flags(), tf.sysconfig.get_compile_flags()` and it works.

The conclusion is that it is not necessary to have `libtensorflow_framework.so`. Thanks.

[2019-09-30 19:11] #32910 closed

[2019-09-30 19:14] mazatov commented on #24828
I'm still getting the same error. Here's the output the `conda list`
[code]
And the error:
[code]

[2019-09-30 19:15] mschonwe commented on #32691
@reedwm I don't understand why it works, only that it does.

I agree that the error message seems to indicate that the offending op is placed on the CPU.

My guess was that (w/o the explicit device placement) there are multiple optimization passes, the first choses the op for the GPU, and a later optimization places that op on CPU, which then failed.

 /issues/26411 relates to a different problem,

[2019-09-30 19:34] ppham27 commented on #32487
We have an internal fix for this pending. Meanwhile, adding

[code]

should work.

[2019-09-30 19:36] reedwm commented on #32691
/CC @ezhulenev, do you know if this is an issue with the layout optimizer?

@mschonwe, also try consider trying TF 1.15-rc1 (`pip install tensorflow-gpu==1.15rc1`)

[2019-09-30 19:36] mihaimaruseac commented on #32910
Yes, it is recommended to use `tf.sysconfig.get_*_flags()` instead of manually specifying the filepaths.

[2019-09-30 19:36] ziofil commented on #32774
might be related https://github.com/tensorflow/tensorflow/pull/30107

[2019-09-30 19:37] mihaimaruseac commented on #32294
Do you still have the code that produced the frozen graph?

[2019-09-30 19:45] netw0rkf10w commented on #32910
@mihaimaruseac Thanks. Building was successful, but then I obtained an `undefined symbol: _ZTIN10tensorflow8OpKernelE` error :( I'm posing a question to StackOverflow...

[2019-09-30 19:50] rchao commented on #32242
Reassigning to @k-w-w to take a look or triage. Thanks.

[2019-09-30 19:52] mevalle opened #32928 "morphological layer"
How can I implement efficiently a layer of morphological neurons (see the papers DOI: [10.1109/ICPR.1996.547657](https://doi.org/10.1109/ICPR.1996.547657) or DOI: [10.1109/TNN.2003.809427](https://doi.org/10.1109/TNN.2003.809427)) in tensorflow? Morphological neurons are obtained by replacing the product by the sum and the sum by either the maximum or the minimum operations. In its simplest form,

[2019-09-30 19:57] k-w-w commented on #32242
Hi @awav,

This is intended. Tensorflow checkpoints only save and restore the variables/other TensorFlow objects with state. Constants tensors and python objects won't be included in the Checkpoint, and this is expected because some constants (e.g. lookup tables) can get exceedingly large.

There is an experimental API that lets you save arbitrary python values to the Checkpoint. Check it out here

[2019-09-30 19:58] synapse8 commented on #24828
@mazatov , have you tried adding the following to your code?

config = tf.ConfigProto()
config.gpu_options.allow_growth = True
tf.keras.backend.set_session(tf.Session(config=config))

Similarly, you can set the environment variable TF_FORCE_GPU_ALLOW_GROWTH to true. I think this only will work for some setups, but it did for me with Ubuntu 18.04.

[2019-09-30 20:01] gowthamkpr commented on #32884
@adkoadko Can you please share a github gist of this issue. Thanks!

[2019-09-30 20:08] netw0rkf10w commented on #32910
@mihaimaruseac Could you kindly help: https://stackoverflow.com/questions/58174643/issues-when-compiling-tensorflow-custom-operator-tf-2-0-0? Thank you so much!

[2019-09-30 20:09] mschonwe commented on #32691
I did a quick try with TF1.15-rc1, but got an error:
`AttributeError: 'RunConfig' object has no attribute '_session_creation_timeout_secs'`
I tried hard coding it to be be `session_creation_timeout_secs=7200` but that didn't work (because the subfunctions didn't know about that parameter).  I'll look at this again when I have time.

[2019-09-30 20:10] mihaimaruseac commented on #32910
Why not use the bazel build? Makefile build is not supported and most likely you're missing a dependency.

[2019-09-30 20:13] gowthamkpr commented on #32928
Closing this issue due to the lack of context. Please create an other issue with full details as shown by the following [template](https://github.com/tensorflow/tensorflow/issues/new/choose).

[2019-09-30 20:18] minoring opened #32930 "Example title"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform a

[2019-09-30 20:19] #32930 closed

[2019-09-30 20:26] gowthamkpr commented on #32912
Was able to reproduce this issue. Please find the github gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/ca54b9920fba141a43b2ecfa87af9232/untitled154.ipynb).

[2019-09-30 20:40] tocab commented on #32707
I tested it with the final release 2.0.0 and got the same error

[2019-09-30 20:48] samkitjain commented on #5012
I was facing same problem. Proposed solution fixes it.

[2019-09-30 20:51] bloops commented on #29869
I think this bug is a duplicate of this GPU Matmul kernel issue:
https://github.com/tensorflow/tensorflow/issues/26969

I could reproduce this with matmul as well. Both the previous Python implementation of tf.einsum and the new implementation with EinsumOp  (submitted 09/27) uses the same GPU kernels as matmul.

Below is my reproduction on `tf-nightly-gpu-2.0-preview`.

[code]

[2019-09-30 20:55] TimCapes opened #32932 "BatchMatMul for TFLite"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):tf2.0.0-rc1
- Are you willing to contribute it (Yes/No):No

[2019-09-30 21:04] Odera-Dim commented on #32921
Hi all,

So my version of the example now runs to completion. Excluding the code below seemed to cause the issue I was having. But I have an observation which I will like to clarify. The example only runs to completion if the below code statement is included:

[code]

The comment written on it states it only exist on google colab. If its not included the Titanic code fails at any point where a ten

[2019-09-30 21:11] guptapriya commented on #32653
Are you able to provide code for repro?
Also, how much is saving time without batch norm layer?

[2019-09-30 21:13] guptapriya commented on #32653
Also can you generate a profile for the saving part? Some documentation for profiling: https://www.tensorflow.org/tensorboard/r2/tensorboard_profiling_keras#profiler_apis

[2019-09-30 21:25] jvishnuvardhan commented on #32899
@ChosunOne I agree with @sghoshjr. If you change the learning rate from default `0.01` to `0.0005` gives you ~60% training accuracy. So you need to change

[code]

In general, it is always suggested to normalize the inputs data so that you have faster convergence. Even without normalizing input data, you can still get better performance by tuning some hyper parameters. Please check very similar co

[2019-09-30 21:25] #32899 closed

[2019-09-30 21:33] yuefengz commented on #32653
@bearsroom based on what you said `I found another solution to temporarily bypass this problem by only saving the first replica of model.`, looks like the allreduces of the variables caused the slowness. I think it may be worthwhile to get a profile to see why these allreduces are slow.

[2019-09-30 21:37] luvneries opened #32933 "tensorflow_transform can't be used with TF2.0"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-09-30 21:50] ezhulenev commented on #32691
Based on my understanding that is what happens:

1. Conv2D without explicit device string placed on GPU
2. Layout optimizer changes data format NHWC->NCHW becasue it's optimal for the GPU
3. Then **_something_** puts Conv2D back on CPU <<<---- after a discussion we have no idea what it could be

When Conv2D explicitly placed on CPU, it prevents layout optimizer from swapping data format.

@mschonw

[2019-09-30 21:52] mazatov commented on #24828
@synapse8, yeah I tried those solutions and same error. I've installed tensorflow on other machines with the same method and only have issues with this new laptop.

[2019-09-30 22:26] arianaa30 commented on #30728
Does it get fixed on TF 2.0?

[2019-09-30 22:35] gowthamkpr commented on #32933
@luvneries Yes you cannot import tensorflow transform if you are using tensorflow 2.0. The reason being that in tensorflow 2.0 contrib module is being depricated but transform sill uses contrib module as shown [here](https://github.com/tensorflow/transform/blob/11afcff467f779ba6163686395582e69603987d1/tensorflow_transform/analyzers.py#L47). So, when you try to import tensorflow transform, you are

[2019-09-30 22:45] jvishnuvardhan commented on #31848
@pandrey-fr The following works in both the cases. Please take a look at [the gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/64f61393de99906f7134650142bec277/tf31848.ipynb). Thanks!

[code]

[2019-09-30 22:53] jacksonloper commented on #25971
So is current best practice to split large sparse matrices into batches?  It's a little trying since indexing into sparse matrices isn't really a thing.  Would be easier if CSR matrices were supported...

What do you recommend in practice?

[2019-09-30 22:55] martinwicke commented on #32874
The issue tracker is for bug reports, and I assume your post will not be widely read here. You can try posting to discuss@tensorflow.org.

[2019-09-30 22:55] #32874 closed

[2019-09-30 23:04] robieta commented on #30728
With the release of keras-team/keras, this should be fixed in both keras and tf.keras.

[2019-09-30 23:04] #30728 closed

[2019-09-30 23:08] bersbersbers commented on #18096
From TF2 release notes:

[2019-09-30 23:09] KichangKim commented on #31871
tensorflow-gpu==2.0.0 still suffers this issue.

[2019-09-30 23:11] gowthamkpr commented on #32921
@Odera-Dim You can find my github_gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/a91990922687e78065a089425eb25b5b/untitled157.ipynb). This command `%tensorflow_version 2.x` is installing the latest version of tensorflow 2.x and the example only works in Tensorflow 2.0.

Install tensorflow 2.0.0.rc2 using pip
`pip install tensorflow==2.0.0.rc2`

and the rest you can follow the same st

[2019-09-30 23:19] facaiy commented on #32783
@bwindsor22 Hi, Brad. Gelu activation has been implemented in Addons, you might be interested in it: https://github.com/tensorflow/addons/blob/master/tensorflow_addons/activations/README.md

@fchollet @karmel  Hi, François, Karmel. Is it time to port gelu from addons to tf-core? I believe Tzu-Wei @WindQAQ would like to help it.

[2019-09-30 23:20] KichangKim commented on #31871
@robieta @jvishnuvardhan TF 2.0.0 is released today, and this issue sill is there. Any news? or it is not a bug, but TF2.0's intended behaviour?

[2019-09-30 23:42] shyamalschandra commented on #25587
What happened?  It has been more 235 days.  What happened?

[2019-09-30 23:50] gowthamkpr commented on #32911
Yes the behavior of the same function in [1.15](https://colab.sandbox.google.com/gist/gowthamkpr/d9126a9645e900c67e48c05d4f620590/1-15-mse-loss.ipynb) and [2.0.o.rc2](https://colab.sandbox.google.com/gist/gowthamkpr/d9126a9645e900c67e48c05d4f620590/1-15-mse-loss.ipynb) is not the same.

[2019-09-30 23:54] MarkDaoust commented on #25587
@Sri-vatsa : I don't know if there's a public list, but whatever's important to you may be important to someone else. If you send improvements to the python docstrings we'll accept them.

@shyamalschandra : One actionable development is that  TensorFlow now encourages the ["doctest" format](https://docs.python.org/3/library/doctest.html) for code examples.

If you use carets `>>>` instead of code

[2019-10-01 00:00] ouy160 commented on #32908
But I can't successfully execute the code.
here is my pip list

Will there be any errors in my pip list?
Package                            Version
---------------------------------- -------------------
absl-py                            0.8.0
alabaster                          0.7.12
anaconda-client                    1.7.2
anaconda-navigator                 1.9.7
anaconda-project

[2019-10-01 00:04] rryan commented on #32218
Thanks @YichengWu!

Could you please instrument your code to take TensorFlow traces and save them?

You can use [tf.train.ProfilerHook](https://www.tensorflow.org/versions/r1.14/api_docs/python/tf/train/ProfilerHook), which would require you to update your code to use `tf.train.MonitoredSession`, or you could capture a trace manually using [this approach](https://gist.githubusercontent.com/ikhlest

[2019-10-01 00:04] rryan commented on #32218
Ideally, please post a JSON trace file for both the slow behavior and fast behavior.

[2019-10-01 00:09] ymodak commented on #29937
Please take a look at this [GitHub Gist](https://colab.sandbox.google.com/gist/ymodak/bf49fe37b52e5fc9caab053a6d8fc395/github_issue29937.ipynb)

[2019-10-01 00:10] ouy160 commented on #32908
Then here is my detailed error message.

InvalidArgumentError                      Traceback (most recent call last)
F:\path\python\anaconda\envs\py37\lib\site-packages\tensorflow_core\python\eager\context.py in execution_mode(mode)
   1733     ctx.executor = executor_new
-> 1734     yield
   1735   finally:

F:\path\python\anaconda\envs\py37\lib\site-packages\tensorflow_core\python\data\ops\itera

[2019-10-01 00:14] BlueFisher commented on #32897
Thanks for reminding

[2019-10-01 00:14] #32897 closed

[2019-10-01 00:14] ouy160 commented on #32908
Then this is my detailed error message.

InvalidArgumentError                      Traceback (most recent call last)
F:\path\python\anaconda\envs\py37\lib\site-packages\tensorflow_core\python\eager\context.py in execution_mode(mode)
   1733     ctx.executor = executor_new
-> 1734     yield
   1735   finally:

F:\path\python\anaconda\envs\py37\lib\site-packages\tensorflow_core\python\data\ops\itera

[2019-10-01 00:48] jhseu commented on #32885
Yep, sending out a change to lazy load.

[2019-10-01 01:19] ouy160 commented on #32908
Running this code with python 3.6.8 also gets the same error

[2019-10-01 01:35] sgambient opened #32937 "Is it possible to convert a FP16 checkpoints to be compatible with FP32 runs ?"
Hi, looks like AMP ( or FP16) trained  checkpoints are not compatible with non AMP  session runs in Tensorflow.   Is it possible to convert a check point to be compatible with both AMP and non-AMP runs ?

[2019-10-01 01:42] YichengWu commented on #32218
The files are attached.
[json_files.zip](https://github.com/tensorflow/tensorflow/files/3674021/json_files.zip)

[2019-10-01 02:14] jvishnuvardhan commented on #32231
@praveenjune17 Sorry for the delay in response. Could you provide a simple standalone code to reproduce the issue? Also, provide platform details. Thanks!

[2019-10-01 02:18] jvishnuvardhan commented on #32205
@taiftahmid I think you can check the source code of 1.13.1 and 1.14 and find the file that is helping in generating a .pb file from .meta file. Once you find that file, then update your forked version of 1.13.1. Thanks!

Please close the issue.
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions

[2019-10-01 03:35] invencode opened #32938 "Documentation for streaming training data from disk."
I think we need more detailed description and example for streaming training data from disk on
https://www.tensorflow.org/guide/data#basic_mechanics.

It is mentioned on other documents, but no how-tos. It would be helpful if we add how to implement streaming data from disk and improvements on TF2.0, if any.

https://www.tensorflow.org/api_docs/python/tf/data/Dataset#from_tensor_slices
** The link

[2019-10-01 03:57] brucechou1983 opened #32939 "Quantize training flow in TF 2.0"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):2.0.0
- Are you willing to contribute it (Yes/No): Yes

**D

[2019-10-01 03:59] XingyuChen01 commented on #32320
Same issue here. Even on the official tutorial page, the progress bar is extremely long. [https://www.tensorflow.org/tutorials/keras/classification]

[2019-10-01 04:05] gadagashwini commented on #32902
@ophiry, Thanks. I could reproduce the issue with Tf 2.0 latest preview version on colab. Please take a look at [gist here](https://colab.sandbox.google.com/gist/gadagashwini/231b054a770f2af69ca8ca782f3c49e3/untitled170.ipynb). Thanks!

[2019-10-01 04:12] gadagashwini commented on #32873
@nsmetanin, Can you try with with CUDA 10.0. And,  Let us know if issue still persists. Thanks!

[2019-10-01 04:36] hagianga21 commented on #32875
I don't have any simple code right now. Do you have any suggestion?

[2019-10-01 04:36] alokprasad commented on #6356
Google Should concentrate on Supporting Higher Version of NDK rather 14b ,
NDK 19 and NDk20 compiler are more otimized and inference code runs much faster..
There is considerable slowness if you use older NDK( i.e 14b) .. but its very painful to compile with newer ndk as google official dont support them

[2019-10-01 04:39] praveenjune17 commented on #32231
@jvishnuvardhan Raised this [PR](https://github.com/tensorflow/tensorflow/pull/32274) and added a Colab notebook which explains the issue.

[2019-10-01 04:39] #32231 closed

[2019-10-01 05:05] alexforever86 commented on #6341
Finally installed with conda
`conda install protobuf`

[2019-10-01 05:48] abhay1722 commented on #31413
Closing this issue since, contrib folder is removed from master.

[2019-10-01 05:48] #31413 closed

[2019-10-01 05:49] samruddhik3 commented on #30794
This is my code:
import tflearn
from tflearn.layers.conv import conv_2d, max_pool_2d
from tflearn.layers.core import input_data, dropout, fully_connected
from tflearn.layers.estimator import regression

convnet = input_data(shape=[None, IMG_SIZE, IMG_SIZE, 1], name='input')

convnet = conv_2d(convnet, 32, 2, activation='relu')
convnet = max_pool_2d(convnet, 2)

convnet = conv_2d(convnet, 64, 2, ac

[2019-10-01 05:50] Kati07 commented on #30114
I have the same problem, how can I know if my CPU supports AVX or not?
This is the output of cat /proc/cpuinfo
[code]

[2019-10-01 05:57] ElPapi42 commented on #26502
what is going on here? i suffering this error from moths to now

[2019-10-01 06:02] ravikyram commented on #32926
@jayschwa
Did you get a chance to go through Tensorflow official website.
https://www.tensorflow.org/guide/upgrade

[2019-10-01 06:04] SanthoshRajendiran commented on #32816
Attaching with this, the mobilenet-unet keras model and tflite for 2 class segmentation..

An update to the issue, this issue does not serve the same for all keras models. Some other models are performing nearly the same speed. For reference, that file is also attached with this issue..

Both models are keras trained. They have been named according to their behavior on the mobiles. The same speed

[2019-10-01 06:04] oanush commented on #32925
@Kevin-Delnoije ,
Thank you for reporting the issue ,Can you provide `./Config `output ?Thanks!

[2019-10-01 06:08] ElPapi42 commented on #31973
This problem persist with Tensorflow 2.0 lastest release, using VS Code

[2019-10-01 06:10] mohapatras commented on #6310
Can you please elaborate more on this ? Usually "Images per GPU" is pushed and that gets multiplied by "no. of GPUs" given. for examples, batch of 20 per GPU and num GPU is 4, that gets multiplied and a total of 20 x 4 = 80 samples are pushed.

@zakizhou  Am I missing something in your comments ?

[2019-10-01 06:13] gadagashwini commented on #32919
@sealedtx, Please try with latest Tf 1.15.0.rc1 version. And also provide the complete code to reproduce the issue . Looks like MODEL_PATH is not given. Thanks!

[2019-10-01 06:14] oanush commented on #32641
@DeveloperRachit ,

Looks like the indentation is wrong in the code given by you

Please follow the instructions provided in the link and provide us the proper standalone code so that we can try replicating it from our end and help you fixing the issue faced.

[2019-10-01 06:15] Davari393 opened #32940 "My ground_truth.pbtxt and images folder of Preprocessing the minival dataset code are empty!"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platfor

[2019-10-01 06:32] DSOCT18 commented on #27101
i am also getting the same error but on a different model, have you found any solution to this unresolved custom ops:, if yes can you share the solution?
thank you.

[2019-10-01 06:43] hagianga21 commented on #32875
I also tried:

def mean_IOU(y_true, y_pred):
    m = tf.keras.metrics.MeanIoU(num_classes=20)
    m.update_state(y_true, tf.argmax(y_pred, 3))
    return m.result()
model.compile(optimizer= optimizers.SGD(lr=0.01, momentum=0.9), loss='sparse_categorical_crossentropy', metrics=['accuracy', mean_IOU])

The error I got:

Train for 2750.0 steps, validate for 151.0 steps
Epoch 1/30
WARNING:tensorflow:F

[2019-10-01 06:44] srinivasgln commented on #32885
I get the same error  as well ( in Tensorflow 2.0.0 and Python 3.5.2).

[2019-10-01 06:45] rryan commented on #32218
Thanks! What the trace shows is that the actual kernel execute time (on `/device:GPU:0/stream:all`) is comparable between the two:

Fast (0.137 ms):
<img width="1190" alt="Screen Shot 2019-09-30 at 11 26 13 PM" src="https://user-images.githubusercontent.com/26527/65939139-de63c680-e3d9-11e9-8536-a2a1f9b18e37.png">

Slow (0.143 ms):
<img width="1315" alt="Screen Shot 2019-09-30 at 11 26 44 PM" src=

[2019-10-01 06:57] #32205 closed

[2019-10-01 07:00] DSOCT18 opened #32941 "doesn't support control flow ops"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 18.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (or github SHA if from source): '1.15.0-dev20190821'

**Provide the text output from tflite_convert**
2019-10-01 11:52:29.446292: I tensorflow/lite/toco/import_tensorflow.cc:659] Converting unsupported operation: Enter
2019

[2019-10-01 07:06] wchargin commented on #32885
@srinivasgln: @jhseu has a fix in the works; stay tuned.

[2019-10-01 07:16] Efaq commented on #32842
@jsimsa Alright, thanks! Could you please exemplify how to change the code provided in order to correctly run eagerly?

I was really expecting that TF 2.0, when saying it has eager execution by default, would really execute the whole code eagerly, and not only parts of it...

[2019-10-01 07:23] zubairahmed-ai opened #32942 "Tensorflow 2 with CUDA 9?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-10-01 07:56] maziyarpanahi opened #32943 "TensorFlow 2.x Java/Maven release"
Hello,

Our library really depends on `libtensorflow` and `libtensorflow_jni_gpu` releases on Maven, is there any ETA for releasing TensorFlow 2.0 on Maven? The latest release is `1.14.0` now.

Many thanks

[2019-10-01 07:59] charmasaur opened #32944 "Incorrect behaviour creating constants from complex arrays of length >=64"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): custom code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.14.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below

[2019-10-01 08:01] gadagashwini commented on #32927
@bionicles, Can you help us in reproducing the reported issue. When i tried, it throws `ImportError: cannot import name 'log'`. `tools` is installed but still its giving the error. Thanks!

[2019-10-01 08:14] gadagashwini commented on #32768
@fjallraven,
Glad its fixed. Are you happy to close this issue. Thanks!

[2019-10-01 08:19] GaranceRichard opened #32945 "Image load error"
I'm using tf: '2.0.0-rc1'

In the process to load image, you said

for image, label in labeled_ds.take(1):
  print("Image shape: ", image.numpy().shape)
  print("Label: ", label.numpy())

InvalidArgumentError: {{function_node __inference_Dataset_map_process_path_378}} slice index -1 of dimension 0 out of bounds.
	 [[{{node strided_slice}}]] [Op:IteratorGetNextSync]

and then:
train_ds = prepare_fo

[2019-10-01 08:30] netw0rkf10w commented on #32910
@mihaimaruseac Sorry I wanted to reply yesterday but the page was not reachable (probably because of the release). What do you mean by THE bazel build? I'm not building TensorFlow from source, I'm just building a custom operator.

[2019-10-01 09:08] mohitranawat opened #32946 "Error converting .pb model to .tflite"
System information
- OS Platform and Distribution : Windows 10 64-bit
- TensorFlow installed from (source or binary): Binary
-TensorFlow Version - 1.13.1
-Onnx Version - 1.6.0

I have pytorch model and I have to deploy it into android, so I saved the model in onnx and then converted the model in .pb
But not able to convert the model in tensorflowlite.

` import tensorflow as tf

graph_def_file = "

[2019-10-01 09:11] gadagashwini commented on #30114
@Kati07, Please refer this [link](https://superuser.com/questions/1251865/is-there-a-way-to-tell-if-my-hardware-supports-specific-instructions) to know the CPU instructions set.

[2019-10-01 09:25] fisakhan commented on #22963
I receive "ValueError: You tried to call `count_params` on digits, but the layer isn't built. You can build it manually via: `digits.build(batch_input_shape)`."  at line new_model.summary(). I'm using TF 2.0.

inputs = keras.Input(shape=(784,), name='digits')
x = layers.Dense(64, activation='relu', name='dense_1')(inputs)
x = layers.Dense(64, activation='relu', name='dense_2')(x)
outputs = layers.

[2019-10-01 09:34] Atharex opened #32947 "TensorFlow 1.14 self-compiled build installs successfully but fails at runtime with 'ParallelInterleaveDataset' object has no attribute '_flat_structure'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux CentOS 7.6
- TensorFlow installed from (source or binary): source
- TensorFlow version: "git clone --branch r1.14 https://github.com/tensorflow/tensorflow.git"
- Python version: "Python 3.6.8"
- Installed using virtualenv? pip? conda?: "bazel built pip package"
- Bazel version (if compiling from source): "https

[2019-10-01 09:46] zubairahmed-ai commented on #32942
I saw that but would compiling from source fix this?
I don't mind upgrading to CUDA 10 but would older version of TF work?

[2019-10-01 09:53] gadagashwini commented on #32928
@mevalle, Please provide the information asked in the [template](https://github.com/tensorflow/tensorflow/issues/new/choose). Thanks!

[2019-10-01 09:58] rmothukuru commented on #32902
@ophiry,
As per the explanation provided in [this link](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/TensorBoard), the value of the Dictionary of the parameter, `embeddings_metadata` should be a File, not a Folder. Can you please modify it accordingly.

Please refer [this link](https://www.tensorflow.org/tensorboard/r1/summaries#metadata_optional) for more information on the MetaD

[2019-10-01 10:01] davidmweber commented on #30635
Any chance of getting this pushed to maven?

[2019-10-01 10:11] rmothukuru commented on #32841
@shahriar49,

1. Regarding `ValueError`: If you face problem in installing 1.15-rc0, you can try installing 1.14 and check if the issue still persists. Also, you can refer this [Stack Overflow Issue](https://stackoverflow.com/questions/49083984/valueerror-can-not-squeeze-dim1-expected-a-dimension-of-1-got-3-for-sparse) and check if it helps.
2. I could get evaluation results printed at the end of

[2019-10-01 10:19] shkarupa-alex commented on #32341
Same error in 2.0.0 release.

P.S.
Update TF version in reproduce link https://colab.research.google.com/drive/11pWyltRzvQPPvM2dWQ8EqxafB9ByCxNn#scrollTo=HH3J1Tksm3L-

[2019-10-01 10:26] rmothukuru commented on #32787
@shahriar49,
Can you please confirm if you are using `Tensorflow Distribution Strategy` for Distributed Training.

If you are not using it, can you please try using that. The Tutorial for Distributed Training using `Distribution Strategy` is mentioned in [this link](https://www.tensorflow.org/guide/distributed_training).

Please use `tf.distribute.Strategy` as described in the above link and let u

[2019-10-01 10:42] gadagashwini commented on #32942
@zubairahmed-ai, Please take a look at the [tested build configuration](https://www.tensorflow.org/install/source_windows#gpu) of Tensorflow on Windows. Tensorflow >=1.13.0 supports CUDA 10.0. Tensorflow < 1.12 version supports CUDA 9. Thanks!

[2019-10-01 10:52] oanush commented on #32895
Please find the [gist](https://colab.sandbox.google.com/gist/oanush/e1ad3080cdd020c076f3bca11fae5b0f/32895.ipynb) of the colab replicating the issue for TF-2.0rc2.Thanks!

[2019-10-01 10:55] nsmetanin commented on #32873
That reproduces both with CUDA 10.1 and 10.0 (as in tensorflow/tensorflow:1.14.0-gpu-py3 image)

[2019-10-01 10:55] LuisSaybe commented on #32500
still a bug after upgrading to `tensorflow==2.0.0`

[2019-10-01 10:56] RishikMani commented on #21141
I am also having the same issue. It could be easily reproduced using the code below:

[code]

Can anybody help me with this?

[2019-10-01 11:13] lepocube commented on #24385
I'm also facing the same problem. I've complied Bazel from source and the bazel has been compiled and installed successfully.

The installed version is shown in below image.

![Screenshot from 2019-10-01 16-37-34](https://user-images.githubusercontent.com/47119373/65957191-dc494880-e469-11e9-822d-17d48c971988.png)

I've clone the tensorflow-1.13.1 repository and configured it and ran the code `baz

[2019-10-01 11:15] luvneries commented on #32933
Thanks.
I know issue due to contrib module but my question is do we have any plan to make tfx and tf2.0 compatible.

Or is there different platform for tensorflow transform(tfx) to raise this issue.

Regards,
Pankaj Sharma

[2019-10-01 11:34] msadhithyan3 commented on #18736
I have the same issue "2019-10-01 16:56:36.080697: W tensorflow/core/framework/allocator.cc:107] Allocation of 135475200 exceeds 10% of system memory."

[2019-10-01 11:47] mevalle commented on #32928
How can I implement efficiently a layer of morphological neurons (see the papers DOI: 10.1109/ICPR.1996.547657 or DOI: 10.1109/TNN.2003.809427) in tensorflow? Morphological neurons are obtained by replacing the product by the sum and the sum by either the maximum or the minimum operations. In its simplest form, the morphological neurons are given by

image
![image](https://user-images.githubuserco

[2019-10-01 11:52] Jonathan-Oehley commented on #32859
#32383

[2019-10-01 11:57] sandipto-sanyal commented on #18304
Restart Kernel and clear output and run the code block again from start. Issue will be resolved

[2019-10-01 12:16] Jonathan-Oehley commented on #32383
Similar error, gast 0.2.2 also solved for me

[2019-10-01 12:21] zubairahmed-ai commented on #25807
I just installed TF 2 and updated my CUDA from `v9` to `v10` along with cuDNN but I am still getting similar error, environment variables are in place in Windows 10, system has been restarted, dlls are available in `\bin` under `CUDA\v10.0`

`W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynamic library 'cudart64_100.dll'; dlerror: cudart64_100.dll not found`

[2019-10-01 12:26] tiru1930 opened #32948 "tf2.0 model issue on conv3D with activation relu"
== tensorflow installed from info ==================
Name: tensorflow
Version: 2.0.0
Summary: TensorFlow is an open source machine learning framework for everyone.
Home-page: https://www.tensorflow.org/
Author-email: packages@tensorflow.org
License: Apache 2.0
Location: /home/tbaggu/Desktop/pose-anomaly-detection/env/lib/python3.6/site-packages
Required-by:
`class C3Dmodel(Model):

    def __init_

[2019-10-01 12:26] zubairahmed-ai commented on #32942
I updated my CUDA version to 10.0 from 9.0, saw that environment variables are set properly after installing, set the %PYTHONPATH% variable to also include CUDA\v10.0 just in case, restarted my system but I'm still getting this same error

` W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynamic library 'cudart64_100.dll'; dlerror: cudart64_100.dll not found`

[2019-10-01 12:29] krisch12 opened #32949 "WARNING:tensorflow:Entity <bound method MultiRNNCell.call of <tensorflow.python.ops.rnn_cell_impl.MultiRNNCell object at 0x0000025328A10860>> could not be transformed and will be executed as-is"
verbosity=10

WARNING:tensorflow:Entity <bound method MultiRNNCell.call of <tensorflow.python.ops.rnn_cell_impl.MultiRNNCell object at 0x0000025328A10860>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method

[2019-10-01 12:32] tensorflowbutler commented on #32506
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-10-01 12:34] pandrey-fr commented on #31848
@jvishnuvardhan Wow, that is great! I must say I do not quite get yet when exactly it is relevant to use Lambda layers and when it is not, but at least I will know to try it when I encounter similar issues... Thank you :-)

[2019-10-01 12:34] #31848 closed

[2019-10-01 12:35] reuben commented on #6633
I think this was fixed by #23588?

[2019-10-01 12:39] vivekvekariya opened #32950 "Tensorflow 2.0 AdaDelta Optimizer"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-10-01 12:46] ravikyram commented on #32859
@WingsBrokenAngel
Can you please confirm if @Jonathan-Oehley's workaround is working for you.

[2019-10-01 12:47] vivekvekariya commented on #32950
I was using Keras to train my neural network, With Loss function as "Mean Square Error" and optimizer as "AdaDelta". Neural Network trained on MNIST dataset for 5 epochs was giving test accuracy of 92.5%.

Using same set of layers, loss function, optimizer and initialization methods, my neural network model in tensorflow 2.0 is giving output of just 15%.
With other optimizers in TF2 gradient desce

[2019-10-01 12:51] RaphaelMeudec commented on #32950
@vivekvekariya Can you provide a snippet for both your Keras & TF2.0 training? Would be easier to debug.

[2019-10-01 13:24] Odera-Dim commented on #32921
Thanks a lot,  that went well and the example now works on Jupyter too. Below is a screenshot showing that TF is now updated to version 2.0. Thanks again for spending your time to walk me through this. Cheers.

![TF_Update](https://user-images.githubusercontent.com/43386043/65965260-51962880-e42c-11e9-91d1-9b0c4d734d44.png)

[2019-10-01 13:25] msinto93 commented on #28216
I'm not convinced this is resolved. The proposed solution means we now have to process the sequences on a step by step basis. What if we want to use the RNN API (i.e. process entire sequence) with StackedRNNCells?

[2019-10-01 13:50] durandg12 commented on #28338
The issue seems solved in tf2.0.0.

[2019-10-01 13:50] #28338 closed

[2019-10-01 13:58] durandg12 commented on #29881
All warnings have disappeared in tf2.0.0. This one can stay closed for good.

[2019-10-01 14:14] msinto93 opened #32951 "tf.keras.layers.StackedRNNCells() doesn't work with tf.contrib.rnn.ConvLSTMCell()"
Using tf.keras.layers.StackedRNNCells() with the ConvLSTM cell from tf.contrib.rnn.ConvLSTMCell() doesn't work.

[code]

When I run this code I get the following error:

[code]

This is clearly an issue with running StackedRNNCells() with the tf.contrib.rnn.ConvLSTMCell(), as if I modify the code to flatten the conv output and run with a standard LSTM cell, e.g. `tf.nn.rnn_cell.LSTMCell(state_size

[2019-10-01 14:24] WingsBrokenAngel commented on #32859
The problem has been resolved. Thanks!

[2019-10-01 14:26] nikogamulin opened #32952 "ImportError: No module named 'tensorflow_core.estimator'"
Hi, today I updated tensorflow. While trying to run tensorboard, I get the following error:

/home/niko/venv_tf2/bin/python /home/niko/workspace/pupil-detection-v2/tensorflow/diagnose_tensorboard.py
### Diagnostics

<details>
<summary>Diagnostics output</summary>

[code]

</details>

### Next steps

No action items identified. Please copy ALL of the above output,
including the lines containing onl

[2019-10-01 14:38] zyuanbing commented on #9512
by using torch vision 1.3.0.dev20190924
tensorboard  works now.

[2019-10-01 14:55] jayschwa commented on #32926
I suggest updating the release notes to link to https://www.tensorflow.org/guide/upgrade instead of the Medium post.

[2019-10-01 15:15] awav commented on #32242
Hello @k-w-w ,

Okay, what's about this line: `self.list = [tf.convert_to_tensor(10.0), 20.0, tf.Variable(0.0)]`, the list has variable, but it is not stored in the checkpoint.

Variables can be exceedingly large as well. The literals can and should be stored in a checkpoint. Writing a serializer for `int`, `float` and `str` every time when I need to store them is a bit weird.

Can we keep an issu

[2019-10-01 15:26] zubairahmed-ai commented on #32942
smh I pointed the environment variable to the `CUDA\v10.0\bin` folder instead of just `CUDA\v10.0` and it worked, don't know how CUDA 9 was working with just `CUDA\v9` but I spent my day dealing with this obvious issue :(

[2019-10-01 15:26] #32942 closed

[2019-10-01 15:28] ltrottier opened #32953 "Tensorflow 2.0: resampler not available"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): No

**Des

[2019-10-01 15:45] jacksonloper commented on #25971
So here is what I'm doing right now, which seems goofy but I guess it works.

[2019-10-01 15:55] mihaimaruseac commented on #32952
Can you post the versions of tensorflow, estimator and tensorboard you have?

Are you in a virtual env? what operating system? Can you please fill in the issue template?

[2019-10-01 16:06] tejaskhot commented on #32866
@jdduke I am also interested in using strided slice on the 5D tensors from Conv3D. TF Lite is able to convert models successfully but the interpreter fails to allocate tensors.
[code]
Is there a workaround for this?

[2019-10-01 16:37] suharshs commented on #32904
Hi,

This is because the included models are not fully quantized for TensorFlow, but instead Quantization-aware trained model. This means they are float, but have FakeQuantWithMinMaxVars operations emulating the effect of quantization during training. The intention of these models is to emulate the effects of quantization in TensorFlow graphs so that they can be easily converted to TensorFlow Lite

[2019-10-01 16:37] #32904 closed

[2019-10-01 16:50] martinwicke commented on #32813
Is there a firewall active by default on either machine? Can you connect manually to the port?

It could be that the Unix worker doesn't accept connections by default (but can initiate them).

[2019-10-01 16:50] BrianPugh commented on #31166
I've also run into the same issue; current workaround is to perform the matmul on cpu.

[2019-10-01 16:54] reliefs commented on #32627
I will build a work around to fix this for my users, i feel bad for the rest of the community.. Good luck :/

[2019-10-01 16:54] duysPES opened #32954 "Keras 2.2.4 Leaks Memory when using Tensorflow 2.0.0"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-10-01 16:55] gowthamkpr commented on #32933
@luvneries We don't have a concrete deadline as on now. Should be done after the launch of Tensorflow 2.0.

[2019-10-01 16:58] mihaimaruseac commented on #32627
If possible, please release the work around back to the community, in true spirit of open source development

[2019-10-01 17:00] jvishnuvardhan commented on #26608
@meyerjo did you had a chance to send a PR to fix this? Thanks!

[2019-10-01 17:01] TimbusCalin commented on #26502
Does not work with the stable version of TensorFlow.Keras!!!!!

[2019-10-01 17:02] durandg12 commented on #32880
The warning is not here in tf2.0.0 so I can close this issue.

[2019-10-01 17:02] #32880 closed

[2019-10-01 17:04] gowthamkpr commented on #32948
@tiru1930 Can you please provide the github gist of this issue inorder to expedite the process. Thanks!

[2019-10-01 17:05] gowthamkpr commented on #32368
Closing this issue as it has been inactive for more than 15 days. Please add additional comments and we can open the issue again. Thanks!

[2019-10-01 17:05] #32368 closed

[2019-10-01 17:07] durandg12 commented on #30882
The issue is still here in tf2.0.0.

[2019-10-01 17:12] ShreyaKhurana commented on #13746
@formath Were you able to solve this issue?

[2019-10-01 17:18] durandg12 commented on #29879
The issue is still here in tf2.0.0 and it keeps needing to add unnecessary operations in my models. I use the new `tf.sparse_to_dense` as a workaround now butin the end it is almost the same as before.

[2019-10-01 17:19] durandg12 commented on #28440
The issue is still here in tf2.0.0.

[2019-10-01 17:20] hagianga21 opened #32956 "Custom Loss in tensorflow 2.0"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

You can collect some of this information using our environment capture
[script](https://github.com/tensorflow/tensorflow/tree/master/to

[2019-10-01 17:22] TimbusCalin commented on #26502
Hey everyone, if you still struggle, please check my stackoverflow post in which I solve this issue with
TensorFlow 2.0.0 stable release version.

https://stackoverflow.com/questions/58188704/tensorflow-2-0-unable-to-import-keras-in-pycharm

[2019-10-01 17:25] impjdi commented on #32914
@ArtemisZGL I don't think that error message is related.  I think it's a bug on one of the shaders.

Can you share your network, or if it's confidential, can you do a binary search on your network to find out which op with which options (input/output dimensions, strides, dilations, weights, bias, etc.) is bad?

[2019-10-01 17:33] franva commented on #27487
any update?

[2019-10-01 17:33] durandg12 opened #32957 "Unability to reach some modules (feature_column and data) with previous working code"
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.13.6
- TensorFlow installed from (source or binary): pip install tensorflow==2.0.0-beta1
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d382ca 2.0.0
- Python version: v3.6.7:6ec5cf24b7, Oct 20 2018, 03:02:14

**Descri

[2019-10-01 17:36] bionicles commented on #32222
[code]

[2019-10-01 17:37] danvargg opened #32959 "Tensorflow to CoreML with tf-coreml: `Retval[26]` error"
**System information**
- Have I written custom code: a mix of both
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary): `pip install tensorflow-gpu`
- TensorFlow version: 1.14.0
- Python version: 3.6.6
- CUDA/cuDNN version: 10.1
- GPU model and memory: NVIDIA-SMI 418.87.00 / Driver Version: 418.87.00

**Describe the current behavior**
I have a

[2019-10-01 17:42] Risslock opened #32960 "Keras Nadam optmizer generates error when using MirroredStrategy"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18
- TensorFlow installed from (source or bina

[2019-10-01 17:49] graffadev commented on #31509
This bug seems still present as of 2.0.0 official release (as well as RC1)
I tried just now with the code snippet above. I have seen a similar problem in our code.

Any hint?

Thanks
Graffa

[2019-10-01 17:51] frankchn commented on #32868
The TPU version must match the version of TensorFlow you are installing with `pip install`. Are you creating a TF with --version=1.15?

[2019-10-01 17:52] bionicles commented on #32951
Contrib is deprecated, have you tried upgrading to tf 2.0 and using tf.keras.layers.ConvLSTM2D ? https://www.tensorflow.org/api_docs/python/tf/keras/layers/ConvLSTM2D

[2019-10-01 18:20] jvishnuvardhan commented on #27858
@cottrell `tf.summary.tensor_summary` is part of `TF1.x` version only and it will stay with TF1.x. I think there is no need for deprecation warning. For example, [`tf.session`](https://www.tensorflow.org/versions/r1.14/api_docs/python/tf/Session) is part of `TF1.x` only and hence there is no deprecation warning.

Please let us know what you think. Please close this issue if it was resolved. Thanks

[2019-10-01 18:21] anhmeow commented on #32868
@frankchn my initial problem is with TF 1.14 on collab which is in line with TPU, am i right?
i think testing on 1.15 is finally worthless as long as TPU is expecting TF 1.14, do you agree or am i missing something?

[2019-10-01 18:36] ymodak commented on #32791
Have you considered using ```freeze_graph``` function to convert your checkpoint model to frozen model.
You can try,
[code]
https://github.com/tensorflow/tensorflow/blob/f718c5af3706d99d2acb70d27cb79231650e468b/tensorflow/python/tools/freeze_graph.py#L286

[2019-10-01 18:39] sanjoy commented on #32851
You should ignore the XLA_GPU devices in the log output.  They are a legacy way to use XLA that we don't recommend for end users.

If TF detected a `/device:GPU:0` then you're good to go.  If not, TF (with or without `TF_XLA_FLAGS=--tf_xla_auto_jit=2`) will not use a GPU.

[2019-10-01 18:44] omalleyt12 commented on #32320
@qlzh727 Could this be related to the training_v2 loop?

[2019-10-01 18:57] dhananjaisharma10 commented on #32791
Yes, I have been using that as well, but was facing some issues. I was able to convert the model to Core ML without using the BN layers. I am yet to try this _with_ BN. Will update this soon.

[2019-10-01 18:58] shahriar49 commented on #32813
@martinwicke
They can ping each other. How can I check the port connection manually?

[2019-10-01 18:59] qlzh727 commented on #32320
Very likely.

[2019-10-01 19:00] eirism opened #32963 "tf.io.gfile.mkdir restricts directory mode/(permissions)"
**System information**

-  Have I written custom code: Yes
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from: binary
- TensorFlow version: v1.14.0-rc1-22-gaf24dc9 1.14.0
- Python version: 3.6

**Describe the current behavior**
Directories created with `tf.io.gfile.mkdir()` on Linux does not have the w mode bit set for group and other even if allowed by the umask and AC

[2019-10-01 19:15] shahriar49 commented on #32787
@rmothukuru
No I have not defined the distribution strategy, but I see the worker and chief are communicating and training the network together (and the global step per second is increased when having both chief and worker). How does it work without the strategy defined?
And to be honest, I don't understand from the explanations in Tensorflow page which kind of strategy is suitable for my applicat

[2019-10-01 19:21] sahiltyagi4 commented on #27857
According to the official tf train_and_evaluate doc, we are required to specify an evaluator task (along with ps, chief and workers) when running distributed training.
I get the following error: ValueError: No such job in cluster: u'evaluator'

echo $TF_CONFIG={"environment": "cloud", "cluster": {"worker": ["172.18.0.5:8000", "172.18.0.6:8000"], "ps": ["172.18.0.3:8000"], "chief": ["172.18.0.4:800

[2019-10-01 19:27] shahriar49 commented on #32841
@rmothukuru
I checked again and I can run the code in 1.12 but not in 1.13. I will check 1.14 as well.

[2019-10-01 19:32] roshni-b commented on #32949
Can you please fill in the issue template and mention the version of Tensorflow you are using?

[2019-10-01 19:36] zhulingchen opened #32964 "Automatic gradient for numpy functions/external functions"
I am thinking of the following scenarios and want to see if TensorFlow could do Automatic Differentiation for them:

1. There would be a numpy function that accepts numpy array(s) as input(s) and numpy array(s) as output(s);

2. There would be an external executable that accepts numpy array(s) as input(s) and numpy array(s) as output(s).

I know TensorFlow has `tf.numpy_function` (with the v2 cont

[2019-10-01 19:39] ophiry commented on #32902
It is a file - but from inspecting the code it's clear the value isn't used.

note that changing the code as I described in the original message fixes the issue

[2019-10-01 19:42] frankchn commented on #32868
Yeah, in general you need to match the TF versions between the TPU and the Colab/VM instance that you are using. We don't support TF1.15 on Colab and 1.14 on the TPU (or any other combination).

Coming back to your original question, it looks like the XLA compiler doesn't support this feature right now: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/xla/service/dynamic_di

[2019-10-01 19:43] adaber opened #32965 "Freezing a graph using the C API"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-10-01 19:46] ymodak commented on #32723
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-10-01 19:46] #32723 closed

[2019-10-01 19:52] ymodak commented on #32941
Supporting control flow ops is a work in progress.
See https://github.com/tensorflow/tensorflow/issues/28485

[2019-10-01 20:14] jvishnuvardhan commented on #29034
@radiantone Is this still an issue? If not, please close the issue.
If it is still an issue,
1) can you try recently release TF2.0 and check whether the issue is resolved or not?
2) Can you try to run small TF model and see whether you have the same issue?
3) I noticed that you are using Anaconda. Is there any limit set on GPU memory?

Please let us know what you think? Thanks!

[2019-10-01 20:16] MattConley commented on #29886
Closing as @chsigg fixed in commit [9b9bea6](https://github.com/tensorflow/tensorflow/commit/9b9bea65159eea4c8452d7f8b702b32dcb3cea8e)

[2019-10-01 20:16] #29886 closed

[2019-10-01 20:17] #23356 closed

[2019-10-01 20:17] MattConley commented on #23356
Was addressed and fixed in Eigen

[2019-10-01 20:29] martinwicke commented on #32813
I've always used `telnet` for that sort of diagnostic, though I think recent *nixes don't include it.

[2019-10-01 20:37] jvishnuvardhan commented on #29215
I ran @llan-ml code in recently released `TF2.0` and see simpler graph than the one with `TF2.0.alpha0`. [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/129a7c6950a0c001da57319aa0adaad1/tf_29215.ipynb) is the gist with `TF2.0`. Thanks!

[2019-10-01 20:44] dajoke opened #32966 "DepthwiseConv2D missing dilation_rate argument (& higher performance)"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): (yes)
- OS Pla

[2019-10-01 20:49] ymodak commented on #32908
I tried to reproduce the error reported however I was unsuccessful. In the due process I compared the pip versions from your session and my colab runtime sessions.
I see that colab is using ```pathlib==1.0.1``` whereas you are on ```pathlib2``` module.
Here's a [gist](https://colab.sandbox.google.com/gist/ymodak/4dfbf118f49f7ad101ad25cf80d39b60/images.ipynb#scrollTo=mgeiPZkM8_4g) of my colab attem

[2019-10-01 20:53] schmidtdominik opened #32967 "TensorFlow 2.0 doesn't detect the GPU when rerunning the same program"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): /
- OS Platfor

[2019-10-01 20:53] SpikingNeuron commented on #26502
At least with PyCharm IDE (EAP release), it will work. I have tried it and it works. [Check here](https://stackoverflow.com/a/58192020/5681083). Avoid importing `tensorflow_core` if you want to keep code compatible.

[2019-10-01 20:59] schmidtdominik commented on #32967
Update:
it works as expected when installing `tensorflow-gpu==2.0.0rc1` and also `tensorflow-gpu==2.0.0`. It doesn't work with `tensorflow-gpu` (without the version specification).
This might be related to [this](https://github.com/tensorflow/tensorflow/issues/12388) previous issue where `pip install tensorflow-gpu` installed the tensorflow cpu version as well which messed something up.

[2019-10-01 21:16] jvishnuvardhan commented on #32913
@ares5221 As mentioned by others, attention layer exists in recent versions of tensorflow (`TF2.0.0` and others). Please check the more details and code examples of attention layer [here](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Attention).

I am closing this issue as this was resolved. Please feel free to open the issue if the issue persists in `TF2.0`. Thanks!

[2019-10-01 21:16] #32913 closed

[2019-10-01 21:17] shahriar49 commented on #32813
Yes it looks like there is a port blocking issue. Thanks.

[2019-10-01 21:17] #32813 closed

[2019-10-01 21:20] k-w-w commented on #32242
When the values were restored, the list no longer contained any variables. Checkpoint.restore only restores the values of existing objects, but will not modify the objects themselves. In other words, it will not rewrite the elements in the list.

What would be the use case for storing python ints/floats/strings?

[2019-10-01 21:29] jvishnuvardhan commented on #29472
@tms2003 Can you try `TF2.0` and let us know. I ran it in `TF2.0` and I don't see any error. [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/8dc40269e8223c9eb66f286f94e1d621/tf_29472_saved_model.ipynb) is the gist. I just changed epochs from 2 to 1 just to save some TF runtime.

If you think the issue was resolved by `TF2.0` then please close this issue. Thanks!

[2019-10-01 21:30] lejekjr commented on #30464
https://github.com/tensorflow/models/issues/5465

[2019-10-01 21:41] mkulisic opened #32970 "java.nio.BufferOverflowException TensorFlowYoloDetector"
Hello,
I am using Yolov2-tiny to detect a single class a running this on this example app. Because I only need a single class, I have been experimenting by reducing layers on yolov2-tiny and the filter sizes.  After a second reduction of the model, I have ran into the error "java.nio.BufferOverflowException".

**Full Error**
E/AndroidRuntime: FATAL EXCEPTION: inference
    Process: org.tensorflow.

[2019-10-01 21:59] jvishnuvardhan commented on #27679
@eldar Is this still an issue for you? did you try the suggestions from @jsimsa @edloper .
Can you try recently released `TF2.0` and let us know whether the issue persists with the latest version? Thanks!

[2019-10-01 22:10] zdyyyy commented on #16614
![image](https://user-images.githubusercontent.com/44237873/66004415-c4c48c80-e476-11e9-8b0e-9be4c9d89b69.png)

[2019-10-01 22:11] zdyyyy commented on #16614
![image](https://user-images.githubusercontent.com/44237873/66004455-df970100-e476-11e9-9b97-b2daa21313ff.png)

[2019-10-01 22:12] zdyyyy commented on #16614
![image](https://user-images.githubusercontent.com/44237873/66004539-1240f980-e477-11e9-990e-f9d467ad51de.png)
What should I do?

[2019-10-01 22:29] eirism opened #32972 "tf.io.gfile.mkdir does not throw exception if path exists"
**System information**

-  Have I written custom code: Yes
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from: binary
- TensorFlow version: v1.14.0-rc1-22-gaf24dc9 1.14.0
- Python version: 3.6

**Describe the current behavior**
`tf.io.gfile.mkdir()` on Linux does not throw an exception if the path exists. This can cause problems if the path is a file, as you would assum

[2019-10-01 22:35] IanQS commented on #30453
Is this still an open issue?

[2019-10-01 22:36] IanQS commented on #31173
@omalleyt12 sorry to bother you did you manage to get a solution merged in?

[2019-10-01 23:16] jvishnuvardhan commented on #31324
@bjornsing I think this was resolved in `TF2.0`. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/dfcdb51d1f8123e38185461f56334726/tf31324.ipynb).

Output from your code with `TF2.0` is as follows. After setting the learning rate variable to 0.0, `tf_a` was constant as expected.

[code]

I am closing this issue as it was resolved in `TF2,0`. Please feel free to ope

[2019-10-01 23:16] #31324 closed

[2019-10-01 23:24] tanzhenyu commented on #31324
Oh sorry to update this. Yes it is fixed before our official launch (yesterday)

[2019-10-01 23:46] jvishnuvardhan commented on #30830
@theangels I ran your code and `old-model.h5` and everything works as expected in Google colab. Please find the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/28f5e193e4b94804fc7cb4e1fde942fa/tf30830.ipynb).

I think there is some installation issue. Did you follow the instructions listed [here](https://www.tensorflow.org/install) for installing `TF2.0`. First uninstall current v

[2019-10-02 00:07] #29777 closed

[2019-10-02 00:16] eirism opened #32975 "tf.io.gfile.GFile does not work with Python zipfile"
**System information**

-  Have I written custom code: Yes
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from: binary
- TensorFlow version: v1.14.0-rc1-22-gaf24dc9 1.14.0
- Python version: 3.6

**Describe the current behavior**
`tf.io.gfile.GFile` does not work correctly with the Python built in `zipfile` module. When writing to a ZipFile where `file=GFile()` the result

[2019-10-02 00:25] fchollet commented on #32783
@facaiy sounds good, we should port the Addons Gelu to core. Please open a PR.

[2019-10-02 00:29] amitpandey2194 commented on #32624
predicting.h #headerfile
[code]
#predicting.cpp #definition file
[code]

#main.cpp
[code]
Links to Code and Graph:

[CodeBase and GraphPng and GIF hosted on GDrive
](https://drive.google.com/drive/folders/1iO7JIitD_BfHnnLqgzvUygFwAAW6v_5G)

Thanks @oanush for responding to this. Let me know if you need anything else. The graph on the drive would show you appropriate inputs and outputs.

Note: In m

[2019-10-02 00:50] allangelman commented on #32701
Thank you for all the help! I was able to resolve the issue! The problem was that I hadn't installed the tensorflow-gpu package, so the entire time I was actually not even using my GPU! Running `nvidia-smi` helped me figure this out, as I was able to see the usage of my GPU.

[2019-10-02 01:05] MQ99 opened #32977 "tensorflow2.0 can't find CRF"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):tensorflow2.0
- Are you willing to contribute it (Yes/No):

[2019-10-02 01:31] sjdrc commented on #32085
Hello? I have been waiting for quite some time for a response on this. Surely this is documented somewhere.

[2019-10-02 01:41] sakshiganeriwal commented on #24815
Hello everyone,
Is someone already working on this? I have not done any open source contributions  to tensorflow yet. I'd like to take this issue if no one is currently working. is that okay?

[2019-10-02 02:31] paanguin commented on #32495
Considering the tensorflow quantization specification (https://www.tensorflow.org/lite/performance/quantization_spec),
[code]
it seems better to use fixed min/max values as follows, rather than using the same min/max from the input tensor.
[code]

[2019-10-02 02:54] saxenasaurabh commented on #24815
Please send a PR. I'd be happy to review.

[2019-10-02 03:23] #32956 closed

[2019-10-02 04:28] ouy160 commented on #32908
I am sorry, your code failed to run on my computer.And got the same error message.
Colab uses the linux version of python and successfully runs this code.
And I am using the win10 version of python, running this code and getting the same error.

[2019-10-02 04:43] mihaimaruseac commented on #32701
Closing as issue is fixed

[2019-10-02 04:43] #32701 closed

[2019-10-02 04:54] llan-ml commented on #29215
@jvishnuvardhan Thanks for your effort!

For now, there are still some extra internal ops existing like
![image](https://user-images.githubusercontent.com/22030149/66018682-9d230200-e512-11e9-9c3e-25f2415bde6f.png)

It would be better if either we can batch these extra ops (except for `data`) within a predefined or customized scope or they are removed from the main graph by default.

[2019-10-02 05:21] yunxing commented on #32868
This should have been fixed in our internal branch. @rxsang is there a way to disable dynamic shape for this case?

[2019-10-02 05:34] jiawei6636 opened #32980 "Why are the Adam implementations in tensorflow.python.keras.optimizers and tensorflow.keras.optimizers different in tensorflow2.0stable?"
Why are the Adam implementations in tensorflow.python.keras.optimizers and tensorflow.keras.optimizers different?

[2019-10-02 05:38] rxsang commented on #32868
You can call "dataset = dataset.batch(8, drop_remainder=True)" to disable the dynamic shape here.

[2019-10-02 06:06] hagianga21 opened #32981 "Accessing validation data within a custom callback ??"
**Describe the current behavior**
Hi, how can I access validation data within a custom callback ?

**Code to reproduce the issue**
Provide a reproducible test case that is the bare minimum necessary to generate the problem.

[code]
**Other info / logs**
TypeError: 'NoneType' object is not subscriptable

[2019-10-02 06:18] #32885 closed

[2019-10-02 06:39] makercob commented on #31973
@ElPapi42 PyCharm 2019.3 coming to rescue, probably in Nov.

[2019-10-02 06:55] RensDimmendaal opened #32982 "TF2 Stubs for intellisense; current way tf2 imports modules does not support intellisense"
**System information**
- TensorFlow version (you are using): 2.0.0
- Are you willing to contribute it (Yes/No): Happy to help out

**Describe the feature and the current behavior/state.**
Intellisense does not work because of the way tf2 has import statements.

![image](https://user-images.githubusercontent.com/9828683/66023599-f7f83180-e4f1-11e9-83d0-fe931c4486f6.png)

**Will this change the curr

[2019-10-02 07:04] sockfish opened #32983 "BoostedTreesClassifier double free or corruption (!prev)"
I am running the BoostedTreesClassifier tutorial (https://www.tensorflow.org/tutorials/estimator/boosted_trees) on tf2.0

During the training call:

a "double free or corruption (!prev)" is logged and the python process crashes

TF 2.0.0 (pip installed)
Ubuntu 19.04
python 3.7
cuda 10.0.130
GPU: RTX 2080 Ti

Other tensorflow components (ie keras) work fine

[2019-10-02 07:34] nguyenduchuyvn commented on #32949
I use TF 2.0 and got this Warning

WARNING:tensorflow:Entity <bound method MyModel.call of <__main__.MyModel object at 0x7ff6c8b6eeb8>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method MyModel.call of <__

[2019-10-02 08:10] L-ENA commented on #32949
I got this too, while fine-tuning BERT:

WARNING:tensorflow:Entity <bound method Dense.call of <tensorflow.python.layers.core.Dense object at 0x7f2fdcec2748>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound met

[2019-10-02 08:11] raspstephan commented on #956
@FedericoMuciaccia

Why would your first method using concatenation not work for differentiation? I just implemented this version and from what I can see, autodiff works fine.

[2019-10-02 08:13] kojix2 commented on #19147
Famous Ruby community developer Andrew Kane has started creating a TensorFlow binding.
https://github.com/ankane/tensorflow

[2019-10-02 08:22] xro7 commented on #27519
I had the same issue. Turned out that I was trying to use .numpy() inside a @tf.function. As far as I understand tf.function is not executed eagerly for performance purposes. If I remove the @tf.function decorator .numpy() works.

[2019-10-02 09:16] #32859 closed

[2019-10-02 09:34] boegel commented on #32790
@hassanshallal I'm hitting the same problem, did you figure out a fix for this?

[2019-10-02 09:40] bilalsoomro commented on #24830
@rafalfirlejczyk Hi, did you find a solution for the slower inference time using NNAPI on that device?

[2019-10-02 10:00] ll01 commented on #29704
I get similar results as well on mac os
`git checkout v2.0.0-rc2`
Using the python3 target outputs

![Screenshot 2019-10-02 at 10 58 04](https://user-images.githubusercontent.com/6953881/66035719-9476ff80-e503-11e9-85ca-402c62d65a59.png)

On windows it dosn't even get to that point (I'm on my mac right now. I will post the windows results later).

[2019-10-02 10:44] Macilias commented on #25880
I just converted our internal project by following the changes on the examples, and the migration is still failing because of either one of the issues:
1. `Cannot convert between a TensorFlowLite buffer with 30420 bytes and a ByteBuffer with 2076672 bytes.`
2. `Internal error: Unexpected failure when preparing tensor allocations: tensorflow/lite/kernels/pad.cc:74 SizeOfDimension(op_context->paddin

[2019-10-02 10:47] Shagai opened #32985 "Tensorflow C++ LOG problem"
### System information
- **Linux Ubuntu 18.04**:
- **GCC: 7.4.0**
- **no CUDA or cuDNN used**
- **Tensorflow 1.14**

### Steps to reproduce

[code]

If I compile this code with the gcc flags `-Werror -O -g -pthread` the  program runs perfectly.
[code]

But if I use these flags `-Werror -O2 -pthread` the program doesn't create a session and give this error:

[code]

The problem dissapears when I ad

[2019-10-02 11:06] #32768 closed

[2019-10-02 11:32] weizhuang-93 commented on #32627
would love to see another wheels for 32bit system too.. eg. Hololens 1, although hololens 2 is x64 but i am sure a lot other produkt will still be in x32

[2019-10-02 11:35] anhmeow commented on #32868
@yunxing @rxsang In the code i provided to reproduce the issue, i've already put
[code]
Unfortunately, i doesn't work for the evaluate method with TFRecords

[2019-10-02 11:36] niumeng07 opened #32986 "Report You must feed a value for placeholder when I do feed the value."
Tensorflow works in parameter-server mode.
worker1 starts training success, but worker 0 reports an error.

OS: macOS
Python: 3.7.4
Tensorflow: 1.14.0

[code]
I print the feed_dict, onehot_c1 was generated success as follows

[code]

Worker 1 trains normally and gives training info
[code]

[2019-10-02 11:44] weizhuang-93 commented on #32627
[https://github.com/fo40225/tensorflow-windows-wheel/tree/master/1.8.0/py36/CPU/sse2](url) is a possible functional wheel for 32bit system..

[2019-10-02 11:52] #32986 closed

[2019-10-02 11:55] dbonner opened #32987 "[tf2.0.0] tf.keras.layers.GRU incorrect output of model.fit_generator trying to run Francois Chollet's notebook"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): I have slightly modified Francoiis Chollet's Jupyter notebook 6.3 from his book "Deep Learning with Python" so that it runs on tensorflow.keras rather than keras (i.e. "from tensorflow.keras import layers" instead of "from keras import layers" etc)
- OS Platform and Distribution

[2019-10-02 12:15] mirth opened #32988 "The simple model converted by TFLiteConverter not accelerates by Coral USB Accelerator"
**Code to reproduce the issue**
Code to convert the model on Macbook Pro:

[code]

Code to inference the model on Raspberry Pi:
[code]

**System information**
About machine that model had been converted on:
- Macbook Pro Mid 2014, macOS Mojave 10.14.6
- TensorFlow installed by `sudo pip install -U tensorflow`
- TensorFlow version: v2.0.0-rc2-26-g64c3d382ca 2.0.0

About machine that tflite model ha

[2019-10-02 12:15] miffyrcee commented on #32977
试试这个吧https://github.com/tensorflow/addons/commit/47e687725eb4d65e45498e67a9026177fda684dd

[2019-10-02 12:18] pandrey-fr commented on #32964
Hi,

What you are asking would require some kind of AutoGraph for numpy functions, _i.e._ a generic translator of "numpy functions" into tensorflow operations, which would perhaps be possible to implement but would require a lot of effort, and would probably induce some heavy over-head (AutoGraph is already creating some significant overhead on some cases, and it is attached to a set of Python con

[2019-10-02 12:34] aaronpries commented on #32952
I had the same issue, fixed it by uninstalling everything tensorflow related (also `pip uninstall tensorflow-estimator tensorboard tb-nightly tf-estimator-nightly`). A clean install afterwards fixed it.

[2019-10-02 13:03] ngamulin commented on #32952
@aaronpries , I uninstalled tensorboard, reinstalled estimator and tensorflow and it works fine now. I guess the issue can be closed.

[2019-10-02 13:05] #32952 closed

[2019-10-02 13:07] jiawei6636 commented on #32879
I want to use the local tensorboard, not the online embedding projector. I can use the local tensorboard embedding projector in TF1.0, but I don't how to use it in TF2.0

[2019-10-02 13:12] MarkDaoust commented on #32924
Hi, thanks for reporting this.

It's fixed in master and 2.0. In general it's not worth the effort to go back and update docs in release branches unless it's something critical.

[2019-10-02 13:12] #32924 closed

[2019-10-02 13:19] marcel1991 commented on #26501
libtensorflow-lite.a is just the compiled static library of tensorflow lite that you can use in your own custom c++ code to inference a neural network. The minimal.cc is an example code that shows you how you can actually use the tensorflow-lite static library. So you should have a look into the minimal.cc source file to get an understanding.

For using your own network you need to train your own

[2019-10-02 13:29] ziofil commented on #30468
@jaingaurav Any update on this issue?

[2019-10-02 13:38] dawsonlp opened #32990 "Basic tutorial from Tensorflow 2.0 no longer runs on small machine"
**System information**
- Tensorflow basic tutorial code from https://www.tensorflow.org/tutorials/quickstart/beginner
- Python version:3.7.4, standard yum repository, compiled by GCC 7.3.1 20180712 (Red Hat 7.3.1-6)] on linux
- Amazon free-tier EC2 node running amazon linux 2.
- pip installed version of tensorflow version 2.0.0

**Describe the current behavior**
Dies due to memory constraints on T

[2019-10-02 13:40] weizhuang-93 commented on #14607
uwp build on 32 bit system is really an issue

[2019-10-02 13:51] wwwind opened #32991 "Test //tensorflow/lite/python:tflite_convert_test is broken"
I run Python tests for TFLite converter using this command
`//tensorflow/lite/python:tflite_convert_test`

and I have error:
`ERROR: missing input file '//tensorflow/lite/python:tflite_convert.par'`

Please take a look and include this test data or maybe I run it wrong way ?
Thanks

[2019-10-02 13:52] wwwind commented on #32991
@gargn Could you please take a look ? Thanks

[2019-10-02 14:23] UndeadKernel commented on #30427
With the latest release of tensorflow (i.e., 2.0.0) and numpy 1.17.2, the warning is back.

[2019-10-02 14:26] msinto93 commented on #32951
If I understand correctly tf.keras.layers.ConvLSTM2D() is a **layer**, while StackedRNNCells() takes **cells** as input. Can you clarify this? Or give an example of usage of a stacked ConvLTSM layer?

[2019-10-02 14:32] MohamedNourArm commented on #30838
This issue was fixed in the master branch, seemingly by this commit: https://github.com/tensorflow/tensorflow/commit/a372bb0e9d77b3532eec1bf24a44bbf342673968#diff-69178ece8d1001b2ef7f9b329e9a525b

[2019-10-02 14:45] cadama commented on #32487
It works indeed. Thanks.

[2019-10-02 15:07] besherh commented on #32629
@andcarnivorous
I have already tried it on Raspberry Pi 3, Stretch Lite, Edgetpu 2.11.1, but not worked for me.

[2019-10-02 15:18] wchargin commented on #32885
Confirmed fixed in nightly; thanks!

[2019-10-02 15:24] jdduke commented on #25880
If you need to resize the input tensor, you should first call Interpreter.resizeInputTensor(`inputIndex`, `newShape`). Otherwise, when you feed the interpreter a flat ByteBuffer, it will try to fit that buffer into the existing tensor's buffer.

What shape did you use during conversion? And what shape are you using for your input data?

[2019-10-02 15:31] vivekvekariya commented on #32950
keras.initializers.RandomNormal(mean=0.0, stddev=0.05, seed=1)
<img width="520" alt="tf2 Implementation" src="https://user-images.githubusercontent.com/38262106/66058292-68c33c00-e53a-11e9-8c08-79cca0d32bcb.png">
<img width="539" alt="Keras Implementation" src="https://user-images.githubusercontent.com/38262106/66058293-695bd280-e53a-11e9-92f0-30da3b317e91.png">

[2019-10-02 15:32] avnishn commented on #25349
@tanzhenyu if there are any open issues that a community contributor can help with, I'd be more than happy to help!

[2019-10-02 15:37] Namburger commented on #32629
@andcarnivorous are you using the edgetpu api or the tflite_runtime api?
I have not been able to use the tflite_runtime api at all on the pi3 b+

[2019-10-02 15:41] tanzhenyu commented on #25349
@avnishn can you help with converting [ACER](https://github.com/openai/baselines/tree/master/baselines/acer) to TF2?

[2019-10-02 15:53] iperov commented on #32881
also I tried to set
[code]
but it did not fixed the issue when using pynvml

[2019-10-02 16:03] ll01 commented on #29704
A bit more digging and I found this guy
https://github.com/PINTO0309/Tensorflow-bin
that was able to compile the arm version of TensorFlow 2 but I haven't checked it out yet.

[2019-10-02 16:14] reuben commented on #31852
I can still reproduce this with TF 2.0 stable: https://colab.research.google.com/drive/1HiablUdEyJECtClfyMr7JtV3ftIbta_M (this is just a copy of https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/guide/distributed_training.ipynb but with code to add two virtual GPUs).

[2019-10-02 16:15] mihaimaruseac commented on #32319
New update:

`gast` has been pinned to 0.2.2 for 1.15 and 2.0 and later releases as well as nightly.
TF 1.14 or earlier don't have `gast` pinned and won't get it as we are not doing more releases there (except for security vulnerabilities).

If you encounter this issue on 1.14 or earlier, please install gast==0.2.2 using pip before installing tensorflow.

[2019-10-02 16:43] vmarkovtsev commented on #32654
Although `NCCL_P2P_DISABLE=1` fixed the original problem, I've got an even worse one. I saw the Keras' progress bar, then it hanged again. More DMAR errors in `dmesg`, the process consumes 100% CPU (1 core) and is immortal: even `kill -9` does not help. Disabling VT-x in BIOS did not help. I will try booting the kernel with `intel_iommu=off` to see if it helps.

[2019-10-02 16:46] xsr6064 commented on #24774
I implemented a customized loss similar to yours, and `tf.map_fn` is running very slow as well. is it possible to share how you vectorized your computation? thanks a lot.

[2019-10-02 16:47] yangzhuoran opened #32993 "Run sample of experts is not work on local"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu 18.04
- Mobile device (e

[2019-10-02 16:55] goldiegadde commented on #32925
@aaroey I believe this issue is fixed by https://github.com/tensorflow/tensorflow/commit/6ce88bc983a98120c080a6a7a8b87d4e3416ea03

If so can we mark this as fixed please.

[2019-10-02 17:06] goldiegadde commented on #29578
mmv@ have you tested this with TensorFlow 2.0.0  that has been released,
fix for https://github.com/tensorflow/tensorflow/issues/29075 that was referenced above has been cherrypicked into the r2.0 branch.

[2019-10-02 17:07] aaroey commented on #32925
@pooyadavoodi could you please help to confirm if #32823 fixed the problem?

[2019-10-02 17:13] avnishn commented on #25349
Sure thing! Is there a date that you need it by?

[2019-10-02 17:15] DanMinhNguyen commented on #32104
Can confirm with @cupdike . I had a similar issue with my own project when switching to TF2 (stable. I waited for the official release a couple days ago), with a 2x to 3x decrease in training time for the same data and code, as compared to TF1. After some Google searching and reading, I then proceeded to implement the code using tf.data.Dataset.from_generator(), instead, which allows me to use mod

[2019-10-02 17:17] pooyadavoodi commented on #32925
Yes, the error `cp: cannot stat '/usr/include/x86_64-linux-gnu/NvInferRTSafe.h': No such file or directory` is fixed by https://github.com/tensorflow/tensorflow/commit/6ce88bc983a98120c080a6a7a8b87d4e3416ea03

[2019-10-02 17:18] aaroey commented on #32925
Thanks Pooya, I'm closing this. Feel free to reopen if necessary.

[2019-10-02 17:18] #32925 closed

[2019-10-02 17:23] tanzhenyu commented on #25349
@avnishn Probably in a month or two. I don't have much bandwidth to make this at the moment, but ACER should be pretty straightforward compared to other algs. Let me know if you run into any issues.

[2019-10-02 17:24] goldiegadde commented on #32118
@terhorst please let us know  if the suggestion by @kkimdev is helpful and we can close the issue.

[2019-10-02 17:27] gowthamkpr commented on #32928
@mevalle I am not sure on how to implement morphological layer but you can go through this [link](https://www.tensorflow.org/tutorials/customization/custom_layers) on how you can write your own custom layer and try to implement it by yourself.

[2019-10-02 17:32] gowthamkpr commented on #32933
Closing this issue as it has been answered. Please add additional comments and we can open this issue again

[2019-10-02 17:32] #32933 closed

[2019-10-02 17:40] arianaa30 commented on #20778
What I did on my Ubuntu container was this, and it worked!
[code]

[2019-10-02 17:42] gowthamkpr commented on #32945
@GaranceRichard Can you please provide the github gist of this issue as its too vauge for us right noew to look into it. Thanks!

[2019-10-02 17:44] mevalle commented on #32928
Thank you very much for the link. I shall try to implement it!

[2019-10-02 17:47] jvishnuvardhan commented on #29578
@goldiegadde I ran the code (@mmv code) with `TF2.0.0` and `TF2.0.0b0`.  I noticed `TF2.0.0` is consistently faster than `TF2.0.0b0`.  Please check the [gist with `TF2.0`](https://colab.sandbox.google.com/gist/jvishnuvardhan/e16e60b3356be6284ca1bd84ebd2a1c9/tf2-bugs-graph-slower-than-eager.ipynb) and the [gist with `TF2.0.0b0`](https://colab.sandbox.google.com/gist/jvishnuvardhan/33f145cf86aece336

[2019-10-02 17:58] ymodak commented on #32945
Duplicate #32908

[2019-10-02 18:01] hassanshallal commented on #32790
I ended up using tfds:

[code]

[2019-10-02 18:05] gowthamkpr commented on #32945
I was unsuccessful in reproducing it using tensorflow 2rc2([gist](https://colab.sandbox.google.com/gist/gowthamkpr/0ffa44c454f3f5d9a9e271cdfb770216/copy-of-images.ipynb)) and tensorflow  2rc1([gist](https://colab.sandbox.google.com/gist/gowthamkpr/ca59490892b25e4074fa8598d590d6b2/copy-of-images1.ipynb)). Please provide the details as mentioned above. Thanks!

[2019-10-02 18:06] vmarkovtsev commented on #32654
I confirm that booting the kernel with `intel_iommu=off` fixed all the hangs and I am finally enjoying the multi-gpu training.

[2019-10-02 18:14] disembarrasing commented on #29144
The code works, at least a simple example from official tf page, but IDE (Pycharm Professional 2019 in my case) still doesn't provide any suggestions except for `tensorflow.estimator`

[2019-10-02 18:14] jvishnuvardhan commented on #32915
@canasta Can you explain the issue with little more details. I checked the links you provided and both points to same page. Are you seeing different page? Please let us know. Thanks!

[2019-10-02 18:15] minaskar opened #32996 "tf.linalg.inv() on GPU"
Hi all,

It seems that running tf.linalg.inv() on a GPU has no difference in terms of speed with respect to the CPU.

Is there a way to use GPU acceleration to compute the matrix inverse faster?

Cheers,

[2019-10-02 18:17] Kramax opened #32997 "Cannot link to built tensorflow_cc.lib with Visual C++ -- undefined symbols; r2.0"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
   Windows 10 1903 Build 18362

[2019-10-02 18:34] ymodak commented on #32890
Closing this issue since the associated PR has been merged. Thanks!

[2019-10-02 18:34] #32890 closed

[2019-10-02 18:36] gowthamkpr commented on #32983
I am unable to reproduce the above error in colab. The github gist is [here](https://colab.sandbox.google.com/gist/gowthamkpr/e795c91a7fdaa9c7766c5a9381da474e/copy-of-boosted_trees.ipynb).

But I think this is a duplicate of this [issue](https://github.com/tensorflow/tensorflow/issues/6968). Go through the issue and it should help you in resolving it.

[2019-10-02 18:41] ltrottier commented on #31084
Thanks for the link. It is indeed how python works. I can't believe I've never seen this before.

[2019-10-02 18:42] feranick opened #32998 "Cannot compile TF 2.0.0 with MacOS 10.14.6 and XCode 11.0"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOs 10.14.6
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: No
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use comma

[2019-10-02 18:43] feranick commented on #32998
I should note that compilation proceeded just fine with Xcode 10.3 and TF 2.0.0-rc2.

[2019-10-02 18:43] mihaimaruseac commented on #29144
That's news. Can you try with https://github.com/tensorflow/tensorflow/issues/26502#issuecomment-537225803?

[2019-10-02 18:59] disembarrasing commented on #29144
Just checked it, the EAP build works, I do apologise for the confusion

[2019-10-02 19:04] alextp commented on #32726
The issue you're seeing is because of ref variables. Instead of fetching ref variables, fetch the result of tf.identity(ref_variable) (or use tf.enable_resource_variables() when building your graph to stop using the deprecated ref variables).

[2019-10-02 19:04] #32726 closed

[2019-10-02 19:04] hpahkala commented on #31795
I have same issue.
Win10 Python3.6.8 TF1.14 CUDA10.1 cuDNN7.6.4

`# Works fine and gives answer 1 GPU`
`print("Num GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))`

`from tensorflow.python.client import device_lib`
`print(device_lib.list_local_devices()) # Crash "failed to get device attribute 13 for device 0:"`

[2019-10-02 19:04] novog commented on #32954
I can't run the provided example because `gan_loss` isn't defined; could you update the code?

[2019-10-02 19:09] mattc-eostar opened #32999 "Error converting NMT sequence to sequence example to .tflite model"
I am following this example:
https://www.tensorflow.org/tutorials/text/nmt_with_attention

It is working as it should be and saving checkpoints.
I want to now convert this to a TF Lite model following this example:
https://www.tensorflow.org/lite/convert/python_api#converting_a_savedmodel_
or
https://www.tensorflow.org/lite/convert/python_api#converting_a_concrete_function_

Here is what I am runn

[2019-10-02 19:15] rajatpaliwal commented on #32363
It is solved. Thanks for replying.

[2019-10-02 19:15] #32363 closed

[2019-10-02 19:23] mattc-eostar commented on #32999
Was able to get around it by passing the params as a list and then extract the variables `x, hidden, enc_output = x` in the call function of the decoder...

[2019-10-02 19:25] edloper commented on #8246
@jackd If you have the cycles to write up an optimized kernel solution for this (incl. a gradient function), I'll help make sure it gets accepted.  (I'm the original author of the pure-python version, and a faster version would help speed up several RaggedTensor operations.)

[2019-10-02 19:32] mattc-eostar commented on #32999
Now it cannot convert a tensor, but not sure what this tensor is coming from:
[code]

[2019-10-02 20:19] daviduarte commented on #32767
Same problem here

[2019-10-02 20:20] daviduarte commented on #32767
Same problem here

[2019-10-02 20:21] #32921 closed

[2019-10-02 20:31] gowthamkpr commented on #32990
This might be caused due to many reasons but you can take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/18736) and try different solutions provided by users as I am unable to reproduce this issue in [colab](https://colab.sandbox.google.com/gist/gowthamkpr/ee02c43bc293210521d0e9baeb362fb4/untitled158.ipynb).

[2019-10-02 20:31] goldiegadde commented on #31975
Marking this issue as closed, since we believe this was fixed, please feel free to reopen if that is not the case.

[2019-10-02 20:31] #31975 closed

[2019-10-02 20:32] canasta commented on #32915
When I write this issue, the link(first result in [https://www.tensorflow.org/s/results?q=dynamic_rnn](this) page) moves me to [https://www.tensorflow.org/api_docs/python/tf/nn/dynamic_rnn](https://www.tensorflow.org/api_docs/python/tf/nn/dynamic_rnn) and it shows 404 ERROR.
And I tried again with another module which exist in r2.0 and r1.14 both, than search result moves me to r2.0 page, not 404

[2019-10-02 20:32] #32915 closed

[2019-10-02 20:34] duysPES commented on #32954
Just an update: I found similiar issues about keras leaking memory on the net. I still couldn't find exactly what was wrong, but it seemed that the .fit() method doesn't like to be called in loop, this somehow creates things. I was able to partially subdue this problem by calling `tf.keras.backend.clear_session()` however that only slowed the memory leaked, it didn't stop it.

I managed to fix thi

[2019-10-02 20:34] #32954 closed

[2019-10-02 20:36] gowthamkpr commented on #32950
@vivekvekariya Can you please provide a github gist of this issue. Thanks!

[2019-10-02 20:41] gowthamkpr commented on #32977
@MQ99 Can you please try @miffyrcee recommendation and let me know if it helps.

[2019-10-02 20:45] MarkDaoust commented on #32923
Thanks for the report.

@sharvil this page4 is generated from the [source here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/string_ops.py#L347-L363).

Any chance you could send me a PR to fix it?

Note that we support [python doctest for code examples](https://www.tensorflow.org/community/contribute/docs_ref) now.

[2019-10-02 20:55] renato-junior commented on #32946
I am facing this same error, in tensorflow 1.14.0.

Converted a Pytorch ResNet-50 model to ONNX, then from ONNX to save graph (.pb). The execution of tf.lite.TFLiteConverter.from_frozen_graph is aborted with the following erros:

`2019-10-02 17:21:46.869078: I tensorflow/lite/toco/import_tensorflow.cc:1336] Converting unsupported operation: PyFunc
2019-10-02 17:21:46.876495: F tensorflow/lite/toco

[2019-10-02 20:56] jvishnuvardhan commented on #32915
@canasta Actually team is working hard on updating the docs. Updating many docs from 1.x to 2.x is a huge task. Still there are some links are not working in TF website but are updated in master branch. So, in the near future TF website will be updated completely.

Please let us know If you see any link that is not working as intended. Thanks!