[2017-08-03 10:07] netheril96 commented on #11971
If I access the raw session object, I lose the ability to auto recover session from errors.

[2017-08-03 10:10] saru95 commented on #1318
@asimshankar Could you re-link the `how-to` page?

[2017-08-03 10:10] Mazecreator commented on #11971
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  mazecreator@gmail.com
    Domain mazecreator.com has exceeded the max emails per hour (26/25 (104%)) allowed.  Message will be reattempted later

------- This is a copy of the message, i

[2017-08-03 10:18] latoureiffel opened #11998 "tensorflow multi label classification"
How does tensorflow CNN implement multi label classification, specifically how to input multi tags and output multi label prediction results?

[2017-08-03 10:29] gautam1858 commented on #11998
You could have a look at this #113

[2017-08-03 10:33] gautam1858 commented on #11996
Tensorflow has support for arm64-v8a armeabi armeabi-v7a armeabi-v7a-hard mips mips64 x86 x86_64

[2017-08-03 10:37] gautam1858 commented on #11984
Your problem is that the file is an auto-generated file and you failed to generate it during the build. Please try either with install from binary or follow the "Install From Source" instructions carefully.

[2017-08-03 11:05] rasitsimsek opened #12000 "error C2678: binary '<': no operator found which takes a left-hand operand of type IndicesRowIterator"
If you build a debug version of the current tensorflow version 1.3.0 on Windows  with CMAKE  following error is occurred:

(ClCompile target) ->
  C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\VC\Tools\MSVC\14.10.25017\include\xutility(978): error C2678: binary '<': no operator found which
takes a left-hand operand of type 'tensorflow::boosted_trees::utils::`anonymous-namespace'

[2017-08-03 11:34] namrata-ibm commented on #11967
@poxvoculi , [testApplyFtrl](https://github.com/tensorflow/tensorflow/blob/v1.2.1/tensorflow/python/training/training_ops_test.py#L131) is failing at [this](https://github.com/tensorflow/tensorflow/blob/v1.2.1/tensorflow/python/training/training_ops_test.py#L119).

Without change in tolerance, the test passes if I run in `debug` mode:
`bazel test -c dbg //tensorflow/python:training_ops_test
`
Howe

[2017-08-03 12:48] AngryPowman commented on #11996
@gautam1858 There is a TODO tips comment in makefile says: it will support all architectures but currently only supported `armeabi-v7a`. I mean, the static libraries.

[2017-08-03 13:12] andreas-eberle opened #12001 "Feature Request: Add separable_conv2d_transpose operation"
Some recent papers (e.g.) have shown that transposed separable convolutions can be a great choice for decoders in encoder decoder architectures.

Can you add a seperable_conv2d_transpose operation comparable to the conv2d_transpose operation?

[2017-08-03 13:40] voitgxd commented on #445
@vmayoral I have the same issue.

terminate called without an active exception
Aborted
How did you fix it?

[2017-08-03 14:06] jubjamie commented on #11571
You're best off opening a separate issue to @StephanH84 if you have a different problem. In the new issue be sure to fill out the full template and also link and Stack Overflow questions you're already filed.

[2017-08-03 14:17] bdenoun opened #12002 "tf.nn.sparse_softmax_cross_entropy_with_logits() seems to return bad value !"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: from pip
- **TensorFlow version (use command below)**: 'v1.2.0-5-g435cdfc', '1.2.1'
- **Python version**: Python 2.7.12
- **Bazel version

[2017-08-03 14:18] louishenrifranc opened #12003 "top_k doesn't order lower index first if two elements are equals"
# Bug
If two elements are equal, ```top_k``` is not ordering them by index value.

# Reproducing the error
Here is the command I am running
[code]

And here is the output for Tensorflow 1.3.0-rc0
[code]
compared to version 1.2.1
[code]

# Setup
Running ```tf_env_collect.sh```:
[code]

[2017-08-03 14:23] jubjamie commented on #11976
Tensorflow has a model "zoo" accessible here: https://github.com/tensorflow/models including ResNet. There is a great collection of models old and new there.

p.s. your link appears to be broken.

[2017-08-03 14:27] SamyMe opened #12004 "Where does "unknown error" message come from ?"
Hi,

While doing my training of a faster-rcnn model, I get an "unknown error" message but the training seems to work fine.

I just want to know where in Tensorflow's source code there is a "print('unknown error')" ? I don't seem to find that anywhere.

Thanks you guys,

[2017-08-03 14:31] gautam1858 commented on #11996
It had worked for, I build the object file with bazel and --cpu=arm64-v8a architecture

[2017-08-03 14:31] Zumbalamambo commented on #11930
Im using Macbook Pro to build the quantized model. The version of tensorflow is 1.2 in my mac.
Im trying to deploy the quantized model in windows. The version of tensorflow is 1.2 in my windows.

I compiled it using bazel.

This is how is generated it,

[code]

[2017-08-03 14:33] mari-linhares opened #12005 "Warning when running rnn_commons.select_last_activations (TensorFlow 1.2.1)"
I see the following warning:
/usr/local/lib/python2.7/dist-packages/tensorflow/python/ops/gradients_impl.py:93: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.

[2017-08-03 14:33] cgarciae commented on #10612
Very interested in testing this! How is it comming out?

[2017-08-03 14:36] taehoonlee commented on #11638
How about contributing your idea @ZekunZh?

[2017-08-03 14:51] lakshayg commented on #10612
Selu is already done. I don't think alpha dropout has been merged.

[2017-08-03 15:26] ZekunZh commented on #11638
Thanks for your invitation ! @taehoonlee
I have proposed my solution in my first post. To be clearer, my suggestion of code for ``call`` function of ``_Pooling1D`` class :
[code]

[2017-08-03 15:40] eLvErDe commented on #11859
I had the "depsets cannot contain mutable items" error, rolling back from bazel 0.5.3 to 0.5.2 fixed it.

It's still not building properly (honestly what's wrong with all this bazel crap ?!?!) but that first error is gone.

Regards, Adam.

[2017-08-03 15:43] francotheengineer commented on #5609
@AndreasMadsen Thanks for the code above using TensorArray. Did you ever manage to replace it with a FIFOQueue. I have tried multiple times to no avail.  Many thanks.

[2017-08-03 15:43] cryptox31 commented on #7116
Does anyone know how to run the inception v3 model on the Xeon Phi without the graphic cards?

[2017-08-03 15:44] #12004 closed

[2017-08-03 15:48] yaroslavvb commented on #11982
Can you kill the whole process that contains TensorFlow using OS-level tools (ie, sending kill signal)? Interrupting a `session.run` call without restarting a process was brought up in https://github.com/tensorflow/tensorflow/issues/11303

[2017-08-03 16:01] eLvErDe opened #12008 "Building 1.2.1 with bazel 0.5.2 fails with "Genrules without outputs don't make sense""
Hello,

I'm trying to build Tensorflow on a Debian Stretch system usng the distribution provided CUDA packages. I'm using tensorflow 1.2.1 from git clone --recursive and bazel 0.5.2.

The build fails with "Genrules without outputs don't make sense" error.
[code]
When looking at the file referenced in the error message I can see the following lines (starting from :170):

[code]
So indeed, there's g

[2017-08-03 16:07] Mazecreator commented on #12008
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  mazecreator@gmail.com
    Domain mazecreator.com has exceeded the max emails per hour (30/25 (120%)) allowed.  Message will be reattempted later

------- This is a copy of the message, i

[2017-08-03 16:12] swertz commented on #221
Hello! Any news on this regarding GPU implementation?

[2017-08-03 16:27] amlinux opened #12009 "Expose Tensorflow Go library as cgo_library rule in Bazel"
Currently it's not possible to reference @org_tensorflow//tensorflow/go:go_default_library from a BUILD file. It would be great to have this ability.

[2017-08-03 16:31] StephaneZFR commented on #11250
Hi, I'm facing the same kind of problem.
I fine-tuned MobileNetV1_224 on flowers dataset using procedure in [https://www.tensorflow.org/tutorials/image_retraining](url). It seems to works as it generated an output_graph.pb and output_labels.txt as expected. but when I try my fine-tuned model with label_image, it fails (but it works well with a fine-tuned inception v3).
I tried the suggestion made

[2017-08-03 16:37] balajipandian commented on #11991
Got this same problem -- You need to downgrade your Bazel version to 0.5.2. There is an unresolved conflict with using 0.5.3

[2017-08-03 16:46] martinwicke commented on #11792
Apparently we're still using 0.4.5 to build. @av8ramit FYI

@damienmg Do we know of something in 0.5.1 that could be doing this (on Mac only)?

[2017-08-03 17:00] kzos opened #12011 "Quantized graph not running with commit:bb88ec7ecc4dc7ba72548a5115fb86e20b14de5b"
OS: Ubuntu 16.04 64bits
 Android Version: 7.1 (Nougat)
 NDK Version: android-ndk-r12b

commit bb88ec7ecc4dc7ba72548a5115fb86e20b14de5b
Author: Alan Yee <alyee@ucsd.edu>
Date:   Mon Jul 24 22:46:38 2017 -0700

LOG:

[code]

Earlier this error was not getting reported.

Thanks

[2017-08-03 17:17] shivaniag commented on #11998
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-03 17:17] #11998 closed

[2017-08-03 17:17] shivaniag commented on #11998
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-03 17:28] jared-mess commented on #11982
For iOS, I'm not aware of a way to kill a process other than for the end-user to kill the entire app.
The paradigm for long running processes is to subclass `NSOperation` and periodically check the `cancelled` property.
[code]
This obviously isn't a good solution since iOS is such a small part of Tensorflow, but what about a `cancel_op` that a developer can sprinkle throughout their graph? This ha

[2017-08-03 17:50] andrewharp commented on #11996
@AngryPowman As @gautam1858 notes, you can build TF for all supported mobile architectures with Bazel.

These libraries are also published in the [prebuilt nightly libs](https://ci.tensorflow.org/view/Nightly/job/nightly-android/) and the TensorFlow AAR also contains them (usage described [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/android)), which is the recomme

[2017-08-03 18:04] AndreasMadsen commented on #5609
@francotheengineer you can replace it with something like this:

[code]

[2017-08-03 18:09] Mazecreator commented on #5609
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  mazecreator@gmail.com
    Domain mazecreator.com has exceeded the max emails per hour (26/25 (104%)) allowed.  Message will be reattempted later

------- This is a copy of the message, i

[2017-08-03 18:33] sivaram10 commented on #9976
Still facing this issue.
System Info:
OS : Windows 10
Anaconda3
Tensorflow 1.1.0 (installed via Anconda navigator)
Starting TensorBoard b'47' at http://0.0.0.0:6006
(Press CTRL+C to quit)
WARNING:tensorflow:path ../external\data/plugin/text/runs not found, sending 404
WARNING:tensorflow:path ../external\data/plugin/text/runs not found, sending 404
WARNING:tensorflow:path ../external\data/plugin/te

[2017-08-03 18:41] ppwwyyxx commented on #12002
`tf.log(tf.nn.softmax(logits) + 1e-10)` is known to be unstable.
If I replace it by `tf.nn.log_softmax(logits)` I can see consistent results.

[2017-08-03 18:52] ophiry commented on #10073
A related issue - what is a good way to detect whether a GPU is present?

lspci is an option, but it requires installing extra packages,

[2017-08-03 19:03] intelaravind opened #12015 "Missing file pywrap_tensorflow_internal"
Please close this issue. This issue was due to trying to import tensorflow from the source directory

[2017-08-03 19:18] pmccarter commented on #11974
I'd be interested in working on this, might take a few days to figure out dev workflow.

[2017-08-03 19:26] intelaravind commented on #12015
I also tried with r1.3. and I have the same error

[2017-08-03 19:30] MilesZhao opened #12016 "A single value placeholder cause an GPU memory warning."
I train my model on GTX 980 with 4 GB memory. The tensorflow version is 1.1.0. Python is 3.6.0.

The example code is on this GitHub link (https://github.com/dennybritz/cnn-text-classification-tf). Since the code is kind of long, I do not want to copy them. IF someone can run it, I will appreciate it.

The problem is when I increase the epoch, It cause a memory error on my GPU. But, when delete the

[2017-08-03 19:39] martinwicke commented on #11805
This is an issue with bazel not picking up the right environment -- I don't believe we can fix this on the TF side. I'll close this issue.

[2017-08-03 19:39] #11805 closed

[2017-08-03 19:43] sayrer opened #12017 "stream_executor/platform/mutex.h doesn't compile under C++14"
Please go to Stack Overflow for help and support:

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Mac OS X with clang/llvm 5.0

- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
- **Python version**:
- **

[2017-08-03 19:43] SofiaSugar commented on #6215
@mrmattwright how did you fix the problem of the Parsing failed?
I am trying to load a dataset from my computer but it says that it found a vector with only one dimension.
Can you please share some data with a correct format, I am a bit lost here.
Thank you in advance.

[2017-08-03 20:00] JulienSiems commented on #2514
https://www.tensorflow.org/versions/r1.3/programmers_guide/datasets

Looks like the dataset api is the recommended way to do it (See for example tfrecords reader). Since I am using the input pipeline I ended up evaluating batches of testdata and then feeding them back into the training queue.

[2017-08-03 20:03] asimshankar commented on #1318
Updated the link in the previous comment. For the record, it's: https://www.tensorflow.org/extend/language_bindings

[2017-08-03 20:03] rlegithub opened #12018 "Missing tensorflow/core/debug/debug_service.grpc.pb.h header file"
Hi,

debug_io_utils.h includes a header file tensorflow/core/debug/debug_service.grpc.pb.h, which is missing from the repo. This causes build on Linux failed.

`// TODO(cais): Support grpc:// debug URLs in open source once Python grpc
//   genrule becomes available. See b/23796275.

#ifndef PLATFORM_WINDOWS
#include "tensorflow/core/debug/debug_service.grpc.pb.h"
`
Anyone see this issue?

Thanks,

[2017-08-03 20:13] poxvoculi commented on #11928
Please look at the issue template:

(https://github.com/tensorflow/tensorflow/issues/new)

It's not clear that your problem is a bug, rather than a question about proper usage.  If it's a question about usage, it should be posted to stackoverflow.

If you think it's a bug, please provide all of the information requested in the issue template.

[2017-08-03 20:17] edgimar opened #12019 "foldr is too restrictive: dimension 0 in both shapes must be equal"
Using TF 1.2.0-rc1 on Ubuntu 16.04.

There are cases where `tf.foldr` should work, but is unable to because of a restriction that the first shape dimensions be identical for all list elements.  Below is a self-contained example that demonstrates the problem:

[code]

[2017-08-03 20:35] poxvoculi commented on #11967
Internal bug opened to raise the error tolerance at this point.

[2017-08-03 20:44] rlegithub commented on #12018
@caisq I think this change may relates to the problem: https://github.com/tensorflow/tensorflow/commit/41803db36d4f4a3239bd81e5d460eb0e6e2eea88

That changes #if defined(PLATFORM_GOOGLE) to #ifndef PLATFORM_WINDOWS, which essentially allows it to #include "tensorflow/core/debug/debug_service.grpc.pb.h" on Linux but that file does not exist on the master branch.

Could you help taking a look?

[2017-08-03 20:49] caisq commented on #12018
`debug_service_grpc.pb.h` is an automatically generated file from this bazel BUILD rule:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/debug/BUILD#L45

So there should be no problem building TF is you are using bazel. What build tool are you using?

[2017-08-03 20:51] rlegithub commented on #12018
I used Linux Continuous Integration Build steps from this link: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/README.md

[2017-08-03 20:58] poxvoculi commented on #11930
As of version 0.12, Dequantize was not supported on Windows.   Here's the
[release notes ](https://github.com/tensorflow/tensorflow/releases).

I don't see any indication that support has been added yet.  @mrry?

[2017-08-03 21:01] #11947 closed

[2017-08-03 21:02] #11965 closed

[2017-08-03 21:05] #10729 closed

[2017-08-03 21:05] yaroslavvb commented on #11974
I think you basically need to do something along the lines of:

[code]
And then run the tests and see if something breaks. The `len` restriction is because this only really matters for shapes and TF has rank limit of 8

[2017-08-03 21:07] poxvoculi commented on #11985
Looks like fix is on its way.  Assigning to @gunan for tracking.

[2017-08-03 21:32] feranick commented on #11871
Is this fixed also in the r1.3 branch?

[2017-08-03 21:34] martinwicke commented on #9072
We believe that this is a driver problem, but the symptoms are not particularly clear cut (look much like random failures) and therefore you may have trouble getting traction getting things fixed.

[2017-08-03 21:37] allenlavoie commented on #11871
No, just master. You could apply the same change to the r1.3 branch manually; it's a bit late to merge it.

[2017-08-03 22:08] justinshapiro opened #12022 "Error exporting TensorForestEstimator model for serving"
### Problem
I am trying to host a TensorForestEstimator model on Google Cloud's ML Engine. Everything works right, but at the very end the model fails to export with stack trace:

[code]

Based on that trace, I'm thinking the error is in the make_export_strategy function with `default_output_alternative_key=None`. So what I did is set `default_output_alternative_key='default'` but then got the err

[2017-08-03 22:11] #12015 closed

[2017-08-03 22:23] shivaniag commented on #11970
Thank you for pointing that out. This bug has been fixed in TensorFlow 1.3.0-rc1.

[2017-08-03 22:23] #11970 closed

[2017-08-03 22:42] poxvoculi commented on #11991
duplicate of #11859

[2017-08-03 22:42] #11991 closed

[2017-08-03 22:43] poxvoculi commented on #11995
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-03 22:44] #11995 closed

[2017-08-03 22:47] yzhwang commented on #11327
@ma0ho I think the commit that fixes this bug has been pushed to tensorflow. https://github.com/tensorflow/tensorflow/commit/db596594b5653b43fcb558a4753b39904bb62cbd
I have tested it internally to make sure it fixes the bug. Please confirm this with the OSS version. Thank you!

[2017-08-03 23:23] poxvoculi commented on #12003
I was able to reproduce in version 1.3.0-rc0 and rc1, confirmed it changed from version 1.2  Opening internal bug.

Thanks for the detailed report with simple repro example.

[2017-08-03 23:33] abuvaneswari opened #12024 "tf.contrib.distributions.percentile returning AttributeError"
Hello,

I am trying to utilize tf.contrib.distributiions.percentile as described in:
https://www.tensorflow.org/api_docs/python/tf/contrib/distributions/percentile

- OS Platform and Distribution :  Ubuntu 14.04
- TensorFlow installed from binary
- TensorFlow version : 1.2.0
- Python version: 3.4.5

My invocation is as follows:
pctl_val = tf.contrib.distributions.percentile(grad_values, pctl)

Her

[2017-08-03 23:38] poxvoculi commented on #12005
If you look at the source code where the warning originates, you'll see it triggers when the implied dense tensor has more than 10M elements.  For performance reasons you may want to avoid triggering this conversion if possible.

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger

[2017-08-03 23:38] #12005 closed

[2017-08-04 00:03] poxvoculi commented on #12011
Did you confirm this works just before the commit, and fails just after?

[2017-08-04 00:06] StatML commented on #11991
Hi, @poxvoculi I know it is a duplicate of #11859 and I hope there are other solutions which are different from "rolling back bazel". Thanks!

[2017-08-04 00:15] yousufzu opened #12025 "Parallelize bottleneck creation in retraining script"
Hi

It might be possible to parallelize the creation of the bottleneck files in the Inception retraining script. Currently it can only do a few images per second and if you have 100s of thousands of images, it takes forever. I could do it myself also and create a pull request, if that's fine.

Thanks

[2017-08-04 00:18] poxvoculi commented on #12017
It's possible we don't guarantee TF to build with C++14. Not sure whether this is a bug or a feature request.  @martinwicke ?

[2017-08-04 00:25] StatML commented on #11991
I am very happy to see this issue had been solved without the need of "rolling back bazel". Thanks!

[2017-08-04 00:26] StatML commented on #11859
Hi guys, this issue had been fixed. We do not need to roll back bazel now! :)

[2017-08-04 00:27] martinwicke commented on #12017
We're not guaranteeing it. But we'd welcome a PR to fix it, if possible without breaking other things.

[2017-08-04 00:32] ebrevdo commented on #12003
Stable sort was not part of the API guarantee, we changed it for the increased performance of unstable sort.

[2017-08-04 00:40] poxvoculi commented on #12003
The documentation claims sort stability:

https://www.tensorflow.org/api_docs/python/tf/nn/top_k

[2017-08-04 00:42] asimshankar commented on #12009
Currently, the go libraries are structured to be friendly to the common use of the go toolchain (i.e., the common use with `go get`).

Could you elaborate a bit on the feature requested here? Is it that you have a project that uses `bazel` as the build system and want to build all of tensorflow (including the go libraries) from source after adding tensorflow as an external dependency to the `WORKS

[2017-08-04 00:42] feranick commented on #11871
While I can do this easily, it's not clear to the end user without any advisory why it will fail to compile  r1.3 with bazel 0.5.3... A note on the  "known issues" in the release notes would be helpful.

[2017-08-04 00:47] amlinux commented on #12009
That's exactly what I want. If no one objects against this idea, I'll probably spend some time implementing it.

[2017-08-04 00:50] allenlavoie commented on #11871
@av8ramit can we put something in the release notes about building with Bazel 0.5.3 and CUDA? https://github.com/tensorflow/tensorflow/pull/11949 does fix it, but I'm guessing cherrypicks over.

[2017-08-04 00:58] av8ramit commented on #11871
@allenlavoie I'll create a PR to 1.3 and add you as a reviewer.

[2017-08-04 01:38] Zumbalamambo commented on #11930
yeah.. is there any workaround for windows?

[2017-08-04 01:56] theeluwin commented on #1241
I also have similar problem to @tansey.
I know that there is a matrix solver using LU decomposition in Tensorflow, but it's supported to dense matrices only. I can calculate very sparse L, U, Linv, Uinv matrices (as a SparseTensor type) but there's no way to use it..
Using dense version for any of those blows up my memory (I'm working currently working on graphs with several million nodes).

[2017-08-04 02:53] Chesao commented on #11157
@mattfeel ,

I suffered exactly the same problem.
I just passed the error by modifying 2 lines of the following seq2seq.py file from Tensorflow.

file: Anaconda3\Lib\site-packages\tensorflow\contrib\legacy_seq2seq\python\ops\seq2seq.py
848     #encoder_cell = copy.deepcopy(cell)
849     encoder_cell = core_rnn_cell.EmbeddingWrapper(
850         cell, #encoder_cell,

Now, my seq2seq model is being

[2017-08-04 03:06] loveJasmine commented on #11157
@Chesao

what is core_rnn_cell

[2017-08-04 03:29] caisq commented on #12018
So I see that you are running cmake build on Linux. This is our nightly build:
http://ci.tensorflow.org/view/Nightly/job/nightly-cmake-cpu/

It seems to be okay. You can look at the log to see what commands / configuration it uses:
http://ci.tensorflow.org/view/Nightly/job/nightly-cmake-cpu/368/consoleFull

[2017-08-04 03:44] Chesao commented on #11157
@loveJasmine

it is tf.nn.rnn_cell.GRUCell()

[2017-08-04 04:13] asimshankar commented on #12009
Sure, if the change isn't particularly intrusive, we'd be happy to accept it.
Marking this as contributions welcome.

[2017-08-04 04:29] yongtang commented on #12017
Added a PR #12027 for the fix in c++14.

[2017-08-04 04:36] terryKing1992 commented on #11549
@drpngx execuse me, how about this issue going on？waiting for your solution, thanks sir

[2017-08-04 04:59] JBoggan commented on #11897
What does your current value of $LD_LIBRARY_PATH say and how does it compare to the instructions [here](http://docs.nvidia.com/cuda/cuda-installation-guide-linux/#environment-setup)? Note that depending on your system you might not have an install path that includes the '-8.0', it might just have to be set as '/usr/local/cuda/lib64'.

[2017-08-04 05:03] shivaniag commented on #12024
With Tensorflow version 1.2.0, I am not getting this error. Could you please check if your Tensorflow version has been upgraded correctly.
Feel free to reopen this issue if this problem persists.

[2017-08-04 05:03] #12024 closed

[2017-08-04 05:24] shivaniag commented on #12000
@gunan could you please take a look.

[2017-08-04 05:26] ppwwyyxx commented on #11484
https://github.com/tensorflow/benchmarks/issues/44
Seems like the device names are not canonicalized in other places either.

[2017-08-04 05:27] shivaniag commented on #11994
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-04 05:30] shivaniag commented on #11988
@lukaszkaiser could you please take a look.

[2017-08-04 05:39] lukaszkaiser commented on #11988
Sorry, I got lost with the changes in recent months, will have to ask Thang or Eugene.

[2017-08-04 05:50] shivaniag commented on #12008
@ebrevdo could you please take a look.

[2017-08-04 06:02] litchiyj commented on #11984
@gautam1858
What's the difference between "auto-generated file" and "Install From Source"?

[2017-08-04 06:23] AKindyakov commented on #11713
I would like to reserve it if I can.

[2017-08-04 06:28] gautam1858 commented on #22
@ebrevdo Any way to use tensorflow GPU in Mac with AMD processor ?

[2017-08-04 06:59] Erdos001 commented on #751
after the tensorflow r12, the model will be saced in folder with three files like:
XXX.meta
XXX.ckpt-250000.index
XXX.data-00000-of-00001
and I restore the model with code like this:
saver = tf.train.import_meta_graph('./src/models/20170512-110547/model-20170512-110547.meta')
                saver.restore(sess,tf.train.latest_checkpoint('./src/models/20170512-110547/'))
 it dosen't work
TypeError:

[2017-08-04 07:00] sandipmgiri commented on #11603
As per this doc - https://www.tensorflow.org/api_docs/python/tf/nn/relu
Relu function computes rectified linear: `max(features, 0)`, and I tried computing maximum value

[code]

@drpngx , @gunan - any idea ?

[2017-08-04 07:04] Erdos001 commented on #8574
you must keep the model paramerer to be unchanged including optimizer
eg. --optimizer ADAGRAD to --optimizer ADAM

[2017-08-04 07:04] Erdos001 commented on #8574
you must keep the model paramerer to be unchanged including optimizer
eg. --optimizer ADAGRAD to --optimizer ADAM

[2017-08-04 07:22] nesadiankemo commented on #2680
Hi, @Lucky94 . Since I change the TF_CALL_bool macros and build a .so file to use in Android.
Error likes "Could not create TensorFlow Session: Invalid argument: No OpKernel was registered to support Op 'Switch' with these attrs. " were never occured again. The model I use also have to feed phase_train as an input, it work.
So, maybe you can check if you does replace the newer .so file in you Andr

[2017-08-04 07:24] bdenoun commented on #12002
Could you please put some of the consistent results you have please ? Because I don't have the same result at all ... Here are the results when I replace `tf.log(tf.nn.softmax(logits) + 1e-10)` by `tf.nn.log_softmax(logits)` on 3 different runs :
#### run 1
mathematical :  9671.87484341
sparse_softmax_cross_entropy :  1208.98436916

#### run 2
mathematical :  30372.4364977
sparse_softmax_cross_ent

[2017-08-04 07:34] chenlheng opened #12028 "Tensorboard fails to add summaries without any warning"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-08-04 07:35] #12028 closed

[2017-08-04 07:52] StephaneZFR commented on #11250
Hi, Well, I don't know if it can help but I could make it work with the following command:
`bazel-bin/tensorflow/examples/label_image/label_image --output_layer=final_result --labels=/home/thales/data/fine_tuned_inception_on_flowers/output_labels.txt --image=/home/thales/data/flower_photos_processed/training_results/5547758_eea9edfd54_n.jpg --graph=/home/thales/data/fine_tuned_mobilenet_on_flowers

[2017-08-04 07:55] nesadiankemo commented on #8454
Hey, guys.
I was encountered that problem recently. And I fix it just by put "fifo_queue_op.cc" in file 'tensorflow/core/kernels/BUILD'  inside the `filegroup(
    name = "android_core_ops", srcs = [ ...`, which configure the core kernel in Android.

[2017-08-04 08:16] tillahoffmann commented on #675
@jeisses, of course, my bad. In fact, it would be great if we could integrate your proposed Jacobian implementation and simply implement the hessian as `hessian(y, x) = jacobian(gradient(f, x), x)`.

[2017-08-04 08:48] reachlin opened #12030 "print out 'nan' for simple linear regression model"
[code]
The source code is very simple and it is from: https://www.tensorflow.org/get_started/get_started
[code]
the output:
[code]
if i delete the last element for training data:
[code]
the output is right:
[code]

[2017-08-04 08:54] reachlin commented on #12030
x=35, y=-34 is too large or small? the target function is y=1-x, right?

[2017-08-04 09:08] GoingMyWay opened #12032 "Save and restore feature request"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-08-04 09:23] euxuoh opened #12033 "read batch file using filename queue when fit wide and deep model"
### Describe the problem
I read records from files using typical pipeline:
[code]

Then, creates a dictionary mapping from each feature column name (k) to the values of that column stored in a Tensor.

[code]

Creating threads to prefetch using QueueRunner objects

[code]

The error is:

[code]
Googleing the error, I found that [ValueError: Passed Tensor(...) should have graph attribute that is eq

[2017-08-04 09:55] jubjamie commented on #9976
@sivaram10 Can you please try upgrading Tensorflow. As you are on an old version then you won't have the fixes released in newer version. I believe you may have to install via pip instead of conda to receive the latest version.

[2017-08-04 10:07] satroan commented on #7321
I am runnning into the same error with the following code. As I am quite new to tensor flow I am trying to understand what is actually causing the abort

[paint2.txt](https://github.com/tensorflow/tensorflow/files/1199967/paint2.txt)
I am sorry if it is a known bug. I am using python 3 tensorflow with pip install, GPU still not working.

[2017-08-04 10:20] 9thDimension commented on #1890
@integeruser @jkravanja

I am having the same problem `tensorflow/core/framework/type_traits.h:69:52: error: ‘half’ is not a member of ‘Eigen’`.

I tried running all those copy commands, but it gets stuck at:

`$TENSORFLOW_DIR/bazel-tensorflow/../../external/protobuf/src/google': No such file or directory`.

[2017-08-04 10:39] ppwwyyxx commented on #12002
[code]

[2017-08-04 11:10] EKami commented on #5303
I opened a PR regarding this issue [here](https://github.com/tensorflow/tensorflow/pull/12034).

[2017-08-04 11:25] sj6077 opened #12035 "RDMA+verbs stuck in some nodes"
System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes, I made custom distributed inception code
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 14.04
TensorFlow installed from (source or binary): Unmodified source with RDMA Verbs enabled
TensorFlow version (use command below): 1.3.0-rc1
Python version: 2.7.12
Bazel v

[2017-08-04 11:26] tyshiwo commented on #1122
Hi @zhongyuk ,

I also met the problem that I could get good results when using is_training=True for both training and inference, but get bad results when setting is_training=False during inference (worse than the case using is_training=True). According to your analysis, If I understand correctly, by simply setting decay=0.9 in BN can solve this problem. Am I right?

BTW, do I need to retrain the

[2017-08-04 11:56] byronyi commented on #12035
Maybe it is related to #11416 and #11725.

Could you provide a minimal reproducing script? Some logs help, too.

[2017-08-04 12:13] 9thDimension commented on #2412
Like @smarttafirt's post above, I'm getting the error:

[code]

[2017-08-04 12:17] suiyuan2009 commented on #3224
I also meet this error many times recently. I'm using 4 old titanx cards to run tf benchmark code. I use the version from a patch #11392 . I'm using cuda 8.0 and cudnn 6.0 on ubuntu 16.04.
[code]

[2017-08-04 12:21] July-Morning commented on #10669
Anything else I can do to make things more clear? Any tests or profiling? I would be really grateful for any tiny chance to solve that issue.

[2017-08-04 12:23] byronyi commented on #3224
Though I know that Titan X doesn't support GPU Direct RDMA, but could you confirm from your log? Successful GDR initialisation will print a line of log like `Instrumenting GPU allocator with bus_id 2`. Then we will see if we could isolate the problem from GDR.

Reproducing the issue using gRPC will do the same work.

[2017-08-04 12:24] WI-KIWI opened #12036 "refresh model for spark streaming with sv = tf.train.Supervisor() under sv.managed_session()"
System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes, I made custom distributed mnist code with spark streaming, based on [TensorFlowOnSpark example](https://github.com/yahoo/TensorFlowOnSpark/blob/master/examples/mnist/streaming/mnist_dist.py).
OS Platform and Distribution: CentOS 7
TensorFlow installed from (source or binary): Un

[2017-08-04 12:25] suiyuan2009 commented on #3224
I have meet same error when using official gRPC protocal.

[2017-08-04 12:25] jkravanja commented on #1890
Probably you can try copying
`cp -r $TENSORFLOW_DIR/bazel-tensorflow/external/protobuf/src/google include/third_party`

[2017-08-04 12:28] namrata-ibm commented on #11967
@poxvoculi, Thank you for you support.

On similar lines I found a test failure in `//tensorflow/python/kernel_tests:summary_image_op_test`.
Here the error tolerance increase needed is even lower ( i.e. 2e-06) at [assert](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/kernel_tests/summary_image_op_test.py#L83).

Also test passes when run in debug mode without tolerance incr

[2017-08-04 12:35] meijun commented on #2075
@ibab The last line in the function `unravel_index` should be `return (indices % strides) // strides_shifted`.

[2017-08-04 13:35] rasitsimsek opened #12037 "Missing tf_python_protos_cc library dependency in tf_tutorials.cmake"
### System information
Windows10
VisualStudio 2017
TensorFlow 1.3.0
Python 3.5.3
CMake 3.8.1

### Describe the problem
I can't build **tf_tutorials_example_trainer** due missing library dependency to tf_python_protos_cc.lib. A lot of linking errors occurred. If the bold line is added into tf_tutorials.cmake then the compilation works:

target_link_libraries(tf_tutorials_example_trainer PUBLIC

[2017-08-04 14:08] NatLun091238 opened #12039 "Model callbacks don't work in TF r1.2 and Keras functional API (Python 3.6 + windows 10)"
Two test cases were constructed in order to show better the problem with "Model callbacks, which don't work in TF r1.2 and Keras functional API".

1/ Callbackes were used in the following way:
#------------ checkpoints -------------------------------
import tensorflow.contrib.keras as K
filedest="./models/weights_model011a.best.hdf5"
checkpoint = K.callbacks.ModelCheckpoint(filedest, monitor='val_

[2017-08-04 14:25] mattiasarro commented on #9072
I managed to compile and successfully run TensorFlow 1.2 on macOS with GPU support. This thread has been useful in resolving it, thanks guys!

I wrote a little tutorial on it, as a "note to self" for later, but maybe it's also useful to someone else. https://medium.com/@mattias.arro/installing-tensorflow-1-2-from-sources-with-gpu-support-on-macos-4f2c5cab8186

[2017-08-04 14:45] sivaram10 commented on #9976
Thanks @jubjamie  I updated Tensorflow to 1.2.1 version. I'm not getting those warnings anymore. But, I'm still not able to see graphs and scalar data. I can see the log files.

[2017-08-04 15:04] nkashy1 commented on #11674
@michaelpetruzzellocivicom : That's right, you need feature dictionaries in your custom estimator as `ServingInputReceiver` is implemented, but the documentation for `input_fn` + `model_fn` claims that it can be bare tensors or feature dictionaries.

Although one can convert to single tensor the way you did above, and also directly, the point is that the API is inconsistent. Either the API needs t

[2017-08-04 15:17] iurilarosa commented on #11554
At the moment I'm not quite good both with GPU programming and Tensorflow to do this, but i hope i will improve my experience. However, i checked my data and I'm afraid the number of bins is 10^5 and not 10^4.

[2017-08-04 15:20] PaddyT commented on #11651
Good to hear!

For what it's worth in the meantime, to anyone else with this problem, I solved my requirement by replacing `extract_image_patches` with a carefully constructed sparse convolution (which i imagine is what  extract_image_patches does under the hood in any case). You can see my fix via my repo link in the original post.

[2017-08-04 15:23] raoconn commented on #11613
I have encountered the same error, running TensorFlow 1.2.0 on centos 7 with 4 GeForce GTX 980 Ti GPUs .  I am experimenting with a number of different recurrent neural network designs using `tf.contrib.training.batch_sequences_with_states` and `tf.nn.static_state_saving_rnn` and get the InvalidArgumentError only for some of them.  For instance, the RNN could have one or two layers and it could us

[2017-08-04 15:32] sdschulze opened #12040 "NaNs only on GPU with large convolution kernel"
Consider the following (silly) autoencoder-style network, which performs a strided convolution followed by a transposed convolution:
[code]
On the CPU, this runs fine.  Using CUDA with k >= 14, though, I reproducibly get the following error:
[code]

This code is the minimal example that I could reproduce the error with.  I am running tensorflow-gpu 1.2.1, installed via pip on Ubuntu 16.04.2, with

[2017-08-04 15:33] WI-KIWI commented on #12036
Hello,
I got the solution, simply add
[code]
under `sv.managed_session()` for --mode inference,
please close this issue. Thanks and

Cheers

[2017-08-04 15:33] #12036 closed

[2017-08-04 16:55] yaroslavvb commented on #10669
I cloned your repo and tried to run it and get

[code]

The best bug reports are the ones that provide a line number of where the bug is :)
If I were you, I would first try reducing to a simplest possible example (ie, single variable, single op), maybe combined with profiling the code (TF timeline/snakeviz) to see where the slowness is. If you find the source of the problem, you could use git blam

[2017-08-04 16:58] MatthewScholefield opened #12042 "[docs] Broken link on Tool Developer's page"
Source page: https://www.tensorflow.org/extend/tool_developers/

Bad link (`graph_run_run2.pbtxt`): https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tensorboard/components/tf_tensorboard/test/data/graph_run_run2.pbtxt

[2017-08-04 17:15] July-Morning commented on #10669
Thank you for the advice. I will do my best to follow it  and will definitely fix code in the repo :)

By the way, I have attached some profiling results with snakeviz earlier. Will do it again here:
[prof.zip](https://github.com/tensorflow/tensorflow/files/1201094/prof.zip)

[2017-08-04 17:32] chrisranderson opened #12043 "tf.contrib.util.make_ndarray is slow the first time it is run"
### System information

**Output of tf_env_collect.sh:** [tf_env.txt](https://github.com/tensorflow/tensorflow/files/1201133/tf_env.txt)

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow

[2017-08-04 17:34] frreiss commented on #10607
I am looking into this.

@alextp would you prefer the rewrite to produce the same subgraph of operators that the current Python implementation of accumulate_n produces (a combination of Merge, TemporaryVariable, ZerosLike, Assign, AssignAdd, and DestroyTemporaryVariable), or would it be better to add two new internal C++ operators to match the design of ParallalConcat?

[2017-08-04 17:38] alextp commented on #10607
I think it's possible to make it run faster if we use internal operators
like ParallelConcat, but the path of least resistance is to mimic the
existing implementation.

On Fri, Aug 4, 2017 at 10:37 AM, Fred Reiss <notifications@github.com>
wrote:

--
 - Alex

[2017-08-04 17:39] yaroslavvb commented on #12025
If you have an improved version, you should just go ahead with a pull request (I'm guessing it's under files in tensorflow/models repo)

[2017-08-04 17:39] #12025 closed

[2017-08-04 17:50] chrisranderson commented on #12043
I don't have the same problem with `tf.make_ndarray` (thanks @wchargin!).
[code]

[2017-08-04 17:53] wchargin commented on #12043
I can reproduce your issue, and fix it as follows:
[code]
(My results aren't quite as bad as yours—0.2448s vs. 0.0004s—but I assume that we're hitting the same thing.)

It's just a benchmarking error: you're loading all of `tf.contrib` during your benchmark.

You can similarly fix this without the above change by using `tf.make_ndarray` instead of `tf.contrib.util.make_ndarray`, for the same reaso

[2017-08-04 17:54] wchargin commented on #12043
(Relevant: [one](https://github.com/tensorflow/tensorflow/blob/0542739b9a88bebb2f74b8e9a6db15c5a845d480/tensorflow/__init__.py#L28), [two](https://github.com/tensorflow/tensorflow/blob/0542739b9a88bebb2f74b8e9a6db15c5a845d480/tensorflow/python/util/lazy_loader.py).)

[2017-08-04 17:55] yaroslavvb commented on #12043
As @wchargin points out, it's due to loading of tf.contrib. Here's a self-contained benchmark which doesn't show the difference

[code]

[2017-08-04 17:57] chrisranderson commented on #12043
Thank you both! Any idea why it took 105 seconds in the context of my application? Feel free to close if you'd like.

[2017-08-04 18:31] wchargin commented on #12043
I have no idea.

[2017-08-04 19:05] muhadriy opened #12046 "tf.scatter_update to variable pinned on GPU fails"
### System information
- Linux Ubuntu 16.04
- tensorflow-gpu v1.2.0 binary installed from pip
- Python 3.5
- CUDA 8.0, cuDNN v5.1
- GeForce GTX 1080 Ti, 11GB
- A simple example I came up with which reproduces the error follows below:
**************************************************************************************************
[code]
************************************************************

[2017-08-04 19:09] poxvoculi commented on #11967
Thanks, I've added that one to the change.

[2017-08-04 19:22] martinwicke commented on #11674
@davidsoergel Can you comment on the ServingInputReceiver issue?

[2017-08-04 19:25] FiveTechSoft opened #12047 "Could you please provide a TensorFlow.dll 32 bits ? many thanks"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-08-04 19:33] yaroslavvb commented on #12047
Compiling custom tensorflow binaries is generally left to users rather than TensorFlow team. There are some binaries uploaded [here](https://github.com/yaroslavvb/tensorflow-community-wheels), maybe you could ask an active uploader to build one for you

[2017-08-04 20:14] dburkhardt commented on #11724
But why would this bug only appear after importing Tensorflow? I don't have any problems with MKL outside of trying to use it with Tensorflow.

[2017-08-04 20:17] shivaniag commented on #12042
@wolffg could you please update it.

[2017-08-04 20:20] #11571 closed

[2017-08-04 20:23] shivaniag commented on #12030
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-04 20:23] #12030 closed

[2017-08-04 20:33] yaroslavvb commented on #11724
Dunno....my first suspicion would be that it's related to dynamic linking. Both MKL and TensorFlow are .so files loaded with dlopen, at which point dynamic linker tries to resolve all the symbols, remap all internal references to global variables and do other dark magic. If .so libraries were compiled with incompatible flags, bad things happen, like https://github.com/tensorflow/models/issues/523

[2017-08-04 20:57] chanil1218 commented on #10703
@adityaatluri
I found [a suspicious line](https://github.com/tensorflow/tensorflow/blob/33fdacaf31f9a9ee2628dc0de36c558cdd607e31/third_party/gpus/rocm_configure.bzl#L546) of the BUILD file not found error occurs.
I think changing `cuda:BUILD` to `rocm:BUILD` could resolve the error.

I would like to support enabling ROCm backend for XLA.
It would be better separate forked tensorflow repo instead o

[2017-08-04 21:08] poxvoculi commented on #12019
I suppose it might be possible for foldr to work on binary functions whose two inputs need not have the same dimensions, but this might have unfortunate consequences for shape inference.  @mrry would we welcome a contribution of that kind?

[2017-08-04 21:14] poxvoculi commented on #12033
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-04 21:14] #12033 closed

[2017-08-04 21:14] ebrevdo commented on #12008
I'm away on vacation.

On Aug 3, 2017 7:51 PM, "shivaniag" <notifications@github.com> wrote:

[2017-08-04 21:32] alanyee commented on #12042
@MatthewScholefield @shivaniag The bad link is already fixed here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/extend/tool_developers/index.md

You have to wait until they update the website, so please close this issue for now.

[2017-08-04 21:32] poxvoculi commented on #12037
I'm puzzled that if this is broken, we don't have a failing test.  Could it be something in your environment?  Meanwhile, pinging our very overcommitted @mrry.

[2017-08-04 21:41] #12042 closed

[2017-08-04 21:47] #11994 closed

[2017-08-04 21:51] bdenoun commented on #12002
So here is the source of the difference between your and my results ! So it seems that between our two versions of TF, the way of coding these 2 functions have changed !
Wouldn't it nice to warn v 1.2 users that a huge difference exists ? (And maybe an error so ...)

[2017-08-04 21:58] reedwm commented on #11859
Closing since this issue is fixed.

[2017-08-04 22:05] tjingrant commented on #12001
Hi, I will try to work on this one.

@andreas-eberle do you have specific examples in which a seperable_conv2d_transpose operation is profitable?

[2017-08-04 22:07] ppwwyyxx commented on #12002
I didn't mean that TF version is the problem. It was just an FYI.
In fact the code (with log_softmax) still produces correct result here with TF 1.2.0rc0.

[2017-08-04 22:10] Mazecreator commented on #12002
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  mazecreator@gmail.com
    Domain mazecreator.com has exceeded the max emails per hour (25/25 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, i

[2017-08-04 22:12] wolffg commented on #12042
This commit (https://github.com/tensorflow/tensorflow/commit/d30efdbaa2b80bf4eb8db9e0b94501fdbd4107d8) fixes the link.  However, the root version of tensorflow.org docs represents what's in the current public binary branch; in this case, it reflects the docs as they were when we cut r1.2.  Unless that's cherrypicked back into r1.2, documentation won't get updated.  This is a known limitation/featu

[2017-08-04 22:12] shivaniag commented on #12008
@ebrevdo thank you for letting us know. @av8ramit could you take a look.

[2017-08-04 22:24] poxvoculi commented on #12039
It's not clear to me whether you have evidence for a bug in TensorFlow, or are looking for help in understanding how to use Keras with TensorFlow.  Unless this is a bug report, please ask your question on stackoverflow, where there is a larger and more active community addressing usage questions.

If you believe there is a bug, please provide all of the information requested in the issue template,

[2017-08-04 22:25] #12043 closed

[2017-08-04 22:32] #12047 closed

[2017-08-04 22:52] #11944 closed

[2017-08-04 22:53] ppwwyyxx opened #12051 "an API to tell TF ABI"
This is a feature request.
TF pip packages might be built with different C++ ABI. The released binaries are built with old ABI. If a user manually compile it with gcc>=5, the default is to use new CXX11 ABI (unless explicitly changed).

As someone who wrote custom ops, this could cause trouble: the op has to be compiled with the same ABI, otherwise there will be issues like #10714 #9137. Therefore

[2017-08-04 22:57] tpankaj opened #12052 "Upgrade to CuDNN 7 and CUDA 9"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows Server 2012
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.3.0-rc1
- **Python version**: 3.5.2
- **Bazel version (if compiling from source)**

[2017-08-04 23:10] shivaniag commented on #12052
@tfboyd do you have any comments on this?

[2017-08-05 00:12] tfboyd commented on #12052
cuDNN 7 is still in preview mode and is being worked on.  We just moved to cuDNN with 1.3, which should go final in a couple weeks.  You can download cuDNN 1.3.0rc2 if you are interested in that.  I have not compiled with cuDNN 7 or CUDA 9 yet.  I have heard cuDNN 7 is not easy to install on all platforms and only select install packages are available, this might also be true of CUDA 9 but I have

[2017-08-05 00:13] yuanhua8 commented on #7162
I think this problem is not fully solved. quantize_graph.py still generate model with this issue. there is no explanation on this issue. why a const node need a control input dependency on another node?

[2017-08-05 00:19] tfboyd commented on #12052
Not saying how you should read the website.  But the 2x faster on pascal looks to be part of the CUDA 8 release.  I suppose it depends on how you read the site.  NVIDIA has not mentioned to us that CUDA 9 is going to speed up Pascal by 2x (on everything) and while anything is possible, I would not expect that to happen.

https://developer.nvidia.com/cuda-toolkit/whatsnew

The site is a little conf

[2017-08-05 00:41] sclarkson commented on #12052
@tfboyd cuDNN 7 is no longer in preview mode as of yesterday. It has been officially released for both CUDA 8.0 and CUDA 9.0 RC.

[2017-08-05 01:25] tfboyd commented on #12052
Ahh I missed that.  Thanks @sclarkson

[2017-08-05 04:20] surmenok commented on #8858
Now I feel confident that the issue is related to power supply.
I changed the power supply from "Corsair CX750 Builder Series ATX 80 PLUS" to "Cooler Master V1000" and don't get the system crash anymore.
I think the problem is not in max output of the power supply (750W should be more than enough for one GPU), but perhaps with other qualities of power supply.

[2017-08-05 04:25] tyshiwo commented on #1122
@nmduc @davek44

Hi, I also met the problem that I could get good results when using is_training=True for both training and inference, but get bad results when setting is_training=False during inference (worse than the case using is_training=True). Have you guys solved this problem? Thanks!

[2017-08-05 05:27] bdenoun commented on #12002
I reproduced the same code on 4 different computers (2 MAC, 2 Ubuntu) with GPU compatibility and CPU based with the same tensorflow version  'v1.2.0-5-g435cdfc', '1.2.1' and I still have this big difference ... I would just like to understand what's going on. With exactly the same code I don't have the same output's behavior ...

[2017-08-05 06:04] bhack commented on #10642
@DjangoPeng so have you solved with kubernetes? Have you found the minimum set of nvidia files to share from node to pod?

[2017-08-05 07:09] suiyuan2009 commented on #3224
I tried gcc-4.9, but still got `CUDA_ERROR_ILLEGAL_ADDRESS` error.

[2017-08-05 07:58] nmduc commented on #1122
@tyshiwo I just set decay=0.9 for batch_norm and it works well so far.

[2017-08-05 08:02] leandro-gracia-gil opened #12054 "Feature request: non-blocking enqueue operations"
As for version 1.2, queue operations involving enqueuing can block if a queue is full or empty. This is very useful for designing input threads feeding the queue from static datasets as it suspends the thread until it can proceed doing its work. However, this behavior might not be desirable or acceptable if instead the data being fed comes from an asynchronous and continuously changing live source

[2017-08-05 08:17] Ericvulpi commented on #9072
Hi everyone, just wanted to thank again @mattiasarro for his tuto and give another sign of life for TensorFlow with GPU on mac

[2017-08-05 08:22] kzos commented on #12011
I was using 1.2 version. later I pulled to that commit id, I am not sure from which commit id  this error is happening.
thanks

[2017-08-05 08:23] Ericvulpi commented on #9160
see thread https://github.com/tensorflow/tensorflow/issues/9072 for mac bazel build walkthrough

[2017-08-05 09:04] rasitsimsek commented on #12037
In the tf_tutorials_example_trainer project they are dependency to tensorflow::boosted_trees. The declarations and definitions for bosstet_trees module is in the tf_python_protos_cc project what I have found.

[2017-08-05 11:35] AKindyakov commented on #11713
If what Valgrind has said me is true, the biggest problem is a slow string to float conversion in [core/lib/strings/numbers.cc](https://github.com/tensorflow/tensorflow/blame/master/tensorflow/core/lib/strings/numbers.cc).
It seems to be true. There are two string copying, unordered_map using and so on. I can adjust the [double-conversion](https://github.com/google/double-conversion) library here.

[2017-08-05 12:30] kernelmode commented on #6110
Why this issue was closed? I am experiencing the same problem.

[2017-08-05 12:35] optnio00 opened #12055 "Tensorboard Error on windows"
I want to use tensorboard on windows but when I am going to start it, its shows this error
[code]
when is run localhost:6006 in my chrome browser

![screenshot 140](https://user-images.githubusercontent.com/15853647/28995526-f9aa1742-7a08-11e7-92d6-f87038c9ea7a.png)

[2017-08-05 13:30] SrivastavaKshitij commented on #5688
same problem .

`name: Tesla P100-PCIE-16GB
major: 6 minor: 0 memoryClockRate (GHz) 1.3285
pciBusID 0000:05:00.0
Total memory: 15.89GiB
Free memory: 15.61GiB
I tensorflow/core/common_runtime/gpu/gpu_device.cc:906] DMA: 0
I tensorflow/core/common_runtime/gpu/gpu_device.cc:916] 0:   Y
I tensorflow/core/common_runtime/gpu/gpu_device.cc:975] Creating TensorFlow device (/gpu:0) -> (device: 0, name: Tes

[2017-08-05 15:09] tfboyd commented on #5688
I will try to escalate this.  The issue has been open for a long time and reproduced many times based on my skimming of the thread.

[2017-08-05 15:44] theflofly commented on #12052
I will certainly try it because finally gcc 6 is supported by CUDA 9 and Ubuntu 17.04 comes with it.

[2017-08-05 16:37] guruprasaad123 commented on #7778
I am also getting Warning while using tensorflow api  in java,I have no idea why i am getting this.Any idea to resolve this warning!

[2017-08-05 16:57] poxvoculi commented on #12011
Can you post a small reproducible case?

[2017-08-05 17:23] btchncamaro commented on #8191
@huxuanlai Works for me as well.

[2017-08-05 17:45] steel3d commented on #9068
Any update on this? Google must be building those Windows binaries somehow...

[2017-08-05 18:49] SrivastavaKshitij commented on #5688
thanks @tfboyd !!

[2017-08-05 19:05] kzos commented on #12011
Quantize the inception v3/alexnet and try running benchmark app.

[2017-08-05 19:12] tfboyd commented on #12052
If you have luck let the thread know.  I am personally just starting to
fully test cuDNN 6 (Internally it has been tested a lot but I have not been
using it personally).  I am often slow to upgrade to the latest stuff.  My
guess is you may not see any real change with cuDNN 7 until everything gets
patched to use the latest APIs.  I want to stress again that I am wrong all
of the time.  What I have

[2017-08-05 19:24] ppwwyyxx commented on #12052
Speaking of methods to be added, group convolution from cudnn7 would be a important feature for vision community.

[2017-08-05 20:47] tfboyd commented on #12052
Cool I will add it to the list I am starting.  I may forget but feel free
to remind me to publish some kind of list where I can provide some guidance
on what is likely being worked on.  It cannot be a promise but we want
feedback so we can prioritize what people want and need.  Thank you Yuxin.

On Sat, Aug 5, 2017 at 12:26 PM, Yuxin Wu <notifications@github.com> wrote:

[2017-08-05 20:54] yaroslavvb commented on #12054
From implementation standpoint, behavior like this could be implemented by having enqueue kernel return bad status, so that entire session.run call terminates immediately with exception.

However I wonder if this functionality could be implemented at the client level. IE, a client can check how much capacity is left in the queue, and if it's too small, skip the enqueue call altogether. You can inc

[2017-08-05 21:02] yaroslavvb commented on #12051
cc @keveman

[2017-08-05 23:52] tfboyd commented on #12052
I just tried to compile with cuDNN 7 with CUDA 8 and it failed which I kind
of expected.  There is a patch incoming from NVIDIA that should help line
things up.  Just a heads up if anyone is trying.

On Sat, Aug 5, 2017 at 1:47 PM, Toby Boyd <tobyboyd@google.com> wrote:

[2017-08-06 00:11] evanthebouncy commented on #3476
It seems I'm late to the party but can someone explain why the state is a tuple and not just a single value? thanks.

[2017-08-06 03:36] dataf3l commented on #3378
didn't work for me, but maybe try {x:1} instead of {"x":1} since it takes a dict of tensor as keys and values as values.

[2017-08-06 03:53] evanthebouncy commented on #5731
@ebrevdo

I tried your suggestion but I ran into such trouble doing it, can you take a look at my stackoverflow post?

https://stackoverflow.com/questions/45528146/tensorflow-create-a-custom-sub-class-of-lstm-cell-with-a-dfferent-call-functi

Thanks

[2017-08-06 05:46] Arvinds-ds opened #12057 "tf.contrib.distributions - Additional Distributions"
Are there plans to add additional distributions in the tf.contrib.distributions module like Scaled Inverse Chi-Sq, LKJ, Gumbel etc?  Could mirror the distribution list supported by STAN

[2017-08-06 05:47] sj6077 commented on #12035
There are no explicit logs, but just hanging.
It's the hardware information for the failed node.

ibv_devinfo | grep board_id
	board_id:			DEL2180110032
	board_id:			MT_2180110032

The hardware information is different in successful nodes. Can it be related?
ibv_devinfo | grep board_id
       board_id:			DEL2180110032
       board_id:			DEL2180110032

[2017-08-06 09:01] YusukeSuzuki commented on #11736
When I ommit GPU support, build successfully finished.

[2017-08-06 09:11] HuichuanLiu opened #12058 "Couldn't restore attention_ocr checkpoint via saver"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-08-06 09:30] bicepjai commented on #7785
could you provide an example to use it ?

[2017-08-06 09:40] #12058 closed

[2017-08-06 11:12] hauluk commented on #2734
Hi!

I didn't used the same data set for predicting and training. That was my
solution.

Hope i could help you.

Am 25.07.2017 3:24 vorm. schrieb "shijial" <notifications@github.com>:

[2017-08-06 12:17] shamoya commented on #12035
@sj6077 , how many GPUs per node ? how many node ?
Are u training Inception in Sync data parallelism ?
As @byronyi mentioned, sounds like #11725 , which is still under investigation.

[2017-08-06 13:24] snu-ceyda opened #12059 "tfdbg does not work with sparse tensors"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: ('v1.2.0-5-g435cdfc', '1.2.1')
- **Python version**:  Python 2.7.6
- **Bazel version

[2017-08-06 13:32] haolsun commented on #6513
Did you solve the problem? I have upgraded psutil, however, it didn't work. My OS is  ubuntu 14.04.

[2017-08-06 13:42] caisq commented on #12059
Thanks for reporting this issue. I can reproduce it at HEAD. Will work on it.

[2017-08-06 14:09] ruchirdhar opened #12060 "Tensorflow installation error"
Hi I installed tensorflow for cpu and while trying to run command to check the version of tensor i am prompted error message.  Please help me to get this resolved

Please see below the log:

Microsoft Windows [Version 6.2.9200]
(c) 2012 Microsoft Corporation. All rights reserved.

C:\WINDOWS\system32>python
Python 3.5.2 (v3.5.2:4def2a2901a5, Jun 25 2016, 22:18:55) [MSC v.1900 64 bit (AM
D64)] on w

[2017-08-06 14:13] suiyuan2009 opened #12061 "the efficiency of StagingArea on gpu"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:ubuntu 16.04
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**:v1.2.0-2809-g7add4e6 1.2.1-rc2
- **Python version**: Python 3.5.2
- **Bazel version (if compil

[2017-08-06 15:20] XRarach commented on #5949
This is maybe a very stupid mistake but might help someone... I downloaded just CUDA 8 patch from the site and was wondering, why the error. Apparently, the patch does not care if you have CUDA 8 already installed, it just copied the dll and creates the intermediary directories, even looks like Cuda is installed in installed applications.

[2017-08-06 17:52] Thomas-Kim commented on #1924
The resolution to this issue only fixes libtensorflow.so, the same issue is still present in libtensorflow_cc.so

The fix is a single line, the diff is below:
[code]

[2017-08-06 17:56] AdamMiltonBarker opened #12063 "The name 'final_result:0' refers to a Tensor which does not exist. The operation, 'final_result', does not exist in the graph."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-08-06 18:16] AdamMiltonBarker commented on #12063
Sorry my bad, I forgot to create graph before starting classification.

[2017-08-06 18:16] #12063 closed

[2017-08-06 18:21] eddytrex commented on #11807
Hi, I have a similar error

[code]
My environment is:
Hardware: Jetson TX1
Tensorflow: v1.3.0-rc2
[code]

Thanks for your help

[2017-08-06 18:38] 4F2E4A2E commented on #12052
I am trying to get cuDNN 7 with CUDA 8/9 running. CUDA 8 is not supported by the GTX 1080 Ti - at least the installer says so ^^

I am having a big time trouble getting it running together. I want to point out this great article that sums up what i already have tried: https://nitishmutha.github.io/tensorflow/2017/01/22/TensorFlow-with-gpu-for-windows.html

The CUDA examples are working via Visual-

[2017-08-06 20:37] eddytrex commented on #10434
Hi, someone has try to compile it with the new Jetson Pack 3.1 ?

I have this error.

[code]

[2017-08-06 21:04] GrandathePanda commented on #4820
I was directed to this particular issue from #2788. I had been using tf.trainLoggingTensorHook which I am assuming uses the lower level summary writers under the hood. I am on tensorflow version 1.2 and upon seeing this I removed the logging and I went from intermittent hanging on start of run to now consistent successful training runs upon every start. I was seeing similar gdb traces on all my th

[2017-08-06 21:24] bitcurian commented on #9701
@BrambleXu
I presume you've set the path relative to the location of the terminal. The path needs to be absolute. That may be why your fix worked.

[2017-08-06 22:18] RylanSchaeffer opened #12065 "Feature Request - Seq2Seq Inference Helper w/o Embeddings"
`tf.contrib.seq2seq` has two `Helper` classes to use during inference, `SampleEmbeddingHelper` and `GreedyEmbeddingHelper`. However, both make use of embeddings, which is unhelpful when building sequence-to-sequence models that operate on non-embedded target sequences (my target sequence already consists of meaningful vectors).

I'd like a new `Helper` class that pipes the output of the decoder RN

[2017-08-07 00:07] ychen404 opened #12066 "Encounter Fatal signal 11 (SIGSEGV) problem doing training on mobile device"
I am stuck on the SIGSEGV problem while trying to do training on a mobile device (Nexus 7), can you help me out?

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes. I added a couple of lines to the TensorFlowInferenceInterface.java
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04
- **TensorFlo

[2017-08-07 00:39] tpankaj commented on #12052
@4F2E4A2E 1080 Ti definitely supports CUDA 8.0. That's what I've been using with TensorFlow for the past several months.

[2017-08-07 00:51] linyia01 commented on #11807
i have Solve it   by use python3.6  ，but python2.7  is error

[2017-08-07 01:13] sj6077 commented on #12035
There are 4 GPUs per node, and I tested with 3 nodes, 6 workers(2 workers per node nad 2 GPUs per worker). Yes, I trained with inception in sync data parallelism. Then I can wait with  #11725.

[2017-08-07 02:22] zh794390558 commented on #5048
thanks

[2017-08-07 02:54] wodesuck commented on #7162
@yuanhua8 First, `quantize_graph.py` seems no longer maintained, you could use `transform_graph` instead. Second, all nodes within a tf control loop need a property called "frame" to run properly, while quantization adding const nodes without "frame" will break it. So, it is necessary to add control input to make sure nodes having a correct "frame".

[2017-08-07 03:39] ppwwyyxx commented on #12061
After a quick glance at your code. One thing is that your code doesn't use latency hiding.
You still use feed_dict in the critical loop with `sess.run([put_op, loss], feed_dict=xxx)`. Even though it is fed into staging area, Python->TF copy will still have to finish before any op really runs.

[2017-08-07 04:07] YongCHN opened #12068 "what's the purpose of class StatsPublisherInterface?"
### Describe the problem
Tensorflow Open source version contains the class StatsPublisherInterface and a dummy implementation, NoOpStatsPublisher. I was wondering the design purpose of this class. From the class name it seems that there is some other system that can subscribe the statistics of tensorflow step and display the information in realtime.  Can someone help ex

### Source code / logs
htt

[2017-08-07 04:27] suiyuan2009 commented on #12061
@ppwwyyxx , I put one item into StagingArea before actual run. I used profiler to check it's non-blocking.

[2017-08-07 04:28] colmantse commented on #12052
Hi all, so i have gtx 1080 ti with cuda 8.0. I am trying to install tensorflow-gpu, do i go for cuDNN 5.1, 6.0 or 7.0?

[2017-08-07 05:55] suiyuan2009 commented on #12061
so there is no hack method if we insist on using `feed_dict`.

[2017-08-07 05:55] #12061 closed

[2017-08-07 05:59] ppwwyyxx commented on #12061
Feed latency should be hidden if you use `feed_dict` in a different thread.

[2017-08-07 06:13] suiyuan2009 commented on #12061
I'll try thread method again. I use a thread to enqueue inputs in my first version code, but it didn't help. I'll use a fixed size queue on cpu and a staging area on gpu to see if I can beat GIL.

[2017-08-07 06:27] seaotterman commented on #11651
FWIW, [tf.space_to_batch](https://www.tensorflow.org/api_docs/python/tf/space_to_batch) is another alternative that gives gradients, though it is much less flexible.

[2017-08-07 06:51] ScorpioCPH opened #12070 "[XLA] Should we disable `REGISTER_XLA_BACKEND(GPU)` if there is no GPU installed on the machine?"
I install TensorFlow from source with `XLA` and `TF_CPP_MIN_VLOG_LEVEL` enabled (without `GPU`), after trying `XLA` example, I got these logs:

[code]

But there is no `GPU` installed on my machine, so I don't enable `CUDA` option, but it still do

[code]

Should we disable `REGISTER_XLA_BACKEND(GPU)` if there is no `GPU` installed on the machine?

@tatatodd @hawkinsp WDYT?

----------------------

[2017-08-07 06:58] suiyuan2009 commented on #12061
excited! direct feed_dict method 30 seconds vs no fixed size queue before staging area method 23 seconds vs fixed size queue before staging area method 22.5 seconds.

[2017-08-07 07:18] shamoya commented on #12035
@sj6077 - Didn't tried Cifar10 but it happens with ResNet and trivial models as well when running [tf_cnn_benchmark](https://github.com/tensorflow/benchmarks/blob/master/scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py). Which GPUs are you using ? One thing we suspect is that it relates to Pascal GPUs only
Also what is the Parameter Servers configuration (1 dedicated, in each node, etc..) ?

[2017-08-07 07:21] shamoya commented on #11416
Hi @on-the-run,
Is there any way to know if the CUDA remaps the memory mapping of the process ?
As said, I feel we see a similar issue, but the mlock workaround doesn't help in our case.
We also feel it's something to do with Pascal memory management (can't say exactly what).
Any clues to what we can check ?
Thanks !

[2017-08-07 07:32] oduerr opened #12071 "Numerical instability of gradient calculation of tf.norm (nan at 0, inf for small values)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes see below
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS X 10.11.6
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: #v1.2.0-5-g435cdfc    1.2.1
- **Python version**: 3.6
- **Bazel version (if

[2017-08-07 07:33] katyakats commented on #11725
I digged a little deeper into the bug.
One of the NoOps from a single GPU is never sent (the thread is stuck in  CopyGPUTensorToCPUSync method). It appears that this method is not called from the grpc, but only from the verbs code.
Reverting commit  626d8d905aa412aaca02d171e5e0b4a1c407656b (Improve RDMA rendezvous speed) that made changes in this code area did not resolve the issue.
Does anyone ha

[2017-08-07 07:55] shinji709 commented on #22
@gautam1858 https://news.ycombinator.com/item?id=14894653

[2017-08-07 08:02] buffxz commented on #8665
@petewarden ^^

[2017-08-07 08:13] sj6077 commented on #12035
I used dedicated and colocated parameter server with worker both, I used same GPUs for all of the machines, which is TITAN Xp.

[2017-08-07 08:30] MAngO311 opened #12072 "Recurrent Reinforcement Learning Issue"
Hi guys,

I am working on a structure with recurrent neural network as the deep part of deep reinforcement learning.

I have been searching all along but I haven't found a way to build this structure by using tensorflow. The recurrent feature makes the objective function iterative. I am wondering if TF can calculate the gradient by itself.

It would be great if I can get to know if this structure

[2017-08-07 08:36] sandys commented on #7823
+1 on this - we are interested in regression trees for tensorflow

[2017-08-07 08:43] Huxwell commented on #227
@marker68 I know 2 years have passed, but did you finally managed to get it running?
I just got myself 5x Tesla m2075 6GB VRAM and wonder if I can do anything productive with it in terms of deep learning.

[2017-08-07 09:01] rolai opened #12073 "tf.py_func errors in freeze_graph"
I use `tf.py_func` in my networks, and it works fine in training and test mode.  Then I run `bazel-bin/tensorflow/python/tools/freeze_graph` to freeze the graph and generate xxx.pb file.
I try to restore the xxx.pb and run the model again, error happens.

### Erorr logs
[code]

I found the `tf.py_func` is not in the graph. How can I define and use the `tf.py_func` in freezed graph?

[2017-08-07 09:06] shahidhs-ibm commented on #11431
@frreiss @mrry We are able to narrow down the issue to the point of failure. For s390x, we are getting issue with [TF_RETURN_IF_ERROR(c->WithValue(perm_elems, rank, &perm_elems));](https://github.com/tensorflow/tensorflow/blob/v1.2.1/tensorflow/core/ops/array_ops.cc#L1797)

Adding a check is solving the issue for us:
[code]

Please let us know if the solution looks ok to you.

[2017-08-07 09:24] idofr commented on #11965
I'll have to ask for a re-open as the problem only seems to be half solved.
The mean and variance are properly saved and loaded now (why does it saved the variance btw, when the std is required?). However, when evaluating the model with `is_training=False` the accuracies are still around 35% while the same script with `is_training=True` has around 97% accuracy

[2017-08-07 09:57] damienmg commented on #11792
/cc @meteorcloudy @nlopezgi

I don't think there was any change since 0.4.5 that would trigger the issue but Nicolas made some change since then on the python configuration in TF which might generate an genrule with empty outs in some cornercases

[2017-08-07 10:46] maelp commented on #9662
Hi @andrewharp thanks for your answer, my question is not so much about Rust integration as it is about getting the C or C++ library cross-compiled on Android

From your comment I assume that I need to add a build target with both `android_tensorflow_lib` and `c_api` to build those? There is not yet an existing cross-compile build target which compiles the C .so for Android without the rest of the

[2017-08-07 11:46] nishalpereira commented on #1334
@bernardopires

i have the same error
bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg fails with error: can't copy 'tensorflow/python/training/gen_training_ops.py': doesn't exist or not a regular file.

How do i fix it?

[2017-08-07 11:46] nishalpereira commented on #1334
@bernardopires

i have the same error
bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg fails with error: can't copy 'tensorflow/python/training/gen_training_ops.py': doesn't exist or not a regular file.

How do i fix it?

[2017-08-07 11:48] cmontassier commented on #12002
Hi, I've just installed tensorflow with the following command : `sudo pip install tensorflow`. I ran some example codes to get how it works. Once I understood how it works I tried on my own dataset and it turns out that computing hand made cross entropy (with `log_softmax()`) does not match with the output of `softmax_cross_entropy_with_logits()`. My dataset is strictly different than the one prop

[2017-08-07 11:59] zh794390558 commented on #5886
@prb12 Thanks.

[2017-08-07 12:32] drashmi29 commented on #6589
even I am facing same issue:
 File "object_detection/create_flower_tf_record.py", line 216, in <module>
    tf.app.run()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "object_detection/create_flower_tf_record.py", line 195, in main
    examples_list = dataset_util.read_examples_list(e

[2017-08-07 13:01] HannH opened #12077 "Occur error when compile tf_core_gpu_kernels/generated_adjust_hue_op_gpu.cu.cc file in VS2015"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-08-07 13:07] cheind commented on #6007
@albertz, @javidcf I was following your discussion here, as I've been also interested in re-opening name scopes. Here's a bit of warning though (without having studied your implementations). When you add `/` to your name scope names, TF will interpret the name scope as absolute path, ignoring any parental name-scopes that you are currently in. This can be quite suprising. Here's a short example th

[2017-08-07 13:11] manuelreis opened #12078 "Assert randomly fails when training with multiple threads"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Ubuntu 16.04.2 LTS
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.3.0-rc2
- **Python version**:  2.7.12
- **Bazel version (if compiling from source

[2017-08-07 13:15] shivam04 commented on #8161
same problem in Anaconda
Traceback (most recent call last):
  File "C:\Users\shivam\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\p
ython\pywrap_tensorflow.py", line 41, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\shivam\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\p
ython\pywrap_tensorflow_internal.py", line 35, in <module>
    _p

[2017-08-07 13:16] shivam04 commented on #8161
ile "C:\Users\xxx\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\p
ython\pywrap_tensorflow.py", line 41, in
from tensorflow.python.pywrap_tensorflow_internal import *
File "C:\Users\xxx\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\p
ython\pywrap_tensorflow_internal.py", line 35, in
_pywrap_tensorflow_internal = swig_import_helper()
File "C:\Users\xxx\Anaconda3\envs\tensorflow\lib

[2017-08-07 13:17] LanternYing commented on #3824
any solutions for this issue? I also find this problem in version1.2

[2017-08-07 13:34] junshi15 commented on #11725
CopyGPUTensorToCPUSync  is a synchronous wrapper for GPUUtil::CopyGPUTensorToCPU.
It was stuck only because CopyGPUTensorToCPU did not complete or did not send notification.
But grpc uses CopyGPUTensorToCPU, not sure why this is not an issue.

[2017-08-07 13:39] ScheiklP opened #12079 "My TensorBoard isn't showing any data"
System:
Ubuntu 16.04, Tensorflow built from source for python3.

tensorboard --inspect --logdir=Logdirpath
correctly outputs my logs with e.g.
sessionlog:checkpoint
   first_step           0
   last_step            25302
   max_step             25302

 and

scalars
   Validation_Accuracy
   batch/fraction_of_240_full
   global_step/sec
   parallel_read/filenames/fraction_of_32_full
   parallel_rea

[2017-08-07 13:41] junshi15 commented on #11416
I was using K80 and CUDA-7.5, and was able to reproduce the other issue (#11725). So at least that issue is not only limited to Pascal.

[2017-08-07 13:42] chengdianxuezi opened #12080 "distribute tensorflow programe failed when increase worker number"
I run a distribute tensorflow programe with 5 ps and 20 workers. It work normal。
when I increase the worker number to 50, the programe fail. the error log as follow.
I don't know how to debug this problem

2017-08-07 03:51:42.191472: E tensorflow/core/distributed_runtime/master.cc:251] Master init: Unavailable: {"created":"@1502077902.191300911","description":"OS Error","errno":104,"file":"externa

[2017-08-07 13:48] katyakats commented on #11725
thanks @junshi15
Do you have any thoughts on why CopyGPUTensorToCPU does not complete or send notification?

[2017-08-07 15:15] xgh45 commented on #11903
@episodeyang
hello,I have the same problem,could you please tell me how to solve it?

[2017-08-07 15:31] tfboyd commented on #12052
I suggest sticking with 5.1 for the moment.  I am running some deeper perf
tests on 6 and getting mixed results that need more testing to figure out.

On Aug 6, 2017 9:30 PM, "colmantse" <notifications@github.com> wrote:

[2017-08-07 16:01] junshi15 commented on #11725
I am looking at [CopyGPUTensorToCPU](https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/core/common_runtime/gpu/gpu_util.cc#L304-L347). It eventually calls [ThenMemcpy](https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/stream_executor/stream.h#L1492-L1497). The comment says the host memory needs to be registered. I am not familiar with this piece of code, but this is not don

[2017-08-07 16:07] byronyi commented on #11725
Did you check for the 3 odd edge cases mentioned [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/distributed_runtime/rpc/grpc_worker_service.cc#L338)? Just a wild guess, if it is a `NoOps` it might be related to the `is_dead` parameter.

[2017-08-07 16:15] colmantse commented on #12052
thanks, i tried with cudnn 6.0 but doesn't work, i guess because of my dummy tf-gpu installation. cudnn 5.1 works for me with python 3.6

[2017-08-07 16:45] shengfuintel opened #12081 "Tensorflow bezel command line c options does not pass down to gcc if static object is compiled"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
CentOS 7.1
- **TensorFlow installed from (source or binary)**:
Source
- **TensorFlow version (use command below)**:
1.3 rc1
- **Python version**:
2.7
- **Bazel version (if compiling from source)**:
0.5.1
- **

[2017-08-07 16:51] junshi15 commented on #11725
@byronyi I don't see all 3 odd cases are checked in your link (I don't see zero-size and is_dead is checked). Equivalent code in verbs is [here](https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/contrib/verbs/rdma.cc#L707-L719), pretty much follows that link. is_dead is fed to SetProtoFromGPUSync, but zero-size is not checked in both cases.

[2017-08-07 16:53] junshi15 commented on #11725
@katyakats When you reverted commit 626d8d9 (Improve RDMA rendezvous speed), where did the code hang? SetProtoFromGPUSync?

[2017-08-07 17:55] Zumbalamambo opened #12082 "AttributeError"
Im getting the following error while training mobile net model as

[code]

Following is the error..

[code]

[2017-08-07 17:55] jrbtaylor opened #12083 "tf.contrib.data.Iterator.make_initializer operation lacks name"
I'm using tf.contrib.data for my input pipeline. Since it feeds the model without placeholders, I need to be able to reload both the model and input pipeline in order to resume training later. However, the make_initializer method of tf.contrib.data.Iterator does not have a name argument like most (all?) other Tensorflow operations, making it impossible (or at best, error-prone) to find these ops i

[2017-08-07 17:58] Mazecreator commented on #12083
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  mazecreator@gmail.com
    Domain mazecreator.com has exceeded the max emails per hour (27/25 (108%)) allowed.  Message will be reattempted later

------- This is a copy of the message, i

[2017-08-07 17:58] Mazecreator commented on #12082
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  mazecreator@gmail.com
    Domain mazecreator.com has exceeded the max emails per hour (28/25 (112%)) allowed.  Message will be reattempted later

------- This is a copy of the message, i

[2017-08-07 18:00] Zumbalamambo opened #12084 "InvalidArgumentError mobilenet"
im getting the following error while training my own dataset with mobilenet

[code]

[2017-08-07 18:06] Mazecreator commented on #12084
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  mazecreator@gmail.com
    Domain mazecreator.com has exceeded the max emails per hour (29/25 (115%)) allowed.  Message will be reattempted later

------- This is a copy of the message, i

[2017-08-07 18:06] bobzhuyb commented on #11416
We don't have a concrete evidence. However, we did a basic test -- when we malloc the receiver buffer, we init the buffer with a special value as a signature (say every byte initialized as 0xab). After the successful receive event triggered by WRITE_WITH_IMM, we immediate check the receiver buffer value. It remains unchanged in TF process.

If you use ibdump at the receiver side, you should see th

[2017-08-07 18:06] on-the-run commented on #11416
@shamoya, unfortunately I am not an expert on CUDA. Also, my colleague @bobzhuyb has taken this issue over. @bobzhuyb, could you give some input when you have time? Thanks!

[2017-08-07 18:08] NatLun091238 commented on #12039
Sorry, I found mistake in my code. Everything is working now as it should.

[2017-08-07 18:08] #12039 closed

[2017-08-07 18:16] poxvoculi commented on #12011
@cwhipkey Can you see what's going on with the RoundToSteps Op?

[2017-08-07 18:31] #6731 closed

[2017-08-07 18:32] rubenvereecken opened #12086 "Cannot learn initial_states with batch_sequences_with_states"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Mint 18
- **TensorFlow installed from (source or binary)**: Binary (pip)
- **TensorFlow version (use command below)**: v1.3.0.0rc0
- **Bazel version (if compiling from source)**: N/A
- **CUDA/cuDNN vers

[2017-08-07 18:33] panyx0718 commented on #11046
I think it supports Windows now. Note: Now the api is: tf.profiler
Let me know if it doesn't work

[2017-08-07 18:33] #11046 closed

[2017-08-07 18:35] panyx0718 commented on #9932
More fine-grained time profiling has been added to the profiler now.

[2017-08-07 18:35] #9932 closed

[2017-08-07 18:35] drpngx commented on #11603
Oh, I remember a PR where we changed that behavior to match `numpy`, for GPU and CPU. That is the behavior that we want. Do you want to send a PR?

[2017-08-07 18:41] drpngx commented on #9020
It looks like a few PR were merged. Do you still see the issue on `master`?

[2017-08-07 18:48] samrat1997 commented on #3170
Can you explain a bit about how you fixed it ?

[2017-08-07 18:52] Mazecreator commented on #3170
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  mazecreator@gmail.com
    Domain mazecreator.com has exceeded the max emails per hour (28/25 (112%)) allowed.  Message will be reattempted later

------- This is a copy of the message, i

[2017-08-07 20:15] yaroslavvb commented on #12080
1. This normal behavior of TensorFlow when there's connection error on operating system level. You need to catch exception and recreate the session.
2. It would be useful to figure out why your system fails to connect. This is external to TensorFlow. For instance, I've dealt with this error caused by Azure SNAT which reset connections after 4mins: https://blogs.msdn.microsoft.com/mast/2015/07/13/a

[2017-08-07 20:36] hasB4K commented on #4762
@yuanbyu I'm also interested by this technical doc that you are referring too.

[2017-08-07 20:43] petewarden commented on #12011
This is an old bug in the quantize_graph.py script. We used to have a RoundToSteps op, but it was removed but the script still inserts it. The quantize_graph.py script is now obsolete though, since it's been replaced by the Graph Transform Tool's quantize_nodes rule:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_transforms/#quantize_nodes

It is confusing though, and

[2017-08-07 20:47] yaroslavvb commented on #12073
@petewarden would know if `tf.py_func` is meant to be supported for freeze graph

[2017-08-07 21:00] yaroslavvb commented on #12071
This is caused by square root in definition of tf.norm. IE you are taking gradient of sqrt(x^2). Gradient of sqrt approaches infinity, whereas gradient of x^2 approaches 0, so computing them separately then combining is numerically problematic. @goodfeli -- do you remember if Theano uses some standard stabilizing transformation for this kind of case?

[2017-08-07 21:15] jrbtaylor commented on #12083
A general solution would be something similar to tf.identity(..., name) but for operations.

[2017-08-07 21:19] keith747 opened #12088 "TENSORFLOW CUDNN_HOME NOT USED"
When I build with cmake on windows10, there is always a warning:

CMake Warning:
  Manually-specified variables were not used by the project:

    CUDNN_HOME

If I just ignore it, there will be fatal errors about missing pb.h files. Can anyone help?

[2017-08-07 21:20] goodfeli commented on #12071
Theano gives NaN as the gradient of the norm of a vector with zero norm:

    array([ nan,  nan])

Theano does give 0 as the gradient of the norm of a *scalar*. I think for this it is probably using a patternsub to turn sqrt(square(x)) into abs(x). Note that in Theano's conventions, the derivative of abs(x) at 0 is treated as 0 rather than undefined.

[2017-08-07 21:30] alextp commented on #11856
Is this issue solved / irrelevant?

[2017-08-07 21:30] rohan100jain commented on #12086
I'm not sure I completely understand your question... The documentation for NextQueuedSequenceBatch (object returned from tf.contrib.training.batch_sequences_with_states) seems to suggest that the state() and save_state() methods could be used to see / store the values of the states.

Also, I think this question might be more suitable for StackOverflow.

[2017-08-07 21:40] yaroslavvb commented on #11856
@chihuahua IMHO this is a counter-intuitive property of graph-based system rather than a bug --
 you always need to create a new graph node if you want constraints enforced by surrounding context managers to be enforced.

In your case,`v` reuses previously created graph node which doesn't know about your desired execution order, whereas  `v.read_value()` will create a new node which respects the c

[2017-08-07 21:47] gunan commented on #12000
The proposal looks good to me.
Could you send a pull request?

[2017-08-07 21:49] #12088 closed

[2017-08-07 21:53] gunan commented on #11962
I think this is just a tracking bug.
The issues were known before, so the tests were disabled, but as time goes by we need to resolve all these issues. @meteorcloudy are the failures due to TF code, or certain dependencies we are missing.
Note that we also disable a whole bunch of tests in our cmake build:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/tf_tests.cmak

[2017-08-07 22:23] yaroslavvb commented on #12071
Thinking philosophically, the general problem is that computational graph ends up with things like`a/a` where `a` is 0. Numerically it's undefined, but the limit exists. Similar issue exists with tf.select https://github.com/tensorflow/tensorflow/issues/2540 and gradient of `tf.exp(-tf.exp(x))`

You have to do some algebraic massaging to get numerically defined result.

In your particular case, yo

[2017-08-07 22:27] reedwm commented on #11713
@cwhipkey any thoughts on using the double-conversion library? The current function used, locale_independent_strtonum, is not intended to be fast.

[2017-08-07 22:39] reedwm commented on #11807
@martinwicke can you take a look?

[2017-08-07 22:46] YuxinxinChen opened #12090 "imagenet_distributed_train using inception v3 stuck on saving check points forever."
System information
[code]
I am running the imagenet_distributed_train.py of inception: https://github.com/tensorflow/models/tree/master/inception, with 16 AWS p2x2 machines. I didn't change any code of inception and follow the guidance to run imagenet_distributed_train using parallel-ssh.

The script I use to run parallel-ssh:
[code]
I think this script worked fine because I logged in every machin

[2017-08-07 22:48] Ntweat opened #12091 "Compiling from source"
I am trying to compile tensorflow from source as the pip version is compiled on older version of cuDNN

### System information
- **OS Platform and Distribution ** : Linux Ubuntu 16.04
- **TensorFlow installed from** source:
- **TensorFlow version (use command below)**:
- **Python version**: 2.7
- **Bazel version (if compiling from source)**:  Build label: 0.5.3
- **CUDA/cuDNN version**: CUDA 8, cu

[2017-08-07 22:50] #11950 closed

[2017-08-07 23:46] mrry commented on #11930
AFAIK, we still don't have support for gemmlowp on Windows, although it'd be nice to have!

/cc @guschmue, since I gather he's looked into this....

[2017-08-07 23:48] mrry commented on #11975
We'd welcome fixes to the CMake build that make this work.

[2017-08-08 00:03] JueLin commented on #3536
I have built the "//tensorflow:libtensorflow.so" target by bazel. Then I have copied all header files in "/usr/local/lib/python3.5/dist-packages/tensorflow" to "/usr/local/include". And I double checked that "session.h" is definitely in "/usr/local/include/tensorflow/core/public".
So I tried to build a very simple project by running command "g++ -o a.out main.cc -I/usr/local/include". And the erro

[2017-08-08 00:27] martinwicke commented on #11807
@av8ramit This appears to be on 1.3RC2. Is it one of the know bazel issues with 0.5.3?

@eddytrex what version of bazel is this?

[2017-08-08 00:33] guschmue commented on #11930
I got the quantized ops to work on windows. A branch with the changes is here:
https://github.com/guschmue/tensorflow/tree/win-quant
I made as little changes as possible to gemmlowp (basically for windows replace pthread with stl threads) to increase chances that I get a pull request taken.
Unit tests for quantized ops on windows are passing.

I still need to make it build with bazel/windows and s

[2017-08-08 00:41] GrandathePanda opened #12093 "Feature Request - Return final loss from tf.estimator.Estimator.train along with self."
### Describe the problem
Things like hyper opt need to know the loss so that it can effectively pick the best hyper parameters for the model. Right now self is just returned, it is a one line change to the code since the loss is set the exact line before. I would be happy to initiate the PR myself assuming its wanted.

### Source code / logs
From:
[code]

To:
[code]

[2017-08-08 00:44] av8ramit commented on #11807
It is not one of the known issues, but I'm curious to see if this is a regression in rc2 or a new issue with 0.5.3

@eddytrex or @linyia01 please reply with the bazel versions.

[2017-08-08 00:45] av8ramit commented on #11871
https://github.com/tensorflow/tensorflow/pull/12092/files

[2017-08-08 00:47] terrytangyuan commented on #12093
I had a PR that might address your need as well: https://github.com/tensorflow/tensorflow/pull/12026

[2017-08-08 01:07] GrandathePanda commented on #12093
Just checked it out, I suppose I could pull it from the written summary after the training was done, definitely a viable solution. It would still be easier to just grab it from the return of the function, but I understand that changing the signature of the function may not be what 's best for the project in terms of breaking peoples already written code. I'd like to see some more discussion on thi

[2017-08-08 01:16] mrry commented on #12037
Which branch are you building? (It looks like b4056fcc2c1a7003c190e1345b8b534d8353e21a affects how `boosted_trees` is built in CMake, but I can't tell if it's included in your change or not.)

I'm puzzled about why adding `tf_python_protos_cc` fixes things, since (i) the example binary is a pure C++ binary, and (ii) it doesn't appear to depend on any of the `boosted_trees` code....

/cc @ThomasCol

[2017-08-08 01:17] mrry commented on #12037
PS. @poxvoculi to answer your puzzlement, we don't build this as part of any of the CI builds, because it isn't a binary that we ship, and we're constrained on testing resources :(.

[2017-08-08 01:31] mrry commented on #8161
@shivam04 Did you try running this script to diagnose common issues?

https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c

If it doesn't point to a solution, please open a new issue with the details!

[2017-08-08 01:39] datomnurdin opened #12095 "WARNING:tensorflow:The default stddev value of initializer will change from “1/sqrt(vocab_size)” to “1/sqrt(dimension)” after 2017/02/25"
I got this warning message when set Deep Model.

Warning message

[code]

My code

[code]

Please advice. Thank you.

[2017-08-08 02:32] linyia01 commented on #11807
bazel  0.5.2

[2017-08-08 02:33] linyia01 commented on #11807
bazel 0.5.2 @av8ramit

[2017-08-08 02:35] leandro-gracia-gil commented on #12054
Thanks for your suggestions!

I've considered them one by one, but as far as I can tell they don't fully solve the problem. Some can offer a partial workaround, but with limitations.

- **Issuing enqueue calls in their own Python thread**: that would be a straightforward solution to the problem, but unfortunately it's not available in this case because the problem enforces us to not block the thre

[2017-08-08 02:47] mrry commented on #11798
It appears that you are using TensorFlow 1.1.0, but the `tensorflow.python.ops.bitwise_ops` module was added in TensorFlow 1.3. You'll need to upgrade to the latest version of TensorFlow (currently in the release candidate stage) or a nightly build to import that module.

[2017-08-08 02:47] #11798 closed

[2017-08-08 02:50] byronyi commented on #11416
Hi @bobzhuyb, I made a separate RDMA patch #11392 that supports checksum with VLOG=2. Maybe you could give it a try and see wether the problem persists.

[2017-08-08 02:51] oahziur commented on #7927
Hi @Hrant-Khachatrian, when you say "variable length inputs", do you mean the sequence length is the variable? If so, I think the input_size for `tf.TensorShape([100, None, 200])` is just 200 (assuming batch_size=100, variable sequence length), since the input_size is the input's depth of the RNN cell.

For `TypeError: int() argument must be a string or a number, not 'Tensor'`, can you try inputs.

[2017-08-08 02:56] yaroslavvb commented on #12054
For bullet 2, there's a practical upper limit on the number of items that could be enqueued by other threads, say k, so the trick would be to have a spare buffer of k+1, and skip the enqueue when there's a risk of freezing. For OpenAI universe project we had to deal with realtime data and managed to deal with stale data using combination of tricks like above

I guess the issue is -- how much work

[2017-08-08 03:03] scucheri opened #12096 "I configured ops_to_register.h and set #define SHOULD_REGISTER_OP_GRADIENT false, but unexpectedly the generated libtensorflow_inference.so file get larger."
### Describe the problem
 I  configured ops_to_register.h as below:

#define SHOULD_REGISTER_OP(op) true
#define SHOULD_REGISTER_OP_GRADIENT false
#define SHOULD_REGISTER_OP_KERNEL(clz) true

set  SHOULD_REGISTER_OP_GRADIENT false. And then I used command below to generate libtensorflow_inference.so file.

`bazel build -c opt --copt="-DSELECTIVE_REGISTRATION" \
            --copt="-DSUPPORT_SELECT

[2017-08-08 03:30] eddytrex commented on #11807
Build label: 0.5.0- (@non-git)

[2017-08-08 03:38] mrry commented on #7457
I'm pretty sure this has been fixed since the 1.1 release. I'm closing this issue for now, but feel free to reopen it if you can reproduce with a newer version of TensorFlow.

[2017-08-08 03:38] #7457 closed

[2017-08-08 03:44] mrry commented on #10130
@1int @sxs4337 What was the source of the graph/metagraph containing an `SSTableReader` op? That is not part of the TensorFlow API, so it sounds like whoever built that graph inadvertently included some proprietary/custom ops in the graph....

[2017-08-08 03:51] lsdustc opened #12097 "I got a type error without rhyme or reason，when i rewrite a _linear function in the rnn_cell_impl.py"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:win64
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**:1.2
- **Python version**:  3.6
- **CUDA/cuDNN version**:ONLY CPU
- **GPU model and memory**:ONLY CPU
-

[2017-08-08 04:18] HalbardHobby opened #12098 "Tensorflow GPU import error"
------------------------

### System information
- **OS Platform**: Windows 10 Pro x64
- **TensorFlow installed from**: pip install tensorflow-gpu
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**: 3.5.3
- **CUDA/cuDNN version**: CUDA8.0 / cuDNN v7
- **GPU model and memory**: GTX 1050
- **Exact command to reproduce**: ```import tensorflow```

### Describe the problem
It is i

[2017-08-08 04:32] flavioschuindt opened #12099 "Cannot import tensorflow 1.0.1 after compiled from source"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: y
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.0.1
- **Python version**: 2.7
- **Bazel version (if compiling fr

[2017-08-08 04:33] MtDersvan commented on #11847
@reedwm @josh11b @ShapingView I experience the same problem. When launching `bazel-bin/tensorflow_serving/model_servers/tensorflow_model_server` I get a following error:
[code]
When I rebuild tensorflow and serving modifying `lstm_ops_kernels`, like this:
[code]

I get a different error (in addition to the previous one), when building my client:
[code]

I will be very thankful if there is any quic

[2017-08-08 05:24] #12097 closed

[2017-08-08 05:26] sandipmgiri commented on #11603
@drpngx  tf and numpy aren't behaving same
So, do you want to modify this behavior of tf or modify the test to adjust as per current behavior of TF ?

[2017-08-08 05:57] andrewharp commented on #9662
Correct: the c_api target depends on android_tensorflow_lib_lite, which is runtime-only (no ops), so you'll need a target that adds them in. My suggestion would be to take //tensorflow/contrib/android:libtensorflow_inference.so as a starting point and modify it to fit your needs (remove the jni files, change the whitelisted methods so they don't get stripped out, etc).

[2017-08-08 06:03] chengdianxuezi commented on #12080
@yaroslavvb  thank you for your help, I try to catch the excetption and recreate the session.

[2017-08-08 06:10] AnshanTJU commented on #11250
Hi, Vade,
I have got same bug:
2017-08-08 14:05:07.302014: E tensorflow/examples/label_image/main.cc:349] Running model failed: Invalid argument: Tried to explicitly squeeze dimension 1 but dimension was not 1: 4
	 [[Node: MobilenetV1/Logits/SpatialSqueeze = Squeeze[T=DT_FLOAT, squeeze_dims=[1, 2], _device="/job:localhost/replica:0/task:0/gpu:0"](MobilenetV1/Logits/Conv2d_1c_1x1/BiasAdd)]]
	 [[Nod

[2017-08-08 06:14] arena commented on #12037
The code in the original comment wasn't formatted as code so all the local variables are interpreted as usernames.

[2017-08-08 06:41] bdenoun commented on #12002
Hi, after cmontassier's comment, I reinstalled tf from pip and I still have the same issue. And same thing for the other 4 computers... so I really think it comes from this particular version !

[2017-08-08 06:54] printdhruv commented on #12095
The `tf.contrib.layers.embedding_column` has no `initializer` value set. If you don't set it then defaults to `tf.truncated_normal_initializer` with mean 0.0 and `standard deviation 1/sqrt(sparse_id_column.length).`

So,the warning states that A new changed implementation for default of standard deviation  will be `1/sqrt(dimension)` after 2017/02/25 instead of `1/sqrt(vocab_size)`

[2017-08-08 07:14] nishalpereira commented on #9035
@CharlesShang

Was your error solved?
I have the same error. please help

[2017-08-08 07:24] rubenvereecken commented on #12086
I agree I worded it as a SO question but that's only because of my frustration to get this to work and an inability to understand the inner workings of variables in this scenario. In all other places I would just create a variable and multiple it for example and the optimizer would know what to do. In this scenario it's a lot less clear and I can't use variables inside `initial_states` passed to `

[2017-08-08 07:31] katyakats commented on #11725
@junshi15 thank you! we will check this direction!
I did not check what method is stuck when I reverted the commit. Will check this as well

[2017-08-08 07:33] anandcu3 commented on #10798
@bmount  I took time and got a VM setup with Ubuntu 16 64bit. and used the tensorflow repo from your fork. Now the  Switch kernel registration issue is solved but i get this error. I have enabled the Verbose Failures option.

`ERROR:/home/anand/.cache/bazel/_bazel_anand/5f4d98f843335b68cd2cff2b911e38a7/external/protobuf_archive/BUILD:133:1: C++ compilation of rule '@protobuf_archive//:protobuf' fa

[2017-08-08 07:41] 4F2E4A2E commented on #12052
@tpankaj Thank you! I've got it running with CUDA 8 and cuDNN 5.1

[2017-08-08 07:44] huzq85 opened #12101 "Build the latest source code will fail under Linux platform"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 17.10 (Artful Aardvark)
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: N/A
- **Python version**: 2.7
- **Bazel version (if compiling from s

[2017-08-08 08:37] AKindyakov commented on #11713
I've made some changes here for the sake of experiments. With the double-conversion library, decode_csv works almost the same time as numpy csv parsing. I'll send PR, please look at it.

[2017-08-08 09:18] CharlesShang commented on #9035
No.
@nishalpereira, I've installed the pre-built binary instead.

[2017-08-08 09:28] nishalpereira commented on #9035
@CharlesShang
Thanks for your reply.
Can you tell me how to install the pre-built binary.

[2017-08-08 09:41] CharlesShang commented on #9035
This problem is random.
On another machine (same OS, same cuda version, but different GPU), tf can be built successfully. So I just copy the built file to my machine, install it..

[2017-08-08 10:32] agniszczotka commented on #7669
AxenGitHub I managed to run validation through training by using experiment
see a doc here: https://www.tensorflow.org/api_docs/python/tf/contrib/learn/Experiment

[code]

I am not sure how effective is it yet, but it did a job.
could you please share your solution for implementing validation monitor with the hooks. I made a question at stackoverflow https://stackoverflow.com/questions/45417502/va

[2017-08-08 11:17] SpinachR commented on #4638
I have realize the advanced indexing like the same way in numpy. Please refer to:
https://github.com/SpinachR/ubuntuTest/blob/master/beautifulCodes/tensorflow_advanced_index_slicing.ipynb

[2017-08-08 11:48] AryanGold commented on #12101
You need:
`bazel clean`
before build/rebuild

[2017-08-08 11:57] oduerr commented on #12071
First @yaroslavvb thanks a lot for code for the stable version of the gradient (I did not know that it's possible to overwrite the gradient calculation).

I agree that the corner case 0 is not really defined but the same is true for the gradient of a ReLU at 0. For `float32` exact 0 is not a singular event, you might get it by rounding errors and then the whole optimization is broken. Furthermore

[2017-08-08 12:40] reith opened #12106 "Build fails for certain GCC paths"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 17.04
- **TensorFlow installed from (source or binary)**:
Source
- **TensorFlow version (use command below)**:
1.3-rc2
- **Python version**:
2.7
- **Bazel version (if compiling from source)**:
5.

[2017-08-08 12:46] Halfish commented on #7664
my tensorflow version is 1.2.1, and I find these three things are the same thing.
- tf.nn.rnn_cell.*
- tf.contrib.rnn.*
- tensorflow.python.ops.rnn_cell_impl.*

Proof it in ipython:
[code]

[2017-08-08 13:38] jiqiujia opened #12108 "tf.string_split didn't behave the same as that split in python"
In python, if we split the following string `'a#'.split('#')`, we will get a list of two elements: `['a', '']`.
While in tensorflow, if we use `tf.string_split`, we will get an sparsetensor with only one elements.
For reproduction, you can run the following piece of code
[code]
As a result, when we use `tf.string_split`, we don't know whether the `2` is before or after the `#`. I think such behavi

[2017-08-08 13:45] anandcu3 opened #12109 "Compiling Tensorflow Crashes"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux Ubuntu 16
- TensorFlow installed from (source or binary):
Source
- TensorFlow version (use command below):
1.3-rc2
- Exact command to reproduce:
cpu=armeabi-v7a
bazel build -c opt //tensorflow/contrib/android:

[2017-08-08 13:46] sxs4337 commented on #10130
I had used the graph from pre-trained model on OpenImages dataset. I was able to get a workaround as discussed in this post-
https://github.com/openimages/dataset/issues/21

Thanks.

[2017-08-08 14:07] mrry commented on #10130
OK, judging by the comments that issue, it's a bug in the released graph, which shouldn't contain an `SSTableReader` op in the first place. Glad to hear that you've found a workaround!

[2017-08-08 14:09] adamlofts opened #12110 "Android example broken with nativeBuildSystem = none"
This commit breaks the android example when nativeBuildSystem = none since it directly uses the native image conversion functions rather than calling the java ones. The native conversions are not implemented when nativeBuildSystem = none.

https://github.com/tensorflow/tensorflow/commit/003deb88b7fb015db86089c2a87b3044cad2c714

To reproduce:

1. Set nativeBuildSystem = none
2. Build example
3. Run

[2017-08-08 14:28] psubnwell commented on #10278
@dylanrandle Hey Dylan,

I met the same problem as yours. I'm running a sequential labeling task with LSTM. Since the lengths of sequences are not the same so I padded them with zero in every batch (but different batches have different lengths). Then I got tons of `PoolAllocator` and the speed is so slow.

I saw your explanation that the sequences are not short enough so the computation time blew

[2017-08-08 14:30] dantkz commented on #5965
Has this been implemented yet?

[2017-08-08 14:56] dylanrandle commented on #10278
Hi,

So basically this is what I was trying to say:

1. There was no problem with the Pool Allocator. It seemed to be a problem, but really it's just that my long sequences (~2000 before) were just taking super long! I say O(n^4) super loosely, just because I used two stacked bidirectional LSTMs, meaning that there are 4 passes of the sequence required.

My solution was simply to reduce the sequen

[2017-08-08 15:02] yaroslavvb commented on #12071
Yes, I agree that this should be fixed, the question is how. The bug with tf.select-caused NaN's linked above is still open a year later and it's a similar problem.

Python-specific solution would be to replace norm with a fused version like above, and corresponding gradient. Fused versions are not really preferred but are done if it's important enough, like was done for `fused_batch_norm`.

More

[2017-08-08 15:28] idofr commented on #11965
Same as
#1122

https://stackoverflow.com/questions/42770757/tensorflow-batch-norm-does-not-work-properly-when-testing-is-training-false

https://stackoverflow.com/questions/39353503/tensorflow-tf-slim-model-with-is-training-true-and-false?rq=1

https://stackoverflow.com/questions/44211371/tensorflow-batch-norm-breaks-network-when-is-training-false?rq=1

I'm currently training again with a higher d

[2017-08-08 15:35] JulienSiems opened #12112 "tf.contrib.slim.nets moved?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.2.0-5-g435cdfc 1.2.1
- **Python version**: Python 3.5.2
- **Bazel version (if com

[2017-08-08 15:36] RylanSchaeffer commented on #12065
I'm trying to create my own `Helper`, as follows:

[code]

But I'm receiving an `UnboundLocalError: local variable 'outputs' referenced before assignment`. The problematic line is `finished = math_ops.equal(outputs, self._end_tensor)`.

[2017-08-08 15:45] dantkz opened #12113 "bug with tf.unique where index output is int64"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: OSX El Capitan 10.11.6
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.3.0-rc1-27-g2784b1c 1.3.0-rc2
- **Python version**: 3.5.2
- **Bazel version (

[2017-08-08 15:47] RylanSchaeffer commented on #12065
I'm trying to implement my suggestion, but I'm running into an error that I'm unsure of how to debug.

My code:

[code]

I'm receiving the following error: `ValueError: Shapes must be equal rank, but are 1 and 2 for 'add_inference/add_decoder/decoder/while/Select' (op: 'Select') with input shapes: [128,4], [?], [?].`

My formal parameter for `start_tensors` when instantiating a `OutputInferenceHel

[2017-08-08 15:51] RylanSchaeffer commented on #12065
I also receive the following message:

[code]

[2017-08-08 15:51] eugenechae commented on #11807
I am seeing the same behavior with bazel 0.5.3

Ubuntu 16.04
Python 3.5.2

[2017-08-08 16:01] ekelsen commented on #5965
tf.where is done.

tf.unique probably cannot be done - it is already registered as a GPU op, but the calculation happens on the CPU - moving this to the GPU would probably slow down some tiny use cases.  It would be best to create a new op in contrib - unique_gpu or something.

tf.dynamic_partition is not implemented yet.  The easiest way to do it would be to use CUB's radix sort, then scan, then

[2017-08-08 16:26] johndpope commented on #5478
some computer scientist lady recommended miniconda - and I haven't looked back.
Forget using pip/pip3 / use conda + conda environments. I can't recommend it more.
https://gist.github.com/johndpope/187b0dd996d16152ace2f842d43e3990

[2017-08-08 16:52] ychen404 commented on #12066
Could any one help me with this?

[2017-08-08 17:20] yongtang commented on #12108
In current implementation, by default empty results are skipped:
https://github.com/tensorflow/tensorflow/blob/7280dafca161eb3413ea120d3dd07c63e5254e72/tensorflow/core/kernels/string_split_op.cc#L33

I think it probably makes sense to add an additional argument in `tf.string_split` with `skip_empty`:
[code]

I can submit a PR if tensorflow team is OK with that.

[2017-08-08 17:41] yaroslavvb commented on #12068
it looks like it's part of refactoring of an existing system that lets you display tensorflow timeline, cc @suharshs

[2017-08-08 17:41] #12068 closed

[2017-08-08 17:45] mrry commented on #11715
Looks like the problem is a missing `ScopedStepContainer` in the context when you run the function in `Dataset.map()`. The same problem also afflicts `Dataset.filter()`, although perhaps it would be less common for a predicate to use `tf.map_fn()`. I have a change in the works!

[2017-08-08 17:52] zhonghuaxi commented on #5303
+1

[code]

[code]

[2017-08-08 17:56] suharshs commented on #12068
Thanks @yaroslavvb . Yes that's correct. Eventually if we can implement a proper StatsPublisherInterface to have stats more/better visualizations.

[2017-08-08 18:05] kobejean commented on #10761
I'd like try to implement this op. Should this go directly into core or somewhere in the contrib directory?

[2017-08-08 18:25] rakashi opened #12114 "How can train my own model in tensorflow using Flickr image dataset, How can i convert data into train, val, test modules"

[2017-08-08 18:25] izaid opened #12115 "XLA feature fix: "INVALID ARGUMENTS: Unsupported type in DataTypeToPrimitiveType complex64""
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:  Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Sierra 10.12
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.3
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: 0.4.5

[2017-08-08 18:36] #12017 closed

[2017-08-08 18:40] #11985 closed

[2017-08-08 18:54] #12112 closed

[2017-08-08 18:55] JulienSiems commented on #12112
Duplicate https://github.com/tensorflow/tensorflow/issues/6064

[2017-08-08 19:08] chihuahua commented on #11856
SGTM. Thank you!

I think it might be worth clarifying this in the `tf.variable_initializer` docs. Otherwise, it might be a bit unclear to some folks to use `v.read_value`.

[2017-08-08 19:36] adityaatluri commented on #10703
Hi @chanil1218
Thank you for the pointer.

You are most welcome in enabling ROCm XLA backend. We are actually waiting for CLA approval from our legal team. We would love to have bazel stuff figured out before implementing actual code.

[2017-08-08 19:39] meteorcloudy opened #12117 "Bazel Windows Build: '//tensorflow/tools/proto_text:gen_proto_text_functions' failed to link"
This was first caught by Bazel CI: http://ci.bazel.io/blue/organizations/jenkins/TensorFlow/detail/TensorFlow/1030/pipeline
Reported at https://github.com/bazelbuild/bazel/issues/3524
[code]

Culprit is found by bisecting: tensorflow/tensorflow@072b0c9.
The unresolved symbol `tensorflow::StringPiece::Hasher::operator()` is implemented in `stringpiece.cc`. This change should have introduced a depen

[2017-08-08 19:45] andrewharp commented on #12096
Selective registration draws from a larger set of potential ops than the regular TF build. It appears what you have done with your macro definitions is to set it to include all these ops, excluding only the gradients which are used for training. Gradients are already excluded by default, and you've added more ops, therefore it makes sense you'll get a larger resulting library.

As explained in #11

[2017-08-08 19:45] #12096 closed

[2017-08-08 20:01] #11692 closed

[2017-08-08 20:25] cancan101 commented on #12052
Here are the full set of features in cuDNN 7:

This cuDNN release includes the following key features and enhancements.
Tensor Cores
Version 7.0.1 of cuDNN is the first to support the Tensor Core operations in its
implementation. Tensor Cores provide highly optimized matrix multiplication
building blocks that do not have an equivalent numerical behavior in the traditional
instructions, therefore,

[2017-08-08 20:31] yaroslavvb commented on #11953
@RuofanKong it's supported in head, benchmark numbers are in https://github.com/tensorflow/tensorflow/pull/12116/commits/e57e11b74b983d663f612d40facd97b83189bbac

[2017-08-08 20:31] #11953 closed

[2017-08-08 20:33] agupta74 commented on #5722
I wrote a simple script with Timeline API in order to understand if StagingQueue is infact overlapping data transfer with GPU processing but for some reason I did not see any overlap in computation and communication in the timelines shown below. Infact the gap between 2 GPU processing tasks increased on adding the StagingQueue. Any ideas on what could explain this behavior?  Is there anything wron

[2017-08-08 20:41] ppwwyyxx commented on #12061
@suiyuan2009 have you compared with using queues only (no stagingarea)? Recently I seem to observe that StagingArea doesn't help much on top of queues.

[2017-08-08 20:49] eaplatanios opened #12118 "C API Functions Support"
Hi,

I was wondering what the status is for supporting the creation of functions in the C API. Couldn't this be done in a similar manner to how while loops are currently constructed?

Thanks,
Anthony

P.S. @skye This could also be useful for defining gradient functions for ops not supported by the C API gradients.

[2017-08-08 20:52] av8ramit commented on #11807
I'm unfortunately unable to reproduce this with rc2 and 0.5.2 Still investigating.

[2017-08-08 21:10] dartdog opened #12119 "Please add predict_proba to estimators class not in TF1.3 DNN"
### Describe the problem

Feature Request:
The TF.learn library in TF1.2 has perdict_proba for getting probability estimates for predictions it is particularly helpful for setting probability levels up or down or just measuring them.. it is a super helpful function for analysis as well as correlations can be drawn to input variables...

There are many use cases where you may want to accept a predi

[2017-08-08 21:27] gvoysey commented on #851
@barty777 you wouldn't happen to have 3.6 wheels, would you? :pray:

[2017-08-08 21:43] yuanhua8 commented on #7162
@wodesuck, thanks daniel for your answer. I like the python code since more easy to modify it(for example I want to convert something in side meta_graph), but it looks a known bug not fixed in python code....
thanks for your information.

[2017-08-08 21:47] sirfz commented on #7951
What about supporting custom ops to create a Dataset? For example, let's say I have a Python function which returns a new batch on each call (a generator). I want to wrap this function using `tf.py_func` and use it to build a `Dataset`. This doesn't seem to be supported?

I currently use this method with `tf.train.*batch*` ops and it works nicely but I'd like to find a way to do this for evaluatio

[2017-08-08 21:51] barty777 commented on #851
@gvoysey Unfortunately no. :(

[2017-08-08 22:04] rohan100jain commented on #12114
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-08 22:04] #12114 closed

[2017-08-08 22:06] yaroslavvb commented on #12083
Could this be added along the lines of https://github.com/tensorflow/tensorflow/pull/11510 ?

[2017-08-08 22:06] gokceneraslan commented on #9180
Directly converting to `scipy.sparse.coo_matrix` would be cool, actually :)

[2017-08-08 22:09] rohan100jain commented on #12108
It seems reasonable to add a skip_empty additional argument to string_split to enable this behavior. Thanks @yongtang for volunteering to create a PR with this.

[2017-08-08 22:10] kranthisai commented on #254
@danbri  @samjabrahams

This is reply to @samjabrahams  comment on Mar 17, 2016. Have you guys tested if the python and c++ versions have similar performance. When I ran object detection model using python, I can clearly see only one core being used and it takes 6 seconds to process 1 image(640x480 res). I tried configuring the intra_ops config parameter, but no luck. I think by default tensorflow

[2017-08-08 22:14] skye commented on #12118
Igor is working on this! I don't know Igor's github handle but I pinged him and will update this issue when I find out what it is.

[2017-08-08 22:22] terrytangyuan commented on #12119
You can use tf.estimator now with e.g. predict(..., predict_keys="probabilities")

[2017-08-08 22:32] danbri commented on #254
My experience was similar - Python was painfully slow

On 8 Aug 2017 11:12 pm, "Kranthi" <notifications@github.com> wrote:

[2017-08-08 22:38] izmailovpavel opened #12121 "tf.random_normal_initializer produces inconsistent results with fixed seed on GPU"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.0.0, 1.1.0, 1.2.1
- **Python version**: 2.7.10, 3.5.2
- **Bazel version (if compil

[2017-08-08 22:43] bobpoekert commented on #7810
@AlvinChen13 did you ever manage to resolve this? I'm having the same issue.

[2017-08-08 22:47] kranthisai commented on #254
@danbri . thanks for the reply. I hope they fix it in official release..

[2017-08-08 23:10] skye commented on #12118
@iganichev is working on function support in the C API

[2017-08-08 23:35] iganichev commented on #12118
I am working on it right now. Interface for basic functionality has been reviewed and implementation is almost ready for review. The core interface just takes a TF_Graph and converts it to TF_Function. You can then add this TF_Function definition to other graphs and create TF_Operations that "invoke" it.

[2017-08-08 23:42] yongtang commented on #12083
Added PR #12122.

[2017-08-08 23:51] ortutay opened #12123 "Cannot compile on Mac OS X due to BoringSSL"
------------------------

### System information

[code]

Building from commit:
[code]

### Describe the problem
I'm following the instructions for Mac source installation (https://www.tensorflow.org/install/install_sources, "Prepare environment for Mac OS" and then "Build the pip package") but I'm running into issues with BoringSSL.

It looks like the `-Wunused-but-set-parameter` and `-Wno-free-n

[2017-08-08 23:57] yaroslavvb commented on #12083
lol, that was fast

[2017-08-09 01:41] yongtang commented on #12108
Added a PR #12125 for this issue.

[2017-08-09 01:42] mountaintom commented on #12123
Hi,

I recently had issues compiling BoringSSL because the -Werror complier flag was set in the BoringSSL build. If you error log is complete, it looks like the same warnings that were tolerated in building other parts of the code, were treated as fatal errors in the BoringSSL build.

If the -Werror flag is your problem if would be best to find where it is set. However, I used a brute force soluti

[2017-08-09 01:44] gauss-clb commented on #11839
I think it maybe a bug.
Look at the code:

[code]
First, I save the variables to check point.

[code]

Then, I want to restore variables from the check point. I want to load x with x_shadow, load y with y, and load z with z. But it will raise a error. Because `ema.variables_to_restore()` will map `y_shadow_name` to y, but there is no key of `y_shadow_name`, and z is untrainable variable, so it can

[2017-08-09 02:20] scucheri commented on #12096
Yeah , I can reduce the .so size when using method of print_selective_registration_header.py. But I want to make it available for different algorithm models.

So the default configuration doesn't include all SHOULD_REGISTER_OP_KERNEL and SHOULD_REGISTER_OP opretions ? But I see the code of selective_registration.h id like this:
![image](https://user-images.githubusercontent.com/10495849/29102454-d

[2017-08-09 02:24] psubnwell commented on #10278
Hi, @dylanrandle
Here is the explanation I found on [How to interpret Poolallocator messages in tensorflow?
 - StackOverflow](https://stackoverflow.com/questions/35151207/how-to-interpret-poolallocator-messages-in-tensorflow/35166985#35166985)
Yes it first says:

But it also says:

So personally I think the speed will keep low if the `PoolAllocator` still pop up. What do you think?
BTW, the `PoolA

[2017-08-09 02:25] HalbardHobby commented on #12098
I was able to fix the issue by downgrading cuDNN to v5.

[2017-08-09 02:25] #12098 closed

[2017-08-09 02:33] jiqiujia commented on #12108
@yongtang Thanks. So must I wait for the next release to use this feature after it's merged?

[2017-08-09 02:34] andrewharp commented on #12096
Those defines you are referencing are only active if you _have not_ defined [SELECTIVE_REGISTRATION](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/selective_registration.h#L21). Otherwise they come from ops_to_register.h.

As described in the comments, print_selective_registration.py will give you an ops_to_register.h file.

However if you want a general-purpose li

[2017-08-09 02:51] GrandathePanda commented on #12093
So my work around for this at the moment is that I wrote a function that monkeypatches the function in the estimator at execution and returns the loss. Not pretty but it works for my purposes. I'd still like to see people's opinions on this. It seems completely reasonable to me for this function to return the final loss.

[2017-08-09 03:03] linyia01 commented on #11807
python3.6 @av8ramit

[2017-08-09 03:27] sandipmgiri commented on #11902
Fixed in PR https://github.com/tensorflow/tensorflow/pull/11939

[2017-08-09 03:27] #11902 closed

[2017-08-09 03:27] FiveTechSoft opened #12126 "Where is NumTraits.h ?"
https://stackoverflow.com/questions/45579072/compiling-tensorflow-api-c-cc-using-mingw-gcc

[2017-08-09 03:28] liutongxuan commented on #394
nvidia-cuda-mps-server works for me

[2017-08-09 03:30] Zealoe opened #12128 "Where is device_attributes.pb.h"
I have to use the  device_attributes.pb.h  and I don't know where it is.

Thank you !

[2017-08-09 03:32] FiveTechSoft commented on #12128
Create it as an empty dummy file

[2017-08-09 03:47] facaiy commented on #11974
Hi, @pmccarter . Because `tf.reshape` is generated automatically, and the implementation is written by C, hence the question is more difficult to debug than I expected. I opened a PR #12127 to take a try to fix it. If your work has not been started yet, is it OK to link the PR to the issue? Thanks.

[2017-08-09 04:19] yaroslavvb commented on #11974
@facaiy this is a Python specific issue so it needs to be at Python side. Look at the stack trace of failing reshape to see where it's happening. The Python layer calls tensor_util.make_tensor_proto which calls numpy.asarray on the result. Numpy asarray tries to figure out dtype of the list, and because it doesn't know about tf.Dimension, it makes it type "np.object" which corresponds to "tf.strin

[2017-08-09 04:23] yongtang commented on #12113
Created a PR #12129 to address the int64 support for `tf.unique`.

[2017-08-09 04:54] nolanliou commented on #10767
@martinwicke I have sent a PR, please take a look if you have time.

[2017-08-09 05:25] bmount commented on #10798
@anandcu3 The required toolchain is the one in NDK 12b (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android#install-bazel-and-android-prerequisites), IIRC I initially tried with a more recent release too and had a similar problem.

[2017-08-09 05:31] anandcu3 commented on #10798
@bmount I'm using NDK12b as well.. Posted an issue regarding this separately as well..

https://github.com/tensorflow/tensorflow/issues/12109

[2017-08-09 05:44] theflofly commented on #9837
FYI this will certainly not be merged, you can see the answer of @asimshankar in https://github.com/tensorflow/tensorflow/pull/11377.

[2017-08-09 05:52] yj8907 commented on #10624
@alextp Could you explain in more detail how to wrap a forking_py_func around py_func to do multiprocessing? Thanks

[2017-08-09 06:52] taehoonlee commented on #11868
I examined each of the layers in ResNet50 and found a slight difference between `BatchNormalization` layers of keras and tf-keras. Would you please check this comment @aselle, @fchollet?

[code]
The results are:
[code]

While the gamma is defined first in original keras, the beta is done first in tf keras. This order is important because the `load_weights()` of keras API checks shapes of symbolic

[2017-08-09 07:01] codeLiudehua commented on #9076
how solve？

[2017-08-09 07:01] facaiy commented on #11974
@yaroslavvb Thanks for your suggestion! Yes, I agree with you that casting object to string is a really awkward solution.

As for the two solutions you advised, I will take a try:

1. Find a way to make `np.asarray` recognize tf.Dimension as int,  or
2. Cast tf.Dimension to int before `np.asarray` call.

[2017-08-09 07:13] facaiy commented on #11974
Hi, @yaroslavvb .

If I understand correctly, `[1, Dimension(1)]` doesn't go `np.asarray` route,

[code]

In fact, it goes the last branch. In the route, `[1, Dimension(1)]` is treated as a list of objects. Then each object is treated as string, see:

[code]

That's why I think obj.str() might fix the issue.

[2017-08-09 07:31] shamoya commented on #11825
@junshi15 @reedwm @poxvoculi - How do we proceed here ?
The tolerate_dup_recv is needed by the verbs code.

[2017-08-09 07:34] juventi opened #12131 "ckpt get in win7 anaconda cannot be used in win10？The same CNN structure and params"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-08-09 08:21] noe commented on #4914
This is still happening with TF 1.2.1. The updated snippet, which outputs the same results, is:
[code]

[2017-08-09 08:22] zhengge commented on #11700
Hi @guoying1030
I have the same error, Did you solve it?

[2017-08-09 08:41] BKZero opened #12132 "slim.separable_conv2d is too slow"
------------------------
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: custom, yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: from pip
- **TensorFlow version (use command below)**: ('v1.2.0-5-g435cdfc', '1.2.1')
- **Python version

[2017-08-09 08:56] borissmidt opened #12133 "[Feature] [Java]: Inspect tensors in a Graph"
Dear Tensorflow maintainers,

First of all i really like it that tensorflow allows easy interop from keras to tensorflow and then allows for interference to Java.

I have noticed that when you load an invalid graph, for example an empty byte array, then it will just accept it without giving an error. An exception will be thrown when we try to run the graph.

Thus i would propose two improvements f

[2017-08-09 08:59] rajaramcomputers commented on #8853
import os
os.environ['TF_CPP_MIN_LOG_LEVEL']='2'
import tensorflow as tf

This will work fine without warning

[2017-08-09 09:06] byronyi commented on #6116
Shall we close this issue as gRPC upgrade has been completed by @jhseu? I re-ran the test [here](https://gist.github.com/yaroslavvb/1124bb02a9fd4abce3d86caf2f950cb2) and found it has been improved from 100-200 MB/s to 800 MB/s. It now fully utilizes a 10Gbps link, and it is actually much better than we'd expected.

[2017-08-09 09:28] passerbyd opened #12134 "Nudge function in fake quantization returns non-nudegd scale value"
The Nudge function(tensorflow/tensorflow/core/kernels/fake_quant_ops_functor.h) aims to keep the real zero value including in quantization input range.
After min/max values are nudged, the scale keeps its original value. Is it intended to be?

[2017-08-09 09:29] petered commented on #1666
log10 and log2 are pretty common things to use, it'd be nice to have them (and would help to match the numpy api)

[2017-08-09 09:30] scucheri commented on #12096
Thank you very much~

[2017-08-09 09:33] dguerra commented on #9837
So how can it be possible to add gradients manually now to a graph?

I can run and train a linear regression graph when I compute the gradients myself.

[code]

But when I try to get the gradients with AddSymbolicGradients and despite MatMulGrad been already defined in math_grad.cc, I got this error message:

"Not found: No gradient defined for op: MatMul. Please see https://www.tensorflow.org/cod

[2017-08-09 09:36] abdulqayyum opened #12135 "tf.shape return wrong shape"
I have a png image of shape `[128,128,3]`

`tf.shape(r)` returns `Tensor("load_images/Shape:0", shape=(3,), dtype=int32)`

while `numpy.shape(r)` returns `(128, 128, 3)`

**tensorflow 1.1.0**

[2017-08-09 09:53] namrata-ibm opened #12136 "Quantize_training_test fails with matmul operation on Ubuntu 16.04"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**:  'v1.2.1-0-gb4957ff', '1.2.1'
- **Python version**:  2.7.12
- **Bazel version (if com

[2017-08-09 09:59] vaibhavsood opened #12137 "sparse_matmul_op_test fails on ppc64le"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-08-09 10:07] theflofly commented on #9837
As the core is in C++ I guess:
* The PR should be merged
* tensorflow/cc/gradients should be moved in tensorflow/core/
* All the python conveniences should be added to tensorflow/core
* The non C++ API should all become bindings to the C++ core code

The problem is that there is a lot of python code to be rewritten (but I would be happy to work on that with the community) but more importantly, the

[2017-08-09 10:08] rharish101 opened #12139 "Build error with Tensorflow 1.3.0 and cuDNN 7.0"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux - Arch Linux
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 2.7
- **Bazel version (if compiling from source)**: 0.5.3

[2017-08-09 10:17] DavidNorman opened #12140 "[XLA] Assert when running XLA unit test"
If I run the test //tensorflow/compiler/xla/tests:tuple_test_cpu with a VLOG level of >=2 , then I receive the following assert:

[code]

I don't think that this is due to any changes that I have in my own repo.

[2017-08-09 10:30] jubjamie commented on #9976
I would suggest refiling over at the **tensorboard** issue tracker as this 404 issue is now closed.

[2017-08-09 10:32] jubjamie commented on #8858
Power supplies are fiddly things indeed. If you think your power supply is bust I would speak to Corsair. They're usually pretty good with sorting it out if it's in warranty. Glad this is solved. Thanks

[2017-08-09 10:36] jubjamie commented on #12131
_Warning: As you've not filled in the required info above you may not get the support you're looking for from the devs. Perhaps this is an issue for Stack Overflow?_

Without you filling in the template above there is no way anyone can help you. If the **only** difference is the OS then i'm surprised that the ckpt's don't work. They should work fine. Are you using any LSTM cells or different versi

[2017-08-09 10:41] jubjamie commented on #12079
_Warning: As you've not filled in the required info above you may not get the support you're looking for from the devs. Perhaps this is an issue for Stack Overflow?_
Even http://localhost/:6006 ? What TF version? Have you filed on the tensorboard issue tracker?

[2017-08-09 10:42] jubjamie commented on #12060
I see you are trying to install on Windows, @mrry has a great installation troubleshooter script that can help pinpoint issues available here: [mrry's Self-check Script](https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c)

[2017-08-09 11:52] Bhargav5 commented on #10718
try 'bazel clean' befoew /.configure. It worked for me

[2017-08-09 11:52] July-Morning commented on #10669
I have updated my repo, hope now everything is alright with the indentations.
https://github.com/July-Morning/Tensorflow_model_utils
Profiling is also done here, it shows main difference in
_pywrap_tensorflow_internal.TF_Run
and
session.py(_run)

[2017-08-09 12:40] deepali-c opened #12141 "Link to Linux and Mac OS broken in TF for Java README"
The link to `Linux `and `Mac OS` under section [Building from Source](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/java/README.md#building-from-source) is broken.

[2017-08-09 12:59] junshi15 commented on #11825
Can we revert [this patch](https://github.com/tensorflow/tensorflow/commit/cbfd50ff0f01e1825922230a8bc6e5766da98dd7)? Just looking at the patch alone, I feel it is cosmetic (cleaning up a parameter that is not used in the core code). Or maybe I missed something important.

[2017-08-09 13:03] YongCHN commented on #12068
thanks.

[2017-08-09 13:07] Nayana-ibm commented on #11290
Further analysis on this test shows that there is a check for endianness.  In case of BIG endian, test fails with "`Unimplemented: Reading a bundle with different endianness from the reader`".
I tried to bypass this check and allowed the execution further for this test however it gives wrong output.
The tensor bundle write/read seems to be working for big endian so now suspecting that the test dat

[2017-08-09 13:08] YongCHN opened #12143 "const variable placement issue in distributed tensorflow"
### Describe the problem
In my model, I use the FTRL Optimizer like below:

`self.optimizer = tf.train.FtrlOptimizer(0.005,
                learning_rate_power=-0.5,
                initial_accumulator_value=0.1,
                l1_regularization_strength=1.0,
                l2_regularization_strength=0.00001)
`

Inside the FtrlOptimizer it will create several const variables for the parameters,

[2017-08-09 13:15] shamoya commented on #11725
Hi @junshi15 , following the discussion [here](https://github.com/tensorflow/tensorflow/issues/11825) and in this bug and after I review the code, I think we have a serious issue with tolerate_dup_recv mechanism (maybe this is why it was removed ? ).

I think [this](https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/core/framework/rendezvous.cc#L209) is wrong in case We don't don't do a

[2017-08-09 13:16] harelfar2 commented on #11232
@tfboyd
I think I managed to compile from source with mkl, but it turned out to be much slower then the maven build, (about 6 times slower with mkl).
does it make sense to you, since I didn't optimize as you said?

 Anyway, can you refer me to your post that you said you were working on? or even the drafts (if you didn't publish it yet)
Thanks ahead!

[2017-08-09 13:34] junshi15 commented on #11725
@shamoya UnRef is in [Recv](https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/core/framework/rendezvous.cc#L264). In what case Recv will not be called? In verbs case, Send only is only called once, but Recv is called multiple times.

[2017-08-09 13:39] shamoya commented on #11725
If Recv was called before the SEND ?

[2017-08-09 13:55] yongtang commented on #12141
The Linux should point to:
https://www.tensorflow.org/install/install_sources#PrepareLinux

Added a PR #12145 for the fix.

[2017-08-09 14:07] Sharathnasa commented on #492
@jasonwu0731 Can you please help me to solve this issue? getting the same error. Where exactly did you fixed?

[2017-08-09 14:19] abdulqayyum commented on #12135
Ok  I do not understand tf.shape return type as is also contradicts its tensorflow documentation but in my case problem was not arising from this so i am closing it

[2017-08-09 14:19] #12135 closed

[2017-08-09 14:19] #12141 closed

[2017-08-09 14:26] #11715 closed

[2017-08-09 14:31] junshi15 commented on #11725
If the first Recv is called before Send, then the waiting table does not have the tensor yet, Recv will put a callback in the table and return. Now, if a second Recv is called and still before Send, I think there is an issue since we allow multiple Recvs. In this case, [an empty tensor will be received](https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/core/framework/rendezvous.cc#L246

[2017-08-09 14:53] Sharathnasa opened #12147 "EigenAllocator for GPU ran out of memory when allocating 0"
Environment info

Operating System: Ubuntu 16.04
Installed version of CUDA and cuDNN: CUDA-8.0, CUDNN 5.1.10
Tensorflow version r1.1

Hello, does anyone encountered this error ?

After some random number of iterations, i'm getting the below exception. Can anyone help me where its going wrong?

: E tensorflow/core/common_runtime/bfc_allocator.cc:244] tried to allocate 0 bytes
: W tensorflow/core/co

[2017-08-09 15:04] junshi15 commented on #11825
While we are looking for the motivation behind this change, we will also investigate how to adapt verbs code to accommodate this change.

[2017-08-09 15:20] manuelreis commented on #12078
I found the cause.
I was not using `mnist.train.next_batch()` correctly. I was assuming it was thread safe.

More details here: https://stackoverflow.com/questions/45574025/random-crashes-when-training-with-multiple-threads-on-tensorflow/45594648#45594648

I'll close this issue.

[2017-08-09 15:20] #12078 closed

[2017-08-09 15:27] tatatodd commented on #12051
@asimshankar Do you have any suggestions here?  C++ ABI compatibility is a can of worms.  :)

[2017-08-09 15:31] tatatodd commented on #12055
Please resubmit and pay attention to the issue template, including the version of TensorFlow and how you installed it (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-08-09 15:32] tatatodd commented on #12057
@jvdillon @langmore @rsepassi Can you comment on this?  Thanks!

[2017-08-09 15:35] tatatodd commented on #12065
@ebrevdo @lukaszkaiser Can you comment on this?  Thanks!

[2017-08-09 15:44] nikky78 opened #12148 "Tensorflow Experiment shape mismatch between train set and test set"
Hi guys,

I am not sure if this is a bug or my mistake but it looks like when the experiment evaluates with the testing set it expects it to be of the same shape as the training set.

First let me show you how I feed the experiment with the train set and eval set:

[code]

when I print my train set and eval set, I have :

Then I build my model:

[code]

Then I define the experiment:

[code]

Event

[2017-08-09 15:49] tatatodd commented on #12077
@mrry Do you have any tips here?

[2017-08-09 15:51] tatatodd commented on #12079
Please file tensorboard-related issues under the tensorboard repository:
https://github.com/tensorflow/tensorboard/issues

[2017-08-09 15:51] #12079 closed

[2017-08-09 15:52] tatatodd commented on #12055
In addition to filling out the issue template, please file tensorboard-related issues under the tensorboard repository:
https://github.com/tensorflow/tensorboard/issues

[2017-08-09 15:52] #12055 closed

[2017-08-09 15:56] mrry commented on #12077
Unfortunately not... the VS Debug configuration isn't well supported on Windows. You could try a `RelWithDebInfo` build instead.

/cc @guschmue

[2017-08-09 15:57] #10612 closed

[2017-08-09 15:57] #12083 closed

[2017-08-09 15:59] #11501 closed

[2017-08-09 16:02] prashantmaheshwari94 commented on #3628
I am facing similar issue but for GRU. I am using tensorflow  1.1.0 and I tried dumping the model in different ways:
a)  checkpoint = tf.train.get_checkpoint_state(FLAGS.checkpoint_dir)
        checkpoint_path = checkpoint.model_checkpoint_path
        saver.restore(session, checkpoint_path)
        log_info('Restored checkpoint at training epoch %d' % (int(checkpoint_path.split('-')[-1]) + 1))

[2017-08-09 16:05] tatatodd commented on #12081
The `nasm` assembler that `bazel` is building is part of the host toolchain, not a regular build target.

I doubt you really want to do this, but if you really want to set a -D on host tools, you can use `--host_copt`:
https://docs.bazel.build/versions/master/bazel-user-manual.html#flag--host_copt

[2017-08-09 16:05] #12081 closed

[2017-08-09 16:11] tatatodd commented on #12091
@Ntweat Please include the full error log

[2017-08-09 16:14] tatatodd commented on #12093
@jhseu Can you comment?  Thanks!

[2017-08-09 16:16] Ntweat commented on #12091
Hi
It was issue with cuDNN, I think Tensorflow does not work with cuDNN 7.
I downgraded cuDNN to v6 and it compiled without any issues.

[2017-08-09 16:17] dguerra commented on #9837
Definetely I'd like to get more insights as well. I'd like to see a working example of training a basic neural net or convnet with C++ API. If basic gradient ops such as Subtract are not supported yet, I guess there is still a long way to go until that. I see SubGrad is already defined in /tensorflow/core/ops/math_grad.cc, so I don't know why it isn't available from the C++ API yet.

[2017-08-09 16:20] poxvoculi commented on #11825
It was removed because we no longer needed it for our internal networking, where it was needed to deal with hardware errors in an earlier generation of machines.  Turning this feature on comes at a cost of higher memory use, since tensors backing sent values cannot be garbage collected until the end of the step.  Also, there may be some upcoming feature whose implementation was made more difficult

[2017-08-09 16:27] tatatodd commented on #12091
Ah yes, please see #12052 for the cuDNN 7 status

[2017-08-09 16:27] #12091 closed

[2017-08-09 16:28] tatatodd commented on #12139
Please see and update #12052 for the cuDNN 7 status

[2017-08-09 16:28] #12139 closed

[2017-08-09 16:29] tatatodd commented on #12095
@printdhruv Thanks for the explanation!

@datomnurdin For future reference, note that this question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-09 16:29] #12095 closed

[2017-08-09 16:33] yaroslavvb commented on #4914
Reopening is as contributions welcome. There are two examples above which demonstrate the problem. A potential solution would be to use `tf.select(...,a, b)` for gradient instead of current `a*0+1*b`

[2017-08-09 16:34] tatatodd commented on #12099
@flavioschuindt Can you retry from the latest sources?

[2017-08-09 16:34] Ntweat commented on #12091
Thank you 👍  I will look out for updates on cuDNN 7

[2017-08-09 16:36] yaroslavvb commented on #11974
Hm, I may be missing where `obj.str` is turned into `int`. Anyway, the performance should be OK if you restrict it to tensors of length <= 8

[2017-08-09 16:37] poxvoculi commented on #11290
@asimshankar: Do you know who's in a position to fix c_api_test.cc?

[2017-08-09 16:37] prashantmaheshwari94 opened #12150 "Unable to load saved model"
I am facing similar issue but for GRU. I am using tensorflow  1.1.0 and I tried dumping the model in different ways:
a)          saver = tf.train.Saver(tf.global_variables())
        model_exporter = exporter.Exporter(saver)

        # Restore variables from training checkpoint
        # TODO: This restores the most recent checkpoint, but if we use validation to counterract
        #       over-fi

[2017-08-09 16:41] yaroslavvb commented on #6116
@jhseu @byronyi woohoo! progress!

[2017-08-09 16:41] #6116 closed

[2017-08-09 16:44] tatatodd commented on #12109
Also see #11592 which looks related.  @andrewharp might have some suggestions.

[2017-08-09 16:47] tatatodd commented on #12113
Thanks @yongtang for the quick PR!  Marking this as community support; it'll get closed when the PR gets merged.

[2017-08-09 16:53] tatatodd commented on #12115
Indeed there is currently no support for complex types in XLA.  Unfortunately there isn't a workaround at the moment.

This feature request is reasonable, but unfortunately I can't say exactly when we'll add this support.

[2017-08-09 16:56] tatatodd commented on #12117
@meteorcloudy Your analysis and fix look reasonable to me.  Marking as contributions welcome, and we can close this out when your PR gets merged.  Thanks!

[2017-08-09 17:05] byronyi commented on #6116
Wow @yaroslavvb I suppose you are a committer to TF now? That is awesome.

[2017-08-09 17:13] tatatodd commented on #12121
@zheng-xq Do you have any insights here, or can you suggest someone to investigate?  Thanks!

[2017-08-09 17:16] theflofly commented on #9837
Even if the gradient is defined into the core, it has to be put in the gradient registry in order to be used by the  AddSymbolicGradients method. Basically register grad has to be called, and it is not the case.

[2017-08-09 17:23] alextp commented on #10624
Actually on second thought the tensorflow runtime uses threads and it's
unlikely that liberal use of multiprocessing will work here.

On Tue, Aug 8, 2017 at 10:54 PM, yj8907 <notifications@github.com> wrote:

--
 - Alex

[2017-08-09 17:28] junshi15 commented on #11825
@poxvoculi This is a corner stone of the current verbs design, where the receiving side could make multiple Recv attempts. Since the pinned memory is shared, a single Recv attempt may not be successful if the shared memory is used by other transmission.

But no worries, let us see if we can do without it.

[2017-08-09 17:29] tatatodd commented on #12123
@mountaintom Thanks for the analysis!  Your explanation looks spot-on to me.

@av8ramit Do you know who might be a good candidate to follow-up on Mac builds?

[2017-08-09 17:30] tatatodd commented on #12131
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-09 17:30] #12131 closed

[2017-08-09 17:32] tatatodd commented on #12133
@asimshankar Can you comment on the suggestions from @borissmidt ?  Thanks!

[2017-08-09 17:35] tatatodd commented on #12137
@vaibhavsood Thanks for filing the issue and the PR!  I'm marking this as contributions welcome, and we'll close this out once your PR gets merged.

[2017-08-09 17:39] edgimar commented on #10972
Both of the code-samples given by @hholst80 in the original report fail for me with the most recent git version of TF (v1.3.0-rc1-810-g349932f) -- the `/tmp/tensorboard` folder is created, and contains a tfevents file, but that is the only thing in the folder (i.e. there is no `plugins` subfolder, or anything else).

[2017-08-09 17:45] tatatodd commented on #12143
@suharshs Do you have any suggestions here?

[2017-08-09 17:48] tatatodd commented on #12147
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

Also note #492 has some extra info that may be interesting to you.  I found that via the following search:
https://github.com/issues?utf8=%E2%9C%93&q=repo%3Atensorflow%2Ftensorflow+%2

[2017-08-09 17:48] #12147 closed

[2017-08-09 17:49] mrry commented on #12143
(I think @prb12 might be interested in a solution to this as well....)

[2017-08-09 18:07] meheffernan commented on #12140
An internal change went in a couple days ago which fixes this issue. To verify I repro'd the problem with the change rolledback. And I see it landed in the repo with f431494. Let me know if you still run into the problem. Closing speculatively.

[2017-08-09 18:07] #12140 closed

[2017-08-09 18:18] dartdog commented on #12119
ahh!!!

[2017-08-09 18:18] #12119 closed

[2017-08-09 18:22] byronyi commented on #11411
@eamartin As GDR is available in current master #11392, would you mind to try again with the newer `grpc+gdr` protocol? It does no tensor serialisation nor memory copies for tensor data.

Since all three extension protocol (`grpc+gdr`, `grpc+verbs` and `grpc+mpi`) still use grpc heavily for the control plane, @ahaider3 you might not see much difference as your computation is way too fast compared

[2017-08-09 18:30] lukaszkaiser commented on #12065
I'm not too familiar with this code, will wait for @ebrevdo or @lmthang to comment.

[2017-08-09 18:32] byronyi commented on #11825
@junshi15 You mentioned about shared pinned memory, and I am wondering if this could be resolved by increasing the amount of pinned memory permitted for multiple concurrent transmissions. For sake of easier implementation, a memory pool allowing growth may fit your needs, e.g. BFCAllocator or PoolAllocator.

[2017-08-09 18:36] prb12 commented on #12143
By 'const variable' (!!), do you mean that the `FtrlOptimizer` creates a `tf.Variable` for learning rate, that is placed on the PS, and is read each step even though the value of that variable never changes?  (I could imagine this would be useful if you ever wanted an adjustable learning rate schedule)

Or... does this produce a `Const` op that is placed on the PS and used on each worker, and the

[2017-08-09 18:38] prabirsinha commented on #11684
This is the sample code I tried to execute using TF (python 3.5.2  on Windows 10 64bit)
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

# Imports
import numpy as np
import tensorflow as tf

from tensorflow.contrib import learn
from tensorflow.contrib.learn.python.learn.estimators import model_fn as model_fn_lib

tf.logging.set_verbosity

[2017-08-09 18:43] edgimar commented on #10972
Not sure if this helps any, but it turns out that by restoring some of the code that was present in the git tree at tag r1.2, the plugins subfolder and asset file is written.  Before the `return t_summary` line in `tensorflow/python/summary/text_summary.py` should be the following lines:

    text_assets = plugin_asset.get_plugin_asset(TextSummaryPluginAsset)
    text_assets.register_tensor(t_summ

[2017-08-09 19:03] edgimar commented on #10972
One other note:  I _am_ able to use tensorboard to see text summaries in tfevents files created from an older TF version (unfortunately I don't know the exact version).  I visually inspected two raw tfevents files (one whose text summaries can be viewed, and another whose summaries can't be viewed), and both contain the text-summary content (what _should_ be displayed in tensorboard), so the data

[2017-08-09 19:09] abhishek42 commented on #1592
#https://github.com/MatthieuCourbariaux/BinaryNet/issues/21

[2017-08-09 19:15] rohan100jain commented on #12106
I was able to successfully reproduce this issue (by creating a symlink to gcc and alluding to that in ./configure)

looks like somehow the code in https://github.com/tensorflow/tensorflow/blob/master/third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc.tpl can't access cc1plus which is usually installed with g++

$locate cc1plus
/usr/lib/gcc/x86_64-linux-gnu/4.8/cc1plus

[2017-08-09 19:17] rohan100jain commented on #12090
From the looks of it, the saving checkpoint output thing is caused by this loop https://github.com/tensorflow/tensorflow/blob/2cfbd3347b943a389bb688125c2a90095b7735b5/tensorflow/python/training/supervisor.py#L1051 which should I think run every 10 minutes as the default for save_model_secs is 600. Is that what you're seeing? If so, then that isn't a concern.

The problem I guess is that your train

[2017-08-09 19:24] rohan100jain commented on #12150
Seems like this is a duplicate of the issue you mentioned: https://github.com/tensorflow/tensorflow/issues/3628

Seems like there is some bug in freeze_graph that is causing this issue. Maybe you should add on to that bug with a proper stack trace to debug.

[2017-08-09 19:24] #12150 closed

[2017-08-09 19:28] yj8907 commented on #10624
@alextp Then if I write a new op kernel in C++ and register it, will it avoid the bottleneck problem of py_func in multi gpu? I have this same problem of py_func slowing down multi-gpu speed.

[2017-08-09 19:35] alextp commented on #10624
Yes

On Wed, Aug 9, 2017 at 12:30 PM, yj8907 <notifications@github.com> wrote:

--
 - Alex

[2017-08-09 19:48] shamoya commented on #11725
No @junshi15, you didn't follow me, I'll try to be more clear.

Let's say RECV is called before SEND, and puts [this](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/verbs/rdma.cc#L678) callback in the table a u said. And let's say there's already a buffer for this tensor, meaning this callback will be called once (trigger TENSOR_WRITE).
now SEND flow performs [this](https:

[2017-08-09 19:51] nrhinehart opened #12154 "Feature request: document which inputs have gradients"
For most operations, the documentation does not make clear what gradients are implemented. Including this information for the inputs (e.g. annotating the inputs that do not have gradients implemented) would help the user better understand the resulting graph.

It appears a related issue was closed, as it was not a feature request. https://github.com/tensorflow/tensorflow/issues/6025

[2017-08-09 19:57] galvk opened #12156 "tf.pow edge case failure"
The tf.pow() function has an edge case which causes it to hang with no error message.

If you try to evaluate tf.pow(x,y), when x is an integer (and thus the output tensor is also an integer), while y is a negative value, tensorflow hangs trying to cast the fraction as an integer.

Examples;

sess.run(tf.pow([5,2],[-2,3]))
sess.run(tf.pow([5],[-2]))
sess.run(tf.pow(5, -2))
sess.run(tf.pow(tf.const

[2017-08-09 20:01] junshi15 commented on #11825
@byronyi Using more memory can alleviate memory access conflicts, but can not totally eliminate it, since we don't know a priori what is the max parallelism. Once a conflict happens, some kind of retry is needed. We have been relying on tolerate_dup_recv for the re-tries.

[2017-08-09 20:03] milah commented on #12086
You are right the initial_states cannot be learned with the SequenceQueueingStateSaver that is constructed in batch_sequences_with_states.

No gradients can flow through the queue. This is a limitation. The documentation could be a bit clearer but it mentions "e.g. constants or tensors" for the initial state.

The only way around this is not using the SequenceQueueingStateSaver. For instance, how

[2017-08-09 20:06] rohan100jain commented on #12148
I think that is mostly the problem... the shapes need to be the same.. Usually the train_input_fn and eval_input_fn return a batch_size full of data to process. Look into methods like https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/learn_io/graph_io.py#L434 (and more methods in that file).

[2017-08-09 20:06] #12148 closed

[2017-08-09 20:13] hongjic commented on #11549
I am also confused about Supervisor and SavedModelBuilder.
It seems we can not call add_meta_graph_and_variables() after Supervisor is created unless we unfreeze the graph.
I have also checked MonitoredTrainingSession, it behaves almost the same, and we can not use SessionRunHook for SavedModel either.
add_meta_graph_and_variables() need "session" as a parameter, but both these two api will finali

[2017-08-09 20:21] pmccarter commented on #11974
np.array([1, tf.Dimension(784)], dtype=tf.int32) returns array([1, 2], dtype=int32), so maybe a solution would be to set the dtype to int if it is None and values is a list mix of numbers and Dimensions?

[2017-08-09 20:22] rohan100jain commented on #12156
Was able to reproduce this issue... actually if y is double, we also have a problem... I tried passing in 1.2 and that didn't work.

TypeError: Expected int32 passed to parameter 'y' of op 'Pow', got [1.2] of type 'list' instead.

The documentation (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/math_ops.cc#L656) seems to suggest that y can be int32 or double etc. So eith

[2017-08-09 20:29] Sycor4x opened #12157 "Bug - Restoring a graph created by tensorflow.python.tools.optimize_for_inference has errors with RNN models"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes, below
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04.1
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: tensorflow-gpu (1.1.0)
- **Python version**: 2.7.12
- **Bazel version (if c

[2017-08-09 20:31] rohan100jain commented on #12154
Seems like a reasonable thing to ask for but I'm not sure whether this is something we're thinking of working on actively in the near future. We do welcome contributions though!

[2017-08-09 20:49] raingo commented on #8102
@vrv the document is still confusing for this function.

Even if order is nondeterministic, the summation is deterministic. Why not just promise that duplicates will be summed?

[2017-08-09 20:55] vrv commented on #8102
I didn't write the code or the doc, so I'm not the best person to clarify this, but maybe because order of operations for floating point values matter that it's still technically a non-deterministic result.  See "catastrophic cancellation" for cases where addition order matters.

[2017-08-09 20:58] RuofanKong opened #12158 "Is `full_matrices=False` working for `tf.svd()`?"
I am working with tensorflow svd decomposition,  and I notice that the svd results do not have any differences for singular matrix no matter I set `full_matrices=False` or to be `True`. For example,

[code]

The results are always same no matter `full_matrices=False` or `True`. However, the online doc says "If true, compute full-sized u and v. If false (the default), compute only the leading P sin

[2017-08-09 20:59] vrv commented on #8102
Also, I think the language implies all updates will be attempted in some order, but feel free to send a PR to update the doc to clarify that point, if you think it's useful.

[2017-08-09 21:00] asimshankar commented on #11290
I think the larger question raised by this is what our position should be regarding serialization formats. Regenerating the testdata would make this test pass, but we'd still have issues where say a SavedModel produced by a little endian machine will be unreadable on a big endian machine and vice-versa. Similarly, any tensors sent over RPCs across between machines with different architectures woul

[2017-08-09 21:04] raingo commented on #8102
OK. Thanks.

[2017-08-09 21:20] YuxinxinChen commented on #12090
@rohan100jain  Hi! Thank you for replying.  The logs you mean is what printed out when we run the program? Then it is super weird. Because all worker stop printing out logs after step 2400 and the worker0 just print out INFO:tensorflow:Saving checkpoint to path /home/centos/experiment_16W_2P_32BS_2017-08-03_IMAGENET_W0/model.ckpt.

There is no error message in any of those worker's logs and no err

[2017-08-09 21:22] poxvoculi commented on #11290
@asimshankar: Model serialization is outside my area of expertise, but I saw this related issue last week: #11908  Why is model save/restore sensitive to endianness?  Are we not saving in protobuf format?

[2017-08-09 21:51] junshi15 commented on #11725
@shamoya Thanks for the explanation. A Recv-Send sequence does increase the reference count by one for send_dev_context. This can be a problem. I tried adding Unref right after [this](https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/core/framework/rendezvous.cc#L219), it crashed right away.

@katyakats mentioned hang at `CopyGPUTensorToCPU`. I see similar issue. Here is a [stack trace

[2017-08-09 22:06] kdubovikov opened #12159 "TensorFlow Serving - error in documentation"
https://www.tensorflow.org/serving/setup

It seems that TensorFlow serving installation guide has incorrect python package name for API:
[code]

So, `tensorflow-serving-api` should be changed to `tensorflow-serving-client`

[2017-08-09 22:18] asimshankar commented on #11290
@poxvoculi : I'm not entirely sure about the history behind this as it predates my involvement in the project. Perhaps @zffchen78 has some historical knowledge?

But looking at the code, when we write out a tensor to disk (see [`tensor_bundle.cc`](https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/core/util/tensor_bundle/tensor_bundle.cc#L138)), it seems we're dumping the raw contents o

[2017-08-09 22:27] adaruna3 commented on #9068
Updates on this would be awesome! Speed boosts from machine learning specific optimizations would be great! Please share if you have information...

[2017-08-09 22:48] asimshankar commented on #12133
@borissmidt : Thanks for the notes. Some thoughts:

- In general, `importGraphDef` will raise an exception when provided an invalid serialized `GraphDef` protocol message. It's just that the empty byte array is a valid serialization of an empty graph :). So I think it's working correctly for an empty graph. Are there invalid graphs for which you do not see an exception raised?

- For the other two

[2017-08-09 22:51] asimshankar commented on #12128
Closing this as a duplicate of #11899 - like for the file mentioned there, `device_attributes.pb.h` is generated during the build and is placed in `bazel-genfiles`

[2017-08-09 22:51] #12128 closed

[2017-08-09 22:54] sguada commented on #11839
As the docs and @reedwm  mentioned by default `ema.variables_to_restore()` uses `tf.moving_average_variables() + tf.trainable_variables()`.

But you can get the behavior that want by doing

[code]

[2017-08-09 23:14] #12113 closed

[2017-08-09 23:34] cgarciae commented on #10612
When will this ship?

[2017-08-09 23:59] thesuperzapper commented on #10612
Alpha-dropout just got merged. #11357

[2017-08-10 00:28] gauss-clb commented on #11839
It is wrong if you use `saver = tf.train.Saver(variables_to_restore)`, because the shadow variables aren't saved in check point. And the `variables_to_restore` map shadow name to moving average variable(just mean in check point, key=shadow_name, value=moving average variable), so when you restore(variables_to_restore), the moving average variables will be load by themselves, not their shadows. But

[2017-08-10 00:37] yuanhua8 commented on #7162
also find that in bug in the quantize_graph.py which call remove_training_nodes. suppose a const name has a control dependency on an identity node which depend on switch node. after  idenity is remvoed. const should just have control dependency on switch node, not use switch node as input

[2017-08-10 00:42] andrewharp commented on #12109
Hmmm, not sure I see the actual error message there :/

Questions:
- What happens if you try to execute `external/androidndk/ndk/toolchains/arm-linux-androideabi-4.9/prebuilt/linux-x86_64/bin/arm-linux-androideabi-ar` by itself?
- Have you attempted to compile without the native code change?

FWIW, we have a similar internal change that will hopefully be out in the next push or two to change the d

[2017-08-10 01:00] #11750 closed

[2017-08-10 01:08] YongCHN commented on #12143
FtrlOptimizer create several const variable such as learning rate, learning rate power, etc, placing at each worker side.

You can see these information when you enabled the variable placement configuration.
[code]

Then you will see below information.
[code]

Then during each session run, I can see that the request from the each ps asking the read of the above variables. I added several logs in t

[2017-08-10 01:14] philipperemy commented on #7162
@yuanhua8 yes they remove all the nodes that no do impact the inference of the output node specified.

But as you said, it might be a problem since many of us use the identity trick to name a node in the network.

[2017-08-10 01:16] a3626a commented on #3476
LSTMTuple consists of previous cell state, and output.

[2017-08-10 01:25] facaiy commented on #11974
Thanks, all.

@pmccarter 's advice sounds attractive, I'd like to dig deeper.

[code]

[2017-08-10 01:37] terrytangyuan commented on #12093
You can add a custom session run hook with something like following:

[code]
and then attach this to your estimator.

[2017-08-10 02:25] guschmue commented on #12077
I think I have seen that during the initial port which was some stl thing being called from the device.
I can take a look.

[2017-08-10 02:42] ScorpioCPH commented on #12070
ping @tatatodd @hawkinsp

[2017-08-10 02:50] leemgs opened #12162 "build_all_xxx.sh support for Tizen target"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04 LTS 64bit
- **TensorFlow installed from (source or binary)**: Yes
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**: 2.7
- **Bazel version (if compiling from source)**: 0.1

[2017-08-10 02:52] hawkinsp commented on #12070
Thanks for the bug report!

These messages are benign — I would just ignore them. They won't hurt anything and they only show up if you turn on verbose logging; at worst they could slow down startup a very tiny amount.

We could maybe try to avoid creating op registrations if not building with CUDA, but if it isn't causing a problem I don't think it's a high priority.

However if you want to send

[2017-08-10 02:52] #12070 closed

[2017-08-10 03:01] terryKing1992 commented on #11549
@hongjic  there is no good way to do that. except using `sess.graph._unsafe_unfinalize()`

[2017-08-10 03:51] doubleycn opened #12163 "tf.cast Illegal instruction"
[code]
output:
 Illegal instruction

[code]
this's ok.

My System Info:
 centos7 Linux bw-dev-xxxx-v01 3.10.0-123.el7.x86_64 #1 SMP Mon Jun 30 12:09:22 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux
 Python 3.6.2
[code]

why? please help!

[2017-08-10 03:52] zhangyaobit commented on #10857
I'm closing this issue, as the freeze mode fused batch norm has been supported now: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/nn_grad.py#L674

[2017-08-10 03:53] yaroslavvb commented on #12143
@YongCHN as a side-comment -- it sounds like you are dealing with Const nodes (there's also Variable node which would be different). I recall seeing Const nodes being cached on devices (ie, fetching same Const by GPU several times would only transfer once), it seems like an omission if they aren't cached by distributed workers.

[2017-08-10 03:53] bydsky commented on #10429
@dandelionmane

It seems tensorboard is used by https://github.com/dmlc/tensorboard.
Is there a plan to provide a tf independent package which can be used by other ML frameworks?

[2017-08-10 03:58] yaroslavvb commented on #12163
This sounds like being killed by SIGILL. That happens when binary is compiled for some architecture that your machine doesn't support. Are you using official binary release? What is the CPU you are running?

[2017-08-10 04:00] zhangyaobit commented on #8535
Adding @zheng-xq and @reedwm, who might have an update on the plan or ongoing work on this.

[2017-08-10 04:02] yaroslavvb commented on #12162
This sounds like a good issue for community to support. Maybe Samsung wants to help integration? cc @yunjey in case they know people in Samsung to take it on

[2017-08-10 04:05] doubleycn commented on #12163
CPU Info:
[code]

tensorflow install:
[code]

[2017-08-10 04:23] yaroslavvb commented on #12163
Hm, I have access to almost identical CPU (only the microcode is a bit older) and can't reproduce this. Also, your example is strange -- in your code TF runtime is never utilized, only Python wrapper functions are called. This means the illegal instruction would be caused by the Python interpreter, or numpy's `asarray` function rather than TensorFlow. Could it be that your version of numpy is buil

[2017-08-10 04:26] reedwm commented on #8535
Float16 support for fused batch norm is being worked on. Then tf.contrib.layers.batch_norm will support tf.float16 if fused=True is passed to it.

Note the scale and and offset variables will still be stored as float32s, but the inputs and outputs to fused batch norm will have the option of being float16.

[2017-08-10 04:33] yaroslavvb commented on #12158
I think it's not a bug.

Note from helpstring `Tensor` of shape `[..., M, N]`. Let `P` be the minimum of `M` and
        `N`."

The result is different if you use non-square a
`a = tf.Variable([[1.0, 0.0, 0.0]])  # Singular Matrix`

[2017-08-10 04:37] martinrosevear opened #12164 "Cannot include '*.pb.h' files in tf_tutorials.cmake"
**System information**

Windows10
VisualStudio 2015
TensorFlow 1.3.0
Python 3.5.3
CMake 3.9.0

I am generating C++ tensorflow 'GPU' version of _tf_tutorials_example_trainer_ example as defined in (https://github.com/tensorflow/tensorflow/tree/r0.12/tensorflow/contrib/cmake) using Cmake and MSbuild.

**Describe the problem**

Build failing due to missing header files ../contrib/boosted_trees/proto/

[2017-08-10 04:37] RylanSchaeffer commented on #12065
One mistake I'm making (I think) is that `finished = math_ops.equal(outputs, self._end_tensor)` operates element-wise, which means `finished` will be a tensor of shape `[batch size, ...]` and should instead be a tensor of shape `[batch size]`. I believe a statement is `finished = math_ops.reduce_all(math_ops.equal(outputs, self._end_tensor), axis=1)`, but I'm not sure if this generalizes to tensor

[2017-08-10 04:41] hongjic commented on #11549
@terryKing1992  looks like you are right... but this still makes me feel strange. I think there should be some workaround otherwise it could be a good feature request.

[2017-08-10 04:45] DeepLearningJohnDoe commented on #10857
Thank you!

[2017-08-10 05:18] scenarios commented on #7456
Any update? I've been struggling with this problem for a while. I have 8 M40 cards and the problem is very similar with @YiMX. Everything works well on single card but diverging when using multiple cards together. The most weird part is that when I allocate computation on two different gpus between which the peer to peer access is not supported, everything works well again. For example, it works w

[2017-08-10 05:31] ebrevdo commented on #12065
Adam, iirc you wrote the training version, right?  Ptal?

On Aug 9, 2017 9:37 PM, "Rylan Schaeffer" <notifications@github.com> wrote:

[2017-08-10 06:09] sandipmgiri commented on #10757
Fixed in PR https://github.com/tensorflow/tensorflow/pull/12138

[2017-08-10 06:09] sandipmgiri commented on #10459
Fixed in PR https://github.com/tensorflow/tensorflow/pull/12138

[2017-08-10 06:09] #10459 closed

[2017-08-10 06:20] heloowird commented on #9471
I found the same problem, and I fixed it by puting `tf.image.decode_image` into building graph step instead of running step.

[2017-08-10 06:36] sumsuddin commented on #10642
Make sure to run with `nvidia-docker`

[2017-08-10 06:45] ruiann commented on #9471
@heloowird
So it seems that the decode call will cost more and more time with the times of call increases?

@yzhwang

[2017-08-10 06:54] doubleycn commented on #12163
the code core dump at lib/python3.6/site-packages/tensorflow/python/framework/ops.py line 746
[code]
call this function conversion_func , core dump.
run log:
[code]

numpy version:
[code]

[2017-08-10 07:05] heloowird commented on #9471
yes, you can simply test time cost of `x_batch = [get_image(image.eval()) for i in xrange(batch_size)]`

[2017-08-10 07:07] weberxie opened #12165 "Tiny error about set CLASSPATH in Deploy Doc"
In https://www.tensorflow.org/deploy/hadoop this page,
When introduce to set CLASSPATH,
`shell CLASSPATH=$($HADOOP_HDFS_HOME}/bin/hadoop classpath --glob)`
There is an extra parenthesis after **$HADOOP_HDFS_HOME**

[2017-08-10 07:23] doubleycn commented on #12163
@yaroslavvb thank you for you help. i find the error at numpy package.
[code]

[2017-08-10 07:24] #12163 closed

[2017-08-10 07:55] wm901115nwpu opened #12166 "build android"
ERROR: /home/wangmeng/RSTensorFlow_mobile/tensorflow/examples/android/BUILD:67:1: Building tensorflow/examples/android/libtensorflow_demo.jar (23 source files) failed: Worker process sent response with exit code: 1.
tensorflow/examples/android/src/org/tensorflow/demo/StylizeActivity.java:365: error: constructor TensorFlowInferenceInterface in class TensorFlowInferenceInterface cannot be applied to

[2017-08-10 08:11] zh794390558 opened #12167 "TFRecord usage"
### Describe the problem
Can I get meta data of record in TFRecord file using tf queue pipeline, which type is an int or np.ndarry without a Tensor?

So I can use this meta data to tf.shuffle_batch example, and I do not want use a another Sesson to fecth from Tensors.

May this can be a Feature for tf.

[2017-08-10 08:13] borissmidt commented on #12133
@asimshankar
Thanks for noting me that there is a function named `Graph.operation(String name)`, it is really useful and it could be further improved with a function like `Graph.getOperations()` which returns a list of operations in the graph. This would allow us the inspect the graph directly and see if the correct one is loaded.

I'm thinking about the empty graph behavior, since it seems like a

[2017-08-10 08:20] prashantmaheshwari94 commented on #12150
I tried to storing the model from other method which doesn't use freeze_graph. Method mentioned in 'b point' in my original post. In that also I get the same error.

[2017-08-10 08:22] prashantmaheshwari94 commented on #3628
I am facing similar issue but for GRU. I am using tensorflow 1.1.0 and I tried dumping the model in different ways:
a) saver = tf.train.Saver(tf.global_variables())
model_exporter = exporter.Exporter(saver)

    # Restore variables from training checkpoint
    # TODO: This restores the most recent checkpoint, but if we use validation to counterract
    #       over-fitting, we may want to restore

[2017-08-10 08:30] cinqs opened #12168 "*mlocate* should be denpendency"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
  docker centos 7
- **TensorFlow installed from (source or binary)**:
  source
- **TensorFlow version (use command below)**:
  r1.2
- **Python version**:
  2.7.5
- **Bazel version (if compiling from source)**:

[2017-08-10 08:31] scenarios commented on #7456
Ok, it finally got solved.
In my case, The bug is pear to pear data access between gpu0 and gpu1,2,3 doesn't work. This abnormalty can be verified with "simpleP2P" test. The test reports an "verification error" with nan in my case. But the reason behind this behaviour could be various. For me, it's because there's a conflict of virtual memory existing between one of my cpu and gpu0, which can be

[2017-08-10 08:34] stepochkin opened #12169 "Request for Tile operation for integer types"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: ('v1.2.0-5-g435cdfc', '1.2.1')
- **Python version**: 2.7
- **Bazel version (if compi

[2017-08-10 08:43] j30206868 commented on #12037
The same problems happened to me.
My system information:
Windows 7
Visual Studio 2015
Tensorflow v1.3.0-rc2
Python 3.5.2
cmake version 3.6.2
And my cmake setting
![image](https://user-images.githubusercontent.com/4746227/29161448-dfa05d78-7de8-11e7-9ef8-46e823105891.png)

**In addition the issue occurs in 6 other projects to me**:
compare_graph
summarize_graph
transform_graph
benchmark_model
tf_la

[2017-08-10 08:50] Huayra007 commented on #6220
@lukaszkaiser Hi, I've confronted with this problem when using AdamOptimizer, I've tried your suggestion but it still doesn't work. Could you please help me change the code?
Besides, I'm not very familiar with TF, wish you can help me point out anything not appropriate in this code. Thank you!
`import tensorflow as tf
import numpy as np
import datetime
import matplotlib.pyplot as plt
import os
fro

[2017-08-10 09:50] rasitsimsek commented on #12037
j30206868 is right. There are more lack of dependencies in other projects. The tensorflow project is mainly focused on Python and not other languages like C++ only projects. I have managed to build a C++ CMake project on without in the tensorflow environment. Under C++ it is not running out of the box. There is a lot research needed to put all library and include dependencies together.

[2017-08-10 10:01] n1kt0 commented on #7660
@codeloverr gives it you a warning that it wasn't compiled with the flags set?

[2017-08-10 10:09] rubenvereecken commented on #12086
I have also tried something with `tf.cond` and `tf.map_fn` to conditionally use variables instead of the tensor states provided by the state saver when it notices a certain batch is the first one in its sequence, but to no avail.

Pre-training indeed sounds like the only way to go about this. Not a bad idea at all, thanks. I'd still hoped to make this work end-to-end.

[2017-08-10 10:38] vaibhavsood commented on #12137
Thanks!

[2017-08-10 10:58] carlthome commented on #11905
@learyg, ETA on a short guide (just a rough draft at least)? Would be nice to see ResizeBilinear XLA support on master anyway.

[2017-08-10 11:42] shamoya commented on #11725
Wowww @junshi15, looks like this is it !

I've ran the test with inter/intra_op_parallelism_threads = 500 and it passed (multiple times).
It workaround the problem by reducing the probability to have this scenario (Schedule of the threadpool more likely to choose an idle thread).
It also explains why it happens when working with real data (queue readers also use the same threads)!

@poxvoculi
Real

[2017-08-10 11:44] shamoya commented on #12035
Hi @sj6077,

Per progress in #11725, can please configure the Session with high values of  inter/intra_op_parallelism_threads (I tried 500) and recheck ?
It's just a workaround, to see if we indeed experiencing the same issue.

[2017-08-10 11:50] anandcu3 commented on #8454
@nesadiankemo  I have encountered the same issue. . but your fix did not help.. I added "fifo_queue_op.cc" in android_core_ops and also in tensorflow/contrib/makefile/tf_op_files.txt . But the same error still comes up..  Did you take any other steps to fix it. Could you please explain?

[2017-08-10 12:35] rubenvereecken commented on #12086
Never mind, my last attempt didn't work because I messed up variable initialization.

The way I worked around this is as follows. I keep a `first` boolean in my state saver which is initialized to `True` and gets set to `False` after the first time a batch is encountered.
I keep a separate set of to-be-learned initial states. The trick is to only use them during the first batch for a sequence. I d

[2017-08-10 12:38] Dapid commented on #12154
Since the gradients are registered in the code, shouldn't it be possible to build the list programatically?

Parse each "ops" file in https://github.com/tensorflow/tensorflow/tree/master/tensorflow/python/ops, and match the names with the corresponding "grad".

[2017-08-10 12:51] tbsflk opened #12177 "InvalidArgumentError in tensorflow reduce_sum gradient when compiling from sources"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
1.3.0rc2
- **Python version**:
3.5.3
- **Bazel version (if compiling from source)**:
cmake 3

[2017-08-10 13:17] yegord opened #12178 "ValueError: At least one of the merge inputs is None"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes, it is my code that does not work as expected.

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04.1 LTS

- **TensorFlow installed from (source or binary)**:
Source.

- **TensorFlow version (use command below)**:
('v1.2.1-0-gb4957ff', '1.2.1')

-

[2017-08-10 13:29] yanivbl6 commented on #11725
By reducing the number of threads to 1 inter_thread I managed to reproduce the bug in a system with 2 GPUs per host and 2 hosts only  (2ps + 2 workers). I believe its the same issue because it occurs only when using verbs and I am getting the same backtrace as @junshi15 did. so I think we are close.

But I don't think **ThenExecute** is the problem.
I've added VLOG prints before and after the crit

[2017-08-10 13:38] junshi15 commented on #11725
@shamoya Glad we are making some progress.
@yanastali Thanks for your help. This [line](https://gist.github.com/junshi15/af3063e5bd22c911c30fcaafee060fa1#file-gistfile1-txt-L2) seems to be waiting for a mutex. We need to identify the mutex inside `SetProtoFromGPUSync`.

[2017-08-10 13:50] junshi15 commented on #11725
This [line](https://gist.github.com/junshi15/af3063e5bd22c911c30fcaafee060fa1#file-gistfile1-txt-L37) is not `CopyCPUTensorToGPU` itself. It looks like a lambda function (callback?) inside `CopyCPUTensorToGPU`.

[2017-08-10 13:51] yanivbl6 commented on #11725
I think this line relate to the condition variable of "Notification n", which requires a mutex. (for waiting).
If I got this right The condition variable is waiting for the callback, that was scheduled after the stream in ThenExecute.

[2017-08-10 13:53] zvadaszi commented on #10798
Thanks @bmount ! Tested your apk on a Moto G5 Plus, detection takes ~2-3 seconds but quality is pretty good. Will try to build your detection class and test different quantizations to see if it improves the detection speed.

[2017-08-10 13:54] issa-s-ayoub commented on #1122
I was confused after all these comments on how to properly use Batch Norm: So here is what I have. Please correct me if I'm wrong.

`batch_norm = tf.contrib.layers.batch_norm(conv_trans,
                                                             center=True,
                                                             scale=True,
                                                             reuse

[2017-08-10 14:23] MtDersvan commented on #11847
Any progress here?

[2017-08-10 14:26] ScorpioCPH commented on #12070
@hawkinsp Thanks for your reply!

I will send a PR to fix it later :)

[2017-08-10 14:29] phanousk opened #12181 "Cuda build fail with 1.3.0"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow
 - issue with the same outcomes is here: https://stackoverflow.com/questions/45266594/tensorflow-with-gpu-cuda8-compile-error-shfl-up

------------------------
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
NO

- **OS

[2017-08-10 14:32] gazzterran commented on #7108
@cancan101 use the lastest version still freeze. Has someone fixed?

[2017-08-10 15:00] yongtang commented on #12169
Added a PR #12183 for the fix.

[2017-08-10 15:03] yongtang commented on #12165
See #10293. I think the issue has been fixed in the master branch.

[2017-08-10 15:34] ro3c opened #12184 "Tensorboard AttributeError: 'SummaryMetadata' object has no attribute 'display_name'"
### System information
- No custom code
- **OS: MaxOS Sierra 10.12.6
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: Build label: 0.5.3-homebrew
- **CUDA/cuDNN version**:
- **GPU model and memory**:
- **Exact command to reproduce**: ./tensorboard --logdir=/Users/Pertis/

[2017-08-10 15:35] #12117 closed

[2017-08-10 15:53] YongCHN commented on #12143
@yaroslavvb yes, i am dealing with the Const nodes and I need them be cached in the distributed ps nodes, instead of worker side since these const variables are actually used in the ps nodes.

[2017-08-10 15:54] adarob commented on #12065
This is actually a more specific case of what I am building, which is a general sampling helper that takes a layer like the ScheduledOutputTrainingHelper. The problem with using the training helper is that it doesn't output the actual samples so it can't be used during inference.

Rylan, your solution solution will almost work, but you are going to hit the issue that sample_ids is currently requir

[2017-08-10 15:58] sguada commented on #11839
I'm sorry but I don't understand you comment.

The code I suggested is for the restoring phase, for saving one would use `tf.train.Saver()` which would save `x`, `y`, `z` and `x/ExponentialMovingAverage`

If you print `variables_to_restore` I would expect that you get the following:
[code]

What means that the variable `x` would restore its value from `x/EMA` instead of from `x` itself, while `y`

[2017-08-10 16:13] RylanSchaeffer commented on #12065
@adarob , thanks for responding!  I need to meet a deadline this Sunday for my internship project, but I have another month after that to continue working. Could I email you directly for help with hacking a solution in the short term? (I'm happy to talk here, but I know TensorFlow developers like to keep conversations focused on the original issue).

[2017-08-10 16:18] mishajw commented on #11383
Hi @ebrevdo, sorry I've just gotten time to try this out.

This approach seems to work, but could you speak for how fast this compared to the usual method of feeding single placeholder for Tensors that don't have varying sizes? I am concerned that this method, while clean once inside a helper function call, might be slow when training.

[2017-08-10 16:20] adarob commented on #12065
Sure @RylanSchaeffer

[2017-08-10 16:38] yaroslavvb commented on #12154
As a heuristic, you could search for all instances of `ops.RegisterGradient`, that gives you which op has a gradient associated. You can then get source, and parse out `None`s out of `return` line, which gives you the inputs without gradients.

Note that this works only for atomic ops. Something like `tf.norm` will support gradients, but there are no gradients for this op in particular because it'

[2017-08-10 16:38] #12137 closed

[2017-08-10 16:47] RylanSchaeffer commented on #12065
@adarob , thanks!

[2017-08-10 17:16] yaroslavvb commented on #11974
@pmccarter actually I like that idea . It would have much less side-effects. We already have Python ops which are essentially 1 line wrappers over underlying generated ops, like reduce sum

https://github.com/tensorflow/tensorflow/blob/2cd08105bd961ca125483f2076c7f301c1020da3/tensorflow/python/ops/math_ops.py#L1274

[2017-08-10 17:26] rmlarsen commented on #12003
@poxvoculi thanks for pointing that out. We'll have to revert to stable_sort.

[2017-08-10 17:53] wchargin opened #12185 "`numpy >= 1.11.0` is not sufficient (repro script included)"
Our pip package includes a dependency on [`numpy >= 1.11.0`][1]. However, when `numpy` version 1.11.0 is already installed and then the user installs TensorFlow, TensorFlow fails to load with the following error:
[code]
The root cause is:
[code]

This problem occurs on **Python 3 only** (I only tested Python 3.4).

This is a regression from build 582 to build 583. I include a repro script below.
[