[2017-04-30 14:33] ljos opened #9553 "configure does not work on macOS if sed is GNU sed"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.12.4
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: Current head: 3ce228e

### Describe the problem
If sed is GNU sed on macOS, configure fail

[2017-04-30 14:47] Carmezim commented on #5949
@Randolph-zeng you shouldn't use cuDNN 6.0, according to TensorFlow requirements only 5.1 is supported on Windows.

[2017-04-30 15:32] yaroslavvb commented on #9552
TensorFlow tf.Variable objects are not specific to neural networks, so baking "traininable" property in there seems wrong. There's `tf.trainable_variables()` and `tf.add_to_collection(tf.GraphKeys.TRAINABLE_VARIABLES)`

[2017-04-30 15:33] yaroslavvb commented on #9549
maybe out of GPU memory? Try running with `export CUDA_VISIBLE_DEVICES=''`

[2017-04-30 15:40] yaroslavvb commented on #9518
For a speed reference, MKL (through scipy) does 4096x4096 SVD in 5.6 seconds on Xeon V4
Unexpectedly, symmetric eigenvalue version is considerably slower than full SVD https://github.com/scipy/scipy/issues/7339

[2017-04-30 16:28] petrux commented on #9552
Hi @yaroslavvb, thanks for the reply. Yes, it makes sense. I will close the issue (and find a smart way to solve my problem using what is already there).

[2017-04-30 16:28] #9552 closed

[2017-04-30 16:36] sjperkins commented on #7951
Another thing that would be cool would be the ability for Session's to return Futures that could then be used as input to other Session runs. Said future could then be passed through the graph until the Tensor it requires evaluation.

[code]

This concept is cribbed off [dask distributed](https://github.com/dask/distributed) and other executor frameworks -- I think the flexibility offered by this

[2017-04-30 17:28] gdj0nes opened #9554 "TFRecord Writer Bug Saving Float List"
OS: Linux Ubuntu 14.04
TF: Version 1.1 (CPU) python 2.7

When saving a list of floats to TFRecords format with
`tf.train.Feature(float_list=tf.train.FloatList(value=value)
`
,where value it list of floats converted from a numpy array using tolist(), I get the following error:

TypeError: [0.0, 41.95294952392578, 1.4004319906234741, 46.5711784362793, 33.32099914550781, 1.545793056488037, has type l

[2017-04-30 19:05] chris-chris commented on #9024
@dandelionmane @asimshankar
May I take a shot at it?
I'm trying to export the graph in SVG format.

[2017-04-30 19:06] EddieOne commented on #6322
For anyone struggling to get tensorboard embeddings working, I would suggest the [standalone embeddings](https://github.com/tensorflow/embedding-projector-standalone). It has example input files which were a massive help for me. For learning, it is **much easier** to create embedding data outside of the training code. The structure of embeddings was much clearer once I realized that embedding data

[2017-04-30 19:30] gdj0nes commented on #9554
I think the issue maybe due to using the protobuf version that can be downloaded through tensorflow.

[2017-04-30 20:37] samjabrahams commented on #254
[Unofficial Raspberry Pi binaries for version 1.1.0](https://github.com/samjabrahams/tensorflow-on-raspberry-pi/releases/tag/v1.1.0).

[2017-04-30 21:16] aselle commented on #9553
Can you isolate the command that caused this? How did you switch to GNU sed?

[2017-04-30 21:16] aselle commented on #9549
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-04-30 21:22] aselle commented on #9539
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-30 21:23] #9539 closed

[2017-04-30 21:26] aselle commented on #9527
@fxsuper, could you include some of your code that demonstrates this problem? Specifically from your general description it is only possible to guess what your two versions look I imagine if the amount of work required by each "iteration" is tiny, you might see the same behavior. I would also recommend asking on StackOverflow, because there are many more users of TensorFlow asking there, and this

[2017-04-30 21:28] aselle commented on #9528
I'm afraid that there is little documentation on the internals of TensorFlow. The best way to get started is to read the source code on the parts that you are interested in. It is also unlikely we will have time to extensively document the workings of TensorFlow, as most our documentation effort is aimed at users.

[2017-04-30 23:55] danijar opened #9557 "Wrong path for absolute variable scopes"
Using absolute paths for scopes is useful when structuring large models.

We can enter a name scope from its absolute path by appending a slash:

[code]

However, this does not work with variable scopes:

[code]

The last line should print `bar` instead of `foo/bar/`.

[2017-05-01 00:44] Azharo commented on #6266
Thanks @cantonios . Your solution worked for me

[2017-05-01 01:06] tgirgin23 commented on #9554
OS: Linux Ubuntu 16.04
TF: Version 1.1 (GPU) python 3.3 (Using Docker)

I am having the exact same issue here but with an **Int64List**. I am trying to pass a list ([0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0]) without any success. I am getting the following error:

[2017-05-01 01:55] saria85 commented on #7162
hi

I am getting this error when doing optimization

ValueError: graph_def is invalid at node 'word_embeddings/Variable/Assign': Input tensor 'word_embeddings/Variable:0' Cannot convert a tensor of type float32 to an input of type float32_ref

input_graph_def = tf.GraphDef()
    checkpoint = tf.train.get_checkpoint_state(model_dir)
    input_checkpoint = checkpoint.model_checkpoint_path

    absol

[2017-05-01 02:12] alicelucas commented on #9554
If you want to input a list, your _int64_feature (or _float32_feature) should actually be defined as:
[code]

And that should do the trick!

[2017-05-01 02:18] gdj0nes commented on #9554
I think this is related to the version of protobuf because I was able to get it to work on a different machine.

[2017-05-01 02:23] tgirgin23 commented on #9554
@gdj0nes What version of protobuf worked for you?

[2017-05-01 02:23] aselle commented on #9557
@mrry, i'm not a scope expert, but it seems in `ops.py` there is `name_from_scope_name` that
checks for a trailing slash i.e. at https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/ops.py#L1883

but and I don't see any similar function for variable_scope. Perhaps this is intended for some good reason?

[2017-05-01 02:24] aselle commented on #9545
@dandelionmane, could you please take a look?

[2017-05-01 02:28] Alimul811 opened #9558 "https://github.com/tensorflow/tensorflow/issues/9553"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-05-01 02:58] stat-lz opened #9559 "no such package 'tensorflow/examples/image_retraining': BUILD file not found on package path."
### Describe the problem
I use ubuntu, and install anaconda3 and tensorflow followed the instruction. After it, I am trying to learn how to retrain a model that follows the inception tutorial. It seems that I got the following errors

ERROR: no such package 'tensorflow/examples/image_retraining': BUILD file not found on package path.

Is there a way to solve this issue?

### Source code / logs

pa

[2017-05-01 03:09] Thatfreesky commented on #3810
@haosdent Can you provide a PDF version?

[2017-05-01 03:24] Randolph-zeng commented on #5949
@Carmezim @YuriWerewolf  Hi thanks for the answer, but I still can't get it to work.
I have the tensorflow cpu version working and I am pretty sure this is a problem of cuda now.
I have Cuda toolkit v8.0 and cuDNN v5.1 in my computer and I believe the path is correct.
Is there any other things I can look into? Thanks a million!
My path variable looks like this(with cuda related being the first sev

[2017-05-01 03:54] korepwx opened #9560 "tf.pow(x, y) will freeze for negative integer y"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10, and macOS 10.12.4
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.1.0 on both operation systems
- **Bazel version (if compiling from sour

[2017-05-01 04:10] Carmezim commented on #5949
@Randolph-zeng I cannot really tell only by looking at your `%PATH%`. If you're sure cuDNN DLLs are properly set as CUDA's it's not CUDA/cuDNN related.
Is your TensorFlow 1.1? You don't need both installations as well, CPU and GPU, I get if you were just testing though. Maybe it would be better if you opened a new issue filling the template to better assess what can be happening. This problem usua

[2017-05-01 04:48] aselle commented on #9560
I've confirmed and reproduced this, thanks for reporting.

[2017-05-01 04:52] aselle commented on #9521
Thanks for raising this issue. Do you have any suggestions on how to make it clearer? Perhaps you could provide a PR to make it clearer. If you know what the SparseTensor is, even having even this description is redundant (it seems not scalable to include detailed documentation on the semantics of sparse tensors in every routine that takes one). Should it perhaps link to the SparseTensor documenta

[2017-05-01 05:10] Randolph-zeng commented on #5949
@Carmezim Okay, I will open a new issue. Thanks for the help! Have a great night!

[2017-05-01 05:11] ruiann commented on #9471
@aselle
I found the time increase in the read jpeg images, when I start train session the time cost for reading 1 image from HDD is less than 1 second, but it increases with steps,after several steps it reaches more than 3 seconds and have fluctuation which can be more than 10 seconds for some images.
My read image function is as below
[code]

I log the time in the start of this function and get t

[2017-05-01 06:15] saria85 commented on #4044
I have the same issue,
I am using tensorflow 1 python 3.5 ubuntu 16.10

    node, 'Input tensor %r %s' % (input_name, te)))
ValueError: graph_def is invalid at node 'word_embeddings/Variable/Assign': Input tensor 'word_embeddings/Variable:0' Cannot convert a tensor of type float32 to an input of type float32_ref.

[2017-05-01 07:17] hadi-ghnd opened #9564 "No module named tensorflow (problem with python 2)"
Hi,
 I'm trying to install tensorflow on this machine:

Ubuntu 16.04
cuda 8.0
cudnn 5.1
python 2.7 (no Anaconda)

I installed tensorflow on both python 3 and python 2. It works with python 3 but with python 2 always gives the import error: **No module named tensorflow**.
What can I do to solve this?

Thanks

[2017-05-01 08:21] #6266 closed

[2017-05-01 08:31] JAICHANGPARK commented on #9480
Now I have same problem.. how to resolve this problem?

[2017-05-01 08:47] harishjmhss commented on #9516
I have updated tensorflow but I don't know whether it is 1.1...

The entire stack trace is as follows:

Python 3.5.1 (v3.5.1:37a07cee5969, Dec  6 2015, 01:38:48) [MSC v.1900 32 bit (Intel)] on win32
Type "copyright", "credits" or "license()" for more information.

Traceback (most recent call last):
  File "C:\Program Files (x86)\python\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", lin

[2017-05-01 09:49] ppwwyyxx commented on #9536
This is a bug fixed in 1.1.
#7038

[2017-05-01 10:49] c0710204 commented on #7116
@amit-gupta These should give some help
- disable external/eigen_archive/Eigen/src/Jacobi/Jacobi.h vectorize code
- patch https://github.com/tensorflow/tensorflow/pull/7963/

[2017-05-01 11:00] ppwwyyxx opened #9566 "Documentation pages are unnecessarily large"
[code]
Each page in the documentation now contains a HUGE left navbar contributing over 99% of the size.

1. This would waste a lot of network traffic on loading identical navbar over and over again.
2. It creates a big trouble when I tried to build an offline version of the doc. The whole html documents used to be <100MB, now they are 2.5GB.

[2017-05-01 11:09] 0fork commented on #8879
I'm having this issue and can't figure out why it's happening because Theano works. The interesting thing is that I've to run theano with sudo or pygpu can't find cudnn handle either. If I try to run this TF script with sudo I crash immediately with the good old `Library not loaded: @rpath/libcudnn.5.dylib` that I can't seem to make go away no matter what tricks I try.

I'm on MacOS 10.12 with 108

[2017-05-01 11:11] 0fork commented on #9132
I'm running into this same issue but didn't see this open issue until now. I added my post to "the original" #8879.

[2017-05-01 13:09] hholst80 opened #9567 "Bazel error: building tensorflow 1.1 from source (CPU only)"
### Problem description

The Docker build script below fails to build TensorFlow 1.1 from source with the following error messages:

[code]

Complete build log:

[code]

### Dockerfile

[code]

[2017-05-01 13:33] chris-chris commented on #7631
If there anyone working on this issue? If there is no one, can I try this one?

[2017-05-01 13:41] fengyanghe commented on #9480
me too. I use 127.0.0.1:6006 to load logs. It works.
I use tensorboard --logdir=logs --debug. It prints nothing.
Does it have no authority?
![1](https://cloud.githubusercontent.com/assets/23494598/25580600/e4b9e3ca-2eb4-11e7-9273-6f7a464bbd1c.jpg)
![2](https://cloud.githubusercontent.com/assets/23494598/25580601/e546978e-2eb4-11e7-8ebf-f6b80e2a1937.jpg)
![3](https://cloud.githubusercontent.com/ass

[2017-05-01 13:53] kargarisaac opened #9569 "I updated tensorflow gpu version and jupyter notebook and I can not import tensorflow after updates. here is the error I got:"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-05-01 13:55] kargarisaac commented on #9569
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
c:\users\ekargar\appdata\local\programs\python\python35\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py in swig_import_helper()
     17         try:
---> 18             return importlib.import_module(mname)
     19         except

[2017-05-01 14:08] gammaguy commented on #7522
@brisker How did you solve this

[2017-05-01 14:20] srinathmadasu opened #9570 "Tensorflow inconsistence results every run"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-05-01 14:25] DjangoPeng commented on #9328
@caisq Sure thing, I'm on it.

[2017-05-01 14:30] MMCMA opened #9571 "model_dir deletion while running python script"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Win10
- **TensorFlow installed from (source or binary)**:  binary, installed via pip
- **TensorFlow version (use command below)**: 1.1.0
- **Bazel version (if compiling from source)**:na
- **CUDA/cuDNN versio

[2017-05-01 14:37] JamieDawson commented on #9566
This topic brings up a lot of good points.
Where would I go into the REPO to find the code for the navbar?

[2017-05-01 14:37] ac-lap opened #9572 "cuda_error_out_of_memory when trying to run tensorflow/tensorflow/examples/tutorials/layers/cnn_mnist.py"
When I run tensorflow/tensorflow/examples/tutorials/layers/cnn_mnist.py on GPU I get the cuda_error_out_of_memory.

I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\core\common_runtime\gpu\gpu_device.cc:906] DMA: 0
I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\core\common_runtime\gpu\gpu_device.cc:916] 0:   Y
I c:\tf_jenkins\home\workspace\r

[2017-05-01 14:39] teeekay commented on #9470
I ran a build with
[code]
and it built ok (no errors), so the problem appears to be limited to the combination of tensorflow with GPU and arch:AVX.

[2017-05-01 15:05] cirocavani commented on #9567
This seems to be a problem with the Bazel version. I am using 0.4.5 (latest) and it works.

My docker build is here:

https://github.com/cirocavani/tensorflow-build/tree/master/1.1-cpu

[2017-05-01 15:06] kyteague commented on #8191
In regards to what @ebrevdo said, I think the solution is not to fix the legacy seq2seq code, but to update the tutorial to use the `contrib.seq2seq` package instead, which is actively maintained.  It is quite demoralizing when the first tensorflow program you ever run spits out a bunch of errors.  If I have some time this week, I'll submit a PR.

[2017-05-01 15:12] GaelReinaudi commented on #5987
@sguada
Thanks for your suggestion. I agree that validating in a separate process sounds like a better approach.

There are a number of things that are known during training time: what data file is used, what samples are used for training (as opposed to reserved for validation), what kink was introduced in the code to perform a certain test....etc. These important pieces of information  need to be

[2017-05-01 15:59] aselle commented on #9572
What version of cuda and cudnn?
What version of TensorFlow? From Source?
@mrry, any ideas? It looks like the version reading code is linux/macos specific (reading proc).

[2017-05-01 16:01] aselle commented on #9571
Is this something desired @martinwicke? It seems to me this might be desirable because after you are done w/ your parameter search, you probably want the trained model and not to have to redo it again?

[2017-05-01 16:06] aselle commented on #9569
Unfortunately, since you failed to give us any details except your error about what you updated (what was your previous version what was your new version), it's really hard to help you. You also did not fill out our issue template which might have given us more clues about what was going wrong.

Please try the items here
https://www.tensorflow.org/install/install_windows
If that doesn't work I'd r

[2017-05-01 16:06] #9569 closed

[2017-05-01 16:09] aselle commented on #9566
@wolffg, please take a look. cc @martinwicke.

[2017-05-01 16:12] aselle commented on #9564
A few things
 * Could you show the exact commands you are running and their traceback?  Include the install and the check import?
  * Are you using pip? Did you check the `pip list`. Did you check that the pip you are running corresponds to the python you are running.?
  * Try virtualenv.
  * Try what is listed here https://www.tensorflow.org/install/install_linux (under common install problems)

[2017-05-01 16:14] mrry commented on #9572
The most likely explanation is that there isn't enough memory. There is usually a log message that includes the amount of free memory on the device, which I believe is [printed before](https://github.com/tensorflow/tensorflow/blob/3ce228e46befca3a89441c7973a571108d2edf2f/tensorflow/core/common_runtime/gpu/gpu_device.cc#L900) the log messages that appear in the issue report. (The failure to read th

[2017-05-01 16:16] mrry commented on #9557
If there's a good reason, @lukaszkaiser would be the one who knows it.

[2017-05-01 16:22] #8102 closed

[2017-05-01 16:22] #8245 closed

[2017-05-01 16:22] #8809 closed

[2017-05-01 16:22] #3824 closed

[2017-05-01 16:22] #5539 closed

[2017-05-01 16:22] #5761 closed

[2017-05-01 16:22] #7025 closed

[2017-05-01 16:22] #7685 closed

[2017-05-01 16:22] #8064 closed

[2017-05-01 16:22] #8131 closed

[2017-05-01 16:22] #9317 closed

[2017-05-01 16:22] #9441 closed

[2017-05-01 16:42] adityasingh1993 commented on #190
I am getting this error

ERROR: C:/users/aditya/appdata/local/temp/_bazel_aditya/p979rsng/external/protobuf/BUILD:113:1: C++ compilation of rule '@protobuf//:protobuf' failed: clang failed: error executing command
  cd C:/users/aditya/appdata/local/temp/_bazel_aditya/p979rsng/execroot/tensorflow
  SET PATH=external/androidndk/ndk/toolchains/llvm/prebuilt/windows-x86_64/bin
  external/androidndk/nd

[2017-05-01 16:52] ac-lap commented on #9572
Cuda - v8.0.60
cudnn - 5.1 for cuda 8.0
TensorFow - 1.0.1
Installed TensorFlow using pip
OS - Windows 10, 64 bit

Can you suggest me some workaround for now.

[2017-05-01 17:08] andrewharp commented on #190
@adityasingh1993 It appears you're trying to build Android TF on Windows. In this case to get TF to build you'll need to follow [this workaround](https://github.com/tensorflow/tensorflow/issues/6385#issuecomment-285208600) for installing Linux subsystem for Windows first.

Though unless you need to make modifications to TF itself, I'd suggest just using the prebuilt AAR (instructions for doing so

[2017-05-01 17:25] alextp commented on #7951
@sjperkins sadly the way our current unit tests are written makes them break if variables are returned without extra copies (because many tests do a = session.run(variable); session.run(update_variable); b = session.run(variable); assertDifferent(a, b) (which fails if they share buffers).

I considered making a ConfigProto option to share buffers even when they are not exclusively owned by the C-p

[2017-05-01 17:26] alextp commented on #7951
@sjperkins for the futures, stay tuned, as we're prototyping something in this direction.

[2017-05-01 17:29] allenlavoie commented on #9505
I can reproduce at head with a single real_valued_column:

[code]

Apparently the error is indicating that only vectors are supported for real_valued_columns. A similar CHECK failure pops up if the column is a matrix (`tf.zero([4, 1, 1])`). So you can get your code working by adding a dummy second dimension to your real_valued_columns.

We, however, need to work on our argument checking. Thank you

[2017-05-01 17:36] martinwicke commented on #9571
This sounds like a problem we recently had in a unit test on Windows. The solution was to close file handles in a summary writer cache that were still open. You can see the solution here:
https://github.com/tensorflow/tensorflow/pull/9281/files

Can you verify that calling `FileWriterCache.clear()` before trying to remove the directory works? Try it at head -- #9185 will probably have to be in you

[2017-05-01 17:44] sffc commented on #8652
This issue reproduces with the following code, which is based on [this example](https://github.com/fchollet/keras/blob/master/examples/imdb_lstm.py):

[code]

I don't get the error when I `import keras` instead of `import tensorflow.contrib.keras as keras`.

[2017-05-01 17:52] hholst80 commented on #9567
OK. Bazel changes a lot last time around I had to downgrade ;-) I'll try it out on my side.

[2017-05-01 17:59] allenlavoie commented on #9505
Hi @petrosmol,

Could you take a look at this issue? It looks like LinearClassifier accepts scalar real_valued_columns (i.e. input with just a batch dimension). Do we just want to add a reshape here to keep behavior consistent?

[2017-05-01 18:02] ebrevdo commented on #8131
Does that pr address the question of sparse updates when working with an
optimiser?

On May 1, 2017 9:22 AM, "Vijay Vasudevan" <notifications@github.com> wrote:

[2017-05-01 18:03] ebrevdo commented on #8191
We're working on a new seq2seq tutorial. We had hoped to release by end of
last month but are getting delayed.  It will use the new API.

On May 1, 2017 8:07 AM, "Kyle Teague" <notifications@github.com> wrote:

[2017-05-01 18:08] lukaszkaiser commented on #9557
It was a hack in name scopes, and it was left out of variable scopes on purpose. We managed to go without hacking-in absolute paths for a long time, and their lack has great advantages: it's much harder to make a model inaccessible as sub-model. If you use an absolute path, then your model immediately becomes unusable as a sub-model of anything. So it was a conscious decision and it looks like the

[2017-05-01 18:08] #9557 closed

[2017-05-01 18:32] hholst80 commented on #9567
Seems to work just fine with 0.4.5!

[2017-05-01 18:44] aselle commented on #9570
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-05-01 18:44] #9570 closed

[2017-05-01 18:46] aselle commented on #9558
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-05-01 18:46] #9558 closed

[2017-05-01 18:48] martinwicke commented on #9553
Is this the same issue as addressed in https://github.com/tensorflow/tensorflow/pull/8935?

[2017-05-01 19:14] vincentracine commented on #550
@lukaszkaiser do you still have the 193K checkpoint file? (/tmp/translate.ckpt-193000).

[2017-05-01 19:17] weiliu620 opened #9576 "dilated convolution in 3D, error: No algorithm without scratch worked"
I'm using tf.nn.convolution to implement the dilated convolution in 3D. I got "No algorithm without scratch worked" error during training. Here is the related code

To define the model,
[code]
And to train the model, I used tf.train.AdamOptimizer. I didn't paste the training related code, since I don't think they are relevant, but I can add them later if that helps.

Here is the error logs I saw:

[2017-05-01 19:17] martinwicke commented on #9526
@ispirmustafa I forget the last state of the Hooks tutorial. @sandersk, were you, or did you, already sign up to do this?

@dr4b @wolffg FYI for docs planning.

[2017-05-01 19:22] ljos commented on #9553
I installed GNU sed through homebrew and added the sed command on the PATH without the g-prefix. I prefer GNU sed over the BSD sed that macOS comes preinstalled with.

The command that cause the error:
[code]

This is because this function only checks if the command is running on macOS and then assumes the sed that it is running is BSD sed.

This is not the same as #8935 because that issue just ad

[2017-05-01 19:30] martinwicke commented on #9553
So what in this command is it that GNU sed doesn't like?

[2017-05-01 19:32] suharshs commented on #6268
I will close this issue now since it is addressed. For any bug/features/issues please create a new issue. And pull requests for new C++ gradients are much appreciated :)

[2017-05-01 19:32] #6268 closed

[2017-05-01 19:41] ljos commented on #9553
Or, it is this
[code]
This stackexhange link explains the problem https://unix.stackexchange.com/questions/92895/how-to-achieve-portability-with-sed-i-in-place-editing

[2017-05-01 19:44] lwogulis commented on #8932
We found some indications that XPU wasn't being used - the output graph information labeled everything as CPU, and it didn't go into the XPU compile statement. We think it's finally doing what we want, so I'm attaching the diff file:
[diffOutput.txt](https://github.com/tensorflow/tensorflow/files/968621/diffOutput.txt)

[2017-05-01 19:44] #8932 closed

[2017-05-01 19:45] martinwicke commented on #9553
So it looks like GNU sed and BSD sed's implementation of -i are
fundamentally incompatible?​ Can you remove the space between -i and '' and
check if that works? I have no GNU sed installed.

[2017-05-01 19:58] aselle commented on #9511
hm the ipython3 and python3 are different. try setting sys.path in ipython3 to be exactly the python3 one and see if that works.

[2017-05-01 20:00] ljos commented on #9553
That does seem to work with both GNU and BSD sed.

[2017-05-01 20:00] petrosmol commented on #9505
Thanks for reporting! I am looking into it. Will update this thread shortly.

[2017-05-01 20:02] serchsm opened #9578 "Building TensorFlow with CPU SIMD OPTIONS enabled on Windows 10 FAILED"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-05-01 20:03] dmonopoly commented on #1574
Thanks, using Python 2 makes more progress.

Issue 1:
But the output still isn't error-free. [gist with errors](https://gist.github.com/dmonopoly/b67b5ba35748a25bdc02130a54ca18d6).

Issue 2:
If the above is fine output, and I can indeed look at the generated results, then...
Are we sure that this generator generates docs the same way as they appear on say https://www.tensorflow.org/api_docs/python

[2017-05-01 20:04] lwogulis opened #9579 "MNIST Tutorial Appears to Not Toggle XLA Compilation"
I have been using the JIT compilation/XLA tutorial (https://www.tensorflow.org/performance/xla/jit#step_3_run_with_xla), and it seems that whether or not XLA compilation happens doesn't depend on the statement on line 63 in mnist_softmax_xla.py. The comment above it says that line will turn on XLA JIT compilation. When I run with the two options explained on the page (--xla='' for compiling withou

[2017-05-01 20:05] aselle commented on #9495
This test is not meaningful, you are summing errors of numbers that are not of similar magnitude...
[code]
This computes the max relative error over all elements and I get 0.0000002422335683 i.e. 2e-7 which is about floating point precision. The exact path in the cpu is different for small arrays because large arrays are done with sse for speed.

[2017-05-01 20:06] aselle commented on #9487
@fchollet, do you have any ideas?

[2017-05-01 20:08] aselle commented on #9471
https://docs.python.org/2/library/resource.html
getursage

[2017-05-01 20:09] aselle commented on #9567
Glad you got it to work. Can we close this issue or is there some fix that needs to be propagated that you did?

[2017-05-01 20:23] lipingliulp commented on #9495
I see. It is interesting that CPU has different behaviors for large arrays and small arrays.
I'm satisfied with this explanation. Thanks!

cc @altosaar

[2017-05-01 20:46] lukaszkaiser commented on #550
Sorry, I don't have it any more.

[2017-05-01 20:50] #9423 closed

[2017-05-01 21:26] drcrook1 commented on #1749
As well as including information on how to create inference programs with a model that was trained using queue runners and tfrecords.

[2017-05-01 21:28] teeekay commented on #9470
@mrry , After commenting those lines out it built ok,

[code]

[code]
installed wheel and it is functional.   next steps...

[2017-05-01 21:38] mrry commented on #9578
It looks like a problem with your `git` installation:

[code]

...which appears for many different dependent projects. Can you test whether `git-submodule` is broken?

[2017-05-01 21:52] drcrook1 commented on #7951
My primary request is that however you build the new input pipeline system that it should be completely separate from the rest of the graph.  I'm giving a shot at migrating to tensorflow for our deep learning models for devices; but the input pipeline is so tightly bound to the rest of the compute graph that its like performing surgery to run inference against it.

Example: I trained using TFRecor

[2017-05-01 21:56] alextp commented on #7951
This is why tools like tf.estimator.Estimator were developed, to allow for
easier separation of concerns between training and inference and to allow
for swapping of input pipelines. Can you use Estimator to write your model?

On Mon, May 1, 2017 at 2:54 PM, David Crook <notifications@github.com>
wrote:

--
 - Alex

[2017-05-01 21:59] #9495 closed

[2017-05-01 22:38] ianuzzi commented on #5949
I'm having a similar problem. I tried rolling back to C++ Redist. 2015 (from 2017) and still not working.

`Traceback (most recent call last):
  File "C:\Python35\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 18, in swig_import_helper
    return importlib.import_module(mname)
  File "C:\Python35\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap

[2017-05-01 23:16] andydavis1 commented on #9536
Please re-open if upgrading to 1.1 does not solve the problem.

[2017-05-01 23:16] #9536 closed

[2017-05-01 23:34] zheng-xq commented on #9576
Most likely an issue that this is not supported by the underlying Cudnn 5 library that is being used. Adding mjanusz@ to confirm.

[2017-05-01 23:34] vrv commented on #9542
This is working as intended, based on https://www.tensorflow.org/programmers_guide/data_versions#backward_and_partial_forward_compatibility

Forwards compatibility only really exists for patch releases; if you want forwards compatibility beyond that, there's more work you have to do (typically, it involves graph rewriting).  Some of the utilities in graph_def_util.h are precisely meant for this: h

[2017-05-01 23:34] #9542 closed

[2017-05-01 23:48] kevinashaw commented on #9294
@Engineero : Thanks!

[2017-05-02 00:43] cwhipkey commented on #9356
I think the issue is that in the decode_image cond, one branch leads to decode_gif.  decode_gif returns a 4-d tensor:  [num_frames, height, width, channels],  which is not the same as the 3-d tensor returned by decode_png and decode_jpeg.

One possible fix would be to make decode_gif have an attribute controlling whether to handle animated gifs ,and use that in decode_image?  (possibly also with a

[2017-05-02 00:43] cwhipkey commented on #9356
@raingo @martinwicke

[2017-05-02 00:53] drcrook1 opened #9581 "Enhancement: Better Model Saving & Loading"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-05-02 01:36] martinwicke commented on #9356
We could definitely add "frame=None" which is without effect for png and jpg, but for gif will return all frames if None, of the given frame number if not None and the gif is animated. This would work for other animated formats if those become available.

If frame != None we can set the rank to [None, None, None], maybe even [None, None, 3] -- not sure that'll help.

[2017-05-02 01:57] viettan28 opened #9583 "TensorArray: Tried to write to index 18 but array is not resizeable and size is: 18"
### Problem
I wrote an application using TensorArray. It prints out error about allocate memory.
For each sample. It must create a lot of TensorArray to store temporary data.
With few number of samples (around 20), it passed smoothly 100 epochs.
When I trained with the whole dataset (10.000 samples), it have never passed epoch 6. The stopped epochs are varied.

### Logs
2017-05-02 10:29:25,886 CFG

[2017-05-02 02:17] viettan28 commented on #9564
Same problem as mine:
The pip and python does not correspond to each other.
Using "python -m pip installl tensorflow" for sure pip.

[2017-05-02 02:26] yaroslavvb commented on #9234
I switched to Intel's MKL, but now I'm hitting matrices which fail on SVD there. Numerical algorithms are hard :(

https://software.intel.com/en-us/forums/intel-distribution-for-python/topic/628049#comment-1904231

[2017-05-02 02:42] raingo commented on #9356
@martinwicke I can send PR to add the `frame=None` to https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/image_ops_impl.py#L1338.

[code]

It makes the least changes to the code, and add some flexibility.

Not sure if that is the best way to do it.

[2017-05-02 02:49] chris-chris opened #9585 "Links in RNN Tutorial are broken"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-05-02 02:58] #7741 closed

[2017-05-02 02:58] #7861 closed

[2017-05-02 02:58] #8666 closed

[2017-05-02 03:17] JVillella commented on #9553
@ljos Yea, sed isn't very portable - and the `-i` flag isn't even part of the [POSIX spec](http://pubs.opengroup.org/onlinepubs/9699919799/utilities/sed.html). This PR should fix the issue https://github.com/tensorflow/tensorflow/pull/8935 for others.

[2017-05-02 03:21] Marcnuth opened #9586 "Support custom loss function for DNNRegressor"
DNNRegressor is commonly used, and it does not support customize the loss function, which limits itself.

I wanna know if there are any schedule to support the customize loss function for DNNRegressor or is there any difficulties for supporting that?

[2017-05-02 04:03] petrosmol commented on #9505
Update: The problem is not with the estimator per se, rather it is with the underlying optimizer (SDCA) which accepts only matrices (2-dimensional tensors) for dense features. I am working on a fix.
In the meantime, a simple fix so that you are not blocked is to reshape your real valued columns so that they always have rank one. For instance, in your input_fn, you can replace:

continuous_cols = {

[2017-05-02 04:20] aleist commented on #1419
I now have the same issue with the following symbol missing in my custom reader op:
[code]
I am using the official Docker image version 1.1.0-devel-gpu and I've already searched all shared libs in the image for this symbol.

I did not have any issues in a 1.0.0-devel-gpu image in which I manually pulled and built the TF 1.1 RC1 code (I did have a missing symbol initially, but that was solved by li

[2017-05-02 04:31] martinwicke commented on #9553
@ljos I'm pretty sure that the new version of #8935 should fix the issue for everybody. Can you confirm?

[2017-05-02 04:50] martinwicke commented on #1574
@MarkDaoust for expertise on the doc generation scripts.

It is surprising that so many doc references are not found. You appear to be giving the correct doc_src directory with guides.

Mark, is there a problem with the documentation documentation?

[2017-05-02 04:51] #8951 closed

[2017-05-02 04:53] martinwicke commented on #1560
Except, I never got to it. It is still contributions welcome. Since these ops do not create variables, the name_scopes can be safely inserted without concerns about backwards compatibility.

[2017-05-02 05:20] #9553 closed

[2017-05-02 05:31] hadi-ghnd commented on #9564
These are the commands I used to install tensorflow with python 2:

` sudo apt-get install python-virtualenv`
` virtualenv --system-site-packages /media/hadi/tmpstore/tensorflow_vp2/`
`source /media/hadi/tmpstore/tensorflow_vp2/bin/activate`
`pip install --upgrade tensorflow-gpu`
`deactivate`
``source /media/hadi/tmpstore/tensorflow_vp2/bin/activate`
`pip install ipython`

Now I am trying to perfo

[2017-05-02 05:38] chris-chris opened #9587 "tf_env_collect.sh script is not working well in Mac OS"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-05-02 05:39] sachinprabhu007 commented on #9549
System details : ubuntu 14.04 x86_64
Tensorflow version: 0.10.0
Cuda Version : 7.5

I was able to install cpu version and execute my model but GPU version fails. I tried using latest Tensorflow Version 1.0 but again it was not able to create session.

[2017-05-02 06:05] antronshao001 opened #9588 "Feature Request: SparseTensor operation"
Hi,
I am recently using SparseTensor. However, I found that there are a lot of math operations not supported for SparseTensor. For example, mod , floor, and argmin, etc. Do you have plans for extending the math operations of SparseTensor.

Thanks,
Anthony

[2017-05-02 06:15] fanlu commented on #7970
When I use TF 1.1.0,The chief worker throws the following error :
Exception in thread Thread-7:
Traceback (most recent call last):
  File "/export/App/anaconda3/envs/py2/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/export/App/anaconda3/envs/py2/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self.__kwargs)
  File "/export/App/a

[2017-05-02 06:17] kevinashaw commented on #7522
@brisker  : Why was this closed without a solution?

[2017-05-02 07:47] burness commented on #9505
@petrosmol  Thanks! It seems ok now. And In a test case as follow:

[code]
It will get the error:
[code]
and I replace:
continuous_cols = {k: tf.constant(df[k].values) for k in CONTINUOUS_COLUMNS} with
continuous_cols = {k: tf.expand_dims(tf.constant(df[k].values), 1) for k in CONTINUOUS_COLUMNS}

It seems ok now!
It may need to enhance this reshape problem with the process of input_fn

[2017-05-02 08:16] ruiann commented on #9471
@aselle
Thx for your guide, the memory usage do increases. The log in my MBP with CPU-version tensorflow is as below

[code]

After several steps (from check point) the memory usage start increases, I don't know why, you can see my [code](https://github.com/ruiann/SRGAN/blob/master/SRGAN/train.py)

[2017-05-02 08:41] antronshao001 opened #9589 "sparse_reshape could not generate correct SparseTensor shape before eval"
**System information**

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): N/A
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS X EL Capitan & CentOS7.3.1611
TensorFlow installed from (source or binary): N/A (compiling from HEAD)
TensorFlow version (use command below): 1.1.0
CUDA/cuDNN version: none (AMD GPU)
Exact command to reproduce:

[2017-05-02 08:50] JamesKostas opened #9590 "Memory Leak from Deep Learning Training Step? (Finalized Graph)"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes, although my code is somewhat based on the MNIST deep learning tutorial.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 14.04 VERSION="14.04.5 LTS, Trusty Tahr"
- **TensorFlow installed from (source or binary)**:
bin

[2017-05-02 08:58] #9589 closed

[2017-05-02 09:03] ljos commented on #9553
The new version works for me. Thanks!

[2017-05-02 09:08] spartucus opened #9591 "Several links error in README.md."
### System information
- **OS: Windows 10 Enterprise x64**:
- **Browser: Chrome 58 x64**:
- **Location: China**:

### Issue
The [Installing TensorFlow](https://www.tensorflow.org/install/) link from [README.md](https://github.com/tensorflow/tensorflow) fails with error:
[code]

The [Community](https://www.tensorflow.org/community/) link fails with error:
[code]

[2017-05-02 09:57] hadi-ghnd commented on #9564
My problem was with `pip`. It always referred to python 3.I used `pip2 install --upgrade tensorflow-gpu` instead and it works now.

[2017-05-02 10:32] Alexivia commented on #9583
Arrays are zero-based, which means the first array element has index 0, and not 1, thus the last index of an 18 element array is 17, and not 18. Maybe your indexing system is for a one-based array. Try subtracting 1 to the indexing variable.

[2017-05-02 11:13] vinay-hebb commented on #7935
@mrry, I am a newbie to the TensorFlow. Could you please elaborate on the below. I am looking for the resolution as I am facing the same issue.
1) How would I get the fix related to tf.contrib.factorization? Is there a version number? or a release?
2) If there is no release associated with fix, how can I reproduce the fix in my environment.

[2017-05-02 12:40] smistad opened #9593 "libtensorflow.so: undefined reference to `__cpu_model'"
When linking with the tensorflow C++ library, the following error occurs: libtensorflow.so: undefined reference to `__cpu_model'

Seems to be related to issue #7223

I manage to work around this error with: ( as done by https://github.com/tensorflow/tensorflow/pull/7241/commits/d7955a66088567ade60213448bbab861de9055cd)
`#ifndef USE_SSE_CRC32C`
in the file tensorflow/core/lib/hash/crc32c_accelerate

[2017-05-02 12:57] bogoquiz commented on #37
+1 ;)

[2017-05-02 13:09] wesley42666 commented on #9585
Thats r0.12. Using the latest version they work fine: https://www.tensorflow.org/tutorials/recurrent/

[2017-05-02 13:13] chris-chris commented on #9585
@wesley42666 Ah Thanks! 👍

[2017-05-02 13:13] #9585 closed

[2017-05-02 13:33] weiliu620 commented on #9576
Thanks. As I know TF does not support cudnn 6 yet, but this dilated operation seems have been here for a while.

[2017-05-02 13:34] drcrook1 commented on #2245
I think I need this feature.  I trained a graph with queue runners and now need to run inference against it with feed_dict.  When I load the meta graph the first part of the graph is the queue runner input pipeline; so when I call predict; it hangs unless I start the queue runners; when I start the queue runners they are empty because I'm not putting anything on the queue; I have no idea how to en

[2017-05-02 13:37] jinfagang commented on #916
Exactly same issue, any body could give an solution? I installed boost and dlib which may using CUDA ,  got same error, now I don't want disable any, how to resolve this?

[2017-05-02 13:46] chris-chris opened #9594 "How can I check the test coverage?"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-05-02 14:09] fxsuper commented on #9527
Sure, I've tried to simplify the code as much as possible below (sorry I realize it's still a bit long). This simpler version shows a 3x difference in training and ~500x difference in inference. And yes I'm aware that GitHub is not meant for help and debugging, but I thought the speed gap was large enough for this to almost be a bug or at least a feature request.

**Static version**
[code]

**Dyna

[2017-05-02 14:16] drcrook1 commented on #1758
Will this replace all inputs up to that point?  I have an input pipeline scoped under "input".  I was hoping I could use input_map; but needed to target just a specific section of the graph for inference.  I want to basically just delete the 'input' scope of the graph and replace the input for the Conv1 op to have the new input...

[2017-05-02 14:35] GD06 opened #9596 "Synchronous distributed tensorflow training runs asynchronously"
### System Information:
- **Debian 4.5.5**
- **TF installed from binary (pip3 install tensorflow-gpu==1.0.1 --user)**
- **TF version: v1.0.0-65-g4763edf-dirty 1.0.1**
- **Bazel version: N.A.**
- **CUDA 8.0 cuDNN v5.1**

### Steps to reproduce
1. Make a directory and download the following files into it:
[training.py](https://gist.github.com/GD06/b88d4b20a4587add984323525bbf4be2) [run.sh](https://g

[2017-05-02 15:01] Celelibi commented on #9518
It turns out I was actually looking into tensorflow because scipy was too slow. I don't know how you got your SVD in 5.6 seconds for a 4096x4096 matrix with scipy, but I got 232.7 seconds, and still only one core used.

Anyway, unless there is a way to turn a SVD to eigenvectors, this wouldn't be of much help. (I don't much about this, though.)

[2017-05-02 15:24] renmengye commented on #9368
For example, I cannot take tf.gradients() on a gradient node to compute second order derivatives.
y = sparse_softmax_cross_entropy_with_logits(logits=z, labels=y_)
grad_z = tf.gradients(y, z)
grad_grad_z = tf.gradients(y, grad_z) # This returns [None], thus no second order derivative can be taken.

[2017-05-02 15:29] yaroslavvb commented on #9518
@Celelibi you need to make sure you are using MKL and not OpenBLAS. 5.6 seconds was for full SVD and it was peaking at 20 cores. Because of a feature of python installers, every time you install tensorflow, it'll overwrite MKL so you will need to restore MKL (conda install scipy).

To check if you have MKL, make sure this talks about MKL and not OpenBLAS
python -c 'import numpy; numpy.__config__.s

[2017-05-02 15:31] kemaswill opened #9597 "Invalid link in https://www.tensorflow.org/deploy/distributed"
Seems that the [CIFAR-10 multi-GPU trainer](https://github.com/tensorflow/tensorflow/blob/r1.1/tensorflow_models/tutorials/image/cifar10/cifar10_multi_gpu_train.py) link in https://www.tensorflow.org/deploy/distributed is broken. Actually this code only exists <= r0.12. There is three ways to fix it:
  1. Use an old version such as  [CIFAR-10 multi-GPU trainer](https://github.com/tensorflow/tensor

[2017-05-02 15:37] Steviey commented on #754
CUDA_VISIBLE_DEVICES does not work anymore.

[2017-05-02 15:40] viettan28 commented on #9583
The problem is that it run pass few epochs before get this error. Other word, it passed all sample in our dataset including training, validation and test set

[2017-05-02 15:48] Androbin commented on #9240
Keeping on hold until #9029 is merged (with RFFT support)

[2017-05-02 15:50] songmeixu commented on #4118
@woodshop Do you figure out what's wrong now, as i'm facing the similar problem.

[2017-05-02 16:03] serchsm commented on #9578
Hi,
  I agree that git submodule fails for different projects, but I am not sure how to test if it works correctly. Excuse me if I ask some very basic questions but all this is very new to me. Hopefully what I did tested whether or not git-submodule is broken. I found a script or shell command for git-submodule in
C:\Program Files\Git\mingw64\libexec\git-core
I can open it on notepad++ -> git-subm

[2017-05-02 16:04] saria85 commented on #3986
Hi all,
I am getting this error
in extract_sub_graph
    assert d in name_to_node_map, "%s is not in graph" % d
AssertionError: predictions is not in graph,

what that mean sub graph?

I am sure that the name of my output is correct,

this is my code for freezing:

dir = os.path.dirname(os.path.realpath(__file__))
tf.train.write_graph(sess.graph_def, '/home/saria/Downloads/sentiment_analysis_tenso

[2017-05-02 16:12] serchsm commented on #9578
Forgot to add that I founda folder .git
C:\Projects\tensorflow\tensorflow\contrib\cmake\build\zlib\src\zlib\.git
That contains a config file:

[core]
	repositoryformatversion = 0
	filemode = false
	bare = false
	logallrefupdates = true
	symlinks = false
	ignorecase = true
[remote "origin"]
	url = https://github.com/madler/zlib
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote

[2017-05-02 16:41] andydavis1 commented on #9594
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-02 16:41] #9594 closed

[2017-05-02 16:42] andydavis1 commented on #9596
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-02 16:42] #9596 closed

[2017-05-02 16:49] vrv commented on #754
[code]

In another process:
[code]

@Steviey we need more evidence, reproduction steps, etc.

[2017-05-02 16:50] andydavis1 commented on #9470
Looks resolved. Please re-open if not...

[2017-05-02 16:50] #9470 closed

[2017-05-02 16:56] andydavis1 commented on #9516
Please check common install issues:
https://www.tensorflow.org/install/install_windows#common_installation_problems
http://stackoverflow.com/questions/42011070/on-windows-running-import-tensorflow-generates-no-module-named-pywrap-tenso

[2017-05-02 16:56] #9516 closed

[2017-05-02 17:00] rmaelongakit opened #9599 "couldn't find libtensorflow_demo.so"
java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader
I tried to integrate the tensorflow android sample to my existing project but the TensorFlowClassifier cannot execute since libtensorflow_demo.so is not loaded. What should I do?

[2017-05-02 17:08] petewarden commented on #6084
The file is now available at https://storage.googleapis.com/download.tensorflow.org/models/inception_v3_2016_08_28_frozen.pb.tar.gz

To figure out the node names to use, try the summarize_graph tool:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_transforms#inspecting-graphs

This will tell you the input and output names, and the `--print_structure` flag will give you

[2017-05-02 17:11] mrry commented on #7935
@vinay-hebb The fix to this issue is included in the 1.1 release.

[2017-05-02 17:12] andrewharp commented on #9599
You'll need to build it too; it's defined in tensorflow/examples/android/BUILD. Alternatively you can download the pre-built .so files [here](https://ci.tensorflow.org/view/Nightly/job/nightly-android/).

[2017-05-02 17:17] mrry commented on #2245
@drcrook1 This sounds like a problem for the [TensorFlow graph transform tool](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md). It enables you to specify an input node (which in your case would probably come after the `"DequeueMany"` op from the queue), and will prune the irrelevant nodes for you.

/cc @petewarden

[2017-05-02 17:20] petewarden commented on #7162
Can you share the graph file you're using and the command line you're running? You can either share it as an attachment here, or email it to petewarden@google.com. That will help me debug what's going wrong.

[2017-05-02 17:36] kemaswill commented on #9467
Close this issue since a pr has been merged to fix this.

[2017-05-02 17:36] #9467 closed

[2017-05-02 17:38] rylanchiu opened #9600 "Why the basic function of different rnn cells are different?"
I'd like to tackle two issues. The first one is about the initializer. I can define initializer in `LSTMCell ` but not in `GRU` cell. The second one is `layer_normalization`. There is `LayerNormBasicLSTMCell` available for using layer normalization on LSTM cell. But there is not other kinds of cell used in that way. I wonder why not make this general functions available for all kinds of cells?

[2017-05-02 17:44] allenlavoie commented on #9505
It looks like @thomascolthurst has added a reshape to TensorForest input, which I assume just hasn't made it into a TensorFlow release yet.

[2017-05-02 18:13] aselle commented on #9564
Glad you got it working!

[2017-05-02 18:13] #9564 closed

[2017-05-02 18:36] skye commented on #9527
It looks like your code samples are missing some imports so I'm not able to run them; could you edit the code you posted so it runs as-is? That said, as @aselle mentioned, it looks like each script isn't doing much (according to the comments that report subsecond runtime), so the time is probably dominated by overhead rather than the actual calculation.

[2017-05-02 18:42] Celelibi commented on #9518
Between my previous message and this one, I pip installed `pyamg`, which upgraded `scipy` and `numpy`. This upgrade gave a huge overall performance boost to scipy. Now SVD runs in 40.56 seconds and use all 8 cores. It now runs on OpenBLAS. I guess that before that, I was using the system-wide installation of numpy and scipy which I think uses CBLAS.

You're right, SVD produce the eigenvectors they

[2017-05-02 18:47] lamenramen commented on #1757
definitely the same problem.  What does secretly conspiring to broadcast mean and would you mind telling us the fix?

[2017-05-02 18:48] vinay-hebb commented on #7784
@poxvoculi , I am newbie to TensorFlow so please bear with me. I have to estimate GMM parameters like weights, means. In this regards, I am using code in [link](https://github.com/tensorflow/tensorflow/issues/7784#issuecomment-282081517). It would be very helpful if you can explain the below.
1) I don't see any sess.run() to evaluate the graph. How does it get executed? If you have complete script

[2017-05-02 19:07] drpngx commented on #9587
Probably `2>&1 >> file` is the portable way to do that. Do you want to submit a PR?

[2017-05-02 19:19] hawkinsp commented on #9579
Those are informational log messages that are emitted during startup. They do not indicate any code is actually running via XLA.

Try setting the environment variable TF_CPP_MIN_VLOG_LEVEL=2 and looking for log messages from xla_device_launch_op.cc or xla_local_launch_op.cc.

[2017-05-02 19:24] martinwicke commented on #1757
See here for more information on broadcasting:
https://docs.scipy.org/doc/numpy-1.10.0/user/basics.broadcasting.html

[2017-05-02 19:28] martinwicke commented on #9586
What other loss function would you like to have?

[2017-05-02 20:01] felixshiyong commented on #7995
I use the latest CUDA 8.0 and cuDNN6.0 for Windows 10, and it works well.

[2017-05-02 20:10] skye commented on #9583
I'm not super familiar with TensorArrays, but I think the problem may arise from the size of TensorArrays being frozen once the gradient calculation begins, even if dynamic_size=True when you create the TensorArray. Perhaps @yuanbyu can comment more. Could you try sizing your arrays large enough to fit all elements when you construct them and see if that fixes the problem?

[2017-05-02 20:11] aselle commented on #9587
I think >>& file works fine... I don't know why it wasn't that in the first
place.

On Tue, May 2, 2017 at 12:07 PM drpngx <notifications@github.com> wrote:

[2017-05-02 20:15] lwogulis commented on #9579
Okay, when I do that, there is quite a lot printed, but neither output has anything from either of those files. I'm running:
`TF_XLA_FLAGS=--xla_generate_hlo_graph=.* python mnist.py &> out_xla`
and
`python mnist.py --xla='' &> out_xla`
and searching for 'xla_device_launch_op' and 'xla_local_launch_op' in the file out_xla each time, and neither is found.

[2017-05-02 20:15] aselle commented on #9587
That doesn't seem to work either. It seems the fancy redirects aren't working within the shell script but do work from the command line.

[2017-05-02 20:20] aselle commented on #9549
Try upgrading your cuda drivers and sdk?

[2017-05-02 20:29] skye commented on #9591
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Please also include more information on what commands you ran to produce the output. Thanks!

[2017-05-02 20:38] gdj0nes commented on #9554
Turns out that isn't the issue. I have google.protobuf version 3.2 on both computers.

[2017-05-02 20:40] skye commented on #9593
This does seem to be the same problem as #7223. Can you post what compiler you're using to build TensorFlow? I wonder if we need to expand the check in https://github.com/tensorflow/tensorflow/pull/7241/commits/d7955a66088567ade60213448bbab861de9055cd.

[2017-05-02 20:41] skye commented on #9597
@wolffg can you comment or further triage this issue? Thanks.

[2017-05-02 20:47] smistad commented on #9593
The compiler used is gcc 5.4:
gcc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609

[2017-05-02 21:02] foxik commented on #9285
Confirming filtering is broken in TF 1.1 Linux CPU PyPI wheel.

[2017-05-02 21:08] gdj0nes commented on #9554
Ok I found the solution to be
[float(x) for x in array[0]]

[2017-05-02 21:08] #9554 closed

[2017-05-02 21:23] alexgkendall commented on #9513
@aselle I'm thinking of giving this a go myself, would you please be able to detail the steps to doing this?

[2017-05-02 21:23] ispirmustafa commented on #9586
You can use `tf.contrib.learn.DNNEstimator` which takes a `head` as argument.
You can define any loss fn you want via `head`.

[2017-05-02 21:23] #9586 closed

[2017-05-02 21:31] skye commented on #9581
It looks like you found a resolution to this in the SO post; is this feature request still relevant? Also does [SavedModel](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/saved_model/README.md) help you at all? (Sorry if you already went over this somewhere, just trying to clarify exactly what is being requested at this point.)

[2017-05-02 22:48] #9587 closed

[2017-05-02 22:53] JavascriptMick commented on #7841
I managed to suppress all the warnings with this.

[code]

[2017-05-02 23:15] tonymdsl opened #9603 "Try launch tensorflow and get error"
i have install tensorflow on windows 10 and when i put a demo he gives me this error plz help me tanks

![capturar](https://cloud.githubusercontent.com/assets/17919329/25643061/65e33d62-2f95-11e7-9d78-18ad59ec8526.JPG)

[2017-05-02 23:59] SeanTyco commented on #5464
Was there any progress on this?

[2017-05-03 00:36] SrivastavaKshitij commented on #1727
I am using Ubuntu 16.04 with tensorflow 1.0 and NVIDIA Tesla K20Xm GPU. I am facing similar problems. Memory is not released after the session is over

[2017-05-03 00:40] vrv commented on #1727
As mentioned here, the best idea anyone has is: https://github.com/tensorflow/tensorflow/issues/1727#issuecomment-285815312, saying to upgrade your NVIDIA drivers.  Closing this and locking to make sure the current conclusion is easily found; if there is evidence that upgrading drivers does not solve the problem, we can open up a new bug!

[2017-05-03 00:40] #1727 closed

[2017-05-03 00:45] Carmezim commented on #9603
Could you please try to install [Microsoft Visual C++ 2015 Redistributable Update 3](https://www.microsoft.com/en-us/download/details.aspx?id=53587) and let me know if it solves for you?
In a future situation when you need to report an issue please fill the template and post your log instead of screenshots as it helps us assess the situation, otherwise is quite difficult.

[2017-05-03 00:50] kemaswill commented on #9597
Actually I found that this code has already be moved to [tensorflow/models](https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_multi_gpu_train.py), I will update the source link

[2017-05-03 00:53] fxsuper commented on #9527
I updated the code with all the necessary imports. As for the calculations, yes the individual calculations are small (a few matrix multiplies and cross products), although I'm not sure if it's really all that different from an RNN, at least on the backprop side. A training step is taking 0.37 sec which is about the amount of time taken by a decent sized LSTM.

[2017-05-03 00:55] aleist commented on #1419
I had checked _pywrap_tensorflow.so, but the version included in the Docker image is missing this symbol for some reason. I don't know why, but would suggest that this is a bug that should be addressed, as the symbol is present when I build TF from source.

I managed to get things to work as follows:

First, I built TF locally in the same Docker image, following the instructions on the website, wi

[2017-05-03 01:01] kemaswill commented on #9597
Actually I found that this issue has already been fix by [this commit](https://github.com/tensorflow/tensorflow/commit/0c08c585591152046ca1e6781d1f2fa573427dfc), seems that the https://www.tensorflow.org is not updated yet, will close this issue.

[2017-05-03 01:01] #9597 closed

[2017-05-03 01:03] vrv commented on #1419
I just installed pip installed tensorflow from pypi in a virtualenv and I found reader_base.h and reader_base.pb.h in python2.7/site-packages/tensorflow/include/tensorflow/core/framework -- I'm not sure what the difference between our Docker environment and a standard pip install is. :(

[2017-05-03 01:08] aleist commented on #1419
Sorry I wasn't clear: The headers are not a problem with the Docker image (which does have the headers in the same folder), but with the Linux build process described [here](https://www.tensorflow.org/install/install_sources).

The problem with the Docker image are the missing symbols in /usr/local/lib/python2.7/dist-packages/tensorflow/python/_pywrap_tensorflow_internal.so.

[2017-05-03 01:16] vrv commented on #1419
@caisq any ideas why our Docker instance's installed TF would have a separate set of symbols than the pip installed ones?

I indeed verified as well that the pip installed package does contain the missing symbol @aleist needs, but don't know why the Docker version would be different.

$ nm _pywrap_tensorflow_internal.so  | grep _ZN10tensorflow10ReaderBase4ReadEPNS_14QueueInterfaceEPSsS3_PNS_15OpKe

[2017-05-03 01:23] caisq commented on #1419
@vrv @aleist mentioned he's using the `devel-gpu` docker image. `devel-*` images,the pip package is built during Docker build, instead of downloaded and installed from pipy, as in the non-devel images.

C.f.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docker/Dockerfile.devel-gpu#L97
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docker/Dockerfile.gp

[2017-05-03 01:24] vrv commented on #1419
Thanks!  So why would the pip package built during docker build be different than the pip package we build for pypi?

[2017-05-03 01:31] aleist commented on #1419
I just noticed that Dockerfile.devel-gpu does not include option `--cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0"` to `bazel build`, which I added in my build as it was needed in the past to get things working and the build instructions still mention it now. Maybe the Dockerfile is missing this option?

[2017-05-03 01:33] caisq commented on #1419
@aleist Good catch. I think the Dockerfile is missing it. Feel free to send a PR to fix it. Otherwise I'll be happy to fix it.

[2017-05-03 01:35] aleist commented on #1419
Great, will do. Thanks to both of you for your help!

[2017-05-03 01:40] caisq commented on #1419
@aleist The centralized pip wheels (the ones from PyPI and googleapis.com) are built on ubuntu:14.04, which has gcc 4.8, while the devel-* docker images are based on ubuntu:16.04, which has gcc 5.4. This is probably the reason why D_GLIBCXX_USE_CXX11_ABI flag is needed on the docker images.

[2017-05-03 01:42] ZhengyaoJiang commented on #9532
Ok. I've found the `event_accumulator.py` in `tensorflow/tensorflow/tensorboard/backend/event_processing/`.
The movement of the file was done in commit 8c1c861ccc488497ad44bb8ec7b1b49ff5ef0a2c.

[2017-05-03 01:50] spartucus commented on #9591
@skye Thanks for reply. I know it's not a product bug, but it's a doc bug. The README.md doc has several invalid site links, i don't think this should be asked in StackOverflow.

[2017-05-03 02:04] dzid26 commented on #9603
I have same error and above solution doesn't work.
(Windows 10)

[2017-05-03 02:49] Marcnuth commented on #9586
I will use DNNEstimator, thanks for replying.

[2017-05-03 02:51] GD06 commented on #9596
@andydavis1 Thank you for your kind suggestions! Actually, I found the ([similar problem](http://stackoverflow.com/questions/41293576/distributed-tensorflow-good-example-for-synchronous-training-on-cpus)) on the StackOverflow and these are no any useful solutions so far.

Since I don't think we use the optimizer and supervisor in any incorrect way, I put this as an issue. I sincerely hope there is

[2017-05-03 03:12] Yoshiharo commented on #7995
Hello,

        Thanks for your response but I want it for windows 7 and I'm not using the GPU , I'm using  CPU which does not include CUDA and cuDNN.

Thanks & Regards,

RAJAT KUMAR

Technical Trainee

FUJITSU CONSULTING INDIA
 Talwade, Pune
Office: +91-020-2769001

Mobile: + 91 9411292603

Email: Rajat.Kumar@in.fujitsu.com<mailto:Rajat.Kumar@in.fujitsu.com>

Shaping Tomorrow with You

__________

[2017-05-03 04:08] Carmezim commented on #9603
@dzid26 Could you please provide all the info (OS, Python distribution and version, TensorFlow version, stack trace etc and other relevant information)? Otherwise we won't be able to help you. Thanks.

[2017-05-03 04:40] dzid26 commented on #9603
Win10 64bit,
Python.org v3.5.2:4def2a2901a5, MSC v.1900 64 bit (AMD64)] on win32
Tensorflow 0.11.10 for GPU,

[code]

And then the full error:
[code]

[2017-05-03 04:53] Carmezim commented on #9603
@dzid26 could you check if your cuDNN and CUDA DLLs are properly set in your `%PATH%`?

[2017-05-03 04:54] kinergy opened #9610 "Broken link Mac/GPU/py3 whl file"
On page:
[https://www.tensorflow.org/install/install_mac#the_url_of_the_tensorflow_python_package](https://www.tensorflow.org/install/install_mac#the_url_of_the_tensorflow_python_package)

This link is broken:
[https://storage.googleapis.com/tensorflow/mac/gpu/tensorflow_gpu-1.1.0-py3-none-any.whl](https://storage.googleapis.com/tensorflow/mac/gpu/tensorflow_gpu-1.1.0-py3-none-any.whl)

[2017-05-03 05:02] ebrevdo commented on #9600
PRs are welcome.

[2017-05-03 05:18] dzid26 commented on #9603
![image](https://cloud.githubusercontent.com/assets/841061/25648829/ff785c2a-2f9d-11e7-97f9-5ed3196f5d9e.png)
Seems ok, I guess. The same error was present, when I tried running the command without cuDNN even being installed.
I am actually surprised that the error message isntt more detailed. Is there a way to see what DLL is it complaining about ?

[2017-05-03 05:26] Carmezim commented on #9603
Your CUDA is an unsupported version. TensorFlow only supports CUDA 8.0 and cuDNN 5.1 on WIndows.

[2017-05-03 05:51] kemaswill commented on #9411
Seems like the github has already fixed this issue, while the tensorflow.org does not, until next release.

[2017-05-03 05:55] onurgu commented on #7497
I solved this problem by using a CNTLM proxy and setting `http_proxy` and `https_proxy` like `http://127.0.0.1:3128`.

One strange thing is that `bazel` issued a warning saying that it ignores `http_proxy` while in fact not.

If you also experience certificate errors, find your `cacerts` file and insert the required certificate extracted using a browser or a similar tool.

[2017-05-03 06:02] kemaswill commented on #7750
Is there anyone who is still working on this, or can we just do a quick fix?

[2017-05-03 06:17] kwotsin commented on #9301
Thanks for your fix! May I know if I need to rebuild the `graph_transform` tool via bazel with a fresh install of TF? I am still using TF 1.01, and have rebuilt the `graph_transform` tool with bazel, and used only `quantize_weights` from the `graph_transform` tool. However, I'm still getting the very random classes predicted with low accuracy.

I have also tried `quantize_weights` and `quantize_no

[2017-05-03 06:26] kemaswill opened #9612 "Problems on the doc of install cudnn on Ubuntu and OS X"
The [docs on install CUDA on Ubuntu as well as OS X](https://www.tensorflow.org/install/install_linux) says that we need to set CUDA_HOME as described in the NVIDIA documentation as following, however, I cannot find any NVIDIA official documentation on how to set CUDA_HOME, could anyone provide this doc so that we can make the doc better?

Please go to Stack Overflow for help and support:

http://

[2017-05-03 06:27] leenabharambe opened #9613 "ValueError:tensorflow"
when I'm trying to run the tensorflow odel with my data generating an error as:

Traceback (most recent call last):
  File "/home/ubuntu/tensorflow/models/summarization/bazel-bin/textsum/seq2seq_attention.runfiles/__main__/textsum/seq2seq_attention.py", line 214, in <module>
    tf.app.run()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 44, in run
    _sys

[2017-05-03 06:43] syed-ahmed commented on #2033
Hi, I'm getting the same error.
[code]
I'm using 3D convolutions as well like @vguizilini . Also, the current documentation says cudnn 5.1 is supported.

[2017-05-03 06:55] cro888888 commented on #2033
I tried, still getting it.

2017-05-03 14:45 GMT+08:00 Syed Tousif Ahmed <notifications@github.com>:

[2017-05-03 07:11] bajo opened #9614 "Tensorboard not fully functional behind nginx proxy"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes. The ngnix configuration to proxy tensorboard from port 6006 to port 80. Details below.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
Source
- **TensorFlow version (use command below)

[2017-05-03 07:14] rmaelongakit commented on #9599
thank you for this answer..
I already have a libtensorflow_demo.so file placed in my jnilibs, but yet, it can't be found.
this is the error java.lang.UnsatisfiedLinkError: No implementation found for int ph.com.spamast.mliapp.TensorFlowClassifier.initializeTensorFlow()...

I will try now the files you refer.. thanks again!

[2017-05-03 07:46] NorhanElKholy opened #9616 "NameError: name' core' is not defined !"
When I try to : import tensorflow as tf
this error appears:

NameError: name' core' is not defined !

What should I do?

[2017-05-03 07:49] kdavis-mozilla commented on #7162
@petewarden Did you see the minimal example @reuben set up[[1](https://github.com/reuben/tf-export-test/tree/tf_issue_7162)].

[2017-05-03 07:55] SakthivelAnand opened #9618 "Can't load the model file from model_dir in CNN text classifier"
Dear all,
I am working on NLP using tensor flow, i am using thhe text classifier using cnn from the tensor flow git hub example, where i stored my trained model by passing "model_dir" argument successfully , but when i try to reload the model it says an error
Error occurring part of my code is,

"
classifier = learn.Estimator(model_fn=cnn_model,model_dir = "/home/local/models/")
#classifier.fit(x_

[2017-05-03 08:04] stmkjp commented on #6431
Hi, according to http://stackoverflow.com/a/42169898/4571192 ,
1) there will be java api for setting session options soon, anybody know when will it be?
2) It's possible to manually set the session options to enable multicore/multithread support, but I don't know exactly how to achieve this. Could someone guide me how to do this?

[2017-05-03 08:29] saria85 opened #9619 "feed input node (which is a sentence) using Tensor Flow Inference Interface"
hi all,

unfortunately there is little stuff when we are going to link the tensorflow model to android
this is the thing I am doing
I freezed and optimized tensorflow model
It is a RNN lstm model , getting a sentence then saying if that positive or negative
I successfully added all the things in android studio
Now I have a editbox to enter my sentence , then touch Run button, then this run button

[2017-05-03 08:32] bkovalev opened #9620 "inception/imagenet_distributed_train running is faild"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Not - Use last TF master and last Models
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:   Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: from source ( dramatically less compilation number of files, less in 100 files.)
- **TensorFlow version

[2017-05-03 08:35] qwertymj opened #9621 "How can I load data from a data file just like http://projector.tensorflow.org/ does when using Tensorboard embedding projector"
At http://projector.tensorflow.org/  we can choose a data file from our own computer by the `Load data` button(see the red rectangle below) and visualize the high-dimensional data
![image](https://cloud.githubusercontent.com/assets/7208819/25652477/fbc9675e-301a-11e7-931f-c7bb22fbdea2.png)
![image](https://cloud.githubusercontent.com/assets/7208819/25652234/ce6c2158-3019-11e7-9c10-47fe2a1e2224.png

[2017-05-03 08:46] damienmg commented on #6680
@martinwicke yes `--action_env FOO` make `FOO` available to action but `--action_env FOO=BAR` makes set `FOO` to `BAR` in all action as well as for configuration rules (roughly equivalent to `LAST_FOO=$FOO; export FOO=BAR; bazel build --action_env FOO; export FOO=$LAST_FOO`)

[2017-05-03 09:02] AnlanSun opened #9623 "What is the best way to test speed of TF"
I am trying to test the speed of TF but seems TF is using python and it is gonna be quite slow. What is the rrecommended way to test the speed of a model in TF?

[2017-05-03 09:09] NirDiamant commented on #7859
i have the same error mentioned above, yet, uninstalling TF and installing the build didn't solve the problem. what else can i do?
thx

[2017-05-03 09:16] wishfpp commented on #9596
@GD06 @andydavis1  I am a rookie in developing DL applications with tensorflow and mxnet. Recently there is a  synchronize problem between my TF workers which I suspect is the same problem mentioned in this issue.
I have run the code uploaded by @GD06 in my server with titanX GPUs and the program also gets blocked while I still can't find the error in your code (just like ours) by myself.
So have

[2017-05-03 10:03] yxiaohui commented on #8399
I can download it from [http://yann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz](http://yann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz) with browser. But when running code, WinError 10060 occurred.

[2017-05-03 10:09] GD06 commented on #9596
@andydavis1 To convince the workers executing asynchronously, I improve the [training.py](https://gist.github.com/GD06/b56d62b718bbd0b033703320e4b214dc) and make worker 1 exist after the first time output information. As expected, the worker 0 continue to execute without waiting to the worker 1.

[2017-05-03 10:13] kwotsin opened #9624 "Is batch_norm_param argument missing in the depthwise convolution 2d layer implementation?"
This is with reference to: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/layers/python/layers/layers.py#L1850

The line says "if `batch_norm_params` is None" but there is no batch_norm_params argument included in the function, and it doesn't seem that batch_norm is implemented within the function as an option. Is the batch_norm function included in the regularizer functio

[2017-05-03 10:28] gitmcdull opened #9625 "embedding failed on gpu"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: https://github.com/zsdonghao/tensorlayer/blob/master/example/tutorial_word2vec_basic.py
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04.5
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.1.

[2017-05-03 11:26] zzd1992 opened #9627 "Out of memory when running small network with mnist?"
I work in Ubuntu14.04 with 1080Ti(12GB memory).
When I run a small network using mnist data set, at the beginning, everything is OK. But after nearly 3000
 iterations with batchsize 128, tensorflow returns out of memory error. It looks something is accumulated into memory, but I don't know what it is. Here is the error log:
[code]
And here is part of my code:
[code]
What is the problem? ( No other

[2017-05-03 11:27] bkovalev commented on #9620
More simple;

bazel-bin/inception/imagenet_train --batch_size=128 --train_dir=/data/imagenet_train/ --num_gpus=1 --data_dir=/data/imagenet_data/

Traceback (most recent call last):
  File "/root/models/inception/bazel-bin/inception/imagenet_train.runfiles/inception/inception/imagenet_train.py", line 41, in <module>
    tf.app.run()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/p

[2017-05-03 13:01] braddengross commented on #9519
I'm seeing the same warnings and some major issues in viewing scalar data on tensorboard. I'm currently viewing tensorboard for 6 different training sessions all with different run id's. If I hide and show runs using the checkboxes the data will change for old runs that are no longer in progress. Also, some runs will show their data sometimes and others won't.

[2017-05-03 13:12] shzygmyx opened #9628 "tf.cond doesn't work as expected"
### System information
- **Windows 10**:
- **TensorFlow installed from pip install**:
- **TensorFlow version 1.0**:

### Describe the problem
When I use tf.cond, both f1 and f2 are executed.

### Source code / logs

    sess = tf.Session()
    x = tf.constant(7)
    y = tf.constant(5)
    lst = []
    def f1():
        global lst
        lst.append(x)
        return x
    def f2():
        global

[2017-05-03 13:38] Marko-Stamenovic-Bose commented on #9330
I'm also seeing this issue with the latest version of tensorflow (1.1.0). i am not seeing it on version 0.12.1.

I verified that both embeddings and metadata are same length before exporting and that they do not match up in the tensorboard visualization.

[2017-05-03 13:41] markostam commented on #9330
I'm also getting this error in TF version 1.1.0. Everything works fine on 0.12.1 using the exact same code.

I've verified that my embedding tensor and metadata file have the same length.

[2017-05-03 13:41] markostam commented on #9330
I also verified that if i truncate my embeddings to start from the second index, the names and embeddings will match up correctly in the tensorboard embedding visualization.

[2017-05-03 13:42] markostam commented on #9330
eg. this hack makes it work for me with the current release (1.1.0):

[code]

[2017-05-03 13:46] MarkDaoust commented on #7750
Any quick fix for these is welcome!

We're planning on some updates to the docs' markdown parser that will catch these, but that's farther out.

[2017-05-03 14:17] kchodorow commented on #7497
Can you copy-paste the error message you're getting about it ignoring http_proxy?

[2017-05-03 14:41] Raniazy opened #9630 "separable_conv2d() got an unexpected keyword argument 'rate'"
When running :
[code]
I'm getting this error :

[code]

[2017-05-03 15:20] mocique commented on #9628
print(lst)
<< [<tf.Tensor 'Const:0' shape=() dtype=int32>, <tf.Tensor 'Const_1:0' shape=() dtype=int32>]
When you run lst ,you are not actually using tf.cond. Instead, you will fetch both x and y directly.

[2017-05-03 15:24] andrehentz commented on #9301
1) Yes, please build the graph_transform tool with a fresh install. It is OK to keep both on your host machine, just download the fresh install to a separate directory.

2) Be sure to use all the transforms for 8-bit calculations:
[code]

3) Sorry I can't help with the Jetson's hack. As I said earlier, you can try applying the relevant changes manually.

[2017-05-03 15:36] skye commented on #9591
Ah sorry, didn't read the issue closely enough!

[2017-05-03 15:40] wwilly opened #9632 "building error, tensorflow r1.0, with bazel 0.4.5, Ubuntu 16.04.1 LTS armv7 board"
I try to use TensorFlow r1.0 on an Odroid-XU3 board (armv7).
The distribution is an Ubuntu 16.04.1 LTS (Xenial Xerus)

Bazel is succesfully installed from bazel-0.4.5-dist.zip

During the configuration, I get multiple errors:

[code]

Any suggestion to finish the installation?

Cheers,
Willy

[2017-05-03 15:41] woodshop commented on #4118
Hello @songmeixu,
I don't remember my exact solution. Using a forward declaration was definitely the first step to solving the problem. However the declaration exposed other linking problems that needed a resolution. Sorry I can't be more specific.

[2017-05-03 15:49] tpet opened #9633 "SIGSEGV with sparse_add and broadcasting"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes, enclosed below
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
binary via pip
- **TensorFlow version (use command below)**:
('v1.0.0-65-g4763edf-dirty', '1.0.1')
- **Bazel version (if compil

[2017-05-03 16:02] momeara opened #9634 "cuda_configure.bzl makes bad symlink for: cuda/include/cudnn.h --> cuda/include/include/cudnn.h"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS release 6.7 (Final) x86_64
- **TensorFlow installed from (source or binary)**:  source
- **TensorFlow version (use command below)**: master: git version 550df413158b32645ca5df4dcaabc67f1a48964d (checked

[2017-05-03 16:28] Songweiping opened #9635 "Implement of attention mechanisms"
Here is a question(maybe bug) about implements of different attention mechanisms, i.e. LuongAttention & BahdanauAttention, in contrib/seq2seq/python/ops/attention_wrapper.py. It seems that the only difference is their score functions(alignment models).

 In BahdanauAttention, the alignment model is as described in https://arxiv.org/abs/1412.7449

[code]

In LuongAttention, the alignment model is a

[2017-05-03 16:30] abhigarg commented on #425
@vrv
the link you have shared is broken

[2017-05-03 16:35] drasmuss opened #9636 "`reload(tensorflow)` fails"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.1.0
- **Bazel version (if compiling from source)**:
- **Exact command to reproduce**:

[code]

fails with error

[code]

[2017-05-03 16:41] BigHopes opened #9637 "Convolutional Neural Networks Tutorial problem"
I am learning about Convolutional Neural Networks from the tutorial:
https://www.tensorflow.org/tutorials/deep_cnn

Inside it there is a link for getting the code but it is not working:
https://github.com/tensorflow/tensorflow/blob/r1.1/tensorflow_models/tutorials/image/cifar10/

how can I get the code?

[2017-05-03 16:42] skye commented on #9635
@ebrevdo can you comment?

[2017-05-03 16:43] vrv commented on #425
https://www.tensorflow.org/install/install_linux#common_installation_problems

[2017-05-03 16:47] ebrevdo commented on #9635
LuongAttention implements the following paper:

Minh-Thang Luong, Hieu Pham, Christopher D. Manning.
  "Effective Approaches to Attention-based Neural Machine Translation."
  EMNLP 2015.  https://arxiv.org/abs/1508.04025

both attentions have a scaling option (Luong it's called "scale" and Bahdanau it's called "normalize").  The Luong scaling version is unpublished; the Bahdanau normalize option i

[2017-05-03 16:49] ebrevdo commented on #9635
(other differences have been factored out and are controlled elsewhere; for example, the AttentionWrapper object has an argument `output_attention`; the Luong and Bahdanau papers used different versions of this.  but from an API perspective, it's better to keep it configurable elsewhere).

[2017-05-03 16:53] skye commented on #9623
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-03 16:53] #9623 closed

[2017-05-03 16:54] skye commented on #9621
@dandelionmane @jart can one of you comment?

[2017-05-03 17:01] sjperkins commented on #9634
I've also encountered this issue.

[2017-05-03 17:01] skye commented on #9627
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since this is likely a problem with your code and not a TensorFlow bug. Please reopen this issue if further investigation makes you think it is a bug after all. Thanks!

[2017-05-03 17:01] #9627 closed

[2017-05-03 17:25] asimshankar commented on #9619
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-03 17:25] #9619 closed

[2017-05-03 17:29] skye commented on #9633
@concretevitamin can you take a look at this?

Here's the stacktrace:
[code]

[2017-05-03 17:30] saria85 commented on #9619
It does not make sense when there is no documentation for something limiting us to tell it in one community.

anyway I had already send in stackover

https://stackoverflow.com/questions/43752756/how-to-feed-input-node-which-is-a-sentence-in-android-studio-using-tensorflowi

no one answered, In this case what should I do?
please let me know

[2017-05-03 17:31] skye commented on #9625
Unfortunately this is too much code for us to debug. I see you've also opened an issue in the TensorLayer project (https://github.com/zsdonghao/tensorlayer/issues/135). I'm gonna close this for now, but please reopen if further investigation yields a smaller code sample that repros a TensorFlow bug (this might turn out to be a bug in the TensorLayer code).

[2017-05-03 17:31] #9625 closed

[2017-05-03 17:39] skye commented on #9613
Please fill out [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new), as this isn't enough information to help you. Thanks!

[2017-05-03 17:40] smistad opened #9638 "Seg fault on session run when built with CMake and optimize for native arch enabled"
**System info: Ubuntu 16.04 64 bit, gcc 5.4.0, Intel i5 CPU**

Segmentation fault occurs in Eigen when a certain AVX instruction is performed (see stack trace below). This occurs during session run of several convolutional neural network graphs.

Tensorflow (checked out from the master branch today) is built using CMake with tensorflow_BUILD_SHARED_LIB enabled which generates a libtensorflow.so li

[2017-05-03 17:44] JavierGranado commented on #5780
@petewarden Do you think it is possible to create Tensorbox freeze graphs ( *.pb) under TF 1.0 version? or I must to install 0.11 version?.
I got "Converted 0 variables to const ops" & "1 ops in the final graph".
I'm really not sure about this question.
Thanks

[2017-05-03 17:50] shzygmyx commented on #9628
@mocique Thanks for your reply, but shouldn't lst be 1) [<tf.Tensor 'Const:0' shape=() dtype=int32>] or 2)[<tf.Tensor 'Const_1:0' shape=() dtype=int32>]?

[2017-05-03 17:50] aselle commented on #9513
Best way is to look at another op that is similar (like conv). Try to get a prototype working quickly and submit a draft pull request. @martinwicke, do we have a design document process yet?

[2017-05-03 17:55] skye commented on #9591
Hm, the "Installing Tensorflow" link at https://github.com/tensorflow/tensorflow goes to https://www.tensorflow.org/install/, and the "Community" link goes to https://www.tensorflow.org/community/. Am I missing something?

[2017-05-03 17:58] Carmezim commented on #9603
@skye shouldn't we wait if @tonymdsl solved on his side?

[2017-05-03 18:24] andydavis1 commented on #9632
Try upgrading to 1.1, and reopen if the issues persists.

[2017-05-03 18:24] #9632 closed

[2017-05-03 18:39] fchollet commented on #9630
It looks like you are using an outdated version of TensorFlow where `tf.nn.separable_conv2d` did not yet support the `rate` argument. Update to the latest version.

[2017-05-03 18:39] #9630 closed

[2017-05-03 18:39] Carmezim commented on #9603
@dzid26 @tonymdsl did you have any progress with the solution provided? Please let us know if it worked. Thanks!

[2017-05-03 18:44] skye commented on #9593
Looks like gcc 5 has a similar bug to the one referenced in #7223: https://bugs.launchpad.net/ubuntu/+source/gcc-5/+bug/1568899

According to the bug report, a workaround is to "add -lgcc_s -lgcc at the end of the g++ command that links the shared library".

@smistad do you think you could wade into the CMake build and try the workaround? (Even if you don't plumb it all the way through maybe you c

[2017-05-03 18:48] danielmawhirter commented on #9496
I've finished testing and am satisfied that the change as described above, applied globally, yields correct code. I won't be able to submit a patch for a little while due to other priorities, but if anyone is interested, the following script makes the necessary changes when run from the repository's root directory.
[code]

[2017-05-03 18:48] asos-ben commented on #6095
I think that select is deprecated in version 1.0, so this is now

`def atan2(x, y, epsilon=1.0e-12):
        """
        A hack until the tf developers implement a function that can find the angle from an x and y co-ordinate.
        :param x:
        :param epsilon:
        :return:
        """
        # Add a small number to all zeros, to avoid division by zero:
        x = tf.where(tf.equal(x,

[2017-05-03 18:56] smistad commented on #9593
Sure, I will try it and if it works I can add an "if GCC version 5" in cmake, add the libraries mentioned to the linker and create a pull request for it.

[2017-05-03 19:02] tonymdsl commented on #9603
No is the same error

Python 3.5.2 (v3.5.2:4def2a2901a5, Jun 25 2016, 22:18:55) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "C:\Users\Tonymds\AppData\Local\Programs\Python\Python35\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 18, in swig_import_helper
    return im

[2017-05-03 19:02] tonymdsl commented on #9603
![capturar](https://cloud.githubusercontent.com/assets/17919329/25676826/6ec74896-303b-11e7-8b76-b295ee59f174.JPG)

[2017-05-03 19:07] martinwicke commented on #9513
We don't. I think since this is a straightforward extension of existing ops, I don't think there's a huge design space to consider anyway. I'd guess it would go into contrib first, although if it is basically parallel to the 3D ops, we may just add them to core directly.

[2017-05-03 19:20] Carmezim commented on #9603
Just by seeing your `%PATH%` screenshot is still difficult to infer everything is properly installed. Could you make sure your cuDNN DLLs are properly set as CUDA's? This is most likely a CUDA/cuDNN misconfiguration, assuming of course your TF version is the latest with GPU support as you didn't specify.

[2017-05-03 19:23] nrishoj commented on #9519
Just upgraded from 1.0.1 to 1.1 and got the same issue.

Same setup as @rightaditya, except for GTX 1080.

Note, TensorBoard does seem to have problems finding the address (still available from localhost tho). Letting you know in case this issue is somehow connected with the warnings.

[code]

[2017-05-03 19:25] #7443 closed

[2017-05-03 19:27] pdcoded commented on #6034
@ebrevdo any progress on this issue? any workaround?

[2017-05-03 19:46] tonymdsl commented on #9603
is working now the problem is i use cudNN 6.0 and now i put the cudNN 5.1 and now it's working tank u very much for the help

[2017-05-03 20:09] Carmezim commented on #9603
TensorFlow only supports cuDNN 5.1 on Windows, glad it's working now!
Thank you for reporting, this issue can be closed.

[2017-05-03 21:06] shahzeb1 commented on #9637
Most tensorflow models are now in their own [models repo](https://github.com/tensorflow/models).

Here's what you're looking for: https://github.com/tensorflow/models/tree/master/tutorials/image/cifar10

[2017-05-03 21:14] eaplatanios commented on #6268
@suharshs Thanks a lot for this update!

I am wondering why we need to include tensorflow/cc/gradients. I see that a lot more gradients are implemented in tensorflow/core/ops/*_grad.cc. Can we not use those directly?

Thank you!

[2017-05-03 21:16] andrewharp commented on #9599
What is the content of your APK? You can see this with e.g. `unzip -v tensorflow_demo.apk`

Note that you need all the .so files present at the highest architecture level any of them are present at. So if you have one added to your apk in libs/arm64-v8a, all of the others used need to be in that directory as well.

[2017-05-03 21:20] suharshs commented on #6268
The gradients defined in tensorflow/core/ops/*_grad.cc are not the c++ gradients, they are gradients for FunctionDef's. Very confusing I know :(. We are hoping to simplify/maybe make the FunctionDef's use the c++ gradients defined in tensorflow/cc/gradients eventually.

For now, the gradients defined in tensorflow/core/ops should be ignored.

[2017-05-03 21:21] davidlt commented on #9391
I have been looking into your binary distribution (`libtensorflow-cpu-linux-x86_64-1.1.0.tar.gz`) and one of the first thing for integration I looked into symbol visibility. Please use `-fvisibility=hidden` and only make globally visible symbols from API. There is a good fraction of externals that we already link to (jemalloc, Eigen, etc) thus it would be nice if tensorflow library would be sealed

[2017-05-03 21:22] #9603 closed

[2017-05-03 21:23] davidlt commented on #9525
I think, this relates to https://github.com/tensorflow/tensorflow/issues/9391
This is needed if people want to integrated tensorflow binaries into their existing software.

[2017-05-03 21:24] eaplatanios commented on #6268
@suharshs I see. That's pretty confusing indeed. And I guess this involves a lot of potential duplicate implementations. I'm generally unclear with respect to "functions" in the context of TensorFlow graphs. In any case, if I want to use gradients currently through JNI, should I import all the *_grad.cc files from tensorflow/cc/gradients in my JNI bindings file? What prevents you from importing th

[2017-05-03 21:26] davidlt commented on #2412
Are there are any plans to provide binary distributions for C/C++ like you already do for C (`libtensorflow-cpu-linux-x86_64-1.1.0.tar.gz`)? That would be very helpful for people who want to try out C++ API.

[2017-05-03 21:28] eaplatanios commented on #6268
@suharshs Actually, I'm not super familiar with C++ and I'm a bit unclear as to how to include those files. I currently only include the c_api.h file in my project (a Scala API for TensorFlow) and the linker takes care of linking that to the libtensorflow.so library functions. What should I do to use gradients? Should I specify some flags when compiling libtensorflow.so or should I add something t

[2017-05-03 21:31] davidlt commented on #2412
Btw, for the binary C++ distributions I would suggest making it dual-ABI (GCC4-compatible and new default C++11 ABI) if any of API interfaces are using `std::string`, `std::list` and some types.

[2017-05-03 21:44] wwilly commented on #9632
@andydavis1 suggest upgrading to 1.1, but it seems to be worse:

[code]

Any help will be appreciated.

[2017-05-03 22:40] drpngx commented on #9637
I think you're referring to the link here, right?

[code]

Feel free to send a PR correcting the [md file](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/tutorials/deep_cnn.md#L99)
/CC: @nealwu

[2017-05-03 22:40] tfboyd commented on #7679
The [benchmarks](https://www.tensorflow.org/versions/master/performance/benchmarks) have been published along with the code.  Because all of you can do math, I want to address something in this thread.  InceptionV3 with batch size 32 no longer scales at x58.  What happened is that we got faster across the board but our gains for 1 GPU were higher than at 64 GPUs and that lowered the scaling factor

[2017-05-03 22:40] #7679 closed

[2017-05-03 22:42] drpngx commented on #9636
Hi @drasmuss while it's easy to fix that one problem, the library was not designed to do that. It will have issues later with gradient registration and the like.

[2017-05-03 22:43] eaplatanios commented on #9150
@skye Sorry for the delayed response but I was traveling. That sounds reasonable, although it raises two questions: 1) should I go with the C API for the gradient support too, and 2) if I do so, when is it expected for the C++ gradients to be exposed to the C API and for the complete control flow functionality to be made available (i.e., with gradients support)?

In particular, I wrote some bindin

[2017-05-03 22:43] drpngx commented on #9634
@rmlarsen or @jart what do you think?

[2017-05-03 22:43] chris-chris opened #9643 "bazel coverage build failure"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS 10.12
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**:
('v1.1.0-rc0-61-g1ec6ed5', '1.1.0')
- **Bazel version (if compiling from source)**: Build l

[2017-05-03 22:47] drpngx commented on #9628
Yes, both are executed. f1 and f2 are creating a graph, so they are executed. If you want to construct a list, use `tf.concat`.

[2017-05-03 22:47] #9628 closed

[2017-05-03 22:48] jmchen-g commented on #9596
There is a known issue with sync_rep_opt_v2 with the device setter/chooser related to the allocation of the local variable created in the sync_rep_opt_v2. You can either use the old sync_rep_opt or wait until that is fixed (where we might need to have similar signature anyway). Thanks.

[2017-05-03 22:53] drpngx commented on #9624
It looks like it's a remnant of a copy-paste. Do you want to submit a PR fixing the doc?

[2017-05-03 23:10] drpngx commented on #9633
Did you modify anything else in the code? The version shows `dirty`.

@yifeif @av8ramit are the pip installs built from a dirty git repo?

[2017-05-03 23:17] suharshs commented on #6268
You are right that we should include these by default. I will look into that and get back to you. Thanks!

[2017-05-03 23:27] eaplatanios commented on #6268
@suharshs Thanks! In the meantime, I just wanted ti ask if you plan to add support for gradients of control flow ops any time soon, as well as if there are any plans for indexed slices and sparse tensor gradients. Thanks a lot for the prompt responses!:)

[2017-05-03 23:34] suharshs commented on #6268
I don't have any new gradients prioritized at the moment. But for specific ones, new issues for each desired gradient function, or pull requests would be appreciated.

[2017-05-03 23:38] eaplatanios opened #9644 "Indexed Slices Support"
Hi,

I am wondering what the reasoning behind IndexedSlices is and whether they are actually necessary. My understanding is that they are only constructed for the gradient of the gather op. Is there any other place in the Python API that IndexedSlices are being constructed? Now, even though they are only constructed there, there are special cases throughout the Python codebase for dealing with ind

[2017-05-03 23:43] eaplatanios opened #9645 "Gather/Slice/StridedSlice Gradients Support in the C++ API"
Hi,

I noticed that there is currently no gradient support in the C++ API for the gather, slice, and strided slice ops. Would it be too difficult to add support for those gradient ops? I am asking because they are ops very frequently used in the context of machine learning models and without them building ML models can be unnecessarily complicated.

Thank you!

P.S. I have noticed that the Python

[2017-05-03 23:45] eaplatanios commented on #6268
@suharshs Thank you! I created a new issue for some gradients that are very useful for building machine learning models [here](https://github.com/tensorflow/tensorflow/issues/9645).

Control flow is not absolutely necessary I guess, but it can be very useful for RNNs. However, the gradient implementation is not as simple as registering a gradient for an op. I think it has to be considered while pe

[2017-05-04 00:01] nealwu commented on #9637
It looks like the .md file on GitHub is correct, but the TensorFlow site documentation points to the wrong place. Seems like a documentation bug -- talked to @wolffg and he will look into it.

[2017-05-04 00:11] sguada commented on #5987
@ybsave what @kmalakoff wrote is a way to compute evaluation metrics while training.

As I mentioned above, that has some problems, like slowing down the training, but could be used for early stopping.

For examples on how to train and evaluate in two different process see:
https://github.com/tensorflow/models/blob/master/slim/train_image_classifier.py
https://github.com/tensorflow/models/blob/mas

[2017-05-04 01:12] wiselyloh commented on #8623
it works for me.
delete the tensorflow env at anaconda navigator under Environments Tab. then create tf tenv for 3.5 again. then no more error below
tensorflow-1.0.1-cp35-cp35m-win_amd64.whl is not a supported wheel on this platform.

simply, tensorflow not supporting 3.6 yet?

[2017-05-04 01:13] ZhenghaoFei opened #9646 "Memory leaking when session.run in a certain situation"
Hi,
Here I find a possible memory leaking bug.

### Describe the problem
When we doing
`session.run( var )`

if we add operator before that variable, such as
`session.run(-var )`

Memory will keep growing by the iteration, when we call the train function with -var thousands of times it will use up all the memory and also let the running time become much slower.

### Source code / logs
Here is a mi

[2017-05-04 01:14] concretevitamin commented on #9633
I'm taking a look.

[2017-05-04 01:20] Songweiping commented on #9635
I guess another main difference is where computation begins. In Bahdanau papers, the path is h(t-1)->a(t)->c(t)->h(t), while in Luong it should be h(t)->a(t)->c(t)->h˜(t).

In current implements, both Bahdanau and Luong use current hidden state h(t) as "query" to attend on memories. I don't know whether this matters a lot or not.

[2017-05-04 02:02] GD06 commented on #9596
@jmchen-g Thanks a lot! Would you mind reopening this issue? I think this issue should be clarified that it's not caused by incorrect API uses. Otherwise, other developers will be still very confused in such examples as in the official guide and tensorflow examples.

[2017-05-04 02:05] GD06 commented on #9596
@andydavis1 Would you mind reopening this issue? Or at least you need to label this issue as the same/similar to the known issue pointed by @jmchen-g.
Thanks!

[2017-05-04 02:05] RenzhiDuan commented on #8623
"conda create -n tensorflow  python=3.5"  also works for me~
I've installed Anaconda 4.3.1 with python 3.6 and following the guidance from
[https://www.tensorflow.org/install/install_windows#common_installation_problems](url) to install tensorflow with it and meeting the "not supported wheel" problem.
I just deactivate the former conda environment and remove it with:
"deactivate tensorflow"
"conda

[2017-05-04 02:13] spartucus commented on #9591
Yes, you are right. But the two links redirect to invalid sites with a "404 Not Found" result.
https://www.tensorflow.org/install/ redirects to
[https://www.tensorflow.org/versions/r0.12/install/index.html](https://www.tensorflow.org/versions/r0.12/install/index.html)

and https://www.tensorflow.org/community/ redirects to [https://www.tensorflow.org/versions/r0.12/community/index.html](https://ww

[2017-05-04 02:24] dzid26 commented on #9603
Finally it worked for me too. But it was not obvious that /bin folder
within cudann was supposed to be add.

Also this instruction on the website is inaccurate because CUDA 8.0
documentation doesn't mention setting up %path%. And that is not even
relevant, since the path is added automatically by the installer.

The main problem is with cudann nvidia's instructions.

Anyway, hopefully better insta

[2017-05-04 02:56] nkhdiscovery commented on #9391
I tried to hide *google::protobuf* in version script, but it didn't work, I don't know exactly what to hide! I tried to keep only _TF* symbols like in the c_api, but the resulting binary was useless. Please let me know what approximately I have to put in my version script so I will figure it out.

[2017-05-04 03:01] nkhdiscovery commented on #9525
I'm trying to solve this in #9391 . Follow up there.

[2017-05-04 03:06] dylib commented on #22
Hi @benoitsteiner, regarding:

I did a [search on tensorflow.org for OpenCL](https://www.tensorflow.org/s/results/?q=opencl&p=%2F) and didn't seem to be able to find anything significant, it to all seems to point right back here.  By "soon", do you mean before ______? ( _insert funny sarcasm here_ ).

I was able to compile your repo (yay!), although I'm guessing that it needs something else to cre

[2017-05-04 03:16] chenweiqian commented on #7450
@kaishijeng  hi，are you successful？

[2017-05-04 03:29] eaplatanios commented on #9646
That happens because every time you call `-c` in the loop, a new op is created in the graph. If you set `d = -c` before entering the loop and then you fetch `d` in the loop your memory consumption should not increase. To me that looks like expected behavior. Note that most Python operators (such as the negation operator you are using) are overloaded and construct new ops in the graph behind the sc

[2017-05-04 03:30] ahundt commented on #7443
@vrv @caisq Thanks that guide looks super helpful!

[2017-05-04 04:17] drscotthawley opened #9651 "crosstool_wrapper_driver_is_not_gcc failed: error executing command"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request. **This is a bug**
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixi

[2017-05-04 04:34] ritikajain7 commented on #7433
Hi I tried installing SyntaxNet today and I am stuck with the below error: Can somebody please guide me whats wrong here.
ERROR: Error downloading [http://bazel-mirror.storage.googleapis.com/repo1.maven.org/maven2/com/google/guava/guava/20.0/guava-20.0.jar, http://repo1.maven.org/maven2/com/google/guava/guava/20.0/guava-20.0.jar, http://maven.ibiblio.org/maven2/com/google/guava/guava/20.0/guava-20

[2017-05-04 04:41] kwotsin commented on #9624
@drpngx I have submitted a PR fixing the description error and including `batch_norm` by default as the `normalizer_fn`.

[2017-05-04 04:53] kwotsin commented on #9301
@andrehentz  I tried to building with the fresh install but have gotten this error instead:

[code]

Are some things left out in the BUILD files? I am not very sure about this as I've never seen how such a code is being written or how it's getting processed.

[2017-05-04 05:40] onurgu commented on #7497
Here is the output. The first thing is that warning. @kchodorow

But I have to repeat that it is in fact using the proxy information in `http_proxy`. Normally, our network restricts any connection to the external networks, only through HTTP(S) proxies.

[code]

[2017-05-04 06:17] rmaelongakit commented on #9599
Already added the files libandroid_tensorflow_lib.lo, libpthread.so, libtensorflow_demo.so, and libtensorflow_inference.so to jniLibs, yet, still have the same error.

At the moment, still decompiling tensorflow_demo.apk to check its contents.

thank you @andrewharp

[2017-05-04 06:23] shylauc opened #9653 "macOS 10.12.4 GPU Installing with native pip python3.6 (error: not loaded: @rpath/libcublas.8.0.dylib)"
-- macOS 10.12.4
    python3.6
    "native pip " way
    gtx 960
    cuda is working

-- error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/tensorflow/__init__.py", line 24, in <module>
    from tensorflow.python import *
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/

[2017-05-04 06:40] viettan28 commented on #9583
The problem was solved by closed an unused TensorArray .

I create 4 TensorArrays to store hidden state and memory state of LSTM for encoder and decoder.
The memory state is not used during decoding. Then just remember to close it at running the session.

Many thank guys.

[2017-05-04 06:40] #9583 closed

[2017-05-04 07:02] tanayjha commented on #5036
+1

[2017-05-04 07:05] Jeffery4000 commented on #9330
Hi @markostam ,
I found that it skip my blank line on metadata file, so basically what i did is to check whether the query is blank or not before writing into the metadata file. Anyway, thanks for the hack.

[2017-05-04 08:22] JulesKzl opened #9654 "Estimator's argument checking overzealous : model_fn has following not expected args: ['self']"
I'm using TensorFlow (1.1) high-level API Estimators to create my neural net. But I'm using it into a class and I have to call an instance of my class to generate the model of the neural network. (Here `self.a`)

[code]

But I get the error : ValueError: model_fn [...] has following not expected args: ['self']. I tried to remove the self for the args of my model but got another error TypeError: …

[2017-05-04 08:27] MisayaZ commented on #1122
@sguada  I have noticed that you said" tf.contrib.layers.batch_norm can take tensor as is_training, so not need to do anything especial".
Howerver, the comment in the code is
 If `is_training` doesn't have a constant value, because it is a `Tensor`,
    # a `Variable` or `Placeholder` then is_training_value will be None and
    # `needs_moments` will be true.
Does it mean that nees_moments will be

[2017-05-04 08:39] vincentracine commented on #550
@lukaszkaiser No worries. Should i expect to get OK translations using 2 layers (256 units each) with enough training steps? Or is it a waste of time and I should restart training with the default 3 layers (1024 units each)?

[2017-05-04 08:49] KangHsi commented on #9519
I got the same issue when I use the Google Cloud Platform with tensorflow version  1.10
I'm not sure, but the first time I use tensorboard, it works without the issue, and after that, tensor board cannot work properly at all.

`Starting TensorBoard 47 at http://0.0.0.0:8080
(Press CTRL+C to quit)
WARNING:tensorflow:path ../external/data/plugin/text/runs not found, sending 404
WARNING:tensorflow:pa

[2017-05-04 09:18] qiushi223 opened #9655 "why can't i recover cifar-100/cifar-10 image from binary files using tensorflow?"
**my code likes following:**

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
import tensorflow as tf
from matplotlib import pyplot as plt

def read_cifar_100_bin(batch_size):

    coarse_label_bytes = 1
    final_lable_bytes = 1
    image_bytes = 3072
    filenames = ["./cifar-100-binary/train.bin"]

[2017-05-04 09:29] keryell commented on #22
@bhack SInce I do not work for Google, I have no idea about XLA details...

[2017-05-04 09:32] keryell commented on #22
@dylib unfortunately all this is a work-in-progress...

[2017-05-04 09:44] bhack commented on #22
@keryell Yes I know.. I was just curious if was discussed in some meetings.

[2017-05-04 09:52] jeansely opened #9656 "add a image with summary for showing in tensorboard"
Hi,
for add a image to graph for showing in tensorboard , i used below code. but the tensorflow error that :"TypeError: Parameter to MergeFrom() must be instance of same class: expected Summary got Tensor. for field Event.summary"

the code :
<<  _**writer =tf.summary.FileWriter('C:\Program Files\python3.5\logs',graph=tf.get_default_graph())**_
<v
<<tf.Tensor 'Slice_2:0' shape=(1, 152, 138, 1) dty

[2017-05-04 10:20] sandipmgiri commented on #8945
Now `py-cpuinfo` community made it work on `ppc64le` (added ppc64le support for `py-cpuinfo`). now that `Exception: py-cpuinfo currently only works on X86 and some ARM CPUs ` error is gone, but I'm getting some another error :

[code]
 I would like to understand comments/suggestions on this.Thanks!

[2017-05-04 10:23] bhack commented on #9513
Is it a duplicate of https://github.com/tensorflow/tensorflow/issues/1661?

[2017-05-04 10:28] bhack commented on #9513
@alexgkendall I don't know if you [can divulgate](https://github.com/tensorflow/tensorflow/issues/9513#issuecomment-298033948) this info but is this for a follow up of GC-NET?

[2017-05-04 10:33] StatML opened #9657 "> gcc: error: $opt: No such file or directory"
Hi, I am using Ubuntu 16.04 (GCC5.2) and CUDA 8 to compile TF. I meet the following problem. Does anyone knows how to solve it? Thanks!

[2017-05-04 10:35] #9657 closed

[2017-05-04 10:35] StatML commented on #9651
I meet the same problem. Hope it could be solved ASAP.

[2017-05-04 10:56] tpet commented on #9633
The results look the same with tf pip-upgraded to ('v1.1.0-rc0-61-g1ec6ed5', '1.1.0').

[2017-05-04 11:52] BrianOn99 commented on #4863
@cancan101 To be more concrete, I also met a this issue with Op 'Mul', replaced by Op 'Add' recently.  Then I "fixed" it in the same way in tensorflow/core/kernels/cwise_op_add_1.cc by switching parameter.  Then should we apply the same dirty trick in all of these files?

I think a more appropriate way is to put some notes in the README or error message, and even better, an easier way for users to

[2017-05-04 12:49] b52 commented on #8828
Is there an ETA for this issue?

[2017-05-04 12:51] cancan101 commented on #4863
Well assuming this kernel is relatively frequently used, it would be nice if tf worked out of the box so to speak

[2017-05-04 13:00] ppwwyyxx commented on #9656
You need to eval the `imgsumarry` tensor to get a string first.

[2017-05-04 13:15] Xalos commented on #6503
Hello @kofd

This idea did not pass gradient checks for me. Is it because the orthonormality constraints aren't imposed? Did this work for you? (I tried it on a different framework and coded it up independently).

[2017-05-04 13:44] edi-bice commented on #7268
I removed bazel cache, did bazel clean, disabled jemalloc via configure and still get the following error

ERROR: /home/ebice/.cache/bazel/_bazel_ebice/975e0509e630426b34ea61d02aa8b898/ex                                                                                                             ternal/jemalloc/BUILD:10:1: C++ compilation of rule '@jemalloc//:jemalloc' faile

[2017-05-04 13:45] Koshub commented on #3017
@gunan So what are the steps to include for example "tensorflow/cc/ops/array_ops.h" to the result build? Do I need firstly build with Bazel and then with makefile or do I need to add functions I want to use to makefile/tf_*_files.sh and then just build with makefile? I'm trying to build for iOS using build_all_ios.sh so could you please describe the steps? I would like to use examples from https:/

[2017-05-04 13:51] kchodorow commented on #7497
Ah, yeah, that warning is from the Bazel client. `http_proxy` is unset because otherwise it could interfere with the gRPC connection Bazel's about to make to its server.  The server (which actually runs the build) still uses `http_proxy`.

It's harmless, but if you wanted to avoid it you could set `HTTP_PROXY` instead, the client only checks for `http_proxy`.

[2017-05-04 14:00] cancan101 opened #9661 "[feature] Support Cross Compiling with tfcompile"
Tensorflow (using XLA) is able to AOT compile a graph using `tfcompile`. There does not seem to be a way to, or it it not documented, cross compile the graph (ie compile on OS X for deployment on iOS). (Related [SO](http://stackoverflow.com/questions/43508105/using-tfcompile-to-aot-compile-tensorflow-graph-for-ios) question).

I suggest adding a means of performing this cross compilation.

[2017-05-04 14:02] PKUEcho opened #9662 "Fail to compile binary for Android"
Is there simple way to compile a native binary for inference on Android? Now I can successfully build the [benchmark](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/benchmark) and run it on my Android device. But it does not contain any actions about ops. I want to do something similar to the [benchmark_model_test](https://github.com/tensorflow/tensorflow/blob/master/tensorf

[2017-05-04 14:03] shijieKika commented on #6175
Hi, @LiangKlausQiu , May I ask how to register `reduction_ops_all.cc` in `/tensorflow/core/kernels/BUILD`?
I tried to append it to `srcs` under `"android_all_ops"`, but got a duplicate error.
Many thanks!

[2017-05-04 14:32] HEIMDAL13 commented on #9484
Many thanks! @gwind55 I had the same problem, renamed the file and it worked perfectly!
I spent an insane amount of hours looking for a solution. I'm glad it finally worked out.

[2017-05-04 14:34] jeansely commented on #9656
Many Thanks

[2017-05-04 14:34] #9656 closed

[2017-05-04 14:35] hicham-eyeem opened #9664 "Run half-precision models on Android"
Is it possible to run half-precision (float16) graphs on Android (arm64-v8a/AArch64 supports half-precision)? If so, what would be the approach to do that? Trying to run a float16 graph gives an exception saying that only INT32 and Float32 ops are supported.

Thank you in advance,

[2017-05-04 14:51] flawless2011 commented on #9662
Have you read this? https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/android

[2017-05-04 14:57] flawless2011 opened #9665 "Android Inference AAR Release Builds"
### Android Release request
You currently have [nightly Android builds](https://ci.tensorflow.org/view/Nightly/job/nightly-android/).  Is it possible to also have a Jenkins job that publishes stable release (and maybe RC) builds for Android?

Or alternatively, can you publish release and RC builds of your Android Inference AAR out somewhere they can be pulled as dependencies by Gradle (Maven Centr

[2017-05-04 15:00] PKUEcho commented on #9662
Thanks @flawless2011 I've read that. I want to use the apis under //tensorflow/cc/..., but it seems that the lib you provide doesn't refer to these apis? Code in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/benchmark/benchmark_model_test.cc uses some ops apis instead. For most TF apis, we already have //tensorflow/core:android_tensorflow_lib, but in my case I want to compi

[2017-05-04 15:01] skye commented on #9661
I don't think anyone is currently working on this, but maybe @tatatodd can correct me. I'm gonna mark as contributions welcome for now.

[2017-05-04 15:02] skye commented on #9655
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-04 15:02] #9655 closed

[2017-05-04 15:05] skye commented on #9653
We currently use StackOverflow to document installation problems (see https://www.tensorflow.org/install/install_mac#common_installation_problems). Please post this on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow), thanks!

I'm gonna close this for now, but please reopen if further investigation finds a specific TensorFlow bug.

[2017-05-04 15:05] #9653 closed

[2017-05-04 15:09] csmallon commented on #225
Can confirm that this issue seems to still appear - I'd second @achristensen56 and @serhannn in that noting when running graph definitions multiple times causes it to ragequit, and restarting Jupyter fixes it.

It's a corker of an error to run into as you end up questioning your own understanding of maths :p

[2017-05-04 15:24] fvisin commented on #9651
Same here.

[2017-05-04 15:25] skye commented on #9651
@gunan can you advise? From the error output, it looks like there's an environment variable (?) `$opt` that's not defined.

[2017-05-04 15:28] skye commented on #9645
@suharshs

[2017-05-04 15:29] shamoya commented on #9651
Same here.
This what git blame says:
git show 22586bdf configure

[2017-05-04 15:31] skye commented on #9591
@dr4b does this ring any bells for you? (See the above comment.) Those links don't redirect for me, but I'm not sure if being in China should affect this.

[2017-05-04 15:36] skye commented on #9643
I see you've listed two TF versions, can you explain what you mean by tensorflow-gpu? Are these two separate installs?

Were you successfully able to follow all the steps at https://www.tensorflow.org/install/install_sources? I see that you're trying to build tensorboard, so I'm not sure if you've already done all the steps from the docs or not.

[2017-05-04 15:47] PKUEcho commented on #9662
@flawless2011 Did I make my question clear? I hope you can have comments or help refer to someone who should be familiar with this. Really appreciate that.

[2017-05-04 15:54] drpngx commented on #9665
@yifeif what do you think?

[2017-05-04 15:56] drpngx commented on #9664
@andrewharp do you know how far we are from that?

[2017-05-04 15:58] drpngx commented on #9662
Sorry I'm not getting this. What do you want to do? Compile directly against the C++ library on android?

/CC: @asimshankar

[2017-05-04 16:00] drpngx commented on #9654
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-04 16:07] drpngx commented on #9651
Actually, it looks like we are using single quotes which doesn't interpolate, rather than double quotes previously.

[2017-05-04 16:09] andrewharp commented on #9665
We've actually just published an initial aar yesterday: https://bintray.com/google/tensorflow/tensorflow-aar/1.2.0-preview#files

We'll be updating the Gradle code in the Android demo soon to show how to use it.

Plans going forward are to update this on every point release as part of the release process.

[2017-05-04 16:10] PKUEcho commented on #9662
@drpngx Basically, I want to build a native binary on Android, which simply creates a graph with some ops and execute it with some random input. The [benchmark](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/benchmark) is a good example which can run on Android, but it just reads the graph without constructing its own graph. From what I've found via the [benchmark_model_test

[2017-05-04 16:19] drpngx commented on #9646
@eaplatanios is right.

[2017-05-04 16:19] #9646 closed

[2017-05-04 16:20] rmaelongakit commented on #9599
I have tried to configure JNI. I created native classes, Application.mk, Android.mk, and imported several C++ files.. Seems like I got lost & now I have this error.

Error:error: 'errno' was not declared in this scope
Error:error: 'EINTR' was not declared in this scope
Error:Execution failed for task ':app:ndkBuild'.

Also modified the build.gradle with this:
 task ndkBuild(type: Exec, description

[2017-05-04 16:28] drpngx commented on #9643
I think it's probably this:
http://stackoverflow.com/questions/17059961/library-not-found-for-lgcov

[2017-05-04 16:30] andrewharp commented on #9599
What is the content of your APK?

We don't use Android/application.mk to build TF, so I would not suggest going down this path.

What OS are you developing on? You should be placing the libs in the "libs/<target>" folders.

Also what version of TF are you using? There are currently no native methods in TensorFlowImageClassifier, so I don't see how this could be native libraries related with any re

[2017-05-04 16:51] drpngx commented on #9616
Please fill in the template with version, how you installed, etc.

[2017-05-04 16:52] drpngx commented on #9618
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-04 16:52] #9618 closed

[2017-05-04 16:52] vonclites commented on #2603
@SpencerC, anything I can do to help?

[2017-05-04 17:04] allenlavoie commented on #9654
This is a feature request (and came from StackOverflow). Assigning @ispirmustafa: I think we just want to special-case member functions?

[2017-05-04 17:06] rgov opened #9669 "Unsound GPU driver version scheme assumption in StringToDriverVersion"
Tensorflow's `cuda_diagnostics.cc` [here](https://github.com/tensorflow/tensorflow/blob/076799bdfae0057723d96f47cf78cb623c8bcd57/tensorflow/stream_executor/cuda/cuda_diagnostics.cc#L82) assumes that the GPU driver version will match `%d.%d.%d` but that doesn't seem to be a safe assumption.

[code]

In `FindDsoVersion()`, TF is parsing the name of the loaded libcuda library to get the version numbe

[2017-05-04 17:06] ispirmustafa commented on #9654
Yes this is a valid feature request.

[2017-05-04 17:08] drpngx commented on #9620
Here's the error:
[code]
It looks like something is wrong in your installation. Perhaps tensorflow is not loaded or linking properly there. You could try to install the protobuf library on all slaves, which might result in some instability.
/CC: @skye

[2017-05-04 17:11] lukaszkaiser commented on #550
With the old seq2seq code, I'd say 2 layers of 256 will just not work. 3 layers of 1024 should be fine. But you should really check out the google/seq2seq repo (https://github.com/google/seq2seq). It's a newer and much improved version of TensorFlow seq2seq models. It's may look a bit more complex than the tutorial at first, but if you're after quality and better-tuned models, it'll be worth your

[2017-05-04 17:18] flawless2011 commented on #9665
Great news, thank you!

[2017-05-04 17:20] martinwicke commented on #6680
Ok. I strongly believe that this issue is fixed. Please comment to reopen if this is an issue in 1.1 or at head.

[2017-05-04 17:20] #6680 closed

[2017-05-04 17:38] chris-chris commented on #9600
If there is no volunteer yet, can I try this issue?
I reviewed source codes of GRUCell, LSTMCell, and LayerNormBasicLSTMCell.
I think I can give it a shot.

[2017-05-04 17:38] jhseu commented on #7268
@edi-bice If you're on a Linux kernel older than 2.6.38, you'll have to disable jemalloc.

[2017-05-04 17:40] jhseu commented on #7268
@edi-bice Unfortunately, I don't have access to any machine with such old Linux kernels to test. That shouldn't happen if jemalloc is really disabled as far as I can tell.

[2017-05-04 17:50] skye commented on #9150
I think @suharshs is working on exposing C++ gradients in the C API, and can comment on the timeline.

[2017-05-04 17:54] vincentracine commented on #550
@lukaszkaiser Awesome suggestion thank you!

[2017-05-04 17:57] drscotthawley commented on #9651
Confirmed.  Changing from single quotes to double quotes on line 357 of configure fixed it for me.

For others: make that change in configure (or wait for the push), re-run configure, then do bazel build...everything works from there. :-)

[2017-05-04 18:19] asimshankar commented on #9662
@PKUEcho : So you want to compile essentially an arbitrary binary that uses the C++ API for graph construction for Android?

This seems more like a bazel question :), but the good news is that that the only difference between compiling for Android or for your host machine should be flags to bazel.

I suppose you could do one of the following:

- Modify [`benchmark.cc`](https://github.com/tensorflo

[2017-05-04 18:24] rylanchiu opened #9670 "InvalidArgumentError even finished feeding the values, maybe hidden bug of variable dependency"
I have defined two classes of models, `x` and `y`.

    class x():
        def __init__(self, x_inp1, x_inp2):
            # do sth...

        def step(self, session, encoder_inputs):
            input_feed = {}
            for l in range(encoder_size):
                 input_feed[self.encoder_inputs[l].name] = encoder_inputs[l]
            ...
            output_feed = [x_output]
            ret

[2017-05-04 18:25] flawless2011 commented on #9665
One more question, do you guys plan on making this available in jcenter?  It doesn't appear to be there as I would expect to see it in the `org.tensorflow` group on jcenter (and its not currently there).

[2017-05-04 18:42] andrewharp commented on #9665
Yes, we're currently in the process of doing so, will update here with final details when available.

[2017-05-04 18:45] Carmezim commented on #9670
Thank you for reporting, please fill the [issue template with all other information required](https://github.com/tensorflow/tensorflow/issues/new).

[2017-05-04 18:48] falcondai commented on #3936
I have done some ad hoc video visualization in the context of video prediction (https://github.com/tensorflow/models/issues/553). I am interested to help implement this as a plugin (much like the embedding visualizer) via GIF (and/or a web-compatible video format).

[2017-05-04 18:55] rylanchiu commented on #9670
@carlthome Thanks for your reply. I have provided some information below. But indeed I am not sure that whether it is really a bug or just I have built up the model in improper way. Could you please take a look at my code and see if I have done anything wrong? Thanks.

[2017-05-04 18:58] edi-bice commented on #7268
"really disabled" is the keyword. Apparently bazel clean did not really clean everything. In addition to .bazelrc the file .tf_configure.bazelrc remained even after a bazel clean and inside there jemalloc=true despite configure output stating "jemalloc disabled".

[2017-05-04 18:59] concretevitamin commented on #9633
Thanks for the report @tpet.

I am submitting a "fix" that instead of segfaulting, return a proper error status that requires both operands have matching shapes.  This has always been the assumption in the `SparseTensorDenseAddOp`, but was [not enforced](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/sparse_tensor_dense_add_op.cc#L56).  The patch should show up in mas

[2017-05-04 19:40] suharshs commented on #9150
Working on a change to include them into libtensorflow.so by default.

[2017-05-04 19:52] jhseu commented on #7268
Did you rerun ./configure? That file is deleted and updated again here:
https://github.com/tensorflow/tensorflow/blob/master/configure#L167

[2017-05-04 19:53] eaplatanios commented on #9150
@suharshs In case it helps, I found out that adding `"//tensorflow/cc:cc_ops"` and `"//tensorflow/cc:grad_ops"` to the `deps` of the `libtensorflow.so` cc_binary in the Bazel BUILD file does it.

[2017-05-04 19:57] suharshs commented on #9150
Thanks :) I think we currently link cc_ops in via the c_api dependencies so I am just adding grad_ops as a dependency to that.

[2017-05-04 20:19] andrewharp commented on #9664
@petewarden can correct me if I'm off base here, but I don't believe float16 support is something we're currently targeting.

Most of our attention on mobile is focused on quantized 8bit support, which should give you even better size gains and possibly performance as well. Support for quantizing graphs can be found in the [transform_graph](https://github.com/tensorflow/tensorflow/blob/master/tens

[2017-05-04 20:27] crowston commented on #9610
Same problem.

[2017-05-04 20:40] eaplatanios commented on #9645
I think this issue deserves a discussion related to [indexed slices](https://github.com/tensorflow/tensorflow/issues/9644) and their usefulness. My impression is that they are only used in the "gather" op gradient and whenever used in other contexts, they are almost always converted to full tensors. Is that true? In that case, is it really useful having a special "indexed slices" data structure?

[2017-05-04 20:41] skye commented on #9591
It seems like you might be accessing an old version of the site somehow. I'll ping our infrastructure team to see if they can look into this. In the meantime, if you have access to the github, you can look at the docs source directly:

Installation page: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/install/index.md
Community page: https://github.com/tensorflow/tensorflo

[2017-05-04 20:48] andrewharp commented on #9096
Closing; please respond with additional details if issue persists.

[2017-05-04 20:48] #9096 closed

[2017-05-04 21:11] dandelionmane commented on #9083
Happy to take a pull request that does this, it's literally just moving some HTML elements around in tensorboard/components/tf-tensorboard/tf-tensorboard.html. For it to immediate be tested in opensource, there should be a corresponding change to dist/tf-tensorboard.html

[2017-05-04 21:13] dandelionmane commented on #9056
Please provide a dataset (or code snippet) that reproduces this and we'll dig into it. @isaacgerg

[2017-05-04 21:15] dandelionmane commented on #9075
Ah, I think we have let the `let` keyword slip into our html files. It's safe when guarded by the TS compiler, but not when it makes it into html/js. Will fix.

[2017-05-04 21:44] isaacgerg commented on #9056
@dandelionmane  I've moved on from this issue - sorry but its been over 3 weeks.  I not longer get the problem based on my new training scheme, the number have a much larger derivative.  Feel free to close if you'd like.

[2017-05-04 21:58] dandelionmane commented on #9621
I'm going to mark this as a feature request and contributions welcome, and pingign @dsmilkov in case he wants to comment.

[2017-05-04 22:02] dandelionmane commented on #9075
Alternatively, maybe we can just enable strict mode?

[2017-05-04 22:04] dandelionmane commented on #9366
I don't think we still use the tensorboard_bower_dependency_sync to manage our dependencies, since we aren't updating bower. Pinging @jart for comment.

[2017-05-04 22:06] dandelionmane commented on #9372
Unfortunately, the TensorBoard team is not committing to supporting IE. If someone in the community wants to step up and support it themselves, we'll be happy to see that. Otherwise, please download Chrome or Firefox.

[2017-05-04 22:06] #9372 closed

[2017-05-04 22:08] dandelionmane commented on #9532
Yeah, the Event Accumulator is part of TensorBoard and was never actually exposed as part of the TensorFlow API (although we have mentioned it in the README). I wouldn't expect it to stay in the TensorFlow codebase indefinitely.

[2017-05-04 22:11] jart commented on #9366
That script is built in a way that's very specific to how Google's internal source code repository works, so it would not be something we could open source.

Would it be possible to tune the build by hand?

I also must warn you that the TensorBoard build process is very much in a state of flux right now. We're in the process of reworking the whole thing. So caution is advised.

[2017-05-04 22:11] #9366 closed

[2017-05-04 22:42] chihuahua commented on #9545
I need to take a look more closely, but I think calling `tf.scope` creates a new namespace in general, appending _[Some int] to the name if necessary for uniqueness.

This might deviate from your intention, but what if you move the `Encoder` scope outside of `encode` like this?

[code]

And then

[code]

?

[2017-05-04 23:18] timttate opened #9672 "tf.contrib.image.rotate errors under Windows"
### Description
Trying to use `tf.contrib.image.rotate` produces the error: `tensorflow.python.framework.errors_impl.NotFoundError: Op type not registered 'ImageProjectiveTransform'`. This appears to happen on Windows using both CPU and GPU, and does not appear to happen on Linux (Ubuntu 14.0.4, Tensorflow 1.0.1).

### Test Case
[code]

### Traceback
[code]

### System information
- Windows 10 Pro

[2017-05-04 23:25] chasep255 commented on #9509
Did you manage to make it anywhere debugging this?

[2017-05-04 23:25] protoget commented on #8566
@sullivak please try setting environment variable TF_AVGPOOL_USE_CUDNN=1.
By default we turn off cudnn if you use the default data_format setting in tf.nn.avg_pool.

[2017-05-04 23:31] zheng-xq commented on #8566
Good catch, protoget@!

In the past, we couldn't turn this flag on by default, because Cudnn handles boundary differently. Maybe we can try to enable it back again.

[2017-05-04 23:31] protoget commented on #9502
I've commented on #8566, please try setting TF_AVGPOOL_USE_CUDNN=1 and see if it fixes the bug.

[2017-05-04 23:51] drpngx commented on #9624
Thanks! Adding cross-link: #9652.

[2017-05-05 01:10] kdxtb commented on #8268
hi @satok16,

I also got some problems in using HVX accelaration.
here are the tools and enviroments info:
Hardware: Intrinsyc’s Open‐Q™ 820 Development Kit
OS: Ubuntu 16.04 64bits
Android Version: 6.0
Hexagon SDK 3.0
NDK Version: android-ndk-r10d  as tool in Hexagon SDK
I also follow the description in tensorflow/tree/master/tensorflow/contrib/hvx, running script like this 'QUALCOMM_SDK="/home/tf

[2017-05-05 01:32] PKUEcho commented on #9662
@asimshankar thanks for your reply! I'm missing some details here. So, basically you provide two solutions here, right?

- Inside the deps as following, I think I need to insert `//tensorflow/cc:cc_ops` after `//tensorflow:android` rather than `//conditions:default`? Because I think that's the true `deps` when I build it for Android.
`cc_library(
    name = "benchmark_model_lib",
    testonly = 1,

[2017-05-05 02:16] shijieKika commented on #6175
Thanks,I find the way to register.

[2017-05-05 02:39] qwertymj commented on #9621
ok, thx anyway :)

[2017-05-05 02:46] PKUEcho commented on #9662
@asimshankar I tried the second way you provided as following.
`bazel build -c opt \
  --crosstool_top=//external:android/crosstool \
  --cpu=armeabi-v7a \
  --host_crosstool_top=@bazel_tools//tools/cpp:toolchain \
  tensorflow:libtensorflow_cc.so`

But there are many errors such as `error: expected initializer before 'noexcept' memory_order __m) noexcept`. I think there's something about the comp

[2017-05-05 02:55] daiab opened #9675 "The tfrecords file is 8 times larger than raw image data"
I try to write a tfrecords file, but the file is larger than raw data.
[code]
but I write this 'example_string' to tfrecords file , the tfrecords file size become 192 kb, I cann`t understand why tfrecords file size serval times larger than 'example_string' and raw image data

[2017-05-05 03:15] allamtb commented on #9075
@jart @dandelionmane
   when I update the chrome  to version 57.0.2987.133 ,the issue disappeared.

[2017-05-05 03:20] #9532 closed

[2017-05-05 03:20] #8374 closed

[2017-05-05 03:54] reiinakano opened #9676 "Bug when trying to restore training from Inception-3 checkpoint with different trainable variables"
I have the pretty common use case of freezing the bottom layers of Inception and training only the first two layers, after which I lower the learning rate and fine tune the entire Inception model.

Here is my code for running the first part

[code]

which runs properly, then my code for running the second part

[code]

Notice that in the second part, I do not pass anything into `create_train_op`'s

[2017-05-05 04:16] njuzrs commented on #8191
@ebrevdo I meet the same error when running the sequence_to_sequence model on the tensorflow1.1 website. And I have try to use 'reuse' parameter but failed. Could you tell me when the new seq2seq tutorial will be released?

[2017-05-05 04:16] sdenton4 commented on #8729
Expanding dims for conv2d_transpose works fine for me.
One small gotcha is that your filter variables will need to be expanded on axis 0, not axis 1, since the conv2d uses the filter width, not filter height.  So:

new_x = tf.expand_dims(old_x, 1)
new_W = tf.expand_dims(old_W, 0)
deconv = tf.nn.conv2d_transpose(new_x, new_W, strides, output_shape)
deconv = tf.squeeze(deconv, axis=1)

[2017-05-05 05:27] chris-chris commented on #9643
@skye Thank you for the comment.
I built it again from source code.
Let me fix my tensorflow version to
`('v1.1.0-rc0-61-g1ec6ed5', '1.1.0')`

@drpngx Thanks! I'll check this issue from your link.
For `-lgcov`, I'll leave a comment when I found the solution for MacOS.

By the way, I ran the `bazel coverage` command on my ubuntu machine to avoid `-lgcov` issue.
And I got another problem.

[code]

A

[2017-05-05 05:35] #9651 closed

[2017-05-05 05:45] yeliex commented on #37
mark

[2017-05-05 05:59] haikuoyao opened #9678 "Convert magenta/image_stylization model on Android, but doesn't work"
I try [TF Stylize on Android](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android) and it works perfectly.  Also I find the training code of this [image stylization model](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/src/org/tensorflow/demo/StylizeActivity.java#L70). Its name is [magenta/image_stylization](https://github.com/tensorfl

[2017-05-05 06:10] guanlicome commented on #9678
I have the same problem.

[2017-05-05 06:13] funzhang commented on #9678
Mark~

[2017-05-05 06:21] SnailTyan commented on #9678
Similar problem.

[2017-05-05 07:28] spartucus commented on #9591
@skye Thanks.

[2017-05-05 08:11] benelot commented on #9612
Have you tried installing CUDA via the Nvidia provided installers and just proceeded in the installation? I never had issues with this.

[2017-05-05 08:11] chris-chris commented on #9643
I got the right reason for this issue.
Currently, bazel does not support `coverage` for python test codes.
And some people got it working now for C++.

Replied as below
[code]

[2017-05-05 08:34] IMG-PRCSNG opened #9679 "*tf_gen_op_libs* BUILD rule uses host toolchain even when crosstool wrappers are provided."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

     Yes. I have done the following changes.

     - I pulled the tensorflow branch - **v1.0.1**
     - [An ugly hack to compile on Tegra X1 /w Jetpack 2.3.1 release.](https://github.com/rwightman/tensorflow/commit/a1cde1d55f76a1d4eb806ba81d7c63fe72466e6d) - Added this for

[2017-05-05 08:37] foxik commented on #9519
BTW, duplicate of #9285.

[2017-05-05 08:37] foxik commented on #9285
Also reported in #9519.

[2017-05-05 08:41] sudhirshahu51 opened #9680 "I am not able to install tensorflow"
Collecting tensorflow
  Could not find a version that satisfies the requirement tensorflow (from versions: )
No matching distribution found for tensorflow

For info I am using Window 10 and Python 3.5.2
please help

[2017-05-05 09:07] wodesuck commented on #7162
Any progress? I meet the same issues as [reubne mentioned](https://github.com/tensorflow/tensorflow/issues/7162#issuecomment-283412259).

[2017-05-05 09:15] leo-p opened #9681 "Tensorboard Graph vizualisation crashes with Chrome/Safari"
### Server system information
[code]

### Local machine information
[code]

### Describe the problem
I'm running Tensorboard on a server and visualizing the graph on my local machine.

With the attached file that I generated using a custom script, Tensorboard crashes after a while of just moving the graph around or when I try to remove some modules from the main graph (100% crash after 4 modules r

[2017-05-05 09:46] haikuoyao commented on #9678
When I use [image stylization model](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/src/org/tensorflow/demo/StylizeActivity.java#L74), I got this log and looks correct:
[code]

This is when I use mine. not right...
[code]

[2017-05-05 09:54] mcenderdragon commented on #9680
Hi I am have currently the same problem. It helped to follow the steps [here](http://stackoverflow.com/questions/38896424/tensorflow-not-found-in-pip). But now I am having the problem `import tensorflow` crashes.

[2017-05-05 10:08] vinay-hebb opened #9682 "Unable to run GMM estimator in TF 1.1 but I can run in TF 1.0"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: custom code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 7 64 bit
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.1 (tensorflow-1.1.0-cp35-cp35m-win_amd64)
- **Bazel version (if compiling fr

[2017-05-05 10:14] hicham-eyeem commented on #9664
@andrewharp thank you for the feedback. I am familiar with the 8bit quantization tool. Unfortunately, it results in a major drop in performance in my case. Probably because the network uses a custom activation (not ReLU, but something similar to ELU) while the quantization tool is (I believe) optimized for the ReLU activation. Also, I would like to use a higher precision than 8-bit for my problem,

[2017-05-05 10:31] ngc92 commented on #6007
What about the following use case:
I am observing the gradients in my model with summary operations, but there are two separate parts of the codes where gradients are calculated. However, I would like the summaries to go into the same name scope.

[2017-05-05 10:40] tpet commented on #9633
@concretevitamin I agree raising an exception is much better. The "sparse + dense -> dense, with dense-to-sparse broadcast" really seems not that much useful, compared to "sparse + dense -> sparse, with dense-to-sparse broadcast". Now I actually don't need this particular thing.

My initial use case was a bit different. In the process of trying to get some reasonable behavior I happened to find th

[2017-05-05 10:50] tpet commented on #9633
I'm using a pip installation so it will take some time until it propagates down to me so feel free to close the issue if you think it is resolved. Thanks.

[2017-05-05 11:04] albertz commented on #6007
Note that I have implemented this function myself [here in `reuse_name_scope`](https://github.com/rwth-i6/returnn/blob/master/TFUtil.py#L491). This is a bit ugly right now because I wanted it to support both the variable scope and the name scope.

[2017-05-05 11:07] vaibhavsood opened #9683 "tf.avg_pool fails for data format "NCHW" on ppc64le"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-05-05 11:46] alquraishi commented on #9370
And updates on this?

[2017-05-05 13:08] mcenderdragon opened #9685 "[Java][Suggestion] Add Enum with all Operations"
Currently it is hard for beginners to start with the Java API of TF. Mostly because the function names staed in the python tutorial do not apply to the Operation names used in Java. It would be nice if we had an Enum Containing all standart possible Operations.

`grapth.opBuilder(type, name)`

I am currently struggling to find out what the correct name of "Multiply" is.
I have digged my way thorgh

[2017-05-05 13:45] rmaelongakit commented on #9599
issue solved..

Your answer at the top is correct.

[2017-05-05 13:46] rmaelongakit commented on #9599
Thank you.. @andrewharp

[2017-05-05 14:36] praneethmendu commented on #7522
Had the same problem it was solved by ::

sudo ldconfig /usr/local/cuda/lib64

many online tutorials are recommending :

sudo chmod a+r /usr/lib/x86_64-linux-gnu/libcudnn*

but it dont help and making a *.so file dosent make sence to me

[2017-05-05 14:47] ebrevdo commented on #8191
Looks like at the same time as tf 1.2, since we will rely on some new
features of that release.

On May 4, 2017 9:16 PM, "njuzrs" <notifications@github.com> wrote:

[2017-05-05 14:51] ebrevdo commented on #9600
If making API changes I encourage sooner rather than later. They should be
backwards compatible. I'll move rnncells back to core soon and it will be
harder to make changes after that.

On May 4, 2017 10:38 AM, "Chris Hoyean Song" <notifications@github.com>
wrote:

[2017-05-05 15:01] #9599 closed

[2017-05-05 15:02] ebrevdo commented on #9588
It's not currently a high priority, I think we may end up creating a
different object that's optimized for math operations.  In the meantime,
PRs that extent sparsetensor functionality are welcome.

On May 2, 2017 9:49 AM, "andydavis1" <notifications@github.com> wrote:

[2017-05-05 15:11] kzos commented on #9428
@girving , @satok16 : `undefined reference toinception_dummy_int_data_224x224'`
this error comes when debug option is enabled,
I am checking how to get rid of 224x224 when debug is enabled.
meanwhile I am successful in running 229x229.

Could you please check how to provide proper build as well runtime fix for debug option enabled.

[2017-05-05 15:12] hadware commented on #9285
Broken for me as well.

OS: Linux Ubuntu 16.04
installed binary via pip3

[2017-05-05 15:24] taion commented on #9285
This regression happened somewhere between rc1 and rc2, BTW.

[2017-05-05 15:29] kevinashaw commented on #7522
Thanks.  I found the FAQ from tensorflow.  I had to reinstall libcudnn.so.  -K

[2017-05-05 15:29] xiejw commented on #7794
I think this was already fixed. session_config could be set in RunConfig now  [1] and used by Estimator.

[1] https://github.com/tensorflow/tensorflow/blob/076799bdfae0057723d96f47cf78cb623c8bcd57/tensorflow/contrib/learn/python/learn/estimators/run_config.py#L233
[2]
https://github.com/tensorflow/tensorflow/blob/076799bdfae0057723d96f47cf78cb623c8bcd57/tensorflow/contrib/learn/python/learn/estima

[2017-05-05 15:29] #7794 closed

[2017-05-05 15:36] andrewharp commented on #6385
Another update: libtensorflow_demo.so is now an optional library. If not present, YUV->RGB color conversion will be performed in Java (possibly slower), and object tracking will be disabled in the TF Detect demo, but otherwise things will work as usual.

This means the demo can be built on Windows with just the [prebuilt tensorflow.aar](http://ci.tensorflow.org/view/Nightly/job/nightly-android/las

[2017-05-05 15:49] markostam opened #9688 "Tensorboard "Color by" drop-down not showing up on multi-column .tsv"
------------------------

### System information
- **using tensorboard to visualize some embeddings**:
- **OSX 10.12.4**:
- **installed from binary via pip**:
- **1.1.0**:
- **not using bazel for this install**:
- **no CUDA**:
- **no GPU**:

### Describe the problem
Tensorboard does not display the ```Color By``` dropdown menu on multi-columnar data. ```Label by``` and ```search by``` displaying c

[2017-05-05 15:49] eaplatanios commented on #9685
Given that attribute names may also generally differ, the only "principled" way to do this would be to either automatically generate code for constructing ops (which can be ugly) or manually add functions that create all supported ops. The Python API currently uses a mixed approach. If you can be a little patient, I have been working on a Scala API that does that and adds a lot more of the Python

[2017-05-05 15:54] jbedorf commented on #9634
I ran into this same problem and had to make an additional change apart from the one mentioned by @momeara to get it to build:

In the file   tensorflow/stream_executor/cuda/cuda_dnn.cc
Change:
#include "cuda/include/cudnn.h"
into:
#include "cuda/cudnn.h"

[2017-05-05 15:54] dilipsonnaila opened #9689 "ImportError: No module named tensorflow"
ImportError                               Traceback (most recent call last)
<ipython-input-3-ac22e13aedab> in <module>()
      1 import numpy
----> 2 from keras.datasets import mnist
      3 from keras.models import Sequential
      4 from keras.layers import Dense
      5 from keras.layers import Dropout

C:\Users\Dilip\Anaconda2\lib\site-packages\keras\__init__.py in <module>()
      1 from __fu

[2017-05-05 15:55] dilipsonnaila commented on #9689
can anyone help me step by step process to fix the errors

[2017-05-05 15:57] #9593 closed

[2017-05-05 15:58] mcenderdragon commented on #9685
ohh that would be great. It is currently realy annoing to not know what op names are. for example I could not find anything what "tf.global_variables_initializer" would be in java.

[2017-05-05 16:14] eamartin opened #9690 "Make EIGEN_MAX_ALIGN_BYTES available from Python"
Removing unnecessary memcpys when feeding a Numpy array with a feed_dict is a [recurring feature request](https://github.com/tensorflow/tensorflow/issues/7951) that has large performance implications.

From what I can tell, @alextp [implemented changes](https://github.com/tensorflow/tensorflow/commit/0ffa40ee3d5fae4ff14b75c2525edcaa2f01ece7) that avoid the memcpy if the input array is ``EIGEN_MAX_

[2017-05-05 16:16] kzos opened #9691 "hexagon_graph_execution runs for only one test and gets stuck there. Cannot execute until restart of target."
OS: Ubuntu 16.04 64bits
Android Version: 7.1 (Nougat)
NDK Version: android-ndk-10b
HEXAGON SDK: 3.1
nnlib source: https://source.codeaurora.org/quic/hexagon_nn/nnlib

[code]

---

After this log, hvx session doesn't respond, suspicion is dsp/rpc session is not getting closed properly.
kill the process and again try to run the process, it gets stuck at :

[code]

please try to reproduce.

[2017-05-05 16:28] kzos opened #9692 "request for updating readme in https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/hvx"
OS: Ubuntu 16.04 64bits
Android Version: 7.1 (Nougat)
NDK Version: android-ndk-r10b
HEXAGON SDK: 3.1
nnlib source: https://source.codeaurora.org/quic/hexagon_nn/nnlib

Following steps to get tensorflow up on hexagon from `https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/hvx`
1) Please update `git clone https://source.codeaurora.org/quic/hexagon_nn/nnlib` with
`git clone --re

[2017-05-05 16:46] rkeisler commented on #9502
Yes, setting TF_AVGPOOL_USE_CUDNN=1 fixes the bug.  Thanks for looking into this.

[2017-05-05 16:49] #9502 closed

[2017-05-05 16:50] satok16 commented on #9428
Hi @kzos.  Sorry for the delay.
Currently, the nnlib only supports Hexagon_SDK 3.0, not 3.1.  Actually these different SDKs are not compatible.  If you want to use SDK 3.1 you need to modify glue files a bit.

Can you try using SDK3.0 first?

[2017-05-05 16:57] yaroslavvb commented on #9690
You can do it as a custom op callable from Python. Here's an example -- https://github.com/yaroslavvb/max_align_bytes_op  . It prints 16 on my mac. But how would you force your numpy arrays to be 16-byte aligned?

[2017-05-05 17:02] singlasahil14 opened #9694 "Possible bug in TensorFlowInferenceInterface"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-05-05 17:02] Koshub commented on #9476
Have same thing:

  device='CPU'; T in [DT_FLOAT]
	 [[Node: GRU-RNN/rnn/while/Less = Less[T=DT_INT32](GRU-RNN/rnn/while/Merge, GRU-RNN/rnn/while/Less/Enter)]]

even after adding `__ANDROID_TYPES_FULL__` option:
[code]

[2017-05-05 17:08] ethanluoyc commented on #9545
@chihuahua Nope this won't work. You would obtain something that's even weirder.

![image](https://cloud.githubusercontent.com/assets/6040760/25756118/81e85bee-31bd-11e7-9ad3-016893b18d14.png)

The reason I think this is not the intended behavior is because. In some settings, it's really common to take a part of the computation graph as a module and take input from different sources. It turns out

[2017-05-05 17:08] eamartin commented on #9690
I believe the value changes depending on how TensorFlow was compiled. For instance, I'd guess ``EIGEN_MAX_ALIGN_BYTES == 16`` means you compiled with SSE support, and I'd expect a value of 32 for AVX or 64 for AVX-512.

Getting aligned memory from Numpy is harder than it should be: https://github.com/numpy/numpy/issues/5312 . The only way I know of to get aligned memory from Numpy is to just align

[2017-05-05 17:13] SrivastavaKshitij commented on #9689
Did u install tensorflow in root directory of anaconda or created a virtual environment ? If you created a virtual environment then you need to activate it.

[code]

[2017-05-05 17:13] SrivastavaKshitij commented on #9680
Use anaconda. it is much easier to maintain dependencies .

[2017-05-05 17:14] alextp commented on #9690
Yaroslav, why an op and not a swigged python-c-api function?

On Fri, May 5, 2017 at 10:10 AM, Eric Martin <notifications@github.com>
wrote:

--
 - Alex

[2017-05-05 17:24] yaroslavvb commented on #9690
Because I just forked my https://github.com/yaroslavvb/memory_probe_ops and changed 3 lines :) SWIG is probably better (wondering what happened to [PyClif](https://pypi.python.org/pypi/pyclif/0) ...)

[2017-05-05 17:32] goldsborough commented on #4841
Had to also export `CUDNN_INSTALL_PATH` for Bazel to recognize CuDNN.

[2017-05-05 17:35] kzos commented on #9428
Hi @satok16 , I tried in 3.0/3.1 as well,
Release build is working fine.
when i tried `android_Debug_aarch64`,
`debug` option gets set somehow and **it has side effects of inception version getting set to 1**

under version 1: toinception_dummy_int_data_224x224 gets used.

i have added new changes in glue to build for android_Debug_aarch64 and pick proper adspmsgd in target/make/android.min.

so c

[2017-05-05 17:35] lababidi commented on #2412
@asimshankar Once `//tensorflow:libtensorflow_cc.so` is built, what are the next steps to compiling, linked  a new program properly? I have yet to see any docs regarding this. Could you paste a very simple example, please?

[2017-05-05 17:35] jeansely opened #9695 "convert a tensor to matrix"
Hi,
 output of first layer cnn , "if  input was a image with size[100,150] then the output layer is a tensor (1,100,150,32)"
for slicing The first image from all 32 output images, i used this code:
conv1 = tf.layers.conv2d( image, filters=32, kernel_size=[5, 5], padding="same", activation=tf.nn.relu)
first_image=slice(conv1,[0,0,0,0],[1, 100, 152, 1])

has the Tensorflow  a command for convert a t

[2017-05-05 17:45] andrewharp commented on #9694
@keveman This sort of behavior is expected when using non-square inputs, correct?

@singlasahil14 As a workaround, you might try padding the image on top and bottom so that it is square, stylizing, and then re-cropping.

[2017-05-05 17:53] satok16 commented on #9428
I see.  That seems to be a bug caused by a difference of compile options.  "inception_dummy_int_data_224x224" is a dummy input data which can be arbitrary binary.  So if you just want to pass the build, please try just putting
`uint8_t inception_dummy_int_data_224x224[224*224*3] = {};
in tensorflow/contrib/hvx/hexagon_controller/src_dummy_data/inception_v3_dummy_int_data.c

Let me know the compile

[2017-05-05 18:09] kishorenayar opened #9696 "Epoch is not working properly for tensorflow keras - KerasRegressor"
I'm just getting start with Keras using tensorflow, In the code code I have specified **nb_epoch=100** but it's not running for 100 epoch, instead it's executing only for 10 epoch. I wonder is there any bug in my code. Also attaching the output in the bottom

**Code:**

[code]

**Output:**

[code]

[2017-05-05 18:10] rajivkapoor opened #9697 "Tensorflow build from sources fails"
### System information
Tensorflow build from TF 1.1 sources cloned from GIT fails.  This was working a couple of days ago on the same machine.

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04, kernel 4.4.0-75-generic
Hardware: Skylake server, nVidia P4

- **TensorFlow installed from (source or binary)**:
Source

- **TensorFlow version (use command below)**:
I believe is

[2017-05-05 18:15] kzos commented on #9428
oh, that should fix the build, thanks.
but i am not sure that will have its effect at run-time.
I am going through src code, meanwhile if you have right fix for selecting inception v3, please do share.

thanks,

[2017-05-05 18:17] ppwwyyxx commented on #9675
Because you use Int64List.

[2017-05-05 18:18] kzos commented on #9691
Hello @satok16 , you have anything to comment on this.?

[2017-05-05 18:20] satok16 commented on #9428
No worries, the change won't be a problem as long as you don't use this dummy input by modifying the code.  If you want to use dummy input, you need to put binary data here either way.

[2017-05-05 18:20] concretevitamin commented on #9633
Okay, closing for now.  For the reduce, take a look at `tf.sparse_reduce_sum()` and/or `tf.sparse_reduce_sum_reduce()`.

[2017-05-05 18:20] #9633 closed

[2017-05-05 18:23] Kankroc commented on #9201
I am experiencing the same issue with TF and I too believe `tf.ConfigProto(device_count={'GPU': 0})` should imply `export CUDA_VISIBLE_DEVICES=""`. I'd like to be able to use my GPU for specific tasks without setting up a second env.

[2017-05-05 18:23] satok16 commented on #9691
That seems to be a qualcomm's firmware issue.  Once the firmware gets stucked, there is no way to recover from tensorflow side.

[2017-05-05 18:25] dandelionmane commented on #9519
Thanks for the report. Both of these issues are fixed at master, so they won't be present in the next release.

[2017-05-05 18:25] #9519 closed

[2017-05-05 18:25] dandelionmane commented on #9285
Thanks for the report. This is fixed at master, so the bug won't be present in the next release.

[2017-05-05 18:25] #9285 closed

[2017-05-05 18:40] kzos commented on #9691
okay, lookslike,

i have few queries,
[code]
after this log, tf is not returning to shell (any more tests to run further?)
it is stuck somewhere, maybe,
hexagon de_init is not happening,

just to make sure things are happening well at ARM - init/deinit of DSP, fast rpc etc.

further will check from Qcom.

thanks,

[2017-05-05 18:54] kevinashaw opened #9699 "RNN: InvalidArgumentError when adding InitialState"
Please go to Stack Overflow for help and support:

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes.  The current stock examples are pre-TF1.0 and do not run.  I have already posted an issue regarding them. (https://github.com/tensorflow/tensorflow/issues/9294#issuecomment-294944970)
- **OS Platform and Distribution (e

[2017-05-05 19:01] eamartin commented on #9690
@alextp A Python / C API function is the way to go. It's a nicer interface and would be tricky to be correct otherwise (for reasons explained in my sneaky edit/update of my previous comment).

[2017-05-05 19:02] chris-chris commented on #9600
@ebrevdo Okay, I'll make it quick.

There are two tasks.
1. Add initializer parameter to GRUCell, MultiRNNCell
I've done this issue. I'll make a PR for this one first.

2. Add layer_norm, norm_gain, norm_shift parameters
 to TimeFreqLSTMCell, CoupledInputForgetGateLSTMCell, GridLSTMCell, BidirectionalGridLSTMCell ( all LSTMCells in rnn_cell.py )

[code]

This issue will take some more time to appl

[2017-05-05 19:32] Androbin commented on #9689
Have you paid attention to which version of Python (and Pip) you used during setup?

[2017-05-05 19:36] Androbin commented on #9694
Could it be that you mixed up the image width and height? For example, the common format is [batch, height, width, depth], so you may want to check that.

[2017-05-05 19:44] Androbin commented on #9664
From the description of the `quantize_weights` transform:

Could it be that your loss in precision is (similar to) this kind of numerical hiccup?

[2017-05-05 20:01] MMCMA opened #9701 "Tensorboard does not show any scalers or graphs"
System information

    Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
    OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win10
    TensorFlow installed from (source or binary): binary, installed via pip
    TensorFlow version (use command below): 1.1.0
    Bazel version (if compiling from source):na
    CUDA/cuDNN version: na
    GPU

[2017-05-05 20:17] reiinakano commented on #781
Is there a way to randomly rotate images, a `random_rotation` similar to `random_saturation` for augmentation purposes? I've looked and looked and can't seem to find anything for such an obvious use case.

[2017-05-05 20:29] alextp commented on #9690
@rohan100jain do you know if it's easy to add a swig-wrapped function somewhere in contrib?

[2017-05-05 20:30] fchollet commented on #9696
You should use the keyword `epochs`, not `nb_epochs` (which is deprecated).

[2017-05-05 20:30] #9696 closed

[2017-05-05 20:40] andydavis1 commented on #9680
Please reopen if the referenced steps on StackOverflow did not resolve the issue.

[2017-05-05 20:40] #9680 closed

[2017-05-05 20:49] asimshankar commented on #2412
@lababidi : There are no docs about this yet since it is not something we currently support. @skye is looking into packaging, but this not something that has gotten priority at the moment given all the other pursuits. In particular, the built shared library and all the header files need to be packaged.

Note though, you can still use bazel to build C++ programs as in https://www.tensorflow.org/api

[2017-05-05 20:51] andydavis1 commented on #9676
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-05 20:51] #9676 closed

[2017-05-05 20:54] ringw commented on #781
I would say to just chain it, something like this:

    tf.contrib.image.rotate(images, tf.random_uniform([num_images], maxval=2*math.pi))

But since we already have `random_saturation`, probably best if I add a `random_rotation` too for consistency.

[2017-05-05 20:55] asimshankar commented on #9662
@PKUEcho : What errors were you getting when you tried to build `benchmark_model`?

(Based on updates in #2412 - I'd avoid that second suggestion altogether for now, though the errors you're seeing are different, but it seems using `libtensorflow_cc.so` isn't convenient yet)

That said, CCing @andrewharp in case he has ideas, but marking this as "community support" since building native binaries u

[2017-05-05 20:57] andydavis1 commented on #9670
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-05 20:57] #9670 closed

[2017-05-05 20:58] andydavis1 commented on #9644
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-05 20:58] #9644 closed

[2017-05-05 21:00] andrewharp commented on #9678
@haikuoyao The stat_summarizer spam might be due to changing the input size while the debug mode is active (making the sizes of all the tensors change). Is this the case? If so you can safely ignore those log messages.

Do you see anything else in the log that might indicate an issue?

@guanlicome @funzhang @SnailTyan To be clear you're all experiencing the same problem after following the steps @

[2017-05-05 21:01] andydavis1 commented on #9612
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-05 21:01] #9612 closed

[2017-05-05 21:02] janLuke opened #9702 "Installation instructions for conda install tensorflow in the root environment"
The [instructions](https://www.tensorflow.org/install/install_linux#InstallingAnaconda) say to
1. create a new **empty** environment
2. activate it
3. install tensorflow via pip.

But pip is not installed in the new environment, so the third command will call the first pip inside the PATH system variable, that usually is the pip installed in the root conda environment. The ultimate result is that

[2017-05-05 21:08] andrewharp commented on #9662
Right, unifying the android_* libs with the other cc_library TF targets isn't really something on our radar.

However, if you take a look at https://github.com/tensorflow/tensorflow/pull/9563, they manage to build cc_ops into an Android binary, so that might be a possible route to investigate.

[2017-05-05 21:15] andydavis1 commented on #9572
Please re-open if you can reproduce on a GPU with enough memory.

[2017-05-05 21:15] #9572 closed

[2017-05-05 21:40] taion commented on #8994
Any update on this? This isn't a performance bug – it's a usability issue.

[2017-05-05 21:41] taion commented on #9285
I am seeing this fixed on the nightly. Thanks!

[2017-05-05 21:46] arrufat opened #9703 "pkg-config file generation"
Hi! I was wondering if a pkg-config file for the tensorflow library (`libtensorflow.so`) could be added so that depending projects could use it more easily.

For the current stable version (`1.1.0`), if we installed it into `/usr` (which should be configurable), the generated pkg-config file `tensorflow.pc` should look something like:
[code]
Thanks in advance :)

[2017-05-05 22:07] agupta74 opened #9705 "atrous_conv2d does not support NCHW format"
Any plans to support NCHW format for atrous_conv2d?  As per the performance guidelines on TensorFlow website,  ops using NCHW format is faster than NHWC format for GPUs.

[2017-05-05 22:15] sguada commented on #9548
Can you try two things:
- Use directly the alexnet_v2 network
- Use just try using images = tf.random_normal([FLAGS.batch_size, image_size, image_size, 3], dtype=tf.float32, stddev=1e-1)

[2017-05-05 22:25] arrufat commented on #9703
I'd like to make a pull request, but I don't know how you would prefer this to be implemented.
I've just written a small shell script that generates this pkconfig file for a given prefix.
It coud be run as `./generate-pc.sh /usr`:
[code]
Yes, I know, the way I get the version is not the best...

[2017-05-05 22:39] sguada commented on #1122
So if `is_training` is a `Variable` or a `Placeholder`, it means it can change, so the graph to compute the moments is needed, so the layer builds it.
Then in running time depending on the value being `True` or `False` would use the batch `moments` or the `moving_mean` and `moving_variance`.

[2017-05-05 22:47] emchristiansen commented on #9202
@bhairavmehta95 do you intend to implement this?
If not I might give it a shot or try another approach.

@yaroslavvb that's the paper I linked to in the first post :)

[2017-05-05 22:57] andrehentz commented on #9301
Sorry @kwotsin . I don't know what those errors are about. I usually build like this:
[code]
I just tried them.
(The full instructions are on tensorflow's website)

[2017-05-05 23:41] wangwenqi1990 opened #9707 "ar"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-05-05 23:45] jart commented on #9614
It's worked for me in the past when I configured it as follows:

[code]

Since you're chrooting the app, you need to take into consideration that asset and XHR requests get sent to a whole bunch of other endpoints (e.g. /data, /runs, etc.) using absolute paths.

Refactoring TensorBoard to make all asset requests relative, and then maybe rooting XHRs under a single prefix like `/_/tensorboard/` wou

[2017-05-05 23:58] saurabh203 opened #9708 "tf.random_crop exception after upgrading to tf1.1 from tf1.0"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-05-06 00:34] haikuoyao commented on #9678
Thanks. @andrewharp

I didn't see anything else in my log and don't find any doc about how to convert `ckpt` model to `stylize_quantized.pb`?

I wonder did I use the correct way to this?
And [magenta/image_stylization](https://github.com/tensorflow/magenta/tree/master/magenta/models/image_stylization) is the training code of this model, right ?

[2017-05-06 00:34] aayars commented on #7585
Also fixed for me in 1.1.

[2017-05-06 00:46] jlebar opened #9709 "Missing image in https://www.tensorflow.org/api_docs/python/tf/gather"
### System information
n/a

### Describe the problem

https://www.tensorflow.org/api_docs/python/tf/gather includes an image, https://www.tensorflow.org/api_docs/images/Gather.png, but this does not exist.  Gather.png doesn't seem to exist anywhere in the TF repository.

[2017-05-06 00:47] protoget commented on #6466
CudnnRNN dropout  change is submitted, please keep an eye on the nightly builds.

[2017-05-06 01:00] drpngx commented on #9707
Looks like this was submitted in error.

[2017-05-06 01:00] #9707 closed

[2017-05-06 01:03] drpngx commented on #9695
You can reshape a tensor using `tf.reshape`, if that's what you need.

There might be a function here: https://www.tensorflow.org/api_guides/python/array_ops#Shapes_and_Shaping that might help you.

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions

[2017-05-06 01:03] #9695 closed

[2017-05-06 01:04] drpngx commented on #9703
@yifeif is that something we'd like to have or should it be in a separate repo?

[2017-05-06 01:07] drpngx commented on #9697
What gcc version?

/CC: @rmlarsen

[2017-05-06 01:31] #9075 closed

[2017-05-06 01:33] drpngx commented on #9689
Looks like you have a broken installation of tensorflow. Please try to re-install, and as @SrivastavaKshitij suggest, active.

[2017-05-06 02:04] lw394 opened #9710 "Error restoring checkpoints using tf.estimator.Estimator or tf.contrib.learn.Estimator, If moved since training"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.1
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN version**: 8.0/5.1

[2017-05-06 02:25] rajivkapoor commented on #9697
gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.4)

[2017-05-06 03:03] frischzenger opened #9711 "eval() error about variable_scope()"
I run the code from official tutorial:
https://www.tensorflow.org/programmers_guide/variable_scope

[code]
**the problem as below**:
Cannot evaluate tensor using `eval()`: No default session is registered. Use `with sess.as_default()` or pass an explicit session to `eval(session=sess)`

[code]

**when i try with session the problem changed as below:**

Attempting to use uninitialized value foo/v

[2017-05-06 03:10] ruanxt opened #9712 "Resize image for nd"
Is there a functionality of resize image for n-d where n > 2? It seems currently tensorflow only support resize images for 2d images (4D tensor). Could you add the functionality?

[2017-05-06 03:15] chenweiqian commented on #8922
@ramarajan09 hi, could you tell me how to run yolo model ?thanks！！

[2017-05-06 03:26] burness commented on #6727
@gmacleod  Thanks for pointing out this solution! It happened in R1.1 too

[2017-05-06 03:36] JiaoLiu commented on #9678
There are some **Nans** in the **ckpt** you downloaded from the wed.
You should get rid of them. Then you will get right outputs on the mobile device.

[2017-05-06 04:05] kemaswill commented on #9709
I think this has already be fixed by this commit: https://github.com/tensorflow/tensorflow/commit/7c3ad6569611aac36fd2527030bf98fb8756919f
Seems that the tensorflow.org does not update.

[2017-05-06 04:11] incognito8642 opened #9713 "Exception during running the graph: Unable to get element from the feed as bytes."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.1.0
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN version**:
- **GPU model and me

[2017-05-06 04:17] chris-chris commented on #9600
https://github.com/chris-chris/tensorflow/commit/a9ddcbddddb3d8a375c1e128d3c21b78e8bef2f6

I applied layer normalization to CoupledInputForgetGateLSTMCell.
But I'm not sure that this is the right application. So I need some reviews.
I didn't make a PR yet.

Please leave a comment if you have any feedback.

I'm now reading the references for layer normalization now...

[Reference]
https://arxiv.org

[2017-05-06 05:40] CapCap commented on #8976
@fvisin Did you ever determine the cause of this? I'm experiencing the same problem.

[2017-05-06 05:43] shree-ranga opened #9714 "Tensorflow causes SIGSEGV in numpy"
x_train Examples Loaded = (55000, 784)
y_train Examples Loaded = (55000, 10)

[ 0.  0.  1.  0.  0.  0.  0.  0.  0.  0.]
[New Thread 0x7ffff2211700 (LWP 6011)]
[New Thread 0x7ffff2a12700 (LWP 6012)]
[New Thread 0x7fffd33a4700 (LWP 6013)]
[Thread 0x7fffd33a4700 (LWP 6013) exited]
[Thread 0x7ffff2a12700 (LWP 6012) exited]
[Thread 0x7ffff2211700 (LWP 6011) exited]

Program received signal SIGSEGV, Seg

[2017-05-06 06:15] PKUEcho commented on #9662
@asimshankar @andrewharp Thanks for your help. After reading the [#9563](https://github.com/tensorflow/tensorflow/pull/9563), I found that I missed the flags `--cxxopt="-std=c++11" --cxxopt="-DTENSORFLOW_DISABLE_META"` which makes my previous compilation fail. Though I'm not sure why in other cases such as [benchmark_mode](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/bench

[2017-05-06 06:47] yhg0112 opened #9715 "[inputs] instead of inputs for rnn_cell?"
In current rnn_cell implementation, It gets inputs as 2-d tensor for cell inputs,

Hence embedding layer before the actual rnn_cell gets a little bit annoying for making 'decoder'.

I really like the "wrapper" concept in current implementation that expand by each layer with embedding, residual net, or dropouts.

If rnn_cell gets list of '2-d' tensor like [inputs1, inputs2, ...], then the concept o

[2017-05-06 06:56] yhg0112 opened #9716 "applying different batch_sizes for each buckets in bucketd_rnn?"
I've found an obvious fact that, in seq2seq model with buckets(especially in NMT applications), the shorter buckets takes extremely smaller memory size in GPU than the longer buckets in same batch_size in both training and inferencing; i.e 64 sentences for (5, 10) takes extremely smaller memory size than 64 sentences for (30, 40).

Then why don't we have different bucket sizes for each bucket?

Ac

[2017-05-06 07:06] sharathts commented on #8840
Did you finally get the decoder to work ?  I'm trying  to implement something similar with 1.1 but the helpers are a bit of a mystery to me right now , specifically where exactly do we use the training and output helpers. If you could share a sample of working code, it would be great !

[2017-05-06 07:10] suiyuan2009 commented on #7128
I find MKL is already supported in the latest tf code...

[2017-05-06 07:51] MisayaZ commented on #1122
@sguada @brando90
``def batch_norm_layer(self, x,train_phase, scope_bn):
        bn_train = batch_norm(x, decay=0.9, center=False, scale=True,
        updates_collections=None,
        is_training=True,
        reuse=None,
        variables_collections= [UPDATE_OPS_COLLECTION],
        trainable=True,
        scope=scope_bn)
        bn_inference = batch_norm(x, decay=0.9, center=False, scale=True,

[2017-05-06 08:17] soloice opened #9717 "feature request: support placeholder for parameter k in tf.nn.in_top_k"
Currently [`tf.nn.in_top_k`](https://www.tensorflow.org/api_docs/python/tf/nn/in_top_k) requires an int as `k`, while [`tf.nn.top_k`](https://www.tensorflow.org/api_docs/python/tf/nn/top_k) does support a 0-D int32 Tensor as parameter `k`. This is kind of inconsistent and inconvenient.

Is it possible to allow `k` to be a 0-D int32 Tensor in `tf.nn.in_top_k`?

[2017-05-06 08:25] yhg0112 commented on #9635
i believe that @Songweiping is correct and that is specified on the Luong's paper if i remember correctly.
for your information, i'd implemented both and they actually had no significant difference in final performance for NMT tasks(in both log-perplexity and BLEU).

[2017-05-06 09:03] hujunyao opened #9718 "compile error C2064 when I use cmake(vs2015) to make windows binary"
I follows the instructions (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/cmake  ) to compile the tensorflow in windows ( compiler vs2015)

I use
    cmake .. -A x64 -DCMAKE_BUILD_TYPE=Release -DSWIG_EXECUTABLE=D:/swigwin-3.0.12/swig.exe -DPYTHON_EXECUTABLE="D:/Program Files/Python 3.5/python.exe" -DPYTHON_LIBRARIES="D:/Program Files/Python 3.5/libs/python35.lib" -Dtensor

[2017-05-06 10:15] MarkDaoust commented on #1574
It looks like you've got one too many `tensorflow` in your `src_dir` path.

It turns out that `os.walk` doesn't throw an error for a non-existant directory.

Fixes are in the pipeline for that example line of code, and adding clear error-messages. to the doc-generator.

[2017-05-06 10:53] sudhirshahu51 commented on #9680
@SrivastavaKshitij  I am facing the same problem also on anaconda after installing the those two packages

[2017-05-06 11:34] OktayGardener commented on #1122
I tried creating two models like @sguada said, however, my model where is_training=False just crashes.

[code]

I feel like maybe there should be a concrete example of how to do a batch norm with a fully connected net, as well as with CNNs. Sucks that I've trained models for days expecting things to work before seeing that everyone trying to use this feature going crazy.

Interestingly enough, it

[2017-05-06 11:35] sudhirshahu51 commented on #9680
C:\Users\Sudhit>pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-1.1.0-cp35-cp35m-window.whl
tensorflow-1.1.0-cp35-cp35m-window.whl is not a supported wheel on this platform.

how I will know which we will be supported whell for my platform?

[2017-05-06 11:38] carlthome opened #9720 "tf.while_loop swap_memory=True when not running train_op, does it always swap?"
From the documentation of `tf.while_loop`:

But **after** having trained, is TensorFlow's engine smart enough to avoid swapping even if `swap_memory=True` or should [optimize_for_inference.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/optimize_for_inference.py) flip swap_memory (i.e. make the equivalent modifications to the graph)?

Naturally this only applies to

[2017-05-06 12:01] Cooper-Yang opened #9721 "Feature request: Add 'axis' option for 'tf.boolean_mask()'"
`tf.boolean_mask()` is extremely useful when it comes to training.

However, the present `tf.boolean_mask()` does not have an `axis` option, thus masking some specific dimension of an array could be troublesome.

Appreciate your consideration.

[2017-05-06 12:19] sudhirshahu51 opened #9722 "How to know which will be supported wheel for my platform? (Installing Tensorflow)"
C:\Users\Sudhit>pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-1.1.0-cp35-cp35m-win_amd64.whl
tensorflow-1.1.0-cp35-cp35m-win_amd64.whl is not a supported wheel on this platform.

how will I know which will be supported wheel for my platform?

[2017-05-06 12:25] hicham-eyeem commented on #9664
@Androbin Thank you for the feedback but I don't use batch normalization. I think the main problem with the quantization tool is that the activation should be ReLU (the rounding option works fine though).

[2017-05-06 14:41] soloice commented on #3628
I encountered an error `ValueError: graph_def is invalid at node 'conv3_1/BatchNorm/AssignMovingAvg': Input tensor 'conv3_1/BatchNorm/moving_mean:0' Cannot convert a tensor of type float32 to an input of type float32_ref.` when using BatchNorm layer in slim. Not sure how to solve it...

[2017-05-06 14:46] Songweiping commented on #9635
@yhg0112 That makes sense to me. Using h(t-1) or h(t) to determine the context vector seems not a big issue.
BTW, I'm curious about how these two TF implements of Luong and Bahdanau perform on NMT tasks. Have you tested this? @yhg0112

[2017-05-06 14:48] kwotsin opened #9724 "Freeze_graph results in very poor accuracy compared to manually exporting and freezing the graph?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04 LTS
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.1
- **Bazel version (if compiling from source)**: 4.5
- **CUDA/cuDNN version**: 8.0/5

[2017-05-06 15:08] SrivastavaKshitij commented on #9680
cp35 is for python 3.5 . I hope you are using the correct version.
Also, I hope you are creating a virtual environment inside anaconda for tensorflow.

Use the procedure here. https://www.tensorflow.org/install/install_windows

I dont think there could be any problem installing tensorflow with anaconda. It is one of the cleanest way to install TF

[2017-05-06 15:25] GospodinNoob opened #9726 "Import errors"
### System information
- Trying to run tutorial code
- Win8.1
- pip3 install --upgrade tensorflow
- can't run programm to write version (can't run any code with import tensorflow)

Traceback (most recent call last):
  File "C:\Users\home-pc\AppData\Local\Programs\Python\Python35-32\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 18, in swig_import_helper
    fp, pathname, descripti

[2017-05-06 15:34] jnordberg opened #9727 "Python package for macOS missing."
The python 3 gpu package listed on: https://www.tensorflow.org/install/install_mac#the_url_of_the_tensorflow_python_package is missing.

[code]

[2017-05-06 15:36] jnordberg commented on #9727
Duplicate of #9610

[2017-05-06 15:36] #9727 closed

[2017-05-06 15:36] jnordberg commented on #9610
Anyone know a mirror?

[2017-05-06 15:38] mcenderdragon commented on #9726
I have the same problem. I already tried this solution(#97 installign VS C++ 2015) but it did not help.

[2017-05-06 15:44] martinwicke commented on #9692
This looks like it's an issue inside protobuf -- which itself is downloaded by the makefile. I'd file an issue with https://github.com/google/protobuf.

Please comment to reopen if I misunderstood the issue.

[2017-05-06 15:44] #9692 closed

[2017-05-06 15:47] martinwicke commented on #9682
Ashish, can you take a look?

[2017-05-06 16:16] drpngx commented on #9643
Sounds good, thanks for finding out!

[2017-05-06 16:16] #9643 closed

[2017-05-06 16:24] drpngx commented on #9662
There are kernels that definitely work, and kernels that may work.

The kernels that may work are [here](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/BUILD#L4267).

The ones that definitely work are [core and extended](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/BUILD#L4317).

Closing for now.

[2017-05-06 16:24] #9662 closed

[2017-05-06 16:42] drpngx commented on #9714
It's a SEGV, which looks like numpy. Could you answer the following:

* What tensorflow version are you using? Which OS?
* Can you build from source with debug symbols and try again?
* Were you loading ops or using something in `tf.contrib`?
* Any small repro?

[2017-05-06 16:55] hholst80 commented on #9567
Possible the instructions on *which* basel version to install should be part of the instruction?

https://www.tensorflow.org/install/install_sources just says

I think it can be motivated by the fact that there are multiple versions of basel that can be installed but TensorFlow will not build with all versions.

[2017-05-06 17:13] lmthang commented on #9635
Hi guys,

Thanks for discussing. I developed the early version of attention_wrapper.py. To me, we replicate most details in Bahdanau and Luong's attention mechanisms, except from the fact that Songweiping mentions "In Bahdanau papers, the path is h(t-1)->a(t)->c(t)->h(t), while in Luong it should be h(t)->a(t)->c(t)->h˜(t)." I have run tests over many variations; we're gonna release results in thi

[2017-05-06 17:26] LiangKlausQiu commented on #6175
Great. I remember I just appended it under 'android_extended_ops_group2'.

[2017-05-06 17:27] #6175 closed

[2017-05-06 17:35] harishjmhss commented on #9516
Problems are solved !!

I have uninstalled Python 3.5.1 and Installed Python 3.5.2, there is no problem in integrating with tensorflow and 3.5.2. Python 3.6.1 is also not supporting tensorflow.

So use 3.5.2 and install tensorflow for ease working.

[2017-05-06 17:50] #9624 closed

[2017-05-06 17:51] drpngx commented on #9624
Merged. Thanks!

[2017-05-06 17:51] kzos commented on #9428
that hack fixed the Debug enabled bug, will open another case if i face any discrepancies found in build between inception v1/v3

thanks,

[2017-05-06 17:51] #9428 closed

[2017-05-06 17:51] drpngx commented on #9683
@npanpaliya any comment on this?

[2017-05-06 17:52] drpngx commented on #9681
Thanks for the detailed report!

[2017-05-06 17:57] drpngx commented on #9679
@davidzchen @jart any idea?

Could you share your source tree with the custom modifications (particularly building with a custom crosstool) maybe on a github fork?

[2017-05-06 17:58] #9675 closed

[2017-05-06 17:58] drpngx commented on #9669
Would you care to send a PR?

[2017-05-06 17:59] #9591 closed

[2017-05-06 18:03] Androbin commented on #9726
[https://www.tensorflow.org/install/install_sources#common_installation_problems](https://www.tensorflow.org/install/install_sources#common_installation_problems)

[2017-05-06 18:05] kzos commented on #9692
sorry, I had mentioned only issue related to autogen.sh

There was this other one,

protobuf, googletest are getting downloaded under downloads folder,
 when build command is issued, `protoc missing error` as it expects googletest and googlemock to be present in specific order under protobuf, {debug info was not enough to catch this at first sight}.

just to make sure nobody gets stuck, please che

[2017-05-06 18:08] drpngx commented on #9590
@jart could you take a look at the summary portion to see if you find anything obvious there?

I don't see obvious leak.

Could you run with the env variable `TF_CPP_MIN_VLOG_LEVEL=1` *look at anything with `__LOG_MEMORY__` and `tf.RunOptions(trace_level=tf.RunOptions.FULL_TRACE)`?

https://github.com/tensorflow/tensorflow/issues/1824 is a good example of debugging.

[2017-05-06 18:10] drpngx commented on #9579
Just to double-check: did you configure with XLA?

[2017-05-06 18:16] mcenderdragon commented on #9726
@Androbin, nope this is also not helping me :/

[2017-05-06 18:18] drpngx commented on #9527
Like @skye says, it is probably due to the loop overhead. Not sure if there's much you can do here.

CC @tfboyd @yuanbyu

[2017-05-06 18:32] Mayuri842 opened #9728 "Error code 1 : While installing TensorFlow on windows 10 with pip"
I was trying to install TensorFlow  on windows 10 with pip
When I type :

I get the following error :

[2017-05-06 18:32] drpngx commented on #9685
@asimshankar for Java.

The variables etc are registered in the graph. You'd need access to the collections from the Graph class, I believe.

[2017-05-06 18:41] drpngx commented on #9708
@girving the error message does look strange.

[2017-05-06 18:44] Currie32 opened #9729 "AttributeError: module 'tensorflow.contrib.seq2seq' has no attribute 'BeamSearchDecoder'"
I don't know why I am getting this issue:

[code]

I am using version 1.1.0, and BeamSearchDecoder is in the API master for Python: https://www.tensorflow.org/versions/master/api_docs/python/tf/contrib/seq2seq/BeamSearchDecoder

[2017-05-06 18:45] drpngx commented on #9705
That seems like a fine contribution to have if you're up for it.

@gpapan @martinwicke

[2017-05-06 18:46] GospodinNoob commented on #9726
@Androbin it's solution for ubuntu, i use windows8.1

[2017-05-06 18:46] drpngx commented on #9701
Just checking that it's not a windows issue, @guschmue @vit-stepanovs do you guys run tensorboard on windows and is it working well for you?

[2017-05-06 18:50] drpngx commented on #9699
To summarize, it looks like the state is `[2500, 75]`, but the initial state expected by the code is `[20, 75]`.

@ebrevdo any idea?

[2017-05-06 18:50] #9729 closed

[2017-05-06 18:52] drpngx commented on #9691
Thanks @kzos ! Please keep us posted.

[2017-05-06 18:52] #9691 closed

[2017-05-06 18:57] drpngx commented on #9710
Right. You have to open the checkpoint file. It contains absolute path references.

I'm going to close this, since this is expected behavior, even unpleasant.

[2017-05-06 18:57] #9710 closed

[2017-05-06 18:59] drpngx commented on #9711
You're on the right tarck!

I tend to use: `with tf.Session() as sess` rather than a default session. After that, you need to use `sess.run(tf.global_variables_initializer())` and it should work.

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions th

[2017-05-06 18:59] #9711 closed

[2017-05-06 19:04] jlebar commented on #9709
Hi, the website still appears not to have been updated, and so the issue I reported still manifests.

Can we leave this open until the website is updated?  Or if there's a bug for the fact that we don't update the website frequently enough, I'd be OK dup'ing this to that one.

[2017-05-06 19:05] drpngx commented on #9713
@rhaertel80 might have some additional insight.

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-06 19:05] #9713 closed

[2017-05-06 19:06] drpngx commented on #9715
@ebrevdo does that make sense?

@yhg0112 would you be willing to send a PR?

[2017-05-06 19:08] drpngx commented on #9726
It's a windows issue, most likely due to missing dependencies. Could you run the dependency walker on the `pywrap_internal_tensorflow` library? I am guessing it's CUDA. Please double check that you have those installed, including CUPTI.

[2017-05-06 19:13] sguada commented on #3628
@ebrevdo Is this related to tf.cond dependencies?

[2017-05-06 19:13] drpngx commented on #9722
@yifeif could you clarify? If it's not already in the docs, maybe we can improve there.

[2017-05-06 19:16] drpngx commented on #9709
Sure.

@wolffg @martinwicke on tensorflow.org refresh rate.