[2018-02-07 15:42] TheGreenEvil opened #16836 "TypeError when trying to import tensorflow"
Hello. I have install TF 1.6 from source and getting next error when trying to import it from python.
[code]
------------------------

### System information
- **Linux Ubuntu 16.04**
- **Tensorflow 1.6.0-rc0 built from source**
- **Python 3.6**
- **Bazel version 0.10.0**
- **GCC version 5.4.0**
- **CUDA 9.1. cuDNN 7.0**
- **Nvidia 1050 Ti 4GB**

[2018-02-07 15:44] ebrevdo commented on #14937
I *think* that my suggested `output_size` solves your problem.  Feel free to reopen if it doesn't.

[2018-02-07 15:44] #14937 closed

[2018-02-07 16:23] JSANJ commented on #16750
@adekunleba When I run that command, I get the following:
`
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package cuda-9-0
`
Could you please advise what to do? Thank you in advance!

[2018-02-07 16:27] JSANJ commented on #15817
@KeithAymar I have tried to use that command but I get the following error:

Could you please advise what to do? Thanks in advance!

[2018-02-07 16:28] yongtang commented on #16534
Added #16837 for the fix.

[2018-02-07 17:16] KeithAymar commented on #15817
I don’t know for sure.  I’m an a noob with this.  Took me a few days to get things working.  Anytime something doesn’t work quite right I make sure to do before running any install commands.

sudo apt-get update

Sounds like you don’t have the packages set up for install.

These are the instructions I followed when I installed 9.1.  Be sure all the prerequisites are complete.  I am using a minimal

[2018-02-07 17:29] #7133 closed

[2018-02-07 17:56] jart commented on #6956
Those are important concerns. It's part of why we designed Bazel downloader to do failover. We don't want our CI systems hammering anyone's web server. We also want to protect user privacy with opt-in trust while respecting the decisions of their policymakers.

We could hand-pick mirrors, but I'd recommend we hold off and focus on just making sure our URLs aren't broken. Expanding our mirror ecosy

[2018-02-07 18:00] Johnson145 commented on #16813
Unfortunately, I still can't use any inception model that I retrained on my own. Using the master branch fixes the above error and allows using the [precompiled inception-v3 slim model](https://storage.googleapis.com/download.tensorflow.org/models/tflite/inception_v3_slim_2016_android_2017_11_10.zip). The latter implies that there shouldn't be any problem with the slim version in general. It doesn

[2018-02-07 18:09] poxvoculi commented on #14423
Closing due to lack of activity.

[2018-02-07 18:09] #14423 closed

[2018-02-07 18:13] allenlavoie commented on #16590
Getting the fix code reviewed is taking a bit longer than I was thinking. Here's the patch:

[code]

[2018-02-07 18:18] vvirag commented on #16823
Same problem here. Ubuntu 16.04. Installed bazel based on "Using Bazel custom APT repository (recommended)" (https://docs.bazel.build/versions/master/install-ubuntu.html):

[code]

[2018-02-07 18:21] jowagner commented on #6956
While we are waiting for the grand solution, can somebody with Google Contributor License Agreement add http://www.nasm.us/pub/nasm/releasebuilds/2.12.02/nasm-2.12.02.tar.bz2 as a third URL (after mirror.bazel.build and pkgs.fedoraproject.org) in tensorflow/tensorflow/workspace.bzl?

A 3rd source, even one with mediocre uptime, is better than no 3rd source. No need to ask nasm.us for permission as

[2018-02-07 18:29] #13305 closed

[2018-02-07 18:41] dhaneshr commented on #14540
I solved this by removing the specifying `-mcpu=power8` during the bazel configuration and later removing the  line `build:opt --host_copt=-march=native` from the `.tf_configure.bazelrc` file.

[2018-02-07 18:43] lazypanda1 opened #16839 "Feature request: Enable validate_args for all distributions based on a global parameter"
The probability distributions in Tensorflow have a `validate_args` argument that is initially set to `False`. This is a request for a feature that initializes the value of `validate_args` to the value of a global flag (that can be set from the command line or the preferences).

Rationale: Currently, when the user sets up the model incorrectly e.g. wrong parameter values are provided for the distri

[2018-02-07 18:45] elibixby commented on #13310
@ebrevdo I'll schedule a design review for the design doc since there don't seem to be any large outstanding comments. @wechselstrom Note the planned design is actually an in-place change to `SparseTensor`,

After the change you should be able to use `SparseTensor`s with ops that support `IndexedSlice`s (with a little bit of rewrapping), and create `SparseTensor`s from `IndexedSlice`s (again with

[2018-02-07 18:47] RoboEvangelist opened #16840 "Point Tensorflow To My Local Protobuf Installation"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: sorta
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 16
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.4.1
- **Python version**: 2.7 and 3.0
- **Bazel version (if compiling from source)**: 0.6.0
- **

[2018-02-07 19:02] jjhelmus commented on #12579
I ran into this issue when building tensorflow 1.4.1 using a toolchain which targets glibc 2.11.3.

I was able to fix this by adding `#include <time.h>` before the `#include <fcntl.h>` line in the BoringSSL src/crypto/bio/socket_helper.c file.

From [this bug report](https://sourceware.org/bugzilla/show_bug.cgi?id=21371) it sounds as if this may effect other glibc versions.

[2018-02-07 19:34] bamartin-ua commented on #8652
I'm not sure if this is the same error or not; it's saying not callable rather than the attribute, but seems to be in the same method anyway...

[code]

using tensorflow 1.4.1 in docker, using `tensorflow/tensorflow:latest-gpu-py3`
*not* using keras, but I am using `sess = tf.Session()` and `sess.close()` instead of `with tf.Session() as sess:` but that doesn't seem to be sufficient to recreate th

[2018-02-07 19:36] tensorflowbutler commented on #16823
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-07 19:36] tensorflowbutler commented on #16824
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-07 19:36] tensorflowbutler commented on #16827
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-07 19:36] tensorflowbutler commented on #16828
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-07 19:36] tensorflowbutler commented on #16829
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-07 19:38] jart commented on #16773
TensorBoard has a new GitHub repo: https://github.com/tensorflow/tensorboard Would you be able to refile this issue over there?

[2018-02-07 19:38] #16773 closed

[2018-02-07 19:57] poxvoculi commented on #16248
Closing due to inactivity.

[2018-02-07 19:57] #16248 closed

[2018-02-07 19:58] poxvoculi commented on #16190
Closing due to inactivity.

[2018-02-07 19:58] #16190 closed

[2018-02-07 20:42] RoboEvangelist commented on #7378
where do we put export OPENCV_OPENCL_RUNTIME= ?
Do we put that in the bashrc file?

[2018-02-07 20:48] vvirag commented on #16823
Switched to tensorflow r1.6, now it works. If you wanna fix the original problem, just checkout the relevant bazel version checking function from the r1.6 in the workspace.bzl.

[2018-02-07 21:23] #12496 closed

[2018-02-07 21:23] gunan commented on #12496
SSL certificate is updated.

[2018-02-07 22:12] pyBlob opened #16845 "ImportError: DLL load failed: Die angegebene Prozedur wurde nicht gefunden."
### System information
- Have I written custom code: no
- OS Platform and Distribution: Windows 7, 64-bit
- Tensorflow installed from: Anaconda 5.0.1 via pip 9.0.1
(conda create -p C:\temp\tensorflow-gpu; pip install tensorflow-gpu)
- Python 3.5.2
- TensorFlow 1.5.0
- CUDA 9.0
- cuDNN 7.0
- Bazel: N/A
- GPU model and memory: NVIDIA Quadro K620, 2GB

### Describe the problem
Commands to reproduce:

[2018-02-07 22:32] yongtang commented on #9485
Added PR #16846 for it.

[2018-02-07 22:40] alextp commented on #16839
Send a pull request and we'll discuss there.

[2018-02-07 22:41] alextp commented on #16840
See tensorflow/contrib/cmake/external/protobuf.cmake for how tf cmake imports the proto compiler

[2018-02-07 22:41] #16840 closed

[2018-02-07 22:43] alextp commented on #16826
The first session.run inference is always slow as a lot of one-time computation and initialization happens then.

This is a known issue and unlikely to be fixed in tensorflow (probably tflite will be the right answer to this).

[2018-02-07 22:43] #16826 closed

[2018-02-07 22:43] stardolphin commented on #11517
On mac, pip was not available outside of the virtualenv, so:
sudo easy_install pbr

did the trick.

[2018-02-07 22:44] calper-ql commented on #16750
@JSANJ do you have this in your rc file ? `export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/cuda/extras/CUPTI/lib64`

[2018-02-07 22:46] mrry commented on #16163
Yes, this is a bug. I have a fix in preparation.

[2018-02-07 22:50] #16393 closed

[2018-02-07 22:52] alextp commented on #16112
To write the gradient of a tensorflow op you can write a gradient op in C (see the implementation of linspace) or python and then use RegisterGradient to register it as the gradient of another op. This discussion should move to a pull request if you want to contribute code.

[2018-02-07 22:52] #16112 closed

[2018-02-07 23:10] alextp commented on #1686
Sharing physical nodes across ps is usually a bad idea as ps is very network-heavy. PS also can use multiple cores (most tf code does) when updating variables.

The suggested file location is good.

I'll close this issue for now since it's old, but please reopen as a pull request if you want to contribute.

[2018-02-07 23:10] #1686 closed

[2018-02-07 23:11] alextp commented on #1736
Closing as the pull request is closed.

[2018-02-07 23:11] #1736 closed

[2018-02-07 23:13] alextp commented on #1882
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:13] #1882 closed

[2018-02-07 23:16] aselle commented on #971
This is already possible, see e.g.
https://stackoverflow.com/questions/38559755/how-to-get-current-available-gpus-in-tensorflow
Closing this issue for now.

[2018-02-07 23:16] #971 closed

[2018-02-07 23:17] annarev commented on #1122
Closing this bug since the original request to add a batch norm layer has been addressed. Some of the more recent issues with documentation seem to have their own PRs
If you see any issue with batch_norm, please either ask a question on StackOverflow or open another issue.

[2018-02-07 23:17] #1122 closed

[2018-02-07 23:20] alextp commented on #2126
Closing this issue as it's too broad. For the common case where graphs have one compute device and many parameter server devices we currently support automatic placement. For more complicated cases it's an open research problem how to do this.

[2018-02-07 23:20] #2126 closed

[2018-02-07 23:21] itsmeolivia commented on #2793
@alextp do you know of a way to do this with weights?

[2018-02-07 23:21] av8ramit commented on #16162
@Celelibi is this still an issue with 1.5?

[2018-02-07 23:21] alextp commented on #2146
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:21] #2146 closed

[2018-02-07 23:22] gunan commented on #3945
Looks like the original issue reported is fixed. I will close this issue, but for broadcasting in where/select ops, if we still  need fixes please file a new issue.

[2018-02-07 23:22] #3945 closed

[2018-02-07 23:22] alextp commented on #2169
Closing this issue. One of the many versions here should probably be a pull request :-)

[2018-02-07 23:23] gunan commented on #3851
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:23] #3851 closed

[2018-02-07 23:24] alextp commented on #2217
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-07 23:24] #2217 closed

[2018-02-07 23:24] av8ramit commented on #16477
https://github.com/tensorflow/tensorflow/pull/16702
Assigning to @MarkDaoust to update the website.

[2018-02-07 23:24] denisb411 opened #16847 "Tensorflow website doesn't show older builds to install using pip"
I was at tensorflow 1.4, upgraded tensorflow to 1.5, had to install cudnn 9.0 and now my system is unstable. I went to the tensorflow website in order to get the tensorflow 1.4 build and noticed that there isn't any reference for these build anymore and now I'm stuck at version 1.5.

Where are these references about the .whl files? Seems that the '.../install/install_windows' page is the same for

[2018-02-07 23:24] alextp commented on #2291
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-07 23:24] #2291 closed

[2018-02-07 23:25] alextp commented on #2305
Closing because this issue is too broad and keeping it open is unlikely to be helpful.

[2018-02-07 23:25] #2305 closed

[2018-02-07 23:25] protoget commented on #13622
@xingjinglu I think the new CudnnLSTM **layer** should make things way simpler.
you can check out unittest of the class to see examples.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cudnn_rnn/python/kernel_tests/cudnn_rnn_test.py#L118

[2018-02-07 23:25] #13622 closed

[2018-02-07 23:26] aselle commented on #956
I am closing this issue now, as the original posters goals were to add more functionality, and we did. Specifically, we added the most commonly needed types (backed the op MirrorPad) several months ago. If the more exotic numpy.pad types of padding are needed, please file a new bug referring to this one. However, if somebody implements a new type they need and makes it perform well, we will accept

[2018-02-07 23:27] alextp commented on #2412
Closing the issue. There's a lot of discussion here, but we already release shared objects which are usable without bazel on many platforms. Please file new specific issues if this is not enough.

[2018-02-07 23:27] #2412 closed

[2018-02-07 23:27] alextp commented on #2594
Closing as soft placements solves the issue.

[2018-02-07 23:27] #2594 closed

[2018-02-07 23:29] protoget commented on #12284
```skip_input``` is not compatible with regular TF RNN layers and we plan to not expose it in later revisions.
Btw, you'd try tf 1.5 or later, it has CuDNN RNN layers which manages vars for you. (but this is orthogonal to ur question.)

[2018-02-07 23:29] #12284 closed

[2018-02-07 23:30] gunan commented on #3862
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

It looks like there is a workaround posted.

[2018-02-07 23:30] #3862 closed

[2018-02-07 23:31] alextp commented on #2793
It's easy to implement a clip_gradient "op" which acts like identity but clips the gradients using tfe.custom_gradient (which works normally in graph mode). Something like

[code]

[2018-02-07 23:31] #2793 closed

[2018-02-07 23:33] yifeif commented on #4337
@rueberger is this still an issue for you?

[2018-02-07 23:34] karmel commented on #3519
Thanks for the feedback @JohnAllen -- we are reorganizing sample models, and converging on the [Official Models](https://github.com/tensorflow/models/tree/master/official) as the place to house reference implementations. Closing this, as that effort is underway.

[2018-02-07 23:34] #3519 closed

[2018-02-07 23:36] alextp commented on #5763
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:36] #5763 closed

[2018-02-07 23:38] aselle commented on #464
@fabiencro, is this still an issue? If not, or if it is not important, I will close it in a few days.

[2018-02-07 23:38] alextp commented on #5786
Closing as the PR is merged.

[2018-02-07 23:38] #5786 closed

[2018-02-07 23:39] mingxingtan commented on #4887
It is most likely somethings (e.g. batchnorm) are not set properly for is_training=False. However, since this is a departure from our official models, I would recommend using the official resnet models (https://github.com/tensorflow/models).

I am closing this bug now. If you have similar issues for the official models, please feel free to filea separate bug.

[2018-02-07 23:39] #4887 closed

[2018-02-07 23:39] alextp commented on #5777
Closing for now. Please reopen if @denzp's solution or the others mentioned in this thread don't work.

[2018-02-07 23:39] #5777 closed

[2018-02-07 23:40] gunan commented on #4003
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

deduoing against https://github.com/tensorflow/tensorflow/issues/10827

[2018-02-07 23:40] #4003 closed

[2018-02-07 23:40] gunan commented on #4090
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

deduping against https://github.com/tensorflow/tensorflow/issues/10827

[2018-02-07 23:40] #4090 closed

[2018-02-07 23:41] alextp commented on #5869
They shouldn't use optimize_for_inference_lib by default since not all exportings will be only used for inference.

[2018-02-07 23:41] #5869 closed

[2018-02-07 23:42] aselle commented on #631
@benoitsteiner , is this necessary with the new device placement optimizers? I'd like to close this if it is not needed anymore. @alquraishi, is this still an issue for you?

[2018-02-07 23:43] alextp commented on #5867
Is using a tensor for keep_prob which is set to 1 during inference not enough?

[2018-02-07 23:44] alextp commented on #5918
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:44] #5918 closed

[2018-02-07 23:44] denisb411 commented on #16847
Solved this by using  `pip uninstall tensorflow_gpu` and `pip install tensorflow_gpu==1.4.0`, but I think that the document could explicity this. Would save people's time.

[2018-02-07 23:44] itsmeolivia commented on #3334
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:45] karmel commented on #3636
@tfboyd -- is the README change mentioned above completed?

[2018-02-07 23:45] #3334 closed

[2018-02-07 23:45] yifeif commented on #4434
@petewarden @suharshs any comment? Thanks!

[2018-02-07 23:45] aselle commented on #636
@kerokeroloid, is this still an issue for you, or could I close this?

[2018-02-07 23:45] #16847 closed

[2018-02-07 23:45] alextp commented on #5919
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:45] #5919 closed

[2018-02-07 23:46] alextp commented on #6446
@gunan , any updates?

[2018-02-07 23:49] #6518 closed

[2018-02-07 23:49] #6596 closed

[2018-02-07 23:50] isaprykin commented on #5965
Hey folks, is it the case that only work related to tf.dynamic_partition is left?

[2018-02-07 23:50] alextp commented on #6633
I think @alquraishi 's suggestion solves the problem. Please reopen if it doesn't.

[2018-02-07 23:51] gunan commented on #4290
@Kayoku Would you like to create a PR with your porposal?

[2018-02-07 23:51] alextp commented on #6624
I think this is no longer relevant in the world of tf.data, so closing. Please reopen if it's still an issue.

[2018-02-07 23:51] #6624 closed

[2018-02-07 23:51] #4227 closed

[2018-02-07 23:52] alextp commented on #6635
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:52] #6635 closed

[2018-02-07 23:52] karmel commented on #4737
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-07 23:52] #4737 closed

[2018-02-07 23:52] wolffg commented on #10241
This is a preprocessing bug.  Tracking this as internal bug #62161343.

[2018-02-07 23:52] itsmeolivia commented on #3350
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:52] #3350 closed

[2018-02-07 23:53] itsmeolivia commented on #3392
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:53] #3392 closed

[2018-02-07 23:53] av8ramit commented on #8112
@aselle just a gentle reminder. Unless we can close this @jaakkopasanen?

[2018-02-07 23:54] av8ramit commented on #9234
@rmlarsen any update?

[2018-02-07 23:54] alextp commented on #6716
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:54] #6716 closed

[2018-02-07 23:55] wolffg commented on #10622
Who should provide this PR?

[2018-02-07 23:56] alextp commented on #6733
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:56] #6733 closed

[2018-02-07 23:56] gunan commented on #4193
I will leave this as contributions welcome, if someone would like to contribute, you can try adding float64 support for TF CTC loss kernel as @ebrevdo suggested.

[2018-02-07 23:56] itsmeolivia commented on #3502
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:56] #3502 closed

[2018-02-07 23:56] alextp commented on #6767
@chenghuige , ping?

[2018-02-07 23:57] #6815 closed

[2018-02-07 23:57] aselle commented on #781
Closing since this issue appears to be resolved with tf.contrib.rotate() and the matrix conversion routines.  Thanks @ringw.

[2018-02-07 23:57] #781 closed

[2018-02-07 23:58] isaprykin commented on #5987
Please reopen if tensorflow/models#2371 hasn't addressed it.

[2018-02-07 23:58] alextp commented on #6893
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:58] #6893 closed

[2018-02-07 23:59] #5987 closed

[2018-02-07 23:59] vrv commented on #5773
@gpapan Any help?  This bug is pretty old.  Do you think this is a bug in the EigenTensor implementation of extract_image_patches?

My guess is that there's some indexing overflow happening.

[2018-02-07 23:59] itsmeolivia commented on #5073
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:59] #5073 closed

[2018-02-08 00:00] itsmeolivia commented on #5099
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:00] #5099 closed

[2018-02-08 00:00] wolffg commented on #11785
Hi.  We're working on an experiment with notebooks for tensorflow.org pages.  It's still in the planning stage, but we are actively looking into it.  I'm going to close this, as there is some internal tooling we need to write, and tracking it here is not going to be helpful.

Thanks for your suggestion!

[2018-02-08 00:00] #11785 closed

[2018-02-08 00:02] vrv commented on #5773
Actually, it looks like this was already fixed in https://github.com/tensorflow/tensorflow/commit/d75d5529d569d8f72cb215d3696db1feb1d9f033#diff-42af759a17331c263b5c57f04f130aa5 possibly, so it may no longer be valid.

Given the information in the commit and the related internal bug report that this fixes, I'm going to assume this is now fixed.  Please reopen if this is not true and you are running

[2018-02-08 00:02] #5773 closed

[2018-02-08 00:06] tatianashp commented on #18
@migueldeicaza Thanks again for TensorFlowSharp! As the feature has been already implemented, I am closing this issue

[2018-02-08 00:06] #18 closed

[2018-02-08 00:06] annarev commented on #1374
@alquraishi does this issue still look relevant?

[2018-02-08 00:08] yifeif commented on #4589
@reedwm @tfboyd can we close this issue if fp16 support has been added? Thanks!
Feel free to open a separate issue for INT8.

[2018-02-08 00:11] mingxingtan commented on #4965
Assign to @jvdillon

[2018-02-08 00:12] itsmeolivia commented on #5350
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:12] #5350 closed

[2018-02-08 00:13] mingxingtan commented on #5007
Close due to inactivity, Please see the detailed discussion on #5085

[2018-02-08 00:13] #5007 closed

[2018-02-08 00:14] #16534 closed

[2018-02-08 00:15] annarev commented on #1592
ebrevdo@, I found that you added PopulationCount op some time ago:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/bitwise_ops.cc
which seems like it supports 'bitcount':
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/api_def/base_api/api_def_PopulationCount.pbtxt

Is this op available to use or is there more work needed?

[2018-02-08 00:18] annarev commented on #5477
thjashin@ do you know if this issue is still happening/relevant?

[2018-02-08 00:20] yifeif commented on #4638
@aselle do you know if we have plan to implement this? If not, should we mark this as contribution welcome?

[2018-02-08 00:20] mingxingtan commented on #6308
Ping. @ebrevdo , any updates?

[2018-02-08 00:21] #9485 closed

[2018-02-08 00:23] itsmeolivia commented on #5920
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:23] #5920 closed

[2018-02-08 00:23] aselle commented on #7108
@eigen2017, is there a PR you need to make, or should this go int he docs somewhere?

[2018-02-08 00:23] ebrevdo commented on #1592
The op is supported for use; but not part of the public API; you can access it directly though.  See an example [here](https://github.com/tensorflow/tensorflow/blob/40d1b257636a0b510dba59aff0af54e42d602313/tensorflow/python/ops/bitwise_ops_test.py#L69)

[2018-02-08 00:24] itsmeolivia commented on #5972
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:24] #5972 closed

[2018-02-08 00:24] gunan commented on #7541
@allenlavoie fixed the issue @jhseu mentioned. Allen, can we close the original issue now?
There may be a new issue now, but should we create a new github issue for that?

[2018-02-08 00:24] #7541 closed

[2018-02-08 00:25] tatianashp commented on #70
Automatically closing due to lack of recent activity.

[2018-02-08 00:25] #70 closed

[2018-02-08 00:25] gunan commented on #7537
@yaroslavvb would you like to contribute your custom op to `tensorflow/contrib`?

[2018-02-08 00:26] gunan commented on #7508
@skye any updates on the patch?

[2018-02-08 00:26] aselle commented on #5632
@astromme, yes, this already is supported there. Closing as this feature already exists.

[2018-02-08 00:26] #5632 closed

[2018-02-08 00:27] itsmeolivia commented on #6097
@Anjum48 Hi! Is this still a feature you're interested in?

[2018-02-08 00:28] gunan commented on #7480
This will be solved as a part of the official C/C++ API. But until then should we keep it open, or dupe it against another issue?

[2018-02-08 00:28] itsmeolivia commented on #6141
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:29] mingxingtan commented on #6360
@ebrevdo Any updates, or ready to close?

[2018-02-08 00:33] #4386 closed

[2018-02-08 00:34] skye commented on #14171
Unfortunately no one has the bandwidth to look at this right now. @w4nderlust, if you're able, paring down the script you provided to a shorter repro would be extremely helpful. I'm gonna mark contributions welcome for now since we're not actively working on it.

[2018-02-08 00:34] ebrevdo commented on #6360
Yes; see `tf.contrib.framework.CriticalSection`.

[2018-02-08 00:34] #6360 closed

[2018-02-08 00:35] aselle commented on #7422
Seems reasonable, but I won't have time to do it now, so marking it contributions welcome.

[2018-02-08 00:39] reedwm commented on #4589
Closing since fp16 support has been added to many ops. If a particular op does not support fp16 but should, another issue can be filed. We also plan making mixed-precision training easier in the future by improving the API.

[2018-02-08 00:39] #4589 closed

[2018-02-08 00:39] itsmeolivia commented on #6269
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:39] #6269 closed

[2018-02-08 00:43] allenlavoie commented on #7541
If you want to use the C API along with Python, you need in TF >=1.4 to link against _pywrap_tensorflow_internal.so (which includes the C API) and libtensorflow_framework.so (for protobuf symbols; also includes many C++ symbols). You can also build with `--config=monolithic` if you want the protobuf symbols wrapped up in _pywrap_tensorflow_internal.so.

The Python and C language bindings both incl

[2018-02-08 00:44] itsmeolivia commented on #7938
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:44] #7938 closed

[2018-02-08 00:44] annarev commented on #7128
Closing per qmick@'s last comment.

[2018-02-08 00:44] #7128 closed

[2018-02-08 00:44] cancan101 commented on #7108
That doesn't seem like a solution as much as a workaround.

[2018-02-08 00:44] aselle commented on #8112
Preparing a cl internally that will resolve this.

[2018-02-08 00:45] mingxingtan commented on #6417
Yeah, we need to update saver.py. A simply way is just follow @mrry 's advice: prepend "./" to the save path in the cases when os.path.dirname() returns "".

Community contributions are welcomed.

[2018-02-08 00:45] itsmeolivia commented on #7966
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:45] #7966 closed

[2018-02-08 00:52] itsmeolivia commented on #7970
is this still an issue with tensorflow? otherwise, please close the issue

[2018-02-08 00:52] gunan commented on #7404
@ebrevdo should we mark this contributions welcome?

[2018-02-08 00:53] aselle commented on #16374
Sorry the issue is that toco is currently not supported on Windows build for cmake. I will look into adding this.

[2018-02-08 00:54] tatianashp commented on #7610
@mjanusz Are you still planning on writing a contraction mapper in eigen_cuboid_convolutions.h? I'll keep this issue open for tracking purposes in case you do.

[2018-02-08 00:55] gunan commented on #7394
ping @asimshankar is this resolved?
Should we close the issue?

[2018-02-08 00:56] itsmeolivia commented on #8025
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:56] #8025 closed

[2018-02-08 00:56] aselle commented on #16350
@omatai , I will update the templates as you suggest. Thank you for suggesting this clarification.

[2018-02-08 00:57] itsmeolivia commented on #8011
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:57] #8011 closed

[2018-02-08 00:59] #7312 closed

[2018-02-08 01:00] mingxingtan commented on #8264
Close due to inactivity for a long time.

[2018-02-08 01:00] #8264 closed

[2018-02-08 01:01] itsmeolivia commented on #8100
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 01:03] jlebar commented on #1539
@annarev This was a while ago, but I think this issue was specifically about building in OSS with clang; not sure if that's what you were saying is currently passing?  @ilya-biryukov has been looking at this lately; if he's happy that it's working, I'm happy.

[2018-02-08 01:03] gunan commented on #7246
All the logs you are seeing are just `INFO` logs. They are just informational.
You can tell if by the `I` right after the timestamp.

[2018-02-08 01:03] #7246 closed

[2018-02-08 01:04] itsmeolivia commented on #8137
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 01:06] aselle commented on #16350
Here are the PR's
https://github.com/tensorflow/tensorflow/pull/16635
https://github.com/tensorflow/models/pull/3341

[2018-02-08 01:06] #7251 closed

[2018-02-08 01:06] itsmeolivia commented on #8109
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 01:06] #8109 closed

[2018-02-08 01:06] mingxingtan commented on #8328
I ran the example given by @olegklimov with tf-1.5.0, and couldn't reproduce the error any more.

Close it due to the inactivity for a long time.

[2018-02-08 01:06] #8328 closed

[2018-02-08 01:07] av8ramit commented on #9576
Closing this as there have been no updates since July and the bot has nagged three days in a row. @mjanusz feel free to reopen if you're still working on this.

[2018-02-08 01:07] #9576 closed

[2018-02-08 01:08] itsmeolivia commented on #8225
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-08 01:08] #8225 closed

[2018-02-08 01:10] yangfengKAUST commented on #16590
Awesome

[2018-02-08 01:10] tatianashp commented on #7632
The docs issue has been resolved and r1.5 has bfloat16 support.
@rilut Do you still need float16 support and interested in implementing it?

[2018-02-08 01:12] taion commented on #8137
There isn't any new information, but this issue is still relevant. It would be really nice to not have to convert back and forth between `NCHW` and `channels_first` in switching between API levels.

[2018-02-08 01:13] itsmeolivia commented on #8246
This looks like it was fixed bu #15224. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 01:14] itsmeolivia commented on #8224
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 01:14] #8224 closed

[2018-02-08 01:15] itsmeolivia commented on #8256
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 01:15] #8256 closed

[2018-02-08 01:16] itsmeolivia commented on #8271
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 01:16] #8271 closed

[2018-02-08 01:21] annarev commented on #7129
Eugene, do you think this issue is still relevant? Should it be changed to contributions welcome?

[2018-02-08 01:24] shoyer commented on #8246
#15224 was indeed a PR to add tf.repeat, but it was closed without merging. Reopening.

[2018-02-08 01:26] thiell opened #16850 "concurrent.futures for Python 2 installed with tensorflow-gpu with pip3"
We noticed an issue with the tensorflow-gpu package available in pip for Python 3: it leads to `concurrent.futures` for Python 2 being installed as a dependency.

[code]

The workaround is to remove concurrent.futures as it is already included in Python 3 standard library.

[2018-02-08 01:32] kannadaraj commented on #374
Ushnish.. That's just brilliant..

[2018-02-08 01:34] annarev commented on #1539
I should have read it more carefully, I was just looking at our cuda builds. I will re-open this issue then.

[2018-02-08 01:36] tatianashp commented on #7634
This issue has been resolved on StackOverflow -  http://bit.ly/2lW7lRA.

[2018-02-08 01:36] #7634 closed

[2018-02-08 01:58] selcouthlyBlue commented on #16146
I think I have an exampe use GridLSTMCell that belongs to contrib.grid_rnn.

[code]

[2018-02-08 02:03] freedomtan commented on #14719
it seems the output of the [inceptionv3 tflite model released by google](https://storage.googleapis.com/download.tensorflow.org/models/tflite/inception_v3_slim_2016_android_2017_11_10.zip) is problematic. I'll create another issue later. If you run [label_image for tflite](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/examples/label_image/label_image.md), you'll get

[2018-02-08 02:07] freedomtan opened #16851 "Output of Inceptionv3 slim 2016 tflite model is problematic"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A, this is a bug report of a tflite model released by Google
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Any one
- **TensorFlow installed from (source or binary)**: both
- **TensorFlow version (use command below)**: after TF Lite released
- **Python vers

[2018-02-08 02:18] yaroslavvb commented on #7537
@gunan done in https://github.com/tensorflow/tensorflow/pull/13107

[2018-02-08 02:19] tensorflowbutler commented on #16834
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-08 02:21] zihuaweng commented on #10021
https://stackoverflow.com/a/46984951/8906149
This answer works fine for me~~

[2018-02-08 02:22] w4nderlust commented on #14171
Here's a much shorter version of the script, only 90 lines:

[code]

Here is the output I'm getting from it:
[code]

As you can see the memory usage increases A LOT, more than 10x the regular usage, at the end of the epoch, when a sample with a different batch size is pushed through the graph. If I set `skip_last` to `True`, meaning the last and shorter batch is skipped, the memory usage keeps con

[2018-02-08 02:22] asimshankar commented on #7394
Ah, I hadn't gotten to this, but it seems like a simple fix. I'll try to get this out soon.

[2018-02-08 02:24] asimshankar commented on #4638
CC @saxenasaurabh

[2018-02-08 02:26] ebrevdo commented on #7404
Yes

[2018-02-08 02:28] rilut commented on #7632
@tatianashp Hi, I don't think I really understand the underlying code, so I pass 🙏. Thanks for asking

[2018-02-08 02:34] ebrevdo commented on #13103
I believe we support this now.

[2018-02-08 02:34] #13103 closed

[2018-02-08 02:35] ebrevdo commented on #14659
Sounds like this is a edge case bug... Happy to review a bugfix pr.

On Mon, Feb 5, 2018, 11:55 PM Alfred Sorten Wolf <notifications@github.com>
wrote:

[2018-02-08 02:37] ebrevdo commented on #11101
Feel free to reopen if our reasoning is not sufficient.

[2018-02-08 02:37] #11101 closed

[2018-02-08 03:08] zhoub commented on #16824
Hi, I modified the first post with more info. Thanks.

[2018-02-08 03:14] rueberger commented on #4337
Whoops sorry!! bouncehouse-bot is me...  forgot to log out of it...

[2018-02-08 03:26] weiliu620 commented on #7278
I also wish a separable convolution for 3D image. Signals in 3D is more difficult to learn, and training is slow.

[2018-02-08 03:28] dustinvtran commented on #4965
An initial consolidation is available at

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/bayesflow/python/ops/hmc_impl.py

We're making further refinements. But the core is ready for people to use. We would love feedback.

[2018-02-08 04:14] #7537 closed

[2018-02-08 04:32] highya commented on #12157
213

[2018-02-08 04:39] riturajsoni commented on #8161
I have installed Anaconda + tensor flow + CUDA on my system

Anaconda version installed : Anaconda3-4.2.0-Windows-x86_64
tensorflow for gpu is installed using pip install command.
Cuda version installed as: cuda_9.0.176_win10 and its patch is also installed
Then files from cudnn like bin, include, lib copied to installation path
The graphics card is NVIDIA GeForce 820M
but when I run simple python

[2018-02-08 04:39] xiaoyunwu commented on #16093
@asimshankar any update?

[2018-02-08 04:56] adekunleba commented on #16750
@JSANJ you should add `cuda/lib64` to your `LD_LIBRARY_PATH`, in addition to @calper-ql suggestion, I also did ```export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/cuda/lib64```

[2018-02-08 05:07] nemonameless commented on #7020
`from tensorflow.python.ops import control_flow_ops`

[2018-02-08 05:13] gfphoenix commented on #394
If you work in linux/ubuntu, check your kernel, by `find /lib/modules/ | grep -i nvidia`. Make sure the models exist 'nvidia-modeset.ko, dkms/nvidia-uvm.ko, dkms/nvidia-drm.ko, dkms/nvidia.ko' and /proc/driver/nvidia/ . My tensorflow-cuda works very well. But someday, it suddenly throw this error, when I switched to the old kernel which has the above modules, it works again.
Wish it helps

[2018-02-08 06:12] sanjayraojjn opened #16855 "error reported while using TensorForestEstimator. tensorflow.python.framework.errors_impl.NotFoundError: Op type not registered 'FertileStatsResourceHandleOp' in binary running on..."
Have I written custom code - Yes, but provided code in link also has same problem
OS Platform and Distribution - Windows 7
TensorFlow installed from - PIP install
TensorFlow version - 1.4 and 1.5 both on CPU
Bazel version - No bazel version used
CUDA/cuDNN version - N/A
GPU model and memory - N/A
Exact command to reproduce - provided a link to python script below to reproduce this issue

I am tryi

[2018-02-08 06:21] EE-shawn commented on #12736
hey, guys, after I retrained Inception-V3 using my own data. when i use label_image.py to test, it comes that my input layer and output layer is not right. I changed them.
but then another problem comes, anybody knows that:

InvalidArgumentError:
NodeDef mentions attr 'dilations' not in Op<name=Conv2D; signature=input:T, filter:T -> output:T;
attr=T:type,allowed=[DT_HALF, DT_FLOAT]; attr=strides:l

[2018-02-08 06:37] albertz commented on #6633
No, it does not. It describes a slow workaround which everyone is doing now because this is not correctly implemented.

[2018-02-08 06:49] hxfxjun commented on #16827
how to build and install cplusplus library and header file to /usr/local?

Have I written custom code
No

OS Platform and Distribution
Centos 7.0

TensorFlow installed from
Source

TensorFlow version
1.5

Bazel version
0.9.0

CUDA/cuDNN version
None

GPU model and memory
None

Exact command to reproduce

[2018-02-08 06:53] freitmi commented on #10250
I am currently working on a PR to fix this issue

[2018-02-08 07:14] gunan commented on #12736
Please try using the code from the branch your TF is built from.
Like if you are using 1.5, use the example code from the r1.5 branch.

[2018-02-08 07:18] cwhy commented on #956
@aselle As the original poster explicitly mentioned two types of padding: reflect and constant, and only MirrorPad is added, but not constant.

As I have mentioned, the current "CONSTANT" option is confusing, as it can only zeros rather than a selected constant. Although tricks like `tf.pad(X - c) + c` can be used, the code will be obscure.

I don't think constant padding is "exotic" at all as it

[2018-02-08 07:28] xingjinglu commented on #8235
It seems the assign operation cannot be put after the sess.run operation.

[2018-02-08 07:49] kdmxen opened #16856 "Loading model from local in RNN prediction is slower than from HDFS due to page fault"
We have trained a RNN model and use it to predict. We feed some data and calculate QPS in prediction. We find that when CPU usage is above than 30%, the QPS always stayed in 900+. And not increasing linearly by CPU usage. But if we put the model in HDFS, The QPS can reach 2400+.

Our system infomation:
[code]

In local model case, we use performance tool to trace function call time and find nearly

[2018-02-08 08:06] LinJM opened #16857 "[BUG] seq2seq attention_wrapper use previous alignment?"
When we use attention model, it's recommended to use previous alignment (attention weight).
Bug I saw the code in the attention_wrapper.py, it ignore the previous alignment.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/seq2seq/python/ops/attention_wrapper.py#L399

@ebrevdo

[2018-02-08 08:32] tengerye commented on #13895
I have spent a week on my project based on Estimator until I stopped here. I am an early developer and had full faith in it. After having encountered this countless times, my heart is broken. If we can't evaluate during training, then **why is Estimator useful**?

[2018-02-08 08:40] FrancescoSaverioZuppichini commented on #13895
I also stop to use it. It is a total crap.

[2018-02-08 09:29] highya commented on #12157
I have the same error...

All my input_names will be changed to DT_FLOAT(type).
I fixed it manual !

by the way, optimize_for_inference still not works well, I used strip_unused instead.

[2018-02-08 09:34] Rov67777 commented on #16834
done!

[2018-02-08 09:52] Joke09 commented on #16050
I have the same issue

[2018-02-08 10:12] Kayoku commented on #4290
Hi @gunan , sorry I never contribute to a project like TF and I didn't have time to do it this week, I guess it's a simple copy/paste but can you do it for me ?
Anyway I'm happy that you think about add this function :)

[2018-02-08 10:25] tpet commented on #7656
I'm also interested in the answer. It seems to me that it would be good to allow specifying full shape, especially if partial shapes are allowed. I'm adding a small demonstration below (using version 1.5.0).

[code]

[2018-02-08 10:42] marcuniq commented on #8652
I'm using tensorflow 1.5.0 via docker (gcr.io/tensorflow/tensorflow:1.5.0-devel-gpu-py3) and keras 2.1.3. The following exception sometimes occurs:

[code]

I'm not sure if it's related, but other times my script does not exit and keeps hanging. This makes automatic parameter tuning a hassle.

[2018-02-08 10:44] Rov67777 commented on #16147
Any update on this issue ? I have also tried to use the V100 on my own code (tensorflow 1.5.0 cuda 9.0 cudnn 7) and did not see any speed improvement with respect to GTX 1080 Ti. I tried either float32 and float 16 without any difference. (but I am not sure exactly if the underlying operations were done in float16)

I would be really interested to see any example of code that manages to use the Vo

[2018-02-08 10:51] louisquinn commented on #16147
@Rov67777

I'm just following the progress of this [PR](https://github.com/tensorflow/tensorflow/pull/16253)
TensorRT optimises Tensorflow frozen graphs for Volta architectures. I haven't altered any code to use TensorRT yet, but I may implement a simple model with the demo as a guide, although I don't have access to a V100 at the moment.

[2018-02-08 11:07] VivekPowar opened #16859 "How to improve tensorflow model accuracy ?"
I have created model for chair by using tensorflow. But that model detecting any object as chair, So how can i improve model to detect only chair. We have provided 300 images of chair for training, Total loss of chair model is less than 0.6.  [this is graph](https://i.stack.imgur.com/5yhW4.png) And also give me information about How to improve accuracy of model to detect only chair.

[2018-02-08 11:17] vincent-roye opened #16860 "Tensorflow-gpu 1.6 : failed call to cuInit: CUDA_ERROR_NO_DEVICE"
- CUDA 9.0
- Cudnn 7.0
- Tensorflow-gpu 1.6

nvida-smi is good
![nvidia-smi](https://user-images.githubusercontent.com/2728049/35970141-d827bac6-0cfb-11e8-886f-92b068c62c4e.png)

Error
2018-02-08 18:14:24.768537: I C:\tf_jenkins\workspace\rel-win\M\windows-gpu\PY\36\tensorflow\core\platform\cpu_feature_guard.cc:140] Your CPU supports instructions that this TensorFlow binary was not compiled to use

[2018-02-08 11:22] rongjiecomputer commented on #13061
@boegel If it brings any comfort, building Tensorflow with Bazel on Windows is even more painful. Regularly breaks, then few external contributors or someone from Bazel team will come to fix the build. Repeat cycle.

Someone made it possible to build Tensorflow with CMake + Ninja (see https://github.com/tensorflow/tensorflow/pull/16763)!

[2018-02-08 11:25] pyBlob commented on #16845
added remaining fields

[2018-02-08 11:40] peihe commented on #6416
Using DNS isn't ideal, given ports might be taken after a reboot or after failed workers are assigned to new machines. Plus, DNS introduced another dependency.

I am wondering has anyone tried to use grpc name resolvers with services such as zookeeper?

[2018-02-08 11:51] ZeroCool22 opened #16861 "ImportError: No module named '_pywrap_tensorflow_internal'"
Using TensorFlow backend.

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py in swig_import_helper()
     17         try:
---> 18             return importlib.import_module(mname)
     19         except Impo

[2018-02-08 12:18] NguyenAnhTien opened #16862 "No package nasm"
no such package '@nasm//': java.io.IOException: Error downloading [https://mirror.bazel.build/www.nasm.us/pub/nasm/releasebuilds/2.12.02/nasm-2.12.02.tar.bz2, http://pkgs.fedoraproject.org/repo/pkgs/nasm/nasm-2.12.02.tar.bz2/d15843c3fb7db39af80571ee27ec6fad/nasm-2.12.02.tar.bz2]

[2018-02-08 12:18] NguyenAnhTien commented on #16862
The link http://pkgs.fedoraproject.org/repo/pkgs/nasm/nasm-2.12.02.tar.bz2/d15843c3fb7db39af80571ee27ec6fad/nasm-2.12.02.tar.bz2 is not accessible.

[2018-02-08 12:33] walton-wang929 commented on #12736
@gunan Thank you bro. you said right. my model trained on other tensorflow 1.5 sever machine, but when i tested on my tensorflow 1.5 computer. so it goes wrong. after upgrading tensorflow to 1.5, this problem solved.

[2018-02-08 12:56] Dhruv-Mohan opened #16864 "CPU execution of ops after gradient clipping on windows"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows10
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**:1.5.0
- **Python version**: 3.6
- **Bazel version (if compiling from source)**:N/A
- **GCC/Comp

[2018-02-08 13:33] hannekevandijk opened #16865 "tensorflow 1.6.0 built from sources: No module named 'tensorflow.python'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- ** OS **: Linux Ubuntu 16.04
- **TensorFlow installed  **: from source
- **TensorFlow version **: 'v1.5.0-2271-gf7f7036', 1.6.0-rc0
- **Python version **: 3.6
- **Bazel version **: 0.10.0
- **GCC/Compiler version **: 5.0.4
- **CUDA/cuDNN version **: 9.1/ 7.0.5
- **GPU

[2018-02-08 13:39] BenjaminLarrousse commented on #16179
Hi,
I have the same problem in Tensorflow 1.5, when I try to use ProfilerHook, and I launch:
`my_model.train(...)`
my jupyter notebook kernel dies instantaneously. Is there a work around I can use ?
Thanks

[2018-02-08 13:43] tensorflowbutler commented on #16850
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-08 13:44] tensorflowbutler commented on #16851
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-08 13:44] leandroBorgesFerreira opened #16866 "Support for Android Gradle Plugin 2.3.3"
Hello folks,

Trying to use Tensorflow lite (compiled manually) with android gradle plugin 2.3.3,  I get the following error:

I do understand that there's the 3.0.1 version and it work, but it has many breaking changes and it is not trivial to bump the plugin version. It there any workaround or is there support for 2.3.3 on the road map?

Thanks!

[2018-02-08 13:52] hannekevandijk commented on #16865
if I check myself if there is a python module it is there:

[code]

[2018-02-08 14:12] MrWanter opened #16867 "How to redirect tfdbg dumping directory"
By default, `tfdbg` dumps saved tensors to `/tmp`, but in my case, `/tmp` is mount in `/root `, `/root` has only several G's space, running the example debug is not a problem, but when debugging large network, for which in one run will generate tensors that exceeds 10 G's memory, it would prompts space not enough.

[2018-02-08 14:27] roya0045 opened #16868 "Backpropagation/weight update issue with custom layer"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Win 10
- **TensorFlow installed from (source or binary)**: From pip (binary)
- **TensorFlow version (use command below)**: 1.5
- **Python version**:  3.5
- **Bazel version (if compiling from source)**:---
- **G

[2018-02-08 14:41] roya0045 commented on #16868
Did some tweaks and seem to got it working using the _conv class.

[2018-02-08 14:42] tgamblin commented on #13061
I'll just chime in from the Spack side to say that everything @boegel said is true.  He also gave a nice talk -- I was there 😄.  We package software for Livermore Computing (i.e., all of [these machines](https://hpc.llnl.gov/hardware/platforms)), for other large DOE HPC centers, and for HPC sites outside the DOE.  We have a lot of people who want to use TensorFlow, but it's not maintainable, and o

[2018-02-08 14:58] #15156 closed

[2018-02-08 14:59] #11986 closed

[2018-02-08 15:23] hannekevandijk commented on #16865
Hi again,

Issue solved, I found out that when I ran it in python it worked --> so something wrong in my conda environment. The ipython I ran was the one that was installed in the root environment. So when I installed it, it worked! Very happy running the newest of the newest! thanks for all the work!

Best,

Hanneke

[2018-02-08 15:23] #16865 closed

[2018-02-08 15:29] robhawkins commented on #15604
I think this issue should still be open.  @bwesen's [comment](https://github.com/tensorflow/tensorflow/issues/15604#issuecomment-362637994) is correct.  The docs tell you to install Cuda 8.0 and use `pip install --upgrade tensorflow-gpu`.  Right now that gives you tensorflow 1.5 which does not work with Cuda 8.0

[2018-02-08 15:44] nanoant commented on #8858
Hello everyone.

I want to report similar problem. Scripts from @surmenok does not restart my machine. What does is Keras VGGNet training running on TensorFlow backend (see below) on Arch Linux with NVIDIA 390.25 drivers.

What's more interesting, it crashes only when using batch size of 64. Also, it reports few out of memory errors, continues to run, then my machine reboots after ~1.5 epochs.

[c

[2018-02-08 16:12] qmick commented on #16860
Try set `CUDA_VISIBLE_DEVICES=0`

[2018-02-08 16:20] caisq commented on #16867
The constructors `LocalCLIDebugWrapperSession` and `LocalCLIDebugHook` both have a keyword argument called `dump_root`, which allows you to specify where to dump the debug data.

See:
https://www.tensorflow.org/api_docs/python/tfdbg/LocalCLIDebugWrapperSession#__init__
https://www.tensorflow.org/api_docs/python/tfdbg/LocalCLIDebugHook#__init__

[2018-02-08 16:21] #16867 closed

[2018-02-08 16:21] tfboyd commented on #16147
@Rov67777   ResNet50 FP32 on V100 is ~344 image/sec.  FP16 665 images/sec.  A GTX 1080 ti is likely similar to the original Titan X (Pascal) and I would guess ~200-210 images/sec  because a P100 is ~230 images/sec.  I do not believe the GTX 1080 has strong FP16 support even for inference and no mixed-mode so training would not so well at all based on my understanding.

I do not know your use case

[2018-02-08 16:54] machinelearning147 commented on #16515
Thank you, issue resolved with

`pip install tensorflow==1.5`

[2018-02-08 16:54] #16515 closed

[2018-02-08 16:55] TheGreenEvil commented on #16836
Hello again, updates on my issue.
I recompiled tensorflow with the exact same settings but with python 3.5 from Ubuntu repositories and everything work fine.
After some examination of source code, i find out that
on python 3.5
`sys.getsizeof(type) == 400`
but on my python 3.6
`sys.getsizeof(type) == 416`
and because of that `_EagerTensorBase` was bigger then expected.
And looks like this was the c

[2018-02-08 16:56] ergiegonzaga opened #16871 "Request For Tagalog Translation"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-02-08 16:58] #11351 closed

[2018-02-08 16:59] #15165 closed

[2018-02-08 16:59] BenjaminLarrousse commented on #16576
Are you thinking about a package like this one (implemented in R): https://tensorflow.rstudio.com/tools/tfruns/articles/overview.html ?
It would be SO helpful !

[2018-02-08 17:00] #16836 closed

[2018-02-08 17:02] robhawkins commented on #16670
@gunan it seems like part of the issue is documentation.  It's currently impossible to install tensorflow successfully by following [the instructions](http://archive.is/S1P6z)

[2018-02-08 17:19] ewilderj commented on #13061
Hi everyone on this thread: I want to let you know about a new group to address these issues: [tf-distribute](https://groups.google.com/a/tensorflow.org/forum/#!forum/tf-distribute).

We created it because we hear the pain on these issues and wanted to get the community together so we can come to a solution.

There are [two proposals for a way forward](https://docs.google.com/document/d/1yWIrKZ8-4

[2018-02-08 17:44] #10641 closed

[2018-02-08 17:49] e-ka commented on #16284
@drpngx sorry for the late response, I did not have access to the machine for the last week. Setting the verbosity via the environment variable TF_CPP_MIN_LOG_LEVEL should generally do the same as tf.logging in python, should it not? I also do not see a difference in the output...

[2018-02-08 17:50] shoyer commented on #16576
It's not open source, but Vizier is usable outside of Google as ["hyperparameter tuning"](https://cloud.google.com/ml-engine/docs/hyperparameter-tuning-overview) in Google Cloud's Machine Learning Engine.

[2018-02-08 18:04] lilleswing opened #16872 "Tensorflow 1.5 tf.dynamic_partition on GPU calculates wrong gradient shapes"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
None
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
binary
pip install tensorflow-gpu==1.5.0

- **TensorFlow version (use command below)**:
- **Python version**:
v1.5.0-0-g37aa430d84 1.5.0

[2018-02-08 18:05] tz579 commented on #15618
@jart Thanks a lot and I will try to use Miniconda2 for invoking like "/usr/bin env python" in the meantime.

[2018-02-08 18:16] tfboyd commented on #3636
Nope not yet.

[2018-02-08 18:27] yaroslavvb commented on #13462
closing for vagueness

[2018-02-08 18:27] #13462 closed

[2018-02-08 18:30] gunan commented on #16670
I see. I think the documentation is fixed in the source, but we still need to push them to the website.
@MarkDaoust can we update the documentation in 1.5 and 1.6 branches?

[2018-02-08 18:41] gustavomr commented on #3636
+1

[2018-02-08 18:43] patmanami commented on #12951
Removing the mkl option isn't a fix and that DEIGEN_USE_VML flag definitely does nothing. Getting same errors on Centos 6.5, Python 2.7, TF 1.6, Devtoolset 6. Any other viable solutions?

bazel build --linkopt='-lrt' --verbose_failures --action_env PATH="$PATH" --config=mkl --config=opt //tensorflow/tools/pip_package:build_pip_package

[2018-02-08 18:45] #6446 closed

[2018-02-08 18:48] #15729 closed

[2018-02-08 19:04] ebrevdo commented on #16857
Thang will be able to say more; after the ICML deadline.

On Thu, Feb 8, 2018 at 12:07 AM, Jeremy <notifications@github.com> wrote:

[2018-02-08 19:05] skye commented on #14171
@reedwm can you take a look?

[2018-02-08 19:16] tensorflowbutler commented on #16861
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-08 19:16] tensorflowbutler commented on #16859
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-08 19:16] tensorflowbutler commented on #16857
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-08 19:17] tensorflowbutler commented on #16856
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-08 19:17] tensorflowbutler commented on #16855
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-08 19:17] tensorflowbutler commented on #14859
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:17] tensorflowbutler commented on #14278
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:17] tensorflowbutler commented on #14772
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:17] tensorflowbutler commented on #14669
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:17] tensorflowbutler commented on #14617
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:17] tensorflowbutler commented on #14584
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:17] tensorflowbutler commented on #14528
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:17] tensorflowbutler commented on #14506
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:17] tensorflowbutler commented on #14369
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:17] tensorflowbutler commented on #14366
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:18] tensorflowbutler commented on #14283
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:18] tensorflowbutler commented on #15336
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:18] tensorflowbutler commented on #14924
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:18] tensorflowbutler commented on #14929
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:18] tensorflowbutler commented on #14946
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:18] tensorflowbutler commented on #14993
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:18] tensorflowbutler commented on #15047
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:18] tensorflowbutler commented on #15049
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:18] tensorflowbutler commented on #15096
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:18] tensorflowbutler commented on #15144
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:18] tensorflowbutler commented on #15267
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:18] tensorflowbutler commented on #13912
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:19] tensorflowbutler commented on #13890
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:19] tensorflowbutler commented on #13931
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:19] tensorflowbutler commented on #13967
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:19] tensorflowbutler commented on #13980
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:19] tensorflowbutler commented on #14007
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:19] tensorflowbutler commented on #14012
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-08 19:19] tensorflowbutler commented on #14034
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:19] tensorflowbutler commented on #14041
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:19] tensorflowbutler commented on #14095
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:20] tensorflowbutler commented on #14130
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:20] tensorflowbutler commented on #14134
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:20] tensorflowbutler commented on #14144
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:20] tensorflowbutler commented on #14193
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:20] tensorflowbutler commented on #14217
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:20] tensorflowbutler commented on #14232
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:20] tensorflowbutler commented on #16260
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:21] tensorflowbutler commented on #15903
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:21] tensorflowbutler commented on #15915
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:21] thomasquintana opened #16873 "Undefined symbol when compiling a custom op"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: https://github.com/mozilla/DeepSpeech/blob/master/native_client/beam_search.cc
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.10
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: v1.5.0-0-

[2018-02-08 19:21] tensorflowbutler commented on #15920
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:21] tensorflowbutler commented on #16219
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:22] tensorflowbutler commented on #16261
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:22] tensorflowbutler commented on #16323
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:22] tensorflowbutler commented on #16334
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:22] tensorflowbutler commented on #16345
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:22] tensorflowbutler commented on #16352
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:22] tensorflowbutler commented on #16370
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:23] tensorflowbutler commented on #15549
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:23] tensorflowbutler commented on #15551
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:23] tensorflowbutler commented on #15572
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:23] tensorflowbutler commented on #15576
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:25] tensorflowbutler commented on #15779
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:25] tensorflowbutler commented on #15841
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:26] tensorflowbutler commented on #15874
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:26] tensorflowbutler commented on #10585
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:26] tensorflowbutler commented on #10110
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:26] tensorflowbutler commented on #10338
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:27] tensorflowbutler commented on #10479
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:27] tensorflowbutler commented on #10083
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:27] tensorflowbutler commented on #10672
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:27] tensorflowbutler commented on #10680
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:27] tensorflowbutler commented on #10685
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:27] tensorflowbutler commented on #10731
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:27] tensorflowbutler commented on #10739
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:28] tensorflowbutler commented on #10788
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:28] tensorflowbutler commented on #10804
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:28] tensorflowbutler commented on #3332
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:28] tensorflowbutler commented on #5492
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:28] tensorflowbutler commented on #5676
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:29] tensorflowbutler commented on #7700
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:29] tensorflowbutler commented on #7702
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-08 19:29] tensorflowbutler commented on #8517
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:29] tensorflowbutler commented on #8564
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:29] tensorflowbutler commented on #10837
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:29] tensorflowbutler commented on #9171
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:29] tensorflowbutler commented on #9319
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:29] tensorflowbutler commented on #9471
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:29] tensorflowbutler commented on #9487
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:29] tensorflowbutler commented on #9545
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:29] tensorflowbutler commented on #9638
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:30] tensorflowbutler commented on #9747
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:30] tensorflowbutler commented on #9823
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:30] tensorflowbutler commented on #9849
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:30] tensorflowbutler commented on #9946
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:30] tensorflowbutler commented on #10012
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:30] tensorflowbutler commented on #12101
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:30] tensorflowbutler commented on #11626
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-08 19:30] tensorflowbutler commented on #11670
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:30] tensorflowbutler commented on #11726
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:31] tensorflowbutler commented on #11806
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:31] tensorflowbutler commented on #11604
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:31] tensorflowbutler commented on #13281
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:32] tensorflowbutler commented on #13519
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:32] tensorflowbutler commented on #13641
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-08 19:32] tensorflowbutler commented on #13705
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:32] tensorflowbutler commented on #11071
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:33] tensorflowbutler commented on #11275
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:33] tensorflowbutler commented on #11337
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:33] tensorflowbutler commented on #11361
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:33] tensorflowbutler commented on #360
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-08 19:33] tensorflowbutler commented on #11389
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:33] tensorflowbutler commented on #11396
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:33] tensorflowbutler commented on #11447
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-08 19:34] tensorflowbutler commented on #11521
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:34] tensorflowbutler commented on #11541
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:34] tensorflowbutler commented on #11548
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:34] tensorflowbutler commented on #11585
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-08 19:42] ebrevdo commented on #10479
@Sycor4x would you be interested in adding a peephole_initializer option to `LSTMCell` so that optimizer can be used for peephole connections if it's available?

[2018-02-08 19:44] johnsrude commented on #14369
Yes.

The Nettles: Celtic. Eclectic. Folkadelic.
www.TheNettles.com <http://www.thenettles.com/>

On Thu, Feb 8, 2018 at 11:21 AM, Alfred Sorten Wolf <
notifications@github.com> wrote:

[2018-02-08 19:47] reedwm commented on #14171
Here is a simpler example the reproduces the problem

[code]

The output is:

[code]

This is no memory leak, because the current bytes-in-use always goes back to 1MB after the session finishes running. But it is weird how running a single step with a batch-size of 29 causes future steps with a batch size of 128 to use more memory.

@yzhwang can you take a look? My post has all the info of the roo

[2018-02-08 19:48] thomasquintana commented on #16873
I resolved the problem. This is not a TensorFlow issue.

[2018-02-08 19:48] #16873 closed

[2018-02-08 19:54] reedwm commented on #14171
Actually I just realized that MaxBytesInUse stays at 3766 MB, since it is never reset, so once it reaches 3766 MB it will never go down.

So, it seems the issue is that a batch size of 29 uses more memory than a batch size of 128. My guess is that with a batch size of 29, the faster algorithm is different than with a batch size of 128. The batch-size-29 algorithm probably uses a lot more memory th

[2018-02-08 19:55] sedghi commented on #9487
@tatatodd I was able to resolve it by
[code]

[2018-02-08 20:20] artus9033 commented on #227
You can have a look at [this](https://github.com/tensorflow/models/issues/1695), but what I got were errors  during attempt to obtain memory buffer size, which ended in an InternalError

[2018-02-08 20:26] akshayka commented on #14007
This somehow slipped under my radar; I'll dig into this ...

[2018-02-08 20:36] shoyer opened #16875 "Update Dockerfile to install Python 3.6"
The Python 3 containers at gcr.io/tensorflow/tensorflow generated by [tensorflow/tools/docker](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/docker) are currently built using Python 3.5.

It would be nice to update them to Python 3.6 instead, which I think would be as simple as adding `sudo apt-get install python3.6`.

- **Have I written custom code (as opposed to using a s

[2018-02-08 20:57] freud14 commented on #14034
So I've talked to guy at Compute Canada and he told me that tensorflow isn't even compiled with libmkl but numpy is. He also told me that he updated to the last version of tensorflow and it solved the problem. So I guess it is not an issue anymore?

[2018-02-08 20:57] #14034 closed

[2018-02-08 21:15] jeremywong42 opened #16877 "tensorflow.python.framework.errors_impl.NotFoundError on _gru_ops.dll / no non-ASCII characters on path"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 x64
- **TensorFlow installed from (source or binary)**: binary: pip install tensorflow
- **TensorFlow version (use command below)**: 1.5.0
- **Python version**: 3.6.2 (v3.6.2:5fd33b5, Jul  8 2017, 0

[2018-02-08 21:21] JeremyFxx commented on #221
I think the tf.matrix_inverse() is already implemeted on GPU.

I run this benchmark on my laptop with 1060 Ti 6GB and get the following results:

time elapsed tf.matrix_inverse: 0:00:00.561071
time elapsed sp.linalg.inv:     0:00:02.610363

[2018-02-08 21:24] IdRatherBeCoding commented on #1604
I implemented the sparse CNN (forward prop only) in python as a learning exercise, computing Q and H with py_func. Comments welcome: https://github.com/IdRatherBeCoding/sparse_cnn

[2018-02-08 21:41] mrry commented on #15776
Closing due to lack of activity. Please feel free to re-open if more information becomes available.

[2018-02-08 21:41] #15776 closed

[2018-02-08 22:03] sanjoy commented on #16828
The AOT generated binary contains machine code for the CPU you're targeting (for instance x86) whereas the TF graph is a serialized representation of the TensorFlow graph (very different from machine code).  Everything else remaining equal, you can expect that a larger TF graph will generate a larger binary; but other than that there is no correlation between these two things.

[2018-02-08 22:16] AdnanBoota commented on #10033
I am beginner with tensorflow, having same problem. Can we run webcam detection with opencv without cuDNN?

Let me know please

[2018-02-08 22:29] michaelisard commented on #10535
Closing due to lack of activity. Please reopen if this is still a problem.

[2018-02-08 22:29] #10535 closed

[2018-02-08 22:30] RoboEvangelist commented on #14267
Hi, is this also a problem in tensorflow 1.5.0? upgrading takes a long time, so I don't want to do it if it also has the same problem :-(

[2018-02-08 22:39] MarkDaoust commented on #13895
Other possible approaches:

 * Alternate `train` and `eval` calls
 * In a separate process, monitor the `model_dir` for checkpoints and run `eval` on each time a new one appears.

[2018-02-08 22:43] FrancescoSaverioZuppichini commented on #13895
That is more a hack than a solution

[2018-02-08 22:44] michaelisard commented on #16766
I'm not sure what you are suggesting. Do you think there's some part of the documentation that could be improved here? I'm not sure it's feasible to try to make Python do what you want here.

[2018-02-08 22:51] anj-s commented on #15722
ahundt@ sorry for the delay, I haven't had a chance to get to this yet. However you can update the doc string [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/image_ops_impl.py#L847) and open a PR.

Both types of image processing are consistent from what I see.
@asimshankar  Do you know the recommended approach?

[2018-02-08 22:56] RoboEvangelist commented on #15876
Dude...so many issues with the new tensorflow versions. I might have to consider switching to cafee or something! hahaha

[2018-02-08 23:16] nishaskinner commented on #12065
I'm facing a similar issue. I've described what I'm trying to do at stackoverflow.
https://stackoverflow.com/questions/48216786/seq2seq-in-tensorflow-without-embeddings

Has anyone managed to use a CustomHelper for this?

[2018-02-08 23:23] yzhwang commented on #14171
Yes, I tested with TensorFlow 1.5.0. By turning off autotune with this code:
`os.environ["TF_CUDNN_USE_AUTOTUNE"] = "0"`
peak memory drops to 97.5MB, otherwise I get the same result as @reedwm .

The reason for this is that currently, when we use autotune to pick the best algorithm, we use running time as the only metrics. We should start considering memory consumption too. This is on my todo list

[2018-02-08 23:34] thiell commented on #16850
Have I written custom code: no
OS Platform and Distribution: Linux CentOS 7.4
TensorFlow installed from: pip
TensorFlow version: tensorflow-gpu 1.5.0
Bazel version: N/A
CUDA/cuDNN version: 9/7
GPU model and memory: Not relevant here, it's a packaging issue
Exact command to reproduce: already provided

[2018-02-09 00:15] michaelisard commented on #7378
It looks as if the solution suggests

export OPENCV_OPENCL_RUNTIME=

in your shell, e.g. bash on linux.

[2018-02-09 00:15] thefiddler opened #16882 "Compilation error when building tfcompile on Windows / Visual Studio 2017"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 64bit
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: master / 926fc13f7378d14fa7980963c4fe774e5922e336
- **Python version**: Python 3.6.2 ::

[2018-02-09 00:17] michaelisard commented on #10958
Closing due to lack of activity but please reopen if this is still a problem.

[2018-02-09 00:17] #10958 closed

[2018-02-09 00:29] michaelisard commented on #16862
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2018-02-09 00:33] michaelisard commented on #16868
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-09 00:33] #16868 closed

[2018-02-09 00:42] reedwm commented on #14171
@yzhwang, thanks for the info. Closing this issue, since considering memory consumption is a separate issue.

[2018-02-09 01:05] d4l3k commented on #16795
You likely want to be running
[code]

[2018-02-09 01:19] selcouthlyBlue opened #16883 "Feauture Request: Multidimensional RNN"
I would like to contribute a Multidimensional RNN feature in the contrib directory based on the implementation mentioned [here](https://github.com/tensorflow/tensorflow/issues/1453#issuecomment-194976468).

By any chance, is it related to the [main paper](https://arxiv.org/abs/0705.2011) for it?

[2018-02-09 01:36] kbxu commented on #16323
@tensorflowbutler I find out when doing the same work, the depthwise_conv2d is much more memory friendly than the matrix element-wise multiplication. I'm running with the depthwise_conv2d and free from the "out of memory" error now.

[2018-02-09 01:38] freedomtan commented on #16851
updated for the template

[2018-02-09 02:02] Lancerchiang commented on #13610
@mrry, Hi, I am recently building a multi-gpu model, does dataset API still do not support GPU well? I have been thinking if I should use dataset API or a queue-based approach, thanks!

[2018-02-09 02:17] mrry commented on #13610
@Lancerchaing Both the (current version of the) `tf.data` API and the old queue-based approach place the entire input pipeline on the CPU, and the GPUs are exercised by parts of the graph that come after the input pipeline. Since the overheads associated with the `tf.data` implementation are smaller, I'd recommend using it over the queue-based approach. Take a look at the [TF benchmarks](https://g

[2018-02-09 02:32] fword commented on #15841
yes

[2018-02-09 02:58] tobegit3hub opened #16884 "The output_type of NodeDef should support DT_INT64"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OSX
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.5.0
- **Python version**: 2.7
- **Bazel version (if compiling from source)**: 0.5.4
- **GCC/Compi

[2018-02-09 03:03] zhangyinsheng commented on #15314
I've encountered the same problem. In my case, this is actually caused by a silly mispelling mistake:

It SHOULD BE:
python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/ssd_mobilenet_v1_pets.config

BUT I USED:
python train.py --logtostderr --train_dir=training/ --pipelie_config_path=training/ssd_mobilenet_v1_pets.config

This makes "train.py" unable to parse the "F

[2018-02-09 03:35] Lancerchiang commented on #13610
Hi thanks for the reply, I have looked into this benchmarking before and the other one here [https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10_estimator/cifar10_main.py](url)
I am pretty new to tensorflow, and I need to change our existing project to a multi-gpu mode (instead of starting from scratch). Do you think below is a right approach with `tf.data` API ?

`
dataset =

[2018-02-09 04:21] #15584 closed

[2018-02-09 04:29] Lancerchiang commented on #13610
@mrry Hi thanks for the reply, I have looked into this benchmarking before and the other one here [https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10_estimator/cifar10_main.py](url)
I am pretty new to tensorflow, and I need to change our existing project to a multi-gpu mode (instead of starting from scratch). Do you think below is a right approach with `tf.data` API ?

[code]

[2018-02-09 04:36] rayanelleuch commented on #2169
#16885

[2018-02-09 04:43] ed-alertedh commented on #13610
I'm looking forward to GPU prefetching as currently using StagingArea to manually pipeline data gets a little messy.

For the single-machine use-case I'm looking at using a feedable iterator to switch between training data and test data - is there any chance this could be supported on GPU so that it could be combined with prefetching? Trying to share the same prefetch pipeline between two data sou

[2018-02-09 05:06] daisylab commented on #10220
I met same situation described above. It happened when my system (slackware linux) updated gcc from 5.3 to 5.5, as @fischman said.

[2018-02-09 05:25] RoboEvangelist commented on #7378
Just compile --config=monolithic :libtensorflow_cc and then it'll work at least in C++. There appears to be something with tensorflow_framework library that is interfering with opencv

[2018-02-09 06:14] sj6077 commented on #7970
I think it's okay, now. Can you close it?

[2018-02-09 06:15] philipstephens opened #16886 "Please support Cuda 9.1"
I tried cloning the alpha zero chess from https://github.com/Zeta36/chess-alpha-zero and almost got everything to work.  However when I try "python src/chess_zero/run.py self" I get the message

ImportError: Could not find 'cudart64_90.dll'. TensorFlow requires that this DLL be installed in a directory that is named in your %PATH% environment variable. Download and install CUDA 9.0 from this URL:

[2018-02-09 06:33] taehoonlee commented on #11638
The issue is already fixed (refer to the [codes](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/layers/pooling.py#L74)).

[2018-02-09 06:38] daisylab commented on #16886
You can get a legacy release of CUDA, e.g., 9.0, from here;

https://developer.nvidia.com/cuda-toolkit-archive

[2018-02-09 06:48] sanjayraojjn commented on #16855
required details updated above.

[2018-02-09 07:01] vonclites commented on #8658
I just wrote a light-weight class to handle exactly this use case.  It should be very easy to drop in.  No Estimator necessary.  I have a paper deadline end of this week.  Early next week I'll move the code into a public repo and post a link in here.

[2018-02-09 07:06] xcv9685 commented on #16828
@sanjoy  Thanks for your help.
So if I want to test whether AOT reduce code size, how should I test?
Does it means I should take final binary file's  size which generate from AOT compare with original TF graph + runtime size?

[2018-02-09 07:10] tensorflowbutler commented on #16875
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-09 07:33] w4nderlust commented on #14171
Thank you guys for shedding light on the issue. In my specific case, this additional usage of memory for a smaller batch size was making the model go out of memory, not immediately but at the end of the epoch. So if I may have a suggestion. Now I know that setting TF_CUDNN_USE_AUTOTUNE I can keep the memory usage constant.
So may I suggest adding an option to ConfigProto? Setting it the user would

[2018-02-09 07:44] xcv9685 commented on #16828
@sanjoy Thanks for your help very much.
According to speech at TensorFlow Dev Summit 2017(https://youtu.be/kAOanJczHA0?t=2831),
Code size can be evaluated by Original(Runtime + Graph) compare with Compiled(Code+Weigh).
As I know, Graph = TF graph, what does the rumtime means? Does it mean all libraries that graph need to use?
And does Code+Weight mean the binary file which compiled by AOT?

[2018-02-09 07:51] vincent-roye commented on #16860
Perfect, it's working. thanks!

[2018-02-09 07:51] #16860 closed

[2018-02-09 07:54] sanjoy commented on #16828
Yes, it is everything that you need to actually execute the graph.

It depends on the context, but most likely yes.

[2018-02-09 08:14] UlrichBernert68 commented on #14188
The way of providing the training data in the problem context is not
the recommended one since TensorFlow 1.4. As there is the possibility
that using the now recomended new mechanisms could prevent that kind of
problem from occurring I think the bug could be closed and maybe
reopened if it exists in the new setup too.

Am Donnerstag, den 08.02.2018, 11:23 -0800 schrieb Alfred Sorten Wolf:

[2018-02-09 08:21] chiru83 commented on #16035
If i make 'use_GPU_nms flag' as False in cfg file, code is executing without any error.

[2018-02-09 08:36] xav12358 commented on #16795
Hello d4l3k, So building libtensorflow_inference.so works properly in armeabi-v7a works.
But the problem is I try to build tensorflow:libtensorflow_cc.so in arm64-v8a.
To summurize:

tensorflow:libtensorflow_cc.so armeabi-v7: OK arm64-v8a: NOK
libtensorflow_inference.so armeabi-v7: OK arm64-v8a: NOK

[2018-02-09 09:18] prathap6646 commented on #13912
sorry for inconvenience the issue was resolved.

[2018-02-09 09:52] daisylab opened #16887 "A problem about gcc 5.5.0. It does not compile TensorFlow."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-02-09 10:19] zaynkorai commented on #16752
@martinwicke facing same problem how to solve it. I posted it on stack overflow no answer yet.

[2018-02-09 10:51] thefiddler opened #16888 "tfcompile fails with Executor failed to create kernel. Not found: No registered 'ResizeNearestNeighbor'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes, very simple CNN (attached)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS 10.13.3
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 926fc13
- **Python version**: python 3.6.4
- **Bazel version

[2018-02-09 12:01] traveller59 commented on #4638
use gather to do advanced index need much more code than numpy/pytorch, and make code hard to read. please implement this if possible.
I have implemented a [simple function](https://gist.github.com/traveller59/02695ba2ff9ada5a12b0e842174062bf) to do some numpy-style advanced indexing based on tf.gather_nd and tf.transpose.

[2018-02-09 12:33] mholzel commented on #675
I just tested the previous code on the nightly Docker build, and the error remains.

[2018-02-09 12:36] rundembear opened #16889 "Problems Getting TensorFlow to behave Deterministically"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-02-09 12:42] fritzfitzpatrick commented on #12065
@nishaskinner I think Rylan managed to get it to work, but I am getting stuck.

@RylanSchaeffer can I pick your brain about this in a mail? I am creating a generic example for regression using a sequence to sequence architecture that will work with any input sequence length and number of features, as well as any output sequence length and number of features.

The work in progress notebook can be f

[2018-02-09 12:58] litenjacob commented on #15701
Yes, this is still an issue: [http://download.tensorflow.org/models/mobilenet_v1_0.25_128_quantized_frozen.tgz](http://download.tensorflow.org/models/mobilenet_v1_0.25_128_quantized_frozen.tgz) and many of the other smaller models aren't reachable.

[2018-02-09 13:06] yongtang commented on #11638
Closed through #15500

[2018-02-09 13:06] #11638 closed

[2018-02-09 13:07] tensorflowbutler commented on #16883
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-09 13:14] selcouthlyBlue commented on #16883
Nome if them are relevant to in my case since this is a feature request.

Have I written custom code: I will be writing custom code.
OS Platform and Distribution: N/A
TensorFlow installed from: N/A
TensorFlow version: N/A
Bazel version: N/A
CUDA/cuDNN version: N/A
GPU model and memory: N/A
Exact command to reproduce: N/A

[2018-02-09 13:29] AndreasMadsen commented on #15564
Right now I'm a bit busy, but I should be able to work on this from Febuary 19th as I will be moved to our Open Source Data Science Team.

[2018-02-09 13:57] dersar00 opened #16891 "How show detecting image."
When I start a object_detection_tutorial script via ipython, it's didn't show me any image.  My console:
![image](https://user-images.githubusercontent.com/17855733/36030750-0f96f458-0db1-11e8-867c-7d545c6e3170.png)
But something is starting in process because starting some python program, but before it's  open, the program is closed.
![image](https://user-images.githubusercontent.com/17855733/360

[2018-02-09 15:28] andrehentz commented on #16813
The java exception seems to imply that file you are trying to read is invalid. I'd say loading failed at https://github.com/tensorflow/tensorflow/blob/d4ad9c73969c45d1a224ebfc43eb645b9860216b/tensorflow/contrib/lite/java/src/main/native/nativeinterpreterwrapper_jni.cc#L296 but I can't tell exactly why.

[2018-02-09 15:37] oroojlooy commented on #8584
It seems that I need MPSS to manage the Xeon and I see that Intel just released the RedHat and Suse versions. I have Debian, can I install it?
I found some instructions for converting the rpm packages into deb files. Do they work?
Is there any suggestion?

[2018-02-09 16:13] andrehentz commented on #16351
I can't tell why that disappeared. I've made the change manually now, and it should be pushed soon.

[2018-02-09 16:58] dmak opened #16893 "Building TensorFlow v1.5.0 from sources does not detect bazel v0.10.0 correctly"
It looks like build script uses strings for version comparison, i.e. tuple `("0", "10", "0") < ("0", "4", "5")`, hence Bazel version 0.10.0 is considered less then required version 0.4.5:
[code]
OS Platform and Distribution: SuSE Linux 12.3
TensorFlow installed from: [this source](https://github.com/tensorflow/tensorflow/archive/v1.5.0.zip)
TensorFlow version: 1.5.0
Bazel version: 0.10.0, compiled

[2018-02-09 17:00] Lynten commented on #9583
@viettan28 Hi, I encountered the same error, could you present your fixed code sample?

[2018-02-09 17:09] jooojo opened #16894 "`control_dependencies` unexpected behavior with tensorflow>=1.3"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: from binary
- **TensorFlow version (use command below)**: 1.1.0, 1.3.0, 1.5.0
- **Python version**:  2.7.6
- **

[2018-02-09 17:13] lewleib commented on #13694
I am out of the office now. Will reply next week. Sorry for the delay.

On Thu, Feb 8, 2018 at 1:48 PM Alfred Sorten Wolf <notifications@github.com>
wrote:

[2018-02-09 17:25] mhuen commented on #16831
I guess something like this, shouldn't be too much of a slowdown:

[2018-02-09 17:31] GPhilo opened #16895 "Variables disappearing when freezing graph with (fused) BatchNorm"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: I'm using an inception_resnet_v2 from the slim model zoo
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.6.0rc0
- **Python version**: 3.5
- **

[2018-02-09 17:35] #9487 closed

[2018-02-09 17:39] skye commented on #15841
Please edit your original post to include the information requested by the butler above (or if you wish, close this issue and fill out a new one using the issue template, which requests the same information). We need this information to reproduce the problem you're experiencing, among other reasons. Thanks.

[2018-02-09 17:40] skye commented on #16323
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-09 17:40] #16323 closed

[2018-02-09 17:40] skye commented on #16627
I'm gonna close this as it's fixed in master (and presumably 1.6?) and there's a workaround.

[2018-02-09 17:40] #16627 closed

[2018-02-09 17:43] skye commented on #16747
I think @rmlarsen has the flu, and @qmick seems to have discovered the answer, so I'm gonna mark contributions welcome for now. Please feel free to submit a PR!

[2018-02-09 17:45] random-residual commented on #16385
I am having this problem as well on AWS SageMaker. I am using a simple example and transforming it to an estimator with ```python tf.keras.estimator.model_to_estimator(keras_model=model)```. I can train the model but cannot save it, I get the following error:

[code]

My code is:

[code]

I can train the model locally in Jupyter in SageMaker.

[code]

I have spend quite a bit of time trying to get

[2018-02-09 17:47] skye commented on #16751
Hi, are you able to create a smaller repro script? We likely won't be able to debug this otherwise. Also, could you post the error message you receive and any other relevant information?

[2018-02-09 17:49] skye commented on #16751
Actually, this may be related to #15075. Regardless, we don't have the ability to support or debug Jetson TX2 issues, so I'm marking contributions welcome.

[2018-02-09 17:50] skye commented on #16757
cc/ @martinwicke

[2018-02-09 17:54] skye commented on #16761
Can you post a script we can run to reproduce this problem?

cc/ @vrv , I'm not sure who else should handle this

[2018-02-09 17:59] vrv commented on #16761
@skye I think the problem is that the input_backprop_index is an int, not an int64.

[2018-02-09 18:04] skye commented on #16791
cc/ @MarkDaoust

[2018-02-09 18:05] skye commented on #16795
@asimshankar do you own android builds?

[2018-02-09 18:05] yzhwang commented on #3332
Reassigned to @chsigg as he has been working on this.

[2018-02-09 18:07] skye commented on #16799
Thanks for sharing your solution! cc/ @caisq

[2018-02-09 18:07] #16799 closed

[2018-02-09 18:08] skye commented on #16803
@suharshs can you comment or redirect? Thanks!

[2018-02-09 18:09] skye commented on #16827
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-09 18:09] #16827 closed

[2018-02-09 18:11] skye commented on #16831
@yzhwang can you comment or redirect? Thanks!

[2018-02-09 18:20] skye commented on #16835
@jhseu @rmlarsen do you know if anyone works on einsum? I'm gonna mark contributions welcome for now, as I'm not sure anyone is currently maintaining einsum.

[2018-02-09 18:22] skye commented on #16845
I'm gonna mark as contributions welcome as we don't have the bandwidth to debug install issues. You might also try posting on Stack Overflow.

[2018-02-09 18:23] skye commented on #16871
@MarkDaoust is it possible for external contributors to help with docs translations?

[2018-02-09 18:26] skye commented on #16835
cc @mstreeter

[2018-02-09 18:37] xav12358 commented on #16795
What do you means by " own Android builds"?  Why should I have Android builds whereas un armeabiv7 I sont need it.
What is the difference between tensorflow_cc and tensorfllw_inference?

[2018-02-09 18:57] zheng-xq commented on #14171
I am suspecting something weird is happening. With autotuning, it is not supposed to use much more memory than if autotune is disabled

1. During the measurement phase, if an algorithm failed to allocate memory, it is not a fatal error. TF just removes that algorithm from candidacy.
2. During the execution phase, even if the op uses scratch memory, it almost immediately releases for later. Only co

[2018-02-09 19:13] tensorflowbutler commented on #14107
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-09 19:13] tensorflowbutler commented on #16390
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-09 19:13] tensorflowbutler commented on #16363
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-09 19:13] tensorflowbutler commented on #16004
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-09 19:13] tensorflowbutler commented on #15992
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-09 19:13] tensorflowbutler commented on #14302
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-09 19:13] tensorflowbutler commented on #14292
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-09 19:14] tensorflowbutler commented on #14291
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-09 19:14] tensorflowbutler commented on #14219
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-09 19:14] tensorflowbutler commented on #4809
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-09 19:14] tensorflowbutler commented on #13649
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-09 19:14] tensorflowbutler commented on #13565
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-09 19:14] tensorflowbutler commented on #13433
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-09 19:14] tensorflowbutler commented on #13329
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-09 19:14] tensorflowbutler commented on #13069
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-09 19:14] tensorflowbutler commented on #11905
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-09 19:14] tensorflowbutler commented on #11651
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-09 19:14] tensorflowbutler commented on #10299
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-09 19:14] tensorflowbutler commented on #8773
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-09 19:15] tensorflowbutler commented on #6683
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-09 19:15] tensorflowbutler commented on #4821
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-09 19:28] yzhwang commented on #14171
@w4nderlust We had a discussion offline. So as @zheng-xq just mentioned, autotune could use a large chunk of memory in two cases. In the measurement phase, I think he has explained it very well why there shouldn't be an OOM or any other failure. Just to provide you more info as to help you understand what happens in the execution phase:
There will be two algorithms recorded in autotune: the primar

[2018-02-09 19:32] michaelisard commented on #13912
Thanks!

[2018-02-09 19:32] #13912 closed

[2018-02-09 19:33] michaelisard commented on #14188
Agreed, closing for now but please reopen if it's present in non-deprecated mechanisms.

[2018-02-09 19:33] #14188 closed

[2018-02-09 19:36] michaelisard commented on #16828
It probably makes sense to move any further discussion on this topic to stackoverflow, since it isn't a bug report or feature request. Thanks!

[2018-02-09 19:36] #16828 closed

[2018-02-09 19:40] #7632 closed

[2018-02-09 19:42] tatianashp commented on #7632
I am closing the issue then. If somebody needs fp16 for maxpool3d  and wants to implement please feel free to submit PR.

[2018-02-09 19:42] ikizhvatov opened #16898 "Tensorflow build with MKL-DNN produces garbage results"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes (running a keras example)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: v1.6.0-rc0-0-gaaf367e, 1.6.0-rc0
- **Python version**: 3.6

[2018-02-09 19:43] michaelisard commented on #16888
@hawkinsp have you thought about how hard this would be to implement in XLA?

[2018-02-09 19:56] hawkinsp commented on #16888
This op would not be terribly hard to implement via XLA (although perhaps not performantly on CPU).

There's already a bilinear resize op (although I suspect it isn't fast on CPU) and one possible implementation strategy is to use almost the same code but with a different convolution kernel. This would at least fix the immediate error here, but I have no idea if it would meet any performance requi

[2018-02-09 20:16] MarkDaoust commented on #16871
We're working on a plan for translation infrastructure. It's something we know we need to do. I'm closing this since we don't need a bug per language.

@ewilderj do you know of any community translation efforts in the mean time?

[2018-02-09 20:16] #16871 closed

[2018-02-09 20:33] michaelisard commented on #16888
For now I will leave it as contributions welcome in case anyone wants to try to generalize the existing bilinear resize op.

[2018-02-09 20:43] martinwicke commented on #16850
@yifeif do you recall what we did for unittest (and enum), which has a similar problem? A module needed for py2, but not as a dependency for py3?

[2018-02-09 20:56] jgung opened #16899 "TF 1.5.0 Java API broken in Ubuntu 14.04: `GLIBCXX_3.4.20' not found"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.5.0
- **Python version**: N/A
- **Bazel version (if compiling from source)**: N/A
-

[2018-02-09 21:09] wenguanwang commented on #12491
Uninstall enum and intall enum34.

[2018-02-09 21:13] deepaksuresh opened #16900 "Restoring a model trained with tf.estimator and feeding input through feed_dict"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.5
- **Python version**:
3.6.2
- **CUDA/cuDNN version**:
9.0/7.0
- **GPU model and memory**:

[2018-02-09 21:23] MarkDaoust commented on #16791
The docs on the TensorFlow site have been updated. r1.5, r1.6, and master all include this commit now:

https://github.com/tensorflow/tensorflow/commit/f68404bdd10a4b6ef2a50439efac4614de024636

[2018-02-09 21:23] #16791 closed

[2018-02-09 21:30] yifeif commented on #16850
I don't think we have `concurrent` as one of our dependencies. Could it be from another package @thiell?

[2018-02-09 21:33] MarkDaoust commented on #16477
r1.5, r1.6 and master all include that change now and the website has been updated.

[2018-02-09 21:35] TerryLMay commented on #12745
I meet the same problem, and my ps server and worker server correct match with ps/worker index. but there also have this problem.
[code]
i check ps and worker python process. they all run in correct way.
any idea about this issue？ thanks

[2018-02-09 21:42] tylerlekang commented on #16477
@MarkDaoust the windows install webpage now shows CUDA 9.0, but shows cuDNN 6.0, and requires minimum compute capability of 3.0

The ubuntu install webpage, on the other hand, shows CUDA 9.0, cuDNN 7.0, and requires minimum compute capability of 3.5.

Just want to confirm these are correct. If so it means we can't use cuDNN 7.0(.x) on windows??

[2018-02-09 21:47] gunan commented on #16477
Windows also requires cuDNN 7,  looks like we missed that.

[2018-02-09 21:59] asimshankar commented on #6683
@pickou  : As @NLPpupil and @flrngel point out, I don't believe there is a problem with the TensorFlow checkpointing here, but rather it's the use of `set` for the generating the vocabulary in your program that is the underlying cause of the problem.

Specifically, between `python train_gentext.py` and `python load_gentext.py`, the vocabulary changes because each time [`preprocess()`](https://gith

[2018-02-09 22:03] mrry commented on #15840
I'm guessing this occurred when you tried to build that library in a directory that contained artifacts from a previous build, perhaps based on a different version of the source.

We only maintain the CMake build in a state where it can build from a clean repository (as part of the CI and release processes), and this is intended to be a temporary state of affairs until we can switch to using Bazel

[2018-02-09 22:07] mrry commented on #16894
Recent versions of TensorFlow have applied more aggressive constant folding. Both of your custom op implementations are stateless (ignoring the side effect of their `LOG` messages), so they may be subject to constant folding. To inhibit constant folding for each op add `.SetIsStateful()` to the end of the `REGISTER_OP()` builder.

[2018-02-09 22:32] tylerlekang commented on #16477
Does Ubuntu actually require a GPU with higher computer capability than for Windows? It would wipe out a large swath of previous gen GPU cards if 3.5 is the true minimum.

[2018-02-09 22:36] yzhwang commented on #16831
This sounds like a higher level API that first splits both input and filter then run regular convolution before finally concat. @ekelsen can you comment? Thank you!

[2018-02-09 22:57] martinwicke commented on #16850
But we are using it in `grpc_debug_server.py`, so maybe we should have a dependency?

[2018-02-09 23:03] michaelisard commented on #16780
The first time your op is run is during a constant-folding optimization pass. When the output is sufficiently small the constant folding heuristic decides to replace the execution of the op by a constant, and when the 'real' step runs it doesn't need to execute your op again. When the output is larger, the heuristic decides it's better to keep re-running the op than fold it into a constant, so the

[2018-02-09 23:03] #16780 closed

[2018-02-09 23:08] asimshankar commented on #16795
The `//tensorflow:libtensorflow_cc.so` bazel target includes dependencies that may not be Android friendly. As a general rule, not all build targets in the TensorFlow repository are compatible with Android and we will rely on the community to figure out how to build any target of interest if needed.

`libtensorflow_inference.so` is specifically designed to be a version of the TensorFlow runtime su

[2018-02-09 23:08] michaelisard commented on #16900
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-09 23:08] #16900 closed

[2018-02-09 23:10] asimshankar commented on #16899
@gunan @av8ramit - Are the C (and JNI) libraries for 1.5 supposed to be built in a way that is compatible with the older glibc of Ubuntu 14.04?

[2018-02-09 23:15] thiell commented on #16850
The dependency only makes sense for Python 2 as `concurrent.futures` has been added to Python 3's standard library (see https://docs.python.org/3/library/concurrent.futures.html and https://www.python.org/dev/peps/pep-3148/).

[2018-02-09 23:19] yifeif commented on #16850
We don't have concurrent explicitly listed out in our dependencies (see https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/setup.py). @caisq do you think we need to add it for `grpc_debug_server.py`?

Curious how `concurrent` got installed here. I saw grpcio has dependency on `future`, but not `concurrent`.

[2018-02-10 00:19] ewilderj commented on #16871
@MarkDaoust I haven't any personal experience with it, but Red Hat has a tool called Zanata that can be used for both docs and software http://zanata.org/

I am very interested in how we can organize community contribution to documentation. We have a large opportunity with China, for instance.

[2018-02-10 00:24] av8ramit commented on #16899
@asimshankar those are not building currently with 14.04 support. We are working on migrating everything asap, but right now only the linux python builds have it.

[2018-02-10 00:29] asimshankar commented on #16899
Thanks @av8ramit : Is it correct to say that for 1.5, the minimum requirement will be Ubuntu 16.04 (and should I update the website)? Do we plan to return to Ubuntu 14.04 for 1.6 or 1.7?

[2018-02-10 00:37] av8ramit commented on #16899
Yes, let's update the minimum requirement if that's okay. @gunan ?

[2018-02-10 01:17] krm1312 commented on #16899
I would appreciate it if you would reconsider for the same reasons it was reconsidered in #15777.  We are happily using the java API on CentOS 7.  This version upgrade to TF effectively means we need to rebuild these artifacts and deploy the associated (non-trivial) build chain.

[2018-02-10 01:28] tensorflowbutler commented on #16891
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-10 01:50] rongjiecomputer commented on #16882
Simple test case:

[code]

Due to MSVC's buggy template parsing, `acceptA(f<T>())` will fail. Changing it to `acceptA(this->f<T>())` will make it work for MSVC. GCC and Clang will happily accept the extra `this->`. PR coming soon.

[2018-02-10 01:59] rongjiecomputer commented on #16882
@thefiddler Can you check of #16904 fixes the issue?

[2018-02-10 02:42] WenmuZhou commented on #15057
My network is not very good recently, and I will conduct this test on February 25, then you can also use this [code](https://drive.google.com/open?id=1WbjbJxzJRyYtxvGoZhyeVe2FgwEoc5c1)to test

[2018-02-10 03:05] dieka13 commented on #13336
Hello, it seems that my confirmation reply didn't posted correctly and i just realized that now, I'm sorry.
as @isaprykin suggested, building from source was working.
However, when I building latest tensorflow serving from source with GPU support, this exact error show up again. from what i know, tensorflow serving will pull latest tensorflow nighly, so this fix will have been merged, right?
I use

[2018-02-10 04:17] deepaksuresh commented on #16900
I had opened a [question ](https://stackoverflow.com/questions/48679622/restoring-a-model-trained-with-tf-estimator-and-feeding-input-through-feed-dict)on stackoverflow, but didn't get any response.

[2018-02-10 04:21] yaroslavvb opened #16906 "python 3.6 + latest tf = infinity of "msgpack_numpy.py:142 PendingDeprecationWarning: encoding is deprecated.""
Symptom, trying to train resnet-50 imagenet @ppwwyyxx 's [imagenet-resnet.py](https://github.com/ppwwyyxx/tensorpack/blob/master/examples/ResNet/imagenet-resnet.py) script fails to start after 5 minutes, because of some thread being blocked trying to flush a gazillion of warning messages above

Since this problem is solved by downgrading from "tf-nightly-gpu" (`1.7.0-dev20180208`) to tensorflow-gp

[2018-02-10 04:33] w4nderlust commented on #14171
@yzhwang thank you really much for your detailed explanation and for taking the time to write it. I will test if the OOM that I was getting originally still happens now (with updated TF and CUDA/cuDNN) and in case will provide some code to replicate it. Thank you again.

[2018-02-10 05:05] ppwwyyxx commented on #16906
Oops actually I think this one is on me. I did make calls to msgpack with use_bin_type. If you have pip installed pyarrow, it will not use msgpack then.
But not sure why downgrading tensorflow will help you.

[2018-02-10 05:08] yaroslavvb commented on #16906
hm, I may have done something else in addition to tensorflow downgrade, will close for now

[2018-02-10 05:08] #16906 closed

[2018-02-10 06:59] Lancerchiang opened #16907 "Multi-GPU could not provide performance improve with dataset API"
I just wrote a small piece of code in tensorflow to test its multi-gpu performance, with dataset API.

[code]
I have 2 GPUs and this program takes 0.68 seconds to finish.
When I change to a single GPU execution mode:

[code]

It takes the same time to finish (actually single GPU is even faster perhaps due to overhead reasons). Do anyone know where does the problem come from?

python version: Pytho

[2018-02-10 07:07] tensorflowbutler commented on #16893
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-10 07:07] Lancerchiang commented on #16907
@mrry
expert of distributed tensorflow

[2018-02-10 07:09] huangwei2013 commented on #16907
You may check installed model of the tensorflow

[2018-02-10 07:11] Lancerchiang commented on #16907
@huangwei2013 Hi thanks for the reply! Do you mean the Cifar10 multi_gpu_train one? That's a queue based approach. I would like to try the dataset here

[2018-02-10 09:34] jooojo commented on #16894
Thanks，this solved my problem.

[2018-02-10 09:34] #16894 closed

[2018-02-10 09:45] zotroneneis commented on #15150
I trained different medium models using the adapted version of the tensorflow tutorial (see original post) with tensorflow version '1.6.0-dev20180126'. It seems to be working correctly now! Thanks for the support.

[2018-02-10 11:11] bhack commented on #16907
It could be interesting to understand also if the dataset api is ready to work on the shelf with `tf.keras.utils.multi_gpu_model` or we still have the same problem [already described on keras](https://medium.com/rossum/towards-efficient-multi-gpu-training-in-keras-with-tensorflow-8a0091074fb2).

[2018-02-10 11:17] bhack commented on #16907
/cc @fchollet

[2018-02-10 11:17] yeysus commented on #6331
Thanks @otech47 . Your sudo pip install --ignore-installed numpy worked for me. Let's see what happens down the road :-).

[2018-02-10 11:28] LifeIsStrange commented on #22
What about replacing the openCL port with the HIP port backed by AMD ?

 https://github.com/ROCmSoftwarePlatform/hiptensorflow

[2018-02-10 11:37] Rhuax opened #16910 "Saver is saving empty .meta and .data files"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu
- **TensorFlow installed from (source or binary)**: I don't know , it's on google colaboratory
- **TensorFlow version (use command below)**:1.4.1
- **Python version**: 3.6
- **Bazel version (if compilin

[2018-02-10 12:07] keryell commented on #22
Haha! @LifeIsStrange Life is very strange actually... Are you working for the HiP marketing team of AMD ? :-)
Please look at the subject of this issue : "OpenCL support".

This means it is about the Khronos standard https://en.wikipedia.org/wiki/OpenCL (and the other SYCL standard from the OpenCL Khronos working group appears at the end of the "Overview" section).

Of course there is a world outsi

[2018-02-10 12:16] bhack commented on #16182
Totally agree on the high level api unification. The problem is also that Keras API needs to mediate with multiple backend so it could be not be totally TF team driven. See also https://github.com/tensorflow/models/issues/1357#issuecomment-347722179

[2018-02-10 12:42] lucy-itjob commented on #8529
Alex,

Thank you for all this information.

I am new in this area. To me,  you are the first one land on the moon in this area,  I am still on the earth, and pulling my hair to get this Tensorflow  working on RHEL6, hoping some day I can land on the moon just like you did.

Can you do me a favor? I know you had listed your local customized files which modified by  you in  previously email chain,

[2018-02-10 12:55] thefiddler commented on #16882
I can confirm #16904 fixes this specific compilation issue.

[2018-02-10 12:56] gowthamcastro commented on #5643
where to clone it

[2018-02-10 13:10] thefiddler opened #16911 "VS2017 / Windows build error tfcompile: no user-defined conversion for 'xla::HloInstruction::Identical::<lambda_6c9857087f6484280d6d6ec01ce267b9>"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 64bit
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: afc30a0dc00e13d5f0ed522e98ba7074f21d2813
- **Python version**: Python 3.6.2 :: Anaconda

[2018-02-10 13:13] albenoit commented on #8529
Hi,
nice to know it helps.

However, despite the fact that compilation and installation succeeded, i
have trouble when running a tensorflow graph because of a conflict between
cudnn versions. I am investigating on this.
My current error message appears when the tensorflow session starts:

But, when running ldd on the tensorflow so file, it points to cudnn7.0.4
and the trouble seems to come from a

[2018-02-10 13:46] #16910 closed

[2018-02-10 14:02] dmak commented on #16893
Most of the information is visible from the log, however I've updated the ticket to make it complete.

[2018-02-10 14:26] traveller59 opened #16913 "Eager: tf.linalg.inv(tf.transpose(mat)) has undefined shape in function with tfe.defun"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Win10
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:1.6.0dev20180126(GPU)
- **Python version**: 3.6.3
- **Bazel version (if compiling from source)**: N/A

[2018-02-10 14:37] mhuen commented on #16831
Along those lines:
I'm currently investigating how additional symmetries and a priori knowledge can be exploited apart from translational invariance. It would be helpful to have something like a tf.map_fn for patches of a conv2d or conv3d. So instead of applying a convolution on the extracted 2D or 3D input patches, a function fn would be applied.
For the 2D case a combination of tf.extract_image_

[2018-02-10 15:12] bhack commented on #16452
/cc @gpapan @YknZhu any connection to your new [DeepLabv3+](https://arxiv.org/abs/1802.02611) paper/code?

[2018-02-10 16:17] joeyearsley commented on #16907
A few comments:
1) [Shard your dataset](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#shard)
2) Move the _i_ loop to around a sess.run; here you are expanding your graph to a huge size

[2018-02-10 17:12] bhack commented on #16907
There was also some recent update in models using dataset api but not strictly related to the multi gpu keras interface. See https://github.com/tensorflow/models/pull/3332.

[2018-02-10 17:27] RylanSchaeffer commented on #12065
@adarob , I agree that while you're correct, the lack of documentation and examples (and a general explanation of what a Helper even does) makes writing a CustomHelper difficult for people who aren't familiar with the library, as these comments demonstrate.

@nishaskinner Yes, my CustomHelper worked as I intended. I posted the code above.

@fritzfitzpatrick , what exactly would you like to talk ab

[2018-02-10 17:51] tsoernes opened #16914 "Bazel can't find cudnn.h, ignores cudnn directory specified in configuration"
[cuda-inst.txt](https://github.com/tensorflow/tensorflow/files/1713644/cuda-inst.txt)
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Fedora 27 x64
- **TensorFlow installed from (source or binary)**: Source/Release
- **TensorFlow version (use command below)**: 1.6.0-rc0
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: 1.10
- **GCC/Comp

[2018-02-10 18:22] gunan commented on #10439
I am so sorry for missing this issue for so long.
CPU and GPU build both use the same compiler flags. So I am not sure what may be causing the timing difference.

[2018-02-10 18:23] gunan commented on #10685
I am still stuck with the errors in dynamic linking.

[2018-02-10 18:23] bhack commented on #16468
Can we target this before 1.6 will be finalized?

[2018-02-10 18:27] bhack commented on #16453
Just as an example we need to always make explicit requests [like this](https://github.com/tensorflow/tensorflow/issues/16468#issuecomment-364678210) in meanwhile TF team is releasing subsequent RC.

[2018-02-10 19:18] tensorflowbutler commented on #13549
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-10 19:18] tensorflowbutler commented on #15626
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-10 19:18] tensorflowbutler commented on #16213
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-10 19:18] tensorflowbutler commented on #16239
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-10 19:18] tensorflowbutler commented on #16291
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-10 19:19] tensorflowbutler commented on #16428
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-10 19:19] tensorflowbutler commented on #16456
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-10 20:00] ebrevdo commented on #12065
Sorry to respond late.  Is anyone here interested in adding a comprehensive
docstring to the module explaining helpers and how to create your own?  You
could base it on existing unit tests.

On Sat, Feb 10, 2018, 9:28 AM Rylan Schaeffer <notifications@github.com>
wrote:

[2018-02-10 20:04] burglarhobbit opened #16917 "ValueError: No attr named '_XlaCompile' in name: "while/attention/cond/fw/CudnnRNN/Enter" and AttributeError: 'NoneType' object has no attribute 'back_prop'"
### System information
- **Have I written custom code**: Yes
- **OS Platform and Distribution**: Ubuntu 16.04
- **TensorFlow installed from**: binary
- **TensorFlow version**: 1.4.1
- **Python version**: 3.5.2
- **Bazel version:** Not compiled from source
- **GCC/Compiler version**: Not compiled from source
- **CUDA/cuDNN version**: 8.0
- **GPU model and memory**: GeForce GTX 1080 (8GB x 4)
- **Ex

[2018-02-10 20:05] ajinkya933 opened #16918 "TensorFlow demo keeps stopping for flowers_images on Android TFlite"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-02-10 20:33] superbobry opened #16919 "libhdfs3 instead of libhdfs"
Current HDFS support in TensorFlow is based on [`libhdfs`](https://wiki.apache.org/hadoop/LibHDFS), a JNI wrapper for the HDFS client implemented in Java. Due to this design choice, users of `libhdfs` (and transitively TensorFlow)

* need to keep in mind an implicit dependency on the JVM runtime,
* have to do quite a bit of [trickery](https://www.tensorflow.org/deploy/hadoop) to setup the environm

[2018-02-10 21:51] tsoernes commented on #16914
https://github.com/tensorflow/tensorflow/pull/16319 in conjunction with https://github.com/tensorflow/tensorflow/issues/16165 solved my issue.

[2018-02-10 21:51] #16914 closed

[2018-02-10 21:57] meghashyam0046 commented on #12052
If anybody are still facing problems like Keras with TensorFlow backend not using GPU.... just follow the instructions in this page. It is updated and works 100% correctly.
https://research.wmz.ninja/articles/2017/01/configuring-gpu-accelerated-keras-in-windows-10.html

[2018-02-10 21:59] mrry commented on #16213
I think the answer here is to use an external solution (e.g. a cluster manager like Kubernetes or Mesos) to notice that the chief has terminated and bring down the other replicas. As far as I know there is no signaling built into the `tf.train.Supervisor` or its descendants (`tf.train.MonitoredSession`, `tf.estimator.Estimator`) that will cause the non-chief replicas to exit reliably.

/cc @ispirm

[2018-02-10 22:09] galv opened #16924 "typeid broken across shared boundary makes a271c36b5ead4686b72d972b193bf1f534a92ffd not work"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Custom shared object linking to
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04)
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: a271c36b5ead4686b72d972b193bf1f534a92ffd
- **Python ver

[2018-02-10 22:21] mrry commented on #16907
@joeyearsley raises a good point about the loop structure here, which isn't representative of a real training job. In particular, it builds a huge graph that performs every iteration using a different `tf.matmul()` node, whereas it is more common to build a graph that works on a single mini-batch and then calls `sess.run()` multiple times in a loop. The `tf.matmul()` operations multiply two four-e

[2018-02-10 22:21] #16907 closed

[2018-02-10 22:23] deepaksuresh commented on #8042
@sleighsoft Could you please post the edited the code that works. I'm facing the same issue when trying to export a model using `estimator`. The method `estimator.export_savedmodel(export_dir_base, serving_input_receiver_fn)` requires an input receiver function. Where should the placeholder for feeding inputs during inference be placed.  How is that placeholder connected to the input pipeline. I'm

[2018-02-10 22:58] zzhang68 commented on #6698
I've met the same issue.
However, I found that after I installed CUDA 9.0, my driver will not be the latest version.
SO, try to update your Nvdia driver to the latest version and restart your PC. It works for me!

[2018-02-10 23:23] selcouthlyBlue opened #16925 "Using bidirectional_dynamic_rnn with Grid3LSTMCell Gives Outputs with Different Shapes"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Microsoft Windows 8.1
- **TensorFlow installed from (source or binary)**:
Binary
- **TensorFlow version (use command below)**:
1.4 cpu
- **Python version**:
3.6
- **Bazel version (if compiling from source)**:

[2018-02-10 23:36] selcouthlyBlue commented on #16925
Actually, this is also applicable to `Grid1LSTMCell`, and `Grid2LSTMCell`.

[2018-02-11 00:17] drpngx commented on #16284
`C++` logging and pthon logging are different. If you set it correctly, you should definitely see a lot more output.

[2018-02-11 00:29] mrry commented on #16924
Thanks for reporting this. There is a forthcoming change (submitted internally, but not yet merged into the Git master) that moves the `DatasetOpKernel` implementation for `tf.contrib.data.ignore_errors()` into a shared library. As far as I can tell from the presubmits, that code is working, but it's possible that there's a gap in test coverage for this case. We may have to wait a few days until t

[2018-02-11 00:46] cgarciae opened #16926 "Dataset to TFRecord"
The dataset API is excellent, I am even using it to perform data augmentation before training. However, I notice that when converting my dataset to tfrecord I follow a pattern that might easily be automated as a `to_records` method, in fact I think this is somewhat similar to using the `cache` method. Anyway, it would make it very straight forward for dataset users to create tfrecords.

[2018-02-11 01:03] galv commented on #16924
Interesting that you apparently got this to work successfully.

I don't have a small reproducible test case for this right now, unfortunately, so I spotted it in a sizable code base which uses cmake and has a non-trivial dependency, but I'm sure I can make one.

Your point about `DatasetVariantWrapper` not needing to be in the custom op library is a good one. Thanks for pointing that out. I'll loo

[2018-02-11 01:25] mrry commented on #16924
I can just confirm that I was able to build the internal version (with the `IgnoreErrorsDatasetOp` moved to a separate .so) as a PIP package and run `tensorflow/contrib/data/python/kernel_tests/map_dataset_op_test.py`, which invokes that op.

I suspect there is something different in the way the custom op .so is built in our Bazel build, and how it is built in your CMake build. (Are you building T

[2018-02-11 01:39] galv commented on #16924
That's good to hear.

I am building tensorflow using Bazel, and the building the external library
using CMake. A reasonable thing for me to do is to link against the latest
nightly build, rather than building from source. (I built from source only
because I was changing the error message to understand the problem better.)

The appropriate linker flags and so on are acquired via tf.sysconfig.*
func

[2018-02-11 02:06] MicrocontrollersAndMore opened #16927 "image_retraining/retrain.py warning: Op BatchNormWithGlobalNormalization is deprecated. It will cease to work in GraphDef version 9. Use tf.nn.batch_normalization()"
If I download https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/image_retraining/retrain.py and run it I get the following warning:

`2018-02-10 20:48:38.928435: W C:\tf_jenkins\workspace\rel-win\M\windows\PY\36\tensorflow\core\framework\op_def_util.cc:343] Op BatchNormWithGlobalNormalization is deprecated. It will cease to work in GraphDef version 9. Use tf.nn.batch_normali

[2018-02-11 02:59] candou1611 commented on #16761
@skye @vrv , Thanks for your comments.
I already attach script in [here](https://stackoverflow.com/questions/48574868/tensorflow-core-dumped-after-check-failed), while a batch of training image is very large, it's not possible to upload them.
I just change input_backprop_index from int to int64 in 172 line located in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/maxp

[2018-02-11 03:16] applenob commented on #11904
One question about the code: you use two attention mechanism during training and predicting phase. Do they share the same parameters?

[2018-02-11 04:49] tatianashp commented on #14496
@vivek-rane explained why using MKL does not help with performance for this network. I am closing the issue.

@georgh If you have more questions related to MKL performance please re-open.

[2018-02-11 04:49] #14496 closed

[2018-02-11 05:20] gunan commented on #16899
We can try looking into building this with ubuntu 14.04
We can work together on Monday to come up with a solution.

[2018-02-11 07:10] tensorflowbutler commented on #16917
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
Exact command to reproduce

[2018-02-11 07:10] tensorflowbutler commented on #16919
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-11 07:20] ahundt commented on #1686
FYI I'm pretty sure this is achievable with https://github.com/uber/horovod in combination with a standard SLURM launch shell script, assuming all the proper software is installed.

[2018-02-11 09:11] ericwhiteau commented on #15698
Hi there,
I had the same problem and attempted to follow the above workaround.  (without success)

But then thinking about the original error.  "Version miss match with Tensorflow"

Easy solution which worked for me.

Verify the version of Tensorflow used on the Laptop to build  1.5.0

Set same version in Android build.   Slap forehead....

dependencies {
compile 'org.tensorflow:tensorflow-android

[2018-02-11 09:12] xsr-ai opened #16929 "Tensorflow Lite toco convert a quantized model to tflite format crash error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 17.10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: r1.5 / r1.6
- **Python version**: python2.7 / python 3.6
- **Bazel version (if compili

[2018-02-11 09:15] ifulmirwanda commented on #15698
I not have laptop

Pada tanggal 11 Feb 2018 4.14 PM, "ericwhiteau" <notifications@github.com>
menulis:

Hi there,
I had the same problem and attempted to follow the above workaround.
(without success)

But then thinking about the original error. "Version miss match with
Tensorflow"

Easy solution which worked for me.

Verify the version of Tensorflow used on the Laptop to build 1.5.0

Set same ver

[2018-02-11 09:30] augusterodin opened #16930 "Gradient function of tile operator failed with sparse Tensor"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4/1.5
- **Python version**: 3.5.3
- **Bazel version (if compiling from source)**:
- **GCC/C

[2018-02-11 09:49] zhedongzheng commented on #11904
@applenob no they don't, here i just do a minimal example to demonstrate the workflow. You are right, we need to control variable scopes in practice.

[2018-02-11 10:23] mzur commented on #5773
I've tried the code above with TF 1.5.0 and it's working correctly now. Thanks!

[2018-02-11 10:45] ericwhiteau commented on #15698
Sorry - More generic.
Whatever system you used to build the model for the sample application.  As it is retraining a network.

You need the version of the Tensorflow that you built the model with and set that version.

[2018-02-11 10:47] shartoo opened #16931 "how do `TensorFlowInferenceInterface` process image whose height not equal to width"
I'm writing a java service using Spring boot and my tensorflow predict model was trained by python Tensorflo Object Detection API. The model is FasterRCNN (coco-resnet),the model can accept any shape(whose height not equal to width,such as  600x800,1280x720) of image in python while thing cannot be done like this in Java.

I read an example code written in Java from [TensorFlowImageClassifier.java

[2018-02-11 10:54] ifulmirwanda commented on #15698
please share your number whatsapp you make it easier

Pada tanggal 11 Feb 2018 5.48 PM, "ericwhiteau" <notifications@github.com>
menulis:

[2018-02-11 11:27] meggamind commented on #16888
@michaelisard  : I would love to work on this. Can you share some more info on this.
Thanks.

[2018-02-11 12:17] Joshuaalbert opened #16932 "Clarify RNNCell documentation on state_size and zero_state"
## TF Version
Documentation of current head r1.5

### Describe the problem
In the [RNNCell documentation](https://www.tensorflow.org/api_docs/python/tf/contrib/rnn/RNNCell#zero_state) for `zero_state` it is unclear if the state returned from an RNNCell should always be a 1-D Tensor or if it can be an N-D Tensor. The second is actually the case.

The current documentation says

This is mostly true,

[2018-02-11 12:38] lxkarthi opened #16933 "Converting numpy array to TFRecord is slow"
### FloatList and Feature is slow for numpy array.
Saving numpy arrays with np.load and np.save is much faster than Converting to TFRecord and reading it back.
while profiling the code, I found that half of the time is spent in _floats_feature.
tf.train.FloatList is taking 1/3 of the time.
How to speed this up?

### System information
- **Below snippet of code to convert numpy array is much slow c

[2018-02-11 12:56] xav12358 commented on #16795
Is there a cpp version of libtensorflow_inference ? Or what I had to  to that to use it on cpp on Android?

[2018-02-11 13:08] tensorflowbutler commented on #16926
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-11 13:08] tensorflowbutler commented on #16927
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-11 13:08] tensorflowbutler commented on #16333
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-11 13:26] lachaka opened #16934 "Can not create confusion_matrix"
This is my code for the network. I am using tensorflow 1.4 and I am using my nvidia for training. The code is working. I want to create a confusion matrix and I do it like this

    with tf.device('/device:GPU:0'):
        images = tf.placeholder(tf.float32, [None, IMAGE_WIDTH, IMAGE_LENGTH, 3])
        labels = tf.placeholder(tf.int64, [None])

        flat = tf.layers.flatten(labels)
        log

[2018-02-11 13:26] jhljx opened #16935 "TensorFlow1.5.0 absl.flags._exceptions.UnparsedFlagAccessError in Jupyter Notebook"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.5.0
- **Python version**:  3.6
- **Bazel version (if compiling from source)**: n/a
- **G

[2018-02-11 13:28] MicrocontrollersAndMore commented on #16927
Have I written custom code:
No custom code, I ran retrain.py with no modifications

OS Platform and Distribution:
Windows 10

TensorFlow installed from:
pip

TensorFlow version:
1.5

Bazel version:
not sure

CUDA/cuDNN version:
n/a (using CPU version of TensorFlow)

GPU model and memory:
n/a (using CPU version of TensorFlow)

Exact command to reproduce:
shown in screenshot above

[2018-02-11 14:19] applenob commented on #11904
Thanks for your reply. Do you have any code sharing? Since the two attention as two inputs with different shape, I don't think these two variables can be shared.

[2018-02-11 14:59] rabeehkarimi opened #16937 "there is no idct implementation in tensorflow"
Hi
I need idct implementation in tensorflow, anyone aware of any implementation on this?
thanks

[2018-02-11 15:04] dahvid commented on #11802
Word is there is still no body working on this at Intel.

On Fri, Jul 28, 2017 at 8:14 PM, Toby Boyd <notifications@github.com> wrote:

[2018-02-11 15:29] zhedongzheng commented on #11904
Hi, @applenob If you want to have a look at more complex and complete code, you can have a look on my repo (https://github.com/zhedongzheng/finch).

[2018-02-11 16:14] dverstap commented on #16899
I have the exact same problem with TF Java 1.5.0 on Red Hat Enterprise Linux 7 and CentOS 7. TF 1.4.0 Java worked fine before.

[code]

Unfortunately, this is the newest version of RHEL/CentOS (there is no 8 yet, not even beta).

Python TF 1.5.0 (tensorflow-1.5.0-cp27-cp27mu-manylinux1_x86_64.whl) works just fine on RHEL/CentOS7, so this seems specific to TF Java.

[2018-02-11 16:48] choongng commented on #11802
@dahvid do you have a shareable benchmark that could be used to estimate performance on your workload?

[2018-02-11 16:50] cameron2018 commented on #6698
yesterday my code was working just fine, there was an update to ubuntu this morning and now my code produces this. nothing else has changed.

2018-02-11 07:54:57.097712: E tensorflow/stream_executor/cuda/cuda_dnn.cc:385] could not create cudnn handle: CUDNN_STATUS_INTERNAL_ERROR
2018-02-11 07:54:57.097756: E tensorflow/stream_executor/cuda/cuda_dnn.cc:352] could not destroy cudnn handle: CUDNN_STA

[2018-02-11 17:38] nio1814 commented on #7278
I'll make an attempt to continue what @AnishShah started. We'll see how it goes...

[2018-02-11 18:39] galv commented on #16924
Okay, this bug is my mistake, it turns out. It appears I was loading an extra stale copy of a shared object, form what I can tell.

For those curious, I did make a tiny sample project, which helped me realize the issue was certainly on my side. If anyone ends up on this page looking for a how-to on creating a new dataset op, you can check out this [repo](https://github.com/galv/tensorflow-dataset-

[2018-02-11 18:39] #16924 closed

[2018-02-11 18:40] YanzheL commented on #16723
@asimshankar Same error

[code]

[2018-02-11 19:06] tensorflowbutler commented on #16931
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-11 20:02] VanitarNordic commented on #12388
I have the same problem with Tensorflow 1.5 and Cuda 9.0 :-(

[2018-02-11 20:23] apiszcz opened #16939 "tensorflow 1.3,1.4,1.5,1.6 DLL load failed with CUDA 9.1, CUDnn-7.05, Windows 10"
import tensorflow strack trace

[code]

[2018-02-11 20:46] xenonkfr commented on #5949
i tried the selfcheck.py and the report is as follows:

ERROR: Failed to import the TensorFlow module.

- Python version is 3.6.

- TensorFlow is installed at: C:\Users\......\Anaconda3\lib\site-packages\tensorflow

- Could not load 'cudart64_80.dll'. The GPU version of TensorFlow
  requires that this DLL be installed in a directory that is named in
  your %PATH% environment variable. Download and

[2018-02-11 20:54] eisenjulian commented on #16466
Hi @chihuahua, what do you think of the suggestion?

[2018-02-11 21:41] VanitarNordic commented on #12388
@ironfroggy

I have the same problem as yours. Could you find a solution?

[2018-02-11 22:01] asimshankar commented on #16723
@YanzheL, since this seems to be an issue with your bazel setup and not TensorFlow, I'm going to close this issue here.  Thanks!

[2018-02-11 22:01] #16723 closed

[2018-02-12 01:10] tensorflowbutler commented on #16932
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-12 01:10] tensorflowbutler commented on #16933
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-12 01:10] tensorflowbutler commented on #16934
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-12 01:10] tensorflowbutler commented on #16937
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-12 01:16] Mzmat commented on #10611
same problem firefox fixed it

[2018-02-12 01:58] applenob commented on #11904
Cool project !

[2018-02-12 02:56] selcouthlyBlue opened #16940 "TypeError: ('Keyword argument not understood:', 'adjustment') when passing slim.batch_norm as normalizer_fn to slim.conv2d"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **TensorFlow installed from (source or binary)**:
Binary
- **TensorFlow version**:
1.4.0 CPU
- **Python version**:
3.6
- **Bazel version (if compiling from source)**:
N/A
- **GCC/Compiler version (if compiling from source)**:
N/A
- **CUDA/cuDNN version**:
N/A
- **GPU m

[2018-02-12 02:59] selcouthlyBlue commented on #16940
Actually, even just using `slim.batch_norm` throws the same error.

[2018-02-12 03:16] selcouthlyBlue commented on #16940
Closing this issue now since I already solved it. I forgot that I modified the layers.py that I'm using to test something out and caused that error.

[2018-02-12 03:16] #16940 closed

[2018-02-12 03:17] drpngx commented on #11541
@LordPython is this issue still current?

[2018-02-12 03:18] sadimanna opened #16941 "Linking of rule '//tensorflow/python:_pywrap_tensorflow_internal.so' failed /usr/bin/ld.gold: fatal error: bazel-out/k8-opt/bin/tensorflow/core/kernels/_objs/quantize_and_dequantize_op/tensorflow/core/kernels/quantize_and_dequantize_op.pic.o: read: Input/output error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
1.5.0
- **Python version**:
2.7.12
- **Bazel version (if compiling from source)**:
0.10.0
- **GCC/Compiler versi

[2018-02-12 03:19] wwb20030901 commented on #12101
@CD1010  do you solve your problem? I get the same problem

[2018-02-12 03:22] drpngx commented on #13895
CC @martinwicke

[2018-02-12 03:25] CD1010 commented on #12101
@wwb20030901 No.  I think we have to wait till they support 17.10 Ubuntu.

[2018-02-12 04:31] sadimanna commented on #16941
Well, it seems that going into recovery mode and doing `fsck` on the system partition `/dev/sda1` did the job for me.
It solved the problem with bazel.

[2018-02-12 04:31] #16941 closed

[2018-02-12 05:08] XVilka commented on #22
There is a fork of TensorFlow supporting OpenCL https://github.com/hughperkins/tf-coriander

And of course @benoitsteiner 's work https://github.com/benoitsteiner/tensorflow-opencl

[2018-02-12 05:17] kiariendegwa commented on #12726
Hi, what Bazel version are you using? There's a whole list of tensorflow native builds and their accompanying requirements. https://www.tensorflow.org/install/install_sources

[2018-02-12 05:32] ed-alertedh commented on #16284
Somewhat related to this: TF 1.4, Python 3.6.3 x64, Windows 10, CUDA 8, cuDNN 6, NVIDIA driver 385.69

I was trying to set CUDA_VISIBLE_DEVICES="" (as per #9201) to stop the GPU being grabbed at all and it goes ahead and open the device anyway. I only have one GPU on this laptop so I can't test what the behaviour is for multiple devices (the other machines I have access to are all running linux).

[2018-02-12 06:28] apisutilis opened #16942 "wrapping op in while_loop makes it run faster, even with single iteration"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: v1.5.0-0-g37aa430 (1.5.0)
- **Python version**: 3.5.2
- **Bazel version (if compili

[2018-02-12 06:38] x10000year commented on #16829
@isaprykin

[2018-02-12 06:51] linyuhui opened #16943 "tensorflow serving, add_meta_graph_and_variables() legacy_init_op doesn't surpport a tf.group of multi ops."
the new nmt model in tutorial [https://github.com/tensorflow/nmt](url) using index_table_from_file and the datasets API make_initializable_iterator. So when I want to deploy the model as serving,  in builder.add_meta_graph_and_variables(), I assigned legacy_init_op with an tf.group(tf.tables_initializer(), infer_model.iterator.initializer) or use tf.control_dependencies, when I export the model an

[2018-02-12 07:11] #16477 closed

[2018-02-12 07:29] tensorflowbutler commented on #16939
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-12 08:39] sainisanjay opened #16944 "Tensorflow (0.11.0) returns error while running training and testing scripts."
Due to some constraint i am using Tensorflow version 0.11.0, which i installed using bellow commands:
export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.11.0-cp27-none-linux_x86_64.whl
pip install --ignore-installed --upgrade $TF_BINARY_URL

After installation i am successfully able to import Tensorflow in python:
[code]

but when i am running my training script

[2018-02-12 09:24] burglarhobbit commented on #16917
Done.

[2018-02-12 10:14] Joshuaalbert commented on #16942
I find the same behaviour.
I include a slight modified copy-pastable MVCE.
I get 9s and 3 s with the below on CPU.

## MVCE
[code]

[2018-02-12 11:27] lachaka commented on #16934
Have I written custom code: Yes, I am trying to classify images
OS Platform and Distribution: Ubuntu 16.04 x64
TensorFlow installed from: pip
TensorFlow version: 1.4
Bazel version: N/A
CUDA/cuDNN version: 7.5
GPU model and memory: Nvidia 740M 2GB
RAM: 6GB
Exact commnad to reproduce: N/A I am using jupyter

[2018-02-12 11:29] mkaze commented on #15604
I have the same issue (with cuda 9.1 + tensorflow 1.5). I think to resolve it, one option is that to downgrade cuda to 9.0. The other option would be to downgrade both cuda to 8.0 and tensorflow to 1.4. If you have already installed cuda 8.0, you only need to modify `LD_LIBRARY_PATH` (and `CUDA_HOME`) to point to cuda 8.0 directory (i.e. `/usr/local/cuda-8.0`).

[2018-02-12 11:58] lissyx commented on #11275
@ebrevdo So, it looks like with current master, it's not an issue anymore ? At least I can again use `tfcompile`

[2018-02-12 12:21] Mikun4619 opened #16946 "tensorflow lite converter(toco) build error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Windows 10(64bit)
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**: tensorflow 1.5.0
- **Python version**: Python 2.7/3.6
- **Bazel version (if compiling f

[2018-02-12 12:54] ginsongsong opened #16947 "Using P100 on different generations of CPUs causes training to slow down on TF1.5"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: RedHat 7.3
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.5
- **Python version**: 2.7
- **Bazel version (if compiling from source)**: From yum installat

[2018-02-12 12:55] seaotterman opened #16948 "tf.QueueBase.dequeue_many returns list instead of tuple"
The dequeue_many operation returns a **list** of Tensors, while the documentation states that it should be a **tuple** (which is more sensible).

(https://www.tensorflow.org/api_docs/python/tf/QueueBase)

Version: 1.5.0 from PIP, Python3, on OS/X

[2018-02-12 13:32] nairvinitha commented on #15426
Hey, the problem has been sorted. Thank you!

[2018-02-12 13:37] slackhare commented on #8841
I had the same problem where the code:
`with tf.device('/gpu:0'):`
`    x = K.prod(x, axis=-1)`
threw the error:
`that had a different device: /device:CPU:0 vs /device:GPU:0. Ignoring colocation property.`
 and since there is no implementation yet, I used a workaround to make it runable on my GPU:
`with tf.device('/gpu:0'):`
`    x = K.log(K.sum(K.exp(x), axis=-1))`

[2018-02-12 13:56] Johnson145 commented on #14719
@ghostsun89 @OdingdongO I checked the mean and std values again and think the ones posted above are incorrect. They are correct for the usage of the "old non-slim" inception-v3 version. However, the discussed slim version requires `mean=0` and `std=255`. [See this](https://github.com/tensorflow/models/issues/3346) for some additional information.

[2018-02-12 13:56] arn197 commented on #15633
Any updates?
I'm also facing a similar issue. Thanks in advance.

[2018-02-12 14:13] GPhilo commented on #16895
After reading issue #10857, I figured out the source of all evil seems to be the graph having been generated with `is_training=True`. Since the attribute is available in `FusedBatchNorm`, would it be possible to have `freeze_graph.py` emit a warning when freezing a FusedBatchNorm with `is_training=True`? Otherwise the script will silently work but the generated `.pb` file is broken.

[2018-02-12 14:23] VincentSC commented on #22
Is the focus here on getting-it-to-run-as-lomg-as-it-is-OpenCL, or making it actually run faster? I'd prefer there not a holy war, but focusing on getting it to run fast on several GPUs. LifeIsStrange's focus is on getting it to work on AMD GPUs and then HIP makes good sense. For others the focus is to make it work on Intel GPUs or Android, and then OpenCL makes much more sense. GPU-languages are

[2018-02-12 14:29] cathalgarvey commented on #22
As I understand it, benchmarking is hard if you compare CUDA to OpenCL, because you have to use different hardware. Allegedly, nVidia deliberately made/allowed their OpenCL implementation to be somewhat broken, so benchmarking on the same hardware will always result in CUDA looking great.

On 12 February 2018 14:26:11 GMT+00:00, VincentSC <notifications@github.com> wrote:

--
Sent from my Android

[2018-02-12 14:34] igsoft commented on #15122
@andrehentz I'm trying to use your method but I'm not able to create the quantized.tflite. I'm using a docker with tf1.5 and in your second step with toco I received:
`toco --input_file=tf_files/retrained_graph.pb --input_format=TENSORFLOW_GRAPHDEF --output_format=TFLITE --output_file=tf_files/model.tflite --inference_type=QUANTIZED_UINT8 --input_array=Placeholder --output_array=final_result --inp

[2018-02-12 14:49] VincentSC commented on #22
Comparing only 2 numbers is no information - who cares if OpenCL on NVidia runs at half speed if it runs at 4x speed on other GPUs?

I think we'd need these benchmarks:
1. CUDA on NV GPUs (reference benchmarks)
1. https://github.com/hughperkins/tf-coriander on AMD, Nvidia and Intel GPUs
1. https://github.com/benoitsteiner/tensorflow-opencl on AMD, Nvidia and Intel GPUs
1. https://github.com/lukeiw

[2018-02-12 15:13] dahvid commented on #11802
Hi Ng,
We're working directly with the Intel Inferencing Engine development group
in Moscow.  We're under NDA with them so they're allowed to have the data.
But if you take any standard 3d convolution benchmark.  Compile TF with MKL
enabled and then check against w/o MKL, or better yet, look in VTune and
see what's going on.  You'll see that the 3d convolutions are not being
forwarded to MKL.  I'v

[2018-02-12 15:32] mrry commented on #16824
Yes, the `tensorflow` target defined in [`tf_shared_lib.cmake`](https://github.com/tensorflow/tensorflow/blob/b9f548d041ba8d66102c6d195e645051f1bee52f/tensorflow/contrib/cmake/tf_shared_lib.cmake#L64) should build a DLL that exports the C API.

[2018-02-12 15:46] tkc285 commented on #16807
Problem solved.
Add the CUDA_VISIBLE_DEVICES in the python file:
import os
os.environ["CUDA_VISIBLE_DEVICES"]="0"

Thanks for the help.

[2018-02-12 15:46] #16807 closed

[2018-02-12 15:47] applenob commented on #11904
@zhedongzheng, Your complete code can actually work and make sense to me now. Thanks.

[2018-02-12 15:49] mrry commented on #16924
Thanks for confirming, and for being a trailblazer with this new feature! Please don't hesitate to get in touch if you run into other problems.

[2018-02-12 16:19] olesalscheider commented on #16669
Can you reproduce the problem with my script?

[2018-02-12 16:27] ebrevdo commented on #11275
Yes; we've fixed this up recently.  I'll close this bug so if you run into
any issues please open a new one.

On Mon, Feb 12, 2018 at 3:58 AM, lissyx <notifications@github.com> wrote:

[2018-02-12 16:27] #11275 closed

[2018-02-12 16:34] carlthome commented on #11275
Nice! Looking forward to testing this again. 🎉

[2018-02-12 16:47] nikitaverbis opened #16950 "Windows Installation tutorial has wrong cuDNN version requirement, 7 required for latest version."
**Inaccuracies in the documentation**.

In the installation documentation Tensorflow in Windows says that the system must be running a version of CUDA 9.0 (correctly) and cuDNN 6.0 (not correct) because on the Nvidia website we can download and install only:
- **cuDNN** v7.0.5 , for **CUDA** 8.0/9.0/9.1 ;
- **cuDNN** v7.0.4 , for **CUDA** 8.0/9.0 ;
- **cuDNN** v6.0 , for **CUDA** 8.0 .

In https:/

[2018-02-12 17:06] burglarhobbit opened #16951 "TypeError: int() argument must be a string, a bytes-like object or a number, not 'Tensor'"
### System information
- **Have I written custom code**: Yes
- **OS Platform and Distribution**: Ubuntu 16.04
- **TensorFlow installed from**: binary
- **TensorFlow version**: 1.4.1
- **Python version**: 3.5.2
- **Bazel version:** Not compiled from source
- **GCC/Compiler version**: Not compiled from source
- **CUDA/cuDNN version**: 8.0
- **GPU model and memory**: GeForce GTX 1080 (8GB x 4)
- **Ex

[2018-02-12 17:14] rmlarsen commented on #16835
@skye I agree that contributions welcome seems right. I don't know of anybody working actively on this.

[2018-02-12 17:21] mrry commented on #16926
This is a fine suggestion, and something we have been discussing internally. I'm assigning this issue to @jsimsa, who has expressed interest in developing it.

@cgarciae There are a lot of possible designs for a feature like this. Have you had any thoughts on what your ideal API would look like for this task?

[2018-02-12 17:27] martinwicke commented on #13895
@ispirmustafa FYI also.

Sorry you all are frustrated. It also appears the documentation is adding to your confusion. Let me clarify a few points:

* Estimator will evaluate during training. See the train_and_evaluate documentation. It sounds like you're doing single machine execution.
* You can simply pass a function returning a dataset to Estimator. There shouldn't be a problem swapping out inpu

[2018-02-12 18:05] cgarciae commented on #16926
@mrry Very glad you are thinking about this!

The signature could be `to_records(self, features, ...)` where:

1. It follows the same API of `tf.parse_example` so you can reuse the same concepts/structures.
2. Only work on dict-based datasets so you can match the structure in the `features` dict to the structure of the dataset dict when creating the `tf.Example`. People who use the tuple-based dat

[2018-02-12 18:20] gunan commented on #16453
One reason for this is, when we tried to commit to certain features for releases, we saw our releases delayed by months (i.e. 1.5 release). When we move to modularizing tensorflow, and make more smaller component releases this will be feasible.
However, with the current monolithic structure of tensorflow, committing to features for releases just cause us to penalize all of TF if a feature is parti

[2018-02-12 18:20] apiszcz commented on #16939
OS Platform and Distribution: Windows 10
TensorFlow installed from: .whl files from : https://pypi.python.org/
TensorFlow version: 1.4,1.5,1.6
Bazel version: UNKNOWN
CUDA/cuDNN version: 9.1, 7.05
GPU model and memory: NVIDIA, QUADRO, K5100M
Exact command to reproduce: import tensorflow

[2018-02-12 18:26] cy89 commented on #16950
This looks to me like it's been fixed in the repository.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/install/install_windows.md

Please reopen if I've misread things.

[2018-02-12 18:26] #16950 closed

[2018-02-12 18:26] cy89 commented on #16950
And @nikitaverbis, thanks for reporting this!

[2018-02-12 18:44] ranshadmi commented on #2732
As far as I can tell, TF 1.5 still shows non-deterministic results on GPU (and deterministic on CPU). However, I'm using reduce_mean not reduce_sum. I assume it is the same problem.
I would love to know if there are concrete plans to improve the reproduciblity of training.

[2018-02-12 18:54] apiszcz commented on #16939
With version <1.3.0 I was able to load using the following

sys.path.insert(0, r'lib\tensorflow_gpu_130')
sys.path.append('lib')
os.environ['PATH']=r'lib\tensorflow_gpu_130;'+os.environ['PATH']
import tensorflow as tf
print(tf.__version__)

Version 1.3.0 and later this scheme no longer works, the approach to find the mname value in pywrap_tensorflow_internal.py appears to be the same, Reviewing no

[2018-02-12 19:03] joel-shor commented on #16593
PR #3370 fixes the batch norm issues.

In regards to your question about differences in training/inference: the PR I am submitting demonstrates how to take advantage of a custom argument such as `is_training`. Note that this behavior is already supported in the GANEstimator, where a generator or discriminator that has a special argument called `mode` will have the mode passed to it.

[2018-02-12 19:06] bhack commented on #16453
@gunan It is a good point but also on large repositories/communities like Kubernetes the release labels are just a desired target. When you are aware to skip the release target, best-effort, the label is re-target again.
So here we are not talking about managing release blocking labels.

[2018-02-12 19:18] tensorflowbutler commented on #16943
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-12 19:18] tensorflowbutler commented on #16944
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-12 19:18] tensorflowbutler commented on #16946
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-12 19:19] tensorflowbutler commented on #7876
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-12 19:19] tensorflowbutler commented on #13154
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-12 19:38] ispirmustafa commented on #13895
an addition to @martinwicke, `Estimator` creates a new graph for every call of `model_fn`. That makes variable names kept same for each `mode`.

[2018-02-12 20:20] jlysiak opened #16954 "Iterator.get_next() documentation improvement request"
### System information
N/A
### Describe the problem
Recently I've written some code using Dataset API and I would like to request a problem with documentation (IMO).  Instead of hardcoding comments [here](https://github.com/tensorflow/tensorflow/blob/3ee1721b46d0e61097d0ee72f01e3de9739f0b6f/tensorflow/python/data/ops/iterator_ops.py#L31), please, move @mrry's annotation about `Iterator.get_next()`

[2018-02-12 20:28] #7394 closed

[2018-02-12 20:28] #14454 closed

[2018-02-12 20:50] a-sehgal opened #16955 "Row wise lookup table in Tensorflow"
Currently I have a matrix in which each row is a lookup table. Corresponding to it I have a coded matrix with the same number of rows as the lookup table. e.g.

So the lookup table values match to the corresponding row of the coded matrix. The code matrix contains numbers from 0 to 31 which have a corresponding value in the Lookup table for that specific row.

The final output of this should be

I

[2018-02-12 21:22] podlipensky commented on #8487
I had the same issue. Do you plan to fix it?

[2018-02-12 21:22] cy89 commented on #16948
@mrry, I think that _dequeue_return_value was originally Matthieu's routine, but it looks like that routine is built to return a list not a tuple. Could you please comment on whether we should fix the documentation or fix the implementation, and perhaps assign someone to implement?

Marking "docs" for now.

[2018-02-12 21:28] mrry commented on #16948
I don't think we can fix the implementation: although I agree it would make more sense to return a tuple here, there might be code that depends on it being a list.

In a future major version of TensorFlow, it might make sense to use the `nest` library to allow nested structures (including lists, tuples, dictionaries, and recursive nests of those) to be stored in a queue.

For now, we'd welcome a f

[2018-02-12 22:06] seaotterman commented on #16948
I see, that's unfortunate but understandable. I submitted a pull request. #296540931

[2018-02-12 22:11] dwujellyfish commented on #16456
Found the updated code for [census](https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/census/estimator/trainer/model.py) that works with tf 1.4

[2018-02-12 22:11] #16456 closed

[2018-02-12 22:17] adriancar commented on #12388
@ironfroggy
@hyperh
@VanitarNordic

Likewise, same problem. tensorflow-gpu==1.5.0/Cuda9.0/cuDNN7.0/windows 7.
I'll add that when I first encountered the problem I was getting an error importing tensorflow stating that it couldn't find cudart64_90.dll (it was in my path). After I restarted my computer, tensorflow successfully imported, but it just uses cpu.

[2018-02-12 22:38] gunan commented on #16939
v1.3 and 1.4 prebuilt binaries work with buda 8, and 1.5 and 1.6 binaries work with cuda 9.0.
To make any of these releases work with cuda 9.1, you need to build from sources.
Therefore, this is working as expected.

[2018-02-12 22:38] #16939 closed

[2018-02-12 22:40] gunan commented on #16886
CC @tfboyd

[2018-02-12 22:45] gunan commented on #16875
Unfortunately, it is not that simple.
We are staying with the earliest ubuntu version nvidia docker supports, which is ubuntu 16.04.
On ubuntu 16, python3.6 is not available.
Since we also had problems with 3rd party python distros before, until we upgrade the docker container to a newer version of ubuntu we will stay with python 3.5.

Just to check, is this breaking you by not having python3.6? I

[2018-02-12 22:46] #16875 closed

[2018-02-12 22:48] gunan commented on #16750
if you have multiple versions of CUDA installed, you probably need this instead:
[code]
This is because `/usr/local/cuda` is usually just a symlink to one of the versions. if you have multiple versions, it may be a symlink to another version.

[2018-02-12 22:53] philipstephens commented on #16886
On Mon, Feb 12, 2018 at 4:43 PM Gunhan Gulsoy <notifications@github.com>
wrote:

Thank you!

[2018-02-12 23:01] Alexander2k commented on #5968
I just checked to see if there are any files in the folder,
and repeated the instructions, and it helped.

Copy the following files into the CUDA Toolkit directory.
Copy <installpath> \ cuda \ bin \ cudnn64_7.dll to C: \ Program Files \ NVIDIA GPU Computing Toolkit \ CUDA \ v9.0 \ bin.
Copy <installpath> \ cuda \ include \ cudnn.h to C: \ Program Files \ NVIDIA GPU Computing Toolkit \ CUDA \ v9.0

[2018-02-12 23:02] shoyer commented on #16875
No, it was just "nice to have". Thanks for checking (and the explanation).

On Mon, Feb 12, 2018 at 2:46 PM Gunhan Gulsoy <notifications@github.com>
wrote:

[2018-02-12 23:17] petrosmol commented on #15771
@dchatterjee172
Thanks for submitting this feature request. Just to clarify:
The current operation does support multiple training points per batch but each data point is a 1-dim tensor. However, I could definitely see a scenario where each data point is a multi-dim tensor. For instance batch of 2-D images, in which case input tensor would be 3-D ([batch_size, i, j]). Is this the use case you have

[2018-02-12 23:17] klshrinidhi opened #16960 "Build error introduced by 1baac78627. Can't build sources (master)."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian Jessie
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: Master
- **Python version**: 2.7.14
- **Bazel version (if compiling from source)**: 0.10.0

[2018-02-12 23:18] klshrinidhi commented on #16960
I would be happy to provide a fix if get a pointer on what needs to be done. 😄

[2018-02-13 00:21] tfboyd commented on #16886
The current plan of record is to move to CUDA 9.2 when it comes out.  CUDA 9.1 did not have any immediate perf improvements and moving drivers again was a concern.  I am not sure if windows is any different but in linux having multiple CUDAs installed is somewhat trivial.  We discussed this plan with NVIDIA before making the decision.  NVIDIA is working on smoothing out the process and revisiting

[2018-02-13 00:21] #16886 closed

[2018-02-13 00:55] danijar commented on #13094
Hi @stegben, what's the status of this? It sounds like the fused implementation is really what would make SRU most useful.

[2018-02-13 01:28] tadeegan opened #16963 "Improve transform_graph tool dependencies"
### System information
- **TensorFlow installed from (source or binary)**: source

Is there any way we can improve this dependency chain? The transform graph tool really shoudn't need to know about kernel implementations as far as I can tell.  Perhaps the appropriate place to cut this is at @org_tensorflow//tensorflow/core:tensorflow_opensource. Maintainer thoughts?
[code]

[2018-02-13 02:20] nanamare opened #16964 "[Build Failed] Convolutional pose machine converts tflite format"
Hello.

I converting CPM(convolutional pose machine) PB file to TFLITE file, encounter error(s).

I success, converting from MobileNet v1 224 PB file to uint8 TFLITE file format (17.2 MB -> 4.3 MB)

**Just only this log.**
<pre><code>
WARNING: Config values are not defined in any .rc file: opt
INFO: Analysed target //tensorflow/contrib/lite/toco:toco (0 packages loaded).
INFO: Found 1 target...
Ta

[2018-02-13 02:34] wilf0rd commented on #15633
hi @aselle. what are the proper steps to take in order to successfully integrate SSD into tensorflow-lite. maybe we could help

[2018-02-13 03:15] nanamare commented on #16964
Resolved. nice!!

just dim problem.
@aselle why tensorflow-lite supported dim >= 1 ?

[2018-02-13 04:17] thefiddler commented on #16911
#16928 is merged, closing.

[2018-02-13 04:17] #16911 closed

[2018-02-13 05:39] TrsNium opened #16965 "Bug - Check failed: stream->parent()->GetConvolveAlgorithms( conv_parameters.ShouldIncludeWinogradNonfusedAlgo<T>(), &algorithms) Aborted (core dumped)"
Hello ~

I got this error when use `tf.layers.conv2d`.
I use systems as following.

ubuntu 16.04
tensorflow 1.5.0
cuda 9.0
cudnn 7

and I executed my code on nvidia-docker conteiner.
(nvidia/cuda:9.0-cudnn7-runtime-ubuntu16.04)

[2018-02-13 05:51] dchatterjee172 commented on #15771
@petrosmol
Yes that's a possible case. But there can be many possible other use cases. For example in machine translation or machine comprehension you can have, [batch_size, words ,self._output_dim]. In my opinion as kernel tricks are essentially important part of machine learning, [batch_size, x ,self._output_dim] this input format will generalize this kernel approximation method.

[2018-02-13 05:58] sainisanjay commented on #16944
Have I written custom code = Yes
OS Platform and Distribution=  Ubuntu 16.04
TensorFlow installed from = export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.11.0-cp27-none-linux_x86_64.whl
pip install --ignore-installed --upgrade $TF_BINARY_URL
Bazel version= N/A
CUDA/cuDNN version = CUDA 8.0/cuDNN 6.1
GPU model and memory: 12GB
Exact command to reproduce: python

[2018-02-13 05:59] VivekPowar commented on #16859
@tensorflowbutler

OS Platform and Distribution :- 16.04
TensorFlow installed from :- https://www.tensorflow.org/install/install_linux
TensorFlow version :- tensorflow (1.4.1)
                                   tensorflow-tensorboard (0.4.0)
Bazel version :- blaze (0.11.3)
CUDA/cuDNN version :-  CUDA 8 and cuDNN 6
GPU model and memory :- GeForce GTX 1050 Ti mini, 4GB GDDR5

[2018-02-13 06:40] NguyenAnhTien opened #16967 "No package nasm"
On Release version v1.5.0.
In the file tensorflow/workspace.bzl.
At the line 208.

The link [http://pkgs.fedoraproject.org/repo/pkgs/nasm/nasm-2.12.02.tar.bz2/d15843c3fb7db39af80571ee27ec6fad/nasm-2.12.02.tar.bz2]() is not exist any more.

[2018-02-13 06:51] Karthik777 commented on #9724
Is there a fix for this issue yet. having the same problem. I've tried @kwotsin's script . It still gives me inaccurate results when loaded with the graph.pb file

[2018-02-13 06:54] sagarbhathwar commented on #16965
Same issue.

System details are:
Windows 10
Python 3.6
Tensorflow 1.5.0
Cuda 9.0 and cuDNN 7.0.5

Example Code is Tensorflow's MNIST code - https://github.com/tensorflow/tensorflow/issues/16965

The debug info:
[code]

[2018-02-13 07:00] sagarbhathwar commented on #16965
This bug is still present with Keras program:
`
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D
from keras.optimizers import SGD

x_train = np.random.random((100,100,100,3))
y_train = keras.utils.to_categorical(np.random.randint(10, size=(100, 1)), num_classes=10)
x_test = np.random.r