[2018-04-11 16:27] av8ramit commented on #18372
[code]

Should be fixed now. Please comment if there are still issues.

[2018-04-11 16:27] #18372 closed

[2018-04-11 16:36] eaplatanios commented on #18373
That's great! Thanks @av8ramit! :)

[2018-04-11 16:40] unnir commented on #17422
@msis

I got this:

[code]

[2018-04-11 16:43] xingao267 commented on #17816
@mahmoud-abuzaina I tested it with Bazel 0.12.0rc3 and Bazel 0.11.1, and it builds.

[2018-04-11 16:44] AdamStelmaszczyk commented on #8517
Got the same with Tesla K80:

[code]

[2018-04-11 16:45] tgamblin commented on #18424
This is covered in [section I of Kenneth's talk](https://www.youtube.com/watch?v=NSemlYagjIU#t=4m10s) 😄

[2018-04-11 16:49] AdamStelmaszczyk commented on #8517
I'm getting it sporadically on Tesla K80:

[code]

tensorflow-gpu==1.4.0 installed with pip
CUDA 8.0
cudNN 6.0.21
python 3.5.2

Linux CentOS kernel 3.10.0-693.11.6.el7.x86_64

[2018-04-11 16:53] deepak-2017 opened #18425 "Non chief worker is throwing exception while saving the model"
System information
------------------

 - Have I written custom code - Yes
 - OS Platform CentOS - 7.2.1511
 - TensorFlow installed from - Binary
 - TensorFlow version - 1.3.0
 - Python version - 2.7
 - Bazel version - N/A
 - CUDA/cuDNN version - N/A
 - GPU model and memory - N/A

I am having three nodes Tensorflow cluster with one parameter server, two workers, first one is chief worker.
All thre

[2018-04-11 17:00] madhavajay commented on #15633
The TensorFlow Lite talk at Dev Summit 2018 showed 3x performance on MobileNet:
https://youtu.be/FAMfy7izB6A?t=530

Maybe thats not for SSD though?
Possibly requires weight quantization first?

[2018-04-11 17:13] ebrevdo commented on #18323
Can you print the MSE differences?

Can you compare the graphdefs generated for each entry of the loop and ensure the ops are created in the same order?

[2018-04-11 17:13] ebrevdo commented on #18323
Can you use tf.reset_default_graph() between iterations?

[2018-04-11 17:17] martinwicke commented on #18243
Forgive my ignorance -- what's the relationship between glog and absl logging? Ideally we wouldn't have both.

Independently, making TF more conservative about logs is a fine thing to do. I agree high volume logging levels are currently useless.

[2018-04-11 17:30] asimshankar commented on #18243
@martinwicke : Haven't looked in detail enough to be sure. Let's chat with the absl/glog folks off this thread.

[2018-04-11 17:31] annarev commented on #18424
We re-created the release because we had a last-minute cherrypick (after the release page in Github was created but before we built our pip packages). So, we included the cherrypick in our pip packages and updated release page for consistency.

Sorry for the trouble, I will make sure to avoid it in the future.

[2018-04-11 17:31] #18424 closed

[2018-04-11 17:32] madhavajay commented on #15633
Sad Panda ☹️🐼
@andrewharp Any idea when a performant SSD implementation will be available? Is it a question of Weight Quantization?

[2018-04-11 17:36] MysteriousM4x opened #18427 "Failed to load the native TensorFlow runtime on Win 10 64"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No, I'm just importing tensorflow
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 (x64) Home
- **TensorFlow installed from**: N/A
- **TensorFlow version (use command below)**: r1.7
- **Python version**: 3.6.4
- **CUDA/cuDNN version**: CUDA 9.0, cuDN

[2018-04-11 17:36] madhavajay commented on #17526
I understand some details might have been tight lipped before the TF 2018 Dev Summit, but I gather from the talks that the Qualcomm Hexagon DSP driver support for NNAPI will come in Android P. Theres a lot of talk in the Dev Summit about things like NVIDIA TensorRT and Intel MKL-DNN etc as well as the ability to deploy models to platforms like Mobile and Raspberri Pi, so my guess is that these har

[2018-04-11 17:44] boegel commented on #18424
Thanks for confirming my suspicion @annarev. Do you have any idea how much time passed between the initial 1.7.0 release on GitHub and the current one?

+1 on @tgamblin's remarks. I know it can be very tempting to just quickly include another minor change and replacing the tag (probably assuming that nobody will notice), but it's really bad practice, especially for a popular project like TensorFlo

[2018-04-11 17:46] jacobmanning opened #18428 "TensorFlow Hub models crashing on TF Lite"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.6
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: 0.10.0

[2018-04-11 17:52] mboisson commented on #18424
Did the tag v1.7.0 change too ?

[2018-04-11 17:56] annarev commented on #18424
I don't remember exactly how much time passed in between, but I think it was ~1 day.
That's right, v1.7.0 tag was re-created.

The points you bring up make sense. Sorry for the trouble!

[2018-04-11 17:56] reedwm opened #18429 "Get error when compiling with gcc 6.4.0: error: mismatched argument pack lengths while expanding..."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian Testing buster/sid
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1cd76c209ce6f74298843568a7fc397c2e6f958f
- **Python version**: 2.7.13
- **Baze

[2018-04-11 18:00] chrisclarkson100 commented on #5847
I am having this same problem ever since I messed around with different versions of CUDA in an attempt to install tensorflow-gpu.
Now when I run a simple CNN, I get a warning message: `
Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA`

But when I try a simple LSTM:
[code]
InvalidArgumentError (see above for traceback): indices[0,0] = 207 is not in [0, 1

[2018-04-11 18:15] jlebar commented on #18429
If you're blocked, you may want to try using the version of clang that TF offers to build with.  @ilya-biryukov can help if you run into problems.

Anyway, this is a dupe of #18402.

[2018-04-11 19:05] martinwicke commented on #18424
This was a mistake and we are taking steps to prevent it in future. No tags should ever change (and definitely no releases).

I'm sorry about the additional work (and confusion) this has caused.

[2018-04-11 19:18] kylemcdonald commented on #16587
i just compiled from source in hopes this was fixed, but alas it is not. in addition to the information below, my h5py version is 2.7.1:

[code]

[2018-04-11 19:25] cancan101 commented on #16587
you need to use the new rc for h5py.

[2018-04-11 19:41] MatthiasWinkelmann commented on #18339
I have a description of the changes needed for MacOS GPU compilation at https://gist.github.com/MatthiasWinkelmann/41dd42b07f8bd794aa462f3b9712c018

https://github.com/MatthiasWinkelmann/tensorflow also contains the patches, but it's only updated every few months.

FWIW the changes are rather minor and have not changed much over the last few releases. So you may indeed be right that the Tensorflow

[2018-04-11 20:03] atinzad commented on #1344
Is there a way to check the device using an op.device? Note that after using the with tf.device(device_name) and then checking op.device all I observe is an empty string.

Is there a way to check device placement without referring to the logs (but rather through attributes of the operation(s))  ?

Note I am using Tensorflow v1.1.0 Thanks

[2018-04-11 20:05] smitshilu commented on #15384
Any update or solution?

[2018-04-11 20:26] angersson commented on #18248
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation of why you think this is a bug. Thanks!

[2018-04-11 20:26] #18248 closed

[2018-04-11 20:27] angersson commented on #18225
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation. Thanks!

[2018-04-11 20:27] #18225 closed

[2018-04-11 20:27] angersson commented on #18256
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-11 20:27] #18256 closed

[2018-04-11 20:28] angersson commented on #18294
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-11 20:28] #18294 closed

[2018-04-11 20:30] angersson commented on #18408
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation. Thanks!

[2018-04-11 20:30] #18408 closed

[2018-04-11 20:32] angersson commented on #18360
@gunan Is this in our plans at all?

[2018-04-11 20:34] angersson commented on #18191
@aselle Can you take a look at this?

[2018-04-11 20:36] angersson commented on #18147
@bjmuld @unnir Can you provide complete replication commands for Docker?

[2018-04-11 20:59] mrry commented on #1344
@atinzad No, the `op.device` property is never filled in with the true device on which an op ran (and technically the op could be placed on multiple different devices, depending on how your session is configured). Using `RunOptions` and `RunMetadata` to extract the partitioned subgraphs [as I suggested above](https://github.com/tensorflow/tensorflow/issues/1344#issuecomment-210641516) is the best

[2018-04-11 21:10] jhseu commented on #18016
Yeah, I agree that this would be useful, but it's probably unlikely to be added (added Mustafa to comment). There's an upcoming API that won't recreate the session and graph that will be more useful for this use-case.

[2018-04-11 21:11] reedwm commented on #18402
Even after e7b1ab049d22119c7b649046be853ea88120f27a, which got rid of StreamExecutor's StatusOr, I am still running into this problem.

I do not know C++ well enough to understand what the problem is, but if using a struct instead of a tuple fixes this, IMO we should do that for now, and fix the underlying problem with xla::StatusOr once we know how. @jlebar, what do you think of using a struct fo

[2018-04-11 21:35] ispirmustafa commented on #18016
by design estimator.train, .evaluate, .predict recreates graph and initialize from checkpoint.
we don't have any plan in Estimator which breaks this decision.

[2018-04-11 21:35] #18016 closed

[2018-04-11 21:39] calledbymountains commented on #18136
@SAGGSOC close the issue if it is solved.

[2018-04-11 21:41] jlebar commented on #18402
Thanks a lot for testing, @reedwm.

I hear that this is frustrating, but if TF does not have buildbots for gcc 6.x, we're going to keep breaking it; as observed, this is not the first breakage we've seen.  That is a waste of everyone's time.

I want to fix this the right way.  There are various Right Ways -- maybe the Right Way is to change to a struct.  But I certainly don't yet understand this p

[2018-04-11 21:48] zheng-xq commented on #18402
We should fix the current breakage on gcc6 with struct while Justin is working on the right fix with StatusOr. struct is better in this case anyway.

samikama@, if you have that ready, feel free to issue a PR. reedwm@ can review that. Thanks!

[2018-04-11 22:07] bhack commented on #18266
What do you think about @ispirmustafa [comment](https://github.com/tensorflow/tensorflow/issues/18016#issuecomment-380603186)?

[2018-04-11 22:10] msis commented on #17422
@unnir, how did you install `libcudnn*`?
If you didn't add the nvidia repos to your apt sources, `apt` will not be able to locate them (they are not distributed by default)

[2018-04-11 22:16] himsR commented on #17390
@karllessard thanks for the information. The op wrappers that you are writing , do they include the gradient ops as well? For example , something equivalent to the ops inside the math_grad.cc in the core ?

[2018-04-11 22:29] ispirmustafa commented on #18266
current local run implementation is something like:
for ...:
  estimator.train(...)
  estimator.evaluate(...)

but making train_and_evaluate local mode to create this graphs only once is a good feature request.

for now as a workaround you can do following:
cnt = 0
def input_fn():
  cnt += 1
  cache_fn = ... + cnt

[2018-04-11 22:45] lixilinx commented on #2682
Pardon me to promote my second-order optimization method here. If interested, please check my tensorflow package at https://github.com/lixilinx/psgd_tf
Second-order optimization with four different implementation complexities are provided. It works for both FNN and RNN. We know that tf.while_loop still does not support second-order derivative. To work around it, you can just use perturbation of gr

[2018-04-11 22:46] bhack commented on #18266
@ispirmustafa The workaround It will be useless cause will skip the lock but you will never match the cache. Also generally what about cache matching if the pipeline is rebuild and shuffled at every Train phase?

[2018-04-11 23:06] sehgal-abhishek opened #18437 "Converting TensorFlow frozen and inference model to lite fails with "Check failed: array->has_shape""
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow):**
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Mac OS X High Sierra
- **TensorFlow installed from (source or binary)**:
Source
- **TensorFlow version (use command below)**:
'v1.7.0-rc1-1018-g7a0def60d4' 1.7.0-rc1
- **Python version**:
3.5.5
- **Bazel version (if compiling from

[2018-04-11 23:59] ankushagarwal commented on #3198
FWIW, I am running into this issue on Tensorflow 1.7.0

I am using a single parameter server and a single worker. I am training a seq2seq model and using the `tf.train.replica_device_setter(...)` function to assign variables to the parameter server and ops to the worker node.

Here is the error message that I am getting:
[code]

[2018-04-12 00:01] mrry commented on #18425
By default when using a `tf.train.Supervisor`, summaries are only written by the chief worker. To write summaries from a non-chief worker, you must  pass a `tf.summary.FileWriter` object when creating the supervisor: `sv = tf.train.Supervisor(..., summary_writer=tf.summary.FileWriter(path))`.

[2018-04-12 00:08] bhack commented on #18094
I confirm this bug. /cc @lenlen

[2018-04-12 00:45] tensorflowbutler commented on #18427
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
TensorFlow installed from
Bazel version

[2018-04-12 00:51] chiachunfu commented on #18408
Thanks for the reply! This seems to be a common problem for ops in tf.contrib. I was wondering if this could be solved by registering the TRTEngineOp (generated by TensorRT) to the Op dict and if someone can fix that for future release. Just want to make sure that people who work on TF-TRT are aware of this issue.

[2018-04-12 01:26] #14583 closed

[2018-04-12 01:28] heimanba89 commented on #4897
Hi @goodfeli  @yaroslavvb , I have a problem that is very similar to per sample gradient. The current tf.gradients() outputs the sum of gradients given the batch, is this possible to output the sum of element-wise power of gradients, i.e., sum over batch (dy/dx)^2, instead of sum over batch (dy/dx) currently

[2018-04-12 01:36] ebrevdo commented on #18323
print(tf.get_default_graph().as_graph_def()) to file between each session
and diff the files to see what's out of order.

On Wed, Apr 11, 2018, 2:21 PM Hesam Moshiri <notifications@github.com>
wrote:

[2018-04-12 01:55] asimshankar commented on #18421
Looking at the version string ("v1.3.0-rc1-3011-gd86448938") it seems you compiled a non-release version of the code.

This problem shouldn't exist in release branches for version 1.4 onwards.
So if you could build from a release branch (or just use release binaries), that should do the trick.

Closing this out since I don't believe the problem exists in release branches. Please feel free to reope

[2018-04-12 01:55] #18421 closed

[2018-04-12 02:04] ydp commented on #16821
@tvkpz  Hi, sorry to bother, did you have solution for this?

[2018-04-12 02:45] #17579 closed

[2018-04-12 02:45] MaeThird commented on #18371
I managed to bypass this issue by replaced a higher toolchain version than 4.9.3 . Thanks.

[2018-04-12 02:45] #18371 closed

[2018-04-12 02:45] Dabin22 opened #18440 "TenflowLite Crash"
device : Galaxy Tab advanced 4
version : 6.0

04-12 11:37:19.164 1221-1221/? A/DEBUG: Build fingerprint: 'samsung/matisse10wifikx/matisse10wifikx:6.0.1/MMB29K/T536KXU1AQF1:user/release-keys'
04-12 11:37:19.164 1221-1221/? A/DEBUG: Revision: '4'
04-12 11:37:19.164 1221-1221/? A/DEBUG: ABI: 'arm'
04-12 11:37:19.164 1221-1221/? A/DEBUG: pid: 27456, tid: 28023, name: Thread-24515  >>> me.visual.camp.m

[2018-04-12 02:53] encore-zhou opened #18441 "Something seems like a bug in r1.8 when building from source code?"
I try to build tensorflow with gpu support from source.

# **Basic information:**

- OS Platform and Distribution : ubuntu 14.04
- TensorFlow installed from : source code, branch r1.7
- TensorFlow version : r1.7
- Bazel version : 0.11.1
- CUDA/cuDNN version: 8.0/6.0
- GPU model and memory : Titan X
- Exact command to reproduce:
    `bazel build --config=opt --config=cuda //tensorflow/tools/pip_pac

[2018-04-12 02:54] josh-marsh commented on #11157
Does anyone know of any other solutions? I am having the same problem, and none of the above solutions seem to work.

[2018-04-12 02:55] kylemcdonald commented on #16587
i couldn't get it to build with the latest h5py. it might be because i didn't run `bazel clean` in between builds, so i am trying again now.

[code]

[2018-04-12 03:16] jiazhe0909 opened #18443 "In Matmul, is FP16 x FP16 accumulated to FP16 or FP32?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.7
- **Python version**:
- **Bazel version (if compiling from source)**:
- **GCC/Co

[2018-04-12 03:31] jidebingfeng commented on #13458
it works.
thank you very much.

[2018-04-12 03:34] karllessard commented on #17390
@himsR : are you talking about `math_grad.cc` of the C++ client? If so, most of those ops come from the `math_ops` library so yes, they will be wrapped. The current scope for the first draft of wrappers is to cover the following libraries (that could be found [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/core/ops))
[code]

[2018-04-12 04:11] buysilver commented on #15604
the above worked for installing on Ubuntu Server 17. namely,

- installing cuda-9.0 (NOT 9.1)
- cuDNN v7.1.2 (Mar 21, 2018) for CUDA 9.0
- everything else according to the official tf installation instructions

much easier than compiling.

[2018-04-12 05:08] jiamings opened #18447 "Numerically safe cross_entropy for tfd.Bernoulli?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.7
- **Python version**: 3.5
- **Bazel version (if compiling from source)**:
- **GCC/Compiler ve

[2018-04-12 06:31] rayanelleuch opened #18449 "tf.contrib.summary to export the graph to tensorboard"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Very simple change from provided script
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04 LTS
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: v1.7.0-13-g99322a9 1.7.0
- **Python version*

[2018-04-12 07:10] Moocow9m opened #18450 "Tensorflow failed to compile"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Arch Linux
- **TensorFlow installed from (source or binary)**: Source from branch r1.7, did not compile
- **TensorFlow version (use command below)**: 1.7.0
- **Python version**: 3.6.4
- **Bazel version (if com

[2018-04-12 07:32] Lu-Yi-Hsun commented on #18450
try gcc 4~6 don't use gcc7

[2018-04-12 08:08] jerryli1119 commented on #16050
i have same issue.
i use the r1.4 and bazel build code is "bazel build --config=opt --config=cuda -c dbg //tensorflow/tools/pip_package:build_pip_package".

[2018-04-12 08:24] deepaksuresh opened #18452 "Different pixel values for the same image when read using DecodeJpeg on x86_64 and arm64"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10
- **TensorFlow installed from (source or binary)**:
Source
- **TensorFlow version (use command below)**:
1.5.0
- **Python version**:
3.4
- **Bazel version (if compiling from source)**:
0.11.0
- **CU

[2018-04-12 08:25] deepak-2017 opened #18453 "Slim Train API doesn't provide control to user to extract loss and accuracy metrics"
I am referring to [train_image_classifier.py][1] script provided by Tensorflow for image classification.

Script uses slim.learning.train API to kick off the training and then it takes care for everything internally.
Though it logs the metrics i.e. loss/accuracy but that's all internal to slim. I doesn't provide handle to get periodic updates of loss/accuracy in my script while training is going o

[2018-04-12 08:52] rharish101 commented on #18450
I'm also facing build problems even with gcc-6.

**System information**
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
TensorFlow installed from (source or binary): Source from master branch (r1.7)
TensorFlow version (use command below): 1.7.0
Python version: 3.6.4
Bazel version

[2018-04-12 09:10] VanitarNordic commented on #18323
@ebrevdo

I used a code like this to save the output of each session of the loop in a separate `.txt` file:

[code]

and I compared the files when A and B happens with some online text difference tools (for example this one: http://countwordsfree.com/comparetexts), but it could not find any differences!

[2018-04-12 09:25] VanitarNordic commented on #18323
@ebrevdo

I used a python code like this to record the result of each session of the loop in a `.txt` file:

[code]

and used a code like this to find a difference, because the content of each file is quite long (33,239 lines):

[code]

but it could not find any difference!

[2018-04-12 09:26] Mooonside opened #18454 "Wrong behavior of tf.nn.conv2d when dilated rate>1 on CPU version of tensorflow."
# Required Info
- **OS Platform and Distribution**:Linux Ubuntu 16.04
- **TensorFlow installed from**:binary
- **Tensorflow Version**:1.6.0
- **Python Version**:3.6.3
- **Have I written custom code**:Yes
- **Bazel version**:N/A
- **CUDA/cuDNN version** : N/A
- **GPU model and memory**: N/A
- **Exact command to reproduce**: See Below

# Problem description:
When constucting the graph, i use tf.nn.c

[2018-04-12 09:38] burglarhobbit commented on #18248
@angersson Already asked on StackOverflow at the same time, but still haven't got any responses. Care to answer?

https://stackoverflow.com/questions/49661495/valueerror-initializer-for-variable-cudnn-gru-opaque-kernel-is-from-inside-a-c

[2018-04-12 09:39] sjperkins opened #18455 "eager mode fails with custom operator"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

Yes, I have written a custom tensorflow operator

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Linux Ubuntu 16.04

- **TensorFlow installed from (source or binary)**:

binary wheel

- **TensorFlow version (use command below)**:

('v1.7.0-3-g024aecf414', '

[2018-04-12 09:56] a1103304122 commented on #15633
I also got the poor performance for ssd-mobilenet on TensorFlowLite :(
But, I  have another question. Why does the score of the result exceed 1? Is it not the probability?

[2018-04-12 10:13] BeautifulTommorow commented on #4828
tanx

[2018-04-12 10:15] shanshan0309 opened #18456 "Tensorflow failed when build with MSVC"
System information
•	Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
N/A
•	OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows server 2016
•	TensorFlow installed from (source or binary):
Source
•	TensorFlow version (use command below):
Master branch latest revison
•	Python version:
Anaconda 4.1.1 (Python 3.5 64-bit)
•	Bazel version (if c

[2018-04-12 10:17] AndRossi commented on #18376
An update on this issue.

I have asked the same question on StackOverflow too ([here it is](https://stackoverflow.com/questions/49740247/tensorflow-mnist-estimator-batch-size-affects-the-graph-expected-input/49780607#49780607)), and I got the advice to use [`tf.placeholder_with_default`](https://www.tensorflow.org/api_docs/python/tf/placeholder_with_default) in addition to tf.reshape.

In fact, tf

[2018-04-12 10:20] xzy256 opened #18457 "Could change Eigen to other blas for matrix operation"
As for CPU Tensorflow, matrix operation use `eigen`. Could replace it with other blases, such as openBlas, atlas,  gotoBlas et al.

[2018-04-12 10:40] oh-frontend1 commented on #15633
@a1103304122 as what I understand, the score is output of node "concat", before softmax, so, it isn't the probability.

[2018-04-12 10:47] amylizxy commented on #10107
I had the same problem 'ImportError: dlopen(/Users/dwdcw/miniconda3/envs/tf27/lib/python2.7/site-packages/tensorflow/python/_pywrap_tensorflow_internal.so, ' .
I solved this by using VirtualEnv to install tensorflow and then success.
I think maybe VirtualEnv can provide more clear enviroment. You can try

[2018-04-12 11:18] deepak-2017 commented on #18425
@mrry - Thanks for your reply.

I had passed tf.summary.FileWriter object at non-chief worker when creating the supervisor the way you told.
But still error is the same while saving summaries.
Moreover, If I comment below line,
[sv.summary_computed(sess, summaries)](url)
Then non-chief worker fails while saving the checkpoint at below line,
[sv.saver.save(sess,sv.save_path,global_step=sv.global_st

[2018-04-12 12:33] tensorflowbutler commented on #18441
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-12 12:33] tensorflowbutler commented on #18440
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-12 12:33] tensorflowbutler commented on #17974
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-12 12:34] tensorflowbutler commented on #17942
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-12 12:34] tensorflowbutler commented on #17877
Nagging Assignee @tatianashp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-12 12:34] tensorflowbutler commented on #17595
Nagging Assignees @petewarden, @poxvoculi: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-12 12:34] tensorflowbutler commented on #8652
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-12 12:34] tensorflowbutler commented on #16624
Nagging Assignee @andrewharp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-12 12:35] tensorflowbutler commented on #16483
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-12 12:35] tensorflowbutler commented on #14452
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-12 12:35] tensorflowbutler commented on #9545
Nagging Assignee @chihuahua: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-12 12:37] Gupta-Vipul commented on #17627
Sorry for late response. The issue has got resolved after re-intalling CUDA driver and cuDNN packages. Seems CUDA and cuDNN had been corrupted. This led to connection breach between tensorflow and GPU and hence, tensorflow was not able to find GPU.

[2018-04-12 12:37] #17627 closed

[2018-04-12 12:46] cruvadom opened #18459 "crop_and_resize on gpu in eager mode fails"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
 Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
using pip
- **TensorFlow version (use command below)**:
('v1.7.0-3-g024aecf414', '1.7.0')
- **Python version**:
2.7
- **Bazel version (if

[2018-04-12 13:03] gunan commented on #18360
CC @asimshankar

[2018-04-12 13:32] rongjiecomputer commented on #15297
@snnn I fixed this with #18047.

[code]

[2018-04-12 13:53] Moocow9m commented on #18450
gcc is not the problem(tried 4-6). It has worked with gcc 7.3.1 before aswell.

[2018-04-12 14:05] yunxing commented on #14676
Ahh this is has already been fixed a while ago, I forgot to close this.

[2018-04-12 14:05] #14676 closed

[2018-04-12 14:15] #15297 closed

[2018-04-12 14:36] himsR commented on #17390
@karllessard yes that's awesome. It should give all the functionalities (ops as well as their gradients) required to build the backpropagation logic into java. I asked particularly about the gradients because I think at present client languages like python impelement all the gradients themselves(by calling and combining the normal ops) instead of calling the c core. So at present in Java, although

[2018-04-12 15:20] d-acharya opened #18460 "tf.nn.conv3d_transpose operation with data_format='NCDHW'"
### System information
Irrelevant.

### Describe the problem
In implementation of "tf.nn.conv3d_transpose" operation with "data_format='NCDHW'",
the shape compatibility of "output shape" and "kernel size" check is not carried out correctly. (However, the check is fine in tf.nn.conv2d_transpose)

### Source code / logs
`    if isinstance(output_shape, (list, np.ndarray)):
      # output_shape's sha

[2018-04-12 15:29] mattiasarro commented on #16926
@cgarciae Could you post an example of how you convert a Dataset to TFRecords?

I tried this hacky approach:

[code]

where `ds` is a Dataset and `fn` is a file path. This creates `fn + ".data-00000-of-00001"` and `fn + ".index"` files successfully, but when I try reading it with `tf.python_io.tf_record_iterator` I get a `DataLossError: corrupted record at 0` (TF 1.7). Perhaps it's not actually a

[2018-04-12 15:36] dmorin1 commented on #17411
same problem
Ubuntu 16.04
with tensorflow-gpu 1.7 and 1.6

[2018-04-12 15:38] weinman commented on #18450
To corroborate, I just experienced the same problem/error as in the original post. I'd compiled tf 1.7 successfully previously (Ubuntu 14.04.4) but just did an OS upgrade (Ubuntu 14.04.5) and now I get the same error. Several packages were updated---I'm not sure what may have been the cause.

[2018-04-12 15:45] poxvoculi commented on #18334
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-12 15:45] #18334 closed

[2018-04-12 15:58] ispirmustafa commented on #18266
@bhack could you please explain more? The error message is about using same file as cache. this workaround resolves that error. what do you mean by "skip the lock and never match"?

[2018-04-12 16:09] Arsalan-zafar commented on #11956
+1

[2018-04-12 16:24] facundoq commented on #16670
@mrry The problem is not that people can't figure out what the error means. If the docs (https://www.tensorflow.org/versions/r1.5/install/install_linux) specify that TF 1.5 supports CUDA 8, then either the docs are wrong or the code is, not people's expectations.

@gunan this hasn't been pushed to the website for 1.5 (its fixed for 1.6). I just ran into the same error for 1.5 with Ubuntu 16.04/cud

[2018-04-12 16:48] eric-czech opened #18463 "Op type not registered 'GatherV2' error when using libtensorflow maven artifacts"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: maven
- **TensorFlow version (use command below)**: 1.7.0-rc1
- **Java version**: 1.8.0_162
- **GPU model and memory**: Tesla K80

### De

[2018-04-12 16:50] lukeiwanski commented on #22
Hi all,
@VincentSC thanks for great sum up of the different efforts!

The SYCL approach supports a variety of platforms  / devices now. The ones I can mention are:

AMD GPUs (FirePro W8100, R9 Nano and R9 380 Series ) Instructions available [here](http://deep-beta.co.uk/tensorflow-1-x-on-ubuntu-16-04-lts) or [here](https://developer.codeplay.com/computecppce/latest/getting-started-with-tensorflow)

[2018-04-12 17:02] yongtang commented on #18460
Thanks @d-acharya. Created a PR #18465 and add a test case to address the issue.

[2018-04-12 17:14] mrry commented on #16670
@MarkDaoust Can you push a fix to the 1.5 and 1.6 docs, please?

[2018-04-12 17:16] bhack commented on #18266
@ispirmustafa  I.e. You have a large dataset over a network file system that needs to be cached over multiple train/evaluate rounds. With this you will workaround the lock but you will never match the cache after the first evaluation.

[2018-04-12 17:50] bhack commented on #16468
Are you still interested or can I close this?

[2018-04-12 17:58] snnn commented on #15297
Great! Thank you!

[2018-04-12 18:07] yzhuoning commented on #152
`export CUDA_VISIBLE_DEVICES=0 ` solves my issue!

[2018-04-12 18:28] Baschdl opened #18469 "Feature request: Use feature columns for labels"
As you describe in the documentation

feature columns are pretty handy to transform input data. I would like to see the same functionality for labels. Why can't I transform labels with the same "data columns" as features?

Have I written custom code N/A
OS Platform and Distribution N/A
TensorFlow installed from N/A
TensorFlow version N/A
Bazel version N/A
CUDA/cuDNN version N/A
GPU model and memor

[2018-04-12 18:55] tensorflowbutler commented on #18452
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-12 18:55] tensorflowbutler commented on #18453
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-12 18:55] tensorflowbutler commented on #18454
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-12 18:55] tensorflowbutler commented on #18457
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-12 19:01] AllBecomesGood commented on #16214
@cyrilzh solution worked (sudo apt install cuda-command-line-tools-9-0), however it apparently got installed already somewhere along the way (i installed nvidia gpu driver, cuda 9.0, cudnn 7.0.5 runtime and cudnn 7.0.5 dev lib).

[2018-04-12 19:09] fchollet commented on #18094
@yifeif what do you think about this issue? Could it be a simple fix?

[2018-04-12 19:15] lostsartre commented on #3628
same problem...

[2018-04-12 19:56] pranto00250 commented on #13822
Here is my code :
[code]

And I am getting following error :

[code]

How can solve this issue ? Please help . THANKS.

[2018-04-12 20:01] #16553 closed

[2018-04-12 20:48] humayun commented on #18325
I got same error, Did you managed to resolve it?

[2018-04-12 20:57] numericlee commented on #18405
done

[2018-04-12 21:46] advaza opened #18473 "Error when trying to use tf.contrib.distribute.MirroredStrategy in tf.estimator"
**System information**
- **OS Platform and Distribution**:  Linux Ubuntu 16.04.2
- **TensorFlow installed from**: source
- **TensorFlow version**: 1.7
- **Python version**: 3.5
- **Bazel version**: 0.11.1
- **GCC/Compiler version**: 5.4.0
- **CUDA/cuDNN version**: 9/7
- **GPU model and memory**: TITAN X (Pascal) 11170 MB memory

I'm trying to add multi-gpu support to my tensorflow training code us

[2018-04-12 21:55] TimZaman opened #18474 "Segfault on bad input to tf.constant."
One can get a segfault providing some wrong data into a `tf.constant`:

[code]

While `tf.constant(tf.string, "[]")` and `tf.constant(tf.string, ",")` both give the proper error (`dtype not understood`).

[2018-04-12 21:57] miaout17 commented on #15410
The tempfile issue is fixed in the newest code, but it wasn't released with TensorFlow 1.7.0 yet.

You can choose to:

* Do the [workaround](https://github.com/tensorflow/tensorflow/issues/15410#issuecomment-352189481) mentioned above.
* Use the TensorFlow nightly build (`pip uninstall tensorflow ; pip install tf-nightly`)
* [Build TensorFlow from source code](https://www.tensorflow.org/install/in

[2018-04-12 21:57] #15410 closed

[2018-04-12 22:07] dbkinghorn commented on #18450
Getting back to Moocow9m's issue. I just had the same problem. It was the bazel update from a couple of days ago. Try un-installing version 12 and get the 11.1 bazel deb file and install form that. I also had to add --action_env PATH="$PATH" to keep it from forgetting where Python was (I'm using Anaconda3)

I also have the following  cuda.conf in ld.so.conf.d
/usr/local/cuda/lib64
/usr/local/cuda/

[2018-04-12 22:36] Moocow9m commented on #18450
@dbkinghorn It does compile with the older bazel build, however since version 0.12.0 can compile branch r1.8 I still think this might be a tensorflow issue in the r1.7 branch.

[2018-04-13 00:26] ethereon opened #18477 "tf.gather's gradient fails on GPU in eager mode"
Tested with TensorFlow v1.7.0 on Ubuntu 16.06.

Consider the following contrived example:
[code]

When executed, it fails with:

[code]

This does not occur on the CPU.

The issue can be fixed by removing the `to_int32` call and just changing the `out_types` to `int32` here in [array_grad.py](https://github.com/tensorflow/tensorflow/blob/v1.7.0/tensorflow/python/ops/array_grad.py#L398-L399) as fol

[2018-04-13 00:36] gaganmalhotra opened #18478 "Tensorflow server doesn't pick version updates if pointed to shared model_config.conf file"
I'm currently deploying tensorflow models on multiple servers in production but seem to have a issue while there is a model config file update.

**Issue is -**
On updating the model config file located at a common shared location that all then tensorflow servers point to, not all the servers pick up the version updates!

On the contrary, the issue seems to be not occuring when each of the tensorfl

[2018-04-13 00:44] tensorflowbutler commented on #18463
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
Exact command to reproduce

[2018-04-13 01:01] zacwellmer commented on #1950
Is there still no plans for this? Having a way to use gather_nd or gather on SparseTensors would be awesome

[2018-04-13 01:15] jart opened #18480 "Remove Python dep on 'enum'"
Python enum is only used by a couple files, and has caused a lot of pain. Maybe we shouldn't use it?

Python enum is used by a couple files in TensorFlow. It's not portable. It was only quite recently backported to Python 2.7. For example, TensorFlow won't compile on Debian 8 without `sudo apt-get install python-enum34` however `sudo apt-get install python-enum` will break the build.

- https://gi

[2018-04-13 01:16] weinman commented on #18450
I also can compile tf master with bazel 0.12. However, I'm still befuddled that the same tf commit (from branch 1.7) failed to compile after a suite of package updates. That doesn't necessarily mean it wasn't a tf issue in 1.7, just that it wasn't manifest until after a separate update (which I don't think changed bazel).

[2018-04-13 01:26] yongtang commented on #18474
The issue seems to be caused in:
https://github.com/tensorflow/tensorflow/blob/049dfd5e070cfa84c82eea71c6c746a70cba4a3f/tensorflow/python/framework/dtypes.py#L701

with crash happens in numpy. For example, the following will trigger a crash:
[code]

Added a PR #18481 to check the type of the `type_value` so that things like `"[,]"` is not compared.

[2018-04-13 01:38] TimZaman commented on #18474
thanks

[2018-04-13 01:41] HorsonLiu commented on #17422
@msis
![tf-compile-with-cudnn71](https://user-images.githubusercontent.com/4844122/38712332-7a2eb67a-3efd-11e8-93ce-7217721b813f.png)

It seems that tensorflow code cannot detect runtime CuDNN version correctly. Or maybe it is a bug of libcudnn 7.1 ?

[2018-04-13 01:55] msis commented on #17422
@HorsonLiu this error:

clearly says that you're tf is trying to load CuDNN 7.0.5, but it found 7.1.1 .
Therefore, I suppose that you might have 2 versions of CuDNN installed when you were compiling it, and the earlier was automatically selected.

[2018-04-13 04:54] Flock1 opened #18482 "Not able to import tensorflow"
Ubuntu: 16.04.4
Tensorflow installed from Anaconda
Tensorflow version: 1.4.1
Python: Python3
CUDA: 8
Cudnn: 7.0.5
GPU: GTX 1080 8GB
Command: import tensorflow on ipython notebook
Error:
[code]
**UPDATE:**
I installed normal tensorflow and I was able to import tensorflow. However, now, I am not able use the GPU, even though tensoeflorw-gpu is installed in the environment.

[2018-04-13 05:48] LuBingtan commented on #18450
This problem is absolutely caused by bazel. I could compile branch r1.6 with bazel 0.11.1. If I update bazel from 0.11.1 to 0.12.0, it will be failed.

[2018-04-13 06:35] tensorflowbutler commented on #18469
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-13 06:35] tensorflowbutler commented on #18473
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
Exact command to reproduce

[2018-04-13 06:39] rharish101 commented on #18450
I just pulled the latest commits, and it builds fine.

[2018-04-13 06:39] pranto00250 opened #18484 "cannot add op with name conv2d/convolution as that name is already used"
Here is my code :
[code]

And I am getting following error :

[code]

How can solve this issue ? Please help . THANKS.

[2018-04-13 07:07] Skycctw opened #18485 "Can not download tensorflow C libray of macOS GPU version."
### Describe the problem
Can not download tensorflow c libray of macOS GPU version.

### Source code / logs
I can't download that form the link :
https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-gpu-darwin-x86_64-1.7.0.tar.gz

According to https://www.tensorflow.org/install/install_c
`TF_TYPE="cpu" # Change to "gpu" for GPU support`
 `OS="linux" # Change to "darwin" for macOS`

[2018-04-13 08:28] exepaul commented on #8191
If you want instant solution you can try what i tried :

`pip install tensorflow==1.0
`
The issue is with tenorflow 1.1 version , it worked for me.

[2018-04-13 08:39] LoSealL opened #18488 "Compile error on couldn't find gunit.h"
What's a `gunit.h` which is included in `tensorflow/stream_executor/cuda/cudnn_version_test.cc`? Since I can't find a `gunit.h` in tensorflow folder nor in the system

System OS: Windows 10.0.16299.334

[2018-04-13 08:41] fengpingbaustem opened #18489 "Can device run tensorflow lite be used as a work task when performing distribute training?"
Tensorflow lite is designed for mobile device, so can the lite version be used to do some training work. Like using the standard version tensorflow as parameter server, and the edge mobile device do some edge computing and work with the ps?

[2018-04-13 08:45] chenghuige commented on #17702
But how to run using jupter ?

[2018-04-13 08:47] deepaksuresh commented on #18452
@andrewharp Could you please take a look at this

[2018-04-13 08:55] hhusum opened #18490 "macOS: Debug fails when running though PyCharm"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS High Sierra 10.13.4
- **TensorFlow installed from (source or binary)**: binary, pip
- **TensorFlow version (use command below)**: 1.7
- **Python version**: 3.6.4 Anaconda, Inc.
- **Bazel version (if com

[2018-04-13 10:26] jppgks commented on #18473
What value did you pass for `args.num_gpus`? I got this error when passing `1`.

When you want to use only one device with DistributionStrategy, I think you have to use `OneDeviceStrategy` instead of `MirroredStrategy`.

[2018-04-13 11:09] kingeasternsun commented on #18252
I encounter the same question
[code]

[2018-04-13 11:28] sudecki30 commented on #18325
I have the same error, if I undusterstand, it is a problem with the database. A file is corrumpted. But I use my jpeg only, and all files are correct. I don't understand how to resolve?

[2018-04-13 11:34] eric-czech commented on #18463
**Bazel version**: N/A
**CUDA/cuDNN version**: N/A (This error occurs with and without a GPU and I see no way that CUDA lib versions apply -- I think it's solely related to missing ops in the java API)
**Exact command to reproduce**:

[code]

Then when importing this into java with the following maven dependencies:

[code]

[code]

[2018-04-13 11:49] Zo2m4bie commented on #5643
Is this problem relevant to version 1.7.0? I installed tensorflow through pycharm and according to print(tf.__version__) my version is 1.7.0. However I faced the same problem

[2018-04-13 12:00] SimpleJian opened #18491 "crf_log_likelihood become 2x slower after upgrade TensorFlow from 1.4 to 1.7"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS Linux release 7.4.1708
- **TensorFlow installed from (source or binary)**: pip install tensorflow-gpu==1.4.0, pip install tensorflow-gpu==1.7.0
- **TensorFlow version (use command below)**: 1.4 and 1.7

[2018-04-13 12:32] tensorflowbutler commented on #18477
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-13 12:32] tensorflowbutler commented on #18480
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-13 12:38] deepak-2017 commented on #18453
Thanks your reply.
Adding the system info here.

System information
------------------

 - Have I written custom code - Yes
 - OS Platform CentOS - 7.2.1511
 - TensorFlow installed from - Binary
 - TensorFlow version - 1.3.0
 - Python version - 2.7
 - Bazel version - N/A
 - CUDA/cuDNN version - N/A
 - GPU model and memory - N/A

[2018-04-13 12:45] deepak-2017 opened #18492 "Worker is failing with InvalidArgumentError>, "A session is not created yet""
System information
------------------

 - Have I written custom code - Yes
 - OS Platform CentOS - 7.2.1511
 - TensorFlow installed from - Binary
 - TensorFlow version - 1.3.0
 - Python version - 2.7
 - Bazel version - N/A
 - CUDA/cuDNN version - N/A
 - GPU model and memory - N/A

Source Code
-----------
Sharing my code snippet below,

    cluster = tf.train.ClusterSpec({"ps": parameter_servers, "

[2018-04-13 12:58] sudecki30 commented on #18325
Two questions : Are your memories (RAM) full during the trainning? Do you work on black and white pictures?

[2018-04-13 13:14] truongnmt commented on #12252
@gissemari can you please explain more detail how to implement `mean_absolute_error` to evaluate?
CC @reedwm

[2018-04-13 13:43] tpet commented on #6720
Preferably, the new implementation should follow what is used elsewhere (OpenCV, SciPy, Matlab, ...), which is to align the very corners of top-left (-0.5, -0.5) and bottom-right pixels (height + 0.5, width + 0.5) and resample using corresponding pixel centers.

[2018-04-13 13:59] quickrfq opened #18493 "Tensorflow js returns NAN on large data set"
<html>
--
  | <head>
  |
  | <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.9.0"> </script>
  |  
  |
  | <script>
  |
  |
  |
  |
  |
  |
  | const model = tf.sequential();
  | model.add(tf.layers.dense({units: 1, inputShape: [1]}));
  | model.compile({loss: 'meanSquaredError', optimizer: 'sgd'});
  | const xs = tf.tensor2d([1, 2, 3, 4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,2

[2018-04-13 14:02] Moocow9m commented on #18450
@rharish101 what version of bazel did you use? What is your OS?

[2018-04-13 14:29] gissemari commented on #12252
Sure. According to the example here, _cost_ can be used for the optimization, while _performance_ can be just the metric (as the module tf.metrics suggest).
cost = tf.losses.mean_squared_error(y, predictions)
optimizer = tf.train.AdadeltaOptimizer(learning_rate=learning_rate).minimize(cost)
performance  = tf.metrics.mean_absolute_error(pred, y)[0]

[2018-04-13 14:31] ChristianEschen commented on #7278
Any news about the implementation @nio1814

[2018-04-13 15:03] asimshankar commented on #18360
Regarding development with other language bindings: Note that we release binary versions of the C and Java APIs with every TensorFlow releases, so they do not have to be built from source. See: https://www.tensorflow.org/install/install_c  and https://www.tensorflow.org/install/install_java
Language bindings maintained by others (C#, Rust, Ruby, Julia etc.) typically link against the released C AP

[2018-04-13 15:08] asimshankar commented on #18455
Thanks for the report, this was indeed an oversight. @akshaym has a fix for this that should be merged soon.

[2018-04-13 15:15] advaza commented on #18473
Yes, I passed `1` (I was hoping to debug it on a single gpu machine before test it on a multi-gpu one). Changing to `OneDeviceStrategy ` did solve the error in the single machine. I hope to test it on a multi-gpu machine soon. Thanks!

[2018-04-13 15:25] kritchie commented on #17729
Have you guys made any progress on that ?
I'm having similar issue

The errors below is the one I currently face:

"graph_def is invalid at node 'block1/conv2d/kernel/Assign': Input tensor 'block1/conv2d/kernel:0' Cannot convert a tensor of type float32 to an input of type float32_ref."

[2018-04-13 16:10] loretoparisi opened #18496 "Issue with Colab Pytnotebook and Tensorflow hub"
I was trying the Colab example with Tensorflow hub [here](https://www.tensorflow.org/tutorials/text_classification_with_tf_hub)

[code]

to have the nightly build, but when I try to install

[code]

I get this version error

[code]

But I have already installed

[code]

[2018-04-13 16:35] reedwm commented on #17729
/CC @petewarden, any ideas what is causing the issues?

[2018-04-13 16:45] reedwm commented on #14613
/CC @isaprykin can you take a look?

[2018-04-13 16:50] alexwma commented on #17684
I have a very similar issue here. Graph froze successfully but getting the same error

I0413 09:45:28.332509   34490 graph_transformations.cc:39] Before Removing unused ops: 282 operators, 471 arrays (0 quantized)
I0413 09:45:28.360260   34490 graph_transformations.cc:39] After Removing unused ops pass 1: 277 operators, 464 arrays (0 quantized)
I0413 09:45:28.395511   34490 graph_transformations.c

[2018-04-13 17:05] reedwm commented on #18297
/CC @tatianashp, do you think this could be related to #17233?

[2018-04-13 17:07] nfiedel commented on #18080
I'm not aware of any sample code for this. Like I mentioned, this is pretty advanced and new area to research / explore.

[2018-04-13 17:07] reedwm commented on #18280
/CC @andrewharp can you take a look since this is desired in mobile?

[2018-04-13 17:12] asimshankar commented on #18361
The TensorFlow Mobile API only supports "frozen graphs" (where all model parameters are "frozen" as constants in the graph) and not the [SavedModel](https://www.tensorflow.org/programmers_guide/saved_model#build_and_load_a_savedmodel) format at this time.

See https://www.tensorflow.org/mobile/prepare_models for details on creating frozen models suitable for TensorFlow mobile. I believe changes ar

[2018-04-13 17:12] #18361 closed

[2018-04-13 17:33] erickrf commented on #18111
@stefanievonk you can create a logging filter. A bit cumbersome but it gets the job done:

[code]

[2018-04-13 17:36] reedwm commented on #18415
Without changing any code in the original post, I randomly get either the original error you had, or the error you get if you add a tab in line 38. I mostly get the second error, but occasionally get the first randomly, without changing any code.

In any case, neither error should be occur. @skye can you take a look

[2018-04-13 17:43] annarev commented on #18111
Sorry for delay in response.
We decided to include the fix in 1.8.0rc0 instead of releasing 1.7.1.
1.8.0rc0 should (most likely) be out later today.

[2018-04-13 17:48] peastman commented on #18360
What would be involved in supporting interoperability with other languages?  I'm willing to look into it if it's not too difficult, though my knowledge of Tensorflow internals is pretty limited.

I do think there's value in bundling the other APIs with the pip package, since it makes the installation really simple, and then it's guaranteed that every user will have them.  For example, this is how

[2018-04-13 17:59] reedwm commented on #18380
For the short example you posted, my guess is that when you initialize a Variable with a `tf.placeholder` fed with a feed dict, you need to allocate memory both for the Variable data and the `tf.placeholder`, requiring double the memory as what just the Variable requires. (@mrry can you confirm this fact?)

Note that the limit is supposed to show only a single GPU. Each GPU has it's own memory, an

[2018-04-13 18:18] advanceddeveloper opened #18503 "[Install] Failed to load the native TensorFlow runtime."
### System information
- **Have I written custom code**: Yes
- **OS Platform and Distribution**: windows 8.1 x64
- **TensorFlow installed from**: have no idea, I suppose binary
- **TensorFlow version**: 1.7
- **Python version**: 3.6.5
- **Bazel version**: ???
- **GCC/Compiler version**: ?
- **CUDA/cuDNN version**: cuDNN 7.0 for CUDA 9.0
- **GPU model and memory**: tensorflow-gpu, NVIDIA 4GHZ dualc

[2018-04-13 18:38] #18474 closed

[2018-04-13 18:40] tensorflowbutler commented on #18490
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
Exact command to reproduce

[2018-04-13 18:40] tensorflowbutler commented on #18489
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-13 18:40] tensorflowbutler commented on #18488
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-13 18:40] tensorflowbutler commented on #18485
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-13 18:40] tensorflowbutler commented on #18484
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-13 18:40] tensorflowbutler commented on #18482
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-13 18:40] tensorflowbutler commented on #17671
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-13 18:41] tensorflowbutler commented on #17978
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-13 18:41] tensorflowbutler commented on #17956
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-13 18:41] tensorflowbutler commented on #17859
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-04-13 18:41] tensorflowbutler commented on #17679
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-13 18:41] tensorflowbutler commented on #10479
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-04-13 18:41] tensorflowbutler commented on #17292
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-13 18:41] tensorflowbutler commented on #17168
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-13 18:41] tensorflowbutler commented on #16889
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-13 18:41] tensorflowbutler commented on #16872
Nagging Assignee @ekelsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-13 18:41] tensorflowbutler commented on #16611
Nagging Assignee @ispirmustafa: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-13 18:41] tensorflowbutler commented on #15953
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-13 18:42] tensorflowbutler commented on #15041
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-13 18:42] tensorflowbutler commented on #14217
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-13 18:42] tensorflowbutler commented on #13620
Nagging Assignee @ysuematsu: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-13 18:44] orangetangerine commented on #18441
I met the same problem

- Have I written custom code: No
- OS Platform and Distribution: macOS Sierra 10.12.6
- TensorFlow installed from: Source, r1.4
- TensorFlow version: 1.4
- Bazel version: 0.12.0-homebrew
- CUDA/cuDNN version: 8.0/5.1
- GPU model and memory: GTX 960, 4096 MB
- Exact command to reproduce: `bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package

[2018-04-13 18:45] ebrevdo commented on #15953
I won't have cycles to work on this; so unassigning for triage.

[2018-04-13 18:49] ebrevdo commented on #15041
This seems not to be a bug so much as a question of how to structure architectures to reduce gradient memory usage.  Ask on StackOverflow and look at [rev_block](https://www.tensorflow.org/api_docs/python/tf/contrib/layers/rev_block).

[2018-04-13 18:49] #15041 closed

[2018-04-13 18:50] ebrevdo commented on #15041
btw; one of the main reasons your memory is blowing up may be this line:

[code]

transpose input_tensor to time, major, unstack it into a TensorArray, and use .read(t) on the TensorArray.  this should significantly reduce memory usage if you backprop into input_tensor.

[2018-04-13 18:55] martinwicke commented on #18394
@ispirmustafa @salehay

We have an early stopping hook somewhere, no? Can we move it to TensorFlow?

[2018-04-13 18:56] tehmeerali786 commented on #4912
Use python 3.5 or less. If Anaconda, you can use one of the three ways here. I used the second one. https://docs.anaconda.com/anaconda/faq#how-do-i-get-the-latest-anaconda-with-python-3-5

[2018-04-13 19:59] asimshankar commented on #18397
Thanks for the report.

To be extra sure, the name of the directory should probably be based on the checksum of its contents, which will be a little harder to engineer. We don't want to use a fixed directory otherwise we could run into interference between programs compiled against different versions of the library.

I don't believe this problem occurs on Linux/Mac though. I don't have enough expe

[2018-04-13 19:59] salehay commented on #18394
Yes we have one in TFX, @ispirmustafa let's chat about moving to core.

[2018-04-13 20:00] asimshankar commented on #18397
(CC @saudet as well - in case he has some insights)

[2018-04-13 20:04] reedwm commented on #17914
I cannot reproduce. Marking as community support because we cannot reproduce internally.

You can try asking on StackOverflow as well.

[2018-04-13 20:52] asimshankar commented on #18328
The reason is primarily that the directory was specified by the caller, so we should respect that :)

I don't think we want to change behavior since it breaking it would be backward incompatible.

Thanks for the suggestion though.

[2018-04-13 20:52] #18328 closed

[2018-04-13 20:55] asimshankar commented on #18485
We should make this clearer on the "Install C" page, but since version 1.2 TensorFlow has not been providing GPU support on macOS.

See [release notes for 1.1.0](https://github.com/tensorflow/tensorflow/releases/tag/v1.1.0) and some [discussion on reddit](https://news.ycombinator.com/item?id=14577538).

Hope that helps.

[2018-04-13 20:55] #18485 closed

[2018-04-13 21:03] sabi0 commented on #18397
It's not about `System.loadLibrary()` but about the way files are handled in Windows.
On Linux (and I suppose Mac) opened files can be deleted (`unlink()`-ed). On Windows - not.
And when JVM processes `deleteOnExit`s DLLs are still loaded into JVM address space, i.e. the files are still open.
There is a hacky way of using a dedicated separate class loader for loading DLLs. And then calling `System

[2018-04-13 21:06] mrry commented on #18380
@reedwm I think that's correct, yes. Here's where the copy happens:

https://github.com/tensorflow/tensorflow/blob/0c1ea2db7fb137dd4cf6f334dda9eb9623935d9d/tensorflow/core/kernels/assign_op.h#L106-L121

You might be able to avoid this using `tf.get_variable(..., use_resource=True)`, because a `ResourceVariable` will reuse the fed-in value (as long as it has no other users in the same step):

https

[2018-04-13 22:25] TYS11 commented on #9171
@seaotterman have you found a way to initialize the same weights for Neural Network multiple times over different session?

[2018-04-13 22:56] boyangwm commented on #15656
@hitvoice @erolrecep Can you post the whl files?

[2018-04-13 23:54] asimshankar commented on #18477
The root cause of this is that as of TensorFlow 1.7, by default we do not silently copy tensors between devices and since most operations on int32 tensors require the tensor to be placed on CPU, you get the error.

As the error message suggests, in TensorFlow 1.7 you can work around this by using:

[code]

With TensorFlow 1.8 we've done a bit more to make behavior in eager and graph more aligned -

[2018-04-13 23:54] #18477 closed

[2018-04-13 23:58] marshall-dw opened #18512 "NoOp replacement in DependencyOptimizer misses some control dependency conversions"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Debian testing (buster)
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
('v1.7.0-3-g024aecf414', '1.7.0')
- **Python version**:
2.7.14
- **Bazel versio

[2018-04-14 00:38] arnaldog12 commented on #13127
For those who are interested, I wrote a [post on Medium](https://medium.com/@arnaldog12/how-to-build-tensorflow-on-windows-with-mt-42a8e4bea7e7) and created a [Github Repo](https://github.com/arnaldog12/Tensorflow-Build-MT) with detailed instruction about how to achieve this.

I hope it helps!

[2018-04-14 00:49] ethereon commented on #18477
It seems undesirable that this gradient operation will incur a cross device copy overhead when it seems avoidable (at least on non-Windows targets, based on my understanding of the comment above the cast to int32)

[2018-04-14 00:51] tensorflowbutler commented on #18491
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version

[2018-04-14 00:51] tensorflowbutler commented on #18492
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
OS Platform and Distribution
Exact command to reproduce

[2018-04-14 00:51] tensorflowbutler commented on #18493
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-14 00:51] tensorflowbutler commented on #18496
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-14 01:33] Ares513 commented on #8652
Same problem. I was able to fix this (tensorflow 1.7.0 keras 2.1.5) by simply adding `import tensorflow as tf` before importing keras.

[2018-04-14 01:34] ysfalo commented on #18450
@LuBingtan , Yeah, must be the problem of bazel 0.12. I updated bazel from 0.12 to 0.11 and it seems fine now.
tensorflow 1.5
ubuntu16
cuda 8.0
cudnn 5.1

[2018-04-14 01:44] asimshankar commented on #18477
Yes, it certainly is.

The Windows specific-ness of that is questionable See https://github.com/tensorflow/tensorflow/pull/9780#issuecomment-323547672.

Though in practice this hasn't been a concern that has shown up much over the past year and hence resolving that hasn't been bumped up the priority list. If you do have some reason to believe that the int32 casting and the resulting copies is inde

[2018-04-14 01:50] zhangzhenwen opened #18514 "Build error from source"
I encountered an error while building from source.some system infomation as follows:
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution**: Ubuntu 16.04(x64)
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.7.0
- **Python version**: 3.5

[2018-04-14 02:00] jart commented on #18480
It sounds like a lot of effort went into having enum in Python.

enum34 is defined in our setup.py file, which is good, but it needs to be defined in our [workspace.bzl](https://github.com/tensorflow/tensorflow/blob/a1945729655191c511dbfea1a38b35bdfc734a09/tensorflow/workspace.bzl#L309) file too, just weakref. Could you or @caisq help do that?

[2018-04-14 02:04] xzy256 commented on #18457
OS :ubuntu
TensorFlow installed from TF github
TensorFlow version:1.2.0-rc1
Bazel version:0.5.0
CUDA/cuDNN version: NO
GPU model and memory: NO
I just install CPU Tensorflow. Now, i want to test the performance of using other blases  for matrix operation instead of eigen.  I don't how to do. Could you please give me some ideas?

[2018-04-14 02:57] vissac commented on #16214
It should be installed already, just set the env to path is fine.

[2018-04-14 03:12] Alex-zhai commented on #13044
Oh, Sometimes training or testing data mix of JPEG and PNG format image. You can try this:

`def _parse_function(filename):
        image_string = tf.read_file(filename)
        image_decoded = tf.cond(
            tf.image.is_jpeg(image_string),
            lambda: tf.image.decode_jpeg(image_string, channels=3),
            lambda: tf.image.decode_png(image_string, channels=3))
        image_resi

[2018-04-14 03:29] Alex-zhai commented on #1029
@dcunhas you are right. We can decode images using decode_png and decode_jpeg like this:

[code]

[2018-04-14 04:13] dcunhas commented on #1029
@Alex-zhai You don't need to go that far. You can directly do
[code]
Based on the documentation (and my own usage), "This op also supports decoding PNGs and non-animated GIFs since the interface is the same, though it is cleaner to use tf.image.decode_image." `tf.image.decode_png` is the same.

[2018-04-14 05:31] ychfan commented on #13610
@mrry Is there any way to use `tf.contrib.data.prefetch_to_device` for mutl-gpu training? Thanks!

[2018-04-14 06:10] LoSealL commented on #18488
Have I written custom code : N/A
OS Platform and Distribution: Windows 10
TensorFlow installed from: VS compilation
TensorFlow version: TAG e489b60
Bazel version: N/A
CUDA/cuDNN version : v9.0
GPU model and memory: TITAN X
Exact command to reproduce: Counldn't find `gunit.h`

[2018-04-14 06:32] tensorflowbutler commented on #18512
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory

[2018-04-14 06:42] VanitarNordic commented on #18323
@ebrevdo

any more idea?

[2018-04-14 07:24] agupta74 commented on #18450
Had similar issue building TF 1.7 with Bazel 0.12.  Downgrading bazel to 0.11 seems to fix the issue

[2018-04-14 07:40] Oldpan commented on #15656
@hitvoice Me too,can you give a download page for  the whl files?

[2018-04-14 08:40] hitvoice commented on #15656
@boyangwm @Oldpan @erolrecep Hope it helps.

- [tensorflow-1.7.0-cp36-cp36m-linux_x86_64.whl](https://drive.google.com/open?id=15iGFiagWcwTSzJMpOxYvRad-yKGjTB9J)
- [tensorflow-1.8.0rc0-cp36-cp36m-linux_x86_64.whl](https://drive.google.com/open?id=1xqHxMrsGQLsZhT0XMBfmJsccjFpJtXa5)

Environment:
- python 3.6
- Ubuntu Server 16.04
- CUDA 9.1, CUDNN 7.1, both in `usr/local/cuda`
- for tf1.8.0rc0, NCC

[2018-04-14 10:12] dkhmelenko commented on #13785
@drpngx Thanks for your suggestion. However, on [StackOverflow ](https://stackoverflow.com/search?q=names_to_saveables+must+be+a+dict+) there are a lot of open issues without answers.

I also have an issue, which @rutadesai and @xia-sun have. Would be nice to have any suggestions how can it be solved.

[2018-04-14 10:36] loretoparisi commented on #18496
@tensorflowbutler updated.

[2018-04-14 10:43] dkhmelenko commented on #13785
@rutadesai did you solve the issue? Was it because of pandas input function? or because of feature columns?

I'm using `input_fn = tf.estimator.inputs.pandas_input_fn(x=x_train, y=y_train, batch_size=100, num_epochs=None, shuffle=True)` as an input function for `LinearClassifier.train()`.

All my feature columns have type `tf.feature_column.categorical_column_with_vocabulary_list`

[2018-04-14 11:01] VectorFist opened #18515 "How to become a voluntary translator of tensorflow's official website in China？"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-04-14 11:02] #18515 closed

[2018-04-14 11:02] eric-czech commented on #18463
Hi @asimshankar ,

Sorry to have wasted your time on this but just knowing that it was working for you forced me to go back and consider other possibilities which ultimately led me to find that through a transitive dependency, an older version of the tensorflow artifacts was getting pulled into my maven build.  I excluded those and it works just as it did for you.

Thanks for the help though!  And

[2018-04-14 11:02] #18463 closed

[2018-04-14 11:08] lgeiger commented on #16593
Any updates on this?

[2018-04-14 11:22] VectorFist opened #18516 "How to become a voluntary translator of tensorflow's official website in China？"
I am a postgraduate student in computer science from China and have a special passion for deep learning. Due to its high degree of flexibility and powerful computing ability, tensorflow is my most commonly used deep learning framework. I have used it to do a lot of interesting things during my graduate studies. In China, tensorflow is one of the most commonly used deep learning frameworks for deve

[2018-04-14 11:27] thjashin commented on #13222
+1 for this problem. Using `with tf.device("/cpu:0")` is much faster.

[2018-04-14 11:29] dkhmelenko commented on #18361
@asimshankar Thank you for your help!

I'm trying to freeze my model and I'm getting the error
[code]

I looked on  [StackOverflow](https://stackoverflow.com/search?q=names_to_saveables+must+be+a+dict+) and seems this issue happens to many people and there is no answer to that.

Do you know what can be the reason?

The code for creating the model is very simple
[code]

[2018-04-14 11:52] bhack commented on #13594
Can you reopen this and label it as documentation cause it is really a general request and not use case specific.
From stackoverflow is not clear if`'ProfilerHook` is the recommended approach.

[2018-04-14 11:58] bhack commented on #13594
Also I suppose that an newbie has high probably to be exposed to high level api like keras and estimators and probably he wants to check quickly performance information on the tensorboard instead of tfprof as a first approach to profiling. So it is better to document how to quickly enable runtime statistics in TB for high level api. /cc @fchollet

[2018-04-14 12:13] bhack commented on #16468
@ewilderj How we can improve as community to handle this cases? I really belive that we need to find a [Kubernetes like approach](https://github.com/kubernetes/kubernetes/milestone/38). I know that the majority of the dev flow is executed behind the scenes internally and published regularly in brust PR. But I think that we need to adopt an approach like k8s when you can label estimated milestone f

[2018-04-14 12:16] bhack commented on #16468
P.s. Users ping and bot nagging assignee are quite ugly without a sprint planning outlook.

[2018-04-14 12:26] Oldpan commented on #15656
@hitvoice Thanks, man!

[2018-04-14 12:30] tensorflowbutler commented on #18514
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-14 12:30] tensorflowbutler commented on #14101
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-14 12:30] tensorflowbutler commented on #15144
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-14 12:30] tensorflowbutler commented on #17436
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-14 12:31] tensorflowbutler commented on #17564
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-14 12:31] tensorflowbutler commented on #17747
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-14 12:31] tensorflowbutler commented on #17845
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-14 12:31] tensorflowbutler commented on #18065
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-14 12:31] tensorflowbutler commented on #18066
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-14 12:31] tensorflowbutler commented on #18124
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-14 12:45] njamortel commented on #5534
I follow what @Luckygirlllll did, but I still unable to install the apk . help please .

__Nico-MBP:tensorflow nicomortel$ adb install -r bazel-bin/tensorflow/examples/android/tensorflow_demo.apk
bazel-bin/tensorflow/examples/android/tenso...shed. 51.5 MB/s (175398653 bytes in 3.245s)
        pkg: /data/local/tmp/tensorflow_demo.apk
Failure [INSTALL_FAILED_NO_MATCHING_ABIS]__

[2018-04-14 12:46] GarryLau commented on #17684
You should not use graph.pbtxt(produced when training) to froze graph. You should use a eval.pbtxt to frozen_graph. Just like ziped files (each file contains a eval.pbtxt)in https://github.com/tensorflow/models/blob/master/research/slim/nets/mobilenet_v1.md

[2018-04-14 13:01] bhack commented on #9513
I think that we can investigate to expand [separable approachs](https://github.com/tensorflow/tensorflow/issues/6437).
What do you think?

[2018-04-14 13:28] jure commented on #18496
I solved the same issue by restarting the environment and then using:
[code]

Hope that helps!

[2018-04-14 15:14] alinawazT commented on #10959
"conda install -c anaconda tensorflow-tensorboard" in cmd solve my this problem for anaconda notebook

[2018-04-14 15:21] several27 opened #18518 "Semantic Similarity with TF-Hub doesn't work in the provided colab notebook"
### System information
colab.research.google.com using Python3 and GPU runtime.

### Describe the problem
Getting the module from the Hub doesn't work.

[code]

### Source code / logs
https://colab.research.google.com/github/tensorflow/hub/blob/r0.1/examples/colab/semantic_similarity_with_tf_hub_universal_encoder.ipynb

[code]

[2018-04-14 15:48] erickchandra commented on #18450
Downgrading to Bazel 0.11.1 may fix this issue currently

[2018-04-14 16:04] elbaro commented on #17974
I converted my model from NCHW to NHWC, and the error changed.

[code]

[2018-04-14 16:07] akshaysharma096 commented on #16835
Hi, I would like to contribute, can anyone guide for my first contribution.

Thanks!

[2018-04-14 16:13] akshaysharma096 commented on #14749
Hi, I'd like to contribute, some initial guidance for this feature is appreciated. Thanks

[2018-04-14 16:59] wswin3k opened #18519 "Tensorflow profiler problem, maybe bug."
### Describe the problem
The implementation of topk kernel operation seems faster on my cpu than on gpu(for example below profiler outputs 6us for cpu and 345us for gpu, and result reapeats for other inputs). But that is not the case for this issue, I started some testing on that which lead me to this:

I extracted the kernel implementation from tf source. Put some time measuring code in Compute a

[2018-04-14 18:11] Mazecreator commented on #15932
Any thoughts on this or should we close it as unknown?

[2018-04-14 18:31] tensorflowbutler commented on #18516
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-14 19:14] loretoparisi commented on #18496
@jure it works!

[2018-04-14 19:55] tsoernes opened #18522 "Error building 1.8 RC-0 'eye_functor_gpu.cu.pic.o was not created'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Fedora 27 x64
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.8.0 RC-0 (zip)
- **Python version**: 3.6.4
- **Bazel version (if compiling from source)

[2018-04-14 20:11] dkhmelenko opened #18523 "Unable to freeze graph for LinearClassifier"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: Anaconda
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: 3.5.4
- **Bazel version (if compiling from source)**: N/A
- **G

[2018-04-14 21:27] tsoernes commented on #18522
Building with gcc-5.4 on master branch did work without issues. Still, someone might take a look at the errors above. Is not gcc 6.4 supposed to be supported by CUDA 9.1 and tensorflow alike?

[2018-04-14 22:22] Carlos-Henreis opened #18525 "Hyperparameter optimization and TensorFlow"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution:** Linux-Ubuntu (17.10)
- **TensorFlow installed from**: Binary
- **TensorFlow version**:  1.5.0
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: N/A
- **GCC/Compiler version (if compiling from source)**: N/A
- **

[2018-04-14 22:34] ebrevdo commented on #18323
Check the graph def to see if all ops with the type containing "random" have a seed and seed2 attr set.

[2018-04-14 22:39] azhongwl commented on #9518
Still seeing SEGFAULT on macOS+GPU build:
[code]

[2018-04-14 23:36] njamortel commented on #5534
what this conflict means?

_CONFLICT: asset:tensorflow_inception_graph.pb is provided with ambiguous priority from:
        tensorflow/examples/android/assets/tensorflow_inception_graph.pb
        external/inception_v1/tensorflow_inception_graph.pb

CONFLICT: asset:WORKSPACE is provided with ambiguous priority from:
        external/speech_commands/WORKSPACE
        external/mobile_ssd/WORKSPACE

[2018-04-14 23:43] ebrevdo commented on #18323
Different across different graphdefs?

On Sat, Apr 14, 2018, 4:22 PM Hesam Moshiri <notifications@github.com>
wrote:

[2018-04-15 00:28] tensorflowbutler commented on #18518
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-15 00:28] tensorflowbutler commented on #18519
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-15 00:44] saudet commented on #18397
@asimshankar Yes, I do. That's been fixed a long time ago in JavaCPP! :)

The problem is that on Windows it's not possible to delete a DLL after it's been loaded. We need to end the process, and let some other process do the clean up. I used to have a hack for that in JavaCPP but switched to using a cache instead, because it wouldn't work with JavaFX, among other things: https://github.com/bytedec

[2018-04-15 01:31] Monalisa90 opened #18526 "Tensorflow is a big issue"
I am using Windows 10 and Python 3.6 with jupyter notebook. I simply wanted to use tensorflow because of its hyped popularity but it seems like a real pain.

first issue with installing tensorflow, then if installed then issue with importing tensorflow. Giving dumps like
ModuleNotFoundError: No module named '_pywrap_tensorflow_internal'
ImportError: DLL load failed: A dynamic link library (DLL) in

[2018-04-15 01:43] chihuahua opened #18527 "New implementation of `tf.clip_by_value` changes behavior of the op."
FYI, @jart and @nfelt

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian GNU/Linux (upgraded from: Ubuntu 14.04.5 LTS)
- **TensorFlow installed from (source or binary)**: binary (pip package)
- **TensorFlow version (use command below)**: Nightly 1.8.0

[2018-04-15 01:49] Oldpan commented on #15656
@hitvoice
Dude,I try your whl file 'tensorflow-1.7.0-cp36-cp36m-linux_x86_64.whl' just now but I still get a wrong message: "libcublas.so.9.1: cannot open shared object file: No such file or directory".And I have no idea.
I built a same whl before and the build process is right and then I got a same problem.So I tried yours.But it still doesn't work.Maybe some configuration in my system doesn't fi

[2018-04-15 01:50] Oldpan commented on #15656
@boyangwm I'll take a look at this repository,hope this will save my time.

[2018-04-15 01:59] trickmeyer commented on #18526
@Monalisa90

https://www.tensorflow.org/install/install_windows

Just follow instructions to install the CPU version without GPU support, as recommended near the top of the article.

[2018-04-15 02:01] trickmeyer commented on #18526
Also, if you are interested in the GPU version you don't need to be an NVIDIA developer (i.e. work for NVIDIA), you just need to register an account with them.

[2018-04-15 02:10] Monalisa90 commented on #18526
I have installed tensorflow as per the instructions provided. Then I installed CUDA 9.0. But still shows error while importing tensorflow.

For this particular line:
"In particular, the cuDNN version must match exactly: TensorFlow will not load if it cannot find cuDNN64_7.dll."
I am trying to join https://developer.nvidia.com/cudnn to download cudnn...but here i am unable to join as it shows me th

[2018-04-15 04:13] xiaocai00 commented on #17974
@elbaro so QuantizedConv2D doesn't support NCHW?

[2018-04-15 04:50] zhanwenchen commented on #18450
Confirm that downgrading bazel from 0.12.0 to 0.11.1 fixes the exact error. To downgrade, the only way I found is

[code]

Copied from [this bazel thread](https://github.com/bazelbuild/continuous-integration/issues/128).

[2018-04-15 05:39] jbobba commented on #18133
@zhiz21 Can you check if https://github.com/tensorflow/tensorflow/pull/18411 addresses your issue?

[2018-04-15 05:53] VanitarNordic commented on #18323
No, if it is different across the same files. if they were different across two files, I was detecting it in the previous step with the code. All files are identical.

`seed` and `seed2` are written in two places in a file and `seed2` value, as I wrote above, has two values in the file, but as you see `seed` is fixed to `1234`

[2018-04-15 06:00] VanitarNordic commented on #18323
I attached one of them if it can help.

[1.txt](https://github.com/tensorflow/tensorflow/files/1911714/1.txt)

[2018-04-15 06:26] tensorflowbutler commented on #18525
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-15 06:43] ming-c opened #18528 "Gradient Inconsistency"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: *No*
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: *Linux Ubuntu 14.04.5*
- **TensorFlow installed from (source or binary)**: *pip install from binary*
- **TensorFlow version (use command below)**: *v1.4.0-19-ga52c8d9 1.4.1*
- **Python version**: *Python3.5

[2018-04-15 06:57] elbaro opened #18529 "UnimplementedError: Cast uint8 to uint32 is not supported"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Y
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.7.0-0-g024aecf414
- **Python version**: 3.6
- **Bazel version (if compiling from source)**:
- **GCC/Com

[2018-04-15 09:28] kiariendegwa commented on #18518
# 1. System information
To add onto @several27's earlier post.

colab.research.google.com using Python3 and GPU runtime.
The example of the **Universal Sentence Encoder Colaboratory** notebook does not work. This notebook can be found using this link:
 ```https://colab.research.google.com/github/tensorflow/hub/blob/r0.1/examples/colab/semantic_similarity_with_tf_hub_universal_encoder.ipynb ```
# 2

[2018-04-15 09:58] codegeek2014 commented on #17761
I am facing the same issue on windows 8. Plus I have set installed VC++ 2015 Update 6 and set path to the required dll. Still facing the above error.

[2018-04-15 11:31] sirjo66 opened #18530 "DLL load failed on Windows 10 with tensorflow 1.7"
Hello to all,
on my Windows 10, I installed tensorflow 1.5 and it works, but if I try to upgrade to tensorflow 1.7 it don't works, appeare the error:
**ImportError: DLL load failed
ModuleNotFoundError: No module named '_pywrap_tensorflow_internal'**

Microsoft C++ Runtime is updated

If I downgrade to the version 1.5 it works again
How can I solve it ?

Thanks
Sergio

[2018-04-15 11:34] qyhsxdx commented on #13176
How do you solve this problem, please?，I tried so many ways that I didn't use it.thanks

[2018-04-15 11:50] forskamse commented on #13176
@qyhsxdx Hi! It has been such a long time since I last compiled tensorflow on my own pi3. I suggested that you turn to the compiled versions, see [tensorflow on arm](https://github.com/lhelontra/tensorflow-on-arm/releases).  But first ,run
`strings /lib/arm-linux-gnueabihf/libm.so.6|grep GLIBC`
to check whether your device are supported by GLIBC 2.23.

[2018-04-15 12:32] elbaro commented on #17974
Closed by mistake.

[2018-04-15 12:34] TomBall1410 opened #18531 "Issues running tensorflow-GPU: Couldn't open CUDA library libcuda.so.1."
Have I written custom code: No
OS Platform and Distribution: Scientific Linux release 6.9 (Carbon)
TensorFlow installed from: wheel
TensorFlow version: 0.11.0rc0
Bazel version: N/A
CUDA/cuDNN version: 7.5 / N/A
GPU model and memory: Tesla K20m 5GB
Exact command to reproduce: Error occurs when importing tensorflow

I am having issues running tensorflow-gpu on the cluster computer at my university.

[2018-04-15 13:29] knkumar opened #18532 "Error fetching values from variables - queue behavior semantics needs clarification"
I am generating the following traceback when I try to feed data to the queue.

Have I written custom code : NO
OS Platform and Distribution : Ubuntu 16.04
TensorFlow installed from : pip
TensorFlow version: 1.4.1
Bazel version : N/A
CUDA/cuDNN version : CUDA Version 8.0.61
GPU model and memory : GTX 680 - 4 gb memory
Exact command to reproduce : detaliled in description

The error message is very

[2018-04-15 13:39] samuel1208 commented on #16187
@JesperChristensen89 I also got this problem.  Have you solved it? any progress?

[2018-04-15 13:41] rharish101 commented on #18450
@Moocow9m Here are my specs:
OS: Arch Linux
Python version: 3.6.4
Bazel version (if compiling from source): 0.11.1
CUDA/cuDNN version: 9.1.85/7.1.2
GPU model and memory: Nvidia GTX 960M, 4GB

[2018-04-15 13:44] qyhsxdx commented on #13176
@forskamse ok,thank you !

[2018-04-15 14:16] JesperChristensen89 commented on #16187
@samuel1208 No, unfortunately not. Let me know if you have any progress on the issue.

[2018-04-15 14:51] bruce2k opened #18534 "ValueError: An initializer for variable conv2d/kernel of <dtype: 'string'> is required"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-04-15 17:01] sirjo66 commented on #18503
try to install tensorflow version 1.5:

pip install --upgrade --ignore-installed tensorflow-gpu==1.5

[2018-04-15 17:29] advanceddeveloper commented on #18503
@sirjo66

I just tried it and it works. Here is the output:

<details><summary>Output</summary>

[code]

</details><br/>

Thank you for help. But, I'm still wondering why the latest version doesn't work... ?

[2018-04-15 17:32] deepak-2017 commented on #18492
Updated the requested information below,

OS Platform & distribution - CentOS - 7.2.1511
Exact command to reproduce -

1- Command to run ps job - python ./DTF_train_image_classifier.py \
--pipeline_id='TestPipeline_9' \
--logs_dir=./log_dtf \
--tf_records_dir=/home/mapr/mano/slim_data/flowers \
--dataset_name=flowers \
--num_classes=5 \
--training_num_epochs=1 \
--training_batch_size=32 \
--eval_n

[2018-04-15 17:33] 5Volts opened #18536 "DNNRegressor.predict issue"
I have trained a Deep Neural Network Regressor on some weather data. When I tried classifier.predict(), it return a generator object. Usually what we do is to put list() over the object to get the prediction. But it is not working.
I was unable to get the my code to turn into it's code form with the `` symbol by the way. So bare with me.

import numpy as np
import time
import itertools
from onehot

[2018-04-15 17:34] deepak-2017 commented on #18492
@cy89 - Plz help me resolving the issue.
Thanks.

[2018-04-15 17:43] deepak-2017 commented on #18453
@rohan100jain  - Kindly help me with your answer.

[2018-04-15 18:25] tensorflowbutler commented on #18530
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-15 18:25] tensorflowbutler commented on #17746
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-15 18:26] tensorflowbutler commented on #18143
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-15 18:26] tensorflowbutler commented on #18139
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-15 18:26] tensorflowbutler commented on #18115
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-15 18:26] tensorflowbutler commented on #18112
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-15 18:26] tensorflowbutler commented on #18096
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-15 18:26] tensorflowbutler commented on #17860
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-15 18:26] tensorflowbutler commented on #17763
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-15 18:26] tensorflowbutler commented on #17757
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-15 18:26] tensorflowbutler commented on #17748
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-15 18:26] tensorflowbutler commented on #15943
Nagging Assignee @ispirmustafa: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-15 18:26] tensorflowbutler commented on #17713
Nagging Assignee @benoitsteiner: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-15 18:26] tensorflowbutler commented on #17626
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-15 18:26] tensorflowbutler commented on #17609
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-15 18:27] tensorflowbutler commented on #17571
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-15 18:27] tensorflowbutler commented on #17558
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-15 18:27] tensorflowbutler commented on #17518
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-15 18:27] tensorflowbutler commented on #17246
Nagging Assignee @alextp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-15 18:27] tensorflowbutler commented on #17150
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-15 18:42] gskulkarni opened #18537 "Slow matrix multiplication using Tensorflow 1.7.0 on a GPU"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-04-15 19:38] VanitarNordic commented on #18323
I tested it and it made no difference unfortunately.

The data is written in a `csv` file and I read using Pandas. before your tips, I was converting the type to float like this (`db` is the loaded data)

`db = db.astype('float')`

and now I changed to

`db = db.astype('float64')`

but still it shows same problem. It is quite weird that GRU is okay but LSTM shows this behavior.

[2018-04-15 19:46] oroojlooy opened #18538 "AttributeError: module 'tensorflow' has no attribute 'Session'"
When I call any function in python3.6, I get the error below; however, it works fine in python3.4. Any idea?
import tensorflow as tf
tf.Session()
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: module 'tensorflow' has no attribute 'Session'

Here is my  System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian 8.7
- **TensorFl

[2018-04-15 19:51] gunan commented on #17761
If you do not have a CPU that supports AVX instruction sets, prebuilt binaries wont work on your system.
While we work on a more portable and fast solution, you can build TF from sources to work around this problem. If you search existing issues, you can also find community built packages that can work on older systems.

[2018-04-15 19:51] #17761 closed

[2018-04-15 19:55] Neargye commented on #17684
I removed the training nodes, and got the following error

[code]
@GarryLau  I can not use this version TF Lite, because the necessary operations have not been implemented yet?

[2018-04-15 20:32] tensorflowbutler commented on #18531
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-15 20:32] tensorflowbutler commented on #18536
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-15 20:57] Nasnl commented on #18111
I used 1.8.0rc0 just now and still see the same error:

WARNING:tensorflow:From C:\Users\Gebruiker\Anaconda3\envs\tensorflow1\lib\site-packages\tensorflow\contrib\learn\python\learn\datasets\base.py:198: retry (from tensorflow.contrib.learn.python.learn.datasets.base) is deprecated and will be removed in a future version.
Instructions for updating:
Use the retry module or similar alternatives.

Py

[2018-04-15 22:02] spivotron commented on #13785
+1

[2018-04-15 23:33] chenjianwp commented on #3309
Hi @kalluwa  ,have you solved the problem? I am using win10+vs2015+r1.7

[2018-04-15 23:39] Cpruce opened #18539 "Unable to convert MRCNN model to .tflite model"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS High Sierra 10.13.4
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**:
`python3 -c "import tensorflow as tf; print(tf.GIT_VERSION, tf.VERSION)"
/ana

[2018-04-16 00:06] Tal-Golan opened #18540 "Tensorflow leaks 1280 bytes with each session opened and closed? (Python API)"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 17.10
- **TensorFlow installed from (source or binary)**:
Binary
- **TensorFlow version (use command below)**:
1.6 (also tested on 1.7)
- **Python version**:
3.6
- **Bazel version (if compiling from source)**:
N/A
- *

[2018-04-16 00:26] tensorflowbutler commented on #18538
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
Bazel version

[2018-04-16 00:40] oroojlooy commented on #18538
Have I written custom code: Yes. But I get the error in either of the codes in tensorflow models.
Bazel version: I did not install tensorflow from source, so I did not install Bazel.

[2018-04-16 00:53] DanS2003 commented on #17393
@thuojb, thanks. it fixed my problem

[2018-04-16 01:32] fengpingbaustem commented on #18489
the tensorflow version and platform are neither associate with this issue, it's just a common question, if there is a way or any plan to support it, please kindly share the info. Thanks.

[2018-04-16 01:37] jhw6976 commented on #8854
@Jon889, I followed you suggestion and I can overcome error "the google.protobuf.message.DecodeError: Error parsing message"

But when I use tensorboard to view the graph, it is emptygraph,

tensorflow version is 1.7.0.

I use "mnist_saved_model.py" (https://github.com/tensorflow/serving/blob/master/tensorflow_serving/example/mnist_saved_model.py) created .pb file. then use above sample to create

[2018-04-16 01:41] Storyyeller opened #18541 "How to get started with Tensorflow Lite?"
How do you get started with Tensorflow Lite? For example, how do you download and/or build it? How do you use it? All I can find is statements that "most of our documentation is on Github", but that seems to be a dead end.

The only documentation I found was the stuff in the g3doc folder, which includes build instructions for iOS and Raspberry Pi, but it doesn't say anything about Android.

[2018-04-16 01:42] wuwuwuwuwu55555 commented on #14475
It seems that there is no space in GPU, you would like to kill one process and re-run you code, or if you have  more than one gpu, set the gup number you want to use .

[2018-04-16 01:49] qiuxin2012 commented on #18317
@rohan100jain Any update？

[2018-04-16 01:51] annarev commented on #18111
@Nasnl do you see it when importing tensorflow.contrib?

[2018-04-16 02:11] #18242 closed

[2018-04-16 02:40] SimpleJian commented on #18491
Any progress on this?

[2018-04-16 02:42] freedomtan commented on #18541
There used to be information in the [README.md of TF Lite](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/README.md). I think they are moved to [tensorflow/docs_src/mobile/tflite](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/docs_src/mobile/tflite) recently

[2018-04-16 02:45] freedomtan commented on #18351
@alberto139  I think it's in [g3doc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/g3doc/rpi.md)

[2018-04-16 02:55] kalluwa commented on #3309
@chenjianwp  after i updated my vs2015 to vs2015 update3,  everything works fine.  be sure to use vs2015 **UPDATE 3**

[2018-04-16 03:00] hitvoice commented on #15656
@Oldpan Does the file `/usr/local/cuda/lib64/libcublas.so.9.1` exist on your machine?

[2018-04-16 03:29] HerrickCof opened #18542 "Why single-image inference on Android using tflite shows different answer everytime?"
Hello, I have already asked a question on stackoverflow.`https://stackoverflow.com/questions/49833090/tflite-accuracy-on-a-device-is-not-consistent-with-that-of-origin-pb-file-on-pc`
I am not sure about the mechanism of tensorflow lite, but I am now pretty sure that tflite run only a random part of the model to generate a result. I have thought of the toco operation being the cause and I used it t

[2018-04-16 03:53] Flock1 commented on #18482
Hi,
OS: Ubuntu 16.04.4
CUDA: 8.03, Cudnn: 7.0.5
GPU: 1080 8GB
No Bazel.
Command: No command. I am importing it in jupyter notebook and a conda env. So for import tensorflow, I get the error.

[2018-04-16 04:16] chingjunehao commented on #1769
Hi @andrewharp , I was trying to build the libtensorflow_inference.so file, following this [tutorial](https://www.skcript.com/svr/realtime-object-and-face-detection-in-android-using-tensorflow-object-detection-api/).

I'm on
- Windows 10
- Installed the latest version of Bazel using `choco install bazel` with cmd
- NDK r14b version
- JDK 8 updated with Android Studio

When I was trying to build .s

[2018-04-16 05:42] mistaguy opened #18543 "saved_model.pb, saved_model.pbtxt missing google cloud"
My model has finished training but i can not see the `saved_model.pb, saved_model.pbtxt` in the training directory. or any of my bucket folders

[2018-04-16 05:46] fooSynaptic commented on #18518
@kiariendegwa thanks for present your bug. i meet with the same issue exactlly hours ago.

[2018-04-16 05:52] sirjo66 commented on #18530
Many thanks for your help

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10
- **TensorFlow installed from (source or binary)**:
Binary
- **TensorFlow version (use command below)**:
1.7
- **Python version**:
3.6.5
- **Bazel version (if compiling fr

[2018-04-16 06:34] sirjo66 commented on #18503
I don't know,
I have the same problem:
[https://github.com/tensorflow/tensorflow/issues/18530](url)

[2018-04-16 06:35] jin commented on #18450
The fix for this was merged into TF at https://github.com/tensorflow/tensorflow/pull/17508

It doesn't look like 1.7.0 has this fix, so it's failing with Bazel 0.12.0. cc @angersson @gunan

[2018-04-16 06:42] kalluwa commented on #3309
@chenjianwp  you can reference the tutorial i wrote if you know chinese: https://www.zybuluo.com/kalluwa/note/1110511

[2018-04-16 06:45] moono commented on #14857
I'm kind of confused by official documentation and answers from github issue and stackoverflow.

Can @mrry take a look at this code for clarifying my head please?

I'm trying to implement with tf.estimator with appropriate model_fn.
Lets say I have 900 tfrecord files for training and 100 tfrecord files for evaluation.
Each tfrecord is about 300MB, inside it has roughly equal length of data around

[2018-04-16 06:54] chenjianwp commented on #3309
@Kalluwa,Thanks ,I have installed vs2015 update3 ,but the problem not be solved . I will reference your turorial.

[2018-04-16 07:00] #18542 closed

[2018-04-16 07:12] yjhjstz opened #18546 "call session.run() concurrency, latency boom"
background: serving mnist model using libtensorflow_cc.so and libtensorflow_framework.so gpu(p40) version

below: limit 3 concurrency to call `session.run()`, got the latency 508us, very close to serial run.
![image](https://user-images.githubusercontent.com/3832082/38794426-a9a36dc4-4187-11e8-8aa6-57df4c61578f.png)

However, expand  concurrency to 24 , `session.run()` got the latency 1256us
![ima

[2018-04-16 07:25] vuongle2 commented on #16873
I am having similar problem with my op. Can you share how you fixed your link command? Thanks.

[2018-04-16 08:23] oscarriddle opened #18548 "[r1.7][TensorRT] The passing parameter "max_batch_size" within function "trt.create_inference_graph()" is fixed to 1"
What do I intended to do:
I've already trained a model by TensorFlow, and then try to use the integrated TensorRT to import the frozen model and optimize it, then output the optimized graph_def and session run it by TensorFlow.

Script:
[code]
Log:
[code]

Observation:
Seems like even though I set the passing parameter "max_batch_size" to 16, the generated new graph still only has batch_size == 1.

[2018-04-16 08:24] liugongfeng opened #18549 "non-gpu tensorflow cannot import and run"
1. Windows 10
2. Anaconda 5.1.0 （Python 3.6.4)
3. **NO GPU version**  (my laptop doesn't have GPU... Poor )
4. **MSVCP140.DLL** already installed and setted in PATH , it's everywhere

Traceback (most recent call last):
  File "C:\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 14, in swig_import_helper
    return importlib.import_module(mname)
  F

[2018-04-16 08:50] amirbernatODT commented on #17370
Looks like there was a faulty commit, see here: https://github.com/tensorflow/tensorflow/issues/17423

[2018-04-16 08:54] shanshan0309 commented on #18456
Hello, Any update for this?

[2018-04-16 09:03] thanhtu19392 commented on #17620
I met the same issue. Has anyone fixed this yet? Thanks

[2018-04-16 09:06] bhack commented on #7278
@nio1814 What about https://github.com/tensorflow/tensorflow/pull/17961#issuecomment-381127268? /cc @chsigg

[2018-04-16 09:18] xsr-ai opened #18550 "compile tensorflow r1.8 occured error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 17.10
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: r1.8
- **Python version**:  python 3.6
- **Bazel version (if compiling from source)**: 0.11.

[2018-04-16 09:18] luckynarang123 opened #18551 "TypeError: Cannot convert a tensor of type float32 to an input of type float32_ref"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-04-16 09:50] OleRoel opened #18552 "parameterized_docker_build.sh fails to build"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
*NO*
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Dockerfile: nvidia/cuda:9.0-base-ubuntu16.04
My System: Fedora 27
- **TensorFlow installed from (source or binary)**:
Source
- **TensorFlow version (use command below)**:
v1.8.0-rc0
- **Python version**:
3.6

[2018-04-16 10:07] sabi0 commented on #18397
@saudet Thanks. I will have a look at JavaCPP.

@asimshankar It is possible to use fully random name for DLL (i.e. not bother with content checksum) as long as the folder name is predictable. Here is how it could work:
Folder name could be like this:
[code]
Extracted file names could be fully random, e.g. `tf_jni-2387168.dll`. But when such file is extracted another "marker" file is created - `tf_

[2018-04-16 10:38] saudet commented on #18397
Extracting DLLs every time a new JVM is launched is inefficient though. For
something as big as TensorFlow it takes a few seconds. Consider also that
frameworks like Hadoop or Spark tend to launch multiple JVMs during
execution. That's another reason JavaCPP uses a cache. BTW, JNA is not
performance conscious so it's not a good reference if one is interested in
efficiency.

[2018-04-16 11:06] peshmerge commented on #18450
this [fix](https://github.com/tensorflow/tensorflow/issues/18450#issuecomment-381380000) by @zhanwenchen helped me

[2018-04-16 12:11] zout commented on #13245
Not on that location anymore either:
https://github.com/tensorflow/models/blob/master/research/object_detection/dataset_tools/create_pascal_tf_record.py

[2018-04-16 12:28] HotepRato opened #18554 "importing tensorflow"
Hello,
I tried to install tensorflow using conda, but whenever I try to import it, I get this error:

[code]

Whenever I search for a solution, everyone recommend installing VCREDIST 2015, except I already have it.

Thank you for your time

[2018-04-16 12:30] tensorflowbutler commented on #18543
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-16 12:30] tensorflowbutler commented on #18540
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
Exact command to reproduce

[2018-04-16 12:30] tensorflowbutler commented on #16572
Nagging Assignee @itsmeolivia: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:30] tensorflowbutler commented on #16542
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-16 12:30] tensorflowbutler commented on #16774
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:30] tensorflowbutler commented on #16795
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:30] tensorflowbutler commented on #16803
Nagging Assignee @suharshs: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:30] tensorflowbutler commented on #16813
Nagging Assignee @andrehentz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:31] tensorflowbutler commented on #16851
Nagging Assignee @gargn: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:31] tensorflowbutler commented on #17056
Nagging Assignee @benoitsteiner: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:31] tensorflowbutler commented on #17135
Nagging Assignee @MarkDaoust: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:31] tensorflowbutler commented on #17468
Nagging Assignee @andrehentz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:31] tensorflowbutler commented on #17510
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:31] tensorflowbutler commented on #17698
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:31] tensorflowbutler commented on #17784
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-16 12:31] tensorflowbutler commented on #17787
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:31] tensorflowbutler commented on #17941
Nagging Assignee @poxvoculi: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:31] tensorflowbutler commented on #18127
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-16 12:31] tensorflowbutler commented on #18158
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-16 12:32] tensorflowbutler commented on #7876
Nagging Assignee @sherrym: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:32] tensorflowbutler commented on #10439
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:32] tensorflowbutler commented on #10685
Nagging Assignees @gunan, @tfboyd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:32] tensorflowbutler commented on #11037
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:32] tensorflowbutler commented on #12301
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:32] tensorflowbutler commented on #13433
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:32] tensorflowbutler commented on #14171
Nagging Assignee @yzhwang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:32] tensorflowbutler commented on #4638
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:32] tensorflowbutler commented on #14663
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:32] tensorflowbutler commented on #15140
Nagging Assignee @tfboyd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:33] tensorflowbutler commented on #16150
Nagging Assignee @caisq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:33] tensorflowbutler commented on #16466
Nagging Assignee @chihuahua: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:33] tensorflowbutler commented on #16502
Nagging Assignee @andrewharp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:33] tensorflowbutler commented on #16532
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-16 12:53] CNugteren commented on #16694
I can confirm that this issue is still present in TensorFlow 1.7.0. Any updates?

[2018-04-16 12:53] Hoeze opened #18555 "[Feature Request] Inverse Functions: Auto-Solve similar to Auto-Grad?"
Would it be possible to implement some type of automatic equation solving?
E.g. f(x, y) = z => tf.solve(y) = f'(x, z)

Functions like tf.sigmoid have known inverse functions which could be used to solve functions if all other parameters are known.

I'm thinking of something like simplified SymPy solvers:
http://docs.sympy.org/latest/modules/solvers/solvers.html

------------------------

### Syste

[2018-04-16 12:53] ViTess opened #18556 "The latest master branch fails to run the model on tensorflow lite"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:  source
- **TensorFlow version (use command below)**:
- **Python version**:  2.7.12
- **Bazel version (if compiling from source)**:  0.11.

[2018-04-16 13:00] RohinMohanadas commented on #4441
I would think this makes more sense : https://stackoverflow.com/questions/43674569/is-there-a-general-way-to-set-the-record-defaults-for-tf-decode-csv

[2018-04-16 13:01] OlofNiko commented on #18237
I had uninstalled cuda 9.1 and trying to install cuda 9.0 and i got this error

akshith@Akshith:~/Downloads$ sudo apt-get install cuda-9-0
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  cuda-cublas-9-0 cuda-cublas-dev-9-0 cuda-cufft-9-0 cuda-cufft-dev-9-0
  cuda-curand-9-0 cuda-curand-dev-9-0 cuda-cuso

[2018-04-16 13:28] ViktorM commented on #15140
And CUDA 9.2 is out. Are there any updates on what TF version is going to be shipped with 9.2 and what with 10.0.

[2018-04-16 13:36] snewi opened #18557 "'Missing required flag: input_file' when using TOCO with SavedModel"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS 10.12.6
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.7
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: n/a
- **GCC/Compiler version (if co

[2018-04-16 13:39] bruce2k commented on #18534
as i analys the data format between MNIST and my model, i change the data structure , the problem solved.

[2018-04-16 13:39] #18534 closed

[2018-04-16 13:44] #17793 closed

[2018-04-16 14:15] djovanoski commented on #18314
Hey @jperl , im trying to skip creating the model_fn ( creating the graph) each time, can you please advice me how can i skip that using above snippet where i need to modify my model ?

Thanks

[2018-04-16 14:20] andreas-eberle commented on #16502
any progress on this?

[2018-04-16 14:36] GuoleiSun commented on #13048
Same problem. Word2vec cpu is 10 times faster than word2vec gpu. Yes, it is very surprising! But this is what I got. Both cpu and gpu are slow. Waste a lot of time studying the code and modifying the code.

[2018-04-16 14:39] jperl commented on #18314
@djovanoski I decided to not use or overload estimators by rather build my own "Estimator" like class that wraps `MonitoredSession`.

[2018-04-16 14:47] jiemojiemo opened #18559 "Failed to use tf.ones with brackets"
version: 1.4

for example:
[code]
but
[code]

[2018-04-16 14:48] elcou opened #18560 "ate"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-04-16 15:03] wangshuaizs commented on #16542
It has been solved. So it can be closed. Thank you!

在2018-04-16 20:37:08，Shuai Wang13211134@bjtu.edu.cn写道：

It has been 14 days with no activity and the awaiting response label was assigned. Is this still an issue?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-04-16 15:06] CNugteren commented on #16694
Sorry, that was a mistake on my side. It works, I'll close this issue, it is indeed no longer necessary in 1.7.0.

[2018-04-16 15:06] #16694 closed

[2018-04-16 15:06] ewilderj commented on #16468
@bhack I described our current plans around community recently at the Dev Summit, [here's my talk](https://www.youtube.com/watch?v=nH6owuKfCbw). I'll set aside the discussion about governance models for now, and see if I can chase down what's going on with this issue. Obviously this does matter to us, and we are always looking to see how we can be better.

[2018-04-16 15:06] yongtang commented on #18529
In TensorFlow, the following integer types are supported:
`uint8`, `int8`, `uint16`, `int16`, `int32`, `int64`.

`uint32` and `uint64` are not supported so the `UnimplementedError` is the expected error.

There might be some enhancement that could be done in the docs. Added a PR #18561 for docs update.

[2018-04-16 15:10] jhemp01 commented on #18554
Got the same issue, installed with anaconda, double-checked all my pathes, nothing helps!
![2018-04-15_215717](https://user-images.githubusercontent.com/16338045/38817523-d83088b4-4198-11e8-847f-4ac77a50ca77.jpg)

[2018-04-16 15:30] svetlov commented on #14267
@allenlavoie is there any workaround to build custom ops, which using opencv? cv::resize seems to work, but cv::imread/cv::imdecode always return empty matrix, if it used inside custom op.

[2018-04-16 15:49] ispirmustafa commented on #15943
@ebrevdo could you please take a look?

[2018-04-16 15:56] bhack commented on #16468
@ewilderj Yes I saw you talk but anything specific about having an outlook over the internal planning about external (dev/users) issues.
I mention you here cause it is just an example where we are going over and over production releases without having a tentative outlook label/milestone. We have there repository full of these examples.
So notify you on this or on another one is quite the same, esp

[2018-04-16 16:01] nerthase commented on #17956
Yes, I'm still having this issue. Maybe the tag `avaiting response` is no more valid? @naktinis

[2018-04-16 16:09] ebrevdo commented on #15943
Yes; the check should be:

[code]

note you'll also have to change the n=1 case to return the IndexedSlices values through an identity, instead of calling identity() on the entire object.

Would you like to submit a PR doing this?

[2018-04-16 16:11] ewilderj commented on #16468
I'm talking with the team here about if there's anything we can do to better flag what's going on externally. And I do appreciate you keeping bringing this to my attention. We are in a unique position as a project precisely because we do open source the same code we use internally, hence a natural predisposition to some internal tools and practices. There's a considerable effort made to bridge the

[2018-04-16 16:11] allenlavoie commented on #14267
@svetlov for sure, you can link your custom op .so against a second .so which does not link against libtensorflow_framework.so (and doesn't include TensorFlow headers, since the symbols won't be defined). There's [one contrib op doing basically this](https://github.com/tensorflow/tensorflow/blob/f610284f878b341423bde42afc90f917c337138c/tensorflow/contrib/tensor_forest/BUILD#L408). The second .so w

[2018-04-16 16:13] Benyuel commented on #18537
Instead of generating the input matrices using numpy, have you checked to see that using `tf.random_uniform` to generate the input matrices produces the same result?

[2018-04-16 16:34] sadlerjw opened #18564 "Failed to compile summarize_graph on macOS with TF 1.7"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS High Sierra 10.13.3
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.7.0
- **Python version**: 2.7.14
- **Bazel version (if compiling from source

[2018-04-16 16:54] JusakNowWorldLater opened #18566 "Help with C++API configuration"
What do I need to choose at `./configure` ?If I just want to start learn tensorflow by C++API , when I choose nothing and run bazel( `bazel build :libtensorflow_cc.so` ) I get
`ERROR: Skipping ':libtensorflow_cc.so': no such target '//:libtensorflow_cc.so': target 'libtensorflow_cc.so' not declared in package '' defined by /home/vjusak/Tensorflow/BUILD
WARNING: Target pattern parsing failed.
ERROR

[2018-04-16 16:58] yongtang commented on #18559
@jiemojiemo With 1.7.0 the issue is resolved:
[code]

I think you can try update your tensorflow version.

[2018-04-16 16:58] evictor commented on #1749
This needs more attention... All we're left to do is peruse source code or random blogs. Official docs are greatly needed!

[2018-04-16 17:29] poxvoculi commented on #18532
In your post above I don't see the actual TF program where the queue is defined and used, so it's hard to say what might be going on.

[2018-04-16 17:37] Cpruce commented on #18539
Hi @asimshankar,

It seems to be failing at `CHECK_GE(d, 1);`
in

`// Apply checks to arrays individually (for-each fashion).
//
// Check consistency of array fields, check name.
void CheckEachArray(const Model& model) {
  for (const auto& array_entry : model.GetArrayMap()) {
    const auto& array = array_entry.second;
    if (array->has_shape()) {
      for (int d : array->shape().dims()) {

[2018-04-16 18:02] deepak-2017 commented on #18492
Dear,  I am still looking for an answer.

Thanks.

On Sat, 14 Apr 2018, 06:25 Alfred Sorten Wolf, <notifications@github.com>
wrote:

[2018-04-16 18:14] knkumar commented on #18532
Hi, thanks for your reply. I am not sure what aspects define the queue internally but let me try to highlight the aspects

[code]

[2018-04-16 18:25] xiaocai00 commented on #17974
Actually this does't come with gpu implementation, our net becomes 200x slower after reordering from NCHW to NHWC? Is there any plan to implement on gpu and NCHW in the near future? thank?

[2018-04-16 18:28] Storyyeller commented on #18541
Thanks. I have another question: Are non-embedded platforms supported at all? E.g. could I use this on x64 Linux?

[2018-04-16 18:47] poxvoculi commented on #18532
Can you post a simple reproducible example?

[2018-04-16 18:47] FrederickGeek8 commented on #18564
People over at the Bazel Github page have encountered this issue but were apparently able to fix it by using the release version of bazel as compared to the Homebrew version of bazel (which is weird since Homebrew should be compiling it from source). You can see some of the discussion at the bottom of bazelbuild/bazel/issues/4794.

I have encountered this issue, but I have not tried their solution

[2018-04-16 18:54] tensorflowbutler commented on #18546
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-16 18:54] tensorflowbutler commented on #18548
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-16 18:54] tensorflowbutler commented on #18549
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-16 19:00] Hyzeta commented on #18564
Same problem on macOS, using bazel 0.12 to build tensorflow r1.7, it's very strange that the build target became armv7-a during building.

[2018-04-16 19:18] cancan101 commented on #17334
I am still seeing this issue with the TF1.7 image.

[2018-04-16 19:25] isaprykin commented on #14613
Ah, it's not an OSError, it's an UnavailableError with the "OS Error" error message, right?
UnavailableError is part of MonitoredSession's _PREEMPTION_ERRORS -- the list of exceptions that it tries to recover from.  But every time it happens an loggign message should be generated.

Could you please include a more complete set of logs around the point where the session is restarted?

[2018-04-16 19:33] ispirmustafa commented on #18523
Hi @dkhmelenko
Could you please tell us more about how do you freeze the graph?

[2018-04-16 19:38] sadlerjw commented on #18564
@FrederickGeek8 That sounds reasonable. I just (re-)installed bazel today and I'm fairly certain it did *not* compile from source (it was way too fast and didn't output a whole lot to stdout). I'll try doing a manual installation of bazel at some point and see what happens.

[2018-04-16 20:45] cyberphantom commented on #8854
If you have two .pb files with the same structure and format, is it possible to add them together???

Let say that you have a trained model then you made a fine-tune for new calsses, then you add the result pb file to the original one so you reduce training time and having one pb file like you made a full training operation

[2018-04-16 20:52] dkhmelenko commented on #18523
I'm using the following command for freezing the graph
[code]
And the output is the following
[code]

The files `graph.pbtxt` and `model.ckpt-100` are in attachment.
[checkpoint.zip](https://github.com/tensorflow/tensorflow/files/1917237/checkpoint.zip)

[2018-04-16 20:55] jhemp01 commented on #18554
Ok, I was able to solve the problem, at least on my Windows 10:
Assuming that only users with the tensorflow-gpu version are concerned:

If you have CUDA 9.0 and cudnn 7.0.5 installed, like suggested from a lot of tutorials, you MUST install Tensorflow 1.5.0, no other version. The command pip install --ignore-installed --upgrade tensorflow-gpu gives you the latest tensorflow 1.7.0, which doesn't s

[2018-04-16 21:12] ispirmustafa commented on #18523
Pete, could you please take a look?

[2018-04-16 21:17] imanirajian opened #18572 "Feeding variable length list data (from csv) to an 'indicator_column' feature"
I have a feature as follows:
`tf.feature_column.indicator_column(tf.feature_column.categorical_column_with_vocabulary_file(...))`

Corresponding 'vocabulary_file' contains integer values as follows:

10
20
32
44
5
1212
...

Consider such training examples:
Jack, M, 22, **"[10, 20]"**, 2.33, 1
Sara, F, 24, **"[32, 44, 5, 1212]"**, 5.6, -1

Each training example has a variable length list data like

[2018-04-16 22:03] tatianashp commented on #17974
@zheng-xq Can you comment?

[2018-04-16 23:10] Danielyijun commented on #16862
Same error here. Followed  @asimshankar 's solution, still failed. Any one could help? Thank you.

ERROR: /home/ubuntu/tensorflow/tensorflow/tools/pip_package/BUILD:115:1: no such package '@nasm//': java.io.IOException: Error downloading [https://mirror.bazel.build/www.nasm.us/pub/nasm/releasebuilds/2.12.02/nasm-2.12.02.tar.bz2, http://pkgs.fedoraproject.org/repo/pkgs/nasm/nasm-2.12.02.tar.bz2/d15

[2018-04-16 23:30] #16263 closed

[2018-04-17 00:38] poxvoculi commented on #18540
Thanks for the bug report.  I was able to reproduce and diagnose.  The missing memory belongs to scratch space allocated here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtime/gpu/gpu_device.cc#L292

I'll start working through a change to deallocate this memory in ~BaseGPUDevice, but I'm not yet 100% sure it's safe to do so.

[2018-04-17 00:41] mdfaijul commented on #18133
@jbobba @zhiz21 Not sure if #18411 will resolve this issue, because #18411 is not not related to MKL.

[2018-04-17 00:49] tensorflowbutler commented on #18552
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-17 00:49] tensorflowbutler commented on #18556
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-17 00:49] tensorflowbutler commented on #18566
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-17 01:42] oscarriddle commented on #18548
Hi tensorflowbutler,

Sorry for ignoring the required information.

- Have I written custom code: No
- OS Platform and Distribution:  Red Hat 4.8.5-16, Linux version 3.10.0-693.5.2.el7.x86_64
- TensorFlow installed from: pip (python 2.7)
- TensorFlow version: tensorflow-gpu==1.7.0
- Bazel version: N/A
- CUDA/cuDNN version: CUDA9.0, cuDNN7.0.5
- GPU model and memory: Tesla P4, 8GB
- Exact command t

[2018-04-17 01:43] yjhjstz commented on #18546
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow installed from (source r1.7)**:
- **TensorFlow version (r1.7)**:
- **Python version**:
- **Bazel version (0.11.1-)**:
- **GCC/Compiler version (gcc4.8.5)**:
- **CUDA/cuDNN version**:(8.0/6.0.21)
- **GPU model and memory**:( P40, 22.38GiB)
- **Exact command to reproduce**:

[2018-04-17 02:27] isrugeek commented on #17620
@thanhtu19392  are you using external HDD as a path or storage?

[2018-04-17 02:58] FrederickGeek8 commented on #18564
@sadlerjw Homebrew by nature tends to compile source code (if you don't believe by check out the [Homebrew formula repo](https://github.com/Homebrew/homebrew-core/blob/master/Formula/). The way

That being said, **I was successfully able to build Tensorflow** by using Bazel 0.11.1 installed using their [installer](https://github.com/bazelbuild/bazel/releases/download/0.11.1/bazel-0.11.1-installer-

[2018-04-17 03:03] igorgad commented on #13463
Hi. I am also running into the corrupted record error. According to the functions made by @ed-alertedh, my tfrecord file is perfectly fine without any crc mismatch. I figured out that you can momentarily get rid of the corrupted error by cleaning the linux memory cache with the command `sudo sh -c "sync; echo 1 > /proc/sys/vm/drop_caches"`. This might indicate that the records are getting corrupte

[2018-04-17 03:11] tobegit3hub opened #18583 "Fail to save the checkpoint with dataset Iterator saveable"
### System information
== cat /etc/issue ===============================================
Darwin mbp-2.local 17.5.0 Darwin Kernel Version 17.5.0: Mon Mar  5 22:24:32 PST 2018; root:xnu-4570.51.1~1/RELEASE_X86_64 x86_64
Mac OS X 10.13.4

== are we in docker =============================================
No

== compiler =====================================================
Apple LLVM version 9.1.0 (cl

[2018-04-17 03:28] wxianfeng commented on #15698
`build.gradle`

i change

`compile 'org.tensorflow:tensorflow-android:1.4.0'`

to

`compile 'org.tensorflow:tensorflow-android:1.6.0'`

Fixed.

[2018-04-17 03:31] FrederickGeek8 commented on #18339
@MatthiasWinkelmann I have a bit of an ignorant question... What does the `constexpr` section achieve in your guide? I don't remember making those changes when compiling with GPU support on macOS in the past... Also is installing `gcc`, etc truly necessary? I just checked and although I have installed gcc through Homebrew, it has also been installed through Xcode (and in `.tf_configure_bazelrc` `G

[2018-04-17 03:33] Flock1 commented on #18482
@tensorflowbutler, an Update:
I created a new profile on Ubuntu, no NVIDIA libraries like CUDA, cudnn and other installed, installed anaconda and an env with `python 3`. I installed tf gpu using conda (` conda install -c anaconda tensorflow-gpu`)  and it installed `1.0.1` `cudatoolkit 7.5` and `cudnn 5.1`. Now, it's working.

Can you work on something to avoid all this? I'm guessing tf 1.0.1 is pr

[2018-04-17 03:36] soonel333 commented on #3390
I am also getting the exact same error. Waiting for help.
Traceback (most recent call last):
  File "translate.py", line 432, in <module>
    tf.app.run()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 30, in run
    sys.exit(main(sys.argv[:1] + flags_passthrough))
  File "translate.py", line 425, in main
    decode()
  File "translate.py", line 395, in dec

[2018-04-17 03:59] #18566 closed

[2018-04-17 04:40] ebrevdo commented on #15237
I misread.  I don't know anyone working on this; and it sounds like it would need to be implemented at the op level.  The interested implementer will need to write a custom kernel (+ GPU support if possible, + sparse update support) in tf.contrib.

[2018-04-17 04:41] ebrevdo commented on #15237
To clarify: the request is for implementations of AdamW, AdamWR from [this paper](https://arxiv.org/abs/1711.05101).

[2018-04-17 05:17] gskulkarni commented on #18537
Thanks @Benyuel! That works and is about 10x as fast as the np.matmul() and I do see spikes in the GPU compute usage. In this case the random numbers were generated in the GPU, which is fine for this toy example. For real tasks, the inputs will be generated by the CPU and I'm hoping that the computations will be way more than the rate of feeding inputs - will pay more with the tf.dataset API. The

[2018-04-17 05:31] Flock1 commented on #18482
**UPDATE**:
I solved it by adding `/path/to/libcuda.so.1` in the `LD_LIBRARY_PATH`. I rebooted and it worked.

[2018-04-17 05:35] facaiy commented on #15237
@ebrevdo I think #17438 has implemented AdamW, AdamWR.

[2018-04-17 06:15] jml6757 opened #18586 "tf.train.batch does not work with tf.uint32 and tf.uint64 data types"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.7.0
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: N/A
- **GCC/Compi

[2018-04-17 06:17] thanhtu19392 commented on #17620
I fixed the error. It's an error from my side. Thanks anw

[2018-04-17 06:52] PhilJd commented on #15237
@facaiy
I used the fact that the apply_ functions already get the precomputed gradient and Adam + Momentum optimizers don't compute values based on `var`, so it's equivalent to pre-decay. However, I just checked the apply functions of other optimizers and e.g. `Ftrl` computes factors based on `var`, so decoupling decay for such optimizers would indeed need a custom op. I'll leave a comment in the

[2018-04-17 06:57] nuchi opened #18588 "XLA implementation of FFT on CPU pulls in tf/core:framework"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macos 10.11
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: commit 63c6562df68ade3a03481874a71b536a4e02b6f5 (master as of April 15 2018)
- **Python ver

[2018-04-17 07:05] Omegastick commented on #17411
Same problem on [this Docker image](https://hub.docker.com/r/ufoym/deepo/) running in a Paperspace notebook.

Issue is with versions 1.6 and 1.7

[2018-04-17 07:14] ypapanik commented on #18518
Exact same problem here, neither tf1.7 or tf 1.8 seem to do the trick.

[2018-04-17 07:34] ysw361564483 commented on #2245
@drcrook1 I have same problem, have you fixed it ?

[2018-04-17 07:40] ysw361564483 commented on #2245
@mrry  I have seen [TensorFlow graph transform tool](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md#merge_duplicate_nodes), but I don't figure out which transform operation can implement "specify an input node"...

[2018-04-17 07:54] xiaoluojun opened #18590 "Distributed Tensorflow:tensorflow prediction"
I want to use many arm as tensorflow cluster to prediction.but I can't find some helpful demo or instructions about it.
In tensorflow distributed demo training we can see
Cluster = tf.train.ClusterSpec({"ps": ps_hosts, "worker": worker_hosts})
Cluster from the parameter server and worker hosts, I would like to know that the computing cluster created by the code here is only for training? What shou

[2018-04-17 08:05] pesser commented on #12598
I still think something's off with `_build_initializer_expr` but there is a workaround and I don't expect any activity.

[2018-04-17 08:05] #12598 closed

[2018-04-17 08:13] #18559 closed

[2018-04-17 08:37] luckynarang123 commented on #12150
same error here

[2018-04-17 09:16] naefl commented on #17933
Had same issue. Tried running it in WSL without problems, only difference was running file from WSL instead of windows 10

[2018-04-17 09:26] DEKHTIARJonathan opened #18592 "[Deprecation Warning] - tf.contrib.layers.xavier_initializer"
Hello dear friends,

If you run the following code, you will have a deprecation warning in version 1.7.0

[code]

[code]

For information, this warning did not appear in version **1.6.0**, it appears from **1.7.0**.

Have a good day,

Jonathan

[2018-04-17 09:35] weichencoder commented on #17626
yes!

[2018-04-17 10:11] Benyuel commented on #18537
@gskulkarni : Here's how you would generate on CPU but perform the matmul on GPU if you want to test:
[code]

I think you may be getting the CUDA_ERROR_LAUNCH_FAILED because you ran out of memory copying `np.random.random` matrices on your GPU.  The `np.random.random` matrix is by default `np.float64` which creates a subsequent graph bigger than 2GB and errors out for me.  If I do `np.random.rando

[2018-04-17 10:28] bhack commented on #16609
I think that we can close this for https://github.com/ROCmSoftwarePlatform/tensorflow/issues/37#issuecomment-379568900. /cc @gstoner

[2018-04-17 10:41] fengrussell commented on #18268
I have the same kind of issue though used MonitoredTrainingSession.
In other similar issues, someone suggested to use the default value of num_tokens, code show as below.
[code]
If `num_tokens=0`, the program will raise **CancelledError** Exception.
If code changed to like this, the program will be terminated normally. but distributed model couldn't sync.
[code]
I want to know the reason and how t

[2018-04-17 11:15] araefr commented on #15122
I have trained a custom model using DNN and tried to use TF_Lite for using that in Android. I'm using the same method in the demo app for loading the asset file. But I'm getting following error

`E/AndroidRuntime: FATAL EXCEPTION: main
                                                                     Process: revan.locationspeed, PID: 12072

[2018-04-17 11:39] FloopCZ commented on #2412
For those who like Docker, the [tensorflow_cc](https://github.com/FloopCZ/tensorflow_cc) project provides images with prebuilt TensorFlow C++ API.

[2018-04-17 12:00] boluoweifenda commented on #12132
I find that training mobile v2 is much slow than mobilenet v1 on tensorflow, about 50% fps. Then main difference between the two versions is that latter has much larger depthwise_conv layers. But the training time on Pytorch is reduced. These problems are also reported in [https://www.zhihu.com/question/265709710](url). So I think the overhead occurs in tensorflow rather than CUDA.

[2018-04-17 12:02] naniqingkuang opened #18593 "unsupported operand type(s) for *=: 'float' and 'NoneType'"
any one happened this?

tf_X = tf.placeholder(tf.float32, [None, 8, 8, 1])
tf_Y = tf.placeholder(tf.float32, [None, 10])

conv_out2 = tf.nn.conv2d(relu_feature_maps1, conv_filter_w2, strides=[1, 2, 2, 1], padding='SAME',use_cudnn_on_gpu=False) + conv_filter_b2

print("log+++")
print (type(conv_out2.get_shape()[0].value))

batch_mean, batch_var = tf.nn.moments(conv_out2, axes=[0, 1, 2])

[2018-04-17 12:06] zhongleiwang opened #18594 "floating point of image classifier is broken in tflite demo"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**:
- **Python version**:
- **Bazel version (if compiling from source)**:
- **GCC/Compiler version (if compiling from source)**:
- **CUDA/cuD

[2018-04-17 12:19] ysw361564483 opened #18595 "import_scoped_meta_graph() got an unexpected keyword argument 'return_elements'"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow version (use command below)**: 1.7.0
- **Python version**: 3.6.3
- **CUDA/cuDNN version**: CUDA/9.0

### Describe the problem

`trans, = tf.train.imp

[2018-04-17 12:26] pleabargain commented on #16424
tensorboard 1.7.0 has requirement bleach==1.5.0, but you'll have bleach 2.1.3 which is incompatible.
tensorboard 1.7.0 has requirement html5lib==0.9999999, but you'll have html5lib 1.0.1 which is incompatible.

[2018-04-17 12:30] Haozun commented on #15604
And I wound add that:
(linux mint)open "update manager" , select SoftWareSources ,open Additional repositories ,and delete
`deb file:///var/cuda-repo-9-1-local /`
to clear all cuda-9-1 in package manager;

[2018-04-17 12:35] tensorflowbutler commented on #18583
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-17 12:35] tensorflowbutler commented on #18572
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-17 12:35] tensorflowbutler commented on #17132
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:35] tensorflowbutler commented on #17405
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:35] tensorflowbutler commented on #17145
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:35] tensorflowbutler commented on #17158
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:35] tensorflowbutler commented on #17175
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:35] tensorflowbutler commented on #17177
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:35] tensorflowbutler commented on #17178
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:35] tensorflowbutler commented on #17186
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:35] tensorflowbutler commented on #17211
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:36] tensorflowbutler commented on #17212
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:36] tensorflowbutler commented on #17221
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:36] tensorflowbutler commented on #17227
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:36] tensorflowbutler commented on #17241
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:36] tensorflowbutler commented on #17253
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:36] tensorflowbutler commented on #17289
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:36] tensorflowbutler commented on #17301
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:36] tensorflowbutler commented on #17315
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:36] tensorflowbutler commented on #17317
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:36] tensorflowbutler commented on #17321
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:36] tensorflowbutler commented on #17327
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:36] carbon1985 commented on #18324
I have tested the tflite camera demo on Nexus5X (android 8.1), I found the prediction is slower using NNAPI than not using NNAPI, the time consumes about 500ms per frame when using NNAPI, while 300ms per frame when NNAPI turned off.
It is confused

[2018-04-17 12:36] tensorflowbutler commented on #17349
Nagging Assignee @andrehentz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:37] tensorflowbutler commented on #17377
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:37] tensorflowbutler commented on #17399
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:37] tensorflowbutler commented on #17401
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:37] tensorflowbutler commented on #16933
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:37] tensorflowbutler commented on #16555
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:37] tensorflowbutler commented on #16761
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:37] tensorflowbutler commented on #16767
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:37] tensorflowbutler commented on #16772
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:37] tensorflowbutler commented on #16775
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:37] tensorflowbutler commented on #16793
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:37] tensorflowbutler commented on #16805
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:38] tensorflowbutler commented on #16809
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:38] tensorflowbutler commented on #16919
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:38] tensorflowbutler commented on #17062
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:38] tensorflowbutler commented on #16937
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:38] tensorflowbutler commented on #16943
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:38] tensorflowbutler commented on #16964
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:38] tensorflowbutler commented on #16969
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:38] tensorflowbutler commented on #17006
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:38] tensorflowbutler commented on #17024
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:39] tensorflowbutler commented on #17031
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:39] tensorflowbutler commented on #17034
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:39] tensorflowbutler commented on #17037
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:39] tensorflowbutler commented on #18017
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:39] tensorflowbutler commented on #18037
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:39] tensorflowbutler commented on #18040
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:39] tensorflowbutler commented on #18045
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:39] tensorflowbutler commented on #18063
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:39] tensorflowbutler commented on #18064
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:39] tensorflowbutler commented on #18078
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:40] tensorflowbutler commented on #18083
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:40] tensorflowbutler commented on #18087
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:40] tensorflowbutler commented on #18000
Nagging Assignee @andrewharp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:40] tensorflowbutler commented on #18131
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:40] tensorflowbutler commented on #18151
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:40] tensorflowbutler commented on #18163
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:40] liugongfeng commented on #18549
Q: Have I written custom code
Answer: NO

Q: OS Platform and Distribution
Answer: What? (confused)  Windows 10 Education

Q: TensorFlow installed from
Answer:  **C:> conda create -n tensorflow pip python=3.6**  ([more](https://www.tensorflow.org/install/install_windows))

Q: TensorFlow version
Answer:   1.7.0

Q: Bazel version
Answer:  not install, Does **non-gpu tensorflow** version need it ?

Q:

[2018-04-17 12:40] tensorflowbutler commented on #18176
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:41] tensorflowbutler commented on #18185
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:41] tensorflowbutler commented on #17691
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:41] tensorflowbutler commented on #17440
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:41] tensorflowbutler commented on #17446
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:41] tensorflowbutler commented on #17456
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:41] tensorflowbutler commented on #17457
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:41] tensorflowbutler commented on #17461
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:41] tensorflowbutler commented on #17463
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:41] tensorflowbutler commented on #17488
Nagging Assignee @tatianashp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:41] tensorflowbutler commented on #17541
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:42] tensorflowbutler commented on #17677
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:42] tensorflowbutler commented on #17689
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:42] tensorflowbutler commented on #17419
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:42] tensorflowbutler commented on #17832
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:42] tensorflowbutler commented on #17879
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:42] tensorflowbutler commented on #17886
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:42] tensorflowbutler commented on #17890
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:42] tensorflowbutler commented on #17950
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:42] tensorflowbutler commented on #17957
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:43] tensorflowbutler commented on #14575
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:43] tensorflowbutler commented on #14608
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:43] tensorflowbutler commented on #14615
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:43] tensorflowbutler commented on #14623
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:43] tensorflowbutler commented on #14783
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:43] luckynarang123 commented on #4044
please reopen,

[2018-04-17 12:43] tensorflowbutler commented on #14994
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:44] tensorflowbutler commented on #14544
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:44] tensorflowbutler commented on #15047
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:44] tensorflowbutler commented on #15057
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:44] tensorflowbutler commented on #15090
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:44] tensorflowbutler commented on #15161
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:44] tensorflowbutler commented on #15241
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:44] tensorflowbutler commented on #15274
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:44] tensorflowbutler commented on #15292
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:44] tensorflowbutler commented on #15294
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:44] tensorflowbutler commented on #15329
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:44] tensorflowbutler commented on #15387
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:45] tensorflowbutler commented on #13258
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:45] tensorflowbutler commented on #7378
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:45] tensorflowbutler commented on #9527
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:45] tensorflowbutler commented on #10731
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:45] tensorflowbutler commented on #11651
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:45] k22jung commented on #16592
Going to close this issue for now, I've gotten preoccupied with other things at the moment.

[2018-04-17 12:45] tensorflowbutler commented on #12810
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:45] tensorflowbutler commented on #13196
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:46] #16592 closed

[2018-04-17 12:46] tensorflowbutler commented on #13341
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:46] tensorflowbutler commented on #13436
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:46] tensorflowbutler commented on #13499
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:46] tensorflowbutler commented on #13549
Nagging Assignee @wolffg: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:46] tensorflowbutler commented on #13810
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:46] tensorflowbutler commented on #13984
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:46] tsoernes commented on #16781
yes

2018-04-17 14:42 GMT+02:00 Alfred Sorten Wolf <notifications@github.com>:

[2018-04-17 12:46] tensorflowbutler commented on #14134
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:46] tensorflowbutler commented on #14193
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:47] tensorflowbutler commented on #15942
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:47] tensorflowbutler commented on #15963
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:47] tensorflowbutler commented on #15996
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:47] tensorflowbutler commented on #16026
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:47] tensorflowbutler commented on #16061
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:47] tensorflowbutler commented on #16091
Nagging Assignee @andrehentz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:47] tensorflowbutler commented on #16126
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:47] tensorflowbutler commented on #15919
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:48] tensorflowbutler commented on #16170
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:48] tensorflowbutler commented on #16202
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:48] tensorflowbutler commented on #16209
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:48] tensorflowbutler commented on #16213
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:48] tensorflowbutler commented on #16279
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:48] tensorflowbutler commented on #16308
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:48] tensorflowbutler commented on #16317
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:48] tensorflowbutler commented on #16334
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:48] tensorflowbutler commented on #16390
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:48] tensorflowbutler commented on #15643
Nagging Assignee @yzhwang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:49] tensorflowbutler commented on #15492
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:49] tensorflowbutler commented on #15501
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:49] tensorflowbutler commented on #15505
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:49] tensorflowbutler commented on #15549
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:49] tensorflowbutler commented on #15551
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:49] tensorflowbutler commented on #15554
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:49] tensorflowbutler commented on #15626
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:49] tensorflowbutler commented on #675
Nagging Assignee @agarwal-ashish: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:50] tensorflowbutler commented on #15695
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:50] tensorflowbutler commented on #15751
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:50] tensorflowbutler commented on #15783
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-17 12:50] tensorflowbutler commented on #15835
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:50] tensorflowbutler commented on #15839
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:50] tensorflowbutler commented on #15870
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:50] tensorflowbutler commented on #15872
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:50] tensorflowbutler commented on #15903
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-17 12:53] #12268 closed

[2018-04-17 13:00] lhlmgr commented on #17824
Hi @ispirmustafa,
Sorry, I guess I don't understand exactly what you mean by "should be handled as part of evaluation".

The case I have in mind is the following: I want to predict e.g. a class `y_hat` for sample `x`, or I want to retrieve the generated image `x_hat` (in case of an auto-encoder). And to compare it with the true class / image I want access to the true labels without extracting `TFR

[2018-04-17 13:03] andresusanopinto opened #18598 "tensorflow-1.8.0rc0: tf.compat.as_str returns bytes for python3 since 20180409"
The issue appeared first in `tf-nightly==1.8.0.dev20180409` but is now present in `tensorflow==1.8.0rc0`.

Reproduce steps:

[code]

Is expected to always print "True".  But gets:

[code]

[2018-04-17 13:18] Joshuaalbert commented on #16932
Closing due to inactivity

[2018-04-17 13:18] #16932 closed

[2018-04-17 13:27] cchan commented on #18595
I don't think `return_elements` has ever been supported in `import_meta_graph`. Are you thinking of `import_graph_def`?

[2018-04-17 13:28] byronyi commented on #15541
@skye Shall we close this issue for now? It appears that I cannot reproducce the issue.

@ooyanglinoo please let me know if you’ve met further problems. Thanks!

[2018-04-17 13:29] cchan commented on #18594
@zhongleiwang How did you determine that it was due to that commit? That just sounds like you're out of memory.

[2018-04-17 13:32] innovia commented on #17334
and 1.8rc0

[2018-04-17 13:34] thmufl commented on #15360
From my point of view, you can close the issue. I tested it with Tensorflow 1.7. It ran without problem. Thanks a lot!

[2018-04-17 13:45] zhongleiwang commented on #18594
I'm bit puzzled by out of memory problem, however, git bisect seems to indicate the breakage happened from this cl. Maybe the author say more.

[2018-04-17 13:49] #17446 closed

[2018-04-17 14:04] #16809 closed

[2018-04-17 14:13] mrry commented on #18598
@annarev When I trace through this code in Python 3, it does indeed look like `tf.compat.as_str()` is mapped to this function:

https://github.com/tensorflow/tensorflow/blob/3128b43eb0bf37ac3c49cb22a6e1789d8ea346e8/tensorflow/python/util/compat.py#L48-L68

However, if I do `from tensorflow.python.util import compat`, `compat.as_str()` maps to `as_text()` via (presumably) this appropriate redirecti

[2018-04-17 15:04] LanYangXiXi commented on #16751
hi pvaezi , I just met the same problem when I trying to use Inception v3 to classify image, which is a tutorial in TensorFlow repository, i flashed my TX2 with jetpack 3.1, and cuda 8.0, cudnn 6, I can train cifar10 so I think it is not the environment problem, so have you solve this problem? waiting for your response.

[2018-04-17 15:13] ankitvgupta commented on #18394
Great, thanks! Do you guys have any approximate timeline for when this could happen? Just trying to decide whether to hack something together ourselves in the meantime.

[2018-04-17 15:32] dkoguciuk commented on #17510
I need more time! :smile:

[2018-04-17 16:03] cchan commented on #18592
Can replicate the problem, with an even simpler command:

    from tensorflow.contrib.layers import xavier_initializer

Seems like the problem is with the `__init__.py` in that folder.

[2018-04-17 16:05] yongtang commented on #18598
@mrry @annarev I think the tf_export could be explicitly called based on python 2 or 3 to address the issue. The following diff might work:
[code]

[2018-04-17 16:12] krishnashankar opened #18600 "Switch slim.learning.train to use tf.train.MonitoredTrainingSession, and expose sessionrunhooks"
Hi!

I've been getting warnings when using slim.learning.train about switching to tf.train.MonitoredTrainingSession. Is there a plan to make the switch?

Thanks!

[2018-04-17 16:26] hillelt commented on #15057
I didn't time a single direct call, but `dynamic_rnn` becomes twice as slow.

[2018-04-17 16:27] poxvoculi commented on #17999
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-17 16:27] #17999 closed

[2018-04-17 16:32] cchan commented on #18592
Replaced deprecation warning with raising an error, here's the traceback:
[code]

[2018-04-17 16:39] franchenstein opened #18604 "No module named tensorflow.tools"
### System information
- **OS Platform and Distribution**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version**: 1.3.0
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: Used binary
- **GCC/Compiler version (if compiling from source)**: Used binary
- **CUDA/cuDNN version**: No GPU
- **GPU model and memory**: No GPU
- **Exact command

[2018-04-17 16:42] cchan commented on #18592
Seems to be fixed in master lol. https://github.com/tensorflow/tensorflow/commit/fdec18588d7f8b5f6383601f1030ed71f634d1c0

Recommend close.

[2018-04-17 16:50] ebrevdo commented on #15057
What about static_rnn?

On Tue, Apr 17, 2018, 9:28 AM hillelt <notifications@github.com> wrote:

[2018-04-17 17:05] roblalonde commented on #7068
Here is a blog post that was recently done by Univa that outlines an example approach to integrating distributed TensorFlow to a Grid Engine Parallel Environment.  Hope this helps. Feedback and questions very welcome.

https://blogs.univa.com/2018/04/integrating-distributed-tensorflow-with-grid-engine/

[2018-04-17 17:13] skye commented on #15360
Thank you for reporting back!

[2018-04-17 17:13] #15360 closed

[2018-04-17 17:14] skye commented on #15541
Sure, go ahead and close if this can't be repro'd anymore. Thanks.

[2018-04-17 17:14] DEKHTIARJonathan commented on #18592
@cchan just tested with 1.8.0rc0 you are absolutely right.
Closing this issue

[2018-04-17 17:14] #18592 closed

[2018-04-17 17:26] asimshankar commented on #15413
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-17 17:26] #15413 closed

[2018-04-17 17:27] asimshankar commented on #18163
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-17 17:27] #18163 closed

[2018-04-17 17:49] mingxingtan commented on #14226
`tf.image.decode_image` is a wrapper of many other ops: `decode_jpeg`, `decode_gif`, `decode_png`, etc, so the output shape depends on the image type, and it cannot determine the shape of the output until actually seeing the content at execution time.

For now, you can simply replace the `tf.image.decode_image` with more specific ops, i.e.,  `tf.image.decode_jpeg` for jpeg, `tf.image.decode_png` f

[2018-04-17 18:00] reedwm commented on #18537
@gskulkarni, When benchmarking, you typically want to run several warmup iterations before starting the timer. This is because TensorFlow has to do more work for the first `sess.run()` calls, such as optimizing the graph. You should also run the session call for several iterations in a loop, to reduce variance.

The CUDA_ERROR_LAUNCH_FAILED error is a separate issue than performance. Can you post

[2018-04-17 18:05] reedwm commented on #18564
@gunan, can you take a look?

[2018-04-17 18:05] reedwm commented on #16207
Closing due to a lack of a response.

[2018-04-17 18:05] #16207 closed

[2018-04-17 18:06] reedwm commented on #17034
Closing because the template is not filled out.

@joelteply if you still have this issue, please file a new issue with the issue template filled out.

[2018-04-17 18:06] #17034 closed

[2018-04-17 18:07] reedwm commented on #16943
Closing because the template is not filled out.

@airaria if you still have this issue, please file a new issue with the issue template filled out.

[2018-04-17 18:07] #16943 closed

[2018-04-17 18:28] HotepRato commented on #18554
I'm not trying to install the GPU version, but the CPU version.
Thank you anyway !

[2018-04-17 18:48] gunan commented on #18564
I am OOO, you may want to redirect this for faster triage.

[2018-04-17 18:49] jrajagopal commented on #16214
As per @vissac  and as suggested by @manbharae , cuda-command-line-tools-9-0 is already part of the CUDA install. After I installed cuda using "sudo apt-get install cuda", here is what I tried:
-----------------------
ispxndemo@pop-os:~/packages$ sudo apt-get install cuda-command-line-tools-9-0
Reading package lists... Done
Building dependency tree
Reading state information... Done
cuda-command-li

[2018-04-17 18:54] #18598 closed

[2018-04-17 18:56] Nasnl commented on #18111
Hi @annarev
Thanks for checking this out. Sorry for not mentioning this right away.

No, I get the message when I gave the command "python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/faster_rcnn_inception_v2_pets.config" (creating a recognition engine for neighborhood parking issues to support the neighborhood detecting the amount of parked cars in the streets in a

[2018-04-17 19:04] reedwm commented on #18564
/CC @av8ramit

[2018-04-17 19:25] smitshilu opened #18612 "TFlite conversation failed"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac 10.13.3
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**:  1.6
- **Python version**: 3.6.3
- **Bazel version (if compiling from source)**: 0.9
- **CU

[2018-04-17 19:44] tensorflowbutler commented on #18590
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-17 19:54] #17104 closed

[2018-04-17 19:58] poxvoculi commented on #18586
@alextp Do you know why these types are excluded?

[2018-04-17 20:12] vijaysaimutyala commented on #18554
There was a stackoverflow post that says that TensorFlow 1.7 uses AVX for the CPU version which is causing the above issue on Windows(Same behaviour observed for 1.6 as well). The above case occurs even when the Visual C++ build tools are installed. Verified this on two desktops running Windows 10(They run the same processor). Also to add, Intel Virtualization is already enable in the BIOS.

Versi

[2018-04-17 20:14] kr-ish commented on #18586
I wonder if the issue in this SO question is related to this one? https://stackoverflow.com/questions/49437216/tf-data-dataset-from-generator-not-supporting-uint16-uint32

[2018-04-17 20:34] #18529 closed

[2018-04-17 21:25] jianyinglang opened #18617 "How to include xla_op_kernel.h to the TensorFlow python package?"
Have I written custom code: None
OS Platform and Distribution: Linux Ubuntu 16.04
Open MPI version: 3.0.0
TensorFlow installed from: source
Bazel version: 0.11.1
Python version: 3.5.2
GCC version: 6.3.0
CUDA/cuDNN version: N/A
GPU model and memory: N/A
Horovod: 0.12.1
Tensorflow version: b'v1.7.0-rc1-816-g1712002ad0' 1.7.0-rc1
Exact command to reproduce: N/A
Feature request: I would like to call R

[2018-04-17 21:35] ispirmustafa commented on #17824
I mean if you're comparing predictions with the labels, which seems evaluation. Having said that what do you think about following solution: add label in to features dict. make it as one of the prediction if it exist in the features dictionary.

[2018-04-17 21:54] #15999 closed

[2018-04-17 22:53] tatianashp commented on #17488
@GPhilo Thank you for your suggestion. It would be great if you could help us by working on this and submitting a PR. Let us know if you need further clarification. Thanks!

[2018-04-17 22:53] #17488 closed

[2018-04-17 22:55] bhack commented on #18525
Take a look to the Kubeflow related project: https://github.com/kubeflow/hp-tuning

[2018-04-17 23:15] chrisying commented on #17609
I believe the correct way to set up application_default_credentials is with https://cloud.google.com/sdk/gcloud/reference/auth/application-default/login instead of activate-service-account.

[code]

Closing this issue for now.

[2018-04-17 23:15] #17609 closed

[2018-04-17 23:25] jimlloyd commented on #15290
Can @asimshankar please reply to this thread?

[2018-04-17 23:44] #18460 closed

[2018-04-17 23:57] asimshankar commented on #15290
The C library package (consisting essentially of a single header file and a few shared libraries) can be built using the process we use for building release binaries. (See [README](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/lib_package/README.md) and [StackOverflow answer](https://stackoverflow.com/questions/49788062/how-to-build-the-c-library-for-tensorflow/49789918#497

[2018-04-18 00:06] asimshankar commented on #18397
Thanks @saudet

Caching seems very reasonable. Though, again, the caching should handle different versions/configurations correctly. So, some form of identification (like the checksum of the file contents) should be included, right? (Seems like JavaCPP uses maven coordinates for the "cache key"?)