[2019-04-15 02:05] jvishnuvardhan commented on #27788
@Jaeyxx Could you follow steps 3,4,5,8 and 9 [here](https://github.com/jvishnuvardhan/Installing-TensorFlow-GPU-on-Windows-10-TF1.12) and let me know how it progresses. Thanks!

[2019-04-15 02:15] yt7589 commented on #27842
The source code version:
git clone https://github.com/tensorflow/tensorflow
git checkout v2.0.0-alpha0

I found that the eager execution mode was turned of insteam turn on. Something wrong with this branch?

[2019-04-15 02:27] ashisham opened #27843 "ImportError: cannot import name 'abs'"
os: ubuntu 16.04 LTS
processor : Intel® Xeon(R) CPU E5-1620 v4 @ 3.50GHz × 8
GPU : GeForce GTX 1080 Ti/PCIe/SSE2
python : 3.6
tensorflow 1.13.1

https://github.com/hellochick/PSPNet-tensorflow

runfile('/data/segmentation-master/run_on_sequence.py', wdir='/data/segmentation-master')
Traceback (most recent call last):

  File "<ipython-input-3-914d8c6a3fac>", line 1, in <module>
    runfile('/data/

[2019-04-15 02:31] ymodak commented on #27607
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-15 02:31] #27607 closed

[2019-04-15 02:31] ymodak commented on #27593
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-15 02:31] #27593 closed

[2019-04-15 02:33] ymodak commented on #27628
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-15 02:33] #27628 closed

[2019-04-15 02:36] Ekinkit commented on #26205
@Ayush517 Thank you for your reply~

[2019-04-15 02:40] zzk88862 opened #27844 "quantization with multiple gpu training"
when i try to quantization with multiple gpu training,   a error happened

KeyError: "The name 'tower_0/gradients/tower_0/MobileNet/conv_ds_13/pointwise_conv/BatchNorm/batchnorm_1/Rsqrt' refers to an Operation not in the graph."

my multiple gpu code：
 with tf.variable_scope(tf.get_variable_scope()):
            for i in range(2):
                with tf.device('/gpu:%d' % i):

[2019-04-15 02:59] proteneer opened #27845 "Wrong derivatives for complex second order derivatives."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-04-15 03:40] haddis3 opened #27846 "quantize_graph incompatible shapes"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): pip install tensorflow
- TensorFlow version (use command below): 1.12.0
- Python version: 3.6.5
- Bazel version (if compiling from source):
- GCC/Co

[2019-04-15 03:54] jlebar commented on #25773
ABSL folks are open to changing ABSL not to include windows.h and other Windows headers from ABSL headers.

It sounds like @rmlarsen is not going to write the Eigen PR.  I'm wondering if one of you might be willing to do this?

[2019-04-15 03:56] syw2014 commented on #20098
Dose there are some new practice of this issue? I found dataset api is usefull to train and evaluate model with batch, but there are less or no documents about inference with tf.data.dataset api, If I want to feed one sample to the trained graph how to complete this?

[2019-04-15 03:56] ppwwyyxx opened #27847 "BUG: tfdbg session cannot be used with SessionRunHooks"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platfo

[2019-04-15 04:02] llhuii opened #27848 "Error filename logging with tf.logging.warn"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-04-15 04:18] stellaluminary commented on #27819
Sorry about Wrongly Writing GPU RAM Memory. I Miss Understand Which is my computer ram.
And Thank you apply my Message.
However I searched internet and i can't find tf 2.0-alpha version of tensorflow / benchmark In windows. SO if you recommend any other method please leave a message

[2019-04-15 04:28] wookayin opened #27850 "broadcast_to op: "invalid shape to broadcast" on 6D tensors"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: x
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.

[2019-04-15 04:35] GoingMyWay commented on #24774
`tf.map_fn` is really slow.

[2019-04-15 04:41] wookayin commented on #27850
Using `tf.tile` as a replacement of `tf.broadcast_to` works okay.

[code]

[2019-04-15 06:08] achandraa commented on #27425
Closing the issue since it is a duplicate of #27669 . Thank you!

[2019-04-15 06:08] #27425 closed

[2019-04-15 06:28] sofienbouaziz commented on #24410
@drebain Very cool colab! Indeed the [code](https://github.com/ataiya/dtform) you are referring to is an old implementation I did of this particular [paper](http://www.theoryofcomputing.org/articles/v008a019/v008a019.pdf) and as you pointed out it is differentiable. Yes, you are right that the gradient doesn't make sense in the case of binary image, however I was thinking we could do something sim

[2019-04-15 06:35] huan commented on #26513
Related to #24412

[2019-04-15 06:38] huan commented on #24412
Hello @martinwicke, Thanks for set up this issue for the main tracking issue for TPU support with TF 2.0.

Do we have any plan of ETA now?

[2019-04-15 06:38] Muhammad-Subhan-Khan commented on #17022
pip install tensorflow==1.13.1

pip install tensorflow

tried all above but still no support with current python version (3.7.2)

[2019-04-15 07:02] Dayananda-V opened #27852 "Problem building tensorflow on Ubuntu system with Bazel gpu flavor"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.2 LTS
- Mobile de

[2019-04-15 07:15] ablenesi commented on #27823
The issue is resolved with the latest nightly version of Tensor Flow.
For more details see:
https://github.com/tensorflow/tensorflow/issues/26672

[2019-04-15 07:15] #27823 closed

[2019-04-15 07:29] captain-pool commented on #27739
tf.keras Backend Uses TF Variables to perform the Moving Average. However in eager mode, A lot of functionalties are either not implemented or are avoided, in EagerTensor Class. As shown Here.
https://github.com/tensorflow/tensorflow/blob/9b0656f8ac36124ffe928d295be2c8b9d080c643/tensorflow/python/framework/ops.py#L956-L996
So, the following error is being raised.

[2019-04-15 07:48] captain-pool opened #27853 "Tensorflow variables not casting to ref type [BUG][TF 2.0]"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-04-15 07:49] LutetiumX opened #27854 "Problem with Running GANEstimator: Type Error in eval_utils_impl.py"
[code]
Source: tensorflow/contrib/gan/python/eval/python/eval_utils_impl.py

I am rebuilding GAN Estimator with MNIST Dataset:

input function is defined as:

[code]

GAN generators and discriminators:
[code]

Estimator is created as:

[code]

The environment I am running on is:

Ubuntu 16.01
Python 3.6.6
Tensorflow 1.13

[2019-04-15 07:54] captain-pool commented on #27843
Looks like a Tensorflow Version Problem, for that Specific Code. This is not a Tensorflow Related Problem. Raise an Issue in the repository stating this error, and ask the maintainer to provide the TF Version He/She used while building this.

[2019-04-15 08:02] liujun121533 commented on #17022
You should try the nigthly build.

[2019-04-15 08:08] gadagashwini commented on #27667
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-15 08:08] #27667 closed

[2019-04-15 08:09] achandraa commented on #27582
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-15 08:09] #27582 closed

[2019-04-15 08:12] EKami commented on #24828
Thing is for me `config.gpu_options.allow_growth = True` seems to create yet another problem. Using it with TF Eger and TF Dataset seems to get TF not freeing up GPU resources when the training loop is over. So basically if I have 2 models to train, one after the other well the second one will start with the resources of the first one still being stuck in memory resulting in an OOM crash. If the 2

[2019-04-15 08:12] achandraa commented on #27568
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-15 08:12] #27568 closed

[2019-04-15 08:16] gadagashwini commented on #27746
@XdyGoGo This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.  If you think it is a bug/feature request, please fill the respective template inorder to start triaging. Thanks !

[2019-04-15 08:19] DevKiHyun commented on #27739
Then, if I want to customize batchnormalition layer, then I can customize only this api? https://github.com/tensorflow/tensorflow/blob/8d24f6ae5cffbb1e23e02e5ac14f15b5f3ab6414/tensorflow/python/keras/layers/normalization.py#L42

I think that this api is difficult.

[2019-04-15 08:22] meteorcloudy commented on #27697
Turned out we also need to fix `steup.py`:
https://github.com/tensorflow/tensorflow/blob/1cdae4922cfe6821eafb163d9f825e29b4f1fc80/tensorflow/tools/pip_package/setup.py#L240

[2019-04-15 08:22] meteorcloudy commented on #27697
I verified on my local machine, fixing this file works. Sending a fix from internal.

[2019-04-15 08:23] LedahBlack opened #27855 "How to use libtensorflow-lite.a with C++ on Raspberry Pi 3?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Rasbian
- Mobile device (e.g. i

[2019-04-15 08:26] zhouxcal commented on #19293
@JaviBonilla @jdduke
Hi Guys, just checking back any updates on this thread?
Million thanks!

[2019-04-15 08:28] blup-Blupon commented on #24828
I encounter similar difficulties, and I guess everyone else using the solution suggested here suffers from this annoying memory overflow. Either someone will find & give us another better short-term solution, or we'll have to wait for a fix from cuDNN/CUDA/tensorflow I guess :hourglass:

[2019-04-15 08:30] captain-pool commented on #27739
This API is Still in Alpha Stage. So, it is supposed to have tons of Bugs. All of these are supposed to get fixed by the community and the tensorflow team before the final release.

[2019-04-15 08:33] breadbread1984 opened #27856 "get error message when use tf.summary.scalar() with TF 2.0"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-04-15 08:40] DevKiHyun commented on #27739
Do you think I should use this api yet?

[code]

[2019-04-15 08:51] ShaneTian commented on #27503
**I have same question as you, could you tell me how did you solve it?**
---
[code]

[2019-04-15 08:58] misterti commented on #27420
If showing the animation on the front page taking 15% of the CPU is expected, then it is indeed working correctly

[2019-04-15 09:13] wudixiaotie opened #27857 "tf.estimator.train_and_evaluate not run evaluate when distribute strategy is CollectiveAllReduceStrategy"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-04-15 09:18] rightaditya commented on #26218
Compared to 1.12, I'm finding that the exact same code uses about 10% extra GPU memory as per tf.profiler. Specifically, the test I just did gives about 6400MB total (i.e., for _TFProfRoot) on 1.12.0 but about 7100MB for 1.13.1. With a smaller version of the same model, the proportional difference is about the same---about 3450MB for 1.13.1 and about 3100MB for 1.12.0.

[2019-04-15 09:24] #27853 closed

[2019-04-15 09:29] gadagashwini commented on #27815
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2019-04-15 09:32] cottrell opened #27858 "tf.summary.tensor_summary no longer appears in the REPL, see it in the code? Docs need update?"
Not sure what the intention is as I see a lot of v1/v2 name changing.

tf.summary.scalar is there but not tf.summary.tensor_summary

In [80]: tf.__version__
Out[80]: '2.0.0-alpha0'

[2019-04-15 09:35] captain-pool commented on #27739
I did some more digging. and found that yes you can do it. But you, missed a very important part.
`moving_average_update` asks for `Mutable Tensors`, also known as *variables*.
So, you need to type cast the mean
[code]

this does the job, but you need to disable eager by the above stated method at first. I'm looking into the issue why it is not supported in Eager. But for the time being, this is y

[2019-04-15 09:40] miunayan commented on #24392
Hi, I  met the same problem and have you solved it?

[2019-04-15 09:42] iperov commented on #26218
@rightaditya
thx, you are reproduced the bug too.
What are next actions?

[2019-04-15 09:51] gadagashwini commented on #27792
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2019-04-15 09:57] LiuPangYao commented on #27826
win10, bazel0.24.1
run: bazel build tensorflow/tools/graph_transforms:transform_graph get
ERROR: C:/users/user/tensorflow_test2/tensorflow/tensorflow/core/kernels/data/BUILD:78:1: C++ compilation of rule '//tensorflow/core/kernels/data:captured_function' failed (Exit 2)

[2019-04-15 09:58] digglife commented on #14356
Thank you!

[2019-04-15 10:02] osanwe commented on #26869
Yes, conversion finished successfully, but after recompiling `*.aar` with `bazel build --cxxopt='--std=c++11' -c opt --config=android_arm --config=monolithic //tensorflow/lite/java:tensorflow-lite-with-select-tf-ops` I've got the error
[code]
It seems that some modifications in [`TfLiteFlexDelegate`](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/delegates/flex) are needed. I

[2019-04-15 10:08] MentalGear commented on #27815
Well, it would be a feature request if this functionality isn’t available yet. :P

[2019-04-15 10:24] sklampfl commented on #27640
I don't think g++ is relevant either, since I installed tensorflow via pip, but for the sake of completeness this is the result of `g++ --version` on both systems:
MacOS: `Apple LLVM version 10.0.1 (clang-1001.0.46.3) Target: x86_64-apple-darwin18.5.0`
Linux: `g++ (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609`

[2019-04-15 10:58] crazyn2 commented on #21880
I solved this problem by using a VPN network.If the problem is different when you're trying , I guess  you like me the problem is due to the local network of your operator or country .

[2019-04-15 11:10] cottrell commented on #26792
Does this work in tf 2.0? Does not seem so.

[2019-04-15 11:31] achandraa commented on #27813
In order to expedite the trouble-shooting process, Please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-04-15 11:36] MeteorsHub commented on #10155
@CasiaFan But how to handle situations that the vars in pretrained model change their scope in current model? It seems the param `var_name_to_prev_var_name`  doesn't accept regex format

[2019-04-15 11:51] gadagashwini commented on #27809
@StudyExchange, Please do confirm, whether the tensorflow is installed at Anaconda prompt or outside the anaconda. Thanks!

[2019-04-15 12:11] achandraa commented on #27715
@paviddavid : Are you still stuck in the issue ? Can you please let us know if the same is resolved ?

[2019-04-15 12:21] BigBug92 commented on #25026
me too.
I want to pack tensorflow1.12 dbg wheel, and then install using xxx.whl，but i get the same error here.

`root@wuhp000100031:/home/hjj/code/tensorflow# bazel-bin/tensorflow/tools/pip_package/build_pip_package /home/hjj/HuaweiGit/tensorflow_pkg_tf12_dbg
Mon Apr 15 20:10:07 CST 2019 : === Preparing sources in dir: /tmp/tmp.KTUCQY7nMR
/home/hjj/code/tensorflow /home/hjj/code/tensorflow
/home/h

[2019-04-15 12:36] achandraa commented on #27720
Is this still an issue ? Please let us know. Thanks!

[2019-04-15 12:39] amxineohp commented on #27016
Today I noticed TF2.0 will deprecate variable scope (tf.contrib.seq2seq need a Layer object, I need check if it support scope because I did not see a scope variable in the API). Although I think it is good news, there will be legacy problems of our code like tf.contrib.seq2seq.
To me I need spend 5 times effort to use TF develop models than keras before google bought keras.
I even develop my own O

[2019-04-15 12:59] sathyamoorthyrr commented on #25323
Using Ubuntu 18.04, GCC-7.3.0, faced the same issue by running,
`bazel build -c opt --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" tensorflow_serving/...`

Similar to @byronyi's comment,  adding `--config=nativeopt` does not give any error.

However, I have also used `--cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0"` to let the build be compatible with older ABI. Refer [here](https://www.tensorflow.org/install/source

[2019-04-15 13:03] 2017TJM opened #27860 "AttributeError: module 'tensorflow.tools.api.generator.api.estimator' has no attribute 'SessionRunHook'"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-04-15 13:26] coopie commented on #27776
Also been having trouble with this issue. I have written a quick patch for the RaggedGather:

[code]

The `ragged_gather` op is found in `tensorflow/python/ops/gen_ragged_array_ops.py`

This is working for `concat`s along a ragged dimension. I've only tested with ragged_rank=1`

Happy to work this into a future PR.

[2019-04-15 13:28] machism0 commented on #12071
I am getting the same bug on a distance norm of a batch of vectors. We have very similar situations.

[2019-04-15 13:41] dellelce commented on #20517
@ppwwyyxx should we have another ticket for supporting non-glibc linux distributions?

PEP 571/PEP 513 ("manylinux") support only glibc.

[2019-04-15 13:56] andreas-eberle opened #27861 "Tensorflow 2.0 keras load_model does not restore step / epoch counters"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes, see example below
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0 alpha 0 - gpu
- Python version: 3.5.3
- CUDA/cuDNN version: Cuda 10
- GPU model and memo

[2019-04-15 14:00] MukundaM commented on #17422
The last specified command solved the problem for me. Thanks @javacjh

[2019-04-15 14:30] DevKiHyun commented on #27739
@captain-pool  Thank you for your kindness.

All parameter(ex. mean, var, moving_mean_or_var) of moving_average_update are should be mutable Tensor, so I must use tf.Variable to them, right?  And gamma, beta etc... they be just 'tensor' (like tf.Tensor).

---------------------------------------------------------------------
You said 2.0.0-alpha has this issue, but master branch is already fixed it

[2019-04-15 14:43] muneeb699 opened #27862 "Dimension Mismatch error in [image_captioning.ipynb]"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version:2.2.0 alpha
- Doc Link: [https://colab.research.google.com/github/tensorflo

[2019-04-15 14:54] Mariam-Dessouki commented on #24099
.

[2019-04-15 14:54] Squadrick commented on #27845
Ran this on `tensorflow==2.0.0-dev20190327` and I get the same incorrect output.

[2019-04-15 14:58] yongtang commented on #20517
@dellelce Supporting alpine linux could be an interesting idea but may not be trivial. At the moment most of the tensorflow binaries are compiled with Ubuntu 14.04. Even some other commonly used platforms  (e.g. CentOS) occasionally encountered some issues. I think alpine support is unlikely to be a priority in the short term.

Opening an issue is always a good thing, as it could help gauge the ne

[2019-04-15 15:11] captain-pool commented on #27739
@DevKiHyun , Yep, Rest of the things like Gamma, Beta can be Tensor or Just simply numpy arrays. I'ld suggest you to edit that specific line in your installed package folder. That should fix your issue.
PRO Tip: Follow the Traceback, when the error occurs. The 2nd Last Error, has the file name in it. Open Up that file, go to Line 206 and replace `unbiased_var.op.name` with the line from above. Tha

[2019-04-15 15:22] mihaimaruseac commented on #27430
Yes, on macos they're `.dylib`s, not `.so`s

[2019-04-15 15:23] StudyExchange commented on #27809
Tensorflow is installed at Anaconda Prompt!
[code]

[2019-04-15 15:31] crazyn2 commented on #25773
@alexrobomind can you give us more details to solve the errors step by step

[2019-04-15 15:38] jdduke commented on #26736
A [fix](https://github.com/tensorflow/tensorflow/commit/5e52b70188ceffc28e4c6a92f2366245dd6be159#diff-2b45693b554369bde8c98e9a76b80036) for this just landed, and TransposeConv performance in TFLite (single-threaded) should now be comparable to TFMobile. Thanks for your patience.

[2019-04-15 15:38] #26736 closed

[2019-04-15 15:39] jvliai commented on #27278
Thanks. I tried to run this script as well and still had this issue:
`google.protobuf.text_format.ParseError: 135:3 : Message type "object_detection.protos.TrainConfig" has no field named "save_interval_secs".`

I wasn't able to find much about this field. Is this something I can fix with the config_override argument in the script?

[2019-04-15 16:15] shivSD commented on #27512
Please, can somebody share or throw some insight into Tensorflow memory allocations while inference.

[2019-04-15 16:16] mrry commented on #23098
Thanks @feihugis for diagnosing the problem! The iterator is working as intended, and the problem comes from comparing the values returned from different `Session.run()` calls.

[2019-04-15 16:16] #23098 closed

[2019-04-15 16:35] jdduke commented on #19293
No updates, we're still investigating.

[2019-04-15 16:48] qlzh727 commented on #27201
Assigning this to Kathy who is working on the save/load model. From my understanding of save/load model, we don't have strong support on c bindings. I will leave this to Kathy and Karmel for final answer.

[2019-04-15 17:06] martinwicke commented on #24412
@jhseu Any timeline you can share?

[2019-04-15 17:20] lendle commented on #27545
@jvishnuvardhan `tf.compat.v1.disable_eager_execution()` worked, and then I was able to use the ProfilerHook with the estimator api.

I was also able to get something working by copying the implementation of ProfilerHook and changing `self._file_writer = SummaryWriterCache.get(output_dir)` to `self._file_writer = create_file_writer(output_dir, name='my_profiler')` in the constructor and removing `

[2019-04-15 17:21] paviddavid commented on #27715
@achandraa By adding the code I mentioned in previous comment helped me to not re-obtained the issue. For the moment, it works.

[2019-04-15 17:21] #27715 closed

[2019-04-15 17:27] angersson commented on #27430
@ageron Thanks! See #27865

[2019-04-15 17:48] alisaaalehi opened #27868 "Possible wrong assumption for how a dense flow filed is stored"
In `dense_image_warp` function it is assumed that flow vectors are stored in source location of flow vectors while for dense optical flow datasets like **Middlebury**, **MPI Sinte**, **Flying Chairs**it is not the case.

In the following simple example a black dot moves from the location (2,6) in image one to (5,10) in image two. So, flow vector for that point is (3,4). In Tensorflow code it assum

[2019-04-15 17:49] jhseu commented on #24412
It works right now at master, but we don't have a matching Cloud TPU release. We'll release an official Cloud TPU version alongside TF 2.0 final.

[2019-04-15 17:50] #27695 closed

[2019-04-15 17:52] ymodak commented on #27621
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-15 17:52] #27621 closed

[2019-04-15 17:56] jvishnuvardhan commented on #27787
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-04-15 18:18] amitlevy21 commented on #25285
@strubell I have tried using it for my use case, but i needed a much more flexible way to interleave between the datasets. I also took a look at [tf.data.Dataset.interleave](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#interleave) but struggled a lot for two main reasons:
1. How can i identify which task am i going to train and load its dataset accordingly?
2. How can i interleave be

[2019-04-15 18:43] jvishnuvardhan commented on #27545
@lendle looks like original issue was resolved and this is another issue. Could you open a new issue and add more details about the issue and its context. Please also mention overall goal. Thanks!

[2019-04-15 18:44] wolffg commented on #27811
In 2.0, code inside Datasets maps is turned into a subgraph for speed, just as it was in 1.x eager execution. You generally want to avoid Python inside your data pipeline.  Otherwise, when you start using accelerators you could easily get I/O bound.

In the future for 2.0, tf.function (and thus Autograph) will automatically be applied to those functions, but it doesn't happen yet.

One easy way to

[2019-04-15 18:44] #27811 closed

[2019-04-15 19:02] jvishnuvardhan commented on #27272
@ThGkasios Good to know that the instructions helped you.
If you want to build TensorFlow from source, then you need Bazel. Otherwise, you don't need Bazel. I don't have Bazel on my system as I installed TF using binaries.
Please close the issue if there is no issue. Thanks!

[2019-04-15 19:11] lendle commented on #27545
@jvishnuvardhan as far as I can tell the only way to disable eager execution is with `tf.compat.v1.disable_eager_execution()`. If I understand correctly, the purpose of the `tf.compat.v1` module is to help transition from legacy v1 to v2, right?

Given that `tf.estimator.ProfilerHook` is in the public API in TF 2.0, and it cannot be used without also using a legacy api, I would argue that this is

[2019-04-15 19:22] hgadig commented on #27577
@nfelt  @wchargin Can this be migrated to tensorboard repo?

[2019-04-15 19:29] yongtang commented on #27848
Added PR #27871 for the fix.

[2019-04-15 19:31] KumarPardeep1 commented on #27720
yes, still there is an issue.
I am not able to update tensorflow.

[2019-04-15 19:39] ymodak commented on #27714
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-04-15 20:18] wdirons opened #27872 "examples/get_started/regression/dnn_regression.py failed with ValueError (nightly build)"
The above example has not been working for awhile now. (I don't believe it worked with 1.13.1) the code looks valid, what is wrong with the example code?

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): x86 Linux Ubuntu 18.04 container
- Mobile device (e.g. iPhone

[2019-04-15 20:21] gargn commented on #25361
The final documentation is available here: https://www.tensorflow.org/lite/r2/convert/.

[2019-04-15 20:21] #25361 closed

[2019-04-15 20:28] gargn commented on #27707
The issue should have been resolved within the last week. Please try running your code using the latest nightly. If that doesn't work, please update this issue with the model or a minimally reproducible example (the weights don't need to be correct).

Additionally, the converter functionality was changed in https://github.com/tensorflow/tensorflow/commit/312222d2a0657d4e0086ec0add4331063d0b2264. `

[2019-04-15 20:38] gargn commented on #25689
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-15 20:38] #25689 closed

[2019-04-15 20:40] gargn commented on #26496
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-15 20:40] #26496 closed

[2019-04-15 20:42] gargn commented on #26206
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-15 20:42] #26206 closed

[2019-04-15 21:21] huan commented on #24412
@jhseu Thanks for letting me know that the master had already worked!

Do we have any code example to show how it works in TF 2.0 with TPU?

A demo with serval lines of core API calls will be enough, thanks!

[2019-04-15 21:27] jvishnuvardhan commented on #27545
@reedwm Could you please take a look at this issue? Thanks!

[2019-04-15 21:30] monjoybme commented on #27862
I am unable to access your` image_captioning.ipynb`. Hence, it is difficult to rectify your issue without seeing your code. From your error message I can suggest you that check dimensions of each layer. You did mistake in defining input shapes and corresponding output shapes. Concentrate in the below error lines.

`InvalidArgumentError: Dimension 0 in both shapes must be equal, but are 1 and 32. S

[2019-04-15 21:38] jlebar commented on #25773
Upon further investigation with ABSL team, this is looking difficult to fix in ABSL.

Moreover, they pointed out that because this proto is part of XLA's public API, even if we fixed ABSL and Eigen, that wouldn't unbreak the build for anyone else who includes this header plus windows.h.

I've sent out a proposal internally to rename the OPAQUE enumerator and take the breaking change.

[2019-04-15 21:43] goldblum opened #27874 "Having trouble running tensorflow with gpu"
**System information**
- Ubuntu 18.04
- TensorFlow installed from source (not sure what this means)
- TensorFlow version 1.12.0
- Python version 3.6
- Installed using pip
- CUDA/cuDNN version 9.1
- GPU model and memory: GV100

I'm new to tensorflow, and I'm trying to run it using a GPU. I've installed tensorflow in the past, but not the gpu version. Today, I uninstalled the old version, and instal

[2019-04-15 21:49] vrince commented on #27355
Hi ! Sorry for the delay ... It a little hard for me to provide meaningful diff in issues comment. Can you point me to the source of the doc so I'll patch it and send you the difference ?

[2019-04-15 21:51] jhseu commented on #24412
@huan Yeah, there's an example here:
https://www.tensorflow.org/guide/distribute_strategy

You would use TPUStrategy instead of MirroredStrategy.

[2019-04-15 21:55] wdirons commented on #27874
TensorFlow requires an exact version of cuda it was built with to be installed. It says above you have CUDA 9.1 installed, but TensorFlow only supported CUDA 9.0 and then with TensorFlow 1.13.1 they supported CUDA 10.0.

You need to uninstall CUDA 9.1 and install either CUDA 9.0 for TensorFlow 1.12, or CUDA 10.0 for TensorFlow 1.13.1

[2019-04-15 21:56] gregmalley commented on #25369
Nice intro at GoogleNext19 but will a full demo be available soon?

[2019-04-15 22:11] isaprykin commented on #26207
Is this still an issue in 1.13?  Could you please check?

[2019-04-15 22:13] isaprykin commented on #26207
Also, could you please try https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam?

[2019-04-15 22:13] jvishnuvardhan commented on #27316
@abhayraw1 random number generator generates different number for line #2 and line#3. So eventhough, weights are save for model1 and model2, but the inputs (random numbers) are different and hence, the outputs are also different.
Line1:    print("\nIf YES then these should be equal!!!")
Line2:    print(model1.predict(np.random.random((1, 3))))
Line3:    print(model2.predict(np.random.random((1, 3)

[2019-04-15 22:16] jvishnuvardhan commented on #27417
Closing this issue as it was resolved. Thanks!

[2019-04-15 22:16] #27417 closed

[2019-04-15 22:16] isaprykin commented on #24586
Dies this optimizer https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/optimizers/Ftrl work for you?

[2019-04-15 22:26] botev opened #27875 "Second Order derivative of sparse_softmax_cross_entropy_with_logits"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Non
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): PyPI
- TensorFlow version (use command below): 2.0-alph

[2019-04-15 22:27] wdirons commented on #27852
To get around this problem, I had to upgrade bazel to version 0.24.1

[2019-04-15 22:38] jvishnuvardhan commented on #27355
@vrince Do you want to modify the text in this [webpage](https://www.tensorflow.org/guide/extend/formats) ? or change codes like dataset_ops.py, etc.? Thanks!

[2019-04-15 22:58] jvishnuvardhan commented on #27476
@ricardobnjunior Please let us know whether @amitsrivastava78 suggestion helped in resolving the issue? If it was resolved already, please close the issue. Thanks!

[2019-04-15 23:49] seanpmorgan commented on #27430
Solved by #27694 and #27865 ... Thanks for the help!

[2019-04-15 23:49] #27430 closed

[2019-04-16 00:02] PCerles opened #27877 "tf.keras with dataset operates much slower without persistence mode"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-04-16 00:10] jvishnuvardhan commented on #23698
@AKI-github Is this resolved? Please close it if it was resolved by the suggestion of @aosman96 . Thanks!

[2019-04-16 00:19] jvishnuvardhan commented on #23659
@davidpham87 Is this still an issue or was it resolved? Could you check with latest version of TF and let us know. Thanks!

[2019-04-16 00:25] jvishnuvardhan commented on #21081
I think it was resolved. I am closing the issue. If you think I made a mistake, please open another issue.

[2019-04-16 00:25] #21081 closed

[2019-04-16 00:46] robieta commented on #27285
I notice that you're using contrib layers. Can you test this with Keras layers and see if you see the same issue?

[2019-04-16 00:49] robieta commented on #27259
Can you check whether this has been resolved? (You will need a recent tensorflow; for instance building from head or using the latest `tf-nightly-gpu`)

[2019-04-16 01:22] DevKiHyun commented on #27739
@captain-pool Very very very thank you!

[2019-04-16 01:25] Darkells opened #27879 "Which latest python is supported by the latest version?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-04-16 01:47] DevKiHyun commented on #27739
I followed your advice.

[code]

I refer to this code to make ```mutable variable```.
https://github.com/tensorflow/tensorflow/blob/8d24f6ae5cffbb1e23e02e5ac14f15b5f3ab6414/tensorflow/python/keras/layers/normalization.py#L377-L385

It's okay?

-------------------------------------------------------------------
I want to edit the package code, but I use 'Colab'. So, I can't edit package. But, I fou

[2019-04-16 02:01] llhuii commented on #17974
Hi, here is the patch for [fold_batch_norms.py](https://github.com/tensorflow/tensorflow/blob/v1.12.0/tensorflow/contrib/quantize/python/fold_batch_norms.py), it may be useful.
[code]

[2019-04-16 02:03] ed-alertedh opened #27880 "Quantization-Aware Training support in Keras"
**System information**
- TensorFlow version (you are using): 1.13.1 (but willing to use 2.0.0-alpha0 if there is a good reason)
- Are you willing to contribute it (Yes/No): Yes (given some pointers on how to best go about it)

**Describe the feature and the current behavior/state.**
Currently there is no obvious way to apply `tf.contrib.quantize.create_training_graph` to a keras model. The keras A

[2019-04-16 02:25] vrince commented on #27355
Basically what need to be changed is the webpage itself. Here is what I changed for the `dataset.cpp` file :

[code]

Here the `dataset_ops.py` :

[code]
To follow the rest of the documentation I created two files one to test the thing one to build it with bazel :

`dataset_ops_test.py`

[code]

`BUILD` file

[code]

[2019-04-16 02:43] anhtu812 commented on #27711
code out error:
[code]

[2019-04-16 03:07] 307509256 commented on #27189
0.24.0

[2019-04-16 03:18] SefaZeng commented on #27671
I change the tensorflow to 1.10 of both static lib and python version , it can load the graph. But I can't set the tensor value like the many blogs did before.
[code]
Everytime I try to set the tensor value , it returns segmentation default. No matter what I use ,tensor<int,2> or flat <int> . So I try to another way , but I don't know whether it work or not, because if I try to print the tensor va

[2019-04-16 03:22] ren-yufeng commented on #23683
I have exactly the same issue on my old desktop, which runs intel core2 E7500.

ImportError: DLL load failed: A dynamic link library (DLL) initialization routine failed.
Failed to load the native TensorFlow runtime.

However, on my laptop which runs intel core i5, there is no issue.

Does this issue have anything to do with CPU feature?

also see:
https://github.com/tensorflow/tensorflow/issues/24

[2019-04-16 04:29] amitsrivastava78 commented on #27640
@sklampfl , We can try one more thing, lets build the tensorflow from source(and install it) and then try to run the convert_test.py cases can check if you still face the same problem. If not then try to run the example code that you posted, i am pasting my configuration file(.tf_configure.bazelrc) as below , you already know my python and tensorflow configuration : -

build --action_env PYTHON_BI

[2019-04-16 04:35] jlebar commented on #25773
cc @EricWF from ABSL team.

[2019-04-16 04:47] Dayananda-V commented on #27852
Thanks @wdirons with bazel 0.24.1 version tensorflow compilation problem is not exists.

[2019-04-16 04:47] #27852 closed

[2019-04-16 04:49] dksb commented on #27451
Did you install tensorflow as an admin? This seems like standard OS security mechanism than an issue with tensorflow. You may want to install it as the user you want to run the code as. Or check pip documentation for user specific install: https://pip.pypa.io/en/stable/user_guide/#user-installs

[2019-04-16 04:50] gadagashwini commented on #27688
@iLeW When I try to run the google colab that you have provided, unfortunately I did not get any error. Thanks!

[2019-04-16 05:06] gadagashwini commented on #27809
@StudyExchange You need to add sub folders: bin and lib to the path. Thanks!

[2019-04-16 05:14] Dayananda-V commented on #27879
Compatible with Python 3.6.7 on Ubuntu 18.04.2 LTS.

[2019-04-16 05:41] dubey commented on #26725
I'd recommend patching both changes.

[2019-04-16 05:44] wmylxmj commented on #27830
I know the answer.

[2019-04-16 05:44] #27830 closed

[2019-04-16 05:54] jcopps commented on #23478
I cannot find the package on this page:
https://www.tensorflow.org/install/pip?lang=python3?

[2019-04-16 06:14] ngelotte opened #27882 "Converting InceptionV3 to TfLite missing IdentityN"
**System information**
Google Colab
- TensorFlow installed from (source or binary):
Installed from https://storage.googleapis.com/download.tensorflow.org/data/tensorflow_hub-0.4.0.dev0-py2.py3-none-any.whl
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**
Some of the operators in the model are not supported by the standard TensorFlow Lite runtime

[2019-04-16 06:16] gadagashwini commented on #27860
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-04-16 06:21] ANSHUMAN87 commented on #27760
@jdduke , @alanchiao : I have uploaded PR for this issue, please check, Thanks!

[2019-04-16 06:29] Dayananda-V commented on #27850
With python 3.6.7 version am able to run the sample snippet and get actual expected o/p.

(2, 10, 100, 32, 32, 3)

[2019-04-16 06:33] tatianashp commented on #25773
Justin,

Thank you for handling this problem on XLA side!

[catching up with the email after travel]

On Mon, Apr 15, 2019 at 9:41 PM Justin Lebar <notifications@github.com>
wrote:

[2019-04-16 06:59] guizili0 opened #27883 "build error on latest master"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Centos 7.4.1708
- Mobile devic

[2019-04-16 07:06] 307509256 commented on #27189
git clone --recurse-submodules https://github.com/tensorflow/tensorflow.git -b r1.12
is ok?

[2019-04-16 07:13] iLeW commented on #27688
@gadagashwini I have just tried again, and it gives me the same error:
[code]
Have you added, before running it, the line of code as indicated in my post? For your convenience, I filled out the Colab for you. You can find it at [this link](https://colab.research.google.com/drive/1_sDTb1DLaoBlNGbRfKqMWgWV6B2DaYUv) with the necessary changes (i.e.: the callback added to the model). Please try to run

[2019-04-16 08:23] kei6 commented on #4243
Have anyone solved this problem??

[2019-04-16 08:31] ziliangpeng commented on #27552
@saeta Hey, thanks for the response!

Taking a deeper look into the code, it looks like the DNS cache can be bake into the http connection factory, which is part of the long constructor's parameter, so I think there is a way to do DNS caching without modifying the constructor (tho not sure if this is the recommended way).

Don't have an alternate impl in head, but even if there is another impl, it

[2019-04-16 08:53] rootkitchao opened #27885 "[Bug]Error when use ExponentialMovingAverage with distribute.Strategy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):MS Windows10 X64 1809 build17763
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary):binary(use pip)
- TensorFlow version (

[2019-04-16 09:04] gadagashwini commented on #27862
@muneeb699 Please provide the correct google colab link to reproduce the issue reported here. Thanks!

[2019-04-16 09:05] idrissbellil commented on #27883
The same problem here (attempt to build from master) :

- Ubuntu 18.04
- Bazel version: 0.23.1
- Python version: 2.7.15rc1 and 3.6.7

[2019-04-16 09:06] npanpaliya commented on #27883
This is because, we need bazel 0.24.0 or above to build the latest master. Try with bazel 0.24.0 or 0.24.1.

[2019-04-16 09:11] muddham commented on #26350
@dynamicwebpaige In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-04-16 09:11] qzhong0605 commented on #27744
After I read the file `third_party/gpus/cuda_configure.bzl` and `third_party/gpus/cuda/build_defs.bzl.tpl` and tried other methods, I couldn't find a simple way to build tensorflow for cuda-gdb. The command line `--per_file_copt` option is a choice.

[2019-04-16 09:20] idrissbellil commented on #27883
updating Bazel  to 0.24.1 solves this build issue.

[2019-04-16 09:22] rootkitchao commented on #27883
Here is a tip for compiling the tensorflow master branch.In many cases only certain versions of bazel can be successfully compiled.Check the Continuous build status, read the compile log for the corresponding version, and find the available bazel version.

[2019-04-16 09:26] lost-libra commented on #27781
When I delete tf.layers.conv1d() function or tf.nn.embedding_lookup() function, the code also runs well. When I delete one of tf.layers.conv1d(), tf.nn.embedding_lookup() and tf.transpose() function, it also runs well. Or even when I change the function order that put tf.transpose() in front of tf.layers.conv1d(), it also runs well. So it seems that I can't use codes as follow: tf.nn.embedding_loo

[2019-04-16 09:37] Dayananda-V commented on #27791
@blakefox  please use the proper labels file name in declaration will resolve your problem

  private static final String TF_OD_API_LABELS_FILE = "file:///android_asset/pets_labels_list.txt";

to

  private static final String TF_OD_API_LABELS_FILE = "pets_labels_list.txt";

[2019-04-16 09:48] tshr729 commented on #26209
I had same problem with

`tensorflow-gpu==1.13.1
Python 3.7.3
OS = Ubuntu 18.04
cuda 10.1
cudNN = 7.5`

I fixed this by downgrading python to 3.5.5 and reinstall tensorflow-gpu

[2019-04-16 09:58] tranhungnghiep opened #27886 "[TF2.0] TypeError: Cannot convert provided value to EagerTensor when applying constraint on variable"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2

[2019-04-16 10:02] AchiraFernando opened #27887 "Saving model and loading model on a separate session gives wrong predictions"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: No
- **TensorFlow installed from (source or binary)**: using pip install tensorflow-gpu
- **Tensor

[2019-04-16 10:04] tellarin commented on #15213
@rongjiecomputer @tatatodd @hawkinsp Any thoughts on possible next steps?

[2019-04-16 10:28] yeshenpy opened #27888 "tensorflow.multinomial performance"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-04-16 10:30] tranhungnghiep commented on #27886
This also happens on 1.13.1. `keras.constraints` is broken on eager mode.

[2019-04-16 10:41] muddham commented on #27829
@ageron In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-04-16 10:47] muddham commented on #27807
@RoyIronGrey In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-04-16 10:54] muddham commented on #27804
@denisbohm Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue temp

[2019-04-16 11:11] gadagashwini commented on #27815
@MentalGear, Tensorflow supports save and restore model. Please find tutorial in this [link](https://www.tensorflow.org/tutorials/keras/save_and_restore_models) which help you to save model and restore. Thanks!

[2019-04-16 11:29] jinyige opened #27889 "Error: Can't build Tensorflow Lite for Raspberry Pi 3b+."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):**Raspbian GNU/Linux 9.8 (stretch)**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary):N/A
- TensorFlow version:**the latest**
- Python version: N/A
- Installed using virtualenv? pip? conda?: N/A
- Bazel version (if compil

[2019-04-16 11:36] woshidandan commented on #6698
This problem is generally related to the version of cuda and GPU memory, if former, the easiest way is to change your cuda version by Anaconda！if later, you can find some ways to solve in other answers.
这个问题一般与显存和cuda版本有关，如果尝试了上面的更改GPU memory的方法无效，考虑更改cuda版本，最简单的方法是不用去管系统装了什么cuda版本，直接在Anaconda中的项目环境下修改cuda版本即可，亲测有效。

[2019-04-16 11:37] jinyige commented on #27855
you have to make a *.a file by yourself. follow this guide:https://tensorflow.google.cn/lite/guide/build_rpi

[2019-04-16 11:38] #27888 closed

[2019-04-16 12:10] muddham commented on #27794
@miguel1396 This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorfl

[2019-04-16 12:16] Meiyd commented on #22771
Hi, I have a got a new error like this:
My codes are:
def autoencoder1(file_length):

    input_img = keras.layers.Input( shape=( None, len(params2), len(params2), 1 ) ) # adapt this if using `channels_first` image data format

    conv1 = keras.layers.Conv3D(filters=32, kernel_size=(1, 3, 3), strides=(1, 1, 1), activation='selu', padding='same', data_format='channels_last', name='conv1')(input_im

[2019-04-16 12:35] StudyExchange commented on #27809
I created bin and lib at project folder, but don't work!
[code]

[2019-04-16 12:50] gadagashwini commented on #27858
@cottrell Can you please provide the doc link which needs to be updated.  Thanks!

[2019-04-16 12:52] ageron commented on #27829
Hi @muddham ,

I did! It's in the section "Code to reproduce the issue". :)

[2019-04-16 12:57] muddham commented on #27844
@zzk88862   Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue tem

[2019-04-16 13:06] anilsathyan7 commented on #27031
We also tried with Huawei Honor Play (Kirin 970 + NPU) with Android 9.0.  The tflite demo app gives  least performance, with both quantized and float models, when we switch to NNAPI !!! (i.e NNAPI < CPU < GPU).

[2019-04-16 13:10] tensorflowbutler commented on #23823
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-04-16 13:15] Meiyd commented on #25978
No it is still not fixed until today!

[2019-04-16 13:19] TyScris opened #27890 "DLL load failed while importing tensorflow cpu 2.0"
(I'm 14yo and I'm french so it's a bit hard... sorry for that i will do my best)
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win 10 x64
- TensorFlow installed from (source or binary):
cmd cd C:\Users\Admin\AppData\Local\Programs\Python\Python37\Scripts
Then  pip install tensorflow==2.0.0-alpha0
Np here
- Python version: 3.7.3

**Describe the current behavior**

[2019-04-16 13:53] Corea opened #27892 "Crash on TF 1.13 when custom `RNNCell which has `Template`."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-04-16 13:56] Sunnycheey commented on #3810
Have you solved the problem?

I also want to download TF API document because it's website is blocked in china.....

[2019-04-16 14:00] botev commented on #27875
Just a quick show for a workaround (and potentially how this might be handled internally)
[code]

[2019-04-16 14:06] rongjiecomputer commented on #15213
@tellarin There was an issue in highwayhash in https://github.com/rongjiecomputer/tensorflow-xla-aot-windows/issues/1#issuecomment-454713660 but I have not sent out the PR yet.

I have not build XLA/AOT on Windows for awhile, so not sure if current master can be built with MSVC or not. (internal team occasionally write some template code that behaves differently with MSVC)

[2019-04-16 14:06] Kailegh commented on #26209
Can you explain how to easily downgrade from cuda 10.1->10.0? Do you also have to change the Cudnn libraries?

[2019-04-16 14:12] Malonl opened #27893 "Transforming date values"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.13.1
- Are you willing to contribute it (Yes/No): No 

*

[2019-04-16 14:22] Efaq commented on #27893
Same issue here!

[2019-04-16 14:22] Enzo90910 commented on #26209
To my recollection, I only had to install 10.0 and it installed in the same directory and updated the symlink. I did not reinstall libcudnn because I don't need it yet, but you expect you would have to if you need it.

ls -l /usr/local/
lrwxrwxrwx   1 root root    9 Apr  2 19:57 cuda -> cuda-10.0
drwxr-xr-x  16 root root 4096 Apr  2 19:57 cuda-10.0
drwxr-xr-x  17 root root 4096 Apr  2 18:17 cuda-1

[2019-04-16 14:24] mihaimaruseac commented on #27189
Can you try building first with no modifications to the code after cloning?

[2019-04-16 14:37] foobar167 commented on #24548
Try Anaconda. It has TensorFlow distribution for old CPU.

[2019-04-16 14:39] foobar167 commented on #27198
Try Anaconda. It has new TensorFlow distribution for old CPUs.

[2019-04-16 14:41] dimitree54 commented on #22803
@IrvingMeng Thank you, that really fixes the problem.

In my case I was using training=True during export intentionally because that gives better performance on my task. It worked fine during pb inference, so I was surprised that tflite was not working. But now I see that batch normalization in tflite works correct when using as intended. And for my task I should use custom normalization, for exam

[2019-04-16 14:43] sofeikov opened #27894 "TypeError: The `train_input_config` must be a input_reader_pb2.InputReader."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
no
- OS Platfo

[2019-04-16 15:56] guillaumekln commented on #27716
So this is not straightforward. Here is the adapted code to run within a distribution strategy:

[code]

Notes:

* the variable initializer op has to be defined under `tf.init_scope`
* the conditional training op has to be defined unfer `tf.init_scope`
* the training op has to be `unwrap` before calling `sess.run`

I'm interested in hearing some feedback from a TensorFlow member regarding the code

[2019-04-16 16:04] lendle opened #27895 "[TF 2.0] documentation in guides for feature columns, in particular `numeric_column`"
**System information**
- TensorFlow version: 2.0.0-alpha0
- Doc Link: https://www.tensorflow.org/alpha

Guides/examples that use feature columns follow a bad pattern for numeric features. In particular, the examples in the guides always create a list of scalar `numeric_column`s instead of one `numeric_column` with all numeric features. This results in really bad performance when training. See [thi

[2019-04-16 16:25] jvishnuvardhan commented on #27604
@MasterSkepticista Thanks for the information. I have installed TF-gpu on same configuration as you mentioned with python 3.6.6 without any issue. Steps are mentioned [here](https://github.com/jvishnuvardhan/Installing-TensorFlow-GPU-on-Windows-10-TF1.12). Thanks!

[2019-04-16 16:35] jing-dong commented on #23733
@ygoncharov I will close this ticket for now. If you still have any issues, please feel free to re-open this ticket.

[2019-04-16 16:40] #21598 closed

[2019-04-16 16:54] echo66 opened #27896 "Changing the tf_random_seed (RunConfig) doesn't change results/parameters for LinearClassifier"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.2 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): N/A
- TensorFlow version (use command below

[2019-04-16 16:58] ymodak commented on #27786
@shikharparikh  Were you able to install TF successfully?
@Vini-S  Please post a [new issue](https://github.com/tensorflow/tensorflow/issues/new/choose) explaining your problem. Thanks!

[2019-04-16 17:01] ymodak commented on #27836
@jlebar

[2019-04-16 17:18] jvishnuvardhan commented on #27584
@cottrell Currently there are several [tutorials](https://www.tensorflow.org/alpha) covering major concepts of TF broadly. In future, more tutorials will be added. Please stay tuned. I am closing the issue. Thanks!

[2019-04-16 17:18] #27584 closed

[2019-04-16 17:18] strubell commented on #25285
choose_from_datasets takes two parameters: a list of datasets (in your case this would be a list of datasets corresponding to all the tasks you want to train on) and a list of indices into that list (this determines, for a given training step, which task/dataset the batch comes from). The list of indices achieves interleaving. If the problem is knowing which data you're dealing with in the model,

[2019-04-16 17:23] jlebar commented on #27836
No, exactly how XLA generates LLVM IR for a particular op is an implementation detail.

If you're interested in contributing patches to add this feature, xla-dev@googlegroups.com would be a place to start the discussion.

[2019-04-16 17:23] #27836 closed

[2019-04-16 17:31] shikharparikh commented on #27786
I was succesfully able to install tensorflow-gpu 2.0.0.
However, i could not import tensorflow in Terminal or Atom IDE

[2019-04-16 17:49] allenlavoie commented on #27711
Thanks, that does reproduce nicely. I'll take a look.

[2019-04-16 17:56] ColleenKuang commented on #25862
I have the same problem too...
My system information:
* OS Platform and Distribution: Windows 10
* Pytorch version: 1.0.1
* Python version:3.6.5
* Installed using virtualenv? pip? conda?:pip
* CUDA/cuDNN version: 9.0 7.4.2
* GPU model and memory: GeForce RTX 2070 8gb and GeForce GTX 1050 8gb
Here's the result in the terminal
![](https://user-images.githubusercontent.com/13173313/56232298-03c27980-

[2019-04-16 17:56] JamesHWade commented on #26378
Just wanted to add that I have this issue, as well. Very similar configuration as OP.

[2019-04-16 18:00] ymodak commented on #27879
Closing this issue since @Dayananda-V has correctly answered the question. Thanks!

[2019-04-16 18:00] #27879 closed

[2019-04-16 18:19] omalleyt12 commented on #26792
@cottrell i.e. you want a Variable that is unconnected to the inputs of your Model? I would suggest using the subclassed API in that case. Note that in the case above, the inputs of your Model are completely ignored

[2019-04-16 18:37] bjayakumar commented on #24847
I have the same problem.
`pydoc.ErrorDuringImport: problem in tensorflow.keras - ImportError: cannot import name 'Layer'`

Any proper solution for this instead of workaround?

[2019-04-16 18:46] wchargin opened #27897 "Spurious deprecation warnings"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): gLinux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): tf-nightly-2.0-preview-20190416-py2.7
- TensorFlow version (

[2019-04-16 18:47] ElderOrb commented on #25690
any update here?

[2019-04-16 19:02] wchargin commented on #27897
Looks like this happens with lots of symbols:

[code]

[2019-04-16 19:11] girving opened #27899 "Can't easily write custom C++ ops which update resource variables"
**System information**
- TensorFlow version (you are using): HEAD
- Are you willing to contribute it (Yes/No): No (moving headers is best done inside Google)

**Describe the feature and the current behavior/state.**

We're trying to update optimizers like the ones at https://github.com/openai/blocksparse/blob/master/blocksparse/optimize.py to support parameters stored as resource variables. Lookin

[2019-04-16 19:12] bjayakumar opened #27900 "pydoc.ErrorDuringImport: problem in tensorflow.keras - ImportError: cannot import name 'Layer'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Centos 7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): Binary
- TensorFlow version: 1.13.1
- Python version: 3.6.8
- Installed using virtualenv? pip? conda?: Conda
- Bazel version (if compiling from source): Nope
- GC

[2019-04-16 19:30] iseegr8tfuldeadppl commented on #492
i'd suggest you check how many parameters your network is trying to learn, most likely you are above 100 million for lack of use of MaxPooling2D layers and high resolution in general.

[2019-04-16 19:40] ymodak commented on #27789
For running locally, tutorial requires TF >=1.11 You can also use google colab to execute this tutorial. It hosts TF 1.13.1 by default.

[2019-04-16 20:18] lwander commented on #27789
Does this mean the behavior of

[code]

changes between tensorflow 1.10 & 1.11? Namely, does the GRU cell not pass forward hidden state in tensorflow 1.10?

[2019-04-16 20:26] wdirons commented on #27840
Have you tried to build with XLA turned off? It appears XLA requires a gpu with the minimal capability of 3.5: https://github.com/tensorflow/tensorflow/blob/adf8dac492adb33d4c71a4271f6f003a156eae22/tensorflow/compiler/xla/service/platform_util.cc#L36

[2019-04-16 20:27] karmel commented on #26759
Yes, you should be able to use tf.keras.experimental.load_from_saved_model to reload the saved model back into python.

[2019-04-16 20:28] JiaweiZhuang commented on #26100
Found this from a [tweet](https://twitter.com/timudk/status/1118240779170803712). Second-order methods are very efficient for small & smooth problems. An example is [Picking an Optimizer for Style Transfer](https://blog.slavv.com/picking-an-optimizer-for-style-transfer-86e7b8cba84b) that shows BFGS performs better than SGD-like methods (related: tensorflow/tfjs#127). Currently this is done through

[2019-04-16 20:34] karmel commented on #27201
I don't entirely follow the use case and what you want, but the saved model loader provided from the TF C++ API will work with the models produced from tf.keras.experimental.export_saved_model, at least for inference: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/cc/saved_model/loader.h#L50

[2019-04-16 20:45] mhurliman commented on #19627
I think this should be reopened. The sampling logic of this kernel's implementation is simply incorrect which is certainly a bug when the name of the operation is called 'Resize Bilinear'.

Also, at a cursory glance there seems to be little reason that FP16 isn't supported - the templated input type is hard-casted to and written out as a float. Couldn't this templated type be propagated to the out

[2019-04-16 20:46] ymodak commented on #27786
Can you please paste the error stack here?

[2019-04-16 20:47] andreyryabov commented on #25362
is there a way to import existing 1.x tf-hub models to tf 2.0 ?

[2019-04-16 20:52] mhurliman opened #27902 "ResizeBilinear FP16 CUDA Kernel Support"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.13.1
- Pyth

[2019-04-16 21:06] netpaladinx commented on #24024
I got the same issue when I enabled the eager execution and called `tf.gather()` on a custom variable. I found it was okay when I used the keras Embedding layer that basically calls the same `gather()` function on a low level. I did the debug in TensorFlow code and then found the reason. There is a piece of code in the keras `embeddings.py`:

`  def build(self, input_shape):
    # Note: most spars

[2019-04-16 21:27] jvishnuvardhan commented on #27618
@anhtu812 Could you provide the issue and its context with more details? Thanks!

[2019-04-16 21:32] wdirons commented on #27778
Bazel version 0.24.0 will not work with TensorFlow 1.9.

Use bazel version 0.11.0 or 0.10.0 to build tensorflow 1.9.

Reference this page to find which bazel to use for which tensorflow version:
https://www.tensorflow.org/install/source

[2019-04-16 21:39] jvishnuvardhan commented on #27614
@anhtu812 Here is the correct link to 2.0 [Freeze_graph.py](https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/tools/freeze_graph.py).
The link provided by @muddham corresponds to "master" which is TF1.13.1. Thanks!

I think it was resolved. I am closing the issue. Thanks!

[2019-04-16 21:39] #27614 closed

[2019-04-16 21:42] denisbohm commented on #27804
@muddham I believe all that information was in my original message above.  I'm using latest Tensorflow from GitHub.  Below is the full command and output when I try to make.  Is there some other information that is needed?

$ gmake -f tensorflow/lite/experimental/micro/tools/make/Makefile TARGET=sparkfun_edge micro_speech_bin
arm-none-eabi-g++ -O3 -DNDEBUG --std=c++11 -g -DTF_LITE_STATIC_MEMORY -D

[2019-04-16 21:45] wookayin commented on #27850
@Dayananda-V Thanks for checking this on yourside. Can you please specify other environment information as well (TF version, it is built from source or from pip/conda, etc.)?

[2019-04-16 21:53] lc0 opened #27903 "Pylint checks from ci_sanity.sh `--incremental`"
Currently we kind of support `--incremental` to run incremental sanity checks. In reality, we still run it for all files:

https://github.com/tensorflow/tensorflow/blob/0e4117f67192a140466ba66513035e24bbd1a474/tensorflow/tools/ci_build/ci_sanity.sh#L137

[code]

Would it make sense to just clean it up or what is the current idea?

I started to add an incremental check for since a specific commit,

[2019-04-16 21:54] wdirons commented on #27720
Clarification, you want to **downgrade** from 1.13 to 1.4 ?  Why move to so old of a version?

1.14 is not finished yet. 1.13.1 is the latest version.

[2019-04-16 22:07] imikic opened #27904 "saved_model.load gives KeyError in 2.0.0 Same model loads fine in 1.13"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or bin

[2019-04-16 22:10] jvishnuvardhan commented on #27434
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-16 22:10] #27434 closed

[2019-04-16 22:11] denisbohm commented on #27804
Looks like https://github.com/google/gemmlowp/blob/master/fixedpoint/fixedpoint.h#L320 is the file not found.  Should this dependency be automatically downloaded by make or is there some step missing from the instructions at:

https://github.com/google/gemmlowp/blob/master/fixedpoint/fixedpoint.h#L320

[2019-04-16 22:42] denisbohm commented on #27804
Building tensor flow from source is described here:

https://www.tensorflow.org/install/source

and includes more steps that described here:

https://codelabs.developers.google.com/codelabs/sparkfun-tensorflow/#0

So it appears this is a documentation issue.

[2019-04-16 22:50] allenlavoie commented on #27904
Could you try a more recent 2.0 nightly? This SavedModel is loading for me in 2.0.0-dev20190416. It was likely fixed by https://github.com/tensorflow/tensorflow/commit/36611db67d01b77a59ecf120d9cfedede4dc29e8#diff-1c53130b8026996623d861b2d18d60ca

[2019-04-16 23:23] nfelt commented on #27719
Closing this in favor of the tensorboard issue, https://github.com/tensorflow/tensorboard/issues/2106

[2019-04-16 23:23] #27719 closed

[2019-04-16 23:31] nfelt commented on #27713
@markste-in Thanks for the report.  I'm not able to reproduce this with `tf-nightly-2.0-preview==2.0.0.dev20190416`.

If you're still experiencing the issue, could you provide the contents of `pip freeze` in the environment where you are running the code?  I'm not totally clear from your description whether you installed `tf-nightly`, `tf-nightly-2.0-preview`, or both (and which versions).  If you

[2019-04-16 23:34] allenlavoie commented on #27711
Ooo, I accidentally fixed this in https://github.com/tensorflow/tensorflow/commit/0d4d88c0514a6026fd90efc06e1adb5f8aa9255c

This is working for me in 2.0.0-dev20190416. I'll add a test to make sure it doesn't break in the future. Thanks for the report!

[2019-04-16 23:45] #25690 closed

[2019-04-16 23:55] ymodak commented on #27741
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-04-17 00:49] frreiss commented on #20519
Update: I have this capability mostly implemented in my branch. The new SavedModel APIs are a wee bit rough around the edges, but I'm able to make do.

@petewarden I'm curious what your intentions are with regard to running the Graph Transform Tool over models that have embedded functions. The V2 SavedModel APIs produce serialized models where nearly all the functionality of the model is hidden be

[2019-04-17 00:57] eyaler commented on #27749
the issue is not platform dependent, however: tf-gpu 1.12, windows 64. pip installed.
given img1 and img2 in [0,1] you can compare:
[code]

[2019-04-17 01:33] #26800 closed

[2019-04-17 02:08] guizili0 commented on #27883
Thanks all it works on 0.24.1.
Basically, if the bazel version need upgrade, TF will increase the minimal supported version of bazel, that maybe a issue.

[2019-04-17 02:40] karthi0804 commented on #24442
Hi, Is this issue fixed in any recent releases?

[2019-04-17 02:41] 307509256 commented on #27189
yes, I have try it, fail also

[2019-04-17 02:56] nm46nm opened #27906 "could not create a dilated convolution forward descriptor, in file tensorflow/core/kernels/mkl_conv_ops.cc:1111"
When I tried to run some yolov3 codes, I always got the following error:
`Traceback (most recent call last):

  File "<ipython-input-16-cd2eeb60d39b>", line 1, in <module>
    runfile('C:/Users/10137/Desktop/learn/python/yolov3_keras_qwe/train.py', wdir='C:/Users/10137/Desktop/learn/python/yolov3_keras_qwe')

  File "C:\Users\10137\Anaconda3\lib\site-packages\spyder_kernels\customize\spydercustomi

[2019-04-17 02:56] kunkun007 commented on #18748
I have the same problem and error message, you solved it now?

[2019-04-17 03:10] TTaEE commented on #24412
Is it work on TPU Colab ? I got this error "InvalidArgumentError: /job:tpu_worker/replica:0/task:1/device:CPU:0 unknown device."

[2019-04-17 04:13] gadagashwini commented on #27742
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-04-17 04:13] #27742 closed

[2019-04-17 04:14] LedahBlack commented on #27855
@jinyige I have made the *.a file in accordance with the official instructions. If I want to use this *.a file, should I need a .h file?

[2019-04-17 04:19] anilknayak commented on #24104
Find the Tensorflow artifacts for ARM7 in this drive
https://drive.google.com/open?id=1PBFFMCK87FHuiEhJaOqHJDFnxtDUeO9Y

On Tue, Apr 2, 2019 at 9:10 PM Rushabh Nagda <notifications@github.com>
wrote:

--
Anil Kumar Nayak
Software Engineer - Computer Vision, Deep Learning and Machine Learning
Omnify.ai Inc
1250 Borregas Avenue
Sunnyvale, CA

-- Never give up, there is always a way, find it out.

[2019-04-17 04:31] Karna829 commented on #14595
I have a similar issue regarding the tensorflow graph exporting part.

I am using code from `[light headed rfcn](https://github.com/zengarden/light_head_rcnn`) in that I am working on rfcn part inside [experiments](https://github.com/zengarden/light_head_rcnn/tree/master/experiments/lizeming/rfcn_reproduce.ori_res101.coco.baseline) folder.
I am able to train it as well as test the same no issues.

[2019-04-17 05:04] junpenglao commented on #26100
You can have a look at the implementation of BFGS and LBFGS in Tensorflow_probability, which do not wrap Scipy: https://github.com/tensorflow/probability/tree/master/tensorflow_probability/python/optimizer

[2019-04-17 05:04] junpenglao commented on #26100
It might be better to raise this feature request to Tensorflow_probability.

[2019-04-17 05:12] guptapriya commented on #27885
Seems the same as https://github.com/tensorflow/tensorflow/issues/27392? can we keep just one of them?

[2019-04-17 05:33] amitsrivastava78 commented on #27822
@jdduke , what is your take on this, should we have this operator support in the tflite kernel or should we transform the operator into log and exp using transform graph ?

Regards
Amit

[2019-04-17 05:41] rootkitchao commented on #27885
Yes,it's the same issue.

[2019-04-17 05:47] arvindpdmn commented on #19110
Documentation is here: https://www.tensorflow.org/lite/guide/build_rpi

[2019-04-17 06:24] edumotya commented on #23823
It is not, this is the expected behaviour as @karmel pointed out. I unrolled my dictionary as suggested with no further issues.

[2019-04-17 06:24] #23823 closed

[2019-04-17 06:26] guoyejun commented on #27495
I tried as #27744 with:
bazel build  --cxxopt='-g' //tensorflow/tools/lib_package:libtensorflow_test

and it stops at the below line for hours:
[7,070 / 7,073] Linking tensorflow/libtensorflow.so; 10322s local

and, libtensorflow.so is there, but as data format.
$ file /work/ml/tensorflow_work/tensorflow/bazel-out/k8-opt/bin/tensorflow/libtensorflow.so
/work/ml/tensorflow_work/tensorflow/bazel-out

[2019-04-17 06:31] guptapriya commented on #27885
Ok i will close this one then as it is a duplicate. thanks

[2019-04-17 06:31] #27885 closed

[2019-04-17 06:31] atomextranova opened #27909 "ModelCheckpoint callback error"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-04-17 06:33] atomextranova commented on #27909
Currently my workaround is just not to feed the validation data.

[2019-04-17 06:35] guoyejun commented on #27744
@qzhong0605  hi, I also want to debug tensorflow c/c++ source code with gdb, as in #27495 , I tried your method to add '-g' but the build process never finishes,  did you met the same issue? thanks.

I tried with:
bazel build --cxxopt='-g' //tensorflow/tools/lib_package:libtensorflow_test

and it stops at the below line for hours:
[7,070 / 7,073] Linking tensorflow/libtensorflow.so; 10322s local

[2019-04-17 06:49] abhayraw1 commented on #27316
@jvishnuvardhan Hey, sorry for the terrible blunder. I actually deviated from what I experience before. I have updated the [gist](https://gist.github.com/abhayraw1/af7ab2bb524b0392c6495c4d8d90c3f4)

The doubt that I have is that why are the weights returned by `model.trainable_weights` different from `model.get_weights()` ?

[2019-04-17 06:49] #27316 closed

[2019-04-17 06:53] atomextranova commented on #27688
I am having the same problem at #27909. I suspect this is a problem related to h5py/hdf5 because internally the traceback suggests the error happened when trying to save the model using the library. Also to note the keras already set overwrite=True, so the error should not happen.

I am using hdf5==1.10.4 and h5py=2.9.0. I suspect there is problem with the library.

[2019-04-17 06:58] atomextranova commented on #27909
After set "save_weight_only"=True the error went away, but this is not desired.

[2019-04-17 07:18] ThisIsIsaac opened #27910 "Want to optimize Tensorflow CUDA kernels"
I want to go through Tensorflow's CUDA kernels and optimize them.  It seems like all the CUDA kernels are defined in `tensorflow/core/kernels` and `tensorflow/contrib` with some helper functions in `tensorflow/core/util`.

1. Is it okay for me to optimize kernels in `tensorflow/core/kernels` and send pull request?
2. now that tensorflow is moving to 2.0, are the CUDA kernels going to also change s

[2019-04-17 07:43] Corea commented on #27276
As I wrote comments on https://github.com/tensorflow/tensorflow/pull/27301#discussion_r275780277, this issue should be opened again. @ymodak

[2019-04-17 07:48] lc0 commented on #27903
Something along these lines https://github.com/lc0/tensorflow/pull/1 - just to visualize the idea

[2019-04-17 07:56] Meiyd commented on #25978
Hi, here's my code:

input_img = keras.layers.Input( shape=( None, len(params2), len(params2), 1 ) ) # adapt this if using `channels_first` image data format

conv1 = keras.layers.Conv3D(filters=32, kernel_size=(1, 3, 3), strides=(1, 1, 1), activation='selu', padding='same', data_format='channels_last', name='conv1')(input_img)
conv2 = keras.layers.Conv3D(filters=64, kernel_size=(1, 3, 3), strides

[2019-04-17 08:10] qzhong0605 commented on #27744
The environment for me:
* gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.11)
* Cuda compilation tools, release 9.0, V9.0.176
* clang version 8.0.0 (tags/RELEASE_800/final)
* nvidia-docker os

I had tried the command as you did,  and I had succeed. The result was the following:
[code]
The output for the command `file bazel-out/k8-opt/bin/tensorflow/libtensorflow.so` was the following:
[cod

[2019-04-17 08:32] unsatcore commented on #27861
FWIW
it's possible to work around with model.fit (initial_epoch = ...)
obviously initial_epoch has to be stored somewhere - custom callback or as a part of checkpoint filename

[2019-04-17 08:36] Peng-Ru commented on #27664
You can try something like ' import tensorflow.contrib.slim as slim ' or upgrade your tensorflow version to 1.8 or higher

[2019-04-17 08:41] MentalGear commented on #27815
Well, my feature request was about a more efficient transfer of a model for offline use, not save and restore operations.

[2019-04-17 08:50] achandraa commented on #27720
Moving to older versions might lead to compatibility issues. We recommend to stay with the latest version unless and until it is required. You can try above solution provided and let us know on the update. Thanks!

[2019-04-17 09:09] Meiyd opened #27912 "There is still bug with function tf.keras.layers.Conv3DTranspose when its input shape is None"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-04-17 09:10] Meiyd commented on #27912
Someone said that this problem was solved in Febuary, but I found that there is still error.

[2019-04-17 09:23] rehadiri commented on #26114
I have win 10 and Nvidia Geforce 920M on my laptop. I am using Python 3.6.4 and Pycharm as IDE.

I have also faced the same problem. After having tried several versions i could manage to solve the problem by installing the following versions:

Keras 2.2.4
Tensorflow 1.12.0
Cuda 9.0
CuDNN 7.4 ( Dnn for Cuda 9.0 )

You can find Cuda 9.0 and CuDNN in Nvidia Archive Site

Works Perfect !

[2019-04-17 09:24] rehadiri commented on #26114
Tensorflow is Tensorflow-gpu by the way

[2019-04-17 09:36] darophi commented on #26813
You can use the v1 api like so:
[code]
or the tensorflow.python api like so:

[code]

[2019-04-17 09:59] muneeb699 commented on #27862
Hi Here is the link :
[https://colab.research.google.com/drive/1lORosF4OMpsG2iEhyJzAXikEQEcViWE2](url)

[2019-04-17 10:38] achandraa commented on #27791
@blakefox - Were you able to resolve this issue ?

[2019-04-17 10:44] allendred opened #27913 "ptr bug tensorflow"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>
wrong ptr
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS

[2019-04-17 10:46] raspberrypisig commented on #27909
I am having the same problem with this one on Colab. However, The jupyter notebook is running Tensorflow 2 Pre-release.

https://colab.research.google.com/github/tensorflow/hub/blob/master/examples/colab/tf2_image_retraining.ipynb

If I add model.save() at the end or use the ModelCheckpoint callback, I get this error, but save_weights and to_json works, but I really would like the h5 in order to c

[2019-04-17 11:10] jyotirmayghosh commented on #27278
Hello,
Sorry for being reply late.
As you said i tried with /object_detection/export_tflite_ssd_graph.py to export the frozen graph.

`python3 object_detection/export_tflite_ssd_graph.py     --pipeline_config_path=/home/user/Documents/training/pipeline.config     --trained_checkpoint_prefix /home/user/Documents/training/models/ssdlite_mobilenet_v2_coco/model.ckpt     --output_directory /home/user/

[2019-04-17 11:35] pminervini commented on #24024
it's not really a fix tho, just an inefficient workaround

[2019-04-17 11:40] rootkitchao commented on #27786
I think this is because you used anaconda.

[2019-04-17 11:52] passerbyd opened #27915 "[feature request]check whether a data iterator is initialized"
**System information**
- TensorFlow version (you are using): r1.13
- Are you willing to contribute it (Yes/No): yes

**Describe the feature and the current behavior/state.**
When a dataset iterator is shared among sessions by "shared_name", non-chief sessions need to wait for its initialization on the chief session. And what is the proper way to check the state of iterators currently？
Ideally, ite

[2019-04-17 11:53] gadagashwini commented on #27903
This question is better asked on StackOverflw.since it is not a bug or feature request. There is also a larger community that reads questions there. Thanks!

[2019-04-17 11:57] gadagashwini commented on #27862
@muneeb699 Still the colab link that you have provided is not correct. Please provide correct link. Thanks!

[2019-04-17 11:58] muneeb699 commented on #27862
Copy the link and paste it. It will not be open when you click it.
[https://colab.research.google.com/drive/1lORosF4OMpsG2iEhyJzAXikEQEcViWE2](url)

[2019-04-17 12:00] gadagashwini commented on #27743
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-17 12:00] #27743 closed

[2019-04-17 12:05] leemgs opened #27916 "[CI] Ubuntu CC is still "Expected — Waiting for status to be reported" after 14 days."
It is strange. Let's see the operation status of Tensorflow CI on  PR #27466.  The work status of **Ubuntu CC**  is still "**Expected — Waiting for status to be reported**" even though 14 days is passed after the contributor submitted PR #27466. Why does not `Ubuntu CC`  report the result either PASS or FAILURE? Why Ubuntu CC is still running for 14 days?

* https://github.com/tensorflow/tensorflo

[2019-04-17 12:06] Muhammad333 opened #27917 "are the same tensorflow serving .pb file with frozen graph .pb file"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-04-17 12:22] achandraa commented on #27777
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-04-17 12:26] schawla1988 opened #27918 "TensorFlowLite: failed to load native library: Library tensorflowlite_jni not found; at /system/lib64"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-04-17 12:29] lc0 commented on #27903
I mean, it's a feature for incremental CI checks :) and CI checks are used for people contributing to TensorFlow

[2019-04-17 12:43] PeterS2a commented on #27673
I took a second attempt - alas with the same outcome. OK, here's what I did:
- pull the git repo, checkout 1.12.0 again and create a new local branch
[code]
- prepare bazel
[code]
- configure: leave everything at its default except for the python paths.
- edit .bazelrc to get around https://github.com/tensorflow/tensorflow/pull/25114 given that I have bazel v0.20.0
[code]
- starting the bazel buil

[2019-04-17 12:44] achandraa commented on #27763
Did you get chance to look into some additional information in [FAQ](https://www.tensorflow.org/lite/guide/faq#why_are_some_operations_not_implemented_in_tensorflow_lite) or [experimental feature](https://www.tensorflow.org/lite/guide/ops_select). Let us know whether that helped or not.

[2019-04-17 12:55] monjoybme commented on #27862
Your problem has been solved. Change **BATCH_SIZE = 48**

# feel free to change these parameters according to your system's configuration

[code]

[2019-04-17 13:02] tensorflowbutler commented on #23404
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-04-17 13:02] tensorflowbutler commented on #26083
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-04-17 13:02] ma3oun commented on #26502
Doing this solved the cde completion issue but led to other errors, namely API incompatibilities. I tried creating my own Model by subclassing and I got strange errors from the _tensorflow_backend.py_ functions.

[2019-04-17 13:13] anonym24 commented on #18829
It says that it is better to do "_run quantized training with your model from a floating point checkpoint to change the input graph to contain min/max information_"

But all I have is .pb file generated by retrain.py (for classification weights), there is no any checkpoints

[2019-04-17 13:15] zhangyafeikimi opened #27920 "How to compare two DimensionHandle objects in shape inference function?"
I am writing some ops in C++.
My question is: how to compare two DimensionHandle objects in shape inference function?

[2019-04-17 13:30] DocyodaX opened #27921 "This company RANNED !!!!!!"
THIS  company  is    By  Liberals .... For  You  a will see   Why U Think    Its a Good Compay . Your.   Wrong !!!!!!!!    Learn More.......

[2019-04-17 13:48] muneeb699 commented on #27862
Why this problem is occured in the first place? Because you just change the batch size and it gives an error. Doesn't seems right

[2019-04-17 13:55] gpx1000 commented on #18748
Nope.  Still not working.

On Tue, Apr 16, 2019, 8:04 PM kunkun007 <notifications@github.com> wrote:

[2019-04-17 14:07] SunflowerPKU commented on #26294
Hi @dynamicwebpaige @kyscg @NikolaMandic @shreyashub  , I am doing a research about "how the labels such as <good first issue> help newcomers to contribute" , but I found many PR were rejected because of duplication or newcomers feel puzzled whether this issue are under processing, especially for popular projects. How do you think of this problem? I wonder whether mechanisms to avoid this problem

[2019-04-17 14:23] ricardobnjunior commented on #22803
@sercant Have you found some solution for this problem? I am with the same problem :(

[2019-04-17 14:40] serv-inc commented on #27539
@arnoegw solved this on stackoverflow:

So just `pip install tf-nightly-2.0-preview` and it works.

[2019-04-17 14:43] serv-inc commented on #27538
As @arnoegw [wrote on stackoverflow](https://stackoverflow.com/questions/55682557/valueerror-input-0-of-layer-dense-is-incompatible-with-the-layer-its-rank-is-u?noredirect=1#comment98130637_55682557), this is fixed in `tf-nightly-2.0-preview`.

[2019-04-17 14:43] #27538 closed

[2019-04-17 14:57] SlowMonk opened #27923 "The kernel appears to have died. It will restart automatically."
def make_generator_model():
    model = tf.keras.Sequential()
    model.add(layers.Dense(7*7*256, use_bias=False, input_shape=(100,)))
    model.add(layers.BatchNormalization())
    model.add(layers.LeakyReLU())

    model.add(layers.Reshape((7, 7, 256)))
    assert model.output_shape == (None, 7, 7, 256) # Note: None is the batch size

    model.add(layers.Conv2DTranspose(128, (5, 5), strides=(1,

[2019-04-17 15:03] blakefox commented on #27791
Sorry I was out yesterday. I have not been able to resolve this issue as of  yet. I will try the fix Dayananda recommended above and report back shortly.

[2019-04-17 15:07] ThomasHagebols commented on #25320
@mrry I was interested to work on this for my first commit to TensorFlow. What do you think of the following? I can make a pull request if you like

[code]

[2019-04-17 15:23] mrry commented on #25320
Thanks @ThomasHagebols! That mostly looks good with just one nit: the difference between tuples and lists is significant here, so please use `(...)` when the elements will be made up of tuples, e.g.:

[code]

[2019-04-17 15:27] mihaimaruseac commented on #27189
Can you try with r1.13 branch instead? Or, if you want r1.12, can you try downgrading bazel to 0.19?

[2019-04-17 15:28] mihaimaruseac commented on #27921
Spam

[2019-04-17 15:28] #27921 closed

[2019-04-17 15:34] erbian opened #27924 "Estimator from Keras Model fails to learn when original keras Model learns fine"
I have created a keras `Model` that learns a simple embedding from a deterministic function.  When I convert to an Estimator using ` tf.keras.estimator.model_to_estimator` learning fails to converge and the learned embeddings are incorrect.

I would expect that an Estimator constructed from a keras Model would have similar performance to the original keras Model.  However the keras model loss deca

[2019-04-17 15:38] erbian commented on #27924
Here is the output of the environment script:
[tf_env.txt](https://github.com/tensorflow/tensorflow/files/3090394/tf_env.txt)

[2019-04-17 15:43] mihaimaruseac commented on #27897
Makes sense: the warnings are there to inform you that on the next version of TensorFlow those symbols will no longer be present, so you should update your code to the new API.

See also: #27045, #27023, #27016, #26844, #26151, #26149, #26144, and many other similar issues.

[2019-04-17 15:43] tonyreina commented on #26759
Thanks Karmel.  That's good to hear.  Is the idea that eventually the tf.keras.models.save_model will actually use the SavedModel protobuf format instead of the Keras HDF5 format?  I'm thinking that the typical user will probably use the save_model and load_model functions rather than the experimental ones.

[2019-04-17 16:02] #27237 closed

[2019-04-17 16:24] nunoplopes opened #27926 "Autodiff creates stack for loop-invariant data"
In file `control_flow_ops.py`, `GetRealValue()` implements the functionality to get the value of an operation from each forward loop iteration to be used in the backward loop.
This function checks if the operation is a constant and skips creating a stack for these. Otherwise it creates a stack and pushes the value at each loop iteration.
The issue is that `GetRealValue()` doesn't check if the oper

[2019-04-17 16:34] oldshuren opened #27927 "Under MirroredStrategy and ParameterStrategy tf.trainable_variables() doesn't return the correct wrapped variables"
Under MirroredStrategy and ParameterStrategy tf.trainable_variables() returns the normal unwrapped variables.

But according to the comments in mirrored_strategy.py and parameter_server_strategy.py, tf.trainable_variables() should return the wrapped variables.

Here tf 1.13.1 mirrored_strategy.py code segment,
[code]
The problem is that in kwargs past from up stream API, "trainable" is set but the

[2019-04-17 17:01] abhinavsagar commented on #27923
@SlowMonk I was also having similar problems. I think this is because of limited memory capacity of yous system.

[2019-04-17 17:19] jvishnuvardhan commented on #27790
@mrgloom Could you describe more details about the issue and its context? Were you able to build tensorflow and import it successfully? Little more description is required to understand the issue. Thanks!

[2019-04-17 17:26] pavithrasv commented on #27530
I am able to repro the issue, will look into the fix.

[2019-04-17 17:35] jvishnuvardhan commented on #27843
@ashisham Could you check the following resources [1](https://stackoverflow.com/questions/51299194/importerror-cannot-import-name-abs) and [2](https://github.com/tensorflow/tensorflow/issues/20778) for any possible solution. Please check GitHub and Stackoverflow as there are many post describe solution to this issue. Please let me know how it progresses. Thanks!

[2019-04-17 17:41] mmajurski commented on #27259
I was unable to compile from the latest master branch. I got a nccl compile error. The error persisted when I tried to turn on nccl support in the bazel build.

[code]

Moving on, I was able to successfully install tf-nightly-gpu into a brand new python venv.

Running the same code that generated the original error now results in a different error.

[code]

Since this error is coming from the Data

[2019-04-17 17:44] dynamicwebpaige commented on #20812
We are in the process of upgrading canned estimators for TF 2.0 (this is a 2.0-blocker). When that process is complete, `tf.estimator.*` will support Keras optimizers; however, they do not today.

Please track this issue to keep updated on progress.

[2019-04-17 17:44] jvishnuvardhan commented on #27839
@lovenaturelovelifedevelop Could you provide more details on the issue and its context? Thanks!

[2019-04-17 17:51] ymodak commented on #27575
PR has been merged. Closing this issue. Thanks!

[2019-04-17 17:51] #27575 closed

[2019-04-17 17:54] wchargin commented on #27897
Hmm, as far as I can tell I _am_ using the new APIs, and the warnings
are telling me to migrate to the same APIs that I’m already using:

How should I change “`tf.keras.models.Sequential`” to avoid a warning?

[2019-04-17 17:57] mihaimaruseac commented on #27897
Oh, my bad, I didn't notice that. Sorry

[2019-04-17 18:18] ThomasHagebols commented on #25320
@mrry Thanks for the feedback. I noticed that there are several code examples that are not executable and a bit vague in python/data/ops/dataset_ops.py. If you want I can fix the documentation of the methods concatenate, map, flat_map and interleave in the same pull request.

[2019-04-17 18:19] mrgloom commented on #27790
Which other details are needed?

I tried to build again with fresh master:
commit 11d8edcb35bdd2589e577aa86c81857bc2e95c24

git pull
time bazel build tensorflow/python/tools:freeze_graph

[code]

time bazel build tensorflow/python/tools:freeze_graph --verbose_failures

[code]

[2019-04-17 18:25] ClaudioDavi commented on #20812
@dynamicwebpaige Thanks for the info, I'm having this problem today with TF 2.0. There's any known workaround to make optimizers work with canned estimators?
Both tf.keras.optimizers and tf.optimizers are currently not working.

[2019-04-17 18:26] ymodak commented on #27474
I think you forgot to paste your new error stack here. However, since its a new error message and not related to original issue reported. Can you please post a new issue explaining it? We would like to keep each issue thread focusing on one problem. Thanks!

[2019-04-17 18:26] #27474 closed

[2019-04-17 18:34] LGTrader opened #27929 "tf-2.0: AttributeError: module 'tensorflow' has no attribute 'optimizers'"
**System information**
- OS Platform and Distribution Ubuntu 18.04 LTS
- TensorFlow installed from source or binary): source
- TensorFlow version (use command below): v2.0.0-alpha0-4-g2c2d508 2.0.0-alpha0
- Python version: 3.5.7
- Bazel version (if compiling from source): From docker image
- GCC/Compiler version (if compiling from source): From docker image
- CUDA/cuDNN version: NA
- GPU model and

[2019-04-17 18:46] ymodak commented on #27435
@timoveldt @p9i @lynscott  Thanks for reporting this issue. We have to update our docs to address TF 2.0 install verification.
```AttributeError: module 'tensorflow' has no attribute 'enable_eager_execution'```

Eager execution is enabled by default in TF 2.0 Therefore we need not enable it explicitly.
```AttributeError: module 'tensorflow' has no attribute 'random_normal'```
TF 2.0 comes with new

[2019-04-17 18:46] sdeoras opened #27931 "GPU build on ARM-64 failing"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 18.04 running on Nvidia

[2019-04-17 18:51] wchargin commented on #27897
No worries; thanks.

[2019-04-17 18:57] tanzhenyu commented on #27499
@ikamensh This is intended behavior and not 2.0 specific. In general all optimizers follow the algorithm from papers to minimize objective. If the goal is to maximize reward, then the best approach (that I think) is to negate the objective manually.
For example, see this ddpg implementation:
https://github.com/openai/spinningup/blob/master/spinup/algos/ddpg/ddpg.py#L157

[2019-04-17 18:57] ivantangg commented on #9416
@nanamare Hey, may i ask how you were able to resolve the issue? I tried the 360 solution, however, it the cropped square is still staying towards left side of the screen. I am trying to stretch the preview square to fit the whole screen.

[2019-04-17 19:11] annarev commented on #27897
Thank you for catching and sorry for the trouble! Fix is on the way.

[2019-04-17 19:44] timoveldt commented on #27435
@ymodak That fixed it!

Nice to see that I was on the right track by removing the eager execution. I never would've guest that the next step was in the aliases.

I'm trying to contribute the actual fix, but I've got some hoops to jump through :)

[2019-04-17 19:59] wdirons commented on #27931
I believe this is the same problem reported in issue https://github.com/tensorflow/tensorflow/issues/25323

[2019-04-17 20:00] mrry commented on #25320
The more the merrier, thanks!

[2019-04-17 20:11] imikic commented on #27904
Yes, it works with today's nightly. Thank you!

[2019-04-17 20:20] #27904 closed

[2019-04-17 20:28] monjoybme opened #27932 "NameError: name 'MyCapper' is not defined"
For gardient clipping in case of Adam optimizer, I'm using below code.
[code]
But I'm getting error

**Fulltraceback:**

`grads = [(MyCapper(gv[0]), gv[1]) for gv in grads_and_vars]

NameError: name 'MyCapper' is not defined`

Pleae help.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g

[2019-04-17 20:36] jvishnuvardhan commented on #26418
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-04-17 20:36] #26418 closed

[2019-04-17 20:40] jvishnuvardhan commented on #26954
I think it was resolved. I am closing the issue. But, please let me know if I'm mistaken.

[2019-04-17 20:40] #26954 closed

[2019-04-17 20:46] sdeoras commented on #27931
As discussed in #25323 I tried building with gcc-8 instead of gcc-7, however, that produced another error:
$ gcc --version
`gcc (Ubuntu 8.2.0-1ubuntu2~18.04) 8.2.0`
$ bazel build -c opt --verbose_failures --config=opt --config=noaws --config=nogcp --config=nohdfs --config=noignite --config=nokafka //tensorflow:libtensorflow.so
[code]

[2019-04-17 20:47] jvishnuvardhan commented on #27035
@lyind Can you try @mrevow suggestion. Thanks!

[2019-04-17 20:52] jvishnuvardhan commented on #27053
I think it was resolved. I am closing the issue. But, please let me know if I'm mistaken.

[2019-04-17 20:52] #27053 closed

[2019-04-17 20:53] ymodak commented on #27435
Glad it worked. Thanks for submitting the PR. I will close this issue now.

[2019-04-17 20:53] #27435 closed

[2019-04-17 20:55] jvishnuvardhan commented on #27105
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-17 20:55] #27105 closed

[2019-04-17 20:58] wdirons commented on #27931
In between builds did you clear the bazel cache?

if not I would try:
[code]

[2019-04-17 21:09] jvishnuvardhan commented on #27141
@Atom-101 Yes. In order to run tf_gpu in vitrual env, you need to install NVIDIA driver, CUDA and cuDNN. I can run any convolution code without any issue. Please check other issues here in GitHub and Stackoverflow to install CUDA and cuDNN correctly. Please close the issue. thanks!

[2019-04-17 21:11] smohan10 commented on #27846
I am getting the same error on my Tensorflow 1.12 and AWS G3 linux instance. Trying to do quantization aware training on segmentation model.

[2019-04-17 21:12] jvishnuvardhan commented on #27152
@zhangtravis Could you follow the instruction provided [here](https://github.com/jvishnuvardhan/Installing-TensorFlow-GPU-on-Windows-10-TF1.12) to install tensorflow?

[2019-04-17 21:22] annarev commented on #27897
Should be fixed by this commit: e84d155152ab5a187d2c0e4c5eea6a73df3789e1
Let me know if you are still seeing issues!

[2019-04-17 21:22] #27897 closed

[2019-04-17 21:25] jvishnuvardhan commented on #27189
@307509256 Please check the tested build config [here](https://www.tensorflow.org/install/source#cpu). For TF1.12, you need to downgrade Bazel to 0.15.0. For TF1.13.1, you need to use Bazel 0.19.2. Thanks!

[2019-04-17 21:30] jvishnuvardhan commented on #27191
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-17 21:30] #27191 closed

[2019-04-17 21:32] jvishnuvardhan commented on #27199
@Zeit42 Please close the issue if the issue was resolved. Thanks!

[2019-04-17 22:12] sdeoras commented on #27931
I think gcc-8 or higher is not going to work when building on Jetson Nano per this error:

ERROR: /home/sdeoras/.cache/bazel/_bazel_sdeoras/6333fd39180a43710cc9e4529b1411f9/external/nccl_archive/BUILD.bazel:151:1: error while parsing .d file: /home/sdeoras/.cache/bazel/_bazel_sdeoras/6333fd39180a43710cc9e4529b1411f9/execroot/org_tensorflow/bazel-out/aarch64-opt/bin/external/nccl_archive/_objs/nccl

[2019-04-17 22:14] sdeoras commented on #27931
I am wondering if there is a recommendation on a branch or commit I can try building using gcc-7.

[2019-04-17 22:14] ymodak commented on #27874
Closing this issue since wdiron's comment solves the issue. Feel free to reopen if have any questions. Thanks!

[2019-04-17 22:14] #27874 closed

[2019-04-17 22:21] ymodak commented on #27832
Duplicate #27241

[2019-04-17 22:21] #27832 closed

[2019-04-17 22:38] #27714 closed

[2019-04-17 22:41] wdirons commented on #27931
Reading the other defect you could try any of these options:

1) Removing `-c opt` and adding `--config=nativeopt` from the bazel command line
2) GCC 7.4
3) Building the v1.12.0 branch

[2019-04-17 23:02] danny1718 opened #27935 "ModuleNotFoundError: No module named 'tensorflow' in spyder | windows + anaconda"
**System information**
- OS Platform and Distribution : Windows 10 64-bits
- TensorFlow installed from (source or binary): Python 3.6 CPU-only | https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-1.13.1-cp36-cp36m-win_amd64.whl
- TensorFlow version: 1.13.1
- Python version: 3.6.8
- Installed using virtualenv? pip? conda?: conda

**Describe the problem**

Hi,
I have struggled for hour

[2019-04-17 23:04] impjdi commented on #27703
We had a situation that `glDispatchProgram` would just fail after 400k calls (or something like that) on a particular phone.  Hm, I'm actually surprised that it happens on so many phones as you have described.

[2019-04-17 23:06] sdeoras commented on #27931
@wdirons thanks so much for your support. I would love to try it out, however wanted to point out that v1.12.0 most likely wont work with cuda 10 and I don't have option to downgrade to cuda 9 on Jetson Nano.

[2019-04-17 23:25] ymodak commented on #27603
You already have cuda 10.0 toolkit, so need to install separately. You can add bin, include, lib folders consecutively placed in Library directory.

[2019-04-17 23:46] jvishnuvardhan commented on #27802
I could reproduce the bug with TF2.0.0-alpha0. Thanks!

[2019-04-17 23:46] reactivetype commented on #25361
I see a commit on this in https://github.com/tensorflow/tensorflow/commit/d6a7c6a4a6894cfc2de38bab192d6f615071e419
Does it mean nightly has it working already?

[2019-04-18 00:10] jvishnuvardhan commented on #27794
@miguel1396 Could you try downloading tensorflow from [pypi.org](https://pypi.org/project/tensorflow/), [GitHub source](https://github.com/tensorflow/tensorflow) or [Google api](https://www.tensorflow.org/install/pip#package-location). *.whl files are available with the Googleapi site. Thanks!

[2019-04-18 00:10] jpatts opened #27936 "Following object-based saving guide on TensorFlow website leads to error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary? pip3 install tensorflow-gpu
- TensorFlow version

[2019-04-18 00:14] jpatts commented on #27936
Nvm, I forgot to `tf.enable_eager_execution()`.
I probably should stop jumping between 2.0 and 1.3....

[2019-04-18 00:14] #27936 closed

[2019-04-18 00:17] #21251 closed

[2019-04-18 00:32] ymodak commented on #27340
@yselivonchyk Apologies for the delay in response.  If you change ```slim.conv2d(input, 16, [5, 5])``` to ```tensorflow.contrib.slim.conv2d(input, 16, [5, 5])``` the required warning message will be triggered.

[2019-04-18 00:39] ymodak commented on #27890
You need to install Microsoft Visual C++ Build Tools 2015. Please take a look instructions given on https://www.tensorflow.org/install/pip. Select Windows in steps 1 and 2.

[2019-04-18 00:40] jrullan commented on #26731
I tried again in my Pine64 A64+ with the process described in [the guide](https://www.tensorflow.org/lite/guide/build_arm64#native_compiling) again from scratch and it ended with a different error:

[code]

[2019-04-18 01:00] jpatts opened #27937 "Restoring from checkpoints are broken in TF 1.13.1"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Binary, pip3 install tensorflow-gpu
- TensorFlow version

[2019-04-18 01:06] #27683 closed

[2019-04-18 01:27] ymodak commented on #27691
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-04-18 01:27] #27691 closed

[2019-04-18 01:39] ymodak commented on #27171
@MHDBST  f1_score is defined in https://github.com/tensorflow/tensorflow/blob/0fb46cf9139f1e8cf88195e0b8f555eb10d00b3b/tensorflow/contrib/metrics/python/metrics/classification.py#L70 However there is no feature to compute macro f1 score. PR #27171 addresses this feature. Thanks!

[2019-04-18 01:44] ymodak commented on #27759
The doc link you provided is incorrect. Can you please point to the correct one? Thanks!

[2019-04-18 01:51] ymodak commented on #27753
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-04-18 01:51] #27753 closed

[2019-04-18 01:56] ymodak commented on #27815
@MentalGear Can you please fill the [feature request](https://github.com/tensorflow/tensorflow/issues/new?template=30-feature-request.md) issue template and post issue. Please try to elaborate as much as you can. Thanks!

[2019-04-18 01:57] #27815 closed

[2019-04-18 02:25] liqi-c opened #27938 "Read timed out and referenced by '//tensorflow/tools/pip_package:licenses'"
bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package
 Fetching @jpeg; fetching 167s
ERROR: /mnt/d/Project/TensorFlow/tensorflow-master/tensorflow/tools/pip_package/BUILD:145:1: no such package '@grpc//third_party/address_sorting': java.io.IOException: Error downloading [http://mirror.tensorflow.org/github.com/grpc/grpc/archive/4566c2a29ebec0835643b972eb99f4306c4234a3.tar.gz, h

[2019-04-18 02:26] liqi-c commented on #27938
How can i configure to avoid Time out problem ?

[2019-04-18 03:34] iseegr8tfuldeadppl commented on #22897
@aselle script did work but that means there's something wrong in my command,
i did not build toco from source i'm using it directly from the anaconda tensorflow-gpu 1.13.1 package

my command:
`toco --input_file=tiny-yolo-1c.pb --output_file=foo.tflite --input_format=TENSORFLOW_GRAPHDEF --output_format=TFLITE --input_arrays=input --input_shapes=1,416,416,3 --output_arrays=output`

[2019-04-18 03:41] leemgs opened #27939 "[CI] Is TensorFlow-jenkins bot died?"
Has Tensoflow-Jenkins bot been running now? We could  get the some messages from the bot when PR was submitted in the past (e.g., PR #13557). However, It seems that we could not see the any activity of the Tensoflow-Jenkins bot recently. What is the CI infrastructure  (e.g., Jenkins, Kokoro, Travis-CI, Circle-CI, and so on)of the Tensorflow deep-learning framework?

* Example: PR #24314 (On Dec-13

[2019-04-18 03:46] anhtu812 commented on #27614
what is output_node_names in this case ( saved_model.save(keras_model, 'saved_model') ).
Following code out error:
[code]
log error:
[code]

[2019-04-18 03:49] ianlokh commented on #27906
I am also getting the same error on TensorFlow 1.13.1. There appears to be a similar issue (#24650) that was to be resolved in 1.13.1 but the error line was different in that case.

[2019-04-18 03:51] psonthalia commented on #10632
I'm trying to do the same thing and in the retrain.py I changed the following line: final_tensor = tf.nn.softmax(logits, name=final_tensor_name) to final_tensor = tf.nn.sigmoid_cross_entropy_with_logits(logits=logits, labels=ground_truth_input, name=final_tensor_name)
But I am getting an error saying that the shapes are different. Even if I try to create a new placeholder with the same shape, I st

[2019-04-18 03:57] ppwwyyxx commented on #27906
#24650 was not resolved in 1.13.1

[2019-04-18 04:01] coelacanthus opened #27940 "__name__ becomes 'tensorflow.keras.layers' when import tf.keras.layers"
**System information**
Google Colaboratory with tensorflow nightly build 2.0.0.dev20190417.
Any runtime

**Code to reproduce**
[code]

**Code to avoid the problem**
[code]

[2019-04-18 04:05] kotritrona opened #27941 "RNN compatibility issue on unknown batch_size"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): google colaboratory
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.0.0-

[2019-04-18 04:34] zhangyafeikimi opened #27942 "Why "Don't build XLA with -ffast-math"?"
The most problem is not as title.

It is ridiculous that the error is thrown out after thousands of files were compiled.

[2019-04-18 04:35] BlazingFire commented on #21526
Where is mentioned as supported on https://www.tensorflow.org/lite/guide/ops_compatibility in this section : The following TensorFlow Lite operations are fully supported and used in place of the TensorFlow operations listed above:

But I am unable to use it and here it is mentioned unsupported, can someone explain the difference?

[2019-04-18 04:48] Xzy0101 commented on #27912
I encountered this problem too. It seems that this problem is fixed in [this commit](https://github.com/tensorflow/tensorflow/commit/bae74d26f93872374b48c60a73d189df148a6f99#diff-aa6c341a4b212afc57b49be73e689dc2), but it does not appear in version 1.13.1.

[2019-04-18 04:52] ThisIsIsaac opened #27943 "`GetCudaLaunchConfig` configuration of number of blocks"
the definition is:
[code]

why is the number of blocks is capped at `getNumGpuMultiProcessors`?

[2019-04-18 05:15] #27141 closed

[2019-04-18 05:34] nm46nm commented on #27906
I downgraded the keras to 2.1.5 and the error didn't occur again. This may help.

[2019-04-18 05:41] zhangyafeikimi commented on #23888
linux
tensorflow 1.13.1
--config=mkl
--config=xla
same issue

[2019-04-18 06:29] SummitKwan commented on #533
I have a related question: does gradient go through the image_resize op normally if I use this op in intermediate layers for upsampling?  Thank you

[2019-04-18 06:44] SlowMonk opened #27944 "The kernel appears to have died. It will restart automatically. with memory problem?"
1

kernel died after running some code
I try to run the code to generate a sample image with the generator I tried to update the conda and Jupiter but none of them worked

I keep watching the memory usage of GPU but it does not use the GPU that much

tensorflow2.0 , ubuntu 18.10, cuda 10.0
python 3.5,

def make_generator_model():
    model = tf.keras.Sequential()
    model.add(layers.Dense(7*7*256

[2019-04-18 06:50] ianlokh commented on #27906
Hi nm46nm, thanks it worked but TensorFlow got downgraded to 1.9. I will try to apply TF 1.12 and see if it works noting that this was a non-issue eventually (thanks Yuxin)

[2019-04-18 07:29] SystemErrorWang opened #27948 "Automatic conversion from CONV_2D to DEPTHWISE_CONV_2D when input channl is 1 in tflite"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
macos 10.14.2
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
None
- TensorFlow installed from (source or binary):
conda install
- TensorFlow version (use command below)

[2019-04-18 07:36] svengateswaran commented on #22197
I also had a similar issue where I trained a model and saved it using Model Saver module of TF.
But when I tried to load the module, I got the following error.

`KeyError: u'StatelessRandomUniform' `

I was using a particular Module (`tf.contrib.stateless.stateless_random_uniform`) when training the model.

So after importing tensorflow in my inference script where I loaded the trained model, I al

[2019-04-18 08:06] blup-Blupon commented on #24496
@samhodge can't you prevent OOM by using `config.gpu_options.per_process_gpu_memory_fraction = 0.4` as suggested on the tensorflow [documentation page](https://www.tensorflow.org/guide/using_gpu#allowing_gpu_memory_growth) you posted yourself ?

I'm confused by this boolean hack to enable tensorflow-gpu on my RTX 2080: will this `allow_growth = True` if I use my GPU solely for one tensorflow scrip

[2019-04-18 08:23] samhodge commented on #24496
Ok I think I found the source of my issues before I create my session I measure the GPU RAM free so if I am on a 8Gb card and 6Gb are free I use a fraction of 0.75 and occasionally that ends in an OOM but recently I have been experimenting with 0.95*0.75 and I have yet to have an OOM. So if you push the space for allocation of Tensorflow to the limit it sometimes clashes. Obviously if you inputs a

[2019-04-18 08:24] lolitsgab commented on #19375
@betachat Addint to my paths like you mentioned fixed my problem! Thank you!

[2019-04-18 08:29] ahmedanis03 commented on #25369
how it is done in the project tracker and still open in github? it is a bit confusing to track the progress.

and please if it is done, how can we access this example?

[2019-04-18 08:29] #27272 closed

[2019-04-18 08:36] blup-Blupon commented on #24496
@samhodge great, so in the end the `allow_growth` boolean hack does provide a solution if no major GPU operation is launched in parallel and if what is processed at a time by tensorflow (batch size would be critical) doesn't overflow the memory provided by the GPU... ?

[2019-04-18 08:40] vbardiovskyg commented on #26602
Since we are now depending on partial to do the argument binding, this becomes infeasible (i.e. we don't want to provide more functionality than partial already does).

[2019-04-18 08:40] #26602 closed

[2019-04-18 08:53] 307509256 commented on #27189
The problem is solved, thank you!
another question , I build success， the size of file
“bazel-bin/tensorflow/contrib/lite/libtensorflowLite.so” is  49M，
 but I download from maven is 2.3M
url： http://jcenter.bintray.com/org/tensorflow/tensorflow-lite/1.12.0/

[2019-04-18 09:01] ygoncharov commented on #23733
@jing-dong I did a similar experiment: run the script on an official GC deep learning image and then pip installed tensorflow-gpu==1.13.1 in a clean virtualenv. I got the same result: memory leak in the first case and no memory leak in the second.

[2019-04-18 09:24] sklampfl commented on #27640
@amitsrivastava78 Thank you for investing your time in this.

I managed to get it to work on a fresh Ubuntu 18.04 instance, with Python 3.6.7 and TensorFlow compiled from source (both `r1.13` and `master`, with gcc 7.3.0).

It still does not work on my original Ubuntu 16.04 machine, even if I compile TensorFlow from source (Python 2 or Python 3). I have not yet figured out which configuration brea

[2019-04-18 09:29] laiqb commented on #27778
@wdirons @ymodak it is not work. the information updated

[2019-04-18 09:39] penguinmenac3 commented on #25138
The two common settings you earlier used with sessions are found in `tf.config.gpu`. You should probably set them before you start working with any tensors and variables. (tested with 2.0.0-alpha0)
[code]

@jaingaurav As a use case: I typically use this when _developing on my local machine_ and I want firefox to work well while training a network in the background. Otherwise firefox commonly crash

[2019-04-18 09:49] abdulqadir88 commented on #1013
Also facing the issue tried to install the `Microsoft Visual C++ 2015 Redistributable` but when i checked the control panel it is already present there

![image](https://user-images.githubusercontent.com/23471794/56352663-1e970a00-61e9-11e9-9445-f70503e850d5.png)

Any Help plz ?

[2019-04-18 09:52] cottrell opened #27949 "Tensorflow 2.0: No gradients provided for any variable but only when tf.math.square AND tf.function is used?"
I posted this in SO

https://stackoverflow.com/questions/55730930/tensorflow-2-0-no-gradients-provided-for-any-variable-but-only-when-tf-math-squ

but now am wondering if it is actually a bug.

[code]

[code]

[code]

[2019-04-18 09:54] qo4on commented on #27603
What should I install separately?

[2019-04-18 09:56] ndandanov commented on #27840
@wdirons, thank you for your fast response!

I built tensorflow by modifying `build:xla --define with_xla_support=false` (it was true after the initial `./configure`, despite setting the use of XLA JIT to false) in `tensorflow_src/.tf_configure.bazelrc` and also by exporting `TF_CUDA_COMPUTE_CAPABILITIES="3.0"`.

The built wheel installed successfully and seems to be working, I am using it now as

[2019-04-18 09:58] alexrobomind commented on #25773
@crazyn2 The fix that I applied is exactly what @Stepiii uploaded in his commit(s). Unfortunately, this is only a partial fix, since Eigen is not the only route including windows.h (and therefore also wingdi.h). Sorry for the late response.

[2019-04-18 10:18] amitsrivastava78 commented on #27640
@sklampfl , Great to hear that things have worked out well on the newer version of Ubuntu for you.

Cheers!

Regards
Amit

[2019-04-18 10:32] neodelphis opened #27951 "tf.nn.batch_normalization unexpected behavior"
tf.VERSION :  1.13.0-rc2
OS              : MacOS Mojave 10.14.4 on MacBook Pro (13-inch, 2017)

I encountered a problem trying to implement tf.nn.batch_normalization working on the mnist digits dataset.
For testing purposes, I implemented a very simple network
L1 : 100 neurons fully connected layer + Batch norm + Sigmoid
L2:   10 neurons fully connected layer + softmax

When I use tf.nn.batch_norm

[2019-04-18 10:49] samhodge commented on #24496
Everything uses the GPU even your browser

[2019-04-18 11:19] longlimin commented on #8879
Thanks, that is useful.

[2019-04-18 11:27] sxsxsx opened #27952 "Array conv_23/Conv_1/BatchNorm/FusedBatchNorm, which is an input to the Conv operator producing the output array conv_3//0/Conv/Relu6, is lacking min/max data, which is necessary for quantization."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):NO
- OS Platfor

[2019-04-18 11:57] crazyn2 commented on #25773
@alexrobomind I avioded this problem just cancling the XLA JIK support additionally.

[2019-04-18 12:02] jyotirmayghosh opened #27953 "tensorflow.python.framework.errors_impl.NotFoundError: Op type not registered 'TFLite_Detection_PostProcess' in binary"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip
- TensorFlow version: 1.9
- Python version: python 3
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source):
- GCC/Com

[2019-04-18 12:32] KichangKim opened #27954 "Tensorflow 2.0 has missing features related to checkpointing Dataset"
**System information**
- TensorFlow version: 2.0-alpha.0
- Doc Link:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/data/experimental/make_saveable_from_iterator

**Describe the documentation issue**
With 2.0-alpha.0, tf.data.Dataset does not have any make_xx_iterator() methods, so I can't save/restore iterate state while training by using tf.data.experimental.make_saveable_from_itera

[2019-04-18 12:33] yayaQAQ commented on #23007
I fixed it by uninstalling `tensorflow-estimator`

[2019-04-18 12:33] BlueAnthony commented on #23678
@Jakejaga5
I install TF==1.13.1 and I command "pip install --ignore-installed --upgrade tf-nightly".
But it seems that Tensorflow will conflict by itself.
![2019-04-18 20-31-01 的螢幕擷圖](https://user-images.githubusercontent.com/17959032/56361075-03dc8980-6219-11e9-8046-3b5fa2759587.png)

[2019-04-18 12:49] tensorflowbutler commented on #26864
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-04-18 12:49] tensorflowbutler commented on #27315
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-04-18 12:49] tensorflowbutler commented on #27349
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-04-18 12:51] wdirons commented on #27778
@laiqb , the error now in the above message is

`yum install patch` should resolve that issue.

[2019-04-18 12:51] KichangKim commented on #27954
It seems that iterator from Dataset.__iter__() can be serialized with tf.train.Checkpoint(). Even though it is not described in document.

[2019-04-18 13:05] seanpmorgan commented on #14070
This has been implemented in tensorflow/addons. Issue can be closed.

[Code](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/layers/wrappers.py)
[Example](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/examples/layers_weightnormalization.ipynb)

[2019-04-18 13:06] seanpmorgan commented on #10125
Duplicate of #14070

This has been implemented in tensorflow/addons. Issue can be closed.

[Code](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/layers/wrappers.py)
[Example](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/examples/layers_weightnormalization.ipynb)

[2019-04-18 13:23] #27497 closed

[2019-04-18 13:23] seanpmorgan opened #27955 "TF Nightly 20190418 Crashes on Estimator Import"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Pl

[2019-04-18 13:32] edloper commented on #26505
Fixed by #40006c3.

[2019-04-18 13:34] #26505 closed

[2019-04-18 13:37] jgehw commented on #27201
@karmel Thanks for pointing me to tf.keras.experimental.export_saved_model. I verified that this works in my setting, too. Provided that this experimental API will become regular API one day and not get removed, this obsoletes my code reproducing the issue.

[2019-04-18 13:37] KevlarTheGreat opened #27956 "All Diagrams Missing"
**System information**
- TensorFlow version: N/A
- Doc Link: https://github.com/tensorflow/docs/blob/master/site/en/guide/premade_estimators.md
https://github.com/tensorflow/docs/blob/master/site/en/guide/custom_estimators.md

**Describe the documentation issue**
All of the diagrams / images are missing from both of the links above.

**We welcome contributions by users. Will you be able to update

[2019-04-18 13:40] facaiy commented on #22771
Hi, please create a new issue and fill out all necessary information?

[2019-04-18 13:41] facaiy commented on #14070
Thanks, Sean.

[2019-04-18 13:41] #14070 closed

[2019-04-18 13:42] bmiftah commented on #25337
Has this problem been solved  ?

 I am facing the exactly same problem with
python 3.6.7
cuda 9.0
cudnn 7.3.1
gpu model : 2 gpus:  each GTX1080ti  identical
tensorflow-gpu 1.11.0

running on python virtual environment

I am not running heavy model , I am running simple code to see if gpu is being loaded and used , but I got many lines of error all looks like the following line :
2019-04-18 21:33:3

[2019-04-18 13:54] ahmet-uyar commented on #18092
I have the same problem.
-------------------------------------------------------------------
tensorflow/contrib/mpi_collectives$ mpirun -np 1 python mpi_allreduce_test.py
Traceback (most recent call last):
  File "mpi_allreduce_test.py", line 23, in <module>
    import tensorflow.contrib.mpi_collectives as mpi
  File "/home/research/virtualenvs/tfenv/lib/python3.5/site-packages/tensorflow/contrib/

[2019-04-18 14:01] frogermcs commented on #26835
I'm wondering if it's a good idea to use tf.keras.applications.MobileNetV2 model instead of the module loaded from TF Hub.
It seems working after quick checks - tested model saving in this example: https://www.tensorflow.org/alpha/tutorials/images/transfer_learning

[2019-04-18 14:03] Luxas98 commented on #23733
Hi everybody, I'm joining to the memory leaking club.

Environment:
Docker container base: FROM python:3.7-stretch
Tensorflow: conda install -c conda-forge tensorflow  (tried pip install tensorflow=1.13.1 as well)

Use case:
Running loading from GS using GFile in callback on message from pubsub (sending messages 1 by one for testing) - I can see that data is not released,

File1:
      9    196.6

[2019-04-18 14:16] mdanatg commented on #27802
Thanks for reporting this bug! The error looks familiar, and might be fixed at head. I'll verify.

[2019-04-18 14:32] mihaimaruseac commented on #27189
Size difference can be caused by the compile options (if you have debug info, etc.). You can also try `strip` on the `.so` file to get rid of some of the symbols.

[2019-04-18 14:34] wdirons commented on #27840
That is odd behavior, the behavior of ./configure setting it to true is expected, let me explain:

When true is answered what is written to `.tf_configure.bazelrc` is:

When `false` is answered what is wrrtten to `.tf_configure.bazelrc` is:

The difference is in 'build' vs 'build:xla', bazel build automatically includes all build parameters, but only includes `build:xyz` parameters when `--config=

[2019-04-18 14:37] wdirons commented on #27840
In ./configure for master, but not in 1.13, is a warning about using XLA with TF_CUDA_COMPUTE_CAPABILITIES < 3.5.

https://github.com/tensorflow/tensorflow/blob/master/configure.py#L1021-L1023

[2019-04-18 14:54] realEthanZou commented on #25337
@bmiftah I did a clean install of everything with ddu and it somehow works, that's why I closed the issue.

[2019-04-18 14:55] ikamensh commented on #27499
In reinforcement learning reward is always maximized. Furthermore, Tensorflow can be seen as a broader framework than only machine learning, then it makes sense that "apply gradients" would at least mention that it will follow the negative of the provided gradient.

[2019-04-18 15:06] wdirons commented on #27883
The minimal version of bazel was updated yesterday in https://github.com/tensorflow/tensorflow/commit/407a4f3b9d39055a981b91c15f6911fdb38135d5

I think this defect is resolved.

[2019-04-18 15:15] krutartha commented on #27955
I have the same error while using tensorflowjs converter!

[2019-04-18 15:22] abbazs commented on #27539
This doesn't work in Windows 10 as the windows builds are not available.

[2019-04-18 15:35] villeh1 commented on #27955
I saw the same issue. Wonder why build process did not catch this issue?

[2019-04-18 15:40] MHDBST commented on #27171
Thanks @ymodak, this f1 function is not working for multiclass classification ( more than two labels). Is there any way to compute F1 for multi class classification?

[2019-04-18 15:43] gargn commented on #22897
@iseegr8tfuldeadppl Please file a new issue with all of the details required to reproduce this issue.

[2019-04-18 15:45] gargn commented on #25361
@reactivetype Correct. The converter is working in the nightly (`tf-nightly-2.0-preview`).

[2019-04-18 15:55] shashvatshahi1998 commented on #27171
I will work on that surely

On Thu, 18 Apr 2019, 21:17 Mohadeseh Bastan, <notifications@github.com>
wrote:

[2019-04-18 15:56] shashvatshahi1998 commented on #27171
I will work on that

[2019-04-18 15:57] cottrell commented on #27858
I am not finding a "deprecated" notices here for example:

https://www.tensorflow.org/api_docs/python/tf/summary/tensor_summary

[2019-04-18 16:06] kaeflint commented on #27955
I had thesame problem. For now installing an older version such as:
pip install -q tf-nightly-gpu-2.0-preview==2.0.0.dev20190416
solved allowed me to run my models.

[2019-04-18 16:09] drewszurko commented on #27955
I have the same issue on macOS.

**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **macOS 10.14.4**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below): **tf-nightly-20190418**
- Python version: **3.6.8**

[2019-04-18 16:15] serv-inc commented on #27539
Reopened for @abbazs.

[2019-04-18 16:16] mihaimaruseac commented on #27955
It's been already fixed by https://github.com/tensorflow/tensorflow/commit/e84d155152ab5a187d2c0e4c5eea6a73df3789e1 but the nightly process for estimator ran with the code before this commit and the nightly process for tensorflow ran with the code after.

[2019-04-18 16:17] serv-inc commented on #27539
Reopened for @abbazs.

[2019-04-18 16:18] mihaimaruseac commented on #27955
For now, if you want a quick fix, you can edit the `tensorflow/python/util/deprecation_wrapper.py` file to have:

[code]

(just add the `_unused_arg={}` argument). Though this is just patching, and will have to be undone on the next nightly.

[2019-04-18 16:29] jvishnuvardhan commented on #27315
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-18 16:29] #27315 closed

[2019-04-18 16:32] qlzh727 commented on #27955
Can we rerun the nightly process for estimator so that user don't have to patch and revert? Also since most of library rely on tf from PIP install, which is hard to patch every time.

[2019-04-18 16:35] jvishnuvardhan commented on #27883
I am closing the issue as it was resolved. But, please let me know if I'm mistaken.

[2019-04-18 16:35] #27883 closed

[2019-04-18 16:45] SummitKwan commented on #18711
Thank you for much for providing the clear code implementation!  For upsampling, I am wondering whether tf.image.resize_image and tf.tile + tf.reshape produce the same results (gradient) despite different running speed.  Thank you

[2019-04-18 16:46] jing-dong commented on #23733
@Luxas98 Can you please post a minimal Dockerfile and sample script here that I can use to reproduce the problem? I will try to see what I can do from there.

@ygoncharov Can you please clarify what the "official GC deep learning image" refers to? Is it  nvcr.io/nvidia/tensorflow:19.03-py2 that you used earlier?

[2019-04-18 16:53] melissagrueter commented on #26371
Hi @skye,

Yes, I'd like to contribute whatever needed to get the while loop working! Is there anyone you'd recommend trying to pull into the discussion when I open the issue/feature request for it?

[2019-04-18 16:57] jvishnuvardhan commented on #27318
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-04-18 16:57] #27318 closed

[2019-04-18 16:59] saxenasaurabh commented on #26371
Hi @melissagrueter

Feel free to pull me into any discussions.

Thanks!

[2019-04-18 16:59] jvishnuvardhan commented on #27349
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-04-18 16:59] #27349 closed

[2019-04-18 17:11] mihaimaruseac commented on #27955
Unfortunately if we launch the nightly process now we will have issues with automatic tooling on the next nightly, so probably it's better to either patch or use an older nightly.

[2019-04-18 17:19] jvishnuvardhan commented on #27336
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-04-18 17:19] #27336 closed

[2019-04-18 17:36] jaingaurav commented on #25138
@penguinmenac3: The new API still supports setting memory growth on a physical GPU. However, this would eventually use up all of the memory. If you'd like to limit the memory growth I'd suggest setting up a single virtual GPU with a memory limit. That way you can ensure that you have the necessary memory allocated upfront and it shouldn't intrude with your other desktop apps. Note that when settin

[2019-04-18 17:37] melissagrueter commented on #26371
Thanks @saxenasaurabh! Will do.

[2019-04-18 17:51] ygoncharov commented on #23733
@jing-dong no, it was not a docker image. It is an official Google Cloud image preconfigured for Tensorflow from https://cloud.google.com/deep-learning-vm/

The link to the current marketplace image is below, but please note that in my test I used the previous version (the one that came with tensorflow 1.12).
https://console.cloud.google.com/marketplace/details/click-to-deploy-images/deeplearning?

[2019-04-18 17:55] karmel commented on #27861
This is the intended behavior; step and epoch are reset with call to model.fit. Optimizer.iterations should maintain its count, such that any learning rate adjustments reflect the model's history, but epoch count is designed to restart with new training loop, even when loaded from a serialized model.

[2019-04-18 17:55] #27861 closed

[2019-04-18 18:05] robieta commented on #27511
Thanks for reporting this. I believe the issue is with `K.clear_session()`, which clears the default graph. In 1.x, Keras uses the default tf graph, but in 2.0 Keras manages its own graph. So the clear session call isn't actually clearing the keras graph and models are accumulating there and preventing memory from being freed. It should be a simple fix to make clear_session clear the right graph i

[2019-04-18 18:40] blakefox commented on #27791
A quick update,

Dayananda's fix did resolve the original issue of this ticket. Thank you very much for the advice.

Sadly the same crash now happens right as soon and the image feed starts. That being said, I think this new crash is due to my training data. If its not, I will report back with the new stack trace shortly.

[2019-04-18 19:23] Stepiii commented on #25773
@crazyn2 It seems that you cannot build tensorflow with XLA on windows. That is the issue.

[2019-04-18 19:38] HassamSheikh opened #27961 "Multi level variable scopes not working with tf.layers"
I am trying to access tf.layers of one scope from another scope but I guess the scopes are not working properly.

[code]

As far as I know the agent_scope should have cleared the "agent_1"  and q_func == q_func_2 should be true.

I also tried the following code that works so I am assuming, there is a bug

[code]
I am using TF 1.13.1 on Ubuntu 18.04 GeForce GTX 1070/PCIe/SSE2

[2019-04-18 20:10] jvishnuvardhan commented on #27507
I could reproduce the issue with TF1.13.1 and TF1.12. Thanks!

[2019-04-18 20:20] ymodak commented on #27603
[NVIDIA® GPU drivers](https://www.nvidia.com/Download/index.aspx?lang=en-us) —CUDA 10.0 requires 410.x or higher.

[2019-04-18 20:21] jlebar commented on #25773
I am working on renaming the enumerator to make this work.  Separately, we
need to turn on xla in our windows builds so that we catch issues like this.

One worry is that when I renames OPAQUE we will just run into another
problem.  I guess we'll see.

On Thu, Apr 18, 2019, 12:30 PM Stepiii <notifications@github.com> wrote:

[2019-04-18 20:41] #26371 closed

[2019-04-18 20:44] allenlavoie commented on #27937
`model` hasn't created variables yet in this case:

[code]
Prints `[]` (or very soon will throw an exception). So restoring at that point defers the restoration; [the checkpoint guide has an explanation](https://www.tensorflow.org/alpha/guide/checkpoints#delayed_restorations). If you restore and then call `model`, `assert_consumed` will pass:

[code]

The output of the model is the correctly resto

[2019-04-18 20:51] jvishnuvardhan commented on #27507
@prclibo We need to initialize the seed also. Please check the code below

import tensorflow as tf

seed = tf.Variable(0, dtype=tf.int64, trainable=False,
    use_resource=True)
def eject(x):
    seed.assign(x)
    return {'seed': seed, 'x': x}

dataset = tf.data.Dataset.range(10000)
dataset = dataset.map(eject, num_parallel_calls=1)

iterator = dataset.make_initializable_iterator()

with tf.Sessi

[2019-04-18 20:56] preethivenkatesh commented on #27752
Hi,
What kind of iterator are you using? We would have to reproduce in order to root cause

[2019-04-18 21:11] jvishnuvardhan commented on #27484
@serv-inc Sure. You are welcome to use it as  a template.
@vrjesus This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

I am closing

[2019-04-18 21:11] #27484 closed

[2019-04-18 21:16] erbian commented on #27924
The issue looks to be with the tensorflow optimizers.  The tensorflow version will not learn on identical keras models

![image](https://user-images.githubusercontent.com/10658783/56391791-b0a90d80-61fd-11e9-8a27-5b5f04213c23.png)

code for test:
[code]

[2019-04-18 21:22] jvishnuvardhan commented on #27482
@CountingClouds Could you provide more details on the feature and its context? What is missing currently and also mention for which use cases, this feature will be helpful. thanks!

[2019-04-18 21:24] jpatts commented on #27937
Thanks for the quick response. I understand what you are saying, and I think this should be given a line or two of explanation in the TensorFlow Eager tutorial. Since in the tutorial a variable is used, which doesn’t require shape, this problem doesn’t occur until using it in practice. It could definitely use more visibility.

Also, given that the weights aren’t restored until model input is provi

[2019-04-18 21:29] jvishnuvardhan commented on #27829
@ageron I tried to reproduce the bug in TF2.0.0-alpha0 but I don't get the runtime error. I see a warning and a deprecation message as follows. Just for your info, I ran your code in Google colab

WARNING: Logging before flag parsing goes to stderr.
W0418 17:16:01.808634 139806816728960 deprecation.py:506] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/keras/backend.py:4081: calling

[2019-04-18 21:43] alextp commented on #27692
Wow, this is really bad. Thanks for bringing it up!

[2019-04-18 21:51] alextp commented on #27692
The underlying issue, after running your repro through a profiler, seems to be that Tensor's array conversion is done through slicing instead of the fastpath.

[2019-04-18 21:52] facaiy commented on #10125
Thanks, Sean :-)

[2019-04-18 21:52] #10125 closed

[2019-04-18 21:54] alextp commented on #27692
Interestingly, if you do np.array(tensor) there's no slowdown, it's only if you do np.array(list_of_tensors).

[2019-04-18 21:56] alextp commented on #27692
@superbobry do you have any idea why converting a tensor to an ndarray goes through __array__ and is fast while converting a list of tensors goes through __iter__ and is slow?

[2019-04-18 21:59] jvishnuvardhan commented on #27854
@LutetiumX Could you provide full trace of the error. Thanks!

[2019-04-18 22:21] jvishnuvardhan commented on #27842
@yt7589 The git clone link provided by you points to master (TF1.13.1). The correct link to TF2.0 is [here](https://github.com/tensorflow/tensorflow/tree/r2.0).

There is no issue with the "simple code"  as I was able to run it with TF1.12, TF1.13.1, and TF2.0. But, something wrong with the build. Could you build from the source again and see how the issue progresses. Thanks!

[2019-04-18 22:21] saria85 commented on #20778
This happend to me on ubuntu 16.04

[2019-04-18 22:27] rthadur opened #27965 "bug"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-04-18 22:32] #25034 closed

[2019-04-18 22:37] prateethvnayak commented on #27752
The cigar-10 binary example in tensorlfow/models repo.

On Thu, Apr 18, 2019 at 5:02 PM preethivenkatesh <notifications@github.com>
wrote:

--
Best,

Prateeth Nayak
University of Minnesota, Twin Cities, U.S.
 +1 612-889-0197 | prateethvnayak@gmail.com

[2019-04-18 22:45] jvishnuvardhan commented on #27472
I could reproduce the issue with 2.0.0-alpha0. Even-though the time/step is little different from what you have listed above but the trend is similar. Thanks!

[2019-04-18 23:20] allenlavoie commented on #27937
Thanks, yes it sounds like the eager guide should have a blurb about deferred restoration and a reference to the checkpointing guide. The main reason it doesn't is presumably the order they were written.

On checking that values are restored, yes that makes sense to me. Something like this:

[code]

You could also directly check the optimizer's slot variables rather than running two steps and chec

[2019-04-18 23:45] jianlijianli commented on #23598
The issue should have been fixed by https://github.com/tensorflow/tensorflow/commit/129ff2e6ea3ddd88ae3d71a0cb719e987b486dac

Please take a look!

[2019-04-18 23:57] mmanoharahere commented on #6877
Hi @kwotsin ,
I am trying to evaluate InceptionV3 on Imagenet using the same script but with slim.evaluation.evaluate_once() and I see no usage of GPU (RTX 2080) or any significant CPU activity. Is there a solution to the issue?
Thank you!

[2019-04-19 00:09] jvishnuvardhan commented on #27433
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. If you think this is a bug, please provide a short code and error trace so that we can r

[2019-04-19 00:28] iseegr8tfuldeadppl opened #27967 "cannot find symbol class Fillwhere T is a type-variable:T extends Object declared in class Zeros"
**System information**
- Have I written custom code: no
- OS Platform and Distribution: Windows 10
- Mobile device: Huawei P9 Lite (Android 6.0)
- TensorFlow installed from: source but i did not build it, read below
- TensorFlow version: 1.13.1 but on anaconda and in my situation i'm not using any installation read below.
- Python version: 3.6.8 same thing.
- Bazel version (if compiling from sourc

[2019-04-19 00:47] vishalsubbiah opened #27970 "piecewise_constant_decay not supported by xla: Segmentation fault (core dumped)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CENTOS 7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.13
- Pyth

[2019-04-19 00:50] jquadrino commented on #21898
https://github.com/tensorflow/tensorflow/pull/24088#issuecomment-484648955

[2019-04-19 01:21] smohan10 commented on #13989
Hi,

I am working on folding batch norm with atrous convolution for quantization experiments. It seems the Space to Batch -> Conv -> Batch to Space -> Batch Norm -> Activation isn't getting folded correctly. There seems to be a shape incompatibility. Has anyone made progress on this issue?

[2019-04-19 01:34] smohan10 commented on #27846
This looks like SpaceToBatch and BatchToSpace in case of Atrous convolution isn't handled properly.
This is what I am getting: _"tensorflow.python.framework.errors_impl.InvalidArgumentError: Cannot update edge, incompatible shapes: [128,9,9,128] and [8,33,33,128]."_

[2019-04-19 02:02] laiqb commented on #27778
@wdirons it works. thanks

[2019-04-19 02:02] #27778 closed

[2019-04-19 02:32] vlasov01 commented on #27794
I had the same issue. Run it again and was able to install it without any errors.

[2019-04-19 02:45] guoyejun commented on #27744
thanks, i tried again with '-g' option, it takes ~6 hours to finish ...

`
INFO: Elapsed time: 24108.686s, Critical Path: 21192.22s
`

[2019-04-19 02:47] guoyejun commented on #27495
i tried again with '-g' option, it takes ~6 hours to finish ...

`INFO: Elapsed time: 24108.686s, Critical Path: 21192.22s`

[2019-04-19 02:47] #27495 closed

[2019-04-19 03:39] qzhong0605 commented on #27744
You could choose a disk with higher bandwidth,  such as 200MB/s, for me.  Or you could mount a ram disk and flush them to disk later.

[2019-04-19 03:47] qlzh727 commented on #27789
The stateful RNN behavior hasn't been update/change for long time, the hidden state is attached to the model instance, and is just as initial state when the new input is coming.

The line of input_eval is just using the previous output and make it the new input. As long as the model.reset_state() is not called, the hidden state will always be attached to the model, and been updated when the calcul

[2019-04-19 04:03] #27920 closed

[2019-04-19 05:06] ageron commented on #27829
Apparently the problem is now fixed, I don't get the error anymore.  Thanks @jvishnuvardhan .

[2019-04-19 05:06] TianLin0509 opened #27972 "Tensorflow 2.0's eager_execution for keras is not real."
For normal tensorflow codes, it works well.
However, for tf.keras, it actually performs as a static graph, which is terrible.

An good example is tensorflow 1.12.0, which enables users easily debug keras models.
I just wonder why not inherit the 1.12.0's mode in tf2.0? the former is much better.

[2019-04-19 05:33] mandeezh commented on #26182
I had the same problem,
after remove tensorflow 1.13, install 1.12, problem was solved!

pip install tensorflow-gpu==1.12.0

[2019-04-19 06:25] liqi-c commented on #27938
网速问题，很多工具无法成功下载，导致安装一直失败，尝试过用本地下载安装无法安装的工具，但是安装之后，用bazel安装依旧会自己下载
最后多次尝试安装，网络好的时候就能装上
或者只用安装某些工具，我只需要其中的一个工具，最后放弃整个pip_package安装，只安装了某些工具
sudo bazel build --config=noaws tensorflow/tools/graph_transforms:summarize_graph

[2019-04-19 06:29] ndandanov commented on #27840
Thank you for the elaborate replies, @wdirons!

I am novice to `bazel` so was unaware when it includes `build:xyz` parameters in the build. Therefore I modified the `build:xla --define with_xla_support` from `true` to `false` and the build seems to have succeeded and to result in a working wheel.

Using the `tensorflow/tensorflow:devel-gpu-py3` docker image from a couple of weeks ago, I also recei

[2019-04-19 06:55] ThisIsIsaac opened #27975 "CUDA Kernel throughput optimization"
I want to go through Tensorflow's CUDA kernels and optimize them. It seems like all the CUDA kernels are defined in `tensorflow/core/kernels` and `tensorflow/contrib` with some helper functions in `tensorflow/core/util`.

1. Is it okay for me to optimize kernels in tensorflow/core/kernels and send pull request?

2. now that tensorflow is moving to 2.0, are the CUDA kernels going to also change so

[2019-04-19 06:56] ThisIsIsaac commented on #27910
I re-issued this as a feature request template. I thought that may be a better fit,

[2019-04-19 07:12] ThisIsIsaac opened #27977 "increase throughput for `ResizeBilinearKernel`"
`ResizeBilinearKernel` in [cuda file](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/resize_bilinear_op_gpu.cu.cc) there are 3 major changes for improvement:

1. `images` is `NHWC` which makes reads and writes to global memory uncoalesced. By changing the input and output to `NCHW`, we can increase the overall speed by a few folds
2. instead of spawning each thread fo

[2019-04-19 07:28] alsrgv commented on #26460
Thanks for the update, @jaingaurav!

I have tried new functionality via `tensorflow/tensorflow:nightly-gpu-py3` and have a couple of questions.

First, the API requires one to do `tf.config.experimental.list_physical_devices('GPU')`, filter that list and provide remnants to `tf.config.experimental.set_visible_devices(physical_devices[1:], 'GPU')`.

During the list operation, TensorFlow creates a G

[2019-04-19 07:50] shakeebmurtaza opened #27978 "ValueError: Incompatible shapes between op input and calculated input gradient. Forward operation: Dec_Conv5/dcon1. Input index: 2. Original input shape: (?, 256, 256, 64). Calculated input gradient shape: (?, 512, 512, 64) #12700"
Please help me to solve this issue. Encountered error is pasted below:
Code File: [File.zip](https://github.com/tensorflow/tensorflow/files/3097435/File.zip)

**### ERROR**
---------------------------------------------------------------------------
InvalidArgumentError                      Traceback (most recent call last)
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/ops.py i

[2019-04-19 07:54] hahadashi commented on #25768
hi, i meet the problem that the batchnormalization can not get the min max value。how i set the UPDATE_OPS to the control dependencies when i train。can you give a demo？

[2019-04-19 08:10] jaingaurav commented on #26460
@alsrgv: Are you sure that you the listing operation is causing the GPU memory to be used? The listing API was supposed to be a lightweight operation that would not involve any memory allocation. Did you experience this with the 1.0 or 2.0 nightly?

Regarding the bug you mentioned with `tf.enable_eager_execution(config=config)`. This is a bug in the implementation. I'll look into it tomorrow and g

[2019-04-19 08:12] ANSHUMAN87 commented on #25614
@ved27 : Did you encounter this issue while running some model? If yes, would you be able to share the model? (Just for my reference).

Any way i have found the root-cause for your issue.
### **NOTE:** As of now TFLite does not have any memory limit for convolution.
I have verified with 3GB memory allocation, there is no issue.

But in your case, the **root-cause is classic "Integer overflow"**.

[2019-04-19 08:17] Luxas98 commented on #23733
@jing-dong Hi, check example of leak and no leak in https://github.com/Luxas98/tensorflow-gfile-memory-leak

Please let me know when you are done so I can remove the service account secrets and gs files :-)

[2019-04-19 08:21] SchenbergZY opened #27979 "optimizer weights not saved into keras.model.save() via TPU training"
While I need train over 12h on colab TPU, I should train the model, save and reload the model, and continue training. But [optimizer_weights] are not saved into my_model.h5. Here I have my demo code to examine this:

<em>import tensorflow as tf
from tensorflow.keras.layers import Input,Dense
from tensorflow.keras.models import Model
import numpy as np
from keras import backend as K
import os
np.ra

[2019-04-19 08:27] ved27 commented on #25768
Hi,

########
x = tf.placeholder(tf.float32, [None, 1], 'x')
y = tf.layers.batch_normalization(x, training=is_training)

update_ops = tf.get_collection(tf.GraphKeys.UPDATE_OPS)
with tf.control_dependencies(update_ops):
    y = tf.identity(y)
##########

will work.
Another way, you can create training step under " with tf.control_dependencies(update_ops):  "

---

[2019-04-19 08:29] alsrgv commented on #26460
@jaingaurav, thanks for the quick response.  I did experience it in `tensorflow/tensorflow:nightly-gpu-py3`, which reports itself as `1.14.1-dev20190417`.  Do you expect 2.0-nightly behavior to be different?  Is there a docker image with 2.0-gpu-nightly?

The way I verify GPU memory usage is via `nvidia-smi`.  After running `tf.config.experimental.list_physical_devices('GPU')` in one of the termin

[2019-04-19 08:40] hahadashi commented on #25768
my codes just try add the with tf.control_dependencies(update_ops): when update the gradients like
*****
update_ops = tf.get_collection(tf.GraphKeys.UPDATE_OPS)
       with tf.control_dependencies(update_ops):
               self.train_op = optimizer.apply_gradients(avg_grads_var, global_step=global_step)
*****
is right？？

or
i need add “update_ops = tf.get_collection(tf.GraphKeys.UPDATE_OPS)
with

[2019-04-19 08:42] hahadashi commented on #25768
forgot to thanks for you first

[2019-04-19 09:17] amrit-bhaskar commented on #25454
It looks like Keras only sees one of the GPUs.
Make sure that all GPUs are accessible.you can use device_lib with TensorFlow.
You can check all device list using following code:
`from tensorflow.python.client import device_lib
device_lib.list_local_devices()`

[2019-04-19 09:22] WuShaoXuan5 opened #27980 "why would I got "tensorflow.python.framework.errors_impl.DataLossError: Unable to open table file" when I use pretrain model download from https://github.com/tensorflow/models/tree/master/research/slim#pre-trained-models"
Hi,
I download resnet_v2_2017_04_14 from https://github.com/tensorflow/models/tree/master/research/slim#pre-trained-models,
and rename it as "resnet_v2_2017_04_14.ckpt".
But when I "tf.train.init_from_checkpoint " to initialize it ,I got "tensorflow.python.framework.errors_impl.DataLossError: Unable to open table file"
why would I got "tensorflow.python.framework.errors_impl.DataLossError: Unable

[2019-04-19 10:25] prclibo commented on #27507
@jvishnuvardhan Thanks for the remind.

Though below is not related to this question itself. But I found that `seed` is included in `tf.global_variables()`, so is it necessary to separately initialize `seed` besides `tf.global_variables_initializer()`?

[code]

This will output `global_variables [<tf.Variable 'ssss:0' shape=() dtype=int64>]`

[2019-04-19 10:34] ACSoft commented on #27576
Same problem here...

[2019-04-19 10:44] jinamshah commented on #27770
same issue is there for log_softmax_v2

[2019-04-19 10:49] ruanchong opened #27981 "Wrong document for dynamic_rnn"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: TF r1.13 (and many other versions)
- Doc Link: [tf.nn.dynamic_rnn](https:/

[2019-04-19 11:09] rocking5566 commented on #27880
Hi
This is my code for quantization aware training in keras.
https://gist.github.com/rocking5566/26637a1e969f0057811753050966a3a7

You can use  tf.keras.backend.get_session()
to get the session, then you can rewrite the graph created by keras.
Note that you should call sess.run(tf.global_variables_initializer()) after rewrite the graph.

However, there is still another issue in this code.
If you s

[2019-04-19 12:03] yt7589 commented on #27842
I had built the r2.0 branch complete successfully. When I ran the same program its output as below:

-40.0C = -40.0F
-10.0C = 14.0F
0.0C = 32.0F
8.0C = 46.0F
15.0C = 59.0F
22.0C = 72.0F
38.0C = 100.0F
WARNING: Logging before flag parsing goes to stderr.
W0419 19:57:08.641340  7520 deprecation.py:506] From D:\abiz\mnf\dev\tfg\lib\site-packages\tensorflow\python\ops\init_ops.py:1257: calling Varianc

[2019-04-19 12:05] yt7589 commented on #27842
I had built the r2.0 branch complete successfully. When I ran the same program its output as below:

-40.0C = -40.0F
-10.0C = 14.0F
0.0C = 32.0F
8.0C = 46.0F
15.0C = 59.0F
22.0C = 72.0F
38.0C = 100.0F
WARNING: Logging before flag parsing goes to stderr.
W0419 19:57:08.641340  7520 deprecation.py:506] From D:\abiz\mnf\dev\tfg\lib\site-packages\tensorflow\python\ops\init_ops.py:1257: calling Varianc

[2019-04-19 12:12] mariomeissner commented on #394
What's the equivalent solution on Windows?

[2019-04-19 12:24] lwander commented on #27789
Yeah, that's what I had assumed, which is why I was so surprised at how different the results were when explicitly passing past characters into the model vs. only passing the last generated character.  `model.reset_state()` is only called once before we start feeding the model any characters.

Trained to a loss of ~0.5, and with a temperature of 1.0

here is what the code generates without any mod

[2019-04-19 12:50] guoyejun commented on #27744
thanks,

i added an SSD disk as /dev/sdb1, and mount it to ~/.cache, it takes less time to finish the Linking.
`INFO: Elapsed time: 10584.843s, Critical Path: 5718.86s`

Looks that 535MB/s is still not enough for me.
`
$ sudo hdparm -t /dev/sdb1
/dev/sdb1:
 Timing buffered disk reads: 1608 MB in  3.00 seconds = 535.45 MB/sec
$ sudo hdparm -t /dev/sda1
/dev/sda1:
 Timing buffered disk reads: 512 MB

[2019-04-19 12:51] #18353 closed

[2019-04-19 12:52] tensorflowbutler commented on #18353
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-04-19 12:52] tensorflowbutler commented on #18769
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-04-19 12:52] tensorflowbutler commented on #27352
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-04-19 12:52] tensorflowbutler commented on #27390
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-04-19 13:23] EliotAndres commented on #27545
I also have this problem. Moreover, since `RunOptions` has been moved to compat.v1, there seem to be no proper way of generating a profiling timeline in TensorFlow 2.

[2019-04-19 13:24] Yuleung commented on #13463
Have you solved this problem? Same problem here.

[2019-04-19 13:26] Yuleung commented on #13463
@eliorc
 Have you solved this problem? Same problem here.

[2019-04-19 14:12] seanpmorgan commented on #27955
Fixed in 20190419 nightly. Thanks!

[2019-04-19 14:12] #27955 closed

[2019-04-19 14:13] krikru commented on #17022
Great that TensorFlow 1 finally supports Python 3.7! This page should probably be updated to reflect that: https://www.tensorflow.org/install/pip (currently, it says that for Python 3, only 3.4, 3.5 and 3.6 are suported)

Does this mean that Python 3.7 is also supported by the preview release of [TensorFlow 2.0 Alpha](https://www.tensorflow.org/alpha)?

[2019-04-19 14:16] alexcohn opened #27983 "TFLite crash on Android running a model for NNPI"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Platform and Distribution: **n/a**
- Mobile device: **Android Q Emulator** and **Xiaomi A2**
- TensorFlow installed from: **binary**
- TensorFlow version: **1.13.1**
- GPU model and memory: **?**

**Describe the current behavior**
Simple program wroks with CPU, but c

[2019-04-19 14:20] alexcohn commented on #27983
![Screenshot_1555683477](https://user-images.githubusercontent.com/736435/56428247-5f655080-62c7-11e9-958e-d56d2971a967.png)

[2019-04-19 14:25] cottrell commented on #25299
I've noticed this too. Basically the functional API model(inputs=..., outputs=...) appears to work with outputs=dict but subclass API, while it *runs*, returns a list.

It would be good to either kill the dict input/output feature across all model APIs or enable it. There should be one true way of doing things across the API. It would be interesting to understand why if this is tricky or not possi

[2019-04-19 14:31] vitalfadeev opened #27984 "Failed to load the native TensorFlow runtime. (ImportError: DLL load failed)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64
- Mobile device

[2019-04-19 14:34] ved27 commented on #25768
Yeah, any one works

[2019-04-19 14:36] pminervini opened #27985 "BUG - AttributeError: 'IndexedSlices' object has no attribute '_copy"
TensorFlow version:

[code]

Issue:

[code]

Environment information:

[code]

[2019-04-19 15:13] av8ramit commented on #17022
@lamberta who can update that in the appropriate places.

[Yes](https://pypi.org/manage/project/tensorflow/release/2.0.0a0/) it is.

[2019-04-19 15:37] boother opened #27987 "Linking error with libtflite_gpu_gl.so caused by TfLiteGpuDelegateDelete absence among exported symbols"
**System information:**
- OS Platform and Distribution: Linux Ubuntu 14.04
- TensorFlow installed from source
- TensorFlow version: 2.0 alpha
- Bazel version: 0.24.1
- GCC/Compiler version: clang 8.0.2

**Issue:**

TfLiteGpuDelegateDelete doesn't declared as exported symbol in tensorflow/lite/delegates/gpu/gl_delegate.h. This caused linking error with libtflite_gpu_gl.so.

Build command:
bazel bui

[2019-04-19 16:00] cg31 commented on #15213
It seems the function AllOf(...) in pattern_matcher.h doesn't compile with MSVC (with VS2017 and VS2019)  or LLVM 8.

[2019-04-19 16:03] qo4on commented on #27603
I have NVIDIA Creator Ready Driver 419.67 already installed. Cudatoolkit 10.0.130-0 and cudnn-7.3.1 installed also as I showed on the screenshot above. I don't understand what I should install separately.

[2019-04-19 16:31] allenlavoie commented on #27980
Oh interesting, those are still using the proto-based checkpoint format which hasn't been the default save format for years. `tf.train.Saver` (or in v2 `tf.compat.v1.Saver`) can still read them, although newer checkpoint tools probably won't. So you could load them with `tf.train.Saver` and re-save and then they should work with `assign_from_checkpoint`.

[2019-04-19 16:34] qlzh727 commented on #27789
Since the model is built with return_sequence=True, it should intake sequences and output sequences. So when you ask model to generate new test, the input should be previously generated words or sequences, not just the last char it previous generated.

To exam the hidden state of the model, specially for the GRU layer, you can get the state by gru_layer.states.

[2019-04-19 16:34] qlzh727 commented on #27789
Also adding Mark who works on documentation.

[2019-04-19 16:39] smohan10 commented on #23693
Is dilated conv supported for quantization case using create_training_graph() ?

[2019-04-19 16:40] robieta commented on #27511
https://github.com/tensorflow/tensorflow/commit/5956c7e9c44e23cd1a006df872ae468201fdb600#diff-e329ed6b8d30dca9a441689005047035 should fix the issue. I tested on the latest `tf-nightly-2.0-preview` and observed that memory is no longer increasing.

This also means that our keras tests for 2.0 haven't been properly independent, since https://github.com/tensorflow/tensorflow/blob/2fe0e5265cb74926df25

[2019-04-19 16:40] #27511 closed

[2019-04-19 16:46] dibya-pati commented on #27390
Hi, Its not an issue, but documentation request i.e. I can't figure out from the documentation how the tensors are encoded before getting written to disk using Save() in TF CC API, So, I don't know how to read the written tensor file in python. Sorry, I couldn't get some time write a snippet to demonstrate this. But , if someone just could point to some example or any material that shows how its e

[2019-04-19 16:55] lwander commented on #27789
If I remove `return_sequences=true` from the GRU layer, should the tutorial work as shown? (I'll try that right now).

Sorry, I don't exactly follow, where is `gru_layer` defined?

[2019-04-19 16:59] lwander commented on #27789
Removing `return_sequences=True` causes a dimension mismatch:

[code]

Note, I'm using sparse_softmax_cross_entropy_with_logits due to my TF version being 1.10

[2019-04-19 17:21] sadatnfs opened #27989 "AttributeError: module 'tensorflow_estimator.python.estimator.api._v1.estimator' has no attribute '__file__'"
Tensorflow builds through successfully but cannot import when I try (building off of Master branch):
[code]

**System information**
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian: Buster
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
TensorFlow installed from (source or binary): Source
TensorFlow version: Master branch
Python versi

[2019-04-19 17:28] bmiftah commented on #25337
If I may , what do you mean by clean install ?

[2019-04-19 17:47] jvishnuvardhan commented on #27732
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance.

This is more related to an issue with another repository. So please post in that [repo]

[2019-04-19 18:11] qlzh727 commented on #27892
Sorry for the breakage, seems that the issue has already been fixed by https://github.com/tensorflow/tensorflow/commit/eb741cedf304b411af6cae8ec2d60578cd3980a1. Which hasn't reach the release yet. I tested the same code in nightly release and the error is mitigated.

For now, I think you can update your code with following line, since the template does not have any updates.

[code]

[2019-04-19 18:19] reedwm commented on #27545
[`tf.train.ProfilerHook`](https://github.com/tensorflow/tensorflow/blob/c4b61514434646defb4c17ab10afe0e83fb9e969/tensorflow/python/training/basic_session_run_hooks.py#L979) is only exposed in Tensorflow 1. But, [`tf.estimator.ProfilerHook`](https://github.com/tensorflow/estimator/blob/b47b26cb0ecbd816e2e47146636caf58c54e57d7/tensorflow_estimator/python/estimator/hooks/basic_session_run_hooks.py#L4

[2019-04-19 18:21] jvishnuvardhan commented on #27887
@AchiraFernando It is strange. The saved model should give same performance as original.
Could you please check the tutorial listed [here](https://github.com/tensorflow/docs/blob/r1.12/site/en/r2/tutorials/keras/save_and_restore_models.ipynb) on saving and restoring models. Please let me know how it progresses. Thanks!

[2019-04-19 18:28] stevehawley commented on #26255
I'm also seeing this unknown error.
[code]
My configuration:
Windows 10 Home
Tensorflow 1.13.1
Python 3.5
GTX 1060 Mobile Max-Q

It doesn't happen every time I run my program. I have localized it to running load_model from keras, before reaching that point I have imported tensorflow and verified that gpu is available.
[code]
Switching to tensorflow 2 alpha is not an option for me at this time.

Is

[2019-04-19 18:38] DeepakVellampalli commented on #21164
I'm using TensorFlow 1.12.0 and still facing the same error. Any suggestions please?

`File "/home/deepakvellampalli/carla_9_3_rllib/models.py", line 7, in <module>
    import tensorflow.contrib.slim as slim
  File "/home/deepakvellampalli/.local/lib/python3.5/site-packages/tensorflow/contrib/__init__.py", line 57, in <module>
    from tensorflow.contrib import image
  File "/home/deepakvellampall

[2019-04-19 18:47] jvishnuvardhan commented on #27893
@Malonl Could you post this in [transform](https://github.com/tensorflow/transform/issues) or [tfx](https://github.com/tensorflow/tfx/issues) repos as it is more related to them. Please post i t there and then close here. Thanks!

[2019-04-19 18:54] ymodak commented on #27581
@tarrade Apologies for the delay in response. Thanks for the minimal code snippet. I was able to reproduce your behavior. It executes successfully in TF 1.13.1 and fails at ```model.predict_on_batch(training_dataset)``` with TF 2.0 alpha.

[2019-04-19 19:00] berger-stx commented on #20379
Might be fixed upstream, but this is still a problem in `1.13.1`.

[code]

throws

[code]

[2019-04-19 19:10] prateethvnayak commented on #27752
The cifar-10 binary example in tensorlfow/models repo.

[2019-04-19 19:15] Kuaranir opened #27990 "Can't install TensorFlow Windows 7 64bit Python 3.7.2"
here is a mistake after typing "pip install tensorlow".
I tried type it in cmd and PyCharm console too. Nothing.

C:\Users\Alex\PycharmProjects\ML>pip install tensorflow
Collecting tensorflow
  Could not find a version that satisfies the requirement tensorflow (from versions: )
No matching distribution found for tensorflow

[2019-04-19 19:29] seanpmorgan commented on #27697
@meteorcloudy today I tried building our package on OS X and ran into this error again

[code]
[code]

This isn't immedietely obvious to me why this would be happening unless the regex was failing, or osx protobuf is different? I tried purging bazel cache etc. to make sure it wasn't a my environment issue.

[2019-04-19 19:35] seanpmorgan commented on #27697
Just saw https://github.com/tensorflow/custom-op/issues/13 which looks to be another example of this happening on OSX nightly.

[2019-04-19 19:36] ymodak commented on #27750
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-04-19 19:41] sdeoras commented on #27931
@wdirons: Thanks for your inputs. v1.12.0 built just fine with cuda 10 on Jetson Nano using gcc 7.3. Please feel free to close this case since the gcc 7.3 related issue with v1.13.1 is being addressed at #25323

[2019-04-19 19:45] pminervini commented on #27985
Small snippet for reproducing the problem (needs eager and tensorflow-gpu):

[code]

More at https://github.com/tensorflow/tensorflow/pull/27986

[2019-04-19 19:57] geniusbabak commented on #24828
I have TF 2.0alpha, I had to go to cuDNN 7.4 from 7.5 on CUDA 10

[2019-04-19 20:25] ymodak commented on #27785
The example has been updated to support latest version of TF. ```tf.compat.v1.data.make_one_shot_iterator``` is correct for 2.0 compatibility. The [master branch example](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/how_tos/reading_data/fully_connected_reader.py)should pass in TF 1.13.1
You can also try [TF 1.12 branch example](https://github.com/tensorflow/tensorflow/b

[2019-04-19 20:29] gogasca commented on #24828
I wanted to run pre TF 1.13 and TF 1.13+, in Hadoop, and I needed to install CUDA Drivers to make it happen.
I created 2 scripts to install NVIDIA drivers in my Debian 9 instances:

[TF pipy compiled with CUDA 90](https://github.com/linkedin/TonY/blob/master/tony-examples/tony-in-gcp/scripts/install_gpu_cu90.sh
)
[TF pipy compiled with CUDA 10](https://github.com/linkedin/TonY/blob/master/tony-exa

[2019-04-19 20:31] ymodak commented on #26015
The latest tf nightly build fixes this issue. Feel free to reopen if have further questions. Thanks!

[2019-04-19 20:31] #26015 closed

[2019-04-19 20:39] jaingaurav commented on #26460
Thanks for the details. I have a fix for the regression that I am getting through code review.

Looking into the GPU memory allocation issue now. I was able to reproduce it locally.

[2019-04-19 21:13] ymodak commented on #27747
GitHub [unity-tensorflow-samples] (https://github.com/chen0040/unity-tensorflow-samples/issues) can be good platform to raise this question. Please post it on [unity-tensorflow-samples](https://github.com/chen0040/unity-tensorflow-samples/issues). Thanks!

[2019-04-19 21:13] #27747 closed

[2019-04-19 21:14] jing-dong commented on #23733
@Luxas98 Thanks for the simple examples for reproducing the memory leaks. I am able to reproduce the same problem as you described. I will look into the problem and update here if there is any findings.

[2019-04-19 21:18] #27711 closed

[2019-04-19 21:22] allenlavoie commented on #24234
We have [a guide which includes collecting variables](https://www.tensorflow.org/alpha/guide/checkpoints) now. tfe.* is going away, and Estimator works fine as you say. So I'm closing this as fixed/obsolete.

[2019-04-19 21:22] #24234 closed

[2019-04-19 21:23] jing-dong commented on #23733
Setting the following environment variable prevents the memory leak problem in Python 3.7 for me.
export ENV GCS_READ_CACHE_MAX_SIZE_MB=0

Can you please give it a try and see if this works for you? In the mean time, I will look into the root cause for the problem.

[2019-04-19 21:23] allenlavoie commented on #24027
Saver has been deprecated. Check out the [2.0 checkpointing guide](https://www.tensorflow.org/alpha/guide/checkpoints) for an API which does not depend on variable names.

[2019-04-19 21:23] #24027 closed

[2019-04-19 21:35] gargn commented on #27707
If this is a 1.X Keras model, then it should work after https://github.com/tensorflow/tensorflow/commit/c767cbf14c6133e6cfc782bc373b0ef0f4b1e2c6.

[2019-04-19 21:44] miaout17 commented on #27822
Beware. It will be problematic SoftPlus is simply transformed to log(exp(x) + 1).  There will be numerical stability issues when input is too large or too small.

If going the transformation route, we need to do something like this:
https://github.com/tensorflow/tensorflow/blob/ee82131dbccd4e99decb8c05c43bc2bb387ad6ac/tensorflow/core/kernels/softplus_op.h#L50

[2019-04-19 21:45] bduclaux opened #27992 "[TF 2.0] Issue with TPUStrategy / initialize_tpu_system"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installed from (source or binary): !pip install tensorflow-gpu==2.0.0-alpha0
- TensorFlow version (use command below): 2.0.0-alpha0
- Python version: 3.6.7 (Colab)

**Describe the current behavior*

[2019-04-19 21:50] lostmsu commented on #27984
Having faced the same issue myself, I'd like to request TensorFlow to report which DLL failed to load.

[2019-04-19 21:53] ymodak commented on #25094
@shyhtzonglee Have you installed the Microsoft Visual C++ 2015 Redistributable Update 3 https://www.tensorflow.org/install/pip#1.-install-the-python-development-environment-on-your-system

[2019-04-19 21:55] HanGuo97 opened #27993 "[TF2.0] Incorect Loss calculation in `keras.Model.evaluate` when last batch size is different."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-04-19 22:01] ymodak commented on #27877
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-04-19 22:01] #27877 closed

[2019-04-19 22:01] alextp commented on #27644
@agarwal-ashish I think this can be implemented somehow with autograph and pfor.

Assigning to you for triage.

[2019-04-19 22:01] pminervini commented on #24024
@netpaladinx @meyerjo you may be interested in this pull request of mine: https://github.com/tensorflow/tensorflow/pull/27986

[2019-04-19 22:07] ymodak commented on #27900
Can you try with,
```from tensorflow.keras.layers import Layer```

[2019-04-19 22:08] amitsrivastava78 commented on #27822
@miaout17,thanks for the heads up, highly appreciated your valuable input, will study this deeply and raise a PR in coming days

Regards
Amit

[2019-04-19 22:15] bduclaux commented on #27992
Please note that with tf-nightly-2.0-preview from 04/19, the above exceptions seem to be fixed, but another one comes when instantiating the Keras model. This one may be related to the worker name problem from above.

[code]

[code]

[2019-04-19 22:17] ymodak commented on #27471
Apologies for the delay in response. Your graphics card [GeForce GT 650M](https://developer.nvidia.com/cuda-gpus) has cuda compute capability (ccc) of 3.0 TF GPU requires ccc 3.5 or higher. Thanks!

[2019-04-19 22:17] #27471 closed

[2019-04-19 22:23] jvishnuvardhan commented on #27507
@prclibo Looks like this was an issue which was resolved in tf-nightly. Could you try running it in Google colab with !pip install tf-nightly. I don't see any issue with tf-nightly. Please let me know how it progress and close the issue if it was resolved by tf-nightly. Thanks!

[2019-04-19 22:23] ymodak commented on #27809
You need to install the Microsoft Visual C++ 2015 Redistributable Update 3.
https://www.tensorflow.org/install/pip#1.-install-the-python-development-environment-on-your-system

[2019-04-19 22:24] agarwal-ashish commented on #27644
@caissalover, regarding semantics of parallel_iterations in while_loop, conceptually it is unrolling up to that many loop iterations at any instant and then trying to execute it like a sequential graph. This allows up to that many iterations to run in parallel, but if there are dependencies across iterations, those dependencies are executed sequentially, while still trying to run other parts in pa

[2019-04-19 22:39] jvishnuvardhan commented on #27352
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-19 22:39] #27352 closed

[2019-04-19 22:40] erwa opened #27994 "compat.as_bytes should support bytearray"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.12
- Are you willing to contribute it (Yes/No): Yes

**D

[2019-04-19 23:00] ymodak commented on #27603
Right now you have to add bin, include, lib folders in your file system but not added to windows path. You have to add them. Take a look at  [Adding folder paths to the Windows path variable](https://docs.alfresco.com/4.2/tasks/fot-addpath.html)

[2019-04-19 23:07] ymodak commented on #26990
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-19 23:07] #26990 closed

[2019-04-19 23:09] ymodak commented on #26813
Closing this issue since it is IDE related. Feel free to reopen if have any questions. Thanks!

[2019-04-19 23:09] #26813 closed

[2019-04-19 23:09] jvishnuvardhan commented on #27465
@slapersonne I ran it in Google colab with TF1.13.1 and TF-nightly without any error. Could you try running it in colab and then on upgrade TF on your system to TF1.13.1 and run again.
[code]

You could also try with the tf-nightly by replacing !pip install tensorflow==1.13.1 with !pip install tf-nightly in the first line.

Please let me know how it progresses. Thanks!

[2019-04-19 23:19] ymodak commented on #26686
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-04-19 23:19] #26686 closed

[2019-04-19 23:27] lakrish commented on #3389
Not the best approach, but one workaround is to construct a graph def and load it in with [input_mapping](https://www.tensorflow.org/api_docs/python/tf/graph_util/import_graph_def) , through this the [tf.data.Iterator](https://www.tensorflow.org/api_docs/python/tf/data/Iterator) can be hooked up to any arbitrary graph which previously used placeholders for input. This is especially beneficial for

[2019-04-19 23:30] ymodak commented on #27684
@cottrell Thanks for trying TF 2.0 Alpha. The code snippet you provided looks incomplete. Can you please provide minimal code snippet to reproduce the issue reported here? Thanks!

[2019-04-19 23:31] mdanatg commented on #27644
@caissalover , could you give us a concrete example to make sure we're on the same page about the idea?
I think there are multiple ways in which it can be understood, and my take is annotating the loop somehow to error out if it cannot be trivially parallelized.

That would mean, this loop is trivially parallelizable:

[code]

Whereas this is not:

[code]

Does this match your suggestion?

[2019-04-19 23:37] ymodak commented on #27841
This issue is better asked on tensorflow/models repo. Please post it on models repo from [here](https://github.com/tensorflow/models/issues/new)
You can also ask on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2019-04-19 23:37] #27841 closed

[2019-04-19 23:46] myworldraj opened #27996 "LeakyRelu support in contrib.quantize"
**System information**
- TensorFlow version (you are using): 1.13.1
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
I am trying to create an eval graph with fake quantization nodes, from a checkpoint file, of a tensorflow implementation of YoloV3. My goal is to eventually convert this to a UINT8 (fully quantized) .tflite inference model us

[2019-04-19 23:56] ymodak commented on #27796
Thanks for trying TF 2.0 alpha. We need not apply shuffle on test data (however you can choose to shuffle test data as well) since it does not affect learning weights. Shuffling training data is good practice in order to overcome learning weight biases.

[2019-04-19 23:56] #27796 closed

[2019-04-19 23:57] wendy2003888 commented on #26209
My situation is whichever install method I tried following the official archive [here](https://developer.nvidia.com/cuda-10.0-download-archive),  apt-get always install 10.1
If you face same problem, you can reference [this](https://www.pytorials.com/how-to-install-tensorflow-gpu-with-cuda-10-0-for-python-on-ubuntu/) article

[2019-04-20 00:03] ymodak commented on #27509
Apologies for the delay in response. If you think it's a bug, please provide a minimal code snippet to reproduce the issue.
If you think we need to update our documents; please can you elaborate on what changes are you looking to be made. Thanks!

[2019-04-20 00:08] rongjiecomputer commented on #15213
I use `clang-cl` with MSVC and `-fno-delayed-template-parsing` flag to compile Tensorflow. If you use `/permissive-` flag with pure MSVC from latest update of VS2017/VS2019, it might work too.

[2019-04-20 00:09] ymodak commented on #27845
Thanks for the minimal code snippet to reproduce the issue. I was able to reproduce the behavior in TF 1.13 and latest nightly build.

[2019-04-20 00:25] cyriltw commented on #26182
Hi I'm having the same problem as the OP for your post. Trying to install TF GPU on a shared GPU cluster. I tried this but still no luck. Any suggestions?

`   _mod = imp.load_module('_pywrap_tensorflow_internal', fp, pathname, description)
ImportError: libcublas.so.9.0: cannot open shared object file: No such file or directory`

[2019-04-20 01:03] EricHeidal commented on #27517
Issue was fixed using these gradle dependencies together:
implementation 'com.google.firebase:firebase-ml-model-interpreter:18.0.0'
implementation 'org.tensorflow:tensorflow-lite:1.13.1@aar'

[2019-04-20 01:03] #27517 closed

[2019-04-20 01:04] wnov commented on #24828
I am confused that even it prints the above when I input `conda list cudnn`,and the error dose not always occurs.
And I can not find cuDNN and cudnn installed by conda, can you please give me some advice, so I can find out the course of the problem.

[2019-04-20 01:08] mhalenka commented on #27856
Just in case it might help, I got past this issue today by running
``pip3 install --upgrade --force-reinstall tb-nightly``

[2019-04-20 01:15] breadbread1984 commented on #27856
thx.

[2019-04-20 01:17] #27856 closed

[2019-04-20 01:19] qwtsc commented on #27688
The same problem happened to me, Tensorflow2.0, Cuda:10.0, Python3.6.8.

[2019-04-20 01:25] mathematiguy commented on #24403
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): r1.13 from source
- TensorFlow version (use command be

[2019-04-20 02:21] qwtsc commented on #27990
According to [official install guide](https://www.tensorflow.org/install/pip), tf only supports 3.6, 3.5, 3.4.

[2019-04-20 02:32] DequanZhu commented on #26813
It solved my problem, thank you!

At 2019-04-17 18:00:06, "Raphael Neumann" <notifications@github.com> wrote:

You can use the v1 api like so:

from tensorflow._api.v1.keras import Sequential
from tensorflow._api.v1.keras.layers import Dense

or the tensorflow.python api like so:

from tensorflow.python.keras import Sequential
from tensorflow.python.keras.layers import Dense

—
You are receiving t

[2019-04-20 03:17] hahadashi commented on #25768
i also meet the problem
"
Array kws_model/KWS_Model/tower_0/CNN_V1/first_bn/FusedBatchNorm_mul_0, which is an input to the Add operator producing the output array kws_model/KWS_Model/tower_0/CNN_V1/Relu, is lacking min/max data, which is necessary for quantization. Either target a non-quantized output format, or change the input graph to contain min/max information, or pass --default_ranges_min= a

[2019-04-20 03:32] syw2014 commented on #20098
Sovled it!!!

[2019-04-20 03:34] amilsted commented on #12917
It would be great to have this available - it would be very handy for quantum physics applications! Any news?

[2019-04-20 03:40] wookayin commented on #26472
Any feedbacks? I think we should make tf.Keras **NOT** use its own default session (`_SESSION`) when integrated to TF core. However, it can also break many things that have been relying on this implicit Keras session.

[2019-04-20 04:19] buleo opened #27997 "Import Error from Keras import"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Home
- TensorFlow i

[2019-04-20 04:24] ved27 commented on #25614
Yeah. I debugged and found the root cause earlier.
There has been inconsistency between the datatype usage in various parts of tflite . (int / size_t / unsigned int ).

And ultimately the GEMM's limitation , causing the crash to occur.

 I wished a better implementation of convolution in tflite. Implementations other than Im2Col, such as Kn2row can be deployed .

Thank you much

[2019-04-20 04:26] #25614 closed

[2019-04-20 04:45] #26255 closed

[2019-04-20 04:56] nm46nm opened #27998 "tensorflow/core/common_runtime/bfc_allocator.cc:246] tried to allocate 0 bytes"
I'm training some yolo models using

When I trained with 50 epochs, the test can be done although the results is bad.
So I trained with 150 epochs, and when I want to test with this model, I got the following ... (it's not an error but like an error):

Input image filename:eagle.jpg
(416, 416, 3)
2019-04-20 12:33:44.137176: E tensorflow/core/common_runtime/bfc_allocator.cc:246] tried to allocate 0

[2019-04-20 04:59] byronyi commented on #27998
Please fill in the information of your environment so we could know how to reproduce this error.

Thanks.

[2019-04-20 05:11] whaozl opened #27999 "I understand that java should be faster than Python. But not like this."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
[code]
[code]

[2019-04-20 05:15] nm46nm commented on #27998
I updated the problem with environment.

[2019-04-20 05:20] byronyi commented on #27998
Could you try to install the latest tf-nightly package? I believe this issue has been fixed.

[2019-04-20 05:40] eralmansouri commented on #27112
@mckeown12  Were you ever able to solve this problem? I'm having the same issue and not sure what is causing it. It only occurs with tf-nightly.