[2020-08-11 15:21] #41817 closed

[2020-08-11 15:21] Libardo1 commented on #42197
(base) PS C:\Users\Libardo> conda info

     active environment : base
    active env location : C:\ProgramData\Anaconda3
            shell level : 1
       user config file : C:\Users\Libardo\.condarc
 populated config files : C:\Users\Libardo\.condarc
          conda version : 4.8.4
    conda-build version : 3.19.2
         python version : 3.7.8.final.0
       virtual packages :
       base env

[2020-08-11 15:28] Priwinn commented on #33037
I would like to see this feature, though in latest stable releases, should I open another issue or can we add it here?

[2020-08-11 15:31] mr-goldhands commented on #41931
To not clone similar bug reports...
**Unable to build "Hello World" for ESP32**
I have received a similar error just trying to compile the "Hello World" example.

**Software environment to reproduce:**
- TF sources commit hash: aee9ca5dbd
- ESP-IDF v4.0.1

**Steps to reproduce:**
1. Clone TF sources repo
2. make -f tensorflow/lite/micro/tools/make/Makefile TARGET=esp generate_hello_world_esp_proje

[2020-08-11 15:35] nikitamaia commented on #40267
There's better support and testing when using TF2 without disabling v2 behavior. In TF2, variables are initialized automatically both in eager and graph contexts.

The following should be equivalent TF2 code. If you set `tf.debugging.set_log_device_placement(True)` you'll see that TPU is being used for all computation

[code]

You'll notice that with `tf.debugging.set_log_device_placement(True)` t

[2020-08-11 15:37] nikitamaia commented on #41813
Agreed, it is a bit confusing. Any suggestions on how to make the docs clearer here?

[2020-08-11 15:38] Echambouleyron opened #42236 "Unrecognized device error when setting memory growth"
**System information**
- OS Platform and Distribution : Windows 10
- TensorFlow installed from: PIP
- TensorFlow version: tf-nightly-gpu 2.4.0-dev20200808
- Python version: 3.7.4
- Installed using virtualenv? PIP
- CUDA/cuDNN version: CUDA 10.2
- GPU model and memory: GeForce GTX 1050 Ti

**Describe the problem**
When listing available physical devices GPU does appear. Nonetheless, when setting me

[2020-08-11 15:42] Flamefire commented on #41813
Maybe:

[2020-08-11 15:44] nikitamaia commented on #31252
Great! I'll close this issue now since checkpointing with Keras and MWMS is now working. Feel free to reopen if anything feels unresolved.

[2020-08-11 15:44] #31252 closed

[2020-08-11 15:46] Libardo1 commented on #42197
(base) PS C:\Users\Libardo> conda list --show-channel-urls
# packages in environment at C:\ProgramData\Anaconda3:
#
# Name                    Version                   Build  Channel
_anaconda_depends         2019.03                  py37_0    anaconda
_ipyw_jlab_nb_ext_conf    0.1.0                    py37_0    defaults
_tflow_select             2.1.0                       gpu    anaconda
abseil-

[2020-08-11 15:47] albertz commented on #40267
How can `RandomUniform` be calculated on TPU, if the op doesn't support TPU for computation? This is independent from which behavior is enabled/disabled, right?

[2020-08-11 15:52] andrewor14 commented on #31252
@nikitamaia could you point me to the commit(s) that may have fixed this? I'd like to see if I can cherry-pick them into my branch if necessary.

[2020-08-11 15:58] amahendrakar commented on #41374
@kaustubholpadkar,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-08-11 16:00] amahendrakar commented on #42185
@MannyKai,
Can we please close this issue since it is already being tracked there? Thanks!

[2020-08-11 16:01] nikitamaia commented on #40267
I don't think it's independent since variable initialization has different behavior in TF1 and TF2. For example, Keras and TPUStrategy work best with eager execution enables as noted in issue #38506.

[2020-08-11 16:07] nikitamaia commented on #41510
@andrescodas does the suggestion from @yidiq7 work for you?

[2020-08-11 16:15] amahendrakar commented on #42222
@zchrissirhcz,
Could you please confirm if [this](https://www.tensorflow.org/install/source?hl=zh-cn#gpu) is the page you are referring to? Thanks!

[2020-08-11 16:23] lamberta commented on #42168
Added an inclusive language check to `nblint` (https://github.com/tensorflow/docs/commit/1dd9809aaeaab958acd847ae29b4de87c79668fe). Can now use this to find issues in notebooks (wordlist should be easy to update). It's also part of the CI on the tensorflow/docs repo.

[code]

[2020-08-11 16:23] albertz commented on #40267
I'm just speaking about the `RandomUniform` op, not about variable initialization. Whether this op can be executed on TPU or not does not depend on the enabled behavior.

[2020-08-11 16:23] mihaimaruseac commented on #40302
Hi.

We are planning to modularize filesystems in TF and only offer the local filesystem by default in the pip package, requiring every other filesystem to be loaded at runtime from a shared library. RFC is at https://github.com/tensorflow/community/blob/master/rfcs/20190506-filesystem-plugin-modular-tensorflow.md and currently the implementation is at https://github.com/tensorflow/tensorflow/tree

[2020-08-11 16:26] andrescodas commented on #41510
Hi @nikitamaia ,

It computes the correct answer.  However:

- It is an open question whether it is the most efficient way (or preferred way) to compute a batch_jacobian of many targerts with respect to many sources.
- It seems to be bug that GradientTape.jacobian raises ValueError while recording within the gradient context.
- The message `ValueError: Tape is still recording, This can happen if y

[2020-08-11 16:26] Saduf2019 commented on #42214
@MannyKai
Please refer to [this link](https://www.tensorflow.org/lite/guide/ops_select#c) and let us know if it helps.

[2020-08-11 16:28] Saduf2019 commented on #42205
@DNXie
Please provide access to the link shared.

[2020-08-11 16:29] ravikyram commented on #42197
@Libardo1

Sorry, but we don't provide support for issues with the conda environment.
This issue is more suitable on Continuum [Anaconda repo](https://github.com/ContinuumIO/anaconda-issues/issues) since its related to TF installation with Anaconda.
Please post the issue on [Continuum Anaconda.](https://github.com/ContinuumIO/anaconda-issues/issues).Thanks!

[2020-08-11 16:34] ashwin-phadke commented on #42218
I'dl like to take this up.

[2020-08-11 16:47] penpornk commented on #34925
I have verified that the issue is gone. I'm closing the issue. Please feel free to reopen it if there are further problems.

[2020-08-11 16:47] #34925 closed

[2020-08-11 16:54] Saduf2019 commented on #42233
@nicolas-gervais
Request you to uninstall python and tensorflow .Please, install it again and see if the problem still persists.(You need a 64-bit version of Python and in your case are using a 32-bit version)
Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019.

I don't think Tensorflow support 32 bit architecture.Please, refer the issue #32315

Please, follow the instructi

[2020-08-11 16:58] Saduf2019 commented on #42184
@neesetifa
Could you please update.

[2020-08-11 17:03] nicolas-gervais commented on #42233
@Saduf2019

Hello and thanks for the response. May I ask what leads you to believe that my Python is 32bit? I have been using Tensorflow for a long time with no problem. I've been using RNNs more than usual and that's when the problem started. Now the problem is generalized to all my environments (venv, conda) and reinstalling hasn't worked.

I will still do everything you listed to be absolutely

[2020-08-11 17:04] mihaimaruseac commented on #41710
#42158 landed, I think we can close this now.

[2020-08-11 17:04] #41710 closed

[2020-08-11 17:20] gajeshladhar commented on #14132
Yes , tensorflow realy sucks , people have to solve some un-related problems due to tensorflows mistakes, i dont know how long it will take to launch neat and clean tensorflow version, sometimes thought older 1.x was better that this rubbish tf 2.x

[2020-08-11 17:21] clgilbe commented on #42079
@MeghnaNatraj The suggested solution worked for me to modify the input shape.  Thank you.

[2020-08-11 17:28] nicolas-gervais commented on #42233
[code]

[2020-08-11 17:33] amahendrakar commented on #41937
@Shikaz,
The [installation steps](https://www.tensorflow.org/install/source) for all Linux distributions are the same.

Could you please provide the complete code you are running. Also, check [#32623](https://github.com/tensorflow/tensorflow/issues/32623) and [#7653](https://github.com/tensorflow/tensorflow/issues/7653) and let us know if it works. Thanks!

[2020-08-11 17:38] nicolas-gervais commented on #42233
So I deleted this folder:
[code]
And everything fell into place, after a few days of not being able to do my work. For now, I guess it works...

[2020-08-11 17:38] nicolas-gervais commented on #42233
So I deleted this folder:
[code]
And everything fell into place, after a few days of not being able to do my work. For now, I guess it works...

[2020-08-11 17:38] #42233 closed

[2020-08-11 17:43] amahendrakar commented on #42038
@ScruffySilky,
Could you please share the code you are running, so that we can look into it. Thanks!

[2020-08-11 17:50] nicolas-gervais opened #42238 "tf.ones returns zeroes in tf-nightly 2.4.0-dev20200811"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 64bit
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.0-dev20200811
- Python version: 3.7.7
- CUDA/cuDNN version: 10.1.243
- GPU model and memory: Nvidi

[2020-08-11 17:53] amahendrakar commented on #42055
@nbe000,
Could you please check if you are facing the same error in a virtual environment as well?

Also if possible, check if a fresh/clean installation of the dependencies fixes the issue. Thanks!

[2020-08-11 17:54] Char-Aznable commented on #42221
I got same error when building with bazel 3.1.0

[2020-08-11 17:55] Saduf2019 commented on #42238
@nicolas-gervais
I ran the code shared on tf nightly and output is "'s" as expected, please find the [gist shared](https://colab.research.google.com/gist/Saduf2019/9d7026a9a87b492d72c53e4a048927d1/untitled359.ipynb).

[2020-08-11 17:58] lsabc commented on #6955
I have the same needs as well. Is there any solution? Thanks!

[2020-08-11 17:58] amahendrakar commented on #42083
@jeshxxx,
Could you please check if you are facing the same issue with TF v1.15 or TF v2.3? Thanks!

[2020-08-11 18:01] Saduf2019 commented on #42079
@clgilbe
Please move the issue to resolved status if resolved.

[2020-08-11 18:02] amahendrakar commented on #42090
@essandess,
You can copy the logs to a text file and then share the file with us. Thanks!

[2020-08-11 18:02] amahendrakar commented on #42090
@rockspring,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-08-11 18:15] martinwicke commented on #42239
@ayushch3 is it easy to verify whether the problem persists with a newer version of TensorFlow?

[2020-08-11 18:17] amahendrakar commented on #42121
@mkravchik,
I was able to run the given code snippet with a sample `.h5` file, without any issues. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/75e3f3c27c6f90b91a18b84ec8fd7b1e/42121.ipynb). Thanks!

[2020-08-11 18:21] mdanatg commented on #42201
It looks like certain inputs are indeed mismatched in the graph, but the error happens in the gradient ops. The error message about incorrect number of inputs looks like a red herring. Will update the bug title a bit.

[2020-08-11 18:21] Saduf2019 commented on #35099
@rrkarim
I ran the code on tf-nightly() ,please find the [gist here](https://colab.research.google.com/gist/Saduf2019/893f242891da72b30927815e155518b4/untitled359.ipynb) and [here](https://colab.research.google.com/gist/Saduf2019/4e4daa12e3b9b53c47c246bec5a4f33e/untitled359.ipynb).

[2020-08-11 18:23] malsulaimi commented on #42189
@amahendrakar Thank you very much for the fast response . I tried to apply the work around , but I'm getting a gradient related error :

This is my new code :
[code]

below is the error stack :

[code]

[2020-08-11 18:24] Saduf2019 commented on #34408
@Squadrick
Can you please update on this
Thanks!

[2020-08-11 18:25] ayushch3 commented on #42239
the code is running tf 2.2.0 @martinwicke

[2020-08-11 18:30] Saduf2019 commented on #31429
Was able to reproduce the issue with TF v2.3 and [TF-nightly ](https://colab.research.google.com/gist/Saduf2019/007bcd1a40306bb9c57096a9c7bd1e8c/untitled359.ipynb)

[2020-08-11 18:36] clgilbe commented on #42079
Resolved with solution from #42114 (comment)

[2020-08-11 18:36] #42079 closed

[2020-08-11 18:40] kentslaney commented on #42201
Actually, I think assign_add is unrelated, it seems to fail with any graph op that requires the variable, eg
https://colab.research.google.com/drive/11MZorVrToy1bng_GfgmSWwum4z6kUvEL#scrollTo=wGyr_8aK0iv5

[2020-08-11 18:41] jpoehnelt commented on #42168
Also see https://github.com/apps/in-solidarity. I wrote it last week and have it running on the googlemaps org right now.

[2020-08-11 18:41] ScruffySilky commented on #42038
[code]

[2020-08-11 18:44] martinwicke commented on #42239
Thanks (the template said 2.0.0, hence the question).

I'll let this be picked up by triage.

[2020-08-11 18:55] naoualberbiche commented on #42103
How i can solve this error while import TensorFlow

(TF_PY) C:\Users\hp>python -c "import tensorflow as tf;print(tf.reduce_sum(tf.ra
ndom.normal([1000, 1000])))"
Traceback (most recent call last):
  File "C:\Users\hp\anaconda3\envs\TF_PY\lib\site-packages\tensorflow\python\pyw
rap_tensorflow.py", line 64, in <module>
    from tensorflow.python._pywrap_tensorflow_internal import *
ImportError: DLL

[2020-08-11 19:05] 8bitmp3 commented on #42168
@lamberta Nice one. For the wordlist in `nblint` (`/tools/tensorflow_docs/tools/nblint/style/google.py`), what do think about these:

“turn on” -> “toggle (the) on (switch)”
“first class” -> “feature, built-in, top-level”
“cripple” -> “negatively impact”
“simply” -> False (Jim Fisher’s Don’t Say Simply)
“as you can see” -> False
“see” -> “go to”

This is more challenging:
“enable” -> “toggle/switc

[2020-08-11 19:10] jacksonloper opened #42242 "tf.convert_to_tensor and tf.constant ignoring tf.device"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/device

## Description of issue (what needs changing):

At least on 2.3.0, it seems to me that
[code]
will create an eager tensor `A` on the CPU device (it will not allocate ram on the gpu).  This is counter-intuitive to someone who has only read the doc as it is written.  My understanding is that this happens because tf.conv

[2020-08-11 19:21] lamberta commented on #42168
Makes sense. We should create separate lint checks to distinguish between inclusive language versus regular ole' unclear language. Ideally, every lint rule can link to a page in the [Google Dev Docs Style Guide](https://developers.google.com/style/highlights).

[2020-08-11 19:36] nikitamaia commented on #42000
Closing this issue now since this is a known issue being tracked in #36574 and there is a temporary workaround.

[2020-08-11 19:36] #42000 closed

[2020-08-11 19:44] DNXie commented on #42206
@amahendrakar  Seems like it is fixed in the nightly version.

[2020-08-11 19:45] DNXie commented on #42205
@Saduf2019  Done. And you can also reproduce it with the code I provided in the post.

[2020-08-11 19:46] nikitamaia commented on #35093
Closing this issue now since custom loss functions are supported with MirroredStrategy. Please open a new issue if you find an example where this is not the case.

[2020-08-11 19:46] #35093 closed

[2020-08-11 19:49] jvishnuvardhan commented on #42058
@pratapmalani

I am not sure why you installed CUDA drivers as you don't have GPU.

Some time back when i had issues with CPU and windows10 (but not Anaconda), I uninstalled all the TF versions and completely removed the folders related to Tensorflow and then reinstalled TF. Can you also try installing Python3.7/3.6 to check whether that resolves your issue.

Generally we don't support Anaconda ba

[2020-08-11 20:21] #41786 closed

[2020-08-11 20:25] jvishnuvardhan commented on #42192
@tueboesen Everything seems rights. Can you please share the commands you have used to install TF and GPU inside an environment. Thanks!

[2020-08-11 20:27] jvishnuvardhan commented on #42139
@Zahlii Can you please share a simple standalone code to reproduce the issue? Thanks!

[2020-08-11 20:31] mhmedeng opened #42243 "How can i solve data transferred from slave to master using SPI?"
I tried to make a communication between two AVR (ATmega128) using SPI. Data transferred correctly from master to slave but data transferred wrong from slave to master, the first sampled bit is always wrong. Slave sends (0X7E) to master but the received data is (0X3F). Where is the mistake?

Code of MASTER

#define F_CPU 16000000UL

#include <avr/io.h>
#include <util/delay.h>

#define DDR_SPI DDRB

[2020-08-11 21:37] tueboesen commented on #42192
I just went through the process once again, on my desktop computer dedicated for deep learning, just to verify the problem and I ended up with the same issue there.

I know this is a rather old version of tensorflow, and I wish I could just use a newer version but unfortunately, I need either version 1.13 or 1.14 in order to run the following code from a research article:
https://github.com/gjoni/

[2020-08-11 21:40] micahreich opened #42244 "Using custom, non-trainable layers in the middle of Keras model yields gradient error"
### Problem
I am writing a GAN-style model which uses an untrained / weightless layer in the middle of the GAN (a transformation is performed on the generator output which is then fed into the discriminator). The transformation operation is done with a custom layer, but I'm getting the following error at runtime when trying to train (after compiling both the discriminator and GAN model):

[code]

[2020-08-11 21:41] MarkDaoust commented on #42227
Hi @swel4ik,

TensorFlow's license is here: https://github.com/tensorflow/tensorflow/blob/master/LICENSE
Beyond that, we can't provide any legal advice.  You may want to consult your own counsel if you have questions.

[2020-08-11 21:41] #42227 closed

[2020-08-11 21:43] mgalgs commented on #41943
@jdduke shoot, I had to use something newer than 2.2 due to #41877 , so downgrading to 2.2 for model conversion isn't really an option :thinking: I'll try to get `flutter_tflite` updated and will report back with results.

[2020-08-11 21:45] qlzh727 commented on #40217
From https://github.com/tensorflow/models/blob/master/research/slim/nets/mobilenet/README.md, it seems that minimalistic small is achieving 61.9 TOP1 acc. Not sure which model you are using/training.

This is expected since the pretrained weights from original implementation only has 0.75 and 1.0 provided. You need to set the "weight" param to None if you want to use other value of alpha.

It has

[2020-08-11 21:49] nikitamaia commented on #41523
I tried to run that notebook but I'm not able to train the estimator with TF 2.3, even without a distribution strategy. I get the following error message, suggesting that there's something wrong with the input.

[code]

I'm seeing a variation of this error when I try to run any of the notebooks in that repo without distribution strategy. If I use TF 2.2 I still see a variation of this error messag

[2020-08-11 21:54] qlzh727 commented on #41028
Since this is already fixed in the latest nightly, I am closing this bug now.

[2020-08-11 21:54] #41028 closed

[2020-08-11 22:04] DNXie opened #42246 "tf.signal.inverse_stft segfault when frame_length is a large value"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-08-11 22:06] DNXie opened #42247 "tf.random.gamma crashes(segfault) when `alpha`'s constraint is violated"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-08-11 22:20] frreiss commented on #40171
@jvishnuvardhan, I think this issue needs to be kept open a while longer.

So far, we have verified that there is a serious memory leak in `tf.saved_model.load()` in TensorFlow 2.0.x, 2.1.x, and 2.2.x.

I would categorize this leak as a blocker for any application that needs to cycle models in and out of memory -- for example, to process a corpus of documents that span multiple languages; or to se

[2020-08-11 22:29] RayLucchesi commented on #41748
it seems this is due to having STUBS in the LD_LIBRARY_PATH when I remove that it works.

[2020-08-11 22:31] gunan commented on #42192
There may be various reasons, like your python may be 32 bit, or on windows, we saw that anything downloaded from windows store has issues due to sandboxing, or missing visual studio redistributable.
However, 1.14 is well outside our support windows, so I will mark this as community support.

[2020-08-11 23:28] raryanpur commented on #41977
@multiverse-tf thanks!

[2020-08-11 23:30] mihaimaruseac commented on #42219
TF 2.1 and later have a single pip package for both CPU and GPU. The GPU kernels and glue to CUDA take the additional space.

We are working on reducing size of pip package through multiple projects, including modularization, reducing number of CUDA capabilities we support, selective registration of kernels, etc.

Release notes, either in repo (https://github.com/tensorflow/tensorflow/blob/master/

[2020-08-11 23:38] ymodak commented on #42122
Perhaps you can try [Building TensorFlow Lite Standalone Pip](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/pip_package#building-tensorflow-lite-standalone-pip).

[2020-08-11 23:59] rrkarim commented on #35099
@Saduf2019 yeap, recently our PR also passed the tests so yeah (related to the inconsistency with shapes), so yeah I'm closing the issue. Thank you.

[2020-08-11 23:59] #35099 closed

[2020-08-12 00:13] tgaddair commented on #39008
@manivaradarajan any thoughts on this?  Seems this is still broken in TF 2.3.

[2020-08-12 00:18] yanxg commented on #32790
Two options:

1) use pip show tensorflow in somewhere you have already imported tensorflow; then you will find the location of your tensorflow under the name of Location; then go to the location; and then go to tensorflow_core under the location and then go to the examples; under the examples, download tutorials in https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/tutorials;

[2020-08-12 00:28] zchrissirhcz commented on #42222
@amahendrakar Yes, you are right, [this](https://www.tensorflow.org/install/source?hl=zh-cn#gpu) is the page I'm refering to.

[2020-08-12 00:43] OlegPonomaryov commented on #41780
A little bit more experiments.

I've tried replacing .fit(dataset, epochs=1) with .predict(dataset)
in both notebooks.
Everything runs OK, Peak Heap Usage and Peak Memory Usage are 3.62 GiBs for the Saved Model and 3.63 GiBs for the Keras H5. So the problem seemd to be specifically with the predict() method.

I've tried replacing
with tf.profiler.experimental.Profile(SAVED_MODEL_PROFILING_LOG):

[2020-08-12 00:55] OlegPonomaryov commented on #41780
A little bit more experiments. I\ve tried replacing `.fit(dataset, epochs=1)` with `.predict(dataset)` in both ["Saved Model only"](https://github.com/OlegPonomaryov/xception-saved-model-bug-demo/tree/saved-model-only) and ["Keras H5 only"](https://github.com/OlegPonomaryov/xception-saved-model-bug-demo/tree/h5-model-only) notebooks. Everything runs OK, Peak Heap Usage and Peak Memory Usage are 3.

[2020-08-12 01:07] alanpurple commented on #41446
@amahendrakar

ok

[2020-08-12 01:07] #41446 closed

[2020-08-12 01:08] alanpurple commented on #35977
@gunan

still happens with fresh windows 10 2004 installation + anaconda3-2020.07

[2020-08-12 01:38] Inquisitive-ME commented on #37341
I followed the install cuda with apt from here:
https://www.tensorflow.org/install/gpu

And I get:
`dpkg-query: no path found matching pattern *NvInferPlugin.h*`

It looks like just installing libnvinfer-plugin-dev would install versions for cuda 11 so I'm not sure if that's actually the correct thing to do.

I'm trying to build tensorflow v2.3.0 with cuda 10.1

[2020-08-12 01:58] tomerk commented on #39008
Does this work in the nightlies?

[2020-08-12 02:13] AlexanderJLiu commented on #39008
@tgaddair @tomerk  It seems to be working with  tf-nightly-2.4.0-dev20200811. Please see this [colab](https://colab.research.google.com/drive/1ZR3u993vmuLAjm6vMg5OHuw0jRap3Fop?usp=sharing)

[2020-08-12 02:28] Akpadhy commented on #41523
Please clone the repo now and check

Here is the notebook without distribution:
https://github.com/Akpadhy/tensorflow_model/blob/master/GPU_Testing_DL_wot_distribution.ipynb

[2020-08-12 02:34] jeshxxx commented on #42083
Sorry, my mistake. I mean running a tensorflow::GraphDef with DecodeJpeg op. My model is the same as https://github.com/tensorflow/serving/blob/r1.7/tensorflow_serving/example/inception_saved_model.py. And i load it using LoadSavedModel function in my cpp program which linked opencv-3.1.0.

[2020-08-12 02:41] BruceDai003 commented on #22766
Hello, I'm compiling cuda code using NVCC command, and also met this issue, simply add `-DNDEBUG` doesn't slove all related errors(I've 5 errors related). Just curious when is the `ABSL_ASSERT`? Can you explicitly tell me?

[2020-08-12 02:42] DNXie opened #42248 "tf.keras.backend.reverse crashes (floating point exception) when first dimension of `x` is 0"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-08-12 02:53] neesetifa commented on #42184
@Saduf2019  I'm so sorry for the delay.
Yesterday, I successfully convert the model using tf nightly, but got following problems:
1. If I use tf 2.2 to do inference, we get error "Didn't find op for builtin opcode 'RESIZE_NEAREST_NEIGHBOR' version '3' ", which is same as the one you mentioned before [link](https://github.com/google-coral/edgetpu/issues/152)

2. If I use tf nightly to do inference,

[2020-08-12 02:56] neesetifa commented on #42184
@abattery   Thanks for the reply. I tried that one before, and I get "segmentation fault" during conversion with no other information.

[2020-08-12 03:21] #41831 closed

[2020-08-12 03:25] yaooolei commented on #42018
any updates? +1

[2020-08-12 03:30] premthomas commented on #41855
I have the same problem.
Just two lines of code

`from tensorflow.keras.models import Sequential`
`model = Sequential()`

  File "C:/TF3/T2.py", line 3, in <module>
    model = Sequential()
  File "C:\TF3\lib\site-packages\tensorflow\python\training\tracking\base.py", line 464, in _method_wrapper
    result = method(self, *args, **kwargs)
  File "C:\TF3\lib\site-packages\tensorflow\python\keras\en

[2020-08-12 03:51] gowthamkpr commented on #41741
@hashtriton Has this issue been resolved?

[2020-08-12 04:20] sanjoy commented on #41855
[This](https://github.com/tensorflow/tensorflow/blob/c86ba08697d2c05e2a913774e70d11afe517528e/tensorflow/python/ops/resource_variable_ops.py#L167) is the failing assertion which seems to be GPU independent.  Do you know if you're doing something weird in your model?

[code]

seems to work fine for me though, on `tf-nightly`.

[2020-08-12 04:25] sanjoy commented on #42207
Tim, does this mean we need to adjust some of our heuristics in the passes listed?

CC @thomasjoerg @akuegel

[2020-08-12 04:41] ymodak commented on #41963
Can you please test MSVC 2019 since its tested for TF 2.3?
Thanks!

[2020-08-12 04:44] ZDisket commented on #41963
Since then I decided to use the regular Tensorflow C API, closing issue.

[2020-08-12 04:44] #41963 closed

[2020-08-12 04:46] gunan commented on #35977
I am guessing this is a problem where in anaconda installation numpy headers end up in a different location.
As we do not build/test with anaconda, I would have to defer to anaconda TF maintainers.

@ymodak do we have a pointer to anaconda issue tracker?

[2020-08-12 05:03] LINYOUWEI0804 opened #42249 "RuntimeError: tensorflow/lite/kernels/conv.cc:316 input->dims->data[3] != filter->dims->data[3] (4 != 3)Node number 1 (CONV_2D) failed to prepare."
ubuntu18.04
tf-nightly-gpu : '2.4.0-dev20200811'
numpy  :  1.18.3

I follow the official website to convert the file (https://www.tensorflow.org/lite/performance/post_training_integer_quant)
The first step is to convert .h5 files to tflite files(success!!),but When performing integer quantization This error occurred：

[RuntimeError: tensorflow/lite/kernels/conv.cc:316 input->dims->data[3] != filte

[2020-08-12 05:04] Saduf2019 commented on #42233
@nicolas-gervais
Thank you for your update,glad the issue is resolved.

[2020-08-12 05:08] AakashKumarNain commented on #41746
Sure. That would be great help. Thanks @nikitamaia

[2020-08-12 05:11] wptkddms opened #42250 "What means 'the resulting model is quantization aware but not quantized'"
Can anybody explain me what means 'the resulting model is quantization aware but not quantized' on [tutorial](https://www.tensorflow.org/model_optimization/guide/quantization/training_example?hl=en)
Is there no way to use Quantization-Aware-Training without tflite?

Thank you.

[2020-08-12 05:55] ravikyram commented on #42236
@Echambouleyron

Please, provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2020-08-12 06:13] ravikyram commented on #42242
@jacksonloper

Can you please share a simple standalone code to reproduce the issue? Thanks!

[2020-08-12 06:21] #41833 closed

[2020-08-12 06:24] curioyang commented on #25768
Hey , Do you have any solution to deal the DEFAULT_RANGES_MIN/MAX now?
I tried to add MinMax information into my model use Post-training method by (/tensorflow/bazel-bin/tensorflow/lite/toco/toco) .
But i don't know how to use the flage(	--arrays_extra_info_file=""      	string	Path to an optional file containing a serialized ArraysExtraInfo proto allowing to pass extra information about arrays no

[2020-08-12 06:40] curioyang opened #42251 "[Toco]freeze Min Max information by Post-Quantization"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 18
- TensorFlow installed from (source or binary): source
- TensorFlow version (or github SHA if from source): tf1.14

**Command used to run the converter or code if you’re using the Python API**

[code]

**TODO**

I try to use toco to freeze MinMax information into my model, but the default_ranges decrease th

[2020-08-12 06:43] stefan-falk commented on #42181
@abattery I am now just using `tf.concat` to return the predicted ids. This seems to work. 👍

[2020-08-12 06:44] ravikyram commented on #42246
@DNXie

If we change frame_length=27000 i am not seeing any issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/a31bfaa703ddd34548862e7860baf762/untitled242.ipynb).Thanks!

[2020-08-12 06:54] nicolas-gervais commented on #42238
@Saduf2019

Problem was fixed by downgrading to Tensorflow 2.1, see Stack Overflow [thread here](https://stackoverflow.com/questions/63363859/tf-ones-returns-zeros-instead-of-ones/63364685#63364685).

Apparently, Anaconda doesn't support Tensorflow 2.3

[2020-08-12 06:54] #42238 closed

[2020-08-12 07:00] thaink commented on #40504
@manmay-nakhashi Could you print the shapes related to Reshape?
Reshape can only stretch one dimension, Looks like you have two dimensions = -1.

[2020-08-12 07:07] ravikyram commented on #42249
@LINYOUWEI0804

Request you to share colab link or stand alone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-08-12 07:13] wanglei-source opened #42252 "There is memory leak in Invoke() of gpu delegate (OpenCL) in Tensorflow lite v2.3.0"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-08-12 07:13] murdockhou opened #42253 "Dose quantization aware training support tf.GradientTape() training?"
I'm using **tensorflow-gpu==2.3.0**, and I run below code for quantization aware training, seems that using tf.GradientTape() do nothing when run quantization aware training. Here is useful code which is tensorflow example [code](https://www.tensorflow.org/model_optimization/guide/quantization/training_example):
[code]
which you will get this output finally:
[code]

If using tf.GradientTape() for

[2020-08-12 07:16] stefan-falk opened #42254 "tf.signal.stft throws RuntimeException when pad_end=True"
**System information**
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow installed from: binary
- TensorFlow version: v2.3.0-rc2-23-gb36436b087 2.3.0
- Python version: 3.8 (Conda)

**Describe the current behavior**

`pad_end` of `tf.signal.stft` throws `RuntimeError` when set to `True`.

**Describe the expected behavior**

Should not throw a `RuntimeException` - just pad the end of the sig

[2020-08-12 07:24] LINYOUWEI0804 commented on #42249
My training program：
[train.zip](https://github.com/tensorflow/tensorflow/files/5061210/train.zip)

[2020-08-12 07:25] WindQAQ commented on #42254
A workaround is to wrap the function with lambda layer:

[code]

https://colab.research.google.com/drive/1l4OYzh4sy-6d9BAszCC39e9B6uFYRpHD?usp=sharing

[2020-08-12 07:25] AshishKumar4 commented on #38762
Has this issue been resolved? Facing this issue in Tensorflow 2.3.0 TPU v2-8 Cloud TPU while using tf.py_function for making tensorflow dataset

[2020-08-12 07:33] stefan-falk commented on #42254
@WindQAQ I am not sure if this is an option in my case. In my case I would have to wrap the entire preprocessing pipeline in a keras layer; But that might not be a bad idea after all..

Also it's possible to just pad it manually (see my original post).

[2020-08-12 07:34] nikroc896 commented on #33618
@jevad Can you tell me the build command or the file where '/std:c++14' should be specified?

[2020-08-12 07:45] Saduf2019 commented on #42254
@stefan-falk
I ran the code shared but face a different error, please have a look at the [gist here](https://colab.research.google.com/gist/Saduf2019/2207fbafc2e0bb6a2d763eb24db01746/untitled364.ipynb)

[2020-08-12 07:50] Saduf2019 commented on #42254
@stefan-falk
I made a change to your code and do not see the error, please refer to [this gist](https://colab.research.google.com/gist/Saduf2019/39afa070a5feb386627085bddf1d8f69/untitled364.ipynb) and update.

[2020-08-12 07:52] yananchen1989 opened #42255 "Seg fault after installing version 2.3.0"
I test my tensorflow by using the official guide:
`python -c "import tensorflow as tf;print(tf.reduce_sum(tf.random.normal([1000, 1000])))"`

It crashed with the info below:
[code]
**段错误 means  seg fault**
I also test with my own code in Python and it also crashed randomly.

Python Ver: 3.6.5

[2020-08-12 07:53] WindQAQ commented on #42254
Hi @stefan-falk, can you try to modify this line
https://github.com/tensorflow/tensorflow/blob/b36436b087bd8e8701ef51718179037cccdfc26e/tensorflow/python/ops/signal/shape_ops.py#L164
to
[code]
to see if it fixes the error?

[2020-08-12 08:09] stefan-falk commented on #42254
@WindQAQ I tested it in a debug session an can confirm that it works if we use `ops.convert_to_tensor([[0, pad_samples]])`

![image](https://user-images.githubusercontent.com/43335432/89991286-e6d88f00-dc83-11ea-9def-f5ec527a8a41.png)

[2020-08-12 08:14] Saduf2019 commented on #42238
@nicolas-gervais
Thank you Nicolas glad to hear the issue is resolved, it works fine on my colab as shared with you, do you want to update your python version and try.

[2020-08-12 08:20] Saduf2019 commented on #42250
@wptkddms
Where in the tutorial does it say that the model is quantization aware but not quantized?

QAT is done [model is typically trained ] to compensate for the loss in precision that might be introduced due to quantization. (When you reduce the precision of the parameters of your model, it can result in information loss and you might see some reduction in the accuracy of your model. In these

[2020-08-12 08:22] DeepakG19 commented on #41807
Hi Karim,

The saved_model in pb [saved_model.pb and \variables] runs without any issue for variable sized inputs. This was created after passing None,None in input placeholder dimension.

The above model is further used to create tflite, and since None or -1 or 1 is not a valid input, we specify a dummy size, for instance 512x512.
tflite is created passing 512x512x3:512x512x1:128x128x1:256x256x1

[2020-08-12 08:24] zldrobit opened #42256 "How to avoid AddV2 op in TFLite model?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `Ubuntu 18.04`
- TensorFlow installed from (source or binary): `pip/binary`
- TensorFlow version (or github SHA if from source):
`2.3.0`
`tflite 2.3.0 aar`

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The outpu

[2020-08-12 08:24] manmay-nakhashi commented on #40504
@thaink sure

[2020-08-12 08:30] HelloFloor opened #42257 "Resource exhausted error during training on GPU with tensorflow 2.1.0"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2020-08-12 08:30] albertz commented on #22766
Look at the error:

    absl/strings/string_view.h(501): error: constexpr function return is non-constant

It says, in file `absl/strings/string_view.h`, in line 501, there is some error.
When you look into that file, in this line, you will find `ABSL_ASSERT`. The suggestion was to just remove that.

But as you say, `-DNDEBUG` doesn't work for you, I suspect that you actually have some different e

[2020-08-12 08:33] Saduf2019 commented on #42244
@micahreich
Please fill the issue template, it helps us to replicate the issue on the tf version you have faced the error on along with the system information.

Please provide complete code such that we can replicate the issue(with all dependencies) or if possible share a colab gist with error faced.

With respect to the error reported, refer to below resolved issues with same error:
#39169 #41162

[2020-08-12 08:36] Saduf2019 commented on #42256
@zldrobit
Please share complete information for us to replicate th eissue faced, i ran the code shared and face a different issue, [gist](https://colab.research.google.com/gist/Saduf2019/f43423fa38f09670c520cd8ac731758c/untitled365.ipynb) for the same.

[2020-08-12 08:49] nikroc896 opened #42258 "Unable to build tflite aar file on windows"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows10
- Mobile device (e.g

[2020-08-12 08:54] zldrobit commented on #42256
@Saduf2019 I have uploaded the model to https://drive.google.com/file/d/1Z4jJ6DwP_A1o2fyN8oSMhEz6quRJ42Jf/view?usp=sharing

[2020-08-12 09:13] hafez-ahmad commented on #39768
pip install tensorflow
 Downloading tensorflow-2.3.0-cp38-cp38-win_amd64.whl (342.5 MB)
this is not working for python 3.8 . what can I do ? please

[2020-08-12 09:19] LeicongLi commented on #42255
You might want to share the specs of your environment, otherwise no one is able to reproduce.

[2020-08-12 09:21] #41685 closed

[2020-08-12 09:21] #38431 closed

[2020-08-12 09:37] Aiden1729 opened #42259 "Helloworld example on esp32 not working"
@tensorflow/micro

After building andd flashing the helloworld example for esp32. esp32 keeps on rebooting with the reason as mofying a null pointer

Logs From esp-32:

rst:0x1 (POWERON_RESET),boot:0x13 (SPI_FAST_FLASH_BOOT)
configsip: 0, SPIWP:0xee
clk_drv:0x00,q_drv:0x00,d_drv:0x00,cs0_drv:0x00,hd_drv:0x00,wp_drv:0x00
mode:DIO, clock div:2
load:0x3fff0018,len:4
load:0x3fff001c,len:6864
ho 0 tail

[2020-08-12 09:58] yananchen1989 commented on #42255
I am not in the account of ROOT, so I suppose I have use some functions which can not be used by non-administrator.

I run iPython in virtual environment.

(```
venv3.6) [work@c4-miui-sec-preview0 yanan]$ python3 --version
Python 3.6.5
(venv3.6) [work@c4-miui-sec-preview0 yanan]$ pip3 --version

pip 20.2.1 from /home/work/bigdata/venv3.6/lib/python3.6/site-packages/pip (python 3.6)
(venv3.6) [work

[2020-08-12 09:59] yananchen1989 commented on #42255
I changed the version of tf to 2.2.0, as shown above.
The issue is still there.

[2020-08-12 10:07] yash04singh opened #42260 "ValueError: Unknown activation: ELU"
from keras.models import load_model
model = load_model('discriminator_model_800.h5')

above got  this error ValueError: Unknown activation: ELU

[2020-08-12 10:10] manmay-nakhashi commented on #40504
@thaink
[{'name': 'input_ids', 'index': 0, 'shape': array([1, 1], dtype=int32), 'shape_signature': array([ 1, -1], dtype=int32), 'dtype': <class 'numpy.int32'>, 'quantization': (0.0, 0), 'quantization_parameters': {'scales': array([], dtype=float32), 'zero_points': array([], dtype=int32), 'quantized_dimension': 0}, 'sparsity_parameters': {}}, {'name': 'speaker_ids', 'index': 1, 'shape': array([1],

[2020-08-12 10:17] manmay-nakhashi commented on #40504
[fastspeech2_quant.zip](https://github.com/tensorflow/tensorflow/files/5062025/fastspeech2_quant.zip)

[2020-08-12 10:19] jacksonloper commented on #42242
I don't think there's really an issue with the code per se, it's a doc
issue.  But how about this?

Given current docs, one would expect: A.device (from post, above) to be GPU

Actually: A.device is CPU

Solution: make it clear in the docs why this is the case

Does that help?

On Wed, Aug 12, 2020, 2:13 AM ravikyram <notifications@github.com> wrote:

[2020-08-12 10:20] Saduf2019 commented on #42259
@Aiden1729
This issue has already been reported #40956 #40956 #42075 can we close this issue as it is already tracked.

[2020-08-12 10:24] ravikyram commented on #42255
@yananchen1989

Request you to fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

Provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2020-08-12 10:26] quassy commented on #36310
I can confirm this problem with two GPUs in mirrored strategy, 6105 records and a batch size of 4, i.e. 1 remaining record for the last step.

[2020-08-12 10:49] ravikyram commented on #42260
@yash04singh

Request you to fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

Can you please share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.

Also, refer similar type of issues with activation functions [link1
](https://stackoverflow.com/questions/55364954/keras-load-model-cant-recog

[2020-08-12 10:54] ravikyram commented on #42257
@HelloFloor

Limiting gpu memory can help resolve OOM error.
See https://www.tensorflow.org/guide/using_gpu#allowing_gpu_memory_growth.
Thanks!

[2020-08-12 11:09] Aiden1729 commented on #42259
But the issuee you mentioned seem to be different from what i am facing

Thanks & Regards,
Akhil Sai
Contact: 9004539499

On Wed, 12 Aug, 2020, 3:51 PM Saduf2019, <notifications@github.com> wrote:

[2020-08-12 11:11] #42166 closed

[2020-08-12 11:15] HelloFloor commented on #42257
@ravikyram, thank you for the answer. I tried that already, as is visible in my code snippet:
import tensorflow as tf
tf.config.experimental.set_memory_growth(tf.config.experimental.list_physical_devices('GPU')[0], True)
Do you have any other advice how to fix this error?
Thanks!

[2020-08-12 11:24] Saduf2019 commented on #42256
@zldrobit
I tried to access the link shared it says no preview available.

[2020-08-12 11:37] StevenBanama commented on #38698
You can clean it by hand as below. It works for me.
models.load_weights("{path}")
model_refresh_without_nan(models)

def model_refresh_without_nan(models):
    import numpy as np
    valid_weights = []
    for l in models.get_weights():
        if np.isnan(l).any():
            valid_weights.append(np.nan_to_num(l))
            print("!!!!!", l)
        else:
            valid_weights.append(l)

[2020-08-12 11:41] Saduf2019 commented on #34200
Issue replicating with given code for tf-2.3, please find [gist here](https://colab.research.google.com/gist/Saduf2019/b63e790d96b37fa0e4ee6bf758f80de3/untitled368.ipynb)

[2020-08-12 11:47] reckzhou opened #42262 "has no attr named '_XlaCompile'"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2020-08-12 11:47] fl0711 commented on #37615
Hi,

for me this was fixed when I wrote

`loaded = tf.saved_model.load(model_dir)
model = loaded.signatures['serving_default']`

when loading the model in my main instead of wrapping the loading inside the load_model() function. Alternatively you can also go with `tf.compat.v1.disable_eager_execution()`.
However, I don't know why TF would delete the variables when you return the model via your loa

[2020-08-12 12:15] ravikyram commented on #42262
@reckzhou

Request you to fill issue template,
Please, share simple standalone code to reproduce the issue.It helps us in localizing the issue faster.

Please, see the comments of similar error [here](https://stackoverflow.com/questions/50756848/xla-compile-error-operation-has-no-attr-named-xlacompile) and see if it helps you.Thanks!

[2020-08-12 12:41] Jordy-VL opened #42263 "Custom TF metric: "Graph" tensor leakage"
System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
TensorFlow installed from (source or binary): binary
TensorFlow version (use command below): v2.2
Python version: 3.6.9
CUDA/cuDNN version: v10.2
GPU model and memory: GeForce GTX 1070 - 8117MiB

Describe

[2020-08-12 12:43] Yasin40 commented on #30716
How can i cross compile TF for ODROID? This script work for odroid xu4?

[2020-08-12 12:57] OlegPonomaryov commented on #41780
And another update, I've also tried the VGG16 and here are the results:
### Saved Model
**Peak Heap Usage:** 0.20 GiBs
**Peak Memory Usage:** 5.83 GiBs
### Keras H5
**Peak Heap Usage:** 5.22 GiBs
**Peak Memory Usage:** 5.22 GiBs

So in contrast to other models, in this case Peak Memory Usage of the Saved Model is just a little bit higher compared to the Keras H5. The Saved Model also has an oddly

[2020-08-12 13:00] tinoucas commented on #41876
I have the same issue.
Until it gets fixed, is there a workaround?

[2020-08-12 13:00] Flamefire opened #42264 "Using system NASM results in "cycle in dependency graph" error"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL 7
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.x (all from 2.0 to 2.3)
- Bazel version (if compiling from source): 0.29.1

**Describe the problem**

Using system NASM makes the build error with:
[code]

**Provide the exact sequence of commands / steps that you executed before ru

[2020-08-12 13:07] DNXie commented on #42246
@ravikyram I agree. But the function shouldn't crash with invalid input.

[2020-08-12 13:49] ivan866 commented on #29070
same issue. win10 x64; tf-gpu 2.2.0; pasta 0.1 / 0.2

[2020-08-12 13:53] premthomas commented on #41855
The py file that I created has nothing more than the two lines of code as mentioned.

The code file has nothing more than these two lines. No other imports. No further modeling. I have installed all packages in this PyCharm project by updating the interpreter. TensorFlow 2.3.0 is installed and tf-nightly 2.4.0 dev20200811.

Why would this work in Jupyter Notebooks or Colab but not in PyCharm?

[2020-08-12 14:08] nicolas-gervais commented on #42238
I think it has to do more with Anaconda than the Python version. Please advise.

[2020-08-12 14:09] Saduf2019 commented on #37615
I am able to replicate this issue on tf-nightly ( 2.4.0-dev20200812), please find the [gist here](https://colab.research.google.com/gist/Saduf2019/51bfd15bc3e365eea993b0214e44789d/untitled367.ipynb)

[2020-08-12 14:15] Elona-marti opened #42265 "Installation issue with Tensorflow"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
- TensorFlow version: 2.2
- Python version: 3.7
- Installed using virtualenv? pip? conda?: pip
I have freezed a Tkinter-using GUI Python 3.7 app with cx_Freeze.On my laptop, the app works perfectly. But when I try on a laptop that doesn't have python, I have this error:

![error](https://user-images.github

[2020-08-12 14:15] meric-sakarya commented on #41196
Yes I am definitely not seeing max gpu utilization. I tried the code nothing changed.

[2020-08-12 14:26] Saduf2019 commented on #38970
@atodniAr
I ran the code on tf-nightly (2.4.0-dev20200812) and the issue seems resolved, please verify with [this gist](https://colab.research.google.com/gist/Saduf2019/dfd2481aa8142d108e34dc079d840805/untitled367.ipynb), and confirm if the issue can be moved to closed status.

[2020-08-12 14:33] RaresDima commented on #42219
@mihaimaruseac Thank you!

[2020-08-12 14:33] #42219 closed

[2020-08-12 14:41] Flamefire commented on #37835
*Ping*

This currently seems to apply to protobuf and jsoncpp

[2020-08-12 14:43] nikitamaia commented on #42223
Possibly related to #32895? Although it doesn't look like the explanation provided in that issue applies to this case.

[2020-08-12 14:51] Flamefire opened #42267 "Debundled/System JsonCPP uses wrong header path"
**Describe the problem**

When using TF_SYSTEM_LIBS=jsoncpp_git the build scripts will try linking headers from `$(INCLUDEDIR)/jsoncpp/json/` which has 2 problems:

1. INCLUDEDIR cannot be set for JsonCPP only making it impossible to install jsoncpp to a custom prefix (e.g. /opt/jsoncpp), see #37835
2. When installing JsonCPP there will be headers `<prefix>/include/json/*.h`. I.e. there is no addi

[2020-08-12 14:53] vipermu commented on #34942
@jsimsa could you please provide information about how to use this flag or where we can find information about it? Thanks

[2020-08-12 15:06] perone commented on #42126
If it is working on Colab, it looks that it might be something related to environment or resources, since it is a big model, it might be memory management, are there any debugging flags I can enable to get more verbose info on what is going on ? I understand it doesn't reproduce on Colab, but that is like "works on my computer".

This is the log I get on the first run of the loop:

[code]

it allo

[2020-08-12 15:11] yasinalm commented on #32052
In my case, `input_signature` argument in `tf.function` decorated functions dramatically reduced memory usage.

For example, if you have a function like this:
[code]

You can specify the `input_signature` like this:
[code]
where the input image is of the shape `[batch, height, width, channels]`, and of the type `tf.float32`.

Although this avoids expensive retracing and significantly reduces memor

[2020-08-12 15:16] vfsfitvnm commented on #39132
`sudo ln -s /opt/cuda/targets/x86_64-linux/lib/libcudart.so.10.2 /usr/lib/libcudart.so.10.1`
 worked for me.

[2020-08-12 15:16] Vinay-Rao commented on #42122
Trying the first method in the link, build in progress - `tensorflow/lite/tools/pip_package/build_pip_package.sh`. It is taking more time than I thought, probably since the RPi processor is slow.

In the process of getting this script to build, realized, I was missing another wheel related tool, had to do `pip3 install wheel`. May be it will help the initial pip3 install of the .whl file I was try

[2020-08-12 15:37] mihaimaruseac commented on #42211
This is a bazel issue, not TF

[2020-08-12 15:37] #42211 closed

[2020-08-12 15:40] mihaimaruseac commented on #39768
@hafez-ahmad this issue is not the right place for that, you should have opened a new issue, filling in issue template.

I gather you are on Windows. Is your python 64 bits? Did you install the latest MSCV redistributable? When you installed Python, did you get it from the Python website or from Windows Marketplace?

[2020-08-12 15:44] hafez-ahmad commented on #39768
Yesterday,I installed python 3.8. I have solved it.
I just open cmd as Administrator. then, I have installed tensorflow in python 3.8.

[2020-08-12 16:21] #41632 closed

[2020-08-12 16:21] #41858 closed

[2020-08-12 16:42] nicosacco opened #42271 "Model using Conv1D returns socket closed error on TPU while with SeparableConv1D works"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): GCP instance Debian 9
- TensorFlow installed from (source or binary): installed via pip
- TensorFlow version (use command below): 2.3
- Python version: 3.7.6
- **TPU** model: TPU v3-8

**Describe the current behavior

[2020-08-12 16:50] Libardo1 commented on #42197
OK, TIA

[2020-08-12 16:50] #42197 closed

[2020-08-12 17:04] SmileTM opened #42272 "checkpoint.restore can't work"
version: tensorflow2.2  2.3

[code]

Then I load the model. It reports an error

[code]
 It reports an error.

WARNING:tensorflow:Unresolved object in checkpoint: (root).tmodel.dense
WARNING:tensorflow:Unresolved object in checkpoint: (root).tmodel.dense.kernel
WARNING:tensorflow:Unresolved object in checkpoint: (root).tmodel.dense.bias
WARNING:tensorflow:A checkpoint was restored (e.g. tf.train.C

[2020-08-12 17:19] fsan commented on #28053
I have this problem because of a condition of two different processes concurring for initilizating tensorflow.
I really did not solve the problem, but, I found some workaround for my case.

Im using a Nvidia v100 + Nvidia tensorflow docker image 20.03
I have a lib that wraps some Tensorflow models and an application that runs this lib + another models in tf too.

In the beginning of my app I start

[2020-08-12 17:21] #41852 closed

[2020-08-12 17:21] #41524 closed

[2020-08-12 17:37] vladbph commented on #41843
Sorry for the delay. I did make it publicly available, just added anyone can edit rights... Could you please try it.
https://colab.research.google.com/drive/1TnU5zWWyLeDnk2K-6aVeur0W9zEscWuX?usp=sharing

[2020-08-12 17:42] tomerk commented on #39008
Excellent! I'll go ahead and close this issue then.

[2020-08-12 17:42] #39008 closed

[2020-08-12 17:42] amahendrakar commented on #42142
@bsaravi,
On running the `bugTrain.py` file, I am facing an error stating `ModuleNotFoundError: No module named 'fire'`.

Commenting out that line throws the error `subprocess.CalledProcessError: Command 'python3 -m pybind11 --includes' returned non-zero exit status 1.`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/e969cb328cab44d46437f813bb6c1b6b/42142.ipy

[2020-08-12 17:44] amahendrakar commented on #42175
@sramakrishnan247,
I do not have the permission to view the files. Please try saving the Gist using the following method 'File' -> 'Save a copy as Github Gist', and share the link of the new window. Thanks!

[2020-08-12 17:49] sramakrishnan247 commented on #42175
@amahendrakar Fixed it!
Please check. Thanks!

[2020-08-12 17:57] amitDaMan opened #42276 "tensorflow lite native app, undefined reference to `NnApiImplementation()'"
I am getting the following error on these line:

[code]
.../benchmark_jni.cpp:413: undefined reference to `NnApiImplementation()'

NnApiImplementation() is referenced in nnapi_implementation.h:
[code]

I had previously built the arm64-v8a shared library as illustrated in this guide:
https://www.tensorflow.org/lite/guide/android#build_in_android_studio

using the docker image method and finally bui

[2020-08-12 18:02] nikitamaia commented on #41523
Okay this time I was able to train without distribution, and also reproduce the error message with distribution. However I tried to run the single estimator without using the combined estimator and I was unable to train it successfully, even without distribution.

It's difficult to debug this case since you have a lot of custom code. If your combined estimator is also of type estimator, then I don

[2020-08-12 18:19] #41874 closed

[2020-08-12 18:31] dev0x13 opened #42277 "XNNPACK delegate performs much slower than default TFLite backend if multi-threading is configured according to documentation"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 16.04, Android 10**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **Any Android smarthphone**
- TensorFlow installed from (source or binary): **Sou

[2020-08-12 18:43] gowthamkpr commented on #42257
Your model just doesn't fit in your GPU. The memory of your GPU is not enough, that's why you're getting it.

Please take a look at this [issue](https://stackoverflow.com/questions/59394947/how-to-fix-resourceexhaustederror-oom-when-allocating-tensor) to solve this problem. Thanks!

[2020-08-12 18:43] amahendrakar commented on #42106
@sarthak3248,
On running the code, I am facing an error stating `NameError: name 'max_len' is not defined`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/1ad2d0ac60ece6190c4fe1f37b606cb8/42106.ipynb).

Could you please provide the complete code and the dataset you are using to save the model? Thanks!

[2020-08-12 18:46] mr-goldhands commented on #42170
@YarivCol , cold you specify your Tensorflow **sources** SHA?
You can use the command: `git rev-parse --short HEAD`

[2020-08-12 18:49] HelloFloor commented on #42257
Thank you for the response. But if it doesn't fit, how is it possible that I can run it for almost 200 epochs before I get the ResourceExhaustedError?

[2020-08-12 18:49] crccw commented on #42200
Communicating over network has significant overhead compared to communicating within one host, so it won't be 2X. Being said, >1s collective time is long for this model, what's your network condition?

Could you set communicaiton to NCCL when creating MultiWorkerMirroredStrategy. Maybe also run https://github.com/NVIDIA/nccl-tests to confirm to bandwidth

[2020-08-12 18:51] DNXie opened #42278 "tf.nn.fractional_max_pool aborts when pooling_ratio is negative"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-08-12 18:53] #42272 closed

[2020-08-12 18:58] adityapaul commented on #42106
Sure. The full code is here:

[code]

The SICK dataset is attached [here](https://github.com/tensorflow/tensorflow/files/5065041/SICK.txt). The 50-dimensional GloVe vectors are too large to upload here, but can be downloaded with

[code]

[2020-08-12 19:02] SmileTM commented on #42272
oh, `checkpoint.restore` need  the model load data, then it will work.

But , the picture still have some Compile bug，the doc needs to renew.

[2020-08-12 19:06] gowthamkpr commented on #41200
@RomanGirin Tried reproducing this issue but ran into an other error. Please take a look at it [here](https://colab.research.google.com/gist/gowthamkpr/7d7724873335ec5afc03395293910c54/untitled.ipynb)

[2020-08-12 19:10] jvishnuvardhan commented on #42242
@jacksonloper Currently there is some description [here](https://www.tensorflow.org/guide/gpu). You can set the device placement for any op. You can also check some useful info [here](https://www.tensorflow.org/guide/variable).

Setting `set_log_device_placement` will place the ops on the specified device.
import tensorflow as tf
tf.debugging.set_log_device_placement(True)
import numpy.random as n

[2020-08-12 19:16] gowthamkpr commented on #41204
@don-prog Please grant me the requests of your gists and also please make them public. Thanks!

[2020-08-12 19:27] jvishnuvardhan commented on #42218
I am closing this issue as it is resolved in `tf-nightly` through the https://github.com/tensorflow/docs/pull/1648 that was merged already. New change will be reflected soon.

[here](https://cloud.google.com/monitoring/docs/monitoring_in_console) is the correct link. Thanks!

[2020-08-12 19:27] #42218 closed

[2020-08-12 19:30] DNXie opened #42279 "tf.keras.backend.ctc_decode crashes(bad_alloc) when top_paths is large"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-08-12 19:31] jvishnuvardhan commented on #42217
@kalaluthien Thanks for finding the typo. we have updated the doc and it is already reflecting in the `master` [branch](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/ios/BUILD.apple#L82).

As this is resolved, I am closing this issue. Thanks!

[2020-08-12 19:31] #42217 closed

[2020-08-12 19:57] tanguycdls opened #42280 "Predict on batch being able to do the prediction with inputs of different first shapes"
**System information**
- TensorFlow version (you are using): 2.3
- Are you willing to contribute it (Yes/No): yes

**Describe the feature and the current behavior/state.**
For a recommender system usage we want to be able to have a keras model that takes inputs with different first dimensions, for example one input with N rows and another with one row.
That feature was also asked here https://gith

[2020-08-12 19:59] bsaravi commented on #42142
I have corrected the errors you can see the exception on running the files
I just uploaded. The error happened when there is quite complex model
please let me know if you need anything else.
Thanks,
Babak

https://colab.research.google.com/gist/amahendrakar/e969cb328cab44d46437f813bb6c1b6b/42142.ipynb#scrollTo=uG0ovu-Bmawc&uniqifier=1

On Wed, Aug 12, 2020 at 1:42 PM Abhilash Mahendrakar <
notific

[2020-08-12 20:03] skye commented on #41226
I don't work on TF anymore, sorry!

[2020-08-12 20:06] DNXie opened #42281 "tf.nn.ctc_beam_search_decoder crashes(bad_alloc) when top_paths is large"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-08-12 20:09] mhmedeng opened #42282 "How can i solve data transferred from slave to master using SPI?"
I tried to make a communication between two AVR (ATmega128) using SPI. Data transferred correctly from master to slave but data transferred wrong from slave to master, the first sampled bit is always wrong. Slave sends (0X7E) to master but the received data is (0X3F). Where is the mistake?

Code of MASTER

#define F_CPU 16000000UL

#include <avr/io.h>
#include <util/delay.h>

#define DDR_SPI DDRB

[2020-08-12 20:10] #42243 closed

[2020-08-12 20:11] hahmad2008 commented on #42114
@MeghnaNatraj  Thank you so much :)
I really appreciate it. it works now 👯

[2020-08-12 20:14] ntakouris opened #42283 "[breaking? change] Concatenate dict of keras layers breaks on tf 2.3 (but worked in 2.2)"
**System information**
- Have I written custom code : **No**
- OS Platform and Distribution : **macos-latest, ubuntu-latest (github actions)** , macOS Mojave 10.14.1 (locally)
- TensorFlow installed from (source or binary): **pip install**
- TensorFlow version (use command below): *2.2 -> 2.3*
- Python version: **3.6 and 3.7**

**Describe the current behavior**
(this is on `tensorflow 2.2.0`)
[cod

[2020-08-12 20:21] #41703 closed

[2020-08-12 20:24] mdanatg commented on #41642
Hi, I'm trying to run the reproduction code but keep running into various errors. At first the cell told me about a missing en_truecasing_model.obj, then after I found the link and downloaded it, I'm getting this error:

[code]

Please place the code to reproduce the bug into a single colab notebook, that can run independently, without needing to download any other files. For example, I doubt we n

[2020-08-12 20:57] #38078 closed

[2020-08-12 21:07] nashWX opened #42284 "(please help) model.predict Error"
Hello, I am new to coding but I keep running into an error with what should be a very simple code (I have pasted below)

**import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Flatten, Conv2D, MaxPooling2D, Dropout, Reshape
from tensorflow.keras import layers
from tensorflow.keras.utils import to_categorical

[2020-08-12 21:08] #41915 closed

[2020-08-12 21:19] edloper commented on #34349
Here's some simple code to serialize and deserialize ragged tensors (or any other composite tensors, like SparseTensor), by breaking them into component tensors and serializing those.

[code]

Example use:

[code]

A couple notes:

* The tensor returned by `serialize_composite` will be a vector with shape `[num_components]`.  For a RaggedTensor with `ragged_rank=1`, `num_components=2`.
* You need

[2020-08-12 21:37] Risslock commented on #29704
As KopfKrieg said. Even though you can compile it, it is still not available as pre-built package for the Raspberry Pi

[2020-08-12 21:44] dansitu opened #42286 "In TF2.3 Reshape is not converted correctly"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX
- TensorFlow installed from (source or binary): pip
- TensorFlow version (or github SHA if from source): 2.3.0

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**Also, please include a link to the saved model or

[2020-08-12 21:58] yongwww opened #42287 "graph_util.remove_training_nodes removes library from graphdef"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2020-08-12 22:01] mdanatg commented on #41642
I finally got it to work, it seems that it takes a while for the file to upload in colab. So I'm running the code in TF 2.3 and it runs without error. For reference, this is the code I ran:

[code]

@ayushch3 , could you verify that this works in 2.3 on your end as well?

[2020-08-12 22:07] jvishnuvardhan commented on #42174
@DeruiLiu
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorfl

[2020-08-12 22:07] #42174 closed

[2020-08-12 22:19] mdanatg commented on #41642
On a related note, you can use AutoGraph in tf.function to write the control flow in a more Pyhtonic form. I rewrote the function as an example. I only tested that it works without error, please verify it on actual data before using it:

[code]

[2020-08-12 22:21] #41538 closed

[2020-08-12 23:37] karimnosseir commented on #41807
Hi @DeepakG19

Passing dummy values and resize the model during inference to different size is not how you should specify dynamic shape, and not working is expected.

The issue is this part "and since None or -1 or 1 is not a valid input," You should be able to use None as input.
If the model was saved with inputs as None, then please use our Python API to do the conversion by specifying only the

[2020-08-12 23:47] liob commented on #38810
this issue is not resolved. profile_batch=0 does not achieve the desired effect in graph mode.

[2020-08-12 23:53] wuhy08 commented on #25299
It seems it is supported now. I tried the following code without any error:

[code]

[2020-08-13 00:06] jacksonloper commented on #42242
I'm not exactly sure why you're referring me to those docs -- I'm quite familiar with the docs you mention.  I'm well-aware that running tf.Variable or tf.constant inside a tf.device("GPU") block will allocate it on the GPU.  The thing is that **running tf.convert_to_tensor inside a tf.device("GPU") block does not allocate ram on the GPU**.  And that is surprising to the uninitiated.

So the propo

[2020-08-13 00:09] zldrobit commented on #42256
@Saduf2019 you can click *Download* to download the file directly.

[2020-08-13 00:21] #41290 closed

[2020-08-13 00:52] gigwegbe opened #42290 "Deploy micro_speech to ESP32 using ESP IDF"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- Target platform: esp32

**Describe the problem**
Unable to build the micro_speech in Tensorflow using esp-idf.
**Please provide the exact sequence of commands/steps when you ran into the problem**
Generate examples

[code]
Building the example
[

[2020-08-13 00:53] acxz opened #42291 "[ROCm] sh: /opt/rocm/bin/hipcc: No such file or directory"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- Mobile device (e.

[2020-08-13 00:59] wookayin commented on #42283
I am not sure why, but I believe the `Concatenate` layer has expected inputs to be a list or tuple even in [TF 2.2](https://github.com/tensorflow/tensorflow/blob/v2.2.0/tensorflow/python/keras/layers/merge.py#L120-L122).

One easy fix for you would be to use `list(input_layers.values())`, because `dict.values` returns a view rather than a slit.

[2020-08-13 01:04] DNXie opened #42293 "tf.keras.backend.temporal_padding crashes(bad_alloc) when padding is large"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-08-13 01:13] daviddiazsolis commented on #37942
This is not a permanent solution, but I managed to make it work again by downgrading the NVIDIA driver to the last stable studio driver (431.86) as suggested here: [https://forums.developer.nvidia.com/t/cudnn-lstm-is-broken-above-driver-431-60-unexpected-event-status-1-cuda/108800/2](https://forums.developer.nvidia.com/t/cudnn-lstm-is-broken-above-driver-431-60-unexpected-event-status-1-cuda/10880

[2020-08-13 01:22] daviddiazsolis commented on #41444
This is not a permanent solution, but I managed to make it work again by downgrading the NVIDIA driver to the last stable studio driver (431.86) as suggested here: https://forums.developer.nvidia.com/t/cudnn-lstm-is-broken-above-driver-431-60-unexpected-event-status-1-cuda/108800/2

You need to first download the corresponding studio driver from NVIDIA, then uninstall the whatever driver version y

[2020-08-13 01:25] lastmansleeping commented on #39702
@omalleyt12 I'm in a similar situation but I can not convert my code to not use model.inputs. Is there any other workaround for this?

[2020-08-13 01:46] wptkddms commented on #42250
@Saduf2019
Thank you for reply

[here](https://www.tensorflow.org/model_optimization/guide/quantization/training_example?hl=en#define_the_model) is the sentence.
Using the tutorial, I printed the weights of q_aware_model, but the data type was float32, not int8. So I'm confused.

[2020-08-13 02:36] murdockhou commented on #42253
still need help. Could anyone can fix this?

[2020-08-13 02:51] terryheo commented on #42064
Did you run "./configure" to configure Android SDK and NDK?

[2020-08-13 02:58] lastmansleeping commented on #39702
Tagging @amahendrakar and @jvishnuvardhan as you had tagged this solution in other issue threads.

[2020-08-13 03:02] #42254 closed

[2020-08-13 03:11] DjangoPeng commented on #41877
Same issue on `ssd_mobilenet_v1_fpn_640x640_coco17_tpu-8` with tf v2.3

[2020-08-13 03:18] spate141 commented on #39064
@xiaoyunwu You have some interesting answer! Can you please format the code? We can't read it properly due to bad formatting. Thanks!

[2020-08-13 03:38] prodia4 opened #42294 "Huge CPU, GPU output diff after updates to fully_connected GpuDelegate gl kernel."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No

- OS Platf

[2020-08-13 04:02] dhruv-arcot commented on #38099
@impjdi How can you build these custom aar's/ op resolver? Is there any documentation of sorts?

[2020-08-13 04:07] ravikyram commented on #42290
@gigwegbe

Please, provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2020-08-13 04:13] jianrui1995 opened #42296 "How to set different learning rate at different layers when using tf.keras.model.fit"
hello:
I am wondering if there is a way that I can use different learning rate for different layers. I am trying to modify a pre-trained model and use it for other tasks. What I want is to speed up the training for new added layers and keep the trained layers at low learning rate in order to prevent them from being distorted. for example, I have a 5-conv-layer pre-trained model. Now I add a new co

[2020-08-13 04:15] DjangoPeng commented on #41877
After installing tf-nightly, another issue occurs:

![image](https://user-images.githubusercontent.com/16943353/90093579-88ccaa00-dd5e-11ea-8f9e-a95b689b0cc0.png)

It seems like I can't import tf-nightly successfully.

Device info: Nvidia V100 on Azure.

Driver info:
[code]

[2020-08-13 04:20] yapifu opened #42297 "import tensorflow issue"
Hi guys,

I have reinstalled my python 3.8.5 64 bit and use pip installed tensorflow 2.3.0. on my window 10 intel Core i7-6700HQ CPU @2.6Ghz.  And I can see it installed successfully using pip list

however whenever I try to import : import tensorflow   in jupyter notebook.

It shows following error:
---------------------------------------------------------------------------
ModuleNotFoundError

[2020-08-13 04:27] chocolate-skyr opened #42298 "CUBLAS_STATUS_NOT_INITIALIZED"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2020-08-13 04:28] DjangoPeng commented on #42084
Also incompatible with CUDA 10.2.

[code]

@summa-code

[2020-08-13 04:39] jvishnuvardhan commented on #33419
@cottrell I think this is a stale issue. If you are still looking for solution, [here](https://colab.research.google.com/gist/jvishnuvardhan/771b76e690d26a61165af3b2980f945b/33419.ipynb) is a gist that works.

Two modifications I implemented are based on the error.
1) In case of subclass model, we need to call the model before loading the weights (error was clear)
2) Need to implement a call metho

[2020-08-13 04:42] ravikyram commented on #42284
@nashWX

I have tried in colab with TF version 2.3 and i am not seeing any issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/b7bdff2dd8cba17bbe3e367d1cc207eb/untitled246.ipynb). Thanks!

[2020-08-13 04:53] jvishnuvardhan commented on #32014
@zhen8838 I think parts of the code need to be updated. Can you please check this [guide](https://www.tensorflow.org/guide/keras/train_and_evaluate) and update custom metric and custom loss.

Please feel free to close the issue if this was already resolved for you. Thanks!

[2020-08-13 05:26] Mageswaran1989 commented on #32052
This is observable when we try to design our code to train the model based on epochs fashion in a user loop.

[2020-08-13 05:35] swghosh commented on #38803
Hi, Is this feature request still active?

[2020-08-13 05:45] liangshui-pts commented on #39442
same error, does anybody solved this or know why?

[2020-08-13 05:48] Python-Ninja-Hebi commented on #29704
When will it be available?

[2020-08-13 05:53] MarkDaoust commented on #42242
Yes. I see your point.

Even with soft device placement turned off a constant in a `with tf.device("GPU"):` still reports it's device as CPU.

Whatever is happening here it's a little more subtle than "`convert_to_tensor` does not create an op." since it creates `tf.constant` op.

If you capture the tf.Graph you see the "const" op with it's device set to GPU:

[code]

[code]

As you said identity

[2020-08-13 05:54] YarivCol commented on #42170
@mr-goldhands
Tensorflow sources SHA: b36436b087bd8e8701ef51718179037cccdfc26e

[2020-08-13 06:08] ravikyram commented on #42281
I have tried in colab with TF version 2.1,2.3 and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/99e50916ee8722c2a5930df8b27cc1ee/untitled247.ipynb).Thanks!

[2020-08-13 06:13] RoelantStegmann opened #42301 "Loading model with tf.linalg.band_part in regularisation"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- Model traine

[2020-08-13 06:19] Lizhi-Liao commented on #42153
Meet the same problem, I tried to convert an LSTM model with input (None, 200), but after the convert, the input shape for the tflite model becomes (1,1)

original model codes:
inputs = keras.Input(shape=(None,), dtype="int32")
# Embed each integer in a 128-dimensional vector
x = layers.Embedding(max_features, 128)(inputs)
# Add 2 LSTMs
x = layers.LSTM(64, return_sequences=True)(x)
x = layers.LSTM

[2020-08-13 06:32] Mahmood-Hoseini commented on #22466
I am getting the same error too with tf 2.2.0 and kears 2.4.3.
Any help?

[2020-08-13 06:40] amahendrakar commented on #42038
Was able to reproduce the issue with TF v2.3. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/24d62cd4ea682b1d2e87fc1eca0fc266/42038.ipynb). Thanks!

[2020-08-13 06:58] chuanpham opened #42302 "java.lang.UnsatisfiedLinkError: No implementation found for long org.tensorflow.lite.nnapi.NnApiDelegate.createDelegate()"
java.lang.UnsatisfiedLinkError: No implementation found for long org.tensorflow.lite.nnapi.NnApiDelegate.createDelegate() (tried Java_org_tensorflow_lite_nnapi_NnApiDelegate_createDelegate and Java_org_tensorflow_lite_nnapi_NnApiDelegate_createDelegate__)
        at org.tensorflow.lite.nnapi.NnApiDelegate.createDelegate(Native Method)

How can i resolve this problem? Thanks very much!

[2020-08-13 07:29] Flamefire opened #42303 "Don't include json headers as include/json/json.h"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL 7
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.3.0
- Bazel version (if compiling from source): 3.1

**Describe the problem**

Currently the JsonCPP headers are all included by `#include "include/json/json.h"`. This is very unusual as in pretty much all cases the "include" folder

[2020-08-13 07:30] ravikyram commented on #42265
@Elona-marti

Can you please see [link1](https://stackoverflow.com/questions/51067599/cx-freeze-python-error-in-main-script-importerror-dll-load-failed) and [link2](https://stackoverflow.com/questions/2553886/how-can-i-bundle-other-files-when-using-cx-freeze) and see if it helps you.

This issue is more related to windows and cx_freeze .

This question is better asked on StackOverflow since it is

[2020-08-13 07:34] ctivanovich commented on #37525
@robisen1 No, sadly. I have recently heard of poetry as well, I will give it a try, or just stick to using specialized VM images to avoid major data-sci dependency conflicts for large frameworks.

[2020-08-13 07:40] ravikyram commented on #42278
@DNXie

This is intended behavior.`Pooling ratio for each dimension of value, currently only supports row and col dimension and should be >= 1.0.`.
Please, refer the document [here](https://www.tensorflow.org/api_docs/python/tf/nn/fractional_max_pool#args).I i take value pooling ration =1 i am not seeing any issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/a37924

[2020-08-13 07:41] #41890 closed

[2020-08-13 07:46] ravikyram commented on #42298
@chocolate-skyr

Can you see the issues with similar error #35029, #9489 and see if it helps you.Thanks!

[2020-08-13 07:49] brijesh-6899 opened #42304 "Keras Accuracy with sequence auto-encoder is different than manual calculation"
Hi,

I'm using GRU-based seq2seq model with byte pair encoding for spelling correction problem.
_This is my model architecture/code:_

[code]
I trained it for 10 epochs with ~700K training examples and the final validation accuracy was ~97%.

I looked into the sample predictions and accuracies (I am using model.evaluate to get single example accuracy), but it is deviating from manual calculations.

[2020-08-13 07:56] Jordy-VL commented on #34201
Any update? It is blocking factor for upgrading to TF2.3

[2020-08-13 08:05] yetanotheryeti commented on #42127
Another follow-up to clarify, that custom layers are problematic with TimeDistributed:
Below a custom layer is constructed, which acts as a "clone" of the GlobalAveragePooling1D layer, by instantiating one internally and only propagating function calls to it.

Switching on the line
`layer = tf.keras.layers.TimeDistributed(ClonedGlobalAveragePooling1D())   # does NOT work`
will result in an error:

[2020-08-13 08:14] ayush9096 opened #42305 "tflite after quantization : Didn't find op for builtin opcode 'CONV_2D' version '5'"
**System information**
- OS Platform and Distribution : Linux Ubuntu 19.04
- TensorFlow installed from (source or binary): Model was generated with TF from binary
- TensorFlow version (or github SHA if from source): Tensorflow version 2.4.0-dev20200715, for conversion to tflite and also in C++ for executing.

** Error logs **
Its working completely fine, when running in model in float32 format, it

[2020-08-13 08:16] aa12356jm commented on #38285
@MeghnaNatraj  hi, i use post quantization as follows:
[code]
 only input and output  of the quantization model  have the  datatype uint8,  the convolution of the middle layer is still int8.
how do I get  the model that  is  all uint8?  thanks

[2020-08-13 08:28] amahendrakar commented on #42106
@adityapaul,
Thank you for the update.

I was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/25901ff72e3e0acd95aafc418e0d0941/42106.ipynb#scrollTo=maIk1n0vuAML). Thanks!

[2020-08-13 08:35] xun-dao commented on #41060
hi all, I solved it by set "_could_use_gpu_kernel = False". I use tensorflowonspark which opened by yahoo, and with the documents says, there are two ways to use GPU, first is cuDNN kernel. second is generic GPU

[2020-08-13 08:36] sujaybabruwad commented on #41846
I am also facing the same issue. Any update on this ?
Kindly help @jvishnuvardhan

[2020-08-13 08:37] nvrsmeele opened #42306 "InvalidArgumentError: Operation 'while' has no attr named '_XlaCompile'"
**System information**
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow):** Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04):**  Google Colab (Ubuntu 18.04.3 LTS)
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:** N/A
- **TensorFlow installed from (source or binary):** Pre-installed / s

[2020-08-13 08:40] amahendrakar commented on #41169
@nectario,
I was able to run the code without any issues with TF v2.3. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/0c5687807b21b53df5942c83c4fb5e62/41169.ipynb).

Could you please try setting a hard limit on the total GPU memory as show in [this guide](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) and check if it works. Thanks!

[2020-08-13 08:41] YeongHyeon opened #42308 "Exception on converting the 'stacked LSTM model' as a 'TF Lite' format."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**
Provide a reproducible test case that is the bare minimum necessary to generate
the problem. If possible, please sha

[2020-08-13 08:53] PeterGardas opened #42309 "Ubuntu 20.04 libcudnn.so.7"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.3.0
- Python version: 3.8.2
- CUDA/cuDNN version: 10.2, 8.0.2
- GPU model and memory: nVidia GeForce GT 7

[2020-08-13 08:58] amahendrakar commented on #42239
@ayushch3,
On exporting the model with TF v2.3, I did not face any error running the `saved_model_cli` command. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/1e67f1a509d0459a9b8c01993a17e00f/42239.ipynb).

Could you please update TensorFlow to v2.3 and check if you are still facing the same issue? Thanks!

[2020-08-13 09:03] Jumpool opened #42310 "tensorflow lite inference via c++ : interpreter->output_tensor(0) gives wrong tensor value"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 16.4 and windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:  Samsung  Galaxy S8
- TensorFlow installed from (source or binary): source
- TensorFlow vers

[2020-08-13 09:05] duduscript commented on #6955
Hi all, I solved this problem in my team, I am sorry that I can not post my code here now, but I can provide some information that may help you guys.

As T4 GPU only have about 15G device memory, in my team, each model is about 500M, we can only load 12-15 models per GPU for serving . To solve this, we want to make model hold in host memory , only when requests come, the model copy from host to de

[2020-08-13 09:08] micahreich opened #42311 "Lambda layer with custom function gives gradient error"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-08-13 09:08] micahreich commented on #42244
I created a new issue according to the correct template:
[](https://github.com/tensorflow/tensorflow/issues/42311)

Im sorry for any confusion, thank you.

[2020-08-13 09:13] gigwegbe commented on #42290
@ravikyram sequence of commands has been updated. Thanks

[2020-08-13 09:18] ravikyram commented on #42306
@nvrsmeele

Looks like code is incomplete. `num_tokens`, '`embedding_matrix`' is not defined.

Please, share reproducible code .It helps us in localizing the issue faster.Thanks!

[2020-08-13 09:24] sujaybabruwad commented on #36684
I get the error message:
AttributeError: module 'tensorflow.lite.python.schema_py_generated' has no attribute 'Model'
I have installed from source using docker.
Please help @terryheo

[2020-08-13 09:30] asheesh123 commented on #33153
How did you do this.. I am getting same error..
I created a virtual env and installed necessary packages (tflite and other).. then zipped the site-packages to a folder.. now in the zipped folder i placed the lambda_function.py.. when I am running this on lambda console.. getting the same error for tflite... other dependencies are imported smoothly..
Thanks in advance..

[2020-08-13 09:32] FlorentijnD opened #42312 "Input and output tensors of converted TFLite model do not accord with trained model in TF"
@tensorflow/micro

**System information**
Hardware : Freescale i.MX6 Quad/DualLite
Processor: ARMv7 Processor rev 10 (v71)
OS Platform and Distribution: Yocto built Linux distribution (kernel 4.9.4+)
The tf-lite library was built with flex delegate enabled and using default makefile: https://github.com/tensorflow/tensorflow/blob/r2.2/tensorflow/lite/tools/make/Makefile
API : CPP

**Describe the pr

[2020-08-13 09:41] FlorentijnD commented on #42312
Inspecting the input and output in Netron of the .pb model results in : ![image](https://user-images.githubusercontent.com/29673343/90118765-01306c80-dd59-11ea-829b-2f06c9771984.png)
![image](https://user-images.githubusercontent.com/29673343/90119350-bb27d880-dd59-11ea-8181-a71322aa99b7.png)

Inspecting the input (and output) in Netron of the .lite model results in :
![image](https://user-images.

[2020-08-13 09:41] FlorentijnD commented on #42312
I can also send over the scripts I used for the conversions or the models (they are small in size - about 600kb)

[2020-08-13 09:46] Saduf2019 commented on #34266
@i-tolmachev
Is this still an issue.

[2020-08-13 09:49] nvrsmeele commented on #42306
@ravikyram

I am sorry. Thanks for mentioning how I can improve the reproducible code!

I have updated the code above. Just for your info, I looked at other similar reported bug issue but nothing worked so far.. I hope you can help me with this.

[2020-08-13 09:50] npanpaliya opened #42313 "TF 2.3.0 build failure when its conda package is built using Anaconda's toolchain"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux RHEL 7 ppc64le
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Source v2.3.0
- TensorFlow version: 2.3.0
- Python version: 3.6/3.7
- Installed using virtualenv? pip? conda?: Building conda package of TF 2.3
- Bazel v

[2020-08-13 10:02] Saduf2019 commented on #42244
@micahreich
Moving this issue to closed status as #42311 would track the issue, also please let us know if you followed the links and issues shared.

[2020-08-13 10:02] #42244 closed

[2020-08-13 10:04] micahreich commented on #42244
Thanks -- I looked at the links you posted but I wasn't able to make a fix based on those threads

[2020-08-13 10:05] amahendrakar commented on #42271
@nicosacco,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the dataset you are using. Thanks!

[2020-08-13 10:07] micahreich commented on #42311
I believe that the issue is caused by the fact that the Lambda layer isn't differentiable because of the tf ops used within the layer -- is this correct? If so, how can I either bypass this or find a workaround?

[2020-08-13 10:08] ntakouris commented on #42283
It worked with `list(input_layers.values())`.

I see no reason why it should not work with just `input_layers.values()`, but I'll leave the design of the api to the tensorflow team.

Many thanks :)

[2020-08-13 10:09] DavidInWuhanChina commented on #32999
@maatc-eostar,Hi,I am doing the same this thing and following the example:https://tensorflow.google/tutorials/text/image_captioning,

[2020-08-13 10:10] Saduf2019 commented on #42301
@RoelantStegmann
Please provide with simple stand alone code to replicate the issue faced or if possible share a colab gist with the issue faced for us to analyse.

With respect to the error, follow the below:
#32375

[2020-08-13 10:12] Mr-Nineteen opened #42315 "[TensorFlow 1.14] : Use tf.data.TFRecordDataset to obtain hdfs data, and the network can reach a maximum of 600Mb/s. However, the network is dual 10G."
1. description：
    **Machine environment**: 4U40C128G.
    When num_parallel_calls is set to 4, 10, 32, and the network  can reach 600Mb/s. The parameter(num_parallel_calls) does not take effect.
    At the same time, the network card is dual 10G, using hadoop fs -copyToLocal, the network can reach 2g/s.
    Using tf.data.TFRecordDataset to load hdfs data, the network did not reach the bottleneck

[2020-08-13 10:13] DavidInWuhanChina commented on #32999
@maatc-eostar,Hi,I am doing the similar thing and following the example:https://tensorflow.google/tutorials/text/image_captioning,and I also want to convert the model to tfLite.I find your model is similiar with my model.Can you give me your code for referance?(Also the Android code,thanks!)

[2020-08-13 10:14] Saduf2019 commented on #42304
@brijesh-6899
This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2020-08-13 10:14] #42304 closed

[2020-08-13 10:17] parsarahimi opened #42316 "Poor code on Docs"
Code doesn't work, imports aren't listed and K.dot is just too vague
https://www.tensorflow.org/api_docs/python/tf/keras/layers/RNN

[2020-08-13 10:18] lgeiger commented on #35027
This error was reintroduced in the latest release of TensorFlow Metadata.

https://github.com/tensorflow/metadata/pull/10 fixes the problem by loosening the requirements on abseil.
@mihaimaruseac @rsepassi @ravikyram Could you take a look at the PR?

[2020-08-13 10:23] Saduf2019 commented on #42286
@dansitu
I am unable to open the file shared, can you please share a colab gist with the error faced.

[2020-08-13 10:25] Saduf2019 commented on #42282
@mhmedeng
I cannot see you using tensorflow in the code shared, or any issue cause due to tensorflow, please provide acolab gist with error faced due to tensor flow for us to help you.
Please update the issue template with the tensorflow version used.

[2020-08-13 10:30] Saduf2019 commented on #42279
I am able to replicate this issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/7fb6ad311e6cbd3899fb94cc658f1b35/untitled367.ipynb).

[2020-08-13 10:32] ntakouris commented on #42316
It's a well known convention that you do:
`import tensorflow.keras.backend as K`

[2020-08-13 10:34] bhack commented on #42106
@adityapaul I see a deprecation warning on your model save:

Instructions for updating:
If using Keras pass *_constraint arguments to layers.
INFO:tensorflow:Assets written to: saved_model/my_model/assets

[2020-08-13 10:40] dark0ghost opened #42318 "Could not load dynamic library 'libcusparse.so.10"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 10
- Mobile device (e.g

[2020-08-13 10:41] aniketbote commented on #37104
Is anyone working on this issue?
I would like to work on this issue.

[2020-08-13 10:42] amahendrakar commented on #42283
@ntakouris,
Please feel free to close the issue resolved. Thanks!

[2020-08-13 10:52] terryheo commented on #36684
@sujaybabruwad plz share commands you used.

[2020-08-13 10:59] amahendrakar commented on #42287
@yongwww,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here.

Also, TensorFlow 1.x is not actively supported. Could you please update TensorFlow to v2.3 and check if you are facing the same issue? Thanks!

[2020-08-13 11:05] Saduf2019 commented on #42263
I am able to replicate this issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/8c8a0b0da94d5de7210ab07d077fba22/untitled369.ipynb).

[2020-08-13 11:13] ravikyram commented on #42306
@nvrsmeele

If possible can you please share `example.csv`file.Thanks!

[2020-08-13 11:17] ravikyram commented on #42313
@npanpaliya

Sorry, but we don't provide support for issues with the conda environment.
This issue is more suitable on Continuum [Anaconda repo](https://github.com/ContinuumIO/anaconda-issues/issues) since its related to TF installation with Anaconda.
Please post it on [Continuum Anaconda](https://github.com/ContinuumIO/anaconda-issues/issues).
Thanks!

[2020-08-13 11:36] amahendrakar commented on #42142
@bsaravi,
I am still facing the same error. Could you please share the updated code/files again?

Alternatively, you can run your code on Google colab and share the notebook with us. Thanks!

[2020-08-13 11:36] npanpaliya commented on #42313
@ravikyram Thanks for your response. I'll raise the issue with Anaconda too.

I raised the issue here because conda builds used to work before that particular commit and then it has started giving error due to changes done in cc_toolchain_config.bzl.tpl file. So, just want to know if anyone has any pointers on it. The refactoring done in that file is for sure the cause of this error.

[2020-08-13 11:39] nvrsmeele commented on #42306
@ravikyram

Of course, I have created a test csv-file (see below). Also, I have created a Google Colab [here](https://colab.research.google.com/drive/1HldF0WOeQvlGYxQOOJEtpa0v7WPW7xYv?usp=sharing) in which you can run it and reproduce the error. If you need anything more, please let me know!

[example.csv.zip](https://github.com/tensorflow/tensorflow/files/5068745/example.csv.zip)

[2020-08-13 11:39] amahendrakar commented on #42142
Also, please take a look at [this similar](https://github.com/tensorflow/tensorflow/issues/28287) issue and let us know if it helps. Thanks!

[2020-08-13 11:40] ravikyram commented on #42318
@dark0ghost

Can you try with tested build configurations from here and try building TensorFlow with CUDA 10.1, and check if it works.
To use CUDA 10.2  Please build the Tensorflow from source.
Follow the instructions mentioned [here.](https://www.tensorflow.org/install/source) And also take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/38194#issuecomment-609922803).
Tha

[2020-08-13 11:44] dark0ghost commented on #42318
tensorflow  no support  cuda 11?

[2020-08-13 11:50] arc144 commented on #42043
@craigcitro the fix you mentioned is not working for me. If I downgrade tensorflow I get the following error:
`InvalidArgumentError: NodeDef expected inputs 'string' do not match 0 inputs specified; Op<name=_Send; signature=tensor:T -> ; attr=T:type; attr=tensor_name:string; attr=send_device:string; attr=send_device_incarnation:int; attr=recv_device:string; attr=client_terminated:bool,default=fals

[2020-08-13 11:52] ravikyram commented on #42318
@dark0ghost

Please, refer https://github.com/tensorflow/tensorflow/issues/42084#issuecomment-670208947 . Thanks!

[2020-08-13 11:55] #42318 closed

[2020-08-13 11:57] amahendrakar commented on #42309
@PeterGardas,
As per the [tested build configurations](https://www.tensorflow.org/install/source#gpu), could you please try installing CUDA 10.1 and cuDNN 7.6, and check if you are still facing the same issue. Thanks!

[2020-08-13 12:00] amahendrakar commented on #42305
@ayush9096,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the dataset you are using. Thanks!

[2020-08-13 12:05] aavishkarmishra commented on #42278
Hi, I would like to work on this can anyone help me with how it should behave with `pooling ratio<1` as I am new in this.

[2020-08-13 12:11] amahendrakar commented on #42293
Was able to reproduce the issue with TF v2.1, TF v2.3 and TF-nightly.

Session crashes on running the `tf.keras.backend.temporal_padding` line. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/f7850e90c6c3500a02b4a555770e4bcd/42293.ipynb).

[2020-08-13 12:12] engrmz commented on #36539
Hello everyone,
Can you please help in understanding the functionality of `dataset = dataset.repeat(-1)`? In my case, when I am using it, it iterates the dataset infinitely. However, when I set it any other number than -1, it fetches only a single sample.

[2020-08-13 12:13] yash04singh commented on #42260
link 1 works but shows this warning : WARNING:tensorflow:Error in loading the saved optimizer state. As a result, your model is starting with a freshly initialized optimizer.
 I did this>>  model = tf.keras.models.load_model('discriminator_model_010.h5', custom_objects={'ELU': ELU})

this is my model
def define_discriminator(size):
    model = Sequential()
    model.add(Dense(400, input_dim=size,

[2020-08-13 12:18] ppershing commented on #28000
Same problem with FusedBatchNormV3 - Add - Relu sequence when trying to do quantization-aware training using contrib.quantize

[2020-08-13 12:20] balazsbanto commented on #41767
I was able to solve this issue by upgrading tensorflow version from 1.15 to 1.15.3.

[2020-08-13 12:21] balazsbanto commented on #20867
I was able to solve this issue by upgrading tensorflow version from 1.15 to 1.15.3.

[2020-08-13 12:23] FlorentijnD commented on #42312
I just found out that the repo I started off with has the same problem.
https://github.com/PINTO0309/TensorFlow-ENet/blob/pinto0309work/checkpoint/semanticsegmentation_enet.pb

This ENet in protobuf format also has the same output - namely a float instead of an output image

[2020-08-13 12:31] FlorentijnD commented on #42312
@PINTO03091 as this is your repository, do you have an idea of what's going on?

[2020-08-13 12:33] bsaravi commented on #42142
I saw this before it does not help.  I tried to minimize the code. please see the attachment.
I have traced the issue inside the tensorflow as well. The issue is, Checkpoint reads the graph in graph_view.py and create the save operation and sent it to the session to be run.  session can not retrieve the value of the nodes with the names came from graph before the should be a prefix mismatch in the

[2020-08-13 12:38] nicosacco commented on #42271
@amahendrakar I am sorry, but at the moment I cannot share either the code or the data, because they are part of an ongoing research project. If I can help you in any other way, please, do not hesitate to ask.

[2020-08-13 12:50] amahendrakar commented on #42297
@yapifu,
Looks like the Jupyter notebook is using a different Python interpreter from the one where TensorFlow is installed.

Please make sure you are installing TensorFlow and running Jupyter from the same Python installation and check if it works. Thanks!

[2020-08-13 12:51] nectario commented on #41169
@amahendrakar Thank you. I will try your suggestion. Looking at how you ran it, I don't believe this is repeatable in a server GPU like the V100 or any other ones. It really needs to run in a consumer GPU like the Titan V, and in PC desktop environment. As of now, I can never finish training so it reaches the last epoch. I think it's related to the Nvidia driver.

Also, this gets triggered quicker

[2020-08-13 12:53] amahendrakar commented on #42302
@chuanpham,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-08-13 13:01] amahendrakar commented on #42302
Also, please take a look at [#31114](https://github.com/tensorflow/tensorflow/issues/31114), [#35931](https://github.com/tensorflow/tensorflow/issues/35931) and let us know if it works. Thanks!

[2020-08-13 13:03] nectario commented on #41169
If someone can run the above in their local desktop environment with the latest Nvidia gpu drivers would be great.

[2020-08-13 13:11] Krishnarohith10 commented on #39989
Wow, this issue is where, I left it. So anyway, after this issue I moved to tensorflo-gpu=1.14.0 and ofcourse as you except they is no issue of this. So, I have been doing my work all happily ever after but after releasing tensorflo-gpu=2.3 then I though i may give it a shot and to my surprise the issue is being gone. I repeat I no longer find this issue. Atleast running on the above code. So, now

[2020-08-13 13:15] DNXie commented on #42278
@ravikyram @aavishkarmishra  It should throw an exception instead of crash.

[2020-08-13 13:23] PINTO0309 commented on #42312
I've lost interest in ENet for now, but it might be worthwhile to try Integer Quantization on the .pb in the path below with FlexDelegate enabled.
**https://github.com/PINTO0309/TensorflowLite-flexdelegate/tree/master/models/enet**

[2020-08-13 13:23] jacksonloper commented on #42242
Lol so much for me being "well-aware" that tf.constant respects tf.device.  I didn't even check, like a fool!

Well that is kind of interesting.  I guess it's a bug then, not a doc issue?

[2020-08-13 13:32] FlorentijnD commented on #42312
Thanks for your reply, the problem is not speed or quantization related. It's about the input and output of the graph that are messed up when converting to protobuf format. Output is a single float instead of a pixel map (of which the size is equal to the input images' sizes) corresponding to the classes

[2020-08-13 13:32] Vinay-Rao commented on #42122
Build is stuck (Raspberrypi hangs), with the first method, tried it a couple of times. It is as shown in the image below from past 4 hours.
![image](https://user-images.githubusercontent.com/64406245/90140355-eb7f6f00-dd79-11ea-8e23-68ae2dfdfcd4.png)

Do you suggest any other method?

[2020-08-13 13:38] mazurick commented on #42049
@dansitu
First, your book is awesome. It has lots of helpful tutorials and documentation.

Second, I have a 2020 Mac Pro Tower and Lamda Labs machine that I configured for Machine Learning tasks. On both Machines, it fails.

Both machines are for grad research, practice and model architecture, design and training.

The Mac Pro tower came with a 3.8 version of Python installed as the default. I bel

[2020-08-13 13:51] MarkDaoust commented on #42242
+@jaingaurav

This looks like a bug to me. Gaurav do you know more about what's going on here? Can you help triage?

[2020-08-13 14:03] aavishkarmishra commented on #42278
So, mainly test pooling ratio to be>=1 and throw error if it is not.

[2020-08-13 14:11] Saduf2019 commented on #42308
@YeongHyeon
Can you please update the issue template with the tensorflow version used for us to replicate the issue.
Please provide "simple stand alone code" for us to replicate the issue or if possible share a colab gist with the error faced.

With respect to the error can you please refer to these issues and update us:
#34266 #29117 [link](https://github.com/tensorflow/tensorflow/issues/34868#is

[2020-08-13 14:21] Saduf2019 commented on #42315
@Mr-Nineteen
I ran the code and did not face any issue, please find [gist here](https://colab.research.google.com/gist/Saduf2019/cf34c7cc45b3bde7a768d516f425728c/untitled370.ipynb).
Can you please provide with a colab gist the error faced for us to analyse. (share error logs if any)

[2020-08-13 14:39] Saduf2019 commented on #42238
@nicolas-gervais
we don't support Anaconda build related issues, so i will not be able to comment on whether they have build with 2.3.

This question is more suitable on Continuum Anaconda [repo](https://github.com/ContinuumIO/anaconda-issues/issues) since its related to TF installation with Anaconda.
Please post it on [Continuum Anaconda](https://github.com/ContinuumIO/anaconda-issues/issues).Tha

[2020-08-13 14:42] DavidInWuhanChina opened #42319 "How to convert a image caption model to tensorflow Lite model?ValueError: Python inputs incompatible with input_signature:"
**System information**
- OS Platform and Distribution :CentOS Linux release 7.7.1908
-TensorFlow version:2.3.0

I am following this example:<https://www.tensorflow.org/tutorials/text/image_captioning?hl=en>

It is working as it should be and saving checkpoints and I want to now convert this to a TF Lite model.

Here is the Link of full convert code:<https://colab.research.google.com/drive/1GJkGcwW

[2020-08-13 14:45] Saduf2019 commented on #42234
@hallabjorg5
Is there any particular reason for using a dictionary, I have tried the code with out dictionary and it works with out error.
Can you please refer to [this link](https://www.tensorflow.org/api_docs/python/tf/keras/Sequential) and update, nowhere has a dict been used.

[2020-08-13 14:45] DNXie commented on #42278
@aavishkarmishra I am not an expert, but some exception message thrown in python level would be good.

[2020-08-13 14:48] Saduf2019 commented on #42205
I am able to reproduce this issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/64733016a242ed3e261b72b57e0f8347/untitled367.ipynb)

[2020-08-13 14:51] Saduf2019 commented on #36962
Issue is still reproducible with tf-nightly(2.4.0-dev20200813), please find the [gist here](https://colab.research.google.com/gist/Saduf2019/406eba10719ec4104af99afd2080b81f/untitled367.ipynb)

[2020-08-13 14:58] kentslaney commented on #42189
I think this code is closer to what you want (2 arg version necessary for tf.function):
[code]
It seems to sort of work in eager mode (for a few hundred steps in the model I'm trying to get working), but I get the same error you do in your colab, making me think there's another op in that graph that doesn't support gradients. It breaks immediately if you put `tf.function` around it though, with th

[2020-08-13 15:07] ablanch5 opened #42320 "Ragged Tensors in Keras Model Output"
**System information**
- TensorFlow version (you are using): 2.3.0
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
I don't think ragged tensors are supported as the outputs to a model. For example the following code does not work

import tensorflow as tf

y_pred = tf.ragged.constant([[0], [0, 0]])
y_true = tf.ragged.constant([[1], [1,1]])

[2020-08-13 15:21] #41881 closed

[2020-08-13 15:21] #41887 closed

[2020-08-13 15:23] zohimchandani opened #42321 "Optimising functions with Openfermion"
I am working on some quantum generative adversarial networks code and have a discriminator which is a function of some parameters multiplied by some expectation value measurements. For example (see below the code) the variable parameters which I would like to optimise given a loss function are the disc_weights which are multiplied by openfermion commands which measure the X and Y expectation value

[2020-08-13 15:53] qiuminxu commented on #38810
@liob We couldn't reproduce your issue. That would be very helpful if you can provide a minimum reproducible example for us to debug the issue.

[2020-08-13 16:01] npanpaliya commented on #42313
I've further figured out the exact linker related changes that are causing the error. Changes done in https://github.com/tensorflow/tensorflow/commit/bb4c751414c3562ab3ab4298f866f47438078c37 have introduced the build issues in conda environment which otherwise work fine.

[2020-08-13 16:01] MiladGhorbaniG opened #42323 "How to load a tflite model directly from a link or aws s3?"
In order to deploy an aws-lambda function, I want to load a large tflite model from s3 or a web_link using 'tflite.interpreter' function. This function has 'model_path' and 'model_content' arguments. I don't have enough space in the local '/tmp' was lambda folder to store the model there (with 500 MB limitation)  and use the 'model_path' argument. Is it possible to load the model directly from s3

[2020-08-13 16:07] mihaimaruseac commented on #42255
Can you upgrade `scipy` to 1.5.2?

[2020-08-13 16:07] mihaimaruseac commented on #42255
That being said, can you create a new virtualenvironment and install there instead? If you need `scipy`, make sure it is newer than 1.4.1

[2020-08-13 16:14] mihaimaruseac commented on #35027
I don't have approval powers over that repo.

[2020-08-13 16:15] craigcitro commented on #42043
I don't have any real expertise on the TF side (so hoping someone else jumps in).

[2020-08-13 16:17] mihaimaruseac commented on #42084
@DjangoPeng NVIDIA says CUDA 10.2 and CUDA 10.1 are compatible. We will skip CUDA 10.2 and go for CUDA 11.

[2020-08-13 16:20] spate141 commented on #42061
@bergfita @bhack : I'm having similar issue. I'm using `StaticHashTable` as in one Lambda layer after the output layer of my tf.keras model. It's quite simple actually: I've a text classification models and I'm adding a simple lambda layer that takes the `model.output` and convert the model_id to more general labels. I can save this version of model with model.save(... as H5 format..) without any

[2020-08-13 16:21] e-remington-lee commented on #33153
virtualenv->Lib->site packages, find TFlite and remove the above-mentioned
files up one directory. to be the same directory as the TFlite folder.

On Thu, Aug 13, 2020 at 5:30 AM Asheesh <notifications@github.com> wrote:

[2020-08-13 16:24] spate141 opened #42325 "Error with exporting TF2.2.0 model with tf.lookup.StaticHashTable for Serving"
I'm using `StaticHashTable` as in one Lambda layer after the output layer of my tf.keras model. It's quite simple actually: I've a text classification models and I'm adding a simple lambda layer that takes the `model.output` and convert the model_id to more general labels. I can save this version of model with model.save(... as H5 format..) without any issue, and can load it back and use it withou

[2020-08-13 16:39] ethanluoyc opened #42327 "data.Dataset.as_numpy_iterator is non-reentrant compared to tensorflow data iterator."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2020-08-13 16:42] bondhugula commented on #39895
Bringing this back up: where should the conversion for std.const to hlo.const live? If we do this as a conversion pattern in HLO to LHLO, wouldn't it fail? (since the xla_hlo op generated out of the pattern would have been marked as illegal for the conversion target, making the dialect conversion reset state). Could one add an op rewrite pattern as part of a dialect conversion? I completely forget

[2020-08-13 16:43] ethanluoyc commented on #42327
I think the issue is here

https://github.com/tensorflow/tensorflow/blob/b36436b087bd8e8701ef51718179037cccdfc26e/tensorflow/python/data/ops/dataset_ops.py#L526

where the _NumpyIterator is used, however in _NumpyIterator's __iter__ method (line 3776), the state for the iterator is not initialized at every iter.

https://github.com/tensorflow/tensorflow/blob/b36436b087bd8e8701ef51718179037cccdfc26

[2020-08-13 16:46] amahendrakar commented on #42175
Was able to reproduce the issue.

Code works fine with [TF v2.0](https://colab.research.google.com/gist/amahendrakar/671050dc6cd79a0ca135757a208f4c74/42175-2-0.ipynb). Facing a `ValueError` on running with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/d549faa23c1d6c4f599379696ff27b40/42175.ipynb#scrollTo=R4ExMVpez7S3) and [TF-nightly](https://colab.research.google.com/gist/amahendr

[2020-08-13 16:46] brand17 commented on #42043
I had a similar error. It is important to follow this https://colab.research.google.com/gist/graf10a/642c143fd80887ac8a69819250f5141b/tf_tpu_issue_submission_fixed.ipynb exactly (the first and the second cells). Not just downgrade. There should be two separate cells, import requests etc.

[2020-08-13 16:52] FlorentijnD commented on #42312
Important update and finding to this thread :

[code]

prints the following :
![image](https://user-images.githubusercontent.com/29673343/90162946-b2ed8e80-dd95-11ea-84de-3c3026d47206.png)

So that means that the output of size 240x320 actually exists in the graph.
This means that the problem is not residing in the conversion from checkpoint files to protobuf.
The information is there somewhere in

[2020-08-13 16:56] martin-gorner commented on #42043
This might be because of a change in how model loading and saving is handled on TPU. Can you try to add the following option to your checkpoint call:

[code]

Please notice in the code that I also recommend to change the type of the saved model from .h5 (the legacy Keras format) to "Tensorflow saved model", the standard tensorflow format. The format is determined based on the extension. Saving fro

[2020-08-13 16:57] FlorentijnD commented on #42312
Here goes the protobuf model used in all the code above, and the same model converted to TF Lite. The netron visualisations were carried out with these models.
[pb_and_lite.model.zip](https://github.com/tensorflow/tensorflow/files/5070342/pb_and_lite.model.zip)

[2020-08-13 17:15] bloc97 commented on #33929
The issue has been fixed for me on Tensorflow v2.3.0 on google colab. Thanks!

[2020-08-13 17:15] #33929 closed

[2020-08-13 17:16] dansitu commented on #42049
Thanks for your kind words, @mazurick!

If you don't want to do a full reformat, maybe you could try running in a Docker container where you can play with the dependencies freely?

[2020-08-13 17:18] Yasin40 opened #42328 "Build Error at Building 'tensorflow/core/distributed_runtime/eager:remote_tensor_handle_data'"
**System information**
- OS Platform and Distribution : **Linux UBUNTU 18.04**
- My device (Platform): **Odroid XU4**
- TensorFlow installed from **Source**
- TensorFlow version: **1.15.3** (and this issue appear in 1.15.0, 1.15.1)
- Python version: **3**
- Installed using virtualenv? pip? conda?: No pip package, **Only C++ lib**
- Bazel version : **0.26.1**
- GCC/Compiler version : **7**
- CUDA/c

[2020-08-13 17:21] #41761 closed

[2020-08-13 17:25] mjnovice commented on #41798
Adding additional information. I think tensorflow is dependent on the [aws-sdk-cpp](https://github.com/aws/aws-sdk-cpp) and the sdk doesn't support sending custom query parameters. https://sdk.amazonaws.com/cpp/api/LATEST/class_aws_1_1_transfer_1_1_transfer_manager.html#a4c1aec774f4338acee2fd8d90ed052eb Think it makes more sense to raise an issue there ?

[2020-08-13 17:27] impjdi commented on #38099
I'm not familiar with any TF documentation; maybe there is, maybe there isn't.  As an engineer, I look at existing code and try to mimic the closest example in the code base...

[2020-08-13 17:49] rchao commented on #42043
@Shiro-LK, the behavior change may be a result of a recent code change. Can you try setting `_supports_tf_logs` to True on the custom callback's attr before `model.fit` and see if it then allows you to pass around information in `logs`?

[2020-08-13 18:06] Ramesh-X commented on #42052
This issue is still there for me with the latest Tensorflow version (2.3.0). The error that I'm getting is almost identical to the error message given in this issue.

I tried the following cases (All with official python release with `virtualenv` and `pip`)

Python 3.8.5, Tensorflow 2.3.0 - Not working
Python 3.7.8, Tensorflow 2.3.0 - Not working
Python 3.7.8, Tensorflow 2.1.1 - **Working**

My GP

[2020-08-13 18:08] jdduke commented on #42176
The example pulls the native TFLite binaries from the nightly builds. Generally, the nightly builds have a newer "true" version than the last publicly released TFLite builds (in this case, 2.3). That is, `org.tensorflow:tensorflow-lite:0.0.0-nightly` corresponds to an AAR package that has both the Java and C++ code (libtensorflowlite_jni.so) that contains the TFLite implementation. That library ge

[2020-08-13 18:08] #42176 closed

[2020-08-13 18:10] jdduke commented on #42312
@abattery can you take a look? This might just be a matter of changing the output tensor name during conversion.

[2020-08-13 18:12] jaingaurav commented on #42242
So is the concern that `tf.convert_to_tensor` doesn't create a GPU tensor even with soft placement turned off? I think this was intentional right?

@ccrusius: Could you confirm that all the behaviors above are as intended? Perhaps we just need to clarify the docs a bit further.

[2020-08-13 18:18] Elona-marti commented on #42265
@ravikyram
If you don't have the answer to a question, don't answer in a vacuum. My application works without tensorflow, it is the only library that poses a problem.

[2020-08-13 18:23] MarkDaoust commented on #42242
Yes, exactly.

It's fine if it's intentional, but we couldn't find any doc describing this behavior. It would be good to know for sure:

1. That this is intentional.
2. Why.

[2020-08-13 18:25] tomerk commented on #42002
A few comments here:
1. The name argument in that API is used when you are tracing a graph, and it still works as seen in the below snippet:
[code]
The name that gets printed is `ct:0`.

2. Your code example should not be thought of as tracing a graph, it is constructing a Keras model. as such, the name of the intermediate value will be whatever name as been assigned to it as a result of the layer

[2020-08-13 18:25] #42002 closed

[2020-08-13 18:36] DNXie opened #42329 "tf.nest.assert_same_structure crashes (abort) when some constraints are violated"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-08-13 18:57] MeghnaNatraj commented on #38285
@aa12356jm This is currently unsupported, you can refer to this [comment](https://github.com/tensorflow/tensorflow/issues/38285#issuecomment-635533037) for more information.

[2020-08-13 18:59] Askfk commented on #41879
Thank you for your efforts, but I will still be stuck in the for loop (it costs too much time in every iteration which is abnormal).

[2020-08-13 19:00] dansitu commented on #42286
I've checked the attached file and it works. It's extremely simple to reproduce; just extract the .zip file and do this:

[code]

Then save and inspect the `tflite_model`.

[2020-08-13 19:11] DNXie opened #42331 "tf.nest.flatten crashes (abort) when expand_composites's constraints are violated"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-08-13 19:12] jvishnuvardhan commented on #39702
@lastmansleeping Can you please create a new issue with the standalone code you provided above? Thanks!

[2020-08-13 19:22] FlorentijnD commented on #42312
I updated my comments to make the problem clearer:

- I'd like to know why the input and output tensor have a shape that is much larger than the input and output images the network has been trained with (912600 in both cases, while I expect input to have an array length of 320x240x3 and output array lenght of 320x240)
- I'd like to know why surpassing this array with length 912600 (e.g. feeding th

[2020-08-13 19:27] jdduke commented on #42312
How are you checking this? Note that the *byte* size of the tensor will be 9126000 if the shape is 320x240x3 for a float tensor.

How exactly are you feeding in the elements? If you're just writing to an array (in C++), then this is undefined behavior and subject to the same issues as out-of-bounds array access with C++ arrays.

[2020-08-13 19:28] SoufianeDataFan commented on #23698
This issue is not limited to NLP but also for other types of DL problems. I have a multilabel classification problem with time series (24 labels - imbalanced). When I pass `class_weight` in fit method, I get this same error. Anyone can be kind and let us know who to solve it in this case.

[code]

[2020-08-13 19:29] kratsg opened #42332 "tf.tile feature parity with np.tile/torch.tile/jax.tile"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `Darwin ghost.lan 18.7.0 Darwin Kernel Version 18.7.0: Mon Apr 27 20:09:39 PDT 2020; root:xnu-4903.278.35~1/RELEASE_X86_64 x86_64`
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobil

[2020-08-13 19:45] kratsg commented on #42332
Current workaround I have right now looks like:

[code]

which uses `reshape` if this inspires anyone to find a better way.

[2020-08-13 19:46] marcoadurno commented on #41938
Hi @r4nt ,

Have you been able to replicate the issue? Do you need any further information?

Best Regards,

Marco

[2020-08-13 19:47] marcoadurno commented on #41940
Hi @ymodak  ,

Have you been able to replicate the issue? Do you need any further information?

Best Regards,

Marco

[2020-08-13 19:57] yasinalm commented on #32052
I figured it out. I have no RAM OOM now. In my case, the problem was `Dataset.cache()`. If there are random transformations (e.g. images augmentations) in the dataset pipeline, they should be after `Dataset.cache()`. Otherwise, it looks like `Dataset.cache()` caches all possible random transformations.

[2020-08-13 20:01] nikitamaia commented on #40421
Reopening this issue as a feature request

[2020-08-13 20:30] ymodak commented on #42316
You may use following imports on top of the example:
[code]

[2020-08-13 20:51] danielsernabuitrago opened #42335 "When converting tf to tflite it changes the dtypes so operations like add won't work beacuse of different dtypes RuntimeError: tensorflow/lite/kernels/add.cc:93 input1->type != input2->type (INT32 != FLOAT32)Node number 296 (ADD) failed to prepare."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 18.04.5 LTS
- TensorFlow installed from (source or binary):
tensorflow 1.15 installed with pip. altough I have tried with older versions

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the c

[2020-08-13 21:09] sanjoy commented on #41855
I'm not familiar with PyCharm so unfortunately I cannot help with this.

[2020-08-13 21:18] aigagror commented on #41635
I had this same issue and after reading your comment, I dropped the last remaining batch and it fixed it for me! Thanks!

[2020-08-13 21:26] eawer opened #42336 "Error when trying decode_raw for FixedLenSequenceFeature in TFRecord dataset"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): v2.3.0-rc2-23-gb36436b087 2.3.0
- Python version: Python 3.6.10 :: Anaconda, Inc.

**Describe the current

[2020-08-13 22:09] ymodak commented on #42296
You have to custom implement this piece as we don't out of the box functionality.
This [blog](https://ksaluja15.github.io/Learning-Rate-Multipliers-in-Keras/) can be good starting point in your case.

[2020-08-13 22:13] yongtang commented on #42248
Added PR #42334 for the fix.

[2020-08-13 22:14] ymodak commented on #42296
You have to custom implement this piece as we don't out of the box functionality.
This [blog](https://ksaluja15.github.io/Learning-Rate-Multipliers-in-Keras/) can be good starting point in your case.

[2020-08-13 22:23] jvishnuvardhan commented on #42249
@LINYOUWEI0804 Looks like there is a mismatch in the data shape. You can check `model.summary` that `input_shape` of image is (1, 224, 224, 3) whereas `xtrain.shape` in `representative_data_gen` is (1, 224, 224, **4**).

Can you please update the shape of `representative_data_gen` and then convert the model. As error is clearly mentioning there is a mismatch in the shape, i think this will work fo

[2020-08-13 22:40] AdamTibi commented on #37942
I followed the downgrade advice and started with the lowest available driver via search which was 441.* . That driver created the same problem, so I tried finding the exact version mentioned here 431.86:
https://www.nvidia.co.uk/content/DriverDownload-March2009/confirmation.php?url=/Windows/431.86/431.86-desktop-win10-64bit-international-nsd-whql.exe&lang=uk&type=TITAN

[2020-08-13 23:00] MinasTyuru commented on #42111
Thanks Nikita! One minor note, I was never able to get the logs for the Keras version to work. For some reason turning on verbose logging causes it to segfault. I didn't submit a separate issue as I thought maybe it was related to this issue. But the Estimator version should work if the Keras version doesn't.

[2020-08-13 23:24] ymodak commented on #42258
Can you try setting the flag as `/std:c++14`?

[2020-08-13 23:44] quasar66 opened #42340 "TF 2.3 fails to build with CUDA 11.0 using only 7.5 compute"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Pro x64 2004 Editio

[2020-08-13 23:52] JacobOfCorns opened #42342 "Help!! Unable to predict CNN model: How to resolve incompatible layers?"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2020-08-13 23:59] #42291 closed

[2020-08-14 00:18] abattery commented on #42312
After loading both models from https://github.com/tensorflow/tensorflow/issues/42312#issuecomment-673592182,

Both TF and TFLite models have the same input/output tensor size in the netron tool.

Frozen graph: Input name:input, type:float32 (?, 320, 240, 3) -> Output name:ENet/logits_to_softmax type: float32
Lite graph: Input name:input type:float32 (1, 320, 240, 3) -> Output name:ENet/logits_to_s

[2020-08-14 00:22] andrekassis opened #42343 "CQT implementation - Feature request"
Hi TF,

I noticed that TF currently does not offer an implementation for CQT (constant-q transform). Are you planning to add this functionality?

Thank you!

[2020-08-14 00:35] dhimasyoga16 commented on #23698
Hi, how can i increase the vocab size? Which file should i modify? Thankyou

[2020-08-14 00:50] denglw commented on #39274
使用 tf.compat api
tf.compat.v1.estimator.BaselineClassifier(n_classes = 2)

[2020-08-14 00:51] YeongHyeon commented on #42308
The new model, working as the same function, was developed for solving this issue.
In the LSTM series, it is often a problem that I found via the web searching, so I have replaced the LSTM layer to a convolutional layer.

It seems TensorFlow 2 version has solved the above problem.
I will try them in future times and I hope to contact you again.

Thank you for answering.

[2020-08-14 00:56] terryheo commented on #41846
I can reproduce the issue. Investigating...

[2020-08-14 00:56] tanzhenyu commented on #39274
Yep like @denglw said

[2020-08-14 00:56] #39274 closed

[2020-08-14 01:03] Simon-Coetzee commented on #40942
@gdudziuk I have the same issue as you, unable to even finish your example before I run out of memory. However if I use the tensorflow/tensorflow:latest-gpu-jupyter docker image - for example, the problem does not occur. Before I was installing from conda.

[2020-08-14 01:10] jianlijianli commented on #42231
Thanks for using the tooling and reaching out.

You are correct that the quantization tooling you are using is able to selectively quantize certain layers while leaving the rest in floating point (this offers well controlled trade-off between accuracy, speed, and model size). When a model has both int8 op and float op, there will be a "quantization" op inserted in between to do the conversion of i

[2020-08-14 01:21] jokie7585 opened #42345 "using tensorflow images in kubernetes got permission denied when accessing a hostpath(PV)"
First, i'm sorry for my poor English ( sad

the following is my pod's yaml

[code]

When "cd /catdog;" run, i got an `/bin/sh: 1: ./do.sh: Permission denied`.

But, if I mounting data under `/tmp`, and then `cd /tmp` is works.

Is there any solution, or it is the point that i should always put my data in `/tmp`?

[2020-08-14 01:24] jvishnuvardhan commented on #42306
@nvrsmeele Can you please simple standalone code to reproduce the issue? It will be too much to debug and find the root-cause if the code is too big. Please try to find minimal reproducible code and share it.

GutHub is mainly for bugs and performance issues. If this is not a bug, then please post it in Stackoverflow as there is big community who can support you faster. Thanks!

[2020-08-14 01:27] #33791 closed

[2020-08-14 01:32] marchss commented on #38561
TF 2.3 still have this issue.

[2020-08-14 01:48] naolenikhil opened #42346 "Different inference values tensorflow vs tflite model"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-08-14 02:09] gigwegbe opened #42347 "Deploy micro_speech to ESP32 using ESP IDF"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Esp32
- esp-idf version: 4.0.1

**Describe the problem**
Unable to build the micro_speech in Tensorflow using esp-idf.

**Please provide the exact sequence of c

[2020-08-14 02:11] alisonwh commented on #42176
I see now. Thank you very much for your detailed explanation.

[2020-08-14 02:22] jnd77 opened #42348 "Issue with iou_threshold in non_max_suppression"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-08-14 02:22] Azmisov commented on #4467
TFRecordWriter was incredibly slow for me. The only thing that worked for me was converting the output tensors I wanted to save to numpy arrays, and then saving using pyarrow. Here is some code if it helps anybody:

[code]

Use it like so:
[code]

[2020-08-14 02:23] ravikyram commented on #42340
@quasar66

Can you try with tested build configurations from [here](https://www.tensorflow.org/install/source_windows#gpu) and try building TensorFlow with CUDA 10.1, and check if it works.
Please, refer #[42084 (comment) ](https://github.com/tensorflow/tensorflow/issues/42084#issuecomment-670208947) for cuda 11.0 support. Thanks!

[2020-08-14 02:24] yanxg commented on #18165
You could see the reason why it has a problem https://www.tensorflow.org/guide/eager there: since tensorflow 2.0 has the eager execution feature. If you still want to use the graphical feature in Tensorflow, you could always disable the eager execution based on suggestions from Mainak431

[2020-08-14 02:27] talmo opened #42349 "tf.data.experimental.dense_to_ragged_batch fails with inputs from generator with unspecified shape in TF 2.3"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Both
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows + Linux (Colab)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary (PyPI)
- TensorFlow version (use com

[2020-08-14 02:57] DjangoPeng commented on #42084
emm.

So I'd better upgrade to CUDA 11?

[2020-08-14 03:19] ravikyram commented on #42348
I have tried in colab with TF version 2.3, nightly version and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/6a1118b74f9cf4fe3a71dc5c0f788b23/untitled251.ipynb).Thanks!

[2020-08-14 03:46] ravikyram commented on #42126
@perone

Issues related to TensorFlow Hub are handled in the Hub repo. Please submit a new issue using [this link](https://github.com/tensorflow/hub/issues/new) and fill in the template, so that we can track it there. Thanks!

[2020-08-14 04:00] nashWX commented on #42284
Thanks for the speedy reply. I ran the exact code you sent in Spyder and received this error when it attempts to predict the image:

WARNING:tensorflow:AutoGraph could not transform <function Model.make_predict_function.<locals>.predict_function at 0x1552da560> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAP

[2020-08-14 04:16] EdisonLeeeee commented on #36426
tensorflow 2.1 requires CUDA 10.1 from [here](https://www.tensorflow.org/install/source), it is better to downgrade you cuda toolkit.

[2020-08-14 04:27] #30459 closed

[2020-08-14 05:00] Saduf2019 commented on #42349
I am able to replicate this issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/12ad7a2cbacdeed027d6a5dcde2e39f8/untitled371.ipynb).

[2020-08-14 05:05] Saduf2019 commented on #42308
Thank you for your update. glad that your issue is resolved, moving this to closed status.

[2020-08-14 05:05] #42308 closed

[2020-08-14 05:09] Krishnarohith10 commented on #42163
I also opened this issue but I don't know some people closed that saying set allow_growth=True and closed it. But that's not permanent solution, so since then trying different things.
Literally, when I installed only Visual Studio 2019 and created a Virtual Environment with tensorflow-gpu==2.3.0. Trust me on this, I ran a sample code which I get this error in previous which is:
`import tensorflow

[2020-08-14 05:12] haozha111 commented on #37134
Hi,

tf.TensorArray is the high-level python API, and it's still supported in TF 2.x. The backing ops are changed to TensorLists, but it doesn't affect how you use the python API. Could you give a try?

[2020-08-14 05:27] #41327 closed

[2020-08-14 05:27] #41422 closed

[2020-08-14 05:27] #41738 closed

[2020-08-14 05:27] #41766 closed

[2020-08-14 05:27] #41787 closed

[2020-08-14 05:39] nikroc896 commented on #42258
@ymodak I tried this build command : bazel build //tensorflow/lite/java:tensorflow-lite --cxxopt=/std:c++14 -c opt --fat_apk_cpu=armeabi-v7a --verbose_failures
The warnings stopped. But I still get this error in the end.

bazel-out/x64_windows-opt/bin/external/bazel_tools/src/tools/android/java/com/google/devtools/build/android/ResourceProcessorBusyBox.exe @bazel-out/x64_windows-opt/bin/tensorflow

[2020-08-14 05:57] ravikyram commented on #42327
I have tried in colab with TF version 2.3, nightly versions(`2.4.0-dev20200813`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/2cdbc8759c76dca116fd7ea098ce7a99/untitled254.ipynb).Thanks!

[2020-08-14 06:28] ravikyram commented on #42284
@nashWX

You can ignore those warning.If you want to disable the warning messages add the below code.

[code]

Thanks!

[2020-08-14 06:29] zzzzzzrc opened #42351 "How to add TFLite_Detection_PostProcess ops"

[2020-08-14 06:29] #42351 closed

[2020-08-14 06:32] ravikyram commented on #42345
@jokie7585

It is not a bug or feature request related to Tensorflow. Please, get in touch with Kubernetes team regarding this.Thanks!

[2020-08-14 06:34] zzzzzzrc opened #42352 "How to add TFLite_Detection_PostProcess ops for my own detection model?"
I have built the efficientdet-lite model using tf.keras, and it can predict the boxes, scores, classes, but it need postprocess,such as NMS. Now I have the frozen pb file, what should i do to add TFLite_Detection_PostProcess, what's the input for TFLite_Detection_PostProcess ops

[2020-08-14 06:44] Mr-Nineteen commented on #42315
@Saduf2019

       Machine environment: **4U40C128G**, the network card is **dual 10G**.

       Using hadoop fs -copyToLocal, the network can reach 2g/s. Using tf.data.TFRecordDataset to load hdfs data, the network did not reach the bottleneck, and cores did not reach the bottleneck(Use less than 5 cores).

       Give you the code, the machine environment and the HDFS data environment are also d

[2020-08-14 06:46] ravikyram commented on #42260
@yash04singh

Please, go through similar issue #37968 and see if it helps you.Thanks!

[2020-08-14 06:56] zhjw0927 opened #42353 "tf.keras.losses has no attribute 'SparseCategoricalCrossentropy'"
`model.compile(optimizer='adam',
            loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
            metrics=['accuracy'])`
Use above code, something went wrong:
![image](https://user-images.githubusercontent.com/42128459/90222246-48dcf400-de3e-11ea-93bc-2a5c8ecd8ecc.png)
Looking forward for your help.
Thank you!

[2020-08-14 07:05] AlexCh98 commented on #38518
I am training a model with tf 2.3 and is the only python running in cpu and I am getting the same error every time.

[2020-08-14 07:06] SungmanHong commented on #16768
Me too, I got a same ERROR!

[2020-08-14 07:10] HelloFloor commented on #42257
@gowthamkpr Would you know why I can run it for the 200 epochs before I get the ResourceExhaustedError? Thank you!

[2020-08-14 07:11] zhjw0927 commented on #42353
My tf version is 1.3.

[2020-08-14 07:19] ravikyram commented on #42332
@kratsg

Please, see workaround as mentioned below.Attached [gist](https://colab.research.google.com/gist/ravikyram/3ea07ed15259b4a18e983543c4eb7992/untitled255.ipynb) for your reference

[code]
Thanks!

[2020-08-14 07:21] amahendrakar commented on #42320
@ablanch5,
Please take a look at [this](https://github.com/tensorflow/tensorflow/issues/41276) similar issue and let us know if it helps. Thanks!

[2020-08-14 07:25] lolonger commented on #38414
I'm having the same problem with TF 2.2.
The training process happened after about 120 epoches.
My input size is 640*640*3.
When training, the used RAM by the python process increases slowly from about 4G to 7.3G, and finally end up with the MemoryError.
It's definitely not a memory leak. I think its a bug in TF.

[2020-08-14 07:30] mmkhoa opened #42354 "pip install tensorflow - dlerror: cudart64_101.dll not found"
I check my error by 'python -c "import tensorflow as tf;print(tf.reduce_sum(tf.random.normal([1000, 1000])))"' and receive the notice: 'dlerror: cudart64_101.dll not found', help me, please

2020-08-14 14:25:24.281317: W tensorflow/stream_executor/platform/default/dso_loader.cc:59] Could not load dynamic library 'cudart64_101.dll'; dlerror: cudart64_101.dll not found
2020-08-14 14:25:24.282305: I

[2020-08-14 07:40] chocolate-skyr commented on #42298
Thank you.  What ended up working fixing my issue was:
reinstalling python with conda which downgraded the cuda toolkit / cudnn to appropriate versions

[2020-08-14 07:41] vaibhavarora102 commented on #41763
hi, @bionicles,
with reference to your above reply, what I understood is need of doc with listed XLA feature flags
correct me if I am wrong, as I am new to open source contribution
can I work on this if this is still open
thanks

[2020-08-14 08:08] AlexCh98 commented on #42055
I tried with a virtual environment after uninstall tensorflow and reinstalled it and still have this issue.

[2020-08-14 08:15] optiluca opened #42355 "Indexing into EagerTensor returns all zeros (on Windows w/ CUDA)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): WIN 10 LTSC BUILD 17763
- TensorFlow installed from (source or binary): BINARY - https://pypi.org/project/tensorflow/2.3.0/
- TensorFlow version (use command below): 2.3.0
- Python version: 3.6.8
- CUDA/cuDNN version

[2020-08-14 08:16] optiluca opened #42356 "Indexing into EagerTensor returns zeros (on Windows with CUDA)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): WIN 10 LTSC BUILD 17763
- TensorFlow installed from (source or binary): BINARY - https://pypi.org/project/tensorflow/2.3.0/
- TensorFlow version (use command below): 2.3.0
- Python version: 3.6.8
- CUDA/cuDNN version

[2020-08-14 08:18] optiluca commented on #42356
Managed to submit this twice, closing this one

[2020-08-14 08:18] #42356 closed

[2020-08-14 08:19] liqinglin54951 commented on #28846
`import tensorflow as tf #tf.__version__: '2.1.0'

from tensorflow import feature_column
from tensorflow.keras import layers

data = {'marks': [55,21,63,88,74,54,95,41,84,52],
        'grade': ['average','poor','average','good','good','average','good','average','good','average'],
        'point': ['c','f','c+','b+','b','c','a','d+','b+','c']}

# A utility method to show transromation from feature

[2020-08-14 08:20] liqinglin54951 commented on #28846
---------------------------------------------------------------------------
OverflowError                             Traceback (most recent call last)
OverflowError: Python int too large to convert to C long

The above exception was the direct cause of the following exception:

SystemError                               Traceback (most recent call last)
<ipython-input-33-d48208d43111> in <module>

[2020-08-14 08:20] bmanikan commented on #37876
This is caused when other operations which runs at the end of each batch consumes longer time than batch themselves.
One of the causes might be, we have really smaller batches. So, any operations is slow compared to your original batches.

Increasing batch size actually solved the problem for me.

see @bstriner comment in [Link](https://github.com/keras-team/keras/issues/5008)

[2020-08-14 08:24] liqinglin54951 commented on #28846
import tensorflow as tf # tf.__version__: 1.13.1 #run my codes on https://www.katacoda.com/courses/tensorflow/playground
from tensorflow import feature_column

sess=tf.Session()#appended

data = {'marks': [55,21,63,88,74,54,95,41,84,52],
        'grade': ['average','poor','average','good','good','average','good','average','good','average'],
        'point': ['c','f','c+','b+','b','c','a','d+','b+'

[2020-08-14 08:42] Keyang opened #42357 "tfl.cast cannot convert tensor to uint8 while tfv1 works without problems"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): Conda
- TensorFlow version (or github SHA if from source): 2.2.0

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.
https://colab.research.google.com/drive/16zUebMOvR

[2020-08-14 08:43] ravikyram commented on #42355
I have tried in colab with TF version 2.3 and i am not seeing any issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/66a5b557f05848ae794eec1c902bac0d/untitled256.ipynb).
I have not tested on windows.Thanks!

[2020-08-14 08:59] matthewfeickert commented on #42332
@ravikyram This might not have been clear from the original question, but we're not interested in a specific tensor, like the example snippet

but rather having a shim that can work with arbitrary tensors. The motivation form this question arose from https://github.com/scikit-hep/pyhf/issues/1025 and we went with @kratsg's example in https://github.com/scikit-hep/pyhf/pull/1028. Given that, the ex

[2020-08-14 09:12] optiluca opened #42358 "tf.data.Dataset.list_files(file_path, shuffle=True) fails (on Windows w/ CUDA)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): WIN 10 LTSC BUILD 17763
- TensorFlow installed from (source or binary): BINARY - https://pypi.org/project/tensorflow/2.3.0/
- TensorFlow version (use command below): 2.3.0
- Python version: 3.6.8
- CUDA/cuDNN version

[2020-08-14 09:26] parsarahimi commented on #42316
Thanks ymodak

[2020-08-14 09:26] #42316 closed

[2020-08-14 09:45] akshat-suwalka opened #42359 "How to connect or use my dataset to put in a CNN LSTM model"
I am a beginner and need guidance in writing the code to connect my dataset to the model i found somewhere in Github.

My dataset looks like:

This is How it look in my directory which shows the number of samples i have
![1](https://user-images.githubusercontent.com/35618437/90235614-3f07c080-de3f-11ea-9744-809c3c82d5ef.jpg)

Inside each sample there are 2 category AM/PM in which my model have to

[2020-08-14 10:24] fengyang0317 commented on #30818
tf 2.3.0 does not work either.

[2020-08-14 10:27] #41882 closed

[2020-08-14 10:58] Saduf2019 commented on #42359
@akshat-suwalka
This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
You may refer to these links:
[link](https://www.kaggle.com/tags/lstm) [link1](https://analyticsindiamag.com/how-to-code-your-first-lstm-network-in-keras/)

[2020-08-14 11:10] bersbersbers commented on #42027
This may be a duplicate of #39755.

[2020-08-14 11:24] Saduf2019 commented on #42353
@zhjw0927
Is there any particular reason for using this old version of tensorflow, support is available from tf 1.5 and 2.x, please upgrade to later versions and let us know if you still face the error in 2.x
Please refer to below links:
[link](https://www.tensorflow.org/api_docs/python/tf/keras/losses/SparseCategoricalCrossentropy)
[link1](https://www.tensorflow.org/versions/r2.0/api_docs/python/

[2020-08-14 11:25] sparachi1011 commented on #39007
I tried with Python 3.6 and 3.7 but no luck still facing same issue

[2020-08-14 11:39] #42345 closed

[2020-08-14 11:53] mr-goldhands commented on #37088
@MeghnaNatraj , I have tried to perform testing according to your propositions [here](https://github.com/tensorflow/tensorflow/issues/37088#issuecomment-642369484).
Confirmed. It works well.
**Software environment:**
CNN trained and converted with TF 2.2.0 installed from binaries.
Sources for MCU (TF micro component) has taken from TF sources SHA commit: c004b03ab7

**But** I have no success using

[2020-08-14 12:06] jianrui1995 commented on #42296
I read a part of source code of op and think this method can be used.
[code]

[2020-08-14 12:06] progred2 opened #42360 "Inference for two or more neural networks on gpu"
I am using tensorflow 1.15.0 and built a library from source with GPU gl delegates. I am using the native C ++ API. With Android NDK I am building an executable for Android.

I want to make inference for two or more networks. To do this, I create an instance of the class, in which the interpreter is created during initialization, the GPU delegate is applied and the inference is executed. The first

[2020-08-14 12:15] Flamefire opened #42361 "Googleapis no longer usable as a system lib with ignored com_github_googleapis_googleapis"
**Describe the problem**

TF 2.3.0 introduced a regression with https://github.com/tensorflow/tensorflow/commit/b9e1252bcb8cf8247e7393a0df65adf5b0a18c16:

Although a `com_github_googleapis_googleapis` value is still valid for `TF_SYSTEM_LIBS` it is no longer used and the project is always downloaded which might conflict with system installed versions of it.

Note how the name changed from com_gith

[2020-08-14 12:21] DanielZambelli commented on #25093
Used `brew link python 3.6.5_1`

[2020-08-14 12:41] joaogui1 opened #42363 "SimpleRNN possibly not using GPU"
**System information**
Colab with K80 GPU

TensorFlow git version: v2.3.0-0-gb36436b087 2.3.0

**Describe the current behavior**
The SimpleRNN cell is taking close to 15 longer to run compared to the GRU, and so it appears that the simpleRNN is not using the GPU

**Describe the expected behavior**
It should be faster, or at least as fast as the GRU layer.
**Standalone code to reproduce the issue**

[2020-08-14 12:49] amahendrakar commented on #42329
Was able to reproduce the issue with TF v2.1, TF v2.3 and TF-nightly.

Session crashes on running the `tf.nest.assert_same_structure` line. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/7e2519ef8640e2d849516d0d363ae230/42329.ipynb). Thanks!

[2020-08-14 12:52] dakl opened #42364 "`tf.data.experimental.snapshot()` hangs when using GCS paths"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2020-08-14 12:53] dakl commented on #42364
ping @piwell @carlthome

[2020-08-14 12:59] Flamefire commented on #37864
This seems to be fixed in 2.3.0 by https://github.com/tensorflow/tensorflow/commit/9cee90ac957f2575da2415242c5c127c0dd61430

[2020-08-14 12:59] #37864 closed

[2020-08-14 13:08] Jordy-VL commented on #42263
Any updates @ymodak?

[2020-08-14 13:15] Extremesarova opened #42366 "Error converting multilingual universal sentence encoder to TFLite. Input 1 of node StatefulPartitionedCall was passed float from statefulpartitionedcall_args_1:0 incompatible with expected resource."
**System information**
- OS Platform and Distribution: Ubuntu 19.10
- TensorFlow installed from (source or binary): pip install tensorflow==2.3.0

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]
[code]

**https://tfhub.dev/google/universal-sentence-encoder-multilingual/3**

I've tried the large mod

[2020-08-14 13:21] Flamefire commented on #37861
@perfinion As you introduced that debundled protobuf in https://github.com/tensorflow/tensorflow/pull/24004:

Any reason for copying the headers at all? Could we simply not do that which avoids the problem of incomplete list of headers and include style.

[2020-08-14 13:28] RomanGirin commented on #41200
@gowthamkpr  Thank you for the reply! I got the same error running the code on tf-nightly-gpu on colab.

I also debug the code locally on tf-nightly-gpu. In `loss_value` variable I have
`KerasTensor(type_spec=TensorSpec(shape=(), dtype=tf.float32, name=None), name='tf.math.reduce_mean/Mean:0', description="created by layer 'tf.math.reduce_mean'")`
I got the exception on the same line as it noted o

[2020-08-14 13:30] Kosta404 opened #42367 ""No module named tensorflow" though it is installed"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code:
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from (source o

[2020-08-14 13:33] zjzh opened #42368 "Why add the parameter ‘fallback_to_while_loop’ in the 2.3 API tf.vectorized_map( fn, elems, fallback_to_while_loop=True)"
Hello,
       Does the parameter 'fallback_to_while_loop' is to fix some bugs so as to the function could perform normally?

[2020-08-14 13:42] spate141 commented on #42325
@amahendrakar Added a new issue on tensorflow/serving.

[2020-08-14 13:56] parsarahimi opened #42369 "Fast row by row multiplication method"
So I have a vector dimension X, and a 2D array of dimensions X,Y. I need to multiply each row in the 2D array by the numbers in the vector. So technically you need to construct an identity matrix with diagonal made of the vector components, then matmul by the 2D array. But where speed is critical constructing a matrix just to perform such an operation is too expensive. Is there any smart way to do

[2020-08-14 13:58] Aryan05 commented on #42353
Try to install the latest version of TensorFlow, maybe that might fix your error

[2020-08-14 14:00] xuyan1115 commented on #3725
@tanzhenyu @will001

[2020-08-14 14:01] vandenheuvel opened #42370 "Changing hyper parameters during training based on scalars"
I'm training a model and logging values to tensorboard. Based on these values, I would like to tune hyperparameters (in code, not by hand). For example, one could think about switching to a different loss function, or changing a coefficient in the loss function, as a function of the loss.

It is not hard to find _some_ way to do it: one way would be to simply:

1. Work with eager execution
2. Save

[2020-08-14 14:03] #40226 closed

[2020-08-14 14:10] Saduf2019 commented on #42335
@danielsernabuitrago
The code seems incomplete to replicate, please share complete stand alone code such that we can replicate the error faced or if possible share a colab gist with the error faced.

[2020-08-14 14:15] Saduf2019 commented on #42342
@JacobOfCorns
Please share complete stand alone code for us to replicate the issue or if possible share a colab gist with the error reported.

[2020-08-14 14:23] ayush9096 opened #42371 "No difference in time for Conv1DTranspose before and after post training quantization"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu19.04 Linux
- TensorFlow installed from (source or binary): Source
- TensorFlow version (or github SHA if from source):  2.4.0-dev20200715

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

[code]

**Failure details**
If the conve

[2020-08-14 14:25] parsarahimi commented on #42369
oh, it seems like you can do that with a reshape (add an extra dimension at the end of the vector) and then tf.math.multiply
tf.math.multiply(tf.expand_dims(Vector, -1), Matrix)

[2020-08-14 14:25] #42369 closed

[2020-08-14 14:26] amahendrakar commented on #42331
Was able to reproduce the issue with TF v2.1, TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/b0a49b8ac355427b554aca7a08e12c75/42331.ipynb). Thanks!

[2020-08-14 14:30] Harsh188 commented on #38349
Just to follow up on the events. It looks like codeadmin-peritiae had an issue with his original PR #41721 where he had trouble with his SSH certificate. He then opened up another PR #41775 which is currently blocked since some of the checks haven't completed. By the looks of it, the documentation update part of this problem is almost completed.

[2020-08-14 14:35] amahendrakar commented on #42336
@eawer,
On running the Colab notebook you have shared, I am facing an error stating `NotFoundError: train-0.tfrecord; No such file or directory`.

In order to reproduce the issue reported here, could you please share the dataset you are using? Thanks!

[2020-08-14 14:37] amahendrakar commented on #42336
Also, please take a look at [this StackOverflow comment](https://stackoverflow.com/a/48408161) from a similar issue and let us know if it helps. Thanks!

[2020-08-14 14:44] nvrsmeele commented on #42306
@jvishnuvardhan Thank you for response and help! I have simplified the issue reproduction code in [this](https://colab.research.google.com/drive/1HldF0WOeQvlGYxQOOJEtpa0v7WPW7xYv?usp=sharing) Colab environment. Also, you can use [example.zip](https://github.com/tensorflow/tensorflow/files/5075055/example.zip) to run the code and reproduce the issue.

The error occurs in the ```class CustomModel(ke

[2020-08-14 15:10] amahendrakar commented on #42354
@mmkhoa,
Please try installing CUDA 10.1 and cuDNN 7.4 and check if you are facing the same issue.

For more information, please take a look at the [tested build configurations](https://www.tensorflow.org/install/source_windows#gpu). Thanks!

[2020-08-14 15:15] Harsh188 commented on #26270
Hello, it's been quite some time since the issue has been open and looks like there aren't any active linked PR. If this issue is still open I will begin to work on it.
I'm not too aware of the functionality of the custom_gradient function. However, judging by the comments made by @tsbertalan and @alextp the following changes have to be made to the documentation:
- The document should clarify that

[2020-08-14 15:20] KopfKrieg commented on #29704
Update: There *are* pre-built packages for the Raspberry Pi available, the urls (not even links you can just click!) are at the bottom of this page: https://www.tensorflow.org/install/pip

Those packages aren't available via pip/piwheels, though (and that's the real issue for me)

[2020-08-14 15:41] sparachi1011 opened #42372 "ImportError: DLL load failed: The specified module could not be found - while importing tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2020-08-14 15:44] qNOVAq commented on #41120
For me running `pip install tensorflow` and  `pip install tensorflow-gpu` fixed the problem.
I already had it installed but few things were outdated and needed an update,  after the installation, I restarted Jupyter and everything is working just fine.

[2020-08-14 15:56] amahendrakar commented on #42357
Was able to reproduce the issue with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/58348a479a8f7cbbbb754db66345182d/42357-2-3.ipynb#scrollTo=bOKPIXgDEPsb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/813ac1c8dd80c245c800c0dcfdbee5d9/42357-tf-nightly.ipynb).

Converting with TF 2.x fails, but using `tf.compat.v1.lite.TFLiteConverter` works. Please find the at

[2020-08-14 16:02] knslee07 commented on #42367
I am having the same issue.
I installed tensorflow following the website by creating a virtual env (conda create -n tf-gpu tensorflow-gpu;conda activate tf-gpu).
My current Python is 3.8.3 (Anaconda) but the tf-gpu python version is automatically 3.7.7 for compatibility.
Importing  tensorflow works in terminal, but it does not in Jupyter after I imported the kernel using ipykernel.
I removed the e

[2020-08-14 16:10] MeghnaNatraj commented on #37088
@mr-goldhands could you provide more information (code + errors). We highly recommend using installing the TensorFlow binary via pip and then use the Python API for conversion. You can also use https://colab.research.google.com/ to convert models to TFLite for free.

Another thing to note: The input/output type can be modified only in TF2.3 (and not TF2.2). However it looks like you're facing issu

[2020-08-14 16:27] #41003 closed

[2020-08-14 16:27] #41224 closed

[2020-08-14 16:27] #41274 closed

[2020-08-14 16:52] jvishnuvardhan commented on #42313
@npanpaliya One thing I noted was that you are using CUDA10.2 where as tested build configuration of TF2.3 is as follows.

Version | Python version | Compiler | Build tools | cuDNN | CUDA
-- | -- | -- | -- | -- | --
tensorflow-2.3.0 | 3.5-3.8 | GCC 7.3.1 | Bazel 3.1.0 | 7.6 | 10.1

May be there is a in compatibility issue. I am not sure how TF-Anaconda package was built but pip binaries of TF were

[2020-08-14 17:43] marchss commented on #32546
same issue, here.

[2020-08-14 17:52] anjali411 commented on #3348
[code]

shouldn't the gradient returned be `1+1j` according to the tensorflow gradient convention?

[2020-08-14 18:05] jvishnuvardhan commented on #42331
@DNXie How is this different from https://github.com/tensorflow/tensorflow/issues/42329? If this is duplicate, then close it. We will follow the https://github.com/tensorflow/tensorflow/issues/42329. Thanks!

[2020-08-14 19:12] satya2343 commented on #33153
Hi, i had this similar issue when running my application on docker. I was using python:3.6.8 at that time. And by changing the python image to 3.6.11 solves my problem. Something that i notice is that there is a difference in gcc version that is being used by them (6.3 and 8.3 as i recall).

[2020-08-14 19:14] k-w-w commented on #42045
This is a bug with using the sparse categorical accuracy. For now, please compile the model with `metrics='sparse_categorical_accuracy'` instead of just `'accuracy'`.

[2020-08-14 19:18] #38805 closed

[2020-08-14 19:18] ELind77 commented on #39535
This seems like a core deficiency in the library.  Is there  a followup ticket for a line of work to fix this?

[2020-08-14 19:23] jvishnuvardhan commented on #42346
@naolenikhil I am able to reproduce the issue. [Here](https://colab.research.google.com/gist/jvishnuvardhan/e0688bf5d2093db84478f70b1623fb29/untitled3.ipynb) is the gist for our reference. Thanks!

[2020-08-14 19:36] jvishnuvardhan commented on #42045
@jasonlilley I can confirm that this is working as expected when I followed @k-w-w suggestion. [Here](https://colab.research.google.com/gist/jvishnuvardhan/2cc844c7f00fec232d04af0a83d9bb22/untitled224.ipynb) is the gist for reference. Thanks!

[2020-08-14 19:49] 17patelumang opened #42374 "unique_with_counts() ON MULTI-DIMENSIONAL TENSOR?"
**System information**

     OS Platform and Distribution : macOS Catalina 10.15.3

    TensorFlow installed from : binary

    TensorFlow version : 1.15.0

    Python version: 3.7.3

**Describe the current behavior**

We have a tensor

input = `tf.Tensor([[1296,266,504,190,44,60,13,2,337,6742,2667,14,1,119,580,338,785,739,855,200,37,1,3,4,5,6],
 [1296,266,504,190,44,60,13,2,337,6742,2667,14,1,119

[2020-08-14 19:51] samprithahm opened #42375 "InvalidArgumentError: indices[28,46] = -1 is not in [0, 1000) [[node functional_3/embedding_4/embedding_lookup (defined at <ipython-input-64-77fdd54ae821>:5) ]] [Op:__inference_train_function_387521]"
I am not sure why this error pops out, New to deep learning, Trying to add bert embedding to the LSTM model.
 Input is CSV of 2 columns - 1st column words, 2nd column labels

Problem: classification problem

[2020-08-14 20:16] #41971 closed

[2020-08-14 20:19] cserpell opened #42376 "Exception when concatenating empty flattened layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, attached in colab.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab & local Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Not tried
- TensorFlow installed from (source or binary): Colab: bundled,

[2020-08-14 20:25] mr-goldhands commented on #37088
@MeghnaNatraj , I tried again with TF 2.3.0 in the Google Collab:
I was not able to convert and optimize the model because 'tanh' activation was the matter of the error. I was able to convert the model only with 'relu' activations in the model.
I have created and shared with you the collab notebook with the train and the Model conversion code.

Received error message:
`RuntimeError: Quantization n

[2020-08-14 20:28] cserpell commented on #42367
This is probably an issue on your installation of packages. You can try adding the correct environment variables inside the notebook to find the tensorflow package:

[code]

Anyway, I would recommend having separated environments for system libraries and for development. You can have a look to virtualenv - venv packages.

[2020-08-14 20:34] cserpell commented on #42342
Note that your input image has size 256 x 256. Assuming it has two channels, that gives you a vector of size 131072. In your network definition, you wrote input shape=(200, 200, 3). Please check that.

[2020-08-14 20:37] cserpell commented on #42367
Maybe it is related to #42297 .

[2020-08-14 20:43] cserpell commented on #42376
I noted that changing the Flatten layer to a Reshape((x_extra_data.shape[1] * x_extra_data.shape[2],)) layers works as expected, although it is not ideal to know the shape of data in advance.

[2020-08-14 20:46] ayush9096 commented on #42305
@amahendrakar  It worked if I did the conversion of the model, using tensorflow version 2.2 and inference in C++, using the version tf-2.4-dev . I won't be able to provide the complete code, as it is in private for now. The model is similar to a Generator network like in GANs, with Conv2D and ConvTranspose2D. Thanks!

[2020-08-14 20:50] quasar66 commented on #42340
Hi...
Update - the build process fails for CUDA 10.2, and 10.1 with identical errors at same stage. The input parameters remain the same : namely, use GPU, use AVX2, use c++17.
An observation : The error seems to be a string parsing error as the software seems to be searching for 'C:\Program' which is probably incorrect use of ' '(space character) for parsing a execution string (short for C:\Progr

[2020-08-14 20:50] amitDaMan commented on #42276
@Saduf2019 can you put the lite, and build/install tags on this, its been 2 days

[2020-08-14 21:00] amitDaMan commented on #42064
As illustrated above I am using a dockerfile from the Android quickstart:
https://raw.githubusercontent.com/tensorflow/tensorflow/master/tensorflow/tools/dockerfiles/tflite-android.Dockerfile

Therefore this bit of infrastructure is taken care of without the need for ./configure

Heres the guide again:
https://www.tensorflow.org/lite/guide/android#build_tensorflow_lite_locally

[2020-08-14 21:36] nikitamaia commented on #42263
Hi @Jordy-VL, I've seen this error reported a few times and as I understand it it's caused when an outer tf.function is retraced where there's an inner tf.function that has accessed a tensor created in the outer tf.function. Here is a simple example which results in the same error function. Removing (1) or (2) should make the error go away.
[code]
 I think that explains why you aren't seeing the e

[2020-08-14 22:08] #35745 closed

[2020-08-14 22:11] ymodak commented on #42343
Can you please fill the feature request template?
This helps others working on this topic down the line.
Thanks!

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):

**Describe the feature and the current behavior/state.**

**Will this change the current api? How?**

**Who will benefit with this feature?**

**Any Other info.**

[2020-08-14 22:13] morgankohler commented on #38194
Where does tensorflow look for cudcudart? I tried symlinking 10.2 to /usr/lib/x86_64-linux-gnu/libcudart.so.10.1 as per  @petervandenabeele suggestion with no success

[2020-08-14 22:19] ymodak commented on #42265
Did you install [MSVC 2019](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads)?
Also see https://www.tensorflow.org/install/pip#system-requirements

[2020-08-14 22:21] praveenmec67 commented on #29040
Is there any update on this issue, as it is difficult to not able to find ResNeXt as part of Tensorflow Keras API.

[2020-08-14 23:22] ymodak commented on #42352
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2020-08-14 23:22] #42352 closed

[2020-08-14 23:23] HLuSLB opened #42378 "The estimated size for TPUEstimatorSpec.predictions is too large."
I have designed a model by using [TPUEstimator API](https://www.tensorflow.org/api_docs/python/tf/compat/v1/estimator/tpu/TPUEstimator). The outputs (TPUEstimatorSpec.predictions) of this model are very large (> 2GB). I got the following error:
[code]
I am wondering if there is anyway which can bypass this limit so that I can output large results for the predictions by using
`return tpu_estimator.

[2020-08-14 23:27] #41862 closed

[2020-08-14 23:36] PyFormulae opened #42379 "Cube root of negative number returns nan"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2020-08-14 23:56] #37088 closed

[2020-08-14 23:58] MeghnaNatraj commented on #37088
@mr-goldhands if the error is not related to the current issue "network_tester test failed with NN with 28x28 px input image but succeded with NN with 14x14 px input" could you file a new bug and post a link to it here? We can look into it in a separate thread as this a converter related issue.

[2020-08-15 01:53] WindQAQ commented on #42379
I think this is c++ semantics on `pow`.

https://en.cppreference.com/w/cpp/numeric/math/pow

[2020-08-15 02:16] PyFormulae commented on #42379
I think this could be done for integer roots. You could implement a separate function for roots called `root`. If it's an odd integer root, return sign(x)*root(abs(x))

[2020-08-15 03:02] leszekmp opened #42380 "Embedding for Embedding Projector works on one computer, not on another."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 1909
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): Version: 2.3.0 (same problem with 2.2.0)
- Python version: 3.7, 3.8
Working computer
- CUDA/cuDNN versio

[2020-08-15 03:07] leszekmp commented on #38518
I got this error message in a new 2.3 environment (both tensorflow and tensorflow-gpu). When I created a new environment with version 2.2 for both, the problem went away. So this bug shouldn't be closed.

[2020-08-15 03:10] #39780 closed

[2020-08-15 03:43] mcmar commented on #37556
@sarthfrey-db Did you ever figure out a solution for this? I searched stack overflow and it's just too noisy with lots of random copy-paste output for `report_tensor_allocations_upon_oom` and nothing relevant I can find for tf2/keras.

[2020-08-15 03:56] spate141 commented on #40310
**Related issue/trying to solve something similar:**
- https://github.com/tensorflow/serving/issues/1719
- https://github.com/tensorflow/tensorflow/issues/42325

[2020-08-15 03:57] vermouth1992 opened #42381 "Subclass model can't restore weights from h5 format"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-08-15 04:04] spate141 commented on #39064
Alrighty, since @xiaoyunwu's response was not properly formatted; putting it here _again_ in more readable format. Feel free to comment on if any line is not properly indented.

[code]

[2020-08-15 04:23] leszekmp commented on #38518
And just that quickly, when I tried to install it on another computer with 2.2.0, the error message came back. Tried it both with and without tensorflow-gpu, and had the same problem.

[2020-08-15 04:38] Otakarlp opened #42382 "Sparsemax & tf.Cumsum"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): 2.3
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**

inputs = Input((256,256,3))
outputs = tf.keras.layers.Conv2D(activation=tfa.activations.sparsemax,fi

[2020-08-15 04:41] jesen8 commented on #39322
i have try gcc 4.8, 5.4, 6.3, 7.3, 8.3, 9.3 ,there is no one can build successfully...

[2020-08-15 04:49] pratapmalani commented on #42058
@jvishnuvardhan

Thanks for your help and guidance. Yes, i uninstalled TF and Anaconda, deleted all related folders and did a fresh installation. Now things are working well.

Thanks to @amahendrakar  @ayush0x00  for your help and guidance.

[2020-08-15 04:49] #42058 closed

[2020-08-15 04:59] jesen8 commented on #25323
have you slove this problem?

[2020-08-15 05:08] SamuelMarks opened #42383 "`metrics=['accuracy']` works, `metrics=['Accuracy']` gives `ValueError: Shapes (None, 10) and (None, 1) are incompatible`"
I want to use [`tf.keras.metrics`](https://www.tensorflow.org/api_docs/python/tf/keras/metrics) the same way I use [`tf.keras.optimizers`](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers). I can pass `'Adam'` and it'll work. I can pass an instantiation of [`Adam`](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam) and it'll work.

Unfortunately the same isn't true

[2020-08-15 05:15] ultraflame4 opened #42384 "Cannot install with pip"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Home
- TensorFlow v

[2020-08-15 05:27] Irunnnn commented on #41855
I have the same problem. Python 3.7, tf 2.3 , CUDA 10.1 and cuDnn 7.6.  If  I deactivate GPU, using CPU will be so slow and it doesn't actually solve the problem.

[2020-08-15 05:45] ultraflame4 commented on #42384
Never mind. i never realised i was using 32bit python all this time.

[2020-08-15 05:45] #42384 closed

[2020-08-15 06:36] #42248 closed

[2020-08-15 06:55] aingo03304 opened #42386 "GradientTape.gradient needs to check target type."
https://github.com/tensorflow/tensorflow/blob/b36436b087bd8e8701ef51718179037cccdfc26e/tensorflow/python/eager/backprop.py#L991

Recently, I wrote some code below which is very simple,
[code]
but it raises `TypeError: Cannot convert value None to a Tensorflow DType.`
It turns out my custom loss function is returning None. yes, I know I was dumb.

I had to check all of the related tensorflow code l

[2020-08-15 09:10] nrchaudhry opened #42387 "Tensorflow Aborted due to tensorflow/core/lib/monitoring/sampler.cc:42"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-08-15 09:57] jo-dean commented on #26769
the same issue,i can trained and predict,

[2020-08-15 09:58] jo-dean commented on #26769
anybody fix this issue?

[2020-08-15 10:34] amahendrakar commented on #41877
@DjangoPeng,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-08-15 11:14] amahendrakar commented on #42052
@Ramesh-X,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-08-15 11:21] nvrsmeele commented on #42306
@jvishnuvardhan I just did another attempt by using TF 2.2.0 and Keras 2.3.0 but the same issue occurs again.. However, this time an additional message is printed in the traceback:

```InvalidArgumentError: Operation 'TensorListPushBack_145' has no attr named '_XlaCompile'.```

I did some more searching on this and found that there was a similar bug issue reported a month ago. The report bug issue

[2020-08-15 11:22] nvrsmeele commented on #41394
Hi, Is this issue solved? If yes, can you please provide more information about the solution? I am facing a similar issue

[2020-08-15 11:35] EQuiw opened #42388 "Image-Scaling Attacks: Discuss threat and mention secure scaling options to prevent attacks"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/image/resize

## Description of issue:
TensorFlow is vulnerable to image-scaling attacks if specific scaling algorithms and parameters are used. These attacks
allow an adversary to arbitrarily change the output image of a downscaling operation. It is a threat for machine learning applications, similar to adversarial examples.

[2020-08-15 11:43] mr-goldhands commented on #36189
@rockyrhodes , @Saduf2019
**The issue has updated.**

@tensorflow/micro

**System information**

- Host OS Platform and Distribution: Linux Ubuntu 20.04
- Tensorflow sources version: 71ff216576
- Target platform: ESP32
- ESP IDF version: v4.0.1

**Describe the problem**
Building the example Hello World for ESp32 fails.

**Please provide the exact sequence of commands/steps when you ran into the pr

[2020-08-15 12:32] knopt opened #42389 "Undocumented S3_DISABLE_MULTI_PART_DOWNLOAD variable and its behavior"
## URL(s) with the issue:

S3 environment variables are partially documented here: https://github.com/tensorflow/examples/blob/master/community/en/docs/deploy/s3.md.
However, there doesn't seem to be a complete documentation of this feature anywhere.

## Description of issue (what needs changing):

TensorFlow's S3 client use `S3_DISABLE_MULTI_PART_DOWNLOAD` environment variable (see [s3_file_syste

[2020-08-15 12:39] mr-goldhands opened #42390 "Error. Converter does not support Quantization NN with 'tanh' activation"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.3.0 (Google Collab)

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.
https://colab.research.google.com

[2020-08-15 12:57] mr-goldhands commented on #37088
@MeghnaNatraj , at the moment  I have two issues in different stages.
1. I have an issue during the conversion of my model to TF Lite format. I have registered an [Issue](https://github.com/tensorflow/tensorflow/issues/42390).

2. Also, I faced an issue during building the "TF Hello World" example. As I see the API for microcontrollers has slite changed since v2.1.0. Consequently, I need an actual

[2020-08-15 13:38] Fanbenchao opened #42391 "distributed training"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2020-08-15 13:56] JerryLiuMY commented on #41106
Same issue here https://github.com/tensorflow/tensorflow/issues/42228, will we get notified when it gets fixed and will it get fixed on the nightly version before the 2.4.0 release?

[2020-08-15 14:24] slowrunner commented on #36141
Thanks - worked for me rebuilding my Pi3B with Pi OS
```Linux deskpi 5.4.51-v7+ #1333 SMP Mon Aug 10 16:45:19 BST 2020 armv7l GNU/Linux ```

[2020-08-15 14:45] mokundong commented on #28799
I also had this problem when i use checkpoint. btw ,my loss is customLsyer

the error log:
`WARNING:tensorflow:From /Users/mkd/Project/PythonProjects/search_query_intention/model/DssmRNN_ali.py:368: Model.fit_generator (from tensorflow.python.keras.engine.training) is deprecated and will be removed in a future version.
Instructions for updating:
Please use Model.fit, which supports generators.
WAR

[2020-08-15 15:00] tgaddair opened #42392 "tf-nightly: 'bfloat16' in namespace 'Eigen' does not name a type."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, custom op
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): tf

[2020-08-15 15:23] DrChrisLevy opened #42393 "Add Object Detection EfficientDet/Retinanet Model(s) to tf.keras.applications"
**System information**
- TensorFlow version (2.3): Although this request feels very TF 2.4.
- Are you willing to contribute it: I could be involved in testing.

**Describe the feature and the current behavior/state.**

`tf.keras.applications` is amazing. With all the model architectures and the pre-trained weights there is a lot
of possibilities for transfer learning and feature extraction. Howeve

[2020-08-15 15:51] 17patelumang commented on #42374
any update on this ? @Saduf2019

[2020-08-15 15:58] manojkumarmahato opened #42394 "ImportError: DLL load failed while importing _pywrap_tensorflow_internal: The specified module could not be found"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2020-08-15 16:02] Al-Badri179 opened #42395 "Hi everybody, I 'm trying to excute a free avialble code for CNN model to classify 4 classes of dogs, cats, horses and humans. Unfortunatly, I faced this issue: "ValueError: Calling `Model.fit` in graph mode is not supported when the `Model` instance was constructed with eager mode enabled. Please construct your `Model` instance in graph mode or call `Model.fit` with eager mode enabled." how can I handle it?"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2020-08-15 16:08] Al-Badri179 opened #42396 "Model.fit() issue"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2020-08-15 16:13] Al-Badri179 commented on #36991
I have this error:
"ValueError: Calling `Model.fit` in graph mode is not supported when the `Model` instance was constructed with eager mode enabled. Please construct your `Model` instance in graph mode or call `Model.fit` with eager mode enabled."
When I tried to execute this code:

hist = model.fit(X_train, y_train, batch_size=16, epochs=num_epoch, verbose=1, validation_data=(X_test, y_test))

H

[2020-08-15 16:27] #41637 closed

[2020-08-15 16:31] nawresmhedhbi commented on #37262
any update ?

[2020-08-15 18:20] aavishkarmishra commented on #42383
Hello, I would like to work on this issue, can  you explain me what are you expecting from this. Should I have to make it to case insensitive  or just put a warning/error.

[2020-08-15 18:37] abal6725 commented on #31870
Hello, was there any resolution to this issue? I am having the same issue.

[2020-08-15 18:49] ajayp1 commented on #42199
This worked - thanks!

[2020-08-15 18:49] #42199 closed

[2020-08-15 18:50] sarthfrey-db commented on #37556
+xiangrui since Sarth is done with the internship

On Fri, Aug 14, 2020, 8:44 PM Mike Martin <notifications@github.com> wrote:

[2020-08-15 19:17] yongtang commented on #42329
The issue is more or less complicated and is related to pybind's handling of mismatched python type binding. A easy fix might be to enforce the type passed to pybind conforms to bool (for check_types and expand_composites). Created a PR #42397 for the fix.

[2020-08-15 19:30] wolwire commented on #42340
Try changing your python path since the python path created similar problem for me

[2020-08-15 19:31] wolwire commented on #42340
--python_path=C:/Program Files/Python3/python.exe -> this to C:/Python3/python.exe somethinglike this

[2020-08-15 19:32] jeball opened #42398 "TFA can't load _image_ops.so - says file doesn't exist, but its there?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 64-bit
- Mobile dev

[2020-08-15 20:56] 17patelumang commented on #42374
cc @mdanatg

[2020-08-15 21:55] dsvanidze commented on #37876
I saw exactly the same warning. In my case, it was the problem of the Tensorboard callback. I used batch size of 32 and probably, Tensorboard's callback took longer for saving and writing log files than an iteration of 32 examples.  I had removed Tensorboard from my callbacks' list and the Warning has been disappeared.

[2020-08-15 22:22] knoaf commented on #38518
I'm getting the same error. If I force it to use CPU, code executes fine, when using GPU I get the error:
"InvalidArgumentError: assertion failed: [0] [Op:Assert] name: EagerVariableNameReuse"

Running Win10 Conda setup with GF 930M (Cc 5)

All tests indicate that the GPU is available and tests okay.

[2020-08-15 23:54] DNXie commented on #42331
@jvishnuvardhan  Is the fix for #42329 also fix the bug for this API? Thanks!

[2020-08-16 00:27] #41602 closed

[2020-08-16 01:15] omarallouz opened #42399 "Adding Conv3DLSTM and depth-wise separable Conv3D layers to tensorflow.keras API"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.3
- Are you willing to contribute it (Yes/No): Yes (but

[2020-08-16 01:51] MeanAbzoluteError commented on #37876
Same thing the post above me said, when I removed the Tensorboard callback it seemed to disappear

[2020-08-16 02:54] fengyang0317 opened #42401 "Compilation failure: XLA has not implemented dynamic sized slice with non-trival stride yet. Please file a bug against XLA"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.3.0
- Python version: 3.6

**Describe the current behavior**
Throws the following error when calling **model.pr

[2020-08-16 03:24] starjasmine commented on #42160
@Saduf2019 Ok, Thanks! 😃

[2020-08-16 03:25] #42160 closed

[2020-08-16 03:34] gronka commented on #38475
I found this issue occurs after I edit xorg.conf. I'm on PopOS.

I opened a bug at https://issuetracker.google.com/issues/164794508

[2020-08-16 04:11] yiliu9090 opened #42402 "[new feature]: Roll slice of a tensor"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):2.30
- Are you willing to contribute it (Yes/No):
Yes

**De

[2020-08-16 04:45] phessari commented on #7623
I got this problem in import tensorflow. None of the above could help. Any help would be much appreciated!

ImportError                               Traceback (most recent call last)
~\AppData\Roaming\Python\Python38\site-packages\tensorflow\python\pywrap_tensorflow.py in <module>
     63   try:
---> 64     from tensorflow.python._pywrap_tensorflow_internal import *
     65   # This try catch log

[2020-08-16 05:07] micahreich commented on #42311
For anyone facing the same issue, I think I was able to solve it using tf.raw_ops functions inside the custom layer and avoiding any python control flow, substituting if/else statement or any loops for tf ops

[2020-08-16 05:28] mmkhoa commented on #42354
It worked! Many thanks, @amahendrakar !

[2020-08-16 05:29] #42354 closed

[2020-08-16 05:44] micahreich commented on #42311
@Saduf2019 I'm now able to compile the model and get it to start training, but the loss does not change -- something in the Lambda layer is preventing the gradients from updating or changing... how can I fix this? I tried adding @tf.custom_gradient decorator and setting the gradient to be 1.0 and 0.0, but no change. Any advice?

[2020-08-16 06:20] hsomaiya opened #42403 "mode.save() API raises AttributeError: 'Tensor' object has no attribute '_keras_mask'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): tf-nightly==2.4.0-dev20200815
- Python version: 3.6
- GPU model and memory: Tesla T4, memory_limit: 146113

[2020-08-16 07:43] spratik opened #42405 "Pybind11 exception with tensorflow 2.2 env in python cpp communication"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): window 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): pip install tensorflow-gpu==2.2
- TensorFlow version (use co