[2021-03-05 18:28] RocaVincent commented on #47061
I still encounter GPU Out-of-memery on non-first call, even when removing the *get_next* functions from the train *tf.function*. Therefore it's still an unexplainable issue for me.

[2021-03-05 18:35] iliaschalkidis opened #47597 "Set specific weights to non-trainable instead of the whole layer"
I'm trying to find a way to turn specific weights (variables) from trainable to non-trainable. For example, let's say I load a pre-trained model that includes a `Dense` layer and want to keep the `W` matrix trainable while disabling the bias term.

I see only examples of how to turn a whole layer:

[code]

Returns:

[code]

What if, I want to do something like:

[code]

This returns the error:

[c

[2021-03-05 19:08] neel04 commented on #47586
In each file, there is a nested list that contains 5 other lists. they have been already converted to integers to facilitate mode training. you can simply copy the list, put it in a variable and train the model.

[2021-03-05 19:32] jvishnuvardhan commented on #39909
@sandeep22-v Can you please open a new issue with a simple standalone code to reproduce the issue? Thanks!

[2021-03-05 19:33] wenjielu123 commented on #39392
I had the same error. I was able to get around it by setting `unroll=True` for the LSTM.

It is strange that, according to [this talk](https://youtu.be/2tnWHCxP8Bk?t=261), RNN/LSTM is natively supported in TF2.x, without any change to the model.

[2021-03-05 20:24] ChipKerchner commented on #44626
Power specializes the packing routines which should be quite fast.  Other than that, I'm not sure what other code there is

[2021-03-05 20:28] jvishnuvardhan commented on #47493
@hfahrudin Sure. Thanks for your contributions. You can raise a PR to update it. Thanks!

[2021-03-05 20:34] jvishnuvardhan commented on #47582
@emadboctorx Can you please share a simple standalone code to reproduce the error? Thanks!

[2021-03-05 20:48] jvishnuvardhan commented on #47451
@jeball Looks like this is more related to `tf-addons` repo. Can you please open this issue in [tf-addons](https://github.com/tensorflow/addons) repo and close the issue here. Thanks!

[2021-03-05 20:50] emadboctorx commented on #47582
@jvishnuvardhan The error does not recur. It sometimes happens between re-runs and whenever I encounter it, I just re-run (with zero modifications), then it runs perfectly fine. Therefore I don't think sharing the code is likely to reproduce the error.

[2021-03-05 21:04] advaitjain commented on #47241
@hakehuang, very valid question.

We do see a lot of potential benefits to having cmake support. However, (at this time) we do not want to support more than two separate build systems simultaneously. So any additional build system support would have to be accompanied by a solid plan and justification to remove one of the existing ones (Make and Bazel).

For the time-being, we would like to make it

[2021-03-05 21:21] CostanzoPablo commented on #45055
I have the same problem and the solution is:

1) Uninstall all drivers that says "nvidia" from Uninstall programs (ALL, Cuda and gpu driver)
2) Install last nvidia drivers for your GPU https://uk.download.nvidia.com/GFE/GFEClient/3.21.0.36/GeForce_Experience_v3.21.0.36.exe
3) Install cuda 11.2 https://developer.download.nvidia.com/compute/cuda/11.2.1/local_installers/cuda_11.2.1_461.09_win10.exe
2

[2021-03-05 21:22] CostanzoPablo commented on #36111
I have the same problem and the solution is:

1) Uninstall all drivers that says "nvidia" from Uninstall programs (ALL, Cuda and gpu driver)
2) Install last nvidia drivers for your GPU https://uk.download.nvidia.com/GFE/GFEClient/3.21.0.36/GeForce_Experience_v3.21.0.36.exe
3) Install cuda 11.2 https://developer.download.nvidia.com/compute/cuda/11.2.1/local_installers/cuda_11.2.1_461.09_win10.exe
2

[2021-03-05 21:59] jeball commented on #47451
Will close this one. Thanks.

John Ball, Ph.D.
Associate Professor and Robert Guyton Endowed Chair for Teaching Excellence | Electrical and Computer Engineering

[cid:image002.png@01D711D8.89671000]
Associate Editor | IEEE Signal Processing Letters
Associate Editor | Journal of Applied Remote Sensing
Editorial Board Member | MDPI Electronics
Faculty Advisory Council | Transactions on Stem Educatio

[2021-03-05 22:06] jurahul commented on #47386
Closing this as this is a bazel issue.

[2021-03-05 22:06] #47386 closed

[2021-03-05 22:12] abattery commented on #47595
@lintian06 could you take a look at this issue?

[2021-03-05 22:14] lminer opened #47599 "XLA experimental_compile=True fails inside tf.data.Dataset"
The `experimental_compile=True` option for `tf.function` works outside of a tf.data Dataset, but fails once I try to map it over a dataset.

[code]
I get the following error:

[code]

It works as expected if I set experimental_compile to False. I'm using tensorflow 2.4.0.

[2021-03-05 22:30] Yu-Hang commented on #19293
@srjoglekar246 I tried to convert the model, but failed at generating the intermediate SavedModel.

code:
`tensorflow@3e9a683ad236:~/models/research$ python object_detection/export_tflite_graph_tf2.py --pipeline_config_path ~/data/mask_rcnn_inception_resnet_v2_1024x1024_coco17_gpu-8/pipeline.config --trained_checkpoint_dir ~/data/mask_rcnn_inception_resnet_v2_1024x1024_coco17_gpu-8/checkpoint --ou

[2021-03-05 22:39] srjoglekar246 commented on #19293
Oh yeah.. the TFLite tools don't work on MaskRCNN, you need to use [export_inference_graph](https://github.com/tensorflow/models/blob/master/research/object_detection/export_inference_graph.py) instead.

[2021-03-05 22:40] ymodak commented on #35226
@marchss @Zepan Is this still an issue with latest TF version (2.4.1)? Can you please post a new issue thread with minimal code to reproduce?  This thread is relatively old and the original author has not responded. Thanks!

[2021-03-05 23:08] s-agar commented on #47509
Does this mean that the farther away the scores are from 0, the more confident the model is? For example, if two person_scores were 100 and 50, would the model be more confident that the image showed a person on the first score?

[2021-03-05 23:31] #46863 closed

[2021-03-05 23:43] njeffrie commented on #47509
That is correct.

[2021-03-05 23:47] jvishnuvardhan commented on #47565
@suiluj I think this is more related to Tensorboard (TB) repo where experts will resolve issues related to TB. [Here](https://github.com/tensorflow/tensorboard/issues) is the repo.

AFAIK, you can create multiple log files and load each one as shown in that example. I tried three different training runs and collected logs files as shown below. I was able to open each log to visualize it.

<img wid

[2021-03-05 23:49] Yu-Hang commented on #19293
@srjoglekar246 I changed command to:
`python object_detection/export_inference_graph.py --input_type image_tensor --pipeline_config_path ~/data/mask_rcnn_inception_resnet_v2_1024x1024_coco17_gpu-8/pipeline.config --trained_checkpoint_prefix ~/data/mask_rcnn_inception_resnet_v2_1024x1024_coco17_gpu-8/checkpoint --output_directory ~/data/mask_rcnn_inception_resnet_v2_1024x1024_coco17_gpu-8/output/`

[2021-03-05 23:52] 1173710201 commented on #47448
@karimnosseir  Thanks for your help! Actually this is my graduation project, so there's no specific usage now. My teacher asked me to figure out whether the tflite supported custom ops on GPU/DSP.

[2021-03-05 23:52] 1173710201 commented on #47448
@karimnosseir  Thanks for your help! Actually this is my graduation project, so there's no specific usage now. My teacher asked me to figure out whether the tflite supported custom ops on GPU/DSP.

[2021-03-05 23:58] srjoglekar246 commented on #19293
It should be `~/data/mask_rcnn_inception_resnet_v2_1024x1024_coco17_gpu-8/checkpoint/ckpt`, I believe.

[2021-03-06 00:37] Yu-Hang commented on #19293
@srjoglekar246 hmmm...looks like checkpoint path is not the cause of the error. I still have the same error:

`google.protobuf.text_format.ParseError: 153:40 : Message type "object_detection.protos.TFRecordInputReader" has no field named "s".`

[2021-03-06 01:09] mihaimaruseac commented on #45994
Able to reproduce:

[code]

Rick, since this is in DistStrat, can you take a look please?

[2021-03-06 01:11] mihaimaruseac commented on #47474
Would be good to also get a regression test.

[2021-03-06 01:30] ymodak commented on #47464
@CyangXu Thanks for your issue. Assignee's generally facilitate the PR merging process, you may want to raise PR as an author to fix issue/add new feature. I am sorry you missed this opportunity however feel free to raise PR to address any other issue of your choice and we can help merge it. Contributions from the community are highly encouraged and welcomed. Thanks!

[2021-03-06 01:34] chrisbutner commented on #45994
Very recently I actually hit an even stronger case of this - sys didn't actually even have an "argv" attribute at all, hosting via C++. I believe this was on "newer" TPUs, using Ubuntu 18.04 LTS, Python 3.7.

I updated my workaround to this to cover both cases:
[code]

[2021-03-06 01:37] NavidCOMSC commented on #36792
That didn't work in my case! I have downgraded numpy to 1.9 as well! this the error traces I get:NotImplementedError                       Traceback (most recent call last)

<ipython-input-158-ef99b450fe96> in <module>
      6     callbacks=callbacks,
      7     validation_data=valid_dataloader,
----> 8     validation_steps=len(valid_dataloader),
      9 )
     10

~/.virtualenvs/CGG/lib/python3.

[2021-03-06 02:57] #47555 closed

[2021-03-06 03:44] innat commented on #39523
Training just stopped at the very first epoch with this message:

[code]

It's really disappointing to get such an issue. Rewriting `tf.keras.utils.Sequence` to `tf.data.Dataset` is not a smooth transaction. The one which was the recommended way now is not safe to use! I wonder what we may see for `tf.data`! This issue must be opened and resolved. It's clear why people move to `PyTorch`, no offens

[2021-03-06 03:56] dpmcgonigle commented on #46905
Thank you very much for getting back to me!  That looks to be the problem.  Thank you very much for helping me out!

[2021-03-06 03:56] #46905 closed

[2021-03-06 04:14] IFFranciscoME commented on #18689
@tatianashp @av8ramit @tfboyd  it seems that, as members of TensorFlow, you are trying to justify the AVX generalization and that there is a lack of evidence for rejecting the idea "everybody that cares about good performance has AVXs ready CPUs" when you do not have enough evidence to prove it either. Have you ever considered ALL THE OTHER users/practitioners that stumble upon this AVX exclusivit

[2021-03-06 05:09] sailor239 commented on #47562
Thank you for the suggestions. But the code currently is not compatible with TF 2.4.1 yet. I'll try to share the model in some way.

[2021-03-06 05:27] junneyang commented on #47583
1. tensorflow: 2.3.0

2. workers: 2,
[code]
import os
import sys
import json
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation

per_replica_batch_size = 10
num_workers = 2
global_batch_size = per_replica_batch_size * num_workers
dataset_size = 100
steps_per_epoch = 100 / global_batch_size

os.environ['TF_

[2021-03-06 05:42] LucasColas opened #47602 "Error to load a file related with cuda"
**System information**
- OS Platform and Distribution : Windows 10 Familly 1909
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip install
- TensorFlow version: 2.3.0
- Python version: 3.7
- Installed using pip
- CUDA/cuDNN version: 11.2
- GPU model and memory: 1660Ti

**Describe the problem**

I insta

[2021-03-06 06:33] jackd commented on #45883
@rmothukuru sorry, work's been busy. Are you looking for a bug fix or just making the documentation consistent with the current behaviour?

[2021-03-06 06:35] neso613 commented on #47101
looking forward for op support

[2021-03-06 06:45] game-sys commented on #46975
I solve it by just creating a conda environment
**using command**
conda create -n tensor2 python=3.6 tensorflow-gpu cudatoolkit cudnn
and then I ran **command**

python

    cuda_only=False, min_cuda_compute_capability=None
)

It **returned**

WARNING:tensorflow:From <stdin>:1: is_gpu_available (from tensorflow.python.framework.test_util) is deprecated and will be removed in a future version.
Inst

[2021-03-06 06:51] game-sys commented on #46975
I ran a simple python file

from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D
from keras import backend as K

batch_size = 128
num_classes = 10
epochs = 12

# input image dimensions
img_rows, img_cols = 28, 28

# the data, split between train and test sets
(x_train, y_train), (x_test,

[2021-03-06 07:00] game-sys commented on #46975
**After 5 min**
Epoch 1/12
2021-03-06 11:51:58.746746: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcublas.so.10
**After 2 min**
2021-03-06 11:53:25.153184: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcudnn.so.7

[2021-03-06 07:07] walli55 commented on #46975
LICENSE

[2021-03-06 07:07] walli55 commented on #46975
Alomaisi

[2021-03-06 07:35] Saduf2019 commented on #47570
@XXZhou25
Can you please move this to closed status as the issue is resolved.

[2021-03-06 07:56] nmfisher commented on #47357
I don't have this exact problem, but I am experiencing crashes with a TFLite model with tflite built via bazel from master/nightly (1edc795). Building from tags/v2.4.1 works fine, though.

Model was converted to tflite using 2.4.1.

[2021-03-06 08:02] innat commented on #47544
Any update?

[2021-03-06 08:03] innat commented on #47578
Any effective workaround?

[2021-03-06 10:16] emadboctorx opened #47603 "Same random seed(s), different tensorflow versions, different results"
I'm trying to get the same results using tf 1.15 and tf 2.4.1. Here are 2 examples that I'm expecting to produce similar results. The first example using `tf.layers.conv2d()` and the second using `tf.keras.layers.Conv2D()`. I tried using `kernel_initializer=some_tf_initializer(seed=seed)` and I also tried without using a kernel initializer, still the same.
___

**TF1**

    import tensorflow as tf

[2021-03-06 10:39] #47442 closed

[2021-03-06 11:00] MoFHeKa commented on #47516
@amahendrakar @ravikyram hello？

[2021-03-06 11:24] LucasStromberg commented on #47502
Hi again, I was able to get around this problem by replacing my custom activation function with the tensorflow.keras.layers.ReLU(max_value=6.0) layer.

[2021-03-06 14:10] RifqiAW opened #47606 "Could not load dynamic library 'libcudnn.so.7'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 18.04**
- TensorFlow version: 2.2.2
- Python version: python 3.6.13
- Installed using virtualenv? pip? conda?: pip
- CUDA/cuDNN version:CUDA 10.1/cuDNN version 7.6.5
- GPU model and memory: GeForce RTX 965M, 8GB

**Describe the problem**
I followed [the cuda installation guide](https://docs.nvidia.com/

[2021-03-06 14:16] tomchen1000 opened #47607 "Hexagon 685/690 wrong SoC examples for QCS610/QCS410 on TensorFlow Lite Hexagon delegate"
On this page:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/performance/hexagon_delegate.md

It states that QCS610, QCS410 are SoC examples for Hexagon 690. However, according to Qualcomm's product info:
https://www.qualcomm.com/products/qcs610

Both SoC QCS610 and QCS410 contain Hexagon 685 rather than Hexagon 690.

[2021-03-06 14:28] samanemami commented on #47430
@amahendrakar Have you checked the issue?

[2021-03-06 14:41] mdanatg commented on #36792
@NavidCOMSC the stack trace suggests that at this line: `x = x * class_weights` `x` is a NumPy array, but `class_weights` is a `Tensor` - in tf.function, tensors and numpy arrays don't mix well. Can you check if that's the case? Also, when you train the model, what is your input?

Alternatively, you may be able run everything eagerly by calling `tf.config.experimental_run_functions_eagerly` (or `t

[2021-03-06 15:55] amahendrakar commented on #38546
@dirknbr,
Closing this issue as it is resolved in the [nightly version](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Ftrl?version=nightly).

Please feel free to re-open if mistaken. Thanks!

[2021-03-06 15:55] #38546 closed

[2021-03-06 16:20] MehdiMaboudi opened #47608 "BatchNorm: Documentation: Problem in Inference Equation (and also training)"
in the following links 'sqrt' is missing:
https://www.tensorflow.org/api_docs/python/tf/keras/layers/BatchNormalization#used-in-the-notebooks_1

**During inference:**
instead of  :  (batch - self.moving_mean) / `sqrt`(self.moving_var + epsilon) * gamma + beta
it is written:  (batch - self.moving_mean) / (self.moving_var + epsilon) * gamma + beta.

**During training**
instead of:    (batch - mean(b

[2021-03-06 16:29] robinderat commented on #47306
Ah yes, of course. My bad.

[2021-03-06 16:29] #47306 closed

[2021-03-06 16:40] JohnStott commented on #47473
Having the same frustrating issues!

Using Cuda 11.0 with v2.4.1 is not the solution as the RTX 3090 has specific optimisations in cuda 11.2 which requires us to compile our own version of TF in order to benefit from the improved GPU speed.  It is not ideal having to pair this with v2.4.1, when we'd prefer tf-nightly.

@ALIANS-PRODUCTIONS - out of interest where do you look to see that the nightly

[2021-03-06 17:21] ALIANS-PRODUCTIONS commented on #47473
Hi there , ,

1) I have found that current performance on TF 2.4.1 with CUDA 11.0 and 3090 : is about same and sometimes even slower than my 2080ti which was quite demoralising considering the price/potential. So completely agree with you about the future potential when everything is fully working.

I dont have the familiarity with UNIX/ going the docker route which others are doing to use NVIDIAS

[2021-03-06 18:02] Flamefire commented on #44626
I'd be interested in that too. However first and foremost it has to work at all so we have something to compare against.
I remember trying to remove the Eigen code additions but ending up with wrong results from the calculations. Hence I went and removed the TF code instead.

[2021-03-06 18:14] embeddetech opened #47609 "TLFM Problem Compiling micro_allocator.cc In Visual Studio With MSVC"
@tensorflow/micro

**System information**
- Windows 10
- TensorFlow installed from source
- Tensorflow version 2.4.1:
- Target platform: Windows Visual Studio 2019 MSVC. Building with C++ Language Standard Default (ISO C++14 Standard) and C Language Standard Default (Legacy MSVC)

**Describe the problem**
I am working to port TFLM to Visual Studio and almost have it working. I am currently stuck a

[2021-03-06 18:17] louridas commented on #45615
Same, will get to it as soon as I find some time.

[2021-03-06 18:21] Saduf2019 commented on #47556
I am able to replicate the issue reported on tf 2.3,tf 2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/e7dfabaed4c7a2b5037e67c92b2e5b77/untitled557.ipynb).

[2021-03-06 18:25] embeddetech opened #47610 "Can't Quantize Inputs As Uint8 In TFLM"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution: Windows 10
- TensorFlow installed from Source
- Tensorflow version 2.4.1
- Target platform Visual Studio

**Describe the problem**
I have been troubleshooting problems trying to run inference on a model using Tensorflow Lite for MIcrocontrollers in Visual Studio. I found the issue to be that the lite/micro/kernells/quan

[2021-03-06 18:28] embeddetech commented on #47452
I am closing this issue, and have opened two more granularly defined issues that this issue has taken me to.

https://github.com/tensorflow/tensorflow/issues/47609
https://github.com/tensorflow/tensorflow/issues/47610

[2021-03-06 18:28] #47452 closed

[2021-03-06 18:47] #46161 closed

[2021-03-06 19:27] farazk86 commented on #47357
Hi, sorry but I'm not familiar with bazel and I tried to follow the documentation and downloaded the ``bazel.exe`` and added it to my path. From where do I now call the ``bazel build`` command?

[2021-03-06 20:37] ymodak commented on #47584
These (gen_*_.py) are automatically generated files and can be found in your local TF installation.
For me on PyCharm IDE it is located at:
[code]

[2021-03-06 21:13] embeddetech commented on #47609
Update:
I would probably propose the code below as an improvement from the code above, as it avoids a potential memory leak.

[code]

[code]

[2021-03-06 22:19] Yu-Hang commented on #19293
@JaviBonilla @noah003 @mali30 Hi fellas, did any of you had any luck getting this to work?

[2021-03-06 22:24] Rukshani commented on #40070
Same issue with TF 2.3

[2021-03-06 22:32] abattery commented on #47607
@karimnosseir could you review this suggestion?

[2021-03-06 22:32] abattery commented on #47610
CCing @ethkim

[2021-03-06 22:59] hamh91 opened #47611 "۱"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2021-03-06 23:48] Javad-Hamidi-Esfahani commented on #38100
When I reduce the batch size and number of gpus, it works

[2021-03-07 00:07] #47611 closed

[2021-03-07 00:07] Hassan92Wa opened #47613 "pppppp"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-03-07 00:56] #47151 closed

[2021-03-07 01:03] ameyparanjape commented on #30818
Is there any way out to this? I am trying to train EfficientDet-D1 on colab TPUs and running into this.

[2021-03-07 01:26] innat commented on #47578
I've done it. Here is the [gist](https://gist.github.com/innat/985b10357f7a33806308e3147c78c823) and more [discussion](https://stackoverflow.com/a/66512358/9215780). Closing this issue.

[2021-03-07 01:26] #47578 closed

[2021-03-07 03:09] innat commented on #47578
@jvishnuvardhan this issue is not yet solved. Please re-open the issue.

[2021-03-07 05:42] LucasColas opened #47615 "Error with cude even with tf nightly"
<em>Please make sure that this is a bug. As per our

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): I juste wrote `from tensorflow.keras import layers
`
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): W10 Family
- TensorFlow installed from (source or binary): Don't
- TensorFlow version (use command below):  tf-est

[2021-03-07 06:14] hfahrudin commented on #47493
@jvishnuvardhan Should i make another class, or just edit this [API](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/schedules/CosineDecay)?

[2021-03-07 06:16] coreqode opened #47616 "Dynamic preprocessing of image inside model class."
I want to take input of image with dynamic size and do the preprocessing on it. Especially, I want to resize the input image with dynamic size to (512x256) and then restore it back to the original input size.

[code]

---
[Link to reproduce error](https://colab.research.google.com/drive/1b5KEY9XTo6aA9dxii0PdH5DPpLyOn4em?usp=sharing)

[2021-03-07 06:47] WindQAQ commented on #47616
@coreqode Try this.

[code]

Because your input has dynamic height and width, you have to use `tf.shape` to get tensor's shape in runtime.

[2021-03-07 07:24] JohannSchumann commented on #47383
Hi,

yes, it's connecting to USB 3.0 - see below.

lsusb -t
/:  Bus 02.Port 1: Dev 1, Class=root_hub, Driver=xhci_hcd/6p, 5000M
    |__ Port 1: Dev 2, If 0, Class=Application Specific Interface, Driver=,
5000M
/:  Bus 01.Port 1: Dev 1, Class=root_hub, Driver=xhci_hcd/12p, 480M
    |__ Port 2: Dev 17, If 0, Class=Human Interface Device, Driver=usbhid,
1.5M

dmesg | grep usb
[343085.437163] usb 2-1:

[2021-03-07 07:24] fonghyalex commented on #47595
@lintian06
Hello,
May I ask if I want to prevent this from happening, shall I change to other models?
Or it is not model-related issue?

[2021-03-07 08:03] hijm commented on #36901
Any news regarding this?

[2021-03-07 08:36] coreqode commented on #47616
Thanks @WindQAQ . It worked !!!!

[2021-03-07 08:36] #47616 closed

[2021-03-07 09:24] ruks001 commented on #43947
This solution worked for me too. Thanks for the help. I am using cuda 11.2 with rtx 3090 and replcing cuda-11.1 with cuda-11.2 in that command workd for cuda 11.2 too

[2021-03-07 10:13] coreqode commented on #47390
@rmothukuru Here is a complete code for reproducing the error. [Link to Colab Notebook](https://colab.research.google.com/drive/1zsLXYiBEOGGf2-ljKeNe1LbWqwMS0vQv?usp=sharing)

I also think, that most probably error lies in this line, `input_5, input_4 = model_reposition(input_1, input_4, input_4, input_4)` in the `build_model` function. Because, without this, I was able to restore the model.
Pleas

[2021-03-07 10:57] cocorosiekz commented on #27726
What's the progress of this issue?

[2021-03-07 11:18] mdickinson commented on #47474
Sorry, I'm not going to be able to provide a PR with test any time soon; I've already used up most of the time I had available trying to get bazel installed on my machine (and still haven't succeeded).

[2021-03-07 12:13] barmanroys commented on #45200
Faced the same error. Can point me to any specific link which gives the necessary packages and installation instruction? Also, does it mean all my development efforts will have to be inside a docker container?

[2021-03-07 13:12] researchofhemanth commented on #47553
@worldpeaceaspirer logits are normally raw outputs of a classification model. A Normalization function like softmax is added for normalized probabilities in the prediction. And the logits hyperlink clearly explains what logits are and how we can use normalization functions based on the type of classification problem. Beginners normally have an idea of logits and the use of activation functions so

[2021-03-07 14:12] gqqnbig opened #47618 "Can we add a check in Model.fit on dataset element_spec?"
**System information**
- TensorFlow version (you are using): 2.4.1
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

I have this code
[code]

If we ignore the assert, running the code throws error

The error reason may not be obvious that train_data doesn't return required examples, ie. "either (inputs, targets) or (inputs, targets, sample_

[2021-03-07 14:51] jameshfisher opened #47619 "mobilenet_v3.preprocess_input does nothing!"
## URL(s) with the issue:

* The documentation: https://www.tensorflow.org/api_docs/python/tf/keras/applications/mobilenet_v3/preprocess_input
* The source: https://github.com/tensorflow/tensorflow/blob/v2.4.1/tensorflow/python/keras/applications/mobilenet_v3.py#L556-L558

## Description of issue (what needs changing):

This function does nothing: it just returns its first argument. But the docs s

[2021-03-07 15:11] BioWar commented on #27190
That was exactly the case in my custom loss function created in class inherited from **tf.keras.losses.Loss** . After deletion of all **reduce_mean**/**reduce_sum** the function works like a charm. Thank you so much for your short explanation!!!

[2021-03-07 17:01] ioannesKX opened #47622 "Build TFLite Micro for RISC-V"
@tensorflow/micro

How do I build TFLite Micro for RISC-V MCU's? I use:
`make -f tensorflow/lite/micro/tools/make/Makefile TARGET=mcu_riscv TARGET_ARCH=riscv32_mcu hello_world_bin`
but the binary produced at **_/micro/tools/make/gen/mcu_riscv_riscv32_mcu_default/bin/_** seems to not have used the riscv-gcc toolchain as specified by _**mcu_riscv_makefile.inc**_. An x86-64 executable was built.

[2021-03-07 17:08] around-star commented on #46907
@jvishnuvardhan , thats what @princyok tried to point out in the issue. The code works well with strings as you mentioned but throws in the error when using a tensor. I think this needs to be fixed. Please revert back if you would like a fix for this issue.

[2021-03-07 17:15] GungnirASHTTTTT opened #47623 "Tensorflow doesn't seem to work on rtx2060"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-03-07 17:15] angelocatalani commented on #39392
Same error here with this model:
[code]

[2021-03-07 17:34] GungnirASHTTTTT commented on #47623
I also have a sample log to provide:
This occurs in running cifar 10
For the recurrence of cifar10, I do as follows:
import tensorflow as tf
import os
import numpy as np
from matplotlib import pyplot as plt
from tensorflow.keras.layers import Conv2D, BatchNormalization, Activation, MaxPool2D, Dropout, Flatten, Dense
from tensorflow.keras import Model

import datetime
import time
import sys
startti

[2021-03-07 18:07] max0x7ba opened #47624 "keras.callbacks.EarlyStopping fails with RuntimeError: basic_string::_S_construct null not valid."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.5 LTS.
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/a.
- TensorFlow installed from (source or binary): Binary, using `pip install tensorflow`.
- Tens

[2021-03-07 19:46] fereydoonvafaei commented on #43947
Thanks! This worked for me:
Ubuntu 20.04
Tensorflow 2.4.1 installed with pip in venv
Python 3.8.5
Deriver version 460.32.03

[2021-03-07 20:03] ghwatson commented on #46896
@ymodak it appears to be a bug to me. I could definitely be misunderstanding something which might make it not a bug, However, TF2 has had many corner case bugs so I wouldn't be surprised if it is a bug.

[2021-03-07 20:52] ngsteven97 commented on #45744
I'm trying to install 2.4.1 onto my Jetson Nano, and I'm having the illegal instructions error, can you help me with compiling it from sources? I am a complete noob when it comes to Linux and python and stuff!

[2021-03-07 22:07] max0x7ba opened #47627 "tensorflow.python.framework.errors_impl.InvalidArgumentError error message details are wrong."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.5 LTS.
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/a.
- TensorFlow installed from (source or binary): Binary, using `pip install tensorflow`.
- Tens

[2021-03-07 23:23] jackd commented on #25955
Looks all good now.

[2021-03-07 23:23] #25955 closed

[2021-03-07 23:34] karrdy89 opened #47628 "Error with decoded CSV file: InvalidArgumentError: Unquoted fields cannot have quotes/CRLFs inside"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
- TensorFlow installed from (source or bin

[2021-03-07 23:46] m4ff opened #47629 "AttributeError when concatenating window datasets"
**System information**
- Windows 10
- TensorFlow installed from pip
- TensorFlow version 2.4.1 (git v2.4.0-49-g85c8b2a817f)

**Current behavior**
Concatenating two window datasets throws the following error: `AttributeError: 'DatasetSpec' object has no attribute 'most_specific_compatible_shape'`

**Expected behavior**
The code below returns a new dataset that is the concatenation of the two

**Sta

[2021-03-08 01:08] terryheo commented on #47383
Is the source at https://github.com/tensorflow/tensorflow/issues/47383#issuecomment-785951123 what you're using?
Could you share where you referred?

What I found was the following page which uses external context. It might worth to try.
https://coral.ai/docs/edgetpu/tflite-cpp/#set-up-the-tf-lite-interpreter-with-libedgetpu

Also I wonder if you see the same symptom with Python example.

[2021-03-08 01:25] terryheo commented on #47166
I used master branch.

[2021-03-08 02:09] JulieYao0754 commented on #47584
@ymodak thanks a lot!

[2021-03-08 02:09] #47584 closed

[2021-03-08 02:50] #47606 closed

[2021-03-08 02:57] SysuJayce commented on #37505
@Sherry40931 hello, Im facing the same problem, and Im using tf.dataset.from_tensor_slices(), when training with keras.model.fit() distributedly with TF 2.4.1, memory usage keeps increasing. Below is the main procedure of my dataset part.
[code]
Can u share some advice for me ?

[2021-03-08 03:01] krenerd commented on #37505
@SysuJayce The following code solved the problem for me.

[code]

[2021-03-08 03:06] SysuJayce commented on #37505
@krenerd Hi, thx for the reply. Where should I add this part in my code?

[2021-03-08 03:07] thaink commented on #47101
It is in out to-do-list.

[2021-03-08 03:10] krenerd commented on #37505
@SysuJayce In my code, the memory leakage happened after every iteration of reading images and training one epoch epoch on it. So I appended the code after every iteration. Although this is not a fundamental fix to this problem we experienced, it fixed my issue.
[code]

[2021-03-08 03:11] SysuJayce commented on #37653
@kkimdev actually, from_tensor_slices() also faces memory leak problem

[2021-03-08 03:15] multiverse-tf commented on #47525
Hi Thibaut,

We have checked in the fix https://github.com/tensorflow/tensorflow/commit/174fbcfed43c816bdc98c760d2cd1705af27a819 described above. Could you help to double check it on your side? Many thanks!

-Chao

[2021-03-08 03:56] sandeep22-v commented on #39909
Sure sir..will do it now

[2021-03-08 04:31] anilnishad19799 commented on #47549
how can i secure model in raspberry pi ?

Thanks in advance

[2021-03-08 04:33] lintian06 commented on #47595
Hi @fonghyalex,

As you've customized the model other than our built-in model, the model is different from the previous one because it doesn't contain model [metadata](https://www.tensorflow.org/lite/inference_with_metadata/overview). Therefore, it fails the previous assertion. (The inputs and outputs may be different too, which I cannot infer from your report.)

First, please change the related c

[2021-03-08 04:39] mushtaqsyed opened #47630 "arm_nn_mat_mult_nt_t_s8.c:111: undefined reference to `__SXTB16_RORn"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2021-03-08 04:40] lintian06 commented on #47595
@lu-wang-g for the visibility of metadata.

[2021-03-08 04:54] sayakpaul commented on #47596
Problem solved!

I suspect the issue was stemming from the usage of `tf.keras.applications.mobilenet_v2.preprocess_input`. I replaced it like so -

[code]

[2021-03-08 04:54] #47596 closed

[2021-03-08 05:18] SysuJayce commented on #37505
@krenerd unfortunately, I tried your code but memory leak still exists

[2021-03-08 05:19] sandeep22-v opened #47631 "ssd_mobilenet_v2 to 8-bit quantized tflite model conversion error"
Tensorflow version : 2.4.1

I have been trying to convert tensorflow model 'ssd_mobilenet_v2' to 8 bit quantized tflite model.
I was successful in converting from tf to just tfllite model ,BUT I was unable to convert to 8 bit quantized tflite model as it shows some errors.
My code is :

import tensorflow as tf
import numpy as np
import cv2
import os

saved_model_dir = '/home/ssd_mobilenet_v2_2'

f

[2021-03-08 05:20] sandeep22-v commented on #47631
@jvishnuvardhan sir I've posted the issue..Please help me with this

[2021-03-08 05:54] Saduf2019 commented on #47631
@sandeep22-v
The code provided has errors can you please share standalone code such that we can replicate the issue reported, or share a colab gist with the error reported.

[2021-03-08 05:55] terryheo commented on #47357
Please follow steps on https://www.tensorflow.org/lite/guide/build_android#set_up_build_environment_without_docker

BTW, I've tested the inception based models with https://github.com/tensorflow/examples/tree/master/lite/examples/style_transfer/android
by updating https://github.com/tensorflow/examples/blob/master/lite/examples/style_transfer/android/app/download_model.gradle
it works well for me.

[2021-03-08 06:00] Sherry40931 commented on #37505
hi @SysuJayce, I think the order of your functions is correct, could you provide the parameters/functions you send to map, cache and batch?

[2021-03-08 06:02] fsx950223 opened #47632 "tensorflow numpy add __setitem__ hook"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):2.4.1
- Are you willing to contribute it (Yes/No):Yes

**De

[2021-03-08 06:04] Saduf2019 commented on #47628
@karrdy89
Code shared is not sufficient to replicate the issue, please provide with standalone reproducible code or a colab gist with the issue faced for us to analyse.
You may also refer to similar closed issues and let us know if they help: [link](https://github.com/tensorflow/tensorflow/issues/3851), [link1](https://stackoverflow.com/questions/65360412/error-with-decoded-csv-file-invalidargumen

[2021-03-08 06:08] Saduf2019 commented on #47613
Closing as spam.

[2021-03-08 06:08] #47613 closed

[2021-03-08 06:48] amahendrakar commented on #39526
@DachuanZhao,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2021-03-08 07:03] SysuJayce commented on #37505
@Sherry40931  hi, actually, I did a dataset benchmark test, and found no memory leak. So maybe the problem is within the fit() / predict()?

I use TextVectorization layer to convert text to vector in my map(), and cache() has no parameter, and batch(batch_size=32).
[code]

Below is the dataset memory test snippet
[code]

[2021-03-08 07:09] sandeep22-v commented on #47631
Sure sir... I think the issue you mentioned was about the represenative_data_gen() function which need external folder to work,.
I've simulated it  in the below code,so this code will run as a standalone one.
Also ssd_mobilenet_v2 is attached as zip file

import tensorflow as tf
import numpy as np
import cv2
import os

saved_model_dir = '/home/ssd_mobilenet_v2_2'
def representative_data_gen():

[2021-03-08 07:12] JWenBin opened #47633 "why my 'workers=8,use_multiprocessing=True' do not work while training?"
**Here is my code：**
train_model_input=generate_arrays_from_dataframe( data.sample(frac=1) )
history = model.fit(train_model_input,  epochs=1, verbose=1, validation_split=0.0,steps_per_epoch= math.ceil( train_row_len/256),  workers=8,use_multiprocessing=True)

I find it only 100% CPU-Util not the expect 800%.
![图片](https://user-images.githubusercontent.com/49393828/110285880-e4be8f00-801e-11eb-8e8

[2021-03-08 07:16] Saduf2019 commented on #47599
@lminer
I ran the code shared and face a different error,please find the [gist here](https://colab.research.google.com/gist/Saduf2019/ed83ba0196042a2cef91f31ec5754f9e/untitled559.ipynb) and share all dependencies such that we can replicate the error reported.

you may also refer to these links and let us know if it helps, [link](https://github.com/tensorflow/tensorflow/issues/47211#issuecomment-78

[2021-03-08 07:21] JWenBin commented on #47633
should i read my data(pd.read_csv) inside generate_arrays_from_file(path) ?  But i find my generate_arrays_from_dataframe entered 8 times.

[2021-03-08 07:22] SysuJayce commented on #33030
Hi, after 4 months, have you solved the memory problem?

[2021-03-08 07:30] Emile0205 commented on #33030
https://www.tensorflow.org/guide/keras/writing_a_training_loop_from_scratch

This works well 👌

[2021-03-08 07:31] SysuJayce commented on #33030
@Emile0205 So you have totally abandoned the high level fit() and predict() ?

[2021-03-08 07:34] vermouth1992 commented on #33030
You can actually overload train_step, test_step and predict_step, which will be called by fit and predict.

[2021-03-08 07:35] Emile0205 commented on #33030
Unfortunately yea. There’s definitely a memory leak (at least for combined models) in these functions. I’m assuming it isn’t being addressed cus everyone using complicated/combined models are using custom training loops

[2021-03-08 07:36] amahendrakar commented on #47115
@ymodak,
Colab notebook crashes on running the code with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/c87343c44e0c5459c887fdf78d663838/47115.ipynb). Thanks!

[2021-03-08 07:41] SysuJayce commented on #33030
yeap, firstly I assumed it was the tf.dataset, but after a dataset memory test, I realized it was these high level apis that caused the memory leak

[2021-03-08 07:46] amahendrakar commented on #47119
@mortalx2,
Could you please share the output of the `cat /proc/cpuinfo` command with us? Thanks!

[2021-03-08 07:56] #47036 closed

[2021-03-08 08:02] liym27 opened #47634 "How to reproduce Bert with XLA?"
Hi,  how to reproduce Bert with XLA？Is there any relevant code provided？
![image](https://user-images.githubusercontent.com/33742067/110291744-33702700-8027-11eb-80ac-5ee0f7c96184.png)
https://www.tensorflow.org/xla

I run the code from https://github.com/google-research/bert and enable xla, but it seems that it can't use XLA successfully.

[2021-03-08 08:21] abattery commented on #47631
@ethkim could you triage this issue?

[2021-03-08 08:39] dh-g commented on #46648
hey any updates?

[2021-03-08 08:49] Saduf2019 commented on #47630
@mushtaqsyed
This is not a tensorflow related issue, please refer to this [link](https://forum.arduino.cc/index.php?topic=676185.0), and open this issue in relevant repo.

[2021-03-08 09:03] amahendrakar commented on #47163
@snigdhasen,
I did not face any errors while running the code with [TF v2.2](https://colab.research.google.com/gist/amahendrakar/a3c7645acf43e03b36662a8c0bbe5455/47163-2-2.ipynb) and TF v2.3.

Whereas with [TF v2.4](https://colab.research.google.com/gist/amahendrakar/73a845a7506035da518bbca8d46c687d/47163-2-4.ipynb#scrollTo=hmUnOeaAIRVX) and TF-nightly, the `pyspark` module throws an error stating

[2021-03-08 09:09] Saduf2019 commented on #47622
@ioannesKX
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

[2021-03-08 09:17] Saduf2019 commented on #47548
@jlapin1
Please share a colab gist with the error reported for us to analyse.

[2021-03-08 09:18] Tessil commented on #47525
Hello @multiverse-tf

Thank you very much for the fix. I tested it with the example above and another model we had which was affected by this problem and everything is working fine now.

I'll thus close the issue, thanks.

Thibaut

[2021-03-08 09:18] #47525 closed

[2021-03-08 09:25] suiluj commented on #47565
hello @jvishnuvardhan yes i know how to train multiple runs and log everything in subfolders. Event the embeddings are visible.
The main point is that i was not able to show the visualizations including my metadata.

I found an older issue which had kind of the same problem with the projector_config which includes the metadata path.

Should i create a completely new issue in the tensorboard repo e

[2021-03-08 09:27] karthajee commented on #47558
@amahendrakar Hope you have all the information you need to debug?

[2021-03-08 09:31] Saduf2019 commented on #31278
@KabohaJeanMark
Is this still an issue.

[2021-03-08 09:35] Saduf2019 commented on #31275
@dannylwe
Is this still an issue.

[2021-03-08 09:37] vaibhavexleapsemi opened #47636 "TFLite: Not able to build target riscv"
Hi,
I am trying to build target riscv, in riscv_makefile.inc at tensorflow/tensorflow/lite/tools/make/targets using toolchain riscv32-unknown-elf- .
I have built the toolchain using following sources at https://github.com/riscv/riscv-gnu-toolchain.git.
I am getting following error: ./tensorflow/lite/shared_library.h:22:10: fatal error: dlfcn.h: No such file or directory.
How can I resolve this?

[2021-03-08 09:39] Richie-yan opened #47637 "Why not use multiple streams for model calculations?"
I see that Tensorflow uses one stream for model calculation by default, why not use multiple streams? Will there be any impact on using multiple streams?
I think that for some OPs that are not dependent on models, using multiple streams will increase the parallelism of calculations, then increasing the end-to-end training speed of the model.
Any advices can help me.

[2021-03-08 09:40] Saduf2019 commented on #30815
@emrul
Is this still an issue

[2021-03-08 09:47] Nabil-tf opened #47638 "Cannot compile tensorflow lite application when -Werror=undef is actived"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2021-03-08 09:52] abattery commented on #47636
@terryheo could you take a look at this?

[2021-03-08 09:53] abattery commented on #47638
@terryheo could you review this suggestion?

[2021-03-08 09:56] #47294 closed

[2021-03-08 09:56] #47262 closed

[2021-03-08 10:13] zaccharieramzi commented on #32561
@guptapriya Thanks for the really nice explanation
I think the error message could greatly be improved if it mentioned clearly that the slot variables are created when calling `load_weights`.
I have this error message when loading the optimizer's weights (which was done using `mirrored_strategy.run`), so I was a bit surprised by the error but now I understand it.
What do you think of this suggesti

[2021-03-08 10:18] ioannesKX commented on #47622
**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Ubuntu 20.04.1 LTS x86_64**
- TensorFlow installed from (source or binary):  **Source**
- Tensorflow version (commit SHA if source): **commit 2780b863ca82403b4c080042e9ac3e5772189881 (HEAD -> master, origin/master, origin/HEAD)**
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):  **some RISC-V**

**D

[2021-03-08 10:28] junneyang commented on #47583
@amahendrakar could you please give me some instructions, thank you !

[2021-03-08 10:36] fonghyalex commented on #47595
@lintian06
Thank you so much for your prompt reply! =)

After carefully following your instruction and the tutorial of [Tensorflow Example](https://github.com/tensorflow/examples/blob/master/lite/examples/object_detection/android/README.md), I have exported the .tflite to the application once again.

Just that, I have encountered another problem:

From the error message, I learnt that the metadata

[2021-03-08 10:39] LutzWeischerFujitsu commented on #47564
I tried pip3 install tf-nightly instead, but it fails, too. However, pip3 install tensorflow works.

[2021-03-08 10:56] sandeep22-v commented on #47631
Thank you sir for the response

[2021-03-08 11:14] amahendrakar commented on #47587
@div3125,
TensorFlow **v2.4** was built and tested against **CUDA 11.0** and **cuDNN 8**. Every TensorFlow release is compatible with a certain CUDA/cuDNN version, for more information please take a look at the [tested build configurations](https://www.tensorflow.org/install/source#gpu).

Version | Python version | Compiler | Build tools | cuDNN | CUDA
-- | -- | -- | -- | -- | --
tensorflow-2.4.0

[2021-03-08 11:19] amahendrakar commented on #47593
@tianhuat,
On running the code, I am facing an error stating `NameError: name 'base_model_trainable' is not defined`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/f29e5b2b3bace2df45cf9653a89f5679/47593.ipynb).

In order to reproduce the issue reported, could you please provide the complete code and the dataset you are using. Thanks!

[2021-03-08 11:20] kiflowb777 commented on #47309
Simple code to replicate issue:
[code]

[2021-03-08 11:31] amahendrakar commented on #47597
@iliaschalkidis,
Could you please take a look at [this](https://stackoverflow.com/a/65488324) similar StackOverflow query and let us know if this is what you were looking for. Thanks!

[2021-03-08 11:35] amahendrakar commented on #47602
@LucasColas,
Every TensorFlow release is compatible with a certain CUDA/cuDNN version, for more information please take a look at the [tested build configurations](https://www.tensorflow.org/install/source_windows#gpu).

Version | Python version | Compiler | Build tools | cuDNN | CUDA
-- | -- | -- | -- | -- | --
tensorflow_gpu-2.4.0 | 3.6-3.8 | MSVC 2019 | Bazel 3.1.0 | 8.0 | 11.0
tensorflow_gpu-2

[2021-03-08 11:35] junneyang commented on #47583
@amahendrakar could you please give me some instructions, thank you !

[2021-03-08 11:50] amahendrakar commented on #47615
@LucasColas,
Every TensorFlow release is compatible with a certain CUDA/cuDNN version, for more information please take a look at the [tested build configurations](https://www.tensorflow.org/install/source_windows#gpu).

Version | Python version | Compiler | Build tools | cuDNN | CUDA
-- | -- | -- | -- | -- | --
tensorflow_gpu-2.4.0 | 3.6-3.8 | MSVC 2019 | Bazel 3.1.0 | 8.0 | 11.0
tensorflow_gpu-2

[2021-03-08 11:51] div3125 commented on #47587
On my system, I have other versions (<=2.3) of Tensorflow running which are built against CUDA 10, which is currently installed. I can install CUDA 11.2 side by side but my NVIDIA driver version is 418 which is not compatible with cuDNN 8. Is it not possible to build v2.4 against CUDA 10?

[2021-03-08 11:51] amahendrakar commented on #47615
Also, seems like this is a duplicate of issue [#47602](https://github.com/tensorflow/tensorflow/issues/47602). Can we close this issue as it is already being tracked there. Thanks!

[2021-03-08 11:58] jestingeorgejacob1 opened #47640 "GPU execution not deallocating memory in iOS swift"
**System information**
- OS Platform - iOS, swift
- Mobile device : iPhone, iPad
- TensorFlow installed from (source or binary): Pod.
- TensorFlow version (use command below): 2.3.0

**Issue**
Initialised interpreter once with below code
var delegate = MetalDelegate()
self.interpreter = try Interpreter(modelPath: modelPath, options: nil, delegates: [delegate])
self.interpreter?.allocateTensors()

[2021-03-08 11:59] amahendrakar commented on #47624
@max0x7ba,
In order to reproduce the issue reported here, could you please provide the complete code and the dataset you are using. Thanks!

[2021-03-08 12:01] LIFEPANTS commented on #32180
Maybe i'm missing something obvious here but I don't understand how this was fixed? I still have the same problem with nightly 2.5.0-dev20210307
my signature def is intact in the saved model. and lists my outputs correctly

['serving_default']
{'myoutputname1': TensorSpec(shape=(None, 8), dtype=tf.float32, name='myoutputname1'), 'myoutputname2': TensorSpec(shape=(None, 1), dtype=tf.float32, name='

[2021-03-08 12:16] Saduf2019 commented on #47627
@max0x7ba
Please provide simple standalone code to reproduce the error reported or a colab gist.

[2021-03-08 12:17] Saduf2019 commented on #30846
Moving this to close status as its taken care in later version.

[2021-03-08 12:52] amahendrakar commented on #47230
@rmothukuru,
Colab session crashes on running the code with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/11780cdea6435d5c0b2bb2569e5d9356/47230.ipynb). Thanks!

[2021-03-08 13:16] jeongukjae opened #47642 "Typo issue in tf.keras.losses docs"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/keras/losses/SparseCategoricalCrossentropy
https://www.tensorflow.org/api_docs/python/tf/keras/losses/CategoricalCrossentropy

## Description of issue (what needs changing):

### Clear description

https://github.com/tensorflow/tensorflow/blob/5b5527d81085db5dadf3886a37fef7c4943ad704/tensorflow/python/keras/losses.py#L587
(Bi

[2021-03-08 13:33] tchaye59 commented on #8484
You just save my day. Thanks a lot. My target vector is a pad with zeros and I forget to consider the 0 class in the final layer

[2021-03-08 13:41] tchaye59 commented on #41635
I spent quite some time debugging the `NaN` issue in my system and finally realized this is the issue. For ex: If you have 101 classes and you encode labels from 1-101, your model will always have a `NaN`! Because 101 is greater than the size of the logits!

Can we have at least a Warning popping up, instead of simply showing that the loss diverged with a NaN? That can bring down the debugging tim

[2021-03-08 13:55] sayakpaul commented on #38285
@MeghnaNatraj I see a problem with the code snippet provided above. I get the following error:

[code]

Here's my [Colab Notebook](https://colab.research.google.com/gist/sayakpaul/d291add98e9d46eff820b405bde8e448/scratchpad.ipynb).

[2021-03-08 13:55] markub3327 commented on #47230
The issue here is a lot of data that I would store in ReplayBuffer. When you try it with
[code]
instead of
[code]
it runs correctly. But I need to store a lot of data (min. 1000000 interactions). Thanks

[2021-03-08 14:00] andrewstevens-infineon opened #47644 "Addition of kernel variant directory with fast portable kernels"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary): n/a
- Tensorflow version (commit SHA if source):
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):

**Describe the problem**

Currently tflite(u) only has reference kernel implementations (written for clarity / correctness) and target/p

[2021-03-08 14:00] sayakpaul commented on #38285
@MeghnaNatraj with the above-mentioned code snippet I get the following error, though -

[code]

Here's the [Colab Notebook](https://colab.research.google.com/gist/sayakpaul/1eafb47439c8045466c40de371c6635c/scratchpad.ipynb).

[2021-03-08 14:30] jlapin1 commented on #47548
I'm not 100% sure how to share the colab gist, but I just ran this in colab and this is what I got. No error statement but clearly there is different behavior between eager execution and the tf graph

[code]

And the output is

tf.Tensor(1576.0958, shape=(), dtype=float32)
tf.Tensor(inf, shape=(), dtype=float32)

[2021-03-08 14:39] zenogantner commented on #47642
Thank you for reporting this. I am currently preparing a PR for this, but I will go through that file in detail to spot more typos, because the [contributing guidelines](https://github.com/tensorflow/tensorflow/blob/master/CONTRIBUTING.md) say we should avoid fixing single typos because every PR causes several hours of GPU/CPU times for testing.

[2021-03-08 14:46] #47237 closed

[2021-03-08 15:32] jameshfisher opened #47647 "Plotting a TensorFlow Graph with dot/graphviz"
**System information**
- TensorFlow version (you are using): 2.4.1
- Are you willing to contribute it: Yes

**Describe the feature and the current behavior/state.**

There is [`tf.keras.utils.plot_model`](https://www.tensorflow.org/api_docs/python/tf/keras/utils/plot_model), which draws a Keras model using dot/graphviz. It's used in many tutorials/notebooks, and I've found it very useful. However,

[2021-03-08 15:35] OliverPfau commented on #45453
I have memory leaks cloning a loaded model with
[code]
using Tensorflow 2.3.1. Does this fix affect the cloning as well?

[2021-03-08 16:20] amahendrakar commented on #47281
@rmothukuru,
Was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/3954ada50bc6bfd98ffbc4257688a84c/47281.ipynb). Thanks!

[2021-03-08 16:53] monicadsong commented on #43527
I confirmed that the gist `model = tf.keras.models.load_model('/content/saved_model')` which @amahendrakar provided works with tf.nightly: https://colab.research.google.com/gist/amahendrakar/3b0f693fb11f924a27c019d3f4d86106/43527-tf-nightly.ipynb.

I am closing this issue now, as I believe it is now fixed.

[2021-03-08 16:53] #43527 closed

[2021-03-08 17:20] amahendrakar commented on #47411
@YIMINGMA,
Thank you for the update. Closing this issue as it is resolved. Please feel free to re-open if mistaken.

[2021-03-08 17:20] #47411 closed

[2021-03-08 17:24] jdduke commented on #44043
Hi @Tessil , we have an internal change prepared for this, but we wanted to check with you first before landing. In our CL, we simply expose the option to use the Reference OpResolver, but we don't provide any finer-grained control (e.g., tweaking the actual registered kernels, or selecting their versions). Is that sufficient for your needs?

[2021-03-08 17:29] Saduf2019 commented on #47634
@liym27
Can you try with the hub modules and let us know, they come with respective pre-processor.
please refer to this [link](https://blog.tensorflow.org/2020/12/making-bert-easier-with-preprocessing-models-from-tensorflow-hub.html?m=1) and let us know.

[2021-03-08 17:41] Tessil commented on #44043
Hi,

Yes it is perfectly sufficient for our needs. We don't need a per-operator fine-tuning of the registered kernels, our main goal is to have a way to run a model using the reference kernels with the Python API.

[2021-03-08 17:46] Yu-Hang commented on #19293
@srjoglekar246 @tombstone I found out from this [issue](https://github.com/tensorflow/models/issues/9546) that the above error is because

[2021-03-08 17:53] nicolasshu opened #47649 "TF 2.4.1 yields NaNs on Large Models using model.fit and Adam as compared to 2.3.0"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-03-08 18:18] MeghnaNatraj commented on #38285
Remove the line
``` converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS_INT8]```
as for QAT you are assuming that the model can be fully quantized.

[2021-03-08 18:25] ymodak commented on #47584
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2021-03-08 18:33] amahendrakar commented on #47629
Was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/b591a02e5118c4ec4a0a35266a16c43d/47629.ipynb). Thanks!

[2021-03-08 18:42] jvishnuvardhan commented on #45453
@OliverPfau Can you please open a new issue with a simple standalone code to reproduce your issue? Thanks! In the new issue, you could reference this issue. Thanks!

[2021-03-08 18:49] thibaultvt commented on #22480
I fixed it by using '/' instead of '\' in my path..

[2021-03-08 19:04] lminer commented on #47599
@Saduf2019 sorry there was a function missing. Just added it.

[2021-03-08 19:34] TylerADavis commented on #39526
@amahendrakar It seems that the updated instructions do resolve the misleading output, addressing the first of the two desired fixes I listed in the original post.

I believe the accompanying text could be still be made more clear. For example, `Ensure CUPTI exists on the path:` could be replaced with something like `Ensure the proper version of CUPTI for your version of TensorFlow, as described b

[2021-03-08 19:39] furknclk commented on #33797
Hello. I am also working on ssd with stm32. Have you solve the problem ?

[2021-03-08 19:41] yliu07-beckman opened #47651 "'tf.RGBToHSV' op is neither a custom op nor a flex op"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): pip3 install tensorflow
- TensorFlow version (or github SHA if from source):  2.4.1

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**
Keras model:
[code]

[2021-03-08 19:46] abattery commented on #47651
Will support the above op, RGBToHSV through the Select TF option. https://www.tensorflow.org/lite/guide/ops_select Thanks.

[2021-03-08 19:53] jvishnuvardhan commented on #47565
@suiluj Please create a completely new issue in the Tboard repo. When you create a new issue it can be assigned to an expert who can resolve the issue faster.

Please close the issue here after creating issue in Tboard repo. Thanks!

[2021-03-08 20:15] weishiyan commented on #33131
Can't believe this is still an issue at 2021.

[2021-03-08 20:19] ymodak commented on #47623
I see you are using cuda 11.1 version can please try with cuda 11.0 as listed in [tested build config](https://www.tensorflow.org/install/source#gpu).
Thanks!

[2021-03-08 20:51] Patrick-devX opened #47652 "ValueError: Output tensors to a Model must be the output of a TensorFlow `Layer` (thus holding past layer metadata). Found: Tensor("dense/truediv:0", shape=(?, 2, 209), dtype=float32). It"
Runs without error locally but it comes to this error in aws SageMaker.
Hier is the model

    #numeric Input
    numerical_input = tf.keras.Input(shape=(1,), name='numeric_input')

    #categorical Input
    os_input = tf.keras.Input(shape=(1,), name='os_input')
    browser_input = tf.keras.Input(shape=(1,), name='browser_input')
    action_input= tf.keras.Input(shape=(max_seq_len,), name='action

[2021-03-08 21:27] princyok commented on #46907
@jvishnuvardhan I already addressed your in my other comment above. What you are pointing out is the problem itself.

[2021-03-08 21:28] ymodak commented on #47608
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/normalization.py#L57
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/normalization.py#L71
The docs generated on the website don't seem to match with docstrings.

[2021-03-08 21:36] princyok commented on #43559
@ClementViricel I believe the cause of the issue is tensorflow being unable to handle certain characters when working on Windows. A crappy temporary solution is to find such characters and omit them if possible. I reported [the issue here](https://github.com/tensorflow/tensorflow/issues/47022).

[2021-03-08 21:50] Saagarika99 opened #47654 "import tensorflow as tf gives an error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):windows 10
- Mobile device (e.g

[2021-03-08 22:01] mayowaosibodu opened #47655 "Implementing a version of the (Sparse) Categorical Cross Entropy Loss that makes use of Integer-Indexed predictions."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): Tensorflow 2.
- Are you willing to contribute it (Yes/No):

[2021-03-08 22:04] av8ramit commented on #18689
Hello @IFFranciscoME. I would first like to apologize to you for the difficulties you have been having. We made this decision in 2018 with a lot of different factors in mind. I definitely did not make this decision singlehandedly, and I was just one of the first to respond to the issue. Obviously that decision was not perfect, and I'm sure there were users without AVX that had to turn to building

[2021-03-08 22:42] aaudiber commented on #47531
Thanks for reporting this @ialdencoots. The error happens because the serialized Dataset sent to the tf.data servers contains only a handle to the lookup table. We hope to fix the issue in TF 2.5 by serializing the information needed to re-instantiate the lookup table on the tf.data servers (e.g. filename for lookup table initialization, or possibly a serialization of the full lookup table content

[2021-03-08 22:53] jvishnuvardhan commented on #30815
I am closing this issue as it is a stale issue. Thanks!

[2021-03-08 22:53] #30815 closed

[2021-03-08 23:01] ymodak commented on #38496
The associated PR is merged. Is this still an issue?

[2021-03-08 23:03] nlm-yuh5 commented on #47107
@abattery @amahendrakar @karimnosseir I follow the gist above and converted the model `mask_rcnn_inception_resnet_v2_1024x1024_coco17_gpu-8` from TF2 model zoo with the following code:

`import tensorflow as tf
from tflite_support import metadata as _metadata

model_dir = r'C:\Users\yuh5\PycharmProjects\ConvertToTFLite\saved_model'
saved_model_dir = 'updated/saved_model'
model = tf.saved_model.loa

[2021-03-08 23:07] karrdy89 commented on #47628
The code is exactly as written in the example.
It is difficult to provide standalone reproducible code because it is difficult for me to always service the kafka server.
similar closed issues have already been checked. thank you

[2021-03-08 23:09] abattery commented on #47107
@nlm-yuh5 could you file a separate issue to make this thread simple? And could you share your converted model file as well?

[2021-03-08 23:09] abattery commented on #47107
@nlm-yuh5 could you file a separate issue to make this thread simple? And could you share your converted model file as well?

[2021-03-08 23:09] nlm-yuh5 commented on #47107
sure

[2021-03-08 23:34] Yu-Hang opened #47657 "Converted TF2 model zoo MaskRCNN model to .tflite, however input tensor seems to have incorrect shape"
I follow the gist above and converted the `model mask_rcnn_inception_resnet_v2_1024x1024_coco17_gpu-8` to a .tflite model.

### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10, Android
- TensorFlow installation (pip package or built from source): pip package
- TensorFlow library (version, if pip package or github SHA, if built from source): tf-nightly:

[2021-03-08 23:34] Yu-Hang commented on #47657
@abattery

[2021-03-08 23:34] dogacbasaran commented on #46821
@jianlijianli, @JiashuGuo, I recently tried TFLite's quantization methods, I was able to follow Post-training float16 quantization and Post-training dynamic range quantization methods, convert my model and able to infer. However when I tried Post-training integer quantization, it gives:
ValueError: Failed to parse the model: pybind11::init(): factory function returned nullptr.

How do I confirm th

[2021-03-08 23:39] lamberta commented on #47608
Hmm. I'd expect this to display in the nightly diff but don't see the update: https://www.tensorflow.org/api_docs/python/tf/keras/layers/BatchNormalization?version=nightly

Is the nightly package building?

[2021-03-08 23:45] abattery commented on #47657
Could you also share the java code snippet for inferencing?

[2021-03-09 00:00] yashk2810 commented on #47608
I am looking into this. There might be a bug in the diffing algorithm.

[2021-03-09 00:01] #47575 closed

[2021-03-09 01:26] matanhalevy opened #47659 "tf-model-remediation: Keyword arguments not supported by original model: `['mask']`"
[Reposting ](https://github.com/tensorflow/model-remediation/issues/24) from tensorflow/model-remediation as I was hoping to use MinDiff framework in my work however there hasn't been a response from the team in that repo

**System information**
Relevant Versions:
Running locally for now on Windows 10 Pro Version 10.0.19042 Build 19042
python 3.6.9
tensorflow 2.3.1
tensorflow-model-remediation 0.1

[2021-03-09 01:39] tywofxd opened #47660 "tensorflow-gpu==1.14.0 does not support python 3.6.12-debug"
**System information**
- I haven't written custom code.
- OS Platform and Distribution :Linux Ubuntu 18.04.
- Python version: python 3.6.12-debug

**Describe the current behavior**
I used python 3.6.12-debug built by pyenv:
$ pip -V
pip 18.1 from /home/yawen/.pyenv/versions/3.6.12-debug/lib/python3.6/site-packages/pip (python 3.6)

I wanted to install tensorflow 1.14.0, but I got the following err

[2021-03-09 01:53] charmasaur opened #47661 "eigh fails with 26x26 zero matrix on GPU with eager execution"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 11.1
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.3.0-54-gfcc4b966f1 2.3.1
- Python version: 3.7.6
- CUDA/cuDNN version: 11.0
- GPU model and memory: Tesla

[2021-03-09 01:56] #40138 closed

[2021-03-09 02:12] jvishnuvardhan commented on #46855
@ritvikagrawal1 from your log, it looks like  you wanted to use GPU but it was not detecting GPU because some of the GPU related libraries are missing. As your model is complex and was running on cpu, it was taking longer time. May be you can open a new issue related to build/install of TF. Thanks!

[2021-03-09 02:15] Yu-Hang commented on #47657
Here are the relevant parts:

[code]

[code]

[code]

And this is the [link](https://drive.google.com/drive/folders/1mvUKZiJaM47qUPbOg-QZUzQ1zyjeIvYR?usp=sharing) to the whole project

[2021-03-09 02:15] #47451 closed

[2021-03-09 02:28] jeongukjae opened #47662 "Update aliasing in tf.linalg.band_part docs"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/linalg/band_part

## Description of issue (what needs changing):

### Clear description

https://github.com/tensorflow/tensorflow/blob/56903ed0419882e004d4467dec452684b106e46f/tensorflow/core/api_def/base_api/api_def_MatrixBandPart.pbtxt#L50-L66

`tf.matrix_band_part` in above lines should be `tf.linalg.band_part`. (`tf.matri

[2021-03-09 03:00] VigiZhang opened #47663 "Infinite loop in AdjustHue"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04 / Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source / binary
- TensorFlow version (use

[2021-03-09 03:24] monacv opened #47665 "`ImportError: cannot import name 'Deconvolution3D' from 'keras.layers' (/home/mona/venv/fall/lib/python3.8/site-packages/keras/layers/__init__.py)`"
How should I fix the following error?
`ImportError: cannot import name 'Deconvolution3D' from 'keras.layers' (/home/mona/venv/fall/lib/python3.8/site-packages/keras/layers/__init__.py)`

I have:
[code]

also:

![Screenshot from 2021-03-08 22-22-41](https://user-images.githubusercontent.com/76495162/110413941-dd1ddb00-805c-11eb-8eb7-497ce7f3a0f1.png)
and

[code]

[2021-03-09 03:38] GungnirASHTTTTT commented on #47623
I've tried this combination before, and it doesn't change performance. With reference to your suggestion, I'd like to try cuda11.0 again.I hope it will work this time QAQ

[2021-03-09 03:46] NEWPLAN opened #47666 "Runtime error of executing HLO when adding SPMD pass"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-03-09 03:56] lu-wang-g commented on #47595
Please check my answer [here](https://stackoverflow.com/a/64493506/11031225) about how to use the MetadataWriter Library. We'll publish the formal documentation soon. Please stay tuned. Thanks.

[2021-03-09 04:15] sandeep22-v commented on #47631
UPDATE : I downgraded tensorflow from 2.4.1 to 2.2.0 and ran the same code..

Got a new kind of error
**ValueError: None is only supported in the 1st dimension. Tensor 'input_tensor' has invalid shape '[1, None, None, 3]'.**

Can you please tell me how version change surprisingly changes the type of error

[2021-03-09 04:15] AdityaKane2001 commented on #47665
@monacv
AFAIK there is no direct `Deconvolution3D` layers, there is an alias for the same [here](https://github.com/tensorflow/tensorflow/blob/8a472aa665eb67bdadd5311cec12858f4e9b1345/tensorflow/python/keras/layers/convolutional.py#L3416). Can you try uncommenting line 6 to

[code]

[2021-03-09 04:21] deeb02 commented on #47493
@hfahrudin I think it's sensible to add this as an optional argument to the current API.

[2021-03-09 04:24] deeb02 commented on #47428
Thank you for submitting this. It looks like a serious bug. We've raised it to P1.

[2021-03-09 04:47] ymodak commented on #47281
This was fixed earlier in `keras-team/keras` with https://github.com/keras-team/keras/issues/13637.

[2021-03-09 04:49] Saduf2019 commented on #47599
@lminer
Glad the issue is resolved, can you please move this to closed status.

[2021-03-09 04:51] lminer commented on #47599
@Saduf2019 it is not resolved. The error is exactly as I reported it. I just needed to add that function to get the correct error.

[2021-03-09 04:56] #47319 closed

[2021-03-09 05:03] LucasColas commented on #47602
My CUDA version is 11.2

[2021-03-09 05:07] Saduf2019 commented on #47660
@tywofxd
There is no support for tf 1.x , so please update  tf 2.x and let us know.

[2021-03-09 05:20] Saduf2019 commented on #47663
I ran the code on tf 2.4 gpu and it did not get into an infinite loop, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/6d3f4a68a34456b9dc2724fbfd411436/untitled560.ipynb).

[2021-03-09 05:33] Saduf2019 commented on #47637
@Richie-yan
Can you please share some stand alone code in support of this request.

[2021-03-09 05:45] JWenBin commented on #47633
I tried keras.utils.Sequence too. The GPU-Util is between 0%-22%, and CPU-Util is about 100%. **How Can I Increase the utilization of my CPU to 800%?**

my DataGenerator code is:
class DataGenerator(keras.utils.Sequence):
    def __init__(self, df, batch_size=256,):
        self.batch_size = batch_size
        self.dataframe = df
        self.indexes = np.arange(len(self.df))
......

my training c

[2021-03-09 06:02] awaisbajwaml opened #47669 "Tensorflow 2.3.1 training does not use GPU but CPU with CUDA 11.2"
I am trying to train a custom dataset with the following backbone

ssd_resnet50_v1_fpn_1024x1024_coco17_tpu-8

I have the following information about the system

### System information
 Ubuntu 18.04)**:
TensorFlow 2.3.1
TensorFlow version
Python version 3.6
CUDNN 11.2 cuDNN 8.5
GPU K80

I get the following error when I try to train the model

When I try to train my model it showed the following lo

[2021-03-09 06:20] rmothukuru commented on #25880
@karloberas,
Can you please refer to [TF Lite Android Guide](https://www.tensorflow.org/lite/guide/android) and let us know if it helps? Also, please refer to [TF Lite Guide](https://www.tensorflow.org/lite/guide) for more detailed documentation on different aspects of `TF Lite`. Thanks!

[2021-03-09 06:23] awaisbajwaml commented on #47669
The training has started but it is using CPU

![image](https://user-images.githubusercontent.com/47017344/110427640-0f880200-8076-11eb-9f26-e92723b9bcd7.png)

[2021-03-09 06:38] zhangqiang-316 opened #47670 "Does tensorflow support AMD?"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):

**Describe t

[2021-03-09 06:39] gqqnbig opened #47671 "More info on the deprecation of predict_x method for Sequential model?"
I traced down to https://github.com/tensorflow/tensorflow/commit/9795964342fbb0b6104b5ae131600d62faddb8c9 which marked predict_x method as deprecated.

But are there more information on the deprecation? Who made the decision? Are there any discussion on the deprecation? Are there any whatsnew/breaking changes items?

[2021-03-09 06:40] Saduf2019 commented on #47669
@awaisbajwaml
Please upgrade to tf 2.4 and let us know, as 11.0 is tested for tf 2.4 onwards.
Cuda 11.2 is work in progress, you may refer to [this issue](47568), for future updates on it.

[2021-03-09 06:56] zhangqiang-316 commented on #47670
Dear sir,
  Please tell me whether tensorflow can be running on AMD gpu?
os: linux, such as fedora or debian
My gpu is AMD, I want to running tensorflow on AMD gpu.
how can I build tensorflow with AMD gpu?
 If use AMD gpu,  only should ROCm or OpenCL be supported?  or both ROCm and OpenCL should be supported？
which series AMD gpu should used?

Thank you!

[2021-03-09 07:00] Adeesh2411 commented on #35707
I'm getting the same error when deploying frozenModel.pb to android
My tensorflow model contains LSTM layers. Is it because of this?
Thanks in advance

[2021-03-09 07:07] GungnirASHTTTTT commented on #47623
![reaffirm](https://user-images.githubusercontent.com/71629843/110431711-1f8cf980-80e9-11eb-9ad7-e9ac5c0cf96c.png)
![reaffirm2](https://user-images.githubusercontent.com/71629843/110431719-2156bd00-80e9-11eb-925c-a1052ed58e91.png)
![reaffirm3](https://user-images.githubusercontent.com/71629843/110431722-21ef5380-80e9-11eb-8943-69528a17e346.png)

[2021-03-09 07:09] GungnirASHTTTTT commented on #47623
I have re installed tensorflow and CUDA 11.0, and its conclusion seems to have no improvement. I don't know what to do

[2021-03-09 07:27] Saduf2019 commented on #47599
I ama ble to replicate this in tf 2.3, tf 2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/b55da8652e148ea3f3998f9158b20149/untitled560.ipynb).

[2021-03-09 07:34] Saduf2019 commented on #47649
@nicolasshu
This is models issue, can you please open it in models repo.

[2021-03-09 07:36] terryheo commented on #47638
The change makes sense to me. Will you send a PR?

[2021-03-09 07:50] Atharex commented on #47283
The builds are still failing. Will anyone look at this issue?

[2021-03-09 07:56] #47666 closed

[2021-03-09 08:03] rmothukuru commented on #24998
@patzm,
The documentation of [TPU EstimatorSpec](https://www.tensorflow.org/api_docs/python/tf/compat/v1/estimator/tpu/TPUEstimatorSpec) has **`training_hooks`**, **`evaluation_hooks`** and **`prediction_hooks`** as arguments suggesting they are supported.

Can you please confirm if we can close this issue, as the documentation is correct now? Thanks!

[2021-03-09 08:06] Saduf2019 commented on #47654
@Saagarika99
Please refer to this issue and verify the requirements : #42367, #47517

[2021-03-09 08:09] Saduf2019 commented on #47659
@matanhalevy
I ran the code shared and face a different issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/33d4c0e7e018aab8bfd27a0c6420c8e1/untitled.ipynb).

[2021-03-09 08:21] VigiZhang commented on #47663
The `DoCompute` logics are different in CPU AdjustHueOp and GPU AdjustHueOp. The problem is in CPU AdjustHueOp DoCompute. Please refer https://colab.research.google.com/drive/1-j_9NiRewoC6DEUk8qS2ceajJ2qbrA7K?usp=sharing

[2021-03-09 08:24] VenuGopalVasarla opened #47672 "How to use a fractionally strided deconvolution layer? Please mention its initialization and also corresponding upsampling of its input"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2021-03-09 08:29] ageron commented on #24653
Thanks for the update, @rmothukuru. Well I guess it's consistent now, with `log` and `exp` treated the same way, but to be honest I would have much preferred to see a `tf.log()` alias for `tf.math.log()` created instead. I imagine that `tf.exp()` is used all over the place, so it's going to require a lot of search and replace, with potentially a bit of breakage here and there, not to mention code

[2021-03-09 08:29] #24653 closed

[2021-03-09 08:34] kiflowb777 commented on #47309
https://gist.github.com/kiflowb777/c14349437f0a08d5331eb48a30950bc4

[2021-03-09 08:36] sandeep22-v commented on #38285
Got the error
tensorflow.lite.python.convert.ConverterError: <unknown>:0: error: loc(callsite(callsite("Postprocessor/BatchMultiClassNonMaxSuppression/MultiClassNonMaxSuppression/SortByField_1/Size@__inference___call___21591" at "StatefulPartitionedCall@__inference_signature_wrapper_23250") at "StatefulPartitionedCall")): 'tf.Size' op is neither a custom op nor a flex op
<unknown>:0: note: loc("St

[2021-03-09 08:41] OliverPfau opened #47673 "Possible memory leak cloning a model in memory with TF 2.3.1"
Hi,

I created a flask application which loads tensorflow models on startup. When an inference request is coming, the model is cloned in memory for the request like this:

[code]

The flask app runs in docker. After several requests the docker container crashed. With each request the RAM is increasing. After disabling the model cloning and doing the requests with one model in memory with locking,

[2021-03-09 08:46] VenuGopalVasarla commented on #47672
Hi,
  I was trying to implement and integrate refinedet object detection module into the tensorflow/models repo as a experimental model. The feature extractor contains an transfer connection block which need fractionally strided deconv in it. How to implement that particular deconv using tensorflow?
Thanks in advance

[2021-03-09 08:48] rmothukuru commented on #23867
@egolearner,
The documentation for Creating a Custom OP is present in the [Tensorflow Site](https://www.tensorflow.org/guide/create_op). Also refer this [Github page](https://github.com/tensorflow/custom-op) for end-to-end code example, as well as Docker images for building and distributing your custom ops. Thanks!

[2021-03-09 08:48] vickcn commented on #22512
I am having that problem, too! Expect solutions, thanks!

  File "C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 64, in <module>
    from tensorflow.python._pywrap_tensorflow_internal import *
ImportError: DLL load failed: 找不到指定的模組。

[2021-03-09 09:00] amahendrakar commented on #29581
@NathanDotTo,
The code snippet has been updated in the [latest version](https://github.com/tensorflow/docs/blob/master/site/en/tutorials/generative/pix2pix.ipynb) of the tutorial.

Cloud you please let us know if this still an issue? Thanks!

[2021-03-09 09:01] kiflowb777 commented on #47309
I tried moving the .add_loss() method inside the custom layer RpnClassLoss:
from:
[code]
to
[code]

 but then I get:
[code]

[2021-03-09 09:01] fonghyalex commented on #47595
@lu-wang-g
Huge thanks!
I have tried using this script yesterday and the script returned a message similar to "not a valid tflite file". I believe there may be something wrong when I am converting the model.
In order to fully achieve the expected website from the [example](https://github.com/tensorflow/examples/blob/master/lite/examples/object_detection/android/README.md)  instruction. I have deci

[2021-03-09 09:05] amahendrakar commented on #29543
@tigerhawkvok,
I'm closing the issue as TensorFlow 1.6 is not actively supported anymore.

Please feel free to re-open this issue if you are facing the same error in TensorFlow 2.x. Thanks!

[2021-03-09 09:05] #29543 closed

[2021-03-09 09:10] sandeep22-v commented on #47631
### 1. System information

- OS Platform and Distribution :  Linux Ubuntu 20.04
- TensorFlow installation -pip package
-  TensorFlow version : 2.4.1

Was trying to convert ssd_mobilenet_v2_2 to tflite version.

### 2. Code

The code was :

import tensorflow as tf
saved_model_directory = '/ssd_mobilenet_v2_2'
converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_directory)
tflite_model =

[2021-03-09 09:11] amahendrakar commented on #29511
@imransalam,
The `Used in the notebooks` section has been added in the latest version of the documentation for [tf.io.decode_image](https://www.tensorflow.org/api_docs/python/tf/io/decode_image).

Closing the issue as it is resolved. Please feel free to re-open if mistaken. Thanks!

[2021-03-09 09:11] #29511 closed

[2021-03-09 09:25] jameshfisher commented on #47433
@deeb02 ok, thanks. Perhaps the docs could be updated to describe this behavior more precisely? I think most people will expect that specifying a `tf.keras.Input(shape=...)` will strictly enforce that shape.

[2021-03-09 09:28] Saduf2019 commented on #47309
I am able to replicate the issue from the github gist, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/8362e6c0dbf85a130f17c1a8272f9d12/untitled.ipynb)

[2021-03-09 09:37] tisbuet commented on #20271
This one solves my issue! Thanks.

[2021-03-09 09:40] amahendrakar commented on #29338
@netskink,
I see that in the latest version of the documentation the pages are rendered as expected i.e. with bullet points and indentation.

- https://www.tensorflow.org/api_docs/python/tf/data/Dataset#list_files
- https://www.tensorflow.org/api_docs/python/tf/data/experimental/CsvDataset#list_files

Closing this issue as it is resolved. Please feel free to re-open if mistaken. Thanks!

[2021-03-09 09:40] #29338 closed

[2021-03-09 10:02] alisonwh commented on #46882
@furknclk I have solved the problem. This is my patch https://github.com/tensorflow/tensorflow/pull/46873/commits. It has not been merged yet. Anyway, you can try it.

[2021-03-09 10:03] rmothukuru commented on #19696
@Pessanha24,
As this [Stack Overflow Answer](https://stackoverflow.com/a/47403738/11530462) states,

Procedure to load the `Saved Model` using `C++` is present in the [Tensorflow Documentation](https://www.tensorflow.org/guide/saved_model#load_a_savedmodel_in_c).

[2021-03-09 10:05] jestingeorgejacob1 opened #47674 "Deallocation not happening when running on GPU in iOS swift"
System information

    OS Platform - iOS, swift
    Mobile device : iPhone, iPad
    TensorFlow installed from (source or binary): Pod.
    TensorFlow version (use command below): 2.3.0

**Execution**
Initialised interpreter once with below code
var delegate = MetalDelegate()
self.interpreter = try Interpreter(modelPath: modelPath, options: nil, delegates: [delegate])
self.interpreter?.allocateTe

[2021-03-09 10:20] tywofxd commented on #47660
Following your instruction, I tried to install tensorflow 2.0.0, but it still did not work. Here is what I have done:
$ pyver=3.6.12
$ eval "$(pyenv init -)"
$ pyenv shell "$pyver"-debug
$ python -V
Python 3.6.12
$ pip -V
pip 21.0.1 from /home/yawen/.pyenv/versions/3.6.12-debug/lib/python3.6/site-packages/pip (python 3.6)
$ python -m pip install tensorflow==2.0.0
ERROR: Could not find a version th

[2021-03-09 10:20] tywofxd commented on #47660
Hello!
Following your instruction, I tried to install tensorflow 2.0.0, but it still did not work. Here is what I have done:
$ pyver=3.6.12
$ eval "$(pyenv init -)"
$ pyenv shell "$pyver"-debug
$ python -V
Python 3.6.12
$ pip -V
pip 21.0.1 from /home/yawen/.pyenv/versions/3.6.12-debug/lib/python3.6/site-packages/pip (python 3.6)
$ python -m pip install tensorflow==2.0.0
ERROR: Could not find a ver

[2021-03-09 10:22] rmothukuru commented on #17076
@Yagun,
Debugging of Performance Bottlenecks can be done using `**Profiler Tool**`. Please find the [Explanation in TF Site](https://www.tensorflow.org/guide/profiler#memory_profile_tool) and the  [Example Code](https://www.tensorflow.org/tensorboard/tensorboard_profiling_keras).

Hope this helps.

[2021-03-09 10:32] amahendrakar commented on #29317
@imransalam,
The link you've provided doesn't exist anymore.

Could you please take a look at the latest version of the documentation for [tf.identity_n](https://www.tensorflow.org/api_docs/python/tf/identity_n) and let us know if this is still an issue. Thanks!

[2021-03-09 10:44] nikoladze commented on #45708
For others ending up here: I believe this is fixed with the following commit (so in tf>=2.3)

https://github.com/tensorflow/tensorflow/commit/ce2f9824eee904d60fdc0444ac8a82b217ea9149#diff-a92a750392aea2d97a4ec3b844265799a63103e548d178d1f7d73b3b25bfbfd1L1427

Before that, numpy arrays where converted to tensors before splitting (via `validation_split`) which might have filled the GPU memory

https:

[2021-03-09 11:05] amahendrakar commented on #29072
@dorier,
Please take a look at [this documentation](https://www.tensorflow.org/api_docs/python/tf/Variable#ref) for the `ref()` function and let us know if this is what you're looking for. Thanks!

[2021-03-09 11:16] farazk86 commented on #47357
Hi,

So I have gotten something to update regarding this.

I noticed that the app was crashing only on the x86 android emulator with Android Studio. But runs perfectly fine on a ``x86_64`` or ``arm64`` emulator.

Since ``x86`` android phones only make up less than 1% of android phones, I can safely ignore this crash as it wont affect the 99% of android phones on the 64 bit architecture.

Don't kno

[2021-03-09 11:37] hm2092 opened #47675 "set_weights crashes in custom train_step() method"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: Yes
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**:
-   **TensorFlow installed from (source or binary)**: binary
-   **Tenso

[2021-03-09 12:43] amahendrakar commented on #47652
@Patrick-devX,
In order to expedite the trouble-shooting process, could you please provide
- the TensorFlow version you are using
- a minimal code snippet to reproduce the issue
- and the exact sequence of commands / steps that you executed before running into the error.

Thanks!

[2021-03-09 13:11] amahendrakar commented on #47665
@monacv,
As suggested by @AdityaKane2001, I was able to import `Conv3DTranspose` as `Deconvolution3D`.

Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/76474fa0478bde565287b48e48accc81/47665.ipynb). Thanks!

[2021-03-09 13:16] amahendrakar commented on #47674
@jestingeorgejacob1,
Seems like this is a duplicate of issue [#47640](https://github.com/tensorflow/tensorflow/issues/47640). I'm closing this issue as it is already being tracked there.

Please feel free to re-open if I'm mistaken. Thanks!

[2021-03-09 13:16] #47674 closed

[2021-03-09 13:30] #47358 closed

[2021-03-09 13:41] rmothukuru commented on #47230
@markub3327,
Some points from my side:

1. As @amahendrakar mentioned, Session is crashing when trying to reproduce your issue in Google Colab
2. As per [your comment](https://github.com/tensorflow/tensorflow/issues/47230#issuecomment-792772133), I've replaced `size=1000000` with `size=1000` but couldn't observe the Error. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/bb

[2021-03-09 13:49] Ynjxsjmh commented on #32967
My confusion is [Install TensorFlow 2](https://www.tensorflow.org/install) says

According to that, I think `pip install tensorflow` will support GPU. I try to execute the following code provided by [Use a GPU | TensorFlow Core](https://www.tensorflow.org/guide/gpu):

[code]

It gives me `Num GPUs Available:  0`. Also `tf.test.is_gpu_available()` is False.

Then I try to remove the preciously inst

[2021-03-09 13:56] matanhalevy commented on #47659
Hi Saduf,
You didn't import or install transformers (HuggingFace) in your environment, that is why you are facing that import issue. Please see the relevant versions in my issue to install the relevant packages in your colab system. Additionally the file is needed for the `.from_pretrained(path_to_bertneed...` to be copied in your google drive, here's a sample one: https://drive.google.com/drive/f

[2021-03-09 14:20] #25691 closed

[2021-03-09 14:49] funmathgt opened #47676 "Multi Worker Mirrored Strategy -- math"
In the Multi Worker Mirrored Strategy (seen here https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras) it is not clear what is going on with the gradients and backpropogation under the hood (i.e., the math). For example, are gradients being averaged among the workers in the cluster? I cannot seem to figure this out as when I run on one machine without using a distributed strateg

[2021-03-09 14:53] CharlesSS07 commented on #47450
Hi @amahendrakar ,

Both of those issues display the same behavior, and they say that tf.initializers.zeros is supposed to be a pre-initialized version of tf.initializers.Zeros, for example, but that you have to call tf.initializers.zeros() to avoid the error. The bug behavior is in that passing tf.initializers.zeros to a model works for training, but not for saving, whereas passing tf.initializer

[2021-03-09 15:16] yliu07-beckman commented on #47651
Thanks for your fast response @abattery! Do you have an estimate when it is going to be supported through Select TF option?

[2021-03-09 15:41] fg-mindee commented on #46922
@teijeong so what do you suggest? Opening a PR to edit the documentation?
Since this isn't assigned to anyone anymore, either you decide that this should not be worked on and we close the issue, or we do something about it. I just wouldn't like to grow the pile of unhandled issues on the project :pray:

[2021-03-09 16:15] Emile0205 commented on #33030
fit(), predict(), train_on_batch(), compile() all gave me issues. It's a mess. Check it out my code

[2021-03-09 16:32] Emile0205 commented on #33030
Truth be told, all Keras functions gave me issues. Check out my code at

https://github.com/Emile0205/neural_LACU

for a simple Tensorflow 2.2 neural network. I extended this same code for my GAN.

Hope that helps
Good luck

[2021-03-09 16:35] gattia commented on #43772
For whomever is following/fixing this. The issue is at this line:

https://github.com/tensorflow/tensorflow/blob/cdf2c541c3dd3fb6d03cce4d23fc6c548bc9017c/third_party/gpus/find_cuda_config.py#L347

"cudnn.h" needs to be changed to "cudnn_version.h" as @emados says

However, simply doing this as a blank change is likely to break things for other versions. So, more might need to be done. A bit beyond

[2021-03-09 16:52] zwarshavsky commented on #13796
any updates here?

[2021-03-09 17:14] gabrielpondc opened #47678 "When Tensorflow support python 3.9 with m1 chip"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Mac os 11.2
- Mobile device (e.

[2021-03-09 17:20] amahendrakar commented on #47450
@ymodak,
I was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/18ca363a469ad1beede9cd52103b9983/47450.ipynb#scrollTo=-xSgFNJafS94). Thanks!

[2021-03-09 17:26] Adeesh2411 commented on #35707
**This is my tensor flow model information:**
![image](https://user-images.githubusercontent.com/35789683/110511461-428bcd80-812a-11eb-985a-ca901dc3c37e.png)

I'm not using tflite file . I Converted above model to  .pb file and I want to run this .pb file in android
**API used in android :**
Module used :  import org.tensorflow.contrib.android.TensorFlowInferenceInterface;
inferenceInterface = new

[2021-03-09 17:29] amahendrakar commented on #47497
@jiangjing1989
Thank you for the update. Closing the issue as it is resolved.

[2021-03-09 17:29] #47497 closed

[2021-03-09 17:42] amahendrakar commented on #47502
@LucasStromberg,
Thank you for the update. Closing this issue as it is resolved.

Please feel free to re-open if necessary. Thanks!

[2021-03-09 17:42] #47502 closed

[2021-03-09 17:51] srjoglekar246 commented on #35707
You need to convert it to tflite.

[2021-03-09 17:53] shariq-audiofocus commented on #23156
would love this feature too! An axis argument would be helpful when using stereo audio, where the channel is conventionally the inner most dimension, and the axis to compute the FFT on, i.e. time/sample dimension, is the second inner most dimension.

[2021-03-09 17:55] Adeesh2411 commented on #35707
Currently we cannot convert LSTM model to tflite file . so then we cannot deploy LSTM model to android?

[2021-03-09 18:12] dwincort opened #47680 "LLVM MLIR Tensorflow Compatibility"
You have a great [table of tested build configurations for tensorflow in general](https://www.tensorflow.org/install/source#tested_build_configurations) — do you have something similar for getting TF's MLIR integration to work.  That is, can you suggest commits from llvm-project to use with commits from this repository that will guarantee a successful build of `mlir:tf-opt` as described in [the te

[2021-03-09 18:18] Saduf2019 commented on #30087
@mukulhase
Is this still an issue.

[2021-03-09 18:38] seagate2014 commented on #36645
@helloworld1 : Were you able to find some workaround for it ?

[2021-03-09 18:41] patfla commented on #45397
By using pdb to step through code in image_dataset_from_directory and underneath it, I realized that filenames are very tied to classes (as they probably should be) and that the relevant message is not "Op has type float32 that does not match" but rather "Found 0 files belonging to 0 classes."  The first is, if you will, an artifact of the second.

I have (to test) three images in three files: a.j

[2021-03-09 19:45] ymodak commented on #47647
Using TensorBoard’s Graphs [dashboard](https://www.tensorflow.org/tensorboard) is recommended for examining your TensorFlow model.
Perhaps we may want to identify if there are any limitations of using TensorBoard's Graphs for your use case which can make a point to add/update the feature?

[2021-03-09 20:12] zachmayer commented on #30846
Can you link to the version where this is taken care of, so I can check that my code works now?  Thanks!

[2021-03-09 20:20] mrverdelho commented on #23728
I have the same problem.

[2021-03-09 20:30] ymodak commented on #47622
Can you try with `TARGET=risc32_mcu` and check?
`make -f tensorflow/lite/micro/tools/make/Makefile TARGET=riscv32_mcu hello_world`
Also see https://github.com/tensorflow/tensorflow/issues/32041

[2021-03-09 20:39] yashk2810 commented on #47608
So, I looked through the diffing algorithm and it is working as intended.

The real problem is that tf-nightly doesn't contain the updated docstring.

[code]

I can't see the `sqrt` in the equation here. @mihaimaruseac Do you know what's wrong with the tf-nightly package?

[2021-03-09 20:42] yashk2810 commented on #47608
Ohh, I know what the problem is.

This is the right docstring: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/normalization_v2.py#L205

The one that was updated doesn't contain tf_export decorator. If you update the one that I linked above, then it should show up on the site.

[2021-03-09 20:53] lamberta commented on #47608
While it's good that the nightly diff is working, I don't think it closes this issue.

Can we update the correct place? Do we need to add a note so contributors of the future update the correct place?

[2021-03-09 21:56] #46624 closed

[2021-03-09 21:58] randyzhao opened #47682 "Building tensorflow 2.4 from source failure: Lowering to LLVM IR failed"
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): 2.4
- Python version: Python 3

[2021-03-09 22:42] advaitjain commented on #47589
I would guess that removing the suppressed warnings would result in some other failure. Adding in additional flags (e.g. what you have for cortex_m_generic) is very reasonable. If you want, you can certainly give this approach a try.

If it turns out that we need a mechanism in the Makefiles to selectively add or remove compiler flags, then the direction that I would like to go in, but have not ha

[2021-03-09 22:46] chrisbutner opened #47683 "SentencePieceTokenizer.detokenize fails on TPU with "No registered 'SentencepieceDetokenizeOp' OpKernel for XLA_TPU_JIT devices""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, included below
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Collab with TPU
- TensorFlow installed from (source or binary): (pre-installed)
- TensorFlow version (use command below): v2.4.1-0-g85c8b2a817f 2.4.1
- Python version: Python 3.7.10

**Describe

[2021-03-09 23:16] lamberta commented on #47608
Thanks, Yash.
Looks like this was added in https://github.com/tensorflow/tensorflow/commit/76094af11bffac23375ad7b08f5c7bd6df2e0c7c
@Suraj-Upadhyay Can you please update the correct file? Thanks

[2021-03-09 23:20] jvishnuvardhan commented on #45268
@thephet Is this resolved for you?

Please close the issue if this was resolved for you. thanks!

[2021-03-09 23:39] ioannesKX commented on #47622
[code]
On previous issues indeed `TARGET=riscv32_mcu` is used, but as this error implies, there should be a file `riscv32_mcu_makefile.inc` under **/targets** rather than the`mcu_riscv_makefile.inc` that exists now. If you search https://github.com/tensorflow/tensorflow/search?q=riscv32_mcu you can see that this is the TARGET expected from the rest of the code base.

I suspected there was a mistak

[2021-03-09 23:46] ymodak commented on #47619
You are right, however this is intentional.
See https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/applications/mobilenet_v3.py#L559-L562 to know more.
MobilenetV3 has a rescaling layer to preprocess the inputs.
See [gist](https://colab.research.google.com/gist/ymodak/897c6eaf44353e1062794f21ec147ff8/copy-of-untitled.ipynb)

[2021-03-10 00:03] ymodak commented on #47513
@PratsBhatt Yes, your [PR](https://www.tensorflow.org/api_docs/python/tf/data/experimental/bucket_by_sequence_length?version=nightly) is up with tf-nightly docs. Thanks for the fix.

[2021-03-10 00:03] #47513 closed

[2021-03-10 00:06] #47404 closed

[2021-03-10 00:28] #47603 closed

[2021-03-10 00:33] joelberkeley opened #47684 "tf.Variable shape is restricted with copy.deepcopy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8
- CUDA/cuDNN version: ???
- GPU model and memory: GTX 1070

**Describe the cur

[2021-03-10 00:38] abattery commented on #47657
There are three TFLite models under https://drive.google.com/corp/drive/folders/1mS00HV8tONDNjyiX7USlyuhN2S9B6Vqw. Which one is the problematic one?

[2021-03-10 00:40] schissmantics opened #47685 "Random seed produces different results for different TF versions"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSx 11.2.1
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.4.0-49-g85c8b2a817f 2.4.1
- Python version: 3.8.7

**Describe the current behavior**
I'm not sure whether this qualifies as a bug but I'm pretty sure this is not the intende

[2021-03-10 01:17] ioannesKX commented on #47622
Another thing, if `hello_world` is not included in the `make` flags, compilation is stuck in another stage:
[code]

IDK if this is related or helps, but [in this (old) fork that ported TFLMicro to RISC-V](https://github.com/mars20/tensorflow/tree/riscv-mcu/tensorflow/lite/experimental/micro), the `round` function had some changes: https://github.com/mars20/tensorflow/commit/4fe29849f35cb1637f3a2dc

[2021-03-10 01:26] thaink commented on #47551
It is fixed at commit 0b2560e217cf5bc7c9f931a3185c9c8e3f2e9d5e in master branch.

[2021-03-10 01:26] #47551 closed

[2021-03-10 01:33] Yu-Hang commented on #47657
@abattery It's "model.tflite"

[2021-03-10 01:56] #46744 closed

[2021-03-10 02:42] jvishnuvardhan commented on #47263
@ghylander Can you please close this and open a new `feature_request` issue so that it is easier to follow. Thanks!

[2021-03-10 02:48] jvishnuvardhan commented on #47311
I am closing this issue. We will follow the progress of supporting numpy2.x in the future versions of TF through https://github.com/tensorflow/tensorflow/issues/47268 or any feature request issue (@ghylander may create one). Thanks!

[2021-03-10 03:04] abattery commented on #47657
You need to resize the input tensor before the execution.

[code]

[2021-03-10 03:06] FlyWong opened #47686 "SavedModel file does not exist error when running Image classification with TensorFlow Lite Model Maker tutorial"
**System information**
I am just following instructions found on the tutorial page: https://www.tensorflow.org/lite/tutorials/model_maker_image_classification

OS:  windows 10 home

tensorflow lite model maker installed via pip install tflite-model-maker
print(tf.version.GIT_VERSION, tf.version.VERSION):  v2.4.0-49-g85c8b2a817f 2.4.1

Python 3.8.6

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (

[2021-03-10 03:22] matanhalevy commented on #47659
I also noticed the notebook you provided was relying on my data, that can be substituted:
[code]
Apologies but I am unable to share my data, since the MinDiff model won't even train I don't see an issue with using mock data here.

[2021-03-10 03:28] abattery commented on #47686
@ziyeqinghan could you take a look at this?

[2021-03-10 03:45] Yu-Hang commented on #47657
@abattery I first get an error complaining the byte array size. I figured I should probably use `tfLite.resizeInput(0, new int[] {4, 1024, 1024, 3});` since is a floating point model. Then, I got another error:

[code]

[2021-03-10 03:47] abattery commented on #47657
Since your model has enabled the Select TF option, you need to link the additional AAR to enable the Select TF option. See https://www.tensorflow.org/lite/guide/ops_select

[2021-03-10 03:57] braindotai opened #47687 "Extremely poor data loader performance, taking too much time to load first batch."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.5 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Not applicable.
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use comm

[2021-03-10 04:25] Yu-Hang commented on #47657
@abattery It worked! Only problem is it exceeds memory limit during inference... But thanks for the help!

[2021-03-10 04:25] #47657 closed

[2021-03-10 04:30] lintian06 commented on #47686
From the error message, it seems that your hub module doesn't download correctly. Can you try downloading it from https://tfhub.dev/tensorflow/efficientnet/lite0/feature-vector/2 and put the unzipped files in that path?

[2021-03-10 04:34] FlyWong commented on #47686
Hi

May I know which path?

Thanks

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Tian Lin <notifications@github.com>
Sent: Wednesday, March 10, 2021 12:31:00 PM
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: FlyWong <raywly@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [tensorflow/tensorflow] SavedModel file does not exist er

[2021-03-10 04:44] ymodak commented on #47281
I will update this thread when the fix is in hopefully by end of this week. Thanks!

[2021-03-10 05:52] Saduf2019 commented on #47687
@braindotai
The code shared is not reproducible, please find [gist here](https://colab.research.google.com/gist/Saduf2019/5e00a3e32ff530b8a9c826ee024d1980/untitled561.ipynb), and share the colab gist with the error reporeted.

[2021-03-10 06:04] #47651 closed

[2021-03-10 06:13] multiverse-tf commented on #47640
@teijeong, could you help with this as you are more experienced w/ iOS?

[2021-03-10 06:20] Saduf2019 commented on #47660
@tywofxd
TensorFlow v2.0 is compatible with Python 3.5 - 3.7. For more information, please take a look at the [tested build configurations.
](https://www.tensorflow.org/install/source_windows#cpu).

Please verify with this [comment](Please post output of python --version, python -m pip --version and python -m pip install -vvv tensorflow) for compatibility, is your python version 64 bit.

Also plea

[2021-03-10 06:23] multiverse-tf commented on #44043
Great to know about this! Our CL is almost ready, and should be checked in by 3/12.

[2021-03-10 06:25] Saduf2019 commented on #47675
Issue is reproducible on tf 2.3,2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/2c65d01df54c08c047db873224be9720/untitled561.ipynb)

[2021-03-10 06:49] defr8001 commented on #47551
Awesome, thanks!

[2021-03-10 06:53] braindotai commented on #47687
Here's [the link](https://colab.research.google.com/gist/braindotai/3b917caf1d9f72569e5af1162d77ca42/untitled561.ipynb#scrollTo=cRyFuojRqV6f) to the notebook for reproducing the issue.

[2021-03-10 07:28] sandeep22-v commented on #33925
converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir)
converter.optimizations = [tf.lite.Optimize.DEFAULT]
converter.representative_dataset = representative_dataset

converter.allow_custom_ops = True

converter.experimental_new_converter = False
tflite_quant_model = converter.convert()

Finally this gave me an output tflite file now...will update you on its correctness

[2021-03-10 07:31] #47524 closed

[2021-03-10 07:49] hojin89 opened #47689 "layers.LocallyConnected2D throws error when saving a model in tf, saving in .h5 works"
Hi, tensorflow community

I'm playing around with LocallyConnected2D and found some weird error when I tried to save a model (model.save).

When I gave the layer implementation=1, the model was saved without any errors.
But, if I set implementation=2, it gave me this error.

Traceback (most recent call last):
  File "/home/tonglab/Documents/Project/PycharmProjects/LCN/LCN_Keras/LocalConn2d_Keras.p

[2021-03-10 08:22] bvirlet commented on #47400
@yyoon do you think [this PR](https://github.com/bazelbuild/bazel/pull/12900) is what we want from Bazel?

[2021-03-10 08:34] SysuJayce commented on #33030
@Emile0205 Sad story! I try custom training loop instead of model.fit(), but memory leak still exists.

[2021-03-10 08:36] birdmw commented on #33030
How do I get off this email thread?

On Wed, Mar 10, 2021, 12:34 AM Jayce <notifications@github.com> wrote:

[2021-03-10 08:38] AdityaKane2001 commented on #47689
@hojin89
It would be great if you shared the source code of this error.
Also, from the log, I speculate that the layer and its weights are initialized with a placeholder (dummy Tensor), and thus it says that the shape is not defined. Other cause may be that the shapes of some Tensors may not be defined before runtime, as layers are executed in graph mode.

[2021-03-10 08:51] amahendrakar commented on #47264
@st--,
Sorry for the delayed response. Since the modules are regularly being updated, we cannot pin point the exact commit/PR which fixed the issue.

Please feel free to close the issue if resolved. Thanks!

[2021-03-10 08:53] bykvaadm commented on #45744
https://www.tensorflow.org/install/source

[2021-03-10 08:59] LeparaLaMapara commented on #35353
Has anyone solved this?

[2021-03-10 09:05] ghylander opened #47691 "Numpy v1.20+ compatibility"
**System information**
- TensorFlow version (you are using): tf-nightly-gpu v2.5.0-dev20201214
- Are you willing to contribute it (Yes/No):

**Describe the feature and the current behavior/state.**
Tensorflow is incompatible with numpy v1.20+ (recently released). This version introduces new functions and changes behaviours.

**Will this change the current api? How?**
There seems to be an issue wit

[2021-03-10 09:08] Lennard94 commented on #42492
Dear sgiraudot,
maybe this is of help for you.
I also needed a C++ library for tensorflow to apply already trained models. The compilation of the required libraries was, however, frustrating. As you mentioned, the built time on a normal machine is very long, which hampers a systematic approach to test different options. Luckily, I have a HPC available, where I can run the compilation within second

[2021-03-10 09:14] reuvenperetz commented on #40044
Hi,
Any news?

[2021-03-10 09:24] FlyWong commented on #47686
Hi all,

Thanks it worked after copying in the files extracted from the .gz

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: raymond wong <raywly@hotmail.com>
Sent: Wednesday, March 10, 2021 12:34:15 PM
To: tensorflow/tensorflow <tensorflow@noreply.github.com>; tensorflow/tensorflow <reply@reply.github.com>
Cc: Author <author@noreply.github.com>
Subject: Re:

[2021-03-10 09:41] #33345 closed

[2021-03-10 09:50] Saduf2019 commented on #30846
@zachmayer
Apologies for the confusion, can you please provide with stand alone code to support this issue and replicate it.

[2021-03-10 09:54] mayou36 commented on #35617
@cossio the decorated function won't work as expected: this just remembers each Python input and rebuilds the graph. I recommend to read up on this e.g. [here](https://www.tensorflow.org/guide/function). Actually, try to put in a tensor, not a Python number and the decorated should fail.

erfcx was though added now in the nightlies

[2021-03-10 09:57] amahendrakar commented on #47673
@OliverPfau,
In order to expedite the trouble-shooting process, could you please provide a minimal code snippet to reproduce the issue reported here and also the dataset you are using. Thanks!

[2021-03-10 10:07] Saduf2019 commented on #47548
I am able to replicate the issue reported on tf 2.3, 2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/d5864d05ecb3babc5e023af943305869/untitled562.ipynb).

[2021-03-10 10:10] dihiaselma opened #47692 "multi-threading on tensorflow models"
Hello;

I have a TensorFlow model in .h5. I call it from a Flask App via /predict

my project consist on predicting the sentiment of each entering comment from tweeter in streaming.
I want to load the model one time (at the beginning) , then many threads or processes use this model (share it)

I get a Lock error.

How can I fix this bug, how to allow many threads to share the same model at the sam

[2021-03-10 10:12] yyoon commented on #47400
@bvirlet I've looked at that PR before, but that's for building bazel itself to work natively on M1, which is different from building an ios_static_framework for arm64 simulator target. I think this would involve more work from apple build rules side.

Even better, if bazel + apple rules start to support building an XCFramework with multiple target architectures, we could switch to using that for

[2021-03-10 10:15] bvirlet commented on #47400
Thanks for clarifying that!

[2021-03-10 10:17] Saduf2019 commented on #47663
@ymodak
I am able to repliate the issue on tf 2.3,2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/37d5a9a29edb08b94608e79a765ce7b0/untitled561.ipynb)

[2021-03-10 10:21] yyoon commented on #47640
Also cc: @impjdi

[2021-03-10 10:21] Saduf2019 commented on #47672
@VenuGopalVasarla

As this is not a bug or a feature request, can you please create an issue on [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow) for this and move this to closed status.

[2021-03-10 10:28] #45268 closed

[2021-03-10 10:38] PatroxGaurab commented on #40031
I'm facing the same issue on the latest version of tensorflow
Can you guide me how to debug it?

[2021-03-10 10:48] rmothukuru commented on #47618
@gqqnbig,
Could reproduce the error with `Tensorflow Version 2.4`. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/bd1cd5555c30273efbe93f4f1b373db1/gh_47618.ipynb).

Thanks!

[2021-03-10 10:52] iliaschalkidis commented on #47597
Hi @amahendrakar,

Unfortunately not. In this example, we just do not use a bias term at all. In my case, I just want to pick up a specific weight, i.e., the bias term, and turn it to no trainable, not ignore/delete it.

Thanks.

[2021-03-10 10:59] ezzaimsoufiane commented on #40646
if @iobtl solution outputs some errors try
`physical_devices = tf.config.list_physical_devices('GPU')`
`tf.config.experimental.set_memory_growth(physical_devices[0], True)`
worked for me

[2021-03-10 11:39] wojdzi1607 commented on #24496
It works, paste to start python file you execute. Ubuntu 20.04, docker Nvidia, tensorflow 1.15, GTX 1060

[2021-03-10 11:51] rmothukuru commented on #47632
@fsx950223,
[tf.scatter_nd](https://www.tensorflow.org/api_docs/python/tf/scatter_nd) works in a similar way. Please find the [working example](https://www.tensorflow.org/guide/tensor_slicing#insert_data_into_tensors). Thanks!

[2021-03-10 11:54] fsx950223 commented on #47632
Yeah, but item assign is more general and convenient.

[2021-03-10 11:56] #47365 closed

[2021-03-10 11:56] piiswrong opened #47694 "_PREEMPTION_ERRORS in one worker cause other workers to get stuck in between-graph async distributed training"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-03-10 12:09] amahendrakar commented on #47676
@inespancorbo,
Could you please go through [this guide](https://www.tensorflow.org/guide/distributed_training#multiworkermirroredstrategy) which gives a brief overview of MultiWorkerMirroredStrategy and let us know if it helps. Thanks!

[2021-03-10 12:13] ioannesKX commented on #47636
I'm also getting this error (Ubuntu 20.04, recent TensorFlow master source), but I used the riscv64-unknown-elf toolchain which shouldn't make a difference. The linux_riscv64 target seems to build normally on the other hand.

[2021-03-10 12:17] amahendrakar commented on #47682
@randyzhao,
Could you please check if you are facing the same issue with Bazel v3.1.0 as well? Thanks!

[2021-03-10 12:22] PatroxGaurab opened #47695 "Transpose of a Bi-LSTM CRF working fine on TFLite interpreter of Python but throwing error on Android"
System.Exception: 'Java.Lang.IllegalArgumentException: Internal error: Failed to run on the given Interpreter: tensorflow/lite/kernels/transpose.cc:56 op_context->perm->dims->data[0] != dims (3 != 2)
Node number 6 (TRANSPOSE) failed to prepare.
Please help me, how we can debug this error.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in T

[2021-03-10 12:34] rmothukuru commented on #47655
@mayowaosibodu,
Do you mean to say that your request is to facilitate effective usage of `Dense Layers` for `Text Data`? If it is so, we have `Recurrent Neural Networks` (`RNNs`, `LSTMs`, `GRUs`, etc..) for the same. You can correct me if I'm missing something.

[2021-03-10 12:44] amahendrakar commented on #47683
Was able to reproduce the issue with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/165f56b8059db42420dca8b11dd3e836/47683-2-3.ipynb), [TF v2.4](https://colab.research.google.com/gist/amahendrakar/914acf4640879a1f7e6a87644a6f14be/47683.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/1ff4b0ff2ff79ef9321be404591290fb/47683-2-5.ipynb). Please check the linke

[2021-03-10 12:57] samanemami commented on #47430
@ymodak
I have installed TF 1.15.0, but the problem has not solved. Got the same error.

Please note that I have downloaded **different versions of TF** and consequently installed **different versions of python** which is **costly**.
Would you please indicate the correct version of TF which actually works, please?

[2021-03-10 13:10] amahendrakar commented on #47685
Was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/f9cd20a051de19cf6016ebf5221a8563/47685.ipynb). Thanks!

[2021-03-10 13:11] abattery commented on #47695
Please make sure your android aar files have the same or higher TF version used for the TFLite conversion.

[2021-03-10 13:20] kiflowb777 opened #47696 "model.to_json() TypeError: Not JSON Serializable"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows, Linux
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.14.0
- Python version: 3.6.1

Code to reproduce issue:
[code]

Causes:
[code]

Versions above 1.14.0 do not cause this in the function .to_json().

Gist: https://gist.github.com/kiflowb777/8fd25c7cde004b1e88

[2021-03-10 13:22] kiflowb777 commented on #47309
On the version 1.14.0 there is a problem with model.to_json().

[code]

More info: https://github.com/tensorflow/tensorflow/issues/47696

[2021-03-10 13:28] PatroxGaurab commented on #47695
Thanks for your prompt response ->
[code]

Prediction on TFLite interface of Python working fine ->

[code]

But prediction on Android giving error ->

[code]

[2021-03-10 13:28] #47678 closed

[2021-03-10 13:29] PatroxGaurab commented on #47695
BTW I'm using Xamarin TFLite interface

[2021-03-10 13:30] AnxietyVendor commented on #39175
https://stackoverflow.com/questions/57257530/importerror-no-module-named-in-colab-google
ref to this answer got me solved
utils will be found after explicitly changing dir

[2021-03-10 13:42] abattery commented on #47695
Could you make sure that your Xamarin TFLite library has built with the same or higher than TF version used for conversion?

[2021-03-10 13:43] PatroxGaurab commented on #47695
Can you please help me how to find that? my python side version is 2.4.0, and I'm using the latest TFLite library

[2021-03-10 13:45] taga93 commented on #23728
I have the same problem, but not only with optimizers:

[code]

And with optimizers:

[code]

[2021-03-10 13:46] abattery commented on #47695
The latest version of Xamarin TFLite library is 2.1.0 and the TF version for TFLite model conversion is 2.3. The old runtime may not be able to run the models generated newer version. My recommendation is upgrading TF version of your client. Maybe there is a way to link android library in the Xamarin to use the latest TFLite library.

[2021-03-10 13:57] amahendrakar commented on #47689
@hojin89,
As mentioned by @AdityaKane2001, could you please provide the complete code and the TensorFlow version you are using so that we can reproduce the issue on our end. Thanks!

[2021-03-10 14:00] coorful commented on #24828
It probably because of the memory growth under tensorflow framework, so try to add
import tensorflow as tf
from keras import backend as K
config = tf.ConfigProto()
config.gpu_options.per_process_gpu_memory_fraction = 0.4## max GPU occupation
K.set_session(tf.Session(config=config))
K.get_session().run(tf.global_variables_initializer())
before the whole code... It works for me.

[2021-03-10 14:00] jameshfisher commented on #47619
Ah yes. I suspected as much. I could update the docs

[2021-03-10 14:23] inespancorbo commented on #47676
I have already looked at that unfortunately. I am asking about gradient updates/losses etc. How are these handled when many machines are involved?

[2021-03-10 14:29] Volker-Weissmann commented on #47660
I can confirm this bug. `pip install tensorflow` works with 3.8.5-debug and 3.6.12 but not with 3.6.12-debug. pip version is 21.0.1.

[Here](https://www.tensorflow.org/install/pip), you just say that `Python 3.5–3.8` is supported, which is not true because 3.6.12-debug is a Python version 3.5-3.8 .

All python versions were installed using pyenv.

[2021-03-10 14:30] Saduf2019 commented on #47684
@joelberkeley
Please refer to this [gist](https://colab.research.google.com/drive/1zhKXHpmEdrdWaagNMqTsReKFmdvfwcWH?usp=sharing) and let us know.

[2021-03-10 15:22] gqqnbig commented on #45637
@bhack Sorry, I'm too busy with other things.

[2021-03-10 15:25] hojin89 commented on #47689
Thanks for the replies.

Here is the complete code:

import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras import initializers

# Model / data parameters
num_classes = 10
input_shape = (28, 28, 1)

# the data, split between train and test sets
(x_train, y_train), (x_test, y_test) = keras.dat

[2021-03-10 15:26] mansnils commented on #47589
I am not sure if there is a need for such a mechanism since every target can control the warning level.
Since one can anyway only build the tflu-lib with the cortex_m_generic target, I propose to just filter out the micro speech example test.

[2021-03-10 15:41] PatroxGaurab commented on #47695
As the latest TFLite is not available as the Nuget package, how can we upgrade this in xamarin?

[2021-03-10 15:41] joelberkeley commented on #47684
@Saduf2019 I'm not sure that gist is quite correct. The following code shows how it's not possible to assign to a deepcopy of a `tf.Variable`
[code]

[2021-03-10 15:58] Adeesh2411 opened #47700 "Unable to load tflite file in android, It provides =" Internal error: Failed to run on the given Interpreter: tensorflow/lite/kernels/transpose.cc:55 op_context->perm->dims->data[0] != dims (3 != 2) 03-10 16:42:09.948 8010 8010 D check here: Node number 6 (TRANSPOSE) failed to prepare.""
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
 colab

[2021-03-10 16:10] jameshfisher commented on #47404
Thanks @ymodak - makes sense. `.output_shape` seems like a private API so I can't really complain - as you say, I should be calling a model, not a layer.

[2021-03-10 16:12] monicadsong commented on #45781
Hi all--

Thanks for all your thoughtful comments.

An update:
(1) Re @jamlong 's issue, I believe it is now fixed in the latest tf-nightly, see the link here: https://colab.research.google.com/gist/monicadsong/af9b7085f97d00b94894a460daa78a33/45781-tf-nightly.ipynb

(2) @ds-steventondeur: reloading a subclass Functional model should work now in `tf-nightly` without fail.

(3) @pandrey-fr: this is

[2021-03-10 16:12] #45781 closed

[2021-03-10 16:13] kuonb opened #47701 ""Could not create cudnn handle: CUDNN_STATUS_NOT_INITIALIZED" only when running old TF code"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): pip install tensorflow-gpu==2.1.0
- TensorFlow version (use command below): v2.1.0-rc2-17-ge5bf8de 2.1.0
- Python version: 3.5.2
- CUDA/cuDNN version:

[2021-03-10 16:15] NEGU93 opened #47702 "Model.fit average gradients by batch_size"
So, it seems `Model.fit` is averaging the gradient over the batch size.

There is a simple [script](https://github.com/NEGU93/cvnn/blob/master/debug/mwe_testing_learning_algo.py) I did to check that assertion and it was discussed in [stackoverlow](https://stackoverflow.com/questions/66566905/debugging-tensorflow-fit-not-making-sense/)

It is highly possible this is by design and not a bug but I wa

[2021-03-10 16:20] jameshfisher commented on #47619
Oh, I see the docs are generated from source and it's fixed on "nightly" view of the docs. I'll close this then. Thanks @ymodak

[2021-03-10 16:22] Roohi-Sharma commented on #33163
Thank you so much this solved the issue for me

[2021-03-10 16:56] #47363 closed

[2021-03-10 16:57] inespancorbo opened #47704 "Numbers get printed out when model.fit() instead of verbosity associated with epochs/iterations -- tf.keras"
This is my code so far, I am using ```tf.data.experimental.bucket_by_sequence_length``` because X_train is a list of 2D lists with differing number of rows -- so when training want to batch with similar sizes.

[code]

However, when I run this, no error apparently shows. The only bizarre thing is that what looks like lists keeps getting print out, as opposed to the verbosity you would expect when

[2021-03-10 17:36] TPrivat opened #47705 "Could not load libcusolver.so.10 with tf-nightly-gpu"
**System information**
- OS Platform and Distribution: Arch Linux
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.5.0 (tf-nightly-gpu)
- Python version: 3.9
- CUDA/cuDNN version: 11.2
- GPU model and memory: 1070 TI 8GB

Problem:
Could not load dynamic library 'libcusolver.so.10'; dlerror: libcusolver.so.10: cannot open shared object file: No such fi

[2021-03-10 17:42] albertonavas99 opened #47706 "Training stalls after saving checkpoint 0"
Hello,

First of all, I have read and tried all solutions from #32017, unless it isn't the same error exactly.

**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow version: 2.4.1
- Python version: 3.8.2
- CUDA/cuDNN version: 11.2

I have tried to train a model with this command:
melody_rnn_train --config=attention_rnn --run_dir=tmp\\run1 --sequence_example_file=tmp\\sequ

[2021-03-10 18:05] jvishnuvardhan commented on #40031
@PatroxGaurab This issue is old and already got closed. Can you please create a new issue with simple standalone code to reproduce the issue? Thanks!

[2021-03-10 18:28] advaitjain commented on #47589
Ah yes, for the cortex_m_generic target filtering out the test works.

[2021-03-10 18:29] ymodak commented on #47619
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2021-03-10 19:46] inespancorbo commented on #47704
Ok, I figured it out. Essentially

[2021-03-10 19:52] ymodak commented on #47662
@jeongukjae Are you still interested to raise a PR for this?
Note that `wrappers.go` and `tf_generated_ops.td` are machine generated files therefore we should not edit manually.

[2021-03-10 19:59] bixia1 commented on #46453
Hi, Tama's PR is going to fix this by introducing an environment for you to overwrite the default behavior. With his PR, the default behavior won't be changed, that is, we still reject the case where top_k > 4096 as we do currently unless you explicit request to change this behavior through providing the environment variable. We need your feedback on this solution.

[2021-03-10 20:11] PatroxGaurab commented on #47695
Issue is fixed after a downgrade of TF version where it's built.
Thanks

[2021-03-10 20:11] #47695 closed

[2021-03-10 20:29] aaudiber commented on #47545
Hi @kdonbekci,

Regarding the AlreadyExistsError, can you try replacing `.cache(filename)` with `.apply(tf.data.experimental.snapshot(filename))`? `snapshot` is similar to cache, but supports concurrent access.

The second issue is an unfortunate interaction between `cache` and `zip`. The contract for `cache` (and `snapshot` for that matter) is that they will only finalize the cached data (making

[2021-03-10 20:56] #47312 closed

[2021-03-10 20:58] nikitamaia commented on #47368
Hi @shengy90, I ran the colab notebook you provided[ (link)](https://colab.research.google.com/drive/1ZN1HzSTTfvA_zstuI-EsKjw7Max1f73v?usp=sharing) on the GPU runtime, but I'm not seeing any errors. Please take a look and let me know if I'm missing something.

[2021-03-10 20:59] alkaris2 opened #47709 "Pip install issue"
**System information**
- OS Platform and Distribution: Manjaro Linux
- TensorFlow installed from: Pip
- TensorFlow version: 2.4.1
- Python version: 3.9.2
- Installed using virtualenv? pip? conda?: pip 20.3.1
- GPU model and memory: Asus GTX 1070 8GB OC Snow Edition

**Describe the problem**

An issue with Pip is preventing being able to install Tensorflow just by doing `pip install tensorflow` and

[2021-03-10 21:00] mayowaosibodu commented on #47655
@rmothukuru I see what you're saying. There exist models built specifically with sequence data in mind.

However I'm saying there appears to be away to make Dense-layer models capable of processing textual data, with very minimal changes to the current codebase.

I do not know of academic articles assessing the capabilities of Dense-layer models with regard to Text Data.
There do not even seem to

[2021-03-10 21:01] nikitamaia commented on #47633
Hi @JWenBin, to help with the debugging process please provide a colab notebook with reproducible code. Thanks!

[2021-03-10 21:20] nikitamaia commented on #47061
Hi @RocaVincent, can you provide any more code for us to look at (even if it's not a fully reproducible example)?

[2021-03-10 21:22] subopt opened #47710 "Unable to build tensorflow lite standalone pip package for raspberrypi zero"
**System information**

Raspbian buster lite
Linux raspberrypi 5.4.83+ #1379 Mon Dec 14 13:06:05 GMT 2020 armv6l GNU/Linux
gcc version 8.3.0 (Raspbian 8.3.0-6+rpi1)
python 3.7.3

tensorflow source @ commit a2a5b86c3bd90e03151a25c52c0f6cebbd573228

**Describe the problem**

Unable to build tensorflow lite standalone pip package for raspberrypi zero

https://github.com/tensorflow/tensorflow/tree/mas

[2021-03-10 21:56] #47256 closed

[2021-03-10 22:03] Krisonrik opened #47711 "std symbols undefined while compiling libtensorflowlite.so for android"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
  macOS Big Sur version 11.2.3

[2021-03-10 22:09] abattery commented on #47711
@thaink could you take a look at this?

[2021-03-10 22:12] Krisonrik commented on #47711
btw, I also tested on master branch, same thing. Although 2.4.0 seems to have other fails besides the make_unique not being defined.

[2021-03-10 22:12] abattery commented on #47700
@Adeesh2411 could you make sure that your android client has a TFLite dependency, which has the same or higher version of the TF version used for TFLite model conversion?

[2021-03-10 22:19] abattery commented on #47700
The old runtime may not be able to run the models generated with a newer version. My recommendation is upgrading TF version of your android client if the client has a lower version than 2.4.

[2021-03-10 22:56] #47013 closed

[2021-03-10 23:03] ymodak commented on #46828
Closing this issue as per the discussion in the associated PR thread tagged above. Thanks!

[2021-03-10 23:03] #46828 closed

[2021-03-10 23:03] fchollet commented on #47556
A Python `lambda` is serialized as bytecode (so it's not cleanly serialized and won't be portable). Meanwhile a function like `tf.identity` is serialized via its name "identity" (so it's portable even across TF versions and across different OSes).

If you want to be able to deserialize the name "identity", it's simple, just register it so that Keras can recognize it:

[code]

[2021-03-10 23:03] #47556 closed

[2021-03-10 23:10] fchollet commented on #45325
Hello,

`tf.keras.preprocessing.image.random_shift` explicity only works with NumPy arrays (or eager tensors), as specified in the documentation. It isn't meant to operate on graph tensors.

Also note that it is outdated functionality. If you need equivalent functionality that works on both arrays and tensors and in graph mode, you can use the preprocessing layer `RandomTranslation`: https://keras

[2021-03-10 23:10] #45325 closed

[2021-03-10 23:14] ymodak commented on #46594
Is this still an issue? Did you try using [Profiler](https://www.tensorflow.org/guide/profiler#profiler_tools) ?

[2021-03-10 23:18] alex-f1tor commented on #46659
@ravikyram LOL, it works with tf-1.15

[2021-03-10 23:30] ymodak commented on #47709
Python 3.9 is not supported currently.
See https://www.tensorflow.org/install/pip#system-requirements

[2021-03-10 23:31] jvishnuvardhan commented on #46533
@AiaHaruv Based on the error description (`TypeError: list indices must be integers or slices, not Tensor.`), i changed two lines in your code as shown below.

[code]

After those two modifications, everything worked as expected. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/a3cf9175313c2695b0dd8293ab25bc20/46533.ipynb).

Please feel free to check the [guide](h

[2021-03-10 23:36] carlitosblvd commented on #33285
On Mac : go to Applications then Python and Install certificates.command.  fix it

[2021-03-10 23:51] thaink commented on #47711
std::make_unique is introduced in C++14.
You should build with --cxxopt='--std=c++14'.
And if you add "//tensorflow/lite/delegates/flex:delegate" as dependency, --config=monolithic may also be required.

[2021-03-10 23:54] abattery commented on #47711
@thaink could you make sure that the necessary build flags are mentioned in the our guide page?

[2021-03-11 00:03] thaink commented on #47711
By default, we always build with c++14: https://github.com/tensorflow/tensorflow/blob/master/.bazelrc#L300
We don't add it in sample commands in https://www.tensorflow.org/lite/guide/build_android but I think it is good since adding config with default value with have no effect but make the command more complicated.

[2021-03-11 00:07] abattery commented on #47711
IMO, it would be nice to have the sample command at least for  `--config=monolithic`.

[2021-03-11 00:37] terryheo commented on #47710
Could you try this?

https://www.tensorflow.org/lite/guide/build_cmake_pip

[2021-03-11 00:38] jvishnuvardhan commented on #46230
@za13 I don't see any issue in reading `*.pb` file. I used a `dummy.pb` file and was able to read it without any problem.

[Here](https://colab.research.google.com/gist/jvishnuvardhan/03fd1176ae129d03598937824f3a3a5c/untitled.ipynb) is a gist for reference. Thanks!

I attaching the *.pb file (as *.txt file so that GitHub allows me to upload)

[dummy_pb.txt](https://github.com/tensorflow/tensorflow

[2021-03-11 00:56] #42995 closed

[2021-03-11 01:10] shixm-cloud commented on #39906
I ran into the same issue as @lmielke. If I used a different VAE example, I could save the model. However, using the example from https://www.tensorflow.org/tutorials/generative/cvae just does not work. The code there is really nice.

It would be very nice if an updated version of TensorFlow can solve the issue.

[2021-03-11 01:37] zhangqiang-316 commented on #47670
but,from the github:   https://github.com/tensorflow/tensorflow
Community Supported Builds: it tells Linux AMD build ok.

Build Type | Status | Artifacts
-- | -- | --
Linux AMD ROCm GPU Nightly |   | Nightly
Linux AMD ROCm GPU Stable Release |   | Release 1.15 / 2.x

also, from the source code: tensorflow/core, it include ROCm directory! So, Maybe tensorflow support AMD GPU with ROCm?

[2021-03-11 01:40] awaisbajwaml commented on #47568
May I know if we have support for CUDA 11.2 and cuDnn 8.* - please see this [issue  ](https://github.com/tensorflow/tensorflow/issues/47669)

[2021-03-11 01:41] zhangqiang-316 commented on #47670
but,from the github:   https://github.com/tensorflow/tensorflow
Community Supported Builds: it tells Linux AMD build ok.

Build Type | Status | Artifacts
-- | -- | --
Linux AMD ROCm GPU Nightly |   | Nightly
Linux AMD ROCm GPU Stable Release |   | Release 1.15 / 2.x

also, from the source code: tensorflow/core, it include ROCm directory! So, Maybe tensorflow support AMD GPU with ROCm?

[2021-03-11 01:41] #47670 closed

[2021-03-11 01:53] 1013801464 commented on #46594
Yes, it is still an issue. I have read the _TensorBoard Profiler_ before, but that page is not helpful. Maybe it is an issue of CUPTI but not TensorFlow. I have already given up.

[2021-03-11 01:53] #46594 closed

[2021-03-11 01:56] jzhang533 commented on #31412
Same warning on TF 2.4.1.

[2021-03-11 02:23] zhjunqin commented on #46342
I found similar issue when use `tf.compat.v1.train.AdagradOptimizer` and multi_head in estimator in TF estimator 2.4

The PR https://github.com/tensorflow/estimator/pull/59 not solve my issue.

[code]

So I follow code in https://github.com/tensorflow/estimator/blob/r1.14/tensorflow_estimator/python/estimator/head/multi_head.py#L427

Change code in function `create_estimator_spec_train_op` like be

[2021-03-11 02:55] darwinharianto commented on #33245
Hello, is there any way to do this too for validation_data?
I can't get it work for validation after every epoch end

[2021-03-11 03:02] #47686 closed

[2021-03-11 03:07] jfgf11 commented on #45779
Thank you soo much!!!! this solution worked perfectly 👍

[2021-03-11 03:15] SunAriesCN opened #47712 "The Risk of posix_memalign in Ruy which TensorFlow Lite used."
Hi TF Authors,

We recently got a crash as following when we tflite::Interpreter::Invoke the cartoonized [model](https://github.com/margaretmz/Cartoonizer-with-TFLite/blob/master/android/app/src/main/ml/whitebox_cartoon_gan_int8.tflite):
[code]
Whole logs is here, [tensor_crash.txt](https://github.com/tensorflow/tensorflow/files/6120045/tensor_crash.txt).

And we suspect that the [memalign](https:

[2021-03-11 03:27] abattery commented on #47712
@talumbau @renjie-liu  Could you take a look at this bug report?

[2021-03-11 03:54] Adeesh2411 commented on #47700
@abattery I converted my tensorflow vesion = 2.4.0 and tflite = 2.4.0.
Still it provides same issue

[2021-03-11 03:56] abattery commented on #47700
@Adeesh2411 could you confirm which TF version you are using for android?

[2021-03-11 04:02] emadboctorx opened #47713 "tf.variable_scope with custom_getter in TF2"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.4.1
- Are you willing to contribute it (Yes/No): Maybe

[2021-03-11 04:04] Adeesh2411 commented on #47700
My dependency :
dependencies {

    implementation 'org.tensorflow:tensorflow-lite:2.4.0'
    implementation 'androidx.appcompat:appcompat:1.2.0'
    implementation 'com.google.android.material:material:1.3.0'
    implementation 'androidx.constraintlayout:constraintlayout:2.0.4'
    testImplementation 'junit:junit:4.+'
    androidTestImplementation 'androidx.test.ext:junit:1.1.2'
    androidTestIm

[2021-03-11 04:39] AdityaKane2001 commented on #47689
`model.save('keras1.h5')` works as expected. Saving model in a directory results in the aforementioned error. Gist [here](https://colab.research.google.com/gist/AdityaKane2001/c2072f8433a13975b815dbdfa3819d7c/47689.ipynb).

[2021-03-11 05:09] Adeesh2411 commented on #47700
@abattery  Thank you for looking into my issue.
I got working with model now.
Isuue was with tflite dependency :
I converted my tensorflow verion in python :
[code]
and in android my dependency version to :
`implementation 'org.tensorflow:tensorflow-lite:2.2.0'`

[2021-03-11 05:10] #47700 closed

[2021-03-11 05:13] wangteng200000318 opened #47714 "I found maybe a bug about model.predict() and model.evaluate()"
My machine is MacBook Pro 2020 13-inch, TensorFlow version is 2.4.
When I use model.predict() and model.evaluate(), no matter which function is used first, the output result of the other function will be seriously different from expected. code show as below
[code]

[2021-03-11 05:51] Eieyron commented on #46044
Hello, is there any way that you can give me a copy of your Tensorflow 1.15 whl? It crashes on me when I'm trying to build it from source.

[2021-03-11 06:19] ageron commented on #34025
@zubaidah93 , [Python 2 is officially dead](https://www.python.org/psf/press-release/pr20191220/?utm_source=thenewstack&utm_medium=website&utm_campaign=platform), it is not supported anymore, there are no updates anymore, including security updates, so it is even unsafe to use it. You should really upgrade to Python 3. And TensorFlow 1.1.0 is several years old. If you want to use TensorFlow 1, you

[2021-03-11 06:19] saudet commented on #47283
[code]
You'll need to install that Perl module on your system for it to work.

[2021-03-11 06:37] braindotai commented on #47687
@AdityaKane2001
So does that mean this is expected behaviour?
If yes, then is there any way to apply the `.map` functions batch by batch instead of blocking the main thread process?

I'm really worried because my data is only about 3 GB... with only 1600 quality images, and still in my case just the preprocessing of data is taking well over 4 to 5 minutes... which is surprisingly way greater than

[2021-03-11 06:59] JCL823 commented on #47469
Please check [this](https://colab.research.google.com/drive/1J3MN-nTLrs-LcS5DGwq-cWU_UWL6mUCI?usp=sharing)

[2021-03-11 07:20] dev-hue opened #47715 "TF Lite GPU Delegate produces weird output"
## System information

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Ubuntu 18.04.5 LTS**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **Samsung Galaxy S10(Exynos)**
- TensorFlow installed from (source or binary): **source**
- Te

[2021-03-11 07:21] renjie-liu commented on #47712
Chatted with the @SunAriesCN offline yesterday, a couple of things:

* The model has a very large intermediate layer which has an output of 1*515*512*1568
* Obviously the interpreter should definitely allocate a buffer larger than that one (what happened in the `allocate tensor`
* Ruy can allocate buffer for faster execution, and in this case, it's allocating 384MB which is the size of the output

[2021-03-11 07:22] AdityaKane2001 commented on #47687
@braindotai
I logged the shapes of each of the images in the dataset. The shapes of the images are not the same, some images have the same shape whereas others don't. This causes retracing of all the mapping functions, and that may be the reason of poor performance. If your application permits, please try adding a resizing function. Also, make sure that your mapping functions are taking  tf constr

[2021-03-11 07:24] zerollzeng opened #47716 "KeyError: 'custom_node:0' when loading saved model contains a custom node that already implement via register_ops."
HI tensorflower.

I want to load a saved model with a custom op that's not support by tensorflow, so I write a dummy op register to tensorflow with the guide of https://www.tensorflow.org/guide/create_op, and the registration is succeed but I still get keyerror while parsing saved_model, here are some code snippets:
[code]
I get the following outputs
[code]

Any idea about this error? I don't know

[2021-03-11 07:41] AiaHaruv commented on #46533
@jvishnuvardhan - thank you for your response.
This actually doesn't solve my issue since my problem is to extract from a list which contain a custom class (and not a supported type as str, float, etc). I created this class just for an example to easily reproduce. My actual list includes estimators and I want to extract from the list an estimator from a specific position.
Also, in my case the idx

[2021-03-11 07:56] m-parchami opened #47717 "Feeding a batch of different image shapes for a model with dynamic input shape"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution: Linux Ubuntu 18
- TensorFlow installed from binary
- TensorFlow version: 1.15
- Python version: 3.7
- Running on CPU.

**Describe the current behavior**
I am working on a model with a flexible input shape (None, None,3). That is, the images can be

[2021-03-11 08:05] VoVAllen commented on #46833
This is the expected behavior, that all the int32 tensors are on cpu by default, no matter which context device is specified.

[2021-03-11 08:06] VoVAllen commented on #46833
You can force it on gpu by using `tf.identity` operator

[2021-03-11 08:19] mansnils opened #47718 "Suppressed warnings in cortex_m_generic_makefile and cortex_m_corstone_300_makefile"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source): 8cb7f3a462db810d70521fab26eac8e2fed9e2b4
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):

**Describe the problem**
The files cortex_m_generic_makefile.inc and cortex_m_corstone_300_makefile

[2021-03-11 08:29] sherhut commented on #47058
You want to specify something like

`TF_CUDA_COMPUTE_CAPABILITIES="sm_35,sm_50,sm_60,sm_70,sm_75,compute_80"`

where the `sm_xx` are the compute capabilities you want to ship fully compiled cubins for and the `compute_xx` are the ones that also include a PTX source variant. Can you try and report whether that fixes your issue?

[2021-03-11 08:33] sasmitohrr opened #47719 "ValueError: Input tensors to a Functional must come from `tf.keras.Input`. Received: 0 (missing previous layer metadata)."
I use tensorflow 2.4 on google colab with a script like the following
[code]

[2021-03-11 08:38] multiverse-tf commented on #44043
Hi @Tessil, the support of using reference op resolver in Python has been pushed. Pls refer to
https://github.com/tensorflow/tensorflow/commit/6886228c611131432e550beefce79770d8538972 for details. In short, to use it, when creating the tflite.Interpreter, pass an additional arg as "experimental_op_resolver=OpResolver.BUILTIN_REF".

[2021-03-11 09:04] TabshirBashar opened #47720 "mportError: DLL load failed while importing _pywrap_tensorflow_internal: The specified module could not be found."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2021-03-11 09:11] ialdencoots commented on #47531
Thanks for the information! Unfortunately for me, the lookup occurs within the expensive operation that I'm hoping to distribute, so moving the call to happen later isn't possible.

This may be outside of the scope of this repo, but I was wondering if there is any intention of adding more built in support for things like cluster resolution in deploying the distribute dispatch and worker servers. W

[2021-03-11 09:18] jameshfisher commented on #47647
@ymodak okay, thanks. My main issue with TensorBoard is fairly fundamental - it only works interactively as a separate black box. Saving an image programmatically is more flexible - I can put images in a blog post, I can keep a history of images, I can generate images in CI, etc. That said, the TensorBoard graph dashboard seems to work for understanding my graph structure, which was my immediate u

[2021-03-11 09:18] #47647 closed

[2021-03-11 09:46] miguelusque commented on #46833
Hi @VoVAllen ,

I understand that is the current behaviour. Nevertheless, it looks it has some impact on some scenarios, as the one described in this issue.

Therefore, could it be reconsidered the current behaviour? Nowadays, GPUs can efficiently deal with int32 tensors.

Regards,
Miguel

[2021-03-11 09:56] Flamefire commented on #47058
No this does not help. The current values used (7.5 and so on) are already converted to `compute_75`: https://github.com/tensorflow/tensorflow/blob/v2.4.1/third_party/gpus/cuda_configure.bzl#L425-L430

The problem is that this is ignored by the kernel builder: https://github.com/tensorflow/tensorflow/blob/v2.4.1/third_party/gpus/cuda_configure.bzl#L425-L430

See also https://github.com/tensorflow/

[2021-03-11 09:57] markub3327 commented on #47230
I try paste `.mark_used()` after every write function ...

Here is code:
[code]

Still, it's not working with size=1000000, but it's necessary. I think that this is not a good solution. Can `tf.Dataset` dynamically expanding until the size of the dataset will be equal to maximal size like 1000000 or can I sampling uniformly a part of it (mini-batch like 32) that can be used in tf.GradientTape duri

[2021-03-11 09:59] VoVAllen commented on #46833
@miguelusque I'm not tf developer, but met the same issue before. Generally speaking this is a legacy issue from tensorflow 1. int32 tensors are usually used to represent the shape information, thus many operators assume it's a cpu operator. If changed to gpu by default, many codes and op implementations will break.

[2021-03-11 10:01] VoVAllen commented on #46833
Some issues related to this https://github.com/tensorflow/tensorflow/issues/34071, https://github.com/tensorflow/tensorflow/issues/41307

[2021-03-11 10:12] dwSun commented on #40183
any plan on make this default?

[2021-03-11 10:29] hamlatzis commented on #35632
I have the same error, but cannot update to newer TF version as I've made modifications and aren't compatible to the newer branch.

Can you share the difference between the two branches (2.3.0 & 2.4.0) that fix this error, maybe I could incorporate them in my version?

thnx

[2021-03-11 10:40] miguelusque commented on #46833
Hi @VoVAllen ,

Thank you for your detailed reply.

it looks like we are in a front of a great use case to challenge CI/CD system used in TensorFlow. 😀

I hope the TF dev team may consider this issue.

Regards,
Miguel

[2021-03-11 10:46] tgolsson commented on #46475
Can confirm a similar reproduction with the following setup:

Base container: cuda:11.0-cudnn8-devel-ubuntu18.04
Tensorflow version: 2.4.1
Driver version: 450.51.06
GPU: T4

Applying the ReLU fix from @garrettbingham fixes the repro script which makes it seem related, but does *not* solve it in our full codebase. I'm suspecting that it's not ReLU specifically, but rather a more general problem tha

[2021-03-11 11:17] karenlorris commented on #47692
Same problem here

[2021-03-11 11:23] chmickz commented on #44467
for info :
I have the same error with tensorflow 2.4.1 and h5py 3.2.1

[2021-03-11 11:25] bhack commented on #44467
Can you try with tf-nightly?

[2021-03-11 11:42] sherhut commented on #47058
Looking at this, I believe we are generating a ptx variant. Could you try remove the `"--cmdline=--compile-only",` in this file https://github.com/tensorflow/tensorflow/blob/v2.4.1/tensorflow/stream_executor/gpu/asm_compiler.cc#L300 and see whether that helps?

I will prepare a patch to clean this up, just wanting to check whether this fixes your issue.

[2021-03-11 11:56] #47371 closed

[2021-03-11 12:38] JWenBin commented on #47633
I will continue it one month later. Thanks!

[2021-03-11 12:41] ASCcool commented on #47717
Every array (image) in a batch should be of the same size by definition. You can evaluate the arrays individually if you wish to.

[2021-03-11 12:47] braindotai commented on #47687
I'm not sure if I know how to implement this. Could you please give an example for this?

[2021-03-11 12:57] Atharex commented on #47283
Ah, true. I thought that was a missing dependency in MKL itself, not a dependency of the build system.

Now it builds correctly  +1

[2021-03-11 12:58] Flamefire commented on #47058
No this does not fix the issue. The reason is that the tf_to_gpu_binary did not include the PTX code at all

However the mentioned line can likely be removed. I had problems after I patched the generator to return either PTX or SM code depending on whether it was passed sm_* or compute_*. Those problems were resolved by removing the `--compile-only` and I asked on SO for clarification without any

[2021-03-11 13:00] mlpva opened #47721 "TF C-API GPU not found via TF_SessionListDevices"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow instal

[2021-03-11 13:07] m-parchami commented on #47717
You are absolutely right! But as I have shown in my issue, there can be a model which is flexible to dynamic shapes. Therefore, I wonder whether there is a way to feed batches to these models as well.

[2021-03-11 13:15] innat commented on #47544
Guys, any update? There's probably a gap in my understanding. If any of you need some working code, then say it. Ready to prepare.

[2021-03-11 13:23] virajone commented on #34775
Hey, was this issue reolved ? I am currently facing the same issue with the AutoTrackable object

[2021-03-11 13:28] virajone commented on #42425
Hey, any updates on this issue ?  I've been dealing with the same problem.

[2021-03-11 13:32] melton1968 opened #47722 "keras.MultiHeadAttention fails to save / load weights correctly"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):

Yes,
[code]
-

[2021-03-11 13:34] abattery commented on #47715
@impjdi could you take a look at this report?

[2021-03-11 13:35] ShyamSundhar1411 commented on #44485
Any updates on this issue? I am unable to install Tensorflow in my windows py 3.9

[2021-03-11 13:37] melton1968 commented on #47722
Manually saving and loading the weights works as expected (still get a lot of warnings). The `tf-nightly` version produces the same results except only one warning instead of two.

[code]

[code]

[2021-03-11 13:43] ShyamSundhar1411 opened #47723 "Still unable to install in python 3.9(64 BIT) in windows 10"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-03-11 13:50] snigdhasen commented on #47163
@amahendrakar
Yes thanks.That issue got resolved now. But everytime the output is coming like this. For all object same value

![image](https://user-images.githubusercontent.com/53963317/110797041-a9ca8e80-829e-11eb-9c9e-1d11d8f13dcd.png)

[2021-03-11 13:59] kaelzhang commented on #27519
@OnlyBelter thanks a million! You save my day.

[2021-03-11 14:07] benjrossi opened #47724 "GPU and CPU gradients diverge in TF 2.4 for approximate gelu activation"
Hi,

Upon upgrading from TF 2.2 to TF 2.4, my team noticed a problem with an approximate version of `gelu` shown below as `gelu_approximate`, which exists also in TF v2.4 as `tf.nn.gelu(approximate=True)`. The gradients for `gelu_approximate` calculated on the GPU diverge from the gradients on the CPU as the input gets farther from 0. Since the implementation of `gelu_approximate` consists of prim

[2021-03-11 14:32] yiannisEfth opened #47725 "Keras tuner - Incorrect parameters for model training"
URL with the issue:
https://www.tensorflow.org/tutorials/keras/keras_tuner#instantiate_the_tuner_and_perform_hypertuning

Description of issue (what needs changing):

On the second to last code cell where the hypermodel  is re-instantiated and trained with the optimal number of epochs, the test set is incorrectly used for the fit process. The train set should be used for this process, since we the

[2021-03-11 14:45] rmothukuru commented on #47283
@Atharex,
Can you please confirm if we can close this issue as it has been resolved? Thanks!

[2021-03-11 14:47] bhack commented on #44485
Have you tried with tf-nightly?

[2021-03-11 15:02] shkarupa-alex commented on #45920
Still not fixed in v1.12.1-52612-g74d34665fc1 2.5.0-dev20210311

[2021-03-11 15:24] marciowb commented on #35264
I'm using Tensorflow 2.4.x My notebook has a NVIDIA GForce 920M (2GB RAM) and I tried to use set_memory_growth, but it doesn't worked. And I tried to limit memory to 1GB, also doesn't worked. So I limited memory utilization to 1.5GB and it worked.

[code]

[2021-03-11 15:28] impjdi commented on #47715
Unfortunately, OpenCL doesn't work too well if you set intermediate tensors as graph output tensors.  For example in `test_model_512.tflite` or `test_model_4096.tflite`, `output_1` is an intermediate tensor also marked as graph output, and this may have a wrong values.  If you are inspecting the model, adding a dummy `ADD` with 0 (or maybe a very small epsilon) as you did in the latter two models

[2021-03-11 15:34] AdityaKane2001 commented on #47687
@braindotai
Add a `print('<function name>')` statement in all functions. When the dataset is transformed for the first time, these statements will appear each time a function is called. If it appears exactly once, then it's alright, as all functions decorated with `@tf.function` must be traced atleast once.
Make sure that all arguments of a given function are TensorFlow constructs only, which mean

[2021-03-11 15:43] braindotai commented on #47687
@AdityaKane2001
Thanks for the support, I'll try it out and get back to you.

[2021-03-11 15:52] subopt commented on #47710
I ran docker pull tensorflow/tensorflow:devel and followed the instructions under Arm cross compilation
I started the container and noticed python 3.6 was installed but only 3.5, 3.7 and 3.8 are supported. I updated python to use 3.7 but it could not find docker and `sudo apt-get install docker` did not help.

[code]

[2021-03-11 16:00] sherhut commented on #47058
Thank you for looking into this further. I had missed that this was using the `tf_to_gpu_binary` path. You are correct, on that path we only include ptx code and we really should ship a fatbin there, as well.

With TensorFlow 2.5 this path will go away. I believe another valid approach would be to remove the entire block for `!generate_fatbin" and use the fatbin path always. With the additional fi

[2021-03-11 16:03] nicochidt opened #47728 "fit_generator is calling __getitem__ with id=0 twice in the first epoch"
**System information**
- Have I written custom code : Yes
- OS Platform and Distribution: MacOS 11.2.2
- TensorFlow installed from (source or binary): Installed with pip
- TensorFlow version: v2.4.0-49-g85c8b2a817f 2.4.1
- Python version: 3.7.4

**Describe the current behavior**
When using a generator and `fit_generator` (or `fit` for the case) method, the first time `__getitem__` is called, repea

[2021-03-11 16:20] Atharex commented on #47283
@rmothukuru The build works for me, though would be nice if this Perl dependency was also mentioned somewhere as a MKL dependency. Besides that, sure go ahead and close the issue!

[2021-03-11 16:49] eduardosuela opened #47729 "keras.io List of topics on the right cannot be navigated"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://keras.io/guides/trainin

[2021-03-11 16:50] ymodak commented on #47709
This is marked as feature request. duplicate #44481
Thanks!

[2021-03-11 16:50] #47709 closed

[2021-03-11 17:00] Tessil commented on #44043
Hello @multiverse-tf ,

Thank you very much for the commit.

Small problem I think, though it may be the intended behaviour.

I can use it with:

[code]

but not as I would have expected from the `@_tf_export('lite.experimental.OpResolver')`:

[code]

I think that in https://github.com/tensorflow/tensorflow/blob/0a150957c4a23e7fd26b2df26e01af661f22a0b2/tensorflow/lite/python/lite.py#L52
a `from te

[2021-03-11 17:03] nikitamaia commented on #42146
Hi @aginpatrick, seems to be related to #45157. That thread is about `train_on_batch` but I think the same applies for `predict_on_batch`.

[2021-03-11 17:58] kdonbekci commented on #47545
I will try the `snapshot` experimental feature today and let you know how it goes @aaudiber.

On the second issue, I understand the contracts for these ops require complete iteration. Although I am not familiar with the design limitations of either `zip` or `cache|snapshot` ops, it would be great if this unfortunate interaction was removed going forward.

Either caching without full iteration, lik

[2021-03-11 18:36] kdonbekci commented on #47687
Hey @braindotai  and @AdityaKane2001 , just wanted to also point out that in the code provided, a very costly `shuffle` operation is being done.

I checked how large the original data is with:
[code]

The notebook in question has, as a final operation, `train_data = train_data.shuffle(800)`. Note that the dataset has already been batched into 32 at this point. With this shuffle op, `tf.data` actua

[2021-03-11 18:39] AdityaKane2001 commented on #47687
@kdonbekci
Thanks for bringing this to notice! I had completely missed that 😅

[2021-03-11 18:57] kdonbekci commented on #47687
No problemo!

[2021-03-11 19:31] funmathgt opened #47736 "I cannot predict with f.data.experimental.bucket_by_sequence_length"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-03-11 19:44] aginpatrick commented on #42146
Oh I see @nikitamaia, thank you so much for your support. I understand that there is nothing to do except ignore this warning right? It's very annoying because in my case I'm training with Google AI Platform and the logs are literally overwhelmed by the multiple outputs of this warning and it's then very difficult to see my "real" logs. Anyway, thanks again for your excellent explanations.

[2021-03-11 19:50] saxenasaurabh commented on #47083
I think the cast to `int16` is the problem here. That would cause `Cast` to [drop](https://github.com/tensorflow/tensorflow/blob/ab438b386b5b95ed310fd9c31a9c5570a9fc6db3/tensorflow/python/ops/math_grad.py#L1960) gradients.

[2021-03-11 19:50] #47083 closed

[2021-03-11 19:57] Shamino0 opened #47737 "Building TFLite Python wheel consumes excessive memory"
I am building the TFLite runtime using the instructions described at https://www.tensorflow.org/lite/guide/build_cmake_pip

When I run this (in a Linux VM with 8GB RAM and 8GB swap), the build process consumes all memory and crashes.  There are hundreds of instances of the C compiler running at once, which is causing the problem.

It appears that there are two places where a raw `-j` (without any

[2021-03-11 20:08] fchollet commented on #47187
Chiming in here. This isn't exactly a bug. Though we may be able to do something on the Keras side to avoid users running into this issue.

As you may be aware, the default dtype for all Keras model inputs is `float32`. This is well documented.

In your model you don't specify an input dtype. Therefore you default to `float32`.

`float32` doesn't have the numerical precision to hold large integer

[2021-03-11 20:26] Shamino0 opened #47738 "Change a1825c95 breaks TFLite for Raspberry Pi"
When compiling the TensorFlow Lite Python wheel for Raspberry Pi (as described on https://www.tensorflow.org/lite/guide/build_cmake_pip), the result throws an exception when I try to use it:

[code]

The offending lines were added in change a1825c95, in the file `tensorflow/lite/python/interpreter.py`:

[code]

I removed these lines from the copy of `interpreter.py` after installing the wheel and

[2021-03-11 20:28] kdonbekci commented on #47545
I've tried the new `snapshot` feature. By the way, reading the documentation, it's a great addition to the `tf.data` API!

Unfortunately `snapshot` is not a fix to my issue. It removes the AlreadyExistsError, however, it does not work as expected and the incomplete iteration causes buildup on disk storage. Here is the [colab](https://colab.research.google.com/drive/1s5zNq1xYkvOtxeR7dY9s1iWSm7jqRz7

[2021-03-11 20:30] superp0tat0 commented on #43667
@hfahrudin @scd75
I think the documentation is talking different things. Also the documentation is out of date.
Document says:
[code]

Issues want
[code]
But now it gave

[code]

So If I understand it correctly. I could contribute on this question. But need to check with your current progress.

[2021-03-11 20:46] mihaimaruseac commented on #44485
TF nightly now has support for python 3.9 on all 3 operating systems.

Please test it and report failures. We'll try to get them fixed before the next release.

Keeping this open until next release. Branch cut is in 2 weeks and maybe 4 more weeks of RCs after that, so likely near the end of April.

[2021-03-11 20:47] superp0tat0 commented on #47714
They are related but not the same.
model.predict(x) give the prediction of with input data x.
model.evaluate returns a tuple (loss, metric). In your definition which is (sparse_categorical_crossentropy, accuracy)

You could code yourself to compare the sparse_categorical_crossentropy loss of the test sets and the accuracy.

[2021-03-11 20:48] mihaimaruseac commented on #45633
Closing as no response has been received and it doesn't look like a TF issue.

[2021-03-11 20:48] #45633 closed

[2021-03-11 20:51] bhack commented on #44485
@mihaimaruseac As It is quite popular fan we pin this issue in the meantime? What do you think?

[2021-03-11 20:55] mihaimaruseac commented on #47691
Given that numpy is backwards incompatible, TF needs a lot of work to support both pre 1.20 and after 1.20 numpy.

[2021-03-11 20:56] mihaimaruseac commented on #47263
Moved to #47691

[2021-03-11 20:57] mihaimaruseac commented on #45744
CPUs with no AVX support are no longer supported by the default package. You have to compile from source or use a cloud version of TF (via Google Colab for example).

[2021-03-11 20:58] mihaimaruseac commented on #47311
Moved to #47691

[2021-03-11 20:59] #37433 closed

[2021-03-11 21:05] inespancorbo commented on #47736
Ok, I realized that this is probably because model.predict returns a bumpy array and thus concatenates every prediction (which are obviously, in my case, not equal size, and hence the concatenation error). Does tf.keras have no solution for this??

[2021-03-11 21:07] cclauss commented on #44485
Great news!  Can we start testing on Python 3.10.0 alpha 6?  It would be good to have a shorter ramp up next time.

[2021-03-11 21:12] mihaimaruseac commented on #44485
The largest part of the ramp up is because of upstream dependencies. TF cannot build until they can build with the new version of Python. In particular, numpy, protobuf, grpc are the main delayers.

[2021-03-11 21:37] ksindwan opened #47739 "The code does not work"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2021-03-11 21:42] baranaldemir commented on #45779
I have the same problem and I have only one GPU. I tried all 3 solutions recommended in the link and none of them worked. I still suffer from memory allocation problems. Here is the error I get:

 `2021-03-12 00:28:29.804317: I tensorflow/core/common_runtime/bfc_allocator.cc:1036] 3 Chunks of size 58491904 totalling 167.35MiB
2021-03-12 00:28:29.815991: I tensorflow/core/common_runtime/bfc_allocat

[2021-03-11 22:33] nikitamaia commented on #39671
Closing issue since this is explained in the [Customize what happens in Model.fit](https://www.tensorflow.org/guide/keras/customizing_what_happens_in_fit#a_first_simple_example) guide. Feel free to put in a PR if you think it would help to link to the guide from the api docs.

[2021-03-11 22:33] #39671 closed

[2021-03-11 22:39] John-8704 opened #47741 "What is the supported sequence length of bert-tiny and bert-small?"
Here are few bert models I came across recently but couldn't figure out the maximum supported sequence length, Is it 512 tokens per sentence?

Does these models have the same 512 token limit as the original bert-base model

[code]

[2021-03-11 22:43] nikitamaia commented on #37002
Hi @Uiuran, github is best for reporting bugs. If you're trying to better understand how to use TF2 and migrate TF1 code, then Stack Overflow is a better option. There's a wider community to read and answer questions there. If you think you've found a bug, please provide reproducible code so we can troubleshoot. Thanks!

[2021-03-11 22:43] #37002 closed

[2021-03-11 22:53] rrklearn2020 opened #47742 "Error while using tensorflow==2.4.1 #tensorflow-probability==0.12.1, for the code that works with TF1.15 and TFP 0.8.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, referring to https://github.com/zhulingchen/tfp-tutorial
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.4.0-49-g85c8b2a817f 2.4.1
- TensorFlow versio

[2021-03-11 23:02] samaritanhu commented on #45615
Hi @rmothukuru, I am very interested in this issue. Can you assign this issue to me? Thanks!

[2021-03-11 23:04] abattery commented on #47737
@terryheo could you review this suggestion?

[2021-03-11 23:05] abattery commented on #47738
@terryheo could you take a look at this report?

[2021-03-11 23:37] Krisonrik opened #47744 "undeclared includion error when building libtensorflowlite.so"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
macOS Big Sur Version 11.2.3
-

[2021-03-12 00:38] isamilefchik commented on #46044
@Eieyron Sure. Here's a link to both the wheels I built for 1.15.0 and 2.5.0:

https://drive.google.com/drive/folders/11cACNiynhi45br1aW3ub5oQ6SrDEQx4p?usp=sharing

[2021-03-12 00:39] terryheo commented on #47737
Could you confirm if only "build_pip_package_with_cmake.sh" changes fix your issue?
BTW, what's the number of available cores in your VM?

[2021-03-12 00:41] dev-hue commented on #47715
@impjdi

Thank you for answering.
However, do you have any idea or something suspect why OpenCL does not work well?

[2021-03-12 00:44] impjdi commented on #47715
Often, those kind of intermediate inspection is mostly for debugging purpose, while the team's interest in performance.  We had one legit use-case where on OpenGL where intermediate tensor had to be used, that's why did the plumbing there, but we didn't do that on OpenCL.

[2021-03-12 00:46] abattery commented on #47744
@thiank could you take a look at this?

[2021-03-12 00:47] reedwm commented on #47724
`tf.nn.gelu` doesn't exist in TF 2.2, as it was introduced in TF 2.4. How were you able to run it in TF 2.2?

[2021-03-12 00:56] #46453 closed

[2021-03-12 01:44] terryheo commented on #47738
Verified. WIP

[2021-03-12 01:45] benjrossi commented on #47724
@reedwm our mistake when editing this example to make it shorter. (However, the original issue still applies). We had copied the function as it exists in TF 2.4 into our own function. I had edited it out just before this submission believing that `tf.nn.gelu` was in both versions, to make the submission shorter. Please just inline and copy the contents of `tf.nn.gelu` when the `approximate=True` b

[2021-03-12 01:57] benjrossi commented on #47724
For more context, the approximation we used prior to TF 2.4 came from [this paper](https://arxiv.org/pdf/1606.08415.pdf). The `tf.nn.gelu(approximate=True)` happens to boil down to the same function we were using before the upgrade.

[2021-03-12 02:33] eliver8801 commented on #47235
**I updated the TensorFlow to the latest stable version v2.4.1 and also face the same error** @amahendrakar

[2021-03-12 02:49] eliver8801 opened #47746 "Failed to convert QAT model to tflite when I use tf.lite.OpsSet.EXPERIMENTAL_TFLITE_BUILTINS_ACTIVATIONS_INT16_WEIGHTS_INT8"
1. System information

OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 16.04
TensorFlow installation (pip package or built from source):pip package
TensorFlow library (version, if pip package or github SHA, if built from source):2.3.1
2. Code

Provide code to help us reproduce your issues using one of the following options:
When I use tf.lite.TFLiteConverter to convert keras A

[2021-03-12 02:56] ccl-private commented on #47001
![Screenshot from 2021-03-12 10-50-20](https://user-images.githubusercontent.com/36214675/110884903-c9a29680-8320-11eb-9606-ebcd4fc55a37.png)
I ran into a similar problem. I don't know if I am using GPU. the GPU MEM is high, but POW is low. and my CPU is 44% high.
![Screenshot from 2021-03-12 10-54-36](https://user-images.githubusercontent.com/36214675/110885194-6107e980-8321-11eb-872b-334998ea3a7

[2021-03-12 03:00] ccl-private commented on #47001
@amahendrakar please re-open~

[2021-03-12 03:30] SunAriesCN commented on #47712
Thanks for your reply, Renjie. It maybe an implicit demand about the big models inference with TFLite, I think. Because of the privacy polities, we would like running some big models under background threads. So, it will be cool, if we have plans for this in TFLite, and we would like to talk about that.

[2021-03-12 03:34] abattery commented on #47746
@ethkim could you triage this issue?

[2021-03-12 03:38] rnett opened #47748 "C API gradient tape support"
**System information**
- TensorFlow version: 2.4.1
- Are you willing to contribute it: Probably not

**Describe the feature and the current behavior/state.**

Gradients are being ported to C++, with the tape API in [c/eager/gradients.h](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/eager/gradients.h).

However, there is no equivalent C API, and as per https://github.com/tensorf

[2021-03-12 04:49] LukeBolly opened #47750 "Dataset Iterator fails with exception: InvalidArgumentError: Requires delta != 0: 0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8
- CUDA/cuDNN version: 11.0
- GPU model and memory: GTX 980M

**Describe the curr

[2021-03-12 04:54] ymodak commented on #43450
Closing this issue since the feature has been added with the PR tagged above.
Feel free to reopen if required. Thanks!

[2021-03-12 04:54] #43450 closed

[2021-03-12 04:59] jvishnuvardhan commented on #47565
@suiluj I am closing this issue here as you are going to open it in TB repo. Thanks!

[2021-03-12 04:59] #47565 closed

[2021-03-12 05:04] braindotai commented on #47687
Thanks a lot @AdityaKane2001 and @kdonbekci,

I tested out multiple ways of applying `.map` functions, though in all tests the results were better/worse by a margin of not more than 5-8 seconds.

# **Test1**:
On printing function name inside each function decorated by `tf.function`, the names for each function were printed just once. This implies tracing of function is happening just once. So no k

[2021-03-12 05:15] Saduf2019 commented on #47717
@m-parchami
We see that you are using tf version 1.15, there is no support for 1.x, please update to 2.x and let us know.

[2021-03-12 05:19] Saduf2019 commented on #47723
@ShyamSundhar1411
There is a detailed thread about Tensorflow's support for Python 3.9 in #44485. Can you please confirm if we can close this issue as it is being already tracked? Thanks!

[2021-03-12 05:20] rachthree opened #47751 "Any way to train a TF1 graph in TF2 without using tf.compat.v1.Session?"
Hello, hope y’all are staying safe and healthy! Currently my group is migrating from TF 1.8 to TF 2.4.1. Some of our work is dependent on `tensorflow_gan` back when it used to be under `models/research`. We would take the initial graph generated and then train it with our own framework. The files are:

[code]

And below was our TF 1.8 code that would train the GAN. I apologize that due to policy,

[2021-03-12 05:21] jvishnuvardhan commented on #47149
I am closing this issue as this is more of a support type issue without a simple standalone code. Thanks!

This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installatio

[2021-03-12 05:21] #47149 closed

[2021-03-12 05:24] 24Jay commented on #24135
it works for me

[2021-03-12 05:33] Saduf2019 commented on #47728
@ymodak
I am able to replicate this on tf 2.3,2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/222be34238eb7807514249bb47a50c14/untitled561.ipynb)

[2021-03-12 05:38] fonghyalex commented on #47595
After further study, I believe the aforementioned issue was raised since the model has 8 tensors output but the Android application written in Java can only support 4 tensors output (at least the example provided by Google only supports 4 tensors output)

I am not very certain about the number of tensors output on different models. So far as I understood and messed around with different models, mo

[2021-03-12 05:43] Saduf2019 commented on #47720
@TabshirBashar
You might be facing this issue because of the following reasons

You are running 32-bit Python or 32-bit OS
You have not installed the [Microsoft Visual C++ Redistributable](https://support.microsoft.com/en-us/topic/the-latest-supported-visual-c-downloads-2647da03-1eea-4433-9aff-95f26a218cc0) package
Your CPU does not support AVX instructions.
Please take a look at the [system requi

[2021-03-12 05:47] ymodak commented on #42610
Is this still an issue?
Also see https://stackoverflow.com/questions/61157024/compatible-side-by-side-ndk-version-was-not-found-default-is-20-0-5594570

[2021-03-12 05:54] Saduf2019 commented on #47739
Closing this as spam.

[2021-03-12 05:54] #47739 closed

[2021-03-12 05:56] #47421 closed

[2021-03-12 05:56] #47138 closed

[2021-03-12 06:00] Saduf2019 commented on #47719
@sasmitohrr
Please share complete stand alone code such that we can replicate the issue or share the colab gist with the error.
We ran the code shared and face a different [error](https://colab.research.google.com/gist/Saduf2019/aa18ffd6e19f800f4e9c63a6d28d8ba6/untitled561.ipynb).

[2021-03-12 06:02] Saduf2019 commented on #47716
@zerollzeng
I ran the code shared and face a different error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/7d68b6f4d0ecbe7808e65c0f6cc069ab/untitled561.ipynb) and share all dependencies to replicate the issue or share a colab gist with the reported error.

[2021-03-12 06:04] kdonbekci commented on #47687
Great to hear your input pipeline is matching your performance needs. As a compromise, I'd suggest you use the `shuffle_files` option of `tfds.load` and select a relatively low `shuffle_buffer_size` for an early `tf.data` `.shuffle` operation in your pipeline (It should really be the first thing).

Your intuition is right that the `shuffle` operation is bottlenecking your pipeline.
The reasons for

[2021-03-12 06:08] Saduf2019 commented on #47701
@kuonb
please refer to these issues and let us know: [link](https://stackoverflow.com/questions/60368298/could-not-load-dynamic-library-libnvinfer-so-6), #36201, #35968, [link1](https://www.gitmemory.com/issue/tensorflow/tensorflow/36201/578413833)

[2021-03-12 06:15] reedwm commented on #47724
Thank you for filing this issue. If tanh is run on the CPU, then your example passes, so the isuse is with tanh:

[code]

In particular, running tanh on a very large float32 input incorrectly gives 0.99999976 instead of 1.0.

[code]

When given very large inputs, tanh should round to 1 as the true result is much closer to 1 than 0.99999976. tanh gives the correct result on float16 or float64 value

[2021-03-12 06:19] thaink commented on #47744
I am able to build with that command using linux.
Can you try to build //tensorflow/lite:ltensorflowlite, it will have different file format based on the target operating system.

[2021-03-12 06:20] ymodak commented on #45637
The docs are now updated. Thanks!

[2021-03-12 06:20] #45637 closed

[2021-03-12 06:22] Krisonrik commented on #47744
Is it possible to build for linux with macOS? I was also able to complete build with 2.4.0, but the resulting .so somehow have issue during linking.
ld.lld: error: /root/project/ext/tensorflow/lib/linux/cpu/libtensorflowlite.so: unknown file type

[2021-03-12 06:29] thaink commented on #47744
you could try --config=linux or some other in this file https://github.com/tensorflow/tensorflow/blob/master/.bazelrc#L351

[2021-03-12 06:44] samaritanhu commented on #45615
Hi @rmothukuru, I have already made the changes in my own gist. I don't use gist very often... I don't know how to commit my changes through gist.
My former experience is :
pull request my own branch, commit to my branch, pull request to the main branch.

But for this doc, I don't know where it is located. Need help here. Thanks!

[2021-03-12 06:45] wqcsim commented on #44882
I got this error too.
tensorflow: 2.4.1
window 10
python 3.7

[2021-03-12 06:47] wqcsim commented on #44882
This issue is fixed on 2.4.1 ?

[2021-03-12 06:56] OliverPfau commented on #47673
The model is a tf.keras.Sequential model learning image classification problem:

[code]
save it like this:
`model.save(model_save_path)`

load it:
`model = tf.keras.models.load_model(model_path)`

each time I make a in memory copy the RAM is increasing.
Cloning:
[code]

[2021-03-12 07:07] MilanovicB commented on #24135
Nice! Boris

[2021-03-12 07:09] charmasaur commented on #27492
I guess this is a pretty old issue now, but I just came across a similar incarnation, which I don't think is fixed by #28826.

Using the example from `custom_gradient`, which is:
[code]
notice that the `grad` function holds a reference to the `e` tensor (which references its containing graph) via its closure. Breaking the reference from `tape_grad_fn` to that `grad` function doesn't really seem po

[2021-03-12 07:13] zerollzeng commented on #47716
@Saduf2019 Thanks for the quick reply!

Unfortunately, I can't share my model with you due to privacy, do you have any suggestions or documentation about this error?

Thanks.

[2021-03-12 07:50] nicochidt commented on #47728
@Saduf2019, thanks for taking a look. In case it helps, this is not present in tf 2.0. The problem appeared when updating from 2.0 to 2.4.

[2021-03-12 07:53] ajinkyaambatwar opened #47752 "Tensorflow Random segmentation faults"
I am trying to run the demo code from official tensorflow [website][1]
I am attaching the full code (copied and arranged) here for ease
[code]
Without any reason, this code enters Segmentation Fault in Tensorflow 2.3.1 right at the beginning
[code]
Interestingly if I put some random print statements at the very start(those ```print("1")``` etc statements, the code will execute till the end and suf

[2021-03-12 08:08] 6368696a6961 opened #47753 "I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library cudart64_110.dll"
I run my code on pycharm
include :  import tensorflow as tf

In the run window show me the red line:
I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library cudart64_110.dll

tf version: tensorflow-2.4.0rc4-cp37-cp37m-win_amd64.whl

How can I fix it

[2021-03-12 08:39] Saduf2019 commented on #47696
@kiflowb777
We see that you are using tf 1.x which is not supported anymore, please upgrade to 2.x and let us know if you face any issues.

[2021-03-12 08:40] amahendrakar commented on #47753
@6368696a6961,
The messages are just information logs stating that TensorFlow has successfully detected the GPU on your machine. You can safely ignore them.

You can also disable them by changing the log level using the below code snippet

[code]

Please find the gist of the same [here](https://colab.research.google.com/gist/amahendrakar/2d37b3975927274613d098cb1f6428cc/47753.ipynb).

Thanks!

[2021-03-12 08:43] amahendrakar commented on #47694
@piiswrong,
TensorFlow 1.x is not actively supported. Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same issue. Thanks!

[2021-03-12 08:44] Saduf2019 commented on #47660
@@tywofxd

You might be facing this issue because of the following reasons

You are running 32-bit Python or 32-bit OS
You have not installed the Microsoft Visual C++ Redistributable package
Your CPU does not support AVX instructions.
Please take a look at the system requirements and check if you have the correct dependencies installed.

Also, check this similar duplicate issue: #46124, #46738, #4

[2021-03-12 08:47] rmothukuru commented on #45615
@samaritanhu,
Thank you for your contribution.

The Tutorial is located in the path, https://github.com/tensorflow/docs/blob/master/site/en/tutorials/structured_data/imbalanced_data.ipynb.

Please find the below links for the doc changes:

contributor guide: https://www.tensorflow.org/community/contribute/docs,
docs API guide: https://www.tensorflow.org/community/contribute/docs_ref and the
docs s

[2021-03-12 08:51] amahendrakar commented on #47705
@TPrivat,
Every TensorFlow release is compatible with a certain CUDA and cuDNN version. For more information, please take a look at the [tested build configurations](https://www.tensorflow.org/install/source#gpu).

Version | Python version | Compiler | Build tools | cuDNN | CUDA
-- | -- | -- | -- | -- | --
tensorflow-2.4.0 | 3.6-3.8 | GCC 7.3.1 | Bazel 3.1.0 | 8.0 | 11.0
tensorflow-2.3.0 | 3.5-3.8

[2021-03-12 09:02] lonway commented on #14713
@thalitadru Hi, what's your version of tensorflow? I restore variables like what you do leveraging `tf.train.SessionRunHook.` with tensorflow 1.15, but it throws the error that key `h3/bias` not in the checkpoint, key `h3/bias` is the variable in my new network which is not in the checkpoint. Anyone has the same problem?

[2021-03-12 09:14] TabshirBashar commented on #47720
Thanx....I solved the issue by making a new environment for Tensorflow

On Fri, Mar 12, 2021 at 11:43 AM Saduf2019 ***@***.***> wrote:

[2021-03-12 09:30] vfinel commented on #40036
Worked for me too ! Thanks
Tensorflow 2.4.1
CUDA Version: 11.2

[2021-03-12 09:37] rmothukuru commented on #47632
@fsx950223,
The topic of `Slice Assignment` has been discussed at length in #206.

Also, please refer to this [Stack Overflow Answer](https://stackoverflow.com/questions/39157723/how-to-do-slice-assignment-in-tensorflow).

With reference to the above Github and Stack Overflow Issues, can you please confirm if we can close this issue?

Thanks!

[2021-03-12 09:38] #47632 closed

[2021-03-12 09:50] samaritanhu commented on #45615
Thanks, @rmothukuru! I have already pull request into the tensorflow/doc here: https://github.com/tensorflow/docs/pull/1847.

[2021-03-12 09:57] Saduf2019 commented on #47706
@albertonavas99
Please share simple stand alone code to reproduce the issue or a colab gist with the error.

[2021-03-12 10:00] Saduf2019 commented on #47720
@TabshirBashar
Thank you for your update, glad the issue is resolved, please move this to closed sttaus.

[2021-03-12 10:15] fsx950223 commented on #47632
I know how to use TensorFlow API to update tensors.

[2021-03-12 10:33] braindotai commented on #47687
@kdonbekci
Thanks mate, really appreciate such detailed explanations.

Just want to highlight one thing mentioned by @AdityaKane2001, about the varying shape input to the functions decorated with `tf.function`, which is my case since many images are of different sizes. Based on official documentation, we can pass info in the `tf.function` containing input signature as:

[code]
Since TensorFlow mat

[2021-03-12 10:33] #47687 closed

[2021-03-12 10:42] kiflowb777 commented on #47696
With 2.x ```to_json()``` works but there is a problem with ```model_from_json()```.
More info: https://github.com/tensorflow/tensorflow/issues/47309

[2021-03-12 11:04] jameshfisher opened #47755 "Cached augmentation in segmentation tutorial - this does not increase dataset size"
## URL(s) with the issue:

https://www.tensorflow.org/tutorials/images/segmentation

## Description of issue (what needs changing):

Augmentation, to increase the size of the dataset, has to convert one source datapoint into many augmented datapoints. But in this tutorial, augmentation is applied once to each datapoint - effectively keeping the dataset size the same. The root cause is that augment

[2021-03-12 11:05] jameshfisher commented on #47755
(Happy to contribute change to tutorial, if we agree that this is a problem)

[2021-03-12 11:14] NicoIasCaro commented on #40115
I also have the exact same error. Did you find any solution?
Any help will be appreciated. Thanks.

[2021-03-12 11:33] aliceruget opened #47756 "Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If those are native TensorFlow operators, you might be able to use the extended runtime by passing --enable_select_tf_ops, or by setting target_ops=TFLITE_BUILTINS,SELECT_TF_OPS when calling tf.lite.TFLiteConverter(). Otherwise, if you have a custom implementation for them you can disable this error with --allow_custom_ops, or by setting allow_custom_ops=True when calling tf.lite.TFLiteConverter(). Here is a list of builtin operators you are using: ADD, CONCATENATION, CONV_2D, MUL, PACK, RESHAPE, SHAPE, STRIDED_SLICE, TRANSPOSE_CONV. Here is a list of operators for which you will need custom implementations: Conv3D, Conv3DBackpropInputV2, MaxPool3D."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**
Provide a reproducible test case that is the bare minimum necessary to generate
the problem. If possible, please sha

[2021-03-12 11:35] #42140 closed

[2021-03-12 11:39] codePerfectPlus opened #47757 "Getting issues while evaluting the object detection model on tensorflow 2.O"
Greetings,

I am trying TF-OD API for object detection. I am getting issues while evaluating the model by given methods in the documentation. It always showing out of memory. Even I tried on the colab. How should I evaluate the model.

Tensorflow Version- 2.4.1
CUDA:- True with 2 GB graphics
Python Version- 3.8 Ananconda
Platform- Windows 10

## URL(s) with the issue:
https://tensorflow-object-det

[2021-03-12 11:56] epsilon-deltta opened #47758 "estimator guide page doesn't work!"
![image](https://user-images.githubusercontent.com/45354219/110937207-62fb9800-8375-11eb-8495-01b475df1007.png)
https://www.tensorflow.org/guide/estimators

😡

[2021-03-12 12:07] Arghya999 opened #47759 "Cuda version should be 11 instead of 10 in Install CUDA with apt(docs)"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2021-03-12 12:24] dniku commented on #47556
@fchollet I believe that users of Keras in general expect that a call to `model.save()` followed by `keras.models.load_model()` should produce an object that behaves in the exact same way as the original. With the current version, this is not the case: a call to `load_model()` ends up with an obscure exception that is hard to decipher and hard to debug (although, not that this thread exists, perha