[2021-07-23 04:54] stevenf7 commented on #50918
Thank you so for your response! I uninstalled that version of python from the Microsoft store and reinstalled python 3.9 from python.org and that worked!

Thanks again!

[2021-07-23 04:54] #50918 closed

[2021-07-23 05:23] saikumarchalla commented on #50712
@denix56 Was able to reproduce the issue in TF 2.5 Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/67ebf3af75b075b1161cafdc78247d2d/untitled114.ipynb#scrollTo=_SNuzVBDwifK). Thanks!

[2021-07-23 05:27] xmy19029 commented on #50869
@tilakrayal Hi,the version is 2.4.2.
I got all the code from tensorflow.All I did is measuring the elapsed time of CopyToExternalObject(),which is in /tensorflow/lite/delegates/gpu/cl/api.cc.
Thanks for your reply!

[2021-07-23 06:30] njzjz commented on #46630
I got the same error - have you resolved it? Related codes were introduced in bea9ecb9aad42dde0816a6e451320fdf5601f0a0, but I have no idea what's the problem.

[2021-07-23 06:48] tilakrayal commented on #50872
@aleks73337 ,

Given .txt formatted code is hard to replicate .Can you please provide the code or colab gist to reproduce and analyse the issue in our environment.Thanks!

[2021-07-23 06:50] #37761 closed

[2021-07-23 07:22] bhack commented on #48704
Patch releases are only for security issues.

[2021-07-23 07:31] aleks73337 commented on #50872
Just change the format. It's normal jupyter files, but with changed formats for uploading to github 
-------- Исходное сообщение --------От: tilakrayal ***@***.***> Дата: 23.07.2021  09:48  (GMT+03:00) Кому: tensorflow/tensorflow ***@***.***> Копия: aleks73337 ***@***.***>, Mention ***@***.***> Тема: Re: [tensorflow/tensorflow] Tensorflow estimator returns the same answer (#50872)
@aleks73337 ,
Gi

[2021-07-23 07:50] #38337 closed

[2021-07-23 07:50] #40152 closed

[2021-07-23 07:50] #40469 closed

[2021-07-23 07:50] #40686 closed

[2021-07-23 07:50] #40720 closed

[2021-07-23 08:00] msk-psp commented on #46178
You guys must see this post
https://developer.apple.com/metal/tensorflow-plugin/

[2021-07-23 08:08] jasonjx-w opened #50919 "Are these two lines of code okay? It may cause compilation errors"
https://github.com/tensorflow/tensorflow/blob/b61c987109eaad755c2b36ba51a0b233d54d4e57/tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/fusion_utils.cc#L203
https://github.com/tensorflow/tensorflow/blob/b61c987109eaad755c2b36ba51a0b233d54d4e57/tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/fusion_utils.cc#L204
@wyzero

tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/fusi

[2021-07-23 08:11] sushreebarsa commented on #26806
@roymiles thanks for the update ,please let us know if you want to move this issue to closed status ? Thanks !

[2021-07-23 08:33] PINTO0309 opened #50920 "XNNPACK enable cross-compilation failure using Bazel on r2.6 armhf or v2.6.0-rc1 armhf TensorFlow Lite pip"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04 (HostPC), Ubuntu 16.04 (Docker)
- TensorFlow installed from (source or binary): source
- TensorFlow version: r2.6, v2.6.0-rc1
- Python version: 3.7 (Docker)
- Bazel version (if compiling from source): 3.7.2 (Docker)

**Describe the problem**
When I apply the changes [#50893](https://github.com/tensorflow

[2021-07-23 08:50] #37576 closed

[2021-07-23 08:50] #37678 closed

[2021-07-23 08:50] #37706 closed

[2021-07-23 09:42] MaanasArora commented on #50854
Hi @Saduf2019, @NEGU93:

I tried out the code in @UsharaniPagadala's gist--it seems like we're computing `tf.math.angle` of `tf.float32` instances, which requires that an `array_ops.where` operation be done (and it's not useful because the results are always zero anyway). This disconnects the gradient, resulting in None `grads`.

If you replace this line:
`angle_diff = tf.math.angle(y_true) - tf.m

[2021-07-23 10:16] NEGU93 commented on #50854
@MaanasArora  I tried the change you suggested in the gist but still have the same error... Can you provide an example?

[2021-07-23 10:24] MaanasArora commented on #50854
@NEGU93 With this code?

[code]

Sorry, this 'worked' for me but will not return valid losses, I just provided it for illustration.

[2021-07-23 10:28] NEGU93 commented on #50854
I am not sure I understand, you said that if I replaced with the line `angle_diff = tf.math.angle(tf.complex(y_true, 0.)) - tf.math.angle(tf.complex(y_true, 0))` we should have gradients but I didn't. Is there something else that should be changed for it to work? Why is it not working for me?

Regards,

[2021-07-23 10:36] MaanasArora commented on #50854
Sorry, I edited a few typos in the code above. Could you try again?

[2021-07-23 10:40] NEGU93 commented on #50854
If it's the point after the zero I corrected that when I tried it not to have the error about the int32. Still, I keep having the None gradients.

[2021-07-23 10:43] NEGU93 commented on #50854
Here is the [gist](https://colab.research.google.com/gist/NEGU93/af072c1b50530ad4e868348d09b0f5ea/copy-of-loss_with_angle.ipynb) with the changes. You can see the gradient is still None.

[2021-07-23 10:43] MaanasArora commented on #50854
Did you replace the second `y_true` with `y_pred`?

[2021-07-23 10:51] MaanasArora commented on #50854
I just meant that the gradients become non-None python values--if you want not NAN numpy values you can replace the 0s by 1s. The angle for a complex number with a zero imaginary component is NAN. This is not a real solution.

[2021-07-23 10:53] NEGU93 commented on #50854
Yes, I changed it to 1 and worked!

The angle with a zero imaginary part is NAN? That is a weird behavior. I wonder the reason for that but I guess that is for another issue.

[2021-07-23 10:54] MaanasArora commented on #50854
As for the code in the complex number gist, the model outputs are `float32` instances which explains why their output returns nans. I assume the CVNN library might be using floats to construct complex numbers, in which case you will need to deconstruct the complex number and call `tf.complex`. That's why I suspect the issue lies outside of tensorflow. This illustration will not return valid losses

[2021-07-23 11:07] NEGU93 commented on #50854
Well, that is a definition, however, atan(b/a) = atan(0/a) = 0 and not Nan, the problem would be a zero real part (wich is also bad).
Also, using that definition will have the problem of -a-ib (third quadrant) will have the angle of a+ib (first quadrant) as -a/-b = a/b right?.

I would expect a complex number with a zero imaginary part (a+i0) would be on the real axis, therefore, angle = 0.

Moreo

[2021-07-23 11:10] NEGU93 commented on #50854
Ups, stupid me, I thought inp was ones and not zeros, of course a 0+i0 would be a problem. I got it now! Thank you very much!

I will close the issue then.

[2021-07-23 11:10] tilakrayal commented on #50897
@GlauberF ,

In order to expedite the trouble-shooting process, could you please provide the complete code, dataset and tensorflow version to reproduce the issue reported here.Thanks!

[2021-07-23 11:16] NEGU93 commented on #50854
Sorry, opened it again, if I do `tf.math.angle(tf.zeros((1, 1), dtype=np.complex64))` it gives me 0 and not Nan, so apparently, TF has chosen to make 0+i0 angle to be zero (sounds ok and actually a good choice), and therefore the issue it is still not explained for me.

[2021-07-23 11:42] MaanasArora commented on #50854
Sorry, since I am not a member of this repository, my understanding might not be definitive.

The `None` gradients resulting from a disconnected graph, caused by `float` inputs to `tf.math.angle`, would be an issue because the loss will not compute. What I can gather is that `nan` numpy values for gradients are acceptable because those gradients are _differentials_ of zero values, and this shouldn

[2021-07-23 11:50] sjtusmartboy opened #50921 "AttributeError: 'NoneType' object has no attribute 'PluginAssets'"
tensorflow 2.5

**This problem occurs when I'm using the tensorboard to do the profiling.**

The code is as follows.

[code]

**It produces no error when running this code, seeing from the output.**

sjtusmartboy@sjtusmartboy-ThinkPad-X230:~/opt/Projects/RandLA-Net$ python test3.py
[code]

**However, when I type the tensorboard command, `tensorboard --logdir logs/func`, and open the tensorboard we

[2021-07-23 11:53] sjtusmartboy commented on #50921
Please tell me what's wrong and what I can do to manage this problem so that I can do the profiling work with tensorflow 2.5. Thanks a million.

[2021-07-23 11:54] arolet commented on #50448
@lu-wang-g Thank you for your answer. On my device (a OnePlus 8 with android 11), the shape is still wrong after runForMultipleInputsOutputs. allocateTensors reshapes the outputs correctly with all the layers I tried, only convolution with dilation yields a wrong shape.

@haozha111 It could be a solution, however: 1) it doesn't work on the devices I tried and 2) it would require to run the inferen

[2021-07-23 12:09] NEGU93 commented on #50854
No need to go to the repository, that is my job once this is cleared. My question is with the original gist.
We have the following remarks:

1. using `angle_diff = tf.math.angle(tf.complex(y_true, 0.)) - tf.math.angle(tf.complex(y_pred, 0.))` gives nan gradients.
2. Using `angle_diff = tf.math.angle(tf.complex(y_true, 1.)) - tf.math.angle(tf.complex(y_pred, 1.))` appears to work.

The reason behin

[2021-07-23 12:44] tilakrayal commented on #50919
@jasonjx-w ,

We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled and also the tensorflow version you are using, could you please do so as it helps us analyse the issue.Thanks!

[2021-07-23 12:48] Apidwalin opened #50922 "SECURITY.md"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):

**Describe t

[2021-07-23 14:02] jeisinge commented on #33755
As of TF 2.4, I too am getting this error; I have had to remove embedding constraints.

[2021-07-23 14:20] thisisjoshstone opened #50924 "Building TF.Lite benchmark tool with TF.text ops support"
Does anyone have an example of re-building a TF.Lite binary with support for tensorflow-text operations?

I have a TF.Lite model which includes [USE-multilingual](https://tfhub.dev/google/universal-sentence-encoder-multilingual/3), which uses several Sentencepiece ops from tensorflow-text. After reading https://github.com/tensorflow/hub/issues/463 and a few others, I was able to successfully cover

[2021-07-23 14:23] NEGU93 commented on #50854
Shall I close this and open another issue asking why the gradient of `0+i0` is `nan` or we continue the chat in this one? I still don't get why

[2021-07-23 14:49] thor4 commented on #50881
Thanks, I have posted it as you suggested: https://discuss.tensorflow.org/t/model-evaluate-does-not-yield-the-same-accuracy-as-computing-it-manually-using-a-for-loop/3214

Hopefully someone somewhere will have some insight.

[2021-07-23 15:07] VickyRDK commented on #33375
Can someone give a clear explanation on where to find the cuda path directory and the steps of the workaround ?

Will be much appreciated... Thank you

[2021-07-23 15:47] thebinyang opened #50925 "Error in saving model: TypeError: No conversion path for dtype: dtype('<U30')"
<em>I am building a new model based an existed model. However, I found that I could not save the new model</em>

**Important Notice**

I have an existed model which was built based on VGG16 (namely, 'base_network' in the following picture). Now, I am building a new model based on the existed model (namely, 'model' in the following picture). However, the existed model could be saved using the keras

[2021-07-23 15:49] Flamefire opened #50926 "Segmentation fault when using NCCL in MultiWorkerMirroredStrategy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL 7.9
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.5.0
- Python version: 3.8.6
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if comp

[2021-07-23 15:50] #50461 closed

[2021-07-23 16:02] Flamefire commented on #50926
The VERBOSE 2 log shows:
[code]

[2021-07-23 16:56] GlauberF commented on #50897
@tilakrayal
it wouldn't be a problem, I would just like to know how to implement using tensorflow javascript, a solution that solves what I mentioned above.
I know it might not be the right place here, but I'm new around here.
If you have an example with tensorflow javascript that I can use to create the solution I need.

[2021-07-23 17:26] rnett opened #50927 "Export Graph gradient API on Windows"
**System information**
- TensorFlow version: 2.5
- Are you willing to contribute it: Probably

**Describe the feature and the current behavior/state.**

Similar to #41904, there are symbols missing when using the graph gradient API from C++.  We (SIG JVM) are running into this when trying to add custom gradient support.

Symbols:
[code]

It seems like there's three parts:
* Exporting `Scope`
* Exp

[2021-07-23 17:42] Saduf2019 commented on #50892
@Stonepia
Cuda 11.3 is not tested configuration, please refer to this page and used [tested build configurations](https://www.tensorflow.org/install/source#gpu) and let us know if you still face any issues.

[2021-07-23 17:46] webster1309 opened #50928 "ValueError: Could not find matching function to call loaded from the SavedModel"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-07-23 17:50] #47265 closed

[2021-07-23 17:54] UsharaniPagadala commented on #50894
@Frost-fusion

Could you please share the Colab gist to analyse the issue better.Thanks

[2021-07-23 18:10] UsharaniPagadala commented on #50859
@suneeta-mall

Could you please share the colab gist with all the dependencies to analyse the issue better.Thanks

[2021-07-23 18:12] haozha111 commented on #50448
Hi,

When you say that the output shape is still wrong after `runForMultipleInputsOutputs`, what's the output shape you get? Is it different from what the python API is giving to you (supposing python API is working normally).

I'm just curious why the behavior is different between the Java and python API.

[2021-07-23 18:16] njzjz commented on #46630
Finally, I turned off XLA to get a successful build...

[2021-07-23 20:39] jvishnuvardhan commented on #27521
This was resolved already with the PR https://github.com/tensorflow/tensorflow/pull/27554 as it was already merged.

[code]

[Here](https://colab.research.google.com/gist/jvishnuvardhan/5caa1efff76de239a36fa68ced8a10d0/untitled.ipynb) is a gist for reference. Thanks!

Closing this issue as this was already resolved.

[2021-07-23 20:39] #27521 closed

[2021-07-23 22:36] sanjoy commented on #50669
CC @nouiz

Is there a GH issue about these segfaults?

[2021-07-23 23:02] arolet commented on #50448
@haozha111 the "wrong" output shape on android is [1, 1, 1, 16], just like before. In python the output shape is the correct one (i.e. [1, im_height, im_width, 16].

[2021-07-24 01:55] abattery commented on #50885
Did you provide the valid input values?

[2021-07-24 02:51] zhaozheng09 commented on #50825
thx, and  I will close this question ~

[2021-07-24 02:51] #50825 closed

[2021-07-24 03:02] Stonepia commented on #50892
@Saduf2019
Well, I test on CUDA 11.2 and clang (ver. 10.0.0-4ubuntu1), this problem still happens, and the error message is identical.

[2021-07-24 03:22] suneeta-mall commented on #50859
@UsharaniPagadala  https://colab.research.google.com/drive/1x03x1trJQcOXG07otYnLyyFjCJSxjUG-?usp=sharing

[2021-07-24 05:28] bobyang9 opened #50933 "'tf.MLCConv2D' op is neither a custom op nor a flex op"
### 1. System information

- OS Platform and Distribution: Mac OS 11.4 (Hardware: Mac Mini M1)
- TensorFlow installation (pip package or built from source): pip package
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.4.0rc0
- Python version: 3.8.10

### 2. Description of problem

I am using TFLite with the code from this repo (https://github.com/hunglc007/tens

[2021-07-24 09:57] ashutosh1919 commented on #29005
Anyone who is facing the same issue even after using tf version `2.6.0rc1`, you need to pass the batch size of exactly 1. If you pass more than 1, then it won't work on CPU.

[2021-07-24 12:09] #48844 closed

[2021-07-24 13:47] fo40225 opened #50935 "2.5.0 tf_to_kernel is not compatible with msvc /Ob3"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 20H2
- TensorFlow i

[2021-07-24 16:53] old-school-kid opened #50937 "validation_split for tensorflow.dataset"
ValueError: `validation_split` is only supported for Tensors or NumPy arrays, found following types in the input: [<class 'tensorflow.python.data.ops.dataset_ops.PrefetchDataset'>]

I believe there is explicitly no support to divide a tensorflow dataset  into train and validation on the go while calling model.fit. Would be really helpful if this feature can be added.
**System information**
- Tenso

[2021-07-24 17:32] old-school-kid commented on #50842
@WayneHsiao0225
instead of importing keras as
`import keras`
please try and import it like
`from tensorflow import keras`
also in your code if you have imported any package from keras try and import it from tensorflow.keras instead

[2021-07-24 17:43] old-school-kid commented on #50832
Can you check the code again please.
The code provided throws an error in line 49 `outputs = model.distribute_strategy.run(run_step, args=(data,))`

ValueError: No gradients provided for any variable: ['training_model/dense/kernel:0', 'training_model/dense/bias:0'].

[2021-07-24 18:20] OriAlpha opened #50938 "Performance issue on Macbook Pro M1"
**System information**
- Script can be found below
- MacBook Pro M1 (Mac OS Big Sir (11.5))
- TensorFlow installed from (source)
- TensorFlow version (2.5 version) with Metal Support
- Python version: 3.9
- GPU model and memory: MacBook Pro M1 and 16 GB

Steps needed for installing Tensorflow with metal support.
https://developer.apple.com/metal/tensorflow-plugin/

I am trying to train a model on

[2021-07-24 18:51] yaoshiang-masterfulai opened #50939 "implement reduce for the bitwise operations."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.4, 2.5.
- Are you willing to contribute it (Yes/No): No

[2021-07-24 20:32] lixuanze commented on #46659
I still have the same error, it is not being fixed.

[2021-07-25 03:23] summa-code commented on #50781
Huh ? Yes, it is still a problem with latest code.

https://www.tensorflow.org/tutorials/structured_data/time_series

Use this example. This will throw the error. I pulled the code today and built. Same error.

[code]

[2021-07-25 03:57] summa-code commented on #50781
I cleaned and reinstalled, there is some version compatibility. I am closing this issue.

[2021-07-25 03:57] #50781 closed

[2021-07-25 04:12] njzjz commented on #41926
In v2.5, `com_google_absl_fix_mac_and_nvcc_build.patch` has been moved to `tensorflow/third_party/absl`

[2021-07-25 09:04] pranathibl commented on #49502
Any update

[2021-07-25 11:08] DwayneDuane opened #50940 "Build TensorFlowLite C API with GPU delegate with CMake"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: nightly
- Python version: 3.6
- Installed using virtualenv? pip? conda?: No
- Bazel version (if compiling from source): N/A, usi

[2021-07-25 11:21] chudur-budur opened #50941 "Where is convert_all_kernels_in_model in tensorflow 2.5.0?"
I can't import `convert_all_kernels_in_model` from `tensorflow.keras.utils` in `tf 2.5.0`

[code]

I get this error:

[code]

I have an old code written in `tf 2.3.0` and I need to port it to `tf 2.5.0`.

Where did that function go?

[2021-07-25 11:32] Hana-Ali opened #50942 "TFLite Conversion Error: Element Shape Required to be 1D"
### 1. System information

- Windows 10 PC, TensorFlow version 2.5.0

### 2. Code

[code]

### 3. Failure after conversion
I get the following error for the `tflite_model = converter.convert()` line:

`error: 'tf.TensorListReserve' op requires element_shape to be 1D tensor during TF Lite transformation pass`

Not sure what the error is, or how to fix it. Any help is appreciated!

[2021-07-25 12:00] sushreebarsa commented on #40510
@ericqu Reopening this issue .Thanks !

[2021-07-25 12:11] sbushmanov opened #50943 "Error build: target 'cuda/bin/nvcc' not declared in package"
Above error when building from source with GPU on Ubuntu 18.04.

To reproduce:

[code]
OS: Ubuntu 18.04
Python 3.9.6: Anaconda managed environment
GPU: NVIDIA 1080 Ti
CUDA: V11.2.152
bazel 3.7.2

Full stacktrace:
[code]
Tensorflow 2.5.0 builds though on the same machine.

[2021-07-25 13:37] abattery commented on #50942
converter.target_spec.supported_ops = [
          tf.lite.OpsSet.TFLITE_BUILTINS, tf.lite.OpsSet.SELECT_TF_OPS
      ]
converter._experimental_lower_tensor_list_ops = True

[2021-07-25 13:38] abattery commented on #50942
Please use the Select TF ops and disable tensor list op lowering.

[2021-07-25 13:39] abattery commented on #50933
MLC conv2d op is not available on mobile platforms. Please consider using general conv2d ops in the original TF graph.

[2021-07-25 13:51] #50925 closed

[2021-07-25 13:52] thebinyang commented on #50925
problems solved when I built a new environment. Looks like it is caused by the environment.

[2021-07-25 15:22] Hana-Ali commented on #50942
H

Thank you for the response!
I tried the above code you attached, and got this error instead:

Traceback (most recent call last):
  File "C:\Python39\lib\site-packages\tensorflow\lite\python\optimize\calibrator.py", line 69, in __init__
    _calibration_wrapper.CalibrationWrapper(
TypeError: pybind11::init(): factory function returned nullptr

During handling of the above exception, another exce

[2021-07-25 15:22] mantelllo commented on #33422
Received this error in TF 2.4.1. Used keras Lambda with tf.squeeze and `output_shape` defined, but got the error within next layer which is Dense. I checked internals of sequential model, it did not infer output shape of the Lambda layer (`output_tensor` is
`<KerasTensor: shape=<unknown> dtype=float32 (created by layer 'lambda')>`). Now I look for "clean" solution not to speak about the workaround

[2021-07-25 18:40] Saduf2019 commented on #50870
@Antymon
The answer in the notebook, as it says calculating loss  with float 16 precision may result in numeric loss.
This is not a bug or feature request, for any further queries you may open this issue in tf discussion forum as there is a larger community there.

[2021-07-25 18:44] Saduf2019 commented on #50854
@NEGU93
Tf.math angle is configured such that it will return 0 instead of nan, the operation must support gradients which is not possible if the value becomes nan or inf.

[2021-07-25 19:09] #50692 closed

[2021-07-25 19:26] Photonico opened #50944 "Problems on TensorFlow-ROCm installation"
Hi,

My PC has AMD CPU(Ryzen 5900X) and an AMD graphic card(RX6800XT). The operating system is openSUSE Tumbleweed(20210726). I want to use my GPU to do some scientific computation by tensorflow-rocm.

I add the repository resource via: `sudo zypper addrepo --no-gpgcheck http://repo.radeon.com/rocm/zyp/zypper/ rocm`
But I don't know which are the necessary packages for the ROCm.
And I find that:

[2021-07-25 21:09] OriAlpha commented on #50938
I have noticed this same problem with LSTM layers

[2021-07-25 21:20] abattery commented on #50942
Please try out tf-nightly version.

[2021-07-25 21:24] Hana-Ali commented on #50942
Hey @abattery

Sorry I'm not sure I follow, this is my first model-project!! Can you elaborate? Do I just uninstall tensorflow and install tf-nightly instead? What do I do?

Thank you

[2021-07-25 21:28] abattery commented on #50942
Yes, there is a chance to fix your conversion problem with the very recent version.

[2021-07-25 21:33] Hana-Ali commented on #50942
Trying it now, will tell you how it goes! :)

[2021-07-25 21:40] Hana-Ali commented on #50942
Welp, I got a new issue this time :/

[code]

I really appreciate the help. Thank you for taking the time, sorry I'm so new haha!

[2021-07-25 21:48] NEGU93 commented on #50854
Sorry for this. But I still don't get it.

1. Gradients do not work if operation returns nan of inf
2. This case is coded to return 0, so no nan nor inf.

Then what is the problem?

[2021-07-25 22:05] abattery commented on #50942
According to the message, the calibration function should return three input values but it provided only one input value.

[2021-07-25 22:06] Hana-Ali commented on #50942
Yes, but I’m not sure how to fix that. Is there something wrong with the representative data gen or?

[2021-07-25 22:07] abattery commented on #50942
Yes, the representative data gen is related.

[2021-07-25 22:08] Hana-Ali commented on #50942
Ah, do you know how I would need to change the function? :)

[2021-07-25 22:50] abattery commented on #50942
It is related with the model structure you are using. Please check out that model input/output speicifications and make sure the calibration generator follow that.

[2021-07-25 23:14] sjtusmartboy commented on #50871
@saikumarchalla Is there any update?

[2021-07-26 00:44] tarik0 opened #50945 "Can't save the LSTM model. (AttributeError: 'CuDNNLSTM' object has no attribute 'unroll')"
Hey,

I'm trying to build a `LSTM` model with CuDNN and this is the model I'm using.

[code]

But when I try to save the model with  `model.save(...)` I get this error.

[code]

[2021-07-26 02:07] jianlijianli commented on #48959
Thanks @Tessil,

There has been some changes in the tflite conversion workflow and squeeze logic is getting update, and I think https://github.com/tensorflow/tensorflow/issues/48959#issuecomment-883321475 is outdated. This is my current observation: for int8 quantization, int8 kernel (reference) works fine for both "squeeze = True" or "squeeze = False". For 16x8 quantization, "squeeze = True" work

[2021-07-26 02:33] #50919 closed

[2021-07-26 03:11] cristianl1251 opened #50946 "Build TensorFlow Lite for Android and reduce binary size to use with C API"
Hello,

I would like to build TensorFlow Lite for Android reducing the binary size. I want to optimize its size based on the operations used by my model. Then, I want to use the generated `.so` for `arm64-v8a` and `armeabi-v7a` in JNI with C API.

I am able to build TensorFlow Lite for Android as described in [Build Android](https://www.tensorflow.org/lite/guide/build_android#build_and_install) an

[2021-07-26 04:11] tilakrayal commented on #50922
@Apidwalin ,

Can you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thanks!

[2021-07-26 05:09] #31907 closed

[2021-07-26 05:21] Saduf2019 commented on #50854
@NEGU93
That is what it is supposed to do tf.math.angle must support gradients and since gradients are not defined for inf and nan. Kindly move this to closed status and open an issue on tf discussion group for any further queries as this is not a bug or feature request and there is a larger community there to respond. Thanks!

[2021-07-26 06:08] abattery commented on #50946
Bazel can do the selective build mechanism for C API.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/c/BUILD#L115

[2021-07-26 06:09] abattery commented on #50946
The tflite_custom_c_library build rule can generate the selectively built TensorFlow Lite C library.

[2021-07-26 06:25] NEGU93 commented on #50854
Ok. I will do that. Thank you!

[2021-07-26 06:25] #50854 closed

[2021-07-26 06:36] tilakrayal commented on #50928
@webster1309 ,

Please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/37973#issuecomment-605448707) and [link](https://stackoverflow.com/questions/58575586/could-not-find-matching-function-to-call-loaded-from-the-savedmodel) for similar error log.It helps.Thanks!

[2021-07-26 06:38] tilakrayal commented on #50937
@old-school-kid ,

Can you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thanks!

[2021-07-26 06:41] tilakrayal commented on #50938
@OriAlpha ,

Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-07-26 08:19] bobyang9 commented on #50933
Is Mac M1 considered a mobile device?

[2021-07-26 08:25] mohantym commented on #37729
Was able to replicate the issue with TF v2.5 ,  Yes it takes more time when the program is loaded first time  , you might see the difference between first time and second time loading (less than a millisecond) ,  please find the [gist ](https://colab.research.google.com/gist/mohantym/601bd3691c224cf95894016bf3ceaefd/37729.ipynb)here ..Thanks!

[2021-07-26 08:29] old-school-kid commented on #50937
@tilakrayal
The error I am speaking about can be found in this [notebook](https://colab.research.google.com/drive/1BySKPLDhoBGN5Sby-_klwuESr61Qu4dF?usp=sharing)

So what I wanted was to split the dataset on the go while training.

[2021-07-26 08:38] plopd commented on #22926
relax people! if u are here to solve these tasks, u are a beginner anyway.
just do it, regardless of someone already started it, or not.
u will learn a bunch of stuff!!
don't focus too much on whether someone already started working on it. in that way, u will never start..

[2021-07-26 08:40] dishkakrauch commented on #50804
I've added decode function and mapped it to tfrecord dataset. This fixed everything. Thx.

[2021-07-26 08:40] #50804 closed

[2021-07-26 09:01] tilakrayal commented on #50872
@aleks73337 ,

Without the reproducible code, it would be difficult for us to debug the issue. In order to expedite the trouble-shooting process, could you please provide a minimal code snippet or colab gist.Thanks!

[2021-07-26 09:03] tilakrayal commented on #50941
@chudur-budur ,

Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-07-26 09:15] tilakrayal commented on #50890
@ArunaKote ,

Please  take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/31501) with similar error.Also  this is not a TensorFlow bug or feature request, it is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) or tensorflow discussion [forum](https://discuss.tensorflow.org/). There is a larger community that reads questions there. Thank

[2021-07-26 09:31] wangtz commented on #50924
Hi Tian / Thai,

Wondering if you have an example of using building TFLite with tf.text flex ops?

Thanks,
Tiezhen

[2021-07-26 09:35] wangtz commented on #50920
Hi Terry / Chao,

Could you have a look at this build issue related to XNNPACK ?

Thanks,
Tiezhen

[2021-07-26 09:37] wangtz commented on #50897
Hi Glauber,

You might want to raise issues in https://github.com/tensorflow/tfjs for TFJS related issues.

Thanks,
Tiezhen

[2021-07-26 09:47] wangtz commented on #50886
Hi Carlos,

Normally the TfLite interpreter would take care of tensor's lifecycle. But if you created the tensor yourself (instead of getting the tensor from the interpreter), you can use TfLiteTensorFree to free the field inside TFLite tensor.

Thanks,
Tiezhen

[2021-07-26 09:52] wangtz commented on #50857
Hi Renjie/Jian,

Could any of you help check on this issue with quantization parameters? Feel free to pass it around.

Thanks,
Tiezhen

[2021-07-26 10:00] wangtz commented on #50758
Hi Youngseok,

Could you have a look on this iOS related issue?

Thanks,
Tiezhen

[2021-07-26 11:29] anavanab99 opened #50948 "import tensorflow get a bug"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-07-26 11:33] #50897 closed

[2021-07-26 11:37] rmothukuru commented on #50937
@old-school-kid,
Validation Split can be obtained using the code shown below:

**`test_split, valid_split, train_split = tfds.Split.TRAIN.subsplit([10, 15, 75])`**

Please refer in [this comment](https://github.com/tensorflow/datasets/issues/291#issuecomment-474668134) and the [respective Tensorflow Documentation](https://www.tensorflow.org/datasets/splits) for more information.

[2021-07-26 11:42] abattery commented on #50933
https://github.com/apple/tensorflow_macos/issues/133#issuecomment-774826217

Please check out the above comment.

[2021-07-26 11:42] #50933 closed

[2021-07-26 11:44] abattery commented on #50933
We would recommend using the Google version of TensorFlow for converting your model to the corresponding TFLite models. Those MLC ops are not official supported ops by the TensorFlow Core project.

[2021-07-26 11:51] akkshay0107 commented on #50734
Error no longer occurs when u compile master branch

[2021-07-26 11:51] #50734 closed

[2021-07-26 11:53] wangtz commented on #50676
I managed to reproduce this issue in https://colab.research.google.com/drive/1B88EAjAvXw0RKhM_mDN6OEbWznLfcz2_#scrollTo=7ZG29GucZ6J6

The model seems to be alright. Node 365 has both input tensors with shape [1, 200, 200, 256]
I didn't find where 199 is coming from. My best guess is that some where in the Prepare method, the shape was changed incorrectly.

<img width="999" alt="Screen Shot 2021-07

[2021-07-26 11:57] one-two-one-two commented on #50921
I am having a similar problem. A keras model is trained with a callback
`tensorboard_callback = TensorBoard(log_dir='logs/{}'.format(log_dir_name))`.
When i run tensorboard and activate the "Profile" menu item, i am getting the error:

[code]

tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-profile==2.4.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.

[2021-07-26 12:09] #33739 closed

[2021-07-26 12:15] akkshay0107 opened #50950 "cl.exe failed during building tensorflow from source"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version: master branch
- Python version: 3.8,6
- Installed using virtualenv? pip? conda?: bazel
- Bazel version (if compiling from source): 3.7

[2021-07-26 13:09] #50704 closed

[2021-07-26 13:10] UsharaniPagadala commented on #50935
@fo40225
The tested build configurations for CUDA/cuDNN for tf2.5 are

Version | Python version | Compiler | Build tools | cuDNN | CUDA
-- | -- | -- | -- | -- | --
tensorflow_gpu-2.5.0 | 3.6-3.9 | MSVC 2019 | Bazel 3.7.2 | 8.1 | 11.2
tensorflow_gpu-2.4.0 | 3.6-3.8 | MSVC 2019 | Bazel 3.1.0 | 8.0 | 11.0

please refer the [documentation](https://www.tensorflow.org/install/source_windows#gpu) and let

[2021-07-26 13:35] Drulludanni opened #50951 "smaller model runs slower than a larger one when compiled for edgetpu"
**System information**-
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: coral usb edgetpu
- TensorFlow version (use command below): v1.12.1-49562-gee58e600bfc 2.5.0-dev20210125
- Python version: 3.7

**Describe the current behavior**
So I have two models (U-nets) that are nearly ident

[2021-07-26 13:41] 0x0badc0de opened #50952 "Unexpected warning when using tf.data.Dataset.cache(filename)"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-07-26 13:45] Saduf2019 commented on #50943
@sbushmanov
Could you please try and let us know:
``` $ bazel clean```
```$ ./configure # make sure to choose gpu support```
```$ bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer```

Similar issues you may refer to:[link1](https://github.com/tensorflow/tensorflow/issues/4841), [link](https://forums.developer.nvidia.com/t/cuda-8-0-toolkit-install-nvcc-not-found-ubuntu-16-0

[2021-07-26 13:48] thaink commented on #50924
For the first attempt, you should modify `benchmark_model_plus_flex` and use that tool instead of `benchmark_model`

If you want a smaller binary size, You might try to define a new custom library as: https://github.com/tensorflow/tflite-support/blob/master/tensorflow_lite_support/custom_ops/BUILD#L10 then use it to replace the `//tensorflow/lite/delegates/flex:delegate` in `benchmark_model_plus_f

[2021-07-26 13:53] pranathibl opened #50953 "Identifying the type of input"
Creating a generalized application that can accept both sequence inputs and non-sequence inputs.
To check whether its sequence input or non-sequence input, have written c++ API to get this information.

Need confirmation regarding checking whether it's RNN input or not?
`    int t_size1 = this->interpreter->tensors_size();
    for (int i = 0; i < t_size1; i++) {
        if (this->interpreter->tens

[2021-07-26 13:56] pranathibl commented on #50953
Using TensorFlow 2.4.1, Does the above-written code valid for all kind of models and differentiate RNN and non RNN models ?
Does this work for all type of Models FP32, Quant(uint8, int8 and Fp16)
Is there an API to check if its sequence input or non-sequence inputs? If there, provide the API .

[2021-07-26 13:59] tusharvickey1999 commented on #43559
Solved this problem by changing default encoding for windows to utf-8. To change, go to `Language Settings -> Administrative Language settings -> change system locale -> select beta: Use Unicode UTF-8 for worldwide language support`. Restart. Done

Thanks.

[2021-07-26 14:05] zainulabidin302 commented on #43030
[code]

[2021-07-26 14:14] Saduf2019 commented on #40457
@spate141
Could you please try on tensorflow==2.4.0
python==3.8.5 and let us know if you still face this issue., You may also try on latest tf version and let us know.

[2021-07-26 14:23] james901 commented on #24520
Hello i'm running the same problem with tf 2.5.0.
in my case the training set and the validation set are saved on disk as a tfrecord file, they are read and passed to the fit method and I get the error.

[code]

using set_shape on read_tfrecord method  as suggested before, I get the error
[code]
`
InvalidArgumentError: Length for attr 'output_shapes' of 0 must be at least minimum 1`

Any suggestio

[2021-07-26 14:30] UsharaniPagadala commented on #50950
@akkshay0107

Could you please refer similar issues [#36576](https://github.com/tensorflow/tensorflow/issues/36576) and [#23795](https://github.com/tensorflow/tensorflow/issues/23795) and let us know if it helps.Thanks

[2021-07-26 14:34] RostyslavUA opened #50955 "Could not find the DLL(s) 'msvcp140.dll or msvcp140_1.dll'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.5.0
- Python version: 3.8.10
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source):
- GCC/Compil

[2021-07-26 14:39] spate141 commented on #40457
@Saduf2019 I'm getting same error in python 2.8.5 and TF 2.5.0 on my machine. You can try running this notebook on your side of env and you can see the same error.
- Colab: https://colab.research.google.com/drive/1MH6C07QaIChcAnCqtTeo62Jv9ACRglr8?usp=sharing
- Train/Dev Files: https://drive.google.com/drive/folders/1LzqVyq8KZibB7jFho5jhlXardStwINmS?usp=sharing
- Here is the pull request which is s

[2021-07-26 15:06] thisisjoshstone commented on #50924
Hey @thaink, @wangtz, thanks for the quick response!

I hadn't seen the flex benchmark tool, was just adding the flex delegate to the base `benchmark_model`. Will use `benchmark_model_plus_flex` going forward.

I've tried building that tool this morning, but I'm seeing an `Eigen` dependency error on the build similar to what I was seeing previously. Details below:

<details><summary>Additional cha

[2021-07-26 15:15] old-school-kid commented on #50937
@rmothukuru
I believe you meant `ds1, ds2 = tfds.load(..., split=[ 'train[:50%]', 'train[50%:]'])` as mentioned [in this issue](https://github.com/tensorflow/datasets/issues/1998#issuecomment-625293235).
Also I guess this support is only present for datasets present in tensorflow_datsets. If there is a way around for custom dataset please let me know how to split since the arguments in both the Sl

[2021-07-26 15:25] Saduf2019 commented on #50955
@RostyslavUA
Please refer to [this link](https://stackoverflow.com/questions/60157335/cant-pip-install-tensorflow-msvcp140-1-dll-missing) and let us know. [[link1](https://stackoverflow.com/questions/50777013/tensorflow-importerror-could-not-find-msvcp140-dll/50777261),[link2](https://www.programmersought.com/article/89164220428/)]

You have to installing the DLL as in the error message for which

[2021-07-26 15:30] Saduf2019 commented on #50951
@Drulludanni
We are unable to open the files in the drive shared, can you share the performance on a colab gist and share for us to analyse.

[2021-07-26 15:44] Saduf2019 commented on #50845
@tianopino
You may refer to [this link ](https://stackoverflow.com/questions/51223936/tensorflow-invalidargumenterror-indices-while-training-with-keras)and let us know

[2021-07-26 16:00] RostyslavUA commented on #50955
I have already VC_redist.x64.exe installed as error-message suggests.
The list of my installed programs are as follows:
[code]

I also have 64 bit architecture system:

[code]
As in the accepted answer at the [link](https://stackoverflow.com/a/60336262/15452880) you suggested, I can find `msvcp140.dll` and `msvcp140_1.dll` in `C:\Windows\System32` directory.

But none of this unfortunately solves

[2021-07-26 16:41] mmeendez8 commented on #48071
I am also experiencing the same error. I am using [mmsegmentation](https://github.com/open-mmlab/mmsegmentation) pytorch framework. And as @alexispascual pointed interpolate function is also the problem:

https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/ops/wrappers.py#L26

I fixed the operation to use those values:
[code]

but I am still getting the same error:

RuntimeError: in use

[2021-07-26 16:53] BogdanRuzh opened #50956 "Reading TFRecords from S3 with a window shift leads to a large performance degradation"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): tried both types
- TensorFlow version (use command below): 2.4.2
- Python version: 3.8.0
- Bazel version (if compiling from source): 4.1.0
- GCC/Compiler version (if compiling from source): 7.5.0

**Describe the current behavior**
I have a list of filenames

[2021-07-26 17:09] #50686 closed

[2021-07-26 17:47] bobyang9 commented on #50933
@abattery What repo should I look at to get information / file an issue with MLC ops?

[2021-07-26 18:36] ivanlen opened #50957 "resize_tensor_input does not change shape in tflite interpreter for efficientdet models"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04 LTS
- TensorFlow installed from (source or binary): conda tf
- TensorFlow version (use command below): 2.4.1
- Python version: 3.7.8

**Describe the current behavior**
I am trying to modify the batc

[2021-07-26 18:58] Mohitkumar6122 opened #50958 "Code not visible in dark theme in the Tensorflow documentation"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-07-26 19:10] jiannanWang opened #50959 "Failed to convert object of type <class 'tensorflow.python.framework.sparse_tensor.SparseTensor'> to Tensor"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2021-07-26 19:37] nouiz commented on #50669
The "No allocator statistics" was fixed about a mount ago (#49173), but it got reverted and i just saw this today.
I'll take a look at this.

[2021-07-26 19:40] james901 opened #50960 ""ValueError: Cannot take the length of Shape with unknown rank" or "InvalidArgumentError: Length for attr 'output_shapes' of 0 must be at least minimum 1" using tf.data.Dataset tensors"
Hello I'm new to machine learning and for my project I need to load training set and validation set from disk into a tf.data.Dataset since they are too big to fit in memory.

running the code in google colab using gpu or in my local machine with tf 2.5.0 i get the following problems:

first I just load the datasets reading the tf record

[code]

and then I get the error ` ValueError: Cannot take t

[2021-07-26 19:57] marcuseckert commented on #43955
Thanks for your comments, I got everything working but the weird thing is the app store now complains when I want to submit my app using that tflite library. IMTS-90426 Invalid Swift Support - the Swift Support folder is missing. Any ideas why that is?

[2021-07-26 19:58] Spandyie commented on #45241
has this issue been resolved? I am getting same error after Epoch 5

[2021-07-26 20:09] #50706 closed

[2021-07-26 20:09] #50711 closed

[2021-07-26 20:36] lu-wang-g commented on #50764
First, please make sure the model is a valid TFLite model. You can do so by using the [Python Interpreter](https://www.tensorflow.org/lite/guide/inference#load_and_run_a_model_in_python) and see if the model can be successfully loaded into Interpreter.

If the model is valid, please try the two answers in this [StackOverflow question](https://stackoverflow.com/questions/66958171/custom-machine-lea

[2021-07-26 20:57] cristianl1251 commented on #50946
Cool, I replaced `tflite_custom_c_library` build rule with

[code]

Then, built `armeabi-v7a` with

[code]

and `arm64-v8a` with

[code]

Tested the generated `.so` files with my app in Android Studio and it built successfully.

Binaries reduction:

- `arm64-v8a`: 2.5 MB to 1.5 MB
- `armeabi-v7a`: 1.9 MB to 1.7 MB

Is there any reason why binary for `armeabi-v7a` reduces less than `arm64-v8a`?

Th

[2021-07-26 21:00] prabathbr commented on #47554
I am getting the same error when saving a model with BERT Keras layer with TensorFlow 2.5.0 (Google Colab) . Unfortunately, the saved model can't be loaded later.

[code]

[2021-07-26 21:06] thaink commented on #50924
@broken Is possible to depend on `@org_tensorflow_text//tensorflow_text:ops_lib` outside of the text repo?

[2021-07-26 21:09] #50452 closed

[2021-07-26 21:21] jesford commented on #49182
I am seeing this exception get printed a lot in my code, and found this example of it also showing up in the Tensorflow docs:
https://www.tensorflow.org/tfx/tutorials/transform/census?hl=el#put_it_all_together_2

[code]

[2021-07-26 21:22] lu-wang-g commented on #50448
Hi @arolet, here is the code I used to run your model:

[code]

The printed shape is [1, 10, 10, 16], And I verified it using a Pixel 4 device. Please check if the code snippet works for you.

[2021-07-26 21:30] abattery commented on #50946
I haven't looked at the details. Looks like the pruned op kernels consume more spaces at `arm64-8va`.

[2021-07-26 22:03] CarlosYeverino commented on #50886
Hi Tiezhen @wangtz,

thanks for your reply.

I am using the following arrays of pointers within an Obj structure to pass the input tensor and get the output tensors
[code]
Then, I get the tensors from the model using the corresponding TfLiteInterpreterGetInputTensor and TfLiteInterpreterGetOutputTensor APIs
[code]
Since they are arrays of pointers and you mentioned that the TfLite interpreter woul

[2021-07-26 22:40] rthadur opened #50963 "bug"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-07-26 22:43] broken commented on #50924
Yes; this is what we do with model server.

I have to admit that I'm inexperienced building tf text as flex ops, but the [tflite_cc_shared_object](https://github.com/tensorflow/text/blob/master/tensorflow_text/BUILD#L46) in our build does and is working.

From the error message, it looks like the build is using the normal TF deps rather than the mobile target & portable tflite deps. Would adding -

[2021-07-26 23:14] steveSchneider2 commented on #47691
Is there a 'best guess' on far out the fix is? a month? 6 months?

[2021-07-27 00:11] zuyezheng opened #50964 "SparseCategoricalCrossentropy and Mixed Precision Training"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):  Binary
- TensorFlow version (use command below): v2.5.0-0

[2021-07-27 00:13] renjie-liu commented on #50953
Sorry I'm confused about the question, what problem did you get?

[2021-07-27 00:44] yyoon commented on #50758
Hi @tylerweitzman, thanks for filing the feature request. Unfortunately we don't have plans to add support for this in the near future, but would be happy to review any PRs related to this.

[2021-07-27 00:47] terryheo commented on #50940
That change makes sense to me. Could you provide a PR?

BTW, did you verify the GPU delegate works well with C API?

[2021-07-27 00:56] tve opened #50965 "Tensorflow Lite Model Maker cannot train EfficientDet-Lite using Cloud TPU"
**System information**
- Have I written custom code: minimally modified stock example
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab Pro w/TPU
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.5

**Describe the current behavior**

Attempting to use a CloudTPU for training results in the following error:
[code]

**Standalone

[2021-07-27 00:57] shawnwang18 commented on #50832
@old-school-kid This issue is as expected, and it is why we filing the issue in this thread.

if un-comment the code in line 20 to run the tf.function with eager mode:
tf.config.experimental_run_functions_eagerly(True)

the test will pass without reporting the issue.

[2021-07-27 01:24] chunyang-wen commented on #24439
@kkzheng Not yet. But I think what you can do it to replace `import_meta_graph` call by yourself. I encounter the problem when I try to import and export again in order to manipulate the graph. Finally, I gave it up.

[2021-07-27 03:10] wangtz commented on #50886
Yes. Since these tensors were created and managed by the interpreter. You don't need to do deallocate them manually. Also you might want to set pObj->tfliteInputTensors[0] = nullptr after the interpreter is deallocated. Otherwise they may point to invalid memory addresses.

[2021-07-27 04:28] jvishnuvardhan commented on #50915
@karimanis Code is too long to debug. Any (TF/Keras) model needs to be converted to TFlite model to run on Raspberry Pi. Did you convert the model?

Please check the instructions here https://www.tensorflow.org/lite/tutorials

[2021-07-27 04:30] #50886 closed

[2021-07-27 05:15] tilakrayal commented on #50948
@anavanab99 ,

Every TensorFlow release is compatible with a certain version, for more information please take a look at the tested build [configurations](https://www.tensorflow.org/install/source#gpu).In this case, can you please try installing TensorFlow v2.5 with CUDA 11.2 and cuDNN 8.1 and check if you are facing the same error. Thanks!

[2021-07-27 05:36] yyoon commented on #46852
Hi @songww. I believe this should be done as #49313 is merged. This will be included in the next stable release, and also should be available through nightly builds in the meantime. Please let us know if you still have issues.

[2021-07-27 05:36] #46852 closed

[2021-07-27 06:04] Cheney-W opened #50966 "The max version of bazel supported by tensorflow should be increased to 4.1.0 or higher"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Windows 10 21H1
- TensorFlow installed from (source or bi

[2021-07-27 06:28] zeeshannisar opened #50967 "protobuf error while saving the model"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Ubuntu 16.04.7 LTS
- TensorFlow installed from

[2021-07-27 06:28] blcyzycc opened #50968 "At Chrome run Tensorflow.js."
Use the square layer tf.layers.conv2d, This file prompts a run error.

webgl_util.js

Error: Failed to compile fragment shader.

[2021-07-27 06:32] wtsitp commented on #50149
just consider https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/examples/minimal

[2021-07-27 06:38] Saduf2019 commented on #43847
@fedyfausto
Do you still face the issue, could you please try with the latest tf version and update us.

[2021-07-27 07:09] #50731 closed

[2021-07-27 08:06] whalefa1I opened #50970 "Node number 106 (FlexTensorScatterUpdate) failed to prepare."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows 10
- TensorFlow installed from (source or binary):source  ,pip install tensorflow-gpu==2.5.0
- TensorFlow version (or github SHA if from source):2.5.0

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**

[colab](https://colab.research.google.com/drive/1T9kF-dn4W

[2021-07-27 08:27] LanceNorskog opened #50971 "Keras.io XRay TPU example fails on 2.6.0-rc1"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-07-27 09:00] xxoospring commented on #38518
place torch's import behind tf's import works for me.
[code]

[2021-07-27 09:05] fo40225 commented on #50935
@UsharaniPagadala

This issue is not related to cuda/cudnn version.

I have build the tf 2.5.0 with msvc 2019 16.10/cuda_11.3.0_465.89/cudnn-v8.2.0.53 and still error.

[code]

tf 2.4.0 can be compiled with Ob3.
tf 2.5.0 will fail if Ob3 is used, but it will succeed if it is changed to Ob2.

[2021-07-27 09:17] ternite opened #50973 "Documentation: old installation requirements"
Hi,

on the [page with installation instructions](https://www.tensorflow.org/install?hl=en), the listed requirements have not been updated: it lists Python 3.6–3.8 explicitly.

According to the [pip installation guide](https://www.tensorflow.org/install/pip), Python 3.9 is a valid requirement.

I suggest updating the page.

Best regards
Thomas

[2021-07-27 09:18] abattery commented on #50970
The converted model has the Select TF op(s). Consider adding the dependency on the Select TF op aar.

[2021-07-27 09:18] abattery commented on #50970
https://www.tensorflow.org/lite/guide/ops_select

[2021-07-27 09:23] arolet commented on #50448
Hello @lu-wang-g, thank you for your update.

That's something I actually tried before and I get an IllegalArgumentException with the following message:

`Cannot copy from a TensorFlowLite tensor (Identity) with shape [1, 1, 1, 16] to a Java object with shape [1, 384, 704, 16].`

Just to be sure I tried again with the 2.5.0 and nightly versions and both gave me the error. I only tried with my OneP

[2021-07-27 09:31] mohantym commented on #33840
Hi! @AravindGanesh  and Thanks @aakash30jan . Was able to replicate the issue with TF v2.5  with different numbers of power factors starting with default  values as mentioned in official  tensorflow document .The program ran successfully only when power_factor was 2 or 3 , Please find the [gist](https://colab.research.google.com/gist/mohantym/917ff98e449aeb85c98d2f58a5e065b4/33840.ipynb#scrollTo=0

[2021-07-27 09:32] Saduf2019 commented on #50481
Moving this issue to closed status as pr is merged.

[2021-07-27 09:32] #50481 closed

[2021-07-27 09:50] tilakrayal commented on #50952
@0x0badc0de ,

Can you please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/44801#issuecomment-727712745) and [link](https://stackoverflow.com/questions/64305438/warning-the-calling-iterator-did-not-fully-read-the-dataset-being-cached-in-or) with similar error.It helps.Thanks!

[2021-07-27 10:07] Saduf2019 commented on #50966
@Cheney-W
A [pr](https://github.com/tensorflow/tensorflow/pull/50882) has been created to reflect the changes once its merged this issue will move to closed status.

[2021-07-27 10:29] UsharaniPagadala commented on #50859
@suneeta-mall

Could you please refer the similar issues [link](https://github.com/keras-team/keras/issues/7229 ) and also refer this [optimizer_v2.py Line 989](https://github.com/tensorflow/tensorflow/blob/bd6b557c02a5cc1d094a7bb180b9779121a58520/tensorflow/python/keras/optimizer_v2/optimizer_v2.py#L989) and let us know if it helps.Thanks

[2021-07-27 10:37] gilfree commented on #48545
I also fail to run the mentioned code.

Machine setup is: cuda 11.4, Tensorflow nightly build - tf_nightly-2.7.0.dev20210727, python 3.7.5, 4xRTX2080 Ti, nvidia driver 470.57.02

Running this code:
[code]

Segfaults:

[code]

The callstack top is:
[code]

The same happens for cuda_malloc allocator. When no allocator is set - everything works.

When memory_guard is set, I get:
[code]

The machine i

[2021-07-27 10:40] Drulludanni commented on #50951
that is very weird, the folder is shared with anyone with a link (if I open the link in incognito I can still view all the files).

But here is the code:

[code]
and this is the output:

[code]

I tried to make a google colab to run the code but well, I have no idea how to make it run since an edgetpu is required and I don't know if it is possible to somehow make a virtual one in google colab, but

[2021-07-27 10:42] 0x0badc0de commented on #50952
@tilakrayal could you elaborate how this helps? I'm not following. Setting CUDA_LAUNCH_BLOCKING=1 changes nothing in this case. And SO answer on one hand mentions RAM cache (but the warning comes from FS cache). On another hands it mentions no warnings in Google Colab. But they still exist - https://stackoverflow.com/a/53353891

So the snippet has to be modified:
[code]

[2021-07-27 10:44] mohantym commented on #34269
The error got resolved by removing the extra parentheses from this code block
[code]
with Tensorflow  version 2.5 ,please find the [gist ](https://colab.research.google.com/gist/mohantym/4251b02c22cde6e26a6dafc6291d2318/34269.ipynb#scrollTo=HekGzwptSAWR) of working code  ..Thanks!

[2021-07-27 10:59] FarisHijazi commented on #25807
@DavidS32

[Windows environment variables](https://docs.oracle.com/en/database/oracle/machine-learning/oml4r/1.5.1/oread/creating-and-modifying-environment-variables-on-windows.html#GUID-DD6F9982-60D5-48F6-8270-A27EC53807D0), set the PATH variable

[2021-07-27 11:09] #50745 closed

[2021-07-27 11:31] Hana-Ali opened #50974 "None of the Demo Edge TPU Models Work - “Module Provided has model identifier 'l><b', should be 'TFL3'”"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10

- TensorFlow installed from (source or binary):
Tensorflow 2.5

- Python version:
Python 3.8
- Installed using virtualenv? pip? conda?:
pip

****Describe the problem****

Using a Coral Devboard, and trying to run the `detect.py` file from https://github.com/google-coral/pycoral/blob/master/examples/detect

[2021-07-27 12:02] suneeta-mall commented on #50859
Hi @UsharaniPagadala,
Thanks for looking into this issue. IMU, reference of https://github.com/keras-team/keras/issues/7229 is not directly related here as I don't have a problem in parameter weight setting.

The problem is specific to optimizers' weights. I am aware of the length check code in V2 Optimizer here https://github.com/tensorflow/tensorflow/blob/bd6b557c02a5cc1d094a7bb180b9779121a58520

[2021-07-27 12:15] tilakrayal commented on #50959
@jiannanWang ,

Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-07-27 12:34] aymeric75 opened #50975 "failed call to cuDevicePrimaryCtxRetain: CUDA_ERROR_INVALID_DEVICE: invalid device ordinal"
Hello,

I am trying to train a neural network with multiple GPUs on multiple nodes, I have a .pbs script which starts, for each node/worker, the following program:

[code]

The following error appear when running the script:

This code is working on 1 node with mutiple GPUs but it is not working on multiple nodes.

Also here is the content of the yml file from the conda env I am using (called Test

[2021-07-27 12:46] AnastGerus commented on #21526
Hi,
Could you please assist with **AssignVariableOp, ReadVariableOp, VarHandleOp** ? Is it worth waiting?
I know it's possible to use it with SELECT_TF_OPS, but such an option increases dll size significantly, so it would be nice to have it as a build-in. Thanks!

[2021-07-27 13:09] akkshay0107 commented on #50950
I have tried the solutions provided there but i seem to get a different ProtoCompile Error which i am unable to solve

[2021-07-27 13:35] tilakrayal commented on #50964
@zuyezheng ,

Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-07-27 14:03] abattery commented on #50974
Could you file this bug report at the google coral project instead?

[2021-07-27 14:04] Hana-Ali commented on #50974
Yes sure! Thank you

[2021-07-27 14:13] GarimaSarangal commented on #44944
@Neel1994 - Was it solved? I am facing exact issue in Linux.

[2021-07-27 14:20] peteboothroyd commented on #50820
This class offers a similar interface to what you describe:

https://github.com/tensorflow/tensorflow/blob/79e9e45fa08931aaa6bc72124cfbe776e40e2cc0/tensorflow/python/keras/layers/preprocessing/preprocessing_stage.py#L98-L133

[2021-07-27 14:24] jiannanWang commented on #50959
Thank you for your reply! I have created a new issue in keras-team/keras: https://github.com/keras-team/keras/issues/15009. Closing this issue.

[2021-07-27 14:24] #50959 closed

[2021-07-27 14:37] tilakrayal commented on #50967
@zeeshannisar ,

We see that you are using tf version 1.15, 1.x is not actively supported, please update to 2.x and let us know if you are using same issue.Thanks!

[2021-07-27 14:40] UsharaniPagadala commented on #50968
@blcyzycc

The issue posted  looks like related to [Tensorflow/tfjs](https://github.com/tensorflow/tfjs/issues) repo. Could you please post this issue in that repo. Hence there is a big community to support for tfjs issues. Thanks

[2021-07-27 14:44] tahaabdolkarimi opened #50977 "Issue with saving trained model of module TensorFlow Recommenders (tfrs)"
Hi,

I'm currently working on a model of module TensorFlow Recommenders (tfrs):

https://www.tensorflow.org/recommenders/examples/quickstart?hl=en

I want to save the model after builting, compling and fitting it, and load it for prediction, but it doesn't work with functions .save() from tf.saved_model and .save_model() from tf.keras.models. I'll appriciate it if someone share any expiriences abo

[2021-07-27 14:49] sjtusmartboy opened #50978 "RuntimeError: Attempting to capture an EagerTensor without building a function."
**tensorflow 2.5**

Adding the code of
[code]
indeed solves the problem. But it maynot be what I want. Because in the function of `dense_tensor_to_sparse_tensor` , I indeed need the eager execution of `tensor.numpy()`, which means I should not disable the v2 behaviour. So is this the internal bug of tf 2.5. Any suggestion of how to modify this piece of code?

### source code

[code]

### **error

[2021-07-27 14:57] aaudiber commented on #50937
@rmothukuru `mode.fit(..., validation_split=...)` is a Keras API, so this would be better routed to the Keras team.

[2021-07-27 15:05] sjtusmartboy commented on #50978
The problem exists because the `b_st` is the value from the calling the function of `dense_tensor_to_sparse_tensor`. From the perspective of  a user, it should not be the problem, which means whether `b_st` is directly the assigned sparse tensor or the return value from the function should not be different.

[2021-07-27 15:13] bnavigator commented on #47691
They cannot approve the fix because they have no CI to properly check it. There might be more problems with NumPy 1.20 and 1.21 compatibility.

[2021-07-27 15:32] UsharaniPagadala commented on #50977
@tahaabdolkarimi

It looks like the Issue relates to the Keras component. Please submit it to the [github.com/keras-team/keras](https://github.com/keras-team/keras/issues) repository instead. As previously [announced](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) all future development of Keras is expected to happen in the keras-t

[2021-07-27 15:36] sjtusmartboy commented on #50978
I've made some arrangement of the code, resulting in the same problem.

[code]

[2021-07-27 15:51] UsharaniPagadala commented on #50960
@james901

Could you please refer similar issues [link](https://stackoverflow.com/questions/66624228/length-for-attr-output-shapes-of-0-must-be-at-least-minimum-1) and [#24520](https://github.com/tensorflow/tensorflow/issues/24520#issuecomment-493787420),let us know if it helps.Thanks

[2021-07-27 16:27] peteboothroyd opened #50979 "FunctionalPreprocessingStage incompatible with some keras preprocessing layers"
**Describe the current behavior**

[FunctionalPreprocessingStage](https://github.com/tensorflow/tensorflow/blob/a4dfb8d1a71385bd6d122e4f27f86dcebb96712d/tensorflow/python/keras/layers/preprocessing/preprocessing_stage.py#L98-L133) provides a Functional like interface for connecting up multiple keras preprocessing layers, and adapting them all with a single call. If I understand the intended use co

[2021-07-27 16:44] Saduf2019 commented on #50955
@RostyslavUA
Can you verify the version of the DLL, should be Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019 only.

[2021-07-27 16:49] PINTO0309 commented on #50920
The pull request has been rejected and will be closed.
https://github.com/tensorflow/tensorflow/pull/50923

[2021-07-27 16:49] #50920 closed

[2021-07-27 16:57] lamyiowce opened #50980 "XLA compilation error for TPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04 (GCP Cloud TPU VM)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): default cloud TPU VM installati

[2021-07-27 17:59] brychcy commented on #46708
Interestingly, I'm observing this only since tensorflow 2.5.0 (and not since 2.4.0)

[2021-07-27 18:24] seermer commented on #50562
@sanjoy @cheshire Sorry, could you please reopen the issue? Recently, I noticed that this issue seems not benign.
It is true that the model still runs without breaking with GPU even though this message appears. However, this error causes ANY jit compiled script to break. for example, running:
[code]
gives the following error log:

as it shows "Process finished with exit code -1073740791 (0xC000040

[2021-07-27 18:25] aingo03304 opened #50981 "XLA Optimizer Mixed Precision Support"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.5.0
- Are you willing to contribute it (Yes/No): Yes

**

[2021-07-27 18:42] aingo03304 commented on #34047
I am also struggling with this issue when I apply mixed-precision training. @TobiasNorlund Did you find out what the problem is?

[2021-07-27 18:49] old-school-kid commented on #50937
@aaudiber @rmothukuru
So do I need to close this issue here and head over to the keras repository. But also isn't the issue with tensorflow.data.dataset?

[2021-07-27 19:48] cheshire commented on #50562
To be honest, we really don't have enough Windows expertise to help you debug the issue. It seems ptxas is not found. You could try to add some print statements/logging in asm_compiler.cc to see where it is looking for it. Is your ptxas.exe definitely in your $PATH?

[2021-07-27 19:54] GarimaSarangal commented on #33153
@Lucky94 did you find any solution for this. I am in same situation

[2021-07-27 20:25] tve commented on #50965
The problem I'm having appears to be related to https://github.com/tensorflow/hub/issues/604, but I haven't confirmed that yet.

[2021-07-27 20:28] coderforlife commented on #50574
Also getting this with the following command line (but with config set up with CUDA)

[code]

Compiling on Fedora 34 with CUDA. Commenting out the line mentioned in #45861 fixes the issue.

[2021-07-27 20:38] old-school-kid commented on #50978
@sjtusmartboy
Instead of defining your own function to convert dense tensor to sparse tensor you can use
`tf.sparse.from_dense`. So you wont need eager tensors at all. Also you are using tensorflow1 which uses Graph execution but your function returns an eager tensor which is not allowed, and thus the error.

[2021-07-27 20:39] markalavin opened #50982 "Why is <normalizing flow>.prob() failing for me?"
I am building a Normalizing Flow (concatenation of Distribution and chain of Bijectors) in Tensorflow. Here is the code for the (single-link) chain of Bijectors:

[code]
Here is the code I use to test the Flow:

[code]
The last statement fails with the following stack trace:
[code]
I do not understand the error message, nor how to correct it.   Please help

[2021-07-27 20:51] alexispascual commented on #50885
Hi @abattery,

Yep. I am pretty sure I am. I tried feeding in an image that has range [0., 255.] as well as [0, 1]. I encounter the same error for both times. My thinking was that the converted model might have expected inputs from those ranges, but I guess I am mistaken. I cannot actually feed a uint8 type image because I am not full quantizing the model yet (I tried, but it gave me flex op error

[2021-07-27 21:27] Dartum08 commented on #40425
Hey @OOF-dura ,
I am actually stuck with an exactly similar error, just the change in data is there. Otherwise, the whole error is same. Have you solved the error? If so, I would really appreciate if you can share the solution here. Thanks in advance!

[2021-07-27 21:32] aaudiber commented on #50937
@old-school-kid
It makes sense for this issue to stay here -- `tf.keras` is a part of this repo: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/python/keras

`tf.data.Dataset`s aren't randomly accessible, so there isn't an efficient way to split a dataset into train/eval datasets. Instead, users need to decide what data should be part of the train dataset and which should be part

[2021-07-27 21:42] GarimaSarangal commented on #31369
@martin-marek  i am getting the same issue on ubuntu 16. how was it solved?

[2021-07-27 22:04] lu-wang-g commented on #50448
@arolet Do you mind to try the exactly same code I pasted above, and see if it works for you? After that, we can continue debugging your code.

[2021-07-27 22:45] LanceNorskog commented on #48268
Code works on 2.6.0-rc1 on TPU. Closed.

[2021-07-27 22:45] #48268 closed

[2021-07-28 00:02] hksonngan commented on #50658
Hi,
This issue because of download file direcvtly from tensorflow website.
And I compiled with vs 2017 without issue.

[2021-07-28 01:02] Yoline777 opened #50988 "How to convert model trained with tensorflow object detection api to tflite model that supported by Android GPU"
I train a ssd_resnet50 with tensorflow object detection api. Then export and convert the model. The tflite model has lots of nodes like while, gather that that are not supported by tflite GPU. However ssd_mobile model with similar framework on tensorflow hub can ran on android gpu.
Did I forget some operations? How to remove nodes not supported by android gpu in model conversion.

[2021-07-28 01:25] sjtusmartboy commented on #50978
@old-school-kid Thank you, I've solved the problem

[2021-07-28 01:41] geometrikal commented on #32912
@sushreebarsa

This is still an issue if you are creating a dataset from filenames - e.g. from_generator creating the dataset from filenames, then using map and tf.io.decode_image to create the actual files

[2021-07-28 03:36] seermer commented on #50562
Alright, thanks, maybe I will just keep trying. I am quite sure I have ptxas.exe in path, and also all the important cuda/cudnn folders. I also have tried logging info, but the error points to compiling a temp file, which disappears instantly. Maybe I will just keep trying, thanks for helping.

[2021-07-28 03:37] seermer commented on #50562
@cheshire Alright, thanks, maybe I will just keep trying. I am quite sure I have ptxas.exe in path, and also all the important cuda folders. I also have tried logging info, but the error points to compiling a temp file, which disappears instantly. Maybe I will just keep trying, and see if I can somehow get the tempfile.
Thanks for helping.

[2021-07-28 03:41] blcyzycc commented on #50968
This error does not always appear, it can run normally on Edge, and this error will not appear.

[2021-07-28 04:09] #38732 closed

[2021-07-28 04:09] #38298 closed

[2021-07-28 04:09] #39020 closed

[2021-07-28 04:09] #50377 closed

[2021-07-28 04:09] #50733 closed

[2021-07-28 04:17] duanbing opened #50989 "Failed when upgrading grpc to 1.36.0"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):  2.4.2
- Are you willing to contribute it (Yes/No): Yes, b

[2021-07-28 04:22] PINTO0309 commented on #50973
@ternite I fixed it.
https://www.tensorflow.org/install?hl=en
![Screenshot from 2021-07-28 13-21-04](https://user-images.githubusercontent.com/33194443/127263222-0abca4f2-1263-4291-b753-8a871e821646.png)

[2021-07-28 04:25] zuyezheng commented on #50964
Created https://github.com/keras-team/keras/issues/15012, thanks.

[2021-07-28 04:25] #50964 closed

[2021-07-28 04:31] VoNhatVinh commented on #33925
tensorflow 2.6.0rc0 works for me

[2021-07-28 05:28] tilakrayal commented on #50971
@Saduf2019 ,
I was able to reproduce the issue in tf [v2.6](https://colab.research.google.com/gist/tilakrayal/1e490fbef49f3e0b81229fd97b538588/2-6xray_classification_with_tpus.ipynb#scrollTo=l73bljfopCML) and in [v2.4](https://colab.research.google.com/gist/tilakrayal/4402177ef22d4c65a0f1f42bce61b3f1/2-4xray_classification_with_tpus.ipynb) and [v2.5](https://colab.research.google.com/gist/tilakray

[2021-07-28 05:34] Shion7581 opened #50990 "Help Me 😅"
Can Anyone tell me why is this happening? I am new to Python so it might be a silly issue 😅
![dfhdfhdtr](https://user-images.githubusercontent.com/70793550/127268620-ba792466-e339-4231-95a3-d66d4fed52b5.JPG)

[2021-07-28 06:10] tilakrayal commented on #50869
@xmy19029 ,

In order to reproduce the issue,can you please provide the exact link for the code or colab gist.It helps to debug the issue in our environment.Thanks!

[2021-07-28 06:19] bensuperpc commented on #50990
i think you need to install the python package: pillow
`pip install Pillow`

[2021-07-28 06:19] ZhongxuanWang commented on #255
This doesn't solve my issue. I ran `tf.config.list_physical_devices()` and I still can't see the GPU displayed, despite that error message is gone.

[2021-07-28 06:31] tilakrayal commented on #50990
@Shion7581 ,
Can you please take a look at this [link](https://www.geeksforgeeks.org/python-pillow-a-fork-of-pil/) for more information.It helps.Thanks!

[2021-07-28 06:32] tilakrayal commented on #50990
This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) since it is not a TensorFlow bug or feature request. There is also a larger community that reads questions there. Thanks!

[2021-07-28 06:37] longlm-vnlab commented on #34775
Same issue

[2021-07-28 06:40] sushreebarsa commented on #42280
@tanguycdls  It looks like you are using an older Version of Tensorflow (2.3). Many bugs have been fixed in the latest version. Can you please execute your code using Latest Version (2.4.1 or 2.5.0) and let us know if the issue still persists? Thanks!

[2021-07-28 06:41] tilakrayal commented on #50979
@peteboothroyd ,

Please post this issue on keras-team/keras repo.
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-28 06:44] sushreebarsa commented on #42405
@spratik It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest stable version of TF (2.4.1 or 2.5.0) and let us know if the issue still persists? Thanks!

[2021-07-28 06:46] tanguycdls commented on #42280
@sushreebarsa Yes the issue persists, the workaround is to create a custom tf dataset and then we no longer call the check_data_cardinality function.
This is why I believe the behavior is strange, if you create a dataset using predict directly it breaks, if you create beforehand the tf dataset it works.

[2021-07-28 06:58] Saduf2019 commented on #50973
Moving this to closed status as issue is resolved.

[2021-07-28 06:58] #50973 closed

[2021-07-28 07:08] alpha-256 commented on #45238
I am having a similar situation on LSTMs, however I (knowing it might be bad idea): I lowered my sequence length from 32 -> 16 -> 8 -> 4, 4 finally gets me to epoch 60 and beyond (still running)

It was certainly a RAM (16GB) resource exhaust.

It's interesting to see that 70GB still managed to resource exhaust.

Has this problem been solved yet?

[2021-07-28 07:33] Saduf2019 commented on #50951
@Drulludanni

Could you please refer to these links:[link](https://github.com/tensorflow/tensorflow/issues/32743), [link1](https://github.com/tensorflow/tensorflow/issues/34135#issuecomment-716980570) and let us know.

[2021-07-28 07:57] Saduf2019 commented on #50956
@BogdanRuzh
Code provided is not sufficient to replicate th eissue faced, Can you replicate the issue in colab gist and share for us to analyse.

[2021-07-28 07:57] UsharaniPagadala commented on #50980
@lamyiowce

Could you please refer similar issues [#30580](https://github.com/tensorflow/tensorflow/issues/30580) and  [#48268](https://github.com/tensorflow/tensorflow/issues/48268) ,let us know if it helps.Thanks

[2021-07-28 08:02] sushreebarsa commented on #45467
@shlomi-amitai Could you please try on latest stable version of tf 2.5 and let us know if this is still an issue.Thanks!

[2021-07-28 08:03] sushreebarsa commented on #45483
@HoangTienDuc It looks like you are using an older Version of Tensorflow (2.3). Many bugs have been fixed in the latest version. Can you please execute your code using Latest stable version of TF (2.4.1 or 2.5) and let us know if the issue still persists? Thanks!

[2021-07-28 08:07] sushreebarsa commented on #45546
@emadboctorx Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-28 08:08] #49227 closed

[2021-07-28 08:17] yuyecreus commented on #50896
Solved in [https://github.com/tensorflow/tflite-support/issues/616](url)

[2021-07-28 08:17] #50896 closed

[2021-07-28 08:20] sushreebarsa commented on #45927
@fadelgaber Could you please try as per the above comment  and let us know if this issue still persists ?Thanks!

[2021-07-28 08:40] vandenheuvel commented on #45063
@sushreebarsa This bug has been successfully reproduced. Please remove the `awaiting response` label.

[2021-07-28 08:42] sushreebarsa commented on #46107
@N1ckx Could you please let us know if you have tried as per [this comment](https://github.com/tensorflow/tensorflow/issues/46107#issuecomment-758466789) and  this issue still persists ? Thanks!

[2021-07-28 08:45] aymeric75 commented on #50975
Hello, thank you for your support . You can see on the list of my conda env that the version of tensorflow is 2.4 as well as for tensorflow-gpu.

The PBS file I use also load CUDA 11.2.2 and cuDNN 8.1.1, here it is:
[code]

Regards

Aymeric

[2021-07-28 08:50] peteboothroyd commented on #50979
Thanks for the pointer @tilakrayal . Looking at the keras repo I can see that this has already been [fixed](https://github.com/keras-team/keras/commit/fe31a34aa3447c5a7a768a8f61dcfd022ac2467b#diff-85c5529af75b28bafb4ddf95a2f4909eb6016ebd747ee62d3308bb738a7cfc80) in 2.6.0 there, so this issue is no longer relevant

[2021-07-28 08:50] #50979 closed

[2021-07-28 09:09] #47326 closed

[2021-07-28 09:27] UsharaniPagadala commented on #50945
@tarik0

Could you please refer similar issues [comment](https://stackoverflow.com/questions/61659414/attributeerror-module-tensorflow-has-no-attribute-cudnnlstm) and also refer this [documentation](https://www.tensorflow.org/guide/keras/rnn#performance_optimization_and_cudnn_kernels) for more information,let us know if it helps.Thanks

[2021-07-28 09:31] arolet commented on #50448
@lu-wang-g your exact code works! I have tried to check what the difference with mine is and it looks like the problem only arises with non-square images.

More specifically I created this function:

[code]

It gives the crash I described the other day if "width!=height" (width=100 and height=200 in my test). If I replace the first line with dimensions in the wrong order, then there is no crash an

[2021-07-28 09:55] UsharaniPagadala commented on #50859
@suneeta-mall

I was able to reproduce the code shared in tf2.5 with no errors.Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/45e8e99b7870e1f81b115d88c7f72ed3/tf-bug-50859-v2optimizer.ipynb) and let us know if it helps.Thanks

[2021-07-28 10:01] Saduf2019 commented on #50968
@blcyzycc
Please check these issues:[ link](https://stackoverflow.com/questions/51296173/failed-to-compile-fragment-shader-when-using-tensorflow-on-angular),[link2](https://github.com/tensorflow/tfjs/issues/1644) in case the issue still exist please create an issue @ [this repo](https://github.com/tensorflow/tfjs/issues/) and move this to closed status.

[2021-07-28 10:05] Saduf2019 commented on #50944
@Photonico
Please refer to [this link ](https://medium.com/analytics-vidhya/install-tensorflow-2-for-amd-gpus-87e8d7aeb812)and let us know.

[2021-07-28 10:17] tilakrayal commented on #50982
@markalavin ,

In order to expedite the trouble-shooting process, could you please provide the complete code and tensorflow version to reproduce the issue reported here.Thanks!

[2021-07-28 11:11] Koushik667 commented on #50801
Hello, i was able to build from source in a linux machine(Ubuntu 18.04.5). However i am getting this errror after i add the necessary ops required in the code.
`Hello from TensorFlow C library version 2.6.0-rc1
The elapsed time is 0.000060 seconds
INFO: Created TensorFlow Lite delegate for select TF ops.
2021-07-28 11:52:42.296825: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFl

[2021-07-28 11:17] lamyiowce commented on #50980
Thank you for the tips. However, both of those are supposed to be fixed in TF 2.6 and none of the methods showed there helped me.

[2021-07-28 11:28] suneeta-mall commented on #50859
@UsharaniPagadala That's excellent .. thanks for testing it for now .. any chance we backport the fix to 2.4?

[2021-07-28 11:44] rmothukuru commented on #50988
@Yoline777,
Can you please check the [documentation of Pruning](https://www.tensorflow.org/model_optimization/guide/pruning/pruning_with_keras) and let us know if it helps? Thanks!

[2021-07-28 12:15] reuvenperetz opened #50992 "reduce_sum in tflite outputs is incorrect"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.5.0

### 2. Code

Provide code to help us reproduce your issues using one of the following options:

[code]

### 3. Failure after conversion
If the conversi

[2021-07-28 12:21] reuvenperetz opened #50993 "fake quant in tflite ignores the num_bits that is passed"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.5.0

### 2. Code

[code]

### 3. Failure after conversion
If the conversion is successful, but the generated model is wrong, then state what is wrong:
When

[2021-07-28 12:44] Diego87P commented on #6548
I solved it installing by 'conda install tensorflow', running CMD as Administrator.

[2021-07-28 12:47] tilakrayal commented on #50975
@aymeric75 ,

As mentioned in tested build configurations tensorflow v2.4 is compatible with CUDA 11.0 and cuDNN 8.Can you please try to [install](https://www.tensorflow.org/install) with the compatible configurations and let us know if you are facing same issue.Also Installation issues within the Anaconda environment are tracked in the Anaconda repo.Thanks!

[2021-07-28 13:17] michaelbenayoun commented on #48959
No, I found a workaround for what I was doing, no worries!

[2021-07-28 13:39] Dwalinnewyork opened #50994 "Dependency Tree for tflite-model-maker 0.2.5 on Pypi"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2021-07-28 13:41] markalavin commented on #50982
Tilak, thanks! for the quick response.   The versions of code I'm using are "tf.version 2.5.0 tfp.version 0.13.0" and I'm running on Google Colab (for a Coursera course).   You *should* be able to reproduce the issue with the code I've supplied plus the following imports:
[code]

[2021-07-28 13:49] felithium commented on #50307
Can this be reopened? This feature is not supported yet afaik.

[2021-07-28 13:53] ioannesKX commented on #47622
Managed to compile and run the examples on Spike so I think it's resolved now: https://github.com/tensorflow/tflite-micro/issues/311 @chuantunglin

[2021-07-28 13:54] #47622 closed

[2021-07-28 13:57] sbushmanov commented on #50943
[code]

[code]
[code]

[2021-07-28 14:05] markalavin commented on #50982
@tilakrayal , I am attaching a Python notebook, zipped.   Hopefully, you can reproduce the problem with it.   Let me know if it works....

[Test_Case.zip](https://github.com/tensorflow/tensorflow/files/6893703/Test_Case.zip)

[2021-07-28 14:23] MeghnaNatraj commented on #50801
Here are a couple of suggested solutions:
1. [#28287#comment](https://github.com/tensorflow/tensorflow/issues/28287#issuecomment-495005162)
2. (related to 1.)[StackOverflow: Solution A](https://stackoverflow.com/questions/56513905/not-found-container-localhost-does-not-exist-when-i-load-model-with-tensorflow) and [StackOverflow: Solution B](https://stackoverflow.com/questions/54772549/container-lo

[2021-07-28 14:42] Saduf2019 commented on #50971
@LanceNorskog
Please post this issue on keras-team/keras repo.
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-28 14:42] #50971 closed

[2021-07-28 14:59] mihaimaruseac commented on #48550
I think this is resolved, right?

[2021-07-28 14:59] #48550 closed

[2021-07-28 14:59] webster1309 commented on #50928
@tilakrayal,

thx, this helped

[2021-07-28 15:09] #50763 closed

[2021-07-28 15:44] mimikuo365 commented on #15751
Hi there! I worked on the problem for several days and would like to share how I solved it.
I use `adb logcat > log.txt` to get the error code.
Program crashes with `FATAL EXCEPTION: CameraBackground` and `java.lang.IllegalArgumentException: Cannot copy to a TensorFlowLite tensor (image) with 150528 bytes from a Java Buffer with 602112 bytes.`.
After searching on Stack Overflow, I solved the probl

[2021-07-28 16:03] emadboctorx commented on #45546
The problem was solved by modifying the implementation

[2021-07-28 16:03] #45546 closed

[2021-07-28 16:12] tilakrayal commented on #50928
@webster1309 ,
Glad the suggestion worked for you,please move this to closed status.Thanks!

[2021-07-28 16:28] saikumarchalla commented on #50809
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-07-28 16:28] #50809 closed

[2021-07-28 16:31] #50963 closed

[2021-07-28 16:37] thisisjoshstone commented on #50924
@broken @thaink Thanks for the quick feedback!! I've been continuing to work on this based on your suggestions. (I wasn't able to get it working yet with that tflite-support library, but it looks really cool -- will try again to use it in the future.) In case others are interested, I was able to finally get builds working by applying the diff I've included here.

<details><summary>Diff</summary><p

[2021-07-28 16:37] #50924 closed

[2021-07-28 16:37] saikumarchalla commented on #50749
@obtu  Closing the issue here since issue was created in keras repo.

[2021-07-28 16:37] #50749 closed

[2021-07-28 16:39] saikumarchalla commented on #50752
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-07-28 16:39] #50752 closed

[2021-07-28 16:41] jiangno111 commented on #28840
why closed?i have the same problem in tf2.5

[2021-07-28 16:41] saikumarchalla commented on #50769
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-07-28 16:41] #50769 closed

[2021-07-28 16:42] saikumarchalla commented on #50802
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-07-28 16:42] #50802 closed

[2021-07-28 16:43] saikumarchalla commented on #50824
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-07-28 16:43] #50824 closed

[2021-07-28 16:50] ymodak commented on #50658
I am sorry but I don't think I follow.  Can you please elaborate how you solved the issue?

[2021-07-28 16:59] pranathibl commented on #50953
I need to get information on whether the Model accepts sequence input (RNN) or non-sequence input.

I have a TFLite Model. I want to detect whether the model is sequence type or not.

For that I have written code to identify, If its non-sequence, N,H,W,C is the data format. If its sequence, N, S,C is the order .

Is there an API to identify the type of model

[2021-07-28 16:59] #49377 closed

[2021-07-28 17:19] Photonico commented on #50944
Thanks a lot for your reply. I have installed ROCm.
However, ROCm current version 4.2 does not support my graphic card: RX6800XT(gfx 1030).
I need to wait for the ROCm 4.3 released.

[2021-07-28 17:20] #50928 closed

[2021-07-28 17:22] broken commented on #50924
I'm glad you got it working, and thanks for such a detailed closing comment for the people of the future.

[2021-07-28 17:37] akkshay0107 commented on #50950
i have tried doing the build with and without passing optimization flags

Without optimization flags, the error remains the same
[code]
with optimization flags (/arch:AVX2 and /arch:AVX512) passed to configure.py i get a protocompile error
[code]

[2021-07-28 18:22] srjoglekar246 commented on #50957
TFLite uses a custom implementation of Non Max Suppression, which is the postprocessing step in EfficientDet. Currently, it does not support batch size > 1.

We should probably take a few steps to address this:
1. Return an error during allocate_tensors() (from the kernel's Prepare method) if the input tensors have batch size > 1. (Right now it will fail at inference time, but there is no Prepare-

[2021-07-28 18:43] Saduf2019 commented on #50944
@Photonico
Can we please move this to closed status and open in case you face any issues after release.

[2021-07-28 18:43] bxshi commented on #50433
Hi @jvishnuvardhan and @saikumarchalla, could you please help ping someone from Google and give me some actionable instruction on fixing this? Thank you!

[2021-07-28 19:09] lu-wang-g commented on #50448
If you remove the `Log` right after `allocateTensors()`, it will work. Calling `interpreter.getOutputTensor(0)` will create the Java output tensor from the native layer immediately. Right after `allocateTensors()`, the output tensor shape remains [1, 1, 1, 16]. It will not be refreshed in `runForMultipleInputsOutputs`. Therefore you ended up with the issue that "Cannot copy from a TensorFlowLite t

[2021-07-28 19:19] aafaqin commented on #45930
I directly installed
Nvidia Driver, CUDA, CuDnn whatever newer versions from the archive i got still i got this error but after running conda install cudatoolkit everything started working properly.
Thank you so much.

[2021-07-28 20:09] #47884 closed

[2021-07-28 20:09] #50614 closed

[2021-07-28 20:09] #25181 closed

[2021-07-28 20:13] #46495 closed

[2021-07-28 20:19] ivanlen commented on #50957
@srjoglekar246 thanks for the clarification.

Actually, per-image inference is very slow. That is why I was trying to speed up the process by using a batch size > 1.
Do you have any suggestion on how to speed up the inference times?

Cheers,

Cheers.

[2021-07-28 20:21] ymodak commented on #45494
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-07-28 20:21] #45494 closed

[2021-07-28 21:04] srjoglekar246 commented on #50957
Are you trying this on a desktop only, or do you want to deploy to mobile phones? THe solution varies based on device & API you use :-)

[2021-07-28 21:10] tomerk commented on #50741
This is unfortunately unfixable in the near future as it would require more significant refactoring of the dispatching mechanism TF operators use. Similarly, gradients on KerasTensors themselves are currently unsupported.

I believe it should work if you put this inside a custom keras layer.
Will close for now, though perhaps it will be revisited in the future.

[2021-07-28 21:10] #50741 closed

[2021-07-28 21:20] charleswilmot commented on #48230
Not so straightforward

[2021-07-28 21:29] ymodak commented on #28840
@jiangno111  Can you please post a new issue and provide a minimal code to reproduce the bug? Thanks!

[2021-07-28 21:46] ivanlen commented on #50957
Both actually.
First I want to try different efficiendet models: make some inference with a test set and get some metrics.
Then, I would like to deploy the best model into mobile phones. On mobile I am going to run with a batch size=1, but on desktop I would like to test as fast as I can.

Currently inferencing with batch size = 1 takes like 4/5 seconds per image which is really slow.

[2021-07-28 21:47] SeeForTwo commented on #46996
Thank you for filing this issue.

1. Regarding having a graceful exception message if the input is invalid instead of Nan as output: Generating NaNs on rare occasions may not significantly impact training or inference, if the model is robust to such bad values.  However, generating an exception would stop the process, causing the training or inference to fail. Outputting NaN is therefore preferabl

[2021-07-28 21:53] cristianl1251 commented on #50946
Hey, I still couldn't make it work.

When I build TensorFlow Lite using selective build to generate the library and use the library with JNI, my app in Android Studio builds. However, when I flash it to the mobile it cannot load the library. For selective build I use:

[code]

In order to verify whether the issue was related to the selective build or not, I also tried building without selective bu

[2021-07-28 21:55] srjoglekar246 commented on #50957
Yeah, TFLite kernels aren't optimized for desktop inference, so they can be slower than the corresponding TF versions. A few ideas for desktop:

1. Try running the Interpreter with num_threads = 2 or 4. That *might* improve latency depending on your device, but its not guaranteed.
2. Since the EfficientDet model itself is small, you can just create multiple Interpreters & run them parallely in thr

[2021-07-28 22:19] abattery commented on #50946
Could you share how the compiled shared object is not working on the mobile app? If possible, could you share the error message you've got?

[2021-07-28 23:23] hksonngan commented on #50658
[10:15 AM] David Guigonis
    I am using the dll/lib provided on the web site directly (C API - https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-gpu-windows-x86_64-2.3.0.zip). We also do not have access to VS2019 to try. We are working with VS2017. I did build the dll/lib myself and I am getting the same issue than the downloaded files. We want to use the pre-built files for p

[2021-07-29 01:28] eigmax commented on #50989
@saikumarchalla , Could you please tell me what the right way to upgrade grpc？

[2021-07-29 01:30] duanbing commented on #50989
hi, @saikumarchalla , would you plz tell me the right way to upgrade GRPC?

[2021-07-29 01:38] daverim commented on #50993
Currently TFLite doesn't support any quantized data type with bitwidth less than 8, so even though the fake quant op seens to be working in TF, when converted to TFLite, (with default optimization) it will assume that the requested behavior is to produce an 8bit operation (quantize to 8 bits). In the future we may support 4bit and ternary types, but at the moment, there is no way to get the behavi

[2021-07-29 01:38] #50993 closed

[2021-07-29 01:47] arolet commented on #50448
@lu-wang-g oh it does work without the log, that's great thanks!!!

So as long as I know the output size before-hand it should be fine I guess. I will try with my actual model (for which the output size is not actually the same as the input size) and close the issue if it works.

[2021-07-29 02:03] #50968 closed

[2021-07-29 02:22] Cheney-W commented on #50966
@Saduf2019
The related PR has been merged, but the max version of bazel is still 3.99.0.
I saw Mihai Maruseac changed the value to 4.1.0 but then changed it back.
For the moment, this problem still exists.

[2021-07-29 03:04] aingo03304 commented on #50981
I found that when I have `FixedLossScale` policy , the graph is not seperated. I think the problem is in `DynamicLossScale`.

[2021-07-29 03:05] aingo03304 commented on #50981
https://github.com/tensorflow/tensorflow/issues/34047
Maybe related to this issue.

[2021-07-29 03:15] Shion7581 commented on #50990
Thank you everyone for telling me the solution appreciate your kindness :)

[2021-07-29 03:16] NeoZhangJianyu commented on #50574
@utzWeischerFujitsu
In your case, have you set "--config=mkl" in the build cmd?

[2021-07-29 03:20] NeoZhangJianyu commented on #50574
@coderforlife
In your case, there is error of the build setting:
  CUDA and "--config=mkl" can't be present in same time.
  There is conflict of them in code path to implement the same OPs (like Conv2d). The result is unknown.

Please keep one of them in your build setting.

[2021-07-29 03:31] aingo03304 commented on #50981
### Base code

[code]

Regardless of experimental or stable, the mixed precision training has

[2021-07-29 03:42] aecelaya commented on #45557
I'm having the same issue. Is there any update to this?

[2021-07-29 03:57] tilakrayal commented on #50990
@Shion7581 ,
Glad the issue is resolved for you, please feel free to move this to closed status.

[2021-07-29 04:09] #49162 closed

[2021-07-29 04:30] #50990 closed

[2021-07-29 04:48] sjang92 commented on #43706
@mhorlacher , could you re-open this issue? This deserves proper attention. This issue prevents users from decoding tensors in batched tf.data pipelines

[2021-07-29 04:59] Saduf2019 commented on #50777
Moving this to closed status pr is merged.

[2021-07-29 04:59] #50777 closed

[2021-07-29 05:04] arolet commented on #50448
I tried with my actual model, and TL;DR: it now works.

If there is an `getOutputTensor()` anywhere before `runForMultipleInputsOutputs()` though, then I get the error I described earlier, even if it is also before `resizeInput()` and `allocateTensors()`. So basically I had to remove all calls to `getOutputTensor()` (I had some just after the interpreter instantiation to get the number of output c

[2021-07-29 05:04] #50448 closed

[2021-07-29 05:10] aingo03304 commented on #50981
The problem was when `DynamicScaleLoss` is enabled, few iterations spend some time to figure out if the gradient has underflowed value. After it converges, it emits weight update kernels properly.

[2021-07-29 05:10] #50981 closed

[2021-07-29 05:20] jvishnuvardhan commented on #45557
@k-w-w Please take a look at this issue? Thanks!

[2021-07-29 05:29] penpornk commented on #50607
Hi @yanzhang-dev,

Sorry for the delay!

[TF_VARIANT](https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/c/tf_datatype.h;l=69;drc=9849fde5e7b4da4b630ffbc517fad68b2b811c0c) / [DT_VARIANT](https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/core/framework/types.proto;l=40;drc=7c3f96bf324cebe443a7eb814ce771c66c073998) is a data type that is used to encapsulate C

[2021-07-29 05:37] sayakpaul commented on #49182
Ccing @robert-crowe.

Facing a similar problem.

[2021-07-29 06:18] tilakrayal commented on #50994
@Dwalinnewyork ,

We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled, could you please do so as it helps us analyse the issue.Thanks!

[2021-07-29 06:35] tilakrayal commented on #50888
@HelloWorld19930113 ,

I was able to execute the mentioned code without any error.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/aa1f3b8b48c220bb1b66a11c2d9145fe/untitled350888.ipynb).Also please go take a look at [link](https://www.tensorflow.org/api_docs/python/tf/cast) for more information on tf.cast.It helps.Thanks

[2021-07-29 06:43] sushreebarsa commented on #46983
@aaltonenzhang Could you please update as per the above comment and let us know if this issue still persists ? Thanks!

[2021-07-29 06:46] sushreebarsa commented on #48146
@ibreschi Could you please try as per the above comment  and let us know if this issue still persists ? Thanks!

[2021-07-29 06:54] sushreebarsa commented on #46565
@TLCFYBJJHYYSND Could you please try as per the above comment and let us know if this issue still persists ? Thanks!

[2021-07-29 07:01] sushreebarsa commented on #46163
@jfinken
It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Can you please execute your code using Latest stable version of TF (2.4.1 or 2.5) and let us know if the issue still persists? Thanks!

[2021-07-29 07:06] tahaabdolkarimi commented on #50977
@UsharaniPagadala

As far as I got it, the issue relates to the TF, because the TensorFlow Recommenders (tfrs) is based on Tensorflow and the Issue Tracking on the official Website reffer to this Github page. You can also take a look to the link that I mentioned at perious comment. Thanks in advance.

[2021-07-29 07:39] ptxmac commented on #43847
Yes this is still a problem. tensorflow/go can only be used with bazel, or by building a localversion and putting it in vendor.

For anyone else struck here, @galeone is maintaining a fork with the propobuf files compiled: https://github.com/galeone/tensorflow (He also have a wrapper for making it even easier to use tensorflow in go: https://github.com/galeone/tfgo )

[2021-07-29 07:41] tilakrayal commented on #50952
@Saduf2019 ,
I was able to reproduce the issue in tf v2.5 and nightly, in v2.4 i was able to execute the code without any warning.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/be9cde87e4572e7298359ac59870d0bf/untitled50952.ipynb).

[2021-07-29 07:42] xinsuinizhuan opened #51025 "Could provide the different platforms compiled release file, as widows lib and in(cpu gpu) and linux .so?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-07-29 08:13] jiweibo commented on #45481
Hi, @tfeher can tf-trt dynamic_batch support the situation of being divided into multiple trt subgraphs now?
And how should we set the shape information of the min, max, and opt of the internal subgraph?

![image](https://user-images.githubusercontent.com/26377421/127456355-b87ee9f3-2ccf-4bc9-a92f-c98aaf0fc4fe.png)

[2021-07-29 08:17] barbaragabriella opened #51026 "TensorFlow Lite C API full example"
Is there any example fully in C language using Tensorflow Lite C API? More specifically for image classification or object detection? I have not been able to find any TensorFlow example in C.

[2021-07-29 08:33] ibreschi commented on #48146
@sushreebarsa  I did not managed to fix the issue using TF2.3.
I'm trying to compile using 2.4 witch has the commit mentioned above, I'll let you know as soon as I managed to do it.

[2021-07-29 08:46] er778899789 opened #51027 "Worse predict result from keras h5 model convert to tensorflow frozen pb model"
Hi everyone,
I have try to convert my keras h5 model to tensorflow frozen pb model.
I want to use this pb model in Microsoft ML.net to classify images.
I successfully convert the model to frozen pb, but I get the worse predict result than h5 model.
Some classes can predict well like original model, some classes will get the bad result.
Anyone try this before? Please help me, THX!!

[2021-07-29 09:12] sushreebarsa commented on #51026
@barbaragabriella Could you please refer to this [link](https://www.tensorflow.org/lite/guide/android#use_tflite_c_api) and let us know if it helps ? Thanks !

[2021-07-29 09:17] barbaragabriella commented on #51026
The instructions there say to download TensorFlow Lite AAR hosted at MavenCentral which leads to the started page https://search.maven.org/. Which project is it referring to exactly?

[2021-07-29 09:19] Drulludanni commented on #50951
Neither of those links are helpful. The reason the code wont run is because there is no edgetpu connected to the colab, and that is the problem I don't know how to either have an edgetpu connected to the colab or how to fake the edgetpu being there with some kind of edgetpu emulation and as far as I'm aware nobody has done/tried that which is why I don't think I can ever make the google colab work

[2021-07-29 09:55] szihs opened #51029 "Query About tflite interpreter usage"
Is it possible to provide input/output memory (pointer) for running inference..
[](https://www.tensorflow.org/lite/api_docs/cc/class/tflite/interpreter)

From the snippet below
[code]
1) Does `AllocateTensors()` create memory for input & intermediate & output layers?
2) How can I provide my buffer memory pointer (virtual mem) directly so to avoid setting the memory content.

Regards,
Harsh

[2021-07-29 10:12] sushreebarsa commented on #51026
That link is not proper for downloading AAR which is used in TFlite projects, you may refer to these two already prepared Tensorflow lite AAR.
https://search.maven.org/artifact/org.tensorflow/tensorflow-lite-task-text
https://search.maven.org/artifact/org.tensorflow/tensorflow-lite-task-vision
This two mavens can be used in build file as following inside the android code

dependencies {
    implem

[2021-07-29 10:18] Photonico commented on #50944
of course

[2021-07-29 10:20] marko19a opened #51030 "TfLite python delegate support for RB5 robotics platform"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
Robotics RB5 Platform
Linux qrb5165-rb5 4.19.125 aarch64 GNU/Linux
CPU: Qualcomm QRB5165
RAM: 8G

[2021-07-29 10:31] ronykalfarisi commented on #37942
I have confirmed just now, **updating the driver solve the problems** on Windows 10. Before my NVidia driver was 460.89 and after I upgraded to 470.41 it works flawlessly.

[2021-07-29 11:08] tilakrayal commented on #50982
@markalavin ,
Please post TFP related issues in [TFP repository](https://github.com/tensorflow/probability/issues) so that TFP experts will respond and resolve issues. Thanks!

[2021-07-29 11:12] #50944 closed

[2021-07-29 11:37] UsharaniPagadala commented on #50859
@suneeta-mall

We don't frequently backport the fix to the previous versions. Recommend you to upgrade to the latest stable Version.Thanks

[2021-07-29 11:49] dx-xp-team commented on #43661
Hi,

I have the exact same problem and coredump.
I have searched everywhere and I did not found any solution to this issue.
The problem is still reproducible on latest version (2.7.0-dev20210729) through the Collab link : https://colab.research.google.com/gist/amahendrakar/9253e439795b5ccf487ada3ab385bb90/43661-tf-nightly.ipynb

I would be nice to have some feedback/investigation why the crash occ

[2021-07-29 12:06] Koushik667 commented on #16481
Hi @mrry @eaplatanios can you please take a look if the issue #50801 is related to this in any way?
Thanks in advance :)

[2021-07-29 12:20] Koushik667 commented on #50801
Hi Meghna, Thanks for the response

 I looked into all the three links, still couldn't understand what is causing the issue or the solution, the first 2 links talk about loading the model in python environment whereas i am loading it in a C environment. i dont fully understand the following sentence by @mrry i have also attached the C code which i am using to load the model in the above post.

[2021-07-29 12:26] UsharaniPagadala commented on #50843
@rmothukuru

I was able to replicate the issue reported here.Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/224d60bca5d8c305867aec32beabba2f/-50843.ipynb#scrollTo=9Tx5QJ30BYv2).Thanks

[2021-07-29 12:27] Koushik667 commented on #50801
Hi Meghna, Thanks for the response.
I don't understand how i can use the 1 and 2 points you have mentioned as i am using a C API whereas they are using Python API for inference.
About the 3rd link, i did not understand the following comment by @mrry :

Does it mean i have to essentially train the model in the same device and then load the model in the same device for it to work?

[2021-07-29 12:37] UsharaniPagadala commented on #50594
@kurudinesh

Could you please provide the colab gist with all the dependencies to analyse the issue better.Thanks

[2021-07-29 12:48] UsharaniPagadala commented on #50637
@rmothukuru

I was able to replicate the issue reported here.Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/2c404dad2b1abe24fab6f75ad5ab0df0/tf-model-fit-hangs-with-dataset-generator.ipynb).Thanks

[2021-07-29 13:01] ivanlen commented on #50957
Thanks for your feedback.

1. I tried to run with num_threads>1 but to be honest I didn't find an overall improvement, still the inference is quite slow for a test set of 2k images.
2. I will try this option.

Since num_threads > 1 doesn't scale very good (at least in my case) I think that option 2 probably is the most suitable for my case.

I will investigate on the delegate, thanks.
Regarding th

[2021-07-29 13:01] UsharaniPagadala commented on #50685
@gititgo

Could you please provide the colab gist to analyse the issue better.Thanks

[2021-07-29 13:09] #50784 closed

[2021-07-29 13:13] UsharaniPagadala commented on #50977
@tahaabdolkarimi

Fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new?assignees=&labels=type%3Abug&template=00-bug-issue.md)

Could you please provide the colab gist with all the dependencies to analyse the issue better.Thanks

[2021-07-29 13:21] UsharaniPagadala commented on #50774
@rrklearn2020

Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-29 13:40] arjun-majumdar commented on #41320
Team, any update on this

[2021-07-29 13:44] Extremesarova opened #51031 "Installation of tflite-model-maker 0.3.2. takes forever"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Windows 10 Enterprise
- TensorFlow installed from (source

[2021-07-29 13:45] talipini commented on #50637
Thank you. Appreciate any color on this.

[2021-07-29 13:51] saikumarchalla commented on #51031
@Extremesarova  I can able to install it properly and it took less than a minute. Please check the [colab](https://colab.research.google.com/gist/saikumarchalla/ca054239bda81200ac1c532a1c8cc253/untitled117.ipynb) gist. Thanks!

[2021-07-29 14:05] Extremesarova commented on #51031
Thank you for fast response. I've tried installation under Ubuntu also right now - same as on Windows.
Attaching updated logs from installation which started over 30 minutes ago and still continues (and on Ubuntu too).
[pip install tflite-model-maker_updated.txt](https://github.com/tensorflow/tensorflow/files/6901076/pip.install.tflite-model-maker_updated.txt)

Can you check on a local machine?

[2021-07-29 14:08] Extremesarova commented on #51031
The same situation is happening even on a freshly created venv

[2021-07-29 14:15] Extremesarova commented on #51031
In Colab python version is 3.7.11. Maybe it influences the installation process somehow.

[2021-07-29 14:17] Saduf2019 commented on #50950
@akkshay0107
Could you please try this in 2.5 and let us know, as per [this comment](https://github.com/tensorflow/tensorflow/issues/45823#issuecomment-854892564) it should not occur. [as master branch is subjected to changes and is work in progress please verify on a stable version]

[2021-07-29 14:30] tilakrayal commented on #51025
@xinsuinizhuan ,

In order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Bazel

[2021-07-29 14:32] tilakrayal commented on #51025
For more information on tensorflow version release,please take a look at this [link](https://github.com/tensorflow/tensorflow/releases).It provides the details regarding the releases.It helps.Thanks!

[2021-07-29 14:47] sushreebarsa commented on #39082
@mattangus It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5.0 and let us know if the issue still persists? Thanks!

[2021-07-29 14:50] sushreebarsa commented on #30715
@guillaumekln It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5.0 and let us know if the issue still persists? Thanks!

[2021-07-29 14:55] mattangus commented on #39082
I think this issue can be closed. I no longer have access to the machine that was causing problems so I cannot test if an upgrade would work.

[2021-07-29 14:55] #39082 closed

[2021-07-29 15:16] nibydlo commented on #41448
Same problem,  TF 2.5.0

Expected `class_weight` to be a dict with keys from 0 to one less than the number of classes, found {'output_1': ...}

[2021-07-29 15:24] guillaumekln commented on #30715
I ran the code again with TensorFlow 2.5.0 (`experimental_run_v2` should be replaced by `run` to make it work). I'm still seeing the same issue: the usage of each GPU is very low at around 20%.

[2021-07-29 15:51] sushreebarsa commented on #40956
@filzek
It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest stable version of TF 2.4.1 or 2.5.0  and let us know if the issue still persists? Thanks!

[2021-07-29 16:34] tfeher commented on #45481
Yes, dynamic shape mode supports graphs that have multiple TRT subgraphs. There is a known issue https://github.com/tensorflow/tensorrt/issues/251, which occurs if the trt_engine_op is trying to output shape tensors. Otherwise it should work.

You only need to set the shape information for the inputs of the model. From these we calculate the size of any tensor in the graph, and set input shape inf

[2021-07-29 17:21] MarkDaoust commented on #50645
@enigmaeth

Afroz you're the original author of this doc, do you have any ideas?

[2021-07-29 17:48] Engineero commented on #51031
I'm having the same issue. It seems like pip is not able to resolve the dependency tree and downloads/checks many versions of most packages, including building a ton of wheels. I've tried this on Ubuntu and Mac OS. After about 18 hours I finally got an error on Ubuntu (Mac is still running). Traceback below:

[code]

An example of how it is trying to resolve dependencies. I've never seen pip do th

[2021-07-29 18:36] srjoglekar246 commented on #45467
@shlomi-amitai Is this still relevant?

[2021-07-29 18:41] cantonios commented on #50796
@fsx950223 thanks for finding this.  We will gladly welcome a fix.

[2021-07-29 19:00] rainwoodman commented on #50474
@rakshit291

Are you referring to the ViT example of Keras[1]?

The network uses a MultiHeadAttention layer which outputs probabilities generated by a softmax[2].

Because softmax preserves the ranking order, I think you may be able to insert a hardmax call after the output of MultiHeadAttention to achieve your desired effect.

[1] https://keras.io/examples/vision/image_classification_with_vision_

[2021-07-29 20:25] Avelina9X opened #51038 "Autograph set_verbosity doc example shows using integer values for env vars, but only strings can be used"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/autograph/set_verbosity

## Description of issue (what needs changing):

The documentation usage description for setting verbosity through environment variables uses an integer value, however this is not possible as environment variables must be strings. In the current state the following code example is provided:

[code]

How

[2021-07-29 21:09] #50746 closed

[2021-07-29 21:27] nouiz commented on #48545
Quick update. It was also crashing on Linux. I made this PR to fix the linux crashed:
https://github.com/tensorflow/tensorflow/pull/50961

Do you know if there is nightly build for windows for you to test it?

[2021-07-29 22:22] joshua-cogliati-inl commented on #47691
An alternate fix (which also works for me) for numpy 1.20's NotImplementedError: Cannot convert a symbolic Tensor (strided_slice:0) to a numpy array error was in https://github.com/tensorflow/tensorflow/pull/49008 which was merged and then reverted:
[code]

[2021-07-29 22:40] joshua-cogliati-inl commented on #47691
Also, here is a short piece of code that fails with numpy 1.21.0 and tensorflow 2.4.1:
[code]

[2021-07-30 00:26] abattery commented on #50946
Great, thanks for sharing your success!

[2021-07-30 00:26] #50946 closed

[2021-07-30 01:05] er778899789 commented on #51027
I solve the problem.

[2021-07-30 01:05] #51027 closed

[2021-07-30 02:44] cloudhan opened #51040 "Bash Bad address if CUDA on None Standard Path"
This is a jax build. See next comment for tensorflow reproduce.

**System information**
- OS Platform and Distribution: Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version:  https://github.com/tensorflow/tensorflow/archive/8cc3ffa8d8e4dd659c1534849cf5984ef4ec3532.tar.g

[2021-07-30 02:56] albert10jp opened #51041 "Does the "p" in "pfor" stand for "print" or something?"
https://github.com/tensorflow/tensorflow/blob/bfb74e15879212c3e4573fb83cd87358e964b4be/tensorflow/python/ops/parallel_for/pfor.py#L924

[2021-07-30 03:09] #47971 closed

[2021-07-30 03:09] #50525 closed

[2021-07-30 03:10] saikumarchalla commented on #50883
@pawlick2  I can able to replicate the issue in TF 2.5 version but in TF -Nightly 2.7 i am getting different output instead of nan. Please check it once.

[2021-07-30 03:43] cloudhan commented on #51040
To reproduce it will be tricky, but extreme simple.

*I use powershell in following part, just a heads-up*

**TLDR**

`$env:TF_CUDA_PATHS = "C:/CUDA/v10.1,C:/CUDA/v10.1"` then `python configure.py` then  `bazel build //tensorflow/core/util:version_info_gen`. **Bad address error**

`$env:TF_CUDA_PATHS = "C:/CUDA/v10.1"` then `...` then  `...`. **OK**

`$env:TF_CUDA_PATHS = "C:/Program Files/NVIDIA

[2021-07-30 04:29] UsharaniPagadala commented on #50945
@tarik0

Could you please provide the colab gist with all the dependencies to analyse the issue better.Thanks

[2021-07-30 05:26] Zhiwei35 commented on #35272
Were you able to resolve this issue? I am having something similar when importing a graph with tf 2.4

[2021-07-30 05:48] tilakrayal commented on #51038
@Saduf2019  ,
I was able to reproduce the issue in tf v2.4,v2.5 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/de7a8dd4b12cdfbe135adb82ca1af253/untitle51038.ipynb).

[2021-07-30 06:47] BlueSkyyyyyy opened #51043 "bug in rsqrt"
---------------------------------------------------------------------------part 1-----------------------------------------------------------------
**my code:**
[code]

**expect the right result:**
_[9.223371843921341e+18, 9.223371843921341e+18, 9.223371843921341e+18, 9.223371843921341e+18, 9.223371843921341e+18, 9.223371843921341e+18, 9.223371843921341e+18, 9.223371843921341e+18, 9.223371843921341

[2021-07-30 07:07] sushreebarsa commented on #51040
@cloudhan Could you please take a look at the [link ](https://www.tensorflow.org/install/source_windows)( tested build configuration) for reference and let us know if it helps ?Thank you!

[2021-07-30 07:09] #37546 closed

[2021-07-30 07:09] #50247 closed

[2021-07-30 07:15] cloudhan commented on #51040
It doesn't help.

[2021-07-30 08:01] sgowroji commented on #41800
Hand tflite https://github.com/google/mediapipe/blob/master/mediapipe/modules/hand_landmark/hand_landmark.tflite

[2021-07-30 08:32] robzor92 opened #51046 "Release candidate 2.6.0rc1 is not built with HDFS support anymore?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
binary from pip
- TensorFlow version:
2.6.0rc1
- Python version:
3.7.10
- Installed using virtualenv? pip? conda?:
pip
- Bazel version (if compiling from source)

[2021-07-30 08:37] beelzmon commented on #34062
Hello all,

I had the exact same issue, I had to change my network and put in a Flatten layer before the BN, and then a Reshape() as needed after it as a work around. This seems to have helped me, i don't know if it will help others. Hasn't affected effectiveness badly for me.

[2021-07-30 09:17] sushreebarsa commented on #51046
@robzor92 Could you please take a look at the  [tested build configuration](https://www.tensorflow.org/install/source) for reference and let us know if it helps ?Thank you!

[2021-07-30 09:39] sushreebarsa commented on #35939
@aabadie It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest stable version of TF 2.4.1 or 2.5.0 and let us know if the issue still persists? Thanks!

[2021-07-30 09:39] akkshay0107 commented on #50950
@Saduf2019
i have tried it with r2.5 and r2.4 but i get a proto compile error , the only way i could fix it was moving to r2.6

[2021-07-30 09:41] TUT-jiayou opened #51047 "Inception_v4 can not node in the pb file"
HI,all

* convert tensorflow model inceptionV4 to onnx format, ``Error`` in ``tensorflow_core/python/framework/graph_util_impl.py"``
* the model url (https://storage.googleapis.com/download.tensorflow.org/models/inception_v4_2016_09_09_frozen.pb.tar.gz)
* I can find the node named ``graph/InceptionV4/Logits/Predictions`` by the scripts
[code]

# Error
[code]

**System information**
- OS Platform a

[2021-07-30 09:43] st4rfall opened #51048 "Two python versions install tf in one system one succeeds while the other fails"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS Linux release 7.5.1804

[2021-07-30 09:48] #51047 closed

[2021-07-30 09:58] robzor92 commented on #51046
Hi @sushreebarsa ! The **Tested Build Configuration** does not mentioned particular build flags, like HDFS support for example.

However I did some digging in the code and found out that HDFS and S3 support is not enabled by default anymore. https://github.com/tensorflow/tensorflow/pull/48522

Can I also confirm with you that this is the case for the builds that are published on PyPi? So basically

[2021-07-30 10:01] yongtang commented on #51046
@robzor92 Please see PR #51036 and PR #51037. HDFS is now supported through tensorflow-io PyPI package (in together with tensorflow 2.6).

[2021-07-30 10:05] robzor92 commented on #51046
That's great @yongtang I will try it out! I think this information may be missing from the current release notes for the rc1.

[2021-07-30 10:07] tilakrayal commented on #51048
@st4rfall ,

We see that you are using tf version 1.14, 1.x is not actively supported, please update to 2.x and let us know if you are using same issue.Thanks!

[2021-07-30 10:09] sushreebarsa commented on #40510
@ericqu The latest compiler release supports LSTM(Unidirectional only). Please check supported operations at https://coral.ai/docs/edgetpu/models-intro/#supported-operations for more information .Let us know if it helps? Thank you !

[2021-07-30 10:13] robzor92 commented on #51046
Or maybe not, I see it was already done. https://github.com/yongtang/tensorflow/commit/9fcaf0838677d1095a7573e36ebb4d17511af6ed

Thanks for the help! I will close this issue now.

[2021-07-30 10:14] #51046 closed

[2021-07-30 12:01] tilakrayal commented on #51043
@BlueSkyyyyyy ,

We see that the issue template has not been filled, could you please do so as it helps us analyse the issue.Thanks!

[2021-07-30 12:27] Cospel commented on #36278
Hi, can you please reopen it...

Right now I need to convert polygons (in coco format) as ragged tensors to binary masks:

[code]

However I get this error:

    TypeError: Tensors in list passed to 'input' of 'EagerPyFunc' Op have types [<NOT CONVERTIBLE TO TENSOR>, float32, float32] that are invalid. Tensors: [TensorShape([None, None]), <tf.Tensor 'h:0' shape=() dtype=float32>, <tf.Tensor 'w:0'

[2021-07-30 12:59] rino20 commented on #50992
@daverim Could you take a look?

[2021-07-30 13:00] innat opened #51049 "using `tf.image.*` module for one channel or more than three channel?"
**Basic info**

- TensorFlow 2.4
- Colab / Kaggle Platform

## Question

In `tf`, we have this module [`tf.image`](https://www.tensorflow.org/api_docs/python/tf/image) to perform various image processing operations. If I'm not mistaken, most of the operations require an RGB image, e.g (`h, w, channel == 3`). However, for a reason, I need them to work on one channel (`h, w, channel == 1`) or more t

[2021-07-30 13:48] Avelina9X commented on #51038
This issue is TF version independent as this issue is python specific and purely a documentation error. There probably more instances in the docs of setting env vars to something other than strings, so I'll try and have a look to find more doc errors like this, but it might take a while to find more if they exist.

[2021-07-30 13:53] Sidong-Wei commented on #44362
The root cause has been found and tracking through: https://bugs.llvm.org/show_bug.cgi?id=51030

[2021-07-30 13:53] #44362 closed

[2021-07-30 14:41] sushreebarsa commented on #41117
@jsl303  If this is still an issue then please feel free to look at the [updated instruction](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tensorflowlite.md) to convert sdd model with then new converter. Please let us know if it helps ? Thank you!

[2021-07-30 14:44] sushreebarsa commented on #37401
@pushkalkatara Could you please update as per the above [comment](https://github.com/tensorflow/tensorflow/issues/37401#issuecomment-879286909) and let us know if this is still an issue ? Thanks!

[2021-07-30 14:56] sushreebarsa commented on #41085
@JakubGal Could you please refer to [this](https://github.com/google-coral/edgetpu/issues/206) if there is any specific residual issue with RESIZE_NEAREST on edge_tpu and let us know if it helps ? Thank you!

[2021-07-30 15:11] mtassano-gpfw commented on #50616
@nluehr just tried no suggestion, but to no avail.

I used the same docker container, _tensorflow/tensorflow:2.5.0rc3-gpu_, and we have the same NVIDIA driver, version  _460.73.01_.

I confirm that I get the same erroneous behaviour in a different machine with 2xA100, same docker container and NVIDIA driver.

Our two machines with the 2xA40 and the 2xA100 do not have NVLink by the way.

[2021-07-30 16:33] jackyesf opened #51051 "Traing is very slow when add a custom layers. I found this tensor ops run on cpu not on gpu,I don't konw why?"
tensorFlow version (use command below): tensorflow 2.4
Python version: 3.7.9
CUDA/cuDNN version: 10.1

Traing is very slow when add a custom layers. I found this tensor ops  run on cpu not on gpu,I don't konw why?

**L2 = RuleLayer(100,420,4, 3, name='ruleLayer')(L1)**

[code]

It tooks me almost 2 hours/epoch on my computer .
Epoch 1/150
Is there a GPU available:
[PhysicalDevice(name='/physical_d

[2021-07-30 17:04] atahmasb opened #51052 "issue with running forward passes using saved model format converted from a checkpoint"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): I used a scrip

[2021-07-30 17:08] atahmasb commented on #44428
I have a similar issue and tried everything suggested under this issue and it didn't work.
I created a GitHub issue
https://github.com/tensorflow/tensorflow/issues/51052

[2021-07-30 17:42] jvishnuvardhan commented on #50541
@dbl001 I have noticed couple of issues related to metal plugin. Unfortunately, we don't have any control. Please post them in [Apple Developer Forum](https://developer.apple.com/forums/tags/tensorflow-metal). Thanks!

[2021-07-30 18:27] innat commented on #51049
This also brings (I think) another issue, how to apply **batch processing** using `tf.image*` module efficiently? I've crossed @mrry answer on SO, [here](https://stackoverflow.com/a/38922451), it's increasing the data loading time too much.

[2021-07-30 18:41] pushkalkatara commented on #37401
It has been a long time since I worked on this project. Guessing it's supported now, so closing the issue. Thanks!

[2021-07-30 18:41] #37401 closed

[2021-07-30 19:07] dbl001 commented on #50541
There are many issues in building tensor flow (e.g.compiler as well as building wheels, missing components (e.g. tensorflow-text), tensor flow-profile doesn’t work, training models runs into memory issues causing the kernel stops the process (e.g. ru_maxss), I’ve posted on GitHub, StackOverflow as well as Apple Developer Forum, but  haven’t gotten any resolutions.

[2021-07-30 19:34] #50296 closed

[2021-07-30 19:34] #50306 closed

[2021-07-30 20:56] jeisinge commented on #33755
Since the defect still exists, I believe it should remain open.

[2021-07-30 22:34] #50793 closed

[2021-07-30 22:38] OmarJay1 commented on #43193
Thank you for posting the os.add_dll_directory tip.  I believe the behavior is by design for newer versions of Python on Windows.  The Windows Path environment variable no longer works.  That's what I'm guessing is going on.

https://docs.python.org/3/whatsnew/3.8.html#bpo-36085-whatsnew

[2021-07-30 23:34] #50808 closed

[2021-07-30 23:46] ymodak commented on #51041
`p` in `pfor` stands for parallel. See https://github.com/tensorflow/tensorflow/blob/72552c4a73650962abe5c110ab4e4068e741cef0/tensorflow/python/ops/parallel_for/pfor.py#L15

[2021-07-31 00:39] TylerTheHumanCompiler commented on #41226
Any updates on this?

[2021-07-31 02:14] tpmccallum opened #51070 "Index out of bounds error"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No

- OS Plat

[2021-07-31 04:03] kurudinesh commented on #50594
@UsharaniPagadala below is the colab gist.
`https://colab.research.google.com/drive/1UezT01v-liBnqCSZsYehQXOb19Ep3fw2?usp=sharing`

[2021-07-31 05:46] rino20 commented on #50942
Hey Hana,

In your representative_dataset function, you can add more data fields for model input as below
yield [image, data_field1, data_field2]

I guess for mask_rcnn model, you might need to provide input shape and anchor box data.

[2021-07-31 06:22] MarceloSabaris commented on #22697
Verify  if the model using token or any object to train, in the new version of tensorflow don´t have problem. My sugest , serialize the objetcs using picle like the code below .

import pickle

with open('Percentage_'+ str(percentageData) +  '/train_dataframe', "wb") as f:
    pickle.dump(train_dataframe, f)

And use de model.save and tf.keras.models.load_model

[2021-07-31 09:04] dmey opened #51071 "Add version to Zenodo"
I need to cite a specific version of TensorFlow in a paper -- Any chance you could add 2.3.1 to https://zenodo.org/record/4724125?

EDIT: this is no bug -- please change to Feature Request/Other Issues.

[2021-07-31 10:02] sjtusmartboy opened #51072 "Can sparse_csr_matrix_ops.sparse_tensor_to_csr_sparse_matrix be used in the graph mode?"
tensorflow 2.5

When I run `sparse_csr_matrix_ops.sparse_tensor_to_csr_sparse_matrix` this function in the graph mode, it gives out the error of `    ValueError: Invalid rank: -1.  Expected a known rank of either 2 or 3. for '{{node SparseTensorToCSRSparseMatrix}} = SparseTensorToCSRSparseMatrix[T=DT_DOUBLE](SparseConcat_4, SparseConcat_4:1, SparseConcat_4:2)' with input shapes: [?,?], [?], [?].`I

[2021-07-31 10:10] sjtusmartboy commented on #51072
from tensorflow.python.ops.linalg.sparse import sparse_csr_matrix_ops

[2021-07-31 10:33] uncle-TT opened #51073 "INFO:tensorflow:Assets written to: C:\Users\TFLab\AppData\Local\Temp\tmpdw25wybi\assets"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installation (pip package or built from source):
- TensorFlow library (version, if pip package or github SHA, if built from source):

### 2. Code

Provide code to help us reproduce your issues using one of the following options:

#### Option A: Reference colab notebooks

1)  Reference [TensorFlow Mod

[2021-07-31 11:37] sjtusmartboy opened #51074 "tf.spars.sparsee_dense_matmul supports multiplication of batches of data in a sparse tensor with a dense tensor"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):  tf 2.5
- Are you willing to contribute it (Yes/No): Yes

[2021-07-31 13:14] omerferhatt opened #51075 "Linux setup guide update for Ubuntu 20.04"
## URL(s) with the issue:

https://www.tensorflow.org/install/gpu#install_cuda_with_apt

## Description of issue (what needs changing):

Ubuntu 20.04 installation guide for new CUDA and CUDnn versions.

### Clear description

Since new LTS released by Ubuntu, maybe CUDA installation can be updated.

### Correct links

None

### Parameters defined

None

### Returns defined

None

### Raises listed

[2021-07-31 14:03] BlueSkyyyyyy commented on #51043
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):**no**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):**Linux Ubuntu 16.04**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **cpu**
- TensorFlow installed from (source or binary):**binary**
- TensorFlow version (use comm

[2021-07-31 14:13] BlueSkyyyyyy commented on #51043
I use the template to describe the problem as above. not only tf 2.4 but also other version has the similarity problem( I have trytensorflow== 1.14.0+ python=3.6.8  and tensorflow== 1.14.0 python=2.7.18 ).

[2021-07-31 14:23] nhutthanh340 opened #51076 "__iter__() is only supported inside of tf.function or when eager execution is enabled"
**System information**
- Tensorflow version: 2.2.0
- Python version: 3.8.6

![image](https://user-images.githubusercontent.com/36669308/127742743-1fcc6fe6-24a3-40cc-9433-0d244fb54276.png)

It working in tensorflow 1.10.1 and python 3.6.5, but not 2.2.0
How can anyone resolve it, please?
Thanks

[2021-07-31 14:39] Saduf2019 commented on #50950
@akkshay0107
This has been fixed in 2.6, can you use 2.6, we will look into other versions meanwhile.

[2021-07-31 14:44] Saduf2019 commented on #50789
@chudyandrej
Can you please remove all the installations and start from scratch so that way the correct files can be in correct path.

[2021-07-31 16:54] dbl001 commented on #48130
I'm getting the same errors building tensorflow on Big Sur 11.5
E.g
[code]
The patch is getting an error:
[code]

[2021-07-31 17:00] 8549 opened #51077 "tf.math.confusion_matrix InvalidArgumentError about incompatible shapes"
I need to train a model using a custom score that is computed using TP, TN, FP, FN (values from confusion matrix). This is my custom metric:
[code]
But confusion_matrix() fails on its last line:
[code]
But if i add a debug `print(y_true.shape, y_pred.shape)` into `update_state()` i get `(512, 1) (512, 1)`!

[2021-07-31 18:44] ymodak commented on #51038
The above commit fixes the issue. Thanks!

[2021-07-31 19:19] RostyslavUA commented on #50955
After many days of search and struggle, I ended up with the conclusion that I have conflicting packages with tensorflow. I got the information from [link1](https://github.com/tensorflow/tensorflow/issues/22512), [link2](https://github.com/protocolbuffers/protobuf/issues/5046#issuecomment-413726611), [link3](https://answers.microsoft.com/en-us/windows/forum/all/msvcp1401dll-missing-even-after-insta

[2021-07-31 20:23] imohamadhoseins opened #51078 "cannot use tf.keras.preprocessing.image.random_channel_shift or apply_channel_shift with tf.data.Dataset functions like image_dataset_from_directory or tensor_slices."
I am using tensorflow 2.5, i cannot use apply_channel_shift or [random_channel_shift](https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing/image/random_channel_shift) with tf.data.Dataset it raises the following error:
tensor object has no attribute "ndim".
 can any one please write a sample code for me ?
i am using .map function for apply agumentation on tf.data Dataset. many thanks.

[2021-07-31 22:28] MeghnaNatraj commented on #50801
I think the environment is fine, but the Boosted trees implementation may be using streaming mechanisms that isn't supported by TFLite on-device. Looks like #41226 faces a similar issue. I'll look into this further and get back to you.

[2021-07-31 23:53] Dhruv-Mohan commented on #40942
I encountered the issue while on version `2.5.0-dev20200626` but it seems that the release version of `2.5.0` has fixed the issue.
The training function I've used is as follows along with a routine batching loop.
[code]
I however have not tested it against `model.fit` or `train_on_batch`.

[2021-08-01 03:53] yananchen1989 opened #51080 "Op type not registered 'NormalizeUTF8' in binary running when reload model"
tf version: 2.4.1

[code]

Then I tried reload it from disk:

`model = tf.keras.models.load_model('tttmodel')`

The error:

Any solution ?

[2021-08-01 04:07] polkadottedwalrus opened #51081 "dnn implementation Error"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code:
- System: Windows 10
- TensorFlow installed from (source or binary): Described bel

[2021-08-01 04:50] akkshay0107 commented on #50950
@Saduf2019 sure i will try with r2.6 and get back

[2021-08-01 05:06] polkadottedwalrus commented on #51081
SOLUTION

for some reason re-installing cudnn worked.

conda install -c conda-forge cudnn

[2021-08-01 05:07] #51081 closed

[2021-08-01 05:32] LanceNorskog commented on #50971
I have posted this on the keras issues page. I have some trouble believing that it is a Keras issue, given that all platforms make the same TF calls.

[2021-08-01 05:41] yashkarbhari opened #51082 "NotImplementedError: Cannot convert a symbolic Tensor (digit_capsule_layer_2/strided_slice:0) to a numpy array. This error may indicate that you're trying to pass a Tensor to a NumPy call, which is not supported"
tensorflow - 2.5.0
numpy - 1.21.1
python - 3.8
CUDA - 11.2
CuDNN - 8.1

Many other issues related to it suggested downgrading the NumPy version to 1.19.5, after downgrading the NumPy version, unfortunately, it still doesn't work.

[2021-08-01 07:59] sjtusmartboy commented on #50921
@rmothukuru Any progress yet?

[2021-08-01 08:01] sjtusmartboy commented on #50871
@Saduf2019 Any progress yet

[2021-08-01 08:13] emenshoff opened #51083 "tf.io.read_file memory leackage"
Hello all!

If've found the mem leackage bug in tf.io.read_file  function during my inference testing;

**Describe the current behavior**

This code eats over 30 Gb memory when I read 10000 jpeg images from local nvme drive. And the library does not release memory for data that is not in use anymore. The process eats all available RAM during the intensive file io and then got killed by the OS kern

[2021-08-01 08:54] n-chennakeshava opened #51084 "Cannot split windowed data when batching is used in tf.data.Dataset"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- I have written custom code
- Linux 20.04
- TensorFlow installed from binary
- TensorFlow version: 2.3/2.4/2.5

[2021-08-01 09:34] #50158 closed

[2021-08-01 09:35] Saduf2019 commented on #51074
@sjtusmartboy
You could create a tf.data,Dataset and then map that function.

[2021-08-01 10:12] sbushmanov commented on #50943
Anything from @Saduf2019

[2021-08-01 11:34] #50766 closed

[2021-08-01 11:44] akkshay0107 commented on #50950
Error with r2.6 :
[code]
Error with r2.5 :
'''
ERROR: C:/tensorflow/tensorflow/core/protobuf/BUILD:65:17: ProtoCompile tensorflow/core/protobuf/conv_autotuning.pb.h failed (Exit -1073741515): protoc.exe failed: error executing command
  cd C:/bazel_build/xv6zejqw/execroot/org_tensorflow
  SET PATH=C:\msys64\usr\bin;C:\msys64\bin;C:\WINDOWS;C:\WINDOWS\System32;C:\WINDOWS\System32\WindowsPowerShell\

[2021-08-01 14:22] sushreebarsa commented on #35785
@MichaelKarpe Could you please let us know if this issue is resolved as per the above [ comment ](https://github.com/tensorflow/tensorflow/issues/35785#issuecomment-606190516) And if it is resolved please feel free to close this issue ?Thank you!

[2021-08-01 14:33] sushreebarsa commented on #35759
@Shusuke-O  It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-01 14:36] sushreebarsa commented on #35592
@vanti  It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-01 14:41] sushreebarsa commented on #31852
@akanyaani  It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-01 14:42] sushreebarsa commented on #28313
@TeoZosa It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-01 14:45] sushreebarsa commented on #27613
@WenguoLi  It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-01 14:48] sushreebarsa commented on #25563
@bkanaki Could you please let us know if this issue still persists in TF v2.5 ? Thank you!

[2021-08-01 14:58] GloriaZLQ commented on #48036
have you solved this problem, i meet the same bug.

[2021-08-01 15:04] sushreebarsa commented on #35889
@jomoengineer  It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-01 15:08] sushreebarsa commented on #36675
@MattConley  It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-01 15:17] sushreebarsa commented on #36953
@372046933 It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-01 15:18] sushreebarsa commented on #37023
@wwwind  It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-01 15:20] sushreebarsa commented on #37544
@ppatrikg It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-01 15:29] sushreebarsa commented on #37622
@moshevolo It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-01 21:49] AleksLi1 commented on #3388
Getting the following error once after running my code seems to make it no longer runable
`Exception ignored in: <function _CheckpointRestoreCoordinatorDeleter.__del__ at 0x0000027B7FEA34C0>
Traceback (most recent call last):
  File "D:\Users\user\anaconda3\envs\Prophet\lib\site-packages\tensorflow\python\training\tracking\util.py", line 158, in __del__
TypeError: 'NoneType' object is not callable

[2021-08-02 00:09] mihaimaruseac commented on #50966
Commented on #51045: we have had some compile fail when we last tried to update. Afaik, it's related to the protobuf dep being too tied in in both TF and Bazel

[2021-08-02 00:11] mihaimaruseac commented on #50922
This is spam

[2021-08-02 00:11] #50922 closed

[2021-08-02 00:14] mihaimaruseac commented on #50892
Currently we don't officially support an OSS ASAN build, although one is in the long term roadmap.

If you want to submit PRs for issues you discover or PRs to enable the ASAN build, please add me to them and I will gladly review and get them in. Thank you in advance for future work in this area.

[2021-08-02 00:35] Anuj040 commented on #49162
@jvishnuvardhan Sorry for my late response and thanks a lot for getting back on this. I will move the issue to the mentioned repo.

[2021-08-02 00:59] KanTakahiro commented on #50218
Same situation here. I am using [Tensorflow Plugin](https://developer.apple.com/metal/tensorflow-plugin/) on a Apple M1 MacBook Air. When I try to do the data augmentation like this↓ (following the [Tensorflow official tutorial](https://www.tensorflow.org/tutorials/images/classification))
[code]
It got the same error message:
[code]
If I comment the two lines of RandomRotation&RandomZoom ↓
[code]

[2021-08-02 01:50] cnsgsz commented on #7480
This issue is not resolved at all, as tensorflow is defining its own log macros.

Has anyone found a work-around?

[2021-08-02 01:51] st4rfall commented on #51048
Thanks for your reply. I try with 2.x version and it seems tensorflow could be imported.
[code]
However when I run my code  I meet AttributeError:
[code]
I have tried [solution](https://github.com/theislab/scgen/issues/14) here but not working. So I guess I have to use older version tensorflow.

[2021-08-02 02:33] pranathibl opened #51086 "Does TFLite Support conv + LSTM ?"
https://github.com/tensorflow/tensorflow/issues/49381 -

I have raised the above issue for getting data formats,

Here, it is mentioned that N, S, D is only supported format in tflite .

Need, confirmation whether conv + lstm is supported or not in TFLite ?

Using TFLite version 2.4.1.

[2021-08-02 02:39] chrisrapson commented on #48873
Commenting to link [a newer issue, #50171](https://github.com/tensorflow/tensorflow/issues/50171) which says that this issue has been resolved

[2021-08-02 02:43] zhenzhen2017 commented on #24591
**### _root cause:_**
maybe list index out of range in freeze_graph.py is caused by a bug in saveable_object_util.py

stack is:
https://github.com/tensorflow/tensorflow/blob/v1.14.0/tensorflow/python/tools/freeze_graph.py#L189
https://github.com/tensorflow/tensorflow/blob/v1.14.0/tensorflow/python/training/saver.py#L481
https://github.com/tensorflow/tensorflow/blob/v1.14.0/tensorflow/python/traini

[2021-08-02 03:09] abattery commented on #51086
@MeghnaNatraj @renjie-liu could you take a look at this question?

[2021-08-02 03:16] renjie-liu commented on #51086
Yes, it's supported.

[2021-08-02 03:44] daverim commented on #50992
Hi, the reason why this happens is because tflite assumes that min/max ranges have been calculated correctly. If you change your example to `x = tf.quantization.fake_quant_with_min_max_args(x, min=0.0, max=781756.5)`, you'll see the two answers converge. In TF case, the reason why it works (more) correctly is that quant/dequant is entirely in float and uses min, max and rounding operations, wherea

[2021-08-02 04:15] tilakrayal commented on #51052
@atahmasb,

This issue is more suitable for TensorFlow Models repo. Please post it on Tensorflow Models repo from [here](https://github.com/tensorflow/models/issues/new/choose). Thanks!

[2021-08-02 04:16] rmothukuru commented on #50921
@japie1235813,
This issue has been assigned to the respective Engineer. We will revert soon. Thanks!

[2021-08-02 05:37] tilakrayal commented on #51075
@omerferhatt ,

Similar issue has been tracked with #43693.Can you please subscribe the issue to get the update for Ubuntu 20.04.Thanks

[2021-08-02 06:33] magdaralcheva commented on #39362
The file is not there either must of moved again

[2021-08-02 06:37] Neutrino0532 opened #51088 "RTX30 series: unsupported compute compability for CUDA 9.0"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Ubuntu 20.04
- TensorFlow installed from: source
- Tensor

[2021-08-02 06:53] rsandaruwansd22 commented on #42407
**(Not for conda) Simple thing to do is ADD TO THE PATH...**

Check where the packages are installed (the directory...)
        WARNING: The script (name).exe is installed in '_C:\Users\(name)\AppData\Roaming\Python\Python39\Scripts_' which is not
        on PATH. **Consider adding this directory to PATH** or, if you prefer to suppress this warning, use --no-warn-script-location.

just transfer th

[2021-08-02 06:54] rmothukuru commented on #51049
@innat,
Image Operations with Single Channel should be possible by converting an Image from RGB to Grey Scale and then use that converted Image for the Operations. However, as per my understanding, it can't be used for 3D Images.

[2021-08-02 07:55] tilakrayal commented on #51082
@yashkarbhari ,

 In order to expedite the trouble-shooting process, could you please provide a complete code to reproduce the issue.Thanks!

[2021-08-02 07:56] kozlova666 opened #51089 "16x8 quantization mode & TFLite Micro"
### 1. System information

- OS Platform Ubuntu 20.04
- TensorFlow installation : pip package
- TensorFlow library 2.5.0

Hi,
I'm using 16x8 experimental quantization on my model.
I convert my model after I follow instructions on the tflite 16x8 info page, i also set:
converter_fp.inference_input_type = tf.int16
converter_fp.inference_output_type = tf.int16

When I invoke the converted model from

[2021-08-02 08:03] tilakrayal commented on #51082
Also Could you please try to test your code again in new virtual environment and let us know if you are facing same issue. Thanks!

[2021-08-02 08:07] kscp123 commented on #47547
i also face this problem, anyone can solve it?

[2021-08-02 08:10] abattery commented on #51089
@kozlova666 could you post this issue at the TFLite micro project(https://github.com/tensorflow/tflite-micro) ?

[2021-08-02 08:23] #51089 closed

[2021-08-02 08:34] riaqn opened #51090 "Single scalar ground truth for a batch?"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.5.0
- Are you willing to contribute it (Yes/No): Yes

**

[2021-08-02 08:41] yashkarbhari commented on #51082
I'm currently working in a virtual environment, and it shows the same issue

[2021-08-02 08:47] yashkarbhari commented on #51082
[code]

[2021-08-02 08:49] yashkarbhari commented on #51082
[code]

[2021-08-02 08:58] sjtusmartboy commented on #51074
It indeed can do that by splitting the data along the batch axis, but I think there's no necessity to limit the rank of sparseTensor to be 2. From the perspective of user's eye, the function should be as easy to use as possible. What's more, there's no need to change the current api, just make full implementation of the function is enough.

[2021-08-02 08:58] sjtusmartboy commented on #51074
It indeed can do that by splitting the data along the batch axis, but I think there's no necessity to limit the rank of sparseTensor to be 2. From the perspective of user's eye, the function should be as easy to use as possible. What's more, there's no need to change the current api, just make full implementation of the function is enough.

[2021-08-02 09:06] sturmianseq opened #51091 "How to collect code coverage of C++ code when running Python tests?"
I am trying to figure out the way to get the code coverage of C++ code for tests written in Python. I know that `coverage` is the package to measure code coverage of Python code for tests that run in Python.
Also, it appears to me that `bazel` is the build system for C++ projects, and `bazel coverage` can collect the C++ code coverage for C++ tests.

If there is anything wrong with my previous fin

[2021-08-02 09:18] sjtusmartboy commented on #50978
@old-school-kid If `a` is a sparse column vector(n*1), then how to get the result of `a matmul a.T`, which is also the sparse matrix with dense_shape (n*n) ? Any available solution in tensorflow, haha?

[2021-08-02 09:18] freedomtan commented on #48130
@dbieber this is a moving target :-)

you may want to try this. Note that I didn't test it.

[code]

[2021-08-02 09:33] sjtusmartboy opened #51092 "Sparse matmul and element-wise multiply"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): tf2.5
- Are you willing to contribute it (Yes/No): yes

**

[2021-08-02 09:49] Rishit-dagli commented on #27491
I was working on similar lines but with a 0-dimensional tensor and using just using  seemed to work for me with `@tf.function` too using the built-in type functions here is an example:

[code]

[2021-08-02 10:36] Saduf2019 commented on #50950
@akkshay0107
Can you please refer to [this issue](https://github.com/tensorflow/tensorflow/issues/48557#issuecomment-825459308), remove all the versions you have and try with one.

[2021-08-02 10:42] Saduf2019 commented on #50955
@RostyslavUA

This issue is more suitable on Continuum Anaconda repo since its related to TF installation with Anaconda.
Please post it on [Continuum Anaconda](https://github.com/ContinuumIO/anaconda-issues/issues).Thanks!

You may also refer to this [issue once](https://github.com/tensorflow/tensorflow/issues/41831#issuecomment-665388718)

[2021-08-02 10:44] tilakrayal commented on #51072
@sjtusmartboy ,

Can you please share a reproducible code that supports your statement so that the issue can be easily understood? Thanks!

[2021-08-02 10:55] twkx opened #51093 "Conv2DTranspose in Hexagon delegate crash"
**System information**

* Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
MacOS, Ubuntu...
* TensorFlow installed from (source or binary):
source
* Tensorflow version (commit SHA if source):
Tag v2.5.0
* Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):
Android

**Describe the problem**

When I run my tflite quantized model on my mobile device's DSP, I get a crash:

`ERROR: B

[2021-08-02 10:58] twkx commented on #45902
Hi,

Thanks for supporting bias now!

I kindly report you that I have found an issue in TransponseConv with bias.

I've just filled a new issue: #51093

Best,

[2021-08-02 11:03] tilakrayal commented on #51078
@imohamadhoseins ,

Can you please take a look at this [link](https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing/image_dataset_from_directory) for more information on tf.keras.preprocessing.It helps.Thanks!

[2021-08-02 11:24] abattery commented on #51093
@srjoglekar246 could you take a look at this?

[2021-08-02 11:49] st4rfall commented on #51048
update glibc, problem solved

[2021-08-02 11:49] #51048 closed

[2021-08-02 11:59] tilakrayal commented on #51048
@st4rfall ,
Glad the suggestion worked for you.Thanks!

[2021-08-02 12:32] old-school-kid commented on #50978
Hi @sjtusmartboy I believe this is what you are looking for
`tf.linalg.matmul(tf.sparse.to_dense(a),
              tf.sparse.to_dense( tf.sparse.transpose(a)),
              a_is_sparse=True, b_is_sparse=True)`

If the product is too large you can store the values and index only and reconstruct the tensor when needed. Details can be found in the [doc](https://www.tensorflow.org/api_docs/python/tf/

[2021-08-02 13:14] tilakrayal commented on #51043
@Saduf2019 ,
I was able to reproduce the issue in tf v2.4,v2.5 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/f4397520f5bf766bf99160a9f4d6a996/51043.ipynb).

[2021-08-02 13:18] jiayugedede opened #51096 "Can't save custom layers to .h5 file !"
<em>Can't save custom layers to .h5 file !</em>

**Can't save !**
I use tensorflow 2.4.1, this code works very well, but it can't save to .h5 file. I have tried Sequential() method, but it not working. I want to ask which approch should I adopt it. I have add get_config params, and which not working in my network that is very puzzle me. I don't know what cause this problem, can somebody tell me, t

[2021-08-02 13:30] v715 opened #51097 "Parameter description generating weirdly in `tf.keras.metrics.AUC`"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/keras/metrics/AUC

## Description of issue (what needs changing):

The description for `num_labels` is generating weirdly:
![Screen Shot 2021-08-02 at 9 30 05 AM](https://user-images.githubusercontent.com/29757116/127869653-5cc9728d-9c29-4de2-9c85-f8452fb1eaa1.png)

[2021-08-02 14:44] innat commented on #51049
@rmothukuru
yes, you're right, thanks.

May I know about the batch processing? Is [this](https://stackoverflow.com/a/38922451/9215780) currently the only optimizxed workaround?

[2021-08-02 15:21] sushreebarsa commented on #51076
@nhutthanh340 Could you please have a look at the [link1](https://stackoverflow.com/questions/63182524/runtimeerror-iter-is-only-supported-inside-of-tf-function-or-when-eager-e) ,[link2](https://stackoverflow.com/questions/55576133/tensorflow-2-0-dataset-iter-is-only-supported-when-eager-execution-is-enab/56736763) which are similar issues mentioned in stackoverflow and let us know if it helps ? T

[2021-08-02 15:26] sushreebarsa commented on #51080
@yananchen1989 Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-08-02 15:42] tensorbuffer opened #51098 "AttributeError: '_UserObject' object has no attribute 'add_slot'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-08-02 15:45] t-kalinowski opened #51099 "2.6.0rc1 regression: isinstance(layer, Layer) no longer works. Affects: `keras.layers.Wrapper`"
Hello,
  One of the CI tests in the [R interface to keras](https://github.com/rstudio/keras) surfaced this regression in 2.6.0rc1:
  `tf.keras.layers.Wrapper` seemingly doesn't work the way it used to.

Specifically, this assertion is being raised where it wasn't before:

https://github.com/tensorflow/tensorflow/blob/8406c010e1793f458a9fd5d73404c1a93689bcfc/tensorflow/python/keras/layers/wrappers.

[2021-08-02 15:46] nyadla-sys commented on #25563
@bkanaki ,Yes, please see the below links.
https://github.com/nyadla-sys/tflite-micro/tree/micro_speech_lstm_with_training/tensorflow/lite/micro/examples/micro_speech_lstm/train

https://colab.research.google.com/github/nyadla-sys/tflite-micro/blob/upload_lstm/tensorflow/lite/micro/kernels/xtensa/examples/micro_speech_lstm/train/micro_speech_with_lstm_op.ipynb

[2021-08-02 15:57] Engineero commented on #51031
I was able to get it to work. Steps to fix:

1. Copy the [requirements.txt](https://github.com/tensorflow/examples/blob/master/tensorflow_examples/lite/model_maker/requirements.txt) file from the repo into my working directory and installing those requirements explicitly with

    `$ pip install -r requirements.txt`

2. Install tflite-model-maker with

    `$ pip install tflite-model-maker`

There

[2021-08-02 16:29] sushreebarsa commented on #51088
@Neutrino0532 We are not actively supporting TF 1.x , as it is officially considered as end of life ,we recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions ? Could you please have a look at the [link 1](https://www.tensorflow.org/install/gpu?hl=fr), [link 2](https://www.tensorflow.org/install/source) , [link 3](https://www.tensorflow.org

[2021-08-02 16:36] meghbhalerao commented on #42407
Facing this issue on Ubuntu 20 and tf 1.12.0

any solutions?

[2021-08-02 16:44] dbieber commented on #48130
You probably meant to tag @dbl001 rather than myself :)

[2021-08-02 16:53] ymodak commented on #51073
I am not sure I follow your issue. Can you please elaborate what you are trying do? and where you are hitting problems?
Perhaps you can share a code snippet to reproduce the error. Thanks!

[2021-08-02 16:56] sushreebarsa commented on #51096
@jiayugedede Could you please refer to the [link](https://www.tensorflow.org/guide/keras/save_and_serialize) having documentation on save and load keras models and these similar issues[ link1](https://stackoverflow.com/questions/64337087/typeerror-init-got-an-unexpected-keyword-argument-name-when-loading-a-m), [link2](https://stackoverflow.com/questions/62280161/saving-keras-models-with-custom-lay

[2021-08-02 17:00] #51041 closed

[2021-08-02 17:01] dbl001 commented on #48130
[code]
I downloaded ~/oneDNN from here: https://github.com/oneapi-src/oneDNN#installation, built it from source following these instructions: https://oneapi-src.github.io/oneDNN/dev_guide_build.html, tested with 'test' and installed it.

[2021-08-02 17:16] imohamadhoseins commented on #51078
@tilakrayal
I did, it doesn't help, it returns a tensor object, but the preprocessing which I mentioned are not accepting tensor object, but in documentation it has written they can accept tensor. thank you

[2021-08-02 17:30] akkshay0107 commented on #50950
@Saduf2019 i have switched to python 3.9.2 and it seems like the old error is gone
[code]
i now get a fatal error of not having enough heap space , is there a way to solve this ?

[2021-08-02 17:38] UsharaniPagadala commented on #50980
@lamyiowce

Could you please share the colab gist with all the dependencies to analyse the issue better.Thanks

[2021-08-02 17:41] UsharaniPagadala commented on #50945
@tarik0

Could you please provide the colab gist with all the dependencies to analyse the issue better.Thanks

[2021-08-02 17:43] ymodak commented on #51070
Are you trying to reproduce https://www.tensorflow.org/lite/tutorials/model_maker_object_detection locally for custom data and hitting problems?
If so, Can you please mention what steps have you changed?

[2021-08-02 18:07] Saduf2019 commented on #50950
@akkshay0107
Please refer to [this issue for the new error](https://github.com/tensorflow/tensorflow/issues/10799#issuecomment-309235859), in case the issue persist please create a new issue as the root issue is resolved we will have to create new issue for new error.

[2021-08-02 18:25] dbl001 commented on #48130
I downloaded oneDNN 2.3.2, built it from source, ran 'ctest' and installed it with no issues.
[code]

Edited your proposed git diff's, then
[code]
but, my ~/tensorflow/tensorflow/workspace2.bzl shows:
[code]

[2021-08-02 18:45] SeeForTwo commented on #46995
Thank you for filing this issue.
Large _x_ values multiplied by large _frequency_weights_ with a result greater than about 3.4e+38 causes overflow in float32 representation (which is used by np.complex64). As a work around for cases where avoiding this kind of overflow is appropriate, the caller can normalize frequency_weights to have small values (e.g. by using a floating point type and dividing

[2021-08-02 19:26] dansitu commented on #39362
All of the TensorFlow Lite for Microcontrollers files got moved to a new, separate repository, so you can find the file here:

https://github.com/tensorflow/tflite-micro/blob/main/tensorflow/lite/micro/examples/hello_world/create_sine_model.ipynb

Warmly,
Dan

[2021-08-02 19:35] quenbyako commented on #43847
@Saduf2019 i copy that, tried to rerun "getting started" guide to install and use tensorflow in go, and still lots a lot of problems

To be honest, i prefer to recommend any user who read this comment, use galeone packages cause... Well, they work, at least...

[2021-08-02 19:53] Kipsora opened #51115 "TFLite flex delegate on x86_64 failed to link"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- Mobile device (e.

[2021-08-02 20:56] dbl001 commented on #48130
https://oneapi-src.github.io/oneDNN/dev_guide_transition_to_dnnl.html

Is this rule the problem? (e.g. dependent upon mlc_dnn)?
[code]

[2021-08-02 20:56] wamuir commented on #43847
Here's a summary for anyone who wants this summarized:  **you cannot use `go get` to obtain a functional copy of `github.com/tensorflow/tensorflow/tensorflow/go`**.  This is because the package relies on compiled protocol buffers, but compiled protobufs cannot be checked into this git repo (see #44655).  Previously, it was fairly straightforward to obtain a working installation by cloning the Tens

[2021-08-02 22:00] yisitu commented on #50214
You are welcome!

[2021-08-02 22:12] bkanaki commented on #25563
Closing this as I have moved on to a different project a long time ago, the links above seem to be working well.

[2021-08-02 22:12] #25563 closed

[2021-08-02 22:39] jiayugedede commented on #51096
OK， I have a try.

[2021-08-02 22:42] abattery commented on #51115
@thaink could you take a look at this?

[2021-08-02 22:44] rllin commented on #43905
@jsimsa i see that you were able to get the tracer to show prefetching (memcpy overlap with gpu compute)

but did you see an actual improvement in training speed?

[code]

`time_ds(ds)`
`time_ds(pf_ds)`
`time_ds(gpu_pf_ds)`

all 3 show roughly 8 seconds per 100 steps on colab GPU

[2021-08-02 23:37] thusinh1969 commented on #41021
This is annoying !!! Bugs came back after bugs. TF2 is terribly managing changes.

[2021-08-02 23:39] tpmccallum commented on #51070
Hi @ymodak
Thanks for the response, I am just using the Python code as is and also just using the standard data which is provided via gs:// link.
Also I have a question, which might be related, why does the model return negative values in the bounding box coordinates? What does it mean if the model returns negative numbers as apposed to positive numbers?

For example

[code]

Thanks

[2021-08-03 00:16] Cheney-W commented on #50966
Thanks for your help!

[2021-08-03 00:16] #50966 closed

[2021-08-03 00:21] thaink commented on #51115
Can you add `--config=monolithic` and try again.
Beside, If you are building for x86_64 PC, it is true not to add `--config=android_arm64`.
However for Android, you should use `--config=android_arm64` or `--config=android_x86_64` depends on the target platform.

[2021-08-03 01:02] freedomtan commented on #48130
@dbieber oops, sorry

@dbl001: I don't know what you want to do. You tried both w/ and w/o `--config mkl`. Let's start from some things I think I knew, to see if we can make it clear

0. there are oneDNN (formerly mkldnn) and mkl part of oneAPI
1. oneDNN, which is open source one, seems to be tested and integrated with macOS well (no need to add `--config mkl`). `bazel build //tensorflow/tools/pip

[2021-08-03 01:41] Kipsora commented on #51115
Yeah, adding `--config=monolithic` works for me. Thanks!

[2021-08-03 01:41] #51115 closed

[2021-08-03 02:19] sjtusmartboy commented on #50978
@old-school-kid It seems `tf.linalg.matmul` returns the dense matrix of `a matmul a.T`, which is too large to be stored in the memory.

[2021-08-03 02:23] sushreebarsa commented on #51099
@t-kalinowski Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
  Thank you!

[2021-08-03 02:24] sjtusmartboy commented on #51072
I'm so sorry because the code requires the local dataset which is too large. The parameter of  `sparse_csr_matrix_ops.sparse_tensor_to_csr_sparse_matrix` is from the dataset.from_generator. The same kind of error occurs where I use `tensor.shape` in the graph, but no error if I use `tf.shape(tensor)`to get the shape of a tensor in the graph.

[2021-08-03 02:24] hanzigs commented on #49939
tf==2.5 and python==3.9.5 fixed this issue, it worked, Thanks

[2021-08-03 02:24] #49939 closed

[2021-08-03 03:57] jvishnuvardhan commented on #50541
@dbl001 Sorry to hear that but unfortunately we don't have any control on the plugin and don't have access to that hardware.  As of now there is no support but that can change in future. Thanks!

[2021-08-03 05:00] akkshay0107 commented on #50950
@Saduf2019 thanks a lot for helping ill close this issue

[2021-08-03 05:00] #50950 closed

[2021-08-03 05:27] nhutthanh340 commented on #51076
I have tried, but still error

[2021-08-03 05:28] nhutthanh340 commented on #51076
The data in my code is batch inputs

[2021-08-03 05:29] sushreebarsa commented on #51076
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-03 05:36] guillaumekln commented on #50575
@jvishnuvardhan Do you need additional information?

[2021-08-03 07:03] mittkongg opened #51119 "cpu gpu delegate in ios get the different result, cpu's is right but gpu's is wrong"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):NO
- OS Platfor

[2021-08-03 07:20] Stonepia commented on #50892
Thank you very much for your reply. Could I ask if there is anyway of bypassing the ASAN check for third party build? For tensorflow's building process, I could add the `tags = ["noasan"]` in BUILD file to bypass specific project.

However, according to my logs, this happens in third_party library, i.e.  `libjpeg` , for which file should I add this noasan tag?

[2021-08-03 08:03] rmothukuru commented on #51049
@innat,
I think you can use [tf.data](https://www.tensorflow.org/guide/data#batching_tensors_with_padding) for Batching.

[2021-08-03 08:20] rmothukuru commented on #51090
@riaqn,
Can you please explain the Use Case where you think this feature would be useful? Thanks!

[2021-08-03 08:20] innat commented on #51049
@rmothukuru
thank you, I'm already using `tf.data` api for batching. But for some reason still, it's performing slow. So, I'm just wondering if I'm missing some features to make it more feasible and fast efficient.

[2021-08-03 08:25] sushreebarsa commented on #51083
@emenshoff In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-03 08:30] waynamigo opened #51120 "ValueError(Missing predictions) in tf.estimator"
I defined the two spec for eval and prediction with tf.estimator, My goal is to get **predictions**'s content, like[1,1,1], not printed like "Tensor(shape=(),dtype=float32)"
- here is the code
[code]
and when do eval mode using `estimator.eval()`, it can print the content of *eval_metrics*,acc(0.966) however, when i use `estimator.predict()`, raised ValueError(Missing predictions).

I also tried t

[2021-08-03 08:49] sushreebarsa commented on #51120
@waynamigo
Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose).In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-03 09:02] riaqn commented on #51090
@rmothukuru Thank you for taking care of this. I'm training a model that inputs image and outputs some rating of that image. To augment my datasets, instead of labeling each image with a rating, I label a video excerpt with a single rating.  In a single batch, images will be frames from a single video excerpt, and the ground truth will be a single scalar representing the rating of that video excer

[2021-08-03 09:05] Neutrino0532 commented on #51088
I referenced the link 1&2 before compile. The application that uses TensorFlow is developed by another team, so I can't change the code as I do not know it well. So these links didn't help much.

[2021-08-03 09:12] EnziinSystem opened #51121 "FAILED: Build did NOT complete successfully"
**System information**

- OS Platform and Distribution: 20.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.5.2
- Python version: 3.8.10
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if compiling from source): 9.3.0
- CUDA/cuDNN version: 10.2 / 8.2.2
- GPU model and memory: Quadro K2000M /

[2021-08-03 09:22] emenshoff commented on #51083
import os
import sys
import tensoflow as tf

MEDIA_FOLDER = '/media/jpeg_samples/'  # over 300 000 images
SAMPLES_NUM = 10000
fnames = os.path.listdir(MEDIA_FOLDER )

for  fname in fnames [:SAMPLES_NUM ]:
  fpath = os.path.join(MEDIA_FOLDER, fname)
  img_string = tf.io.read_file(fpath)
  img_tensor = tf.io.decode_jpeg(img_string)

[2021-08-03 09:34] tilakrayal commented on #51082
@yashkarbhari ,
On running the given code snippet, I am facing an error stating **NameError: name 'Layer' is not defined** Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/0cbd77fd94b232b99b09b89504da1884/untitled51082.ipynb).

In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported

[2021-08-03 10:01] #51121 closed

[2021-08-03 10:39] tilakrayal commented on #51098
@tensorbuffer ,
I was able to execute the given code without any error.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/19559c9ef0d9b598e6d0177e1af90bca/untitled51098.ipynb).Also please take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/50659) with similar error.It helps.Thanks!

[2021-08-03 10:43] mdtm1g14 opened #51122 "Issue with tf.nn.conv2d restarting kernel"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10

- TensorFlow installed from (source or binary):
Pip install

- TensorFlow version (use command below):
v2.5.0-rc3-213-ga4dfb8d1a71 2.5.0

- Python version:
3.8

- CUDA/cuDNN version:
CUDA 11.2; cuDNN 8.2

[2021-08-03 11:12] ptrivedi2610 opened #51123 "Need help: How to build tensorflow-lite with "Pyro" version of Yocto, for ARM platform"
Hi,

I need to build tensorflow-lite on "Pyro" version of Yocto for one of my Projects, for ARM platform
Can someone point me to fetch the "*.bb" file for the same ? Or the steps to build the same from scratch ?

Thanking in advance

[2021-08-03 11:13] abhishekvenkat764 commented on #47311
Glad it worked!
I am still perplexed as to why it works though. :D haha

[2021-08-03 11:26] mahaoyanghb commented on #27576
can cuda11 cudafe++ used for this combination (Cuda 10 + tensorflow 1.14 + bazel 0.24.1) ?
I notice the file version of cudafe++ of cuda11 is with same version of cuda 10

[2021-08-03 11:27] tachezhou1989 opened #51124 "Upgrade Sqlite3 to fix CVE-2021-20227"
sqlite 3.34.0

[2021-08-03 11:28] abattery commented on #51123
@terryheo could you take a look at this?

[2021-08-03 11:36] mohantym commented on #45402
Was able to replicate the issue with TF 2.3 and TF v2.5 In Colab, Issue is not recurring in TF 2.5 ,please find the [gist](https://colab.research.google.com/gist/mohantym/9d620af346622de25aa3a807edc47388/github_45402.ipynb) here ..Thanks!

[2021-08-03 11:45] terryheo commented on #51123
There is no *official* recipe for Yocto.
Regarding cross compilation, please check the following.
https://www.tensorflow.org/lite/guide/build_cmake_arm

[2021-08-03 12:16] t-kalinowski commented on #51099
Moved issue to https://github.com/keras-team/keras/issues/15056 as requested.

[2021-08-03 12:28] sushreebarsa commented on #51099
@t-kalinowski Thank you for your response ,closing this issue here as you have moved the issue to  [keras-team/keras repo.](https://github.com/keras-team/keras/issues) .You will get the right help there,Thanks!

[2021-08-03 12:28] #51099 closed

[2021-08-03 12:36] Saduf2019 commented on #51074
@sjtusmartboy
this is not a valid request, you may open this issue at tensorflow discussion forum as there si a larger community to answer it there and move this to closed status here.

[2021-08-03 12:57] sjtusmartboy commented on #51074
＠Saduf2019 Any reason why tensorflow set this rank limit?

[2021-08-03 13:02] sturmianseq commented on #51091
I have tried some commands like this after compiling tensorflow from source:
[code]
The tests under `tensorflow/python/kernel_tests` are indeed python tests.
However, an issue arise:
[code]

Am I running the correct command for coverage collection? Thanks!

[2021-08-03 13:14] Saduf2019 commented on #51091
@sturmianseq
Can you please refer to [this issue](https://github.com/tensorflow/tensorflow/issues/18839) and let us know.

[2021-08-03 13:16] Saduf2019 commented on #50584
@miladtoutounchian
Please post this issue on keras-team/[keras repo](https://github.com/keras-team/keras/issues).
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-08-03 13:24] ansar-sa commented on #31412
Bump

[2021-08-03 13:29] sturmianseq commented on #51091
Thanks for your reminding!
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS
- TensorFlow installed from (source or binary): source
- TensorFlow version: Tensorflow 1.14.0 (branch/tag1.14.0, from git)
- Python version: 3.7
- Installed using virtualenv? conda
- Bazel version (if compiling from source): Bazel 0.24.1 (as indicated in https://www.tensorflow.org/install/source?hl=uk for

[2021-08-03 13:35] mrwunderbar666 opened #51125 "WARNING:tensorflow:AutoGraph could not transform <function>"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No, following

[2021-08-03 13:37] dbl001 commented on #48130
Thanks for your clarification.
1. I was able to build tensorflow without MKL
E.g. bazelisk build //tensorflow/tools/pip_package:build_pip_package
2. I still can't build a wheel, but that's a separate issue:
[code]
3. My Mac had libomp (from Macports) and openmp from Anaconda:
[code]
Any idea why your patch didn't work?
E.g
[code]

[2021-08-03 13:45] FdyCN opened #51126 "Question: Can we get all the intermidiate tensors when using gpu(opencl) delegate??"
Hi guys, i wanna ask if there is any method that we can get the intermidiate tensors on gpu(opencl) delegate.   Which means, when delegate invoke is finished , all the intermidiate tensors' cl_mem are NAIVE stored and we can WRITE into a cpu ptr which is hold by TfliteTensor form the marched tensor id on CPU.

I see there is TensorTieFactory for subgraph global input & output's conversion. However

[2021-08-03 14:12] n33lkanth opened #51127 "No information in official doc regarding implementation of class_weight in customized model.fit() method"
Hi,
I have customized the standard model.fit() method based on the help/steps described in the official [page](https://www.tensorflow.org/guide/keras/customizing_what_happens_in_fit). Now, I would like to use the class_weight in this customized function but I do not see any help regarding class_weight implementation in official [page](https://www.tensorflow.org/guide/keras/customizing_what_happens

[2021-08-03 14:25] tensorbuffer commented on #51098
@tilakrayal Thanks for the quick response. The problem happens when you convert, your link does not have the convert step.
Yes I have searched and read that issue you referred, in that case I think a custom OP is used, different than mine.
I also tried to do a new conda environment and do everything there (checkout source, build pip package, install, run python to save model and convert). I had th

[2021-08-03 14:50] sushreebarsa commented on #37730
@tom-gall Could you please update as per the above comment and let us know if the issue still persists? Thanks!

[2021-08-03 14:52] sushreebarsa commented on #37693
@Flamefire It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Can you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-03 14:55] sushreebarsa commented on #38490
@yadonskov It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-03 14:55] mohantym commented on #27827
Hi!@tk2232!
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Also attempted to replicate the issue with TF v2.5 ,please find the[ gist](https://cola

[2021-08-03 15:08] karimnosseir commented on #45902
Thanks @twkx for reporting this. Will follow on the other issue.
Thank again.

[2021-08-03 15:10] sushreebarsa commented on #38560
@wangshuai-github Could you please have a look at this[ commit ](https://github.com/tensorflow/tensorflow/commit/2a72ad4071b3b5612492f85ee6bd50e35c90128b) probably it is a fixed for this issue . Please let us know if it helps? Thank you!

[2021-08-03 15:18] sushreebarsa commented on #38961
@ianholing It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-03 15:20] sushreebarsa commented on #39179
@bmabir17 It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-03 15:28] sushreebarsa commented on #39612
@noamfreeman Could you please have a look at this [link](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/java/src/main/java/org/tensorflow/lite/NativeInterpreterWrapper.java#L81-L84) ,probably it is a fix for this issue.Please let us know if it helps?Thank you!

[2021-08-03 15:29] mihaimaruseac commented on #31412
I think the best way forward is to send a PR

[2021-08-03 15:31] sushreebarsa commented on #39673
@muskedunder It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-03 15:31] mihaimaruseac commented on #50989
I think grpc, protobuf and upb all need to be updated in sync

[2021-08-03 15:33] sushreebarsa commented on #39854
@alvarobasi It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-03 15:45] sushreebarsa commented on #40148
@sr99622 It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-03 15:52] ymodak commented on #51097
This is fixed in tf-nightly version docs. See https://www.tensorflow.org/api_docs/python/tf/keras/metrics/AUC?version=nightly#args

[2021-08-03 16:36] aliosmankaya commented on #43174
That works for me, thank you! I use opencv for RGB to GRAY:
[code]

[2021-08-03 16:43] tilakrayal commented on #51078
@imohamadhoseins ,

In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.Thanks!

[2021-08-03 16:43] impjdi commented on #51119
It's unclear what model it is, but given the SUB MUL at the beginning AND your input tensors being pure integers, I assume it's a quantized model.  I'm not sure our Metal backend supports quantized models...

[2021-08-03 17:06] sushreebarsa commented on #40571
@AngelBerihuete It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-03 17:08] sushreebarsa commented on #40866
@lheim It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-03 17:12] sushreebarsa commented on #41031
@FlorentijnD It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-03 17:12] sushreebarsa commented on #41212
@ambujbansal It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-03 17:28] sushreebarsa commented on #41444
@MichaelJanz It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-03 17:37] Flamefire commented on #37693
Seems to be fixed in at least 2.4.1
However using NCCL for multi-node is (still?) broken in 2.5.0: https://github.com/tensorflow/tensorflow/issues/50926

Anyway closing this

[2021-08-03 17:37] #37693 closed

[2021-08-03 17:38] sushreebarsa commented on #41839
@iglaweb This looks more similar to this [issue](https://github.com/tensorflow/tensorflow/issues/44659)  & Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-03 17:50] yongtang commented on #51124
The latest master branch of tensorflow uses sqlite 3.35.5 so I think this vulnerability does not apply any more:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/workspace2.bzl#L359

Having said that, it will not hurt to upgrade sqlite to the latest version (3.36.0). I have created a PR #51130 for that.

[2021-08-03 17:52] sushreebarsa commented on #41855
@alexn11 It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-03 17:54] sushreebarsa commented on #41977
@raryanpur It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-03 17:56] sushreebarsa commented on #41980
@YurongYou It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-03 17:58] sushreebarsa commented on #42039
@chuanli11 It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!