[2017-05-13 01:42] IvyGongoogle commented on #916
@sstirlin yes, I also create another subprocess  for other CUDA-used  processes. and no complaints

[2017-05-13 01:45] Freshield opened #9873 "Can't not find the tutorial code for Convolutional Neural network"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-05-13 01:53] kdxtb commented on #8268
run build_and_run_inception_hexagon.sh wih '-p' needs old version tensorflow to create hexagon_graph_execution, otherwise remove '-p',totally build all the components.

[2017-05-13 02:25] neighthan commented on #7951
Not sure if this was mentioned above and I missed it, but I would appreciate a much easier way to switch between train and validation data sets. When using `feed_dict`, this is very simple, and this is what I'm used to. I've recently been trying to make the switch from `feed_dict`, but this has been (at least in my limited experience) a major difficulty. The tutorial page [here](https://www.tensor

[2017-05-13 02:25] chenghuige commented on #9832
as @shuuki4  mentioned, one way to solve this is to reshape as [-1, beam_width] when batch size is dyanmic(None).

[2017-05-13 02:29] vrv commented on #7951
@neighthan: yes this is something that @mrry has planned as well :)

[2017-05-13 02:47] ebrevdo commented on #9832
Thanks for reporting this. I'll try to get a fix out on Monday.

On May 12, 2017 7:25 PM, "allen" <notifications@github.com> wrote:

[2017-05-13 03:06] mrry commented on #9867
Thanks for figuring out the problem, @guschmue!

I think updating gRPC is blocked by #7466, which appears to be on hold because of a different(?) bug in gRPC on Windows: https://github.com/grpc/grpc/pull/9826.

Handing this off to @jhseu, who is shepherding in #7466.

[2017-05-13 04:29] shuuki4 commented on #9855
OK, I fixed the issue and made PR #9875

[2017-05-13 05:45] el3ment commented on #9821
@yaroslavvb The issue there is that I would need to create a placeholder for all the weights in VGG which is impractical.

@lukaszkaiser This is true for constants, but when I tried it with a tensor object it complained.

One alternative to having `tf.constant_initializer` accept a tensor is to make `tf.get_variable` accept a tensor as an initializer directly.. but this isn't quite as clear IMO

[2017-05-13 05:58] ac-lap commented on #5688
Did anyone find any solution for this?
I am also hitting this issue when trying to train a CNN. When I reduce the batch size to 2 its runs and at this point the GPU VRAM consumption is 217 MB/3072 MB and on increasing the batch size to 3, it gives the "failed to enqueue convolution on stream: CUDNN_STATUS_EXECUTION_FAILED" error. I doubt if this is due to low VRAM.

TensorFlow's response/support h

[2017-05-13 06:49] h4x3rotab commented on #7108
Thank you! It works for me but it's still far from a solution. I'm wondering why the official demo "camera" can work smoothly...

[2017-05-13 06:49] nkhdiscovery commented on #9525
@davidlt Are you suggesting to put ```__attribute__ ((visibility ("default")))``` in the code wherever there is something to hide? Because that requires lots of additions in third_party headers, e.g. protobuf itself, which will cause further expenses if one of those third_party libraries planned to be upgraded. I just didn't think of that as a solution because I felt it's just making another mess,

[2017-05-13 06:55] kdavis-mozilla commented on #7951
@neighthan Using current constructs, we've constructed a [`SwitchableDataSet`](SwitchableDataSet) that allows you to at run time switch between train, validation, and test.

[2017-05-13 07:13] Hvass-Labs commented on #9859
Thanks for the quick answer.

Is your recommendation to use `tf.contrib.layers.flatten()` for the time being? That is not very elegant.

It is a bit hard to understand why such a simple function is not in `tf.layers` already? Is there some technical reason?

[2017-05-13 07:13] neighthan commented on #7951
@kdavis-mozilla that sounds interesting, but the link appears to be dead. Is there another reference?

[2017-05-13 07:16] mintleaves commented on #6266
Thanks  cantonios

[2017-05-13 07:33] jiefangxuanyan commented on #9858
I hope PR #9876 could be good.

[2017-05-13 07:48] #9855 closed

[2017-05-13 07:58] kdavis-mozilla commented on #7951
@neighthan Sorry, fixed.

[2017-05-13 08:09] npuliyang commented on #9701
My tensorboard has the same questions, and it said the
[code]
and it is useless using the "training:model_dir" in the command line.

[2017-05-13 08:58] #9415 closed

[2017-05-13 10:18] freedomtan commented on #8572
Since only the single frame gif will be used in this label_image, frames should be 1. So we can use Squeeze() to remove it. See my PR, https://github.com/tensorflow/tensorflow/pull/9877

[2017-05-13 10:45] kmhofmann commented on #7951
Very promising! That is one of my biggest issues with the current API.
That said, looking at SwitchableDataSet, it seems like implementing new kinds of data feeding use cases will be mostly done by implementing use-case specific classes. Will the new programming model also feature an API to, say, implement what the SwitchableDataSet offers and beyond from more generic, lower-level primitives? I'm

[2017-05-13 11:14] leslyarun commented on #9680
@vilero worked like a charm.
I had python 3.6 in my system. Just found out it will work with 3.5 version alone and not any version above 3.5

[2017-05-13 11:45] vonclites commented on #7951
Am I correct to assume that https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/learn/python/learn/dataframe is part of the new input pipeline initiative? Is there any code out there that uses this, even if that code is undocumented? I'd like to see an example of it in use.

I also assume that the dataframes and transforms are intended to be closely integrated with estimators?

[2017-05-13 12:41] roopsmall commented on #7554
I'm also getting this warning using `global_step=tf.contrib.framework.get_global_step()`. Using tensorflow v1.1.0

[2017-05-13 12:47] burness commented on #9505
@petrosmol  Thanks

[2017-05-13 13:52] YihangLou opened #9878 "Does tensorflow support forward multiple times then backward once like average_loss in Caffe ?"
Hi, everyone. In my training tasks, the batch size is expected to be  large My training task is a little special that costs a lot of GPU memory. Now only set batch size = 6 almost run out of entire GPU memory 11GB GTX 1080Ti. However, I need to enlarge my batch size. In Caffe Platform, there is an **average_loss**  setting in solver.prototxt to perform forward multiple times and compute the averag

[2017-05-13 15:01] mmakowski commented on #5777
Thanks @pierrekilly. Unfortunately this does not work for me ("module is in use") -- probably due to the GPU being the only graphics card in my system.

[2017-05-13 15:55] rohit7033 opened #9880 "Building a Convolutional Neural Network"
### Describe the problem
I just completed the implementation of A Guide to TF Layers: Building a Convolutional Neural Network for the MNIST data set. The training model successfully ran and gave accuracy of 97.3%.

However, the tutorial does not mention how to use this new trained model to supply own images and see the predictions. Does anyone know how to use the output of the training model to ma

[2017-05-13 16:23] rjpg commented on #7554
hello

I have solve this problem :

adding config to the DNNClassifier :
    config=tf.contrib.learn.RunConfig(save_checkpoints_steps=save_checkpoints_steps
                                                                    ,save_checkpoints_secs=None)

somehow it forces the call of the monitor every  "save_checkpoints_steps"  you can configure the "force call" of the monitor by seconds. I prefer

[2017-05-13 16:30] jimfleming commented on #7951
@vonclites That's for interacting with Pandas DataFrame/Series, not the new Dataset construct.

[2017-05-13 16:44] vonclites commented on #7951
@jimfleming It seems to be more general than that. There are methods to create TensorFlowDataFrames from csv files, dicts, numpy arrays, TFRecords, as well as from pandas. It follows the nomenclature of pandas, but it also resembles Spark's pipeline, as @mrry mentioned, and has many of the features he described in the original post.

[2017-05-13 17:01] jimfleming commented on #7951
I agree that it's fairly generalized and it may be the basis for future
work but this has been available for quite a while and most of the files
haven't been updated in months.
On Sat, May 13, 2017 at 9:46 AM vonclites <notifications@github.com> wrote:

[2017-05-13 17:04] vonclites commented on #7951
@jimfleming Good point

[2017-05-13 17:11] hadim commented on #9880
GitHub issues are for issues and not to request help. I would strongly suggest you to ask here http://stackoverflow.com/questions/tagged/tensorflow

You might have better chance to get an answer.

[2017-05-13 17:22] hadim commented on #6533
Did you consider providing nightly build for Python 3.6 ? That would be great !

[2017-05-13 17:25] Carmezim commented on #9873
Hi @Freshield, sorry you faced issues finding the code. It was moved to a different repository (Models), for now while it's fixed please go [here](https://github.com/tensorflow/models/tree/master/tutorials/image/cifar10/) to access the code.
Thanks for reporting.

[2017-05-13 17:28] wujingyue commented on #6955
Caveat: AllocateRaw should check the alignment; otherwise, internal TensorFlow code may crash if the allocated memory is misaligned.

[2017-05-13 17:34] Freshield commented on #9873
Thank you very much

2017年5月13日 13:26，"Adriano Carmezim" <notifications@github.com>写道：

[2017-05-13 17:35] #9873 closed

[2017-05-13 17:40] jeansely opened #9881 "how can creat the module clstm((convolution Long short-term memory)) in tensorflow"
I wish to implement clstm's network architecture in the tensorflow, to facilitate extension and modifications to the network. already create in module?

[2017-05-13 17:40] m-anish commented on #9838
I'm closing this since apparently, the correct version of ubuntu was not being selected by travis.

Sorry for the noise.

[2017-05-13 17:40] #9838 closed

[2017-05-13 18:12] jakepoz commented on #3131
I had to run

` sess.run(tf.initialize_local_variables())`

To fix this when I had the same problem. Just adding this for reference for other folks.

[2017-05-13 18:56] Panaetius commented on #2169
I think I found bug/issue with tf.nn.max_pool_with_argmax and the unpool workaround as presented here.

Basically, the indices returned by tf.nn.max_pool_with_argmax are calculated as (y * w + x) * channels + c, but the "w" in that formula is the width of the input tensor, not the width of the input tensor + padding, if any padding (padding='SAME' and width of tensor being odd) is applied.

So whe

[2017-05-13 19:44] girving commented on #9525
@nkhdiscovery Once we're done, the code will be compiled with `-fvisibility=hidden`, and only symbols marked with `TF_EXPORT` will be exported.  Unfortunately I don't understand the details of versions scripts, so I don't know enough to answer what you can do that will be useful.  Most of the work is restructuring the actual code to make it easy to restrict exports, not doing the actual export res

[2017-05-13 21:39] yaroslavvb commented on #9821
@el3ment it should work with a Tensor, can you double check that you have latest version

[2017-05-14 00:44] ddurham2 commented on #9827
sure.. I'll give it a whirl. Could you give me a pointer on how to build the documentation (HTML or otherwise) to make sure my changes would look presentable?

[2017-05-14 02:39] Carmezim commented on #9881
@jeansely this question is better suited for StackOverflow.

[2017-05-14 02:40] Carmezim commented on #9878
Hu @YihangLou, this questions is better suited for StackOverflow. Github issues are only for bugs and feature requests.
Thanks.

[2017-05-14 03:06] pzz2011 commented on #6484
how does cuda stream pass to eigen device?

[2017-05-14 03:16] buaa-luzhi commented on #582
@zxzhijia I have the same question with you, How did you solve it?  Thank you!

[2017-05-14 03:24] martinwicke commented on #9827
The documentation on documentation is here. If you have questions or if something doesn't work as expected, please ask. Note that the doc generator currently only works for Python 2.7.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/community/documentation.md

[2017-05-14 05:57] huangliang189134 commented on #5303
@samjabrahams
Hi. I compile tensorflow on cortex-a17 encounterd the same question, but I have used  "-fomit-frame-pointer" option. Would you help me. Thank you.

In file included from external/gemmlowp/meta/streams.h:293:0,
                 from external/gemmlowp/meta/quantized_mul_kernels.h:22,
                 from ./tensorflow/core/kernels/meta_support.h:21,
                 from tensorflow/cor

[2017-05-14 09:27] znculee commented on #1568
Use small model will work.
python translate.py
  --data_dir [your_data_directory] --train_dir [checkpoints_directory]
  --size=256 --num_layers=2 --steps_per_checkpoint=50

[2017-05-14 09:30] znculee commented on #1568
Default parameters in translate are set to quite large values. Large models trained over a long time give good results, but it might take too long or use too much memory for your GPU. You can request to train a smaller model as in the following example.
[code]

[2017-05-14 10:33] mocayo opened #9890 "terminate called after throwing an instance of 'std::bad_alloc' what(): std::bad_alloc Aborted (core dumped)"
Hi everyone, I was learning the tutorials of mnist based on tensorflow.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/mnist/mnist_deep.py

I ran the py file and got  this problem.

please give me a hand.

Mocayo, thanks.

[2017-05-14 12:13] LandyGuo opened #9891 "tf.random_crop assert erroneously"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-05-14 12:55] black-snow commented on #6999
Still no 3.6 support four months later? :/

[2017-05-14 13:57] pyk commented on #394
@LeeKyungMoon Reboot only works for me, without intalling `nvidia-modprobe` as @WeitaoVan said.

[2017-05-14 15:14] thomasquintana opened #9892 "tf.while_loop runs very slow"
I'm writing a simple RNN implementation using tf.while_loop but it runs incredibly slow. Any insights would be incredibly helpful.

OS: Ubuntu/Linux (16.04)
TensorFlow: Compiled from source
TensorFlow Version: r1.1
Bazel Version: 0.4.5
CUDA/CuDNN Versions: 8.0/5.1
GPU Model/Memory: TitanX/12Gb

Here's the implementation:
[code]

It takes ~5 minutes to complete one epoch of the mnist dataset.

[2017-05-14 16:30] yaroslavvb commented on #9757
@luxiaolei you are using `feed_dict` which means that tensorflow copies array from Python to TensorFlow runtime at each step.

There's a way to avoid the copy in latest TF version if your data is aligned. Can you try latest TensorFlow nightly + align the data to 64 bits using recipe from https://github.com/tensorflow/tensorflow/issues/9690#issuecomment-299521465 to see if this speeds things up?

[2017-05-14 16:45] auroua opened #9893 "tf.where bug"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.1.0
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN version**:cuda 8.0 cuD

[2017-05-14 17:28] eddiepierce opened #9894 "Computing gradient when using tf.split generates console log"
### System information
- **Have I written custom code**: No
- **OS Platform and Distribution**: Arch Linux
- **TensorFlow installed from**: source
- **TensorFlow version**: 1.1.0
- **CUDA/cuDNN version**: 8, 6
- **GPU model and memory**: Titan X, 12 GB

### Describe the problem
When computing gradient and using tf.split with size_splits (not num_splits), tensorflow generates console log

### Sourc

[2017-05-14 19:15] thomasquintana opened #9895 "XLA "Aborted (core dumped)""
OS: Ubuntu/Linux (16.04)
TensorFlow: Compiled from source
TensorFlow Version: r1.1
Bazel Version: 0.4.5
CUDA/CuDNN Versions: 8.0/5.1
GPU Model/Memory: TitanX/12Gb

After turning on XLA JIT compiling, TF fails with a core dump.

[code]

[2017-05-14 19:24] AlexisTM commented on #6999
@black-snow There are multiple simple solutions :

- https://github.com/tensorflow/tensorflow/issues/6999#issuecomment-278459224 Anaconda to manage environnements
- Recompile yourself
- (hex)Edit the executable to change the link to the Python 3.6 dlls

[2017-05-14 19:35] carlthome commented on #9881
Here's an implementation: https://github.com/carlthome/tensorflow-convlstm-cell

[2017-05-14 20:25] melvyniandrag opened #9896 "Little issues in documentation"
What is the proper forum for contributing / discussing documentation errors?

There are dead links on this page: https://www.tensorflow.org/tutorials/deep_cnn

and in the "Manual Device Placement" section of this page https://www.tensorflow.org/tutorials/using_gpu
a, b and the result of the matmul should all be on the cpu, but the output in the docs shows that the matmul is done on the gpu.

[code

[2017-05-14 21:14] untom opened #9898 "Support for float16 in tf.layers"
It seems like `tf.layers.*` do not support `tf.float16`, because they rely on the default value handed to the `_Layer` superclass [here](https://github.com/tensorflow/tensorflow/blob/r1.1/tensorflow/python/layers/base.py#L64). It would be great if tf.float16 could be supported there.

[2017-05-14 21:17] nkhdiscovery commented on #9525
@girving Thanks for your answer, I just understood what you are doing as the solution. Is there any way I can contribute to accelerate this? Isn't it just enough to add this macro to all API functions?

[2017-05-14 21:37] lostmsu commented on #7258
What about GPU support?

[2017-05-14 21:39] kingaj12 commented on #5073
This INFO message is not blocked even when I set:

    import os
    os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'
    import tensorflow as tf

It seems like this is very old code?

[2017-05-14 22:05] snassimr opened #9900 "DNNClassifier and GridSearchCV example"
Hi ,

I am trying to run an gridsearch example in [https://github.com/petewarden/tensorflow_makefile/blob/master/tensorflow/contrib/learn/python/learn/tests/test_grid_search.py](url)
If example inside testIrisDNN intend to be working ?

I am getting

[2017-05-14 22:37] yaroslavvb opened #9901 "tf.gradients runtime scales suboptimally with size of the graph"
`tf.gradients` can be inefficient on large graphs and it runtime increases with size of the graph, even when the amount of work it needs to do is constant. This inefficiency is apparent when trying to differentiate small parts of large graph many times.

Discovered when trying to scale to 8 GPUs using data parallelism using 8 identical copies of model -- time spent inside gradients grows for each

[2017-05-14 23:06] frankcarey commented on #7457
Happens intermittently with `tensorflow/tensorflow:1.0.1-gpu-py3` docker image and keras.

[code]

[2017-05-14 23:42] hadim commented on #8511
I am also fighting with the API to be able to save a model + weights from an `Estimator` and then do prediction elsewhere (without necessarily using TF Serving). See here for details: http://stackoverflow.com/questions/43966073/prediction-from-model-saved-with-tf-estimator-estimator-in-tensorflow

[2017-05-15 00:45] trajano commented on #8266
Can we have official binaries in central with at least the different presets?  And change the dependencies so that the JNI code is not implicitlly included in `tensorflow` much like how slf4j separates the API and does a lookup for the implementation.

[2017-05-15 01:09] jkschin commented on #2732
@yaroslavvb I realized I'm already doing a simple feed-forward network above.

[code]
@girving yeah you mentioned adding a note to this effect. Where should it be added? Agree on a deterministic push!

[2017-05-15 01:38] ruggeri opened #9902 "Session#run method's feed_dict argument implicitly converts types"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes?
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: OSX 10.12.3
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.1.0
- **Bazel version (if compiling from source)**: NA
- **CUDA/cuDNN version**: None
-

[2017-05-15 01:38] fesun commented on #9823
@rmlarsen ping...

[2017-05-15 01:46] yaroslavvb commented on #2732
@jkschin as an end-user who got tripped up by non-determinism, you might have an idea where this note should go, so that other people like you would see it

[2017-05-15 02:22] yaroslavvb opened #9903 "Mac nightlies blocked by failing test in contrib"
Last Mac nightly is May 1st

Looking at the last failure it seems it was caused by contrib
//bazel_pip/tensorflow/contrib/batching:batch_ops_test                   FAILED in 1 out of 2 in 14.5s

Since /contrib/ packages don't always have maintainers, should the "Success" criteria perhaps be relaxed to still release the pip package if some /contrib/ thing fail? @martinwicke

https://ci.tensorflow.o

[2017-05-15 02:32] yaroslavvb commented on #9902
I would say this is a bug, silently turning floats into ints is surprising

There was a similar one fixed by @suharshs added some code [here](https://github.com/tensorflow/tensorflow/blob/a5b1fb8e56ceda0ee2794ee05f5a7642157875c5/tensorflow/python/framework/tensor_util.py#L391) to prevent python integers >2^31 being silently downcasted to int32.

[2017-05-15 02:52] martinwicke commented on #9903
The problem here is actually that all our Mac workers are offline. We'll
make new nightlies as soon as they come back.

On May 14, 2017 7:23 PM, "Yaroslav Bulatov" <notifications@github.com>
wrote:

[2017-05-15 03:26] solomatov commented on #2626
I've got a very similar error:

2017-05-14 23:24:50.784478: F tensorflow/core/platform/default/gpu/cupti_wrapper.cc:59] Non-OK-status: ::tensorflow::Env::Default()->GetSymbolFromLibrary( GetDsoHandle(), kName, &f) status: Not found: /home/kostik/anaconda3/lib/python3.6/site-packages/tensorflow/python/_pywrap_tensorflow_internal.so: undefined symbol: cuptiActivityRegisterCallbackscould not find cup

[2017-05-15 04:23] dineshgit commented on #9701
I'm also facing this same error:
WARNING:tensorflow:path ../external/data/plugin/text/runs not found, sending 404

I'm using TFlearn on Windows 10. Tensorflow 1.1.0 (I have CUDA and all the necessary libraries installed).
 But my Tensorboard isn't capturing the model I built on Tflearn well. I instead get this error messages:

WARNING:tensorflow:path ../external/data/plugin/text/runs not found, se

[2017-05-15 04:26] girving commented on #9525
Most of the complexity is refactoring the code so that protos don't need to be exposed, since we don't have control over those.  I'm not sure how to parallelize the required refactoring, and unfortunately a good chunk of the complexity is making sure said refactoring doesn't break non-opensource code.

[2017-05-15 04:29] chenghuige opened #9904 "BeamSearchDecoder cell state never changed"
tf version '1.1.0-rc2'
It looks BeamSearchDecoder never used next_cell_state, but always using the inital cell state.
In beam_search_decoder.py 423
        next_cell_state = nest.map_structure(
            self._maybe_split_batch_beams,
            next_cell_state, self._cell.state_size)
But next_cell_state is never used later, since just pass   state to _beam_search_step function where state.cell

[2017-05-15 04:54] Craigjw opened #9905 "Wrong hyperlink in web page tutorial"
There is a wrong html link in text in the tutorial "Vector Representations of Words" at address https://www.tensorflow.org/tutorials/word2vec

The text is in the first paragraph after the bullet points in the Highlights section at the top of the page.

The link for:

**tensorflow_models/tutorials/embedding/word2vec.py**
https://www.github.com/tensorflow/tensorflow/blob/r1.1/tensorflow_models/tutor

[2017-05-15 05:49] sj6077 opened #9906 "tf.import_graph_def() restricts the order of nodes in graph proto."
-----------------------
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
commit 3bee923c9
- **Bazel version (if compiling from source

[2017-05-15 05:59] JcmeLs commented on #2604
I fix it.Thanks again.

[2017-05-15 06:40] shuuki4 commented on #9904
I wrote the code using BeamSearchDecoder, and struggling to solve the issue that the first step's output looks quite OK but later steps' output seems strange (similar to first step's output). This seems to be the reason why..

[2017-05-15 07:28] j-min commented on #6803
Since I haven't found any example codes for contrib.seq2seq API after 1.1 release, I made my own sample codes.
https://github.com/j-min/tf_tutorial_plus/tree/master/RNN_seq2seq
Is there a way that I can contribute by refactoring my code as part of official tutorials seq2seq APIs?

[2017-05-15 08:49] appierys commented on #9894
I have the same problem. Moreover, the gradients computed may be corrupted. Although I am not sure actually.

[2017-05-15 09:11] chenghuige commented on #9904
Also we need to reorder new cell state according to next_beam_ids.

[2017-05-15 09:18] freesouls commented on #1890
@lababidi thanks for your tips, after some efforts, I can run successfully in your way.

[2017-05-15 10:02] wj1066 opened #9910 "Issues with spark-tensorflow-connector"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:1.1.0 and 1.0.0
- **Bazel version (if compiling from source)**:NA
- **CUDA/cuDNN version

[2017-05-15 10:03] sunsided opened #9911 "Estimator predict() fails after fit() or evaluate()"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, I did write an `input_fn` based code based on the [Abalone](https://www.tensorflow.org/extend/estimators) example. Specifically, I replaced the `x` and `y` parameters with custom `input_fn` implementations loading images and applying `map_fn` to them before batching. Th

[2017-05-15 11:38] leo-p commented on #9517
Any news on this issue? It would definitely be a useful feature!

[2017-05-15 11:48] kovek commented on #2838
Why is it be interesting to use the output of a run as the input of the next run? By the different runs do you mean two different batches? Do you mean two series within a batch? What if the zero_state was just random noise?

[2017-05-15 11:50] luxiaolei commented on #9757
@yaroslavvb Sorry for the late reply. I upgraded Tensorflow to version 1.1.0-rc2, ran the sample code with and without align the first input to 64 bits, both observed a 2.3 times speed boost! WOW, what a huge boost! I have noticed that the output of `sess.run` is 64 bits aligned, whereas in version 1.0.1 is not.

Many thanks ! Really saved my day! My problem solved, closing the issue.

[2017-05-15 11:50] #9757 closed

[2017-05-15 11:50] YadavKapil opened #9912 "Bazel Build fails with missing input file error @grpc"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No. Stock script is used.
- **OS Platform and Distribution**: CentOS Linux release 7.2.1511.
- **TensorFlow installed from** : Source.
- **Bazel version**: 0.4.5
- **CUDA/cuDNN version**: 7.5
- **Exact command to reproduce**:
./bazel build --config=opt --config=cuda --spawn_

[2017-05-15 11:51] luxiaolei commented on #9757
If you need me to do more tests, I am very glad to:)

[2017-05-15 12:47] pierrekilly commented on #5777
@mmakowski I had this message because I didn't stop my Jupyter notebook server. Make sure you stop everything that could hold the GPU before doing this. I have an hybrid graphic card, so the `module is in use` problem might also be due to the GPU beeing the only graphic card, as you say, but it's worth a try :)

[2017-05-15 13:35] chenghuige commented on #9904
Also there are still bugs if fixing above problem. For BeamSearchDecoder design, it is dynamic and stop when all facing <EOS>, but is it good for doing beam search, I think done beams should not competing with non finished beams.  Take a small example, compare the result of out graph beam search(beam_width 2) and beam search by BeamSearchDecoder:
for out graph beam search I got:
0 [936, 2] 古代/<EOS

[2017-05-15 14:00] jubjamie commented on #9880
@rohit7033 is this resolved? If not please raise or link a Stack Overflow question, link it here and **close** the issue. I can come and help you if required.

[2017-05-15 14:02] jubjamie commented on #9872
Duplicate of #8429
Was raised a while ago but no traction just yet!

[2017-05-15 14:29] kickbox commented on #7669
I wanted to learn, TF and started of with tf.contrib.learn from https://www.tensorflow.org/get_started/tflearn.  However I got stuck in the same problem with ValidationMonitors. I understand that they are depreciated now. I don't have the head to go through the new "hooks" tutorial. for visualizing though tensor board yet. Is there are simple tutorial using iris dataset as a continuation from ~/ge

[2017-05-15 14:31] YadavKapil commented on #9912
Bazel clean solved this issue.

Thanks.

[2017-05-15 14:31] #9912 closed

[2017-05-15 14:34] qtdaniel opened #9914 "Optimizing valid TensorFlow graph yields "graph_def is invalid" ValueError"
`tensorflow.python.tools.optimize_for_inference_lib.optimize_for_inference` is producing an invalid graph definition. So far as I can tell this is not user error; optimizing a valid graph definition should produce a valid graph definition, so this appears to be a bug.

The following code demonstrates the problem. You will need the input graph definition [model.txt.gz](https://github.com/tensorflow

[2017-05-15 14:47] skye commented on #9816
Hey Doug, your code sample is very hard to read. It looks like a bunch of the line breaks were lost somehow. I think replying by email is screwing up github, would you mind opening the issue and repasting in your code + error into a comment directly? You can use the "<>" button above the comment edit box to insert a code block. Thanks!

[2017-05-15 14:50] FedericoMuciaccia opened #9915 "problem importing tensorflow with tensorflow-gpu pip package and Nvidia PRIME"
### System information
- OS Platform and Distribution: Linux Ubuntu 16.10
- TensorFlow installed from: binary
- TensorFlow version: tensorflow-gpu-1.1.0
- **CUDA/cuDNN version**:
- GPU model and memory: GeForce 940MX 982MiB
- Exact command to reproduce: import tensorflow

== cat /etc/issue ===============================================
Linux Lyn 4.8.0-51-generic #54-Ubuntu SMP Tue Apr 25 16:32:21

[2017-05-15 14:52] skye commented on #9824
@ebrevdo can you comment?

[2017-05-15 14:53] skye commented on #9854
@dandelionmane @jart

[2017-05-15 14:58] skye commented on #9866
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary? If you are unclear what to include  see the issue template displayed in  [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new).

 We ask for this in the issue submission template, beca

[2017-05-15 14:59] yaroslavvb commented on #9757
@alextp  -- looks like a happy customer of your copy-free numpy array change :)

[2017-05-15 15:10] skye commented on #9870
@andydavis1 can you take a look at this or redirect to someone else who can? Thanks!

[2017-05-15 15:11] skye commented on #9872
Closing as duplicate.

[2017-05-15 15:11] #9872 closed

[2017-05-15 15:14] skye commented on #9878
I'm gonna close this. @YihangLou, please open a new issue if you can't find a good solution via  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) and would like to request a new feature.

[2017-05-15 15:14] #9878 closed

[2017-05-15 15:16] skye commented on #9890
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-05-15 15:17] skye commented on #9892
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-15 15:17] #9892 closed

[2017-05-15 15:17] maciekcc commented on #5303
Does it compile without: --copt="-funsafe-math-optimizations" --copt="-ftree-vectorize" ?

[2017-05-15 15:44] concretevitamin commented on #9904
@ebrevdo mind taking a look?

[2017-05-15 15:53] concretevitamin commented on #9894
@eddiepierce: can you paste the complete log?  Is this a harmless info log?

[2017-05-15 15:57] concretevitamin commented on #9910
Is it possible that the `/home/wj/test-output.tfr"/home/wj/test-output.tfr` is somehow not readable by the TF program?  Can you try changing its permission to 777?

@jhseu

[2017-05-15 15:59] concretevitamin commented on #9914
The team has recently released a tool called `graph_transforms`, which contains (possibly more complete?) similar functionalities that optimize for various deployment use cases: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_transforms

Can you take a look at this newer tool to see if it works?

[2017-05-15 16:02] bzhong2 commented on #5036
+1

[2017-05-15 16:09] eddiepierce commented on #9894
@concretevitamin
[code]

"Free memory" is low because I'm running a separate model.

Yes, it's a harmless info log.

[2017-05-15 16:15] concretevitamin commented on #9894
@ekelsen: at a casual glance I didn't find any print statement or logging in `split`/`split_v`-related code (and their gradients).  Do you know where that gradient array is printed?

[2017-05-15 16:18] concretevitamin commented on #9898
@fchollet

[2017-05-15 16:20] concretevitamin commented on #9906
@benoitsteiner: mind taking a look?  Do we have plans to modify `tf.import_graph_def()` for the desired effects?

[2017-05-15 16:20] concretevitamin commented on #9880
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-15 16:20] #9880 closed

[2017-05-15 16:23] concretevitamin commented on #9896
We would love to see pull requests from the community to make TensorFlow better!  Please take a look at [this contributing guide](https://github.com/tensorflow/tensorflow/blob/master/CONTRIBUTING.md).  The doc you referred to reside in the [`docs_src` directory](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/docs_src).

Closing this as this question has been answered - feel free t

[2017-05-15 16:23] #9896 closed

[2017-05-15 16:26] #9903 closed

[2017-05-15 16:31] jrabary opened #9916 "tf.self_adjoint_eig doesn't behave the same way with float32 and float64"
Here is an example to reproduce the problem

[code]

When I set `dtype=tf.float64` the output is

[code]

When `dtype=tf.float32` the output is

[code]
In this case the sign of the second eigen vector changed.

The numpy equivalent of this code always give the same result (in float or float32) and is similar to the result I got with the tf.float64 version

[code]

[code]

[2017-05-15 16:41] kstant0725 commented on #6504
So far I have been using the following to orthogonalize:

    AA =tf.matmul(tf.transpose(A),A)
    L = tf.cholesky(AA)
    U = K.transpose(tf.matrix_solve(L,tf.transpose(A)))

This works well most of the time unless the matrix A is ill conditioned or not full rank.  Do you have any suggestions for an alternative which will wont throw an exception when the matrix is not full rank?

[2017-05-15 16:52] athuldevin commented on #7664
i got this error what i do

  File "C:\Users\win-7\Downloads\Compressed\tensorflow_chatbot-master\seq2seq_model.py", line 98, in __init__
    single_cell = tf.nn.rnn_cell.GRUCell(size)
AttributeError: module 'tensorflow.python.ops.nn' has no attribute 'rnn_cell'

[2017-05-15 16:59] jvlmdr opened #9917 "Feature request: tf.nn.depthwise_conv2d_transpose"
### System information
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: ('v1.1.0-0-g1ec6ed5', '1.1.0')
- **Bazel version (if compiling from source)**: 0.4.5- (@non-git)
- **CUDA/cuDNN version**: 7.5/5.1
- **GPU model and memory**: NVIDIA M40, 12GB

### Describe the problem
I would like to apply a `tf.nn.conv2d_transpose` operation to each cha

[2017-05-15 17:04] chzeng commented on #9917
thanks  for  your  share

[2017-05-15 17:13] yaroslavvb commented on #9916
Note that this matrix has rank 3, and the eigenvector in question corresponds to 0 eigenvalue.

Also note that both 0.5,0.5,0.5,0.5 and -0.5,-0.5,-0.5,-0.5 are valid normalized eigenvectors.

So, from the description of the function it seems the behavior is correct. I agree that it would be less surprising to have more deterministic behavior. Maybe an additional constraint to always have first com

[2017-05-15 17:25] tfboyd commented on #7187
I changed their ResNet to use Fused and it is now down to ~105ms which is aligned with the other platforms.  I also checked the accuracy at 42 epochs (that seems to be what they are doing) and it is ~79% which seems to line up with the previous results.  I am pretty sure they are using NHWC so there might be a small gain moving to NCHW but given the step times are close to the other platforms I am

[2017-05-15 17:28] mmmmming18 commented on #8191
TF1.2 will solve this problem? Please help me how to continue training the model. TF 1.0 works but doesn't have devicewrapper api for multiple GPUs.

[2017-05-15 17:43] starcrest opened #9918 "preserving specific checkpoints"
Savers automatically clean up checkpoints and that's lovely.  But there are special points during training that I want to be sure to save (e.g. transitioning from a pre-training phrase to full training), which I can't ensure with the current options (unless I just keep everything, by making ```max_to_keep``` & ```keep_checkpoint_every_n_hours``` huge).

Two possible approaches:

1)  ```saver.save(

[2017-05-15 17:46] drpngx commented on #9895
Thanks for reporting! Do you have a simple script to repro?
CC: @tatatodd

[2017-05-15 17:53] Panaetius commented on #9091
I have a similar issue and stumbled upon this report. I used the code supplied by @JonathanRaiman  to quickly try and test what exactly (which instruction) is causing my issue.

After a lot of different tests, evaluating different ops, I got the following code that reliably reproduces this problem:

`import argparse
import psutil

from os import getpid
import tensorflow as tf
import numpy as np

d

[2017-05-15 17:58] skye commented on #9894
I tried this myself, the print statement occurs when you run `train_op = tf.train.AdamOptimizer().minimize(loss)` (specifically the minimize() call). I'm digging into finding where the errant print is.

[2017-05-15 18:00] jrabary commented on #9916
@yaroslavvb my problem here is not the first eigen vector but the second one. It goes from -0.16, 0.16, -0.68, 0.68 to 0.16, -0.16, 0.68, -68 with the same eigen value. And it changes every thing.

[2017-05-15 18:10] skye commented on #9894
It's here: https://github.com/tensorflow/tensorflow/blob/r1.1/tensorflow/python/ops/array_grad.py#L274
It looks like this is already fixed in master: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/array_grad.py#L271

Thanks for reporting!

[2017-05-15 18:10] #9894 closed

[2017-05-15 18:14] skye commented on #9902
@martinwicke is changing our implicit conversion rules in placeholders breaking our API guarantees? I agree this is confusing and dangerous, but in theory some may rely on this behavior...

[2017-05-15 18:19] nealwu commented on #7664
Hi @athuldevin, as mentioned above, `tf.nn.rnn_cell` has moved to `tf.contrib.rnn`.

What you should actually do to solve the problem however is to pull your repository / grab the latest version of the code at https://github.com/tensorflow/models/blob/master/tutorials/rnn/translate/seq2seq_model.py. Your current version is out of date, and there have been a few other bugs fixed since then.

[2017-05-15 18:22] suharshs commented on #9902
@yaroslavvb, the fix was actually be @saxenasaurabh :)

[2017-05-15 18:32] yaroslavvb commented on #9916
@jrabary same thing here, they are both correct eigenvectors

[2017-05-15 18:43] thomasquintana commented on #9895
I have simplified the code as much as possible. I hope this helps.

[code]

[2017-05-15 18:56] thomasquintana commented on #9895
I will add that I inquired about tensorflow's `tf.while_loop` performance [here](https://github.com/tensorflow/tensorflow/issues/9892) and I was directed to stack overflow which doesn't make sense to me since `poor performance == bug` to me. This is a very simple use case. In any case I hope the feedback helps the TF community.

[2017-05-15 19:12] brandon-white commented on #8220
Has anybody dug into this yet?

[2017-05-15 19:22] skye commented on #9918
@sherrym

[2017-05-15 19:22] skye commented on #8658
@sherrym

[2017-05-15 20:06] yaroslavvb commented on #8658
Another possibility is to have a tool that runs independent of Saver. IE, something that accepts current save path, an evaluation function and `best_checkpoints` target path. Like an eval script, it would run in a loop, each time evaluating latest checkpoint, and copying it into "best_checkpoints" directory if necessary.

@vrv posted some guidelines one when it makes sense to integrate something i

[2017-05-15 20:12] vrv commented on #8658
It may also be something that a monitored session hook should do, if one doesn't already exist.

[2017-05-15 20:44] osdf commented on #4478
@akosiorek Thank you! I didn't try your approach, but a similar one suggested by @mrry here: http://stackoverflow.com/questions/42564698/invalidargumenterror-the-node-has-inputs-from-different-frames. A `tf.constant_initializer` resolves the described problem.

[2017-05-15 20:57] rajatvikramsingh opened #9920 "Freezing graphs with custom ops"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04 and MacOS Sierra
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: master (quite recent)
- **Bazel version (if compiling from source)**: 0.4

[2017-05-15 22:17] #9786 closed

[2017-05-15 22:17] #9826 closed

[2017-05-15 22:21] girving commented on #9786
`decode_jpeg` now handles pngs without comment.

[2017-05-15 22:51] fchollet commented on #9898
You can always instantiate a layer with `dtype=tf.float16`, causing its weights to be created in fp16, making it callable on fp16 inputs. Any layer would work.

[2017-05-15 22:52] ali01 commented on #9567
I'm unable to reproduce this issue. Please reopen if it surfaces again.

[2017-05-15 22:52] #9567 closed

[2017-05-15 23:09] ali01 commented on #9871
Thanks @capybaralet, noted.

[2017-05-15 23:10] ali01 commented on #9881
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-15 23:11] #9881 closed

[2017-05-15 23:12] ali01 commented on #9891
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-15 23:12] #9891 closed

[2017-05-15 23:13] ali01 commented on #9901
Thank you, Yaroslav!

[2017-05-15 23:14] ali01 commented on #9901
@prb12, any thoughts about this? (:

[2017-05-15 23:19] physicso commented on #7664
The RNN definition for TF 0.12 is different from 1.0: tf.nn. * -> tf.contrib.rnn. *

The model is not compatible, in other words, once we trained a model on TF 0.12, it is hard to restore it on TF 1.0.

I wrote an adapter, using which you can transfer TF 0.12 RNN model into TF 1.0.

Sample code ({k} indicates the k_th RNN layer):
replace_vars = {
'rnn/rnn/MultiRNNCell/Cell{k}/BasicLSTMCell/Linear/

[2017-05-15 23:23] ali01 commented on #9905
Thank you for the heads up, @Craigjw. We're on it.

[2017-05-15 23:28] ali01 commented on #9911
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-15 23:36] ali01 commented on #9911
Hi @sunsided, thank you for pointing this out. Would you be able to provide a simpler a script that reproduces the error that does not depend on images?

Thank you,
Ali

[2017-05-15 23:36] sunsided commented on #9911
I can try.

[2017-05-15 23:53] benoitsteiner commented on #9906
The easiest solution is probably to update the grappler optimizers to ensure that the final output is generated in topological order. The one difficulty is going to figure out where to break looks to make TensorFlow happy.  The natural place would be the NextIteration node.

[2017-05-15 23:54] ali01 commented on #9895
Hey @tatatodd, could you take a look when you get a chance? (:
Thanks,
Ali

[2017-05-15 23:55] ali01 commented on #9893
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-15 23:55] #9893 closed

[2017-05-16 00:07] ali01 commented on #9471
Hi @ruiann, are you able to construct a minimal reproducible example of this problem? As @aselle asked, if you remove all of the summary code, does the problem still occur?

[2017-05-16 00:08] wj1066 commented on #9910
@concretevitamin It’s still not work...

[2017-05-16 00:22] HassebJ commented on #255
Just to expand on what @Alek-dr mentioned, if on your system the environment variable CUDA_VISIBLE_DEVICES is empty or set to a any value other than IDs of GPUs on your system then you might encounter this issue.

I have two GPUs installed so setting `export CUDA_VISIBLE_DEVICES=0,1` allows TensorFlow to use both of them.

[2017-05-16 00:50] danijar commented on #2838
@kovek When input sequences are too long to fit into memory, we need to chunk them. Even though we usually don't backpropagate across chunk boundaries, we want to at least carry over the hidden state of the RNN.

[2017-05-16 00:54] zhangyaobit commented on #9906
@sj6077, it's great/exciting to see you are using this feature!

While we are still actively developing it and improving its usability/scalability, I hit the same order problem you described when applying it to the RNN PTB model. I'm working on a fix, which will be submitted soon.

We'd be glad to hear more of your feedback and suggestions later.

[2017-05-16 01:21] jkschin commented on #2732
Would a post [here](https://www.tensorflow.org/performance/) titled "Non-determinism in TensorFlow" with some example code help?

[2017-05-16 01:40] jart commented on #9854
I'll write up a change soon to work around this issue. I'm not sure if a perfect solution is possible. It might be best if we just not allow single character run names. Or maybe only impose that behavior on Windows, or when backslashes are used.

[2017-05-16 01:49] yaroslavvb opened #9925 "graph_editor copy_with_input_replacements doesn't update colocation constraints"
It seems if you try to use graph_editor to make copy of a model to place on another device, the new graph will still refer to old version inside colocation constraints.

This causes errors like below when trying to run resulting graph.
`tensorflow.python.framework.errors_impl.InvalidArgumentError: Cannot colocate nodes 'gradients/Max_1_1_grad/mul' and 'gradients/AddN_13: Cannot merge devices with

[2017-05-16 02:01] #7774 closed

[2017-05-16 02:21] ChenChuang opened #9926 "Issues with RoCE support"
When rendezvous_mgr->RecvLocalAsync fails, grpc responds with the Status, while grpc+verbs does not. Should we consider this situation ? @junshi15

[2017-05-16 02:43] huangliang189134 commented on #5303
I used this compile option:
bazel build -c opt --copt="-mfpu=neon-vfpv4" --copt="-std=c++11"  --copt="-funsafe-math-optimizations" --copt="-ftree-vectorize" --copt="-fomit-frame-pointer" --local_resources 1024,1.0,1.0 --verbose_failures tensorflow/tools/pip_package:build_pip_package

[2017-05-16 04:42] dugu9sword opened #9927 "Some small problems with the RNN and seq2seq implementations"
1. In the class `AttentionCellWrapper` , https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/rnn/python/ops/rnn_cell.py#L1116  , maybe the `lstm_output` should be replaced by some other token, since the wrapper is not specified for LSTM.

2.  In the class `Decoder`, https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/seq2seq/python/ops/decoder.py#L90 , I thi

[2017-05-16 05:14] untom commented on #9898
The layers in `tf.layers` do not accept a `dtype` argument, that is my whole point.

[2017-05-16 05:27] ailias opened #9928 "I'm curious about whether these two graphs are same network"
![cifar](https://cloud.githubusercontent.com/assets/10510469/26090870/2fd017a4-3a3a-11e7-9303-13b912a8b0c1.png)
As we know, the upper graph is the provided example instance of CIFAR10. But when I copied these inference() code to my code, it likes as bellow. So my question is does these two graphs are equal? If yes, why they are looks like so different?
![cifar-my](https://cloud.githubusercontent.c

[2017-05-16 05:34] fchollet commented on #9898
All layers support the `dtype` argument. But I see what you mean now. You mean "the functional interfaces to core layers don't have the dtype argument in their signature". That's right. I would suggest adding it.

[2017-05-16 06:14] brandon-white commented on #8220
Any ideas for temporary fixes?

[2017-05-16 06:20] brandon-white commented on #8220
@prb12 @suharshs @zheng-xq Have any of you taken a look at this one yet? I am getting the same issue for case 4. Any ideas for a temporary fix?

[2017-05-16 06:39] suiyuan2009 commented on #8962
I'll work on this!

[2017-05-16 07:05] rdaiasy opened #9929 "Compiling tensorflow 1.1 under Centos 7"
I'm trying to compile tensorflow with cuda support under linux Centos 7 distribution.

I followed the instructions provides at [github: gentaiscool/tensorflow.md ](https://gist.github.com/gentaiscool/a628fab5cd98953af7f46b69463394b3) with no success.

In this page they ask for hacking the file tensorflow/third_party/gpus/crosstool/CROSSTOOL (adding the line "cxx_builtin_include_directory : "/usr/l

[2017-05-16 07:27] 9970557164 opened #9930 "AttributeError: type object 'NewBase' has no attribute 'is_abstract'"
------------------------

### System information
-
-OS Platform and Distribution  =Ubuntu 14.04
- **TensorFlow installed =
 i mtrying to install tensorflow using following link

https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.1.0-cp27-none-linux_x86_64.whl

### Describe the problem
when i am trying to import tensorflow its not working what to do you can check following logs

### S

[2017-05-16 08:04] auroua commented on #9893
Thanks for you reply!

[2017-05-16 08:52] galeone opened #9931 "Go: SIGSEGV when using int32 instead of int64 and missing error in Resize functions"
## Problem

In Go, some operation causes a SIGSEGV when using an `int32` instead of an `int64` (and I have reasons to believe that the same will happen when using `float` instead of `double` and vice-versa).

The `Resize*` operations don't define the output shape correctly when the input is not a "batch": they just let the dimensions undefined instead of raising some errors.

The tests below are c

[2017-05-16 08:56] utkarsh39 opened #9932 "Incorrect Timing Stats Reported by tfprof"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: I have added profiling code as shown below to the cifar10 code ([https://github.com/tensorflow/models/tree/master/tutorials/image/cifar10]).

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:

[2017-05-16 09:00] jrabary commented on #9916
@yaroslavvb I understand. In fact, additional constraint will be help full here to get consistent result accross run.

[2017-05-16 09:58] jubjamie commented on #9928
While this is an interesting question you're better off **asking this on Stack Overflow** tagged as Tensorflow as this will get closed by the devs as it's not a bug.

From a quick glance it looks like they do share a lot of similar components but the inference code shows the graph built together instead of what looks like the model components in the top picture. Bit i'm not sure. Hopefully those o

[2017-05-16 10:11] jubjamie commented on #9915
Please can you clarify. You are unable to load tensorflow-gpu when your graphics card is off. But you used to be able to? And you can run tensorflow-gpu ok when the GPU is on? I'm almost certain this is intentional as Tensorflow won't be able to access the GPU and won't function.

Can I suggest that you read through #9071 to see if it relates to you. I notice that you are on 16.10 however I have n

[2017-05-16 13:15] Koshub opened #9934 "No OpKernel was registered to support Op 'GatherNd' with these attrs"
env: macOS
tf version: master brunch

I built tensorflow on `macOS` using `build_all_ios.sh`. Then I tried to load `frozen.pb` data created by python program. Here is a code to load graph in `iOS`:

[code]

 First thing is with default build settings `libtensorflow-core.a` is extremely large - more then 400 MB that is not applicable for using in mobile devices. In any case while loading `graph` I

[2017-05-16 13:19] Caselles opened #9935 "Unable to freeze Keras layers in a Tensorflow workflow."
I'm trying to freeze Keras layers in a Tensorflow workflow. It seems that the flag trainable does not work in tf.contrib.keras. This is how I define the graph :

`sess = tf.Session()`

`K.set_session(sess)`

`labels = tf.placeholder(tf.float32, shape=(None, 1))`
`user_id_input = tf.placeholder(tf.float32, shape=(None, 1))`
`item_id_input = tf.placeholder(tf.float32, shape=(None, 1))`

`max_user_id

[2017-05-16 13:20] qtdaniel commented on #9914
Thanks @concretevitamin, that worked great. The only quibble I have is that the `TransformGraph` tool is not included in the TensorFlow pip package so I had to add it to the `PYTHONPATH`. Do you know if `optimize_for_inference_lib` is to be removed from the pip package and if `TransformGraph` is to be added to the pip package?

[2017-05-16 13:36] ruiann commented on #9471
@ali01
This is the minimal reproduce I think, no useless code, use a SRGAN network. I don't know how can I minimize it without break the network.

It occurs regardless of the summary. I wonder if it's because the random shuffle queue but have no time to deal with it recent days.

[2017-05-16 14:02] weiliu620 commented on #9701
I've upgraded to TF 1.1.0 64 bit but also has this error and tensorboard show nothing. (Ubuntu 14.04 64bit, python 3.4)

[2017-05-16 14:35] javidcf commented on #9284
There is also not full support for broadcasting in the other way, when `condition` is smaller than `x` or `y`; as indicated in the docs it only works if `condition` is a vector, but it could be extended to work with `condition` matching an arbitrary number of first dimensions of `x` and `y` (I'm not sure if this is considered also "broadcasting") and/or broadcasting singleton dimensions.
NumPy req

[2017-05-16 14:46] denisalevi commented on #8092
Had the same error as @Yevgnen. Using the 'testing' version of babel instead of the 'stable' version solved it for me (see [this section in the install instructions](https://bazel.build/versions/master/docs/install-ubuntu.html#1-add-bazel-distribution-uri-as-a-package-source-one-time-setup)).

If it helps, I'm on
[code]
with
[code]

[2017-05-16 15:19] concretevitamin commented on #9914
Great to know it works!  Adding @petewarden to answer these questions.

[2017-05-16 15:26] yaroslavvb commented on #9925
BTW, I used following work-around to rewrite colocation constraints in copied graph to point to copied ops

   from tensorflow.core.framework import attr_value_pb2
   import tensorflow.contrib.graph_editor as ge

    copied_sgv, info = ge.copy_with_input_replacements(ge.sgv(self.ops),
                                                       replacements)

    def to_bytes(s): return s.encode('ascii'

[2017-05-16 15:50] girving commented on #2732
Yes!  @martinwicke: That a good place for an overview of TensorFlow nondeterminism?

[2017-05-16 15:53] drpngx commented on #9929
Did you try adding `/usr/lib/gcc/x86_64-redhat-linux/4.8.5/include` as a builtin directory?

[2017-05-16 15:57] martinwicke commented on #2732
I think it should go into the programmer's guide section, but @wolffg has a better overview of where to put this.

Either way, the content would be the same, and we'd be enthusiastic about it.

[2017-05-16 16:07] zasdfgbnm opened #9937 "reimplement core/util/cuda_kernel_helper.h?"
Hi,

I'm trying to implement a `GetCuda3DLaunchConfig` into `cuda_kernel_helper.h`, but while reading the code, I feel it's a bit confusing and there might be a better way to implement it.

Here is the pointer:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/util/cuda_kernel_helper.h

In line 55-57, there is something like `block_count = physical_thread_count / thread_per_bloc

[2017-05-16 16:13] asimshankar commented on #9931
Thanks for the report @galeone , there are multiple things going on here.

1. There was a bug in the underlying C API where it was suppressing errors during graph construction. That is fixed at head in 7d785f1e18af9d22d940f18aac6e8c9ffd268b22, so it will be available with the 1.2 release of the TensorFlow C API

2. The `Scope` type follows the "builder pattern" for graph construction. So, while [`

[2017-05-16 16:36] ales-t commented on #9764
I think it's still called `DynamicAttentionWrapper` in TF 1.1.

[2017-05-16 16:56] skye commented on #9910
@jhseu can you comment or redirect to someone who can? Thanks!

[2017-05-16 16:57] skye commented on #9916
I'm gonna mark this as a feature request, since it seems like this behavior is correct but potentially confusing.

[2017-05-16 17:00] skye commented on #9920
@petewarden FYI

[2017-05-16 17:02] skye commented on #9926
@mrry

[2017-05-16 17:03] skye commented on #9928
@jubjamie is correct, please repost on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-16 17:03] #9928 closed

[2017-05-16 17:04] skye commented on #9930
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it sounds like a setup problem. There is also a larger community that reads questions there. Thanks!

[2017-05-16 17:04] #9930 closed

[2017-05-16 17:07] skye commented on #9932
@panyx0718 can you comment?

[2017-05-16 17:41] panyx0718 commented on #9932
float_ops is calculated here (contributed long time ago)
https://github.com/tensorflow/tensorflow/blob/32b3f6501eb2d644398936bc4884719ba59bd168/tensorflow/python/ops/nn_ops.py#L1772

timing used to be from CostGraphDef, while the latest change switch to RunMetadata. However, I don't expect big changes here.

I can see several reasons that your calculation can differ from manufacturer's specs:
1. f

[2017-05-16 17:50] drpngx commented on #9937
@zheng-xq any opinion there?

[2017-05-16 17:52] Lee-L-Boyd commented on #9866
Thank you for the response.  It appears to be an issue with Cuda and driver compatibility on an older laptop.  Closing ticket.

[2017-05-16 17:52] #9866 closed

[2017-05-16 17:58] stefbraun commented on #9550
I stumbled upon this today, too. Why are the results not fully equivalent when ctc_beam_search_decoder uses top_paths=1 and beam_size=1?

[2017-05-16 17:59] galeone commented on #9931
Thank you for the suggestion on how to properly check for errors!
Is somewhere documented the `Scope` follows the builder pattern? I guess it would be nice to put this in `Scope`'s go-doc.

About the point 3: what is the problem? Why it segfaults? That op has a kernel registered to handle both types or the fix is to register the missing type?

[2017-05-16 18:12] #7554 closed

[2017-05-16 18:24] nryant opened #9939 "contrib.layers.avg_pool2d raises warnings when serializing metagraph"
### System information

- **OS Platform and Distribution**: Ubuntu 14.04 LTS
- **TensorFlow installed from**: source
- **TensorFlow version**:  ('v1.1.0-rc2-1015-gf2047a3', '1.1.0-rc2')
- **Bazel version**: 0.4.5
- **CUDA/cuDNN version**: 8.0/5.1.5
- **GPU model and memory**: Maxwell Titan X (12 GiB)

### Overview of problem
Since updating to the most recent version (as of yesterday) of TensorFlow

[2017-05-16 18:27] wqj97 opened #9940 "Compiling Error with empty error message"
OS: centos 7.2 x64
TensorFlow installed from: source
TensorFlow version: r1.1
Bazel: 0.45
CPU-only
[code]

![](https://cloud.githubusercontent.com/assets/18662395/26121841/2930b0ac-3aa8-11e7-8cb5-65cb3b0b847e.png)

and I check log file, It's an empty file
then I tried again
exit with this:
[code]

[2017-05-16 18:37] sjperkins commented on #9634
@rmlarsen  With reference to PR #9751, I  may have a hunch as to why this is happening.

If one untars `cudnn-8.0-linux-x64-v5.1.tar.gz` it produces the following directory tree

[code]

This is probably designed to be unzipped into `/usr/local/cuda`. Now, if we untar it into some non-standard location, say `/usr/local/cudnn-5.1-cuda-8.0`, users are probably passing the directory to `configure` as

[2017-05-16 18:47] tnusraddinov commented on #6698
I was working with two terminals at the same time and had same issue. It was solved by closing one terminal.

[2017-05-16 19:27] rdaiasy commented on #9929
Hi drpngx,

Thanks for your response...

How do I add this directory as a builtin directory?

Regards,
Ron.

[2017-05-16 19:29] cameronfabbri opened #9943 "Tensorflow Layers conv3d_transpose"
I'm trying to use 3D transpose convolutions found [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/layers/convolutional.py#L1376), but they are not available in the current build of Tensorflow when installing using pip. On another machine I was successfully able to build Tensorflow from source because I already had Bazel installed on my system, and then able to use the

[2017-05-16 19:33] arrufat commented on #9703
I guess this can be closed now. Thanks everyone!

[2017-05-16 19:33] asimshankar commented on #9931
@galeone : I'm probably misusing the phrase "builder pattern" :), but yeah, it does want you to check for errors. If you'd like to contribute or suggest some changes to `scope.go` or other files to help improve documentation, we'd be more than happy to look at them.

Regarding point 3: It isn't that the kernel isn't registered, it's that the operation requires that the `size` argument be an int32

[2017-05-16 19:38] leelassen opened #9944 "Distributed tensorflow - possible memory leak on Linux"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.1.rc2 (v1.1.0-rc2-675-gd0042ed)
- **Bazel version (if compiling from source)**: 0.

[2017-05-16 20:08] galeone commented on #9931
I'll be happy to contribute! In the next days, as soon as I have time, I'm going to give a better look.

However, since every `size` argument of every function requires an `int32`, why the `.Shape()` method returns a `[]int64`? I mean, it seems not coherent. The documentation talks about int32 almost everywhere and this int64 just makes operations like the creation of a new tensor with a predefine

[2017-05-16 20:22] asimshankar commented on #9931
I believe the use of int32 in many operations predates efforts to accept int64 as well (see for example 91ce95d497ec2957535b2ce6a965cd8269d723e5). So, I think some of these ops need to be updated to accept int64 as well.

In general, having Tensors that reach > 2^32-1 dimensions isn't unheard of, especially when reshaping large batches of multi-dimensional tensors.

[2017-05-16 20:51] ali01 commented on #9943
Hi @cameronfabbri, I'd recommend asking this question on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-16 20:51] #9943 closed

[2017-05-16 20:51] drpngx commented on #9929
Please add it to `CROSSTOOL.tpl` or the `nvcc` version if you are using NVCC.

[2017-05-16 20:52] drpngx commented on #9703
Great!

[2017-05-16 20:52] #9703 closed

[2017-05-16 21:00] ali01 commented on #9935
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-16 21:00] #9935 closed

[2017-05-16 21:13] ali01 commented on #9927
@ebrevdo, any thoughts?

[2017-05-16 21:16] ali01 commented on #9925
Thanks Yaroslav, @purpledog, any thoughts?

[2017-05-16 21:19] ali01 commented on #9471
Hey @zheng-xq, could you take a look? Thanks!

[2017-05-16 22:45] edgchen1 opened #9946 "StatSummarizer logs error messages for graph with a while loop"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, see Python script below
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: Built from source
- **TensorFlow version (use command below)**: From command below: "b'unknown' 1.1.0-rc2", commit: 6943

[2017-05-16 22:46] edgchen1 commented on #9946
[benchmark_model.out.txt](https://github.com/tensorflow/tensorflow/files/1006073/benchmark_model.out.txt)

[2017-05-17 00:00] john3-16 commented on #9484
I had the same problem, and renaming the file works for me too.  Thanks @gwind55

[2017-05-17 01:21] jingw222 commented on #8092
@prb12 same issue here. I installed Bazel using custom APT repository. Do I have to install Java JDK then?

[2017-05-17 01:29] mscheifer opened #9949 "Convolution of zero length input gives junk gradients"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.1
- **Bazel version (if compiling from source)**: 0.4.5
- **CUDA/cuDNN version**: N/A
-

[2017-05-17 01:35] bowang commented on #4392
An open PR implementing the requested feature.
https://github.com/tensorflow/tensorflow/pull/9950

[2017-05-17 01:50] ProGamerGov commented on #6
The inception5h model doesn't look like it can be used for classification or transfer learning, because it is missing the required layers: https://stackoverflow.com/questions/42003846/retraining-inception5h-model-from-tensorflow-android-camera-demo

[2017-05-17 02:02] HFTrader opened #9951 "Would you please accomodate for building tensorflow with a custom clang (4.0.0) and libc++ instead of stdlibc++?"
I have a custom clang with additional optimization passes but I cant get TS compiled with it.

$ bazel build --cxxopt=-std=c++11 --cxxopt=-stdlib=libc++ tensorflow:libtensorflow.so
INFO: Found 1 target...
INFO: From Compiling external/protobuf/src/google/protobuf/compiler/js/embed.cc [for host]:
external/protobuf/src/google/protobuf/compiler/js/embed.cc:37:12: warning: unused variable 'output_file

[2017-05-17 02:14] yaroslavvb commented on #9944
Heap profile could be helpful to see where the memory is going

[2017-05-17 02:30] zheng-xq commented on #9937
The original formula is tuned on K80 with very small kernels. The convention is that each kernel would iterate through its assigned range for large number of work elements.

Since these are all heuristics, for your kernels, feel free to use a different set of launch parameters. There are a number of custom kernels that do this. A common practice is to write custom logic for your kernels, and see i

[2017-05-17 02:58] lirchi opened #9952 "Error loading saved_model.pb from C++"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes (minor changes), see below.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 17.04
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.1.0
- **Bazel version (if compiling from source)**:
0.

[2017-05-17 03:16] luchensk opened #9953 "Tensorboard parsing graph.pbtxt failed after uploaded by by web UI"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS 10.12.4
- **TensorFlow installed from (source or binary)**: install binary with cpu version by pip based on Python 2.7.13
- **TensorFlow version (use command below)**: ('v1.1.0-rc0-61-g1ec6ed5', '1.1.0'

[2017-05-17 03:37] leandro-gracia-gil commented on #8310
Thanks for merging the fix! Here are detailed instructions on how to build and run a static library generated by tfcompile in MSVC.

1. In a Linux machine (tfcompile doesn't work on Windows yet) checkout tensorflow and build tfcompile. You will need to [install Bazel](https://bazel.build/versions/master/docs/install.html) if you haven't done so already.

2. Run tfcompile to generate the static lib

[2017-05-17 04:14] eaplatanios opened #9955 "MatchPath Implementation"
Hi,

I can't seem to find the implementation of the "MatchPath" function. I understand this depends on the environment being used, but is there a default implementation somewhere? I want to find out the details of how the path patterns are treated in TensorFlow so I can write a converter from a TF pattern to a regex and use it within another language that has no access to the TF file IO library.

[2017-05-17 04:27] micklexqg opened #9956 "how to switch between cpu and gpu mode?"
Hi,
I have installed tensorflow-gpu.  I want to employ the cpu mode, whether i need to install tensorflow for cpu?
and if the two are all installed, how to switch between them?

[2017-05-17 04:54] jingw222 commented on #9701
Same here.
[code]

[2017-05-17 05:42] fesun commented on #9823
@girving @rmlarsen @benoitsteiner  Could you guys make some decision? It's our blocking issue, long time no response.

[2017-05-17 06:09] dugu9sword commented on #9956
Use this code:
[code]

[2017-05-17 06:36] gusdoe commented on #7281
Since Keras model can be constructed in Tensorflow, you can refer Matthew Honnibal's keras model in below gihub repository:
https://github.com/explosion/spaCy

[2017-05-17 06:46] utkarsh39 commented on #9956
You don't need to install for CPU. CPU installation is by default. Using `with device("/cpu:0")` will make all your operations run in CPU explicitly. To check the device placement i.e. where your operation is being executed you can take a look at the _LOG_DEVICE_PLACEMENT_ flag.

[2017-05-17 06:58] mortada commented on #5416
Is there an issue tracking the bug in the tracing code that incorrect reports other GPUs under `/gpu:0`? this can be quite misleading for people looking at profiling results

on the `master` branch this looks to be a problem still https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtime/gpu/gpu_tracer.cc#L566

[2017-05-17 07:11] galeone commented on #9931
Alright, thus instead of using `int32` everywhere I suggest using `int64` everywhere in order to maintain consistency. Or, if not everywhere, at leat use the same type for attributes that works togeather, i.e. shape and dimensions (as input and/or output parameters) should be both `int64`.

[2017-05-17 07:26] kwotsin opened #9958 "Android demo app crashes when using quantized model obtained from graph_transform tool?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Only edited `ClassifierActivity.java` to suit a custom model
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Android smartphone / host machine: Ubuntu 16.04 LTS
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command belo

[2017-05-17 07:28] KerryKim opened #9959 "Tensorboard Error Problem 'Can not convert a AdamOptimizer into a Tensor or Operation.'"
I'm using tensorflow through anaconda3(64bit).
I have a problem when I try to make tensorboard.
cause I'm beginner, my ground is too low. I can't understand what is problem.
plz help me.
------------------------
I'm not sure here is right or not to write this problem.
plz tell me If I'm wrong.

### System information
Server Information:

You are using Jupyter notebook.

The version of the notebook

[2017-05-17 07:39] micklexqg commented on #9956
@utkarsh39 , you mean  just installing  tensorflow-gpu is ok?  where is  LOG_DEVICE_PLACEMENT flag?
I am a newer, thanks your help.

[2017-05-17 07:39] micklexqg commented on #9956
@dugu9sword , thanks , i will have a try.

[2017-05-17 07:46] ed-alertedh commented on #5719
Update: I have a working GPU implementation but based on some very informal benchmarking, performance is only really better for huge tensors. Still need to clean it up a lot, but after that I might upload it to see if anyone has any tips on how to improve it.

[2017-05-17 07:50] GuohongLi commented on #6727
@gmacleod In tf1.1.0 , even adding eval_steps=1 to the constructor, it just output the validation log one time at the end of first n_steps, not every n_steps. Do you have the same problem?

[2017-05-17 08:15] carlthome commented on #2838
I now do something like this:

[code]
which works with arbitrarily nested RNN structures and works well enough until the state managing stuff @ebrevdo seems to be working on in the seq2seq stuff (it's hinted at in around the RNN documentation, anyway) becomes available.

[2017-05-17 08:30] zaccharieramzi opened #9960 "Placeholder modification behavior"
I am using Tensorflow 1.0.1, on Mac OS Sierra 10.12.4, with CPU in a jupyter notebook (but the behavior I am describing appeared in a regular python script too).

The problem I am having is with placeholders. I have been using tensorflow for only 1 month so I was not really comfortable with using them and I made a mistake that took me a very long time to debug.
Here is the type of code I wrote:
[c

[2017-05-17 08:32] leelassen commented on #9944
Thanks - I did a heap profile and it seems to be related to session_mgr->AssociateStepIdWithGraph.
This function no longer exists in the new version and the above example no longer leaks memory. I have a larger graph running that still leaks memory though, so will have to investigate if this is related to my own code or a tensorflow issue.

[2017-05-17 08:32] #9944 closed

[2017-05-17 08:50] junshi15 commented on #9926
@ChenChuang , can you be more specific which function were you referring to? I do not see RecvLocalAsync is defined in rdma_rendezvous_mgr.cc.

The error handling part of contrib/verbs is weak, partially because I do not know what to do when verbs fails, except restarting the whole process. Your suggestions, comments and contributions (pull-request) are welcome.

[2017-05-17 08:55] mrlzla opened #9961 "[CMAKE] Unresolved external symbol rdft"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 (Visual studio 2015)
- **TensorFlow installed from (source or binary)**: via cmake and includes into c++ project as static lib.(tensorflor_static.lib file).

### Describe the problem
After successful building Release version I tried to add tensorflow_static.lib and dependencies into c++ project. Then l

[2017-05-17 09:03] jubjamie commented on #9959
I will help you quickly but I think you'll need to **move this to [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow)** as it will be closed as it's not a bug.
I think you're confused by the output of your sess.run call. It does not return multiple variables in the form s,_ but instead it will return an array in the form [summary,optimizer]. In your writer you are passing the wh

[2017-05-17 09:08] nicaogr commented on #8843
I have the same problem with Tensorflow version 1.0.1 when I try to use FFT2D on my GPU.

[2017-05-17 09:11] chenghuige opened #9962 "tf.contrib.seq2seq attention_wrapper.py memory_sequence_length can not set None"
tf version '1.1.0-rc2'
The problem is in attention_wrapper.py  77
  memory_sequence_length = ops.convert_to_tensor(
      memory_sequence_length, name="memory_sequence_length")

Don't check if memory_sequence_length is None

[2017-05-17 09:12] vladfi1 opened #9963 "configure script overrides user's bazelrc"
The `./configure` script will write to a `.bazelrc` file in the cwd to save some of it's options (in particular, jemalloc). Unfortunately this has the effect of overriding `~/.bazelrc`. This is undocumented, and probably should not happen. For now, the solution is copy your own bazelrc into the tensorflow root before configuring - fortunately `./configure` will not overwrite it and only append to

[2017-05-17 09:23] sj6077 commented on #9906
Thank you. I'll look forward upgraded grappler optimizers!

[2017-05-17 10:15] ChinaMobileNG opened #9966 "gcc failed and fatal error: infiniband/verbs.h: No such file or directory"
When building TensorFlow from source

ERROR: /home/rock/tensorflow/tensorflow/core/distributed_runtime/rdma/BUILD:81:1: C++ compilation of rule '//tensorflow/core/distributed_runtime/rdma:rdma' failed: gcc failed: error executing command /usr/bin/gcc -U_FORTIFY_SOURCE -fstack-protector -Wall -B/usr/bin -B/usr/bin -Wunused-but-set-parameter -Wno-free-nonheap-object -fno-omit-frame-pointer -g0 -O2 '

[2017-05-17 10:26] YvanDaSilva commented on #22
OpenCL is radically different from CUDA. I would however definitively see this ported to HIP instead.
https://github.com/GPUOpen-ProfessionalCompute-Tools/HIP

Not many people know about HIP.
You can find more information about tensorflow and HIP here :
https://github.com/GPUOpen-ProfessionalCompute-Tools/HIP/issues/37
and
https://github.com/GPUOpen-ProfessionalCompute-Tools/HIP/issues/45

[2017-05-17 10:29] kujta1 commented on #9701
Also i have this problem(ubuntu 16.04)

WARNING:tensorflow:path ../external/data/plugin/text/runs not found, sending 404
WARNING:tensorflow:path ../external/data/plugin/text/runs not found, sending 404
WARNING:tensorflow:path ../external/data/plugin/text/runs not found, sending 404
WARNING:tensorflow:path ../external/data/plugin/text/runs not found, sending 404

[2017-05-17 10:32] vasi1796 commented on #816
HI. Did you get Tensorflow to work on the udoo neo?

[2017-05-17 10:35] #9959 closed

[2017-05-17 10:38] jubjamie commented on #9959
I've found your thread and will help you there. Thanks

[2017-05-17 11:13] VincentSC commented on #22
We have experience with HIP, here at Stream. Let me take a look.

Agree on the "my company is better" arguing. I would like to know which GPUs TensorFlow should be targeting. It has to be pragmatic and useful. For instance Intel GPUs or embedded GPUs (Qualcomm, ARM, Imagination), RaspBerry Pi - yes or no?

[2017-05-17 11:28] kalisgd opened #9967 "e libcupti"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-05-17 11:28] #9967 closed

[2017-05-17 12:03] GitHubKay commented on #5949
I'm not sure if someone will look in here cause it's "closed". Anyway, i've the same issue. I installed TensorFlow-GPU:
        1.) install anaconda 3.6
	2.) conda install python==3.5
	3.) pip install tensorflow-gpu
 	4.) Install CUDA 8.0
	5.) Install cuDNN

I checked the import tensorflow as tf in my Jupiter Notebook and it worked.
The next day i did the same to follow first instructions with ten

[2017-05-17 12:04] GitHubKay commented on #5949
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
C:\Users\RazZzoR\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py in swig_import_helper()
     17         try:
---> 18             return importlib.import_module(mname)
     19         except ImportError:

C:\Users\RazZzo

[2017-05-17 12:19] cwhy commented on #956
The 'CONSTANT' option in Tensorflow is quite confusing as it only supports 0 padding. If constant padding is not available, the option should be changed to 'ZERO'.

[2017-05-17 12:27] sylvain-bougnoux commented on #6396
I can compile successively adding manually all the *.obj of some libraries. But it is quite awkward because link is slow, and updating the library requires to check whether a new file is added... Therefore I've tried the /WHOLEARCHIVE trick.

It works for all the libraries I was linking with (through *.obj) **but not for tf_core_gpu_kernels.lib**; a symbol (TensorCuBlasGemm<float>) keeps missing.

[2017-05-17 12:38] singlasahil14 opened #9968 "ValueError: Refusing to perform an overparameterized separable convolution"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-05-17 13:03] vladfi1 opened #9969 "tensorflow-gpu crashes without libcuda.so"
I'm on a multi-machine cluster where not all the machines have gpus. Previously with 0.11 I could use one tensorflow-gpu installation (either from source or from the provided wheel) on all the machines. I've now upgraded to 1.1, and tensorflow crashes at import on the non-gpu machines:

    ImportError: libcuda.so.1: cannot open shared object file: No such file or directory

My current workaround

[2017-05-17 13:37] nectario opened #9971 "Unable to build tensorflow for Java in Windows"
As many may have this problem, I am unable to build tensorflow for Java in Windows. I need to build tensorflow for Java with GPU support in Windows. I followed all the directions specified, and I get the following error message:

Thank you!

$ bazel build --config opt //tensorflow/java:tensorflow //tensorflow/java:libtensorflow_jni
ERROR: C:/development/projects/tensorflow/tensorflow/java/BUILD:14

[2017-05-17 13:41] wendal commented on #9971
I use cmake , it works!

[2017-05-17 13:45] nectario commented on #9971
I tried but cmake also failed for me... Can you give me instructions??

[2017-05-17 13:47] nectario commented on #9971
CMAKE gives me the following errors:

The C compiler identification is MSVC 19.10.25019.0
The CXX compiler identification is MSVC 19.10.25019.0
Check for working C compiler: C:/Program Files (x86)/Microsoft Visual Studio/2017/Community/VC/Tools/MSVC/14.10.25017/bin/Hostx86/x64/cl.exe
Check for working C compiler: C:/Program Files (x86)/Microsoft Visual Studio/2017/Community/VC/Tools/MSVC/14.10.250

[2017-05-17 13:50] wendal commented on #9971
[code]

you need swig

[2017-05-17 13:54] nectario commented on #9971
Thanks. Let me install that.

[2017-05-17 14:15] bryanlimy commented on #22
[AMD Radeon Vega Frontier Edition](http://pro.radeon.com/en-us/vega-frontier-edition/)

[2017-05-17 14:17] zasdfgbnm commented on #9937
@zheng-xq Thanks for the clarification. I know what to do now. Closing this issue.

[2017-05-17 14:17] #9937 closed

[2017-05-17 14:40] cathalgarvey commented on #22
They've already released Caffe, would be very interested to hear others on this thread sharing their experiences with building/testing:

https://github.com/ROCmSoftwarePlatform/hipCaffe

I've started installing but hit a roadblock where anything requiring CL just freezes, even `clinfo`. Not sure if this is because of some software issue, or if my card (R9 390) simply isn't supported by ROCm.

On 1

[2017-05-17 14:47] bryanlimy commented on #22
@cathalgarvey I have been using Caffe OpenCL branch on AMD's GPUs and it works just fine. `make run test` passed all tests except one

[2017-05-17 14:52] cathalgarvey commented on #22
Good to hear; may I ask about your HW/SW setup? E.g., what card you're
using, what distro/version of Linux, etc?

I previously had AMDGPU-pro, but uninstalled it when installing ROCm.
It's possible there's some legacy thing interfering with me.

--
@onetruecathal / @cathal@quitter.is

On Wed, May 17, 2017 at 3:50 PM, Bryan Li <notifications@github.com>
wrote:

[2017-05-17 15:01] nectario commented on #9971
Now I get this:
(even though I have installed CUDNN.

CMake Error at CMakeLists.txt:221 (FILE):
  file COPY cannot find "/include/cudnn.h".

Configuring incomplete, errors occurred!
See also "C:/Temp/CMakeFiles/CMakeOutput.log".

[2017-05-17 15:03] AimainaHito commented on #8107
@eliethesaiyan In my case it tried to load the tensorflow library from the local tensorflow folder in the build directory instead of the global one. That should be obvious from the stack trace though.

[2017-05-17 15:06] bryanlimy commented on #22
@cathalgarvey
- Caffe OpenCL branch (tested commit [c61d48746b2df1d237c64abc7416342ce98f3251](https://github.com/BVLC/caffe/tree/c61d48746b2df1d237c64abc7416342ce98f3251))
- OS: Ubuntu 16.04.2 LTS
- Tested on Polaris (RX460), Fiji (Fury X) and Tonga (W7100)
- Driver: AMDGPU-Pro driver for Linux 16.40 or above
- [ViennaCL](http://viennacl.sourceforge.net/)
- General dependencies: `libprotobuf-dev l

[2017-05-17 15:12] atlury commented on #22
Yes in addition to the OpenCL branch above, naibaf7 will be publishing a book (very soon) on using it for real-time inference on commodity hardware using amd and hd graphics.

[2017-05-17 15:14] cathalgarvey commented on #22
Ah; I was talking about hipCaffe, not the OpenCL branch:

https://github.com/ROCmSoftwarePlatform/hipCaffe

Installing ROCm to build/test hipCaffe required me to uninstall
AMDGPU-pro, perhaps I'll try the vanilla branch again. It's poorly
documented, unfortunately.. I suppose I'll try a blind "make" and see.

So, I'm still interested to hear others' experiences with the AMD
ROCm/HIP stack; if they

[2017-05-17 15:21] nectario commented on #9971
Finally build it with CMAKE. So what do I do next to create the JNI libraries for Java?

[2017-05-17 15:39] yaroslavvb commented on #9969
TensorFlow GPU is statically linked against cuda, you need cuda drivers. Having CUDA does not require having a GPU, so a workaround is to install cuda on your non-GPU machines

[2017-05-17 15:41] #9956 closed

[2017-05-17 15:42] yaroslavvb commented on #9956
Closing this issue since it does not require attention of tensorflow developers

[2017-05-17 15:43] ilblackdragon commented on #7281
@gusdoe if you are talking about [https://github.com/explosion/spaCy/blob/a5538d93d0cf00cdaa4ca0f61dd08cc817af8e0e/examples/deep_learning_keras.py](this keras model) - it's not LDA, but LSTM model for sentiment analysis [which we have examples in TF/TF.Learn].

@mahatosourav91 Probably the answer is late, I haven't seen implementation for TF.
Here is implementation in Python that one can convert i

[2017-05-17 15:45] YvanDaSilva commented on #22
@cathalgarvey I do hope they are working on a hip backend, not a full fork. That would be sad and only split the working effort.
There is enough tooling already :/

[2017-05-17 15:48] alexDeCastroAtGit opened #9972 "#issue: broken or outdated link link for NLP tutorial"
The second link, in the highlights session of the webpage

[Vector Representations](https://www.tensorflow.org/tutorials/word2vec)

is broken or outdated.

This is the link that's not working (404 from github)

[https://www.github.com/tensorflow/tensorflow/blob/r1.1/tensorflow_models/tutorials/embedding/word2vec.py](https://www.github.com/tensorflow/tensorflow/blob/r1.1/tensorflow_models/tutorials

[2017-05-17 15:48] girving commented on #7281
@ilblackdragon I think it might be a better fit for a separate repository or models.  As you say: if it's unbatched, it has a different API.  If it's batched, it's new research that we don't want to support in core yet.

[2017-05-17 15:48] #7281 closed

[2017-05-17 16:01] vladfi1 commented on #8421
I am getting a similar error, building from source. I have multiple gccs available on my system, but `$(which gcc) --version` says 4.8.5.

[2017-05-17 16:03] andydavis1 commented on #9870
zheng-xq@ have you seen something like this before for large batches? Wondering if some code assumes batch size can always fit in 16 bits...

[2017-05-17 16:04] rmlarsen commented on #9823
Sorry for not noticing this thread earlier. Let me take a look.

[2017-05-17 16:18] nectario commented on #9971
When I build it on Visual Studio I get:

187>Building Custom Rule C:/Development/Projects/tensorflow/tensorflow/contrib/cmake/CMakeLists.txt
185>Building Custom Rule C:/Development/Projects/tensorflow/tensorflow/contrib/cmake/CMakeLists.txt
186>Building Custom Rule C:/Development/Projects/tensorflow/tensorflow/contrib/cmake/CMakeLists.txt
185>CMake does not need to re-run because C:/Development/Pr

[2017-05-17 16:23] rmlarsen commented on #8843
Hmm why does the error message

"No registered 'FFT' OpKernel for CPU devices compatible with node"

talk about not finding a registered kernel for CPU devices?

[2017-05-17 16:29] jubjamie opened #9974 "tf.Estimator vs contrib. Very unclear differences and lots of deprecations."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows/Ubuntu
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.1.0
- **Bazel version (if compiling from source)**: /
- **CUDA/cuDNN version**: 5
- **G

[2017-05-17 16:30] cejudo commented on #3340
Hi

I've been following the Estimator tutorial https://www.tensorflow.org/extend/estimators and it works, but now that i want to save the model I can´t find a way to do it.
 I am using export_savedmodel but i can't generate a serving input function. I've tried doing it this way:

[code]
But i don't know what values to use in feature_columns variable, because the tutorial says that our features are

[2017-05-17 16:31] truatpasteurdotfr commented on #8421
this works for me: (cpu only version on CentOS-7) https://github.com/truatpasteurdotfr/docker-centos7-tensorflow

[2017-05-17 16:34] truatpasteurdotfr commented on #6210
not solved for me :( I ended up building a docker image and build inside.

[2017-05-17 16:34] zhangyaobit commented on #9906
The change is in. Please give it a try. https://github.com/tensorflow/tensorflow/commit/194b1644cba446d36c6d192771b11245847db7cc

[2017-05-17 16:45] skye commented on #9940
This is probably an environment/setup issue and not a bug, so is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow). There is also a larger community that reads questions there. Thanks!

[2017-05-17 16:45] #9940 closed

[2017-05-17 16:47] asimshankar commented on #9952
`estimator.export_savedmodel` exports the model to a directory, and the proto file there isn't a `GraphDef`, which is why you're getting the error.

Unfortunately, this isn't documented well enough yet, but to load an exported saved model, use [`LoadSavedModel`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/cc/saved_model/loader.h#L50) in C++

@sukritiramesh @nfiedel @skye @josh1

[2017-05-17 16:48] asimshankar commented on #9952
@lirchi : Closing this out since this isn't a bug and this question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there.

Feel free to let us know if I misunderstood

And we'll follow up on the documentation separately. Thanks!

[2017-05-17 16:48] #9952 closed

[2017-05-17 16:53] vladfi1 commented on #8421
That doesn't help me because 1) I'd like to compile with optimizations and 2) I can't use docker on my system.

[2017-05-17 16:54] vladfi1 commented on #9969
So this is expected behavior and I was just lucky somehow with 0.11?

[2017-05-17 16:54] jubjamie opened #9976 "Tensorboard 404 Errors"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Win 10
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: 1.1.0
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN version**:5.1
- **GPU model an

[2017-05-17 16:56] skye commented on #9952
Yes, I can work on getting the saved model headers included in the C++ docs.

@lirchi In the meantime https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/saved_model/README.md#c may also help (that's the C++ section but whole README should be useful).

[2017-05-17 16:58] skye commented on #9958
@asimshankar can you comment or redirect to someone who can? Thanks!

[2017-05-17 17:00] naibaf7 commented on #22
@YvanDaSilva AMD's efforts are a bit poorly coordinated at the moment. Also it doesn't seem to work that well on a large variety of devices yet, unlike the OpenCL branch of Caffe, for example...

[2017-05-17 17:03] asimshankar commented on #9958
@kwotsin : Do you have any logs/stracktraces you can share from the crash? That will help in diagnosing the problem. Also, is it possible to share the graph that you are quantizing? Basically, I'm looking for detailed information on the error and/or the ability to reproduce the problem to help us diagnose.

FYI @suharshs @petewarden

[2017-05-17 17:17] skye commented on #9962
@ebrevdo

[2017-05-17 17:18] yaroslavvb commented on #9969
I think it was always this behavior. There was a bit of refactoring in how cuda paths are found, perhaps 0.11 managed to find the libcuda.so on the machine

[2017-05-17 17:20] skye commented on #9966
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request (most install issues are configuration/environment issues). There is also a larger community that reads questions there. Thanks!

[2017-05-17 17:20] #9966 closed

[2017-05-17 17:21] skye commented on #9968
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-17 17:28] vladfi1 commented on #9969
According to `locate` the non-gpu machines (at least the ones I checked) don't have libcuda.so. Mystery unsolved I guess :)

[2017-05-17 17:28] #9969 closed

[2017-05-17 17:28] cjmagee commented on #37
+1

[2017-05-17 17:30] skye commented on #9974
@wolffg @ispirmustafa (please redirect as appropriate, thanks)

[2017-05-17 18:07] yaroslavvb opened #9978 "graph_editor.copy_with_input_replacements crashes for some orderings of inputs"
Graph editor copy_with_input_replacements  visits nodes in order provided, and assumes that op referenced by "op._original_op" has already already been visited. When this assumption is false, it fails with KeyError inside transform.py

Reproducible case

[code]
It fails with following error

[code]

A work-around is to clear `_original_op` entries for all ops

[code]

@purpledog

[2017-05-17 18:11] jthestness commented on #9634
I could not get #9751 to work, but was able to fix this a different way without changing the relative include path in `tensorflow/stream_executor/cuda/cuda_dnn.cc`:
[code]

Will continue testing to decide whether to open an alternative PR

[2017-05-17 18:28] nhasabni opened #9979 "Building with config MKL with current master (git version: v1.1.0-rc2-1163-gcbe5eb4) fails with a build rule error"
Building with config MKL with the current master fails with build rule error.

### System information:
(contents from tf_env.txt)
== cat /etc/issue ===============================================
Linux desktop 4.4.0-75-generic #96-Ubuntu SMP Thu Apr 20 09:56:33 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
VERSION="16.04.2 LTS (Xenial Xerus)"
VERSION_ID="16.04"
VERSION_CODENAME=xenial

== are we in dock

[2017-05-17 18:39] rjpg commented on #3340
on my script I have something like this that I have saw on the net :

[code]

[2017-05-17 18:39] nectario commented on #9971
I really need to build tensorflow for Java with GPU support in Windows, and unfortunately it is an extremely frustrating experience. :-( :-( Is there any place I can download the gpu JNI lib that has been pre-built?

[2017-05-17 19:30] sirfz commented on #9742
After seeing #9823 (not sure if related to this), I tried the memory_util script suggested by @yaroslavvb but the output is pretty much the same for both environments:

### Binary
[code]

### Compiled
[code]
This is the script I used for testing:
[code]

Are there any updates on this issue? Has anyone been able to reproduce it?

[2017-05-17 19:39] 4F2E4A2E commented on #9264
I had tensorflow working from the beginning, the only thing I wanted to point out is that if one follows the guide it won't work in some cases. I am glad you found the cause of this problem, you also sure did test it in a clean environment and can to 100% exclude any problems with the install procedure. Great job! 👍

[2017-05-17 19:39] #9264 closed

[2017-05-17 19:42] YvanDaSilva commented on #22
@naibaf7 I absolutely agree.
To be honest, they really seem to lack human resources, they are working on all the fronts.
By the way: Didn't know ETH had a Neuroinformatics ;) nice !

[2017-05-17 19:53] yaroslavvb commented on #9742
`memory_util` only captures memory allocated by TF runtime, so this suggests the problem is elsewhere. Earlier you said that the extra memory comes from memory allocated by `MergePartialFromCodedStream` which could suggests that extra memory was allocated by protobuf library.

Note that you are initializing your layers with huge constants. Those constants get serialized into GraphDef protobufs. Th

[2017-05-17 20:00] maxcr commented on #22
@cathalgarvey Can you elaborate on the ROCm/HIP stack for a layman like myself. I've been playing AMGPU-pro and AMDGPU with my Sea Island cards so I'm sure I could post some useful results.

[2017-05-17 20:01] asimshankar commented on #9931
This issue should be resolved at head (and with C library compiled from head), so I'm going to close this out.

Contributions for making more operations accept int64 for shape similar to https://github.com/tensorflow/tensorflow/commit/91ce95d497ec2957535b2ce6a965cd8269d723e5 are welcome.

@galeone : Hope that helps. Feel free to open a new issue if you run into more trouble. Thanks!

[2017-05-17 20:01] #9931 closed

[2017-05-17 20:10] cejudo commented on #3340
Thanks for the reply

I checked the code lines but in this one

`tfrecord_serving_input_fn = tf.contrib.learn.build_parsing_serving_input_fn(layers.create_feature_spec_for_parsing(feature_columns))`

What is the value that 'feature_columns' holds?
That's what i don't quite understand. In the classifier example we do have a variable called 'feature_columns' and it is the combination of 'wide_column

[2017-05-17 20:12] naibaf7 commented on #22
@YvanDaSilva
They sponsored my original Caffe OpenCL project, and unfortunately didn't coordinate well, so AMD research and an independent guy at AMD also worked on OpenCL ports in parallel - the former AMD research team is now disfunct and most of them actually work for Tesla (self driving car project) now... so an unfortunate chain of events.
I'm still in collaboration & contact with them though

[2017-05-17 20:27] ebrevdo commented on #9927
Issue 2 is a documentation issue.  We only have one type of decoder right now so we just need to change it to something like "an object containing the decoder output".  PRs welcome.

Issue 1 - we're not really focusing on that attention wrapper (i would like to mark it deprecated).  We have a more comprehensive attention wrapper in tf.contrib.seq2seq.AttentionWrapper.  In the meantime, PRs changin

[2017-05-17 20:29] ebrevdo commented on #9824
The way that cells create and store variables has changed recently (in the TF nightlies); can you retry your computation there and ensure that the variables are created and reused as you expect?

[2017-05-17 20:29] #9798 closed

[2017-05-17 20:31] ebrevdo commented on #9527
The first call to session.run sets up a lot of internal objects and isn't appropriate for timing.

call it 1-5 times to warm up, and then call it 10-100 times and get the average of those remaining run calls.

[2017-05-17 20:31] ebrevdo commented on #7664
FYI we'll try to bring the tf.nn.rnn_cell namespace back in TF 1.2.

[2017-05-17 20:32] #7927 closed

[2017-05-17 20:47] fxsuper commented on #9527
@ebrevdo that is indeed what I do. I just didn't want to clutter the code above, but the numbers reported are averages of many runs after it's been warmed up.

[2017-05-17 20:48] alquraishi commented on #9370
Any updates on this?

[2017-05-17 21:18] YvanDaSilva commented on #22
@naibaf7 Nice, lucky you! Wish there was such studies when I was at the Heig-vd would have continued to a MSc certainly.

Yeah... That's what I figured. So much work, so little human resources available in these fields.

[2017-05-17 21:20] rjpg commented on #3340
`feature_columns = [tf.contrib.layers.real_valued_column("", dimension=train_inputs.shape[1])]`

it's the size of the inputs

[2017-05-17 21:26] tfboyd commented on #9517
I will try to post example code tonight. It is not super complicated.  For image models (only thing I work with right now) CPU vs. GPU for the parameters can depend on the model and situation.  I will add a little more detail when I post the code sample.

[2017-05-17 21:53] ebrevdo commented on #9527
Why only 1 parallel iteration?  Try increasing it.

On May 17, 2017 1:48 PM, "fxsuper" <notifications@github.com> wrote:

[2017-05-17 21:58] fxsuper commented on #9527
I did; it only made things worse.

[2017-05-17 22:12] barnandas opened #9984 "Missing .pb.h Files While Building from Source on Windows using CMake"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10 Enterprise
- **TensorFlow installed from (source or binary)**:
Trying to install from source
- **TensorFlow version (use command below)**:
1.1
- **Bazel version (if compiling from source)**:
Using c

[2017-05-17 22:21] suharshs commented on #8224
@saxenasaurabh

[2017-05-17 22:57] suharshs commented on #8220
Apologies for the delay, I am taking a look into this soon.

[2017-05-17 23:12] #9462 closed

[2017-05-17 23:12] #9781 closed

[2017-05-17 23:34] alsrgv commented on #9926
I feel I'm facing similar situation.  When trying to run two-node set up, I see following errors.

On chief worker:
[code]

On another worker:
[code]

`ibv_devinfo` on chief machine:
[code]

`ibv_devinfo` on second machine:
[code]

As you may notice, first port in the list is DOWN.  To work around that, I made modification suggested by @bkovalev in the `verbs` to open device like this:
[code]

Any

[2017-05-17 23:37] josh11b commented on #8224
Is this about the TODO here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/op_def_library.py#L356
?  That issue is on my radar, something I hope to fix by moving more logic into the generated code.

[2017-05-17 23:40] TwistedW commented on #7077
I also encountered the same problem, but I found the werkzeug package. But still did not solve the problem

[2017-05-17 23:43] ali01 commented on #9979
@jrvb, any thoughts about this?

[2017-05-17 23:44] ali01 commented on #9971
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-17 23:44] #9971 closed

[2017-05-17 23:45] ali01 commented on #9963
@jart, any thoughts about this?

[2017-05-17 23:48] ali01 commented on #9961
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-05-17 23:49] yaroslavvb commented on #8224
@josh11b yes, it's related.

Although It feels like numeric promotion is a generic feature of computation framework that shouldn't be Python-specific

[2017-05-17 23:52] ali01 commented on #9955
Hi @eaplatanios, the posix implementation of MatchPath simply calls fnmatch (defined in <fnmatch.h>. See (posix/env.cc)[https://github.com/tensorflow/tensorflow/blob/4c192f060cf9ff897911d240c140299d6db257b6/tensorflow/core/platform/posix/env.cc].

[2017-05-17 23:52] jart commented on #9963
I'm aware of this behavior, consider it suboptimal, and I believe we should escalate this to Bazel. I've filed https://github.com/bazelbuild/bazel/issues/3022. Please follow there for progress.

The workaround is to copy the stuff in your `~/.bazelrc` into `tensorflow/.bazelrc`. Our configure script will not delete the file.

[2017-05-17 23:54] ali01 commented on #9955
Closing this issue.

If the above doesn't answer your question, please ask it on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-17 23:54] #9955 closed

[2017-05-17 23:55] jart commented on #9963
Re-opening because I'm thinking of modifying our configure to work around this automatically.

[2017-05-17 23:57] ali01 commented on #9953
Hi @luchensk, does this happen consistently with any graph.pbtxt file that you upload, or did it just happen that one time? If the former, are you able to paste the graph.pbtxt file you were using in a [gist](http://gist.github.com) and send over the link?

[2017-05-18 00:01] ali01 commented on #9951
Thank  you @HFTrader, noted. Support for custom builds of clang isn't a high priority for us right now, but I'm opening this up for community support.

[2017-05-18 00:26] ali01 commented on #9949
Hi @mscheifer, thanks for reaching out. Unfortunately, I am not able to reproduce the problem. Running the code that you provided above seems to return a vector filled with None(s). This is the expected output of tf.gradients(), for None denotes that the outputs have no graph dependency on the specified inputs.

[2017-05-18 00:29] ali01 commented on #9949
If this continues to be a problem, please consider asking this question on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow). The larger community there may be able to help debug. If you do discover a bug, feel free to reopen this issue or open a new one. Thanks!

[2017-05-18 00:29] #9949 closed

[2017-05-18 00:36] ali01 commented on #9939
Hi @sherrym, are you able to take a look? Thanks!

[2017-05-18 00:40] timttate commented on #9672
If the PIP package for Windows is built with CMake, it seems like perhaps this is a known limitation of the TensorFlow CMake build?

From the TensorFlow CMake README:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/README.md

The CMake README also claims that:

which doesn't *seem* to be the case anymore, since I have been using tf.contrib.layers without issue.

[2017-05-18 00:44] cancan101 opened #9988 "[feature] Support Lanczos method in tf.image.resize_images"
Add support for a `Lanczos` (a truncated sinc) mode in `tf.image.resize_images`. Currently this mode is not offered.

[Pillow supports `LANCZOS`](http://pillow.readthedocs.io/en/3.4.x/handbook/concepts.html#filters) (aka `ANTIALIAS`) as a resampling method and stipulates this method has the [highest quality for down sampling](http://pillow.readthedocs.io/en/3.4.x/handbook/concepts.html#filters-com

[2017-05-18 00:50] Aesthetic commented on #8271
Same question, any news on support?

[2017-05-18 01:06] #9963 closed

[2017-05-18 01:13] nectario commented on #9971
Thank you, will do.

[2017-05-18 01:37] khaotik commented on #5719
@ed-alertedh May I see your code? I'm doing something similar, for Theano. Thanks.

[2017-05-18 01:47] junshi15 commented on #9926
@alsrgv The error mostly likely due to rdma connection failures.I don't have any experience in multiple IB devices in a single box. But from your ib_devinfo log, it seems the first device "mlx5_0" was active and the second device "mlx5_1" was down.  @bkovalev had a similar issue here: https://github.com/yahoo/tensorflow/issues/5. Maybe he can clarify this.

[2017-05-18 02:06] bucaixiaot opened #9991 "go install"
我在安装的时候出现这个问题我的是mac环境，前面的命令都是成功的
manmans-MBP:~ manman$ go test github.com/tensorflow/tensorflow/tensorflow/go
can't load package: package github.com/tensorflow/tensorflow/tensorflow/go: cannot find package "github.com/tensorflow/tensorflow/tensorflow/go" in any of:
	/usr/local/go/src/github.com/tensorflow/tensorflow/tensorflow/go (from $GOROOT)
	/Users/manman/Documents/go/document/src/github.com/t

[2017-05-18 02:11] cfuxiang commented on #8385
Indeed, `pip3 install --upgrade tensorflow-gpu` seems to be causing the issue (tested on Win 10), despite installing the Visual C++ Redistributable. Installing via the following command solves the problem: pip install --upgrade https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-1.0.0-cp35-cp35m-win_amd64.whl

[2017-05-18 02:32] keryell commented on #22
All that stuff sounds great, but let's refocus the discussion on having TensorFlow working with OpenCL SYCL and not only vendor-specific solutions... :-)
I hope RoC and other HiP have their own GitHub to discuss their own issues...
@naibaf7: at least i am still in the OpenCL realm. Join the club again! :-)

[2017-05-18 02:41] suiyuan2009 commented on #9180
I'll work on this since I have wrote some code related to `py_func`.

[2017-05-18 02:50] lakshayg commented on #8037
I just compiled tensorflow with support for SSE4.1 SSE4.2 AVX AVX2 and FMA. The build is available here: https://github.com/lakshayg/tensorflow-build . I hope this is useful.

[2017-05-18 03:10] Carmezim commented on #8037
Hi @lakshayg, thanks for sharing. You might want to check https://github.com/yaroslavvb/tensorflow-community-wheels

[2017-05-18 03:11] tifoit commented on #7604
The API has been changed to learn.MetricSpec(...) in tf 1.0.0,

0.9 to 1.0.1 is a big jump. A lot changed.
Details: https://github.com/tensorflow/tensorflow/blob/master/RELEASE.md

In tf 1.0.0, the API has been changed such as:

tf.nn.seq2seq.sequence_loss_by_example
to
tf.contrib.legacy_seq2seq.sequence_loss_by_example

tf.nn.rnn_cell.
to
tf.contrib.rnn.

tf.nn.rnn_cell.MultiRNNCell(
to
tf.contri

[2017-05-18 03:12] flowice commented on #446
@weiliu620 @joshburkart
I have tried the L-BFGS method in the neural-art code by @jcjohnson .
It does work and return more stable results than Adam.
However, I find the optimization became a little slower.

Also, is there any way to probe at iteration progress (print stuff / generate checkpoint images using interval variables) like the original code does.
Since I find in the official comment doc t

[2017-05-18 03:12] tifoit commented on #9245
Tensorflow 0.9 to 1.0.1 is a big jump. A lot changed.
Details: https://github.com/tensorflow/tensorflow/blob/master/RELEASE.md

In tf 1.0.0, the API has been changed such as:

tf.nn.seq2seq.sequence_loss_by_example
to
tf.contrib.legacy_seq2seq.sequence_loss_by_example

tf.nn.rnn_cell.
to
tf.contrib.rnn.

tf.nn.rnn_cell.MultiRNNCell(
to
tf.contrib.rnn.MultiRNNCell(

...

[2017-05-18 03:20] #9991 closed

[2017-05-18 03:44] bkovalev commented on #9926
@alsrgv please unbind the "mlx5_1" and recheck. The procedure:
$ mst start
$ mst status
$ echo 0000:05:00.0 > /sys/bus/pci/drivers/mlx5_core/unbind

[2017-05-18 03:55] fanlu commented on #9926
@bkovalev when I execute
mst start
Starting MST (Mellanox Software Tools) driver set
Loading MST PCI module - Success
Loading MST PCI configuration module - Success
Create devices
Unloading MST PCI module (unused) - Success
mst status
MST modules:
------------
    MST PCI module is not loaded
    MST PCI configuration module loaded

MST devices:
------------
/dev/mst/mt4115_pciconf0         - PCI

[2017-05-18 04:19] ChenChuang commented on #9926
I am referring to `RdmaTensorBuffer::SendNextItem()`，where `cb` in `channel_->adapter_->worker_env_>rendezvous_mgr->RecvLocalAsync(step_id, parsed, cb)` will get status of `RecvLocalAsync`，if `RecvLocalAsync` failed, I think the receiver is expecting to be notified ? @junshi15

[2017-05-18 04:35] charmasaur commented on #9809
FYI I'm also seeing this (and I'm also using i686).

I don't understand these things so could be wrong, but it seems like PLATFORM_IS_X86 isn't set when building on i686 with gcc [1][2], and if PLATFORM_IS_X86 isn't set then the CPU info checks fail fast [3].

[1] https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/platform.h#L59
[2] https://sourceforge.net/p/predef/wiki/

[2017-05-18 04:38] bkovalev commented on #9926
@fanlu to disable your device , you need change echo 0000:05:00.0 > /sys/bus/pci/drivers/mlx5_core/unbind to echo 0000:84:00.0 > /sys/bus/pci/drivers/mlx5_core/unbind

[2017-05-18 04:54] sj6077 commented on #9906
I tried, but there is another issue. I copied cifar10 model, but it doesn't utilize all the gpus. For example, conv2D is not copied for all gpus.

[2017-05-18 04:57] tfboyd commented on #9517
Here we go.  I have actually changed my mind and agree with Martin.  Although I am not an authority as you will see from my sloppy python.  This is how I do it and it has worked for me in a few instances.  In fact using this with the SLIM models can boost performance on systems where GPUs are not peered or resnet which seems to often just work better with CPU:0 as the ps-server.  This is just how

[2017-05-18 05:15] tfboyd commented on #9517
I found that if the GPUs are not peered then CPU:0 is the often the best option.  If the GPUs are peered then GPU:0 was the best option for VGG16 and Alexnet.  InceptionV3 and Resnet were better on CPU:0 and even faster with replicated on GPU without NCCL.  For example: InceptionV3 was 214 imgs/sec on CPU vs. 218 images/sec using replicated with 8 GPUs batch-size 32 per GPU).  Maybe I am conservat

[2017-05-18 05:16] fanlu commented on #9926
@bkovalev  when I executed echo 0000:84:00.0 > /sys/bus/pci/drivers/mlx5_core/unbind
ibv_devinfo
hca_id: mlx5_1
        transport:                      InfiniBand (0)
        fw_ver:                         12.17.2020
        node_guid:                      248a:0703:004c:a155
        sys_image_guid:                 248a:0703:004c:a154
        vendor_id:                      0x02c9
        vendor_

[2017-05-18 05:21] wirehack commented on #9904
I seem to encounter the same problem. Some help would be much appreciated.

[2017-05-18 05:32] cgorman commented on #9474
Fixed in `r1.2`

[2017-05-18 05:32] #9474 closed

[2017-05-18 05:44] JeremyCCHsu commented on #9939
I also frequently encounter this issue since I started to use the `tf.layers` module in TF 1.1.
It seems that something related to naming went wrong in some of the modules.

For example, the following code triggered the issue:
[code]
Return:
[code]

However, the issue can be easily avoided (in this simple case) by specifying the `name` argument:
In contrast, using `slim`, `keras`, or `tf.Variable`

[2017-05-18 06:01] suharshs commented on #8220
Update: I have looked into this a big more, and have a couple more interesting repro cases :)
Works:
[code]

Hangs:
[code]

It looks like there is some shared python tensorflow state that interferes when a new python process is created (multiprocessing creates new python process whose state separation i am not to clear on). I plan to look into it very soon, but just wanted to provide an update in

[2017-05-18 06:10] zhangyaobit commented on #9906
All transitive fanin nodes of target nodes should be copied/replicated for all GPUs. I think Conv2D is very likely to be in the transitive fanin and therefore should be replicated. Could you give more details on this and debug the AutoParallel code a bit to find out why it is not replicated?

I'm aware of the simple_placer issue and will work on a fix. For now, a temporary workaround is
config_pro

[2017-05-18 06:15] luchensk commented on #9953
Thanks Ali for the quick response. The issue happens consistently and the graph.phtxt is as below as the attachment.
[events.out.tfevents.1494834183.ali-186590d30ecd.local.zip](https://github.com/tensorflow/tensorflow/files/1009903/events.out.tfevents.1494834183.ali-186590d30ecd.local.zip)

I also attached the graph from the zip file by the cmd of 'tensorboard --logdir=xxx', which you can refer to

[2017-05-18 06:26] VacheMumchyan commented on #6356
The Tensorflow TF Detect for android example draws boxes around humans seen by the camera, however I would like to train a model to detect things other than humans.﻿

[2017-05-18 06:27] zhangyaobit commented on #9370
@alquraishi, we haven't had time to look into this. We provided this checkpointing feature for cuDNN and I'm glad you find it useful and seem to be a heavy user of it. If you think you benefit from this feature, please consider registering as a contributor and contributing back to improve it. We could together make TensorFlow better. I like your idea of better documentation. And if you could help

[2017-05-18 06:47] rdaiasy commented on #9929
Hi drpngx,

Tried your proposal getting the same errors.

I did the following:

In CROSSTOOL_nvcc.tpl I replaced the line:
`cxx_builtin_include_directory: "/"`
with this line:
`cxx_builtin_include_directory: "/usr/lib/gcc/x86_64-redhat-linux/4.8.5/include"`

Any additional proposal?

Thanks,
Ron

[2017-05-18 07:32] sj6077 commented on #9906
I'm not sure about Conv2D issue now, I'll figure out it more. I'm now trying to initialize variables, but I couldn't find an easy way. I'll wait for your example.

[2017-05-18 08:15] kwotsin commented on #9958
@asimshankar Is there a way to see the error log if an app crashes? So far the only idea I have that it's not working is just that the app crashes. Because I can't find the error log, I can't seem to find the source of the problem as well.

I have attached the PB files for both the frozen and quantized model here. https://www.dropbox.com/sh/grp7xlxu4r59qss/AADV9imhKpY9auiNAkaSsjyMa?dl=0

I have no

[2017-05-18 08:21] cathalgarvey commented on #22
@keryell I think the discussion on HIP is valid, if there's a HIP port for Tensorflow in the works. After all, the official Tensorflow-on-CL solution is to use a proprietary SYCL framework with sharply limited platform and kernel support, so it's not really any better than the "vendor-specific" HIP solutions that offer a new way out of CUDA.

HIP may be mostly AMD's doing right now, but AFAIK it's

[2017-05-18 08:23] asimshankar commented on #9958
The errors should appear like any android app, see https://developer.android.com/studio/debug/am-logcat.html and https://developer.android.com/studio/command-line/logcat.html

[2017-05-18 08:43] kwotsin commented on #9958
Unfortunately I am currently unable to get my android device mounted on my computer, and I've tried asking on StackOverflow in this link some time ago: http://stackoverflow.com/questions/43996994/android-unable-to-mount-android-phone-although-lsusb-shows-device-and-after-ins

I am currently building the APK before transferring it onto dropbox to let my android phone download the app as a workaroun

[2017-05-18 08:44] lxtGH commented on #7411
hi, do you know how to fix this problem

[2017-05-18 08:45] shamoya commented on #9966
@ChinaMobileNG  - you complied with VERBS support (this is what you wanted right ?)
and in this case you need to install IB verbs SW stack (libibverbs and all of it kernel dependencies == OFED or MLNX_OFED if using Mellanox devices)

[2017-05-18 08:49] rabeehk commented on #446
Hello @flowice
Do you mind sharing the codes of the L-BFGS in tensorflow with me? So you have the working code?
thanks a lot
Best
Rabeeh

[2017-05-18 08:55] asimshankar commented on #9958
It will be hard to debug without access to debugging information from the android logs.

I don't _think_ there is a way to get access to logs without connecting it to your computer, but maybe there is. That would be a question better suited to Android support forums.

[2017-05-18 09:17] VincentSC commented on #22
HIP is a subset of CUDA, so it's as open as CUDA.

[2017-05-18 09:23] cathalgarvey commented on #22
OK, fine; HIP-the-API is a subset of CUDA-the-API, but unless NVidia is craven enough to start  channeling Oracle I doubt that will be an issue. I was referring to the runtime/compilers for HIP, of which I think AMDs are ~open.

[2017-05-18 09:27] mparaschiv opened #9996 "Convolution_transpose layer now gives an error (Tensorflow 1.0.0)."
I am implementing an architecture with conv and conv_transpose layers and this is what I am giving the convolution transpose layer:
[code]

and this is what I get

[code]

The same code worked on Tensorflow 0.12.

[2017-05-18 09:28] hantmac opened #9997 "Find an error in mnist_softmax.py"
------------------------

### System information
- **OS Platform and Distribution (Mac os)**:
- **TensorFlow installed from (binary)**:
- **TensorFlow version (master)**:

### Describe the problem
In mnist_softmax.py,there is a difference between github an the web of Tensorflow(https://www.tensorflow.org/versions/r0.12/tutorials/mnist/beginners/index.html),and the code on github has error in line

[2017-05-18 09:30] lxtGH commented on #8109
Hi! Do you solve this problem?

[2017-05-18 09:31] xzy256 opened #9998 "How to build tensorflow for mips64el"
The recommended way to build TensorFlow from source is using the Bazel open-source build system.
Howerver, bazel depends `protobuf,grpc-java,osdetector` etc.  protocbuf can build  successfully for mips64el. But i  build grpc-java  failed. details see [#3012](https://github.com/grpc/grpc-java/issues/3012). i refer [#2022](https://github.com/grpc/grpc-java/issues/2202). but osdetector-gradle-plugin

[2017-05-18 09:32] flowice commented on #446
@rabeehk  it is easy to use. I just follow the official doc.
The core code is here:

`
train_step = tf.contrib.opt.ScipyOptimizerInterface(
                loss,
                method='L-BFGS-B',
                options={'maxiter': iterations})

with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    train_step.minimize(sess)

`

[2017-05-18 09:37] shre81 opened #9999 "Directories with spaces in their names don't compile due to missing quotes in shell scripts"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: OSX Sierra, Macbook Pro 2015
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: v1.0.0-65-g4763edf-dirty 1.0.1
- **Bazel version (if compiling from source)

[2017-05-18 10:04] mrlzla commented on #9961
I build tensorflow from sources and use the latest version of master branch.
 Windows 10 (Visual studio 2015). Build in Release, x64.

[2017-05-18 11:36] davideleoni90 opened #10001 "Segmentation fault on quit() tensorflow-ppc64"
### System information
- **Fedora 24 4.7.4-200.fc24.ppc64 #1 SMP Thu Sep 22 17:40:37 UTC 2016 ppc64 ppc64 ppc64 GNU/Linux**:
- **TensorFlow installed from source**
- **TensorFlow version:  1.1.0-rc1**
- **Bazel version: 0.4.5-2017-05-12**
- **Exact command to reproduce**:

1. `python`
2. `import tensorflow as tf`
3. `hello = tf.constant('Hello, TensorFlow!')`
4. `sess = tf.Session()`
5. `print(ses

[2017-05-18 12:03] asiakaczmar opened #10002 "[feature] sparse_reduce_max and sparse_reduce_max_sparse"
Hi guys,

Currently we work on sparse tensors, and we are missing some sparse operations. Is there any way you could add sparse_reduce_max and sparse_reduce_max_sparse operations as functions equivalent to existing tf.sparse_reduce_sum and tf.sparse_reduce_sum_sparse but with max operation as reducing function?

Thank you,

Joanna

[2017-05-18 12:08] asiakaczmar opened #10003 "[feature] sparse_multiply"
Hi guys,

We'd like to ask if it's possible to add sparse_multiply and sparse_multiply_sparse as a sparse equivalent to existing tf.multiply but for SparseTensor arguments and both Tensor and SparseTensor result.

Thank you,

Joanna

[2017-05-18 12:12] sirfz commented on #9742
@yaroslavvb wow, the difference is huge. Initializing the variables now takes less than 3GB of memory, that's 2x less than what the binary version was taking and 4x less than the compiled one (using `tf.constant_initializer`). That's a huge difference!

However, the placeholder initialization workaround is unpractical in my case as we have wrapper classes that do the loading for us which we just i

[2017-05-18 12:27] ndvbd opened #10004 "In reader.py, line 17 throws error on python 3.5. The decode phrase should be removed, and then it works"
In reader.py, line 17 throws error on python 3.5. The decode phrase should be removed, and then it works

[2017-05-18 12:50] Bihaqo opened #10005 "Py_func call slows down scipy"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04.4 and MacOS 10.12.4 are affected
- **TensorFlow installed from (source or binary)**: tried both, reproduces on both
- **TensorFlow version (use command below)**: 1.0.1 a

[2017-05-18 12:52] KashiErez commented on #9969
I encountered a similar issue:
I am using nvidia/cuda:8.0-cudnn5-devel-ubuntu16.04 docker image.

While trying to upgrade tensorflow from 0.12.1 to 1.1.0 , I get this error:
ImportError: libcuda.so.1: cannot open shared object file: No such file or directory

[2017-05-18 13:06] KashiErez commented on #9969
I think it is a bug in tensorflow 1.1.0.
I downgraded to tensorflow 1.0.0, and it works.

Here are the lines from my Dockerfile:

FROM nvidia/cuda:8.0-devel-ubuntu16.04
RUN pip install https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.0.0-cp27-none-linux_x86_64.whl
# RUN pip install https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.1.0-cp27-none-linux_x86_64.w

[2017-05-18 13:07] Nayana-ibm commented on #9107
Tensorflow uses farmhash as an external dependency, it fetches farmhash code through [this ](https://github.com/tensorflow/tensorflow/blob/v0.10.0/tensorflow/workspace.bzl) file.

[code]

Now, the required farmhash [patch ](https://github.com/google/farmhash/commit/2bc1fd0d958f6b6b2131ac70484aa81bfaf9b29a)for big endian s390x platform has been merged.

So, TensorFlow can use [this](https://github.

[2017-05-18 13:29] tillahoffmann commented on #386
@pawarrick, complex FFT and IFFT as well as the RFFT are now in master. The IRFFT still needs a bit of work.

[2017-05-18 13:56] arashno opened #10006 "Tensorflow cifar 10 example memory leak"
### Describe the problem
I am new to Tensorflow. I tried to run the cifar10 examples from here: https://github.com/tensorflow/models/tree/master/tutorials/image/cifar10

I didn't make any changes to the code, I just tried to run it on multiple GPUs. I am trying to use 6 GPUs and I am allocating 10 GB of RAM for my job but after a few minutes my jobs getting failed due to memory limit. Allocating m

[2017-05-18 14:04] yaroslavvb commented on #9742
BTW, putting huge constants into Graph has performance implications besides higher memory, accessing data is slower too. Also there's a 2GB limit which includes graph inlined constants, once you hit it, you won't be able to add any more operations to the graph.

I get around design issues by keeping global `init_dict` with links to all numpy arrays and passing it to `global_variables_initializer`.

[2017-05-18 14:13] bsautermeister commented on #9747
I'm just facing the same problem. To be more precise, I'm using [tf.metrics.accuracy()](https://www.tensorflow.org/api_docs/python/tf/metrics/accuracy) in my training script, which uses local count variables internally.

[code]

After saving and restoring the graph using [tf.train.import_meta_graph()](https://www.tensorflow.org/api_docs/python/tf/train/import_meta_graph), I'n not able so reuse the

[2017-05-18 14:13] pawarrick commented on #386
yes thanks very much for your contribution. I saw the discussion about it in this thread #9029

[2017-05-18 14:31] sirfz commented on #9742
Thanks for the suggestion @yaroslavvb, sounds fair enough (and worth it given the significant memory/performance improvement).

Not sure it's worth it to look into the difference between the environments given that I found the main bottleneck now which is in the protobuf serilaization. For what it's worth the protobuf implementation type in my case is cpp.

As for your last question, I already tes

[2017-05-18 14:57] yaroslavvb commented on #10005
I couldn't reproduce it

I added the following to top of https://github.com/yaroslavvb/stuff/blob/master/svd_benchmark.py and ran it as `svd_benchmark.py eigh` and observed the same time.

[code]

`py_func` runs the function provided in the main Python interpreter, so a simpler repro would be to run `np.linalg.svd` directly rather than through py_func.

Also numpy backend may matter here, you can

[2017-05-18 15:09] drpngx commented on #9929
Did you try in `CROSSTOOL.tpl`? Also try adding the line, not replacing the existing one.

[2017-05-18 15:13] ebrevdo commented on #8833
I'd need to see how you're calling session.run and the rest of your code to see if you're doing anything else wrong.  I suggest starting a thread on StackOverflow for this since it could be user error.  This thread is closed since the originally reported issue has been fixed in TensorFlow.

[2017-05-18 15:15] drpngx commented on #10001
@npanpaliya any idea?

@davideleoni90 could you try with asan perhaps? Any chance to get line numbers?

[2017-05-18 15:19] vilemduha commented on #4907
I am really fighting with getting deepdream running with slim inception model....
While it was running with a pre-trained model as is in the tutorial, I trained a model from models/slim/nets/inception_v3, and simply can't get it running at all..

while I got to passing the model with the instructions from bhack:
[code]
I simply can't get past that point while getting this error:
[code]

Sincerely,

[2017-05-18 15:35] DSP209 commented on #9701
Also having same issue. Win 10 64bit

[2017-05-18 15:44] colaskirschoff commented on #4746
@ayushchd I guess it's a bit late but there is a work around if you need to do your max_pool on a unique dimension. In this case you do not need any kernel size nor strides so you can use reduce_max directly.

[2017-05-18 15:50] physicsrob commented on #5827
I'm running into this problem as well while trying to use batch norm on a model across two GPUs.  My use case is basically identical to @ppwwyyxx.  Does anyone have a suggested workaround?

[2017-05-18 15:52] petrux opened #10009 "Problems with `raw_rnn` with dynamic dimensions"
I am trying to implement the [pointing softmax](https://arxiv.org/abs/1603.08148) in TF 1.1 and I am using `raw_rnn` but I get an error. Since is hard to explain the whole thing, here is how to reproduce it:

[code]
the error that I have is:

[code]

**EDIT** a working implementation is [here](https://github.com/petrux/LiTeFlow/tree/pointing-decoder/liteflow).

[2017-05-18 15:54] ppwwyyxx commented on #5827
Oh my solution was just to use `moving_averages.assign_moving_average` without debias factor. But I'd like to see a way with debias as well.

[2017-05-18 16:18] ebrevdo commented on #9904
Looking.

[2017-05-18 16:26] annanay25 opened #10010 "[Feature]: Bazel - Building TensorFlow with Polly-enabled-LLVM."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: ('v1.0.0-1783-g4c3bb1a', '1.0.0')
- **Bazel version (if compiling from source)**: 0.

[2017-05-18 16:53] yaroslavvb commented on #4907
@vilemduha from the error I'm guessing `t_grad` and/or `t_score` are `None` instead of being tensors

[2017-05-18 16:57] leo-p commented on #9517
It's not exactly the same but I've found that using SLIM one can simply do:
[code]

Which will pin the variables on `/cpu:0` while maintaining the actual computations on `/gpu:x`.

And don't forget to set `colocate_gradients_with_ops=True` when computing the gradients.

[2017-05-18 17:02] vilemduha commented on #4907
yaroslavvb -
Exactly...I found that allready by placing a print of the fetches in the session py file.
 but I don't get why?
the code is otherwise actually the same as in tutorial.

this is start:```

checkpoint_folder = '/media/vilem/RYCHLEJ/nntrain/train/scan3d/all/'

# We retrieve our checkpoint fullpath
checkpoint = tf.train.get_checkpoint_state(checkpoint_folder)
input_checkpoint = checkpoint

[2017-05-18 17:07] vilemduha commented on #4907
I forgot to append -
the printout from the 'fetches' is
[None, <tf.Tensor 'Mean:0' shape=() dtype=float32>]
so t_grad is None.

[2017-05-18 17:09] ipoletaev commented on #9149
I have the same issue with openSUSE, python 2.7, GTX 980 Ti, gcc 4.8.3. and the latest version of bazel.

[2017-05-18 17:09] yaroslavvb commented on #9925
To avoid spamming new issues on graph_editor, here's another one I found -- `copy_with_input_replacements` scales quadratically with size of the graph. Copying 80k piece of graph several times, most of the time spent inside `assign_renamed_collections_handler`, which in turn caused 300M calls to `__equals__` method inside `ops.py`

The work-around is to call `disable_collections_handler()` functio

[2017-05-18 17:22] zhangyaobit commented on #9906
These two Assign nodes could be initializers for two variables. There are two collections in MetaGraphDef, "trainable_variables" and "variables", where you have a list of VariableDef including a initialization node. After you import the MetaGraphDef, these two collections should be preserved and you can run all initialization nodes in VariableDef.

Could you be more specific about why queue_runnin

[2017-05-18 17:56] lxtGH commented on #2883
Hi I follow all the steps, all the model can get the right answer using bazel, but I still get this error when I run on Android.
**Inference exception: java.lang.IllegalArgumentException: computed output size would be negative
                                                                                   	 [[Node: pool_3 = AvgPool[T=DT_FLOAT, data_format="NHWC", ksize=[1, 8, 8, 1], padding="VA

[2017-05-18 18:06] FedericoMuciaccia commented on #9915
1) yes: with the old releases I was able to load tensorflow-gpu even if my Nvidia card was shutted down via PRIME. there were only some warnings about the failed loading of some CUDA stuff (which I cannot remember now exactly), but I was able to do computations correctly, without the need to install the "tensorflow" package.
2) yes: with the current release (and with only tensorflow-gpu installed)

[2017-05-18 18:19] coutureJ commented on #37
+1

[2017-05-18 18:25] eaplatanios opened #10012 "Session vs DeprecatedSession"
Hi,

I'm wondering as to the main differences between the new sessions in the C API and the deprecated sessions. I noticed that [the Python API is using the deprecated sessions](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/client/session.py#L562) and since I am using the new sessions, I want to make sure I understand the differences correctly. I list here the differences

[2017-05-18 18:30] andrewharp commented on #9694
Closing due to lack of activity; please respond with additional info if the issue persists.

[2017-05-18 18:30] #9694 closed

[2017-05-18 18:37] christabella commented on #9701
Same issue, on Docker tensorflow image (Ubuntu)

[2017-05-18 18:41] jubjamie commented on #9915
1/2. I'm quite surprised about this. Not sure that's intended. Perhaps tensorflow treated it as an insufficient card. It could be that an nVidia driver change now hides the card completely?

3. Your OS shouldn't be an issue. I run on 16.10 with no issues. What version of CUDA/cuDNN are you using? I'm aware that some newer versions are not fully supported by tensorflow atm.

4. I wouldn't quite cal

[2017-05-18 18:53] barotdhrumil21 commented on #8107
@robmsylvester @AimainaHito I tried to moving to other directory and even tried to load from idle but it's still not working.

[2017-05-18 18:58] ankur2136 opened #10013 "GPU resources not released when session is closed"
This is a possible duplicate of #1727. Posting here as there is no way to re-open or comment on the previous bug.
The comments suggests that the updating the driver would most probably fix the issue but its not the case.

**Environment info**
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.2 LTS
Release:	16.04
Codename:	xenial

   `v1.1.0-rc0-61-g1ec6ed5 1.1.0`

`NVIDIA-SMI 375.51

[2017-05-18 19:01] joshuastough commented on #7705
Thank you SiddGururani, copying the cuDNN dll, lib, and header to the CUDA folder's respective subfolders worked for me as well. I have Cuda 8.0 and cuDNN 5.1, and (native) pip install tensorflow-gpu had claimed success, but I was still having this problem.

[2017-05-18 19:04] skye commented on #9976
@dandelionmane @jart

[2017-05-18 19:08] skye commented on #9978
@sherrym can you comment or redirect to someone who can? Thanks!

[2017-05-18 19:09] skye commented on #9984
@mrry can you comment or redirect to someone who can? Thanks!

[2017-05-18 19:10] skye commented on #9988
FYI @girving @gpapan

[2017-05-18 19:11] sherrym commented on #9978
Frank Perbet. I am not sure if he has a github account.

[2017-05-18 19:13] skye commented on #9996
It's possible the API has changed in 1.0 (e.g. perhaps the argument ordering changed). Please see the documentation: https://www.tensorflow.org/api_docs/python/tf/contrib/layers/conv2d_transpose
Using keyword arguments may help too.

[2017-05-18 19:14] yaroslavvb commented on #9978
It's @purpledog . Simple fix would be just to remove anything to do with `_original_op`. That field hasn't been touched for 2 years, not sure if it's actually used by anything. I've been using graph editor recently and can aggregate all the fixes into PRs if there's interest in checking them in

[2017-05-18 19:16] skye commented on #9998
You could try the CMake build instead of using bazel: https://github.com/tensorflow/tensorflow/tree/r1.2/tensorflow/contrib/cmake

[2017-05-18 19:18] skye commented on #10002
FYI @concretevitamin @jhseu

[2017-05-18 19:21] skye commented on #10004
Are you talking about tensorflow/contrib/saved_model/python/saved_model/reader.py? I suggest trying the saved_model functionality that's now in core TensorFlow: https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/python/saved_model/README.md

[2017-05-18 19:22] skye commented on #10006
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-18 19:22] #10006 closed

[2017-05-18 19:22] Czechh commented on #37
+1

[2017-05-18 19:23] skye commented on #10010
@phawkins can you comment or redirect to someone who can? Thanks!

[2017-05-18 19:26] arashno commented on #10006
I already asked it on stackoverflow.com:
[http://stackoverflow.com/questions/43946948/tensorflow-cifar-10-example-memory-leak]()

Apparently it's a bug!

[2017-05-18 19:40] brandondutra opened #10014 "feature request: make placeholder_with_default work in batch prediction"
cc @qimingj

I ran into an issue with building a model that has missing values. During training, I can fill in missing values via the options to tf.decode_csv or tf.parse_example. I want to make my exported saved model also handle missing values. I know how to do this if the model reads from tf.example string or csv string, but this is impossible if the model takes each input tensor individually t

[2017-05-18 19:41] brandondutra commented on #10014
forgot to say, I do not know my batch size during prediction.

[2017-05-18 19:44] jart commented on #9976
We're working on the text/plugin 404. The other ones are for js.map files and shouldn't cause problems if they're not available.

[2017-05-18 20:05] girving commented on #9988
Seems reasonable as contributions welcome to me.

[2017-05-18 20:33] adennie commented on #9525
I'm wondering, will the approach described here also help with the problem of building a debug mode DLL for windows via cmake?  Currently the issue is that the .def file generated by create_def_file.py contains more symbols than the 65535 limit.

[2017-05-18 20:39] girving commented on #9525
@adennie Yes, we should be able to fit within that limit.  Rather embarrassing that we can't yet. :)

[2017-05-18 21:16] jhseu commented on #9910
Can you try with a known valid input file? There's not enough information to go on.

[2017-05-18 21:18] techmatt commented on #7156
tf.nn.sparse_softmax_cross_entropy_with_logits is the equivalent function here -- the "sparse_" means that the distribution is hard, i.e. (0, 1, 0, ..., 0) not (0.5, 0.25, 0.25, 0, ... 0), which is what SpatialClassNLLCriterion is also assumes

[2017-05-18 21:28] mrry commented on #9984
Does it work if you use MSBuild rather than Visual Studio to build the project?

[2017-05-18 21:54] jeansely opened #10015 "unable to install for new versin tensorflow 1.2"
Hi,
 already installed  tensorflow 1.1 in python3.5 and OS  win64. but now for upgrade to "tensorflow-1.2.0rc0-cp35-cp35m-win_amd64.whl" the python TAKE error " unable to install tensorflow 1.2"

[2017-05-18 22:01] adennie commented on #9984
I think you may need to build the tf_protos_cc module to generate those pb.h files.

[2017-05-18 22:38] joe-antognini commented on #9870
Upgrading to version 8.0.61 of CUDA fixed this issue for me.

[2017-05-18 22:54] darthdeus opened #10017 "tensorboard fails with `Fatal error in launcher: Unable to create process using '"'`"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A, tensorboard command line issue
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 x64
- **TensorFlow installed from (source or binary)**: binary with Python 3.5, installed via pip
- **TensorFlow version (use command below)**: b'unknown' 1.1.0 (gpu

[2017-05-18 23:55] zrbecker commented on #6999
For the "install" instructions for Anaconda on this page: https://www.tensorflow.org/install/install_windows it would be nice if it was updated to say when you create the conda environment that you need to set python=3.5. As of right now, conda uses 3.6 by default, and it is confusing when following instructions to get an error message that is not referenced anywhere on that page.

[2017-05-19 00:04] bhack commented on #22
Will Vulkan and [Opencl be fused](https://www.khronos.org/news/press/khronos-releases-opencl-2.2-with-spir-v-1.2)?

[2017-05-19 00:35] ikarosilva commented on #6727
@gmacleod Thanks!! Happens in R1.1 as well.

[2017-05-19 01:20] DjangoPeng commented on #9328
Merged pull request, so I close the issue. @caisq @girving

[2017-05-19 01:20] #9328 closed

[2017-05-19 01:30] dhasegan opened #10019 "Java Api String tensors support"
from [Tensor.java](https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/java/src/main/java/org/tensorflow/Tensor.java#L90):
**non-scalar DataType.STRING tensors are not supported yet**

Is there a plan for adding them for the Java interface?

[2017-05-19 01:59] dahangli commented on #9866
How to solve it. I have get the same problem.

[2017-05-19 02:01] lsqpku commented on #9939
@JeremyCCHsu, I use slim but am yet encountered by this issue AFTER I upgrade from tf 1.0.1 to 1.1.
environment info:
python 2.7
gpu: k40c with cudn 8.0
rhel: 6.5
tf: binary installation

[2017-05-19 02:09] Lee-L-Boyd commented on #9866
Hi,

I didn't actually solve it, other than moving to a newer computer with the
latest version of Linux and a newer gpu.  I would recommend if you are
trying to use cuda, making sure that it is the appropriate version for your
graphics card.  I have an nvidia 720 with Ubuntu 14, and had cuda 6.5
operational, but when I tried to use cuda 8 all these problems popped up.
Check cuda docs and read very

[2017-05-19 02:13] dahangli opened #10020 "undefined symbol: cuDevicePrimaryCtxRetain"
Ubuntu 14.04    / NVIDIA GTX 1060

I try nvidia 710 with Ubuntu 14.04,s ok!
I try nvidia 1060 with Ubuntu 14.04, Fault! -- undefined symbol: cuDevicePrimaryCtxRetain！

NVIDIA-Linux-x86_64-375.66.run
cuda_8.0.61_375.26_linux.run
CuDNN5.1
Anaconda3-4.3.1-Linux-x86_64.sh （Python3.6）
TensorflowGPU1.1.0

I have install this profile in one computer( not the same hardware) success.
But, today, another co

[2017-05-19 02:15] dahangli commented on #9866
I try nvidia 710 with Ubuntu 14.04, and had cuda 8.0 is ok!
I try nvidia 1060 with Ubuntu 14.04, and had cuda 8.0 is Fault!

[2017-05-19 02:16] dahangli commented on #9866
NVIDIA-Linux-x86_64-375.66.run
cuda_8.0.61_375.26_linux.run
Anaconda3-4.3.1-Linux-x86_64.sh

[2017-05-19 02:31] haydenth commented on #5867
Is there anyway this can be accomplished using the transform_graph tool and remove_nodes?

[2017-05-19 02:55] w4nderlust opened #10021 "Class weighting in tf.losses.softmax_cross_entropy"
Feature request

In `tf.losses.softmax_cross_entropy` there's an optional field `weights`. I assumed this field was used for assigning a different weight to each class, but it actually is used to assign a weight to each sample in the batch. In my use case i have a `batch_size` of `128` and `30` classes, so I was passing a `[1, 30]` tensor and got this error:

[code]

I looked at the implementation

[2017-05-19 03:09] asimshankar commented on #10019
Closing this as a duplicate of #8531
@erranli was working on this, not sure of the current status.

[2017-05-19 03:09] #10019 closed

[2017-05-19 03:36] luchensk commented on #9953
Hi @ali01 and @aselle , is there some update? Thanks.

[2017-05-19 03:46] Lee-L-Boyd commented on #9866
Wow!  That is strange.  Did you make sure Cuda is functional with some
sample programs?

On May 18, 2017 9:17 PM, "dahangli" <notifications@github.com> wrote:

[2017-05-19 03:55] Lee-L-Boyd commented on #9866
For example, check to make sure device Query (usr->local->cuda-8.0->samples->1_Utilities->deviceQuery->make) compiles and runs with Cuda.

Sent from my MetroPCS 4G LTE Android device-------- Original message --------From: dahangli <notifications@github.com> Date: 5/18/2017  9:17 PM  (GMT-06:00) To: tensorflow/tensorflow <tensorflow@noreply.github.com> Cc: Lee-L-Boyd <lee.l.boyd@gmail.com>, State c

[2017-05-19 04:09] sj6077 commented on #9906
For the queue runner, I think it's same as initializer. grappler returns graph instead of meta graph, so I can gather only subset of initializers from old meta graph.

` with tf.Graph().as_default():
    meta_graph_def = meta_graph_pb2.MetaGraphDef()
    meta_graph_def.ParseFromString(meta_graph_def_str)
    meta_graph.rdag_import_meta_graph(meta_graph_def)

    rewriter_config = rewriter_config_p

[2017-05-19 04:29] sj6077 commented on #9906
One more question about "trainable_variables" and "variables". Do you copy trainable_variables as variables, and each gpu uptdates variables independently, and finally updates trainable_variables?

[2017-05-19 04:46] karanaggarwal1994 opened #10023 "Error while executing TF program with TF_CPP_MIN_VLOG_LEVEL=1"
I got this error when I exported TF_CPP_MIN_VLOG_LEVEL=1 and TF_CPP_MIN_LOG_LEVEL=1 to see the LOG files . I got this error.

[2017-05-19 04:49] cgorman opened #10024 "Text summary: Error encountered when serializing __tensorboard_plugin_asset__tensorboard_text."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux CentOS 7
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: `v1.1.0-rc2-1185-ge4f5123' 1.2.0-rc0`
- **Bazel version (if compiling from source)**: `0

[2017-05-19 06:27] suiyuan2009 commented on #9180
@jingjingwang , what does your `my_py_func` look like? I think the function passed to `tf.py_func` is purely "numpy", so there must be a sparse object type in numpy that we can convert `tf.SparseTensor` to.

[2017-05-19 06:46] physicso commented on #7664
@ebrevdo Great news, thanks!

[2017-05-19 06:59] PinkySan commented on #9984
Had the same issue as you yesterday. In tf_core_framework.cmake they are trying to build the *pb.h from the *.proto files. I guess they forgot to check, if the protocol buffer compiler is installed. Maybe it will help, if you install in manually [https://developers.google.com/protocol-buffers/docs/downloads](protocoll buffer). Please try and let me know

[2017-05-19 07:07] bauripalash opened #10026 "Failed to load the native TensorFlow runtime : error while importing tensorflow"
**I built TensorFlow from source on my Ubuntu 17.04 32bit**

I got this message while importing tensorflow

palash@ash:~$ python
Python 3.6.0 |Anaconda 4.3.1 (32-bit)| (default, Dec 23 2016, 12:22:10)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
File "/home/palash/anaconda3/lib/python3.6/s

[2017-05-19 07:11] omoindrot commented on #7951
First documentation on master under `tf.contrib.data`: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/data

[2017-05-19 07:40] davsuacar commented on #9747
Same case for me. I'm using tf.metrics.accuracy() in my training process.
`self.accuracy_metrics, self.update_accuracy_metrics = tf.metrics.accuracy(self.label,
                                                                                  self.one_hot,
                                                                                  name='accuracy')`

When I try to restore the saved model:
`ne

[2017-05-19 07:43] npanpaliya commented on #10001
I checked it on a system "Linux f9b14d7ac714 4.4.0-75-generic #96-Ubuntu SMP Thu Apr 20 09:55:30 UTC 2017 ppc64le ppc64le ppc64le GNU/Linux" with tensorflow 1.1.0 and quit() didn't give segmentation fault. Could you please try upgrading Tensorflow to 1.1.0 (final release)?

[2017-05-19 08:29] yvtheja commented on #582
@buaa-luzhi , we had to remove TensorFlow and reinstalled it from the source.

[2017-05-19 08:32] mparaschiv commented on #9996
@skye, unfortunately keyword arguments don't help. I am accessing conv_transpose in exactly the same way as I access standard conv2d layers. The conv_transpose throw the above error, though.

[2017-05-19 08:49] pinping commented on #9072
我的是imac和你一样的问题 在./configure时候Do you want to use clang as CUDA compiler? [y/N] N选N，不用clang用gcc就行了

[2017-05-19 08:54] kwotsin commented on #9958
@asimshankar I have finally solved the ADB issue by doing a factory reset of the android phone and then enabling PTP instead of MTP as the file transfer method.

From the Android Studio's android monitor, I have gotten these log when my app crashes using the quantized graph.

[code]

I've not done any android development before, so I would really appreciate it if you could share what this error lo

[2017-05-19 09:23] davideleoni90 commented on #10001
@npanpaliya I had installed the last version from this fork

[https://github.com/PPC64/tensorflow](https://github.com/PPC64/tensorflow)

I have just tried with final release (1.1.0) from

[https://github.com/tensorflow/tensorflow](https://github.com/tensorflow/tensorflow)

but I get the following error during the build process:

`ERROR: /home/shady/dleoni/bazel_output_base_final/external/protobuf/

[2017-05-19 09:33] hhwhbf opened #10029 "about tf.train.ExponentialMovingAverage"
Hi,I met a little problem when use this API.
"/biased does not exist, or was not created with tf.get_variable(). Did you mean to set reuse=None in VarScope?"
And I saw someone written same problem in this issue https://github.com/tensorflow/tensorflow/issues/5827
but in comments of the issue,I did not find a efficient method to solve this problem.
By the way,a code ,such as
[code]
can normally run

[2017-05-19 09:56] albertz commented on #4535
@mrry That sounds interesting. Can I already try it? Or when is this planned to be released?

[2017-05-19 09:58] npanpaliya commented on #10001
This build error is because of gcc version being used for building. We use gcc 5.4.0 and tensorflow works perfectly with that version.
If you want to try with gcc 6, then for above mentioned error, try changing "default_cc_opt_flags" in tensorflow/configure script to use -mcpu instead of -march, as the error suggests.

[2017-05-19 10:00] asanakoy commented on #9675
@ppwwyyxx , but he uses BytesList for the image, not  Int64.
The only int64 value in 1 integer label.
I have the problem of blowing up tfrecords as well. My images are 30G when wtored in jpg, but 280G when I write them in tfrecord

        example = tf.train.Example(features=tf.train.Features(feature={
            'height': _int64_feature(height), # single integer
            'width': _int64_featu

[2017-05-19 10:01] qtdaniel commented on #9918
I would like to see this implemented. I simply want to retain a permanent checkpoint at the end of each epoch but since each epoch runs for a long time I also need at least one transient checkpoint retained within the current epoch so I can recover from a crash/server eviction efficiently. Saving every checkpoint is inefficient (especially as the "delete checkpoint" code is inaccessible so I can't

[2017-05-19 10:11] Randl commented on #4589
Meanwhile caffe2 [adds 16 bit floating point](https://caffe2.ai/blog/2017/05/10/caffe2-adds-FP16-training-support.html) training support  in collaboration with NVIDIA.

[2017-05-19 10:12] davideleoni90 commented on #10001
I replace `march` with `mcpu` and the building process went forward, but not much, and I got the following error:

`ERROR: /home/shady/dleoni/tensorflow_final/tensorflow/tensorboard/components/tf_graph_common_d3v4/BUILD:26:1: Executing genrule //tensorflow/tensorboard/components/tf_graph_common_d3v4:ts failed: bash failed: error executing command
  (cd /home/shady/dleoni/bazel_output_base_final/ex

[2017-05-19 10:26] annanay25 commented on #10010
@skye @phawkins

So I think I found it, I had to define the dependency in  ```tensorflow/compiler/xla/service/BUILD```.

But I have a question: I am trying to integrate ```opt``` into the ```cpu_ir_emitter``` of xla. Any pointers as to where I should be putting it in the pipeline?

Thanks.

[2017-05-19 10:26] #10010 closed

[2017-05-19 11:08] jubjamie commented on #10015
Can please provide much more information. Please post full console output. What was the full pip command you used? Are you within an environment. Can you confirm you are only installing the CPU version too.

[2017-05-19 11:12] jubjamie commented on #10013
I also have this issue with Windows 10 64 Bit. TF1.2-GPU. I have to restart my python kernel (i'm using jupyter) for the memory to be released.

I think that I read that whilst the memory is not released, Tensorflow is managing it behind the scenes which is great if you're doing lots of TF stuff but not if you want to release it for something else. I may have mis-remembered this though so hopefull

[2017-05-19 11:14] jubjamie commented on #9976
Ok. I guess i'll leave this open until it's sorted then. Thanks.

[2017-05-19 11:47] apacha commented on #7257
That would be acceptable, if there was an _easy_ way of building Tensorflow on Windows. Apparently, there isn't: [People try](https://stackoverflow.com/questions/42603407/how-to-compile-tensor-flow-with-sse-and-and-avx-instructions-on-windows/42755665#42755665) but the [official documentation](https://www.tensorflow.org/install/install_sources) on that clearly states that Windows is currently not

[2017-05-19 12:14] eflavio commented on #1793
Hi. I trained a network with @bcaine register ops solution in python. Now I exported my graph using freeze_graph.py to use my network in C++. But there, this gradient is not registered.
Can anyone help how this can be for C++/ source?

[2017-05-19 12:37] jeansely commented on #10015
i tried for installing with "WinPython Control Panel" this modulo install files with ".whl"  format. i use CPU version.
python= 3.5 , OS is windows. the message box was "unable to install tensorflow 1.2"

[2017-05-19 12:55] adennie commented on #9073
Adding a note here for Windows folks who run into this problem. The symptom in the windows build is:

error C2975: 'should_register': invalid template argument for 'tensorflow::register_op::OpDefBuilderWrapper', expected compile-time constant expression

Adding the strcmpc function and replacing strcmp with strcmpc in ops_to_register.h resolved it.

[2017-05-19 13:57] Jarvis1985 commented on #7540
I am getting this error when running 'pip install tensorflow'

Command "python setup.py egg_info" failed with error code 1 in /private/var/folders/ys/zgxj5spx0k1gj8dl7rxq9n1c0000gn/T/pip-build-1hcjp_kb/protobuf/

Any idea what this is? Thanks!

[2017-05-19 14:08] Carmezim commented on #7540
Hey @Jarvis1985, this seems python/pip related and not a TensorFlow bug.

[2017-05-19 14:11] mrry commented on #4535
@albertz Good timing: we just released the initial version as `tf.contrib.data` in the 1.2rc0 release.

Here are some docs to get started: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/data/README.md

[2017-05-19 14:31] sjperkins commented on #7951
Very nice indeed. The following iterators would be great:

- [chain](https://docs.python.org/2/library/itertools.html#itertools.chain)
- [product](https://docs.python.org/2/library/itertools.html#itertools.product)

[2017-05-19 14:56] snnn commented on #7951
Any planing for supporting a seek-able file format, which can be started to read from an arbitrary offset?

Below is why we need it:
Assume there is large training data set which is in text format, and we need to convert it into tfrecord format.  Then we started a map-reduce job, converted it into 10 tfrecord files, started 10 workers to read them, Perfect! Then we want to run it faster, we would

[2017-05-19 14:58] bryanlimy commented on #22
[according to Raja's Reddit AMA, Vega Vega will support Tensorflow, Cafe2, Cafe, Torch7 and MxNet via MIOpen.](https://www.reddit.com/r/Amd/comments/6bklro/we_are_radeon_technologies_group_at_amd_and_were/dhqoalj/)

[2017-05-19 15:00] snnn commented on #7951
This new API is faster than the old one. I've integrated this new dataset API into my factoration machine trainer, and it saved me 20% training time. Thanks @mrry

[2017-05-19 15:24] andrewharp commented on #9958
@kwotsin your logcat cuts off in the middle of the relevant error, can you paste the rest please?

[2017-05-19 15:29] ppwwyyxx commented on #9675
`30G when wtored in jpg, but 280G when I write them in tfrecord`.. do you mean they are __not__ jpeg when stored in tfrecord?

[2017-05-19 15:42] asanakoy commented on #9675
@ppwwyyxx , Probably the are not jpeg anymore when stored in tfrecord.
When I used leveldb binaries with caffe, it didn't blow up so much.
Looks like it stores raw, without any encoding?

[2017-05-19 15:44] elijahFTL opened #10033 "ImportError: DLL load failed: The specified module could not be found."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: unknown, command fails (this is the problem)
- **Bazel version (if compiling from source)**:

[2017-05-19 15:52] ppwwyyxx commented on #9675
Then it definitely will be several times larger and the factor depends on how well JPEG works on your images. The factor is 5.x on ImageNet, btw.

[2017-05-19 15:59] asanakoy commented on #9675
Is it because tfrecords stores decompressed images?
Is it possible to to store compressed? Do you think it will make everything much slower?

[2017-05-19 16:06] minhnhat93 commented on #9701
I too have this issue. Ubuntu 14.04 64 bit, python 2.7. Using firefox over an ssh connection.

[2017-05-19 16:11] ppwwyyxx commented on #9675
TFRecord stores bytes so you can do any encoding you want.
The easiest thing you can do is just `img_raw = open(img_path).read()` to use the original encoding.
The decompression time is usually much smaller than training, and could be completely hidden if the preprocessing runs in parallel with training.

[2017-05-19 16:12] josh11b commented on #9747
@sherrym Any ideas?

[2017-05-19 16:17] burness commented on #6727
@GuohongLi  Maybe you should change the params in  `config=tf.contrib.learn.RunConfig()` to save the model weights, and then you can make the monitors. [](https://www.tensorflow.org/get_started/monitors)

[2017-05-19 16:51] alextp commented on #9180
A SparseTensor is just three tensorflow Tensors (indices, values, and
shape). Ops which take or produce SparseTensor are just python wrappers
around tf ops which pass/return these 3 tensors.

On Thu, May 18, 2017 at 11:28 PM, Ziming Dong <notifications@github.com>
wrote:

--
 - Alex

[2017-05-19 17:06] gunan commented on #10015
That looks like an issue in WinPython, please try looking through product forums of that tool.
This google search tells me a lot of users of this tool faced similar issues:
https://www.google.com/search?q=%22unable+to+install%22+winpython&oq=%22unable+to+install%22+winpython&aqs=chrome..69i64j46l3j69i57.1513j0j7&sourceid=chrome&ie=UTF-8

I will close this issue, as it is not a TF bug.

[2017-05-19 17:06] #10015 closed

[2017-05-19 17:17] gunan commented on #10026
Are you running on the same system you built TF on?
Ubuntu 17.04 should have a much more recent version of gcc, but this line in your python output is confusing:
[code]
That is quite an old GCC version. Maybe the python coming with Anaconda is the problem. Did you try installing python through Ubuntu package manager?

[2017-05-19 17:23] gunan commented on #9929
I remember from my experiments in a docker container that this was caused by missing header installation.
reinstalling glibc gcc and g++ through yum solved the issue when I tried this.

However, Tensorflow does not have official support for CentOS.
As the instructions you found were in a non-TF repository, I recommend reaching out to the author of those instructions.

[2017-05-19 17:28] gunan commented on #9915
@FedericoMuciaccia Could you try setting `LD_LIBRARY_PATH` to point to where your `CUDA` and `CUDNN` so files are located?
You can find out more on how to set these in NVIDIA's CUDA and CUDNN installation documentation.

[2017-05-19 17:29] ahundt opened #10036 "Document functional differences between tf.stack and tf.parallel_stack"
What if `tf.stack` had the API:

[code]

Options for algorithm could be `sequential`, `parallel` to start. This could apply broadly to many ops and ops like `parallel_stack` could be deprecated.

Any ideas for a better parameter name than `algorithm`?

[2017-05-19 17:35] gunan commented on #9445
OpenCL support in TF still is not finalized.
I recommend reaching out to CodePlay (authors of ComputeCPP) for more help on this, as the compiler is still in beta, and it may be a compiler or a runtime issue.

Also, from what I can see in Platform Support Notes in CodePlay website, they do not have support for any AMD GPUs under ubuntu 16.04
Therefore, I will close this issue.

[2017-05-19 17:35] #9445 closed

[2017-05-19 17:42] gunan commented on #9410
The assessment of @yifeif is correct:
https://en.wikipedia.org/wiki/CUDA#GPUs_supported
Cuda 7.5 does not have support for compute capability 6.0 or higher.

[2017-05-19 17:42] #9410 closed

[2017-05-19 17:45] gunan commented on #9341
Looks like @StefanoD was able to find the resolution to this issue.

For posterity, You have to have the same version of CUDA and libcupti on your system. Latest version of libcupti or cuda may not be on debian repositories yet, so you may need to download these from nvidia, or more recent ubuntu distribution's repositories.

[2017-05-19 17:45] #9341 closed

[2017-05-19 17:46] yaroslavvb commented on #9002
@rohitgirdhar I'm running into the same issue. Just to double-check, you fixed it by downgrading from CUDA 8.0.61  to 8.0.21?

[2017-05-19 17:49] vekexasia commented on #37
+1

[2017-05-19 17:53] drpngx commented on #10023
Your graph is too large to dump out. Just comment out that line or don't use VLOG.

[2017-05-19 17:53] #10023 closed

[2017-05-19 18:00] zhangyaobit commented on #9906
Yes, the collections are not updated and thus need manually updated currently. This is cumbersome and we will definitely think of ways to improve (will first get a working, proof-of-concept ptb example, and then improve/streamline the usage). In particular, you are exactly right that the snapshot name in VariableDef needs to be updated. For ptb, the names of all tensors (the states) that the model

[2017-05-19 18:18] Cospel opened #10040 "Virtual memory Leak when using gpu"
Hello,

I have little problem with virtual memory in tensorflow when running on GPU:

When I run any network/graph, for example squeezenet:

[code]

I get proper allocation when I look on nvidia-smi:

[code]

However the top utility on the process looks very dangerous:
[code]

64 gigs in virtual memory is probably not normal, however when i run it on the CPU (just switching CUDA_VISIBLE_DEVICES to

[2017-05-19 18:21] gunan commented on #8946
This error looks suspicious:
[code]
Is there any chance you are running two TF programs at the same time?

You can find more similar issues here:
https://github.com/NVIDIA/nvidia-docker/issues/262
https://github.com/tensorflow/tensorflow/issues/152

[2017-05-19 18:21] thomasqjohns commented on #8191
Having the same problem with tensor flow 1.1

[2017-05-19 18:27] RudeDog69 opened #10042 "Warning for \get_started TensorFlow Core tutorial - A custom model"
### System information
- **Have I used stock example script provided in TensorFlow from https://www.tensorflow.org/get_started/get_started

- **OS Platform and Distribution : Ubuntu 16.04.2 LTS (GNU/Linux 4.4.0-78-generic x86_64)
- **TensorFlow installed from binary
- **TensorFlow version: ('v1.1.0-rc0-61-g1ec6ed5', '1.1.0')
- **CUDA/cuDNN version**: Not using
- **GPU model and memory**: Not using

[2017-05-19 18:36] thomasquintana commented on #9895
Hi Guys,

Just checking in :) Any progress on this issue?

Cheers,
Tom

[2017-05-19 18:50] gunan commented on #10020
Please provide the full information required by the issue template.
Also, just searching through issues with your error, I see some related issues.
Did you search and try the suggestions in those issues?
https://github.com/NVIDIA/nvidia-docker/issues/262

[2017-05-19 18:53] #8263 closed

[2017-05-19 19:03] skye commented on #9960
Hi @zaccharieramzi, I would argue this is just how Python works. In your code, you're not actually reallocating or modifying your original placeholder, but reassigning the x_ variable, and then feeding the new x_ value (which is the where op):
[code]

This is analogous to doing something like:
[code]
In general, I think it's not a bad idea to use a new variable for each TensorFlow op to avoid bugs

[2017-05-19 19:03] #9960 closed

[2017-05-19 19:11] yanyankangkang opened #10043 "Dynamic_attention_wrapper using rnn output or state to caculate next attention?"
In tensorflow 1.1,  https://github.com/tensorflow/tensorflow/blob/r1.1/tensorflow/contrib/seq2seq/python/ops/dynamic_attention_wrapper.py#L535, dynamic_attention_wrapper use RNN output to calculate next attention
but in previous seq2seq api, https://github.com/tensorflow/tensorflow/blob/r1.1/tensorflow/contrib/legacy_seq2seq/python/ops/seq2seq.py#L692, attention_decoder use RNN state to calculate

[2017-05-19 19:24] yaroslavvb commented on #9002
OK, I got it working by upgrading to 8.0.61, looks like TF version 1.0.1 was the last version that supported 8.0.21

https://github.com/yaroslavvb/tensorflow-community-wheels/issues/21

[2017-05-19 19:34] liber145 commented on #675
@shoyer Hi. Thanks for your example to compute jocabian. Computing jocabian by gradients in an `for` iteration is quite slow. Is there a way to use `map_fn` method to accelerate computing?

[2017-05-19 19:34] joe-antognini commented on #9870
Whoops, I spoke too soon!  I had accidentally assigned my test scripts to the CPU after upgrading CUDA, which made it look like it was working.  But the issue is still there when I run on the GPU.

[2017-05-19 19:37] blake-varden opened #10044 "Upgrading from tf 0.11 to tf 1.1 results in much slower GPU inference for same architecture."
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-05-19 19:39] blake-varden commented on #10044
Here are the summary files describing each of the graphs.  Let me know if you would like the freeze files themselves.

[2017-05-19 19:40] blake-varden commented on #10044
[events.out.tfevents.1495219228 .freezeA.txt](https://github.com/tensorflow/tensorflow/files/1015366/events.out.tfevents.1495219228.freezeA.txt)

[2017-05-19 19:42] blake-varden commented on #10044
[events.out.tfevents.1495219622.FreezeB.txt](https://github.com/tensorflow/tensorflow/files/1015374/events.out.tfevents.1495219622.FreezeB.txt)

[2017-05-19 19:49] blake-varden commented on #10044
[events.out.tfevents.1495220933.FreezeC.txt](https://github.com/tensorflow/tensorflow/files/1015379/events.out.tfevents.1495220933.FreezeC.txt)

[2017-05-19 19:56] awav commented on #9001
#8817, @samjabrahams, I ended up with the same solution. But, it would be easier if `trainable` parameter of the get_variable was tensor typed.

[2017-05-19 19:59] cancan101 opened #10045 "Allow Disabling Password and Token Requirement in Jupyter Notebook"
Jupyter Notebook [allows disabling password / token requirements](http://jupyter-notebook.readthedocs.io/en/latest/security.html#alternatives-to-token-authentication) however the way `jupyter_notebook_config.py` is coded does not allow for this.
[code]
should be be written as:
[code]

since `passwd('') == 'sha1:7d18ca389fad:8b3a353d37eb3caf006aa47a5cd6559511979278'`

[2017-05-19 20:02] rohitgirdhar commented on #9002
Yes, I upgraded to 8.0.61

[2017-05-19 20:09] blake-varden commented on #10044
One of the main things I notice about the FreezeB/C is there are many repeats of the same convolution operation in comparison to the Freeze A model which only has the convolution opertaion with a given name occuring only once.

[2017-05-19 20:13] samjabrahams commented on #9001
@awav The `trainable` parameter just puts that `Variable` object into the `TRAINABLE_VARIABLES` collection. I don't think TensorFlow is designed to have the `var_list` passed into `Optimizer.compute_gradients()` changed (the `compute_gradients` operation has the variables it updates statically defined).

Since we're using `tf.cond` already in order to implement layer skipping in the forward pass,

[2017-05-19 20:26] gunan commented on #9997
Could you link to the file with the mistake?

[2017-05-19 20:40] skye commented on #9996
Thank you for sharing your solution! I'm gonna keep this open as a bug as this seems like confusing behavior that can at least have a better error message.

[2017-05-19 20:49] ispirmustafa commented on #9974
Sorry for confusion.
Right there is a difference between tf.Estimator and contrib one. Most of those changes are removal of deprecated behaviors. There are a few name changes. Currently we're moving some of the canned contrib Estimators under  tf.estimator. We'll update all our examples and tutorials after that.

[2017-05-19 20:49] #9974 closed

[2017-05-19 21:04] skye commented on #10012
You're correct, TF_ExtendGraph isn't necessary or supported with new sessions.

I'll look into the TF_SessionOptions and mark any deprecated ones as appropriate (and respond here).

I think @suharshs can comment on TF_Reset and session handles.

[2017-05-19 21:15] skye commented on #10014
FYI @mrry

[2017-05-19 21:16] skye commented on #10024
@dandelionmane @jart

[2017-05-19 21:18] skye commented on #10036
@yuanbyu

[2017-05-19 21:21] daisyron commented on #9929
Tried you suggestions without success :-( - got same error...

[2017-05-19 21:24] skye commented on #10040
@pbar can you comment or redirect to someone who can? Thanks!

[2017-05-19 21:26] skye commented on #10042
@wolffg @dr4b

[2017-05-19 21:29] skye commented on #9934
@petewarden @andrewharp @girving

[2017-05-19 21:29] skye commented on #9972
@wolffg @dr4b

[2017-05-19 21:31] mddrill commented on #4863
I am getting this issue also. Has it been fixed?

[2017-05-19 21:33] suharshs commented on #10012
TF_Reset's semantics are currently very confusing. We are looking into alternatives for resource container management that solve what TF_Reset was made for in a clearer way. So, I think its advisable to keep TF_Reset only in the deprecated session currently. Let me know if you need TF_Reset in the new session api and we can discuss your use case (I'd be very interested).

The word 'handle' is a bi

[2017-05-19 21:36] girving commented on #9934
Duplicate of https://github.com/tensorflow/tensorflow/issues/3764 and https://github.com/tensorflow/tensorflow/issues/9476.  iOS doesn't include all the ops.

[2017-05-19 21:36] #9934 closed

[2017-05-19 21:42] concretevitamin commented on #10002
I don't think we have immediate plans to implement these - happy to review PRs!

In `sparse_reduce_sum_op.cc`, most logic can be factored out, and only [the aggregate function
 .sum() here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/sparse_reduce_sum_op.cc#L198) needs to be changed, I think.

[2017-05-19 21:48] ivan-ushakov opened #10050 "Function img_to_array() gives error for JPEG on Windows"
Hello,

I'm getting error when I use `img_to_array()` function for particular JPEG file. Here is stack trace:

    Traceback (most recent call last):
      File "file.py", line 41, in <module>
        tf.app.run()
      File "C:\Users\...\AppData\Local\Programs\Python\Python35\lib\site-packages\tensorflow\python\platform\app.py", line 48, in run
        _sys.exit(main(_sys.argv[:1] + flags_passthr

[2017-05-19 21:59] barnandas commented on #9984
ISSUE RESOLVED. It was a silly one.

The build process makes a bunch of git clones. As I was trying to build x64 Release mode in MSVS 2015, the 64-bit version of Git was being called and failed as I had 32-bit version installed on my system. I installed 64-bit Git and the .pb.h files were successfully generated.

Thanks for the help!

[2017-05-19 21:59] #9984 closed

[2017-05-19 22:15] lw394 commented on #8796
having the same issue trying to use learn.Experiment in a distributed fashion, creating separate processes on a local Ubuntu 16.04, tensorflow 1.1 gpu install.  any progress on this issue?

[2017-05-19 22:20] skye commented on #10012
I just looked at the TF_SessionOptions, and the following likely won't be useful to you:

- `ConfigProto.placement_period` This is only used internally
- `GraphOptions.infer_shape` Mostly useful in Session._extend_graph in session.py (a deprecated API concept), but also annotates the NodeDefs returned by Session.graph_def (not sure how useful this feature is)
- `GraphOptions.timeline_step` Experim

[2017-05-19 22:39] suharshs commented on #8220
The python multiprocessing package seems to just call fork when creating a child process. This cannot work when the child process calls async code (i.e TensorFlow is multithreaded). From the posix [spec](http://pubs.opengroup.org/onlinepubs/009695399/functions/fork.html) for fork:

So long story short, don't use python multiprocessing for anything non-trivial and expect it to work :)

[2017-05-19 22:39] #8220 closed

[2017-05-19 22:55] mrry commented on #10014
Out of curiosity, why would you expect

[code]

...to return `[1, 1], [5, 5]`? The contract for `tf.placeholder_with_default()` is pretty simple: it produces its default value unless you feed it (and it offers some latitude for feeding values of different shapes). There's nothing in the program that associates `id_default` with the value of placeholder `regular` (no edge between them in the graph)

[2017-05-19 23:27] brandondutra commented on #10014
I was comparing them to how tf.parse_example would work. If instead I passed two tf.examples (that had features named 'default' and 'regular'), and they both were missing the 'default' feature, and the feature spec had a default value for the 'default' feature, both examples would inject the default value when I call session.run. Now, this default injection would happen at tf.parse_example and not

[2017-05-19 23:32] neighthan commented on #9939
Also getting this error on tf 1.1 even though I've passed names to all tf.layers commands (at least, I think so. If it's useful, I can try to find a minimal example of this where it doesn't come from an unnamed tf.layers).

[2017-05-19 23:35] jolespin opened #10054 "Inconsistent functionality from tf.Graph with simple linear regression (not caused from random-seed-state)"
I am getting very inconsistent behavior with my `tf.Graph` objects and I can't explain why it's happening.  I'm running this in a Jupyter notebook.  Could this affect it at all?

My versions:
[code]
[code]

I will run this code block and get the desired results:
[code]
![image](https://cloud.githubusercontent.com/assets/9061708/26270528/6378cea2-3cb0-11e7-9a7c-3ab10850bd5d.png)

and then I will ru

[2017-05-19 23:57] qimingj commented on #10014
In the case 3): sess.run([id_default, id_regular], feed_dict={regular: [5, 5]})

In order to get it working as expected we'll need:

  default = tf.placeholder_with_default(tf.ones_like(regular), shape=[None])

It connects "regular" with "default" that way. Otherwise, you do need a "batch_run" so TF can infer the batch size.

In the case 4): sess.run([id_default, id_regular], feed_dict={default: [

[2017-05-20 00:12] tfboyd commented on #9517
I learned and noticed something new today.  In the tf_cnn_benchmark code when we place the variables on the GPUs we spread them out even in the basic parameter server mode.  Here is a [link to the code](https://github.com/tensorflow/benchmarks/blob/master/scripts/tf_cnn_benchmarks/variable_mgr.py#L81) (long term the line number may change but for now the link goes to the correct function). This wi

[2017-05-20 00:12] #9517 closed

[2017-05-20 00:14] jtubert commented on #8191
I tried several things, at the end I was able to use tensorflow 1.1 but had to make these changes: (based on Tshzzz above)

Remove this:
`multicell = rnn.MultiRNNCell([dropcell]*NLAYERS, state_is_tuple=False)`

And add this:
`cells=[]
for _ in range(NLAYERS):
    cell = rnn.DropoutWrapper(tf.contrib.rnn.GRUCell(INTERNALSIZE), input_keep_prob=pkeep)
    cells.append(cell)
multicell = rnn.MultiRNNCe

[2017-05-20 00:41] ali01 commented on #10045
Thanks @cancan101, for pointing this out. @mrry, are we intentionally disallowing the disabling of jupyter's password/token requirements, or is it ok to do as suggested by @cancan101.

[2017-05-20 00:43] ali01 commented on #10043
Hi @yanyankangkang, this question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. I know you mentioned that this question has already been asked there. Please hold on until someone from our team or the community gets to it. Thanks!

[2017-05-20 00:43] #10043 closed

[2017-05-20 00:46] ali01 commented on #10033
Hey @mrry, any thoughts about this Windows build?

[2017-05-20 00:47] ali01 commented on #10029
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-20 00:47] #10029 closed

[2017-05-20 00:48] mrry commented on #10045
I have no idea about that file. The fix sounds reasonable though!

[2017-05-20 00:52] mrry commented on #10033
It's almost certainly a missing directory from the `%PATH%` environment variable. The most common error is that the directory containing the cuDNN DLL is not in `%PATH%`, as it's different from where the rest of the CUDA DLLs are installed.

[2017-05-20 00:56] ali01 commented on #10021
Thanks for the suggestion @w4nderlust. Marking this as "Contributions Welcome" for now.

[2017-05-20 01:01] ali01 commented on #10017
Are you passing in any command line flags to tensorboard? It requires --logdir at the very least. Is there any additional output on standard out? Please provide the exact command you are running as well as any additional information that might help us debug this problem.

[2017-05-20 01:04] ali01 commented on #10013
Please provide more details about what platform you are using. We need your operating system, architecture, and TensorFlow version. What graphics card are you running? Also, did you compile from source or install a binary?  Make sure you also include the exact command(s)/code if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template d

[2017-05-20 01:05] ali01 commented on #10003
Thanks for the suggestion @asiakaczmar! Marking this as "Contributions Welcome" for now.

[2017-05-20 01:07] ali01 commented on #9999
Hi @shre81, thank you for reaching out .Could you please provide any additional information that might allow us to reproduce this problem? Exact command lines would be very helpful.

[2017-05-20 01:10] ali01 commented on #9961
Hi @mrlzla, thank you for reaching out. Could you please provide any additional information that might help us reproduce this problem? Exact command lines or precise sequences of steps would be very helpful. Thanks!

[2017-05-20 01:17] ali01 commented on #9953
Hi @luchensk, the file you attached does not seem to be a graph.pbtxt file, which might explain why the Web UI is having trouble parsing it. One way of getting a graph.pbtxt file from your graph is to do the following within your TensorFlow program:

    graph_def = g.as_graph_def()
    f.write(text_format.MessageToString(graph_def))

Let me know if this works.

[2017-05-20 01:49] bauripalash commented on #10026
Yes. I am running it on same system i built it.
I've gcc 6.2 installed on my Ubuntu

[2017-05-20 01:54] blake-varden commented on #10044
After further investigation, it looks as though I may be using two different inception architectures.  One for tensorflow.contrib.slim.nets.inception and one from the tensorflow/models/slim.nets.inception_v1 repo.  These may be resulting in different run rates.

[2017-05-20 01:54] #10044 closed

[2017-05-20 02:02] prashantserai commented on #8191
@ebrevdo Congratulations, TF 1.2 just got released - was the new tutorial also released somewhere or is it being released anytime soon?

Thanks

[2017-05-20 02:11] yongtang commented on #10002
Created a PR #10056 to support the feature. Please take a look.

[2017-05-20 02:34] Chejo-gt commented on #8092
Hello I had the same issue, I uninstall jdk 1.9, checked that was installed JDK 1.8 after it installed open jdk 1.8 and finally it works.  Check this https://alliseesolutions.wordpress.com/2016/09/08/install-gpu-tensorflow-from-sources-w-ubuntu-16-04-and-cuda-8-0-rc/

[2017-05-20 03:19] omoindrot commented on #7951
I feel like the default code for looping over a dataset is a bit ugly with an exception breaking out of a `while True` loop:
[code]

Wouldn't there be a way to have an `is_empty` tensor indicating when the iterator is empty? Like:
[code]

[2017-05-20 03:28] eaplatanios commented on #10012
@skye That's great! Thanks for looking this up! :)

@suharshs I was actually asking about TF_Reset, not because I have a usage scenario for it, but because I wanted to understand its semantics and when it might be useful. Regarding tensor handles, reading the documentation you referenced makes me think that, given that I share the same memory buffer when I feed/fetch tensors to sessions (as oppose

[2017-05-20 04:02] jeansely commented on #10015
I mean that I have not installed it "tensorflow1.2" with pip . i installed with "WinPython Control Panel"

also already install tensorflow 1.1 with ""WinPython Control Panel"

[2017-05-20 04:43] mohamedmansour opened #10058 "Windows Installation permission denied. Why it required Admin?"
Hello, first time install Windows Tensorflow, and I am running Python3.5.2 and following example, I got "Permission Denied". I don't believe it requires admin, or does it?

[code]

[2017-05-20 05:28] xzy256 commented on #9998
ok,  thanks. I have a try.

[2017-05-20 06:18] suiyuan2009 commented on #9180
@alextp , I think @jingjingwang want to pass a `SparseTensor` directly to a custom python function, not unpack it to three Tensors first.

[2017-05-20 06:19] AndreiCostinescu opened #10059 "tf.summary not working in tf.cond functions..."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution**: Windows 10 as well as Linux Ubuntu 16.04.2
- **TensorFlow installed from (source or binary)**: installed with pip (in root of anaconda) like in the documentation (not installed from master)
- **TensorFlow version**: v1.1
- **CUDA/cuDNN

[2017-05-20 07:54] fwinnen opened #10060 "[XLA] [macOS] tfcompile via tf_library does not work on macOS"
I am trying to compile a model using XLA on macOS. I know the XLA is still in experimental stage, but I would be happy to help fix the problem. The problem can be reproduced from supplied tests, i.e: tensorflow/compiler/aot/tests:test_graph_tfadd.

### Environment
OS: macOS Sierra 10.12.4
Tensorflow source: v1.1.0-rc2
Bazel: bazel release 0.4.5-homebrew

### Describe the problem
The generated obje

[2017-05-20 08:02] shitian-ni commented on #9988
Hi, I want to work on this.
I tried to take a look at related methods like `tf.image.resize_bilinear`.
[api_docs](https://www.tensorflow.org/api_docs/python/tf/image/resize_bilinear) says the method is defined in `tensorflow/python/ops/gen_image_ops.py`, but I am unable to find gen_image_ops.py in tensorflow/python/ops.
Where is gen_image_ops.py?
Thanks

[2017-05-20 08:26] Radzhab opened #10061 "tensorflow is not a supported wheel on this p latform"
I have python 2.7.13 (Anaconda 4). When i try install **tensorflow** its raise error.
[code]

I try use gpu version - same result.

[2017-05-20 08:57] Cospel commented on #10040
I found this on stackoverflow:

Nothing to do with scratch space, it is the result of the addressing system that allows unified andressing and peer to peer access between host and multiple GPUs. The CUDA driver registers all the GPU(s) memory + host memory in a single virtual address space using the kernel's virtual memory system. It isn't actually memory consumption, per se, it is just a "trick"

[2017-05-20 09:01] sameertikoo commented on #6394
Having this issue now..
PS C:\Users\> pip install tensorflow-gpu
Collecting tensorflow-gpu
 Could not find a version that satisfies the requirement tensorflow-gpu (from versions: )
No matching distribution found for tensorflow-gpu

[2017-05-20 09:06] honeytidy opened #10062 "C++ compilation of rule '//tensorflow/stream_executor:cuda_platform' failed"
I got the following error when installing tensorflow v1.1.0 from source:
`ERROR: /home/software/tensorflow-1.1.0/tensorflow/stream_executor/BUILD:39:1: C++ compilation of rule '//tensorflow/stream_executor:cuda_platform' failed: crosstool_wrapper_driver_is_not_gcc failed: error executing command external/local_config_cuda/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc -U_FORTIFY_SOURCE '-

[2017-05-20 09:55] astrung commented on #6
pls check answers and comments on stackoverflow link @ProGamerGov

[2017-05-20 11:26] foxik commented on #10061
Only Python 3.5 packages are available on Windows -- so use Python 3.5 instead of 2.7.

[2017-05-20 12:13] abred commented on #1122
@raghavgoyal14 are you using it with fused=True? Had a similar problem and it went away when I used the fused version

[2017-05-20 12:24] fwinnen commented on #10060
Ok, I found the Problem:

file: tensorflow/compiler/aot/tfcompile.bzl:277
[code]

Adding
[code]
fixes the problem. I can provide a pull request for that, but it seems there are more targets missing.
Maybe someone with more overview of supported platforms (@tatatodd ?) can take a look here.

[2017-05-20 12:44] raghavgoyal14 commented on #1122
@abred : Yes, I used `fused=True`, same problem.

[2017-05-20 13:03] snnn commented on #10058
Non-admin shouldn't have write access to ProgramData and "Program Files". They are system wide files.

[2017-05-20 13:08] FedericoMuciaccia commented on #9915
@jubjamie
* cuda: 8.0.44
* cudnn: 5.1.5

@gunan
searching the web I've found that the correct way to set `LD_LIBRARY_PATH` in Ubuntu is this:
* create the file `/etc/ld.so.conf.d/cuda_things.conf`
* add the line `/usr/lib/x86_64-linux-gnu` inside it (where all my libs actually are)
* run `sudo ldconfig`
whith all this done, the problem is still present

[2017-05-20 13:18] lylepratt commented on #9895
I'm also running into this problem.

[2017-05-20 13:39] Deejep commented on #255
Setting the `CUDA_VISIBLE_DEVICES` variable to `0,1` doesn't work for me with 1 GPU and tensorflow installed with virtualenv python.

[2017-05-20 15:17] ebrevdo commented on #8191
We'll plan to have an announcement when it's released. Working on it.

On May 19, 2017 7:02 PM, "prashantserai" <notifications@github.com> wrote:

[2017-05-20 15:19] singlasahil14 commented on #9968
I believe it is a documentation request. Reason for throwing this error should be documented because I haven't been able to find its answer anywhere.

[2017-05-20 15:43] singlasahil14 commented on #9968
For example, the only way currently to get around this bug if in_channels*channel_multiplier > out_channels is to use a depthwise separable convolution followed by a pointwise convolution which causes the network to train twice as (most likely) because different kernels are used for the latter.

[2017-05-20 15:48] mddrill commented on #4863
The proposed change in https://github.com/tensorflow/tensorflow/commit/1410510fd1667f71338b43d6641c3ee5738c4b87 Worked when I applied it to the add_1 function. Now I'm getting the same error with 'Dilation2D'

[2017-05-20 16:08] cancan101 commented on #9988
The op is defined here: https://github.com/tensorflow/tensorflow/blob/fabd225532ee068d1f9ffbdc4a8795e7de99ad24/tensorflow/core/ops/image_ops.cc#L161

[2017-05-20 17:27] jimfleming commented on #7951
If you're using a MonitoredSession and its variants you should still be able to do this:

[code]

[2017-05-20 21:52] oranshayer opened #10066 "cifar10 example running slower with Windows 10"
### System information 1
- **Have I written custom code**: No
- **OS Platform and Distribution**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 0.12.1
- **CUDA/cuDNN version**: 8.0.44 / 5.1
- **GPU model and memory**: GTX 1080 8gb
- **Exact command to reproduce**: 'python3 cifar10_train.py'

### System information 2
- **Have I

[2017-05-20 23:43] vonclites commented on #7951
I'm not having success with the monitored session suggestion. The program simply exits without even reporting the exception.
[code]
the above code prints nothing, just exits after attempting to run past the last batch. However, the following will print "hit exception" forever, unless `break` is used.

[code]

Not sure if I should make a feature request or bug report?

[2017-05-20 23:51] Cogitans commented on #1592
Does anyone have an update on progress towards binary TF ops? I'm weighing the pros and cons of working on this problem myself (the pro being that it'll be useful, and the con primarily being the technical investment of fully grokking the Eigen/cuBLAS side of TF).

Thanks!

[2017-05-21 00:18] HassebJ commented on #255
@Deejep As I said in my previous comments, I have 2 GPUs per node in my cluster that is why I set it to  0,1. For single GPU per node, `CUDA_VISIBLE_DEVICES=0` should work.

[2017-05-21 00:26] chaine09 commented on #4735
I still get the same error and my batch size is only 10. But the input to my CNN is a 1x500 spectrogram. When I use a 1x200 spectrogram there's no error.

[2017-05-21 01:09] soartseng opened #10067 "Tensorboard problem with pandas"
This is my first time to practice the tensorflow and tensorboard function.
My code below:
`import tensorflow as tf
a = tf.constant(10,name='a')
b = tf.constant(90,name='b')
y=tf.Variable(a+b*2, name = 'y')
model = tf.global_variables_initializer()
with tf.Session() as session:
    merged = tf.summary.merge_all()
    file_writer = tf.summary.FileWriter("/temp/to/logs",session.graph)
    session.run

[2017-05-21 02:19] lancerts commented on #6727
This indeed solves my problem. However, now the validationmonitor only trigger **ONE** time, any solution for this?

 validation_monitor = tf.contrib.learn.monitors.ValidationMonitor(
    input_fn=lambda: input_fn(df_test),
    every_n_steps=25,metrics=validation_metrics,
    eval_steps=1,
    early_stopping_metric="auc",
    early_stopping_metric_minimize=False,
    early_stopping_rounds=100)

IN

[2017-05-21 02:53] dimahdera commented on #5272
I am having the same problem on windows .I am getting the following error
c:\tf_jenkins\home\workspave\release-win\device\gpu\os\windows\tensorflow\stream_excutor\cuda\duda_driver.cc:94] check failed: s.ok() could not find cuDevicePrimaryCtxSetFlags in libcuda DSO; dlerror: cuDevicePrimaryCtxSetFlags not found

and python has stopped working whenever I run tf.Session,
Could you please help I am st

[2017-05-21 04:38] HFTrader opened #10071 "Cannot build jemalloc support using CMake on Linux (fails trying to include <windows.h>)"
I am using the provided cmake build project files to compile tensorflow because I have a custom clang binary built with additional optimization passes of my own.

The build works fine without Jemalloc

    cmake -DCMAKE_BUILD_TYPE=Release ../tensorflow/contrib/cmake/
    make -j4   # compiles O.K.

but when I add the jemalloc option it fails.

    cmake -Dtensorflow_ENABLE_JEMALLOC_SUPPORT=ON -DCM

[2017-05-21 07:00] HFTrader commented on #9593
I am using clang 4.0.0 and also having the same problem. However as the compiler is not GCC then the line with target_link_libraries() is not activated. Commenting out the IF() block solves the problem.

[2017-05-21 07:28] ahmetkucuk commented on #1757
I am having the same problem with models/lenet model on a NVIDIA P100 (16 GB).

[2017-05-21 07:55] ad26kt opened #10072 "can it stop printing not requested information?"
when i restore a ckpt, I found that there is an automated printing that:

INFO:tensorflow:Restoring parameters from checkpoint/fnn/params.ckpt-37000

can i stop this?

[2017-05-21 08:04] KashiErez opened #10073 "fail to load tensorflow 1.1.0 inside docker container - libcuda.so.1 missing"
Hi,

I ran into this bug while trying to upgrade tensorflow version to 1.1.0
Using 'nvidia/cuda:8.0-cudnn5-devel-ubuntu16.04' docker image (I also tried other docker images as well).

Note that same code runs fine with tensorflow 1.0.0

Attached is python script that prints tensorflow version (see README.txt for instruction of how to build & run the docker image).
[fail-to-load-tf-bug.zip](https:/