[2017-03-23 14:12] jubjamie commented on #8659
You really need to post more information. Can you use the template provided by the tensorflow folks to give an idea of the issue.
You are creating summaries etc. aren't you? Please give us some environment info, tf version and your code.

[2017-03-23 14:13] lucfra opened #8661 "graph_editor.graph_replace produces WARNING"
Since version 1.0.0 the method `tensorflow.contrib.graph_editor.graph_replace` raises the following warning:

WARNING:tensorflow:VARIABLES collection name is deprecated, please use GLOBAL_VARIABLES instead; VARIABLES will be removed after 2017-03-02.

### Minimal reproducible example
[code]

### Output log
INFO:tensorflow:Copying op: add
WARNING:tensorflow:VARIABLES collection name is deprecated,

[2017-03-23 14:14] SeguinBe commented on #8626
I am not sure how you get this, I use `layers` often and it performs as it should.

I tried to run your lines and as expected `model(x2)` gives an error if used without the `reuse` flag.

[2017-03-23 14:18] yongtang commented on #5190
Created a PR #8662 to support complex64 and complex128. Please take a look.

[2017-03-23 14:28] Dav-Jay commented on #7679
@tfboyd any update on the progress? Thx!

[2017-03-23 14:45] skye commented on #8466
So it sounds like the crash was resolved in 1.0.1. That's good. @pedropgusmao please let us know if you still see this after upgrading to 1.0.1.

@abdasgupta you mention a stacktrace with waitpid(-1), could you post the full stacktrace? Also how are you collecting it?

[2017-03-23 14:58] Carmezim commented on #8482
@meteorcloudy  Do you know when there will be an rc with the fix? Unfortunately when I tried compiling from source at HEAD it terminates immediately as in ([issue](https://github.com/bazelbuild/bazel/issues/1275)):

[code]
Thanks

[2017-03-23 15:02] isiosia commented on #8642
FYI.
As an attempt to avoid this error,I modified the code in `graph_util_impl.py` at L295:
[code]
and it seems working well so far.

[2017-03-23 15:11] meteorcloudy commented on #8482
@Carmezim you can just build Bazel from HEAD by Bazel, `bazel build src:bazel`

[2017-03-23 15:13] meteorcloudy commented on #8482
But the GPU build is lack of maintenance for a long time, not sure it still works...

[2017-03-23 15:19] zehzhang commented on #8647
@jubjamie
Yes, I have imported tensorflow as tf.

[2017-03-23 15:24] jubjamie commented on #8647
Can you please post the code of the file causing problems? I will try and reproduce the problem.

[2017-03-23 15:24] zehzhang commented on #8647
I found in the new version of tensorflow, there was one file named select.py added to tensorflow.contrib.graph_editor and it seems tensorflow.contrib is lazily imported in __init__.py.

Is this the reason?

[2017-03-23 15:29] zehzhang commented on #8647
@jubjamie
Here it is (still some cleaning work to do, but enough for debugging :) ):

from keras.applications.vgg16 import VGG16, preprocess_input
from keras.preprocessing.image import ImageDataGenerator, load_img, img_to_array
from keras.layers import Activation, Dropout, Flatten, Dense, Lambda
from keras.models import Model, Sequential
import numpy as np
from scipy.misc import imresize
from scip

[2017-03-23 15:32] jubjamie commented on #8647
Would you mind editing your above comment to put it all in code with correct indentation and formatting please? Just to make sure everything is written as it should be! In the mean time I will try a little test here.

[2017-03-23 15:35] zehzhang commented on #8647
@jubjamie
Yes wait a minute. In fact I'm now struggling to add the indentation.

[2017-03-23 15:36] skye commented on #8567
@suharshs can you comment on whether partial run can support this?

[2017-03-23 15:38] skye commented on #8569
@panyx0718 would you mind taking a look at this?

[2017-03-23 15:40] tfboyd commented on #7679
I have been negligent in updating.  Testing, documentation, and code clean up is going well.  We are putting in a strong effort to release in early April.  I believe people internally think I have lost my mind in attempting to manage expectations externally.  It may be my cold medication speaking, but I want to be clear what I care about most is getting this code out so the users of TensorFlow can

[2017-03-23 15:42] zehzhang commented on #8647
@jubjamie
I have upated my code above with correct indentation.

[2017-03-23 15:43] #8617 closed

[2017-03-23 15:44] doantientai opened #8664 "SyntaxError: name '_googletest_temp_dir' is used prior to global declaration"
I am following tutorial https://www.tensorflow.org/tutorials/image_retraining

The code successfully complied with Bazel but failed to run with command

`bazel-bin/tensorflow/examples/image_retraining/retrain --image_dir ~/flower_photos`

With a very strange ERROR:

  File "/home/tai/Desktop/TaiM2/tensorflow/tensorflow/bazel-bin/tensorflow/examples/image_retraining/retrain.runfiles/org_tensorflow/

[2017-03-23 15:46] #8625 closed

[2017-03-23 15:55] jubjamie commented on #8647
Problem solved. Can you please confirm what version of tensorflow you are using?

[2017-03-23 15:58] zehzhang commented on #8647
@jubjamie
Thanks!
I'm using the most recent version and I guess that's the reason because I found in the new version of tensorflow, there was one file named select.py added to tensorflow.contrib.graph_editor and it seems tensorflow.contrib is lazily imported in init.py.

Am I right? If it's the reason, except using the previous version, is there any way I can solve it?

[2017-03-23 16:01] jubjamie commented on #8647
tf.select is deprecated that's why. I can't believe I didn't spot that at first!
In TF1.0 tf.select() is not an op in the control flow group. Can I suggest that you use tf.where() and see if you get the desired results. In my brief testing you should get identical functionality.

Let me know if that solves your problem.

[2017-03-23 16:02] zehzhang commented on #8647
@jubjamie
After running python -c 'import tensorflow as tf; print(tf.__version__)', I get:
1.0.1

So the exact version should be 1.0.1 I think.

[2017-03-23 16:05] skye commented on #8610
@dandelionmane

[2017-03-23 16:07] jubjamie commented on #8647
Yeah that's fine. Try using tf.where() instead as tf.select is a deprecated control function. Maybe that's why you are seeing it in contrib? Would have to ask a Tensorflower!
Does this answer your issue?

[2017-03-23 16:08] zehzhang commented on #8647
@jubjamie
Yes and thanks a lot!
It seems in the latest version, tf.select is removed and tf.where is a substitute!

[2017-03-23 16:15] jubjamie commented on #8647
Yes. tf.where used to have a similar but different functionality. If this solved then feel free to close the issue.
Hope I could help!

[2017-03-23 16:20] Carmezim commented on #8482
@meteorcloudy Ah, sorry, I've made a little confusion, I'd built with bazel afterwards but wasn't finding the binary, that is at bazel-bin. Thanks a lot.  I can update you if it builds successfully for GPU.

[2017-03-23 16:34] alexanderalang commented on #8596
@mjanusz welp, I played myself.
That line isn't even supposed to be there. I wonder why a normal python list, when indexed by a boolean returns the first element of the list instead of raising an error..

anyways thanks for finding my silly error. case closed

[2017-03-23 16:34] #8596 closed

[2017-03-23 16:37] dpressel commented on #582
I am still having this problem with Java bindings on latest of r1.0 branch.  A quick look in the tensorflow cache is still showing the 64MB limit.

[2017-03-23 16:43] andrewharp commented on #7464
@vi7us This screenshot is like inception of the Inception model :)

Ok, so it's failing on some devices with android.info.supportedHardwareLevel of 1, and some of 2 it seems. Unfortunate we can't use that as a discriminating factor.

A couple more questions:
- What Android API levels are these devices?
- If you hardcode the res to something like 640x480, does that help?

There is an older conversi

[2017-03-23 17:01] sseveran opened #8665 "freeze_graph not initializing tables"
I am not sure if this is an actual bug or if its expected but undocumented behavior.

I have a model that uses multiple lookup tables created via string_to_index. I freeze the model like so:
`bazel-bin/tensorflow/python/tools/freeze_graph --input_graph=/tmp/tf/graph.pbtxt
--input_checkpoint=/tmp/tf/model.ckpt-0 --output_graph=/tmp/ticker_classifier.pb
--output_node_names=sigmoid --initializer_node

[2017-03-23 17:03] zehzhang commented on #8647
@jubjamie
Could I ask one last-minute question?
I try to call tf.zeros(grad.gets_shape()), but the shape of my grad is (?, 24) and thus it fails to create a zero tensor because tf.zeros requires a specific shape. Is there any way I can create the zero tensor I want?

[2017-03-23 17:04] tgy opened #8666 "`dynamic_rnn`'s docstring refers to a non-existing `rnn` function"
Here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/rnn.py#L392

The docstring of the `dynamic_rnn` function refers to a non-existing `rnn` function.
I don't know if it got deleted or moved somewhere else.

[2017-03-23 17:11] ilya-edrenkin opened #8667 "tf.nn.softmax -- the "name" argument is passed to the internal flattened tensor"
Hi, if I use tf.nn.softmax with the `name` argument, I expect the output tensor to be given this name.
However, the output tensor is always a Reshape op named `Reshape_...`, and the passed name refers to an internal (flattened) tensor.

Steps to reproduce (TF v1.0.1):
[code]

Here is the relevant code from the master branch:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/op

[2017-03-23 17:14] tomwanzek commented on #6184
I just pulled down the last stable nightly build for Windows/GPU (114) (the later builds up to 122 have failed for GPU) and the Windows/CPU build (122). I can confirm that, the original issue still persists.

@mrry Thanks for all the hard work on TF 💯 Are you in a position to pin down, what remains to be done  assuming that the now merged  PR #8217 was one of the missing building blocks to a resol

[2017-03-23 17:21] cmertin commented on #8448
@skye here is a gist version of my code. It is a minimal version and I want to point something out. On the line defining `indices`, where the error occurs, for the value/range of `j`, in my actual code it will be a different range. For example, instead of going from `tf.range(0, tf.shape(temp)[1])`, it will go to something like `tf.range(self.k, self.k + tf.shape(temp)[1])`. Doing that wouldn't wo

[2017-03-23 17:27] andrewharp commented on #8550
@BrianOn99 What is your device's API level? I'm wondering if maybe it might just be a good idea to use android.hardware.Camera on devices < API 23. There is an example of doing that [here](https://github.com/hamidb/tensorflow/blob/api20/tensorflow/examples/android/src/org/tensorflow/demo/CameraConnectionFragment.java).

[2017-03-23 17:32] andrewharp commented on #8436
This should be resolved by @ggfan's 360f449d95cf487fd35dbcbc548a6b65fa7ae64f, which removes the bazel dependency on downloading models (meaning it will also work for the makefile build now too).

[2017-03-23 17:32] #8436 closed

[2017-03-23 17:33] andrewharp commented on #8587
@ggfan I think this may be related to 360f449d95cf487fd35dbcbc548a6b65fa7ae64f

[2017-03-23 17:37] panyx0718 commented on #8569
Looking. It seems tfprof correctly reports the stats returned in RunMetadata. However, why RunMetadata (from tensorflow internal) gives such result is being investigated.

[2017-03-23 17:40] andrewharp commented on #8641
I'll add some more detailed comments in the WORKSPACE file to clarify this.

[2017-03-23 17:40] #8641 closed

[2017-03-23 17:51] Garvys commented on #8561
I can do that. Should I make a PR to change the doc or to change the code so that the function actually returns logprobs ?

[2017-03-23 17:51] jubjamie commented on #8647
I'm out the office now but if you can create a stackoverflow question, link it here and then close the issue that would be great as Google like to keep this clear for bugs. I'll try and get back to you tomorrow.

[2017-03-23 17:51] asimshankar commented on #582
Looking at the contents and history of the r1.0 branch (and the `tensorflow/workspace.bzl` file), that change was not included in r1.0, but will be at head and in the 1.1 release.

Hope that helps.

[2017-03-23 17:51] bowang commented on #8569
I looked into the tensorflow internals a bit deeper. The numbers gathered in gpu_tracer.cc (~ln 580) using CUPTI Activity API are consistent with NVIDIA Visual Profiler (NVVP). But these numbers are not used in RunMetadata.

I can see the GPU perf numbers being used in direct_session.cc (~ln 535) to build the cost model. But the annotated cost graph is not incorporated into RunMetadata or used by

[2017-03-23 17:53] dpressel commented on #582
Haha ok, was guessing that was it.  Thanks

[2017-03-23 17:59] malmaud opened #8669 "Input ... was not previously added to ShapeRefiner"
When calling `TF_GraphImportGraphDef`, some graphs result in the error "Input (...) was not previously added to ShapeRefiner".

I'm still working on a MWE of a graph that causes this, but just wanted to double-check first that this does indeed indicate a bug. So far the graphs that trigger this involve back edges, although I'm not sure yet if that's necessary or sufficient.

[2017-03-23 18:00] Carmezim commented on #8482
@meteorcloudy I got this when building for GPU, so I guess it does not work
[code]

[2017-03-23 18:07] ahundt commented on #4742
Sorry, that was actually my fault! I meant to write that it resolves a point of confusion discussed in this issue.

[2017-03-23 18:09] mrry commented on #6184
@tomwanzek I think the changes are fairly modest. There are two options:

1. (More principled.) Convert the Wide&Deep-related ops to using @guschmue's newly-added `tf.load_library()` support, which will require some additions to the CMake build, similar to the ones Guenther did for `tf.contrib.rnn` in #8217.

2. (Easier.) Convert the Python code in the Wide&Deep libraries to use statically generat

[2017-03-23 18:11] mrry commented on #6184
(EDIT: Interestingly, an internal change is pending to do option 2, so it might be easier to wait a couple days and the HEAD should just work.)

[2017-03-23 18:16] loretoparisi commented on #8640
@asimshankar @drpngx Thank you.
Is it possibile to use a different Inception model? I would like to switch to a different pre-trained model like `Inception-ResNet-v2`

(taken from [here](https://github.com/tensorflow/models/tree/master/slim)).

[2017-03-23 18:24] jorgemf opened #8670 "Outputs of a model are different depending on the batch size (tested for inception models)"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

https://github.com/tensorflow/tensorflow/issues/1299

### Environment info
Operating System: ArchLinux
CUDA: 8.0.61
cuDNN: 5.1.10
TensorFlow: 1.0.1 (both with and without GPU support for python 2.7)

I  have also tested it with the latest nightly build:
http://ci.tensorflow.org/view/Night

[2017-03-23 18:26] wenouyang opened #8671 "regarding best approach to update tensorflow without affecting other installed packages"
We have maintained a virtual environment to hold all the deep learning-related development projects. In this environment, we have installed `tensorflow, keras, theano` and quite a lot other` python` libraries for project purposes.

Currently, I would like to update `tensorflow `from `0.12.0-rc0` to `1.0`. To keep the current development environment, which is shared by other users, I don’t want to

[2017-03-23 18:28] martinwicke commented on #4742
No, it's my fault, I did edit your description to make the PR close this issue. That was a little optimistic.

[2017-03-23 18:31] jorgemf commented on #8670
I am not sure but I think this could be related with the full connected layers with a lot of inputs/outputs. Somehow the operations are not performed in the same order and the round error is different per batch size, this leads to an accumulation of the error different per batch size. When the layers are big (1024 neurons) the error adds and the output is completely different.

[2017-03-23 18:31] ahundt commented on #4742
Aha didn't realize that, well at least things are set correctly now.

[2017-03-23 18:43] asimshankar commented on #8640
@loretoparisi : Such questions are better asked on [StackOverflow](https://www.stackoverflow.com/questions/tagged/tensorflow). We try to keep the GitHub issues focused on bugs and feature requests.

[2017-03-23 18:46] ebrevdo commented on #8564
What happens if you do:

z = tf.identity(y)

then use z in gradients and test_gradients?

On Wed, Mar 22, 2017 at 1:11 PM, Daniel Rasmussen <notifications@github.com>
wrote:

[2017-03-23 18:47] tomwanzek commented on #6184
@mrry sounds great! Whatever option is more appropriate in light of the TF Roadmap...your call 👍

Only speaking for myself here: I'd rather wait a little longer and have a solution that is robust and consistent (beyond just wide & deep), than have a quick fix which outlives itself soon and implies different cognitive models for implementation of different models. Thx in advance.

[2017-03-23 18:48] prb12 commented on #8569
@bowang Those numbers should be in the RunMetadata - but they will be shown as kernel times on a device with name "/gpu:0/stream...".  If you use the timings from the  "/gpu:0" device you will just see the time taken to enqueue the CUDA kernels  (i.e. the time spent in MatMulOp::Compute())

This is liekly to be a problem with tfprof, not the tracing.  I expect that the chrome timeline will show th

[2017-03-23 18:58] nelson-liu commented on #8671
I think you want `pip install --no-deps {tensorflow or tensorflow-gpu}` (assuming you're using pip). This upgrades tensorflow without touching the dependencies.

[2017-03-23 19:02] poxvoculi commented on #8560
I agree that the pool_allocator parameters should be exposed as some kind of config option.  What's going on in this case is that ProcessState is trying to reduce the overhead of page locking CPU memory regions for DMA with the GPUs by keeping pre-locked buffers in a pool.  Your application is unusual and needs to tolerate a higher eviction rate.    I'm not sure whether this should go into GPUOpti

[2017-03-23 19:09] Carmezim commented on #8482
@meteorcloudy it indeed does not work for GPU support

[code]

[2017-03-23 19:12] poxvoculi commented on #8560
Note that there is another plausible design solution to this problem.  If your CPU has enough RAM for this purpose, a large area could be carved out, pre-locked for DMA, then a BFCAllocator or similar could be provisioned on top of that.  The PoolAllocator is a simple solution that works well enough when there's a small, fixed number of Tensor sizes on the GPU.  I don't have time to work on the mo

[2017-03-23 19:49] andrewharp commented on #8587
@shyzh @jubjamie Did this ever build before? I'm not able to reproduce with a fresh pull.

Maybe try `rm -rf gradleBuild/ gradlew gradlew.bat gradle` to make sure you don't have incompatible version of gradle cached somewhere then try building again?

[2017-03-23 19:54] jubjamie commented on #8587
@andrewharp Not in the office atm but I've never built it before. Brand new OS, build etc. So shouldn't be a cache issue. Never even used gradle before. And I've been doing fresh clones from git in separate directories each time so doubt that will fix. Can try it tomorrow though.

[2017-03-23 20:07] AndreaFar commented on #8627
problem solved removing conda hdf5 and installing a newer version

[2017-03-23 20:12] alextp commented on #8298
Please take a look at the new behavior of Variable.initialized_value (introduced in https://github.com/tensorflow/tensorflow/commit/b25d1c7d3e9f30925aa132ba62e79d281191a3dc ). Now it doesn't force initialization, so it can be safely used when initializing variables from other variables.

The only overhead of using this instead of the raw Variable is that it will trigger recomputing the initializer

[2017-03-23 20:13] alextp commented on #4920
Please take a look at the new behavior of Variable.initialized_value (introduced in https://github.com/tensorflow/tensorflow/commit/b25d1c7d3e9f30925aa132ba62e79d281191a3dc ). Now it doesn't force initialization, so it can be safely used when initializing variables from other variables.

The only overhead of using this instead of the raw Variable is that it will trigger recomputing the initializer

[2017-03-23 20:21] drpngx commented on #8581
I wonder if we're getting the string properly utf8 encoded from python.
Worth checking.

On Mar 22, 2017 11:16 PM, "Xianliang Wang" <notifications@github.com> wrote:

[2017-03-23 20:24] mrry commented on #8627
Glad to hear it!

[2017-03-23 20:24] #8627 closed

[2017-03-23 20:26] gunan commented on #8664
This is fixed at head by commit https://github.com/tensorflow/tensorflow/commit/81fcc25ae5c92318ff607a5be3ff06446e232134

[2017-03-23 20:26] #8664 closed

[2017-03-23 20:31] skye commented on #8626
I was able to repro this 1.0, but I believe it's fixed in nightly.

[2017-03-23 20:33] panyx0718 commented on #8569
@prb12 Thanks for the explanation.

So looks like tfprof is tracking the MatMulOp::Compute(). It is actually the CPU kernel schedule time.
While the needed ones are the actually GPU execution time, which is in gpu:0/stream.

Another place I found is in the compute_cost in cost_graph, which can be propagated to Python via the:
    config = tf.ConfigProto(
        graph_options=tf.GraphOptions(build

[2017-03-23 20:48] zheng-xq commented on #8560
There is an internal CL that tries to switch to BFCAllocator all together. We can only do it after verifying it is safe to do by default. We will update when that happens.

For the brave souls, these are the pending changes. We might add an environment variable to control which one to use in the transitional period. In the long term, one of them will stay.

tensorflow/core/common_runtime/gpu/proce

[2017-03-23 21:03] skye commented on #8448
Thank you for providing the repro script, it's very helpful. The problem with the `indices =` line is that you're running a computation that depends on the placeholder `X` (`temp` is derived from `a` which is derived from the My_Function argument `A`, and you've passed in `X`). As the error message suggests, you'll need to somehow pass in a feed_dict argument to your sess.run() call that provides

[2017-03-23 21:07] yaroslavvb commented on #4920
Progress!

BTW, we use Variables that depend on each other, and some are initialized from placeholders. Recomputing the initializer means you have to feed placeholder values that aren't getting used.

As a work-around I've been recommending the pattern below which uses graph_editor + Switch + Merge to rewrite the graph to make initializer execution lazy.

https://gist.github.com/yaroslavvb/d67410e

[2017-03-23 21:11] alextp commented on #4920
Interesting. FWIW, replacing placeholder with constant should allow you to
not rerun initialization (at the expense of abandoning the error message).

On Thu, Mar 23, 2017 at 2:08 PM, Yaroslav Bulatov <notifications@github.com>
wrote:

--
 - Alex

[2017-03-23 21:15] skye commented on #8647
@jubjamie thank you for your responses! I'm gonna close this issue.

[2017-03-23 21:15] #8647 closed

[2017-03-23 21:16] #8649 closed

[2017-03-23 21:17] skye commented on #8651
Yes, let's move any further discussion to  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow). Thanks!

[2017-03-23 21:17] #8651 closed

[2017-03-23 21:18] skye commented on #8652
@naatje80 can you provide a script to repro this?

[2017-03-23 21:19] tfboyd commented on #8602
I would not do this distributed. Unless I am missing something, I would run 4 different Tensorflow instances targeted at CPU:0, one for each model you are training.  If that performance looks poor you could go back and compare running multiple workers with a ps_server on a single server vs 1 instance not distributed.   If you think the performance is not expected, then you can compare (if you want

[2017-03-23 21:25] kirk86 commented on #8536
@skye Hi, may I ask for a clarification. So I'm running the code inside a multiplexer session and I try to follow your example. When I run the code since it runs on multicore machine it creates pid's for each core. Which one should I choose according to you example?

When I gdb on one of the pid's then I only get information about reading symbols and loaded symbols is that the expected result?

[2017-03-23 21:34] ebrevdo commented on #8504
Fix should be in.

On Wed, Mar 22, 2017 at 9:44 AM, Eugene Brevdo <ebrevdo@gmail.com> wrote:

[2017-03-23 21:37] skye commented on #8567
Also @caisq could tfdbg help here?

[2017-03-23 21:40] bowang commented on #8569
@prb12 Just verified with chrome timeline where the GPU timing is correct under "/gpu:0/stream...".
@panyx0718  It would be very helpful to correct it in tfprof.

[2017-03-23 21:49] skye commented on #8602
I might be off here, but maybe you should look into using a cluster manager like Mesos, Kubernetes, etc. Even though you're only running on a single node, I think these should still help you schedule and run your separate models on different CPUs. Or I believe you can manually achieve something similar with multiple docker containers, but using a framework is probably easier.

[2017-03-23 21:57] suharshs commented on #8567
Does the InvalidArgumentError not have the name of the file that is invalid?

[2017-03-23 21:59] skye commented on #8536
Actually, looking at your log again, it's not clear to me that the problem is in the allocator. It just happens that the last LOG message was from there, but it could be hanging anywhere.

Could you provide the information asked for in the new issue template, like a repro script for the hang? Thanks.

[2017-03-23 22:55] skye commented on #8473
I was unable to reproduce this on 1.0. I didn't run in a test session:
[code]

I also ran with gcc instead of bazel.

I don't have any super compelling theories, but maybe try running in a regular session like above, using the g++ command given in the tutorial, and/or upgrading bazel?

[2017-03-23 23:15] cancan101 commented on #8473
I upgraded bazel and am still seeing the segfault:
[code]
What is best way to compile with GCC?

[2017-03-23 23:19] ajschumacher commented on #1749
I've tried to explain the basics of TFRecords in this post: [TFRecords for Humans](http://planspace.org/20170323-tfrecords_for_humans/). Maybe it's helpful for at least some aspects?

I'm thinking of continuing to write, specifically on working with images, and perhaps also on reading in-graph.

[2017-03-23 23:21] vi7us commented on #7464
@andrewharp, @bazinac, @OverratedGman  I tried suggested and here is what i got
First, when some of resolutions are hardcoded, thumbnails looks good and application does not crash :1st_place_medal:  from what i observed, more common res. like 320x240, 640x480, 1280x720, 1920x1080 work, less common like 480x320, 720x480 or 1088x1088 does not. So thanks for this suggestion! Unfortunately I'm not abl

[2017-03-23 23:29] dc-ai commented on #5688
I've also run into the same issue, where a P100 with 16GB RAM would get the same error, but I know that my data is not even big enough to take up the entire GPU RAM.

I'm using TF 0.12, CUDA 8.0, CuDNN 5.1.

[2017-03-24 00:04] andrewharp commented on #7464
Great, thanks for checking that out.

Maybe it would make sense to set preferred sizes of 640x480 for classification/detection and 1920x1080 for stylization, and have it fall back to the current logic only if they're not available.

Just to note, the only reason I have it pick the smallest sizes possible right now is to minimize CPU  spent converting yuv->RGB and then rescaling. The actual frame s

[2017-03-24 00:06] #8612 closed

[2017-03-24 00:08] drpngx commented on #1749
Thanks @ajschumacher, that's really neat!

[2017-03-24 00:10] drpngx commented on #8561
We use un-normalized logits everywhere, so I would go for changing the docs.

[2017-03-24 00:12] drpngx commented on #8642
OK, interesting, thanks for debugging! If @petewarden is OK with this, then it might a good idea to send out a PR.

[2017-03-24 00:18] Timeroot commented on #386
Is there a workaround for CPU-based ffts? Any kind, really (real2complex, complex2complex, whatever), I'd just like to be able to do prototyping when I'm without my GPU access. :)

[2017-03-24 00:27] drpngx commented on #8645
Not sure if you have my email, but you can just use pastebin if it's public.

[2017-03-24 01:05] andrewharp commented on #8550
@BrianOn99 Another idea from the other issue: can you try hardcoding the size to 1920x1080? It's a few more pixels to convert YUV->RGB than 1468x1200, but it may behave better because it's a more popular video size.

[2017-03-24 01:06] roytseng-tw commented on #8626
@SeguinBe  What's the version of tensorflow you use?
@skye  OK,  I will try this in nightly
Thanks for your responses.

[2017-03-24 01:26] shuuchen commented on #8654
OK. That is 0.12.1

[2017-03-24 01:42] liufsd commented on #2033
why not update to cudnn 5?
I mean all of us will install new version cudnn when first install  tensorflow

[2017-03-24 02:19] Jerrynet commented on #8277
Is there any way to convert a pre-traianed NCHW weight into NHWC and load it into the same graph?

[2017-03-24 02:20] BrianOn99 commented on #8550
Thanks. I will try it later today.

[2017-03-24 02:23] Yisongsong commented on #3628
I meet the same problem when deeling with BN in resnet, it seems that the function  ```inference_graph = extract_sub_graph(input_graph_def, output_node_names)``` in ```graph_util.convert_variables_to_constants()```cuts off the node of  moving_mean and moving_variance, I solve it in this way: save the model in train mode, then load the model in eval or test mode, run and  save again, freeze the las

[2017-03-24 02:25] ebrevdo commented on #8561
+1

On Mar 23, 2017 5:11 PM, "drpngx" <notifications@github.com> wrote:

[2017-03-24 02:26] BrianOn99 commented on #8550
Do you mean changing the previewSize in CameraConnectionFragment?

[2017-03-24 02:26] FightingZhen commented on #8649
I have already fix this in another way, thx anyway ~

[2017-03-24 02:44] andrewharp commented on #8550
Yes, exactly.

`previewSize = new Size(1920, 1080);` should work.

[2017-03-24 02:47] gunan commented on #8671
This is not a TensorFlow issue. It is merely a request for help with pip/python package management. Such questions are better suited for StackOverflow. Please use github for reaching out to TensorFlow development team about issues in TF itself.

Closing the issue.

[2017-03-24 02:47] #8671 closed

[2017-03-24 03:04] cancan101 commented on #8277
What do you mean? Weights are always stored the same way.

[2017-03-24 03:05] caisq commented on #8567
@derekhh @skye
Assuming the `sess.run([key, image])` does not run in a distributed setting, tfdbg (TensorFlow Debugger) should be able to help here. (tfdbg supports only `DirectSessions` right now; support for distributed session is in the works.)

Modifying @derekhh 's code example a little, we have:
[code]

Then, when you run your program, you will automatically drop to the tfdbg CLI. Keep enter

[2017-03-24 03:15] deuteron opened #8674 "wrong libjpeg version for 1.1.0-rc0 gcr docker image"
While running the Mandelbrot Set on the latest docker image on gcr.io, there is the following error:

IOError: encoder error -2 when writing image file

In the console: there is real error message:
Wrong JPEG library version: library is 90, caller expects 80

It shall be the latest image as of Mar 23.
16715e3f77e1
tagged: 1.1.0-rc0  latest

Full command is:
$ docker run -it -p 8888:8888 gcr.io/ten

[2017-03-24 03:35] rchipka commented on #5003
@sergiyprotsiv Were you able to solve the second issue related to TF_FinishOperation? I'm having the same problem.

[2017-03-24 03:52] mrry commented on #8654
It looks like you are using tutorials that require TensorFlow 1.0 or later. Either upgrading to the latest version of TensorFlow, or using a tutorial from the 0.12 branch should fix things.

[2017-03-24 03:52] #8654 closed

[2017-03-24 04:30] AndreaFar opened #8676 "Tensorflow causes whole python to crash with error Python frozen importlib._bootstrap"
If I try to run a computer vision script python crashes with no error message at all.
If I run with `python -m trace` python console goes in loop with a message repeated continuously that is unreadable because lines are printed endless too fastly. I can see some line related to `sre_compile.py` `text_format.py` `inspect.py` and `charmap codec can't encode \u2713` in `cp1252.py` and `from tensorflo

[2017-03-24 04:37] sergiyprotsiv commented on #5003
The issue was resolved by building TF with Bazel as the developers suggested - none of the issues were present and I did not investigate the static build after that

[2017-03-24 04:45] rchipka commented on #5003
Thanks! I really want to make the static builds work for my application so I think I'll investigate a bit more.

[2017-03-24 05:06] kevihong opened #8678 "wget issue with links in workspace.bzl"
Hello,

I'm trying to build from the most recent master branch as of today and am getting this error during the ./configure step:

```ERROR: Evaluation of query "deps(((//tensorflow/... - //tensorflow/contrib/nccl/...) - //tensorflow/examples/android/...))" failed: errors were encountered while computing transitive closure.```

```every rule of type _py_wrap_cc implicitly depends upon the target '

[2017-03-24 05:09] rryan commented on #386
@Timeroot as a workaround until we get CPU FFT kernels added you can compute a 1D Fourier transform on CPUs with a matrix multiply:
[code]

If you want the r2c, just slice the `fft_length / 2 + 1` unique components.

[code]

[2017-03-24 05:21] alanpurple opened #8680 "Any roadmap for supporting windows 10 GPU for Python 3.6.1?"
Any plan or expected date?

for windows 10 x64 + python 3.6.1 x64 + CUDA

[2017-03-24 05:27] kevihong commented on #8678
Resolved for some unknown reason...

[2017-03-24 05:27] #8678 closed

[2017-03-24 05:27] samfk6 commented on #7031
@tollytao
incept = array_ops.concat(3, [conv1, conv3, conv5, pool])
it need to change to
incept = array_ops.concat( [conv1, conv3, conv5, pool], 3)
or
incept = tf.concat( [conv1, conv3, conv5, pool], 3)

[2017-03-24 05:35] tollytao commented on #7031
@samfk6
I will try it later, thank you very much :)

[2017-03-24 05:50] tigerneil commented on #5591
Extract the cuDNN archive to a directory of your choice, referred to below as <installpath>.
Then follow the platform-specific instructions as follows.

LINUX

    cd <installpath>
    export LD_LIBRARY_PATH=`pwd`:$LD_LIBRARY_PATH

    Add <installpath> to your build and link process by adding -I<installpath> to your compile
    line and -L<installpath> -lcudnn to your link line.

It works for me.

[2017-03-24 05:52] Carmezim commented on #7019
@mrry
Sorry post here as is not really related but I had a quick question if you don't mind and didn't want to open an issue just for that.

When building with CMake if the `Test COMPILER_OPT_ARCH_NATIVE_SUPPORTED` fails it won't use any of the instructions available (`gcc march=native` shows them enabled, mavx, mfma, msse etc) ?
A non fresh clone or something like that could influence at all?
Tha

[2017-03-24 06:09] Bruczzz opened #8682 "Retrained inception v3 model from retrain.py takes 8-10 seconds to classify an image vs 1-2 seconds taken by sample TFClassify application"
Hi,

I am using tensorflow image classification in my project.

Initially i built and installed Camera Demo from GitHub link : https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android

Case 1: On running this example application (**TFClassify**) it is taking 1 or 2 seconds to do classification and shows result.

_**(On the other hand)**_

Case 2: If I use my retrained incep

[2017-03-24 06:47] IvyGongoogle commented on #916
@jalammar @girving I have the same error:
`tensorflow/stream_executor/cuda/cuda_driver.cc:334] current context was not created by the StreamExecutor cuda_driver API: 0x2862ff0; a CUDA runtime call was likely performed without using a StreamExecutor context`
it means that another program is accessing or using the GPU?

[2017-03-24 06:52] BrianOn99 commented on #8550
Nope. I applied the following:
[code]
And then got this log:

[2017-03-24 07:06] andrewharp commented on #8550
Ok, that's strange. It's logged as a valid size.

What about 1280x720? It'll have to upscale at the highest resolutions, but it should look ok.

[2017-03-24 07:48] carltonwang commented on #8231
Look at this code:
`result = tf.contrib.layers.bias_add(inputs=tf.matmul(a=left, b=right), activation_fn=tf.nn.softmax)`
If I use "softmax" as the activation function, there will be a memory leak, but if I change the activation function to "relu", the memory leak will disappear.

Platform: CentOS 7, x86_64
TensorFlow version: 1.0_gpu

[2017-03-24 07:49] rohitkumargupta1000 opened #8685 "Unable to restore inception v3 retrained model"
I'm retraining the inception v3 model on my image dataset. I use tf.Saver() to store the model at the time of best validation accuracy. But when I'm using the stored model to do the validation again, I don't get the same accuracy.

Please let me know if I'm missing anything specifically with inception v3 model. I want store the entire inception v3 graph along with newly added layers, so that I can

[2017-03-24 08:30] Dav-Jay commented on #7679
@tfboyd Great! Thanks for informing the progress. Looking forward to testing it in my training case.

[2017-03-24 09:07] BrianOn99 commented on #8550
Sorry, actually I mean new Size(1440, 1080)

[2017-03-24 09:11] BrianOn99 commented on #8550
Change to (1280x720) still crash.

[2017-03-24 09:13] mrgloom commented on #1013
+1

[2017-03-24 09:36] Timeroot commented on #4688
Are there any plans to add this op?

[2017-03-24 09:50] Amirtha1189 commented on #6787
Hi,

I am getting this error when i run TF1.0.1 on Windows with GPU support.
I installed CUDA version 8.0 and CuDNN version 5.1

F c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\stre
am_executor\cuda\cuda_driver.cc:94] Check failed: s.ok() could not find cuDevice
PrimaryCtxSetFlags in libcuda DSO; dlerror: cuDevicePrimaryCtxSetFlags not found

What should i do to fix thi

[2017-03-24 09:52] DjangoPeng opened #8687 "[HDFS]OutOfRangeError cause java runtime error"
### Environment info
TensorFlow: v1.0.0 and v1.0.1
JDK: 1.8.0_111
Hadoop: 2.6.0
GCC: 4.8.2

### OutOfRangeError
I think the `tf.errors.OutOfRangeError` is a bug, at least, if you want to read data(tfrecords, csv, etc) from hdfs with readers and queues.

### How to reproduce
I followed the guide of [reading data](https://www.tensorflow.org/programmers_guide/reading_data).
I used the recommended mni

[2017-03-24 10:49] wuguangbin1230 opened #8688 "could not synchronize on CUDA context: CUDA_ERROR_ILLEGAL_ADDRESS :: No stack trace available"
When I used the tesla K40c train a VGG16, there was a problem leading the kernel died, restarting. Can some one help me resolve it?
The retails are

- I tensorflow/stream_executor/dso_loader.cc:128] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.cc:128] successfully opened CUDA library libcudnn.so locally
I tensorflow/stream_executor/dso_loader.cc:128

[2017-03-24 11:09] Garvys commented on #8561
PR : #8690

[2017-03-24 11:11] Midnight93 opened #8691 "Problems to visualize Tensorboard"
Hi guys

I have problems to visualize tensorboard on my browser. ( Google chrome )

At the moment I did 3 python files.  ( 2 models and input_data )

Everything works fine, and I don't have any errors with the terminal ( Docker --> IPython ---> Terminal )

I already install pandas, urllib3, sklearn, etc etc

The terminal say me, you can sulf on Tensorboad at 0.0.0.0:6006 ( example )

I try to laun

[2017-03-24 11:16] wuguangbin1230 commented on #8688
- #!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Thu Mar 23 16:19:39 2017

@author: wgb
"""
import os
import sys
import numpy as np
import types
from scipy.misc import imread, imresize
import matplotlib.pyplot as plt

import tensorflow as tf
from tensorflow.python.framework import ops
#import build_txt
#import build_txt
#
#k = build_txt

file_name = os.getcwd()

training_file  = fil

[2017-03-24 11:16] #8688 closed

[2017-03-24 11:33] SonHoJae commented on #5949
Thanks alot

[2017-03-24 11:51] Steve7878 commented on #8633
Is there already any code example on which it's possible to build on?

[2017-03-24 11:54] jubjamie commented on #8587
@andrewharp Sorry for double posting but gradle cache doesn't seem to be the issue.
EDIT: Strangely, I had the problem again once. Then the next time it built correctly (android_debug.apk). I will try and reproduce this but I really have no idea why sometimes it builds and sometimes it doesn't. Will report back.

[2017-03-24 12:03] gaohuazuo commented on #8559
Maybe you can try https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/function.py. It allows you to construct a new op with existing ones, and define its gradient.

[code]

[2017-03-24 12:48] ansu1234 opened #8692 "CUDA 8.0 installation with Xcode 8"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-03-24 12:50] ansu1234 opened #8693 "CUDA 8.0 with Xcode 8.0"
I am not able to install CUDA 8.0 with Xcode 8.0 version. Everywhere i found the solution to downgrade the version of Xcode. Is there any other solution without downgrading the version of Xcode.

[2017-03-24 12:57] #6906 closed

[2017-03-24 13:52] Miroboru commented on #8693
Xcode 8.2.1 (8C1002) works with CUDA ToolKit V8.0.61, at least for me.

[2017-03-24 14:03] #8364 closed

[2017-03-24 14:03] #8507 closed

[2017-03-24 14:09] tfboyd commented on #7679
I have a question that makes this more of a forum than a GitHub issue but if all of you play along who is going to stop us.  :-)

**Question:**  Image-classification models are interesting and people like to benchmark them.  Where would you like to see the performance team focus after these common models?  Sure many of the techniques will apply to all types of models but I suspect not all.  Though

[2017-03-24 14:20] caisq commented on #8674
Hmm, I tried the MandelBrot Set example in tensorflow/tensorflow:1.1.0-rc0  and tensorflow/tensorflow:1.1.0-rc0-py3. It seems to work fine in both docker images.

[2017-03-24 14:37] AIROBOTAI commented on #7679
Hi @tfboyd, I'm not sure I have completely understand your question. But for me, I would like to know the computation time in forward, backward, forward&backward, under different distributed training settings of workers/ps.

[2017-03-24 15:03] caisq commented on #7615
TensorFlow 1.1.0rc0 has just come out. tfdbg should be working on Windows 7 and up now. Please give it a try.

Note: the default CLI of tfdbg on Linux and Mac uses curses. But there is no official curses support on Windows. So tfdbg CLI uses the less interactive readline on Windows, which does not have the mouse interaction and history navigation available on Linux and Mac.

[2017-03-24 15:14] jbalma commented on #8552
So just to be clear, I was able to modify /tensorflow/contrib/slim/python/slim/learning.py and remove this:

if isinstance(sync_optimizer,
                    sync_replicas_optimizer.SyncReplicasOptimizer):
        cleanup_op = sync_optimizer.get_clean_up_op()

Is the suggestion going forward to replace the SyncReplicasOptimizer() with SyncReplicasOptimizerV2 in models/slim/train_image_classifier.

[2017-03-24 15:54] skye commented on #8473
Cool, thanks for narrowing that down! I'll work on reproing the bad bazel artifact, and I'm glad you found a workaround for now.

[2017-03-24 16:16] andrewharp commented on #8550
Ok, so 1920x1080 produces the inference error, while 1440x1080 complains about invalid size? That makes more sense.

Three possible options here when legacy mode is detected:

1. Only use the luminance plane to create the image. It would be something like:
[code]

Then bitmapBuffer would be used to initialize the RGB bitmap before it gets resized.

2. Use the android.hardware.Camera API rather tha

[2017-03-24 16:22] aselle commented on #8566
@zheng-xq, have you seen anything like this?

[2017-03-24 16:22] mrry commented on #8692
Closing as duplicate of #8693.

[2017-03-24 16:22] #8692 closed

[2017-03-24 16:31] skye commented on #8661
@purpledog

[2017-03-24 16:38] aselle commented on #8589
@tatatodd, do you want to investigate this to find corner cases in XLA? Otherwise, we do not support tf.contrib models as @Franck-Dernoncourt points out.

[2017-03-24 16:44] aselle commented on #8528
To me it looks like with lr==1 you get exactly the paper. @eranamar, could you submit a pull request to that effect, please?

[2017-03-24 16:45] asimshankar commented on #6926
Starting with release 1.1, this will be done. I'll close this issue out when I update the documentation (Java README). But in the mean time, note that you can use the release candidate version by adding:

[code]

to your project's `pom.xml`.

[2017-03-24 16:48] skye commented on #8669
A MWE would be useful. I think even a not-so-minimal example would be sufficient; it shouldn't be too hard to track down where/how this is happening even in a large graph. This does look like a bug to me (although there might be some weird usage case I'm missing... either way the example would help).

[2017-03-24 16:48] tatatodd commented on #8589
Thanks for the pointer @aselle, and thanks for the clear bug report @hugman!

Indeed we can't dedicate much time to supporting tf.contrib code, especially not with XLA at the moment.

However I **am** interested in looking into this issue, since it may uncover weird bugs.  @hugman, can you provide a log of the same code **with XLA disabled**, to let me know what normal convergence looks like for y

[2017-03-24 16:48] aselle commented on #8630
As far as I can tell, it seems like you just have a badly conditioned problem. It is entirely possible in TensorFlow (or any other numerical system) to construct problems with poor numerical conditioning. It is a generally difficult and unsolved problem to handle arbitrarily ill-conditioned problems with floating point numbers. Given that your problem is your custom model, there may be a better wa

[2017-03-24 16:48] #8630 closed

[2017-03-24 16:50] yongqiangzhang1 commented on #6826
I don't know, and I can not get the correct results as the tutorial. I don't know why.

[2017-03-24 16:53] aselle commented on #8645
@lufengguang, we cannot generally give help over private channels. You should make a reproducible example that can be posted publicly, please. That way other people than @drpngx, can help.

[2017-03-24 16:53] aselle commented on #8655
@jart, do you have any ideas on this?

[2017-03-24 16:57] aselle commented on #8484
@zheng-xq, is this intended behavior? Is there any way to make this more friendly?

[2017-03-24 16:58] aselle commented on #8559
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-24 16:58] #8559 closed

[2017-03-24 16:59] aselle commented on #8660
@dandelionmane, is it expected that summaries cannot be created in while loops?

[2017-03-24 17:01] aselle commented on #8657
This is as expected. Since they are different devices with different implementations, they are going to be slightly different. Any robust machine learning applications needs to be robust enough to handle this. If not, there is no hope that perturbations of training data will work at all.

[2017-03-24 17:01] #8657 closed

[2017-03-24 17:03] ringw commented on #781
@cancan101 I've added `angles_to_projective_transforms` and `compose_transforms` functions, let me know if that covers what you're thinking of!

[2017-03-24 17:04] aselle commented on #7908
You can post your code, @AnlanSun, but you will have the largest chance of someone finding your problem if you reduce the size of your code to the smallest piece of code that can reproduce the problem. That exercise of reduction also stands a great chance of allowing you to re-check your code for errors. Please do that first and post your code.

[2017-03-24 17:05] aselle commented on #7908
Also, This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-24 17:16] eranamar commented on #8528
Can you please explain what should I do? (I am new to this...)

[2017-03-24 17:22] derekhh opened #8696 "TensorFlow hangs during training while using with tf.device('/device:CPU:0'):"
### Description

I'm trying to fine-tune an Inception-V1 model and my latest implementation is based on [train_image_classifier.py](https://github.com/tensorflow/models/blob/master/slim/train_image_classifier.py). I've noticed that sometimes TF hangs (might be similar to Issue [#2788](https://github.com/tensorflow/tensorflow/issues/2788)) and I'm trying to figure out why.

The following snippet is

[2017-03-24 17:26] derekhh commented on #8696
Oh, it seems I forgot to provide more information about my current TF build and hardware config.

TF: built from commit [c7b80d51da4fb6d51ea54a0bdf2601afa379d60c](c7b80d51da4fb6d51ea54a0bdf2601afa379d60c) with CUDA support but it still repros if I use the normal pip version.

GPU:
[code]

CPU:
[code]

[2017-03-24 17:28] cancan101 commented on #781
Yes, exactly! Does it make sense to open a new ticket to track the feature request to addba resize method and output size parameter, or keep using this thread?

[2017-03-24 17:32] sam-trt commented on #8587
I have had the same issue and this seems to help fix it.

        tasks.whenTaskAdded { task ->
            if (task.name == 'assembleDebug') {
                task.dependsOn 'extractModels'
            }
            if (task.name == 'assembleRelease') {
                task.dependsOn 'extractModels'
            }
        }

[2017-03-24 17:35] malmaud opened #8697 "Lower libc version on tensorflow:1.1.0-rc0-devel"
Building libtensorflow.so with the Docker 1.10-devel-rc0 image results in a binary that requires glibc 2.23. Since that is aggressive for many current machines, might it make sense to reduce the dependency to eg 2.17?

[2017-03-24 17:39] malmaud commented on #8697
Ah, I see https://github.com/tensorflow/tensorflow/issues/53 so seems like this is probably a 'won't fix'.

[2017-03-24 17:41] zheng-xq commented on #8484
@ebrevdo, who adds the fused implementation of that kernel

[2017-03-24 17:43] ringw commented on #781
Probably better to keep image rotation and transformation in this ticket. There are already tf.image.resize_* methods that will probably stay unchanged. We might want to keep the existing ops for all of those, but we can also have a helper to create a transform for resizing.

[2017-03-24 18:05] carltonwang commented on #6599
Look at this code:
`result = tf.contrib.layers.bias_add(inputs=tf.matmul(a=left, b=right), activation_fn=tf.nn.softmax)`
If I use "softmax" as the activation function, there will be a memory leak, but if I change the activation function to "relu" or "softplus" or "sigmoid", the memory leak will disappear.
By the way, this "softmax" is not the one used at the last layer for classification.

Platfor

[2017-03-24 18:07] derekhh commented on #8696
And BTW, I've just removed the `tf.device('/device:CPU:0')` line and at least I'm now into 9K steps:

[code]

Here is the `/batch/fraction_of_320_full` information for this run:

<img width="1481" alt="image" src="https://cloud.githubusercontent.com/assets/1497445/24307582/ff2d512a-1081-11e7-9c6a-2a5593505fef.png">

[2017-03-24 18:28] drpngx commented on #8656
That's not good. I might take a look later.

@rmlarsen FYI

@gunan

[2017-03-24 18:30] cancan101 commented on #781
Sorry, to be clear, I was referring to your comment above :

[2017-03-24 18:39] Androbin opened #8698 "Graph Transforms | quantize_nodes | Android TensorFlow Inference | native error"
I am using the Graph Transforms Tool (built with Bazel) to prepare my graph for Android TensorFlow Inference.

When using `--transforms='quantize_weights'` everything works just fine.
But with `--transforms='quantize_weights quantize_nodes'` I get this:

[code]

I don't have any clue on what has happened.
I wasn't able to find anything related online.

[2017-03-24 19:04] rgautam98 commented on #8691
The problem is with the IP address.

The thing is, 0.0.0.0 is used to bind to the localcomputer.

With docker running, 0.0.0.0 is no more linked to the container, until you forward the port.

So you have 2 solutions here.

Firstly, change the ip address(0.0.0.0) to the ip address of the docker container, which is usually 172.17.0.x, where 0.x usually varies. Check for the ip address using the comm

[2017-03-24 19:06] drpngx commented on #8691
That should do it. Thanks @rgautam98 !

You can also use `--net=host` to use the host networking on docker.

[2017-03-24 19:06] #8691 closed

[2017-03-24 19:06] drpngx commented on #8697
@craigcitro @gunan

[2017-03-24 19:13] kirk86 commented on #8536
@skye hello, so I've created a gist with an example https://gist.github.com/kirk86/99211bd0ea3489915738701285c58c30. The example works fine on cpu but on a gpu with 12GB ram it gives me error exhausted message even when I reduce the batch_size to 1.

Here's the output message that I get:

[code]

[2017-03-24 19:18] dennybritz opened #8701 "InvalidArgumentError using tf.learn and eval"
See https://github.com/google/seq2seq/issues/103 for details and user logs.

TLDR; I'm using tf.learn and for some people the evaluation fails with shape errors. This seems to be some kind of GPU memory sharing issue, as subsequent runs seem to consistently increase the shape size:

[code]

Evaluation works independently when there is no training in progress. It also doesn't happen when using the

[2017-03-24 19:21] Arsakes commented on #7974
@happygds  Did you found solution I have similar problem?

[2017-03-24 19:26] craigcitro commented on #8697
I'm out of the loop, @gunan or @martinwicke seems more likely to have a good answer here.

[2017-03-24 19:26] RaviTezu commented on #7778
Thanks @Carmezim
Setting the env. variable `TF_CPP_MIN_LOG_LEVEL=3` via the os package inside the code worked :+1:

[2017-03-24 19:41] gunan commented on #8697
@jhseu @caisq FYI

The requirement is due to docker images being based off of ubuntu 16.04, which has a higher glibc version. Our prebuilt binaries are built on ubuntu 14.04, which does not have this requirement.

[2017-03-24 19:42] aselle commented on #8687
@jhseu, could you take a look?

[2017-03-24 19:43] Arsakes commented on #3598
In TFv1.0 it tf.gather_nd seems to wrok randomly. Checkout [here](http://stackoverflow.com/questions/43007410/tensorflow-unexpected-tf-gather-nd-behaviour-bug)

[2017-03-24 19:44] caisq commented on #8697
@malmaud, you want to build a custom version of libtensorflow, right?
Our release libtensorflow is still built with 14.04, e.g., http://ci.tensorflow.org/view/Release/job/release-libtensorflow/20/TYPE=cpu-slave/

[2017-03-24 19:45] martinwicke commented on #8697
@yifeif FYI

You can edit the dockerfile to be `FROM ubuntu14.10`, which should fix this issue. We upgraded to ubuntu16 since 14 is getting seriously old.

[2017-03-24 19:45] martinwicke commented on #8697
Also, we should probably remove Craig from the MAINTAINER line.

[2017-03-24 19:59] malmaud commented on #8697
Sure, for my own purposes I can just edit the FROM line and rebuild.

I think an argument could potentially be made that if the purpose of the developer images is primarily to enable building TensorFlow, it would make sense to try to configure those images in a way that the resulting images are compatible with as wide a collection of systems as possible, which isn't true if the resultant binaries

[2017-03-24 20:13] jhseu commented on #8697
There are bugs when running on Ubuntu 14.04, so we'd prefer to keep any images where users might run TensorFlow on more recent versions of Ubuntu.

[2017-03-24 20:13] #8697 closed

[2017-03-24 20:22] jhseu commented on #8687
Can you run gdb and get a stack trace? I'm not sure how the error message relates to `OutOfRangeError`, but it definitely shouldn't be segfaulting. Perhaps some of the error log is missing?

Note that `OutOfRangeError` is the standard error code for indicating EOF, and a lot of the internal TF calls catch that error underneath.

[2017-03-24 20:24] gunan commented on #8693
As far as I can tell, you are having problems installing CUDA.
You will need to reach out to NVIDIA, use stackoverflow, or browse nvidia forums for this question.
Please only use our github repositories issues for bugs in TensorFlow itself.

[2017-03-24 20:24] #8693 closed

[2017-03-24 20:27] gunan commented on #8674
@deuteron Could you provide a full bash script to reproduce the problem.

[2017-03-24 20:46] malmaud commented on #8669
I don't have an end-to-end working C example yet since I'm working with a binding instead of the C API directly,
but

1) if you populate a graph with the content of the serialized metagraph https://storage.googleapis.com/malmaud-stuff/graph.pb and then
2) use `TF_GraphImportGraphDefWithReturnOutputs` on the graph from the metagraph https://storage.googleapis.com/malmaud-stuff/graph_import.pb , rem

[2017-03-24 20:54] vi7us commented on #7464
Yes you're right, even when using higher resolutions, application is still smooth so we will probably just filter resolutions to ones that work and use non-supported only in case of none of supported resolutions are available. I do not expect that fall back will happen on many devices.

Btw i do not think that issue is caused by small resolution as 320*240 works as well, maybe it could be ratio of

[2017-03-24 20:59] andrewharp commented on #7464
Possibly, who knows what black magic is going on inside the camera drivers :p

I've fixed this internally; should show up in the next internal->external push.

[2017-03-24 21:26] skye commented on #8669
Can you provide a script in whatever language binding you're working with? How are you loading the metagraph in the non-Python case?

[2017-03-24 21:35] skye commented on #8481
Just an update, I have a fix for this, but am still working on getting it in.

[2017-03-24 22:02] panyx0718 commented on #8569
A fix has been submitted, will be released.

[2017-03-24 22:21] liuyipei opened #8702 "[bug] bazel cudnn-version-check is broken on python 2.7 / ubuntu 14.04"
When I ./configure on /r1.1 or /r1.0, I get the following error:

[code]
For what it is worth, I counted the space in cudnn.h, and they match the number of spaces in that error message above. Not sure if related.
[code]

[code]

### Environment info
Operating System: Ubuntu 14.04 LTS

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
[code]

If i

[2017-03-24 22:42] sahildua2305 commented on #8658
@skye I'd like to work on this. Is this a beginner-friendly feature?

[2017-03-24 22:45] #8680 closed

[2017-03-24 23:23] liuyipei commented on #8702
Then there is this, but it seems that the error happens elsewhere.

https://github.com/tensorflow/tensorflow/blob/ede5ebe54f0689a53eeaf0fb1c9a25f136ab3a69/third_party/gpus/cuda_configure.bzl#L280

[2017-03-24 23:30] skye commented on #8658
Hi @sahildua2305 . I haven't worked on the Saver code myself, but looking through it this seems like a reasonable project for someone new to TensorFlow (assuming you have prior Python experience already). I think this will be a small-to-medium-sized change, and that the tricky part will be refactoring the existing code to allow both kinds of deletion modes (don't forget to maintain backwards API c

[2017-03-24 23:31] ybsave opened #8703 "Debug tool not fully installed in Windows version"
First of All: WINDOWS environment!

I have installed the tensorflow 1.0 (Python 3.5, Cuda 8.0, Cudnn 5) in Windows using the official command pip3 install --upgrade tensorflow-gpu. Although there are some minor bugs, I have fixed them by myself, and the tensorflow mostly works OK. However, when using the tensorflow debug tool, I find it failed.

The reason is that the python files in folder tensor

[2017-03-24 23:34] sahildua2305 commented on #8658
@skye I see! I do have good Python as well as OSC experience.

If you think there's another better issue for a beginner (to Tensorflow), please tag me there.

[2017-03-24 23:40] caisq commented on #8703
@ybsave TensorFlow Debugger (tfdbg) is known to have issues in version 1.0.x on Windows. See issue https://github.com/tensorflow/tensorflow/issues/7615. Can you try the latest release candidate, namely 1.1.0rc0?

Also beware that the debug_pb2.py file is not an essential feature of tfdbg. It is related to something still under development.

[2017-03-24 23:40] #8703 closed

[2017-03-24 23:48] derekhh opened #8704 "TensorFlow drops the first batch?"
### Description

I'm trying to understand how TF generates batches from `TFRecord` file format, how to implement the basic idea of evaluate the whole validation dataset after a full epoch so I've done a small experiment.

Basically I've added an `image/id` key in the `TFRecord` file that looks like this:
[code]

The values of these ids are just numbers increasing from 0 to `num_samples - 1`. Then

[2017-03-24 23:48] ybsave commented on #8703
The new version 1.1.0rc0 works well. The problem disappears. Thank you so much for your quick help!

[2017-03-24 23:49] skye commented on #8670
Could you try this experiment with doubles instead of floats? I wonder if the extra precision will fix the stability issues. I'm not sure if this behavior is expected, maybe @jshlens can comment further.

[2017-03-24 23:53] skye commented on #8667
It does look like the reshaped output tensor should have "name", rather than its input. Feel free to submit a PR, thanks!

[2017-03-24 23:58] skye commented on #8676
Could you try running the same script in an Ubuntu VM and see if you experience the same problem? I wonder if this is a Windows-specific issue, given that it looks like TensorBox works for most users.

[2017-03-25 00:00] skye commented on #8666
@fchollet could you look into updating the documentation? Feel free to redirect as necessary.

[2017-03-25 00:08] derekhh commented on #8704
More logging output. You can see that there is a dropped batch before global step 1, after global step 10 and after global step 23.

[code]

[2017-03-25 00:21] analog-cbarber commented on #7585
Shouldn't the automatically gradient scatter_nd code have the correct shape if the forward mode gather_nd is correct? I have code that works fine in forward mode but produces this error when I try to run training. I just built the master branch on my machine (commit c44601f5411408c324c81dd38bc8686cbd2568aa), but it doesn't make any difference.

[2017-03-25 00:35] skye commented on #8536
This seems like a different problem than the hang you originally posted, no? Perhaps there's some other application using the GPU's memory, the `nvidia_smi` command will tell you which processes are using how much memory. I can try to repro once I have access to a beefy GPU.

[2017-03-25 01:09] kirk86 commented on #8536
@skye thanks a lot. Yes you're right this was a bit different in terms of environment. I'll also try to provide more info about the first original problem. Didn't had the time or the resources available. I'll try it over the weekend.

[2017-03-25 01:14] zzw922cn opened #8705 "Which is TensorFlow's best seq2seq? r1.0 or r1.1? Both are much different!!"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-03-25 01:32] ebrevdo commented on #7585
Looks like a bug.

On Mar 24, 2017 5:22 PM, "Christopher Barber" <notifications@github.com>
wrote:

[2017-03-25 01:33] ebrevdo commented on #7585
What are the shapes of your Tensors?

On Mar 24, 2017 6:32 PM, "Eugene Brevdo" <ebrevdo@gmail.com> wrote:

[2017-03-25 01:35] jorgemf commented on #8670
@skye, I will test it but there will be still some error. What bothers me is that I would expect same error regardless the batch size.

I have tested more and I am seeing the first errors in `slim.conv2d(branch_2, 32, [3, 3], scope='Conv2d_0b_3x3')`. In most executions the initial error is there but sometimes there is no error there. I am testing always with the same mode loading the same checkpoi

[2017-03-25 02:00] ebrevdo commented on #8484
I'm afraid it's not possible to efficiently send back error messages on
invalid inputs with GPU.  Other ops behave similarly, returning Nan when an
error condition occurs on GPU.

On Mar 24, 2017 10:42 AM, "zheng-xq" <notifications@github.com> wrote:

[2017-03-25 02:07] DjangoPeng commented on #8687
Actually, I changed the `while loop` into `for steps in xrange(max_train_steps)`. And I can get the error info by one of the cases.
**Case 1**: Dequeue all examples until the example queue becomes empty. In this case, it cause the `tf.errors.OutOfRangeError` and print the training log as below:
[code]
**Case 2**: Finish the `for loop`, that is, reach the max_train_steps even though the example que

[2017-03-25 02:26] derekhh commented on #8704
Well...I've found that I've added `validation_loss` to the list of summary tensors and this gets called every `save_summaries_secs` seconds. Setting `summary_op` as `None` in `slim.learning.train` fixes the problem.

I'm sorry for this false alarm.

[2017-03-25 02:26] #8704 closed

[2017-03-25 02:37] Arsakes commented on #7585
Same problem here with different shapes, for examples `tf.gather_nd` work for:
- params.shape = [24, 1296, 1]
- indicies.shape = [24, 20, 2]

and does NOT for:
- params.shape = [24, 1296, 21]
- indicies.shape = [24, 20, 2]

Getting same incorret message.

[2017-03-25 02:41] Arsakes commented on #8446
It is a bug report - now I'm sure - also it is the same as  #7585.

[2017-03-25 02:46] asross commented on #8399
They actually rejected the PR because:

So I think this will continue to be an issue with no resolution except manually downloading the MNIST files and placing them in the right directory. You should be able to download them from https://web.archive.org/web/20160828233817/http://yann.lecun.com/exdb/mnist/.

[2017-03-25 02:54] kanitw opened #8706 "Broken links in TensorBoard README"
In https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tensorboard/README.md,
links for both "TensorBoard: Visualizing Learning" and "TensorBoard: Graph Visualization" lead to "page not found".

[2017-03-25 03:59] chsahit commented on #8706
Just submitted a PR ( #8707 )

[2017-03-25 04:55] vrv commented on #8656
I think this is not a bug:  Consider what the data flow graph looks like, and the fact that fetching [train_op, a] says nothing about which value of 'a' should be fetched: the one before train_op complete or after it completes; because there is no contract, there is no inconsistency.  Due to the timing of the execution of the graphs, my guess is you're likely to get one answer more than another in

[2017-03-25 05:42] gunan commented on #8702
Your diagnosis looks correct to me.
Would you like to create a pull request?
You will also be able to verify your solution works for you locally.

[2017-03-25 06:13] kevihong opened #8708 "Permissions error when building with bazel"
### Environment info
Operating System:
MacOS Sierra 10.12.3
CUDA Version 8.0.62
CUDNN version 5.1.10
Bazel Version: Build label: 0.4.5

git HEAD is c7b80d51da4fb6d51ea54a0bdf2601afa379d60c

**Seems to be a permissions issue of some sort where it can't execute?**

Not sure what permissions to change so just tried to rebuild with bazel clean but I don't think that's the issue. Looked up a bunch of s

[2017-03-25 06:23] afhuertass commented on #8043
Hi !

i'm having the same issue. but changing the shape of the label tensor didn't work . i define my metrics as:
[code]
and pass it to the eval_metrics argument, creating a Experiment object. but i i run it i get the same error,
**ValueError: weights can not be broadcast to values. values.rank=0. weights.rank=2**

i'm using a batch size of 2 ( for debuging ) . But i find it really weird because i

[2017-03-25 06:35] zffchen78 commented on #8196
I suspect it's python difference. You can debug this:

def multiply_by_2(value):
    ret = value * 2
    print('ret.dtype = ', ret.dtype)
    return ret

Run your program on two platforms and see whether they produce the same.

To mitigate the platform difference, I expect you can simply do
def multiply_by_2(value):
  return (value * 2).astype(np.int32)

[2017-03-25 06:36] #8196 closed

[2017-03-25 06:56] hsinghal-wisc commented on #1013
any solution for MAC users ?

[2017-03-25 07:06] Anida-qin opened #8709 "gcc: error: unrecognized command line option '-fno-canonical-system-headers'"
when I run :
`bazel build --config=opt --config=cuda --verbose_failures //tensorflow/tools/pip_package:build_pip_package`

INFO: Found 1 target...
ERROR: /home/qs/.cache/bazel/_bazel_qs/081cd1dbca77dcff65c775e7e860e873/external/farmhash_archive/BUILD.bazel:12:1: C++ compilation of rule '@farmhash_archive//:farmhash' failed: crosstool_wrapper_driver_is_not_gcc failed: error executing command
  (cd

[2017-03-25 07:50] Anida-qin commented on #8709
I use ubuntu14.04
         cuda7.5
         cudnn5.1
         gcc4.7.3
         bazel0.4.5
         tensorflow r1.0

[2017-03-25 07:53] Anida-qin commented on #3618
I come with the same problem. Have you solved already?

[2017-03-25 08:52] wilsli commented on #8037
@jadeydi  Instead of compiling from source, "pip" just install the binary as well, so that you'll still got these warnings.

[2017-03-25 10:56] Timeroot opened #8710 "Random crashing in c2c fft"
I'm having issues with the c2c fft. I would think this was more an issue with my code except that it seems to be non-deterministic. As a result I'm having a hard time getting a minimal example. I'm working on a recurrent neural net, in which the recurrent cell involves an fft (and an ifft), and the crash seems to occur more often as I increase the depth (number of recurrent cells chained together)

[2017-03-25 11:26] happygds commented on #7974
@Arsakes I use tf.reshape and tf.gather instead.

[2017-03-25 12:21] sidjee commented on #8521
I have been working on this issue and have written the c++ code for op.
I encountered the following error which i was unable to resolve.

1) Upon accessing the 'i'th element of object of tensor class,using
"object(i)"
following error was shown:-
**error: 'object' cannot be used as a function.**

2)Another one
[code]

Please help.

[2017-03-25 12:28] Androbin opened #8712 "major memory allocation/copying overhead in Android Inference Library"
There seems to be a major overhead in [`TensorFlowInferenceInterface.feed(...)`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/android/java/org/tensorflow/contrib/android/TensorFlowInferenceInterface.java#L257)
When running the feed-run-fetch cycle, I noticed that feeding took an unreasonable amount of time.

So I looked at the source code. I realized that I could pass a

[2017-03-25 12:31] gaohuazuo opened #8713 "Configure should work offline"
Currently, `configure` set some environment variables and invoke `bazel fetch`. When the fetch fails, due to network issue for example, the environment variables are also lost. I tried to `source ./configure`, but the shell died instantly. The only way I found to workaround this is to replace `bazel fetch` with `bash` in `configure`, then manually run `bazel fetch` a few times until it succeed. IM

[2017-03-25 13:03] Arsakes commented on #7974
@happygds Could you elaborate? Possibly on stackoverflow.

[2017-03-25 14:17] kaltu commented on #4944
I tried
`bazel build --config=opt --config=cuda8.0 //tensorflow/tools/pip_package:build_pip_package`
and it says

So apparently it just ignore the cuda8.0 option as if it was not there and therefore is equivalent to
`bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package`
the command to build CPU only version.

[2017-03-25 15:17] gaohuazuo commented on #8624
I have tried enabling XLA with both session config and jit_scope. With the session config approach, nothing changed. With jit_scope, all nodes became shaded, but even when `a` was fed, so it is more likely an incompatibility between XLA and tracing than an indication that constant folding is working.

Global constant folding has its own problem, in that a full graph can only be run using a session

[2017-03-25 15:22] drpngx commented on #8624
Right. When xla is enabled, all that is jit'ed shows as a single node. So
it may or may not be folded inside.

On Mar 25, 2017 8:19 AM, "Huazuo Gao" <notifications@github.com> wrote:

[2017-03-25 16:08] snnn opened #8715 "RecordReader reads disk without buffer"
tensorflow::io::RecordReader calls RandomAccessFile::Read() directly, without go through IoBuffer.
And RandomAccessFile::Read() will call pread(2) or ReadFile OS API.
If there is an IoBuffer between them, it could reduce a lot of syscalls.

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

None

### Environment info
Operating System:
Win

[2017-03-25 16:39] drpngx commented on #8656
@vrv is right, the code is not the same! You need to have the same `tf.control_dependencies`. Closing. Feel free to reopen if the error persists.

[2017-03-25 16:39] #8656 closed

[2017-03-25 16:57] rohitkumargupta1000 commented on #8685
with gfile.FastGFile(FLAGS.output_graph, 'wb') as f:
    f.write(output_graph_def.SerializeToString())

I' getting  following exception while saving the protobuf file :

raise_exception_on_not_ok_status
tensorflow.python.framework.errors_impl.FailedPreconditionError: ./output_graph.pb

[2017-03-25 17:31] yongxuUSTC opened #8717 "*** Error in `python': double free or corruption (!prev): 0x000000000167c080 ***"
I run : python train.py --train_data_pattern='/vol/vssp/msos/yx/audioset/audioset_v1_embeddings/unbal_train/*.tfrecord' --frame_features=True --model=DbofModel --feature_names="audio_embedding" --feature_sizes="128" --train_dir=tmp_model/frame_level_DbofModel_unbal

I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcublas.so.8.0 locally
I tensorflow/stream_executo

[2017-03-25 18:04] kanitw opened #8718 "Incorrect reference for tf.learn in Linear Model tutorials"
This [page](https://www.tensorflow.org/tutorials/linear) and [this](https://www.tensorflow.org/tutorials/wide) mentions `tf.learn` multiple times.
However, looking at the links and source code, I believe that `tf.learn` should actually be either `tf.contrib` or `tf.contrib.learn`, not `tf.learn`.

(I guess `tf.learn` was the old name, but got renamed but the tutorial is still outdated?)

[2017-03-25 18:07] kanitw commented on #8718
- [ ]  Also in the same page, the link to "linear models tutorial code" actually links to wide & deep learning tutorial.

[2017-03-25 18:43] bhavsarpratik commented on #6136
Hi, I have laid down step-by-step instructions to successfully install Tensorflow on Windows.

https://github.com/bhavsarpratik/install_Tensorflow_GPU_windows

[2017-03-25 18:44] bhavsarpratik commented on #4912
Hi, I have laid down step-by-step instructions to successfully install Tensorflow on Windows.

https://github.com/bhavsarpratik/install_Tensorflow_GPU_windows

[2017-03-25 18:45] bhavsarpratik commented on #1013
Hi, I have laid down step-by-step instructions to successfully install Tensorflow on Windows.

https://github.com/bhavsarpratik/install_Tensorflow_GPU_windows

[2017-03-25 18:47] bhavsarpratik commented on #6055
Hi, I have laid down step-by-step instructions to successfully install Tensorflow GPU on Windows.

https://github.com/bhavsarpratik/install_Tensorflow_GPU_windows

[2017-03-25 20:10] #8706 closed

[2017-03-25 20:34] cshallue commented on #7973
Closing this for now, because it seems to be fixed by upgrading to TF1.0. Please reopen if you continue to have issues.

[2017-03-25 20:34] #7973 closed

[2017-03-25 21:01] ringw commented on #781
Sure! Yeah I think it still makes sense to track those in this issue. I'll
probably look into interpolation next week.

On Mar 24, 2017 2:32 PM, "Alex Rothberg" <notifications@github.com> wrote:

[2017-03-25 21:12] isabeaups commented on #675
Just trying to understand something. I was trying to make a hack of `tf.gradient` that would give, for a `y` of rank (M,N) and an `x` of rank (Q,P) a gradient tensor of rank (M,N,Q,P) as one would naturally expect. However, as mentioned already here, what one gets is a rank (Q,P) which is the grad of the sum of the elements of `y`.  Now what I can't figure out, looking into the tensorflow code is

[2017-03-25 21:29] Carmezim commented on #6055
@bhavsarpratik That is nice you have a guide but I noticed you're are spamming issues with this and that is not cool. The official TensorFlow installation guide is complete and thorough also.

[2017-03-25 22:09] yaroslavvb commented on #675
Note that "summing ys together" is sort of buried deep in backprop. Note that TensorFlow uses Reverse Mode AD in order to compute gradients, and reverse mode AD only supports a scalar output function. If you have non-scalar output, we don't have any algorithm much better than calling reverse mode AD on each of the components of the output separate.

(there's a trick mentioned by ian [here](https:/

[2017-03-25 22:12] analog-cbarber commented on #7585
I don't think you saw that I edited my comment. The bug is NOT present on the current master branch, so it must have been fixed.

[2017-03-25 22:13] gmrhub commented on #5688
Mostly its not related to VRAM (I am using latest TF with keras)
In first layer for a VGG like architecture
`Convoulution3D(NumChannels, 3,3,3,)(inputs)`

if I set **NumChannels < 8**, it crashes with the above message.
This somehow contradicting with [waTeim ](https://github.com/tensorflow/tensorflow/issues/2190)

[2017-03-25 22:33] ebrevdo commented on #7585
Piotr, does the bug exist on master/the nightlies?

On Mar 25, 2017 3:12 PM, "Christopher Barber" <notifications@github.com>
wrote:

[2017-03-25 22:36] gunan commented on #6533
Please use our website for instructions to get the latest version.
These instructions you pasted are months old now.

[2017-03-25 22:46] gunan commented on #8717
Please fill in the full issue template.
Also include a minimal example to reproduce a problem.

Without knowing what you are running, we cannot really help you.

[2017-03-25 22:49] gunan commented on #8713
As a workaround, you can simply comment out all calls to `bazel_clean_and_fetch` in configure script to achieve what you need.

@damienmg Do we still need to run bazel fetch separtely during configure with bazel 0.4.5?
Can bazel fetch be run automatically when we are running bazel build?

[2017-03-25 23:00] gunan commented on #8708
Our CI does not exhibit this problem. So I think this issue is specific to your machine setup.
Could you paste the full error message?
Bazel usually also returns the output of the failed command. I cannot see the permission error you are referring to from your paste.

[2017-03-25 23:01] cooledge opened #8720 "split not working correctly"
[code]

NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or ins

[2017-03-25 23:05] isabeaups commented on #675
Thanks for your response!

But there are two things which confuse me from your answer:

**(1)**

I'm pretty sure that that cannot be the case. If you think of a deep network outputting a vector `y`, then the gradient of `y[0]` is basically the same as that from `y[1]`, they only defer by the last weight matrix elements. i.e. `y[0] = W(0,j) V(j, ...) ` while `y[1] = W(1,j) V(j,...)`.

**(2)**     Y

[2017-03-25 23:15] kevihong commented on #8708
@gunan I have pasted my error here. https://gist.github.com/kevihong/a9200bc4a2ff3286f390d3b52872b48c
The trials are in respective order, all I changed were some flags such as
[code]
Thank you for your assistance.

[2017-03-25 23:34] yaroslavvb commented on #675
@isabeaups the two gradients can differ significantly when there are non-linear operators, as is the case for neural networks.

As a toy example, suppose there's some operation that when f(x)=1, and you compute gradient, one of the backprop operators overflows and causes NaN, which is a valid float32 value. If you want to backprop from vector [1,2], you are going to have to do full backprop from 1

[2017-03-25 23:37] analog-cbarber commented on #7585
FWIW the shape of my tensors for `output = tf.gather_nd(params, indices)` are:

params.shape == (16,8,8,8)
indices.shape == (x,16,2)
output.shape == (x,16,8,8)

where x is a batch size depending on data.

[2017-03-25 23:50] gunan commented on #8708
You seem to be running into this issue:
https://github.com/tensorflow/tensorflow/issues/6729

Please try the suggestions there.

[2017-03-25 23:54] cooledge commented on #8720
I found a work around. in the tf.split line split out the whole thing. tf.split(model_input, [4,6], axis=1)[0]

[2017-03-26 00:51] Evan-Gao commented on #6011
@luizgh How do you deal with back-propagation in your new pooling layer? If I use slice operations in one pooling layer, can tensorflow train it using auto diff?

[2017-03-26 02:03] drpngx commented on #8705
We believe that we are making continuous improvements to the code, so a higher version is usually better. That said, if you are concerned about stability, a conservative approach is to use a version which has been released for a few months.

Note that since `1.0`, we have committed to a compatibility promise. Everything that works in `1.0` will work in any `1.x` series. All in 1.x should also work

[2017-03-26 02:03] #8705 closed

[2017-03-26 02:06] drpngx commented on #8715
That might be a good candidate for a PR if you're willing to contribute.

@skye

[2017-03-26 02:17] bhavsarpratik commented on #6055
@Carmezim Pardon me if this looks like spamming. I made the installation guide because I felt that some instructions were missing from the installation guide.

[2017-03-26 02:33] liufsd commented on #491
+1

[2017-03-26 02:42] Carmezim commented on #6055
@bhavsarpratik you pasted the same message in at least four different issues, which is spamming.
I think PRs are always welcome, feel free to submit one with what you think could be improved in the docs.

[2017-03-26 02:50] kevihong commented on #8708
resolved.

[2017-03-26 02:50] #8708 closed

[2017-03-26 03:01] snnn commented on #8715
Hi @drpngx , I'll take this.

I just found the interface is a bit inconsistent.  For compressed file, it assumes that the file will be read sequentially and it will ignore the offset parameter in
[code]

So,  if this class is designed for sequential reads, I want to remove the 'offset' argument, and use ZlibInputStream for zipped file, SnappyInputStream for snappy file, RandomAccessInputStream for

[2017-03-26 03:52] mrnameless123 commented on #8334
@gunan sadly I just installed Tensorflow today March 26th and received the same message.

[2017-03-26 04:24] cyberpks opened #8721 "Issue while executing https://github.com/suriyadeepan/easy_seq2seq"
I tried running execute.py from https://github.com/suriyadeepan/easy_seq2seq however, I'm facing trouble with this.

Not sure if I'm doing something wrong, but a suggestion or a solution would be great help.

This is the dump from my Windows CMD prompt:

`C:\Users\myPC\Downloads\easy_seq2seq-master\easy_seq2seq-master>python execu
te.py`

`Traceback (most recent call last):`

`  File "execute.py",

[2017-03-26 04:36] Carmezim commented on #8314
@mrry I am having no luck with bazel (#8482) then I decided to build with CMake but the `COMPILER_OPT_ARCH_NATIVE_SUPPORTED` test fails even with the instructions available (`gcc march=native` shows them enabled, mavx, mfma, msse etc).
Would you have any tip on this?
Thanks!

[2017-03-26 05:01] w4nderlust commented on #8484
embedding_lookup has a similar behavior: returns 0 for indices outside the range on GPU while it complains about those indices on CPU. What I personally would like to see as a user is an homogeneous behavior. Something like returning 0 or null for all problems for which the CPU implementation returns an error or a warning and the GPU implementation can't do checks.
An additional idea / suggestion:

[2017-03-26 05:06] damienmg commented on #8713
Gunan: with the --action_env flag I added to the .bazelrc in #8637 we
should be good to remove bazel_clean_and_fetch and we can let the fetch
happens with the build command.

On Sat, Mar 25, 2017, 11:50 PM gunan <notifications@github.com> wrote:

[2017-03-26 05:32] shaox058 commented on #6984
Hi @kevinashaw ,

I have the same issue. Are you using windows or linux? Is the downgrade version working for windows?

Thanks,
Harry

[2017-03-26 05:41] damilolah opened #8723 "Disturbing Grammatical error..."
Grammatical error with this sentence...
"In this lab, we will be using transfer learning, which means we are starting with a model that has been already trained on another problem"
Correction: "has already been trained on another problem"

[2017-03-26 05:53] gunan commented on #8334
@mrnameless123 Could you file a new issue, filling in the issue template as much as you can?

[2017-03-26 05:56] gunan commented on #8723
Would you like to send a pull request to fix the problem?
I have no idea which tutorial you are referring to, and all these should be checked into our repository.

[2017-03-26 06:04] krishnaputhran commented on #8385
@WahabZia plz help. You mentioned that you also faced issue 2nd, but probably forgot to mention how you addressed it. As you requested the logs are as shown below. This is same as you mentioned before

Python 3.5.2 (v3.5.2:4def2a2901a5, Jun 25 2016, 22:18:55) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

E c:\tf_jenkins\home\workspace\

[2017-03-26 06:26] Carmezim commented on #8385
@krishnaputhran If you look up the comments you'll see his issue was due missing the `MSVCP140.DLL`. You can solve it by downloading the [Visual C++ Redistributable](https://www.microsoft.com/en-us/download/details.aspx?id=53587).

But some users had this problem after install with `pip install tensorflow` because of a bug on the wheel and to solve it uninstall TensorFlow, download this [nightly b

[2017-03-26 06:36] omasoud commented on #7089
You can do this with by creating a different FileWriter (that writes to a different log) for each curve and using the same name/tag for the things you write.

[2017-03-26 06:48] mrnameless123 opened #8724 "Error occurred in Tensorflow version 1.0.1 date: 26th March 2017."
I just reinstalled Tensorflow on my laptop this morning and got this problem.
E c:\tf_jenkins\home\workspace\release-win\device\cpu\os\windows\tensorflow\core\framework\op_kernel.cc:943] OpKernel ('op: "BestSplits" device_type: "CPU"') for unknown op: BestSplits
E c:\tf_jenkins\home\workspace\release-win\device\cpu\os\windows\tensorflow\core\framework\op_kernel.cc:943] OpKernel ('op: "CountExtreme

[2017-03-26 07:43] krishnaputhran commented on #8385
@Carmezim thanks for your immediate response and I appreciate that. Yes my issue is solved now. I had to do the following as mentioned above.
1. The "import tensorflow as tf" is solved my installing the [Visual C++ Redistributable.](https://www.microsoft.com/en-us/download/details.aspx?id=53587). Make sure in your System32 or C:\Windows\SysWOW64 has the msvcp140.dll
2. To get rid off the second is

[2017-03-26 08:40] BrianOn99 commented on #8550
As mentioned in stackoverflow here http://stackoverflow.com/questions/31350451/using-camera2-api-with-imagereader, Samsung really has terrible Camera2 API support.  I am also having a "mirror image" issue.  So approach 1 will not be a good solution.  I am working on approach 2 now.

[2017-03-26 11:03] phvu commented on #8527
When the default isn't good enough, you can also set the variables before running `./configure`. I used something similar to this to compile TF in Docker:
[code]

[2017-03-26 11:08] towardthesea commented on #8532
I got the same error!

[2017-03-26 11:14] towardthesea commented on #8532
This [issue](https://github.com/tensorflow/tensorflow/issues/7069#issuecomment-275216149) can help!

[2017-03-26 11:29] matthiasreisser commented on #8656
I see. By not exactly specifying the computation graph, there is ambiguity.
Still I wonder if this ambiguity should be resolved the same way in both configurations.

[2017-03-26 11:38] kyu-sz commented on #6926
@asimshankar Is the JNI library GPU-enabled or CPU-only?

[2017-03-26 12:37] stevenxxiu commented on #6999
I had a go at building this myself and succeeded. I used python 3.6, visual studio 2015 update 3 (the update 3 is important otherwise you will get compiler errors), and cmake 3.6.x (not cmake 3.7.x as this introduces a bug with quotes somewhere).

There was also this weird bug in `array_ops.cc` where visual studio complains that `\`` cannot be in a raw string which is totally bogus, adding a new l

[2017-03-26 12:58] playgithub opened #8725 "semantic about softmax_cross_entropy_with_logits"
In [https://www.tensorflow.org/get_started/mnist/beginners](url), it says:

In [https://www.tensorflow.org/api_docs/python/tf/nn/softmax_cross_entropy_with_logits](url), it says

Here is the question, take the following code for example:

[code]

**z** is not log probability, why pass it to the parameter **logits**?

[2017-03-26 13:27] BrianOn99 commented on #8550
I've got it working.  Will make a PR after more testing.

[2017-03-26 14:03] saurabhvyas commented on #82
I have the same issue just following this tutorial https://www.tensorflow.org/tutorials/image_retraining

[2017-03-26 14:06] saurabhvyas opened #8726 "Retraining inception tutorial bazel error"
Hi , I am following along this tutorial https://www.tensorflow.org/tutorials/image_retraining , I performed all the steps and they went fine even training but when I entered the command below for evaluating the model , I got an error after few minutes

[code]

[code]

[2017-03-26 14:48] fxsuper commented on #8315
Any updates on this?

[2017-03-26 15:25] eliben commented on #8315
I think element-wise trigonometric functions can be added - I don't see a strong reason not to support them, because building them out of other XLA primitives would be challenging

[2017-03-26 16:24] hnkulkarni commented on #4841
Thanks @jinhou, exporting TF_NEED_CUDA = "1" did the trick for me. Just curious, how did you find this out?

[2017-03-26 16:26] AlexisTM commented on #6999
Did you ran the tests? Why 3.6 when you van have both via Anaconda

[2017-03-26 16:46] nb312 opened #8727 "NameError: name 'core' is not defined"
when i run a command in the terminal
[code]
it show the error
[code]
i have a searching but don't find an answer, i would happy that someone gives me the answer

[2017-03-26 17:33] asimshankar commented on #6926
The JNI library contained in the Maven package is CPU only.

However, the way the code is setup is that it looks for the `tensorflow_jni` library in the system path  (see [`NativeLibrary.java`](https://github.com/tensorflow/tensorflow/blob/7303b63/tensorflow/java/src/main/java/org/tensorflow/NativeLibrary.java#L48)). Thus, to enable GPU support, download the JNI archive mentioned in the README and

[2017-03-26 17:46] Carmezim commented on #8724
Duplicate #7859

[2017-03-26 18:15] bowu commented on #8191
I have exactly the same problem. From the comments, I still don't know how to fix it.

[2017-03-26 19:41] yaumeg opened #8729 "conv1d_transpose not implemented"
I would like to perform a conv1d_transpose, but I can’t see any implementation in tensorflow.

I guess that inserting zeros between each values and then applying a regular conv1d would do the job ?

(principle explained hereafter with conv2d_tranpose : https://github.com/tensorflow/tensorflow/issues/4306)

But I can't find a way to implement this kind of operation with tensorflow :

import numpy a

[2017-03-26 19:45] mckinziebrandon commented on #8721
This belongs on StackOverflow, not as a github issue. tensorflow.models is a separate repository from this one. The translate directory can be found [here](https://github.com/tensorflow/models/tree/master/tutorials/rnn/translate).

[2017-03-26 20:30] mrry commented on #8724
This bug is fixed in the 1.1 release candidate. Please upgrade to that version or a nightly build (or else you can simply ignore the error messages, as they are harmless).

[2017-03-26 20:30] #8724 closed

[2017-03-26 20:30] mckinziebrandon opened #8731 "Error from 'bazel build' after r1.1.0: TensorFlow is not configured to build with GPU support"
### Environment info
Operating System: Ubuntu Desktop 16.04

Installed version of CUDA and cuDNN:  8.0, 5
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

[code]
If installed from source, provide

1. The commit hash (`git rev-parse HEAD`):
bbe056e5a0ab81b67fcb6053400812b3d5805fc7 (master branch)

2. The output of `bazel version`:

[code]

------------------------------------------

[2017-03-26 20:42] mckinziebrandon commented on #8726
Have you tried passing the ```--local_resources``` option to bazel build? It seems that you've run out of space, and that option is useful if you're constrained by RAM for example.

Description given in the output of "bazel help build":
[code]

Example usage (what I use):
[code]

Just a guess to try before hearing back from the tensorflow folks.

[2017-03-26 20:45] Carmezim commented on #8724
@mrry can I take the opportunity to ask you a question if you don't mind? I don't want to open an issue just for it.

I am having no luck with bazel (#8482) then I decided to build with CMake but the COMPILER_OPT_ARCH_NATIVE_SUPPORTED test fails even with the instructions available (gcc march=native shows them enabled, mavx, mfma, msse etc).
Would you have any tip on this?
Thanks!

[2017-03-26 20:46] nick-jonas commented on #8587
I'm having the same error as @jubjamie .  @sam-trt adding that block to my ```build.gradle``` file didn't seem to change anything, by adding it like so:

![screen shot 2017-03-26 at 3 53 32 pm](https://cloud.githubusercontent.com/assets/805682/24334665/7962aef2-123c-11e7-94ae-65dadd018753.png)

[2017-03-26 20:49] mckinziebrandon commented on #8725
This belongs on StackOverflow (it has actually been asked many times on SO, see links below). __z__ is the log probability. That is a standard interpretation for the output of an affine transformation being fed to a softmax layer. For more, see:

* [SO: Difference between softmax and sofmtax with logits](http://stackoverflow.com/questions/34240703/difference-between-tensorflow-tf-nn-softmax-and-tf

[2017-03-26 20:59] mrry commented on #8724
I think this test fails because MSVC doesn't support the exact `-march=native` option that we use for this in GCC. I suspect there are equivalent options for MSVC to enable these instructions (perhaps @guschmue knows them off-hand), and the most likely workaround would be to modify CMakeLists.txt to use those options explicitly.

[2017-03-26 21:05] Carmezim commented on #8724
@mrry got it. Awesome, thank you! :)

[2017-03-26 21:30] mckinziebrandon commented on #8696
A few guesses/checks that might help:

* Checking the list of devices matches what you'd expect. The snippet below will print all the devices seen by TF and their names.
[code]

* Thread management. Your error message seems to be more related to joining threads/coordinator. Not sure why this only shows with CPU as your device, but perhaps the following might help. I  don't see the use of a coordin

[2017-03-26 21:42] tillahoffmann commented on #386
@rryan, I have working CPU/GPU kernels for complex FFTs based on Eigen but have some issues integrating your recent RFFT changes. Would you be up for a chat to iron out those bumps so we can add the CPU kernels? Ideally, I would like to move to an interface similar to `conv2d` which takes `use_cudnn_on_gpu` as an optional argument.

[2017-03-26 22:02] rryan commented on #386
@tillahoffmann happy to chat! though I'm not on the TF team per se (just a contributor). I'll loop in some TF folks who could weigh in. Want to email me and we'll go from there? My google.com email is rjryan. Also, are the changes pushed publicly anywhere?

[2017-03-26 22:38] p-smirnov commented on #8731
I ran into the same issue, with the difference being I compiled bazel 0.4.5 from source. Also compiling for a p100, using CUDA compute capability 6.0 as per specifications.

All other info is the same as @mckinziebrandon.

Switching to r1.1 seems to fix the issue for me (head at a23f5d7).

[2017-03-26 23:05] mckinziebrandon commented on #8731
Thanks for the suggestion to switch branches @p-smirnov , I'll make sure to try re-running build tonight when I get the chance. Strange that a couple days could make all the difference!

[2017-03-26 23:55] AndreaFar commented on #8676
@skye no happens with Windows version of Tensorflow that is bugged as the hell

[2017-03-26 23:55] Carmezim commented on #8724
@mrry I successfully built replacing `-march=native` for `/arch:[MAVX2|MFMA|MSSE4.2|MFPMATH|mmmx]` specifically.

Thank you again!

Reference: https://msdn.microsoft.com/en-us/library/jj620901.aspx

[2017-03-27 00:50] pierluigiferrari opened #8734 "Tensorflow GPU "no known devices" after update from version 0.12.1 to 1.0.1 - everything was fine before"
### Environment info

Operating System:

Ubuntu Linux 16.04

Installed version of CUDA and cuDNN:

CUDA 8.0.44
cuDNN 5.1.10
Driver version 367.57.0

Output of `ls -l /path/to/cuda/lib/libcud*`:

-rw-r--r-- 1 root root   558720 Sep 14  2016 /usr/local/cuda/lib64/libcudadevrt.a
lrwxrwxrwx 1 root root       16 Sep 14  2016 /usr/local/cuda/lib64/libcudart.so -> libcudart.so.8.0
lrwxrwxrwx 1 root root

[2017-03-27 01:05] Timeroot commented on #8723
The tutorial is at https://codelabs.developers.google.com/codelabs/tensorflow-for-poets/#0 -- although I don't believe this is a grammatical error.

[2017-03-27 01:25] saurabhvyas commented on #8726
I'll give that a shot today , thanks

[2017-03-27 01:37] mrnameless123 commented on #8724
@mrry did version 1.1 release yet?
@Carmezim I have two laptops, one laptop works perfectly and no strange message(I installed it like 3 months ago) and the other shows I just installed Tensorflow in it yesterday and these messages show up. both have the same version.

[2017-03-27 01:44] mrnameless123 commented on #7859
that means the problem can be resolved if I uninstall Tensorflow and install the nightly build version.  btw do you know when version 1.1 is released @Carmezim

[2017-03-27 01:48] caisq commented on #8727
@nb312, can you please provide information on
1) what version of tensorflow you are using
2) where did you get the installation package
3) what your operating system (and version) is
4) is your platform 32-bit or 64-bit
5) whether you are using any python platforms such as anaconda.

[2017-03-27 01:55] Carmezim commented on #7859
@mrnameless123 it's pre-released https://github.com/tensorflow/tensorflow/releases

[2017-03-27 02:00] mrnameless123 commented on #7859
so I just simply need to wait until it's officially released and use pip --upgrade tensorflow on laptop right?

[2017-03-27 02:36] derekhh commented on #8696
Thanks @mckinziebrandon for your kind reply!

I've checked my return output for `list_local_devices` and it indeed says `/cpu:0`. For the `coord.join()` part. I'm using `slim.learning.train` for my training. The implementation includes [sv.start_queue_runners(sess)](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/slim/python/slim/learning.py#L738).

[2017-03-27 02:58] nb312 commented on #8727
1.the latest version of tensorflow1.0

[2017-03-27 03:01] nb312 commented on #8727
1.the latest version of tensorflow1.0
2.use the command "pip3 install --upgrade tensorflow"
3. windows 7
4.64-bit
5.have no other platforms

[2017-03-27 03:01] nb312 commented on #8727
the python version is 3.52
a

[2017-03-27 03:06] nb312 commented on #8727
The Python version is 3.52.
 when I close the Terminal,then open it again the code run ok with no error.I don't  know what's wrong with this.

[2017-03-27 03:21] darkstarslyp commented on #8486
thanks your suggetion , I got the  right reesult. @cwhipkey

[2017-03-27 03:21] #8486 closed

[2017-03-27 03:27] Carmezim commented on #7859
@mrnameless123 Correct. The latest nightly build is probably already updated as well. Or you can download the source code and build it.

[2017-03-27 04:16] Charan-Karthikeyan commented on #8703
I have a ImportError: cannot import name 'debug_pb2' in ubuntu 16.04 when importing tensorflow

[2017-03-27 04:31] mrnameless123 commented on #7859
Thank you very much, @Carmezim

[2017-03-27 06:16] impressprogram opened #8738 "configure error"
1. git clone https://github.com/tensorflow/tensorflow
2. cd tensorflow
3. ./configure

Since our server has no GPU, we configure cuda option with no but error occurs by cuda.

`ERROR: /home/kesl/kms_tensorflow/tensorflow/third_party/gpus/cuda_configure.bzl:828:18: unexpected keyword 'environ' in call to repository_rule(implementation: function, *, attrs: dict or NoneType = None, local: bool = Fals

[2017-03-27 06:20] BrianOn99 commented on #4863
@sschaetz Do you mean just changing the macro of `REGISTER5`, and without defining `__ANDROID_TYPES_FULL__`, then this issue can be fixed (at least temporarily)?  Thanks in advance.

[2017-03-27 06:59] andrewharp commented on #8712
@asimshankar Any ideas here?

[2017-03-27 07:16] lizhiyuanUSTC opened #8741 "temperature will be higher when I using two different cards in the same machine"
Hey, guys, I am trying to train a CNN model. My machine has 2 K40. When I run my model in the second card, the temperature  will be higher than running in the first card, and the training will be slower and slower.

[2017-03-27 07:20] mrnameless123 commented on #8724
@mrry. @Carmezim I updated to 1.1.0rc and the problem still not resolved. Here is screen capture of my current version
![capture 3](https://cloud.githubusercontent.com/assets/10723417/24345010/1028df92-1309-11e7-86e4-9a9624f6a470.JPG)

[2017-03-27 07:31] rockerUX commented on #6533
I can install the tensorflow with python3.6 on windows, but it can't import with the error msg below:
 File "D:\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 18, in sw
ig_import_helper
    return importlib.import_module(mname)
  File "D:\Anaconda3\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  Fil

[2017-03-27 07:33] seventhmoon opened #8742 "Broken Link in README.md"
In https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android/README.md,
the link of _Get the recommended Bazel version listed in os_setup.html_ which is pointing to https://www.tensorflow.org/versions/master/get_started/os_setup#source is broken.

[2017-03-27 07:34] New2World opened #8743 "Issue when installing from source"
Operating System: Ubuntu 16.04
gcc version: 5.3.0
CUDA: 8.0
cuDNN: v5.1.10
commit hash: `bbe056e5a0ab81b67fcb6053400812b3d5805fc7`
bazel version: 0.4.5

I've installed CUDA and cuDNN correctly, and I'm trying to install TF from source. After performing the configure, when running the command:
`bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package`

an error shows

[2017-03-27 07:40] Carmezim commented on #8724
Did you try the nightly build, if not could you try and let us know if it solved?
Thanks

[2017-03-27 07:41] liufei1656 opened #8744 "DC-ASGD(Delay Compensated Asynchronous Stochastic Gradient Descent)?"
DC-ASGD is Microsoft's very useful algorithm for distributed asynchronous training. Compared with the ordinary ASGD algorithm, DC-ASGD has no significant loss in speed, but can get almost the same effect as Sequential SGD. As far as I know, other mainstream deep learning open source tools have implemented this algorithm, such as: CNTK, Mxnet, Paddle and so on. But in Tensorflow I have not found si

[2017-03-27 07:50] sulc opened #8745 "TFRecordWriter doesn't throw an error when disk partition gets out of space"
## Problem
When tensorflow.python_io.TFRecordWriter(path) is initialized with a path leading to a device out of free storage space, one can still write() and close() it without receiving an error or exception. The resulting file is empty (0B).

## Environment info
TF v.1.0.1 installed from pip3 (package tensorflow-gpu) with Python 3.4.2 on a Linux server.

## Minimal example
    writer = tf.python

[2017-03-27 08:02] theflofly opened #8746 "Gradients are not averaged when using GradientDescentOptimizer"
When using the GradientDescentOptimizer the weights are updated using `var.device(d) -= grad * lr();`. The gradients are not averaged as we could expect. That why my model was working fine with a mini-batch gradient descent but not with the batch gradient descent.

The trick is to use `GradientDescentOptimizer(1/m * 0.01)` where `m` is the size of the batch.

The corresponding StackOverflow issue

[2017-03-27 08:20] sam-trt commented on #8587
@nick-jonas sorry you need to change it to look like this

assemble.dependsOn copyNativeLibs

afterEvaluate {
    tasks.whenTaskAdded { task ->
        if (task.name == 'assembleDebug') {
            task.dependsOn 'copyNativeLibs'
        }
        if (task.name == 'assembleRelease') {
            task.dependsOn 'copyNativeLibs'
        }
    }
}

// Download default models; if you wish to use yo

[2017-03-27 08:52] MicaelCarvalho commented on #8746
The problem isn't the Optimizer, it's your loss. It should return the mean loss, not the sum. If you're doing an L2 regression, for instance, it should look like this:

[code]

[2017-03-27 09:04] star277hk commented on #8655
@aselle I already fixed by changing bazel-bin/tensorflow/examples/image_retraining/retrain
in line 51 to return PYTHON_BINARY.

[2017-03-27 09:04] #8655 closed

[2017-03-27 09:19] jubjamie commented on #8741
Is the usage the same in nvidia-smi? Or are you running it on one card exclusively? This might not be a tensorflow issue so I recommend filing a question on stack overflow. In the mean time you could try some primitive troubleshooting by physically removing and swapping cards to clarify if it is a bug caused by device id allocation (doubt it) or mobo or the card itself.

It may just run hotter and

[2017-03-27 09:24] theflofly commented on #8746
My bad (facepalm).

[2017-03-27 09:24] #8746 closed

[2017-03-27 09:25] abred commented on #7089
thanks for the suggestion, but as I wrote, this does not work any more since rc0.12.
Every name in a graph is made unique by tensorflow, so if you create multiple summaries with the same name you end up with "_X" suffixes. It worked before because summaries used to use tags and not the names.

[2017-03-27 09:29] lizhiyuanUSTC commented on #8741
Thanks a lot. I will have a try.

[2017-03-27 09:45] renyi533 commented on #8744
I am also very interested with this. Any update?

[2017-03-27 10:05] stevenxxiu commented on #6999
@AlexisTM No, but since the mac version is done this way I'm guessing the python version works too. Python 3.6 comes with some nice features although they are not necessary for me right now, but more importantly installing python 3.5 again and migrating all my libraries takes a lot of work, and it is a very annoying thing to downgrade just becaues of one library.

[2017-03-27 10:05] stevenxxiu commented on #6533
@rockerUX Yes I've managed to get everything working on windows 7 python 3.6. See [my comment](https://github.com/tensorflow/tensorflow/issues/6999#issuecomment-289280463).

[2017-03-27 10:32] eliethesaiyan commented on #8107
@robmsylvester Thank you very much for point this out...would you mind sharing what might be the probable cause for this

[2017-03-27 11:05] nitish11 commented on #751
The issue is because of compatibility with versions of tensorflow on which the model is built.
To downgrade tensorflow to v.0.11.0 :
[code]

[2017-03-27 11:10] luizgh commented on #6011
Hi @Evan-Gao,

Theano will backpropagate only through the part of the input tensor that was selected in the slice operation. I ran a quick experiment and Tensorflow does the same:

[code]

This code uses a symbolic variable ("which_channel") to slice the input, and considers the cost as the norm of the sliced tensor. We can see that backpropagation will only affect the part of the input that was s

[2017-03-27 11:54] SeguinBe commented on #8560
Not sure how the `BFCAllocator` behaves but just setting `allow_growth` to `True`, wouldn't there be a risk of still having unlimited growing?

[2017-03-27 11:55] SeguinBe commented on #8626
Yeah I'm using nightly indeed.

[2017-03-27 12:23] irfus opened #8749 "s ufw"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-03-27 12:43] Kyubyong commented on #654
@chenghuige Thanks! Would give us some example of the google implementation? Does it cover mini-batches? If we can only process a sequence at a time, does time matter?

[2017-03-27 12:49] Srigowri commented on #8575
I came across the same error.I abruptly stopped when inception was being downloaded. @sria91  where have you saved the downloaded model?

[2017-03-27 13:17] wichtounet commented on #2153
Building the branch r1.0 from source gives me the same warning. I'm working on Gentoo with GCC 4.9.4.

The command is:

`$ bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package `

Thanks

[2017-03-27 13:23] fxsuper commented on #8315
Does the "contributions welcome" tag mean no one at Google has any plans to add this? Also what about things like `cross`? It's currently a builtin TF function.

[2017-03-27 13:24] emsansone opened #8751 "Loading new operation - Already Exists Error"
# Problem
When loading a new op using `load_op_library`, the ***AlreadyExistsError*** is thrown.
Here is the simple code:
[code]

# Environment Info
TF v1.0.1 installed from source on Linux Ubuntu 14.04 with NVIDIA GPU Titan X and Python 2.7.6

[2017-03-27 13:29] wtl opened #8752 "ERROR,I tried to compile Tensorflow source code in 'compute_21'"
I tried to compile Tensorflow source code in 'compute_21'

### My computer environment info
    Ubuntu 16.04
    CUDA 8.0
    CUDNN 5.1
    GCC 4.9

The commit hash : a23f5d7f7757623a4ea8c6e1d743d178a0c561c5
 Build label: 0.4.5

### tried solutions
https://github.com/tensorflow/tensorflow/issues/1498#issuecomment-196542169
Replace the loop on L253--256 with the following:
`nvccopts += r'-gencode=a

[2017-03-27 13:30] beeCwright commented on #7927
Howd the review go?

[2017-03-27 13:37] caisq commented on #8703
@Charan-Karthikeyan, I tried the following commands, in the ubuntu:16.04 docker container and it seems to work correctly. Is it possible that your environment has some older versions of tensorflow causing some sort of interference? If so, can you try uninstalling them?

[code]

[2017-03-27 13:40] hqqxyy opened #8753 "TFDBG 'PyFunc' is not found in partition graphs."
When using tensorflow debugger, the program crashes with the following message :

### Environment info
Operating System:
Ubuntu 14.04

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

If installed from binary pip package, provide:

1. A link to the pip package you installed:
https://ci.tensorflow.org/view/Nightly/job/nightly-matrix-linux-gpu/TF

[2017-03-27 14:08] #2318 closed

[2017-03-27 14:15] ljubisap commented on #5036
+1

[2017-03-27 14:30] danbarnes333 commented on #8403
@drpngx Thanks for the suggestion. We tried the methods you mentioned but unfortunately we still cant get the symbols out of libtensorflow.so

@skye great! If you need any help with testing please let me know. Namely the option to build dynamically against user selected dependancies would would be ideal (without digging into bazel).

We also came across the [rename_protobuf.sh](https://github.com/

[2017-03-27 14:55] ilovin commented on #2292
after setting `allow_soft_placement=True' I get
[code]

[2017-03-27 14:59] nick-jonas commented on #8587
@sam-trt I now get the following error with ```download-models.gradle```:

<img width="696" alt="screen shot 2017-03-27 at 10 56 55 am" src="https://cloud.githubusercontent.com/assets/805682/24362958/5ec10fbc-12dc-11e7-9910-7da030f9b764.png">

[2017-03-27 15:04] Yozey opened #8754 "tf.nn.max_pool works incorrectly with option: data_format="NCHW" on GPU"
The max_pooling operation seems to be ignorant of the data_format option of "NCHW" and treat the input data as "NHWC"

...     a=tf.zeros((100,3,224,224))
...     b=tf.nn.max_pool(a, ksize=[1, 2, 2, 1], strides=[1, 2, 2, 1],padding="SAME",data_format="NCHW")
...

<tf.Tensor 'MaxPool:0' shape=(100, 2, 112, 224) dtype=float32>

I think the shape of the 'b' variable should be (100,3,112,112) instead

[2017-03-27 15:08] #8754 closed

[2017-03-27 15:08] guschmue commented on #8724
I think its hard to get rid of the SSE/AVX message: if ci build with, say avx2, the builds will not work on boxes that don't support avx2. If ci builds don't enable the highest instruction set, somebody will see the error messages. No easy way out other that building from source.
Should be the same on linux (just tried and see the same messages).
For some reason 1.1.0rc0 is on pypi but it does not

[2017-03-27 15:09] Yozey commented on #8754
Sorry, my error. It needs to change the strides to strides=[1, 1 2, 2]

[2017-03-27 15:25] andrewharp commented on #8587
@nick-jonas you'll need to make an equivalent change in download-models.gradle too (altering it to take I to account the different targets).

[2017-03-27 15:30] jubjamie commented on #8587
I think @sam-trt solution works and matches some similar issues I spotted in my searches online. I'm getting an INSTALL_FAILED_NO_MATCHING_ABIS error now which I believe is to do with CPU architecture etc. and unrelated to this issue. @sam-trt and @andrewharp would you like me to pop this in as a PR?

[2017-03-27 15:31] LMescheder commented on #6624
I had the same issue when I wanted to use data dependent initialization in my neural net. I general, data dependent initialization is not an exotic thing to do, is it? Is there a better workaround than using assign ops after initialization is completed?

[2017-03-27 15:33] Carmezim commented on #8724
Oh, I am so sorry, I totally misread that.
You can set TensorFlow environment variable `TF_CPP_MIN_LOG_LEVEL` to 2 as follows:
[code]
It will filter out WARNING logs.

[2017-03-27 15:36] Carmezim commented on #8724
@guschmue would you have any insight on using `/arch` with MSVC? It seems MSVC only accepts `AVX2` option and won't build with any other instruction, even gcc showing they are available. I think I might have set something wrong when I built above because now I cannot build it anymore setting the same way.

[2017-03-27 15:44] mrnameless123 commented on #8724
@guschmue thank you anyway, I did figure out the way to upgrade to 1.1.0rc0. but it doesn't help much with those Warning. I decided to wait.
@Carmezim thank you for your support

[2017-03-27 15:49] falcondai opened #8755 "tf.contrib.seq2seq.sequence_loss documentation incorrect"
The function returns a tensor with rank = 0, 1, 2 depending on its arguments. This is inconsistent with its docstring's description of the return:  https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/seq2seq/python/ops/loss.py#L58

I will submit a PR soon to fix the doc.

NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general

[2017-03-27 15:55] jrbtaylor opened #8756 "Error installing from source"
I'm trying to update tensorflow from the latest source. I'm running Ubuntu 14.04, with cuda 8.0 and cudnn 5.1.5. I was previously running r0.11 with no problem.

I pulled the new source. After running ./config and enabling cuda, I try to build with bazel:

and I'm getting the following error:

Note where it says "Please re-run ./configure and enter 'Y' at the prompt to build with GPU support." The

[2017-03-27 16:05] gunan commented on #8723
I agree with @Timeroot that to me both forms look correct. And it not being on the repo may make it more difficult to fix it. So I do not know if it is worth the effort to modify.
Redirecting to @wolffg , but due to the current load, the most likely outcome for this issue is we will close it.

[2017-03-27 16:07] gunan commented on #8756
Please will in the full template. There are missing pieces of information, such as your bazel version, that prevents us from being able to help you.

[2017-03-27 16:07] #8749 closed

[2017-03-27 16:09] jrbtaylor commented on #8756
I updated to the latest version of bazel before trying to update tensorflow

[2017-03-27 16:09] gunan commented on #8743
The real error message seems to be missing from your logs.
Could you upload all of your terminal output and share the link here?

[2017-03-27 16:11] gunan commented on #8756
Our CI is healthy, and we can build OK with the current version of the code:
http://ci.tensorflow.org/job/tensorflow-master-linux-gpu/

So unless you provide more detailed information to us, we really cant offer much help.

[2017-03-27 16:12] gunan commented on #8738
Please update bazel to 0.4.5 and retry.

[2017-03-27 16:14] jrbtaylor commented on #8756
I gave the error and versions for all relevant packages (that I know of). Again, when I run ./configure, I'm not seeing any prompts to build with GPU support as the error suggests. I'm saying yes to building with cuda.

[2017-03-27 16:18] gunan commented on #8731
We have recently bumped the minimum bazel requirement to 0.4.5, so having to run bazel update is expected.
However, our checks for bazel version seem to be broken, I will look into that.

Just an idea, could you try running `bazel clean` right before `./configure` to see if it helps with the error?

[2017-03-27 16:25] poxvoculi commented on #8560
Yes, but BFC is a recompacting allocator, while PoolAllocator, with a low miss toleration factor and auto_resize=true, is very much not.  So, if you're using a large variety of different sizes, but only a few of them at once, BFC should not grow its memory region arbitrarily large.

[2017-03-27 16:28] gunan commented on #8756
Sorry if I was not clear.
To make sure we have all we need when debugging user side issues, we tried to refine the issue template.
By filling that out, you will help us understand your setup, and the problem you are seeing.

I think you are running into this same problem here:
https://github.com/tensorflow/tensorflow/issues/8731

There seems to be already a response there which may help get around

[2017-03-27 16:30] gunan commented on #8721
The code referenced is not a TF owned code.
It simply seems to be out of date.
Please contact the owner of the code, or reach out to StackOverflow as @mckinziebrandon suggested.
Closing this issue.

[2017-03-27 16:30] #8721 closed

[2017-03-27 16:30] AlexisTM commented on #6999
@stevenxxiu With Conda, installing the environment is 3 commands and then wait the installation to finish. That's pretty fast. But you wot have those Python features you always dreamed of :/

[2017-03-27 16:31] martinwicke commented on #7645
Sure. I think we're meeting these criteria, we just have to apply.

[2017-03-27 16:37] satok16 commented on #8502
As we have Pete's great post, let's close this issue for now.  Feel free to create a new ticket if you have any other issues.

Thanks!

[2017-03-27 16:37] #8502 closed

[2017-03-27 16:41] jrbtaylor commented on #8756
I had also tried bazel clean. It made no difference.

I uninstalled and just reinstalled from pip.

[2017-03-27 16:41] #8756 closed

[2017-03-27 16:44] imbaczek commented on #6999
not official but http://www.lfd.uci.edu/~gohlke/pythonlibs/#tensorflow

also don't mean to be rude, but

this is unacceptable, guys.

[2017-03-27 16:47] nitika-verma commented on #7585
Any updates on this?

[2017-03-27 16:49] honkentuber commented on #8043
I believe the problem here is that the streaming_mean function doesn't take
a label argument, so it's mistaking labels for weights. You can
replace metric_ops.streaming_mean
with:

def _predictions_streaming_mean(labels, predictions, weights):
return metric_ops.streaming_mean(values=predictions, weights=weights)

Philip Tucker |  Software Engineer |  ptucker@google.com |

On Fri, Mar 24, 2017 at 1

[2017-03-27 16:52] SMH17 commented on #6999
@imbaczek It's a very bad choice. The adoption of Python 3.6 depends on how the others software will support It, and  not viceversa. I'm with Python 3.5 exactly because of the lack of official support for newer 3.6.

[2017-03-27 16:55] afhuertass commented on #8043
Yeah

i ended up solving it by doing something similar, "masking" the streaming_mean function, and passint to it weights  = tf.ones( shape= () , dtype=tf.float32 )

that did the trink ;) thanks.

[2017-03-27 17:16] mckinziebrandon commented on #8731
@p-smirnov your suggestion worked for me as well. Had no issue building that branch. Thanks for the tip!

@guanan I just followed your suggestion (ran bazel clean before configure) and still got the same build error. Configure works fine, but running the build command results in the error message in my post.

[2017-03-27 17:18] honkentuber commented on #8043
FYI, this should be fixed in 1.1.

Philip Tucker |  Software Engineer |  ptucker@google.com |

On Mon, Mar 27, 2017 at 9:57 AM, Andrés Huertas Suarez <
notifications@github.com> wrote:

[2017-03-27 17:25] gunan commented on #8731
OK, thanks for checking.
I will investigate what has changed in master to cause this. we should only have about 10 days of updates after 1.1 branch cut.

[2017-03-27 17:25] tillahoffmann commented on #386
@rryan, no not pushed publicly at the moment because I don't have the tests passing yet. Will drop you an e-mail.

[2017-03-27 17:28] jw447 commented on #8517
I am updating the question that building from source has the same problem with 2 GPUs. It seems to me that Tensor-Flow can only work with single GPU.

I am posting the newest detail of my infrastructure:

Hardware:
Google Cloud Compute Engine
NVIDIA Tesla K80 * 2

Software:
Ubuntu 14.04
CUDA 8.0
cuDNN 5.0
Tensor-Flow up-to-date with master branch

[2017-03-27 17:31] pedropgusmao commented on #7679
Hi @tfboyd,  I often see that image classification models use synchronous data parallelism that at the end of the day has the same effect of using large batch sizes.  I guess a comparison between asynchronous and synchronous updates in terms of final obtainable accuracy and time saved in synchronization could be interesting.

[2017-03-27 17:39] p-smirnov commented on #8731
If it helps, the file local_config_cuda/crosstool/BUILD seems to written correctly when I examine it before running bazel build. After running the build however it is overwritten to raise a cuda not configured error.

[2017-03-27 17:44] yamashi commented on #5036
+1

[2017-03-27 17:50] gunan commented on #8731
Interesting, thanks for the additional information.
@damienmg Could this be related to recent changes we made to TF build configs?

[2017-03-27 17:55] p-smirnov commented on #8731
Also, I noticed the Jenkins build is passing, but it builds on an Intel x86_64. I was compiling for a ppc64 architecture, so that may be why the CI isn't catching the error.

[2017-03-27 17:55] martinwicke commented on #1763
We have made a choice to consider image data encoded as integer types to be fixed-point data. As you say, you could go the other way. Both have issues: Mostly, our image pipelines work in float, which is slower. On the other hand, if we computed things in uint8 (or int16, or int32) we'd be dealing with overflows and underflows in the middle of processing pipelines, and you'd probably see a lot mor

[2017-03-27 18:16] LeeKyungMoon commented on #394
Is it necessary to reboot after installing(executing) 'sudo apt-get install nvidia-modprobe'?

[2017-03-27 18:17] martinwicke commented on #5676
Is this still an issue in current TF?

@ebrevdo did you ever fix the error message?

[2017-03-27 18:22] martinwicke commented on #309
@allenlavoie how far are we with time series?

[2017-03-27 18:24] martinwicke commented on #7636
Community contributed packages would be great. We just started publishing to maven, and we have a tgz with .so/.h files.

We don't have the bandwidth to maintain other packages, but we'd love to have community-maintained packages.

[2017-03-27 18:25] martinwicke commented on #7636
I will close this issue. If someone wants to take it on, I'd be excited to add a link to a community supported package to our website.

[2017-03-27 18:25] #7636 closed

[2017-03-27 18:26] martinwicke commented on #7704
Eugene, do you have an idea about why TensorArray may be missing?

[2017-03-27 18:28] martinwicke commented on #5538
@conqer This sounds like it would be a great PR for wheel.

[2017-03-27 18:28] liuyipei commented on #8702
@gunan
Apparently, the bzl file contents are being run on some super-restricted subset of python, with questionable outputs. It can't seem to import, and is missing functions like `ord` and `print`. `lstrip` also has strange behavior. The only way I can get anything to print to console was to use the `auto_configure_fail` function.

I added these lines as a diagnostic, and the results are very str

[2017-03-27 18:31] martinwicke commented on #8137
We could add support for the relevant strings to layers easily. The question is what to do for the modes we don't support. @fchollet FYI.

[2017-03-27 18:31] allenlavoie commented on #309
@martinwicke We're looking to open source in Q2. I was actually going to ask you (or someone else who works on Estimators) to look at the API soon.

[2017-03-27 18:34] cancan101 commented on #8241
Given that it sounds like this should this be reclassified as a bug instead of a feature?

[2017-03-27 18:40] dmitry-xnor commented on #1763
That sounds much better than the present situation, especially if the new parameter is prominently mentioned in the documentation.

Arguably, changing the dtype during rescaling (as well as in the composite op `tf.image.crop_and_resize()`) is the most aggravating problem with the status quo, because short of casting back to uint8_t again there's no way to avoid float for the parts of the pipeline

[2017-03-27 18:40] sguada commented on #7738
You can still use all layers and slim.arg_scope with tf.contrib.layers but not with tf.layers.

[2017-03-27 18:43] sguada commented on #8288
The variables and regularization should be created in advance.

[2017-03-27 18:44] sguada commented on #5488
Can you do a PR to tensorflow/models with the fix?

[2017-03-27 18:45] virl commented on #491
For everyone interested in official eGPU support in macOS, I recommend creating a ticket in Apple's bug reporter: https://bugreport.apple.com/logon
And mentioning my ticket via "Also see rdar://29836015"

[2017-03-27 18:46] andrewharp commented on #8587
@jubjamie I haven't seen the INSTALL_FAILED_NO_MATCHING_ABIS error before -- can you describe where you're seeing that and what the fix was?

I've made a change internally to apply @sam-trt's fix to download-model.gradle and build.gradle; should be pushed within a day or two.

[2017-03-27 18:47] pedropgusmao commented on #8466
Hi everyone. I was also using a Power8 with IBM's packages (https://www-01.ibm.com/common/ssi/cgi-bin/ssialias?htmlfid=POO03514WWEN&) which included Tensorflow 1.0.0 . I solved the problem by using CUDA8 for Power8, which is NOT(!!!!) the same for the general pc64_el architecture. You must use the cuda-repo-ubuntu1604-8-0-local-ga2_8.0.54-1_ppc64el-deb from https://developer.nvidia.com/cuda-downlo

[2017-03-27 18:50] gunan commented on #8702
bzl files are written in skylark. It is similar to python, but does not run under a python interpreter.
You can read more about it here:
https://bazel.build/versions/master/docs/skylark/index.html

[2017-03-27 19:05] martinwicke commented on #1763
I have changed the title of this to reflect that. I think this is an excellent feature request. The constraints are that we cannot change existing behavior, but adding a `maintain_dtype=False` arg and prominent documentation would be good.

[2017-03-27 19:06] abdasgupta commented on #8466
@skye  I ran the tensorflow training on bare-metal. The error is sporadic; though after using Tensorflow 1.0.1, the error is seldom coming within 50000 iterations.  I am collecting stacktrace with "strace -p <pid>" and during the error , it only shows waitpid(-1), nothing more.
@pedropgusmao Yes, I am using CUDA8 from cuda-repo-ubuntu1604-8-0-local-ga2_8.0.54-1_ppc64el-deb from https://developer.n

[2017-03-27 19:13] asimshankar commented on #8712
Could you elaborate a bit on the major overhead? The relative numbers would depend on the computation  being performed. For example, in [label image example](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/java/src/main/java/org/tensorflow/examples/LabelImage.java), where the image fed is about 600KB (~150K 32-bit floats), creating the `Tensor` takes about ~100μs while executing th

[2017-03-27 19:29] ashern commented on #6132
I see in the repo that Estimator has been promoted to core from contrib for 1.1 - great news.

Briefly checking in on this issue - will the deployed implementation handle multiple GPU device assignment & soft placement?

Many thanks for the hard work!

[2017-03-27 19:35] jhseu commented on #8687
I haven't been able to reproduce the issue. If you modified the code, mind posting it to gist.github.com?

It doesn't crash on OutOfRange for me. I'm using Cloudera quickstart for HDFS:
`docker run --hostname=quickstart.cloudera --privileged=true -t -i -p 8020:8020 -p 8022:8022 -p 50070:50070 cloudera/quickstart /usr/bin/docker-quickstart` and running against `hdfs://localhost:8020/`

[2017-03-27 19:36] Androbin commented on #8712
Thanks for the elaboration!

My graph should look roughly like this:
[code]

btw. batch size is 1 during inference

[2017-03-27 19:45] lukaszkaiser commented on #654
I'd recommend using the google/seq2seq github repo. It's a very good, complete and maintained seq2seq implementation. Beam search is here: https://github.com/google/seq2seq/blob/master/seq2seq/inference/beam_search.py

[2017-03-27 19:45] #654 closed

[2017-03-27 19:47] asimshankar commented on #8712
Could you also share the profiling code you use to determine the 99.9% cost for feeding (and perhaps the absolute numbers of those times)? I'm surprised that the copies will be costing you 99% in such a graph.

[2017-03-27 19:50] martinwicke commented on #6132
​Yes, the core estimator uses soft placement, and multi-GPU training should
work.

[2017-03-27 19:50] Androbin commented on #8712
@asimshankar I just used the built-in "Method Tracing" functionality of ADB as it is directly integrated in Android Studio.

[2017-03-27 19:56] ashern commented on #6132
Excellent. Time to put my homespun solution to rest...

Many thanks, Martin. Appreciated your overview at the summit!

[2017-03-27 19:56] #6132 closed

[2017-03-27 20:14] pedropgusmao commented on #8466
@abdasgupta , I am also using  Nvidia  Driver Version: 361.10. From line `export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/lib/nvidia-375/ && \` and `docker run` it seems that you are using the new 375 driver. Could you try and downgrade to 361.10?

[2017-03-27 20:22] snowcxt commented on #37
+1

[2017-03-27 20:36] StefanoD opened #8759 "Simple add tensor example fails"
### Environment info
Operating System: Ubuntu 17.04

Installed version of CUDA and cuDNN:

[code]

If installed from binary pip package, provide:

1.0.1

### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)

[code]

Output:

[code]

Expected result should be

[code]
It seems, tensorflow reads uninitialized memory, because somet

[2017-03-27 20:43] damienmg commented on #8731
What's in the .bazelrc file? If the --action_env change is not in, then if the environment is dropped, the CUDA configuration get unconfigured.

[2017-03-27 20:44] damienmg commented on #8731
https://github.com/tensorflow/tensorflow/commit/fba05c300bf6840e76787680ed7fd1239cdb9ad0 is not in 1.1 branch

[2017-03-27 20:52] raingo opened #8760 "[bug] tf.shape"
Please expose the `optimize` flag of the `array_ops.shape_internal` for `tf.shape`.

The current `tf.shape` use `optimize=True` as default, but sometimes we do not want `tf.shape` return the constant. The resulting graph can not be imported by the android runtime.

[2017-03-27 21:00] guschmue commented on #8724
I think /arch:avx and /arch:avx2 work, the later I have used builds with. But /arch:avx2 compiles broke for the master some time ago ... can try to find time fix this (can't be much since it used to work).

[2017-03-27 21:05] andrewharp commented on #8712
@Androbin @asimshankar I just gave this a shot on my own. I think something about the method tracing in Android Manager is interfering with the operation of the inference thread, as I noticed the iterating speed slows down by more than an order of magnitude.

If I directly log the relevant sections while running Inception v1 (5h) on my Pixel with org.tensorflow.demo.env.SplitTimer, I get this:
[co

[2017-03-27 21:06] gunan commented on #8713
Thanks for the tip.
Then I am sending #8761 to test it out and remove bazel fetch from configure.

[2017-03-27 21:06] RuofanKong opened #8762 "`tf.device()` issue"
I posted my issue about In-graph replication for Distributed Tensorflow on StackOverflow: http://stackoverflow.com/questions/43036201/in-graph-replication-for-distributed-tensorflow. I wonder if there is a bug in terms of `tf.device()`, as I expect each process has its own log instead of print out message that belongs to other block of `tf.device()` like my example there. Thanks!

[2017-03-27 21:27] GaelReinaudi opened #8764 "configure hangs on download and aborts"
Hi,
I am trying to compile tensorflow from source.
when I run ./configure, things start to be downloaded, but generaly, it will hang for ~10s at a large download (>~30MB), and aborts with such error:
`ERROR: /home/user/f/dependRepos/serving/tensorflow/tensorflow/compiler/xla/service/cpu/BUILD:449:1: no such package '@llvm//': java.io.IOException: Error downloading [http://bazel-mirror.storage.goog

[2017-03-27 21:42] emsansone commented on #8751
Solved at http://stackoverflow.com/questions/43042334/loading-new-operation-in-tensorflow-alreadyexistserror

[2017-03-27 21:42] #8751 closed

[2017-03-27 21:59] Carmezim commented on #8724
@guschmue Nice. AVX2 is at least configuring, didn't try to compile yet though as were trying to figure it out how to use the others.
So SSE and others really don't work with MSVC? Is there any workaround to compile using them as well, SSE, FMA etc with CMake?

[2017-03-27 22:12] guschmue commented on #8724
https://msdn.microsoft.com/en-us/library/7t5yh4fd.aspx says SSE and SSE2 should work too but have not tried those.

[2017-03-27 22:30] #8439 closed

[2017-03-27 22:34] girving commented on #8439
@scott-gray @yaroslavvb Custom ops with submodules should work now.

[2017-03-27 22:35] Carmezim commented on #8724
@guschmue Well noted. I personally was trying for x64 arch but is good to know. Do you know if is possible to select GCC as the compiler and build with MSYS2 for instance with `-march=native` enabled or is it too much of a hack? I know other compilers like Intel's allow SSE4.2 for instance but MSVC is a bit limited.

[2017-03-27 22:40] girving commented on #8439
Or rather, `tf_kernel_library` probably works too, but it wouldn't be usable from Python (which defeats the purpose).

[2017-03-27 22:50] gidim commented on #654
@lukaszkaiser any plans on adding beam search to tensorflow from google/seq2seq?
The google/seq2seq repo seems very good for experimentation but it does a lot of things different than TF (e.g., conf files to define classes).

[2017-03-27 22:57] gunan commented on #8764
I have sent #8761 to remove downloads from `configure` script. However, this means downloads will happen automatically during bazel build. Unfortunately, we have to have the dependencies downloaded to build the code, the PR just changes when they are downloaded.

Looking at your logs, I see that there is:
`Tried to reconnect at offset 7,935,828 but server didn't support it.`
So maybe we should rem

[2017-03-27 22:59] lukaszkaiser commented on #654
I think we always welcome contributions and stable things moving to tf.contrib, but I'll not be working on it personally.

[2017-03-27 23:02] gunan commented on #8752
Unfortunately, TF does not support GPUs that do not have CUDA Compute Capability older than 3.0:
https://www.tensorflow.org/install/install_linux

[2017-03-27 23:09] gidim commented on #654
thanks @lukaszkaiser. If I end up implementing it i'll send a pull request.

[2017-03-27 23:12] fchollet commented on #8137
It's planned to add support for `data_format` argument values such as `NHWC`, etc. It will be easy, too, and we'll get to it soon. @martinwicke: what do you mean by "modes we don't support", is it e.g. `C*` formats? Or is it the fact that a lot of TF ops support some formats but not others? (e.g. `conv3d`, `bias_add`, etc...

[2017-03-27 23:13] lukaszkaiser commented on #654
Great! I think tensorflow/contrib/seq2seq/ would be a good place for it.

[2017-03-27 23:22] wtl commented on #8752
@gunan Whether can pass the modify the code to implement it？

[2017-03-27 23:36] ebrevdo commented on #5676
Replicated only part of the error in python3:

[code]

returns

[code]

On Mon, Mar 27, 2017 at 11:17 AM, Martin Wicke <notifications@github.com>
wrote:

[2017-03-27 23:43] martinwicke commented on #8137
Exactly, what to we do when we encounter a partially unsupported format. I guess we could let the inside ops error out if they wish. When we start allowing HW and WH modes we also have to be careful about what should happen when they are mixed (can they be?)

[2017-03-27 23:43] ybsave commented on #7412
@jart Co-Ask? Will this problem in Windows been solved soon?

[2017-03-27 23:47] ebrevdo commented on #5676
That said, running:

returns

DecodeError: Unexpected end-group tag.

in other words, looks like the proto is invalid once written?  weird.
 looks like an error by the TFRecordWriter?

this works just fine:

[code]

so looks like the issue is somewhere in the TFRecordWriter or
TFRecordReader.

On Mon, Mar 27, 2017 at 4:36 PM, Eugene Brevdo <ebrevdo@gmail.com> wrote:

[2017-03-27 23:53] gunan commented on #8752
TensorFlow team will not work on this, as we decided to limit our official support to 3.0 and later.
Older GPUs do not bring as much speed to justify the effort and added complexity required.
You can try yourself, or try to sync with other users through stackoverflow.

[2017-03-27 23:53] #8752 closed

[2017-03-27 23:58] ggfan commented on #8587
Here is build procedure I used on Ubuntu:

1. Using Android Studio 2.3.0,  import the project ( file --> new --> import (Select Eclipse or Gradle Project to import) --> example/android/build.gradle
2) Let Android Studio to create wrapper for the project ( click OK)
3) in build.gradle, change "def buildWithMake = true"  ( this should not matter too much: bazel build is the same )
4) make sure this

[2017-03-28 00:28] aselle commented on #8371
Did you possibly produce the saved model with a different version of tensorflow as you are trying to run it?
@petewarden, do you have any makefile tips?

[2017-03-28 00:35] aselle commented on #8710
@mrry, any knowledge of whether windows fft is known broken work?

[2017-03-28 00:40] ggfan commented on #8587
Ok, I see it is IDE "run" button causing the trouble: need to remove assembleRelease.dependsOn when building for debug ( vice versa ).  So just comment that line would be fine, a patch pretty soon to fix it.

[2017-03-28 00:53] omar-florez commented on #7031
Just to contextualize, these changes have been placed to have a consistent format with Numpy. Ex: numpy.concatenate((a1, a2, ...), axis=0)

[2017-03-28 01:11] DjangoPeng commented on #8687
@jhseu Please check my code [here].(https://gist.github.com/DjangoPeng/07d8bfb8f0c412318e4fb6473ec2f56b)

[2017-03-28 01:40] jekbradbury commented on #8337
I'm seeing this error on CPU (1e33acb381430ed0004eb76b98181624af267b2c), so it's not entirely a GPU thing:
[code]

[2017-03-28 01:45] caisq commented on #8337
@jekbradbury It will be helpful if you could provide some code for reproducing this error on our and and let us know how reproducible (% time it happens) this crash is. Thanks.

[2017-03-28 01:56] jekbradbury commented on #8337
My guess is that I've done something dumb in the optimization routine (I'm getting NaNs, which is why I tried the debugger). But here's the gist anyway https://gist.github.com/jekbradbury/05e9f17776771f1f501919b7eff58c7f -- it has happened all three times I've tried running it with the debugger; the error comes on the second use of `run` (the first time the optimization routine happens). On v1.0 s

[2017-03-28 02:13] jart commented on #7412
Thank you for your patience. We've only recently introduced Windows support. Bringing contrib support to Windows is something we're still working to accomplish. Please follow #6791 for updates.

[2017-03-28 02:13] #7412 closed

[2017-03-28 02:29] GaelReinaudi commented on #8764
So if I understand correctly, I can ignore this during ./configure and bazel will download the needed packages anyway...
Thx

[2017-03-28 02:29] #8764 closed

[2017-03-28 02:49] eaplatanios commented on #6268
@suharshs Is there any estimate on when the C++ gradient calculation will be exposed via the C API?

[2017-03-28 02:55] BrianOn99 commented on #4863
I have figured out what you mean.  So both `cwise_op_mul_1.cc` and `REGISTER5` macro need change.  Thanks.

[2017-03-28 03:05] caisq commented on #8337
Thanks @jekbradbury , your code reproduces the issue on my machine (CPU only).
Also, @al626 's code also errors out on my GPU machine, but works fine on CPU-only.
These may be different manifestations of the same issue. We'll look into it.

[2017-03-28 03:10] yejw5 commented on #349
Thanks @malfet @dat-ai

[2017-03-28 03:14] ritterliu commented on #6082
"when you tried to restore, use the full relative path ./model_epoch10 rather than model_epoch10"
It works, thank you

[2017-03-28 03:28] caisq commented on #8753
@hqqxyy It would be most helpful if you could provide a code to reproduce this issue. Thanks.

[2017-03-28 04:01] suharshs commented on #6268
Hi Anthony, I have a change to expose it in the works. It trickled down
into some other changes so hopefully in a week or two. I'll keep you
posted!

On Mon, Mar 27, 2017, 19:51 Anthony Platanios <notifications@github.com>
wrote:

[2017-03-28 04:17] raady07 opened #8769 "AttributeError: module 'tensorflow' has no attribute 'confusion_matrix'"
I am using GPU version of tensorflow 0.12.1 and python3.5 for building a CNN network.
When I am trying to compute confusion matrix it gives me the error.

`confusion = tf.confusion_matrix(labels = y_, prediction = y, num_classes = model.No_Classes)`

y_ is the input labels that I am giving to the network and y is the output of my CNN network. model.No_Classes = 4 an integer value.

is there packag

[2017-03-28 04:24] NickPoon opened #8770 "tf.contrib.seq2seq.sequence_loss with tf.nn.sampled_softmax_loss"
There maybe an incompatible matmul when use `tf.contrib.seq2seq.sequence_loss` together with `tf.nn.sampled_softmax_loss`. `sampled_softmax_loss` need a rank 2 tensor as its label, however in `sequence_loss`, the label has been reshape to [-1], which will raise an error:
ValueError: Shape must be rank 2 but is rank 1 for 'sequence_loss/sampled_softmax_loss/MatMul_1' (op: 'MatMul') with input shape

[2017-03-28 05:00] rayhu commented on #8674
Thank you guys. The issue of gcr image is gone. I am not aware of anything I did differently this time.

[2017-03-28 05:05] impressprogram commented on #8738
@gunan thank you!! It works now!

[2017-03-28 05:05] #8738 closed

[2017-03-28 05:17] strickon commented on #6698
Have the same problem windows 10 cudnn 5.1 cuda 8 gtx 1060

[2017-03-28 05:17] LMescheder commented on #3061
Apparently, MonitoredSession does not solve the issue (see [here](https://github.com/tensorflow/tensorflow/issues/6624)).

[2017-03-28 06:09] sria91 commented on #8575
@Srigowri By default, the model gets downloaded to `/tmp/imagenet`. Delete that folder and run `image_retraining` again.

[2017-03-28 06:40] raady07 commented on #8769
I have upgraded to tensorflow 1.0.1 and this works !

[2017-03-28 06:40] #8769 closed

[2017-03-28 06:55] hqqxyy commented on #8753
@caisq
Hi, I try to reproduce this issue in the mnist example. It also wrong in line 928 of debug_data.py. But it is wrong with

My code is as follows, I only change the mnist example's data_reader with

[code]

[2017-03-28 07:12] naatje80 commented on #8652
Dear skye,

thank you for your response. Triggered by your question, I found out that this issue is only occurring when using the Keras module. When I use the Tensorflow module directly I'm not able to reproduce the issue. I assumed that the tensorflow was the issue, as issue #3388 was also occurring at the same moment when I ran my Keras test scripts. Next to that, the error message also reported

[2017-03-28 07:26] auxs2015 opened #8771 "Tensorflow 1.0 RNN weights already exists"
i  got a error
[code]

[code]

[2017-03-28 08:09] falaktheoptimist commented on #8265
We have found the fix to this memory leak issue- it's a minor tweak. We'll send in the pull request as soon as our CLA gets approved (we're just waiting for that).

[2017-03-28 08:33] jubjamie commented on #8587
@ggfan Building the APK isn't an issue, it was running through the IDE as you pointed out. Building with Bazel is fine and not causing the problem so no need for step 3 (however I guess it's personal preference? Or is one method preferred?)

@andrewharp the INSTALL_FAILED_NO_MATCHING_ABIS error is caused when your app has native libraries but none for the cpu architecture that you are installing o

[2017-03-28 08:38] BrianOn99 commented on #8550
I have another unrelated question about "TF Stylize", but I cannot find another place to ask for.  The problem is about generation of the model.  Trying to reproduce the `stylize_quantized.pb` file, I modified the [magenta project](https://github.com/tensorflow/magenta), to get the graphDef:
[code]
[code]

where `shape=[32]` is the number of styles in the officially provided model `multistyle-past

[2017-03-28 09:10] ivijay opened #8772 "Symbol not found: _SSLCreateContext in Python REPL"
I have installed tensorflow 1.0.1 (cpu version) on Mac as following .

`sudo pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.0.1-py2-none-any.whl`

At the end of installation, I got the following message:
`Successfully installed tensorflow-1.0.1`

But unable to import the libraries in python.

### What related GitHub issues or StackOverflow threads have you fou

[2017-03-28 09:42] mooneyj commented on #4841
export TF_NEED_CUDA="1" solved the issue for me also, thanks @jinhou
My system: Ubuntu 16.10, Cuda 8.0.61, Cudnn8.0, NVIDIA linux 378.13 (.run).

[2017-03-28 10:37] xiaoguai0992 opened #8773 "Can I use tensorflow on Windows10 with c++ and gpu support"
I wish to use tensorflow on windows10 with c++ and gpu support. Is there any pre build SDK for windows? Or I need to compile from sources?

when I tried to compile on windows with cmake and MSVC, smaple trainer cannot build correctly because of some header files missing, such as "graph.pb.h". Is there any solutions?

ENV:
windows10 vs2015 cmake3.6.2

[2017-03-28 11:14] zsxgb opened #8774 "can not import tensorflow"
I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcublas.so.8.0 locally
I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcudnn.so.5 locally
I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcufft.so.8.0 locally
I tensorflow/stream_executor/dso_loader.cc:126] Couldn't open CUDA library libcuda.so.

[2017-03-28 11:17] zsxgb commented on #8774
https://github.com/tensorflow/tensorflow/issues/6233
I have a similar problem
The last time, as if to change a setting, the problem was solved. Six months later, I found that the problem came again.
I found my question from google, carefully read every answer, I still have no way to solve this problem and disappear, is random Mody I used the good, suddenly appeared again

[2017-03-28 13:02] Careenn commented on #362
Thanks! it does help!!!!
Now I'm studying the newly tensorflow version based on the windows platform, and some demo codes of the guide TENSORFLOW.ORG gave do have some error, probably this guide is for python version 2.x, but the new tensorflow is based on python version 3.5.x.....

[2017-03-28 13:10] #8587 closed

[2017-03-28 13:38] mhnatiuk opened #8775 "Attention Decoder"
Hi,
@ebrevdo Eugene speaks here https://www.youtube.com/watch?v=RIR_-Xlbp7s (29:50) about a class AttentionDecoder and says it's under development (as of Tensorflow Summit date), however I can't find this class anywhere in the master/r1.1/r1.0 tensorflow code. Do you know when it will be added?

[2017-03-28 14:12] mrry commented on #362
@Careenn If you have links to the tutorials that don't work in Python 3.5.x, please send them in a new issue (or sending a pull request that fixes them would be even better!).

[2017-03-28 14:13] Androbin commented on #8712
@asimshankar So, what would have the least overhead?
Filling a previously allocated float[] and finally calling `FloatBuffer.wrap(float[])` each time
or calling `FloatBuffer.put(float)` on a previously allocated direct buffer in native byte order?

[2017-03-28 14:21] jwayne opened #8776 "tf.case giving unexpected result in TF 1.0.1"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

I posted this SO question on 2017-03-10 which was never answered: http://stackoverflow.com/questions/42728235/tensorflow-why-is-tf-case-giving-me-the-wrong-result

### Environment info
Operating System: `Linux 312e492cd9df 4.4.0-66-generic #87-Ubuntu SMP Fri Mar 3 15:29:05 UTC 2017 x86_64

[2017-03-28 14:24] cnzero commented on #6048
@jart Hi. I am a new learner of TF. And I have similar problem as the above. I have tested the solution of @poxvoculi , but it didn't work anyway.
The following is my problem description:
Codes are from the TF official website, [Basic usage](https://www.tensorflow.org/get_started/get_started#basic_usage)
I set up a virtual environment of Python+TensorFlow-gpu on Ubuntu 16.04
terminal prompting inf

[2017-03-28 14:27] Srigowri commented on #8575
Thanks 👍  @sria91

[2017-03-28 14:35] Gitsamshi opened #8777 "scope issue of '_linear' method in 'tensorflow.python.ops.rnn_cell_impl' module"
In 'core_rnn_cell_impl' module _linear method, the arg 'scope' is not used in the method, easily causing variable conflicts. eg:
with tf.variable_scope(scope):
        zw = core_rnn_cell_impl._linear(self.hyper_output, self.hyper_embedding_size, False, scope=scope + "z")
        alpha = core_rnn_cell_impl._linear(zw, dimensions, False, scope=scope + "alpha")
zw, alpha(forgive me for the indent in

[2017-03-28 15:31] eaplatanios commented on #6268
Sounds good! Thanks for the update Suharsh! :)

[2017-03-28 15:56] ebrevdo commented on #8775
We need to update that video somehow.  It turns out it's cleaner to
implement attention as an RNNCell wrapper rather than decoder.  This way it
can be combined with other decoders easily.  See tensorflow master branch,
tf.contrib.seq2seq.AttentionWrapper.  It's pretty feature complete, and can
be used with other RNNCells, wrappers, and the BasicDecoder.

On Tue, Mar 28, 2017 at 6:38 AM, mhnatiuk <

[2017-03-28 16:00] matekm opened #8778 "Getting started: anaconda and tensorflow"
Hi,

when you install tensorflow from anaconda, it does not provide any models as they are (probably) not part of the pip package. Could you update the documentation so it's states that you need to download the models manually?

Thanks!

[2017-03-28 16:03] alexvicegrab commented on #7278
@girving True, but making a slower version (how much slower?) to some extent defeats the point of implementing separable convolutions, I was hoping to use (or create) a fast version that can take advantage of hardware acceleration, but I'm not sure how to go about it, since I can't seem access the native code of the nn_ops.depthwise_conv2d_native, unless I've been looking in the wrong places. Othe

[2017-03-28 16:07] vtansaku commented on #3008
@ilblackdragon When you say "if your model function returns something like this return {'probability': probs, 'class': tf.argmax(probs, axis=1)}, loss, train_op", can you give an example of what you define for probs?

[2017-03-28 16:07] girving commented on #7278
Here's the native op: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/depthwise_conv_op.cc

[2017-03-28 16:13] Bihaqo opened #8779 "Contrintuitive get_variable dtype checks"
When reusing variables get_variable checks if dtypes are consistent, but it seems to compare the wrong dtypes.

Example:
[code]
Here the TF will compare dtype of existing variable `a` (tf.int32) against the dtype of the next get_variable call, which is tf.float32 (which is the default value for dtype argument of get_variable).

The resulting situations where get_variable raises ValueError seems co

[2017-03-28 16:27] poxvoculi commented on #6048
Please look again at my earlier post and the stackoverlfow post you cite.  According to your logging messages, you're trying to allocate 7.92GB from a GPU that has only 7.30GB free.  You need to reduce the allocation fraction using tf.GPUOptions.

[2017-03-28 16:28] guschmue commented on #8724
not sure if you'd get gpu work with gcc on windows.

[2017-03-28 16:33] yaroslavvb commented on #8762
I don't believe this is a bug, but rather a misunderstanding of how distributed TensorFlow works, someone in SO posted links to some docs

[2017-03-28 16:35] yaroslavvb commented on #8717
We've observed similar crashes. I suspect incompatibility of TensorFlow official release with Ubuntu 14.04, something possibly related to jemalloc. The work-around is to do following:

[code]

[2017-03-28 16:35] Carmezim commented on #8724
oh yeah, but for CPU would work something like Cygwin to build right?

[2017-03-28 16:38] andrewharp commented on #8587
@jubjamie Right, if building with Gradle you need to manually select the right ABI. If running in an emulator, for example, typically you'll want to select x86 or x86_64.

It's possible to use bazel to build for multiple ABIs at a time with the --fat_apk_cpu flag. [android_full.sh](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/builds/android_full.sh) (which is how

[2017-03-28 16:41] jubjamie commented on #8778
Which models are you referring to that require manual downloads? And where are you installing from. If you are installing via conda install (and downloading from a conda repository) then that conda copy of Tensorflow is not maintained by the Tensorflow team. It's community run.
For the normal pip version I dont think i've had a problem. However, note that a lot of the models are downloaded via scr

[2017-03-28 16:49] jubjamie commented on #8587
@andrewharp yeah I did notice the flag in the gradle file. I haven't had a big play around with building for multiple targets as I wanted to get in Android Studio to help me understand the code etc.
I am a newbie to a lot of this so I might not jump at the multi-ABI in gradle task but if I come across needing to do it in the next couple of weeks then I can add that to my android pull request.
I no

[2017-03-28 16:52] #8713 closed

[2017-03-28 17:00] andrewharp commented on #8587
@jubjamie The bazel-built APK from android_full.sh will work on all 4 of those architectures.

If you want to simulate this with the Gradle+bazel build, you can manually change the `cpuType` variable in build.gradle to each in turn and hit build. The built native libraries will accumulate in the `jniLibs` directory, and Gradle will package them in the resulting APK. You can see what libraries actu

[2017-03-28 17:07] jubjamie commented on #8587
@andrewharp so if I build the APK 4 times after changing the cpu type, all of them will get packaged because the binaries (or whatever) accumulate in the Libs folder etc? Because if so then looping gradle automatically might not be too tricky for me to have a stab at.

Re: cmake. Ok. I was hoping I could get it working on Windows with make. I feel like I hit some errors before. Might give it anoth

[2017-03-28 17:13] mrry commented on #8710
That looks like an out-of-memory error (return code 2—from `failed to create cuFFT batched plan:2`—is `CUFFT_ALLOC_FAILED`).

[2017-03-28 17:15] andrewharp commented on #8587
@jubjamie
Yes, that's exactly how it would work if you want to take a crack at it :)

Unfortunately the make build doesn't work on Windows out of the box. [This](https://github.com/tensorflow/tensorflow/issues/6385#issuecomment-285208600) is the current easiest way I know of to build Android TensorFlow on Windows. It should be approximately the same amount of effort to use this approach for either

[2017-03-28 17:19] jubjamie commented on #8587
@andrewharp I am definitely not knowledgeable enough  to help with cmake stuff but I might give the gradle bits a go if I find some time in the next week or so. When/If I have a go I will add it my currently open Pull Request (or make a new one) and we can continue the conversation there.

Thanks for your help with this particular issue and android in general. I'm still struggling to understand ho

[2017-03-28 17:19] increasechief commented on #8743
Have you tried creating a symlink in /usr/local/bin with the path to execvp()?

[2017-03-28 17:22] andrewharp commented on #8550
@keveman Any ideas here?

[2017-03-28 17:22] raingo commented on #6429
Just realized this is implemented. Nice!

[2017-03-28 17:22] #6429 closed

[2017-03-28 17:30] andrewharp commented on #6738
@lukeisontheroad We're still moving around stuff internally, it's ending up being a bit tricky to open-source. In the meantime there is the [TF YOLO detector](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/src/org/tensorflow/demo/TensorFlowYoloDetector.java) which you should be able to find training walkthroughs for online.

[2017-03-28 17:31] RuofanKong commented on #8762
@yaroslavvb Thanks for your response! I read the link there, but it still seems ambiguous about my issue, probably I missed something there. If possible, could you help to take a look? Also, I read distributed tensorflow multiple times, is there any other docs to recommend?

[2017-03-28 17:33] gunan commented on #8743
I checked again, and this may be your problem:
[code]
Looks like `as` is not installed in your system
Could you try `sudo apt-get install build-essential`

[2017-03-28 17:40] yaroslavvb commented on #8762
Bulk of the documentation exists as comments in source code. I've posted some explanations in these SO answers:

http://stackoverflow.com/questions/40819321/understanding-the-conceptual-basics-of-distributed-tensorflow/40873770#40873770

http://stackoverflow.com/questions/41067398/task-assignment-in-tensorflow-distributed-process/41069059#41069059

[2017-03-28 17:40] #8762 closed

[2017-03-28 17:44] #8569 closed

[2017-03-28 17:44] #8674 closed

[2017-03-28 17:45] gunan commented on #8674
Thanks for checking again. I will then close this issue.

[2017-03-28 17:45] yaroslavvb commented on #6256
@alextp 's work on eliminating numpy copies (ie 5e2cef71 ) could potentially help speed up these local server situations (ie, currently we feed numpy arrays obtained from ALE/Mujoco at each train step, and networks are tiny)

[2017-03-28 17:47] aselle commented on #8554
@yuanbyu, do you think there is a way we could make this failure case in tf.map_fn more intuitive to detect?

[2017-03-28 17:48] bowang commented on #8569
@panyx0718 Can you refer me to the commit that fixes this issue?

[2017-03-28 17:49] asimshankar commented on #8712
@Androbin : That is probably more suited as a question on [stackoverflow](http://stackoverflow.com/questions/tagged/tensorflow) as we try to keep github issues focused on TensorFlow bugs and feature requests.

Since the original issue here seems to be some issue with the interaction with the Android Method Tracer, but not really a performance issue with the feed, I'm tempted to close this out. (If

[2017-03-28 17:49] #8712 closed

[2017-03-28 17:51] aselle commented on #8431
@zheng-xq, do you have any insights into the performance of dilated conv's?

[2017-03-28 17:55] panyx0718 commented on #8569
https://github.com/tensorflow/tensorflow/commit/404db0358aacc0fc2319fc333df4cc5bc0fc404a

On Tue, Mar 28, 2017 at 10:50 AM, Bo Wang <notifications@github.com> wrote:

--
Thanks
Xin

[2017-03-28 17:56] asimshankar commented on #8558
Done. You can currently see this on the version 1.1 page: https://www.tensorflow.org/versions/r1.1/api_docs/
and once the 1.1 release is finalized, that https://www.tensorflow.org/api_docs will look the same.

Thanks for making the bindings!

[2017-03-28 17:56] #8558 closed

[2017-03-28 17:56] gunan commented on #8764
You are correct. With bazel 0.4.5, we do not need to run bazel fetch separately anymore.
#8761 is just merged, and it should also help clarify such confusions going forward.

[2017-03-28 17:59] bowang commented on #8569
Thanks @panyx0718

[2017-03-28 17:59] MikeInnes commented on #8558
Awesome, thankyou!

[2017-03-28 18:08] aselle commented on #8431
What is a lot of memory? It looks like from the log the tensor it is allocating was 148MB? What GPU do you have? How much memory does it have? Does it work if you write checkpoints frequently and restart? That would verify if it is a memory leak. @zheng-xq

[2017-03-28 18:11] aselle commented on #8399
Yes, it is really unfortunate that this happens. We're looking for a solution...

[2017-03-28 18:13] ananthnagaraj opened #8780 "Cannot import tensorflow in python"
I get the following error when I try to import tensorflow in  python
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named tensorflow

Python Version:-
Python 2.7.10 (default, Jul 30 2016, 19:40:32)
[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.34)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Tensor Flow Ve

[2017-03-28 18:15] aselle commented on #8362
Since this doesn't seem to be a bug, closing here. I added a comment on stackoverflow.

[2017-03-28 18:15] #8362 closed

[2017-03-28 18:18] gunan commented on #8780
Some common issues are mentioned at the end of our installation guide:
https://www.tensorflow.org/install/install_mac#common_installation_problems

I am pretty certain that this is not a bug in TF, it is an issue in your setup.
Therefore, I recommend asking in StackOverflow if the installation guide does not help resolving your problem.

[2017-03-28 18:18] aselle commented on #6599
Could you provide a complete test case that exhibits this behavior so we can reproduce this?

[2017-03-28 18:19] gunan commented on #8773
This information is available in our website.
Please make sure you search for solutions before filing issues:
https://www.tensorflow.org/install/install_windows

[2017-03-28 18:21] zheng-xq commented on #8431
The Convolution kernel today doesn't support dilation natively. When the Cudnn support is generally available, we will add the native support.

[2017-03-28 18:23] gunan commented on #8774
You can find where your libcuda.so.1 is located, and add it to your `LD_LIBRARY_PATH` to resolve this problem. You can find where the library is using the "find" command in your terminal.

Closing the issue as it is clearly a user side setup issue, not a bug in TF.
For problems with your own setup, I recommend using StackOverflow.

[2017-03-28 18:23] #8774 closed

[2017-03-28 18:26] aselle commented on #8528
I will take care of updating the docs.

[2017-03-28 18:26] gunan commented on #8778
@jubjamie is correct that all we have about anaconda is community supported.
If you are referring to a tutorial in `www.tensorflow.org`, please feel free to send a PR, as all the documentation there is in our repository.
If this is a tutorial in google developers sites, please share the link so that we can see which tutorial is causing the confusion.
If you are talking about another tutorial, we w

[2017-03-28 18:28] StefanoD commented on #8759
Problem was, that I executed this in Visual Studio Code. I thought this would work, because I referenced the Virtual Env Python Version.

[2017-03-28 18:28] #8759 closed

[2017-03-28 18:29] aselle commented on #8661
Since this is in contrib, we do not officially support this. @purpledog is the original author, but it should be easy to search in the code and find how to switch silence this warning. So a PR would be most welcome. Thank you!

[2017-03-28 18:30] aselle commented on #8665
@petewarden, do you have any insight into this?

[2017-03-28 18:34] aselle commented on #8670
To be clear
[code]
You are worried that these are not the same error? between batch size 1 and 2. Those numbers are practically the same near zero result.  The floating point operations used between different batches may in fact be different between different tensor sizes due to performance auto tuning. Do you have any concrete reason to worry about this? It looks like not a bug to me.

[2017-03-28 18:45] aselle commented on #8723
Actually, I am pretty sure this is correct grammar. already is indeed an adverb so you can use it to modify the verb in a simple sentence.
[code]
But in the present or past perfect it is commonly used next to the main verb instead of hte hlper verb had.
[code]

[2017-03-28 18:45] #8723 closed

[2017-03-28 19:29] skreddy99 opened #8782 "tensorflow.python.framework.errors_impl.InvalidArgumentError: Dimension must be 2 but is 3 for 'transpose_1' (op: 'Transpose') with input shapes: [32,256], [3]."
I am running the carpedm20/attentive-reader-tensorflow at https://github.com/carpedm20/attentive-reader-tensorflow. This is a Tensorflow implementation of Google DeepMind's Teaching Machines to Read and Comprehend.

When I run the command on my terminal:  python main.py --dataset cnn

I get the following error. Can some one suggest how do I fix it?

{'batch_size': 32,
 'checkpoint_dir': 'checkpoin

[2017-03-28 19:38] aselle commented on #8709
@jart, could you take a look. Could it be too old of a version of gcc?

[2017-03-28 19:40] aselle commented on #8718
Could you fix or delegate this @wolffg?

[2017-03-28 19:47] ankitp94 commented on #4721
Update: This feature has been released in TensorFlow 1.1.0-rc0 (released 5 days ago).

Thanks to all contributors.

[2017-03-28 19:48] jcaraban commented on #4762
@yuanbyu was the technical doc finally posted somewhere online? Thanks!

[2017-03-28 19:49] aselle commented on #8720
@ekelsen this appears to be a bug.

[2017-03-28 19:49] Riotpiaole commented on #1645
Same Here we are six v1.10

[2017-03-28 19:49] DavidAwad commented on #37
+1 just for the sake of it

[2017-03-28 19:51] lukaszkaiser commented on #8779
Hmm, it looks like maybe we should simply allow to reuse without specifying dtype? Or is there something else you'd suggest? Looks like we should loosen some checks, but I'm not exactly sure yet which - do you have a suggestion?

[2017-03-28 19:52] gunan commented on #8727
We have seen issues like this in windows before.
Usually, retrying install, or even rebooting can help.

Looks like the issue is resolved for you, so I will close.

[2017-03-28 19:52] #8727 closed

[2017-03-28 19:57] gunan commented on #8659
Closing the issue due to inactivity.

[2017-03-28 19:57] #8659 closed

[2017-03-28 20:03] MClarkTurner commented on #4841
I'll also confirm this works when building from source. I assume this error somehow made it back into the master branch.

[2017-03-28 20:17] #8742 closed

[2017-03-28 20:19] aselle commented on #8725
As @mckinziebrandon  indicates, this question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-28 20:20] #8725 closed

[2017-03-28 20:30] aselle commented on #8729
Likely we will not get to this feature request quickly. I'd suggest asking on stackoverflow if someone has an elegant way to implement this. Otherwise, we'd welcome a contribution from anybody who has time to implement this. To insert zeros you might try using
[code]

[2017-03-28 20:36] jorgemf commented on #8670
@aselle It is almost near 0 in that example, but I have a trained model that the error accumulates and it is close to 0.4 which it is a lot when the expected output is between 0 and 1, and what lead me to investigate further what was going on. My model is inception_v1 plus a couple of full connected layers.

I don't mind the floating precision point error. But I expect that error to be consistent.

[2017-03-28 20:52] gunan commented on #8602
I don't think this is a TF bug. This is an issue with user setup, so should be asked in Stackoverflow. I will close this issue. I also want to clarify a few things.

TF will only see `CPU:0`. CPU:x where x is not 0 will give you errors in your code.
I do not understand what you mean by handling parallelization. Operating system manages parallel processes running on CPU. If you want one process to

[2017-03-28 20:52] #8602 closed

[2017-03-28 20:58] matekm commented on #8778
@gunan yes, I was refering to https://www.tensorflow.org/versions/r0.10/get_started/os_setup#run_a_tensorflow_demo_model

It would be very helpful if that doc would inform the reader that if he installed tensorflow using anaconda, he needs to download model files from https://github.com/tensorflow/models and add them to the PATH.

[2017-03-28 21:12] gunan commented on #8778
The documentation you linked is for 0.10.
If you install 0.10, the documentation is correct.
But if you install a later version of TF, you will need to refer to the documentation for that version.

Does that answer your concern?

[2017-03-28 21:19] liuyipei commented on #8702
@gunan thank you for that. I was so confused and frustrated earlier! I have submitted a fix for systems like mine.

[2017-03-28 21:32] liuyipei commented on #8702
Should I be aiming for r1.1 instead of master with my pull request? https://github.com/tensorflow/tensorflow/pull/8784

[2017-03-28 21:35] mhnatiuk commented on #8775
Ok I tired with LSTMBasicCell and got "state has no attribute attention" exception.. looks like a bug

[2017-03-28 21:35] mhnatiuk commented on #8775
I will review and report back

[2017-03-28 21:59] aselle commented on #8760
@petewarden, do you have any insight into this?

[2017-03-28 21:59] aselle commented on #8755
Thanks for the help. Please link the PR when you have submitted it.

[2017-03-28 22:01] #8741 closed

[2017-03-28 22:01] aselle commented on #8741
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-28 22:03] aselle commented on #8328
@zheng-xq, I don't know if this is a gpu issue, but is there anyway we can improve the error message here?

[2017-03-28 22:04] aselle commented on #8231
@carltonwang, did you try @yaroslavvb's memory analyzer. Perhaps with and without using tf.nn.softmax to get a baseline.

[2017-03-28 22:11] gunan commented on #8702
No, all pull requests should first go into master.
Thanks for the contribution!

[2017-03-28 22:20] agupta74 commented on #5722
I am observing the issue where "Host to Device" data tx. does not overlap with GPU execution using the rotating buffer code (published by TimZaman on Dec 11, 2016). Is this a known issue? I also tried Stage/Unstage APIs but have the same issue. It looks like that there is a plan to publish the scripts in order to perfrom "Async Host to Device transfers" (as mentioned by zheng-xq on Feb 13 in  #452

[2017-03-28 22:23] left13 commented on #7150
Hello,
Same case here (retrained inception v3 model).
I followed everything but still have the same issue like @bazinac had (output leaning always toward single category) when running on android (using the demo example).
Both quantize_graph and eight-bit-calculations(with both quantize_weights and quantize_nodes) have the same issue.
Before quantize - i see speeds at 800ms-1.5sec on each predictio

[2017-03-28 22:43] andrehentz commented on #7150
Hi left13, could you post the full command you are using to quantize using the 'eight-bit-calculations'?

[2017-03-28 22:52] yaroslavvb commented on #5722
@agupta74 releasing of those scripts is tracked in https://github.com/tensorflow/tensorflow/issues/7679

[2017-03-28 22:52] left13 commented on #8682
inception v3 is bigger than 5h and I think the difference in speed that you see is normal.
I run the demo(5h model) at 170ms-450ms on each prediction on a s7 edge exynos and retrained v3 at 800ms-1.5 sec
Using the graph tool here [eight-bit-calculations](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md#eight-bit-calculations) I managed to drop at 450

[2017-03-28 22:54] dandelionmane commented on #8610
@dsmilkov

[2017-03-28 23:04] ymakkapa opened #8785 "uninstall tensorflow from windows"
Hello,
I installed python and tensorflow in windows 10. How can I uninstall it?

Thanks in advance

[2017-03-28 23:08] #8710 closed

[2017-03-28 23:16] Carmezim commented on #8785
Hi @ymakkapa, `pip uninstall tensorflow` will do it if you installed through `pip`.

[2017-03-28 23:17] aselle commented on #8745
@concretevitamin, is this expected behavior for IO?

[2017-03-28 23:21] aselle commented on #8782
We cannot support models provided by others. Please file an issue on that repository directly.

[2017-03-28 23:21] #8782 closed

[2017-03-28 23:23] ymakkapa commented on #8785
Hi @Carmezim , I did as you said. It processed for a while and I got the following errors
![uninstall](https://cloud.githubusercontent.com/assets/20130992/24431763/f609b332-13eb-11e7-8559-32330a3fbae5.PNG)

[2017-03-28 23:25] andrehentz commented on #7150
Would you be able to try the following?
--transforms='add_default_attributes strip_unused_nodes(type=float, shape="1,299,299,3") remove_nodes(op=Identity, op=CheckNumerics) fold_constants(ignore_errors=true) fold_old_batch_norms quantize_weights quantize_nodes strip_unused_nodes sort_by_execution_order'

(The only difference being "fold_constants(ignore_errors=true)")

[2017-03-28 23:27] aselle commented on #8776
[code]
I believe this is your problem. You are constructing a lambda of already created op handles. You need to give the conditional control over when to actually create the ops... i.e.
[code]
You may also need a control dependency between global_step and your case. Honestly, I'd recommend using tf.where for this type of usage anyways.

[2017-03-28 23:28] aselle commented on #8777
@ebrevdo, could you comment please.

[2017-03-28 23:30] aselle commented on #8772
You are using an old version of mac os (lion). We do not support older than El Capitan (10.11).
-A

[2017-03-28 23:30] aselle commented on #8676
@mrry, please take a look.

[2017-03-28 23:31] Carmezim commented on #8785
Can you show what you did before please? Did you install it with `pip install` without GPU support right?
Also, upgrade pip as the warning message suggests.

[2017-03-28 23:32] Panaetius opened #8786 "Problem with processing/displaying RGB images"
I just switched to a build of the r1.1 branch of tensorflow (due to a fixed bug in tfdbg present in 1.0) and without any changes to my model, RGB images saved with tf.summary.image are showing up weird in tensorboard, whereas they showed up fine in all previous versions of tensorflow/tensorboard.

Here's an example of what I mean: http://i.imgur.com/xFoEYzO.png

Those should be regular MSCOCO colo

[2017-03-28 23:34] ymakkapa commented on #8785
I cannot show as I closed that window. I installed it with pip and without GPU.

[2017-03-28 23:34] Carmezim commented on #8785
Can you reproduce it and share the steps?

[2017-03-28 23:39] ymakkapa commented on #8785
Hi, running the same line again gives the following output. I think tensorflow is uninstalled
C:\WINDOWS\system32>pip uninstall tensorflow
Cannot uninstall requirement tensorflow, not installed
You are using pip version 8.1.1, however version 9.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

[2017-03-28 23:41] Carmezim commented on #8785
It is uninstalled. If you don't have any other questions, the issue can be closed now otherwise feel free to ask.
Thank you for opening the issue and bearing with me.

[2017-03-28 23:46] doodlesbykumbi commented on #8729
@aselle I can work on this

[2017-03-28 23:46] ahundt opened #8787 "TFRecord integration with Keras API"
Since the Keras-2 API is now directly in TensorFlow, I think it would be very useful if there were a mechanism directly in TensorFlow to supply TFRecords to Keras, such as in a call to `model.fit()`, or with equivalent functionality to `flow_from_directory`.

One key implementation detail is with the way `model.compile()` works as [detailed in a comment on this topic in keras](https://github.com/f

[2017-03-28 23:55] left13 commented on #7150
Nothing changed, same as before.

[2017-03-29 00:13] ebrevdo commented on #8777
yes... it's an internal method and isn't meant for external use.  i think
we got rid of the scope= argument in master branch.

On Tue, Mar 28, 2017 at 4:28 PM, Andrew Selle <notifications@github.com>
wrote:

[2017-03-29 00:13] #8785 closed

[2017-03-29 01:45] terrytangyuan commented on #8787
Since Keras will work with Estimator API, we can put this integration in `tf.estimator.inputs`? I think you can actually just ingest your data from TFRecords source to as part of `input_fn` in Estimator API. Similarly, this will work with `Experiment` as well.

[2017-03-29 02:15] omshanti commented on #7306
Problem still exists in Windows 10
AttributeError                            Traceback (most recent call last)
<ipython-input-6-415a7deab32c> in <module>()
      1 with tf.gfile.GFile("train.x.txt", "r") as f:
----> 2     print(f.tell())  # I'd expect this to print zero, but who knows?
      3     for _ in range(10):
      4         print(f.read(n=1))

c:\program files\python35\lib\site-packages\t

[2017-03-29 02:19] omshanti commented on #7306
Issue still exists in Windows 10, Tensorflow 1.0.1

AttributeError                            Traceback (most recent call last)
<ipython-input-6-415a7deab32c> in <module>()
      1 with tf.gfile.GFile("train.x.txt", "r") as f:
----> 2     print(f.tell())  # I'd expect this to print zero, but who knows?
      3     for _ in range(10):
      4         print(f.read(n=1))

c:\program files\python35\li

[2017-03-29 02:55] zsxgb commented on #8774
I can find this file, but I did not add it to the path. The way I do this is to copy this file to LD_LIBRARY_PATH, which is a link file. Added a link to this copied file. Still being given. I try your way. May be.

[2017-03-29 03:11] himanshubdave opened #8789 "tensorflow can not be imported in python"
Tensorflow  (CPU) can not be imported in python 2.7

Operating System: Linux; output of uname -a
Linux laptop 4.4.14 #2 SMP Fri Jun 24 13:38:27 CDT 2016 x86_64 Intel(R) Core(TM) i3-4005U CPU @ 1.70GHz GenuineIntel GNU/Linux

Installed version of CUDA and cuDNN: NONE

Installed within virtualenv, via pip install --upgrade https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.0.1-cp27-non

[2017-03-29 03:56] #8702 closed

[2017-03-29 04:09] afri commented on #7755
FWIW, I had the same slow startup problem with the 'latest-gpu' docker image and a GFX1080.
Moving over to 'latest-devel-gpu', which is compiled with 6.1 architecture support, fixed it.

[2017-03-29 04:13] VersionHX opened #8790 "crosstool_wrapper_driver_is_not_gcc failed: error executing command"
I am installing tensorflow 1.0.0-rc0 with GPU, the environment is:
Operating System: Ubuntu 14.04.4 LTS
gcc version: 4.7
bazel:0.4.5
python 3.6
CUDA 8.0
 cuDNN:5.1.5
cuDNN is installed at /home/scs4450/CaffeInstall/cuda ranther than /usr/local/cuda-8.0
when i ./configure my tensorflow, i get the error like this:
scs4450@scs4450:~/tensorflow-1.0.0-rc0$ bazel build --copt=-march=native -c opt --conf

[2017-03-29 04:59] carltonwang commented on #8231
After I update from TF 1.0.0 to TF 1.0.1, this problem disappear...

[2017-03-29 05:00] carltonwang commented on #6599
After I update from TF 1.0.0 to TF 1.0.1, this problem disappear...

[2017-03-29 06:04] BrianOn99 commented on #8550
@andrewharp Thanks for the help from tensorflowers.  I think I have isolated the problem.  The root of the `NaN` comes from the models.  For example inspecting the magenta pretrained `multistyle-pastiche-generator-varied.ckpt` from [here](http://download.magenta.tensorflow.org/models/multistyle-pastiche-generator-varied.ckpt) by inspect_checkpoint:

[code]
Then you will see:

Please notice the `na

[2017-03-29 06:16] jart commented on #8709
Thank you for bringing this to our attention @Anida-qin. It seems you did your homework and discovered a closed duplicate https://github.com/tensorflow/tensorflow/issues/3618 although it helps when you bring that to our attention.

It seems the Bazel site [claims](https://bazel.build/versions/master/docs/install-ubuntu.html) Ubuntu 14.04 is out of their support matrix, which I find peculiar, becau

[2017-03-29 07:07] damienmg commented on #8709
Ubuntu 14.04 is supported. That was an update error (adding 16.04 in the
list was the actual intent).

On Wed, Mar 29, 2017, 8:18 AM Justine Tunney <notifications@github.com>
wrote:

[2017-03-29 07:21] Panaetius commented on #8786
Looking at recent committed changes to image ops and after some testing, it is due to the change in 60e7360dfcf8951c4a269cfddd2a9cf2a05d7f91 with clipping float images to [0,1)

From the commit message, it seems like this was an intended change, though it seems a bit weird to me that float images are clipped to 0,1 by this op to be be consistent with uint8 images, since floats can have a much larg

[2017-03-29 07:36] wei-yuan commented on #7032
Thanks! just ran into same issue when tensorflow update to 1.0

[2017-03-29 07:37] sjperkins opened #8793 "python StagingArea documentation missing"
StagingArea (and perhaps other structures in [data_flow_ops.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/data_flow_ops.py)) are not present in the python documentation. They are however mentioned in the 1.0.0 and 1.1.0 [release notes](https://github.com/tensorflow/tensorflow/blob/346bd59b3c99055c3fdcbc0d0b0710418f48c5c6/RELEASE.md)

### What other attempted soluti

[2017-03-29 07:41] cxm01 opened #8794 "'module' object has no attribute 'learn'"
I'm trying tensorflow with some examples, when I run https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_train.py, it raise the exception below:

--------------------------------------------------------------------------------------------------
File "/Users/cxm/cifar10-train.py", line 124, in <module>
  tf.app.run()
File "/usr/local/lib/python2.7/site-packages/tensorfl

[2017-03-29 07:46] cxm01 commented on #5392
I met similar issue, see #8794

[2017-03-29 08:07] tu-cao opened #8795 "[CPU Performance Issue] Why don't hugepages, prefetch."
Hugepages and Prefetch are considered as two main techniques for performance improvement.

https://wiki.debian.org/Hugepages
Intel® 64 and IA-32 Architectures Optimization Reference Manual (http://www.intel.com/content/www/us/en/architecture-and-technology/64-ia-32-architectures-optimization-manual.html)

Just don't understand why TF does not use hugepages and prefetch techniques for CPU version.

[2017-03-29 08:10] cxm01 commented on #8794
This issue after  "I pip install --upgrade tensorflow" Successfully installed setuptools-34.3.3 tensorflow-1.0.1.

[2017-03-29 08:10] #8794 closed

[2017-03-29 08:33] astrung commented on #6926
can i use this maven artifact on windows. Thus, native dynamic library ( libtensorflow.so )can not be used on windows, so how can i build it without native library ?

[2017-03-29 08:52] MicaelCarvalho commented on #8362
I'm not fully convinced we have enough information to assume this isn't a bug... The behavior is rather strange and if the data @richfwebb reported back are correct, I am clueless as well. Maybe someone could point other possible causes that would create these "symptoms", other than the things I already investigated with him. :-)

[2017-03-29 08:54] Gitsamshi commented on #8777
Thanks

[2017-03-29 08:57] AndreasMadsen commented on #8431
It is a Titan X 2016 [GP102 (Pascal)], it has 11.90 GiB of memory.

It was not a memory leak, but a long sequence that caused that particular issue. But the issue still exists.

[2017-03-29 09:26] jcaraban commented on #8604
Is there any real use case where defining variables inside while_loop would help?
Any plans of augmenting the functionality of while_loop? Are contributions welcomed here?

[2017-03-29 09:34] AndreasMadsen commented on #8431
I have very little experience with CuDNN, but is it possible that dilation is already supported?

**in `5.1/include/cudnn.h`**

[code]

`upscalex` kinda sounds like another word for dilation and in cuDNN v6 RC (http://blog.yannisassael.com/2017/02/cudnn-v6-0-rc/) it appears to have been renamed to `dilation_h`.

**in `6.0/include/cudnn.h`**

[code]

[2017-03-29 09:35] critiqjo commented on #8604
@jcaraban Ah, I actually meant to say "updated" (for instance an RNN cell state). I am not sure if variables can be created inside a while_loop, or whether there would be any use for it.

[2017-03-29 09:52] jwayne commented on #8776
Great point, thanks. When the lambdas are constructed properly, I get the expected behavior. Please close.

[2017-03-29 09:59] vbod opened #8796 "Distributed mode hangs on in local mode"
Looks like the workers do not start their server when using the estimator API and running in local-distributed mode. The minimalist code down helps reproduce: runs fine with only one process, but when launched with `TF_CONFIG={"cluster": {"ps":["localhost:5040"], "worker":["localhost:5041"]}, "task":{"type":"ps","index":0}}` (resp. `worker`), it hangs on. After investigating, looks like in
`tensor

[2017-03-29 10:10] patilsamruddhi opened #8797 "Currently trying to run tensorflow android code downloaded from Github facing following error as Error:Execution failed for task ':buildNativeMake'. A problem occurred starting process 'command 'tensorflow/contrib/makefile/build_all_android.sh'' Please reply asap"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-03-29 10:22] yolanda93 opened #8798 "Not found error : Key tower/fully_connected/weights not found in checkpoint"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

https://github.com/tensorflow/tensorflow/issues/6263

### Environment info
Operating System: Google Cloud Platform

### Logs or other output that would be helpful
(If logs are large, please upload as attachment or provide link).

python eval.py --eval_data_pattern='gs://youtube8m-ml-us-ea

[2017-03-29 10:28] DanqingZ opened #8799 "Ensuring positive definite covariance matrix in tensorflow"
Hi all,

I have the problem how to ensure psd property of covariance matrix in tensorflow. so I map the rnn outputs to the $\mu$ and $\Sigma$ of a MVN. So here I have to make the covariance psd, I tried to use matrix exponential, but it is not implemented in tensorflow, and I tried SVD, but then my loss function is not differentiable. So I tried to use $LL^{T} + \alpha |$, but still the program ha

[2017-03-29 10:31] Carmezim commented on #8797
Hi @patilsamruddhi, thank you for filling the issue as I oriented on email. Could you please specify the code you tried to run, your OS and other information you find can be useful and relevant? Thanks

cc @andrewharp

[2017-03-29 10:34] patilsamruddhi opened #8800 "Facing error while building APK"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-03-29 11:17] bhack commented on #254
Not strictly related but new optimized cpu and gpu ARM kernels could be available. See https://github.com/ARM-software/ComputeLibrary/issues/7

[2017-03-29 11:20] ekelsen commented on #8720
Fix in progress.  To be clear the line: `model_split = tf.split(model_input, [4], axis=1)[0]` shouldn't work it would need to be `model_split = tf.split(model_input, [10], axis=1)[0]`.  You will now get an error if either when the op is created if the dimensions are known or at runtime if they are not.

[2017-03-29 11:23] ekelsen commented on #8720
You can specify an unknown value with -1, but you can't specify N-1 sizes if you expect N outputs.

[2017-03-29 11:33] sundw2014 commented on #2807
I had the similar problem. Finally, I found that there are some comments in ```tensorflow/tensorflow/core/kernels/quantized_conv_ops.cc```

[code]
So, to get a good performance, you should set ```inter_op_parallelism_threads=1``` when you use ```QuantizedConv2D``` op.
But, even you do that, you will find that although the conv ops get faster because of the use of ```gemmlowp```, quantization will

[2017-03-29 11:52] antoninofurnari commented on #7311
I had the same issue on Python 2.7/TF 1.0.1 and I solved it by installing the modified protobuf library (https://www.tensorflow.org/install/install_linux#protobuf_pip_package_31).

However, just upgrading the old protobuf version using pip din't work for me initially.

I suggest to *first* uninstall any older version of protobuf explicitly with

`pip uninstall protobuf `

(you may need to run this

[2017-03-29 11:55] pengjingg opened #8801 "[Tensorflow]RuntimeError: Graph is finalized and cannot be modified."
### Environment info
Operating System:
Ubuntu 14.04
cuda 8.0 + cudnn 5.1

I'm running a Cifar-10 tutorial from [https://www.tensorflow.org/tutorials/deep_cnn]
And I modified the code a lot.
Specifically, I want the model can evaluate simultaneously while training, thus I can get a curve of precision. And I don't have ideal how the cifar10_eval.py and checkpoints work out. So I added an evaluation

[2017-03-29 12:10] cnzero commented on #6048
@poxvoculi  You are right. I am a bit careless.
But there are some warnings even though answers are showed.
Maybe I am a beginner to TensorFlow, it needs some time to grasp TensorFlow basic concepts.
Thank you very much.

[2017-03-29 12:35] Mahdizade commented on #6599
@aselle I use tensorflow unit test for ctc_loss in [ctc_loss_op_test](https://github.com/tensorflow/tensorflow/blob/099ef355adf86296c4a9a67ed553c6d2036f99d5/tensorflow/python/kernel_tests/ctc_loss_op_test.py). I apply some changes and reorganized code for run a continuous session. The final code is here
[ctc_loss.txt](https://github.com/tensorflow/tensorflow/files/879019/ctc_loss.txt)

simply rena

[2017-03-29 12:36] bluenote10 opened #8802 "Wheels on PyPI violate manylinux1 specification / PEP513"
Follow-up issue to #5033.

As already pointed out by @jjhelmus, the Linux wheels on PyPI do not conform to the manylinux1 specification provided in [PEP513](https://www.python.org/dev/peps/pep-0513/). To quote @jjhelmus's comment from #5033:

It would be great if the wheels could be fixed to match the specification.

[2017-03-29 12:43] afpro commented on #8024
have same issue, use 'bazel build --cxxopt="-DEIGEN_HAS_VARIADIC_TEMPLATES=0"' as hot fix.

[2017-03-29 12:58] jwayne commented on #8776
Incidentally, would you be able to explain why defining the lambda with an already-constructed tensor gives a poor result? Or how I might be able to use tf.where to achieve this result of:

if global_step == 2, then set learning_rate = 0.01
if global_step == 4, then set learning_rate = 0.001
else, keep learning_rate the same

[2017-03-29 12:58] sunshinee24 opened #8803 "how to read more than one tfrecord files once?"
I want to do validation during training, but how to read two tfrecord files once, one is for training and annother one is for validation

[2017-03-29 13:07] jwayne commented on #8776
Ah - I figured out the tf.where usage. But would still be curious as to the first question.

[2017-03-29 13:13] jwayne commented on #8776
In particular, if I want it such that if no condition is met, then I want to keep learning_rate the same, then this seems difficult with both tf.where and tf.case (the latter because I cannot let a lambda return an already-constructed tensor)

[2017-03-29 13:44] nmoenning commented on #8790
I have a similar error. I cloned the current master directory, Ubuntu 16.04 LTS, Cuda 8.0, cudNN 5.1.5, gcc 4.9.3, python 3.5

`
ERROR: /home/nils/Downloads/tensorflow/tensorflow/stream_executor/BUILD:39:1: C++ compilation of rule '//tensorflow/stream_executor:cuda_platform' failed: crosstool_wrapper_driver_is_not_gcc failed: error executing command external/local_config_cuda/crosstool/clang/bin/c

[2017-03-29 13:51] carlthome commented on #3628
I'm using `tf.cond` and also got this error:

```ValueError: graph_def is invalid at node 'RNN1/cond/Assign/Switch': Input tensor 'RNN1/Variable:0' Cannot convert a tensor of type float32 to an input of type float32_ref.```

@Yisongsong's proposed manual fix above is not applicable for me as I require a `tf.cond` at test time as well.

[2017-03-29 13:56] VersionHX commented on #8790
so far i get no idea, have you solved your problem?

[2017-03-29 14:05] jwayne commented on #8776
OK, back to the original bug.  This is what weirds me out.  `test(behavior=1)` gives the unexpected behavior, while `test(behavior=2)` gives the expected behavior:

[code]

In particular, the output of `test(1)`:

[code]

The output of `test(2)`:

[code]

[2017-03-29 14:05] mrry commented on #7306
@oldmonk101 This bug (`tell()` raising an `AttributeError` if called before `read()` or `write()`) was present in all versions of TensorFlow up to 1.0.1, but is fixed in 1.1. Upgrading to the 1.1 release candidate or nightly version will fix the problem.

[2017-03-29 14:23] zzw922cn opened #8804 "why use unknown batch_size in BasicDecoder class?"
I found that in the source code:[https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/seq2seq/python/ops/basic_decoder.py](basic_decoder.py)
[code]

As above, since we can get the batch size by calling self._helper.batch_size, why it is set to be None in
`lambda s: tensor_shape.TensorShape([None]).concatenate(s)`?  Why the batch size is still unknown? Couldn't we set to be `lamb

[2017-03-29 14:34] asimshankar commented on #6926
Yes, you can use it on Windows. There was a slight issue with RC0 on Windows, but you can use the following:

[code]

[2017-03-29 14:45] dazraf commented on #6926
Hi,

Like the netty native library, the convention with Maven is to use the `classifier` tag to specify OS specific distros.
See [here](http://netty.io/wiki/forked-tomcat-native.html#wiki-h2-3) for an example.

You can even use the classifier to distinguish between pure-java implementations and those that come packaged with GPU specific binaries.

I may have missed something, but it seems like we

[2017-03-29 15:04] lobachevzky opened #8805 "valgrind helloworld.py throws 7805 errors"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-03-29 15:04] Wermarter opened #8806 "Installation: Permission error"
`(tensorflow) wermarter@Werma:~$ pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.0.1-cp35-cp35m-linux_x86_64.whl
Collecting tensorflow-gpu==1.0.1 from https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.0.1-cp35-cp35m-linux_x86_64.whl
  Using cached https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.0.

[2017-03-29 15:07] SebastienMousnier opened #8807 "error running tensorflow trained model c++"
Hello,

I am working on Tensorflow on c++ with other network. I trained facenet on MS-Celeb-1M then i created my graph.pb. I modified the example provided here : https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/label_image in order to test my network.
In main.cpp:
    `string graph = "data/graph1.pb";`
    `string output_layer = "InceptionResnetV1/Repeat/block35_5/Relu";`