[2022-09-29 18:44] raminmohammadi commented on #54155
@mohantym
I just checked with TF=2.10 version and the issue still persist. See the [gist](https://colab.research.google.com/drive/1YvIH5FesoP-eMz0m__39aprevvg20CSR?usp=sharing)

In your example the signature was commented out:
`signatures = [
  m.train.get_concrete_function(),
  m.infer.get_concrete_function(),
  m.save.get_concrete_function(),
  m.restore.get_concrete_function(),
  m.get_the_upda

[2022-09-29 19:44] metinsuloglu opened #57910 "Function to disable tf.data debug mode"
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

source

### Tensorflow Version

2.10

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and

[2022-09-29 20:23] HTGorji commented on #39173
Hi guys,
I got a new issue with MeanIoU.
I am using TF 2.8 and python 3.9, OS windows10.
I am running a simple code for semantic segmentation (3 classes, background: 0, green objects: 1, red objects: 2).
I also used `y_train = to_categorical(y_train, num_classes=3)`
The metrics show that the model is learning, but the IoU is always 33.42, while simply by checking the `tp, fp, fn,` the IoU should b

[2022-09-29 20:59] ganler commented on #57747
`0.2238132` has the same impact.

[2022-09-29 21:11] HTGorji commented on #39173
I have solved this problem by changing MeanIoU with OneHotIoU

[2022-09-29 21:17] tanzhenyu commented on #39173
would you mind contributing this in KerasCV instead?

[2022-09-29 21:22] HTGorji commented on #39173
How can I do that?

[2022-09-29 21:23] HTGorji commented on #39173
How can I do that?

[2022-09-29 21:37] HTGorji commented on #45241
Me too. I am getting this error after 20 epochs.

[2022-09-29 21:47] benank opened #57915 "MoveNet Multipose lightning model cannot be converted to tflite int8 format"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 11 with WSL2
- TensorFlow.js installed from (npm or script link): pip
- TensorFlow.js version (use command below): 2.10.0
- Browser version: N/A
- Tensorflow.js Converter Version: Not sure how to get this

[2022-09-29 21:48] tanzhenyu commented on #39173
Make a PR on https://github.com/keras-team/keras-cv on a MeanIoU that corrects this

[2022-09-29 23:08] mohantym commented on #57905
Hi @Shubham-23Joshi !
Can you add below line in TFlite conversion and let us know your inference results.
[code]
[
Reference. ](https://github.com/google-coral/edgetpu/issues/586#issuecomment-1119842063)

Thank you!

[2022-09-29 23:31] rishikasinha-tf commented on #57663
Hi @reedwm. We have decided to include this in the TF 2.11 release, whose branch cut is on Oct 13th. Let me know if you see a risk with that. Thanks!

[2022-09-29 23:33] advaitjain commented on #48720
I'm going to close this bug since it is quite old. Please feel free to create a new one at https://github.com/tensorflow/tflite-micro

[2022-09-29 23:33] #48720 closed

[2022-09-29 23:33] #57470 closed

[2022-09-29 23:33] #57353 closed

[2022-09-29 23:33] #57476 closed

[2022-09-30 00:28] ra9hur opened #57913 "pre-trained yolov5s quantized: inference time is very high"
### 1. System information

- Colab environment
- Quantization of pre-trained yolov5s weights
- Successfully generated tflite files with,
     - No quantization
     - Floating Point 16 quantization
     - Dynamic range quantization (no representative_dataset option)
- Inference time using weights from dynamic range quantization is extremely high

### 2. Code

file_path = './yolov5s_saved_model'
tf

[2022-09-30 00:42] mohantym commented on #57885
@AntoineChauviere !
Sorry for the inconvenience.

The Sample bazel notebook was just to walk you through bazel build processes (Sorry I did not add the exact command for building flex delegate)

`bazel build -c opt --config=android_arm tensorflow/lite/delegates/flex:tensorflowlite_flex`

The interpreter can take this delegate through interpeter option and load_delegate in python.
in C++ , usage is

[2022-09-30 01:38] mohantym commented on #7397
Hi @drasmuss !
Just trying to put my observation based on yesterday's trials.
Actually @drasmuss  has used same indices [0] , [0] to stitch to two tensors ([0,0,0] and [1,1,1]. So while trying to allocate tensor at same index , it is taking the max of two tensors and failing the dynamic stitch.

If we use two different indices like [0] , [1] or [0],[2] then results for analytical and theoritical f

[2022-09-30 01:52] mohantym commented on #32796
@Jessespace @hyperfraise !
I do see Conv3D, Conv3Dbackprop  in select ops allow list for which you can use select ops syntax during model-lite file conversion.
Could your provide a stand alone with [select ops syntax ](https://www.tensorflow.org/lite/guide/ops_select#convert_a_model)to replicate this issue
Thank you!

[2022-09-30 01:56] drasmuss commented on #7397
Yes, this bug is caused by having duplicate indices. But that is defined and supported behaviour for dynamic stitch (e.g., see [the documentation](https://www.tensorflow.org/api_docs/python/tf/dynamic_stitch)):

So if duplicate indices are supported, then the gradient should be correct when using them.

[2022-09-30 02:48] mohantym commented on #38673
Hi @Rubix982 !
Are you still looking for any assistance for PR ?

As I said mentioned earlier , Current Documentation includes Quantization's definition [here.](https://www.tensorflow.org/lite/performance/model_optimization#quantization).

Thank you!

[2022-09-30 03:04] mohantym commented on #57904
Hi @ra9hur !
A Representative data set is normally used for integer quantization for deploying in integer only accelerated hardware like edge TPU.  For Dynamic range quantisation , Procedure is to go with default converter without using any optimization flag .

I suggest you to follow the syntax with [Post-training integer quantization ](https://www.tensorflow.org/lite/performance/post_training_in

[2022-09-30 03:10] mohantym commented on #7397
Ok @drasmuss !
Thanks for the update.

[2022-09-30 03:20] sun1638650145 opened #57914 "Unable to build tensorflow from source on Apple M1."
### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf 2.10

### Custom Code

No

### OS Platform and Distribution

macOS 12.6

### Mobile device

None

### Python version

3.9

### Bazel version

5.1.1-homebrew

### GCC/Compiler version

Apple clang version 14.0.0 (clang-1400.0.29.102)

### CUDA/cuDNN version

None

### GPU model and memory

None

### Current Behaviour?

[c

[2022-09-30 04:34] ra9hur commented on #57904
Hi @mohantym , thanks for the analysis.

I just chose "TPU" as runtime option in Colab, still get similar error. Need your help to verify, this is really not hardware related.

### error log

Importing a function (__inference_pruned_6862) with ops with unsaved custom gradients. Will likely fail if a gradient is requested.

---------------------------------------------------------------------------

[2022-09-30 05:01] gadagashwini commented on #57890
Hi @surajitkundu-dazn, I am unable to access the link. Thank you!

[2022-09-30 06:26] angelcampoverde commented on #57663
Hi,

If it is not really a problem and can be ignored, then it should not even be an error, but a warning or just an info message. Is there a way to hide this error?

[2022-09-30 06:30] tilakrayal commented on #57903
@renguote,
Tensorflow version 2.4 is not actively supported. Hence, kindly update to the latest stable version 2.10 and let us know if you are facing the same issue. Thank you!

[2022-09-30 06:31] mohantym commented on #57913
Ok @ra9hur !
Thanks for reporting this issue.

@sachinprasadhs !
Could you look at this issue.

Thank you!

[2022-09-30 06:43] angelcampoverde opened #57916 "How to hide: failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

binary

### Tensorflow Version

2.10.0

### Custom Code

No

### OS Platform and Distribution

3.10.0-1160.71.1.el7.x86_64

### Mobile device

_No response_

### Python version

3.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and

[2022-09-30 06:55] Saar-Ken-Ji commented on #57906
hello thank you for your suggestion, i have done as you have advised.
I was able to get the default quantization result, with input and output as float32 as you had suggested. but what i require is the int8 quantization of the same. is it not possible to achieve that?
note: using the quantization_debugger also produced the same error as mentioned before as the debugger also require representative

[2022-09-30 06:59] Rubix982 commented on #38673
Hi, @mohantym! I would firstly apologize and forfeit ownership of this issue. I have not been able to manage my life and time as much as I had hoped, and would like to transfer the ownership of this bug to any other volunteer.

I'm really sorry for the wasted time.

Thanks again for catching up with me.

[2022-09-30 07:14] angelcampoverde commented on #57916
OK, I think I found the answer. I have no GPU, therefore I have to:

[code]
as described here:

https://www.tensorflow.org/install/pip

Cheers

[2022-09-30 07:26] surajitkundu-dazn commented on #57890
Can you please try now

[2022-09-30 07:26] mohantym commented on #57906
@Saar-Ken-Ji !
Could you share your quantization debugger results error here.
Thank you!

[2022-09-30 07:27] #57916 closed

[2022-09-30 07:28] mohantym commented on #57916
Hi @angelcampoverde !

Those are warnings on no GPU detection . You can hide them through below commmand.
[code]

[2022-09-30 07:43] AntoineChauviere commented on #57885
@sachinprasadhs , @mohantym

In fact, I would like to know if it is possible to select tf ops on emulator (x86_64) or is it impossible and I need a real device?

[2022-09-30 08:23] hhoefener opened #57917 "Information gets lost when saving and loading a model"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: yes
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**:
-   **TensorFlow installed from (source or binary)**: pip
-   **TensorFlow ver

[2022-09-30 08:25] Shubham-23Joshi commented on #57905
Hallo @mohantym thanks for the tip. I have put in the line and converted the model.
However, the error still prevails at the compilation time.

[2022-09-30 08:27] Shubham-23Joshi commented on #57905
And in the netron image, there is no quantization shown at the input, rather two quantization blocks in the output. Why is this? Could anyone help with this?

[2022-09-30 08:44] Saar-Ken-Ji commented on #57906
@mohantym

the bellow given is the error when i try default quantization with debuggers debug data set  parameter assigned with the representative data set from the code above

2022-09-30 14:10:35.736988: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-crit

[2022-09-30 08:53] mohantym commented on #57907
Hi @csn1800 !
Sorry for the late response.

In case , It does not find any supported ops for gpu delegate then it can fall back to other delegate like nnapi ,xnnpack then to cpu delegate.

Please refer below thread to set the above fall back policy.
Reference - [fallback policy](https://stackoverflow.com/a/69167553) , [benchmarking](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/l

[2022-09-30 08:56] mohantym commented on #57906
Ok @Saar-Ken-Ji !
Thanks for the update.

@sachinprasadhs !
Could you look at this issue.

Thank you!

[2022-09-30 09:52] mohantym commented on #38673
@Rubix982 !
Can you tell the changes and edit locations to me here in this thread. I will  raise a PR from your behalf.
Thank you!

[2022-09-30 09:56] mohantym commented on #51996
Hi @EricTheRed20 !

Can  you raise a PR and do the  the rest of the needed changes in the source code [here](https://github.com/tensorflow/docs/blob/master/site/en/install/lang_c.ipynb). Regarding Mac M1, Engg. Team is into building official wheel for M1 and other ArM support.

Thank you!

[2022-09-30 10:03] elfringham opened #57918 "Unit test float8_test fails to build on AARCH64"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

git HEAD

### Custom Code

No

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

n/a

### Python version

3.8.13

### Bazel version

5.3.0

### GCC/Compiler version

10.3.0

### CUDA/cuDNN version

n/a

### GPU model and memory

n/a

### Current Behaviour?

[co

[2022-09-30 10:04] elfringham commented on #57918
@cfRod @nSircombe

[2022-09-30 10:05] elfringham commented on #57918
Introduced by https://github.com/tensorflow/tensorflow/commit/596560e345e55f8e19a9ad539ad5549c09c8c84f

[2022-09-30 10:11] MoFHeka opened #57919 "How do I specify the device of an operator when I load the model using the C API?"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

binary

### Tensorflow Version

tf 2.8

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_

[2022-09-30 10:13] baridfor3 opened #57920 "TF board does not show keras metrics."
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.10.1

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memor

[2022-09-30 10:17] Rubix982 commented on #38673
Maybe a possible location could be here, https://www.tensorflow.org/api_docs/python/tf/dtypes. I am not sure if this term is used across the docs very extensively (quick searching shows that that is the case), or maybe only meant to be here. Because docs should have only 1 source describing something in detail, it can be useful to have separate page that explains quantization, and then, the link a

[2022-09-30 10:51] jntdst opened #57921 "Template code does not work"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.8

### Custom Code

No

### OS Platform and Distribution

colab

### Mobile device

colab

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current Beh

[2022-09-30 10:54] tilakrayal commented on #57838
@Co1lin,
I tried to execute the code with alternative approaches and it was failing when the code consists of both GPU and CPU. In other cases it was executed without any issue. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/38255702e3aa6e6b348a2fe93a13a530/untitled634.ipynb).

[2022-09-30 11:02] hhoefener commented on #57917
I am getting the exact same result (loss of 0.0522) if I save the model without optimizer and recompile after loading
[code]

[2022-09-30 11:04] jntdst opened #57922 "Don't show correct formula"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Bug

### Source

source

### Tensorflow Version

2.8

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model an

[2022-09-30 11:35] harahu commented on #40195
@mohantym https://docs.github.com/en/issues/tracking-your-work-with-issues/transferring-an-issue-to-another-repository

[2022-09-30 11:56] Co1lin commented on #57838
@tilakrayal Thanks! I have found this workaround, but just as I say, in some cases like reinforcement learning, it's common to have both CPU and GPU inference in one process/code. Since having both CPU and GPU is ok for other operators (such as you substitute the Conv2D layer with other operators/layers), I think there's some issue with Conv2D in this case. It would be great to fix this issue to m

[2022-09-30 12:25] mohantym commented on #57904
Hi @ra9hur !
Colab TPU and Edge TPU have different configuration. So It might be hardware specific.
Different behaviour has been seen for same code has been between two different architectures.
(CPU and GPU, Linux and Windows etc.)
Can we mark this query as resolved then.

Thank you!

[2022-09-30 12:47] mohantym commented on #57915
Hi @benank!
Above issue can be resolved by adding select ops syntax during TFlite conversion.

Could you try with below code snippet and let us know.

[code]
Thank you!

[2022-09-30 13:33] tilakrayal commented on #57843
@sachinprasadhs,
I was able to reproduce the issue on tensorflow v2.8, v2.10 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/3b5143743ce959af96762d745725d364/untitled635.ipynb).

[2022-09-30 13:41] ra9hur commented on #57904
Hi @mohantym ,

I am stuck at the same step on two different problems. Does that mean that we cannot execute below steps in colab notebook at all in spite of using TPU run-time ?
1. Cannot we generate dynamic range quantization weights with representative_dataset ?
2. This is next step to point 1 above. Can we not generate int8 quantization weights ? even this would involve representative_dataset.

[2022-09-30 15:05] bhack opened #57923 "XLA compile enable an option to not fail fast"
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

binary

### Tensorflow Version

2.10

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and

[2022-09-30 15:14] denizgedik opened #57924 "random.set_seed() does not work on tensorflow-macos"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.10

### Custom Code

No

### OS Platform and Distribution

MacOS 13.0 Ventura Beta 7

### Mobile device

_No response_

### Python version

3.9.13

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-09-30 15:43] Prasun92 commented on #57859
@tilakrayal please let me know, what's the issue causing this error... waiting for your response

[2022-09-30 16:25] mohantym commented on #57904
@sachinprasad!
Could you look at this issue.
Thank you!

[2022-09-30 16:41] baridfor3 commented on #57920
Not an elegant solution, but it works.

class iTensorBoard(tf.keras.callbacks.TensorBoard):
    def on_train_batch_end(self, batch, logs=None):
        with self._train_writer.as_default():
            step =self.model.optimizer.iterations.read_value()
            lr_schedule = getattr(self.model.optimizer, "lr", None)
            if isinstance(lr_schedule, tf.keras.optimizers.schedules.LearningRa

[2022-09-30 16:42] baridfor3 commented on #57920
Not an elegant solution, but it woks.

class iTensorBoard(tf.keras.callbacks.TensorBoard):
    def on_train_batch_end(self, batch, logs=None):
        with self._train_writer.as_default():
            step =self.model.optimizer.iterations.read_value()
            lr_schedule = getattr(self.model.optimizer, "lr", None)
            if isinstance(lr_schedule, tf.keras.optimizers.schedules.LearningRat

[2022-09-30 17:17] Jerry-Ge opened #57926 "Markdown Failure for TF Dialect Documentation"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Bug

### Source

source

### Tensorflow Version

N/A

### Custom Code

No

### OS Platform and Distribution

N/A

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-09-30 17:49] #57489 closed

[2022-09-30 18:09] #46915 closed

[2022-09-30 18:11] #57728 closed

[2022-09-30 18:50] margilt commented on #51479
I'm getting this too with _Tensorflow 2.10.0_.

**Here's a code to reproduce:**

[code]

**My run:**

[code]

[2022-09-30 19:34] denizgedik commented on #57924
Replacing tf.random.set_seed() with tf.keras.utils.set_random_seed() fixes the issue.

[2022-09-30 19:34] denizgedik commented on #57924
Replacing tf.random.set_seed() with tf.keras.utils.set_random_seed() fixes the issue.

[2022-09-30 19:34] #57924 closed

[2022-09-30 20:27] jishminor commented on #56571
The option `TFLITE_ENABLE_XNNPACK = OFF` used with the cmake build of tflite v2.5.0 does not include xnnpack in the resultant library for tflite it seems. The tutorial [referenced](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/xnnpack/README.md#enable-xnnpack-via-low-level-delegate-api-not-recommended), uses the bazel build of tflite with the bazel build option to

[2022-09-30 21:03] atlanticstarr1 commented on #55639
The same is happening for RandAugment. Without RandAugment each epoch takes around 35s on my machine. With RandAugment it takes about 2mins 25 seconds. Any resolution on the roadmap?

[2022-09-30 21:14] LukeWood commented on #55639
hello!

please provide repro code.  Are you using it in a sequential model?  You should use it in tf.data

[2022-09-30 22:38] lcmeng commented on #57620
@gowthamkpr Thanks for your reply. The mirror strategy has been used in the original post.
[code]

I think the issue is what I commented 24 days ago above. But please correct me if I was wrong. Thanks.

[2022-09-30 22:42] atlanticstarr1 commented on #55639
@LukeWood I am using it within the tf.data pipeline. See snippets below.

[code]

[2022-09-30 22:48] skwolvie commented on #44342
any solution?

[2022-10-01 00:53] mohantym commented on #56331
Hi @streaver91 !
Deploying through TF Lite is preferred mode for Android, IOS and other edge devices. TFLite is being used other 32 bit memory microcontrollers and consumes very less compared to Original model.

Tested Platforms are mentioned [ here ](https://www.tensorflow.org/lite/microcontrollers#supported_platforms). But Developers are able to deploy in other micrcontrollers through [EdgeImpul

[2022-10-01 01:00] brnorris03 opened #57928 "Broken `tensorflow/compiler/xla/mlir_hlo/CMakeLists.txt` after `stablehlo` move out of `mlir_hlo`"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.11.0 (commit 4247ad4d497157eeb526e6aeeb5ecd15503955aa)

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04.3

### Mobile device

_No response_

### Python version

3.8

### Bazel version

not using bazel

### GCC/Compiler version

10.0

### CUDA/cuDNN version

N/

[2022-10-01 02:10] mohantym commented on #48255
Hi @embeddetech !
You can  pass Eigen , flatbuffer and other dependency through installable package.
[Reference](https://www.tensorflow.org/lite/guide/build_cmake#build_installable_package) .
Thank you!

[2022-10-01 02:13] mohantym commented on #50132
Hi @embeddetech !
Did you check this thread on [installable package](https://www.tensorflow.org/lite/guide/build_cmake#build_installable_package yet?

You can also add the dependent libraries through [Cmakelists.txt](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/minimal/CMakeLists.txt)
Thank you!

[2022-10-01 02:18] LukeWood commented on #55639
I see.  It’s not clear what the expected performance is of RandAugment; this might not be a bug but rather the cost of doing more computation - especially if your neural network is tiny.  What’s your model code?

[2022-10-01 07:28] gundubandagar commented on #57823
fun prepareCamera() {
    for (cameraId in cameraManager.cameraIdList) {

        val characteristics = cameraManager.getCameraCharacteristics(cameraId)

        // We don't use a front facing camera in this sample.
        val cameraDirection =
characteristics.get(CameraCharacteristics.LENS_FACING)
        if (cameraDirection != null &&
            cameraDirection == CameraCharacteristics.LENS_FA

[2022-10-01 07:29] gundubandagar commented on #57823
i want front camera open only, when i change it showing reverse direction

On Sat, 1 Oct 2022 at 12:58, Gundu Bandgar ***@***.***> wrote:

[2022-10-01 09:38] Nikolai10 commented on #43648
@Saduf2019 any updates? This problem still seems to be there (TF 2.9+). https://github.com/tensorflow/tensorflow/issues/43648#issuecomment-700950100 works indeed as a slow replacement to tf.keras.layers.UpSampling2D.

[2022-10-01 10:47] yongtang commented on #57897
Created a PR #57929 for the fix.

[2022-10-01 10:54] danilyef opened #57930 "AssertionError: Tried to export a function which references 'untracked' resource Tensor:tf.train.ExponentialMovingAverage"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

tf 2.8.2

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No

[2022-10-01 11:53] bhack commented on #55639
Yes It could still be a too small input/network that makes the forward and backward pass faster then the augmentation task and so the augmentation is the bottleneck  but we had reported a quite heavy overhead also just with a single augmentation like Random contrast with EfficientnetB0 with CIFAR (ok not a so huge input size) at https://github.com/keras-team/keras-cv/issues/581

The main problem i

[2022-10-01 13:26] ra9hur opened #57931 "Modelmaker: input/output shapes gets altered when converting from .pb to .tflite"
### 1. System information

- Colab environment
- tflite-model-maker-nightly
- tflite-support

### 2. Issue
- Train a model using,
model = object_detector.create()

- Export to tflite using FP16 quantization
config = QuantizationConfig.for_float16()
model.export(export_dir='./', tflite_filename='check_fp16.tflite', quantization_config=config)

- Check for input shape, input type, out shape, output

[2022-10-01 14:46] sagarchapara commented on #53398
@sachinprasadhs I would like to contribute to this.

[2022-10-01 15:44] sagarchapara commented on #53398
@sachinprasadhs I would like to contribute to this, any references on how to add a new type

[2022-10-01 17:09] BenjaminDEMAILLE opened #57933 "Import error Mac M1"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

TensorFlow-macos

### Custom Code

No

### OS Platform and Distribution

macOS Monterey

### Mobile device

_No response_

### Python version

3.10.6

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model

[2022-10-01 18:09] benank commented on #57915
Hi @mohantym, thanks for your response!

I tried adding all the select ops and still got some errors. It is now saying that `StridedSlice` is a custom op, so I added this line:
[code]

However, it still does not convert. I am now getting this error:
[code]
Do you have any ideas on how I can fix this? I have included my current code for reference below. Thanks!

<details>
  <summary>Current code</s

[2022-10-01 21:32] DorianRudolph opened #57934 "Class GpuDelegateFactory missing in Tensorflow Lite Java"
It looks like the `GpuDelegateFactory` is missing in the latest version of tflite on Android.

When ipmorting with `org.tensorflow.lite.gpu.GpuDelegateFactory`, compilation fails with `Unresolved reference: GpuDelegateFactory`.

I have imported the following packages:

[code]

But none of these seem to contain `GpuDelegateFactory`.

<details><summary>Click to expand!</summary>

 ### Issue Type

Bu

[2022-10-01 21:59] fuzzyswan opened #57935 "Wrong result in `tf.experimental.numpy.floor_divide` and `tf.experimental.numpy.remainder` when divide 0 by 0"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.11.0-dev20221001

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU m

[2022-10-01 22:52] BenjaminDEMAILLE commented on #51506
Don't work for me. macOS 12.6

[2022-10-01 23:37] BenjaminDEMAILLE opened #57936 "impossibility to build from source Mac M1"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.10

### Custom Code

No

### OS Platform and Distribution

macOS 12.6

### Mobile device

_No response_

### Python version

3.10.6

### Bazel version

_No response_

### GCC/Compiler version

Apple clang version 14.0.0 (clang-1400.0.29.102) Target: arm64-apple-darwin21.6.0 T

[2022-10-02 02:16] sun1638650145 commented on #57914
I've looked at this issue, but this issue doesn't provide any installation help.

[2022-10-02 02:26] Mas2345 commented on #47554
I'm also getting the issue. Not sure if it has any affect on anything. Can I just ignore it?

I noticed someone PatternFinder above says that it causes the model to slow to a crawl if loaded. Is that true?

[2022-10-02 02:46] Robert173 opened #57937 "Getting "OSError: [WinError 6] The handle is invalid" after epoch ends in Tensorflow"
I'm running a U-net model in Tensorflow with GPU enhancement. After the 2nd or 3rd epoch, I get several error messages stating: "OSError: [WinError 6] The handle is invalid." I did not have this issue come up when I ran it with CPU only.

I'm using an Anaconda environment created with conda-forge. These are the package/software versions I'm using:

Python: 3.10.6, Tensorflow: 2.10.0, cudatoolkit 1

[2022-10-02 03:08] wookayin opened #57939 "tf.io.gfile.glob is extremely slow"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9 and 2.10

### Custom Code

No

### OS Platform and Distribution

macOS 12

### Mobile device

-

### Python version

3.9

### Bazel version

-

### GCC/Compiler version

-

### CUDA/cuDNN version

-

### GPU model and memory

_No response_

</details>

### Current Behaviour?

In my e

[2022-10-02 08:04] 971766904 opened #57940 "C++ compilation of rule '@boringssl//:ssl' failed"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf r2.3

### Custom Code

Yes

### OS Platform and Distribution

linux ubuntu 22.04

### Mobile device

_No response_

### Python version

3.7

### Bazel version

3.1.0

### GCC/Compiler version

11.2.0

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No respo

[2022-10-02 08:55] foxik commented on #57052
The Keras guys wrote in https://github.com/keras-team/keras/issues/16978 that it looks like a TF issue and that we should report it here.

@elina-israyelyan Could you please reopen the issue?

[2022-10-02 09:50] gototophao commented on #51803
hello, @makisgrammenos @H0lzm1ch3l  i still cant solve this problem, may i ask how to solve it? i am a new one in tensorflow, and train my autoencoder model with hyperband and big data. Tensorflow always tell me this question.

[2022-10-02 10:05] BenjaminDEMAILLE commented on #57936
[code]

[2022-10-02 10:06] BenjaminDEMAILLE commented on #57936
How can I solve this ?

[2022-10-02 10:08] BenjaminDEMAILLE commented on #57936
[code]

[2022-10-02 10:10] BenjaminDEMAILLE commented on #57936
I can't install Tensorflow and I need it for my job

[2022-10-02 12:14] DenisVorotyntsev commented on #57836
I created Adan optimizer in Tensorflow, have a look - https://github.com/DenisVorotyntsev/Adan

[2022-10-02 12:32] mohantym commented on #57915
Hi @sachinprasadhs !
Could you look at this issue.
Thank you!

[2022-10-02 12:47] MCiuzelis commented on #20832
I am also running in an identical error, do you know a solution?

[2022-10-02 12:48] MCiuzelis commented on #20832
I am also running in an identical error, do you know a solution?

[2022-10-02 16:16] cosmic-blunder opened #57941 "Build Failed for CUDA 11.7"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2

### Custom Code

No

### OS Platform and Distribution

Linux mint 21

### Mobile device

_No response_

### Python version

3.10

### Bazel version

3.1.0

### GCC/Compiler version

Ubuntu clang version 14.0.0-1ubuntu1 Target: x86_64-pc-linux-gnu Thread model: posix Installe

[2022-10-02 21:25] bhack commented on #51771
/cc @ishark

[2022-10-03 00:03] UcefMountacer commented on #57824
@mohantym
sorry I forgot to follow up, but that issue was solved by setting the representative dataset generator output to float32

Regarding tflite-runtime wheel, I found that using export_tflite_graph_tf2.py function generates a saved model that can be converted to tlite and used without issues with tflite-runtime (installed using pip).

[2022-10-03 00:04] #57824 closed

[2022-10-03 02:24] mohantym commented on #53101
Ok @blaine-fs @JinXiaozhao !
I tested with 2.10 version today . I can get a working TFlite model with select ops  (but without concrete function and converter._experimental_default_to_single_batch_in_tensor_list_ops = True  flag).

Attached [gist](https://colab.sandbox.google.com/gist/mohantym/ca12a26c8cf5c5baf88d6a62de56d2da/untitled417.ipynb#scrollTo=XZnZjXh3AN48) for reference.

Will that fix t

[2022-10-03 04:17] bhpatray opened #57943 "Incorrect Output in windows for few quant models in windows"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.8.0

### Custom Code

No

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

3.10

### Bazel version

4.2.2

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Cur

[2022-10-03 04:21] paynecl commented on #55639
'But other then an API break it will requires kernels and XLA lowerings/bridge rewriting' Possibly.  Depends on how the low level op(s) in question is affected.

[2022-10-03 04:51] mohantym commented on #53101
@blaine-fs !
Re-opening this issue until It is marked as resolved . Could you check the gist in above [comment](https://github.com/tensorflow/tensorflow/issues/53101#issuecomment-1264847711).
Thank you!

[2022-10-03 05:27] mohantym commented on #57824
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-10-03 06:00] bani-intelaipg commented on #57685
Please see proposed fix https://github.com/tensorflow/tensorflow/pull/57944 @mraunak @mihaimaruseac

[2022-10-03 06:47] JGuillaumin commented on #57893
After testing many stuff (update kernel, remove some GPUs (keep only 2, 4 or 8), compiling from source, playing with many obscure Nvidia env variables, ...) I realized that I had the same issue with pytorch code.

After digging more into NCCL issues, I found this [one](https://github.com/NVIDIA/nccl/issues/606) and this documentation page from [NCCL](https://docs.nvidia.com/deeplearning/nccl/user-

[2022-10-03 06:47] #57893 closed

[2022-10-03 07:08] tiruk007 commented on #57902
@VictoriaGriffith
I tried to reproduce the issue on Colab using TF v2.9.1 but getting a different error. Could you please find the gist [here](https://colab.research.google.com/gist/tiruk007/af4bb462f0144c930211fef869a194c8/57902.ipynb) and confirm the issue?

Thank you!

[2022-10-03 07:35] Urkchar opened #57945 "Error loading fashion_mnist dataset"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.10

### Custom Code

Yes

### OS Platform and Distribution

Microsoft Windows 10 Home ersion 10.0.19043 Build 19043

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA-11.2.2

[2022-10-03 07:46] sushreebarsa commented on #57945
@Urkchar I was able to execute the provided code in colab, could you please have a look at the [gist](https://colab.research.google.com/gist/sushreebarsa/119fff0ebfbfbe78ee23129c1c79c11f/57945.ipynb) here and confirm the same?
Thank you!

[2022-10-03 08:00] tilakrayal commented on #57917
@hhoefener,
The fact that an input pipeline with no unseeded random operations (and sources of external state such as shuffle or cache) produces the same order every time it is executed is an important invariant and the expected behavior (and changing it is not an option for backwards compatibility reasons).

[2022-10-03 08:01] tilakrayal commented on #57917
**tf.random.set_seed** sets the global random seed. Operations that rely on a random seed actually derive it from two seeds: the global and operation-level seeds. This sets the global seed.

1. If neither the global seed nor the operation seed is set: A randomly picked seed is used for this op.

2.  If the global seed is set, but the operation seed is not: The system deterministically picks an ope

[2022-10-03 08:10] tilakrayal commented on #57920
@baridfor3,
This issue is not related to tensorflow. Could you please post this issue on [tensorboard](https://github.com/tensorflow/tensorboard) repo. Thank you!

[2022-10-03 08:22] #57920 closed

[2022-10-03 08:24] mohantym commented on #57934
Hi @DorianRudolph !
Can you also add below dependencies and let us know.
[code]

[Ref.](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/gpu/java/src/main/java/org/tensorflow/lite/gpu/GpuDelegateFactory.java)
Thank you!

[2022-10-03 08:32] tools-only commented on #56927
This works for me.
Thx!

[2022-10-03 08:34] tilakrayal commented on #57922
@jntdst,
Could you please feel free to submit a PR for the requested change to be made. The formula mentioned on the document looks good. Pleas provide the changes to be made for the formula.
![image](https://user-images.githubusercontent.com/81610181/193534249-81c88b84-ad5f-4976-9473-2ae2c10f452f.png)

[2022-10-03 08:35] tilakrayal commented on #57926
@Jerry-Ge,
Could you please feel free to submit a PR for the requested change to be made.  Thank you!

[2022-10-03 08:55] AntoineChauviere opened #57946 "Wrong Shape Signature Output after Conversion to TFLite"
Hello,

Having problems with the conversion of a keras model to tflite (CNN + BLSTM) I replaced the recursive layers by simple Dense. The model works and converges well.

Here is the summary:

==================================================================================================
 image (InputLayer)             [(None, 32, 128, 3)  0           []
                                ]

 conv

[2022-10-03 09:06] tiruk007 commented on #57896
@gadagashwini
I was able to reproduce the issue on Colab using TF v2.10. Please find the gist [here](https://colab.research.google.com/gist/tiruk007/d0cde653a712e51ae7b5cd5c16e3b50e/57896.ipynb) for reference.
Thank you!

[2022-10-03 09:21] tiruk007 commented on #57889
@emmaai
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here.
Thank you!

[2022-10-03 09:41] tilakrayal commented on #57928
@brnorris03,
Could you please provide the complete error log which helps to analyse the issue. Thank you!

[2022-10-03 09:43] tilakrayal commented on #57933
@BenjaminDEMAILLE,
Could you please take a look at the https://github.com/tensorflow/tensorflow/issues/57185#issuecomment-1219698610 from the developer for the similar issue while installing the Tensorflow on Apple M1. Thank you!

[2022-10-03 09:52] namrata-ibm commented on #57844
@angerson Could you please check?

This issue will be seen on all big endian machines. Also as per [this](https://github.com/tensorflow/tensorflow/blob/9e12018a40b5024f51bbaa4d27dcad047bd8449f/.bazelrc#L686) TFRT integration should be optional as of now. Is there a way to disable it?

[2022-10-03 09:53] #53566 closed

[2022-10-03 09:58] DemoCodeProfile commented on #57860
https://github.com/DemoCodeProfile/models_tf/blob/main/model_old.tflite

Thanks you!

[2022-10-03 10:02] febrifahmi opened #57947 "Extension file 'tensorflow/core/platform/default/rules_cc.bzl' has errors when install tflite-support-0.4.2 using Bazel 4.2.2"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2

### Custom Code

No

### OS Platform and Distribution

Raspbian Buster

### Mobile device

_No response_

### Python version

3.7

### Bazel version

4.2.2

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

###

[2022-10-03 10:05] tilakrayal commented on #57935
@fuzzyswan,
This is an intended behavior and the same can also be seen in all cases mentioned below

Using math module

[code]
output:

[code]
Using Python

`print('Floor value for 0/0:',0//0)`
Output:
[code]
Using tf.math.floordiv

[code]

Output:
[code]

[2022-10-03 10:07] pberndt commented on #57679
Hi, any progress on this one?

Latest nightly still appears to be looking for libnvinfer.so.7 :
[code]
Kind regards

[2022-10-03 10:22] tilakrayal commented on #57936
@BenjaminDEMAILLE,
Looks like this is a duplicate of issue [#57933](https://github.com/tensorflow/tensorflow/issues/57933). Could you please close this issue, since it is already being tracked there? Thanks!

[2022-10-03 10:23] #57933 closed

[2022-10-03 10:28] tiruk007 commented on #57880
@gadagashwini
I was able to reproduce the issue on Colab by using TF v2.9. Please find the gist [here](https://colab.research.google.com/gist/tiruk007/d938c311bf38e09077cfe91aea15af52/57880.ipynb) for reference.
Thank you!

[2022-10-03 10:28] tilakrayal commented on #57940
@971766904,
Tensorflow version 2.3 not actively supported. Hence, kindly update to the latest stable version 2.10 and let us know if you are facing the same issue. Also please take a look at this doc link which provides the information on [compatible](https://www.tensorflow.org/install/source_windows#tested_build_configurations) tested build configurations. Thank you!

[2022-10-03 10:45] BenjaminDEMAILLE commented on #57185
Do you have an approximative estimated date of aviability of the update ?

[2022-10-03 10:46] jakew009 commented on #56137
Any updates?

[2022-10-03 11:22] tiruk007 commented on #57863
@gadagashwini
I was able to reproduce the issue on Colab using TF v2.10. Please find the gist [here](https://colab.research.google.com/gist/tiruk007/dc5fef4f7d83733906db6576299c812e/untitled13.ipynb) for reference.
Thank you!

[2022-10-03 11:34] leleogere commented on #35970
I agree that a relative `min_delta` is indispensable for hyperparameter searching.

[2022-10-03 11:55] brnorris03 commented on #57928
Cmake logs attached. Thanks!

[CMakeOutput.log](https://github.com/tensorflow/tensorflow/files/9697206/CMakeOutput.log)
[CMakeError.log](https://github.com/tensorflow/tensorflow/files/9697207/CMakeError.log)

[2022-10-03 11:58] BhavyaShah1234 opened #57949 "https://stackoverflow.com/questions/73934844/issue-with-y-true-argument-that-in-passed-into-customloss-class-while-running"
<details><summary>Click to expand!</summary>

 ### Issue Type

Others

### Source

binary

### Tensorflow Version

2.10.0

### Custom Code

Yes

### OS Platform and Distribution

ALL

### Mobile device

ALL

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current

[2022-10-03 12:07] gadagashwini commented on #57890
Hi @surajitkundu-dazn, Still I am unable to access the given link.
<img width="1662" alt="Screen Shot 2022-10-03 at 5 36 17 PM" src="https://user-images.githubusercontent.com/99852755/193573001-26f0dcf7-bf2a-4fdb-b1b8-5b7bbe38c99e.png">

[2022-10-03 12:50] ershang2 commented on #22208
Thanks，This is very helpful to me

[2022-10-03 13:19] ducvinh9 commented on #57645
@sachinprasadhs,
Any more thought on this? The responses make me think like I am missing something really fundamental here, and not that there is a performance issue in keras. And this bothers me until today.

To sum up what I understand : TF2 use eager mode by default and new codes should not use `tf.compat.v1.disable_eager_execution()` at all. In order to benefit graph optimization, one should w

[2022-10-03 13:51] #39991 closed

[2022-10-03 14:00] gototophao opened #57950 "F ./tensorflow/core/util/gpu_launch_config.h:129] Check failed: work_element_count > 0"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf-gpu 2.6

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memo

[2022-10-03 15:14] Sumit5S opened #57951 "Couldn't install cuda 11.2"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.10.0

### Custom Code

Yes

### OS Platform and Distribution

windows

### Mobile device

_No response_

### Python version

3.10.5

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.2

### GPU model and memory

_No response

[2022-10-03 15:45] Jerry-Ge commented on #57926
Np, I will do this one asap.

[2022-10-03 15:49] renguote commented on #57903
Still the same issue  when I updated to tensorflow==2.10.0.  Looking forward to your reply, Thank you!

[2022-10-03 16:17] frost-is commented on #57698
Hi,

Sorry for the delay - here is the colab which contains exactly the code I've been using : https://drive.google.com/file/d/1OcsFWK6f2erhRRmItLLceqcOLwq940NO/view?usp=sharing

There's a new problem that appeared when using colab though : when I use the `tf.keras.utils.image_dataset_from_directory` function, it does not detect the presence of the images and I get the error `Expected the lengths

[2022-10-03 16:58] elfringham commented on #56088
@cantonios your recent commit introducing FP8 is not building on AARCH64. https://github.com/tensorflow/tensorflow/issues/57918

[2022-10-03 17:23] justin-nevermore commented on #39103
How do I check training version and saving version?

[2022-10-03 17:33] #57703 closed

[2022-10-03 17:34] csn1800 commented on #57907
@mohantym Thanks for the response. I understand that there is a fallback to CPU and hence the instructions are running on CPU instead of GPU. With the experiments I have tried with the same model on CPU and GPU, it is seen that the CPU only version has 25% less frame rate than that of GPU version. With more instructions running on GPU it should be able to get a latency improvement. So, could you p

[2022-10-03 18:45] sachinprasadhs commented on #57704
Did you try with the prebuilt [AAR with TensorFlow ops hosted at MavenCentral](https://search.maven.org/artifact/org.tensorflow/tensorflow-lite-select-tf-ops)

[2022-10-03 19:08] #57918 closed

[2022-10-03 19:45] cantonios commented on #57918
Thank @elfringham.  That's wrong in Eigen, so I'll fix that upstream.  In the meantime, I put in a workaround that should fix it.

[2022-10-03 19:45] avocadotruck94 commented on #57679
Same issue as earlier commenters with tensorflow 2.10.0 and @pberndt with tf-nightly-2.11.0.dev20221003 although the cublas error is gone as reported in earlier comments.

Downgraded to 2.9.0 and I'm not seeing any libnvinfer.so.7 warnings.
It was either that or downgrading to Python 3.8 to install TensorRT 7 since it doesn't seem to support later python versions.

The only related topics I can fi

[2022-10-03 20:16] drElenaSmirnova commented on #40683
hm.. after installing the above, tensor flow is failing to be imported:

tf.__internal__.register_load_context_function(in_load_context)
AttributeError: module 'tensorflow.compat.v2.__internal__' has no attribute 'register_load_context_function'

[2022-10-03 20:18] sagunb commented on #57095
@penpornk could you provide a minimal reproducer. Thanks!

[2022-10-03 20:48] ashiqimranintel commented on #57743
Hi @SriramR474 , to get the best performance on Intel Xeon Scalable Processors, I would suggest you to use Horovod. you can our blog
https://www.intel.com/content/www/us/en/developer/articles/technical/distributed-training-on-intel-xeon-scalalable-cpus.html

[2022-10-03 20:56] PatriceVignola commented on #57095
@sagunb I added a minimal repro in the initial post:

[code]

Note that the `tensorflow-directml-plugin` needs to be installed (`pip install tensorflow-directml-plugin`). I imagine this could repro with other pluggable device plugins as well, but I haven't tested any of them.

Also, I believe it can be repro'ed on both Windows and Linux, but `tensorflow-directml-plugin` is only available on Window

[2022-10-03 21:06] sagunb commented on #57095
Thanks Patrice, I can certainly try that out as well. I think the original idea was for penpornk@ to provide a standalone reproducer with a virtual pluggable device that did not require installing the tensorflow-directml-plugin.

[2022-10-03 21:07] EdwardCuiPeacock commented on #52605
Confirming that this is still an issue as of 2.10.0. Workaround above is not acceptable since TF Serving will not be able to serve a function stored this way.

[2022-10-03 21:10] sapphire008 commented on #52605
Confirming that this is still an issue as of 2.10.0. Workaround above is not acceptable since TF Serving will not be able to serve a function stored this way. Please reopen this issue @tilakrayal.

[2022-10-03 21:13] sapphire008 commented on #52605
The need is mainly for saving the serving with the serving signatures during production. This workaround does not help with the use case in production.

[2022-10-03 21:57] Urkchar commented on #57945
I can confirm that gist you provided works. What next?

[2022-10-03 22:40] cantonios commented on #57751
The CPU behavior is actually intentional to match numpy.  Using `==` between tensors returns False if there is a shape mismatch [doc](https://www.tensorflow.org/api_docs/python/tf/Tensor#__eq__).  If you use `tf.math.equal`, it will assert on incompatible dimensions.

Looks like the GPU behavior is the buggy one.

[2022-10-03 23:46] DNXie opened #57958 "tf.nn.conv2d_transpose abort with large `output_shape`"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.10.0

### Custom Code

No

### OS Platform and Distribution

Ubuntu 18.04.4 LTS (x86_64)

### Mobile device

_No response_

### Python version

3.7.6

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

N/A

### GPU model and memory

_No r

[2022-10-03 23:48] gowthamkpr commented on #57896
@parth-verma7 Please create a PR. Thanks!

[2022-10-03 23:58] ishark commented on #51771
Acknowledged. Have added it to backlog of bugs to investigate for pfor support. There is a generic required support to be added for Composite Tensors.

[2022-10-04 00:07] ishark commented on #55639
Thanks @atlanticstarr1 and @bhack for adding details to the bug.

Regarding the code snippet for RandAugment, I did not see vectorized_map being used in the snippet. Tracing through the dataset.map method briefly, it seems like it uses custom dataset ops and not vectorized_map under the hood. @atlanticstarr1, could you please confirm the slowdown is related to vectorized_map? Otherwise we might wa

[2022-10-04 00:11] bhack commented on #55639
@ishark You can find it if you look at the base class of the image preprocessing layers:

https://github.com/keras-team/keras/blob/master/keras/layers/preprocessing/image_preprocessing.py#L278:L281

[2022-10-04 00:17] bhack commented on #55639
With the within the batch augmentation policy we have (imho wrongly) tried to use `vectorized_map` to workaround the limits of the image ops that are working with an images (batch) but with a fixed transformation (whole batch) arg.

If we are still talking about covering the missing converter with invariant I don't think that we will solve this cases.

[2022-10-04 00:49] ishark commented on #55639
Thanks for the link to keras preprocessing layer @bhack.

I meant I would investigate the original issue of tf.vectorized_map fallbacks occurred during a few of the Keras cv preprocessing layers and check which ones we can resolve in the short term. It may not solve all the issues related to Keras CV + pfor usage, however, hopefully it will move us further along.

[2022-10-04 01:27] jiannanWang opened #57959 "tf.linalg.matrix_rank has different results with or without @tf.function"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.10

### Custom Code

No

### OS Platform and Distribution

Ubuntu 18.04.4 LTS (x86_64)

### Mobile device

_No response_

### Python version

3.7.6

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

N/A

### GPU model and memory

_No

[2022-10-04 01:33] jiannanWang opened #57960 "tf.signal.stft has different results with or without @tf.function"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.10.0

### Custom Code

No

### OS Platform and Distribution

Ubuntu 18.04.4 LTS (x86_64)

### Mobile device

_No response_

### Python version

3.7.6

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

N/A

### GPU model and memory

_No r

[2022-10-04 01:39] jiannanWang opened #57961 "tf.signal.inverse_stft has inconsistent results with or without @tf.function"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.10

### Custom Code

No

### OS Platform and Distribution

Ubuntu 18.04.4 LTS (x86_64)

### Mobile device

_No response_

### Python version

3.7.6

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

N/A

### GPU model and memory

_No

[2022-10-04 03:19] ShubhAgarwal-dev opened #57962 "App attribute missing"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.9.1

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.7.6

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and me

[2022-10-04 03:56] mohantym commented on #57962
Hi @ShubhAgarwal-dev !
You can use Flags using compat.v1 mode using below command.

`tf.compat.v1.flags.FLAGS
`

[Reference](https://www.tensorflow.org/api_docs/python/tf/compat/v1/flags/FLAGS)

Thank you!

[2022-10-04 05:10] Urkchar opened #57963 "tensorflow.keras.layers has no attribute Normalization"
<details><summary>Click to expand!</summary>

 ### Issue Type

Others

### Source

source

### Tensorflow Version

2.10

### Custom Code

No

### OS Platform and Distribution

Microsoft Windows 10 Home ersion 10.0.19043 Build 19043

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA-11.2

[2022-10-04 05:36] emmaai commented on #57889
As said above, I don't have a simple code to replicate the error. It's not only model related but also training data. I got the error messages with some shape of training data, and I don't know exactly what shape(s) could cause it. My observation is that it's due to the flexible shape of ragged tensor. I'm hoping to have some suggestions from hunch or experience of you guys,

[2022-10-04 07:01] Ingkarat opened #57964 "tf.nn.ctc_loss documentation does not mention that 'blank_index' must be provided when 'labels' is a SparseTensor"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Bug

### Source

source

### Tensorflow Version

tf 2.10

### Custom Code

No

### OS Platform and Distribution

Microsoft Windows 11

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model a

[2022-10-04 07:11] tiruk007 commented on #57889
@emmaai
It will be difficult for us to replicate the issue without standalone code. So, could you please provide standalone code to replicate the issue.
Thank you,

[2022-10-04 07:26] OleksandrGrument commented on #57934
Hi @mohantym . Looks like an issue in 2.10. I'm getting runtime exception with GpuDelegateFactory. Looks like it missing
![image](https://user-images.githubusercontent.com/20426405/193759568-68eab6fe-3931-4e34-a6dd-2c65867b4ed2.png)

[2022-10-04 07:26] sushreebarsa commented on #57941
@cosmic-blunder Could you please make sure to follow the instructions mentioned [here](https://www.tensorflow.org/install/source) and check the tested build configuration as well. Please let us know if it helps?
Thank you!

[2022-10-04 07:44] tilakrayal commented on #57951
@Sumit5S,
Could you please create a virtual environment and try to install the tensorflow as mentioned in this official document [link](https://www.tensorflow.org/install/source_windows). Please have a look at the [compatible](https://www.tensorflow.org/install/source_windows#tested_build_configurations) tested build configurations as well. Thank you!

[2022-10-04 08:06] hhoefener commented on #57917
@tilakrayal thank you for your response. The randomness and the seeding were not the issue here, I just added seeding to get reproducible runs to be able to compare the model created in the code with the saved-and-loaded model.
However, changing the save and load to h5 files, the issue is gone. So it seems to be a bug in the SavedModel format. Closing this issue in favor of this already existing o

[2022-10-04 08:06] #57917 closed

[2022-10-04 08:18] emmaai commented on #57889
Ok...it only gives error with certain training data, that's why I can't provide the standalone code, and also because I don't know what triggered and how to replicate the error. I'd like to have some best guess on the direction such that I could work on replicating the error.

[2022-10-04 08:24] tilakrayal commented on #57959
@jiannanWang,
**tf.function** -- Compiles a function into a callable TensorFlow graph. I tried to execute the code on tensorflow-gpu and the results are the same in both cases.  Kindly find the gist of it here and also please take a look at this official doc [link1](https://www.tensorflow.org/api_docs/python/tf/function) and [link2](https://www.tensorflow.org/guide/intro_to_graphs) for the referen

[2022-10-04 08:32] Ingkarat opened #57965 "tf.nn.gelu raises an exception when 'features'.dtype is not a floating point tensor"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Bug

### Source

source

### Tensorflow Version

tf 2.10

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and mem

[2022-10-04 08:54] HiveYuan commented on #18736
您好，我已收到您的邮件并会尽快处理，祝您工作顺利，生活愉快！——刘源

[2022-10-04 09:04] tiruk007 commented on #57939
@gadagashwini
I was able to reproduce the issue on Colab using TF v2.10. Please find the gist [here](https://colab.research.google.com/gist/tiruk007/3bc6b99cbc6c6236089a42363ef8b549/57939.ipynb) for reference.
Thank you!

[2022-10-04 09:43] levrone1987 opened #57966 "tf_sentencepiece problem with tensorflow 2.10.0"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf 2.10.0

### Custom Code

Yes

### OS Platform and Distribution

Linux Mint

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-10-04 10:13] tilakrayal commented on #57960
@jiannanWang,
I don't find any issue while executing the mentioned code. Could you please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/a771a80086b04dd1ff22a3d8c1bace45/untitled644.ipynb) and let me know if anything is missing here.

[2022-10-04 10:20] mohantym commented on #57950
Hi @gototophao !

Normally this issues appear when you parametrise the Dense layers or pass zero layers or declare more neural than the number of classes you are trying to predict.

It is hard to replicate this issue with codesnippet from the template. Could you provide a colab gist .

[Ref](https://stackoverflow.com/questions/51704365/tensorflow-check-failed-work-element-count-0)

Thank you!

[2022-10-04 10:43] altair199797 commented on #56927
That didn't work for me, except if xxxx is /miniconda/lib
so putting nvvm/libdevice/libdevice.10.bc into /miniconda/lib
everything else is the same.

[2022-10-04 10:48] mohantym commented on #57934
Hi @DorianRudolph !
You forgot to import this line in above imports.
`import org.tensorflow.lite.DelegateFactory
`

You can see from [here ](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/gpu/java/src/main/java/org/tensorflow/lite/gpu/GpuDelegateFactory.java)that GpuDelegateFactory extends the parent class Delegatefactory .

Thank you!

[2022-10-04 10:48] MayStepanyan opened #57967 "Issue with saving a network"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.10.0

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu

### Mobile device

_No response_

### Python version

3․8․10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No re

[2022-10-04 10:55] elfringham opened #57968 "//tensorflow/python/tools:aot_compiled_test fails to build on aarch64"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

git HEAD

### Custom Code

No

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

n/a

### Python version

3.8.10

### Bazel version

5.3.0

### GCC/Compiler version

10.3.0

### CUDA/cuDNN version

n/a

### GPU model and memory

n/a

### Current Behaviour?

[co

[2022-10-04 10:55] elfringham commented on #57968
@cfRod @nSircombe

[2022-10-04 10:55] elfringham commented on #57968
Introduced by https://github.com/tensorflow/tensorflow/commit/09d49d9f6c9c13679ab8181d1b15480ea8a88da1

[2022-10-04 10:57] EwoutH opened #57970 "Update the Android NDK to r25b LTS"
Currently the Android build of TensorFlow and TensorFlow Lite use an older NDK, either 19 or 21. The latest LTS release of the [Android NDK](https://developer.android.com/ndk) is r25b (the exact version is currently `25.1.8937393`), and [supports](https://github.com/android/ndk/wiki/Changelog-r25) the latest features and compilers (LLVM 14).

See earlier NDK updates:

- https://github.com/tensorfl

[2022-10-04 11:10] elfringham commented on #56088
A new [PR](https://github.com/tensorflow/tensorflow/pull/57969) for an AARCH64 specific issue that was introduced with an update to Eigen with this commit https://github.com/tensorflow/tensorflow/commit/09d49d9f6c9c13679ab8181d1b15480ea8a88da1

[2022-10-04 11:30] bgLeon commented on #50765
Hi, I am having this issue as well in 2.8,2.9 and 2.10. Ram usage keeps growing everytime I call a tf. function, which is quite problematic for RL. This didn't happen with tf 2.5. The issue is very simple to reproduce, just use the code below and monitor the Ram, it'll increase quite quickly

[code]

[2022-10-04 12:27] bhack commented on #55639
Hopefully we can discuss it publicly as soon as you have an idea. My hypothesis is obviously that in this specific case the lack of converters is just a "facade" problem

[2022-10-04 13:12] tilakrayal commented on #57963
@Urkchar,
I was able to execute the mentioned code without any issues on tensorflow v.2.10. Kindly find the gist of it here also `tf.keras.layers.Normalization` is an attribute in TensorFlow v2.6.0, so might not work on earlier versions: https://www.tensorflow.org/api_docs/python/tf/keras/layers/Normalization

[2022-10-04 13:17] mohantym commented on #57968
Hi @elfringham !
Thanks for the PR #57969 . This issue will get closed once PR is merged.
Thank you!

[2022-10-04 14:05] mohantym commented on #57907
@csn1800 !
Cast, GatherNd and Unpack are in [Select ops allow list](https://www.tensorflow.org/lite/guide/op_select_allowlist) . As per this thread, GPU acceleration does not work even if you follow the select ops syntax.

For Custom OP impementation, Please refer this [document](https://www.tensorflow.org/lite/guide/ops_custom) here.

Alternatively , You can fallback to XNNPack / NNAPi delegate.

[2022-10-04 14:06] fuzzyswan commented on #57935
Hi @tilakrayal , I totally agree that an exception is the intended behavior for 0/0. However, the tf divide ops are not giving consistent results: `tf.experimental.numpy.floor_divide` gives **-1** for `0/0` on CUDA (**gives a wrong output without throwing any exceptions**), and `tf.experimental.numpy.remainder` gives `0`.

[2022-10-04 14:11] mohantym commented on #56927
Hi @altair199797 !
Could you raise a PR on your findings.
Thank you!

[2022-10-04 14:36] margilt opened #57971 "ValueError: Tensor data is null. Run allocate_tensors() first"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.10.0

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04.5 LTS

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-10-04 14:53] gototophao commented on #57950
@mohantym Thanks！here is the colab link：https://colab.research.google.com/drive/19gUMasb3OGwA6sflNuI7aTyIh8jxiD8m?usp=sharing
Here is the colab link, i copy my code from pycharm to colab. Hope it woeks. If you need anything, feel free to tell me. I am a new one in tensorflow, so i may misunderstand some professional words.

[2022-10-04 14:54] gototophao commented on #57950
if it not work, please tell me. i will try my best to do.

[2022-10-04 14:59] mohantym commented on #57947
Hi @febrifahmi !

Could you check the below command with Bazel 5.1.1 .

`bazel build -c opt //tensorflow_lite_support/tools/pip_package:build_pip_package` .

Thank you!

[2022-10-04 15:44] MSusik opened #57972 "[XLA] Slow compilation"
<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Source

binary

### Tensorflow Version

2.7.0-rc0

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.4

### GPU model and memory

_

[2022-10-04 16:04] jiannanWang commented on #57959
Hi @tilakrayal ,

I didn't find your gist in your comment. Can you please send the link?

I provided a [gist](https://colab.research.google.com/drive/1x7GZDd9hyaBA0S6tnUT0QjKdRu0eSFiK?usp=sharing) in the reproduction code in case you miss it. I was using tf 2.10 with tensorflow-cpu. You can find inconsistencies in the two results, which may be caused by potential bugs.

[2022-10-04 16:15] elina-israyelyan commented on #57052
It is still not clear from what part is the issue :/

[2022-10-04 16:15] csn1800 commented on #57907
Thanks @mohantym  for the clarifications.

So, you mean to say these ops are not supported on all GPUs (and backends)?

Could you please suggest a way to make these unsupported ops supported on GPUs (with OpenGL backend), if it is there? Will creating custom ops under custom_parsers.cc, inheriting the NodeShader and overriding the GenerateCode be helpful?

I assume NNAPI works only on Android plat

[2022-10-04 16:16] mohantym commented on #57607
Hi @Kapil-23 !
I was able to get a TFLite model by following select ops syntax and default quantization(Float32).
Attached [gist ](https://colab.sandbox.google.com/gist/mohantym/eb000bec84d80bd5993727030c552050/git_57607.ipynb)for reference.
Thank you!

[2022-10-04 16:30] foxik commented on #57052
@elina-israyelyan No, it is not, but the Keras guys asked us to open an issue back on Tensorflow repo, which you probably can do (since you are the creator of this issue).

[2022-10-04 18:19] sachinprasadhs commented on #57391
@robert-kalmar , I see that your linked PR is merged, if your issue is resolved, could you please close the issue. Thanks!

[2022-10-04 18:45] robert-kalmar commented on #57391
@sachinprasadhs , the PR containing the fix is merged in 2.10.0, the PR was sent to release branch. The same error is on master branch, here the PR is still under review - https://github.com/tensorflow/tensorflow/pull/56602. Can you please help to push the review forward?

Thanks

[2022-10-04 19:46] gowthamkpr commented on #57741
@cnglen I agree with [this](https://github.com/tensorflow/tensorflow/issues/57741#issuecomment-1250984750). But development of keras has been moved to a different repo. Can you please create an issue in [keras-team/keras](https://github.com/keras-team/keras/issues/new/choose). Thanks!!!

[2022-10-04 19:54] Valret commented on #33131
Big thumbs up for this request, having either JAX-like or PyTorch-like in-place assignment is a must. Rewritting SOTA models implemented in PyTorch to TensorFlow is a nightmare because of the lack of this feature.

[2022-10-04 21:33] #57502 closed

[2022-10-04 21:33] #57610 closed

[2022-10-04 23:03] mohantym commented on #56157
Hi @Sara980710 !
In Python, You can force the CPU usage through [tf.device](https://github.com/tensorflow/tensorflow/issues/56157#issuecomment-1132833571) or by disabling the cuda variable through os.

[Ref](https://datascience.stackexchange.com/a/58846).

Can you mark it as duplicate to #56148 and comment there  if it is still not resolved .

Thank you!

[2022-10-04 23:12] mohantym commented on #51348
Hi @MaybeAndroid !
We are checking to see whether you still need help in this issue .
Have you checked this issue in TF 2.9/2.10 version yet.
Thank you!

[2022-10-04 23:38] arvindrajan92 commented on #57666
Hi @willi3by,
Have you tried downgrading from CUDA 11.2 to CUDA 11.1?
If you are using conda environment, following installation steps in https://www.tensorflow.org/install/pip, `conda install -c conda-forge cudatoolkit=11.1 cudatoolkit-dev=11.1 cudnn=8.1.0 -y` sets up my environment perfectly. I have been doing this to circumvent the issue with CUDA 11.2 and you might find this helpful as well.

[2022-10-05 00:36] Urkchar commented on #57963
The wrong Python interpreter was selected so TensorFlow 2.4.0 was running instead of 2.10.0. This issue may be closed.

[2022-10-05 00:36] #57963 closed

[2022-10-05 00:55] febrifahmi commented on #57947
Unfortunately, I can't install Bazel 5.1.1 on my Raspberry Pi, as per information stated in [Bazel documentation page](https://bazel.build/install) installation on Raspberry Pi is using the latest [Bazel ARM version](https://github.com/koenvervloesem/bazel-on-arm/blob/master/README.md) supported by Bazel on arm package, which is now AFAIK only [support Bazel version 4.2.2](https://github.com/koenv

[2022-10-05 01:35] JustASquid opened #57975 "Grappler error when Softmax is used in a custom layer"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.10.0

### Custom Code

Yes

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.6

### GPU model and memory

_No response_

###

[2022-10-05 02:28] mohantym commented on #56135
Hi @SanjayGhanagiri !
I could run the [Colab notebook](https://colab.sandbox.google.com/gist/mohantym/1f8ea929c068274d4f689a3d1e14349a/model-maker-object-detection-tutorial.ipynb#scrollTo=Gb7qyhNL1yWt) in GPU run time without any issue. Could you let us know from your end.
Thank you!

[2022-10-05 02:29] mohantym commented on #57971
Hi @margilt !
To get inference from a TFlite model, We normally pass a Tensor at input[index] and get the output values at output[index] after invoking the interpreter.

I think you were trying to output values for each of 7 layers in the lite model but you forgot to input a data and invoke.

Attached resolved[ gist](https://colab.sandbox.google.com/gist/mohantym/e97f3ad00de31bd413b80526bca14468/g

[2022-10-05 03:34] supercharleszhu opened #57976 "Supporting int32 value type in TextFileInitializer."
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

source

### Tensorflow Version

tf 2.9

### Custom Code

No

### OS Platform and Distribution

Linux

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memor

[2022-10-05 05:43] mohantym commented on #27303
Hi @jpangburn !
stft and rfft are supported as select ops operators now (Please check #54501). Could you close this issue as duplicate #54501 and track progress of bringing native support there (#54501) only.

Thank you!

[2022-10-05 06:15] elina-israyelyan commented on #57052
Cannot reopen from my side will open a new issue

[2022-10-05 06:18] kenluozhenyu commented on #57052
Met similar problem on TF 2.9/2.10

2022-10-05 14:05:12.123396: W tensorflow/core/common_runtime/forward_type_inference.cc:231] Type inference failed. This indicates an invalid graph that escaped type checking. Error message: INVALID_ARGUMENT: expected compatible input types, but input 1:
type_id: TFT_OPTIONAL
args {
  type_id: TFT_PRODUCT
  args {
    type_id: TFT_TENSOR
    args {
      type_id:

[2022-10-05 06:33] #57760 closed

[2022-10-05 07:11] DLumi opened #57977 "[RNN] GRU conversion/performance issues on CPU on Windows machines"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 11 Home Single Language, ver 21H2
- CPU: AMD Ryzen 7 6800H
- Python: 3.10.4
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.10.0

### 2. Code
Please note that the issue is only noticeable on Windows mac

[2022-10-05 07:11] Ingkarat opened #57978 "Undocumented explicit padding exceptions in tf.nn.max_pool and tf.nn.max_pool2d"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Bug

### Source

source

### Tensorflow Version

tf 2.10

### Custom Code

Yes

### OS Platform and Distribution

Microsoft Windows 11

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model

[2022-10-05 07:33] #57669 closed

[2022-10-05 08:39] mohantym commented on #26315
Hi @herbakamil !
This issue has been addressed in the 2.9 version. Attached [gist](https://colab.sandbox.google.com/gist/mohantym/b635e84d3cbf499a36828a2abea504d4/tensorflow-ranking.ipynb#scrollTo=skRg4_WPi616) for reference.
Thank you!

[2022-10-05 09:17] jpangburn commented on #27303
Hi @mohantym,
Thank you, great news that these operators are supported as select ops operators.  Also, thank you to everyone that helped each other make progress on their models with various workarounds in the meantime.  The community spirit is alive and well here in TF!

For those who looked at the issue and scrolled to the bottom, please see issue #54501 for progress on STFT and RFFT getting nat

[2022-10-05 09:18] #27303 closed

[2022-10-05 09:54] #55389 closed

[2022-10-05 10:33] #42242 closed

[2022-10-05 11:01] shijy16 opened #57980 "Check-fail in Conv2DBackpropFilter"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.10 and 2.11.0-dev20221005

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA 11.5

### GPU mode

[2022-10-05 11:05] shijy16 opened #57981 "Another Check-fail in Conv2DBackpropFilter"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.10 and 2.11.0-dev20221005

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA 11.5

### GPU mode

[2022-10-05 11:55] bgLeon opened #57982 "Ram memory leak when using tf.function at tf 2.8,2.9 and 2.10, doesn't happen with tf 2.5"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.10

### Custom Code

Yes

### OS Platform and Distribution

Ubuntu, also on Windows

### Mobile device

_No response_

### Python version

3.10 and 3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and m

[2022-10-05 14:38] yongtang commented on #57958
Added a PR #57983 for the fix.

[2022-10-05 14:45] frost-is commented on #57698
Alright - this was actually not a bug but a feature, I used the fix described in https://github.com/keras-team/keras/issues/16205

It's working now - and I do get the `Found 5 files belonging to 1 classes.`

For reference, the dataset is a little something I put together for this issue, containing 5 images - 3 of cats (1 3 5) and 2 of dogs (2 4)

Despite feeding a list to the function, it still do

[2022-10-05 14:51] margilt commented on #57971
Hi @mohantym ! I really appreciate you taking the time to answer.

Actually what I'm trying to accomplish with the posted code is not to run inference, but to gather or log all the weights of some particular TFLite model (ideally as numpy arrays). I have actually been using a similar code with TF 2.4.3 using several more complex TFLite models and it works.

I recently tested my example code with T

[2022-10-05 15:43] yongtang commented on #57980
Added a PR #57984 for the fix.

[2022-10-05 16:46] angerson commented on #57844
I don't know about this one, sorry.

[2022-10-05 16:47] DorianRudolph commented on #57934
@mohantym importing DelegateFactory does not help. It really does seem like the class is just missing from the AAR, as @Erdemtsynduev points out.

[2022-10-05 17:28] Raj-Gohil opened #57988 "[RNN/LSTM]concatenation error during invoke()"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source):

### 2. Code

I converted pytorch model to tensorflow using onnx. The output of converted tensorflow model is exactly as expected.
The following is the pytorc

[2022-10-05 17:49] #53062 closed

[2022-10-05 18:49] JunyoungLim commented on #56970
Thanks, @mohantym !

Hi, @rolfvandam , I will close this issue as the PR seemed to fix it, but please feel free to open it again if the issue is still present.

[2022-10-05 18:49] #56970 closed

[2022-10-05 18:49] #52105 closed

[2022-10-05 18:49] #49940 closed

[2022-10-05 18:49] #44936 closed

[2022-10-05 18:49] #53772 closed

[2022-10-05 18:49] #41046 closed

[2022-10-05 18:49] #53742 closed

[2022-10-05 19:49] #55072 closed

[2022-10-05 19:49] #45249 closed

[2022-10-05 19:49] #46853 closed

[2022-10-05 19:49] #44235 closed

[2022-10-05 20:14] sachinprasadhs commented on #56629
Could you try saving the model with `model.save` instead of `saved_model.save` to let us know the outcome.

[2022-10-05 20:32] mexiQQ opened #57990 "is there any ways I can embed my self-implemented FP8 format (C/C++) into tensorflow, and support current ops automatically?"
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

source

### Tensorflow Version

2.10

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model an

[2022-10-05 21:10] sachinprasadhs commented on #56418
@innat, I don't think we have any API do adapt that, could you please close the issue, since it is already included in the latest Tensorflow version. Thanks!

[2022-10-05 21:31] gowthamkpr commented on #57712
@DNXie I don't run into this error with the latest version of tf-nightly (`2.11.0-dev20221005`). Please find the gist [here](https://colab.research.google.com/gist/gowthamkpr/f7d762f2cf5e692dffe77e673a5edc27/57712.ipynb).
This is the error that I run into:
`InvalidArgumentError: Failed to create numpy array from tensor of shape [0, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100]. Numpy erro

[2022-10-05 21:45] gowthamkpr commented on #57739
Lets say you have your python code (.py file) in specific directory, you go to that directory and the run the command below.
Go to the directory, where you launch your python code and create the link:
`ln -s /full/path/to/your/cuda/installation/bin .`

Hope this helps!!

[2022-10-05 23:04] gowthamkpr commented on #49896
@rakeshmothukuru1 As mentioned [here](https://stackoverflow.com/questions/67754649/mean-of-tensorflow-kerass-glorot-normal-initializer-is-not-zero), The initializer's mean is zero, you are random sampling from it. That's normal that sample's mean will not be exactly 0.

[2022-10-05 23:04] #49896 closed

[2022-10-05 23:23] gowthamkpr commented on #44670
Sure. Thank you!!

[2022-10-05 23:26] gowthamkpr commented on #57922
@jntdst I don't see any issue with the formula. Are you mentioning that it should be formatted? Thanks!!

[2022-10-05 23:40] MThalberg opened #57999 "`tf.gather` outputs wrong result with jit_compile"
### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.10, tf-nightly

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Current Behaviour?

According to documentation, `tf.gather` should return `0` when `indices` is out of bound on GPU. However, in the code below, the jit compiled function returns `0.2` instead of `0`.

### Standalone code to reproduce

[2022-10-06 00:49] #53002 closed

[2022-10-06 00:49] #41361 closed

[2022-10-06 00:49] #55390 closed

[2022-10-06 00:49] #55474 closed

[2022-10-06 00:49] #49906 closed

[2022-10-06 00:49] #55707 closed

[2022-10-06 01:45] woojinn8 opened #58000 "Incorrect behavior at elementwise calculation(MUL) between different dimension when use GPU DELEGATE"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): __Linux Ubuntu 20.04 & Android 8.1__
- TensorFlow installed from (source or binary): __build from source using bazel.__
- TensorFlow version (or github SHA if from source): __github release tag v2.10.0__

**Provide the text output from tflite_convert**
[code]
**Standalone code to reproduce the issue**
Provide a repro

[2022-10-06 02:11] Jerry-Ge commented on #57926
@tilakrayal hmm..I couldn't find where the source file is. Do you have any ideas?

[2022-10-06 02:16] josephrocca commented on #56629
Hi @sachinprasadhs, `tf.Module` don't have a save method unless I'm mistaken (I just tried it to make sure). Please see the last two cells of this notebook if you'd like to replicate this. Just make any edits you'd like and then click "Runtime > Run all" and you'll see the issue:

https://colab.research.google.com/gist/josephrocca/7dff488a71b55266c8d603709ecffc98/minimal-dalle-mini-inference-and-t

[2022-10-06 02:22] #56418 closed

[2022-10-06 04:05] tiruk007 commented on #57937
@Robert173
Can you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose). Also please provide a code snippet to reproduce the issue reported here.

Thank you !

[2022-10-06 04:39] Urkchar commented on #57945
Installing `openssl` in my conda environment solved this issue.

[2022-10-06 04:43] AndreV84 opened #58001 "model created in TF 1.15.4 won't run on TF 1.15.5"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

1.15.5

### Custom Code

Yes

### OS Platform and Distribution

Ubuntu tegra Linux [Linux agx 5.10.65-tegra #1 SMP PREEMPT Mon May 16 20:58:07 PDT 2022 aarch64 aarch64 aarch64 GNU/Linux]

### Mobile device

nvidia jetson AGX

### Python version

3.8.10

### Bazel version

_No response_

[2022-10-06 05:00] 971766904 commented on #57940
Thanks @tilakrayal , the latest version 2.10 has been successfully built without any error.

[2022-10-06 05:23] tilakrayal commented on #57940
@971766904,
Glad the issue is resolved for you, please feel free to move this to closed status. Thank you!

[2022-10-06 05:36] Urkchar commented on #57945
It seems like my installation of openssl was faulty or something. Installing it again seemed to fix it.

[2022-10-06 05:54] tilakrayal commented on #57966
@levrone1987,
Could you please try to uninstall the older tf version and create the new virtual environment & install latest stable version 2.10 and let us know if you are facing the same issue. Also please take a look at this doc link which provides the information on [compatible](https://www.tensorflow.org/install/source_windows#tested_build_configurations) tested build configurations. Thank you

[2022-10-06 06:22] gowthamkpr commented on #52121
@haozh7109 Please take a look at the solution mentioned [here](https://github.com/tensorflow/tensorflow/issues/53333#issuecomment-1005368027), which should help. Thanks!!

[2022-10-06 06:37] tiruk007 commented on #57930
@danilyef
This issue seems to be a keras issue. Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999).
Thank you

[2022-10-06 06:46] sandeep5193 commented on #57099
Recently we updated the app with the latest version of this lib, and now we are seeing this exception:

[code]

I assume this is for TFLite module and not GPU Delegate.

[2022-10-06 07:46] RickSanchezStoic opened #58002 "Making tensorflow.tile similar to numpy.tile and torch.tile"
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

source

### Tensorflow Version

2.9.1

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model a

[2022-10-06 08:28] mohantym commented on #57971
@margilt !
Yeah! it did not replicate till 2.7 and started replicating 2.8 onwards as you pointed out.

[2022-10-06 08:32] mohantym commented on #57988
Hi @Raj-Gohil!
Could you confirm that input shape for both original model and lite model is [1,160,40] . If not same , you can resize the input tensor in lite model to shape of original model.

Would it possible to share a toy model/ Colab gist too.

Thank you!

[2022-10-06 08:58] AmosChenYQ opened #58003 "[XLA] Can not compile XLA program using JitRtExecutable after removing BefExecutable"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf2.11

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8.10

### Bazel version

5.1.1

### GCC/Compiler version

g++ (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0

### CUDA/cuDNN version

 Driver Version: 510.68

[2022-10-06 09:01] Raj-Gohil commented on #57988
Hello @mohantym,
The input shape is [1,160,40]
If you want i can share the .pb file.

[2022-10-06 09:04] AmosChenYQ commented on #58003
I will close this issue for later attachment bacause I'm leaving

[2022-10-06 10:02] miguelusque commented on #42242
Hi, I would say this issue is still relevant. The bug I mentioned in my original comment is still present.

I have just tried it with 22.09 version of TF2. Please see below the bug I am facing:

Could you please re-open this issue? Thanks!

[2022-10-06 10:26] mohantym commented on #51467
Hi @skillingt !
Can you add one more flag in above conversion with 2.9/2.10  and let us know the result.
`converter.Target_Spec.supported_types=[tf.int8]
`
Thank you!

[2022-10-06 10:28] mohantym commented on #57988
Ok @Raj-Gohil !
Did you check the fusion code lab instructions ? Please share the model file too.
Thank you!

[2022-10-06 10:37] Raj-Gohil commented on #57988
[test_new1.zip](https://github.com/tensorflow/tensorflow/files/9724024/test_new1.zip)
This is the folder which has the .pb and .tflite model.
Please check it out and I did not get what exactly is to be done according to the fushion code lab instructions.
If you can share a code snippet of what needs to be done in python... it would be great.

[2022-10-06 11:14] tilakrayal commented on #57978
@Ingkarat,
We would prefer a PR for the validation, Could you please feel free to submit a PR for the requested change to be made. Thank you!

[2022-10-06 11:16] tilakrayal commented on #57981
@shijy16,
PR #57984 was raised for the similar issue #57980. Could you please check and confirm that both issues are similar? Thank you!

[2022-10-06 11:46] Valret commented on #33131
@cantonios any update on this? You mentioned it is on the roadmap, would be nice to get some more info after all these years.

[2022-10-06 11:50] acq commented on #57099
Ah, that's frustrating...
Thanks for letting us know.

I was hoping the issue was only impacting the GPU delegate optional module, but your error points to the problem also impacting the main TFLite optional module.
So we'll have to publish SDK updates of play-services-tflite-java, play-services-tflite-support, ...

I'll let you know when those are available

[2022-10-06 11:54] tilakrayal commented on #57903
@renguote,
Thanks for opening this issue. Development of keras moved to another [repository](https://github.com/keras-team/keras/issues).

Could you please post this issue on keras-team/keras [repo](https://github.com/keras-team/keras/issues).
To know more please refer:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2022-10-06 12:01] sandeep5193 commented on #57099
Well, we already mentioned this issue for TFLite module as well, [here](https://github.com/tensorflow/tensorflow/issues/57099#issuecomment-1256375155). But after that we stopped receiving it, and we thought dynamically loading modules through Play Services might have solved it.

[2022-10-06 12:49] #57796 closed

[2022-10-06 13:08] tilakrayal commented on #57982
@sachinprasadhs,
I was able to reproduce the issue on tensorflow v2.8, v2.10 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/19e9799e2d49389f3cd702c80fb8ca1d/untitled650.ipynb).

[2022-10-06 13:52] mohantym commented on #53776
Hi @SunAriesCN !
Could you check the instructions from the [English document ](https://www.tensorflow.org/lite/performance/gpu#delegate_serialization)for now.

 Feel free to update in Chinese document too.

Thank you!

[2022-10-06 13:56] jasonw247 opened #58004 "Failed to build libtensorflowlite_c.so on M1 mac"
### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.10.0

### Custom Code

No

### OS Platform and Distribution

darwin_arm64

### Mobile device

_No response_

### Python version

3.9.12

### Bazel version

5.3.0

### GCC/Compiler version

Apple clang version 14.0.0

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current Behaviour?

[c

[2022-10-06 13:57] Prasun92 commented on #57859
Sorry, for inconvenience, please use [this](https://gist.github.com/Prasun92/2e8211823af3ae10ffd8bbc3817be548) link.

[2022-10-06 14:00] Prasun92 commented on #57859
@tilakrayal if still facing the issue with opening the code file, please find the code below

import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_io as tfio
import matplotlib.pyplot as plt
import seaborn as sns

yamnet_model_handle = 'https://tfhub.dev/google/yamnet/1'
yamnet_mo

[2022-10-06 14:11] sushreebarsa commented on #57949
@BhavyaShah1234 Could you please provide the standalone code and other dependencies to replicate this issue?
Thank you!

[2022-10-06 14:18] tilakrayal commented on #57903
@renguote,
Could you please close this issue, since it is already being tracked there?  Thank you!

[2022-10-06 14:23] tilakrayal commented on #58002
@RickSanchezStoic,
Could you please take a look at doc [link](https://www.tensorflow.org/api_docs/python/tf/tile) for tf.tile which supports **the operation creates a new tensor by replicating input multiples times** and confirm if you are looking for the similar feature. Thank you!

[2022-10-06 14:28] mohantym commented on #58004
Hi @jasonw247 !
.so extension for linux machines and
.dylib extension for macos

[Ref ](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/c/BUILD#:~:text=%23%20%20%20%2D%20Linux/Android%3A%20%60libtensorflowlite_c,Windows%3A%20%60tensorflowlite_c.dll%60)
Could you just go without .so extension and let us know .
`bazel build --config=monolithic --cpu=darwin_arm64 -c opt //tensorf

[2022-10-06 15:07] Ingkarat commented on #57978
Thank you @tilakrayal. I will create a PR.

[2022-10-06 15:29] Kristoff-starling opened #58006 "Running TF with Compute Sanitizer Results in Deadlock"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.10

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8.13

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_N

[2022-10-06 15:55] cantonios commented on #33131
@Valret

It's in the internal design phase, a public RFC will be sent out either this quarter or next quarter for comments/feedback.

[2022-10-06 16:30] csn1800 commented on #40918
@ravikyram Could you please clarify if this undefined reference on TfLiteGpuDelegateV2Create is an actual issue or not?

I could use TfLiteGpuDelegateCreate with applications using libtensorflowlite_gpu_gl.so library, but was not able to use V2 APIs. Is there any way to enable the V2 APIs on OpenGL delegates?

[2022-10-06 16:31] csn1800 commented on #40918
@GrigorySamokhin Were you able to use TfLiteGpuDelegateV2Create  with libtensorflowlite_gpu_gl.so ?

[2022-10-06 16:45] mohantym commented on #53721
Hi @kafan1986 !
I was able to get TFlite model by adding the  below in 2.10 .
`converter.experimental_new_converter = True`
Attached[ gist](https://colab.sandbox.google.com/gist/mohantym/d15426b829df29e44bda12c185a8b157/53721.ipynb#scrollTo=5ZIXIuTnKWMS) for reference.
Thank you!

[2022-10-06 17:20] mohantym commented on #52774
Hi @zding047 !
You can disable the layers with SpaceToBatchND-Conv2D-BatchToSpaceND and other nodes which are not gpu compatible  with the  below command ,
[code]
[Ref.](https://www.tensorflow.org/lite/performance/quantization_debugger)
You can find the layers which are not compatible with GPU with below command.
`tf.lite.experimental.Analyzer.analyze(model_content=fb_model, gpu_compatibility=True

[2022-10-06 17:26] jasonw247 commented on #58004
@mohantym

running `bazel build --config=monolithic --cpu=darwin_arm64 -c opt //tensorflow/lite/c:libtensorflowlite_c --verbose_failures --jobs=4`

results in:
[code]

running: `bazel build --config=monolithic --cpu=darwin_arm64 -c opt //tensorflow/lite/c:libtensorflowlite_c.dylib --verbose_failures --jobs=4`

Results in:
[code]

[2022-10-06 17:29] jasonw247 commented on #58004
For reference, I was able to run both:

`bazel build --config=monolithic -c opt //tensorflow/lite/c:libtensorflowlite_c.so --verbose_failures --jobs=4`

and

`bazel build --config=monolithic -c opt //tensorflow/lite/c:libtensorflowlite_c.dylib --verbose_failures --jobs=4`

on an x86 mac without failure.

[2022-10-06 17:37] mohantym commented on #52330
Hi @sunw70 !
Work around is to add the op from OpResolver in the C++ code.

[code]
[Ref](https://github.com/tensorflow/tflite-micro/issues/284#issuecomment-880339107)

Thank you!

[2022-10-06 17:42] mohantym commented on #52357
@JunhoohnuJ ! @nyadla-sys  !
I could replicate this issue in the 2.10 version. Attached [gist f](https://colab.sandbox.google.com/gist/mohantym/38332c96af0b93d92a7f9f38925a4a59/pytorch_to_onnx_to_tflite-quantized-_with_imagedata.ipynb#scrollTo=CsJDnIA1Yo8G)or reference.
Thank you!

[2022-10-06 18:12] wenscarl opened #58007 "transpose_op_test.py fails with rank 1 complex input on GPU"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf2.10

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-10-06 18:34] RickSanchezStoic commented on #58002
Yes, it has the condition `Length must be the same as the number of dimensions in input` which is not the case in `numpy` or `torch`. You can confirm this by running the standalone code provided.

[2022-10-06 19:02] NeilGirdhar commented on #58007
Did you mean to @ me?

[2022-10-06 19:05] markostam commented on #37606
For folks looking hunting for this error I'll say that I was experiencing this issue on TF 2.8 and Torch 1.12.1+cu116 with CUDA 11.7 on an NVidia TF container.

`pip install tf-nightly-gpu` solved it for me using the build `2.11.0-dev20221006`. code now runs with no errors.🍻

[2022-10-06 19:41] p1kj commented on #22926
take

[2022-10-06 19:49] #57777 closed

[2022-10-06 20:41] gowthamkpr commented on #57620
@lcmeng Can you please try batch size of 32 and let me know if you still run into OOM error? Thanks!!

[2022-10-06 20:47] sachinprasadhs commented on #50172
@elad-c , Could you please try specifying fixed batch size as per the above comment and try with the latest Tensorflow version. Thanks!

[2022-10-06 21:04] ffaisal93 commented on #46178
facing similar issue in October for other staffs

[code]

[2022-10-06 21:05] sachinprasadhs commented on #50002
This issue seems to be fixed in the previous version, related PR https://github.com/tensorflow/tensorflow/commit/3a6a6465c45797bd573c118a535405da43ab03fa, could you please try gain in the latest version and let us know the outcome. Thanks!

[2022-10-06 21:28] amzon-ex commented on #56661
@hahouari This seems to work for me. Is there a way to automate this/set a global configuration?

[2022-10-06 22:12] michaelmontalbano opened #58009 "Using nested loss functions in graph-mode"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

2.8

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No respo

[2022-10-06 22:54] chaturv3di commented on #57359
I'm facing the same errors.

[code]

And it started to appear only after I did
[code]

Now I can reproduce this problem with this simple snippet. The exact same code below was working fine before I installed `setfit`.

[code]

[2022-10-06 23:03] wenscarl commented on #58007
Yes. I saw the last relevant commit is[ Fix numpy 1.20 deprecation warning] (https://github.com/tensorflow/tensorflow/commit/8cf6c454f53aa49405f5cb82dfd9a1321f4d2e49).  But free to ignore or redirect to others.

[2022-10-06 23:42] mohantym commented on #57907
@sachinprasadhs !
Could you look at this query.
Thank you!

[2022-10-07 00:56] sushreebarsa commented on #57965
@gadagashwini I was able to replicate the issue on colab, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/a47ca6dc03fec6f90c676daf2033241a/57965.ipynb) here. Thank you!

[2022-10-07 01:04] sushreebarsa commented on #57961
@sachinprasadhs I was able to replicate the issue, please find the gist here. Thank you!

[2022-10-07 01:11] NeilGirdhar commented on #58007
@wenscarl I'm unsure how my change affected things?

[2022-10-07 01:12] sushreebarsa commented on #57967
@gadagashwini I was able to replicate the issue, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/b5728542d0d70a7b1b1c142ee14a7071/57967.ipynb#scrollTo=rl76oVc2-3WM) here. Thank you!

[2022-10-07 01:30] sushreebarsa commented on #58001
@AndreV84 Older version of TF(1.15) is not actively supported, please try to to upgrade to latest TF version and let us know if this issue still persists ?
Thank you!

[2022-10-07 01:59] #57940 closed

[2022-10-07 02:31] febrifahmi commented on #57947
I'm [unable to bootstrap Bazel 5.3.0](https://github.com/bazelbuild/bazel/issues/16416) from the source. I will try another workaround to install tflite-support.

[2022-10-07 02:31] Kristoff-starling opened #58013 "Tensorflow Build Fail with `config=asan/msan/ubsan`"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf 2.10

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8.13

### Bazel version

5.3.0

### GCC/Compiler version

9.4.0

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No resp

[2022-10-07 02:36] Kristoff-starling commented on #58013
A relevant issue is #50892. I'm curious about whether ASAN is supported now and have I done anything incorrectly when building with ubsan. Thanks!

[2022-10-07 02:54] #57903 closed

[2022-10-07 03:10] tilakrayal commented on #57978
@Ingkarat,
Could you please raise the PR and provide the PR number for the reference. Thank you!

[2022-10-07 03:22] #57945 closed

[2022-10-07 03:40] Ingkarat commented on #57978
@tilakrayal yes I will reference the PR number here when I have it.

[2022-10-07 03:48] mohantym commented on #57947
Hi @febrifahmi !
You can also install [tflite-runtime ](https://www.tensorflow.org/lite/guide/python)or check the wheel from[ pintoo.](https://github.com/PINTO0309/TensorflowLite-bin) for rasberry usage.
Thank you!

[2022-10-07 04:18] mohantym commented on #51457
Hi @GoldFeniks !
Thanks for reporting the bug.
Required changes has already been made in Master branch. Could we consider this resolved now.
[Ref.](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/gpu/delegate.cc)

Thank you!

[2022-10-07 04:43] GoldFeniks commented on #51457
Hi!
Yes, the issue is resolved. Thank you!

[2022-10-07 04:43] #51457 closed

[2022-10-07 04:49] #57767 closed

[2022-10-07 04:49] #57774 closed

[2022-10-07 05:05] tilakrayal commented on #57999
@MThalberg,
Could you please provide the doc link where it was mentioned **tf.gather should return 0 when indices is out of bound on GPU**.
It helps to analyse the issue.

validate_indices | Deprecated, does nothing. Indices are always validated on CPU, never validated on GPU.
-- | --

Thank you!

[2022-10-07 05:30] mohantym commented on #58004
Ok @jasonw247 !
I think you were trying to build libtensorflowlite_c for Mac M1 (Darwin Arm64). It succeeded with below command in my Mac M1 with Bazel 5.0.0 and TF 2.9 branch.  Testing with 2.10 version now.

`bazel build --config=monolithic -c opt tensorflow/lite/c:libtensorflowlite_c.dylib --verbose_failures --jobs=4`

Thank you!

[2022-10-07 05:34] mohantym commented on #49943
Hi @anshudaur !
evaluation_stages_pb2 is depreciated now .

You can use evaluation_stages now in 2.10 version after built from source.
`from tensorflow.lite.tools.evaluation.proto import evaluation_stages`

Thank you!

[2022-10-07 06:15] sachinprasadhs commented on #21526
Since all the issues mentioned in the task is closed, cloud you please close this issue. Thanks!

[2022-10-07 06:49] #57780 closed

[2022-10-07 07:20] tilakrayal commented on #57935
@fuzzyswan,
We see that you're using a tf-nightly version(2.11dev) which is not stable. Could you please try with the stable version 2.10.0 and let us know if you are facing same issue. Thank you!

[2022-10-07 07:35] Raj-Gohil commented on #57988
Do you have updates on this @mohantym

[2022-10-07 07:49] #57766 closed

[2022-10-07 08:29] mohantym commented on #47744
Hi @Krisonrik !
I got a successful build in my Mac M1 with below command (with 2.9 and Bazel 5.0.0) . used .dylib instead of .so .
[code]

<img width="1506" alt="Screen Shot 2022-10-07 at 10 45 51 AM" src="https://user-images.githubusercontent.com/86464649/194509071-960bba6d-dec5-45a8-ad9a-a3bbee5c5823.png">

Thank you!

[2022-10-07 08:57] mohantym commented on #57988
@Raj-Gohil
I was able to reproduce concatentation.cc error with above method. Proposed idea on Fusion code lab was like below.
( But it was throwing dimension mismatch)

[code]

Attached [gist](https://colab.sandbox.google.com/gist/mohantym/49fd8ddd795dbd5a08dbcc4b71e36a15/git_57988.ipynb#scrollTo=YE5BjPHfCT1y) for reference.

Thank you!

[2022-10-07 09:14] jondo commented on #56910
(@will-cern in the meantime posted this [in the TF Forum](https://discuss.tensorflow.org/t/how-is-binarycrossentropy-loss-calculated-in-keras-fit-evaluate/11331/) and [in the Keras tracker](https://github.com/keras-team/keras/issues/17125))

[2022-10-07 09:41] GrigorySamokhin commented on #40918
Yes, but you need to link two libraries, Tflite core and GL

[2022-10-07 09:43] GrigorySamokhin commented on #40918
Also check tflite version to have this declaration in incudes

[2022-10-07 09:49] #57812 closed

[2022-10-07 09:49] #27223 closed

[2022-10-07 10:02] mohantym commented on #46753
Hi @SunAriesCN !
Attached list of  [built in ops ](https://www.tensorflow.org/mlir/tfl_ops)and[ select ops](https://www.tensorflow.org/lite/guide/op_select_allowlist) .  You can also [register a custom operator ](https://www.tensorflow.org/lite/guide/ops_custom)in cpu and gpu kernel now.

Can the above pointers be considered as  answer to your query?

Thank you!

To disable quantization and debug

[2022-10-07 10:26] tilakrayal commented on #58009
@michaelmontalbano,
I was facing a different issue while executing the mentioned code. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/923565caab7725dbf1078c122930276c/untitled654.ipynb) and share the required dependencies. Thank you!

[2022-10-07 11:10] gadagashwini commented on #57964
Hi @Ingkarat, This is intended behaviour.
Though its not documented on [Tensorflow.org](https://www.tensorflow.org/) but its clearly mentioned on Tensorflow repo. Please take a look at this code [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/ctc_ops.py#L935-#L939). Thank you!

[2022-10-07 11:23] gadagashwini commented on #57965
Hi @Ingkarat, Please take a look at this [link](https://github.com/tensorflow/tensorflow/blob/v2.10.0/tensorflow/python/ops/nn_ops.py#L3731-L3736). Thank you!

[2022-10-07 11:31] gadagashwini commented on #57967
Hi @MayStepanyan, You can save the model in H5 format without any issue.
Please take a look at below code.

[code]

**Output**
[code]

[2022-10-07 11:43] #55214 closed

[2022-10-07 11:45] d0k commented on #57744
Algebraic Simplifier rewrites `ln(pow(A,B)) => B*ln(abs(A))`. That doesn't look right for negative `B`.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/xla/service/algebraic_simplifier.cc#L3373

[2022-10-07 11:46] DLFrameworkBug commented on #55214
@sachinprasadhs  Is there any link to the  commit or pull request related to the patch with my issue?

[2022-10-07 11:49] #57722 closed

[2022-10-07 12:05] elfringham commented on #56088
My PR https://github.com/tensorflow/tensorflow/pull/57969 was approved 3 days ago but has not yet been merged. Can anyone please see if there is anything that needs to be addressed?

[2022-10-07 12:19] vkatz commented on #57934
Any fix eta?

[2022-10-07 12:26] mohantym commented on #44566
Hi @advaitjain !
It seems that it has been updated to fixed status in the above buganizer ticket.  Can it be considered as resolved then.
Thank you!

[2022-10-07 12:41] tilakrayal commented on #58013
@Kristoff-starling,
Could you please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/55183) from the developer for the similar issue and let us know if it is working in your case. Thank you!

[2022-10-07 13:17] bhack commented on #55639
Please see my Colab performance check at https://github.com/keras-team/keras-cv/issues/581#issuecomment-1271579684

[2022-10-07 13:25] Raj-Gohil commented on #56804
Hello,
Is there any update on this?
I am facing the same error

[2022-10-07 13:27] mohantym commented on #43696
Hi @ml-0 @advaitjain !
As the concerned PR has been merged. Can we move this issue to closed status.
Thank you!

[2022-10-07 13:42] mohantym commented on #43958
Hi @jenselofsson !
Details of Concerned PR has copied to [tflite-micro](https://github.com/tensorflow/tflite-micro/blob/main/tensorflow/lite/micro/micro_profiler.h#:~:text=%7D%3B-,%23if%20defined(TF_LITE_STRIP_ERROR_STRINGS),//,-//%20This%20is) repo now. Please post in [TFLite-micro](https://github.com/tensorflow/tflite-micro) repo for  further assistance.
Thank you!

[2022-10-07 13:42] hyperfraise commented on #32796
Hey. I don't know when it happened, but you're right. I successfully converted from onnx to tensorflow lite a 3d conv model and ran inferences. Thanks !

[2022-10-07 13:53] mohantym commented on #44090
Hi @MrSherish !

We are checking to see whether you still need help in this issue . Have you tried the Selective build through bazel as suggested in the above[ thread.](https://github.com/tensorflow/tensorflow/issues/44090#issuecomment-909721081)

Thank you!

[2022-10-07 13:55] mohantym commented on #32796
Ok @hyperfraise !

Thank you for your confirmation . Moving this to closed status for now.
Feel free to create a new ticket if you need further assistance.

Thank you!

[2022-10-07 13:55] #32796 closed

[2022-10-07 13:56] mohantym commented on #32796
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-10-07 14:23] mohantym commented on #56910
Hi @jondo @will-cern !
I suggested to use 64 neurons instead of 2**8 as it will overfit the results.  Was not that a good enough explanation?
Thank you!

[2022-10-07 14:29] will-cern commented on #56910
That wasn't a satisfactory solution to this issue for me, because the issue is about how the loss function is actually being calculated. Unless I've seriously misunderstood what 'evaluate' does, I believe we should be able to reproduce *exactly* whatever number is calculated by the 'evaluate' method, completely independently of whatever the network architecture is. The loss is simply a function of

[2022-10-07 14:49] harraz commented on #42387
Still getting this error message every time I try to import tensorflow
F tensorflow/core/lib/monitoring/sampler.cc:42] Check failed: bucket_limits_[i] > bucket_limits_[i - 1] (0 vs. 10)
qemu: uncaught target signal 6 (Aborted) - core dumped

Any ideas or clear steps to fix this?
I'm running a docker container on a Apple M1 Pro chip

[2022-10-07 14:50] harraz commented on #42387
Did you find a way to solve this problem?

[2022-10-07 14:51] harraz commented on #52845
Any luck with this issue. I get this when i try to import tensorflow in python

[2022-10-07 15:06] Sougata10 commented on #41448
Any solution to this problem?

[2022-10-07 15:39] davymoon commented on #33501
Why not move all the model.h5 files from /.keras/models to another directory and then softlink them?

[2022-10-07 15:47] pati-dev commented on #41448
Since the TF doesn't care _enough_ about providing a solution to this, the least I can do is share the workaround that I used. Assuming that you have 4 classes that you want to train your model on, discretionary devs can use the below snippet that might help them:

[code]

[2022-10-07 15:54] Ingkarat commented on #57964
Thank you @gadagashwini. Would it be better to mention this in the documentation? maybe as part of `blank_index`'s description or in a Raises section at the end of the documentation.

[2022-10-07 16:03] Ingkarat commented on #57965
Thank you @gadagashwini. Would it be better to mention this floating requirement in the documentation? maybe as part of `features`'s description?

[2022-10-07 16:10] michaelmontalbano commented on #58009
@tilakrayal I've updated the [colab](https://colab.research.google.com/gist/michaelmontalbano/f64048ccc5480fef4b89f6352875035b/untitled654.ipynb), but um, it's triggering a broadcastable shape error now.

Do you know by chance if you are able to use nested functions as shown in the MSE() funct in the colab, while executing in graph_mode? Thanks.

[2022-10-07 16:20] psunn commented on #57775
@LukeBoyer Thank you for https://github.com/tensorflow/tensorflow/commit/8dca3c3ff92b1e1f8d9c11fe277bcd26c2c46cd0 !
It resolved the issue.

[2022-10-07 16:20] #57775 closed

[2022-10-07 18:38] bhack commented on #55639
/cc @martin-gorner

[2022-10-07 19:17] wenscarl commented on #58007
@NeilGirdhar I don't think it's that PR to blame. I will remove your name. There is a non-defined path for rank-1 complex tensor with conjugate required. Should be easy to fix but I am not sure what should be a reasonable behavior, doing a conjugate or treated as no-op?

[2022-10-07 19:49] #43025 closed

[2022-10-07 19:49] #44585 closed

[2022-10-07 19:49] #43995 closed

[2022-10-07 20:24] cpsauer opened #58018 "Problems Spotted in Curl.BUILD"
Hello, wonderful TensorFlow team!

I happened to be looking at your [BUILD file for CURL](https://github.com/tensorflow/tensorflow/blame/master/third_party/curl.BUILD), since I was looking to build curl with bazel myself. (I'm not currently a TensorFlow user.) Along the way, I noticed some issues that might cause problems. I figured you all might want a heads up, so that's what this is.

The first

[2022-10-07 20:37] #57968 closed

[2022-10-07 20:46] ishark commented on #55639
Thank you @bhack! This is very helpful.

[2022-10-07 21:49] #49508 closed

[2022-10-07 22:18] LukeBoyer commented on #56804
Thanks for following up. Didn't get a chance to fix this yet but will
reprioritize. I will keep thread posted.

On Fri, Oct 7, 2022 at 6:25 AM Raj-Gohil ***@***.***> wrote:

[2022-10-07 23:46] febrifahmi commented on #57947
Thanks.. I'll try it. But it seems the binary are only for armv7l while my pi is the old armv6l.

[2022-10-07 23:49] KareemMAX opened #58019 "tf.raw_ops.TruncateDiv documentation is not consistent"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Bug

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model

[2022-10-07 23:56] ndeepesh opened #58021 "AMD GPU's support for Tensorflow"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: No
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux 16.04
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**: NA
-   **TensorFlow installed from (source or binary)**: Source
-   **TensorFlow

[2022-10-08 01:34] huiyan2021 commented on #57499
@shijy16 This issue has been fixed by https://github.com/tensorflow/tensorflow/pull/57998, waiting for being merged.

[2022-10-08 01:43] huiyan2021 commented on #57499
@shijy16 This issue has been fixed by https://github.com/tensorflow/tensorflow/pull/57878 and merged intto master branch, please check.

[2022-10-08 02:09] shijy16 commented on #57981
I'll check if this bug could be replicated after the PR has been merged.

[2022-10-08 02:31] zding047 commented on #52774
Many thanks for your information. May I ask which version does support this piece of code? I could not run it in TF2.5.0. By the way, I think the provided codes are used for debugging but not conversion. Also, I don't want quantization during conversion which might lead to a precision drop.

[2022-10-08 05:49] #9258 closed

[2022-10-08 05:49] #14165 closed

[2022-10-08 06:49] #14428 closed

[2022-10-08 06:49] #13989 closed

[2022-10-08 06:49] #57524 closed

[2022-10-08 06:49] #12964 closed

[2022-10-08 06:49] #9645 closed

[2022-10-08 06:49] #15847 closed

[2022-10-08 08:49] #57636 closed

[2022-10-08 09:28] fsx950223 commented on #58021
Sure, you could take a look at https://www.amd.com/en/technologies/infinity-hub/tensorflow or https://hub.docker.com/r/rocm/tensorflow/

[2022-10-08 09:49] #15920 closed

[2022-10-08 10:49] #14221 closed

[2022-10-08 10:49] #48719 closed

[2022-10-08 11:02] Raj-Gohil commented on #56804
Hello @LukeBoyer it would be great to have fixed this error.
Looking forward to it
I am facing the error which is reproducible using https://github.com/tensorflow/tensorflow/issues/57988
Thank You

[2022-10-08 11:32] rohtkumar opened #58025 "Node: 'IteratorGetNext' Input dataset was expected to contain 1152 elements but contained at least 1153 elements."
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.8.0

### Custom Code

Yes

### OS Platform and Distribution

Ubuntu 22.0

### Mobile device

_No response_

### Python version

3.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No respo

[2022-10-08 11:49] #30953 closed

[2022-10-08 11:49] #27457 closed

[2022-10-08 11:49] #40498 closed

[2022-10-08 11:50] mohantym commented on #56588
Hi @njuhang !
I came across this issue where user divided lite model to multiple sub-graphs using below method.
tflite::SubgraphWriter

will that work for you ?
[Reference.](https://github.com/tensorflow/tensorflow/issues/44606)

Thank you!

[2022-10-08 11:56] mohantym commented on #44606
Hi @ramanps05 !
We are checking to see whether you still need help in this issue . It seems to be resolved from above [comment](https://github.com/tensorflow/tensorflow/issues/44606#issuecomment-753564021).

Can you share the working script on splitting the lite model into subgraphs for other community members with same need.

Thank you!

[2022-10-08 12:05] bhack commented on #58019
The proto of the ops is correctly accepting float/double:

But at the same time we don't have registered generated kernel for float/double:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/mlir_generated/gpu_op_div.cc#L42:L45

@d0k

[2022-10-08 12:09] bhack commented on #58019
See also:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/cwise_op_div.cc

[2022-10-08 12:14] mohantym commented on #58019
Hi @bhack @KareemMAX
Thanks for the pointers. I am trying to come with a PR to register them in kernels  and will test it with a test case prior to it.
Thank you!

[2022-10-08 12:49] #15447 closed

[2022-10-08 13:56] mohantym commented on #52774
@zding047 !
You can skip the quantization of Conv2D-SpaceBatchND-BatchToSpaceND through usage of denylisted nodes in debugger and get the non-quantized model through below command.

`debugger.get_nondebug_quantized_model()`

I think It was introduced in 2.8.2 or 2.9 .

Thank you!

[2022-10-08 15:01] dwyatte commented on #52845
While this issue was originally opened around emulating TensorFlow on x86_64  in Docker, it does look like there are now `tensorflow` aarch64 binaries that can be used in linux/arm64/v8 Docker containers. More info here: https://blog.tensorflow.org/2022/09/announcing-tensorflow-official-build-collaborators.html

Dockerfile
[code]

[code]

[code]

[2022-10-08 15:49] #16381 closed

[2022-10-08 16:59] dmitryfisko commented on #57934
Add this line to your build.gradle:
`implementation 'org.tensorflow:tensorflow-lite-gpu-api:2.10.0'`

[2022-10-08 17:01] dmitryfisko commented on #57934
Developers of library forgotten to include transitive dependency to **tensorflow-lite-gpu-api** from **tensorflow-lite-gpu**

[2022-10-08 18:12] rerdavies commented on #47554
Also getting this issue.

[2022-10-08 19:13] OleksandrGrument commented on #57934
Thank you! Now it's working!

[2022-10-08 20:39] bhack commented on #58021
See also https://pypi.org/project/tensorflow-rocm/

[2022-10-08 23:13] Debby123 opened #58026 "Tensorflow CUDA A100 compatibility issue"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

binary

### Tensorflow Version

tensorflow-gpu==1.12.0

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 16.04

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU mode

[2022-10-09 01:33] mohantym commented on #45902
Hi @shlomi-amitai !
We are checking to see whether you still need help in this issue .

All the operations are not supported in GPU delegates. That is why, Some operations will be delegated and some will be skipped.

You should devise a policy to fallback to CPU/NNAPI/XNNPack delegates (instantiate all the supported delegates from device , Switch to a different other delegate incase it finds an su

[2022-10-09 01:42] MThalberg opened #58027 "`tf.reverse_sequence` crash with abort when seq_axis is negative"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.10

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and me

[2022-10-09 01:56] MThalberg opened #58028 "tf.experimental.numpy.argmax/argmin crash with xla with complex input"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.10, tf-nightly

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU

[2022-10-09 02:14] MThalberg opened #58030 "tf.keras.metrics.CategoricalAccuracy crash with xla on cuda when dtype is set to complex"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.10

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and me

[2022-10-09 02:40] guweixin commented on #56420
I follow step1 and step2, but it doesn't work, I meet the same error again.

[2022-10-09 02:49] #57734 closed

[2022-10-09 02:49] #57735 closed

[2022-10-09 05:07] kyamagu commented on #56423
I observe this error when using `tf.distribute.MirroredStrategy` with more than one GPU device.
There seems to be a thread leak when `jit_compile=True` under the mirrored strategy.

I use the following Keras callback to verify the threading behavior.

[code]

[2022-10-09 05:07] kyamagu commented on #56423
Relevant issue https://github.com/tensorflow/tensorflow/issues/56752

[2022-10-09 06:49] #17136 closed

[2022-10-09 06:49] #16028 closed

[2022-10-09 07:49] #40313 closed

[2022-10-09 07:49] #19965 closed

[2022-10-09 07:49] #19944 closed

[2022-10-09 07:49] #19904 closed

[2022-10-09 07:49] #19893 closed

[2022-10-09 07:49] #19774 closed

[2022-10-09 07:49] #19645 closed

[2022-10-09 08:14] jlgoh commented on #53309
Can confirm that I was facing this issue on my M1 Mac with MacOS 12.0 and solved this issue after upgrading to MacOS 12.6.

Installation following this guide: https://www.mrdbourke.com/setup-apple-m1-pro-and-m1-max-for-machine-learning-and-data-science/

[2022-10-09 08:34] comeeasy commented on #9976
Use Chrome bro.

[2022-10-09 08:49] #19324 closed

[2022-10-09 08:49] #19391 closed

[2022-10-09 08:49] #18813 closed

[2022-10-09 09:49] #22137 closed

[2022-10-09 09:49] #22027 closed

[2022-10-09 10:22] iceteahh commented on #56112
This error still happen to me. I used tensorflow 2.8.0 [screenshot](https://drive.google.com/file/d/1MxlfuCEFY_CWXKwCVNgNWUIfb9nCymdS/view?usp=sharing)

[2022-10-09 10:49] #20519 closed

[2022-10-09 13:30] maybeLee opened #58031 "CosineSimilarity outputs result smaller than -1"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.11.0-dev20221009

### Custom Code

Yes

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.7.14

### Bazel version

N/A

### GCC/Compiler version

N/A

### CUDA/cuDNN version

N/A

### GPU model and memory

N/A

### Current Behaviour

[2022-10-09 13:49] #55605 closed

[2022-10-09 15:35] NoAchache commented on #57833
Is there any update on the issue?

[2022-10-09 16:54] e-hamza commented on #14736
Quite an old topic, but any good progress on this? The recent RX 6000 series really offer tremendous value compared to NVidia. I saw some good development happening on ROCm, anyone tried how that performs?

[2022-10-09 17:02] Erdemtsynduev commented on #57934
<img width="961" alt="image" src="https://user-images.githubusercontent.com/12883992/194769832-9d212e1b-3190-44b8-bca0-8ee91184cbc2.png">

@dmitryfisko Thank you.

[2022-10-09 19:41] VictoriaGriffith commented on #57902
@tiruk007 sorry that I forgot to mention this bug is on GPU only.
I turn on GPU in Colab and can reproduce the issue. Could you please confirm the same?

[2022-10-09 19:49] VictoriaGriffith commented on #57534
Hi @tilakrayal , thanks for pointing out that `tf.pad` only accepts `int32`. However, the execution of `tf.pad` on `int64` paddings without gradient computation is successful:

[code]

Therefore, there seems to be an inconsistency of supported dtypes between the direct execution and gradient computation, and this can cause confusion because we often build a model and if the forward pass succeeds,

[2022-10-09 19:49] #21130 closed

[2022-10-09 19:56] VictoriaGriffith commented on #56830
Thanks @cantonios and @sachinprasadhs for the explanation! Indeed this numerical unstability issue is introduced by zero std value and is hard to avoid unless we add special checks that will degrade performance. I will close this issue as this is a deliberate choice.

[2022-10-09 19:56] #56830 closed

[2022-10-09 23:53] EwoutH opened #58032 "Support Python 3.11"
Currently Python 3.11 isn't fully supported in TensorFlow yet, including testing in CI and publishing wheels to PyPI.

Python 3.11 is currently in Release Candidate state and will be released in about two weeks. Major packages like NumPy, Pandas, SciPy and Matplotlib have already uploaded their Python 3.11 wheels to PyPI.

Python 3.11 new features include:

TensorFlow is an import package in the d

[2022-10-10 00:50] JustASquid commented on #57975
Hey @tilakrayal the platform is Windows 10 so I won't be able to run that command.

[2022-10-10 03:07] xuyao91 commented on #38800
Hi
same issue
python 3.10.7
tensorflow 2.9.2
Mac pro 11.6
error:
`Traceback (most recent call last):
  File "/Users/xuyao/Workspaces/ai/tensorflow/models/research/object_detection/builders/model_builder_tf2_test.py", line 21, in <module>
    import tensorflow.compat.v1 as tf
ModuleNotFoundError: No module named 'tensorflow.compat'
`

[2022-10-10 03:32] vivekex opened #58034 "XLA JIT compile failing on TF 2.9.2, A100 GPUs (on GCP VMs)"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.2

### Custom Code

Yes

### OS Platform and Distribution

Debian GNU/Linux 10 (buster)

### Mobile device

_No response_

### Python version

3.7.12

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.3/8

### GPU model and memory

[2022-10-10 04:45] vivekex commented on #58034
Minimal reproducible exampel:

[code]

This is on a VM created on GCP, whose details shown on login are:
[code]

Driver version from `nvidia-smi`:
NVIDIA-SMI 510.47.03    Driver Version: 510.47.03    CUDA Version: 11.6

[2022-10-10 06:05] ganler opened #58035 "[TFLite] Slice-Conv2d Crash"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf-nightly

### Custom Code

No

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-10-10 06:23] mohantym commented on #58026
Hi @Debby123 !
1.x versions are not supported anymore.
Could you test latest instructions from latest [build/install document](https://www.tensorflow.org/install/pip) (It suggests Installing necessary Cuda toolkits according to hardware according to conda channels now  instead of setting path manually).

Please check the tested the configs if you want to build from source.

Thank you!

[2022-10-10 06:37] ganler commented on #57744
Interesting. Also, I think it could be wrong for negative `A` with non-intergeral `B`. For example:

[code]

The former experssion's domain is:
- `a > 0` or
- `a < 0 && is_even_integer(b)`

The latter's is:
- `a != 0`

[2022-10-10 07:33] xingjy10 opened #58037 "when will import the alpha tensor's fast matrix mutiplication."
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

source

### Tensorflow Version

2.9

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and

[2022-10-10 07:38] deadsoul44 commented on #19140
Is this planned?

[2022-10-10 07:39] ganler commented on #57744
For this specific case, the result could be consistent if we remove `abs`, i.e., `ln(pow(A,B)) => B*ln(A)` (I think it is also one of the ofast rule in compilers like clang).

[code]

But for cases of `a < 0 && is_even(b)`, it goes wrong.

[code]

Maybe the strictly correct one can be: `(A < 0 && is_even(B)) ? ln(-A) : ln(A)` and put branch preference on the false branch. An approximate but still

[2022-10-10 07:46] vivekex commented on #58034
This seems to not happen with tf-2.7 on the same machine, run in a docker container:

[code]

[2022-10-10 07:49] #57803 closed

[2022-10-10 08:03] vivekex commented on #58034
Yes, I tried that flag, unfortunately it didn't change anything :(

[2022-10-10 08:13] tilakrayal commented on #58021
@ndeepesh,
Could you please take a look at this above [comment](https://github.com/tensorflow/tensorflow/issues/58021#issuecomment-1272276642) from the developer and also this doc [link1](https://rocmdocs.amd.com/en/latest/) and [link2](https://github.com/RadeonOpenCompute/ROCm-docker/blob/master/quick-start.md) which provides that AMD GPU's support for the Tensorflow. Thank you!

[2022-10-10 09:03] tilakrayal commented on #58027
@MThalberg,
When we are using `tf.reverse_sequence`, the  **seq_axis** we should provide as an **int** and the dimension which is partially reversed and this op first slices input along the dimension batch_axis, and for each slice i, reverses the first seq_lengths[i] elements along the dimension **seq_axis**.

[2022-10-10 09:42] tilakrayal commented on #58030
@sachinprasadhs,
I was able to reproduce the issue on tensorflow v2.10 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/90d2e4cdda71ef50e1471d6436097e59/untitled655.ipynb).

[2022-10-10 10:22] dzsonigg commented on #40812
It would be a nice feature. We using cv2 and tf 2.10 for resize and it is not the same.

With this, we set half_pixel_centers=False, we can get the same results.

[2022-10-10 10:46] tilakrayal commented on #57959
@jiannanWang,
Sorry for the delay. I tried to execute the code on tensorflow-gpu and the results are the same in both cases. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/76627395e7ec322a3c5b34bbe586c7fb/untitled660.ipynb).

[2022-10-10 10:57] tilakrayal commented on #57960
@sachinprasadhs,
I was able to reproduce the issue on tensorflow v2.8, v2.10 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/1121da140f46936e419b7296a124c595/untitled661.ipynb).

[2022-10-10 11:32] dverheijden opened #58038 "PyLint incorrectly identifies `tf.concat` function signature"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.10

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No respon

[2022-10-10 11:45] Debby123 commented on #58026
Hi @mohantym,
I was trying to reproduce some research code that uses tf 1.x version. Although I tried using the latest build, there were code incompatibilities.  Anyway, I reckon I will have to rewrite the code as per the latest builds.
Thank you for looking into this!

[2022-10-10 11:45] #58026 closed

[2022-10-10 11:58] dverheijden commented on #58038
I did some additional digging: When using the same pylint version as is used in the TensorFlow CI: [`2.7.4`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/install/install_pip_packages.sh#L82), the snippet that is now working (the one listed in the related issue), actually fails again. I'm not sure when this broke again.

[2022-10-10 12:16] Ingkarat commented on #57978
Hi @tilakrayal, I have crated a PR[#58039](https://github.com/tensorflow/tensorflow/pull/58039).

[2022-10-10 12:17] tiruk007 commented on #57902
@sachinprasadhs
I was able to reproduce the issue in TF v2.10.Please find gist [here](https://colab.research.google.com/gist/tiruk007/bba562c7eb0171a36c32857cd59d3bdd/57902.ipynb)for reference.
Thank you!

[2022-10-10 12:51] tilakrayal commented on #57859
@Prasun92,
The error stating that **Python inputs incompatible with input_signature** which means the input feed which you are providing for the signature was different. Could you please provide the similar input. And also some corruption might be happened while using the audiofiles which leads to different input sizes.

Kindly open a tensorflow discussion [forum](https://discuss.tensorflow.org/)

[2022-10-10 12:59] 1357810la commented on #21544
![76c16c07419125f2de9c33819bfcc2c](https://user-images.githubusercontent.com/100670240/194871866-6ce3b93d-1d1e-4905-9f80-5e1280ba33d1.png)
有遇到过这种问题的吗

[2022-10-10 13:26] #57558 closed

[2022-10-10 13:29] tpopp commented on #57558
Fixed by https://github.com/tensorflow/tensorflow/commit/ecce472d81a77e916c2f3ea456c90fd587f11a1a

[2022-10-10 13:35] divyajaincs opened #58040 "Softlayer Operation with Tflite"
Does Tflite support softlayer operation or need to implement custom Ops as my model is using softlayer as a custom operation and when i'm loading the model that time i'm facing the error.
![error1](https://user-images.githubusercontent.com/25703066/194878693-694ebed9-d180-45ce-99b0-9072f0feec7c.jpg)

[2022-10-10 13:46] tiruk007 commented on #58040
@divyajaincs
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here.
Thank you!

[2022-10-10 14:56] tilakrayal commented on #57978
@Ingkarat,
The PR has been assigned for reviewing and once it is merged this issue will move to closed status. Thank you!

[2022-10-10 15:11] mai1x9 opened #58041 "Issues running tensorflow 2.10.0 on azure nc4as_t4_v3 Virtual machine with Tesla T4 GPU attached to Ubuntu 20.04"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

binary

### Tensorflow Version

tf 2.10

### Custom Code

No

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

Cuda 11.2, cuDNN 8.1.1.33 (compatible w

[2022-10-10 15:31] shijy16 commented on #57981
@tilakrayal The bug can still be replicated on 2.11.0-dev20221010

[2022-10-10 15:49] #56301 closed

[2022-10-10 15:53] harraz commented on #52972
This doesn't work, the build get's stuck at the bazel build
Also, none of the wheels in the four links are working on M1

[2022-10-10 17:49] #56372 closed

[2022-10-10 17:49] #53321 closed

[2022-10-10 18:41] Julio-Angulo commented on #37732
If someone is still facing the issue described above. I solved it by updating the microphone configuration. Specifically, I set:
`.channel_format = I2S_CHANNEL_FMT_ONLY_RIGHT`

[2022-10-10 18:56] MoFHeka commented on #57919
hello？

[2022-10-10 19:06] MThalberg commented on #58027
Hi @tilakrayal, the `seq_axis` is `-1` in the code example. Here, the negative integer value cause crash. This could potentially be used for DoS attack.

[2022-10-10 22:50] benank commented on #57915
Hi @sachinprasadhs, any updates on this issue? Thanks!

[2022-10-10 23:22] ndeepesh commented on #58021
Thanks everyone for the response and the pointers. I see that ROCm maintains a fork of Tensorflow library [here](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream). Wanted to understand if the official TF support is via the fork or is it from the primary github TF repository.

[2022-10-11 02:14] tiruk007 commented on #44369
@devandong
Could you please refer to this [comment](https://github.com/tensorflow/tensorflow/issues/44369#issuecomment-845593389) and please let us know if it helps.
Thank you!

[2022-10-11 02:19] mohantym commented on #57947
@febrifahmi !
We are checking to see whether you still need help in this issue . There is also documentation on CMake through which you can cross compile with [tool chains](https://www.tensorflow.org/lite/guide/build_cmake_arm) (Including Armv7 and Armv6) different to host os.

I suggest you to check these channels too ( CMake,Tflite-runtime,Pinto's wheel, TFlite-micro repo) to customize your buil

[2022-10-11 05:09] febrifahmi commented on #57947
Still has no luck with the building process of tflite-support using Bazel or Bazel on Arm, and I think I will skip the CMake method since I don't want to download all Tensorflow src to my pi while I only need selected features of tflite-support/tflite-runtime. Also, I cannot install tflite-runtime using virtualenv with both Python 3.7 and Python 3.9, and unfortunately, I don't use microcontrollers

[2022-10-11 05:12] ra9hur commented on #57913
@sachinprasadhs ,

Did you get a chance to look into this issue ?

[2022-10-11 05:54] mohantym commented on #57947
@febrifahmi !
Sorry for the inconvenience.

@sachinprasadhs !
Could you look at this issue.

Thank you!

[2022-10-11 06:08] HengjiaLi commented on #46168
Any updates on this issue?

Here, I run into a similar situation.
I tried to test convolution's accuracy under TF-32 mode on my machine by comparing TF-32's and FP-32's computaiton results.

Firstly, I tested a simple MatMul example (as given here:https://www.tensorflow.org/api_docs/python/tf/config/experimental/enable_tensor_float_32_execution). TF-32's and FP-32's results are indeed different as

[2022-10-11 06:24] divyajaincs commented on #58040
I'm using the below code to load the tflite model.
[https://drive.google.com/file/d/1mhn0ClQEN9Neu85ZK144Ax9tEk4BtNKz/view?usp=sharing](url)
- **tf-nightly 2.11.0.dev20221010**
## code

import numpy as np
import tensorflow as tf

# Load TFLite model and allocate tensors.
interpreter = tf.lite.Interpreter(model_path="yolo_phase3_model_fp16.tflite")
interpreter.allocate_tensors()

# Get input and ou

[2022-10-11 06:28] sahil193101 commented on #255
hiii

[2022-10-11 06:31] sahil193101 commented on #255
My TensorFlow is working fine giving the output I want but I get these errors which I don't understand

[code]

what are these errors??

[2022-10-11 06:32] HengjiaLi opened #58047 "tf.nn.conv2d failed to activate TF-32 mode"
<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Source

source

### Tensorflow Version

2.6.2

### Custom Code

Yes

### OS Platform and Distribution

18.04

### Mobile device

_No response_

### Python version

3.7.5

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA-11.6/cuDNN version 8300

### GPU model and me

[2022-10-11 06:54] skyson commented on #52222
您的邮件已经收到--阿杰

[2022-10-11 06:55] weeklynote commented on #55300
已收到，我会尽快回复你！
                     ——刘劲字

[2022-10-11 07:01] mrtpk123 opened #58048 "`Rsqrt` missing in `tensorflow/lite/kernels/internal/reference`"
**System information**
- Linux Ubuntu 16.04
- TensorFlow 2.9.1

Hello,

I converted `tf.keras.layers.LayerNormalization` to `tflite and got the following:

![image](https://user-images.githubusercontent.com/76564442/195016843-088aea0f-6301-4d6e-9ea9-3bbc36a3d744.png)

The code I used is as follows:

[code]

As you can see I specified that only `tf.lite.OpsSet.TFLITE_BUILTINS_INT8` should be suppor

[2022-10-11 07:29] Raj-Gohil commented on #57988
Hello @sachinprasadhs .... do we have any update on this?

[2022-10-11 07:44] NoteDancing commented on #56666
ok,thank
________________________________
发件人: sushreebarsa ***@***.***>
发送时间: 2022年7月4日 12:23
收件人: tensorflow/tensorflow ***@***.***>
抄送: 7NoteDancing ***@***.***>; Mention ***@***.***>
主题: Re: [tensorflow/tensorflow] Can't pickle optimizer (Issue #56666)

@7NoteDancing<https://github.com/7NoteDancing>
Please post this issue on keras-team/keras repo.<https://github.com/keras-team/keras/issues>
To

[2022-10-11 08:02] etolliver commented on #30063
Apologies,

I have been trying to find the original code I had back then. I will try to
reply asap

On Wed, Jun 22, 2022, 4:28 AM gadagashwini ***@***.***> wrote:

[2022-10-11 08:19] tilakrayal commented on #58031
@sachinprasadhs,
I was able to reproduce the issue on tensorflow v2.8, v2.10 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/7a5785c485c46591ad7e6c600a6844e8/untitled657.ipynb).

[2022-10-11 08:26] teenylasers commented on #56397
I did in the original bug report. The code was line by line done in a
Python session.

On Wed, Jun 8, 2022 at 5:05 AM sushreebarsa ***@***.***>
wrote:

[2022-10-11 08:32] MrMoe830 commented on #56456
这是来自QQ邮箱的假期自动回复邮件。你好，我最近正在休假中，无法亲自回复你的邮件。我将在假期结束后，尽快给你回复。

[2022-10-11 08:47] mohantym commented on #35689
Hi @thkim-cochl !
We are checking to see whether you still need help in this issue . Have you checked [CMake minimal example ](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/examples/minimal)documentations which includes lite C header files.

Ref [1](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/minimal/BUILD), [2](https://groups.google.com/a/t

[2022-10-11 09:33] mohantym commented on #55741
Hi @stewartmiles !

Just wanted to let you know that I could not find any issue in Colab earlier.
Might have been clang issue then.

Could you check with GCC 7.3 or 9 and let us know.

Thank you!

[2022-10-11 09:49] #43121 closed

[2022-10-11 09:49] #43201 closed

[2022-10-11 10:16] misterBart opened #58050 "How to disable logging to the standard output in C++?"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

tf 2.10

### Custom Code

No

### OS Platform and Distribution

Ubuntu 22.04LTS

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

gcc 11.2.0

### CUDA/cuDNN version

_No response_

### GPU model and memor

[2022-10-11 10:50] mohantym commented on #58048
Hi @mrtpk123 !
You find the details on available built-in ops [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/kernels/builtin_op_kernels.h).
Thank you!

[2022-10-11 11:05] tiruk007 commented on #58035
@ganler
Could you please refer to these documents([get_signature_runner](https://www.tensorflow.org/lite/api_docs/python/tf/lite/Interpreter#get_signature_runner) & [Signatures in TensorFlow Lite](https://www.tensorflow.org/lite/guide/signatures)).
Please find the workaround [here](https://colab.research.google.com/gist/tiruk007/6631c9f7b32a3d2580590a700ce7110f/58035.ipynb) and please let us know

[2022-10-11 11:09] mohantym commented on #58038
Hi @sachinprasadhs !
Could you look at this issue. Attached [gist](https://colab.sandbox.google.com/gist/mohantym/7aa111633b530c25748852f7dd73cb55/git_58038.ipynb#scrollTo=k7bMWXXXtka0) for reference.
Thank you!

[2022-10-11 11:44] tiruk007 commented on #57921
@jntdst
This issue is closed when the [PR](https://github.com/tensorflow/ranking/pull/333) is merged.

Thank you!

[2022-10-11 12:03] tilakrayal commented on #46296
@OgreTransporter,
Could you please try to build with this commit [359c3cd](https://github.com/tensorflow/tensorflow/commit/359c3cdfc5fabac82b3c70b3b6de2b0a8c16874f)
 and also try to follow this option **--copt=/wd4716**.  Please take a look at this [comment](https://github.com/tensorflow/tensorflow/pull/42307#issuecomment-673954495) and the PR which was already merged.
Thank you!

[2022-10-11 13:14] vn218 opened #58052 "How to build tflite-runtime .whl with XNNPACK?"
The pre-buit wheels for armv7l don't seem to use XNNPACK. Is there a way to build tflite-runtime such that it uses XNNPACK?

[2022-10-11 13:24] tilakrayal commented on #58009
@michaelmontalbano,
Thanks for opening this issue. Development of keras moved to another [repository](https://github.com/keras-team/keras/issues).

Could you please post this issue on keras-team/keras [repo](https://github.com/keras-team/keras/issues).
To know more please refer:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank y

[2022-10-11 13:53] covercash2 commented on #57781
would appreciate any guidance on how to solve if there is a workaround 🙏

[2022-10-11 13:54] mrtpk123 commented on #58048
Thank you @mohantym
https://github.com/tensorflow/tensorflow/blob/b429f6545a8be48b6439f7e1d0feb9896a9e9b5a/tensorflow/lite/kernels/builtin_op_kernels.h#L148
I see that `RSQRT` is a supported built-in op mentioned at `tensorflow/lite/kernels/builtin_op_kernels.h`
This answers my first question.

Can you guide me on finding the implementation of `INT8 RSQRT`?
Is it at `tensorflow/lite/kernels/elemen

[2022-10-11 14:13] otavio-silva commented on #56661
Just tested with TensorFlow 2.9.1, this exact behavior persists. The workaround proposed by @hahouari seems  to work nicely though. The problem is, shouldn't TensorFlow dead with this automatically?

[2022-10-11 14:49] #49603 closed

[2022-10-11 15:14] mohantym commented on #58052
Hi @vn218 !

You need to build the wheel with CMake with below flag.
`-DTFLITE_ENABLE_XNNPACK = True
`

Attached relevant thread for reference. [1](https://www.tensorflow.org/lite/guide/build_cmake_pip), [2](https://www.tensorflow.org/lite/guide/build_cmake).

Thank you!

[2022-10-11 15:43] vn218 commented on #58052
@mohantym Sorry I am new at this. I didn't understand how to correlate both the threads that you have referenced. Where should I add that flag while building with docker?

[2022-10-11 15:50] ml-0 commented on #43696
The description requests:
Once, #41860 is merged all lines like
INCLUDES += isystem$(MAKEFILE_DIR)/downloads/cmsis/CMSIS/Core/Include/
should be removed from all Makefiles. This is still required if not already done in another context.
It refers to the Makefiles from tflite-micro which are in a separate repo (https://github.com/tensorflow/tflite-micro), meanwhile.

[2022-10-11 15:51] stewartmiles commented on #55741
@mohantym I'm not sure what you're referring to w.r.t Colab. This is regarding TF lite not TensorFlow. The issue is at build time, if license checking is enabled (logic I wrote while at Google) the neon2sse module is missing a reference to a license file, I have a pull https://github.com/tensorflow/tensorflow/pull/55743 open to fix this could someone please review?

[2022-10-11 15:52] tilakrayal commented on #46356
@alex-imperfect ,
Could you please try to add the below code and execute.

[code]

Also could you use **gradlew :app:dependencies** to inspect the dependency tree and see where FlatBuffers might still be included and please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/46356#issuecomment-1238075758) and the [issue](https://github.com/objectbox/objectbox-java/issues/

[2022-10-11 16:29] tilakrayal commented on #41850
@zabomate,
It's unlikely for TF 2.3 version to receive any bug fixes except when we have security patches. There is a high possibility that this was fixed with later TF versions. Kindly update to the latest stable v2.10 from [here](https://github.com/tensorflow/tensorflow/tree/v2.10.0) and let us know if the issue still persists.
Thank you!

[2022-10-11 16:35] huan1372 opened #58053 "tf.saturate_cast errors for tf.complex type tensor"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.10.0

### Custom Code

No

### OS Platform and Distribution

Ubuntu 20.04.5 LTS

### Mobile device

_No response_

### Python version

 3.8.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_N

[2022-10-11 16:42] tilakrayal commented on #57981
@shijy16,
A similar issue #57980 was already raised and tracked for the PR. Could you please feel free to close this issue, so that we can track the issue there. Thank you!

[2022-10-11 16:45] ganler commented on #58035
@tiruk007 Thanks for the kind workaround and I understand it.

I am working on fuzzing TensorFlow and am reporting a potential vulnerbility to TF Lite, which I think it might deserve a fix as this bug causes a TensorFlow Lite program to exit in "an unclean way" (see [security policy](https://github.com/tensorflow/tensorflow/security/policy)) for a well-formed model given some acceptable inputs.

[2022-10-11 17:00] ndeepesh commented on #58021
Also are there plans to support TF Serving for ROCm?

[2022-10-11 17:15] mohantym commented on #55741
Ok @stewartmiles !
I found similar results for Tensorflow/lite build too. Attached[ gist](https://colab.sandbox.google.com/gist/mohantym/316167cf749486b7b9b48d141ecb7350/git_55741.ipynb#scrollTo=U_w8WBBoSKQU) for reference. will connect with Team internally on this (just wanted to let you on clang pointer from stacktrace).
Thank you !

[2022-10-11 17:43] vn218 commented on #58052
@mohantym after this how do I build tflite-runtime .whl?

[2022-10-11 17:58] willi3by commented on #57666
@arvindrajan92 That fixed it!! Thanks very much for your suggestion.

[2022-10-11 17:58] #57666 closed

[2022-10-11 18:04] tiruk007 commented on #58047
@HengjiaLi
I reproduced the code shared but facing a different error .Could you please share the colab gist with all the dependencies to analyze more of it. Please find the gist [here](https://colab.research.google.com/gist/tiruk007/c1c33f2524abdb483924f528a84482e7/58047.ipynb) for reference.

Thank you!

[2022-10-11 18:33] csn1800 commented on #40918
@GrigorySamokhin Thanks for the response. Good to know its working for you.

I was trying with the following 2 build targets:
//tensorflow/lite:libtensorflowlite.so
tensorflow/lite/delegates/gpu:libtensorflowlite_gpu_gl.so

You meant the same, right?

I assume the Android environment has V2 APIs enabled and they are not available for other Linux platforms (with OpenGL).

[2022-10-11 18:34] tiruk007 commented on #57972
@MSusik
Sorry for the late reply. Could you please provide a minimal code snippet to reproduce the issue reported here.

Thank you!

[2022-10-11 18:40] tensorbuffer commented on #49247
update: I was able to use TF code (with interface.so) and nnlib from Hexagon SDK and run benchmark_model with hexagon.

[2022-10-11 18:52] sachinprasadhs commented on #58031
This has to be the edge case scenario. It could be due to the underflow or due to the delta value to avoid the NaN outcome.
But if the array contains zero anything apart from first position, the outcome is limited between [-1,1].
This small difference of 1e-7 can be ignored.
If you still feel this issue needs to be addressed, could you please open the issue in  https://github.com/keras-team/keras/

[2022-10-11 18:58] tiruk007 commented on #58040
@divyajaincs
I was able to reproduce the issue in Colab using TF v2.10. Please find the gist [here](https://colab.research.google.com/gist/tiruk007/bb5af88af6e8e4eb68bd4749d55d3e06/58040.ipynb).

Could you please try to add this `converter.allow_custom_ops = True` before converting the model. Please find the documentation ([Custom operators](https://www.tensorflow.org/lite/guide/ops_custom)) for r

[2022-10-11 20:09] tiruk007 commented on #57976
@supercharleszhu
I was able to execute the code without any error on Colab using TF v2.10. Please find the gist [here](https://colab.research.google.com/gist/tiruk007/2172d4ab1345fe58004828d9791bcff3/57976.ipynb) for reference.

Thank you!

[2022-10-11 21:21] tomfrankkirk commented on #26033
Just to keep the dream alive... yes this would be really useful.

[2022-10-12 02:04] Conweezy0220 opened #58068 "Tensorflow Keras Model with customer loss returns error: AttributeError: 'method' object has no attribute '_from_serialized'"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

binary

### Tensorflow Version

2.10.0

### Custom Code

Yes

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

3.9.6

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.3/8.2.1

### GPU model and memory

Nvidia GeF

[2022-10-12 02:10] HengjiaLi commented on #58047
lack of input data, please try the following code instead

import os
import numpy as np
import tensorflow as tf
fm = np.random.rand(1,7,7,16).astype(np.float32)
w = np.random.rand(3,3,16,16).astype(np.float32)
bias = np.random.rand(16).astype(np.float32)
############### conv2d tf 32 result ###############################
tf.config.experimental.enable_tensor_float_32_execution(True)
fm = tf.convert

[2022-10-12 03:34] shijy16 commented on #57981
Okay.
If the bug can be replicated after PR #57984 was merged into master, I'll reopen this issue.

[2022-10-12 03:35] #57981 closed

[2022-10-12 03:47] GrigorySamokhin commented on #40918
I developed a multi-platform library, so this shared libs worked on all platforms. Yes, you need to link lintensorflowlite.so and gpu_gl version.

[2022-10-12 04:37] bhpatray commented on #57943
Any update @tiruk007  @mohantym @tilakrayal

[2022-10-12 04:46] maybeLee commented on #58031
Thanks @sachinprasadhs
I have created an issue in Keras repository: https://github.com/keras-team/keras/issues/17138. I have closed this thread.

[2022-10-12 04:46] #58031 closed

[2022-10-12 05:15] ysbaekFox opened #58070 "When training the TensorFlow Lite model after loading it in C++, the logit/probabllites size is different from the number of y labels."
### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.9.1

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current Behaviour?

[code]

### Stand

[2022-10-12 06:37] divyajaincs commented on #58040
@tiruk007 I'm using the below code for conversion and also using --allow_custom_ops parameter with that because of this i'm able to do the conversion.

[code]

[2022-10-12 06:45] sushreebarsa commented on #58050
@misterBart Could you please refer to this [link](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/examples/minimal) and try to build through cmake. Please let us know if it helps?
Thank you!

[2022-10-12 07:42] ysbaekFox commented on #58070
In python code, If two types are returned as shown below, a problem seems to occur.
I removed the code that returned "logits", left only "output", and it worked normally.

[code]

[2022-10-12 07:54] tilakrayal commented on #46340
@AiaHaruv,

Could you please try to add below code and check if you are facing same issue.

[code]
we write
[code]
Then could you use **tf.switch_case** as below:

[code]

[code]

[2022-10-12 08:49] #57604 closed

[2022-10-12 08:49] #57886 closed

[2022-10-12 09:30] tilakrayal commented on #41770
@aselva-eb,
As commented by the developer, please try to build TF Kernels and go for the Flex delegate.

If you're using **Bazel** or [CMake](https://www.tensorflow.org/lite/guide/build_cmake) to build TensorFlow Lite interpreter, you can enable Flex delegate by linking a **TensorFlow Lite Flex delegate** shared library. You can build it with Bazel as the following command.

`bazel build -c opt --

[2022-10-12 10:00] iceteahh opened #58072 "Error while finding module specification for 'model.recommendation_model_launcher_keras'"
I followed this document [Firebase_ML_on_device_recommentations](https://colab.research.google.com/github/FirebaseExtended/codelab-contentrecommendation-android/blob/master/Firebase_ML_on_device_recommentations.ipynb)

I got error in the step:
[code]
Error message: `/usr/bin/python3: Error while finding module specification for 'model.recommendation_model_launcher_keras' (ModuleNotFoundError: No m

[2022-10-12 10:03] tiruk007 commented on #58040
@divyajaincs
Could you please provide the yolo phase 3 model.pb file to replicate the issue.
Thank you!

[2022-10-12 10:26] mohantym commented on #58048
@mrtpk123 !

That is code snippet for  status check on for Quantization of  Rsqrt

Shows registration of RSQRT in built_in op kernel.

Hi @sachinprasadhs !

Could you look at this query.

Thank you!

[2022-10-12 10:39] ra9hur commented on #57904
@sachinprasad, - Any update on this issue ?

[2022-10-12 10:40] ra9hur commented on #57931
@sachinprasad, - Any update on this issue ?

[2022-10-12 10:49] #42234 closed

[2022-10-12 10:49] mohantym commented on #58034
Ok @vivekex !
Thanks for the update. Could you look at this issue.
Thank you!

[2022-10-12 11:01] WackyHaker commented on #39846
Hi, @xiongma did you find the solution?

[2022-10-12 11:45] IBSApple commented on #56178
How to resolve this camera issue  in android (Kotlin) app?

[2022-10-12 12:06] tilakrayal commented on #58068
@Conweezy0220,
Thanks for opening this issue. Development of keras moved to another [repository](https://github.com/keras-team/keras/issues).

Could you please post this issue on keras-team/keras [repo](https://github.com/keras-team/keras/issues).
To know more please refer:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2022-10-12 12:09] cool-RR opened #58073 "Remove all uses of distutils"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.10.0

### Custom Code

No

### OS Platform and Distribution

N/A

### Mobile device

_No response_

### Python version

3.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### C

[2022-10-12 12:17] TUT-jiayou opened #58074 "Cross-build failed tensorflow lite demo minimal"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.10

### Custom Code

No

### OS Platform and Distribution

Ubuntu 18.04

### Mobile device

arm32

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

clang 10

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

[2022-10-12 12:54] mohantym commented on #58052
@vn218 !

Those will build Cmake files actually.
Found a detailed usage on  building lite-runtime from [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/pip_package).

Thank you!

[2022-10-12 12:55] beichengus opened #58075 "_MklBatchMatMulV2 performs even worse than normal BatchMatMul"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: No
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux 3.10
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**: No
-   **TensorFlow installed from (source or binary)**: Source
-   **TensorFlow

[2022-10-12 12:58] nmashkoorStratuscent commented on #24665
Is there any update regarding this issue?

[2022-10-12 13:06] MayStepanyan commented on #57967
@gadagashwini of course I can, but It doesn't solve the problem of not being able to save in tf format

[2022-10-12 13:23] frost-is commented on #57698
Hi,

I opened an issue on keras [here](https://github.com/keras-team/keras/issues/17141), I'll post an update when it's fixed

Thank you for your help !

[2022-10-12 14:28] tilakrayal commented on #57975
@JustASquid,
Could you please create a virtual environment and test your code again. The attached [gist](https://colab.research.google.com/gist/tilakrayal/b0dda043a9e94eaeec91277966805d96/untitled646.ipynb) executed without any error, then there is no issue with the code and the Tensorflow. Thank you!

[2022-10-12 14:50] cota commented on #57844
Hi!
Sorry for the breakage, I wasn't aware that big endian machines weren't supported in tfrt.
The dependence on tfrt is fairly minimal, so probably the easiest way to fix this is to extract what we depend on into its own library in tfrt and just depend on that.
I am currently working on a fix.

[2022-10-12 15:15] bhack commented on #58021
The the repository is this one as can see with all the [ROCm PRs](https://github.com/tensorflow/tensorflow/pulls?q=is%3Apr+is%3Aopen+rocm) but ROCm binaries are community builds as you can see from the list at https://github.com/tensorflow/build/#community-supported-tensorflow-builds

[2022-10-12 15:24] vn218 commented on #58052
@mohantym
Thanks.
I tried it, but its throwing this error

[code]

[2022-10-12 16:01] namrata-ibm commented on #57844
Thank you @cota

[2022-10-12 16:18] Chizkiyahu opened #58077 "ONEDNN - Layer Normalization error"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.2 v2.9.1-132-g18960c44ad3 2.9.2

### Custom Code

No

### OS Platform and Distribution

ubuntu 18, ubuntu 20,redhat 7

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

7.5.0

### CUDA/cuDNN version

_No response_

[2022-10-12 17:32] misterBart commented on #58050
I executed:
[code]

Above commands are executed succesfully, ending with:
[code]
Still, my problem did not concern building TfLite. My problem concerned that I can't suppress the print "INFO: Created TensorFlow Lite XNNPACK delegate for CPU."

In the minimal_build folder, if I simply execute `minimal` it prints: `minimal <tflite model>`

If I pass it my tflite network:
[code]

So it also prints th

[2022-10-12 17:44] danielenricocahall commented on #54790
Just wanted to mention this here since I recently answered a similar [SO](https://stackoverflow.com/questions/74044292/if-else-statement-returns-both-in-tf-cuntion) question, for the case of checking `tf.rank`, since it returns a 0-D Tensor (https://www.tensorflow.org/api_docs/python/tf/rank), you could evaluate the value using `tf.rank(t).numpy()` or `tf.get_static_value(tf.rank(t))` in the `tf.f

[2022-10-12 17:47] jpienaar commented on #57926
The markdown is automatically generated from the .td file. If it is mangled that means someone added something unexpected. In this case it looks like TensorArrayConcatV3's doc.

[2022-10-12 17:49] Jerry-Ge commented on #57926
Tks Jacques! I will take a look at it. Hope it can be a quick fix!

Jerry

[2022-10-12 17:52] mihaimaruseac commented on #57663
Please send a cherrypick PR for `r2.10` too to fix the error message. See [go/tf-release/cherrypick](https://goto.google.com/tf-release/cherrypick) (internal link)

[2022-10-12 17:54] jpienaar commented on #57926
I'll do first round and ping some others (one has to update 1 doc & then get these regenerated and then script runs etc)

[2022-10-12 18:01] sachinprasadhs commented on #58034
Could you try matching the. below published configuration and let us know the outcome. Thanks!
<h4 id="gpu" data-text="GPU" role="presentation" style="box-sizing: inherit; margin: 32px 0px 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-variant-numeric: ; font-variant-east-asian: ; font-weight: ; font-stretch: ; font-size: 16px; line-height: ; font-family:

[2022-10-12 18:10] bhack commented on #52030
We had a similar error in Keras CV enabling the MLIR bridge for https://github.com/keras-team/keras-cv/issues/895:
 `tf.TensorListReserve' op unknown tensor list element shape`

`note: see current operation: %38 = "tf.TensorListReserve"(%26, %25) {device = ""} : (tensor<i32>, tensor<i32>) -> tensor<!tf_type.variant<tensor<*xi32>>>`

[2022-10-12 18:40] sachinprasadhs commented on #58048
Details on kernel registrations can be found in the code files below.

https://github.com/tensorflow/tensorflow/blob/3d32b9fea61196254fde629e86a52193e781a76f/tensorflow/lite/kernels/register.cc#L247
https://github.com/tensorflow/tensorflow/blob/2fd13f05465037862f07f7b66d75d404275e9ad1/tensorflow/lite/schema/schema_generated.h#L1151

[2022-10-12 18:44] elvinagam commented on #53529
This one seems to be still causing headaches...

[2022-10-12 18:45] sachinprasadhs commented on #57906
`RSQRT` is supported as builtin operator, could you please check the issue at https://github.com/tensorflow/tensorflow/issues/58048.
Also, refer the comment [here](https://github.com/tensorflow/tensorflow/issues/58048#issuecomment-1276584557) for the code file reference to the registered `RSQRT` builtin op.

[2022-10-12 20:49] #57743 closed

[2022-10-12 20:57] cota commented on #57844
The fix is not trivial, so here's a possible workaround.

Assuming you don't need XLA, can you please try to build with `--define=with_xla_support=false`?

[2022-10-12 21:25] vivekex commented on #58034
I _believe_ I was able to try that with a close enough setup. Getting sysdetails from TF:
[code]
shows TF 2.10, python 3.7, CUDA 11.2, cudNN 8

This did let the code run successfully. I'm still unclear if this is a TF issue or a VM setup issue (I'm inclined to think it's a VM setup issue...)

[2022-10-12 21:49] #57768 closed

[2022-10-12 21:49] #48604 closed

[2022-10-12 22:15] sachinprasadhs commented on #56333
As you have mentioned, it throws `InvalidArgumentError` error for very small output value,  but it does not have any standard restriction on the range of values to document it.

[2022-10-12 23:25] sachinprasadhs commented on #57926
You can look into the .td file for the bug mentioned here.
https://github.com/tensorflow/tensorflow/blob/015d944e641feedfe929d2585f935c40bb2f4943/tensorflow/compiler/mlir/tensorflow/ir/tf_generated_ops.td#L18436

[2022-10-12 23:27] sachinprasadhs commented on #57926
I see a PR which is already merged here https://github.com/tensorflow/tensorflow/commit/c4c472d2d8b52dcaca593590354ca14fe001bc0c in the above mentioned file, which should probably fix this issue.

[2022-10-12 23:37] jpienaar commented on #57926
Its a bit more complicate: https://github.com/tensorflow/tensorflow/commit/f82f6ca63947f918bae3de30d4b2be0682595130 shows the source documentation from which the td while is generated from which markdown is periodically generated which is processed by another process and periodically pushed ;)

[2022-10-12 23:47] sachinprasadhs commented on #58034
It could be due to the VM setup issue, It is always suggested to use the tested and published  build configurations.
 If your issue is resolved, could you please close the issue. Thanks!

[2022-10-13 01:13] HengjiaLi commented on #58047
@tiruk007

[2022-10-13 02:06] mohantym commented on #58052
Ok @vn218 !
Here is a [sample example](https://github.com/PINTO0309/TensorflowLite-bin) of building tflite-runtime with bazel.
For docker build, Can you check [Pinto's repo](https://github.com/PINTO0309/TensorflowLite-bin) for instructions.
Thank you!

[2022-10-13 03:44] tiruk007 commented on #58047
@sachinprasadhs
I was able to reproduce the issue on Colab using tf-nightly-2.11.0.dev20221012. Please find the gist [here](https://colab.research.google.com/gist/tiruk007/2c168486345d436ec8bc4af325c875a8/58047.ipynb) for reference

Thank you!

[2022-10-13 03:55] tiruk007 commented on #58040
@divyajaincs
Thanks for the confirmation. Moving this issue to closed status
Thank you!

[2022-10-13 03:55] #58040 closed

[2022-10-13 05:22] mohantym commented on #32085
@sjdrc !
Moving this to closed status , As the concerned PR for this has updated the session details with relevant documentation.
Thank you!

[2022-10-13 05:25] mohantym commented on #32085
@sjdrc !
Moving this to closed status , As the concerned PR for this has updated the session details with relevant documentation.
Thank you!

[2022-10-13 05:25] #32085 closed

[2022-10-13 05:44] HiraNazir885 opened #58084 "got this issue when I run the emotion detection program"
<img width="956" alt="Capture1" src="https://user-images.githubusercontent.com/75195908/195511477-b86cd1b7-dc65-4b3c-93d7-8551a5c86af0.PNG">
<img width="931" alt="Capture" src="https://user-images.githubusercontent.com/75195908/195511521-f482006b-613c-4852-96d5-45bfdbd84600.PNG">

[2022-10-13 06:03] mrtpk123 commented on #58048
Thank you @sachinprasadhs for this.

Can you confirm if this is the int8 implementation of RSQRT ? - https://github.com/tensorflow/tensorflow/blob/3d32b9fea61196254fde629e86a52193e781a76f/tensorflow/lite/kernels/elementwise.cc#L260

Many thanks for your help.

[2022-10-13 06:10] Saar-Ken-Ji commented on #57906
@sachinprasadhs
thank you for the response.
as per the discussion.
I have gone through the documentation of the rsqrt() and observed that the issue was that the operator couldn't handle negative values  as input so adding a tf.math.abs() before rsqrt solved the issue.

thank you very much for your guidance.

[2022-10-13 06:25] TUT-jiayou commented on #58074
* if I use original ·CMakelists.txt`, I got the error.
![image](https://user-images.githubusercontent.com/21277368/195518211-100a9cae-2d88-433b-92b0-af4852d0da0f.png)

[2022-10-13 06:49] sushreebarsa commented on #51417
@Kipsora Have you referred the comments above and let me know if it helps?
Thank you!

[2022-10-13 06:55] HengjiaLi commented on #58047
@tiruk007
ATM, what can I do to activate TF-32 with convolutions?

thanks.

[2022-10-13 07:10] mohantym commented on #46502
@Atralb !
I could replicate this issue in 2.10 version  and was able to run the container without password even after changing the password in root directory .
Thank you!

[2022-10-13 08:14] roserg commented on #58000
Hi, I tried to test with latest version of code and cannot see difference between cpu and gpu using provided model.
Are you using latest version of code?

[2022-10-13 08:26] #57888 closed

[2022-10-13 09:07] mohantym commented on #58074
Hi @TUT-jiayou !
Sorry for the late response.
Actually I was looking for "ohos.toolchain.cmake" tool chain.

Could you uncomment this line in cmake_list.txt and let us know.
#include_directories(${CMAKE_CURRENT_LIST_DIR}/flatbuffers/include)

Thank you!

[2022-10-13 09:26] #44472 closed

[2022-10-13 09:34] elfringham commented on #56673
Fixed by above merges.

[2022-10-13 09:47] tilakrayal commented on #58077
@Chizkiyahu,
Thanks for opening this issue. Development of keras moved to another [repository](https://github.com/keras-team/keras/issues).

Could you please post this issue on keras-team/keras [repo](https://github.com/keras-team/keras/issues).
To know more please refer:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2022-10-13 09:49] tilakrayal commented on #57698
@frost-is,
Could you please feel free to move this issue to closed status, so that we can track the issue there. Thank you!

[2022-10-13 09:59] Kristoff-starling commented on #58013
Hi @tilakrayal,
Sorry for the late response! I've checked the building options mentioned in the comment and relevant scripts in OSS-Fuzz. Those options work well when used for building a single fuzz target but fail when I use them to build the entire TensorFlow `.whl` package. The error messages (using Clang/Clang++ as compilers) are
[code]
What I'm focusing on is to run some Python programs with

[2022-10-13 10:12] TUT-jiayou commented on #58074
Hi, @mohantym
thanks for your time.
* The `ohos.toolchain.cmake` toolchain build binary for armv7a.
 * You can directly view the original `CMakeList.txt` result
https://github.com/tensorflow/tensorflow/issues/58074#issuecomment-1277090290

[2022-10-13 10:44] Chizkiyahu commented on #58077
I open [issue in Keras repo](https://github.com/keras-team/keras/issues/17148)
but in my debug the bug is probably in this repo

[2022-10-13 11:00] ian-huu commented on #39467
Any update?

[2022-10-13 11:03] divyajaincs opened #58085 "TFLite Interpreter.invoke()- gather index out of boundsNode number 935 (GATHER) failed to invoke."
Getting this error with the following sample code for prediction:

Model weights: [https://drive.google.com/file/d/1SXbMtxQKiU-Iavh6U7lwzEZS0lYYNpJy/view?usp=sharing](url)

[code]

`import cv2
if __name__ == '__main__':

    converted_model = "kvp_converted_model_fp16.tflite"
    image_path = "kvp_test/test_1.png"
    seg_image_path="kvp_test/seg_test_1.png"
    #good_image_path = "datasets/experi

[2022-10-13 11:03] #57906 closed

[2022-10-13 11:17] tilakrayal commented on #5965
@liuyipei,
The GPU kernel for dynamic partition was introduced in TensorFlow 1.5 and as per the [PR](https://github.com/tensorflow/tensorflow/pull/13905) raised it was fixed by 1.6.0's final release which was upgraded to the CUB library version.

The issue is the tensor in embeds and mol_idx do not always have the same first dimension and whether or not the one with the wrong dimension size is fro

[2022-10-13 11:26] #35632 closed

[2022-10-13 12:01] tilakrayal commented on #5443
@isabeaups,
Einsum allows defining Tensors by defining their element-wise computation. This computation is defined by the equation, a shorthand form based on Einstein summation.
**tf.Einsum** -- Tensor contraction over specified indices and outer product.

Could you please take a look at the code below.

[code]

Output:
[code]
[code]
output:

[code]

[2022-10-13 12:12] tilakrayal commented on #58027
@sachinprasadhs,
I was able to reproduce the issue on tensorflow v2.8, v2.10 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/6288232a905d45a1ca23b9d3556a2ae3/untitled677.ipynb).

[2022-10-13 12:48] Leonamrsm opened #58086 "Custom layer with tf.extract_image_patches extremely slow"
<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Source

binary

### Tensorflow Version

2.9.2

### Custom Code

Yes

### OS Platform and Distribution

Google Colab

### Mobile device

_No response_

### Python version

3.7.14

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_

[2022-10-13 13:40] pikulmar opened #58087 "`tf.keras.Model()` behaves incorrectly if `inputs` is a dictionary view"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.10

### Custom Code

Yes

### OS Platform and Distribution

Ubuntu 20.04.5 LTS

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No res

[2022-10-13 14:08] ebnertom opened #58088 "Fail to serialize EfficientNet model using to_json() method"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.10

### Custom Code

No

### OS Platform and Distribution

ubuntu 18.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA 11.2, cudnn 8.1

### GPU model and memory

_No

[2022-10-13 14:37] frost-is commented on #57698
Sure, no problem. Thank you for your help !

[2022-10-13 14:37] #57698 closed

[2022-10-13 14:59] Hendekagon commented on #41894
what's the latest on this ? Is there a workaround/alternative meanwhile ?

[2022-10-13 15:02] mihaimaruseac commented on #39467
CC @learning-to-play : this is another issue blocked on protobuf/grpc bump

[2022-10-13 15:26] sushreebarsa commented on #58025
@rohtkumar
Thank you for raising the issue. I tried to replicated the issue and faced different error, please check [this](https://colab.research.google.com/gist/sushreebarsa/c0806db22dcfa2641da4439b8faefa0f/58025.ipynb) gist. In order to expedite the trouble-shooting process, could you provide a code snippet to reproduce the issue reported here. Thank you!

[2022-10-13 15:38] 9609275256088 commented on #20690
File C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py:114
    def TFE_ContextOptionsSetAsync(arg1, async):

[2022-10-13 15:43] sushreebarsa commented on #58028
@MThalberg I tried to replicate the issue on colab, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/ee428a375b99ee01773ba9b8a9cc1d1c/58028.ipynb) here and confirm the same. Thank you!

[2022-10-13 15:47] AmosChenYQ commented on #58003
@sachinprasadhs

For the second internal error, the log is:

[code]

[2022-10-13 16:02] AmosChenYQ commented on #58003
And I think this problem is because when instantiating a new JitExecutable from the MLIR source with options defined [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/xla/service/gpu/gpu_compiler.cc#L1534) this register dialects [config](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/xla/mlir/transforms/runtime/compilation_pipeline_gpu.cc#L35

[2022-10-13 16:03] AmosChenYQ commented on #58003
I tried to add lmhlo_gpu into it, and this error disapper but runs into a new kind of error saying about runtime custom call error....

[2022-10-13 17:22] namrata-ibm commented on #57844
@cota Thank you, the build passes with above flag. However as some of the XLA functionality is working on s390x, it would be good to catch more failures in master through our CI. Is there a way to disable only TensorFlow Runtime?

[2022-10-13 17:45] vivekex commented on #58034
I'm able to replicate a working configuration using a clean Ubuntu VM
image, and using Conda to install the nvidia deps.

The problem still arises when using out-of-the-box TF Deep Learning images
that Google Cloud provides, so I suspect even just relying on pre-built
configurations is not sufficient, there's some other incompatibility. Will
close this bug, though, since it looks like a nVidia set

[2022-10-13 18:08] huan1372 commented on #58053
Yes. That is the same issue

[2022-10-13 18:11] Kipsora commented on #51417
Hi @sushreebarsa, I basically managed to handle this problem by removing the optimization pass and have been busy since. So I didn't notice the TAC solution. I will try it this week after sometime

[2022-10-13 18:23] LukeBoyer commented on #56804
@Raj-Gohil Please link the model you are using when encountering this issue.

[2022-10-13 18:27] Raj-Gohil commented on #56804
@LukeBoyer please refer to #57988 and the https://github.com/tensorflow/tensorflow/files/9724024/test_new1.zip for the files to reproduce the error.

[2022-10-13 18:41] LukeBoyer commented on #56804
I see. Thanks.

[2022-10-13 18:59] cheshire commented on #58003
@ezhulenev

I think those are not supported yet, so it's not unexpected it does not work for you right now.

[2022-10-13 19:20] ezhulenev commented on #58003
Thanks, for the repro! It's a semi-experimental feature and errors are expected. Although it seems to be this can be a very simple fix, we'll take a look.

[2022-10-13 19:37] ismailBima commented on #36321
bonjours tous
comment corriger erreur
File c:\Users\MSI\AppData\Local\Programs\Python\Python38\lib\site-packages\tensorflow\python\data\ops\iterator_ops.py:749, in OwnedIterator._next_internal(self)
    746 # TODO(b/77291417): This runs in sync mode as iterators use an error status
    747 # to communicate that there is no more data to iterate over.
    748 with context.execution_mode(context.SYNC

[2022-10-13 19:55] csn1800 commented on #57907
@sachinprasadhs Could you please have a look at the above query?

[2022-10-13 20:25] kouckma commented on #52920
I also have this issue with Bazel 3.1.0 and tf 2.4.0

[2022-10-13 21:04] sachinprasadhs commented on #49133
Could you please refer to the above comment and close the issue. Thanks!

[2022-10-13 21:34] cota commented on #57844
Tensorflow Runtime, in particular the hostcontext library in it, is right now a dependence in order to build XLA. The proper fix for this is to extract some bits out of hostcontext and depend just on those; that is what I'm working on.

Note though that eventually we will remove the dependence on TFRT from Tensorflow, but we are not there yet.

[2022-10-13 22:46] Pogayo commented on #6341
Installing using conda worked for me too when I had a conda environment.

[2022-10-13 23:22] sachinprasadhs commented on #35283
Could you please try in the latest Tensorflow version and report if you still find performance issue. Thanks!

[2022-10-14 01:20] HengjiaLi commented on #58047
@sachinprasadhs

[2022-10-14 01:20] HengjiaLi commented on #58047
@sachinprasadhs
ATM, what can I do to activate TF-32 with convolutions?

[2022-10-14 02:32] sushreebarsa commented on #58072
@iceteahh Could you try with the latest TF version 2.10 and let us know the outcome?
Thank you!

[2022-10-14 02:38] sushreebarsa commented on #58075
@beichengus
Could you try to upgrade to latest TF version 2.10 and please provide a code snippet to reproduce the issue reported here if the issue still persists? Thank you!

[2022-10-14 03:48] Kristoff-starling commented on #58013
I got it. Thanks a lot and I'll close this issue.

[2022-10-14 03:48] #58013 closed

[2022-10-14 04:49] sushreebarsa commented on #58088
@ebnertom I was able to run the code successfully using TF v2.8 and 2.9, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/4c9c7cabef604c486e22865d96925ee1/58088-2-8.ipynb#scrollTo=49uDUiXmyhpU) here.
I was able to replicate the issue on colab using TF v2.10, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/ce2d63f5ffd0349b39eeacd3c16178b0/58088.i

[2022-10-14 06:12] namrata-ibm commented on #57844
Thank you for sharing, I guess will allow builds to run with above flag for now and I will monitor once above is accomplished.
Is there some issue to track the same?

[2022-10-14 06:12] tilakrayal commented on #58084
@HiraNazir885,
Kindly fill the issue template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose) and also for debugging the issue, could you please provide code in reproducible format or colab gist and the TensorFlow version you are using. Thank you!

[2022-10-14 06:15] martin-ueding opened #58091 "Warnings about ambiguous reversed operator due do lacking const"
### Issue Type

Bug

### Source

source

### Tensorflow Version

master

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

Clang 13

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current Behaviour?

[code]

These stem

[2022-10-14 06:17] ebnertom commented on #58088
@sushreebarsa I can confirm that I get the same error.

[2022-10-14 06:33] bhupendrarajput98 commented on #58074
I have seen this issue and I tried https://stackoverflow.com/questions/72129186/tensorflow-2-8-cmake-static-built-static-library-showing-undefined-reference-for  and it worked

[2022-10-14 06:55] mohantym commented on #58050
Hi @sachinprasadhs !
Could you look at this issue. Attached [gist](https://colab.sandbox.google.com/gist/mohantym/805cebe41c42bdb566ab968beb278f3e/git_58074.ipynb#scrollTo=0IN1VQ0cKxuu) for reference.
Thank you!

[2022-10-14 07:15] krishnanNuance commented on #50575
I am seeing this issue in an ONNX to TF exported model. https://github.com/onnx/onnx-tensorflow/issues/1044.What is the possible workaround?

[2022-10-14 07:15] mohantym commented on #58018
Hi @cpsauer !
Thanks for sharing those observations. Feel free to raise a PR from your end

@sachinprasadhs !
Could you look at this issue.

Thank you!

[2022-10-14 07:21] tilakrayal commented on #58086
@Leonamrsm,
I tried to execute the code on tensorflow v2.9.2 and haven't found any perfomance issue during the execution. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/140b18ae26a904d57271f9846202507e/untitled686.ipynb) and let us know if anything is missing here. Thank you!

[2022-10-14 07:40] chenliang110 commented on #55749
I also find this problem, how do you solved?

[2022-10-14 07:41] federhub commented on #41810
Hello everyone, I am facing issues in working on an RNN with variable length in both the input and output sequences, and I found this thread. I went through the colab posted by @foxik (https://colab.research.google.com/drive/18P6gZQUlP6qxBq70UCRfI42RSilRJ2Mx?usp=sharing) but it seems it is not working (or no longer working with tf 2.11.0-dev20221013). Any idea of why?

[2022-10-14 07:46] mohantym commented on #58074
Hi @TUT-jiayou !
Could you confirm whether it works with latest C++ version as suggested in above [thread.](https://github.com/tensorflow/tensorflow/issues/58074#issuecomment-1278546985)
Thank you!

[2022-10-14 08:23] shijy16 commented on #57499
I've confirmed that this issue has been fixed. Well done.
I'll close this issue now.

[2022-10-14 08:23] #57499 closed

[2022-10-14 08:48] kkzheng commented on #57816
`import tensorflow as tf
from tensorflow.python.ops import control_flow_ops
from tensorflow.python.framework import meta_graph
from tensorflow.core.protobuf import config_pb2
from tensorflow.python.grappler import tf_optimizer
from tensorflow.python.framework import ops

def save_pb(name, graph_def):
  with tf.gfile.FastGFile(name,'wb') as f:
    f.write(graph_def.SerializeToString())

def load_pb

[2022-10-14 08:56] kkzheng commented on #57816
[code]

[2022-10-14 09:11] kkzheng commented on #57816
how to re-open this issue

[2022-10-14 09:13] mohantym commented on #58091
Hi @martin-ueding !
Can you check against C++17 and let us know.
Thank you!

[2022-10-14 09:31] elfringham opened #58093 "Unexpected value of variable protected by mutex on aarch64"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

git HEAD

### Custom Code

No

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

n/a

### Python version

3.8.13

### Bazel version

5.3.0

### GCC/Compiler version

9.3.1

### CUDA/cuDNN version

n/a

### GPU model and memory

n/a

### Current Behaviour?

[code]

### St

[2022-10-14 09:34] elfringham commented on #58093
@nitins17 This is the issue as mentioned in the Tracker #56088
@cfRod @nSircombe

[2022-10-14 10:24] tilakrayal commented on #58087
@pikulmar,
Thanks for opening this issue. Development of keras moved to another [repository](https://github.com/keras-team/keras/issues).

Could you please post this issue on keras-team/keras [repo](https://github.com/keras-team/keras/issues).
To know more please refer:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2022-10-14 10:31] mohantym commented on #51799
Hi @AndreyOrb !
Could you provide a new example to replicate this issue. The path ''//tensorflow/cc/example:example " does not exist anymore in 2.9 version or later.

Thank you!

[2022-10-14 10:32] mohantym commented on #57950
@sachinprasadhs !
Could you look at this issue.
Thank you!

[2022-10-14 11:06] hugo-ricateau commented on #52086
@jvishnuvardhan, any update on this issue?

[2022-10-14 11:13] Leonamrsm commented on #58086
@tilakrayal
Backprop through extract_image_patches is extremly slow, specifically the transpose call. It appears to be this specific call: tensorflow/python/ops/array_grad.py#L747

![image](https://user-images.githubusercontent.com/52931821/195832260-e247c50c-ac5a-449e-b53d-52b3527bd058.png)

I updated the [gist ](https://gist.github.com/Leonamrsm/d07faff69e5d5097f54bd4149e796378#file-untitled686-

[2022-10-14 11:19] IBSApple commented on #56178
????

[2022-10-14 11:29] mohantym commented on #58074
@TUT-jiayou !
Thanks for the confirmation . Moving this issue to resolved status.
Thank you!

[2022-10-14 11:30] mohantym commented on #58074
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-10-14 13:33] arishov1 opened #58096 "Nested call from a tf.function decorated method behaves differently on Tensorarray depending if nested method is also decorated"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.9.1

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_

[2022-10-14 17:21] martin-ueding commented on #58091
This warning is new in C++20, so it won't be displayed in C++17. But the fundamental issue is still there, a non-const comparison method taking the other side as a const reference is ambigious. So there is no reason not to fix that, even if TensorFlow only targets C++17 at the moment.

[2022-10-14 17:40] #57551 closed

[2022-10-14 18:24] tiruk007 commented on #57943
Hi @bhpatray
Sorry for the late reply.  Try to resize the tensor according to the hub model and then allocate tensors then invoke to get the output. Could you please refer to this document ([resize_tensor_input](https://www.tensorflow.org/api_docs/python/tf/lite/Interpreter#resize_tensor_input))

Thank you!

[2022-10-14 19:11] HelloWorldLTY commented on #45930
I believe the document should be updated soon, because cudatool=11.2 cannot work

[2022-10-14 20:40] mihaimaruseac commented on #58091
Please send PRs to fix these. Google's internal build is C++17, so we won't notice this.

[2022-10-14 20:42] mihaimaruseac commented on #58018
Hello,

I would be happy to review PRs here, can you please tag me?

[2022-10-14 21:11] wdhenarangoda commented on #54233
@asfainqa can you please tell me how you fixed this issue? thank you!

[2022-10-14 22:16] leland-hepworth opened #58098 "Changes to metrics passed to on_batch_end(...)"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.2+

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 22.04.1

### Mobile device

Linux Ubuntu 22.04.1

### Python version

3.7.13

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.7

### GPU model and memory

_N

[2022-10-14 22:19] leland-hepworth commented on #58098
Also the "Current Behaviour" section in the issue template is being formatted as code.  Here it is formatted as a comment:

I recently updated code from TensorFlow 1 and was getting strange results for my callbacks. I eventually found [issue #36400](https://github.com/tensorflow/tensorflow/issues/36400) and decided to test that. I discovered that in tf 2.2+ on_batch_end is now provided a moving av

[2022-10-15 02:26] #56331 closed

[2022-10-15 03:26] #48255 closed

[2022-10-15 03:26] #50132 closed

[2022-10-15 14:41] qhaas commented on #54384
CUDA 11.8 is out and its mid October 2022, docs still show the latest supported cuda version is 11.2.

[2022-10-15 15:12] Zero1366166516 opened #58100 "I encountered a problem in upgrading the code from 1. X to 2.0."
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

2.1.0

### Custom Code

No

### OS Platform and Distribution

windows RS 12

### Mobile device

_No response_

### Python version

version 3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-10-15 15:50] akashAD98 opened #58101 "i trained custom pose classification model but its giving error at the time of inference"
im using windows 10 system
getting this error, i followed the official blog of Tensorflow
https://www.tensorflow.org/lite/tutorials/pose_classification  for model training

this blog hasn't provided inference script
so I tried official https://github.com/tensorflow/examples/tree/master/lite/examples/pose_estimation/raspberry_pi for .tflite inference but getting isse

```Cannot set tensor: Got valu

[2022-10-15 16:00] akashAD98 opened #58102 "inference scipt for custom pose classification model ? for both .tflite a5 hdf5 format"
im using window 10

i tried the blog to train pose  model ,but there is no any inference script ,can you guys please provide script
https://github.com/tensorflow/tensorflow/issues/58101

[2022-10-16 01:24] mohantym commented on #58091
@martin-ueding !
Feel free to raise a PR from your side.

@sachinprasadhs !
Could you look at this issue.

Thank you!

[2022-10-16 04:20] shijy16 opened #58105 "Segment Fault in AudioSpectrogram"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9 and 2.11.0-dev20221013

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA 11.5

### GPU model

[2022-10-16 04:59] shijy16 opened #58106 "Check Fail in AvgPool3DGrad"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9 and 2.11.0-dev20221013

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA 11.5

### GPU model

[2022-10-16 05:07] shijy16 opened #58107 "Floating Point Exception in AvgPool3DGrad"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9 and 2.11.0-dev20221013

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA 11.5

### GPU model

[2022-10-16 07:06] IBSApple commented on #56178
??

[2022-10-16 08:19] kebitmatf opened #58108 "Adding Augumentation Layer extremely slow on Tensorflow 2.9 and 2.10"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf2.9, tf2.10

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and m

[2022-10-16 12:02] MinaAku opened #58109 "How can I make the dataset accept sequences or matrices? PLZ :)"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

tf 2.9

### Custom Code

Yes

### OS Platform and Distribution

MACOS

### Mobile device

_No response_

### Python version

Python 3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No res