[2020-03-01 09:33] Hfusi0n commented on #37194
That's a pyinstaller issue, not a tensorflow one...

[2020-03-01 09:47] songs18 commented on #37035
https://gitee.com/songhaohao2018/tf_issues/blob/master/absl_202002.py

[2020-03-01 10:27] hoangtubatu123 commented on #17998
Please provide the code get output detection_masks with mask rcnn on mobile. Thanks

[2020-03-01 10:36] hoangtubatu123 opened #37204 "android mask rcnn"
Please provide the code get output mask r-cnn on android. Thanks

[2020-03-01 11:12] #34011 closed

[2020-03-01 11:49] Combinacijus commented on #31765
To run without Jupyter try:
sudo docker run -it --rm tensorflow/tensorflow:1.12.0-gpu-py3 /bin/bash

[2020-03-01 11:54] Apsylem commented on #35949
same issue with minimal example:

ar0 = Input(shape=(2,8,8,),name='ar0')
tf.print(ar0)

[2020-03-01 11:56] Expert73 commented on #37015
I tried to build with Mkl on another computer (other hardware without GPU), another operating system (Windows 8.1) - still get the same error. If you look at the latest messages on the forum, several people have already encountered the mkl problem. Can someone authoritatively look at the problem?

[2020-03-01 12:01] Expert73 commented on #37015
I will add that the build with the mkl flag before the error lasts from 6 to 8 hours. Build without this parameter takes 1 hour.
A lot of identical files with very long paths are created. For example, such paths with mkl*.dll I counted more than 10:

\\?\C:\tensorflow\output_dir\external\org_tensorflow\output_dir\external\org_tensorflow\output_dir\external\org_tensorflow\output_dir\external\org_te

[2020-03-01 12:04] Expert73 commented on #37015
I also tried to install all the libraries from the INTEL® SOFTWARE DEVELOPMENT PRODUCTS series. The same error still occurs - it is specified in the first message. Long paths are also allowed in operating systems. But that doesn't help either.

[2020-03-01 12:06] Expert73 commented on #37015
I even tried using mkl*.dll already compiled by myself and specified them in the TF_MKL_ROOT environment. An error still occurs.

[2020-03-01 12:10] Expert73 commented on #37015
I tried to build with different parameters:
bazel build --config=mkl --config=opt --config=cuda --define=no_tensorflow_py_deps=true //tensorflow/tools/pip_package:build_pip_package

bazel build --config=mkl --config=opt  //tensorflow/tools/pip_package:build_pip_package

bazel build --config=mkl --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package

bazel --output_base=output_

[2020-03-01 12:15] Expert73 commented on #37015
Can someone from Intel Corporation look at this problem?

[2020-03-01 12:29] pranathibl commented on #37154
If I have board with Qualcomm soc and which was running on Linux OS, Can I be able to use Hexagon Delegate. Is it restricted to only Android/ Ios ?

[2020-03-01 12:30] hholst80 commented on #4914
floating point 0.0 is exactly equal to 0. check the specs.

Tensorflow *defines* the gradient of ReLU(x) at x=0 to be equal 0. It's really that simple.

[2020-03-01 12:36] imoisharma opened #37205 "Unable to download the TensorFlow using pip in Windows 10"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):   Microsoft Windows 10 Home Si

[2020-03-01 13:38] roebel commented on #24496
After quite some time experimenting with an apparently different problem failing with tf.signal.stft
I finally came across this thread and tried the solution allowing the memory growth. It solved my problem as well.
I have installed tensorflow-gpu=2.1 with cudatoolkit=10.1 from anaconda, but tried as well installing
tensorflow-gpu via pip with exactly the same result. I can reproduce this under li

[2020-03-01 13:38] MHX792 opened #37206 "iOS Object Detection with Custom .tflite file: "Failed to allocate memory for input tensors.""
I am trying to run the sample iOS with a custom .tflite file ([download](https://github.com/tensorflow/tensorflow/files/4271813/custom_tflite_file.zip)) where only one object exists.

When the app loads, it crashes with the error `Failed to create the interpreter with error: Failed to allocate memory for input tensors.`.

Here is a comparison of both .tflite files (left: original, right: custom):

[2020-03-01 13:49] MHX792 commented on #17328
Is training on device already possible (iOS)?

[2020-03-01 14:57] ehennis opened #37207 "No module named 'tensorflow.python.tools' in Visual Studio 2017 v15.9.20"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  No.
- OS Plat

[2020-03-01 15:26] ehennis commented on #37207
#36441 is also similar but the user just switched computers at work and solved his issue.

[2020-03-01 15:34] FB43 commented on #37094
@angerson Hello, things are going a little bit more but still not succesful, now I have what you can see below. Forgot the previous messages, I've solved it. Thanks for your help. François
P:\Anaconda3\tensorflow>bazel build --config=v1 //tensorflow/tools/pip_package:b
uild_pip_package
WARNING: The following rc files are no longer being read, please transfer their
contents or import their path int

[2020-03-01 15:51] oskar347567 opened #37209 "tensorflow.keras saving weights?"
I have a model that is run on a time series train set trying to predict stock prices. I never save or load the model or the weights but every time i run it with the save hyperparameters it keeps decreasing in accuracy. I don't understand why, is tensorflow.keras saving the weights or something?

[2020-03-01 15:54] asears commented on #36111
Creating environment with Conda, activating environment, upgrading pip, upgrading tensorflow 1.15 to 2.1 with pip, then install tensorflow-gpu with Conda and Nvidia 10.1 runtime worked for me.

Tensorflow 2.1.0
Windows 10 1909.
Conda 4.8.1
pip 20.0.2 from C:\tools\Anaconda3\envs\(my env)\lib\site-packages\pip (python 3.7)
cudatoolkit               10.1.243
cudnn                     7.6.5
[code]

D

[2020-03-01 16:35] inskaf commented on #32147
when i start training using this command

**python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/faster_rcnn_resnet101_voc07.config**

and get respond something like this

**2020-03-01 23:00:07.833275: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library cudart64_101.dll
Traceback (most recent call last):
File "train.py"

[2020-03-01 16:37] Prasandhmcw commented on #36810
@gowthamkpr But this ain't a Custom Op. Its one of the TF's operator - https://www.tensorflow.org/api_docs/python/tf/unique

[2020-03-01 16:57] olalakul commented on #36508
I confirm that it does not help

[2020-03-01 17:46] chinmoysarangi commented on #25794
Hi @dynamicwebpaige ,

Is this issue still Open? Asking so that I can work on it?

Thanks and Gratitude!

[2020-03-01 17:51] alperyyildiz opened #37210 "tf.split T value inconsistency"
tf.split raise ValueError when it is used before tf.identity to copy splitted tensors. Error seems related to split num parameter when it is set to None and occurs when split operation outputs more then 2 tensors.

Code for the model:
        inp = tf.keras.layers.Input(shape=(102,df.shape[1]),dtype = 'float32')
        x0, x1, x2 = tf.split(inp,[66,22,14],axis=1,num=3)
        x00 = tf.identity(x

[2020-03-01 19:02] gahaalt commented on #36712
I am still not able to create such network in functional manner. Creating a class is the only option for now.

[2020-03-01 19:31] reedwm commented on #36398
@tgaddair, this refactor has been done in de68525c48b356b1938af078c91cf3d2736076c9. Let me know if there are still issues supporting DistributedOptimizer with that commit.

Unfortunately, the 2.2 branch is being cut Monday evening. We may or may not be able to cherrypick fixes after then. So if there are any issues, please let us know as soon as possible.

[2020-03-01 20:57] chiapas commented on #36912
Hi @tomerk , I confirmed that, for tf-nightly on 2020/03/01, the accuracy results are very closed, no matter where I call model.compile().

Would you mind to share what caused the issue in the previous versions, and what have been done to fix it, please? Thank you!

[2020-03-01 21:05] liyunlu0618 commented on #33735
We've verified inception v4 works fine with post-training quantization.
Top 1 accuracy, float 80.24%, and quantized 80.21%.
Feel free to reopen if you run into other issues.

[2020-03-01 21:05] #33735 closed

[2020-03-01 21:35] nuliknol opened #37211 "error: the value of ‘j’ is not usable in a constant expression"
**System information**
- OS Platform and Distribution:
    16.04.6 LTS (GNU/Linux 4.15.0-60-generic x86_64)

- Mobile device
    not a mobile device
- TensorFlow installed from (source or binary):
    using pip command
- TensorFlow version:
    2.1.0
- Python version:
    3.5.2.
- Installed using virtualenv? pip? conda?:
  using viertualenv
- Bazel version (if compiling from source):
  no
- GCC/Co

[2020-03-01 22:53] gmrandazzo commented on #19120
Hi all,

here you can find my version of tensorflow (1.14.1/2.0.1) for odroid xu4 running Ubuntu 18.04 and using openmpi libraries.

https://github.com/gmrandazzo/TOO

Enjoy
P.S.: builds were made directly on odroid xu4.

[2020-03-01 23:12] DFuller134 commented on #36903
@Tockra : What was your solution to this issue?

[2020-03-01 23:15] #36609 closed

[2020-03-01 23:15] #36492 closed

[2020-03-01 23:33] iotwithit opened #37215 "TFLite Micro: SUB Op Support"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution: Linux 5.5.5 Arch
- TensorFlow installed from: source
- Tensorflow version: 41c6bf7c6215bea9bfb9bf0a9b63f2084e6f3058
- Target platform: OpenMV CAM (STM32H7)

**Describe the problem**

Hello, I trained a simple dogs/cats classification model through transfer learning and then converted it to be run on the [OpenMV CAM](htt

[2020-03-01 23:58] xiaoyunwu commented on #32943
Any plan on support tensorflow 2.0 for java?

[2020-03-02 00:29] tgaddair commented on #36398
Thanks for the update, @reedwm.  I took a look at the commit, and it looks like everything should work fine.  The one additional step on our end, apart from what we previously discussed, will be to set `_HAS_ALL_REDUCE_SUM_GRAD = True` in the `DistributedOptimizer`, which is fine.

Will these changes be available in tomorrow's `tf-nightly` builds?

[2020-03-02 00:39] tensorflowbutler commented on #35835
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-02 00:43] pkanwar23 commented on #36398
@tgaddair  I committed the changes earlier today, so it should be available in tonite's build. Let us know once you've been able to test it.

[2020-03-02 00:47] tgaddair commented on #36398
Will do, @pkanwar23, thanks!  We'll be testing out first thing tomorrow.

[2020-03-02 00:57] pykeras opened #37216 "Tf 2.1, cause system crash and reboot"
**System information**
* POP_OS 19.10, Kernel: 5.3.0-7629-generic
* Tensorflow: installed using `pip`, `__version__` 2.1.0
* Nvidia_driver: 440.44, Cuda : 10.2
* GPU: Nvidia GTX 1080Ti , Memory : 11GB

**Describe the current behavior**

Hi
Just tried to run an example on `TF2.1`, every time right after starting training the system will crash immediately and will reboot (because of crash reboot the

[2020-03-02 01:29] mathpluscode commented on #35860
I had the same issue and this works perfectly for me. No more errors about libcupti.

[2020-03-02 01:41] anton-matosov commented on #35573
I experience the same issue if I install tensorflow from conda, which gets libprotobuf 3.11.1
Workaround of `protobuf==3.8` suggested here worked for me on conda as well.

[2020-03-02 01:44] Daniel451 opened #37217 "Implement support for AV1 / AVIF for image files"
**System information**
- TensorFlow version (you are using): 2.1
- Are you willing to contribute it (Yes/No): Yes; but I have very limited time & have little experience with implementing codecs, thus I could only assist in testing.

**Describe the feature and the current behavior/state.**
In image processing there are scenarios, especially when you deal with higher resolution images, where compres

[2020-03-02 01:46] ZionWong commented on #22857
I met the same problem, have you fixed it?

[2020-03-02 01:58] zaccharieramzi commented on #27193
So I understood better how non-uniform fft works (which is definitely based on the fft, apologies), and I translated this code from pytorch to tf.
The result is [here](https://github.com/zaccharieramzi/tfkbnufft).

[2020-03-02 02:05] on-device-ai commented on #34217
I have used the latest TensorFlow source code to verify this issue. The same is used the Hello World example to generate the ARM Mbed project and "manually" modify it to the ClassifyHeartbeats [Mbed](https://github.com/on-device-ai/ClassifyHeartbeats/tree/quantized_model/mbed) project. Using the quantized model inference results are also incorrect, please see [RESULT.txt](https://github.com/on-dev

[2020-03-02 02:33] goog commented on #2264
tensorflow 1.9 will return 0, do not fail

[2020-03-02 02:56] pryanga-wk commented on #33424
From this post, I've understood that by model.save(file.h5), and loading the model again solves the problem of loading of the Optimizer weights.
However, this contradicts with my case:
**Code to Reproduce:**

[code]

**Outcome:**

[code]
And then training continues, I am not able to understand why the optimizer weights are not loaded.

[2020-03-02 03:00] kshitij-ingale commented on #34499
I'm facing similar issue, with tensorflow-gpu 2.0 release (installled inside docker). While training VAE with `tf.distribute.MirroredStrategy()` over 4 GPUs, I encounter this warning and the loss value shoots up to `inf` Following is the stdout (with logs showing training loss)
[code]

[2020-03-02 03:16] nnnnwang commented on #37181
anyone can helps?

[2020-03-02 03:19] circlesun commented on #24496
yeah,I solved this problem like this way.Thanks!!

[2020-03-02 03:23] rehanmahmood commented on #37159
@amahendrakar Any idea mate?

[2020-03-02 04:18] CauchyComplete commented on #24828
For anyone who has this error with tf2, try using conda as your virtual environment. It worked for me. Conda often solves CUDA and CuDNN issues.
`conda install tensorflow-gpu`

[2020-03-02 04:29] gadagashwini commented on #37135
@AlturRang, Can you share the complete code to analyze the issue. Thanks!

[2020-03-02 04:43] mankeyboy commented on #36720
@allenlavoie Thanks for the clarification. What you're saying basically means that we have no way to get a trained Saved_model from a frozen GraphDef and a training checkpoint because the information about the graph is lost on freezing it. Would the only way around this be to get an untrained saved_model from the graph def and then retrain it to target accuracy?

[2020-03-02 05:09] amahendrakar commented on #37205
@imoisharma,
Tensorflow is only supported till Python 3.7 as of now. For more information, please check [this](https://github.com/tensorflow/tensorflow/issues/33374#issuecomment-571074915) comment from a similar issue. Thanks!

[2020-03-02 05:12] #37138 closed

[2020-03-02 05:22] AITutorials opened #37219 "Official tutorial (Text classification with an RNN )code running error !!!"
In the official text tutorial of tensorflow: Text classification with an RNN (https://tensorflow.google.cn/tutorials/text/text_classification_rnn),
[code]
When I run the code there is an error:
[code]

My tensorflow version: 2.1.0rc2
My python version: 3.7

What should be the correct answer？

[2020-03-02 05:38] yaroslavvb commented on #4914
Specs say that any real number in range (-[ulp](https://en.wikipedia.org/wiki/Unit_in_the_last_place), +ulp) corresponds to 0.0 in machine precision.

Since -ulp/2 maps to 0.0 and has derivative 0, it makes sense to define Relu(0.0)'=0. It would also make sense to define it at 1 because of ulp/2. Defining it as 2 would not make sense. You can use this approach to figure out values around singulari

[2020-03-02 05:50] JSunRae opened #37220 "Cannot get model to work"
It currently fails when trying to fit the model. The 'train_ds' seems to cause it to fail because it is a Batchdataset and not a numpty array. When I convert this to an np.array it fails because it is expecting a "dense_1_input to have 2 dimensions, but got array with shape ()". but I have no idea what this means.

`from __future__ import absolute_import, division, print_function, unicode_literals

[2020-03-02 05:58] ravikyram commented on #37203
@WallbangJocrod

Please, check Your CPU/Python is on 32 bits?Please, refer #36167 and see if it helps you. Just to verify did you follow the instructions to install from pip using [Tensorflow website](https://www.tensorflow.org/install/pip).Thanks

[2020-03-02 06:00] gadagashwini commented on #37177
@SlowMonk, thanks for reporting this issue.
Can you post the complete code to replicate the reported issue and also provide Tensorflow version that you are using. Thanks

[2020-03-02 06:03] amahendrakar commented on #37159
@rehanmahmood,
I tried to reproduce the issue and looks like the error is related to Pandas. Even the error log shows the same. Please take a look at the gist [here](https://colab.sandbox.google.com/gist/amahendrakar/f33ede73992cee3c941d1625304638d9/37159.ipynb).

This question is better asked on StackOverflow since it is not a Tensorflow bug or feature request. There is also a larger community th

[2020-03-02 06:12] ravikyram commented on #37220
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.
Please, share colab link or simple standalone code with proper indentation to reproduce the issue in our environment. It helps us in localizing the issue faster.
Please, fill  [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose). Th

[2020-03-02 06:12] Yougigun commented on #36508
I confirm that it does not help

[2020-03-02 06:18] gadagashwini commented on #37193
@MikhailMashukov, Thanks for reporting this issue.
Please provide the complete standalone code to reproduce the reported issue.
Thanks

[2020-03-02 06:20] ravikyram commented on #37216
@pykeras
I have tried on colab with TF version 2.1.0  and i am not seeing any issue. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/2f99c48131c5e08cf99534f0515105ac/untitled692.ipynb). Thanks!

[2020-03-02 06:26] amahendrakar commented on #37162
@DavidInWuhanChina,
Looks like the issue is related to TensorFlow-Hub. Could you please open a new issue in the Tensorflow-Hub repository from [this](https://github.com/tensorflow/hub/issues/new) link. Thanks!

[2020-03-02 06:28] saikumarchalla commented on #36780
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-02 06:28] #36780 closed

[2020-03-02 06:29] Venus24kk opened #37221 "The DLL error in importing tensorflow."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): tensorflow pypi
- TensorFlow version: 2.0.0
- Python version: 3.6.8 with updated pip==20.0.2
- Installed using: pip in virtualenv
- CUDA/cuDNN version: CUDA V10.0.130, cuDNN 7.4.1
- GPU model and memory: GeForce GTX 1660

**Describe the problem**
I got this e

[2020-03-02 06:29] gadagashwini commented on #37161
@bilalsoomro, Can we close this issue, Since the associated PR has been merged. Thanks!

[2020-03-02 06:29] ravikyram commented on #37210
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

Looks like code is incomplete. Request you to provide colab link or simple standalone code with supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-03-02 06:33] gadagashwini commented on #37186
@shehanmunasinghe, Glad that its resolved.
Closing this issue, please feel free to open if you still face the issue . Thanks!

[2020-03-02 06:33] #37186 closed

[2020-03-02 06:35] Saduf2019 commented on #35835
@sspohrer
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-02 06:35] #35835 closed

[2020-03-02 06:40] amahendrakar commented on #37172
@mohlondon,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-03-02 06:40] tonyamrtin opened #37222 "ModuleNotFoundError: No module named 'utility'"
![0](https://user-images.githubusercontent.com/61679488/75651231-4d9c5a00-5c9b-11ea-8054-bc2c8a22a1d1.PNG)

hi
i wanna use '**from utility import lazy_property**' code but i can't
 i think that code for TF1. can you let me know what is the Code that serves the same role in tf2?

If not, please let me know the appropriate code thanks

[2020-03-02 06:53] amahendrakar commented on #37178
@Jamesswiz,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-03-02 06:54] Saduf2019 commented on #37209
@oskar347567
please provide ius with simple stand alone code to replicate the issue faced by you on our local, along with the Tensorflow version on which issue is faced.
Also share the error logs for us to help you resolve the issue.

[2020-03-02 06:54] ravikyram commented on #37199
@zaccharieramzi
The default datatype for complex sparse tensor is `complex128` ,If you need to change complex data type you can typecast to other datatype and use it. For  Float  `dtype = float32` is default and for complex `dtype = complex128` is default Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/82d7e1aa86981ffb81d1a928a957e711/untitled694.ipynb). Thanks!

[2020-03-02 07:01] Saduf2019 commented on #36734
@etetteh
Could  you please respond to the above comment.

[2020-03-02 07:07] SlowMonk commented on #37177
import keras
import tensorflow as tf
print(keras.__version__)
print(tf.__version__)
2.3.1
2.0.0

[2020-03-02 07:11] vijayphoenix commented on #28169
Hi @MarkDaoust,
I made a PR https://github.com/tensorflow/tensorflow/pull/37171 addressing this issue. Please take a look.
Thank you

[2020-03-02 07:38] guptapriya commented on #36846
@karlschriek if the TFDS dataset you are using is reading from only one file, then it will have the same problem. Please try out https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras#dataset_sharding_and_batch_size which you can set on the dataset object you get from TFDS.

@ianferreira Currently the dataset needs to be created after the strategy object is created due to some lim

[2020-03-02 08:12] AlturRang commented on #37135
[fashion_mnist.tar.gz](https://github.com/tensorflow/tensorflow/files/4274156/fashion_mnist.tar.gz)
In this folder you can see "tuto.py" for the training of the neural network and "load.py" is for load the neural network's model.
I use python 3.5 for execute python file

[2020-03-02 08:13] zaccharieramzi commented on #37199
Yes of course, there are many ways to circumvent this issue.
What I am saying is that it is an unexpected behaviour (in one case you have a double in the other not), and in that regard it should probably be changed.

[2020-03-02 08:25] JSunRae commented on #37220
Hi Ravikyram. No worries. Is this what you need?

== check python ===================================================
python version: 3.7.4
python branch:
python build version: ('default', 'Aug 13 2019 15:17:50')
python compiler version: Clang 4.0.1 (tags/RELEASE_401/final)
python implementation: CPython

== check os platform ===============================================
os: Darwin
os kernel ver

[2020-03-02 08:28] JSunRae commented on #37220
Here is the code in txt:
[Higgs1.txt](https://github.com/tensorflow/tensorflow/files/4274220/Higgs1.txt)

[2020-03-02 08:51] ayushmankumar7 commented on #37222
is utility a part of Tensorflow? Can you provide the directory you are in?

[2020-03-02 09:15] tonyamrtin commented on #37222
I don't think the utility folder exists I'm just copying a book

[2020-03-02 09:23] stefanondisponibile opened #37226 "RaggedTensor are converted to Tensors inside exported signature."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): `no`
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `Ubuntu 18.04`
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: `no`
- TensorFlow installed from (source or binary): `no`
- TensorFlow version (use command below): `2.0

[2020-03-02 09:28] ravikyram commented on #37195
@anthonyatp

Will it be possible to share colab link or simple standalone code with supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-03-02 09:28] pykeras commented on #37216
@ravikyram

Thanks for responde

I tried different things on my OS, found that the problem is `BatchNormalization()` layer, every time when I remove these layers from codes (even the sample I shared or my other codes), there is no problem at all

but right after adding the BatchNorm layers, the system will crash

[2020-03-02 09:32] ravikyram commented on #37191
@lyj1998

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

Please, share colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster. Please, fill issue template displayed in [the Github new issue template](https://github.com/tensorflo

[2020-03-02 09:36] ravikyram commented on #37185
@HadiSDev

Could you please share colab link or simple standalone code with supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-03-02 09:39] gadagashwini commented on #37211
@nuliknol, Can you provide standalone code to reproduce the reported issue. Thanks

[2020-03-02 09:46] Venus24kk commented on #37221
Hello,

Do you have any solution?

[2020-03-02 09:58] ravikyram commented on #37182
@kimchicanh

Can you please go through the [link](https://www.tensorflow.org/api_docs/python/tf/experimental/tensorrt/Converter) and see if it helps you. If it does not solve your issue, please share the simple standalone code with supporting files to
reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-03-02 09:58] Saduf2019 commented on #36789
@sushil579
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-02 09:58] #36789 closed

[2020-03-02 10:05] ayushmankumar7 commented on #37222
Yes. Absolutely.

[2020-03-02 10:11] ravikyram commented on #37169
@aimanjavid

Can you please go through the [link](https://www.tensorflow.org/api_docs/python/tf/compat/v1/assign_add) and see if it helps you. Thanks!

[2020-03-02 10:20] ialdencoots opened #37227 "tf.expand_dims unable to read proper rank from input tensors"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  yes
- OS Plat

[2020-03-02 10:22] gadagashwini commented on #37167
I could replicate the issue with Tf 2.1.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/13114a2582e4e947b9baf7bea25d9358/untitled.ipynb). Thanks!

[2020-03-02 10:27] gadagashwini commented on #37200
@SlowMonk, Can you provide the complete standalone code to replicate the issue. Thanks!

[2020-03-02 10:30] ravikyram commented on #37164
@georgeparry12
Can you please follow the gpu usage guide [here](https://www.tensorflow.org/guide/gpu) and let us know whether it resolved your issue. Thanks!

[2020-03-02 10:31] gadagashwini commented on #37204
@hoangtubatu123, Please take a look at [Tensorflow lite doc](https://www.tensorflow.org/lite/models/segmentation/overview). Thanks!

[2020-03-02 10:54] SlowMonk commented on #37200
https://www.kaggle.com/hmendonca/u-net-model-with-submission
its in17. it work in this kernel but not my local

[2020-03-02 10:54] tonyamrtin commented on #37222
should i downgrade the tensorflow same as  book ?

[2020-03-02 10:56] georgeparry12 commented on #37164
@ravikyram that link was useful, however, it's shown me I have a different problem.

**When I run**
from __future__ import absolute_import, division, print_function, unicode_literals
import tensorflow as tf
print("Num GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))

**I get**
Num GPUs Available:  1

Despite the fact that TF show both under:
"from tensorflow.python.clie

[2020-03-02 11:01] Saduf2019 commented on #37085
@Seliotna
conda install fabio is not related to tensorflow, please check in the relevant repository.

[2020-03-02 11:03] Saduf2019 commented on #37003
@2696120622
I have tried replicating the issue, there are too many dependencies,could you please provide with simple standalone code to replicate.

[2020-03-02 11:04] Saduf2019 commented on #37221
@Venus24kk
Just to verify did you follow the instructions to install from pip using [Tensorflow website](https://www.tensorflow.org/install/pip).Thanks

[2020-03-02 11:09] sungholee95 commented on #33365
Are there any updates to this? I'm facing the same problem and I'm having to set BatchNorm's dtype to float32 for now but it'd be nice to be able to use float64

[2020-03-02 11:10] ngc92 opened #37228 "tf.debugging.assert_shapes"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/debugging/assert_shapes

## Description of issue (what needs changing):
The documentation for the `shapes` argument states that is expects a dict, but in fact in many circumstances it is not possible to assemble such a dict because eager tensors are unhashable.
So while it is possible to submit a dict here in GraphMode, Eager

[2020-03-02 11:29] netw0rkf10w commented on #33459
Not sure I fully understood the root cause, but I'm happy there's some progress on this.

The difference between tf.keras and keras does not seem to be an issue as they used two different implementations. But is it sure that the weights of tf.keras' ResNet50 are good? As @CNOCycle pointed out in #35336, the best accuracy he/she could get on ImageNet validation set is 45.7% for ResNet50, which is f

[2020-03-02 11:30] ravikyram commented on #37160
@sowo

Will it be possible to share colab link with the sample data to reproduce the issue in our environment.Thanks!

[2020-03-02 11:30] amahendrakar commented on #37181
Was able to reproduce the issue, noticed significant time difference with eager mode [enabled](https://colab.sandbox.google.com/gist/amahendrakar/c3d6a26fda1dd7ea937cf35b1b853292/37181.ipynb) and [disabled](https://colab.sandbox.google.com/gist/amahendrakar/b94900e29ea7509d41d4222f7a80e15d/37181-w-o-eager.ipynb). Got similar results with TF-nightly too. Please find the attached gist. Thanks!

[2020-03-02 11:35] ayushmankumar7 commented on #37222
Downgrading Tensorflow may not help, i guess.
Utility maybe a different library.

[2020-03-02 12:09] ravikyram commented on #37035
I have tried on colab with TF version 2.1.0 and i am able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/7b0655f72b550f1789d328f63800b5b4/untitled697.ipynb).Thanks!

[2020-03-02 12:19] chstem opened #37229 "inconsistent default parameters for adagrad optimizer"
**System information**
TensorFlow 2.1.0 (tested on anaconda package and docker image)

**Describe the current behavior**

The default value for the `initial_accumulator_value` parameter of the Adagrad optimizer is different depending on whether it is passed as a string or as an instance of the optimizer class. This may lead to drastic differences in learning behavior, which is not apparent from th

[2020-03-02 12:36] pykeras commented on #37216
Update:

Just tried another thing, using another OS with same hardware solved the problem
so I don't know what cause the problem, but sure this is not only about TF2.1

Because of this I think should close the issue, Thanks

[2020-03-02 12:36] #37216 closed

[2020-03-02 12:43] GeorgeLiang3 opened #37230 "tf.function second derivative error"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platf

[2020-03-02 12:45] amahendrakar commented on #37184
@ArnoSchaepe,
I was able to run the code from the given link without any issues. Please find the gist of it [here](https://colab.sandbox.google.com/gist/amahendrakar/016664986b3a85397336150d03e37d19/37184-from-tutorial.ipynb). Thanks!

[2020-03-02 12:51] amahendrakar commented on #37219
@AITutorials,
I was able to run the code from the above tutorial without any issues. Please find the gist of it [here](https://colab.sandbox.google.com/gist/amahendrakar/1e109000a7657b71ed170b9862f381f6/37219.ipynb). Thanks!

[2020-03-02 13:06] rehanmahmood commented on #37159
How do you know the issue is with pandas?  Am I not using numpy to reshape my variables into different dimensions?

[2020-03-02 13:08] CNOCycle commented on #33459
I do the test again in docker image: `tensorflow/tensorflow:2.1.0-gpu-py3`

and comment out the line as @qlzh727 suggestion

`/usr/local/lib/python3.6/dist-packages/keras_applications/__init__.py" 65L`
[code]

The following is the output of testing code which is shown in #35336
[code]

However, I still get similar results. I hope that someone would check correctness of my code.

[2020-03-02 13:16] FB43 opened #37231 "Build TF 1.8 from source on Windows not working"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 8.1 64
- Mobile device

[2020-03-02 13:26] bilalsoomro commented on #37161
@gadagashwini Yep, thanks!

[2020-03-02 13:26] #37161 closed

[2020-03-02 13:51] amahendrakar commented on #37189
@Tylersuard,
Could you please share the exact sequence of commands you executed before running into the problem. If possible share the error logs too, so that we can look into this issue and fix it.

You can check out [this](https://www.tensorflow.org/install/pip) guide to install TensorFlow through pip packages. Or, if you want to build TensorFlow from source you can follow [the official guide](h

[2020-03-02 13:54] amahendrakar commented on #37194
@TOPMANZA,
Could you please check @Hfusi0n's comment and let us know if it works? Thanks!

[2020-03-02 13:54] turinglife commented on #30191
**Worked for Ubuntu 16.04 x86_64**

When I perform the command "pip install tensorflow-gpu==1.15", I encounter the error "Found existing installation: wrapt 1.10.11 ERROR: Cannot uninstall 'wrapt'".

my solution:
1. perform "pip install wrapt --upgrade --ignore-installed", upgrade wrapt 1.10.11 to wrapt-1.12.0
2. perform "pip install tensorflow-gpu==1.15"

if you cannot perform "pip install tensor

[2020-03-02 13:59] amahendrakar commented on #37202
@ccu1tn,
Can you elaborate your issue with code snippet or any use case. Thanks!

[2020-03-02 13:59] pandrey-fr commented on #37222
Hi, sorry but this is not a tensorflow issue. In your example, `utility` is some kind of third-party package, or home-made library, not a part of tensorflow, as is clear from your import syntax.

[2020-03-02 14:06] amahendrakar commented on #36921
Any updates regarding this issue? Thanks!

[2020-03-02 14:06] amahendrakar commented on #36931
Any updates regarding this issue? Thanks!

[2020-03-02 14:08] amahendrakar commented on #36945
@nicholascannon1,
Any updates regarding this issue? Thanks!

[2020-03-02 14:09] pranathibl opened #37232 "What does BuiltinOperator Resolver does ? what is custom ops in resolver."
I was trying to run Inference on Tflite Models. I want to know what BuiltinOperator Resolver does ? what are the custom ops in resolver operator

[2020-03-02 14:11] kitepro commented on #36931
Oh I forgot...
I did try 0.27.1 didnt work.. same error..
I ended up installing fedora as a dual boot.. worked there..
Closing the issue I guess,

[2020-03-02 14:11] #36931 closed

[2020-03-02 14:24] amahendrakar commented on #37159
@rehanmahmood,

The error log you have submitted shows that there is an issue with the line `valid['Predictions'] = predictions`, which is a Pandas operation on the dataframe named `valid`.

The stack trace also shows that the error occurred while performing a Pandas operation.
  File "/usr/local/lib/python3.7/site-packages/**pandas**/core/frame.py", line 3487, in __setitem__
    self._set_item(ke

[2020-03-02 14:28] rehanmahmood commented on #37159
Ohh okok yes that makes sense.  Thank you for all your help, much appreciated.

[2020-03-02 14:28] #37159 closed

[2020-03-02 14:43] anthonyatp commented on #37195
So, I managed to solve the issue by limiting my dataset to a round number (it was 14,586 and I limited to 14,000).

Is this something that should always be done with datasets? Or is there another reason why I couldn't train the model initially?

Apologies if this is naivety on my behalf. I can put together a notebook to share if required

[2020-03-02 14:49] freddan80 commented on #37215
Hi,
There's a PR: https://github.com/tensorflow/tensorflow/pull/34894 by @giuseros, @njeffrie , I think it covers your need?
Cheers!
Fredrik

[2020-03-02 14:49] 2696120622 commented on #37003
@Saduf2019
Thanks a lot. Could you try this link again and download the folder.

Then,you can train one model with train_test.ipynb and convert it with convert_model_test.ipynb.
And, should I implement the custom op "TensorListFromTensor" by myself according to my issue?

[2020-03-02 15:15] ngc92 commented on #37228
Looking at the code in master, this seems to have been partially fixed (the usage example). However, now there are `assert_shapes` and `assert_shapes_v2` functions which slightly different documentation, even though the latter does nothing but call the former.

[2020-03-02 15:24] Richard-Yang-Bose commented on #37102
@freedomtan Thanks for pointing this out, I'm aware of this and have also tried the following setups:
1. Set `allow_fp16` as `1` in the benchmark too: still got the same error log.
2. Use float32 model (without setting float16 and optimization during the tflite model conversion): still failed to apply GPU delegate, but without the type mismatch error.
Also note that the the benchmark app is able t

[2020-03-02 15:24] dps42 commented on #35380
Duplicate of https://github.com/tensorflow/tensorflow/issues/21698.
https://stackoverflow.com/questions/54093424/why-is-tensorflow-lite-slower-than-tensorflow-on-desktop

Tensorflow Lite is optimized for ARM neon, and is slower running on your x86_64 desktop.

[2020-03-02 15:28] UndeadBlow commented on #26664
Problem still unsolved.

[2020-03-02 15:35] chris0914 opened #37233 "Blas GEMM launch failed"
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): source and pip
- TensorFlow version: 2.1.0
- Python version: 3.7.3
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): 0.29.1
- GCC/Compiler version (if compiling from source): 7.4.0
- CUDA/cuDNN version: 10.1 / 7.6.4
- GPU model and

[2020-03-02 15:53] alar0330 commented on #28256
A clean solution would be to re-implement a custom op to decode a PNG without palette conversion.

Currently, the conversion is done at [core-level](https://github.com/tensorflow/tensorflow/blob/38cdb9ff8548efc920039d68dd94b5581db6314a/tensorflow/core/lib/png/png_io.cc#L284):
[code]

[2020-03-02 16:17] NEGU93 commented on #3348
So a bit off-topic. But I will need a formal verification that the equation, gave by @charmasaur, is indeed used for Tensorflow `tf.gradient`. Can someone within Tensorflow assert this is indeed the equation or at least give me a reference for this?
Or shall I read the code and do the verification myself as @charmasaur did?

This may also interest you @sylviemonet.

[2020-03-02 16:22] soyers opened #37234 "Cloning models loaded from disk (SavedModel) fails"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-03-02 16:25] seddy opened #37235 "Impossible to install tensorflow on linux from PyPI with pip versions prior to 19"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04 (but affect

[2020-03-02 16:35] FB43 commented on #37231
@amahendrakar Hello, I've not read this doc enough, my bazel version was wrong. Now, I have the 0.10.0rc. Things are different but not better ...
Thanks for your help!
PS P:\anaconda3\tensorflow> bazel build --config=v1 //tensorflow/tools/pip_package:build_pip_package
WARNING: Config values are not defined in any .rc file: v1
Loading:
Loading: 0 packages loaded
ERROR: Skipping '//tensorflow/tools/

[2020-03-02 16:36] MarkDaoust commented on #28169
LGTM, Thanks.

[2020-03-02 16:36] aselva-eb commented on #36759
^ Bump -
Any potential solutions? Relatively blocked on this one

[2020-03-02 16:39] nerdaliciousCH commented on #35632
Same on LG Nexus 5X

Running posenet_mobilenet_v1_100_257x257_multi_kpt_stripped.tflite downloaded from the tensorflow lite webpage just days ago.
With CPU it works pefectly fine

[code]

[2020-03-02 16:46] smatzek commented on #37029
As noted in the original issue description, this hang on OOM did not occur on TF 1.15. The image generator is only calling out to tf.keras and numpy.

So this morning I tried the following container images:
tensorflow/tensorflow:1.15.2-gpu-py3 (has numpy 1.18.1)
tensorflow/tensorflow:2.0.0-gpu-py3  (has numpy 1.17.2)
tensorflow/tensorflow:2.1.0-gpu-py3 (has numpy 1.18.1)
tensorflow/tensorflow:nigh

[2020-03-02 16:50] ashiqak commented on #17520
how to install a specific version of tensorflow in windows @anconda distribution

[2020-03-02 16:51] mihaimaruseac commented on #36937
@sjurajpuchky Please add ` ``` ` before and after your code blocks. Otherwise, the things you post are unreadable and if you don't invest some time into the issue to make it easier to understand other contributors will just move over the issue and look at other ones.

[2020-03-02 17:01] allenlavoie commented on #36720
I'm sure you could extract the values of the constants in the GraphDef with Session.run and then assign them to variables, but that's a manual process. Retraining works too.

[2020-03-02 17:01] #36720 closed

[2020-03-02 17:04] uchua commented on #37068
Is there a way to load a model using `tf.saved_model.load()` and then add it to a Keras model?

[2020-03-02 17:14] hzlmn commented on #25939
In case someone struggle as well we packed https://github.com/echoes-ai/tensorflow-dockerfiles
both with cuda and cpu versions. Contributions are welcome!

[2020-03-02 17:18] Venus24kk commented on #37221
Thank you for your message. I found my CPU doesn't support AVX instruction. When I install tensorflow-gpu, does it matter if CPU supports AVX instruction?

Regards,

[2020-03-02 17:24] qlzh727 commented on #33459
@CNOCycle, note that the downloading url is from https://github.com/keras-team/keras-applications/releases, which should be same as the one in tf.keras.application. This somehow indicating that your transfer learning model might not be constructed correctly.

The easiest way to verify whether the original resnet model is correct is to run some eval with the eval data, which I am quite sure we did

[2020-03-02 17:35] jvishnuvardhan commented on #33247
@phemmer New stable version (`TF2.2`) will be release soon. Please check the recent [announcements here](https://groups.google.com/a/tensorflow.org/forum/#!forum/build). Thanks!

[2020-03-02 17:37] #36259 closed

[2020-03-02 17:49] impjdi commented on #35632
@joyalbin Apologies, forgot to follow up on this.  He usually tests it on a variety of phones.  I don't think we have Honor20 in particular but definitely have Kirin devices.  Is this now resolved or shall I ping him again?

[2020-03-02 17:53] impjdi commented on #35632
@nerdaliciousCH the way I read the code is that you are supplying an external SSBO for inference, but it has wrong dimensions, i.e. not 257x257x3.

[2020-03-02 17:53] tgaddair commented on #36398
Hey @reedwm @omalleyt12 @pkanwar23.  I had a chance to test the latest `tf-nightly` build, and the new `_aggregate_gradients` hook seems to be working well so far.  So thanks for getting that in on time!

In the process of testing it, we did discover one other somewhat related issue, however.  Some of our Keras callbacks rely on accessing `self.params['steps']` in order to take actions based on ho

[2020-03-02 18:27] etetteh commented on #36734
Please find the needed files here:
https://drive.google.com/drive/folders/1i_CGyn5vQ0WTs6KXjB6KMd6nvZ_vqxlo?usp=sharing

On Mon, Mar 2, 2020 at 9:02 AM Saduf2019 <notifications@github.com> wrote:

[2020-03-02 18:31] #28169 closed

[2020-03-02 18:36] smatzek commented on #37029
In my diff I noticed that the entire ParallelMapIterator class is new between 2.0.0 and 2.1.0. I spent over an hour investigating the code and following its waits/notifies. As far as I traced the code flows it looked OK to me.

I then added prints into the generator function and saw I do have a start without a yield. However, I do not think it is dependent on the actual work this function is doing

[2020-03-02 18:39] pkanwar23 commented on #36398
@tgaddair Can you open a separate issue for the callbacks? Assign it to either reed or me.

Given that you've been able to test the issue, I'm going to mark this particular issue closed. Hope that works.

[2020-03-02 18:39] #36398 closed

[2020-03-02 18:41] nerdaliciousCH commented on #35632
So I use Android with Java and used the GpuDelegate provided by the tensorflow2 packages. When I don't add the delegate to the Intepreter and run on CPU alone (i.e. nlt providing any executor delegates), it works well. I have no code that is adapted to the device type besides when I create the tensorflow interpreter.

Do I have to create the input buffers differently when running on GPU? What stru

[2020-03-02 18:52] omalleyt12 commented on #36398
@tgaddair @pkanwar23
Came across this issue myself last night, working on a fix now

[2020-03-02 18:52] alextp commented on #37010
@rmlarsen do you know who works on this?

[2020-03-02 18:53] tgaddair opened #37237 "steps_per_epoch not propagating to Keras callbacks in tf-nightly"
This behavior was tested in `tf-nightly==2.2.0.dev20200302` on macOS.

Some of our Keras callbacks rely on accessing `self.params['steps']` in order to take actions based on how far along the process is into the current epoch (e.g., learning rate schedule).  However, it appears that this param is no longer being set properly, even when `mode.fit(steps_per_epoch=...)` is called.

I did some digging

[2020-03-02 18:53] tgaddair commented on #36398
Thanks @omalleyt12 for looking into this, here's the new issue to track: #37237.

[2020-03-02 18:56] impjdi commented on #35632
@nerdaliciousCH

No, you don't have to create the input buffers differently.  In fact, it should be just the same.

Don't worry about OpenCL.  It's just a "FYI" message.

Maybe, but it's hard to tell without seeing the code.  Are you calling interpreter->ResizeInputTensors at one point?

[2020-03-02 18:58] omalleyt12 commented on #37237
Thanks for the issue! Working on a fix now

[2020-03-02 19:03] aaudiber commented on #37029
I don't think the issue is with `ParallelMapIterator` - it was moved between 2.0.0 and 2.1.0, but it's always had the logic of waiting for outstanding calls to finish during deconstruction: https://github.com/tensorflow/tensorflow/blob/v2.0.0/tensorflow/core/kernels/data/parallel_map_iterator.cc#L70-L79

From the stack trace

#6 0x00007fff462e9cd4 in tensorflow::condition_variable::wait
#7 0x00007

[2020-03-02 19:03] haozha111 commented on #35927
Hi,

When you pass pure python function to output, keras will create a layer per tensorflow op. Please see:
https://github.com/tensorflow/tensorflow/blob/dd662a9228b0f94ed2527f4117f2bef62e0aad00/tensorflow/python/keras/engine/base_layer.py#L2756

Essentially they shouldn't have semantic differences but the generated graph may have some differences.

[2020-03-02 19:07] haozha111 commented on #35927
I will close this issue now since you already have a walk-around.

I also did an investigation about why your model can't convert before, it seems that this hits an unsupported case in TF lite converter:
https://github.com/tensorflow/tensorflow/blob/efc60f17fa8662049912469c7dc3e6fd04f27faf/tensorflow/compiler/mlir/lite/transforms/lower_static_tensor_list.cc#L350

TensorArrays in TF can be dynamic

[2020-03-02 19:07] #35927 closed

[2020-03-02 19:12] yurivict opened #37238 "Docs say that sigmoid is mapped to TfLite but the TfLite schema doesn't mention sigmoid"
It lists ```tf.sigmoid``` as mappable to TfLite here: https://www.tensorflow.org/lite/guide/ops_compatibility

But the TfLite schema doesn't mention sigmoid: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/schema/schema.fbs

[2020-03-02 19:22] tobillsung-doc opened #37239 "tf.keras.experimental.WideDeepModel example has wrong input for constructor"
The tutorial example for tf.keras.experimental.WideDeepModel instantiated the class with first input augment: dnn_model, and second augment: linear_model as shown in :
https://www.tensorflow.org/api_docs/python/tf/keras/experimental/WideDeepModel#example_4

However, the class should be instantiated by linear_model then dnn_model as shown in:
https://github.com/tensorflow/tensorflow/blob/v2.1.0/ten

[2020-03-02 19:56] sylviemonet commented on #3348
At first, I have a small question about this equation.

What does <img width="40" alt="nabla" src="https://user-images.githubusercontent.com/16817699/75710328-ac29fe00-5cc4-11ea-92d7-3b5d16012bfc.png"> mean in this equation?

Then I want to know how to write down this in the form with df = XX dz + XX dz*?

If I simply change <img width="40" alt="nabla" src="https://user-images.githubusercontent.co

[2020-03-02 20:06] afcarvalho1991 commented on #36945
I'm also facing this issue.
 - macOS Mojave 10.14.6
 - python3.5 (no virtual env)
 - TensorFlow 2.1.0

André.

[2020-03-02 20:15] jaketae opened #42781 "Community feedback for translated landing pages"
Hello, I was wondering if the TensorFlow tutorial [landing page](https://www.tensorflow.org/tutorials?hl=ko) should be translated by the community. Though I cannot be certain, the page seems to be built from [this source](https://github.com/tensorflow/docs/blob/master/site/en/tutorials/_index.yaml), which is in yaml format. After checking out the TensorFlow website under different language options

[2020-03-02 20:18] jpatts opened #37240 "How to deserialize from a dict with tf.keras.losses.get"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/keras/losses/get

## Description of issue (what needs changing):
Currently there is no documentation at all.
Its fairly straightforward to use by inputting a string denoting default class name:
ex:
[code]

However, I am having issues with dictionary objects:
ex:
[code]
Returns:
[code]
I believe it is failing because cls is the

[2020-03-02 20:29] jelmd commented on #37233
Check `apt-cache policy libcublas10`. Don't use 10.2.2.89-1 - it is not compatible!  So fix could be:
[code]
If you did not have installed the cuda-libraries-[dev-]10-1 meta packages, omit them.

[2020-03-02 20:42] jelmd commented on #36781
The problem is probably libcublas10 version 10.2.2.89-1. Using a previous version might fix the problem - see #37233

[2020-03-02 20:48] jelmd commented on #35029
Just in case you have libcublas10 version 10.2.2.89-1 installed: replacing it with an older version might fix the problem - see #37233

[2020-03-02 20:58] iotwithit commented on #37215
Thank you, it's definitely good to know!
One thing I noticed though is that the problem arises while the SUB tensor is initialized as if the model file is not parsed properly. I do not know if there is an issue with the FlatBuffer generated schema, but what I see is that the `flatbuffer_tensor.shape()` (`tensorflow/lite/micro/memory_helpers.cc:82`) call returns a NULL pointer when the SUB tensor i

[2020-03-02 21:03] pjsjongsung opened #37241 "Using different version of tensorRT?"
I wasn't sure what type of issue this was, so I'm trying others.

Hi. I'm trying to run tensorflow on a gpu server.

I don't have access rights to installing(changing) packages on the server, and the server has TensorRT-5.1.5 version installed.
But I'm assuming when I import tensorflow 2.0.0, it's failing to find TensorRT v6, and just using cpu instead. Is there a way for the tensorflow to use a d

[2020-03-02 21:07] tomerk commented on #36912
Hi @chiapas , it was a mix of issues:

1. Metrics have to be used in the same strategy they were created in, or it can cause issues with TPUStrategy (because if you do it wrong you'll only get the metric result from one replica instead of the overall metric aggregated across all of your replicas). Nightly should throw an error if it detects this now (on TPUStrategy). It did not use to before.

2.

[2020-03-02 21:07] #36912 closed

[2020-03-02 21:16] karimnosseir commented on #37089
New version is released which Should enable SDM765G and also includes version 1.14
You will need to use the compatible libhexagon_nn_skel* (you can find them here
https://www.tensorflow.org/lite/performance/hexagon_delegate)

[2020-03-02 21:16] #37089 closed

[2020-03-02 21:19] martinwicke commented on #37183
How is this different from TensorBoard?

[2020-03-02 21:22] Viibrant commented on #374
`Error: While importing "web", an ImportError was raised:

Traceback (most recent call last):
  File "/home/connor/.local/lib/python3.7/site-packages/flask/cli.py", line 240, in locate_app
    __import__(module_name)
  File "/home/connor/programming/python/Automated-Checkout/web.py", line 3, in <module>
    from prediction import NeuralNetwork
  File "/home/connor/programming/python/Automated-Chec

[2020-03-02 21:23] kafan1986 opened #37242 "TFLite model not running in spite of using SELECT_TF_OPS for Mean operation"
**System information**
- Android 9/TOCO ran on MAC OS (Tensorflow 2.1.0)

-  implementation 'org.tensorflow:tensorflow-lite:0.0.0-nightly'
    implementation 'org.tensorflow:tensorflow-lite-gpu:0.0.0-nightly'
    implementation 'org.tensorflow:tensorflow-lite-support:0.0.0-nightly'
    implementation 'org.tensorflow:tensorflow-lite-select-tf-ops:0.0.0-nightly'

Toco command (with allow custom ops

[2020-03-02 21:38] ymodak commented on #34015
This works with tf-nightly version '2.2.0-dev20200302'. Thanks!

[2020-03-02 21:38] #34015 closed

[2020-03-02 21:41] pjsjongsung commented on #37241
I just realized tensorflow 2.0.0 only support TensorRT v6. I'll just have to inform them to install it. Thank you though!

[2020-03-02 21:41] #37241 closed

[2020-03-02 21:54] ymodak commented on #33035
This is fixed with latest tf-nightly version '2.2.0-dev20200302'. Thanks!

[2020-03-02 21:54] #33035 closed

[2020-03-02 22:05] gowthamkpr commented on #37173
@mainouraldeen use tensorflow-nighty build gradle version 0.1.2
` implementation 'org.tensorflow:tensorflow-lite:0.1.2-nightly'`

For more information Please go through this i[ssue](https://stackoverflow.com/questions/56256478/converted-model-tflite-does-not-encode-a-valid-tensorflowlite-model-could-not-o/56269570).

[2020-03-02 22:05] rafaelmarconiramos opened #37243 "Problem with segmentation my dataset in DeepLab"
I adapted the "build_convert" of the PASCAL Dataset to convert my dataset to execute the DeepLab, but all my segmentation tests generate a black image prediction.

My dataset has images with 140x140 px. (see an example above:)

Original Image
![211789](https://user-images.githubusercontent.com/18166522/75722022-256f2400-5cb8-11ea-9308-0c7637d37cb5.png)

Original Mask
![211789_OriginalMask](https:/

[2020-03-02 22:31] mathemakitten commented on #36968
+1 to this question, I'm doing something similar with `tf-nightly==2.2.0.dev20200119` with custom layers inherited from Keras layers and the docs could use some clarification on "keep a reference to the underlying object around for the purpose of accessing these variables"

[2020-03-02 22:48] sanjoy commented on #37198
Can you try using [TensorBoard](https://www.tensorflow.org/tensorboard/tensorboard_profiling_keras) to gather a profile and see if something sticks out?

The memory usage is likely a red herring:

 * By default TF allocates all of the memory on the GPU on startup.  You can [change this](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth).
 * Even if we tell TF to allocate GPU memory i

[2020-03-02 23:04] ymodak commented on #37012
Not all models inputs can be resized. The input should be [1,300,300,3]
See https://www.tensorflow.org/lite/models/object_detection/overview#input
The code executes successfully with following changes;
[code]
Thanks!

[2020-03-02 23:22] #31458 closed

[2020-03-02 23:28] ymodak commented on #37032
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
 Thanks!

[2020-03-02 23:28] #37032 closed

[2020-03-02 23:41] zaccharieramzi opened #37245 "Warning/Error not present when not using the result of write in a TensorArray"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.1.0
- Python version: 3.6.8

**Describe the current behavior**
When not using the result of a `write`

[2020-03-02 23:47] jingxu10 commented on #37015
Hi,
I'll take a look at this issue.

[2020-03-03 00:11] nicholascannon1 commented on #36945
Still getting pywrap `ImportError` installing `tf-nightly`.
[code]

[2020-03-03 00:52] av8ramit commented on #36945
Sorry again for the frustration. Unfortunately since I cannot repro this it's difficult for me to debug.

So this new error suggests the issue was not with the `__init__.py` file as so much it was with loading shared objects in general. It appears no matter what, whenever you load the shared object first it has an issue.

I looked around and found [this guide](https://developer.apple.com/library/a

[2020-03-03 01:17] nicholascannon1 commented on #36945
Ok so I added the folder to `LD_LIBRARY_PATH` using:

`export LD_LIBRARY_PATH=/usr/local/lib/python3.7/site-packages/tensorflow/python/:$LD_LIBRA    RY_PATH`

and tried both `tf-nightly` and the regular `tensorflow` (installing via pip). `tensorflow` had the same error as above (the original one) and `tf-nightly` had the same error message as my last comment.

Checking the folder `/usr/local/lib/p

[2020-03-03 01:24] huanyingjun commented on #37089
@karimnosseir
I tried to download the libhexagon_nn_skel* from "https://storage.cloud.google.com/download.tensorflow.org/tflite/hexagon_nn_skel_v1.14.run",
but failed to download, shows
"Forbidden
Error 403"

Could you please help check this ?

[2020-03-03 01:27] karimnosseir commented on #37089
Can you try again

Thanks

[2020-03-03 01:31] huanyingjun commented on #37089
It is ok.
Thank you very much

[2020-03-03 01:37] terryheo commented on #37154
1. Yes. Hexagon delegate is only available on Android at the moment.
2. You just need to provide dataset. Calculation is done by quantizer.
https://www.tensorflow.org/lite/performance/post_training_quantization#full_integer_quantization_of_weights_and_activations

[2020-03-03 01:44] terryheo commented on #37110
Oh, you're using Bazel. So it's ok to build TFLite only in Tensorflow repo, right?
I think you need to copy some dependencies from tensorflow/workspace.bzl so the Bazel can download necessary files.

[2020-03-03 02:47] kimchicanh commented on #37182
@ravikyram Thanks you. I try your link but it still fail. I send you my model yolo tiny v3 and log file
[https://drive.google.com/drive/folders/1xR5FziDC4m8Lv-eTiNXUNvegOKmBhu_r?usp=sharing](url)

Thanks

[2020-03-03 03:05] tanzhenyu commented on #34964
In the RFC process, it is suggested to first email developers@tensorflow.org before writing up the entire doc :-)
Regarding implementation, yeah some common logic would be preferred, but we don't have any immediate implementation to export TF2 KMeans yet.

[2020-03-03 03:26] ehennis commented on #37207
Running the same file from the command line works just fine. It must have something to do with how visual studio is running the file.

[2020-03-03 03:36] hysunflower commented on #30191
It worked for me ，thank you!

[2020-03-03 03:39] hysunflower commented on #30191
It worked for me ，thank you!

It worked for me, thank you!

[2020-03-03 03:41] hysunflower commented on #30191
It worked for me , thank you

[2020-03-03 05:08] tonyamrtin commented on #37222
THANKS

[2020-03-03 05:11] Saduf2019 commented on #37222
@tonyamrtin
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Hence moving this issue to resolved status.

[2020-03-03 05:11] #37222 closed

[2020-03-03 05:34] Saduf2019 commented on #37221
@Venus24kk
Yes while you do pip install from windows,it does matter.

[2020-03-03 05:54] TianHongZXY commented on #35923
Does BatMatMul is supported in TensorFlow Lite? I encountered this problem too using TF1.15

[2020-03-03 05:57] CleanPegasus commented on #37183
Tensorboar does lets you monitor your model through a remote server. It is quite complicated and mot many can afford a remote server. My friend and I worked on an app that makes it easy for remote monitoring and notifies you when your model has completed or crashed.
<br>
Something like this
![sample](https://user-images.githubusercontent.com/42714467/75746995-d2da4a00-5d41-11ea-9326-e8f0da37102b.j

[2020-03-03 06:01] gadagashwini commented on #37240
@jpatts, Documentation is available for tf-nightly version. Please take a look at doc [here](https://www.tensorflow.org/api_docs/python/tf/keras/losses/get?version=nightly) for more about `identifier` and `returns`. Thanks!

[2020-03-03 06:07] jpatts commented on #37240
@gadagashwini, I saw the nightly documentation after this post, however there is still no explanation for what a “loss configuration dictionary” is. That’s the larger problem for this. The way I tried to do it is the intuitive way, but it doesn’t work for the reasons I showed above, so I would like to know how it’s supposed to be used.

[2020-03-03 06:13] TianHongZXY commented on #21526
@jdduke I still can't use batchmatmul in TF1.15，I use `converter.target_spec.supported_ops = [tf.lite.OpsSet.SELECT_TF_OPS,
                                           tf.lite.OpsSet.TFLITE_BUILTINS,
                                           tf.lite.OpsSet.TFLITE_BUILTINS_INT8]`, and it still says `Here is a list of operators for which you will need custom implementations: BatchMatMul.`

[2020-03-03 06:13] ravikyram commented on #37232
@pranathibl

Can you please go through[ link1](https://www.tensorflow.org/lite/api_docs/cc/class/tflite/op-resolver), [link2](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/micro/kernels/all_ops_resolver.cc) and see if it helps you.
![opresolver](https://user-images.githubusercontent.com/51902062/75747876-16ce4e80-5d44-11ea-9026-927ff62bfee5.png).
This question is better aske

[2020-03-03 06:15] amahendrakar commented on #37234
@soyers,
I was able to reproduce the issue with [TF 2.0](https://colab.sandbox.google.com/gist/amahendrakar/0db9995e445fc5de96f71f4703d0d403/37234.ipynb) and TF 2.1. However, the issue seems to be fixed in [TF-nightly](https://colab.sandbox.google.com/gist/amahendrakar/e3fdab8e1499358e2acc50445a8cef78/37234-2-1.ipynb). Please check the attached gist. Thanks!

[2020-03-03 06:18] sharmaninaad opened #37246 "Adding support to TensorFlow Lite for more ops"
Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If those are native TensorFlow operators, you might be able to use the extended runtime by passing --enable_select_tf_ops, or by setting target_ops=TFLITE_BUILTINS,SELECT_TF_OPS when calling tf.lite.TFLiteConverter(). Otherwise, if you have a custom implementation for them you can disable this error with

[2020-03-03 06:21] pranathibl commented on #37232
Hi ravikyram,

Thanks for the information provided.

Could you please share the book/pdf where you took the screenshot. I would like to have better understanding of classes/methods used in tensorFlow lite. That would be very helpful.

Thanks,

[2020-03-03 06:24] Saduf2019 commented on #37235
@seddy
Please upgrade pip to resolve the issue:
python -m pip install --upgrade pip setuptools

you may check these links for reference [Link1](https://forum.rasa.com/t/could-not-find-a-version-that-satisfies-the-requirement-tensorflow-1-15-0/21509) and [Link2](https://github.com/tensorflow/tensorflow/issues/34302)

[2020-03-03 06:26] TianHongZXY commented on #27765
@Single430  hello, how did you solve the problem of unsupported op BatchMatMul?

[2020-03-03 06:27] ravikyram commented on #37229
I have tried on colab with TF version 2.1.0, 2.2.0-dev20200302  and was able to reproduce the issue.Please,find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/9a5b708a520ef1b30feeabcd9fc6023a/untitled698.ipynb). Thanks!

[2020-03-03 06:30] gadagashwini commented on #37207
@ehennis Try running on any of the Python IDLE like Jupyter or spyder. Let us know how it progresses. Thanks

[2020-03-03 06:39] terryheo commented on #37038
https://github.com/tensorflow/tensorflow/pull/37033 was merged. Let us know if you still have the issue.

[2020-03-03 06:39] #37038 closed

[2020-03-03 06:40] Byambaa0325 commented on #34964
Thanks for being friendly and helpful.

[2020-03-03 06:43] gadagashwini commented on #37246
@sharmaninaad,
Can you please share a standalone code to reproduce the issue. Did you try adding converter.allow_custom_ops = True to enable custom ops in the tf.lite? Thanks!

[2020-03-03 06:44] ravikyram commented on #37232
@pranathibl
Please, find the pdf link [here](https://books.google.co.in/books?id=tH3EDwAAQBAJ&pg=PT470&dq=what+is+custom+ops+in+resolver&hl=en&sa=X&ved=0ahUKEwjpyL3Tzf3nAhVI7HMBHSpNAIQQ6AEIKjAA#v=onepage&q=what%20is%20custom%20ops%20in%20resolver&f=true).Please, close this thread if it solves your question. Thanks!

[2020-03-03 06:45] Saduf2019 commented on #37231
@FB43
As per the configurations, please refer to [this link](https://www.tensorflow.org/install/source_windows#gpu) which shows you would have to use cmake instead of bazel, is here any specific reason to use 1.8, could you use a later version of tensorflow.

For your second error:
Could you please refer to [this link](https://stackoverflow.com/questions/45425199/bazel-build-error-with-tensorflow)

[2020-03-03 06:48] ravikyram commented on #37182
@kimchicanh

Will it be possible for you to check with CUDA 10.1 and see still you are facing the issue? Thanks!

[2020-03-03 06:53] pranathibl commented on #37232
Hi ravikyram,

Thanks for sharing the pdf.

As per my understanding, opResolver fetches the operations implemtations needed to run Inference on model without fetching all function implementations. Let me know I am wrong ?

I didn't understand what does custom op resolver actually mean ? Will the user do any modifications to Model ?
Please provide details on what custom resolver does ?

Once I got

[2020-03-03 07:02] TianHongZXY opened #37247 "Does BatchMatMul is still not supported in TF1.15?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):MacOS 10.14
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):TF1.15

**The output from the converter invocation**

[code]

[2020-03-03 07:43] tomtobback commented on #37088
I'm seeing  the same issue on ESP32, using the Arduino IDE with the Arduino TensorFlowLite library.
The hello-world example (sine_model) works well, a Fashion FMNIST model with 14x14 input also works, but ONLY if i do not use any optimizer in the TFLite converter.
If i do use the OPTIMIZE_FOR_SIZE on 14x14 model, or on the 28x28 model, the ESP32 crashes at inference, with the same backtrace decode

[2020-03-03 07:44] pranathibl commented on #37154
Hi terryheo,

I have few issues regarding 2 point mentioned

1. I was using label_image.cpp example in TfLite example. There there was option to pass mean and std deviation ? Why is it default set to 127.5 .

2. Does the TfLite Model has the information of what mean and std deviation ? If Quantizer does the calculation based on data set, Why this information is not stored in TfLite Model ?

Why in

[2020-03-03 07:46] padoremu commented on #36093
Apparently, the bug has been fixed in the meanwhile. Saving the model as h5 with 2.2.0-dev20200228 works.

[2020-03-03 07:47] animeshseemendra commented on #25794
I am interested to work on it. Can I ? @dynamicwebpaige

[2020-03-03 07:49] SirPhemmiey commented on #29054
For anyone who hasn't resolved the issue, this is how i resolved the issue;

I noticed that the output tensor of the sample detection model is different from the output tensor of my custom model so i tweaked the TFLiteModelObjectDetectionAPIModel.java file by changing the `numBytesPerChannel`, `NUM_DETECTIONS`, variable to match mine.

PS: IF you don't know your output tensors, you can check it wi

[2020-03-03 07:58] padoremu opened #37250 "Saving model with tf.keras.layers.RNN and stateful=True with save_format='tf' fails"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution: Linux Ubuntu 18.04
- Mobile device if the issue happens on mobile device: -
- TensorFlow installed from: binary
- TensorFlow version: 2.2.0-dev20200228
- Python version: 3.6.9
- Bazel version (if compiling from source): -
- GCC/Compiler versio

[2020-03-03 08:03] tanzhenyu commented on #33942
It looks like the results is reproducible using tf-nightly. Closing this for now, but feel free to reopen it if it doesn't work on your end. Thanks!

[2020-03-03 08:03] #33942 closed

[2020-03-03 08:13] tanzhenyu commented on #35697
Hmmm....I haven't seen this error before. It's also not easy to debug given the context

[2020-03-03 08:23] freedomtan commented on #37102
@Richard-Yang-Bose interesting. It seems you hit a limitation of GPU delegate. Maybe @impjdi might have the right answer.

[2020-03-03 08:24] Saduf2019 commented on #37245
I have replicated the mentioned issue and it persist,please find the [gist](https://colab.sandbox.google.com/gist/Saduf2019/a47bad1134ac9ec7bee368439fcdbdea/untitled71.ipynb) here

[2020-03-03 08:33] ravikyram commented on #37164
@georgeparry12

Can you please go through the [link](https://www.tensorflow.org/guide/gpu#logging_device_placement) and see if it helps you.Please, add `tf.debugging.set_log_device_placement(True)` and execute piece of code as given in the link and verify.Thanks!

[2020-03-03 08:34] Saduf2019 commented on #37247
@TianHongZXY
Can you please share a standalone code to reproduce the issue. Did you try adding converter.allow_custom_ops = True to enable custom ops in the tf.lite? Thanks!

[2020-03-03 08:36] gadagashwini commented on #37243
@rafaelmarconiramos, Can you provide the complete standalone code to replicate the reported issue. Thanks

[2020-03-03 08:39] TianHongZXY commented on #37247
@Saduf2019 If I set converter.allow_custom_ops = True, the model can be converted, but converted model still can't be used because I didn't implement the custom_op BatchMatMul, but I found the supported ops includes BatchMatMul in `tensorflow/tensorflow/lite/delegates/flex/whitelisted_flex_ops.cc`

[2020-03-03 08:40] freedomtan commented on #37154
when training image classifiers in floating point, usually image RGB values in [0,255], are converted to floating point numbers in [0,1] or [-1,1]. For, x in [0, 255], -1 <= (x-127.5) / 127.5  <= 1.0.

[2020-03-03 08:48] netanel-s commented on #23050
@jhseu Is there any update regarding this issue?

[2020-03-03 08:49] ravikyram commented on #37232
@pranathibl

This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2020-03-03 09:13] soyers commented on #37234
@amahendrakar Thank you very much for invastigating this issue! I am gald that the nightly version has already introduced a fix.
I just checked if TF 2.0.1 also contains the fix but it doesn't seem to. Will there be a patch version for TF 2.0 and TF 2.1 some time containig the fix?

[2020-03-03 09:16] Saduf2019 commented on #36140
@rosanag24
I hope this [comment](https://github.com/tensorflow/models/issues/3705#issuecomment-375563179) helps

@Chosen-ones please confirm if we may proceed to move this issue to resolved status.

[2020-03-03 09:16] jacketchan opened #37251 "tensorflow:AutoGraph could not transform"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  Yes
- OS Plat

[2020-03-03 09:17] ravikyram commented on #37220
@JSunRae

I have tried in colab with TF 2.1.0 and i am seeing `IndexError ` .Only change is I have replaced with tensorflow.keras in place of keras while importing.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/8a5eb39a0b42ab141b99df254b098702/untitled699.ipynb). Please, help me with reproducing the issue .Thanks!

[2020-03-03 09:18] liuxingbaoyu commented on #36072
Will still hang on the latest nightly and `tf-gpu 2.1 cudn 10.2`

[2020-03-03 09:22] Saduf2019 commented on #36574
@arjun-majumdar
please provide us with simple indented stand alone code with all dependencies, for us to replicate it in our environment and analyse the issue faced by you.
please find the [gist](https://colab.sandbox.google.com/gist/Saduf2019/34097314dfd69412c30f2328cdcffb8c/36574.ipynb) of the code shared by you and error faced.

[2020-03-03 09:24] Saduf2019 commented on #36734
@etetteh
I am unable to access the link shared.

[2020-03-03 09:26] Saduf2019 commented on #36864
@georgeparry12
please share a simple stand alone code for us to replicate the issue faced by you, along with the error logs.

[2020-03-03 09:26] Saduf2019 commented on #36884
@RAHUL9545416
please confirm if the above comment helps

[2020-03-03 09:27] liuxingbaoyu commented on #37216
excuse me
This may be related to [https://github.com/tensorflow/tensorflow/issues/36072](https://github.com/tensorflow/tensorflow/issues/36072)

[2020-03-03 09:30] ravikyram commented on #36530
@JiayuanSternLi

Any update on this issue please. Thanks!

[2020-03-03 09:32] Saduf2019 commented on #37085
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Hence moving this to resolved status.

[2020-03-03 09:32] #37085 closed

[2020-03-03 09:38] ravikyram commented on #37104
@aniketbote
There is no information is available in the link you have shared. Request you to send the correct link and help me to reproduce the issue. It helps us in localizing the issue faster. Thanks!

[2020-03-03 09:46] seddy commented on #37235
Hi @Saduf2019, thanks for your response.

As per the description, I am aware of the fact this works with pip >= 19.0. The problem is there are environments where upgrading pip is not possible, so I'm requesting a package of tensorflow on PyPI built with `manylinux1` which would resolve this issue.

[2020-03-03 09:46] IanRDavies opened #37252 "Memory leak activated when setting a seed in TensorFlow 2 (2.0 & 2.1) and using eager execution."
Firstly, I would like to thank @condnsdmatters for his help in investigating this issue and tracing the problem back to the use of a random state when setting a seed for TensorFlow.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile devic

[2020-03-03 09:46] Saduf2019 commented on #37098
@HadiSDev
I ran the code shared by you and face this [error](https://colab.sandbox.google.com/gist/Saduf2019/36b481994d60b4a68c03fa79c5bd31e9/37098.ipynb), please share all dependencies and indented code for us to replicate and help you resolve the issue.

[2020-03-03 09:47] amahendrakar commented on #37228
@ngc92,
Could you please check the nightly version of the docs from this [link](https://www.tensorflow.org/api_docs/python/tf/debugging/assert_shapes?version=nightly).
I was able to reproduce the error with the example given on the stable version. However, the example given in nightly docs works without any issues. Please find the gist of it [here](https://colab.sandbox.google.com/gist/amahendraka

[2020-03-03 09:49] NEGU93 commented on #3348
Unfortunately, I have no answers about that @sylviemonet. However, I don't agree on:

That would assume the gradient is df/dz which is not right?

This thread seems to be having some interest. I asked the question on [stackoverflow](https://stackoverflow.com/questions/57108959/how-does-tf-gradients-manages-non-holomorphic-functions) because google asks us to do that (https://www.tensorflow.org/com

[2020-03-03 09:51] jacketchan opened #37253 "tf2.1 with gpu can't open cuda 10.2"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  windows 10 (profession)
- Mob

[2020-03-03 09:56] Saduf2019 commented on #37251
@jacketchan
could you please check the gast version. Tensorflow 2.x supports gast ==0.2.2.
let us know if that helps,Thanks!

[2020-03-03 09:59] csachs commented on #34390
Looks good in nightly.

[2020-03-03 10:09] TianHongZXY commented on #37247
@Saduf2019  Here's the code you can reproduce the issue, if you set `converter.allow_custom_ops = True`, the tflite file can be converted successfully. When you `run test_infer_model` you may encounter `reshape op error`, you can solve this by switch to `tf-nightly` version. But the unimplemented op BatchMatMul is the problem I still can't solve yet.

[2020-03-03 10:10] TianHongZXY commented on #37247
https://colab.research.google.com/drive/1shJbg5iK7i6-F_eAJnexN9_Aj8PO9tAL

[2020-03-03 10:21] Ammu1991 commented on #29054
Hello,

I am using ssd_mobilenet_v3_small_coco_2019_08_14 model
Even I am facing same issue. Can you please guide me how to solve this
issue.

 TF_OD_API_INPUT_SIZE=320
 TF_OD_API_IS_QUANTIZED = true
 private static final int NUM_DETECTIONS = 2034;

outputLocations = new float[1][NUM_DETECTIONS][4];
Error:
E/AndroidRuntime: FATAL EXCEPTION: inference
    Process: org.tensorflow.lite.examples.detec

[2020-03-03 10:28] kimchicanh commented on #37182
@ravikyram thanks, I just change to 10.1, and there are new log file, [link](https://drive.google.com/drive/folders/1xR5FziDC4m8Lv-eTiNXUNvegOKmBhu_r?usp=sharing)

[2020-03-03 10:33] refraction-ray commented on #3348
To customize gradient for  f: C-->C in tensorflow, follows the procedures below.

Always imagine a final real output as L, then the forward pass looks like: y=f(x), L=g(y), where x and y can be complex vectors. The full differentiation would be:
<img width="353" src="https://user-images.githubusercontent.com/35157286/75765931-477daa80-5d7b-11ea-84f9-e15e7f0ea058.png">
where \bar{x} is defined as \

[2020-03-03 10:42] jonyvp commented on #34346
I'm getting similar issues when attempting to use a `TFRecordDataset` as generator for the `fit` function when running on a TPU. Both when :
- using the `as_numpy_generator` function of the TFRecordDataset (to know the amount of batches in an epoch, needed for the `steps_per_epoch` argument of the `fit` function)
- Mapping input tensors to their expected value

`
        self.dataset = self.datase

[2020-03-03 10:45] pablojordandlf commented on #36986
Hello! I have the same problem. I've traid to uninstall/install tensorflow, but it didn't work... Any guess? Thanks!

[2020-03-03 10:50] Hackerdash opened #37254 "InvalidArgumentError: indices[0,4] = 10 is not in [0, 10) [[node model/embedding_2/embedding_lookup (defined at <ipython-input-54-57c88bb5c904>:38) ]] [Op:__inference_distributed_function_20003] Errors may have originated from an input operation. Input Source operations connected to node model/embedding_2/embedding_lookup: model/embedding_2/embedding_lookup/19444 (defined at c:\users\naik9\appdata\local\programs\python\python37\lib\contextlib.py:112) Function call stack: distributed_function"
Train on 10240 samples, validate on 1284 samples
Epoch 1/30
   40/10240 [..............................] - ETA: 4:26WARNING:tensorflow:Can save best model only with val_categorical_accuracy available, skipping.
---------------------------------------------------------------------------
InvalidArgumentError                      Traceback (most recent call last)
<ipython-input-55-6d913c48a8e6> in <m

[2020-03-03 10:51] gadagashwini commented on #36491
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-03 10:51] #36491 closed

[2020-03-03 10:54] Hackerdash commented on #37254
https://github.com/Hackerdash/nlp-news/blob/master/project.ipynb

source code

[2020-03-03 10:56] tillmo commented on #36799
As I wrote in https://github.com/tensorflow/addons/issues/825, it seems that `keras.metrics.Precision(name='precision')` and `keras.metrics.Recall(name='recall')` already solve the batch problem. So keras would only need to add the obvious F1 computation from these values. Then there is no need to add all this to tensorflow.

[2020-03-03 10:58] lc0 commented on #37240
@jpatts would you mind to elaborate what exactly are you trying to do?

there are some examples how to serialize custom objects and functions
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/utils/generic_utils_test.py#L146

[2020-03-03 10:59] gadagashwini commented on #37253
@jacketchan, Tensorflow-gpu==2.1 supports CUDA 10.1 which will have cudart64_101.dll file.
Since, CUDA 10.2 will have cudart64_102.dll file which is not supported by Tensorflow 2.1.
Please downgrade the CUDA version to 10.1. Let us know how it progresses. Thanks!

[2020-03-03 10:59] amahendrakar commented on #36725
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-03 10:59] #36725 closed

[2020-03-03 11:02] JohnLyu94 commented on #25403
Previous:
cudatoolkit 9.0
cudnn 7.6
tensorflow-gpu 1.12

Solved:
cudatoolkit 9.0
cudnn 7.6
tensorflow-gpu 1.13

[2020-03-03 11:02] gadagashwini commented on #36538
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-03 11:02] #36538 closed

[2020-03-03 11:03] ravikyram commented on #37250
I have tried on colab with TF Nightly version and was able to reproduce the issue. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/e38aae55dc2b68e5852c2524e2d2b02c/untitled700.ipynb). Thanks!

[2020-03-03 11:03] gadagashwini commented on #36613
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-03 11:03] #36613 closed

[2020-03-03 11:04] gadagashwini commented on #36697
@muellesi, Any update on code snippet?

[2020-03-03 11:07] gadagashwini commented on #36728
@yug95, Closing this issue Since it is resolved. Thanks

[2020-03-03 11:07] #36728 closed

[2020-03-03 11:09] gadagashwini commented on #36736
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-03 11:09] #36736 closed

[2020-03-03 11:12] gadagashwini commented on #36768
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-03 11:12] #36768 closed

[2020-03-03 11:13] Saduf2019 commented on #37254
@Hackerdash
please refer to this [link](https://github.com/tensorflow/tensorflow/issues/33163), let us know if it helps.

please provide with simple standalone code for us to replicate th eissue in our environment with correct indentation and all dependencies along with the tensorflow version to replicate in.Thanks!

[2020-03-03 11:13] ravikyram commented on #36858
@aayusharora

As this issue not related to bug or feature request I am closing this issue.Please, ask this question in Stackoverflow. Thanks!

[2020-03-03 11:13] #36858 closed

[2020-03-03 11:15] gadagashwini commented on #36791
@JaeinKim85 ,
If you are using the [Python converter](https://www.tensorflow.org/lite/convert/python_api), with the latest version of TF/TFLite (nightly maybe?) could you try adding the following line pre-conversion:

converter.experimental_new_converter = True

If that doesn't work, it looks like we don't support the op yet :-(. You could try using [Select TF ops](https://www.tensorflow.org/lite/

[2020-03-03 11:15] #36791 closed

[2020-03-03 11:16] ravikyram commented on #36900
@petkovacs19

Any update on this issue please. Thanks!

[2020-03-03 11:16] gadagashwini commented on #36794
@paokuwansui, Is this still an issue?

[2020-03-03 11:17] gadagashwini commented on #36831
@Riccorl, Is this still an issue?

[2020-03-03 11:18] gadagashwini commented on #36859
@Anto95, Did you get a chance to look at @av8ramit's comment.Thanks

[2020-03-03 11:19] gadagashwini commented on #36866
@steven807, any update?

[2020-03-03 11:22] ravikyram commented on #36923
I am closing the issue since the query is been answered. Thanks!

[2020-03-03 11:22] #36923 closed

[2020-03-03 11:24] liuxingbaoyu commented on #37253
You can try [this](https://github.com/fo40225/tensorflow-windows-wheel)

[2020-03-03 11:27] ravikyram commented on #36925
@oeyvindds

 Please close this thread if it solves your question. Thanks!

[2020-03-03 11:30] ravikyram commented on #36979
@nscotto

Any update on this issue please. Thanks!

[2020-03-03 11:30] netw0rkf10w commented on #33459
Right. I have just tried again with `tf-nightly`, and indeed, the URLs have changed:

One can check this in my [Colab notebook](https://colab.research.google.com/drive/13zpJSsJ0GmXluiVNAF4DLSqW3Ao84G5Z).

@CNOCycle Could you please try again with `tf-nightly`? Thanks a lot.

[2020-03-03 11:31] ravikyram commented on #36986
@thazmach

Any update on this issue please. Thanks!

[2020-03-03 11:36] tomtobback commented on #36914
Hi, the same happens with my setup with Arduino ESP32, TensorFlowLite library v2.1.0-ALPHA, and generating the tflite model in colab with TF version 2.1.0
When i convert to TFLite with optimization = tf.lite.Optimize.OPTIMIZE_FOR_SIZE, the ESP32 crashes at inference (see [trace](https://github.com/tensorflow/tensorflow/issues/37088#issuecomment-593812080)). Without optimizer, it works perfectly. T

[2020-03-03 11:43] pablojordandlf commented on #36986
@thazmach @ravikyram
I solved it installing a previous version (2.0)

[2020-03-03 12:05] FrancescaAlf opened #37256 "Tensorflow 2.1: How does the metric 'tf.keras.metrics.PrecisionAtRecall' works with multiclass-classification?"
I am wondering how this metrics works in case of multiclass classification. Does it compute the average between values of precision belonging to each class?

I have a multiclass-classification problem, with three classes. I am interested in calculate the PrecisionAtRecall when the recall value is equal to 0.76, only for a specific class . What I have done was just setting 0.76 in brackets :
'' mod

[2020-03-03 12:19] CNOCycle commented on #33459
I checked the weight from `storage.googleapis.com` and `keras-applications/releases`. Both files' hash are same.

[code]

What I do is not transfer learning. I'm trying to reproduce to accuracy which publish in many papers.

From my experience, my implement of training ImageNet from scratch by TF and pytorch. For pytorch version, its top-1 accuracy is about 74%. For TF version, its top-1 accuracy

[2020-03-03 12:33] kamrankausar commented on #8037
Traceback (most recent call last):
  File "/home/kamran/py_env/dl_py36/lib/python3.6/site-packages/tensorflow/python/pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "/home/kamran/py_env/dl_py36/lib/python3.6/site-packages/tensorflow/python/pywrap_tensorflow_internal.py", line 28, in <module>
    _pywrap_tensorflow_internal = swig_im

[2020-03-03 13:12] Questdream opened #37257 "Blas GEMM launch failed;failed to create cublas handle: CUBLAS_STATUS_INTERNAL_ERROR"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): windows10
- TensorFlow installed from (source or
bina

[2020-03-03 13:13] NEGU93 commented on #3348
Can you cite the source of how can you assert that @refraction-ray?

[2020-03-03 13:22] netanel-s commented on #23050
@ccurro @hckiang @Xiadalei @jhseu
I think I solved the bug, would appreciate you confirming.
I think if you replace in [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/normalization.py#L712), the line
`expanded_shape = [self.virtual_batch_size, -1] + original_shape[1:]`
with
`expanded_shape = control_flow_ops.cond(training,lambda:[self.virtual_batch_size,

[2020-03-03 13:33] FB43 commented on #37231
@Saduf2019 hello, sorry, when I was working I often missed those things as many people. Now, I'm retired but nothing changes!
So, I have Python 3.6, Bazel 0.10.0, MSVC 2015 update 3 (2014), Cmake v3.6.3, GCC 4.8, MSYS2, Chocolatey, Anaconda3 (where I want to build TF). And other things, of course.
The reason why I want to install TF 1.8 is that my GPU has 3.0 computing capabilities.
I need it to r

[2020-03-03 13:37] #37098 closed

[2020-03-03 13:37] lxz1104 opened #37258 "Got "KeyError: 'stack/values_0' " when use custom network layer by tf.keras.layers.Layer"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from : Anaconda
- Python version: 3.7.3
- CUDA/cuDNN version: 10.0/7.0
- GPU model and memory: 6GB
- Tensorfflow version: 2.0.0

**custom network layer**
[code]

**Test code**
[code]

**Error info**
[code]

[2020-03-03 13:49] refraction-ray commented on #3348
@NEGU93 , for the general approach to get back propagation formula, any paper on auto differentiation of linear algebra can serve as a reference, eg. 3.5.2 in https://arxiv.org/pdf/1701.00392.pdf.

For why such back propagation formula (actually its conjugate) is utilized in tf customize gradient, I have no specific references. I am sure it is true since I have contributed gradients for some opera

[2020-03-03 14:15] nbecker commented on #33030
I've been struggling with apparent memory leak using tf 2.1.
My code is training on variable length segments.  These are grouped into
equal length batches and provided by a generator to model.fit.

Today I tested tf-nightly
tf_nightly-2.2.0.dev20200303

It appears memory usage is a lot better.

[2020-03-03 14:18] vcarpani commented on #35150
Bump?

[2020-03-03 14:24] GerScau commented on #36950
got that, thank you

[2020-03-03 14:24] #36950 closed

[2020-03-03 14:29] sowo commented on #37160
@ravikyram

We were able to reproduce the issue with random data as generated by the referenced notebook.
Here is the colab link: https://colab.research.google.com/drive/1HG9d33o0h4e-f2U1ktaoqAirtj_FBdJe

This example crashed in epoch 863 with the same error shown in the OP.

[2020-03-03 14:39] paokuwansui commented on #36794
import tensorflow as tf
@tf.function
def converge_to_2(n_iters):
    total = tf.constant(0.)
    increment = tf.constant(1.)
    for _ in range(n_iters):
        total +=increment
        increment /= 2.0
    return total
print(converge_to_2(20))

[2020-03-03 14:47] paokuwansui commented on #36794
Yes, this problem is still unresolved
My system is manjaro
tensorflow == 2.1.0

Source code：
import tensorflow as tf
@tf.function
def converge_to_2(n_iters):
  total = tf.constant(0.)
  increment = tf.constant(1.)
  for _ in range(n_iters):
    total +=increment
    increment /= 2.0
  return total
print(converge_to_2(20))

[2020-03-03 15:21] ccurro commented on #23050
@netanel-s

At a glance, your conditional looks like it would produce the correct behavior. Happy testing :smile:

Thanks for checking it out :slightly_smiling_face:

[2020-03-03 15:24] jonyvp commented on #36477
I've tested the nightly docker image, but I still get the error: tensorflow/tensorflow:nightly-gpu-py3

[code]

[2020-03-03 15:37] Richard-Yang-Bose commented on #37102
@freedomtan Thanks again for the insight and appreciate all the great work!

[2020-03-03 15:44] jashshah commented on #36895
For confidentiality reasons I can't share the csv or the ckpt files but I can share with you the code and I can explain the logic to you.

[code]

This code simply reads a csv file where one column contains the paths to the numpy arrays whose shape is (128, 128, 50) and other column contains a label for the said numpy file in one-hot encoded string such as '[1, 0, 0]' or '[0, 0, 1']. If it is also

[2020-03-03 15:47] martinwicke commented on #37183
Great! It seems you have created all you need. What is this issue about?

[2020-03-03 15:55] ngc92 commented on #37228
yes, the example from the nightly docs works. The point about the `shapes` argument documented as being a dict still stands, though.

[2020-03-03 15:55] cappittall opened #37261 "Giving example on website has no model.predict examples"
First of all, you have a great website to understand the Tensorflow library. I am a newbie. And want to understand the point is: I go through the examples. Except for basic image classification, there is no example : how to feed my own data wich has no label. And I want to get predictions of my own data. example :   https://stackoverflow.com/questions/60389558/how-to-feed-my-own-data-and-evaluate-

[2020-03-03 15:58] rafaelmarconiramos commented on #37243
My step-by-step:

1) Convert the segmentation masks

python ./remove_gt_colormap.py \
  --original_gt_folder="${SEG_FOLDER}" \
  --output_dir="${SEMANTIC_SEG_FOLDER}"
SEG_FOLDER -> the original mask images

2) Create the tfrecord files
(I reused the  PASCAL example)

python ./build_voc2012_data.py \
  --image_folder="${IMAGE_FOLDER}" \
  --semantic_segmentation_folder="${SEMANTIC_SEG_FOLDER}" \

[2020-03-03 16:11] pchr8 commented on #26811
It's related to #36650, see especially the last comment: https://github.com/tensorflow/tensorflow/issues/36650#issuecomment-585517731

[2020-03-03 16:11] Riccorl commented on #36831
At the moment it's not an issue, I'll close it. I'll open it if I get this error again. Thank you.

[2020-03-03 16:11] jsimsa commented on #34346
Adding support for running arbitrary Python code in TPU workloads is a non-trivial feature request that requires changes to both the Python and C++ runtime. We are actively working towards making this work.

To support ImageDataGenerator (or any other Python generator with Keras) on TPUs, the following needs to happen: the TPU program is split between 1) a TPU "coordinator" task which has a Python

[2020-03-03 16:11] #36831 closed

[2020-03-03 16:23] masumkmu opened #37262 "tensorflow:Saver not created because there are no variables in the graph to restore"
I am a new bee trying to learn Tensorflow from this[ site ](https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/install.html#test-tf-models).
After all installation when I run:
`(tensorflow1) C:\tensorflow1\models\research\object_detection> jupyter notebook object_detection_tutorial.ipynb`
I got this message: "tensorflow:Saver not created because there are no variables in the

[2020-03-03 16:32] impjdi commented on #37102
That error message `Dimension can not be reduced to linear.` is printed at `//tensorflow/lite/delegates/gpu/common/model_builder.cc`.  Not sure why it's trying to use `SetAllDimensions<Linear>`.  Can you attach the TFLite model?

[2020-03-03 16:35] najibghadri opened #37263 "LOW GPU HIGH CPU :("
Hello!
I am using Tensorflow on Docker, Ubuntu.
I have tried many tensorflow docker versions, tried different drivers, tried everything.:

## Sys info
-  Linux 5.3.0-40-generic 18.04.1 Ubuntu x86_64
- Docker 19.03.6, nvdia-smi works, I have all packagages needed
- Tensorflow Docker versions I tried (in some of the the GPU didn't even get recognized..):
  - latest-gpu-jupyter (Py2, this works okay,

[2020-03-03 16:40] failure-to-thrive opened #37264 "tf.name_scope does not obey its own documented rules"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS (GNU/Linux 4.14.137+ x86_64)
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.1.0-0-ge5bf8de410
- Python version: 3.6.9 (default, Nov  7 2019, 10:

[2020-03-03 16:45] CleanPegasus commented on #37183
I'm hoping to add this to tensorboard as my G-soc project. Is it possible?

[2020-03-03 16:52] sandeepmcr opened #37265 "Tensorflow import issue after new install ImportError: DLL load failed: The specified module could not be found."
Python 3.7.6 (tags/v3.7.6:43364a7ae0, Dec 19 2019, 00:42:30) [MSC v.1916 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "C:\Python37\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Python37\lib\sit

[2020-03-03 16:53] martinwicke commented on #37183
You should file an issue at tensorflow/tensorboard.

Since you already have this up and running, it's not entirely clear to me
what "adding it to TensorBoard" would entail. But you can clarify there.

[2020-03-03 17:00] Richard-Yang-Bose commented on #37102
here's the model (fp16):
[dummy_model.tflite](https://drive.google.com/file/d/1383fCIA0-Uhlmbo8zR16KW3C6FYDX5un/view?usp=sharing)

[2020-03-03 17:05] jpatts commented on #37240
@lc0 I gave an example at the top of this issue showing what I’m trying to do. To use a configuration dictionary, I need two mandatory JSON parameters, “class_name” and “config”. This can be seen in the code section I linked above. However, when I do this, the “class_name” is used for the initialization and “config” is used as function inputs. The “config” should be setting “class_name” parameter

[2020-03-03 17:11] Chasvortex commented on #35925
Also struggling with this! Any workarounds?

[2020-03-03 17:20] CleanPegasus commented on #37183
Thank you!

[2020-03-03 17:20] #37183 closed

[2020-03-03 17:27] ismael-elatifi opened #37266 "Dataset is not cached after model.predict() call (issue present in TF2.0.0 but not in TF2.1.0)"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): **NO**
- OS Pl

[2020-03-03 17:35] steven807 commented on #36866
Sorry, I didn't realize you were waiting a response.  I just tried running the converter (from the command line) as:
`tflite_convert --output_file=/tmp/foo.tflite --keras_model_file=model.hdf5 --target_ops=`_options_
with _options_ as all three recommended possibilities:

* TFLITE_BUILTINS
* TFLITE_BUILTINS,SELECT_TF_OPS
* SELECT_TF_OPS

and got the same result in each case:
`Some of the operators

[2020-03-03 17:47] jvishnuvardhan commented on #36072
@liuxingbaoyu Can you please follow the suggestion [here](https://github.com/tensorflow/tensorflow/issues/35107#issuecomment-592120998) and let us know whether it resolved for you or not. Thanks!

[2020-03-03 18:05] jvishnuvardhan commented on #32477
@mshlis Is this still an issue? I am not able to reproduce the issue with `tf-nightly`. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/18aab600662fbcf67620aa4844bd1abd/32477.ipynb). Thanks!

Please close the issue if it was already resolved for you. Thanks!

[2020-03-03 18:09] jvishnuvardhan commented on #35107
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Thanks!

[2020-03-03 18:18] karimnosseir commented on #37238
It is referenced as Logistic in the schema

[2020-03-03 18:18] #37238 closed

[2020-03-03 18:25] jdduke commented on #21526
If you just use `tf.lite.OpsSet.SELECT_TF_OPS` does it work? Also note that SELECT_TF_OPS are general incompatible with quantized models.

[2020-03-03 18:31] av8ramit commented on #37235
Hi @seddy unfortunately this is not realistically supportable. `manylinux1` packages require being built on a system or toolchain on [CentOS 5](https://www.python.org/dev/peps/pep-0513/#id40).

We did a lot of work to make packages `manylinux2010` compliant and that packaging protocol is already 10 years old. We are in talks with Python and the externally community on eventually adopting `manylinu

[2020-03-03 18:31] #37235 closed

[2020-03-03 18:33] nscotto commented on #36979
Yes, ashutosh1919 is right, it's because `Dataset.map` passes `Tensor` instead of `EagerTensor`, thus I need to wrap my code inside a `tf.py_function` if I need to convert to numpy (and obviously reducing the performances).
As a suggestion I think the documentation could mention this in order to make Tensorflow more accessible for newcomers.

[2020-03-03 18:41] awrgold commented on #24828
So I followed this entire thread, and still have issues.

- Windows 10 (v1903 - build 18362.657)
- GTX 2060 (NVIDIA driver 442.50)
- Conda venv
- Jupyter Notebook
- Python 3.7
- TensorFlow 2.1
- CUDA: 10.2
- cuDNN: 7.6.5

I've tried all of the above, and I can avoid this error when I don't have TensorFlow-GPU installed in my conda venv, but when I install TensorFlow-GPU, the problem arises again.

[2020-03-03 18:47] foxik commented on #37252
I believe this is caused by caching which `convert_to_eager_tensor` performs. Notably look at https://github.com/tensorflow/tensorflow/blob/7072568ed6b735e347fb87bc84a2b83daf806e3f/tensorflow/python/framework/constant_op.py#L68-L72 which mentions that some values can be cached.

In the C++ code, https://github.com/tensorflow/tensorflow/blob/7072568ed6b735e347fb87bc84a2b83daf806e3f/tensorflow/pytho

[2020-03-03 18:48] av8ramit commented on #36945
Unrelated, I see `_pywrap_tfe.so` in your directory listing, so the file is there.

Unfortunately I'm out of potential solutions. :( I'll keep looking around for Mac shared library issues to see if something can work.

I'll keep this bug open in the event someone else ran into this issue and resolved it. Sorry I was unable to help.

[2020-03-03 18:56] jvishnuvardhan commented on #37250
@padoremu I was able to reproduce the issue with `tf-nightly==2.2.0-dev20200228`. However, it looks like this was resolved recently. With the recently `tf-nightly` (!pip install tf-nightly==2.2.0-dev20200303), I was not able to reproduce the issue. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/31e9ae78106e740000deae010a8c4b30/37250.ipynb). Thanks!

I am closing

[2020-03-03 18:56] #37250 closed

[2020-03-03 19:03] purvang-ai opened #37268 "Increased Inference time after doing optimization."
Hello,

I am trying to get an optimized graph by doing quantization and removing redundant nodes from frozen_graph.pb.  os features are

os features:
ubuntu 16.0.4 LTS
nvidia driver version = Driver Version: 440.33.01
cuda version = 10
cuDNN version = 7.4
tensorflow = 1.14.1 (built from source with cuda and tensorRT support)
GPU = NVIDIA Corporation GV100GL [Tesla V100 SXM2 16GB]
Python version: 3

[2020-03-03 19:07] foxik commented on #36164
I believe this may be caused by caching which `convert_to_eager_tensor` performs. Notably look at https://github.com/tensorflow/tensorflow/blob/7072568ed6b735e347fb87bc84a2b83daf806e3f/tensorflow/python/framework/constant_op.py#L68-L72 which mentions that some values can be cached.

In the C++ code, https://github.com/tensorflow/tensorflow/blob/7072568ed6b735e347fb87bc84a2b83daf806e3f/tensorflow/p

[2020-03-03 19:08] foxik commented on #36034
I believe this may be caused by caching which `convert_to_eager_tensor` performs. Notably look at https://github.com/tensorflow/tensorflow/blob/7072568ed6b735e347fb87bc84a2b83daf806e3f/tensorflow/python/framework/constant_op.py#L68-L72 which mentions that some values can be cached.

In the C++ code, https://github.com/tensorflow/tensorflow/blob/7072568ed6b735e347fb87bc84a2b83daf806e3f/tensorflow/p

[2020-03-03 19:10] jpatts commented on #37240
This is the block of code where this is happening.
[code]
The way I send the dictionary, I am being put down the "config holds the kwargs of the function" path. I think I want to be going down the "from_config" path, but don't know how to do so.

[2020-03-03 19:19] jpatts commented on #37240
[This](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/losses.py#L148) is the "from_config" method for the loss class.
[code]
This is confusing, as `cls(**cls_config)` and `cls.from_config(cls_config)` end up being the same thing...

[2020-03-03 19:20] Mathisco-01 commented on #35133
I know #36523 is still open and waiting for review, but I just wanted to bump.

[2020-03-03 19:23] rudraxx opened #37269 "tf.keras.utils.get_file extraction of zip not working when fname to a full path is used on Windows"
I am following the tensorflow image classification tutorial: https://www.tensorflow.org/tutorials/images/classification

I am unable to unzip the downloaded folder when I use a full path to a location as opposed to using just a fname as shown in the example on Windows. Have not tried on Linux, so don't know if it exists on that platform.

This is my code:
[code]
I see the cats_and_dogs.zip folder

[2020-03-03 19:28] edugp commented on #28007
is there a plan to fix this or a suggested workaround?

[2020-03-03 19:43] ujjwal-ai opened #37272 "tf.estimator.SummarySaverHook should support native V2 symbols."
**System information**
- TensorFlow version (you are using): 2.1
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
At present when specifying `tf.estimator.SummarySaverHook` in `tf.estimator.EstimatorSpec` when writing a custom `model_fn`, one is bound to use symbols from `tf.compat.v1`.

This is because, `tf.estimator.SummarySaverHook` need

[2020-03-03 19:48] diesendruck commented on #28007
I am also wondering...

[2020-03-03 20:01] netw0rkf10w commented on #33459
Hmm, that's bad news...

This is exactly what @CNOCycle did. @qlzh727 Would you mind sharing your eval code so that we can check the weights again on our side?

[2020-03-03 20:24] anthonyatp opened #37273 "Can't restore checkpoint! - ValueError: Tensor's shape is not compatible with supplied shape"
**System information**
- OS Platform and Distribution: Google AI Platform
- TensorFlow version: v2.0
- Python version: v3.*
- Machine type: 16 vCPUs, 30 GB RAM
- GPU: 1x NVIDIA Tesla K80

I am training a model to caption images and have mostly used this tutorial: https://www.tensorflow.org/tutorials/text/image_captioning#download_and_prepare_the_ms-coco_dataset

The only thing that is different fr

[2020-03-03 20:30] jvishnuvardhan commented on #34644
@optiluca This was resolved in the recently `tf-nightly`. I am not able to reproduce the issue with recent `tf-nightly`. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/7bde0bf225d272e883240afe5f7bf62f/34644.ipynb). Thank!

I am closing this issue as it was resolved. Please feel free to reopen if the issue didn't resolve for you.  Thanks!

[2020-03-03 20:30] #34644 closed

[2020-03-03 20:39] Artaches commented on #37110
@terryheo I'm not sure what your suggestion for me to try is. Could you please clarify what you'd like me to try with exact steps I need to do?

[2020-03-03 20:43] jvishnuvardhan commented on #33646
I am closing this issue as it was resolved. Please feel free to reopen if the issue didn't resolve for you. Thanks!

[2020-03-03 20:43] #33646 closed

[2020-03-03 20:43] czabo opened #37274 "General discussion of tf.image"
Hi,

I was thinking about applying for the GSoC for the topic of expandin tf.image (Adding and standardizing image processing operations in tf.image). It is said that it involves adding operations present in other image processing libraries. I am thinking operations that for example OpenCV has.

I was looking for example at rotating an image, which is right now just limited to rotate by multiples

[2020-03-03 20:55] pallyndr commented on #22794
Seems to be a problem with TF2.1.

Downgrading to TF2.0 worked for me: pip install tensorflow==2.0

[2020-03-03 21:08] jvishnuvardhan commented on #34312
@adrigrillo Looks like this was resolved in recent `tf-nightly`. I was not able to reproduce the issue. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/3bd6555e2cbc31bfba51a7f04dc3b199/load-model-bug-tf2-0.ipynb).

Please close the issue if it was resolved for you. Thanks!

[2020-03-03 21:09] nickfrosst commented on #36968
+1 to this. would be great to know how to make use of both keras layers and the gradient checkpointing functionality.

[2020-03-03 21:15] jvishnuvardhan commented on #31300
@nguerinjr  Looks like this was resolved in recent `tf-nightly`. I was not able to reproduce the issue. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/386c2ee4d3b2ec7268bc8f576f2e7b56/31300.ipynb).

Please close the issue if it was resolved for you. Thanks!

[2020-03-03 21:23] davisyoshida commented on #36981
@BinyanHu if you're interested, I've written a simple gradient checkpointing decorator [here](https://github.com/davisyoshida/tf2-gradient-checkpointing)

[2020-03-03 21:23] davisyoshida commented on #30418
@mpafla I've written a simple gradient checkpointing decorator [here](https://github.com/davisyoshida/tf2-gradient-checkpointing)

[2020-03-03 21:24] ymodak commented on #36542
Have you considered using [tensorboard debugger](https://github.com/tensorflow/tensorboard/tree/master/tensorboard/plugins/debugger#the-debugger-dashboard) for this case?

[2020-03-03 21:46] ymodak commented on #36782
Apologies for the delay in response. Is this still an issue? You may refer this [thread](https://github.com/tensorflow/tensorflow/issues/34722)

[2020-03-03 21:52] mathemakitten commented on #36981
@davisyoshida Thanks for doing this! I've been looking at implementing the same thing; will test out yours.

[2020-03-03 21:56] uchua commented on #24328
Just started encountering this issue when using TensorFlow 2.0.0 and 2.1.0 in SageMaker. Is there still no fix for this?

[2020-03-03 21:56] jvishnuvardhan commented on #33601
@dsmic Is this still an issue? When I used recent `tf-nightly`, I don't see any significant difference between running the `fit_generator` with loaded model or with direct model. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/aa468f554163a4c0c340dc924bcc2000/untitled849.ipynb). I have also imported `time` to show computational time with and without loading model.

[2020-03-03 22:06] bioothod commented on #36542
Hmm, how can it help in catching segmentation fault?

Let me try to export the whole pipeline for this, it should not be hard to reproduce when everything is in place

[2020-03-03 22:09] davisyoshida commented on #36981
@mathemakitten Happy to help! Do let me know if you run into any issues.

[2020-03-03 22:09] jvishnuvardhan commented on #34211
@yanndupis I cannot reproduce the issue with recent `tf-nightly`. Can you please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/f5204a88549ae0746a4b9d2287de8017/untitled848.ipynb). I ran the first cell to save the model, then restarted colab's runtime, then ran second cell to load the model and execute `model.fit`.

Please close the issue if this was resolved for you. T

[2020-03-03 22:23] HadiSDev commented on #37185
Here is the colab link: https://colab.research.google.com/drive/19p1PTKnje-tldQfYCTPimBT99bYK1y7N

It is working on colab but not on my own pc.

[2020-03-03 22:23] HadiSDev commented on #37185
Exact same code and the same pictures

[2020-03-03 22:24] jvishnuvardhan commented on #32488
@datitran Can you please provide a simple standalone code to reproduce the issue? Thanks!

[2020-03-03 22:27] mihaimaruseac commented on #22794
@pallyndr this is because you need to download the newest MSVC redistributable for 2.1 as mentioned in https://github.com/tensorflow/tensorflow/issues/22794#issuecomment-573297027

Unfortunately as people keep piling on the thread with "it works for me"/"I'm having the same issue"/"solved it by doing this other thing", the actual solution in the above comment got burried.

[2020-03-03 22:35] ymodak commented on #36024
I used [netron](https://github.com/lutzroeder/netron) to visualize your model. Please take a look.
<img width="791" alt="Screen Shot 2020-03-03 at 2 34 50 PM" src="https://user-images.githubusercontent.com/42785357/75826347-2fe2f980-5d5c-11ea-857e-e04abbeaace3.png">

[2020-03-03 22:36] gowthamkpr commented on #37226
Was able to reproduce this error. Please find the gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/7f902cdbefb2cf8788475dc76ac086cc/untitled32.ipynb).

[2020-03-03 22:46] jvishnuvardhan commented on #34767
This issue still exists with `scenario 2` mentioned above. The trace with recently `tf-nightly` is as follows. This trace is for our reference. Thanks!

[code]

[2020-03-03 22:52] HadiSDev commented on #37185
Might be related to: https://github.com/tensorflow/tensorflow/issues/35030

[2020-03-03 22:59] jvishnuvardhan commented on #30892
@hartikainen Looks like this was resolved in recent `tf-nightly`. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/0612e4ebc2548bc5a06727336bf5d541/30892.ipynb). Thanks!

Please feel free to close the issue if this was resolved for you. Thanks!

[2020-03-03 23:03] mdanatg commented on #37226
I believe this is due to `RaggedTensor` not being a first-class type inside GraphDef - internally, it is represented as a [CompositeTensor](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/composite_tensor.py#L31), which in turn is lowered to a list of `Tensor`, by `tf.nest.flatten(expand_composites=True)` when the function is compiled.

When loading a saved model,

[2020-03-03 23:18] gowthamkpr commented on #37226
So, @stefanondisponibile is expecting it to be a ragged tensor but its not the case as seen in the gist.

[2020-03-03 23:24] alextp commented on #35203
To be able to override gradients use tf.custom_gradient.

We don't really support overriding these things after the fact, though, just before the model is created.

[2020-03-03 23:24] #35203 closed

[2020-03-03 23:25] ppham27 commented on #30418
I believe the tf-slim version works:

https://github.com/google-research/tf-slim/blob/a62dc893de5e46e6f2e9ec24a74b2abce026307a/tf_slim/layers/rev_block_lib.py#L465

[2020-03-03 23:27] gowthamkpr commented on #37195
@anthonyatp Please share the gist so that we can figure out where the issue was. Thanks!

[2020-03-03 23:36] bixia1 commented on #36959
From how class GPUDeviceContext manipulates its stream_ field, there should be a fixed stream associated with the field for a given GPUDeviceContext class object. Therefore, the above call for the same TRTEngineOp class object should always return the same stream. https://github.com/tensorflow/tensorflow/blob/a8ac8f901a3948a71510dedee258119ff4a77363/tensorflow/core/common_runtime/gpu_device_contex

[2020-03-03 23:37] nicholascannon1 commented on #36945
No worries, thanks for your help!

[2020-03-03 23:43] davisyoshida commented on #30418
It doesn't appear that there's a way to use that for something like a Keras layer right?

[2020-03-03 23:44] stefanondisponibile commented on #37226
@gowthamkpr yes, for what I've seen so far, and as explained by @mdanatg this difference between Ragged and normal Tensors pops up when the function gets converted to a Graph. I can't do it in Colab, but if you tried to load that servable with tf serving you would see you would have to pass two different dense Tensors in place of the Ragged Tensor.

@mdanatg thanks for the explanation! I am curren

[2020-03-03 23:54] jvishnuvardhan commented on #28111
@skydoorkai As mentioned by @tanzhenyu calling the model works. Please check the gist [here](https://colab.sandbox.google.com/gist/jvishnuvardhan/d7f73dae8cd44241cb7e83f478f0096f/untitled853.ipynb). Thanks!

Please close the issue if this was resolved for you. Thanks!

[2020-03-04 00:08] ppham27 commented on #30418
It should work fine inside a Keras layer, something like:

[code]

[2020-03-04 00:16] gowthamkpr commented on #37167
@SebastienKeroack Can you elaborate more in a detailed manner as I am having a hard time to understand what you are trying to convey. Thanks!

[2020-03-04 00:16] matthewp14 commented on #37092
@gowthamkpr I was able to figure this out and modify my code accordingly. I am closing this issue.

[2020-03-04 00:16] #37092 closed

[2020-03-04 00:42] ymodak commented on #31318
This is fixed with tf-nightly version '2.2.0-dev20200303'. Thanks!

[2020-03-04 00:42] #31318 closed

[2020-03-04 00:45] pykeras commented on #36072
@liuxingbaoyu
I get the solution for my problem at this https://github.com/tensorflow/tensorflow/issues/37216#issue-573656418

 for this issue maybe it helps, found that my **GPU** and **SSD** get too hot (something around 80), so decide to change the system from `AirCoo`l to `WaterCoo`l and changing the `thermal paste`

 previously on that issue, I report changing OS on the same hardware helps, b

[2020-03-04 00:52] gowthamkpr commented on #36998
I have ran both the codes(with and without @tf.function) on colab with tf-nightly but didn't find much of a difference in accuracy. Please find my gist([with tf.function](https://colab.sandbox.google.com/gist/gowthamkpr/7f6d5051e5b1cbfebeab3ab962ec6017/with_tf_function.ipynb) and [without tf.function](https://colab.sandbox.google.com/gist/gowthamkpr/1337b792dedc5305fa9339dcda8b1a5c/without_tf_func

[2020-03-04 00:53] Ir1d commented on #33820
I think this could be closed since #37090 is merged ?

[2020-03-04 00:54] gowthamkpr commented on #36890
Closing this issue as it has been resolved. Please add additional comments and we can open this issue again. Thanks!

[2020-03-04 00:54] #36890 closed

[2020-03-04 01:12] ChaooMa commented on #32376
@jsimsa
How to avoid this problem? Thank you.

[2020-03-04 01:13] jsimsa commented on #32376
Use a smaller buffer size.

[2020-03-04 01:15] gowthamkpr commented on #36801
I am unable to reproduce your error @nbro. I am going to close this issue now as it not a bug. Please post your question in stackoverflow. Thanks!

[2020-03-04 01:15] SebastienKeroack commented on #37167
The example containing the bug should work logically as example number 2. No?

[2020-03-04 01:20] gowthamkpr commented on #36680
@anirbankonar123 Please respond to the comment above. Thanks!

[2020-03-04 01:23] ChaooMa commented on #32376
Thanks a lot!
You're answering so quickly, ths!

[2020-03-04 01:27] #36750 closed

[2020-03-04 01:33] gowthamkpr commented on #36416
@masoudnick As the error implies, this is an issue with reading your own dataset's tfrecords. You should first check the integrity of your TFRecords (e.g. see if you can extract the image data from tfrecord -> image tensor -> reading image out in numpy format to verify).

[2020-03-04 01:40] pavanky commented on #36717
@preethivenkatesh any updates?

[2020-03-04 01:40] allenlavoie commented on #35574
FYI https://github.com/tensorflow/tensorflow/pull/36388 is in if you want to try doing something similar for DBFS. I'm probably not in the best position to test fixes for DBFS.

[2020-03-04 02:10] TianHongZXY commented on #32932
Is this problem solved?

[2020-03-04 02:17] HuaYZhao opened #37278 "How can I share the weights between two different dilations cnn layer in tensorflow2.0"
How can I share the weights between two different dilations cnn layer in tensorflow2.0
In tensorflow1.x, I can just use the tf.variable_scope with the tf.AUTO_REUSE

[2020-03-04 02:44] shan224 commented on #35721
I have a similar issue but only when  importing from vs code
I can import tensorflow as tf
However when importing tensorflow.keras.layers I get
the dll error

When importing from python repl I have no issues
importing tensorflow.keras.layers

[2020-03-04 02:45] TianHongZXY commented on #31204
Is this problem solved?

[2020-03-04 03:13] wangyiwei0306 commented on #25834
I'm very happy to tell you that this is not an problem now.

[2020-03-04 03:23] nbro commented on #36801
@gowthamkpr How do you know it's not a bug?

[2020-03-04 03:45] lingyue328 commented on #31701
Actually, reboot windows solved this issue

[2020-03-04 03:47] ehennis commented on #37207
I spun up a Juypter notebook and it ran without issues.

[2020-03-04 03:47] Ir1d commented on #37075
It seems this could be closes since #36817 is merged

[2020-03-04 04:29] edloper commented on #37226
Loaded model `signatures` currently flatten any structured input into a flat list of tensors.  This is true for RaggedTensor, but also for nested structure, such as a dictionary of tensors.  E.g., if we define a module whose function takes and returns a dict of tensors, then the model signature inputs & outputs are currently flat lists of tensors:

[code]

Hopefully we can improve on this, but the

[2020-03-04 04:38] ravikyram commented on #37265
@sandeepmcr

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the [latest microsoft visual c++ redistributable from here.](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads)
.Also, please f

[2020-03-04 04:39] ayushmankumar7 commented on #37075
@Ir1d  I was told that many users use windows where pip3 is not required and python3 too. For them pip and python do the work so i closed my PR. If you suggest me to do the changes, i'll do it.

[2020-03-04 04:42] Ir1d commented on #37075
@aymericdamien oops, I thought the PR was merged. In my opinion there are many cases where python is default aliased to python3, so I think there's no need to explicitly speficy to use python3 instead of python..

[2020-03-04 04:45] gadagashwini commented on #37261
@cappittall, Please go through this [link](https://www.tensorflow.org/tutorials/load_data/text) to load your own text data. Thanks!

[2020-03-04 04:50] ayushmankumar7 commented on #37075
Yes. So you may consider closing this issue. Could you suggest me some issues to work on? I am a GSOC 2020 aspirant and looking forward to work with Tensorflow.

[2020-03-04 04:52] Ir1d commented on #37075
Sorry I can't help you. I'm also interested in GSOC 2020 and now wandering around in the issues.

[2020-03-04 04:59] agarwal-ashish commented on #36227
It looks like you are computing jacobian on an output of size 500. Without pfor, it would translate to 500 evaluations of gradient, so a slowdown of 500x is as expected. It looks like pfor vectorization provides a 5x speedup on top of an iterative strategy which also sounds in line with expectation. So I'd say that this is working as intended.

As an aside, If you plan on using a batch size larger

[2020-03-04 05:10] ReneWu1117 commented on #37079
Your question reminds me of a project. The link is [here](https://github.com/zhaoyingjun/chatbot). I hope it's helpful.

[2020-03-04 05:18] #37232 closed

[2020-03-04 05:18] pranathibl commented on #37232
Thanks for the info

[2020-03-04 05:24] meetrainier commented on #14008
in tensorflow 2.0.0 ?

[2020-03-04 05:29] pranathibl commented on #37154
If i use pretrained tflite models from tensorflow lite website . How to know what kind of conversion is done to RGB values ? Can I use mean = 127.5 and std = 127.5 for all those models.

[2020-03-04 05:35] PonraJS-21 opened #37280 "How to update saved model"
I would like to update my pretrained mode, which means the data of model should exist and new data to add.

[2020-03-04 05:42] abhinabasaha commented on #37156
Solved the problem:

1. Uninstalled anaconda (manually had to delete some of its files from C:\Users\Programdata)
2. Reinstalled it.
3. Updated anaconda ( conda update anaconda) and anaconda navigator
4. I had previously installed cuda 10.2
4. Installed tensorflow (pip install tensorflow and pip install tensorflow-gpu)
5. Successfully imported tensorflow, but couldnot have gpu access, error

[2020-03-04 05:43] #37156 closed

[2020-03-04 05:57] wuhy08 commented on #33397
A PR is created for this issue: https://github.com/tensorflow/tensorflow/pull/37279. Will wait for approval.

[2020-03-04 06:01] agarwal-ashish commented on #35719
MatrixSolve is supported at head but not in 1.15. Can you use a more recent version of TF, using compat.v1 if needed.?

[2020-03-04 06:12] carterkd commented on #35719
Yes, I noticed a bit ago this has been updated since my original post, but I forgot to close this. Sorry about that, and thank you!

[2020-03-04 06:12] #35719 closed

[2020-03-04 06:13] freedomtan commented on #37154
As far as I know, you have to check how the model is trained. So far it seems the classification models at the [TFLite hosted models](https://www.tensorflow.org/lite/guide/hosted_models) page are trained with inception processing, but I am not sure if that be will always true.

[2020-03-04 06:18] Saduf2019 commented on #37257
@Questdream
Could you please refer to [this comment](https://github.com/tensorflow/tensorflow/issues/36781#issuecomment-593611624) on similar issue faced and let us know if that helps you resolve the issue.

[2020-03-04 06:19] cjtang commented on #33397
Great, I also added my version of INT8 Leaky_RELU implementation, but the result is always not good. Now I know that is because model doesn't restrict the same scale for input and output. Thank you for pointing that out. Let's wait for approval.

[2020-03-04 06:37] 0xSYNKEN opened #37282 "Android demo application is crushed when I import my .pb file."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04 / Android Studio 3.5.3
- TensorFlow installed from (source or binary): pip install tensorflow-gpu
- TensorFlow version (or github SHA if from source): Tensorflow 1.14.0

http://seangtkelley.me/blog/2017/12/23/using-custom-yolov2-model-on-android

I tried this link to use YOLO v2 model about android

[2020-03-04 06:42] gadagashwini commented on #37207
@ehennis, Looks like running inside Visual studio 2017 missing some Tensorflow dependencies or it might installed outside the environment.
Are you happy to close this issue. Thanks!

[2020-03-04 06:44] ravikyram commented on #37280
@PonraJS-21
Can you please go through the [link ](https://www.tensorflow.org/tutorials/images/transfer_learning)and see if it helps you.

This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2020-03-04 06:47] liuxingbaoyu commented on #36072
@jvishnuvardhan
Thank you for your attention! But this doesn't seem to solve my problem. I think this should be a bug, 0% gpu usage, and the endless loop occupies two cpu cores.

[2020-03-04 06:47] OmerLiberman commented on #36332
Have you fixed the bug?

[2020-03-04 06:48] luozhouyang commented on #36697
same issue!

[2020-03-04 06:50] liuxingbaoyu commented on #36072
@pykeras
Thank you very much!

[2020-03-04 07:02] lizhen2017 opened #37283 "How to register a custom op in Python API？"
I just try to implement a zero_out op in tflite, and minimal project load the converted tflite model succesfully, but in python, it failed? How to register a custom op in Python API？
Thanks for your help!

[2020-03-04 07:15] Ir1d commented on #31279
Hi @jvishnuvardhan this is not a bug, the link is correct because `tuple_v2` has different param order than `tuple``

[2020-03-04 07:40] Ir1d opened #37284 "Cert error for https://download.tensorflow.org/"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2020-03-04 07:46] bilalsoomro commented on #35632
Hi. I also have a basic CNN model that is crashing with a similar error only when using GPU delegate (Runs fine on CPU and with NNAPI Delegate).

Strangely it only crashes on the Samsung S9 (Android 10) with a Exynos 9810. It doesn't crash on any other device that I have tested (Kirin and Snapdragon). I am using the Java TFLite API.

Here's a link to the model: [link](https://drive.google.com/file

[2020-03-04 07:52] eclipse-du commented on #36441
So it means TF 1.15 can not packaged by pyinstaller right now? i face the same problem, too.

[2020-03-04 07:58] chris0914 commented on #37233
Thanks @jelmd, this resolves the issue!

[2020-03-04 07:58] #37233 closed

[2020-03-04 07:59] 0xSYNKEN commented on #37282
ps.) My android version & android studio sdk version is 9.0

[2020-03-04 08:07] HiIcy commented on #21714
@gargn ,hello ,the link `here` is 404,can you resend?

[2020-03-04 08:07] nerdaliciousCH commented on #35632
@impjdi
No resizing tensors in my code :(

[2020-03-04 08:09] Tylersuard commented on #34851
Hello!  I'm trying to use Stylegan with tensorflow and I got this same error.  I have 2 GPUs.  Can you explain to me how you set it to GPU1 and fixed the issue?

[2020-03-04 08:14] Saduf2019 commented on #37273
@anthonyatp

Could you please share a simple standalone indented code[with all dependencies] for me to replicate the issue faced by you in my local.

[2020-03-04 08:19] w4-jungyeol commented on #35911
I also have encountered the same issue. Keras model.fit needs at least `steps_per_epoch * epochs` batches without calling on_epoch_end. It sounds not-conformant with the specification.

[2020-03-04 08:30] uddmorningsun commented on #36896
@ravikyram @ymodak When I update repo today, I found `third_party/toolchains/cpus/arm/` directory has been updated in master to support new bazel syntax:
[code]
So, I refer to it and try again, I don't know how to resolve it above new error:
[code]

[2020-03-04 08:32] gadagashwini commented on #37227
I could replicate the issue with Tensorflow 2.1 on colab.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/216cc11e3d5417acb0ceeb3af8c50ead/untitled414.ipynb). Thanks!

[2020-03-04 08:39] cappittall commented on #37261
@gadagashwini Thank you for the reply. I am aware of this. I study and trained my own data. Built the model. Now, I need only the prediction of my new data. How to feed new data to the model.

[2020-03-04 08:39] pandrey-fr commented on #36998
@gowthamkpr Thank you for running the tests and sharing the gists :)
Interestingly, the accuracy seems slightly (but significantly) lower with `tf.function`, but I think this is actually due to the custom `Model` rather than to the decorator; more precisely, in the custom model, weights initialization does not follow the default scheme used in the `tf.keras.layers.Dense` layers, which may cause th

[2020-03-04 08:46] JC1DA commented on #34429
Somehow, with new cuda, you need to set TF_FORCE_GPU_ALLOW_GROWTH=true to solve the "failed to load CuDNN issue".

[2020-03-04 08:48] pandrey-fr commented on #37278
Hi,
One of the easiest ways to share weights is to actually call the same `Layer` instance twice, _i.e._ running `cnn_layer(cnn_layer(inputs))` is strictly similar to using two similarly-specified layers with shared weights.
Of course, this may be more or less easy to do depending on your code and context. If you want better advice, please share some details and example code - although to be hones

[2020-03-04 08:53] hnuhchen opened #37285 "modify input shape from [?,?,?,3] to [1,640,640,3]"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2020-03-04 08:53] tianhuat opened #37286 "ModuleNotFoundError: No module named 'tensorflow_datasets'"
I try to run

    import tensorflow_datasets as tfds

but got the following error

    ---------------------------------------------------------------------------
    ModuleNotFoundError                       Traceback (most recent call last)
    <ipython-input-1-46a8a2031c9c> in <module>
    ----> 1 import tensorflow_datasets as tfds

    ModuleNotFoundError: No module named 'tensorflow_datasets'

[2020-03-04 08:57] 2696120622 commented on #37003
@haozha111
I have update my tf to 2.1. However, I still encountered the same error:

`RuntimeError: Encountered unresolved custom op: TensorListFromTensor.Node number 892 (TensorListFromTensor) failed to prepare`.
According` to your comment:

Maybe I need the new MLIR-based TF Lite converter. How to get this new MLIR-based TF Lite converter?
My project is here.

You can train one model with train_

[2020-03-04 08:59] 2696120622 commented on #28485
@haozha111
I have update my tf to 2.1. However, I still encountered the same error:

`RuntimeError: Encountered unresolved custom op: TensorListFromTensor.Node number 892 (TensorListFromTensor) failed to prepare`.
According` to your comment:

Maybe I need the new MLIR-based TF Lite converter. How to get this new MLIR-based TF Lite converter?
My project is here.

You can train one model with train_

[2020-03-04 09:00] gadagashwini commented on #37196
I was able to replicate the issue Tf 2.1.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/d029a1da140e81b7b510335a0acf23db/untitled.ipynb). Thanks!

[2020-03-04 09:00] novomesk commented on #37217
I recommend to use https://github.com/AOMediaCodec/libavif
I use libavif in my software to open/save images in AVIF format.

[2020-03-04 09:04] ravikyram commented on #37263
@najibghadri

Thanks for reporting the issue. Looks like code is incomplete. Request you to provide colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-03-04 09:07] HuaYZhao commented on #37278
Hello, thank you for your reply!
[code]

`atro_cnn1`  and `atro_cnn2`  are the same except for `dilation_rate`. In dilated convolution, `dilation_rate` does not affect the parameters of the layer. So I want `atro_cnn1`  and `atro_cnn2` to be able to use the same parameter. But in tf2, it seems that I can't get past reuse and change the `dilation_rate` of that object.

[2020-03-04 09:09] #37286 closed

[2020-03-04 09:09] aniketbote commented on #37104
Sorry about that.
[Colab_link](https://colab.research.google.com/drive/1zBAVrau6tmShvA7yo75XgV9DmblDi4GP)
This is the correct link.

[2020-03-04 09:11] tianhuat commented on #37286
Not an issue as jupyterlab does not pickup the virtual environment. We need to set according to the following: https://janakiev.com/blog/jupyter-virtual-envs/

[2020-03-04 09:14] GeorgeLiang3 commented on #37230
I think this is related to issue#15219, is there any solution for it now?

[2020-03-04 09:17] stefan-falk opened #37288 "TypeError: Saw an object that is an instance of a strict subclass of EagerTensor"
I noticed that importing `from tensorflow_core.python.framework.ops import EagerTensor` is a problem when debugging Tensorflow in eager mode.

**System information**
$ pip freeze | grep tensor
tensorboard==2.1.0
tensorflow==2.1.0
tensorflow-data-validation==0.21.2
tensorflow-datasets==2.0.0
tensorflow-estimator==2.1.0
tensorflow-metadata==0.21.1
tensorflow-serving-api==2.1.0
tensorflow-transform==

[2020-03-04 09:33] tanzhenyu commented on #35899
I just ran it. Looks like this has been fixed. Please try and verify it in tf-nightly-gpu.

[2020-03-04 09:33] #35899 closed

[2020-03-04 09:38] tanzhenyu commented on #36272
Hi @MokkeMeguru you could have another test_serialization unit test which can cover this, for example, see [this](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/losses_test.py#L166-L170)

Closing it for now. Let us know if you have other questions!

[2020-03-04 09:38] #36272 closed

[2020-03-04 09:42] Saduf2019 commented on #37264
@failure-to-thrive
I have tried to replicate your issue and observe that the error is reproducible even for single use of get_shape,please refer to the [gist](https://colab.sandbox.google.com/gist/Saduf2019/9096209a8e0752e0bb96d08a727635e7/37264.ipynb) and let us know if that helps.
please refer to this link for [usage of shape](https://www.tensorflow.org/api_docs/python/tf/shape?hl=sv)

[2020-03-04 09:42] gadagashwini commented on #37135
@AlturRang, Can you share the Tensorflow version that you are using. Thanks!

[2020-03-04 09:48] AlturRang commented on #37135
I use tensorflow 1.15.0

[2020-03-04 09:58] gadagashwini commented on #37177
@SlowMonk, I tried replicating the issue with Tf 2.0 but looks like code is incomplete to reproduce the issue. Please take a look at gist [here](https://colab.sandbox.google.com/gist/gadagashwini/be6355138fa9668e4faaf7fc25d48730/untitled415.ipynb). Thanks!

[2020-03-04 10:01] ujjwal-ai commented on #37272
#36516 is also a related issue I think.

[2020-03-04 10:05] tanzhenyu commented on #36340
Hi @fcunilim :
Thanks for reporting this. The original Keras Adam is not correct, i.e., the step changes non-deterministically, and it was fixed. The tf.keras Adam has been the correct version. It seems that in this particular case the correct version behaves worse given the learning rate, which is not surprising for GAN models. Sorry for the confusion though!

[2020-03-04 10:05] #36340 closed

[2020-03-04 10:05] ahnjaewoo opened #37289 "Unable to remove model and release GPU memory"
**System information**
- Custom code
- Ubuntu 16.04
- TensorFlow installed from source (with pip)
- TensorFlow version v2.0.0
- Python version: 3.6
- CUDA 10.0
- TITAN XP

At first, I tried to load the pre-trained transformer-base model (A) and then add additional word embeddings (dynamic vocabulary) to it. However, it doesn't work (i.e., can't add values to `tf.Variable`)
Instead, I created anoth

[2020-03-04 10:08] firas94mecha commented on #20690
after changing async to async1 i got the next error 👍 Using TensorFlow backend.
Traceback (most recent call last):
  File "C:\Users\Firas\AppData\Local\Programs\Python\Python38-32\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 18, in swig_import_helper
    fp, pathname, description = imp.find_module('_pywrap_tensorflow_internal', [dirname(__file__)])
  File "C:\Users\Fira

[2020-03-04 10:10] gadagashwini commented on #37200
@SlowMonk, Is this similar issue [#37177](https://github.com/tensorflow/tensorflow/issues/37177)?

[2020-03-04 10:12] akloss commented on #31894
I'm getting the same error on tensorflow 1.15 when using  batch normalization inside a custom RNNCell + RNN layer. The error only appears in the while loop of the rnn.

[2020-03-04 10:14] pandrey-fr commented on #37278
Thank you for clarifying!
There probably could be a simpler way, but I guess one way is to implement a custom `Layer` that takes a parent one and re-uses its weights while allowing to change some of the convolution operation's parameters. Here is a home-made implementation of the sort (I did not fully test it, let me know if it works). I tried to generalize it to both Conv1D, Conv2D and Conv3d; th

[2020-03-04 10:17] adrigrillo commented on #34312
I can confirm that the latest nightly solves the problem. Thanks.

[2020-03-04 10:17] #34312 closed

[2020-03-04 10:18] Saduf2019 commented on #37283
@lizhen2017
please refer to [this link](https://www.tensorflow.org/lite/guide/ops_custom) as example to modify as per your requirement.
In specific zero_out is available as custom op [here](https://www.tensorflow.org/guide/create_op#use_the_op_in_python)

[2020-03-04 10:20] gadagashwini commented on #37230
Could able to reproduce the issue with Tf 2.1.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/28674efbe2941bb129d5622c13892277/untitled416.ipynb). Thanks!

[2020-03-04 10:24] lxz1104 commented on #37258
Can anyone help me?

[2020-03-04 10:41] swghosh commented on #34935
Is this issue still open?

[2020-03-04 10:44] pesapower commented on #35911
I have the same problem too:

- TensorFlow 2.1.0 (installed with conda)
- Python 3.7.4
- Windows 10

[2020-03-04 10:48] swghosh commented on #37274
Hello @czabo!

I am also looking forward to applying at GSoC 2020. Replacing tf.keras.preprocessing.image.ImageDataGenerator for data augmentation op(s) using vanilla tf.image instead of SciPy based affine transformations have been extensively discussed. (https://docs.google.com/document/d/1yz2kwWsZ3wx-cObodb84a-LgHuxbTbxo53VI5yFqms8/edit) Also, there were discussions regarding complete rewrite of

[2020-03-04 10:48] HuaYZhao commented on #37278
Thank you very much for your answer. I think I've got your point, and it should be a workable approach, although it seems a bit cumbersome.
I will try to really test the feasibility of this method in my later experiments, in my scenario.
For some more complex layers (customizations), such a shared approach does not seem to be easy to implement.
As you might expect, I also think there should be som

[2020-03-04 10:51] TianHongZXY commented on #21526
If I only use`tf.lite.OpsSet.SELECT_TF_OPS` and set `converter.post_training_quantize = False`，another error reports: `RuntimeError: Regular TensorFlow ops are not supported by this interpreter. Make sure you invoke the Flex delegate before inference.Node number 0 (FlexSlice) failed to prepare.
`

[2020-03-04 10:53] anferico commented on #37157
Up

[2020-03-04 11:00] lizhen2017 commented on #37283
1.15

[2020-03-04 11:06] tanzhenyu commented on #36428
This looks like an issue that needs to be resolved regardless of the keras/tf.keras merge

[2020-03-04 11:06] lizhen2017 commented on #37283
@S

I have implemented the zero_op both in tflite and tf, and I have built the project located at tensorflow/lite/example/minimal, I loaded the tfllite model with zero_out op successfully.
And my question is how to register the zero_out op in tflite python API, because, I can't load the tflite model with zero_out op with python.

[2020-03-04 11:07] RaymondJiangkw commented on #28311
Maybe `numpy.asarray` will help.

[2020-03-04 11:10] failure-to-thrive commented on #37264
The reason why you may observe the error even after the first use - you already launched the script and haven't noticed that. You should reset the notebook. The 'scope' is in the graph and will not go away on its own.

Thanks, but my point is to demonstrate that the `tf.name_scope` doesn't work as documented. `tf.shape` has nothing to do with that. It's just for an example. You may try `print(scop

[2020-03-04 11:12] julj opened #37290 "Wrong NVIDIA driver and CUDA libs versions installed when running GPU setup instructions."
On Ubuntu 18.04, when running the instructions given [here](https://www.tensorflow.org/install/gpu#ubuntu_1804_cuda_101) the driver version installed is 440 et the CUDA version is 10.2, while the recommended versions are, respectively, 430 and 10.1.

[2020-03-04 11:18] pandrey-fr commented on #37278
I totally agree; I had to write some similarly cumbersome custom layers for some personal projects, and I really hope a better solution could be exposed or implemented by a tensorflower soon...

[2020-03-04 11:29] luozhouyang commented on #36697
I met this bug again!
The training is suddenly stop, **no errors, no exceptions, and no logs**.
<img width="1541" alt="截屏2020-03-04下午7 21 49" src="https://user-images.githubusercontent.com/34032031/75874800-73696080-5e4d-11ea-9327-9f0a3c88724c.png">
The training step is stop at `783`.

I use the `GPU7` inside a docker container. Here is the outputs of `nvidia-smi`:
<img width="753" alt="截屏2020-03-

[2020-03-04 11:31] xquyvu commented on #35934
I'm having the same problem here.

Using `from tensorflow.keras.models` throws an error, but `from keras.models ... ` doesn't

`
# Doesnt work
from tensorflow.keras.models import model_from_config
model = model_from_config(event['parameters']['model_json'])

# Work
from keras.models import model_from_config
model = model_from_config(event['parameters']['model_json'])
`

`{"class_name": "Sequential

[2020-03-04 11:35] Stealers opened #37291 "My model has tow inputs. when I load SavedModel, how to use Concretefunction?"
my model has tow inputs. when I load SavedModel, how to use Concretefunction?
model = tf.saved_model.load('./model_rec')
inference = model.signatures['serving_default']
I tried many ways, but all failed
e.g
outputs  = inference(tf.constant(image_batch,dtype=tf.float32),tf.constant(anchors_batch,dtype=tf.float32))
TypeError: Expected at most 0 positional arguments (and the rest keywords, of ['input

[2020-03-04 11:44] arruda commented on #31654
So the only solution is updating TF? that's bad since I have a older GPU and as far as I remember the newer TF are not compatible with older cuda versions... And what exactly was the problem, I'm a bit confused with your solution, the solution was to buy a new GPU? or update TF? or only by doing both?
Thanks =)

[2020-03-04 11:52] bilalsoomro commented on #33925
Facing the same issue unfortunately. The post training quantization on SSD models just doesn't work. And not all models available in the Object detection Model Zoo are quantize aware trained so can't use the older quantization method either.

[2020-03-04 11:53] amahendrakar commented on #37262
@masumkmu,

The link you have provided does not have the code
[code]
anywhere in the tutorial.

Also, I see that the tutorial is using TensorFlow 1.9, whereas you have TensorFlow 2.1 installed.

Could you please check out [this](https://github.com/tensorflow/models/blob/master/research/object_detection/object_detection_tutorial.ipynb) official tutorial from TensorFlow, which uses TensorFlow 2.x fo

[2020-03-04 12:04] arruda commented on #15057
I've seen the issue was closed, but what was the solution?
Do I have to rollback to TF1.3 to get an good performance in this situations?
Thanks =)

[2020-03-04 12:15] JiaRu2016 opened #37293 "TF2.x API Docs: example codes in `tf.Module` raise error, and fix it"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/Module

## Description of issue (what needs changing):

I extract the example codes, run it and got Error. It seems caused by inconsistant kwargs name:

[code]

output:
[code]

### Submit a pull request?

 I think just need to modify several lines to fix it:

[code]

Should I submit a PR to fix this?

[2020-03-04 12:35] amahendrakar commented on #37291
@Stealers,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-03-04 12:36] wangxiang2713 commented on #36778
I meet the same problem when calibrate some models, and succeed when calibrate other models, it seems not a cuDNN problem.

[2020-03-04 12:36] muellesi commented on #36697
@luozhouyang : Do you also use the tensorflow dataset pipline? And if so, do you also use np_function? Maybe we can find  a common factor between our cases and extract a reproduction snippet.

[2020-03-04 12:48] racinmat commented on #33425
The issue is still not resolved, @ravikyram  why has it been closed? The bug is still there.

[2020-03-04 12:48] amahendrakar commented on #37268
@purvang-ai,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-03-04 12:51] HadiSDev commented on #37185
It gets worse when I use concatenated images where it is 320px * 4 in width.

[2020-03-04 12:52] Stealers commented on #37291
@amahendrakar ,
my tensorflow version is 2.1,
model = tf.saved_model.load('./model_rec')
inference = model.signatures['serving_default']

my model has tow inputs, for one input, I can easily use the following code to inference.
code:
img = processing_inp("img_test/11.jpg")
y_pred = inference(tf.constant(img,dtype=tf.float32))

for tow inputs, I don't know how to inference.

y_pred = inference(tf.c

[2020-03-04 12:52] uchihatashi commented on #28668
hi, guys, I m getting a similar error

np.set_printoptions(suppress=True)
model = tensorflow.keras.models.load_model('keras_model.h5')

ValueError: ('Unrecognized keyword arguments:', dict_keys(['input_dtype']))

please tell me how to solve it.
many thanks in advance!

[2020-03-04 12:56] dsmic commented on #33601
Seems to be ok, thanks

[2020-03-04 12:56] #33601 closed

[2020-03-04 12:59] HadiSDev commented on #35030
I am having the same issue on all 2.0.0 version (alphas and betas). I am working with concatenated images so 320*4px by 180 px height

[2020-03-04 13:03] Stealers commented on #37280
y_pred = inference(input_1=tf.constant(image_batch,dtype=tf.float32), input_4=tf.constant(anchors_batch,dtype=tf.float32))#, tf.constant(anchors_batch,dtype=tf.float32)

I made it!

[2020-03-04 13:04] Stealers commented on #37291
y_pred = inference(input_1=tf.constant(image_batch,dtype=tf.float32), input_4=tf.constant(anchors_batch,dtype=tf.float32))#, tf.constant(anchors_batch,dtype=tf.float32)

I made it!

[2020-03-04 13:04] #37291 closed

[2020-03-04 13:08] Leslie-Fang opened #37295 "Low efficiency to do the Dequantize"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
exampl

[2020-03-04 13:13] Saduf2019 commented on #37288
@stefan-falk
I ahve replicated your code on mentioned tensorflow version 2.1 and do not face any issues, please refer to [this gist ](https://colab.sandbox.google.com/gist/Saduf2019/6bacad64a1e239009ed007e38377d794/37288.ipynb)for the same.

[2020-03-04 13:13] petkovacs19 commented on #36900
@reedwm Thanks for the clarification on the use of policies. The plan here was to do a simple few step test run on CPUs before running full training on GPUs

The issue is gone when getting rid of main method and running directly in notebook.

[2020-03-04 13:21] CH0102NG opened #37297 "build ktrain model with tensorflow 2.1.0 kera version 2.3.1"
I am trying to build a model with ktrain. Howver, I received the following errors:

[code]

`model = text.sequence_tagger('bilstm-crf', preproc)
`

`learner.fit(1e-3, 1)`

[2020-03-04 13:35] amahendrakar commented on #37285
@hnuhchen,
If you are looking to change the input layer for your model you can check out [this](https://stackoverflow.com/a/49554465) StackOverflow comment on a similar issue.

Also, please fill in the issue template along with a minimal reproducible code in order to expedite the trouble-shooting process.
Thanks!

[2020-03-04 13:38] cipri-tom commented on #15057
@arruda  I think it was closed due to no update from the original poster. If you're still seeing slow-downs, I'd say you open a new issue, giving test cases and testing especially with newest TF versions.

[2020-03-04 13:58] ehennis commented on #37207
I would rather not close it since I still can't use it within Visual Studio. Another odd thing is that even if I call it through a StartProcess class within Visual Studio it doesn't work. There must be something with VS running that is messing with paths and whatnot.

Is there anything else I can try and help debug it? If I can get some time (3 year old daughter is a bit much) I want to create a v

[2020-03-04 14:02] karnn commented on #36535
Thank you for this. I had the same issue and I reinstalled everything from your list. When I tried again I had the exact same issue again. But once I restarted my laptop it all worked again

[2020-03-04 14:11] amahendrakar commented on #36867
@konradqweleg,
This was the final output on running the above code. I have attached the complete log as a file.
[code]
[output.txt](https://github.com/tensorflow/tensorflow/files/4287692/output.txt)

Could you please compare this output with yours and if the issue persists, send us the reproducible code with the output. Thanks!

[2020-03-04 14:25] thomaslundgaard opened #37298 "Cannot load SavedModel involving slice"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: N/A
- TensorFlow installed from (source or
binary): pip
- TensorFlow version (use command below): 2.1.0
- Pyt

[2020-03-04 14:32] FB43 opened #37299 "Which NVIDIA GPU to buy for TF with Windows?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 8.1 & 10 dual-boot
- M

[2020-03-04 14:38] seddy commented on #37235
Thanks @av8ramit, that makes total sense. I hadn't realised quite how out of date `manylinux1` was that it relied on CentOS 5 :scream_cat:. Not supporting that seems reasonable, as does avoiding improper tagging.

Thanks for the suggestion about trying direct installing; I'll bear that in mind when upgrading tensorflow becomes a priority for us, as I think we can get away without upgrading for a l

[2020-03-04 14:52] 15thai commented on #28272
![image](https://user-images.githubusercontent.com/18472072/75891470-d206ee00-5dfd-11ea-8ac8-92c070437e1c.png)
I have exactly the same problem. Does anyone know why?

[2020-03-04 14:53] stefan-falk commented on #37288
Okay this is weird I am not seeing this error anymore either O_o.

I am using are remote debugger and maybe there was/is an issue with my dependencies. I am closing this issue. Thank you @Saduf2019 for taking a look at this!

[2020-03-04 15:07] tawej commented on #36535
Great ! Adding environment variables requires restart ;)

[2020-03-04 15:49] TOPMANZA commented on #37194
sorry i'm late and sorry for tag
look like i have problem like https://github.com/pyinstaller/pyinstaller/issues/3709
i cant find how to resolve this issue
last comment he tell OS changes right?

[2020-03-04 15:50] oracle3001 opened #37300 "Crashing introduced when call kernel.matrix with latest nightly build of TF 2.2"
Cross Post from Tensorflow Probability (at request of admins)

https://github.com/tensorflow/probability/issues/829

**System information**
- OS Platform and Distribution : Windows 10
- TensorFlow installed from : - Binary
TensorFlow version: 2.2 Nightly
- Python version: 3.7.6
- CUDA/cuDNN version: - 10.1
- GPU model and memory:  Nvidia 2070 Max_Q

Using TFP 0.10.0-dev20200304, I have a standard

[2020-03-04 15:51] freddan80 commented on #37215
@giuseros , do you have input on this?

[2020-03-04 15:54] timzatko opened #37301 "CombinedNonMaxSuppression is not whitelisted operator"
Hi! CombinedNonMaxSuppression is not whitelisted operator. Is it possible to add it as a whitelisted operator?

**System information**
- Linux Ubuntu 16.04
- TensorFlow installed from Docker Image
- TensorFlow version 2.1.0

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**

--

**Any other info / logs**

--

[2020-03-04 16:07] liyunlu0618 commented on #33925
Sorry for the delayed response. Please remove this line:
converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS_INT8]

The custom op needs to be kept in float execution. This line if forcing quantization to happen which doesn't work.

[2020-03-04 16:08] uddmorningsun commented on #36896
@ravikyram @ymodak Apologize for my operation mistakes in above `relocation truncated to fit: R_MIPS_CALL16 against clock_gettime@@GLIBC_2.2` similar error.

After I google, in order to save time to try different compile flags, I only copy and run failed command in single file, it always fail sadly. I ask for help whether it can be resolved or not.

Finally, since lots of similar answer maybe add

[2020-03-04 16:08] #36896 closed

[2020-03-04 16:23] sjurajpuchky commented on #36937
@mihaimaruseac I have fixed it but it's not working properly

[2020-03-04 16:30] alex83803 opened #37302 "Add Earlystopping function to train.py of the speech commands API"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): Tensorflow 2.0
- Are you willing to contribute it (Yes/No)

[2020-03-04 16:32] jvishnuvardhan commented on #28668
@uchihatashi Can you please create a new issue with details and a standalone code to reproduce your error. Thanks!

[2020-03-04 16:40] yoyojacky commented on #36141
![image](https://user-images.githubusercontent.com/6893075/75901613-c3f6b300-5e79-11ea-915c-3c83376c036e.png)
I got the same result.
env:  Raspbian buster
(pp) pi@raspberrypi:~/pp $ lsb_release -a
No LSB modules are available.
Distributor ID:	Raspbian
Description:	Raspbian GNU/Linux 10 (buster)
Release:	10
Codename:	buster
(pp) pi@raspberrypi:~/pp $ pip freeze
absl-py==0.9.0
astor==0.8.1
attrs==19

[2020-03-04 16:41] tfeher commented on #36959
Thanks @bixia1 for the answer. One more question: Assume that we have a GPUDeviceContext assigned to TRTEngineOp. Can this context object change during future inference calls, or it remain fixed once it is assigned?

[2020-03-04 16:52] jvishnuvardhan commented on #28272
@15thai Can you please open a new issue with your issue details, and (i) steps you have taken before this error, (ii) what was the status of internet at that time, (iii) your region (just country is enough) to see whether this problem is happening to more people in that region, (iv) any other details that you think will help us in resolving the issue. Thanks!

[2020-03-04 16:58] MarkDaoust commented on #34935
@swghosh: Yes. let me go check the status of that PR.

[2020-03-04 17:10] MiWeiss opened #37303 "tf.data unique leads to negative cardinality"
**System information**
- **OS** Reproduced on Win 10, not checked on other OS.
- **TensorFlow**: Version 2.1, installed with pip
- **Python version**: 3.6
- **CUDA/cuDNN version:** 10.1
- **GPU model**:  GeForce GTX 1050

**Describe the current behavior**
Cardinalities (evaluated using `tf.data.experimental.cardinality`) become negative after using `ds.apply(tf.data.experimental.unique())`

**Desc

[2020-03-04 17:23] MiWeiss commented on #37303
Update

I just learned that `-2` is a constant indicating that the cardinality could not be computed in constant time. Thus, this is **not a bug**.

[2020-03-04 17:23] #37303 closed

[2020-03-04 17:40] peastman commented on #33425
Also, in TensorFlow 2.1 it appears this is no longer restricted to eager mode.  Even if I wrap the calculation in `tf.function` it still fails.  Can someone reopen this so it will get fixed?

[2020-03-04 17:50] miladtoutounchian commented on #36998
Please carefully read the title of this issue that I reported. **Keras models train correctly with or without tf.function decorator but this is not correct for custom models.**

We have two cases and each case has two propagation methods, therefore:

_Case 1: Model is Keras:_
1-1 : propagate function with @tf.function decorator -> Works well
1-2:  propagate function without @tf.function decorator

[2020-03-04 17:50] qlzh727 commented on #36508
Those two line will build different graph under the hood, but should produce same math result.
The first line will use cudnn kernel on GPU if GPU is available, whereas the second line will use generic kernel on GPU.

Adding @houtoms from Nvidia side. Is there any recent change to the kernel CudnnRNN?

[2020-03-04 17:59] qlzh727 commented on #36508
I wasn't able to produce this issue on a GPU colab as well. I think this somehow indicate its a environment issue, we probably should check the cuda kernel version.

[2020-03-04 18:03] saif191020 commented on #35749
Thanks!!! it works....

[2020-03-04 18:15] jvishnuvardhan commented on #33820
@Ir1d Thanks for the note. I am closing this issue as the PR https://github.com/tensorflow/tensorflow/pull/37090 related to this issue already merged. Thanks!

[2020-03-04 18:20] hartikainen commented on #30892
Neat, this looks good in the colab, so I'll close it. Thanks a lot @jvishnuvardhan!

[2020-03-04 18:20] #30892 closed

[2020-03-04 18:20] phemmer commented on #33247
Can we not just have the commit ID? Yes 2.2 may be close, but it's still a few weeks off I'd imagine. And in addition, I'm using [IBM's Large Model Support patch](https://github.com/IBM/tensorflow-large-model-support), which will likely take an additional several weeks to be updated to 2.2.

[2020-03-04 18:21] CleanPegasus opened #37306 "Bug with callbacks in tf.keras model"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platf

[2020-03-04 18:27] FB43 commented on #37231
@Saduf2019 Hello, I opened a new issue to get some advices for changing my GPU. I think the results would be better.
Thanks for all.
François

[2020-03-04 18:35] Krastanov opened #37307 "gradient of `einsum` is incorrect for complex numbers"
**System information**
- Attached is a small script reproducing the problem
- OS Platform and Distribution: Ubuntu 18.04 LTS
- TensorFlow installed from pip
- TensorFlow version: v2.1.0-rc2-17-ge5bf8de 2.1.0
- Python version: Python 3.7.5
- Observed both on CPU and GPU

**Describe the current behavior**

The gradient of this `tf.matmul` expression with respect to `p` is computed correctly:

[code]

[2020-03-04 18:47] gowthamkpr commented on #36801
Sorry for closing it abruptly @nbro

[2020-03-04 19:11] PeterMcGor commented on #16087
Hi,

just in case someone is still wondering about this, here is my workaround after some hours struggling:

In order to use `train_and_evaluate`, I include at `EvalSpec` definition a `tf.estimator.FeedFnHook` which contains a function that performs the evaluation over different datasets employing  `estimator.evaluate`. I give a different evaluation folder by the `name` parameter at `estimator.eva

[2020-03-04 19:21] rthadur opened #37309 "sdfdssdfdssdsdfsdfsdfsdfdsfsdfsdfsdfsdfsdfdsfsdfsdfsdfdsfsdfsdfsdfsdfsdfdsf load_dynamic return _load(spec) CUDA/cuDNN version: 434 **Provide the exact sequence"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2020-03-04 19:22] #37309 closed

[2020-03-04 19:24] rthadur opened #37310 "test issue"
sdfdssdfdssdsdfsdfsdfsdfdsfsdfsdfsdfsdfsdfdsfsdfsdfsdfdsfsdfsdfsdfsdfsdfdsf load_dynamic return _load(spec)
CUDA/cuDNN version: 434
**Provide the exact sequence

[2020-03-04 19:24] #37310 closed

[2020-03-04 19:25] nsssss commented on #37079
Thank you so much. It's really helpful.

[2020-03-04 19:27] crccw commented on #36579
Closing for now. Please do re-open if you have a repro for the issue. Thanks!

[2020-03-04 19:27] #36579 closed

[2020-03-04 19:27] najibghadri commented on #37263
https://colab.research.google.com/drive/1QyVMNO-paFJQ2Ie9zkIva0FA9wbxAYT2

[2020-03-04 19:27] jvishnuvardhan commented on #37239
@tobillsung-doc Do you want to raise a PR to update the docs? Thanks!

[2020-03-04 19:31] najibghadri opened #37311 "Method Chaining in Tensorflow"
I have posted a question about this in stackoverflow. https://stackoverflow.com/questions/60528238/why-no-method-chaining-in-tensorflow

Aka. named parameter idiom. I did a simple Nearest Neighbor algorithm in TF and I ended up writing the whole NN algorithm in one line. You can argue that I should take it apart, but I think this happens often anyways (in coding in general too):

[code]

It could

[2020-03-04 19:33] nsssss commented on #37079
Simply add the variables lists in `tape.gradient` and `opt.apply_gradients` is really work.
Test as below:
[code]

[2020-03-04 19:33] #37079 closed

[2020-03-04 19:59] xam-ps commented on #24828
@awrgold
I was using tensorflow 2.1 trough (nvidia2) docker and have the issue anyways. So I don't think that solves the problem.

[2020-03-04 20:00] rthadur opened #37313 "build and install"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2020-03-04 20:03] #37313 closed

[2020-03-04 20:27] mehdishafiei commented on #32790
I had the same problem with TF2. In the tutorial that I had the following codes:

[code]
In in tf2, it turns out that **I don't need** that turorial package, just  write:

`mnist = tf.keras.datasets.mnist`

[2020-03-04 20:40] davisyoshida commented on #30418
Does it only work in graph mode perhaps? I tried it in eager mode and didn't get memory savings.

[2020-03-04 20:50] omalleyt12 commented on #35911
Thanks for the issue! This is fixed in the latest tf-nightly, please try with `pip install -U tf-nightly`

[2020-03-04 20:50] #35911 closed

[2020-03-04 21:00] rthadur opened #37315 "test issue"
sdfdssdfdssdsdfsdfsdfsdfdsfsdfsdfsdfsdfsdfdsfsdfsdfsdfdsfsdfsdfsdfsdfsdfdsf load_dynamic return _load(spec)
CUDA/cuDNN version: 434
**Provide the exact sequence

[2020-03-04 21:05] maurera opened #37316 "Can't find tensorflow 2.1.0 with python 3.7 and pip"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlo

[2020-03-04 21:19] loricrotser commented on #37316
I am seeing a similar error in the "tensorflow/tensorflow/lite/micro/examples/micro_speech/train_speech_model.ipynb" example - running this in the google notebook gives me the following error:

ERROR: Could not find a version that satisfies the requirement tf-nightly-gpu==1.15.0.dev20190729 (from versions: 2.2.0.dev20200201, 2.2.0.dev20200202, 2.2.0.dev20200203, 2.2.0.dev20200204, 2.2.0.dev2020020

[2020-03-04 21:34] loricrotser opened #37317 "tf-nightly-gpu 1.15.0.dev20190729 is not found"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colabs
- TensorFlow version: 1.15.0.dev20190729

**Describe the problem**

The tf-nightly-gpu==1.15.0.dev20190729 build appears to be missing.  We are releasing our tutorials next week for the summit using this build as listed in google colabs, but we can no longer install. Errors are listed below.

Example is

[2020-03-04 21:36] Daniel451 commented on #37217
@novomesk yes, I also already implemented some solutions with AOMedia's libavif repo.

However, TensorFlow should integrate this directly. If you bypass tf.dataset by loading the data yourself, you loose performance (and, in case you do not "re-invent the wheel" and implement buffering / pre-loading yourself, you will be limited to datasets that completely fit into your memory).

[2020-03-04 21:38] mathemakitten opened #37318 "TPU software version nightly-2.x now gone and other versions don't work"
**System information**

Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Debian GNU/Linux 9.11
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: N/A
TensorFlow installed from (source or
binary): binary
TensorFlow version (use command below): 2.2.0.

[2020-03-04 21:53] maurera commented on #37316
I think I've found a workaround, adding the line `RUN python3.7 -m pip install --upgrade pip`.

Is this workflow recommended or is there a better solution?

Working Docker file:
[code]

[2020-03-04 21:59] bhack commented on #30293
Is it still too early?

[2020-03-04 22:05] bhack commented on #32650
Can you try the new TF Lite converter by setting:
converter.experimental_new_converter = True

Try it with tf-nightly pip package.

[2020-03-04 22:09] bhack commented on #27880
Also new quantization infra will come in MLIR https://llvm.discourse.group/t/rfc-a-proposal-for-implementing-quantization-transformations-in-mlir/655

[2020-03-04 22:09] jdduke commented on #37134
Can you try using the nightly TF Pip to test this again? We've landed a lot of improvements since 2.1 to this path.

[2020-03-04 22:13] goldiegadde commented on #31300
Closing this as this issue has been fixed.

[2020-03-04 22:13] #31300 closed

[2020-03-04 22:16] jdduke commented on #37086
@gargn for this case is it possible to provide the signature w/ the `from_saved_model` method? Or do they have to load the model and then explicitly call `from_concrete_functions`?

[2020-03-04 22:21] jaingaurav commented on #28007
We're looking into this now. Should have some updates soon.

[2020-03-04 22:31] AmmarkoV commented on #349
Thank you very much, bazel is a terrible build system https://archive.fosdem.org/2018/schedule/event/how_to_make_package_managers_cry/

[2020-03-04 22:31] codeislife99 commented on #37099
Bumping this since I am facing the same issue. The tf graph when visualized in netron seems to be fine (all float32). However my conclusion is that the TFLite converter is probably mistakenly converting the ADD node to float 64.

[2020-03-04 22:38] zhangwujun666 opened #37320 "Compilation error: reduction_ops_gpu_complex64.cu.pic.o' was not created"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):macOS 10.13.6
- Mobile device (

[2020-03-04 22:46] goldiegadde commented on #33648
This issue has been fixed in the latest nightly , please see the [gist here](https://colab.sandbox.google.com/gist/goldiegadde/7ed551183f76afd08d3dc36bb7ad6ce0/33648.ipynb)

there is one small change to the code, load models line should be changed to
new_model = keras.models.load_model('model/', custom_objects={'CustomMetric': CustomMetric})

[2020-03-04 22:47] goldiegadde commented on #33648
@AndersonHappens marking this as fixed, please re-open if you run into any further issues.
Thanks!

[2020-03-04 22:47] #33648 closed

[2020-03-04 22:55] goldiegadde commented on #33411
This is fixed with the latest tf-nightly. [colab gist](https://colab.sandbox.google.com/gist/goldiegadde/20e648fa5e3e9cc7f8457ca251287530/untitled289.ipynb)
Marking this as closed.

[2020-03-04 22:55] #33411 closed

[2020-03-04 23:09] jvishnuvardhan commented on #34021
@tmartin293 Can you please try with recent `tf-nightly` and let us know whether it was resolved for you? Thanks!

[2020-03-04 23:20] pavithrasv commented on #36807
@ayushmankumar7 feel free to send me a PR.

[2020-03-04 23:40] av8ramit commented on #37235
No problem @seddy I'm glad I could help. Good luck!

[2020-03-04 23:59] jvishnuvardhan commented on #31026
I am closing this issue as the increase is very minimal. Please feel free to reopen with more concrete example and a standalone code to reproduce the issue. Thanks!

[2020-03-04 23:59] #31026 closed

[2020-03-05 00:11] ammirato opened #37323 "Count number of times `tf.function` is traced"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.1
- Are you willing to contribute it (Yes/No): No

**Des

[2020-03-05 00:47] Ely-S commented on #35100
It might help to point out that this is being printed out once per active GPU.

[2020-03-05 00:50] SpikingNeuron opened #37324 "Cannot break while iterating over tensorflow dataset created using `tf.data.Dataset.from_generator`"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g.,
Windows 10
- TensorFlow installed from
binary
- Tensorflow Version:
2.1

**Describe the current behavior**
The `tensorflow` dataset created from the generator function cannot be used with `break` inside the for loop. On the other hand, t

[2020-03-05 00:51] ammirato commented on #37323
One thing I could do is check `test_func._call_counter.get_tracing_count()`, but I don't like the use of a variable with `_` starting the name.

[2020-03-05 01:39] luozhouyang commented on #36697
Yes, I construct a `tf.data.TFRecordDataset` from a list of `.tfrecord` files.
I found that, if I set `dataset = dataset.shuffle(buffer_size=2000000)` then the training is more likely stop. But if I set the `buffer_size=1500000`, the training goes well. The usage of memory in both settings is about `16G/32G`, so it's not a OOM exception.

[2020-03-05 01:55] 2696120622 commented on #36160
@ech
Hello, which model did you converted? I encountered one similar issue when converting efficientdet model. The issue is detailed in this

.

Can you help me?

[2020-03-05 02:20] Ljl-Jdsk opened #37325 "tf.ConfigProto() and tf.estimator.RunConfig conflict"
I want to use “tf.ConfigProto()” to set the GPU to grow dynamically, and I want to use “ tf.estimator.RunConfig ” to set the number of checkpoints.

config = tf.ConfigProto()
config.gpu_options.allow_growth = True

config = tf.estimator.RunConfig(keep_checkpoint_max = 10)
with tf.train.MonitoredTrainingSession(,,,config=config)
How can I achieve my goal with only one config？

extremely grateful !

[2020-03-05 02:25] Stealers commented on #33201
@SlavaKeshkov ，
Has your problem been solved? Do you know how to use GPU to speed up savedmodel(TF2.0) inference？

[2020-03-05 02:38] pjsjongsung commented on #26305
@rajathpatel23 did you manage to solve this issue?
I'm getting the same error from model.fit when passing two tensors(input and label) using dataset_from_generator, but no issues when passing the two tensors manually

[2020-03-05 03:12] 2696120622 commented on #37134
@jdduke
My efficientdet model was trained with tf 2.1. I can converted it to tf lite successfully. However, I get an error when running interpreter.allocate_tensors().
"RuntimeError: Encountered unresolved custom op: TensorListFromTensor.Node number 864 (TensorListFromTensor) failed to prepare."
The error is detailed in this

When I converted the model trained with tf 2.1 using tf-nightly(2.2.0.de

[2020-03-05 03:18] coreyching opened #37327 "Broken Link Inside the Friction Log Google Doc"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue / ## Description of issue (what

[2020-03-05 03:18] hui121 commented on #11930
I have got the same problem too. Should install correct Build version.
I install tf1.15.0，package info：
tensorflow                1.15.0          **mkl_py**37h3789bd0_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
there is no error.
but if install tf1.15.0，pakage info: tensorflow                1.15.0          **eigen_py**37h9f89a44_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/

[2020-03-05 03:34] ayushmankumar7 commented on #36807
Sure. Thanks

[2020-03-05 03:50] gowthamkpr commented on #37230
@GeorgeLiang3 I don't run into any error when I am using tf-nightly. Please find my gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/f7bcc6f630e4864f0c269256f9d3df96/untitled37.ipynb). Thanks!

[2020-03-05 04:00] coreyching opened #37330 "Improve the TFDS Getting Started Documentation"
## URL(s) with the issue:
https://www.tensorflow.org/datasets/overview

## Description of issue (what needs changing):

 😀I completed step 1 and  went to “https://www.tensorflow.org/datasets/overview” to get started with TFDS. I launched the code lab to continue with the overview. The code lab is a great option to easily run python and tensorflow!

😑- I completed the first command to install tenso

[2020-03-05 04:25] Saduf2019 commented on #37327
@coreyching
please share the source of this document, the link from tensorflow or github where this document is present.

[2020-03-05 04:27] Saduf2019 commented on #37327
@coreyching
please confirm if the source is from [this link](
https://github.com/tensorflow/community/blob/master/sigs/build/tensorflow-testing.md)

[2020-03-05 04:44] gowthamkpr commented on #37256
As you can see
`tf.keras.metrics.PrecisionAtRecall(recall, num_thresholds=200, name=None, dtype=None)`
has 3 arguments
The argument here to notice is `num_thresholds` which is optional and Defaults to 200. The number of thresholds to use for matching the given recall.

Here's how precision is calculated:
1. Calculate recall at all the thresholds (200 thresholds by default).
2. Find the index of th

[2020-03-05 04:59] aimanjavid commented on #37169
thank you so much

On Mon, Mar 2, 2020 at 3:11 PM ravikyram <notifications@github.com> wrote:

[2020-03-05 05:11] gowthamkpr commented on #37185
Yes @HadiSDev Looks like it is indeed duplicate of #35030

[2020-03-05 05:13] gowthamkpr commented on #37100
@burgerkingeater Did you try all-reducer architecture as mentioned above?

[2020-03-05 05:17] gowthamkpr commented on #37068
You can take the outputs of the loaded model and create a new model with those outputs @uchua
You can take a look at this[ issue](https://stackoverflow.com/questions/41668813/how-to-add-and-remove-new-layers-in-keras-after-loading-weights)

[2020-03-05 05:23] Saduf2019 commented on #37320
@zhangwujun666
Provide the exact sequence of commands / steps that you executed before running into the problem, could you please confirm if the tensorflow version is 1.15 or 1.5

[2020-03-05 05:24] chiraag opened #37331 "Headers in /usr/local/include cause build errors on json cpp"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.15.3
- Mobile device

[2020-03-05 05:29] amahendrakar commented on #36853
Any updates regarding this issue? Thanks!

[2020-03-05 05:41] haozha111 commented on #37134
The error comes from here:
https://github.com/tensorflow/tensorflow/blob/3006330ea0c3e88651195ac7c7de654291377ebb/tensorflow/compiler/mlir/lite/transforms/lower_static_tensor_list.cc#L352

In that case, the Tensorlist op receives a dynamic shape and it isn't supported by MLIR converter, so we raise an error here. Could you locate where the TensorArray is created in your model and try pass it with

[2020-03-05 05:45] Saduf2019 commented on #37301
@timzatko
Could you please share simple standalone code that you executed before facing this issue.

[2020-03-05 05:48] ravikyram commented on #37169
@aimanjavid

Please close this thread if it solves your question. Thanks!

[2020-03-05 05:55] Saduf2019 commented on #37295
@Leslie-Fang
please share the tensorflow version for us to replicate the issue faced by you, could you fill in the template it helps us resolve the issue faster, we would require a simple stand alone code with indentation and all dependencies for us to help you resolve.

[2020-03-05 06:00] Saduf2019 commented on #36863
@mshmsh1234
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-05 06:00] #36863 closed

[2020-03-05 06:03] wangxiang2713 opened #37332 "TFTRT Int8 calibrate out of memory"
**System information**
CentOS Linux release 7.6.1810 (Core)
TITAN Xp

CUDA Version: 10.0
CUDNN 7
Tensorflow 1.15.0
Python 2.7.5

**Describe the current behavior**
I use tftrt module to calibrate int8 model. I can convert() the model successfully, but when I do calibrate(), the memory increase crazily and use the whole memory, finally i get error:Calibration failed: Internal: Failed to build Tensor

[2020-03-05 06:04] zongweiz commented on #36001
With TF 2.2, optimizer.apply_gradients() can take an argument all_reduce_sum_gradient=False, which means that apply_gradients() will no longer implicitly aggregate gradients. Users can write custom training loop code by manually aggregating gradients (see [1]) and performing clip_by_global_norm (either before or after gradient allreduce).

[1] https://github.com/tensorflow/models/blob/master/offic

[2020-03-05 06:06] xuexuanyu commented on #37134
Hi jdduke , I have tried on tf-nigthly-2.2, but still got this error message: 'failed to legalize operation 'tf.If'

`
Skipping registering GPU devices... 2020-02-28 20:06:40.803980: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1102] Device interconnect StreamExecutor with strength 1 edge matrix: 2020-02-28 20:06:40.803994: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1108] 0 2020-02-2

[2020-03-05 06:06] Saduf2019 commented on #37105
@jccastrom
Could you please update on the above comment.

[2020-03-05 06:09] typhoonzero commented on #28976
Any updates or workarounds?

[2020-03-05 06:11] sujithgunturu opened #37333 "ImportError: DLL load failed: A dynamic link library (DLL) initialization routine failed. (Running Adel Wheat))"
`from alinea.adel.astk_interface import AdelWheat
from alinea.astk.Weather import sample_weather

seq, weather = sample_weather()
wdata = weather.get_weather(seq)

adel = AdelWheat(nsect=2)

g = adel.setup_canopy(100)
adel.grow(g, wdata)`

Getting the error:

(adel) C:\Users\Personal\Desktop\OpenAlea research\adel\example>python test_AdelWheat.py
Traceback (most recent call last):
  File "test_Ade

[2020-03-05 06:12] ravikyram commented on #36900
@petkovacs19

Please close this thread if your issue was resolved. Thanks!

[2020-03-05 06:13] sujithgunturu commented on #37333
Installing this package  https://github.com/openalea-incubator/adel
and trying to run the above code

[2020-03-05 06:13] 2696120622 commented on #37134
Are these lines of code with list comprehension TensorArray and Tensorlist op?

`features = [layers.Conv2DTranspose(w_bifpn, (3,3), strides=2, padding="same",
activation="relu",name="deconv_"+str(i))(fe) for i,fe in enumerate(features)]

regression = [regress_head(feature) for feature in features]

classification = [class_head(feature) for feature in features]

features = [layers.UpSampling2D(inte

[2020-03-05 06:14] Saduf2019 commented on #37231
@FB43
Please confirm if we may move this issue to resolved, as the GPU change is monitored and this would be a duplicate issue.

[2020-03-05 06:20] Saduf2019 commented on #37247
@TianHongZXY
please refer to this [issue](https://github.com/tensorflow/tensorflow/issues/35449#issuecomment-570318723) and let us know if it helps

[2020-03-05 06:25] shiningrain opened #37334 "Tensorflow can build and even run a model with `Conv2D('Kernel_size=0' )`"
**System information**
- Have I written custom code (as opposed to using example directory):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Win 10 & Linux Ubuntu18.04
- Tensorflow backend (yes/no): yes
- TensorFlow version:1.15.0(CPU)
- Python version: 3.6.9
- CUDA/cuDNN version: -
- GPU model and memory: -

**Describe the current behavior**
When I build a model with unreasonable para

[2020-03-05 06:25] TianHongZXY commented on #37247
@Saduf2019 I'm using the TF1.15 and my model can't be run with tf-nightly, so I found it not helpful and `converter.experimental_new_converter = True` doesn't work too.

[2020-03-05 06:29] shiningrain opened #37335 "Tensorflow can run and build model with the corner case `Dense(unit=0)`"
**System information**
- Have I written custom code (as opposed to using example directory):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Windows 10
- TensorFlow backend (yes / no):  yes
- TensorFlow version:  1.15.0
- Python version:  3.6.9
- CUDA/cuDNN version:  -
- GPU model and memory:  -

**Describe the current behavior**
When I set `Dense (units = 0)`, **TensorFlow can build t

[2020-03-05 06:31] shiningrain opened #37336 "Tensorflow fails in building `GRU` models in some cases."
**System information**
- Have I written custom code (as opposed to using example directory):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Windows 10
- TensorFlow backend (yes / no):  yes
- TensorFlow version:  1.15.0
- Python version:  3.6.9
- CUDA/cuDNN version:  -
- GPU model and memory:  -

**Describe the current behavior**

**When I directly build a model with layer `GRU`on Tens

[2020-03-05 06:47] gadagashwini commented on #37290
@julj, As per the [doc](https://www.tensorflow.org/install/gpu#ubuntu_1804_cuda_101), it downloads `cuda-repo-ubuntu1804_10.1.243-1_amd64.deb` and nvidia-driver version as `sudo apt-get install --no-install-recommends nvidia-driver-430`. Can you try once and let us know. Thanks!

[2020-03-05 06:52] ravikyram commented on #37300
@oracle3001
Can you try running the code in latest -tf-nightly 2.2.0-dev20200304version? Issue seemed to be fixed, kindly find the [gist of colab ](https://colab.sandbox.google.com/gist/ravikyram/2fc4071083b91e0991695f16d4b8d11d/untitled704.ipynb)for the same.Thanks!

[2020-03-05 06:54] iamthebot opened #37337 "libmkl_intel.so and libiomp5.so are not being copied for libtensorflow.so build"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.1 (v2.1 tag)
- Python version: 3.7
- Bazel version (if compiling from source): 0.29.1
- GCC/Compiler version (if compiling from source): 7.5.0
- CUDA/cuDNN version: N/A
- GPU model and memory: N/A

**Describe the problem**
When

[2020-03-05 07:11] Rogersjk opened #37338 "ValueError: Input 0 of layer dense_1 is incompatible with the layer: expected axis -1 of input shape to have value 2 but received input with shape [None, 5]"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform and Distribution :  Windows 10
- TensorFlow installed from: pip, tf 2.1.0,  cpu
- Python version: - 3.7.4

**build a simple network**
[code]

**Test Code**
[code]

**Error Info**
[code]

**But following usage will not cause the error**
[code]

### *The error is cau

[2020-03-05 07:14] timzatko commented on #37301
I did not try to add converter.allow_custom_ops, if I add it, I have to implement that operator in c, right? Since it is tensorflow operator, I would like to avoid that.

Steps to reproduce:
1. Clone this repository:
https://github.com/zzh8829/yolov3-tf2
2. Download model and copy it to `checkpoints` path https://drive.google.com/open?id=1gl4JY4sbyjFXOFiz9MZsd84PL4vuhy3Q
3. Create this script in t

[2020-03-05 07:30] Rogersjk opened #37339 "ValueError: Could not find matching function to call loaded from the SavedModel."
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform and Distribution :  Windows 10
- TensorFlow installed from: pip, tf 2.1.0,  cpu
- Python version:  3.7.4

**build a simple network**
[code]

**Test Code**
[code]

**Error Info**
[code]

**But removing the line will not cause the error**
[code]

### *The error is ca

[2020-03-05 07:46] kafan1986 commented on #37242
@ymodak  Any help?

[2020-03-05 07:58] Saduf2019 commented on #37334
@shiningrain
I have run the code shared by you and it executes as expected, please find[ gist here](https://colab.sandbox.google.com/gist/Saduf2019/002a441ed92036884b41ae5a9f104210/37334.ipynb)
For kernel_size related information please refer to [this link](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Conv2D#arguments_2), also please refer to this link if it [helps](https://github.co

[2020-03-05 07:59] bazako commented on #36217
@jkkj1630 you can post your solution to fix the issue?

[2020-03-05 08:10] 2696120622 commented on #37134
@xuexuanyu
I get an similar error message: failed to legalize operation 'tf.TensorListReserve'.  I trained my model and converted it to tf.lite with tf-nightly 2.2.0-dev20200304.
The error as follows.
`---------------------------------------------------------------------------
ConverterError                            Traceback (most recent call last)
<ipython-input-16-c548bab089a8> in <module>()

[2020-03-05 08:16] stefan-falk commented on #36819
@ravikyram I am having the same error with this code:

[code]

Shouldn't this work like this or am I misinterpreting the docs?

[2020-03-05 08:22] burgerkingeater opened #37340 "dataset file-based cache uses excessively amount of memory"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform

[2020-03-05 08:24] OmerLiberman commented on #36332
@ravikyram
<img width="1440" alt="Screen Shot 2020-03-05 at 10 21 52" src="https://user-images.githubusercontent.com/38648402/75961861-6ee38d00-5ecb-11ea-833b-145338b85646.png">

[2020-03-05 08:24] OmerLiberman commented on #36332
@ravikyram
![a](https://user-images.githubusercontent.com/38648402/75961905-8589e400-5ecb-11ea-9a4c-a6f2981b6357.png)

[2020-03-05 08:32] JiayuanSternLi commented on #36477
I got the same as well.
I can model.save() using one gpu; but error comes under distributed training with mirrored stategy

[2020-03-05 08:41] HadiSDev opened #37341 "cp: cannot stat '/usr/include/x86_64-linux-gnu/NvInferPlugin.h': No such file or directory"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 19

- TensorFlow version: branch r2.1
- Python version: 3.7
- Bazel version (if compiling from source): 0.29
- GCC/Compiler version (if compiling from source):
hadi@hadi-GL502VSK:~/tensorflow$ gcc --version
gcc (Ubuntu 9.2.1-9ubuntu2) 9.2.1 20191008
Copyright (C) 2019 Free Software Foundation, Inc.
This is fre

[2020-03-05 08:42] JiayuanSternLi commented on #36477
Yes, I have verified.
TF2.0.0 could save the model
TF2.1.0 has an error like the post above

[2020-03-05 08:56] JiayuanSternLi opened #37342 "TF2.1 cannot save model trained by distribution strategy while TF2.0 could do"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
Yes
- OS Platf

[2020-03-05 08:58] thomaslundgaard commented on #37298
This also happens when using tf.slice() instead of numpy-style slicing.

[2020-03-05 09:03] shiningrain commented on #37334
Hi!  @Saduf2019
Thanks for your help!
However, I still have some problems with your reply.
1. I have read your reproduced code, but the `kernel_size` in it is set to 1, which is not the problem  I want to explain. I have also tested with `kernel_size = 1` and it did work properly. Here I want to focusing on illogical inputs such as `kernel_size = 0.`
2. The description of `kernel_size` in the Tens

[2020-03-05 09:15] ravikyram commented on #37325
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.
Please, fill [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

[2020-03-05 09:19] ravikyram commented on #37333
@sujithgunturu

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue

[2020-03-05 09:21] eQueue commented on #34230
@HBiSoft
hi, i'm running posenet example of tensorflow lite.
i got same issue. how can you solve that problem? did you sync the frame with estimated pose displayed on screen? can you share your modified code?
i appreciate for your help

[2020-03-05 09:22] luvwinnie commented on #33573
any progress on this?

[2020-03-05 09:24] beeb commented on #37042
@ravikyram I had the same issue and fixed it by downloading the microsoft visual c++ redistributable package. Shouldn't this information be present in the install instructions on the official website?