[2019-09-20 03:29] wangyunxiaa opened #32681 "add a custom op in user_ops rebuild tensorflow but no use"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-09-20 03:34] t-kalinowski commented on #32680
I just checked against TensorFlow version 1.15.0rc1 and this issue is fixed there.

[2019-09-20 04:04] t-kalinowski commented on #32680
Opening back up because this is not fixed in TensorFlow version 2.0.0rc1
[code]

[2019-09-20 04:14] jbot19k commented on #29878
It work for me
On linux run in terminal: export TF_XLA_FLAGS=--tf_xla_cpu_global_jit
On Windows add on top of code: os.environ["TF_XLA_FLAGS"] = "tf_xla_cpu_global_jit"

[2019-09-20 05:05] SamuelMarks commented on #31434
Hmm:
[code]

[2019-09-20 05:25] chengleiwang commented on #31434
I also met this error before. I tried to add --expt-relaxed-constexpr in tensorflow.bzl _cuda_copts() function. but still with no lucky.

[code]

[2019-09-20 06:06] enorkus commented on #31788
I'm having the same problem (java.lang.IllegalArgumentException: Invalid output Tensor index: 1) after changing NUM_DETECTIONS and a few more things in the sample Android app.
What exactly did you change to solve it?

[2019-09-20 06:09] PrakharPrashantSingh commented on #7652
Hi all,

i don't know why i can't disable warning even after putting:

tf.logging.set_verbosity(tf.logging.ERROR)
and this
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2' also i tried to put them both together, i also put these line before importing tensorflow as tf and also tried to put it after importing tensorflow but nothing is working.

Anyone have any other idea?

Thanks

[2019-09-20 06:11] MikoyChinese opened #32682 "tf.keras.layers.Conv2D expected axis -1 of input shape to have value 3."
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.14
- Python version: 3.6
- CUDA/cuDNN version: 10.0
- GPU model and memory: 1080TI

**Describe the current behavior**

Here is my code.

[code]

**Error**

[code]

**But when I change the code another style:**

[code]

**The code

[2019-09-20 06:28] gadagashwini commented on #32678
@xichuanhit,
Please uninstall available tensorflow and python and install both again. Please try installing latest Tf version 2.0.0.rc1.  Thanks!

[2019-09-20 06:28] rryan commented on #32218
Thanks for the Colab! The CUDA device filter
[code]
is causing TensorFlow to ignore its GPU, running the FFT on CPU:

[code]

When I remove the device filters I get consistent timing:
[code]

@YichengWu are you certain your example code is actually running on GPU?

[2019-09-20 06:31] gadagashwini commented on #32640
@jinfagang, Did you try the @mihaimaruseac's solution and also please follow the instructions mentioned [here](https://www.tensorflow.org/install/source#download_the_tensorflow_source_code). Thanks!

[2019-09-20 06:39] morgangiraud commented on #32614
Thanks, so it looks, like for some reason, I should just avoid the "[" character in my model's paths.

@ppwwyyxx, why you had the insight of removing the "[" character?

[2019-09-20 06:47] oanush commented on #32672
I was able to replicate the issue with given code for TF-2.0rc1, please find the [gist](https://colab.sandbox.google.com/gist/oanush/8ee3a61919408dadf12499d2d95792ca/32672.ipynb) of colab.Thanks!

[2019-09-20 06:56] gadagashwini commented on #32642
@tusharsh23,
Please provide the information asked in the [template](https://github.com/tensorflow/tensorflow/issues/new/choose). It will indeed help us debug the root cause. Thanks!

[2019-09-20 07:05] anujajakhade commented on #32490
Hi @martinwicke
Can you please comment on this.

[2019-09-20 07:43] jagadeeshjr5 commented on #30427
` conda install -c conda-forge keras`

Just install keras by using the above command in Anaconda prompt

[2019-09-20 08:20] joeltorby commented on #9829
Quite unexpected that it was numpy caused this type of error:
In jupyter notebook:
    Python Has Stopped Working
In anaconda:
   Notebook file.ipynb is not trusted
   Adapting from protocol version 5.1 (kernel 1123456789...) to 5.3 (client).

This worked for me:

[2019-09-20 08:44] robertah commented on #32592
So in the end I think the problem is related to `tf.losses.mean_squared_error` and `tf.metrics.mean_squared_error` that return different values during the training. Please see the notebook for more details.

[2019-09-20 08:50] jubjamie opened #32684 "Arguments formatting error in 1.15 keras.model.save docs + incorrect model format info/docstring mismatch?"
## URL(s) with the issue: https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/keras/Model#save

## Description of issue (what needs changing):
[1.15 branch]
It appears that the docstring of keras.model.save does not match the docs in 1.15.

Content is different I think.

The bullet points for the input arguments for the save method are not formatted making it hard to read (although this m

[2019-09-20 08:55] ravikyram commented on #32647
In order to expedite the trouble-shooting process, please provide a minimal standalone code to reproduce the issue reported here. Thanks!

[2019-09-20 09:10] tusharsh23 commented on #32642
I have provided all the details in the description it self. Do you need any specific information?

[2019-09-20 09:12] dbergh opened #32685 "tf.function problem when slicing tensor with variable"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Windows 10
- TensorFlow installed from: binary
- TensorFlow version: v2.0.0-rc0-101-gd2d2566eef 2.0.0-rc1
- Python version: 3.7.4
- CUDA/cuDNN version: N/A
- GPU model and memory: N/A

**Describe the behavior**
Slicing tensors using slices indexed by a `tf.Variable` does not work with `tf.function`. The proble

[2019-09-20 09:16] oanush commented on #32656
@fgr1986 ,
Given code worked with TF-2.0rc1 without any issue's, please take a look at the [gist](https://github.com/tensorflow/tensorflow/issues/32651) of colab. Try running the code in TF-2.0rc1

[2019-09-20 09:18] oanush commented on #32651
@rishabhsahrawat ,
Thanks for reporting the issue, Can you please provide a simple standalone code to reproduce the issue  or share us your colab gist. Also mention the TF version being used.Thanks!

[2019-09-20 09:34] ravikyram commented on #32638
@wangyunxiaa

Can you please go through the [link](https://github.com/tensorflow/custom-op) and see if it helps you. Thanks!

[2019-09-20 09:41] gadagashwini commented on #32660
@remydubois, Will it be possible to share the .npy file that you are using. Thanks!

[2019-09-20 09:44] gadagashwini commented on #32661
@yurivict,
Please provide the correct link of documentation where the problem persists. Thanks!

[2019-09-20 09:51] gadagashwini commented on #32398
@ghannum, Thanks for the code.
I tried on colab with Tf 2.0.0.rc1, I didn't receive any error, Please take a look at colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/7a0df6ba3bf7a2f0fae872eff1c710e1/untitled162.ipynb). Thanks!

[2019-09-20 09:55] parascse opened #32686 "Hi,"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-09-20 09:57] ravikyram commented on #32659
Looks like code is incomplete. In order to expedite the trouble-shooting process, please provide a minimal standalone code to reproduce the issue reported here. Thanks!

[2019-09-20 10:02] gadagashwini commented on #32642
@tusharsh23, Please provide details about TensorFlow version. Also, did you compile from source or install a binary?
In order to expedite the trouble-shooting process, please provide the proper intended code snippet to reproduce the issue reported here. Thanks!

[2019-09-20 10:02] parascse opened #32687 "CocoaPods could not find compatible version for pod 'TensorFlowLiteSwift'- with iOS 8 deployment target"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-09-20 10:04] parascse commented on #32687
When I install 'TensorFlowLiteSwift' in my swift project with deployment target 8 it give me this error. is there any way we can achieve this?
![Screenshot 2019-09-19 at 3 54 26 PM](https://user-images.githubusercontent.com/13555198/65318880-17bb5b80-dbbc-11e9-8fe0-46f4a3cc2513.png)

[2019-09-20 10:08] ravikyram commented on #32687
Can you please elaborate about the issue & the context.Please, provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2019-09-20 10:10] ravikyram commented on #32686
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-09-20 10:19] oanush commented on #32641
@DeveloperRachit ,
Can you share a simple and standalone code to reproduce the issue?Thanks!

[2019-09-20 10:34] DeveloperRachit commented on #32641
Train.py
====================================================================
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np
from scipy.io import loadmat
from urllib.request import urlretrieve
from os.path import isfile, isdir
from tqdm import tqdm
import os
import cv2

from model import GAN
from dataset import Dataset,view_samples

data_dir = '../train_00/'
real_size =

[2019-09-20 10:35] DeveloperRachit commented on #32641
datasets.py
========================
import numpy as np

def view_samples(epoch, samples, nrows, ncols, figsize=(5,5)):
    fig, axes = plt.subplots(figsize=figsize, nrows=nrows, ncols=ncols,
                             sharey=True, sharex=True)
    for ax, img in zip(axes.flatten(), samples[epoch]):
        ax.axis('off')
        img = ((img - img.min())*255 / (img.max() - img.min())).astype(np.

[2019-09-20 10:36] DeveloperRachit commented on #32641
model.py
==================================================
import tensorflow as tf

def model_inputs(real_dim, z_dim):
    inputs_real = tf.placeholder(tf.float32, (None, *real_dim), name='input_real')
    inputs_z = tf.placeholder(tf.float32, (None, z_dim), name='input_z')

    return inputs_real, inputs_z

def generator(z, output_dim, reuse=False, alpha=0.2, training=True):
    with tf.variable

[2019-09-20 10:37] DeveloperRachit commented on #32641
look into this code

[2019-09-20 10:47] ravikyram commented on #32685
Can you please try with `!pip install tf-nightly-2.0-preview==2.0.0.dev20190919`and see if the problem still persists. I am not seeing any error message.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/8a0f645e34569d088493c78613b72da4/untitled208.ipynb). Thanks!

[2019-09-20 10:47] parascse commented on #32687
Hi @ravikyram ,  please find my Podfile in the attachment. When I run 'pod install' from my terminal then it gives me this error. Thanks for the response.
![Screenshot 2019-09-20 at 3 48 00 PM](https://user-images.githubusercontent.com/13555198/65321578-31f83800-dbc2-11e9-8b3c-423008e05de9.png)

[2019-09-20 11:03] shanshanpt commented on #32549
I'm Sorry, maybe I didn't describe it clearly.
This is what my codes like:

[code]

And only chief-worker can do the CheckpointSaverHook. If chief-worker is quitted before all others workers, no other workers will do the CheckpointSaverHook. But other workers are still doing the training-task. No worker will save the checkpoint now.
So I think there should a function to promise that chief-worker e

[2019-09-20 11:12] rishabhsahrawat commented on #32651
HELLO @oanush , here is the Colab file [link.](https://drive.google.com/open?id=1nQi-DkqpaXj4NCNR3_EBbx_kNJr1BLV2)
Please have a look and help me as soon as possible. Thank you!

[2019-09-20 11:25] tusharsh23 commented on #32642
tensorflow-1.14.0
Below is the entire script.

`# Copyright 2015 Google Inc. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
#

[2019-09-20 11:25] tusharsh23 commented on #32642
I compile it from source.

[2019-09-20 11:40] HarikrishnanBalagopal commented on #32311
Closing issue since pull request fixing it has been merged in v1.14

[2019-09-20 11:40] #32311 closed

[2019-09-20 11:47] xiabai84 commented on #31927
I have the same error too.

[2019-09-20 12:02] boegel commented on #30703
@byronyi Any updates on this? I'm hitting the same problem...

[2019-09-20 12:06] gadagashwini commented on #32680
@t-kalinowski,
I could reproduce the issue with Tf 2.0.0.rc1. Can you try with latest Tf 2.0 nightly version. Thanks!

[2019-09-20 12:21] marhlder commented on #32539
We have a similar issue with the jar running with Ubuntu 18.04

[2019-09-20 12:37] somedadaism commented on #30112
This is still a massive problem. Can you guide us to a workaround/solution?

[2019-09-20 12:44] somedadaism commented on #32612
This does only work for this simple toy example. But if I want to fit the model and then save and the reload it will not work. I know how to workaround this thing myself but the intended way is not working for me. The same problem also exists for classes implementing `tf.keras.metrics.Metric.`
[code]

[2019-09-20 13:07] pandrey-fr commented on #32627
@alexzruiz
No offense, but your issue has nothing to do with the current thread. That being said, it seems that there is a typo in the requirements file you are using: it should be `tensorflow==2.0.0-rc0`.

[2019-09-20 13:19] dbergh commented on #32685
Thanks! That fixed it.
But also had to downgrade to Python 3.6.8 since nightly builds are not available for 3.7.

[2019-09-20 13:25] fgr1986 commented on #32656
Hi @oanush , just reproduced the problem with ' 2.0.0-rc1'. Please, note that the error is a warning, (it continues execution but it does not correctly pass the autograph function.

You can see the issue putting ' print(tf.__version__)' in https://colab.research.google.com/github/tensorflow/docs/blob/r2.0rc/site/en/r2/tutorials/quickstart/advanced.ipynb

[2019-09-20 14:02] aaroey commented on #32489
@cyrus2018 did you disable TF logging? Normally it should print something like:
[code]

[2019-09-20 14:25] jpadrao commented on #32355
Any updates?

I found this [readme](https://github.com/tensorflow/community/blob/master/rfcs/20181016-replicator.md#use-case-4-users-who-will-create-new-distributionstrategy-implementations) which explains some aspects of the API, but doesn't really explains how to create a new Distribution Strategy, or at least, a new reduction method

thanks

[2019-09-20 14:26] zivaliserkan commented on #4070
Hi every body,
Is there solve this problem ?

I have the nvidia jetson TK1 kit. I can't add tensorflow-gpu to this card. I've been looking for a lot of forms, but I couldn't find anything for 32 bits. Can you help with this?

[2019-09-20 14:28] Gzzgz opened #32689 "tf.train.import_meta_graph raise ValueError(str(e)) ValueError: Cannot add function '__inference_Dataset_flat_map_read_one_file_11' because a different function with the same name already exists."
Traceback (most recent call last):
  File "test.py", line 121, in <module>
    test()
  File "test.py", line 67, in test
    saver = tf.train.import_meta_graph('checkpoint/-301.meta')
  File "/usr/local/lib/python3.6/dist-packages/tensorflow/python/training/saver.py", line 1449, in import_meta_graph
    **kwargs)[0]
  File "/usr/local/lib/python3.6/dist-packages/tensorflow/python/training/saver.py

[2019-09-20 14:34] remydubois commented on #32660
Thanks for looking into that,

the np array is created and saved at the beginning of the MVCE `np.save(filepath, np.ones(shape=(400, ) * 3))`. It creates a ~200MB file on disk, used later for benchmarking.
It is as well deleted at the end of the script, that might be the reason why you don't find it once the MVCE has run.

[2019-09-20 14:40] t-kalinowski commented on #32680
Thanks,
This appears to be fixed in tf 2.0 nightly preview (tf version `2.0.0-dev20190920`) and in tf version 1.15.0-rc1

However, this is currently broken in the tf v1 nightly (taken from `pip install tf-nightly`, tf version `1.15.0-dev20190821`

[2019-09-20 14:41] ghannum commented on #32398
It looks like you ran both scripts in Tf 2.0.0.rc1. The error only occurs if the model was created in Tf 1.13. This is a backwards-compatibility issue with the file format / parser. That gist tool is awesome btw.

[2019-09-20 14:53] martinwicke commented on #32490
This this would be merely fixing a test, and since contrib won't be distributed with TensorFlow going forward, I think we should not worry about this.

There is no user visible impact of any change to fix this. If we had a fix for the underlying problem that would be interesting.

[2019-09-20 14:53] #32490 closed

[2019-09-20 14:53] YichengWu commented on #32218
@rryan , thank you so much for your help! Yes, my code is running on GPU. And the speed is varying from day to day even there is nothing else running on the cluster, sometimes 60s/100iter, sometimes 7s/100iter.

[2019-09-20 14:59] jjhelmus commented on #30256
From the install commands the Python interpreter seems to be installed using conda but the tensorflow is coming from pip.  Note that using the `cudatoolkit` and `cudnn` packages to full fill the CUDA requirements of the pip package is not recommended nor supported.

[2019-09-20 15:10] rryan commented on #32218
Gotcha, what happens when you run this on the machine with the RTX2080Ti?

[code]

[2019-09-20 15:12] rryan commented on #32218
If this is a cluster, is it possible that your job is switching between multiple machines -- some of which have a PCI_BUS_ID 1 for the RTX2080Ti, some of which don't?

[2019-09-20 15:14] roshande commented on #26289
Can I use TensorFlow-1.14 with Cuda 10.1 now without building it?

[2019-09-20 15:17] rryan commented on #32218
One way to make sure in the code is to add this after you set CUDA_VISIBLE_DEVICES:

[code]

and then later in your code:

[code]
That way, TensorFlow will throw an error if it can't put the FFT on a GPU.

We definitely could have a bug leading to unstable performance, but I just want to sanity check and make sure that the FFTs are definitely running on the GPU in your cluster environment.

[2019-09-20 15:31] chsigg commented on #30256
This is the driver compiling all of TensorFlow's CUDA kernels at startup. Your GTX 850M has CUDA compute capability 5.0. We ship TensorFlow with precompiled kernels for the following compute capabilities: 3.5,3.7,5.2,6.0,6.1,7.0

GPUs with compute capability 5.0 are low end devices which are not recommended for running TensorFlow. See https://en.wikipedia.org/wiki/CUDA

I'm closing this comment be

[2019-09-20 15:31] #30256 closed

[2019-09-20 15:35] mihaimaruseac commented on #31434
I think you have to use the `copt` option in Bazel.

[2019-09-20 15:49] VladBlat opened #32690 "How to restore weights of model from zoo as trainable or how to train custom model with object detection script"
Hello
I'm trying to add some new outs to ssd mobilenet v2 taken from model zoo. How to restore graph and variables data to train my additional layers and fine tune mobilenet for better future extracting.</br>
In my tries i used tf.Saver and simple import_meta_graph and restore.</br>
Or push me to right way with using TFObjectDetection API for this task

[2019-09-20 15:54] jvishnuvardhan commented on #32679
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-09-20 15:54] #32679 closed

[2019-09-20 16:06] mschonwe opened #32691 "TF 1.14.0 training crashes with unimplemented Conv2D errors (works fine in TF 1.13.2)"
**Environment**
- Ubuntu 16.04:
- Docker based tensorflow/tensorflow:1.14.0-gpu
- tensor2tensor==1.14.0 (pip installed in container)
- Python 2.7
- CUDA/cuDNN version: 10/7 (defaults from docker image)
- GPUs (tested on many from 1080 to RTX Titan)

**Issue**
Change in Tensorflow has broken tensor2tensor librispeech training.

Running librispeech training crashes with Unimplemented Conv2D errors.

[2019-09-20 16:08] YichengWu commented on #32218
Hey RJ, I just checked my code and the code is running on the GPU. Just want to let you know that there were several times that the speed changed a lot for one running (without stopping the code)

[2019-09-20 16:13] mihaimaruseac commented on #32686
Closing as nothing useful has been inserted

[2019-09-20 16:13] #32686 closed

[2019-09-20 16:19] Leslie-Fang commented on #32691
Hi @mschonwe
It seems you are installing a GPU version.
Why it throws the error message on CPU? Did you run the training on CPU?

[2019-09-20 16:31] cerberusdevops opened #32692 "Hi"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that would be helpful to diagno

[2019-09-20 16:33] alokmalik opened #32693 "Tensorflow 2.0 tf.lite.TFLiteConverter.from_keras_model giving 'str' object has no attribute 'call'"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-09-20 16:51] prashastk opened #32694 ""TypeError: list indices must be integers or slices, not str" in preempted_hook.py"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below):1.14
- P

[2019-09-20 16:56] mschonwe commented on #32691
@Leslie-Fang the device placement _should_ be putting these ops on GPU (afaik).  The issue only crops up in new versions of TF code, in older versions the GPU utilization is appropriately high.

[2019-09-20 17:20] rryan commented on #32218
Thanks for double-checking and the additional info (the speed changes within the same training run). I don't know what could be causing this.

When you hit a period of slowness, what happens if you kill training and re-start? Does it return to fast execution immediately or does the slowness persist?

[2019-09-20 17:22] wuliytTaotao commented on #20619
When we need do learning rate decay or ReduceLROnPlateau, we shouldn't use like this. Use the optimizers of tf.keras, not tf.train or tf.contrib.opt.

ReduceLROnPlateau indeed changes the value `opt.lr`, but it's not the true learning rate of the optimizer, when we see the source code, we can find the true learning rate is `opt._lr`, so the ReduceLROnPlateau actually doesn't work.

[2019-09-20 17:23] jvishnuvardhan commented on #32623
@josei Can you try TF1.15.0rc1 and let us know if the issue persists or not. Thanks!

[2019-09-20 17:27] mihaimaruseac commented on #32623
See https://devtalk.nvidia.com/default/topic/749939/cuda-is-not-active-unless-i-run-it-with-sudo-privillages-/

[2019-09-20 17:28] Quiigi commented on #30995
I have `keras.__version__` '2.2.4', and there's no "recurrent_v2.py".
At https://github.com/tensorflow/tensorflow/blob/3a9580e2c7ed4473eb63438c6f408a49e87f417d/tensorflow/python/keras/layers/recurrent.py#L2103
I see
`               recurrent_activation='hard_sigmoid',`
(And activation is 'tanh', resulting presumably in the node from where I was able to trace back the mod 4 issue to **matrix multip

[2019-09-20 17:31] HarshGautam commented on #22512
I am unable to get rid from this error

Traceback (most recent call last):
  File "C:\Users\Harsh\AppData\Roaming\Python\Python37\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\Harsh\AppData\Roaming\Python\Python37\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 28, in

[2019-09-20 17:35] jdduke commented on #32637
Doesn't appear to be specific to TensorFlow Lite:

[2019-09-20 17:39] YichengWu commented on #32218
If I restart, the code is still slow. After a random period of time, the code becomes fast.

[2019-09-20 17:45] mihaimaruseac commented on #32692
Please stop making spam issues/PRs

[2019-09-20 17:45] #32692 closed

[2019-09-20 17:46] jvishnuvardhan commented on #32655
@maxx2803 One question. Can you confirm whether `path_graph_model_export_dir` and `modelPath` are same? Can you try TF1.15.0rc1 and let us know whether the issue persists.

Can you also share a simple standalone code to reproduce the issue. You can use public data.  Thanks!

[2019-09-20 17:51] #32461 closed

[2019-09-20 18:14] josei commented on #32623
@mihaimaruseac Thanks, I'll research in that direction and report here

[2019-09-20 18:15] tanzhenyu commented on #20619
For all -- please use 1.14 and migrate to tf.keras.optimizers so that this wouldn't become an issue for you.

[2019-09-20 18:17] gunan commented on #32637
This is a download issue:
[code]

[2019-09-20 18:20] jvishnuvardhan commented on #32664
@rodrigob TensorFlow website is getting updated for `TF2.0`. Please wait for couple of days to update the links. For now you can find those file at this [location](https://github.com/tensorflow/tensorflow/tree/r1.15/tensorflow/contrib/eager/python/examples). Thanks!

[2019-09-20 18:24] mschonwe commented on #32691
I've tracked down the the function where it goes off the rails (_when running TF 1.14.0_):
[code]

[2019-09-20 18:29] wuliytTaotao commented on #20619
But some optimizers like AdamW are not implemented in tf.keras.optimizers

[2019-09-20 18:29] ymodak commented on #32569
I suspect you have multiple cuda versions installed on your system. TF 1.14 prebuilt binary supports cuda 10.0 that can be one plausible explanation.

[2019-09-20 18:41] rodrigob commented on #32664
why are we deploying websites with broken links ?
in 2019 automated links checking should be part of the deployment/testing process.

[2019-09-20 18:51] jvishnuvardhan commented on #32575
@KANGRuipeng Please post custom_ops related issue in that repo. When you post a new issue, please add a small standalone example to reproduce the issue. If the issue is more related to TF Core then post it in this repo. Thanks again.

[2019-09-20 18:58] tanzhenyu commented on #20619
If this is strongly desired, file a request and either we can make this into tf core or tf addon.

[2019-09-20 18:58] cliffwoolley commented on #32480
TensorRT 6.0.1, which was released this week, and cuDNN 7.6.4, which is coming soon, both have fixes for this issue.  Thanks for reporting it!

[2019-09-20 18:59] ymodak commented on #32458
Have you considered using [Automatic Mixed Precision for Deep Learning](https://developer.nvidia.com/automatic-mixed-precision) for your use case.

[2019-09-20 19:13] nsantavas opened #32696 "[TF1.14] Network compiles localy but not on TPU with error 'InvalidArgumentError: Undeclared output of TPU computation.'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Custom
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.14
- Python version: 3
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling fro

[2019-09-20 19:14] isaacgerg opened #32697 "In Windows, use of fit_generator and evaluate_generator result in "builtins.TypeError: 'NoneType' object is not subscriptable""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes, provided lower in the post.

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 7, Python 3.7, tensorflow 1.13.1

- TensorFlow installed from (source or binary):
via pip

- TensorFlow version (use command below): 1.13,1

- Python version: 3.7
- CUDA/cuDNN ve

[2019-09-20 20:22] Ark-kun opened #32698 "Tensorflow v2.0rc* is impossible to install with pip 18.1"
I'm installing TF on Debian 10 with python 3.6: `Debian 4.19.37-5+deb10u1rodete2 (2019-08-06 > 2018) x86_64 GNU/Linux`

TF 2.0beta1 had support for the manylinux1 tag which allowed me to successfully install it.
TF 2.0rc1 switched to the `manylinux2010` tag which is not supported on my Debian installation with pip 18.1 and rc1 cannot be installed.

Can TF not require upgrading pip to install?

[co

[2019-09-20 20:26] mihaimaruseac commented on #32698
Unfortunately, no, we need to be manylinux2010 compatible if we want our pips to reside on PyPi.

Please update your pip via `python -m pip install --upgrade pip` or similar.

Closing this issue as there is a fix (upgrade pip) and there is no way to not use the `manylinux2010` tag.

[2019-09-20 20:26] #32698 closed

[2019-09-20 20:48] jvishnuvardhan commented on #32657
@rodrigob Thanks for pointing that "404" error. TensorFlow website is getting updated for TF2.0. Please wait for couple of days to update the links. Thanks!

[2019-09-20 21:03] jvishnuvardhan commented on #32672
@currivan I Don't see any issue if you remove the ".h5" from the `model.save`. I changed only last line from your code as follows.

[code]
Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/9348e139288b969517ed527334e5fb57/32672.ipynb). Thanks!

I am closing this issue as it was resolved. Please feel free to open it if the issue persists again. Thanks!

[2019-09-20 21:41] gowthamkpr commented on #32682
@MikoyChinese  In the first case you are using the same layer again (which should cause an error) i.e., you are passing output of 1st layer as again the input of the same layer which is causing an error but in the second case you are using two different layers i.e., you are passing the output of 1st layer to the input of 2nd layer(with same configuration). hope this helps!

[2019-09-20 21:44] gowthamkpr commented on #32614
@morgangiraud Glad that it worked. Can i close this issue?

[2019-09-20 22:30] jvishnuvardhan commented on #32520
@ychen404 Can you try `TF1.15.0rc1` and let us know whether the issue persists? Another request to you is "please provide small standalone code". Thanks!

[2019-09-20 22:42] allangelman opened #32701 "Segmentation Fault (core dumped) while training on 1.14"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Running a public github repo
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.2 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): 1.14.0
- TensorFlo

[2019-09-20 22:43] drasmuss opened #32702 "Keras casts targets to incorrect dtype"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0rc1

[2019-09-20 22:58] drasmuss commented on #32702
Haven't had a chance to look into this in detail, but it might be fixed by adding
[code]
here https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/keras/engine/training_eager.py#L129

[2019-09-20 23:10] johnbensnyder commented on #30703
I got this working by adding
#include "tensorflow/core/util/gpu_kernel_helper.h"
to line 23 of
tensorflow/contrib/mpi_collectives/kernels/ring.cu.cc
Still testing everything, but seems to be working so far.

[2019-09-20 23:12] DoubangoTelecom commented on #19267
Check https://github.com/DoubangoTelecom/TensorflowStaticNativeLibsAndroid/blob/master/README.md#known-issue

[2019-09-20 23:36] ymodak commented on #32363
What is the minor version of cudnn? It should be 7.6.X or 7.5.X

[2019-09-20 23:53] aaroey commented on #32518
@sgambient as you said please try to increase the workspace size. Also @pooyadavoodi .
If it fails to build the engine, the fallback should work transparently. If not please reopen or file another issue.

[2019-09-20 23:53] #32518 closed

[2019-09-20 23:55] yurivict commented on #32661
I fixed the link, sorry for  the mishap.

[2019-09-21 00:55] Ark-kun commented on #32698
Can you please elaborate a bit more on that or point me to the relevant document?
The official python [doc](https://packaging.python.org/specifications/platform-compatibility-tags/) just mentions that "manylinux2010 is not yet widely recognised by install tools."
TF Model analysis does not publish `manylinux2010` wheels and neither does `numpy` (https://pypi.org/simple/numpy/), so I'm not sure wha

[2019-09-21 01:46] vicky30mar82 opened #32703 "Keras/tensorflow not working in Command Line"
Hi Team,

I am trying to execute my pyhton code using Keras and Numpy Library on command Prompt.
It is working fine with Jupyter Notebook.
[keras_prediction - Copy.txt](https://github.com/tensorflow/tensorflow/files/3638219/keras_prediction.-.Copy.txt)

I am facing the following error.

_D:\Vivek\Python\Sigmoid_basic>python keras_prediction.py
Using TensorFlow backend.
Traceback (most recent call

[2019-09-21 03:43] KANGRuipeng commented on #32575
The problem is caused by GCC Version. Thks!

[2019-09-21 03:45] martinXie commented on #32383
use gast 0.2.2 sovle my issue as well.

[2019-09-21 03:59] HubberDev commented on #32500
I can reproduce this issue with the same setting. If I add keras.backend.clear_session() after each call to model.predict(), it is getting super slow.

[2019-09-21 05:29] Ryan-cv opened #32704 "nn"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2019-09-21 07:07] MikoyChinese commented on #32682
@gowthamkpr Thanks for your help, but I have some questions about it. If I create this as a class, why can't I call it again but should create two different layers class with same configuration. To me, I think that the class should call back again and again for writing less code.

[2019-09-21 08:09] morgangiraud commented on #32614
Well, it depends on your policy I guess.
The problem is not only mine (based on the issue you linked) and is not solved (since I can reproduce it) but it is not happening on all platform so I don't know if this is the kind of bug the TF team is going after.

[2019-09-21 08:10] wzm2256 opened #32705 "Reset tf.metrics.mean"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):1.8
- Are you willing to contribute it (Yes/No):yes

**Desc

[2019-09-21 09:08] itsucks opened #32706 "GPU never in use with Java API"
Hi, I followed the instructions with (this)(https://www.tensorflow.org/install/lang_java?hl=zh-cn).
And I add my implementations with bert pb model, but the GPUs are never used
![image](https://user-images.githubusercontent.com/7105813/65370990-769ed480-dc91-11e9-80db-244ed652ff9d.png).
I got Tesla K80, and cuda 9.0
![image](https://user-images.githubusercontent.com/7105813/65371023-bd8cca00-dc91-

[2019-09-21 09:44] chansonzhang commented on #12745
I met the same problem in kubeflow, due to network problems.
I finally solved this by following steps,
1) fix flannel service, and make sure network between each ps/worker or worker/worker pair is reachable. you can check that by curl <ip>:<port> in each tfjob pod;
2) fix dns prolem, and make make sure curl <tfjob_name>:<port> between each pair tfjob pods also works. you should check that all dns

[2019-09-21 10:12] tocab opened #32707 "Out of memory error during training"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-09-21 10:42] che-shr-cat commented on #32377
Got the same issue, it was resolved after installing gast 0.2.2. Previous gast version was 0.3.2

[2019-09-21 10:52] iperov opened #32708 "module 'tensorflow' has no attribute 'enable_eager_execution'"
I installed *tensorflow-gpu==2.0.0rc1* from pip

[code]

[2019-09-21 10:55] #32708 closed

[2019-09-21 10:59] iperov opened #32709 "out of memory flood on the simplest op"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): win7 x64
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.0.0rc1
- Python version: 3.7.4
- CUDA/cuDNN version: 10.0, 3.7.5
- GPU model and memory: GTX 1060, 6GB

**Describe the current behavior**

[code]

results infinite flood:
[code]

**Describe the expected behavior**

[2019-09-21 11:33] ferdinan97 opened #32710 "Android Examples"
i already install and run tensorflow examples but it consist of tf_classify,tf_detect,tf_speech and tf_style. so can anyone tell me how to install only tf_detect ?

[2019-09-21 12:24] tensorflowbutler commented on #26512
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-09-21 12:24] tensorflowbutler commented on #31245
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-09-21 12:24] tensorflowbutler commented on #31870
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-09-21 13:20] ravinderkhatri opened #32711 "tf.pow throwing negative or zero value for large value of exponent."
I am using tensorflow 1.14.0 version with Python 3 Google compute engine backend in Google Colab having a RAM 12.72 GB, Disk 48.97 GB and tf.GIT_VERSION v1.14.0-0-g87989f6959

While performing tf.pow operation I have observed that tf.pow returns negative or zero value for large value of exponent.

[code]
Printed values are:
[code]
**I also tried this with tensorflow 2.0.0-alpha0 version and gettin

[2019-09-21 13:29] boegel commented on #30703
I can confirm that adding an `include` statement for `tensorflow/core/util/gpu_kernel_helper.h` fixed the reported issue, thanks for sharing @johnbensnyder!

[2019-09-21 13:48] reliefs commented on #32698
Read more about it here

https://github.com/tensorflow/tensorflow/issues/32627

All the Google employees in this repo will not take your issue serious, pls avoid talking to them and only talk to core TensorFlow devs.

[2019-09-21 14:38] kavyasreebitla commented on #20311
ImportError: could not find nvcuda.dll

[2019-09-21 15:53] runnableapps commented on #31114
I'm also got this crash

[2019-09-21 16:10] tsc2017 opened #32712 "TPUStrategy.make_dataset_iterator does not work for a Dataset created by tf.data.Dataset.from_generator"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab default environment
- TensorFlow installed from (source or binary): Colab  default
- TensorFlow version (use command below): 1.14
- Python version: Python 3

**Describe the current behavior**
I first create a D

[2019-09-21 16:23] awav commented on #32242
Hello @ravikyram , @jvishnuvardhan , @rchao! Any updates on the topic?

[2019-09-21 16:35] jtiscione commented on #32077
This problem is not fixed.

[mnist.ipynb.txt](https://github.com/tensorflow/tensorflow/files/3638873/mnist.ipynb.txt)

[2019-09-21 17:35] Yrij-Zhavoronkov opened #32713 "Ussage via JNI (libtensorflow-1.14.0.jar+libtensorflow-src.jar+tensorflow_jni.dll) JDK=1.8"
Hello! Append lib (libtensorflow-1.14.0.jar) as User library on Eclipse, include libtensorflow-src.jar as source for this user lib, try to build examle and java take me:
`Exception in thread "main" java.lang.UnsatisfiedLinkError: Cannot find TensorFlow native library for OS: windows, architecture: x86_64.`

why resoure name is `org/tensorflow/native/windows-x86_64/tensorflow_jni.dll`?

Note:
libte

[2019-09-21 18:01] Mouradost commented on #30160
@ymodak can you please open again this issue

[2019-09-21 18:23] SamuelGabriel commented on #3862
I submitted a fix to this issue in the PR #32714

[2019-09-21 18:39] Catminusminus opened #32715 "About FGSM implementation in the tutorial"
## URL(s) with the issue:

https://www.tensorflow.org/beta/tutorials/generative/adversarial_fgsm
## Description of issue (what needs changing):

The FGSM  implementaiton in the documentation seems to be incorrect.

### Clear description

In the doc, `image_probs` which is equal to the value `model.predict(image)`,  is used to calculate the perturbation.
[code]

The `create_adversarial_pattern` fun

[2019-09-21 20:24] mschonwe commented on #32691
I found an issue that seems related: github.com/tensorflow/tensorflow/issues/26411
I changed add_delta_deltas to hard code placement on CPU:
  with tf.device('/cpu:0'):
    filterbanks = tf.nn.conv2d(
      filterbanks, delta_filter_stack, [1, 1, 1, 1], "SAME", data_format="NHWC",
      name=name)

Training runs without error.  Seems to me it would be preferable to place the conv2d op on GPU (exce

[2019-09-21 20:38] DonaldM164 opened #32716 "Tensorflow Serving Bad Docker Example"
Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/tfx/serving/docker

## Description of issue (what needs changing):
The first example does not work when you get to this command:

docker run -t --rm -p 8501:8501 \
    -v "$TESTDATA/saved_model_half_plus_two_cpu:/models/half_plus_two" \
    -e MODEL_NAME=half_plus_two \
    tensorflow/serving &

The command w

[2019-09-21 22:11] njeffrie commented on #32468
The error you're running into is definitely caused by us not having an int8 version (version 2) of CONV2D.  I'm working to add int8 per-channel quantization to DEPTHWISE_CONV and CONV2D, which should solve your problem.  This should land within the next week.  I would expect to see the type error that Rocky mentioned, so I'll have a quick look next week to make sure we are logging type errors corr

[2019-09-21 22:54] modeepfake commented on #16768
Could you please explain how did you change the dim to 256?

[2019-09-21 23:27] jvishnuvardhan commented on #32612
@somedadaism Custom functions are not compatible.

`model.save` before `model.compile` works for small toy example and big model also.

When you load the saved model, load the model using `tf.keras.models.load_model` and then `compile`.

Please try this even for the above example or any other big model and let us know if you have any issue there.

If you don't have any custom function, then follow

[2019-09-22 00:08] jvishnuvardhan commented on #27465
@slapersonne This is a stale issue. Is this still an issue? Could you please check and let us know. If this was resolved, please close the issue. Thanks!

[2019-09-22 00:35] somedadaism commented on #32612
By simple toy example I meant my code was so minimal that your workaround would work for it but not for the standard usecase. The difference is that usually you also `fit` the model. I had updated the code in my last post to show how `save` before `compile` usually does not work.
I think Custom Loss Functions and Metrics should be supported. Can you fix this so keras works as expected?

[2019-09-22 00:42] jvishnuvardhan commented on #29784
@ageron The [documentation](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/saved_model/load) in the TF website mentions that

`The object returned by tf.saved_model.load is not a Keras object (i.e. doesn't have .fit, .predict, etc. methods).

Also it was mentioned that

`Use tf.keras.models.load_model to restore the Keras model.`

So, if you replace one line in your code, it works wit

[2019-09-22 02:12] Times125 commented on #32646
I have this problem ,too. my code works well in 2.0b1, not work in tf 2.0rc1

[2019-09-22 02:43] ayrtondenner commented on #28865
What worked for me was editing the `find_cuda_config.py` file. I went to line 455, after the script updated variable base_paths by filtering paths that existed via `os.path.exists(path)`, and then I added a `base_paths.append("C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v10.1")` line, explicit adding to base_paths the CUDA path in my Windows 10. After that, `bazel build --config=v2 //te

[2019-09-22 04:07] JinLi711 commented on #30167
I'm having the same issue in Tensorflow 2.0.0-rc0, and it doesn't seem to have anything to do with the kernel size.

`
from tensorflow.keras import layers
convLayer = layers.Conv2D(
    4,
    (2,2),
    data_format='channels_last',
    padding='valid',
    dilation_rate=3)
`

Running:

`
convLayer(np.random.random((3,6,6, 12)))
`
works fine.

But if I run this right after:

`
convLayer(np.random.

[2019-09-22 04:53] appleyuchi commented on #26375
@jvishnuvardhan
Hi it seems that it's duet to the bug from Colab.
Because the GPU of Colab will make almost every package to run slower than that under CPU.
It's very strange

[2019-09-22 05:11] samhodge commented on #32128
Any eyes on this?

[2019-09-22 05:14] franva commented on #26209
any update in September 2019??
I'm with Cuda 10.1

[2019-09-22 07:18] appleyuchi commented on #30531
So is it solved or Just only can be solved with pip install tensorflow==1.13.1???
@BrianHung

[2019-09-22 07:57] Davari393 commented on #22278
I have it too.does not any one help us?
it is force for me

[2019-09-22 08:38] BrianHung commented on #30531
@appleyuchi I think you still have to use `1.13.1` considering `1.14` is still the latest release of tensorflow.

[2019-09-22 09:28] ravinderkhatri commented on #32711
I have resolved this issue. The issue was this dtype. By default, tf.constant inferred the value of dtype is not specified. This inference is causing the error when dealing with larger multiplication.

 Shouldn't tensorflow notify this to the user instead of giving the incorrect values ? Wouldn't it be a good idea to raise memory or dtype error instead of throwing the wrong value, as it is harder

[2019-09-22 09:29] #32711 closed

[2019-09-22 09:58] babytut commented on #32405
thank you for your reply. But It still have error. I have to use prebuild package

[2019-09-22 11:00] gentelyang opened #32717 "Did you open MPI when compiling the WHL package for this URL?https://pypi.org/project/tensorflow/1.14.0/#files"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-09-22 11:03] awav opened #32718 "[TF2.0] TensorFlow nightly build for Python 3.7"
**System information**
- OS Platform and Distribution: **macOS**
- TensorFlow version: **tf-nightly-2.0-preview**
- Python version: **3.7**
- Installed using virtualenv? pip? conda?: **conda**

Hello everyone,

I can't install tensorflow 2.0 nighly build for `py3.7`:

[code]

[2019-09-22 11:17] Times125 commented on #31973
so lj u are

[2019-09-22 11:38] sirius0503 commented on #11851
@arthitag : This solution didn't work for me, I have tensorflow installed in a venv virtualenv and my jupyter-notebook is installed in miniconda global install

[2019-09-22 11:54] schoettner commented on #32574
@mihaimaruseac To get a better understanding of changes from TF1 to TF2 I did not want to use the converter but do it myself. However, after several hours I resign. Many (but not all) imports could be fixed with adding
[code]

[2019-09-22 12:01] NobuoTsukamoto commented on #27880
Hello, @ulorentz, @Alekxos
I have the same problem with TF2.0rc1 (use MobileNet v2). As a result of visualizing the model with [visualize.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/tools/visualize.py), Input / Output is Float, not Full intger quantization model. I think this is the reason why EdgeTPUCompiler fails.

I have found that using "**from_keras_model_file**"

[2019-09-22 14:15] churvey opened #32719 "bundle_reader read tensor larger than 2GB will lead index overflow"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-09-22 14:50] djdeepak88 commented on #16768
In the configuration file. Change the dimensions

On Sun, 22 Sep, 2019, 12:00 AM modeepfake, <notifications@github.com> wrote:

[2019-09-22 15:11] arozans commented on #31549
Hey, any news on that one? Any suggestion where to look? I'm attaching one more log, this time with corresponding gpu (from `nvidia-smi`) and cpu (from `ps`). (Usage of cpu with time is also decreasing, because after some time only one core is working on 100%)
[cnn_training_0921t2132.log](https://github.com/tensorflow/tensorflow/files/3639879/cnn_training_0921t2132.log)
[cpu.log](https://github.co

[2019-09-22 16:57] TommeyChang commented on #32377
OS:Ubuntu 16.04
TensorFlow Version:tensorflow-gpu == 2.0.0-rc1
CUDA:10.0
issue:AutoGraph

INFO:tensorflow:Converted call: <function simple_nn_layer at 0x7f6de177c598>
    args: (<tf.Tensor 'x:0' shape=(3, 3) dtype=float32>, <tf.Tensor 'y:0' shape=(3, 3) dtype=float32>)
    kwargs: {}

Converted call: <function simple_nn_layer at 0x7f6de177c598>
    args: (<tf.Tensor 'x:0' shape=(3, 3) dtype=float3

[2019-09-22 17:36] YumiAlmero03 commented on #17101
this works thank you!

[2019-09-22 18:55] awav commented on #26204
@bloops , does anyone else is going to work on that? Do you know what should be changed to make it work?

[2019-09-22 20:11] mihaimaruseac commented on #32698
Hi there @reliefs

This issue has no relationship with 32 bits support. Please don't spam inadvertently.

[2019-09-22 20:12] mihaimaruseac commented on #32698
Pinging @gunan and @angersson for more details about manylinux2010 issue.

[2019-09-22 22:09] gstoica27 opened #32720 "tensorflow.python.framework.errors_impl.InvalidArgumentError: Retval[0] does not have value with BatchNorm and Map_fn"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

Any help would be very greatly appreciated! Thanks!

**System information**
- Have I written custom code (as opposed to using a stock e

[2019-09-23 00:02] SamuelMarks commented on #31434
Overnight I ran:
[code]

But looking at the log, it's still littered with:
[code]

FYI: Build it still failing, on r1.15 branch @ 2e29d3b35a4c5363258ad040a12b3a15affff3c2

[2019-09-23 00:03] andres0820m opened #32721 "how to feed mere than one enter in tensorlow c++"
hi I just new some help with this graph
![image](https://user-images.githubusercontent.com/30030792/65396297-9eae3680-dd6a-11e9-9c23-62a9c25ceac8.png)
 as you can see in the graph, I have more than one enter, are 3 images, I made in the past some feeding in c++ tensorfow but only with one enter I mean one std::string and one tensor, how can I feed the 3 images at the same time 3 std::strings and t

[2019-09-23 01:12] tobegit3hub commented on #25138
Currently we can follow the official document to do that although the APIs are tedious now.

[code]

[2019-09-23 01:16] josei commented on #32623
The problem was that only some `/dev/nvidia*` files are present before running Python with sudo:

    $ ls /dev/nvidia*
    /dev/nvidia0  /dev/nvidiactl  /dev/nvidia-modeset

After running the [Device Node Verification script](https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#runfile-verifications), the `/dev/nvidia-uvm` file gets added, enabling Tensorflow to work on GPU:

[2019-09-23 01:16] #32623 closed

[2019-09-23 01:17] ageron commented on #29784
Indeed, everything works fine with `tf.keras.models.load_model(path)`, thanks @jvishnuvardhan.

However, it's a bit odd that the function returned by `tf.saved_model.load(path)` cannot be used with Keras `Input` objects, since it can be used inside TF Functions:

[code]

How can I use any arbitrary `SavedModel` in a Keras model?

[2019-09-23 02:01] mihaimaruseac commented on #32698
Hi @Ark-kun

Our manylinux1 wheels were incompatible since a long time ago, see for example #8802 and https://github.com/tensorflow/tensorflow/issues/5033#issuecomment-263681255

In the end, it all boils down to the standard C/C++ library used to provide symbols in precompiled code that is then used by Python. Maybe the other packages you mentioned above don't run into these issues.

Regarding the

[2019-09-23 02:10] ziyigogogo commented on #31870
yes it is.

[2019-09-23 02:17] wangyunxiaa commented on #32681
update tensorflow to 1.13 it works

[2019-09-23 02:17] #32681 closed

[2019-09-23 02:57] bigzhouj commented on #8658
What does ‘serving_input_receiver_fn’ mean here，How do I set it up。
BestCheckpointsExporter  and BestExporter Is it the same thing?

[2019-09-23 04:10] #32446 closed

[2019-09-23 04:49] csukuangfj commented on #32468
@njeffrie
I encountered the same problem with TF 1.14. And when I switched to TF 1.13.1 I have the following problem https://github.com/tensorflow/tensorflow/issues/32422

Could you please have a look at it?

[2019-09-23 04:52] jvishnuvardhan commented on #26375
@appleyuchi Please create a new issue and provide a small standalone code to reproduce the issue. Thanks!

[2019-09-23 04:54] SundeepPidugu commented on #32577
Thanks @oanush will try and update you ASAP.

[2019-09-23 05:17] ravikyram commented on #32685
I am closing this issue since the query is been resolved.Thanks!

[2019-09-23 05:17] #32685 closed

[2019-09-23 05:18] gadagashwini commented on #32077
@jtiscione,
Can you please post a new issue by providing the information asked by the [template](https://github.com/tensorflow/tensorflow/issues/new/choose)?
The reason for this is we can focus on your specific configuration and problem since the root cause can be unrelated even though the error messages are similar. Thanks!

[2019-09-23 05:29] oanush commented on #32720
@gstoica27 ,
Thank you for reporting the issue.
Can you please provide code in any text-file with right indentation ?Thanks!

[2019-09-23 05:31] rahimullah11 opened #32722 "AttributeError: module 'tensorflow.python.ops.gen_logging_ops' has no attribute '_scalar_summary'v"
Hello
I getting this error while train my data i  already install latest version of tensor flow
errors

AttributeError: module 'tensorflow.python.ops.gen_logging_ops' has no attribute '_scalar_summary'

[2019-09-23 05:37] DeveloperRachit commented on #32641
Dear Team,,

i have CPU with this configuration Intel(R) Xeon(R) CPU           X5650  @ 2.67GHz after running code wit Tf this going to give me error(core dumped ) is it mean not supportinh cpu either having any issue.  and GPU configuration is GeForce GTX 1050 with 8GB Ram

[2019-09-23 05:39] gadagashwini commented on #32660
@remydubois,
When i tried executing the code on colab i got the following error. Please see the colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/f336c6860e2884b5a281dc7ff9ea3c7f/untitled.ipynb).
`NameError: name 'path' is not defined.`
Thanks!

[2019-09-23 05:44] oanush commented on #32716
@DonaldM164 ,
Please check the [link](https://github.com/tensorflow/serving/issues/1419) and also [Stack-overflow](https://stackoverflow.com/questions/45544928/tensorflow-serving-no-versions-of-servable-model-found-under-base-path) link.Thanks!

[2019-09-23 05:44] gadagashwini commented on #32661
@yurivict,
Good to know that its fixed.
I am closing the issue now. Please feel free to reopen if the issue still persists. Thanks!

[2019-09-23 05:44] #32661 closed

[2019-09-23 05:48] appleyuchi commented on #30531
@BrianHung
Thanks for your replies~!
Got it~!

[2019-09-23 05:49] oanush commented on #32710
@ferdinan97 ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?
Make sure you also include the exact command if possible to produce the output included in your test case.
If you are unclear what to include see the issue template displayed in [the Github new issue te

[2019-09-23 05:52] gadagashwini commented on #32689
@Gzzgz,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-09-23 05:55] ravikyram commented on #32718
@awav

Can you please downgrade to Python 3.6.8 and see if the issue still persists. Thanks!

[2019-09-23 06:00] gadagashwini commented on #32691
@mschonwe,
Please provide the minimal standalone code to reproduce the reported issue. Thanks!

[2019-09-23 06:08] oanush commented on #32709
@iperov ,
Tried running the code in colab for tf-2.0rc1 did not face any error, please take a look at the [gist](https://colab.sandbox.google.com/gist/oanush/f92701b1542fca43d2d1f66b0f262077/32709.ipynb) of the colab. kindly share us the gist if the issue is replicating.Thanks!

[2019-09-23 06:10] gadagashwini commented on #32704
@Ryan-cv,
Please provide the information asked in the template. Thanks!

[2019-09-23 06:19] gadagashwini commented on #32701
@allangelman,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-09-23 06:20] oanush commented on #32702
Issue replicating for TF-2.0rc1, please find the [gist](https://colab.sandbox.google.com/gist/oanush/b796d39a08fb5c287034ece6853834d3/32702.ipynb) of colab.Thanks!

[2019-09-23 06:24] iperov commented on #32709
@oanush  did you try it with cudnn 7.5.0 ?

I installed 7.4.1 and all is fine.

[2019-09-23 06:25] iperov commented on #32709
also problem in windows, not in linux colab.

Read System information.

[2019-09-23 06:25] oanush commented on #32694
@prashastk ,
Can you share a simple and standalone code to reproduce the issue?Thanks!

[2019-09-23 06:29] AkashNagaraj commented on #27519
Run this tf.enable_eager_execution() and then when you try tf.executing_eagerly() it should give True. After this you can use something.numpy() to view the values.

[2019-09-23 06:35] oanush commented on #32519
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-23 06:35] #32519 closed

[2019-09-23 06:35] ravikyram commented on #32712
I have tried on colab with TF version 1.14 and was able to reproduce the issue.However i tried reproducing the issue with TF 1.15.0-rc1 and seeing the below error.
`NotFoundError: Op type not registered 'RebatchDataset' in binary running on n-f4303a18-w-0. Make sure the Op and Kernel are registered in the binary running in this process. Note that if you are loading a saved graph which used ops fro

[2019-09-23 06:36] rishabhsahrawat commented on #32359
Hello @jvishnuvardhan @jhseu , any updates on this issue? At least please confirm that this is coming from TF's end!?

[2019-09-23 06:36] oanush commented on #32529
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-23 06:36] #32529 closed

[2019-09-23 06:37] gadagashwini commented on #32706
@itsucks,
Provide the exact sequence of commands / steps that you executed before running into the problem. Thanks!

[2019-09-23 06:39] gadagashwini commented on #32707
I could reproduce the issue with Tensorflow 2.0.0.rc1.
Please take a look at colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/43f6f6ca0b5c59ebe84bb8118489db99/untitled161.ipynb). Thanks!

[2019-09-23 06:44] bit-pku-zdf opened #32723 "model.ckpt-180000.data-00000-of-00001.tempstate5599057054002993368 appeared"
I am running a image resnet152 model in imagenet dataset, However, when 18W step, a strange file named model.ckpt-180000.data-00000-of-00001.tempstate5599057054002993368 appeared, then my validation is wrong like

OP_REQUIRES failed at save_restore_v2_ops.cc:134 : Unknown: output/checkpoint/model.ckpt-180000.data-00000-of-00001.tempstate5599057054002993368; Input/output error .

It troubled me man

[2019-09-23 06:45] oanush commented on #32546
Issue replicating for TF-2.0rc1,please find the [gist](https://colab.sandbox.google.com/gist/oanush/0983d6584c1c687c0456fff142db4ad4/32546.ipynb) of colab.Thanks!

[2019-09-23 06:46] ravikyram commented on #32705
Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature.Thanks!

[2019-09-23 06:57] njeffrie commented on #32468
Thanks for the reminder and apologies for the delay.  I'll have a look tomorrow.

[2019-09-23 06:58] dimitryn opened #32724 "Tensorflow Lite for Android on x86_64"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
ubuntu 16.0
- TensorFlow installed from (source or binary):
Yes
- TensorFlow version (or github SHA if from source):
master

Hi  , I like to build Tensorflow Lite to run on x86_64 with Android.
I see there is package downloaded  NEON_2_SSE and there is a scripts in tools/make build_XXX for Android/Ios/RPI
Can anyone

[2019-09-23 07:03] gadagashwini commented on #32713
@Yrij-Zhavoronkov,
Provide the exact sequence of commands / steps that you executed before running into the problem. Thanks!

[2019-09-23 07:33] ArtemisZGL opened #32725 "run interpreter.invoke() just show Aborted (core dumped)"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
-(yes) Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
-(Linux U

[2019-09-23 07:35] remydubois commented on #32660
My bad, MVCE updated, there was a small typo.
Thanks for reporting, it should be running fine now, I updated the _timeit_s as well

[2019-09-23 07:40] Yrij-Zhavoronkov commented on #32713
1) Go to: https://www.tensorflow.org/install/lang_java and download libtensorflow.jar and Java Native Interface (JNI) file, save it to project root
2) In Eclipse:  Menu of project -> build Path -> Configure -> Libraries
3) Create new user lib, set libtensorflow-1.14.0.jar as jar for lib, Apply, Finish,
3) Copy Example code from https://www.tensorflow.org/install/lang_java and try to run/debug

[2019-09-23 07:41] #32598 closed

[2019-09-23 07:48] ucasiggcas commented on #32637
have solved the ups
but get the down,
`tensorflow-master$ bazel-bin/tensorflow/lite/toco/toco
--graph_def_file=../my_freeze12xshell.pb --output_file=../my12.tflite
--output_format=TFLITE --input_shape=2,4,513 --input_array=x_mixed
--output_array=y_out1,y_out2 --inference_type=QUANTIZED_UINT8
--inference_input_type=QUANTIZED_UINT8 --std_dev_values=1 --mean_values=0

-bash: bazel-bin/tensorflow/lite

[2019-09-23 07:57] RedTachyon commented on #31973
This has been fixed for rc1 in the newest PyCharm EAP: https://blog.jetbrains.com/pycharm/2019/09/2019-3-eap-2

[2019-09-23 08:01] wzm2256 commented on #32705
I decide to close the issue, because I've thinked about it, maybe it's not a good ideal to change the output of a function, that will cause an error for all older versions. Altough this feature is quite natural: just like all calculators has a 'clear' button.

For anyone who read this. This 'reset' operation can be easily done outside a session without using tf.metrics.mean, although using it with

[2019-09-23 08:01] #32705 closed

[2019-09-23 08:15] maksatkanat commented on #10779
Thanks man! It works for me!
I just run the code in jupyter notebook:
`!/Applications/Python\ 3.6/Install\ Certificates.command`

[2019-09-23 08:17] inkcherry commented on #29632
I have the same problem,and I have 3GPU.  By your way :
tf.config.experimental.set_memory_growth(physical_devices[0], True)
and I got ValueError: Memory growth cannot differ between GPU devices

and then:
tf.config.experimental.set_memory_growth(physical_devices[0], True)
tf.config.experimental.set_memory_growth(physical_devices[1], True)
tf.config.experimental.set_memory_growth(physical_devices[2

[2019-09-23 08:21] ArtemisZGL commented on #31977
where can i find what is supported by the tflite ?    @mmmmayi

[2019-09-23 08:23] lovickie opened #32726 "How to avoid tensorflow@gpu copy outputs to cpu?"
I use tensorflow 1.7.0 at gpu. I call Session::Run function, the inputs Tensor is already gpu Tensor, so input and forward calculate is well. But before output, I see that every outputs has been copied from gpu to cpu, and this is not what I hope. I just want the outputs are all gpu Tensor. How can I do?

[code]

[2019-09-23 08:38] ferdinan97 commented on #32710
**System information**
- OS Platform :Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Asus Zenfone 4 max
- TensorFlow installed from (source or binary):pip install tensorflow gpu==1.13.1
- TensorFlow version:1.13.1
- Python version:3.6.9
- Installed using :miniconda
- Bazel version (if compiling from source): no bazel
- GCC/Compiler versio

[2019-09-23 08:38] ravikyram commented on #32703
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

 If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

We ask for this in the issue submission template,

[2019-09-23 08:38] Xovee commented on #31973
It works, thx a lot.

[2019-09-23 08:39] oanush commented on #32690
@VladBlat ,
Please refer the links [1](https://www.tensorflow.org/guide/saved_model) and [2](https://www.tensorflow.org/beta/guide/keras/saving_and_serializing) and let us know if it helps,thanks!

[2019-09-23 08:44] gadagashwini commented on #32660
@remydubois,
Thanks for the update. Please take a look at the colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/f336c6860e2884b5a281dc7ff9ea3c7f/untitled.ipynb#scrollTo=Ira0XqRn-IJ1). Thanks!

[2019-09-23 08:45] lovickie commented on #32726
the outputs, include target and gradients. MEMCPYDtoH in tensorflow is slow very much, so we hope outputs is gpu Tensors. But I don't know how to ...

[2019-09-23 08:53] gadagashwini commented on #32719
@churvey,
Please provide details about your TensorFlow version. Also, did you compile from source or install a binary?
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-09-23 08:54] oanush commented on #32641
@DeveloperRachit ,
Thank you for the info, could you please try sending a simple and standalone code to replicate the issue reported here?thanks.

[2019-09-23 09:04] gadagashwini commented on #32398
@ghannum,
I tried with Tensorflow 1.13.1 on colab but i didn't get any error. Please see the [gist](https://colab.sandbox.google.com/gist/gadagashwini/f050afc522840a9706dbaeb49d37e6b7/untitled163.ipynb). I executed both the create model and load_model with same TF. Is there any specific reason to use two different versions of TF. Thanks!

[2019-09-23 09:05] DeveloperRachit commented on #32641
i already share code but still i am not getting any answer regarding this

[2019-09-23 09:11] oanush commented on #32656
@fgr1986 ,
I tried again and I did not face and error for TF-2.0rc1. Let us know exactly what warnings are received.

[2019-09-23 09:17] ravikyram commented on #32697
@isaacgerg

I tried to reproduce the issue with TF versions 1.13.1 , 1.15.0-rc1 and i am not seeing any `builtins.TypeError: 'NoneType' object is not subscriptable `but seeing only `loss: nan`
in output for each epoch.Is this the expected output?. I am attaching the [gist](https://colab.sandbox.google.com/gist/ravikyram/a7740644411fbfbf8a753fff7f3d4346/untitled211.ipynb) for your reference.Thanks!

[2019-09-23 09:33] ravikyram commented on #32696
@nsantavas
Looks like code is incomplete. I am seeing the error `NameError: name 'tpu_strategy' is not defined`. Can you please help us with simple standalone code to reproduce the issue in our environment. Thanks!

[2019-09-23 09:42] oanush commented on #32651
Issue replicating for TF-1.14.

[2019-09-23 09:48] nsantavas commented on #32696
Hi, @ravikyram

[code]

add random dataset (None, 540, 540, 3) dimensions

[2019-09-23 09:51] fgr1986 commented on #32656
Hi @oanush .
I do not know where the problem to reproduce the issue may be.
1) Right now, I just opened: https://colab.research.google.com/github/tensorflow/docs/blob/r2.0rc/site/en/r2/tutorials/quickstart/advanced.ipynb
Added `import tensorflow as tf
print(tf.__version__)`
Which reports version `2.0.0-rc1`

2) Changed the runtime to GPU

3) Run all, and get the following warnings:
[code]

Thanks

[2019-09-23 09:58] ravikyram commented on #32677
@yurivict
Please, let us know TensorFlow version you are using and also request you to provide
the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2019-09-23 10:15] kongaskristjan commented on #31114
I had a similar issue from NDK, namely that arm64 Android 5.x devices failed to load the shared library libtensorflowlite.so because of __register_atfork being missing.

The problem is that for at least arm64, __register_atfork usage is somehow generated in the shared library, but [this function is introduced in Android 6](https://android.googlesource.com/platform/bionic/+/master/android-changes-f

[2019-09-23 10:50] Times125 opened #32727 "RNN-Transducer Loss support"
I found that there are no RNN-Transducer  loss in the new version. I have to use third party pkg like [wrap-transducer](https://github.com/HawkAaron/warp-transducer/tree/master/tensorflow_binding)
So, official support is therefore expected. THKS！

[2019-09-23 10:57] uziela opened #32728 "Memory leak when loading and unloading multiple graphs"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.2 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Not applicable
- TensorFlow installed from (source or binary): I used tensorflow/tensorflow:1.1

[2019-09-23 11:44] sdurandeu commented on #31190
Just reviewing this again and I think that from @since2014 comment it's pretty clear what you need to comment. I just leave one more comment if someone encounters this. This fix has to be re-applied if you do `bazel clean`. Thanks!

[2019-09-23 12:01] sseveran commented on #28018
We are experiencing same. Is there an ETA on a fix?

[2019-09-23 12:12] rodrigovimieiro commented on #32574
I am having a similar problem, which I posted [here](https://stackoverflow.com/questions/58012741/error-importing-tensorflow-alreadyexistserror-another-metric-with-the-same-nam). If I import tensorflow 2.0 twice in the same IPython console, I get the same error posted here.

[2019-09-23 12:53] etsygankov commented on #31231
@AHEADer @kielnino According to my experience the generator must return a tuple of length two while objects inside it may be python dicts. Say, your model has two inputs  'x1', 'x2' and a single output. Respective generator may be defined as follows:

[code]
Please note that shape and type of the data produced by generator must be specified while calling `from_generator` though the shape might be

[2019-09-23 13:00] EphChem commented on #26398
Hi there, I'm also experiencing this issue in TF 2.0.  I use `save_model` in TF 2.0 and get `saved_mode.pb` as well as `variables` folder.  When I try to convert this to tflite file I get following error:
[code]
Would be great to find solution...

[2019-09-23 13:21] tapos12 commented on #26846
Hi, I am facing the same problem when sample size is (batch_size)*iteration + 1, it produces the same error `tensorflow.python.framework.errors_impl.InvalidArgumentError: 2 root error(s) found.
  (0) Invalid argument: input must be a vector, got shape: []
	 [[{{node lambda_1_1/module_1_apply_default/StringSplit}}]]
  (1) Invalid argument: input must be a vector, got shape: []
	 [[{{node lambda_1_1

[2019-09-23 13:50] VirRajpurohit commented on #31788
@enorkus
Actually as @jdduke suggested. Our model and the default code needs to be compatible with eachother. For that the input shape array needs to be matched. My input array from model was [1,1917,4] and the somehow code requires [1,10,4] where 10 is number of detection.   So I was supposed to change in model. Doing that helped me running this sample code.

[2019-09-23 14:00] awav commented on #32718
@ravikyram , I didn't have problem with installing TF2.0-preview for _py3.6.8_. According to the tensorflow page it supports 3.7 and it has a pip package for that python version, whereas TF2.0-preview doesn't have a build for _py3.7_.

[2019-09-23 14:07] mihaimaruseac commented on #32574
@rodrigovimieiro I answered there but summarizing here: TF imports have side effects which should be only executed once. Doing the same import twice in the same app results in that error. Please always use the only supported method of `import tensorflow as tf` (once) and then accessing the API via `tf`.

Note that this should go in a different issue, too.

[2019-09-23 14:08] mihaimaruseac commented on #31973
Closing as it has been fixed. Thanks for verifying.

[2019-09-23 14:08] mihaimaruseac commented on #31870
There is a new RC. Can you try with that one?

[2019-09-23 14:10] haimat commented on #32239
Hey guys, has this been fixed in rc2?

[2019-09-23 14:15] Huixxi opened #32729 "ValueError: Variable <tf.Variable 'basic_nstepTD_1/noisy_dense/bias:0' shape=(3,) dtype=float32> has `None` for gradient."
I am trying to implement a self-defined noisy-layer, when I put the `add` operator in the `build` function
[code]
, it will raise the error that  ` ValueError: Variable <tf.Variable 'basic_nstepTD_1/noisy_dense/bias:0' shape=(3,) dtype=float32> has 'None' for gradient. Please make sure that all of your ops have a gradient defined (i.e. are differentiable). Common ops without gradient: K.argmax, K.

[2019-09-23 14:16] Huixxi commented on #32729
So, how can I define mu own `initializer` in tensorflow 2.0?

[2019-09-23 14:19] msoelch opened #32730 "tf.nn.relu on nan inputs returns zeros on GPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, see minimal example code section below.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.13.1 and 1.14.0
- Python version: 3.6.5
- CUDA/cuDNN vers

[2019-09-23 14:24] hahahawu commented on #20997
@mtiitto I suffered the same problem "ValueError: Empty range for randrange()" when I attempted to train my network. The error occurred in this line:
`mnist_classifier.train(
        input_fn=train_input_fn,
        steps=2000,
        hooks=[logging_hook]
    )`
So, do you have any suggestions for me to solve this problem. My tensorflow version and python version are 1.13.1 an 3.7, respectively.

[2019-09-23 14:36] roohy466 opened #32731 "Tensorflow-gpu 2.0.0.rc1 or rc2 on Ubuntu 19.04 does not find the cuda libraries."
I am trying to run Tensorflow-gpu 2.0.0.rc1 on ubunto 19.04. I have already installed the stable version (1.14.0) via conda and I have been using it without problem. Meaning all the libraries and drivers are fine however for new tensorflow I get the following errors which is odd because all the libraries are installed in the "/usr/lib/x86_64-linux-gnu/".

I have used
`source ./myenv/bin/activate`

[2019-09-23 14:55] currivan commented on #32672
This should not have been closed. Throwing an exception here is a bug, and the solution is unacceptable. Saving this type of model with h5 takes a second, and the proposed way it takes over a minute. Loading is also unacceptably slow.

[2019-09-23 14:59] ghannum commented on #32398
Thanks for trying 1.13. The error is only when the model is created in 1.13 and loaded in 1.1.5/2.0 (two different versions). The backwards compatibility is important because these models take considerable time and resources to train (months in some cases). I currently have several important models in 1.13 and would like to continue using them after upgrading to 1.15. I imagine this sort of contin

[2019-09-23 15:02] jubjamie commented on #32721
_Warning: As this doesn't appear to be a bug with Tensorflow, the devs may ask for this to be moved to Stack Overflow._

This isn't a Tensorflow issue. [See if this S/O answers your question.](https://stackoverflow.com/questions/40318457/how-to-build-a-multiple-input-graph-with-tensor-flow) When you post on S/O please give a bit more detail about how you are constructing your graph. Cheers.

[2019-09-23 15:13] hongdayu commented on #22240
in contrib/makefile，run buildd_all_linux.sh

[2019-09-23 15:25] andportnoy commented on #26642
@qlzh727 Thank you for your reply!

[2019-09-23 15:36] mihaimaruseac commented on #22240
Note that master branch no longer has contrib. If you rely on contrib being there, please move to newer APIs.

[2019-09-23 15:37] mihaimaruseac commented on #32731
There is an rc2 released this morning, can you try with it please?

[2019-09-23 15:40] gargn commented on #32693
LSTMs are currently a [work in progress](https://www.tensorflow.org/lite/r2/convert/python_api#liteophint).

As we work on adding support, can you provide a minimal repro of your issue. Either provide the model or a modified version of the model / model code to help investigate the issue.

[2019-09-23 15:47] mihaimaruseac commented on #32641
Please prefix code lines with triple quotes, per the [markdown syntax](https://guides.github.com/features/mastering-markdown/) so that it is easier to read.

[2019-09-23 15:48] mihaimaruseac commented on #32701
I would also suggest to try on 1.15 or 2.0 instead of 1.14

[2019-09-23 15:48] mihaimaruseac commented on #32704
Closing as nothing has been provided

[2019-09-23 15:48] #32704 closed

[2019-09-23 15:49] mihaimaruseac commented on #32709
Are you using the GPU device only for this compute task?

Seems like an issue in your GPU, not in TensorFlow

[2019-09-23 15:50] mihaimaruseac commented on #32722
Can you provide a sample code? Please use [proper makrdown syntax to highlight the code](https://guides.github.com/features/mastering-markdown/#)

[2019-09-23 15:50] mihaimaruseac commented on #32720
Please use [proper markdown](https://guides.github.com/features/mastering-markdown/#) to format the code so that it is easier to read. Thanks.

[2019-09-23 15:51] mihaimaruseac commented on #26209
Not for TF 1.13. Please switch to 1.15 or 2.0

[2019-09-23 15:52] mihaimaruseac commented on #32708
Eager execution is enabled by default in 2.0 and onwards, hence the symbol to enable it is no longer needed nor provided.

[2019-09-23 16:03] iperov commented on #32709
@mihaimaruseac are you troll?

this is simple task to reproduce the bug.

This bug is reproduced only with cudnn 7.5.0 on windows, but 7.4.1 works fine.

[2019-09-23 16:10] Checkmate986212 opened #32732 "Finetune with additional layers"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-09-23 16:11] mihaimaruseac commented on #32709
No, not a troll. Please always assume good intent as I was basing my question on https://stackoverflow.com/questions/34514324/error-using-tensorflow-with-gpu/34514932#34514932

That being said, can you also post output of `nvidia-smi`, on both 7.5.0 and 7.4.1, before and after running your script?

[2019-09-23 16:25] iperov commented on #32709
nvidia-smi does not depend on cudnn.
cudnn is only the one dll that loaded by python environment.
I can pass to it any version I want. So 7.5.0 has bug, but 7.4.1 - has not.

[2019-09-23 16:26] gstoica27 commented on #32720
Hi, thanks for your responses and apologies for the code malformatting! I've just formatted the code according to @mihaimaruseac's suggestions and added a txt file as per @oanush request.

Hope this helps! Please let me know if there is anything I else I can/should provide. Thanks!

[2019-09-23 16:26] mihaimaruseac commented on #32709
It doesn't depend on cudnn but it also shows the state of the GPU so we can detect if there is a memory leak.

[2019-09-23 16:36] iperov commented on #32709
I don't know why, but bug is no more reproducable :(

[2019-09-23 16:36] #32709 closed

[2019-09-23 16:37] mihaimaruseac commented on #32709
So it turns out it was the state of your system.

[2019-09-23 16:37] iperov commented on #32709
or the hidden bug of tf

[2019-09-23 16:40] mihaimaruseac commented on #32709
Doubtful to be a hidden bug of TF (as it seems to always happen on your issues) but if it reproduces again please post full details and debug how much memory your GPU still has available.

[2019-09-23 16:48] Arjuna197 commented on #32111
I hit this same issue with tf-nightly-gpu (tb-nightly-1.15.0a20190911, tf-nightly-gpu-1.15.0.dev20190730,  tf-estimator-nightly-1.14.0.dev2019092301) Also tried with tensorflow_estimator 2.0, same error.

    from tensorflow.contrib import compiler
  File "/vol0/dan/tfn/lib/python3.6/site-packages/tensorflow_core/contrib/compiler/__init__.py", line 21, in <module>
    from tensorflow.contrib.compi

[2019-09-23 16:56] Namburger commented on #32629
Hi guys - any updates on this?
This issue isn't for me, personally but I know some people are waiting to get load_delegate working on their pi. Thanks!

[2019-09-23 17:10] mihaimaruseac commented on #32111
That is because tf-nightly has been frozen at 9/11 whereas estimator nightly hasn't.

You can also use the 2.0 nightly preview instead, the 2.0 release candidate, or the 1.15 candidate.

Once 2.0 is fully released, nightlies will be unfrozen again.

[2019-09-23 17:14] shianiawhite commented on #31973
Just to note, although PyCharm is now correctly resolve TensorFlow, this solution does not solve the issue for other editors. There are others in this thread who have mentioned this issue also affects VS Code (and likely other editors).

(... but I use PyCharm, so I'm satisfied)

[2019-09-23 17:22] mihaimaruseac commented on #31973
In that case, reopening.

[2019-09-23 17:26] gowthamkpr commented on #32682
@MikoyChinese This is how keras works at this point in time. So we will consider it in future.

[2019-09-23 17:38] #32682 closed

[2019-09-23 17:39] gowthamkpr commented on #32628
Closing this issue as it has been inactive for more than 5 days. Please add additional comments and we can open the issue again.

[2019-09-23 17:39] #32628 closed

[2019-09-23 17:40] gowthamkpr commented on #32614
@morgangiraud Will look into it in future. Closing this issue as of now as it has been resolved.

[2019-09-23 17:40] #32614 closed

[2019-09-23 17:41] gowthamkpr commented on #32421
Closing this issue as it has been inactive for more than 5 days. Please add additional comments and we can open the issue again. Thanks!

[2019-09-23 17:41] #32421 closed

[2019-09-23 18:00] roohy466 commented on #32731
Thank you for the suggestion but still I get the same error. I also confirmed that it has been installed.

`python -c "import tensorflow as tf;print(tf.__version__)"`,
**2.0.0-rc2**

and
`python -c "import tensorflow as tf;print(tf.reduce_sum(tf.random.normal([1000, 1000])))"`

shows the same error and I noticed that it shows the output like:
**tf.Tensor(1728.6349, shape=(), dtype=float32)**  # wh

[2019-09-23 18:21] ashahab commented on #32192
Hi, I would like to work on fixing this.

[2019-09-23 18:25] jvishnuvardhan commented on #32612
@somedadaism I haven't tried `customloss` as `class` but I tried it as `function`  like

[code]

In this way you can save the model as usual (create model, compile, fit, save) and load the model using `load_model` with `custom_objects` like

`new_model=tf.keras.models.load_model("./model.h5",custom_objects={'customLoss1':customLoss1,'customLoss2':customLoss2})`

Please check entire gist [here](htt

[2019-09-23 19:05] geopapa11 commented on #32659
Hi @ravikyram thank you very much for your response! Thinking about it a bit more carefully, the code might probably be correct if you output predictions via a softmax function.

To extend a little bit more on what I meant above, let's assume `inputs` is a `batch_size` x `1024` matrix, `nce_weights` is `num_classes` x `1024` and `nce_biases` is `num_classes` x `1`.

Then, `all_logits = tf.nn.bias_

[2019-09-23 19:05] #32659 closed

[2019-09-23 19:29] somedadaism commented on #32612
Hello, thank you for your effort. I know also how to workaround for the loss function. My favorite workaround for now is to use `load_model(path, compile=False)`. If it was only the loss functions this whole issue could be solved by just using normal functions as you propose. The fundamental problem is that the subclasses of `tf.keras.metrics.Metric` does not work either for presumably the same re

[2019-09-23 19:35] jdduke commented on #32710
Please look at the TensorFlow Lite examples [here](https://github.com/tensorflow/examples/tree/master/lite). They are each packaged separately.

[2019-09-23 19:35] #32710 closed

[2019-09-23 19:46] sssun0228 commented on #31245
@mrry I added print statements to check the byte size of messages and it seems like tdata here: https://github.com/tensorflow/tensorflow/blob/4e5bee560fcc13e867bc0d80c31e66fa6a8e4548/tensorflow/core/distributed_runtime/rpc/grpc_tensor_coding.cc#L166 is overflowing with the image size of (1,900,900,900,1).

With image size (1,900,900,900,1), tdata.size()=-1378967296 and it crashes.
With image size

[2019-09-23 19:46] ferdinan97 commented on #32710
Actually i know about that, but the model i work didnt support the tensorflow lite thats why i ask this question. Can you reopen the issue or give me solution ?

[2019-09-23 19:53] jvmancuso commented on #25369
@dynamicwebpaige, are we to interpret https://github.com/tensorflow/tfx/issues/542 and the current status being "Done" to mean that this will not be a part of the TF 2.0 launch?

[2019-09-23 20:00] jdduke commented on #32710
We won't be updating the TF Mobile example any further, so there's no way to decouple the tf_detect portion from the other examples. You'd have to manually pull out just the necessary code.

[2019-09-23 20:01] danielegrattarola commented on #31819
BTW a quicker workaround for this is to use Keras 2.2.5 instead of tf.keras.

For some reason, the implementation of Keras that is shipped with Tensorflow does not have all the features of original Keras (which supported sparse inputs, even when using functional API and `Model.fit`).

[2019-09-23 20:06] sabir01 commented on #32731
@roohy466 can you give the exact command for downloading tensorflow-gpu 2.0.0.rc1 using conda please? I can't download the latest version through conda.

[2019-09-23 20:08] ferdinan97 commented on #32710
Ok then , thank you

[2019-09-23 20:09] jvishnuvardhan commented on #32642
@tusharsh23 Can you provide a simple standalone code to reproduce the issue? Thanks!

[2019-09-23 20:10] jamieaware commented on #32677
I'm having the same issue. Any thoughts?

Tensorflow 1.15.0
Python 3.6.6
Bazel 0.24.1
Cuda 10.0
Cudnn 7.4
gcc version 4.8.5 20150623 (Red Hat 4.8.5-39) (GCC)
CentOS 7.6.1810
Python virtual env
pip install six numpy wheel setuptools mock 'future>=0.17.1' keras_applications==1.0.6 --no-deps  keras_preprocessing==1.0.5 --no-deps
git clone https://github.com/tensorflow/tensorflow.git
git checkout r1.1

[2019-09-23 20:13] berendo opened #32736 "1.15.0 release candidates missing from Docker Hub"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): N/A
- Mobile device (e.g. iPho

[2019-09-23 20:16] aaroey commented on #32103
@jtressle TF 1.14 has TF-TRT disabled accidentally. Could you try again with TF 1.15.0rc1? Also could you provide the model data so we can reproduce the slowness?

[2019-09-23 20:20] danielegrattarola opened #32737 "tf.keras.layers.Input has undefined shape when setting sparse=True, making it impossible to use in a Model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.15.0rc1
- Python version:3.5.2
- Bazel version (if compiling from source):
- GCC/Compiler version (if co

[2019-09-23 20:46] angerson commented on #32645
This isn't something that we support on GitHub, sorry. Try asking a question on Stack Overflow.

[2019-09-23 20:46] #32645 closed

[2019-09-23 20:47] angerson commented on #18964
I think this is no longer relevant, since we have new docker images now. If it still is a problem, please comment again.

[2019-09-23 20:47] #18964 closed

[2019-09-23 20:57] ymodak commented on #32680
TF 1.15 rc1 is the latest TF 1.X release so we can expect the fix to be included in final TF 1.15 version as well.
TF nightly version ```1.15.0-dev20190821``` was built on 08/21/2019 where as TF 1.15rc1 version was released on 09/16/2019.

[2019-09-23 20:58] TimCapes opened #32740 "TFLite: Converting 2 Operation Network[Slice, Transpose] results in converter error despite both ops being supported"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-09-23 20:58] njeffrie commented on #32422
It looks like you're generating a model which uses hybrid quantization.  Micro currently only supports full-quanitzed or full-float models.  If you want to model to work today, the best way forward is to avoid quantizing the model in your conversion step.  When we finish up landing the int8 quantized version of CONV2D, you will be able to run a fully quantized model.  In order to fully quantize yo

[2019-09-23 20:59] #32422 closed

[2019-09-23 20:59] angerson commented on #32602
Can you include a full log from ./configure, as well as a list of the contents of the TensorRT directory you configured?

[2019-09-23 21:02] bionicles commented on #32377
same issue fixed with `pip install gast=0.2.2`

[2019-09-23 21:04] Namburger opened #32743 "Failed to load delegate from libedgetpu.so.1.0 with tflite_runtime 1.14"
**System information**
- Have I written code (based on the docs):
[code]
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
[code]
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: laptop
- TensorFlow installed from (source or binary):
`pip3 install tflite_runtime-1.14.0-cp36-cp36m-linux_x86_64.whl`
- TensorFlow version (use command below): tfl

[2019-09-23 21:05] njeffrie commented on #30314
We are working to support signed int8 quantization on micro.  Which operators are  you using?  We tend to prioritize based on usage, so this info can help us choose which ops to prioritize.  We currently have int8 versions of fully_connected and we are close to landing int8 per-channel versions of conv2d and depthwise_conv.

[2019-09-23 21:10] jvishnuvardhan commented on #32672
@currivan In case If i need to use an op like `tf.tile` as in your case, I will call it with a lambda layer. So the code is as follows

[code]
Please let me know what you think? Thanks!

[2019-09-23 21:18] dimtass commented on #30314
Hi @njeffrie thanks for the reply. As you already mentioned the conv2d and depthwise_conv are the most common used and also in my case I've tried to use those two.

Thanks!

[2019-09-23 21:28] MarkDaoust commented on #32715
You're right about the error.

Yes please.

[2019-09-23 21:48] ymodak commented on #32731
```tf.Tensor(1728.6349, shape=(), dtype=float32)``` is correct since eager execution is enabled by default in TF 2.X
What versions of cuda, cudnn are you using?

[2019-09-23 21:51] currivan commented on #32672
@jvishnuvardhan thanks, I was also able to create a custom layer. In general I feel if a model can be executed, it should be savable by all standard methods without throwing an opaque exception. Someone should still fix the bug with saving op layers. "ValueError: Unable to create group (name already exists)" isn't the right way to handle this even if it's unsupported.

[2019-09-23 22:03] roohy466 commented on #32731
Thanks. I am using cuda 10.1.105, and cudnn 7.6.0.  Do I need to update to latest versions?

[2019-09-23 22:14] jvishnuvardhan commented on #32672
@currivan I agree. May be we need to update the error description. Please note that fixing this is not simple.

@k-w-w Could you please take a look at this issue?

[2019-09-23 22:16] ymodak commented on #32731
Please switch to cuda 10.0 and update cuda environment paths.
See https://www.tensorflow.org/install/gpu#software_requirements

[2019-09-23 22:40] dovahcrow opened #32748 "AttributeError when passing tf.Variable into tf.function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): v

[2019-09-23 22:51] lrigazio commented on #28000
same issue here on tf-1.15

[2019-09-23 23:12] jvishnuvardhan commented on #32707
@tocab Looks like shape of tensor is very big and consuming more memory. Can you try to optimize some parameters so that tensor size and memory requirements works well with your GPU? Also, can you try 2.0.0rc2? Thanks!

[2019-09-23 23:28] DonaldM164 commented on #32716
Thanks for the reply oanush. I actually did see this stack overflow problem resolution before, however using the example given currently, all models are assigned the number 0000123, so it would seem that a version number is assigned . Despite it not working (for myself, this would be a support issue), I thought it would also be beneficial to bring this up as a documentation problem as well. If the

[2019-09-23 23:39] #32680 closed

[2019-09-23 23:40] jvishnuvardhan commented on #32539
@doladola Can you try with TF1.15.0rc1 and let us know whether the issue persists? Thanks!

[2019-09-23 23:44] jvishnuvardhan commented on #32674
@bqm Can you try TF1.15.0rc1 and let us know whether the issue persists or not? Thanks!

[2019-09-24 00:02] jvishnuvardhan commented on #32082
I think it was resolved. I am closing the issue. But, please let me know if I'm mistaken. Thanks!

Please feel free to open a PR to update docs to reflect @alextp comments so that community will get benefited. Thanks!

[2019-09-24 00:41] rjurney opened #32751 "tensorflow-gpu 2.0 pip package outdated/missing/name wrong"
## URL(s) with the issue:

https://www.tensorflow.org/install/pip

## Description of issue (what needs changing):

The current pip package that exists on PyPi is `tensorflow-gpu==2.0.0rc2`. The documentation says `tensorflow-gpu==2.0.0-rc1`, which is 2 typos.

The command to install it is `pip install tensorflow-gpu==2.0.0rc2`.

The documents say `pip install tensorflow-gpu==2.0.0-rc1`, which is t

[2019-09-24 00:52] yueke1900 opened #32752 "enter"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that would be helpful to diagno

[2019-09-24 00:53] #32752 closed

[2019-09-24 01:31] kwonnaseong commented on #32751
I will do it.

[2019-09-24 01:35] itsucks commented on #32706
Well. the system is CentOS Linux release 7.2.1511,
I add the dependency with maven

![image](https://user-images.githubusercontent.com/7105813/65474401-408a6c00-deae-11e9-94fc-e5a63eb5a632.png)

the code
![image](https://user-images.githubusercontent.com/7105813/65474446-7596be80-deae-11e9-8d63-116a35d1c7c0.png)

the results are right, but it never use the GPU
The whole platform works fine in pyth

[2019-09-24 01:50] guptapriya commented on #32712
@rxsang does from_generator work with TPUStrategy at all?

Also, from the error in https://github.com/tensorflow/tensorflow/issues/32712#issuecomment-533975396, it seems that TPU binary for 1.15 is not yet updated, is that the case?

[2019-09-24 02:01] ArtemisZGL commented on #32725
by selecting different node in the graph as the output array, i found it is the Mul node which maked the program dump. in the code, i use tf.multiply, and use broadcast. is there any way to fixed this problem?
![image](https://user-images.githubusercontent.com/31615877/65475439-2488c980-deb2-11e9-8493-be93d5de927b.png)

[2019-09-24 02:06] primejava commented on #22837
Add save_weights_only = True for ModelCheckpoint

[2019-09-24 02:09] MattConley opened #32755 "Bincount Op test "test_negative" fails with TF 2.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 16.04**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **N/A**
- TensorFlow installed from (source or binary): **Binary**
- TensorFlow version (use c

[2019-09-24 02:34] 7oud opened #32759 "call custom op using c++"
I built a very simple custom op `zero_out` and try to run it using c++, the question is how to call this op, there is no doc about it.

code of custom op `zero_out`
[code]
After building, I got `zero_out.so`, then I load the lib using c++
[code]
I think the op should have been registered, then how to invoke the op function, Could you give some examples or code snippet?

[2019-09-24 02:54] ArtemisZGL commented on #32725
by selecting different graph node as the output , i found maybe is the "sub" node making this error, i defined my own trainable variable in keras, and sub them to calculate the residual, is there any way to fixed this problem?

[2019-09-24 02:55] itsucks commented on #32706
the command is `mvn -q compile exec:java`

[2019-09-24 02:58] lovejing0306 commented on #32583
I copy the program from Tensorflow2 website, but it is not work.
Can you help me ? Thanks!

[2019-09-24 03:36] linyia01 opened #32760 "TensorFlow Lite save from_session error"
xs = tf.placeholder(tf.float32, [10, datalen], name='input')
predic_val = tf.argmax(graph, 1, name='output')
converter = tf.lite.TFLiteConverter.from_session(sess, [xs], [predic_val])
tflite_model = converter.convert()
open('%s/twave_%d.lite' % (path,i), "wb").write(tflite_model)

2019-09-24 11:30:42.542541: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1159] Device interconnect StreamExecuto

[2019-09-24 03:49] sahilpratap commented on #29472
i am getting this error while saving my model and converting it into tfLite :

ValueError                                Traceback (most recent call last)
<ipython-input-31-214edbbd817b> in <module>
      1 saved_model_dir = 'Documents/fine_tuning'
----> 2 tf.saved_model.save(model, saved_model_dir)
      3
      4 converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir)
      5 tflit

[2019-09-24 03:54] lovickie commented on #32726
I try MakeCallable/RunCallable in tensorflow 1.14, but the sad story is:

[code]

Then I see https://github.com/tensorflow/tensorflow/issues/5902

Can anyone help me ?

[2019-09-24 03:57] jordanparker6 commented on #30918
Sorry for the late reply. I will try it tonight and get back to you.

[2019-09-24 04:31] rodrigob opened #32761 "keras.metrics.Accuracy != keras.metrics.accuracy"
The following test
[code]

does not pass because
https://github.com/tensorflow/tensorflow/blob/3d5e79e08ae299812e0eaf6183f4886591e932bd/tensorflow/python/keras/metrics.py#L576-L577

seems to be doing two casts they should not.

Also it is unclear to me what is the expected value for `ret_a` (which I would have understood to be 1, but currently returns 1/3).

[2019-09-24 04:57] nolanding opened #32762 "ERROR: Could not find a version that satisfies the requirement tensorflow (from versions: none) ERROR: No matching distribution found for tensorflow"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-09-24 04:58] nolanding commented on #32762
this is the error i'm getting for installation of tensorflow library on windows 64 bit.

[2019-09-24 05:22] David-Mao commented on #32082
I just upgrade to tf-nightly-2.0-preview-2.0.0.dev20190923 and `tf.assert_equal([], [1.0])
` still passes?

[2019-09-24 05:28] Davari393 commented on #20176
Hi guys.
Can anyone say what should I change android demo for ssdlite mobilenetv2?
Please help.I need it

[2019-09-24 05:51] oanush commented on #32730
Thanks for reporting the issue, its replicating for TF-1.14. Kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/062f044c9b794f5ca05dd17070873d5a/32730.ipynb) of colab.

[2019-09-24 06:07] arshiaadouli commented on #32761
yes right

[2019-09-24 06:08] jackd opened #32763 "tf.sparse.reduce_sum slower/less memory efficient than (unsorted_)segment_sum"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes (below)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **ubuntu 16.04**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below): **v1.12.1-9365-gff401a6 1.15.0-dev20190821**
- Python version: **3.6.9**
- CUDA/cuDNN vers

[2019-09-24 06:10] arshiaadouli commented on #32761
no wrong

[2019-09-24 06:10] sghoshjr opened #32764 "ValueError when passing tensors to keras subclass model calls"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 / Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Not tested
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (

[2019-09-24 06:51] GGGWB opened #32765 "A question about tensorflow lite"
I am a machine learning beginner. And I want to know the scale of neural networks and and the number of parameters that tensorflow lite can support  so far, because I have not found a similar answer elsewhere. I look forward to your answer.

[2019-09-24 06:51] ClementWalter commented on #28668
I still have this issue with the following versions :

[code]

MWE:

[code]

[2019-09-24 06:52] wxquare opened #32766 "model_pruning: why does strip_pruning_vars always show 50% zeros?"
I'm trying tensorflow/contrib/model_pruning/examples/cifar10/cifar10_train. Tensorboard shows conv1 sparsity increased to 70%，conv2 sparsity increased to 90%，but  strip_pruning_vars alway shows 50% zeros。

![image](https://user-images.githubusercontent.com/11002654/65488056-cd4b1f00-deda-11e9-92fa-9d77d009103c.png)

Use `tf.compat.v1.graph_util.extract_sub_graph`
I0924 14:51:55.225000 140698707568

[2019-09-24 06:54] ClementWalter commented on #30892
Same problem with

[code]

MWE:
[code]

[2019-09-24 06:56] doruksonmez opened #32767 "Build Error: failed (Exit 1): crosstool_wrapper_driver_is_not_gcc"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04
- Mobile device (e.g. iP

[2019-09-24 07:28] dizhang1989 commented on #31181
I am having the exact same issue here. With Docker on Mac OS. I increased docker's memory to 4GB and still having the error.

[2019-09-24 07:44] richardwth commented on #24828
I came across the same issue, however, simply because GPU was fully occupied by some process called ZMQbg/1. After I killed it, this error did not show up again. So perhaps run `nvidia-smi` to check the GPU memory.

[2019-09-24 08:07] ravikyram commented on #32729
@Huixxi
Looks like code is incomplete. In order to expedite the trouble-shooting process, please provide a minimal standalone code to reproduce the issue reported here. Thanks!

[2019-09-24 08:10] gadagashwini commented on #32728
@uziela,
As this is more related to TF models, please post this in TF [model repo](https://github.com/tensorflow/models/issues). Thanks!

[2019-09-24 08:18] gadagashwini commented on #32737
Could reproduce the issue on colab with TF 1.15.1.rc1.Please take a look at gist [here](https://colab.sandbox.google.com/gist/gadagashwini/8ed685bf1786cd6fe8f392a285fdd2c6/untitled162.ipynb). Thanks!

[2019-09-24 08:20] fjallraven opened #32768 "RHEL pip install 2.0-rc issues, No module named tensorflow_core.keras"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Centos 7.6
- Mobile device (e.

[2019-09-24 08:29] gadagashwini commented on #32583
@lovejing0306,
Can you please provide us the link from where you have copied the code. Thanks!

[2019-09-24 08:43] ravikyram commented on #32696
I tried to reproduce the issue. I am getting the error message` URLError: <urlopen error [Errno 110] Connection timed out>`. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/78dfb933e940242780cc4e97e7fdf3e5/untitled212.ipynb).Thanks!

[2019-09-24 08:50] gadagashwini commented on #32748
@dovahcrow,
Workaround can be change any one of `tf.Variable` to `tf.constant` or both to `tf.constant`.
[code]
Let us know this helps. Thanks!

[2019-09-24 08:51] Fansgithub2019 commented on #20561
I have a similar problem.
[code]
Check out the list of shared libraries that the library file depends on.
[code]

I used **bazel build --config=opt --config=cuda --config=monolithic //tensorflow:libtensorflow_cc.so**
to build libtensorflow_framework.so.It is located in /usr/local/lib .

Is this tensorflow not calling libtensorflow_framework.so? What is the problem? How to solve this problem?
Simil

[2019-09-24 08:53] ravikyram commented on #32765
@GGGWB

Please, go through [TensorFlow Lite guide](https://www.tensorflow.org/lite/guide) and see if it helps you.Thanks!

[2019-09-24 08:59] rzou15 commented on #7162
I also met this issue. Did you fix it? and would you plz share? Many thx!

[2019-09-24 09:01] nsantavas commented on #32696
@ in colab you should not define tpu address. TPUClusterResolver must be empty
[code]

[2019-09-24 09:10] BoysFight opened #32769 "model.fit() raise FailedPreconditionError after applying "tf.distribute.MirroredStrategy()""
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):NO
- OS Platfor

[2019-09-24 09:11] guillaumekln opened #32770 "Asset file not exported in the SavedModel when using tf.lookup.StaticVocabularyTable"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow installed from: binary
- TensorFlow version: 2.0.0rc2
- Python version: 3.6.6

**Describe the current behavior**

When using `tf.lookup.StaticVocabularyTable`, the asset file is not exported in the SavedModel assets directory. However, it is correctly saved when using `tf.lookup.Stati

[2019-09-24 09:14] FlorinAndrei opened #32771 "TensorFlow is broken, unusable on Raspberry Pi"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes, code is pasted below
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Raspbian Buster
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Raspberry Pi 4 with 4 GB RAM
- TensorFlow installed from (source or binary): binar

[2019-09-24 09:22] stefanpantic opened #32772 "Training parameter to model passed as None in 1.14.0"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-09-24 09:31] TheBlue24 commented on #21544
Same i also get the same error when i try to retrain the model using previous checkpoint in google colab.Any one solved it?

[2019-09-24 09:32] ravikyram commented on #32696
I have tried on colab with TF version 1.14 and i am seeing the below error.`ValueError: Input 0 of layer conv2d_11 is incompatible with the layer: expected ndim=4, found ndim=5. Full shape received: [None, None, 540, 2, 192]`.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/92e178a10671bd6a27e6d6680c467fb9/untitled212.ipynb).Thanks!

[2019-09-24 09:39] GaranceRichard commented on #25337
Same problem, what is a clean install ?

[2019-09-24 09:45] jeandut commented on #32013
Any update on this ?

[2019-09-24 09:47] ziofil opened #32774 "Are complex variables supported in eager mode?"
**System information**
- TensorFlow version (you are using): 2.0.0-rc1
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

Currently (unless I'm not doing things correctly) it seems that there is no support for complex variables. This fails:
[code]

and

**Will this change the current api? How?**
Potentially yes

**Who will benefit with this f

[2019-09-24 09:51] Bidski opened #32775 "Undefined symbol tensorflow::functor::CSRSparseMatrixTranspose"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- Mobile device (e.

[2019-09-24 09:56] ravikyram commented on #32772
@stefanpantic
Is it possible for you to try latest TF versions (`!pip install tensorflow-gpu==1.15.0-rc0` )and let us know whether the issue persists? There were lots of performance improvements in the latest versions. Thanks!

[2019-09-24 09:58] lidar-nevermore commented on #32383
I also experienced this bug and finnally sovled by switching to gast 0.2.2.

[2019-09-24 10:08] realEthanZou commented on #25337
I uninstalled all related packages and libraries, uninstalled graphics driver with DDU and reinstalled them again. I don’t know why it works but my best guess is it has something to do with the graphics driver. When I upgrade to 2070 super I also have to reinstall the driver to make it work.

[2019-09-24 10:09] SundeepPidugu commented on #32577
Unable to run `bash ./compile.sh` it throws me an error despite having `1.8.0_22`.

[2019-09-24 10:25] Mageswaran1989 commented on #32052
any updates?

[2019-09-24 10:28] uziela commented on #32728
Thanks for suggestion, now I have posted the problem to TF model repo:
https://github.com/tensorflow/models/issues/7600

[2019-09-24 10:52] stefanpantic commented on #32772
[code]
This gets passed as the training parameter instead of None in the 1.15 release candidate.

An aditional question I have is: is it necessary to pass the training parameter to the Dropout/BatchNormalization layers or can they infer the appropriate value based on K.learning_phase()?

[2019-09-24 11:03] rishabhsahrawat commented on #32651
Hello @ymodak @oanush , any updates on this?. It is a major issue but no one is responding. Please  help me with this issue or just share a time window for which I must wait.
Thank you!

[2019-09-24 11:37] lovickie commented on #32726
Then I change output, the result changed to

[code]

[2019-09-24 12:10] owainkenwayucl opened #32776 "Sym-links in nvcc C compiler path causes "undeclared inclusion(s) in rule '//tensorflow/core:lib_hash_crc32c_accelerate_internal'""
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Redhat Enterprise Linux 7.x
-

[2019-09-24 12:14] isaacgerg commented on #32697
Seeing nan is not a problem and is expected. I think the problem is in the threading of the the fit_generator or sequence .

What version of windows and python did you run on? The problem only occurs in windows, not linux or the colab envirniment.

[2019-09-24 12:49] owainkenwayucl commented on #32776
Actions I took at configure stage:

[code]

[2019-09-24 12:52] owainkenwayucl commented on #32776
Build failure:
[code]

[2019-09-24 12:54] owainkenwayucl commented on #32776
If I change the answer at `Please specify which gcc should be used by nvcc as the host compiler. [Default is /shared/ucl/apps/gcc/4.9.2/bin/gcc]: ` to `/lustre/shared/ucl/apps/gcc/4.9.2/bin/gcc` then Tensorflow build successfully.

[2019-09-24 13:06] Saptarshi-Ghosh-98 commented on #32751
Btw, both `tensorflow-gpu==2.0.0-rc2` and `tensorflow-gpu==2.0.0rc2` works.

[2019-09-24 13:13] fferroni opened #32778 "Incorrect number of weights in custom layer containing keras layer"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-09-24 13:13] alokmalik commented on #32693
hi @gargn ,

Thanks for such a quick reply. Below is the code i used to generate the model. I used tf.keras for all the functions. Please find the model file below.

[language_adam-01.zip](https://github.com/tensorflow/tensorflow/files/3647337/language_adam-01.zip)

`inputs1 = Input(shape=(2048,))
fe1 = Dropout(0.5)(inputs1)
fe2 = Dense(256, activation='relu')(fe1)

inputs2 = Input(shape=(5,))
se1

[2019-09-24 13:23] alokmalik commented on #32693
@gargn I tried replacing LSTM in above code with GRU, it's giving same error.

[2019-09-24 13:37] BinyanHu opened #32779 "Parallel Mapping of Dataset Does Not Ensure Same Random Numbers"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution: Windows10
- TensorFlow installed from: binary
- TensorFlow version: 1.15.0-dev20190812
- Python version: 3.7 (64-bit)

**Describe the current behavior**
I am doing data augmentations using Dataset map method. To ensure that the images and the

[2019-09-24 13:44] tocab commented on #32707
I get the same error also with 2.0.0rc2. How can I optimize tensor size and memory requirements? With not using the keras api in tensorflow 1, the training never got an oom after it startet and the batch size stayed the same.

Another question: Is it possible to finalize the graph with the keras api? Then I could test if more parameters are added during the training that leads to the oom.

[2019-09-24 13:46] swati-daffodilsw opened #32780 "How to use Tensorflowlite SDK with iOS 8"
Hello @petewarden ,

I want to support tensorlowlite to my existing project which is having iOS 8 min target. But I am getting error while including it using pod targeted OS version does not support use of thread local variables in __ZNK6tflite13eigen_support12_GLOBAL__N_122EigenThreadPoolWrapper15CurrentThreadIdEv for architecture

Can anyone help me how to fix this issue?
Any help is appreciable

[2019-09-24 13:56] OuHangKresnik opened #32781 "GPU Conv Fusion Code is disabled in grappler remapper.cc"
The grappler remapper optimizer disabled the ability to fuse conv related op in GPU.

Since related code is inside
#ifndef INTEL_MKL
#endif

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/grappler/optimizers/remapper.cc

[2019-09-24 14:00] dovahcrow commented on #32748
@gadagashwini Thanks! I currently solve this by using `tf.identity` to convert the `Variable` to a `Tensor`. But still, I wonder, is this a bug or feature?

[2019-09-24 14:06] GGGWB commented on #32765
Thank you very much for your answer, but I have read the TensorFlow Lite guide carefully and still have not found the relevant answer. In your experience, taking the perceptron as an example, how many layers and how many nodes per layer can be executed on the mobile phone. Additionally, I would like to know, when will the training be implemented on mobile devices? Thank you once again for your ans

[2019-09-24 14:41] menon92 commented on #31991
I'm facing same problem. Any one solve this kind of problem ?

[2019-09-24 14:44] alextp commented on #32082
When I said "should" I didn't mean it actually does right now...

On Mon, Sep 23, 2019 at 10:30 PM David-Mao <notifications@github.com> wrote:

--
 - Alex

[2019-09-24 14:47] mschonwe commented on #32691
This is based on the tensorflow/tensor2tensor project, In the initial post I describe how to reproduce.  The function that causes the trouble is the conv2d in tensor2tensor/layers/common_audio.py add_delta_deltas().

The (likely) issue is the optimization pass causing a conv2d op, which should be placed on CPU, to be rewritten to use a version of tf.nn.conv2d() that is only available on GPU.

Sinc

[2019-09-24 15:01] chris0914 opened #32782 "Building TF 2.0 from source returns 1.14 wheel"
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.0 (master branch)
- Python version: 3.6.8
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): 0.26.1
- GCC/Compiler version (if compiling from source): 7.4.0
- CUDA/cuDNN version: 10.1/7.6.3
- GPU model and mem

[2019-09-24 15:04] bwindsor22 opened #32783 "GELU activation Functions?"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): TF 2.0.

- Are you willing to contribute it (Yes/No):
Yes,

[2019-09-24 15:46] NEGU93 commented on #3348
Thanks for that detailed explanation!
How did you find out this definition (`conj(df/dz + dconj(f)/dz)`) was the one used by tensorflow? Couldn't find it anywhere and I've been searching/asking around a lot.
Do you have any clue on WHY this definition of the gradient? Any paper which says for non-holomorphic functions this mathematical definition will give you what you want?

[2019-09-24 15:52] yongtang commented on #32082
@jvishnuvardhan I think @alextp was saying empty list `[]` should do broadcast first, when shape does not match for cwise ops. Let's re-open the issue. I think I might be able to take a look at the code path and see if I can have a fix.

[2019-09-24 15:55] AquaDef opened #32784 "module 'tensorflow_core._api.v2.nn' has no attribute 'rnn_cell'"
File "F:\AI\RedditChatBot\nmt-chatbot-master\nmt\gnmt_model.py", line 262, in <module>
    class GNMTAttentionMultiCell(tf.nn.rnn_cell.MultiRNNCell):
AttributeError: module 'tensorflow_core._api.v2.nn' has no attribute 'rnn_cell'

[2019-09-24 15:56] yongtang commented on #32082
Update:

~~was saying empty list [] should do broadcast first, when shape does not match for cwise ops~~

There was a typo in the last message:
was saying empty list [] should **not** do broadcast first, when shape does not match for cwise ops

[2019-09-24 16:06] alextp commented on #32082
...and even if you do broadcast the empty list should broadcast to 0, not
to 1, I think

On Tue, Sep 24, 2019 at 9:03 AM Yong Tang <notifications@github.com> wrote:

--
 - Alex

[2019-09-24 16:31] rjurney commented on #32751
In my tests `-rc2` did not work. Nor did previous release candidates. With the dash has never worked, there hasn’t been an asset with a dash on pypi. I lasted the available packages above, there is no dash.

[2019-09-24 16:34] gunan commented on #32650
"unsupported operation" is simply an info log.
The failure is:

[code]

[2019-09-24 16:35] gunan commented on #32637
Looks like you solved the build issue reported here?
I see that the issue you linked, you were able to run toco.

[2019-09-24 16:37] jvishnuvardhan commented on #32082
Sorry for misunderstanding @alextp comments. Thanks @yongtang for reopening the issue.

[2019-09-24 16:45] swati-daffodilsw commented on #32687
Any update on this?

[2019-09-24 17:05] TimCapes opened #32785 "Converting tf fashion mnist model with Supported Operations to TFLite breaks due to Operand Shape Mismatch"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-09-24 17:05] TimCapes commented on #32785
I am aware there is a bug in the model training which results in poor accuracy. I still want to be able to convert this model and it appears to use only supported operations once freeze_graph is used to replace tf.Variable with tf.constant.

[2019-09-24 17:18] Namburger commented on #30427
Hi, for reference, I got this fixed with these 2 version:
[code]
09/24/19, hope this helps

[2019-09-24 17:35] angerson commented on #32736
Thanks for reporting this! We have automation to build our new images automatically; since TF 2.0 is the "newest", these images weren't being triggered properly. I've verified that the 1.15rc1 images are now available as intended.

[2019-09-24 17:35] #32736 closed

[2019-09-24 17:47] angerson commented on #26333
This issue has been resolved now that the docs have been updated.

[2019-09-24 17:47] #26333 closed

[2019-09-24 17:57] vicky30mar82 commented on #32703
Hi Ravi,
I am using
Windows 7 Platform
Python 3.4 (64 Bit)
Tensorflow : 1.14.0

Regards
Vivek Srivastava

[2019-09-24 17:59] drasmuss opened #32786 "Keras Layer.compute_output_shape calls `build` with wrong input shape"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0rc2

[2019-09-24 18:09] girving commented on #3348
If anyone is curious: @charmasaur suggests that it would have been "more correct" to define gradients the other way.  This isn't correct: the easiest way to see this is to imagine that the inputs to a network are real, the outputs are real, and in the middle of the network is a holomorphic function.  In this case, the optimizer has no idea that there's a holomorphic function involved in the middle

[2019-09-24 18:10] girving commented on #3348
@martinwicke I gave a talk once inside Google with a slide showing the proof that the gradient should be the conjugate.  It's the TensorFlow documentation talk about gradients.  Could you take a picture of that slide and attach it here?

[2019-09-24 18:14] ymodak commented on #32721
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-09-24 18:14] #32721 closed

[2019-09-24 18:21] frankchn commented on #32651
Hello! Yeah, we don't allow local filesystem access on TPUs right now, and we recommend that you read and write checkpoints and other files on GCS. See our [MNIST on TPU colab](https://colab.sandbox.google.com/github/tensorflow/tpu/blob/master/tools/colab/keras_mnist_tpu.ipynb#scrollTo=Hd5zB1G7Y9-7) for an example.

With future TensorFlow and TPU releases (2.1+), you will be able to use the `ram:/

[2019-09-24 18:21] #32651 closed

[2019-09-24 18:35] Yrij-Zhavoronkov commented on #32713
Any ideas?

[2019-09-24 19:05] shahriar49 opened #32787 "Noisy loss in distributed training"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.12 & 1

[2019-09-24 19:08] ayman-saleh commented on #32782
This is because you are compiling the master branch which is the stable version of `tensorflow` version `1.14`. Your gonna need to checkout to the `r2.0` branch and recompile.

Run `git checkout r2.0` inside the tensorflow repo.

[2019-09-24 19:18] NEGU93 commented on #3348
I didn't understood, you gave the talk or this @martinwicke ? In any case, this talk would be much appreciated if you could provide the link. Also references if any.

Thank you.

[2019-09-24 19:27] hassanshallal opened #32790 "ModuleNotFoundError: No module named 'tensorflow.examples.tutorials'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (macOS Mojave 10.14.6):
- TensorFlow installed from (sourc

[2019-09-24 19:34] yyoon commented on #29731
04e169a should fix this. Let me know if you still have issues.

[2019-09-24 19:34] #29731 closed

[2019-09-24 19:35] angerson commented on #32244
Your suggestion looks like a good idea -- would you mind preparing a PR with the same changes as worked for you?

Creating a PR would initiate more tests for your change, which would help catch any potential problems of changing the list of binaries.

[2019-09-24 19:46] angerson commented on #29738
@zh794390558, this image has python3:

[code]

If that doesn't work for you, you may need to put together your own image.

[2019-09-24 19:46] #29738 closed

[2019-09-24 19:49] sdevane commented on #26501
Any update on this please - feel like I went through all this effort and left hanging at the end not understandfing whats the next step with libtensorflow-lite.a???

[2019-09-24 19:53] mihaimaruseac commented on #32782
We will change version number in master after 2.0 is released.

[2019-09-24 19:54] reedwm commented on #32170
@tanzhenyu, I see you added the tf.keras Ftrl optimizer. Are there any plans to support GPUs with sparse gradients?

[2019-09-24 19:57] haozha111 commented on #32650
From the error message, i see there are v1 control flows and tensorarray ops in your graph, unfortunately those are not (and will not be supported) by TOCO. But we are currently working on a new MLIR-based converter which could address those. Please stay tuned! Thanks.

[2019-09-24 20:01] angerson commented on #27556
I think this is fixed, or at least no longer an issue.

[2019-09-24 20:01] #27556 closed

[2019-09-24 20:04] #32790 closed

[2019-09-24 20:13] mihaimaruseac commented on #32751
This is most likely an issue with the pip version.

On my system I am able to install both with dash and without dash

[code]

I am using pip 19.2.3 which seems to be the latest (`pip install --upgrade pip` doesn't bring anything new).

As such, closing the issue.

[2019-09-24 20:13] #32751 closed

[2019-09-24 20:15] mihaimaruseac commented on #32784
Can you please also post a code sample (using proper Markdown formatting so it's easy to read) that is a minimal reproduction example?

[2019-09-24 20:18] mihaimaruseac commented on #32768
By any chance, do you have `keras_applications` and `keras_preprocessing` installed?

I cannot reproduce but knowing the relevant import area these two seem like might be related.

[2019-09-24 20:39] rjurney commented on #32751
@mihaimaruseac I have the same pip version as you. That you can’t reproduce it doesn’t mean it doesn’t exist - look at the versions available on the pypi page for tensorflow-gpu and you’ll see the one with the dashes is missing. This seems to be proof of the problem?

[2019-09-24 20:43] jvishnuvardhan commented on #32718
@awav I could reproduce the issue. However, you could install most recent release candidate (rc2) as `pip3 install tensorflow==2.0.0rc2`. Thanks

@mihaimaruseac Are we not releasing any pips for 2.0 nightly on python 3.7.? You have commented earlier for [similar issue](https://github.com/tensorflow/tensorflow/issues/27470#issuecomment-530108258) on Wiondows. Any thoughts on this for Mac? Thanks!

[2019-09-24 20:50] martinwicke commented on #3348
This one?
<img width="995" alt="Screen Shot 2019-09-24 at 13 49 24" src="https://user-images.githubusercontent.com/577277/65549364-3b3f1880-ded2-11e9-90db-2bee3a25f5cc.png">

[2019-09-24 21:00] mihaimaruseac commented on #32751
See https://github.com/pypa/pip/issues/5021

[2019-09-24 21:02] jvishnuvardhan commented on #32718
@awav Based on @mihaimaruseac, apparently we're not releasing nightlies for py3.7 except for Linux. However, this will be fixed when 2.0 is released. Till then, please use `pip3 install tensorflow==2.0.0rc2`. Thanks!

[2019-09-24 21:06] tanzhenyu commented on #32170
There are plans to support GPU. However specifically ftrl might not be the prioritized item in the plan

[2019-09-24 21:14] yyoon commented on #31190
04e169a should fix this. Let me know if you still have issues.

[2019-09-24 21:23] guptapriya commented on #32622
I believe this has been fixed by (in one way, perhaps not the best): https://github.com/tensorflow/tensorflow/commit/438fc52e81ead89799067a2b961f6990d9b4f5f6#diff-580627c9b7904095019167ef005a72de. Please re-open if not, and thank you for filing!

[2019-09-24 21:23] #32622 closed

[2019-09-24 21:35] guptapriya commented on #32653
Hi, It is expected for the batch norm layer to trigger syncing on the variables before checkpointing. It should not take very long, certainly not any longer than how long it takes to sync gradients at each step.
Can you provide the following so we debug this further:
- your training code. you said you used the model from official but the training code is yours. Can you share it so we can see what

[2019-09-24 21:38] jvishnuvardhan commented on #32737
@danielegrattarola This is due to sparse tensors. Please read [this](https://github.com/tensorflow/tensorflow/issues/23748#issuecomment-443890338) for more details on the source of the issue.

There is not an easy fix for this. A workaround is
`i = Input(shape=(1,), sparse=True, batch_size=10)`

Thanks!

[2019-09-24 21:41] reedwm commented on #32170
Ok, I'll assign to you for now

[2019-09-24 21:51] dhananjaisharma10 opened #32791 "Mixnet graph freezing issue"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.14.0
-

[2019-09-24 21:56] rjurney commented on #32751
@mihaimaruseac I have the latest version of pip and this is happening. Given that you know this is a bug, why have you closed this ticket?

[2019-09-24 22:04] danielegrattarola commented on #32737
@jvishnuvardhan I see, but why did it work in previous versions of Keras and TensorFlow then?
Also defining a batch size is only a workaround for very simple use cases, not a stable solution at all.

It feels like this makes using sparse tensors practically impossible in most situation.
Is there anything that I or anybody else can do to restore this functionality in Tensorflow?

[2019-09-24 22:08] angerson commented on #31960
It looks like `third_party/gpus/find_cuda_config.py` eagerly assumes that having CUDA installed in the system default configuration means that you want to use that CUDA installation. Since `TF_CUDA_PATHS` can be overridden, I'm closing this as WAI.

[2019-09-24 22:08] #31960 closed

[2019-09-24 22:11] danielegrattarola commented on #23748
Can confirm that updating to >=1.14 breaks most code dealing with sparse data, which is especially relevant for graphs and text as @anttttti mentioned.

This does not seem to be an issue that can be easily worked around, and the only stable solution is to use Keras 2.2.5 (not 2.3, because that's broken too since it was made to be similar to `tf.keras`).
This seems like a huge step back and effecti

[2019-09-24 22:35] jvishnuvardhan commented on #32737
@danielegrattarola I think @omalleyt12 provided couple of other ideas (creating subclass layer or Lambda layer to convert your sparse inputs to dense) in response to the other [similar issue](https://github.com/tensorflow/tensorflow/issues/23748#issuecomment-443890338). Please feel free to follow that link and start contribute through PRs. Thanks!

[2019-09-24 22:45] mihaimaruseac commented on #32751
I closed the bug because this is not an issue that tensorflow devs need to handle. Leaving it open will just drown out other issues that we should be working on. Afaik, it is standard to deduplicate issues and close those that are caused from upstream, favoring the upstream issue.

[2019-09-24 23:00] rjurney commented on #32751
@mihaimaruseac Just so I understand you correctly, the reason pypi lists no package with a dash is because of this bug? And pip removes the dash automatically?

[2019-09-24 23:06] roohy466 commented on #32731
it seems that installing Cuda 10.0 on ubuntu 19.04 with kernel version 5 is very complicated. Because it shows many conflicts and also many packages must be downgraded such as gcc, tcc, g++. I think it might be easier to install ubuntu 18.04.

[2019-09-24 23:12] speediedan commented on #31973
While the workaround of importing tensorflow_core to access API functionality normally under tf.config (e.g.
[code]
allows autocompletion to function (tf v2.0.0-rc2, pycharm EAP: 193.3519.27),  it does not allow me to use tf.config functionality due to the import error below:
[code]
Any suggestions on a temporary workaround for accessing tf.config functionality? Thanks very much in advance!!

[2019-09-24 23:13] qlzh727 commented on #32543
Thanks for reporting the issue, let me fix it.

[2019-09-24 23:19] mihaimaruseac commented on #32751
See [the corresponding section in PEP 440](https://www.python.org/dev/peps/pep-0440/#public-version-identifiers) and [examples in same PEP](https://www.python.org/dev/peps/pep-0440/#pre-releases): there is no dash in the canonical name.

Regarding the PyPi website: the redirect that is being done is legit, rather than display the same content at two URLs one returns a 301 and redirects to the cano

[2019-09-24 23:21] mihaimaruseac commented on #31973
Importing directly from `tensorflow_core` is not supported and will result in your code being broken by future upgrades.

[2019-09-24 23:21] DiyaLi commented on #24243
reboot worked for me, too. But still don't know how to avoid this happening

[2019-09-24 23:26] jvishnuvardhan commented on #32098
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-24 23:26] #32098 closed

[2019-09-24 23:26] ymodak commented on #29937
@rb-determined-ai Thanks for the detailed analysis. I was able to reproduce your issue in TF 1.13.1
However I tried your script (2nd) in TF 1.15.0-rc1 version and it executed successfully.
May be you want to give it a try. Thanks!

[2019-09-24 23:40] shun-lin opened #32793 "device_lib.list_local_devices() InvalidArgumentError: Invalid device ordinal value (1). Valid range is [0, 0]."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): gLinux
- TensorFlow installed from (source or binary): pip3 installed
- TensorFlow version (use command below): 2.0.0-rc1
- Python version: 3.6.2
- CUDA/cuDNN version: 10.0, 7.6.3
- GPU model and memory:

output of ```nvidia-smi``` from the terminal:
[code]

Snippet of code that cause the problem:
[code]

error messa

[2019-09-24 23:41] ymodak commented on #32569
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-24 23:48] rjurney commented on #32751
Ok, thank you. I get it.

[2019-09-24 23:53] ymodak commented on #32147
Apologies for the delay in response. I suspect that your cpu does not support AVX instructtion sets.
See [Hardware Requirements](https://www.tensorflow.org/install/pip#hardware-requirements)
Can you please confirm?

[2019-09-24 23:56] jvishnuvardhan commented on #28741
@sleighsoft I see your PR merged. If this issue was resolved by your PR, Please close. Thanks!

[2019-09-25 00:07] speediedan commented on #31973
Thanks Mihai, understood, I'm just looking for a temporary workaround to access tf.config, which isn't working with rc2. I think this is actually a separate issue and I'll create a separate ticket accordingly. Apologies for the confusion.

[2019-09-25 00:25] jvishnuvardhan commented on #27270
@SunQpark This is a stale issue. Can you try recent TF version (`TF2.0.0rc2` or `tf-nightly-2.0-preview`) and let us know if the issue still persists. If the issue is there, could you please share a small standalone code to reproduce the issue? If this was resolved, please close the issue. Thanks!

[2019-09-25 00:35] charmasaur commented on #3348
Thanks for the replies!

In that example (and any other situation involving real inputs and outputs), wouldn't the eventual gradient be real anyway, so taking the conjugate would be a no-op?

In any case, to me it just seems like a matter of convention/definition: without the conjugate, your "gradient" is the coefficient of the complex-linear function that approximates your function (well, approxi

[2019-09-25 00:44] speediedan opened #32795 "tf.config namespace not available in rc1/2 (was available in beta0)"
**System information**
tf_env.txt attached

**The Issue**
tf.config namespace is not available in TF 2.0 rc1 and rc2 while it was available in beta0 releases and before. I see no indication that this namespace is being deprecated or changed in the documentation.

[code]

**Expected behavior**
API functionality under tf.config namespace should be available unless otherwise indicated in the document

[2019-09-25 01:05] refraction-ray commented on #3348
As a side note for the above discussion, I believe [this technical report](https://mediatum.ub.tum.de/doc/631019/631019.pdf) is a great material for derivatives and gradients definition of complex function in a more mathematical rigorous way. Specifically, in chapter 4, the author shows exactly why "gradient" of real valued complex variable functions is (two times) the complex conjugate of the cor

[2019-09-25 01:11] csukuangfj commented on #32422
@njeffrie
could you tell me how to use `full-quantized` only? I don't care whether it is full-quantized or hybrid-quantized.

[2019-09-25 01:19] Jessespace opened #32796 "When does tensorflow lite support 3d cnn?"
I trained 3d cnn network on tensorflow, now I want to port to Android phone, but browsed the document and found that tensorflow-lite does not support 3d cnn operation, when will it support it?

[2019-09-25 01:24] cyrus2018 commented on #32569
The issue has not been resolves, any suggestions?

[2019-09-25 01:26] ucasiggcas commented on #32650
batch only can be 1 ??I don't think so !

[2019-09-25 01:28] ucasiggcas commented on #32650
Looking forward to your great project.

[2019-09-25 01:30] cyrus2018 commented on #32569
Mutli GPU usage on TF works in Windows platform right? (Windows 10 pro to be more specific)

Another question: RTX 1070, has separate power input. GTX 1050 draws the power from the motherboard, but i haven't connected the auxiliary power input into the mother board. is there any known hardware configurations that may cause this issue? (to prevent usage of two gpus at the same time?

[2019-09-25 01:42] SunQpark commented on #27270
`ignore_longer_outputs_than_inputs` is still not there, but this could be considered as a reasonable decision. For the second point, model could be trained properly with ctc loss in recent `TF2.0.0rc2` version.

[2019-09-25 01:42] #27270 closed

[2019-09-25 01:52] smartcatdog opened #32798 "can not watch the version of tensorflow 1.14.0 by tensorflow.__version__"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-09-25 02:23] bearsroom commented on #32653
@guptapriya Thank you for your response! Unfortunately I can't share my code as it's a part of our product, but I can provide you later a short snippet to reproduce this problem. I'm about to test TF 2.0 to see if this bug still exists. Currently I have 8 V100 32G gpus and I use MirroredStrategy with NCCL, and I observed no difference between NCCL mode and AUTO mode in terms of this issue.

[2019-09-25 02:29] fsx950223 commented on #32453
How can I verify the tfrecord file? Any info from file context.

[2019-09-25 02:32] berendo commented on #32736
Thank you, @angerson!

[2019-09-25 02:38] bearsroom commented on #32653
Btw, I found another solution to temporarily bypass this problem by only saving the first replica of model. Although saving checkpoint without synchronization is undesirable, but as long as we have enough batch size in a single GPU and we do data shuffling, the estimation of moving mean and variance in a single replica will be very close to the values after synchronization.

I post my solution bel

[2019-09-25 03:27] oanush commented on #32716
@DonaldM164 ,
This is a TF-serving issue, please open the issue in  [TFServing](https://github.com/tensorflow/serving/issues) repo.Thanks!

[2019-09-25 03:27] #32716 closed

[2019-09-25 04:27] girving commented on #3348
@martinwicke Yep.   Presumably that will resolve the confusion. :)

[2019-09-25 05:24] mostafiz76 commented on #27880
I am able to do post training full integer quantization, with mobilenet V1. Compiled with edge TPU , worked fine.

The conversion from floating point to INT needs to be done only with tensorflow nightly 1.15, other wise this "ERROR: quantized_dimension must be in range [0, 1). Was 3." error occurs. Regards

[2019-09-25 05:38] gadagashwini commented on #32748
@dovahcrow,
I could reproduce the issue with TF 2.0.0.rc2. Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/4960b9907cbf83daae6a643136653125/untitled164.ipynb). Thanks!

[2019-09-25 05:49] foxik commented on #32795
The `tf.config` works just fine for me with TF 2.0 rc2. Looking into `tf_env.txt`, I contains the following:
[code]
so it seems you have both TF 2.0.0rc2 and 1.13.1 installed, and `import tensorflow` actually imports the 1.13.1 version, which of course does not have `tf.config`.

[2019-09-25 06:10] nikhil-mathew-td opened #32799 "Inconsistency between keras model.predict() and model.call()"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-09-25 06:18] lovickie commented on #32726
I found that _REF is because variable definition (fc/bias, fc/kernel, etc), even thought I don't put them into output...

[2019-09-25 06:21] chris0914 commented on #32782
Thanks to both of you. Expected the master to be the nightly TF2.0 version. With the correct branch everything worked out fine.

Cheers

[2019-09-25 06:21] #32782 closed

[2019-09-25 06:25] yunabe commented on #32588
Anyway, I sent a PR to `master` branch: https://github.com/tensorflow/docs/pull/1044

[2019-09-25 06:30] ravikyram commented on #32786
I have tried on colab with TF version 2.0.0-rc2 , 2.0.0-dev20190924 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/4071357c68ee4ac7295198754d9489a0/untitled219.ipynb). Thanks!

[2019-09-25 06:36] edwardyehuang commented on #18222
How is going? Any update ? @guptapriya @seemuch

[2019-09-25 06:53] yunabe opened #32800 ""Autograph capabilities and limitations" link in AutoGraph doc is outdated"
## URL(s) with the issue:
https://www.tensorflow.org/guide/autograph

## Description of issue (what needs changing):
"Autograph capabilities and limitations." link points an out dated doc at:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/autograph/LIMITATIONS.md

### Clear description

- There was a similar bug in https://github.com/tensorflow/tensorflow/issues/22280 in 20

[2019-09-25 06:55] fsx950223 opened #32801 "UpSampling2D doesn't support bfloat16"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2019-09-25 07:03] momo1986 opened #32802 "Problem to transform an custom efficient-net with an unofficial API to tf-lite version"
**System information**
- OS Platform and Distribution (Linux Ubuntu 18.04):
- TensorFlow installed from source:
- TensorFlow version (1.12):
- Keras version (2.2.4)

Hello, I use this Keras-repository to deploy my efficient-net-model for specific application.
https://github.com/titu1994/keras-efficientnets

I want to transform the h5-file to tflite and met some problems.

My code is:
[code]
My pro

[2019-09-25 07:04] #32766 closed

[2019-09-25 07:06] yunabe commented on #32800
It seems like the link was fixed on Aug 6th, 1.5+ month ago, on GitHub.
https://github.com/tensorflow/docs/commit/c29c6fa8202fcd8da4ab8d8072c5f7dacf7c160a#diff-039832f2dbb662a37df6e0fa64ebe35e

I'm wondering why the live document is not fixed yet.
Isn't `r2.0rc` branch the version we use to create the site? Or we haven't pushed any document fixes at least since Aug 6th?

[2019-09-25 07:20] rishabhsahrawat commented on #32651
Hello @frankchn , thank you for your response. In your example link for MNIST data, it uses GCS bucket for storing image and label files, but I do not have a GCS bucket since I am using Google Colab free TPU or, maybe there is a way for free users to access and load the data to GCS.
Also, you talked about Checkpoints, checkpoints will be created once the model starts training which will require th

[2019-09-25 07:23] guptapriya commented on #18222
This is still in progress, @anj-s has taken over. We are discussing the API change now as we also want to enable synchronization over a batch size bigger than per replica but smaller than entire batch size.

[2019-09-25 07:54] Fansgithub2019 commented on #20561
I solved this problem. This is because the protobuf version does not match the version when the os file was generated. The same or newer version should be used.

[2019-09-25 08:00] NEGU93 commented on #3348
YOU ARE THE BOSS!!! I was trying to reverse engineer it myself. I had some theories and all where taken down at some point. I was expecting the definition to be `2*df/dconj(z)` based on a paper of CVNN (Akira Hirose) which did work for `f : C -> R` but not for `f : C -> C`. (Always using Wirtinger calculus of course)

One last question maybe off topic. I tried reading the code myself but I'm more

[2019-09-25 08:01] gadagashwini commented on #32728
@uziela, Thanks.
Will close issue here. We can track the resolution in that thread.

[2019-09-25 08:01] #32728 closed

[2019-09-25 08:03] frankchn commented on #32651
@rishabhsahrawat Unfortunately you have to use GCS to store data going into and out of TPUs. This is a current design limitation for the platform that we are working to resolve, but we don't have anything to announce at the moment.

You can sign up for a Google Cloud Platform account with 5GB of free storage and $300 in credits at https://cloud.google.com/free/, so that should be able to provide y

[2019-09-25 08:04] gadagashwini commented on #32755
@MattConley, Will it be possible to provide the sample standalone code to replicate the issue. Thanks!

[2019-09-25 08:20] wxquare opened #32805 "model_pruning: Why 50% and 90% zeros of the stripped models are the same size?"
1. I'm trying tensorflow/contrib/model_pruning/examples/cifar10.  I use strip_pruning_vars to  remove pruning ops from the trained graph, strip_pruning_vars  shows 50% and 90% zeros respectively, but their final model are the same size.

2.  As described in the doc，“For now, it is assumed that the underlying hardware platform will provide mechanisms for compressing the sparse tensors and/or accele

[2019-09-25 08:21] ravikyram commented on #32778
Is it possible for you to try latest TF versions (`!pip install tensorflow-gpu==1.15.0-rc1`)and let us know whether the issue persists? There were lots of performance improvements in the latest versions. Thanks!

[2019-09-25 08:22] jordanparker6 commented on #30918
@omalleyt12 that didn't work either...

[2019-09-25 08:22] jordanparker6 commented on #30918
@omalleyt12 is the fact that i am using a GTX1080ti with 11gb of GPU RAM an issue?

[2019-09-25 08:23] gadagashwini commented on #32779
@BinyanHu,
Please provide the simple standalone code to reproduce the issue. Thanks!

[2019-09-25 08:31] oanush commented on #32763
Please find the gist of colab  for[ TF-15.0rc1](https://colab.sandbox.google.com/gist/oanush/1d1de9cd803a5d388d4c44f2034a6697/32763.ipynb) and TF-15.0 when tried executing the code.
Thanks!

[2019-09-25 08:35] ravikyram commented on #32776
Can we close this issue since the query is been resolved.Thanks!

[2019-09-25 08:36] gadagashwini commented on #32781
@OuHangKresnik, Please elaborate the issue with context. Thanks!

[2019-09-25 08:39] rishabhsahrawat commented on #32651
@frankchn alright, thank you for your answer.

[2019-09-25 08:40] gadagashwini commented on #32787
@shahriar49, Please provide the simple and standalone code to reproduce the issue reported here. Thanks!

[2019-09-25 08:42] oanush commented on #32762
@nolanding ,
Please refer this [link](https://stackoverflow.com/questions/42317075/tensorflow-r1-0-could-not-a-find-a-version-that-satisfies-the-requirement-tens) and check if it helps resolving the problem, meanwhile also fill the standard template data.
Thanks!

[2019-09-25 08:46] ArtemisZGL commented on #32725
i try to avoid to use broadcast, but still not work, and i also try to use tf.get_variable() to replace keras add_weight() in self-define layer, but not work again

[2019-09-25 08:46] gadagashwini commented on #32678
@xichuanhit,
Any update!

[2019-09-25 08:50] oanush commented on #32791
@dhananjaisharma10,
Thanks for reporting the issue, Can you provide a simple and standalone code to reproduce the issue?

[2019-09-25 09:10] ravikyram commented on #32775
Try uninstalling cuda 10.1 and install cuda 10.0 and in addition to that make sure you add cuda, cudnn paths to your environment.
Please, go through below links and see if it helps you.
See #[software_requirements](https://www.tensorflow.org/install/gpu)
       #[TensorFlow website](https://www.tensorflow.org/install/source)

[2019-09-25 09:12] yunabe opened #32806 "keras.Model.fit does not work with custom layers in Tensorflow 2.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installed from (source or binary): Colab
- TensorFlow version (use command below): 2.0.0-rc1
- Python version: 3.6.8 (default, Jan 14 2019, 11:02:34)
[GCC 8.0.1 20180414 (experimental) [trunk revis

[2019-09-25 09:14] SefaZeng opened #32807 "AttributeError: 'Tensor' object has no attribute '_lazy_read'"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2019-09-25 09:15] oanush commented on #32720
Issue replicating for TF-[1.15rc1](https://colab.sandbox.google.com/gist/oanush/f481f4351f8ab1b74a2ceaeba90b05b3/32720.ipynb) and also TF-nightly-1.15,kindly find the gist of colab.Thanks!

[2019-09-25 09:21] nikste commented on #31960
I don't think this is a good solution. I'd at least mention overriding `TF_CUDA_PATHS` in the docs somewhere.

[2019-09-25 09:23] andreipit commented on #24828
TF 2.0 needs [cuDNN SDK](https://developer.nvidia.com/cudnn) (>= 7.4.1)

extract and add path to 'bin' folder into "environment variables / system variables / path": "D:\Programs\x64\Nvidia\cudnn\bin"

[2019-09-25 09:30] zhuhong opened #32808 "Why the communication of distributed training not hidden when using XLA?"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): None
- OS Plat

[2019-09-25 09:34] oanush commented on #32577
@SundeepPidugu ,
Can you please provide us the error logs which is faced?Thanks!

[2019-09-25 09:54] pzobel opened #32809 "TF 2.0 Feature: Flops calculation"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): TF 2.0 RC2
- Are you willing to contribute it (Yes/No):

*

[2019-09-25 09:58] whhu opened #32810 "Send/Recv of collective_ops hangs in a distributed environment"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Linux CentOS 7.6.1810
- Mobile device if the issue happens on mobile device: No
- TensorFlow installed from: Binary
- TensorFlow version: v1.13.1-0-g6612da8951
- Python version: 3.6.8
- Bazel version: None
- GCC/Compiler version: None
- CUDA/cuDNN version: None
- GPU model and memory: None

**Describe the curr

[2019-09-25 09:59] whhu commented on #32810
Could you please take a look at this issue and the related #31913? @dubey

[2019-09-25 10:06] kayak93 commented on #32204
same error trying to run the teachable demo on the coral board

[2019-09-25 10:19] ravikyram commented on #32703
@vicky30mar82

I tried executing in command line. Please,find the attached file for your reference.
[errorlog.tar.gz](https://github.com/tensorflow/tensorflow/files/3651913/errorlog.tar.gz)

[2019-09-25 11:06] swati-daffodilsw commented on #32780
@miaout17 : Can you please help me to achieve this?

[2019-09-25 11:09] mrgloom commented on #23799
What does `converter.default_ranges_stats` mean?

[2019-09-25 11:56] #23681 closed

[2019-09-25 11:58] owainkenwayucl commented on #32776
It's not been resolved.  There's a workaround which I found in this case but that's only because I've a great deal of familiarity with the system.

If I were a user of a system where I were trying to install things in my home directory and i did not know how things were set up underneath it would cause problems.  Googling the error finds other people stuck at this point (e.g. https://github.com/ba

[2019-09-25 12:10] Alexander-H-Liu opened #32812 "Inconsistent gradient from different backend of CTCLoss"

[2019-09-25 12:13] Alexander-H-Liu commented on #32812
sorry I issued the wrong place...

[2019-09-25 12:13] #32812 closed

[2019-09-25 12:18] shahriar49 commented on #32787
@gadagashwini Thanks for note, but the data that I am using for my work is not a public data, so its reproduction here may not be possible. Isn't there any possibility to discuss this issue by itself? I was thinking that maybe somebody has seen such a behavior before or there is a clear mistake in my approach.

[2019-09-25 12:19] durandg12 commented on #29881
Actually there is even one new warning when using tf2.0.0-rc0, I didn't see it the first time I tested. For the same code as abov, now the output is:
[code]

See the new warning ```Layer.add_variable (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `layer.add_weight` method instead.
[code]

[2019-09-25 12:20] robgmsn commented on #28237
Just got this answered on SO...

[code]

https://stackoverflow.com/questions/58096095/how-does-tf-audio-decode-wav-get-its-contents

[2019-09-25 12:51] NEGU93 commented on #2818
If you check the definition of the gradient I posted in [stackoverflow](https://stackoverflow.com/questions/57108959/how-does-tf-gradients-manages-non-holomorphic-functions/), the result you are having makes perfect sense.

As said, I still don't know WHY tensorflow uses that definition of the gradient but makes perfect sense for real scalar function wtf of complex variables.

[2019-09-25 13:20] charmasaur commented on #3348
I won't be much help on this one, unfortunately. For my investigation I just dug around until I found the python code defining gradients (math_grad.py, linked earlier), and used that in isolation. I've never actually tried to trace through all the way from a `gradients` call to the C++ code.

Maybe one of the TF folks can point to a resource for learning more about that?

[2019-09-25 13:24] netskink commented on #32557
I will try this with rc2 version of tensorflow

[2019-09-25 13:29] Jonathanpro commented on #31927
The issue seems to be solved for me with tensorflow 2.0 rc2
The change log states

model.save and tf.saved_model.save may now save to the TensorFlow SavedModel format. The model can be restored using tf.keras.models.load_model. HDF5 files are still supported, and may be used by specifying save_format="h5" when

[2019-09-25 13:42] fjallraven commented on #32768
I do have those packages yes:
[code]

[2019-09-25 13:45] gds101054108 commented on #31661
is it working in any tf version now?

[2019-09-25 13:55] a1-mukul commented on #12693
first pip uninstall tensorflow-tensorboard and then pip install tensorboard.
This will work

[2019-09-25 13:58] shahriar49 opened #32813 "Windows chief can not establish session with unix worker"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10, CentOS 7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below

[2019-09-25 14:00] Saptarshi-Ghosh-98 commented on #32806
1. Use gast==0.2.2 for now. gast 0.3.x will give Attribute Missing Error. This hasn't been fixed as of rc2.

2. You need to use
`super().__init__()`
or
`super(DualLayer, self).__init__()`

The code runs otherwise.

[2019-09-25 14:09] #32719 closed

[2019-09-25 14:09] churvey commented on #32719
it is fixed in master branch

[2019-09-25 14:22] eustomaqua opened #32814 "gpu_options doesn't work"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  **Yes**
- OS

[2019-09-25 14:38] yunabe commented on #32806
Do you mean `gast 0.3.x` will improve the error message and I will be able to notice such a silly mistake more easily?

Oops... I assigned `self` as `trainable` of `__init__` of `keras.layers.Layer`. I'm very ashamed.

[2019-09-25 14:39] dorlivne commented on #28844
will this fix work in beta1?

[2019-09-25 14:47] ahmadki commented on #26797
I can confirm that #32432 fixes the issue when using cuDNN and the keras API (you'll have to set the argument `fused=True`)

@houtoms FYI

[2019-09-25 14:57] besherh commented on #32629
I have the same exact issue!

[2019-09-25 15:21] prats226 opened #32815 "tf.io.gfile.copy and tf.gfile.Copy input and output same path with overwrite removes all contents"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2019-09-25 15:23] shendiaomo commented on #27725
What's the progress of this issue?

[2019-09-25 15:47] SanthoshRajendiran opened #32816 "huge runtime increase for keras converted tflite on some android devices"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Honor Play (COR-AL00) and Poco F1
- TensorFlow installed from (source or binary): Source
- TensorFlow versio

[2019-09-25 16:10] #28741 closed

[2019-09-25 16:31] oracle3001 opened #32817 "Re-emerged Issue #31509 - BaseCollectiveExecutor::StartAbort Out of range:"
The previous issue described in #31509 was fixed, but I am now experiencing exactly the same issue  with all the same setup using the latest nightly build of TF2.0 when using tf.keras.optimizers.Adam

[2019-09-25 16:38] speediedan commented on #32795
:: slaps forehead :: I've been upgrading from one tf2.0 pre-release version to the next without issue for months but still can't believe I overlooked this possibility! tensorflow 1.13 was apparently a dependency of a conda-forge package I had installed long ago that I inadvertently reinstalled. SMH. Thanks!

[2019-09-25 16:38] #32795 closed

[2019-09-25 16:53] MarkDaoust commented on #15978
The TF2 launch is coming soon, and TF2 does not expose ConfigProto except as `tf.compat.v1.ConfigProto`. So it might be reasonable to close this as "obsolete".

@jaingaurav, you wrote the TF2 version of "Using GPU" do you know the status of ConfigProto? is it dead? should we close this?

[2019-09-25 16:55] alextp commented on #32064
@gunan can you triage this?

[2019-09-25 16:55] TimCapes commented on #32785
It is worth noting that this model will successfully convert if I exclude the TFLITE_BUILTINS and use only SELECT_TF_OPS but according to the documentation this should work with TFLITE_BUILTINS as every op is compatible.  This also breaks if I use both TFLITE_BUILTINS and SELECT_TF_OPS in that order.

[2019-09-25 17:02] dhananjaisharma10 commented on #32791
I have updated the "code to reproduce". Please let me know if you have trouble running it.

[2019-09-25 17:03] Nucs commented on #32449
Any update on the issue? This bug prevents our users from using Tensorflow in a multithreaded manner in production.

[2019-09-25 17:25] beasteers opened #32818 "Add function to gather custom objects - easy pickling for models"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.14.0
- Are you willing to contribute it (Yes/No): idk

*

[2019-09-25 17:46] haozha111 commented on #32201
Hi,

The convert to depthwiseconv is by design. I'm curious if this causes an issue for you (correctness/performance regression)?

[2019-09-25 17:50] haozha111 commented on #32608
Hi,

We are working on a new converter that can convert keras lstm/rnn into tflite. Please stay tuned!

[2019-09-25 18:03] gamanox commented on #17369
solved installing `pkg-config` on Mac
`brew install pkg-config`

[2019-09-25 18:15] bqm commented on #32674
Hello @jvishnuvardhan, thank you for your answer.

Using the 1.15.0rc1 JAR provided in https://storage.googleapis.com/tensorflow/, I was able to confirm that the issue also exists on TF1.15.0rc1.

[2019-09-25 18:29] dubey commented on #32810
In this case it looks like you're actually creating 2 instances of broadcast collectives, but assigning both of them the same instance key.  A group defines a set of devices participating in a collective op, an instance is a specific collective, like a single all-reduce or a single broadcast.  In this case there is an instance in which task 0 sends and task 1 receives, and there is another instanc

[2019-09-25 18:34] dubey commented on #31913
Are you trying to do something like a hierarchical all-reduce?

I haven't tried this myself but one thing I see that confuses me is the assignment of group keys and instance keys.  You want a unique group key for each set of devices participating in a collective, and you want a unique instance key for every instance of a collective.

[2019-09-25 18:38] skeydan commented on #32244
Great, I will do that!

[2019-09-25 18:38] IvanUkhov opened #32819 "Shared and mutated state between training and validation callbacks"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Datalab
- Mobile device: NA
- TensorFlow installed from: Binary
- TensorFlow version: 1.15.0rc1
- Python version: 3.5.6
- Bazel version: NA
- GCC/Compiler version: NA
- CUDA/cuDNN version: NA
- GPU model and memory: NA

**Describe the current behavior**

When invoking `keras.Model.fit` with two `data.Dataset`s

[2019-09-25 19:12] Lap1n commented on #31368
I have the same error using tensorflow 2.0 nightly and tensorflow 1.0 nightly. Any update on this? Since the error is very generic, it is very hard to debug...

[2019-09-25 20:03] stephenwithav commented on #17411
tf1.5 isn't available in the Debian 8.8 repos.

Time to try avx.

[2019-09-25 20:24] #32543 closed

[2019-09-25 20:29] TimCapes opened #32821 "Optimizer Fails to Run in Compatibility Mode (tested for Adam and Gradient Descent)"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-09-25 20:30] TimCapes commented on #32821
Note eager execution is disabled since under eager execution the optimizer is supposed to take a function that calculates loss and not a tensor.  With eager execution disabled according to the docs a tensor is acceptable input.

[2019-09-25 20:33] mihaimaruseac commented on #32768
It's strange that not even `tf.__version__` works for you.

Can you create a fresh environment and install tensorflow in it? Please attach all logs.

`(mkdir new; virtualenv new -ppython3.6; cd new; source bin/activate; pip install tensorflow; python -c "import tensorflow as tf; print(tf.__version__)") > logs`

[2019-09-25 20:56] MattConley commented on #32755
@gadagashwini Unfortunately the minimal repro I have at the moment is the bincount_op_test itself, specifically `test_negative` (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/kernel_tests/bincount_op_test.py#L106-L110).
The issue might be with the test framework itself, as internal session wrappers are used even with TF 2.0.

Also, setting CUDA_VISIBLE_DEVICES to be empty

[2019-09-25 22:02] ganesh-ms commented on #31249
Your Tensorflow is not properly installed. Try installing it again.

[2019-09-25 22:29] Bidski commented on #32775
@ravikyram cuda 10.1 isnt the issue (I have built tensorflow from source on other machine with cuda 10.1 without issue). Cuda and cuDNN are in the locations that the configure script found them. All software requirements are met.

[2019-09-25 23:09] jaingaurav commented on #15978
@MarkDaoust: ConfigProto has been replaced by many `tf.config` APIs for 2.0. Under the hood it uses ConfigProto, but that is an implementation detail. Please let me know if there is any known functionality missing from the `tf.config` APIs, as not all fields may have been exposed in the new APIs.

[2019-09-25 23:33] gowthamkpr commented on #32241
@vade Thank you I had an issue with my browser. Will look into it

[2019-09-26 00:29] ymodak commented on #29921
Tested with TF 1.15.0rc1 it breaks with message,
[code]

[2019-09-26 00:59] paanguin commented on #32495
The error can be also reproduced in  tensorflow nightly gpu version 1.15,
[code]
with this code.

[code]

It seems that the converter try to "quantize" the input 1, the op RESHAPE, I guess.
[code]

[2019-09-26 02:23] #32807 closed

[2019-09-26 02:33] xinglinzh commented on #30272
Just got the same issue with TF1.14 with Mac 10.14.6

[2019-09-26 03:16] JiayiFu commented on #32009
@Binbin16 I saw your email and write a reply to you.

[2019-09-26 03:28] whhu commented on #32810
Thank you very much for the fast reply! @dubey I improve the code and come across another problem. The script is simplified to keep only one variable named 'weight' on each worker, and every worker creates its own chief session to initialize the variable. The code of `send/recv` is improved by creating **a pair** of tensors of the sending and the receiving with **the same** `instance_key`. When wo

[2019-09-26 04:09] nfelt commented on #32603
You can just edit the `tf.summary.scalar('train', ...)` calls to pass in different string tags - right now they're both using `train` so the second one gets mapped to `train_1`.

[2019-09-26 04:11] nfelt commented on #32587
We're no longer making changes to the contrib summary API, but if you try the TF 2.0 `tf.summary` API, it should look similar to contrib, but doesn't require calling `always_record_summaries()` - summaries are on by default.

[2019-09-26 04:11] #32587 closed

[2019-09-26 05:34] WestbrookZero opened #32830 "TfLite ObjectDetection Demo crashed on Android with armeabi"
java.lang.UnsatisfiedLinkError: No implementation found for long org.tensorflow.lite.NativeInterpreterWrapper.createErrorReporter(int) (tried Java_org_tensorflow_lite_NativeInterpreterWrapper_createErrorReporter and Java_org_tensorflow_lite_NativeInterpreterWrapper_createErrorReporter__I)
        at org.tensorflow.lite.NativeInterpreterWrapper.createErrorReporter(Native Method)
        at org.tens

[2019-09-26 05:35] LiyuCode opened #32831 "Failed to compile with CUDA 10.1 on Windows"
Trying to build TF with CUDA 10.1 support with following env:

**Enviroment**
[code]

**Steps to reproduce the issue**
Basically, following https://www.tensorflow.org/install/source_windows on a fresh installed Windows OS.

A detailed note:
https://github.com/LiyuCode/blue_notes/blob/master/Windows/Tensorflow/tensorflow_with_latest_cuda_on_windows.md .

**Problem**
Failed to compile when executing

[2019-09-26 05:39] ravikyram commented on #32819
@IvanUkhov
In order to expedite the trouble-shooting process, please provide a minimal standalone code to reproduce the issue reported here. Thanks!

[2019-09-26 05:42] zero1666 commented on #32377
-----------------------------
I meet the same problem, did anyone resolve it in tensorflow2-rc1?

[2019-09-26 05:56] liakopyangsir opened #32832 "Support TRANSPOSE on GPU Delegate"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Android
- TensorFlow installed from (source or binary): binary(tensorflow-lite-gpu:0.0.0-nightly)
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

My model is quantilized to FP16.

**Any

[2019-09-26 05:58] ravikyram commented on #32817
@oracle3001
I am not seeing any issue with tf.keras.optimizers.Adam in latest TF 2.0.0-rc2 version.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/fbae46031175e81f1c11f7e76a1e3ed0/untitled224.ipynb). Thanks!

[2019-09-26 06:15] ziyigogogo commented on #31870
@mihaimaruseac still an issue. In case it is an IDE caused issue, i also tried with console
# this one still print the log
python -c "import os;import tensorflow as tf;os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2';import numpy as np;print(tf.Variable(np.array([0,1,2])))"
# this one will not print the log
python -c "import os;os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2';import tensorflow as tf;import numpy

[2019-09-26 06:16] jvishnuvardhan commented on #29632
@srihari-humbarwadi Sorry for the delay. Is this still an issue or was it resolved?

[2019-09-26 06:24] paanguin commented on #32495
Firstly, the converter set the quantization parameters of the output tensor of SOFTMAX op. Let's name it as A. The quantization parameter of the tensor A is set to {scale 0.003906, zp -128.000000}. But min and max are not set.

When the converter tries to quantize the output tensor of the RESHAPE op, which follows the SOFTMAX op, it reads the tensor A as the input tensor. It tries to use the quant

[2019-09-26 06:35] TsarF commented on #8773
So, any updates @gunan because I think, that there is a pretty large audience that wants to use c++ with Win10, including me.

[2019-09-26 06:39] gadagashwini commented on #32787
@shahriar49,
Will it be possible to use the publicly available data and provide the code to investigate the root cause of the issue. Thanks!

[2019-09-26 06:41] oanush commented on #32799
I was able to replicate the issue for TF-2.0rc1 and TF-2.0nightly. Kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/4928abbc6345f705adc36bc9e12aa840/32799.ipynb) of colab.thanks!

[2019-09-26 06:43] IvanUkhov commented on #32819
@ravikyram, it is good that you asked for an example. It turned out it was only about those datasets whose size could not be known in advance. I had to use a generator to reproduce.

[code]

[2019-09-26 06:45] calciver opened #32833 "TF 2.0 RC Image Segmentation Tutorial"
The tutorial is found here: https://www.tensorflow.org/beta/tutorials/images/segmentation

In cell 10, the provided Google Colab Notebook has the following error:
OperatorNotAllowedInGraphError: using a `tf.Tensor` as a Python `bool` is not allowed: AutoGraph did not convert this function. Try decorating it directly with @tf.function.

[2019-09-26 07:04] whhu commented on #31913
Thank you for the fruitful advice. :smiley:  It seems a global unique `instance_key` across all groups is required for the `all_reduce` op, in spite of different group is specified by the `group_key` in a distributed environment. I think this issue should be closed.

[2019-09-26 07:04] #31913 closed

[2019-09-26 07:22] paanguin commented on #32495
I was currently working with modifying the tensorflow r1.14 version. Thus I'm not sure about other versions.

When I changed the following code
https://github.com/tensorflow/tensorflow/blob/be5eb917fdea8a99ec8d5eb9428f2e8866858560/tensorflow/lite/tools/optimize/quantize_model.cc#L550

[code]
as
[code]
the converter completed the converting. However, I'm not sure this is safe or not.

[2019-09-26 07:28] angyee commented on #30490
same error, anyone solved?

[2019-09-26 08:23] whhu commented on #32810
It seems only the `collective_group_leader` can trigger the `broadcast_send` ...

[2019-09-26 08:54] ArtemisZGL commented on #13101
hello, if my generator yield x and y, x has shape(batch, 257, 250,1) and y has shape(batch, class_num), what value should output_type be ? i try and get `generator` yielded an element that did not match the expected structure may times

[2019-09-26 09:01] hlopko opened #32835 "TF doesn't build anymore with Bazel's --incompatible_remove_legacy_whole_archive"
Some time ago we migrated Tensorflow to build with this flag flipped, but it regressed again (https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1207#d1e5940d-bde3-46cd-8734-1b6f2fddabf5).

The incompatible flag: https://github.com/bazelbuild/bazel/issues/7362

I'm looking into it. This is a tracking issue for this effort :)

[2019-09-26 09:23] kobenaxie commented on #32675
Same questions, currently my solution same with you ~
`
  scores, indices = get_scores_and_indices(query,key)
`
`
  output = tf.nn.embedding_lookup(values, indices) # [bs, heads*knn, v_dim]
`
`
  scores = tf.expand_dims(scores, axis=-1) #[bs, heads*knn, 1]
`
`
  output = tf.reduce_sum(output * scors)   #[bs, v_dim]
`
any difference ? @Enumaris

[2019-09-26 10:00] xxxzhi opened #32836 "Detected cudnn out-of-bounds write in conv scratch buffer! This is likely a cudnn bug"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-09-26 10:04] DocDriven commented on #31368
@Lap1n
At least for the VGG16 model in my previous post, I was able to compile it with the new compiler version 2.0.267685300. Unfortunately, this did not resolve the original problem for me. Tested it with the TF 1.15 nightly docker image.

[2019-09-26 10:07] diliplilaramani commented on #26501
Waiting for the same.

[2019-09-26 10:12] somedadaism commented on #32612
@k-w-w Can you give me a rough estimation for the timeframe to expect for the fix of the issue? (codebase I will deliver to a client depends on it.)

[2019-09-26 10:37] kvanhoey opened #32837 "Missing GPU implementation"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Linux Kubuntu 18.04
- TensorFlow installed from: binary (with pip3)
- TensorFlow version: 1.14.0 (v1.14.0-rc1-22-gaf24dc91b5)
- Python version: 3.6.8
- CUDA/cuDNN version: 10.0.130
- GPU model and memory: NVidia Titan Xp

**Describe the current behavior**
The op tf.norm cannot be assigned to the GPU in all con

[2019-09-26 11:03] samelsamel commented on #28924
I'm having the same issue while converting code from Pytorch to tensorflow2.0, did anyone find a solution?

[2019-09-26 11:07] carlosg-m commented on #11756
I've adapted the `-np.inf` solution together with `sparse_softmax_cross_entropy_with_logits` and it worked flawlessly.

The only problem is that I expected it to be faster since we are only applying softmax to a subset of labels, but it takes the same time as the standard softmax over all the labels (10000+).

What is going on here? Are all the gradients being calculated even for the inf mask?

Is

[2019-09-26 11:12] ravikyram commented on #32806
@yunabe
Please,let me know if we can close this issue since it looks to be fixed. Thanks!

[2019-09-26 11:19] oanush commented on #32815
Issue replicating with TF-1.14, also in TF-2.0rc2. kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/5a040c1b1f4af41b5e3f1d51f3f3d9e4/untitled8.ipynb#scrollTo=CMr3psVURw-5) of colab.Thanks!

[2019-09-26 11:29] ravikyram commented on #32798
Can you please go through #32768 and see if it helps you.Thanks!

[2019-09-26 11:34] oanush commented on #32821
@TimCapes ,
When tried executing the given code the following output was received, take a look at the [gist](https://colab.sandbox.google.com/gist/oanush/c3b49526e45c415e33d707960caef47b/untitled10.ipynb) of colab.
Can you confirm if the same output is received?Thanks!

[2019-09-26 11:49] ravikyram commented on #32677
@yurivict

Please, let us know was this issue resolved by following @jamieaware suggestion?

[2019-09-26 12:50] yunabe commented on #32806
Sure, it was due to my silly typo, which did not cause any problem in tf1.
It would be great I could get a more readable error message.

[2019-09-26 12:50] #32806 closed

[2019-09-26 12:53] jamieaware commented on #32677
This issue was resolved by installing https://www.softwarecollections.org/en/scls/rhscl/devtoolset-7/

From: ravikyram <notifications@github.com>
Sent: Thursday, September 26, 2019 7:57 AM
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: Jamie Rogers <jrogers@aware.com>; Mention <mention@noreply.github.com>
Subject: Re: [tensorflow/tensorflow] gcc: error: unrecognized command line opt

[2019-09-26 12:59] skeydan commented on #32244
Here it is: https://github.com/tensorflow/tensorflow/pull/32838

thanks!

[2019-09-26 13:19] maxx2803 commented on #32655
@jvishnuvardhan These two paths definitely link to the same folder. I checked it multiple times.
I also tested the new version 1.15.0-rc1 but the issue persists.

I put together some code to reproduce the issue.

First a maven repository that simply loads the model saved with python ([maven_repo.zip](https://github.com/tensorflow/tensorflow/files/3657870/maven_repo.zip)). You can run the class aft

[2019-09-26 13:32] kartik4949 opened #32839 "Inputs to eager execution function cannot be Keras symbolic tensors"
Version:
2.0.0-rc

Python Version:
python 3.7

**this is the shape check function!**
'''@tf.function
def shape_check(input_channels,filters,bottom ,second):
    shortcut = tf.cond(
                            tf.equal(input_channels, filters),
                            lambda :bottom,
                            lambda :second
                        )
    return shortcut'''

**The Error is popi

[2019-09-26 13:37] tgpsantos opened #32840 "TFLite Different behaviour after upgrading gradle"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Samsung S9
- TensorFlow version (use command below): tensorflow-lite and tensorflow-lite-gpu nightly

**Descr

[2019-09-26 13:42] Saptarshi-Ghosh-98 commented on #32806
@yunabe Gast 0.3.x won't help error message. I recommend to use gast 0.2.2 for now, atleast until the stable version is released. If you ever need custom Models, gast 0.3.x will give attribute missing error. (See this Issue: #32319)

[2019-09-26 13:48] shahriar49 commented on #32787
@gadagashwini
Thank you very much for your attention! I tested a simpler code with mnist data and that noisy loss was not showing. So I will investigate more my code and data and will return to this issue later.
But I faced some other problems that I want to know more about it and I appreciate any help. I used below code for mnist_estimator for my test:

[code]

And then the rest of the code just

[2019-09-26 14:03] shahriar49 opened #32841 "Problems running mnist_estimator in distributed mode"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.12
- Py

[2019-09-26 14:17] sdevane commented on #26501
Ok Thanks for response. Disappointing

On Thu, 26 Sep 2019 at 11:13, Dilip Lilaramani <notifications@github.com>
wrote:

--
Best regards

Stephen Devane

[2019-09-26 14:44] TimCapes commented on #32821
@oanush Output looks to be the same as what I'm getting.  You'll notice it doesn't include any training of the network and that the accuracy is roughly random and the global_steps variable has value 1.

[2019-09-26 14:47] Enumaris commented on #32675
@kobenaxie we are doing the same thing. I didn't explicitly write out the `scores = tf.expand_dims(scores, axis=-1)`  line of my code and I use a `reshape` instead of an `expand_dims` but otherwise we are doing identical operations.

[2019-09-26 14:58] Efaq opened #32842 "Using Dataset.map with python dicts as dataset elements passes Tensors without numpy values to the mapping function"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **YES**
- OS P

[2019-09-26 14:59] Efaq commented on #32842
I wonder if it is related to the closed (but maybe not solved?) issue https://github.com/tensorflow/tensorflow/issues/27519

[2019-09-26 15:01] Efaq commented on #27519
@AkashNagaraj I just filed an issue where the code is executing eagerly (and should, since it's TF 2.0), but I'm having a problem of "missing numpy". Would you care to take a look? https://github.com/tensorflow/tensorflow/issues/32842

Thanks!

[2019-09-26 15:05] jdduke commented on #32816
Can you attach both the .tflite model converted from Keras and that converted from the frozen graph (.pb)? As well as the frozen graph itself? Thanks.

[2019-09-26 15:13] mdanatg commented on #31305
@Uiuran if I correctly understand your requirements, are you looking for ways to create identical copies of the same graph, and have these copies share variables?

[2019-09-26 15:21] mdanatg commented on #31842
@akanyaani, it looks like the general suspicion is that subsequent calls to `train_step` cause the function to be re-traced (a slow process that should only happen once or twice), likely due to the parameter configuration. For example, it could be because the shape of `x` varies, but it could also depend on the value of `step`.

I'm not sure I can completely follow your instructions for reproducin

[2019-09-26 15:30] mihaimaruseac commented on #29144
This should be workable now from 2.0 latest release candidate

[2019-09-26 16:00] Uiuran commented on #31305
That's right, but i add that one of these copies would be in training session and another of the copies is being edited to give a new version (e.g a memory optimized one) or maybe a complete new arch that surpass the one being optimized. One aim achievable is to compose one Network based on the evidence of the training of another, useful if you have enough hardware to not have to wait the full val

[2019-09-26 16:04] mdanatg commented on #31962
This is a very strange error, it seems to originate in the gradient calculation. It happens inside a `Dataset.reduce`, but I don't know if that's the reason it crashes; MainModel is fairly complex, though it doesn't seem to do anything dangerous as far as I can tell.

@saxenasaurabh, could you have a closer look at the error? Perhaps we can detect its root cause and raise a more specific error?

[2019-09-26 16:05] mihaimaruseac commented on #31870
So I think you have to set the envvar before importing tf.

[2019-09-26 16:09] mihaimaruseac commented on #31196
Closing as there has been no activity after #32177 landed. Please reopen if it is still an issue.

[2019-09-26 16:09] #31196 closed

[2019-09-26 16:11] jdduke commented on #32802
Over to @xunkai55 who has experience with EfficientNet.

[2019-09-26 16:17] mdanatg commented on #31305
This should be achievable using tf.function. For example like so, to show a minimal example that just prints a tensor:

[code]

See the latest [API docs](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/eager/def_function.py#L989) explaining the mechanism above in more detail.

Would this work for your purpose?

[2019-09-26 16:18] kobenaxie commented on #32675
@Enumaris actually identical, sorry for not specifying the axis in reduce_sum
`output = tf.reduce_sum(output * scors, axis=1) #[bs, v_dim]`

[2019-09-26 16:29] bionicles commented on #32783
[code]

[2019-09-26 16:32] jdduke commented on #32724
We publish .aar's that have x86_64 binaries. If you look at [our examples](https://www.tensorflow.org/lite/examples), each of them should run on x86_64 when built with Android Studio and/or gradle.

Otherwise, if you want to build manually, you can follow the instructions @ https://www.tensorflow.org/lite/guide/android. The x86 build should automatically use NEON_2_SSE for our CPU kernels.

[2019-09-26 16:32] #32724 closed

[2019-09-26 16:35] Uiuran commented on #31305
This is 2.0 feature ?
Still have to test it.  In mean-time, my question is: Does with this function iam able to edit graph12 while changing the variable values in a session in graph1 ? Then change variable value in the graph12 (e.g. training) without changing graph1 weights.
Iam not sure that sharing variables achieve what iam asking

[2019-09-26 16:43] allenlavoie commented on #31998
Saurabh, looks WhileGrad / TensorList related?

[2019-09-26 16:48] mdanatg commented on #31305
In that case it appears the you don't need variable sharing. Rather, something like this:

[code]

Then the two graphs operate on entirely different variables and if any sharing was needed, you'd need to manually assign values to the respective variables.

[2019-09-26 16:50] bionicles commented on #32477
seems the issue only happens when your custom layers use batch norm. if batch norm is used as a standalone layer, it works @jvishnuvardhan @robieta @mshlis @ravikyram

[2019-09-26 16:53] goldiegadde commented on #32718
Mac python3.7 2.0 nightly builds should now be available.
https://pypi.org/project/tf-nightly-2.0-preview/2.0.0.dev20190926/#files

same for windows python 3.7 version
cpu - https://pypi.org/project/tf-nightly-2.0-preview/2.0.0.dev20190926/#files
gpu - https://pypi.org/project/tf-nightly-gpu-2.0-preview/2.0.0.dev20190926/#files

[2019-09-26 16:54] goldiegadde commented on #32718
Thanks for reporting the issue, am closing this now based on the above comment. Feel free to open if you are not satisfied with this resolution.

[2019-09-26 16:54] #32718 closed

[2019-09-26 16:55] baqwas opened #32844 "RPi0W - no go"
<em>Using instructions at [https://www.tensorflow.org/lite/guide/build_rpi](https://www.tensorflow.org/lite/guide/build_rpi )for installation on Raspberry Pi Zero W v1.3. Perhaps impractical owing to ARMv6 processor rev 7 (v6l)</em>

**System information**
processor	: 0
model name	: ARMv6-compatible processor rev 7 (v6l)
BogoMIPS	: 697.95
Features	: half thumb fastmult vfp edsp java tls
CPU implem

[2019-09-26 16:56] gunan commented on #8773
looks like the referenced PR is merged, and it is definitely in releases.
@meteorcloudy did we have any other issues remaining for this?

[2019-09-26 16:59] mihaimaruseac commented on #32815
This is kind of working as intended. The same behavior happens on the operating system level:

[code]

In the end, you are opening the file twice, once for reading and once for writing on it from scratch (thus truncating it to size 0). Then the copy reads a chunk from the beginning and writes it on the output. However, as the file on disk has been cleared, the first chunk is empty so nothing gets

[2019-09-26 16:59] #32815 closed

[2019-09-26 17:03] MarkDaoust commented on #15978
Okay, so this is mentioned in the migration guide now.  Closing.

[2019-09-26 17:03] #15978 closed

[2019-09-26 17:05] mihaimaruseac commented on #32798
Can you also fill in the template in the bug please? In particular operating system, python version and the way you obtained tensorflow (pip, conda, from source, in a virtualenv or global?)

[2019-09-26 17:06] spiegelss opened #32845 "tensorboard connection problem"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Ubuntu 18.04**
- TensorFlow installed from (source or binary): pip (docker)
- TensorFlow version: 1.13.2
- Python version: 3
- Installed using virtualenv? pip? conda?: pip
- CUDA/cuDNN version:10.1
- GPU model and memory: Quadro P3000

Good afternoon!

I am using the tensorflow image from [docker](https://hub.docke

[2019-09-26 17:12] mihaimaruseac commented on #32147
See also #19584

[2019-09-26 17:17] saxenasaurabh commented on #31998
Yeah this seems to be failing when building the gradient of `TensorListPopBack`. It seems like with `persistent=True` this takes the path that outputs all necessary intermediates to support higher-order derivatives which triggers taking the derivative of `TensorListPopBack`. That path is not taken with `persistent=False` iiuc. I will look into a fix.