[2021-03-19 14:05] nukes commented on #29005
Can anyone make a group conv on cpu ?

[2021-03-19 14:19] benjrossi commented on #47724
Thank you, @sherhut.

[2021-03-19 14:31] Guneetkaur03 opened #47916 "Tensorflow Training crashes when using tf dataset on large amount of data"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2021-03-19 14:33] staticdev opened #47917 "Tensorflow ROCM getting wrong version"
Didn't find this error on errors list: https://www.tensorflow.org/install/errors

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.10 with kernel 5.10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.3.2 with tensorflow-rocm2.3.4
- Python version: 3.8.6
- GPU model and memory: AMD Radeon RX580

You c

[2021-03-19 14:41] jthibaut commented on #47891
If I do that I have the following message:
    AttributeError: 'Tensor' object has no attribute 'numpy'

[2021-03-19 14:46] thijstriemstra commented on #47050
thanks @abattery, that worked!

[code]

[2021-03-19 14:51] jthibaut commented on #47891
Can you see it on collab ?
https://colab.research.google.com/drive/1H70CJKwaLNtxFWZDlw2vHZbFCapDlIz5#scrollTo=38owJ0189MbR

[2021-03-19 14:55] #47588 closed

[2021-03-19 14:55] #47585 closed

[2021-03-19 15:01] bhack commented on #47917
Have you checked TF and ROCM versions compatibility at https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/rocm_docs/tensorflow-rocm-release.md ?

@lamberta As this is quite hidden probably we could expose this somewhere in https://www.tensorflow.org/install/gpu#hardware_requirements

[2021-03-19 15:08] #47758 closed

[2021-03-19 15:29] PratsBhatt commented on #47529
This issue can be closed the PR has been merged. @jvishnuvardhan . Thank you.

[2021-03-19 15:31] AdityaKane2001 commented on #47891
@jthibaut
I don't have access, can you share it as a gist?

[2021-03-19 15:40] yann-pourcenoux commented on #47886
By specifying `--input_layer_shape` or by creating the model with a fixed input shape I could fix the `segmentation fault` problem. But now I added a custom layer and I get a
[code]
The node where the error happens can be seen on this [image](https://user-images.githubusercontent.com/43449205/111805496-5d500600-88d1-11eb-840b-e393e7542e3f.png).
Do you have any idea what could be causing this probl

[2021-03-19 15:55] staticdev opened #47918 "Installation error: Tensorflow having some conflict with rocm-3.9.1"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.10 with kernel 5.10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.3.2 with tensorflow-rocm2.3.4
- Python version: 3.8.6
- GPU model and memory: AMD Radeon RX580 4g

**Describe the problem**
[code]

**Provide the exact sequence of commands / steps th

[2021-03-19 15:55] #34586 closed

[2021-03-19 15:56] #47918 closed

[2021-03-19 15:56] #47917 closed

[2021-03-19 15:57] jthibaut commented on #47891
I am sorry I am not proficient with github

https://github.com/jthibaut/Landscape-identification2/blob/main/MODEL1.ipynb

[2021-03-19 16:08] bhack commented on #47916
|  Try to provide a reproducible test case that is the bare minimum necessary to generate the problem.

We really need to have a very minimum standalone code snippet  (or Colab) to reproduce this.

In the meantime can you try to reduce the batch size?

[2021-03-19 16:08] AdityaKane2001 commented on #47891
no problem

[2021-03-19 16:18] #47909 closed

[2021-03-19 16:25] AdityaKane2001 commented on #47891
@jthibaut
Ok, so you may try 2 things:
1. Remove the `@tf.function` decorator, as it executes in graph mode, and thus the values are not inferred using `.numpy()` function.
2. If that doesn't work, execute `tf.enable_eager_execution()` as soon as you import tensorflow.

Hope this helps.

[2021-03-19 16:37] amahendrakar commented on #47249
Could you please share the Python file/notebook you are running? Thanks!

[2021-03-19 16:37] #47235 closed

[2021-03-19 16:40] lgeiger commented on #41851
I made a PR to fix this: https://github.com/tensorflow/tensorflow/pull/47922

[2021-03-19 16:40] lgeiger commented on #45895
I made a PR to fix this: https://github.com/tensorflow/tensorflow/pull/47922

[2021-03-19 16:41] amahendrakar commented on #47602
@LucasColas,
Please uninstall the existing CUDA and cuDNN packages and follow [this guide](https://www.tensorflow.org/install/gpu#windows_setup) to install TensorFlow with GPU support. Thanks!

[2021-03-19 16:46] advaitjain opened #47923 "Shared svdf OpData should be renamed to OpDataSvdf"
@tensorflow/micro

Noticed this while reviewing #47911

Similar to
https://github.com/tensorflow/tensorflow/blob/d73ba75a4c1b26b91cc20cb86866d775c02dc479/tensorflow/lite/micro/kernels/conv.h#L27-L28

the svdf struct should be OpDataSvdf instead of
https://github.com/tensorflow/tensorflow/blob/d73ba75a4c1b26b91cc20cb86866d775c02dc479/tensorflow/lite/micro/kernels/svdf.h#L23-L24

This renaming will

[2021-03-19 16:47] srjoglekar246 commented on #47904
@saw999 To confirm, how big is your converted model? I assume you converted with the instructions [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tf2.md)?

@lu-wang-g for help with setting up the Android app.

[2021-03-19 16:52] jvishnuvardhan commented on #15805
I know this is an old issue with previous TF versions. Most of the LSTM related converter issues were resolved with recent versions. Please follow the instructions provided in [this issue](https://github.com/tensorflow/tensorflow/issues/39564#issuecomment-630097911) to convert any LSTM related tflite converter issue. Thanks!

If you still have a problem, please post a new issue with a simple stand

[2021-03-19 17:08] Volker-Weissmann commented on #47660
The point is that (on Arch Linux)
`pyenv install 3.6.12 `          and
`pyenv install 3.8.5 --debug`
gives you a python version that supports tensorflow, but
`pyenv install 3.6.12 --debug`
gives you a python version that does not support tensorflow.

 3.8.5-debug and 3.6.12 but not with 3.6.12-debug

Nope, everything is 64-bit

N/A, I'm on Arch Linux.

/proc/cpuinfo includes the line "flags : ...

[2021-03-19 17:21] #47855 closed

[2021-03-19 17:32] Saduf2019 commented on #47906
@jason9075
I ran the code shared please refer to [this gist ]( https://colab.research.google.com/gist/Saduf2019/3fd5ae49f624f7ce0d0372602b805101/untitled565.ipynb)and let us know the expected output.

[2021-03-19 17:43] impjdi commented on #47715
Done.

TFLite allows any tensor to be the graph output.  You are talking about `GraphFloat32` which is an intermediate representation (IR) of the network for the GPU delegates.

That is correct.  When we started working on the GPU backends, we had to introduce this IR for GPU's purpose, and we made some wrong decision around the graph output.  We defined graph outputs to be any leaf tensors in the

[2021-03-19 17:54] jvishnuvardhan commented on #47904
@saw999 did you use `TF2.0` or recent stable version. It is recommended to use recent TF version. Thanks!

[2021-03-19 17:54] kbrajwani opened #47924 "Gpu memory issue"
**System information**
- I am using keras finetuned vgg model with 2 dense layers
-  Linux Ubuntu 18.04 (Colab)
- TensorFlow version (use command below): 2.4.3
- Python version: 3.7
- CUDA Version: 11.2
- GPU model and memory: Tesla P100 with 16 gb

**Describe the current behavior**

here is the log after loading model
Fri Mar 19 17:02:34 2021
+-----------------------------------------------------

[2021-03-19 17:59] Saduf2019 commented on #47910
@ianqouda
i ran the code shared and do not see an empty list, please refer to the [gist here](https://colab.research.google.com/gist/Saduf2019/ac2b96a3d295f7744050b242d95fffb4/untitled565.ipynb) and share a colab gist with the error reported.

[2021-03-19 18:12] lamberta commented on #47917
We say "CUDA®-enabled cards" in the install section and [gpu](https://www.tensorflow.org/install/gpu) page (it's highlighted at the top of that page).
What did you you want to add? ROCm is not officially supported so we won't add that—but might fit into [SIG Build](https://github.com/tensorflow/build).

[2021-03-19 18:14] ianqouda commented on #47910
@Saduf2019 thank you for your reponse, here is a [https://colab.research.google.com/gist/Saduf2019/ac2b96a3d295f7744050b242d95fffb4/untitled565.ipynb#scrollTo=DlvaRQRQr97I](gist) with more detailed code. The problem is that the attribute '_boubdaries' becomes empty after loading the model.

[2021-03-19 18:19] amahendrakar commented on #47587
@div3125,
Please take a look at [this comment](https://github.com/tensorflow/tensorflow/issues/45205#issuecomment-747440700) from issue #45205 with a similar error log and check if it helps. Thanks!

[2021-03-19 18:29] lgeiger opened #47927 "TFLiteSavedModelConverterV2 breaks ordering of multi output models"
**System information**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS
- TensorFlow installation (pip package or built from source): binary and source
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.5.0-dev20210319, 5abe2b515db51d3aa35f6acf5869c1ce51a6b09c

**Describe the current behavior**

`tf.lite.TFLiteConverter.from_saved_model` doesn't

[2021-03-19 18:33] amahendrakar commented on #47776
@LucasColas,
If it's a publicly available dataset you can the link with us or you can also upload the dataset to Google Drive and share the folder with us. Thanks!

[2021-03-19 18:36] ArriFerrari commented on #25903
Hi Nikita,
Yes! It would still be helpful!
-ArriFerrari

On Fri, Mar 12, 2021 at 9:11 AM Nikita ***@***.***> wrote:

[2021-03-19 18:52] saw999 commented on #47904
The ssd model is 11MB and we followed the same instructions to convert the model.

[2021-03-19 18:53] saw999 commented on #47904
Yes, we used TF2.0.

[2021-03-19 18:56] lu-wang-g commented on #47904
The label file format is not compatible with what the Android example expects. See there for [an example](https://github.com/tensorflow/examples/blob/master/lite/examples/object_detection/android/app/src/main/assets/labelmap.txt) of the label file.

[2021-03-19 19:04] saw999 commented on #47904
We imported the label file into Android Studio in the format shown below:
![labeltext](https://user-images.githubusercontent.com/80737339/111830138-f24c0280-88c3-11eb-917b-559c96469340.png)

[2021-03-19 19:16] staticdev commented on #47917
@bhack sorry I didn't answer but you were precise in your answer, I didn't knew about this compatibility table. Thanks.

[2021-03-19 19:25] peter197321 opened #47929 "tfcompile for arm"
I'm looking for a step-by-step procedure or example of how to use a compile (XLA/AOT) for the arm64 device.
Is it possible to cross-compile the TensorFlow graph into executable code? (e.g. Linux/windows as a host machine for Linux-based arm64 device)
Please, if you can link me, I would very much appreciate it.

Thank you.

[2021-03-19 19:25] Fabien-Couthouis opened #47930 "Share variable across devices in Tensorflow 2 cluster"
Hello,
I would like to use Tensorflow 2.4 in order to share a variable across devices on a cluster. In my use case, I want to share a queue stored on a parameter server that can be filled by all the workers. I know this was possible with tensorflow 1 but I do not understand how to do this in tf2 with the strategy API and the documentation does not seem to mention it.
Here is my code to do this wit

[2021-03-19 19:44] emrahnazif commented on #43947
sudo ln didn't solve my problem.
I ended up following configuration and it is working:

GPU: rtx 3090
OS: Ubuntu 18.04
TensorFlow: pip install tf-nightly V=2.5.0-dev20210319
Python version: Python 3.6.9
Nvidia Driver Version: 460.56
cuda: 11.2
cuDNN v8.1.0 (January 26th, 2021), for CUDA 11.0,11.1 and 11.2

[2021-03-19 19:50] tcervi commented on #47166
**About the C++ standalone shared library:**
I reckon I got all the header files sorted since was able to build and run x64 version. My issue was building the shared library for x86.
**About the C API:**
It's indeed a good suggestion, for now my use case is simple (load model, load input tensor, run inference and read output tensor), it should handle it.

I did compile the C API using CMake and MS

[2021-03-19 19:53] DanielMH opened #47931 "Failed to convert SparseTensor to Tensor"
My code raises this error message:

`TypeError: Failed to convert object of type <class 'tensorflow.python.framework.sparse_tensor.SparseTensor'> to Tensor. Contents: SparseTensor(indices=Tensor("DeserializeSparse:0", shape=(None, 2), dtype=int64), values=Tensor("DeserializeSparse:1", shape=(None,), dtype=float32), dense_shape=Tensor("stack:0", shape=(2,), dtype=int64)). Consider casting elements

[2021-03-19 19:53] bhack commented on #47917
@lamberta I meant as we list [Community builds](https://github.com/tensorflow/tensorflow#community-supported-builds) in the landing Readme  here we could find a place just to tell that there are community builds available and to ask support in their relative repositories (or SIG Build if they will support these kind of builds).

[2021-03-19 19:55] DanielMH commented on #47931
This is the code:

import os
import random
import numpy as np

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif

from tensorflow.python.keras import models
from tensorflow.python.keras.layers import Dense
from tensorflow.python.keras.layers import Dropout

import tensorflow as tf

# Vectori

[2021-03-19 20:04] lamberta commented on #47917
Yeah, I think that might be ok.
We currently link out to "SIG Build" in the leftnav of the /install section, and really the extent of what we want to support on tensorflow.org. But if there's a good place to link out, I'm ok with that.
I'm not sure who owns that community build table in the readme. cc: @angerson

[2021-03-19 20:05] rajasd27 commented on #36459
Hi yetanotheryeti, I have ran into a similar situation. Did you get a fix for this?

[2021-03-19 20:06] DanielMH commented on #47931
This is my code:

[code]

[2021-03-19 20:12] bhack commented on #47917
I don't know who is the owner but this is the last PR that we merged in that section https://github.com/tensorflow/tensorflow/pull/41928

[2021-03-19 20:18] lamberta commented on #47917
Thanks, bhack. cc: @mihaimaruseac
It does seem like a useful table and buried, though I'd argue it should be more prominent in [SIG Build](https://github.com/tensorflow/build). Ideally that would be the one URL we could give folks for community supported builds.

[2021-03-19 20:21] bhack commented on #47917
Yes especially to clearly route support requests/tickets if they are not supported here.

[2021-03-19 20:32] subopt commented on #47710
@terryheo it works with the latest pull. thanks!

[2021-03-19 20:32] bhack commented on #47931
Can you minimize the code snippet to reproduce this? I see so third_party lib dependency  and also some data files dependencies.

It would ideal that you can reproduce this issue with minimal code surface and dummy input data.

[2021-03-19 20:55] Fedour opened #47932 "TensorflowLiteObj duplicate symbol"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac Catalina v.10
- TensorFlow

[2021-03-19 21:08] #47778 closed

[2021-03-19 21:11] ezhulenev commented on #29005
I have a pending PR for that, should be submitted soon, although currently it has few unresolved TODOs that are needed to get to top performance.

[2021-03-19 21:24] deeb02 commented on #20529
Closing as stale.

[2021-03-19 21:24] #20529 closed

[2021-03-19 21:29] deeb02 commented on #23166
To the best of our knowledge this does not reproduce on any recent TF release. And the code patterns that give it rise are not idiomatic TF2. Closing as stale. Please open again if you have a repro on a recent TF release.

[2021-03-19 21:29] #23166 closed

[2021-03-19 21:36] deeb02 commented on #24328
This behaves as intended. The default output is intended for typical terminals and notebook environments. For other types of environments and logging please use verbose=0 or verbose=2.

[2021-03-19 21:36] #24328 closed

[2021-03-19 21:44] CaptainDario commented on #29590
I have the same problem as @tjdevWorks .
When using:
[code]

I get:
[code]

@jvishnuvardhan Does any news on this exist or can somebody provide some help?

[2021-03-19 21:54] fisakhan commented on #43671
@preethivenkatesh try it and then be confident in providing answer. Try...if..., try...if... doesn't work.

[2021-03-19 22:00] lu-wang-g commented on #47904
The above file looks good. Did you pack the associated file into the model? If not, you can do so by following the answer [here](https://stackoverflow.com/a/64493506/11031225).

[2021-03-19 22:49] DanielMH commented on #47931
The following code uses dummy input data now. I have simplified it a bit and can't easily simplify it further. Anyway, if the issue then would disappear, it would seem pointless to me.

[code]

[2021-03-19 22:50] Yu-Hang opened #47933 "model.save() outputs unexpected files in SavedModel directory"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command below): '2.5.0-dev20210318'
- Python version: python 3.8
- CUDA/cuDNN version: cuda11.2; cudnn 8.x

**Describe

[2021-03-19 22:54] abattery commented on #47927
For the multiple input/output naming/ordering issue, we recommend using TFLite signature def API.

SignatureDef provides meaningful/generic names for inputs/outputs which doesn't rely on specific model details. More on SignatureDefs here.
If your saved model has a defined signatureDef then it will be exported during conversion to TFLite and then you can use the Signature inputs/outputs for inferen

[2021-03-19 22:58] abattery commented on #47932
@terryheo could you take a look?

[2021-03-19 23:06] Fedour commented on #47932
Hi, there is an update. I've seen on the bottom of the [page](https://www.tensorflow.org/lite/guide/ios) :

`Note: For CocoaPods developers who want to import the Objective-C TensorFlow Lite module, you must also include use_frameworks! in your Podfile.`

So I modified my podfile like this:

[code]

But by doing this, I've an error at the begining of the build, `UMCore/UMModuleRegistry.h not found

[2021-03-19 23:14] bhack commented on #47931
Can you try to comment your two dropout lines?

[2021-03-19 23:28] lgeiger commented on #47927
@abattery Thanks for the fast response.

I should've elaborated a bit more about the use case in my description. I am aware that users of saved model should not rely on the ordering of the output. However, this issue came up when using `tf.lite.TFLiteConverter.from_keras_model` together with models that use `@tf.function(experimental_implements=...)`.

This means `TFLiteKerasModelConverterV2` will

[2021-03-19 23:37] DanielMH commented on #47931
I commented them out. Then it works without raising an error!

[2021-03-19 23:45] DanielMH commented on #47931
As mentioned before, I took the code from the Google guide on text classification using the mlp model. About 1, 2 years ago I think it still worked, later (with a newer TensorFlow version, I guess) I got the error message mentioned above which I could get rid of by adding `todense()`.

[2021-03-19 23:47] abattery commented on #47927
I would recommend exporting your keras model to the corresponding saved model before putting it to the TensorFlow Lite converter API for now.

Thank you for providing the valuable feedback. At least, there should be improvements in the document side.

[2021-03-19 23:50] farazk86 opened #47934 "Process finished with exit code -1073740791 (0xC0000409) when training on GPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): [copied code from tensorflow transfer learning documentation](https://www.tensorflow.org/guide/keras/transfer_learning#an_end-to-end_example_fine-tuning_an_image_classification_model_on_a_cats_vs_dogs_dataset)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10

[2021-03-19 23:57] bhack commented on #47931
Is this related to your sequential model definition as in https://github.com/tensorflow/tensorflow/issues/37721?

[2021-03-19 23:57] carlini commented on #23166
It is somewhat amusing the ultimate resolution to a bug with a crash that literally says "This is an internal bug, please file a bug report with instructions on how to reproduce the error" is to wait 2.5 years without fixing the issue, and then close as "not idiomatic".

[2021-03-20 00:06] rajattan commented on #36185
I am running into the same issue, but there isn't any null value

[2021-03-20 02:17] micosacak commented on #41212
@thaink I also have the sane problem with tensorflow.

Exception in thread "main" java.lang.IllegalArgumentException: DataType 20 is not recognized in Java (version 1.15.0)
	at org.tensorflow.DataType.fromC(DataType.java:85)
	at org.tensorflow.Tensor.fromHandle(Tensor.java:540)
	at org.tensorflow.Session$Runner.runHelper(Session.java:343)
	at org.tensorflow.Session$Runner.run(Session.java:276)
	at

[2021-03-20 02:41] rinchenlama0075 commented on #47311
I'm also having this issue.
I'm using:
numpy version 1.19.5
python version 3.7
tensorflow version 2.4.1

Running:
        from tensorflow.python.framework.ops import disable_eager_execution
       disable_eager_execution()
did not work.

[2021-03-20 03:46] HungWoeiNeoh opened #47938 "`model.fit()` ends before all epochs are ran"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04 (in a Docker container)
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.4.1
- Python version: 3.6.9
- CUDA/cuDNN version: CUDA 11.0 with cuDNN 8.0.5.

[2021-03-20 03:49] micosacak commented on #41212
[ReportProblem.zip](https://github.com/tensorflow/tensorflow/files/6174838/ReportProblem.zip)
Here, I create the model by runing "runMe.py" in "CreateModelWithPythonTensorflow" and saved the model in "model".
The maven project is given. I get the same problem. I added all files that may help to solve this issue.

Here is the output if you run the Java project:

`test_images\test_00001.png
28-28
1

[2021-03-20 04:23] hsahni01 commented on #47903
Wait but this code is in tf 1.15 tho

[2021-03-20 04:25] hfahrudin commented on #47493
I already issued the pull request but it seems that i issued it to protected branch. Which branch should i use for this PR?

[2021-03-20 06:11] rmothukuru commented on #47889
@Ryan-Rudes,
Using **`Optimizers`**  in the `Import` statements make code readable than **`optims`**. Can you please elaborate your request and also specify some potential disadvantages of the current notation? Thanks!

[2021-03-20 06:31] singhularAdi opened #47941 "Add additive/multiplicative angluar margin loss"
**System information**
- TensorFlow version (you are using): 2.4.1
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Additive angular margin loss can create highly discriminative embedding appropriate for re-identification and cross-domain instance matching tasks. Such a layer is currently accessible only via third-party implementations.

**

[2021-03-20 06:32] laisimiao commented on #31784
Could you tell me hoe to convert into int8?

[2021-03-20 07:43] abattery commented on #41212
@micosacak TF 1.15 version is too old to be supported. Could you try upgrading your code to the recent TF version?

[2021-03-20 07:47] AbhisekOmkar commented on #47820
Issues has been resolved (Jetson Nano has 4gb CPU and Tensorflow was using more than 4gb of CPU during Inference. So, we finally Shift from Tensorflow to Tensorflow RT or You can Switch to Higher versions of Jetson).

[2021-03-20 07:47] AbhisekOmkar commented on #47820
@gsoc

[2021-03-20 07:53] #47820 closed

[2021-03-20 07:56] AbhisekOmkar opened #47942 "Bug Issues Testing"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-03-20 07:57] #47942 closed

[2021-03-20 08:33] amahendrakar commented on #45779
@baranaldemir,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2021-03-20 08:39] amahendrakar commented on #47001
@ccl-private,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2021-03-20 09:08] AbhisekOmkar commented on #47941
It's sounds good

[2021-03-20 09:13] AbhisekOmkar commented on #47934
This is actually an nvcc bug. we are also running into this and reported to nvidia.
Nvidia has fixed this issue in cuda 10.1, but reported that they will not patch 10.0 with the fix.
So uninstall your cuda and re-install with latest version of cuda

[2021-03-20 09:41] prithuls commented on #45285
Facing the same issue

[2021-03-20 09:50] ColorfulCakeChen opened #47943 "When in "webgl" backend and image width is odd, the second run of tf.conv2d() may be wrong."
**System information**
- TensorFlow.js version: 3.2.0

**Describe the current behavior**

When tf.gtBackend() is "webgl".
  - If the width of the input is even, the result of tf.conv2d() is correct.
  - If the width of the input is odd, the result of first time tf.conv2d() is correct. But the second time result may be wrong.

When tf.gtBackend() is "wasm" or "cpu".
  - The above problem seems not

[2021-03-20 10:07] xiewufeng commented on #7497
Hi，@poldap，i use the method u said, i still occur the problem like jdk certs problem....
`  java.io.IOException: Error downloading [https://github.com/bazelbuild/bazel-skylib/releases/download/0.8.0/bazel-skylib.0.8.0.tar.gz] to /home/x00545628/.cache/bazel/_bazel_x00545628/53dc32336872df9c7e614eb7104489d7/external/bazel_skylib/bazel-skylib.0.8.0.tar.gz: PKIX path building failed: sun.security.pro

[2021-03-20 10:20] farazk86 commented on #47934
Thanks but I'm already using 11.2 I'm not using 10.0

[2021-03-20 10:22] Saduf2019 commented on #47934
@farazk86
Can you please try with 11.0 and let us know, with tf 2.4.

[2021-03-20 10:24] Saduf2019 commented on #47903
@hsahni01
Please upgrade to 2.0 and let us know if you face any issues.

[2021-03-20 10:39] ioannesKX commented on #47636
You have used the RISC-V Linux toolchain (`unknown-linux-gnu-`) which doesn't have the aforementioned problem even with the usual `make`. The problem in this issue relates to the RISC-V newlib compiler (`unknown-elf-`). I tried with `cmake` too and again it fails:
[code]
Since newlib doesn't implement threads. It also doesn't implement `dlfcn.h` (no dynamic loading in bare metal), referring to the

[2021-03-20 12:00] Tuco3333 opened #47944 "Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If those are native TensorFlow operators, you might be able to use the extended runtime by passing --enable_select_tf_ops, or by setting target_ops=TFLITE_BUILTINS,SELECT_TF_OPS when calling tf.lite.TFLiteConverter(). Otherwise, if you have a custom implementation for them you can disable this error with --allow_custom_ops, or by setting allow_custom_ops=True when calling tf.lite.TFLiteConverter(). Here is a list of builtin operators you are using: CONCATENATION, CONV_2D, MAXIMUM, MAX_POOL_2D, MUL, PAD. Here is a list of operators for which you will need custom implementations: ExtractImagePatches."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**
Provide a reproducible test case that is the bare minimum necessary to generate
the problem. If possible, please sha

[2021-03-20 12:01] WingsOfPanda commented on #33688
so In my understanding, by using such method, I could split the training of my model into two or multi-gpus, so that it won't drop into OOM trouble if I only training in one GPU?

[2021-03-20 12:04] innat opened #47945 "TensorFlow-Keras Code Example"
In keras official [doc](https://keras.io/examples/), there are some nice code examples to get started on something. Last time I visited this amazing write-up about [object detection](https://keras.io/examples/vision/retinanet/). However, what I mostly found in the computer vision examples are kinda randomly placed code examples with different degrees of complexities.

So, I think it would be clear

[2021-03-20 12:43] ColorfulCakeChen commented on #47943
(Sorry, I think this should be post to project tfjs (not here). So I close it.)

[2021-03-20 12:43] #47943 closed

[2021-03-20 12:59] denisvorotyntsevunity commented on #42934
Hello! I found these guides useful:
1 - [TFRecord and tf.train.Example](https://www.tensorflow.org/api_docs/python/tf/train/Example)
2 - [tf.data.experimental.TFRecordWriter](https://www.tensorflow.org/api_docs/python/tf/data/experimental/TFRecordWriter)

[2021-03-20 13:37] farazk86 commented on #47934
OK, so, I tried it now with CUDA 11.0, 11.1, 11.2.2

Ive tried with all above versions and still get the same error :(

[2021-03-20 13:43] HungWoeiNeoh commented on #47938
I found the problem. Turns out I needed to use the `repeat()` function on the dataset. This line of output was not visible in my code (I was using a tmux session):
[code]

[2021-03-20 13:43] #47938 closed

[2021-03-20 13:58] RayGuo-C opened #47946 "pip and conda install tensorflow problems in anaconda environment"
After creating an environment in anaconda, I try to install the tensorflow by pip and conda.

**System information of my computer:**
- OS Platform and Distribution **win10 64bit**
- Python version: **3.8.8 64 bit**
- pip version: **21.0.1**
- Installed using virtualenv: **pip and conda (both have problems)**
- CUDA/cuDNN version: **11.0 for CUDA/ 8.0.5 for cuDNN**

**Describe the problem**

**1. F

[2021-03-20 14:26] farazk86 commented on #47934
Right, so an update, I was finally able to train on GPU.

But I had to downgrade to ``CUDA 10.1``, ``cuDNN 7.6`` and ``tensorflow 2.3``.

I had to downgrade to make this work but I would really appreciate a solution to this for ``tensorflow 2.4`` and the newer CUDA and cuDNN as I have other frameworks that depend on the latest versions :(

[2021-03-20 14:43] WingsOfPanda commented on #33688
I still a bit confused even if we could have a placer for 'tape'. For example, if you place the 1st half of your model on 'gpu0' and second half on 'gpu1' (hence the output tensor is on 'gpu1'). Then, when you compute the gradient of variables on 'gpu0' with resecpet to output tensor, should u need all gradients of the second half model, which are on 'gpu1', so that you could use chain rule? but i

[2021-03-20 15:16] zhaozheng09 opened #47947 "Optimize unique_op by repetition rate"
My test about unique op:

**As the size of the hash table increases, memory bind will increase.**
I think unique_op should be added a default params of repetition rate, default value is non-repeating(hash table size is 2*N)。Repetition rate will help us do some prediction, like: Adjust the initial size of the hash table to improve performance。
If the user does not know the repetition rate of his da

[2021-03-20 15:18] remaininlight commented on #46077
Hi @saxenasaurabh, please let me know if there's anything I can do to help investigate/solve this :) I'm at a dead end for what I can do by myself as far as I can see

[2021-03-20 15:40] zhaozheng09 commented on #47947
I suggest repetition rate is a range of [0, 1), 0 is non-repeating, 1 is completely repetitive.
hash_table_size = 2 - repetition_rate.
If user use default value(non-repeating), hash_table_size is origin(2 * input_size).
If user use default value(my test, 0.75), hash_table_size is (1.25(ps:2-0.75) * N).

In order to solve the problem, we need to find a way to know whether the hash table has been ex

[2021-03-20 15:41] IchiruTake commented on #31709
https://colab.research.google.com/drive/18QFNQY1OtFBWI5Y2GYBbl6dsjdXZkb5K#scrollTo=kW1zIf11Jjup

I have re-tested the code above using the latest of TensorFlow 2.4.1 and PyTorch 1.8.0+cu101
This is the result:
[code]

[2021-03-20 17:12] DanielMH commented on #47931
Not sure what you mean. I'm by no means a TensorFlow expert, just found it strange that when implementing this code (from the tutorial), it doesn't work.

As I understand it, when I would correctly define a keras.InputLayer in the model, it might work without the need to convert the sparse tensor to a dense tensor. I'm not sure, how to do that.

[2021-03-20 17:33] micosacak commented on #41212
I use tensorflow 2.2. in Python. In java, the latest version is 1.15.

[2021-03-20 17:55] mihaimaruseac commented on #47311
Reopening as it seems it is not caused by the numpy version

[2021-03-20 17:55] #47843 closed

[2021-03-20 17:56] mihaimaruseac commented on #47843
Please don't file spam issues

[2021-03-20 17:58] xxl4tomxu98 commented on #36792
I am running the new apple native tensorflow package 2.4, and ran into a problem I did not have before. Here is the error stack:

NotImplementedError: Cannot convert a symbolic Tensor (lstm_1/strided_slice:0) to a numpy array. This error may indicate that you're trying to pass a Tensor to a NumPy call, which is not supported
-------------------------------------------------------------------------

[2021-03-20 18:19] PeiGe96 opened #47949 "[TF2.3.0] Failed to Build libtensorflow_cc.so for C++ APIs with conda environment"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (CentOS Linux 7 (Core)):
- TensorFlow installed from (sour

[2021-03-20 18:23] abrarum commented on #43527
The issue still persists.

[2021-03-20 18:24] bhack commented on #47931
There is a feedback button in the tutorial website. Click there and please mention this issue URL.

[2021-03-20 19:38] ALIANS-PRODUCTIONS commented on #47568
I tried installing on UBUNTU 20.04 : Cuda 11.2 and the latest Cudnn 8.1.1, python 3.7, Anaconda.
I installed tf-nightly-gpu 2.5.0.dev20210320, and tf-nightly 2.5.0.dev20210320

and got the following crash on import tensorflow as tf: Illegal instruction (core dumped)

My cpu has AVX but not AVX2 :  There was an issue back end of last year which was fixed by Jan regarding tf nightly binaries acciden

[2021-03-20 19:41] atotev commented on #37505
https://fantashit.com/linearly-increasing-memory-with-use-multiprocessing-and-keras-sequence/#comment-254237

[2021-03-20 19:41] atotev commented on #33030
https://fantashit.com/linearly-increasing-memory-with-use-multiprocessing-and-keras-sequence/#comment-254237

[2021-03-20 19:44] atotev commented on #37026
https://fantashit.com/linearly-increasing-memory-with-use-multiprocessing-and-keras-sequence/#comment-254237

[2021-03-20 19:44] atotev commented on #30801
https://fantashit.com/linearly-increasing-memory-with-use-multiprocessing-and-keras-sequence/#comment-254237

[2021-03-20 20:29] Ryan-Rudes commented on #47889
It is disadvantageous to write out “optimizers” because it is tedious, and considering 3 other highly substantial `tensorflow.keras` modules (`models`, `layers`, and `losses`) are all comprised of 6 letters, it would provide better alignment to abbreviate optimizers to optims (also 6 characters). PyTorch uses `torch.optim` presumably for it is shorter and honestly does not impact readability very

[2021-03-20 20:38] nerdyrodent commented on #43947
Pretty much works with CUDA 11.2, though I get "failed to create cublas handle: CUBLAS_STATUS_NOT_INITIALIZED" errors

[2021-03-20 21:07] ioannesKX commented on #47622
I have pulled the above changes. They have fixed the issue with the round/expm functions, but a couple more have a similar problem. Result of same `make` command as above:

[code]

[2021-03-20 21:21] SodaGremlin commented on #37653
I am also seeing this error occur with using tf agents's `tf_uniform_replay_buffer` and calling the `as_dataset` method. After each call (regardless of replay size or variables I am getting):

after episode 2
[code]

after episode 3:

[code]

I have removed all my training code. The only method being called in this loop is:

[code]

However, if I change it to:

[code]

the memory leak goes away 10

[2021-03-20 21:36] Ellislee1 commented on #47311
To my knowladge, it might be due to the eager execution, I may be wrong however.

[2021-03-20 21:57] abattery commented on #47944
The select tf option can enable tf.ExtractImagePatches op. See https://www.tensorflow.org/lite/guide/ops_select

[2021-03-20 22:07] abattery commented on #41212
@micosacak could you file a separate issue? The original case is for the TensorFlow Lite library while your case is about TensorFlow java API. They are different and it would be better to address them separately.

[2021-03-20 22:17] abattery commented on #47927
Reopened for looking for another workaround.

[2021-03-21 00:39] CyangXu commented on #42376
I am able to reproduce the issue in TF 2.5. The error message is
`tensorflow.python.framework.errors_impl.InvalidArgumentError:  ConcatOp : Dimensions of inputs should match: shape[0] = [5,1] vs. shape[1] = [10,0]
         [[node model/concatenate/concat (defined at reproduce.py:29) ]] [Op:__inference_train_function_464]`

I am interested in this issue. Please assign to me if this issue is still a

[2021-03-21 03:32] HungWoeiNeoh commented on #47938
From what I can tell, this issue is related to #36539 where a dataset iterator is not recreated at every new epoch

[2021-03-21 03:38] PeiGe96 commented on #47949
Fixed by changing gcc from 7.3.0 to 7.5.0

[2021-03-21 03:38] #47949 closed

[2021-03-21 05:35] tejasmorkar commented on #42586
Is there any update regarding this issue? @aaudiber

[2021-03-21 06:49] h84221605 commented on #36792
i have the same problem

[2021-03-21 07:25] neta111111 commented on #47559
I would highly appreciate if someone can help!

[2021-03-21 07:42] nikhilnaregal opened #47951 "Cant install tflite_runtime while deploying on web application online"
**System information**
- OS Platform and Distribution (windows 10)

- TensorFlow installed from (source or binary):
- TensorFlow version: Uninstalled(As I cannot use such a huge library)
- Python version:  3.8
- Installed using virtualenv and pip3 on local
[requirements.txt](https://github.com/tensorflow/tensorflow/files/6177015/requirements.txt)

- GPU 8Gb memory:

I am new to this but I will try

[2021-03-21 09:16] abattery commented on #47951
@terryheo could you take a look?

[2021-03-21 09:38] abattery commented on #47951
https://stackoverflow.com/a/2477610/11843861 maybe you resolve the problem by adding an extra index in the requirements.txt.

[2021-03-21 10:06] gtanzi commented on #22208
@SNMS95
After some thoughts on your comments I now think my first naive answer was completely wrong. The main reason being that tf is not asking the second derivative of ResizeBilinear, but rather the first derivative of ResizeBilinearGrad with respect to its inputs ( from which it can later perform second order derivative with chain rule).
The upscaling op should take an image X with shape <img s

[2021-03-21 10:53] ewotawa commented on #45231
Thanks for the information on this thread. I'm trying to do something similar to what @alihasn92 described. I'm building a project off of the documentation from the same TensorFlow tutorial.

You can see how I train, test, and save the model in the following notebook:
https://github.com/ewotawa/top_100_wines_2020_ML/blob/master/WS%20Top%20100%202020%20-%20Classifier.ipynb

To continue with my proj

[2021-03-21 11:04] DanielMH commented on #47931
Done.

[2021-03-21 11:22] nikhilnaregal commented on #47951
Thank you for your time,
I tried using extra index (-i) in requirements.txt but it gave me an error As I have other libraries in my requirements.txt file and it is looking for these libraries as well in the URL provided.
Is there anything else i should try? Please suggest

[2021-03-21 11:33] abattery commented on #47951
@nikhilnaregal This issue looks irrelevant with the TensorFlow project. This issue is related to how to use the custom repo in the requirements.txt. I would close this because this is the TensorFlow forum and another post from stackoverflow looks like a better place to handle this issue.

[2021-03-21 11:33] #47951 closed

[2021-03-21 12:48] #47945 closed

[2021-03-21 14:11] eli-osherovich opened #47954 "TextVectorization inconsistency depending on output_sequence_length"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 2.4.1
- Python version:
- Bazel ve

[2021-03-21 14:14] caixxiong commented on #36792
I have the same error with tf.2.4.1, numpy1.20.1 at the following codes
[code]

[2021-03-21 14:16] eli-osherovich commented on #47954
[colab link](https://colab.research.google.com/gist/eli-osherovich/591f0e7a44b9b912fd9fcf52711a09dd/untitled1.ipynb)

[2021-03-21 14:22] 521125LYAlty commented on #46194
I am getting the same error in tensorflow 2.4.1 when computing gradients.

[2021-03-21 14:55] michaelpulis commented on #42017
I am also experiencing this issue. I wish to perform feature extraction on  my siamese network model (which contains two sub-models) and I am facing this issue.

[2021-03-21 15:25] innat opened #47955 "WARNING:tensorflow:multiprocessing can interact badly with TensorFlow"
I've a custom custom `tf.keras` data generator using `tf.keras.utils.Sequence`. Whenever I set `use_multiprocessing` as True, it gives a warning message at the very beginning. The custom data generator (in my case) read the image data, do some augmentation and return batch-wise samples. Nothing special, just a conventional approach. The full warning statement is

Just about to start training but f

[2021-03-21 15:32] SNMS95 commented on #22208
@gtanzi  I am not really an expert in this but if the calculated gradients are the same in Mathematica as well, I do hope that this might be correct.

[2021-03-21 15:35] innat opened #47956 "WARNING:tensorflow:tf.keras.mixed_precision.experimental.LossScaleOptimizer"
In my training setup, I've customized the `.fit` method by overriding the `train_step` function.

[code]

Training start at this point as it should be but a warning message appears, though until now I didn't find any other issue except this annoying warning message.

  opt = tf.keras.mixed_precision.experimental.LossScaleOptimizer(opt)

In my code, by myself, I didn't write anywhere this statement

[2021-03-21 15:54] aaudiber commented on #42586
This may be due to heap fragmentation. tcmalloc does a much better job of avoiding fragmentation. There are some instructions here for how to switch to tcmalloc: https://riptutorial.com/tensorflow/example/13427/use-the-tcmalloc-allocator

[2021-03-21 16:18] TurboTronix commented on #32743
I am getting the same error, running a docker in win10...

[2021-03-21 16:43] JulianWgs opened #47958 "" ValueError: assignment destination is read-only" when using Pandas DataFrame"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Custom code I suppose (see below)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04 LTS
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8.5
- Bazel version (if compiling from source)

[2021-03-21 16:47] mihaimaruseac commented on #47493
Always master branch

[2021-03-21 16:51] mihaimaruseac commented on #47660
TF 1.x is no longer supported.

[2021-03-21 16:51] #47660 closed

[2021-03-21 17:03] Saduf2019 commented on #47913
@Fawcett-cpu
Could you try to call
"tf.config.experimental_connect_to_cluster(cluster_resolver)" and let us know.

We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

Please upgrade your tensorflow version to 2.4.1 and let us know if

[2021-03-21 17:11] piggybox commented on #44291
I wish the doc emphasized to install Cuda **_11.0_**, not newer version 11.1 or 11.2. Hit this problem with 11.1

[2021-03-21 17:14] Saduf2019 commented on #47946
@RayGuo-C
Please refer to these two links and let us know: [link](https://github.com/pypa/pip/issues/5448), [link1](https://stackoverflow.com/questions/25981703/pip-install-fails-with-connection-error-ssl-certificate-verify-failed-certi)

[2021-03-21 18:15] Michal-Kolomanski opened #47959 "ValueError: Calling `Model.fit` in graph mode is not supported when the `Model` instance was constructed with eager mode enabled. Please construct your `Model` instance in graph mode or call `Model.fit` with eager mode enabled."
**System information**
- Windows 10
- TensorFlow version 2.4.1
- Keras 2.4.1
- Python version: 3.7
- CUDA/cuDNN version: v11.2/11.2
- GPU model and memory: MSI geforce rtx 3060 12GB

**Describe the current behavior**
The program fails to start.

**Describe the expected behavior**
It should work.

**Standalone code to reproduce the issue**
I have deep Q learning class:
[code]

When I run the progra

[2021-03-21 19:04] yair-ehrenwald opened #47961 "[TFLM] Person detection benchmark build broken when generating Makefile projects"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu
- TensorFlow installed from (source or binary): Nightly, source
- Tensorflow version (commit SHA if source): commit id 9711a668d8538ac2a3ebe93a90226b89683d0206
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):

**Describe the problem**

**Please provide the exact sequence of c

[2021-03-21 19:32] busFred opened #47963 "Accuracy Mismatch and Getting Non-Integer for val_true_positives, val_true_negatives, val_false_positives, val_false_negatives"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.1
-

[2021-03-21 19:32] realwsq opened #47964 "CUDA Issue: Initialization of a toy model takes 5GB graphical memory"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platfo

[2021-03-21 21:03] ShubhamShaswat commented on #47891
@jthibaut
Install tensorflow_io using `!pip install tensorflow_io` and then

Try this :
[code]

[2021-03-21 21:24] Volker-Weissmann commented on #47660
Yes, but this Problem affects also newer versions.

With python 3.6.12-debug, pip install tensorflow does not work.

[2021-03-21 21:45] pkanwar23 commented on #46173
Closing the issue. I don't think there is anything actionable here.

[2021-03-21 21:45] #46173 closed

[2021-03-21 21:46] RichardKershner-v1 opened #47965 "Multiple inputs api does NOT work correctly, concatenates first input and null to second"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-03-21 21:59] RichardKershner-v1 commented on #47965
Full code, system settings and errors below.  Tried this in many different formats and setups under Anaconda Jupyter.

By feeding the different inputs x, and x2, as the output, it can be seen that the inputs feed in cacatenated into the first input and not split between the two.

model = keras.Model(inputs=[x, x2], outputs=x)
model.predict([data,data1])
WARNING:tensorflow:Model was constructed wit

[2021-03-21 23:19] funmathgt commented on #47895
Hopefully, someone can confirm this but looking into recurrent_v2.py in the call method of the LSTM class it is unfortunately running everything by default on CPU .... Can someone please confirm if one cannot use ragged tensors with GPU when using LSTM layers?

[2021-03-22 01:23] John-8704 commented on #36115
@fchollet Any progress on this?

[2021-03-22 01:30] terryheo commented on #47636
I see. We haven't tested bare metal targets.
So there might be other incompatibilities.

Could you test the following code for shared_library.h file?

[code]

[2021-03-22 01:43] #47710 closed

[2021-03-22 01:46] parijatparimal29 commented on #40548
Using tensorflow.keras instead of keras worked for me. Thanks!

[2021-03-22 02:01] cameronjacobson commented on #44777
This appears to still be an issue, but maybe everyone is finding different ways around the problem.

Running an strace showed me that tensorflow is trying to find "libcusolver.so.10" here, and not in its (probably expected) location, since none of the other shared libs are here.  Could have something to do with the fact that I installed tensorflow via a "local" install not system-level install.

A

[2021-03-22 03:17] HuaMuLanChina opened #47966 "how to build tensorflow-lite-gpu-x.x.x.aar"
**System information**
-  Linux Ubuntu 20.04:
- Mobile device : android
- TensorFlow installed from:source
- TensorFlow version:2.4.1
- Python version:3.6
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from source):Bazel 3.1.0

**Describe the problem**
Build success with https://www.tensorflow.org/lite/guide/build_android but no gpu support
Any information on 'how to buil

[2021-03-22 03:29] jason9075 commented on #47906
Hi Saduf2019

I have some problem at line:
[code]
If I unfreeze at 0, everything runs as expected.
But if I unfreeze at other epoch index, the val accuracy won't raise.

[colab gist](https://colab.research.google.com/gist/Saduf2019/3fd5ae49f624f7ce0d0372602b805101/untitled565.ipynb)

[code]

[2021-03-22 03:29] pranathibl commented on #47813
Is there any way to avoid based on network type. For CNN's we dont need that right ?

[2021-03-22 03:30] evictor commented on #21174
It's been a while since I worked on that project, but yes this appears to solve the original problem we faced.

[2021-03-22 05:10] Saduf2019 commented on #47906
@jason9075
 Incorrect gist shared in the above comment, please share the colab for which the output is posted above.

[2021-03-22 05:20] Saduf2019 commented on #47965
@RichardKershner-v1

Can you share simple stand alone code such that we could replicate the error reported or share a colab gist with the code and error, also share tf version we see that the template has not been filled.

You may also refer to below issues and let us know:
#34912 [link](https://stackoverflow.com/questions/61444983/keras-cnn-with-several-input-filters)

[2021-03-22 05:21] Saduf2019 commented on #47961
@yair-ehrenwald
We see that you have raised a pr, this issue will close once the pr is merged.
please update the tf version in the template.

[2021-03-22 05:24] Saduf2019 commented on #47956
@innat
Please refer to [this comment](https://github.com/tensorflow/tensorflow/issues/46589#issuecomment-774097322) and let us know after you upgrade.

[2021-03-22 05:29] innat commented on #47956
I saw, and read. What's the catch?

[2021-03-22 05:44] jason9075 commented on #47906
@Saduf2019

Sorry, wrong url...
[this one](https://colab.research.google.com/gist/jason9075/a97443f466a9028f7b2f3ffa57e9586c/untitled565.ipynb)

[2021-03-22 05:48] innat commented on #47956
Let me clarify. I didn't face any `ERROR`. The model runs normally but at the beginning, it's showing this warning message. So, I suspect there something I need to concern about on which `tf` is a warning.

[2021-03-22 05:48] Saduf2019 commented on #47660
@Volker-Weissmann
As this issue was opened with refernce to 1.x, can you please create anew issue with 2.x and the code/steps and error faced [errorlogs]

[2021-03-22 05:56] Saduf2019 commented on #47956
@innat
The warning msg does not effect the model performance, can you share your system information , tf version cuda version, the links shared was for you to hide the warning as suggested in the link and resolved by many users in the same issue.

[2021-03-22 05:58] renjie-liu commented on #47813
Yes, for CNN network you don't need to do that

[2021-03-22 06:00] kbrajwani commented on #47924
For reproduce the issue please see this colab notebook : https://colab.research.google.com/drive/1QwfH6aXK8vTLuNslP4qcSMh50fT2K1Gt?usp=sharing

[2021-03-22 06:03] shkarupa-alex opened #47968 "sample_weights not passed to loss from dataset"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Google Colab
- TensorFlow version (use command below): v2

[2021-03-22 06:04] innat commented on #47956
Hiding some non-essential log message makes sense. But this warning tells something very specifically.

opt = tf.keras.mixed_precision.experimental.LossScaleOptimizer(opt)

Like, somewhere in my code I used this `experimental.LossScaleOptimizer` and it warning me not to use the experimental version. So, I suspected somehow `tf` in the backend, use it for loss scaling. My `tf` version `2.4.0`, CUDA

[2021-03-22 06:05] Saduf2019 commented on #47964
@realwsq
I tried running your code on colab , please find the [gist here](https://colab.research.google.com/gist/Saduf2019/5fd44f0b6bdd9c11c8d75cce5a362ad0/untitled567.ipynb), could you let us know the value for pdb as prompted in the gist.

[2021-03-22 06:23] Saduf2019 commented on #47959
@Michal-Kolomanski
I ran the code shared by you and do not see any error as reported, please refer to  the [gist here](https://colab.research.google.com/gist/Saduf2019/c04182de0f0b2a826b46a8c9943bd135/untitled568.ipynb).

[2021-03-22 06:41] amahendrakar commented on #47912
@mattiasthalen,
On running the code, I am facing an error stating `NameError: name 'feature_columns' is not defined`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/dc2d218f7b1686832cda85f47bc9761f/47912.ipynb).

In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the data

[2021-03-22 07:03] abattery commented on #47966
@terryheo @thaink could you take a look?

[2021-03-22 07:22] realwsq commented on #47964
@Saduf2019 Hi, thank you for your reply. Here is the result running the gist. I stepped over to each breakpoint.
[code]

[2021-03-22 07:51] WingsOfPanda commented on #46194
yes, I am having the same error with 2.4.1.

[2021-03-22 08:24] thaink commented on #47966
You can build it the same way you build tensorflow-lite.aar.
Just replace `//tensorflow/lite/java:tensorflow-lite`with `//tensorflow/lite/java:tensorflow-lite-gpu`.
Ex:
[code]

[2021-03-22 08:37] #47119 closed

[2021-03-22 08:47] deluksic opened #47970 "tf.math.floordiv (//) is broken when inside @tf.function if second argument is 1."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: /
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.3

[2021-03-22 08:50] HuaMuLanChina commented on #47966
cool , Thanks.

[2021-03-22 08:50] #47966 closed

[2021-03-22 09:09] mattia- opened #47971 "Training becomes increasingly slower when creating models in a loop"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): BINARY
- TensorFlow version (use command below): v2.4.0-49-g85c8b2a817f 2.4.1
- Python version: 3.7.6
- CUDA/cuDNN version: NO GPU
- GPU model and memory: NO

[2021-03-22 09:10] div3125 commented on #47587
I deleted Bazel cache directory, reinstalled Bazel and created new source directory for TensorFlow v2.4.1 and ran the compilation process again but encountered this same error again. So, Bazel caching doesn't seem like the root cause.

Also, in issue [#45205](https://github.com/tensorflow/tensorflow/issues/45205), the author is trying to compile TensorFlow version 2.3.0 against CUDA version 10.1 w

[2021-03-22 09:24] thammegowda commented on #15604
`conda install -c anaconda cudatoolkit=9.0 cudnn=7` solved it for me!

[2021-03-22 09:26] MeghaGhosh opened #47973 "Mask RCNN tflite detection speed on android too slow"
**System information**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
  Android mobile
- TensorFlow installed from (source or binary):
   Binary
- TensorFlow version (use command below):
   2.4.0
- Python version:
  3.7

**Describe the current behavior**

We have converted Mask RCNN to TFLite using this link:

https://wathek.medium.com/convert-mask-

[2021-03-22 09:37] Saduf2019 commented on #47970
I am able to replicate the issue reported on tf 2.3,2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/e701dd589462a69a246c57135c1e6920/untitled567.ipynb).

[2021-03-22 09:37] #47630 closed

[2021-03-22 09:54] Saduf2019 commented on #47924
@kbrajwani
I ran this code on tf 2.3,2.4 and nightly, please refer to [the gist](https://colab.research.google.com/gist/Saduf2019/ac73d579cad60bf40eb00fbc76483055/untitled567.ipynb) and would you want to upgrade to nightly and let us know if it helps.

[2021-03-22 10:01] Saduf2019 commented on #47871
@kushanam
I ran the updated code and face a different issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/71784a638349f3e8c2eb5f427f9393a8/untitled566.ipynb), can you please share a colab gist with the error reported.

[2021-03-22 10:05] Saduf2019 commented on #47973
@MeghaGhosh

Please share simple standalone code such that we can replicate the issue reported or a colab gist with the error reported.

[2021-03-22 10:06] spyroot commented on #47809
I changed the library to 2.4.1 and I have no issue with the latest CUDA 11.2 etc.  So 2.5 I think has some strange issues.
by the way, I have a question why don't you just ask for a location for Cuda and resolve symbols by loading dll.

I'm not a window guy but normally with so it trivially to implement and check if all symbols resolve, it looks strange that you actually searching for an exact mat

[2021-03-22 10:29] kbrajwani commented on #47924
Hey @Saduf2019 tf-nightly works like charm . Can you advise me one thing? what is the best process to deploy model on gpu configure machine to take full benefits of gpu.
Thanks

[2021-03-22 10:51] Flamefire commented on #17076
My previous comment seems to have been missed: There still doesn't seem to be a way to get the OOM info in TF 2 as indicated by the error message shown by TF 2. See also https://github.com/tensorflow/tensorflow/issues/37556 and https://github.com/tensorflow/tensorflow/blob/78d7f8b2ef12509d5f47f16ccf242f861f222636/tensorflow/core/common_runtime/executor.cc#L989-L991

[2021-03-22 10:51] abattery commented on #47973
@srjoglekar246 could you take a look?

[2021-03-22 10:58] Michal-Kolomanski commented on #47959
I prepared a notebook with exactly the same error: [colab](https://colab.research.google.com/drive/1-B1KmaVtu5cJJgmS0h0rMADrx79vVNvD?usp=sharing).

[2021-03-22 11:18] div3125 commented on #47587
@amahendrakar I found a solution, Anaconda has added tensorflow-gpu v2.4.1 package. I was able to install and run it with the following command in my Anaconda environment (Python 3.8.8)

`conda install -c anaconda tensorflow-gpu==2.4.1`

[2021-03-22 11:18] #47587 closed

[2021-03-22 11:20] Saduf2019 commented on #47931
@DanielMH
Please confirm if this issue is resolved.

[2021-03-22 11:41] kylehatfield1 commented on #35226
I just ran into this exact issue as well any answers? Batch Normalization layer within strategy scope seems to be the issue. any Ideas or fixes?

[2021-03-22 11:46] Fedour commented on #47932
Hello,

I was able to find a solution, I had this [module ](https://www.npmjs.com/package/tflite-react-native)installed , I uninstalled it and it worked.

I think we can close this issue.

[2021-03-22 11:51] DanielMH commented on #47931
I can't really confirm it, the code only works if I remove one line or if I add `.todense()` as indicated above. I guess the original code (from the Google Guide) should work without changes.

My code works by adding `.todense()`, but in other cases it seems to get very slow then.

[2021-03-22 12:05] Fedour opened #47975 "No visible @interface for 'TFLInterpreter' declares the selector 'copyData:toInputTensorAtIndex:error:'"
Hello, I have a little problem with the tensorflow documentation.

I would like to use tensorflow lite with Objective C by following this [documentation](https://www.tensorflow.org/lite/guide/inference)

## URL(s) with the issue:

https://www.tensorflow.org/lite/guide/inference

## Description of issue (what needs changing):

Apparently this function is not declared:

`[interpreter copyData:inputD

[2021-03-22 12:12] shuchitajain commented on #43154
I am facing the same issue. Does anyone know how to fix it??
It's really urgent.

[2021-03-22 12:14] shuchitajain opened #47976 "WARNING: AutoGraph could not transform <function Model.make_predict_function.<locals>.predict_function at 0x000002051844F0D0> and will run it as-is. Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: 'arguments' object has no attribute 'posonlyargs' To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert"
I am trying to train my model and then get the Mean Attribute Error between predicted and true values.
But the predicted value column is empty due to this error.

[2021-03-22 12:15] sikaiyin commented on #47311
I encounter the same problem here. It seems that we cannot run the custom loss function based model training even after disable the eager execution.

[2021-03-22 12:35] abattery commented on #47975
@yyoon could you take a look?

[2021-03-22 12:37] #47932 closed

[2021-03-22 12:37] #47593 closed

[2021-03-22 12:37] #47615 closed

[2021-03-22 12:40] Fedour commented on #47975
I think I have it.

We need to apply copyData on a TFLTensor object, not the TFLInterpreter like this:

[code]

Am I correct ?

[2021-03-22 12:55] amahendrakar commented on #47954
Was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/acad508bce039cd9db9209532dd88d83/47954.ipynb). Thanks!

[2021-03-22 13:02] amahendrakar commented on #47976
@shuchitajain,
In order to reproduce the issue reported here, could you please provide the TensorFlow version, the complete code and the dataset you are using. Thanks!

[2021-03-22 13:03] zhaozheng09 commented on #47947
Heuristic hash table size maybe a good idea ~

[2021-03-22 13:03] amahendrakar commented on #47976
Also, you can suppress the warning messages by changing the log level at the start of the program
[code]

or you can set the [autograph verbosity](https://www.tensorflow.org/api_docs/python/tf/autograph/set_verbosity
) level using

[code]
Thanks!

[2021-03-22 13:15] mjdxyr opened #47977 "Will Lamba.compute_output_shape change "inbound_nodes" of Lambda layer?"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platfo

[2021-03-22 13:17] suraj-maniyar commented on #43671
@preethivenkatesh I got build errors when using --config=mkl_threadpool.
Could you please elaborate what all steps you followed to build Tensorflow 2.4?

[2021-03-22 13:26] pedrogasg commented on #47554
Hello, I have the same error in tf-nightly on my side and have the following warning before this one `tensorflow/python/util/util.cc:348] Sets are not currently considered sequences, but this may change in the future, so consider avoiding using them.`

[2021-03-22 13:26] busFred commented on #47963
After doing more Google search, I realize the problem is that I didn't really understand what precision and accuracy really means.

[2021-03-22 13:26] #47963 closed

[2021-03-22 13:26] suraj-maniyar commented on #47870
@bplevin36 Can you elaborate on what exactly will change in that file before building TensorFlow?

[2021-03-22 13:34] JohnGiorgi commented on #40070
Same issue with TF 2.4.1 :/

[2021-03-22 14:00] KarlKulator commented on #47271
The C Library also does not use CMake Exporting and Importing features as far as I can see.

[2021-03-22 14:05] bplevin36 commented on #47870
You don't even have to rebuild Tensorflow.  It reads the environment variables at run time.  Just set `TF_NUM_INTEROP_THREADS=1` and `TF_NUM_INTRAOP_THREADS=1` before running your program.

[2021-03-22 14:27] nikitamaia commented on #47368
I was able to reproduce the error in colab (not sure what I was doing wrong the first time). I'm not quite sure how `set_soft_device_placement` works with MirroredStrategy, so doing some more investigation.

[2021-03-22 15:02] airman00 opened #47978 "How to Build TensorFlowLiteGPUExperimental for iOS x86 + others"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Big Sur
- TensorFlow version: 2.5.0
- Python version:  3.8.3
- Bazel version (if compiling from source):  3.7.2
- GCC/Compiler version (if compiling from source): 12

**Describe the problem**
There is a great pod called 'TensorFlowLiteGpuExperimental' that has C++ support for GPU delegates on iOS devices. Until

[2021-03-22 15:13] amahendrakar commented on #47971
@mattia-,
Could you please restart your machine, close all the programs running in the background before running the script and let us know if you are still facing the same issue? Thanks!

[2021-03-22 15:13] zhaozheng09 commented on #41589
thx

[2021-03-22 15:19] rnyak commented on #46719
Hello, is there any progress regarding this issue? Thanks.

[2021-03-22 15:35] innat commented on #47544
# NO

[2021-03-22 15:37] amahendrakar commented on #47958
@JulianWgs,
From the error log, it looks like the error is thrown from the pandas module.

In this case, could you please get in touch with pandas support regarding the error. Thanks!

[2021-03-22 15:38] airman00 commented on #47978
Here's my attempt using glob to just include all header files, but then I get no headers at all in the .framework file that outputs

[code]

[2021-03-22 15:44] mattia- commented on #47971
@amahendrakar,
Thanks for taking the time to reply!
I can confirm the issue still stands after a clean reboot. Can you reproduce the same behaviour on your machine or is it just me?

[2021-03-22 15:46] mihaimaruseac commented on #46629
This should be fixed, I think.

Please reopen if that is not the case

[2021-03-22 15:46] #46629 closed

[2021-03-22 15:48] yann-pourcenoux commented on #47886
To avoid that problem I changed the slicing operations with `tf.unstack()` and got rid of that error.

[2021-03-22 15:48] #47886 closed

[2021-03-22 15:56] monicadsong commented on #43527
Hi @abrarum --

(1) Is the index error still present in TF-nightly? I wasn't clear earlier, but the issue would still be in `2.4.1.`, so you will have to use TF-nightly until TF 2.5 is released to overcome this bug.

(2) For your new error, can you file a new issue please? Thanks!

[2021-03-22 15:56] abrarum commented on #37525
same error with: tensorflow-2.4.1

[2021-03-22 16:05] linoqui14 commented on #43032
I have the same issue, and I'm stuck at it!

[2021-03-22 16:08] srjoglekar246 commented on #47973
@MeghaGhosh it would be good to see the TFLite model. Can you share a link to the file?

[2021-03-22 16:13] JulianWgs commented on #47958
Thanks for the fast reply :)

This is true. However something in the Tensorflow code sets the array to be non writeable. The error does not happen when the exception is thrown, but when the tensor is assigned to the column of Pandas. The Numpy implementation handles it „correctly“.

Do you understand what I mean?

Sorry, for not clarifying this earlier.

Greetings
Julian

[2021-03-22 16:21] RichardKershner-v1 commented on #47965
Thought I had the code above.  It also might be a Keras and not a tensor flow issue.
I did figure the fix for it, which doesn't seem like it should be the one that works.

First, I had to name the inputs and build a dataset.  The weird key is that I had to reshape the data, as below.  Not intuitive.  I have the below code with an output for concatenate and with an output for average.

def input_ge

[2021-03-22 16:21] #47965 closed

[2021-03-22 16:37] HessianHunter opened #47979 "ImportError: DLL load failed while importing _pywrap_tensorflow_internal"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): idk
- TensorFlow version: 2.4.1
- Python version: 3.8
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): idk
- GCC/Comp

[2021-03-22 16:38] jvishnuvardhan commented on #36649
@jdchancellor Sorry for the late response. Is this still an issue for you? I tried running your colab but don't have access to your data. Can you please update the colab with any public data and share it? Thanks!

[2021-03-22 16:51] jthibaut commented on #47891
Thanks !
It seems to work but my data sets seems to be empty:
`dataset_train = tf.data.Dataset.from_tensor_slices((X_train_path, y_train_path))`
`dataset_train`
<TensorSliceDataset shapes: ((), ()), types: (tf.string, tf.string)>
`dataset_train = dataset_train.map(lambda x, y : [load_image(x), load_image(y)], num_parallel_calls=-1).batch(32)`
`dataset_train`
<BatchDataset shapes: ((None, None, Non

[2021-03-22 16:54] ioannesKX commented on #47636
The error mentioned in OP seems to be fixed but compilation is stuck in another stage.
[code]
A dozen more similar errors related to pthread that I won't paste here.
Also some errors related to some math functions:
[code]
[code]
[code]
[code]
[code]
And some others.
Full build log here https://pastebin.com/FLuRY38g
expm1/round are the same thing I was getting at https://github.com/tensorflow/tenso

[2021-03-22 17:12] lgeiger commented on #47927
@abattery Thanks for re-opening the issue. I tried out using `SignatureDefs` with Keras models and discovered a few bugs and usability issues which can be reproduced in [this colab notebook](https://colab.research.google.com/drive/12GWxCkECNYNDMx0EaI379lIQEvZgsW4i?usp=sharing).

The first problem is related to using full int8 quantization (/cc @MeghnaNatraj) by setting
[code]
This breaks the signa

[2021-03-22 17:27] #47430 closed

[2021-03-22 17:33] Elysaveth opened #47981 "Infinite loop when using reduce() inside tf.data.Dataset.map()"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Linux Ubuntu 20.04
- TensorFlow installed from: Binary
- TensorFlow version: v2.4.0-49-g85c8b2a817f 2.4.1
- Python version: 3.8.5
- CUDA/cuDNN version: None
- GPU model and memory: None

**Describe the current behavior**
I'm trying to create a 3D image dataset using my previous dataset of sorted 2D images. To

[2021-03-22 17:37] #47627 closed

[2021-03-22 18:01] yann-pourcenoux opened #47983 "ERROR: cannot compute CombinedNonMaxSuppression as input #0(zero-based) was expected to be a float tensor but is a uint8 tensor (while executing 'CombinedNonMaxSuppression' via Eager) ERROR: Node number 644 (TfLiteFlexDelegate) failed to invoke."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04/Android 10
- Mobile device if the issue happens on a mobile device: Xiaomi Redmi Note 7
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): tf-nightly-gpu==2.5.0

[2021-03-22 18:06] ramonemiliani93 commented on #47534
Seems the problem is on the `TensorSliceDataset` class specifically where `self._tensors` attribute is created. Seems `structure.to_batched_tensor_list` is not generating the correct number of tensors (only 1).

[2021-03-22 18:10] lu-wang-g commented on #47559
You should be able to pack the normalization params with the following lines of code:
[code]
Not sure why it doesn't work for you.

Please try the MetadataWriter Library to populate the metadata:
1. Install the TFLite Support nightly Pypi package:
[code]
2. Write metadata to the model using the following script:
[code]

Using mean=127.5 and std=127.5 will normalize your image from [0, 255] to [-1,

[2021-03-22 18:17] tanguycdls commented on #40997
I found out about tf.OptionalSpec: https://www.tensorflow.org/api_docs/python/tf/OptionalSpec that could work for that usage. But I dont think it's currently compatible with Keras.

[2021-03-22 18:37] #47431 closed

[2021-03-22 18:50] ameyparanjape commented on #47631
@sandeep22-v I am getting a similar error. What did you do to fix the issue? Does downgrading tensorflow work?
Brief log of my error:
[code]

[2021-03-22 18:51] mdanatg commented on #47548
This is a bug in the constant folding logic (which is not applied in eager execution). See example below.

In a very basic test, increasing the epsilon from 1e-8 to 1e-7 was enough to avoid the inconsistency, not sure if that's acceptable for your model.

[code]

Alternatively, you may be able to replace `x + eps` with `tf.where(x > 0.0, x, 1e-8)`, which is more accurate for very small values as w

[2021-03-22 18:58] saxenasaurabh commented on #47777
I think adding `stateful=True` arg to the API sounds reasonable. Would you like to send a PR?
One way to test this change might be to create a tf.function with two calls to `tf.numpy_function` and test that there is no control edge between them. Right now there should be, which is a possibly performance concern I believe.

[2021-03-22 19:07] mayou36 commented on #47777
Sure, gladly doing that!

[2021-03-22 19:08] ramonemiliani93 commented on #47534
The `nest.flatten` function inside `normalize_elements` to generate `element` on the `__init__` of `TensorSliceDataset` works different when inside the `predict_step`.

[2021-03-22 19:21] deeb02 commented on #23166
The irony is not lost on us either, believe me.
But under limited time and resources, we must prioritize. Is this still crashing with more recent version of TF? IS there a particular functionality that you are unable to implement because of this? If either is true (esp. if both) we'll try to prioritize it.

[2021-03-22 19:22] ramonemiliani93 commented on #47534
The problem seems to be on the `nest.flatten` inside `normalize_element` when creating `element` in `TensorSliceDataset`, for a simple example i.e. `tf.data.Dataset.from_tensor_slices(tf.random.uniform((120, 1, 5))` a list is generated correctly. Inside the `predict_step` a list with a single element is created (instead of unpacking all tensors on the first dimension).

[2021-03-22 20:12] ShubhamShaswat commented on #47891
I am not sure about the reason for not showing the output shape, but the dataset itself is not empty. You can check that by running this code :
[code]

[2021-03-22 20:19] jeongukjae opened #47985 "Invalid format in tf.math.log doc page"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/math/log

## Description of issue (what needs changing):

### Clear description

<img width="1039" alt="Screen Shot 2021-03-23 at 5 12 34 AM" src="https://user-images.githubusercontent.com/8815362/112052367-6291a700-8b96-11eb-8535-c874920d66b4.png">

The example section is broken.

https://github.com/tensorflow/tensorflow/blo

[2021-03-22 20:24] lgeiger commented on #47970
Opened #47986 with a fix.

As a temporary workaround you can use `tf.config.optimizer.set_experimental_options({"constant_folding": False})` although that could slightly reduce performance in some cases.

[2021-03-22 20:29] nasirml commented on #47174
I am also having the same issue to reproduce the results of EfficientNet models. Just wondering if anyone has updates on this?

[2021-03-22 21:00] zachary-jablons-okcupid commented on #42872
Has there been any update on this? We've been able to get it to work with the workaround above adapted to the `save` step, but even as of 2.4.1 we're still hitting this issue.

Here's a simple gist reproducing the issue: [code](https://gist.github.com/zachary-jablons-okcupid/b81629945bd930c1a6507633df40088f), [output](https://gist.github.com/zachary-jablons-okcupid/843cfbaa888bb20385fdbae00571e019

[2021-03-22 21:15] johnnync13 commented on #34107
here is the solution:
https://www.tensorflow.org/api_docs/python/tf/config/experimental/set_memory_growth

[2021-03-22 21:58] adriangb opened #47989 "DOC: CONTRIBUTING.md Sanity Check guide not working"
If I try running the [instructions in CONTRIBUTING.md](https://github.com/tensorflow/tensorflow/blob/master/CONTRIBUTING.md#running-sanity-check):

[code]

I get:

[code]

However, if I instead use the `cpu-py3.6` image, I get a bit further:

[code]

I don't see any way for users to fix this without diving into the plethora of different Dockerfiles and scripts-calling scripts that exist in the rep

[2021-03-22 22:07] ymodak commented on #47729
<img width="1348" alt="Screen Shot 2021-03-22 at 3 03 50 PM" src="https://user-images.githubusercontent.com/42785357/112064315-00965a80-8b20-11eb-8084-9d60247af9a7.png">

I see that the last topic on the right hand side index table fits exactly on the bottom of the screen and there is no more content to scroll down.

[2021-03-22 22:18] Volker-Weissmann opened #47991 "Python 3.6.12-debug is not supported, but documentation says it is"
This works:
[code]
This also works:
[code]

But this:
[code]
says
[code]

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source

[2021-03-22 22:19] Volker-Weissmann commented on #47660
Done: https://github.com/tensorflow/tensorflow/issues/47991

[2021-03-22 23:04] jvishnuvardhan commented on #32142
@lminer Is this still an issue for you. I tried `TF2.4.1` and was able to save and load and didn't face any issue. [Here](https://colab.research.google.com/gist/jvishnuvardhan/e709aa673d747c9adba48b9efdadf9d3/untitled.ipynb) is a gist for reference.

Please close the issue if this was resolved for you. Thanks!

If anyone has any similar issue, please share a standalone code to reproduce the issue.

[2021-03-22 23:07] lminer commented on #32142
Looks good

[2021-03-22 23:07] #32142 closed

[2021-03-22 23:09] alenik01 commented on #47415
Closed due to the raised PR.

[2021-03-22 23:09] #47415 closed

[2021-03-22 23:13] mdanatg commented on #40006
cc @saxenasaurabh @allenlavoie for more insight

You shouldn't need to modify existing code. It should be possible to create a new op, e.g. by copying parts of e.g. `AssignVariableOp`, and instead of using existing classes, define a new class for your resource. So you'd copy `Var` - see `core/framework/resource_var.h` - to create a new `ResourceBase` subclass; its comments have an example. I'm not

[2021-03-22 23:39] jvishnuvardhan commented on #26495
@fps7806 Is this still an issue for you. Currently `TF1.x` is not supported. Can you please check with `TF2.x` and let us know whether the issue persists with `TF2.x`. Thanks!

[2021-03-22 23:49] allenlavoie commented on #40006
I think Dan covered it pretty well. Summary writers, Dataset iterators, and tables are all reasonable examples of kernels that handle resource tensors. There isn't anything they can do that isn't public; the C++ custom op API is what they all use to specify their kernels.

Having pointers in the custom op guide sounds reasonable. And probably also a discussion of the issues Dan mentions: stateful

[2021-03-23 00:05] ashahab opened #47994 "tf.data.experimental.snapshot should allow providing custom hash"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.4.0
- Are you willing to contribute it (Yes/No): Ues

**

[2021-03-23 00:23] jvishnuvardhan commented on #34491
@Innuendo1975 Is this still an issue for you. I changed `mask_value` to 1.0, then the loss and metrics are matching as expected.

`model.add(Masking(mask_value=1., input_shape=(time_steps,1)))`

[Here](https://colab.research.google.com/gist/jvishnuvardhan/9bd03b507787953cbdbd3b36dd7cbeb9/34491-tf-nightly.ipynb) is a gist for reference. Thanks!

Please close the issue if this was resolved for you.

[2021-03-23 00:29] Pamulapati13 commented on #33916
I had a similar issue.

Hey @Alperen-KY , I had a similar issue and using this comment mentioned above helped me:
`physical_devices = tf.config.experimental.list_physical_devices('GPU')
assert len(physical_devices) > 0, "Not enough GPU hardware devices available"
tf.config.experimental.set_memory_growth(physical_devices[0], True)`

[2021-03-23 00:30] alexbaras commented on #47771
Ok thanks

[2021-03-23 00:30] #47771 closed

[2021-03-23 00:37] #38496 closed

[2021-03-23 01:20] xiumingzhang commented on #40814
I have a very similar setup as @lminer, and Luke's solution of NOT setting `TF_FORCE_GPU_ALLOW_GROWTH` works for me too. Thanks, @lminer!

[2021-03-23 01:27] chg0901 commented on #46479
Please check this link [tensorflow: Not creating XLA devices, tf_xla_enable_xla_devices not set](https://stackoverflow.com/a/66028149/7194271)

Please add the following at the very beginning of your script:

`os.environ['TF_XLA_FLAGS'] = '--tf_xla_enable_xla_devices'`

[2021-03-23 02:09] thijstriemstra opened #47996 "Segmentation fault for tflite Interpreter"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2021-03-23 02:11] thijstriemstra commented on #47050
Loading the converted model and [trying inference](https://www.tensorflow.org/lite/guide/inference#load_and_run_a_model_in_python) results in a segmentation fault. I opened #47996 for this.

[2021-03-23 02:13] Yu-Hang commented on #47933
@abattery Can you help me with this one? Sorry to @ you directly, but I don't know why this issue is not assigned.

[2021-03-23 02:13] abattery commented on #47996
@thijstriemstra  Could you share reproducible steps?

[2021-03-23 02:15] thijstriemstra commented on #47996
I can post the model that I converted using your help in #47050 @abattery. When you try the above script I'm 99% it will segfault. I'm not sure what to do to debug the segfault.

[2021-03-23 02:15] abattery commented on #47933
Sorry. I am looking at the TFLite product issues only.

[2021-03-23 02:34] moodoki opened #47998 "attr.s decorated keras Layers broken in keras.Sequential"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2021-03-23 03:08] innat commented on #47544
@jvishnuvardhan It's solved. Thanks.

[2021-03-23 03:47] yufengma commented on #43248
I encountered the same issue.
I think the root cause comes from not specifying the output_shapes during from_generator() so that during class weighting, y.shape.rank returns None.

[2021-03-23 03:59] preethivenkatesh commented on #43671
@suraj-maniyar
bazel:3.1.0,
gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0

Here is the build command I used for c api
`bazel build --config=mkl_threadpool  //tensorflow/tools/lib_package:libtensorflow`

 For sanity check purpose, I tested the installer on Python for the  single-threaded behavior and was able to do it by setting the threads for all sessions in the script [here](https://github.com/IntelA

[2021-03-23 04:22] kishorekethineni opened #47999 "TensorFlow Lite file Conversion"
I have trained a Tfrecord file and converted into tflite file. I have used roboflow instructions as I don't have any knowledge on this domain. As per instructions https://gist.github.com/kishorekethineni/7b170822f27019d2f142be117f9855af I had run all the mentioned scripts exactly and generted tflite file successfully also checked tfilte file for input and output arrays worked fine there. required

[2021-03-23 04:22] kishorekethineni commented on #47999
@MeghnaNatraj

[2021-03-23 04:35] sourabhx003 commented on #21544
I tried to interrupt while copying the saved_model. And got "read than expected".
Copying again worked fine and smooth. I hope you download the right saved model too.

[2021-03-23 04:38] sandeep22-v commented on #47631
Sir are you trying to convert ssd_mobilenet_v2 to tflite?

[2021-03-23 05:23] Saduf2019 commented on #47934
@farazk86
I ran the code on 2.4 and it works fine,please refer to the [gist here](https://colab.research.google.com/gist/Saduf2019/10e31dc3cec9f27676126e56caf9003c/untitled569.ipynb).
As the issue is resolved for you can you please move this to closed status.

[2021-03-23 05:26] Saduf2019 commented on #47998
@moodoki
Can you please refer to similar issues and let us know: [link](https://stackoverflow.com/questions/51181754/keras-tensorflow-convlstm2d-object-has-no-attribute-outbound-nodes)

[2021-03-23 05:36] arturdryomov opened #48001 "No OpenCL for GPU delegate on Android 12"
* Device: Google Pixel 4
* OS: Android 12 developer preview 2
* TensorFlow Lite: 2.4.0
* TensorFlow Lite GPU delegate: 2.4.0
* TensorFlow Lite support: 0.1.0

Calling `Interpreter.runForMultipleInputsOutputs` with pre-configured GPU delegate results in the following message:

[code]

There is no such message on Android 11 (and the same device). As a result, the executing time is higher than it was

[2021-03-23 05:41] juguangliang commented on #38393
This issue still exists in Tensorflow v2.4.1 as well. Please reopen.

[2021-03-23 05:41] abattery commented on #47996
Could you provide reproducible minimal steps for your problem from creating a TF model to executing inferences in a form of the gist? Or could you share the converted model with the tf-nightly version?

Could you make sure the given above input is valid for the TF model as well? If it is not valid for the TF model, the TFLite model won't work as well.

[2021-03-23 05:43] abattery commented on #47999
@kishorekethineni Are you owning the original roboflow document? Is there any modification you made in the roboflow document? I would know that that the above roboflow document is used to work or not.

[2021-03-23 05:53] woneuy01 commented on #21742
https://community.plotly.com/t/dash-pythonanywhere-deployment-issue/5062

[2021-03-23 05:54] kishorekethineni commented on #47999
@abattery  Used the roboflow document as it is just changed file paths and num_steps to 1000 for quick train.

[2021-03-23 05:55] kishorekethineni commented on #47999
@abattery  reducing num_steps from 100000 to 1000 will affect the detection accuracy?

[2021-03-23 06:03] abattery commented on #47999
I don't know the details of the roboflow document. I would recommend discussing this with the roboflow colab author. For the accuracy problem, I think you can try some more experiments with the original parameter set.

Closing this issue for now since this looks like not an issue of the TensorFlow project.

Please reopen if you find a TensorFlow specific issue after discussing with the roboflow co

[2021-03-23 06:03] #47999 closed

[2021-03-23 06:11] Saduf2019 commented on #47968
I am able to replicate the issue reported on tf 2.3,2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/1f96bd12950032edcb8c9a160cc25581/untitled571.ipynb).

[2021-03-23 06:13] abattery commented on #48001
@impjdi could you take a look at this report?

[2021-03-23 06:13] NeoZhangJianyu commented on #43671
@fisakhan @suraj-maniyar
As my understanding of your issue, you want to a program which call TF to work only use one thread.
The program's work include AI inference and other functions (like pre/post handle dataset).

The parameters above will only impact the TF inference behavior: use 1 thread to infer.
But the parameters can't control the program do other jobs with 1 thread.

Please check and fi

[2021-03-23 06:14] moodoki commented on #47998
@Saduf2019 Linked issue seems unrelated, it's referring to a problem with Keras layer implementation differences but this is not the case here. I'm only using `tf.keras`.

Furthermore, the problem is due to a different `flatten`.
The issue with `tensorflow.python.util.nest.flatten` here is not the similarly named `tf.keras.layers.Flatten()`

`nest.flatten` is something that's internal to TensorFlo

[2021-03-23 06:14] gmaratos opened #48002 "CUDA_ERROR_UNKNOWN in Docker Rootless Mode."
## Summary
Tensorflow docker image fails to use GPU

## Configuration
1. Debian 10
2. Nvidia driver 460.32.03
3. 3 RTX 2080, 128 GB of Memory

## Explanation
I was trying to set up a Tensorflow container in rootless-mode. I had to jump through a few hoops, like disabling cgroups and manually installing slirp4netns (v1.1.4).

I tried the docker containers tensorflow/tensorflow:latest-gpu and tensor

[2021-03-23 06:15] Saduf2019 commented on #47981
I am able to replicate this on tf 2.3,2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/90a4b28f7d03d5ac1bf3ed277c79814b/untitled571.ipynb)

[2021-03-23 06:17] Mouradost opened #48003 "Multiple inputs with diffrent shapes"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.4
- Are you willing to contribute it (Yes/No): Yes

**De

[2021-03-23 06:19] gmaratos commented on #48002
Docker version = 20.10.5

[2021-03-23 06:37] #47637 closed

[2021-03-23 06:44] Saduf2019 commented on #48002
@gmaratos
Please confirm if you are using tensorflow 1.14, as there is no support for yf 1.x , please upgrade to/install tf 2.x and let us know if you face any issues.

[2021-03-23 06:58] yuefengz commented on #45918
Estimator + MultiWorkerMirroredStrategy in **eager** mode is not a blessed path. Please either use the workaround mentioned above or use Keras. Thanks!

[2021-03-23 06:58] #45918 closed

[2021-03-23 07:00] ZoeZhang91 commented on #46005
My GPU is GeForce RTX 2080ti, CUDA11.0, cuDNN 8.0.5，i‘ve tried to switch  tensorflow 2.4.0rc1, rc2, rc3, rc4 and 2.4.1, also tried to change the cuDNN version to 8.1.0, but they all still  got the same error as above...
Really need some help.

[2021-03-23 07:08] bondhugula opened #48004 "MLIR binaries build fails due to missing dependency declaration"
With the TF git version HEAD at

commit b725e835c68bb50bea582cac0aceeb828d3d6ea9 (HEAD -> master, origin/master, origin/HEAD)
Author: A. Unique TensorFlower <gardener@tensorflow.org>
Date:   Mon Mar 22 22:00:12 2021 -0700

$ bazel build --copt=-UNDEBUG --linkopt='-fuse-ld=lld'  tensorflow/compiler/mlir:all

yields:

[code]

System information
Ubuntu Linux 20.04.02 LTS
bazel 3.7.2
gcc (Ubuntu 9.3.0

[2021-03-23 07:18] yyoon commented on #47975
@Fedour Thanks for reporting! You are correct on that.
Will update the inference guide doc.

[2021-03-23 07:25] shuchitajain commented on #47976
Hey, why do we need to import tensorflow here?
I am using tensorflow as backend and i am not importing it anywhere.

[2021-03-23 07:31] rmothukuru commented on #17076
@Flamefire,
Did you try **`Profiler Tool`**, mentioned in [this comment](https://github.com/tensorflow/tensorflow/issues/17076#issuecomment-793674481)?

[2021-03-23 07:36] rmothukuru commented on #21174
@evictor,
Thank you for your confirmation. Closing the issue.

[2021-03-23 07:36] #21174 closed

[2021-03-23 07:41] WeiHao97 opened #48005 "gradient wrt input not working after applying tfmot.quantization.keras.quantize_model"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-03-23 07:42] Flamefire commented on #17076
Not yet as it involves some setup and usage of a notebook which is a bit involved when running on HPC nodes. Adding some option to have some output on the stdout/stderr in case of failure would have been much more usable in that context.

And if  that is not possible, then TF should not tell you so in its error message. I spend quite some time looking how to follow the advice of "add report_tensor

[2021-03-23 08:21] deluksic commented on #47970
It works for me if I do `experimental_compile=True` (since I anyways want to do that for performance). I'm wondering though, doesn't experimental compile constant fold too?

[2021-03-23 08:27] freedomtan commented on #48001
@arturdryomov FYR. On my Pixel 4 running Android 12 DP 2, I could find /vendor/lib64/libOpenCL.so and I can use `benchmark_model --use_gpu=1 ...` without problems.

[2021-03-23 08:33] MeghaGhosh commented on #47973
Hey, this is the google drive link to the tflite file:

https://drive.google.com/file/d/1S6T5GUHa9WrcK2WZa0DrHpD68w9jHnTX/view?usp=sharing

This is the code to run it on android:

imageBitmapForModel = BitmapFactory.decodeResource(con.getResources(), R.drawable.b1);
  if (imageBitmapForModel != null) {
      Log.e("Edgar", "Suces" + height + "width" + width);
  }

  ImageProcessor imageProcessor =

[2021-03-23 08:43] FSet89 opened #48007 "Converted Object Detection model trained with q-aware training still has fake quantization layers"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): 1.15

### 2. Code

I Trained a MobileNetV2SSD using the Object Detection API including this block:
[code]

Then I exported the model for tflite using t

[2021-03-23 08:52] Innuendo1975 commented on #34491
Hi @jvishnuvardhan, yes it is still an issue.

Point is that 'mask_value' in the Masking layer should match the 'value' optional parameter of pad_sequences, which was left at its default 0.0 in the attached example.
Otherwise, the Masking layer won't find any padding.

If both the 'value' parameter of pad_sequences and the 'mask_value' parameter of Masking are set at 1., the problem persists.

Ten

[2021-03-23 08:55] teijeong commented on #47193
Hello, sorry for late reply. Seems like it's been resolved in the `tf-nightly`. Can you check again?

[2021-03-23 08:56] #47975 closed

[2021-03-23 09:20] abattery commented on #48007
@ethkim could you triage this issue?

[2021-03-23 09:26] pedrogasg commented on #47554
@Saduf2019
This is still happening with tf-nightly and we have a new comment about Keras if we try to use tf.model_save.save

[2021-03-23 09:38] #47654 closed

[2021-03-23 09:55] pranavpsv opened #48009 "Allow Server-Side Encryption KMS option when uploading objects to S3 with Tensorflow"
**System information**
- TensorFlow version (you are using): 2.4.1
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Productive systems frequently impose a requirement to use server-side encryption (SSE) to protect all data stored on S3, e.g. via [AWS KMS](https://docs.aws.amazon.com/kms/latest/developerguide/services-s3.html).

Tensorflow

[2021-03-23 09:57] yann-pourcenoux commented on #47983
I don't know if you meant TF 2.4.1 or TF 2.5.0.

**In TF2.4.1**
The conversion fails and throws `IndexError: _Map_base::at. I read that this would be fixed in TF 2.5. This is why I did the conversion in TF 2.5

**In TF 2.5.0**
When I convert using TF 2.5, the conversion works even though I get the following warning `WARNING:absl:For model outputs containing unsupported operations which cannot be q

[2021-03-23 09:57] CNugteren commented on #47193
It does not seem to be resolved, at least not on my specific GPU/CUDA combination:

[code]

[code]
[code]

[2021-03-23 10:00] Saduf2019 commented on #47554
I am able to replicate the issue reported on tf 2.3,tf 2.4 nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/b39a0c5f2afbc4e8dcab0e43fc64023d/untitled573.ipynb).

[2021-03-23 10:11] Saduf2019 commented on #48005
i am able to replicate this error on tf 2.3,2.4 and nightly, please find the [gist here.](https://colab.research.google.com/gist/Saduf2019/22e6ba2b809da57124a2ccf1286e4ea1/untitled572.ipynb)

[2021-03-23 10:14] scarrazza commented on #40006
@mdaley and @allenlavoie thank you for the details. Would be great to have a summary in the docs and/or in [custom-op](https://github.com/tensorflow/custom-op), with an example showing how to construct custom operators for variants as input tensors.

[2021-03-23 10:17] abattery commented on #47983
converter.experimental_new_quantizer = False

Could you try the conversion with the old quantizer?

[2021-03-23 10:20] Saduf2019 commented on #47998
I am able to replicate the issue on [tf 2.4 and nightly](https://colab.research.google.com/gist/Saduf2019/4cb28eafacf7cd460672aafc490cdfc5/untitled574.ipynb) but the issue is not reproducible on tf 2.3, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/61c2cdd0a4792dd073d68ce7f802a0ea/untitled572.ipynb).

[2021-03-23 10:26] shuchitajain commented on #47976
Also, I am using Tensorflow 2.4.1.
The repository that I am working on:
https://github.com/Neerajj9/CSRNet-keras/issues

The dataset is given in the README

[2021-03-23 10:26] Saduf2019 commented on #47959
@Michal-Kolomanski
I ran the colab but face a different error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/4d6000997a868fe08867b634d98362d4/untitled572.ipynb).

[2021-03-23 10:27] abattery commented on #47983
@fredrec could you take a look?

[2021-03-23 10:37] #21845 closed

[2021-03-23 10:37] #29581 closed

[2021-03-23 10:45] Michal-Kolomanski commented on #47959
Please install:
`!pip install tensorflow==2.4.1`
`!pip install keras==2.4.1`
It should solve your problem.

[2021-03-23 10:48] lgeiger commented on #47970
experimental compile does constant folding too, but uses a different code path as far as I know which doesn't have this bug.

[2021-03-23 11:03] yann-pourcenoux commented on #47983
Using `converter.experimental_new_quantizer = False` fixed it. Thanks!

[2021-03-23 11:06] #47983 closed

[2021-03-23 11:17] abattery commented on #47983
@teijeong @liufengdb this issue is another example of the new quantizer's regression.

[2021-03-23 11:21] vmishra2019 opened #48010 "Getting error in each second step in model training in gcloud tensorflow2.3 python 3.7, error - model_lib_v2.py:651"
Hi while running a training job in gcloud, continuously getting following error in each step, why this is occurring and how to resolve it

I 2021-03-23T10:34:36.455145835Z master-replica-0 Step 20900 per-step time 11.124s loss=1.705 master-replica-0
E 2021-03-23T10:34:36.455868005Z master-replica-0 I0323 10:34:36.455145 140138105964352 model_lib_v2.py:651] Step 20900 per-step time 11.124s loss=1.7

[2021-03-23 11:35] vmishra2019 opened #48011 "How to generate tflite file for object detection on android in tensorflow 2.3"
I am using SSD pretrained model ssd_mobilenet_v1_fpn_640x640_coco17_tpu-8, I trained it on tensorflow 2.3, after checkpoint has been generated i have downloaded it on my windows machine.

Can someone please share scripts require to generate tflite file for android, also following scripts works for me in tensorflow 1.13 which is not supported in 2.x

python object_detection/export_tflite_ssd_graph.

[2021-03-23 11:38] #19696 closed

[2021-03-23 11:38] #29317 closed

[2021-03-23 11:38] #25880 closed

[2021-03-23 11:41] vmishra2019 opened #48012 "How to pass -add_postprocessing_op=true while using tflite_convert in tensorflow2.x"
How we can pass -add_postprocessing_op=true while creating PB file for tflite_convert

python object_detection/export_tflite_ssd_graph.py --pipeline_config_path=pipeline.config --trained_checkpoint_prefix=model.ckpt-4000 --output_directory=saved_model --add_postprocessing_op=true

Above scripts should output two files In saved_model directory: tflite_graph.pb and tflite_graph.pbtxt

Above script i

[2021-03-23 11:41] amahendrakar commented on #47979
@HessianHunter,
Please take a look at [this guide](https://www.tensorflow.org/install/pip#2.-create-a-virtual-environment-recommended) to install TensorFlow in a new virtual environment and check if it helps. Thanks!

[2021-03-23 11:50] Saduf2019 commented on #47863
@mdable2
Can you please check if the other two methods work and let us know.

[2021-03-23 11:54] Saduf2019 commented on #47955
@innat
Please refer to this comment from the member of the keras community [here](https://github.com/tensorflow/tensorflow/issues/46316#issuecomment-760339753).

Also please provide with code for us to replicate the issue.

[2021-03-23 12:02] abattery commented on #48011
Could you leave your question at the tensorflow/model repository, which owns the objection_detector scripts?

[2021-03-23 12:04] abattery commented on #48012
Could you leave your question at the tensorflow/models repository, which owns the objection_detector scripts?
This repo is mainly for the TensorFlow project not the TF model garden.
https://github.com/tensorflow/models

[2021-03-23 12:14] PurushothamanSrikanth commented on #1353
If we are using `tensorflow-gpu`, we can't install TensorFlow alongside, right?

[2021-03-23 12:16] vmishra2019 commented on #48011
How can i move it to tensorflow/models

[2021-03-23 12:18] abattery commented on #48011
Maybe you can just upload a new issue at there and close.

[2021-03-23 12:37] #29072 closed

[2021-03-23 12:38] 438-gm-24 opened #48013 "RuntimeError: Input pipelines based on Queues are not supported when eager execution is enabled. Please use tf.data to ingest data into your model instead."
OS Platform and Distribution (e.g., Linux Ubuntu 20.04): RHEL 7.7
TensorFlow version: 2.4.1
Python version: 3.8.5
CPU
NVIDIA Corporation GP102
I try to run this code
python -m CycleGAN_TensorFlow.create_cyclegan_dataset --image_path_a=folder_a --image_path_b=folder_b --dataset_name="horse2zebra_train" --do_shuffle=0

I have this error
RuntimeError: Input pipelines based on Queues are not supported

[2021-03-23 12:46] unrealwill commented on #24079
out of date

[2021-03-23 12:46] #24079 closed

[2021-03-23 12:53] #48012 closed

[2021-03-23 12:53] #48011 closed

[2021-03-23 13:05] arturdryomov commented on #48001
True, for some reason the native benchmark binary with `--use_gpu=true` is fine. Investigating further what happens during regular APK execution.

[code]

[2021-03-23 13:29] flamxi opened #48014 "Couldn't build android C++ .so libs with bazel and tensorflow as a remote dependency."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): Source, current master branch (23.03.2021)
- TensorFlow version: Current master branch(23.03.2021), latest tag v2.4.1
- Python version: 3.8
- Bazel version (if compiling from source): 4.0.0
- GCC/Compiler version (if compiling from source):  7.5.0
- CUDA/cu

[2021-03-23 13:33] amahendrakar commented on #47985
@jeongukjae,
Looks like the issue is fixed in the nightly version of the documentation.

Please check [this link](https://www.tensorflow.org/api_docs/python/tf/math/log?version=nightly) for reference. Thanks!

[2021-03-23 13:42] m-nasiri commented on #28252
I had this issue and the problem was different version for gcc and g++, my gcc version was 7.5 and my g++ version was 9.3
solution:
sudo apt install gcc-7 g++-7 gcc-8 g++-8 gcc-9 g++-9
sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-9 9 --slave /usr/bin/g++ g++ /usr/bin/g++-9 --slave /usr/bin/gcov gcov /usr/bin/gcov-9
sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gc

[2021-03-23 13:53] Shadowman82 opened #48015 "Tensorflow C++ get_visible_devices"
### System information

-   I wrote custom code
-   Windows 10 64-bit
-   Tensorflow compiled from source
-   Tensorflow v2.4
-   Python v3.8
-   Bazel v3.1
-   Visual Studio Build Tools 2019
-   CUDA 11.0

### Describe the problem
Hello, I am trying to get the visible GPU devices in my C++ program that integrates Tensorflow compiled from source. I can't find the C++ equivalent function of the Pyt

[2021-03-23 13:55] gmaratos commented on #48002
Yes I can confirm on both images

$> docker run -it --rm --gpus all tensorflow/tensorflow:latest-gpu python
Python 3.6.9 (default, Oct  8 2020, 12:12:24)
[GCC 8.4.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

2021-03-23 13:52:44.163052: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.11.0

'2.4.1

[2021-03-23 14:05] amahendrakar commented on #48007
@FSet89,
TensorFlow 1.x is not actively supported. Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same issue. Thanks!

[2021-03-23 14:06] saxenasaurabh commented on #40006
Additional 2c, `DT_VARIANT` is effectively `void*`. You only need it if you want to have a tensor backed by an arbitrary C++ object. If you all you care about is rectangular tensors then maybe [buffer forwarding](https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/core/kernels/scatter_nd_op.cc;l=204-205;drc=3cbb50768909c585d33e99ba10172d1c44c04d6f) is all you need?

[2021-03-23 14:08] FSet89 commented on #48007
Is the quantization-aware training supported in the Object Detection API in TF2 (I mean the graph-rewrite block in the config file)

[2021-03-23 14:17] seanmor5 opened #48016 "XLA CPU CNN compilation SegFault"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04 / macOS 10.14.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command be

[2021-03-23 14:19] ajinkyaambatwar commented on #47752
Hi @amahendrakar , sorry for delayed response. After upgrading to Ubuntu 18, the issue didn't appear!
Thank you!

[2021-03-23 14:19] #47752 closed

[2021-03-23 14:29] innat commented on #47955
I wanted to reproduce this issue on some public data set on the kaggle kernel. But surprisingly I couldn't reproduce this issue.

In my local machine (Windows), my CPU: Intel Core `i5 6600` (`3.3`GHz), `4` logical Core, and with `TF 2.4.1`, Cuda `11.0`, cuDNN `8.0.4` - GPU: RTIX 2070.

In kaggle, the kernel it's using `TF 2.4.1`. And `use_multiprocessing` froze my training at the beginning but in

[2021-03-23 14:30] iheonyeac commented on #32912
Thank you so much jpambrun!! This worked well for me.

[2021-03-23 14:33] sehoffmann commented on #42441
This "workaround" is not applicable to me, as I want to rely on the functionality of `predict()` (in particular its conversion to a graph-based model). The original author is completely right, that warnings should only trigger for the same model.

[2021-03-23 14:36] ameyparanjape commented on #47631
No, I was converting efficientdet model to efficientdet-lite and having trouble with that. But [this](https://github.com/google/automl/issues/966#issuecomment-804352674) worked

[2021-03-23 14:37] #47665 closed

[2021-03-23 14:45] gg187on opened #48017 "Can't install Tensorflow for Golang"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (

[2021-03-23 14:58] kazu41 commented on #45903
FYI, what I did to escape this issue is,
[code]

[2021-03-23 15:33] barabanus opened #48018 "TensorFlow Lite conversion error when using the slice semantics to expand the last dimension"
### 1. System information

- Linux 5.11.4-arch1-1 #1 SMP PREEMPT Sun, 07 Mar 2021 18:00:49 +0000 x86_64 GNU/Linux
- TensorFlow 2.4.1 from `tensorflow-opt-cuda` package (https://archlinux.org/packages/community/x86_64/tensorflow-opt-cuda)

### 2. Code

Please unzip this protobuf file before running the code: [tflite-strided-slice-fail.zip](https://github.com/tensorflow/tensorflow/files/6191669/tfli

[2021-03-23 15:52] nikitamaia commented on #42441
Any progress on suppressing these warnings will be tracked in #43555. Please check in there for updates.

[2021-03-23 16:12] thijstriemstra commented on #47996
I have a model that was trained using tensorflow 1. I am using it with `tensorflow-model-server` to serve it using a REST API. To illustrate what arguments I pass to that server:

[code]

so I have a single tensor (?) that expects a base64 encoded string of the image.

Now that the model has been converted to tensorflow lite 2.x (with your help in #47050) using this script:

[code]

I eventually w

[2021-03-23 16:18] BlueskyFR opened #48019 "steps_per_epoch documentation not in accordance with the tutorials on the tf website"
The documentation for the `steps_per_epoch` argument to the `tf.keras.Model.fit()` function, located [here](https://github.com/tensorflow/tensorflow/blob/85c8b2a817f95a3e979ecd1ed95bff1dc1335cff/tensorflow/python/keras/engine/training.py#L942), specifies that:

Also, the default value of `steps_per_epoch` is **None**.

In the [Load images tutorial](https://www.tensorflow.org/tutorials/load_data/im

[2021-03-23 16:52] ymodak commented on #46653
Unfortunately we don't have an exhaustive guide for TF build with cuda compute 3.0
I think reaching out to community can be your best bet here.
I found one [article](https://medium.com/@mccann.matt/compiling-tensorflow-with-cuda-3-0-support-42d8fe0bf3b5) that may help in your case.

[2021-03-23 17:26] barabanus opened #48021 "CMake config for TensorFlow Lite C API for Windows builds debug target (not release target as expected)"
**System information**
- Microsoft Windows 10 Pro Insider Preview 10.0.21337 Build 21337
- Microsoft Visual Studio Community 2019 Version 16.9.1
- TensorFlow master 42d9939623f7792ef01b9750df4cd91e5a4b26fa

**Describe the problem**
When I try to build TensorFlow Lite C API dynamic library for Windows using MSVC 2019 compiler with CMake config I get debug target compiled (not release target as expe

[2021-03-23 17:37] #46855 closed

[2021-03-23 17:45] amahendrakar commented on #47742
Was able to reproduce the issue with TF v2.3, [TF v2.4](https://colab.research.google.com/gist/amahendrakar/d03d72ef716567aec789a049c38ea555/47742.ipynb) and TF-nightly.

Whereas with [TF v1.15.4](https://colab.research.google.com/gist/amahendrakar/3e0c27e5b990767cba1d137f0fc44d9b/47742-1-15.ipynb), I was able to run the code without any issues. Please check the linked gist for reference. Thanks!

[2021-03-23 17:56] threebrooks commented on #47269
Sorry for the long delay, but I tried the following adjusted example:

[code]

against the current HEAD (2.5.0) and it still does not exercise` PrepareCompositeFunctionsPass::ConvertTFImplements` in `prepare_composite_functions_tf.cc` (tested by adding a simple exit(-1) into said function).
Can someone confirm a) this example *should* work in the first place and b) somebody is able to make it work

[2021-03-23 18:03] barabanus opened #48022 "TensorFlow Lite allocation error after successful conversion: tfl.Slice node failed to prepare"
### 1. System information

- Linux 5.11.4-arch1-1 #1 SMP PREEMPT Sun, 07 Mar 2021 18:00:49 +0000 x86_64 GNU/Linux
- TensorFlow 2.4.1 from `tensorflow-opt-cuda` package (https://archlinux.org/packages/community/x86_64/tensorflow-opt-cuda)

### 2. Code

Please unzip this protobuf file before running the code: [allocate-fail-protobuf.zip](https://github.com/tensorflow/tensorflow/files/6191821/allocat

[2021-03-23 18:06] pawanfaujdar commented on #47958
import pandas as pd
import tensorflow as tf

df = pd.DataFrame()

df["y"] = tf.linspace(0, 100, 20)

def f(t):
    return t/2

df["x"]=df["y"].apply(f)
df.drop("y",axis=1,inplace=True)

[2021-03-23 18:13] jthibaut commented on #47891
Thanks ! It work but I have a new problem: I used a U-net architecture and if I give as a loss function 'categorical_crossentropy' I have the following error message:
InvalidArgumentError:  logits and labels must be broadcastable: logits_size=[2097152,10] labels_size=[2097152,4]
	 [[node categorical_crossentropy/softmax_cross_entropy_with_logits (defined at <ipython-input-93-b64f662a0ca4>:1) ]] [O

[2021-03-23 18:20] ahmedhajyahmed opened #48023 "How to convert conv3d layer ?"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10  + anaconda
- TensorFlow installation (pip package or built from source): 2.4.1
- TensorFlow library (version, if pip package or github SHA, if built from source): pip package

### 2. Describe the problem
I'm using a model containing conv3d layers. I've got an error when converting the model to
tflite

[2021-03-23 18:42] Harrypotterrrr commented on #39132
Thanks!

[2021-03-23 18:45] hpshah459 commented on #47174
I am facing similar issue with the EfficientNet models. Not able to reproduce to result when using `tf-gpu`.

[2021-03-23 18:48] amahendrakar commented on #47764
@John-8704,
Thank you for the update. After importing `tensorflow-text`, I am facing an error stating `NameError: name 'y_train' is not defined`.

Could you please provide the dataset you are using, so that we can reproduce the issue on our end. Thanks!

[2021-03-23 18:49] impjdi commented on #48001
I just flashed my Pixel 4 with Android 12 and I get:

[code]

so it looks like it's able to find the OpenCL libraries.

[2021-03-23 18:58] amahendrakar commented on #47794
@bgcgh,
Could you please provide the code you are running, so that we can reproduce the issue on our end?

I was able to run a minimal code snippet using TensorFlow v2.4.1 and Keras v2.4.3. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/7c769d007fff52882e3cb7f81adfabea/47794.ipynb#scrollTo=4ONtdNs1cI0K). Thanks!

[2021-03-23 19:07] pandrey-fr commented on #45781
Hi @monicadsong, thank you very much for your answer!
I will try and implement your suggested fix while waiting for TF 2.5 to land :)

[2021-03-23 19:16] ymodak commented on #48002
Please take a look at this related [thread](https://github.com/tensorflow/tensorflow/issues/32623)
Also see this particular [solution]((https://github.com/tensorflow/tensorflow/issues/32623#issuecomment-533936509).) posted by the user. Thanks!

[2021-03-23 19:42] gmaratos commented on #48002
Ok this fixed the problem. I ran the Device Node Verification script from [here](https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#runfile-verifications).

Now all three GPU's are available in the container. Unfortunately I was a little too eager and just ran the script first. I cannot confirm if `nvidia-modprobe` also solves the problem or what the device permissions were befo

[2021-03-23 19:42] #48002 closed

[2021-03-23 19:54] Yu-Hang opened #48025 "Converted TensorFlow Lite MaskRCNN model, conversion was successful but outputs were wrong"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): '2.5.0-dev20210318'

### 2. Code

This [folder](https://drive.google.com/drive/folders/1Ot7GzI69t0ywdAhwvwaOj1VQFQfloqT4?usp=sharing) has the converted m

[2021-03-23 20:05] SebastianThomas1 opened #48026 "Unexpected rank of mask computed by tf.keras.layers.Masking"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.14.6
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8.8

**Describe the current behavior**
I have batch tensors of the shape `(batch_size, n_time_steps, n_features, n_channels)`. They ar

[2021-03-23 20:24] Yu-Hang commented on #19293
@srjoglekar246 Can you convert models that are not from the the model hub? I tried convert my own MaskRCNN model, but the output tensors of the model seems to be wrong. It would be nice if you can take a look my issuehttps://github.com/tensorflow/tensorflow/issues/48025#issue-839067869

[2021-03-23 20:26] Yu-Hang commented on #47933
Can you look at this tensorflow lite [issue](https://github.com/tensorflow/tensorflow/issues/48025#issue-839067869)? @abattery

[2021-03-23 20:50] tomerk commented on #27924
This appears to be a very old (almost 2 years, pre-dating tf 2.0) issue. So going ahead and closing. In general we strongly recommend avoiding estimators and using Keras directly.

[2021-03-23 20:50] #27924 closed

[2021-03-23 20:51] barabanus opened #48027 "Float16 TFLite models with multiple interpreters doesn't share weights but bloats memory"
**System information**
- Linux 5.11.4-arch1-1 #1 SMP PREEMPT Sun, 07 Mar 2021 18:00:49 +0000 x86_64 GNU/Linux
- TensorFlow 2.4.1 from `tensorflow-opt-cuda` package (https://archlinux.org/packages/community/x86_64/tensorflow-opt-cuda)

**Describe the current behavior**

When we create multiple interpreters per single model (e.g. for thread-safety reasons) the expected behavior is that all interpret

[2021-03-23 20:57] fonnesbeck commented on #46044
After following the above, I get:

    ERROR: tensorflow-2.5.0-cp38-cp38-macosx_11_0_x86_64.whl is not a supported wheel on this platform.

on install. I am installing into an Anaconda env, so it should be Intel, so this error confuses me.

[2021-03-23 21:11] tomerk commented on #47889
Hi @Ryan-Rudes, changing top-level api naming tends to be a very involved, risky, general super controversial topic in any widely-used library and can cause serious backwards compatibility issues. We definitely can't rename `optimizers` to `optims` without undertaking serious risk and causing a backwards compatibility headache for existing users. At most we could add an alias of `keras.optims` in

[2021-03-23 21:11] #47889 closed

[2021-03-23 21:45] #44626 closed

[2021-03-23 22:02] tomoleary commented on #40041
Are there any workarounds for 2.4 with eager mode off for custom losses like in the keras VAE example?

https://keras.io/examples/generative/vae/

[2021-03-23 22:14] abattery commented on #48018
Please use the Select TF option. https://www.tensorflow.org/lite/guide/ops_select

[2021-03-23 22:16] abattery commented on #48022
Could you verify the given input is also valid in your TF model as well?

[2021-03-23 22:18] abattery commented on #48023
There is a new builtin op support for conv3d in the tf-nightly. Could you try your conversion script under the tf-nightly version?

[2021-03-23 22:19] abattery commented on #48025
For the multiple input/output naming/ordering issue, we recommend using TFLite signature def API.

SignatureDef provides meaningful/generic names for inputs/outputs which doesn't rely on specific model details. More on [SignatureDefs](https://www.tensorflow.org/tfx/serving/signature_defs#signaturedef_structure) here.
If your saved model has a defined signatureDef then it will be exported during co

[2021-03-23 22:22] abattery commented on #48027
Thanks for your valuable feedback. Currently, each TensorFlow Lite interpreter owns each memory space by design. We will consider this as a feature request for increasing memory sharing across the mulitple interpreter interfaces.

@daverim @terryheo any thoughts on this?

[2021-03-23 22:48] tomerk commented on #47751
`get_tensor_by_name` is not something that should be used in TF2. (You should not be relying on variable or tensor names directly).

variable_scope is also not currently supported in TF2-proper as-is (outside of sessions, which are realistically TF1 just included in the TF2 binaries).

You *may* be able to put your variable scopes inside of a `tf.compat.v1.make_template` and have it work (and then

[2021-03-23 22:48] #47751 closed

[2021-03-23 22:55] foxik commented on #46715
BTW, if you know that the batch dimension is not ragged, it should be fine to use `bounding_shape`, i.e.,
[code]
or more naturally as
[code]

Cheers.

[2021-03-23 23:17] midfield commented on #47445
@ipcamit Thank you for bringing this to our attention.  We're still investigating, but in the meantime the easiest thing to do is to _not_ apply `tf.function` to `target_log_prob` and instead apply it to a wrapper with no arguments:

[code]

We will update the colab example similarly.  In the meantime we will continue to investigate and report back if we have further findings.

[2021-03-23 23:17] #47445 closed

[2021-03-23 23:31] ahmedhajyahmed commented on #48023
@abattery  Thank you for your reply, when running under the tf-nightly version, I get "error: 'tf.BiasAdd' op is neither a custom op nor a flex op".
 I wonder if there is a possible method or implementation that allows me to properly quantify this layer (conv3d) because it is an essential layer in my architecture. Also, I would like to know what effect "Select TensorFlow operators" will produce in

[2021-03-23 23:34] hiraksarkar commented on #34907
Any update on the issue?

[2021-03-23 23:59] ssrokyz commented on #44574
In the case of TF 2.0, I should have changed cudnn.h -> cudnn_version.h in the "third_party/gpus/find_cuda_config.py" file

[2021-03-24 00:02] abattery commented on #48023
For the BiasAdd op, you can rely on the solution https://www.tensorflow.org/lite/guide/ops_select.

Select TF operators won't be quantized and the only a subset of TFLite builtin operators only quantizable. That means that conv3d operator will be only executed with float32 tensors.

[2021-03-24 00:03] bhack commented on #47989
We are trying to simplify/unify Dockerfiles at https://github.com/tensorflow/build/pull/21
We are also trying to improve linting integration. See https://github.com/tensorflow/tensorflow/issues/41396

I the meantime I see:

which branch/commit are you on? Cause on master we are on `python 3.8` as https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/ci_sanity.sh#L126

[2021-03-24 00:55] terryheo commented on #48027
Interpreter can share data in flatbuffer file which contains constant tensors.
But each interpreter needs its own memory to store intermediate tensors. so it's natural to see a certain amount of memory increasement.

Regarding your testing, I have few comments.
1. Could you check /proc/self/statm shared pages?
According to https://www.kernel.org/doc/html/latest/filesystems/proc.html, VmRSS = RssAn

[2021-03-24 01:09] shaofengzeng opened #48031 "How does tf.nn.erosion2d work? its output seems unmatched with the formular shown in doc"
output[b, y, x, c] =
   min_{dy, dx} value[b,
                      strides[1] * y - rates[1] * dy,
                      strides[2] * x - rates[2] * dx,
                      c] -
                kernel[dy, dx, c]

[2021-03-24 01:55] goldkwang commented on #47854
thanks johanforslund

[2021-03-24 02:02] teijeong commented on #47983
can you provide difference between outputs of models regarding `converter.experimental_new_quantizer` flag? If it's only warning and the converted model works fine, then it would be fine.

Adding @MeghnaNatraj for more context

[2021-03-24 02:20] jeongukjae commented on #47985
@amahendrakar Thanks! I can see this issue is fixed in that link.

[2021-03-24 02:20] #47985 closed

[2021-03-24 02:37] CaptainDP opened #48032 "NotImplementedError: Conversion for TF op 'Bucketize' not implemented."
Error encountered while converting the TensorFlow model to CoreML model:
NotImplementedError: Conversion for TF op 'Bucketize' not implemented.

TensorFlow uses the following code for training:

numeric_column = tf. Feature_column. Numeric_column (col)
buket_col = tf. Feature_column. Bucketized_column (numeric_column, boundary_dict [col])
embedding_column = tf.feature_column. Embedding_column (buk

[2021-03-24 02:53] abattery commented on #48032
Could you ask a feature request for the CoreML converter instead? The missing support should be completed in the Core ML conversion side not in the TensorFlow project.

[2021-03-24 02:53] #48032 closed

[2021-03-24 03:02] isamilefchik commented on #46044
@fonnesbeck I couldn't figure out how to change the name of the wheel to make it work besides just renaming it to be version/machine agnostic. For example, I renamed my tensorflow 2.5.0 wheel to `tensorflow-2.5.0-py3-none-any.whl` and pip accepted it.

[2021-03-24 03:12] adriangb commented on #47989
Just in case, I tested on the master (as of today at f1497fc92) and got the same thing. In fact, here is the call to `python3.6`:
https://github.com/tensorflow/tensorflow/blob/f1497fc92ed09a2c2bd03c586c72019d4c97dca6/tensorflow/tools/ci_build/install/install_pip_packages.sh#L21

[2021-03-24 03:43] zhaoyun0071 opened #48033 "tf2.4.0 and 2.4.1 keras history.history is different from each epoch end"
i run the code on colab
the code is :[https://colab.research.google.com/github/tensorflow/docs-l10n/blob/master/site/zh-cn/guide/keras/train_and_evaluate.ipynb?hl=zh_CN#scrollTo=mGYBLPAR13g3](url)

**and below is epcoh end**

Fit model on training data
Epoch 1/2
782/782 [==============================] - 3s 3ms/step - loss: 0.5712 - sparse_categorical_accuracy: 0.8411 - val_loss: 0.2025 - val_spar

[2021-03-24 04:05] ideepankarsharma2003 opened #48034 "Installing tensorflow nightly"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- windows 10:
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happe

[2021-03-24 04:35] DavidWiesner commented on #46111
I have the same issue. @ymodak memory growth does not help. I still get an OOM with keras and tensorflow 2.4 while it was working with 2.3 and 2.2. The memory growth option should not help here. Correct me if I am wrong, but it's only enable / disable that tensorflow reserves all memory in front up vs. when needed.

[2021-03-24 04:45] teijeong commented on #47983
If you can also provide float version of the tflite model, it would help me looking into the issue.

[2021-03-24 05:12] shivani6320 commented on #15364
I tried all methods, but still cant solve this error. Please help me with this code:
from keras import optimizers
ada = keras.optimizers.Adadelta(learning_rate=1.0, rho=0.95)
model.compile(optimizer=ada,
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])
history = model.fit_generator(train_generator,
                              validation_data=validation_ge

[2021-03-24 05:16] amahendrakar commented on #48034
@ideepankarsharma2003,
Could you please check if you are facing the same issue with other Python packages like `numpy` and `pandas` as well?

Alternatively to install the TensorFlow package, you can download the `.whl` file for Windows 10 and Python 3.9 from [this link](https://pypi.org/project/tf-nightly/2.5.0.dev20210323/#files) and install it offline.

Thanks!

[2021-03-24 05:25] ideepankarsharma2003 commented on #48034
I don't have a GPU though , I think

[2021-03-24 05:26] ideepankarsharma2003 commented on #48034
Thanks I'll see if it works

[2021-03-24 05:39] Saduf2019 commented on #47906
@jason9075
I ran the gist shared on tf 2.3, tf 2.4 and nightly, please refer to [this gist](https://colab.research.google.com/gist/Saduf2019/4d8ef8dc33eb6dac577aed7edbca1032/untitled573.ipynb) and confirm.

[2021-03-24 05:53] Saduf2019 commented on #48013
@438-gm-24
Can you share more details for us to analyse, simple stand alone code to replicate the issue faced or a colab gist with the code and error.

[2021-03-24 05:56] arturdryomov commented on #48001
Seems like we’ve found the issue. The target SDK changes the behavior.

[code]
[code]
vs.
[code]
[code]

[2021-03-24 06:05] Saduf2019 commented on #47881
@kreouzisv
Please move this issue to closed status if resolved.

[2021-03-24 06:13] arturdryomov commented on #48001
FYI — I’ve created [an Android 12 issue](https://issuetracker.google.com/issues/183419289) for this, not sure if it will produce useful results though. Can I ask some internal Google folks to reach out to the internal platform team? Might be more productive.

[2021-03-24 06:27] amahendrakar commented on #48031
@shaofengzeng,
Could you please let us know the TensorFlow version you are using along with the output you got and the expected output, so that we can look into it. Thanks!

[2021-03-24 06:29] barabanus commented on #48018
@abattery Thank you for examining this issue. Unfortunately, using TF within our runtime environment is not possible. I fixed the issue by replacing `tensor[..., None]` with `tf.expand_dims(tensor, axis=-1)`.

Usually, `tensor[..., None]` works without a problem within both TF and TFLite. Before I tried to post this issue I failed to make a simple example for which `tensor[..., None]` would not co

[2021-03-24 06:33] abattery commented on #48018
Actually, FYI, @thaink is working on all the cases of TF strided slice op in TFLite op. Thanks for the suggestion. Closing since the problem has been resolved.

[2021-03-24 06:37] venuswu commented on #41363
@sanjoy,  May I ask what's the overhead beyond just calling the nvidia API in an OP ?

[2021-03-24 06:37] barabanus commented on #48022
@abattery Let me modify the example to show yout that it works fine:

[code]

We used this graph (with correct weights) successfully within our TF project until we migrated to TFLite.

[2021-03-24 06:41] barabanus commented on #48018
@abattery Could you please link this issue with the one @thaink works with? I'll double check the issue is fixed.

[2021-03-24 06:43] bgcgh commented on #47794
Hello Abhilash,

thank you very much again for looking into this issue. I hope the most relevant part of my code for a multiclass, multilabel temporal sequence problem is of some assistance to you:

import keras
from keras import layers

model=keras.models.Sequential()
model.add(layers.LSTM(512,input_shape=(len_seq,span),return_sequences=True))
model.add(layers.LSTM(512))
model.add(layers.Dense(sp

[2021-03-24 06:45] abattery commented on #48018
Closed because you fixed the issue by using the other pattern with expand_dims op. @thaink is working on delivering the improvement of TFLite strided slice op kernel, which hasn't been done yet.

[2021-03-24 07:01] Saduf2019 commented on #48016
@seanmor5
Please share a simple stand alone code such that we could reproduce the issue reported or a colab gist with the code an error for us to analyse.

[2021-03-24 07:04] Saduf2019 commented on #47959
I am able to replicate the issue on tf 2.3,2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/1e7bbddc6b2d34a06cf86ab326bee316/untitled567.ipynb)

[2021-03-24 07:09] Saduf2019 commented on #47915
@iLeW
We see that you have cuda 11.2 which is compatible with tf nightly 2.5, can you downgrade to cuda 11.0 and let us know.

[2021-03-24 07:19] barabanus commented on #48027
@terryheo

That's right, but the difference between models is datatype (`float32` vs `float16`), so it's counter-intuitive to see that `float32` version do share weights and `float16` does not.

The memory usage gives insights of what's going on with memory usage.

For `float32` we've got: 1, 139, 141, 144, 146 etc.
That means 137 MB of constant tensors in `float32` + 2 MB for intermediate tensors

[2021-03-24 07:30] barabanus commented on #48027
@terryheo
I decided to rebuild the example with `-DTFLITE_ENABLE_MMAP=ON` and now `MMAPAllocation::IsSupported() is true`, but result is the same:

[code]

[2021-03-24 07:32] zhjunqin commented on #37428
You can refer to https://stackoverflow.com/questions/35678883/tensorflow-getting-variable-by-name

[code]

[2021-03-24 07:47] ahmedhajyahmed commented on #48023
Thank you very much. Just one more thing, are there any methods that can be used to find out from a quantized (.tflite) file which operators are quantized and which operators are not? Also, is there any works in the community to quantize certain Select TF operators(specially conv3d)?

[2021-03-24 07:55] amahendrakar commented on #48017
@gg187on,
Please take a look at this [README.md](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/go/README.md) file with the installation instructions for TensorFlow in Go.

Also, please go through issues [#39744](https://github.com/tensorflow/tensorflow/issues/39744) and [#41808](https://github.com/tensorflow/tensorflow/issues/41808) with a similar error log and check if it helps.

[2021-03-24 07:55] arturdryomov commented on #48001
YAFYI — attached a sample project and described steps to reproduce in the Android issue mentioned above.

[2021-03-24 08:03] Sreosha commented on #15736
If you're getting this error in tensorflow==2.0.0, then do the following steps -

Step 1: Uninstall the keras by using '!python -m pip uninstall keras --yes'
Step 2: Reinstall keras by using 'pip install keras'
Step 3: Now, install tensorflow 2.0.0 by using 'pip install tensorflow==2.0.0'

This should work, without downgrading the tensorflow version. Thank You!

[2021-03-24 08:15] axeldavy commented on #48033
Hi, I have the same issue, and I reported it in this related bug report:
https://github.com/tensorflow/tensorflow/issues/46713

[2021-03-24 08:55] zhaoyun0071 commented on #48033
i think it may be not a bug，in 2.4.0， on epoch end 782/782  metrics is the 782th batch metrics。all train dataset metrics show in history.history
 2.3.2 and other low version on epoch end metrics is all train dataset metrics。

[2021-03-24 08:57] Taiyx opened #48036 "Is tensorflow Java interface support Mac M1 slices ? Problematic frame: C [libtensorflow_framework.2.dylib+0x14c15] tensorflow::monitoring::MetricDef"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-03-24 09:08] Saduf2019 commented on #48010
@vmishra2019
Please provide minimal code such that we can reproduce the issues, can you first try to upgrade to stable version 2.4 and let us know if you face the issue.

[2021-03-24 09:27] 438-gm-24 commented on #48013
WARNING:tensorflow:
The TensorFlow contrib module will not be included in TensorFlow 2.0.
For more information, please see:
  * https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md
  * https://github.com/tensorflow/addons
  * https://github.com/tensorflow/io (for I/O related ops)
If you depend on functionality not listed there, please file an issue.

WARNING:tensorfl

[2021-03-24 09:32] 438-gm-24 commented on #48013
I update the code like this
import tensorflow as tf

from . import cyclegan_datasets
from . import model

def _load_samples(csv_name, image_type):
    filename_queue =  tf.compat.v1.train.string_input_producer(
        [csv_name])

    reader = tf.compat.v1.TextLineReader()
    _, csv_filename = reader.read(filename_queue)

    record_defaults = [tf.constant([], dtype=tf.string),

[2021-03-24 09:33] #47881 closed

[2021-03-24 09:34] chenxinhua opened #48037 "How to use Allgather, Allreduce"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2021-03-24 09:37] #47264 closed

[2021-03-24 09:50] Saduf2019 commented on #48037
@chenxinhua

Kindly open a [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow) issue for this as it is not a bug or feature request, Please post this kind of support questions at Stackoverflow. There is a big community to support and learn from your questions.
Thanks!
You may refer to:
[link](https://github.com/horovod/horovod/issues/679), [link1](https://towardsdatascience.com/

[2021-03-24 10:10] rmothukuru commented on #48003
@Mouradost,
Inputs with different shapes can be passed to `model.fit` and `model.predict` of `Keras Models` using **`Ragged Tensors`**. Please refer [documentation of Ragged Tensor](https://www.tensorflow.org/guide/ragged_tensor?hl=en#keras) for more details. Thanks!

[2021-03-24 10:28] chenyanyin commented on #44224
hello, i have the same problem，do you have a solution？when i need eager execution enabled and must used tf.feature_column.shared_embeddings, i am very confused and I don't know how to do it.

[2021-03-24 10:39] WoutRuyters opened #48038 "Named dictionary outputs in tf.keras.Model do not work with defining seperate metrics per output"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: Yes
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux-4.9.0-4-amd64-x86_64-with-Ubuntu-18.04-bionic
-   **TensorFlow installed from (source or binary)**: Source
-   **TensorFlow version (use command below)**: 2.3.0 also tested in 2.4.1
-   **Pytho

[2021-03-24 10:41] abattery commented on #48023
As far as I know, there are no on-going works for conv3d quantization for now from the community. If you can open your model in the netron, you can see there are some float ops that are always placed in between quantize and dequantize ops.

[2021-03-24 10:44] bhack commented on #47989
Ok so it is in the image building phase. Yes this need to be fixed cause the image was still on python 3.5.

As an additional note `tensorflow/tools/ci_build/ci_sanity.sh` currently couldn't run also in our official devel image `tensorflow/tensorflow:devel`

[2021-03-24 10:45] bhack commented on #47989
/cc @theadactyl

[2021-03-24 10:51] NoelKennedy commented on #47479
saving models in H5 format seems to work for me.

`model.save(filepath, save_format="h5")`

[2021-03-24 10:51] DachuanZhao commented on #42552
Hi , there are two issues about KPL :
[https://github.com/tensorflow/tensorflow/issues/44005](https://github.com/tensorflow/tensorflow/issues/44005)
[https://github.com/tensorflow/tensorboard/issues/4530](https://github.com/tensorflow/tensorboard/issues/4530)
Do you know anyone who may solve them ?  Could you please @  them in the issues ?

[2021-03-24 11:17] zwang1995 opened #48039 "Expression issue of BatchNormalization layer"
A issue about the expression in the BatchNormalization layer.

## URL(s) with the issue:
https://keras.io/api/layers/normalization_layers/batch_normalization/

## Description of issue (what needs changing):
In the provided URL, during inference, this layer returns:
(batch - self.moving_mean) / (self.moving_var + epsilon) * gamma + beta.

But, I think a square operation is missing. It should return

[2021-03-24 11:31] seanmor5 commented on #48016
Hi @Saduf2019 thank you for your response. Here is a [gist](https://gist.github.com/seanmor5/ecbb996e0498ccd4ad8bc09bce2828e1); however, it requires installing Elixir and Erlang/OTP as well as building our XLA Client from source. I can try to make this process a little easier by providing a Dockerfile. I was hoping the HLO Dumps might have been useful here to reproduce the compilation SegFault. Pl

[2021-03-24 11:31] ZoeZhang91 opened #48040 "win10 build tensorflow2.4.1,ERROR: C:/tensorflow/tensorflow/python/util/BUILD:609:27: C++ compilation of rule '//tensorflow/python/util:fast_module_type.so' failed (Exit 2): python.exe failed: error executing command"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows10
- Mobile device (e.g

[2021-03-24 11:34] ZoeZhang91 commented on #48040
I've upgrade win10 SDK to 10.0.19041.0, but still with error.
Really need some help!

[2021-03-24 11:37] #47672 closed

[2021-03-24 11:50] rmothukuru commented on #29896
@llandryll,

Sorry for the delayed response. I could execute the [official notebook](https://colab.research.google.com/github/tensorflow/tpu/blob/master/tools/colab/fashion_mnist.ipynb), you mentioned successfully even after `recompiling` and `fitting for the second time`.

Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/5d7d011b9775c168aa82464bdf885fba/keras-fashion-mnist

[2021-03-24 11:56] innat commented on #47955
Additionally, this is the kaggle CPU spec: `Xeon Processors @2.3Ghz, 46MB Cache. The same code runs on here but not on windows pc with `Intel Core i5, @3.3GHz, 6MB Cache`. What do I need to look at here?

[2021-03-24 12:00] ahmedhajyahmed commented on #48023
Thanks, my goal is to test the quantization of a model that contains conv3d layers on google coral usb edge tpu (knowing that this hardware only run int8 ops). Is this possible?

[2021-03-24 12:15] DeepBlender commented on #46661
@mdanatg looks like you are on the right track, at least on my setup.

I tried the Keras code from here (had to lower the number of iterations to 1000 to get results):
https://github.com/tensorflow/tensorflow/issues/46661#issuecomment-797801964
![Keras](https://user-images.githubusercontent.com/35486837/112306805-7e816f80-8ca0-11eb-991e-7439a6db91c0.png)

Your example gave this result (I increased

[2021-03-24 12:18] abattery commented on #48023
@thaink could you share the status of hardware acceleration support for conv3d op?

[2021-03-24 12:30] amahendrakar commented on #48038
@WoutRuyters,
On running the code, I am facing an error stating `NameError: name 'IM_WIDTH' is not defined`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/99151bef74c69eb29c330212a5e63113/48038.ipynb).

In order to expedite the trouble-shooting process, could you please provide a minimal code snippet to reproduce the issue reported here and also the dataset

[2021-03-24 12:39] WoutRuyters commented on #48038
The dataset I am using can be found on [this google drive](https://drive.google.com/drive/folders/0BxYys69jI14kU0I1YUQyY1ZDRUE) and is calledUTKface.tar.gz, you will have to unzip this first

the full code to run everything is as follows:
[code]

to parse the dataset:
[code]

to generate data:
[code]

to build the model:
[code]

to compile the model:
[code]

to train the model:
[code]

[2021-03-24 12:39] adriangb commented on #47989
Until this is resolved, is there any way for contributors to run tests?

[2021-03-24 12:48] amahendrakar commented on #47798
@krishdb38,
Is this still an issue? Please feel free to close the issue if resolved. Thanks!

[2021-03-24 12:48] nukes commented on #29005
Looking forward...

[2021-03-24 12:55] amahendrakar commented on #47759
@Arghya999,
Looks like the issue is fixed, the version numbers have been updated in the guide.

Could you please confirm if we can close this issue. Thanks!

[2021-03-24 13:05] gcuder commented on #34269
Any update on this?

[2021-03-24 13:07] scarrazza opened #48041 "Failed to create cuSolverDN instance on GPU with 4GB"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8.5
- CUDA/cuDNN version: 11.0 / 8.0.4.30-1+cuda11.0
- GPU model and memory: RTX

[2021-03-24 13:09] amahendrakar commented on #47971
@rmothukuru,
I did not face any issues while running the code on a **Linux machine** with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.sandbox.google.com/gist/amahendrakar/c3fd3719669e2ac558c3432205aab8df/47971.ipynb). Thanks!

[2021-03-24 13:12] abattery commented on #48023
The answer is no since TFLite quantizer won't place 8bit conv3d op. There is no 8bit tensor support from the builtin op.
Thanks for the feature request. We will consider this as a feature request for 8bit tensor support for conv3d op.

[2021-03-24 13:37] #47682 closed

[2021-03-24 13:48] WeiHao97 opened #48043 "Accuracy of resnet50/vgg16 after tfmot.quantization.keras.quantize_model is really low"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-03-24 13:53] Arghya999 commented on #47759
Confirm the fix.Thanks.

[2021-03-24 13:53] #47759 closed

[2021-03-24 13:54] amahendrakar commented on #47797
@redmlr,
On running the given code snippet, I am facing an error stating `NameError: name 'load_json_into_lists' is not defined`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/73105eb918071d531804c2b0275d1f0b/47797.ipynb).

Could you please share a minimal code snippet so that we can reproduce the issue on our end? Alternatively, you can also run the code on

[2021-03-24 13:58] amahendrakar commented on #47908
@Rababalkhalifa,
Could you please share the Colab notebook with us, so that we can look into this? Thanks!

[2021-03-24 14:06] ahmedhajyahmed commented on #48023
Thank you @abattery

[2021-03-24 14:25] amahendrakar commented on #47890
@MaudDestree,
Please follow [this guide](https://www.tensorflow.org/install/pip#1.-install-the-python-development-environment-on-your-system) to create a new virtual environment and install TensorFlow in it. Thanks!

[2021-03-24 14:36] mattia- commented on #47971
@rmothukuru,
Just to confirm that this looks like a Windows-only problem. I did not face any issues running my script on Linux either (and neither on Mac or on WSL, for that matter). Thanks!

[2021-03-24 14:51] juliangilbey commented on #47245
Can I say "me too", in case it helps you with debugging this?  Here's the result of running the two-line script above:

[code]

I have also just built TensorFlow from source (see [my blog post](https://blog.d-and-j.net/deep-learning/2021/03/24/tensorflow-debian-11.html) if you want to see the details of how I did that).

Interestingly, the result of running `grep . /sys/bus/pci/devices/0000\:*/num

[2021-03-24 14:55] Saduf2019 commented on #48040
@ZoeZhang91
Can you please check your pip version and numpy version, refer to this [comment here](https://github.com/tensorflow/tensorflow/issues/41061#issuecomment-656017717) and verify your [system requirements](47824)

[2021-03-24 14:56] anywhere133 opened #48044 "[Tensorflow Lite] GPU delegate problem, SSD-mobilenetV2 converted from object detection API"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: i used object detection demo app, some change for gpu delegate
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 64 bit
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**: emulator : Google

[2021-03-24 14:59] juliangilbey commented on #47245
One additional piece of information: if I run `echo 0 >> /sys/bus/pci/devices/0000\:41\:00.0/numa_node` (which is the GPU device) and then run the above script, the warning disappears:

[code]

[2021-03-24 14:59] Yu-Hang commented on #48025
So I will need to explicitly define SignatureDefs for the model first? How do I do that?

[code]
You mean I can use this code to get the signature that was pre-defined in the model? Sorry I'm really confused.

@abattery @amahendrakar

[2021-03-24 15:00] yongtang commented on #47628
@karrdy89 sorry for the delayed response as the GitHub notification slipped through. I will take a look.

[2021-03-24 15:01] threebrooks commented on #47269
One more follow-up comment:
For git SHA acbc065f8eb2ed05c7ab5c42b5c5bd6abdd2f91f,
adding a

`exit(-1);`

at line 243 in tensorflow/compiler/mlir/lite/transforms/prepare_composite_functions_tf.cc does **NOT** break any of the bazel tests from what I can tell (I ran` //tensorflow/lite:all` and `//tensorflow/python:all`). It does not look this code path ever gets executed.

[2021-03-24 15:03] yongtang commented on #47628
@karrdy89 I will move this issue to https://github.com/tensorflow/io as I think this is more relevant.

[2021-03-24 15:08] seanmor5 commented on #48016
Just to provide some (hopefully) more helpful information. I ran everything through valgrind:

[code]

Additionally, the segmentation fault no longer occurs when running with `XLA_FLAGS=--xla_backend_optimization_level=1`. The segmentation fault always occurs after a call to `createMemoryPhi` in LLVM.

[2021-03-24 15:12] amahendrakar commented on #47883
@vishalyadav93,
I did not find any matches for the keyword `torrent` in the TensorFlow source code. Looks like the `getObjectTorrentRequest.h` file is part of the AWS SDK.

In this case, could you please get in touch with the administrator of your machine to get the url / file whitelisted. Thanks!

[2021-03-24 15:18] FSet89 commented on #48007
I just tried but the graph_rewrite option seems not to work on TF2, so I cannot test quantization-aware training on TF2

[2021-03-24 15:56] gg187on commented on #48017
Tried steps from README.md and got error:

[code]

[2021-03-24 16:13] Zakria96 opened #48046 "issue: tflite size same as frozen_inference graph and not working on android app."
### 1. System information

- OS Platform and Distribution =linux
- TensorFlow installation : TF 2.4.1

### 2. Code

import tensorflow as tf
import os

os.environ['TF_XLA_FLAGS'] = '--tf_xla_enable_xla_devices'

converter = tf.compat.v1.lite.TFLiteConverter.from_frozen_graph("frozen_inference_graph.pb", ["image_tensor"], ["detection_classes", "detection_scores", "detection_boxes", "num_detections"]

[2021-03-24 16:17] mofanv opened #48047 "only two nodes in graph - TFLite C++"
Hi Team,

I'm using TF lite C++ working with coral edge TPU. I want to output intermediate results of the graph, so I use `lldb` debugger to examine the `interpreter.cc` and `subgraph.cc` file during `Invoke()`.

Although I'm running a model `mobilenet_v1_1.0_224_quant_edgetpu.tflite`, the command `primary_subgraph().nodes_size()` only gives a value of 2, meaning that there are only two nodes in t

[2021-03-24 16:19] mihaimaruseac commented on #48009
S3 filesystem is moving to SIG IO, as a plugin.

[2021-03-24 16:23] liufengdb commented on #47983
I couldn't find the corresponding ops in the tflite file for the two "tf.cast" operations. Could you find them in when you were reproducing that?

[2021-03-24 16:24] mihaimaruseac commented on #48034
It looks like a timeout issue.

Can you try `pip install tf-nightly-cpu`?

[2021-03-24 16:47] jvishnuvardhan commented on #47959
@Michal-Kolomanski I have looked at your code. There is a mix of graph mode and eager mode (and by default TF2.x is eager). Error is mainly due to mix of both modes. We don't support debugging of long code. I think this is more suited for Stackoveflow as there is a larger community who support this kind of questions.

GitHub is mainly for bugs and performance related issues. Thanks!

[2021-03-24 16:53] Michal-Kolomanski commented on #47959
Now I am 100% sure that the issue is due to using a newer version of TF. Thank you for the response.

[2021-03-24 16:53] #47959 closed

[2021-03-24 17:16] advancedwebdeveloper commented on #720
Any progress for Ubuntu 20.04?

[2021-03-24 17:41] pedro-r-marques commented on #45797
Fixed by https://github.com/tensorflow/tensorflow/commit/b68d87647ca12d585b4daaa597a450bf83bc3ea4

[2021-03-24 17:41] #45797 closed

[2021-03-24 17:52] reedwm commented on #29005
Closing, as this was fixed in 7b8db6083b34520688dbc71f341f7aeaf156bf17.

[2021-03-24 17:52] #29005 closed

[2021-03-24 18:56] hoangmt commented on #46821
I had the same issue. It dues to a version conflict between cuda and tensorRT, especially for my case, I use docker, it becomes more complicated to know the problem and to fix. I use latest tensorRT docker and update gpu driver of my pc to be the same as the one inside docker, the problem is solved.

[2021-03-24 19:20] jvishnuvardhan commented on #48019
@BlueskyFR Steps in the above example are estimated as (number of samples in your dataset / the batch size). In this example `number of samples` are 2936 and `batch_size` is 32. so ceil(2936/32) = 92.

`tf.keras.preprocessing.image_dataset_from_directory` returns a dataset object

As it is not a `dataset` iterator that was set to be repeated indefinitely, the number of steps can be estimated.

Ple

[2021-03-24 19:43] redmlr commented on #47797
@amahendrakar,
So, just for testing reasons, I'd recommend to grab some (2-4) .wav audio clips and labels (can be just one sentence). You don't need the function the code is missing in your comment, try out my notebook: https://colab.research.google.com/drive/1hVm4fyty92G9YFfQ0TMjIKs0QOouZ8lb?usp=sharing
I never worked in colab before, but you have to do 3 things:
1. Do what was in my first senten

[2021-03-24 19:58] ymodak commented on #47722
This is due to random values for `kernel_initializer` in [MultiHeadAttentionLayer](https://www.tensorflow.org/api_docs/python/tf/keras/layers/MultiHeadAttention)
Setting seed for `kernel_initializer= tk.initializers.glorot_uniform(seed=0)` can help to load same weights in your case.
Refer [gist](https://colab.research.google.com/gist/ymodak/ed3d8d9e171a5fbf7a313d29cd20cdd7/47722.ipynb)

[2021-03-24 19:59] kushanam commented on #47871
Seems like the Cuda version of the colab you are running on is 11.0:
!cat /usr/local/cuda/version.txt
CUDA Version 11.0.228

for that, please install cupy 11 rather:
`!pip install cupy-cuda110`

[2021-03-24 20:06] tomerk commented on #47882
We'll look at improving the documentation around this.
In the meantime some quick notes:

`padding` gets passed to tf.nn.convolution, and you can see some formulas here (though not sure what formulas you are vs. aren't looking for).:

https://www.tensorflow.org/api_docs/python/tf/nn/convolution

With `valid`, the input is not padded and you just do the convolution.
With explicit paddings (e.g. htt

[2021-03-24 20:06] jlapin1 commented on #47548
Thank you mdanatg. That should fix my issue because 1e-8 was an arbitrary choice, 1e-7 should be sufficiently small as well.

[2021-03-24 20:21] #48046 closed

[2021-03-24 20:26] andrewor14 commented on #31252
For those who are still stuck on this error, I was able to get rid of it by making sure every worker has the same set of callbacks. In my case, I only added the `ModelCheckpoint` callback in the first worker, e.g.
[code]
This caused the `RecvBufResponse` error in TF 2.2.0, and cause hanging in TF 2.4.0. Removing the `is_master` check solved the problem for me. IMO this should be better documented,

[2021-03-24 20:31] shariq-audiofocus commented on #14384
In case anyone else needs help with this - My solution was to use `shape=(1,)`. Equivalently, I think, you could do `batch_shape=(batch_size,1)`

[2021-03-24 20:33] abattery commented on #48044
@impjdi could you take a look?

[2021-03-24 21:04] abattery commented on #48025
To utilize signature def concept, the model should be exported as a TF saved model and the signature def information can be defined while exporting.

Please refer to https://www.tensorflow.org/guide/saved_model.

[2021-03-24 21:42] Yu-Hang commented on #47933
@k-w-w Hello, are you investigating this issue?

[2021-03-24 21:43] cbcafiero opened #48057 "Crash when using tf.nn.local_response_normalization across multiple GPUs"
Model using `tf.nn.local_response_normalization` trains OK but crashes upon evaluation when parallelizing over multiple GPUs. Same model does not crash when running on a single GPU.

Replacing `tf.nn.local_response_normalization` with `keras.layers.BatchNormalization` model trains OK and evaluates OK on single or multiple GPUs. So it seems to me the problem is with `tf.nn.local_response_normalizat

[2021-03-24 21:52] bplevin36 opened #48058 "Resource lookup errors when using shared libraries"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): bug occurs with both
- TensorFlow version (use co

[2021-03-24 21:54] impjdi commented on #48044
never knew we support `PACK`.  the reason why it failed is stated:

IIRC we don't support 5D tensors in OpenGL.  We might support 5D tensors in OpenCL for some operations.

[2021-03-24 22:45] BlueskyFR commented on #48019
@jvishnuvardhan thanks for your answer: I might have missunderstood the documentation on some points but it is not very clear in my opinion: with a `tf.data.Dataset`, should the total number of steps be displayed by `.fit()`.

In my code, `model.fit()` displays `X/Unknown` (with X being the current step), and I am trying to know why.
When I call `len(ds)` on my Dataset object, it only works if `ds

[2021-03-24 22:47] dariobig commented on #45785
We've just stumbled on this issue with TF 2.4.1. It seems that TF 2.4.1 still depends on 1.32.0: https://github.com/tensorflow/tensorflow/blob/v2.4.1/tensorflow/tools/pip_package/setup.py#L121

[2021-03-24 22:51] srjoglekar246 commented on #47973
There are two issues here:

1. The model's input size, and consequently the internal tensors, are too large for existing mobile applications.
2. Acceleration (by GPU) isn't working because the input has dynamic batch size. Usually you can set a static batch size by providing `batch_size` to [keras.input]

So I would suggest, if possible, making the model *smaller* and *simpler*, hopefully with sta

[2021-03-24 22:53] #48047 closed

[2021-03-24 23:05] mofanv opened #48059 "incorrect number of nodes in graph - TFLite C++"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.5
- TensorFlow installed from (source or binary): Source. Using Bazel and with [libcoral C++](https://github.com/google-coral/libcoral)
- Tensorflow version (commit SHA if source): installed from Bazel
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Coral edge TP

[2021-03-24 23:07] EnderWiggin14 commented on #47882
@tomerk I am indeed looking for the equations to calculate the total amount of padding used with parameter `same` as well as how Tensorflow splits the front and back padding.

Unfortunately, the link you have provided does not answer my questions; however, I believe I will need that information eventually, so I thank you for it.

[2021-03-24 23:48] amitpandey2194 commented on #24135
yes this solved it same problem I had

[2021-03-24 23:53] anywhere133 commented on #48044
thank you for answering,
so I can change OpenGL to OpenCL manually?

[2021-03-25 00:01] rrklearn2020 opened #48062 "Tensorflow probability +tensorflow 2.4 and tf.distribute.MirroredStrategy() | error: Not JSON Serializable:', MirroredVariable"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 18.04
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below): v2.4.0-49-g85c8b2a817f 2.4.1
- Python version: 3.6.9
- CUDA/cuDNN version: 11.0 ( Cuda compilation tools, rele

[2021-03-25 00:06] abattery commented on #48043
@fredrec could you take a look?

[2021-03-25 00:11] #48062 closed

[2021-03-25 00:11] rrklearn2020 commented on #48062
.

[2021-03-25 00:17] abattery commented on #48059
It might be an intended behavior since operators, that are delegated to Coral Edge TPU, will be replaced into few partitions. Each partition consumes only one node.

[2021-03-25 00:53] thaink commented on #48018
I think it is fair to keep this bug opened. My PR for supporting ellipsis_mask and new_axis_mask is almost complete. I'll send it shortly.

[2021-03-25 00:55] thaink commented on #48023
@ahmedhajyahmed Current Conv3d implementation only support float type, no quantization supported yet.
About hardware acceleration, I think it does support ege tpu.

[2021-03-25 00:59] shaofengzeng commented on #48031
Thank you for reply.
For example, if we input an matrix image,
`image = [[1 1 1 1 1]
                [1 1 1 1 1]
                [0 1 1 1 1]
                [0 1 1 1 1]
                [0 0 1 1 1]]`
and set kernel
`kernel=[[1. 0.]
             [1. 1.]]`
we applied the erosion operation as follows,
`output = tf.nn.erosion2d(tf.to_float(tf.constant(image[np.newaxis,:,:,np.newaxis])),

[2021-03-25 01:26] ZoeZhang91 commented on #48040
Yes, my pip version is 20.2.1, numpy version is 1.20.1, python 3.8.6 is also 64bit.
After the command: bazel clean, I rebuild the source, and here's another error :

ERROR: C:/tensorflow/tensorflow/python/util/BUILD:329:27: C++ compilation of rule '//tensorflow/python/util:_tf_stack.so' failed (Exit 2): python.exe failed: error executing command

and the error LOG seems like as above.

[2021-03-25 01:37] #46230 closed

[2021-03-25 01:44] dogacbasaran opened #48064 "Build failure: Undefined symbol error."
**System information**
- Linux Ubuntu 18.04:
- TensorFlow installed from source from the main
- TensorFlow version: 2.3, 2.4, 2.5
- Python version: 3.6
- Installed using virtualenv? pip? conda?:
- Bazel version: 3.7.2 (installed using bazelisk release)
- GCC/Compiler version: gcc (Ubuntu 5.4.0-6ubuntu1~16.04.12) 5.4.0 20160609

**Describe the problem**
I'm trying to build a CPU optimized Tensorflo

[2021-03-25 02:11] ymodak commented on #46645
Can you try setting `seed` for the `kernel_initializer` in all the `tf.keras.layers` used in your model?
See similar [issue](https://github.com/tensorflow/tensorflow/issues/47722#issuecomment-806146182) to know more.

[2021-03-25 02:37] #30469 closed

[2021-03-25 03:01] jason9075 commented on #47906
Hi, @Saduf2019

In your gist, the tf2.4 the val_loss remain at 2.4462 and val_accuracy remain at 0.0984 after epoch 6 just show that the model is not learning.
And tf 2.3 and nightly is also remain at same val_loss and val_accuracy.
I expect my model start learning after epoch 6 but is not.

[2021-03-25 03:20] jvishnuvardhan commented on #48019
@BlueskyFR The code in the tutorial was not printing `X/unknown`. Are you talking about your code? Can you please share a standalone code to reproduce the issue?

In some other cases where data generator is used, that code will output `X/unknown` as dataset generator doesn't know how many batches are there in the data until it completes one full epoch.

[This response](https://github.com/tensorflo

[2021-03-25 03:41] AndyTsangChun commented on #47311
Encountering same issue here, I tried with to replace all numpy component to tf in my custom loss function. Still having same error.

Tried disable_eager_execution() as well, but encounter another Keras backend with numpy issue when init random weight in some layer, which this issue doesn't appear previously.

FYI, I was actually trying to upgrade my project from TF1 to TF2, that weight initialize

[2021-03-25 03:44] jvishnuvardhan commented on #48019
@BlueskyFR [This](https://github.com/tensorflow/tensorflow/issues/36321) might help you. Thanks!

[2021-03-25 04:28] abattery commented on #48023
Even though edge tpu supports conv3d op quantization, the TFLite quantizer won't replace float conv3d op with quantized conv3d op since there is no quantized CPU kernel for conv3d op.

[2021-03-25 05:32] sanjoy commented on #47245
@tmladek are you able to run TF under GDB?  If yes, can you please attach the stack trace at the point TF crashes?

[2021-03-25 05:37] sanjoy commented on #41363
If you're running with a small batch size then the graphs could be coming from the host not being able to keep up with the GPU due to overhead from the framework.  However, it is difficult to say without detailed analysis.

What happens when you increase the batch size?

[2021-03-25 06:17] krishdb38 commented on #44936
RTX 3070
showing error while running CN algorithms

[2021-03-25 06:28] Cnotey commented on #47522
@ymodak   Thanks for keeping this one going.  Still seems like a bug to me rather than a support request.  I'm here to answer any further questions about the issue.

[2021-03-25 07:59] Kewenjing1020 opened #48066 "Evaluate mobilenet v3 keras model performance on ImageNet"
Hi, I've tested the keras mobilenetv3_large_1.0 model accuracy, the model is created by calling the official API and using the official h5 model:
`model = tf.keras.applications.MobileNetV3Large(alpha=1.0, minimalistic=False, weights='imagenet')`

I do the following preprocess on ImageNet:
[code]
Finally, I call model.evaluate() to do evaluation. But I can only get the accuracy:

which is 3% less t

[2021-03-25 08:04] anandece4u opened #48067 "Tensorflow 2.0: where is tensorflow.contrib.layers.apply_regularization and tensorflow.contrib.layers.l2_regularizer?"
<from tensorflow.contrib.layers import apply_regularization, l2_regularizer>
I am trying to run the example of VAE which uses above code. Need help how to update this for latest tensorflow version.

below is snippet of code where it is getting used

<def build_graph(self):

        self.construct_weights()

        saver, logits = self.forward_pass()
        log_softmax_var = tf.nn.log_softmax(log

[2021-03-25 08:09] herbiezhao opened #48068 "how to reduce libtensorflowlite.so size"
**System information**
- OS Platform and Distribution (Linux Ubuntu 18.04):
- TensorFlow (source)
- TensorFlow version (master)
- Bazel version (3.7.2):
- ndk (r21)
- android sdk(android-30)

**Describe the problem**
when I use bazel to build libtensorflowlite.so, I got library size about 3.0M
when I use bazel to build tensorflow-lite.aar, I got aar size about 1.1M
question: How to reduce libtenso

[2021-03-25 08:18] julng opened #48069 "Slow startup and model loading time"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution: Linux Ubuntu 18.04, 5.4.0-66-generic
- Device: MPG B550I GAMING EDGE MAX WIFI (MS-7C92). AMD Ryzen 9 5950X 16-Core Processor
- TensorFlow installed from (source or binary): binary
- TensorFlow version: v2.1.0-rc2-17-ge5bf8de 2.1.0
- Python vers

[2021-03-25 08:21] cverginis commented on #35586
@santiagopardal  I am having the same issue. Could you elaborate a bit more on how you use the session to solve it? (Attaching the modified code would help). Thanks.

[2021-03-25 08:33] #46680 closed

[2021-03-25 08:45] Ribe12 commented on #37505
This is the only thing that worked for me. I was experincing a memory leak each epoch during the validation phase with a data generator (it didn't happened if I didn't validate). Apparently the fit() function doesn't handle well the data generator for validation when using multiprocessing.

Spent weeks trying to solve it, tried with gc.collect(), K.clear_session(), among other; but no luck. By wra

[2021-03-25 09:00] Ribe12 commented on #38581
I was having this issue in tf 2.3.0 and 2.3.2. This solved it https://github.com/tensorflow/tensorflow/issues/37505#issuecomment-806472122

[2021-03-25 09:07] jadevaibhav commented on #39982
I believe this issue persists in other loss functions as well. This is more of fundamental question: as per mixed precision, all computations are done in Float16, does that also include the loss calculations? Or only the forward and backward pass computations?

[2021-03-25 09:11] abattery commented on #48068
Please refer to https://www.tensorflow.org/lite/guide/reduce_binary_size. You can reduce your TFLite binary based on selective building. Basically, selective building will include the necessary operators for your models.

[2021-03-25 09:26] Saduf2019 commented on #48067
@anandece4u
Kindly open a [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow) issue for this as it is not a bug or feature request, Please post this kind of support questions at Stackoverflow. There is a big community to support and learn from your questions.
Thanks!

[2021-03-25 10:02] DamRsn commented on #37045
I'm also experiencing this issue.
I'm training a keras model with `model.fit` and `steps_per_epoch` argument set to a way lower value than the actual size of the dataset, and the dataset gets shuffled at each model epoch (while `reshuffle_each_iteration = False`). I can see that because when I'm using a large shuffle buffer size, a message is printed in the terminal stating that the buffer is curr

[2021-03-25 10:16] ryandesign commented on #42066
The MacPorts project has been suffering from this problem for a long time: https://trac.macports.org/ticket/58932

That would be an absolutely batshit crazy requirement.

[2021-03-25 10:19] frgfm commented on #46922
Any update @teijeong ? :pray:

[2021-03-25 10:26] bhack commented on #42066
Have you explored all the solutions in https://docs.bazel.build/versions/master/memory-saving-mode.html?

[2021-03-25 10:41] ryandesign commented on #42066
I'll suggest that to our maintainer of tensorflow. However it is not, as that page says, that we "may want Bazel to use minimal memory". I would be delighted for Bazel to use all of the available memory, but currently it uses much more than the available memory, and I am guessing that the swapping that this incurs is what is slowing down our builds. Don't you think that using almost all of the ava

[2021-03-25 10:45] gdavid57 opened #48070 "3D Non Max Suppression"
**System information**

- TensorFlow version (you are using): 2.0.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

- Tensorflow incorporates a native Non Max Suppression algorithm for 2D bounding boxes.

**Will this change the current api? How?**

- The feature would add a Non Max Suppression algorithm to TF for 3D bounding boxes on the

[2021-03-25 10:49] #47753 closed

[2021-03-25 11:00] bhack commented on #42066
In that case we are more in bazel domain and It is repo than in TF.
You need to check also Bazel scheduler performance for the parallel build. See https://docs.bazel.build/versions/master/user-manual.html#flag--jobs

[2021-03-25 11:02] #33923 closed

[2021-03-25 11:04] bhack commented on #42066
See also https://jmmv.dev/2019/12/bazel-local-resources.html for extra details.

[2021-03-25 11:08] ryandesign commented on #42066
I know how `--jobs` works and I read the other document before I found this bug report. Nobody wants to set twelve flags to unknown magic values to get the build system to do what it should do by default.

[2021-03-25 11:17] bhack commented on #42066
It could be ok but I don't think we could solve this here. Probably you need to open a bazel ISSUE or comment on an exsisting one in its repo if you want to improve bazel herustics.

[2021-03-25 11:22] Adhithya-tech opened #48071 "Resize coordinate_transformation_mode=pytorch_half_pixel is not supported in Tensorflow"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-03-25 11:23] Adhithya-tech commented on #48071
@tensorflowbutler Nice

[2021-03-25 11:24] Adhithya-tech opened #48072 "Resize coordinate_transformation_mode=pytorch_half_pixel is not supported in Tensorflow"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):2.2
- Are you willing to contribute it (Yes/No):Wish I was

[2021-03-25 11:34] pranavpsv commented on #48009
@mihaimaruseac Crossposted this issue on tensorflow/io repository

[2021-03-25 11:36] ocaff1 opened #48073 "No code size difference between MicroInterpreter and AllOpsResolver"
@tensorflow/micro
Hi,

I do not see any code size reduction while using microInterpreter with a selection of usefull operators versus the full ops list.
For a quite simple network the code size for TFlite runtime is 160KBytes. Which is quite huge compared to what it claims (16KB for CM3!).
Can you explain this behavior?
Thank you,
OC

**System information**
- Host OS Platform and Distribution (e.g

[2021-03-25 12:39] bplevin36 commented on #48058
I was able to hack my way around this by taking the fix in `tensorflow/core/framework/type_index.h` that was done for MacOS and removing the `#ifdef` guard (enabling it on all platforms), then rebuilding the library with `bazel build --config=opt --cxxopt=-D_GLIBCXX_USE_CXX11_ABI=0 tensorflow:libtensorflow.so`.  But this kind of hack really shouldn't be necessary.

[2021-03-25 13:08] janoslim opened #48074 "Pow layer is not available when fallback quantized conversion to tflite"
I used tfliteConverter to convert DPED network to tflite and it has the Pow layer inside.
When I tried tflite quantization conversion with default optimization with fallback,
pow layer is not available to run because the input of Pow layer is dequantized but the parameter of pow layer is not dequantized and tflite return error about the two of them have different data type (float != uint).
Thank y

[2021-03-25 13:10] dizcza commented on #44790
I got the same issue with a similar model with the latest TF 2.4.1
[code]
Then I followed the [official guideline](https://www.tensorflow.org/lite/convert/#convert_a_savedmodel_recommended_) on how to convert a SavedModel.

[2021-03-25 13:41] abattery commented on #48074
@fredrec could you take a look?

[2021-03-25 13:49] Sicily-F commented on #46093
Can I ask how you downgraded? I'm using Tensorflow-gpu on a Linux Tesla server at my university which comes with NVIDIA Driver Version: 460.27.04    CUDA Version: 11.2. I'm guessing I'm going to have to downgrade to CUDA 11.0 locally - any suggestions on how to do this? I'm more familiar with using Tensorflow on Windows so would appreciate any advice

[2021-03-25 14:02] dwincort commented on #47680
Thanks for the info!

[2021-03-25 14:02] #47680 closed

[2021-03-25 14:02] amahendrakar commented on #48041
@scarrazza,
I was able to run the code on Google Colab without any issues, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/3c77d7241788a2ad7753b3015386abc7/48041.ipynb).

By default, TensorFlow maps nearly all of the GPU memory of all GPUs (subject to CUDA_VISIBLE_DEVICES) visible to the process. You can read more about it [here](https://www.tensorflow.org/gui

[2021-03-25 14:03] #37791 closed

[2021-03-25 14:12] herbiezhao commented on #48068
I don’t need the aar package. I need a library that can be inferred in C++. Is this method suitable for generating C++ library? And how to make selective building， are there executable scripts or input parameters that can be set?

[2021-03-25 14:13] amahendrakar commented on #48058
@bplevin36,
TensorFlow v2.3 is not compatible with Python 3.10. Please take a look at the [tested build configurations](https://www.tensorflow.org/install/source#cpu) for more information.

Version | Python version | Compiler | Build tools
-- | -- | -- | --
tensorflow-2.4.0 | 3.6-3.8 | GCC 7.3.1 | Bazel 3.1.0
tensorflow-2.3.0 | 3.5-3.8 | GCC 7.3.1 | Bazel 3.1.0
tensorflow-2.2.0 | 3.5-3.8 | GCC 7.3

[2021-03-25 14:40] moldach opened #48075 "pip install tensorflow==1.15 with Python 2.7 issue"
**System information**

 On `CentOS Linux 7 (Core)` I'm trying to install `tensorflow==1.15` in a Python `2.7.3` venv (in order to run [this repo](https://github.com/ShafeenTejani/fast-style-transfer)).

 However, I get the error that there is `No matching distribution found for tensorflow==1.15`?

[code]

## `$ pip freeze`

[code]

[2021-03-25 14:46] mjohenneken commented on #43608
I ran into the same issue on Windows 10 with tf 2.3.0

[2021-03-25 14:50] napoleonwar commented on #48073
I have a smiliar problem. I want to implement it to arm, so I am using ARM compiler. When I tried to compile the helloworld example from tflite micro, it gives me a hex file for over 300KB...

[2021-03-25 14:54] Sunkian opened #48076 "Tensorflow / TensorFlow Lite issue when compiling"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS, Big Sur, version 11.2.

[2021-03-25 15:06] scarrazza commented on #48041
@amahendrakar thanks for testing.

However the GPUs on colab have 15gb of memory (they are usually T4). The issue I report is reproducible with low specs cards such as RTX 1650 and T2000 with 4GB of ram. I can confirm that this issue happens even if the GPU memory has 3.5GB of free memory.

[2021-03-25 15:09] kkimdev commented on #47902
Hi, since this is a usage question / trouble shooting, I think it better belongs to StackOverflow, etc,...

(Though this could help: https://www.tensorflow.org/guide/create_op , see `tf.sysconfig.get_compile_flags()` and `tf.sysconfig.get_link_flags()`)

[2021-03-25 15:09] #47902 closed

[2021-03-25 15:12] Saduf2019 commented on #48073
@ocaff1
Please share simple stand alone code or a colab gist with the issue reported.

[2021-03-25 15:19] mjohenneken commented on #43608
I played around with the parameters. It seems that the debugger runs with the defaults. i.e.
tf.debugging.experimental.enable_dump_debug_info(        "tfdbg_logs",tensor_debug_mode="NO_TENSOR" ). But other options for the parameter `tensor_debug_mode` fail.

[code]

[2021-03-25 15:20] Saduf2019 commented on #48070
@gdavid57
Please provide with more information in support of your request.

[2021-03-25 15:24] gg187on commented on #48017
I tried literally everything, but it still don't want install. Always same error, I did exactly all commands as written in README.md even with optional steps, and always same...

[2021-03-25 15:25] napoleonwar commented on #47299
Hi, May I ask what is the code size after compilation? fx the size of .hex (binary file) and .elf (execution file)

[2021-03-25 15:30] Saduf2019 commented on #48075
@moldach
Can you please upgrade to tensorflow 2.x and refer to this guide and simlilar issues as there is no support for 1.x.
#42367, #47824, See https://www.tensorflow.org/install/pip#system-requirements

[2021-03-25 15:40] amahendrakar commented on #48064
@dogacbasaran,
As per the [tested build configurations](https://www.tensorflow.org/install/source#cpu), could you please check if you are facing the same issue with **GCC 7.3.1** as well?

Version | Python version | Compiler | Build tools
-- | -- | -- | --
tensorflow-2.4.0 | 3.6-3.8 | GCC 7.3.1 | Bazel 3.1.0
tensorflow-2.3.0 | 3.5-3.8 | GCC 7.3.1 | Bazel 3.1.0
tensorflow-2.2.0 | 3.5-3.8 | GCC 7.3.

[2021-03-25 15:46] amahendrakar commented on #48071
@Adhithya-tech,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the dataset you are using. Thanks!

[2021-03-25 15:48] amahendrakar commented on #48074
@janoslim,
In order to reproduce the issue reported here, could you please provide the TensorFlow version, a minimal code snippet and the dataset you are using. Thanks!

[2021-03-25 15:50] edloper commented on #47853
It looks like most of the time is being spent in `_find_scalar_and_max_depth`.  Two options to speed up that function:

1. short-circuit and return early once we find any scalar value.  (But this may prevent us from giving good error messages if the user supplies an input with scalar values at different nesting depths.)
2. change `np.ndim(pylist) != 0` to `(isinstance(pylist, np.ndarray) and np.nd

[2021-03-25 15:53] wiktoria-n commented on #48017
I'm having exact same issue, followed the README.md as suggested above

[2021-03-25 16:04] jurahul commented on #48004
This looks like a duplicate of https://github.com/tensorflow/tensorflow/issues/47386.

@bondhugula, can you try doing "bazel clean --expunge" and then rebuilding? We are tracking this issue on the bazel side in https://github.com/bazelbuild/bazel/issues/13135.

[2021-03-25 16:30] KarlKulator commented on #47271
@terryheo Can I use the libtensorflowlite_c.so without the ruy and absl libraries?

For the Cpp interface it says "This generates a static library libtensorflow-lite.a in the current directory but the library isn't self-contained since all the transitive dependencies are not included. "

I guess this is also the case for the C API?

[2021-03-25 16:54] mjohenneken commented on #33101
Wrap the `tf.print()` in a Lambda layer (works on tf 2.x)

Example:
[code]

[2021-03-25 16:57] aPeter1 commented on #36437
I've fine tuned a bunch of different networks at this point from the TF 2 Model zoo and none of them give me ckpt.meta files

[2021-03-25 16:58] ymodak commented on #46394
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2021-03-25 16:58] #46394 closed

[2021-03-25 17:01] vijayshankarrealdeal opened #48078 "Unable to get the prediction."
I am using flutter tflite to run my custom model.
The project githubrepo - https://github.com/vijayshankarrealdeal/The-Network
and my model train code is -https://www.kaggle.com/vijayshankar756/notebookd234d927a6

Launching lib\main.dart on sdk gphone x86 arm in debug mode...
Invalid depfile: D:\GitHub\The-Network\.dart_tool\flutter_build\0574b688c553aea69c3fd41ddb320c5c\kernel_snapshot.d
Invalid

[2021-03-25 17:09] moldach commented on #48075
No.

https://github.com/ShafeenTejani/fast-style-transfer

Say's you need **Tensorflow 1.n** so **2.x** is not going to work.

How can you get a legacy version working in order to use older code-bases?

[2021-03-25 17:14] ocaff1 commented on #48073
Hi,

The issue is solved when using a **static lib.**
All unused objects are then removed at link for the code with MicroMutableOpResolver.
=> Code size
.text                 **51874**
.rodata             61320

My mistake was to compile all the tensorflow sources with application ones. I though compiler/linker was able to remove the unused part automatically. It seems not.

OC.

[2021-03-25 17:24] bplevin36 commented on #48058
@amahendrakar Thanks for the quick response.  I included my Python version just in case Python was somehow being used by the build process, but my actual program is written in Rust and includes no Python.  It only uses the shared libraries.

[2021-03-25 17:27] mihaimaruseac commented on #45785
That is true. 2.5 branch cut is today.

[2021-03-25 17:31] mihaimaruseac commented on #48075
[code]

and

[code]

[2021-03-25 17:32] jvishnuvardhan commented on #48076
@Sunkian I exactly followed all the commands you listed and I didn't face that error. The code was running well initially and during inference I faced `Segmentation fault` and the code crashed.

[code]

I don't think this is an error from TF. As i am not sure about their model, i think it is better if you raise an issue with that repository. May be the model was expecting huge memory or something

[2021-03-25 17:32] #48076 closed

[2021-03-25 17:36] mihaimaruseac commented on #46093
Nightly should now build with CUDA 11.2

2.5 branch cut is today so next week there will be an RC0 that you can use and test.

[2021-03-25 17:57] amahendrakar commented on #47895
@funmathgt,
On opening the linked Colab notebook, I am facing the below error
![image](https://user-images.githubusercontent.com/57165142/112520444-6ead7c80-8dc1-11eb-82bf-c33d13ba5210.png)

Could you please provide the required permissions to view the notebook? Thanks!

[2021-03-25 17:57] OzzyProjects commented on #18736
Try this https://github.com/OzzyProjects/Tensorflow

[2021-03-25 18:22] chudur-budur commented on #17353
@mhs-achyut

How do you know that modification is correct? Are you sure the modification is not going to mess with the other parts of the code?

Also after the line `'image/object/class/text': dataset_util.bytes_list_feature(category_names),`, there are two more entries.

[code]

should I keep them as they are?

[2021-03-25 18:39] Sicily-F commented on #46093
How do I use the Nightly build? Can I use it without Bazel?

[2021-03-25 19:15] ShubhamShaswat commented on #47891
can you post the code for the same, meanwhile check if the labels shape that is your `y`  which should be same as your output shape that is `logits_size`

[2021-03-25 19:22] #47956 closed

[2021-03-25 19:26] jdduke commented on #47217
Is there a reason you cannot use TFLM?

On the TFLite side, there are no plans to build such a delegate, though you could potentially leverage some of the optimized kernels that have already been written for TFLM. It really depends on whether you expect graph execution to run entirely on the DSP, or if you want the host CPU in the loop.

[2021-03-25 19:28] #47955 closed

[2021-03-25 19:29] Marx-Melencio commented on #19584
Here's a tensorflow-gpu 1.13.2 binary that I compiled for Linux X86/64 without AV / SSE4.1 / SSE4.2, for Python 3.6 / CUDA 10.0 / CUDNN 7.6.4 / Compute Capability 5.2 and above:  https://github.com/yaroslavvb/tensorflow-community-wheels/issues/69#issuecomment-804988569

[2021-03-25 19:53] aki65 opened #48081 "Performance of NNAPI Delegate on Snapdragon 888"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-03-25 19:58] gg187on commented on #48017
I read whole https://github.com/tensorflow/tensorflow/issues/35133#issuecomment-779766005 and it seems like Tensorflow dev can't fix their library for some time. It has always some problems.

[2021-03-25 20:05] gg187on commented on #35133
@galeone getting error:

[code]

when trying `go get github.com/galeone/tensorflow/tensorflow/go@r2.4-go`

[2021-03-25 20:08] ahmedhajyahmed commented on #48023
@abattery  so the 8 bit quantization is impossible and the only possible one is float 16 for GPU ?
And what do you advice me to do in my situation ?

[2021-03-25 20:14] galeone commented on #35133
This solution is old, I'm sorry.

The solution is to NOT use the official tensorflow go package, but instead use my fork:

[code]

Obviously, you should fir install the TensorFlow C library in your system (see here: https://github.com/galeone/tfgo#tensorflow-installation)

I highly recommend you to fallback on the galeone/tensorflow + galeone/tfgo solution, which is used by several go devs and it

[2021-03-25 20:17] #47544 closed

[2021-03-25 20:24] abattery commented on #48081
@miaowang14 could you take a look?

[2021-03-25 20:38] nikitamaia commented on #46373
Hi @ThWuensche, in #41768 the problem was the use of `tf.compat.v1.disable_eager_execution()`. Disabling eager execution is not recommended in TF2, and can cause issues when using a distribution strategy.

However, since you're facing problems even when eager execution is not disabled, it seems that we need to do some more investigation to figure out what's going on here.
- Can you share what happ

[2021-03-25 20:40] abattery commented on #48023
@impjdi do we support float16 conv3d op in GPU delegate?

[2021-03-25 20:43] abattery commented on #48023
IMO, using float32 model with GPU delegate is an option.

[2021-03-25 20:46] talumbau commented on #47223
Hi,

Thanks for reporting this issue. With recent versions of TensorFlow, the conversion to TF Lite format with the optimization options you mention will use the new "dynamic range per-channel" quantization method, whereas previous versions (e.g. v2.3) use the older "dynamic range per-tensor" quantization method. For this new method, when running the converted model on x86 you need to build with a

[2021-03-25 20:50] gg187on commented on #35133
is this correct output?

[code]

[2021-03-25 21:08] abattery commented on #48068
You can build your own selective built C++ TensorFlow Lite library only under the bazel development environment.

For example,

[code]

[2021-03-25 21:10] ameyparanjape commented on #46685
@tabVersion What's the solution? Facing the same issue! Did you get past this?

[2021-03-25 21:12] gg187on commented on #35133
it seems to work, thanks so much @galeone

[2021-03-25 21:23] impjdi commented on #48023
If you `grep` `Convolution3DAttributes` inside `//tensorflow/lite/delegates/gpu`, you will see that there is some support.  However, I don't see a legit code path how you could trigger that in a "normal" way, because I don't see the reference to any 3D op in the `gpu/common/model_builder.cc` which is the entry point for GPU IR.

[2021-03-25 21:27] Rababalkhalifa commented on #47908
contact me in r.alkhalifah @ hotmail

[2021-03-25 21:27] Ellislee1 commented on #47311
@AndyTsangChun I also encountered the issue when trying to upgrade TF1 code

[2021-03-25 21:30] barabanus commented on #48027
Let me humbly emphasize that weights sharing between interpreters is very important. With our runtime environment we're running up to eight threads of realtime inferences with precomputed ~130 MB of float32 weights. It's counter-productive to copy ~130 MB of weights per each interpreter. And also it would be better to have ~65 MB of float16 weights shared between eight interpreters/threads.

[2021-03-25 21:32] Sicily-F commented on #46093
I tried uninstalling tensorflow and tensorflow gpu and reinstalled both tf-nightly and tf-nightly gpu, same errors:

pciBusID: 0000:87:00.0 name: Tesla K80 computeCapability: 3.7
coreClock: 0.8235GHz coreCount: 13 deviceMemorySize: 11.17GiB deviceMemoryBandwidth: 223.96GiB/s
2021-03-25 21:29:31.829916: W tensorflow/stream_executor/platform/default/dso_loader.cc:60] Could not load dynamic library '

[2021-03-25 21:49] gg187on commented on #48017
https://github.com/tensorflow/tensorflow/issues/35133#issuecomment-807404740

seems to work,...

[2021-03-25 22:33] wiktoria-n commented on #48017
thank you, it worked perfectly for me

[2021-03-25 22:53] cristiandapp opened #48085 "How to enable Multiple Object Tracking in tflite?"
Hello everyone, I'm new here. I would like to know how can I enable realtime object tracking in tflite example for android(object detection). I need to count objects in real time with a moving camera. I've read older versions tflite allowed tracking on android, but now I'm confused about that. Can you help me? please

[2021-03-25 23:10] reedwm commented on #39982
I think most loss functions support float16, but let me know if you know of any that do not and I can fix them.

By default, losses run in the same dtype as the output of the model, although this may be changed in the future to always run losses in float32. Most of the time, it is safe to run losses in float16, but a few cases require float32 for numeric stability. It is recommended to always run

[2021-03-25 23:10] adriangb opened #48086 "tf.io.gfile.walk broken on Windows"
It seems that the path isn't split correctly. Filenames come with an extra `\` prefix. Minimal reproducible example:

[code]

This passes on *nix but not on Windows. Here is a quick CI run in GitHub actions showing this: https://github.com/adriangb/tensorflow-test/actions/runs/688190284

ccing @mihaimaruseac @bhack

[2021-03-25 23:11] adriangb commented on #48086
Some relevant discussion: https://github.com/tensorflow/tensorflow/pull/39609#discussion_r600667357

[2021-03-25 23:11] bhack commented on #48086
Thanks

[2021-03-26 00:11] bhack commented on #48086
The problem in this specific example is that you could not use `os.path.join` cause it will add in python `\` native separator on Windows that is not the ram filesystem separator `/`.
See https://github.com/bhack/tensorflow-test/blob/master/test.py

[2021-03-26 00:17] ymodak commented on #34954
This feature is now available with TF 2.4.1
See https://www.tensorflow.org/api_docs/python/tf/keras/applications/MobileNetV3Small?hl=zh-cn and
https://www.tensorflow.org/api_docs/python/tf/keras/applications/MobileNetV3Large?hl=zh-cn

[2021-03-26 00:31] jxtps opened #48089 "windows/subprocess.cc should log the command line for a failing invocations"
**System information**
- TensorFlow version (you are using): 2.4.1
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Tensorflow fails on my system with an infinite loop of errors like:
[code]

This is probably because my system (CUDA, cuDNN, python, whatever...) versions are messed up, but without knowing what command was invoked it's hard t

[2021-03-26 00:37] #34966 closed

[2021-03-26 00:48] adriangb commented on #48086
Hmm good point, I was trying to simplify the example to not include model saving, but maybe that's the source of the problem? I reverted to [8c3dae](https://github.com/adriangb/tensorflow-test/blob/8c3dae59efbbf62e746b24ab2227307fad072466/test.py), which [does reproduce the issue](https://github.com/adriangb/tensorflow-test/runs/2198176548?check_suite_focus=true).