[2021-10-01 17:59] #23374 closed

[2021-10-01 17:59] #52044 closed

[2021-10-01 17:59] #40130 closed

[2021-10-01 17:59] #39680 closed

[2021-10-01 17:59] #39521 closed

[2021-10-01 17:59] #51823 closed

[2021-10-01 18:21] mhaghighat commented on #47174
For some reason, when I install the `tf-nightly-gpu`, it doesn't see the GPU. It acts as the CPU version, and it returns null for `tf.test.gpu_device_name()`. I don't have this problem with r2.6 on the same device. We thought maybe it is CUDA incompatibility and tried other versions of CUDA, but it didn't help. I hope r2.7 releases soon and it won't have this issue.

[2021-10-01 19:08] xddcore opened #52219 "Could not run the task evaluation!-tensorflow/lite/tools/evaluation/tasks/imagenet_image_classification/"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 20.04
- Mobile dev

[2021-10-01 19:08] stefan-falk commented on #33688
By "_strategy_", do you by mean `tf.distributed.Strategy`? The problem I have here is that any mirrored-strategy will automatically copy the model on each device but also all gradient-resources.

I wouldn't know how to avoid this.

I can only do this on _one_ machine using `tf.distributed.Strategy` but now I can't use multiple workers. Could you elaborate please?

[2021-10-01 19:17] AdeshChoudhar commented on #52190
I think you have interchanged the order of `a` and `b` in `pow()`.

[2021-10-01 19:19] kat25230 commented on #52210
Any update on this one?

[2021-10-01 19:26] xddcore commented on #52219
I seem to have found the reason for the above problem: because I use the conda environment, I did not use bazel to compile the tool in an environment containing tensorflow. As a result, the tool cannot find tensorflow related dependencies. In the end, the data set could not be verified.
The solution is, if you use anaconda to manage different Python environments, please run the build command in th

[2021-10-01 19:37] albertz opened #52220 "Model checkpoint load ignores wrong shape"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOSX 11.6 + Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip binary
- TensorFlow version (use command b

[2021-10-01 19:59] AdeshChoudhar commented on #52179
I want to work on this TODO.

[2021-10-01 20:11] SHILPASHIVAMALLU opened #52221 "TensorFlow Object Detection : Error while executing python model_main_tf2.py"
Environment:

1. TensorFlow:2.6
2. Python : 3.9.6
3. Transfer learning for Object Detection using TensorFlow
4. Dataset : Digital Meter
5. Example Link: https://medium.com/analytics-vidhya/digit-recognition-of-digital-meters-using-tensorflow-2-object-detection-api-48364cd678a9
6. Pre-trained Model : ssd_mobilenet_v1_fpn_640x640_coco17_tpu-8
7. Generated Tf Record successfully( train.record and tes

[2021-10-01 20:27] JoeSu666 commented on #52207
`def load_image(img_path,size = (32,32)):
  label = tf.constant([1],tf.int8) if tf.strings.regex_full_match(img_path,".automobile.")
  else tf.constant([0],tf.int8)
  img = tf.io.read_file(img_path)
  img = tf.image.decode_jpeg(img)
  img = tf.image.resize(img,size)/255.0
  return(img,label)

ds_train = tf.data.Dataset.list_files("./data/cifar2/train//.jpg")
.map(load_image, num_parallel_calls=tf.

[2021-10-01 20:36] mrnucleation opened #52222 "Blas xGEMV launch failed error when running on GPU."
I've ran into a really strange error that is incredibly difficult to track down.  I have a version of Tensorflow (2.6.0-rc1) using Cuda 11.3 that I compiled from source.  When I run it using my GPU for evaluating a pretty normal feed forward model I constantly get this crash on this one particular line.

[code]
When I look up this error it usually indicates a problem in the CUDA install or other s

[2021-10-01 21:18] albertz opened #52223 "OP_REQUIRES failed at conv_ops.cc:1276 : Not found: No algorithm worked!"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip binary
- TensorFlow version (use command below): v2.6.0-

[2021-10-01 22:02] hackedaccount2017 opened #52225 "This build was never aapproved.."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-10-01 23:59] #39232 closed

[2021-10-02 00:17] guan-yuan commented on #52176
@sanatmpa1
Thank you for your reply, I have tested it with tf 2.6 and the result is still the same (cannot be executed, but the model is loaded to GPUs)

[2021-10-02 00:59] #22325 closed

[2021-10-02 01:40] miaout17 commented on #52182
The quantize version 2 was added in 2019 and 2.5.0 is release in 2021. In theory this shouldn't happen.
Could you follow the [bug issue template](https://github.com/tensorflow/tensorflow/issues/new?assignees=&labels=type%3Abug&template=00-bug-issue.md) to fill out more information?
Are you making custom build? Could you provide instructions to reproduce this issue?

[2021-10-02 01:46] miaout17 commented on #52158
My understanding is that the Flex (Select TensorFlow ops) feature is supported by neither CMake, nor the Makefile build process that CMake replaced. It would be a significant amount of engineering effort to make the entire TensorFlow buildable with CMake on mobile, and there is no plan for this yet.

The best way to use Flex delegate is sticking with Bazel build.

Tagging @terryheo who works on CM

[2021-10-02 01:54] myunuro commented on #41354
@liyinhgqw May I ask how did you resolve this issue?

[2021-10-02 03:10] thusinh1969 commented on #43174
To check and will solve easily:
1) Check your image input, maybe you are wrong with dimensions (usually channels) and all
2) Out of GPU memory

Steve

[2021-10-02 03:10] MattWolf74 commented on #52215
Thanks for your suggestions, unfortunately those ideas did not solve the issue of crashing due to large size of numpy arrays even though there are no internal memory limitations. I decided to ditch from_tensor_slices and went with generators which seems to work just fine.

[2021-10-02 03:10] #52215 closed

[2021-10-02 03:54] lolz0r commented on #37544
I see it, too. On tfnightly==2.8.0-dev20211001

[2021-10-02 05:18] AdeshChoudhar commented on #52179
@Saduf2019 Can you please review the PR?

[2021-10-02 07:31] ahmedanis03 commented on #39969
@ymodak is still not fixed yet in 2.6.0 but worked at the nightly, do we have any estimation when this will be officially released?

[2021-10-02 08:34] armkevincheng opened #52228 "16bit x 8bit conv2d fails in TFLite conversion"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04.1-Ubuntu
- TensorFlow installation (pip package or built from source): Built from source.
- TensorFlow library (version, if pip package or github SHA, if built from source): e028aedeb0f49980180a7efe48b76fdc6562c244
I tried to sync with nightly on 10/1 when reproducing the bug. I can confirm this used to wor

[2021-10-02 09:24] tilakrayal commented on #52218
@Bhavay192 ,
Could you please have a look at this  SO link [1](https://stackoverflow.com/questions/55591437/attributeerror-module-tensorflow-has-no-attribute-gfile) and comment from the issue [2](https://github.com/tensorflow/tensorflow/issues/31315#issuecomment-518260943) with the similar error.It helps.Thanks!

[2021-10-02 09:58] J-H-Sung commented on #52138
Update 2: My tensorflow codes worked well after conda packages update using conda update conda and conda using conda update --all. Maybe the issue was a temporal crash related conda packages.

**Python 3.9.7 | packaged by conda-forge | (default, Sep 23 2021, 07:30:24) to Python 3.9.7 | packaged by conda-forge | (default, Sep 29 2021, 19:24:02)**

Python 3.9.7 | packaged by conda-forge | (default,

[2021-10-02 09:58] #52138 closed

[2021-10-02 11:37] aaronmondal commented on #52222
My guess would be that the `[1,2728550,5]` tensor is wayyy too large, so your input is probably too large.

You could feed inputs of increasing sizes into your model to find the point at which the code collapses.

[2021-10-02 11:38] sushreebarsa commented on #52068
@sliu729
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-10-02 12:07] Ram-WD opened #52230 "Cant dynmicly change the weights of a multi-output model loss functions"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):2.4
- Are you willing to contribute it (Yes/No):yes

**Desc

[2021-10-02 12:20] terryheo commented on #52158
@miaout17 is correct. To support CMake for Flex, we need a CMake rule for TensorFlow kernels. They used to exist but it's not available now.

If you can remove Flex usage, you can avoid this issue. I wonder why your model requires FlexStridedSlice since StridedSlice is also available for TFLite.

[2021-10-02 12:31] MrinalTyagi opened #52231 "Addition of Resnet18 Model in Application"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.6.0
- Are you willing to contribute it (Yes/No): Yes

**

[2021-10-02 14:23] ManuelPopp opened #52232 "TF2 suggests adding report_tensor_allocations_upon_oom to RunOptions while the option is not available"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-10-02 14:59] #34135 closed

[2021-10-02 14:59] #34183 closed

[2021-10-02 15:18] RishabhGarg108 commented on #52231
Hey, I would like to work on this issue. I have some experience with open source, but I am a newcomer here and some guidance will be much appreciated.

Where can I find the implementation of other similar models in TensorFlow which I can look for reference?

Thanks!

[2021-10-02 16:39] mohantym commented on #33108
Hi @lutel! , we are  checking to see if you are still looking for assistance in this issue.
Could  you try with [tested configurations ](https://www.tensorflow.org/install/source#tested_build_configurations)again ?

[2021-10-02 16:48] mohantym commented on #10479
Hi @Sycor4x!
It seems you are using older versions(1.x versions) of Tensorflow. We recommend that you upgrade  your code base to 2.x  versions as many features and bug fixes has been done in newer versions and  create a new  issue if it still persists in newer versions. Thanks!

[2021-10-02 16:48] #10479 closed

[2021-10-02 19:56] djordjened92 commented on #34571
Hi @tinyxuyan , I've done some workaround using mentioned tf.nn.conv1d for the same purposes you mentioned in the post:

[code]
I hope this is helpful.

[2021-10-02 20:24] Valret commented on #52140
**Update 2:**

I tested some networks on PyTorch 1.9.1 + CUDA 11.1 and facing similar issue. For example, on Windows right before running the script I have  520MiB / 10240MiB allocated:

![image](https://user-images.githubusercontent.com/13711526/135730824-6d366c9b-fb46-4711-b04e-f3b5fdb05b4f.png)

After I run the training I get:

nvidia-smi shows that almos all available memory is allocated:

![i

[2021-10-02 20:59] #40170 closed

[2021-10-02 22:42] ianzur opened #52234 "Normalization layer masking"
**System information**
- TensorFlow version (you are using): nightly (on colab) (also on my machine, but behind a few weeks (built upstream from source for ROCm support))
- Are you willing to contribute it (Yes/No): Yes, once maintainers evaluate proposal

**Describe the feature and the current behavior/state.**
tf.keras.layers.Normalization() does not ignore masked values.

**Will this change the

[2021-10-03 02:28] mohantym commented on #31247
Hi @ilhamfp , Did you try with instructions in this[ link ](https://developer.apple.com/metal/tensorflow-plugin/).

[2021-10-03 06:18] yotamtevel commented on #52196
Hi @mohantym
Those doe's not work.

Same code and same model using nvcr.io/nvidia/tensorflow:21.07-tf2-py3 works just fine - note that it downgrades tensorflow to 2.5.0+nv

[2021-10-03 07:36] WingsOfPanda commented on #47884
@jvishnuvardhan hmm, I think I have the correct cuDNN version. on my side I didn't see this error. One more thing, I tried tf2.6 but still facing this problem. Any further suggestions?

[2021-10-03 07:59] #21337 closed

[2021-10-03 07:59] #21875 closed

[2021-10-03 08:23] mohantym commented on #52180
Hi @Saduf2019! Could you please look at this issue!

[2021-10-03 08:36] WingsOfPanda opened #52236 "mixed_precision returns gradient zeros when the model input size is large"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Noe
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.6.0-rc2-32-g919f693420e 2.6.0
- Python version: 3.9
- CUDA/cuDNN version: 11.1/8.1.1
- GPU model and me

[2021-10-03 08:43] sushreebarsa commented on #52232
@ManuelPopp
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-10-03 09:00] sushreebarsa commented on #52219
@xddcore Could you please move this issue to closed status if it has been resolved for you as per the [comment ](https://github.com/tensorflow/tensorflow/issues/52219#issuecomment-932494580)?Thank you!

[2021-10-03 09:04] sushreebarsa commented on #52222
@mrnucleation
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),Could you please try as per the [comment](https://github.com/tensorflow/tensorflow/issues/52222#issuecomment-932737035) above and let us know if it helps? Thanks!

[2021-10-03 09:04] xddcore commented on #52219
ok, thank you for your reply!

[2021-10-03 09:05] #52219 closed

[2021-10-03 09:06] ben-davidson-6 opened #52237 "kerasTensor not behaving as expected, functional api incorrectly skipped"
**System information**
Tf version:
v2.6.0-rc2-32-g919f693420e 2.6.0

**Problem**
Using `tf.keras.Input(4, 1)` doesn't work with all layers. I am using an op which does not support dispatching, which will break the use of `KerasTensor`s. Adding dispatching fixes this problem, and digging into the dispatching code I see it uses `tensorflow.python.keras.layers.KerasOpDispatcher` which just wraps my o

[2021-10-03 10:12] bleedingfight commented on #44692
Thanks for you replay,it's workded when I use this:
`bazel build  --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" -s -c dbg //tensorflow/tools/pip_package:build_pip_package`

[2021-10-03 10:59] #37495 closed

[2021-10-03 11:52] tilakrayal commented on #52207
@JoeSu666 ,
Can you please try to execute your code in latest stable version 2.6.0 and let us know if the issue still persists.Thanks!

[2021-10-03 12:50] Jurek54321 commented on #22926
Hello-World

[2021-10-03 14:01] Sultan91 commented on #45238
The problem still presists

[2021-10-03 14:36] logankilpatrick opened #52239 "Shaky sidebar on the docs"
## URL(s) with the issue: https://www.tensorflow.org/api_docs/python/tf/keras/layers/Concatenate

## Description of issue (what needs changing):

When I scroll down in the docs, the left side of pages shakes very aggressively.

https://user-images.githubusercontent.com/35577566/135758613-fbdf9612-e663-4dda-af53-aaae4d26b97a.mov

[2021-10-03 14:38] logankilpatrick commented on #52239
I am viewing this on Safari, Chrome seems much less shaky, but still a little jitter.

[2021-10-03 15:52] jayaBalaR opened #52240 "Op type not registered 'NormalizeUTF8' in binary running when reload model #51080"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-10-03 15:59] #37405 closed

[2021-10-03 16:05] SunitRoy2703 commented on #30914
I'm was getting the same problem - "java.lang.IllegalArgumentException: Internal error: Failed to apply delegate: ModifyGraphWithDelegate is disallowed when graph is immutable."

Context: we're creating a tflite depth estimation sample and below is the code for initializing the interpreter with the best options.

[code]

Our mistake was to add both NNAPI and GPU check in the code, and calling ```a

[2021-10-03 16:15] Marcus2810 commented on #37079
Can I ask what is the shapes of the Loss, I'm sorry I'm not able to help, but what shape did you do for it?

[2021-10-03 16:29] amehrish commented on #41904
I recently succeeded in building 2.6 (both tensorflow.dll and tensorflow_cc.dll) with GPU on Windows but linking it is a different challenge altogether and honestly, I am struggling. I arrived at this discussion after searching a lot for answers. Just as @philipeccles has stated above, I would like to express my gratitude to the tf team for making it accessible. However unless the accessibility of

[2021-10-03 16:33] mohantym commented on #52206
Hi @0xiNach ! Can you attach the above code as colab gist with a link to  dataset for x_train and y_train to replicate the issue.

[2021-10-03 16:58] mohantym commented on #21185
@tazr ,I was getting invalid arguement  error though in above code ,  Could you attach your collab gist here for others reference ?Attaching my [GIST](https://colab.research.google.com/gist/mohantym/7a3f8b9c1d1d25dd6b06267406613f2f/github_21185.ipynb) in TF 2.6 for reference.

[2021-10-03 18:00] mrnucleation commented on #52222
I was able to get it to compute by cutting up the array into blocks of 1/100th of the original size and passing them through one at a time.  Then pasting the fragments together at the end. Though it' still a bit perplexing why it crashes on the last line.  That's more what's absolutely confusing.

If anything it should have crashed in the middle of the network where the intermediate tensors are fa

[2021-10-03 18:00] mrnucleation commented on #52222
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-10-03 18:59] #28863 closed

[2021-10-04 00:38] mohantym commented on #52210
Hi @kat25230 ,Sorry for the late response , Can you update the above code with **train_model()** code snippet too. I have edited and tried to run your above code. Attaching [GIST ](https://colab.research.google.com/gist/mohantym/29e61f88e15c03fbc60bb90d4a23c752/github_52210.ipynb#scrollTo=I4h_4N0mGDJf)for reference.

[2021-10-04 00:48] mohantym commented on #38477
Hi @spamming4 ,Issue did not seem to replicate in TF 2.6 .I have changed

operation for sake of simplicity. Attaching [GIST ](https://colab.research.google.com/gist/mohantym/56029085d3eca407a2b92d4a64e0592b/github_38477.ipynb)for reference.

[2021-10-04 00:56] mohantym commented on #52216
Hi @JTWang2000 ! Sorry for the late response,Could you try again the imports like below .
[code]
[Reference source code](https://github.com/tensorflow/tensorflow/blob/r2.5/tensorflow/python/keras/layers/__init__.py)

[2021-10-04 01:21] mohantym commented on #52220
Hi @Albert-Z-Guo ,Tried to replicate this in 2.6 ! Assertion Error in **second Assertion** might be  raising due to **mismatch in new session shape (3,3,40,32) and  old session shape (3,3,1,32)** ,while  **first Assertion** new session shape is **being matched to declared shape (3,3,1,32)** .In Attaching [GIST](https://colab.research.google.com/gist/mohantym/1d70ba29c7ea96c84773e1e62fc0df9a/github

[2021-10-04 01:36] mohantym commented on #52234
Hi @ianzur !
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) . Thanks!

[2021-10-04 01:44] tilakrayal commented on #52221
@SHILPASHIVAMALLU ,
This issue is more suitable for TensorFlow Models repo. Please post it on Tensorflow Models repo from [here](https://github.com/tensorflow/models/issues/new/choose). Also please take a look at this [link](https://github.com/tensorflow/models/issues/9703) with the similar error.It helps.Thanks!

[2021-10-04 01:46] tilakrayal commented on #52225
@hackedaccount2017 ,
In order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Baz

[2021-10-04 01:47] tilakrayal commented on #52225
Please take a look at this [link](https://www.tensorflow.org/install) which helps to install the tensorflow.Thanks!

[2021-10-04 01:49] tilakrayal commented on #52231
@MrinalTyagi ,
Can you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thanks!

[2021-10-04 02:33] MrinalTyagi commented on #52231
Addition of following code to the api:

`tf.keras.applications.ResNet18(
    include_top=True, weights='imagenet', input_tensor=None,
    input_shape=None, pooling=None, classes=1000,
    classifier_activation='softmax', **kwargs
)`

Use Case: This would allow individuals to fine-tune the ResNet18 model pre-trained on the imagenet dataset to be fine-tuned on their custom dataset. As the implementa

[2021-10-04 03:20] JTWang2000 commented on #52216
Hi @mohantym Thank you so much for your reply. This works!
I also tried with
[code]
These two commands both work

[2021-10-04 05:54] chunduriv commented on #48697
@sanyakuznezov, According to [this](https://github.com/tensorflow/tensorflow/issues/48697#issuecomment-826700267), your issue was resolved. Please feel free to close. Thanks!

[2021-10-04 05:59] #24960 closed

[2021-10-04 06:12] chunduriv commented on #48661
@TheEnigmist, According to [this](https://github.com/tensorflow/tensorflow/issues/48661#issuecomment-838069103), your issue was resolved.Please feel free to close the issue if it is resolved? Thanks!

[2021-10-04 06:23] chunduriv commented on #48544
@farazBhatti, Can you please share original model before conversion as per @karimnosseir [comment](https://github.com/tensorflow/tensorflow/issues/48544#issuecomment-868893248).Thanks!

[2021-10-04 06:34] farazBhatti commented on #48544
@karimnosseir  @chunduriv  You can find it [here](https://drive.google.com/file/d/1y3LQSuxZcggilzMo82rPdGW9PMt-Lqam/view)

[2021-10-04 06:39] albertz commented on #52220
Yes and this is wrong. You always must have `v.shape.as_list() == list(session.run(v).shape)`.

[2021-10-04 06:39] albertz commented on #52220
It's also wrong that the model checkpoint loading was done without error. There should have been an exception there.

[2021-10-04 06:40] chunduriv commented on #48532
@malik-anhar, Does [this](https://github.com/tensorflow/tensorflow/issues/48532#issuecomment-820896677) reference helps you? We see that you are using old version of tensorflow(2.4) , Could you please try to execute your code using latest stable version of TF 2.6.0 and let us know if the issue still persists in newer versions .Thanks!

[2021-10-04 06:56] mohantym commented on #52220
Hi @Saduf2019 , Could you please look into this issue . It is replicating in [2.5 ](https://colab.research.google.com/gist/mohantym/b68163371f9e8a869b0244b103ab0572/github_52220.ipynb#scrollTo=S8zOfkH3z28T),[2.6 ](https://colab.research.google.com/gist/mohantym/1d70ba29c7ea96c84773e1e62fc0df9a/github_52220.ipynb#scrollTo=YGsXUWna1zP_)and [nightly.](https://colab.research.google.com/gist/mohantym/f

[2021-10-04 06:58] mohantym commented on #52216
Ok @JTWang2000 ! Feel free to close this issue if it helped.

[2021-10-04 06:58] #52216 closed

[2021-10-04 07:13] mohantym commented on #52196
Ok @yotamtevel! Could you please share the link to **model_path** too to replicate the issue?

[2021-10-04 07:14] kumariko commented on #34415
@fancyerii please refer to the above comment https://github.com/tensorflow/tensorflow/issues/34415#issuecomment-909201783 and let us know if you still need any help here. If it is resolved then please feel free to move this issue to close status ? Thanks!

[2021-10-04 07:14] freedomtan commented on #52155
@mpromonet What do you want? libtensorflowlite_gpu_delegate.so for your machine running Ubuntu 20.04 or or Android platform.

For the latter case, please run `./configure` and set Android NDK and SDK paths.
For the former one, I guess it's not supported and well-tested. Messages like
[code]
are because of something like `#define Status int` in `X11/Xlib.h`

[2021-10-04 07:31] freedomtan commented on #52160
@EricTheRed20 I didn't try it. But I guess it should work. With `bazel 4.2.x`,
[code]
That's what I used to build `//tensorflow/tools/pip_package:build_pip_package` on my M1 machine.

[2021-10-04 07:38] yotamtevel commented on #52196
Hi @mohantym,

`
import os
import tensorflow as tf

def mish(input_tensor):
    return input_tensor * tf.keras.activations.tanh(tf.math.log(1 + tf.math.exp(input_tensor)))

def build_model():

    input_tensor = tf.keras.layers.Input((None, None, 3), name='input')
    scaled_input = tf.math.multiply(input_tensor, 1. / 255.)
    d1 = tf.keras.layers.Conv2D(32, kernel_size=3, padding='SAME', strides

[2021-10-04 07:46] TheEnigmist commented on #48661
@chunduriv Yes, but this is a workaround, still it doesn't work like explained in the docs.
The expected behaviour is that `on_epoch_end()` of the class `Sequence` is triggered without forcing it from a callback.
If you think this is like it works then I close this issue.

[2021-10-04 07:51] mohantym commented on #52239
Hi @logankilpatrick! @sanatmpa1!, I checked  the above link in Firefox,chrome,Edge Browser for Windows a for stability of above link , It seems to be working  fine though It was lagging bit in Safari Browser for windows .

[2021-10-04 07:56] mohantym commented on #52230
Hi @Ram-WD!
Please post this feature request on [keras-team/keras repo](https://github.com/keras-team/keras/issues) too .
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) . Thanks!

[2021-10-04 07:59] #52061 closed

[2021-10-04 08:14] sushreebarsa commented on #52237
@ben-davidson-6 Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank You!

[2021-10-04 08:25] reza-amd opened #52244 "XLA dumps are not generated after setting XLA_FLAGS="--xla_dump_to=/some/path""
I was running the unit test ```//tensorflow/compiler/tests:categorical_op_test_gpu``` and wanted to see the XLA dumps for this unit test. I set the --xla_dump_to to a correct path, but dump files were never generated (the setup is correct as for other tests, It can generate XLA dumps).

I tried to investigate this issue  further and I found that [```detailed_logging```](https://github.com/tensorfl

[2021-10-04 08:30] tilakrayal commented on #52236
@sanatmpa1 ,
I was able to reproduce the issue in tf v2.4 and v2.6 where as in nightly version the code is executed with different error.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/64331ba9914ff5c473afdfe7924dc4a1/52236.ipynb).

[2021-10-04 08:34] WingsOfPanda commented on #52236
@tilakrayal @sanatmpa1 thx for your response! I think you need to have at least 24GB gpu to run this code with input size `(256, 368, 368)' otherwise OOM will happen.

[2021-10-04 08:59] #23536 closed

[2021-10-04 09:05] neha13rathore opened #52245 "model.fit() showing value error. I don't know where i am doing wrong."
Epoch 1/5
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-24-3875a67a7083> in <module>()
     50 model.compile(loss='categorical_crossentropy', optimizer= 'adam', metrics= ['accuracy'] )
     51
---> 52 history = model.fit(train_x, train_y, epochs=5)
     53

9 frames
/usr/local/l

[2021-10-04 09:05] kumariko commented on #29968
Was able to reproduce this issue in TF 2.6 ,Please find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/a705e35660b4008f31679f246e6e5267/untitled10.ipynb#scrollTo=Bf5MdeQ2IluD) . Thanks !

[2021-10-04 09:41] robertschweizer commented on #51743
This seems to be fixed on master by https://github.com/tensorflow/tensorflow/commit/41e66148999080da5b2b80a59740a8f2a59f17da. The `install_requires` is now `typing_extensions >= 3.6.6`.

[2021-10-04 09:49] mohantym commented on #52223
Hi @sanatmpa1! Could you please look at this issue , Its not replicating when **filters** shape is set to (3, 3, None, 40)  (i.e even numbers as Errors Indicate). Attaching GIST in TF [2.5](https://colab.research.google.com/gist/mohantym/ffbf33fdcf3d2c0283bbb28c431409ff/github_52223.ipynb#scrollTo=Wy2RfCPWoIQ_) ,[2.6](https://colab.research.google.com/gist/mohantym/09940eadf48201d9c29d4e35a7102701

[2021-10-04 09:59] #52031 closed

[2021-10-04 10:04] mohantym commented on #52245
Hi @neha13rathore! Could you please fill the template from[ here ](https://github.com/tensorflow/tensorflow/issues/new/choose)as It helps expedite the issues .

[2021-10-04 10:09] raggyie commented on #51849
Still experiencing this issue :/
java.lang.IllegalArgumentException: Internal error: Cannot create interpreter: Op builtin_code out of range: 142. Are you using old TFLite binary with newer model?

`// Top-level build file where you can add configuration options common to all sub-projects/modules.
buildscript {
    repositories {
        google()
        mavenCentral()
        maven {  // Only for

[2021-10-04 10:16] raggyie commented on #51849
###Cannot create interpreter: Op builtin_code out of range: 142. Are you using old TFLite binary with newer model?

Still facing this issue even without jcenter()

Please Help

`// Top-level build file where you can add configuration options common to all sub-projects/modules.
buildscript {
    repositories {
        google()
        mavenCentral()
        maven {  // Only for snapshot artifacts

[2021-10-04 10:31] sushreebarsa commented on #36128
@paloha, Could you please let us know if we can close the issue as the [PR](https://github.com/tensorflow/tensorboard/pull/5348) is merged ? Thanks!

[2021-10-04 10:59] #34697 closed

[2021-10-04 10:59] #52062 closed

[2021-10-04 11:00] chunduriv commented on #48673
I was able to reproduce the issue on colab using `TF2.6` and `TF-nightly(2.8.0-dev20211003)`. Please find the gist [here](https://colab.research.google.com/gist/chunduriv/2b3a7c25f78f2a65a440638051a65eb0/48673.ipynb) for reference .Thanks!

[2021-10-04 11:03] Eli177 commented on #36465
Setup:

TF 2.5
Cuda 11.4
Nvidia RTX 2080 Super.

Trying to run a bunch of tests that involve building models, running a training and evaluation step. Each model is built in series in its own subprocess which terminates, after calling
`del models
tf.keras.backend.clear_session()
 gc.collect()
 `
 The memory of the GPU is not being released after the subprocess exits, so the next model cannot be bui

[2021-10-04 11:03] Gomesz785 commented on #22926
This comment section is just 1 mile away from getting the normal-and spam, isn't there some body to moderate this and take a look at the PRs and like disable commenting if a PR does good?

Examples of **not**-spam but _worthless_ comments:

has a lot reactions :arrow_up: :roll_eyes:

[code]

[2021-10-04 11:07] chunduriv commented on #48624
I was able to reproduce the issue on colab using `TF2.6` and `TF-nightly(2.8.0-dev20211003)`. Please find the gist [here](https://colab.research.google.com/gist/chunduriv/da6e69298bb7e6f277e3636a0d7c4c0d/48624.ipynb) for reference.Thanks!

[2021-10-04 11:16] chunduriv commented on #48555
I was able to reproduce the issue on colab using `TF2.6` and `TF-nightly(2.8.0-dev20211003)`.Please find the gist [here](https://colab.research.google.com/gist/chunduriv/12e65022d084187b3384893f60a49ef0/48555.ipynb) for reference.Thanks!

[2021-10-04 11:18] tilakrayal commented on #52240
@jayaBalaR ,
Can you please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/49968#issuecomment-852677186) from the issue with similar error.It helps.Thanks!

[2021-10-04 11:24] chunduriv commented on #48559
I was able to reproduce the issue on colab using `TF2.6` and `TF-nightly(2.8.0-dev20211003)`.Please find the gist [here](https://colab.research.google.com/gist/chunduriv/4aa228014b98f491e10e9eea12d846b7/48559.ipynb) for reference.Thanks!

[2021-10-04 11:34] chunduriv commented on #48549
I was able to reproduce the issue on colab using `TF2.6` and `TF-nightly(2.8.0-dev20211003)`.Please find the gist [here](https://colab.research.google.com/gist/chunduriv/ecb18bfa8cad4c955dd3107774674759/48549.ipynb) for reference.Thanks!

[2021-10-04 12:07] mohantym commented on #23822
Hi @phil510 , The above code in Template is  running with out Error in TF 2.6 through Colab .Attaching [GIST](https://colab.research.google.com/drive/1wmd371wNQMBc6Ixp0rK7Sxt6_8M4JWTG?resourcekey=0-XQ7j7cn1vrpoF3HFZWVmbA#scrollTo=RgiuOY1CL9hm) for reference. Closing this issue as it seems to be resolved in latest version.

[2021-10-04 12:07] #23822 closed

[2021-10-04 12:16] #23609 closed

[2021-10-04 12:32] sushreebarsa commented on #52222
@mrnucleation We see that you are using 2.6.0-rc1 ,Could you please try with the stable version of TF 2.6.0 ,please refer to build from [source](https://www.tensorflow.org/install/source#gpu).Please refer to some similar issues[ link1](https://stackoverflow.com/questions/43990046/tensorflow-blas-gemm-launch-failed), [link2](https://github.com/tensorflow/tensorflow/issues/25403),[link3](https://git

[2021-10-04 12:36] frankl1 commented on #36508
I had the same issue. Updating tensorflow with `pip install -U tensorflow` solved it

[2021-10-04 12:38] jgehw commented on #52203
In case this may help, the failing command is:
[code]
Steps to reproduce:
[code]
Remove the work-around I added in microsoft/vcpkg/pull/20015 in file `./vcpkg/ports/tensorflow-common/tensorflow-common.cmake` at line 190
[code]
by reverting back to `--compilation_mode=dbg`. Then start the build:
[code]

[2021-10-04 12:59] #38919 closed

[2021-10-04 13:18] jayaBalaR commented on #52240
Yes NormalizeUTF8 's corresponding library seems to be missing while packaging . I am not sure where to include this issue for tflite. Please reassign to that github issues. thanks

[2021-10-04 13:21] sushreebarsa commented on #52208
@FavorLionQY Sorry for the late response! Could you please refer to the [link ](https://www.tensorflow.org/install/source#linux)to build from source and have a look on the similar issue [link1](https://github.com/tensorflow/tensorflow/issues/36510), [link2 ](https://github.com/tensorflow/tensorflow/issues/34067), [link3 ](https://github.com/tensorflow/tensorflow/issues/43947)for reference .Please

[2021-10-04 14:37] nouiz commented on #36465
Hi, I understand that memory problems aren't great. Just a few notes:
- cudaMallocAsync isn't made to help the problem you encounter. It helps only for some other cases.
- You need TF nightly build to use cudaMallocAsync for now. The working version will be available in the next TF release.

About your issues. I tried what you describe years ago with another software then TF. It was something hard

[2021-10-04 14:59] #36170 closed

[2021-10-04 14:59] #51979 closed

[2021-10-04 14:59] #34719 closed

[2021-10-04 15:05] AndreyPlotkinOr commented on #49263
Adding "--jobs 1" to build parameters helped to overcome the issue.

[2021-10-04 15:06] AndreyPlotkinOr commented on #49263
Good point!

[2021-10-04 15:09] AndreyPlotkinOr commented on #51799
By the way, the issue comes from the fact that I build tensorflow without GPU support.

[2021-10-04 15:35] Eli177 commented on #36465
The processes are sequential, the next model is not built until after the previous one has finished the training and evaluation step. I call subprocess.run(my_training_script.py) which is a blocking call, i.e. the next call cannot occur until the subprocess has finished.
Tensorflow is just not deallocating memory, even after processes finish. In order to clear the gpu memory I have to kill the pro

[2021-10-04 15:59] #51876 closed

[2021-10-04 16:05] sanatmpa1 commented on #52184
@Space-Fighter

As per the [script](https://pastebin.com/kCr8DDLk) that you provided, You have provided input `x` as `None` in this line `c1, p1 = down_block(None, f[0], input = True) #128 -> 64` and so while trying to reproduce your code, I am getting the error `TypeError: Inputs to a layer should be tensors. Got: None` [gist here](https://colab.research.google.com/gist/sanatmpa1/e92bbc22183fc6d3

[2021-10-04 16:11] sanatmpa1 commented on #52176
@guan-yuan,

While updating TF. have you updated your corresponding CUDA version to 11.2 as well? You can refer to the [tested build configurations](https://www.tensorflow.org/install/source#gpu) which shows the configurations which are recommended.

[2021-10-04 16:39] bhack commented on #48549
@qlzh727 Can you help to route this? Why it was introduced?

[2021-10-04 16:40] deduble commented on #48868
This solution (the answer on the issue) is for PYTHON. THIS IS PYTHON ISSUE. SPECIFICALLY STORE INSTALLED WHATEVER YOUR PYTHON CODE YOU ARE RUNNİNG. ADD THIS TO THE TOP OF THE FILE. E.G. IF YOU ARE RUNNING THE CODE WITH `python main.py`, add below code to top of the main.py file

[code]
Change path accordingly with your cuda version.

[2021-10-04 16:43] sanatmpa1 commented on #42817
@freeman-1995,

As per this [blog](https://blog.tensorflow.org/2018/11/pushing-limits-of-gpu-performance-with-xla.html), I can infer that XLA is available with Tensorflow from version 11.121. Let me know if it answers your question. Thanks!

[2021-10-04 16:50] mihaimaruseac commented on #51743
Closing as this has been fixed while I was OOO.

[2021-10-04 16:50] #51743 closed

[2021-10-04 16:59] #35860 closed

[2021-10-04 17:17] sanatmpa1 commented on #42670
@yangw1234,

As the version numbers used for TF and TF Java are different. Your should update the version as `0.2.0` if you want to install `TF 2.3.0` . Here's a [documentation](https://github.com/tensorflow/java/#tensorflow-version-support) that provides the mapping between `TF` and `TF Java`

[code]
Let me know if it answes your question. Thanks!

[2021-10-04 17:34] oc222 commented on #48868
Thank you, but this still didn't solve my error. I had to copy the files into System32 in order for it to find the correct file. Im not sure why this worked but it did.

[2021-10-04 17:36] kat25230 commented on #52210
Hi @mohantym Thanks for the response.
Here is a link to a [gist](https://colab.research.google.com/gist/kat25230/0bf0fc11e043b6b3488027109c8cb904/github_52210.ipynb#scrollTo=I4h_4N0mGDJf) with a train code.

Note that the issue i'm seeing is happening when ssh-ing into a TPU-VM and running locally.
Using this gcloud commands:
[code]
and to ssh:
[code]
Followed this quick start [guide](https://clou

[2021-10-04 17:55] Saduf2019 commented on #52180
@louim-lbs
Please refer to [this comment](https://github.com/tensorflow/tensorflow/issues/49263#issuecomment-857868501) and let us know.

[2021-10-04 17:59] Saduf2019 commented on #52179
@AdeshChoudhar
The pr has been assigned for reviewing and once it is merged this issue will move to closed status.

[2021-10-04 18:03] qlzh727 commented on #48549
I think this is expected.

The core issue here is that the invocation of `model.build(input_length, input_channels)`.

Note that the input_shape is expected to contain batch dimension. The passed param here doesn't contain the batch dim, which make the model record the input shape to be a 2D tensor (rather than 3D). When the model sees the real input, the will try to compare the expected shape aga

[2021-10-04 18:09] Saduf2019 commented on #52192
@Loganpi
Can you try os.environ["CUDA_VISIBLE_DEVICES"]="0". [if this dis not work please try os.environ["CUDA_VISIBLE_DEVICES"]="" ]

[2021-10-04 18:26] ianzur commented on #52234
Moved issue to keras repo.

Closing here.

[2021-10-04 18:26] #52234 closed

[2021-10-04 18:52] Vadim-Maklakov opened #52249 "Error compilation NVCC for TF 2.5 from source using Clang-11 for Debian 11"
Hi all!

**System information**
- OS Platform and Distribution: Linux Debian 5.10.0-8-amd64
- Mobile device : No
- TensorFlow installed from: try compile from source
- TensorFlow version: 2.5.1
- Python version: 3.8.12
- Installed using: virtualenv
- Bazel version: 3.7.2
- Compiler version: Debian Clang version 11.1.0-++20210804031632+1fdec59bffc1-1~exp1~20210804132251.11
installed from  https://a

[2021-10-04 18:57] rcrowe-google commented on #49182
This is a side effect of how Evaluator expects to receive examples, and can be fixed by adding to the ModelSpec in the EvalConfig:
[code]
So far, this has always fixed this problem for me.

[2021-10-04 19:14] PSilvestre commented on #50681
This would also be useful for me! We want to use XLA for a research project.

[2021-10-04 19:38] mihaimaruseac commented on #51879
working as intended

[2021-10-04 19:43] mihaimaruseac commented on #47691
We now have wide ranges of dependencies

[2021-10-04 19:49] AndreyPlotkinOr opened #52250 "Compiling TF 2.6 in debug mode on Windows env. (hude pdb file)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): r2.6.0
- P

[2021-10-04 19:52] mihaimaruseac commented on #44654
This should be fixed now, I think?

[2021-10-04 19:56] mihaimaruseac commented on #51925
We are not yet ready for C++17 support

[2021-10-04 19:59] mihaimaruseac commented on #50204
This should be fixed now, I think?

[2021-10-04 19:59] njeffrie commented on #35794
I'm going to close this, since it's been a while since any update. Please reopen if this issue persists, or if new information is available.

[2021-10-04 19:59] #35794 closed

[2021-10-04 20:04] njeffrie commented on #44322
I have changed how we package tflite models in our examples. Now we include the quantized person detection model under `tensorflow/lite/micro/models`. I've been meaning to update the example to include full training which would help if you wanted the float model, but for now you can find the training and various models (float, quantized)  [https://github.com/mlcommons/tiny/tree/master/v0.5/trainin

[2021-10-04 20:05] #44322 closed

[2021-10-04 20:23] felker commented on #50607
@whatdhack could you point me to where the `tensorflow.keras.layers.LSTM`  --> `TensorList` --> `DT_VARIANT` usage occurs in the source code?

[2021-10-04 20:48] louim-lbs commented on #52180
I need this specific version (<= 2.4) for compatibility issue with other packages. So I won't try newer ones, although it surely might work.

But I find an other way: using tensorflow windows wheel provided by @fo40225 at [https://github.com/fo40225/tensorflow-windows-wheel.git](url).

[2021-10-04 21:10] tazr commented on #21185
@mohantym It is because you are running both programs sequentially, rather than from two different processes, as expected. In a single collab you could perhaps simulate that by using different graphs:

    from glob import glob
    import sys
    print('sys:', sys.version)
    import tensorflow.compat.v1 as tf
    print('tf:', tf.version.VERSION)
    tf.disable_v2_behavior()

    with tf.Graph().a

[2021-10-04 21:43] tomerk commented on #40261
@owni1337  sorry if this is too late, but you can grab the numpy value of an eager tensor `tensor.numpy()`

@cccat6 As mentioned above, `model.predict` Model.predict is a top-level API designed for batch-predicting outside of any other loops. Because it is designed for batch prediction and comes with other functionality, it comes with an inherently higher overhead. Much of this overhead is python

[2021-10-04 21:43] #40261 closed

[2021-10-05 01:15] EricTheRed20 commented on #52160
Ouch.  Yes, you are right.  It might work.  I've been down that track before - of building from source and it was a nightmare.  I think that it a good idea for someone who knows what they are doing to update the library for the Mac so that it works in XCode for both Intel and the M1 processor.   As you say they have done it for pip.  They don't however ask people to build from scratch for pip.  Ca

[2021-10-05 01:34] freedomtan commented on #52160
I can confirm that `bazel build --config opt --cpu=darwin_arm64 --host-cpu=darwin_arm64 //tensorflow/tools/lib_package:libtensorflow` with bazel 4.2.1 works on my M1 machine.

[code]

I don't work for TensorFlow or Google. I guess there is no darwin_arm64 binary build available because tf master branch is still with bazel 3.7.2 which doesn't support darwin_arm64 well.

[2021-10-05 01:49] limhj23 commented on #43800
I am using pyarmor to obfuscate my python script.
So my brief version of code is like below
`python
class Trainer():
    def __init__(self, x):
        """ skip this part for brief explanation """

    def train_step(self):
        @tf.function
        def default_grad(x, y, optimizer, train_metric):
            with tf.GradientTape() as tape:
                logits = self.model(x, training=True)

[2021-10-05 02:36] rllin opened #52252 "tf.data.service worker occasionally fails "to send worker update" and will be unrecoverable"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Mostly congruent to https://github.com/tensorflow/ecosystem/blob/master/data_service/tf_std_data_server.py
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Image based on `https://gcr.io/deeplearning-platform-release/tf2-gpu.2-5`
- TensorFlow installed from (source or

[2021-10-05 02:36] robotjellyzone opened #52253 "Incorrect Links under API Reference"
## URL(s) with the issue:

Please provide a link to the documentation entry :
https://www.tensorflow.org/community/contribute/docs#api_reference

## Description of issue (what needs changing):

### Clear description

Under the description of  "API Reference", there is a link to a google doc for [Tensorflow 2 API Docs Advice](https://docs.google.com/document/d/1e20k9CuaZ_-hp25-sSd8E8qldxKPKQR-Skwoj

[2021-10-05 02:41] robotjellyzone commented on #52253
I can update this doc if this issue seems to be a correct doc-bug and I will surely make one PR in no time! Just need an approval ! @lamberta

[2021-10-05 03:05] #48697 closed

[2021-10-05 03:08] logankilpatrick commented on #52239
I am not on a VPN and running the most up to dat safari version.

[2021-10-05 03:38] sjtusmartboy opened #52254 "issue with tf.saved_model.save"
https://github.com/tensorflow/tensorflow/issues/51587

I cannot understand why this serious issue is not paid any attention for such a  long time

[2021-10-05 05:02] Dobiasd commented on #44654
Just tried this minimal `Dockerfile` with the latest versions of `pylint` and `tensorflow`:

[code]

Output:

[code]

So, no, it's not fixed.

[2021-10-05 05:59] #51898 closed

[2021-10-05 06:06] mohantym commented on #52196
Hi @Saduf2019 ! Could you please look at this issue ?User has this issue in Docker. The above code is running without error in Colab.Attaching [GIST](https://colab.sandbox.google.com/drive/1H2dw78EZHBMT4O6tHSpgUzfGR6oS7vfv?resourcekey=0-8zAYiBhUN9Zz_DgKfQXASw#scrollTo=l0jV8xA2Vibv) for reference along this [thread ](https://forums.developer.nvidia.com/t/tf-trt-optimization/179447/5 )with similar E

[2021-10-05 06:29] mazeltovlee commented on #51240
Hi, thanks for bringing up this issue, can I know how this inconsistency bug is fixed? Maybe a related PR link can help?

[2021-10-05 06:59] #52070 closed

[2021-10-05 07:05] misheeltoli commented on #48671
I have a same problem with setPrecisionLossAllowed option. @bmmo Have you found the solution?

[2021-10-05 07:11] jvcrnc commented on #40912
Can this issue be reopened?
With TF 2.6 I'm experiencing exactly the same problem.
Thie issue can be reproduced with the code of the first post.
Also with tf-nightly the issue is still there.

ValueError: indices.shape[-1] must be <= params.rank, but saw indices shape: [?,2,2] and params shape: [] for '{{node lookup/lookup_call}} = ResourceGatherNd[Tindices=DT_INT32, _output_shapes=[[?,2]], dtype=

[2021-10-05 07:20] Vadim-Maklakov commented on #52249
Hi all!
Uninstall nccl and try compile without nccl with thist command remain setting above:
[code]

and get this error log with contain pointers to nccl:

[code]

[2021-10-05 07:39] stist1111 opened #52255 "Model Maker Object Detection Tutorial Bug"
I ran the Model Maker Object Detection Tutorial via Colab.
(https://colab.research.google.com/drive/1DhxMGuQ9ep9mrfDBrFBx47zmOeEOn9_W#scrollTo=qhl8lqVamEty)

However, a problem occurred in
 `model = object_detector.create(train_data, model_spec=spec, batch_size=8, train_whole_model=True, validation_data=validation_data)`.

[code]

Please solve this problem.

[2021-10-05 07:56] Petros626 commented on #23613
hey thank you for your answer, it seems that this works for some people, but in my case i have this issue:
![bazel](https://user-images.githubusercontent.com/62354721/135983141-b56f4695-1fa1-4e53-8a15-3dfbf4506f50.JPG)

[2021-10-05 07:59] #52071 closed

[2021-10-05 07:59] #52072 closed

[2021-10-05 08:00] Ramsonjehu commented on #52092
Hi @Saduf2019 ,
**_Is there any specific reason for using 2.3.2?_**
Yes, as i mentioned before I'm Trying to use NXP's eIQ portal application which requires TF v2.3.2. so I can't upgrade to TF v2.6.

**_Also can you try:
Could you please try and let us know:
$ bazel clean
$ ./configure # make sure to choose gpu support**
I couldn't run ./configure, instead i tried running python configure.py and c

[2021-10-05 08:35] arturdryomov commented on #48001
@kumariko, according [to the Google issue](https://issuetracker.google.com/issues/183419289) conversation — a manifest declaration is required to use OpenCL. It would be great if the TF AAR included such declarations so the manifest merger could propagate them to consumer applications.

[2021-10-05 08:36] EricTheRed20 commented on #52160
Thanks for doing that.  It is good news that it compiles for the M1 Mac.   Did it build all six .dylib files.

The ideal would be to have one library that supports both the Intel Mac and the M1 Mac.  I have a library that does that and it returns the value "libtensorflow.dylib are: arm64 x86_64" when you run the command above.  You can then include it in an XCode project and XCode will build an ex

[2021-10-05 08:39] sauravsolanki commented on #46637
Warning says it all.
[code]

[2021-10-05 09:03] ghylander commented on #47691
i'm unsure about what that means

[2021-10-05 09:19] NoBetterThanNoise commented on #41448
this example uses a single output. the problem happens when using multiple output models in keras. i believe the issue is still ongoing

[2021-10-05 09:54] mohantym commented on #17691
Hi @iyukuni !
It seems you are using older versions(1.x versions) of Tensorflow. We recommend that you upgrade  your code base to 2.6  versions as many features and bug fixes has been done in newer versions and create a new  issue still persists in newer versions. Please follow this thread for installation in[ Mac.](https://developer.apple.com/metal/tensorflow-plugin/)Thanks!

[2021-10-05 09:54] #17691 closed

[2021-10-05 10:14] mohantym commented on #52255
Hi @stist1111!
Could you please the issue template ? it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks!

[2021-10-05 10:23] sanatmpa1 commented on #52135
@RomanFoell,

I tried replicating it with Spyder 4.2.1, but I am not getting the error mentioned. By any chance can you try with spyder `4.2.1` and let us know if you're facing the same?

[2021-10-05 11:50] amoghht opened #52258 "Building tflite with xnnpack on windows 10"
hello team,

i wanted to use xnnpack with tflite on my windows 10 machine. found out that we need to build tf from source with tflite_with_xnnpack=true flag. i was not able to build successfully ,and I am not sure I am following the correct steps or not as I didn't get proper installation guide for building tf with xnnpack on windows. It would be helpful if I get any documentation or resource to b

[2021-10-05 11:59] #23888 closed

[2021-10-05 11:59] #22411 closed

[2021-10-05 12:09] MaoXianXin opened #52259 "The difference in the return order of object detection results in tf2.5-cpu and tf2.6-gpu"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://www.tensorflow.org/lite

[2021-10-05 12:59] #24474 closed

[2021-10-05 13:09] Mizanur4E opened #52260 "No gradient is provided to any variable. This occurs only when I want to use lambda layer for keras.argmax function and keep a model non trainable"
`def define_gan(g_model, d_model,timestep):

    discriminator.trainable = False
    generator.trainable= True

    a = Input(shape=(timestep,))
    b = g_model(a)
    c=K.argmax(b,axis=-1)
    output_d = d_model(c)
    model = Model(inputs=a,outputs=output_d)

    # compile model
    opt = Adam(lr=0.0002, beta_1=0.5)
    model.compile(loss=['binary_crossentropy'], optimizer=opt,metrics=['accuracy

[2021-10-05 13:21] sanatmpa1 commented on #52240
@jayaBalaR,

Can you provide us a simple reproducible code snippet or colab gist of the issue to expedite the trouble-shooting process? Thanks!

[2021-10-05 13:36] jayaBalaR commented on #52240
@sanatmpa1
I have used the code in this https://www.tensorflow.org/lite/convert/
# Convert the model
converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir) # path to the SavedModel directory
tflite_model = converter.convert()

# Save the model.
with open('model.tflite', 'wb') as f:
  f.write(tflite_model)

to convert my saved_model to tflite model, and it fails in the first line.
I

[2021-10-05 13:38] tykwon97 commented on #52255
Thanks for the reply @mohanty

The issue template is as follows.

`https://colab.research.google.com/drive/1DhxMGuQ9ep9mrfDBrFBx47zmOeEOn9_W#scrollTo=qhl8lqVamEty`

We inadvertently did not allow access.
Since access is allowed, you can check the error by entering the link.

----------------------------------------------------------------------------------------------------------------------------

[2021-10-05 13:44] mdanatg commented on #43800
Thanks. Basically this would require autograph to work in offline mode. It doesn't support that at the moment, so it would need some improvements to work. I don't think it can easily work with the current API.

The only workaround would be to turn autograph off, but that may require rewriting your control flow by hand (i.e. you'd need to write `tf.while_loop` instead of `for i in tf_range`. It's w

[2021-10-05 14:28] #52170 closed

[2021-10-05 14:36] kumariko commented on #35820
I was able to reproduce your issue in Tf 2.6 , please find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/e31dd1d5169bcf5ddd38a81e69e03876/35650.ipynb#scrollTo=c3LN0qQa_b4E).

[2021-10-05 14:37] limhj23 commented on #43800
Thank you for your explanation.
It sounds this job is going to be tough to me but let me try to make it clear.
So, what I understood is that there is one option that is turning off the autograph while rewriting the control flow, and there is another option that is keeping the autograph by doing mode 1 and 2.
In mode 1, would the Python code, to be transformed through the call, be the entire script

[2021-10-05 14:47] mdanatg commented on #43800
Yes, sorry you don't have any good options right now.

The second option would likely need us to implement some improvements, otherwise it would take quite a bit of work for you to complete.

For mode 1, it would be just the tf.function parts, as before. The way I think it could work is that you'd run the python script once (without obfuscation) to trigger the transformations (e.g. a fake training

[2021-10-05 14:59] #51963 closed

[2021-10-05 15:01] timmy-ops commented on #32592
Hi @robertah,

I think I have the same problem at the moment. I get an RMSE of about 4500 instead of 900 (with a batch_size of 5). Could you help me? I dont even understand why the metrics should be divided by the batch_size...

How did you solve the problem?

[2021-10-05 15:07] Space-Fighter commented on #52184
@sanatmpa1 oh minor correction in the post i mentioned the following line -
![image](https://user-images.githubusercontent.com/63576756/136048511-c37f4e93-a6a9-41b0-aced-7834b057de79.png)
but i mistakenly sent my old script -
![image](https://user-images.githubusercontent.com/63576756/136048696-6c9ebf1d-17e2-417c-afdf-54323d328824.png)

Here is the script -
[SCRIPT](https://gist.github.com/Space-F

[2021-10-05 15:07] Saduf2019 commented on #52250
@AndreyPlotkinOr

Apparently this is an issue of visual Studio. Please take a look at this thread for workarounds
https://software.intel.com/en-us/forums/intel-visual-fortran-compiler-for-windows/topic/362147
Thanks!

You could also refer to these links and let us know if it helps: [link](https://github.com/tensorflow/tensorflow/issues/31610#issuecomment-782466060),#32366, #38084

[2021-10-05 15:36] sanatmpa1 commented on #41086
@contractorwolf,

We are checking to see if this is still an issue. Can you try building to latest stable version of TF i.e `2.6.0` using this [guide](https://www.tensorflow.org/install/source_windows) and let us know if the issue still persists? Thanks!

[2021-10-05 15:39] RomanFoell commented on #52135
Hi sanatmpa1,

I did not try it on my Remote Server, so the setting in my first post, but I tried it on my Laptop:

****System information**
- OS Platform and Distribution: Windows 10
- TensorFlow installed from: binary? (conda install)
- TensorFlow version: 2.6.0
- Python version: 3.9.7
- Installed using: pip & conda
- Bazel version: ?
- GCC/Compiler version:  10.2.0
- CUDA/cuDNN version: 8.2.1 &

[2021-10-05 15:40] mihaimaruseac commented on #44654
Oh, it's fixed in nightly, not in the released TF.

[2021-10-05 15:41] niciBume opened #52263 "Pruned TFLite model has invalid model identifier after post training quantisation"
### 1. System information

- Linux Ubuntu 20.04
- Pip TensorFlow package version 2.6.0

### 2. Code
Reproducable code in this [gist](https://colab.research.google.com/gist/niciBume/2fb8d9eb36d5e13d8faaea9e1273e980/tensorflow-lite-debugger-colab.ipynb#scrollTo=RD0CEfccGN2C)

### 3. Description
After pruning a keras model according to [tf colab](https://www.tensorflow.org/model_optimization/guide/pr

[2021-10-05 15:45] mihaimaruseac commented on #52250
Unfortunately, we don't fully support a debug compilation. In all operating systems, this would result in binaries that are extremely bloated.

You could try using per file options to only add debug info to some objects.

[2021-10-05 15:47] Dobiasd commented on #44654
Oh, sorry. And thanks! :slightly_smiling_face:

The following works nicely:

[code]

:tada:

[2021-10-05 15:49] mihaimaruseac commented on #44654
We'll cherry-pick this on the 2.7 branch and from RC1 (RC0 is too late as the builds started) this should be the default

[2021-10-05 15:52] mihaimaruseac commented on #52254
Duplicates #51587

Please don't open duplicate issues to raise awareness to other other as this wastes time. Issues are triaged and will be resolved pending time / questions will be asked on the original issue as needed.

[2021-10-05 15:52] #52254 closed

[2021-10-05 16:04] nikroc896 commented on #42258
@sanatmpa1
It wasn't an issue in tf2.2 at the time so it should not persist. I encountered it just in tf2.0 and tf2.1

[2021-10-05 16:04] #42258 closed

[2021-10-05 16:09] mihaimaruseac commented on #52125
The team responsible for the official Google TF builds has very few people and cannot manage the large space of `{operating system} x {python version} x {dependency versions} x {CPU/GPU} x {C/Python/C++/Java/etc.} x {TF/TFLite/etc}`. Given that more support is not really rewarded at perf review time, the team really has to limit amount of support offered.

Custom builds are available via SIG Build

[2021-10-05 16:09] Saduf2019 commented on #52180
@louim-lbs
Can you please confirm if the above solutions helps resolve the issue faced by you.

[2021-10-05 16:11] mihaimaruseac commented on #52218
Downgrading to 1.x is a bad advice.

Please make sure your TF version is 2.x and the dependencies you are using are also using TF 2.x.

Based on

[code]

(from your error log, but formatted properly), it seems the error comes from `object_detection` wheel.

[2021-10-05 16:14] Saduf2019 commented on #52092
@Ramsonjehu
 Did you try : If you still face error please follow this comment. above, do let us know.

[2021-10-05 16:18] mihaimaruseac commented on #52106
TF Enterprise is provided via GCP. Pricing details should be obtained via Google Cloud sales.

TF itself is open source, free to use.

GitHub is not a good place to discuss this. This space is for issues related to the code, bugs, feature requests, etc.

[2021-10-05 16:18] #52106 closed

[2021-10-05 16:20] mihaimaruseac commented on #52143
Why are you installing mac wheel when you are on Linux?

[2021-10-05 16:30] mohantym commented on #52239
@sanatmpa1 ,Could you please look at this issue?

[2021-10-05 16:33] ailton-felix commented on #50575
Hello,

any news about Softmax `warning`? I'm curious if it affects a model's performance. I also got the warning after upgrading the tensorflow version from 2.2 to 2.6

```2021-10-05 13:25:23.086323: W tensorflow/core/grappler/costs/op_level_cost_estimator.cc:689] Error in PredictCost() for the op: op: "Softmax" attr { key: "T" value { type: DT_FLOAT } } inputs { dtype: DT_FLOAT shape { unknown_r

[2021-10-05 16:45] sanatmpa1 commented on #48455
@StarOnTheSky,

We are checking to see if this is still an issue, Can you try builiding the latest stable version of TF i.e `2.6.0` using this [guide](https://www.tensorflow.org/install/source) and let us know if the issue still persists? You can also refer to the tested build configurations [here](https://www.tensorflow.org/install/source#tested_build_configurations).Thanks!

[2021-10-05 16:57] sanatmpa1 commented on #46000
@ZOUG,

As you have already posted about this issue in conda repo, Can you confirm if we are good to close this issue? Thanks!

[2021-10-05 16:58] mohantym commented on #52252
Hi @sanatmpa1 ! Could you please look at this issue .Attaching [Gist f](https://colab.research.google.com/gist/mohantym/4712a0805340cebc0501c9d5db8aa357/github_52252.ipynb)or reference , Process is not ending once started.

[2021-10-05 17:06] mohantym commented on #17493
Hi @lightingghost ,we are checking to see if you still help in this issue, Have you tried 2.5 version which is available on Mac M1 ? Feel free to create a new issue if the issue persists.

[2021-10-05 17:14] mohantym commented on #19967
Hi @pawarrick! we are checking to see if you still you need help in this issue , Have your tried TF 2.6 yet ? Please create a new issue if the issue persistss.

[2021-10-05 17:30] probonopd commented on #52125
I understand that the team responsible for the official Google TF builds cannot do builds for everything.

So would it be possible to

---

provide source distributions on PyPI and let https://www.pypa.io/ do the building?

https://github.com/pypa/packaging-problems/issues/547#issuecomment-926882371

[2021-10-05 18:05] pawarrick commented on #19967
This was resolved a while ago when sample loss weighting was supported with datasets. Thanks

[2021-10-05 18:05] #19967 closed

[2021-10-05 18:22] preethivenkatesh commented on #52151
hi, we are working on reproducing this issue. We will get back to you shortly

[2021-10-05 18:57] lamberta commented on #52253
Thanks @robotjellyzone , added you to the assignees

[2021-10-05 19:16] AnastGerus opened #52265 "TensorFlowLite with XNNPack error with dynamic shapes (while loop in model appeared after TFLite conversion)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- Mobile device if the issue happens on mobile device: ARM64
- TensorFlow installed from (source or binary): from source
- TensorFlow version (use command below): nightly 2.8.0-dev20211004  and 2.6

[2021-10-05 19:32] shariq-audiofocus opened #52266 "TFLite: How to mix floating-point kernels with quantized kernels for different parts of the graph."
## URL(s) with the issue:
https://www.tensorflow.org/lite/performance/post_training_quant

## Description of issue (what needs changing):
On this page it says:

Where is it documented how this can be done?

### Clear description

I would like to create a TFLite model where the first and last layer use floating-point kernels and the intermediate layers use use quantized kernels. From the bold secti

[2021-10-05 19:56] mihaimaruseac commented on #52125
Wouldn't that result in timeouts? A current builds takes hours.

[2021-10-05 19:57] mihaimaruseac commented on #52125
We could attempt to provide one though

[2021-10-05 20:03] mpromonet commented on #52155
Hi freedomtan,

Thanks for your answer, I was trying to build tensorflow lite with gpu support for running it on Ubuntu20.04 not for Android.
It seems the `#define Status int` in `X11/Xlib.h` brings conflict, I tried to put some `#undef Status` build is continuing, but raise others problems with eigen.

Best Regards,
Michel.

[2021-10-05 21:00] rllin commented on #52252
It would also be ideal if I could understand what causes this failure so I can perhaps construct my dataset to avoid it in the first place.  Thanks!

[2021-10-05 21:04] shariq-audiofocus commented on #52266
Perhaps this isn't actually possible since it's on the TFLite Roadmap:

[1] https://www.tensorflow.org/lite/guide/roadmap
[2] https://github.com/tensorflow/tensorflow/issues/21596

[2021-10-05 21:23] mihaimaruseac commented on #52125
There might be an issue here in that TF builds with Bazel (no cmake support) and pypa might not be able to run these.

[2021-10-05 21:35] paulaceccon commented on #27769
That didn't work for me, using that fix in tf-nightly

[2021-10-05 21:54] mihaimaruseac commented on #52125
But that is no longer TF issue, Bazel is a separate team

[2021-10-05 21:59] mihaimaruseac commented on #52125
CC @perfinion, based on the SIG Build discussion

[2021-10-05 22:12] jvishnuvardhan commented on #52178
@prakharverma Agree with you that there is small discrepancy in 8th decimal of the predictions between tensorflow model and keras model. As the initial model is a keras model, using `load_model` to load model results in identical results when compared to original model.

I think (may be I am wrong) when you load a keras model as a TF model, under the hood, there might be some conversions happening

[2021-10-06 00:07] mihaimaruseac commented on #52160
We don't have access to M1 devices to build and test on so the only way this can progress is if someone from community owns the build and sends the relevant PRs.

[2021-10-06 00:19] freedomtan commented on #52160
Dunno if there is a way to build fat/universal binaries with current tensorflow and bazel settings. At least, you can build binaries for both architectures separately and use tools, such as lipo, to create universal binaries.

[2021-10-06 01:11] Sueoka-ppc opened #52272 "Build r2.6 fails when build ppc64le machine"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Ubuntu 18.04**
- Mobile devi

[2021-10-06 03:57] mohantym commented on #19967
Thanks @pawarrick for confirming the same.

[2021-10-06 04:30] tilakrayal commented on #52258
@amoghht ,
We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled and the tensorflow version you are using, could you please do so as it helps us analyse the issue.Thanks!

[2021-10-06 05:30] Mizanur4E commented on #52260
Also When I keep discriminator.trainable= True. The gan model works fine and learns.

[2021-10-06 05:43] Mizanur4E commented on #52260
Interestingly if the generator is kept non-trainable and the discriminator keeps trainable then also it works. Only for the case when generator trainable and discriminator non-trainable produce the issue. In that case, is it the lamda layer causing the issue? Generator learns outside the gan model properly.

![image](https://user-images.githubusercontent.com/66197947/136146755-afffd33c-696e-44b0-9

[2021-10-06 07:10] handaeho opened #52275 "RuntimeError: Encountered unresolved custom op: BoostedTreesEnsembleResourceHandleOp. Node number 0 (BoostedTreesEnsembleResourceHandleOp) failed to prepare."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No): Yes

**Descri

[2021-10-06 07:16] omxpro commented on #52143
I tried Linux wheel too

[2021-10-06 07:23] mohantym commented on #52210
Hi @sanatmpa1 ! Could you please look at this issue! Training got 86.84 % accuracy  when port was set  to 8080 . but was  throwing error

,  User is having issue in while operating in cloud window through SSH. Providing Gist in [2.5](https://colab.research.google.com/gist/mohantym/753539baaf53160190fabb890b343892/github_52210.ipynb#scrollTo=_LDpTv4mbOS9) , [2.6](https://colab.research.google.com/g

[2021-10-06 07:27] tykwon97 commented on #52255
Hi @mohantym
there's something I haven't said
An error occurs when running on gpu in colab, but no error occurs when running the same code through cpu

[2021-10-06 08:06] tilakrayal commented on #52253
@robotjellyzone ,
Please feel free to submit a PR for the requested change or share the link where requested change is to be made.Thanks!

[2021-10-06 08:07] mohantym commented on #52255
Ok @stist1111! Thanks for confirming that. Could you please look at  these similar issues .[ Link1](https://stackoverflow.com/questions/53698035/failed-to-get-convolution-algorithm-this-is-probably-because-cudnn-failed-to-in) .Could you please confirm the Tensorflow version,Cuda and Cudnn version too as It seems to be a Cuda mismatch issue while running  in GPU? Tested configurations can be found

[2021-10-06 08:13] Saduf2019 commented on #52180
@louim-lbs
Sure please update us after upgrading tf version.

[2021-10-06 08:23] prakharverma commented on #52178
Hi, @jvishnuvardhan! Thanks for the response! Yes, I agree original model and the Keras load model produces similar results. I just wasn't sure why the tf load model is producing different results, that too not always but only for certain inputs and also the precision varies with inputs.

Is there a way to set the precision in the tf load model or check where this conversion is happening exactly?

[2021-10-06 09:11] mohantym commented on #52265
Hi @AnastGerus ! Could you look at similar issues for reference  . [Link1 ](https://github.com/tensorflow/tensorflow/issues/38036),[Link2](https://stackoverflow.com/questions/66789210/converting-tf-keras-model-to-tflite-model-is-slow-and-doesnt-work-with-xnn-pac),[Link3](https://www.tensorflow.org/lite/performance/nnapi)

[2021-10-06 09:16] mainguyenanhvu commented on #44137
Hi all,
I used multiprocess with apply_async to run multi process with GPUs. I trained model with use_multiprocessing=False but it returned error:
[code]

[2021-10-06 09:18] mainguyenanhvu commented on #41450
Hi all,
I used multiprocess with apply_async to run multi process with GPUs. I trained model with use_multiprocessing=False and config.gpu_options.allow_growth = True but it returned error:
[code]

[2021-10-06 09:51] Mizanur4E commented on #52260
https://gist.github.com/Mizanur4E/0223074ea9f45b33b42357155b3a5b46
please have a look

[2021-10-06 10:04] tilakrayal commented on #52266
@shariq-audiofocus ,
We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled, could you please do so as it helps us analyse the issue.Thanks!

[2021-10-06 10:59] #27246 closed

[2021-10-06 11:31] Parth-Shah-Tool-Kit commented on #48868
Hi I am also facing the issue...

`AttributeError: module 'os' has no attribute 'add_dll_directory'`

my main error being:

`
2021-10-06 16:50:11.172266: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found
2021-10-06 16:50:11.172767: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above c

[2021-10-06 11:36] AnastGerus commented on #52265
Hi @mohantym,
Yes, I've seen these links. I would also benefit from [this ](https://github.com/tensorflow/tensorflow/issues/42491) request, but it doesn't look like something that will be added soon.
In other ones, the root of the issue is dynamic shapes of input (resizing basically), but I don't get where it can come from in my model. I have fixed input size, no resize ops in the model, all ops a

[2021-10-06 11:59] #51989 closed

[2021-10-06 12:27] Mizanur4E commented on #52260
@mohantym  have found the solution?

[2021-10-06 12:31] contractorwolf commented on #41086
@sanatmpa1 I switched to doing this is Colab and made a walk through if anyone wants to see it:
https://colab.research.google.com/drive/1uEkP5j7KM9eSkCUtUyauy7-Dyd5XAY6e?usp=sharing

[2021-10-06 12:59] #52096 closed

[2021-10-06 13:54] tilakrayal commented on #52258
@amoghht ,
Can you please take a look at this [link](https://github.com/tensorflow/tensorflow/issues/38852) with the similar issue.It helps.Thanks!

[2021-10-06 14:25] mihaimaruseac commented on #52143
The official wheels only support x86_64.

[2021-10-06 15:09] #51792 closed

[2021-10-06 15:15] #51936 closed

[2021-10-06 16:04] Loganpi commented on #52192
Hello, in an attempt to solve this problem I moved to linux and setup Tensorflow properly there.
len(tf.config.list_physical_devices('GPU')) gives this error:

E tensorflow/stream_executor/cuda/cuda_driver.cc:271] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected

[2021-10-06 16:15] saxenasaurabh commented on #51393
Do you still see a regression if you don't use `persistent=True` (doesn't seem like you are computing any higher order gradients so functionally your model should be equivalent)?

[2021-10-06 16:34] sanatmpa1 commented on #52210
@kat25230,

As its throwing you `unimplemented error` which means that an operation has not been implemented.. Can you take a look at this [link1](https://cloud.google.com/tpu/docs/cloud-tpu-monitoring), [link2](https://cloud.google.com/tpu/docs/cloud-tpu-tools) and let us know if it helps in monitoring TPU? Thanks!

[2021-10-06 16:36] bhack commented on #52253
Yes what I meant generally (it isn't only for the Docs repository) is to find a balance between the website infos and something technical that could let you to quickly contribute a PR just starting from the community file on the repo and without going to duplicate the source of truth or request to go forth and back too much from Github to the website.

[2021-10-06 16:39] sanatmpa1 commented on #52252
@rllin,

Can you share the stand-alone code or colab gist to reproduce the issue and expedite the trouble-shooting process? Thanks!

[2021-10-06 16:40] #38437 closed

[2021-10-06 16:45] callumm-graphcore opened #52277 "`tf.random.shuffle` is deterministic when XLA is used"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux, Ubuntu 18.04
- TensorFlow installed from (source or binary): Binary (I assume that's what `pip install` does, at least)
- TensorFlow version (use command below): `v2.6.0-rc2-32-g919f693420e 2.6.0`
- Python ver

[2021-10-06 16:53] jvishnuvardhan commented on #52178
@prakharverma When loading keras model as a TF model, there are some conversions required to be compatible as a TF model. I guess one of those conversion steps is introducing this 8th decimal discrepancy some times. I think TF/Keras teams are working on high priority issues so they may not handle this in near future (i guess).

If you have bandwidth, debug the `load_model` path and `tf.saved_model

[2021-10-06 16:55] sanatmpa1 commented on #52240
@jayaBalaR,

I tried this example in the [link](https://www.tensorflow.org/lite/convert/#convert_a_keras_model_) you provided with a slight modification, and I don't see any errors. You can take a look at the [gist here](https://colab.research.google.com/gist/sanatmpa1/7c153b94125e63066cfcdcf54cfd03e3/52240.ipynb). If this is not the right code, Please point me to the right example, or provide a c

[2021-10-06 16:59] sanatmpa1 commented on #52214
@js-ryu,

Can you take a look at this [thread](https://githubmemory.com/repo/google/automl/issues/896) which discuss about a similar issue on batch inferencing, and let me know if it helps? Thanks!

[2021-10-06 17:04] jvishnuvardhan commented on #50322
@hidanom closing this issue as this was resolved. Thanks for confirming here https://github.com/keras-team/keras/issues/14838

[2021-10-06 17:04] #50322 closed

[2021-10-06 17:40] #52054 closed

[2021-10-06 17:40] #52058 closed

[2021-10-06 17:43] robotjellyzone commented on #52253
Ok Got it! I try to do it first according to my understanding and then will wait for your suggestions of improvements if any!

[2021-10-06 18:36] bhack commented on #48549
Can we close this?

[2021-10-06 18:53] HafsaBano opened #52278 "2021-10-06 23:46:08.194254: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'nvcuda.dll'; dlerror: nvcuda.dll not found 2021-10-06 23:46:08.198654: W tensorflow/stream_executor/cuda/cuda_driver.cc:269] failed call to cuInit: UNKNOWN ERROR (303)"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2021-10-06 19:26] Vadim-Maklakov commented on #52249
@Artem-B,
 thank you very much!
Tomorrow check yours hypothesis..
I right understand that I must add these parameters `-U_FORTIFY_SOURCE` or `-D_FORTIFY_SOURCE=0` to bazel build command?

[2021-10-06 19:40] #52094 closed

[2021-10-06 20:09] rllin commented on #52252
Unfortunately I'm not certain I can give you a reproduction easily as this requires multiple separate machines.  The closest I can recommend would be probably to follow the ecosystem link I pasted to stand things up in GKE (pretty much exactly how we deploy the workers/dispatchers but on tf 2.5).  And then we consume elements aggressively on MirroredStrategy, e.g.:

[code]

[2021-10-06 20:25] #48549 closed

[2021-10-07 00:43] rthadur commented on #15322
This feature is now supported please refer to https://www.tensorflow.org/lite/guide/build_cmake for Android support. Thank you

[2021-10-07 00:47] rthadur commented on #15840
Contrib has been deprecated please refer to tensorflow/addons for latest updates.

[2021-10-07 00:47] #15840 closed

[2021-10-07 00:53] alanpurple opened #52279 "support TensorRT 8.2"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.7.0rc0
- Are you willing to contribute it (Yes/No): Yes

[2021-10-07 01:51] mohantym commented on #4337
Hi @rueberger! we are checking to see if you still need help in this issue , Have you tried latest stable version TF 2.6  yet? Please create a new issue if the issue is replicating in newer versions.   Feel free to  look up on [this thread ](https://stackoverflow.com/questions/38836269/does-tensorflow-view-all-cpus-of-one-machine-as-one-device)for  an answer.Thanks!

[2021-10-07 02:35] mohantym commented on #9210
Hi @supercoderhawk! Inline with @BoyoChen's suggestion , Have you tried  migrated your code base to latest stable version TF 2.6  yet? Please create a new issue if the issue is replicating in newer version. Thanks!

[2021-10-07 03:07] sushreebarsa commented on #52278
@HafsaBano
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2021-10-07 04:36] bruxe0000 commented on #34636
Hi @kartik4949, do you find any solution?
For me, I tried on TF 2.6, the explanation in its document about the "TimeDistributed" function is logic. I'm so curious how the original Keras can produce "200" in (None, 200, 1, 1, 1024) while the input has no value as 200.

[2021-10-07 05:17] shariq-audiofocus commented on #52266
I don't see how the rest of the template is relevant but I filled it out as best I could.

[2021-10-07 05:40] amoghht commented on #52258
@tilakrayal ,
thank you,will try and update soon

[2021-10-07 05:52] rueberger commented on #4337
Same answer as last time. No longer working on this and have not tried latest

[2021-10-07 06:33] tilakrayal commented on #52253
The issue will move to closed status once the PR is merged.

[2021-10-07 07:12] Vadim-Maklakov commented on #52249
1. Check `--copt=-D_FORTIFY_SOURCE=0 `
with running  this command:

[code]
output for command above:
[code]
compilation failed with next messages:
[code]

[2021-10-07 07:59] ymzlygw opened #52281 "RuntimeError: Encountered unresolved custom op: ReorderAxes. See instructions: https://www.tensorflow.org/lite/guide/ops_customNode number 284 (ReorderAxes) failed to prepare."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installed from (source or binary): Colab
- TensorFlow version (or github SHA if from source): convert model in TF1.x / interpreter in  latest tf-nightly.

I convert a model to tflite using following codes:

    co = tf.compat.v1.lite.TFLiteConverter.from_saved_model(modelName)
    co.target_spec.su

[2021-10-07 08:39] Bhavay192 commented on #52218
Hey @tilakrayal , I will look into the links and let you know about it. Thanks

[2021-10-07 08:45] zdj-creator opened #52282 "SyntaxError: invalid syntax && ImportError: cannot import name pywrap_tensorflow"
**System information**
- Linux Ubuntu 16.04
- TensorFlow version: tensorflow-gpu 1.5
- Python version: 2.7
- Installed using virtualenv: pip
- CUDA/cuDNN version: CUDA9.0 & CUDNN7.0

**Describe the problem**
    Using anaconda to create a virtual environment named tf.
[code]

[2021-10-07 09:01] aoki897 opened #52283 "Build r2.2.0 fails when build ppc64le machine"
when i Compiling tensorflow-gpu from source,I do not know how to solve the following error

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):source
- TensorFlow version:v2.2.0
- Python version:3.6
- Installed usi

[2021-10-07 09:42] aoki897 commented on #52283
a new error is :Fetching ...docker; Cloning 251f6a68b439744094faff800cd029798edf9faa of ht\
tps://github.com/bazelbuild/rules_docker.git.it can`t clone reles_docker.git

[2021-10-07 09:51] chunduriv commented on #52279
@alanpurple, Can you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose).Also can you please elaborate about your Feature and please specify the Use Cases for this feature. Thanks!

[2021-10-07 09:53] Darshvino opened #52284 "Segmentation fault (core dumped) while getting the node attributes from the TF Graphdef"
Dear Tensorflow Team,

I am trying to load the Tensorflow model(frozen graph) and get the attributes of each Node in C++.  Having said that, I am able to get the deserialized object from the model correctly using the below code:

[code]
And I am able to print the Graphdef content and all seems to be right. I am able to get the correct content from the graphDef using the below code.

[code]
but whi

[2021-10-07 10:11] mohantym commented on #52255
Could you please confirm  Tensorflow version ,Cuda and CuDNN version too?

[2021-10-07 10:17] marcocaccin commented on #40309
This issue is in no way resolved and should not be closed.

[2021-10-07 10:27] zdj-creator commented on #52282
Thanks for your  reply! @mohantym
I have tried many times, and the env name is not the problem.And older versions are often preferred in production environments.
Whatever,Thanks.

[2021-10-07 10:38] tykwon97 commented on #52255
Thank you for answer. @mohantym
I use colab.
Is it possible to change the cuda and cudnn versions within colab?
I did a Google search and couldn't find it.

tf version : 2.5.0

Results using !nvidia-smi

[code]

Results using  !nvcc --version

[code]

[2021-10-07 10:53] Saduf2019 commented on #52263
@niciBume
Please refer to these solutions and let us know: [link](https://github.com/tensorflow/tensorflow/issues/32204#issuecomment-703506041),[link1](https://stackoverflow.com/questions/56857400/converting-mobilenet-segmentation-model-to-tflite)

[2021-10-07 11:18] sushreebarsa commented on #52284
@Darshvino Could you please try on the stable version of `TF 2.6.0` and have a look at the [link](https://stackoverflow.com/questions/46785852/while-traversing-graph-in-bfs-order-gives-segmentation-fault-core-dumped-in-c), [link1](https://www.tensorflow.org/api_docs/python/tf/Graph) ,[link2 ](https://github.com/tensorflow/tensorflow/issues/19347)for reference ?Please let us know if it helps?Thank

[2021-10-07 11:21] itamarst commented on #48213
Still waiting for resolution, it's not stale.

[2021-10-07 12:38] Kumudaya opened #52285 "Duplicate PID in multiple GPU"
Tensorflow creates a duplicate PID on all the GPUs. I am running on a system with 2 GPUs and everytime I execute a training, it allocates memory from both the GPU's with the same PID, although one GPU is used to the computations

![image](https://user-images.githubusercontent.com/50949120/136385342-31389d3d-ec38-42ad-816f-1705dd140ab5.png)

[2021-10-07 13:37] ProtossDragoon opened #52287 "[TF-TRT] DefaultLogger INVALID_ARGUMENT: Cannot set empty memory"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Jetson AGX Xavier Jetpack Version 4.5.1 ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): nvidia container i

[2021-10-07 15:55] rthadur commented on #21946
Thank you , I believe this has been added but the contrib folder is deprecated in latest versions . please check tensorflow/addons for further details.

[2021-10-07 15:55] #21946 closed

[2021-10-07 16:26] sanatmpa1 commented on #52239
@logankilpatrick,

We've checked it in `Chrome(Version 94.0.4606.71 (Official Build) (64-bit)), Firefox(78.14.0esr (64-bit)) and also in Safari(Version 14.1.2 (16611.3.10.1.6))`, but we don't see any such shaking issue that you have mentioned.

Can you provide the version of safari you are using and other hardware details if possible? Also try using another device and update us if the problem exis

[2021-10-07 17:03] mihaimaruseac commented on #52218
https://pypi.org/project/object-detection-0.1/#files is not a TF product. So we should not handle this in this repository.

Looking at the package, it lacks a setup.py, so it does not specify what version of TF it needs. The code in the file assumes TF 1.x

[code]

I would recommend not using this package as it only works with TF 1.x it seems but TF 1.x is no longer supported.

Closing this, since

[2021-10-07 17:03] #52218 closed

[2021-10-07 17:19] robotjellyzone commented on #52253
Hi @lamberta 👋🏻 ! I have added my pr at [#1954](https://github.com/tensorflow/docs/pull/1954) so can you please review that PR & provide me with improvement pointers if any !

[2021-10-07 17:22] wei-v-wang opened #52289 "Latest TensorFlow fails to install due to yesterday's Keras requirement change"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu
- Mobile device

[2021-10-07 17:27] desmoteo opened #52290 "Issue with conversion of dilated Convolutions #29509 reappears in versions 2.5.0, 2.5.1 and 2.6.0"
### 1. System information

- OS Platform and Distribution Ubuntu 20.04
- TensorFlow installation (pip package or built from source): pip + official docker images
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.5.0, 2.5.1, 2.6.0

### 2. Code

Minimal model to reproduce issue:

[code]

### 3. Failure after conversion

- Model produces correct results, but it is

[2021-10-07 19:12] demconpeter commented on #43174
Same here today; the extra config lines for gpu_options.allow_growth = True fixed the "NotFoundError: No algorithm worked!" issue for me for code that was running fine on one PC but gave the above problem on another PC with AFAIK the same TensorFlow configuration, same libraries etc but a different GPU (both NVIDIA).

OS: Windows 10 64-bit
TF: 2.4.1
GPU: NVIDIA Quadro T1000 with Max-Q Design (on t

[2021-10-07 21:03] EricTheRed20 commented on #52160
I followed the steps for [building a pip from source](https://www.tensorflow.org/install/source#macos) but using your "bazel build" command.  I'm getting the error "ERROR: The project you're trying to build requires Bazel 3.7.2 (specified in /Users/Eric/.../tensorflow/.bazelversion), but it wasn't found in /opt/homebrew/Cellar/bazel/4.2.1_1/libexec/bin."

Why is it asking me to use an old version

[2021-10-07 22:11] Artem-B commented on #52249
Well, one way or another something ends up running with `_FORTIFY_SOURCES` defined.
I can't tell you why that happens. The fix has already been committed to clang, so if you were to use a nightly build (not sure if it has NVPTX back-end enabled, though) or build it yourself from sources, that should get you past this build issue.

[2021-10-07 22:40] #25784 closed

[2021-10-08 00:13] StarWang commented on #23566
Why is this issue closed? We are still seeing the issue

[2021-10-08 01:41] mohantym commented on #52282
Hi @zdj-creator , Did you try with python 3.6  yet?
[Reference](https://stackoverflow.com/questions/60705802/importerror-cannot-import-name-pywrap-tensorflow)

[2021-10-08 01:45] mvonpohle commented on #28256
After the rollback of the fix, this is now again a problem. When loading index PNGs TF should allow the user to choose whether to use the palette to convert the pixel index or choose to load the raw index value themselves.

Thanks to @alar0330 for the workaround.

[2021-10-08 01:48] ymzlygw commented on #52281
@sushreebarsa Thanks for you reply.
And sorry I should make a more detailed error occurs situation as follows:

**Without change any_code in**
https://github.com/NVlabs/stylegan2/blob/81ae61d7753c6a7b5a38c29aa81aed15adb19c2f/dnnlib/tflib/ops/fused_bias_act.py#L64-L66.
https://github.com/NVlabs/stylegan2/blob/81ae61d7753c6a7b5a38c29aa81aed15adb19c2f/dnnlib/tflib/ops/upfirdn_2d.py#L58-L60
I mean: if

[2021-10-08 02:09] baxterai commented on #38976
Tensorflow requires a function to check if a tensor is empty

[2021-10-08 02:31] mohantym commented on #52255
Hi @stist1111 , I replicated this issue in [TF 2.5](https://colab.research.google.com/gist/mohantym/80f2d61ed8da3807d11942edf47ce527/model-maker-object-detection-tutorial.ipynb#scrollTo=CtdZ-JDwMimd) and resolved in [TF 2.6](https://colab.research.google.com/gist/mohantym/ea4213967e99463b798da29d65342b52/model-maker-object-detection-tutorial.ipynb#scrollTo=-BzCHLWJ6h7q) .
Reference - https://www.t

[2021-10-08 02:33] zdj-creator commented on #52282
Sorry,the existing code is based on python 2.7.Let me try it later.

[2021-10-08 03:15] noxhsxrk commented on #52255
Thank you for answer. @mohantym
Using TF 2.6 can train without any errors
But when the training is complete and export model by this code

[code]
and run

[code]
it caused an exception
[code]

[2021-10-08 03:32] YongyuG commented on #52103
same issues occur for `bazel build --config=elinux_armhf -c opt //tensorflow/lite:tensorflowlite`

[2021-10-08 03:50] mohantym commented on #52265
Hi @AnastGerus @sachinprasadhs ! I  edited above code using below reference ans was getting Assertion error . Can you please checkout  this code base. Attaching [Gist](https://colab.research.google.com/gist/mohantym/a4800e625b86a36171cff0d0cdb89cd7/github_52265.ipynb#scrollTo=ZEVrkAmCpzIW) for Reference.
[Reference:](https://colab.research.google.com/github/joshuacwnewton/ONNX-to-TFLite/blob/maste

[2021-10-08 04:13] raggyie opened #52293 "Cannot create interpreter: Op builtin_code out of range: 142. Are you using old TFLite binary with newer model?"
Hi TensorFlow, I am trying to create a tflite that is trainable on device using your article https://www.tensorflow.org/lite/examples/on_device_training/overview. 

 have been facing this issue  

**Cannot create interpreter:  Op builtin_code out of range: 142. Are you using old TFLite binary with newer model?**

While trying to create an interpreter for my tflite in Java
 Interpreter interpreter

[2021-10-08 06:03] bersbersbers commented on #51743
For anyone wondering, this did not make it into `tensorflow==2.7.0rc0`.

[2021-10-08 06:19] #38599 closed

[2021-10-08 07:22] LucaCappelletti94 commented on #23566
@StarWang, please do try to answer the bot form. Hopefully, they will upgrade it, so the bot does not preemptively close issues when no solution is known yet.

[2021-10-08 08:51] elfringham commented on #52289
Broken for Linaro CI as well.
https://ci.linaro.org/job/ldcg-python-manylinux-tensorflow-nightly/123/console
The subtype: label for Ubuntu seems wrong, this is not related to the OS in use.

[2021-10-08 09:00] vssankar181181 opened #52296 "loss function bombs"
def my_loss(y_true, y_pred):
    epsilon=1e-7
    tloss=0.0
    for i in range(len(pos_weights)):
# for each class, add average weighted loss for that class
            tloss +=-(pos_weights[i]*y_true[i]*K.log(y_pred[i]+epsilon)+neg_weights[i]*(1-y_true[i])*K.log(1-(y_pred[i])+epsilon))
    return K.mean(tloss)
opt = keras.optimizers.Adam(learning_rate=0.0005)
model.compile(optimizer=opt,

[2021-10-08 09:49] mohantym commented on #37996
Hi @rakeshmothukuru1! Concerned links in template has been updated with description of arguments in TF 2.6 , Please check the links from here. [MobileNet,](https://www.tensorflow.org/api_docs/python/tf/keras/applications/mobilenet/MobileNet)[InceptionV3](https://www.tensorflow.org/api_docs/python/tf/keras/applications/inception_v3/InceptionV3),[ResNet50](https://www.tensorflow.org/api_docs/python/

[2021-10-08 09:49] #37996 closed

[2021-10-08 10:33] davlhd opened #52298 "ModifyGraphWithDelegate crashes when calling with XNNPack delegate"
Hello,

I want to run TF an a arm64 device with XNNPack enabled. I am using the C++ API. When calling `ModifyGraphWithDelegate` it segfaults.

This is how I load the interpreter and delegate:

[code]

`ModifyGraphWithDelegate` never returns. The crashlog does not tell me much:

[code]

I compiled TF 2.4.3 with cmake:

[code]

Any help would be much appreciated,
Thanks

[2021-10-08 11:23] Vadim-Maklakov commented on #52249
@Hi, Artem-B
Version of my installed clang-11  from https://apt.llvm.org/ bellow:
"""
mvg@debian:~$ sudo dpkg-query -l clang-11
Desired=Unknown/Install/Remove/Purge/Hold
| Status=Not/Inst/Conf-files/Unpacked/halF-conf/Half-inst/trig-aWait/Trig-pend
|/ Err?=(none)/Reinst-required (Status,Err: uppercase=bad)
||/ Name           Version                                                     >
+++-=======

[2021-10-08 12:40] #27229 closed

[2021-10-08 12:56] sushreebarsa commented on #52296
@vssankar181181  In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),Thanks!

[2021-10-08 13:19] Michael-F-Bryan opened #52300 "Segmentation fault when running inference using the TensorFlow Lite C++ API"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): Compiled aga

[2021-10-08 14:15] sanatmpa1 commented on #34195
@Yuhala,

We are checking to see if this is still an issue. We recommend that you can update the TF to latest stable version.

Can you confirm if you had already taken a look at this [link](https://stackoverflow.com/questions/44775176/initialize-variables-in-tensorflow-c-api) which discusses about a similar issue? Thanks!

[2021-10-08 15:17] shailensobhee commented on #52151
Hi @Flamefire , I tried to run the test on the TF master branch and all test passed. Can you please kindly try the same test on the `master` branch?

[2021-10-08 16:42] sanatmpa1 commented on #33511
@ArtyomMashkin,

We are checking to see if this is still an issue. Have you got a chance to investigate as you mentioned above ? Thanks!

[2021-10-08 17:46] sachinprasadhs commented on #52236
Since this is a Keras issue, Could you please move this to https://github.com/keras-team/keras.

[2021-10-08 17:58] sachinprasadhs commented on #52289
Could please provide the link or document of wheel file which you are trying.Thanks.

[2021-10-08 18:00] robotjellyzone commented on #50536
Hi, Is this issue still active? Is anyone working on it?

[2021-10-08 18:00] mirik123 commented on #33890
I have the same issue with TF 2.6.0:
[code]

[2021-10-08 18:30] kat25230 commented on #52210
Any update on this one?
Thanks for the help!

[2021-10-08 19:53] wei-v-wang commented on #52289
@sachinprasadhs , this is a link that shows we were able to build TensorFlow successfully. But failed at installation steps.
https://tensorflow-ci.intel.com/job/tensorflow-mkl-build-whl-nightly/942/console

02:46:49  [0m[91mINFO: Elapsed time: 2622.058s, Critical Path: 429.44s
02:46:49  INFO: 11295 processes: 1302 internal, 9993 local.
02:46:49  [0m[91mINFO: Build completed successfully, 11295

[2021-10-08 21:29] jonas-eschle commented on #35540
Great, many thanks, it's really appreciated! That will help to prevent finding deadlocks.

Sure, that is an inherent feature of the tracing, thanks again

[2021-10-08 21:39] zhujun98 commented on #50400
I just encountered the same issue. My code worked with version 2.4.3 started to produce Nan loss from the first epoch. The implementation in `image_ops_impl.py` has not changed. The issue persists in 2.6.0.

[2021-10-08 23:38] #52289 closed

[2021-10-09 01:11] refraction-ray commented on #52193
@mdanatg , thanks for your reply. But the problem is that I want to label explicitly some arguments of the function as **non-Tensor** instead of ``tf.tensor``.

[2021-10-09 01:30] Michael-F-Bryan commented on #52300
We've seen the Segfault occur consistently on [this model](https://github.com/hotg-ai/rune/blob/95c286bade22c3c4e079ed8f24c72284a82709af/examples/person_detection/model.tflite).

[2021-10-09 02:21] Artem-B commented on #52249
clang-11 or any other release currently out there will not have the changes I've committed just few days ago.

You choices are:
* move to linux distro which does not enable fortified sources by default, or
* figure out how to disable fortified sources on your Debian machine, or
* build and use your own clang from sources, or
* try using nightly snapshot of prebuilt packages from https://apt.llvm.o

[2021-10-09 03:37] zhaozheng09 opened #52307 "map_on_gpu"
Does this function work?
Where is the manual for this function?
```tensorflow/python/data/experimental/ops/prefetching_ops.py: 264``` ```def map_on_gpu(map_func):```

[2021-10-09 04:05] hwangdeyu commented on #52195
hi @sachinprasadhs, thanks for your reply.
According to the official documentation,

So it's a library used for Dynamic Computation Graphs, which is different with the Pytorch function [torch.nn.fold](https://pytorch.org/docs/stable/generated/torch.nn.Fold.html?highlight=fold#).

[2021-10-09 04:41] #52282 closed

[2021-10-09 05:15] WingsOfPanda commented on #52236
@sachinprasadhs since this issue can be reproduced in tf2.4. I think it is still part of tf?

[2021-10-09 08:47] alanpurple opened #52309 "wrong cupti dll name"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): N/A
- OS Platf

[2021-10-09 09:19] zhaozheng09 opened #52310 "copy_to_device too slow"
now the order of my dataset:
```TFRecordDataset->batch->map->copy_to_device```
map will output lots of small tensor, small tensor memcpyH2D is too slow. data by nsys:
![image](https://user-images.githubusercontent.com/33950866/136652365-9639e001-c0b2-4ce0-9d3f-e02e73139d2a.png)

```TFRecordDataset->batch->map->merge->copy_to_device->split``` maybe have a good performance.

I can contribute this pa

[2021-10-09 10:14] Roshan1986 opened #52311 ""zoom_range" argument of "ImageDataGenerator" class show distortions around edges"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are
not verified bugs in TensorFlow, please go to
[Discourse](https://discuss.tensorflow.org/).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/tensorflow/blob/master/SECURI

[2021-10-09 12:28] zhaozheng09 commented on #52310
In same data H2D test:
small H2D:
![image](https://user-images.githubusercontent.com/33950866/136657774-d7cdece5-7771-47c1-b2c0-cde747cad8d4.png)
Big H2D:
![image](https://user-images.githubusercontent.com/33950866/136657794-c833ec8f-2695-48a1-abd3-b61fca1f250a.png)

H2D performance: BigH2D speed:18.8862 GB/s(13%) SmallH2D speed: 16.6752GB/s.

[2021-10-09 12:41] mdanatg commented on #52193
I see, what you seem to need is really a @custom_gradient with non-Tensor arguments. That seems to be supported when running eagerly, but inside tf.function, it seems to [convert everything to a tensor](https://github.com/tensorflow/tensorflow/blob/5d8492ab786724ed811588183c93b1623f02c3c5/tensorflow/python/ops/custom_gradient.py#L410). That looks like a bug. I'm also not sure if custom_gradient in

[2021-10-09 13:23] 1zuu commented on #39370
It worked. Thanks

[2021-10-09 20:15] abhilash1910 commented on #52245
Hi @neha13rathore ,@mohantym , I believe the error is arising out of incompatible shapes for categorical crossentropy.  I think the required  shapes are (?,1) and in the penultimate layer the input to the cross entropy loss is (?,10).
`y_true, y_pred, from_logits=from_logits, axis=axis)`
However it is difficult to definitely provide a solution without a sample codebase . (Maybe looking at the outp

[2021-10-09 23:27] StarOnTheSky commented on #48455
OK, I'll try building later.

[2021-10-10 01:14] duvallj commented on #47022
I can reproduce this issue on Windows 10, Python 3.8.7, Tensorflow 2.6.0:
[code]

[2021-10-10 01:52] duvallj commented on #47022
Tracing back how `tf.strings.split` is actually implemented, it would seem the error is in https://github.com/abseil/abseil-cpp/blob/master/absl/strings/str_split.h possibly? At least that's what I can make out from reading https://github.com/tensorflow/tensorflow/blob/556c3a9c41ce0590c12390a0d2fb90af7e035f0a/tensorflow/core/ops/BUILD#L122-L132 and https://github.com/tensorflow/tensorflow/blob/556

[2021-10-10 02:45] SkylerZheng commented on #34763
any solutions? I met the same problem with TF2.0

[2021-10-10 04:42] jvishnuvardhan commented on #40344
@invencode I think this was resolved. I ran your code with `tf-nightly` and everything ran without any issue. Please take a look at the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/19e18d431bc48f6e2b66281639b33ed4/untitled.ipynb). Thanks!

[2021-10-10 04:59] AndreyPlotkinOr commented on #52250
First of all let me describe the situation: there's a C++ solution with 50+ projects (with several prime projects utilising the others) One of them is using TF. Once compiled, the solution is delivered to clients to their on-premises environments.

Up till TF 1.15 I used cmake to compile the TF in 2 modes: RELEASE and DEBUG. Release version was used for deliveries, debug version - for debugging ne

[2021-10-10 07:30] chunduriv commented on #45326
@Crispy13, While trying to reproduce your issue in `tf-nightly(2.8.0-dev20211009)` facing different error, please find the gist [here](https://colab.research.google.com/gist/chunduriv/b94010827e1cd34414b39fd99432fe89/45326.ipynb),Thanks!

[2021-10-10 07:40] chunduriv commented on #45312
Was able to replicate issue in tf-nightly(2.8.0-dev20211009), please find the gist [here](https://colab.research.google.com/gist/chunduriv/26b98f3f5c4a39fc6761b0e523fc739c/45312.ipynb).Thanks!

[2021-10-10 10:40] mohantym commented on #26407
Hi @nfelt! This issue seems to be resolved in latest stable version TF 2.6 , Attaching [Gist](https://colab.research.google.com/gist/mohantym/c38f275170bae273e96bfb235abdfb0d/github_26407.ipynb) for reference.

[2021-10-10 10:41] mohantym commented on #23631
Hi @MasKong! We are checking to see if you still need help in this issue.
It  also seems you are using older versions(1.x versions) of Tensorflow. We recommend that you upgrade  your code base to 2.x  versions as many features and bug fixes has been done in newer versions and let us know if the issue still persists in newer versions. Thanks!

[2021-10-10 10:47] mohantym commented on #23348
Hi @StevenPuttemans! We are  checking to see if you are still looking for assistance in this issue.
Could you please try on latest stable version i.e  TF 2.6  and let us know if this is still an issue.Thanks!

[2021-10-10 13:50] jayagami commented on #25254
Providing a case may solve some people's problems.

I create a dataset with `image_dataset_from_directory `, initialized with batch_size.

Then I set `steps_per_epoch `and `validation_steps `in `model.fit` again, and get above warning.

The right way is removing  `steps_per_epoch `and `validation_steps`, because the steps was initiated when `batch_size` passed into `image_dataset_from_directory`

[2021-10-10 20:12] nectario commented on #50735
This problem continues to happen and it only stops happening if I include the env flag: CUDA_LAUNCH_BLOCKING=1

[2021-10-10 20:20] duvallj commented on #47022
Nevermind, I am new to tensorflow and didn't know where the kernels are actually implemented. This op is implemented at https://github.com/tensorflow/tensorflow/blob/0b6b491d21d6a4eb5fbab1cca565bc1e94ca9543/tensorflow/core/kernels/string_split_op.cc#L102-L158, and notably it's just the implicit delimiter version that's broken:
[code]
The correctness of that algorithm seems to depend on https://git

[2021-10-10 22:04] bkgoodman opened #52318 "tf.lite.Interpreter set_tensor failing to properly recognize uint8 input tensors"
**System information**
- Ubuntu 20.0.04
- Intel Atom
- Binary installation installed from build without SSE3 instructions
- TensorFlow 2.3.0
- Python 3.6
- No CUDA/GPU/TPU

**Describe the current behavior**

I have a working `.tflite` model (which takes 180x180 float greyscale image) as input, and returns 6 float sigmoid outputs. All works as-expected yielding expected results with test images.

I

[2021-10-10 23:15] sanjoy commented on #50943
I was suggesting that you build TensorFlow in the `tensorflow/tensorflow:devel-gpu` docker image.

[2021-10-10 23:19] sanjoy commented on #51766
@nluehr Do you happen to know if this is an issue with TensorFlow or with Nsight?

[2021-10-10 23:59] sanjoy commented on #50735
Unfortunately this means this is a heisenbug. :(

Running with `CUDA_LAUNCH_BLOCKING=1` "for real" is not a good idea since it affects performance, as you indicated in https://github.com/tensorflow/tensorflow/issues/50735#issuecomment-917314918.

Will you be able to extract a minimal reproducer that shows the issue?  Ideally something that only has a few ops?

[2021-10-11 01:42] mohantym commented on #52293
Hi @raggyie! Could you update the device details too?

[2021-10-11 01:48] mohantym commented on #2118
Hi @ziky90! We are checking to see if you still need help this feature request , have you tried latest stable version 2.6 yet as many features have been added in latest versions.

[2021-10-11 01:57] nectario commented on #50735
I just emailed you a file with the code that reproduces this issue on a Linux box.

[2021-10-11 04:16] zhmlcg commented on #9489
Another way to set auto-growth is:
`os.environ['TF_FORCE_GPU_ALLOW_GROWTH'] = 'true'`

[2021-10-11 05:15] sushreebarsa commented on #52296
@vssankar181181  In order to reproduce the issue reported here, could you please provide the complete code and the dataset , tensorflow version you are using. Thanks!

[2021-10-11 07:20] mohantym commented on #52318
Hi @bkgoodman! Could you please look at this threads for answer ?[ Link1](https://www.tensorflow.org/lite/performance/post_training_integer_quant#convert_using_integer-only_quantization), [Link2](https://stackoverflow.com/questions/69519267/tensorflow-lite-tf-lite-interpreter-set-tensor-failing-to-properly-recognize-uin).

[2021-10-11 08:42] MaoXianXin opened #52321 "Tutorial link is missing"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

https://www.tensorflow.org/lit

[2021-10-11 09:57] sushreebarsa commented on #52307
@zhaozheng09 Could you please have a look at the [map_func](https://github.com/tensorflow/tensorflow/blob/r2.2/tensorflow/python/data/experimental/ops/prefetching_ops.py#L260) and let us know if it helps? Thanks!

[2021-10-11 10:40] #52124 closed

[2021-10-11 11:11] mohantym commented on #17860
Hi @sabi0!We are checking to see if you still need help in this issue , Have you tried latest stable version TF 2.6  yet? Please create a new issue if the issue is replicating in newer version. Thanks!

[2021-10-11 11:13] mohantym commented on #17974
Hi @elbaro! We are checking to see if you still need help in this issue , Have you tried latest stable version TF 2.6  yet? Please create a new issue if the issue is replicating in newer version. Thanks!

[2021-10-11 11:15] mohantym commented on #52321
Hi @sachinprasadhs !Could you please look at this bug ?

[2021-10-11 11:33] mohantym commented on #36120
Hi @dav1d-wright ! We are checking to see if you still need help in this issue , Have you tried latest stable version TF 2.6  yet ? Many features have been added in latest versions.Please create a new issue if the issue is replicating in newer version. Thanks!

[2021-10-11 11:37] sushreebarsa commented on #52087
@Snape3058 Could you please respond to the [comment](https://github.com/tensorflow/tensorflow/issues/52087#issuecomment-931625027) above ?Thanks!

[2021-10-11 11:40] #52147 closed

[2021-10-11 13:24] sushreebarsa commented on #48756
@GitUser2000 Could you please try installing from [source](https://www.tensorflow.org/install/source_windows#tested_build_configurations) using TF v2.6.0 and let us know if it helps ?Thanks!

[2021-10-11 13:34] sushreebarsa commented on #48821
@zhangqiang-hf Could you please try with [tested_build_configurations](https://www.tensorflow.org/install/source#tested_build_configurations) using TF v2.6.0 and let us know if it helps?Thanks!

[2021-10-11 13:55] bkgoodman commented on #52318
@mohantym Thanks for the reply - the first link was the one that I used to describe how it _should_ work, which I followed. The second was my own question on the matter on StackOverflow ;-)

So - the first link is another datapoint which indicates it *should* work as I expected given what I am doing - but it clearly is not.

[2021-10-11 15:40] filipeferreiradsr opened #52323 "TFlite model is too slow when Output Buffer is Direct()."
**System information**
- tensorflow-lite-gpu:2.7.0-rc0
- Are you willing to contribute it- Yes

**Describe the feature and the current behavior/state.**
I'm trying to use output buffer as```output =  ByteBuffer.allocateDirect(4 * LARGE_DIMENSIONS)
                .let {
                    it.order(ByteOrder.nativeOrder())
                    it.asFloatBuffer()
                }```

[2021-10-11 16:41] sanatmpa1 commented on #52131
@alanpurple,

As it looks like a permission error, Can you confirm if you have tried running the command prompt as admin? Thanks!

[2021-10-11 16:50] jeisinge opened #52325 "keras.layers.IntegerLookup fails to deserialize vocubulary"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.6
- Python version: 3.7

**Describe the current behavior**
When creating a keras.layers.IntegerLookup, we prov

[2021-10-11 17:13] sanatmpa1 commented on #48455
@StarOnTheSky,

Thanks for the confirmation and keep us posted if your issue is fixed.

[2021-10-11 17:25] #52178 closed

[2021-10-11 17:40] #52112 closed

[2021-10-11 18:22] Koratun opened #52329 "Invalid argument error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10

- TensorFlow installed from (source or binary):
pip install tensorflow

- TensorFlow version (use command below):
2.6.0

- Python version:
3.7

- CUDA/cuDNN version:
11.3

- GPU model and memory:
NVIDIA

[2021-10-11 18:26] sunw70 opened #52330 "Problems to convert a TF model with mutable variables even if I use converter.experimental_enable_resource_variables = True"
### System information

- OS Platform and Distribution: Linux Ubuntu 20.10
- TensorFlow installation: pip package
- Tensorflow version: 2.6.0
-  Python version: 3.8

I'm trying to convert a TF model which uses a custom layer where there are some tf.Variable (instead of numpy arrays for partial computations) and for loops statements (not tf.while_loop statements). The model works fine without the c

[2021-10-11 18:46] Koratun commented on #52329
Sigh... Nevermind. It's still an issue, it just gave me a different error at first that I thought I could fix. After I fixed that error it gave me a very similar error to the one above. However, it appears that it attempted to start training the model.

[code]

[2021-10-11 19:58] AndreyOrb opened #52332 "Compiling TF 2.6 in debug mode on Windows env. (unresolved externals)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): r2.6.0
- P

[2021-10-11 20:11] kat25230 commented on #52210
@sachinprasadhs could you please assign the relevant person in case you can't help?
I would be happy to understand if this feature is supported for my setting.
Thanks in advance!

[2021-10-11 21:14] sachinprasadhs commented on #52236
@WingsOfPanda , Yes, since `mixed_precision` is under  `tensorflow.keras`  it would be good to move this issue under https://github.com/keras-team/keras so that we can track keras issues separately under the mentioned repository.

[2021-10-11 21:29] jvishnuvardhan commented on #52114
@kdja90 Can you please share a simple standalone code to reproduce the issue? or send me the link to `demo.ipynb` file. Did you get the file from tnesorflow webpage? Thanks!

[2021-10-11 22:01] AngCamp opened #52336 "Unspecified data type in image_dataset_from_directory"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue: https://keras.io/api/preprocess

[2021-10-12 00:13] Bayan930 commented on #51591
I tried your solution and it is working with me. but, I get very bad result detection. can you tell me what you do to fix it

[2021-10-12 00:58] alexdwu13 commented on #51629
@srjoglekar246 I tried your code snippet that uses `tf.image.non_max_suppression_padded` and was able to get the correct # of detections. However I'm unable to run this toy model on the TFlite GPU delegate:
[code]
I was under the impression that `tf.image.non_max_suppression_padded` was intended to specifically address the dynamic-sized tensor issue?

Inspecting the model, I do notice a `While` op

[2021-10-12 01:20] impjdi commented on #52155
Depending on the platform, you may have to define `MESA_EGL_NO_X11_HEADERS` and/or `EGL_NO_X11` which don't include the X11 headers that @freedomtan mentioned above.  Depending on the version of the header file, it may be named slightly differently, so you need to dig into your EGL header files a little bit.

[2021-10-12 01:20] #52155 closed

[2021-10-12 05:52] tilakrayal commented on #52323
@filipeferreiradsr ,
Can you please share a reproducible code that supports your statement so that the issue can be easily understood? Thanks!

[2021-10-12 05:58] Tseema commented on #13583
@rohitkumar9989  could you please tell me how did you build the helper class?
Does this mean if I only have .jpg files to train on,I should be able to do?

[2021-10-12 06:13] tilakrayal commented on #52329
@Koratun ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.Thanks!

[2021-10-12 08:10] old-school-kid commented on #52329
Hi @Koratun
You are splitting your input in second model along axis= 0
`first_image, second_image = tf.split(image_inputs, num_or_size_splits=2, axis=0)`
axis =0 is meant for batch and you dataset of shape (32, 2, 128, 128, 3) gets splitted into shape (16, 2, 128, 128, 3) and thus squeeze doesnt work.
Can you please try out by replacing the axis=0 with axis =1
Thank you

[2021-10-12 08:23] schissmantics commented on #40919
And what happens after padding the examples with the maximum length let's say 10 for simplicity, and then the model encounters a 11 or 15 or 50? Will it output 11, 15 or 50 or just 10?

[2021-10-12 08:24] bnavigator commented on #47691
months :(

[2021-10-12 08:32] filipeferreiradsr commented on #52323
[code]

[2021-10-12 09:18] #52139 closed

[2021-10-12 09:24] sylajarlind opened #52343 "Pixel OpenGL only not working"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.6 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Pixel3a
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use comman

[2021-10-12 09:57] MrinalTyagi commented on #52231
Sure

[2021-10-12 11:01] mohantym commented on #52336
Hi @AngCamp!
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) . Thanks!

[2021-10-12 11:20] chunduriv commented on #39995
I was able to replicate issue in `tf2.6` and `tf-nightly(2.8.0-dev20211012)`. Please find the gist [here](https://colab.research.google.com/gist/chunduriv/bb5a62a8e81e281a7cd62af885319f39/39995.ipynb#scrollTo=I5C3xKFDEfWM).Thanks!

[2021-10-12 11:30] chunduriv commented on #39900
I was able to replicate issue in `tf2.6` and `tf-nightly(2.8.0-dev20211012)`. Please find the gist [here](https://colab.research.google.com/gist/chunduriv/f03b6f5ea848f256f9f4b12a9c7e3c7d/39900.ipynb).Thanks!

[2021-10-12 11:37] chunduriv commented on #39888
While trying to reproduce your issue in `tf2.6` and `tf-nightly(2.8.0-dev20211012)` facing different error, please find the gist [here](https://colab.research.google.com/gist/chunduriv/e48f0a092faf4fec3c103c1c8e391fe9/39888.ipynb),Thanks!

[2021-10-12 14:06] RomanSteinberg opened #52346 "Restore from checkpoint loads optimizer incorrectly"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: -
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.6.0-r

[2021-10-12 16:33] Koratun commented on #52329
Here they are @tilakrayal
[Data and Code.zip](https://github.com/tensorflow/tensorflow/files/7331695/Data.and.Code.zip)

And @old-school-kid, as I indicated in my second comment, I noticed this and fixed it. It then produced the error I reported in my third comment.

[2021-10-12 17:02] isaacgerg opened #52348 "Documentation problem for gradient clipping parameter"
This issue reflect documentation of this: https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Optimizer

As stated in the above documentation (relevant section c and pasted below), there is no difference between clipnorm and global_clipnorm.  However, looking at the code shows these parameters do 2 different things.  Recommend to update documentation.

clipnorm | float or None. If set,

[2021-10-12 18:50] rllin commented on #52252
@yangustc07 the dispatchers were not restarted during these failures afaict (is obvious when looking at pod restarts)

this happens very quickly when i first start all the requisite deployments/services and the workers do not recover even if i force restart them it seems.

[2021-10-12 20:55] mohantym commented on #51587
Hi @sjtusmartboy ,was able to replicate this issue in [2.5](https://colab.research.google.com/gist/mohantym/edd42c8bd34781ccb4b0167c892c470e/github_51587.ipynb#scrollTo=1GTOs0VkWXM-) , [2.6 ](https://colab.research.google.com/gist/mohantym/621f4743875ecce01f2af477bf1e1218/github_51587_2-6.ipynb)and [nightly.](https://colab.research.google.com/gist/mohantym/1ed1f676f1a059791e19a2e9dead18b1/github_5

[2021-10-12 23:01] spagliarini opened #52356 "Tensorflow on Apple M1"
Hi,

I would need to get a **tensorflow-gpu<2,>=1.15.2** version for a python library I would need to use on Apple M1. I successfully installed tensorflow on my mac, but the version I have is now 2.6.0. Is there a way to get one <2, or not at all (as it is my understanding at now)?

Thank you,
Silvia

[2021-10-13 00:39] JunhoohnuJ opened #52357 "different output value in pytorch->onnx->tflite(int8 quantization)"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-10-13 02:51] creativesalam commented on #32449
Have you found any solution to that or you enforced some how to run it on single thread? I am facing the same problem. My priority is to use it in multi-thread environment.

[2021-10-13 05:18] tilakrayal commented on #52356
@spagliarini ,
TensorFlow 1.x is not actively supported. Could you please update TensorFlow to the latest stable version v2.6 and check if you are facing the same issue. Thanks!

[2021-10-13 05:22] RomanSteinberg commented on #52346
Sorry! @tilakrayal Here [it](https://colab.research.google.com/drive/1R01obneq7_jSfBRdUabTAMQIYxuzShqe?usp=sharing) is and I edited colab link in previous post.

[2021-10-13 05:40] #52165 closed

[2021-10-13 07:08] sushreebarsa commented on #52357
@JunhoohnuJ
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-10-13 07:27] TC27GF opened #52360 "Custom trainable function in tf.scan within keras model"
I need to employ [tf.scan](https://www.tensorflow.org/api_docs/python/tf/scan) with a custom function (**fn**) in my Keras-based constructed model. The function contains a set of layers with some trainable weights; however, tf outputs some warnings which can not be ignored simply and need corrections. Please find below a very simplified code sample to reproduce the warnings.

---------------------

[2021-10-13 09:38] mirjalal commented on #52194
@myasser63 did you fix the problem?

[2021-10-13 10:21] elfringham opened #52361 "build_pip_package broken by removal of keras/api directory"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile de

[2021-10-13 10:40] #51862 closed

[2021-10-13 12:40] chiachia36 opened #52362 "the usage of -tf-input-shapes"
Hi,
I tried to use `tf-mlir-translate` to convert tensorflow graph to mlir file.
I am confused about the usage of `-tf-input-shapes`
Here is my code.
![圖片](https://user-images.githubusercontent.com/40784675/137134088-059a686d-cb4c-4805-b13c-4e40812f0c82.png)

And here is the command I used.
![圖片](https://user-images.githubusercontent.com/40784675/137134042-a662d1ad-12d4-430c-88d9-75481a297a6f.png)

[2021-10-13 12:44] tlewin opened #52363 "Input name order breaks input alignment during training"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes, see bellow.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Big Sur (11.5.2)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: --
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use

[2021-10-13 13:40] #52175 closed

[2021-10-13 14:31] Artem-B commented on #52249
Let's keep things simple. If you need it to work just on your machine, just find __clang_cuda_runtime_wrapper.h installed  by clang and make this change there:
[code]

If you need the build to work for everyone on Debian, you'll either need to wait until fixed clang package is available.
They do seem to have recent enough versions already: https://packages.debian.org/sid/clang-14

I do not know ho

[2021-10-13 14:35] boegel commented on #52151
@shailensobhee Any more information on the context of your test with `master`? What type of CPUs/GPUs, etc.?

[2021-10-13 14:40] #36837 closed

[2021-10-13 15:10] MMB019 commented on #43227
I have the same issue did you solv it

[2021-10-13 16:38] mihaimaruseac commented on #52300
Can you provide a minimal reproducer? The smaller the reproducer, the faster it is to get a fix.

Please don't spam to bump activity.

[2021-10-13 16:42] domvie commented on #52042
I'm getting the same issues with the most recent TensorFlowLiteSelectTfOps (0.0.1-nightly.20211013) and TensorFlowLiteSwift 2.6.0 as well as 2.4.0. In another project with an older TensorFlowLiteSelectTfOps (0.0.1-nightly.20210202) and TFLiteSwift 2.4.0 it works. Is there a way to downgrade/choose another TensorFlowLiteSelectTfOps version?

[2021-10-13 16:50] mihaimaruseac commented on #52332
https://github.com/tensorflow/tensorflow/issues/52203#issuecomment-939039663

[2021-10-13 16:57] myasser63 commented on #52194
Not yet, I have tried many times with different models and still getting the same issue

Do you have a solution?

[2021-10-13 17:01] mihaimaruseac commented on #52332
Also, https://github.com/tensorflow/tensorflow/issues/52250

[2021-10-13 17:06] sanatmpa1 commented on #41545
@rringham,

Can you point out the link for documentation, which needs to be modified? Thanks!

[2021-10-13 17:07] mohantym commented on #52360
Hi @sanatmpa1 ! Could you look at this issue , it is replicating [2.5](https://colab.research.google.com/gist/mohantym/ef977648dc3a5ded6b554106c06d14b5/github_52360.ipynb#scrollTo=ar2v-yQ2336D) ,[2.6 ](https://colab.research.google.com/gist/mohantym/6836071ceedae8a5243880d70d2314d6/github_52360.ipynb#scrollTo=ar2v-yQ2336D)and [2.7](https://colab.research.google.com/gist/mohantym/04de6800c6da092a23

[2021-10-13 17:07] sanatmpa1 commented on #41545
@amgsharma,

Can you take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/41545#issuecomment-746653192) from @natowi and let us know if it helps in resolving your issue? Thanks!

[2021-10-13 17:17] itamarst commented on #48213
@mohantym you will notice that the original filed issue (at the top) was actually saving as `.h5`. So changing extension to `.h5` is not sufficient.

Specifically, with Tensorflow 2.6:

[code]

So first, that doesn't always fix the bug.

Second, even if it is "resolved in some cases" that does not mean resolved in all cases, so this bug should stay open, otherwise other people will have random bre

[2021-10-13 17:53] Saduf2019 commented on #52259
@MaoXianXin
Can you please share a colab gist with the difference in result in cpu and gpu.

[2021-10-13 17:54] Saduf2019 commented on #52250
@AndreyPlotkinOr
Can you please refer to [link](https://github.com/tensorflow/tensorflow/issues/52332#issuecomment-942498254) and move this to closed status.

[2021-10-13 18:07] #50536 closed

[2021-10-13 19:43] SiLiKhon opened #52368 "keras.models.load_model resets the optimizer's state"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): `yes, mostly b

[2021-10-13 20:36] DEKHTIARJonathan opened #52370 "SavedModel Loading Issue - '_UserObject' object has no attribute 'add_slot'"
Some models that used to be working in TensorFlow 2.5 are now impossible to load with TF 2.6 and onward.

Google Colab to reproduce the issue: https://colab.research.google.com/drive/1n_FY1YNBDaWd43SJI8oxjHPEsA32FPEV?usp=sharing

Script:
[code]

Error:
[code]

[2021-10-13 20:39] #43865 closed

[2021-10-13 21:49] mihaimaruseac commented on #52361
I think @qlzh727 sent a fix to this.

[2021-10-13 22:10] krworks opened #52373 "TensorFlow Lite Build and Linker issues in 2.4 -> 2.8 versions"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Big Sur
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.4 -> 2.8
- Python version: 3.x
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from source):
- GCC/Compi

[2021-10-13 23:00] #52361 closed

[2021-10-13 23:41] #41626 closed

[2021-10-13 23:48] nfelt commented on #51587
@sjtusmartboy Sorry for the confusing error. Can you try passing `experimental_trackable=True` to your call to `tf.summary.create_file_writer()`? Docs: https://www.tensorflow.org/api_docs/python/tf/summary/create_file_writer

Note that this parameter is only experimental and may still be subject to backwards-incompatible changes in future versions of TensorFlow.

[2021-10-13 23:57] jeisinge commented on #52325
Done - I just reposted at https://github.com/keras-team/keras/issues/15508 .  It is not clear to me if this is a Keras issue or a TF issue.

[2021-10-14 02:10] OnlyFlashEobard opened #52375 "meet error when i restore my model"
**when i restore my model i meet issues:
Not found: Key g_/g_f_h0_lin/bias not found in checkpoint
Not found: Key g_/g_f_h0_lin/Matrix not found in checkpoint
Not found: Key g_/g_f_h0_lin/bias/Adam_1 not found in checkpoint**

**but  these param is not in my model**
**here are my generator param:**
('g_/BatchNorm/beta', [64])
('g_/BatchNorm/beta/Adam', [64])
('g_/BatchNorm/beta/Adam_1', [64])
('g_

[2021-10-14 02:53] yangruoqi opened #52376 "Run lite/tools/benchmark: setting use_hexagon to be true does not works."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Samsung, cpuinfo: "Qualcomm Technologies, Inc KONA"
![image](https://user-images.githubusercontent.com/39039715/137239991-47fa8809-e78f-4955-99d3-ad3ff7ac0c6f.png)

- TensorFlow installed from (source or

[2021-10-14 03:25] sushreebarsa commented on #52370
@DEKHTIARJonathan Was able to reproduce the issue on colab using TF [v2.6](https://colab.research.google.com/gist/sushreebarsa/17029aa9e6effca91060480dfffeccb4/untitled467.ipynb) but the issue is not replicating in [tf-nightly ](https://colab.research.google.com/gist/sushreebarsa/b3c5cd4a4c7922f346cb5307039d9367/untitled468.ipynb#scrollTo=eRSv8cOXzDns)version 2.8.0-dev20211012,Could you please fin

[2021-10-14 03:29] liuchang3 opened #52377 "Build libtensorflow-lite.a failed on centos 7 platform"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux CentOS 7):
- TensorFlow installed from (sourc

[2021-10-14 07:32] tilakrayal commented on #52356
@spagliarini ,
Please refer to similar issues #44751,#47782 and for installation please take a look at this [link](https://github.com/apple/tensorflow_macos). It helps.Thanks!

[2021-10-14 08:20] Saduf2019 commented on #38320
Could you please refer to this issu #34350, and similar issues and confirm this can be closed,#38320, [link](https://stackoverflow.com/questions/59032729/error-trying-to-conver-tf-model-into-tflite-model)

[2021-10-14 08:45] mohantym commented on #46054
Hi @msquigle , This issue is not replicating in latest version 2.6 . Attaching [Gist](https://colab.research.google.com/gist/mohantym/4b559854514c414c372112ebc6b0246f/github_46054.ipynb) for reference. Please create a new issue if it is persisting in latest version.Thanks!

[2021-10-14 09:48] erwinerdem opened #52378 "GPU not found on Tensorflow 1.4.1"
**System information**
- Linux Ubuntu 20.04
- tensorflow-gpu            1.4.1                    pypi_0    pypi
- Python version: 2.7.15
- Installed using virtualenv? pip? conda?:
- CUDA/cuDNN version: CUDA version 8.0.61 with cuDNN version 6.0.21
- 1x GTX 1080TI

**The problem**
I cannot run any scripts from GPU using tensorflow. When I run:
[code]
I get:
[code]

**Other info / logs**
When I run

[2021-10-14 09:49] SiLiKhon commented on #52368
@tilakrayal
Thanks and sorry for having missed the migration...
Issue posted.

[2021-10-14 10:13] tilakrayal commented on #52368
@SiLiKhon ,
Please feel free to close this issue, so that we can track the issue there.Thanks!

[2021-10-14 10:35] omxpro commented on #52143
Okay

[2021-10-14 11:13] #52368 closed

[2021-10-14 11:16] mirjalal commented on #52194
Unfortunately no.

[2021-10-14 11:21] schissmantics opened #52379 "ctc_loss_calculator.h:499] No valid path found"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-10-14 11:33] sushreebarsa commented on #52376
@yangruoqi Thanks for the report!
We see that you are using nightly version which is not a stable one could you please try to use TF **v2.6.0** and have a look at the guide to build from  [source,](https://www.tensorflow.org/install/source)[link](https://www.tensorflow.org/lite/performance/hexagon_delegate) for TF lite Hexagon.Please have a look at the [issue](https://github.com/tensorflow/tensorf

[2021-10-14 11:51] #32172 closed

[2021-10-14 12:18] dakl commented on #47390
An interesting side note is that Vertex AI Models & Endpoint could load the model just fine, so I'm guessing they do something else than `tf.keras.models.load_model` internally.

[2021-10-14 12:51] #26576 closed

[2021-10-14 12:58] aewhite opened #52380 "Meshgrid does not work with tf.function"
The following code fails at runtime:

[code]

The output:

[code]

This is running the AWS DLAMI for TF 2.5.1 using the following AMI: ami-09ddcd88a97c092e5. The EC2 instance type is a t3.small.

[2021-10-14 14:25] MaoXianXin commented on #52259
![2021-10-14-22-21-35](https://user-images.githubusercontent.com/22192610/137337391-d535f39b-f33f-46ce-835d-e94ef0420937.png)
![2021-10-14-22-24-08](https://user-images.githubusercontent.com/22192610/137337403-5e1e57bd-1c61-46be-b696-dd2d25e28a52.png)

[2021-10-14 14:26] yc0619 opened #52381 "How to enable multi thread computing for tf.data"
System: Ubuntu 20.04
GPU/CUDA: RTX3090 CUDA10.1(must be upgraded)
Before Dataloader the data doesn't goes to the GPU. And i have read about, that df.data runs on cpu. And i have tried:

[code]
before the code:
`train_dataset = tf.data.Dataset.from_tensor_slices((train_data, train_lbl))`
Since i ran the line, it always come to such warning:
`W tensorflow/core/framework/cpu_allocator_impl.cc:80] All

[2021-10-14 14:45] ipietri opened #52382 "AttributeError: 'tensorflow.python.framework.ops.EagerTensor' object has no attribute 'to_tensor'"
**System information**
Tensorflow: 2.6.0
The problem arises running the example code provided in Hugging face in Keras/Tensorflow: https://huggingface.co/transformers/training.html
Platform: Google Colab (Public and Pro) (in all GPU, TPU and CPU)
Python version: 3.7.12

**Describe the current behavior**
Getting this error when running the model:
![image](https://user-images.githubusercontent.com/7

[2021-10-14 15:18] MilowSa opened #52383 "Inputs to eager execution function cannot be Keras symbolic tensors, Custom loss function, Tensorflow 2.3.0, Gradient Tape"
I am trying to use a custom loss function in my `Keras` model (TensorFlow 2.3.0). This custom loss (ideally) will calculate the data loss plus the residual of a physical equation (say, diffusion equation, Navier Stokes, etc.). This residual error is based on the model output derivative wrt its inputs and I want to use `GradientTape`.

In this MWE, I removed the data loss term and other equation lo

[2021-10-14 15:55] erwinerdem commented on #52378
@tilakrayal
I need this specific version of Tensorflow as it required by an old project. Any idea what the problem could be?

[2021-10-14 15:57] sbrl opened #52384 "Tensorflow 2.5 and above causes crash on load on Ubuntu 20.04"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Ubuntu 20.04
- TensorFlow installed from (source or binar

[2021-10-14 16:51] #42492 closed

[2021-10-14 16:51] #42700 closed

[2021-10-14 17:17] pranve commented on #52105
Hi Ethan, can you please take a look at this possible regression issue?..Thanks!

[2021-10-14 18:06] mohantym commented on #45575
Hi @jediRey!
We are checking to see if you still need help in this issue , Have you checked this[ thread ](https://stackoverflow.com/questions/60864626/cannot-fetch-eigen-with-bazel-406-not-acceptable)yet ?

[2021-10-14 18:51] #38508 closed

[2021-10-14 19:33] ns-xinjun opened #52387 "Multilingual Universal Sentence Encoder Quantization-aware training error"
### 1. System information

- OS Platform and Distribution: Ubuntu 20.04.2
- TensorFlow installation : 2.6.0

### 2. Code
[code]

### 3. Failure after conversion
Conversion failed at this part :
[code]
Below is the error message:

[code]

It seems that the error is caused because "multilingual universal sentence encoder" has input type as tf.string, and the output to the dense layer is float32.

[2021-10-14 19:57] ar-visions commented on #34489
I've been trying to build static.  There are numerous problems so far mostly with its inability to deselect alot of Ruy library code which becomes a dependency even when you compile without it:

The following is from https://github.com/tensorflow/tensorflow/issues/52373

cmake ../tensorflow/lite -DTFLITE_ENABLE_RUY=OFF -DTFLITE_ENABLE_NNAPI=OFF -DTFLITE_ENABLE_GPU=OFF -DTFLITE_ENABLE_XNNPACK=OFF -

[2021-10-14 21:04] alexdwu13 opened #52388 "tf.image.non_max_suppression_padded returns dynamic-sized tensors: fails on TFlite GPU Delegate"
**System information**
- OS Platform and Distribution: Ubuntu 18.04
- Mobile device: Snapdragon 845 (Pixel 3, Galaxy S9)
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.6.0
- Python version: 3.7

**Describe the current behavior**
Exporting `tf.image.non_max_suppression_padded` to tflite yields a model that fails to run on the TFlite GPU delegate:
[co

[2021-10-14 22:03] danbull-lynker opened #52391 "Training Object Detection model on Cloud VM error with TPU RET_CHECK failure"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Cloud TPU VM default
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.6
- Python version: default on TPU VM (3.8.10)
- GCC/Compiler version (if compiling from s

[2021-10-14 22:09] rainwoodman commented on #51896
Indeed it was surprising -- Tensorflow'ers probably shouldn't have assumed __doc__ is not None when the codebase was written years ago, but who would have known.. Be aware that  -OO can have other surprises too, like removing assertion statements.

Another possible avenue is that -OO could have set __doc__ to "" instead of None to maximize the compatibility with runtime docstring generation; and a

[2021-10-14 22:23] ipietri commented on #52382
I created the code below for reproducibility of the error. I hope you can shed some light on this:

[code]

[2021-10-15 02:36] ageron commented on #37357
I'm not sure this issue should have been closed. It's still not possible to use `pathlib.Path` in TensorFlow 2.6:

[code]

**Stacktrace:**
<details>

[code]
</details>

[2021-10-15 02:49] KangGrandesty opened #52392 "Compiling test case failure [TensorFlow Lite]"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): v2

[2021-10-15 03:37] mohantym commented on #38036
Hi @sirius0503 !
We are checking to see if you still need help in this issue .Attaching similar issues  for answers [link1](https://github.com/tensorflow/tensorflow/issues/46388#issuecomment-871074251),[link2](https://github.com/tensorflow/tensorflow/issues/49224),[link3](https://github.com/tensorflow/tensorflow/issues/46388#issuecomment-871074251),[link4](https://stackoverflow.com/questions/60826

[2021-10-15 03:48] mohantym commented on #50319
Hi @ArtanBerisha1! Have you checked these [thread ](https://github.com/tensorflow/tensorflow/issues/38036#issuecomment-943959589)yet ?

[2021-10-15 05:00] mohantym commented on #47691
I think latest version 2.6 and nightly support Numpy 1.21.2 now. Attaching [issue](https://github.com/tensorflow/tensorflow/issues/52380#issuecomment-943971924) for reference.

[2021-10-15 05:46] mohantym commented on #52373
Hi @krworks! Could you please look at these threads ? [Link1](https://github.com/tensorflow/tensorflow/issues/39478),[Link2](https://stackoverflow.com/questions/63609132/what-is-a-proper-command-to-build-tensorflow-lite-c-api-for-macos),[Link3](https://www.tensorflow.org/lite/guide/build_cmake)

[2021-10-15 05:48] beew commented on #50204
@mohantym

TF 2.6 was released on Aug 9, https://github.com/tensorflow/tensorflow/tags, is it the one you meant?

[2021-10-15 06:04] mohantym commented on #52383
Hi @MilowSa! Have you tried latest version 2.6 yet?

[2021-10-15 06:37] jooho-enerzai opened #52517 "Error occurs during quantization usingTFLiteConvert."
### 1. System information

- Linux Ubunut 20.04
- pip install tensorflow==2.6.0
- pip install tensorflow_model_optimization==0.7.0

### 2. Code

https://colab.research.google.com/drive/1kOgZevD3dkM0hxehTh8vNOW_1zXW4VDE?usp=sharing

### 3. Failure after conversion
error: 'tfl.max_pool_2d' op quantization parameters violate the same scale constraint: !quant.uniform<i8:f32, 0.010792325524722828> vs.

[2021-10-15 08:02] yangruoqi commented on #52376
@sushreebarsa Thank you for your reply.
I got the code from the r2.6 branch and recompiled it. I replaced the phone with a Samsung S9 (Inc SDM845) but still got the error.

[code]

This is my workspace on the phone, with benchmark_model and the *.so needed.
![image](https://user-images.githubusercontent.com/39039715/137453210-fa9e2b6c-2568-404b-b7ce-a7d343b36a99.png)

Did I choose the wrong unsupp

[2021-10-15 09:21] banderlog commented on #50204
`ERROR: tensorflow 2.6.0 has requirement numpy~=1.19.2,`

[2021-10-15 11:00] joan126 opened #52519 "TensorArray support dtype of Custom defined class object?"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are
not verified bugs in TensorFlow, please go to
[Discourse](https://discuss.tensorflow.org/).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/tensorflow/blob/master/SECURI

[2021-10-15 13:05] junior-azeh commented on #46667
Did you generate sample project to test with the stm32, if so what was the make command you used

Did you generate sample projects for the stm32 board, what was the make command used

[2021-10-15 13:23] tfeher opened #52520 "Document whether the GPU execution of concrete functions are asynchronous"
## URL(s) with the issue:
- https://www.tensorflow.org/guide/eager#performance
- https://www.tensorflow.org/guide/intro_to_graphs#seeing_the_speed-up
- https://www.tensorflow.org/api_docs/python/tf/experimental/async_scope

## Description of issue (what needs changing):
The comment in the example code at https://www.tensorflow.org/guide/eager#performance states:
[code]

In contrast, the benchmark

[2021-10-15 14:23] Lucy20211 commented on #46667
Hi, I used this command: `make -f tensorflow/lite/micro/tools/make/Makefile` (from https://www.digikey.com/en/maker/projects/tinyml-getting-started-with-tensorflow-lite-for-microcontrollers/c0cdd850f5004b098d263400aa294023)

[2021-10-15 23:59] MarkDaoust commented on #43173
Francois fixed this here:

https://github.com/keras-team/keras/commit/d9abcd788e5419560c4d8bd47b22ec387fe5c9c2

It will be in TensorFlow 2.7 which will be released shortly.

[2021-10-15 23:59] #43173 closed

[2021-10-16 01:33] evanatyourservice commented on #40342
Still happens in 2.6.0. I read elsewhere this happens with distributed strategies. Optimizer weights are not saved in the savedmodel, and so are not loaded when restarting from the savedmodel. Nowhere is the tf docs does it warn about this. I don't mind if it's the case, but at least update the docs and give a workaround, this has been an issue for 2+ years.

My workaround steps are:

1. save two

[2021-10-16 01:51] #51900 closed

[2021-10-16 01:51] #52036 closed

[2021-10-16 01:51] #52098 closed

[2021-10-16 06:15] sjtusmartboy opened #52526 "logistic error in tf.split function"
**tf nightly**

[code]

1. What's the type of `num` parameter for tf.split in https://tensorflow.google.cn/api_docs/python/tf/split?hl=en#args. Can it be of the type 'tensor' or just the 'int' type?
2. If the number of  split output can only be inferred from the context, I mean the **tf.shape(counts)** in the above example, then how to revise the code?

[2021-10-16 06:35] sushreebarsa commented on #52370
@DEKHTIARJonathan Could you please find the latest  [commit](https://github.com/tensorflow/tensorflow/commit/59e882af21831eea9e24d74c9af4242cc1514c6e) reference and let us know if it helps ?
Please move this issue to closed status if it is resolved for you.Thank you!

[2021-10-16 06:38] sushreebarsa commented on #52370
@DEKHTIARJonathan Could you please find the latest  [commit](https://github.com/tensorflow/tensorflow/commit/59e882af21831eea9e24d74c9af4242cc1514c6e) reference and let us know if it helps ?
Please move this issue to closed status if it is resolved for you.Thank you!

[2021-10-16 08:29] sjtusmartboy commented on #52526
Please do not tell me to remove the **@tf.function** because I have to use it in the dynamic **graph** . Why the **num** parameter for **tf.split**  could only be **int** instead of **tensor**?

[2021-10-16 09:12] flowold opened #52527 "whether there is a timeout value can be set for bazel building download action?"
When I use bazel build tensorflow, which will download a lot of rep, so often timeout and rebuild and timeout agian...
whether thesre is a timeout value can be set for download action for bazel?

[2021-10-16 12:16] agouliel commented on #47205
Doesn't work on Macbook Air M1, with macOS Big Sur 11.6, Python 3.8.12 and pip 21.3

[2021-10-16 13:30] Nagarajb14 commented on #35380
I am running it on TF2.0/Windows Desktop with GPU. ITs extremely slow
Can someone help me?

[2021-10-16 15:21] Nafees-060 opened #52529 "How to decrease the learning rate every 10 epochs by a factor of 0.9?"
I want to set the learning rate at 10^-3 with a decay every 10 epochs by a factor of 0.9. I am using the Adam optimizer in Tensorflow Keras. I have found this code in the official documentation:

initial_learning_rate = 0.1

[code]
I do not know what is this decay_steps=100000. Actually, I want to decrease my learning rate after 10 epochs. How can I do it?

[2021-10-16 16:51] #33108 closed

[2021-10-16 17:04] sachinprasadhs commented on #52197
Have you checked [ParameterServerStrategy](https://www.tensorflow.org/guide/distributed_training#parameterserverstrategy) which may help your case, more details can be found in [this](https://www.tensorflow.org/api_docs/python/tf/distribute/experimental/coordinator/ClusterCoordinator) document with the example. Let us know if this helps you. Thank you!

[2021-10-16 17:33] sachinprasadhs commented on #52149
Inside the VM for `TPUClusterResolver`, fpr the argument tpu It can be the TPU name or TPU worker `gRPC` address. If not set, it will try automatically resolve the TPU address on Cloud TPUs.
But, If set to "`local`", it will assume that the TPU is directly connected to the VM instead of over the network.

[2021-10-16 17:52] tbikash62 commented on #29054
Hello

Great comments to read that actually people solved it!

In my case (Not yet solved)-

1. TF_OD_API_INPUT_SIZE = 320;  (changed to 320-->It was 300)
2. TF_OD_API_MODEL_FILE = "detect1.tflite";
3. TF_OD_API_LABELS_FILE = "labelmap.txt";

Below is my I/P and O/P tensor for models-
![image](https://user-images.githubusercontent.com/58831041/137597274-a0a7d180-1f6b-4032-b22d-f93ba1337a87.png)

G

[2021-10-16 18:09] kamalkraj commented on #52149
@sachinprasadhs
I am trying to execute the code in the TPU-VM. Where TPU is directly attached to the VM

[2021-10-16 18:14] EdjeElectronics commented on #52255
I had the same problem, and @noxhsxrk's solution fixed it. Thanks!

[2021-10-16 18:17] mohantym commented on #52380
Ok! Closing this issue as it seems to be resolved ! Thanks !

[2021-10-16 19:17] sachinprasadhs commented on #23553
Could you please refer [this](https://www.tensorflow.org/guide/graph_optimization) Graph Optimization documentation in the recent Tensorflow version and compare the different Graph Optimizer, If you still feel the issue is not resolved feel free to open a new issue.

[2021-10-16 19:17] #23553 closed

[2021-10-16 19:29] maryamxasghari commented on #4349
Can someone help me please with this issue?
Thank you

$ nvidia-smi
Failed to initialize NVML: Driver/library version mismatch

2021-10-16 14:56:09.420644: E tensorflow/stream_executor/cuda/cuda_driver.cc:271] failed call to cuInit: CUDA_ERROR_COMPAT_NOT_SUPPORTED_ON_DEVICE: forward compatibility was attempted on non supported HW
2021-10-16 14:56:09.420676: I tensorflow/stream_executor/cuda/cuda_d

[2021-10-16 19:37] maryamxasghari opened #52530 "Failed to initialize NVML: Driver/library version mismatch"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

Can someone help me please with this issue?
Thank you

System information

OS Platform and Distribution: Ubuntu

[2021-10-16 21:16] ODemidenko opened #52531 "tf.data.dataset function that only creates dataset of windows, containing tensors"
It is necessary to have tf.data.dataset function that creates dataset of windows of tensor type (instead of datasets of timestamps).

**System information**
- TensorFlow version (you are using): 2.6
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

Currently, there are 2 functions that do smth similar, but not exactly:
- `tf.keras.utils.time

[2021-10-17 01:10] mohantym commented on #50204
Hi @banderlog @beew, I upgraded Numpy version to 1.21.2 in Colab  succesfully in this[ issue](https://github.com/tensorflow/tensorflow/issues/52380),  will  check it in my local system too. Thanks!

[2021-10-17 02:51] #31247 closed

[2021-10-17 03:39] tilakrayal commented on #52194
@myasser63 ,
We see that you are using tf version 1.x which is not actively supported, please update to v2.6 and let us know if you are using same issue.Thanks!

[2021-10-17 03:40] tilakrayal commented on #52194
@myasser63 ,
Can you please let us know the tensorflow version you are using.Thanks!

[2021-10-17 04:24] StarOnTheSky opened #52533 "Failed to build python3 package"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 21.10
- TensorFlow installed from (source or binary):source
- TensorFlow version:2.6.0
- Python version:3.9.7
- Bazel version (if compiling from source):3.7.2
- GCC/Compiler version (if compiling from source):GCC9
- CUDA/cuDNN version:11.0
- GPU model and memory:RTX2060 6GB

**Describe the problem**

**Pr

[2021-10-17 05:47] banderlog commented on #50204
@mohantym numpy version is hardcoded in the METADATA file: `Requires-Dist: numpy (~=1.19.2)`. You could change it manually and upgrade numpy, but then you may find that something ceased to work abruptly.

[2021-10-17 08:06] mohantym commented on #52517
Hi @jooho-enerzai! This issue is replicating in TF [2.5 ](https://colab.research.google.com/gist/mohantym/8c5e7bb76d43937ac9f70ea28abe8572/tflite_error.ipynb#scrollTo=5PbMhu1-QOxI)and [2.6 ](https://colab.research.google.com/gist/mohantym/7a3add9187c38aa28e0415ad27af8964/tflite_error.ipynb#scrollTo=mVHtdHeZkORn), but seems to be resolved in [Nightly ](https://colab.research.google.com/gist/mohanty

[2021-10-17 09:47] BAAZKonqi opened #52534 "TypeError: Protocols cannot be instantiated - when iterating over a dataset"
**System information**
- OS Platform and Distribution: Ubuntu 21.04
- TensorFlow installed from binary: pip install tf-nightly
- TensorFlow version: v1.12.1-65564-gea2d617f792 2.8.0-dev20211016
- Python version: 3.9

**Describe the current behavior**
I can not iterate over a tf.data.Dataset . My guess is, that I might have a version mismatch in a dependency, but I can not figure it out.

    Trace

[2021-10-17 09:57] akshit0201 opened #52535 "Cannot update variable with shape [2] using a Tensor with shape [512,1], shapes must be equal. [Op:AssignAddVariableOp]"
I think this issue is more relevant to tensorflow than keras hence I'm asking it here and not in the keras repository.
I've also gone through different versions of this problem on stack overflow but I can't seem to figure out what is going wrong.
Before starting , I'd also like to add that I've asked this question on the Tensorflow Forum  & SO, but didn't get any response.

My model takes one inpu

[2021-10-17 10:37] zhmlcg commented on #41532
@xehartnort

I am experiencing the same problem.

I checked my system-imposed limit: RLIMIT_NPROC from /etc/security/limits.conf and number of threads from /proc/sys/kernel/threads-max. The former is 300 while the latter is 512198. I'm not 100% sure but at first thought both of them are large enough to create a new thread. The RAM quota is 4GB and the memory on GPU is 24GB.

So please someone let

[2021-10-17 11:17] mbkgh opened #52536 "Tensorflow serving in docker causes "Invalid reduction dimension (1 for input with 1 dimension(s)..."
I am using tensorflow-serving which runs with the build-in examples well and without issues:
cd c:\tmp\tfserving
PS C:\tmp\tfserving> C:\programme\git\bin\git clone https://github.com/tensorflow/serving
set-variable -Name "TESTDATA" -Value "$(pwd)/serving/tensorflow_serving/servables/tensorflow/testdata"
docker run -t --rm -p 8501:8501 -v "$TESTDATA/saved_model_half_plus_two_cpu:/models/half_plus_

[2021-10-17 11:38] seeeking commented on #36833
I met the same issue with tensorflow 2.6 on Mac.

[2021-10-17 12:06] myasser63 commented on #52194
I used tensorflow object detection with TF 1.x

[2021-10-17 13:16] sushreebarsa commented on #52535
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2021-10-17 13:18] sushreebarsa commented on #52387
@ns-xinjun In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-10-17 14:43] mirjalal commented on #52194
I used tensorflow obj detection with TF 2.x

[2021-10-17 15:52] akshit0201 commented on #52535
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- TensorFlow version (use command below): 2.x
- TensorFlow add-on version:  0.14.0
- Python version: 3.6.9
- GPU model and memory: None

**Describe the problem**.

Mentioned clearly above

**Describe the current be

[2021-10-17 21:45] #6925 closed

[2021-10-18 00:50] MalcolmMielle opened #52537 "Ref() does not return the same ref for the element."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Fedora 34
- TensorFlow installed from (source or binary): 2.6.0
- Python version: 3.9.7

**Describe the current behavior**

When loading MINST and requesting the ref() of the first element, it is not equal to it

[2021-10-18 02:11] yogeshriyat opened #52538 "AttributeError: module 'keras.engine.base_layer' has no attribute 'BaseRandomLayer'"
Hello.

Context: I'm using Colab and most of the time I'm using the  GPU runtime and High-RAM. I trained EfficientNetb7 and saved the model. When I ran tf.keras.load_model(), I got a bunch of error messages like:
[code]
So I did some Googling and I think someone recommended installing tf-nightly. That seems to have been a mistake! I couldn't get the model to re-run after that. I uninstalled tf-nig

[2021-10-18 02:51] #52221 closed

[2021-10-18 02:51] #52225 closed

[2021-10-18 03:05] tilakrayal commented on #52378
@erwinerdem ,
Please take a look at this [issue1](https://github.com/tensorflow/tensorflow/issues/38990), [issue2](https://github.com/tensorflow/tensorflow/issues/35195) with the similar error.Also  Its unlikely for TF 1.x version to receive any bug fixes except when we have security patches. There is a high possibility that this was fixed with later TF versions. Perhaps you can use latest tf vers

[2021-10-18 03:09] tilakrayal commented on #52381
@yc0619 ,
In order to expedite the trouble-shooting process, could you please provide a complete code  and the TensorFlow version you are using.Thanks!

[2021-10-18 06:08] tilakrayal commented on #52194
@myasser63 ,
We see that you are using tf version 1.x which is not actively supported, please update to latest stable v2.6 and let us know if you are using same issue.

[2021-10-18 06:34] erwinerdem commented on #52378
I didn't really solve the problem directly but I was able to get it working using a [docker image](https://hub.docker.com/layers/floydhub/tensorflow/1.4.1-gpu.cuda8cudnn6-py2_aws.19/images/sha256-eb47df096ed7d48b119d040744b29280a017910a3fe025bc32f0eb3b8d56fbde?context=explore).

[2021-10-18 06:34] #52378 closed

[2021-10-18 06:47] hotpeppeper opened #52540 "TensorRT ValueError Input 1 of node StatefulPartitionedCall was passed float from unknown:0 incompatible with expected resource"
**faild to use trt_convert to convert tensorflow .pb file to tensorrt**
**model code:**
[code]
**convter pb to trt code**
[code]
**pb file**
[https://drive.google.com/file/d/1M4TEB3t1SDpBFj-RS7WL8AuWybZaP1YZ/view?usp=sharing](url)

**env:**
os: ubutun 16.04
python: 3.8.3
tensorflow: 2.6.0
TensorRT: 7.2.3.4
cuda: 10.2
gpu: v100:32g

**error log**
[code]

[2021-10-18 06:51] tilakrayal commented on #52527
@flowold ,
Can you please refer this [link](https://docs.bazel.build/versions/main/user-manual.html#bazelrc) which provided the more information.It helps.Thanks

[2021-10-18 07:44] wangwei-cmd commented on #51588
@mdanatg, yes, I think the crash is because the RAM were exhausted. I don't how why @tf.function needs so many RAM. Can someone  explains the reasons. Thanks a lot.

[2021-10-18 07:51] #48532 closed

[2021-10-18 07:51] #34415 closed

[2021-10-18 08:07] #52245 closed

[2021-10-18 08:16] Saduf2019 commented on #22023
@Nayana-ibm
Is this still an issue could you please try on latest tf version and let us know.

[2021-10-18 08:23] Saduf2019 commented on #52392
@KangGrandesty
Could you please try on 2.5/2.6 and let us know if you still face the issue.

[2021-10-18 09:45] r3krut commented on #52357
Same issue with custom CenterNet model based on PyTorch. My pipeline for conversion is follows: PyTorch-> ONNX -> Keras -> TFLite. Interestingly, that error(Absolute and squared errors) between output tensors of PyTorch and Keras(after conversion) models is near zero.  But, when conversion from Keras to TFLite is done the error is big.

[2021-10-18 09:55] tilakrayal commented on #52329
@Koratun ,
Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-10-18 10:38] tilakrayal commented on #52537
@MalcolmMielle ,
I tried to reproduce the issue and haven't found any issue in execution.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/420e1417beb10b77183748861756b074/untitled92.ipynb).Can you please provide the error you are facing or more details about the issue mentioned.It helps to analyse the issue.Thanks

[2021-10-18 10:51] mohantym commented on #52533
Hi @StarOnTheSky! Inline with above comment, Could you also look at these issues with similar error stack trace ?[ link1](https://github.com/tensorflow/tensorflow/issues/348),[link2](https://stackoverflow.com/questions/34819221/why-is-python-setup-py-saying-invalid-command-bdist-wheel-on-travis-ci).

[2021-10-18 10:53] MalcolmMielle commented on #52537
@tilakrayal
Thanks for looking it up. I have updated the gist [here](https://colab.research.google.com/gist/MalcolmMielle/ca49d1687fdc608f6243ed73d6e507fd/untitled92.ipynb). I have simply added the last comparison into an assert to show the difference in the refs of `el[0]` even thought it is the same element.

The last line of the gist IMO should return True. However, this is False.

According to

[2021-10-18 11:04] bhpatray opened #52542 "Steps to create tensorflow lite c++ dynamic library through cmake."
I am trying to create dynamic TFLite c++ shared library.
https://www.tensorflow.org/lite/guide/build_cmake -

When I run step 5 , It creates static library.

Could you provide steps to create c++ dynamic library using cmake.
There is mentioned how to create only for c shared dynamic library but not c++.

[2021-10-18 11:30] K1504296 opened #52544 "TensorFlow unit test failure python/kernel_tests:self_adjoint_eig_op_test"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Aarch64 Centos-8
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): master
- Python version: 3.6.8
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler v

[2021-10-18 11:55] KangGrandesty commented on #52392
- [x] v2.5.0
- [x] v2.6.0
- [x] v2.7.0-rc0
- [x] nightly

All checked tags&branches occur the same excpetion.

@Saduf2019

[2021-10-18 13:00] bhpatray commented on #52542
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**

- Debian 10(e.g., Linux Ubuntu 16.04):
- trying to TensorFlow Lite install from source:
- TensorFlow Lite versi

[2021-10-18 13:52] #52208 closed

[2021-10-18 14:49] sbrl commented on #52384
That's even worse. If I follow that guide to the letter, `tensorflow` fails to install:

[code]

I don't have conda installed.

No helpful. Both of these are about CUDA support. I **do not care about CUDA or GPU support**.

[2021-10-18 15:11] Space-Fighter commented on #52184
@sanatmpa1 Trying out the first suggestion i get the following error -
[code]
[FULL TRACEBACK](https://gist.github.com/Space-Fighter/847755b29adb561d1fe65f0fa316db46)

Trying out the second suggestion my code becomes -

[CODE](https://gist.github.com/Space-Fighter/7f926edf96260758f901b06ae5a72157)

Error i get -

[ERROR](https://gist.github.com/Space-Fighter/05cbf8a19172ceab33520c3197d87003)

[2021-10-18 15:47] mihaimaruseac commented on #51743
The commit has been cherry-picked, so the next release candidate should fully resolve this

[2021-10-18 16:03] srjoglekar246 commented on #29054
@tbikash62 Did you convert your model recently? I think there were some changes to our converter recently, due to which the order of the outputs might get changed.

See the 'Test TFLite model' section in [this colab](https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/eager_few_shot_od_training_tflite.ipynb), where we look at the TFLite model's input & output

[2021-10-18 16:15] myasser63 commented on #52194
I tried to use TF2.X to train `ssd_mobilenet_v2_320x320_coco17_tpu-8` using [Roboflow colab](https://colab.research.google.com/drive/1sLqFKVV94wm-lglFq_0kGo2ciM0kecWD#scrollTo=QcHJuaurS_AO&uniqifier=1)  but I am getting this error when I train  the model:

During handling of the above exception, another exception occurred:

'''
Traceback (most recent call last):
  File "/content/models/research/ob

[2021-10-18 17:11] mihaimaruseac commented on #50204
TF 2.7 will have wider range for numpy.

[2021-10-18 17:51] #42817 closed

[2021-10-18 18:02] alexdwu13 commented on #52388
@mohantym https://gist.github.com/alexdwu13/cb08ceea33c546c1fcabac3b1b6b0c25

[2021-10-18 18:08] Saduf2019 commented on #52384
After which  you may , Prepare  venv with this version and install tensorflow with pip inside the venv and let us know.

[2021-10-18 19:10] jKaushalb commented on #52529
In tensorflow it uses mini batches to train the model. For your problem you need to understand two things
1) when we uses generators on our datasets it keeps on giving batches infinitely so we need to tell keras that after these many batches we consider as one epoch in
 model.fit( steps_per_epoch) argument. so generally we uses **steps_per_epoch = train_dataset.shape[0] // batch_size**
(total trai

[2021-10-18 19:35] allenwang28 commented on #52149
Currently TensorFlow on TPU VM requires a special build of TensorFlow that comes pre-installed on the VM. `tf-nightly` or `tensorflow` in PyPI unfortunately won't work with TPU VM.

There is a wheel that should be included within the TPU VM at `/usr/share/tpu/*.whl` which I think you can pip install in your virtualenv instead?

[2021-10-18 19:35] jviquerat opened #52552 "Significant difference in trained model between tf2.3 and tf>2.4"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): osx 11.2 and google colab
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.3/2.4/2.5/2.6
- Python version: 3.8.11

**Describe the current behavior**
I am working on a

[2021-10-18 19:58] rthadur commented on #19776
Closing this issue , Please refer this link for update https://github.com/tensorflow/tensorflow/pull/23921#issuecomment-518861095 . Thank you.

[2021-10-18 19:58] #19776 closed

[2021-10-18 20:45] github-actions[bot] opened #52555 "Issue created for Rollback of PR #52553: Update Readme - Test PR Notification Change"
Merged PR #52553 is rolled back in e98b052c08e5d1e7906ac2f6caf95c51a1e04985.
    Please follow up with the reviewer and close this issue once its resolved.

[2021-10-18 21:35] scdub commented on #45994
A fix on this issue would be appreciated -- in [embedded contexts](https://docs.python.org/3/extending/embedding.html), `sys.argv[0]` is not guaranteed to be set.

[2021-10-18 22:18] tbikash62 commented on #29054
Hello @srjoglekar246

Thank you for the guidance.

Did you convert your model recently?
Yes, on 15th of this month.

[code]
[code]

So is it the java code or error in the model itself, I mean do I have to retrain?

As of now, keeping inputs as it is. (float32 so getting multiplied by 4--> 1*320*320*4)
![image](https://user-images.githubusercontent.com/58831041/137814034-f5f3e41d-026c-43c7-8d81-5a2

[2021-10-18 23:00] rchao commented on #52197
Hello @stefan-falk thanks for the question! I'd suggest visiting https://www.tensorflow.org/guide/distributed_training and see if either [`ParameterServerStrategy`](https://www.tensorflow.org/tutorials/distribute/parameter_server_training) or [`MultiWorkerMirroredStrategy`](https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras) suits your need. I would give them a try.

[2021-10-19 00:08] github-actions[bot] opened #52557 "Issue created for Rollback of PR #52553: Update Readme - Test PR Notification Change"
Merged PR #52553 is rolled back in 37e47aca9c5dcbb6d27093b9550d4f0b1cca3307.
    Please follow up with the reviewer and close this issue once its resolved.

[2021-10-19 00:21] #52557 closed

[2021-10-19 01:22] Koratun commented on #52329
I went ahead and opened an issue on Keras as you recommended: https://github.com/keras-team/keras/issues/15518

[2021-10-19 01:27] alanpurple opened #52561 "2.7.0rc1 build error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubnutu 20.04
- Mobile device (

[2021-10-19 02:07] wangwei-cmd commented on #51588
@mdanatg Thank you. But if self.w1 is a fixed numpy array, how can I modified the code to avoid RAM exhausting.

[2021-10-19 02:34] sushreebarsa commented on #52542
@bhpatray We see that you're using TF v2.4.1,Could you please try to use TF v2.6.0 and let us know if it is still an issue ? Thanks!

[2021-10-19 02:39] alanpurple commented on #52561
another error without numa support
[code]

[2021-10-19 02:42] #51086 closed

[2021-10-19 02:57] multiverse-tf commented on #52265
This is a known issue with XNNPACK delegate (and other TFLite delegates) as it doesn't support model graphs with dynamic tensors. Note that a tensor could be marked dynamic at TFLite runtime when there's a control-flow op (like if, while etc.) prepared. In other words, even when the model graph itself doesn't have any tensors of dynamic shapes statically, at runtime, a model could have dynamic ten

[2021-10-19 03:05] tilakrayal commented on #52329
@Koratun ,
Please feel free to close this issue,as it has been tracked there in Keras repo.Thanks

[2021-10-19 03:28] MeghnaNatraj commented on #42323
Hello @MiladGhorbaniG, you try this with Google drive + Google Colab

Upload your model to your google drive and authorize access to it from Google colab by running the following code in Google colab:

[code]

[2021-10-19 03:33] BLue1881euLB opened #52562 "prevent gpu memory allocation for MonitoredTrainingSession"
I am trying to restrict GPU memory allocation in a MonitoredTrainingSession.

The methods of setting tf.GPUOptions as shown here: How to prevent tensorflow from allocating the totality of a GPU memory? do not work out in the case of MonitoredTrainingSession.

I tried:
`gpu_options = tf.GPUOptions(per_process_gpu_memory_fraction=.1)
config = tf.ConfigProto(allow_soft_placement=False,

[2021-10-19 03:42] #50750 closed

[2021-10-19 03:44] #52329 closed

[2021-10-19 03:49] bhpatray commented on #52542
Yes it still the issue.
I need steps to build C++ TFLite dynamic library.
That is independent of TFLite version used

[2021-10-19 04:07] MeghnaNatraj commented on #52293
@haozha111 when the android app is released, do post a link to the it here as the user is waiting on the app.

[2021-10-19 04:13] mohantym commented on #52540
Hi @hotpeppeper ! Could you look at these threads for answer ? [Link1](https://forums.developer.nvidia.com/t/valueerror-input-1-of-node-statefulpartitionedcall-was-passed-float-from-conv2d-kernel-0-incompatible-with-expected-resource/112608),[Link2](https://forums.developer.nvidia.com/t/incompatible-with-expected-resource/72935#5356209),[Link3](https://github.com/onnx/tensorflow-onnx/issues/1152)

[2021-10-19 04:42] jviquerat commented on #52552
Just noticed that by removing the `clipnorm` option in `Adam`, things seem to get back to normal.
Could it be related to <a href="https://github.com/tensorflow/tensorflow/issues/36001">this issue</a> ? If yes, I'm not sure about the proper way of clipping gradients ?

[2021-10-19 05:19] mohantym commented on #52529
Hi @Nafees-060! Could you check with above suggestions?

[2021-10-19 05:27] sanatmpa1 commented on #52239
@logankilpatrick,

Yes it could be related to the processor as it works fine on non M1 macbook, Also the issue is not present in different hardwares that we tested it on.

[2021-10-19 06:21] Nafees-060 commented on #52529
I am working on it, please give me some time

[2021-10-19 07:09] Z-yq commented on #52022
The answer is YES

[2021-10-19 07:09] #52022 closed

[2021-10-19 07:10] raggyie commented on #52293
Using the dependencies ...
implementation 'org.tensorflow:tensorflow-lite:+'
implementation 'org.tensorflow:tensorflow-lite-select-tf-ops:+'

Rather than nightly builds have fixed this issue

[2021-10-19 07:13] mohantym commented on #52561
Hi @alanpurple !Did you check with  Python 3.6-3.9 and [tested configuration ](url)for stable version 2.6 ?https://www.tensorflow.org/install/source_windows#gpu

[2021-10-19 07:51] luchangli03 commented on #36123
pip install pip==19 solves this problem

[2021-10-19 07:54] niciBume commented on #52263
Oh wow guys... I found the error.
Problem was on [this line](https://colab.research.google.com/gist/niciBume/2fb8d9eb36d5e13d8faaea9e1273e980/tensorflow-lite-debugger-colab.ipynb#scrollTo=YT8OIvQiKDhg&line=1&uniqifier=1) I was feeding the interpreter a `.h5` model and not the actual pruned TFlite file.

Sorry for wasting your time!

TLDR: Quantizing pruned networks works if you feed the interprete

[2021-10-19 07:54] #52263 closed

[2021-10-19 08:25] yc0619 commented on #52381
Sorry i am not allowed to give you the entire code. But i can tell you the workflow (these codes are right)
1. in csv: data label, image path
2. read csv to get dataframe, append image in dataframe
3. from datafram get data, lbl and use tf.data.Dataset.from_tensor_slices((data, lbl))
And in the third step, just 2 of cpu threads are used, but when i give the data and lbl (np.array) in model.fit, it

[2021-10-19 09:05] mirjalal commented on #52194
which version of tf are you used?

[2021-10-19 09:11] Vadim-Maklakov commented on #51997
Hi all! My banal mistake type in this code
def vectorize_sequences(sequences, dimension=10000):
    results = np.zeros((len(sequences), dimension))
    for i, sequence in enumerate(sequences):
        results[i, sequence] = 1.0
-       return results
+    return results
Problem solved, I am closing this ticket with my banal mistake.
My apologies for the unnecessary trouble.

[2021-10-19 09:32] wbeardall opened #52571 "Indexing into tf.shape(...) is broken when operating on KerasTensors (i.e. during Functional model building)"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-10-19 10:16] araby123 opened #52572 "I Have this issue in Apple M1 ship that I can not run a training on GPU"
I have MacBook Pro M1 ship and I face this issue when I start training with this as Benchmark

my code :
[code]

Bug:

[code]

[2021-10-19 11:12] mohantym commented on #52561
Ok @alanpurple! Thanks for confirming the same. Attaching threads for reference for the above error . [Link1](https://github.com/tensorflow/tensorflow/issues/13481),[Link2](https://stackoverflow.com/questions/37313212/tensorflow-bazel-build-failing),[Link3](https://askubuntu.com/questions/749441/tensorflow-crosstool-wrapper-driver-is-not-gcc-failed-error-executing-command).Feel free to close this

[2021-10-19 11:17] robotjellyzone commented on #52253
Hi, @tilakrayal  the #[pr1954](https://github.com/tensorflow/docs/pull/1954) for this issue is already merged so can you please close this issue by linking that pr to this issue !

[2021-10-19 11:41] isaacgerg commented on #52348
You didn't answer my question in my last response so I cannot move forward.

[2021-10-19 12:04] xRiot opened #52573 "Crash with camera2api due to unsupported ImageFormat.YUV_420_888"
### Reproducible example
Example project from https://github.com/tensorflow/examples/tree/master/lite/examples/pose_estimation/android crashes after allowing camera permission due to:
[code]

### Adbcat error log

From start to crash:
https://gist.githubusercontent.com/xRiot/f50680c94ec65dfdfae52fda609665b7/raw/aa95bf99362751f1af6d2e53fb20bfc9168c4bdc/gistfile1.txt

### Environment
This issue is s

[2021-10-19 13:05] HRania commented on #48603
Yes, it worked with the `TFv2.5`. Thank you all

[2021-10-19 13:23] chunduriv commented on #48603
@HRania, Glad the issue is resolved for you, please feel free to move this to closed status.

[2021-10-19 13:24] logankilpatrick commented on #52239
Can you get access to a M1 Mac to test? I only have access to one.

[2021-10-19 13:33] robotjellyzone commented on #52253
Ok no problem ! I am closing this issue . Pr - [#1954](https://github.com/tensorflow/docs/pull/1954)

[2021-10-19 13:45] leandro-gracia-gil opened #52574 "No tf-nightly pip packages for MacOS available after 2021/09/22"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 11.7
- TensorFlow version: tf-nightly
- Python version: 3.9.4
- Installed using virtualenv? pip? conda?: pip

**Describe the problem**

tf-nightly pip packages seem to be missing MacOS builds after 2021/09/22. Trying `pip install --upgrade tf-nightly` installs version 2.7.0.dev20210922.

Trying to explicitly i

[2021-10-19 14:05] mohantym commented on #22007
Hi @alsrgv!
We are checking to see if you still need help in this issue , Have you tried latest stable version TF 2.6  yet? Please create a new issue if the issue is replicating in newer version. Thanks!

[2021-10-19 14:28] timmy-ops opened #52575 "TF estimator train_and_evaluate: loss = None and model does not train"
Hi guys, I am working on a premade estimator model of tensorflow (DNNRegressor) in an old tensorflow version. I already found some similar issues but their solution didnt work out for me (they said it would be solved by setting max_steps to None).

TF version: 1.15.1

[code]
max_steps was 1400000 before and i tried now to set it to None, but it didnt work for me. My input pipeline looks like this:

[2021-10-19 14:56] RomanSteinberg commented on #52346
@tilakrayal I read that issue thread and found two workarounds but not the solution. Workarounds are
**1. Use `predict` method to warm up the model before loading weights.** I don't think that it is ok to predict some garbage before loading weights. I'm sure Tensorflow is not designed to work this way.
**2. Use `tf.Variable` to specify Adam parameters when construct optimizer.** There is no inform

[2021-10-19 18:12] maryamxasghari commented on #52562
@tilakrayal I have similar issue and I added on top of my code but it didn't help

os.environ["CUDA_VISIBLE_DEVICES"]="0"
gpu = tf.config.list_physical_devices('GPU')
tf.config.experimental.set_memory_growth(gpu[0], True)

Is there any safe way to realize the GPU memory?

[2021-10-19 18:12] ipietri commented on #52382
@sanatmpa1 Yes, that solves the problem. Thank you. I realize that the statement is redundant. I just want to point out that previous versions of TensorFlow do not throw an error in this scenario. I have a tf 2.6.0 version in my Apple M1 and it runs without throwing any error. Thanks a lot for your help

[2021-10-19 20:38] rchao commented on #52197
Sounds good. Thanks!

[2021-10-20 00:39] mohantym commented on #52574
Hi @leandro-gracia-gil ! Did you try with below command .
`pip install tf-nightly`

[2021-10-20 02:08] sushreebarsa commented on #36800
@tim-evain Could you please try on the latest stable version of **TF 2.6.0** and let us know if it is still an issue? Thank you!

[2021-10-20 02:10] #41799 closed

[2021-10-20 02:50] egolearner commented on #26466
I'm afraid I do not have the necessary environment to take a try.
And I do not need this for the moment.

[2021-10-20 03:46] tilakrayal commented on #52572
@araby123 ,
Can you please provide the tensorflow version you are using.It helps to analyse the issue.Also please take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/52055) with the similar error.Thanks!

[2021-10-20 04:34] shajibul opened #52586 "ValueError ----> 1 cnn.fit(X_train, y_train, epochs=2)"
Code:
cnn.fit(X_train, y_train, epochs=2)

I got an error:
ValueError Traceback (most recent call last)
in ()
----> 1 cnn.fit(X_train, y_train, epochs=2)

My Code Link in colab:
https://colab.research.google.com/drive/1dy-q0E8B7siaWNRhG9CVNWuw1NBIOTl2?usp=sharing

Total Code:
import tensorflow as tf
from tensorflow.keras import datasets, layers, models
import matplotlib.pyplot as plt
import numpy

[2021-10-20 04:39] tilakrayal commented on #52575
@timmy-ops ,
We see that you are using tf version 1.15, 1.x is not actively supported, please update to latest stable v2.6 or v2.5 and let us know if you are using same issue.Thanks!

[2021-10-20 04:45] tilakrayal commented on #52381
Also please take a look at this SO [link](https://stackoverflow.com/questions/47086599/parallelising-tf-data-dataset-from-generator) with the similar information.It helps.If you are unable to provide the reproducible code, please post this issue in tf discussion as this is not either feature or bug request.Thanks

[2021-10-20 07:49] araby123 commented on #52055
I try it but still I face same issue
[code]

[2021-10-20 07:59] masterholdy opened #52587 "tf.io.read_file loads indefinitely"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-10-20 08:51] ashishsb0307 opened #52589 "Modifying the Categorical Cross entropy for Mirrored strategy/Distributed training causing low validation accuracy"
**System information**
**Have I written custom code (yes)
**OS Platform and Distribution (Windows)
**TensorFlow installed from (binary)
**TensorFlow version (2.4.1)
**Python version(3.7.9)
**CUDA/cuDNN version(11.1/8/0):
**GPU model and memory(Titan XP, 12 GB):

**Describe the problem**
For **normal (single GPU training)** current loss is being calculated as follows:

[code]

For **Mirrored strate

[2021-10-20 09:26] mohantym commented on #52574
Hi @sachinprasadhs ! Could you look at this issue!

[2021-10-20 09:26] timmy-ops opened #52590 "Following machine learning tutorial of Google gives wrong results"
# The case:
I have to follow this Tutorial for school and reproduce the results:
[Predicting Customer Lifetime Value with AI Platform: training the models](https://cloud.google.com/architecture/clv-prediction-with-offline-training-train)
This task should be the first step of my bachelor thesis and I have to reproduce this result very naive, so with the same parameters. I am trying on this for week

[2021-10-20 09:35] GipsonLeo opened #52591 "[mlir-hlo]The following operations cannot be legalized: tf.VariableV2"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.6.0
- Are you willing to contribute it (Yes/No): No, i w

[2021-10-20 09:57] mohantym commented on #52586
Hi @shajibul!I have fixed above issue by changing input_shape = (28,28,1) and reshaping the train,test data from Mnist dataset. Attaching [Gist ](https://colab.research.google.com/gist/mohantym/e2c5b4d25c8024097af32cd6e878df44/github_52586.ipynb)for reference.

[2021-10-20 10:07] mohantym commented on #26466
Ok @egolearner! Closing this issue for now ,Please create a new one if you need further assistance.Thanks!

[2021-10-20 10:45] myasser63 commented on #52194
I used 2.6

[2021-10-20 10:56] adsk2050 opened #52592 "Will Tensorflow support Keras in the future?"
In the [release notes](https://github.com/tensorflow/tensorflow/blob/master/RELEASE.md) 2.6 release notes, it is mentioned that keras is going to be separated from tensorflow.

My query is - Does this mean that tf.keras will be in sync with the separated keras library? (I understand that tf.python.keras is deprecated and will be removed).

So as a recommendation, should I use tf.keras or directly

[2021-10-20 11:28] Saduf2019 commented on #33975
@Flamefire
Is this still an issue in latest tf version, please confirm and move to close status if it is not an issue.

[2021-10-20 11:40] tilakrayal commented on #52587
@Saduf2019 ,
I was able to reproduce the issue in tf [v2.6](https://colab.research.google.com/gist/tilakrayal/f942af07c7c2a8c88815700941c8ebdb/2-6minimal_sample.ipynb), v2.5 and [nightly](https://colab.research.google.com/gist/tilakrayal/e1600c211b2f17c1faf7d9837e71c80a/minimal_sample.ipynb).Please find the gist.

[2021-10-20 12:25] Flamefire commented on #33975
Yes this is still an issue

[2021-10-20 13:09] chunduriv commented on #41765
@Bluewind001, We are checking to see if you still need help on this issue. Can you try building the latest stable version of TF i.e `2.6.0` and let us know if the issue persists? You can use this [guide](https://www.tensorflow.org/install/source_windows) for your reference and take a look at this [link](https://www.tensorflow.org/install/source_windows#tested_build_configurations) for the tested b

[2021-10-20 13:14] tilakrayal commented on #52575
@timmy-ops ,
Glad the issue resolved for you.Please feel free to close this issue and #52590 will tracking there as another issue.It helps to reduce the duplicacy.Thanks!

[2021-10-20 14:23] Saduf2019 commented on #52592
@adsk2050

Please refer to below post and you may raise your query there as well.
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

Or post this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues).
To know more refer to:

[2021-10-20 14:28] qspi commented on #41218
Hi, is there any news about this? I have an even stranger issue. I have a simple face detector SSD model, and training with Model.fit vs. GradientTape not only behaves different. The Model.fit version simple doesn't work, validation loss doesn't decrease. On the other hand the GradientTape version predicts pretty well the faces after only 20 epochs. You can check it out here: https://colab.researc

[2021-10-20 15:09] sanatmpa1 commented on #52130
@bleedingfight,

Can you take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/15172#issuecomment-358682439) from a similar issue and try if it helps? Also try installing GCC 7.3.1 as per the [tested build configuration](https://www.tensorflow.org/install/source#tested_build_configurations). Thanks!

[2021-10-20 15:12] ghup1 opened #52596 "Mixed precision training incompatible with BinaryCrossentropy label smoothing"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: Yes
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows Server 2012 R2
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**: -
-   **TensorFlow installed from (source or binary)**: binary
-   *

[2021-10-20 15:21] qspi opened #52597 "Simple SSD, face detector, training ok with GradientTape BUT loss doesn't decrease if I train an identical model with Model.fit()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes, custom
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04, and also on current Google Colab
- TensorFlow installed from (source or binary): binary, GPU version
- TensorFlow version (use command below): 2.5.1 (2.6 on Google Colab)
- Python version: 3.7
-

[2021-10-20 15:37] sushreebarsa commented on #52596
@ghup1
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-10-20 15:40] sanatmpa1 commented on #40359
@shreymohan,

I tried reproducing the code in TF 2.6.0 and it was throwing RuntimeError  `Failed to quantize: <unknown>:0: error: loc("strided_slice_21"): 'tfl.strided_slice' op quantization parameters violate the same scale constraint: !quant.uniform<i8:f32, 0.81405168771743774:-128> vs. !quant.uniform<i8:f32, 1.4241064786911011:-128>`, whereas in tf-nightly i.e `2.8.0-dev20211020`, it ran succes

[2021-10-20 15:52] #52596 closed

[2021-10-20 15:56] sanatmpa1 commented on #34189
@muzixizhu,

I modified your code to remove .h5 extension while saving the model and it worked without any errors. Please take a look at the [gist here](https://colab.research.google.com/gist/sanatmpa1/5156de008111bff37c238b87a4fb7e00/34189.ipynb). Thanks

[2021-10-20 16:50] Saduf2019 commented on #26667
@death14stroke
Could you please confirm if this is still an issue.

[2021-10-20 16:56] Saduf2019 commented on #27626
@anneyking
Could you please try on the latest tf version and let us know if this is still an issue.

[2021-10-20 17:05] sanatmpa1 commented on #52184
@Space-Fighter,

I passed a random image and I am getting a different error when running [this code](https://gist.github.com/Space-Fighter/7f926edf96260758f901b06ae5a72157), `ValueError: Input tensors to a Functional must come from 'tf.keras.Input'` . Please find the [gist here](https://colab.sandbox.google.com/gist/sanatmpa1/0869b83260679fe1e824b1ebfbc032b6/github_52184.ipynb).

Instead of sharin

[2021-10-20 17:19] tfeher opened #52599 "Asset initialization using SavedModel C++ API"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Ubuntu 20.04
- TensorFlow installed from: source, commit 1dd2070b5f9
- TensorFlow version: 2.8
- Python version: 3.8.5
- Bazel version: 3.7.2
- GCC version (if compiling from source): 9.3.0
- CUDA/cuDNN version: 11.3
- GPU model and memory: V100-SXM2 16GB

**Describe the current behavior**
I would like to infe