[2019-05-24 08:53] gadagashwini commented on #28952
@yangjinghit Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue te

[2019-05-24 09:04] saudet commented on #27999
@dreistheman You're going to get much better performance without copying your data multiple times:
http://bytedeco.org/news/2018/07/17/bytedeco-as-distribution/

[2019-05-24 09:08] gadagashwini commented on #28624
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-24 09:08] #28624 closed

[2019-05-24 09:09] achandraa commented on #28976
I was able to get the mentioned error when trying with TensorFlow version 2.0.0-alpha on Colab.

[2019-05-24 09:15] phdsky commented on #26502
Problem still existing in the lastest tensorflow-gpu-2.0.0a0, Please fix this.

Insight normal in the terminal, but not in pycharm

[2019-05-24 09:24] sonbn0 commented on #27833
I have the same error
Debian stretch
GCC 6
python3.6

[2019-05-24 09:42] jpiabrantes opened #28992 "failed call to cuInit: CUDA_ERROR_INVALID_DEVICE: invalid device ordinal"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from (source or binary): `pip install tensorflow-gpu==2.0.0-alpha0`
- TensorFlow version (use command below): 2.0.0-alpha0
- Python version: 3.6.8
- CUDA version: 10
- GPU model and memory: GeForce GTX 1050 / 4G

[2019-05-24 09:45] achandraa commented on #28959
I was able to reproduce the issue on Colab with TensorFlow version 1.13.

[2019-05-24 09:46] XiaYuanxiang commented on #28926
Hello, did you slove the problem?
I meet the same problem

[2019-05-24 09:53] nateagr opened #28993 "Performance issue with ParameterServerStrategy and Gather"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Centos7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): v1.12.0-0-g

[2019-05-24 10:02] XiaYuanxiang commented on #28926
Hello，I changed  the code to EIGEN_URL="$(grep -o 'https.*bitbucket.org/eigen/eigen/get/.*tar\.gz' "${BZL_FILE_PATH}" | grep -v mirror.bazel | head -n1)"   as you said，but i still meet the problem
gzip: stdin: unexpected end of file
tar: Child returned status 1
tar: Error is not recoverable: exiting now

any suggestion will help，Thanks

[2019-05-24 10:02] achandraa commented on #28953
I was able to reproduce the issue with TensorFlow version 2.0 on Colab.

[2019-05-24 10:23] polpolie opened #28994 "[Translation] Translation for Korean"
We've translated this part of guidelines to Korean on our repository with github pages.

This is URL of Korean repository : https://github.com/BangSeongJin/translation_to_korean.git

[2019-05-24 10:43] saippuakauppias commented on #28693
@ymodak , @gadagashwini any suggestions for me?
Please...

[2019-05-24 11:16] lgeiger opened #28995 "Keras doesn't allow tf.data validation without validation_steps"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac 10.14.4, Ubuntu 18.01
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.14.1.dev20190524 | 1.14.0rc0 | 1.14.0
- Python version: 3.6.8
- CUDA/cuDNN version: -
- GPU

[2019-05-24 11:51] hamlatzis commented on #27646
@miaout17 yes I would also want to know if in the future (near future maybe?) we could have training on the device with TF Lite

keep up the good work

[2019-05-24 12:02] x666633 opened #28996 "how to use xla with c++ api in tensorflow"
tensorflow_version: 1.13.1
other： C++ inference; CPU
My steps are as follows:
1. I trained with Python on GPU
2. converted  model with freeze_graph.py
3. put it on CPU and use c++ language for inference.

How to use C++ to open the XLA settings, I use the following code,  no effect(before timecost == after timecost).

OptimizerOptions optimizer_options = _tf_options.config.graph_options().optimize

[2019-05-24 12:06] Krum3L commented on #28861
Hello,
Well, its good to hear that its only typo's and notthing with the code itself... i wrote alot of that day and probably had alot of typos because of that...
Sorry for the trouble i have caused.

[2019-05-24 12:06] #28861 closed

[2019-05-24 12:30] lgeiger commented on #28797
@jvishnuvardhan @omalleyt12 Have run this code on multiple GPUs?

[2019-05-24 12:33] gnsmrky commented on #26297
@SanthoshRajendiran @soham24 Plan to publish the repo over the weekend.  Still doing some tweaks.  :)

[2019-05-24 12:50] tizee commented on #26182
I found that the issue was due to the version of installed CUDA. In my case, the cuda version is 9.0 which is not supported by the latest stable version of tensorflow-gpu. BTW, I use  `dpkg -l | grep cuda`  to check the version of CUDA in Ubuntu 16.04.
Therefore, my solution is downgrading the version of tensorflow-gpu from 1.13 to 1.12 and the issue was solved.

[2019-05-24 13:29] odinsbane commented on #24496
I'm a little confused by the state of this issue. I am using an RTX 2080, cuda 10.1, cudnn v7.5.1.10 and tensorflow 1.14.

Using the allow growth work around works, but maybe I have a different version mismatch?

Will there be a fix for this in tensorflow 1.14?

Thank you

[2019-05-24 13:44] caisq commented on #28712
@csaroff Interesting. So this is because tf-nightly-2.0-preview is unavailable for Python 3.7. Changed the title of the issue to reflect that.

cc @gunan @yifeif @av8ramit

[2019-05-24 13:54] karllessard commented on #27999
Thanks @dreistheman , just quickly like that I've also noticed that you don't free up the tensor returned by `yoloSession.runner()`, I don't know how you are running your benchmark loops but you might face memory issues if you don't release it like (just declaring it as a `try` resource will do the job).

In addition, sorry if this is out-of-topic as it is not related to performances, but since TF

[2019-05-24 13:59] kartur commented on #12888
any update on this? I see there are converters, but still no official support, is this correct?

[2019-05-24 14:26] cgarciae commented on #12888
This issue is more political than technical, I guess this will be
implemented in some years when innovation rate drops and integration
becomes a priority.

On Fri, May 24, 2019, 09:06 kartur <notifications@github.com> wrote:

[2019-05-24 14:28] mihaimaruseac commented on #28832
What's the output of `gcc --version`?

[2019-05-24 15:06] mikechen66 commented on #24496
Thanks. I see the compatibility among RTX 20XX Turing series, TensorFlow and Anaconda. It is obvious that RTX series Supports cudnn 7.5.0, TensorFlow only supports cudnn 7.4, but Anaconda includes a streamlined 7.3.1, it is a totally mismatch among the three vendors. In addition, RTX series has a big compatibility problem with Ubuntu 16.04 LTS.  Sometimes, the Ubuntu 16.04 crashed. I had to bring

[2019-05-24 15:10] alextp commented on #23834
My advice is to add a flag or environment variable when exporting and skip adding the device annotations then.

[2019-05-24 15:11] freedomtan commented on #27626
@impjdi FYR. I got more reasonable GPU numbers on Pixel 3a after the GlPersistentBuffer 87ae6fb8ee4.

model name | CPU 1 thread (ms) | CPU 4 threads (ms) | GPU (ms)
-- | --: | --: | --:
Mobilenet | 113 | 80 | 52
PoseNet | 138 | 96 | 78
DeepLab V3 | 173 | 132 | 144
Mobilenet SSD V2 COCO | 200 | 167 | 113

[2019-05-24 15:11] mikechen66 commented on #24496
Thanks. I see the compatibility issue among RTX 20XX Turing series, TensorFlow and Anaconda. It is obvious that RTX 20XX series Supports cudnn 7.5.0, TensorFlow only supports cudnn 7.4, but Anaconda includes a streamlined 7.3.1, it is a total mismatch among the three vendors. In addition, RTX 20XX series has a big compatibility problem with Ubuntu 16.04 LTS. Sometimes, the Ubuntu 16.04 crashed. I

[2019-05-24 15:12] deepLearningEnthusiast opened #28997 "Unable to get predictions from .tflite graph."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary): tensorflow installed using pip
- TensorFlow version (use command below): 1.13.1
- Python version: python 3.6
- Bazel version (if compiling from source): 0.25.2
- CUDA/cuDNN

[2019-05-24 15:18] SumNeuron commented on #23834
@alextp that isn't possible at the moment (to my knowledge) hence the issue and the device annotations are _required_

[2019-05-24 15:24] smatzek commented on #28773
I agree that the current way we are triggering the graph modifications is brittle. While this module is doing graph modifications to introduce things like GPU-CPU tensor swapping and synchronization to avoid out of memory options, it is not a Grappler plugin. The reason for this is that the code is pure Python and operating at the Python op/graph layer to allow faster development and iterating on

[2019-05-24 15:27] alextp commented on #23834
You can always do that, no>?

On Fri, May 24, 2019 at 8:26 AM SumNeuron <notifications@github.com> wrote:

--
 - Alex

[2019-05-24 15:29] jvishnuvardhan commented on #28939
@chennakeshava1998 I ran the tutorial without any issues. Here is the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/138d0e438232934cd0c7b759ca411923/basic_regression.ipynb). Can you create a gist or share code to reproduce the issue? Thanks!

[2019-05-24 15:35] SumNeuron commented on #23834
@alextp to my knowledge, with estimators, no

[2019-05-24 15:35] EmielBoss opened #28998 "AttributeError: module 'tensorflow._api.v1.io' has no attribute 'decode_***' when calling any function in tf.io"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.12.0
- Python version: 3.5
- CUDA/cuDNN version: V8.0.61
- GPU model and memory: Tesla P100-PCIE, 12193MiB

**Describe the cu

[2019-05-24 16:00] engineer1109 opened #28999 "Is there any c++ api examples for tensorflow lite？"
I dont like java and swift.
I prefer c++.
However, I seldom see any c++ api helps.

[2019-05-24 16:00] tydlwav commented on #24496
RTX series are well supported as of right now. I have used tf with RTX 2070 through a conda environment on non-ubuntu distribution. This should be the worst case scenario, and it's still working fine. Cuda and cudnn are backwards compatible, and it should not be an issue if you use the newer versions. You should simply create a new Python 3.6 environment with `conda create -n tf python==3.6.8` and

[2019-05-24 16:04] impjdi commented on #26297
@SanthoshRajendiran

I bubbled up this request in last couple of meetings.  The example will be added to the TFLite demo app, but I have some deadline coming up, so it will be a couple months until I can get to it :(

[2019-05-24 16:09] impjdi commented on #27626
@freedomtan

Thanks for measuring the timing.  My colleague @NikolayChirkov added those improvements a couple days ago.  It doesn't solve the Mali performance bug, which we're still looking into, but improves some performance issues.

[2019-05-24 16:16] IeiuniumLux commented on #28832
@mihaimaruseac
gcc (Ubuntu/Linaro 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609

[2019-05-24 16:19] mihaimaruseac commented on #26502
I think the issue comes from the 3 different ways we are doing imports:

* normal Python import (`import foo` and `from foo import bar`)
* imports by extending `sys.path` and `sys.modules` and `__path__`
* using `LazyLoader` to make a name available, loading the corresponding module lazily

I think that the last two are the ones causing issues and this will be hard to fix at the moment. There's an

[2019-05-24 16:23] jvishnuvardhan commented on #21761
I am closing this issue. Please open a new ticket if the issue persists with latest version of TFlow. Thanks!

[2019-05-24 16:23] #21761 closed

[2019-05-24 16:27] mihaimaruseac commented on #28832
I guess the option forward is to try removing `"-mpfu=neon"` lines from https://github.com/tensorflow/tensorflow/blob/6b634657d8ff1355132c3838271e4f569d1ffaba/tensorflow/contrib/lite/kernels/internal/BUILD#L21-L37

[2019-05-24 16:29] mihaimaruseac commented on #28832
Also, if you want, can you also post the output of `gcc -dumpmachine`? That tells you what GCC can build for.

[2019-05-24 16:33] jvishnuvardhan commented on #28287
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Thanks!

[2019-05-24 16:33] #28287 closed

[2019-05-24 16:57] jvishnuvardhan commented on #28619
@acmilannesta The issue is with sklearn not with Tensorflow. Please post this issue in sklearn as `validation.py` in sklearn need to be updated with exception handling for this data type. Length estimation is throwing error. Thanks!

I am closing here. You can open it in sklearn repo. thanks!

[2019-05-24 16:57] #28619 closed

[2019-05-24 17:00] chennakeshava1998 commented on #28939
Here is the gist of a reduced version of the tutorial. I am using it for a different application, so I only needed the model creation parts. Gist: https://gist.github.com/chennakeshava1998/e38e8da0a6adf0640d8b5640095f3b83

The only change I have made is in specifying the input dimension to the RNN. I have used a constant of [64] instead of the length of an array.

[2019-05-24 17:00] jvishnuvardhan commented on #28791
I am closing this issue as it was resolved. Please open a new ticket if this issue persists. For new issues, please open a new ticket so that it will be helpful to the community to follow. Thanks!

[2019-05-24 17:00] #28791 closed

[2019-05-24 17:09] IeiuniumLux commented on #28832
@mihaimaruseac

nvidia@tegra-ubuntu:~$ gcc -dumpmachine
aarch64-linux-gnu

I'm going to build it without the "-mpfu=neon" option. But before, let me ask a few questions.

Do I need to run `./configure` before building it again?

Is it normal for the build to take more than a hour to complete on a Nvidia TX2?

Finally, is a [NCCL](https://docs.nvidia.com/deeplearning/sdk/nccl-install-guide/index.ht

[2019-05-24 17:31] qlzh727 commented on #28761
Thanks for reporting the issue, will send out the fix very soon.

[2019-05-24 17:41] mihaimaruseac commented on #28832
Ok, so for AArch64 `-mfpu=neon` is not needed as neon is mandatory and included by default. Still dubious that the compiler would complain instead of silently ignoring but not the topic to discuss that here.

I think it is better to run `./configure` again as you changed some options. Though these seem to be in Bazel files, so probably there won't be any change. Better safe though, so I recommend

[2019-05-24 18:16] tanzhenyu commented on #25349
@josiahbjorgaard Yep that'd be very helpful. The discussion with OpenAI is to first port things to my own repo. I have already done so with PPO/A2C/DDPG, and working on DQN right now. We can use help on 1) GAIL, 2) ACER, 3) ACKTR, 4) HER, 5) TRPO.
Here's my repo: https://github.com/tanzhenyu/baselines-tf2. You can branch and make PR directly, and once everything is finalized we can port to OpenAI

[2019-05-24 18:42] mgbukov commented on #4897
is there an efficient tflow way to compute the following covariance matrix M_{xy} of derivatives:

M_{xy} = Cov(\partial_x f(x,y);  \partial_y g(x,y)) =
= <\partial_x f(x,y) \partial_y g(x,y)> - <\partial_x f(x,y)><\partial_y g(x,y)>

where f(x,y), g(x,y) are differentiable functions of some vectors x and y, \partial_x is the gradient along x, and <> is the minibatch average.

The second part of t

[2019-05-24 19:19] #28775 closed

[2019-05-24 19:41] ahsabali opened #29005 "Group convolutions UnimplementedError for nightly build"
I am getting the following error message while running the following code using the nightly version of tensorflow 1.14.1-dev20190524. When will this feature be available?

Code:
`weights = tf.ones([3,3,1,3])`
`X = tf.ones([3,1024,1024,3])`
`Y = tf.nn.conv2d(X, weights, [1, 1, 1, 1], "VALID")`

Error:
UnimplementedError: Generic conv implementation does not support grouped convolutions for now.
	 [

[2019-05-24 19:52] jvishnuvardhan commented on #28921
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-05-24 20:02] jvishnuvardhan commented on #28822
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-05-24 20:18] ymodak commented on #28701
@brianwa84 Can you PTAL at this issue? Thanks!

[2019-05-24 20:19] Madhuparna04 opened #29006 "ImportError: cannot import name 'text_summary'"
I am trying to use -
from tensorflow.python.summary import text_summary
but getting the error -
ImportError: cannot import name 'text_summary'
How do I fix it?

[2019-05-24 20:24] ethanyanjiali opened #29007 "[TF 2.0] Converted code from autograph.to_code has undefined variable name, causing 'NameError: x is not defined'"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-24 20:27] SJCaldwell commented on #21429
Is this fixed? I also like to use custom objects.

[2019-05-24 20:27] ymodak commented on #28944
Perhaps this is the link you are looking for,
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/learn
It covers the migration instructions.

[2019-05-24 20:27] #28944 closed

[2019-05-24 20:53] annarev commented on #26502
@phdsk tensorflow-gpu-2.0.0a0 was released before the fix for `import tensorflow as tf` went in. That fix is only in nightly. I don't know if you are using `import tensorflow as tf`, but if you are, you can nightly.
If you are using other ways of importing tensorflow, then pycharms suggestions won't work in any version.

[2019-05-24 20:54] ymodak commented on #25461
Closing this issue since the PR has merged. Thanks!

[2019-05-24 20:54] #25461 closed

[2019-05-24 20:55] teddyward commented on #28944
Ok, that works! The link in the docstring is still broken, so other people may encounter the same problem, but thanks.

[2019-05-24 20:58] sbagroy986 commented on #27829
@ageron does it still work for you? I tried using recurrent_dropout with a GRU (as you are) and it seems to break for me. The problem seems to be with recurrent_dropout, cos if you switch it out everything seems to work. This problem also exists with LSTMs, and not just GRUs.

[2019-05-24 21:08] jvishnuvardhan commented on #28635
@zakizhou I think it is working as expected. Please check the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/c7fde452c04e77184a796f4a700cb80d/untitled196.ipynb).

When I provide input of `int32`, it throws an error. I added this line in the end
`test_rank_cf(tf.fill([2,3,4],3))   # this throws an error as input is int32 whereas it was expecting float32`

[2019-05-24 21:10] x666633 opened #29008 "How to improve MKL performance?"
**system information**

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
TensorFlow installed from (source or binary): source
TensorFlow version: 1.13.1
Python version: 2.7.13
GCC/Compiler version (if compiling from source): 5.4
MKL  version: mklml_lnx_2019.0.3.20190220/

**Describe the problem**
My steps are as follows:

1. I trained with Python on GPU
2. converted model with freeze

[2019-05-24 21:18] qlzh727 commented on #28837
I think RNN model will be supported on TPU after 2.0, TPU team is working it. Adding @xiejw from TPU team for status update.

[2019-05-24 21:22] ymodak commented on #28840
@emaballarin Does your code execute successfully if you use the commented code (NumPy compatibility) in your script instead of tf.make_ndarray()
[code]
Also can you please print the type of ```tag_masks``` and ```tag_class_indices```

[2019-05-24 21:27] gargn commented on #21429
This functionality has been added by 09deaeb.

[2019-05-24 21:29] annarev commented on #26502
@ErmiaAzarkhalili to workaround `import tensorflow.keras as tfk`, you can use `from tensorflow import keras as tfk`

[2019-05-24 21:31] jvishnuvardhan commented on #28645
@makslevental and @sslavian812 Could you check the following things and share the details. I see more people are facing this issue. Thanks!
1. pip list
2. python3 --version
3. pip3 --version
4. virtualenv --version

Thanks!

[2019-05-24 21:32] mengdong commented on #25513
This helps me on a similar issue.

[2019-05-24 22:30] apivovarov commented on #6334
I think it should not be closed in favor of XLA AOT because it supports only limited set of the operators.
We need `tensorflow-runtime` package which can be installed on small devices like Raspberry Pi.
Why to install full 80MB package if I'm not going to train the model on Raspberry Pi.

[2019-05-24 22:30] omalleyt12 commented on #28648
Hi @geometrikal, thanks for the issue! As you have a solution, this would be a good opportunity to submit a PR if you'd like. Would you like to?

Otherwise I'll look into the fix

[2019-05-24 22:32] alexmil2019 opened #29011 "could not create a primitive descriptor iterator, in file tensorflow/core/kernels/mkl_relu_op.cc:871"
I am using tensorflow 1.13.1 on mac os sierra.
when I try to use tf.contrib.predictor.from_saved_model to do prediction on a trained model I get this error:

could not create a primitive descriptor iterator, in file tensorflow/core/kernels/mkl_relu_op.cc:871

[2019-05-24 23:01] impjdi commented on #28673
@Mr-Grieves

If MEAN is used as part of batch norm, it needs to be removed (at inference, batch size will be most probably 1).  If MEAN is used for something else, you probably can't remove it, and we have internal requests to accommodate those "accumulators", but it may take some time for us to write it in shader code.  I will update the thread if we release it.

[2019-05-25 00:05] aaroey commented on #28854
Hi @fuzzyBatman could you try adding:
[code]
to your loading script to see if it works?
Thanks.

[2019-05-25 00:26] freedomtan commented on #28606
I don't know how aar binaries are updated. I built [benchmark_model](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/benchmark) and [label_image](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/label_image/label_image.md) from source code. The benchmark_model has `--use_gpu` option already. I have patches for label_image to use GPU delegate,

[2019-05-25 00:40] zakizhou commented on #28635
@jvishnuvardhan
`tf.TensorSpec([None, None], tf.float32)` means that the tensor provided for this concrete function should be a Tensor of rank two and tf.float32 as dtype, neither a mismatch with dtype nor rank should raise errors, in your example, there is a mismatch between dtype, so this concrete function exactly raises errors on the mismatch of dtype as it is expected to do, but `tf.random.nor

[2019-05-25 00:57] aaroey commented on #28053
Error code 30 is cudaErrorUnknown. There could be many reasons. It would be good if anyone can provide code and model/data that can consistently reproduce the problem.

[2019-05-25 01:09] luorixiangyang commented on #28898
export BAZEL_SH="$(cygpath -m $(realpath $(which bash)))"
export JAVA_HOME="/c/Program Files/Java/jdk1.8.0_73"
export JRE_HOME=$JAVA_HOME/jre
export CLASSPATH=.:$JAVA_HOME/lib/dt.jar:$JAVA_HOME/lib/tools.jar:$JRE_HOME/lib
export PATH=$JAVA_HOME/bin:$PATH
export PATH="/c/Python/Anaconda3:$PATH"

export PATH="/c/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v10.0/bin:$PATH"
export PATH="/c/Program

[2019-05-25 01:24] qinst64 commented on #22794
originally` CUDA 9` working, I updated `tensorflow-gpu 1.13.1` and it reported DLL not found.
Then tried downgrading `tensorflow-gpu` to several versions, but still reported DLL not found.
Then I updated  `CUDA10.1 update1` and `cudnn 7.5.1.10`  (both latest version) it reported DLL not found.
Then tried downgrading `tensorflow-gpu` still reported DLL not found.
Then use `dependency Walker`, but t

[2019-05-25 01:28] IeiuniumLux commented on #28832
After almost 3 hours into the build, it failed with some kind of native TensorFlow runtime error:

--------------------------------------------------------------------
ERROR: /home/nvidia/git/tensorflow/tensorflow/BUILD:533:1: Executing genrule //tensorflow:tf_python_api_gen_v1 failed (Exit 1): bash failed: error executing command
  (cd /home/nvidia/.cache/bazel/_bazel_nvidia/01c445c7b00bca0241913

[2019-05-25 01:29] ageron commented on #27829
Apparently the bug is back. Using VERSION='2.0.0-dev20190524' and GIT_VERSION='v1.12.1-2720-geafe861c2b'.

[2019-05-25 01:32] samhodge commented on #24496
That is great I have compiled from source and have had clients work with Tensorflow 1.12.0 CUDA 10.0 and CUDNN 7.4.2.24 on most hardware but I have had issues with a handful of clients with RTX cards with a CNN with cudnn on the GPU. I may have accidentally packaged the wrong CUDNN for CUDA 9.0 the files are identically named.

Can anyone confirm that these versions work on RTX2080 and other Turin

[2019-05-25 01:44] kshahat commented on #10779
change 'https://...' to 'http://...'

[2019-05-25 02:36] #28848 closed

[2019-05-25 04:28] henbucuoshanghai commented on #14363
how you fix it    mine is 2080ti    ,same question    how to fix it

[2019-05-25 06:11] if316030 commented on #23961
I have same problem.
How to downgrade Tensorflow-GPU and CUDA ?
thankyou

[2019-05-25 06:26] ZLeopard commented on #25213
D:\CodeSofteware\tensorflow-r1.13\bazel-bin\external\protobuf_archive\protoc_lib.lib : fatal error LNK1000: Internal error during CImplib::EmitThunk

    Version 14.00.24215.1

    ExceptionCode            = C0000005
    ExceptionFlags           = 00000000
    ExceptionAddress         = 00ACD798 (00AB0000) "D:\CodeSofteware\VisualStudio2015\VC\bin\x86_amd64\link.exe"
    NumberParameters         =

[2019-05-25 07:00] cusitkhan commented on #21045
dear this is insoloble still we also face this....

On Fri, 24 May 2019 at 04:02, sodiumLights <notifications@github.com> wrote:

[2019-05-25 07:10] henbucuoshanghai commented on #14363
cudnn version is 7.0.5   and  I have to change the CUDA and tensorflow version    too???????

[2019-05-25 07:14] henbucuoshanghai commented on #14363
and teh error is solveed???

[2019-05-25 07:16] henbucuoshanghai commented on #14363
my versions and errors are same as yours : cuda 10.0 ,tf
13.1     the error is same: tensorflow/stream_executor/cuda/cuda_dnn.cc:194] Check failed: status == CUDNN_STATUS_SUCCESS (7 vs. 0)Failed to set cuDNN stream

how to slover them ??????

[2019-05-25 07:16] henbucuoshanghai commented on #14363
how to slover it

[2019-05-25 08:04] anilsathyan7 commented on #28968
I managed to build the tflite and tflite-gpu aar from source by downloading the latest tensorflow and compiling them using bazel. I followed the instruction from the following  link- https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/java/BUILD. (Hope this way we can get the latest updates..)

Now the error ''SUB: Incorrect operation type passed' seems to be resolved.Also this ti

[2019-05-25 08:22] luorixiangyang commented on #28898
I found if use cc_test instead of tf_cc_test for model_ops_test, then command:
bazel test tensorflow/contrib/tensor_forest:model_ops_test to be success.
so maybe some wrong about tf_cc_test. kindly to check this information.

**cc_test**(
    name = "model_ops_test",
    size = "small",
    srcs = [
        "kernels/model_ops_test.cc",
        "ops/model_ops.cc",
    ],
    deps = [
        ":fore

[2019-05-25 08:39] dangjisheng commented on #25274
Hello,have you solved this problem?I also meet the same problem.how do you solve this problem?

[2019-05-25 08:53] Madder commented on #28400
Please note that this bug is also reproduced in the just released Tensorflow 1.14 rc0 when eager execution is enabled:

[code]

[2019-05-25 09:04] bersbersbers commented on #25970
I can confirm that this bug has been fixed in `1.14.0rc0`:

[code]

Output:
[code]

[2019-05-25 09:10] policeme opened #29022 "'Tensor' object has no attribute 'unstack'"
@ry @jmhodges @eggie5 @bmabey @djones
Is this a bug?
![image](https://user-images.githubusercontent.com/30991932/58367256-d5388980-7f0f-11e9-8534-2fd81f95eff6.png)
the tensor is
![image](https://user-images.githubusercontent.com/30991932/58367268-fbf6c000-7f0f-11e9-92a2-8a1b3346e8ef.png)

[2019-05-25 09:16] #29022 closed

[2019-05-25 09:21] mrchor opened #29023 "Error occurred while compiling TensorFlow for Java"
Error occurred while compiling TensorFlow for Java
Hi guys. Can you help me to see why?
The following is the environment:
GPU: no
Gcc:4.8
TensorFlow: 1.7.1
Bazel: 0.10.0
![image](https://user-images.githubusercontent.com/10007145/58367415-9572a180-7f11-11e9-9c37-f1cb06670748.png)

[2019-05-25 09:23] guillaumekln opened #29024 "Dataset passed to group_by_window's reduce_func is a DatasetV2 instead of DatasetV1"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from: binary
- TensorFlow version: 1.14.0rc0
- Python version: 3.6.6

**Describe the current behavior**

In 1.14.0rc0, the dataset passed to the `reduce_func` function of `tf.data.experimental.group_by_window` is a `DatasetV2` instance instead of `DatasetV1`.

**Describe the

[2019-05-25 10:02] Madhuparna04 commented on #29006
Okay, I found the solution. The problem was with the version of gin.config, So, installing a new version of gin.config fixes the error.

[2019-05-25 10:02] #29006 closed

[2019-05-25 10:16] fuzzyBatman commented on #28854
@aaroey Same error.

Does the GPU choice not affect this?

[2019-05-25 11:29] alew3 commented on #28957
I think this would be awesome. I just had a lot of issues trying to do image augmentation with TF2 and tf.data. TF2 addons image also don't support graph mode for now. They are also working on a fix.

[2019-05-25 12:12] ingo-m opened #29026 "LSTM with sample_weight fails with batch_size > 1"
**System information**

* Have I written custom code: Yes
* OS Platform and Distribution: Debian 9.9
* TensorFlow installed from: pip
* TensorFlow version: 1.13.1
* Python version: 3.7.3
* GPU model and memory: n/a - tested in CPU mode

**Describe the current behavior**

An unexpected error occurs when training an LSTM with `sample_weight` and `batch_size > 1`. The error does not occur if `batch_s

[2019-05-25 12:33] jiarenyf opened #29027 "Cpu memory leak when using `tf.function` with gpu model."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.12.1-2

[2019-05-25 12:39] jiarenyf commented on #29027
@muddham @ry @jmhodges @eggie5 Can anyone help me, please, thank you~

[2019-05-25 12:41] m3rik commented on #22794
+1. Same problem as qinst64.

[2019-05-25 12:49] tensorflowbutler commented on #27114
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-25 12:54] LaoWangInTheNeighbour commented on #22794
can anyone give me a copy of cuda 10.0? cuda 10.0 has been wiped out ,only a version of 10.1 is available in the official site.Thanks!

[2019-05-25 12:56] dhirensr commented on #25827
@dynamicwebpaige : could you point the source code of the docs_src?
i could not find the source code for this docs at  https://github.com/tensorflow/docs/
i could add the docs if pointed out the file

[2019-05-25 12:57] LaoWangInTheNeighbour commented on #22794
forget  that my system is windows10.Thank you!

[2019-05-25 13:03] LaoWangInTheNeighbour commented on #22794
oh,I find it,hopeful anyone can get help!
https://developer.nvidia.com/cuda-toolkit-archive

[2019-05-25 14:34] startupgurukul opened #29028 "Tflite Qualcomm DSP acceleration"
Hello folks, it is exciting to see announcement of qcomm DSP acceleration, aimed to be released late this summer, creating issue to track it.

![Screenshot_2019-05-25-20-01-49-069_com google android youtube](https://user-images.githubusercontent.com/11027129/58370789-3704ed80-7f28-11e9-8859-9d643a6cb605.png)
![Screenshot_2019-05-25-20-02-11-683_com google android youtube](https://user-images.githu

[2019-05-25 15:17] oaky87 commented on #21927
Here the same problem, my Tensorflow version is 2.0.0a0

[2019-05-25 15:19] #28998 closed

[2019-05-25 15:28] pavithrasv commented on #25970
Thank you!

[2019-05-25 15:59] boerii commented on #22794
I faced the same issue, turned out it I simply did not install cudnn (as I thought it would be included by installing CUDA, turned out it isnt)
Installationguide can be found [here](https://docs.nvidia.com/deeplearning/sdk/cudnn-install/index.html#install-windows)

[2019-05-25 16:04] hoonkai opened #29030 "eigen/get/a0d250e79c79.tar.gz: Error 404"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): master
- Pytho

[2019-05-25 17:17] hoonkai opened #29031 "Where is "tensorflow/lite/delegates/gpu/gl/compiled_model_generated.h"?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): source
- TensorFlow version: master
- Python version: n/a
- Installed using virtualenv? pip? conda?: n/a
- Bazel version (if compiling from source): n/a
- GCC/Compi

[2019-05-25 17:26] bsatrom commented on #23608
I'd be interested in this functionality as well. Any updates @petewarden, or is there a guide for contributing kernels, per @TF-Deve's question?

[2019-05-25 23:24] samhodge commented on #28945
I am having moderate success with the tensorflow/contrib/cmake project.

There is only a minor modification needed to the CMakelists.txt as the cudnn static is not available for OSX and it is called cudnn.dylib.7 rather than cudnn.so

[2019-05-26 00:50] mrgloom commented on #6
How to see content of `http://download.tensorflow.org/models/` ?

[2019-05-26 00:56] radiantone commented on #26959
I am also getting this error on Pop! OS 19.04 running keras with cudnn in conda.

[2019-05-26 01:26] radiantone opened #29034 "GPU text classification notebook produces CUDNN error"
**Error Message**
UnknownError: Fail to find the dnn implementation.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Pop!_OS 19.04
- TensorFlow installed from (source or binary): jupyter
- TensorFlow version (use command below): !pip install tensorflow-gpu
- Python version: 3.7.3
- CUDA/cuDNN version: 10.0, cudnn 7.4.5.1
- GPU model and memory: See below RTX 2070

[2019-05-26 01:43] radiantone commented on #29034
I think the issue here *might be* that my card is on compute cudnn version 7.5 yet cuda toolkit 10.0 does for my OS does not pull cudnn 7.5. If I install cuda toolkit 10.1, then tensorflow looks for 10.0 shared libraries only.

[2019-05-26 01:51] radiantone commented on #29034
I also tried with
!pip install tensorflow-gpu==2.0.0-alpha0

same error.

UnknownError: Fail to find the dnn implementation.
	 [[{{node bidirectional/CudnnRNN}}]]
	 [[loss/dense_1_loss/binary_crossentropy/weighted_loss/broadcast_weights/assert_broadcastable/is_valid_shape/else/_1/has_valid_nonscalar_shape/then/_47/has_invalid_dims/concat/_48]] [Op:__inference_keras_scratch_graph_2449]

[2019-05-26 03:20] yanhaiming56 opened #29035 "CUDA Toolkit 10.1 Update compile tf2.0"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2019-05-26 03:25] samhodge commented on #28945
The success was shortlived, the dnn.proto is not accounted for in the contrib CMake, not is the absl/containers/flatbuffer...

This experience was after getting the CMake file to run succefully on MacOS to find CUDNN, CUDA CUPTI etc

[2019-05-26 03:27] samhodge commented on #28945
I am continuing on CentOS 7.4 to see if I can get a build done, the configuration via CMake 3.7.2 on CentOS 6.10 was successful but the build was lacking the ability to pull down dependency packages.

[2019-05-26 03:44] dreistheman commented on #27999
@karllessard I've now put the output tensor inside a try-with-resources block, performance is still the same. It's puzzling why Darkflow's implementation of YOLO (in python) is significantly quicker. My program does further post-processing after the YOLO prediction that is just lightweight as shown when I tested it with a basic thresholding for the object detection and it was very quick, even fast

[2019-05-26 03:54] vishagan1 opened #29036 "Evaluating the value of a tensor from inside the model_function of a custom `tf.TPUEstimator`"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.13
- Are you willing to contribute it (Yes/No):Yes

**De

[2019-05-26 03:55] fmmohammadi commented on #28955
No idea ??

[2019-05-26 07:28] hastirad commented on #21755
@JafferWilson hi. I have same problem and my predictions had one lag. Could you solve the problem?

[2019-05-26 08:05] TheCrazyT commented on #19968
Getting similar error if i run tensorboard parallely on windows.
Is this a known issue or "working as intended"?

[2019-05-26 08:16] TheCrazyT commented on #21135
Also get that problem.
Don't have an explorer window open.
Also deactivated antivirus software.
Need to watch progress of a running tensorflow training progress.
Still allways get this problem when i'm using the tensorboard.
I'm using:
tensorflow Version: 1.13.1
tensorboard Version: 1.12.2

[2019-05-26 08:24] x666633 commented on #29008
setenv("KMP_BLOCKTIME","0",1);
setenv("KMP_SETTIONS","1",1);
setenv("KMP_AFFINITY","granularity=fine,verbose,compact,1,0",1);
setenv("OMP_NUM_THREADS",4,1);

batch_size_32_nomkl: 800ms
batch_size_32_mkl:300ms

batch_size_1_nomkl: 200ms
batch_size_1_mkl:200ms

**how can i change the mklsetting to impove my batchsize_1 performance**

[2019-05-26 10:03] sonukick commented on #23780
Perfect solution. I ran my model on non GPU machine and ended up with this error, on GPU machine it works totally fine.. Does presence/absence of GPU anything to do with arithmetic optimization?

[2019-05-26 10:35] berylyellow opened #29038 "faild to retrain the Inception v3 model."
![2019-05-26 18-12-22 的屏幕截图](https://user-images.githubusercontent.com/36025537/58380553-033bcd80-7fe5-11e9-88d5-1d6486a4ef6b.png)

[2019-05-26 10:38] berylyellow commented on #29038
@ry @jmhodges @eggie5 @bmabey  Hi~My network is okay, why I occur this? Thanks.

[2019-05-26 14:22] sunrise-ceo commented on #28926
Experiencing the same issue while compiling TFLite natively on ARMv8-A (after trying [this](https://stackoverflow.com/questions/56055359/tensorflow-lite-arm64-error-cannot-convert-const-int8x8-t) solution as well).

[2019-05-26 14:52] maxima120 commented on #25996
I think this is totally wrong direction you guys took here. Its like a man from a street turns into an aerospace company and demands to switch off all the low fuel warning because they distract him from watching naughty movies..

what you might want to do is to have a warning level users can set on tensorflow session (similar to C compiler).. like use warnings_level=0 to no warnings.

[2019-05-26 15:14] mrocklin opened #29039 "Support the __cuda_array_interface__ protocol"
- Are you willing to contribute it (Yes/No):

Not me personally, but perhaps someone I work with

**Describe the feature and the current behavior/state.**

A number of GPU array computing libraries in Python (Numba, CuPy, PyTorch, RAPIDS) support the `__cuda_array_interface__`, protocol as described in the [Numba documentation](https://numba.pydata.org/numba-doc/dev/cuda/cuda_array_interface.html)

[2019-05-26 15:51] mikechen66 commented on #24496
Hi tydlwav:

I installed Miniconda and related python and tensorflow environment according to your suggestion. It still has the error: Failed to get convolution algorithm. This is probably because cuDNN failed to initialize.......
Please help find a solution.

Please see the steps I operated.

1. Instal python 3.6.8 according to your guideline.
conda create -n tf python==3.6.8

2. activate tf
cond

[2019-05-26 16:01] mikechen66 commented on #24496
HI tydlwav:

By the way, I also installed keras with the following command.
conda install keras-gpu

Since ever installation is correct, I have got the error. So I assume that it is the version compatibility issue between Miniconda and RTX20XX Turing series. The error is as same as Anaconda. I get to know that the cudnn and cuda version in Miniconda and Anaconda are same.

[2019-05-26 16:09] luaGeeko commented on #28010
I am facing the same issue, any suggestions or solutions for work around for now ??

[2019-05-26 16:18] PhanDuc commented on #26502
On Pycharm, instead of `from tensorflow import keras`, try to use` from tensorflow.python import keras`  will help autocomplete. I tested with Tensorlow 2.0 alpha and it is working.

[2019-05-26 16:40] tydlwav commented on #24496
That's fairly interesting. I got cuda 10 and cudnn7.3 working with conda about a month and a half ago. I haven't used tensorflow since then. If it doesn't work for you, you can build from source. That always works for me. If you're just starting, I'd recommend using pytorch. You'd have a much easier time installing and getting things working.

[2019-05-26 16:42] gnsmrky commented on #26297
@SanthoshRajendiran @soham24 @impjdi
I just put up the repo at [tensorflow-lite-ssbo Android classifier demo](https://github.com/gnsmrky/tensorflow-lite-ssbo/tree/master/tensorflow/lite/java/demo).  Should just open the project in Android Studio to build and run.  Once in the app on the phone, select `GPU` and `mobilenet v1 float` to see the `copy time` for the time it takes to copy a frame to SSB

[2019-05-26 16:47] xiejw commented on #28837
Sorry for the confusion.

@qlzh727  This PR is about stateful RNN not just RNN.

I would like to provide some context here.

The warning is accurate. It is supported but the code is using single TPU core for that, instead of 8 TPU cores. The code is working but it will not fully utilize the TPU power.

The reason for that is: Keras uses TF variable to store the states for RNN.  However, the curren

[2019-05-26 16:47] #28837 closed

[2019-05-26 17:47] maxima120 commented on #28837
Is it so difficult to hardcode 8 sets of those variables (sorry I don't know how your TPU software stack looks like)? If so - *can Keras team help* by making it work differently when on TPUs?

And I am just curious - who is defining your priorities? Is it a popular vote or something? Like they voted for Trump and Brexit? You voted to cut TPUs out for anyone who doing ML on sequences and time-serie

[2019-05-26 18:00] EmielBoss opened #29040 "Why are ResNet101/ResNeXt50/ResNeXt101 not included in TensorFlow´s Keras distribution?"
**System information**
- TensorFlow version (you are using): 1.13.1
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
`tf.keras.applications` contains only ResNet50, as browsing to the `site-packages/tensorflow/python/keras/applications` folder shows only `resnet50.py`. Why are ResNet101/ResNeXt50/ResNeXt101 not included? Is there a repo wher

[2019-05-26 19:07] PiotrSwietek opened #29041 "TFLite model exported from Keras cannot be executed on Android"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows/Android
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: Huawei P10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version

[2019-05-26 19:47] samhodge opened #29042 "CMake build fails v1.13.1 fatal error: tensorflow/stream_executor/dnn.pb.h: No such file or directory #include "tensorflow/stream_executor/dnn.pb.h""
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7.4
- Mobile device (e.

[2019-05-26 19:48] samhodge commented on #28388
Adding related issue
https://github.com/tensorflow/tensorflow/issues/29042

[2019-05-26 19:48] samhodge commented on #28945
Adding related issue
https://github.com/tensorflow/tensorflow/issues/29042

[2019-05-26 20:21] superbobry commented on #27692
The TF side of the fix has been merged. Closing the issue as the remaining part is on the NumPy side.

[2019-05-26 20:21] #27692 closed

[2019-05-26 20:32] val-storm commented on #28926
Same issue compiling for ARM6

[2019-05-26 21:36] yaroslavvb commented on #4897
@mgbukov using tf.gradients for this in TensorFlow will be inefficient, more generally, autograd in all major neural network frameworks is specialized to "single output" case. When I needed access to individual gradients I had to work out the computation graph myself. Maybe there's a better automatic way of doing this in Jax which is supposed to be more generic

[2019-05-26 22:21] levicki commented on #22794
@ymodak Since it seems impossible to provide tensorflow builds for all possible Python+CUDA+cuDNN versions, would you guys consider improving the error message to include:

1. The name of the DLL which can't be found if you are loading it dynamically

Or:

2. The name of the statically loaded DLL which failed to load because of unsatisfied dependency chain?

[2019-05-27 00:29] chg0901 commented on #11812
Since the GPU memory is not enough. So here is one of the solution.
[code]

[2019-05-27 01:40] dulm opened #29043 "[TF2.0] tf.feature_column.shared_embeddings trace twice and throw exception with @tf.function"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-05-27 01:56] dorothy9297 opened #29044 "cuda9.1 can not support tensorflow"
import tensorflow as tf
Traceback (most recent call last):
File "C:\Program Files\Python36\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in
from tensorflow.python.pywrap_tensorflow_internal import *
File "C:\Program Files\Python36\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 28, in
_pywrap_tensorflow_internal = swig_import_helper()
File "C:\Program

[2019-05-27 01:58] Kerinchen911 commented on #25062
Same problem,replacing a new location can not solve it

[2019-05-27 01:58] dorothy9297 commented on #29044
I resolved it by the flowing  link
- https://github.com/tensorflow/tensorflow/issues/26870
- https://blog.csdn.net/qq_36556893/article/details/79433298

[2019-05-27 03:12] pigubaoza commented on #24188
any updates on which part isn't supported?

[2019-05-27 05:03] JafferWilson commented on #21755
@hastirad I don't know. that's why I ask a query here. If I had solution for this I would have already gone with Tensorflow. Currently, I am using a hybrid system with Tensorflow and other frameworks. But none is useful. Need to create my own framework.

[2019-05-27 05:07] gadagashwini commented on #28753
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-27 05:07] #28753 closed

[2019-05-27 05:08] gadagashwini commented on #28823
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-27 05:08] #28823 closed

[2019-05-27 05:09] gadagashwini commented on #28825
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-27 05:09] #28825 closed

[2019-05-27 05:24] gadagashwini commented on #28895
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-27 05:24] #28895 closed

[2019-05-27 05:47] yongtang commented on #29030
I assume the issue could be fixed with PR #29017

[2019-05-27 05:51] AntoineWeber commented on #24188
@nparikhsfn
I don't understand what you mean by linear. But I guess you could reimplement yourself an lstm layer trying to dodge the use of tanh layers. GRU is not listed on this list (?) and it also contains tanh.
Haven't retried since then to convert models to tflite. If you really need to use layers which are not supported you can always try to compile Tensorflow for your embedded platform if y

[2019-05-27 05:53] gadagashwini commented on #29011
@alexmil2019 In order to expedite the trouble-shooting process, please provide a minimal code snippet to reproduce the issue reported here. Thanks!

[2019-05-27 05:59] CleverCoder commented on #23795
After struggling with a ton of issues.. some takeaways:
- Targeting the 1.14 branch...
- Needed to install VS 2017 (community at least) - I had 2019 installed... wasn't good enough. Used procmon to figure this out.
- I couldn't get things to build with the XLA JIT option enabled - after disabling it, the build is still running!!!
- Had to revert to CUDA 10.0 (rather than 10.1) it seems

Google nee

[2019-05-27 06:00] mikechen66 commented on #24496
Hi tydlwav:

I will try the other method such as the pytorch. Now that Conda has tensorflow-gpu 1.14 , can I use the miniconda to install  independent tensorflow-gpu 1.14 at the Google Tensorflow website as follows.

Google tensorflow: https://www.tensorflow.org/install/source

Notes:

Please see the builds as follows. Conda has only tensorflow-gpu build from 1.0.1 to 1.13.1.  The builds are so ol

[2019-05-27 06:05] mikechen66 commented on #24496
Hi tydlwav:

I will try the other method such as pytorch. Now that Google releases tensorflow-gpu 1.14 , can I use the Miniconda to install independent tensorflow-gpu 1.14 at the Google Tensorflow website as follows.

Google tensorflow: https://www.tensorflow.org/install/source

Notes:

Conda has only tensorflow-gpu builds from 1.0.1 to 1.13.1 as follows. The builds are so old that the builds coul

[2019-05-27 06:08] gadagashwini commented on #29005
@ahsabali I try reproducing the issue with tf-nightly-1.14.1.dev20190524 but the code executed without any error. Can you try once again and let us know if that still throws an error. Thanks!

[2019-05-27 06:48] gadagashwini commented on #29038
@berylyellow  Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue t

[2019-05-27 06:58] #27288 closed

[2019-05-27 07:00] dongxiao92 commented on #28926
same issue for me. My platform is nvidia jetson tx2. I changed the eigen url as this [https://github.com/tensorflow/tensorflow/commit/69aa57b4158da0f09ca732ee302ef453fa6b3209#diff-455a4c7f8e22d7c514e8c2caa27506c5](url)

[2019-05-27 07:13] edoardogiacomello commented on #28028
With regard to the tf.keras.BatchNormalization layer, the documentation specifies that the second input parameter is a python boolean indicating whether the model is used for training or not.
How does this relate to the trainable parameter of model? If one left the layer flag unspecified, would the Model parameter be used instead?
What about if one wants to alternate a train and test step, is it s

[2019-05-27 07:32] Apromixately opened #29046 "Website claims that there is no internet connection"
JavaScript on the website runs some sort of detection to see if there is network connectivity or tries to establish a connection in a surprising way.

This fails and I get a message "There is no Internet connection :(" which is clearly wrong. I am writing this issue with the same internet connection.

The JS console says:

    Failed to load ‘https://www.google-analytics.com/analytics.js’. A Servi

[2019-05-27 07:35] ajinkya933 commented on #16918
@fernandofks you can find this option in "build.gradle" its default value is 1.2.0. Change this value to the system version of tensorflow that you have installed (you can check this system version by ) typing

[code]
on your terminal

[2019-05-27 07:42] SanthoshRajendiran commented on #26297
@gnsmrky Congrats and thanks for the amazing work on SSBO. We tried out the application in some of our mobile phones. The working methodology on various phones is discussed below:

1) Oneplus 3 - Model running time is around 40ms, the same as without SSBO. Copy time is around 0 or 1 in all cases
2) Poco F1 - Model running time is around 25ms, But we are not able to get the actual output from the a

[2019-05-27 07:54] iridiumblue commented on #20999
Thanks for that patch!

[2019-05-27 08:10] duanw0916 opened #29047 "one 404 page needs to be fixed"
At the beginning of sub title [Train from tf.data datasets](https://www.tensorflow.org/alpha/guide/keras/overview#train_from_tfdata_datasets), there is a super link pointing to **Datasets API**.

But when you click it out, only 404 page is what you get.

Since this API is very often been used, it would be better to correct this as soon as possible.

[2019-05-27 08:10] gadagashwini commented on #29026
I was able reproduce the mentioned issue.

[2019-05-27 08:16] muddham commented on #28622
@007fred50 I ran the code with GPU but no error message was displayed. This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information re

[2019-05-27 08:17] wubin-ericsson commented on #27079
solve with solution:

[code]

thanks a lot.

[2019-05-27 08:23] sayakpaul commented on #26922
Is there any update on this? I am also having the same issue.

[2019-05-27 08:30] muddham commented on #29042
@samhodge Request you to please follow the [link](https://www.tensorflow.org/install/source#tested_build_configurations), as per this reference it supports Bazel, Please use bazel.

[2019-05-27 08:36] r05323028 opened #29048 "the output of `tf.sigmoid` is abnormal when input has nans."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-05-27 08:50] muddham commented on #28785
@ZH-Lee Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-27 08:50] #28785 closed

[2019-05-27 08:53] muddham commented on #28787
@willxujun Request you to please follow the [link](https://www.tensorflow.org/install/source#tested_build_configurations), as per the reference the bazel version for 1.12 is 0.15.0

[2019-05-27 08:53] soham24 commented on #26297
@gnsmrky thank you so much. I will let you know about working after implementation.

[2019-05-27 08:59] muddham commented on #28790
@StevenPuttemans Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-27 09:00] muddham commented on #28792
@alphamuth Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-27 09:00] #28792 closed

[2019-05-27 09:02] muddham commented on #28829
@jiapei100 Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-27 09:02] #28829 closed

[2019-05-27 09:02] tsing-cv opened #29049 "Big bug, tf.keras is slower then keras."
I just change all keras api to tf.keras. But training become too slower, gpu is usable

[2019-05-27 09:17] QuellaZhang opened #29051 "How to avoid asking when executing "python ./configure.py""
This is not a truely issue with building or installing TF, but a important question for us.

When we execute "python ./configure.py" it will ask the dependencies, configuration and others, we have to manually confirm. What I should do to have "python ./configure.py" read the default parameters(we use default parameters) directly and don't need us to confirm. Or is there some parameters to avoid th

[2019-05-27 09:31] gadagashwini commented on #28995
@lgeiger Can you please provide tensorflow version?.
With Tensorflow tf-nightly and tf-2.0.0-alpha the above code outputs expected output. Thanks!

[2019-05-27 09:34] noctune opened #29052 "ArithmeticOptimizer fails for stack with axis=R and axis=-(R+1)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 10.14.5
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.13.1
- Pyt

[2019-05-27 09:37] lgeiger commented on #28995
With Tensorflow tf-nightly and tf-2.0.0-alpha the above code outputs expected output. Thanks!

Sorry for the missing version, I am using `tf-nightly==1.14.1.dev20190524`

[2019-05-27 09:50] junhwanjang commented on #26297
@gnsmrky Great work. thank you so much!  Did you try deeplab segmentation model?

[2019-05-27 09:53] ThisIsIsaac opened #29053 "building from source failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS7
- Mobile device (e.g.

[2019-05-27 09:54] gadagashwini commented on #28995
@lgeiger I tried with tf-nightly==1.14.1.dev20190524 and tensorflow==1.14.0rc0 but the code executed without any error. Can you try once again and let us know if that still gives error. Thanks!

[2019-05-27 09:54] carlthome commented on #6334
A sweet solution nowadays is to use TensorFlow Lite. It's worked nicely for me. At the time of creating this issue tflite wasn't available yet. :koala:

[2019-05-27 09:57] gadagashwini commented on #28993
@nateagr Please provide a code snippet to reproduce the performance issue reported here. Thanks!

[2019-05-27 10:01] samhodge commented on #29042
I need a static version of the library I will link the reasons why.

[2019-05-27 10:02] gadagashwini commented on #29031
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-05-27 10:04] sleighsoft commented on #24496
Same issue with RTX 2060 on TF2.0-preview-gpu.
As far as I know there is currently no setting for `allow_growth`.

[2019-05-27 10:05] samhodge commented on #29042
@muddham

Using Bazel will produce libtensorflow_cc.so with GPU support which is excellent.

But the product I am writing a plugin for is also using Tensorflow, hence when Tensorflow::Port::init() is called this segfault the parent application.

My current workaround is to statically link tensorflow using contrib/makefile but this doesnt have CUDA support.

contrib/cmake does have CUDA support but

[2019-05-27 10:05] Gmrevo opened #29054 "mobile_ssd_v2_float_coco.tflite model :Cannot copy between a TensorFlowLite tensor with shape [1, 2034, 4] and a Java object with shape [1, 10, 4]."
When using mobile_ssd_v2_float_coco.tflite model with Tensorflow Object Detection [example](https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/android) code,  I am facing this error:

` Process: org.tensorflow.lite.examples.detection, PID: 30765
    java.lang.IllegalArgumentException: Cannot copy between a TensorFlowLite tensor with shape [1, 2034, 4] and a Java obje

[2019-05-27 10:08] muddham commented on #28835
@SlowMonk Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-27 10:08] #28835 closed

[2019-05-27 10:19] muddham commented on #29042
@samhodge Can you please confirm if this is duplicate of #22810

[2019-05-27 10:22] samhodge commented on #29042
No this file:

https://github.com/tensorflow/tensorflow/commit/219bb5d8dc9d16fa2e9895d8d4c6adaf45ee3c34#diff-39f23d578b0023a4931f812a68725235

Was added in v1.12.1 so the cmake needs to be updated to deal with this change I will see if I can work with v1.12.0

[2019-05-27 10:23] samhodge commented on #29042
No #22810 is the cause of the issue, needing the cmake build to work allows the workaround to #22810 and build a static library.

[2019-05-27 10:26] samhodge commented on #29042
https://github.com/tensorflow/tensorflow/commits/v1.13.1/tensorflow/contrib/cmake has not been updated since December 2018 and the dnn.proto file was added after that time.

[2019-05-27 10:31] muddham commented on #28847
@Alxemade Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue templ

[2019-05-27 10:34] lgeiger commented on #28995
Yep, just tried it with `tensorflow==1.14.0rc0` and it still gives an error. Which python version are you using?

[2019-05-27 10:37] muddham commented on #28859
@yensan0512 Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-27 10:37] #28859 closed

[2019-05-27 10:39] muddham commented on #28865
@plopresti Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-27 10:39] #28865 closed

[2019-05-27 10:43] gadagashwini commented on #28995
@lgeiger Thanks for confirming. I am using Python 3.6.7 version.

[2019-05-27 10:44] muddham commented on #28894
@yarapathineni Please post your query in the [TF Serving repsoitory link](https://github.com/tensorflow/serving/issues/new), Closing this issue since it is not a bug or feature request

[2019-05-27 10:44] #28894 closed

[2019-05-27 10:52] muddham commented on #28877
@tjhgit Please downgrade your gcc version to 4.8 and bazel to 0.15.0

[2019-05-27 10:53] gadagashwini commented on #28990
@mpkuse Please have look on [Tested build configuration](https://www.tensorflow.org/install/source#tested_build_configurations) for Tf-gpu 1.6.0.Thanks!

[2019-05-27 10:56] tydlwav commented on #24496
They are not old, as I've used conda's release of tf 1.12 with RTX 2070. New hardware are usually backward compatible, and RTX is no different. It is most likely there are some weird environment issue at play. I don't have access to an RTX machine until July so I can't help with testing right now. Building from source should solve your problem. I've never failed to run convnets from tf built from

[2019-05-27 11:07] muddham commented on #28958
@holyhao Please refer the [link](https://github.com/google-research/morph-net/issues/32) and let us know if that answers your query

[2019-05-27 11:08] gnsmrky commented on #26297
So it is only working and have proper output on OnePlus 3 among these phones?  Let me see if I can get hold of a Snapdragon 845 phone.

[2019-05-27 11:10] muddham commented on #28988
@HOTFIGHTER Please refer the steps mentioned in this [link](https://www.tensorflow.org/install/source#tested_build_configurations)

[2019-05-27 11:12] lgeiger commented on #28995
I can still reproduce this with Python 3.6.8, TensorFlow 1.14.0-rc0 and TensorFlow Datasets 1.0.2

[2019-05-27 11:13] muddham commented on #28994
@polpolie I understand that you have translated this github page, can you please let us know the purpose of this issue in detail, so that we can take this forward.

[2019-05-27 11:26] muddham commented on #29036
@vishagan1 In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-05-27 11:34] hoonkai opened #29056 "TFLite GPU delegate model inconsistencies: Mobilenet v1 1.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 0.0.1-gpu-expe

[2019-05-27 12:01] zh794390558 commented on #26442
@renjie-liu When the lite will support RNN friendly or be stable?

[2019-05-27 12:05] edoardogiacomello commented on #27680
I'm also experiencing this problem. [API Docs](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/data/Dataset#shuffle) state clearly that the intended behavior is that the dataset is re-shuffled "the dataset should be pseudorandomly reshuffled each time it is iterated over".

In my case the reshuffle_each_iteration parameter has no effect (tried either True, False and None), subsequent i

[2019-05-27 12:17] holyhao commented on #28958
@muddham It has nothing to do with it, i want a optimizer for *bp to merge the bn with  DEPTHWISE CONV.

[2019-05-27 12:32] Flamefire commented on #22239
I run into this issue through a 3rd party lib setting `per_process_gpu_memory_fraction=1` and checked the source: Why is the heuristic determining how much system memory is required not used here? Wouldn't it be better to always reduce the total_memory by the system memory and/or warn/error on `per_process_gpu_memory_fraction>=1`?

[2019-05-27 12:35] muddham commented on #28955
@fmmohammadi Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue te

[2019-05-27 12:39] muddham commented on #28841
@EmielBoss Ran the code provided here, I got the output as 1

[2019-05-27 12:51] muddham commented on #29024
@guillaumekln Can you please try the code in 2.0.0-alpha0 and let us know it progresses. Thanks!

[2019-05-27 12:58] gnsmrky commented on #26297
@junhwanjang I haven't tried deeplab yet.  But I did try the output SSBO with other models, which works correctly as well.  Does deeplab work with GPU Delegate fully yet, do you know?

[2019-05-27 13:01] tensorflowbutler commented on #13530
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-27 13:01] Wokea commented on #26207
The tf 1.13 still has this problem...

[2019-05-27 13:01] tensorflowbutler commented on #28113
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-27 13:02] muddham commented on #28760
@npuichigo After I execute the provided code in google colab, I get the below message.
FATAL Flags parsing error: Unknown command line flag 'f'
Pass --helpshort or --helpfull to see help on flags.
An exception has occurred, use %tb to see the full traceback.

SystemExit: 1

[2019-05-27 13:03] keahie opened #29059 "Not able to install tensorflow alpha on Mac OS"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS Mojave 10.14.4
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.0.0 alpha
- Python version: 3.7.3
- Installed using virtualenv? pip? conda?: pip
- CUDA/cuDNN version: none
- GPU model and memory: Intel Iris Graphics 6100 - 1536 MB

**Describe the problem**

I'm not able to install

[2019-05-27 13:04] pedronietogft commented on #21855
I am having the same issue with Tensorflow 1.13 as well

[2019-05-27 13:09] arrowd commented on #28113
This is mostlt fixed by https://github.com/tensorflow/tensorflow/pull/28689

[2019-05-27 13:22] guillaumekln commented on #29024
Of course it works in 2.0 but this issue is about the next V1 release and a code that used to work in previous versions.

[2019-05-27 13:28] freedomtan commented on #27626
@impjdi It turns out that I was wrong. The faster numbers are on Pixel 3a running Android Q beta 3 and slower numbers are on Android P. The aforementioned patch doesn't help improve performance on Pixel 3a running Android P. Which means the slower numbers might be caused by GPU driver(s). Maybe the some of the Mali performance issues are caused by driver too?

[2019-05-27 13:57] gnsmrky commented on #26297
@SanthoshRajendiran I just updated the repo.  Seems like compute shader needs a real on-display surface on some devices.  I added a 1dp x 1dp view to the asset to associate it with gles surface.  Can you give the updated repo another try on your phones again?

Here is the latest [commit](https://github.com/gnsmrky/tensorflow-lite-ssbo/commit/912c37dd456374407373f7665985c19cdccd45a5).

BTW, the Cam

[2019-05-27 14:05] francotheengineer commented on #24586
I solved all my issues with using` tf.keras `and `tf.contrib.distribute.MirroredStrategy()` by upgrading to tf 2.0 nightly. I would recommend the same.
Note: Do not include `model.fit(..)` in the scope of `tf.contrib.distribute.MirroredStrategy()`.

[2019-05-27 14:33] apls777 opened #29060 ""Cache iterator is in an invalid state" error"
**System information**
- OS Platform and Distribution: macOS High Sierra 10.13.6
- TensorFlow for CPU installed from PyPI
- TensorFlow version: v1.13.0-rc2-5-g6612da8951, 1.13.1
- Python version: 3.6.6

**Describe the current behavior**

Minimal not working example:
[code]

The code above properly iterates through the dataset only the first run when a cache doesn't exist. But when it loads the dat

[2019-05-27 14:41] wilk10 opened #29061 "InvalidArgumentError: Expected image (JPEG, PNG, or GIF), got unknown format starting with 'AAAAAAAAAAAAAAAA'"
**System information**
- OS Platform and Distribution: MacOS Sierra 10.12.6
- TensorFlow installed from (source or binary): with pip
- TensorFlow version (use command below): 1.13.1
- Python version: 3.7.0

**Describe the problem**

I'm preparing my trained model (custom Keras) for deploy on Tensorflow Serving so that it receives image bytes and returns a prediction mask. Here's my `signature_def`

[2019-05-27 14:59] SanthoshRajendiran commented on #26297
@gnsmrky Thanks for the update. With POCO F1 (Adreno 630, Snapdragon 845), the output is coming now around a speed of 20-30ms and copy time is around 0-1ms.
Still the problem persists in Mali GPU Devices (tested on Honor Play)
Attached below is the error log with Honor Play:

[mali-ssbo-android-errorlog.txt](https://github.com/tensorflow/tensorflow/files/3224208/mali-ssbo-android-errorlog.txt)

[2019-05-27 15:52] morgangiraud commented on #28921
Thanks for your answer.

I'm well aware of that fact but since the AWS API & CLI works fine, the only layer that looked suspicious to me was the TF layer and so it would introduce at least a limitation if not a bug.
I'm not familiar enough with this part of TF code to tell for sure though.

My bad if the bug comes from another 3rd-party.

[2019-05-27 16:27] 89Mods opened #29062 "[Java] Reduce Sum operation not usable"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Mint 19.1 Cinnamon
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Binary / jar file downloaded from Maven Repo

[2019-05-27 16:44] wesboyt commented on #28759
I'm able to reproduce whilst running the transformer example verbatim: https://www.tensorflow.org/alpha/tutorials/text/transformer
Nightly is frying my laptop so maybe its already fixed and I just cant tell?

[2019-05-27 16:57] EmielBoss commented on #28840
@ymodak No, because `.numpy()` only works in eager execution, and code ran through `tf.Dataset.map()` isn't executed eagerly. This is the reason I try to rely on `.make_ndarray()`. Both `tag_masks` and `tag_class_indices` are `<class 'tensorflow.python.framework.ops.Tensor'>`.

I already moved on though. I abandoned TFRecords because they are getting me absolutely nowhere. However, other people mi

[2019-05-27 17:19] EmielBoss opened #29063 ""tensorflow.python.eager.core._FallbackException: Expecting int64_t value for attr strides, got numpy.int32" + "ValueError: Incompatible conversion from float32 to uint8" when calling fit() on my model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.12.2
- Python version: 3.5
- CUDA/cuDNN version: V8.0.61
- GPU model and memory: Tesla P100-PCIE, 12193MiB

**Describe the cu

[2019-05-27 17:21] SENYANGE commented on #16694
tensorflow  version 1.5 does not contain lite error during keras model to tensorflowlite model conversion

[2019-05-27 17:26] hoonkai commented on #29056
I've dug a bit deeper. The one in the guide has this additional tensor:

`< {'name': 'MobilenetV1/Logits/SpatialSqueeze_shape', 'index': 32, 'shape': array([2], dtype=int32), 'dtype': <class 'numpy.int32'>, 'quantization': (0.0, 0)}`

Anyone know why?

Here's the list I got:

[code]

[2019-05-27 17:27] jsimsa commented on #27680
@edoardogiacomello

I agree with you that `reshuffle_each_iteration` in eager mode does not have the expected effect. The documentation is misleading because "iteration" in the documentation is meant to imply repetition based on `repeat` and not based on Python iteration.

Your example of "This Works" works because a new dataset graph is created for each iteration. The value of `reshuffle_each_ite

[2019-05-27 17:47] durandg12 opened #29064 "What does GradientTape.gradient(target, ...) when target is a list of tensors and not a single tensor ?"
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/GradientTape?hl=en#gradient

## Description of issue (what needs changing):

### Clear description

Actually there is no way to know what does the gradient method when target is not a tensor but a list of tensors, like `target=[loss_1, loss_2]`. Does

[2019-05-27 17:59] alexmil2019 commented on #29011
def _get_predictor(export_dir):
    """Get predictor
    """
    return tf.contrib.predictor.from_saved_model(export_dir=export_dir)

def predict(export_dir, data_dir):
    # let's create a predictor
    predictor = _get_predictor(export_dir)
    feed_tensor = list(predictor.feed_tensors.keys())[0]
    fetch_tensor = list(predictor.fetch_tensors.keys())[0]

    feats = _compute_features(data_dir)

[2019-05-27 18:47] rodra-go commented on #21614
Can anyone help with this?

[2019-05-27 19:17] ahsabali commented on #29005
Here is the complete code snippet that is generating the error:

`weights = tf.ones([3,3,1,3])`
`X = tf.ones([3,1024,1024,3])`
`Y = tf.nn.conv2d(X, weights, [1, 1, 1, 1], "VALID")`
`sess = tf.Session()`
`sess.run(Y)`
`sess.close()`

[2019-05-27 20:25] fhrzic commented on #24828
Linux Ubuntu 18.04 TensorFlow 2.0  fix:

System:
os: Linux Ubuntu 18.04
python: 3.6.7
tensorflow: 2.0.0-alpha0
keras: 2.2.4-tf
GPU:  GeForce RTX 2070 with Max-Q Design
Driver: 410.104
CUDA: Cuda compilation tools, release 10.0, V10.0.130
CUDNN: libcudnn7_7.4.2.24-1+cuda10.0_amd64

Installed with help of this  [tutorial](https://medium.com/@cjanze/how-to-install-tensorflow-with-gpu-support-on-ubunt

[2019-05-27 20:48] bsridatta opened #29065 "output of make_one_shot_iterator of TFRecord Dataset without eager disabled"
*System information*
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes (almost same as template)
- OS Platform and Distribution : Linux Ubuntu 16.04
- TensorFlow installed from : binary
- TensorFlow version : 1.13.1
- Python version: 3.5.2

With eager enabled:
input from TFRecordDataset with dimension (batchsize, data_shape)
Without eager:
dimens

[2019-05-27 20:56] samhodge commented on #29042
https://github.com/tensorflow/tensorflow/issues/29042#issuecomment-496163002 In response no it is not a duplicate

[2019-05-27 22:19] #29063 closed

[2019-05-27 23:30] yongtang commented on #28921
@morgangiraud On Linux with nightly build, I don't see an issue with file_io:
[code]

[2019-05-27 23:50] gnsmrky commented on #26297
@SanthoshRajendiran Have you tried setting work group to 8, or even 4, for Mali devices?  Here are the 2 lines you should change `16` to `8` or `4`.
[local_size in compute shader @ L1092](https://github.com/gnsmrky/tensorflow-lite-ssbo/blob/912c37dd456374407373f7665985c19cdccd45a5/tensorflow/lite/java/demo/app/src/main/java/com/example/android/tflitecamerademo/Camera2BasicFragment.java#L1092)
[glD

[2019-05-28 02:02] npuichigo commented on #28760
In order to run in google colab, you need to remove absl app.

[code]

[2019-05-28 02:03] npuichigo commented on #28760
@muddham

[2019-05-28 02:48] renjie-liu commented on #26442
Hi Hui, we will support control flow shortly, which allows you to convert all rnn* to the unfused version. however, if you need to convert to the fused version, please refer to the examples under lite/experimental/examples/lstm

[2019-05-28 03:15] polpolie commented on #28994
We learned about the tensor flow that is becoming an issue these days through various media,
So we have been working on the Korean Herbal Tensor Flow Community. And
We are looking for other ways to apply open source.

[2019-05-28 04:24] fmmohammadi commented on #28955
@muddham @ZLeopard
After tons of searching I found that the problem is because of Visual Studio 2015. As mentioned [here](https://support.microsoft.com/en-us/help/4020481/fix-link-exe-crashes-with-a-fatal-lnk1000-error-when-you-use-wholearch) the cause of problem is:

And the solution is to download and install a hotfix (vc14-kb4020481.exe) from [here](https://download.microsoft.com/download/8/1/d

[2019-05-28 04:28] gadagashwini commented on #28915
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-28 04:28] #28915 closed

[2019-05-28 04:30] gadagashwini commented on #28925
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-28 04:30] #28925 closed

[2019-05-28 04:34] quietsmile commented on #23530
@hoavt-54 is your problem solved?

[2019-05-28 04:49] achandraa commented on #28836
@jiarenyf : Apology for delayed response. Please open a new issue by following the [Template.](https://github.com/tensorflow/tensorflow/issues/new/choose)

Meanwhile let me close this issue due to lack of recent activities. Thanks!

[2019-05-28 04:49] #28836 closed

[2019-05-28 04:54] achandraa commented on #28833
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-28 04:54] #28833 closed

[2019-05-28 04:55] achandraa commented on #28740
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-28 04:55] #28740 closed

[2019-05-28 04:58] gadagashwini commented on #29059
@keahie  Please find instructions in this [link](https://www.tensorflow.org/install/pip) which help you to install Tensorflow. Let us know how it progresses. Thanks!

[2019-05-28 04:59] achandraa commented on #28932
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-28 04:59] #28932 closed

[2019-05-28 05:00] achandraa commented on #28919
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-28 05:00] #28919 closed

[2019-05-28 05:02] Dayananda-V commented on #28485
@miaout17

When we can expect control flow in TensorFlow Lite?

[2019-05-28 05:07] gadagashwini commented on #29044
@dorothy9297 Good to know the issue is resolved. Will close the issue. Thanks!

[2019-05-28 05:07] #29044 closed

[2019-05-28 05:09] achandraa commented on #28851
Closing the issue due to lack of recent activities. Please feel free to come back in case you are still stuck. Thanks!

[2019-05-28 05:09] #28851 closed

[2019-05-28 05:39] MaharshiYeluri01 opened #29067 "Unable to use tf.ragged_tensor with tf.from tensor_slices"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):

**Describe t

[2019-05-28 06:43] muddham commented on #29054
@Gmrevo Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue templat

[2019-05-28 06:52] bestpredicts commented on #26600
I have same error  when  I train and save a model in  local machine, but when I load my model in  server,it get this error

[2019-05-28 07:07] startupgurukul commented on #29028
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/hvx

[2019-05-28 07:21] morgangiraud commented on #28921
Hi Yong Tang,

Thanks for your feedback, I've just made more tests and it looks, it is not coming from TensorFlow:
- it works in docker nightly with official AWS S3 endpoint.
- it does not work in docker nightly with my 3rparty endpoint.

Sorry for this wrong report, have a nice day.

[2019-05-28 07:21] #28921 closed

[2019-05-28 07:22] kriskorrel-cw opened #29070 "tf_upgrade_v2 has no attribute __pasta__"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.14.5
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0-alpha0
- Python version: 3.7.3
- GPU model and memory: cpu

**Describe the current behavior**
When

[2019-05-28 07:41] KANGRuipeng opened #29071 "Does tf.nn.batch_normalization support fp16"
fp16 is new feature of Nvida GPUs, does batch_normalization support fp16?

[2019-05-28 07:43] KANGRuipeng commented on #29071
https://www.tensorflow.org/api_docs/python/tf/nn/batch_normalization, the official docs only notice " arbitrary dimensionality"

[2019-05-28 07:49] shashanka300 commented on #26922
just check the functions if they are available in 2.0

[2019-05-28 07:49] achandraa commented on #29034
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-05-28 08:04] muddham commented on #29048
@r05323028 Able to reproduce the issue in 1.13.1 and 2.0.0-alpha0

[2019-05-28 08:05] gadagashwini commented on #29065
I could reproduce the issue with TF 1.13.1. Thanks!

[2019-05-28 08:17] hoavt-54 commented on #23530
@quietsmile Hi, no, I didn't. Had to use another framework eventually.

[2019-05-28 08:17] #23530 closed

[2019-05-28 08:23] achandraa commented on #28983
In order to expedite the trouble-shooting process, please provide a full minimal code snippet to reproduce the issue reported here. Thanks!

[2019-05-28 08:32] SanthoshRajendiran commented on #26297
@gnsmrky We tried setting work groups as both 4 and 8 in Samsung A8+, the model is not running properly even when we tried it in landscape mode. When we change the work groups, the app crashes within some time due to GL out of memory error.

E/AndroidRuntime: FATAL EXCEPTION: CameraBackground
    Process: android.example.com.tflitecamerademo, PID: 23378
    java.lang.IllegalArgumentException: Inte

[2019-05-28 08:36] gadagashwini commented on #28996
@x666633 It looks This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at Stackoverflow. There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. If you still stuck, you can get back to us.Thanks!

[2019-05-28 08:37] dorier opened #29072 "Documenting the Ref keyword from operations input/output types"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## Description of issue (what needs changing):

### Clear

[2019-05-28 08:37] weiminson commented on #28318
Could you share how U solve the W501 issue? Appreciated.

[2019-05-28 08:46] gadagashwini commented on #29023
@mrchor Please have look on [Tensorflow for Java](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/java/README.md). Thanks!

[2019-05-28 08:57] ivanlv commented on #26502
As said by @PhanDuc, it works for me on Tensorflow 2.0 alpha.

[2019-05-28 09:03] XiaYuanxiang commented on #28863
Hello，Did you solved this problem？

[2019-05-28 09:05] EmanueleGhelfi opened #29073 "Empty trainable variables in keras model (tf 2.0)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.12.1-2504-g2be59a5191 2.0.0-dev20190522
- Python version: 3.6.8
- CUDA/cuDNN version: CUDA Version 10.0.

[2019-05-28 09:07] Barelos commented on #12132
I am using TF version 1.13 with.
Using both tf.keras.layers.SeparableConv2D and tf.keras.layers.DepthwiseConv2D without ReLU followd by pointwise tf.keras.layers.Conv2D I'm getting the same results which are ~50% increase of inference runtime (17ms to 26ms).
For people that want to use DWS convolutions for faster inference it hinders this layers useless using the keras module.

[2019-05-28 09:08] Gmrevo commented on #29054
@muddham Thanks for the suggestion.
The project  has been compiled in Android Studio using these dependencies:
`dependencies {
    implementation fileTree(dir: 'libs', include: ['*.jar','*.aar'])
    implementation 'com.android.support:appcompat-v7:28.0.0'
    implementation 'com.android.support:design:28.0.0'
    implementation 'org.tensorflow:tensorflow-lite:0.0.0-nightly'
    implementation 'or

[2019-05-28 09:09] achandraa commented on #28992
I have verified with TensorFlow : 2.0.0-alpha0, GPU : Tesla T4  and Quadro K1200. It is working fine. Can you check with latest nightly build for 2.0 version and let us know if that resolves the error. Thanks!

[2019-05-28 09:10] Steroes commented on #23542
@rounakskm Is this still an issue? Please check or create issue on https://github.com/guikarist/tensorflow-windows-build-script otherwise.

[2019-05-28 09:14] gadagashwini commented on #29011
@alexmil2019 Code snippet looks incomplete to reproduce the issue. Please provide code to reproduce the issue. Thanks!

[2019-05-28 09:16] engineer1109 opened #29074 "Cmake Project is abandoned?"
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows/Ubuntu

- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.12-1.14
- Python version: 3.5/3.6
- Bazel version (if compiling from source): 0.21-0.253
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: 10.0 7.5
- GPU model and memory: 11G

I found cmake project from

[2019-05-28 09:24] achandraa commented on #28989
Can you please provide full minimal code snippet that can reproduce the issue at hand. This would help us to dig in easily. Thanks!

[2019-05-28 09:24] gadagashwini commented on #29005
I am able to reproduce the mentioned issue with tf-nightly-1.14.1.dev20190524.

[2019-05-28 09:27] muddham commented on #29060
@apls777 I have executed the first part of the code in TF 1.12.0, did not receive any error. Please try and let us know how it progresses. Thanks!

[2019-05-28 09:44] gadagashwini commented on #29035
@yanhaiming56 Please have a look on this [link](https://www.tensorflow.org/install/source#download_the_tensorflow_source_code). Thanks!

[2019-05-28 09:47] anilsathyan7 commented on #28968
Here is another example where add, sub and mul have different behaviours..

1. Add

[code]
Failed to apply GPU delegate.
Aborted

![add](https://user-images.githubusercontent.com/1130185/58468457-33a57800-815b-11e9-92d4-d291884496ff.png)

2. Sub

Error:- Falls back to CPU

[code]

![sub](https://user-images.githubusercontent.com/1130185/58468501-48820b80-815b-11e9-8d69-bde2c9095750.png)

**But the

[2019-05-28 09:49] guillaumekln opened #29075 "tf.function with input_signature slower on unseen sequence length"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Linux Ubuntu 16.04:
- TensorFlow installed from: binary
- TensorFlow version: `2.0.0-dev20190526`
- Python version: 3.6.6
- CUDA/cuDNN version: 10.0
- GPU model and memory: GTX 1060

**Describe the current behavior**

When running a `tf.function` on 3D inputs (a batch of sequence), I found that the execution i

[2019-05-28 10:04] apls777 commented on #29060
@muddham It works in TF 1.12.0. Just changed the filename to `./cache1` instead of `cache1`, otherwise, it throws an error for the first run:
[code]

[2019-05-28 10:08] muddham commented on #28760
@npuichigo Able to reproduce the issue in 2.0.0-alpha0, tf nightly.

[2019-05-28 10:09] rmahlatse commented on #26182
My problem was incompatible CUDA and Tensorflow. So I check CUDA version and Tensorflow Version on my Ubuntu. You can find tensorflow and cuda version compatibility on [link](https://www.tensorflow.org/install/source#tested_build_configurations)

- Check CUDA version:
cat /usr/local/cuda/version.txt

- Check Tensorflow version:
pip list | grep tensorflow

I had :
tensorflow

[2019-05-28 10:11] kusur commented on #28983
@achandraa The code given in the original post reproduces the issue. The only caveat is that this code was run on Google Colab. Please let me know if you need any more information from me.

[2019-05-28 10:18] mazy1998 opened #29076 "TensorBoard UI issue with tf.function"
The code does not behave like the code in https://www.tensorflow.org/tensorboard/r2/graphs. It is rather a blank you with 3 words.

[2019-05-28 10:22] muddham commented on #28955
@fmmohammadi Glad to hear that your issue was resolved.Hence this issue will be closed.

[2019-05-28 10:22] #28955 closed

[2019-05-28 10:23] ggardet commented on #28863
Same problem for me. If someone has a patch, I can test it.

[2019-05-28 10:24] achandraa commented on #29052
I tried running on Colab with TensorFlow version 1.13.1 but unfortunately did not reproduce the mentioned warning. Can you please check and let us know once again if the issue still persists. Thanks!

[2019-05-28 10:26] achandraa commented on #29049
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact minimal code snippet to reproduce the issue reported. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/te

[2019-05-28 10:31] mazy1998 commented on #29076
<img width="1440" alt="Screen Shot 2019-05-28 at 3 22 20 PM" src="https://user-images.githubusercontent.com/8387388/58471566-9bf55900-815d-11e9-91bd-bd5e1ef8fe85.png">

[2019-05-28 10:31] SanthoshRajendiran commented on #28600
Are there any chances that Argmax GPU Delegate op will be introduced in the near future??

[2019-05-28 10:38] muddham commented on #29060
@apls777 As it is working now, are you happy for this issue to be closed?

[2019-05-28 10:51] apls777 commented on #29060
@muddham No, clearly it’s a bug that should be fixed in the latest stable version.

[2019-05-28 10:52] noctune commented on #29052
That seems odd. The bug seems to happen in the latest 1.13.1 docker container:

[code]

It seems to be fixed in nightly, however:

[code]

So it might be fixed in the latest nightly. But it's odd why this does not happen in colab. Could there be a version difference between colab and docker/pip?

[2019-05-28 11:57] achandraa commented on #28980
Can you please provide some more details on the proposed feature and its use case. This would help us to get more understanding on the same. Thanks!

[2019-05-28 12:03] Raj-08 opened #29077 "Issue with tf.nn.softmax_cross_entropy_with_logits when label value is 100+"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: YES
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**:  Installed from Docker official repo
- **TensorFlow vers

[2019-05-28 12:10] YonitZall opened #29078 "Many false positives in a custom SSD model with Tensorflow object detection API"
My model has 2 classes (no background class) and is trained using transfer learning with ssd_mobilenet_v2_coco. It detects and classifies well the objects it was trained on. However, on new images it also detects many false positive bounding box's of the background. Sometimes the background objects that are detected are objects that existed in the coco data set (e.g. a cup), but not only - also a

[2019-05-28 12:11] dcmrlee commented on #26526
I got the same error, and set TF_ENABLE_CONTROL_FLOW_V2 = 1 still do not work. My tensorflow version is 1.13.1.
@skye Could you help to look into it?

Here is my code:
[code]

Here is the error:
[code]

[2019-05-28 12:12] samhodge commented on #29042
Building on v1.12.0 was a little better, but my build environment was  gcc 4.4.7 in /usr/bin/gcc and another gcc 4.8.5 in a non standard location on CentOS 6.10

It is demanding CUDA 9.0 although I know the source runs with CUDA 10.0.130

Compiling issues were related to not finding a C++11 compiler.

The same CentOS 6.10 image has been used to compile Tensorflow 1.12.0 with Bazel for CPU, CUDA 9.

[2019-05-28 12:16] samhodge commented on #29042
https://github.com/tensorflow/tensorflow/issues/22634#issuecomment-438616945 Is a link to fixes that need to be made to v1.12.0

[2019-05-28 12:17] #28847 closed

[2019-05-28 12:17] Alxemade commented on #28847
After using tensorflow1.2 it works fine.

[2019-05-28 12:25] achandraa commented on #29061
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there and can provide better and quick help for such type of issues. Thanks!

[2019-05-28 12:28] samhodge commented on #28388
This issue has been reported 2 years ago

https://github.com/bazelbuild/bazel/issues/1920

[2019-05-28 12:33] EmanueleGhelfi commented on #29073
Update: After some debugging I found the cause of this issue.
The problem is that keras does its magic under the hood.
In the UNet init:
[code]
Keras intercepts the creation of the lists and initializes its attributes. Keras does not manage the `append` of layers to a list.

Changing the above code in:

[code]
Solves the issue. In this way the variables are correctly added to the trainable variabl

[2019-05-28 12:34] samhodge commented on #28388
Adding solution to issue reported 2 years ago

https://github.com/bazelbuild/bazel/issues/5200

[2019-05-28 12:36] wilk10 commented on #29061
Thank you, i was just about to close the ticket. I solved it in a different way using [this](https://github.com/mhwilder/tf-keras-gcloud-deployment/) as an excellent guide

[2019-05-28 12:36] #29061 closed

[2019-05-28 12:37] #29031 closed

[2019-05-28 12:59] TarrySingh commented on #27035
TF 1.13.1 supports Python3.7

[2019-05-28 13:08] shubham-samant commented on #25369
here is an link to the end-to-end example using the NYC taxi dataset -
https://github.com/tensorflow/tfx/tree/master/tfx/examples/chicago_taxi_pipeline

[2019-05-28 13:13] RuABraun commented on #28926
Same issue.

[2019-05-28 13:17] radiantone commented on #29034
It comes from this notebook from tensorflow team
https://www.tensorflow.org/alpha/tutorials/text/text_classification_rnn

And the segment throwing the exception is the "Train the Model" cell.

history = model.fit(train_dataset, epochs=10,
                    validation_data=test_dataset)

[2019-05-28 13:26] radiantone commented on #29034
This is likely a duplicate of this issue https://github.com/tensorflow/tensorflow/issues/24496

[2019-05-28 13:28] idofr commented on #24399
I think this question is more about how to reset the data iterator after each epoch. It doesn't really help when you `pass` because it won't let you start the next epoch

[2019-05-28 13:42] rickstaa commented on #26178
I will close this issue for now. Feel free to reopen the issue.

[2019-05-28 13:47] RuABraun commented on #20905
The size of these shared libraries is ~50MB. Contrary to what @jdduke talked about [here](https://github.com/tensorflow/tensorflow/issues/25278), saying it would 1-1.5MB. Is there something extra one has to do for that to happen?

[2019-05-28 14:01] mengfu188 opened #29079 "Error convert pb file to tflite"
## System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Maybe, prelu function, See[link](https://github.com/sirius-ai/MobileFaceNet_TF/blob/bccb7bd7faf503ffb792f18d7ea3ed7ec6e1d092/nets/MobileFaceNet.py#L268)
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
TensorFlow installed from (source or binary): binary
TensorF

[2019-05-28 14:03] danielbraun89 commented on #26178
The reason to pass through an Estimator without training is the .export_saved_model() of the estimator:
https://www.tensorflow.org/api_docs/python/tf/estimator/Estimator#export_saved_model
This is the only production-ready way to merge the preprocessing transformation graph (using the serving_input_receiver_fn) into model graph inside the estimator. This is a must to any production code that have

[2019-05-28 14:17] vishagan1 commented on #29036
@muddham Thanks for the response. Please find below a code snippet, which creates the optimizer with different rate depending on the current_epoch and selecting a layer. Finally it returns the train_op that updates the weights.
[code]

[2019-05-28 14:19] tsing-cv commented on #29049
`https://github.com/tsing-cv/tf.keras_Mask_rcnn`
I didnt change anything, but instead of all keras api.
The performance drops down, and training is very very slow.
@achandraa

[2019-05-28 14:19] zh794390558 commented on #26442
@renjie-liu Great, look forward to it.

[2019-05-28 15:14] jdduke commented on #20905
@RuABraun can you provide the exact build command you used to generate the library? Using `bazel build //tensorflow/lite:libtensorflowlite.so --config=android_arm64 --cxxopt='--std=c++11' -c opt` I'm getting < 2MB.

[2019-05-28 15:29] RuABraun commented on #20905
I'm using the same. Afterwards:
[code]
During `configure` I said no everything except the android stuff, I'm not using clang. This is on the latest commit of master (last commit from 5 hours ago). Struggling to see where things could have diverged (unless I should be using clang?).

[2019-05-28 15:40] EmielBoss opened #29081 "A loss function for calculating categorical cross-entropy from the softmax probabilities"
**System information**
- TensorFlow version (you are using): 1.12
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
I wish for a loss function that calculates categorical cross-entropy based on softmax predictions. As far as I have seen, there are only function that work with the logits. Why is there no way to use the softmax scores?

**Will

[2019-05-28 15:49] tanzhenyu commented on #20999
This should have already worked in 1.14 (it seems that the new optimizers is not released before that). Closing it.

[2019-05-28 15:49] #20999 closed

[2019-05-28 15:49] karmel commented on #28969
Thanks, @nateagr , for the report. It's hard for us to debug the example as it is, though-- can you provide a minimal code sample that allows us to reproduce? The logs indicate that at least something is being warm-started, but it's hard to tell from that what might be missing.

[2019-05-28 15:49] mihaimaruseac commented on #28832
At this point I would try recloning the branch on a different directory and recompiling again. Perhaps something else changed?

[2019-05-28 16:02] tanzhenyu commented on #21614
Can you call the model with some input and see it works before converting to the estimator? I suspect this is because initial_state is not passed to the first LSTM.

[2019-05-28 16:04] hadim commented on #25036
Same issue here on TF 2 nightly.

[2019-05-28 16:10] mihaimaruseac commented on #25313
I think this should be kept open until the PR with the fix lands

[2019-05-28 16:23] mihaimaruseac commented on #29053
What is the output of `git --version`?

[2019-05-28 16:33] Breta01 commented on #29046
I was facing exactly the same issue. Turns out it was caused by one of my browser's plugin which blocks trackers. It was blocking the loading of `https://www.tensorflow.org/_d/profile...`. Turning it off solved the issue for me.

[2019-05-28 16:33] SSaishruthi commented on #25802
@dynamicwebpaige
Created 5 PRs covering some of the math functions. Working on other functions.

[2019-05-28 16:34] mazy1998 commented on #29076
I apologize for the inconvenience the problem was with Safari, everything works as expected with google chrome(shocker).

[2019-05-28 16:51] preethivenkatesh commented on #23888
We are investigating this bug and will update as soon as we have the fix

[2019-05-28 16:54] impjdi commented on #28600
@SanthoshRajendiran

Given how resource constraint we are, we probably can't accommodate these individual requests =/

We have max pooling with indices.  Could you use that, or customize with that as a basis?  After all, we opensourced the GPU backend so you can customize it for your needs ;)

[2019-05-28 16:57] qlzh727 commented on #28761
This should be fixed by 2a8f9b1ccfaaebd6f9cf5b5eb972c2dafded4f5e now.

[2019-05-28 16:59] #28761 closed

[2019-05-28 17:12] lioutasb commented on #11651
Problem still occurs with Tensorflow 2.0

[2019-05-28 17:20] SSaishruthi commented on #28980
@achandraa Thanks for the review comment. I will update about the same.

[2019-05-28 17:37] ljakupi commented on #25843
Came across this and want to give my opinion that somebody may find it helpful. According to TF2.0 documentation: https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/layers/LSTM,

TF automatically selects which layer implementation to use, based on the available environment. If there are GPUs available and you want to use cuDNN implementation (aka "CuDNNLSTM" in v1), just make sure y

[2019-05-28 18:15] dbl001 commented on #28839
In Tensorflow 13.1 , I adjusted the Subgraph::Identity initialization.  But ...

[code]

[2019-05-28 18:17] impjdi commented on #29056
@hoonkai

IIRC the official model includes SQUEEZE, whereby the GPU-compatible model replaces the op with RESHAPE.   There can be multiple ways to represent a certain operation, and the one we present in the GPU page is rewritten to have no GPU-incompatible ops.

I don't think going and updating the official MobileNet release is the scope of the GPU backend, and that may break some other people.

[2019-05-28 18:17] #29056 closed

[2019-05-28 18:21] Joey-Lou-Equinor opened #29083 "ImportError: DLL load failed: The specified module could not be found."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Windows 7 Enterprise 64-bit (

[2019-05-28 18:23] Joey-Lou-Equinor commented on #29083
I have tried methods from #22872 by downgrading the packages, including tensorflow-gpu, cudatoolkit and cudnn, but the same error kept coming up.

[2019-05-28 18:53] Joey-Lou-Equinor commented on #29083
It worked after I removed tensorflow-gpu

[2019-05-28 18:53] #29083 closed

[2019-05-28 19:00] stevehawley commented on #28053
In the past where I have had a customer reporting an intermittent issue I would add better error reporting so the next time it occurs we would have the data we need to explain and maybe fix the issue. Can such a thing be added to tensorflow around this line of code? Could it capture more information from cuda? Maybe throw an exception so that the application can do something to handle the error? C

[2019-05-28 19:01] lwu025 opened #29086 "Error trying tensorflow litem operations are not supported by GPU delegate"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-28 19:02] jlanday commented on #27829
I am also having a similar issue. Was wondering if there was an update or an older nightly where this is stable?

[2019-05-28 19:05] jvishnuvardhan commented on #28318
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Please open a new ticket if the issue persists again. Thanks!

[2019-05-28 19:05] #28318 closed

[2019-05-28 19:13] jvishnuvardhan commented on #26502
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Thanks!

[2019-05-28 19:13] #26502 closed

[2019-05-28 19:21] NatGr commented on #27880
Did anyone find a way to convert the quantized model to a tflite file?

I tried to adapt the instructions from the github readme but with no success
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/quantize

[2019-05-28 19:26] DecentGradient commented on #26502
I believe this is unresolved as the current working suggestion is a temporary workaround

[2019-05-28 19:34] jvishnuvardhan commented on #26959
Please create a new issue with details of your environment and with any reproducible code. Thanks!

[2019-05-28 19:43] gunan commented on #28839
I am not familiar with this code. Please reassign to grappler developers.

[2019-05-28 19:45] kernelizd opened #29088 "TF 2.0 Beta: custom metric example from documentation is wrong"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-28 19:51] hoonkai opened #29089 "TFLite model almost the same size as frozen graph"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): v1.13.1
- Pyth

[2019-05-28 19:51] jdduke commented on #28917
Can you try adding the `--config=monolithic` flag to your `bazel build` command?

[2019-05-28 19:55] annarev commented on #26502
I would say the original issue is resolved since it talks about `import tensorflow as tf` specifically.
However, `from tensorflow.keras import losses` and similar are not resolved yet. May be it is better to open a new issue?

[2019-05-28 20:07] qlzh727 commented on #28643
I think this issue has been fixed by https://github.com/tensorflow/tensorflow/commit/254e39f810fd88e14c3743a5aaf903e5dd6bb397.

[2019-05-28 20:07] #28643 closed

[2019-05-28 20:40] qlzh727 commented on #28710
I can't reproduce this issue in tf.nightly, which indicate that this issue has been recently fixed, but hasn't reach release yet.

[2019-05-28 20:42] qlzh727 commented on #28710
TF version = 1.14.1-dev20190523

Epoch 1/10
1/5 [=====>........................] - ETA: 0s - loss: 0.6458
5/5 [==============================] - 0s 39ms/step - loss: 0.7210
Epoch 2/10
1/5 [=====>........................] - ETA: 0s - loss: 0.9641
5/5 [==============================] - 0s 1ms/step - loss: 0.7426
Epoch 3/10
1/5 [=====>........................] - ETA: 0s - loss: 0.9364
5/5 [==========

[2019-05-28 20:42] #28710 closed

[2019-05-28 21:02] trialzuki opened #29092 "There have no tensorflow/contrib/tpu/ops module in b211c7a commit"
Sorry if I'm something miss. It's my first attempt to make an issue.

commit b211c7a

In the :
tensorflow/contrib/cmake/python_modules.txt:
....
tensorflow/contrib/tpu
tensorflow/contrib/tpu/ops   <<< line 435
tensorflow/contrib/tpu/profiler
tensorflow/contrib/tpu/python
...

But this module is not in the directory:
tensorflow/contrib/tpu

[2019-05-28 21:05] qlzh727 commented on #28698
I think the code was originally from keras implementation in https://github.com/keras-team/keras/pull/3906. The context of not having feedback loop from previous state is kind of lost.

[2019-05-28 21:19] ymodak commented on #28815
Closing this issue since its resolved. Thanks!

[2019-05-28 21:19] #28815 closed

[2019-05-28 21:23] jvishnuvardhan commented on #28366
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-05-28 21:30] qlzh727 commented on #28698
I took a look of the paper, it seems that the original paper was not using the vanilla version of LSTM, but a fully connected version. With that version, there is an extra weight for carry state of T - 1. I think we should have a new weight field for it, which only fuses 3 gates (input, forget, output, no carry gate). Probably we can call it recurrent_carry_kernel.

[2019-05-28 21:32] extreme4all opened #29096 "Cannot install tensorflow via PIP"
so following the tutorial: https://www.tensorflow.org/install/pip?lang=python3 didnt really work..
i even deleted all my previous python versions and got a singe python 3.6.0 64 bit running (all my other where 32 bit)

`python --version` => 3.6.0
`pip --version` =>19.1.1
`virtualenv --version `=>16.6.0

`pip install --upgrade tensorflow`
=>

[2019-05-28 21:54] robieta commented on #28580
Before I get to the central point of the issue, it should be clarified that `keras` and `tf.keras` are distinct libraries. Specifically, both implement the Keras API; however interchanging `keras.thing` and `tf.keras.thing` is not supported since they have different implementations.

I took the liberty of replacing `keras` with `tf.keras`, and pruning the repro down to something that only exercise

[2019-05-28 21:54] #28580 closed

[2019-05-28 22:02] omalleyt12 commented on #28580
Yeah this looks like it's just because you're feeding the `keras.backend.learning_phase()` placeholder rather thanthe `tf.keras.backend.learning_phase()` placeholder.

It works fine for me if I replace

```from keras import backend as K```

with

```from tensorflow.keras import backend as K```

[2019-05-28 22:03] samhodge commented on #29042
Here is the latest build command for my machine for v1.12.0

[code]

[2019-05-28 22:23] jvishnuvardhan commented on #28811
@PCerles My output is different from yours. My output shows that tensorflow `matmul` of float64 behaves like numpy's float64 matmul than numpy's float32 matmul.

Please take a look at the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/819210b965e4007df38b405e416079dd/untitled201.ipynb). This gist has your code and my output. I have tried gpu and cpu, both produce results as expected.

[2019-05-28 22:46] jvishnuvardhan commented on #28796
@Tayseer-bme Could you provide more details on the issue and context? Thanks!

[2019-05-28 22:59] pinnareet commented on #28915
I'm really sorry for the late reply. numpy and protobuf are installed. I also attached screenshots showing tensorflow-hub installed but failed to load in python3.
<img width="567" alt="Screenshot 2019-05-28 15 56 55" src="https://user-images.githubusercontent.com/4829500/58517821-96017700-8161-11e9-9cde-3f09bec887f2.png">
<img width="1420" alt="Screenshot 2019-05-28 15 57 07" src="https://user-ima

[2019-05-28 23:17] danaugrs opened #29099 "Drastically different behavior between TF1 and TF2"
I've noticed drastically different behavior of the following code between _2.0.0-alpha0_ and _1.13.1_.
[code]

In _2.0.0-alpha0_ the accuracy of the network consistently reaches >80% in the first few epochs. In _1.13.1_ the accuracy consistently reaches only <20% after all 15 epochs. What is going on?

Here is the file with weights: [W_bio.npy](https://drive.google.com/file/d/12O0XE98jl_yYmiBbZMWy

[2019-05-28 23:43] gargn commented on #28856
`from_saved_model` wasn't added until after the alpha was released. Details are available in the comment here: https://www.tensorflow.org/lite/r2/convert/python_api. Can you upgrade to `tf-nightly-2.0-preview` and rerun your code?

[2019-05-28 23:53] justinvzyl opened #29100 "Keras Vanilla Installation | RuntimeError: Python version >= 3.5 required"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
[+] No
- OS Pl

[2019-05-29 00:05] eha11 opened #29101 "Random seed not set in graph context of `Dataset#map`"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-05-29 00:21] justinvzyl commented on #29100
Full stack trace:
[trace.txt](https://github.com/tensorflow/tensorflow/files/3230219/trace.txt)

[2019-05-29 00:27] lwu025 commented on #28999
There are two examples I found:
tensorflow/lite/examples/label_image
and
tensorflow/lite/tools/benchmark

[2019-05-29 00:33] lifeishard commented on #29035
I have the same problem, even using the master branch with  --config=v2 option

[2019-05-29 00:52] lifeishard opened #29102 "Tf 2.0 with cuda 10.1 build from source compiles to 1.13 package"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution:Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2

[2019-05-29 01:23] guptapriya commented on #28931
Hi, this tutorial is supposed to work only with TF 1.x nightly, and the upcoming 1.14 release. It is expected to fail with 1.13.
@yashk2810 - would you mind updating the tutorial to install tf-nightly at the top so that it's clear what it is supposed to work with? by default, the external colab currently uses 1.13 so this fails.
Would be good to check this for all the other tutorials as well.

[2019-05-29 01:29] yashk2810 commented on #28931
The notebook should be updated by tomorrow. Also, I would recommend looking at tensorflow.org/alpha. See the distributed keras notebook here (https://www.tensorflow.org/alpha/tutorials/distribute/keras)

[2019-05-29 01:32] AlainConnor commented on #28931
I want to know where can be find the tutorial about tf1.13 at low level api ?

[2019-05-29 02:08] aherkel09 commented on #28967
@gadagashwini Unfortunately, my CPU does not support AVX2. Thanks for the response.

[2019-05-29 02:08] #28967 closed

[2019-05-29 02:39] zeffon commented on #26241
I have the same error

[2019-05-29 02:40] kunkun007 commented on #28917
I use .pb file in android,  should i change it to .tflite file to using my own model? I will try to rebuild as you recommended.

[2019-05-29 03:09] changkaizhao opened #29103 "tfjs model converted from Keras model cannot be loaded"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):1.9
- Python version:3.7.0
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version:
- GPU model and memory:

***Step 1***
Train a keras

[2019-05-29 03:13] chenweizhi commented on #28256
the only way you could do is to re-save your png file in "RGB" mode . in this case,  the image datas are the indices of  palette，which you needed to training a semantic segment model , and decoding function in tensorflow works correctly  . side effect is that you cant see anything in preview, because Its valuse is too low to be seen

[2019-05-29 03:14] seahrh commented on #13796
@kgramm9026
You can't load the checkpoint files directly from S3. Use the `boto` library to download the files from S3 to local storage on your target machine (in my case, it was AWS Lambda). Then I restore the model from the files (following example uses an old version of the tf api, there should be a better way to do it in newer versions)

[code]

[2019-05-29 03:35] jiakai0419 opened #29105 "There is a incorrect link in CONTRIBUTING.md"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

https://github.com/tensorflow/

[2019-05-29 04:03] nguyenhuy3588 commented on #28863
I still can't solve it, waiting for Tensorflow for help.

[2019-05-29 04:19] ageron commented on #27829
@jlanday , it worked when I posted my comment on April 19th, so perhaps try a nightly from April 18th or 19th?

[2019-05-29 04:27] weichiche commented on #19992
@jvishnuvardhan The issue still exists in v1.13.1.

[2019-05-29 04:28] gadagashwini commented on #28915
@pinnareet This question better asked on [Tensorflow hub](https://github.com/tensorflow/hub/issues) repo. Thanks!

[2019-05-29 04:31] gadagashwini commented on #28952
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-29 04:31] #28952 closed

[2019-05-29 04:33] gadagashwini commented on #28954
Closing this issue since the associated PR has been merged. Feel free to reopen if the problem still persists. Thanks!

[2019-05-29 04:33] #28954 closed

[2019-05-29 04:39] ThisIsIsaac commented on #29053
git version 1.8.3.1

[2019-05-29 05:16] gadagashwini commented on #29077
@Raj-08 In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-05-29 05:23] gadagashwini commented on #29074
@engineer1109 Unfortunately we don't provide support for the CMake build anymore. You may have more luck building with Bazel for Windows using -c dbg. Please have look on [build tensorflow from source](https://www.tensorflow.org/install/source_windows). Thanks!

[2019-05-29 05:41] byronyi commented on #27668
I believe it's available for nightly and 1.14 with #26342.

[2019-05-29 05:53] chenchc opened #29108 "Gradient clipping by norm has different semantics in tf.keras.optimizers against keras.optimizers"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-05-29 06:01] achandraa commented on #29034
Please have a look on the issue mentioned by you and let us know if that helps. Looks like this [comment](https://github.com/tensorflow/tensorflow/issues/24496#issuecomment-464909727) might give you a fix. Thanks!

[2019-05-29 06:18] achandraa commented on #28983
Will it be possible to provide the values for various parameters you are trying as in n_steps, n_inputs, n_outputs etc to check the exact code snippet for the issue. This will help us to proceed faster. Thanks!

[2019-05-29 06:21] lahertel commented on #28797
Updating to the latest nightly (2.0.0.dev20190528), I receive a different error message:
[code]

[2019-05-29 06:30] SanthoshRajendiran commented on #28600
@impjdi  Thank you.. Will look into customizing the GPU Backend code.

[2019-05-29 06:30] #28600 closed

[2019-05-29 06:31] guoguoguilai opened #29110 "How to test a saved model trained with tf.train.batch?"
By calling graph.get_tensor_by_name("output:0")，I found that it returns a tensor shaped [batch_size,num]，How to test a saved model trained with tf.train.batch?

[2019-05-29 06:36] ftokarev commented on #3536
Heads-up: there is a dedicated `//tensorflow:install_headers` target now

[2019-05-29 06:39] achandraa commented on #29049
Can we have the details about the platform you are using (operating system, architecture). Also let us know which TensorFlow version you are using, whether you compiled it using source or installed using binary and your CUDA/cuDNN, GPU information. This will help us to dig further and proceed easily. Thanks!

[2019-05-29 06:45] gadagashwini commented on #29092
@trialzuki Could you provide more details about the issue and context?

[2019-05-29 06:48] MakeCent commented on #26072
If you can confirm that you are using the same container, then my solution maybe useless for you. But I still have to mention something which maybe helpful.
`docker run` is a command to build a **new** container. (if you don't know this, please search the different between docker container and docker image)

[2019-05-29 06:51] weiminson opened #29111 "tensorflow_addons can not be imported"
Could you plz help to solve this issue?

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution ( Linux Ubuntu 16.04):

- TensorFlow installed from: source
- TensorFlow version: 2.0.0-dev20190528
- Python version: 3.6
- CUDA/cuDNN version: 10
- GPU model and memory: GTX 2080 ti

**Describe the current

[2019-05-29 06:54] mathlf2015 commented on #12367
@Ouwen ,I have encountered the same problem, how do you solve this problem , look forward to your reply?

[2019-05-29 06:55] Zoltrix commented on #26835
Same for Unknown layer: DenseFeatures

[2019-05-29 06:56] muddham commented on #29078
@YonitZall This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflo

[2019-05-29 07:04] achandraa commented on #29043
I was able to get the mentioned error on Colab with TensorFlow version 2.0.

[2019-05-29 07:05] Aparajit-Garg commented on #21361
Hi,
I am trying the below command but it is giving the mentioned error. Please help me out.

Code : history = model.fit_generator(train_generator, steps_per_epoch = 8,
                             epochs = 15, verbose = 1, callback = [tensorboard])

Error: fit_generator() got an unexpected keyword argument 'callback'

[2019-05-29 07:08] EmanueleGhelfi opened #29112 "tf.function runtime error when modifying file"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.12.1-2828-ga9a1a64d25 2.0.0-dev20190528
- Python version: 3.6.8
- CUDA/cuDNN version: CUDA version 10.0.1

[2019-05-29 07:15] #29077 closed

[2019-05-29 07:19] lufol commented on #29096
Maybe consider following these instructions for the installation at [stackoverflow](https://stackoverflow.com/a/42596864).

[2019-05-29 07:23] tsing-cv commented on #29049
···
ubuntu18.04
TITAN RTX 24G
cuda 10.0
cudnn 7.3.1
INVIDIA driver 418.43
tensorflow 1.12 or 1.13.1
keras 2.2.4
···

[2019-05-29 07:25] shkarupa-alex opened #29113 "All implicitly derived inputs to subclassed Models must be tf.Tensors (found SparseTensor)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS X 10.14
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): ('v1.1

[2019-05-29 07:26] lufol commented on #29081
Hi, did you already look at `tf.keras.losses.CategoricalCrossentropy`? It seems to work with both `from_logits = True/False`.
As last layer of your network you still want to use softmax right?

[2019-05-29 07:26] engineer1109 commented on #29074
@gadagashwini  Command is bazel build --config=opt --config=cuda --define=no_tensorflow_py_deps=true //tensorflow:tensorflow.dll？

[2019-05-29 07:34] shkarupa-alex opened #29115 "Support RaggedTensors in sequence feature columns"
**System information**
- TensorFlow version (you are using): 2.0.0-dev20190527
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
Currently `tf.feature_column.sequence_*` columns support only sparse tensor inputs.
It would be great if they will support ragged tensors too. At least thru type checking and `to_sparse` method (but maybe there will

[2019-05-29 07:37] lufol commented on #29071
Running is on tensorflow cpu I got these results:
`a = np.array([5, 5, 5], dtype='float16')`
`tf.nn.batch_normalization(a, 1, 1, 0, 0, 0.001)`
Returns `<tf.Tensor 'batchnorm_5/add:0' shape=(3,) dtype=float16>`

[2019-05-29 07:49] extreme4all commented on #29096
i have also tried to install via link found on the tensorflow install page, this gave the error wheel not supported.

[2019-05-29 07:57] nicochidt commented on #19200
I have the same problem with Keras using the tensorflow/tensorflow-gpu backend. I'm able to train the model and inference in GPU (with tensorflow-gpu-1.12.0 installed) but when I use the same codebase to run inference in another system that is using tensorflow-1.13.0, I get NaNs as output regardless of the inputs.

[2019-05-29 07:59] mr-ubik commented on #25254
I am having the same issue when either iterating over the dataset with the custom eager training steps or passing it to `keras.Model.fit()`

[code]

Trying different combinations, like creating an endless dataset via `tf.Dataset.repeat()` while specifying the `steps_per_epoch` yields the same result:

[2019-05-29 08:01] liuyulin19921213 opened #29116 "Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If those are native TensorFlow operators, you might be able to use the extended runtime by passing --enable_select_tf_ops, or by setting target_ops=TFLITE_BUILTINS,SELECT_TF_OPS when calling tf.lite.TFLiteConverter(). Otherwise, if you have a custom implementation for them you can disable this error with --allow_custom_ops, or by setting allow_custom_ops=True when calling tf.lite.TFLiteConverter(). Here is a list of builtin operators you are using: ADD, ADD_N, CAST, CONCATENATION, CONV_2D, FLOOR, FULLY_CONNECTED, GATHER_ND, LOGISTIC, MAXIMUM, MINIMUM, MUL, PACK, RESHAPE, RESIZE_NEAREST_NEIGHBOR, STRIDED_SLICE, SUB. Here is a list of operators for which you will need custom implementations: ROUND."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that would be helpful to diagno

[2019-05-29 08:05] liuyulin19921213 opened #29117 "Some of the operators in the model are not supported by the standard TensorFlow Lite runtime."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that would be helpful to diagno

[2019-05-29 08:07] islor commented on #20905
Hi, I'm trying to utilise a smaller tflite library in my Android app which led me to this thread. I managed to build the libtensorflowlite.so file, but have no idea on how to integrate it into my project. And I can't find any mention of it in the official website. Is there any guide to point me towards? Thank you.

[2019-05-29 08:45] #29116 closed

[2019-05-29 08:47] anuragtumloor commented on #559
Kindly check whether you have installed the numpy package from pip. Because if you are running on conda evironment, then all packages need to be downloaded from there.
Please use the below mentioned statement for this purpose
        conda install -c anaconda numpy

Also make sure that the numpy version supports the Python version you are using.

[2019-05-29 08:49] lisaong commented on #28791
Hi @hamlatzis,

Turns out the SELECT_TF_OPS option is very unwieldy for target systems that are not iOS or Android. For my case I'm trying to compile the model for Raspberry Pi.

Here's an example of how the custom op can be registered. I adapted minimal.cc to register the op. Hopefully this will help.

https://github.com/lisaong/diec/tree/master/day3/inference

Regards,
lisa

[2019-05-29 08:50] kriskorrel-cw commented on #26486
@soupytwist Should this problem be fixed now? I am using google_pasta 0.1.6 now and am still experiencing this issue.

[2019-05-29 09:09] CyberZHG commented on #29100
Because `scipy==1.3.0` does not support python 2 anymore. You can install `scipy==1.2.1` before install `Keras`.

[2019-05-29 09:19] justinvzyl commented on #29100
Thanks for the reply. That fixes the problem. But why does it revert back to python 2 when the environment is set to use python 3.6.0?

[2019-05-29 09:24] pharrellyhy commented on #28856
@gargn I originally compiled tf-2.0 from source and had the same issue. Then I switched to tf-1.12. Here is the version of my tf-2.0: `v2.0.0-alpha0-4-g2c2d508 2.0.0-alpha0`.

[2019-05-29 09:27] achandraa commented on #29076
We will be closing the issue since it looks like it is resolved. Please feel free to open new issue in case you have any problem. Thanks!

[2019-05-29 09:27] #29076 closed

[2019-05-29 09:39] trialzuki commented on #29092
I tried to bild project from commit **b211c7a** (last release at 28 may 2019) with
- Windows 7
- Visual Studio 2019
- cmake
.. and got build error:
tensorflow/contrib/cmake/tf_python.cmake:217 module tensorflow/contrib/tpu/ops does not exist.

then
checked tensorflow/contrib/cmake/tf_python.cmake ..
checked tensorflow/contrib/cmake/python_modules.txt ..

and found that in tensorflow/contrib/cmake/

[2019-05-29 10:06] weiminson opened #29122 "Entity <> could not be transformed and will be staged without change"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.0 alpha
- Python version: 3.6
- CUDA/cuDNN version: 10
- GPU model and memory: GTX2080Ti

Hi ther

[2019-05-29 10:06] gadagashwini commented on #29101
@eha11 I tried to reproduce the issue on my system and also on google colab but code executed as expected. Can you try once and let us know if that still an issue. Thanks!

[2019-05-29 10:07] mr-ubik opened #29123 "tf.data.Dataset.from_generator() empties after use even with repeat()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- TensorFlow installed from (source or binary): PyPI binary
- TensorFlow version (use command below): 2.0.0-dev20190526
- Python version: 3.7

**Describe the current behavior**

A `tf.data.Dataset` created

[2019-05-29 10:12] sunn-e commented on #27079
Thank you so much. For those who missed this reply and scrolled past to last.

[2019-05-29 10:13] muddham commented on #29096
@extreme4all Did you get chance to try the link suggested by @lufol , Please let us know your OS

[2019-05-29 10:15] lc0 commented on #26486
@kriskorrel-cw yes, it's fixed in nightly builds for quite some time

[2019-05-29 10:16] lc0 commented on #26486
I think we can also close the issue

[2019-05-29 10:18] marcojulioarg opened #29124 "Cannot convert VGG19"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 18.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (or github SHA if from source): tf-nightly-2.0-preview 2.0.0.dev20190529

**Provide the text output from tflite_convert**
[code]

[code]

**Any other info / logs**

Include any logs or source code that would be helpful to diagnose t

[2019-05-29 10:19] jayasriospl commented on #24491
I am trying to convert .pb to .tflite using ssd mobilenet v1 pets config.
Create .pb file using this command
sudo python export_inference_graph.py --input_type image_tensor --pipeline_config_path /home/ubuntu/training/data/ssd_mobilenet_v1_pets.config --trained_checkpoint_prefix /home/ubuntu/training/data/model.ckpt-78386 --output_directory /home/ubuntu/training/ --input_shape 1,300,300,3
then sum

[2019-05-29 10:34] Tayseer-bme commented on #28796
@jvishnuvardhan
while building tensorflow, we can solve this error by following this steps:

1- Modify "tensorflow/core/platform/macros.h" as same as in the link
https://github.com/tensorflow/tensorflow/commit/3c245f52912612ed9d8e20245ddb5de055680969

2- Modify "./tensorflow/core/kernels/reduction_gpu_kernels.cu.h"
replace:
shared value_type partial_sums[32 * 33];
by:
shared align(
alignof(value_t

[2019-05-29 10:37] r4nt commented on #28309
So far XLA is not supported on Windows; if we want that we'll need to fix all the compile errors and enable it in our Windows CI.

[2019-05-29 10:38] achandraa commented on #29070
tf_upgrade_v2 utility is included automatically with pip install of TF2.0. Can you please try re-installing TF version and let us know if that resolves the issue. You can also refer this [link](https://medium.com/tensorflow/upgrading-your-code-to-tensorflow-2-0-f72c3a4d83b5) to more information. Thanks!

[2019-05-29 10:41] achandraa commented on #29067
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-05-29 10:46] stomachacheGE commented on #375
@hannes-brt  hi, I encountered similar issues when I want to add a custom op which is implemented on GPU. You said it works when you copies these files from `user_ops` to `kernels`. Did you just copy the `.h`,`.cc`,`.cu.cc` to `tensorflow/cores/kernels` or did you also add build target in `tensorflow/cores/kernels/BUILD`?

[2019-05-29 11:10] superbobry commented on #28685
Thanks a lot for reporting this @EFanZh! The fix is on the way.

I'm curious, what was the use-case which triggered this regression for you? In my experience complex initializers are not that common.

[2019-05-29 11:32] mr-ubik commented on #29123
Actually, it was my fault :man_facepalming: I had a generator emptying and not being recreated way way upstream in my pipeline. Sorry :heart:

[2019-05-29 11:32] #29123 closed

[2019-05-29 11:34] achandraa commented on #29052
I have tried on Colab, Docker and local machine with TF 1.13.1 and have noticed that only docker reproduces the issue. Nightly does not have the issue even when tried through docker.

[2019-05-29 11:36] lufol commented on #29124
You might consider converting the op `IdentityN` with [Tensorflow light operation select](https://www.tensorflow.org/lite/guide/ops_select)
You can specify operations, that can't be used in `tf.lite` directly like this:

`import tensorflow as tf`

`converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir)`
`converter.target_ops = [tf.lite.OpsSet.TFLITE_BUILTINS, tf.lite.OpsSet.SELECT_T

[2019-05-29 11:39] lufol commented on #29117
For converting a model to `tf.lite`, please have a look at this similar problem #29124.

[2019-05-29 11:44] reuben commented on #26174
@rryan ping. Can you let me know if this patch makes sense? I'll can make a PR.

[2019-05-29 11:46] achandraa commented on #29007
Will it be possible to provide exact minimal code snippet that can depict the issue. This will help us to get more information and proceed faster. Thanks!

[2019-05-29 11:56] perfinion opened #29127 "mirror.tensorflow.org has an invalid https cert"
third_party distfiles that are downloaded from the starlark functions `tf_http_archive` or `third_party_http_archive` currently are mirrored to mirror.tensorflow.org via http. Changing them to https fails with an invalid cert (it currently points to *.storage.googleapis.com)

For example from `tensorflow/workspace.bzl`:
https://mirror.tensorflow.org/docs.python.org/2.7/_sources/license.rst.txt

Th

[2019-05-29 11:58] alexv1247 commented on #25641
I have the same issues with the dropoutwrapper in 1.13.
it states that a lstm cell has no attribute zero state.

[2019-05-29 12:08] proszx opened #29128 "when i use conv1d"
conda activate base
2.0.0-alpha0
2019-05-29 19:58:31.543654: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
2019-05-29 19:58:31.557759: I tensorflow/stream_executor/platform/default/dso_loader.cc:42] Successfully opened dynamic library libcuda.so.1
2019-05-29 19:58:31.670769: I tensorflow/stream_exec

[2019-05-29 12:11] EFanZh commented on #28685
@superbobry I was creating a variable to store the the result of a complex computation. The problem is that I need to store the variable multiple times with the computed value, so I think I could utilize the initializer of the variable to to it, by which, I mean setting the initial value of that variable to the computation result, then my program gets stuck.

Currently, as a workaround, I was usin

[2019-05-29 12:37] radiantone commented on #29034
Hi,
  Thank you for responding. I don't think that solution will work here as the example notebook is using Keras and the solution in the other ticket is not. Is there a way to enable that solution when using tensorflow through keras? If so, that might work.

[2019-05-29 12:37] samhodge commented on #29042
After trying to hack abseil-cpp into the include and CXX_FLAGS via the flags.make

After the fact I am left with the following

[code]

This contrib/cmake was probably only working back in v1.8.0 or before.

[2019-05-29 12:39] yongtang commented on #13796
@kgramm9026 It should be possible to use `s3://` directly though you have to use s3  `s3://bucket/object` format.

[2019-05-29 12:43] alexv1247 opened #29129 "keras lstm cell has no zero state when wrapped with a dropoutwrapper"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Microsoft Windows 10
- TensorFlow installed from (source or binary): Anaconda
- TensorFlow version (use command below): tensorflow 1.13.1  gpu_py37h83e5d6a_0
- Python version: 3.7
- CUDA/cuDNN version: 7.3.1
- GPU mo

[2019-05-29 13:00] kriskorrel-cw commented on #26486
I have the following (minimal) code example that tf_upgrade_v2 can't pass.
[code]

I believe I have the correct pasta version:
[code]

Do you also experience this error @lc0 ? In that case, I don't think it can be closed

[2019-05-29 13:02] samhodge commented on #28388
Where are the best resources to start to learn how to do this myself in Skylark?

[2019-05-29 13:03] kriskorrel-cw commented on #29070
No, not resolved. I believe it is linked to #26486

[2019-05-29 13:18] lc0 commented on #26486
@kriskorrel-cw I think the truth is somewhere in the middle. It does work for simpler cases like

[code]

But does fail for your case. For more examples please see the colab example below

https://colab.research.google.com/drive/1_hWyz2x_SwN0R0Jo1G0OCBeybmPkLlzC#scrollTo=a9l0KRPYu0JK

I think in this case would make sense to reference this case for `pasta`

[2019-05-29 13:21] tensorflowbutler commented on #28171
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-29 13:21] tensorflowbutler commented on #28613
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-29 13:21] thotaram commented on #28863
Hi,
Building tensorflow lite for ARM64 with the below link
https://www.tensorflow.org/lite/guide/build_arm64
Dependencies are resolved.
Changed the Makefile to build for arm(./tensorflow/lite/tools/make/build_aarch64_lib.sh)
Makefile Changes:
TARGET := aarch64
TARGET_ARCH := armv8-a
when i run this file ./tensorflow/lite/tools/make/build_aarch64_lib.sh getting the below error.

/home/xxxxx/ARMNN/t

[2019-05-29 13:22] jvishnuvardhan commented on #19992
@weichiche Could you create new issue with the issue details and context. Thanks!

[2019-05-29 13:27] achandraa commented on #29088
Tried to execute the code and getting loss as 0.066 and categorical_true_positive : ~7863.

[2019-05-29 13:44] TheodoreGalanos commented on #28846
I have the same issue following the same 'Classify structured data' tutorial. Same characteristics as the original poster, only I'm running tf on GPU.

[2019-05-29 13:49] gargn commented on #28856
I installed last night's `tf-nightly-2.0-preview` using `pip install tf-nightly-2.0-preview` (specifically `2.0.0.dev20190529`) and ran the code you provided without error.

[2019-05-29 13:51] nsmetanin opened #29130 "Mixed precision LossScaleOptimizer doesn't work with Keras"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): PyPi
- TensorFlow version (use command below): 1.13.1
- Python version: 3.5.2

**Describe the current behavior**

https://github.com/tensorflow/tensorflow/

[2019-05-29 14:45] mihaimaruseac commented on #29053
It is a different error now.

[2019-05-29 15:06] danaugrs commented on #29099
The difference in behavior has something to do with using ReLU. If instead the activation function used for the hidden layer is sigmoid then the behavior becomes the same in TF1 and TF2 (<20% accuracy).

[2019-05-29 15:08] SanthoshRajendiran commented on #26297
@gnsmrky By default in models like deeplab (models not fully capable of running in GPU), there is a fallback happening in GPU Delegate from GPU to CPU. Does this behavior change in SSBO and how do we get the data if it is falling back to CPU?

[2019-05-29 15:11] timudk opened #29131 "How to use optimizers from Tensorflow probability in Tensorflow?"
I would like to use the BFGS optimizer from Tensorflow probability (https://www.tensorflow.org/probability/api_docs/python/tfp/optimizer/bfgs_minimize) in Tensorflow. Has anyone done this before and can tell me how to interface the BFGS optimizer?

[2019-05-29 15:13] srihari-humbarwadi opened #29132 "Tensorflow2.0 keras subclassed model, problems with getting correct output shape, shows 'multiple'"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-29 15:16] srihari-humbarwadi commented on #29132
@achandraa @jvishnuvardhan

[2019-05-29 15:22] jdduke commented on #28917
TensorFlow Lite requires use of .tflite models, generated with the TensorFlow Lite converter. It cannot read or use frozen graphs or graph defs (or saved models).

[2019-05-29 15:23] wdirons commented on #29102
From the instructions above, it does appear the final build is 2.0, regardless of what the version says. In several places in master the version number is still listed as 1.13.1 (for example: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/setup.py#L50)

If you want to update the version numbers prior to the build, you can run this script prior to running configur

[2019-05-29 15:49] eha11 commented on #29101
@gadagashwini as I wrote the example originally it wouldn't fail, just print out that the seed was None. I've simplified and updated the example to make it assert when the seed is `None`. I can reliably reproduce this in the linked Google Collab above and locally.

[2019-05-29 15:52] gongliyu opened #29134 "tf.sparse.placeholder with partial defined shape return a SparseTensor with fully undefined shape"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-29 15:54] gongliyu commented on #29134
BTW, I found that most of the ops on SparseTensor will return a SparseTensor with shape of all Nones, even if the input is fully defined. However, shape inference is really important if we want to use SparseTensor.

[2019-05-29 16:10] sbagroy986 commented on #27829
@ageron I tried to use the nightly version from both April 18th and 19th and it looks like it still doesn't work. Does version `pip install tf-nightly-gpu-2.0-preview==2.0.0-dev20190518` work for you?

[2019-05-29 16:23] alextp commented on #28786
I don't have the bandwidth to work on this now but would welcome a PR.

[2019-05-29 16:25] Sum-RED commented on #22872
Can confirm that this works for me too. Thanks a ton man.

BTW I'm using **CUDA 9.0** and as @57ar7up said, I downgraded my tensorflow-gpu version to **1.10**

[2019-05-29 16:27] #27114 closed

[2019-05-29 16:30] lychenyoko opened #29135 "tensorflow/tensorflow/lite/java/ovic/"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Mojave v 10.14.3
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N.A.
- TensorFlow installed from (source or binary): pip install tensorflow
- TensorFlow version (

[2019-05-29 16:45] soupytwist commented on #26486
Thank you for the test case to reproduce this. Revisiting this now.

[2019-05-29 17:09] lifeishard commented on #29102
The wheel file it generates is tf_nightly-1.13.1-cp37-cp37m-linux_x86_64.whl
After I install the package, tf.__version__ still shows 1.13

[2019-05-29 17:11] soupytwist commented on #26486
It should be [fixed](https://github.com/google/pasta/commit/f26107d1f27848ab67387c7f4697de2393b3e4d9) `0.1.7`.

[2019-05-29 17:14] jvishnuvardhan commented on #28613
@jasonzhang2022 Regarding item(2), There is `LayerNormalization` [here](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/layers/LayerNormalization). There is a difference between `LayerNormalization` and `BatchNormalization`.

Regarding item(3), there is a look_ahead and the functionality was described in the tutorial
[code]
I think this is not an issue. I am closing this, but ple

[2019-05-29 17:14] #28613 closed

[2019-05-29 17:22] lufol opened #29136 "Batch Training for different input sizes"
**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
For fully convolution networks training the network with different inputs sizes in batches is not supported, but could be changed.

**Will this change the current api? How?**
The optitmizers would need to be changed, such that t

[2019-05-29 17:40] jvishnuvardhan commented on #27829
@ageron I don't see any error with `!pip install tf-nightly`. Gist is [here](https://colab.sandbox.google.com/gist/jvishnuvardhan/4b32a507c8209a95d38335e8efc3e231/untitled203.ipynb).

But I notice error is back with    `pip install tf-nightly-gpu-2.0-preview==2.0.0-dev20190518` Thanks!

[2019-05-29 18:04] kmh4321 commented on #29048
I am unable to reproduce this issue with `1.13.1`.

[2019-05-29 18:10] #28685 closed

[2019-05-29 18:13] jvishnuvardhan commented on #29048
@r05323028 I agree. The output is not normal when you use T1.13.1. Gist is [here](https://colab.sandbox.google.com/gist/jvishnuvardhan/08420246eaf7319304607499f604091d/tf29048_1p13.ipynb)
Output: `tf.Tensor([ 1.  1.  1.  1. nan], shape=(5,), dtype=float32)`

But in TF2.0.0-alpha0, everything works as expected. Gist is [here](https://colab.sandbox.google.com/gist/jvishnuvardhan/3b9cb892db87a9ae38df

[2019-05-29 18:36] Nitinsiwach opened #29140 "cannot import a pretrained mobilenet multiple times"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-29 18:39] andi677 opened #29141 "Import error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win 10 64 Bt
- Mobile device (

[2019-05-29 18:48] jvishnuvardhan commented on #28958
@holyhao Can you try latest version of TF (1.13.1 or 2.0) and check whether the issue is persisting? Could you provide any standalone code to reproduce the issue? Thanks!

[2019-05-29 18:54] jvishnuvardhan commented on #28994
@polpolie you could raise Pull Requests and merge your contributions into the `master` branch of TensorFlow or TF2.0. Thanks!

[2019-05-29 19:15] kernelizd commented on #29088
Hi. Yes, I got the same thing. Now, if you add one more metric (accuracy), you will notice that the 0.06 loss you got actually correspond to very high accuracy (above 90%), which means that true positives should be well above 40,000. Not 7863. Please notice that we have 50k examples.

[2019-05-29 19:50] wesboyt commented on #29111
I believe tensorflow-gpu 2.0 nightly is incompatible with the pypi addons distribution, and the addons nightly in pypi is currently broken. So what you need to do is build the addons repo from source by cloning it locally.

[2019-05-29 19:55] annarev opened #29144 "PyCharms can't resolve certain "from" imports"
PyCharms doesn't provide suggestions for some of the TensorFlow imports. For example:

[code]

In these cases, PyCharms doesn't provide suggestions for `rnn_cell` or `losses` members.

A potential solution for the `rnn_cell` import is to put API tree under root of TensorFlow pip package instead of under `_api/v1` or `_api/v2`. However, this won't fix suggestions for `keras` import since `keras` AP

[2019-05-29 19:55] gunan commented on #29051
We set environment variables to change the defaults o configure script, and then run it with `yes "" | $PYTHON_BIN_PATH configure.py` You can see an example of this here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/linux/gpu/run_py3_core.sh

[2019-05-29 19:55] #29051 closed

[2019-05-29 20:38] gunan commented on #28388
@hlopko @meteorcloudy to help with starlark documentation.

[2019-05-29 20:39] jvishnuvardhan commented on #26296
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-29 20:39] #26296 closed

[2019-05-29 20:42] aaroey commented on #28854
@fuzzyBatman could you share your full script, I'll try and let you know.

[2019-05-29 20:47] gunan commented on #28796
@Tayseer-bme would you like to send a pull request with the fixes you proposed?

[2019-05-29 20:56] wdirons commented on #29100
My guess is the step `sudo python setup.py install` is using the system python, because the sudo command would not inherit the current users environment.

What does `sudo python --version` return?  2.7 probably

Do you need the sudo command?

[2019-05-29 20:58] aaroey commented on #28053
@stevehawley I think this will be hard. Sometimes it may not be possible or very hard to recover from CUDA errors. Some of the errors are 'sticky'. Typically those are the kinds of errors that lead to the unexpected kernel termination, and the only way out is to completely reset GPU state with cudaDeviceReset(). And for some of them, rebooting the machine or resetting the GPU is the only way to re

[2019-05-29 21:12] jvishnuvardhan commented on #28691
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Thanks!

[2019-05-29 21:12] #28691 closed

[2019-05-29 21:16] justinvzyl commented on #29100
Yup, `sudo python --version` returns `Python 2.7.15rc1` ... So there is the problem.

`sudo` is needed I believe to allow the `setup.py` file to have the correct permissions to install all the necessary dependencies.

Running `python setup.py install` returns `error: [Errno 13] Permission denied`

[2019-05-29 21:29] wdirons commented on #29100
Can you do `which python`, and then run `sudo <path to python> setup.py install` ?

[2019-05-29 21:31] alextp commented on #28635
This is somewhat working as intended. By design concretefunction performs very little validation; you trade this against getting very low python overhead at execution time.

If you want validation pass a signature argument to tf.function and then call it.

[2019-05-29 21:31] alextp commented on #29005
@aaroey can you take a look?

[2019-05-29 21:33] EmielBoss commented on #29081
Completely missed that one, thanks! And yes, I would like to be able to complete my model with a softmax layer.

[2019-05-29 21:33] #29081 closed

[2019-05-29 21:34] TimZaman commented on #29101
A related but slightly different issue was posted in https://github.com/tensorflow/tensorflow/issues/13932. That particular issue is more about race conditions due to parallelism.

The issue in this MR, is also reported in another MR's comment: https://github.com/tensorflow/tensorflow/issues/23789#issuecomment-443009310
That MR is closed and the solution stated as:

@shivaniag reports that:

and h

[2019-05-29 21:36] ericrannaud commented on #24726
Regarding the "warning in the documentation" discussed here:
- https://www.tensorflow.org/api_docs/python/tf/contrib/eager/function doesn't have the warning that was going to be added in 1.13 (which is why I'm commenting on this specific bug);
- https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/function mentions the problem, but this paragraph (3rd) can't be called a warning. Bold text,

[2019-05-29 21:41] gunan commented on #28871
I am not the right assignee for this. Please reassign.

[2019-05-29 21:42] aaroey commented on #29005
@reedwm could you help to take a look?

[2019-05-29 21:42] ymodak commented on #28840
The error observed can be reproduced with a smaller code snippet perhaps. Closing this issue for now since you are working past it and will update when new information is available. Thanks!

[2019-05-29 21:42] #28840 closed

[2019-05-29 21:46] justinvzyl commented on #29100
Thanks @wdirons that fixes the issue. Installation completes without any errors.

Is there any way to fix this issue permanently? ie not have to explicitly specify to use the environment python version? Or is that just how the chips will fall if attempting to install keras from source in a virtualenv?

[2019-05-29 21:47] samhodge commented on #28388
I might add that Tensorflow/contrib/cmake is very broken under Linux for v1.12.0 and v1.13.1 the abseil-cpp dependency is missing from v1.12.0 and in addition v1.12.1+ has a dnn.proto file that should get converted to a dnn.pb.h but is not included in any dependency. @gunan Do you know if there is a maintainer of contrib/cmake they seem like relatively easy fixes for someone with good cmake skills

[2019-05-29 21:57] alextp commented on #24726
A warning after N retraces of the function (10? 100?) sounds good to me. Want to send a pull request?

Forcing wrapping of other python values doesn't.

I'd still like to find out a better way to inspect code and find out if it'll do something funny with tensor-convertible python values, but I haven't had the time to do this yet.

[2019-05-29 22:00] jdduke commented on #29054
So, these models aren't directly compatible. That is, the model included with the detection sample creates the following output tensors: locations, classes, scores, detections. The `mobile_ssd_v2_float_coco.tflite` model produces a 1x2034x4 encodings output tensor and a 1x2034x91 class predictions tensor. You'll need to modify the logic in TFLiteObjectDetectionAPIModel to handle this altered outpu

[2019-05-29 22:00] #29054 closed

[2019-05-29 22:17] jdduke commented on #29135
Are you building from head (master)? I'm not able to repro that error, though I do notice some other Mac-specific issues.

[2019-05-29 22:24] wdirons commented on #29100
I ran myself:

[+] conda create -n kerasenv python=3.5.0
[+] conda activate kerasenv
[+] pip install tensorflow
[+] git clone https://github.com/keras-team/keras.git
[+] cd keras
[+] python setup.py install

and didn't have any problems at all.

[code]

As conda should be creating a virtual environment in a directory that user has access to, pip or python setup.py install should have access to wri

[2019-05-29 22:27] aaroey commented on #28730
It seems to me that tf.GradientTape will use the eager context which contains a default ConfigProto different than the one used in the Session API.

@jaingaurav, can you comment?

[2019-05-29 22:35] aaroey commented on #28053
@nluehr do you have any ideas?

[2019-05-29 22:39] lychenyoko commented on #29135
Yes, I am building from the master branch. Moreover, it seems that when I try to run

`bazel test --cxxopt=--std=c++11 //tensorflow/lite/java/ovic:OvicClassifierTest --cxxopt=-Wno-all --test_output=all`

for the second time, the error is a bit different.

[code]

[2019-05-29 22:46] jsimsa commented on #29024
Thank you for reporting the problem @guillaumekln.

The `tf.data.Dataset.output_*` API is deprecated (see [documentation](https://www.tensorflow.org/versions/r1.14/api_docs/python/tf/data/Dataset)) and you can use `tf.data.get_output_*` instead (see [here](https://www.tensorflow.org/versions/r1.14/api_docs/python/tf/data/get_output_shapes)).

To be clear, I understand that the change in tf.data be

[2019-05-29 22:46] #29024 closed

[2019-05-29 22:51] ymodak commented on #28900
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-29 22:51] #28900 closed

[2019-05-29 22:55] aaroey commented on #28812
This is intended behavior, since the TRT converter is designed to convert only one signature at a time. If you want to convert two signatures you'll need to run the converter twice by specifying different `[input_saved_model_signature_key](https://github.com/tensorflow/tensorflow/blob/6b657e327cc9ca6e2906ade3e4877e3303065d70/tensorflow/python/compiler/tensorrt/trt_convert.py#L1066)`s (which is not

[2019-05-29 22:56] ericrannaud commented on #24726
To be clear, I mean forcing wrapping of Python values with tf.GraphConstant() that are intended to be compile-time constants, and *removing* the need for wrapping as tensor every single Python value that changes a bit. I don't have data, but in my code it's 5% true constants, 95% variables.

Another problem with the need to wrap nearly-all Python values as tensors is that this applies only at func

[2019-05-29 22:56] JunweiLiang commented on #26526
@dcmrlee I have met with the same problem. You need to use the pb file frozen with TF_ENABLE_CONTROL_FLOW_V2=1 to make this work

[2019-05-29 23:06] kmh4321 commented on #26074
@rryan this issue can be closed as the above PR is approved.

[2019-05-29 23:07] ymodak commented on #28898
You have successfully installed TF however you are running into issues when implementing [TensorForest](https://github.com/tensorflow/tensorflow/tree/r1.14/tensorflow/contrib/tensor_forest). Is that correct?
I suspect that the specified test target is incorrect.

[2019-05-29 23:10] ymodak commented on #29111
Did you install the [tensorflow-addon module](https://github.com/tensorflow/addons#installation) using
```pip install tensorflow-addons```

[2019-05-29 23:15] ymodak commented on #29049
Can you please use profiling tool and help us figure out what operations consume most time in computing? Thanks!

[2019-05-29 23:20] SSaishruthi commented on #28972
Hi @pavithrasv
Are these two metrics will be of our interest to get added tf.metric?
Thanks

[2019-05-29 23:21] weiminson commented on #29111
Yep, exactly dat command

[2019-05-29 23:23] wesboyt commented on #29111
https://github.com/tensorflow/addons/issues/193

[2019-05-29 23:26] aaroey commented on #24778
@GothamCityPro one possibility is that we should call `SetDefaultDevice` **after** reading the graph:
[code]
could you try again with that fixed?

[2019-05-29 23:33] csuter commented on #29131
Check out the usage examples in the unit tests: https://github.com/tensorflow/probability/blob/master/tensorflow_probability/python/optimizer/bfgs_test.py#L46

They're written in such a way as to abstract across TF1 and TF2 styles (`self.evaluate` runs the tensor in a session, for 1.x, and is essentially a no-op in 2.0). Otherwise, it should hopefully be clear how to use in some simple cases.

[2019-05-29 23:34] csuter commented on #29131
Also: feel free to file TFP inquiries in the TFP github issues (https://github.com/tensorflow/probability/issues). Closing this one in TF for now.

[2019-05-29 23:34] #29131 closed

[2019-05-29 23:38] pavithrasv commented on #28972
I think any new metric should be added to the SIG add ons repo and moved to the code repo based on usage statistics. Please feel free to send a PR to the add ons repo.

[2019-05-29 23:38] #28972 closed

[2019-05-29 23:49] lenaevans commented on #25781
The guide is pretty vague on how to trim the built-in operators; is there more specific documentation particularly for iOS/android? The size impact on the actual iOS app is about 1.2 MB just for the framework, so trimming it down would be very useful.

[2019-05-29 23:54] aaroey commented on #25220
@tumusudheer I can reproduce the error now. From the cuda documentation:
[code]
I'm not sure what caused that, maybe something related to stream executor.

@chsigg could you help to take a look?

[2019-05-30 00:16] gargn commented on #29089
This is expected behavior because the model contains the same number of weights and ops. If you are interested in reducing the model size then please reference our [FAQ](https://www.tensorflow.org/lite/guide/faq#how_do_i_reduce_the_size_of_my_converted_tensorflow_lite_model). We also have the [model optimization toolkit](https://www.tensorflow.org/model_optimization) which was recently launched.

[2019-05-30 00:16] #29089 closed

[2019-05-30 00:26] tumusudheer commented on #25220
Thank you very much @aaroey.

[2019-05-30 00:40] lenaevans commented on #25278
@ANSHUMAN87 Is there documentation on how to do the selective registration? The tflite documentation points to a script that says it has been deprecated.

[2019-05-30 00:57] EFanZh commented on #28685
@superbobry I see the updated implementation is using recursion, which I think may cause stack overflow if the dependency chain becomes too long. Is it possible to use a stack and loop to avoid stack overflow?

Also, the usage of `self.cached_session()` in `testCycleDetectionIsLinear` seems unnecessary. Because new graphs are created and used inside the loop, `self.cached_session()` has no effect.

[2019-05-30 01:16] weiminson commented on #29111
Yep, it could work before I update Tensorflow version of my virtual environment.

[2019-05-30 01:18] shirirules commented on #26174
We tried to convert the model to tflite (from the speech recognition sample) with this script:

https://github.com/aselle/tensorflow/blob/7e71aa528111cd73cabc9fefdbb68422e35c16ce/tensorflow/examples/speech_commands/conv_only.py

By the way, it would be nice to have the python code of the converter used for the android tflite version!)

It works perfectly for audio sample of 1 second but it fails f

[2019-05-30 01:19] YeYuanS opened #29151 "Training time for one epoch on TF 1.12 is almost 2 times slower than TF 1.5"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04) :Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 1.5 and

[2019-05-30 01:27] weiminson commented on #29111
Thanks weboyt, so what I should is to clone the latest version of tensorflow_addons to my local directory and import directly from it? Maybe uninstall tfa first?

[2019-05-30 01:45] guoguoguilai opened #29152 "How to test a saved model trained with tf.train.batch?"
By calling

graph.get_tensor_by_name("output:0")
I found that it returns a tensor shaped [batch_size,num]，How to test a saved model trained with tf.train.batch ?

[2019-05-30 01:46] AlexWick commented on #29127
This should be elevated to a webmaster's attn.

[2019-05-30 01:48] engineer1109 commented on #29074
E:\tensorflow_maskrcnn\.\include\tensorflow/core/platform/default/logging.h(260): error C2589: '(': illegal token on ri
ght side of '::' [E:\tensorflow_maskrcnn\buildvs\main.vcxproj]
E:\tensorflow_maskrcnn\.\include\tensorflow/core/platform/default/logging.h(260): error C2059: syntax error: '::' [E:\t
ensorflow_maskrcnn\buildvs\main.vcxproj]
E:\tensorflow_maskrcnn\.\include\tensorflow/core/platfor

[2019-05-30 02:11] KaramAbuaisha commented on #26072
Yeah I'm aware, I meant that I tried building a new docker image following the steps here [https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/dockerfiles]
but when I built a container based on that image I found that I couldn't import the tensorflow module in python and I'm not sure why that occurred. More detail is provided in the previous comments in this thread.

[2019-05-30 02:13] KaramAbuaisha commented on #26072
Yeah I'm aware, I meant that I tried building a new docker image following the steps here [https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/dockerfiles]
but when I built a container based on that image I found that I couldn't import the tensorflow module in python and I'm not sure why that occurred. More detail is provided in the previous comments in this thread.

[2019-05-30 02:25] engineer1109 commented on #29074
There are VC complicts.
if (TF_PREDICT_FALSE(v2 >= (std::numeric_limits<int>::max)())) {
to solve

[2019-05-30 02:57] proszx opened #29155 "when i use conv algorithm"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-30 03:00] KaramAbuaisha commented on #26072
I forgot to mention, when I attempt to install tensorflow inside the container based on my locally built image, I get this error
[code]

[2019-05-30 03:03] Bharat123rox commented on #29105
@jvishnuvardhan I had already opened a PR to resolve the issue :sweat_smile:

[2019-05-30 03:16] ageron commented on #24726
I have given a few TensorFlow 2.0 courses, and I can confirm that this behavior surprised every single student (@ericrannaud , the "pile of molten metal" made me laugh).

I was also in favor of dynamic-by-default, but I think the ship has sailed, and a warning sounds like the best option, ideally pointing to the problematic argument(s), and perhaps even a pointer to the line of code where tf.funct

[2019-05-30 03:31] KANGRuipeng commented on #29071
got it thks

[2019-05-30 03:32] #29071 closed

[2019-05-30 03:45] MaeThird opened #29156 "the cloud TPU training is trapped and do nothing"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Y
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux instance-1 4.9.0-8-amd64 #1 SMP Debian 4.9.130-2 (2018-10-27) x86_64 GNU/Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or

[2019-05-30 03:55] gunan commented on #28388
We have dropped official support for cmake long ago. To the best of my
knowledge, noone stepped up to claim ownership of the cmake folder. That
said, I am still happy to accept fixes for the cmake files.

On Wed, May 29, 2019, 2:50 PM Sam Hodge <notifications@github.com> wrote:

[2019-05-30 03:57] marianogabitto opened #29157 "Add implementation of LAYER conv1d_transpose"
Would it be possible that someone implements a conv1d_transpose layer?

There is a tf.contrib.nn.conv1d_transpose implementation but it has many problems, such as the need for hardcoding batch size.

**System information**
- TensorFlow version (you are using): 1.3
- Are you willing to contribute it (Yes/No): Yes.

**Will this change the current api? How?**
It will create a new implementation of a

[2019-05-30 04:26] weiminson commented on #29111
Hi weboyt, I tried to update tensorflow_addons with the following [command](https://github.com/tensorflow/tensorflow/issues/29111#issuecomment-497084359):
pip install ./artifacts/tensorflow_addons-0.3.0.dev0-cp27-cp27mu-linux_x86_64.whl
Followed by the Error below:
tensorflow_addons-0.3.0.dev0-cp27-cp27mu-linux_x86_64.whl is not a supported wheel on this platform.

the tensorflow version I am usin

[2019-05-30 04:54] gadagashwini commented on #29134
I could reproduce the issue with Tensorflow 1.13.1.

[2019-05-30 04:58] madisonmay commented on #24496
@chsigg you're diagnosis that this is a problem w/ CUDNN attempting to allocate GPU memory resources that tensorflow has already allocated seems correct to me.  Simply setting `per_process_gpu_memory_fraction=0.9` instead of `0.95` was sufficient to resolve my issues.

[2019-05-30 05:02] gadagashwini commented on #29128
@proszx Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue templat

[2019-05-30 05:08] gadagashwini commented on #29122
@weiminson In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Also Could you provide more details about the issue and context?. Thanks!

[2019-05-30 05:17] engineer1109 commented on #29074
c_api.lib(c_api.o) : error LNK2005: TF_GetCode already defined in tensorflow.lib(libtensorflow.so) [E:\tensorflow_maskr
cnn\buildvs\main.vcxproj]
c_api.lib(c_api.o) : error LNK2005: TF_SetConfig already defined in tensorflow.lib(libtensorflow.so) [E:\tensorflow_mas
krcnn\buildvs\main.vcxproj]
c_api.lib(c_api.o) : error LNK2005: TF_SetStatus already defined in tensorflow.lib(libtensorflow.so) [E:\t

[2019-05-30 05:22] engineer1109 commented on #29074
All the compiling is ok now.

But run a model meet this problem.
Not found: No session factory registered for the given session options: {target: "" config: } Registered factories are {}.

[2019-05-30 05:29] weiminson commented on #29122
@gadagashwini thanks for your reply.
I was trying to implement a network with the following structure:
![convGenerator](https://user-images.githubusercontent.com/41808551/58610418-bf034280-82ee-11e9-9a69-a90a45d4c248.png)
each of its decoder branches are connected to a decoder like this:
![D1_loss_GP](https://user-images.githubusercontent.com/41808551/58610475-e3f7b580-82ee-11e9-8414-65a57d81c6db.

[2019-05-30 05:34] SunGaofeng commented on #28171
Yes, I'll use the docker for tf 1.2.  The server I used is shared by many people and it's not convenient to update docker version for myself without conflicts  with other people's environment.
Thanks for your reply, I think this issue can be closed.

[2019-05-30 05:37] r05323028 commented on #29048
@jvishnuvardhan Thanks for your response!
I tried TF2.0 on `AWS ec2 p3.2xlarge` gpu instance which uses `NVIDIA Tesla V100-SXM2-16GB` but it still has the same problem.

<img width="1236" alt="螢幕快照 2019-05-30 下午1 32 53" src="https://user-images.githubusercontent.com/37167503/58610851-9c1d6200-82df-11e9-9cdf-080ae1439b36.png">

Machine's spec is as follows

<img width="1234" alt="螢幕快照 2019-05-30 下午

[2019-05-30 06:33] Gmrevo commented on #29054
@jdduke Thanks for the suggestion. Hopefully, this will help to crack down the problem.

[2019-05-30 06:34] gadagashwini commented on #29110
@guoguoguilai Please have look on this [link](https://www.tensorflow.org/guide/saved_model#loading_a_savedmodel_in_python) to load saved model. Thanks!

[2019-05-30 06:37] gadagashwini commented on #29110
It looks, This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.If you think it is a bug. Let us know. Thanks!

[2019-05-30 06:40] gadagashwini commented on #29140
I was able to reproduce the mentioned issue on Tensorflow 1.12.

[2019-05-30 06:53] achandraa commented on #29070
@kriskorrel-cw : Just to verify whether it is fixed or not, can you try with pasta - 0.1.7 and let us know if that resolves it. Thanks!

[2019-05-30 06:55] achandraa commented on #29067
Looks like a spam. Closing the issue. Please open a new issue if you are stuck. Thanks!

[2019-05-30 06:55] #29067 closed

[2019-05-30 06:57] muddham commented on #29132
@srihari-humbarwadi Able to reproduce the issue in TF 2.0, TF 1.13.1 , tf nightly (GPU versions)

[2019-05-30 07:08] muddham commented on #29102
@lifeishard Can you please follow the TF installation steps mentioned in this [link](https://www.tensorflow.org/install/source)

[2019-05-30 07:16] SanthoshRajendiran opened #29159 "TFLite GPU supported ops not working"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Oneplus3, Poco F1
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use com

[2019-05-30 07:50] ANSHUMAN87 commented on #25278
@lenaevans : You can follow steps mentioned in #20905. Now the size has reduced much.

[2019-05-30 09:02] Pizzanomicon commented on #22372
Same issue here with 1.13

- Linux Ubuntu 18.04
- TensorFlow 1.13
- Python 3.6
- Bazel 19.2
- GCC 4.8

[2019-05-30 09:05] extreme4all commented on #29096
for some reason the link provided there (python3 -m pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.12.0-py3-none-any.whl) works but the windows one on tensorflow forum doesn't
https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-1.13.1-cp36-cp36m-win_amd64.whl

[2019-05-30 09:38] mpkuse commented on #8404
Weird error for me. Please see my protobuf txt attached.

[output_model.pb.txt](https://github.com/tensorflow/tensorflow/files/3236397/output_model.pb.txt)

[code]

[2019-05-30 09:52] samhodge commented on #28388
@gunan

Thanks for your response, my own CMake skills are limited to a number of files in a folder and linking to a library or two, rather than checking out whole projects and linking them together from a single CMake parent file.

That being said at some stage in my life I didn't know how to walk or talk, and I learned that too. My choice now is if to make the small number of changes via CMake or

[2019-05-30 09:53] achandraa commented on #29100
@justinvzyl : Can we close the issue since it looks like it is resolved. Thanks!
@wdirons : Thanks for the support.

[2019-05-30 10:05] justinvzyl commented on #29100
@achandraa Yup will close, thanks for the support @wdirons

[2019-05-30 10:05] #29100 closed

[2019-05-30 10:07] gadagashwini commented on #29113
@shkarupa-alex It looks code snippet is incomplete. Can you please provide complete code to reproduce the reported issue. Thanks!

[2019-05-30 10:16] muddham commented on #29117
@liuyulin19921213 Did you get chance to try the link suggest by @lufol. Please check and let us know how it progresses. Thanks!

[2019-05-30 10:31] vvsotnikov opened #29160 "[TF 2.0 API Docs] Some "Defied in" links are broken"
## URL(s) with the issue:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/layers/GRU
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/layers/GRUCell
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/layers/LSTM
Also including (but probably not limited to) other recurrent Keras layers.
## Description of issue (what needs changing):
It seems that AP

[2019-05-30 10:33] muddham commented on #29129
@alexv1247 Able to reproduce the issue on TF 1.13 GPU and TF nightly

[2019-05-30 10:40] muddham commented on #29141
@andi677 Can you please import tensorflow as initial step and then import keras. Please let us know how it progresses. Thanks!

[2019-05-30 10:47] gadagashwini commented on #29122
@weiminson I tried to reproduce the issue but it looks code snippet is incomplete. Please provide complete code to. Thanks!

[2019-05-30 10:49] mwin76 opened #29161 "tf.keras predict stuck with Sequence when using multi-processing"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-05-30 10:54] muddham commented on #29075
@guillaumekln Able to reproduce the issue, but the numbers in the output are different from the numbers you mentioned.

[2019-05-30 10:57] achandraa commented on #29130
Thanks for the detailed explanation. Will it be possible to provide a minimal exact full code snippet that can reproduce the issue. It would be easy for us to proceed faster. Thanks!

[2019-05-30 10:57] kusur commented on #28983
@achandraa My apologies. I have updated the original code snippet with all the relevant library imports and variable initializations

[2019-05-30 11:08] muddham commented on #29099
@danaugrs I hope you are using ReLU for the hidden layers now. Can you please let us know if we have to keep this issue open

[2019-05-30 11:10] achandraa commented on #29124
@marcojulioarg : Please have a look on @lufol's suggestion and let us know if you are able to proceed further. Thanks!

[2019-05-30 11:16] muddham commented on #29060
@apls777 I ran the code in TF 1.13 GPU the output I got was below.
[0 1 2 3]
[4 5 6 7]
[8 9]
out-of-range

In TF 1.13 CPU I got the below error.
AttributeError: 'BatchDataset' object has no attribute 'make_one_shot_iterator'

[2019-05-30 11:25] fuzzyBatman commented on #28854
I have a TF frozen graph (.pb extension). I load it and run the `create_inference_graph` method on the GCP VM which has an Nvidia Tesla P100 (16 GB) GPU.

[code]

The above script provides the file `frcnn_trt.pb`. Now I use the same `get_frozen_graph` procedure as above, using _frcnn_trt.pb_, with rest of the code commented out. This works on the same VM but fails on my local system that has an Nv

[2019-05-30 11:28] stratomaster31 opened #29162 "tf.estimator.evaluate fails whith one_hot encoded labels"
**System information**
- Linux Ubuntu 16.04:
- TensorFlow installed from binary
- TensorFlow version: b'v1.13.1-0-g6612da8951' 1.13.1
- Python version: 3.5.3
- CUDA/cuDNN version: NO CUDA
- GPU model and memory: NO GPU

**Describe the current behavior**

When working with one hot encoding, **tf.estimator.evaluate** thows:
`    ValueError: Can not squeeze dim[1], expected a dimension of 1, got 10 f

[2019-05-30 11:38] lee-bin opened #29163 "Please provide the weight pruned InceptionV3 and MobileNetV1 models"
I want to try the compression performance of weight pruning of TensorFlow. Is it OK for you to provide the model after pruning? e.g., the 50% sparsity MobileNetV1?

[2019-05-30 11:50] achandraa commented on #29103
It looks from the error that SeparableConv2D uses depthwiseInitializer, depthwiseRegularizer etc therefore need to use these instead. For better help and faster resolution, you can post this issue on [tensorflow/tfjs](https://github.com/tensorflow/tfjs/issues/new) repo. Please let me know in case you have any clarification. Thanks!

[2019-05-30 11:55] soham24 commented on #26297
@gnsmrky  thanks. this worked like charm on low-end devices.
One question, It's true that we have to rotate the phone counter-clockwise. Can I add the rotating logic in the shader.

[2019-05-30 12:02] MaeThird commented on #28801
Manually install the tensorflow_estimator 1.14.0  with bazel works for me. [https://github.com/tensorflow/estimator](url)

[2019-05-30 12:06] Red-Eyed commented on #2115
I faced with same issue. Ubuntu 19.04 tensorflow 1.13
`python -m tensorboard.main --logdir=logdir`

[2019-05-30 12:17] manoharyes commented on #28468
Any update on this issue? I am also facing the same issue. Need urgent help!

[2019-05-30 12:20] apls777 commented on #29060
@muddham Did you run the code twice to load the dataset from a cache? Are you sure you're running it on TF 1.13 **.1**? What version of Python do you use?

[2019-05-30 12:49] anilsathyan7 commented on #28968
We tried to benchmark the above models in latest android benchmark tool; but got "fuse_auto_input failed" error for SUB and ADD operators

[2019-05-30 12:56] #28635 closed

[2019-05-30 13:00] jvishnuvardhan commented on #29048
@r05323028 Sorry for my mistake. I ran tf-cpu version in GPU and I don't see any error so I reported that as my last response. However, i can reproduce the issue with tf-gpu version. Thanks for finding this. Thanks!

[2019-05-30 13:01] tensorflowbutler commented on #25812
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-30 13:14] nsmetanin commented on #29130
Updated the description above with the full code example, thanks!

[2019-05-30 13:34] sleighsoft commented on #28741
I am, just don't have much spare time right now to make fast progress.

[2019-05-30 13:44] stevehawley commented on #28053
Understand that it may not be recoverable, but the current behavior is that an error has occurred and the GPU is in an unknown state, the error is logged but the application is unaware and continues to try to use the GPU with no result. At a minimum I think tensorflow should throw an exception so that the application can inform the user and cleanup.

If there is an API for resetting the GPU the ap

[2019-05-30 13:49] jowagner commented on #20271
Or if you use /etc/ld.co.conf/ to manage the library locations, you may have forgotten to run `ldconfig` after installing cuddnn.

[2019-05-30 14:05] kbhute-ibm opened #29165 "Unicode op tests fail on s390x with "Could not create converter for input encoding: SHIFT-JIS" error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04 s390x
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command belo

[2019-05-30 14:17] jvishnuvardhan commented on #25812
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-30 14:17] #25812 closed

[2019-05-30 14:19] lmy931 commented on #23528
Can we convert checkpoint to .tflite?

[2019-05-30 15:26] mdasadul commented on #27949
I have having same issue with `tf.math.sqrt` along with MirroredStrategy and @tf.function

[2019-05-30 15:28] mihaimaruseac commented on #28801
Oh, the tpu changes came in in 1.14.

[2019-05-30 15:32] mihaimaruseac commented on #29074
See https://github.com/tensorflow/tensorflow/issues/28388#issuecomment-497192950 about the question in title.

Also, some nit: please format code blocks using 3 backticks, to make them easier to read.

[2019-05-30 15:33] mihaimaruseac commented on #28832
Any updates? Did recloning and recompiling work?

[2019-05-30 15:38] billy0705 opened #29168 "Can't convert .pb to .tflite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 18.04
- TensorFlow installed from (source or binary):source
- TensorFlow version (or github SHA if from source):1.13.1
- Bazel version (if compiling from source): 0.22.0
- Python version: 3.6.7

**Command**
./bazel-bin/tensorflow/lite/toco/toco --input_file=test.pb --output_file=test.tflite
--input_format

[2019-05-30 15:40] danaugrs commented on #29099
I think you misunderstood my last comment. I was just helping whoever is going to debug this difference in behavior between _2.0.0-alpha0_ and _1.13.1_ by pointing out that it _probably_ lies in the ReLU implementation.

[2019-05-30 15:46] NikolayChirkov commented on #28468
[commit](https://github.com/tensorflow/tensorflow/commit/403417fdc85650181f894ee0aa0fb85dfa75fea4) should resolve the issue.
@manoharyes on which version do you have the issue?

[2019-05-30 15:52] impjdi commented on #28968
@anilsathyan7

Thanks for atttaching the model.  I'll pass that on to one of our engineers.

re: fuse_auto_input, you can see that the error comes from gpu/gl/compiler.cc when options_.auto_input_fusion is enabled.  This is not the external option, but an internal one.  If this is blocking you, I would suggest disabling fuse_auto_input.

[2019-05-30 15:56] aaroey commented on #28053
@stevehawley sorry I misunderstood that before. So you were saying to let it return an error status. @rmlarsen do you think that's something we can/should do?

[2019-05-30 16:03] IeiuniumLux commented on #28832
@mihaimaruseac,  I re-cloned the branch on a different directory and recompiled again.  Unfortunately, it crashed because it ran out of disk space after 6 hours into the build.

I'm now going to build it on another TX2 system.  I'll post an update.

BTW, should I build TF-1.13.1 with Bazel 0.19.2 instead TF-1.12.0 with Bazel 0.15.0?

OR, should I save myself time and just install the version from

[2019-05-30 16:03] hartikainen opened #29170 "Unable to serialize dict that is wrapped around tracking `_DictWrapper`"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.14.0-

[2019-05-30 16:04] mihaimaruseac commented on #28832
I'd recommend to use the newest version if you want to compile by yourself.

If you can use a precompiled binary, that's better

[2019-05-30 16:08] MaeThird commented on #29156
![1944686123](https://user-images.githubusercontent.com/14851411/58646074-36f55b00-8337-11e9-9dfc-948485aa6cba.jpg)
The upper is running on my local PC with a Nvidia GPU card(batch_size:16) and the lower part is the cloud TPU running.
It's really really slow on TPU(more than 10 min,batch_size:4 per shard). It's looks like being trapped...

[2019-05-30 16:09] IeiuniumLux commented on #28832
@mihaimaruseac By newest version, do you mean TF-1.13.1 ?

And by a precompiled binary, do you mean install the version from [Nvidia](https://developer.nvidia.com/embedded/downloads#?search=tensorflow) and forget about build it myself?

[2019-05-30 16:10] alexcruz0202 opened #29171 "tensorflow v1.13.1 build issue on Windows 10"
I am new to tensorflow and got the cuda version issue while build from source using bazel.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.13.1
- Python version: 3.6.3
- Bazel version (if compiling from source): 0.19.2
- CUDA/cuDNN version: cuda(v10.0) cudnn(7.6.0)

**Any ot

[2019-05-30 16:18] Fyllan commented on #26218
Did cudnn 7.6.0 solve this issue?

[2019-05-30 16:22] mihaimaruseac commented on #28832
Yes to both of the questions. For the first one, you can also try master.

[2019-05-30 16:37] IeiuniumLux commented on #28832
@mihaimaruseac In that case, then I'm going to go with the TF-1.13.1 precompiled binary version from Nvidia and save myself from the trouble of spending 6+ hours building it from source.  Thank you for time and assistance with this.

[2019-05-30 16:37] #28832 closed

[2019-05-30 16:57] reedwm commented on #29005
Grouped convolutions are currently only supported on GPUs, not CPUs. You are using a grouped convolution because the input channel dimension of 3 (`X.shape[3]`) does not match the filter in-depth dimension of 1 (`weights.shape[2]`). @chsigg, any idea when support is coming for CPUs?

Also the error message is a bit unclear. I'll fix the error message.

[2019-05-30 16:58] #29171 closed

[2019-05-30 17:01] alexandervandekleut commented on #14361
When I do this it comes up empty?

![image](https://user-images.githubusercontent.com/23745329/58649766-f5cf5d80-82da-11e9-9a74-519b32046626.png)

[2019-05-30 17:12] martinwicke commented on #14361
@alexandervandekleut your code has nothing to do with scopes. `tf.trainable_variables` is a global collection, which isn't used by Keras. It's also deprecated.

To access the variables in layers, use their `.trainable_variables` property.

[2019-05-30 17:24] omalleyt12 commented on #27949
Hi @mdasadul is this issue occurring with the latest nightly?

[2019-05-30 17:35] #29105 closed

[2019-05-30 17:35] mdasadul commented on #27949
@omalleyt12  yes. I intalled tf nightly-gpu (2.0.0-dev20190522). And my case is quite interesting. It's happening only when I am using mirrored-strategy

[2019-05-30 17:46] QuantumInformation commented on #14736
How is support for the new macbooks, both for TF and TFJS?

https://www.apple.com/uk/shop/buy-mac/macbook-pro/15-inch-space-grey-2.3ghz-8-core-processor-with-turbo-boost-up-to-4.8ghz-512gb#

Radeon Pro 560X with 4GB of GDDR5 memory
- £225.00

Radeon Pro Vega 16 with 4GB of HBM2 memory

Radeon Pro Vega 20 with 4GB of HBM2 memory

[2019-05-30 17:49] karmel commented on #29073
We agree that this should be better documented. Would you be interested in adding examples and references in the base Layer docstring?

[2019-05-30 17:51] karmel commented on #29132
The difficulty here is that with subclassed models, summary() does not have enough information to know what the output shape of the model is. The list of layers is known, and hence printed, but how those layers are used is not known. We could print something other than "multiple" in that case, but it's not clear what would be more informative. What do you think?