[2019-05-01 21:20] #27978 closed

[2019-05-01 21:29] jvishnuvardhan commented on #27054
@shaolinkhoa Is this still an issue. It run without an issue on Google Colab. As https://github.com/tensorflow/datasets/pull/403 was already merged, it should work without any problem.
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Thanks!

[2019-05-01 21:29] #27054 closed

[2019-05-01 21:29] jvishnuvardhan commented on #27152
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-01 21:29] #27152 closed

[2019-05-01 21:31] jvishnuvardhan commented on #27189
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Please open a new issue for other questions as it will help the community. Thanks!

[2019-05-01 21:31] #27189 closed

[2019-05-01 21:35] jvishnuvardhan commented on #27199
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken.

[2019-05-01 21:35] #27199 closed

[2019-05-01 21:35] alextp commented on #27875
Yes, I agree that this is a problem. Are you interested in contributing a version of this as a pull request?

One issue we had is that because the fused op emits both the cross entropy and the linearization if we naively used RegisterGradient we'd always compute the second derivative, which is expensive, but we can do the same trick we do in https://github.com/tensorflow/tensorflow/blob/2f3eb7b5c2

[2019-05-01 21:36] ymodak commented on #28102
keras.datasets.imdb is broken in 1.13 and 1.14, by np 1.16.3. Its fixed in tf-nightly. Thanks!

[2019-05-01 21:36] #28102 closed

[2019-05-01 21:37] jvishnuvardhan commented on #27204
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Please open new issue for other questions. Thanks!

[2019-05-01 21:37] #27204 closed

[2019-05-01 21:45] jvishnuvardhan commented on #27261
@Exception4U
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-05-01 21:48] alanchiao commented on #28283
Just coming here to confirm "freedom"'s answer.

NNAPI updates as a part of the yearly Android release cycle, including any CPU optimizations. They share the same performance-impacting CPU code.

So when comparing NNAPI versus TFLite, there are a few factors:
- NNAPI is faster due to hardware acceleration outside the CPU
- NNAPI is slower on the CPU since it lags TFLite's optimizations by up to a

[2019-05-01 21:49] jvishnuvardhan commented on #27306
I think it was resolved. I am closing the issue. But, please let me know if I'm mistaken.

[2019-05-01 21:49] #27306 closed

[2019-05-01 21:51] jvishnuvardhan commented on #27309
I am closing this issue as it is a support question that is suited for Stackoverflow. Thanks!

[2019-05-01 21:51] #27309 closed

[2019-05-01 21:58] jvishnuvardhan commented on #27441
@samhodge There are several [tutorials](https://www.tensorflow.org/tutorials/) listed on TF website to deal about the memory management. Please take a look at them. There are articles on best practices of Tensorflow [lite](https://www.tensorflow.org/lite/performance/best_practices). You could search for similar articles on the internet.

This is not Build/Installation or Bug/Performance issue. Ple

[2019-05-01 21:59] jvishnuvardhan commented on #27482
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-01 21:59] #27482 closed

[2019-05-01 22:01] jvishnuvardhan commented on #27489
I am closing this issue as it is a support questions more suited for Stackoverflow. Thanks!

[2019-05-01 22:01] #27489 closed

[2019-05-01 22:07] samhodge commented on #27441
The only relevant article is this https://www.tensorflow.org/guide/using_gpu#allowing_gpu_memory_growth which is not in the tutorials.

I have set the value to 0.95 percentage of memory.

When other applications get into this memory space it results in a segfault.

This makes my customers upset.

There is no way to deallocate TF memory apart from session->delete() which doesnt actually work.

[2019-05-01 22:08] alextp commented on #27749
So this is a documentation problem? Want to send a PR clarifying that negative values are not allowed?

[2019-05-01 22:09] ymodak commented on #27508
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create fr

[2019-05-01 22:09] #27508 closed

[2019-05-01 22:11] ymodak commented on #27992
https://github.com/tensorflow/tensorflow/issues/27339#issuecomment-482716960
Thus closing this issue for now. Thanks!

[2019-05-01 22:11] #27992 closed

[2019-05-01 22:13] samhodge commented on #27441
The use case is as follows, there are several models that are run in the one C++ software application.

to create the next session a singleton is used for the session and a new model is allocated but only the first allocation will set aside the VRAM to be used.

So in 5.2Gb of VRAM is allocated and one model is running and no other application uses that VRAM everything is OK.

Then you switch a ne

[2019-05-01 22:13] jvishnuvardhan commented on #27620
I am closing this issue as the PR raised on this issue was merged already. But, please let me know if I'm mistaken. Thanks!

[2019-05-01 22:13] #27620 closed

[2019-05-01 22:19] samhodge commented on #27441
@jvishnuvardhan Thank you for the articles on quantization, I am looking into this and I am also looking into use of TFLite on LInux and macOS, I am not sure how useful it is on windows.

[2019-05-01 22:23] samhodge commented on #27441
@jvishnuvardhan as for using Stack Overflow

see this https://stackoverflow.com/questions/52683649/libtensorflow-cc-so-initialised-a-second-time-causes-segfault this cannot be fixed by anybody but the TF devs, it was ignored and as a result I cannot get my OFX plugin to run in Autodesk Flame 2020 which would be a sizable product user base, I reported in October 2018 Autodesk Flame was released in

[2019-05-01 22:26] samhodge commented on #27441
@jvishnuvardhan

here is the TF team's response https://github.com/tensorflow/tensorflow/issues/22810

[2019-05-01 22:32] scooter4j opened #28323 "Input-shape validation error when using TimeDistributed wrapper"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS Mojave 10.14.4
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below

[2019-05-01 22:40] missaugustina commented on #28236
touched base with the sig-io folks -

Augustina Ragwitz @missaugustina 12:54
I'm working on updating the tf.audio docs & I was wondering if anyone here had a moment to talk to me about TF's audio encoding implementation? I'm seeing fragments littered throughout the code base & I'm not quite sure how it ties into the api interface.
my guess is the implementation lives here but something else i foun

[2019-05-01 22:42] missaugustina commented on #28236
Yong Tang @yongtang 15:09
@missaugustina There is an email thread about tensorflow_io.video and how to use it with tf.keras for easy feature extraction and classification:
https://groups.google.com/a/tensorflow.org/forum/#!topic/io/ctHeERQj5nw
Think it might help in using Dataset with tf.keras.

The AudioDataset in tensorflow-io (Have been trying to find some time to implement it, but haven't had

[2019-05-01 22:44] jvishnuvardhan commented on #27732
I am closing this issue as it is a support questions more suited for Stackoverflow. Thanks!

[2019-05-01 22:44] #27732 closed

[2019-05-01 22:45] jvishnuvardhan commented on #27794
I think it was resolved. I am closing the issue. Please open a new ticket if you see similar issue again. Thanks!

[2019-05-01 22:45] #27794 closed

[2019-05-01 22:51] jvishnuvardhan commented on #27611
@armando-fandango Could you check whether the issue was resolved or not? I know recently there were some updates in pylint. Thanks!

[2019-05-01 22:58] kernelizd commented on #27715
I have the same issue.
Nothing like above solves it.
TF 2.0 alpha0
CUDA : 10.0.130
Cudnn 7.3.1
For some reason, Conv2D doesn't work

[2019-05-01 23:03] jvishnuvardhan commented on #27560
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-05-01 23:04] futuyao opened #28324 "Random Uniform Not Supported for TFlite Conversion"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (or github SHA if from source): tf-nightly 1.14.0-rc0

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

I followed [#26

[2019-05-01 23:08] jvishnuvardhan commented on #27983
@alexcohn Is this resolved by @freedomtan suggestion. Thanks!

[2019-05-01 23:13] jvishnuvardhan commented on #27353
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-05-01 23:22] ibrahimabob commented on #23755
Sorry nothing new with me in my PC working but I am trying to install It in my Laptop give me this error Failed to load the native TensorFlow runtime.

[2019-05-01 23:22] kernelizd opened #28326 "UnknownError: Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above. [Op:Conv2D]"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-05-01 23:25] lonelykid commented on #27353
@jvishnuvardhan I understand what is happening. I don't need stackoverflown for clarification.
The problem I'm reporting is that the parameter is not working as expected in tf.keras, and is behaving differently in keras and tf.keras. I heard that you are trying to keep tf.keras api in agreement with keras. This could be fixed on either ends to make them behave the same.

[2019-05-01 23:28] kernelizd commented on #28326
Some people reported the same thing but with tf 1.13, and they solved it by changing cudnn version to 7.4. In my case, Anaconda only offers 7.3.1 max! so, I tried downgrading to solve it, but that will knock down CUDA from 10.0 to 9.0 which makes TF 2.0 dead. So, I'm stuck with this version of Cudnn.
Other people recommended allowing memory growth and stuff like that. Did not work.

[2019-05-01 23:31] cwbeitel opened #28327 "Max retries error with BigtableClient"
For reference, pertains to [`tf.contrib.cloud.bigtable_api.py`](https://github.com/tensorflow/tensorflow/blob/r1.13/tensorflow/contrib/bigtable/python/ops/bigtable_api.py) and `BigtableClient`.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Not really

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04

[2019-05-01 23:38] futuyao commented on #28324
There's a warning from lite/toco/graph_transformations/resolve_constant_random_uniform.cc

`RandomUniform op outputting "segmentation_dropout/random_uniform/RandomUniform" is truly random (using /dev/random system entropy). Therefore, cannot resolve as constant. Set "seed" or "seed2" attr non-zero to fix this`

[2019-05-01 23:45] seanpmorgan commented on #28314
Thanks for identifying this!

@dynamicwebpaige Should we be marking API issues using the r2.0 branch or master? I'm not sure it matters for the most part, but just as an example I believe this API will be `tf.image.extract_patches` on TF2 release.
https://github.com/tensorflow/tensorflow/commit/52d006a310b8ef6b8bbe48911a183215c4494943#diff-68052049ee5dc7573829a5fdb7a57310

[2019-05-01 23:48] billcsm commented on #24828
I got the same issue with cuda 10.0 and cuDNN 7.3 - 7.5 on Ubuntu 18.04 with Tensorflow 1.13.
After I changed the Tensorflow to tf-nightly-gpu==1.13.0-dev20190206. The problem was fixed.

Here is my GPU setup:
    Ubuntu 18.04
    RTX 2080
    NVIDIA 410.104
    CUDA 10.0
    cuDNN 7.4
    tf-nightly-gpu==1.13.0-dev20190206

[2019-05-01 23:48] wchargin commented on #28266
@Ormagardskvaedi: Thanks for the report! This should be resolved by
tensorflow/tensorboard#2110, which is available in the latest
TensorBoard nightly releases. Could you try running

[code]

from within your notebook context to pull in the latest version? (You
may have to restart the kernel for this to take effect.)

[2019-05-01 23:54] ymodak commented on #27857
@wudixiaotie Is this still an issue?

[2019-05-02 00:03] ymodak commented on #27739
Closing this issue, since we have found a work around. Feel free to reopen if have any further problems. Thanks!

[2019-05-02 00:03] #27739 closed

[2019-05-02 00:05] ShnitzelKiller commented on #11447
I would like this feature as well. Are there deep learning frameworks that implement sparse solvers on the GPU? It seems to be possible, looking at the cuSPARSE framework by NVIDIA.

[2019-05-02 00:11] jvishnuvardhan commented on #28311
@jinfagang As mentioned by @captain-pool , you might be using Graph Mode. If you have installed TF2.0, then running your code produces output as expected.
`print(img.shape)` ==> `(12, 28, 28, 1)`
`type(img)`            ==> `numpy.ndarray`

Here is GitHub [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/11f4737679237250cff63aba0e6714b0/untitled129.ipynb). You could run it in Google colab

[2019-05-02 00:14] Valnardan opened #28328 "DLL Error - cuDNN I Believe?"
Issue occurs when running anything that uses TensorFlow, including a simple script that should simply spit out my TF Version and included sample files.
OS - Win10 Home
Cuda Toolkit - 10.0.130_411.31_win10
cuDNN - 10.0
Python - 3.6.8
Tensorflow - Pip install of current "tensorflow-GPU" as of 5-1-2019
GPU - EVGA RTX 2080 ti FTW3 Ultra Hybrid (11gb GDDR6 memory)

When running any .py that uses Tensor

[2019-05-02 00:14] ymodak commented on #27730
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-05-02 00:14] #27730 closed

[2019-05-02 00:26] cwbeitel commented on #28327
Further suggesting this is a credential issue the following modification to use `keys_by_prefix_dataset` gives an explicit error about credentials.

[code]

with error:

[code]

This occurring with and without `GOOGLE_APPLICATION_CREDENTIALS` being set explicitly and verified application-default-credentials are indeed set (`gcloud auth application-default print-access-token` prints an access token

[2019-05-02 01:07] mdanatg commented on #27565
There seems to be a slightly more helpful error in tf-nightly, but it looks like it's unrelated to tape.watch or autograph. The shape of `embeddings` seems to be partially unknown after the `sparse_dense_matmul`, and this line fixed in my tests:

[code]

Reassigning to triage the tape error.

[2019-05-02 01:30] wangguangyuan opened #28329 "The source code compiles tensorflow off tensorrt is invalid."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version: master branch
- Python version:3.6
- Bazel version (if compiling from source):0.24
- CUDA/cuDNN version:10.0/7.5
- GPU model and memory:12G

When the source code compiles tensorflow, it closes TensorRT through the prompt of ./configure. But still r

[2019-05-02 01:40] alanpurple opened #28330 "r1.14 with cuda 10.1 build failed"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 18.04.2
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.14.0rc0
- Python version: 3.7.3
- Installed using virtualenv? pip? conda?: N/A
- Bazel version (if compiling from source): 0

[2019-05-02 01:42] jasonzhang2022 commented on #28058
Yes, I mean that link. I expect the link taking me to the seq2seq tutorial
instead of tutorial home page.

On Mon, Apr 29, 2019, 9:10 PM Vishnuvardhan Janapati <
notifications@github.com> wrote:

[2019-05-02 02:10] jabalazs commented on #15604
I got Tensorflow 1.11.0 working by running the following commands:

[code]

[2019-05-02 02:29] KUASWoodyLIN commented on #27688
I also encountered the same problem.
Tensorflow:2.0.0a0
Cuda:10.0
Python:3.6.8
IDE:Jupyter  NoteBook

[2019-05-02 02:35] Sean0123456789 commented on #28151
any idesa?

[2019-05-02 02:36] Sean0123456789 commented on #28151
any ideas?

[2019-05-02 02:36] gashmish commented on #22146
Hello @ANSHUMAN87 !
I tested your PRs for our model in TF Lite and it works well, great job!

Regarding current issue, if those PRs are applied, some option for disabling ResolveDilatedConv transflormation in TOCO could solve the problem

However, strainforward disabling ResolveDilatedConv may cause some other errors in subsequent graph nodes, like this:

`ERROR: tensorflow/lite/kernels/strided_sl

[2019-05-02 02:57] renjie-liu commented on #28284
Hi, I tried your code but I did'n observe any problem, can you use the latest tensorflow and try again?

thank you!

[2019-05-02 03:08] rllin-fathom commented on #23789
@shivaniag do you know which nightly build it was fixed in?  having trouble running the most recent nightly build, so would like to try an exact one for this fix

[2019-05-02 03:20] #28328 closed

[2019-05-02 04:17] #28255 closed

[2019-05-02 04:48] achandraa commented on #28107
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-02 04:48] #28107 closed

[2019-05-02 04:49] achandraa commented on #28101
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-02 04:49] #28101 closed

[2019-05-02 04:50] achandraa commented on #28041
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-02 04:50] #28041 closed

[2019-05-02 04:51] achandraa commented on #27942
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-02 04:51] #27942 closed

[2019-05-02 04:54] achandraa commented on #27927
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-02 04:54] #27927 closed

[2019-05-02 04:59] zakizhou commented on #27981
@ruanchong is correct, and `sequence_length` indeed is for correctness not for performance, so is `mask` in `tf.keras.layers.RNN.__call__`

[2019-05-02 04:59] ANSHUMAN87 commented on #22146
@gashmish : Thanks a lot for confirming!
I am unsure why you need to disable ResolveDilatedConv().
As i can reproduce the issue:

without any change in code with the model you shared in zip file earlier.
Then i applied my 2 PRs, and the inference is successful.
Please let me know if i miss anything.
TIA!

[2019-05-02 05:12] ramithuh opened #28331 "Broken link in Doc [ api_docs/python/tf/test ]"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: TensorFlow Core 1.13
- Doc Link: https://www.tensorflow.org/api_docs/pytho

[2019-05-02 05:15] KeremTurgutlu commented on #22828
In my case for swift for tensorflow, GLIBC_2.27 is needed. I've checked every single libm.so.6 file but none of seem to have GLIBC_2.27. What can be done in this case?

[2019-05-02 05:47] gadagashwini commented on #27916
@leemgs The yellow dot essentially means that not all checks have run. We don't run all the checks until a reviewer has approved the PR. Hope that clarifies it.

[2019-05-02 05:47] #27916 closed

[2019-05-02 06:04] #28217 closed

[2019-05-02 06:05] #27943 closed

[2019-05-02 06:08] gadagashwini commented on #28303
@hn2 This is duplicate of 26364[https://github.com/tensorflow/tensorflow/issues/26364](url). Thanks!

[2019-05-02 06:09] sandhyacs opened #28332 "Issue when running tensorflow model (ssd_inception_v2_coco.pd) in webcam...."
UnknownError                              Traceback (most recent call last)
~\AppData\Local\conda\conda\envs\tf\lib\site-packages\tensorflow\python\client\session.py in _do_call(self, fn, *args)
   1333     try:
-> 1334       return fn(*args)
   1335     except errors.OpError as e:

~\AppData\Local\conda\conda\envs\tf\lib\site-packages\tensorflow\python\client\session.py in _run_fn(feed_dict, fetc

[2019-05-02 06:12] achandraa commented on #28113
@arrowd : Did you get the chance to look into @freedomtan's suggestion ? Is this still an issue. Please let us know. Thanks!

[2019-05-02 06:22] #27917 closed

[2019-05-02 06:59] Jonathan-Livingston-Seagull commented on #28326
This error is for sure due to version mismatch of Cuda/cudnn. When I got this error I followed the instructions on this link https://www.tensorflow.org/install/gpu and it solved the problem. Have you tried that?

[2019-05-02 07:15] quetil commented on #28182
Same issue for me.
A way to overcome this issue is to use tf.slice (with a Lambda layer for instance). But I'm willing to have this feature directly with a classical "numpy" slice!

[2019-05-02 07:27] Asorie commented on #24774
I experience the same problem with `tf.map_fn` being slow. Is there any way to accelerate this function?

[2019-05-02 07:35] #28307 closed

[2019-05-02 07:40] KUASWoodyLIN opened #28333 "Distributed Training TF2.0 validation_data Bug"
**System information**
- OS Platform and Distribution: Docker-nvidia(2.0.0a0-gpu-py3)
- TensorFlow version: '2.0.0-alpha0'
- Python version: 3.5.2
- CUDA/cuDNN version: 10.0

Hello I'm trying the [Code](https://github.com/tensorflow/docs/blob/master/site/en/r2/tutorials/distribute/keras.ipynb) here,
and change the training code.

[code]

And it come out the error, I think it should be validation_d

[2019-05-02 07:54] KUASWoodyLIN opened #28334 "Distributed Training TF2.0 Input Pipeline Bug"
System information

OS Platform and Distribution: Docker-nvidia(2.0.0a0-gpu-py3)
TensorFlow version: '2.0.0-alpha0'
Python version: 3.5.2
CUDA/cuDNN version: 10.0

Hello I'm trying the [Code](https://github.com/tensorflow/docs/blob/master/site/en/r2/tutorials/distribute/keras.ipynb) here.
Ant it come out **error info**.
[code]

it because gpu0 and gpu1 can't get the same shape,
so I modify Input p

[2019-05-02 08:22] GoingMyWay commented on #24774
For me, the best solution is to avoid using it. Use vectorization as many as possible.

[2019-05-02 08:44] csejourne commented on #28310
I write this comment so as to provide an update on this issue. I narrowed down the issue do the simpler MWE I am posting just below. When computing an output **tensor** using a ``tf.map_fn``tools and applying ``tf.hessians`` to it w.r.t its inputs, the graph fails to construct. I don't need to use an eager execution or a ``tf.Session()``

[code]

I do not report the stacktrace, as it is the same a

[2019-05-02 08:50] samhodge commented on #27441
https://github.com/miglopst/cs263_spring2018/wiki/Memory-management-for-tensorflow Is the most detailed reference

[2019-05-02 09:16] alexcohn opened #28335 "UnsatisfiedLinkError: No implementation found for void org.tensorflow.lite.NativeInterpreterWrapper.allowBufferHandleOutput(long, boolean)"
**System information**
- OS Platform and Distribution: **Linux 4.4.0-17134-Microsoft #706-Microsoft x86_64 GNU/Linux (Ubuntu 1804)**
- Mobile device: **Android, arm64**
- TensorFlow installed from (source or binary): **source *and* binary**
- TensorFlow version: **1.13.1**
- Bazel version: **0.24.1**
- GCC/Compiler version: **NDK r18, clang**

**Describe the problem**
Using the 'official' `impleme

[2019-05-02 09:22] danielegrattarola commented on #10375
Hi, I'm just checking back after a few months.
I am starting to look into developing this on my own, if anybody has any suggestions they are more than welcome (maybe @ebrevdo can help). I'm a total C++ noob but I'll try to edit some existing ops in order to reuse boilerplate code.

Is [this](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/sparse_tensor_dense_matmul_op.

[2019-05-02 09:33] samhodge commented on #22810
Here is me requesting static linking

https://github.com/bazelbuild/bazel/issues/1920#issuecomment-381360017

[2019-05-02 10:13] Asorie commented on #24774
For my problem i have to use the `tf.boolean_mask`-function, which can produce vectors of different lenghts. This output is further reduced to a single vector.
Thats the reason i have to use the `tf.map_fn` since it is possible to compute  the `tf.boolean_mask` for a single element, then reduce it to a scalar and when the computation is done it gets combined to a vector.

[2019-05-02 10:31] Oldhuntor commented on #21223
I have the same problem too，anybody solved it？

[2019-05-02 10:41] alexcohn commented on #27983
I can confirm that appying `addDelegate(NnApiDelegate())` instead of `setUseNNAPI(true)` (requires https://github.com/freedomtan/tensorflow/commit/8ecb5a4ae01e0305e95871fbc77b2b038115e58b) resolves the crash.

Unfortunately, after learning more about NNAPI [performance issues](https://github.com/tensorflow/tensorflow/issues/28283#issuecomment-488161897) I cannot use this delegate in our Android ap

[2019-05-02 10:41] #27983 closed

[2019-05-02 10:59] alexcohn commented on #28283
No, I did not see speedup on the newer Xiaomi A2, running with official Android 9. The x2 speedup with NNAPI I saw was on the older Xiaomi A1 device, which recently received an official OTA upgrade to Android 9.

I totally understand that release cycle of NNAPI cannot keep at pace with FTLite. My major disappointment was that it does not seem possible to predict whether using NNAPI with either `se

[2019-05-02 11:01] muddham commented on #28316
@skeydan Can you please let us know if you are happy to close this issue as in previous comment it says that after doing import(p), it worked.

[2019-05-02 11:02] georgejsh commented on #28284
i used the latest alpha version only..coul you pls tell me how you did it.??

On Thu 2 May, 2019, 8:34 AM renjie-liu, <notifications@github.com> wrote:

[2019-05-02 11:11] gadagashwini commented on #28252
@oyegod Please downgrade the GCC version to 4.8. Please find instructions in this [link](https://www.tensorflow.org/install/source#tested_build_configurations) which help you to build Tensorflow from source. Thanks!

[2019-05-02 11:14] gadagashwini commented on #28324
@futuyao In order to expedite the trouble-shooting process,Please provide the detail error message. Thanks!

[2019-05-02 11:17] gadagashwini commented on #28222
@cdluminate Contrib is deprecated in 2.0. Here is the [link](https://github.com/tensorflow/tensorflow/releases) for 2.0 release. Thanks!

[2019-05-02 11:24] gadagashwini commented on #28216
Closing since its resolved. Thanks!

[2019-05-02 11:24] #28216 closed

[2019-05-02 11:31] skeydan commented on #28316
I can close it, I'd just be wondering why the first variant wouldn't work?

[2019-05-02 11:37] captain-pool commented on #28316
Hey @skeydan , It actually worked both ways.
I'm using 2.0.0-alpha0

[2019-05-02 11:38] nartes commented on #28028
Are there any examples on a custom training loop with BatchNormalization?
I've managed to set training_phase, although the model doesn't train the same way as via keras default training loop.

[2019-05-02 12:00] ymsaputra opened #28337 "Distributed TensorFlow does not work when using more than 26 workers"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL 7.5
- TensorFlow version (use command below): TF Alpha 2.0 and TF. 1.13 CPU only
- Python version: 2.7
- Intel Xeon Gold 6150 2.7GHz 18 cores (16 cores enabled) 24.75MB L3 Cache (Max Turbo Freq. 3.7GHz, Min 3.4GHz), 180GB RAM (Six Channel), 4.8TB of Disk Space

I have a performance issue using distributed TF for

[2019-05-02 12:08] melrobin commented on #28330
I am having the same issue.

[2019-05-02 12:26] nartes commented on #28028
1. Keras has different side operations which depends on whether train, test or predict phase is executed.
- https://github.com/keras-team/keras/blob/master/keras/engine/training.py#L497
- https://github.com/keras-team/keras/blob/master/keras/engine/training.py#L524
- https://github.com/keras-team/keras/blob/master/keras/engine/training.py#L542
2. In general a layer has unconditional and condition

[2019-05-02 12:26] jvishnuvardhan commented on #25641
@lycanthropes As mentioned by @qlzh727 it was resolved in TF2.0.0-alpha0 by
[code]

[2019-05-02 12:39] jvishnuvardhan commented on #27441
@samhodge  Thanks for sharing the resource. Thanks!

[2019-05-02 12:42] Hazarapet commented on #27752
+

[2019-05-02 13:03] tensorflowbutler commented on #23404
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-02 13:03] tensorflowbutler commented on #26083
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-02 13:04] tensorflowbutler commented on #27577
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-02 13:04] tensorflowbutler commented on #27839
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-02 13:20] gashmish commented on #22146
@ANSHUMAN87, may be it was other model accidentally? By default TOCO tries to substitute dilated convolution subgraph with subgraph without SpaceToBatch and BatchToSpace

Converting model.pb to model.tflite from attached zip in TF nightly build with command
[code]
[toco_AT_IMPORT.dot.pdf](https://github.com/tensorflow/tensorflow/files/3138076/toco_AT_IMPORT.dot.pdf)
[toco_AFTER_TRANSFORMATIONS.dot

[2019-05-02 13:36] durandg12 opened #28338 "Improper metric computation in fit method (tf 2.0)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 10.13.6
- TensorFlow installed from (source or binary): from pip I think, I don't remember and I don't know the difference
- TensorFlow version (use command below): v1.12.0-9492-g2c319fb415 2.0.0-alpha0
- Pyth

[2019-05-02 13:49] renjie-liu commented on #28284
I used colab <https://colab.research.google.com/>:

first, `!pip install tf-nightly`, then I copied your code and just ran in
it.

On Thu, May 2, 2019 at 7:08 PM georgejsh <notifications@github.com> wrote:

--
Renjie Liu

renjieliu@google.com
+1 (650) 253-4359

[2019-05-02 14:37] muddham commented on #28301
@elham1992  This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorfl

[2019-05-02 14:42] muddham commented on #28277
@hoonkai Request you to please refer this [link](https://github.com/tensorflow/tensorflow/issues/26731).Please let us know how it progresses. Thanks!

[2019-05-02 14:45] xilenteyex commented on #26340
I am trying to write a custom graph partitioner and am stuck on this issue for a very long time. If someone can help me figure this out, it will be great. Thanks!

[2019-05-02 14:48] scooter4j commented on #28323
made some progress on this. Added the designated line to the following block of code in `training_utils.py`, starting with line 296:
[code]

After adding this line, I can train the model.

[2019-05-02 15:00] akashkrshukla commented on #56
I am having the same error as above . Did anyone got the solution . I am not able to find any so far ?curl

[2019-05-02 15:51] ajarthurs commented on #28268
Needed to add RELU. After that, I can quantize and evaluate RELU.
https://github.com/ajarthurs/tensorflow/commit/6e3aa830b2327f08ce88c6c097e7b432e77b1aae

[2019-05-02 15:56] ebrevdo commented on #26340
+Paul Barham <pbar@google.com>

On Thu, May 2, 2019, 7:46 AM xilenteyex <notifications@github.com> wrote:

[2019-05-02 16:13] ajarthurs commented on #28269
Included in 79fca9af73b2634a64d10a0caad4e35bc6ca00d1

[2019-05-02 16:13] mihaimaruseac commented on #26502
There is a difference between the two: `tf.keras.*` uses the attribute `keras` of module imported as `tf` but `import tensorflow.keras` looks for module `keras` in package `tensorflow`.

Now we know where to look

[2019-05-02 16:14] ebrevdo commented on #10375
We do have a sparse matrix TF library that uses cuSparse; and it does have
this functionality.  We hope to move it into tf.linalg.experimental
sometime this year.

On Thu, May 2, 2019 at 2:24 AM Daniele Grattarola <notifications@github.com>
wrote:

[2019-05-02 16:19] jdduke commented on #27983
Another note on this end, we'll shortly be removing the "old" NNAPI implementation entirely in favor of the NNAPI delegate. Existing use of "Interpreter::SetUseNnapi(bool)" will take advantage of the new delegate.

[2019-05-02 16:28] jdduke commented on #28283
Hey @alexcohn, we're working on some tooling to make it easier to predict/understand NNAPI performance for a given device+model combination. Historically we've relied on vendors to vet the performance of their driver, but there can be surprising performance cliffs in certain cases. Thanks for the feedback; it's definitely an issue that's on our radar and something we want to solve generally to mak

[2019-05-02 16:38] gargn commented on #23404
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-02 16:38] #23404 closed

[2019-05-02 16:38] gargn commented on #26083
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-02 16:38] #26083 closed

[2019-05-02 16:43] jvishnuvardhan commented on #27839
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-02 16:43] #27839 closed

[2019-05-02 17:22] Arsenal591 opened #28341 "Why `tf.reshape` function tries to evaluate the `shape` argument?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: None
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use comman

[2019-05-02 17:43] jxieeducation opened #28342 "Is it possible to add a layer to an Estimator after training it?"
Hi all,

After training an estimator, we'd like to modify the model and add a custom layer.

Is there a way to modify the estimator model that way?

Thanks!

[2019-05-02 17:51] wdirons commented on #27872
In 1.13.1 this doesn't work either, it fails with the same error, but if you undo the last commit to the example (https://github.com/tensorflow/tensorflow/commit/e2b36c5026b856ca63041085c3183f0f7d490e71#diff-4cfd74ba277097d2966e281f8e8655b8) it works.

That fix however doesn't work with the nightly builds.

[2019-05-02 18:06] futuyao commented on #28324
Resolved by downgrading Tensorflow version to r1.13.

[2019-05-02 18:15] alextp commented on #27565
There is a bug in the backprop code, where it does `math_ops.range(grad.shape[0])` which uses the static shape of the grad tensor, which might be known (a number) or None. To use the dynamic shape we need something like `math_ops.range(array_ops.shape(grad)[0])`.

[2019-05-02 18:42] jiayiliu commented on #24591
@stevehawley  - have you tried with the tf.keras rather than the native keras?

[2019-05-02 18:58] stevehawley commented on #24591
@jiayiliu - yes, I am using the internal `tensorflow.keras`.

My workaround has been to use `tf.saved_model.simple_save` instead of a `Saver` and have freeze_graph use input_saved_model_dir.

It gets me past this problem but I don't consider the issue resolved. If freeze_graph is not going to support working on normal graphs it should deprecate that api and update the docs, or at least put a note

[2019-05-02 19:13] jdduke commented on #27807
@miaowang14 can you provide an update on scalar support?

[2019-05-02 20:00] saxenasaurabh commented on #27926
I don't think v2 loops will fix this (at least for now). I think there are some other issues with while loop accumulating _too much_. Maybe we can handle all those cases as an optimization pass. Let me know if you have other thoughts on this or if you would like to contribute :) I will close this for now since I might not be able to look into this immediately but this is definitely on my radar of

[2019-05-02 20:00] #27926 closed

[2019-05-02 20:05] dalalkrish commented on #13477
I was frustrated by a similar blockage. Don't know why `tf` has to make it so complicated. Here's the [link][1] that will make life a little easier and help understand how to feed data to the model imported using `tf.contrib.predictor.from_saved_model`.

[1] http://shzhangji.com/blog/2018/05/14/serve-tensorflow-estimator-with-savedmodel/

[2019-05-02 20:56] PikkaPikkachu commented on #27560
@jvishnuvardhan thanks! Have opened the question [here](https://stackoverflow.com/questions/55948770/why-does-using-layers-flatten-in-cnn-model-cause-the-error-in-android-when-i-a) for anyone else having the same query.

[2019-05-02 20:56] #27560 closed

[2019-05-02 20:57] Firyuza commented on #23906
Hi @zlichen !
Thanks again for feedback! Your example is working, but now I noticed that If I create two networks in the same Graph and start to train first network I see that the second one is training too. They do not have sharable variables. I think maybe one of the my first approaches is working too, just the problem is on another plane...

[2019-05-02 20:58] jvishnuvardhan commented on #28331
@ramithuh Thanks for finding the link and also for providing screenshot of earlier page. Thanks!

[2019-05-02 20:58] ymodak commented on #27826
@Clamps251 Is this still an issue? Can you please provide following information? Thanks!
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source

[2019-05-02 21:18] aphalak opened #28345 "Segmentation fault in tflite::ops::builtin::BuiltinOpResolver when using libtensorflowlite.so via CMake"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-05-02 21:29] alextp commented on #28228
Look at the [tests](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/c_api_test.cc) for usage examples, they are pretty thorough.

[2019-05-02 21:29] #28228 closed

[2019-05-02 21:38] miaowang14 commented on #27807
I have a pending fix internally, and will further test / improve it. Looking forward to get it ready for the next couple of days.

[2019-05-02 21:42] hendercine commented on #28314
My pleasure, Sean. Very good question regarding the branch. I totally
forgot to check the branch onto which I was adding the issue. I'd be happy
to resubmit to a development branch.

On Wed, May 1, 2019 at 4:51 PM Sean Morgan <notifications@github.com> wrote:

[2019-05-02 21:57] #27948 closed

[2019-05-02 22:04] ymodak commented on #27364
Closing this issue based on the explanation given in corresponding PR. Feel free to reopen if have any further questions. Thanks!

[2019-05-02 22:04] #27364 closed

[2019-05-02 22:06] Fashiar commented on #23007
_**pip uninstall tensorflow-estimator**_ worked for me

[2019-05-02 22:11] olesalscheider opened #28346 "TrtGraphConverterV2 does not preserve output names in the signature_def"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below):  master from April 22nd
- Python version: 3.6.7
- Bazel version (if compiling from source): 0.24
- GCC/Comp

[2019-05-02 22:15] wdirons commented on #28330
This is due to a bug in the nvcc compiler with CUDA 10.1. NVIDIA is working on a fix.

Same issue has been reported in https://github.com/tensorflow/tensorflow/issues/26155

You can try gcc 7.2

[2019-05-02 22:16] tgpsantos commented on #21526
Hello Guys! I'd like to deploy a 3D Conv model in Android, are there any news regarding the implementation of such features? If not, could someone enlight me if there is any other alternative I could pursue to implement the model in mobile? Thank you very much

[2019-05-02 22:25] pnduffy opened #28347 "Tensorflow lite example with alternate image source"
I would like an example similar to the TensorFlow lite Android example that doesn't use the camera but an alternate image source, like from network stream. Is there something available that has such an example?

[2019-05-02 22:27] wdirons commented on #28329
This should have been fixed by this commit: https://github.com/tensorflow/tensorflow/commit/28fc9cccd176a113b9f0401d0c569ca1b9d207c3

Please try pulling the latest code.

[2019-05-02 22:53] karmel commented on #27780
Can you replicate this with a simpler example, ideally limited to a comparison of DepthwiseConv2D and Conv2D? Can you reproduce directly with the ops in question? It's hard for us to help debug with larger models/implementations, as so much is at play.

[2019-05-02 22:54] TerjeNorderhaug opened #28351 "Enable eager execution fails after testing if executing eagerly"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installed from (source or binary): pip install -q "tensorflow==1.13.1"
- TensorFlow version (use command below): 1.13.1
- Python version: 2.7.15rc1

**Describe the current behavior**

Calling `tf.e

[2019-05-02 22:59] karmel commented on #28182
@pat-coady -- this is a general shortfall of slicing, as we cannot retain static shape information after slicing. You can create a custom layer that does the slicing inside of its .call() method, and this should work-- can you try putting this inside a custom layer or Lambda layer?

[2019-05-02 23:13] rchao commented on #27688
Thanks for the report. Confirming I can repro. Feel free to add more information while we're looking into it.

[2019-05-02 23:35] guptapriya commented on #28096
Toby, could you help take a look at this issue with running te tf-cnn-benchmarks?

[2019-05-02 23:40] isaprykin commented on #24132
You are using a Keras Layer.  Please consider the documentation for writing your own layers, including the provided example: https://keras.io/layers/writing-your-own-keras-layers/.  In particular, the weights need to be define as part of `build()` rather than `call()`.  I'd try that.  Please re-open if that doesn't resolve your issue.

[2019-05-02 23:40] #24132 closed

[2019-05-02 23:41] GuoshengCui commented on #17386
run this code "import tensorflow as tf" and it report below errors:

ImportError                               Traceback (most recent call last)
D:\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow.py in <module>
     57
---> 58   from tensorflow.python.pywrap_tensorflow_internal import *
     59   from tensorflow.python.pywrap_tensorflow_internal import __version__

D:\Anaconda3\lib

[2019-05-02 23:43] ldelossa commented on #28096
Closing this out, it was a misconfiguration on our end. We populated the WORKER_HOSTS incorrectly.

[2019-05-02 23:43] #28096 closed

[2019-05-03 00:05] isaprykin commented on #24997
Please re-open if the issue persists in newer versions of tensorflow.

[2019-05-03 00:05] #24997 closed

[2019-05-03 00:15] mhurliman commented on #28130
Here's a script to synthesize junk super rez training pairs: https://gist.github.com/mhurliman/934fa8e13dca3586e9be8f7464b769fd

I updated the previous tests (https://gist.github.com/mhurliman/3a955c9253b9477fa1aa297647b3c063) to implement your suggested usage pattern. I also expanded it to generate a number of randomized image crops at once, creating a dataset out of those with 'from_tensor_slice

[2019-05-03 00:18] mhurliman commented on #28130
I'm also considering implementing jittered sampling (partitioned stochastic sampling) instead of completely randomized crops to get better coverage of samples, but this was easiest to test initially.

[2019-05-03 00:29] isaprykin commented on #27696
This appears to be a real issue.  We flagged it internally and someone will hopefully get to it soon.  Thanks for reporting.

If you are curious about fixing it, then my guess is that `keras.optimizer_v2.OptimizerV2` needs to be allowed in the set of classes that are allowed right where that ValueError is thrown.  It should work.

[2019-05-03 00:34] isaprykin commented on #27716
Awesome explanation @guptapriya.  Please re-open if you'd like more help.  We are looking internally on improving the error message.

[2019-05-03 00:34] #27716 closed

[2019-05-03 00:39] pat-coady commented on #28182
@karmel -- Could a StridedSlice class (subclass of Layer) be created? Then strided_slice would just be a functional interface to this.

[2019-05-03 00:45] skercher commented on #22564
@inakaaay @achowdhery We are having a similar error message. Does anyone know how to solve this?

<img width="1244" alt="Screen Shot 2019-05-02 at 6 42 58 PM" src="https://user-images.githubusercontent.com/24554/57115131-49fe1680-6d0a-11e9-9a4e-b77812b52e25.png">

[2019-05-03 00:50] isaprykin commented on #26763
It should be fixed after https://github.com/tensorflow/tensorflow/commit/a3f9c59153203020dcd008527db5247deefad95a.  Could you please try and re-open if that doesn't help?

[2019-05-03 00:50] #26763 closed

[2019-05-03 00:51] guptapriya commented on #26725
Is this resolved or is it still an issue?

[2019-05-03 00:53] isaprykin commented on #26392
You should see <performance of 1 GPU> * <number of GPUs> * 90%-ish percent scaling.  Please check your measurement logic, because it's common to only count the single GPU number.  Please re-open if you think it's still an issue, and if so, please provide more details about your setup.  One other thing you could do is to look at `$ nvidia-smi` during your training to observe the utilization of your

[2019-05-03 00:53] #26392 closed

[2019-05-03 00:57] isaprykin commented on #26020
You could monitor `$ nvidia-smi` during your training to see whether GPUs are used as well.

Please re-open if you think it's not an input pipeline issue and still suspect TF not utilizing available GPUs.

[2019-05-03 00:57] #26020 closed

[2019-05-03 00:57] LiuPangYao commented on #27826
question fix, environment not install error C++ visual studio install fail

[2019-05-03 01:04] guptapriya commented on #25057
The stackoverflow link does not work anymore. Can you please provide the details here again? Which model are you trying to run? You mentioned it is from official tensorflow repo?

[2019-05-03 01:05] SubigyaPanta commented on #27306
I have the same problem.
OS: Ubuntu 16.04
Python: 3.6
Tensorflow: 1.13
Nvidia Driver version: 410.78
Cuda version: 10.0

When I import Keras, I get this error. I haven't used tensorflow standalone. Help.

[2019-05-03 01:09] isaprykin commented on #24875
You could try to create variables with `VariableSynchronization.ON_READ`.  If that doesn't work, you could look into creating a new distribution strategy which implements your logic of syncing them (or in your case not syncing them at all?).  Please re-open if those methods don't help.

[2019-05-03 01:09] #24875 closed

[2019-05-03 01:10] guptapriya commented on #23687
Can you please check if this works in 1.13 or latest nightly and let us know if it is still broken?

[2019-05-03 01:11] #27565 closed

[2019-05-03 01:12] isaprykin commented on #22088
Does the physical second GPU that you are adding have the same amount of memory as the first?

[2019-05-03 01:14] isaprykin commented on #22088
It's been a while and we have suggested work-arounds.  Please re-open if you still have this problem at newer versions of TF.

[2019-05-03 01:14] #22088 closed

[2019-05-03 01:38] #25857 closed

[2019-05-03 01:42] #23248 closed

[2019-05-03 01:58] hongym7 opened #28353 "mAP increase but classification loss increase"
mAP increase, but classification loss increase in object detection training. (by tensorflow object detection API)
Train data : 1500, Val data : 150
Class : 1 (drone)
I don't know what happen

![image](https://user-images.githubusercontent.com/3411873/57116734-11a21b00-6d92-11e9-867b-d10a7e16e52d.png)

[2019-05-03 02:46] amitsrivastava78 commented on #28268
@ajarthurs , thanks for the feedback, Great to see that things worked out for you.

@liyunlu0618 issue seems to be resolved with the PR, it might take some time for this to get merged, but we can close the issue for now.

Regards
Amit

[2019-05-03 03:05] gandalflee commented on #28148
please check the dataset api doc of version 2.0:
https://tensorflow.google.cn/versions/r2.0/api_docs/python/tf/data/Dataset
and version 1.13:
https://tensorflow.google.cn/api_docs/python/tf/data/Dataset

we can not find all properties (output_shapes,output_types) of version 1.13  in version 2.0, and, also can not find method "make_one_shot_iterator" in version 2.0.
is this a bug? or a new structur

[2019-05-03 04:03] Dayananda-V commented on #28308
@TomasRoj

Please provide all of the information requested in the issue template. Thanks!

[2019-05-03 04:18] AbhinavBijalwan commented on #1450
with tf.device("/cpu:0"):
 optimizer = tf.train.AdamOptimizer(learning_rate=learning_rate).minimize(cost)

Q. What should be the learning_rate?

[2019-05-03 04:20] yuefengz commented on #27857
Please note "master" is not officially supported by distribution strategy or Estimator. If you want to run evaluation, you need to have an "evaluator" task with `train_and_evaluate` API.

[2019-05-03 04:20] #27857 closed

[2019-05-03 04:33] yuefengz commented on #27058
Hi, we don't have plans to support "master" job right now. GCP also doesn't have a strong reason to use "master". So for now, we'll stick to "chief".

[2019-05-03 04:41] achandraa commented on #28254
Can you try the solution provided in similar issue [#24496](https://github.com/tensorflow/tensorflow/issues/24496) and let us know if that solves your problem. Thanks!

[2019-05-03 04:48] Mainak431 commented on #27306
What is the version of tensorflow-gpu?  And what is the version of CUDNN?

[2019-05-03 05:23] scooter4j commented on #28323
The real issue is in this block (lines 274-295 of `training_utils.py`):
[code]

specifically in the
[code]
section. My data input was a list of lists. So - I got into this block and the code essentially reformatted my list of lists into a list of numpy arrays. BUT - I still had the same shape. The other conditions, e.g `  else:
    data = data.values if data.__class__.__name__ == 'DataFrame' else

[2019-05-03 05:41] CatEek commented on #25057
I used this model https://github.com/tensorflow/models/blob/master/research/slim/nets/inception_resnet_v2.py
I've tried changing layer objects from contrib to Keras, or Layers API, and also used it as is.

run_config = tf.estimator.RunConfig(train_distribute=tf.distribute.MirroredStrategy(),                                                                                             save_checkpoint

[2019-05-03 05:58] pakashu commented on #21927
still not resolved ,y Tensorflow version is 2.0.0a0

[2019-05-03 06:01] pakashu commented on #16614
still not resolved, my Tensorflow version 2.0.0a0

[2019-05-03 06:18] ANSHUMAN87 commented on #22146
@gashmish : I have used tensorflow 1.13 for your model conversion to tflite with the script you shared. It executed perfectly fine. Also i went through the *.dot files you shared, the conversion is perfectly fine. The output shape is supposed to be [?, 48002, 40] as per padding. So still i am not sure where you are facing the issue. Would you please try converting your model using 1.13 version or

[2019-05-03 06:22] guptapriya commented on #25057
Can you show me your model_fn for the estimator? We recently ran into a similar issue because there was an unnecessary control dependency in the model_fn which was causing the graph to blow up. I am wondering if that is the same case in your model_fn.

[2019-05-03 06:23] muddham commented on #28316
@skeydan As you confirmed its working, closing this issue

[2019-05-03 06:23] #28316 closed

[2019-05-03 06:30] Dayananda-V commented on #16614
@pakashu

Please check Keras-Applications version on your environment("pip list | grep Keras"). Try with remove existing Keras-Applications and install freshly and try one more time.

Use https://pypi.org/project/Keras-Applications/ to install Keras-Applications.

[2019-05-03 06:31] muddham commented on #28064
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-03 06:31] #28064 closed

[2019-05-03 06:37] muddham commented on #28094
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-03 06:37] #28094 closed

[2019-05-03 06:38] muddham commented on #28100
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-03 06:38] #28100 closed

[2019-05-03 06:41] muddham commented on #27923
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-03 06:41] #27923 closed

[2019-05-03 06:42] muddham commented on #27938
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-03 06:42] #27938 closed

[2019-05-03 06:42] abhigyank commented on #27769
@zzh8829  What is the alternative way to save a model/weights? I am having this proble min .hdf5 fromat too.

[2019-05-03 06:48] muddham commented on #28067
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-03 06:48] #28067 closed

[2019-05-03 06:54] muddham commented on #28208
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-03 06:54] #28208 closed

[2019-05-03 06:55] muddham commented on #28220
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-03 06:55] #28220 closed

[2019-05-03 06:57] ajinkya933 commented on #26693
@ilous12 how did you  exclude operations?? I don't think its possible

[2019-05-03 06:58] qo-o-op commented on #26835
I use follow this code it work
`
model.save('./model/saved.h5')

new_model = tf.keras.models.load_model('./model/saved.h5',custom_objects={'KerasLayer':hub.KerasLayer})
new_model.summary()`

[2019-05-03 07:27] TheoPaput commented on #8625
Same problem there

[2019-05-03 08:10] muddham commented on #28223
@ly0koS Can you please downgrade your tensorflow to 1.12 and follow the steps as per [link](https://github.com/jvishnuvardhan/Installing-TensorFlow-GPU-on-Windows-10-TF1.12), if you are particular to use 1.14 then please downgrade CUDA to 10.0

[2019-05-03 08:37] gandalflee commented on #28148
this error only shown in tf2.0.
 in tf1.13, it is ok

[2019-05-03 08:44] TomasRoj commented on #28308
I gave you everything you need. Os, platform and error message. No more informations needed,

[2019-05-03 08:52] hiteshnitetc opened #28362 "AttributeError: 'tuple' object has no attribute 'ndims'"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-03 09:01] achandraa commented on #28086
TensorFlow supports CUDA 10.0 (TensorFlow >= 1.13.0). Please refer this [link](https://www.tensorflow.org/install/gpu#software_requirements) and let us know in case of any clarification. Thanks!

[2019-05-03 09:03] gadagashwini commented on #28285
@abdou31 Please have look on software requirements for tensorflow-gpu 1.13 and above version is mentioned in this [link](https://www.tensorflow.org/install/gpu#software_requirements).  Thanks!

[2019-05-03 09:16] kong13661 commented on #26813
It seems because auto-complete won't scan the whole code of a library. I open `__init__.py` file whose path is `/usr/local/lib/python3.6/dist-packages/tensorflow/__init__.py` in my computer, and add one line `from tensorflow.python import keras`. It works for me. And you can find the path of the file by using finding definition of your IDE. I think it's a temporary way.

[2019-05-03 09:19] dmus opened #28363 "tf.image.resize_image_with_pad(image, 108, 56) gives 109 by 56 output for some images"
[7953_4_3337_294_54_110.txt](https://github.com/tensorflow/tensorflow/files/3141289/7953_4_3337_294_54_110.txt)
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command bel

[2019-05-03 09:25] achandraa commented on #27989
@sadatnfs : Did you get chance to have a look on the [link](https://www.tensorflow.org/install/source). Let us know if that helps. Thanks!

[2019-05-03 09:38] gadagashwini commented on #28345
@aphalak Unfortunately we don't provide support for the CMake build anymore. Please find instructions in this [link](https://www.tensorflow.org/install/source#setup_for_linux_and_macos) which help you to build Tensorflow from Bazel. Thanks!

[2019-05-03 09:44] Oldhuntor opened #28364 "An error ocurred while starting the kernel(tensorflow-gpu)"
While using the keras to proceed the code suddenly，the warining came out which are as follow：

An error ocurred while starting the kernel
2019󈚩󈚧 16:08:03.433226: I c:\users\user\source\repos\tensorflow\tensorflow\core\common_runtime\gpu\gpu_device.cc:1405] Found device 0 with properties:
name: GeForce RTX 2060 major: 7 minor: 5 memoryClockRate(GHz): 1.2
pciBusID: 0000:01:00.0
totalMemory: 6.00GiB

[2019-05-03 09:46] achandraa commented on #28197
@yuanqing-wang : Did you get chance to try @allenlavoie's suggestion. Please let us know. Thanks!

[2019-05-03 10:03] muddham commented on #28337
@ymsaputra In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-05-03 10:07] aphalak commented on #28345
I have indeed build **libtensorflowlite.so** using bazel as follows :
bazel build --config opt --cxxopt=-std=c++11 tensorflow/lite:libtensorflowlite.so

The issue is when I am linking the shared object in my .cpp program

[2019-05-03 10:14] achandraa commented on #28215
@koute : Tried in Colab (GPU runtime) as suggested but got the same result for cases where inter_op_parallelism_threads = 0 or inter_op_parallelism_threads = None which is [array([[-0.05648327]], dtype=float32), array([-0.05648327], dtype=float32)]. And this is on tensorflow version 1.13.1. Can you try and let us know whether you are getting different on Colab with same environment. Thanks!

[2019-05-03 10:18] achandraa commented on #28218
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-05-03 10:31] gadagashwini commented on #28069
@Mowghli  Is this still an issue?

[2019-05-03 10:32] gadagashwini commented on #28333
@KUASWoodyLIN In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-05-03 10:36] koute commented on #28215
@achandraa Yes, you're getting the same results as I do. Now change the runtime to CPU, and you'll always get `-0.49368942`.

I'll reiterate what I said - on Colab the original issue does not reproduce in the way as originally described, i.e. the parallelism settings do not matter, but it does reproduce in a different way. Here's a handy table:

[code]

The results on both runtimes should be the s

[2019-05-03 10:56] gadagashwini commented on #28345
@aphalak Thanks for the information.

[2019-05-03 11:08] gadagashwini commented on #28318
@Jonathan-Livingston-Seagull, In order to expedite the trouble-shooting process, Can you please provide minimum code snippet to reproduce the issue reported here. Thanks!

[2019-05-03 11:13] gadagashwini commented on #28342
@jxieeducation It looks, This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there. Let us know. Thanks!

[2019-05-03 11:16] muddham commented on #28334
@KUASWoodyLIN I ran the google colab link provided using gpu and it went through without any errors and no modifications are done to the code. can you please check and let us know.

W0503 10:49:24.512632 139824653981568 distributed_training_utils.py:182] Your input callback is not one of the predefined Callbacks that supports DistributionStrategy. You might encounter an error if you access one of

[2019-05-03 11:44] serv-inc opened #28365 "Retrain image detection with MobileNet for use in TFjs, failure in tensorflowjs_converter"
It is unclear whether this is a documentation or a programming issue. If misfiled, please say so and suggest whether a new issue should be raised, or what else can be done.

**System information**
- TensorFlow version:
 ('v1.13.1-0-g6612da8951', '1.13.1') (see #27538)
('v1.12.0-9492-g2c319fb415', '2.0.0-alpha0') (see #27539) and
tf-nightly-2.0-preview (see https://stackoverflow.com/questions/55682

[2019-05-03 11:47] achandraa commented on #28305
@Aditi0207 : TensorFlow supports CUDA 10.0 (TensorFlow >= 1.13.0) . Please have a look on this [link](https://www.tensorflow.org/install/gpu#software_requirements). Also try @rootkitchao's suggestion and let us know if that helps. Thanks!

[2019-05-03 12:18] muddham commented on #28310
@csejourne Able to reproduce this issue in 1.13 . We will look at it.

ValueError                                Traceback (most recent call last)
<ipython-input-2-ffbab77f1668> in <module>()
     10 d_fx = tf.gradients(f, x) # Works
     11 d_gx = tf.gradients(g, x) # Works
---> 12 dd_fx = tf.hessians(f, x) # Fails with same error as original issue
     13 dd_gx = tf.hessians(g, x) # Works

18 fr

[2019-05-03 12:18] achandraa commented on #28317
Can you please help us in reproducing the issue with a minimal code. Also let us know information such as TensorFlow version, platform etc. You can refer this [link](https://github.com/tensorflow/tensorflow/issues/new/choose) to help us. Thanks!

[2019-05-03 12:28] csejourne commented on #28310
I thought of a workaround about this one. Maybe using the argument ``unroll=True`` would allow to bypass this error. However, I tried and got the input shape wrong, so I can't say for now if it would work on now. I´ll get back to you

[2019-05-03 12:28] achandraa commented on #28326
@kernelizd : TensorFlow supports CUDA 10.0 (TensorFlow >= 1.13.0). You can try @Jonathan-Livingston-Seagull's suggestion and let us know if that helps. Thanks!

[2019-05-03 12:41] muddham commented on #28304
@MChaus Current master is TF1.13.1. checkout the master branch (not r1.13) and compile tensorflow from there?checkout the master branch (not r1.13) and compile tensorflow from there? Thanks!

[2019-05-03 12:55] achandraa commented on #28329
Please let us know if you are still facing the problem. Thanks!

[2019-05-03 12:57] muddham commented on #28346
@olesalscheider In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-05-03 13:03] achandraa commented on #28347
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there and provide support. Thanks!

[2019-05-03 13:19] robzor92 commented on #24496
Running into the same issue on a GTX 1050 using tensorflow-gpu 1.13.1 from pip with CUDA 10.0/cuDNN 7.4.1 with Nvidia driver 410 on Ubuntu 16.04.

[2019-05-03 13:20] muddham commented on #27761
@farzaaCould you please provide the exact steps followed? In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. This is  the [link](https://www.tensorflow.org/install/source) for installation. Thanks!

[2019-05-03 13:20] plagree opened #28366 "Error with custom ResourceBase"
**My system information**
- MacOS 10.12
- Python 3.6.6
- TensorFlow version: 1.13.1

**Description:**
When implementing a custom `ResourceBase` with the help of `tensorflow/core/framework/resource_op_kernel.h`, I get the following error

        [F tensorflow/core/lib/core/refcount.h:90] Check failed: ref_.load() == 0 (1 vs. 0)
        1]    29701 abort      python test.py

Here is the full code t

[2019-05-03 13:22] achandraa commented on #28332
Please try to have a look on this [issue](https://github.com/tensorflow/tensorflow/issues/24496) and let us know if that helps to solve the problem. Thanks!

[2019-05-03 13:26] #27418 closed

[2019-05-03 13:34] kiunthmo commented on #26011
Unpack the example?

[2019-05-03 13:36] dmus opened #28367 "tf keras model.fit does not work with strings as labels"
<em>Please make sure that this is a bug. As per our [GitHub Policy]**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): tf 1.12, '2.0.0-dev20190503'
- Python ve

[2019-05-03 13:46] muddham commented on #28232
@Jsevillamol Please confirm if you are happy to close this issue.

[2019-05-03 13:57] MJfadeaway commented on #13641
Any news?

[2019-05-03 14:03] muddham commented on #28178
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-03 14:03] #28178 closed

[2019-05-03 14:05] muddham commented on #28181
@CJMenart Could reproduce the issue.Log shows as below.

Tensor("conv2d_1/Relu:0", shape=(None, 24, 24, 64), dtype=float32)
Tensor("conv2d_1/Relu:0", shape=(None, 24, 24, 64), dtype=float32)

[2019-05-03 14:10] rsepassi commented on #26011
You may want `tf.size(example)` which returns a scalar. `tf.shape` returns a vector of the sizes of each dimension.

[2019-05-03 14:31] tensorflowbutler commented on #26864
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-03 14:31] tensorflowbutler commented on #27843
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-03 14:31] tensorflowbutler commented on #27844
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-03 14:31] tensorflowbutler commented on #27854
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-03 14:34] ajarthurs commented on #28269
Closing since `79fca9a` enables `RESIZE_BILINEAR` to quantize, u/int-8 support added since `fc4005be8eed17eccce613b52888c0b783565800`

[2019-05-03 14:34] #28269 closed

[2019-05-03 14:57] speardutch commented on #24828
rtx 2070
ubuntu 18.04
tensorflow 1.13.1
cudnn 7.3.1
changed from cuda 10 to cuda 9 worked for me.
cuda 10(X) -> 9.2(X) -> 9.0(0)

[2019-05-03 15:11] NicolasBernard456 opened #28369 "UnicodeDecodeError during configure, compiling from source"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: /
- TensorFlow installed from (source or binary):source
- TensorFlow version:1.14
- Python version:3.5
- Installed using virtualenv? pip? conda?:pip
- Bazel version (if compiling from source):0.21.1
- GCC/Compiler ver

[2019-05-03 15:15] speardutch commented on #24828
strange....I found pattern. In my case,
1. It does not have anything with cuda version.

2. Add the code is needed.
from tensorflow.compat.v1 import ConfigProto
from tensorflow.compat.v1 import InteractiveSession

config = ConfigProto()
config.gpu_options.allow_growth = True
session = InteractiveSession(config=config)

3. CTRL+C & restart jupyter notebook and rerun -> it works
4. restart kernel ->

[2019-05-03 15:34] SubigyaPanta commented on #27306
I have installed cudnn 7.4.2
This is what I get when verifying Cudnn installation:
![cudnn-test-passed](https://user-images.githubusercontent.com/2729048/57148333-93766080-6df3-11e9-88af-5fa727660cd0.png)

What other cuda-libraries do I need to install ?

[2019-05-03 15:36] wdirons commented on #28364
The messages posted above all look like informational messages and not warnings.

[2019-05-03 15:38] #27058 closed

[2019-05-03 15:58] arnoegw commented on #26835
The crash with hub.KerasLayer likely needs to be fixed in tensorflow-hub, not tensorflow. I've filed issue https://github.com/tensorflow/hub/issues/287 for that.

Can this issue here be closed then?

[2019-05-03 15:59] arnoegw commented on #27688
The crash of Model.save() when using hub.KerasLayer likely needs to be fixed in tensorflow-hub, not tensorflow. I've filed issue tensorflow/hub#287 for that.

Can this issue here be closed then?

[2019-05-03 16:02] arnoegw commented on #27909
@raspberrypisig: The problem related to hub.KerasLayer in your [comment above](https://github.com/tensorflow/tensorflow/issues/27909#issuecomment-484033439) looks like an instance of issue https://github.com/tensorflow/hub/issues/287, which likely needs to be fixed in tensorflow/hub, not tensorflow/tensorflow.

[2019-05-03 16:09] sadatnfs commented on #27989
@achandraa the solution was to also build tensorflow-estimator and THEN import TF. That works.

[2019-05-03 16:09] #27989 closed

[2019-05-03 16:14] kernelizd commented on #28326
In the webpage you referred me to tensorflow.org, it mentions this:
**cuDNN SDK (>= 7.4.1)**
as software requirement for TF 2.0
my cuDNN however is only 7.3 cause that is the latest Anaconda is offering.
It could very well be because of this

[2019-05-03 16:18] gashmish commented on #22146
@ANSHUMAN87: Everything i all right, by "this issue" i mean current topic about TOCO converter.

1) In TF 1.13.1 if I create and convert simple model with above script I get model with Conv2d and without BatchToSpace and SpaceToBatch. Output size is  [?, 48002, 40] instead of  [?, 48000, 40], so my production model will not work. This is ResolveDilatedConv transformation Bug.

2) If I disable Reso

[2019-05-03 16:25] jasonzhang2022 opened #28371 "Suggestion for Neural Machine Translation with Attention tutorial"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version:
2.0
- Doc Link:
https://www.tensorflow.org/alpha/tutorials/text/nmt_with_a

[2019-05-03 16:47] gashmish commented on #22146
@ANSHUMAN87:

In original Keras model and in Tensorflow model we get 48000 when using padding='causal'

[code]

[2019-05-03 16:49] brealisty opened #28372 "tensorflow2.0 InvalidArgumentError for multiple GPU"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:  NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows server 2016
- **TensorFlow installed from (source or binary)**: pip install
- **TensorFlow version (use command below)**: 2.0-alpha0
- **Python version**: 3.6
- **CUDA/cuDNN version**: cuda10.0; cudnn

[2019-05-03 16:50] md-k-sarker commented on #27269
Faced no logging module in tensorflow 2.0, which is obvious. Any update on this?
And if logging is not available in tensorflow 2.0 what is the alternative for logging, pure python logging?

[2019-05-03 16:56] olesalscheider commented on #28346
You can use this code to reproduce the issue:

https://gist.githubusercontent.com/olesalscheider/366f33115016ac9d5f2976ec17124496/raw/f5b68bf571f325742c1bc24658f0de04b3d3b33c/wrong_outputs.py

The output names should be the same before and after conversion but they are not.

[2019-05-03 16:59] Jonathan-Livingston-Seagull commented on #28318
When I tried to make the following minimal example, I have found the reason for the reported issue. However I get another exception after solving that one. Please find the minimal code below. The source of the error seems like calling 'np.isfinite()' method inside the tf function definition. In my real code this method is being called by a third party lib that I use inside my tf function definitio

[2019-05-03 17:04] zlichen commented on #23906
Hi! I guess you have to set different scope names for your two network in order to make distinction.

[2019-05-03 17:05] zlichen commented on #23906
Hi! I guess you have to set different scope names for your two networks in order to make distinction.

[2019-05-03 17:13] Knize opened #28373 "TensorFlow Lite converter type mismatch during keras model conversion"
**System information**
- OS Platform and Distributio: Elementary OS 5
- TensorFlow version (use command below): 1.13.1
- Python version: 3.7.3
- CUDA/cuDNN version:
cudatoolkit               10.0.130
cudnn                     7.3.1
- GPU model and memory: GTX 1060 6 Gb

**Error**
TypeError: Input 'y' of 'Equal' Op has type float32 that does not match type int32 of argument 'x'.
in tensorflow/pytho

[2019-05-03 17:21] Mainak431 commented on #27306
pip install cuda-libraries-10-1

And even after this if it fails.

Check my blog here.

On Fri 3 May, 2019, 9:11 PM SubigyaPanta, <notifications@github.com> wrote:

[2019-05-03 17:24] sleighsoft opened #28374 "tf.data.Dataset allow change of structure"
**System information**
- TensorFlow version (you are using): v2
- Are you willing to contribute it (Yes/No): only python code

**Describe the feature and the current behavior/state.**
My current use case is as follows:
I get a dataset from `tensorflow_datasets.load()` where the structure is `(image, label)`, e.g. `MNIST`. I would like to only use the `image` information of that dataset. Therefore

[2019-05-03 17:27] spcp001 commented on #1355
Try clear_session() if you running the model consecutively.

`from keras import backend as K`
`K.clear_session()`
you can find more in the following link:
[https://forums.fast.ai/t/how-could-i-release-gpu-memory-of-keras/2023/8](url)

[2019-05-03 17:28] danaugrs commented on #26098
I finally tried removing the workaround using version `2.0.0-alpha0` but the problem is still there!

With workaround (works):
[code]

Without workaround (fails, but used to work in TF1):
[code]

Full stack trace:
[code]
It's the same original problem - seems like it was never fixed. Can you guys reopen and take a look?

[2019-05-03 17:43] lissyx commented on #26653
Ok, never mind, this was noise, in my case the recurrent shutdown was, as I expected at first, just a power issue. Looks like when installing the new setup I forgot we should wire two PCIe cables per RTX, and I only wired one using the Y connector to plug both on each RTX.

[2019-05-03 17:56] pavithrasv commented on #27857
@devinkmoore Are you seeing any loss scaling related issue or is that resolved?

[2019-05-03 18:08] wangpengmit commented on #28280
random_ops.random_uniform is a stateful op, so every K.eval on it (or a graph containing it) will return a different result. In your TF2 code, eager mode is on by default, so random_ops.random_uniform is evaluated only once. Note that random_ops.random_uniform is going to be replaced by new stateful random ops in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/stateful_r

[2019-05-03 18:44] mhurliman commented on #27902
At its core this is a feature request, not a bug report. I just happened upon the missing feature through a performance drop.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/resize_bilinear_op_gpu.cu.cc#L350

[2019-05-03 18:44] jdduke commented on #27967
Is there a reason you cannot use TensorFlow Lite? In general, TensorFlow Mobile development is being deprecated, and its build system is not well-maintained, particularly on the gradle (non-bazel) end.

[2019-05-03 18:55] mhurliman commented on #27902
I did a quick-n-dirty conversion yesterday to just accept a second templated parameter throughout the call-stack and registration code - it just casts it at the beginning/end of the kernel. It built successfully but haven't gotten time to test it at all.

If it works I'll test the performance against a version that casts and performs all computations in the template type to determine whether its w

[2019-05-03 19:24] NiklasDL commented on #28280
@wangpengmit Thanks for the clarification.

[2019-05-03 19:24] #28280 closed

[2019-05-03 19:24] janosh opened #28377 "Looping over tf.data.Dataset raises OutOfRangeError in TF 2.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): very little custom
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.14.4
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.0.0-dev20190501
- Python version: 3.6.7 (miniconda)

**Describe the current behavior**

[code]

**Code to re

[2019-05-03 19:36] #28130 closed

[2019-05-03 19:41] iganichev commented on #14129
tf.distribute work for TF 2.0 is going strong and being tracked internally. This issue serves no purpose.

[2019-05-03 19:41] #14129 closed

[2019-05-03 19:43] iganichev commented on #14080
Shape propagation should be working with @tf.function now.

[2019-05-03 19:43] #14080 closed

[2019-05-03 19:47] jsimsa commented on #28130
@mhurliman regarding the difference between `parallel_interleave` and `interleave`, did you set the `num_parallel_calls` argument of `interleave`? if so, could you please share the two versions of the input pipeline. The performance of the two transformations should be identical. If it's not, it's a bug that I would like to fix.

[2019-05-03 19:50] dd1923 commented on #27909
@atomextranova can you try disabling eager execution? I am facing the same issue and it only happens when eager execution is on.

[2019-05-03 20:09] ymodak commented on #28068
For using ```tf.train.get_or_create_global_step``` in TF 2.X ```tf.compat.v1.train.get_or_create_global_step()``` is correct conversion. You will have to use v1 compatibility module to use that function.

[2019-05-03 20:20] samhodge commented on #27441
Here is another error report
‘’’
Rotobot: tfSession->Run failed: Unknown: Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above.
         [[{{node xception_65/entry_flow/conv1_1/Conv2D}} = Conv2D[T=DT_FLOAT, data_format="NCHW", dilations=[1, 1, 1, 1], padding="VALID", strides=[1, 1, 2, 2], use_cudn

[2019-05-03 20:24] jiayiliu commented on #24591
Thanks for sharing the workaround @stevehawley .  I agree with you that the problem is not solved, especially the `simple_save` is marked as DEPRECATED in the documentation.   I switched to keras.applications rather than using the tf.hub.

[2019-05-03 20:28] tarrade commented on #28068
ok, for 'optimizer.minimize(loss, tf.compat.v1.train.get_or_create_global_step())'
but even using 'optimizer.minimize(loss,var_list=model.weights)' which is more native for TF 2.0 and doesn't use 'tf.train.get_or_create_global_step' it crashing so the issue is somewhere else I guess. Thanks for the follow up.

[2019-05-03 20:29] jschneier opened #28381 "TPU Performance Regression 1.12 -> 1.13"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04 & 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.12.0 & 1.13.1
- Python version: 3.6.8
- CUDA/cuDNN version: N/A TPU
- GPU model and memory: N/A

[2019-05-03 21:03] jschneier commented on #28381
For reference this profile was captured during training on MobileNet but we have also observed this on other convolutional architectures. We also use quantization.

[2019-05-03 21:09] wdirons commented on #28369
It looks like this pull request was posted to fix this problem: https://github.com/tensorflow/tensorflow/pull/28209

It is not merged yet

[2019-05-03 21:59] #28081 closed

[2019-05-03 22:03] ymodak commented on #28068
Okay. I will close this issue for now. You can reopen when additional information is available or can file a new issue if it's not a related error. Thanks!

[2019-05-03 22:03] #28068 closed

[2019-05-03 22:12] melissagrueter commented on #28195
In my earlier discussion with Skye about this issue (linked above), we discussed capturing as a solution to this problem:

“Based on some offline discussion, I think we're leaning towards adding the ability to "capture" Tensors in a TF_Graph. This is very similar to allowing inputs from other Graphs. This would be a step towards representing functions as graphs in the C API, which is probably a pr

[2019-05-03 22:59] melissagrueter opened #28385 "[C API] cond op"
**System information**
- TensorFlow version (you are using): master
- Are you willing to contribute it (Yes/No): yes

**Describe the feature and the current behavior/state.**
Feature: a cond operator for the C API, similar to [tf.cond](https://www.tensorflow.org/api_docs/python/tf/cond).

Current state: The C API currently includes the control flow primitives needed to implement cond, but it does

[2019-05-03 23:06] melissagrueter commented on #28385
Two questions:

-  I'd eventually like to use the cond op through the Java bindings. Since while loops are implemented at the C API level (rather than in the higher level language bindings using primitives), I assume we'd want to implement cond at the C API level too. Is this accurate?

- given that control flow in TF is moving towards a functional representation, is it valuable to contribute the

[2019-05-03 23:08] melissagrueter commented on #28385
cc: @saxenasaurabh

[2019-05-03 23:44] haozha111 commented on #28224
If you load your .tflite model with Netron(https://lutzroeder.github.io/netron/), it will show exactly two outputs. I'm wondering how you build & convert this model. Could you share the code for the model and the command you used to convert the model?

[2019-05-04 00:07] agnz commented on #25513
@yifeif  - Sorry for a very delayed response.

This flag is already automatically added from TF_CFLAGS...

Please see below a full set of steps to reproduce the problem. Steps are taken from this guide: [https://github.com/tensorflow/custom-op](https://github.com/tensorflow/custom-op)
[code]
Then inside the container
[code]
Everything works as expected. Now modifying zero_out_kernel.cc to include

[2019-05-04 00:38] scooter4j commented on #28323
@jvishnuvardhan what would I need to do to take on this issue and do the fix?

[2019-05-04 01:07] Oldhuntor commented on #28364
Thank you for your reply，Although it can not be considered as error or warning,it stuck in epoch1 and came out this message.

[2019-05-04 01:23] ymsaputra commented on #28337
The aforementioned error happens before the training process begins

Here is the snippet of the code:

[code]

Then I run multiple pythons as follows:

[code]

[2019-05-04 02:22] cwbeitel commented on #28327
So this appears to be resolved (at least on my end) by resolving issues with both parameterization and environment credentials. In the former case the retries error can be produced if e.g. a non-existent table name or the wrong column family is provided. In the latter case I'm seeing the error occur if I don't unset `GOOGLE_APPLICATION_CREDENTIALS` which in my case is pointing to a default GCP ser

[2019-05-04 05:35] samhodge opened #28388 "How to build static libtensorflow_cc.a and libtensorflow_framework.a for Linux and MacOS"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.13
- TensorFlow insta

[2019-05-04 06:17] syoyo commented on #28224
@haozha111 I have created `.tflite` using python binding(generated from on `r1.14` schema.fbs) with our own converter.

Here is a code snippet for serializing `ADD` op.

[code]

Whole part of our converter is W.I.P. and difficult to cut out for creating minimal & reproducing the issue atm.

[2019-05-04 06:31] japrogramer commented on #17411
I have this issue with tensorflow-gpu 2.0
[code]
[code]

[code]

[2019-05-04 06:54] Jonathan-Livingston-Seagull commented on #28326
You could uninstall cudnn from the conda environment and install the required version of cudnn in your windows system natively and update the path variable accordingly. There is a separate section for windows set up in that link. Please follow those steps.

[2019-05-04 07:23] kernelizd commented on #28326
Great idea. Thanks

[2019-05-04 09:03] hn2 opened #28389 "DLL load failed: The specified module could not be found."
Exception has occurred: ImportError
DLL load failed: The specified module could not be found.
  File "C:\Users\hanna\Anaconda3\Lib\site-packages\numpy\_distributor_init.py", line 34, in <module>
    from . import _mklinit
  File "C:\Users\hanna\Anaconda3\Lib\site-packages\numpy\__init__.py", line 140, in <module>
    from . import _distributor_init
  File "C:\Users\hanna\Anaconda3\Lib\site-package

[2019-05-04 11:01] nagads commented on #24253
I face the same issue. Appreciate if any progress on this

[2019-05-04 11:26] anujonthemove commented on #23809
I was stuck with a similar error but then I was able to resolve it. Also answered something similar on [stackoverflow](https://stackoverflow.com/questions/49117938/unable-to-use-trained-tensorflow-model/55981972#55981972)

[2019-05-04 11:27] atemysemicolon commented on #28086
This guide is for 10.1 , not 10

[2019-05-04 11:43] Whisht commented on #28173
@lamberta No matter tensorflow.google.cn or tensorflow.org, I encountered the same error. And I have turned the  blockers off. For that I did't misjudge, I have tried to access these website through other browsers, such as Firefox and Microsoft Edge which have no type of plug-ins.

[2019-05-04 12:00] SanthoshRajendiran commented on #28206
@futuyao  I think cast operation does not support bool input.

[2019-05-04 12:01] SanthoshRajendiran commented on #26297
@impjdi Any updates on SSBO??

[2019-05-04 12:34] caissalover commented on #27644
@mdanatg No, that is not true, I have just now ran my graph at parallel_iterations=1 and 114, and my GPU utilization and time of running the graph didn't change much. It is not optimized.

[2019-05-04 12:41] tensorflowbutler commented on #18769
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-04 13:13] mdanatg commented on #27644
Right, scratch that last note, it was referring to a sentence in the original post.

@agarwal-ashish , could we use the bailing-out logic that you have in pfor and raise an error when this directive was present? AutoGraph can detect it, but statically checking for loop-carried state would be a more involved effort which we wouldn't have time to work on right away.

[2019-05-04 13:17] jiayeah9508 opened #28390 "different results on different machine"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2019-05-04 14:20] tarrade commented on #27583
I don't know if it normally take 2 days to deploy the new version of the doc, but I still see the same issue in the doc:
![image](https://user-images.githubusercontent.com/12021701/57180374-4c867a80-6e88-11e9-97ee-1da60b9932bf.png)
Thanks

[2019-05-04 14:27] betty35 commented on #20727
Had the same issue when I moved the old-versioned codes to new environment, but found a workaround, kinda....
Simply give up initiating it with AttentionWrapperState, and do this:
[code]
And it worked ヽ(｀Д´)ﾉ︵ ┻━┻ ┻━┻

(Tensorflow version: 1.13.1)

[2019-05-04 14:48] KUASWoodyLIN commented on #28334
@muddham
I also have test on google colab, and the google colab is only run on single GPU.
but I think this problem is only come out when with multi-gpu.

[2019-05-04 15:34] lvvkas opened #28393 "Error: Chunk at .... - Custom object detection train.py"
Hey,
I am quite new to tensorflow object detection.
Currently running the newest version 1.13.1. My CUDA is version 10.0, cudnn version is also corresponding. I have set the model settings properly, labelmap is fine. But when I start training it shows this instead of the training progress. This is the command I use for training:
python train.py --logtostderr --train_dir=Training_dir/ --pipeline_co

[2019-05-04 15:40] Atrus619 opened #28394 "Custom TF 2.0 training loop performing considerably worse than keras fit_generator - can't understand why"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-05-04 15:53] maxima120 opened #28395 "keras_to_tpu_model error "No OpKernel was registered to support Op ConfigureDistributedTPU""
Running GCP VM (made for TPU) with TPU v2-8, running ML code in **Jupyter**, trying to **convert keras model to TPU** gives error
**No OpKernel was registered to support Op 'ConfigureDistributedTPU'**

**System information**
GCP VM build from image "debian-9-tf-1-13-v20190504"
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 9
- TensorFlow installed from (source or binary): preins

[2019-05-04 16:10] KUASWoodyLIN commented on #28333
@gadagashwini Here is [Code ](https://colab.research.google.com/gist/KUASWoodyLIN/5567f55bc205f04998db8f9f7a425c34/-keras-ipynb.ipynb)on google colab that I have modified.

[2019-05-04 16:50] SabahKarim opened #28396 "Build did NOT complete successfully; ERROR: expression must have a constant value"
**System information**
- OS Platform and Distribution: Windows10
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.12
- Python version: 3.36
- Bazel version: 0.15.0
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: 9.0/7.5.1
- GPU model and memory: Quadro K1100m

**Describe problem**

Hello guys, I have been trying to build tf-gpu on source with

[2019-05-04 17:05] rothn commented on #18769
Yes it’s still an issue

[2019-05-04 18:07] Binero opened #28397 "Tensorflow does not build with "--config=monolithic": "multiple definition""
**System information**
- OS Platform and Distribution: Ubuntu 19.04 64bit on Digital Ocean
- TensorFlow installed from (source or binary): source
- TensorFlow version: r1.13 branch
- Python version: 3.7.3 (/usr/bin/python3)
- Bazel version (if compiling from source): 0.21.0
- GCC/Compiler version (if compiling from source): 8.3.0
- CUDA/cuDNN version: disabled

Compiling tensorflow from source giv

[2019-05-04 18:15] ispmarin opened #28398 "Passing tf.data.Dataset to model.predict raises "ValueError: The `batch_size` argument must not be specified when using dataset as an input.""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution: 19.04
- TensorFlow installed from (source or binary): pip install tensorflow==2.0.0-alpha0
- TensorFlow version (use command below): 2.0.0-alpha
- Python version: 3.7.3

**Describe the current behavior**
Running simple classification example with

[2019-05-04 18:53] Madder opened #28400 "[Regression] Conv1D output shape is lost when dilation_rate != 1."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Custom simple

[2019-05-04 19:04] #28395 closed

[2019-05-04 19:04] maxima120 commented on #28395
it seems mix of keras and tf.keras isn't working

[2019-05-04 19:11] ANSHUMAN87 commented on #22146
@gashmish : I am extremely sorry, i did some misinterpretation of the issue. Now i got the issue clearly.
There is a missed scenario which need to be handled in ResolveDilatedConv(). I will upload a fix for this and update you on that. Thanks a lot for your detailed reply.

Also i am little curious about your STRIDED_SLICE problem. Because no matter you disable as many Transformation like ResolveD

[2019-05-04 21:05] zzh8829 commented on #27769
@abhigyank the alternative is save to `*.tf` which will create tensorflow checkpoint files instead of hdf5.

[2019-05-04 22:22] gh2k commented on #22766
Another hack is to remove the `ABSL_ASSERT` from the offending line. wfm, ymmv.

[2019-05-04 23:22] rootkitchao commented on #27780
Thanks for reply and apologize for the delayed response.I have rewritten a test code.But this code encountered a new problem in the current tensorflow version (1.13).
If I use tf.contrib.mixed_precision.LossScaleOptimizer, the training does not work properly and displays a warning when using depthwise converge `(WARNING:tensorflow: It seems that global step (tf.train.get_global_step) has not been

[2019-05-04 23:38] rootkitchao commented on #28393
Obviously this is because of memory overflow.The batch size or input size you set is too large.For more information, you need to provide configuration files and device information. Please follow the template for the issue.

[2019-05-04 23:40] rootkitchao commented on #28353
It seems that you are using a two-stage detector such as [faster r-cnn](https://arxiv.org/pdf/1506.01497.pdf).It seems that the decline in RPN loss has a greater impact on detection performance.

[2019-05-05 00:14] RajdeepPy commented on #23755
I have the same problem

Traceback (most recent call last):
  File "C:\Users\princ\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 18, in swig_import_helper
    fp, pathname, description = imp.find_module('_pywrap_tensorflow_internal', [dirname(__file__)])
  File "C:\Users\princ\Anaconda3\lib\imp.py", line 297, in find_module
    raise ImportError(_ERR_MSG.format

[2019-05-05 01:38] SunGaofeng commented on #28171
Yes, when run outside, every thing is ok. I can built containers from other images and run cuda programs inside them. But for the image pulled from tensorflow/tensorflow:latest-gpu, it failed to work.

Sun May  5 09:34:45 2019
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 396.26                 Driver Version: 396.26                    |
|------------

[2019-05-05 02:38] bwanaaa commented on #26182
The simplest and fastest solution! Also do this after

conda install tensorflow-gpu

and this is what is installed

absl-py==0.7.1
astor==0.7.1
certifi==2019.3.9
gast==0.2.2
grpcio==1.16.1
h5py==2.9.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.1
mkl-fft==1.0.12
mkl-random==1.0.2
mock==2.0.0
numpy==1.16.3
pbr==5.1.3
protobuf==3.7.1
scipy==1.2.1
six==1.12.0
tensorboard==1.13.1

[2019-05-05 03:33] CatEek commented on #25057
I've removed some non-relevant lines

[code]

[2019-05-05 03:40] liuneng1994 commented on #27120
optimizer code:
[code]
I tried to create new optimizer instance in every training step:
[code]
I updated new version tf_nightly_gpu_2.0_preview-2.0.0.dev20190504-cp37-cp37m-manylinux1_x86_64.whl,  I got same error, :
[code]

[2019-05-05 03:41] gandalflee opened #28403 "dataset in tf2.0 lack of key properties and methods which already in tf1.13"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-05 03:44] avishek15 commented on #27952
I am facing a similar issue with Cifrarnet as well. I have trained the cifarnet model with quantization awareness. The model even converts into frozen model. During the conversion with tflite_converter, I get the following error:

[code]
Are there certain ops for which fake quant node needs to be manually added? Any insight into this will be of great help.

Thanks.

[2019-05-05 03:48] wangyexiang commented on #26108
Same issue...  And K.clear_session() doesn't work.

[2019-05-05 04:30] valdivj opened #28404 "Missing tensorflow.compiler.xla.service import hlo_pb2"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-05 05:49] SunYanCN opened #28405 "GPU utilization of these two Epoch is very low"
I run https://www.tensorflow.org/alpha/tutorials/text/transformer in Calab with GPU.
The result is a strange phenomenon. The first two Epoch are very slow. I tried to run on my local machine and the result was the same. According to observations, the GPU utilization of these two Epoch is very low, almost zero. What happened to these two Epoch?

[code]

[2019-05-05 05:51] asa008 commented on #25552
I install tensorflow 1.13.1 from source with bazel 0.21 successfully, with cuda 10.0, cuDNN 7.5, RTX 2080, win10 x64, by command:
[code]

[2019-05-05 06:08] goljx commented on #28208
I think tf. Reshape just realized dimension to get data5, and I want to get is mathematical dimension to get data9.
Dgumo in stackoverflow suggested I can try data9 = tf.layers.flatten(tf.transpose(data1, 0, 2)). Actually I could get what I want from this.
And latter I found I could get the right result by data9=tl.unfold(data1, mode=2) by  import tensorly as tl
and from tensorly.decomposition imp

[2019-05-05 06:10] c-nuro commented on #7480
This is still an issue in 1.13.

[2019-05-05 06:18] helcril commented on #27997
I tried to invesigate this topic a little more.
So for me installing python 3.6.x does not solve the problem. But installing python 3.6.x  + tensorflow 1.5 works really well. So, if the first one does not help, try both.
Other packages, such as Keras or Theano can be up to date, they have no effect in this case.

[2019-05-05 06:37] shenyingying commented on #28326
hi ,why there is also  UnknownError: Failed to get convolution algorithm. when i use cuda 10.0 cudann 7.4.1

[2019-05-05 06:38] chencan15 commented on #26819
Sorry for not response promptly.
Thanks for your reply！

I tried your first options——add a lot of control dependencies. But it still doesn't work. Here is the code:

input_size = A_size * A_size
output_size = B_size * B_size

w = tf.Variable ( tf.random_normal ( [input_size , output_size ] ) )
b = tf.Variable ( 0.0 )

prediction = tf.matmul ( A , w ) + b

C = tf.Variable ( np.zeros ( [ batch_size

[2019-05-05 06:49] kernelizd commented on #28326
I haven't actually tried it, I just blamed the my 7.3 cudnn. Based on your report that the same problem exists in 7.4, I reopened the issue.

[2019-05-05 07:11] syoyo opened #28406 "[tflite doc] CONV_2D_TRANSPOSE -> TRANSPOSE_CONV"
## Existing URLs containing the issue:

https://www.tensorflow.org/lite/guide/ops_compatibility

## Description of issue (what needs changing):

TensorFlow `r1.13`.

`CONV_2D_TRANSPOSE` op is not present in TensorFlow Lite schema.
After glimpsed `toco` source code,  `tf.nn.conv2d_transpose`(`Conv2DBackpropInput`) is converted to `TRANSPOSE_CONV`.

https://github.com/tensorflow/tensorflow/blob/r1.1

[2019-05-05 07:20] ly0koS commented on #28223
Thanks,downgrade to 1.12 fixed my problem!

[2019-05-05 07:24] zhangalex commented on #10642
Yes, just append --runtime=nvidia to your docker command. The reason is nvidia-docker v1 uses the nvidia-docker alias, where v2 uses docker --runtime=nvidia.

[2019-05-05 07:49] el1995 opened #28407 "Performance issue with the C API"
I'm currently working on a project that requires deep learning inference with Tensorflow's C API. I have a trained neural net (format: frozen graph) to do this. We use the inference for Computational Fluid Dynamics, which makes performance a key aspect for me. For example, one single simulation includes thousands of timesteps. In each timestep, the inference must be carried out for thousands of se

[2019-05-05 07:58] WuChannn opened #28409 "Mac os tensorflow website gets wrong"
when i open the website with my macbook air, the website gets wrong results like following:
![Screen Shot 2019-05-05 at 3 54 53 PM](https://user-images.githubusercontent.com/25492462/57190612-ab162c00-6f4e-11e9-82f4-835830952fb8.png)
![Screen Shot 2019-05-05 at 3 54 53 PM](https://user-images.githubusercontent.com/25492462/57190645-12cc7700-6f4f-11e9-9df3-b05ccb829555.png)

[2019-05-05 08:19] BelieveOP5 commented on #28257
thanks for your info.

[2019-05-05 08:19] ANSHUMAN87 commented on #22146
@gashmish : I have uploaded fix for your problem, please refer #28410. I have verified. Request you also to verify with this change. And do let me know your results.

Also request you to share the code snippet or steps to reproduce STRIDED_SLICE problem. I suspect this could be some other issue.

Thanks a lot!

[2019-05-05 08:24] byronyi opened #28411 "Eigen version bump breaks nightly AVX512 build with gcc 6.3"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 9.9
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy): N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: e432bf03931f4062f7c5e3a1553aff61a7294751
- Python version: 2.7.13
- Installed using virtualenv? pip? conda?: virtualenv
- Bazel version (if compiling from source): 0.24

[2019-05-05 08:25] byronyi commented on #28411
Gentle ping @ezhulenev

[2019-05-05 08:52] wangyexiang commented on #27511
Dear sir. Did you resolve your issue?@bguillouet

[2019-05-05 09:15] snowpeakz opened #28412 "Threadpool created by SingleThreadedCpuDevice"
Here we have a question about the threadpool created by SingleThreadedCpuDevice which could make sense on performance.
Each time the constructor of SingleThreadedCpuDevice is called, a threadpool with only one thread will be created.

  (single_threaded_cpu_device.cc:44)
[code]

As far as we know, a threadpool cost more than a thread, so why a SingleThreadedCpuDevice create a threadpoll instead of

[2019-05-05 09:16] SunYanCN commented on #28405
Notice that such information appears when running locally, I don't know if it is related.
[code]

[2019-05-05 09:39] caiya55 commented on #22019
I encountered the same problem. @Stellaxx24

[2019-05-05 10:13] Stellaxx24 commented on #22019
这个和tensorflow的版本有关系 你安装1.11.0试试

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: ZHANG ZHAOXIANG <notifications@github.com>
发送时间: Sunday, May 5, 2019 7:45:01 PM
收件人: tensorflow/tensorflow
抄送: Stellaxx24; Mention
主题: Re: [tensorflow/tensorflow] [Bug] ImportError: cannot import name 'checkpoint_management' tf1.10 (#22019)

I encountered the same problem. @Stellaxx24<h

[2019-05-05 10:31] mhsszm commented on #20139
2019-05-05 18:30:24.660685: I tensorflow/core/grappler/devices.cc:51] Number of eligible GPUs (core count >= 8): 1
2019-05-05 18:30:25.215100: I tensorflow/contrib/tensorrt/convert/convert_nodes.cc:2853] Segment @scope 'resnet_v1_50/', converted to graph
2019-05-05 18:30:25.334662: W tensorflow/contrib/tensorrt/convert/convert_graph.cc:724] Can't determine the device, constructing an allocator at

[2019-05-05 10:55] parekhakhil commented on #28389
During testing of installation of tensorflow 1.12.0 ,tensorflow-gpu 1.12.0, tensorboard 1.12.0 I found this error in python idle 3.6
`>>> import tensorflow as tf
Traceback (most recent call last):
  File "C:\Users\parek\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C

[2019-05-05 11:03] j0ck3r2004 commented on #23755
@RajdeepPy @ibrahimabob @osama12sy @Saran-nns @ymodak @MohammadDabbas
ok so i did a research on this erro and i found that tensorflow only support python 3.5x & 3.6x so download and install one of these 2 versions the install the packages you need and run the program. for me it worked

[2019-05-05 11:05] parekhakhil opened #28413 "tensorflow installation error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution :windows 10
- TensorFlow installed from :tensorflow.org
-

[2019-05-05 11:20] ZhouYuChen commented on #23687
@guptapriya, Both 1.13 and nightly still give AssertionError.
1.13
[code]

nightly
[code]

[2019-05-05 11:22] ZhouYuChen commented on #23687
@guptapriya, Both 1.13 and nightly still give same errors.

[2019-05-05 14:05] rootkitchao commented on #28413
The tensorflow gpu 1.12 installed via pip requires CUDA9.0, 1.13 requires CUDA10.0.Please install the correct version of CUDA and the corresponding cuDNN.

[2019-05-05 14:24] pglushkov opened #28414 "[C API] support for CudnnCompatibleLSTMCell in native code"
**System information**
- Have I written custom code : Yes
- OS Platform and Distribution : Ubuntu 16.04
- TensorFlow installed from : binary
- TensorFlow version : 1.12
- Python version: 3.6
- CUDA/cuDNN version: CUDA 9.0 /  CuDNN 7,1
- GPU model and memory: NVidia p100, 16 gb

**Bug description**
After training the model in Python with CudnnCompatibleLSTMCell used and running the graph-freeze pro

[2019-05-05 14:54] jsl303 opened #28415 "Can't Reproduce Results With tf.keras.layers.Conv2D"
Putting the code below in the beginning of my script, I can consistently reproduce the result 100%. However this is only true if I only use Dense layer.

[code]

If I insert this one line "model.add(Conv2D(32, 3, activation='relu'))" before "model.add(Flatten())", it produces different results every time I rerun.

Input> flatten > dense produces consistent result, but input > conv2d > flatten > de

[2019-05-05 15:33] Binero commented on #28397
The problem is solved by removing the "--config=monolithic" option.

[2019-05-05 15:57] bluesbeyond commented on #28334
got the same problem just now.
  468/Unknown - 5s 12ms/step - loss: 0.0570 - accuracy: 0.9830---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-36-e5f10b39d923> in <module>
----> 1 model.fit(train_dataset, epochs=10000, callbacks=callbacks)

/usr/local/lib/python3.7/site-packages/ten

[2019-05-05 16:00] bluesbeyond commented on #28334
This is fixed by method of KUASWoodyLIN. Thanks.

[2019-05-05 17:07] bluesbeyond opened #28417 "Reloaded replicated model did not work for distributed training"
I am running distributed tutorial as following. I can use the unsaved 'model' in replicated mode to evaluate but the reloaded replicated_model didn't work.
I am using CentOS7.5+Python3.7.1. I am not sure what's wrong with this.
In [45]: with strategy.scope():
    ...:     replicated_model=tf.keras.experimental.load_from_saved_model(path)
    ...:     replicated_model.compile(loss='sparse_categoric

[2019-05-05 18:04] jkotra opened #28418 "[2.0 alpha] tf.keras callbacks - Invalid argument "callback" passed to K.function with TensorFlow backend"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes.
- OS Plat

[2019-05-05 19:13] spencerfrei commented on #20915
I have the same problem currently.  I ran into training vs. evaluation issues when using a model where I manually created trainable variables and used tf.nn.batch_normalization.  It seemed there was some modifications to the update ops that I should have been doing (per https://github.com/tensorflow/tensorflow/issues/16455) to fix the evaluation performance.  Instead of doing this I tried using th

[2019-05-05 19:15] alansplaza opened #28419 "Cannot import tensorflow on yarn"
When I tried to upload all tensorflow and google.protocol pkgs to yarn, I come across a problem like this

[code]
Why this happened? I used `tar -czvf` to compress tensorflow and protobuf, used -archives to upload these pkgs.tar.gz to yarn.

[2019-05-05 19:36] danucalovj opened #28420 "ImportError: DLL load failed: The specified module could not be found. (Windows)"
System:

OS Name	Microsoft Windows 10 Pro
Version	10.0.17763 Build 17763

CUDA Version 10.0

NOT RUNNING A CONDA ENVIRONMENT

python version: 3.6.8

Installed via the documentation @ https://www.tensorflow.org/install/gpu

pip install tensorflow-gpu

Tried to test if tensorflow was loaded

python

Error (entire shell output):

Python 3.6.8 (tags/v3.6.8:3c6b436a57, Dec 24 2018, 00:16:47) [MSC v.191

[2019-05-05 20:47] Jsevillamol commented on #28232
@muddham I am happy to close the issue if you are - I personally think that the warning should be removed in TF 2.0 since it is misleading for new users, but it is not causing me any major trouble.

[2019-05-05 21:14] Firyuza commented on #23906
Hi @zlichen !

[2019-05-05 21:28] Firyuza commented on #23906
Hi @zlichen !

Yes, I gave different scope names for two networks, but it doesn't work. I think it's a Tensorflow paradigm, we cannot create two networks in the **same** graph when you want to train it **independently**. And  all copy operations that I discussed above do not make sense.

So if we wanna make copy value of variable -- your solution is right. But if we wanna make a copy of variable's

[2019-05-05 21:37] Firyuza opened #28421 "Why we cannot define two networks in the same graph when they are trained independently"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.4.1
- Are you willing to contribute it (Yes/No): No

**D

[2019-05-05 22:07] yuanqing-wang commented on #28197
@achandraa yes, it works, but control dependency is indeed needed.

[2019-05-05 22:08] Kshitij09 opened #28423 "tf.contrib.summary.create_file_writer 'name' parameter is not recognized"
While creating summary writer in eager execution, name parameter is not recognized properly, hence all the graphs are getting associated with single (default) name.
[code]
Attaching [screenshot](https://drive.google.com/open?id=1bwOFOA631vtBvejoXGu9Xf6oVTXtqnVI) of Tensorboard for reference

Tensorflow version: 1.13

[2019-05-05 22:52] vegeta340 commented on #23840
the same error on rpi 3b+ with python 3.5

[2019-05-05 23:04] MarcioPorto commented on #28165
@allenlavoie Good catch! I guess I don't need the unbound method after all. Thanks!

[2019-05-05 23:04] #28165 closed

[2019-05-05 23:09] BasitJaved commented on #6393
Guys I solved this problem using
python3 generate_tf_record.py --csv_input=data/train_labels.csv  --output_path=train.record
python3 generate_tf_record.py --csv_input=data/test_labels.csv  --output_path=test.record

all the images were in one folder i.e images and flags were as below

flags.DEFINE_string('csv_input', '','data/train_labels.csv')
flags.DEFINE_string('output_path','', 'train.record')

[2019-05-05 23:10] BasitJaved commented on #6393
I saved record file in main folder rather then in data,,,,later copied it in data folder

[2019-05-05 23:32] arthurflor23 commented on #26256
Here, with tensorflow 2 (tf.keras):
* Adamax: CPU is ok and GPU NaN
* Adam: CPU is ok and GPU is ok

[2019-05-06 00:05] ibrahimabob commented on #23755
thank you so much

[2019-05-06 00:35] wangyexiang commented on #10408
Dear sir. How did you resovle your issue? I have the same issue.  Thx.  @Caselles

[2019-05-06 01:22] goljx opened #28424 "Multiplication of two-dimensional and three-dimensional tensors"
There is a two dimensional tensor a[m,n], and a three dimensional tensor b[k,n,h]. What API should I use to multiply two dimensional tensors by three dimensional tensors to get a three dimensional tensor c[k,m,h] ?
Actually I can got it by:

import tensorflow as tf
import tensorly as tl
x=tf.constant([[[1,2],[3,7],[8,9]],
[[4,5],[6,10],[11,12]]],tf.float32)
a=tf.constant([[-0.70711,0.57735],
[0.00

[2019-05-06 01:23] Estom commented on #25608
HEY，i got the same issue. changing the bazel version do not work. Is it the reason of gcc version?

[2019-05-06 01:42] jinfagang commented on #28075
@CarbonComputed @Carmezim Same issue. Since already tf2.0, why do say open eager execution? Does not it already support eager execution?

[2019-05-06 01:46] jinfagang commented on #28311
@jvishnuvardhan  Thanks, I will, but since I already in tf2.0 but can not get value instantly which is not same with what tensorflow 2.0 claims.

type(img) got something like this:

[code]

[2019-05-06 01:53] jinfagang commented on #27519
@Mainak431  Did you solved your problem?

[2019-05-06 01:53] #28311 closed

[2019-05-06 02:19] sunoranges opened #28425 "An CNN model error: You must feed a value for placeholder tensor 'y' with dtype int32 and shape [?]"
import tensorflow as tf
import os
from skimage import io, transform
import glob

import numpy as np

#dataset parameter
mode = 'folder'
train_dataset_path = '/Users/resun/ML_data/train_data_png/'   #change here
test_dataset_path = '/Users/resun/ML_data/test_data_png/'
tag_dataset_path = '/Users/resun/ML_data/tag_image/'

'''
ROOT_FOLDER
       |-------- SUBFOLDER (CLASS 0)
       |             |

[2019-05-06 02:20] sunoranges commented on #28425
I think I have already give y placeholder a input Y_train, but still got error.

[2019-05-06 02:55] jaingaurav commented on #28351
From what I tested, I believe this behavior has been fixed already in the latest tf-nightly and should be coming in 1.14. If not please let us know and re-open.

[2019-05-06 02:55] #28351 closed

[2019-05-06 02:58] jaingaurav commented on #28351
@TerjeNorderhaug: Though the exception has been fixed in the nightlies, were you looking for the `tf.executing_eagerly` symbol to be included in 2.0?

[2019-05-06 03:02] Caselles commented on #10408
You might find some useful info here: https://stackoverflow.com/questions/44327803/memory-leak-with-tensorflow

[2019-05-06 03:38] ErmiaAzarkhalili commented on #26502
@annarev when using `import tensorflow as tf` then tf.keras.* autocompletes
But from tensorflow.keras import layers will still not "work"!

[2019-05-06 03:45] ErmiaAzarkhalili commented on #26502
It doesn't make sense to me.
why `import tensorflow.keras` doesn't work properly?

[2019-05-06 03:46] ErmiaAzarkhalili commented on #26502
I would like

[2019-05-06 03:48] samhodge opened #28426 "Makefile build fails on MacOS 10.13"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacPro 5.1 XCode 9.4 OSX 10.13

[2019-05-06 04:08] guptapriya commented on #23687
Thanks for the update. We will look into it.

[2019-05-06 04:11] guptapriya commented on #25057
Thanks. Can you try changing these couple lines in the model_fn:
original:
[code]

suggestion:
[code]

This has been a pattern recommended by TF docs but we are trying to change it as it is not needed, and can cause unnecessary control dependencies.

[2019-05-06 04:44] Mainak431 commented on #27519
Yes.

[2019-05-06 05:04] Aditi0207 commented on #28305
i am using Tensorflow 1.13.1. with CUDA 10.1

[2019-05-06 05:37] diemtran1005 opened #28427 "FailedPreconditionError (see above for traceback): Attempting to use uninitialized value dense_93/bias"
I run my code, but I don't know what is the below error. Please help me to fix this
FailedPreconditionError (see above for traceback): Attempting to use uninitialized value dense_93/bias 	 [[node dense_93/bias/read (defined at C:/Users/TRAN THI DIEM/Documents/diem/research/ReinforcementLearning/code/Depression/Code detecting depression using multi layer with survey data_ da chay duoc/depression_te

[2019-05-06 06:07] weixsong commented on #23780
I also meet the same issue with tf.nn.conv1d, by using
[code]

the issue is fixed. So i think maybe tf1.13 has some inner bug.

[2019-05-06 06:19] BrEr opened #28428 "Reset sequence of samples generate by tf.random.uniform without restarting the session"
As of the rules I have raised this issue on StackOverflow but it's dying a slow death over there, therefore I ask it here: https://stackoverflow.com/questions/55951644/reset-sequence-of-samples-generate-by-tf-random-uniform-without-restarting-the-s

I can set the seed of the random.uniform operation, but this seed is only used as "starting-point" of the session. I cannot instruct the tensor to "re

[2019-05-06 06:33] ParmpalSinghGill commented on #25022
set clang as cuda compiler to No
Do you want to use clang as CUDA compiler? [y/N]: N
in ./configure  resolve for me

[2019-05-06 06:34] Serhiy-Shekhovtsov commented on #3217
Had the same issue. Solved by running:
[code]

[2019-05-06 06:58] arvidzt commented on #3628
with tf.Session() as sess:
    saved_model_dir = "saved_model_dir_signature"
    meta_graph_def = tf.saved_model.loader.load(sess, [tf.saved_model.tag_constants.SERVING], '')
    for node in sess.graph_def.node:
      if node.op == 'RefEnter':
        node.op = 'Enter'
        for index in range(len(node.input)):
          if 'moving_' in node.input[index]:
            node.input[index] = node.inp

[2019-05-06 07:19] muddham commented on #28223
@ly0koS  Closing this issue as downgrading to TF1.12 resolved this error

[2019-05-06 07:19] #28223 closed

[2019-05-06 07:56] MrRace commented on #9554
Same problem~~my `token_ids`=`[[3842, 11658], [3080, 3541], [1557, 6895], [6913, 6802], [11407, 10301, 10301]]`,  when I  write it like that: `feature["question_token_ids"] = tf.train.Feature(int64_list=                                                             tf.train.Int64List(value=token_ids))`.  The error comes:`TypeError: [3842, 11658] has type list, but expected one of: int, long`。How to

[2019-05-06 07:58] MrRace commented on #9554
Hi, what is your finally  solution?

[2019-05-06 08:08] NEU-Gou commented on #25301
@ruffles1 @hahadashi I tried a few different setting and figured some "requirements" for the contrib/quantize/create_train(eval)_graph to work:
- For CONV2D+BN+ReLU, the CONV2D op has to be "use_bias=False"
- For CONV2D with bias, it CANNOT followed by BN layer

Hope this is helpful. Good luck

[2019-05-06 08:10] srihari-humbarwadi opened #28429 "Profile tab in tensorboard keeps saying "Processing datasets""
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-06 08:11] srihari-humbarwadi commented on #28429
@jvishnuvardhan

[2019-05-06 08:12] andresusanopinto commented on #25362
Status update: when building tensorflow and tensorflow_hub from HEAD, most hub 1.x modules can be loaded via `hub.load()` in eager mode. In which case one can use: "m.signatures["default"]" to access the methods.

[2019-05-06 08:15] achandraa commented on #28413
Please have a look on this [link](https://www.tensorflow.org/install/source) for reference. TensorFlow 1.12 is compatible with  CUDA 9 cuDNN 7. Let us know if that helps. Thanks!

[2019-05-06 08:17] andresusanopinto commented on #24591
Unclear why this was assigned to me. TensorFlow Hub was used to produce a failing case, but IIUC the issue exists even without using hub.

[2019-05-06 08:20] hahadashi commented on #25301
thanks，

which api to call the BN layer??(tf.layers.batch_normalization or??) and which tf version you using??

[2019-05-06 08:27] muddham commented on #28211
@Stepiii As per the [link](https://tensorflow.google.cn/install/source_windows#tested_build_configurations),  Please use relevant bazel version, for TF1.13 it shows Bazel 0.15.0. Please try and let us know how it progresses. Thanks!

[2019-05-06 08:29] achandraa commented on #28389
Please have a look on #28095 . Let us know if that helps. Thanks!

[2019-05-06 08:43] achandraa commented on #28407
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version and if possible provide us the code snippet to reproduce the issue at hand. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose). Thanks!

[2019-05-06 08:45] ziyigogogo opened #28430 "TF2.0 MirroredStrategy Example failed on windows if GPU > 1"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No, Using the sample code in tensorflow docs
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win10
- TensorFlow installed from (source or binary): pip install tensorflow-gpu==2.0.0-alpha0
- TensorFlow version (use command below): 2.0.0-alpha0
- Python version: 3.7
- C

[2019-05-06 08:55] cahuja1992 opened #28431 "sparse_image_warp don't accept the tensor with dynamic shape."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 18.04)
- TensorFlow installed from (binary)
- TensorFlow vers

[2019-05-06 08:58] ziyigogogo commented on #28372
Hi there, have you solved this ?

[2019-05-06 09:02] d3x0r commented on #28184
I have been having issues building this.  From github repo; and I'm not sure if it's exactly the same issue...

    if os.path.isfile(python_bin_path) and os.access(python_bin_path, os.X_OK):
[code]

Which is really just

[code]

[code]

I don't think [[-x]] works in command prompt... was there some bash shell I missed having to use?

tensorflow\third_party\py\python_configure.bzl

[code]

Now I g

[2019-05-06 09:07] cahuja1992 commented on #28431
After having a look at
https://github.com/tensorflow/tensorflow/blob/6096a8f9088f4da725db4a15684a961724943eb8/tensorflow/contrib/image/python/ops/sparse_image_warp.py#L175

Found that as this functionality is currently being provided using numpy which requires the static shape of the shape.

[2019-05-06 09:10] brealisty commented on #28372
no, not even TF1.13, I guess the problem from the OS plateform.

[2019-05-06 09:14] achandraa commented on #28353
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version and if possible provide us the code snippet to reproduce the issue at hand. If you are unclear what to include see the issue template displayed in the [Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose). Thanks!

[2019-05-06 09:39] NEU-Gou commented on #25301
@hahadashi I'm using r1.13 and tf.keras.layers

[2019-05-06 09:47] hahadashi commented on #25301
thanks

发自我的iPhone

------------------ Original ------------------
From: Mengran Gou <notifications@github.com>
Date: Mon,May 6,2019 5:46 PM
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: hahadashi <397270265@qq.com>, Mention <mention@noreply.github.com>
Subject: Re: [tensorflow/tensorflow] TensorFLow v1.13.0rc0 tflite_convert fails to convert TensorFlow model with FusedBatchNormali

[2019-05-06 09:49] wannabeOG opened #28432 "Build failure while installing TensorFlow from source following TF documentation"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow inst

[2019-05-06 09:59] muddham commented on #28373
@Knize Can you please use the tf nightly build and check if the issue still persists or not.

[2019-05-06 10:01] vlasov01 commented on #23840
I've install Python 3.6.8 (Raspbian Stretch).
And I've got these warnings as well:
/usr/local/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.4 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)
/usr/local/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: builtins.type size changed, may ind

[2019-05-06 10:05] muddham commented on #28364
@Oldhuntor This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflo

[2019-05-06 10:07] muddham commented on #28388
@samhodge This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow

[2019-05-06 10:14] echo66 commented on #27896
Hello @jvishnuvardhan !

In the code snippet, you have, at least, two processes that (should) require seeds for random numbers generators: (a) dataset shuffling and (b) linear model parameters initialization. If I change the seed, I still get the same parameters' values at the end of a single short optimization phase. This shouldn't be the case, unless (1) the parameters' initialization doesn't de

[2019-05-06 10:14] spatters commented on #28372
According to the guide, https://www.tensorflow.org/guide/distribute_strategy, MirroredStrategy defaults to using NCCL for cross device communication and NCCL is not available on Windows.

"If you wish to override the cross device communication, you can do so using the cross_device_ops argument by supplying an instance of tf.distribute.CrossDeviceOps. Currently we provide tf.distribute.Hierarchical

[2019-05-06 10:45] xavysp commented on #27245
Good morning @ZeliangSu   I think my problem is in the same line. After checking in [ StackOverflow](https://stackoverflow.com/questions/55375435/cannot-add-tensor-to-the-batch-number-of-elements-does-not-match/56002510#56002510) I cannot solve the error displayed below:
[code]
Whenever the numbers of iteration were 90 it was working properly, since I changed the dataset with 6480 iterations the i

[2019-05-06 11:00] hyzhak commented on #27353
got the same issue with the last keras and tensorflow:

[code]

[2019-05-06 11:00] muddham commented on #28400
@Madder In order to expedite the trouble-shooting process, please provide whole code snippet to reproduce the issue reported here. Thanks!

[2019-05-06 11:02] d3x0r opened #28434 "NPM Install failing"
I do hope this is the right place for this; there's no `issues` enabled on tensorflow/tfjs-node...

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
   - Windows 10

**Describe the problem**

downloading and unzipping is failing; apparently the unzip utility is running out of memory.  Should add an additional argument
installing with node 11.9.0  x86 version.  Prod

[2019-05-06 11:09] muddham commented on #28409
@WuChannn Can you please check with different browsers like Google Chrome, firefox etc. Also there could be network fluctuations due to which the page would not have loaded properly.

[2019-05-06 11:14] muddham commented on #28397
@Binero As this is resolved, closing this issue. Thanks!

[2019-05-06 11:14] #28397 closed

[2019-05-06 11:17] Madder commented on #28400
Hi @muddham : Complete code snipped to reproduce the issue in

[code]
Output in  tf-nightly-gpu-2.0-preview==2.0.0.dev20190504 (and  tf-nightly-gpu-2.0-preview==2.0.0.dev20190505):
[code]
Output in  tf-nightly-gpu-2.0-preview==2.0.0.dev20190410 (output shape inferred correctly):

[code]

[2019-05-06 11:34] d3x0r commented on #28434
I did manage to do `npm install --force @tensorflow/tfjs-node-gpu` and keep what was partially built.
This is the output from visual studio (second build; the first build had similar error, but deleted the lib/tensorflow.dll too; I had re-run `npm run install` to get the download again before... )

[code]

[2019-05-06 11:43] muddham commented on #28418
@jkotra Can you please provide the whole snippet to reproduce the issue, when I ran the code provided here, it says 'vocabsize' not defined

[2019-05-06 11:47] samiratzn commented on #26546
is this problem solved? please help I faced the same error.

[2019-05-06 11:56] Binero commented on #28397
@muddham Is it not supposed to build regardless?

[2019-05-06 12:44] brealisty commented on #28372
oh, thank u. I will try it

[2019-05-06 12:44] #28372 closed

[2019-05-06 12:48] muddham commented on #28412
@snowpeakz It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you wil

[2019-05-06 12:49] ning3m opened #28435 "TypeError: unhashable type: 'memmap'"
When I want to use `tf.as_dtype` to convert a `numpy.memmap` data , the error was given. Is tensorflow not support this dtype? Or I shoulde use other function to convert my data to a type that tensorflow can recognize?

[2019-05-06 12:50] muddham commented on #28415
@jsl303  In order to expedite the trouble-shooting process, please provide whole code snippet to reproduce the issue reported here. Thanks!

[2019-05-06 12:54] j0ck3r2004 commented on #23755
@RajdeepPy @ibrahimabob @osama12sy @Saran-nns @ymodak @MohammadDabbas
# Current stable release for CPU-only
pip install tensorflow

# Preview nightly build for CPU-only (unstable)
pip install tf-nightly

# Install TensorFlow 2.0 Alpha
pip install tensorflow==2.0.0-alpha0

[2019-05-06 13:13] iiapache commented on #22342
downgrading tensorflow-estimator works for me.

[2019-05-06 13:18] 007fred50 opened #28436 "libcudart.so.7.5: cannot open shared object file: No such file or directory"
Hello,

I try to install tensorflow-gpu on my ubuntu machine.

i got this error here:
ImportError: libcudart.so.7.5: cannot open shared object file: No such file or directory

some one can help me ?

inside my ~/.bashrc
export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/usr/local/cuda/lib64:/usr/local/cuda/extras/CUPTI/lib64"
export CUDA_HOME=/usr/local/cuda

Installed:
Cuda 10.0
cuDNN 7.5.0

[2019-05-06 13:31] muddham commented on #28403
@gandalflee Can you please refer the TF2.0 release notes [link](https://github.com/tensorflow/tensorflow/blob/r2.0/RELEASE.md). It includes all the new features added and  deprecated details.

[2019-05-06 13:34] fengyuICT opened #28437 "How to enable INTEL_MKL_ML?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlo

[2019-05-06 13:44] rootkitchao commented on #28430
Are you using AMD CPUs? As far as I know, NCCL sometimes has some problems on AMD CPUs.

[2019-05-06 13:52] Dayananda-V opened #28438 "TensorFlow Lite conversion of frozen graph error"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.2
- TensorFlow installed from (source or binary): Source
- TensorFlow version (or github SHA if from source): 2f9cc84ba3f5d59753d843f167adee2e2534c143

**Provide the text output from tflite_convert**
While converting [faster_rcnn_nas](http://download.tensorflow.org/models/object_detection/faster_rcnn_nas

[2019-05-06 13:53] PallHaraldsson opened #28439 "Tensorflow 1.12.2 a typo for 1.13.2?"
I note there was 1.12.0, but no 1.12.1.

https://github.com/tensorflow/tensorflow/releases has 1.12.2.

[2019-05-06 13:54] jerabaul29 commented on #1661
Any news on this? If this is not available we will have to shift to another framework for one of our upcoming project, which would be a bit sad. If the 4D conv as a sum of 3D convs is the solution you want to keep for now, could this be added natively to tensorflow - nothing would prevent changes in the implementation later on anyways as long as the API choice is good?

[2019-05-06 13:55] lvvkas commented on #28393
This is the .config File:

[code]

[2019-05-06 13:58] fengyuICT commented on #28437
Is build option "--config=mkl" means that tensorflow use mkl-dnn as default? So how can i build tensorflow with mkl-ml?

[2019-05-06 14:01] jkotra commented on #28418
it's my mistake.

```callbacks``` should be passed to ```fit()```.i was trying to pass it to ```compile()```.

all works fine now :)

[2019-05-06 14:01] #28418 closed

[2019-05-06 14:11] muddham commented on #28418
@jkotra As this is resolved, closing the issue.

[2019-05-06 14:15] durandg12 opened #28440 "Improper output shape of DenseFeatures layer with numeric_column"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 10.13.6
- TensorFlow installed from (source or binary): from pip I think, I don't remember and I don't know the difference
- TensorFlow version: v1.12.0-10066-g5cbe8af8ed 2.0.0-dev20190313
- Python version: 3.

[2019-05-06 14:16] muddham commented on #27980
@WuShaoXuan5 Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-06 14:16] #27980 closed

[2019-05-06 14:18] muddham commented on #28400
@Madder Able to reproduce the issue in in tf-nightly-gpu-2.0-preview==2.0.0.dev20190504 and tf-nightly-gpu-2.0-preview==2.0.0.dev20190505.

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d (Conv1D)              (None, None, 24)          408
______

[2019-05-06 14:29] muddham commented on #28334
@KUASWoodyLIN Can you please let us know if you are happy to close if no issue persists

[2019-05-06 14:36] muddham commented on #28346
@olesalscheider Able to reproduce the issue.

Our saved model has the following structured outputs:
{'output_a': TensorSpec(shape=(), dtype=tf.float32, name='output_a'), 'output_b': TensorSpec(shape=(), dtype=tf.float32, name='output_b')}
Running TF-TRT conversion...
Our converted model has the following structured outputs:
{'output_0': TensorSpec(shape=(), dtype=tf.float32, name='output_0'), 'out

[2019-05-06 14:37] philgras opened #28441 "Shape errors occur after compiling keras model with tf.keras.losses.CategoricalCrossentropy"
**System information**
- OS Platform and Distribution:  Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 1.13.1
- Python version: 3.6.3

**Describe the current behavior**
If I want to specify, for example, a reduction method of the loss function, I will need to explicitly create an instance of `tf.keras.losses.CategoricalCrossentropy` and pass it to `

[2019-05-06 15:03] Stepiii commented on #28211
@muddham Are you sure that I need Bazel 0.15.0?
[code]

[2019-05-06 15:09] 007fred50 opened #28442 "expected conv2d_input to have 4 dimensions"
Hello

I'm on tensorflow and i'm trying to Machine Learning but i got this error here:
ValueError: Error when checking input: expected conv2d_input to have 4 dimensions, but got array with shape (24946, 50, 50)

[code]

[2019-05-06 15:15] timsainb commented on #27267
Is `tf.contrib.training.HParams` getting removed from tf 2.0 completely? Is there an alternative in 2.0?

[2019-05-06 15:26] aaroey commented on #20139
Hi @mhsszm, could you provide a repro for your case? And do you mind filing a new issue? Thanks.

[2019-05-06 15:38] mihaimaruseac commented on #28439
No, the vulnerability was fixed on master for 1.13 but we also made a patch release for 1.12. There is no 1.12.1 as that tag exists on master instead of on the r1.12 branch.

[2019-05-06 15:38] #28439 closed

[2019-05-06 15:40] alextp commented on #27120
The following will not work:

[code]

However the following should work:

optim = optimizers.Adam(0.001)

@tf.function
def train_one_step(model,x1,x2,target):
    with tf.GradientTape() as tape:
        y = model(x1,x2)
        loss = model.loss(y,target)
    grad = tape.gradient(loss,model.trainable_variables)
    clipped_gradients, _ = tf.clip_by_global_norm(grad,5)
    optim.apply_gradients(zip

[2019-05-06 15:43] alextp commented on #26819
there is still nothing depending on the last tf.assign on your code, so it won't execute.

You should switch to tf2 alpha as eager execution fits the style of code you're trying to write much better.

[2019-05-06 15:43] #26819 closed

[2019-05-06 16:08] 007fred50 commented on #28442
i got it:
https://stackoverflow.com/questions/56008114/tensorflow-expected-conv2d-input-to-have-4-dimensions

[2019-05-06 16:14] alanchiao commented on #22146
@ANSHUMAN87 : thanks for the PR. Hopefully with your change, we'll be able to convert the WaveRNN model through TOCO.

@gashmish: like Jared asked, may i ask for a direct pointer to where you got the WaveRNN model from? (e.g. Tensorflow Model Zoo, Github, etc ..). This is an important enough model that there should be conversion test to ensure conversion support stays going forward. If not, it's o

[2019-05-06 16:41] chnp opened #28443 "2nd python can't run tensorflow"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):tensorflow.org
- TensorFlow version:1.13.1
- Python version:3.5
- Installed using virtualenv? pip? conda?:pip
- Bazel version (if compiling from source):
- GCC/Compi

[2019-05-06 16:41] jvishnuvardhan commented on #28232
@Jsevillamol I could reproduce the Attribute Error but I don't see any warning as you mentioned. Please check my GitHub [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/8a2b480eefa661f5acd8c93cae10b967/untitled138.ipynb) and try to run it on your system. If you see the warning, please let me know I could work on resolving the `warning`. Thanks

[2019-05-06 17:10] rootkitchao commented on #28420
Have you installed cuDNN?

[2019-05-06 17:12] timsainb opened #28444 "tf.signal.inverse_stft AttributeError: 'int' object has no attribute 'value' in 2.0.0-alpha0"
There appears to be a bug in tf.signal.inverse_stft, when testing for `real_frames.shape[-1].value is None`, where `real_frames.shape[-1]` is an integer, and does not have a `value`.

Reproducible code:
[code]

[code]

[2019-05-06 17:26] haozha111 commented on #28224
May I know why do you need to create a converter yourself and not using the TOCO? Given that the graph visualization of your model has two outputs, I wonder if it's a bug in your converter implementation?

[2019-05-06 17:48] tomerk commented on #25349
Adding @tanzhenyu as an assignee here because he's been taking a lead on this & on coordinating with the OpenAI team. Zhenyu, do you have any part of the migration in mind that you feel open source contributors would be able to assist with right now?

[2019-05-06 17:50] danucalovj commented on #28420
Missing cuDNN. My bad. Closing issue.

[2019-05-06 17:50] #28420 closed

[2019-05-06 17:53] TerjeNorderhaug commented on #28351
The `tf.executing_eagerly` symbol is already [in the 2.0 api](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/executing_eagerly) and works as I expected with the _2.0.0-alpha0_ as well as the _tf-nightly-gpu-2.0-preview_.

[2019-05-06 17:55] qlzh727 commented on #28245
This should now be fixed by https://github.com/tensorflow/tensorflow/commit/fe5e1f39590f5847a384dcccb33956a5c2606d16

[2019-05-06 17:55] #28245 closed

[2019-05-06 18:01] ymodak commented on #28435
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create fr

[2019-05-06 18:01] #28435 closed

[2019-05-06 18:02] #27868 closed

[2019-05-06 18:06] jsimsa commented on #28257
https://stackoverflow.com/questions/42590431/output-from-tensorflow-py-func-has-unknown-rank-shape

[2019-05-06 18:06] #28257 closed

[2019-05-06 18:08] skye commented on #28195
Hi Melissa, sorry for the delay. I should have looked into this earlier, but I just noticed that the "Unknown input node" message comes from importing a GraphDef: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/graph/graph_constructor.cc#L561

I'm guessing this means that the body graph can somehow already reference nodes from the outer graph (maybe because we usually check th

[2019-05-06 18:09] iqbalhabibie opened #28445 "Load Images"
There is some problem in loading images

for n in range(3):
  image_path = random.choice(all_image_paths)
  display.display(display.Image(image_path))
  print(caption_image(image_path))
  print()

Error:
---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
<ipython-input-9-dd286b0cbeda> in <module>

[2019-05-06 18:11] arrowd commented on #28113
@freedomtan 's branch contains namy changes that I also have. I'll merge them with my patches and create a new pull request.

[2019-05-06 18:19] ymodak commented on #27826
@LiuPangYao Please post a [new issue](https://github.com/tensorflow/tensorflow/issues/new/choose) and provide all the information asked by the template.  We ask this because it's more efficient to have one thread dedicated to one issue. Thanks!

[2019-05-06 18:19] #27826 closed

[2019-05-06 18:20] ymodak commented on #28060
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-06 18:20] #28060 closed

[2019-05-06 18:31] jsimsa commented on #27245
The error you are seeing suggests that you are trying to create a batch of tensors that have incompatible shapes (both `[400, 400, 3]` and `[400, 400, 1]`).

You should be able to identify the mismatch by printing the shapes of the elements in your input pipeline:

[code]

[2019-05-06 18:32] ymodak commented on #27357
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-05-06 18:32] #27357 closed

[2019-05-06 18:47] gashmish commented on #22146
@ANSHUMAN87: I tried to test PR [#28410](https://github.com/tensorflow/tensorflow/pull/28410), unfortunately it didn't work for me.

I use this script:
[code]

On TF master with your commit I get same results with 48002 size:
[code]

Can you please check this script in your workspace, may be i did something incorrectly?

[2019-05-06 18:51] agarwal-ashish commented on #27644
@mdanatg, as mentioned earlier in the thread, pfor has SPMD semantics, not strict sequential semantics. Hence it may not raise errors with concurrent state accesses across iterations.

[2019-05-06 19:06] Apromixately commented on #28272
Sorry, I don't really know a lot about web technologies or how to debug this. Could you tell me exactly what to do?

[2019-05-06 19:15] ymodak commented on #28071
In order to expedite the trouble-shooting process, please provide a minimal code snippet to reproduce the issue reported here. Thanks!

[2019-05-06 19:17] aaroey commented on #27100
@isra60 I was not able to reproduce. Could you add more description about how you setup the tensorflow/tensorrt repository locally? Thanks.

[2019-05-06 19:28] Nathan-81 commented on #19765
Well I actually have the same problem what was your solution ?

[2019-05-06 19:30] ppwwyyxx opened #28446 "Return better error message when using RefVariables with v2 control flow"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):archlinux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:n/a
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):v1.12.0-12395-

[2019-05-06 19:30] Rajamohanreddyai commented on #11549
Hello all, just follow the below video and export your own model with in a 10 seconds

https://youtu.be/w0Ebsbz7HYA

[2019-05-06 19:31] Rajamohanreddyai commented on #12150
Hello all, just follow the below video and export your own model with in a 10 seconds

https://youtu.be/w0Ebsbz7HYA

[2019-05-06 19:47] samhodge commented on #28388
The feature I am requesting is to build a static library under OSX the makefile contrib does not work

[2019-05-06 20:06] cseas opened #28449 "Typo in TensorFlow For Poets"
## Existing URLs containing the issue:

Link to the documentation entry, for example:
https://codelabs.developers.google.com/codelabs/tensorflow-for-poets/#3

## Description of issue (what needs changing):
Typo

### Clear Description
[code]
should be
[code]

### Submit PR?
I couldn't find the source for this codelab to fix the error. Is this tutorial obsolete or has it been updated for TensorFlow

[2019-05-06 20:22] jvishnuvardhan commented on #28065
@wookayin I could reproduce the issue with TF1.13.1. Thanks!

[2019-05-06 20:26] alextp commented on #28065
Yes, caching_device is dangerous, specially with eager execution.

[2019-05-06 20:26] #28065 closed

[2019-05-06 20:34] jvishnuvardhan commented on #28297
@LuyuanChen Is this resolved? Thanks!

[2019-05-06 20:44] rchao commented on #27688
Sounds good - thanks arnoegw@! Let's follow up in tensorflow/hub#287 for this issue.

[2019-05-06 20:44] #27688 closed

[2019-05-06 21:04] jvishnuvardhan commented on #27913
@allendred Could you create a reproducible code or a GitHub gist to reproduce the issue? It will help us to resolve the issue. Thanks!

[2019-05-06 21:08] #28335 closed

[2019-05-06 21:45] jvishnuvardhan commented on #27843
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-06 21:45] #27843 closed

[2019-05-06 22:12] karmel commented on #27074
There are no plans for integrating with Celery currently AFAIK. You could load multiple copies of the model into multiple processes, but other than that, I would encourage the use of TF Serving, which is what we use internally for this.

[2019-05-06 22:45] robieta commented on #28110
TL;DR It's actually a somewhat niche case (a single weight is `O(gpu memory size)`), but it's also a pretty easy fix.

In your example, the model is failing when it builds the kernel for the dense layer; or more specifically, when it calls the initializer. If you consider a much simpler example:

[code]
In graph mode when you evaluate `c` (which is a symbolic tensor), TensorFlow's memory allocator

[2019-05-06 22:47] jvishnuvardhan commented on #27997
@buleo Is this resolved? If it was resolved by following @Qaazi  and @helcril , then close the issue. thanks!

[2019-05-06 22:47] jsl303 commented on #28415
The testing code is at the bottom. Here are the results for 10 runs.
What's interesting is that the following runs match in the model with conv layers.
Run 1 and 5, Run 2 and 3, run 7 and 8, Run 6 and 10

[code]
Here's the code.

[code]

[2019-05-06 23:06] KichangKim commented on #28110
@robieta Thanks for investigation. Can you provide sample code of tf.function usage? What is the initializer?

Also, my actual code is big CNN network with TF 2.0 keras API and has manual training loop by using tf.data.Dataset and GradientTape, samely suffer from this memory and performance issue. If you provide sample code of the usage of tf.function for keras model and manual training loop, it w

[2019-05-06 23:17] jvishnuvardhan commented on #28185
@newey01c  I could reproduce the issue with TF1.13.1. Thanks!

[2019-05-06 23:17] reedwm commented on #28298
This issue is fixed by #28057

[2019-05-06 23:17] #28298 closed

[2019-05-06 23:20] samhodge commented on #28388
Maybe this is  a better link

https://stackoverflow.com/questions/56013508/libtensorflow-core-a-missing-symbols-tensorflowportinitmainchar-const-in

[2019-05-06 23:25] robieta commented on #28110
For the case I described:
[code]

And my plan is to make builtin initializers do the tf.function wrap automatically.

In general functions are documented in https://www.tensorflow.org/alpha/tutorials/eager/tf_function, https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/function

[2019-05-06 23:35] jvishnuvardhan commented on #28272
@Apromixately When did you see this `There is no Internet connection ` error? You might have visited some page on tensorflow.org where you found this error. Can you take a screenshot (Press `Print Screen` on your keyboard) and paste it in the reply. Thanks!

[2019-05-06 23:44] KichangKim commented on #28110
Thanks for sample code! But I have one more question, how about "gamma_initializer" for BatchNormailization layer? its initializer is a Class (Ones or Zeros), not method so I can't wrap it with tf.function.

[2019-05-06 23:49] robieta commented on #28110
glorot_uniform is also a class. (When you trace through it's just the `init_ops.GlorotUniform`). That's why we call it on the second line. So tf.function is actually wrapping `__call__` of that particular class instance. So Ones or Zeros should work the same.

[2019-05-06 23:56] jvishnuvardhan commented on #28248
@KichangKim There was no warning when `TF2.0.0-alpha0` or `tf-nightly` was used. The issue was reproduced with `tf-nightly-2.0-preview`. We will check for the source of error and resolve it. Thanks for finding this. Thanks!

[2019-05-07 00:18] syedalamabbas opened #28457 "Tensor flow 2.0 and OpenCV usage"
Hi,
       I have already opened this issue in [Stack Overflow ](https://stackoverflow.com/questions/55986982/what-is-the-way-to-use-tensor-flow-2-0-object-in-open-cv2-python-and-why-is-it-s)but without much notice, I decided to add it here too. My question is related to usage of OpenCv operations like for instance in a train_step lets say I want to use an opencv function of remap - say undistort

[2019-05-07 00:20] Knize commented on #28373
@muddham With tf-nightly result is
E tensorflow/core/grappler/grappler_item_builder.cc:637] Init node conv2d_1/kernel/Assign doesn't exist in graph
Full console output attached.
[console.txt](https://github.com/tensorflow/tensorflow/files/3150277/console.txt)

[2019-05-07 00:31] jvishnuvardhan commented on #26662
I am closing this issue as tf.logging is not there in TF2.0. Thanks!

[2019-05-07 00:31] #26662 closed

[2019-05-07 00:31] wangyexiang commented on #10408
Dear sir. Thank you for your reply. As you can see, calling K.clear_session in the code clears all graphs, however, I just want to clear one of them. Thx. @Caselles

[2019-05-07 00:41] kwaegel opened #28458 "map_fn() missing GPU implementation"
It appears that `map_fn()` does not have a GPU implementation for integer tensors, which seems to be causing performance issues for some networks I'm designing (e.g. excessive data copying).

This may be related to #5965, but `map_fn()` isn't explicitly mentioned there.

**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Linux Ubuntu 18.04 & Windows 10 x64
- M

[2019-05-07 00:51] melissagrueter commented on #28195
Hi @skye,

Thank you for your super helpful (as always) insights!

Just a couple things I wanted to clarify:

I thought that the input_map maps nodes in the src graph that we'd like to replace to their replacements in the dst graph. In the existing code, src_inputs are input_map's keys and dst_inputs are the corresponding values, because we want to replace the loop input nodes created in the cond

[2019-05-07 00:52] WuChannn commented on #28409
Thanks. I use google chrome already, but the problem appeared. Maybe the website isn’t suitable for 13 inches screen?------------------ Original ------------------From: muddham  <notifications@github.com>Date: Mon,May 6,2019 7:15 PMTo: tensorflow/tensorflow <tensorflow@noreply.github.com>Cc: WuChannn <wuzchng@gmail.com>, Mention <mention@noreply.github.com>Subject: Re: [tensorflow/tensorflow] Mac

[2019-05-07 00:53] KichangKim commented on #28110
Oh, I mistaked that using "ones" instead of "Ones". Using Ones() works for gamma_initializer.

[2019-05-07 01:01] KichangKim commented on #28110
@robieta You mean that this temporary fix will not be needed in official TF 2.0 release?

[2019-05-07 01:06] KichangKim commented on #28028
I simply called set training_phase before creating the model, and train the model with same method in TF 2.0 tutorial. Without calling it, the model does not trained well.

[2019-05-07 01:14] KichangKim commented on #28110
Also, I found that TF 2.0 requires more memory than CNTK for training. In example, completly same model (same structure, same # of trainable_variable) with same PC, cntk can train the model with x2 batch size. It may not be related this issue but disturb migrating from cntk to TF 2.0.

[2019-05-07 01:16] wchargin commented on #28266
Assuming from your :+1: that the upgrade solved your problem; if not,
please let us know and we can reopen.

[2019-05-07 01:16] #28266 closed

[2019-05-07 01:21] frreiss commented on #16364
As discussed on the mailing list (https://groups.google.com/a/tensorflow.org/d/msg/developers/GOzGNx8GnHg/oxBFij5ACAAJ), I have implemented a fix for this issue that involves inspecting the `endianness` field of the bundle header on read and byte-swapping tensor values as needed. I should have a PR shortly.

[2019-05-07 01:44] myron commented on #22095
I can reproduce this too (TF1.12, CUDA9, Ubuntu 16, TitanXP 12GB and Tesla V100 16GB)
The 3D Conv result on GPU is completely wrong for certain input shapes/batch_sizes.

What triggers is:
1) having at least two 3D convolutions (with or without Relu in between).  a single 3D conv is OK
2) certain input shapes and batch sizes (some are OK, but many produce wrong result)
3) CPU result is always OK

[2019-05-07 01:48] Erik-Ni commented on #24828
Same issue here,

I was using 2 GPU and trained tf.keras multi_gpu_model.

After load weight and model.predict a large dataset which was fine.

If I use model.predict with a smaller test set, the same error pops up.

While if I predict a large dataset then a small dataset, it works again.

I guess it's a GPU memory issue or assigning GPU memory toward different GPU issue. Any help will be apprecia

[2019-05-07 01:58] ziyigogogo commented on #28430
No, I'm using Intel. One question here, if i need to install NCCL seperatly? I thought it was automatically set by previous installation?

[2019-05-07 02:12] d3x0r commented on #28434
Find CUDA SDK 10.0 (not 10.0) re-patch with CDNN, and success.

 - Node x64 version.
  -     [Cuda SDK 10.0 (windows) ](https://developer.nvidia.com/cuda-10.0-download-archive?target_os=Windows&target_arch=x86_64)
  - [CDNN](https://developer.nvidia.com/cudnn)

[code]

[code]
 - profit

[2019-05-07 02:12] #28434 closed

[2019-05-07 02:16] ziyigogogo commented on #28372
hi there, after a day-long searching, I finally come out the idea. NCCL is a native library for GPUs communication which is only official supported for Linux. Thus here are two solutions:
1. find windows non-official version of [NCCL](https://github.com/NVIDIA/nccl) (nod recommend)
2. As spatter's suggestion, custom reduction OP:[example](https://github.com/tensorflow/tensorflow/issues/21470)

[2019-05-07 02:18] ziyigogogo commented on #28430
hi there, after a day-long searching, I finally kind of understand the concept. NCCL is a native library for GPUs communication which is only official supported for Linux. Thus here are two solutions:

1. find windows non-official version of NCCL (not recommend)
2. custom reduction OP like the [example](https://github.com/tensorflow/tensorflow/issues/21470#issuecomment-422506263)

[2019-05-07 02:37] beichen2012 opened #28459 "How to export a eager mode checkpoint for tfserving"
I have train a model by tf1.13 and eager mode, then save it to checkpoint.

now I need to export the model to pb file and deploy on tfserving ?

Is there any one help me?

[2019-05-07 02:43] LuyuanChen commented on #28297
I don't understand. I think it's some undefined behaviour in tf. Although I can get past it, it doesn't mean the bahaviour is correct.

[2019-05-07 03:02] jvishnuvardhan commented on #28323
@scooter4j If you have a solution that works well, then fork tensorflow repository on your GitHub, update the codes in your folder, test it. If it is working as expected, create a pull-Request (PR). All PR's are reviewed by TF Code-owners and if it passes all the tests then your code will be merged into TF repository.  Please let me know if anything is not clear to you. Thanks!

[2019-05-07 03:11] ThisIsIsaac opened #28460 "adjust_hsv_nhwc doesn't process all items"
CUDA kernel  "adjust_hsv_nhwc" in [adjust_hsv_gpu.cu.h](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/adjust_hsv_gpu.cu.h) doesn't fully iterate through all the items in the input array when the number of threads spawned is larger than the total number of items. A simple fix would be to have each thread iterate through all the items inside a for-loop in order to chec

[2019-05-07 03:32] kouohhashi commented on #16465
@rryan
Thank you for your code!
And I have a question.

How can I use my own wave file?

I mean when I use my own wave file like...
[code]
instead of input_data = generate_data(duration_secs=1, sample_rate=sample_rate, num_sin=1, rnd_seed=2, max_val=0.5)

Files like tensorflow.16000.stft.1024.wav, tensorflow.16000.stft.256.wav,tensorflow.16000.stft.768.wav,tensorflow.16000.stft.512.wav have signif

[2019-05-07 03:50] soloice commented on #28245
Such a quick fix.

[2019-05-07 04:07] ANSHUMAN87 commented on #22146
@gashmish: Thanks a lot for confirming. Even i was also suspecting there might be some more cases missed out. If possible please try to share, the cases where it has not converted. Will try to make solution for converter more generic.
  Yes you are right, together 3 PRs #28410, #27867 & #28179 will help the model works fine.

Just to remind you, are you able to reproduce the STRIDED_SLICE problem?

[2019-05-07 04:18] yongtang commented on #28444
The issue is the usage of `real_frames.shape[-1].value`. In TF 1.x `real_frames.shape` returns a list of `Dimensions` which does have the value. In TF 2.0 `real_frames.shape` returns int so `value` is not applicable any more. Created a PR #28461 for the fix.

[2019-05-07 04:25] syoyo commented on #28224
@haozha111 Ah, it was a bug in my converter. Sorry for disturbing you.

FYI, there was a mismatch in writing out output vector in my serializer. And it looks tflite interpreter treat it as a valid `.tflite` file.

[code]

[2019-05-07 04:25] #28224 closed

[2019-05-07 04:30] ezhulenev commented on #28411
I guess `from` pointer has to be reinterpret_casted similar to the method above: https://bitbucket.org/eigen/eigen/src/1984a10c33ea299487e6492602076cccc56a97be/Eigen/src/Core/arch/GPU/PacketMathHalf.h#lines-588:600

I'll submit this change to Eigen and will bump the version.

[2019-05-07 04:31] seanxhughes commented on #27357
Hi,

Could you explain your comments please.

Did you manage to reproduce the problem. At the very least  the error message generated ("Invalid argument: Must specify at least one target to fetch or execute") is incorrect as when compiled without the debug flag the sample application executes cleanly, meaning these arguments were supplied as they are hard coded.

If this is neither a bug or a feat

[2019-05-07 04:49] #9284 closed

[2019-05-07 05:02] miaout17 commented on #25301
It seems the original script has some bugs (Keras complaining shape mismatch etc). I fixed the script and tried to call `TFLiteConverter.from_keras_model_file` directly, and everything works fine (with 1.13.0rc0 and 1.13.1).

The takeaway is you don't need to call freeze_graph by yourself when using a Keras model. It seems `TFLiteConverter` does a better job for you.

The script that works on my m

[2019-05-07 05:02] #25301 closed

[2019-05-07 05:05] achandraa commented on #28113
That's great. Shall be looking forward to it. Thanks!

[2019-05-07 05:17] TomorrowIsAnOtherDay commented on #327
This does solve my problem in centos7. Thanks a lot.

[2019-05-07 05:19] liaomingyue commented on #28396
i have the same problem

[2019-05-07 05:30] harrylyx commented on #26922
I get same error in using tensorflow with eager execution
For example
[code]
`cross_entropy(y_hat, y)`
OUT:
`array([2.30258509, 0.69314718])`
If I run cross_entropy(y_hat, y), I will get correct result, but if I use
[code]
An error occurred
[code]

I think it may be that tensorflow with eager execution has made a mistake.

[2019-05-07 05:41] Leslie-Fang opened #28462 "Poor performance on debug version"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-07 05:44] achandraa commented on #28086
Unfortunately, none of the TensorFlow versions officially support CUDA 10.1. As of now we have to build TensorFlow version>=1.13.0 using CUDA 10.0. Thanks!

[2019-05-07 05:45] muddham commented on #28409
@WuChannn This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow

[2019-05-07 05:46] #28409 closed

[2019-05-07 05:55] muddham commented on #28232
I Could reproduce the warning message using tensorflow gpu. please see attached
![image](https://user-images.githubusercontent.com/48215502/57275026-c605af00-70ba-11e9-9ff6-a4bb1fe9cabe.png)

[2019-05-07 06:04] achandraa commented on #28194
Please have a look on this [link](https://developer.nvidia.com/cuda-toolkit-archive) and let us know if that helps. Thanks!

[2019-05-07 06:31] achandraa commented on #28215
I got following output while running on different runtimes on Colab with version 1.13.1 :

| Runtime | initial value of iterations | Result        |
| ------------------------------------------------------------   |
| CPU       | 1                                 | -0.0564518   |
| GPU       | 0                                 | -0.05648327 |
| -----------------------------------------------------

[2019-05-07 06:50] achandraa commented on #28305
@Aditi0207 : Unfortunately, none of the TensorFlow versions officially support CUDA 10.1. As of now TensorFlow version >= 1.13.0 supports CUDA 10.0. Thanks!

[2019-05-07 07:02] arrowd commented on #28113
I got blocked by TF not supporting Bazel 0.25. Is there plans to allow building using new Bazel version?

[2019-05-07 07:04] arrowd commented on #28113
It is funny that I get both these errors:

[2019-05-07 07:08] shizukanaskytree opened #28463 "Why does TF run ops in the build phase?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (

[2019-05-07 07:13] garygb opened #28464 "Where is the entry point for Receiver to receive Tensor using GRPC?"
I'm a student trying to understand how distributed TensorFlow transmits Tensor through GRPC. I have now found that the Sender is issuing a generic asynchronous request by calling the `IssueRequest` tool function(as listed below), but how does the Receiver respond to this request? Where is the entry point?

  // Utility method for issuing a generic asynchronous request. The
  // given callback, `do

[2019-05-07 07:41] achandraa commented on #28326
@kernelizd : Are you trying with CUDA 10.1 or CUDA 10.0 ? CUDA 10.1 is not supported for tf versions >=1.13.0.

[2019-05-07 07:43] nishantb21 opened #28465 "Poor performance while writing custom layers"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- Windows 10
- Tensorflow installed from pre-built binary
- TensorFlow version: 1.13.1
- Python: 3.6.6
- CUDA/cuDNN version: 10.0/7.1
- GPU model and memory: GTX 960M/4GB
- CPU: Intel i7 6700HQ

**Describe the current behavior**
I recently had the requirement to code a sligh

[2019-05-07 07:43] ziyigogogo opened #28466 "tf.distribute behave inconsistent when using custom loss(BUG?)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): win10
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.0 alpha gpu
- Python version: 3.7

**Describe the current behavior**
UPDATE:
I tried the latest nightly building, still no luck and now more error info showed:
[code]

**Below is on alpha 2.0 gpu**
I'm trying to tran

[2019-05-07 07:54] #28430 closed

[2019-05-07 07:56] farmaker47 commented on #22564
Solved it with extra parameters inside code:

    import tensorflow as tf

    graph_def_file = "mask_rcnn_resnet50_atrous_coco_2018_01_28/frozen_inference_graph.pb"
    input_arrays = ["image_tensor"]
    output_arrays = ["detection_scores","detection_boxes","detection_classes","detection_masks"]

    converter = tf.lite.TFLiteConverter.from_frozen_graph(
            graph_def_file, input_arrays,

[2019-05-07 07:57] farmaker47 commented on #20798
Solved it with extra parameters inside code:

    import tensorflow as tf

    graph_def_file = "mask_rcnn_resnet50_atrous_coco_2018_01_28/frozen_inference_graph.pb"
    input_arrays = ["image_tensor"]
    output_arrays = ["detection_scores","detection_boxes","detection_classes","detection_masks"]

    converter = tf.lite.TFLiteConverter.from_frozen_graph(
            graph_def_file, input_arrays,

[2019-05-07 07:58] farmaker47 commented on #21986
Solved it with extra parameters inside code:

    import tensorflow as tf

    graph_def_file = "mask_rcnn_resnet50_atrous_coco_2018_01_28/frozen_inference_graph.pb"
    input_arrays = ["image_tensor"]
    output_arrays = ["detection_scores","detection_boxes","detection_classes","detection_masks"]

    converter = tf.lite.TFLiteConverter.from_frozen_graph(
            graph_def_file, input_arrays,

[2019-05-07 08:15] quetil commented on #28281
Update:
I think the issue occurs with the sequential API. By using the funcitonal API, ```tf.keras.models.load_model``` works well. It's a temporary solution until a fix will be released.
If anyone can confirm my assumption
Cheers,
AQ

[2019-05-07 08:16] caissalover commented on #28458
Yes, map_fn is central for parallelization. In https://github.com/tensorflow/tensorflow/issues/24774 ,  hansok has mentioned the problems 4 months ago, we request you to make this better.

4 years into tf, finding that a central op for parallelization on this lower layer isn't fast enough is a shame. https://github.com/tensorflow/tensorflow/issues/27644 issue is also related

[2019-05-07 08:25] #28347 closed

[2019-05-07 08:32] achandraa commented on #28341
Will it possible for you to give us some more info on the issue as for example a minimal reproducible code snippet that can depict the case. Thanks!

[2019-05-07 08:36] el1995 commented on #28407
Platform & OS: Ubuntu 16.04 LTS
Tensorflow version: no local installation, only using C API version 1.13.1 (https://www.tensorflow.org/install/lang_c) - CPU only version

Code, neural net and executable:
[inference.zip](https://github.com/tensorflow/tensorflow/files/3151575/inference.zip)

[2019-05-07 08:58] Aditi0207 commented on #28305
i had built tensorflow from source with cuda 10.0

[2019-05-07 09:00] muddham commented on #28445
@iqbalhabibie I clicked on the link provided (https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/MyMethod) , it says 404 error on page

[2019-05-07 09:06] NeroLoh commented on #19893
Enable the the

 handled this  for me. My Tensorflow version is 1.9.

[2019-05-07 09:06] muddham commented on #28424
@goljx This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/te

[2019-05-07 09:22] achandraa commented on #28404
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-05-07 09:31] achandraa commented on #28377
Will it be possible to provide us a minimal code snippet that can reproduce the issue ? That will surely help us in root causing faster. Thanks!

[2019-05-07 09:40] arun-sn1 opened #28468 "Issue in using Tensorflow lite GPU delegate on iOS device"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:iPhone X
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 1

[2019-05-07 09:47] LegendaryDan commented on #27392
@guptapriya hi, any updates on this issue?

[2019-05-07 09:49] Apromixately commented on #28272
It happened on several different API documentation pages. Unfortunately, I cannot reproduce it right now, I think it might require me to be connected to the office via VPN.

[2019-05-07 09:52] janosh commented on #28377
[Here's my training data](https://github.com/tensorflow/tensorflow/files/3151877/data.zip). I load that with `numpy`'s `genfromtxt` function:

[code]
then feed that in as `X_train` and `y_train`.

The model is generated by a `build_model` function:

[code]
where `input_dim = X_train.shape[1]`.

Let me know if you need any more info.

[2019-05-07 10:05] amitsrivastava78 commented on #28438
@jdduke  This seems to be a problem faced by alot of people in the past, is there any plans of implementing the data flow ops in the tflite ? Also would like to know your take on implementing it along with flow_in's which is tricky thing to do.
If you are ok would like to raise on RFC for this and take it forward for implementation.

Regards
Amit

[2019-05-07 10:11] alexcohn opened #28469 "TFLite don't force copy outputs"
**System information**
- TensorFlow version (you are using): **1.3.1**
- Are you willing to contribute it (Yes/No): **Yes**

**Describe the feature and the current behavior/state.**

Currently, TFLite insistes that the [outputs](https://github.com/alexcohn/tensorflow/blob/master/tensorflow/lite/java/src/main/java/org/tensorflow/lite/NativeInterpreterWrapper.java#L123) must not be empty, and copies

[2019-05-07 10:22] TristanMeng commented on #26333
tensorflow:1.13.1-gpu-py3-jupyter has cudnn?
How to view？

[2019-05-07 10:24] byronyi opened #28470 "[nGraph] mkldnn::relu_forward and mkldnn::relu_backward error: expected type-specifier"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 9.4
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy): N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: dc77be8f92fd7b7ac57d69e35c4d0dbd994bf1a0
- Python version: 3.5.3
- Installed using virtualenv? pip? conda?: virtualenv
- Bazel version (if compiling from source): 0.24.

[2019-05-07 10:30] byronyi commented on #28470
Gentle ping @avijit-nervana

[2019-05-07 10:40] achandraa commented on #28443
TensorFlow supports CUDA 10.0 (TensorFlow >= 1.13.0). Please refer this [link](https://www.tensorflow.org/install/gpu#software_requirements) and let us know in case this does not help. Thanks!

[2019-05-07 10:45] amitsrivastava78 commented on #28373
@Knize , can you please attach the train-set_model.h5 file as well, will try to reproduce the error on my work station and give you a solution.

Regards
Amit

[2019-05-07 10:47] byronyi commented on #28470
Ping @agramesh1 as well; looks like ldigo_p got removed when upgrading MKLDNN to 0.18.

[2019-05-07 10:49] Oldhuntor commented on #28364
Thank you for your reply,i'm going to ask question in that platform.

[2019-05-07 10:57] muddham commented on #28211
@Stepiii  As per the message the error is with respect to compiler can you please use Visual studio 2015 and check,Please refer the [link](https://www.tensorflow.org/install/source_windows)

[2019-05-07 11:00] sleighsoft commented on #28374
It could also be seen as a kind of subset, where when the subset size is 1 it unpacks the dict to a tensor.
This would allow selecting multiple keys as a subset from a `tf.data.Dataset`.

[2019-05-07 11:00] muddham commented on #28442
@007fred50 As you got the stackoverflow link to resolve this issue. We will close this issue .

[2019-05-07 11:00] #28442 closed

[2019-05-07 11:05] muddham commented on #28436
@007fred50  It looks like you haven't used a template to create this issue(tensorflow gpu  version used). Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue

[2019-05-07 11:11] muddham commented on #28427
@diemtran1005 It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you

[2019-05-07 11:17] mayorovp commented on #27079
@ymodak why you called this issue "resolved"? I see only workaround for this bug.

[2019-05-07 11:21] muddham commented on #28394
@Atrus619 Please provide the whole set libraries included in this attached code. We request the complete code to reproduce the issue.

[2019-05-07 11:45] achandraa commented on #28425
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-05-07 11:52] #28284 closed

[2019-05-07 11:59] achandraa commented on #28419
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-05-07 12:07] achandraa commented on #28428
Please provide details such as platform you are using (operating system, architecture), TensorFlow version used. If possible, please provide the minimal code snippet which can depict the issue at hand. You can refer this [template](https://github.com/tensorflow/tensorflow/issues/new/choose) to fill in the required information. Thanks!

[2019-05-07 12:17] hn2 opened #28472 "Low GPU utilization"
I am running windows 10, core i7-8700 cpu, gtx geforce 1660 ti GPU.
When training models, gpu utilization is very low (5-10% at max, sometimes lower).
Even is network is five layers. CPU utilization on the other hand is 30% and above.

[2019-05-07 12:20] #28308 closed

[2019-05-07 12:22] arrowd commented on #28113
I need some help with Bazel. How do I implement following changes without braking Linux case?

[code]

[2019-05-07 12:27] wanglouis49 commented on #20972
Same here on TF 1.13 / CUDA 10.0. CudnnGRU doesn't work, but CudnnLSTM works fine. Any update?

[2019-05-07 12:36] gerbenvv commented on #22095
I on the other hand, can no longer reproduce this bug with the snippets that I posted before with:

Tensorflow 1.31.1
CUDA 10.0
Nvidia driver 410.79
Ubuntu 16.04
Python 3.6.3
cudnn 7.4.2

on a GTX 1080 ti.

@myron Can you try upgrading to this setup? Do you have a simple reproduction snippet?

[2019-05-07 12:41] wissebarkhof commented on #21572
I experience a similar problem where the evaluation loss reported during training (using `estimator.train_and_evaluate()`)at a given step is much higher than when I evaluate the checkpoint at this step using `estimator.evaluate()`. The datasets and `EvalSpec` are exactly the same. I already changed the `steps` paramter in the `EvalSpec` to `None`. Is this behavior expected?

[2019-05-07 12:44] jinfagang opened #28473 "suppress logging messages in tf2.0"
We have tf.logging.set_verbesity() in tf1.x.

but tf2.0 there is not such module, what should we do?

[2019-05-07 12:46] Polaris-SDU opened #28474 "Seek help"
I use tensorflow to train a end-to-end scene text recognition system. The training stage seems good. total_loss gradually declined until convergence. But when I load pretrained weight and use the same network to predict a picture. it reminds me:
###
FailedPreconditionError (see above for traceback): Attempting to use uninitialized value recognition_lstm/stack_bidirectional_rnn/cell_0/bidirectional

[2019-05-07 12:56] Atrus619 commented on #28394
Updated with the requested information - let me know if you have any additional questions, thanks!

[2019-05-07 13:13] muddham commented on #28406
@syoyo Can you please elaborate the above information, cause CONV_2D_TRANSPOSE method is visible . Please see attached.
![image](https://user-images.githubusercontent.com/48215502/57302011-dee08580-70f7-11e9-8df4-66881b712aa7.png)

[2019-05-07 13:13] tensorflowbutler commented on #27979
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-07 13:22] muddham commented on #28373
@Knize Please refer the stackoverflow [link](https://stackoverflow.com/questions/54122044/tensorflow-lite-init-node-doesnt-exist). Stackoverflow user says he could resolve this issue by downgrading to tensorflow 1.12.Please let us know how it progresses . Thanks!

[2019-05-07 13:30] avijit-nervana commented on #28470
@byronyi There are two ways to use nGraph with TensorFlow - one is to compile nGraph with TensorFlow build - that you are attempting and the other is to build nGraph only and dynamically loading when running TensorFlow. The second approach is much easier to build and use. See the `Build Option 2` here: https://github.com/tensorflow/ngraph-bridge#option-2-build-ngraph-bridge-with-binary-tensorflow-

[2019-05-07 13:34] syoyo commented on #28406
@muddaham Yes that's what I found. Documentation should be updated by syncing with the implementation(or tflite schema).

[2019-05-07 13:36] KichangKim commented on #28110
Using GradientTape for manual training loop requires double GPU ram. I found that using Model.train_on_batch() instead of GradientTape is more fast and comsume less GPU ram. Wrapping entire train loop by using tf.function makes GradientTape to be fast as train_on_batch(), but memory usage does not changed.

Also, train_on_batch() has another issue that allocate CPU memory infinity without tf.keras

[2019-05-07 13:36] #28110 closed

[2019-05-07 13:43] chnp commented on #28443
yes, I uninstalled 10.1 and installed 10.0. Then it works fine. But the odd thing is my anaconda-python 3.7.4 works with tensorflow-gpu 1.13.1 and CUDA 10.1 fine.

[2019-05-07 13:44] #28443 closed

[2019-05-07 13:46] scooter4j commented on #28323
@jvishnuvardhan ok. I'm pretty confident that the fix shown in my last comment with code is what's needed. I'll try to get to that this week.

The one question I have is: how do I run unit tests for GPU if I don't have a GPU available? Even the GPU-based Dockerfile wouldn't emulate a GPU on my normal CPU system, right?

[2019-05-07 13:55] gashmish commented on #22146
@ANSHUMAN87:
Here is 2 models in archive, almost identical to what we are using. Input is (48000,) and output is (4,).
[models.tar.gz](https://github.com/tensorflow/tensorflow/files/3152890/models.tar.gz)

With 3 RPs applied, running model wavenet_classifier.tflite :
[code]
This is coused by Keras layer Reshape.

In model wavenet_classifier_fixed.tflite Reshape is changed to Squeeze, it runs corre

[2019-05-07 13:59] muddham commented on #28367
@dmus This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/ten

[2019-05-07 14:05] muddham commented on #28175
@ajinkya933 This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorfl

[2019-05-07 14:08] #28364 closed

[2019-05-07 14:14] muddham commented on #28394
@Atrus619 I ran the code, it says ModuleNotFoundError: No module named 'my_classes_tf'. As this is custom written code, This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.If you think we've misinterpreted a bug, please comment again with a clear

[2019-05-07 14:24] chandu8542 commented on #17150
@Hvass-Labs Which metrics from keras you would recommend for sparse_softmax_... loss function? I tried `sparse_categorical_accuracy` as [here](https://www.dlology.com/blog/how-to-use-keras-sparse_categorical_crossentropy/) but giving data type issue.

[2019-05-07 14:37] eyalsh commented on #22071
**Tensorflow version:** b'v1.13.1-6-gd32c49d4e3' 1.13.1

The following code which attempts to profile the flops and params of ResNet50 reports
FLOPS:51,351,635 PARAMS:25,636,712

Params seems ok but flops is way off (should be ~4GFLOPS).
Potentially could be the same issue

[code]

[2019-05-07 15:04] skiler07 opened #28477 "Tensorflow 2.0 Bus error 10 when creating a tf.data.Dataset from numpy arrays and eigen-decomposing them"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (yes, to generate data only):
- OS Platform and Distribution (e.g., MacOs):
- Tenso

[2019-05-07 15:05] Atrus619 commented on #28394
To the best of my knowledge, this issue is independent of the custom generator (and the generator has been provided as an attachment). I'm sure this could be replicated if the custom generator was replaced with a native tensorflow/keras generator or even something simpler. Would it be helpful to you if I pulled that together and reposted on here?

[2019-05-07 15:43] Stepiii commented on #28211
@muddham Sorry but the message says `upgrade your bazel installation to version 0.24.1 or higher to build TensorFlow!`. And actually there are no downloads for Visual Studio 2015

[2019-05-07 15:54] jdduke commented on #28105
Hi @imnotkind, just so it's clear, you're trying to build a shared library that you can deploy/use on an Android ARM device?

For that, you should use:
[code]

If you use `-cpu =x86` you're building for the emulator (for which you can use `--config=android_x86`).

Our libraries should be compatible with Windows, though, so let me look into that compilation failure.

[2019-05-07 16:03] mpeniak commented on #26501
same here

[2019-05-07 16:16] devstein opened #28480 "Enable Slack Github Integration and Notifications"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): NA
- Are you willing to contribute it (Yes/No): NA

**Desc

[2019-05-07 16:24] Aashish-1008 opened #28481 "Cloud ml engine + tfhub universal sentence encoder prediction issue"
Hello,
I trained a text classification model using TF-hub universal sentence encoder.
The model trained successfully and hosted on google cloud ML engine as well.

When i will try to prediction on model using
gcloud ml-engine predict --model $MODEL_NAME --version v1 --json-instances ./request.json
This is error i am getting:

{"error": "Prediction failed: Error during model execution:
AbortionErro

[2019-05-07 16:27] Chadys opened #28482 "checkpoint.save failure on colab when using MirroredStrategy"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2019-05-07 16:44] lauracosgrove commented on #23410
@ChristelSwift: I was able to get this working by reinstalling the `r-tensorflow` env. using `install_tensorflow(version = "nightly")`. `keras` points to `r-tensorflow` so it won't work if your nightly build environment is named anything but that.

[2019-05-07 16:49] jdduke commented on #28438
@miaout17 can you de-dupe against our tracking control flow issue? We'll be improving the documentation around control flow-related conversion in the near future (an area we're actively working to improve over the next several quarters).

[2019-05-07 17:11] allenlavoie commented on #28459
I'd check out the SavedModel guide: https://www.tensorflow.org/alpha/guide/saved_model. You'll want to export a `@tf.function` for serving.

Not really a bug though; please ask these kinds of things on StackOverflow so it's easier to archive the answers.

[2019-05-07 17:11] #28459 closed

[2019-05-07 17:12] byronyi commented on #28470
Does that mean the 1st build option with the `configure` script no longer be supported? It might better be removed entirely if so.

[2019-05-07 17:13] shianiawhite commented on #335
For anyone still interested in this issue, now that TensorBoard has a separate repository from TensorFlow, I have reopened the issue there. [Extend image summary so it allows displaying a label next to an image](https://github.com/tensorflow/tensorboard/issues/2204)

[2019-05-07 17:36] janosh opened #28484 "Always-on dropout layer"
**Describe the feature and the current behavior/state.**

Add the ability to create always-on dropout layers.

**Will this change the current api? How?**

Yes, adds a boolean option `always_on` to `tf.keras.layers.Dropout`.

Currently, implementing this functionality requires writing a custom dropout layer:

[code]

**Who will benefit from this feature?**

Everyone using dropout to create cheap Ba

[2019-05-07 17:47] miaowang14 commented on #27983
”Op code 67 is currently not delegated to NNAPI“

Which operation is this? and the type of the tensors?
If it is supported by NNAPI, I can help update delegate to support it.

[2019-05-07 17:53] miaout17 opened #28485 "Supporting control flow in TensorFlow Lite"
This is a tracking ticket for supporting generalized control flow in TensorFlow Lite. See also the [RFC](https://github.com/tensorflow/community/pull/83).

At this moment, if you see missing ops like "Switch", "Merge", "Enter", "Exit", "NextIteration" when converting a TensorFlow model to TensorFlow Lite, it means the graph contains control flows, and there's no way to convert it.

We're working h

[2019-05-07 18:19] skye commented on #28195
Ah you're right, my suggestion didn't make much sense. What I'm trying to achieve is that the [ImportGraphDef call](https://github.com/tensorflow/tensorflow/blob/e9bd33a41d181593748d12af950f35381e9e530e/tensorflow/c/c_api.cc#L2282) allows `gdef` to reference nodes from the outer graph, instead of raising the "Unknown input node" error. I _think_ you can do this by populating `opts.input_map` with

[2019-05-07 18:32] josepablog opened #28487 "Adam not learning when an embedding is initialized to zero"
I am working on  Tensorflow b'v1.13.1-0-g6612da8951' 1.13.1

**Describe the current behavior**
Adam optimizer does not update embeddings when they are initialized to zero

**Describe the expected behavior**
Embeddings should be optimized

**Code to reproduce the issue**
[code]

![image](https://user-images.githubusercontent.com/1832193/57323946-a7ec7e80-70bb-11e9-96f8-aab696204c93.png)

[2019-05-07 19:12] ymodak commented on #28327
Closing this issue since its resolved. Feel free to reopen if still having problems. Thanks!

[2019-05-07 19:12] #28327 closed

[2019-05-07 19:15] Mowghli commented on #28069
Sorry for the late reply. I asked the owner of the repository that has the model, regarding the same issues. He replied that he is not sure if conversion of FasterRCNN models to TF Lite is supported yet. He suggested performing transfer learning using a much smaller subset of the iNaturalist Dataset. He also gave the following links:

1. [https://medium.com/tensorflow/training-and-serving-a-realti

[2019-05-07 19:45] ymodak commented on #28200
Apologies but I am having trouble understanding your query. Are you asking to add deprecation warning to ```ctc_batch_cost``` function ? In that case its not required since we have included this function in TF 2.0
Also deprecation warnings for ```to_int32``` and ```to_int64`` functions look correct. Please let me know if I am missing something. Thanks!

[2019-05-07 20:09] arthurflor23 commented on #28200
That's right, will this be updated at some point? I think I made a mistake then, sorry

[2019-05-07 20:09] #28200 closed

[2019-05-07 20:17] rwk506 commented on #25093
I am also having this problem. As with @dedeco, using @harishperfect's instructions did not work, nor did the instructions for Mojave that included commenting out the python dependency line.

Details on the error I've been fighting, after running the suggested ` brew install --ignore-dependencies https://raw.githubusercontent.com/Homebrew/homebrew-core/f2a764ef944b1080be64bd88dca9a1d80130c558/Form

[2019-05-07 20:28] ymodak commented on #27820
@smit-hinsu Can you PTAL? Thanks!

[2019-05-07 20:30] aagnone3 commented on #27519
what was your solution?

[2019-05-07 21:00] jpsacha commented on #28183
I have the same issue. The `generator` passed to `model.fit_generator` is created with code

[code]

That generator is passed in tf.keras code to `convert_to_generator_like` that is not able to use it (the error as above).