[2019-11-15 00:39] cyndwith commented on #24881
Do we have per channel quantization support in the tflite converter ?

[2019-11-15 00:43] OverLordGoldDragon commented on #33487
Thank you, @robieta - I'll be benchmarking on GPU to verify improvements.

[2019-11-15 01:09] bas-aarts commented on #34117
That's the exact error I'm seeing. I'm compiling merely with:
--config=opt --config=cuda
I tried bazel 0.27, 0.29, 1.0, and 1.1

[2019-11-15 01:21] GHGmc2 commented on #30746
I think there's no  entry to python wrapper of "transform_graph", which was in contrib module on tf1.x

[2019-11-15 01:28] jvishnuvardhan opened #34296 "Error description is not clear with new experimental TF_lite_converter"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux, Colab
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): `tf-nightly`

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

`ValueError: Cannot set tensor: Got value of type N

[2019-11-15 01:59] MikeOfZen opened #34297 "tf.function hangs on ragged tensor input"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):No
- TensorFlow installed from (source or binary):Colab
- TensorFlow version (use command below):2.0.0
- Python version:3.6
- GPU model and memory:None

**Describe the current behavior**
When using tf.function with a numb

[2019-11-15 02:03] zhuyan288 commented on #32966
is there any solution?thanks.

[2019-11-15 02:09] zhuyan288 commented on #26474
I have the same issue,  can anyone help us and give a definite answer?thanks.

[2019-11-15 02:14] gekowa commented on #33811
Sure I will, thanks btw~

[2019-11-15 02:24] #33950 closed

[2019-11-15 02:25] suziW commented on #28148
i think the output_shapes attribute is defined in tensorflow_datasets module
try first `import tensorflow_datasets as tfds`, and i get pass this error
tensorflow official should solve this problem

[2019-11-15 02:35] Stick-To opened #34298 "could not restore weights to model with same structure when enable_eager"
Sytem: ubuntu18.04
TF version: 2.0
Hardware: gtx1080ti and gt 840m
CUDA: 10.0
CUDNN: 7.6

[code]

the save weights code is
[code]

the load weights code is
[code]

## When enable_eager
##  the weights saved under mode=='train' could not  be restored into model when mode=='test'
The error message is as follows:

[code]
the Shapes(20,) is the shape of reg_head, the Shapes(100,) is the shape of cla_h

[2019-11-15 02:38] OverLordGoldDragon commented on #33487
@qlzh727 @robieta I'm afraid this commit isn't of much help yet; it either introduced a breaking bug, or requires a full reinstall per master-branch - details below. The question now is: when will the next stable version downloadable via `conda` or `pip` be released? Can this be fixed before then?

<hr>

Copying just the commit files, calling `train_on_batch()` yields:

[code]

To resolve this err

[2019-11-15 02:41] #34169 closed

[2019-11-15 02:41] GitMeGet commented on #34169
Sorry I realiszed I was running on the wrong devkit

[2019-11-15 03:02] huanyingjun opened #34299 "How to use Per-channel quantize in TFLite？"
Hello
from the tflite conv.cc , I can see that now tflite supports Per-channel quantize , is there any guide or doc how to use per-channel quantize when convert tf model to tflite?

[2019-11-15 03:16] scm-ns commented on #34183
@gadagashwini It tells me how to add it to C++. Not how to run it within an iOS app.

If you look at this line `builtins.AddCustom("Sin", Register_SIN());`. I am not sure how to do this within an iOS app.

[2019-11-15 03:35] ztz818 opened #34300 "Feature_columns causes model training to be slow"
I use tf2.0 functional API to build the model, and use feature columns to process the data. I find that each step of my training takes a long time, and the CPU utilization is very low. My device is a 16 core CPU. When I don't use feature columns, I can run the model with multiple cores. I'm confused. Can someone answer this question?
![image](https://user-images.githubusercontent.com/26998046/6891

[2019-11-15 03:35] robieta commented on #33487
@OverLordGoldDragon Yeah, environment management is a never ending battle. It seems like you have a non-clean env or a stale version of TF in your PYTHONPATH. I'm not at all surprised that copy-pasting the contents of training.py didn't do the right thing. It's actually fortunate that it gave an ImportError, because otherwise you would have just wound up with some inscrutable error. (Also, the imp

[2019-11-15 03:42] scm-ns commented on #20905
@jdduke hey. I am trying to run the c++ lib on iOS. Not using the C API/Swift/ObjC. Do you have any tips on how to do this? Building the c++ lib and linking it seems straightforward. But I am wondering how to setup the c++ lib to use the metal delegate?

[2019-11-15 03:42] liyue201 commented on #25323
it works， thanks

[2019-11-15 03:43] liyue201 commented on #25323
it works， thanks

[2019-11-15 03:45] dhruv13J commented on #33840
+1
The following code reproduces the error:

[code]

[2019-11-15 03:52] OverLordGoldDragon commented on #33487
@robieta So basically, `tf-nightly` is the current master branch, installable via `!pip`? If so, the concept of "nightly" finally makes sense to me: "all the stuff since last stable release and before next".

My env is fine, but yes, a simple copy can easily break - the problem is in installing w/o a package manager which correctly unpacks (and ignores) the repository files. If nightly is what I d

[2019-11-15 03:57] ImportTaste commented on #34282
If the commit message is anything to go by, it is intentional: https://github.com/tensorflow/tensorflow/commit/183c4b74a932c281b4f80dba4ab7e005dc154481

[2019-11-15 03:58] ztz818 commented on #34300
I want to know why feature_columns cause model training not to use multi-core CPU

[2019-11-15 04:38] adishpv9 commented on #34272
Hi Gowtham,
Thanks for the reply !
I want a python program to run my tflite model. Can you help out with that?

On Fri, Nov 15, 2019 at 4:38 AM gowthamkpr <notifications@github.com> wrote:

--
*Regards,*
Adish P V

[2019-11-15 04:53] lwu025 commented on #26474
@zhuyan288  @jsolves
I think tflite_convert in 1.15 can do the conversion directly.

[2019-11-15 04:56] tgaddair commented on #34282
Good catch. Thanks!

[2019-11-15 04:56] #34282 closed

[2019-11-15 05:02] gadagashwini commented on #34234
Issue is replicating on colab with TF 2.1.0.dev20191028.
Please see gist [here](https://colab.sandbox.google.com/gist/gadagashwini/458b64b41d927e2e18318900b306d959/untitled258.ipynb). Thanks!

[2019-11-15 05:12] ucasiggcas commented on #33239
sorry，
because of the [ issue](https://github.com/tensorflow/tensorflow/issues/34214),
couldn't try anything,

[2019-11-15 06:12] ravikyram commented on #34275
@yashmanuda
Will it be possible to provide minimal stand alone code to reproduce the issue. It helps us in localizing the issue faster.Thanks!

[2019-11-15 06:21] WuShaoXuan5 commented on #27980
We should not rename resnet_v2_2017_04_14  as "resnet_v2_2017_04_14.ckpt", which is in resnet_v2_2017_04_14.tar ,but instead rename it as 'resnet_v2_2017_04_14.tar'.And then open it as RAR, then we will get three files in it:eval.graph, resnet_v2_101.ckpt, train.graph

[2019-11-15 06:25] ravikyram commented on #34268
I tried in colab and was able to reproduce the issue. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/79a3a8395a6edb27e870bac86cd9035f/untitled369.ipynb). Thanks!

[2019-11-15 06:47] gadagashwini commented on #34280
@nstyler, Please provide the exact sequence of commands / steps that you executed before running into the problem

[2019-11-15 06:49] oanush commented on #34287
@shahdev ,
Hi when tried from my end i was able to run the code without any issues for CUDA 10.0, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/b41a35317e88d7dc3f5c0d5ae7c402fb/34287.ipynb) of colab.Thanks!

[2019-11-15 07:00] fsy8515-dev opened #34301 "tensorflow.lite.python.convert.ConverterError: TOCO failed. See console for info"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

[code]

**Also, please include a link to the saved model or GraphDef**

[code]

**Fa

[2019-11-15 07:07] stakemura-bns commented on #33564
@ NikolayChirkov Any news about this feature ?
I am looking forward to getting updates from you. Thanks again.

[2019-11-15 07:08] stakemura commented on #33564
@ NikolayChirkov Any news about this feature ?
I am looking forward to getting updates from you. Thanks again.

[2019-11-15 07:09] ugurkanates opened #34302 "Tensorflow 1.15 doesn't exists within pip install"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2019-11-15 07:14] shayantabatabaee commented on #33303
@jvishnuvardhan actually you do not need dataset to reproduce bug, just comment representative_dataset_gen line and you will see the bug, I tested your gist and saw the bug. I use Netron application to see that the orders of outputs layers is not the same with the code. I seemed that second output of model is that 10th output of code, I attached the image.
<img width="400" alt="Screen Shot 2019-11

[2019-11-15 07:22] ksasi commented on #34235
Hi,

tf.compat.v1.disable_eager_execution() seems to be helping with the error. This can be a workaround. However , shouldn't "tf.keras.backend.gradients" automatically detect the eager vs graph mode and then obtain gradients?

Below is the code to reproduce the issue. The "vis_img_in_filter()" fails with the error, as eager is enabled by default in tf.keras 2.0

import numpy as np
import tensorfl

[2019-11-15 07:38] pathapatisivayya opened #34303 "two words not mached at the same time"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-11-15 08:22] haozha111 commented on #34266
Hi,

We have released the new MLIR-based TF Lite converter. Can you please use the latest tf-nightly pip package, and then set converter.experimental_new_converter = True. Try convert it and let me know if you have any issues.

[2019-11-15 08:26] vihari1729 commented on #33867
Any update regarding the comment?

[2019-11-15 08:31] jalilasadi commented on #29189
@qlzh727 we are waiting for you please.

[2019-11-15 08:51] oanush commented on #34274
@hy59 ,
Can you please provide gist of colab or code being used so that we can try replicating the issue from our end?Thanks!

[2019-11-15 08:56] gadagashwini commented on #34269
Issue is replicating with Tensorflow version 2.0.
Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/0f2c5c2f88db0dacf2e0b3dff238941c/34269.ipynb). Thanks!

[2019-11-15 08:57] ravikyram commented on #34260
Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature.Thanks!

[2019-11-15 08:58] gadagashwini commented on #34270
@thadumi, Thanks for reporting this issue.
Will it be possible to provide the complete standalone code to reproduce the reported issue here. Thanks!

[2019-11-15 08:58] ziky90 commented on #34268
@ravikyram btw. the very same bug seems to be also in tensorflow==2.0.0, so maybe you can add also label `TF 2.0`?

You can reproduce it by:
[code]
which prints 1

and
[code]
which prints 3

In both cases expected result is 3

[2019-11-15 09:04] ravikyram commented on #34255
@gdj0nes
Will it be possible to share related complete code snippet to reproduce the issue in our environment,it helps us localizing the issue faster. Thanks!

[2019-11-15 09:22] gadagashwini commented on #34273
@hardware-dept, Please refer this [link](https://www.tensorflow.org/lite/microcontrollers/build_convert). Thanks!

[2019-11-15 09:30] oanush commented on #34271
@sakurakatana ,
When tried running the given code i got the error
`NameError: name 'fetch_california_housing' is not defined` can you please provide us the complete code to reproduce the error faced here?Thanks!

[2019-11-15 09:40] Emilien-P opened #34305 "Behaviour of the loss function with sample_weights (keras)"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/keras/Model#fit

## Description of issue (what needs changing):
I think we need a description of how the loss is computed when (temporal) sample_weights are applied, i.e. how is the loss aggregated across samples/time-steps. As addressed in #25178, the behaviour has even changed over time in the external version of Keras from

[2019-11-15 09:43] pnetz commented on #32982
I just changed the imports to their source location at tensorflow_core. Looks stable to use intra-release and can be switch after either Tensorflow or Code improve the situation?

`from tensorflow_core.python.keras.api import keras`

[2019-11-15 09:46] clementpoiret commented on #24496
@synapse8 I don't see something equivalent in tensorflow 2.0's documentation, any way to do so with tf.config.experimental ?

[2019-11-15 09:49] ravikyram commented on #34107
@jessica-santos

Is it possible to share dummy data so we can try to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2019-11-15 09:52] ravikyram commented on #33737
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-15 09:52] #33737 closed

[2019-11-15 09:56] ravikyram commented on #33805
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-15 09:56] #33805 closed

[2019-11-15 09:57] ravikyram commented on #33804
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-15 09:57] #33804 closed

[2019-11-15 09:59] xggIoU commented on #33218
PyCharm 2019.3 EAP version worked!
https://www.jetbrains.com/pycharm/nextversion/?_ga=2.221720863.623821984.1573808626-1607002874.1573808626

[2019-11-15 10:00] Flamefire commented on #32982
This won't work. At some point you get double-imports and crashes because TF modules (and others) `import tensorflow`, which aliases `tensorflow_core` without Python realizing -> double load -> boom

[2019-11-15 10:00] xggIoU commented on #32982
PyCharm 2019.3 EAP version worked!
https://www.jetbrains.com/pycharm/nextversion/?_ga=2.221720863.623821984.1573808626-1607002874.1573808626

[2019-11-15 10:03] DocDriven commented on #34277
@liyunlu0618 : Upon further investigation of this problem I noticed that the number of detected nodes, inputs and outputs is independent from the model architecture. Varying the input/output size and/or the number of layers do not affect the output of `interpreter->nodes_size()`, `interpreter->inputs().size()` and `interpreter->outputs().size()`. The number of tensors does change, but the hidden t

[2019-11-15 10:07] rmothukuru commented on #34132
@FancyVin,
As @cecabert mentioned, it is a duplicate of [32477](https://github.com/tensorflow/tensorflow/issues/32477). Please confirm if we can close this issue as it's being tracked there. Thanks!

[2019-11-15 10:11] gvamvou commented on #21526
Greetings and thank you for all your work!
I would like to request the following operations to be added to the list, if possible: TensorArrayV3, TensorArrayScatterV3, TensorArrayReadV3, TensorArraySizeV3, TensorArrayGatherV3, TensorArrayWriteV3
Thank you for your time.

[2019-11-15 10:40] rmothukuru commented on #34234
@georgesterpu,
As per @gadagashwini's comment, by using `max_to_keep=10`, all the Checkpoints are retained. Please find the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/729f03581c84f22332f4eb2ff29b47f5/untitled258.ipynb#scrollTo=m9Ca1XPakRK9). Please let me know if you need more information. Thanks!

[2019-11-15 10:41] gadagashwini commented on #33848
@tombburnell, Similar issue [#24496](https://github.com/tensorflow/tensorflow/issues/24496).

[2019-11-15 10:46] sakurakatana commented on #34271
Complete code：
'''
@Author:   MaoZi_Sakura
@Contact:  zhang132412sakura@outlook.com
'''

'''
@Author:   MaoZi_Sakura
@Contact:  zhang132412sakura@outlook.com
'''

# %%
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
import os, sys, time

#%%

cla

[2019-11-15 10:51] sakurakatana commented on #34271
At the same time, I encountered a similar problem again.

Other info / logs
WARNING:tensorflow:Entity <function <lambda> at 0x00000207ACE9BBF8> could not be transformed and will be executed as-is. Please report this to the AutoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: Unable to locate the source code of <

[2019-11-15 10:52] gadagashwini commented on #32460
@jl-wynen, This issue is fixed in Tf 2.0.
Please take a look at gist [here](https://colab.sandbox.google.com/gist/gadagashwini/3cf63093471c1012746f5a77b75aa4be/untitled259.ipynb). Thanks!

[2019-11-15 10:54] oanush commented on #33722
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-15 10:54] #33722 closed

[2019-11-15 10:56] rmothukuru commented on #34264
Could reproduce the issue by changing the TF Version from 1.13 to 2.0. Here is the [Gist](https://colab.sandbox.google.com/gist/oanush/47bf6c47011dacd95beca106b25d654e/34264.ipynb). Thanks!

[2019-11-15 10:56] georgesterpu commented on #34234
Thanks, @rmothukuru,
Sorry, I think that I haven't explained this clear enough, please have a look at another snippet below.

[code]

What I would like to find in the checkpoint directory is the following list of checkpoints:
`ckpt-998, ckpt-999, ckpt-1998, ckpt-1999`, or the last two checkpoints saved by each manager.
Instead, there are only `ckpt-1998, ckpt-1999`. You are suggesting that the sol

[2019-11-15 10:58] ravikyram commented on #33929
@bloc97
I tried in colab with TF 2.0 for learning rate 0 and 100 and i am able to see loss in output. However loss goes to nan if we use very large value `learning rate: 1e10`. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/af23720e98b0f655f794773c30cd486c/untitled371.ipynb). However with TF 1.15 version i am able to see loss for learning rate 0, 100 and 1e10 .Thanks!

[2019-11-15 10:59] yurnery commented on #26813
this is still a problem for me, it cann't auto-complete the code.

[2019-11-15 10:59] sharkdtu commented on #32817
have the same issue on a centos7 (tf-2.0)

demo source:
[code]

console:
[code]

[2019-11-15 11:03] rmothukuru commented on #34268
Could reproduce the issue with 2.0 as well. Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/6e27abeb2ef09c6384fa64e038371a47/untitled369.ipynb#scrollTo=sPsaV2E7ua0S).

[2019-11-15 11:06] oanush commented on #33780
@zh794390558
Can you please provide data in the standard template ? also should the same description be considered posted by @aishinchi ? Thanks!

[2019-11-15 11:09] yangw1234 commented on #34302
Hi, I just came across the problem myself, and I fixed it by upgrading pip to 19.0.

[2019-11-15 11:11] oanush commented on #34214
@ucasiggcas ,
Can you share a simple and standalone code to reproduce the issue? thanks!

[2019-11-15 11:15] gadagashwini commented on #33850
@Vampsj, It is working with Tf 1.15.0.
Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/8326e49854e8d1fbf1c644a51ee01e59/untitled261.ipynb). Thanks!

[2019-11-15 11:18] oanush commented on #34140
Issue replicating for TF-2.0 and tf-nightly. kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/d2a2ccbc84474b6fc693ebcad55f049c/34140.ipynb) of colab.Thanks!

[2019-11-15 11:32] jl-wynen commented on #32460
I still get the same error message on my machine.
I installed TF into a new virtual environment using
[code]

[2019-11-15 11:38] rmothukuru commented on #34234
Could reproduce the issue with TF Version 2.0. Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/c350687aa6389346a38ac2e7595c2c7b/untitled262.ipynb). Thanks!

[2019-11-15 11:44] darrenwang00 opened #34306 "tf2.0.0 using tf.saved_model.save save model, java SavedModelBundle load can not find ouput opt"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): centos7
- TensorFlow installed from (source or binary

[2019-11-15 11:51] rmothukuru commented on #33929
@bloc97,
Agree that  `learning rate: 1e10` is resulting in `NaN` but can you please let me know why do you want to use such a Huge Value for Learning Rate. Thanks!

[2019-11-15 11:51] kazuimotn commented on #32693
`converter.experimental_new_converter = True`
is is what I have been waiting for!
I can convert my model from .h5 to .tflite.
However, when I try to load this model to my Android APK, There are some problem:

I have class that loads .tflite model as byteBuffer and predict probabilities as following:

`public class TensorFlowLiteClassifier {

    private Interpreter interpreter;
    public static f

[2019-11-15 11:55] gadagashwini commented on #34302
@ugurkanates, PIP install TF 1.15 is available.
Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/21d328ab6113dce454199f711badb4cf/untitled263.ipynb). Thanks!

[2019-11-15 12:14] ravikyram commented on #34301
Did you try using [TFLITE_BUILTINS, SELECT_TF_OPS ](https://www.tensorflow.org/lite/guide/ops_select)to convert your model? Thanks!

[2019-11-15 12:26] Yooong-W opened #34307 "error " 'tflite::FlatbufferModel' has not been declared "when use Tensorflow lite C++ API"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary):source
- TensorFlow version (or github SHA if from source):r1.14

i run `bazel build //tensorflow/lite:libtensorflowlite` and `bazel build //tensorflow/lite:framework`,so i get libtensorflowlite.so and libframework.so.
Then i use the library in my own

[2019-11-15 13:18] thadumi commented on #34270
Hi @gadagashwini ,
please take a look at the following example

[code]

[2019-11-15 13:37] sbj028 commented on #34190
Thank you for the answer.

I've now tried the following:
`!pip install tensorflow-gpu==2.0`
or
`try:
  %tensorflow_version 2.x
except Exception:
  pass`
or
`!pip install tf-nightly`
or
`!pip install tf-nightly-2.0-preview`
or
`!pip install tensorflow-gpu`
which all work fine using Google Colab.

The following version: `!pip install -q tensorflow==2.0.0-alpha0 ` still gives me

mentioned above. But

[2019-11-15 13:37] #34190 closed

[2019-11-15 13:53] naturomics commented on #30855
For ppl struggling with this problem, [horovod](https://github.com/horovod) is a good workaround at this time, if you have to run in eager mode or tf.function only decorated in sub-block of model.  Here is my code for creating a distributed optimizer, other things follow the example of horovod.

[code]

E.g.,

[code]

[2019-11-15 13:58] nstyler commented on #34280
Hi! Thanks for a quick reply!

I used the next steps:

[code]

# at this stage I get the error about ExtractImagePatches not been whitelisted for the TensorFlow Lite flex op set

[2019-11-15 14:08] kiunthmo opened #34308 "Feature Request: Pass 'elapsed_secs' into LoggingHook string formatter."
Can the tf.train.LoggingTensorHook be changed to pass the time elapsed into the string formatter?

It would be quite easy to add it to the dictionary of values already being passed to the formatter function. Currently you have to choose between your own custom string formatter, and seeing the time elapsed - I think it would be quite easy to have both with a small change to the code.

Thanks.

[2019-11-15 14:18] i-tolmachev commented on #34266
Thanks for the suggestions above.
1. Unfortunately, we do not want to switch the current architecture to LSTM.
2. We tried the nightly build with converter.experimental_new_converter = True included and have successfully converted the model into a .tflite format.
But we can't run it under the device either. The log is the following:
[code]
We suppose, such a conversion requires the 'nightly' versi

[2019-11-15 14:30] jtavrisov commented on #34275
There's no functionality asfaik to do the tuning for you. This is just a dashboard so you can compare different runs with different hparams to see which is best in tensorboard.

I have a GridSearch/RandomSearch function in my code that just loops over parameters and runs a new experiment. Just a more automated fashion of running different trials.

As for your error, you are passing in an instance

[2019-11-15 14:42] peter197321 opened #34310 "tf-lite version info"
I have preinstalled TensorFlow - lite on my system, is it possible to get version information of it programmatically? If so - how?
Thanks.

[2019-11-15 15:04] shahriar49 opened #34311 "Batch pre-padding with Tensorflow datasets"
I have a dataset of variable-length sequences to feed an LSTM network and I want to do pre-padding in the batches, but current padded_batch function only pads at the sequences end. How can I do it?
I asked this question on stackoverflow but nobody answered me.

[2019-11-15 15:17] jvishnuvardhan commented on #32693
@kazuimotn Can you please create a new issue so that it will be easy for others  to follow who have similar issue like to you. Thanks!

[2019-11-15 15:22] adrigrillo opened #34312 "Error when loading SavedModel with models.load_model() and compile=false"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10, Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0
- Python version: 3.6.8
- CUDA/cuDNN version: 10.0.130/7.6.3.30
- GPU model and memory: T

[2019-11-15 15:26] Pierrci commented on #34210
I get this error when trying with `converter.experimental_new_converter = True`, whatever the value of other options `target_spec.supported_ops` and `allow_custom_ops`:

[code]

But it seems there is an `input_1` in the model, as visible in my previous TensorBoard graph and in [this cell of the notebook](https://colab.research.google.com/drive/16kWs2ji8xrgjSuLftXknDqEh2VixDR4R#scrollTo=94UoamBP17V

[2019-11-15 15:53] RazaGR commented on #34237
@ymodak @oanush
I tried to build with `--config=monolithic `
`bazel build -c opt --config=monolithic --verbose_failures //tensorflow:libtensorflow_cc.so`

but the same `Undefined symbols for architecture x86_64:` error occurs.

Then in my .cpp build command I included `g++ .... -undefined dynamic_lookup` , which caused my program to compile without displaying any error, But when I run the program`

[2019-11-15 15:59] kazuimotn opened #34313 "A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0x70 in tid 28007"
There was a problem when calling converted custom model (LSTM.tflite) in Android Studio.
with
[code]

**System information**
model training machine
- Ubuntu 16.04 (LTS)
- GTX1080
- tensorflow 1.13.1
- Keras 2.2.4
- Python 3.6.8

model converting & loading machine

- MacOS Mojave 10.14.5
- Python 3.7.1
- tensorflow 2.0.0, tf-nightly 2.1.0.dev20191113
- Android Studio 3.4.1
- targetSdkVersion 28

Sm

[2019-11-15 16:03] chisom812 opened #34314 "Error when importing tensorflow"
hello github
i have been having issues importing tensorflow
first i installed the tensorflow==1.31 and i got an error attached below while trying to import tensorflow.
someone suggested i use conda install tensorflow which i did and when trying to import tensorflow my python stops working and my kernel dies.
i was also instructed to upgrade numpy using pip install numpy --upgrade. which i also did

[2019-11-15 16:09] kazuimotn commented on #32693
opened [here](https://github.com/tensorflow/tensorflow/issues/34313#issue-523552107)

[2019-11-15 16:15] joekiller commented on #34314
Seems like a pipy distribution problem. I cannot get 2.0.0 either.

[2019-11-15 16:18] ArtyomMashkin commented on #33511
Oh sorry, only now I've seen your message. Okay thanks I will have a look through this example and ask my questions here. So, does not matter I use GpuDelegate or not, if I use setNumThreads I have the result faster. I mean okay GpuDelegate does not support setNumThreads, but if I will use it with GpuDelegate, will it interfere?

[2019-11-15 16:19] jaingaurav commented on #24496
@clementpoiret: Please note that the `tf.config.experimental.set_memory_growth` call is unnecessary since `tf.config.experimental.set_virtual_device_configuration` overrides that flag since it slices up the GPU memory and pre-allocates the allocated memory.

[2019-11-15 16:25] jaingaurav commented on #34098
@Davidvdrm: As you can see from the code snippet you posted, these complex ops are not supported on windows due to compiler incompatibilities. I think we'll have better luck when we upgrade to MSVC 2019. For now these ops are available only on linux with clang as the CUDA compiler.

[2019-11-15 16:31] joekiller commented on #34314
Also seemed to only affect me running python 3.8. I reverted to 3.7 and it found it fine.

[2019-11-15 16:36] cabahug2 opened #34315 "Unable to use new TensorFlow Lite Android Support Library for object detection"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Catalina 10.15.1
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Pixel 3XL
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below

[2019-11-15 16:46] georgesterpu opened #34316 "tf.function issue after replacing the optimiser"
**System information**
- Have I written custom code: no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Manjaro linux testing
- TensorFlow installed from (source or binary): pypi binary
- TensorFlow version (use command below): v1.12.1-16854-g6778662 2.1.0-dev20191028
- Python version: 3.7.4
- CUDA/cuDNN version: 10.1.243 / 7.6.4.38
- GPU model and memory: GeForce GTX 1080, 8GB

**Descr

[2019-11-15 16:49] chisom812 commented on #34314
How do I revert my python to 2.7 and I don't understand your first comment please can you explain more

[2019-11-15 16:53] impjdi commented on #33511
@ArtyomMashkin

No.  It won't.  It will be just ignored.

[2019-11-15 16:53] alextp commented on #34268
@jch1 I think you wrote this code, can you take a look?

[2019-11-15 16:54] jessicadef opened #34317 "Parallelize input pipeline with TensorFlow2.0"
We have already implemented distributed training with `MultiWorkerMirroredStrategy` and `ParameterServerStrategy` (multi-worker on multiple machines). The problem is that every script from every worker extracts the same data set which is then sharded among the workers but we would like to directly pass to each worker only the part of data to be processed. Is it possible?
Maybe we should execute di

[2019-11-15 16:58] itemko commented on #34222
@ydxt
How have you resolved this?

[2019-11-15 16:58] impjdi commented on #33564
@stakemura

Sorry, @NikolayChirkov has switched teams and isn't working on TFLite GPU anymore.  Thus, we don't have a maintainer for Metal.

@miaout17

IIRC there is some complexities with ObjC and Swift.  How do you feel we should proceed?  I think support of this functionality is now up to you guys, from the API's point of view.

[2019-11-15 16:58] jdduke commented on #34267
Just to be clear, is this crashing both on device (Android) and in the Unity Editor (on Linux)? Or with just one?

Would you mind sharing the exact model that fails? Also, are there any other failure logs in the editor log or device log that are relevant?

[2019-11-15 17:00] dhinkris commented on #30850
anyluck on resolving this?

[2019-11-15 17:01] mihaimaruseac commented on #33487
That's a correct understanding of `tf-nightly`

[2019-11-15 17:05] michaelmunie commented on #31654
I think that your CPU performance is better than GPU performance because you have a relatively small model.  You should try a test run with
`amount_of_layers = [5, 50, 150]`
And see if GPU is still performing slower than CPU.

As a poster on S.O. says, "the overhead of invoking GPU kernels, and copying data to and from GPU, is very high. For operations on models with very little parameters it is n

[2019-11-15 17:06] bloc97 commented on #33929
Many research papers using high learning rate regimes will diverge if gradient clipping does not work. I simply provided a small example that shows the issue.
For example, in VDSR the authors use a learning rate of 0.1 with gradient clipping of 0.001. Since the network is extremely deep (20+ layers), it will diverge even on learning rates of 0.1 or 0.01 without gradient clipping.

I discovered thi

[2019-11-15 17:07] niccle27 opened #34318 "ModuleNotFoundError: No module named 'tensorflow'"
**System information**
- Linux Ubuntu 18.04
- TensorFlow-gpu installed from pip :
- TensorFlow-gpu version: 2.0.0

- Python version:3.6.8
- Installed using pip
- CUDA/cuDNN version:10
- GPU model and memory: 1050 mobile

I followed the installation tutorial for tensorflow GPU, specified in
https://www.tensorflow.org/install/gpu

The command "pip3 show tensorflow-gpu " has the following output :
[c

[2019-11-15 17:11] Davidvdrm commented on #34098
I was able to get the compilation started on linux with clang, but am currently running into a last issue which i don't understand at all. From some research it seems to be a problem with the compiler not having a back-end for the host.
[code]

[2019-11-15 17:15] cabahug2 commented on #34315
Also tested with a clean version of the android example object detection app and ran into the same issue using the stock detect.tflite and label file.

`2019-11-15 12:12:19.265 22400-22458/org.tensorflow.lite.examples.detection E/AndroidRuntime: FATAL EXCEPTION: inference
    Process: org.tensorflow.lite.examples.detection, PID: 22400
    java.lang.IllegalArgumentException: Label number 0 mismatch

[2019-11-15 17:18] jdduke commented on #34286
Thanks for the report. Have you tried with a non-optimized build? That might help provide symbols for the crash stack.

Assigning to @miaout17 for further assistance.

[2019-11-15 17:20] jdduke commented on #20905
@scm-ns this thread is quite long already, can you file a separate bug if you're having trouble with iOS + C++ + Metal?

[2019-11-15 17:21] jdduke commented on #34296
Over to @miaout17 and @gargn to investigate.

[2019-11-15 17:22] mihaimaruseac commented on #34302
Please upgrade pip.

[2019-11-15 17:22] #34302 closed

[2019-11-15 17:24] mihaimaruseac commented on #34318
Please post the **full** output of (eventually in a virtualenv)

[code]

[2019-11-15 17:38] PedroDKE opened #34319 "Entity <function Function._initialize_uninitialized_variables.<locals>.initialize_variables at 0x7fa9a442b440> could not be transformed and will be executed"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution: Ubuntu 18.06
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 2.0.0
- Python version: 3.7.4
-using spyder3 ide in anaconda
- CUDA/cuDNN version: None

**Describe the current behavior**
getting this error

[2019-11-15 17:57] jdduke commented on #34084
We're not taking advantage of any API 29 features, and 28 is the standard targetSdkVersion for the Play Store.

[2019-11-15 17:57] #34084 closed

[2019-11-15 17:58] jdduke commented on #33735
Apologies for the delayed response, reassigning to some folks who can help.

[2019-11-15 17:59] jdduke commented on #32465
Thanks for flagging, are you still experiencing this issue with the latest master checkout?

[2019-11-15 18:09] antiagainst commented on #31501
Sean is actively working on SavedModel support actually. So assign to him. :)

[2019-11-15 18:10] antiagainst commented on #31501
For everyone interested, Sean will talk about his work on SavedModel support in Nov 21's [MLIR open design meeting](https://docs.google.com/document/d/1y_9f1AbfgcoVdJh4_aM6-BaSHvrHl8zuA5G4jv_94K8/edit).

[2019-11-15 18:11] lamberta commented on #33830
This was merged. Thanks

[2019-11-15 18:11] #33830 closed

[2019-11-15 18:11] ShiroKL opened #34321 "Colab, TPU training using keras InternalError: Failed to serialize message"
Hi,

I am trying to test TPU on colab in order to see how that works on keras.
I try to train 3 models. And differents bugs/abnormal behaviors occured :
1) when I trained a simple model ( see "create_model" function in colab) it works well with an image size of (100,100,3) but it does not work with (200,200,3). The batch size is about 80 so I doubt it is about an OOM error.

2)  same as 1) with vg

[2019-11-15 18:12] psybuzz commented on #34276
Thanks for the report.  The details look very similar to issue https://github.com/tensorflow/tensorboard/issues/2084.  Currently, there is a bug with TensorBoard's Keras callbacks that prevent training metrics from showing up/updating.

The current workaround for this, while we work on a solution, is to disable profiling entirely by adding `profile_batch=0` to the callback options.

[2019-11-15 18:12] Devrim-Celik commented on #33886
Hey,

sure here you go (not really short, but hope good enough):

[code]

[2019-11-15 18:14] psybuzz commented on #34276
Duplicate of https://github.com/tensorflow/tensorboard/issues/2084

[2019-11-15 18:14] #34276 closed

[2019-11-15 18:16] liyunlu0618 commented on #33735
Thanks for flagging this issue! We also found this ourselves and implemented a scale adjustment to avoid overflow when quantizing biases. Can you try again with the nightly build and let us know how it goes? Thanks!

[2019-11-15 18:17] Naveen-Dodda commented on #17684
Hey Arun,

I feel the issues is with TensorFlow version that you are using, there might be an issue with toco_protos if you install TensorFLow alternate sources.  I have tried it my self using 1.15, simplest way to try it yourself is to use Google colab and generate 8 bit quantized tflite file.

Hope this answers your question, feel free to reach out to me.

Best,
Naveen Dodda

[2019-11-15 18:18] ymodak commented on #34310
TF Lite comes with TensorFlow prebuilt binary. So it will be the same version as your installed TF.
From python interpreter you may try;
[code]

[2019-11-15 18:24] psybuzz commented on #34276
Please let us know if the workaround doesn't work!

Side note: I noticed in the screenshot that the Runs selector on the left is more narrow than the full sidebar.  This issue should be fixed in the most recent Tensorboard

[2019-11-15 18:48] wolffg commented on #25682
No response; closing, but please re-file if you want to tell us about accessibility issues.

[2019-11-15 18:48] #25682 closed

[2019-11-15 18:52] wolffg commented on #19515
I'm going to close this, as we have a vastly different converter at this point.

[2019-11-15 18:52] #19515 closed

[2019-11-15 18:54] jomoengineer commented on #34219
Okay, thanks.   Yeah, I did a 'git pull' and noticed there were a number of changed that were pulled down so I removed the tensorflow folder and re cloned the repo.  This time the build completes without issue however I am having an issue getting the mbed portion to complete the python dependency build.  I've created a virtualenv for python 2.7.15 (although it might be best to update this to pytho

[2019-11-15 19:03] artemmavrin commented on #33261
Is there any update? I noticed in #33094 that there was a fix for saving `TimeDistributed` layers in the nightly release. I tried with `tf-nightly==2.1.0-dev20191113`, but I'm getting the same error.

[2019-11-15 19:10] haozha111 commented on #34266
With unroll = True, the control flow op is eliminated, so you can run it with an old tensorflowLite.so. But if you want to run it on device without the change of your code, you need to download the tf-nightly tensorflowLite.so file.

[2019-11-15 19:14] qlzh727 commented on #33886
I see. The issue is that the initial_state should have a shape of [batch, state_size]. In your case, you should pass in tf.zeros([batch_size, self.units]), tf.eye(self.units, batch_shape=[batch_size]), and the model will train correctly.

[2019-11-15 19:14] #33886 closed

[2019-11-15 19:16] qlzh727 commented on #33886
You can also try cell.get_initial_state(inputs) and see what's the shape of returned initial state. The input here is purely to get the batch size.

[2019-11-15 19:24] haozha111 commented on #34210
I could reproduce the issue now. It seems like a bug in our converter, will take a look and try to fix it soon.

[2019-11-15 19:28] jvishnuvardhan commented on #34221
@xgzeng Thanks for reporting this issue. I could reproduce the issue with `tf-nightly`. However, when I ran [your code](https://colab.sandbox.google.com/gist/jvishnuvardhan/cbb0b6512150bf612441fb84aa9ded0f/untitled649.ipynb) with `tf-nightly` (eager mode is default in TF2.x) without `tf.config.experimental_run_functions_eagerly(True)`, then the results matches well with the code where `tf.config.e

[2019-11-15 19:39] CA4GitHub commented on #18304
As a tip, at least in tensorflow version 1.13.1, you can't even check if eager execution is enabled before you try to enable eager execution.

That is the following will not work:

    import tensorflow as tf
    tf.executing_eagerly()
    tf.enable_eager_execution()

However, with a new python kernel, the following works:

    import tensorflow as tf
    tf.enable_eager_execution()
    tf.executi

[2019-11-15 19:39] haozha111 commented on #33867
From the user guide: https://www.tensorflow.org/lite/convert/quantization

The std_dev and mean need to be provided otherwise the model doesn't know how to map from uint8 to float ranges. Adding Alan for further suggestions.

[2019-11-15 19:44] benbarsdell commented on #34117
Just noticed this: if I checkout a random commit from Oct 2, I see the linker errors when I build with bazel 0.27.1, but **not** when I build with bazel 0.24.1.

[2019-11-15 19:50] alextp commented on #34221
This looks like a bug in the keras training loop. @jvishnuvardhan am I correct in reading your comment that tf-nightly shows no difference in behavior? If so then it's likely this bug has already been fixed.

[2019-11-15 19:51] gowthamkpr commented on #34314
@chisom812 Please following the template [here](https://github.com/tensorflow/tensorflow/issues/new/choose)  as the current information is too vague for us to help you. Thanks!

[2019-11-15 20:03] niccle27 commented on #34318
Well that command would work. i have no problem installing and running the CPU version of tensorflow. My problem only concerns the GPU version.

Here is your command output in my system :
[code]

[2019-11-15 20:06] bas-aarts commented on #34117
I've come to the same conclusion.
upto 17a23945abe427cf2fe6677d26e65558109f6f10 (Nov 6) I can build with 0.24.1, but not with 0.27.x

[2019-11-15 20:17] mattc-eostar commented on #30754
@haozha111
Are complex dtypes planned to be supported in the experimental converter? using nightly 1108 build and it is throwing an error. This is super useful for MFCC calculations.

[code]

[2019-11-15 20:29] pengwu22 opened #34322 "Collective AllGather Fails to Collect Tensors in Multi-(TF)Task Between-Graph Distributed Execution"
**System information**
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from (source or binary): binary whl
- TensorFlow version (use command below): `tensorflow-gpu==2.0.0`
- Python version: 3.6.8
- CUDA/cuDNN version: 10.0 / 7.6.4, recommended with the support of `nccl`
- GPU model and memory: GeForce GTX 1080 Ti

**Describe the current behavior**
First, we need the two files

[2019-11-15 20:38] mihaimaruseac commented on #34318
Can you try

[code]

It's possible the install have left bad files on your disk, so it's better to start fresh.

[2019-11-15 20:44] jvishnuvardhan commented on #34221
@alextp The discrepancy in the results appear only when we use `tf.config.experimental_run_functions_eagerly(True)` to run the model Eagerly.

If we don't use `tf.config.experimental_run_functions_eagerly(True)`, then the model runs in Eager mode and there is no discrepancy in the results.

Based on [docs](`https://www.tensorflow.org/guide/effective_tf2`), `tf.config.experimental_run_functions_eag

[2019-11-15 20:47] Devrim-Celik commented on #33886
Works perfectly, thank you very much!

[2019-11-15 20:47] Davidvdrm commented on #34098
An extension on the previously posted error

The full error:
[code]

[2019-11-15 20:51] alextp commented on #34221
Ah so there is indeed a bug in the eager version of the keras training loop.

On Fri, Nov 15, 2019 at 12:50 PM Vishnuvardhan Janapati <
notifications@github.com> wrote:

--
 - Alex

[2019-11-15 21:06] vklodik commented on #25054
Just install Python3.6
It took me 3 hours for find that's simple solution

[2019-11-15 21:10] jvishnuvardhan commented on #30754
@mattc-eostar Can you please a new issue and provide a simple standalone code to reproduce the issue? Thanks!

[2019-11-15 21:11] niccle27 commented on #34318
Well, i tried at least 3 times to remove everything and restart from a clean environnement. Though it never worked. This time your command worked with a little trick (add --user to install otherwise i don't have the right to launch the command properly) :

[code]
Thank you a lot !!

[2019-11-15 21:18] mattc-eostar opened #34324 "Complex dtype support tflite converter"
Are complex dtypes planned to be supported in the experimental converter? using nightly 1108 build and it is throwing an error. This is super useful for MFCC calculations.

[code]

Error:
[code]

Is there a plan to support signal operations like this in a TFLite model?

[2019-11-15 21:18] srjoglekar246 commented on #34143
I see the following in your converter command: `--inference_type=FLOAT --inference_input_type=QUANTIZED_UINT8` Is your model quantized?

If yes, please provide the following instead:
[code]

If not:
[code]

[2019-11-15 21:19] haozha111 commented on #34313
I'm wondering if it's an issue with the Android APK environment. Does the same lstm flatbuffer model run on desktop?

[2019-11-15 21:19] mattc-eostar commented on #30754
#34324 Created here. Thanks!

[2019-11-15 21:22] liyunlu0618 commented on #25231
Please try what @Oktai15 suggested and feel free to reopen if there's still problem.

[2019-11-15 21:22] #25231 closed

[2019-11-15 21:23] gowthamkpr commented on #34253
Was able to reproduce this issue. Please find the gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/c38e0f0526c3cae25572f9ddb158ce90/copy-of-copy-of-saved_model.ipynb).

[2019-11-15 21:28] liyunlu0618 commented on #30838
Closing per last comment.

[2019-11-15 21:28] #30838 closed

[2019-11-15 21:31] liyunlu0618 commented on #31784
@gargn

Please advise what's the correct way of using lite.constants in tf2.0. Thanks!

[2019-11-15 21:34] liyunlu0618 commented on #27687
We report performance numbers on mobile devices. Seems like you're running this test on a desktop. We don't have clear baseline for desktop performance for now.

[2019-11-15 21:34] #27687 closed

[2019-11-15 21:43] gargn commented on #31784
The document describing the official changes in TFLiteConverter between 1.X and 2.0 is available [here](https://www.tensorflow.org/lite/convert/python_api#summary_of_changes_in_python_api_between_1x_and_20_). It includes a [section](https://www.tensorflow.org/lite/convert/python_api#liteconstants) on the mapping between the 1.X and 2.0 types.

[2019-11-15 21:43] #23800 closed

[2019-11-15 21:48] liyunlu0618 commented on #27401
TFLite only provides optimized integer kernels on mobile CPU (Arm NEON isa, to be more specific). There's no guarantee on other platforms.

[2019-11-15 21:48] #27401 closed

[2019-11-15 21:51] liyunlu0618 commented on #32796
Can you tell us more about your use case to help us prioritize? For example, what kind of task this model is trying to do, its application scenarios, etc. Thanks!

[2019-11-15 21:54] liyunlu0618 commented on #32611
We're in the process of deprecating the old quantization rewriter. Our new keras based quantization-aware training API is on the way and welcome to try it out when it's released!

Meanwhile, you can look into post-training integer quantization to quantize your model:
https://medium.com/tensorflow/tensorflow-model-optimization-toolkit-post-training-integer-quantization-b4964a1ea9ba

Feel free to op

[2019-11-15 21:54] #32611 closed

[2019-11-15 21:55] ymodak commented on #34238
Did you try importing ```tftrt``` module in addition to ```tensorflow``` module?
[code]

[2019-11-15 21:59] liyunlu0618 commented on #30861
When we concat two tensors, we need to make sure they use the same quantization range so that we can append the values together as is. The Quantize() op there is to adapt the range. The datatype remains as int8 after that op.

[2019-11-15 21:59] #30861 closed

[2019-11-15 22:02] jvishnuvardhan commented on #33906
@nikochiko Are you saying the instructions to install TF from source uses Bazel 0.15.1? I see [here](https://www.tensorflow.org/install/source_windows#setup_for_windows) Bazel 0.24.1. Am I missing something here. Can you please describe with little more details? Thanks!

[2019-11-15 22:05] jdduke commented on #31114
Hi all, apologies for the delayed response, just now seeing this issue.

We set our Android NDK API level to 18 when building, but it's possible there's something wrong with the config and it's assuming API 23. I'll take a look.

[2019-11-15 22:07] #33883 closed

[2019-11-15 22:10] jvishnuvardhan commented on #29776
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-15 22:10] #29776 closed

[2019-11-15 22:10] gowthamkpr commented on #34233
@jpviguerasguillen Can you please provide a colab notebook reproducing this issue. Thanks!

[2019-11-15 22:11] ymodak commented on #34184
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2019-11-15 22:11] #34184 closed

[2019-11-15 22:15] ymodak commented on #34187
If you reduce the ```batch_size = 1``` the script executes successfully. Tested with tf-nightly version ```2.1.0-dev20191115```

[2019-11-15 22:16] simonchen375 opened #34326 "tf.signal.mfccs_from_log_mel_spectrograms caused internal error in converted TensorFlow Lite model"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-11-15 22:22] gunan commented on #33544
Also, bazel autodetects visual studio path for me, and for tensorflow CI. I do not know why you need to set BAZEL_VS.

[2019-11-15 22:22] MarkDaoust commented on #33923
The ! system commands are just used because they're convienient, and work in colab which we see as the primary execution platform for these. there's no good way to switch these based on the OS.

As you say probably the most platform independent way is to just do it in python.

I'd probably go with:
[code]

I'm unable to prioritize this right now.

@raffaem I would welcome any PR you can send to te

[2019-11-15 22:29] jvishnuvardhan commented on #32032
@kristofgiber Can you please close the issue if this issue was resolved already? Thanks!

[2019-11-15 22:33] jvishnuvardhan commented on #33715
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-15 22:33] #33715 closed

[2019-11-15 22:37] bhack commented on #12888
Onnx now It Is vendor neutral under the Linux Foundation https://lfai.foundation/projects/

[2019-11-15 22:42] liyunlu0618 commented on #28852
The main reason is FakeQuant() ops are not placed everywhere needed. It was a known limitation with the old quantization rewriter and as a result we're working on a new keras based API. Stay tuned!

Meanwhile, please take a look at post-training integer quantization:
https://medium.com/tensorflow/tensorflow-model-optimization-toolkit-post-training-integer-quantization-b4964a1ea9ba

Feel free to op

[2019-11-15 22:42] #28852 closed

[2019-11-15 22:44] liyunlu0618 commented on #24490
The rewriter may not be able to handle all possible model architectures. Please take a look at post-training integer quantization if you want to quantize InceptionV3:
https://medium.com/tensorflow/tensorflow-model-optimization-toolkit-post-training-integer-quantization-b4964a1ea9ba

[2019-11-15 22:44] #24490 closed

[2019-11-15 22:47] liyunlu0618 commented on #28807
This is a known limitation of TFLite schema:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/schema/schema.fbs#L94

Also please try out what @PeteBlackerThe3rd suggested. Thanks!

[2019-11-15 22:47] #28807 closed

[2019-11-15 22:49] #32032 closed

[2019-11-15 22:49] lpcoutinho opened #34328 "prepare_attention API of tensorflow 1.0.0 equivalent in tensorflow 1.13.1"
What is the equivalent API in tensorflow 1.13.1 for prepare_attention(tf.contrib.seq2seq.prepare_attention) of tensorflow 1.0.0?

Thanks!!!

[2019-11-15 22:52] gowthamkpr commented on #34224
Can you please be more clearer on what you are trying to accomplish here with an application. Thanks @qbeer

[2019-11-15 22:53] maurera opened #34329 "Tensorflow TensorRT: Could not load dynamic library 'libnvinfer.so.5'"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-11-15 23:08] jomoengineer commented on #34219
I was able to get pass the pip install requirements step by manually installing cmsis_package_manager but it still fails 'mbed deploy'.

This is where I got the info to install  cmsis_pack_manager:
[https://github.com/ARMmbed/cmsis-pack-manager](url)

This is the error I see now:

[code]
All of the modules that it is complaining about are installed:
[code]

[2019-11-15 23:15] sanjoy commented on #24453
Hi,

I'd be happy to sponsor an [RFC](https://www.tensorflow.org/community/contribute/rfc_process) if someone else is willing to drive the design and implementation.

[2019-11-15 23:21] jvishnuvardhan commented on #33913
@RomanSteinberg I tried running the example and then saved model (`vae.save("./my_model")`) without any issue. Please check [the gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/bd3e400db9d5dbfaa328a6f41ffc9b89/custom_layers_and_models.ipynb). Please elaborate on what is missing and what feature you are requesting. Thanks

[2019-11-15 23:33] liyunlu0618 commented on #30655
Sorry for the delayed response.

1. Try if post-training integer quantization works now.
2. If 1 doesn't work, try not passing representative dataset and only enable default optimization. This gives you a weight-only quantized model. You should be able to see some speedup with that. More details:
https://www.tensorflow.org/lite/performance/post_training_quantization

[2019-11-15 23:36] gowthamkpr commented on #34207
@changy12 As @pandrey-fr mentioned, it is clear that this is not a docs issue, its more of the way it has been formatted. I am gonna close this issue as it has been resolved. Please add additional comments and we can open this issue again. Thanks!

[2019-11-15 23:36] #34207 closed

[2019-11-15 23:37] ymodak commented on #34005
@nikochiko Feel free to raise a PR and reference this issue. Thanks!

[2019-11-15 23:39] liyunlu0618 commented on #24263
Closing per last comment.

[2019-11-15 23:39] #24263 closed

[2019-11-15 23:41] liyunlu0618 commented on #33588
Fix is in tf-nightly. It'll appear in the next tf.2.x release soon.

[2019-11-15 23:41] #33588 closed

[2019-11-15 23:45] kavikode opened #34330 "TF World '19 Talk: Facemesh with TF.js in the browser"
Just saw the wonderful Unlocking the power of ML for your JavaScript applications with TensorFlow.js talk, link: https://youtu.be/kKp7HLnPDxc.

I'd also like to try the code of using Facemesh in the browser. Following the example code in the video at 25:48, I went to https://cdn.jsdelivr.net/npm/@tensorflow-models/facemesh.

However, I get the message "Failed to resolve the requested file."

Will

[2019-11-15 23:48] allenlavoie commented on #32512
I don't think we have access to most of this from `tf.saved_model.save` without special-casing Keras there, which is something we don't want to do. But some of this sounds reasonable for `Model.save`.

CC @k-w-w ; any interest/guidance?

[2019-11-15 23:56] liyunlu0618 commented on #30644
You need to pass the input tensor names and output tensor names. See examples in this blog post:
https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193

[2019-11-15 23:56] #30644 closed

[2019-11-15 23:58] #34303 closed

[2019-11-16 00:01] liyunlu0618 commented on #32033
We do optimizations like folding batchnorm constants into the conv filter when converting tf models to tflite. It's expected to change the values of the tensor. Please compare whether the two models generate different output. If not it's a real bug. Feel free to reopen if you find that's the case. Thanks!

[2019-11-16 00:01] #32033 closed

[2019-11-16 00:05] maurera commented on #34329
I solved the problem. While it seems like some portion of tensorrt is bundled in with tensorflow-gpu, there are still installation steps required (see [installation under Ubuntu 18.04 (CUDA 10)](https://www.tensorflow.org/install/gpu#ubuntu_1804_cuda_10)

I already had CUDA drivers installed (10.1). I ran the following code, without modifying version numbers, and this allowed me to successfully co

[2019-11-16 00:05] #34329 closed

[2019-11-16 00:17] kazuimotn commented on #34313
I can infer probabilities using same LSTM.tflite model with this Python code:

[code]

Out put is following:

[code]

My model is for binary classification, it means this output is what I want.
In other words, does it mean that the Android APK environment is incorrect?

[2019-11-16 00:20] liyunlu0618 commented on #32209
This is a known limitation for softmax().

[2019-11-16 00:20] #32209 closed

[2019-11-16 00:23] gowthamkpr commented on #34200
I used the filter function outside and the issue is not replicating. Please find the github gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/c63e16d639e53c20f0723a54b0a77517/34200.ipynb). Thanks!

[2019-11-16 00:24] liyunlu0618 commented on #30727
If you want to quantize the model, can you try post-training integer quantization? See instruction here:
https://medium.com/tensorflow/tensorflow-model-optimization-toolkit-post-training-integer-quantization-b4964a1ea9ba

[2019-11-16 00:28] jdduke commented on #34277
This is expected behavior, the `tensors()` array returned in C++ is the full list of all tensors. You can juse the `inputs()` indices to inspect/use/query just the inputs, same with `outputs()`.

[2019-11-16 00:55] gowthamkpr commented on #33255
We cannot exactly trace what the error is but please take a look at this issue [here](https://stackoverflow.com/questions/9077457/how-to-trace-tcmalloc-large-alloc) and try to replicate it.

[2019-11-16 00:58] gowthamkpr commented on #33283
@mihaimaruseac Can you PTAL? Thanks!

[2019-11-16 00:59] mihaimaruseac commented on #33283
Afaik pickling dynamic objects is not supported. I am not a good assignee if that changed.

[2019-11-16 01:02] mihaimaruseac commented on #34318
This is interesting. Probably because there is not enough space left on superroot disk. Or probably because some files need normal permissions not root.

In any case, the following trick should always work:

[code]

As everything would get installed relative to current directory.

Since this is working now, I'm going ahead and closing this issue.

[2019-11-16 01:02] #34318 closed

[2019-11-16 01:11] yushuxin1 commented on #22872
AttributeError: module 'tensorflow._api.v1.compat' has no attribute 'v1'

[2019-11-16 01:19] jomoengineer commented on #34219
Just for S&Gs, here is the pip list from my config:

[code]

[2019-11-16 01:32] liyunlu0618 commented on #33925
Try setting this flag in the converter:
converter.allow_custom_ops = True

[2019-11-16 01:34] liyunlu0618 commented on #32496
Closing per last comment.

[2019-11-16 01:34] #32496 closed

[2019-11-16 01:43] FancyVin commented on #34132
I updated the code, it should work now.

[2019-11-16 01:43] liyunlu0618 commented on #30499
The tflite graph would expect the same input shape as the tf graph. If you want it to be able to take a larger image, you can try:

interpreter.resize_tensor_input(self, input_index, tensor_size)
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/python/interpreter.py#L406

Remember to call interpreter.allocate_tensors() afterwards, since you need to allocate more memory.

[2019-11-16 01:43] #30499 closed

[2019-11-16 01:47] liyunlu0618 commented on #24337
Is this still an issue with the most recent tf release?

[2019-11-16 01:53] liyunlu0618 commented on #26806
Please provide code to reproduce. Thanks!

[2019-11-16 01:58] liyunlu0618 commented on #27187
Closing the issue. Please try what @teleger suggested.

[2019-11-16 01:58] #27187 closed

[2019-11-16 02:03] liyunlu0618 commented on #31802
It's weird that you have FAKE_QUANT in your original graph. Did you use the quantization rewriter when you train you model? It's not supposed to be used together with post-training integer quantization.

Maybe try to figure out where the fake quant op comes from first and get rid of it.

[2019-11-16 02:08] liyunlu0618 commented on #27996
We don't plan to add more new features to the quantization rewriter. Please stay tuned for our new keras based quantization aware training API.

If you want to get a fully quantized model, you can take a look at our post-training integer quantization for now:
https://medium.com/tensorflow/tensorflow-model-optimization-toolkit-post-training-integer-quantization-b4964a1ea9ba

Also, there has been a

[2019-11-16 02:08] #27996 closed

[2019-11-16 02:10] liyunlu0618 commented on #33611
Try to quantize this model with the post-training integer quantization tool:
https://medium.com/tensorflow/tensorflow-model-optimization-toolkit-post-training-integer-quantization-b4964a1ea9ba

We've tested it on mobilenet-v2-ssd models internally and it worked pretty well.

Feel free to open another issue when you run into problem with it. Thanks!

[2019-11-16 02:10] #33611 closed

[2019-11-16 02:11] liyunlu0618 commented on #28268
RELU should be supported for now, at least in nightly. Closing the issue.

[2019-11-16 02:11] #28268 closed

[2019-11-16 02:31] xgzeng commented on #34221
The `lost` during training is totally different for two modes. Maybe the model is not evaluated in same way.

[2019-11-16 02:38] ktsumura commented on #26348
Does anyone know how to do this in C++?

[2019-11-16 03:00] lgeiger opened #34332 "AutoCastVariable.assign returns wrapped variable instead of casted version"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0, 2.1-nightly
- Python version: 3.7

**Describe the current behavior**

`AutoCastVariable` variable forwards

[2019-11-16 03:21] xgzeng commented on #34221
I wrote some [code](https://colab.research.google.com/drive/1d5d5XpeQ7fW0b7K34HntkD57o4jKLLZ_) to calculate model lost for a batch of data without any training loop.

The result is similar to training result. Model lost value is totally different in eager/graph mode.

So I think the problem is not in training loop.

[2019-11-16 03:33] lykGH commented on #16194
@bipika Do your problem have been solved?I meet the same.

[2019-11-16 03:42] shelkesagar29 commented on #33925
@liyunlu0618 I have already set up that flag but still get the error.

[2019-11-16 03:50] ydxt commented on #34222
the problem still exists. I don't have an answer right now.

[2019-11-16 04:31] smohan10 commented on #33735
Thank you so much for your reply. I will try the nightly build version soon and let you know.

[2019-11-16 05:28] nikochiko commented on #33906
@jvishnuvardhan I don't mean in the text instructions. There is a sample configuration session on the instructions page. It drops down with a '+' button.
![Capture](https://user-images.githubusercontent.com/37668193/68988565-8d137780-085f-11ea-9ca9-ce65db0abd28.PNG)

It is very outdated. Having a newer version can help with installation since many users are facing build failures.

[2019-11-16 05:29] MayhemGang opened #34333 "Tensorflow 1.14 GPU hanging when running models"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code: yes, I have coded an AEGAN that used to work but no longer.
- OS Platform and Dist

[2019-11-16 05:32] kazuimotn commented on #34313
It might be due to some native methods [here](https://github.com/lizhangqu/TensorflowLite/blob/master/library/src/main/java/org/tensorflow/lite/NativeInterpreterWrapper.java):
TensorflowLite/library/src/main/java/org/tensorflow/lite/NativeInterpreterWrapper.java

```private static native long createErrorReporter(int size);```
```private static native long createModelWithBuffer(MappedByteBuffer mod

[2019-11-16 05:44] MayhemGang commented on #34333
Note: I made sure the select feature of the command prompt isn't it, and this is definitely a bios/other issue. Any ideas?

[2019-11-16 06:18] LiutongZhou commented on #32646
`from tensorflow.keras.optimizers import Adam`
in place of
`from tensorflow.python.keras.optimizers import Adam`
helps

[2019-11-16 06:41] SanthoshRajendiran commented on #33557
How to build model with Convolution2DTransposeBias? I did not find any python implementation for the layer.

[2019-11-16 06:48] batman-far commented on #21111
I have the same problem.
I have 2 1070 ti gpu.
ubuntu 18
when I use tensorflow to check gpus it freeze, no matter I am in docker or I directly run on system.

[2019-11-16 07:02] ladyada opened #34334 "default installed version of tensorflow lite arduino library is pre-compiled, causing confusing error reports"
hiya @petewarden ive been re-porting my demos (hooray) for Arduino boards
https://learn.adafruit.com/tensorflow-lite-for-edgebadge-kit-quickstart

right now when folks install the TensorFlow library it defaults to the pre-compiled version, which causes very obscure errors about register arguments if they are not using the exact same processor.

https://learn.adafruit.com/tensorflow-lite-for-edgeba

[2019-11-16 07:36] peter197321 commented on #34310
Thanks. How about in C++ case?

Dne pá 15. 11. 2019 19:25 uživatel Yasir Modak <notifications@github.com>
napsal:

[2019-11-16 07:52] dubesar commented on #34305
Hey!!
I confirmed the #25178 and still, it works inconsistently. But as the solution mentioned there is to use tf-nightly. If that too doesn't work please ping again.

[2019-11-16 07:53] jomoengineer commented on #34219
Okay, a bit closer. I moved to a Ubuntu 18.04 64-bit VM and no virtual-env and was able to get past the mbed deploy, but it now fails during the compile.
NOTE: This it is required to set the GCC_ARM_PATH before running the compile step:
Ex:
`$ mbed config -G GCC_ARM_PATH /home/jomodev/development/stm/SoftwareToolchain/gcc-arm-none-eabi-5_4-2016q3-20160926-linux-d/gcc-arm-none-eabi-5_4-2016q3/bin/`

[2019-11-16 08:09] guptapriya commented on #33322
distribution strategy doesn't yet support model parallelism, so you're right that it cannot help with your use case currently. Have you looked at mesh TF (https://github.com/tensorflow/mesh)? It is a general model parallelism solution built on top of tensorflow.

[2019-11-16 08:25] janbolle opened #34335 "[TF 2.0] Nested Gradient Tape - unconnected graphs"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution: MacOS 10.15.1
- TensorFlow installed from binary (pip 19.3.1)
- TensorFlow version: v2.0.0-rc2-26-g64c3d382ca 2.0.0
- Python version: Python 3.6.5

**Describe the current behavior**
A copy of my model (model_copy) should be trained one step, t

[2019-11-16 08:39] dubesar commented on #33526
@MarkDaoust I confirmed all the codes of the tf.broadcast_weights in https://github.com/tensorflow/tensorflow/blob/9590c4c32dd4346ea5c35673336f5912c6072bf2/tensorflow/python/ops/weights_broadcast_ops.py#L136,
https://github.com/tensorflow/tensorflow/blob/9590c4c32dd4346ea5c35673336f5912c6072bf2/tensorflow/python/ops/metrics.py,
https://github.com/tensorflow/tensorflow/blob/9590c4c32dd4346ea5c35673

[2019-11-16 08:52] Rassibassi opened #34336 "Example where softmax_cross_entropy_with_logits_v2 fails but softmax_cross_entropy_with_logits works"
**System information**
- Have I written custom code: ?
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command below): v1.14.0-rc1-22-gaf24dc91b5 1.14.0
- Python version: Python 3.6.5 :: Anaconda, Inc.
- CUDA/cuDNN version: CPU
- GPU model and memory: CPU

**Describe the current behavior**
While implementing this pa

[2019-11-16 09:04] dubesar commented on #34005
@ymodak this issue be used for Google Code-in as a Documentation and research challenge?

[2019-11-16 09:09] kshitijaggrwl commented on #34194
@danijar, I want to contribute to this issue. Can you help me in doing so?
I am completely new to this world of open source.

[2019-11-16 09:25] Keyrainn commented on #34143
I've retrained an unquantized model and have tried as per you suggestion and it still come out with the same error

[code]

[2019-11-16 09:28] Keyrainn commented on #34143
I've trained an unquantized model and added as per your suggestion. but its still producing the same error

[code]

[2019-11-16 09:47] nikochiko commented on #34005
@dubesar I had started working on the formatting part of the issue and was planning to make a PR till tomorrow. The job is mostly to
- Sync the docs formatting with its [r1 version](https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/batch_to_space_nd).
- Make the documentation easier to understand, editing it and adding "Examples:" and "Raises:" sections.
I can make some minor edits with

[2019-11-16 10:49] vishwas1234567 opened #34338 "not had an installation in the kali linux ova filed os on the python3.8 version"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-11-16 10:50] vishwas1234567 commented on #34338
i work on the network security and the backdoor attacks in the hardware for the computation I also work on Deep Learning Hardware.

[2019-11-16 10:57] PiotrDabkowski commented on #26844
The solution to this problem:
Switch to PyTorch, you will not regret it.
`torch.nn.Linear` has been there since the v0 and continues to work ever since.
With TF there have been tf.nn, tf.slim, tf.contrib, tf.layers, tf.keras, I wonder what next... Every year they announce a new, final API...

Unless your company forces you to use TF there is no real reason to stay. Really.

[2019-11-16 11:55] sayakpaul commented on #25348
@aaroey I tried running your example on [this Colab Notebook](https://colab.research.google.com/drive/14iTHCILtUDf3TxrfV6NfHkthoQYmKrgK) but surprisingly, Colab crashes. Your inputs here would be very helpful.

[2019-11-16 12:03] pnetz commented on #32982
Currently I am just using tensorflow.keras and tensorflow root modules which work fine, but I will keep this in mind. Good to know, but I would like to avoid the fallback since it makes sharing the conda environment impossible without tweaking post-install.

[2019-11-16 12:07] dubesar commented on #34005
@nikochiko Yeah that would be great if some part of this issue is available for Google Code-in

[2019-11-16 12:25] tensorflowbutler commented on #33682
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-16 12:45] Emilien-P commented on #34305
Hi,
Thanks for having a look :)
I think the main issue now is about documenting the issue so that we are aware of whatever loss aggregation function is chosen.

[2019-11-16 12:51] nikochiko commented on #34005
@dubesar See the referenced PR and a comment on it. I have made some additional changes and made the task more clear.

[2019-11-16 12:54] anshkumar opened #34339 "TensorRT not working due to eager execution"
I'm trying to convert my saved model to tensorRT but I'm failing due to following error:

[code]

Here, is my code
[code]

Here are my specs:
Tensorflow version: 1.14.0
Platform: NVIDIA Jetson AGX Xavier developer kit
Python: 3.6.8

[2019-11-16 13:04] jsgonsette opened #34340 "Image preprocessing for transfer learning confusing"
I'm really confused about what preprocessing to apply on image data when working with pre-trained models for transfer learning. Of course, this is very specific for each model, but I thought Keras brought some disambiguation by bringing the _**preprocess_input**_ function. By using it, users should normally not worry about how to transform an image before pushing it into the pre-trained model.

I

[2019-11-16 13:49] diptosarkar commented on #32139
I am also getting the same error when I am  trying to use the variable init_wt:
[code]

I think the problem is caused by a mismatch between Keras and Tensorflow libraries as mentioned in [this Stackoverflow question](https://stackoverflow.com/questions/58778872/typeerror-tensor-is-unhashable-if-tensor-equality-is-enabled-instead-use-tens). The solution proposed works for me. But, it means downgrad

[2019-11-16 14:13] Asanka25 commented on #31315
If you following object detection API reguard tutorial;
First check your tensorflow version by running bellow code

import tensorflow as tf
print(tf.__version__)

If it's 2 or above then
pip install tensorflow==1.14.0      will run code successfully.

[2019-11-16 14:59] RaphaelMeudec commented on #33484
@gowthamkpr I'm running into the same issue, trying to run float16 training. Not sure why you're casting to float32 in the .fit() method? Thanks!

[2019-11-16 16:25] #34237 closed

[2019-11-16 16:32] artitw opened #34341 "Adam weight decay optimizer for TF 2.0"
**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
I am looking to migrate some optimization code I forked from BERT to TF 2.0. The optimization involves the Adam weight decay optimizer and is implemented in TF 1.15 according to
https://github.com/artitw/text2class/blob/master/t

[2019-11-16 16:59] dbl001 commented on #33431
ERROR: /home/ubuntu/tensorflow/tensorflow/compiler/mlir/xla/BUILD:247:1: C++ compilation of rule '//tensorflow/compiler/mlir/xla:hlo' failed (Exit 1): x86_64-conda_cos6-linux-gnu-cc failed: error executing command                             (cd /home/ubuntu/.cache/bazel/_bazel_ubuntu/ad1e09741bb4109fbc70ef8216b59ee2/execroot/org_tensorflow && \
  exec env - \
    LD_LIBRARY_PATH=/usr/local/cuda/l

[2019-11-16 17:07] dbl001 commented on #33431
It appears to be using an Anaconda gcc version:
[code]

[2019-11-16 18:10] PN12 commented on #34128
Okay, I will share the same, at the moment an alternative has been used as a fix.

[2019-11-16 19:35] dbl001 commented on #33431
I tried setting these environment variables but bagel is still using the Anaconda version of 'gcc':
[code]

[2019-11-16 20:09] developer22-university commented on #34340
HI, interested in solving your issue.

[2019-11-16 20:21] developer22-university commented on #34340
check if its fine

[2019-11-16 20:53] developer22-university commented on #34311
i know it is little tricky but what helped me is this article check it out. and please update me.
https://machinelearningmastery.com/data-preparation-variable-length-input-sequences-sequence-prediction

[2019-11-16 20:53] developer22-university commented on #34311
happy to help

[2019-11-16 20:56] developer22-university commented on #34299
hi,

https://github.com/KhronosGroup/NNEF-Tools/issues/40

https://www.tensorflow.org/lite/performance/post_training_quantization

CHECK THESE LINKS UPDATE ME

[2019-11-16 21:02] developer22-university commented on #34321
HI, JUST CHECK THIS
https://github.com/tensorflow/tensorflow/issues/29896

[2019-11-16 21:02] developer22-university commented on #34321
HOPE IT HELPS

[2019-11-16 21:41] kojino opened #34344 "tf2.0: tf.image.resize_with_pad fails with “using a `tf.Tensor` as a Python `bool” with tf.keras.Input"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Mojave
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0
- P

[2019-11-16 22:24] shahriar49 commented on #34311
@developer22-university
Thanks for reply. What it says in the article is about padding a sequence by itself, but what I want is an integrated batch&pad capability for a tensorflow dataset. This article has nothing to do with datasets.

[2019-11-16 22:58] queirozfcom commented on #33148
I have a similar issue, just posted a question on SO: https://stackoverflow.com/questions/58895694/cudnn-status-bad-param-when-trying-to-perform-inference-on-a-lstm-seq2seq-with-m

[2019-11-16 23:28] Angtrim opened #34345 "TFLite allocate tensors fails: (CONCATENATION) failed to prepare after input shape resize"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **OSX**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **No**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below):

[2019-11-17 00:01] arthurflor23 commented on #33178
Hi! Any news?

[2019-11-17 00:03] Shiro-LK opened #34346 "ImageDataGenerator does not work with tpu"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platf

[2019-11-17 00:17] guptapriya commented on #34262
Can you please provide the full stack trace so we can debug this further? How many GPUs did you run this with?
Also can you test with the latest TF 2 nightly?

(For reference, I tried with the latest TF and not able to repro)

[2019-11-17 00:20] RogueLogix commented on #34213
This seems to be a MKL related issue, as I got it working by recompiling without --config=mkl in the build, though with some seeming unrelated dataset overrun issues there

[2019-11-17 00:24] edwardyehuang commented on #18222
@guptapriya @anj-s  Hi! When do you expect it can be released? In a month or two month or more ?

[2019-11-17 00:29] #23285 closed

[2019-11-17 00:46] ymodak commented on #34214
First thing will be to check if compatible CUDA, cuDNN drivers are installed correctly. Then you may try gpu memory resources management by allowing gpu memory growth.

**allow_growth** option, attempts to allocate only as much GPU memory based on runtime allocations: it starts out allocating very little memory, and as Sessions get run and more GPU memory is needed, it extend the GPU memory region

[2019-11-17 00:59] imskr commented on #33856
I want to work on this issue!

[2019-11-17 01:23] guptapriya commented on #18222
Probably a couple of months.

[2019-11-17 02:20] episodeyang commented on #31973
The fix is to use `import tensorflow.compat.v2 as tf` instead of the regular import.

[2019-11-17 02:33] jvishnuvardhan commented on #33906
@nikochiko I agree that the sample configuration is with an older version but it an example to any user how to configure. It is difficult to update this configuration every time when a dependency (python/CUDA/Bazel etc) is changed. Thanks!

@MarkDaoust Can you Please take a look at it. Are we updating this in the near future? Thanks!

[2019-11-17 03:02] jvishnuvardhan commented on #33856
@imskr If @nikochiko is not working on it, then you can work on it. If you have already worked on, then submit a PR to update the docs. Thanks!

[2019-11-17 03:14] danpetlin commented on #33442
Hi there, also trying to figure out how to resolve the same issue. I would highly appreciate If someone can recommend an addon which allows an updated TF2 code to be run smoothly without "contrib"

[2019-11-17 03:52] yongtang commented on #33183
For python 3.7.3 (native) on Catalina the following works (add `list()` to make a copy):

[code]

Note in ln 48: /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.7/lib/python3.7/linecache.py

[2019-11-17 04:31] nikochiko commented on #33856
@jvishnuvardhan @imskr I have done the editing. A few additions and formatting corrections were also required there. Also I found maybe a bug in the code for which I will reference an issue here in a edited comment soon.

[2019-11-17 04:41] MikeOfZen commented on #29877
more of a general complaint, the entire TF records API needs a user-friendly overhaul.
it's a simple operation, write data, read data.
Tensors are well aware of their shapes and datatypes.
Python strings are strings and Python numbers are numbers. I dont understand why I need a page long boilerplate (from the guide) to describe each element 4! times.

if python pickle can handle arbitrary python o

[2019-11-17 05:11] nikochiko opened #34348 "save method shows buggy/confusing behaviour"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NN
- TensorFlow installed from (source or binary): NN
- TensorFlow version (use command below): 2.0.0
- Pyth

[2019-11-17 05:14] ymodak commented on #34287
You need to add cuda, cudnn, cupti to the environment path.
See https://www.tensorflow.org/install/gpu#linux_setup

[2019-11-17 05:18] MikeOfZen opened #34349 "Serialization support for RaggedTensor"
**System information**
- TensorFlow version (you are using):2.0.0
- Are you willing to contribute it (Yes/No):No

**Describe the feature and the current behavior/state.**
Currently, there is no support for serializing RaggedTensors similiraly to tf.io.serialize_tensor

**Will this change the current api? How?**
This shouldn't affect any other functionality

**Who will benefit with this feature?**

[2019-11-17 06:16] 1044197988 commented on #33725
fit_generator将在以后的版本中弃用,不会吧，这个API我认为很好用的
这个错误要怎么解决呢？如果数据很大，不能一次性存到内存中
使用tf.data来实现吗?

[2019-11-17 06:56] GodsDusk opened #34350 "ValueError: This converter can only convert a single ConcreteFunction. Converting multiple functions is under development."
when I convert pre-trained mobilenet model to tflite, there is a error:
[code]

my code is

[code]

my os is
Ubuntu 16.04.6 LTS

[2019-11-17 06:59] OverLordGoldDragon opened #34351 "tf-nightly: Cannot import name 'tensorflow' from 'opt_einsum.backends'"
`pip install tf-nightly` --> `pip install tf-nightly-gpu`, or in reverse order, fails in a fresh Anaconda virtual environment w/ error shown below - install/uninstall steps also shown. Any workarounds?

<hr>

**Installation**:

 1. Clone Anaconda base environment (which doesn't have TF or Keras) as `tf3_env`
 2. Delete any files/folders in env w/ name substring "tensorflow", "nightly", or "keras"

[2019-11-17 06:59] OverLordGoldDragon commented on #33487
Looks like this is its own circus to set up without the kernel imploding - think I'll await the stable release. Anyone is still welcome to suggest a workaround [here](https://github.com/tensorflow/tensorflow/issues/34351).

[2019-11-17 08:26] Keyrainn commented on #34143
@srjoglekar246 i'm not sure what kind of bug i'm facing but to others that having this issue current workaround is to run it in google colab.

[2019-11-17 08:57] PINTO0309 commented on #33980
I also tried building in the same environment. The build was successful, loading the shared library (.so) and inferring only the TFLite built-in OP. However, because I lack the skills to implement C ++ programs, I cannot test inference programs that include OPs other than TFLite's built-in.

- Environment
Ubuntu 18.04 glibc2.27
Tensorflow v2.0.0

- Binary
**https://github.com/PINTO0309/TensorflowL

[2019-11-17 10:00] AndreMaz commented on #26289
Looking at https://github.com/tensorflow/tensorflow/pull/34327 seems like TF team already solved the compatibility issue. Hopefully the 2.1 release happens soon

[2019-11-17 10:29] yarin05 commented on #31930
This one deserve more attention guys, looks like a bug to me @dynamicwebpaige @pavithrasv and @karmel
I am unable to reproduce my results with image segmentation model when changing only the training loop style to work with tf.function
working style:
    model.compile(optimizer=optimizer, loss=['categorical_crossentropy'])
    model.train_on_batch(inputs, outputs])
broken style:
    categorical_lo

[2019-11-17 10:31] phoerious commented on #26289
As an intermediary workaround, I had no issues symlinking the affected libraries to *.so.10.0.

[2019-11-17 10:32] anshkumar opened #34353 "Merging two RT graphs throughs an error"
I want to merge two RT graphs into a single graph. But while merging I'm getting error.
My code is as follows:

[code]

It throws following error:

[code]

My specs are:

Tensorflow: 1.14.0
Python: 3.6.8
Platform: Ubuntu 18.04.2 LTS (GNU/Linux 4.9.140-tegra aarch64)

[2019-11-17 11:01] yangis1019 opened #34354 "tensorflow.python.framework.errors_impl.InternalError: cudaGetDevice() failed. Status: cudaGetErrorString symbol not found"
hello = tf.constant('Hello, TensorFlow!')
----
Traceback (most recent call last):
  File "<pyshell#5>", line 1, in <module>
    hello = tf.constant('Hello, TensorFlow!')
  File "C:\Users\yang kil ho\AppData\Local\Programs\Python\Python37\lib\site-packages\tensorflow_core\python\framework\constant_op.py", line 227, in constant
    allow_broadcast=True)
  File "C:\Users\yang kil ho\AppData\Local\Pro

[2019-11-17 11:09] birdmw commented on #33030
Same issue here - traced back to model.predict()
If I replace that inference with a static value, the leak goes away so it must be in there.

I tried to just blast away the model and copy the weights over, but the leak persists even with the model deleted.

@rchao Thanks for working on this. Any updates are duly appreciated!

[2019-11-17 11:37] acseckin commented on #24828
- tensorflow-gpu version: 2.0.0
 - keras version: 2.3.1
 - cuDNN version:10.0
 - CUDA version:10.0

mnist_mlp.py (https://github.com/keras-team/keras/blob/master/examples/mnist_mlp.py) works perfectly but code which is given below gives me this error:

[code]

Project code derived from https://machinelearningmastery.com/how-to-develop-a-pix2pix-gan-for-image-to-image-translation/

code:

[code]

[2019-11-17 11:40] acseckin opened #34355 "Error Massage: tensorflow.python.framework.errors_impl.UnknownError: Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above."
- python version: 3.6.7
 - tensorflow-gpu version: 2.0.0
 - keras version: 2.3.1
 - cuDNN version:10.0
 - CUDA version:10.0

mnist_mlp.py (https://github.com/keras-team/keras/blob/master/examples/mnist_mlp.py) works perfectly but code which is given below gives me this error:

[code]

Project code derived from https://machinelearningmastery.com/how-to-develop-a-pix2pix-gan-for-image-to-image-trans

[2019-11-17 13:38] zhanghaocol opened #34357 "object_detection dataset could not be checkpointed"
Hi, guys:
for TF1.14/1.15 used with tensorflow_model object_detction,

if I tried to save the state of the dataset for next restoring, I would encounter an issue.

  (0) Invalid argument: Op[name: RandomHorizontalFlip/random_uniform/RandomUniform, type: RandomUniform] in function Dataset_map_process_fn_70 is stateful. Saving stateful functions is not supported yet.
         [[node SerializeIterato

[2019-11-17 13:48] florianbaer commented on #32381
Wtf seriously? When is support for cuda 10.1 planned?

[2019-11-17 14:43] ChandlerGuan commented on #30581
I think cocosci means some variables in Round2 do not exist in the checkpoint of Round1 and should be initialized by some default initializer.

[2019-11-17 14:46] s4sarath opened #34358 "Dynamic Batch size ( Bucketing ) for GPU in MirrorStrategy in TF 2.0 and avoid NaN ."
Tensorflow - version 2

Hi All, I am trying to do bucketing my tensorflow datasets, so that I can change my batch size (dynamic batch size) based on different sequence length, so that I can exploit GPU performance better. I am using ```strategy = tf.distribute.MirroredStrategy()``` .

Assume I am having 8 GPUs ```n_gpus=8```, according to mirror strategy if we are having a batch size of 16 ```batc

[2019-11-17 15:51] qli51 commented on #33197
can't work cause InvalidArgumentError: cannot compute Pack as input #1(zero-based) was expected to be a string tensor but is a int32 tensor [Op:Pack] name: component_0

[2019-11-17 16:05] aingo03304 commented on #31057
Same problem here too

[2019-11-17 16:08] verrannt commented on #33484
I encounter the same problem with float16 training. So far I have figured out that the issue lies in the LossScaleOptimizer, because the issue disappears when you remove it (but then obviously losses are too tiny to be effective).

To be more specific, the error is raised when the LossScaleOptimizer calls its `get_scaled_loss()` function which simply multiplies (via python operator *) the loss wit

[2019-11-17 16:13] hoangcuong2011 commented on #31449
@ekuznetsov139: I got a similar problem and I confirmed your trick of fit - load_weights and then fit again works. Thank you very much!

[2019-11-17 17:21] guptapriya commented on #33809
Yeah I noticed the loss starts at higher value for mirrored strategy.
@pavithrasv - do you think there could be some issue with using this custom loss and loss dictionary?

@olk - would it possible for you to isolate this into a simple test that can be runnable in colab? you can use some fake/synthetic data, and fix the random seed - with that, the model will not converge but we can still check th

[2019-11-17 18:28] viariasv commented on #29252
thank you sir, that's the solution.

[2019-11-17 18:41] indranaut commented on #33431
I am having the same issues and I am sure that anaconda's GCC is not being used.

[2019-11-17 18:45] dbl001 commented on #33431
When I set CC to:

export CC=/usr/bin/g++
[code]

[2019-11-17 18:52] dbl001 commented on #33431
Add '--verbose_failures' to your bazel command to see the g++ command:
E.g. -
[code]

[2019-11-17 18:54] indranaut commented on #33431
I am already using `verbose_failures`

[2019-11-17 18:56] indranaut commented on #33431
[code]

[2019-11-17 19:00] guptapriya commented on #29911
@Slyne can you share the code for what you're doing when using the second workaround? likely you need to change your code to catch the out of range error (or i maybe able to suggest a slightly different API to get the next element)

[2019-11-17 19:03] liyunlu0618 commented on #34299
When you use post-training integer quantization, per-channel quantization is enabled by default. Please follow instructions here:
https://medium.com/tensorflow/tensorflow-model-optimization-toolkit-post-training-integer-quantization-b4964a1ea9ba

[2019-11-17 19:03] #34299 closed

[2019-11-17 19:14] liyunlu0618 commented on #34345
WIthout resizing the input does your model convert fine?

[2019-11-17 19:15] dbl001 commented on #33431
I don’t see the ‘g++’ command.
E.g. -
[code]

[2019-11-17 19:27] ymodak commented on #34354
TensorFlow supports CUDA 10.0 (TensorFlow >= 1.13.0)
Please switch to cuda 10.0 and update cuda paths.
See [software requirements](https://www.tensorflow.org/install/gpu#software_requirements)
Also see which TF binary suits your case https://www.tensorflow.org/install/pip?lang=python3#older-versions-of-tensorflow

[2019-11-17 19:37] indranaut commented on #33431
Here is the correct one :

[code]

[2019-11-17 19:39] indranaut commented on #33431
In your case it is using`/usr/bin/g++` and not the anaconda GCC

[2019-11-17 19:51] ymodak commented on #34147
That's correct. It will come in handy if using keras sequential api. For estimators you may try setting log level info for training status.

[2019-11-17 20:09] dbl001 commented on #33431
I switched it to see the results

[2019-11-17 20:10] Angtrim commented on #34345
@liyunlu0618 Yes. Without resizing it works fine.
I think I've managed to find the issue.
The problems is not the concatenation, but the UpSampling2D layer.

When the graph is converted, the shape of the input tensor that is used by the UpSampling2D layer to resize the image is converted to a constant and hardcoded in the UpSampling2D layer.
So, when the Input of the graph is resized, the transfor

[2019-11-17 20:35] mimimichelle opened #34361 "module 'keras.applications' has no attribute 'resnet'"
I tried to google the whole day and nothing worked for me.

So in the beginning I got this:
module 'keras.applications' has no attribute 'resnet'

Then I tried a few ways that I got from googling, I got this:
module 'tensorflow' has no attribute 'get_default_graph'

seems like related but I can't understand what's wrong here. My keras version is 2.2.4.

[2019-11-17 20:39] singh728om opened #34362 "TF Speech recognition issue"
When I debugg the TF apk file and after installing speech recognition after pressing Start button it's just not working ...

[2019-11-17 20:45] xiejw commented on #34200
I no longer work in this codebase. Please find appropriate owner.

[2019-11-17 20:45] elblogbruno commented on #33605
@impjdi  Any clue on how to fix this on mediapipe?

[2019-11-17 21:02] ychervonyi commented on #33030
My workaround for the memory leak in `dataset.map` is not to use `tf.data` API - stick with Keras Sequence data generators. Any workarounds for the leak in `model.predict()`?

[2019-11-17 22:24] silvasean commented on #31501
Hi, you are using --graphdef-to-mlir not --savedmodel-to-mlir, so you are not even using the savedmodel converter. Please try with --savedmodel-to-mlir. Also, --tf-input-arrays,--tf-input-shapes,-tf-input-data-types,--tf-output-arrays aren't needed with the SavedModel importer.

Also, btw, the link for the pbtxt file you uploaded doesn't seem to be working.

[2019-11-17 22:25] silvasean commented on #31501
Just saw this was an older issue. So --savedmodel-to-mlir didn't even exist back when it was filed :)

[2019-11-17 22:32] thadumi commented on #34270
I'd like to point out that the same issue exists also for Keras subclassing
The workaround for Keras is the following

[code]

[2019-11-17 23:04] Pixel-Therapy opened #34363 "random.uniform((),minval,maxval) returns array instead of scalar tensor when min or maxval is not a scalar tensor"
[code]
Expected behavior is to either trow an error or treat single element tensor as scalar and return a scalar.

-win10, tf2, cuda

[2019-11-17 23:07] EdjeElectronics commented on #33671
@petewarden will this get resolved any time soon? It looks like users are having this same error with TF v1.14, which is the latest version easily available for Raspbian Stretch (which uses Python 3.5 by default).

Seems there are two solutions:

1. Add wheel files for TF v2.0 on piwheels.org so users can easily install TF v2.0
2. Resolve the issue with TF v1.13 / TF v1.14.

A couple people follow

[2019-11-18 00:05] yunjiangster commented on #17739
@mrry: in tensorflow 1.12 with parameter server I get this error: tensorflow.python.framework.errors_impl.InvalidArgumentError: Distributed session does not support session thread pool options.

[2019-11-18 00:50] bright1993ff66 commented on #446
@flowice Thank you very much for your answer. But could I apply the ```bfgs``` method in each batch of data and do the parameter update?

I have also checked the other package like ```neupy``` and it seems like they provide an answer. But it seems like this package relies on ```theano``` and makes it very difficult to run codes in the 64-bit computer....

[2019-11-18 01:35] alanpurple opened #34364 "build failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04.3 x64
- Mobile device (e

[2019-11-18 02:06] honeytidy commented on #34262
I ran with 4 GPUs. This thefull stack trace:
[code]
I will try tf-nightly later.

[2019-11-18 02:48] Leslie-Fang opened #34365 "Why tf.concat not support multiply types"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): TF2.0
- Are you willing to contribute it (Yes/No): Yes

**

[2019-11-18 02:52] aohan237 opened #34366 "with tf.GradientTape() tf.image.non_max_suppression returns unexpected result"
with tf.GradientTape() as tape:
    predictions = model(images)
    vol = predictions.shape[1]
    col = predictions.shape[2]
    num_boxes = vol*col*anchor_len
    predictions = tf.reshape(predictions,[num_boxes,5+classes])

    scores = predictions[:,0]
    boxes = predictions[:,1:5]
    num_labels = len(labels)
    print(num_labels,'num_labels')
    nms_index = tf.image.non_max_suppression(boxe

[2019-11-18 03:18] ucasiggcas commented on #34214
@ymodak
Thanks，
I have tried this,but not success
of course ,I check the Version of the CUDA and cuDNN, they are compatible,
[code]
If you read chinese, see this [ blog](https://blog.csdn.net/SPESEG/article/details/103042752) for details.

thanks for your kind help

[2019-11-18 03:22] aohan237 commented on #34366
tf.function makes this happens. but the document in the tutorial does not mention it.

carefully use tf 2.0 tutorial

[2019-11-18 03:22] #34366 closed

[2019-11-18 03:28] ucasiggcas commented on #34214
@oanush
Sorry, this problem is about **Install tf-gpu** ,not the code

[2019-11-18 05:22] ravikyram commented on #34362
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-11-18 05:29] ravikyram commented on #34361
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-11-18 05:32] oanush commented on #34344
@kojino ,
Hi,looks like the issue is fixed in latest `tf-nightly 2.1.0.dev20191117 `version, Can you try running the code in the same ? kindly find the gist of [colab](https://colab.sandbox.google.com/gist/oanush/6e6acdf102edddaf7c4ed2292b0e43b0/34344.ipynb) for your reference.

[2019-11-18 05:56] zhm9484 opened #34368 "MemcpyHtoD blocks gpu computing when using StagingArea"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-11-18 06:01] mimimichelle commented on #34361
Thanks for your reply ravikyram.

OS: Windows 10
Python 3.6 with Anaconda
TensorFlow version: 2.0.0
keras version: 2.2.4

I installed tensorflow in Anaconda with conda install xxxxx. And then I got into the tensorflow environment in Anaconda and installed keras. I was provided these codes but they didn't seem to work. The purpose here is to download the ResNet50 model.

import numpy as np
import k

[2019-11-18 06:01] ravikyram commented on #34355
@acseckin

Can you please go through TensorFlow GPU instructions [page](https://www.tensorflow.org/install/gpu#ubuntu_1604_cuda_10) and see if it helps you.I guess the problem with the compatibility.
Upgrade libcudnn packages to 7.6.2 and Initialize your code with following code and let us know how it progresses.
[code]
Thanks!

[2019-11-18 06:09] xgzeng commented on #34221
@pavithrasv @alextp  I though the problem lies in `sparse_categorical_crossentropy` loss function.

Following code in `sparse_categorical_crossentropy` function ('keras/backend.py' file), cause different behavior in eager/graph mode.

[code]

If we rewrite model code to skip the optimization, the problem is gone.
[code]

[2019-11-18 06:16] danijar commented on #34194
Sorry, I can't assist you with the workflow. [CONTRIBUTING.md](https://github.com/tensorflow/tensorflow/blob/master/CONTRIBUTING.md) would be a good place to get started.

[2019-11-18 06:21] oanush commented on #34339
@anshkumar ,
Hi, looks like the issue is fixed in TF version-2.0. Can you try running the code in 2.0? kindly find the gist of [colab](https://colab.sandbox.google.com/gist/oanush/76966638dba18670472226ba0dac6607/34339.ipynb) for your reference. Thanks!

[2019-11-18 06:38] reubencmoyo commented on #9356
This worked for me. Thanks

tf.enable_eager_execution()

[2019-11-18 06:48] npuichigo commented on #31509
any update?

[2019-11-18 06:54] copperwiring commented on #26197
@margaretmz I wanted to give a shot at documenting the difference between tf.keras and keras.io .Can you point me to good resources (blogs etc.) which I can use for the proper documentation. What word count and line count are we looking at?

[2019-11-18 07:21] copperwiring commented on #34194
@lamberta @goldiegadde Is this issue being worked on? If not, can I submit a PR?

[2019-11-18 07:27] BuiNgocHai commented on #32241
Hi I'm trying to dumb frozen .pb graph from .hdf5 file but I my .pb have difference output with .h5 file
### input and output name of .hdf5 file
[code]
### and output value of hdf5 file like this:
[code]
###  this is output of .pb file ( 'fcn17/truediv:0' ) :
[code]
and i see my output of hdf5 file difference pb file
### this is my code i try to dumb freeze graph from hdf5 file
[code]
I'm using te

[2019-11-18 07:35] songs18 opened #34369 "TF2 Warning : Sets are not currently considered sequences, but this may change in the future, so consider avoiding using them."
When i compute grads by tf.GradientTape, console presents  a **warning : Sets are not currently considered sequences, but this may change in future, so consider avoiding using them.** My code is like this
[code]
![image](https://user-images.githubusercontent.com/47944452/69391681-8a58cc80-0d0e-11ea-9b73-f35742116387.png)

[2019-11-18 08:04] jomoengineer commented on #34219
I found the fix for the 'arm_mult_q15' in the following issue:
[https://github.com/tensorflow/tensorflow/issues/32037](url)

This requires editing the methods in the "./mbed-os/cmsis/TARGET_CORTEX_M/arm_math.h" file.

Also, after performing a complete update/upgrade and dist-upgrade, I was able to compile the example in that config as well. That is after making the changes in the "arm_math.h" file

[2019-11-18 08:18] copperwiring commented on #34194
Submitted a PR @danijar @lamberta

[2019-11-18 08:21] rmothukuru commented on #34363
@Pixel-Therapy,
Correct me if I am wrong but, From this [TF Link](https://www.tensorflow.org/api_docs/python/tf/random/uniform) and [The Source Code](https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/ops/random_ops.py#L186-L252),  it is mentioned that `random.uniform()` returns a Tensor but it is not mentioned that it will be a Scalar Tensor.

Can you please provide the referenc

[2019-11-18 08:26] oanush commented on #34333
@MayhemGang ,
Thanks for reporting the issue, Can you share a standalone code to reproduce the error reported here?Thanks!

[2019-11-18 08:31] ravikyram commented on #34338
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Can you please elaborate about the issue & the context.Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue temp

[2019-11-18 08:52] oanush commented on #34328
@lpcoutinho ,
Hi,Please note that `tf.contrib.seq2seq.DynamicAttentionWrapper `will work. Also for 2.0 contrib has been removed and the equivalent is[ Addon-Seq2Seq](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/seq2seq/README.md).Thanks!

[2019-11-18 09:05] ravikyram commented on #34332
I have tried on colab with TF version 2.0 ,2.1.0-dev20191111 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/4f70bc0621bc1d362ed8d465b7cb054a/untitled377.ipynb). Thanks!

[2019-11-18 09:10] ravikyram commented on #34330
This issue is more suitable for TensorFlow TFjs repo. Please post it on TFjs repo from [here.](https://github.com/tensorflow/tfjs/issues/new). Thanks!

[2019-11-18 09:22] #34307 closed

[2019-11-18 09:32] SanthoshRajendiran commented on #33557
I checked the latest benchmark, still I am not able to benchmark the hair segmentation model provided by Mediapipe.

Error log is attached below
[benchmarking_issues.txt](https://github.com/tensorflow/tensorflow/files/3857883/benchmarking_issues.txt)

[2019-11-18 09:34] SaschaHeyer opened #34371 "tf.io.gfile.glob does not list all files in a Google Cloud Storage bucket"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): ?
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: /
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0
- Python version:

[2019-11-18 09:38] oanush commented on #34312
Issue replicating with TF-2.0.

[2019-11-18 09:44] royhershkovitz commented on #28388
https://www.tensorflow.org/lite/guide/build_arm64
who need it for arm can do it this way.

[2019-11-18 09:45] zaccharieramzi commented on #34276
The workaround does work, I will follow #2084 to be aware of when the satisfying fix is be available. Thanks for this and the side note!

[2019-11-18 09:49] lsgrep commented on #33414
Hi @jsimsa , I dug a little bit and found that the underlying `RangeDatasetOp` operation does not support `int32`. In fact, it does not parse `output_types` at all, yet.  If I extend `RangeDatasetOp`, then the problem can be solved?  Am I right? Thanks

[2019-11-18 09:53] arun-kumark commented on #17684
Dear Naveen,
I am too able to generate the tflite file (post quantization) but the only catastrophe is, the file is not 8-bit quantized. Could you share the Google colab code to do it. As first time, I am using APIs for Google Colab.
How it's different than the system installation and environment ?

I am in parallel doing from beginning to create the quantization aware training, to avoid post-trai

[2019-11-18 09:54] rmothukuru commented on #34353
@anshkumar,
 Can you please share `saved_model1` and `saved_model2` so that we can reproduce the issue at our end. Thanks!

[2019-11-18 10:01] ravikyram commented on #34319
@PedroDKE

I tried reproducing the issue with TF 2.0 using colab. However i am not seeing any error message. Please, help me in reproducing the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/d03583e7c0604f9413ab84cd7ccf64f7/untitled378.ipynb). Thanks!

[2019-11-18 10:03] rmothukuru commented on #34348
Could reproduce the issue with TF Version 2.0. Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/565a2bee7543a888a9677813b9e0447a/tf_model_save_buggy.ipynb).

[2019-11-18 10:05] DocDriven commented on #34277
@jdduke
Correct me if I am wrong, but I am using the inputs/outputs methods, but these have no reasonable size (1.8e19 outputs and 2.5e4 inputs). It is hard to believe that this is expected behavior for a model with 90 floats as inputs/outputs.
Please reopen the issue.

[2019-11-18 10:09] oanush commented on #34300
@ztz818 ,
When tried running the tutorial for TF-2.0, I was able to run it without any issues. Please find the [gist](https://colab.sandbox.google.com/gist/oanush/014444e1e04149353045f14d15297af6/34300.ipynb) of colab. Kindly let us know if your are using any different code? provide us with the same.

[2019-11-18 10:09] rmothukuru commented on #34340
@jsgonsette,
Thank you for the detailed explanation. This issue seems to be related to reusing Pre-Trained Models. So, it is better raised in [TF Hub Repository](https://github.com/tensorflow/hub/issues), as the issues in that Repo will be looked into by the experts in Pre-Trained Models. Thanks!

[2019-11-18 10:12] ravikyram commented on #34308
@kiunthmo
Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature.Thanks!

[2019-11-18 10:15] ValYouW commented on #33634
@twkx Thanks. Too complicated, I'll skip windows for now... :)

[2019-11-18 10:20] vihari1729 commented on #33867
Thanks for the reply man. But i didn't do training with my code.I followed the tutorial in the below link for the creation of graphdef file
https://github.com/tensorflow/docs/blob/master/site/en/r1/tutorials/sequences/audio_recognition.md

[2019-11-18 10:21] rmothukuru commented on #34335
@janbolle,
When trying to reproduce your issue, I encounter the error, `ValueError: No gradients provided for any variable: ['dense_8/kernel:0', 'dense_8/bias:0', 'dense_9/kernel:0', 'dense_9/bias:0'].`. Can you please help us reproduce the issue. Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/aef8241a042b30a26f55ea519204719a/34335.ipynb). Thanks!

[2019-11-18 10:26] janbolle commented on #34335
@rmothukuru , thanks for your reply.
This is my problem. `gradients_meta` are always [None, None, ...].
So TF tells me that there are no gradients provided..

[2019-11-18 10:32] rmothukuru commented on #34316
Could reproduce the error with TF Nightly Version. Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/786d873d44f8e135ac00802e2f16ff69/34316.ipynb). Thanks!

[2019-11-18 10:47] rmothukuru commented on #34311
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

[2019-11-18 10:51] PedroDKE commented on #34319
wasn't able to reproduce it there either, i tried to reinstall tensorflow but it didtn help either.
here is the error with verbosity set to 10:

INFO:tensorflow:Converted call: <function TensorLikeDataAdapter.__init__.<locals>.permutation at 0x7f05a833dcb0>
    args: (<tf.Tensor 'args_0:0' shape=() dtype=int64>,)
    kwargs: {}

INFO:tensorflow:Whitelisted: <function TensorLikeDataAdapter.__init__

[2019-11-18 11:03] rmothukuru commented on #34298
@Stick-To,
Tried reproducing your issue but encountered the error, `NameError: name 'backone' is not defined`, after giving some dummy values to `batch_size` and `lr`. Please find the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/47956cd5c8b7742f2e313efc116a7fdc/34298.ipynb).

[2019-11-18 11:06] sgpritam commented on #34365
Concatenates the list of tensors values along dimension axis. If values[i].shape = [D0, D1, ... Daxis(i), ...Dn], the concatenated result has shape
[D0, D1, ... Raxis, ...Dn]
where
Raxis = sum(Daxis(i))

That is, the data from the input tensors is joined along the axis dimension.

The number of dimensions of the input tensors must match, and all dimensions except axis must be equal.

For example:

[2019-11-18 11:17] WestbrookZero commented on #34033
@jdduke  I used float SSDMobileNetV2 model ，android aar gpu version “org.tensorflow:tensorflow-lite-gpu:0.0.0-nightly” , but cpu is still increasing . i  refer to  "https://github.com/tensorflow/examples/blob/master/lite/examples/object_detection/android/README.md" this demo ,  It is to change the code below
`d.tfLite = new Interpreter(loadModelFile(assetManager, modelFilename));`
With the followi

[2019-11-18 11:22] rmothukuru commented on #34297
Could reproduce the issue with TF Version 2.0. Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/3a286f4b25e62d041d0030e80a4e1cb2/34297.ipynb). Thanks!

[2019-11-18 11:23] shauryad15 opened #34374 "TFLite android example custom model error: java.lang.ArrayIndexOutOfBoundsException: length=10; index=-2147483646"
Hi @achowdhery ,

I'm getting this error while placing my custom model in tensorflow lite android example. I've gone through the post which resolves the same
int labelOffset = 1;
      recognitions.add(
          new Recognition(
              "" + i,
              labels.get((int) outputClasses[0][i] + labelOffset),
              outputScores[0][i],
              detection));

this is the part wh

[2019-11-18 11:28] rmothukuru commented on #34335
@janbolle,
So do you mean you are encountering same error as that of mine. Please confirm.

[2019-11-18 11:35] hustcat opened #34375 "Run multi-worker with nccl error: NET/IB : collective mismatch error"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): `tensorflow/mo

[2019-11-18 11:36] Leslie-Fang commented on #34365
@sgpritam My input tensors definitely has the same dimension but one is tf.string and another one is tf.int32.

[2019-11-18 11:44] igorhoogerwoord opened #34376 "RunTimeError: DST Tensor Not initialised - while saving checkpoint, not while training."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18 LTS
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d38 2.0.0
- Python version: 3.6
- CUDA/cuDNN version:
nvidia-driver-418
cuda-10-0

[2019-11-18 11:50] Pixel-Therapy commented on #34363
The first argument in random.uniform asks for shape, ill edit my example as shape = ().
It seems that random.uniform always follows this shape except in the above case.

[2019-11-18 11:54] #33980 closed

[2019-11-18 11:58] Stick-To commented on #34298
@rmothukuru    It's done

[2019-11-18 11:59] Stick-To commented on #34298
when I combine _cla_head and _reg_head as this, the code could run well
[code]

[2019-11-18 12:04] Stick-To commented on #34298
@rmothukuru  https://colab.research.google.com/gist/Stick-To/e745c258bfa65bdda2d95844e1ce3f76/34298.ipynb

[2019-11-18 12:20] honeytidy commented on #34262
@guptapriya I can not repro for tf-nightly-gpu. But for tensorflow-gpu-2.0 I reproduce the error every time. Is this a bug of tensorflow2.0?

[2019-11-18 12:31] soldier828 commented on #24828
Just for remind. I use tf2+cuda10, have the same question. But I found there still a process in the target GPU, so I kill it and solved.

[2019-11-18 12:31] anshkumar commented on #34353
Here is the [link](https://drive.google.com/open?id=1lgZB27bdv7qFMfMwTETv11PCq-BZszcg).

[2019-11-18 12:37] tensorflowbutler commented on #25484
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-18 12:37] tensorflowbutler commented on #33928
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-18 12:47] janbolle commented on #34335
@rmothukuru , yes, same error on my side.

[2019-11-18 12:56] yangis1019 commented on #34354
so... how to I downgrade CUDA to 10.0?

[2019-11-18 13:03] Rahulmishra07 commented on #34335
Chandan Kumar

On Nov 18, 2019 6:24 PM, "Jan Bollenbacher" <notifications@github.com>
wrote:

@rmothukuru <https://github.com/rmothukuru> , yes, same error on my side.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/tensorflow/tensorflow/issues/34335?email_source=notifications&email_token=AMUWCJI3UKK2QVZRZWSF4

[2019-11-18 13:08] Flamefire commented on #33975
The proposed patch does not work in some circumstances such as when using compiler wrappes like ccache as that throws of the relation between compiler and include paths. See https://github.com/bazelbuild/bazel/issues/10167

So I guess this must be fixed in Bazel.

**However**: Strangely this issue does not occur when not using the CUDA build, so for "normal" GCC it must be able to handle the inclu

[2019-11-18 13:15] rmothukuru commented on #34335
Could reproduce the error with TF Version 2.0. Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/aef8241a042b30a26f55ea519204719a/34335.ipynb). Thanks!

[2019-11-18 13:29] tpeet commented on #34183
Hi,

I trained a model and converted it to TFLite with select ops model with TF2.0. In Android it works well, after including tensorflow-lite-select-tf-ops.aar from repository, but as I understand, for iOS the lite-with-select-ops CocoaPod is not yet published and we should compile it ourselves. The problem is that in TF 2.0 [documentation ](https://www.tensorflow.org/lite/guide/ops_select) it sug

[2019-11-18 13:39] carlthome commented on #32373
They're different and you cannot just replace one with the other. This is pretty easy to test.

[code]

Aside from the transpose, librosa does reflect padding to center analysis frames (`np.pad(waveform, 2048//2, 'reflect')`). That seems to be the major difference, but even after matching that you'd still get some slightly different values (perhaps the underlying FFT isn't identical). They're diff

[2019-11-18 13:42] marcojerome commented on #34222
Same problem in ubuntu 19.10, same configuration as ydxt

[2019-11-18 13:44] bersbersbers commented on #34088
I stumbled across a very similar issue today, and also earlier (where I noticed that `'mse'` and `tf.keras.metrics.mse` behaved differently, IIRC). Therefore, I have been resorting to using `tf.keras.metric.get()` to sanitize all inputs. However, with `accuracy`, I have now found that `'accuracy'` behaves differently from `keras.metrics.get('accuracy')`. This is super-unexpected, and as far as I c

[2019-11-18 13:51] itemko commented on #34222
Seems we're observing something similar after recent Bazel version upgrade.

[2019-11-18 14:27] nikochiko commented on #34348
@rmothukuru @k-w-w I can make a fix for this in accordance with the `save_weights` method. Shall I start working?

[2019-11-18 14:52] waleedt commented on #28326
@sidd-hart Installing everything via conda totally worked for me with Tensorflow 2.0.0, Cuda 10.1, and Cudnn 7.6.2. Thank you so much!

[2019-11-18 14:58] itemko commented on #34222
Possibly related issue https://github.com/tensorflow/tensorflow/issues/34117

[2019-11-18 14:59] itemko commented on #34117
Seems we're observing the similar issue after recent Bazel version upgrade.

[2019-11-18 15:07] amjass12 opened #34378 "Identifying activating neurons for specific classes"
Hi all, hope this question is ok placed here! any help would be much appreciated!

I have a question i am hoping somebody might be able to help with. I have trained a sequential model (keras) that attempts to understand multiple labels in a data set. There are hundreds of samples (more samples to follow), and each individual sample will have multiple labels (an organ, an age and sex).

the model p

[2019-11-18 15:12] faizanahemad commented on #31509
Please look into this issue. The console output becomes a complete mess

[2019-11-18 15:13] shahriar49 commented on #34311
@rmothukuru
I am referring to the padded_batch function as described in https://www.tensorflow.org/api_docs/python/tf/data/Dataset#padded_batch
I just want to know how to do this thing (padded_batch) in pre-padding format. The current function only implements post-padding.
I am using Tenorflow 1.12 on Python 3.6/Windows platform, but my question is general.

[2019-11-18 15:44] tsvetiko commented on #22957
Don't forget to clear the session before setting the learning phase to 0 (which puts keras in inference mode, so the batch norm won't be updated)!

[code]

[2019-11-18 15:46] paapu88 commented on #34117
I have also problems with this, trying now bazel 0.24.1
I'm in jetson nano, tensorflow2 has been compiled from source there (I have not tried it yet):
https://jkjung-avt.github.io/build-tensorflow-2.0.0/

[2019-11-18 15:49] awav opened #34379 "Memory leak in custom tensors"
Hello everyone,

cc: @alextp

There is a memory leak for custom tensors from https://github.com/tensorflow/tensorflow/issues/24865. You can find an MWE here: https://colab.research.google.com/drive/1v-PEv3-qubszfK0gFS2RLhcP6qbDUvIK. Long story short. In GPflow we define parameters of the model as custom tensors (variables) https://github.com/GPflow/GPflow/blob/develop/gpflow/base.py#L36. The param

[2019-11-18 16:16] jessica-santos commented on #34107
We use medical images, you can get a free dataset from Kaggle, like this one: https://www.kaggle.com/paultimothymooney/chest-xray-pneumonia

[2019-11-18 16:19] jessica-santos commented on #28110
Same problem here. Loading the model it's consuming a lot of memory. Some solution was found?

[2019-11-18 16:44] impjdi commented on #33605
@wanfranck

Thanks for the update!

@elblogbruno

I think there's a very subtle bug in MediaPipe.  A couple of engineers have been looking into (and I also checked), but we couldn't spot anything obvious :(

[2019-11-18 16:46] mrgloom commented on #15401
[code]

[2019-11-18 16:47] impjdi commented on #33557
@SanthoshRajendiran

Ah, those need to be defined in the op resolver.  Take a look at these for examples:

https://github.com/google/mediapipe/tree/master/mediapipe/util/tflite

[2019-11-18 16:50] srjoglekar246 commented on #34143
That is strange. So running in colab with the same commands solved it for you as well?

[2019-11-18 16:53] ahmedelmahy opened #34380 "Why is autoencoder with tensorflow 2.0 is performing very bad compared to the same code in keras?"
I am training an autoencoder on the mnist data With keras the validation loss is great (starting from 0.2687 to .1) While with tensorflow(version 2.0).keras validation loss is stuck at (.6) Even though I am using the same code.

Below is the code with keras ([you can test it in colab](https://colab.research.google.com/drive/1AD5Z_pXsaM6Ubn6Yfg0uD230J9o8AfRS)) and followed by the code with tf.keras

[2019-11-18 16:56] elblogbruno commented on #33605
@impjdi do you think you'll sort it out?

[2019-11-18 17:07] scentini commented on #34117
Can you try adding --noincompatible_remove_legacy_whole_archive?

[2019-11-18 17:10] ahmedelmahy commented on #34380
It turns out it's a behaviour from the optimizer. Could it be a bug? or just different initialization parameters

with tf.keras it works very well and reaches val_loss less than 1 with adam optimizer
[code]

Train on 60000 samples, validate on 10000 samples
Epoch 1/50
60000/60000 [==============================] - 2s 28us/sample - loss: 0.2540 - val_loss: 0.1771
Epoch 2/50
60000/60000 [===========

[2019-11-18 17:15] Naveen-Dodda commented on #17684
Hello Arun,

Thanks for checking back, could you share me details of your input and output ? or what have been using for conevrter.representative_dataset. I can try to perform 8 bit quatization from my end and wil be happy to sahre my colab code with you.

Its not very diffrent from system installtion vesrion of TensorFlow but in general colab would be common environment. So we can make sure we ar

[2019-11-18 17:17] impjdi commented on #33605
@elblogbruno Hopefully ;)  However, I'm not directly involved with the MediaPipe team and don't know their agenda or priorities.  I think it's better to follow up with them.

[2019-11-18 17:18] bmiselis opened #34381 "Segmentation fault (core dumped) tf 1.12.0-gpu-py3 image (works with cuda:9.0-cudnn7-devel-ubuntu16.04 and manual tf install)"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no (code from

[2019-11-18 17:25] elblogbruno commented on #33605
@impjdi thanks for answering. I'm really interested on implementing it on my product that's why I want it to work. I'll follow up.

[2019-11-18 17:34] kojino commented on #34344
Seems to work, thank you!

[2019-11-18 17:34] #34344 closed

[2019-11-18 17:38] jvishnuvardhan commented on #34140
@saintthor Approach to load a model when a custom object was used is little different. First, you need to load the saved model with `custom_objects` and `compile = False`. Then compile the model with the `custom_objects` as shown below.

[code]

Hope this helps. Please close the issue if the issue was resolved. Thanks!

[2019-11-18 17:43] jvishnuvardhan commented on #30754
I am closing this issue as it was resolved with the new converter `converter.experimental_new_converter = True`. Please feel free to reopen the issue if it persists again. Thanks!

[2019-11-18 17:43] #30754 closed

[2019-11-18 17:48] karmel commented on #34234
The checkpoint directory should be viewed as a single unit of work, and in general, we would not advise using the same checkpoint dir for multiple checkpoint managers, for this reason and others. In this case, please use separate directories for each Manager, or adjust params to match the expectations of the checkpoint dir rather than each manager alone.

[2019-11-18 18:05] georgesterpu commented on #34234
Thanks, @karmel, I will update my code in that case.
I have an use case where a new Manager resumes training from the latest checkpoint of a previous Manager, but also need to store the last checkpoint of each manager. Some checkpoint copying script will do it.

[2019-11-18 18:05] #34234 closed

[2019-11-18 18:11] alextp commented on #34379
@kkimdev Do you know if this is related to the leak you've been investigating?

[2019-11-18 18:18] mihaimaruseac commented on #34364
Duplicate of #34117.

[2019-11-18 18:18] #34364 closed

[2019-11-18 18:20] ShiroKL commented on #34321
Hi @developer22-university ,
thank for your reply. In factm that helps to answer my second question about the pretrained weights from imagenet.

[2019-11-18 18:25] qlzh727 commented on #33148
Sorry for the very late reply, I will take a close look this week. This issue is kind of tricky since the error is raised from cudnn kernel, which contains less information. The troubleshooting for root cause might take me sometime.

[2019-11-18 18:27] georgesterpu commented on #33878
Apologies for the noob question, not familiar with Eigen: are the results different for some inputs because they are processed by different implementations of sigmoid, a fast one for the biggest chunk that is a multiple of the acceptable sizes, and a slower one for the remainder ?

[2019-11-18 18:27] lamberta commented on #34194
Thank you @copperwiring 🚀

[2019-11-18 18:27] #34194 closed

[2019-11-18 18:32] kkimdev commented on #34379
It seems like it's using tf.data? There were some recent tf.data memory leak fixes https://github.com/tensorflow/tensorflow/commit/082415b2ff49bfb8890f7d5361585bac04749add https://github.com/tensorflow/tensorflow/commit/c2fc448fe253bc59d3f0417d7d08e16d53f2a856 so I encourage to try on tf-nightly or tf-nightly-gpu .

[2019-11-18 18:32] bigmw opened #34385 "GPU device not found in Colab"
My code worked well with GPU in Colab yesterday. But this morning it became very slow. So I suspect that CPU is used despite hardware accelerator is set to GPU in “change runtime type” explicitly. So I check the availability of GPU following the tutorial:
https://colab.research.google.com/notebooks/gpu.ipynb

code chunk:
[code]

Indeed, I got SystemError: GPU device not found. I tried this with di

[2019-11-18 18:35] jvishnuvardhan commented on #33648
@AndersonHappens I agree. May be it is better to add some checks before saving the model but it is not as simple as it looks. However, the error clearly describe what needs to changed. [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/e3ac0c1f35bb4c9cf73afaedde6d0975/33648.ipynb) is a gist for your reference. Thanks!

[2019-11-18 18:45] lamberta commented on #34305
Sounds like a good suggestion!
Can you add it to the docstring here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/engine/training.py#L596
We now support DocTest snippets in the API reference so that might be a good place to start: https://www.tensorflow.org/community/contribute/docs_ref

[2019-11-18 18:52] ymodak commented on #34385
The best available hardware is prioritized for users who use Colaboratory interactively rather than for long-running computations. Users who use Colaboratory for long-running computations may be temporarily restricted in the type of hardware made available to them, and/or the duration that the hardware can be used for.
See [Why are hardware resources such as T4 GPUs not available to me?](https://r

[2019-11-18 18:54] k-w-w commented on #34348
That would be great! Reviewing the PR now

[2019-11-18 18:59] #34030 closed

[2019-11-18 19:12] bigmw commented on #34385
Thanks for the response. I only use Colaboratory interactively, and never for long-running computations. It is not likely that I am temporarily restricted because I tried the GPU test in different sessions and different user accounts (mentioned above). That’s way I think it is more likely related to tensorflow update.
Can you try the code chunk above in Colab (of course with hardware accelerator i

[2019-11-18 19:19] janbolle commented on #34335
Also what is very odd is if I print the weights of the layers before and after the training, they are available. But if I use the function model_copy.get_weights() it results in an empty array.

Following code:
[code]

[2019-11-18 19:19] jpviguerasguillen commented on #34233
The Jupyter notebook to replicate the issue is:
https://drive.google.com/open?id=1gMnrIe3WBRyEpGumisMMP8ZqqTm5XtX1

[2019-11-18 19:43] ymodak commented on #34385
Thanks. I was able to reproduce the behavior.
As a workaround you may try installing tf-nightly-gpu version;
```pip install tf-nightly-gpu```
You can also comment out ```%tensorflow_version 2.x``` lines from the colab.
Can you please point me to the webpage where you found the tutorial? Thanks!

[2019-11-18 19:54] csachs opened #34390 "[TF2.0] tf.reduce_mean crashes Python (Floating point exception) if the count becomes zero due to overflow"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from: binary, source tested as well
- TensorFlow version: 2.0
- Python version: 3.7

**Describe the current behavior**

Running the script:
[code]
Crashes the Python interpreter (e.g. `Floating point exception (core dumped)`).
(Likely as 256 overflows in `uint8` to 0, leadin

[2019-11-18 20:05] qo4on commented on #34385
I have the same issue. Yesterday everything worked fine. I also didn't use it for long-running computations.

[2019-11-18 20:06] wliu40 commented on #30847
Same issue in Tensorflow 2.0.

[2019-11-18 20:20] Emilien-P commented on #34305
@lamberta Thanks for the references, I will make a doc edition proposal :)

[2019-11-18 20:24] kpe opened #34391 "TPUStrategy broken in TF2 Keras"
**System information**
- Have I written custom code: YES
- OS Platform and Distribution: Google Colab
- TensorFlow installed from (source or binary): Colab
- TensorFlow version (use command below):  ('v2.0.0-rc2-26-g64c3d38', '2.0.0')
- GPU model and memory:  Colab TPU

**Describe the current behavior**
TPU in collab cannot be used with TF 2, trying to use `TFRecordDataset` as an input to a Keras

[2019-11-18 20:34] Clouxie opened #34392 "Training stucking and strange GPU usage"
Hi there,
Im recently trying to train my model using configs from zoo.
But sometimes my training is stucking.
full Issue is described here
https://github.com/EdjeElectronics/TensorFlow-Object-Detection-API-Tutorial-Train-Multiple-Objects-Windows-10/issues/385

And the GPU usage looks like here - im uploading you a graph from MSI Afterburner :

https://drive.google.com/file/d/1Z6q6uQnOfMn2VGDlpcWAH

[2019-11-18 20:51] mengdong commented on #34117
--noincompatible_remove_legacy_whole_archive doesn't work when using bazel 0.27.1 and up

[2019-11-18 20:52] jsgonsette commented on #34340
Ok, I'm doing that.

[2019-11-18 20:55] kkimdev commented on #34316
Hi, unfortunately, when @tf.function is traced (the first call), the first optimizer is captured and will still try to use that in the subsequent calls.  Another was to get around is defining tf.function for each.

[code]

[2019-11-18 20:58] infil00p opened #34393 "TFLite SIGILL on Invoke()"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): I am using the

[2019-11-18 20:59] awav commented on #34379
@alextp, @kkimdev I replaced data with tensors and installed `tf-nightly` - still the issue is present.

[2019-11-18 21:00] bigmw commented on #34385
@ymodak
installing tf-nightly-gpu does not help. Commenting out %tensorflow_version 2.x lines works. It's even more likely that this is due to some recent update in tensorflow 2. You can find the tutorial in my original question above. Thanks.
@qo4on
glad that someone replicates my problem more precisely! Hope the tensorflow team can quicly noticed this and reverse the problematic update.

[2019-11-18 21:05] mdanatg commented on #34297
This bug is a combination of several problems that we'll need to resolve, fopefully in 2.2. In the mean time, a workaround is to avoid writing for loops over ragged tensors (e.g. `for x in ragged_tensor`). This means rewriting your code like so:

[code]

A few more details on the cause of the bug --

Autograph doesn't currently support iterating over `RaggedTensor`, and it thinks they are normal P

[2019-11-18 21:09] infil00p opened #34395 "TFLite GL Delegate build is leaking Foundation libraries"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS X 10.14.6 Mojave
- Mobi

[2019-11-18 21:11] georgesterpu commented on #30161
Hi @karmel
Since there hasn't been any progress on the masked batch norm PR lately, I would like to ask about a cheaper workaround.

Instead of zero padding the shorter sequences, one option is to sample from the existing sequences, e.g. by mirroring/replicating samples from the beginning/end. Could this be done conveniently in the `padded_batch` method of `tf.data.Dataset` with the `padding_value

[2019-11-18 21:16] qlzh727 commented on #34158
Adding @pavithrasv who is the owner of metric and loss. I think the loss will take into account of the masks and exclude the masked value, but I don't think metric will do that, which is why you see the value difference here. I will let @pavithrasv  to confirm.

[2019-11-18 21:19] MikeOfZen commented on #34297
Thank you for the update and the details.

[2019-11-18 21:26] georgesterpu commented on #34316
I understand, thanks.

Is there a better way of manually changing the learning rate of an optimiser (and optionally resetting the moments) than creating a new instance ? I see a `_set_hyper` method, but looks protected.

[2019-11-18 21:26] #34316 closed

[2019-11-18 21:26] #33623 closed

[2019-11-18 21:27] arthurflor23 commented on #34385
I'm also having the same problem and in this morning worked fine.

[2019-11-18 21:29] bas-aarts commented on #34117
concur with @mengdong
I tried  a73d7ace8e3c5a59d2325b95f3b02e225a977ff2 with bazel 1.1.0 and get the same errors as before.

[2019-11-18 21:39] jipson7 opened #34396 "Error converting universal sentence encoder to TFLite with new converter. Failed to find function '__inference_pruned_1633'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macos 10.14.6
- TensorFlow installed from (source or binary): pip tf-nightly
- TensorFlow version (or github SHA if from source): tf-nightly==2.1.0.dev20191113

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

[code]

**Also, please in

[2019-11-18 21:41] kkimdev commented on #34379
Looks like it's leaking through tensorflow_probability's FillTriangular class and bijector.  I'm not sure if I'll have time to dig this deeper soon.  I attached the script I used to profile and it's outputs below.

https://colab.research.google.com/gist/kkimdev/f69960cb84d05a8d865eaadf44f47967/memory-leak-in-custom-tensor.ipynb

[code]
![image](https://user-images.githubusercontent.com/503414/6909

[2019-11-18 21:50] jvishnuvardhan commented on #34346
@Shiro-LK I am not able to reproduce this error (I am seeing different error, see below). Did you find this colab link on TF website? Can you please point us to the source of the tutorial if it is on TF website? Thanks!

Error trace I am noticing is

[2019-11-18 21:55] Mr-Grieves commented on #34286
@jdduke: I just tried rebuilding my .aar without `-c opt` and it did not change anything in the crash stack.

Also, as a small update: this issue does not seems to be present when I build the test network using tensorflow 2.0. Unfortunately, the actual keras network I am trying to work with was trained using v1.13.1 so that does not solve my issue.

[2019-11-18 21:56] gowthamkpr commented on #34378
@amjass12 Please post these questions in stackoverflow as github is meant for build/install, bug/performance, doc and feature request related issues. Thanks!

[2019-11-18 21:56] #34378 closed

[2019-11-18 22:14] gowthamkpr commented on #34365
@Leslie-Fang As you can see from the definition of values in the function, the two tensors should be of same type and this function doesn't cast the two types into the same type. This is the cause of the error.

[code]

[2019-11-18 22:20] AlessioGalluccio commented on #34385
Same here. Thank you, I was hopeless. I will wait tomorrow

[2019-11-18 22:20] robieta commented on #34073
I think this is now obsolete. As of https://github.com/tensorflow/tensorflow/commit/ac20030c96d37e980333b604402ef6dba48ef5e2, `fit_generator` just calls `fit` (which supports generators by turning them into Datasets). Previously `fit_generator` was using a separate, somewhat antiquated code path. With the consolidation both endpoints are now using the more modern codepath, and when I test your col

[2019-11-18 22:20] #34073 closed

[2019-11-18 22:51] lu-wang-g commented on #34315
Hi Michelle,

Thanks for experimenting TFLite Support Library!

Unfortunately, TensorLabel does not work in this specific use case for Object Detection.

TensorLabel is used to attach axis labels to a tensor. For example, in TFLite's image classification reference app, the output is a tensor with shape [1, 1001], where each element in the tensor is a probability of the corresponding category. Ther

[2019-11-18 22:51] #34315 closed

[2019-11-18 23:02] jvishnuvardhan commented on #33931
@trembous This is intended behavior. I updated code to show the actual labels and corresponding features selected for prediction. When you run the last cell like this

## Ran first time (last block)
[code]
The result is something like this (not exactly same as yours as the dataset frame may be different)

[code]

After that you are running code below `#Show some results` and not running the predic

[2019-11-18 23:02] #33931 closed

[2019-11-18 23:42] alextp commented on #34379
@jvdillon have you seen this leak before?

[2019-11-18 23:54] jvdillon commented on #34379
We definitely used to leak memory but switched to weakref dict. Given the intrinsic complexity here, my guess is we have a bug. Ill see if someone on the team is willing to dig in.

[2019-11-18 23:57] MeghnaNatraj commented on #28718
An activation adds uncertainty, causes increased model size and latency by a tiny bit -- so it's best if we avoid it. There is a workaround to set `from_logits=True` in the loss function as follows:

**Option 1 ([Source](https://www.tensorflow.org/tutorials/text/text_generation#attach_an_optimizer_and_a_loss_function))**
[code]
**Option 2 (Optimized version of Option 1 using Lambda functions)**
[c

[2019-11-19 00:06] advaitjain commented on #33470
The tests all build now, with the caveat that the binary size is more than what the bluepill hardware can support. A subset of the tests can be run in the renode emulator (e.g. kernel_add_test) while others fail.

The remaining work to be done to get everything going again for the Bluepill platform is being tracked internally so I am closing this issue for now.

Please let us know if there is some

[2019-11-19 00:06] #33470 closed

[2019-11-19 00:13] ymodak commented on #34231
```@tf.function``` does graph representation of your python code to deploy your model across various devices. The speed up can be observed on executing computationally intensive tasks and may not happen in simple cases such as matrix multiplication.

[2019-11-19 00:18] qlzh727 commented on #34171
Adding original author @ekelsen

[2019-11-19 00:20] qlzh727 commented on #34171
The original change is added in https://github.com/tensorflow/tensorflow/commit/61b521679b9468b4b4ffa792a1ebc6a5ecd28317.

And also add true author @duckworthd

[2019-11-19 00:39] jvishnuvardhan commented on #32647
@MaryRodina Sorry for the delay in my response. I think there is a shape mismatch between input_data and the model_Expectation. Please check the error trace I am getting with `TF2.0`.

[code]

When I changed input channels from `9` to `3`, everything worked without any issue. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/d5558fac1ff57e44ef36ab1d9288f2bf/untitled

[2019-11-19 00:41] kkimdev commented on #34316
Yes you can also dynamically set it. Here is the code https://github.com/tensorflow/tensorflow/blob/bf9c196f37b9cbb3109b2891aaf9da85bf5f712a/tensorflow/python/keras/optimizer_v2/optimizer_v2.py#L556

[code]

[2019-11-19 00:41] #34250 closed

[2019-11-19 00:55] pooyadavoodi commented on #34117
I also tried with 0.27.1 and still fails.

[2019-11-19 01:14] bas-aarts commented on #34117
I does work with bazel 0.24.1

[2019-11-19 01:16] robieta commented on #33027
Closing as intended behavior.

[2019-11-19 01:16] #33027 closed

[2019-11-19 01:32] gargn commented on #34350
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-11-19 01:38] reedwm commented on #34332
The current behavior was intended, but on second thought, I think you are right and that this behavior is incorrect. I previously incorrectly believed `Variable.assign` returned a tensor, not a Variable, and wanted the returned tensor to have the same dtype as the input tensor (float32).

Luckily, this issue occurs relatively rarely. AutoCastVariables act identically to Variables outside `Layer.ca

[2019-11-19 01:59] jamestwebber opened #34398 "Possible bug (wrong sign) in BTRS algorithm for binomial sampling?"
This is a very esoteric issue: I was reading the [BTRS paper](https://www.tandfonline.com/doi/abs/10.1080/00949659308811496) and trying to understand the algorithm by reading the [TF implementation](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/random_binomial_op.cc), and I think I found a bug on line 99, in the Stirling approximation for `log(k!)`:

[code]

If I'm r

[2019-11-19 02:09] haoyuz commented on #33894
Hello @pw2393 , this happens because `v.variable` refers to a device which is recreated before cluster initialization. `set_server_def` essentially recreates the devices and device managers (and also destroy existing ones) so `v.device` points to invalid memory and accessing it would cause segfault. This for now is intended behavior.

In the current codebase (you can install the latest nightly rel

[2019-11-19 02:09] #33894 closed

[2019-11-19 02:10] yongtang commented on #34363
The issue is that in one code path, math_ops.add was called which implicitly broadcast.

Created a PR #34399 for the fix.

[2019-11-19 02:13] reedwm commented on #33484
@verrannt, good investigation! In TF 2.1, this will be fixed. Alternatively, you can use the nightly builds with `pip install tf-nightly-gpu` which has the fix now. This has been fixed by casting the float32 loss scale to the dtype of the loss.

For reference, to do float16 training (typically referred to as mixed precision training), you **always** want to do the following

[code]

You **do not**

[2019-11-19 02:13] #33484 closed

[2019-11-19 02:18] rchao commented on #34127
Hello @netw0rkf10w, sorry about the confusion. I was trying to repro locally with your example, but unfortunately there was some issue downloading the dataset. When I tried some other dataset I have the program could finish just fine. Would you mind providing a minimal repro with some dummy data so I can quickly repro? Thank you.

[2019-11-19 02:25] GodsDusk commented on #34350
I use both Ubuntu 16.04.6 LTS x_86 and macOS Mojave x_64, there is same error.
and I use python virtualenv and pip command to install tensorflow2.0

[2019-11-19 02:33] gargn commented on #34350
Can you use `tf.keras.models.save_model` instead. `tf.keras.experimental.export_saved_model` has been [deprecated](https://www.tensorflow.org/api_docs/python/tf/keras/experimental/export_saved_model). I was able to get the following code working on `tf-nightly` (version: `2.1.0.dev20191118`).

[code]

[2019-11-19 02:35] VitaMusic commented on #33544
here is the stdout of bazel
(cuda 10.1, cudnn 7.6, compute capability = 3.0, /arch:AVX2)

-------------------------------

bazel --output_user_root user_root --output_base base build --config=opt --config=mkl --config=v2 //tensorflow/tools/pip_package:build_pip_package

----------------------------

WARNING: The following configs were expanded more than once: [v2]. For repeatable flags, repeats ar

[2019-11-19 02:38] VitaMusic commented on #33544
I would be glad to have a working script for windows compilation from source
(vs2019, cuda10.1, cudnn7.6.5, cc=3.0, avx2, mkl)

[2019-11-19 03:00] GodsDusk commented on #34350
it works, thanks

[2019-11-19 03:05] gargn commented on #32965
The primary supported file format in 2.0 is [SavedModel](https://www.tensorflow.org/guide/saved_model). While GraphDef is a part of the SavedModel, it is no longer an independently supported format.

[2019-11-19 03:08] sayakpaul commented on #19603
I am also facing this same issue on my GCP VM (containing 2 V100s). I am using [this example](https://www.pyimagesearch.com/2017/10/30/how-to-multi-gpu-training-with-keras-python-and-deep-learning/) by PyImageSearch for testing. I have carefully used `tf.keras` and also made sure that I am using `tf.compat.v2.keras.utils.multi_gpu_model`. Here's some error trace:

[code]

[2019-11-19 03:12] VitaMusic commented on #33544
this is r2.0
vs2019 installed but not detected
set BAZEL_VC=C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Tools\MSVC\14.23.2810
set BAZEL_SH=C:\msys64\usr\bin\bash.exe
---------------------------------
Extracting Bazel installation...
Starting local Bazel server and connecting to it...
WARNING: The following configs were expanded more than once: [v2]. For repeatable flags, repe

[2019-11-19 03:17] NKCSRzChen opened #34401 "Building from source "undefined reference to `cublasGemmStridedBatchedEx' ""
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 16.04
- Mobile dev

[2019-11-19 03:19] VitaMusic commented on #33544
when using vs2019 command prompt, no influence on path detection for VC
----------------------------------------------------------------------------------
WARNING: Running Bazel server needs to be killed, because the startup options are different.
WARNING: Waiting for server process to terminate (waited 5 seconds, waiting at most 60)
WARNING: Waiting for server process to terminate (waited 10 seco

[2019-11-19 04:18] r-barnes commented on #27198
@foobar167 : I didn't see such a distribution. Perhaps you could link to it?

[2019-11-19 04:21] ManiBlitz commented on #33545
Solved my issue. Some updates concerning Keras and Tensorflow. The best option so far is replacing:

```import keras as K```

to:

```import tensorflow.python.keras as K```

after updating tensorflow and keras to their latest version.

[2019-11-19 04:22] #33375 closed

[2019-11-19 05:03] QuangHa97 commented on #34385
Hello @bigmw, I got the same issue.  tf 2.0 GPU worked yesterday and today it is not working.
Tf 1.15 still can find GPU but same like tf 2.0 can't find GPU (include K80, T4 and P100 in google colab).

[2019-11-19 05:13] rmothukuru commented on #34298
Could reproduce the error with TF Version 2.0. Here is the [Gist](https://colab.research.google.com/gist/Stick-To/e745c258bfa65bdda2d95844e1ce3f76/34298.ipynb). Thanks!

[2019-11-19 05:26] gadagashwini commented on #25484
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-19 05:26] #25484 closed

[2019-11-19 05:29] gentelyang opened #34404 "Distributed training resnet50 using 4 nodes 32 TeslaV100 cards"
I checked a lot of literature, but I didn't find the results. The questions are as follows:
How many hours can it converge？（Distributed training resnet50 using 4 nodes 32 TeslaV100 cards）

Do you have internal test results that can be displayed to better understand the performance of your distributed training.

[2019-11-19 05:31] rmothukuru commented on #34340
@jsgonsette,
Closing the issue as it has been raised in TF Hub Repo. Thanks!

[2019-11-19 05:31] #34340 closed

[2019-11-19 05:51] rmothukuru commented on #34353
@anshkumar,
When trying to reproduce your error, below error encountered. Can you please help us reproduce the your error. Thanks!

`ValueError: Requested return tensor 'import/detection_scores:0' not found in graph def`

[2019-11-19 05:54] rmothukuru commented on #33474
@ydcjeff,
Can you please let us know if your issue is resolved. Thanks!

[2019-11-19 05:54] gadagashwini commented on #34369
@songs18, Please provide the complete code and the Tensorflow version. Thanks!

[2019-11-19 05:57] dbonner commented on #34117
Yes, 0.27.1 still fails with the patch.
It builds with bazel 0.26.1.
You have to run ./configure with bazel 0.27.1 or higher.  Otherwise it won't let you run ./configure.
Then uninstall bazel (sudo apt remove bazel)
Then install bazel 0.26.1
Then it will build successfully.

[2019-11-19 05:58] rmothukuru commented on #34132
Closing the issue as it is the duplicate of [32477](https://github.com/tensorflow/tensorflow/issues/32477). Thanks!

[2019-11-19 05:58] #34132 closed

[2019-11-19 06:08] ravikyram commented on #34380
@ahmedelmahy
I tried the code with keras using TF 1.15 and validation loss is converging  (starting from 0.2687 to .1). However in TF 2.0 using keras gives the below error.
`RuntimeError: It looks like you are trying to use a version of multi-backend Keras that does not support TensorFlow 2.0. We recommend using `tf.keras`, or alternatively, downgrading to TensorFlow 1.14`.
I tried the given code

[2019-11-19 06:22] vinayapathak opened #34405 "tf.keras.utils.get_file error in Extracting .zip format"
Hi,
**Issue**: tf.keras.utils.get_filecannot extract .zip file and returns a list
Basicallly I have to convert the entire data set into tar.gz format since for some reason the above module is unable to extract the .zip folder. Another bug is that the .tar folder name and the fname have to be compulsorily same as per present module. I hope these two issues get fixed by the Tensorflow community :)
A

[2019-11-19 06:28] oanush commented on #34390
Issue replicating for TF-2.0 and tf-nightly, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/dcb73f2c1dea1d095f2acaf69df575f0/34390.ipynb) of colab.Thanks!

[2019-11-19 06:31] sayakpaul opened #34406 "Mixed precision training with tf.keras 2.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 2.0.0
- Python ve

[2019-11-19 06:45] Sathis89 opened #34407 "How to access the context menu in pywinauto"
Hello All,

I could not able to access the menus(tool bars in the left side of an application). Can you please help how to acsess thos menus using pywinauto ?
I could not able to attach the screenshot because of some issue in the attachment process.

Thanks in Advance!!

[2019-11-19 07:18] shun-lin opened #34408 "tensorflow.python.keras.testing_utils.layer_test breaks when a (custom) layer is returning a list/tuple of tensor"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-11-19 07:20] Stick-To commented on #34298
@rmothukuru  the reconstruction of it is done, isn't it?

[2019-11-19 07:44] Frank17 commented on #28326
Actually, I've tried docker For GPU support, bug it failed. I pulled tensorflow/tensorflow:1.15.0-gpu-py3, and it still has this problem, I think it better to reopen this issue. @kernelizd

stack trace as below:
[code]

[2019-11-19 07:49] Leslie-Fang commented on #34365
@gowthamkpr Thanks for the sharing. Is there any special consideration to design the input tensors must be the same type? My question is that whether this API could support the input tensors with different types.

[2019-11-19 07:51] Leslie-Fang commented on #34405
I think this API is able to extract the .zip file. Is there something special in your modules?

[2019-11-19 07:52] JHyeok commented on #25593
This issue has not been resolved. Same issue `ImportError: /lib64/libm.so.6: version `GLIBC_2.23' not found`

Using
python 3.7.4
Tensorflow 1.14.0

[2019-11-19 07:58] laszlocsomor commented on #33544
What's your `--output_base` and `--output_user_root`?

[2019-11-19 08:00] wanfranck commented on #33605
@impjdi I think you got me wrong :) the issue is still exists, my message is that the issue isn't caused by GLContext management.

[2019-11-19 08:01] laszlocsomor commented on #33544
Never mind, I was looking at your older error log with the symlink cycle.

But this error though:

Does this really not exist?

[2019-11-19 08:23] songs18 commented on #34369
Duplicate of #
The code is very simple, it contains just single hidden layer. In the following code, train_x refers input x, ground_truth is the correct label. I am doing a classification task.

` with tf.GradientTape() as tape:
            pred,w = model(train_x)
            loss_pred = compute_loss(ground_truth, pred)

        grads = tape.gradient(loss_pred, model.trainable_variables)

[2019-11-19 08:23] hectorqin opened #34409 "C++ compilation of rule '//tensorflow/cc:cc_op_gen_main' failed (Ex it 1)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
  CentOS 6.10
- TensorFlow installed from (source or binary):
  source
- TensorFlow version:
  Branch r2.0
- Python version:
 3.7.5
- Bazel version (if compiling from source):
  0.26.1
- GCC/Compiler version (if compiling from source):
 gcc version 4.9.1 20140922 (Red Hat 4.9.1-10) (GCC)
- CUDA/cuDNN version:
  CUDA

[2019-11-19 08:29] TaekSoonJang commented on #28109
@edloper

* Tensorflow version: 2.0.0

I encountered this issue while figuring out doing matmul on a ragged tensor.

[code]

Above is the problem I am working on, but it ended up like:

[code]

Would you help me do matmul on a ragged tensor as you suggested?

[2019-11-19 08:33] gadagashwini commented on #33949
@ori-6over6, Is this still an issue.

[2019-11-19 08:35] rmothukuru commented on #34298
@Stick-To,
Yes, it is done and I have forwarded it to another Engineer. Thanks!

[2019-11-19 08:35] gadagashwini commented on #34059
@aarac, Were you able to resolve this issue. Thanks!

[2019-11-19 08:46] Sach97 commented on #34150
Thank's @haozha111 I'll try that !

[2019-11-19 08:58] ori-6over6 commented on #33949
Hey @gadagashwini, we were using [MTCNN4Android](https://github.com/vcvycy/MTCNN4Android) for detecting eyes using Tensorflow so we are now trying to use an [equivalent version for TFLite](https://github.com/syaringan357/Android-MobileFaceNet-MTCNN-FaceDeSpoofing), but their model detection is less accurate.
Anyway the TFLite integration seems to be working and the extra permissions are no longer

[2019-11-19 09:07] momo1986 commented on #29751
In tensorflow 1.12,  also has the problem.
How could I give a workaround.
Thanks!

[2019-11-19 09:12] gretzke commented on #8858
I've been struggling with this issue as well. For me a BIOS update fixed the problem as well!

[2019-11-19 09:15] smthxwolf commented on #34368
i've got the same problem on tf1.14, rtx2080ti

[2019-11-19 09:28] grwlf commented on #34117
And I call this a solution! Here is the simple patch that can be used to lower the bazel requirements down to 0.26.1. Hope we'll find a more clever fix.
[code]

FYI I'm running configure with the following setting:

[code]

[2019-11-19 09:29] oanush commented on #33928
@chathuravithakshana ,
Any update on the issue ?Thanks!

[2019-11-19 09:41] mmjb commented on #32457
Just want to chime in here: This feature request is crucial to getting decent performance out of TF2 for Graph Neural Network implementations.

In the GNN setting, such a list of inputs are shape [None, 2] tensors of adjacency lists for different edge types. The number of edge types are fixed for a given instance of the GNN model, but of course not an inherent property of the model class. See http

[2019-11-19 09:42] msnh2012 opened #34410 "How to limit tensorflow CPU and memory usage in c_api?"
**In python:**
`sess = tf.Session(config=
    tf.ConfigProto(inter_op_parallelism_threads=1,
                   intra_op_parallelism_threads=1))`
**c_api:**
How?

[2019-11-19 09:58] tonmoyborah commented on #27278
Same issue, trying to convert a retinanet model to tflite. tf version: 1.13.1

[2019-11-19 10:11] marcojerome commented on #34222
I confirm that with bazel 0.24.1 does work and the linking error disappears.

[2019-11-19 10:20] Shiro-LK commented on #34346
Hi,
I thank you for your reply.
I am sorry, I tried to change one thing to make the generator worked but I did not succeed. To get my error replace :
[code]

by the ImageDataGenerator :
`train_gen.flow(X_train, y_train, batch_size=batch_size),`

Regarding the colab file, I just use the same presentation used in this one :
https://colab.research.google.com/github/tensorflow/tpu/blob/master/tools/co

[2019-11-19 10:24] oanush commented on #34375
@hustcat ,
Hi, Can you please provide more info on the issue reported here? Thanks!

[2019-11-19 10:28] oanush commented on #34354
@yangis1019 ,
Please refer this [link](https://www.tensorflow.org/install/gpu).Thanks!

[2019-11-19 10:28] gadagashwini commented on #34392
@Clouxie, Will it be possible to provide the complete code to reproduce reported issue. Thanks!

[2019-11-19 10:37] panosprotopapas commented on #9829
In case someone gets stuck (like me) and none of the above work, make sure you have a BLAS library. I installed libopenblas-dev, liblapack-dev through Synaptic (and all additional required changes), and got everything to work.

So I agree that the issue is -loosely speaking- numpy related :)

[2019-11-19 10:45] mmjb commented on #32457
Alright, we found "fun" workaround for this (left in the issue for anyone else encountering this problem).

Existing code:
[code]

New `build`, enabling autograph with build-time constant shapes:
[code]

This is clearly not pretty, but makes things go reasonably fast. Clearly, all this malarkey shouldn't be necessary, and a `@tf.function` should just magically work, but there you go.

[2019-11-19 10:49] anilsathyan7 commented on #24825
Hey i'am facing similar problem with tflite conversion of a  keras model(plain keras not tf.keras) with Input layer type float16 in TF 1.15.0.

` I tensorflow/lite/toco/import_tensorflow.cc:193] Unsupported data type in placeholder op: 19
F tensorflow/lite/toco/import_tensorflow.cc:2679] Check failed: status.ok() Unexpected value for attribute 'T'. Expected 'DT_FLOAT'
Aborted (core dumped)`

Is fl

[2019-11-19 10:58] VitaMusic commented on #33544
It doesn't exist. I have 2019 version of VS

вт, 19 Ноя 2019 г., 9:12 László Csomor <notifications@github.com>:

[2019-11-19 11:00] thadumi commented on #34270
@jvishnuvardhan I'd like to contribute. Could you tell me where I should add this feature?

[2019-11-19 11:20] lgeiger commented on #34332
@reedwm Thanks for taking a look.

The reason why I am looking deeper at the implementation of `AutoCastVariable` is because we are in the process of subclassing `tf.Variable` in https://github.com/larq/larq/issues/306 with the goal to have a `QuantizedVariable` that can be used to define arbitrary fake quantizations like binary or ternary  quantization which would allow easy research on extreme q

[2019-11-19 11:22] zxam commented on #34385
Downgrading cuda from 10.1 to 10.0 may solve the problem. [stackoverflow](https://stackoverflow.com/questions/58926378/unable-to-run-even-basic-example-with-tf-2-0-and-gpu-support-in-colab)

[2019-11-19 11:24] anilsathyan7 commented on #31784
Here is my custom fp16 converted plain keras model...
I changed the model type and weights manually; but i'am unable to convert to float16-tflite in tensorflow 1.15.0, using the aforementioned script.

It's showing error with input layer(placeholder) data type.
`I tensorflow/lite/toco/import_tensorflow.cc:193] Unsupported data type in placeholder op: 19
F tensorflow/lite/toco/import_tensorflow.cc:

[2019-11-19 11:32] ravikyram commented on #34361
@mimimichelle
I tried with tf.keras and it was working fine. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/b7bc35d73f7a8238119f0340103ea120/untitled381.ipynb).Thanks!

[2019-11-19 11:42] ravikyram commented on #34086
@lijinze9456yy000

Any update on this issue please.Thanks!

[2019-11-19 11:43] ravikyram commented on #34028
@grewe
Any update on this issue please. Thanks!

[2019-11-19 11:44] michal-au commented on #33148
@qlzh727 in case it helps, for me the problem goes away when I disable eager mode.

[2019-11-19 11:48] ravikyram commented on #34222
@ydxt

Can you please confirm if @marcojerome's workaround is working for you.Thanks!

[2019-11-19 11:49] laszlocsomor commented on #33544
Try this in a normal cmd.exe (not in the VS 2019 command prompt):

[code]

[2019-11-19 11:52] verrannt commented on #34406
I had the same problem with float16 training. Please refer to [this issue](https://github.com/tensorflow/tensorflow/issues/33484) for an explanation on why the TypeError is thrown. Apparently, it will be fixed in TF2.1 and is already fixed in the current `tf-nightly-gpu`.
#33484

[2019-11-19 11:56] anshkumar commented on #34353
You need to have [tensorRT](https://docs.nvidia.com/deeplearning/sdk/tensorrt-install-guide/index.html) installed. It's showing in the info that it's not able to find tensorRT version:

[code]

[2019-11-19 12:00] wangtz commented on #32802
Looking at the traceback, it did hit tflite converter codepath.

converter = tf.contrib.lite.TFLiteConverter.from_keras_model_file("efficient_net_v1_190925.h5")
File "/root/anaconda3/lib/python3.6/site-packages/tensorflow/contrib/lite/python/lite.py", line 368, in from_keras_model_file

Assigning the bug to Haoliang to help identify if it's a problem with the converter.

[2019-11-19 12:04] wangtz commented on #27156
Hi Kevin and Ty,

A few changes have been made into the allocator, is the problem still persist?

[2019-11-19 12:06] jpviguerasguillen commented on #34073
Thanks!
You are right, the nightly version works perfectly. I did not occur to me to try tf-nightly before submitting the issue.

[2019-11-19 12:07] xuchengggg opened #34413 "tf.12 to tf2.0"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-11-19 12:08] scentini commented on #34117
We have a fix for this issue on TF side. However given that the build succeeds with 0.26.1 and is broken with 0.27.1, we should locate the change in Bazel that caused this behavior.
An incompatible change that modifies the linking order was introduced in 0.27 through [--incompatible_do_not_split_linking_cmdline](https://github.com/bazelbuild/bazel/issues/7687). Can someone please try building with

[2019-11-19 12:21] fancyerii opened #34415 "How to limit the cpu core number in Tensorflow 2.0"
I am using tf.keras to train a model with cpu and I want to limit the cpu usage of this program. I found this article(https://www.kaggle.com/c/porto-seguro-safe-driver-prediction/discussion/43383):

[code]

But in Tensorflow 2.0, ConfigProto is deprecated and Session is gone. What's the correct method to limit cpu usage?

[2019-11-19 12:29] scentini commented on #34117
@dbonner can you please clarify -- was the build with 0.26.1 successful before [a73d7ac](https://github.com/tensorflow/tensorflow/commit/a73d7ace8e3c5a59d2325b95f3b02e225a977ff2)?
We're seeing failures at HEAD for windows and macos due to this commit, it'll most likely be at least temporarily reverted. I'd like to know if it impacts this issue in any way.

[2019-11-19 12:32] tensorflowbutler commented on #29952
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-19 12:32] tensorflowbutler commented on #33875
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-19 12:32] tensorflowbutler commented on #33984
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-19 12:32] tensorflowbutler commented on #33882
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-19 12:34] mdanatg commented on #32457
@mmjb thanks for sharing, it's a clever workaround!

As a side note, a few related APIs which generalize this notion to "any structure of tensors of corelated shapes" is [StructuredTensor](https://github.com/tensorflow/community/blob/master/rfcs/20190910-struct-tensor.md), (work-in-progress) and [RaggedTensor](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/ragged) (available, but not

[2019-11-19 12:38] QuangHa97 commented on #34385
Thank @ymodak, tensorflow 2.1.0-dev20191119 worked for me.

[code]
`2.1.0-dev20191119`

Comment: %tensorflow_version 2.x still get tf 2.0 so that wont work.

[2019-11-19 12:39] StenkinVlad commented on #27034
Had the same problem with TensorBoard
after fitting logs created but when used in terminal
`tensorboard --logdir logs/fit`
got bad link that did not work in Google Chrome
`TensorBoard 1.14.0 at http://DESKTOP-CC81AQ5:6006/ (Press CTRL+C to quit)`
and in IE was nothing with this  python response
`I1119 15:12:22.167826  3004 _internal.py:122] ....... - - [19/Nov/2019 15:12:22] "?[37mGET / HTTP/1.1?[

[2019-11-19 12:44] mapeima opened #34416 "Error trying to convert a model using full integer quantization"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04.3:
- TensorFlow installed from source: pip3 install --upgrade tensorflow==1.15
- TensorFlow version: 1.15

**Provide the text output from tflite_convert**

[code]

**Model:**
[code]

**Convert the model:**
[code]

**Any other info / logs**

[code]

[2019-11-19 12:51] VitaMusic commented on #33544
here is the output after this variables

-----------------------------------------------
Starting local Bazel server and connecting to it...
... still trying to connect to local Bazel server after 10 seconds ...
WARNING: The following configs were expanded more than once: [v2]. For
repeatable flags, repeats are counted twice and may lead to unexpected
behavior.
INFO: Writing tracer profile to 'F:/

[2019-11-19 12:56] mmjb commented on #32457
Thanks for pointing to the StructuredTensor RFC; that will clearly help for such models. We've been trying to use `NamedTuple`s for related things (see the sample above), but something that's better-integrated with the rest of tensorflow would be much appreciated...

[2019-11-19 13:02] jpviguerasguillen commented on #34233
**UPDATE:**
I am trying tf_nightly (tensorflow version 2.1.0) and the divergence issue seems to be solved (the training metrics look very stable, as it used to be).
Therefore, I am closing this thread.
Thanks!

[2019-11-19 13:02] #34233 closed

[2019-11-19 13:02] qo4on commented on #34385
Run this code, get some red lines, restart runtime and run again:
[code]

[2019-11-19 13:07] Leslie-Fang commented on #34390
from the call stack, the core dump happens in the eigen lib

`#0  0x00007f2e1fe1f527 in std::_Function_handler<void (long, long), Eigen::internal::TensorExecutor<Eigen::TensorAssignOp<Eigen::TensorMap<Eigen::Tensor<unsigned char, 0, 1, long>, 16, Eigen::MakePointer>, Eigen::TensorCwiseUnaryOp<Eigen::internal::bind2nd_op<Eigen::internal::scalar_quotient_op<unsigned char const, unsigned char const>

[2019-11-19 13:11] mshlis commented on #29700
any update?

[2019-11-19 13:38] sayakpaul commented on #34406
@verrannt thank you very much :)

[2019-11-19 13:42] laszlocsomor commented on #33544
Try this:
[code]
then run Bazel again.

[2019-11-19 13:49] Leslie-Fang commented on #34415
[code]
Have a try of this setting @fancyerii ?

[2019-11-19 14:31] David-Mao commented on #32457
@mmjb To make sure I understand correctly, in your workaround `len(adjacency_list_shapes)` is fixed at the time of model building and cannot be changed for each different calls of `call()`, right? You didn't explicitly define `adjacency_list_shapes` in the code snippet so I don't know how that's passed...

[2019-11-19 14:35] olk commented on #33809
**@guptapriya**, I don't believe that the code can be reduced to run in colab. Could you point me to an example that uses MirroredStrategy and runs in colab? I'd like to test it on my system (2 NUMA nodes, but both GPU are connected tot the same NUMA node == data do not cross the QPI).

[2019-11-19 15:01] mmjb commented on #32457
@David-Mao Yes, the list length is fixed at model-building time and is the same for all `call`s.

[2019-11-19 15:22] bigmw commented on #34385
Thanks @QuangHa97
installing tf-nightly-gpu following your code above does solve the GPU error. However, GPU under tf-nightly-gpu (TF 2.1.0-dev20191119) seems to be much slower than the original TF 2.0 (before this bug occurred). My code used to take 5.6 seconds per epoch, now it’s 8.6 seconds, about ~54% slower than before. There should still be some issue there with tf-nightly-gpu. Hope the TF t

[2019-11-19 15:23] impjdi commented on #33605
@wanfranck

I have a couple of questions:

1. Are you using C++ or Java APIs?
2. Are you using OpenCL or OpenGL?  If you don't know the answer, which delegate are you using?  IIRC we have like 3 different versions of the GPU delegate.
3. How are you using the GPU delegate?  From master, or from some static snapshot of TF release, or nightly build?

[2019-11-19 15:24] David-Mao commented on #32457
@mmjb Thanks.
In my desired use case I would like to see the list length varies with calls, so this workaround doesn't work for me :(

[2019-11-19 15:27] zaccharieramzi opened #34417 "Have the count mode passed to the callbacks"
**System information**
- TensorFlow version: 2.0.0
- Are you willing to contribute it: Yes

**Describe the feature and the current behavior/state.**
Right now when training on a generator (I don't know about the other cases), when the callbacks are configured, the number of samples passed in might actually be the number of steps (i.e. divided by batch size). To cope with that for the progress bar,

[2019-11-19 15:37] wanfranck commented on #33605
@impjdi

1. C++ API
2. OpenGL, gl_delegate from <tensorflow/lite/delegates/gpu/gl_delegate.h> (if it makes sence to you).
3. I use tensorflow as a submodule of my project, with bazel I built (from latest) libtensorflowlite.so and libtensorflowlite_gpu_gl.so and link it to C++ sources.

[2019-11-19 16:01] saintthor commented on #34140
thank you. this solution works well.

[2019-11-19 16:01] #34140 closed

[2019-11-19 16:10] arthurflor23 commented on #32398
I have the same problem, but with the 2.0 beta1 and 2.0 release/tf-nightly-gpu..

[2019-11-19 16:32] jusingh opened #34418 "TensorFlow-gpu 2.0 - Forward features in estimators prediction output"
**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

In tensorflow-gpu 1.14, we were passing the ID key(s) as a forward feature so that it appears in prediction outputs

estimator = tf.contrib.estimator.forward_features(
        estimator,
        keys=[
            feature_forwar

[2019-11-19 16:34] SivamPillai commented on #33030
I am also facing this problem where I am using a TF model and running in a loop for cross-validation. In each iteration of the loop the memory used grows although it is the same model and it shouldn't. As a result, after few iterations, the code returns segmentation fault. Looking for a fix on this or a workaround. I am using model.fit()

[2019-11-19 16:37] thavlik commented on #33285
On Mac, for me, the file was located at ~/Library/Python/3.7/lib/python/site-packages/tensorflow_core/python/keras/utils/data_utils.py (not in the keras folder)

[2019-11-19 16:40] jdduke commented on #34393
@srjoglekar246 could you take a look?

[2019-11-19 16:42] jdduke commented on #31114
This is fixed in the latest nightly, and we'll try to pull the fix in to the 2.1 release (https://github.com/tensorflow/tensorflow/pull/34419). Thanks again for your patience.

[2019-11-19 16:42] #31114 closed

[2019-11-19 16:43] ValYouW commented on #28105
@jdduke Can I build for ios on Mac? when trying to pass `--config=ios_x86_64` or `--config=ios_arm64` but I get the error that "config value is not defined in any .rc", I am on the v2.0.0 branch.
If I omit the `--config` altogether the build is successful but Im not sure that the resulting `libtensorflowlite.so` would run on ios... (?)

Thx.

[2019-11-19 16:45] za13 commented on #33918
can anyone help?

[2019-11-19 16:51] alextp commented on #34332
@reedwm the purpose of `_UnreadVariable` is allowing code like `x = tf.assign_add(x, foo); x = tf.assign_add(x, bar)` which was possible with ref variables and so to ease the transition to resource variables I made `_UnreadVariable`

@lgeiger I'm with you, I really don't like how complex variables are right now. I think if you control the variable creation site I recommend instead of subclassing v

[2019-11-19 16:57] Hoiy commented on #33755
The error message should come from [optimizer_v2.py line 459](https://github.com/tensorflow/tensorflow/blob/bf9c196f37b9cbb3109b2891aaf9da85bf5f712a/tensorflow/python/keras/optimizer_v2/optimizer_v2.py#L459) ?

[2019-11-19 17:08] Clouxie commented on #34392
yeah , sure . first of all , I've downloaded tensorflow models repo from here:
https://github.com/tensorflow/models/tree/r1.13.0
I've tried also latest models.
Then I've downloaded faster_rcnn_inception_v2_coco model from zoo.
Only thing I have changed was labelmap.pbtxt and config file which im posting below

`# Faster R-CNN with Inception v2, configured for Oxford-IIIT Pets Dataset.
# Users shou

[2019-11-19 17:19] hsiaoer commented on #31114
Hi @jdduke , thanks for the fix. Just to understand how we can resolve this issue on android, would we be able to pull in the nightly build of TFL in gradle and have this fixed

[code]

or do we have to also reconvert our models to TFL using the nightly build?

[2019-11-19 17:22] wosiu commented on #31114
@jdduke are you going to backport the fix to 1.* version?

[2019-11-19 17:24] #34055 closed

[2019-11-19 17:30] jdduke commented on #34010
Do you have an example model to demonstrate 5D usage? Also, does your desired use-case currently work with the TFLite CPU path? While we do support >4D cases for certain ops in our CPU backend, that's not the case (yet) for all ops.

[2019-11-19 17:31] jdduke commented on #31114
There won't be any backport, however, you can safely use the latest 2.x or nightly version with both 1.X and 2.X TF models.

[2019-11-19 17:36] srjoglekar246 commented on #34393
Hey @infil00p,
Does the SIGILL also occur when you do inference without any debug tooling? There are some known issues with JNI code & gdb tooling, so I was wondering if its related.

[2019-11-19 17:37] ghannum commented on #32398
I found a temporary hack which allowed me to load the old model and get it saved into a compatible format.

I modify the file:
tensorflow_core/python/keras/saving/hdf5_format.py
[code]

[2019-11-19 17:38] jdduke commented on #34286
I'm curious, if you change your conversion target ops to just
[code]
Does that make any difference?

[2019-11-19 17:39] bas-aarts commented on #34117
building at a73d7ace8e3c5a59d2325b95f3b02e225a977ff2 with bazel 0.27.2 with --noincompatible_do_not_split_linking_cmdline produces the same linker errors.

[2019-11-19 17:40] #33496 closed

[2019-11-19 17:49] arthurflor23 commented on #32398
Hi!
With the drop weight, you got the same result? Such as, predict or resume train

[2019-11-19 17:51] mihaimaruseac commented on #34117
@bmzhao has a fix for this which would be incoming soon.

[2019-11-19 17:59] copperwiring commented on #34405
@vinayapathak : From https://www.tensorflow.org/api_docs/python/tf/keras/utils/get_file

Could you post your code snippet for us to analyze the issue better?

[2019-11-19 18:01] qlzh727 commented on #33148
@houtoms, the error is raised from cudnn kernel and it only says there is a bad param. Could you provide more details about which param is bad? I am not familiar with the cudnn kernel detail at all.

[2019-11-19 18:05] ghannum commented on #32398
So far it's looking correct...

[2019-11-19 18:14] copperwiring commented on #34398
@jamestwebber  It appears you are correct. I verified the equation from the original paper which can found here: https://epub.wu.ac.at/1242/1/document.pdf (Page 7)

I am sending a PR request now.

[2019-11-19 18:25] infil00p commented on #34393
@srjoglekar246 It doesn't.  Even when using debug tooling, the inference continues and I get an output from it.  I'm trying to investigate some other issues and this is appearing on v2.0.0 where v1.14.0 was working fine.

[2019-11-19 18:44] SidGATOR opened #34423 "Issue in building TFLITE static library for linux environment"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution
Linux Ubuntu 16.04
- TensorFlow installed from (source or

[2019-11-19 18:47] SidGATOR commented on #34423
issue can be resolved by removing line 33 and 34 from the Makefile in ./tensorflow/lite/tools/make/Makefile
`INCLUDES := \
-I. \
-I$(MAKEFILE_DIR)/../../../../../ \
-I$(MAKEFILE_DIR)/../../../../../../ \
-I$(MAKEFILE_DIR)/downloads/ \
-I$(MAKEFILE_DIR)/downloads/eigen \
-I$(MAKEFILE_DIR)/downloads/absl \
-I$(MAKEFILE_DIR)/downloads/gemmlowp \
-I$(MAKEFILE_DIR)/downloads/neon_2_sse \
-I$(MAKEFILE_D

[2019-11-19 18:47] gowthamkpr commented on #34365
@Leslie-Fang Can't promise anything but I will keep you updated on this feature request.

[2019-11-19 18:47] anthonyatp opened #34424 "Extremely slow pre-processing of images using InceptionV3"
**System information**
- OS Platform and Distribution: Google AI Platform
- TensorFlow version: v2.0
- Python version: v3.*
- Machine type: 4 vCPUs, 15 GB RAM
- GPU: 1x NVIDIA Tesla K80

I am training a model to caption images and have mostly used this tutorial: https://www.tensorflow.org/tutorials/text/image_captioning#download_and_prepare_the_ms-coco_dataset

The issue is, I am trying to pre-pro

[2019-11-19 18:48] kmader commented on #27156
It seems to still be an issue, I'll change the repo to run the tests using github workflows so it is easier to see

[2019-11-19 18:56] gowthamkpr commented on #34376
@igorhoogerwoord Can you share a github gist of the issue preferably on colab. Thanks!

[2019-11-19 18:58] pavithrasv commented on #33649
@SeanLee97 Would you be able to share standalone code for reproducing the issue?

[2019-11-19 19:16] rmlarsen commented on #29700
If the condition number of your matrix approaches 1/std::numeric_limits<T> then it is "numerically singular", or "numerically indistinguishable" from a singular matrix.

As you mention, Matlab warns you that you are in this regime, which also means that the results returned by np.inv or inv in Matlab are essentially completely random numbers.

In TensorFlow we chose to fail with an error in this c

[2019-11-19 19:16] #29700 closed

[2019-11-19 19:33] guydavid commented on #34010
I do. I can work around it by altering it post-training but that adds maintenance.
I specifically prioritize OpenCL support, however, I expect that a CPU implementation will follow once I am done.

[2019-11-19 19:38] jvishnuvardhan commented on #34353
As mentioned by @aaroey in another related issue, can you try with `TF1.15` and let us know whether the issue persists with the newer version or not. Thanks!

[2019-11-19 19:38] bhack commented on #12888
https://lfai.foundation/press-release/2019/11/14/lf-ai-welcomes-onnx/

[2019-11-19 19:39] bhack commented on #12888
Check also https://github.com/onnx/onnx/issues/2190

[2019-11-19 19:39] jdduke commented on #33557
Just to be clear, you should still be able to benchmark this with benchmark_model by adding the `--use_gpu=true` flag. It looks like you're not enabling that in your command-line invocation.

[2019-11-19 19:47] jdduke commented on #34277
Ah, sorry, I didn't notice the output values from your first post.  Can I ask how you're building the C++ API? Are you building it as a shared library then using it in your own app? Does your model work with our [minimal C++ example](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/minimal/BUILD#L11)?

[2019-11-19 20:02] xiang123 opened #34425 "bazel build issue for tensorflow 2.0"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from source
- T

[2019-11-19 20:06] gowthamkpr commented on #34336
@Rassibassi Please go through the answer for this question [here](https://stats.stackexchange.com/questions/327348/how-is-softmax-cross-entropy-with-logits-different-from-softmax-cross-entropy-wi) and it explains the clear difference between `softmax_cross_entropy_with_logits ` and `softmax_cross_entropy_with_logits_v2` and this should give an intuition of why the error is occuring and let me know

[2019-11-19 20:09] jvishnuvardhan commented on #34319
@PedroDKE I tried my laptop (local) and colab and could not reproduce the issue. Can you please share a gist which is throwing the error. Thanks!

Please close the issue if this was already resolved. Thanks!

[2019-11-19 20:09] jipson7 commented on #34396
Exact same error with this model:

https://tfhub.dev/google/universal-sentence-encoder-large/4

[2019-11-19 20:15] jvishnuvardhan commented on #34357
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-11-19 20:27] mikegashler commented on #34235
I am also blocked by this issue. If it helps, here is another repro:
[code]

[2019-11-19 20:32] angerson commented on #34381
Thanks for your report. I'm afraid this falls outside of our official support matrix, especially because the issue appears to be fixed in the `1.12.3` container.

[2019-11-19 20:32] #34381 closed

[2019-11-19 20:37] dbonner commented on #34117
@scentini
I don't know if the build would have been successful with bazel 0.26.1 before [https://github.com/tensorflow/tensorflow/commit/a73d7ace8e3c5a59d2325b95f3b02e225a977ff2](url).  I tested building after the patch with bazel 0.26.1 and it worked.
I am building the r2.1 branch with bazel 0.26.1 at the moment.  It has the same error when you try to build it with bazel 0.27.1.

[2019-11-19 20:51] av8ramit commented on #33798
@gunan removed "Ubuntu CC" from the GitHub setting.

[2019-11-19 20:51] #33798 closed

[2019-11-19 20:53] YINGYINGHU1220 commented on #33693
I have the same issue when training a model on GCP AI-platform.. Did you solve it? Thanks!

[2019-11-19 20:54] burnmg opened #34426 "Error on distributed training " Variable is unhashable if Tensor equality is enabled. Instead, use tensor.experimental_ref() as the key.""
I have this issue when I try to run distributed training with my own custom training loop.

There is something going wrong when calling apply_gradient.

**System information**
Test on Google Colab with GPU TF 2.0

**Code to reproduce the issue**
[code]

**Error Track**
[code]

[2019-11-19 21:11] LaurentBerger commented on #31509
Please this issue is not closed :

[code]

Results

[code]

[2019-11-19 21:13] bmzhao commented on #34117
Hello!

https://github.com/tensorflow/tensorflow/commit/5caa9e83798cb510c9b49acee8a64efdb746207c is now in master. I've manually tested building with it using bazel 1.1, with the following command:

[code]

@dbonner can you confirm if Tensorflow head now builds for you as well?

[2019-11-19 21:17] kmamine commented on #32630
Issue still persists

` ---------------------------------------------------------------------------

ModuleNotFoundError                       Traceback (most recent call last)

<ipython-input-12-4c38243be73f> in <module>()
      3 import numpy as np
      4
----> 5 import tensorflow.image.encode_jpeg
      6 import tensorflow.image.decode_jpeg
      7 import tensorflow.image.adjust_jpeg_quality

[2019-11-19 21:18] LaurentBerger commented on #32817
Same issue with a trivial example :

[code]

Results :

[code]

[2019-11-19 21:18] kmamine commented on #32630
Issue persists

---------------------------------------------------------------------------

ModuleNotFoundError                       Traceback (most recent call last)

<ipython-input-12-4c38243be73f> in <module>()
      3 import numpy as np
      4
----> 5 import tensorflow.image.encode_jpeg
      6 import tensorflow.image.decode_jpeg
      7 import tensorflow.image.adjust_jpeg_quality

ModuleNo

[2019-11-19 21:33] wchargin opened #34427 "Segfaults and SIGABRTs on nightlies since 2019-11-19"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-11-19 21:33] wchargin commented on #34427
cc @mihaimaruseac

[2019-11-19 21:34] kpe commented on #34199
@ravikyram - I update the example and added a colab link for easier reproducibility.

[2019-11-19 21:35] reedwm commented on #34332
I think having an implementation similar to `AutoCastVariable` is the way to go. I agree it would be nice to have a more formalized way to subclass `tf.Variable` but it currently doesn't exist unfortunately.

@alextp, I would still recommend subclassing tf.Variable. I used to subclass Trackable, but I switched to tf.Variable in 74c52531846cc10a63fb244966ab6bfd000af747 as many parts of the code hav

[2019-11-19 21:55] rchao commented on #33030
Thanks for the updates! I verified locally that the memory issue has been mitigated with TF nightly. Can you try `!pip install tf-nightly` and see if it resolved your issue?

[2019-11-19 21:58] chaaland commented on #34103
Hi, any updates on this?

[2019-11-19 22:03] runnableapps commented on #31114
Hello @jdduke, please show me what I need to put in gradle.build to use latest fix

[2019-11-19 22:10] gowthamkpr commented on #33080
@seanpmorgan Any updates on the support to windows. Thanks!

[2019-11-19 22:24] Jingciii commented on #30191
Thanks so much! This saved me.

[2019-11-19 22:32] bas-aarts commented on #34117
@bmzhao, I was able to successfully build TF with bazel 1.1 at 5caa9e83798cb510c9b49acee8a64efdb746207c on Ubuntu 18.04
I do see some failures for windows and mac in the CI, like the ones mentioned by @scentini before.
Does this mean this change could be reverted?

[2019-11-19 22:33] wosiu commented on #31114
@runnableapps
Answer:
[code]
or wait for `2.1` release.

[2019-11-19 22:42] pavithrasv commented on #33825
I was able to reproduce the issue, working on a fix.

[2019-11-19 22:43] gowthamkpr commented on #33597
Closing this issue as it has been inactive for more than 14 days. Please add additional  comments and we can open this issue again. Thanks!

[2019-11-19 22:43] #33597 closed

[2019-11-19 22:44] bmzhao commented on #34117
Hey @bas-aarts,

After double checking with our buildcop, it looks like the current Windows and Mac breakages' root causes are other commits (not https://github.com/tensorflow/tensorflow/commit/5caa9e83798cb510c9b49acee8a64efdb746207c). Therefore, I don't expect this change to be rolled back.

[2019-11-19 22:45] gowthamkpr commented on #33682
Closing this issue as it has been in awaiting response for more than 14 days. Please add additional comments and we can open this issue again. Thanks!

[2019-11-19 22:45] #33682 closed

[2019-11-19 22:46] awav commented on #34379
@alextp , @jvdillon , @kkimdev Thanks everyone for quick responses. Welcome @csutter ;)

[2019-11-19 22:46] gowthamkpr commented on #33717
Closing this issue as it has been inactive from more than 14 days. Please add additional comments and we can open this issue again. Thanks!

[2019-11-19 22:46] #33717 closed

[2019-11-19 22:48] gowthamkpr commented on #33882
Closing this issue as it has been inactive for more than 14 days. Please add additional comments and we can open this issue again. Thanks!

[2019-11-19 22:48] #33882 closed

[2019-11-19 22:49] gowthamkpr commented on #33962
@netw0rkf10w Can you please share the source code?

[2019-11-19 22:50] DEKHTIARJonathan opened #34428 "Multiple public header files are not usable. Dependencies are missing."
Hi,

The following files import header files from path which are not existing:

[code]

This is problematic because the headers can't be imported as the path requested does not exist:
[code]

Problem was caused by this commit: https://github.com/tensorflow/tensorflow/commit/922386b9fcc23596877da3500787a045a861cb52#diff-3146a2ef48234a027b42c52f71bcb177

This issue lead to multiple issues as soon as

[2019-11-19 23:00] reactivetype commented on #31039
@pooyadavoodi Has this issue been fixed? Or is still a problem? How about TF2.0 models or models compiled with TensorRT 6.0?

[2019-11-19 23:42] #34398 closed

[2019-11-19 23:43] lamberta commented on #34398
This is merged and will be updated on the site the next docs push/release.
Thank you, all

[2019-11-19 23:57] gunan commented on #33544
`ERROR: no such package '@local_config_cuda//cuda'`
This suggests you may not have run the configure command before build.
Could you confirm you have performed this step?
https://www.tensorflow.org/install/source_windows#configure_the_build

[2019-11-20 00:06] gunan commented on #30647
Thank you very much for your guide @sitting-duck !
I am happy to accept any changes you propose to make this better into TF.

[2019-11-20 00:06] VitaMusic commented on #33544
Yes I did. I confirm.

ср, 20 Ноя 2019 г., 1:03 Gunhan Gulsoy <notifications@github.com>:

[2019-11-20 00:08] gunan commented on #30552
This is similar to https://github.com/tensorflow/tensorflow/issues/30647
Let me try to see who I can escalate libtensorflow issues, as I am not very experienced with it.