[2020-04-02 12:52] Vatsal-Malaviya opened #38163 "Import fail in Tensorflow"
**System information**
- OS Platform: Windows
- TensorFlow installed from (source or binary):
- TensorFlow version: 2.2.0rc2, Build: pypi_0 , Channel: pypi
- Python version:3.8.2
- Installed using virtualenv? pip? conda?: pip
- CUDA/cuDNN version:10.2
- GPU model and memory: Nvidia GeForce RTX 2060
GPU memory:13.9GB
Dedicated GPU memory:6GB
Shared GPU Memory:7.9GB

I installed TensorFlow in a new

[2020-04-02 13:03] Saduf2019 commented on #38078
i have replicated the issue, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/6de879c5a16c1a0b0a205074b395cd29/38078.ipynb#scrollTo=Qbupa8rr-OPh)

[2020-04-02 13:05] ravikyram commented on #38163
@Vatsal-Malaviya

Please, see [tested builded configurations](https://www.tensorflow.org/install/source_windows#gpu) from here.

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the [latest microsoft visual c++ redistributable](

[2020-04-02 13:10] harshithdwivedi commented on #38158
Nope, doesn't help.
I've gone through these issues already and none of them has a solution to this problem.

P. S. Do note that I'm trying to resize the input to increase the batch size and not the input image size.
Some answers outlined that the image size can't be changed for mobilenet on the fly so that's not what I'm trying to do anyways.

[2020-04-02 13:11] yskale commented on #38134
Thanks @gadagashwini for reply. The details are

![image](https://user-images.githubusercontent.com/14827177/78253107-e227f100-74c1-11ea-9e91-cf5cd42a6e0c.png)

[2020-04-02 13:24] Zethson opened #38164 "Dlerror: libcudnn.so.7: cannot open shared object file: No such file or directory;"
**System information**
- OS Platform and Distribution: nvidia/cuda:10.1-base-ubuntu18.04 docker base
- TensorFlow installed from (source or binary): Custom
- TensorFlow version: 2.2rc2
- Python version: 3.73
- Installed using virtualenv? pip? conda?: pip
- CUDA/cuDNN version: 10.1, 7.x
- GPU model and memory: 1050M

**Describe the problem**
Hi,

I am trying to create my own Docker container for Te

[2020-04-02 13:26] Zethson commented on #38164
Oh, and using one of the already existing Tensorflow docker images is **not** an option for me. And yes, I've read all GPU installation guides for Tensorflow, but they're not helpful regarding my issue.

[2020-04-02 13:28] rychter commented on #23698
In my project I've changed: model.add(keras.layers.Embedding(10000, 16)) to model.add(keras.layers.Embedding(15000, 16)) and it fixed the problem.

[2020-04-02 13:31] amahendrakar commented on #37942
@FunkyGibbon,
Could you please create a new issue from [this](https://github.com/tensorflow/tensorflow/issues/new/choose) link and fill in the template details, so that we can track the issue there? Thanks!

[2020-04-02 14:04] Saduf2019 commented on #37846
@heartraeh
please update on the above comment

[2020-04-02 14:05] Saduf2019 commented on #37868
@colt18
Please update on the above comment

[2020-04-02 14:07] DrKhalid75 commented on #26870
there is no solution
tensorflow and its errors causing that I loss my PhD
fuck

[2020-04-02 14:11] Saduf2019 commented on #37885
@nitbix
i ran the same gist on the latest version of tensorflow and the error does not exist on the latest version of tensorflow, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/722179fab93a1892082c8b743f9f42aa/37885.ipynb)

[2020-04-02 14:12] #37052 closed

[2020-04-02 14:14] Saduf2019 commented on #37913
@yaoyaowd
could you please  update on the above comment

[2020-04-02 14:15] Saduf2019 commented on #37924
@Syaryoh
can you please update as per above comment

[2020-04-02 14:16] aciobanusebi opened #38165 "tf 2 vs tf 1 - different behaviour: model.evaluate(..., batch_size=...)"
Consider the following code (you can run it [here](https://colab.research.google.com/drive/1H04RM9TsFpQf8_8ZbExMkW-jWLzMi7eL) on colab):

[code]

In TF 2: it gives:

**2/2** [==============================] - 0s 1ms/step - loss: **4.7776** - binary_crossentropy: 6.0539
**1/1** [==============================] - 0s 1ms/step - loss: 8.6066 - binary_crossentropy: 8.6066
1/1 [=========================

[2020-04-02 14:25] levyfan commented on #33785
Hi @qlzh727 , please reopen this issue and check the following `ResizeLayer` in tensorflow 1.15. It could run on `keras` even if the `compute_output_shape` function is commented out. But in `tf.keras` the code fails as:

[code]

- use_tf_keras = True: fails
- use_tf_keras = False: works, even `compute_output_shape` not implemented

[code]

[2020-04-02 14:25] Saduf2019 commented on #37460
i have replicated the code shared, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/a23c29bfb3df4256d881f54ed7fbe66a/37460.ipynb#scrollTo=xqR-X3yVQ6wo)

[2020-04-02 14:27] OnlyBelter opened #38166 "how can I pass logits before I fit and predict model?"
Since I need to train a model with multiple labels, I need to use loss function `tf.nn.sigmoid_cross_entropy_with_logits`. This function has two parameters: `logits` and `loss`.
Does parameter `logits`is the value of predicted y? How can I pass this value before I compile model? I cannot predict y before I compile and fit model, right?

This is my code:

[code]

How to calculate `y_pred` even befo

[2020-04-02 14:30] briannemsick commented on #38150
The refactor breaks strike again...

Good luck.

[2020-04-02 14:41] MachineJeff commented on #38101
@amahendrakar,
**tf.split** No it does not work.

[2020-04-02 15:02] Bstrum36 commented on #38141
Thank you for the information

On Wed, Apr 1, 2020 at 8:00 PM Yasir Modak <notifications@github.com> wrote:

[2020-04-02 15:03] jvishnuvardhan commented on #38135
@tripathysa Can you please share simple standalone code to reproduce the issue? The provided `*.h5` file is not sufficient to find root-cause of the issue. If your code is proprietary code then please try to use public data to create a standalone code. Thanks!

[2020-04-02 15:05] mfouesneau opened #38167 "make_csv_dataset ValueError: Received a feature column from TensorFlow v1"
**System information**
- OS Platform and Distribution: Mac Os 10.14.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device:
- TensorFlow installed from (source or
binary): pip install
- TensorFlow version (use command below):  2.1.0 (v2.1.0-rc2-17-ge5bf8de410 2.1.0)
- Python version: 3.6

**Describe the current behavior**

When trying to train a DNNRegress

[2020-04-02 15:15] jvishnuvardhan commented on #31419
@benoitkoenig Can you please check my last response? Thanks!

[2020-04-02 15:17] jvishnuvardhan commented on #36363
@gerwin3 Can you please check my last comment?  Thanks!

[2020-04-02 15:19] jvishnuvardhan commented on #33238
@mahmoodn @jakemdaly Can you please check my last comment? thanks!

[2020-04-02 15:23] jvishnuvardhan commented on #34767
@wkelongws Can you please confirm whether it is resolved for you. Thanks!

[2020-04-02 15:27] gasteigerjo opened #38168 "tf.gather Converting sparse IndexedSlices warning"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from: binary (Anaconda)
- TensorFlow version: 2.1
- Python version: 3.7.7
- CUDA/cuDNN version: 10.1/7.6.5
- GPU model and memory: GeForce 1080 Ti

**Describe the current behavior*

[2020-04-02 15:31] gerwin3 commented on #36363
@jvishnuvardhan

Your solution gets rid of the error message, but does not fix the underlying problem. Old Keras allowed for non-batch dimensions to be unknown (by setting them to `None`), even when using an RNN. The work-around you provided wouldn't really work if, for example, you have a variable dimension that can change in size depending on the input. (Or maybe it would if you were to invoke `

[2020-04-02 15:33] jakemdaly commented on #33238
Thanks jvishnuvardhan
TensorFlow Profiler looks very similar to Visual Profiler, is it using nvprof in the background?
The guide is helpful, but I am still not sure what redzone_checker kernel is

[2020-04-02 15:35] cecabert commented on #36446
I've noticed similar behavior as @ccg1415 with a  pre-trained ResNet, the validation loss skyrocket through the roof

[2020-04-02 15:55] mekhaaa commented on #38145
i am creating tfrecords by running this command:
python generate_tfrecord.py --csv_input=data\train_labels.csv --image_dir=images\train --output_path=train.record
but it didn't work

[2020-04-02 16:00] nitbix commented on #37885
👍 I guess someone must have already fixed this then. I'll keep an eye out for 2.2.0. In the meanwhile, for posterity, a temporary workaround for 2.1.0 is to downgrade pyyaml to <5.1.

[2020-04-02 16:03] tetelestia commented on #22109
I've bumped into this problem a few times.

If it's possible for you to upgrade to TF 2, install the TF 2.2-rc2 and use the new converter. That seems to be the real solution. Performance is better with the new runtime as well.

If that's not a reasonable solution, randomly rearranging any reshaping operations until it works is the only way that has worked for me.

[2020-04-02 16:04] ijalalfrz opened #38169 "Tensor load wrong CUDNN"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 1.15
- Python version: 3.7.6
- Installed using virtualenv? pip? conda?: virtualenv
- Bazel version (if compiling from source):
- GCC/C

[2020-04-02 16:08] yongtang commented on #37217
@Daniel451 The AV1/AVIF image format falls into the scope of [tensorflow/io](https://github.com/tensorflow/io) which consists of images formats beyond default png/jpeg/gif. So AV1/AVIF is more suited in [tensorflow/io](https://github.com/tensorflow/io) package.

I have created an issue https://github.com/tensorflow/io/issues/882 there to track the progress.

[2020-04-02 16:09] ckluk commented on #33238
We can't answer your question regarding nvprof, as it is not developed by the TensorFlow team.
You can try our TensorFlow Profiler (https://www.tensorflow.org/guide/profiler). It is not using nvprof in the background (or more precisely, both TF Profiler and nvprof use the CUPTI library to instrument GPU kernels). Our TF Profiler has a number of tools in addition to the timeline view.

[2020-04-02 16:22] csachs opened #38170 "With .experimental_run_functions_eagerly(True), tf.functions run by Dataset doesn't get eager tensors"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 18.04
- Mobile device: N/A
- TensorFlow installed from: binary
 - TensorFlow version (use command below): 2.1.0 / 2.2.0rc2
- Python version: 3.7.6

The manual suggests switching eager computation on for  `tf.function`s if debugging is desired, via `tf.config.experimental_run_functions_eagerly(True)`. Ho

[2020-04-02 16:23] tripathysa commented on #38135
@jvishnuvardhan : Do you mean sharing train code?

@amahendrakar was already able to reproduce the issue with:
`import tensorflow as tf

model = tf.keras.models.load_model('cnn_multichannel_dense_f0_b0.h5', compile=False)’

[2020-04-02 16:26] tanzhenyu commented on #32799
Ok then it looks like there's been some changes regarding the unified model call path. Re-assigning to @qlzh727

[2020-04-02 16:34] benoitkoenig commented on #31419
Hi @jvishnuvardhan
I updated pip (v20.0.2), ran `pip install tensorflow` which installed version 2.1.0, ran the following code:
`import numpy as np
import tensorflow as tf

print('\n\n\n\n')
print(tf.__version__)
print('\n\n\n\n')

outside_tensor = tf.convert_to_tensor(2)
for i in range(5000):
  print(i)
  array = np.random.random((1024, 1024))
  tf.convert_to_tensor(array, dtype=tf.float32)
print

[2020-04-02 16:40] moshevolo commented on #37622
??????????

[2020-04-02 16:47] tonytonev commented on #36146
@punndcoder28 will you update your fix as per @ethereon's feedback or shall I?

[2020-04-02 16:56] tripathysa commented on #38135
It looks like `config['config']` is expected to be a dictionary here in 2.1 while its a list(https://github.com/tensorflow/tensorflow/blob/r2.1/tensorflow/python/keras/utils/generic_utils.py#L252) but in 2.0. no such assumed deserialization happens as I see it.

[2020-04-02 17:05] cecilr14 commented on #36553
@vivien624, I am having the same issue. How did you resolve it? Thanks!

[2020-04-02 17:08] csachs commented on #33759
The mentioned issue ( https://github.com/Sujit-O/pykg2vec/issues/123 ) hinted me at the function [`tf.config.experimental_run_functions_eagerly(run_eagerly)`](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/config/experimental_run_functions_eagerly), which looks like the ideal solution. However it does not seem to work completely as advertised, cf. https://github.com/tensorflow/tensorf

[2020-04-02 17:14] vnvo2409 commented on #19297
Good news every one. I have made `s3` worked on Windows. I have to add to this rule `deps`
[code]
https://github.com/tensorflow/tensorflow/blob/907a55ebadce3c78bef73148613b327ed84d92e4/tensorflow/python/BUILD#L6070-L6081
<img width="560" alt="image" src="https://user-images.githubusercontent.com/17511625/78277615-00800200-753f-11ea-9b19-0e740a73ae40.png">

@mihaimaruseac Now I will make one PR for

[2020-04-02 17:18] qlzh727 commented on #33785
@levyfan, the issue is caused by the line:
crop_size = (nhwc[1], nhwc[2])

Note that nhwc is a tensor and its slice will not have the value when feed as crop_size, and it cause the resize shape to be [None, None, None, 3], rather than [None, 8, 4, 3].

If you replace the line with below, which use image's static size, then it will correctly propagate the static shape to the resize.
crop_size = ima

[2020-04-02 17:30] nouiz opened #38171 "[REGRESSION] Bazel build failure"
commit 2082d706a5ed3bbe07706cfb694b431b2fe50f89 included 2 days ago in #34218 break bazel tests:

[code]

I cannot just comment the offending line: `cuda_defines["%{linker_bin_path}"] = ""` as elsewhere it expect it to be present. But if I set the old value "host_compiler_prefix", it fix my problems.

Can we just revert this commit until a good version is available?

I tried with bazel 2.0.0 and 2

[2020-04-02 17:31] suharshs commented on #37544
This is a known issue with the uint8 kernel. The int8 version of this op (the tflite recommend official quantized kernel) does not have the rescale in the op, and is purely integer.

What is your use case where the rescaling concatenation is causing an issue with the uint8 kernel. (note we are working on making all conversion of quantization-aware-training also output only the int8 kernels, so tha

[2020-04-02 17:35] mihaimaruseac commented on #19297
This addition works, but it has a downside. Now the filesystem is linked always on Windows, even for users who might not want to use S3.

Preferably we should provide a `tf_cc_shared_object` rule to build the DLL of the S3 filesystem on Windows (and an `.so` on POSIX) and then in Python we should use `load_library` to load the plugin on demand.

[2020-04-02 17:37] mihaimaruseac commented on #38084
I think you can try building only that `py_binary`, instead of the entire pip package. But since we never ran debug builds on Python, that might also fail. In which case, TFDBG and printf-style debugging could be the only alternatives.

[2020-04-02 17:37] jdduke commented on #37742
Can you try with the latest TF nightly build? Or TF 2.2? IdentityN should be supported now.

[2020-04-02 17:42] bmc2-stripe commented on #38143
@khimraj Thank you for the reply!

Your snippet does work to serialize the model, but unfortunately compilation seems necessary to actually train the combined model. Note that in both examples in the WideDeepModel documentation, the combined model is compiled with two optimizers:
https://www.tensorflow.org/api_docs/python/tf/keras/experimental/WideDeepModel

Additionally, if I remove the compilati

[2020-04-02 17:46] mihaimaruseac commented on #26870
@DrKhalid75 there is a solution, simple search through the duplicates of this (since everyone encountering this just creates a duplicate) would have shown you that there are 4 likely causes of this error:

1. You need to install the MSVC 2019 redistributable. This is exactly the comment above your comment
2. Your CPU does not support AVX2 instructions. Here, you can build from source.
3. Your CPU/

[2020-04-02 17:54] Saduf2019 commented on #38103
please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/37b047e54f8caa63fb8064e8f11b9f33/untitled122.ipynb)

[2020-04-02 17:56] pavithrasv commented on #38060
@shinlin77 Will you be able to try this in the latest version of TF? We have made a number of changes to sample weights behavior and we have very few restrictions on sample weights today.
In TF2.2 you are not required to specify `sample_weight_mode` in compile API.

Closing this issue as the use case is expected to work in TF2.0. Please feel free to ping or reopen if you are facing any issues.

[2020-04-02 17:56] #38060 closed

[2020-04-02 17:58] Saduf2019 commented on #37885
@nitbix
please confirm if we may move this issue to closed status

[2020-04-02 18:02] zaccharieramzi opened #38172 "fftshift is failing for negative axes"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.1.0
- Python version: 3.6.8

**Describe the current behavior**
When using the `fftshift` op, I would

[2020-04-02 18:19] mihaimaruseac commented on #38163
Please don't post screenshots of errors but post the error directly. This way, the errorsare easily searchable and automated triage tools can function properly.

[2020-04-02 18:21] mihaimaruseac commented on #38163
Also, can you post the output of `pip list` from *the same environment* as that used by the IDE?

[2020-04-02 18:23] saheelb commented on #35341
Whenever I imported these always the same issue
import os
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
from keras.models import Sequential
from keras.optimizers import Adam
from keras.layers import Convolution2D,Dense,MaxPooling2D,Dropout,Flatten
import cv2
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
import pandas as

[2020-04-02 18:24] DrKhalid75 commented on #26870
1. I downloaded MSVC 2019 redistributable and no way
2. My CPU is Intel (R) Core (TM) i5 CPU   M450 @ 2.4 GHz
3. My CPU / Python 64 bit , Python 2.1
4. I formatted my PC and reinstalled it and no way
.
The problem here I'm in Arabian university, the rule is you choose your point of research and work with yourself, solve any problems with yourself, we haven't any support for you, we want publicatio

[2020-04-02 18:25] mihaimaruseac commented on #17411
Yes, if your CPU does not support AVX (the likely cause for `Illegal instruction (core dumped)` error) then you need to compile from source. This causes the code to be generated without AVX instructions and then you can use it.

Furthermore, this guarantees that the pip is built with the highest optimization level available to your platform, so you might actually see some speedup compared to using

[2020-04-02 18:26] mihaimaruseac commented on #38122
`pip install --upgrade pip` and then when you do `pip install` you should see the other versions

[2020-04-02 18:29] DocDriven commented on #38077
@freedomtan Thanks, that did the trick for me. I do not need AWS, so after using `--config noaws` in the build command, the build succeeded.

Issue is resolved.

[2020-04-02 18:29] #38077 closed

[2020-04-02 18:29] mihaimaruseac commented on #38059
The main issue is that the API surface of TensorFlow is extremely large at the moment, making documenting "Available Since" hard. While doable, we need to prioritize other work.

On the other work, modularization can help with this as every module could then start adding "available since" fields as needed.

[2020-04-02 18:33] jvishnuvardhan commented on #27298
@zzh8829 I think this was resolved in recent `tf-nightly`. I could not reproduce with `tf-nightly`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/1ece1f2942cfb0aadbd5a72e693e867d/untitled56.ipynb) is the colab gist for your reference.

Please verify once and if this was resolved for you then close the issue. Thanks!

[2020-04-02 18:35] mihaimaruseac commented on #26870
The CPU does not support AVX. Please try compiling from source.

If that still does not work, you can always use [Google Colab](https://colab.research.google.com) It is guaranteed that TensorFlow works there

[2020-04-02 18:36] fingerblister opened #38173 "tf.nn.bias_add does not work right after tf.map_fn"
tf-nightly-gpu 2.2.0.dev20200402
Ubuntu 18.04.4 LTS

Bug:
File ".../anaconda3/envs/tf-nightly-gpu/lib/python3.7/site-packages/tensorflow/python/ops/gen_nn_ops.py", line 672, in bias_add
    tld.op_callbacks, value, bias, "data_format", data_format)
tensorflow.python.eager.core._FallbackException: This function does not handle the case of the path where all inputs are not already EagerTensors.

Dur

[2020-04-02 18:37] eScribMac opened #38174 "TF looking for CUDA 10.1"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 (Latest Update)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip
- TensorFlow version: 2.2.0rc2
- Python version:  Python 3.8.2
- Installed using virtualenv? pip? conda?: venv + pip + conda
- Bazel version (i

[2020-04-02 18:38] tomerk commented on #35107
Hi @CNOCycle, really sorry about the delay! I've finally had a chance to take a look at this.

As far as I can tell, it's actually totally unrelated from the other referenced issues (about which layers are passed to keras applications). Instead, it seems like internal changes we've made to the implementation of learning_phase over time may have broken some usages of learning phase when constructin

[2020-04-02 18:38] pavithrasv commented on #38150
@ageron This was an intended change which was part of a refactor as @briannemsick mentioned. I have updated the docs for metrics in https://github.com/tensorflow/tensorflow/commit/a822fa93da3f8e2484df2d030ddbef24b06cbe07

Model loss and output losses are now tracked as part of metrics. Earlier metrics_names included model loss and output losses but the metrics property did not. Now they are consis

[2020-04-02 18:38] #38150 closed

[2020-04-02 18:39] tomerk commented on #35107
(Closing because we don't have the bandwidth to fix this)

[2020-04-02 18:39] #35107 closed

[2020-04-02 18:41] goldiegadde commented on #38042
@marcoadurno thanks for reporting, we are looking into this, and will address it for the next release candidate.

[2020-04-02 19:10] shinlin77 commented on #38060
OK, lemme give it a shot. I’ll let you know how it goes. Shin Sent from Mail for Windows 10 From: Pavithra VijaySent: Thursday, April 2, 2020 10:57 AMTo: tensorflow/tensorflowCc: shinlin77; MentionSubject: Re: [tensorflow/tensorflow] pixelwise-loss-weight map (#38060) @shinlin77 Will you be able to try this in the latest version of TF? We have made a number of changes to sample weights behavior an

[2020-04-02 19:15] lutzgruber commented on #38056
Below is Python code to reproduce the issue:

- With tensorflow 1.15.0, the code works as posted.
- With tensorflow 2.1.0, the call to `model.fit` fails unless the option `experimental_run_tf_function=False` is set in `model.compile`.

The error is

[code]

This is a demo case to estimate a model with a binomial likelihood/loss function, which requires that information on the number of trials is p

[2020-04-02 19:29] jvishnuvardhan commented on #37568
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2020-04-02 19:29] #37568 closed

[2020-04-02 19:34] zaccharieramzi commented on #34025
I am also getting this error on a classical functional model without `tf.function` and variable-length inputs in a for loop using `predict`. This happens only in tf 2.2.0rc2, and as soon as I switch back to tf 2.1 the problem disappears.

[2020-04-02 19:36] 1lol commented on #36553
See this issue: https://github.com/tensorflow/tensorflow/issues/28796
and it was  resolved by https://github.com/tensorflow/tensorflow/commit/3c245f52912612ed9d8e20245ddb5de055680969

[2020-04-02 19:40] ymodak commented on #37266
This is fixed with tf-nightly version '2.2.0-dev20200402'. Thanks!

[2020-04-02 19:43] vivien624 commented on #36553
See this issue: #28796
<https://github.com/tensorflow/tensorflow/issues/28796>
The comment from Tayseer-bme <https://github.com/Tayseer-bme> gives
solution:
https://github.com/tensorflow/tensorflow/issues/28796#issuecomment-496881881
and it was resolved by 3c245f5
<https://github.com/tensorflow/tensorflow/commit/3c245f52912612ed9d8e20245ddb5de055680969>

cecilr14 <notifications@github.com> 于2020年4

[2020-04-02 19:49] dmadisetti commented on #38147
This might be more of using "tensorflow as a bazel dep" than a bazel version problem. I just tried building my project with the following commands:

`env USE_BAZEL_VERSION=2.0.0 ~/go/bin/bazelisk test --experimental_repo_remote_exec repo/cc:all repo/python:all`
`env USE_BAZEL_VERSION=2.1.0 ~/go/bin/bazelisk test --experimental_repo_remote_exec repo/cc:all repo/python:all`

To the same result. I be

[2020-04-02 19:50] ymodak commented on #28782
Closing this issue since it's resolved. Feel free to reopen if still have problems. Thanks!

[2020-04-02 19:50] #28782 closed

[2020-04-02 19:54] gowthamkpr commented on #38105
@rakeshmothukuru1 Keras tuner is a separate package that is not integrated in tensorflow but we can use it by installing and importing it. So, that might be the reason why its not included in tensorflow.org

[2020-04-02 20:22] nitbix commented on #37885
Yup, I'll reopen it if it recurs in the future. Thanks.

On Thu, 2 Apr 2020 at 18:58, Saduf2019 <notifications@github.com> wrote:

--
  Alan

[2020-04-02 21:30] srjoglekar246 commented on #37951
hey @Sicongzai, I see that you have used the 2014 images with 2017 instances. That won't work, since the annotations don't correspond to the images in the folder. Try using the [2014 set](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/evaluation/tasks/coco_object_detection#preprocessing-the-minival-dataset) files if it works, or 2017 versions of both images & annotation

[2020-04-02 21:44] tonytonev commented on #36146
@ethereon I'm not clear on what the desired behavior would be that you would consider a "fix"? Is it a more clear error message on the exception that says something like "Map must have a (key, value) constructor" instead of "TypeError: __init__() takes 1 positional argument but 2 were given"?

[2020-04-02 21:50] karimnosseir commented on #38104
For accuracy reasons, we don't quantize tensors smaller than 1024.

[2020-04-02 21:50] karimnosseir commented on #38104
I am closing please reopen, if you have issues or questions (or create new issue)

Thanks

[2020-04-02 21:50] #38104 closed

[2020-04-02 21:56] karimnosseir commented on #38036
As the error message shows, your model has dynamic shapes and the GPU delegate doesn't support this.
You will need to fully specify the input shape (Static sizes) during conversion, and then the model can be used with gpu delegate.

[2020-04-02 21:58] jvishnuvardhan commented on #37575
@chris-clem This was resolved with `tf-nightly` even for TPU. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/93e24a5043b797e0f47b641b5ead2723/keras-class-weight-tpu.ipynb). Thanks

Please verify it and close the issue if this was resolved for you. Thanks!

[2020-04-02 22:09] #36979 closed

[2020-04-02 22:11] jvishnuvardhan commented on #33869
@aefuimn Can you please check whether this was resolved for you. Thanks!

[2020-04-02 22:12] ybagdasa commented on #35860
This worked for me and now the profile page of tensorboard is finally showing some output! Thanks @dartlune

[2020-04-02 22:26] abattery commented on #38025
I can reproduce the problem in my side as well. Will take a look for finding a root cause.

[2020-04-02 22:33] jvishnuvardhan commented on #36256
@cianciosa I cannot reproduce the error when I ran your code with recent `tf-nightly`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/2da0fa8376324480ef1b7abea655b48e/untitled61.ipynb) is the gist for your reference. Thanks!

Please close the issue if this was resolved for you. Thanks!

[2020-04-02 22:56] KoykL commented on #37883
I don't have the environment to reproduce the issue with me. Closed for now. Sorry for that.

[2020-04-02 22:56] #37883 closed

[2020-04-02 23:20] gowthamkpr commented on #36619
@zayedrais As per saving the train data, you cannot save it as there is no graph associated with it.
and that is the reason why `tf.saved_model.save(traindata,'/tmp/tfhub_modules')` throws an error.

Also looking at this code
[code]
`exported.v` comes from a different graph and hence the ValueError.
`ValueError: Tensor("Variable_4:0", shape=(3, 512), dtype=float32_ref) must be from the same graph

[2020-04-02 23:22] ymodak commented on #29661
This is fixed with tf-nightly version '2.2.0-dev20200402'. Thanks!
[code]

[2020-04-02 23:29] gowthamkpr commented on #36600
Can you try it with tensorflow 2.2.0rc1 and let me know if the issue still persists. I tried to reproduce it on ubuntu 18.04 and am not running into any error.

[2020-04-02 23:29] yifeif commented on #36634
@chaaland  afaik, currently TensorFlow runtime only creates a single compute stream per GPU device. Thought this might change in the future runtime, but I don't think anytime soon. cc: @iganichev

[2020-04-03 00:16] iganichev commented on #36634
@yifeif is right. TensorFlow design today is fairly tied to the "there is a single compute stream" assumption. This is usually not a problem because CUDA kernels tend to operate on large enough pieces of data and utilize the whole GPU. Your use case will benefit from parallelism only if your data is too small. In this case, if this op is not a major part of the computation (e.g. done in a tight lo

[2020-04-03 00:22] byronyi commented on #38153
This should be fixed by 8434a67458fe52ffb9f978960bc81e2396ad76d3. Thanks!

[2020-04-03 00:22] #38153 closed

[2020-04-03 00:32] shun-lin commented on #34975
fixed :)

[2020-04-03 00:32] #34975 closed

[2020-04-03 00:37] sanjoy commented on #38171
I'm missing something, isn't the commit/PR back from Nov 2019?

CC @mihaimaruseac

[2020-04-03 00:44] mchenx commented on #33618
yeah ~ above comment seems to be the reason to the issue

[2020-04-03 01:14] #37542 closed

[2020-04-03 01:25] tensorflowbutler commented on #35875
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-03 01:54] levyfan commented on #33785
Thanks, that works!

[2020-04-03 01:56] cianciosa commented on #36256
Verified it's fixed via tf_nightly-2.2.0.dev20200402.

[2020-04-03 01:56] #36256 closed

[2020-04-03 02:10] nouiz commented on #38171
The commit is very old, but it got merged 2 days ago.

[2020-04-03 02:17] SungmanHong commented on #36426
how to roll back cuda 10.1.?

[2020-04-03 02:20] rambail commented on #38122
I was not using pip but pip3 as I didn't want python2.7 files in my system.  ```pip install --upgrade pip``` and ```pip install --upgrade tensorflow``` installs tensorflow.2.1 in the site-packages folder of python2.7. But ```pip3 install --upgrade pip``` and followed by ```pip3 install --upgrade tensorflow``` upgrades the package in python3.7 folders. Thanks for the hint

[2020-04-03 02:23] sanjoy commented on #38171
I see.  Then we should probably revert this commit.

@mihaimaruseac @gunan WDYT?

[2020-04-03 02:36] TrentHouliston commented on #37620
Hi @ravikyram, Sorry the covid19 has slowed me down a bit. I'll try to provide a mwe today or tomorrow.

[2020-04-03 02:43] nbwuzhe commented on #36111
No need to restart PC. Just re-launch cmd.exe or PowerShell will apply the new Env Variables.

[2020-04-03 02:54] MrZoloft opened #38180 "example person_detection_test can not make form source code of tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2020-04-03 03:15] punndcoder28 commented on #36146
I will get on it today and try to fix. If I am unable to do so, you could take over.

Sent from my iPhone

[2020-04-03 03:24] MachineJeff commented on #38101
@amahendrakar
I have done it using tf.while_loop()
Thanks.

[2020-04-03 03:25] #38101 closed

[2020-04-03 03:30] freedomtan commented on #38077
@DocDriven glad it helped

[2020-04-03 03:34] ninjakx opened #38181 "UnimplementedError: Cast string to float is not supported [[{{node Cast_4}}]]"
I don't know why I am getting error for steps_per_epoch. I tried to give values in integer directly but still not working.

**Traceback:**

`---------------------------------------------------------------------------
UnimplementedError                        Traceback (most recent call last)
<ipython-input-57-941407f460bb> in <module>
      5     epochs=EPOCHS,
      6     callbacks=[lr_callback],

[2020-04-03 03:40] adriancaruana commented on #29590
@gargn

I've tried this in `2.2.0-rc2` with a keras model and I'm having issues also. Minimal repro:
[code]
Output:
[code]

[2020-04-03 03:57] khimraj commented on #38143
@bmc2-stripe, Yes you are correct. As given in WideDeepModel documentation, the combined model is compiled with two optimizers. I have tried to save model using `save_weights` and i have successfully saved it. For your reference link of gist is [here](https://gist.github.com/khimraj/63b9e4a7951647e1fde922b5b31b8495).

[2020-04-03 04:00] whyseu opened #38182 "bulid tensorflow failed"
I follow the instrctons in the "https://tensorflow.google.cn/federated/install".
(1)Install TensorFlow Federated using pip: When I run the command "python -c "import tensorflow_federated as tff; print(tff.federated_computation(lambda: 'Hello World')())"" , there is a SyntaxError: invalid syntax os
(2)Using Docker: When I run the command "docker build .  --tag tensorflow_federated", it always fails

[2020-04-03 04:08] yiakwy-enterprise-roborock opened #38183 "[PROPOSAL] Go back to cmake and drop support to bazel -- a real memory and time abusing toolkit for building medium size projects"
## Motivation

If we build tensorflow using camke, I guess only 1~2 hours is enough for the first trial considering the current project size. However when we switch to bazel huge memory and time will be consumed.

Bazel by defaults will creates huge number of jobs (you can control by --jobs) and each job consumes nearly 10 GB memory. Besize, a lot of non-binary dependencies downloaded using "git",

[2020-04-03 04:23] wrongtest opened #38184 "Error on confliction between custom op argument name and python builtin name"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Linux
- TensorFlow installed from: binary
- TensorFlow version: 1.13.1
- Python version: 3.6

**Describe the current behavior**
If we define custom op as
[code]
And invoke in python as
[code]
The error raises `TypeError: isinstance() arg 2 must be a type or tuple of types`

**Other info / logs**
Refer to https

[2020-04-03 04:26] duncanriach opened #38185 "Add GPU-deterministic back-prop for fused softmax/cross-entropy ops"
**SYSTEM INFORMATION**

- TensorFlow version (you are using): `2.2.0-rc2`
- Are you willing to contribute it: Yes (please assign it to me)

**CURRENT BEHAVIOR**

The back-prop of `tf.nn.softmax_cross_entropy_with_logits` and `tf.nn.sparse_softmax_cross_entropy_with_logits` is non-deterministic on GPUs.

**WILL THIS CHANGE THE CURRENT API?**

No. Assuming the deterministic back-prop kernels are slo

[2020-04-03 04:30] Jackerho commented on #37262
INFO:tensorflow:Saver not created because there are no variables in the graph to restore
I don`t know why? who can tell me where the problem has been occurred..Thanks

[2020-04-03 04:43] Saduf2019 commented on #37885
Moving this to closed status with user confirmation

[2020-04-03 04:44] #37885 closed

[2020-04-03 05:00] mdautrey commented on #37776
It works! Thank you
Should the documentation be updated accordingly ? (https://www.tensorflow.org/api_docs/python/tf/compat/v1/summary/FileWriter )

[2020-04-03 05:00] #37776 closed

[2020-04-03 05:04] wangweitong commented on #37945
https://github.com/wangweitong/tensorflow_demo/blob/master/Model/DeepFM_TensorFlow.py

It's the code ,you can clone it and run DeepFM_TensorFlow.py ,I don't know how to save the model,
somebody help me please

[2020-04-03 05:10] diggee commented on #37942
Hi, I have this issue since yesterday. Before that, everything was working fine. I have not updated either the tensorflow version or the gpu driver or anything else for that matter in the last couple of days. This issue suddenly appeared just yesterday on its own. Below is my model,

[code]

I am pretty sure I am not running out of memory as previously I have trained even bigger models (~20M param

[2020-04-03 05:14] Saduf2019 commented on #38165
please find the gist for [tf nightly](https://colab.sandbox.google.com/gist/Saduf2019/107819b6a366ec2054ba831e49805406/2tf.ipynb) and [tf 1.x](https://colab.sandbox.google.com/gist/Saduf2019/ac58dbfe93c0dc4c8d9dc96ff9d313ee/1.ipynb), could you please let us know what is not computed correctly.

[2020-04-03 05:39] Yablon commented on #33844
@pandrey-fr @faroit Sorry for a so late reply. I thought the request made me feel myself stupid and I closed it. I thought people skilled at writing codes might write the callback things easily. And I thought maybe I could turn to tf2 later...
At last, I hope callbacks can be used in self-defined training loops in the future. If we can't, maybe there is a better choice.
Thank you! Hope you be safe

[2020-04-03 05:42] rogeroyer commented on #7072
May be the version of tensorflow_gpu is incorrect.

[2020-04-03 05:59] Jeff-Zhu commented on #37910
I found that the problem is caused by an array overrun of the layer operation data. Tensorflow microlite has a hidden limit (or I missed document, at least TF microlite runtime does not check) on output channels to maximum *256* in the OpData structure of [conv.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/micro/kernels/conv.cc) for TF micro lite.
[code]
The mobilenet mo

[2020-04-03 06:01] Saduf2019 commented on #38169
@ijalalfrz
Can you please check with cuda 10 and cudnn 7.4, and let us know if that helps resolve your issue.
is there any specific reason for using 1.15 version and not a later updated version of tensorflow

#35376 #23715

[2020-04-03 06:10] nihil0 commented on #38054
Here is what I did:

I ran the following code in a `tensorflow/tensorflow:nightly` container. TF version was `2.2.0-dev20200402`

[code]
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.6/dist-packages/tensorflow/python/lib/io/file_io.py", line 761, in stat_v2
    return _pywrap_file_io.Stat(path)
tensorflow.python.framework.errors_impl.NotFou

[2020-04-03 06:20] amahendrakar commented on #38167
@mfouesneau,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also a sample of the csv file you are using. Thanks!

[2020-04-03 06:26] gadagashwini commented on #38172
I could replicate the issue with Tf 2.1.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/e8c8b2522f2b3c5839880fdf65247537/38172.ipynb). Thanks!

[2020-04-03 06:41] Saduf2019 commented on #38062
@kalaluthien
i ran the above code shared by you, please find [gist here](https://colab.sandbox.google.com/gist/Saduf2019/4fd48325f5575fe79bdccf01402cbddf/untitled123.ipynb), if possible please share a colab gist so we could analyse your issue

[2020-04-03 06:44] gadagashwini commented on #38180
@MrZoloft, Can you Provide the exact sequence of commands or standalone code that you executed before running into the problem and also share the Tensorflow version. Thanks

[2020-04-03 06:58] Saduf2019 commented on #37945
@wangweitong
please refer to this link for [save and load](https://www.tensorflow.org/tutorials/keras/save_and_load)

[2020-04-03 06:59] amahendrakar commented on #38170
Was able to reproduce the issue with [TF v2.2.0-rc2](https://colab.research.google.com/gist/amahendrakar/03bf4471653ba67f0387aebd9469f68a/38170-2-2.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/f7a7583cf73c4500517d2bea2feddf94/38170-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-04-03 07:03] chaaland commented on #36634
@iganichev  Sounds like fusing the Op's backprop functor is the most straightforward approach. I was under the impression this would provide a perf benefit since as the thread blocks computing dX finish, threadblocks for dY could be scheduled. In my current implementation, _all_ of the thread blocks for dX must finish before any work on dY can be done. Will just have to test and see if it makes an

[2020-04-03 07:03] #36634 closed

[2020-04-03 07:06] amahendrakar commented on #38173
@fingerblister,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-04-03 07:07] aciobanusebi commented on #38165
Yes. As far as I see the outputs are the same as in my first post. The difference I found is in bold: 4.7776  vs 6.0539.

[2020-04-03 07:12] ravikyram commented on #37969
I have tried to reproduce the issue in colab  but it is taking forever to run. Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/87e63e3218b52873242f3e837951a910/untitled761.ipynb) Thanks!

[2020-04-03 07:13] amahendrakar commented on #38181
@ninjakx,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-04-03 07:20] ravikyram commented on #38174
@eScribMac

Can you downgrade to CUDA 10.1 and check whether the issue still persists.Please, follow the guidelines from [here](https://www.tensorflow.org/install/gpu#windows_setup).Please, let us know if the problem still persists. Thanks!

[2020-04-03 07:20] fzyzcjy commented on #34690
It still does not work in tf 2.1...

[2020-04-03 07:36] DucLong06 opened #38187 "No module named 'tensorflow.keras'"
i use :
win10 os
anaconda 3(python 3.6)
tensorflow 1.5.0
keras 2.1.6
i run
import tensorflow as tf
from tensorflow.keras.layers import Conv2D, BatchNormalization, ReLU, SeparableConv2D
i have error :
    from tensorflow.keras.layers import Conv2D, BatchNormalization, ReLU, SeparableConv2D
ModuleNotFoundError: No module named 'tensorflow.keras'

[2020-04-03 07:57] gadagashwini commented on #38155
@luke-mao, Keras functional model allows to input in batch size. Set the batch size accordingly. Please refer the Tensorflow [documentation](https://www.tensorflow.org/api_docs/python/tf/keras/Model?version=nightly#predict) for more. Thanks!

[2020-04-03 08:01] weinixuehao opened #38188 "tflite ssbo buffer dump"
I`m using tflite gpu ssbo way to inference but the output is not the same as without ssbo
I have referenced this example
https://github.com/gnsmrky/tensorflow-lite-ssbo.git
So I want to inpect the input with ssbo is or not same as the input without ssbo but have no idea how to get ssbo content to evaluate ?

The way to get input without ssbo
![image](https://user-images.githubusercontent.com/17869

[2020-04-03 08:04] luke-mao commented on #38155
That's wonderful. Thank you a lot. Now my model is up and running!! Thank you for the help.

[2020-04-03 08:04] #38155 closed

[2020-04-03 08:05] ijalalfrz commented on #38169
because some code of the repo using tensorflow under 2.0 which is some codes are deprecated, i will try to install cudnn 7.4

[2020-04-03 08:09] saikumarchalla commented on #36499
@brian36  Closing this issue as this is the expected behavior. Thanks!

[2020-04-03 08:09] #36499 closed

[2020-04-03 08:21] gadagashwini commented on #38166
@OnlyBelter, Can you share the full standalone code and also the Tensorflow version which you are using. Thanks

[2020-04-03 08:25] ijalalfrz commented on #38169
@Saduf2019
I'am still getting same error after install CUDNN 7.4.2

i don't know why tensor always pointing to cudnn 7.5.1, i just install single CUDA 10 in my drive, is there any step to check if there are 2 CUDAs

[2020-04-03 08:27] saikumarchalla commented on #34739
@DuyguA Closing as duplicate.
#33230

[2020-04-03 08:27] #34739 closed

[2020-04-03 08:34] wujiexiaowugui opened #38189 "request to add DepthToSpace Spilt and conv2d_transpose operation in post training quantization(full integer quantization))"
****System information****
-  Linux Ubuntu 16.04:
- TensorFlow installed from binary:
- TensorFlow version 1.15.0:

**Provide the text output from tflite_convert**

[code]

[2020-04-03 08:40] saikumarchalla commented on #31894
@ akloss Closing this issue as it was resolved in TF  version 2. Thanks!

[2020-04-03 08:40] #31894 closed

[2020-04-03 08:43] MrZoloft commented on #38180
@gadagashwini  hello , i just git clone the latest tensorflow source code base on master branch
Then  commad fellow：
make -f tensorflow/lite/micro/tools/make/Makefile
make -f tensorflow/lite/micro/tools/make/Makefile test_person_detection_test
just like what has been written on tensorflow/lite/micro/person_detection -- READEME.MD .
my machine is ubuntu 16.04
whether should i install bazel firstly?

[2020-04-03 08:45] saikumarchalla commented on #34264
@shartoo  Closing this issue as it is the intended behaviour.Thanks!

[2020-04-03 08:45] #34264 closed

[2020-04-03 08:47] Lathashree01 commented on #33285
@DRTorresRuiz  worked, helped with finding the location

[2020-04-03 08:51] saikumarchalla commented on #35102
@bmc2-stripe Closing as duplicate.Can you please take a look at this [issue](https://github.com/pytorch/pytorch/pull/22628).Thanks!

[2020-04-03 08:55] ravikyram commented on #38187
@DucLong06
TF 1.5.0 version is very old. Please, upgrade to latest TF versions `1.15,  2.X( 2.0, 2.1.0, 2.2rc1) `and you will not have any issues with these versions.Thanks!

[2020-04-03 08:59] Zethson commented on #38164
Added

[code]

And now get:

[code]

I need to somehow update the Nvidia drivers maybe? I cannot reboot however in a Docker container...

[2020-04-03 09:06] saikumarchalla commented on #32799
@nikhil-mathew-td  Closing this issue as it is fixed in latest TF-nightly version.Thanks!

[2020-04-03 09:08] crystina-z opened #38190 "RPC failed when using TPU"
I have no idea how this error is triggered, so far it happens more than 10 times to me in the past 2 weeks, sometimes it works by just restart the node or wait for another day. But it seems not the case this time.

Below is the full message (it can repeat forever and the process won't terminate)
[code]
And besides these lines, there is no other error or exception message. I've also checked all the

[2020-04-03 09:09] saikumarchalla commented on #31638
@mpdn Closing this issue as it is fixed in TF 2.x. Thanks!

[2020-04-03 09:09] #31638 closed

[2020-04-03 09:13] saikumarchalla commented on #31174
@peastman Closing this issue as it is the intended behaviour.Thanks!

[2020-04-03 09:13] #31174 closed

[2020-04-03 09:34] OnlyBelter commented on #38166
[code]
It's a simple code fragment, I just don't know how to pass `logits`. I searched some examples, all of them need to construct a custom class to wrap loss function. such as this one: https://tensorflow.google.cn/tutorials/generative/cvae

[2020-04-03 10:06] kalaluthien commented on #38062
Oh,, it was fixed few hours ago: https://github.com/tensorflow/tensorflow/commit/46055ea64aaf9cdfaf0c218a109770cd851eeb8a

I'll close this issue. Thanks!

[2020-04-03 10:06] #38062 closed

[2020-04-03 10:07] gadagashwini commented on #38189
@wujiexiaowugui, Could you share the standalone code to reproduce the reported issue. Thanks!

[2020-04-03 10:23] anneserious commented on #38165
I have a similar isseu and would really be interested in the solution.
The validation loss should in general be independent of the batch size/order of data within batches, as long as it is evaluated on the entire dataset, right?

[2020-04-03 10:25] Duskfen commented on #7375
Same issue with tensorboard 2.1.0, Win 10, Python 3.7, tensorflow: 2.1, keras:2.3.1

[2020-04-03 10:28] gadagashwini commented on #33193
@Rendok, This issue is fixed in Tf2.2rc2, Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/4e36bcd6d355ca7853d94e8e77b11a8f/33193.ipynb). Thanks

[2020-04-03 10:28] imtoba commented on #38062
Hey, The same error is still being encountered in Colab with the official notebook provided here : [https://www.tensorflow.org/lite/performance/post_training_integer_quant](url) . I'm attaching the screenshot of the error.
![Screenshot from 2020-04-03 15-57-53](https://user-images.githubusercontent.com/28225784/78351125-f3592680-75c3-11ea-9425-c8e6f2a483c0.png)

[2020-04-03 10:34] jenishah opened #38191 "Error while passing initial_state to Bidirectional LSTM"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  yes
- OS Plat

[2020-04-03 10:47] ravikyram commented on #38056
I have tried on colab with TF version 2.0 , 2.1,'2.2.0-rc2' and was able to reproduce the issue.PLease, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/d2390bb0ba9663172de91109057bcfec/untitled763.ipynb#scrollTo=1PWWBxaUnbtf). Thanks!

[2020-04-03 10:48] wujiexiaowugui commented on #38189
import tensorflow.compat.v1 as tf
#Eager Mode is essential!
tf.enable_eager_execution()

import sys
import glob
if sys.version_info.major >= 3:
    import pathlib
else:
    import pathlib2 as pathlib
import random
import cv2
import numpy as np

tf.logging.set_verbosity(tf.logging.DEBUG)
pb_file='model.pb'
input_arrays=['net_input']
output_arrays=['net_output']
input_shapes=[1, 128, 128, 3]

sample

[2020-04-03 10:49] rajveershringi commented on #36661
System information:
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Tiny modification to existing minimal.cc file
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
TensorFlow installed from (source or binary): source
TensorFlow version (use command below): not sure how to get this via c++, I cloned the latest tensorflow repo

[2020-04-03 10:59] ravikyram commented on #38191
I have tried on colab with TF version 2.1.0 , 2.2.0-rc2 and was able to reproduce the issue. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/56a61e5c22d9c78fc49eea3b9434590d/untitled764.ipynb#scrollTo=5-mB1Y5GqzbP). Thanks!

[2020-04-03 11:05] zhengjiangw commented on #26075
Thank you so much. Solved my problem.

[2020-04-03 11:09] jenishah commented on #38191
Hi,

I found the correct approach.

[code]

[2020-04-03 11:09] #38191 closed

[2020-04-03 11:11] ravikyram commented on #37220
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-03 11:11] #37220 closed

[2020-04-03 11:15] ravikyram commented on #37280
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-03 11:15] #37280 closed

[2020-04-03 11:18] ravikyram commented on #37410
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-03 11:18] #37410 closed

[2020-04-03 11:21] wangweitong commented on #37945
It's not working. It throws exception:
NotImplementedError: Saving the model to HDF5 format requires the model to be a Functional model or a Sequential model. It does not work for subclassed models, because such models are defined via the body of a Python method, which isn't safely serializable. Consider saving to the Tensorflow SavedModel format (by setting save_format="tf") or using `save_weight

[2020-04-03 11:21] ravikyram commented on #37614
@ivankxt

Any update on this issue please. Thanks!

[2020-04-03 11:28] ravikyram commented on #37815
@Mallow15

Any update on this issue please. Thanks!

[2020-04-03 11:28] AdrienCorenflos opened #38192 "tf.data.Dataset should support attr classes instances as values"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.1.0
- Are you willing to contribute it (Yes/No): Yes

**

[2020-04-03 11:31] ravikyram commented on #37760
@Miller144

I am closing this issue here and we can track the issue in TFjs repo. Thanks!

[2020-04-03 11:31] #37760 closed

[2020-04-03 11:33] ravikyram commented on #37750
@Yooong-W

Any update on this issue please. Thanks!

[2020-04-03 11:35] ravikyram commented on #37714
@MalteEbner

Is this still an issue?. Please close this thread if it solves your question. Thanks!

[2020-04-03 11:38] ravikyram commented on #37854
@munishvira

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in the [Github new issue te

[2020-04-03 11:39] #37714 closed

[2020-04-03 11:40] ravikyram commented on #37867
I am closing the issue as this issue not related to bug/performance.Please, ask this question in StackOverflow. Thanks!

[2020-04-03 11:40] #37867 closed

[2020-04-03 11:53] RobinBaumann commented on #37477
Sounds good 👍 I'm having a look into it this weekend and will come back to you, if i have some questions, if that's okay?

[2020-04-03 12:03] Farxial opened #38194 "Will TensorFlow 2.2.0 support CUDA 10.2?"
Hi :) I am going to use neural networking and TensorFlow.
I'm trying to install different versions of tensorflow and tensorflow-gpu using pip (for example, 2.1.0 both tensorflow and tensorflow-gpu, 2.2.0-rc0 both tensorflow and tensorflow-gpu) and in Python (3.7) I get error about loading `cudart64_101.dll`, like this:
`>>> import tensorflow as tf`
`2020-03-31 03:30:42.120394: W tensorflow/stream_

[2020-04-03 12:11] devpunjabi commented on #38119
@khimraj , I dont understand how your function would work.
 But to make you understand mine - I am not only calculating the loss w.r.t to sigmoid output but w.r.t to gradient of the loss w.r.t input. loss = loss + lambda(norm(gradient of loss))

[2020-04-03 12:11] diggee opened #38195 "GPU accelerated LSTM model crashes"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution (e.g.,Linux Ubuntu 16.04): Windows 10 pro 64 bit
- Mobile device if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.1.0
- Python version: - 3.7.3
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: 10.2
-

[2020-04-03 12:36] amahendrakar commented on #26608
@meyerjo,
Any updates regarding this issue? Thanks!

[2020-04-03 12:38] amahendrakar commented on #31830
@dsmic,
Any updates regarding this issue? Thanks!

[2020-04-03 12:38] SouradipBh opened #38196 "TESLA T4 Graphics Card"
I am planning to move to Nvidia Tesla T4 16gb from RTX 2080 8gb.
I am working on yolo model with tensorflow.
I am running around 8 parallel video detection simultaneously.
Currently,my present graphics card RTX 2080 8 gb supporting 8 parallel instances successfully.
So what through Tesla 12gb is supposed to give? How many parallel instances can be run on Tesla 12gb VRAM?

Please help me with this.

[2020-04-03 12:39] amahendrakar commented on #33790
Any updates regarding this issue? Thanks!

[2020-04-03 12:41] amahendrakar commented on #31998
Any updates regarding this issue? Thanks!

[2020-04-03 12:42] amahendrakar commented on #37172
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-03 12:42] #37172 closed

[2020-04-03 12:45] amahendrakar commented on #37194
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-03 12:45] #37194 closed

[2020-04-03 12:49] #31830 closed

[2020-04-03 13:01] saxenasaurabh commented on #31998
Sorry I don't understand. Should we close this since this seems to be fixed in 2.1? Are you asking if this will be fixed in 2.0? I don't think we would want to do that now since the fix is already available in a public release.

[2020-04-03 13:01] #31998 closed

[2020-04-03 13:04] ravikyram commented on #38196
@SouradipBh

This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2020-04-03 13:04] Saduf2019 commented on #38169
@ijalalfrz
In that case you will have to uninstall what cudas you have, do a fresh installation of just the required.

or please refer to these links [link1](https://blog.kovalevskyi.com/multiple-version-of-cuda-libraries-on-the-same-machine-b9502d50ae77) , [link2](https://stackoverflow.com/questions/40517083/multiple-cuda-versions-on-machine-nvcc-v-confusion)

[2020-04-03 13:08] Saduf2019 commented on #38188
@weinixuehao
please let us know the tensorflow version on which issue is faced.

[2020-04-03 13:10] ChristopherBrix commented on #37637
I tried setting up a new project, with a new bucket, and generating fresh data using the `t2t-datagen` command. It still failed. So this doesn't seem to be related to corrupted data on my side.

However, as a workaround, I've found this solution:
 - I request a TPU with TF version 1.15.0
 - I request a VM with TF version 1.14.0
 - I manually upgrade some of the installed pip packages

To do so, I

[2020-04-03 13:10] faroit commented on #33844
@pandrey-fr @Yablon maybe this might not be necessary anymore with tf2.2 where users can add their custom [train_step to the fit function](https://www.tensorflow.org/versions/r2.2/api_docs/python/tf/keras/Model#fit)...

[2020-04-03 13:22] MaUt89 commented on #38018
Attached you can find test and validation files. They are really small and only show the structure of the learning input I am using. But the program behaves exactly as described above with these two files.

[InputData.zip](https://github.com/tensorflow/tensorflow/files/4427439/InputData.zip)

[2020-04-03 13:32] ravikyram commented on #36694
I have tried on colab with TF version 2.2.0-rc2 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/e790680dd021f39d1daa0a8826c2a1ea/untitled765.ipynb). Thanks!

[2020-04-03 13:32] Zethson opened #38197 "Model not deterministic, even though os.environ['TF_DETERMINISTIC_OPS'] = '1' is set"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  Pretty much the MirroredStrategy fmnist example
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): tensorflow/tensorflow:2.2.0rc2-gpu-py3
- TensorFlow installed from (source or
binary): tensorflow/tensorflow:2.2.0rc2-gpu-py3
- TensorFlow version (use command below): ten

[2020-04-03 13:40] #37638 closed

[2020-04-03 13:43] nouiz commented on #38171
Here is a dockerfile that reproduce this in case it help identify the root cause:
[code]

[2020-04-03 13:53] mdanatg commented on #36146
The `**kwargs` mechanics only work with maps that have string keys. Since `tf.nest` cannot make any assumption about the type of the keys, I think it requires a constructor with on positional argument. So, improving the error message seems like the right path forward.

[2020-04-03 14:04] Vatsal-Malaviya commented on #38163
CPU : AMD ryzen 7 3750h with radeon vega mobile gfx 2.30 ghz

[2020-04-03 14:05] durandg12 commented on #34691
@goldiegadde I would not say the issue is totally solved, looking at the gist. Althought my main points are solved, the information printed by the keras API during training still uses the name of the tensor producing the output instead of the name of the output given by the user:
[code]

[2020-04-03 14:10] sirius0503 commented on #38036
@karimnosseir When I use `batch_size=None` and pass a `[1000, 4]` shape, then it works with the **cpu**, but produces this error for the `gpu` and `nnapi` delegate, any reason why?

I have asked the same thing [here](https://github.com/tensorflow/tensorflow/issues/37706#issuecomment-606507426), @jdduke had asked me for a tflite model there.

[2020-04-03 14:29] #37896 closed

[2020-04-03 14:32] vladdders opened #38198 "TF 2.1: inserting into MutableHashTable results into error"
**System information**
- Have written custom code
- OS Platform and Distribution: Linux Ubuntu 18.04:
- TensorFlow installed from binary: `pip install tensorflow-gpu==2.1.0`
- TensorFlow version: 2.1.0
- Python version: 3.6
- CUDA/cuDNN version: 10/7.0
- GPU model and memory: GTX1070 and 6GB

**Describe the current behavior**
I am trying to insert some key:value pairs into a MutableHashTable

**De

[2020-04-03 14:37] Vatsal-Malaviya commented on #38163
Please share a way to copy output from Jupyter lab

[2020-04-03 14:41] FrankwaP opened #38199 "tf.keras.losses.categorical_hinge mentions [-1, 1] values while it works with one-hot-encoded tensor"
Hi!

Please see:
https://www.tensorflow.org/api_docs/python/tf/keras/losses/categorical_hinge
https://github.com/tensorflow/tensorflow/blob/v2.1.0/tensorflow/python/keras/losses.py#L866-L882

Both mention:

While the code is --as expected-- a transcription of keras' one:
[code]

And this code is meant to work with one-hot-encoded tensors. See the original discussion here: https://github.com/keras-

[2020-04-03 14:56] Vatsal-Malaviya commented on #38163
After going through prerequisites again, in a new anaconda env
using the command "pip install tensorflow" with python 3.7.7
and got Internal root error

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):

[2020-04-03 15:31] RichardChangCA commented on #9489
The compatibility issue between CUDA version and TensorFlow version. In my case, My CUDA version is 10.0 and TensorFlow version is 2.1.0, and this issue occurs. After changing TensorFlow 2.1.0 to TensorFlow 2.0.0, this issue disappears.

Or maybe this is the issue of out of memory, so try to reduce the batch size

[2020-04-03 15:33] SouradipBh commented on #38196
OK. But can u tell me how many instances will work on this GPU?

On Fri 3 Apr, 2020, 6:34 PM ravikyram, <notifications@github.com> wrote:

[2020-04-03 15:34] RobKwiatkowski commented on #24828
The same problem here. It appeared after upgrading GPU from Nvidia GTX1060 3GB to GTX 1660 Super 6GB.
I've already tried to install clean: GPU drivers, CUDA 10.2, cuDNN for CUDA 10.2. Nothing works so far.
I've also reinstalled Tensorflow (previous was a conda installation), this time I've used pip version 2,1,0-cp37-cp37-win-amd64.

I keep digging...

[2020-04-03 15:51] FirefoxMetzger commented on #38004
You are correct. It does resolve the exception, as I mentioned in my issue. It does **not** solve the underlying issue though. It simply doesn't crash anymore and instead silently computes the wrong accuracy; arguably much worse, because easier to miss.

Using `metrics=['accuracy']` is, as far as I am aware, a shorthand for `metrics=[tf.keras.metrics.Accuracy()]`, and - as demonstrated in my reply

[2020-04-03 15:51] FelipeR2U commented on #38174
I'm having the same issue

[code]

The problem is that the [Profiler](https://github.com/tensorflow/profiler) needs Cuda 10.2

[2020-04-03 15:52] FelipeR2U commented on #38174
I'm having the same issue

[code]

The problem is that the [Profiler](https://github.com/tensorflow/profiler) needs Cuda 10.2

[2020-04-03 16:00] punndcoder28 commented on #36146
@mdanatg How can I improve the error message? Any suggestions would be helpful.

[2020-04-03 16:04] mihaimaruseac commented on #38163
Did you download the [MSVC redistributable](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads)

CPU seems to support AVX2 and is 64 bits

You can always used Google's codelab, there TF is guaranteed to work (as it doesn't run on your computer)

[2020-04-03 16:06] gowthamkpr commented on #37662
@chennuo0125 Please take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/19619) where memory consumption has been discussed in detail.

[2020-04-03 16:06] rmarru commented on #31509
Based on https://github.com/keras-team/autokeras/issues/839#issuecomment-590097076:

Concerning a `model.fit`, setting `validation_steps` in case you are using `validation_data` or `steps_per_epoch` if your input `x` is a `tf.data dataset` solves this issue.

[2020-04-03 16:07] mihaimaruseac commented on #38171
Agree to reverting the commit. Will do so at once

[2020-04-03 16:08] mihaimaruseac commented on #38171
Well, @gunan was faster

[2020-04-03 16:10] SwagJ commented on #38022
Thank you very much. Problem Solved.

[2020-04-03 16:10] #38022 closed

[2020-04-03 16:12] FelipeR2U commented on #38174
I downgraded to confirm my issue was solved to execute tensorflow-gpu. But the [Profiler](https://github.com/tensorflow/profiler) does not show what I need since it needs Cuda 10.2 to profile multiple GPUs

[2020-04-03 16:15] mihaimaruseac commented on #38122
You can always create a virtualenv where python3 tools are default `virtualenv <dir> -p python3` and then `<dir>/bin/activate`.

Or you can do `python3 -m pip install` instead of `pip install`.

Both are alternatives to using `pip3`.

But more important, now that the issue seems solved, can we close it?

[2020-04-03 16:23] tonytonev commented on #36146
@punndcoder28 How about "Mapping must have a (key, value) constructor". This should be an actual exception rather than just a warning, since it is a fatal error that will throw "TypeError: init() takes 1 positional argument but 2 were given" anyway. @mdanatg do you agree?

[2020-04-03 16:25] tanzhenyu commented on #32799
From above discussions I don't think this is fixed

[2020-04-03 16:25] tanzhenyu commented on #37477
Of course!

[2020-04-03 16:28] gowthamkpr commented on #38166
@OnlyBelter Please take a look at this [article](https://towardsdatascience.com/sigmoid-activation-and-binary-crossentropy-a-less-than-perfect-match-b801e130e31) which clearly explains how to pass logits.
Also please post questions related to support on stack overflow as there is a wider community to respond. Thanks!

[2020-04-03 16:36] mdanatg commented on #36146
The warning message is separate. I do want to discourage using `Mapping` subclasses in favor of `MutableMapping`, for the reason that follows.

To actually raise an error, more checks need to be added: first you need to find the constructor of the type, then you need to check its argspec and count the positional arguments. Even so, we can only check that the constructor takes a positional arg and

[2020-04-03 16:42] amahendrakar commented on #37413
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-03 16:42] #37413 closed

[2020-04-03 16:43] amahendrakar commented on #37584
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-03 16:43] #37584 closed

[2020-04-03 16:45] amahendrakar commented on #37618
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-03 16:45] #37618 closed

[2020-04-03 16:46] tonytonev commented on #36146
@punndcoder28 Do you mind if I submit this as my first pull request? You already had your changes accepted 😄 .

[2020-04-03 16:48] hackf5 commented on #35860
This seems to be a global setting, so it works with monkey-patched Anaconda environments.

[2020-04-03 16:52] punndcoder28 commented on #36146
Sure. Go ahead @tonytonev.

Sent from my iPhone

[2020-04-03 16:52] amahendrakar commented on #37950
Any updates regarding this issue? Thanks!

[2020-04-03 16:56] jvishnuvardhan commented on #36694
@aGiant This small mismatch in the results is due to cloning model. When you use clone a model, it instantiate a model and it creates new weights. [check here](https://www.tensorflow.org/api_docs/python/tf/keras/models/clone_model). Print weights for each of those two cases, you can see different weights.

If you want exactly same results but wants to clone model, then you can use `set_weights` as

[2020-04-03 17:09] tanzhenyu commented on #30453
I have tried this example in tf-nightly, which seems to have been resolved. It's probably a Keras issue instead of FeatureColumn. Can anyone help to verify?

[2020-04-03 17:09] princewillzz commented on #36111
![Screenshot (57)](https://user-images.githubusercontent.com/43216487/78386845-f1ab5500-75fb-11ea-9476-73485cb0e1ed.png)

[2020-04-03 17:11] Oney18 opened #38202 "tensorflow.keras.constraints.RadialConstraint causes exception when training"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Windows 10  Enterprise 64 bit
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: No
- TensorFlow installed from (source or
binary): pip
- TensorFlow version (use command b

[2020-04-03 17:11] princewillzz commented on #36111
![Screenshot (57)](https://user-images.githubusercontent.com/43216487/78386904-0daef680-75fc-11ea-8542-567368c436a4.png)
I had the same problem but I just copied "cudart64_102" with the name as "cudart_101.dll" and it worked.

[2020-04-03 17:12] amahendrakar commented on #38145
@mekhaaa,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here along with the supporting files and also the TensorFlow version you are using.

Also, please check if you are able to run the below code snippet
[code]

Thanks!

[2020-04-03 17:23] jzazo commented on #26274
Has it been fixed? I still get an error in a specific case when using add_loss on a model.
For example, as illustrated in this [question](https://stackoverflow.com/questions/60106829/cannot-build-custom-keras-model-with-custom-loss/60986815#60986815).

[2020-04-03 17:24] jvishnuvardhan commented on #34690
@fzyzcjy Please check with `tf-nightly`. There were lots of modifications after `TF2.1`, so the updated code is `tf-nightly`. Currently `TF2.2.0-rc2` released and i think the stable `TF2.2` will be released in near future. Thanks!

[2020-04-03 17:26] hahadashi commented on #34865
@SmileTM @xiaoyangnihao @oanush
hi ,  have you solve your problem？i also want to frozen the attention model，and split them to two  pb model（Encoder and deocder）。i use  tf.compat.v1.train.write_graph （some people advice）. use this way i can convert ckpt model to pb model. but i run their model and their result is different . i dont know whats wrong with me,  hope you give some advice.

[2020-04-03 17:28] coert commented on #35672
Looks good on tf-nightly 2.2.0.dev20200403. Thanks!

[2020-04-03 17:38] coert commented on #35672
Unable to check tf-nightly 1.15.x, I think that's due to:
https://github.com/tensorflow/tensorflow/issues/37317
https://github.com/pypa/pypi-support/issues/224

[2020-04-03 17:40] jvishnuvardhan commented on #38161
@orangesomethingorange Can you please share the code to create model and converting it to tflite model? It is difficult to find root-cause of the issue without model. I will check the model and resolve the issue. Thanks!

[2020-04-03 17:45] jdduke commented on #38036
We're working in improving support for this. Note that, even if we do get this working correctly in the short term (resizing graphs when using GPU/NNAPI acceleration), it's unlikely that you'll want to be resizing with any frequency, as there is a fixed cost for recreating the graph and regenerating associated shaders.

[2020-04-03 17:56] hsd31196 commented on #36366
I tried adding layers='tf.keras.layers'  but still it is not working for me.

[2020-04-03 18:00] Vatsal-Malaviya commented on #38163
Thanks for your help, reinstalling x64 solved the error

[2020-04-03 18:00] #38163 closed

[2020-04-03 18:02] feranick commented on #38082
Tested with fix, and all is working now. Since the fix has been merged, I close this bug.

[2020-04-03 18:02] #38082 closed

[2020-04-03 18:04] rakesh-malviya commented on #38172
I tested above case on my Windows system Python 3.7.7. I did not see any error as shown in below image. I will check on Ubuntu and get back.

![image](https://user-images.githubusercontent.com/5499416/78391106-5d44f080-7603-11ea-866b-329c1e5e3a76.png)

[2020-04-03 18:05] tanzhenyu commented on #32950
@Nephalen I see. It looks like a different issue and resolved then.
@vivekvekariya I think this is due to different default learning rate, can you explicitly change the code to:
opt = tf.keras.optimizers.Adadelta(learning_rate=1.0, ...)
model.compile(opt, ...)

Closing it for now. Let us know if any other issues come up.

[2020-04-03 18:05] #32950 closed

[2020-04-03 18:06] tanzhenyu commented on #34380
@ahmedelmahy I think this is probably due to we changed the default learning rate (unfortunately) from 1.0 to 0.001. Can you try it and let us know if it fixes for you?

[2020-04-03 18:08] nouiz opened #38205 "[XLA] bazel tests broken"
When running XLA C++ tests with bazel, many of them fails with an error like:

[code]

How to reproduce:

[code]
[code]
[code]

See error above:

Now try with the current HEAD:

[code]
[code]
[code]

Same error.

I have this on 2 different computers.

[2020-04-03 18:10] nouiz commented on #38171
Thanks this one is fixed, but there is another regression. I made a new issues for it.

https://github.com/tensorflow/tensorflow/issues/38205

[2020-04-03 18:22] shinlin77 opened #38206 "pixelwise-loss weight map part 2"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): Yes

**De

[2020-04-03 18:25] kaiwalya4850 commented on #37742
Yeah, thats working fine now!

[2020-04-03 18:27] #38171 closed

[2020-04-03 18:58] anshkapil commented on #33771
@SuperCrystal Were you able to find a solution to this problem? I am not using model subclassing, but still have the same problem at hand. Thanks!

[2020-04-03 19:28] sirius0503 commented on #38036
@jdduke Can you explain the resizing graphs with any frequency and the fixed cost and the associated shaders part part in a more simple manner and/or provide some links where I can read up more on them. Thanks a lot!

Also, where can I follow the development/support for this for the GPU/NNAPI acceleration?

[2020-04-03 20:04] MrRobot2211 commented on #36669
Hi I am having  a similar issue any news?

[2020-04-03 20:08] #36835 closed

[2020-04-03 20:11] pvarouktsis commented on #32903
Hello! Is anyone working on this? If not could I have a try?

[2020-04-03 20:16] ebrevdo commented on #32903
Yes; please feel free.

On Fri, Apr 3, 2020 at 1:11 PM Panagiotis Varouktsis <
notifications@github.com> wrote:

[2020-04-03 20:21] pvarouktsis commented on #32903
Thank you!

[2020-04-03 20:44] roymiles opened #38210 "optimize keyword argument for tf.einsum"
I am trying to use the ```optimize``` keyword argument for the einsum operation, but I receive the following error:

[code]

I am currently using tensorflow-gpu==2.0.0 with up-to-date CUDA, cudnn (everything else works fine).
It is to my understanding that tensorflow is calling the legacy einsum operation, einsum_v1 : https://github.com/tensorflow/tensorflow/blob/44d3065391ea2188979ff2e747f4e7b789

[2020-04-03 20:45] yongtang commented on #38172
Added a PR #38209 for the fix.

[2020-04-03 20:58] sundowatch commented on #38008
Ok According to the Google Cloud Documentation suggestion this code worked for me:

`docker run --rm --name CONTAINER_NAME -p 8501:8501 -v %cd%/model:/tmp/mounted_model/0001 -t gcr.io/automl-vision-ondevice/gcloud-container-1.14.0:latest`

[2020-04-03 20:58] #38008 closed

[2020-04-03 21:25] Strateus commented on #27128
I see similar behavior, and my dataset is about 1Gb, but it fills out 22Gb of free memory

[2020-04-03 21:38] Ceceu commented on #27679
Hello @edloper,

I did like you pointed out in a similar case:
[code]
But I got the following error:

[code]

Any suggestion?

[2020-04-03 22:20] YingzhouLi opened #38211 "Missing Trainable Variables and Variables"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Ubuntu 19.04
- TensorFlow installed from (source or
binary): TF 2.1 installed from pip
- Python version: Python 3.7.5

[code]

The output currently is only:
[code]

While the expected output is listing all 6 tensors,

[2020-04-03 22:47] jsimsa commented on #36669
You need to put the variable outside of the user-defined function:

[code]

In your example, the Python object for the variable is destroyed when the tracing of the function completes, which results in the use-after-free error in your program.

[2020-04-03 23:01] mmilosav commented on #26602
@vbardiovskyg  Please see comments in the following code (TF 2.2.0rc2).  Why does the first case succeed and second fail?  Is this a bug?  Thanks.
[code]

[2020-04-03 23:03] Sicongzai commented on #37951
hey @srjoglekar246  Thank you for your response.

I try to use 2017 images with 2017 instances. But still met the same problem. The detail can be seen below:
INFO: Running command line: bazel-bin/tensorflow/lite/tools/evaluation/tasks/coco_object_detection/preprocess_coco_minival '--images_folder=/home/sicong/Documents/datasets/COCO/val2017' '--instances_file=/home/sicong/Documents/datasets/COCO/a

[2020-04-03 23:33] gowthamkpr commented on #38068
@PonraJS-21 yes

[2020-04-03 23:52] Ceceu opened #38212 "tf.py_function could return a dictionary of tensors"
Usually, a transformers tokenizer encodes an input as a dictionary.
[code]
And to archive better performance handling with a large dataset, is a good practice implement a pipeline which includes using [`Dataset.map`](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#map) to apply a tokenizer function to each element of an input dataset. Exactly the same as done in the Tensorflow tutorial:

[2020-04-04 00:40] #38042 closed

[2020-04-04 00:56] fzyzcjy commented on #34690
@jvishnuvardhan Sorry is it stable enough? I am afraid nightly will contain strange bugs...?

[2020-04-04 01:16] Sanqiang commented on #37959
Close ticket.
It is because my origiinal TF2.0 is not removed cleanly.

[2020-04-04 01:16] #37959 closed

[2020-04-04 01:19] jvishnuvardhan commented on #34690
@fzyzcjy I guess there will be a stable `TF2.2` in near future. It is currently `TF2.2.0-rc2`. Thanks!

[2020-04-04 01:28] ebrevdo commented on #38042
(thanks so much for the clean repro!)

[2020-04-04 01:56] tanzhenyu commented on #34182
The functional API builds the layers from a DFS algorithm, and treats output as depth=0. When a certain upstream layer is connected to two downstream layer, its depth is determined by the max depth of them, + 1, i.e., if layer_C is connected to both layer_A and layer_B, then depth(layer_C) = max(depth(layer_A), depth(layer_B)) + 1.
So in this particular case, if we do a layers_by_depth dict, you c

[2020-04-04 03:39] zhuzilin opened #38213 "[XLA:GPU] Memory Leak in r1.15 due to defer host callbacks"
**System information**
- Have I written custom code:
yes
- OS Platform and Distribution:
centos
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below):
`pip install tensorflow-gpu==1.15.0`
- Python version:
python3.6
- CUDA/cuDNN version: - GPU model and memory:
cuda 10.0

**Describe the current behavior**
There is memory leak observed in `ThenRunAfterNextBlockHos

[2020-04-04 03:41] FLming commented on #32903
Although I really want to do this, I don’t know how to contribute it. I have gone to view the implementation of this function, but I can't find the gen_ctc_ops module.

[2020-04-04 03:58] ebrevdo commented on #32903
I believe it's in core/ops/ctc_ops.cc.

On Fri, Apr 3, 2020, 8:41 PM Yiming Huang <notifications@github.com> wrote:

[2020-04-04 04:09] tanzhenyu commented on #34559
@Dieblitzen Your code has a bug, it should be:
[code]

not:
[code]

[2020-04-04 04:09] #34559 closed

[2020-04-04 04:12] nfelt commented on #38086
If the first tab is called `Events` you are using a very old version of TensorBoard (several years old).  You'll want to ensure you are on a recent version of TensorBoard, ideally 1.15 or newer.

If you're still encountering an issue when using a newer version of TensorBoard, please open an issue in the TensorBoard repository at https://github.com/tensorflow/tensorboard/issues/new/choose and provi

[2020-04-04 04:12] #38086 closed

[2020-04-04 04:15] ashutosh1919 commented on #38067
@Arktius and @MarkDaoust , please close this issue since the PR is merged.

[2020-04-04 04:47] hahadashi commented on #29253
i try to convert ckpt model to pb model under tf2.0
.   when i run them, but their result is different

[2020-04-04 05:03] ManishAradwad commented on #38199
I'll start working on this, Thanks!

[2020-04-04 05:12] tanzhenyu commented on #33751
The issue is that there're no grad of grad of resize, which is an known issue since [long time ago](https://github.com/tensorflow/tensorflow/issues/22208).

[2020-04-04 05:12] tanzhenyu commented on #33751
#22208

[2020-04-04 05:14] tanzhenyu commented on #33751
#22208

[2020-04-04 05:15] szc11121 commented on #29075
sorry to reply late, but I finally can reproduce the problem now. I create a colab notebook [here](https://colab.research.google.com/drive/1EsNqxBelCHy3hmc9R4RXdXNOgR8ww2Dc) to reproduce the problem, in output you can see training step in graph mode is 10x slower than eager mode. It seems it is a problem about tf.keras.layers.Embedding(), not variable sequence length, so I annotate some code.

[2020-04-04 05:29] tanzhenyu commented on #22208
Contributions welcome!

[2020-04-04 05:29] tanzhenyu commented on #33751
#7641

[2020-04-04 05:33] LGTcoder commented on #37323
import my_function
@pytest.mark.unit
@pytest.mark.parametrize('use_tf_function', [True, False])
def test_my_function(use_tf_function):

    def test(arg1, arg2):
        # REQUEST: Check to make sure this is not being retraced many times.
        return my_function(arg1, arg2)

    # Sometimes test in Eager mode for debugging, sometimes test in graph mode.
    test_func = test
    if use_tf_functi

[2020-04-04 05:50] ManishAradwad commented on #38199
@FrankwaP The nightly version of docs mention
`y_true : The ground truth values. y_true values are expected to be 0 or 1.`

[2020-04-04 06:22] saikrishnadas commented on #152
Python 3.6.9
Tensorflow 2.1.0 gpu supported
Cuda 10.0
TensorRT 6.0
GPU - 1
Is still get the error even after export `CUDA_VISIBLE_DEVICES=0`  or export `CUDA_VISIBLE_DEVICES=1 `

**Error log :**
[code]

[2020-04-04 06:39] Terkea commented on #2117
Has anyone found a fix to this yet? I'm encountering just the same problem
[code]

[2020-04-04 06:45] hihell commented on #26990
same problem here, in decoder:
`output, state = self.gru(x)`
decoder call is called by time step, this will make decoder GRU stateless, there is no previous state passed to this time step.
and after I change it to stateful:
`output, state = self.gru(x, initial_state = hidden)`
the model's loss is increased compare to the stateless model
can anyone explain?

[2020-04-04 07:16] PonraJS-21 commented on #38068
I just used the code in the description and the whole repo downloaded from tensorflow-object detection  API github, and compiled with protobuf

[2020-04-04 07:28] weinixuehao commented on #38188
tensorflow 2.0.1

[2020-04-04 07:55] nsarang commented on #33009
I've had the same problem and none of the above solutions worked for me.
Ultimately, setting `inter_op_parallelism_threads=1` in `tf.Config` fixed it.
tensorflow/tensorflow#22098

[2020-04-04 08:01] #38067 closed

[2020-04-04 08:28] xqiangx1991 opened #38215 "iterating over `tf.Tensor` is not allowed when using autograph"
I am using tf2.1.0, but when I use `tf.range` within a funtion decorated by `tf.function` it throw an error. My code is blow
[code]
and here is the error message
[code]
It works for tf2.0.0

So, I wonder how to use `tf.range` when using **Autograph**.

[2020-04-04 08:38] mithuntp-online commented on #29958
Same Issue here, any solution found?

[2020-04-04 09:33] OnlyBelter commented on #38166
I got it, thanks a lot! This link can help:
https://stackoverflow.com/questions/61012727/how-can-i-pass-logits-to-sigmoid-cross-entropy-with-logits-before-i-fit-and-pred

[2020-04-04 09:33] #38166 closed

[2020-04-04 10:28] tarrade opened #38216 "[saved_model_cli] cannot import name 'saved_model_aot_compile' from 'tensorflow.python.tools' [2.2.0-rc2]"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): yes
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): No
- TensorFlow version (use command below):  v2.2.0-rc1-34-ge6e5

[2020-04-04 11:31] Pyabecedarian commented on #31509
Thanks for your reply, that's the solution.

[2020-04-04 11:54] Krishnarohith10 commented on #29958
For tensorflow==2.1 it is not log.get('acc') instead try log.get('accuracy'). It should work.

[2020-04-04 12:43] jackyesf opened #38217 "load_model cause memory leak."
model = load_model('.\Models\LSTM-RAdam-batchsize50-Data5040\Algorithm-LSTM-RAdam-batchsize50-Data5040-0.h5')
if i use tensorflow2.0 will got this bug,and tensorflow2.1.0 no this bug.

save.py 146  2020-04-04 20:14:39.885989
hdf5_format.py 153  2020-04-04 20:14:39.886990
hdf5_format.py 159  2020-04-04 20:14:39.886990
model_config.py 54  2020-04-04 20:14:39.890988
hdf5_format.py 169  2020-04-04 20:

[2020-04-04 12:49] vnvo2409 commented on #19297
I build tensorflow on Linux and `s3` is also loaded when we `import tensorflow`. So I think this addition is more suitatble for the tensorflow source code right now. About the idea of building the DLL of the S3 filesystem, it is more suitable when we finish the implementation of filesystem modular. Because right now, in the source code of tensorflow, we always register a filesystem by a macro even

[2020-04-04 13:37] FrankwaP commented on #38199
Maybe "y_true : The ground truth values in one-hot-encoded format." would add some clarity?

[2020-04-04 13:37] tanzhenyu commented on #29879
This could probably be fixed by not converting a dense tensor, and also needs to update how to get sequence_length from a dense tensor (tf.shape(input_tensor)[1])

[2020-04-04 13:38] Dharanya-Subramanian commented on #20690
I've installed tensorflow using and encountered with module not found error. Based on some of the previous conversations I've uninstalled it and installed tensorflow via conda. The installation was successfull but it produces Syntax Error which have been attached below.

Traceback (most recent call last):

  File "c:\users\elcot\anaconda3\envs\'virtual_env'\lib\site-packages\IPython\core\interacti

[2020-04-04 13:41] Dharanya-Subramanian commented on #20690
I've installed tensorflow using pip and encountered with module not found error. Based on some of the previous conversations I've uninstalled it and re-installed tensorflow via conda. The installation was successfull but it produces Syntax Error which have been attached below.

Traceback (most recent call last):

File "c:\users\elcot\anaconda3\envs'virtual_env'\lib\site-packages\IPython\core\inter

[2020-04-04 14:09] mithuntp-online commented on #29958
Hi..
Use if(logs.get('acc')>0.90):

This worked for me

[2020-04-04 14:17] tanzhenyu commented on #38130
By looking at the documentation of Lambda layer, please check the `Variables` section under keras/layers/core -> class Lambda, i.e.:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/core.py#L770-L797

[2020-04-04 14:20] MarkDaoust commented on #38067
Tip when submitting a PR that closes a bug.

If you put:

[code]

In the commit message or PR description it will auto-close the bug on merge.

[2020-04-04 15:11] bernardocortez commented on #36432
I have the exact same problem but it didn't work just by installing VS code.... Any other suggestions @amahendrakar ?

Thanks

[2020-04-04 15:14] VegardIversen commented on #36432
Are you sure you have downloaded the correct version. Here is the link I used. https://support.microsoft.com/nb-no/help/2977003/the-latest-supported-visual-c-downloads

[2020-04-04 15:14] swaroop23 opened #38218 "Smart compose using tensorflow"
Hey I am trying to create a API which can smart compose. Anyone that can help me out ?

[2020-04-04 15:24] rkbairi commented on #35813
I too faced this error while running on multiple threads. As a work around, I tried locking the model creation part (the _build_ function in my code below), and the error did seem to disappear. I don't know if it will manifest in some other form somewhere else.

I wrote this code to check if multithreading works in TF 2.0 before migrating my production TF 1.0 code (which is multithreaded) to TF 2.

[2020-04-04 15:56] tanyagupta commented on #9829
Worked for me

[2020-04-04 15:59] Mahati04 opened #38219 "Tensorflow version downgrade"
ModuleNotFoundError: No module named 'tensorflow.contrib'
This is the error i keep getting when i try to load my video file for YOLO object detection using darkflow. I tried using pip to downgrade the tensorflow version but its not changing the output.

[2020-04-04 16:04] ahmedelmahy commented on #34380
That works like a charm @tanzhenyu  . [Setting the learning rate ](https://colab.research.google.com/drive/1Hj3-_Bjfkp3-dmd38-1CmIR4VLOV98hB) to 1.0 produces the same results as with keras.

[2020-04-04 16:04] #34380 closed

[2020-04-04 16:29] beniroquai opened #38220 "Request to have ConvLSTM2D for TFLite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10, Android 6.0
- TensorFlow installed from (source or binary): Anaconda,
- TensorFlow version (or github SHA if from source): 1.15

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**
[code]

**GRAPH:**
[code]

**Any other info / logs**

The TFLite converter fa

[2020-04-04 16:34] alokmp83 opened #38221 "Distributed tensorflow"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-04-04 16:39] alokmp83 commented on #37769
Hi - Sorry for the late due to unforeseen reasons.
I have been running this program through Univa grid engine and it turns out that this error:
error: error running IJS server: "could not get remote execution state"
is being thrown by the grid engine and its not an issue with tensorflow ps and worker grpc connection.
Hence closing this issue.Thanks for the followup.

[2020-04-04 16:39] #37769 closed

[2020-04-04 16:47] hfinkel opened #38222 "MutableGraphView::MutableGraphView error: node has self cycle fanin - But graph is not cyclic"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**

 - Python 3.6.6 on Fedora
 - `python3 -c 'import tensorflow as tf; print(tf.__version__)'` -> 2.1.0
 - `tf.vers

[2020-04-04 16:49] Kiranendra commented on #37943
The issue was solved now. The duplicate issue was incomplete for mine. So, I followed [this](https://stackoverflow.com/questions/54652536/keras-tensorflow-backend-error-tensor-input-10-specified-in-either-feed-de) from StackOverflow and it worked.

[2020-04-04 16:49] #37943 closed

[2020-04-04 17:16] OverLordGoldDragon commented on #34182
@tanzhenyu Is there a method to generate these dicts, or you built them manually?

[2020-04-04 17:19] tanzhenyu commented on #34182
There is a `_map_graph_network` private method under network.py which you can use to verify it

[2020-04-04 17:21] OverLordGoldDragon commented on #34182
@tanzhenyu Alright - makes sense, thanks for the explanation.

[2020-04-04 17:21] #34182 closed

[2020-04-04 17:32] bernardocortez commented on #36432
I did! Only Visual Studio Code or the whole IDE package?

[2020-04-04 17:39] tanzhenyu commented on #33810
`reuse` is a tf legacy python layer thing, it's never part of keras layers, and especially not part of Tensorflow 2.0 because we removed variable scope and the reusing of variables.
To achieve weight sharing, either reuse the layer directly, or build customized layer that re-uses the weight

[2020-04-04 17:39] #33810 closed

[2020-04-04 17:42] Ozturk470 commented on #36432
Berna selamm bireyler oluyor ama ne anlamıyorum yardımcı olur musun

4 Nis 2020 Cmt 18:19 tarihinde bernardocortez <notifications@github.com>
şunu yazdı:

[2020-04-04 17:54] VegardIversen commented on #36432
Only this: x64: vc_redist.x64.exe (for 64 bit) via the link i sent

[2020-04-04 18:09] hahadashi opened #38223 "TF2.0 frozen ckpt model or h5 model to pb model appear wrong"
hi，i use your demo complete frozen the ckpt model(checkpoint = tf.train.Checkpoint(myAwesomeModel=me), checkpoint.restore(tf.train.latest_checkpoint('examples'    ))) or h5 model (model.load_weights('model_enc.h5'))to pb model。after i run ckpt model and pb model，i find their result is different。and the result of ckpt model  is right。i check the pb model parmas， and find some op variable parmas is

[2020-04-04 18:34] hahadashi commented on #34865
i find restore ckpt model or h5 model is failure. 。 some pb model op params value is initial value

[2020-04-04 18:36] tanzhenyu commented on #33793
I think the bottleneck here is that EmbeddingColumn is always with float32, which seems to be a legacy feature column issue, and we don't want feature column rely on keras backend. Moving forward, we're deprecating DenseFeatures or any other feature column related things and it's better to use [preprocessing layers](https://github.com/tensorflow/community/pull/188)
Closing this issue for now. If P

[2020-04-04 18:36] #33793 closed

[2020-04-04 18:51] gowthamkpr commented on #36332
Closing this issue as it has been inactive for more than 3 weeks. Please add additional comments for us to open this issue again. Thanks!

[2020-04-04 18:51] #36332 closed

[2020-04-04 19:09] Saran-nns opened #38224 "Ensemble of custom sequential models"
I am trying to split the sequential models and combine them back in reference to the documentation on [CNN](https://www.tensorflow.org/tutorials/images/cnn)

[code]
### Data
[code]
### Model 1:

[code]
### Model 2:
[code]
### Ensemble of above two models:

[code]
Initialize and build the model

[code]
```Model: "Ensemble"```
`_________________________________________________________________`
`Laye

[2020-04-04 19:25] MoyoT opened #38225 "Creating a dynamic weight matrix that can be optimised"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-04-04 19:36] yashmukaty commented on #34431
If I do this - Replace tf.app with tf.compat.v1.app it says AttributeError: module 'tensorflow_core._api.v2.compat.v1.app' has no attribute 'DEFINE_string'

[2020-04-04 19:44] saberabdelhady opened #38226 "from .pyrfc import *"
i already install
C:\Python37>pip3 install pyrfc
Collecting pyrfc
  Downloading pyrfc-0.1.2.tar.gz (3.5 kB)
Installing collected packages: pyrfc
    Running setup.py install for pyrfc ... done
Successfully installed pyrfc-0.1.2

but when import i see this issue

Traceback (most recent call last):
  File "<pyshell#2>", line 1, in <module>
    from .pyrfc import *
ModuleNotFoundError: No module name

[2020-04-04 20:05] bernardocortez commented on #36432
Thanks! This solved the problem

[2020-04-04 20:23] nahsam opened #38227 "train_speech_model.ipynb TUTORIAL with colab not working"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source):
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):

**Describe the problem**
 I am trying to use this to train a set, the base tutorial will not compile the train.py section. I am copying and

[2020-04-04 20:35] nahsam commented on #38227
I found that line 35 in /content/tensorflow/tensorflow/examples/speech_commands/input_data.py is no the same using the git in the instructions of the tutorial. I changed it manually to match what is currently in the git hub and it compiles further but is still having issues finding "contrib_audio"

[2020-04-04 20:40] danijar opened #38228 "Named Dimensions"
**System information**

- TensorFlow version (you are using): 2.1
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

Currently, TensorFlow ops receive axes as integer indices, e.g. `tf.reduce_sum(tensor, axis=(2, 3))`. Keep track of axes after applying several operations on them and passing tensors around through multiple functions can be cha

[2020-04-04 20:41] danijar commented on #19602
I've opened a new issue with a more detailed proposal: https://github.com/tensorflow/tensorflow/issues/38228. @martinwicke, could you please take a look at it?

[2020-04-04 20:41] #19602 closed

[2020-04-04 21:07] nicseve opened #38229 "No examples showing how to generate Arduino files from source for Arduino IDE"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2020-04-04 21:45] #38229 closed

[2020-04-04 22:06] kkimdev commented on #37858
@k-w-w

[2020-04-04 22:20] mihaimaruseac commented on #38221
Closing as no information was provided

[2020-04-04 22:20] #38221 closed

[2020-04-04 22:23] mihaimaruseac commented on #27816
[code]

You have to place `msvcp140.dll` in one directory found on `%PATH%`.

[2020-04-04 22:39] Daanielvb commented on #14392
To fix the issue you must do something like this

  from keras.initializers import Constant
  embedding_layer = Embedding(input_len, input_size,
                              embeddings_initializer=Constant(your_embedded_matrix), trainable=False)

[2020-04-04 22:39] mikkelam commented on #29590
Having the same issue as adrian

[2020-04-04 23:32] fxtentacle opened #38230 "TensorFlow hangs: 0% GPU, 1 CPU core @ 100% in cuModuleUnload"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04):  Windows 10 x64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: No
- TensorFlow installed from (source or
binary): Both. Bug first appeared in TF2 python package, then

[2020-04-04 23:32] #38140 closed

[2020-04-05 00:29] guptapriya commented on #20126
@roadcode in TF2, you can do `tf.Variable(..)` directly - that is the recommended way. See https://www.tensorflow.org/guide/variable

[2020-04-05 00:32] ymodak commented on #38182
This issue more suitable on [TensorFlow Federated](https://github.com/tensorflow/federated/issues) repository. Thanks!

[2020-04-05 00:43] #30304 closed

[2020-04-05 00:43] #32780 closed

[2020-04-05 00:43] tensorflowbutler commented on #30304
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2020-04-05 00:43] tensorflowbutler commented on #32780
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2020-04-05 00:43] tensorflowbutler commented on #33943
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-05 00:43] tensorflowbutler commented on #30885
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-05 01:02] Flomastruk commented on #27120
I use vanilla configuration:

- MacOS 10.12
- python 3.7
- tensorflow 2.1.0 installed with pip

It seems that the minimal example is still lacking in the thread. Passing optimizers inside
`@tf.function` decorator appears problematic as the following example shows:
[code]
The state of an optimizer is a collection of tensors, so it should be possible to wrap functions as above with `tf.function` and

[2020-04-05 01:21] aldnoahh commented on #35422
I had the same problem. My guess is this is due to the fact the code was previous version (before 2.x).
Solution: In the fit function, specify batch_size and steps_per_epoch, and it shall work beautifully. At least, worked for me.

[2020-04-05 01:37] tanzhenyu commented on #28143
Thanks for the report!
Looking through the code, here's my understanding:
1) The previous behavior (up until Tensorflow 2.0.0.alpha) is alway call self.compute_mask. Since GlobalMaxPooling doesn't override compute_mask, it will call `base_layer.compute_mask` and error out.
2) The current behavior (since Tensorflow 2.0.0 stable) is simply to swallow the mask if self.supports_masking=False and `comp

[2020-04-05 01:40] tanzhenyu commented on #33260
Reading through the code, we did make a change to implicitly mark output mask to be None when `support_masking=False`, whereas we previously errors out. The commit is [here](https://github.com/tensorflow/tensorflow/commit/8c65ee1de5ebcb85485cb0f7e5bc008134a394e7).

I'm not sure what's the reasoning behind it. Re-assigning to author of that commit.

[2020-04-05 01:45] tanzhenyu commented on #35354
Thanks for the report! It might be nice to consider this since we're updating the optimizer interface lately. Would you mind emailing this to developers@tensorflow.org with this idea and see what is the response? We might need a public RFC before implementation.
Meanwhile closing it as this is not a real issue.

[2020-04-05 01:45] #35354 closed

[2020-04-05 01:59] ijalalfrz commented on #38169
@Saduf2019 ok. i will try to reinstall it and post a progress after

[2020-04-05 02:39] ijalalfrz commented on #38169
@Saduf2019 still getting same error, i have installed cuda 10 and cudnn 7.6.5

[2020-04-05 02:58] himarora commented on #34025
I am also facing the same issue with Tensorflow 2.2.0-rc2 while training with variable lengths in a loop.

[2020-04-05 03:50] gowthamkpr commented on #38072
On TPU and GPU: Only dense padded labels are supported. Are you by any chance using sparse padded labels?

[2020-04-05 03:53] gowthamkpr commented on #38068
Just a clarification. Is it working well with 2.0 and 2.1 versions? @PonraJS-21

[2020-04-05 04:19] tanzhenyu commented on #33640
Feature column support is currently not in our roadmap. We have been putting every resource on migrating to [Keras preprocessing layers](https://github.com/tensorflow/community/pull/188). I think your use case can be supported by tf.RaggedTensor + `IndexLookup` layer + `Embedding` layer.

[2020-04-05 04:19] #33640 closed

[2020-04-05 04:23] gowthamkpr commented on #38047
@lolpa1n Without using ngrok, is the local server running?

[2020-04-05 04:36] gowthamkpr commented on #37882
@Ceceu Are you able to figure this issue out? Did you post it in stackoverflow?

[2020-04-05 04:50] tanzhenyu commented on #33749
I think we should make this contributions welcome. @Alpheron Would you be interested?

[2020-04-05 05:20] jinfagang opened #38231 "Libs can not download from China when compile from source"
[code]

this url is blocked inside china,

why using this download when compile? why not just make it --recursive when clone?

[2020-04-05 05:37] tanzhenyu commented on #33478
Sorry for the delay!
I'm not sure if layer.input and layer.output cannot achieve what you're looking for.
First of all, layer.inbound_nodes and layer.outbound_nodes are deprecated in 2.0.
Second of all, layer.input and layer.output are still symbolic tensors, just as you described, they're created under the first `layer.build(input_shape)`

So to make your first use case work, i.e., the activation

[2020-04-05 05:42] tanzhenyu commented on #33478
BTW, you can still call a layer repeatedly and add inputs to the nodes.
[code]

[2020-04-05 05:45] tanzhenyu commented on #33478
Also check this as suggestion:
https://github.com/tensorflow/tensorflow/issues/33129#issuecomment-539876444

[2020-04-05 05:45] #33478 closed

[2020-04-05 05:46] tanzhenyu commented on #33478
Closing it for now. Feel free to re-open if you still have concerns :-)

[2020-04-05 05:46] ruipingyin commented on #38130
I have used a subclass layer to instead of the lambda layer as follows. But it seems that the results is still incorrect.

[code]

As you can see in this code, I think the ScoMatLayer is a stateless layer.

[2020-04-05 06:44] Mounika2825 commented on #30531
how to solve the below error in google colab...

RuntimeError: It looks like you are trying to use a version of multi-backend Keras that does not support TensorFlow 2.0. We recommend using `tf.keras`, or alternatively, downgrading to TensorFlow 1.14.

[2020-04-05 06:47] MeghnaNatraj opened #38232 "AttributeError: 'TFLiteConverterV2' object has no attribute 'experimental_new_quantizer' due to TensorFlow 2.2.0rc2 in colab.research.google.com"
**Describe the problem**
In colab, the default TF version is not a stable version (2.2.0rc2)
You can check this by opening a new notebook in [colab.research.google.com](colab.research.google.com) and running:

[code]

**Solution: **
Change the tensorflow version from the unstable 2.2.0rc2 to stable 2.2.0

**Provide the exact sequence of commands / steps that you executed before running into the pr

[2020-04-05 06:51] Alpheron commented on #33749
So I think tensorflow-slim has an Inception V4 model which has been written which can be found [here](https://github.com/tensorflow/models/blob/master/research/slim/nets/inception_v4.py). However, according to the documentation saying that Slim is not supported with Tensorflow 2.0, I think it would be fair to say that this model must be converted sometime in the future to be able to work with Kera

[2020-04-05 07:09] phuongchi911 opened #38233 "ValueError: No gradients provided for any variable: ['conv2d/kernel:0', 'conv2d/bias:0',"
**System information**
Colab tensorflow 2.2.0

**Describe the current behavior**:
I faced this error when i tried   to solve my own data issues, which is multiple label semantic segmentations. When I ran on Jupiter notebook on my local Mac Book with Keras installation (not tf.keras but keras only), model could train normally as expected as below.

![image](https://user-images.githubusercontent.com

[2020-04-05 07:57] Jamesbond32 commented on #37725
[code]

using this code inside my jupyter notebook worked.

[code]

[2020-04-05 08:07] haroldpnn opened #38234 "ctc_loss compilation failure on TPU"
Hello! I'm trying to compile my simple model with custom loss that uses tf.nn.ctc_loss and get the following error:
[code]

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution: Colaboratory on *TPU*
- TensorFlow installed from (source or
binary): binary
- TensorFlow version:  2.2.0-rc2

**Loss**

[2020-04-05 08:32] HardworkingPig opened #38235 "Tensorflow and Pip Error"
**System information**
- Windows 10 Basic Updated
- TensorFlow installed from (source or binary): Anaconda 4.8.2
- TensorFlow version: 2.1
- Python version: 3.5
- Installed using Pip

[code]

New Conda Environment

[code]

[2020-04-05 08:46] gowthamkpr commented on #37839
@lminer This is the intended behaviour of checkpointing as it only saves weights of the model not the model itself.

[2020-04-05 08:54] gowthamkpr commented on #37743
@ravikairam Are you still facing the issue?

[2020-04-05 09:34] kubapok opened #38236 "very slow training if recurrent_dropout above 0.0 in LSTM keras using GPU"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Linux Mint 19
- TensorFlow installed from: pip ( `pip install tensorflow-gpu` )
- TensorFlow version: 2.1.0 (same issue in 2.0.0 though)

- CUDA/cuDNN version: 10.2
- GPU model and memory: RTX 2080 8GB (same issue on RTX 2080Ti 11GB )

Hi!

When I use LSTM `recurrent_dropout` not set to 0.0, training time is v

[2020-04-05 10:39] yiakwy-enterprise-roborock opened #38237 "[Mismatch of Codes] built libtensorflow_cc.so does not match the interface of Eigen"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2020-04-05 10:49] azeemabbas commented on #34431
I worked for me but later on I got tf.contrib error. Even I tried on Google Colab, tf.contrib error is same.

So finally on my local machine, I downgraded the tensorflow to 1.15.x using
pip uninstall tensorflow
pip install pip install tensorflow==1.15.2

For Google Colab, I used

%tensorflow_version 1.x
import tensorflow as tf

[2020-04-05 11:07] lolpa1n commented on #38047
curl: (7) Failed to connect to localhost port 6006: Connection refused
![ss+(2020-04-05+at+04 05 49)](https://user-images.githubusercontent.com/47947340/78473119-8f676700-7757-11ea-8495-a9c66a3180f6.png)

[2020-04-05 11:37] venkatesh2374 commented on #35646
I retrief after 5-10 mins, it worked

[2020-04-05 11:44] yoshihikoueno commented on #38030
Here is the sample code to demonstrate this issue.

[code]

[2020-04-05 11:55] aligirayhanozbay commented on #37460
Looks like the nightly version returns a different error. Any reason why that may be?

Also, the original error is still there in the nightly version, if you try to instead run
[code]

but commenting out the @tf.function, we get the intended result:
[code]
with the correct shape `(16, 1, 48, 48, 2)` printed.

(Please note that I changed the tensor format to NHWC and, correspondingly, the shape of

[2020-04-05 12:05] JanMCHEN opened #38238 "Floating point calculation error"
tensorflow2.0 and python3.7
when i wanto calculate 165 * 3.1 or 165 * 2.1, i got a fake answer.
Like this:
tf.cast(165, tf.float32) * 2.1
Out: <tf.Tensor: id=43186, shape=(), dtype=float32, numpy=346.49997>
tf.cast(165, tf.float32) * 3.1
Out: <tf.Tensor: id=43261, shape=(), dtype=float32, numpy=511.49997>

i make sure its a error, but i wanto know why.

[2020-04-05 12:09] llllGEM commented on #38227
On my side I get another error about the dependencies not found

ERROR: Could not find a version that satisfies the requirement tf-nightly-gpu==1.15.0.dev20190729 (from versions: 2.2.0.dev20200210, 2.2.0.dev20200211, 2.2.0.dev20200212, 2.2.0.dev20200215, 2.2.0.dev20200216, 2.2.0.dev20200217, 2.2.0.dev20200218, 2.2.0.dev20200226, 2.2.0.dev20200227, 2.2.0.dev20200228, 2.2.0.dev20200229, 2.2.0.dev202

[2020-04-05 12:14] SanduDS commented on #30531
I did it using
`%tensorflow_version 1.x`
and restarting runtime.

[2020-04-05 12:15] SanduDS commented on #30531
I did it using
%tensorflow_version 1.x
and restarting runtime.

[2020-04-05 13:16] Krishnarohith10 commented on #29958
Hello..
For me it didn't, then I used 'accuracy' instead of 'acc', this worked for me.

[2020-04-05 13:24] akanyaani commented on #37969
Hi @ravikyram

Ya, it takes some time to create 5500 TF Records because it does not give an error with less number of the file.
I ran this Colab and was able to produce memory error I have attached the screenshot of the error.
Colab Gist:- https://colab.research.google.com/drive/1j2chtHRpLHjq-dWRsn7Lktgm3I3MgKul

<img width="1440" alt="Screenshot 2020-04-05 at 6 31 21 PM" src="https://user-images.

[2020-04-05 13:46] OriAlpha opened #38239 "Adding shape to _tensor_array_scatter"
How can I add shape to tensor_array_scatter?
I have tried with the following code but this doesn't work
![Screenshot from 2020-04-05 15-43-33](https://user-images.githubusercontent.com/41699212/78499993-4530b680-7754-11ea-9fc0-88f3c1f5274d.png)
is there another way to add shapes for graph

[2020-04-05 13:49] wadewangpower opened #38240 "Encountered error while reading extension file 'swift/repositories.bzl': no such package '@build_bazel_rules_swift//swift'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 18.04 LTS
- Mobile

[2020-04-05 13:55] robdeputter opened #38241 "TensorFlow Lite image_segmentation example for iOS doesn't build"
## URL(s) with the issue:
https://github.com/tensorflow/examples/tree/master/lite/examples/image_segmentation/ios
## Description of issue (what needs changing):

The README must be provided with an explanation of how to change the settings of the project. At the moment I have problems adjusting the development team ("**Signing**").
Error message: No profile for team 'Rob De Putter (Personal Team)'

[2020-04-05 14:18] Saduf2019 commented on #38240
@wadewangpower
is there any particular reason to be using 1.14 version, do you want to try on any later version?

please refer to this [link](https://www.tensorflow.org/install/source#setup_for_linux_and_macos)
please refer to these links and let us know if they help
#26553 #27352 #30111 #25644 #25747

[2020-04-05 14:19] amalroy2016 commented on #35585
Experiencing the same here. Any updates on when to expect a fix???

[2020-04-05 14:23] aman386490 opened #38242 "Tensorflow"

[2020-04-05 14:28] wadewangpower commented on #38240
There is no particular reason that i have to use 1.14 version, just because i saw this [instruction](https://programmer.ink/think/tensorflow-android-side-compile-procedure-record.html#1Bazel_0241_18) which provide all other matched version, so i followed  it. If i don't use tf1.14, which version do you recommend ? and is there any tutorial with this tf version ? Thanks !

[2020-04-05 14:29] nsarang commented on #22098
Any updates?

[2020-04-05 14:40] irdanish11 commented on #24828
This error I got on my machine due to out of memory (The trace back didn't told me that), I found out because 4th solution (Given below) worked for me. And interesting thing was that I had two machines with following specs:

### Machine 1:
1. *OS:*           Windows 10 x64
2. *GPU:*         GTX 1060 6GB,
3. *Cuda:*       10.0,
4. *CuDNN:*    v7.6.4.38
5. *TF:*             1.15 GPU
6. *conda/pip?*

[2020-04-05 14:43] irdanish11 commented on #24828
@RobKwiatkowski Please try one of them : https://github.com/tensorflow/tensorflow/issues/24828#issuecomment-609426655

I hope this will solve your issue. And please let me know whether it solved your issue or not.

[2020-04-05 14:46] rohanreddych commented on #38218
Not the place.

[2020-04-05 15:08] abhinavsp0730 commented on #38238
Hey, @JanMCHEN  you're getting this type of answer because you're multiplying a tensor with the floating number.
please see the gist for doing this: https://colab.research.google.com/drive/1HD7ScmyvOSuoXz7z7iGW7fLk-S95itGe#scrollTo=GkHs7h9l32un
And If it doesn't solve your query, then feel free to reach out to us.

[2020-04-05 15:12] rafiqhasan commented on #28976
Yes , thanks ! This still solves the problem.

[2020-04-05 15:13] abhinavsp0730 commented on #38219
Hey, @Mahati04  would you please provide your code so that we'll try to replicate the error in our machine?

[2020-04-05 15:15] aGiant commented on #36694
Many thanks for your reply!
Yes, I saw the solution there and explained the results.

But the task is not to use the same weights but to get the almost the same convergent from any initial start points. In the end, the difference (abs error) between the two approaches should small enough, i.e. <= 1e-6. But the re-production from https://colab.research.google.com/gist/ravikyram/e790680dd021f39d1daa

[2020-04-05 15:37] jsimsa commented on #37969
This is not a memory leak and is working as intended. `group_by_window` will maintain up to `num_keys * window_size` elements buffered in memory. If you have too many keys or too many windows, you will use a lot of memory.

IIUC, your program is effectively trying to do an in-memory sort using the query ID as the key. If your dataset does not fit into memory this will not be possible.

What is not

[2020-04-05 15:46] jsimsa commented on #37998
The answer is most likely that the `glue_convert_examples_to_features` method (for which I do not see source code) is doing something that prevents `tf.data.experimental.cardinality` from statically inferring the size of the output dataset.

Like shape inference, `tf.data.experimental.cardinality` will only produce a known answer if the answer can be determined by static analysis (i.e. without exe

[2020-04-05 15:46] #37998 closed

[2020-04-05 15:53] lminer commented on #37839
@gowthamkpr the callback has the option of either saving weights or saving the entire model. Given that it has this option, and that it has the ability to delivery this functionality provided you are saving in SavedModel format, why not enable it?

[2020-04-05 16:22] mrchor opened #38244 "How to deal with variable length weight category features in tensorflow?"
How to deal with variable length weight category features in tensorflow?

For example:

 `vocabulary_list=['A','B','C']`

The original feature format is as follows:

`    [
    'A:1.5,B:0.3,C:0.8',
    'D:0.9,B:1.8',
    'A:1.2,B:3.2,E:1.5'
    ]`

After treatment, the results are as follows:

`    [
    [1.5,0.3,0.8,0.0],
    [0.0,1.8,0.0,0.9],
    [1.2,3.2,0.0,1.5]
    ]`

Please help me~~~

Tha

[2020-04-05 16:49] tgsmith61591 commented on #25299
This is something my company would really like to see implemented as well. We've implemented a number of custom model architectures via the subclass API, and due to the nature of the problems we're solving, a dictionary of labels is necessary (the multiple targets are different ranks, and our custom loss layers know how to handle different targets). Is there any plan for this to be implemented in

[2020-04-05 16:59] vqbang commented on #28418
@jkotra same mistake, thanks a lot :D.

[2020-04-05 17:20] pabloi09 commented on #36436
Hello,
I'm having the exact same issue trying to implement improved wgan for 1D data.

Did this worked for you? Did you come to other solution?
Thank you!

[2020-04-05 17:21] jackd-msft opened #38245 "register keras serializables is module_objects"
**System information**
- TensorFlow version (you are using): 2.1
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
I've been using keras serialization and while it mostly works well, I have two issues:
* there seems to be duplicated functionality in `get` and `deserialize` across `tf.keras` submodules, and inconsistent support (e.g. no `tf.k

[2020-04-05 17:49] ms-ims opened #38246 "Train a Simple Audio Recognition model for microcontroller use build issue"
I'm not able to install dependencies in Colab in this Train a Simple Audio Recognition model for microcontroller model.
Error shows:
1. Could not find a version that satisfies the requirement tf-nightly-gpu==1.15.0.dev20190729
2. No matching distribution found for tf-nightly-gpu==1.15.0.dev20190729

Can someone guide how to resolve it?

[2020-04-05 17:52] kunalvshah opened #38247 "gpu-jupyter.Dockerfile has bugs - docker build fails."
After yesterday's edit, few bugs surfaced in gpu-jupyter.Dockerfile
file url tensorflow/tools/dockerfiles/dockerfiles/gpu-jupyter.Dockerfile

1) line #81 should have \
python3 \
2) line #100 should be
RUN python3 -m pip  install --no-cache-dir ${TF_PACKAGE}${TF_PACKAGE_VERSION:+==${TF_PACKAGE_VERSION}}

without these changes, docker build fails.

[2020-04-05 18:55] tanzhenyu commented on #34131
@Santosh-Gupta What do you mean by "The original tensorflow losses had options for negative sampling, including different distributions to select from" whereas TF2 doesn't have it?

[2020-04-05 19:05] hihell opened #38248 "in nmt_with_attention, the gru in decoder is not connected, last step state is not passed to this step"
https://www.tensorflow.org/tutorials/text/nmt_with_attention

the decoder is trained step by step, and it's not passing last step state to this step

[code]

is this a feature or a bug? I checked a lot of NMT with attention paper, unlike the document those decoder are connected.

thanks in advance!

[2020-04-05 19:29] akanyaani commented on #37969
Hi @jsimsa

Yes, because my make_datet is interleaving entries from different files, Can you please help me out to change that part of code.

[2020-04-05 19:42] fatmafarah opened #38249 "problem of compling with tensorflow"
I have a problem with compling with tensorflow in jupyternotebook. This is the error message
Traceback (most recent call last):

File "c:\users\home\miniconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3331, in run_code
exec(code_obj, self.user_global_ns, self.user_ns)

File "", line 1, in
import tensorflow as tf

File "c:\users\home\miniconda3\lib\site-packages\tensorflow_init_.py

[2020-04-05 19:53] fatmafarah commented on #38249
just to make it clearer, maybe it is an installation problem.
well pip install tensorflow didn't work at first, I had this messag error
"
ERROR: Could not find a version that satisfies the requirement tensorflow (from versions: none)
ERROR: No matching distribution found for tensorflow "

so I used this line that I found somewhere to install tensorflow
pip install --upgrade https://storage.googlea

[2020-04-05 19:54] guptapriya commented on #37779
@dimitreOliveira where is the `get_validation_dataset` method defined? I couldn't find it in the shared notebook.
Why are you using dataset.cache() in the dataset? That could cause memory issues. Is it too slow to read the dataset everytime?

[2020-04-05 19:55] guptapriya commented on #37779
Also - are you able to run with latest TF nightly on kaggle? Or is 2.1 the only option?

[2020-04-05 19:59] jsimsa commented on #37969
The easiest option is to specify `num_parallel_reads=None` when calling the `TFRecordDataset`. That way your input pipeline will be processing files in a sequential order instead of interleaving their elements.

[2020-04-05 21:03] haroldpnn commented on #38234
Sorry. It's my mistake. Now I use tf.data, and it seems OK.
This [post](https://blog.tensorflow.org/2019/01/keras-on-tpus-in-colab.html)is helpful to me.

If you want to use TPU, then you must prepare your data correctly. It is an important thing.

Data preparation:
[code]

Model training:
[code]

[2020-04-05 21:06] swierchola opened #38250 "Incompatible shapes when loading model with TextVectorization and Embedding + Conv1D"
There is **ValueError: Shapes incompatible** when trying to load_model with **TextVectorization** and **Embedding** + **Conv1D** (or **LSTM** or **GRU**).

It can be easily replicated using _TextVectorization layer examples_ from TF documentation. You just need to add _model save & load_ to _Using the TextVectorization layer in an Embedding + Conv1D model_ sample.
I created [copy of TextVectorizat

[2020-04-05 21:08] yongtang commented on #38215
@xqiangx1991 Please be more specific and provide a minimal reproducible code snippet. The description you provided is not very clear to reproduce.

[2020-04-05 21:13] hamelsmu opened #38251 "Error Loading Weights with `by_name=True`"
Here is a short Colab notebook with this error

https://colab.research.google.com/drive/1Z9RoOtyPw-MXnDgPK5irbuZ9I6tpz-zM

**Describe the current behavior**
Error message complains that I must have `TensorFlow-formatted weights` however when I am saving weights I am saving this as TensorFlow formatted weights, using the below code:

[code]

**Describe the expected behavior**

**Standalone code to

[2020-04-05 21:20] fatmafarah opened #38252 "problem of compling tensorflow due to installation"
I have a problem with compling with tensorflow in jupyternotebook. This is the error message
Traceback (most recent call last):

[code]

just to make it clearer, maybe it is an installation problem.
well pip install tensorflow didn't work at first, I had this messag error

[code]

so I used this line that I found somewhere to install tensorflow

[code]

and then I needed the version 1.10.0 of tens

[2020-04-05 21:50] AarshApple opened #38253 "Import error in tensorflow_datasets"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): NO
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): MAC OS Catalina
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: NA
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below): pip install

[2020-04-05 21:57] kumaradi08 opened #38254 "tensorflow build from source issue on Window 10 (Taking too much time)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Window 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.1
- Python version: 3.6
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from source): 0.27.2
- GCC/Compil

[2020-04-05 22:00] istvan1000 commented on #9829
I think I tried to re-install Numpy 4-5 times, it didn't help. The strange thing is that on one Powerbook it works, on the other it doesn't. My suspect is that it has to do with the graphicard, this is the only difference between the two Macs and somewhere there is coming a conflict.

[2020-04-05 22:57] fatmafarah opened #38255 "tensorflow issue"
Hey, I can't install tensorflow
If I write pip install tensorflow the error message is
ERROR: Could not find a version that satisfies the requirement tensorflow (from versions: none)
ERROR: No matching distribution found for tensorflow
 please help
thank you

[2020-04-05 23:01] tonytonev commented on #36146
Thanks, I'm working on getting it to build locally so I can run tests, and I'll submit a PR soon.

[2020-04-05 23:38] mihaimaruseac commented on #38252
Please fill in issue template

[2020-04-05 23:40] mihaimaruseac commented on #38254
The build unfortunately takes a long time. Furthermore, if the RAM usage is bigger than RAM available the build will crawl even slower as it needs to use swap.

[2020-04-05 23:40] mihaimaruseac commented on #38249
Duplicated to #38252.

Please fill in issue template

[2020-04-05 23:40] #38249 closed

[2020-04-05 23:43] mihaimaruseac commented on #38242
Closing as no description provided. Please fill in issue template

[2020-04-05 23:43] #38242 closed

[2020-04-05 23:47] mihaimaruseac commented on #38255
Closing as no issue template being filled and as there are 2 other similar issues opened by the same user in the same time interval. Deduplicating to #38252

[2020-04-05 23:47] #38255 closed

[2020-04-05 23:49] mihaimaruseac commented on #38235
This is not a coding issue. It is caused by your network connectivity getting interrupted during a large download. The only option is to retry or download from a different network connection.

[2020-04-05 23:49] #38235 closed

[2020-04-05 23:50] mihaimaruseac commented on #38182
Closing as not an issue of main TensorFlow. Please reopen on TensorFlow Federated

[2020-04-05 23:50] #38182 closed

[2020-04-06 00:22] balloch commented on #26209
This worked better for me than putting them in the CUDA directory at first, but that was because my LD_LIBRARY_PATH was not set. In the CUDA installer guide, they say that this is only necessary for the post-install of a runfile installer. This is bad advice. do it for all installations. Then @Aquinius-Aquila answer will work.

[2020-04-06 00:43] tensorflowbutler commented on #37068
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-06 01:31] #38122 closed

[2020-04-06 01:46] EthanPhan opened #38257 "[TF2.1][TPU] Connection reset by peer during training"
**System information**
- TensorFlow version: 2.1
- Python version: 3.6.9
- TPU version: - 2.0

**Describe the current behavior**
I'm using TPU to train a model for Named Entity Disambiguation task using a BERT model from the huggingface. During training I randomly get this error saying the connection is reset by peer.

**Standalone code to reproduce the issue**
Training code:
[code]

What the call

[2020-04-06 02:46] sanjoy commented on #38007
So once execution reaches that point you cannot just kill the TF process, you *have* to reboot?  If so, this seems like it could be a problem with the NVIDIA driver.

@chsigg Do you know of any extra logging we can enable on the CUDA driver to help triage this further?

[2020-04-06 03:03] adelcast commented on #36757
Any pointers on the proper way to enable eager execution on layer.call()? I hit this issue converting a model that uses a custom layer to tflite. The conversion fails since the custom layer call function is not being executed eagerly (tf.executing_eagerly() is returning False). I have been looking around on the documentation, and just can't find how to force my custom layer to use eager mode...

[2020-04-06 03:29] JanMCHEN commented on #38238
Thanks, i just hope to get a correct answer when i calculated 165 * 2.1,it should be 346.5. I solved it through 165 * 2 * 2.1 / 2, it worked but it is means that i will get a wrong answer sometimes when i calculated the float number as a common way.
我母语是汉语，可能表示的不是很清楚，我想说的是这是不是意味着我用tensorflow做浮点运算时我应该时刻注意它的输出，因为其有可能不是正确的答案，或者这背后涉及到数据类型转换，我对C Language 了解一点，但还是不明白这个浮点运算为什么会出错。谢谢解答

[2020-04-06 03:39] JanMCHEN commented on #38238
@abhinavsp0730 You multiplyied the tensor with the tensor, but it still not the right answer of calculating the two floating numbers.

[2020-04-06 03:46] guptapriya commented on #33649
@netw0rkf10w  I just ran the notebook you linked, and I don't see those warnings. Can you check if you're still seeing them?

(Note that you should install tf-nightly-gpu instead of tf-nightly if you're planning to GPUs - but this is orthogonal point).

[2020-04-06 03:52] martinwicke commented on #19602
We are evaluating this project in the context of implementing a stronger
type system.

@agarwal-ashish FYI

[2020-04-06 03:54] guptapriya commented on #34025
@ywpkwon I tried the code you originally linked in a colab with tf-nightly-gpu and I don't see the warnings anymore. Please re-open if you still see the warning.

@ageron @bela127, others- Please file a separate ticket for the RNN issue or other issues without multi GPU.

[2020-04-06 03:54] #34025 closed

[2020-04-06 03:55] abhinavsp0730 commented on #38238
Would you please be more specific what you're referring for the right answer?
I don't used tf.math.multiply because, i think you're dealing with scalar.

[2020-04-06 04:10] jvishnuvardhan commented on #36694
@aGiant In my experience I have never seen<<1e-6 difference when complex custom_loss functions are used. There could be many reasons why it is `error = 0.11463253099176529 >>1e-6.`.  It could be due to the custom_loss or random_weights generated at the cloning inference, or SGD, or random_samples, or data size, or numerical error etc. Thanks!
Hope this helps you. Thanks!

[2020-04-06 04:39] kunalvshah commented on #38247
I think the file that needs to be changed is
tensorflow/tensorflow/tools/dockerfiles/partials/ubuntu/python.partial.Dockerfile

[2020-04-06 04:44] JanMCHEN commented on #38238
@abhinavsp0730 When i wanto get a images'shape, it is expressed in tensors.Now i want to calculate its shape after expanding scale times.Usually i can get the shape by calulating "img.shape * scale", but you see when the shape is like(165,    ),scale equals to 2.1, i will get a confused anwser.
   165 times to 2.1 should be 346.5 but i got 346.4999,then i fall into a bug. I'm training a
Super reso

[2020-04-06 04:48] Saduf2019 commented on #38253
@AarshApple
Could you please let us know the tensorflow version on which error is faced, share a simple stand alone code before which this error was faced for us to replicate it.

as per the error shared please refer to [this link](https://github.com/tensorflow/tensorflow/issues/26546) and let us know if that helps.
#106 [link](https://stackoverflow.com/questions/56920995/not-able-to-import-tensor

[2020-04-06 05:00] Saduf2019 commented on #38252
@fatmafarah
please let us know the tensorflow version on which error is faced.
We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

As per error please refer to below issue if it helps
#31058

[2020-04-06 05:12] vbardiovskyg commented on #26602
Hi @mmilosav,

this is due to how partial works. See the following snippet using partial outside of TensorFlow context:

[code]

[2020-04-06 05:19] danijar commented on #19602
Good to know, thanks.

[2020-04-06 05:27] aniketmaurya commented on #38251
@hamelsmu  While loading your weights set **by_name=False** :
`new_model.load_weights('model_weights', by_name=False)`

[2020-04-06 05:33] pigubaoza commented on #33146
Hi I am also experiencing slowness with 1.14 with mkl. It is slower than 1.14 without MKL.
I'm using the intelaipg/intel-optimized-tensorflow:1.14.0-mkl-py3 docker image rather than building it myself, running darknet based yolov3.
Any updates regarding these fundamental issues?

[2020-04-06 05:33] Saduf2019 commented on #38224
@Saran-nns
please let us know which tensorflow version are you facing the issue in

[2020-04-06 05:37] aniketmaurya commented on #38251
While loading your weights set **by_name=False** :
`new_model.load_weights('model_weights', by_name=False)`

[2020-04-06 05:42] Saduf2019 commented on #38219
@Mahati04
please share tensorflow version and simple stand alone code for us to replicate the issue faced.

We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

As per error faced check these existing issues.
##37720 #36419 #30794 #36269  #36878 #32147 #35197 #31350 #34083 #27084 #32621

[2020-04-06 05:50] guptapriya commented on #27392
This was fixed in https://github.com/tensorflow/tensorflow/commit/3a22ef3c8a466123d60c1a5d10d62e4d2d0f92d2#diff-4617aef7d483dc28665b640fbe23c18d.

[2020-04-06 05:50] #27392 closed

[2020-04-06 05:51] Saduf2019 commented on #38211
i am able to replicate this issue, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/38d3adcbe02fb9e977f93f2e7b7f05fc/38211.ipynb)

[2020-04-06 05:59] amahendrakar commented on #38143
@bmc2-stripe,
Could you please check @khimraj's comment and let us know if it works? Thanks!

[2020-04-06 06:06] amahendrakar commented on #38190
@crystina-z,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-04-06 06:07] hamelsmu commented on #38251
@aniketmaurya  what if I want to load the weights by name?  I want to make sure that I only load weights where the layer names match.  Thanks for your help!

[2020-04-06 06:09] guptapriya commented on #36973
@haoyuz @dubey can one you comment on this? both for the collective ops used in distributed training, but also other types of communication in the runtime in TF2.

[2020-04-06 06:16] amahendrakar commented on #38195
@diggee,
While reproducing the issue, I ran into an error stating `FileNotFoundError: [Errno 2] File train.csv does not exist: 'train.csv'`

In order to expedite the trouble-shooting process, could you please provide all the supporting files required to reproduce the issue reported here. Thanks!

[2020-04-06 06:17] tanzhenyu commented on #34131
Closing this. If the above article doesn't help you, let us know!

[2020-04-06 06:17] #34131 closed

[2020-04-06 06:25] diggee commented on #38195
Hi, the data was bigger than Github's allowed size limit. Can you please download it from [here](https://www.kaggle.com/c/jigsaw-toxic-comment-classification-challenge/data)

[2020-04-06 07:06] pandrey-fr commented on #33844
@faroit I agree, TF 2.2 solves this issue - well, at least, it provides a general solution to it, which is really great!

[2020-04-06 07:13] pryadchenko commented on #24828
@irdanish11, thank You for trying to help, but I think we have slightly different reasons for this issue. As for me, none of the cases you've listed are relevant:
1) this issue come within just started container (no cache);
2) this issue comes with even simple model (i.e. one conv layer with one filter) - so, it cannot be out of memory error at all;
3) everything within an official docker image is

[2020-04-06 07:23] gadagashwini commented on #38217
@jackyesf, Tensorflow 2.1 is latest stable release, which has new features and many fixes comapred to Tf2.0. It would be good to use Tf 2.1. Thanks

[2020-04-06 07:25] zaccharieramzi commented on #34025
@guptapriya

Here is a new code snippet you can use to reproduce the issue in tf 2.2.0rc2:
[code]

I am using Python 3.6.8, on Ubuntu 16.04, without GPU and tf installed from pip.
This got me the following warnings:
[code]

Do you want me to file a separate ticket? I think it looks like the same issue.

[2020-04-06 07:39] gadagashwini commented on #38225
@MoyoT, Can you provide complete standalone code to replicate the reported issue. Thanks

[2020-04-06 07:58] tonytu123 commented on #24828
I use a new conda create --name myenv python=3.XX...
I install tf-gpu=1.15.0 and keras=2.24,
And I plus
[code]

Finally,I can run.
I don't know why....

[2020-04-06 08:05] pryadchenko commented on #24828
`config = tf.compat.v1.ConfigProto()
config.gpu_options.allow_growth = True
session = tf.compat.v1.InteractiveSession(config=config)`
this works (one can find this snippet everywhere), but it is a hack, not a solution.

[2020-04-06 08:06] gadagashwini commented on #38233
@phuongchi911, Thanks for reporting this issue.
Can you provide the access to the dataset. Thanks

[2020-04-06 08:12] gadagashwini commented on #38030
@yoshihikoueno, I tried with Tf2.2 rc1, received `TypeError: 'NoneType' object is not subscriptable` . Please take a look at [gist](https://colab.sandbox.google.com/gist/gadagashwini/0ee73dfa03dce12f0bcebc2496bdf7ae/untitled486.ipynb) and confirm the expected behavior. Thanks

[2020-04-06 08:12] amahendrakar commented on #38213
@zhuzilin,
In order to expedite the trouble-shooting process, could you please provide a minimal code sample to reproduce the issue reported here. Thanks!

[2020-04-06 08:24] yiakwy-enterprise-roborock commented on #38237
@gadagashwini
I have resolved the problem by manually adding the following path to my FindEigen3.cmake module:

[code]

It seems that the released cmake-3.3.9 used by tensorflow-2.2.0-rc is patched. Only the correct version does not help. Hence I dig into the bazel building system and find the relevant eigen3 files used by tensorflow, it shows that they share template with same number of 5 argumen

[2020-04-06 08:24] #38237 closed

[2020-04-06 08:25] amahendrakar commented on #38218
@swaroop23,

Could you please elaborate the issue you are facing? Thanks!

[2020-04-06 08:27] Saduf2019 commented on #38216
@tarrade
This has been noted and it will be taken care in next release, please refer to [this comment](https://github.com/tensorflow/tensorflow/issues/38042#issuecomment-608036111)

please confirm if we may move this to closed status as its already noted to be taken care.

[2020-04-06 08:28] phuongchi911 commented on #38233
@gadagashwini thanks so much for fast response. Please kindly refer to this link for the dataset https://drive.google.com/open?id=1cP_pQkujP_PRDC1fT6muA03BHiWYVPYQ

I am looking forward to your advice.

[2020-04-06 08:29] gadagashwini commented on #38246
@ms-ims, Currently, Tf-nightly-gpu version is 2.2.0.dev20200405, For more read [here](https://pypi.org/project/tf-nightly-gpu/). To install tf 1.15.
Try, pip install tensorflow==1.15. Thanks

[2020-04-06 08:34] MoyoT commented on #38225
https://colab.research.google.com/drive/1Szs8AikhKI6olIDjdZSLuhQ1GUZRe8kh

That is the google colab link.
Even once we have debugged this issue, i expect there will be more before it is fully functional. For instance , the number of indices parsed to tf.gather() probably arent the same numebr as the shape of the weight matrix implies. so we wont be able to reshape it to the same size afterward.

o

[2020-04-06 08:37] aGiant commented on #36694
@jvishnuvardhan
Here is another test using SGD with error <= 1e-6 with many different initial start points and they all got the same error delta within the same epochs = 22.
![image](https://user-images.githubusercontent.com/25084782/78538987-24b73980-77f2-11ea-9144-9f56e16c8650.png)

With tensorflow 2.0, with SGD, same data, same setting till error<=1e-6, it took 151 ± n, with different initial s

[2020-04-06 08:44] gadagashwini commented on #38237
@yiakwy-enterprise-roborock, Glad it worked.

[2020-04-06 08:45] amahendrakar commented on #38222
@hfinkel,
I tried reproducing the issue, but was able to run the code without any warning or error logs. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/20b6214077c4d93d5f268ab0f1c009a9/38222-2-1.ipynb).

Could you please try changing the log level using the following code and let us know if it works?
[code]
Thanks!

[2020-04-06 08:48] chsigg commented on #38007
`CUDA_VISIBLE_DEVICES` might make debugging simpler without having to remove one of the cards. But the fact that you're now stuck in a bootloop seems to indicate that there is a more fundamental problem with your system. You could also try to write a little test program, along these lines:

[code]

[2020-04-06 08:56] gadagashwini commented on #38202
I could replicate the issue with Tf 2.1.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/ffa7a4134bbf80c98e26875192fbbb56/untitled487.ipynb). Thanks!

[2020-04-06 08:59] gadagashwini commented on #38210
@roymiles, Can you provide the minimal code snippet to replicate the reported issue. Thanks!

[2020-04-06 09:04] yoshihikoueno commented on #38030
@gadagashwini Yes, that behavior is not expected and it's caused by the bug I'm pointing out here. The root problem of this bug is that compute_output_shape function calls _maybe_build function with the wrong argument, which makes input_shapes to be None.

With my [pull request](https://github.com/tensorflow/tensorflow/pull/38031), it works as expected.

[2020-04-06 09:12] yoshihikoueno commented on #38030
@gadagashwini Here's the sample result.

With the current master branch,
[code]

With (the pull request)[https://github.com/tensorflow/tensorflow/pull/38031] applied:
[code]

[2020-04-06 09:14] roymiles commented on #38210
`
import tensorflow as tf

a = tf.zeros(shape=(100, 100))
b = tf.zeros(shape=(100, 300))

c = tf.einsum('ij,jk->ik', a, b, optimize=True)
`

Is enough to reproduce the error. In the documentation, **kwargs should allow an `optimize` keyword argument, similar to np.einsum.

In case anyone is having the same problem, https://optimized-einsum.readthedocs.io/en/stable/ is a good solution that supports

[2020-04-06 09:17] charmasaur commented on #37525
I had a look into this and think I found the root cause(s).
1. a bug in poetry, which causes version 2.2.0rc0 of tensorflow-estimator to get installed despite tensorflow specifying a version of <2.2.0 (https://github.com/python-poetry/poetry/issues/2271)
2. tensorflow-estimator 2.2.0rc0 has a circular import, introduced in https://github.com/tensorflow/estimator/commit/a70da58fef26d2c027cc379b15d9

[2020-04-06 09:20] akanyaani commented on #37969
Hi @jsimsa,

I have updated the code according to your suggestion and it returns the output as an expectation but this pipeline is very slow and GPU has to wait after every step.

[code]

[2020-04-06 09:27] amahendrakar commented on #38226
@saberabdelhady,
Could you please confirm if the issue is related to TensorFlow?

If is it, please provide the exact sequence of commands / steps that you executed before running into the problem. Thanks!

[2020-04-06 09:33] daryl-user commented on #36193
Hi, for those who still have problems, here's my experience:
Ensure that you are importing tensorflow_estimator.contrib via the correct path. I realized my path to TensorFlow and path to tensorflow_estimator were different, whereby even though I did have tensorflow_estimator.contrib, my system path went the wrong way. Here's how to check:

import tensorflow_estimator
print(tensorflow_estimator.__f

[2020-04-06 09:46] Saduf2019 commented on #38197
@Zethson
i ran the code shared by you and face the error in [this gist](https://colab.sandbox.google.com/gist/Saduf2019/2877c126568248d87c939427a38cf752/untitled128.ipynb)

[2020-04-06 09:47] amahendrakar commented on #38230
@fxtentacle,
In order to expedite the trouble-shooting process, is it possible to provide a minimal code sample to reproduce the issue reported here. Thanks!

[2020-04-06 09:48] Zethson commented on #38197
[code]

I don't see how this error is related to the code? Seems to be a jupyter notebook kernel issue, no?

[2020-04-06 10:00] amahendrakar commented on #38234
@haroldpnn,
Is this still an issue? Please feel free to close the issue if resolved. Thanks!

[2020-04-06 10:01] Saduf2019 commented on #38205
@nouiz
as there is a PR to monitor this, please let us know if we may move this to closed status

[2020-04-06 10:23] tarrade commented on #38216
@Saduf2019 sorry, I tried to look at existing tickets and I missed the already existing one since it was already closed. It is a duplicate so you can close it. Thanks

[2020-04-06 10:23] Saduf2019 commented on #38220
i have replicated this issue, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/2a4a8291cd03e38ae55800018699ab06/untitled127.ipynb#scrollTo=L4o6kJXp_ptT)

[2020-04-06 10:28] LeeJH opened #38260 "Failed to find bogomips warning"
Hi,
Tensorflow fails to find the bogomips because the word "bogomips" is in uper-case in my OS:
"""
processor       : 1
BogoMIPS        : 100.00
"""
tensorflow/core/platform/profile_utils/cpu_utils.cc:106] Failed to find bogomips or clock in /proc/cpuinfo; cannot determine CPU frequency

[2020-04-06 10:29] Saduf2019 commented on #38216
moving this to closed status with confirmation

[2020-04-06 10:29] #38216 closed

[2020-04-06 10:33] saikrishnadas commented on #34287
Ubuntu 18.04
Tensorflow 2.1 GPU supported
TensorRT 6.0
CUDA 10.2
Cudnn 7.6.5

This is what I got :

[code]

[2020-04-06 10:36] RobKwiatkowski commented on #24828
None of the above-mentioned solutions helped me. However, I found possibly reason for my issue:

My GPU - Nvidia **GTX1660 SUPER** is not on a list on a developer "[CUDA-Enabled GeForce and TITAN Products](https://developer.nvidia.com/cuda-gpus)" webpage.

Although, directly on [Nvidia GeForce webpage](https://www.geforce.com/hardware/technology/cuda/supported-gpus?field_gpu_type_value=All) it is

[2020-04-06 10:39] Saduf2019 commented on #38141
@Bstrum36
please let us know if we may move this to closed status

[2020-04-06 10:43] Saduf2019 commented on #38023
i have replicated the issue with shared gist, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/f68bd79eef90e8085b76c365b53fc766/untitled129.ipynb)

[2020-04-06 10:45] hyogrin commented on #37262
Same issue here on "ssd_mobilenet_v1_coco_2017_11_17" and "ssd_mobilenet_v2_coco_2018_03_29" Does anyone find the solution? Does anyone knows the reason why it is not working? Using the frozen graphs is the best option for now?

[2020-04-06 10:46] Saduf2019 commented on #38012
@flydragon2018

could you please update as per above comment

[2020-04-06 10:47] Saduf2019 commented on #37989
@sclavel
please update as per above comment

[2020-04-06 10:50] Saduf2019 commented on #31842
@akanyaani ,
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-06 10:50] #31842 closed

[2020-04-06 10:52] Saduf2019 commented on #37720
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-06 10:52] #37720 closed

[2020-04-06 10:53] Saduf2019 commented on #37746
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-06 10:53] #37746 closed

[2020-04-06 10:54] Saduf2019 commented on #37823
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-06 10:54] #37823 closed

[2020-04-06 10:57] ginsanity15 commented on #36083
@manivaradarajan I have experienced the same problem and I tried to debug it by running the code provided by you. However, it asked me to copy all the output to the comment (as provided below). Could you please tell me what is the problem in my case? Thanks for your help in advance.

### Diagnostics

<details>
<summary>Diagnostics output</summary>

[code]

</details>

### Next steps

No action ite

[2020-04-06 10:58] Saduf2019 commented on #38260
@LeeJH
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template

[2020-04-06 11:05] plaffitte opened #38261 "estimator.train_and_evaluate() sometimes throws errors during training"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  Yes
- OS Plat

[2020-04-06 11:07] #38238 closed

[2020-04-06 11:08] #38234 closed

[2020-04-06 11:23] Nipsa24 opened #38262 "Import Error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):windows 10
- TensorFlow install

[2020-04-06 11:26] netw0rkf10w commented on #33649
@bela127 Nice finding, thanks.

@guptapriya Thanks. It seems that the bug has been fixed in the latest `tf-nightly-gpu`. Let me close this issue.

[2020-04-06 11:26] #33649 closed

[2020-04-06 11:27] kieranricardo opened #38263 "Add a Mutable Hash Table of Ragged Tensors"
**System information**
- TensorFlow version 2.1:
- Are you willing to contribute it Yes:

**Describe the feature and the current behavior/state.**

`tf-nightly` has `MutableHashTableOfTensors` for fast lookups of key/tensor pairs. This feature request is to add similar functionality for `RaggedTensor`s, either by adding `RaggedTensor` support to `MutableHashTableOfTensors` or creating new ops for

[2020-04-06 11:34] gadagashwini commented on #38239
@OriAlpha, Please provide the complete standalone code replicate the issue and share the Tensorflow version that you are using. Thanks!

[2020-04-06 11:34] konschat commented on #34361
Hello @mimimichelle , can you specify what was that exactly?

[2020-04-06 11:41] gadagashwini commented on #38223
@hahadashi, I tried reproducing the issue with Tf 2.0 but received different error.
Please take a look at the [gist](https://colab.sandbox.google.com/gist/gadagashwini/9b25d752b3d77347cc8d727c54e96d1a/untitled488.ipynb) and provide the more information to analyze the issue. Thanks

[2020-04-06 11:46] gadagashwini commented on #38134
@yskale, Can you share the full error log?

[2020-04-06 11:47] mdanatg commented on #38170
@jsimsa
This is a known limitation: tf.data operations only support graph execution. We plan to document this more clearly.

[2020-04-06 11:53] gadagashwini commented on #38194
@Farxial, To use CUDA 10.2 with Tensorflow 2.2. Please build the Tensorflow from source.
Follow the instructions mentioned [here](https://www.tensorflow.org/install/source). Thanks

[2020-04-06 12:01] grzegorzk commented on #34401
Today I tried to build tensorflow 1.14 with CUDA 9.1 and CUDNN 7 and my build failed with same error:

[code]

[2020-04-06 12:04] gadagashwini commented on #38198
Was able to reproduce the issue with Tf2.1.
Pleas find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/fddfec4fe89b58d863090f06a6e6691a/untitled490.ipynb). Thanks

[2020-04-06 12:08] amahendrakar commented on #38262
@Nipsa24,
Could you please verify if you have installed the [vc_redist.x64.exe](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads) file?

Also, please check [this comment](https://github.com/tensorflow/tensorflow/issues/27816#issuecomment-609096989) from a similar issue and let us know it is helps. Thanks!

[2020-04-06 12:17] amahendrakar commented on #38251
Was able to reproduce the issue with [TF v2.2.0rc2](https://colab.research.google.com/gist/amahendrakar/b13ea01f9d05c2d4150b00d8255697ce/38251-2-2.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/7a6e5b16aaacf0d457acf62559df8879/38251-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-04-06 12:20] rajaniyadav opened #38264 "Train a Simple Audio Recognition Model"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform

[2020-04-06 12:21] gadagashwini commented on #38250
Was able to reproduce the issue with Tf == 2.2.0-dev20200406,
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/854c310a2ebd436813b2fc61a112aef8/untitled489.ipynb). Thanks!

[2020-04-06 12:29] amahendrakar commented on #38257
@EthanPhan,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-04-06 12:32] OriAlpha commented on #38239
Here you can find the details about the script and model in google [drive](https://drive.google.com/drive/folders/1aVAva4Q5bFGafpKBbvuBcFz0yaaW7jNB?usp=sharing)

[2020-04-06 12:33] bewithme opened #38265 "java.lang.IllegalArgumentException: Cannot assign a device for operation"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):

- Linux versi

[2020-04-06 12:38] LeeJH commented on #38260
I am running tensorflow on CentOS Linux release 7.6.1810 (AltArch) with aarch64 architecture.  I compile the tensorflow(version 2.2.0-rc2 ) from source code using command: bazel build --config=v2 --config=monolithic --config noaws --linkopt="-Wl,-rpath=/usr/local/lib64" //tensorflow/tools/pip_package:build_pip_package

[2020-04-06 12:38] OriAlpha commented on #38239
The final output of the script is at variable graph_def but this doesn't have a shape for the nodes in it, example **tensor_array_scatter node** doesn't have  a shape

[2020-04-06 12:43] saikumarchalla commented on #38231
@jinfagang Could you please provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2020-04-06 12:48] saikumarchalla commented on #38227
@llllGEM  Currently, Tf-nightly-gpu version is 2.2.0.dev20200405, For additional information please refer this [link](https://pypi.org/project/tf-nightly-gpu/).
To install tf 1.15, try pip install tensorflow==1.15. Thanks!

[2020-04-06 13:00] #38264 closed

[2020-04-06 13:02] EthanPhan commented on #38257
@amahendrakar I can give you the code but not the data, do you still need it?

[2020-04-06 13:04] saikumarchalla commented on #38227
@nahsam  Could you please provide the TF version as it helps us to reproduce the issue.Thanks!

[2020-04-06 13:06] amahendrakar commented on #38168
@klicperajo,
I tried to reproduce the issue, but I'm facing an error stating `KeyError: 'ceil'`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/976ba78b3487a7f3e27dbe4f9876625d/38168.ipynb).

In order to expedite the trouble-shooting process, could you please provide a minimal code sample to reproduce the issue reported here. Thanks!

[2020-04-06 13:07] nouiz commented on #38205
Which PR fix this? #38136 development is blocked by this issue.

[2020-04-06 13:09] saikumarchalla commented on #38244
@mrchor Could  you please share a simple standalone code to reproduce the issue? Thanks!

[2020-04-06 13:14] isaacgerg commented on #37393
@mihaimaruseac Can you confirm about the my post on the vector check?

[2020-04-06 13:23] klicperajo commented on #38168
Thank you for looking into this!

That's because the runtime uses a completely outdated version of sympy. Just add a `!pip install --upgrade sympy` at the beginning and you're good to go.

The notebook also throws a deprecation warning from within tensorflow (`calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated`), so that should be

[2020-04-06 13:43] mrchor commented on #38244
Sorry, this is not a tensorflow issue. I need a tensorflow code to solve the problem of handling the above features. To be honest, I don't know how to do the above feature processing now. Can you provide such a code? Thank you very much~

[2020-04-06 13:45] mrchor commented on #38244
That is to say, I need a code like the above feature handling process.

[2020-04-06 13:50] yxchng commented on #28968
@impjdi When will this bug be resolved? The compile options for `auto_input_fusion` does not seem to work for TFLiteConverter in TF 2.0.

[2020-04-06 13:55] ms-ims commented on #38246
@gadagashwini , Hi, I understood that current version of Tf-nightly-gpu version is 2.2.0.dev20200405 but if I install Tf-nightly-gpu version is 2.2.0.dev20200405 version the code present on colab for this model still create issue while building further.

[2020-04-06 13:56] mlexpert commented on #38007
Thanks for your reply.
@sanjoy

Yes, it is impossible to kill the process, so I have to reboot the PC. I thought that it was the problem of the drivers as well. I reinstalled it, but the problem remains.

@chsigg
I run this code, but obtain the following errors:
[code]

[2020-04-06 13:59] yxchng commented on #29086
@impjdi I am facing this error for simple addition and subtraction but I am unable to understand your comment of

Can you explain in more details what it means and how to avoid such errors?

[2020-04-06 14:03] yskale commented on #38134
It is not able to detect the GPUs with the Tensorflow-gpu. I have shared all the log details. Can you share the couple of commands ...to test ...so that I can share the log based on that....

[2020-04-06 14:05] amaiya opened #38269 "TF 2.2.0-rc2 tf.Keras API: model.loss_functions no longer exists"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  `Yes`
- OS Platform and Distribution:  `Ubuntu 18.04`
- TensorFlow installed from (binary): `v2.2.0-rc1-34-ge6e5d6df2a 2.2.0-rc2`
- CUDA/cuDNN version: `cuda-10.1`

**Describe the current behavior**
In `tf.Keras` API in  TensorFlow 2.2.0, `model.loss_functions` no longer exists

[2020-04-06 14:06] DmitriyBaykov commented on #37652
Hi, guys. Any update on this? I'm also interested in seeing this issue resolved. Facing the save behaviour. Let me know if you need more details to fix it. Thanks in advance!

[2020-04-06 14:12] ziofil commented on #37307
I'm also experiencing this issue

[2020-04-06 14:17] raynaa-75 commented on #24828
for people getting this issue on an AWS notebook instance I found that using a conda_amazonei_tensorflow_p36 instead of a conda_tensorflow_p36 kernel solves it.

[2020-04-06 14:21] jackyesf commented on #38217
I try to use Tf2.1 and got another bug.
the Tf got 5 batch data then start train,I don't know when why?the same soure code run in another computer with cpu don't have this problem.

history = model.fit(train_generator,
                    steps_per_epoch=5,#582,
                    epochs=2,
                    workers=0,
                    shuffle=False,
                    callbacks=callbacks_l

[2020-04-06 14:33] #38231 closed

[2020-04-06 14:57] beniroquai commented on #38220
Thanks for offering help.
In the meantime, I tried to solve the issue by creating a customized convLSTM using plain Tensorflow. I had medium success..

But I was wondering about the following line in particular:

[code]

I'm using a fresh tensorflow-gpu installation on a windows 10 machine.

[2020-04-06 14:58] ziofil commented on #36958
It does! Thank you so much

[2020-04-06 14:58] #36958 closed

[2020-04-06 15:07] tanzhenyu commented on #37229
This is fixed [here](https://github.com/tensorflow/tensorflow/commit/a90a1a863e250f607e1eb7118a99218b22e627cd)

[2020-04-06 15:07] #37229 closed

[2020-04-06 15:33] rajaniyadav opened #38270 "Train simple audio recognition"
@petewarden
@tensorflow/micro

**System information**

- OS Platform and Distribution -Windows 8
- TensorFlow installed from (source or binary): -
-TensorFlow version - 2.2.0.dev20200210
- Python version: - 3.6 version (if compiling from source):
- CUDA/cuDNN version: - GPU not supported in my system trying to train model in colab

###  Describe the current behavior
I am trying to train a simple a

[2020-04-06 15:36] koullisHP opened #38271 "ImportError: DLL load failed: The specified module could not be found."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: No
- **TensorFlow installed from (source or binary)**: Source and then through PyCharm
- **Tensor

[2020-04-06 15:51] przemek3141 commented on #37307
I'm also experiencing this issue, and would love to see it resolved:)

[2020-04-06 16:00] Bstrum36 commented on #38141
I really did not get an answer to my question.

Are there sample tests available?
Is Keras included in the scope of the exam?

real questions with yes or no answers.

On Mon, Apr 6, 2020 at 6:39 AM Saduf2019 <notifications@github.com> wrote:

[2020-04-06 16:03] dubey commented on #36973
We [do not support](https://github.com/tensorflow/tensorflow/blob/1381fc8e15e22402417b98e3881dfd409998daea/tensorflow/core/distributed_runtime/rpc/grpc_server_lib.cc#L486) SSL credentials.

[2020-04-06 16:03] #36973 closed

[2020-04-06 16:11] HarshitSheoran opened #38272 "TPU Bug when using categorical_crossentropy"
ResourceExhaustedError: {{function_node _inferencedistributedfunction153395}} Compilation failure: Ran out of memory in memory space vmem. It should not be possible to run out of vmem - please file a bug against XLA.

Largest program allocations in vmem:

XLA label: register allocator spill slots
Allocation type: scoped

XLA label: %fusion.11963 = f32[4,192,1024]{2,0,1:T(4,128)} fusion(f32[4,1,102

[2020-04-06 16:15] martin-gorner commented on #37779
Hi @dimitreOliveira, when investigating the set of TPU stability issues reported on Kaggle, we found at least one that goes away with TF 2.2. I need to try this one.

[2020-04-06 16:26] srjoglekar246 commented on #37951
Looks like the [BUILD rule](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/tools/evaluation/tasks/coco_object_detection/BUILD#L16) for that script is unable to link in the proto dependency. The proto does have the `image_id` attribute, as seen [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/tools/evaluation/proto/evaluation_stages.proto#L234). You

[2020-04-06 16:27] FelipeR2U commented on #38174
@eScribMac, I have had some help [here](https://github.com/tensorflow/profiler/issues/3#issuecomment-608955663) if you want to try. I'm still having another issue, but tell me if you are able to solve your problem

[2020-04-06 16:56] pradyumnaym commented on #31057
@Liusandian I too was wondering how this can be done. Turns out there is a checkpoint based method to save these models. They have been used in https://www.tensorflow.org/tutorials/text/nmt_with_attention

The official docs for checkpoints can be found here:
https://www.tensorflow.org/api_docs/python/tf/train/Checkpoint
and here:
https://www.tensorflow.org/guide/checkpoint

[2020-04-06 16:57] Saduf2019 commented on #38271
@koullisHP
please refer to [this link](https://github.com/tensorflow/tensorflow/issues/38013#issuecomment-606108871) and let us know if it helps

[2020-04-06 16:57] qlzh727 commented on #36757
@adelcast, to run the layer.call() body in eager context, you need to invoke model.compile(run_eagerly=True). Note that this will have performance slow down due to eager runtime, and should only used for debug purpose.

[2020-04-06 17:01] tarrade commented on #37998
Hi @jsimsa,

Thanks for the follow up. I will check with the Huggingface's team. The code is here:
https://github.com/huggingface/transformers/blob/master/src/transformers/data/processors/glue.py

Thanks

[2020-04-06 17:02] mihaimaruseac commented on #38271
Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-04-06 17:02] #38271 closed

[2020-04-06 17:07] mihaimaruseac commented on #38269
This looks related to #38150

[2020-04-06 17:09] jsimsa commented on #37969
You should be able to do something along the following lines:

[code]

The above will run `PARALLELISM` copies of the input pipeline, each reading from a different shard of filenames, interleaving the output of these parallel pipelines. Great values of `PARALLELISM` are expected to speed up your input pipeline (up to the number of available CPU cores) but will also result in high memory usage.

[2020-04-06 17:11] mihaimaruseac commented on #38262
The error you have gives exactly the solution

[code]

You need to download the MSVC redistributable and place it in a directory that is within the directories contained in `%PATH%`.

As this is not a TF issue and is already duplicated in many places, closing.

[2020-04-06 17:11] #38262 closed

[2020-04-06 17:12] mihaimaruseac commented on #38194
CUDA 10.2 should be compatible with CUDA 10.1. We are building the official pips with CUDA 10.1 as we already changed infrastructure a lot to enable Python3.8 pips. Next release will have infrastructure changed for newer CUDA versions.

Until then, you can try compiling from source, or symlinking the libraries.

[2020-04-06 17:14] mihaimaruseac commented on #36193
The solution is to `pip list`, identify all tensorflow ecosystem packages that are *NOT* on 1.15 and reinstall those to 1.15.

`contrib` only exists in 1.15; installing any component at a later version will create issues.

For example, in https://github.com/tensorflow/tensorflow/issues/36193#issuecomment-588692406 you also need to uninstall `tensorflow-gpu-estimator`

[2020-04-06 17:15] mihaimaruseac commented on #38226
Not a TF issue

[2020-04-06 17:15] #38226 closed

[2020-04-06 17:17] mihaimaruseac commented on #38218
This is not the place for this question. Please try StackOverflow.

Here we only accept issues strictly related to code of TF.

[2020-04-06 17:17] #38218 closed

[2020-04-06 17:18] mihaimaruseac commented on #38219
You have to do `pip list`; identify all packages in the tensorfow ecosystem (estimator, tensorboard, tensorflow), `pip uninstall` each one of them and then install again those you need at 1.15.

`contrib` does not exist in 2.0 and later.

[2020-04-06 17:35] impjdi commented on #29086
A runtime tensor is a tensor that is computed with at least another.  The very first runtime tensor is possibly the input tensor of the model.

A constant tensor is a tensor that is fixed.  These are, but not limited to, trained weights and biases for conv/fully connected ops or constants for add/mul or parameters for reshape etc.

If you think about the formula y = a * x + b, x and y are runtime

[2020-04-06 17:49] koullisHP commented on #38271
I added gpu paths but can't find C:\tools\cuda

[2020-04-06 18:03] mattdutson opened #38279 "MutableGraphView::SortTopologically error with tf.nn.conv2d in custom RNN cell"
**System information**

- Have I written custom code: yes
- OS Platform and Distribution: Ubuntu 18.04 LTS
- TensorFlow installed from: binary (`conda install tensorflow-gpu=2.1`)
- TensorFlow version: 2.1.0
- Python version: 3.7.7
- CUDA/cuDNN version: CUDA 10.1, cuDNN 7.6
- GPU model and memory: GeForce GTX 1080, 8 GB

**Describe the current behavior**

Calling `predict` on a model containing a

[2020-04-06 18:07] nouiz commented on #38120
I just retested with the container: tensorflow/tensorflow:nightly-gpu-py3, and I still see the problem.

[2020-04-06 18:15] KaisJM commented on #35573
had a similar issue when loading Tensorboard in a jupyter notebook. uninstalling protobuf 3.11.2 and installing protobuf==3.8 worked. protobuff==3.11.3 did NOT work.

[2020-04-06 18:39] theswanand commented on #36358
`if(logs.get('acc') > ACCURACY_THRESHOLD)` worked for me

[2020-04-06 18:52] AngelBerihuete commented on #36094
Dear @Flamefire and @frankchn

I can login to a Slurm cluster with several nodes and 4GPUs per node. I want to do inference using distribute training (MirroredStrategy), but I do not how to see two or more modes resources. Can you share some example on using tf.distribute.cluster_resolver.SlurmClusterResolver?

Best regards

[2020-04-06 18:56] tanzhenyu commented on #32966
This is [fixed](https://github.com/tensorflow/tensorflow/commit/5f2e159a58d1ef3414b2c34339266449574d8f94).
For performance issue, please file another bug. I don't see this as a Keras issue, the performance needs to be investigated at either op level or kernel level.

[2020-04-06 18:56] #32966 closed

[2020-04-06 18:56] pbecker93 opened #38280 "TF2.2.0rc2: exception if shape of input to tf.linag.set_diag not fully specified"
Hello,

it's now possible to use tf.linalg.set_diag to set not only the diagonal of a matrix, but also bands (i.e a diagonal + sub- and superdiagonals) using the parameter "k".

I would like to use this within a keras layer, yet when the model containing that layer is built, an exception (see below) is raised as long as the shape of the input parameter of tf.linalg.set_diag is not fully specified

[2020-04-06 19:03] Permafacture commented on #21174
Just having the predictions and truth in the callback's on_batch_end as @evictor suggests would be a great start.  The callback can accumulate them if desired, and it wouldn't be hard for users to put this logic into a parent MetricCallback class if they desire.  The current solution of instantiating the callback with the training data and truth is much more awkward.

Also, @evictor you linked to

[2020-04-06 19:05] lgeiger commented on #32966
Thanks for adding this :+1:

[2020-04-06 19:15] tanzhenyu commented on #33074
I think we should error out. The fact that:
1. it doesn't put any warning in `model.fit`
2. it puts warning in `model.call`
in a little bit troubling. Here's where it swallows the error:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/engine/network.py#L958-L964
Reassigning to author of that function.

[2020-04-06 19:37] JamhangC opened #38281 "TFlite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the converter invocation**

[code]

**Also, plea

[2020-04-06 19:39] tanzhenyu commented on #32547
We don't expect contrib working with Keras. Closing it for now.

[2020-04-06 19:39] #32547 closed

[2020-04-06 19:39] cdknorow commented on #38062
@imtoba  It looks fixed https://github.com/tensorflow/tensorflow/commit/46055ea64aaf9cdfaf0c218a109770cd851eeb8a,  just hasn't been merged in yet

[2020-04-06 19:40] akanyaani commented on #37969
Hi @jsimsa

This one worked perfectly, Thankyou very much for your help.

[2020-04-06 19:40] #37969 closed

[2020-04-06 19:41] tanzhenyu commented on #37278
Closing it. Let us know if you have further questions!

[2020-04-06 19:41] #37278 closed

[2020-04-06 19:41] jvishnuvardhan commented on #38251
@hamelsmu
TL/DR: So if you want to load a model saved in *.tf format, then select `by_name=False`. If you want to load a model saved in *.h5 format, then select `by_name=True`. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/c0c9808471249fb63298d9273b827f1e/38251-tf-nightly.ipynb).

There is small difference between loading a saved model when the model was saved

[2020-04-06 19:44] ymodak commented on #38232
@MeghnaNatraj Thanks for the issue. We haven't released TF 2.2.0 final version yet.
We have 2.2.0rc0, 2.2.0rc1, 2.2.0rc2 packages.
As of today 2.2.0rc2 is latest package, Colab will be updated once we have stable 2.2.0 released shortly.

[2020-04-06 19:48] #30453 closed

[2020-04-06 19:51] hamelsmu commented on #38251
@jvishnuvardhan I am loading weights from the TF format, so shouldn't `by_name=True` work?

[2020-04-06 20:06] hamelsmu commented on #38251
Closing this issue, thanks for the clarification.  I clearly missed the error message.

Thank you so much for your help.

[2020-04-06 20:06] #38251 closed

[2020-04-06 20:58] angerson commented on #38247
Thanks! I'm working on some changes to fix this right now.

[2020-04-06 20:59] gunan commented on #37938
Conda packages are built and maintained by the community, and anaconda. I will redirect the issue to @jjhelmus

[2020-04-06 21:00] impjdi commented on #38099
You probably cannot only use the GPU AAR as there is a fallback-to-CPU mechanism.  However, there are a couple of places where you can trim for binary size:

* Instead of using the builtin op resolver, you can create a custom op resolver with only the used ops and used that when initializing the Interpreter object.  I learned that the bare bone TFLite is 3-500kB, but when using the bulitin op reso

[2020-04-06 21:01] amaiya commented on #38269
The `tf.keras.losses` module does not allow  you to identify the loss function tied to a compiled model.  So, this solution isn't really satisfactory.  The loss function associated with a compiled model should be publicly accessible, which was part of the point of this issue.

[2020-04-06 21:10] qiuminxu commented on #37543
@drasmuss Can you try again and see if the error is fixed? Thanks!

[2020-04-06 21:16] gunan commented on #38183
Hi, thanks for raising this issue.
Unfortunately, internally google uses the BUILD files. Google's code base will not migrate off of these in any case for the foreseeable future. Therefore, TF has to support them.
When we tried to support cmake and Makefile it created a lot of burden to edit multiple build systems for developers. So we decided to drop first party support for these.

That said, we

[2020-04-06 21:30] #38247 closed

[2020-04-06 21:36] MeghnaNatraj opened #38285 "Unsupported Full-Integer TensorFlow Lite models in TF 2"
**Describe the issue**
**In TF2, the full-integer quantized models produced by the TFLite Converter can only have *float* input and output type. This is a blocker for users who require *int8* or *uint8* input and/or output type.**

**UPDATE**: We now support this workflow.

**End-to-End Tutorial**: https://colab.sandbox.google.com/github/google-coral/tutorials/blob/master/retrain_classification_pt

[2020-04-06 21:39] MeghnaNatraj commented on #38232
Is it possible to instead have a stable version on Colab at all times? eg: TF 2.1?

[2020-04-06 21:39] drasmuss commented on #37543
Yes this is fixed in TF2.2rc2

[2020-04-06 21:45] impjdi commented on #28968
Sorry, forgot to reply to your question in December.

Since I haven't heard back from @anilsathyan7 , I assume he's good.  I usually don't close issues myself, leaving it up to the OP.

I ran his TFLite models just now and things seem to run fine--that's with TFLiteGpuDelegateV2.

[2020-04-06 22:10] bela127 commented on #37982
the features could be implemented with a Api to, the [meta optimizer](https://web.stanford.edu/class/cs245/slides/TFGraphOptimizationsStanford.pdf)
I found in the slides the memory optimizer, but i cant find it in the api docs, is this undocumented or not available?
In the slides It seems it already supports the features I asked for, there is also [this side](https://www.tensorflow.org/guide/graph

[2020-04-06 22:21] LatinAmericanProgramer commented on #26814
Thank you @allenlavoie ... I fix it uninstalling Tensorflow 2.1.0 and installing the version 2.2.0-dev20200327 using `pip install tf-nightly-gpu` . This fixed the problem for me.

Thank you

[2020-04-06 22:21] dimitreOliveira commented on #37779
@guptapriya the `get_validation_dataset` was hidden but I will copy it here for you
[code]

The `dataset.cache()` was just to make things a little faster, but I was not using `TF nightly` but I guess it is possible to install and run it.

[2020-04-06 22:22] dimitreOliveira commented on #37779
@martin-gorner What TF 2.2 has that solves the issue? and is it stable, if it is I can start experimenting with it as well.

[2020-04-06 22:26] martin-gorner commented on #37779
Just finished testing. TF 2.2 resolves two out of the three reported stability issues I am tracking. Yours is the third one. Your model errors out immediately with this error under TF2.2:

InvalidArgumentError: {{function_node __inference_train_step_137283}} Compilation failure: Output shapes of then and else branches do not match

[2020-04-06 22:26] mdanatg opened #38287 "Embedding layer ~10x slower in tf.function"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Standard colab environment
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: N/A
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below):

[2020-04-06 22:27] mdanatg commented on #29075
@szc11121 indeed, looks like a performance issue with embedding layers. I modified your code a little and filed #38287 to track the issue separately.

[2020-04-06 22:32] dimitreOliveira commented on #37779
@martin-gorner do you think this might be because of the custom augmentation functions where I use `if` and `else` statements?

[2020-04-06 22:58] goldiegadde commented on #33939
Closing this issue as this is fixed in the latest upcoming release as well as fix is available in tf-nightly. @MikeOfZen Please reopen if you are still running into issues.
Thanks!

[2020-04-06 22:58] #33939 closed

[2020-04-06 23:11] Chris1hub commented on #37761
Hello @valorusa I found your description very useful. Just one question:
Where did you find information about input_arrays and output_arrays?
I successfully converted ssd_mobilenet_v2_coco_2018_03_29 but I am not able to convert a custom model because I don't know input and output arrays.
Thanks

[2020-04-06 23:13] simmalik commented on #38035
We tried to replicate this issue using the same code that the author indicated that created this issue, but the program was able to execute successfully.  The load weights function was able to find the file in the same manner it finds files without "+" signs.  We tested additional file names ("c+d", "e+f+") and these cases also ran successfully.  Please let us know if this still appears to be an i

[2020-04-06 23:27] impjdi commented on #28968
Nope, never mind.  I can see this fails when I force things to be run on OpenGL.

[2020-04-06 23:40] yongtang commented on #26069
@csachs I added a PR #38288 for uint16, uint32, and uint64 for tf.math.equal and tf.math.not_equal.

[2020-04-07 00:10] martin-gorner commented on #37779
Probably but also probably not your fault. This was working in TF 2.1, it
should still work in TF 2.2.

On Mon, 6 Apr 2020 at 15:33, Dimitre Oliveira <notifications@github.com>
wrote:

--

Martin Görner | ML Product Manager, TPU | mgorner@google.com | +1 425 273
0605

[2020-04-07 00:16] bela127 commented on #547
what happen to this issue? it is still not fixed as fare as i can see

[2020-04-07 00:26] nahsam commented on #38227
Using version 2.x gives those results

On Mon, Apr 6, 2020, 8:04 AM saikumarchalla <notifications@github.com>
wrote:

[2020-04-07 00:47] #36518 closed

[2020-04-07 00:50] tanzhenyu commented on #33501
I think this can be achieved via:
1. using tf.keras.utils.get_file, and configure where you wanna download your checkpoint to, say `file_path`.
2. passing `weights=file_path` when you're creating the model.

Let us know if this works for you.

[2020-04-07 01:00] eaaarmah commented on #24520
I tried this but now it is very slow. At first it took milliseconds for one step. It is now taking 17s per step. Any way around the speed?

[2020-04-07 01:14] tensorflowbutler commented on #37805
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-07 01:50] jvishnuvardhan commented on #37996
@rakeshmothukuru1 I am closing this issue as the related PR https://github.com/tensorflow/tensorflow/pull/38048 was merged. Please feel free to reopen if the issue was not resolved. Thanks!

[2020-04-07 02:06] MrZoloft commented on #38180
@ymodak Is there any solution for this issue?  i changed another new machine env to use above command, but still useness.

[2020-04-07 02:08] FLming commented on #37561
For me, this issue is because I forgot to add drop_remainder=True in Dataset.batch function.

[2020-04-07 02:14] AliceSchaw commented on #29054
I got the same issue,  I set num_classes as 5 to train my custom dataset. but I got the error: java.lang.IllegalArgumentException: Cannot copy between a TensorFlowLite tensor with shape [1, 10, 4] and a Java object with shape [1, 5, 4]. Why is the output tensor 10?

label_map.pbtxt
[code]

ssdlite_mobilenet_v3_small_320x320_coco.config
[code]

Convert pb to tflite.
[code]

[2020-04-07 02:21] pavithrasv commented on #38269
Oh i meant you can use `tf.keras.losses.get` to get the loss function using a string. Since loss value is passed to the compile API it should be easy to compile list of loss functions from what's being passed. You can also use `model.compiled_loss.metrics`.

[2020-04-07 02:39] kumaradi08 commented on #38254
Is it normal to have one file taking that much long time to compile? It is still compiling and I don't see issue with the RAM usage.

[4,915 / 4,918] Compiling tensorflow/core/kernels/mkl_cwise_ops_common.cc; 176224s local

If I don't use MKL flag, the build compiles fine.

[2020-04-07 02:44] ShreeniketJoshi commented on #34658
Hi, can you please advise on how to downgrade tensorboard to 2.0? Along with tensorflow?

[2020-04-07 02:44] ravikairam commented on #37743
@gowthamkpr

Yes the issue still persists. Predictions are accurate on train and validation data before saving the model.After saving the model we loaded the model and tested on new unseen data where predictions are going wrong. I tried with saving different file formats(.h5,.pb formats) but still problem exists, Can you please help us to fix this issue . Thanks!

[2020-04-07 02:56] wkzqn opened #38293 "Tensorflow 2.0 make_csv_dataset reads files too slowly"
It takes 10 seconds to read a batch of 1024 data from the csv file. After setting the num_parallel_reads parameter to 2, the time becomes 5 seconds. But continue to increase the reading thread, the time will not be reduced. Am I setting something wrong?

[2020-04-07 03:02] amaiya commented on #38269
I see - thanks.

So, the idea is to obtain the loss function string names and supply that to `tf.keras.losses.get`.   In situations where you may not have access to the loss function string names originally supplied to model.compile (e.g., libraries that accept a compiled model as input to facilitate training), what is the best way to obtain the loss function string names directly from the model?

[2020-04-07 03:08] izhangzhihao commented on #38035
Yup, it seems works as expected now with version `2.2.0-rc2`.

[2020-04-07 03:08] #38035 closed

[2020-04-07 03:11] MakeCent opened #38294 "Tensorflow keras.callbacks.ModelCheckPoint with wrong path doesn't save anything instead of raising error"
**System information**
- Have I written custom code: NO
- OS Platform and Distribution: Ubuntu 18.04
- Mobile device: N/A
- TensorFlow installed from: `pip install --upgrade tf-nightly`
- TensorFlow version: 2.2.0-dev20200403
- Python version: 3.7.7
- CUDA version: cuda 10.1
- GPU model and memory: NVIDIA 2080 and TITAN X

**Describe the current behavior**
[code]
**The path here in ModelCheckpoint

[2020-04-07 03:11] aluds123 commented on #22528
@suharshs  Can you guide me how to use "tf.contrib.quantize.create_training_graph()" to fine tune from a floating point checkpoint?
I alredy trained a floating point checkpoint, but when I use it to be a pretrained weight and train with "tf.contrib.quantize.create_training_graph()", I meet some problems, like the following:

![00000000](https://user-images.githubusercontent.com/43241182/78626119-5

[2020-04-07 03:27] pavithrasv commented on #38269
`model.compiled_loss.metrics` gets populated after a model is actually trained /evaluated.

[2020-04-07 03:34] tanzhenyu commented on #32104
NP!

[2020-04-07 03:34] tanzhenyu commented on #32104
Awesome!

[2020-04-07 03:45] tanzhenyu commented on #37477
I'm gonna close this for now, since we all agreed we should implement the dataset way. Please file a PR once it's ready. Thanks!

[2020-04-07 03:45] #37477 closed

[2020-04-07 03:53] wangyunxiaa opened #38295 "tensorflow1.13 add an op which use mkldnn cannot build sucessfully"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes, in tensorflow/core/user_ops addop
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: windows10
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**:1.13
- **Python version**:3.6
- **Bazel version (if compiling from source)**:0.20.0

[2020-04-07 03:55] aniketmaurya commented on #38294
I have also faced the same issue.

[2020-04-07 04:02] wang1ang commented on #25254
Got the same issue on TF 2.1.0

[2020-04-07 04:06] aniketmaurya commented on #38293
Try num_parallel_calls= tf.data.experimental.AUTOTUNE

[2020-04-07 04:06] kbrose opened #38296 "tf.keras custom layer does not use "compute_output_shape""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below):
- Python

[2020-04-07 04:17] bmc2-stripe commented on #38143
Hi @amahendrakar:

The solution @khimraj provides does execute without error, but I don't believe it really solve the issue. Specifically, save_weights (which is used that solution) is great for checkpointing, but the tf.saved_model.save call is needed to get a model we can serve with TF Serving.

[2020-04-07 04:40] t-niroc commented on #38099
@impjdi Okay. Thanks a lot for the clarification.

[2020-04-07 04:57] Kiwis2012 commented on #18736
same issue and after trying all the way below, i found it work if I close Chrome...

[2020-04-07 04:58] tsc2017 commented on #32712
This bug still exists on 2.2.0-rc2(see [this notebook](https://colab.research.google.com/drive/1Jf43Aq8LtGxUD5QSMGp4KJJnoUdYGiF-)):

NotFoundError: From /job:worker/replica:0/task:0:
No registered 'PyFunc' OpKernel for 'CPU' devices compatible with node {{node PyFunc}}

[2020-04-07 05:01] Saduf2019 commented on #38294
@MakeCent
please provide us with complete standalone code for us to replicate the issue faced.

[2020-04-07 05:14] Jamesbond32 commented on #24828
The last part solved my issue. I dont quite understand what units the memory is in but I figured out how to make it run with a little experimentation. are the GB in SI units or are they in binary units? it looks like they are in Binary MiB units when looking at the output from the invidia-smi command but the math doesnt seem to work when I try to allocate my memory using that conversion.

more cle

[2020-04-07 05:29] MakeCent commented on #38294
I have update standalone code based on an example code from [Keras.io ](https://keras.io/getting-started/sequential-model-guide/#multilayer-perceptron-mlp-for-multi-class-softmax-classification)

[2020-04-07 05:36] jlz3008 commented on #37857
No longer occurs in commit @9d2bdd0b244c759ca54c6f10f58c069ec2200452

[2020-04-07 05:36] #37857 closed

[2020-04-07 05:40] generationzcode opened #38297 "Cant install tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows 10
- Mobile device (e.g

[2020-04-07 05:43] shauryad15 opened #38298 "ERROR: Did not get operators, tensors, or buffers in subgraph 0."
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- Tensorflow version (commit SHA if source): 2.01
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Android

**Describe the problem**
While loading the interpreter from to read the detect.tflite file i'm getting the

[2020-04-07 06:10] chuanqi129 opened #38300 "Master build failed with user local specific GCC"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Both `CentsOS 7.3` and `Ubuntu 18.04`
- TensorFlow installed from (source or binary): build from source
- TensorFlow version: master (f32548266f25890fc654342296dc112f26ad9bf6)
- Python version: 3.6.9
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): 2.0.0
- GCC/Compiler vers

[2020-04-07 06:16] shantanumane commented on #34431
If I don't want to uninstall tensorflow==2.1 then how should I progress further.
There is any other option.

[2020-04-07 06:18] edwardpassagi commented on #30120
reverting to numpy 1.16.4 fixes the problem for me, thanks.

[2020-04-07 06:25] cjluo-nuro opened #38302 "How to get libhexagon_interface.so for non Android OS (e.g. arm linux)?"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): source
- Tensorflow version (commit SHA if source): 2.2-rc2
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Qualcomm 845 SOC

**Describe the problem**
Try to get hexagon delegate working on qualcomm 845 soc with arm linux

[2020-04-07 06:35] Saduf2019 commented on #38240
@wadewangpower
please  follow the link https://www.tensorflow.org/install/source and select the release branch 2.1

[2020-04-07 06:36] amahendrakar commented on #38287
Was able to reproduce the issue with [TF v2.2.0rc2](https://colab.research.google.com/gist/amahendrakar/6b3d4d3899eff968778f67463ae03da7/38287-tf2-2.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/5e0e28711de26d660cfe72d6da17d9d9/38287.ipynb). Please find the attached gist. Thanks!

[2020-04-07 06:42] wei-v-wang commented on #33146
@pigubaoza  We are testing and will be rolling out some new features. Regarding your Darknet based YoloV3, have you tuned OMP_NUM_THREADS, inter_op_parallelism_threads and intra_op_parallelism threads, KMP_BLOCKTIME setting?  Also, what CPU are you testing with?

As a last resort, can you try "export TF_DISALBE_MKL=1" and rerun your model and see if it recovers the performance similar to 1.14 w/o

[2020-04-07 06:43] Saduf2019 commented on #38066
@zgsxwsdxg
Could you please update as per above comment

[2020-04-07 06:48] ravikyram commented on #38297
@generationzcode

Can you please go through instructions mentioned in [Tensorflow website](https://www.tensorflow.org/install/pip). You can install by `pip install tensorflow`. If you are still facing any issue please, share error log. Thanks!

[2020-04-07 06:52] ravikyram commented on #38293
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

Make sure you also include the code snippet to reproduce the issue in our environment. It helps us in localizing the issue faster. If you are unclear what to include see the issue template displayed in the [Github new issue template](https://github.com/tensorflow/tensor

[2020-04-07 07:00] Flamefire commented on #36094
Issue resolved by https://github.com/tensorflow/tensorflow/pull/36159

@AngelBerihuete

You need a Strategy that accepts a `cluster_resolver` argument and when you want MultiNode you want `MultiWorkerMirroredStrategy`. For Slurm you can copy the SlurmClusterResolver from #36159 when you are using TF < 2.2 (or wait for its release)

For TF < 2.2 there is also bug #36550 which requires you to use:

[2020-04-07 07:00] #36094 closed

[2020-04-07 07:04] gadagashwini commented on #38265
@bewithme, Can you provide the proper intended stand alone code to reproduce the issue.Thanks!

[2020-04-07 07:10] zhufeijuanjuan commented on #23898
same issue when importing graph from .meta file by using tf.train.import_meta_graph？ tensorflow version==1.14.0, looking forward to solve.

[2020-04-07 07:11] payne4handsome opened #38303 "How to limit GPU memory usage in java?"
Hello everyone,
    In python, I can use bellow strategy to limit GPU memory usage.
[code]
But how can I do this in java?
I training my model with python, then convert model to pb format, last I load pb model in java.
so I want limit GPU memory usage in java . I can't find any document about this.
Any suggestions will help me, thanks.