[2021-04-09 09:08] 1165628028 commented on #48305
I try it in tf2.5, but it also report same error :
`  OperatorNotAllowedInGraphError: iterating over  `tf.Tensor`  is not allowed: AutoGraph did convert this function. This might indicate you are trying to use an unsupported feature.`

[2021-04-09 09:09] bd050705 commented on #48392
Thank you for your remind and reply. After I add "export LD_LIBRARY_PATH=/usr/java/jdk1.8.0_181-cloudera/jre/lib/amd64/server/" it work successfully. But on disable Kerberos cluster didn't need add this environment variables it can work normally.

[2021-04-09 09:10] dhakrasp opened #48428 "model.fit() raises exception"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0
-

[2021-04-09 09:12] 1165628028 commented on #48305
The error lie in : def get(x)
`    [r, c] = tf.shape(x) `, i don't know why this  sentence is wrong

[2021-04-09 09:13] cgebbe opened #48429 "tf.data.experimental.enable_debug_mode() doesn't enable breakpoint"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Desktop
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): v1.12.1-

[2021-04-09 09:23] Virgil-N commented on #44539
I also have this problem.

[2021-04-09 09:26] guillaumekln opened #48430 "tf.nn.embedding_lookup gradient shape is no longer fully defined in 2.5.0rc0"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from: binary
- TensorFlow version: `2.5.0rc0`
- Python version: 3.6.9

**Describe the current behavior**

In TensorFlow 2.5.0rc0, the dense shape of the `tf.nn.embedding_lookup` gradient is no longer fully defined. The shape is `(None, None)` instead of the static shape of t

[2021-04-09 09:27] UsharaniPagadala commented on #48377
@henrysky
Can you please  [try](https://colab.research.google.com/gist/UsharaniPagadala/9cf5e09b254a630b09625f6697b8902a/-48377.ipynb) this.
The logs are printed only for the first time on importing tensorflow.
Thanks

[2021-04-09 09:31] AndyTsangChun commented on #47311
Still not resolved, but i found out the root cause was from keras.Input

In my loss function, I used the keras.Input tensor for some calculation. Still finding a way to convert the keras tensor to tf.op.tensor

[2021-04-09 09:38] kvignesh1420 commented on #48392
Welcome. So is the tensorboard issue solved as well?

[2021-04-09 09:43] bd050705 commented on #48392
Yes! Thank you very much.

[2021-04-09 09:43] #48392 closed

[2021-04-09 10:06] #48427 closed

[2021-04-09 10:24] TE-KensakuOgata commented on #32743
To close this issue, it is necessary to recover from the error and take measures for error detection.

There is information that the Coral will be recognized again when the USB is fully reset.
https://github.com/tensorflow/tensorflow/issues/32743

[2021-04-09 10:25] zhangguanqun commented on #48401
@thaink
Build report following errors:
no such package '@local_cuda//': The repository '@local_cuda' could not be resolved and referenced by '@cub_archive//:cub'
Build command:
bazel build --config=elinux_armhf -c opt //tensorflow/lite:libtensorflowlite.so

[2021-04-09 10:28] barabanus commented on #48018
@thaink Thank you very much, I'll do it these weekends

[2021-04-09 10:32] lvlanson commented on #48232
What I am actually doing in the subprocess is the following:

`        with tf.keras.utils.custom_object_scope(custom_objects):

            with open(path_net_config, "r") as f:
                loaded_config_yaml = yaml.full_load(f)

            if name_base_class == "Sequential":
                model = tf.keras.Sequential().from_config(loaded_config_yaml)
            elif name_base_class == "Mo

[2021-04-09 10:39] albertz commented on #42035
I still have this issue.

[2021-04-09 10:53] albertz commented on #42035
I found [this (building protobuf without RTTI support)](https://groups.google.com/g/protobuf/c/w6uwDA2PQH4) which might be related.

[2021-04-09 10:54] rmothukuru commented on #34618
@brightcoder01,
Can you please let us know if [this comment](https://github.com/tensorflow/transform/issues/150#issuecomment-694769276) has resolved your issue? Thanks!

[2021-04-09 11:07] rmothukuru commented on #34689
@karimmohraz,
Can you please confirm if we can close this issue with respect to [Adrian's comment](https://github.com/tensorflow/tensorflow/issues/34689#issuecomment-612645946)? Thanks!

[2021-04-09 11:21] rmothukuru commented on #34697
The below code could be run successfully:

[code]

Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/1c7881f8edc78a0f964775d517c54cca/gh_34697.ipynb) of the working code.

Please let me know if that can be considered as issue being resolved. Thanks!

[2021-04-09 11:28] rmothukuru commented on #34765
@nbro,
The code mentioned in [this comment](https://github.com/tensorflow/tensorflow/issues/34765#issuecomment-580359337) works fine in **`Tensorflow Version 2.4.1`** and in **`TFP Version 0.12.1`**. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/50e8bebffe57a05d725f13e01a111f50/gh_34765.ipynb) of the working code. Thanks!

[2021-04-09 11:42] SaoirseARM commented on #40083
This is no longer an issue in tensorflow-2.4.1. Thanks! Closing issue.

[2021-04-09 11:42] #40083 closed

[2021-04-09 11:52] #48102 closed

[2021-04-09 12:18] karimmohraz commented on #34689
you can go ahead and close this issue. We have already removed the keras scikit wrapper from our project.
We will evaluate Adrian's package in due time.

[2021-04-09 12:27] #34689 closed

[2021-04-09 12:28] javierFerreroM opened #48431 "Didn't find op for builtin opcode 'SUM' version '1'."
@tensorflow/micro

**System information**
- Host OS Platform and Distribution: Linux Ubuntu 18.04:
- TensorFlow installed from binary
- Tensorflow version : 2.3
- Target platform: ARM 64

**Describe the problem**
In the following lines I proceed to describe the steps followed:

1. Adapt MobileNetv2 model. Loaded for training with Keras API. Take out the last layer by setting include_top = false, a

[2021-04-09 12:40] Dhaval-Jotaneeya opened #48432 "can not converting my model .h5 to .tflite and giving me this error"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**
Provide a reproducible test case that is the bare minimum necessary to generate
the problem. If possible, please sha

[2021-04-09 12:40] ValYouW commented on #23747
I'm really not familiar with the model architecture... You can use ResizeBilinear_3 as output which has 4 dimensions ( 1*513*513*21 ) but I really don't know if it will improve quality, but it still has nothing todo with the "blur". The model doesn't output an "image", but just numbers, it's up to you to build the mask image... So using ResizeBilinear_3 as your output layer you'll be able to build

[2021-04-09 12:52] #30532 closed

[2021-04-09 13:01] loretoparisi commented on #46845
Any update on this issue? I'm willing to help if needed.

[2021-04-09 13:19] abattery commented on #48432
@Dhaval-Jotaneeya Please share simple stand alone code such that we can replicate the issue faced or if possible share a colab gist.

[2021-04-09 14:47] o0stsou0o commented on #48242
Thank you for your continued correspondence.  So in the virtual environment (not conda), I pip installed --upgrade tensorflow.  I then went into python3 and got the following error importing tensorflow:

<img width="1091" alt="Screen Shot 2021-04-09 at 10 43 05 AM" src="https://user-images.githubusercontent.com/23566009/114197629-8a1b9a00-9920-11eb-8dd2-c47090f04da2.png">

There was a long list of

[2021-04-09 14:50] anuragap98 commented on #32889
"""Capsule Network Layers.
"""

import numpy as np

from keras.engine.base_layer import Layer
from keras.layers.convolutional import Convolution2D
from keras import backend as K
import tensorflow as tf

class CapsuleLayer(Layer):
    def __init__(self,
                 capsules,
                 capsule_dim,
                 activation_caps,
                 kernel_initializer='glorot_uniform',

[2021-04-09 14:51] anuragap98 commented on #32889
Issue @ <ipython-input-38-fd7159b7e222>:134 call  *
    b = K.zeros(shape=(K.shape(u_hat)[0], SO, SO, KS*KS))

[2021-04-09 15:05] NeilGirdhar commented on #47691
@mihaimaruseac Which "backwards incompatibilities" ([changelog](https://numpy.org/doc/1.20/release/1.20.0-notes.html)) are preventing TensorFlow from supporting numpy 1.20?

[2021-04-09 15:11] amahendrakar commented on #47249
@lmocsi,
On running the code with a dummy dataset, I am facing a different error stating `tcmalloc: large alloc 2211840000 bytes == 0x55c0cc56c000`, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/0d27c9e82948bcb6c3749e8f259748d7/47249.ipynb).

Could you please confirm, if you are facing the same issue even after limiting GPU memory growth. Thanks!

[2021-04-09 15:12] Saduf2019 commented on #48267
@grantcroft
Please share your code such that we can replicate the issue reported, or a colab gist with the error and version used.

[2021-04-09 15:15] Saduf2019 commented on #48403
@pmixer
There is no significant difference, please let us know if you are facing any issues, else please open this issue in [stackover flow](https://stackoverflow.com/questions/tagged/tensorflow) and move this to closed status as its not a bug or feature request.

[2021-04-09 15:22] pmixer commented on #48403
@Saduf2019
Thank you Saduf! That's cool, I'm just trying to verify my assumption before diving into the details for working on the related project. Thx for your support!

[2021-04-09 15:23] #48403 closed

[2021-04-09 15:29] Saduf2019 commented on #48429
@cgebbe
I ran your code on tf 2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/de6e076dfbc72fcc7862620fc634908e/untitled583.ipynb), i face a different error on 2.4.

[2021-04-09 15:33] Saduf2019 commented on #48426
@ToBigboss
Your question is not clear, are you facing any error, please share error logs in case you are facing any such issues, also please fill the template for us to analyse the issue faced.

[2021-04-09 15:42] Saduf2019 commented on #48334
@Dragon-GCS
I ran the code shared on tf nightly and do not see any error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/b9570f37557f93fb1d4f9b9fb6f73252/untitled583.ipynb).

[2021-04-09 15:48] amahendrakar commented on #47794
Without a reproducible code, it would be difficult for us to debug the issue. In this case, you can provide a dummy dataset and code to reproduce the error.

Could you please confirm if you are facing the same issue in a virtual environment as well? Thanks!

[2021-04-09 15:54] amahendrakar commented on #47916
@Cuids,
On running the code, I am facing an error stating `NameError: name 'paths_label' is not defined`.

Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2021-04-09 15:57] amahendrakar commented on #48017
@wiktoria-n,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2021-04-09 15:58] amahendrakar commented on #48025
@Yu-Hang,
Any updates regarding this? Could you please let us know if this is still an issue. Thanks!

[2021-04-09 16:25] jsimsa commented on #48429
@jayxiaojieshi could you please help investigate this issue? thank you

[2021-04-09 16:30] jvishnuvardhan commented on #38287
@szc11121 The following are the results with `TF2.5rc0`. May be there is a `2.5rc1` and `2.5rc2` then stable `TF2.5` (near future). If you want to use stable version, then in near future `TF2.5` will be released. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/9b2f28fc264efd38bdb1cc323d61e84c/38287.ipynb). Thanks!
[code]

[2021-04-09 16:34] #48394 closed

[2021-04-09 16:37] ricvo commented on #47366
Could that be a running average with some exp decay parameter? i.e. not a simple average.
Might be linked to https://github.com/tensorflow/tensorflow/issues/39448

[2021-04-09 16:37] ricvo commented on #47099
Could that be a running average with some exp decay parameter? i.e. not a simple average.
Might be linked to https://github.com/tensorflow/tensorflow/issues/39448

[2021-04-09 16:57] shayanzamani commented on #34921
@jvishnuvardhan Do you know how to read the data back from the dataset in this case, i.e. reading mat files? I get UnicodeDecodeError when I take one and want to print it.

[2021-04-09 17:00] eli-osherovich commented on #45537
Fixed indeed.
Thanks!

[2021-04-09 17:00] #45537 closed

[2021-04-09 17:04] srjoglekar246 commented on #48349
@limdlh Yes, for newer Android devices that should be the case.

[2021-04-09 17:13] EnderWiggin14 commented on #47882
@reedwm @lamberta

I believe these sets of links are what I was looking for. I will have to see if the code linked by reedwm will need a ceil function as mentioned in the docstring laberta linked.

Thank you!

[2021-04-09 17:18] bibzzzz commented on #42546
what's the latest on this issue?

[2021-04-09 17:26] mhaghighat commented on #47174
I don't think this issue is related to the GPU-deterministic backprop. I already have the [tensorflow-determinism](https://github.com/NVIDIA/framework-determinism) installed and the results are reproducible for other architectures like _VGG16_, _ResNet101_, _InceptionV3_, and _InceptionResNetV2_, which use the same backprop. This issue is unique to the EfficientNet models.

[2021-04-09 17:29] rthadur commented on #8661
As Contrib folder is deprecated , this issue is not relevant.closing this issue.

[2021-04-09 17:29] #8661 closed

[2021-04-09 17:35] rthadur commented on #10080
As contrib folder is deprecated , this issue is not relevant.

[2021-04-09 17:35] #10080 closed

[2021-04-09 17:37] amahendrakar commented on #48205
@jvishnuvardhan,
I was able to reproduce the issue with TF v2.3 and TF v2.4. Whereas Colab doesn't detect GPU with TF v2.5.0rc0 and TF-nightly.

Code runs find on [GPU](https://colab.research.google.com/gist/amahendrakar/cac92aa388ec1b744ee804187ef29551/48205-gpu.ipynb), but gives NaN predictions with [CPU](https://colab.research.google.com/gist/amahendrakar/079fc1a475a8411a1ebe8aa79a883f4c/48205-

[2021-04-09 17:58] rthadur commented on #17471
As contrib folder is deprecated , this feature request is not relevant , so closing this issue. Than you

[2021-04-09 17:58] #17471 closed

[2021-04-09 17:59] jklloyd23 opened #48435 "new soc_id support for hexagon delegate"
We are developing products based on the Qualcomm Snapdragon 865 and have been using the hexagon delegate to use the dsp on the SXR2130 variant with soc_id 356. Recently Qualcomm has migrated us to the QCS8250 variant of the 865, exact same processor, just differentiated by longer term support in the IOT group. This part has soc_id 481 which appears to not be recognized by the hexagon delegate. It

[2021-04-09 18:05] Saduf2019 commented on #48228
@sandhyacs
Please share a colab gist with the error reported, i ran the code shared above but face indentation error.

[2021-04-09 18:09] arunraja-hub opened #48436 "Converting training loop to compilable Keras model"
I was recently going through this TF tutorial: https://www.tensorflow.org/tutorials/text/nmt_with_attention
 How do I convert the [training loop](https://www.tensorflow.org/tutorials/text/nmt_with_attention#training) in this tutorial to a Keras model which I can then compile using model.compile?

It is especially the variable input lengths and for loop that it is making this challenging

[2021-04-09 18:09] amahendrakar commented on #48430
@jvishnuvardhan,
I was able to reproduce the issue. Code works fine with TF v2.4.1, whereas with TF v2.5.0-rc0 and TF-nightly the output is `None`.

Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/6e31d91ae1ddf017ea1e9f1df9d90761/48430.ipynb). Thanks!

[2021-04-09 18:39] Mullich123 commented on #48324
Thanks for you reply,I've got some tips on Tensorflow tutorial and it's sorry to trouble you for my carelessness.I will change next time.

[2021-04-09 18:40] Mullich123 commented on #48317
Thanks for your reply.It did a great help.

[2021-04-09 18:47] amahendrakar commented on #48372
@ymodak,
On running the code with TF v2.4.1, I am facing an error stating `AttributeError: module 'tensorflow.python.ops.collective_ops' has no attribute 'broadcast_send_v2'`

Whereas with TF v2.5.0rc0 and TF-nightly, I was able to reproduce the issue. Please check the attached screenshot for reference.
![Screenshot 2021-04-10 12 13 43 AM](https://user-images.githubusercontent.com/57165142/1142269

[2021-04-09 18:52] Saduf2019 commented on #48314
@yhidaka
Please refer to the [gist here](https://colab.research.google.com/gist/Saduf2019/4275c32bc20bc39ec7feba8f98402302/untitled585.ipynb) for the performance on tf 2.4 and tf 2.5 rc0 and let us know.

[2021-04-09 18:55] Saduf2019 commented on #48324
@Mullich123
Its absolutely no issues, please let us know the issue faced and share details for us to help.

[2021-04-09 19:00] Saduf2019 commented on #48305
I am able to replicate the issue reported on tf 2.4,tf 2.5 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/0e09ff8f6996796a9863ec2039e24bdb/untitled585.ipynb).

[2021-04-09 19:03] Saduf2019 commented on #48436
@arunraja-hub
Kindly open a [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow) issue for this as it is not a bug or feature request, Please post this kind of support questions at Stackoverflow. There is a big community to support and learn from your questions.
Thanks!

[2021-04-09 19:04] reedwm commented on #47174
`tf.nn.softmax_cross_entropy_with_logits` is being called, which is nondeterministic. But if I replace it with a softmax followed by a cross-entropy, which is nondeterministic, the model still has nondeterminism. So there's another determinism issue, so I'll reopen.

@duncanriach is adding errors to all currently known nondeterministic ops when `TF_DETERMINISTIC_OPS` is used (@duncanriach, let me

[2021-04-09 19:07] Saduf2019 commented on #48175
@raposter
Please share a colab gist with the error reported.

[2021-04-09 19:08] l1x opened #48438 "Cannot build Tensorflow with Cuda"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.5
- Python version: 3.9
- Installed using virtualenv? pip? conda?: venv + pip
- Bazel version (if compiling from source):  3.7.2
- GC

[2021-04-09 19:22] arunraja-hub commented on #48436
@Saduf2019 I have asked this question on Stackoverflow (https://stackoverflow.com/questions/66629176/convert-training-loop-to-compilable-tf-model) a few weeks ago but there is no reply
So I posted here
If you can help that would be great

[2021-04-09 19:33] Mullich123 opened #48439 "MultiWorkerMirroredStrategy:tensorflow.python.framework.errors_impl.InternalError: x root error(s) found."
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**:No
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**:
-   **TensorFlow installed from (source or binary)**:source
-   **TensorFl

[2021-04-09 19:52] #47829 closed

[2021-04-09 19:54] nikitamaia commented on #48374
Hi @dgoldenberg-audiomack, thanks for all the feedback!
The tutorial you're referencing is intended to demonstrate just the mechanics of using `MultiWorkerMirroredStrategy`, so the use of MNIST is to reduce any added complication from modeling/data requirements. But in general, `MultiWorkerMirroredStrategy` works for both machines with GPUs and machines without GPUs. All of the guides on tensorflo

[2021-04-09 20:26] nikitamaia commented on #46373
Hi, I definitely agree that if an application works in the non-distributed case, it should also work in a distributed environment! However, I am not sure what code you running. The link you provided in your original post is for a repo with many models in it, and doesn't seem to have the distributed code in it at all. Without that it's very difficult for us to diagnose and determine if there was an

[2021-04-09 20:34] nikitamaia commented on #48361
Ah okay, in that case I think it makes sense to try and debug your model first without a distribution strategy and see if you can get it to train. In general, you want to make sure your model trains as expected in the non distributed case before modifying the code for MirroredStrategy.

[2021-04-09 20:53] abattery commented on #48435
@karimnosseir could you take a look at this question?

[2021-04-09 21:12] nikitamaia commented on #38396
Hi @dvbuntu, just ran a quick test and it seems the problem is fixed. Have you had a chance to try this out with a more recent version of TF?

[2021-04-09 21:33] ThWuensche commented on #46373
Dear @nikitamaia, I'm running the YOLOV3 model in that repository.

The relevant code seems to be in "run" method in:
https://github.com/ethanyanjiali/deep-vision/blob/master/YOLO/tensorflow/train.py

There are two tf.functions:

At line 125:
        @tf.function
        def distributed_train_epoch(dataset, train_summary_writer,
                                    total_steps):

and at line 182:

[2021-04-09 21:55] j-bernardi commented on #40457
@niki-j thanks for the poke, good to hear there's still a need for this feature.

I have finally cracked the rebase + got the tests running locally again, so the patch set #46189 is still open and ready for review.

I ask if any budding (or previous) contributors are following this thread and have the time, please take a look at the PR and add your review

[2021-04-09 22:39] ymodak commented on #31278
The docs are updated with TF 2.4.1 api docs.
See https://www.tensorflow.org/api_docs/python/tf/train/list_variables
Thanks!

[2021-04-09 22:39] #31278 closed

[2021-04-09 23:12] #46854 closed

[2021-04-09 23:58] micosacak opened #48448 "Is there a way to set training = True after the model is trained?"
There are similar questions that I have it now, such as this: [#36936](https://github.com/tensorflow/tensorflow/issues/36936).

I did not find a solution or answer.

I have a model that have Batch Normalization and Dropouts. As a result, I always have to set training = True to perform image segmentation, etc. For instance;

[code]

If I donot provide training = True, the result.numpy() is nan valu

[2021-04-10 01:13] #47970 closed

[2021-04-10 01:29] jawher-soudani commented on #37339
I have the same bug in tensorflow 2.2.0

[2021-04-10 02:52] #41428 closed

[2021-04-10 03:35] alanpurple commented on #48411
It looks like a mistypo of tensorflow_estimator, which has 2.5.0rc0

[2021-04-10 04:25] yananchen1989 opened #48449 "Can not convert a tf model to tf.lite format"
tf version: 2.4.1

Here is my model constrution:

[code]

After saving the model I want to convert it to tf.lite model:

[code]

This is the error message:

[2021-04-10 04:27] #48349 closed

[2021-04-10 04:34] rnett commented on #44995
Seconding this on behalf of SIG JVM, we would like to be able to redirect the core logging to a Java logging API (almost certainly SLF4J).  Additionally, it would be **extremely** nice if the callback had some structure, i.e. `(severity: int, message: str)` or similar, maybe with the time stamp, rather than just giving us the strings.

[2021-04-10 06:30] alphaX86 commented on #48174
@rmothukuru maybe I'll look on this. Actually what @atn832 is trying to say that the in the TensorBoard docs, the `embeddings_metadata` has an link for reference but seems it's broken. So it must be either replaced or removed

[2021-04-10 06:31] alphaX86 commented on #48174
![image](https://user-images.githubusercontent.com/59508546/114260761-7fcad000-99f4-11eb-859d-bb261a9a93bd.png)

[2021-04-10 06:33] alphaX86 commented on #48174
So, I'd like to take this... may I know what it needs to be done? Look at the site and suggest me

[2021-04-10 06:41] 1165628028 commented on #48305
Thank you very much for your help, maybe it's a syntax problem, not a version problem

[2021-04-10 06:50] zrss commented on #48367
it seems `mps-server` crash: restart the job not work, but i kill the exited `mps-server` proc, and restart the job, it works

[2021-04-10 06:50] #48367 closed

[2021-04-10 07:05] MrAru opened #48450 "Tensorflow is extremely slow during startup"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-04-10 07:18] mitramir55 opened #48451 "Warning when using a TFAutoModelWithLMHead logit outputs in the graph mode"
I've built a translation model following [this TensorFlow tutorial](https://www.tensorflow.org/tutorials/text/nmt_with_attention). The overall structure of my code is the same, although I added GPT in the decoder function to get help from this language model and create better translations. Right now this is how I import the model:
[code]

and in the dencoder function, I give one input_id to the GP

[2021-04-10 07:45] mrjoelc opened #48452 "Manipulate Input/Output of TF model"
### 1. System information

- Mac OS 11.2.3
- TensorFlow 2.4.1 from COLAB
- Android 10
- MLKit by Google object-detection-custom:16.3.1

### 2. The problem

I need to manipulate TensorFlow models to make them compatible with MLKit by Google for my Android Application.
A TFlite model is compatible with MLKit if the Tensors are like that:
INPUT
- The model must have only one input tensor with the fol

[2021-04-10 08:00] ameyparanjape commented on #39530
How did you resolve this @coded5282 ?

[2021-04-10 08:18] ralfmue commented on #34689
Ok for me, thanks

rmothukuru ***@***.***> schrieb am Fr., 9. Apr. 2021, 13:07:

[2021-04-10 08:22] fwz-fpga commented on #48402
@Xhark Thanks!
I am confused about tensorflow quantization. As far as I know, tf quantizetion methods divided into two categories , post-training-quantization and quantize-aware-training.
In  post-training-quantization there are:
method 1、dynamic-range quantization
method 2、integer-only quantization（need some datasets）
method 3、Float16 quantization
In quantize-aware-training there is just one meth

[2021-04-10 08:30] phone-burner opened #48453 "Fail to build on Linux aarch64"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu devel 21.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary):source
- TensorFlow version:master
- Python version:3.9.4
- Installed using virtualenv? pip? conda?:N/A
- Bazel version (if compiling from source):

[2021-04-10 08:40] abattery commented on #48449
Could you use the tf-nightly version and enable the select tf option?

[2021-04-10 08:43] abattery commented on #48452
@mrjoelc  Please share simple stand alone code such that we can replicate the issue faced or if possible share a colab gist.

[2021-04-10 08:51] mrjoelc commented on #48452
Well currently I'm working with Android and MLKit so for me is difficult to give you something to replicare the issue.
The only thing I can provide you is this [colab](https://colab.research.google.com/drive/125ifeqPU4hHo9On7mDiZkkC48Zi_h3PR?usp=sharing)
Here I try to convert the model from format TF2 to TFlite.

How can I set the output tensor to be like 2D (BxN with B=1) or 4D (BxHxWxN with B=1,

[2021-04-10 08:59] AndreaBrg commented on #45974
Hi @dev0x13.
I'm currently facing the same issue you've reported. Did you ever find a good workaround or the only way to use FP16 models on Mali GPUs is to manually remove that line of code related to Winograd?

[2021-04-10 09:01] 1165628028 commented on #34645
when i  replace optimizer.minimize(loss) with optimizer.minimize(loss, var_list=None), it report new error:
`ValueError: `tape` is required when a `Tensor` loss is passed.`

[2021-04-10 09:28] phone-burner commented on #48453
I remembered that I had successfully compiled tensorflow on Linux aarch64 several months ago with bazel-3.1.0 Python-3.8 .
Also , I have tried to build bazel-3.7.2 with bazel-3.1.0 , but it failed with almost the same error message .
`ERROR: /root/.cache/bazel/_bazel_root/6171aa1425ff53eef39f25e54576898b/external/local_config_cc/BUILD:47:19: in cc_toolchain_suite rule @local_config_cc//:toolchain:

[2021-04-10 09:32] Junhyuk commented on #45949
@jaeyoo
Hello
is here any update?

[2021-04-10 09:51] dev0x13 commented on #45974
Hi @AndreaBrg.
No, I ended up using custom build with Winograd conv commented out. This seems to work for all models I use on many different Android devices, however performance is lower comparing to the vanilla TFLite build.
Me and my colleague also have tried to patch the Winograd OpenCL kernel, but with no success (I guess because we are not really into OpenCL).

[2021-04-10 09:57] AndreaBrg commented on #45974
Thanks for the fast reply.
One last question, did you try using OpenGL instead of OpenCL? I have read here https://github.com/tensorflow/tensorflow/issues/26297#issuecomment-641678944 that one could force to ignore OpenCL.

[2021-04-10 10:07] dev0x13 commented on #45974
I have tried this, and incorrect result issue actually had been gone. However, OpenGL delegate seems to be much slower than OpenCL one, so it barely makes sense to use it instead of CPU for my model.

[2021-04-10 10:30] AndreaBrg commented on #45974
Ok, interesting, thanks for the insight.

[2021-04-10 10:51] DarshanDeshpande opened #48454 "Support for convolutional ops for complex variable inputs"
**System information**
- TensorFlow version (you are using): 2.4
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
I hope to add support for complex variable optimization to Tensorflow. I have made a custom optimizer that is capable of C->C domain convergence. Currently, when I pass a complex tensor to tf.nn.convolution, I get a NotOkStatusE

[2021-04-10 11:12] MrAru commented on #48450
For anyone who meet the same problem, I finally resolve this by installing the nightly version, and everything goes well now. I'll close this issue, and wish this can really help someone.

[2021-04-10 11:12] #48450 closed

[2021-04-10 12:29] abattery commented on #48452
You can set the batch size by wrapping the model with the concrete function, e.g.,

[code]

For the output tensor, you can add additional TF operators to expand dims, e.g., tf.ExpandDims.

[2021-04-10 12:30] watson1423 commented on #48424
Found This error is caused because of the OPTMIZER i am tring to find a working one you ned an optmizer that has apply_gradients if i find a good one i will post an example here

[2021-04-10 12:30] #48424 closed

[2021-04-10 13:47] jhihn commented on #46595
So it's using Python's os.walk() function which according to https://www.tutorialspoint.com/python/os_walk.htm
includes the . files (hidden)

This us undesired and is covered in this stackoverflow:

https://stackoverflow.com/questions/13454164/os-walk-without-hidden-folders

[2021-04-10 14:02] StarOnTheSky opened #48455 "Failed to compile on Linux x86_64"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 20.10
- TensorFlow installed from (source or binary):source
- TensorFlow version:master
- Python version:3.8.5
- Bazel version (if compiling from source):3.7.2
- GCC/Compiler version (if compiling from source):10.2.0
- CUDA/cuDNN version:CUDA 11.2.2.1 cuDNN 8.1.1.33
- GPU model and memory:Nvidia RTX2060M

[2021-04-10 14:10] samanemami commented on #48153
I solved the issue by defining a new [estimator](https://github.com/samanemami/TFBoostedTree/blob/main/TFBT.py) which contains the `fit` and `score` method based on the Sklearn standard.
The [proposed](https://github.com/samanemami/TFBoostedTree/blob/main/TFBT.py) script is available on the following repository.
[TFBoostedTree](https://github.com/samanemami/TFBoostedTree/tree/main)

[2021-04-10 14:10] mania25 commented on #48130
@dbl001 nope, i dont run into that issues

[2021-04-10 14:35] dbl001 commented on #48130
I cloned branch r2.3. How did you get 2.3.3?

[2021-04-10 14:54] mania25 commented on #48130
i am not using the 2.3.3, i am using 2.3.2

[2021-04-10 15:02] #48153 closed

[2021-04-10 15:24] bgcgh commented on #47794
Since, due to the current problem, I have had to downgrade to tensorflow version 2.3.1 as well as to CUDA 11.1 (and CUDA 10 for certain libraries) it is regrettably not possible to perform the tests you propose. In my current configuration, everything (code and datasets) works fine, which is of course the reason I tentatively ascribed the problem to the 2.4.1 version of tensorflow. There is perhap

[2021-04-10 15:31] jaweriaamjad commented on #33037
Hi, has this feature been added as a tensorflow layer?

[2021-04-10 16:02] dexter2406 opened #48456 ""OP_REQUIRES failed at conv_grad_input_ops.cc:1103 : Resource exhausted..." after training for a while"
**System information**
- Windows10
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command below): 2.4.0
- Python version: 3.6.12
- CUDA/cuDNN version: cudatoolkit=10.1, cudnn=7.6
- GPU model and memory: 6GB

**Describe the current behavior**
- I want to train a model using `GradientTape`. The training went well at the beginning, but **after 27 batches** (`bat

[2021-04-10 16:15] alphaX86 commented on #48174
Hmm, I'll make a PR on this so that it'll be clear

[2021-04-10 16:37] alphaX86 opened #48458 "Broken link at tf.keras.callbacks.TensorBoard in docs page"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

URL(s) with the issue:
https://www.tensorflow.org/api_doc

[2021-04-10 16:39] alphaX86 commented on #48458
This issue is a remake of #48714 (I can't tag it as it became stale) but I've made a PR regarding this too. Please refer it

[2021-04-10 17:05] thecosta commented on #42366
Any update would be great!

[2021-04-10 19:27] rschiewer commented on #46475
Using LeakyReLU instead of relu saved my day, extreme host memory consumption increase is gone.

[2021-04-10 20:00] aswath8 commented on #44602
@shashank2710 Did you manage to solve the error?

[2021-04-10 20:28] jaeyoo commented on #45949
For temporary workaround, please visit this colab:

https://colab.research.google.com/drive/1OFDCHvgvgZkiXjFi_wwCof0O1VWzrsez?resourcekey=0-K6oEwOCLVLH1nao8y7pQgw&usp=sharing

[2021-04-10 22:15] JulianWgs commented on #47958
Thank you for your response :)

I know that Tensors are immutable, but Pandas Series are not. Tensorflow wrongly casts the Tensor as an immutable Series. As you can see in the workaround when using `pd.Series` the Tensor gets cast correctly as mutable. This is the correct behavior and should **also** happen, when directly assigning the Tensor.

Let me give you another example:
Tuples are also immu

[2021-04-10 22:42] abattery commented on #42366
There is a better support on the recent TF version through the tf.lite.TFLiteConverter.from_saved_model.

[2021-04-11 00:19] karliell commented on #24570
I have the same error

[2021-04-11 03:25] mihaimaruseac commented on #44485
RC0 [files](https://pypi.org/project/tensorflow/2.5.0rc0/#files) already contain Py3.9 wheels.

We'll update the release notes, it seems we don't always mention support for new versions of Python in there.

[2021-04-11 03:46] mihaimaruseac commented on #42105
Yes, but we no longer patch 1.15. Please update post 2.1

[2021-04-11 04:13] mihaimaruseac commented on #48200
https://www.tensorflow.org/about/bib could help

[2021-04-11 04:15] mihaimaruseac commented on #36505
Unfortunately, I haven't :( I'm working on the security issues at the moment and putting everything else on a lower priority track as there is not enough time to work on everything :(

[2021-04-11 04:27] mihaimaruseac commented on #48109
If we need to update in 2.4, please open a PR on the branch and it will be picked up on an eventual cherrypick.

[2021-04-11 05:31] aswath8 opened #48459 "fatal error: tensorflow/core/framework/types.pb.h: No such file or directory"
**System information**
- OS Platform and Distribution (Linux Ubuntu 20.04 LTS):
- TensorFlow installed from (source):
- TensorFlow version: r2.4
- Python version: 3.8, but I did not build for it
- Bazel version (if compiling from source): bazel release 3.1.0
- GCC/Compiler version (if compiling from source): gcc-7
- CUDA/cuDNN version: CUDA Compute: 7.5, CUDA Toolkit 11.1, cuDNN: 8.1.0.77
- GPU mo

[2021-04-11 10:21] maxcrous commented on #40166
Any update on this @k-w-w?
I am running into the same issue with tensorflow 2.4.1.
@zaccharieramzi 's solution works nicely for saving optimizer state during training.
But as @4sfaloth mentions, when using the saved_model format for storing inference models, model loading causes many unnecessary warnings.

[2021-04-11 10:39] bratyslav opened #48460 "Keras models latency grows too fast after converting to TFLite"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: custom code.
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: IOS 14.4.2, Android 11.
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**: iPad 5, Pixel 5.
-   **TensorFlow installed from (source o

[2021-04-11 10:41] TaahaKhan opened #48461 "pipenv shell not working"
I have been trying to call "pipenv shell" but it gives this error:|
                                                                                                 \/

Traceback (most recent call last):
  File "c:\users\yaseen\appdata\local\programs\python\python38-32\lib\runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "c:\users\yaseen\appdata\loc

[2021-04-11 11:10] OhnkytaBlabdey commented on #30850
where do i get the callback `LoadWeightsCallback`

[2021-04-11 11:28] kaelzhang opened #48462 "Tensorflow error messages are verbose, frustrating and hard to understand"
I run into weird and verbose errors that are hard to understand all the time, and it always takes me tons of time to debug into it, however actually, even debugging is also frustrating.

I don't know if other people feel the same.

I'm not actually talking about some specific type of error messages and it is a common issue which might be blamed to the computation graph tensorflow builds and causes

[2021-04-11 12:56] HYChou0515 commented on #44777
For me, this does not work. Making a link to the tensorflow library instead of $LD_LIBRARY_PATH solves my problem.
[code]
Either soft or hard link works.

[2021-04-11 13:34] MaxxTr commented on #46315
Hi @haozha111  & @abattery  thank you for helping and solving the bug - currently that doesn't causes any error, but the results of running the original net and the converted one are really different (let's say truth, the converted net doesn't work and returns garbage) Can you please advice on the way I can understand what can be the rootcause ?

Thank you & best regards ?

[2021-04-11 15:08] DemolationPeter opened #48463 "Error: Invalid argument: Quantized tensors must have non-zero scales"
Hi,

### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installation (pip package or built from source): Nvidia docker image (TF1.15)

### 2. Code

[model.zip](https://github.com/tensorflow/tensorflow/files/6292072/model.zip)

**Transformation from Checkpoints (used scripts from the Object detection API, see model.zip)**

[code]

[code]

[2021-04-11 15:32] mihaimaruseac commented on #48461
This is not a TF error.

[2021-04-11 15:32] #48461 closed

[2021-04-11 15:37] mihaimaruseac commented on #48458
#48714 does not exist. Was that a typo?

[2021-04-11 15:42] JapinderSandhu commented on #45930
this worked for me

[2021-04-11 15:44] mihaimaruseac commented on #42129
Yes, but being low severity and given that patching 1.15 and 2.0 is extremely expensive we no longer patched it.

Recommendation is to update past 2.1

[2021-04-11 15:46] mihaimaruseac commented on #48405
To reach the maximum performance available, each version of TF is tied to a specific CUDA version.

You can try compiling from source to get access to other versions of CUDA (newer/older) but you will have to fix compile errors/bugs that result from the mismatch yourself, as we don't have developers to handle every possible combination.

[2021-04-11 15:57] alphaX86 commented on #48458
It was marked stale and closed abruptly. But the error is the link under `embeddings.metaData` doesn't exist and throws a 404 error

[2021-04-11 16:06] alphaX86 commented on #48458
Oh ok wait... I'll edit the comment and tag the issue

[2021-04-11 16:08] alphaX86 commented on #48458
It's #48174 sorry ma bad... Thanks @mihaimaruseac for pointing out

[2021-04-11 16:42] spate141 commented on #40457
CC: @omalleyt12 Can you please take a look at this? It seems like you're assigned to this thread.

[2021-04-11 17:44] #47976 closed

[2021-04-11 19:02] SwatiModi commented on #29103
How to solve this? I facing the same issue

[2021-04-11 19:21] JapinderSandhu commented on #18736
This is a huge problem for me right now, I cant even finish a single epoch.

[2021-04-11 19:49] airman00 commented on #47978
Yes, is there any way to build C++ for iOS?

Do you also recommend using Swift vs ObjC  on iOS or it should not make a difference in terms of performance?

[2021-04-11 20:08] 2t2c commented on #27688
I've been trying to resolve this issue since past few hours. Thank you for saving me!

[2021-04-11 20:57] airman00 commented on #47978
How is this pod built?
'TensorFlowLiteObjC'

Is there any way to see the exact build commands used to replicate that locally?

 I know how to build TensorFlowLiteC.framework but I want to rebuild the entire pod and add x86 support.

[2021-04-11 21:25] grananqvist commented on #43983
Ok, thanks for the clarification! Then I will assume everything is working as intended and will close this for now.

[2021-04-11 21:25] #43983 closed

[2021-04-11 22:15] abattery commented on #48460
What kind of layers are newly introduced? I suspect that there might be not unsupported ops in the newly attached layer from GPU delegate.

[2021-04-11 22:17] abattery commented on #48463
@Xhark could you triage this issue?

[2021-04-11 22:18] abattery commented on #48463
Yes, you can decouple the training jobs and conversion jobs.

[2021-04-11 22:40] airman00 commented on #47978
I solved my problem in a different way.

I just disabled it from building in the first place on Simulator.

For reference:
1. In your Target's Build Settings delete the entire entry VALID_ARCHS (if it exists) in the User Defined section at the bottom
![image](https://user-images.githubusercontent.com/2061485/114323902-5fcf0580-9af5-11eb-8d36-ea262115f4c6.png)

2. Add this in EXCLUDE ARCHITECTURES

[2021-04-11 22:40] #47978 closed

[2021-04-11 22:58] applikationsprogramvara opened #48464 "Int incompatibility error on building TensorFlowLiteC framework"
# System information
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 11.2.2
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): github repository
- TensorFlow version: github repository
- Python version: 3.8.2
- Installed using virtualenv? pip? conda?: directly from standard terminal
-

[2021-04-11 23:15] abattery commented on #48464
@Maratyszcza @multiverse-tf could you take a look at this?

[2021-04-12 00:04] louis925 opened #48465 "The `.adapt()` method should be called `.fit()` for TextVectorization"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.4
- Are you willing to contribute it (Yes/No): Yes

**De

[2021-04-12 00:37] Xhark commented on #48402
AFAIK, method2 and method4 should generate same model structure for the full-integer quantization case. (weight values and quantization parameter values might be different.) : So it should have the same performance.

But method4 (QAT) supports selective quantization which quantize only specific layers:
https://www.tensorflow.org/model_optimization/guide/quantization/training_comprehensive_guide#qu

[2021-04-12 01:03] thaink commented on #47978
Nice to see you solved it.

[2021-04-12 01:21] Mr-Nineteen commented on #48388
@tilakrayal

The verification is the fusion of TFRA and TRT, without using the GPU environment.

conda env：

1. python version : 3
2. TF related installation library:
[code]
3. Test model address: https://github.com/Mr-Nineteen/models/blob/main/1617949817.zip
4. test code：
[code]
5. Error message:
[code]

Thanks!

[2021-04-12 01:34] Xhark commented on #48463
- To use TF 2.x converter, you may have to load your model with TF 2.x Object Detection API and export it to saved model format using [export_tflite_graph_tf2.py](https://github.com/tensorflow/models/blob/master/research/object_detection/export_tflite_graph_tf2.py)

- You still have to do a lot of steps to get actual quantized model for EdgeTPU. more context is [here](https://github.com/tensorflow

[2021-04-12 02:00] tilakrayal commented on #48409
@Germanferraris,

TensorFlow **1.x** is not actively supported. Could you please update TensorFlow to the latest stable version **v2.4.1** and check if you are facing the same issue. Thanks!

[2021-04-12 02:02] tilakrayal commented on #48406
@staehlmich ,

TensorFlow 1.x is not actively supported. Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same issue. Thanks!

[2021-04-12 02:03] lugalUrim opened #48466 "keras.layers.Dense should not have float units"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-04-12 02:10] cnsgsz commented on #7480
If we are OK with warnings from compiler, is it a good walk-around to include tensorflow first before any include that might include glog? I assume it might be an issue if we include glog first and then tensorflow, as tensorflow could redefine the macros in a way that's not in sync with the rest of the glog library. If we include tensorflow first, we would be able to avoid that issue.

[2021-04-12 02:25] DachuanZhao commented on #48101
You can use it when you want to calculate  a weighted average number
I find that ```tf.keras.layers.Lambda``` can also make it . I will close this issue .

[2021-04-12 02:25] #48101 closed

[2021-04-12 02:29] neekey commented on #33517
Tried nightly, still experiencing the same issue, see my notebook on colab https://colab.research.google.com/drive/1PVBomGMDz5zbbCgSUTCKm6gIMQ2eG6V-?usp=sharing

[2021-04-12 02:34] lugalUrim opened #48467 "tf.math.acos should accept only float/double inputs"
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.3
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
TensorFlow installed from (source or binary): binary
TensorFlow version: 2.4.1
Python version: 3.7
Installed using virtualenv? pip? conda?: pip
Bazel version (if compiling from source): N/A
GCC/Compiler version (if compiling

[2021-04-12 02:35] limdlh commented on #48407
@freedomtan I did compare CPU, GPU and also DSP for both int and fp16, both GPU and DSP is not obviously faster than CPU no matter int or fp16.

[2021-04-12 02:35] zhangguanqun commented on #48401
After change deps from  `["@local_cuda//:cuda_headers"]` to `["@local_config_cuda//cuda:cuda_headers"]` in file bazel-tensorflow-src/external/cub_archive/BUILD.bazel, I got the following errors:
[code]
Tensorflow source version: 2.5.0-dev20210210
CUDA version: 10.2

[2021-04-12 02:38] #48299 closed

[2021-04-12 02:43] thaink commented on #48401
@zhangguanqun What platform are you building on? I am not sure about this error, too.

[2021-04-12 02:46] zhangguanqun commented on #48401
@thaink
Ubuntu 18.04 Desktop

[2021-04-12 02:48] thaink commented on #48401
Did you run ./configure?

[2021-04-12 02:50] zhangguanqun commented on #48401
@thaink
Yes, I have already successfully build tensorflow-lite.aar with the same TF source and the AAR file is works fine on my Android App.

[2021-04-12 03:00] zhangguanqun commented on #48401
Or, can I build libtensorflowlite.so without CUDA?
It seems like all errors are related to CUDA.

[2021-04-12 03:12] Mullich123 commented on #48439
Is someone there?I badly need your help!!!!

[2021-04-12 04:08] multiverse-tf commented on #48464
According to this [comment](https://github.com/google/XNNPACK/issues/1390#issuecomment-814600788), the issue should have been fixed on the XNNPACK side by this commit https://github.com/google/XNNPACK/pull/1391/commits/60fc61373f21f0ad3164cc719de464f4b787dc04. Could you help with the verification? Thx!

Btw, you need to change https://github.com/tensorflow/tensorflow/blob/master/tensorflow/workspa

[2021-04-12 04:08] #48405 closed

[2021-04-12 04:09] daverim commented on #47858
Hi Lucas,

Seems that the weight vars are not shaped correctly. Try adding the following class:

[code]

And modifying your ConvQuantizer to

[code]

[2021-04-12 04:56] AdityaKane2001 commented on #48466
@lugalUrim
Don't worry,  it floors to an integer.
[code]

[2021-04-12 05:03] ramram1987 commented on #46933
Hi @othrif I Have a different but as we have similar specs I thought you might help me.

    Linux Ubuntu 20.10
    TensorFlow version: 2.4.1
    Python version: 3.8.7
    CUDA: 11.0.221
    GPU model and memory: GeForce RTX 3090 24GB

I am not able to install cuda. I tried to follow Nvidia documentation for ubuntu 20.04 but it failed. Can you tell me how did you do?

[2021-04-12 05:13] Saduf2019 commented on #48305
@1165628028
Please confirm if the issue is resolved, if yes move this issue to closed status.

[2021-04-12 05:17] thaink commented on #48401
Right. cub_archive is only pulled in if if_cuda is true.
So it should not be included here.
Could you double check  and share the content of .tf_configure.bazelrc file?

[2021-04-12 05:40] thaink commented on #48401
does adding --config=monolithic help?

[2021-04-12 05:56] tilakrayal commented on #48406
@staehlmich ,

TensorFlow 1.x is not actively supported. Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same issue. Thanks!

[2021-04-12 06:19] impjdi commented on #48001
We have an internal bug system and this is being investigated, but personally, I'm clueless as I don't go through any code path that does something like setting the SDK version (i.e. I have no idea when you talk about `targetSdkVersion()`).  I'll report back when I find something =/

[2021-04-12 06:21] zhangguanqun commented on #48401
@thaink
Do you mean run ./configure and set with CUDA=False?
I run configure file with CUDA setting true, here is my .tf_configure.bazelrc file:
[code]
Should I configure CUDA = false?

[2021-04-12 06:21] Saduf2019 commented on #48438
@l1x

Can you please follow the below box with the version that you have chosen [11.2 and 8.1] and let us know:
[code]

[2021-04-12 06:22] zhangguanqun commented on #48401
Adding --config=monolithic does not help.

[2021-04-12 06:27] arturdryomov commented on #48001
My current guess is that using Android 12 as a target SDK prevents applications (which are TF consumers) from linking to system binaries. As a result, OpenCL exists but cannot be linked to. When Android detects lower target SDK, rules are relaxed and the linking is allowed.

[2021-04-12 06:34] watermellon2018 opened #48468 "Build bazel error"
**System information**
- OS Platform Linux Ubuntu 18.04:
- TensorFlow installing from source or binary
- Python version: 3.6.9
- Bazel version: 3.7.2
- GCC/Compiler version: 7.5.0
- CUDA/cuDNN version: 10.2 / 7
- GPU model and memory: GeForce GTX 1060 3GB/PCIe/SSE2

After run ./configure, i call `bazel build --local_ram_resources=HOST_RAM*.5 --local_cpu_resources=HOST_CPUS-1 --config=cuda  --spawn

[2021-04-12 06:34] lugalUrim opened #48469 "tf.keras.layers.Conv2DTranspose raises error when dilation rates are different in two dimensions"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.1
- Pyt

[2021-04-12 06:57] amahendrakar commented on #33905
@nikochiko,
Looks like this issue is fixed. Links for `View sample configuration session` section works for both Windows and Linux.

- Windows : https://www.tensorflow.org/install/source_windows#expandable-1
- Linux : https://www.tensorflow.org/install/source#expandable-1

Please feel free to close the issue if resolved. Thanks!

[2021-04-12 07:05] lugalUrim opened #48470 "Conv2DTranspose crashes with filters=0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.1
- Pyt

[2021-04-12 07:06] ToBigboss opened #48471 "app crash when load mlmodel with modelWithContentsOfURL:configuration:error"
## ❓Question
App probabilistic crash when load mlmodel with modelWithContentsOfURL:configuration:error；

crash stack：
0  Espresso                       0x1b3d38c10 Espresso::cpu_context_transfer_algo_t::cpu_context_transfer_algo_t(Espresso::cpu_context_transfer_algo_options const&) + 228
1  Espresso                       0x1b3d9e13c std::__1::__shared_ptr_emplace<Espresso::cpu_context_transfer_alg

[2021-04-12 07:17] watermellon2018 commented on #48468
Now i run `bazel clean --expunge` and after this call
`bazel build --config=cuda --config=opt --action_env PATH --action_env LD_LIBRARY_PATH --action_env DYLD_LIBRARY_PATH //tensorflow/tools/pip_package:build_pip_package`
and get this error: `C++ compilation of rule '//tensorflow/core/kernels:snapshot_op_gpu' failed (Exit 1): crosstool_wrapper_driver_is_not_gcc failed: error executing command exte

[2021-04-12 07:20] amahendrakar commented on #34409
@hectorqin,
Is this still an issue?

Could you please follow the office [build form source guide](https://www.tensorflow.org/install/source) and check if you are facing the same issue with TF v2.4 as well? Thanks!

[2021-04-12 07:44] tilakrayal commented on #48459
@aswath8 ,

TensorFlow v2.4 is built and tested against CUDA 11.0 and cuDNN 8. Could you please update the CUDA and cuDNN packages on your machine to compatible versions and check if you are facing same issue.For more information please take a look at the [tested build configurations](https://www.tensorflow.org/install/source#gpu).

And also please refer [#46837](https://github.com/tensorflow/tens

[2021-04-12 07:47] bratyslav commented on #48460
i applied keras.layers.experimental.preprocessing.Resizing and keras.layers.Conv2D, But I get the same results with keras.layers.Conv2D only.
Here is the simple code snippet to reproduce: https://colab.research.google.com/drive/18qryA4hPu-uCEyFggoyWRkW_ouT8024A?usp=sharing

[2021-04-12 07:48] Kushagratandon12 commented on #48449
Hi @yananchen1989 I will suggest you try this

`import tensorflow as tf`
`converter = tf.lite.TFLiteConverter.from_saved_model('/content/Model_Weights')` # path to the SavedModel directory
`tflite_model = converter.convert()`
`with open('tflite_model','wb') as file: file.write(tflite_model)`

[2021-04-12 07:56] DemolationPeter commented on #48463
Thank's for the fast reply.
I worked on it last evening and this is my result.
You can convert (mostly) with TF 1.15 QAT trained models with TF 2.4.0. I use a docker image from nvidia [nvidia](https://ngc.nvidia.com/catalog/containers/nvidia:tensorflow) because of the GPU support.
At first I converte in my docker image for the model training (nvidia container with TF1.15 and Object Detection API i

[2021-04-12 08:05] ingolfured commented on #48213
Any news on this one? Anything else I can help with?

[2021-04-12 08:11] tilakrayal commented on #48456
@dexter2406 ,

In the given code snippet, you have defined the functions but are not calling them anywhere. Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/e40fad081c1289f224392a6fe73f03f6/48456.ipynb).

In order to reproduce the issue reported here, could you please provide the complete code and the dataset you are using. Thanks!

[2021-04-12 08:27] scarlehoff opened #48473 "Documentation for tf.tensor_scatter_nd_add mentions non existing method"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/tensor_scatter_nd_add

## Description of issue (what needs changing):

The documentation for `tensor_scatter_nd_add` mentions `tf.scatter_nd_add`, but that method no longer exists.

[2021-04-12 08:35] yakovdan commented on #48307
Hi @jianlijianli, are there any updates on this?

[2021-04-12 08:41] zhangguanqun commented on #48401
UPDATE:
If I set `with CUDA to False` in runing configure file, .tf_configure.bazelrc file change to
[code]

Than I try to rebuild libtensorflowlite.so with the same command, but got some errors with OPEN-SSL :(
[code]
My OpenSSL version is: 1.1.1  11 Sep 2018

[2021-04-12 08:43] mrjoelc commented on #48452
I'm sorry, I may not have been able to express myself.

What I need is to take an SSD type model and convert it into an image classifier. To do that I need to change the output tensor. In general the output tensor of a SSD consist [bounding boxes][scores of bounding boxes][the categories of the detected boxes][#detections] I only need the [scores of bounding boxes] (in my case will be only 1 score

[2021-04-12 08:46] Luux commented on #44348
We're encountering this issue as well. Did you find any workaround?

[2021-04-12 08:50] kevint324 opened #48474 "Possible race condition in nccl_manager_test"
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/nccl/nccl_manager_test.cc#L157

``in_cpu`` is not referenced and goes out of scope (line 159) right after the ``stream->ThenMemcpy`` is called

The source cpu buffer may become invalid before the actual H2D memory transfer start.

This test failed in our in-house platform. I'm not sure why this test seems fine on tensorflow's CI.

[2021-04-12 08:54] amahendrakar commented on #35662
@xlnwel,
Is this still an issue?

Could you please check if you are facing the same error with the latest stable version of TensorFlow v2.4.1. Thanks!

[2021-04-12 09:06] lugalUrim commented on #48466
Thanks for pointing this out! @AdityaKane2001
I suppose that it would be better if the document (https://www.tensorflow.org/api_docs/python/tf/keras/layers/Dense) can be changed to make this clear for everyone, because now it says that the `units` should be a positive integer.

[2021-04-12 09:08] #40805 closed

[2021-04-12 09:08] tilakrayal commented on #48462
@kaelzhang ,

In order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Bazel vers

[2021-04-12 09:08] AdityaKane2001 commented on #48466
It needs to be a positive integer, the developers may have just made the provision in case of an typo or something.

[2021-04-12 09:13] ibreschi commented on #48146
Hello do you have any update about this issue?

[2021-04-12 09:14] amahendrakar commented on #35253
@FranzBl,
Is this still an issue?

Could you please follow the official [build form source guide](https://www.tensorflow.org/install/source_windows) and check if you are facing the same issue with TF v2.4 as well? Thanks!

[2021-04-12 10:02] tilakrayal commented on #48467
@lugalUrim ,

In order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Bazel vers

[2021-04-12 10:09] namursag opened #48476 "Conv2D for GPU is not currently supported without cudnn"
**System information**

    Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
    OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3
    Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
    TensorFlow installed from (source or binary): binary
    TensorFlow version (use command b

[2021-04-12 10:12] creidieki commented on #44348
I ended up having to rearrange things so that there would never be partial batches. So I've been doing things like:
* choosing a validation set size of 120, so that it would divide evenly among 1, 2, 3, 4, 5, 6, or 8 GPUs
* given n training examples, throwing away the last (n % 32) of them, so that all training batches were size 32
I'm sorry I can't offer anything better.

[2021-04-12 10:15] Saduf2019 commented on #48129
@bjourne
I ran the code shared on tf 2.4 and 2.5 stable version, here until five places after decimal the values are same.

[2021-04-12 10:16] lugalUrim commented on #48467
Updated. Thanks. @tilakrayal

[2021-04-12 10:36] namursag opened #48477 "Failed to designate device placement on GPU with tf.device and executed without warning"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.3
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below)

[2021-04-12 10:37] #45749 closed

[2021-04-12 10:38] #46162 closed

[2021-04-12 10:54] bjourne commented on #48129
Yep, but *all* decimal places should be exactly the same. :)

[2021-04-12 10:55] aswath8 commented on #48459
Thank you for pointing out the version, I did try it again now with CUDA 11.0 and cuDNN 8.0.5,  but having the same problem, nothing's changed. Actually, I did refer to thread #46837 before, but unfortunately, it ends by saying that the person has done a fresh installation of Ubuntu. Is there a more straightforward solution or any kind of diagnosis steps that I could follow?

[2021-04-12 11:10] UsharaniPagadala commented on #48448
@micosacak

Can you share more details for us to analyse, simple stand alone code to replicate the issue faced or a colab gist with the code and error. Thanks

[2021-04-12 11:18] axelning opened #48478 "Functions attributes error "'Functional' object has no attribute '_make_train_function'" and eager mode and non-eager returns different logits"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-04-12 11:29] amahendrakar commented on #48038
@WoutRuyters,
Thank you for the Colab gist.

@jvishnuvardhan,
I was able to reproduce the issue with TF v2.4, TF v2.5.0rc0 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/482cb9cb6ead22fec60998d28bd39ce2/48038.ipynb). Thanks!

[2021-04-12 11:47] darkSKULL-labs opened #48480 "Lua Wrapper"
I wrapped it with Swig. But, I can not wrap TF_NewWhile because of the const pointer. I do not know why it says that it is read-only, because I tested it with another C program and it compiled. If anyone can explain why it says it is read-only I would like to learn the reason it refuses to compile it.

[2021-04-12 11:49] lugalUrim opened #48481 "Matmul with int32 datatype is not supported on GPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): tensorflow 2.

[2021-04-12 11:59] lugalUrim commented on #48481
I guess the problem doesn't have much to do with `tf.device`, because the op `MatMul` does not have int-32 support itself.

Run
[code]
and it turns out that `MatMul` is not registered with device_type=GPU and type=DT_INT32.

[2021-04-12 12:06] raduslmn opened #48482 "Model converts to TFlite but invocation fails"
**System information**
- OS Platform: Windows, Linux:
- TensorFlow 2.4.1:

**Standalone code to reproduce the issue**
https://colab.research.google.com/drive/1f22ow0a4p1WQLdlm7AIZ0V3DHbxI8EjG

**or if you like. here is the same code as in Google Colab to reproduce the problem**
[code]

**Provide the text output from tflite_convert**

[code]

When I run the invocation using `tflite_runtime` i get t

[2021-04-12 12:14] abattery commented on #48482
Could you try with the tf-nightly version? We have improved on the similar cases at the recent changes.

[2021-04-12 12:18] abattery commented on #48482
FYI, tf.all op is now a part of TFLite builtin op set in the tf-nightly.

[2021-04-12 12:18] raduslmn commented on #48482
I did try and i still get the exact same error.

[2021-04-12 12:25] abattery commented on #48482
If you didnt convert the model with the tf-nightly, please conduct the conversion again and re-try the model executation.

[2021-04-12 12:26] tilakrayal commented on #48476
@namursag ,

I ran the code shared on tf v2.5.0rc0, tf nightly and do not see any error, please find the [gist here](https://colab.research.google.com/gist/tilakrayal/3ae2f7513d110e9584fc3f7741ccc23f/48476.ipynb)

[2021-04-12 12:30] raduslmn commented on #48482
I just did that, i tested with `tf-nightly-2.6.0.dev20210412` and the error is exactly the same.
I updated the Google Colab code where you can run and it will reproduce the exact same problem as i describe   https://colab.research.google.com/drive/1f22ow0a4p1WQLdlm7AIZ0V3DHbxI8EjG

[2021-04-12 12:30] abattery commented on #48482
Via the above gist, I confirmed that the tf-nightly version also have the same issue.

[2021-04-12 12:30] abattery commented on #48482
Let me take a look at the model structure.

[2021-04-12 12:35] tilakrayal commented on #48471
@ToBigboss ,

In order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Bazel vers

[2021-04-12 12:41] abattery commented on #48482
I confirmed that this issue is related to the pass for lowering static tensor list. Thanks for the bug report!

[2021-04-12 12:42] abattery commented on #48482
@haozha111 could you take a look at this bug report?

[2021-04-12 12:44] tilakrayal commented on #48468
@watermellon2018 ,

In order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:

Thanks!

[2021-04-12 12:50] namursag commented on #48476
Thanks @tilakrayal . Updating to tf-nightly solves my problem indeed.

[2021-04-12 12:50] #48476 closed

[2021-04-12 12:58] othrif commented on #46933
Hi @ramram1987, the Nvidia documentation is difficult to follow and a the tensorflow GPU documentation did not work for me. Have you tried the instructions i included above on how i installed tensorflow?

[2021-04-12 13:18] Barleysack opened #48483 "GPU is not working even after fine installation"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version:2.4.1
- Python version:3.8.8
- Installed using virtualenv? pip? conda?:conda
- Bazel version (if compiling from source):
- GCC/Compiler

[2021-04-12 13:19] reisertm opened #48484 "einsum with ellipsis is slow"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2021-04-12 13:30] ardtrkc opened #48485 "Tensorflow Lite - Flatbuffers.h error [cmake]"
Hello !

Our aim is to install TensorFlow Lite in our embedded board (iMX6). To reach this aim, firstly we made a recipe to build TFLite in our Yocto framework. After this step our static tensorflow-lite library was generated.

Then, we wanted to try the functionality of the library with a basic helloworld program. For this step, we chose to start with minimal.cpp which is from official github rep

[2021-04-12 13:43] kriskorrel-cw commented on #34977
If I'm not mistaken, this fix does not work (anymore). At least not in TF 2.4.1.
I have also created a separate code snippet in which basically the same issue is present, and was not able to solve it by using `.get_output_at`, as the layer has only a single output/inbound node.
Shouldn't the code snippet below be able to work?

[code]

[2021-04-12 13:54] mechaot commented on #46194
same issue here computing gradients on tf.keras.application.VGG16 with 2.4.1

[2021-04-12 13:59] LucasStromberg commented on #47858
Hi. By also setting the DenseQuantizer to use ConvWeightsQuantizer this works! Otherwise I got a similar error but for shape (10,).

Thanks a lot!

[2021-04-12 13:59] amahendrakar commented on #48439
@Mullich123,
On running the given code snippet, I am facing an error stating `AttributeError: module 'unet' has no attribute 'build'`.

In order to reproduce the issue reported here, could you please provide a minimal code snippet and the dataset you are using. Thanks!

[2021-04-12 14:01] amahendrakar commented on #48439
Also, please update TensorFlow to the latest stable version **TF v2.4.1** with **CUDA 11.0**, **cuDNN 8.0** and check if you are facing the same error. Thanks!

[2021-04-12 14:09] abattery commented on #48485
@terryheo could you take a look?

[2021-04-12 14:10] yhidaka commented on #48314
@Saduf2019
Thank you for your comment. I ran your gist with 3 and 1001 for "n_div" and got the similar results for "tElapsed_vec" (using tape.jacobian) and "tElapsed_sca" (using tape.gradient) with both tf2.4 & 2.5:

# tf2.4.1

n_div = 3
Trial-1: jac = 5.3 [s]; grad = 0.08 [s]
Trial-2: jac = 5.4 [s]; grad = 0.08 [s]

n_div = 1001
Trial-1: jac = 6.0 [s]; grad = 27.3 [s]
Trial-2: jac = 5.5 [s]; grad

[2021-04-12 14:12] Mullich123 commented on #48439
Thanks for your debugging!Well,I just can't understand the meaning of this error,could you tell me how the error happens?

[2021-04-12 15:01] tilakrayal commented on #48470
I have tried in colab with TF v2.4,TF v2.5.0rc0, TF-nightly and noticed that session is being crashed.Please find the [gist](https://colab.research.google.com/gist/tilakrayal/0320e88d57e19455caae287cb8e0a208/48470.ipynb) here

[2021-04-12 15:08] swight-prc opened #48486 "Deprecation Warning in LocallyConnected1D"
Tensorflow version 2.4.1

https://github.com/tensorflow/tensorflow/blob/85c8b2a817f95a3e979ecd1ed95bff1dc1335cff/tensorflow/python/keras/layers/local.py#L39-L338

And also (perhaps more specifically)
https://github.com/tensorflow/tensorflow/blob/85c8b2a817f95a3e979ecd1ed95bff1dc1335cff/tensorflow/python/keras/layers/local.py#L780

In a LocallyConnected1D layer, if you use `implementation==2` you g

[2021-04-12 15:18] DCtheTall commented on #48238
@kkimdev that's definitely understandable, in an extreme example users might even call `tf.meshgrid` to verify that tensors have the same type (but that sounds like an anti-pattern to me...)

[2021-04-12 15:24] impjdi commented on #48407
It's hard to tell without taking a look at the model.

[2021-04-12 15:52] amahendrakar commented on #48439
@Mullich123,
Without a reproducible code it would be difficult for us to determine the source of the error.

Could you please provide a minimal code snippet, which we can run at our end and debug the issue. Thanks!

[2021-04-12 15:54] ismael-elatifi commented on #44291
I had the same issue with TF2.4.1, cuda 11 and cudnn 8 and solved it by copying the file `cusolver64_10.dll` from version 10.2 bin folder into my version 11 bin folder i.e. Miniforge3\envs\py37-tf241\Library\bin (because I installed cuda with conda).

[2021-04-12 15:54] swight-prc commented on #48483
I had the same issue. I think perhaps 2.4 updated its cuDNN requirements. I have cuDNN4_7, and it's looking for cuDNN4_8.

I suspect this was a quiet update, and it was a bit of a surprise to see that error. I'm looking into how to get cuDNN4_8 now.

[2021-04-12 15:55] gdudziuk commented on #40942
I have just run the test with TF `2.4.1`. Unfortunately, the issue is still there. The results are very similar to those reported above for `2.4.0-dev20200702`. I will check with `tf-nightly` in a moment...

[2021-04-12 16:04] jvishnuvardhan commented on #40942
@gdudziuk If possible, Can you please check with `TF2.5rc0` also. Thanks!

[2021-04-12 16:06] Barleysack commented on #48483
well I'm totally noob here, so I always look for the stable or latest version for both cuda and cuDNN...
mine is 8.1.1, and I don't think it's some kind of package problem, but maybe it's the problem for laptop computers which got both internal graphic cards and additional GPUs...

[2021-04-12 16:10] jvishnuvardhan commented on #39550
@sayakpaul Can you please check whether the issue is persisting even after matching TF versions as suggested by @rxsang .

Please close the issue if this was already resolved after matching the versions. Thanks!

[2021-04-12 16:12] swight-prc commented on #48483
Did you follow the instructions here:
https://towardsdatascience.com/installing-tensorflow-with-cuda-cudnn-and-gpu-support-on-windows-10-60693e46e781

?

They're a little outdated, but they got me there with Cuda 10 and cuDNN64_7 about 6 months ago.

[2021-04-12 16:12] sayakpaul commented on #39550
@jvishnuvardhan at least check who has opened the issue and then post your suggestions :D

How can a non-member close an issue that they haven't created?

[2021-04-12 16:13] czmrand commented on #47362
Is there an ETA for this feature request?

[2021-04-12 16:14] ewilderj commented on #48413
Hi @johnpeach please drop me an email at ewj at google.com and I'll route you in the right direction.

[2021-04-12 16:14] amahendrakar commented on #48235
@bjkomer,
Thank you for the update.

Is this still an issue? Please feel free to close the issue if it is resolved.

[2021-04-12 16:14] #48413 closed

[2021-04-12 16:31] lucacampanella opened #48487 "[RNN] TFLite integer 8 quantization yielding worse accuracy than CoreML integer 8"
### 1. System information

- OS Platform and Distribution: Linux Ubuntu 20.04
- TensorFlow installation: pip package
- TensorFlow library: tf-nightly==2.6.0.dev20210407

### 2. Issue and code

I'm implementing a Keras GRU model (tensorflow.keras.layers.GRU) on mobile devices for character level language modelling. In order to have a smaller on-device checkpoint I'm experimenting both with TFLite a

[2021-04-12 16:34] jvishnuvardhan commented on #39550
@sayakpaul Sorry for the last comment. Thanks!

[2021-04-12 16:47] StarWang commented on #48204
Hi @rmlarsen , can you help answer the question?

[2021-04-12 16:54] georgeslabreche commented on #48200
@mihaimaruseac it's good but it doesn't allow us to cite specific versions of the framework so that the published paper ages well in terms of reproducibility.

[2021-04-12 17:17] asokraju commented on #47275
Hey, are you waiting for my comments?

[2021-04-12 17:20] jvishnuvardhan commented on #39550
@dipoojo55 Is this still an issue for you? I tried running your code but facing different error (could be due to data that I cannot access). [Here is a gist](https://colab.research.google.com/gist/jvishnuvardhan/f568d9ce7a6f1d9cc70bbb09a7be9fe9/untitled181.ipynb) for reference.

Can you please run the code yourself or share a standalone code and data to reproduce the issue. Thanks!

[2021-04-12 17:21] #48151 closed

[2021-04-12 17:29] jvishnuvardhan commented on #47536
@AritroSaha10 Is this still an issue for you? Can you try @terryheo suggestion and let us know how it progresses. thanks!

[2021-04-12 17:43] drasmuss commented on #44563
Had a chance to test this, and it looks like the problem is the same (possibly worse) in `tf-nightly`.  Here are my results (note I couldn't get tf-nightly to run with GPU support on Colab, so this is on a local RTX 3090):

**tf-nightly**
Eager: 0.8343444939237088
Non-eager: 0.6216731490567327
(~33% slowdown in eager mode)

Also note that tf-nightly seems to be significantly slower than older vers

[2021-04-12 17:50] applikationsprogramvara commented on #48464
@multiverse-tf thank you for the tip with updating of `workspace2.bzl`. I am compiling tensorflow for the first time, so it was not so obvious for me.

So what I did:

1. I retrieved the commit ID from https://github.com/google/XNNPACK/commit/60fc61373f21f0ad3164cc719de464f4b787dc04
2. It is `60fc61373f21f0ad3164cc719de464f4b787dc04`
3. I replaced commit ID in 3 places: `strip_prefix` and two `url

[2021-04-12 17:54] dsantiago commented on #35900
Dude this function `padded_batch` is horrible... Must be rethinked in my point of view

[2021-04-12 18:02] karimnosseir commented on #48357
You don't need to copy oemconfig.so.

The error is here
[code]

This means you're not pushing the files to the correct location.
To run label_image example, you need to push the files to "/data/local/tmp"

[2021-04-12 18:11] micosacak commented on #48448
Here is the Python code below [or from here:](https://www.tensorflow.org/tutorials/generative/dcgan)

[code]

Now, everytime we have to provide `training = True `. Is there a way after loading the model again and change some values in the loaded model, which will not require `training = True `. By this way, we may do not have to `feed` in any flags.

[2021-04-12 18:13] ronnist opened #48490 "Cholesky decomposition was not successful. The input might not be valid."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Pl

[2021-04-12 18:21] #48075 closed

[2021-04-12 19:42] ewilderj commented on #48200
Looking for an owner from the product team for this.

[2021-04-12 19:46] AritroSaha10 commented on #47536
Hi, sorry about the late response. I'm trying out the suggestion right now, but I'm not sure what alternative I should be using opposed to the x86 cross-compiling tools for gcc. If you want, here's the error msg:

[code]

[2021-04-12 20:07] Saduf2019 commented on #48428
@dhakrasp
I ran the code on tf 2.4 and do not face any error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/240e2e9cf9c97e52479b8f1359f0890a/untitled.ipynb).
Can you please upgrade your tf version and transformer version and let us know.

[2021-04-12 20:16] #48266 closed

[2021-04-12 20:21] abattery commented on #48487
@Xhark could you triage this?

[2021-04-12 20:23] ymodak commented on #48109
Closing this issue now, Feel free to reopen if necessary. Thanks!

[2021-04-12 20:23] #48109 closed

[2021-04-12 20:30] Maratyszcza commented on #48464
The error is due to compiler lacking `vdotq_lane_s32` instructions. If you're building for iOS, please try a newer version of XCode. If you're building for Android, please try Android NDK r19 or later.

[2021-04-12 20:31] zenogantner commented on #47642
Not sure. @fchollet, the main author of Keras, decided to remove the lines, I assume he knows what he is doing there.

[2021-04-12 20:39] abattery commented on #48277
@Ean244 could you share how to reproduce the conversion? If possible, sharing a form of the gist will be very helpful.

[2021-04-12 20:48] applikationsprogramvara commented on #48464
@Maratyszcza thank you for the advice!

I am building iOS version and currently using the latest stable version of XCode:

[code]
<img width="525" alt="Screenshot 2021-04-12 at 22 41 45" src="https://user-images.githubusercontent.com/38891920/114459036-48207b80-9be0-11eb-8040-73edc8ee79a6.png">

https://en.wikipedia.org/wiki/Xcode
<img width="325" alt="Screenshot 2021-04-12 at 22 39 52" src="https

[2021-04-12 20:54] Jakub-Bielawski commented on #48485
Hello, I have exactly the same problem.
I've downloaded the Tensorflow repo, to lib directory in my project, and everywhere with #include "flatbuffers/flatbuffers.h" is an error. Can not open source file.

[2021-04-12 20:57] gdudziuk commented on #40942
Ok, it was a longer moment, because both TF `2.5.0-rc0` and tf-nightly (`2.6.0-dev20210412` at the moment) depend on `libcusolver.so.11` while it seems that the latter is not available via APT (or at least I haven't succeeded to install it). So eventually, I have just run the test code on my Kubuntu 18.04 machine in CPU mode only.

And I don't have good news to share. The issue is there, both in `

[2021-04-12 21:06] egenc commented on #38571
I have fixed this by changing the `load` function. If you are loading your model from `.h5` or `.pb`

change it from this:

` `   model = tf.saved_model.load(self.filename, [tf.saved_model.SERVING])`
`
to this:

[code]

[2021-04-12 21:08] shashank2710 commented on #44602
@aswath8 refer #46837.

[2021-04-12 22:51] jvishnuvardhan commented on #48019
I am closing this issue as this was resolved. Please feel free to reopen if I am mistaken. Please feel free to raise any PR If you want to update any tutorial or guide. Thanks!

[2021-04-12 22:51] #48019 closed

[2021-04-12 22:52] bhack commented on #42383
@SamuelMarks is this releated to https://github.com/tensorflow/tensorflow/issues/41361 or something different?

[2021-04-12 23:20] CaptainOrigami opened #48492 "tensorflow.python.framework.errors_impl.NotFoundError: Unsuccessful TensorSliceReader constructor: Failed to find any matching files for C:/tensorflow1/models/research/object_detection/ssd_mobilenet_v2_320x320_coco17_tpu-8/checkpoint.ckpt-0"
When i try to run training using this command:

python model_main_tf2.py --pipeline_config_path=training/ssd_mobilenet_v2_320x320_coco17_tpu-8.config --model_dir=training --alsologtostderr

I get this error:

2021-04-12 19:15:52.041217: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library cudart64_110.dll
2021-04-12 19:15:54.632151: I tensorflow/compi

[2021-04-13 00:14] jvishnuvardhan commented on #47910
@ianqouda I updated your code (mainly adding `get_config` method and `self._boundaries = boundaries`). With those modifications, everything works as expected. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/23725bbc9fb3d13952172dc1fb77a229/untitled580.ipynb).

Please verify once and close the issue if this was resolved for you. Thanks!

[2021-04-13 00:15] rghelichi commented on #48352
So the problem insisted I found on other issues
https://github.com/tensorflow/tensorflow/issues/42738
a related error and when I tried one of the other users suggestions it worked

`gpu_devices = tf.config.experimental.list_physical_devices('GPU')
for device in gpu_devices:
    tf.config.experimental.set_memory_growth(device, True)`

what does this code do? is there sth I can do to avoid running t

[2021-04-13 00:23] jaime-varela commented on #33721
For me the issue was gpu memory settings, I ran:

`import tensorflow as tf
if 'session' in locals() and session is not None:
    print('Close interactive session')
    session.close()

import tensorflow as tf
print("Num GPUs Available: ", len(tf.config.list_physical_devices('GPU')))

gpus = tf.config.list_physical_devices('GPU')
if gpus:
  try:
    # Currently, memory growth needs to be the same a

[2021-04-13 00:43] abattery commented on #48482
@raduslmn I landed the fix for this issue. Please make sure enable the select TF option as your conversion code and verify the fix with the tomorrow's tf-nightly version.

[2021-04-13 00:44] abattery commented on #48482
https://github.com/tensorflow/tensorflow/commit/a5382257ac60dc0806c2fca7efaa5a133ee24ef6 is the fix.

[2021-04-13 00:59] abattery commented on #48487
@teijeong could you triage this issue?

[2021-04-13 01:04] thaink commented on #48401
right. cuda should be config to no.
I am was able to reproduce a similar build error, let me check.

[2021-04-13 01:08] duncanriach commented on #47174
[Disclosure: I have not (yet) run this code and debugged the source of nondeterminism. The following is just from looking at the models.]

1. The above code implements the currently recommended [workaround](https://github.com/NVIDIA/framework-determinism/blob/master/tensorflow_status.md#softmax-xent) for fused softmax/cross-entropy nondeterminism by configuring the final `dense_layer` to have a `'

[2021-04-13 01:09] limdlh commented on #48407
@impjdi Hello, both model is here: https://github.com/limdlh/share

[2021-04-13 01:22] limdlh commented on #48407
@impjdi I also tested in DSP(Hexagon), it's still roghly same slowly as GPU

[2021-04-13 01:25] shanshanpt commented on #20833
+1

[2021-04-13 01:33] zhangguanqun commented on #48401
@thaink  🙏
Maybe I should downgrade openssl.

[2021-04-13 01:43] impjdi commented on #48407
Hm, you have a pretty large `FULLY_CONNECTED` at the end which may not be too efficient when run on the GPU.  Try to cut the network right after the final `CONV_2D` and see whether it's indeed the culprit.

[2021-04-13 01:53] ebursztein opened #48494 "Invalid (404) link in the the tf.data guide"
## URL(s) with the issue:

https://www.tensorflow.org/guide/data

## Description of issue (what needs changing):

In the sentence "See Loading TFRecords for an end-to-end example." the link points to
https://www.tensorflow.org/tutorials/load_data/tf_records which returns a 404

It needs to point to the correct url https://www.tensorflow.org/tutorials/load_data/tfrecord

[2021-04-13 01:56] Dragon-GCS commented on #48334
The code in my question is not complete，you can see the whole code in this [notebook](https://colab.research.google.com/github/tensorflow/docs-l10n/blob/master/site/zh-cn/tutorials/text/transformer.ipynb)。It‘s from this [document](https://tensorflow.google.cn/tutorials/text/transformer?hl=zh_cn). You can run all the cell in colab,and you wil find the error in the last cell output. This error occur

[2021-04-13 02:08] terryheo commented on #48401
I hope this is helpful.

1. According to https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/tools/pip_package/build_pip_package_with_bazel.sh#L39
you need to hide the system openssl. And you also need to modify /usr/include/curl/curlbuild.h

2. "--config=monolithic --config=noaws --config=nogcp --config=nohdfs --config=nonccl" is required for Flex build.

3. To avoid #1, it's bet

[2021-04-13 02:44] jianlijianli commented on #48307
Hi yakovdan, we bumped the ruy version in https://github.com/tensorflow/tensorflow/commit/ff72b005814d18aa539b93fdecd9476ec311160e to include the rollbacks bjacob mentioned. Could you please double check that change is reflected in your codebase? I was able to run " tfliteInf.py full_quant.tflite trevi_small1.bmp" with that change and produce the following result without any crash:

run tflite mod

[2021-04-13 02:55] limdlh commented on #48349
@srjoglekar246 What about XNNPACK ? What does it represent?

[2021-04-13 03:01] aswath8 commented on #44602
@shashank2710 I did refer to the issue you posted, unfortunately, it ends by saying Errors 1 and 2 still exist and then you performed a fresh installation of Ubuntu and Updated Bazel flags. May I know what changes did you exactly make to the Bazel flags?

[2021-04-13 03:24] Stonepia opened #48496 "Build Failed with Missing Dependencies Error with Clang-11 and get 404 Not Found Warning"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (

[2021-04-13 03:27] zhangguanqun commented on #48401
@terryheo Thanks, advice 1st did help, errors about openssl did not exist, but, at the end of building, linking error reported:
[code]

[2021-04-13 03:35] yananchen1989 commented on #48449
`converter = tf.lite.TFLiteConverter.from_saved_model('model_charl')`

and then

[tflite_model = converter.convert()](url)

Exception: <unknown>:0: error: loc(callsite(callsite(callsite(callsite(callsite(callsite("map/TensorArrayV2_2@__inference_bert_pack_inputs_layer_call_and_return_conditional_losses_4831" at "bert_pack_inputs/PartitionedCall@__inference_model_layer_call_and_return_conditional_l

[2021-04-13 03:37] yananchen1989 commented on #48449
well, it would be perfect to solve this issue within 2.4.1 since we are not allowed to use model from tf-nightly in the production environment.

[2021-04-13 03:46] thaink commented on #48401
How about increase the value of --experimental_ui_max_stdouterr_bytes?

[2021-04-13 03:50] zhangguanqun commented on #48401
@thaink
Yes, I have increated max_stdouterr_bytes to 1073741819, and rebuilding is doing now, this may take several tens of minutes.

[2021-04-13 04:00] Mjonir opened #48497 "Activation layer fails to be merged in TFLite conversion after quantization-aware training"
### 1. System information

- OS Platform and Distribution: Windows 10.0.19042 Build 19042
- TensorFlow installation: pip package
- TensorFlow library: 2.6.0-dev20210412

### 2. Code

**Model training (with QA training)**: https://colab.research.google.com/gist/Mjonir/c2f281c417b3846887a242c19caa2c06/tensorflow-datasets.ipynb
**Trained model (with QA training)**: https://1drv.ms/u/s!AiIykeHl1htbwsM

[2021-04-13 04:09] aswath8 commented on #48459
Okay, [Resolution](https://github.com/tensorflow/tensorflow/issues/46837#issuecomment-773536957) that is mentioned here works.

[2021-04-13 04:14] AdityaKane2001 commented on #48486
Please refer #48491

[2021-04-13 04:24] Ethylbenzol commented on #48288
Updated to 2.4.1. Error is resolved

[2021-04-13 04:29] Barleysack commented on #48483
Again thanks for the help,
I got both true response from both of the test-utility functions...
yet my gpu is sleeping...

[2021-04-13 04:34] zhangguanqun commented on #48401
Finally made it !
Thanks to @abattery @terryheo @thaink, Appreciate.

Cmd that successfully build libtensorflowlite.so:
`bazel build --config=monolithic --config=noaws --config=nogcp --config=nohdfs --config=nonccl --config=elinux_armhf --experimental_ui_max_stdouterr_bytes=1073741819 -c opt //tensorflow/lite:libtensorflowlite.so`

[2021-04-13 04:45] #48459 closed

[2021-04-13 04:56] abattery commented on #48497
@teijeong could you triage this issue?

[2021-04-13 05:51] DabiaoMa opened #48498 "Why tensorflow 2.4.1 requires libcusolver.so.10 other than libcusolver.so.11?????? It is so weird since other dynamic files are 11 ended"
As the question said.

[2021-04-13 05:52] Maratyszcza commented on #48464
From the report in google/XNNPACK#1402 it looks like Apple toolchain for AArch32 doesn't support neon-dot intrinsics at all. I'm working on removing these microkernels from iOS ARMv7 builds.

[2021-04-13 06:10] DabiaoMa commented on #48498
It has wasted me a lot of time, trying to fix problems of installation even followed by official instructions.... Anyone could help?

[2021-04-13 06:21] IchiruTake opened #48499 "[Performance Boost Request] SLIDE algorithm"
I have recently read two new article discussing about accelerating training algorithm using hashtables. And since the library implemetation using TensorFlow, do TF devs would use it for application in TF-CPU to boost up training performance, or even by TF-GPU if possible?
Link: https://arxiv.org/abs/1903.03129
Link: https://arxiv.org/abs/2103.10891

[2021-04-13 06:26] #48401 closed

[2021-04-13 07:31] karimnosseir commented on #48435
@jklloyd23 Happy to add it np.
Will update you when new version is released.

[2021-04-13 08:00] Tessil commented on #44806
Hi @abattery @karimnosseir I was wondering if there was any eventual news on the issue? Should we aim to lower the `tf.math.add_n` operator to a series of add similar to `tf.keras.layers.Add` or should we keep the `AddN` operator (though in this case the quantized versions of both operators may produce different results and lack coherence)?

[2021-04-13 08:15] Flamefire opened #48500 "How to use StatsAggregator (esp. to collect prefetch size)"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/data/experimental/StatsAggregator

## Description of issue (what needs changing):

The documentation does not fully describe how to use `StatsAggregator`, i.e. it is missing what the output should be, where it is and what to do with it.

### Clear description

Backstory: I had a setup, where  speeding up the training step did

[2021-04-13 08:15] abattery commented on #44806
For the workaround, maybe you create a custom keras layer to meet your needs.

[2021-04-13 08:27] amahendrakar commented on #44224
@chenyanyin,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2021-04-13 08:30] Tessil commented on #44806
For now we can just replace `tf.math.add_n` with `tf.keras.layers.Add` as temporary workaround but we're mainly interested by resolving the incoherence between the two operators to make it easier to support both operators on HW platforms.

[2021-04-13 08:55] rajsingh02 opened #48501 "LookupError: No gradient defined for operation 'CudnnRNN' (op type: CudnnRNN)"
model = Sequential()
model.add(LSTM(units=50, return_sequences=True, input_shape=(x_train.shape[1],1)))
model.add(LSTM(units=50))
model.add(Dense(1))

model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(x_train, y_train, epochs=1, batch_size=1, verbose=2)

This is the code i am using

[2021-04-13 09:03] sandeep22-v commented on #33478
Any updates?

[2021-04-13 09:05] cswhjiang opened #48502 "error when using XLA with multiple GPUs"
The TF version is 2.4.1. When I enable XLA with mulit-gpu training by using MirroredStrategy, I got the following errors.

[code]

How to fix it?

[2021-04-13 09:07] axeltidemann commented on #44403
I am seeing this error in a TFX Evaluator component (version 0.27.0). It seems harmless, but it feels a bit iffy.

[2021-04-13 09:08] guillaumekln commented on #48430
The regression was introduced in this commit: https://github.com/tensorflow/tensorflow/commit/7ba58c1fe7ce110dfd91127ef3c9b629a5ad5e32

[2021-04-13 09:13] abattery commented on #44806
@teijeong could you triage this issue?

[2021-04-13 09:13] abattery commented on #44806
FYI, @jianlijianli

[2021-04-13 09:21] #48180 closed

[2021-04-13 09:32] yakovdan commented on #48307
Sure. Can you instruct me how to check this? is it enough to pip install tf-nightly or do I need to build from latest source?

[2021-04-13 09:34] bratyslav commented on #48460
I read the keras.applications.MobileNetV2 source code and it uses:
    - VersionAwareLayers from tensorflow.python.keras.layers instead of keras.layers;
    - training.Model from tensorflow.python.keras.engine instead of keras.models.Model;
Using this I get the expected latency.

[2021-04-13 09:38] ToBigboss commented on #48426
I want to build tflite-nnapi delegate lib with c/c++ api，I compiled it using the following command line：
bazel build -c opt --config=android_arm64 //tensorflow/lite/delegates/nnapi:nnapi_delegate
and libnnapi_delegate.so is compiled in bazal-bin，but I don't see libtensorflowlite.so, so I compile  libtensorflowlite.so with the following command line:
bazel build --cxxopt='--std=c++11' //tensorflow/

[2021-04-13 10:21] #48177 closed

[2021-04-13 10:21] #48166 closed

[2021-04-13 10:39] teijeong commented on #48463
Hi @DemolationPeter, the new quantizer was indeed experimental in the TF 2.4.0, but enabled by default on TF 2.5.0 and works well by default. Can you try once again with TF 2.5.0 or nightly? Thanks!

[2021-04-13 10:47] jappoz commented on #44061
I have the same exact problem with tf 2.4, cuda 11.2, trt 7... did someone solve it?

[2021-04-13 10:47] teijeong commented on #48487
Hi lucacampanella@, seems you're using dynamic range quantization for TFLite. From my limited Core ML experience, Core ML provides weight quantization, but when inferencing the weights are dequantized back to FP16 to do calculations. CoreML's linear quantization should result in quite same weights as TFLite's dynamic range quantization, but TFLite quantizes activation and do calculations in int8,

[2021-04-13 10:47] #48460 closed

[2021-04-13 11:00] abattery commented on #48460
Did you resolve the problem?

[2021-04-13 11:04] ClementViricel commented on #47554
Still happening with tf2.4.1
`WARNING:absl:Found untraced functions such as lstm_cell_1_layer_call_fn, lstm_cell_1_layer_call_and_return_conditional_losses, lstm_cell_2_layer_call_fn, lstm_cell_2_layer_call_and_return_conditional_losses, lstm_cell_4_layer_call_fn while saving (showing 5 of 20). These functions will not be directly callable after loading.`

[2021-04-13 12:05] DemolationPeter commented on #48463
Hi @teijeong, now I tried it with the TF2.5.0 and used the offical docker image (tensorflow/tensorflow:2.5.0rc0-gpu). The conversion is working fine for all previous working models with the difference that I can delete _converter.experimental_new_quantizer = True_. (as expected).
The conversion for my InceptionV2-SSD model is working (I get again a .tflite file) and the Graph looks fine in _netron

[2021-04-13 12:12] swight-prc commented on #48486
Very fast response! Thanks!

[2021-04-13 13:02] kuraga commented on #39232
Any news on this?

[2021-04-13 13:12] phone-burner commented on #48498
You can either install CUDA 10 or build tensorflow from source with CUDA 11 .
Or ... another choice is to google for tensorflow wheel package built with CUDA 11 :) (USE AT YOUR OWN RISK)

[2021-04-13 13:17] phone-burner commented on #48483
Can you get the logs ?
Maybe the logs will point out the problem .
The most possible reason is that the program cannot find the required libraries or wrong version .

[2021-04-13 13:27] Barleysack commented on #48483
Luckily, I could make my GPU work by using link up there.
Now, I have to use it for my pycharm.
When I run my code in anaconda prompt, there's no problem for now. GPU cores are successfully utilized :)
I think pycharm will not gonna be a problem if I make right environment variables settings:) I'll try first...
Since I'm rly noob here, I think I have to ask sth......do I have to close this issue n

[2021-04-13 13:32] l-bat opened #48504 "MobileNetV3 keras models have bug with GlobalAveragePooling2D"
**System information**
TensorFlow version:
[code]

**Describe the current behavior**
According to [MobileNetV3Small documentation](https://www.tensorflow.org/api_docs/python/tf/keras/applications/MobileNetV3Small)

But keras models cannot reproduce performance on ImageNet #48066.

Tensorflow pb model contains GlobalAvgPool **before** Conv2D with filter <1x1x576x1024>:
![image](https://user-images.

[2021-04-13 13:33] l-bat commented on #48226
@Saduf2019 please look at  #48504

[2021-04-13 13:36] jayxiaojieshi commented on #48429
I have tested it with installing tf-nightly and adding break point to the source code in post-mortem debug mode with pdb.
And the behavior can be re-produced. If we add break point within the function, it is not enabled, while if we add break point in other places (like add a simple print "hello, world" line), it is enabled.

[2021-04-13 13:38] 3a2l commented on #36465
Same problem and I have come to the same conclusions. Additionally I am using the C API (inference) which is not as capable as feature rich as the Python one. I ended up patching and building TensorFlow myself, where I have exposed two functions that are meant to be used for testing only. The functions are `GPUProcessState::TestOnlyReset` and `ProcessState::TestOnlyReset`. This resets the singleto

[2021-04-13 13:38] phone-burner commented on #48455
Full logs :
[code]

[2021-04-13 13:42] ymodak commented on #48453
Python 3.9 support is still in progress.
See https://github.com/tensorflow/tensorflow/issues/44485 for updates

[2021-04-13 13:43] bkirwi commented on #47804
Yeah, I'm personally unblocked for now.

I still think this would be _good_ to fix or document -- the quadratic complexity for this operation is quite surprising, given both the vanilla tf and theoretical behaviour, and it took a while to figure out what was going on -- but I understand that time is limited, and if you don't think you'll get to it it seems fine to close. (And thanks again for the

[2021-04-13 13:45] LucasStromberg commented on #47858
@daverim Hi again. I still seem to have a problem with DepthwiseConv2D layers. When using the WeightsQuantizer above with my DepthwiseQuantizer and a small network with a DepthwiseConv2D layer I get a model with scalar depthwise_kernel_min/max values, instead of vectors.

I also noted in some other models that DepthwiseConv2D layers do seem to get quantized per-channel, regardless of my per_axis f

[2021-04-13 13:54] jayxiaojieshi commented on #48429
Also I have tried with deleting both lines "tf.data.experimental.enable_debug_mode()
tf.config.run_functions_eagerly(True)" or only deleting the line "tf.data.experimental.enable_debug_mode()", the break point within the function is not enabled.
Does that suggest the behavior has nothing to do with tf.data debug mode?

[2021-04-13 14:21] #48152 closed

[2021-04-13 14:23] lucasdavid commented on #42182
Thank you very much, @barskern. It works perfectly!
I did find a more compact way to express your solution. Thought Id share it:

[code]

[2021-04-13 14:32] BlueskyFR commented on #48019
Sorry for the late response, I will provide a code sample to reproduce the problem.

[2021-04-13 14:33] barskern commented on #42182
@lucasdavid That looks a lot cleaner! Thank you for the improvements 😁

[2021-04-13 14:57] FindHao opened #48505 "How to append -lineinfo to nvcc flags?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (

[2021-04-13 15:12] ssomers commented on #46713
Allow me to summarize the bug a bit more accurately: tensorflow writes bogus values for training metrics on the console if verbose=1 [as is the default](https://www.tensorflow.org/api_docs/python/tf/keras/Model#fit)). The console output is fine with verbose=2. Regardless of that parameter, the correct values are logged in history (and to tensorboard, when requested). Validation metrics are unaffec

[2021-04-13 15:24] jsimsa commented on #48429
@jayxiaojieshi are you saying that the [following example](https://www.tensorflow.org/guide/effective_tf2#use_tfconfigexperimental_run_functions_eagerly_when_debugging) works when for a tf.function but does not work for tf.data user-defined function (even when `tf.data.experimental.enable_debug_mode()`  is called)?

[2021-04-13 15:26] jvishnuvardhan commented on #48019
Sure. You could also raise any PR to update the docs. Thanks!

[2021-04-13 15:48] jayxiaojieshi commented on #48429
Yeah, for tf.function, during the process of execution the break point within the function will be enabled only once, while without "@tf.function" it will not be enabled.

[2021-04-13 16:08] jvishnuvardhan commented on #41378
@Guillermogsjc As mentioned in the `Callbacks` [guide](https://www.tensorflow.org/guide/keras/custom_callback),

There are several callbacks to monitor different things during training/validation.

Sorry, didn't get what you meant. Currently callbacks in `.fit` uses `validation_split` as shown in the `Callbacks` guide mentioned above.

Please add more details and possibly a standalone code (if req

[2021-04-13 16:11] srjoglekar246 commented on #48349
@limdlh XNNPack is a delegate that implements some CPU optimizations, especially for sequences of heavy ops like MatMul, Conv etc. So its not exactly a hardware delegate, but runs on CPU. See [this blog post](https://blog.tensorflow.org/2020/07/accelerating-tensorflow-lite-xnnpack-integration.html) for an explanation of how to try it.

[2021-04-13 16:12] jayxiaojieshi commented on #48429
For above comments I am testing with post-mortem debug mode with pdb, with "python -m pdb script.py" and setting break points with "break script.py:XXX".
Actually for the [example](https://www.tensorflow.org/guide/effective_tf2#use_tfconfigexperimental_run_functions_eagerly_when_debugging) you mentioned, both tf.function or user-defined function work well. The break point will be enabled every tim

[2021-04-13 16:28] nfbalbontin commented on #46687
Hi! I'm trying to evaluate my tflite model. @sseeds-reply Could you share how are you evaluating your model using coco metrics please? it would really be a great help. Thanks!

[2021-04-13 16:29] jsimsa commented on #48429
@jayxiaojieshi could you please provide a code snippet that updates the example provided by the user to illustrate how can pdb be used together with `tf.data.experimental.enable_debug_mode()` to insert breakpoints into tf.data user-defined functions and also update the `tf.data.experimental.enable_debug_mode()` documentation with this example? thanks

[2021-04-13 17:16] nickjwhite commented on #44539
This looks like a duplicate of #43847.

Issue is still present with v2.5.0-rc0+incompatible.

  ../../../go/pkg/mod/github.com/tensorflow/tensorflow@v2.5.0-rc0+incompatible/tensorflow/go/saved_model.go:25:2: module github.com/tensorflow/tensorflow@latest found (v2.4.1+incompatible), but does not contain package github.com/tensorflow/tensorflow/tensorflow/go/core/protobuf/for_core_protos_go_proto

[2021-04-13 17:17] jayxiaojieshi commented on #48429
Sure, think the code below will work.
cmd to run: python script.py

[code]

[2021-04-13 17:30] jsimsa commented on #48429
It does not work for me. While first invocation of `func` (which occurs during tracing) triggers the breakpoint as expected, the subsequent invocation of `func` (which occurs during input pipeline execution) fails with `ValueError: signal only works in main thread`. Can you please confirm that you have verified that all four invocations of `func` that your example would exercise trigger the breakp

[2021-04-13 17:41] ReginaMerine commented on #9829
import cv2
import pandas as pd
import os
import numpy
import pathlib

img_folder_path='images/img.png'
frame=cv2.imread(img_folder_path)

pd_bbox = '/home/jupyter-remerine/bounding_box.txt'

def plot_bbox(img_folder_path, bbox_filename):
    actual_bbox=open(bbox_filename, 'r')

    img_folder_path=os.path.split(img_folder_path)[-1]
    #print(img_folder_path)
    count=0
    temp_count=0
    fina

[2021-04-13 18:09] jayxiaojieshi commented on #48429
Interesting. It works well on my side. With first stop shows:
[code]

Other three shows:
[code]

[2021-04-13 18:12] ymodak commented on #48494
This is fixed now with the tagged PR. Thanks!

[2021-04-13 18:12] #48494 closed

[2021-04-13 18:22] rola93 opened #48509 "Documentation on hosted models"
## URL(s) with the issue:

https://www.tensorflow.org/lite/guide/hosted_models#image_classification

## Description of issue (what needs changing):
Additional information is required for the available models

### Clear description

Models available for image classification: only models are provided, there is no information with respect to preprocessing required, dataset where it was trained or lab

[2021-04-13 18:28] Saduf2019 commented on #44061
@jappoz
For cuda 11.2 please use tf 2.5 or nightly and let us know.

[2021-04-13 18:48] aaudiber commented on #47797
@redmlr Sorry, this is a confusing error message that is trying to complain that the `Dataset.map` function `get_waveform_and_label` doesn't always return something. It should fix the issue if you put a `return ""` at the end

[2021-04-13 18:51] redmlr commented on #47797
@aaudiber Thank you for trying! In fact, I could fixed the error 1 day ago. It's so strange but the solution is the following:
`waveform_ds = files_ds.map(lambda file_path: tf.py_function(get_waveform_and_label, [file_path], [tf.float32, tf.string]), num_parallel_calls=AUTOTUNE) `

[2021-04-13 19:08] angerson commented on #39232
There's been some progress, but nothing new available yet: see
https://github.com/tensorflow/tensorflow/pull/48371 and
https://github.com/tensorflow/build/pull/21.

On Tue, Apr 13, 2021 at 6:02 AM Alexander Kurakin ***@***.***>
wrote:

[2021-04-13 19:31] bhack commented on #44906
@nikitamaia Can you assign this to @fsx950223 he has already a submitted PR.

[2021-04-13 19:42] aaudiber commented on #47797
Ah, that should also fix the issue by avoiding tracing altogether. Thanks for sharing the fix! If dataset performance ever becomes an issue down the line, you may want to revisit the use of `py_function`, which could add overhead compared to executing a traced map function.

[2021-04-13 19:45] nikitamaia commented on #44906
Thanks for the heads up @bhack!

@fsx950223 can you leave a comment on this thread requesting to be assigned? Github settings won't let me assign someone unless they have commented on the thread :)

[2021-04-13 20:24] carrycooldude commented on #45999
I want to work on this issue as I am a new contributor and want to solve this issue if possible share some resource so that I can get started with it @nikitamaia

[2021-04-13 20:35] nikitamaia commented on #45999
Done! There's some info in the [Contribute To TensorFlow guide here](https://www.tensorflow.org/community/contribute/code).

[2021-04-13 21:03] NA-Dev commented on #39167
I am facing this issue now as well on 2.4. Definitely not resolved. I will not be following this every month to make sure it doesn't go  stale, but wanted to let someone know.

[2021-04-13 21:31] geetachavan1 commented on #48411
https://github.com/tensorflow/tensorflow/pull/48488 has fixed the issue.

[2021-04-13 21:31] #48411 closed

[2021-04-13 21:41] tomoleary commented on #34931
Did anyone find workarounds for this issue?

[2021-04-13 22:27] jayxiaojieshi commented on #48429
Just tested different version of Python. Python 3.8 is required to see the desired behavior, while for Python 3.6, 3.7 there will be errors.

[2021-04-13 22:39] nikitamaia commented on #48279
Hi @antonaldo, your model trains fine with `MirroredStrategy` but then when you use `MultiWorkerMirroredStrategy` it still trains, but you see the message `ScopedAllocatorOptimizer: Aborted: Complete shape not known for Adam/allreduce/CollectiveReduce`. Have I understood this correctly?

[2021-04-13 22:46] Maratyszcza commented on #48464
99db61328e4d63ba7c1a35827290b504bebcccb6 is supposed to fix this issue

[2021-04-13 22:48] jsimsa commented on #48429
Thank you Jay. I was running the repro with an internal build of TensorFlow that uses Python 3.6, which explains the error.

I was able to find a solution to the problem I was encountering. For the example to work with Python 3.6 or Python 3.7, one has to do `pdb.Pdb(nosigint=True).set_trace()` instead of `pdb.set_trace()`.

So to summarize, the following program illustrates how to add breakpoints

[2021-04-13 23:41] bhack commented on #47954
/cc @nikitamaia

[2021-04-14 00:49] ricvo opened #48511 "Output names for models defined via subclassing tf.kerasModel are ignored, fit with multiple losses raises error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 2.4.0
- Python version: 3.8
- CUDA/cuDNN version: cuda 11.1

**Describe the current behavior**
When using a custom Model

[2021-04-14 00:55] Rahn80643 commented on #48355
@amahendrakar
Thanks for your reply, I'm planning to modify my TensorFlow1 project to TensorFlow2.

[2021-04-14 00:55] #48355 closed

[2021-04-14 01:37] jianlijianli commented on #48307
Thanks yakovdan, I think pip install tf-nightly should be enough. Is it possible to look at the TF source code in your set up? If there is the "ruy::ScopedSuppressDenormals suppress_denormals;" at line 289 in "${tensorflow_path}/tensorflow/lite/interpreter.cc" (or any files gets updated in the same PR), it means the version bump https://github.com/tensorflow/tensorflow/commit/ff72b005814d18aa539b9

[2021-04-14 01:45] captainst commented on #46740
First, it seems that you have a CUDA environment problem. The 1st line of error says that you don't have CUDA11 properly installed.

If you change the line
`f = tf.function(infer).get_concrete_function(input_1=tf.TensorSpec(shape=[None, 640, 640, 3], dtype=tf.float32))`
to
`f = tf.function(infer).get_concrete_function(input=tf.TensorSpec(shape=[None, 640, 640, 3], dtype=tf.float32))`
then probably

[2021-04-14 01:59] captainst commented on #46740
First, it seems that you have a CUDA environment problem. The 1st line of error says that you don't have CUDA11 properly installed.

If you change the line
`f = tf.function(infer).get_concrete_function(input_1=tf.TensorSpec(shape=[None, 640, 640, 3], dtype=tf.float32))`
to
`f = tf.function(infer).get_concrete_function(input=tf.TensorSpec(shape=[None, 640, 640, 3], dtype=tf.float32))`
then probably

[2021-04-14 02:00] jvishnuvardhan commented on #36962
@arnomoonens Passing a name to weight works without any error . Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/375dc80da27b5847a912af0665c59ac4/untitled367.ipynb). Thanks!

Please verify once and close the issue if this resolved your issue. Thanks!

[2021-04-14 02:02] raposter commented on #48175
I've removed Version 3.9 and cannot regererate any errors and am unfamiliar with what a colab gist is.  So, I cannot help you with this problem.  The code I included is from a tutorial and can readily be run in the 3.9 environment.Thanks
    On Friday, April 9, 2021, 12:07:43 PM PDT, Saduf2019 ***@***.***> wrote:

@raposter
Please share a colab gist with the error reported.

—
You are receiving th

[2021-04-14 02:17] huonw commented on #36962
@jvishnuvardhan that makes the code work, but the issue and comments are specific that that's not the whole story:

[2021-04-14 02:19] ToBigboss opened #48512 "CMAKE_DL_LIBS refers to which libraries？I can't find the libs in CMakelists.txt"

[2021-04-14 02:25] micosacak opened #48513 "TypeError: unsupported operand type(s) for -: 'NoneType' and 'NoneType'"
I am trying to have a model that can get different input_shapes. I use a **(128,128,1)** input_shape for for training data as all my training images have the same size.

However, after training the image size will be variable (e.g.; **312x256, 550x2300**, etc). How to create a model that can get variable input shapes. The model below raises error in **`get_crop_shape`**, if I use input_shape as **

[2021-04-14 02:25] LeamonLee commented on #38571
Hi, did you find the solution to this issue with tensorflow 2? If not, how did you disable the eager execution?

[2021-04-14 02:35] Damcy commented on #43833
@abattery Thanks for your hint. Any update on this issue?

[2021-04-14 02:39] abattery commented on #43833
Please use the saved model converter at the recent TF version. We have improved the support for resources and variants both. For mutable variable cases, you can enable the experimental feature, `converter._enable_tflite_resource_variables = True`>

[2021-04-14 02:41] abattery commented on #43833
If you experince the simliar issue, please open a new issue to make issues be focused.

[2021-04-14 02:48] tilakrayal commented on #48480
@darkSKULL-labs ,

In order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Bazel

[2021-04-14 02:55] freedomtan commented on #48468
FYR, I met this problem on TensorFlow master branch after a5ad7ef2 on nvidia Jetson Xavier NX running [JetPack 4.5.1](https://developer.nvidia.com/embedded/jetpack) (Ubuntu 18.04.5, CUDA 10.2, CuDNN 8.0, TensorRT 7.1.3). So this could be a master + cuda 10.2 question after a5ad7ef2.

[2021-04-14 02:57] tilakrayal commented on #48492
@CaptainOrigami ,

In order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Bazel

[2021-04-14 03:10] DabiaoMa commented on #48498
@phone-burner Thanks

[2021-04-14 03:37] 18jeffreyma opened #48514 "Mapping an OpDef into a TF op (Python API)"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): TF2
- Are you willing to contribute it (Yes/No): No

**Des

[2021-04-14 03:47] UsharaniPagadala commented on #48425
@Cuids
Code shared is full of indentation errors, could you please share a colab gist with issue reported or simple stand alone indented code with all dependencies such that we can replicate the issue reported.
Thanks.

[2021-04-14 04:48] saikumarchalla commented on #48509
@rola93  Please go through the TF HUB [link](https://tfhub.dev/s?deployment-format=lite&module-type=image-classification&q=quantized) and you will find more information related to the models provided in the documentation. Thanks!

[2021-04-14 05:03] saikumarchalla commented on #48490
@ronnist  Seems the issue is more related to TF probability repo. Could you please submit a new issue [here](https://github.com/tensorflow/probability/issues/new). Thanks!

[2021-04-14 05:03] ahn19 commented on #35887
it works

[2021-04-14 05:15] fsx950223 commented on #44906
Please assign the issue to me.

[2021-04-14 05:22] solisqq commented on #41380
"training\checkpoint.tmpa7a5285bf7fa4fc1861942fc88f3e099"
"training\checkpoint"
Had problem with this either. Directory "training\checkpoint" existed so it was impossible to rename any file to this name anymore.

[2021-04-14 05:25] SEALiu commented on #44754
your cpu not supports avx/avx2, while tensorflow being built under avx2 since version 1.4.

[2021-04-14 05:41] AdityaKane2001 commented on #48513
@micosacak
Can you please share the error trace? Thanks

[2021-04-14 05:42] sanjoy commented on #41280
@kaixih I believe you added the CTC loss GPU implementation in https://github.com/tensorflow/tensorflow/pull/32302, can you please take a look to see if this issue is related?

[2021-04-14 05:44] sanjoy commented on #32335
This was fixed by @kaixih in https://github.com/tensorflow/tensorflow/pull/32302.

[2021-04-14 05:56] tilakrayal commented on #48483
@Barleysack ,

Could you please close the request, if  issue  got resolved and for  issues with Pycharm, please submit a new issue in Pycharm repo.

Thanks!

[2021-04-14 06:00] freedomtan commented on #48468
(a5ad7ef, 1c9eeb9): comment out the patch as suggested by the comments
[code]
after 1c9eeb9: don't know how to make it work yet. Either commenting out the patch or not doesn't work for me.

[2021-04-14 06:06] tilakrayal commented on #48366
@hashishoya ,

Could you please confirm if the issue is resolved. if yes, please feel free to move this issue to closed status.

[2021-04-14 06:23] Saduf2019 commented on #48352
@rghelichi
Glad the suggestion worked for you,  memory growth enables dynamic allotment of GPU memory, You only need to add these lines if your GPU memory size is falling short, It is not needed otherwise.

Please move this issue to closed status as it answers your question and for any further queries please open a [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow) issue.

[2021-04-14 06:25] azuryl commented on #23728
I have the same problem

[2021-04-14 06:26] advaitjain opened #48516 "PR to port resize_bilinear to TFLM broke the Xtensa build"
https://github.com/tensorflow/tensorflow/pull/43426 broke the Xtensa build:

[code]

passes if we revert the PR and fails on tip of tree with:
[code]

Couple of things to note:
 * The PR author (@patriklaurell) does not have any way to reproduce the errors, and we do not currently have any CI for the Xtensa toolchain.
 * Only one of 3 xtensa builds fails so there is a distinct possibility that the

[2021-04-14 06:43] Barleysack commented on #48483
Problem solved by using vscode :) thanks!

[2021-04-14 06:43] #48483 closed

[2021-04-14 07:21] #48013 closed

[2021-04-14 07:23] raduslmn commented on #48482
I did try today with the latest `tf-nightly` version and still the same error. I notice that you pushed  [a538225](https://github.com/tensorflow/tensorflow/commit/a5382257ac60dc0806c2fca7efaa5a133ee24ef6) which should be the fix but you also pushed another commit [8b07beb](https://github.com/tensorflow/tensorflow/commit/8b07beb41611302c4779f60031262745cacd20d9#diff-23e5220f335dd3aa115eb368edc4c5cf

[2021-04-14 07:27] valkenburg commented on #48119
Reading up on this, https://blog.tensorflow.org/2019/03/how-to-train-boosted-trees-models-in-tensorflow.html mentions "Users can also choose to use any twice differentiable custom loss (by providing it to BoostedTreesEstimator)."

I think this is the culprit. The loss in my gist is twice differentiable most of the time, albeit that the second derivative is always zero, except at the origin `labels

[2021-04-14 07:30] malik-anhar commented on #46989
Hi @thaink , I am still getting this error after adding ```implementation 'org.tensorflow:tensorflow-lite-select-tf-ops:0.0.0-nightly'``` dependency on my android project. The following are the error logs:
[code]
The error happened in Android Kitkat 4.4 (API 19), but on my Android 10 (API 29) and Android 5.0 (API 21) it working correctly. Am I missing something?

[2021-04-14 07:50] malik-anhar commented on #11774
Hi @jakiechris , how about to build the aar by using docker? I'm trying to use lower NDK version but getting some error like
[code]
Here is the configuration i used
[code]
the rest is just the same as in [here](https://raw.githubusercontent.com/tensorflow/tensorflow/master/tensorflow/tools/dockerfiles/tflite-android.Dockerfile)

[2021-04-14 07:58] rmothukuru commented on #48458
@alphaX86,
Thank you for providing the [reference link](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/TensorBoard).

#48174 is not a Pull Request but is an issue. I will submit a fix to correct the broken link. Can you please let me know if I can close this issue as it is already being tracked in #48174? Thanks!

[2021-04-14 08:07] Taoup commented on #34158
Hi. I've encountered this problem as well. Is there any update on this issue?

[2021-04-14 08:15] alphaX86 commented on #48458
Alright! You can close this and I'll reference this in my PR. Thanks @rmothukuru

[2021-04-14 08:32] ronnist commented on #48490
Alright I will try to submit at TFP!

[2021-04-14 08:32] #48490 closed

[2021-04-14 08:56] Rahul2203 opened #48518 "The repository 'file:/var/nccl-repo-2.2.13-ga-cuda9.2 Release' no longer has a Release file. Ubuntu-18.04"
I am getting this error while enabling the GPU support.
I am following the steps as mentioned here.
https://www.tensorflow.org/install/gpu
![err](https://user-images.githubusercontent.com/79437844/114683080-3e416a00-9cff-11eb-9994-035dd9f21d57.png)

[2021-04-14 09:09] rmothukuru commented on #48458
@alphaX86,
You mean to say you have already created a PR for this change? If so, can you please share the PR number? Thanks!

[2021-04-14 09:13] rmothukuru commented on #48458
@alphaX86,
Thank you for the confirmation. Closing this issue. Thanks!

[2021-04-14 09:13] #48458 closed

[2021-04-14 09:22] applikationsprogramvara commented on #48464
@Maratyszcza thank you!

I made `git checkout 99db61328e4d63ba7c1a35827290b504bebcccb6` and then repeated the steps as described [on the page](https://www.tensorflow.org/lite/guide/build_ios#build_tensorflowlitec_dynamic_framework_recommended).

[code]
The build has been completed without errors.

[2021-04-14 09:23] UsharaniPagadala commented on #48498
@DabiaoMa
Could you please fill the issue template

In order to expedite the trouble-shooting process, could you please provide the following details

OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using

[2021-04-14 09:23] rmothukuru commented on #35138
@tgaddair,
With respect to [your comment](https://github.com/tensorflow/tensorflow/issues/35138#issuecomment-789962430), can you please let us know if we can close this issue? Thanks!

[2021-04-14 09:30] hashishoya commented on #48366
@tilakrayal nope, removing `@tf.function` didn't solve the issue.

[2021-04-14 09:32] freedomtan commented on #48468
`git bisect` told me the culprit is 07665aa311d6a157f18d36489de67f4a258811a0. A quick fix is reverting 07665aa3.

[2021-04-14 09:37] UsharaniPagadala commented on #48451
@mitramir55

Could you please fill the issue template

In order to expedite the trouble-shooting process, could you please provide the following details

OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed usi

[2021-04-14 09:41] rmothukuru commented on #35329
@yourtheron,
Code works fine if we create an instance of the Class as per [dli7319's Comment](https://github.com/tensorflow/tensorflow/issues/35329#issuecomment-611205264). Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/7814fe7ceb1fa32164595328609771a2/35329.ipynb) of the working code. Thanks!

[2021-04-14 09:57] abattery commented on #48482
Sorry. The above change got rollbacked. However, we landed again with the experimental flag, `converter._experimental_lower_tensor_list_ops = True`.

If the `tflite_runtime` is based on TF 2.5 or beyonds, it will work.

[2021-04-14 10:15] hectorqin commented on #34409
Sorry this is a long time ago, i can't confirm now.

[2021-04-14 10:15] #34409 closed

[2021-04-14 10:17] UsharaniPagadala commented on #48505
@FindHao

In order to reproduce the issue reported here, Could you please provide the standalone code/colab gist. Thanks!

[2021-04-14 10:18] PercyLau commented on #26033
This could be quite helpful, but sorry to see no update

[2021-04-14 10:24] UsharaniPagadala commented on #48501
@rajsingh02

Could you please fill the issue template
In order to expedite the trouble-shooting process, could you please provide the following details

OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed usin

[2021-04-14 10:31] UsharaniPagadala commented on #48512
@ToBigboss
Could you please fill the issue template

In order to expedite the trouble-shooting process, could you please provide the following details

OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using

[2021-04-14 10:33] phone-burner commented on #48453
I have confirmed that it's a bug of bazel's `local_config_cc` . It considers my `aarch64` device as `piii` (maybe Intel's Pentium III?) and then `bazel` cannot find the right toolchain . Temporarily fixed by modifying `/root/.cache/bazel/_bazel_root/6171aa1425ff53eef39f25e54576898b/external/local_config_cc/BUILD` .
Original file :
[code]
Modified file :
[code]
 Now it works almost properly(at leas

[2021-04-14 10:46] Orpheus23 commented on #48361
Oh okay well, my original issue was the model, not training. I solved it by creating my model within the scope rather in one shot rather than by creating it via the functions. Anyhow, thanks for the help.

[2021-04-14 10:46] #48361 closed

[2021-04-14 11:02] raduslmn commented on #48482
Does it mean that we first wait for the `tf-nightly` version and then try run the convertion again using `converter._experimental_lower_tensor_list_ops = True` flag. Is that correct?

[2021-04-14 11:04] abattery commented on #48482
https://github.com/tensorflow/tensorflow/commit/904b3926ed1c6c70380d5313d282d248a776baa1 is the fix.

[2021-04-14 11:06] abattery commented on #48482
Please disable it for your case. ````converter._experimental_lower_tensor_list_ops = False```

[2021-04-14 11:21] #48176 closed

[2021-04-14 11:55] rola93 commented on #48509
Thanks for your answer! Now need to learn [hot to extract label's file from metadata](https://stackoverflow.com/questions/67082697/how-to-extract-metadata-from-tflite-model) for some of them, but this is another problem.

Thank you!

[2021-04-14 11:55] #48509 closed

[2021-04-14 12:14] shkarupa-alex commented on #45920
Fixed in v1.12.1-54850-g958d4f19097 2.6.0-dev20210414

[2021-04-14 12:14] #45920 closed

[2021-04-14 12:40] Lifann opened #48520 "Customize continuous string tensor type for feature hashing on GPU."
**System information**
- TensorFlow version (you are using): 1.15 & 2.4
- Are you willing to contribute it (Yes/No): Yes

**Background**
In a recommender system, there are large number of features are expressed in the form of text, like the name of a product, or behavior of user, in advertisement.

**Describe the feature and the current behavior/state.**
Currently, Tensorflow use discontinuous hos

[2021-04-14 12:48] bhack commented on #43745
@nikitamaia With @tomerk commit https://github.com/tensorflow/tensorflow/commit/229cbce4caa531b9f9695e98b38909dfeed234aa on TF master/2.5.0x now we claim:
[code]
[code]

So can we clarify with the team what we want to achieve here with a candidate PR?

|  jeisinge: Is it required to use a Python lambda in a Lambda layer? I thought that any functions would work there?

E.g. not all the lambda funct

[2021-04-14 12:48] InfiniteLife commented on #46343
Still missing..

[2021-04-14 12:49] bhack commented on #42376
@CyangXu Can you share your analysis/proposal to solve this before opening a PR?

[2021-04-14 12:56] ntoron commented on #28840
can this issue be re-opened? I am experiencing the same problem as described above.

[2021-04-14 12:56] Tessil opened #48521 "[TFLite] Potential out-of-bound array access in LOG_SOFTMAX optimized kernel"
Hello,

The optimized LOG_SOFTMAX operator seems to have a bug that may lead to out-of-bound memory accesses.

The following [access](https://github.com/tensorflow/tensorflow/blob/89133a6a74da4b976a585b66a09a6601fce3b217/tensorflow/lite/kernels/internal/optimized/optimized_ops.h#L4143) is equivalent to `params.table[input_data[j] + max_q8 - max_val]` which can be be negative with int8 input_data.

[2021-04-14 12:58] darkSKULL-labs commented on #48480
I don't think you can help I don't think it is a tensorflow problem.

[2021-04-14 13:17] abattery commented on #48521
@jianlijianli @renjie-liu @thaink could you take a look?

[2021-04-14 13:35] Fabian-Ket opened #48523 "[TensorflowLite GPUDelegate] Outputs NaN Tensors"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Android 10 mobile / Windows 10 Desktop
- Mobile device: OnePlus 7T
- Python version: 3.6.3
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.4.1
- CUDA / cuDNN: CUDA 11.0 / cuDNN 8.0
- TensorFlow Lite version: 2.4.0

**Describe the current behavior**
A tensorflow lite model outsput

[2021-04-14 13:45] abattery commented on #48523
@impjdi could you take a look?

[2021-04-14 13:49] tilakrayal commented on #48467
I am able to replicate the issue on tf 2.4 and nightly but the issue is not reproducible on tf 2.3, please find the [gist](https://colab.research.google.com/gist/tilakrayal/b4a87b4a6a7d459e9cc39cb3ecc4756c/48467.ipynb) here.

[2021-04-14 14:04] tilakrayal commented on #48480
@darkSKULL-labs ,

Without the reproducible code, it would be difficult for us to debug the issue. In order to expedite the trouble-shooting process, could you please provide a minimal code snippet and the TensorFlow version you are using.

Also, if this is not a TensorFlow bug or feature request, it is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow). There i

[2021-04-14 14:18] limdlh commented on #48407
@impjdi I did cut the FULLY_CONNECTED, but DSP(Hexagon) and GPU are still slow as CPU.

[2021-04-14 14:25] tilakrayal commented on #48511
I was able to reproduce the issue in TF v2.4,v2.5.0 rc0 and nightly.Please find the [gist](https://colab.research.google.com/gist/tilakrayal/41829089cc923673991d69ae7b4dd95c/48511-2-4.ipynb) here

[2021-04-14 14:38] amahendrakar commented on #48289
@lshug,
Thank you for the gist.

@ymodak,
I was able to reproduce the issue with TensorFlow v2.5.0-rc1 and TF-nightly on Python 3.9. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/975ceaf88aff83ac5e0b44af1cd1b5c5/48289-tf-nightly-3-9.ipynb#scrollTo=C2V7xk9PiDE5&line=1&uniqifier=1). Thanks!

[2021-04-14 14:39] thaink commented on #46989
@malik-anhar Can you file a new issue and cc me?
Your issue is different that this one.

[2021-04-14 14:46] rmothukuru commented on #35648
@joe-antognini,
As **`Tensorflow 1.x`** is not actively supported and as we recommend `Developer Community` to **`upgrade`** to **`Tensorflow 2.x`**, can you please let us know if we can close this issue, as it has been resolved in the **`actively supported Version (2.x)`**? Thanks!

[2021-04-14 15:01] bhack commented on #48167
@nikitamaia Probably we could route this in the ecosystem (TF probability). See https://github.com/tensorflow/probability/issues/565

[2021-04-14 15:16] azuryl opened #48524 "ImportError: cannot import name 'RMSprop' from 'tensorflow.python.keras.optimizers'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-04-14 15:18] azzeddineCH commented on #44176
Hi @jsimsa, So I tried your solution which solved my memory problem but it's 2x slower (TF version: 2.4.0). is there any fix planned to this issue in the upcoming releases ?

[2021-04-14 15:32] #46114 closed

[2021-04-14 15:33] micosacak commented on #48513
@AdityaKane2001
Here is the output.

[code]

[2021-04-14 15:44] amahendrakar commented on #48358
@mdatres,
On running the code, I am facing an error stating `ModuleNotFoundError: No module named 'read_test_data'`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/5e81b077e0203cbbbdc7527b244e5120/48358.ipynb).

Without a reproducible code snippet it would be difficult for us to debug the issue.

In this case, you can provide a dummy dataset and code to repro

[2021-04-14 16:13] jvishnuvardhan commented on #48408
@malessandrini This is a known regression issue and is tracked with this issue https://github.com/tensorflow/tensorflow/issues/48033

Duplicate of #https://github.com/tensorflow/tensorflow/issues/48033

[2021-04-14 16:24] NA-Dev commented on #43276
I have this same issue and have tried a lot of things to fix it including manually reshaping the dataset, adding drop_remainder. Getting TPU to work has been the biggest headache.

[2021-04-14 16:38] ardtrkc commented on #48485
It would be appreciated if you can guide us

[2021-04-14 16:41] bhack commented on #42046
@nikitamaia As it was also partially discussed at https://github.com/tensorflow/hub/issues/366 and https://github.com/tensorflow/hub/issues/648 can you verify with the team if it is in in the TF Keras perimeter or it is in TFhub repo.

[2021-04-14 16:47] AdityaKane2001 commented on #48513
@micosacak
This may be stupid on my part, but can you resize the inputs and use `input_shape=  (128,128,1)`? Resize layer is available in keras.

[2021-04-14 17:23] MatrixScenary commented on #45903
I'm thoroughly thankful for your input! The most practical solution to this bug, which doesn't look like it's being addressed in 2.5.0. I wish you a never ending happiness!

[2021-04-14 17:24] MatrixScenary commented on #46249
See this: https://github.com/tensorflow/tensorflow/issues/45903#issuecomment-804973541

[2021-04-14 17:24] MatrixScenary commented on #46484
See this: https://github.com/tensorflow/tensorflow/issues/45903#issuecomment-804973541

[2021-04-14 17:27] jvishnuvardhan commented on #36962
@huonw Agree with you that this is an issue. Thanks!

[2021-04-14 17:49] monicadsong commented on #45903
Hi all--

Sorry forgot to update this!

This issue is now fixed with https://github.com/tensorflow/tensorflow/commit/6bd24c2096fd0f89301b4a6e1f4e8375324e0469, which unfortunately did not make it into 2.5.0 but is now in tf-nightly.

The gist that @amahendrakar provided now works with tf-nightly.

[2021-04-14 17:49] #45903 closed

[2021-04-14 17:56] #48486 closed

[2021-04-14 18:21] #48111 closed

[2021-04-14 18:22] CyangXu commented on #42376
@bhack Based on my investigation, the output size inferred by Keras can be different from that calculated by C++ code. I did some work two weeks ago then got distracted by something else. I will have more things to show by end of this week.

[2021-04-14 18:26] bhack commented on #42376
@CyangXu Ok thanks. Have you already compiled tensorflow in the case the change will involve C ++?

[2021-04-14 18:29] CyangXu commented on #42376
Yes. I built TF from source code. I investigated the issue by printing log from the C++ side.

[2021-04-14 18:32] bhack commented on #42376
Ok send us an update when you are ready.

[2021-04-14 18:35] abStack-pk commented on #39651
Change save_weight_only=True, to **save_weights_only**=True (weights with s) in tf.keras.callbacks.ModelCheckpoint and it should create files instead of folders

Ref : https://abstack.pk/post/tensorflow-create-ckpt-files-instead-of-folders

[2021-04-14 18:48] jvishnuvardhan commented on #48511
@ricvo Everything works as expected when you change `call` return from

`return self.dense1(x), self.dense2(x) `
to
`return {"myname1": self.dense1(x), "myname2": self.dense2(x)}`

Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/1702d9e1dc72766af9c95f73384abfed/48511-2-4.ipynb). Thanks!

Please verify and close the issue if this was resolved for you. Thanks!

[2021-04-14 18:57] amahendrakar commented on #34191
@sbushmanov,
Closing this issue as it is resolved. Please feel free to re-open if mistaken. Thanks!

[2021-04-14 18:57] #34191 closed

[2021-04-14 19:06] amahendrakar commented on #35482
@MoussaMM,
Is this still an issue?

On running the code with the latest stable version of TensorFlow v2.4.1, I got the 'expected behavior'. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/c3a25e8b35823a178d85f378a6de9ac3/35482.ipynb). Thanks!

[2021-04-14 19:09] danipozo commented on #45187
I can see that this has been fixed, I guess in these [two](https://github.com/tensorflow/tensorflow/commit/c5f8604fedb0f82c6966a1d692b76eb5d7ce6d0e) [commits](https://github.com/tensorflow/tensorflow/commit/abcabe12666d064da4710d965c36a59c937eab12).

However, I wonder if this a good design, since as far as I can tell, the `baseline` argument is ignored with respect to deciding which weights to ret

[2021-04-14 19:11] amahendrakar commented on #38951
@ericqu,
Thank you for the update.

Closing this issue as it is resolved. Please feel free to re-open if necessary.

[2021-04-14 19:11] #38951 closed

[2021-04-14 19:14] amahendrakar commented on #35796
@oracle3001,
Is this still an issue?

Please take a look at [this comment](https://github.com/tensorflow/tensorflow/issues/38951#issuecomment-620551293) from similar issue #38951 and check if it helps. Thanks!

[2021-04-14 19:14] jasonw247 commented on #21526
Would it be possible to add: `tf.Digamma` ?

[2021-04-14 19:21] #47859 closed

[2021-04-14 19:21] #48211 closed

[2021-04-14 19:21] #48216 closed

[2021-04-14 19:27] darkSKULL-labs commented on #48480
I am pretty sure it is a problem with GCC, the swig wrapper is so simple you could make it in five seconds if you want to test it.

[2021-04-14 19:32] darkSKULL-labs commented on #48480
This is the swig wrapper

[code]

The problem is GCC will not assign the result from TF_NewWhile because ti believes it is read only but it doesn't make any sense to me why it thinks that.

[2021-04-14 19:38] amahendrakar commented on #36270
@jkparuchuri,
Is this still an issue?

Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same error. Thanks!

[2021-04-14 19:47] bhack commented on #48524
The folder is https://github.com/tensorflow/tensorflow/tree/master/tensorflow/python/keras/optimizer_v2

[2021-04-14 19:49] amahendrakar commented on #35867
@DnPlas,
Is this still an issue?

Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same error. Thanks!

[2021-04-14 19:49] bhack commented on #48524
Also I suggest to use the public API namespace `tf.keras.optimizers.RMSprop`

[2021-04-14 19:53] bhack commented on #34954
Can we close this?

[2021-04-14 20:00] jvishnuvardhan commented on #27217
@snknitin This was resolved in `nightly` docs https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/Callback?version=nightly

I am closing this issue as this was resolved. Please feel free to reopen if you notice this in any other page on TF website. Thanks!

[2021-04-14 20:00] #27217 closed

[2021-04-14 20:05] amahendrakar commented on #36219
@pramodjayram,
Is this still an issue?

I was able to run the code with TF v2.4.1, without any errors. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/eb4e7fbe3b73e7290c64c768febaab54/36219.ipynb). Thanks!

[2021-04-14 20:09] NA-Dev opened #48526 "Shard data across TFRecords"
**System information**
- Code straight from the documentation at https://www.tensorflow.org/api_docs/python/tf/data/experimental/TFRecordWriter
- Google Colab with TPU
- TensorFlow version 2.4

**Describe the current behavior**

This code works and writes a file to Google Cloud Storage

[code]

But this code does not write any file. It also does not throw any error. Also, I can't for the life of m

[2021-04-14 20:49] karimnosseir commented on #48435
libhexagon_interface.so is updated with the soc 481 now enabled.
Can you please try again by fetching from master branch.

[2021-04-14 20:58] karimnosseir commented on #48435
Closing please reopen if there are issues.

Thanks

[2021-04-14 20:58] #48435 closed

[2021-04-14 20:59] ricvo commented on #48511
@jvishnuvardhan thank you for the quick answer, I checked and it works well. Also with tf.data and adding metrics in compile, everything seems good specifying a dict. Sorry if I missed this, I hadn't seen this behaviour in the doc or in old issues. I incidentally just tested for nested structures and it works for that too, that's great
[code]

I still find a little odd that the data has to be pass

[2021-04-14 20:59] #48511 closed

[2021-04-14 21:21] #48072 closed

[2021-04-14 21:30] karimnosseir commented on #48325
Hi @limdlh
I got the files and i got a phone with Snapdragon 660. I ran benchmark tool with the model and it ran successfully.

[2021-04-14 21:42] #34954 closed

[2021-04-14 21:49] fchollet commented on #48504
Thanks for the report. Please open a PR with the fix.

[2021-04-14 21:51] fchollet commented on #48465
Thanks for reaching out. `fit()` is already used for model training (via backprop), and the usage of `adapt()` in preprocessing layers is quite different. During the design phase of the preprocessing layers API, we discussed with exact question, and we decided that using a different name for `adapt()` would be clearer than using `fit()`, which would lead to confusion.

[2021-04-14 21:51] #48465 closed

[2021-04-14 21:56] fchollet commented on #48470
Thanks for the report. I would suggest raising `ValueError` for all conv layers in case `filters` is `0`. Would you be able to open a PR implementing this change (including tests)?

[2021-04-14 22:12] halhwadi opened #48528 "AttributeError: 'ConvolutionalBoxPredictor' object has no attribute 'inputs'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
Colab
- Python version:3.7
_ TPU
_ Tensorflow version 2.4.1

**Describe the current behavior**

getting error be

[2021-04-14 22:43] mhaghighat commented on #47174
Thank you, @duncandean. Using your suggested function, I checked the model state after the compilation, and it is the same for multiple runs. So, the initial state is reproducible.
My guess is that the problem is related to the `DepthwiseConv2D` layers. They only exist in EfficientNet and MobileNet architectures, and neither of them are reproducible.

[2021-04-14 23:21] #35353 closed

[2021-04-14 23:40] DNXie commented on #46887
BTW, API `tf.math.floordiv` has similar crash

Reproducing code:
[code]

Error:
[code]

[2021-04-14 23:52] advaitjain commented on #48516
The resize_bilinear porting PR was causing the bluepill tests to fail as well. https://github.com/tensorflow/tensorflow/pull/48529 adds those to the presubmit checks and this should give @patriklaurell a way to reproduce at least one error without needing the Xtensa toolchain.

Note that the error itself is quite unexpected (for bluepill, the network_tester_test fails) and I still don't really hav

[2021-04-15 00:09] DNXie commented on #46915
BTW, `tf.nn.atrous_conv2d_transpose` has similar crash which is due to large `rate`.

[code]

Error Message:
[code]

[2021-04-15 01:11] Vaunorage commented on #48375
Hi, for those who wonder how to train multiple branches of a neural network with Keras. just make a function yourself like so :

https://stackoverflow.com/questions/67065868/training-different-branches-of-model-network-with-tf-switch-case/67067644#67067644

[2021-04-15 01:11] #48375 closed

[2021-04-15 01:11] MeerAjaz commented on #7552
I was installing the `tensorflow 1.12` using `pip3 install tensorflow==1.12` in conda virtual environment and I was getting
[code]
But when I tried `sudo pip3  install tensorflow==1.12` it worked for me.
I am working on
Ubuntu 18.04
Python3.7

[2021-04-15 02:12] DnPlas commented on #35867
I have not tried with 2.4, but seems like the problem is more related to bazel than it is to Tensorflow. Using @wdirons workaround worked for me, and some other folks that referenced this issue.

[2021-04-15 02:23] duncanriach commented on #47174
@mhaghighat, well spotted. I missed that. I had also assumed that all the commented-out model architectures were operating deterministically. Now I see that the list in the code does not match the list in your original comment.

`tf.keras.layers.DepthwiseConv2D` and `tf.nn.depthwise_conv2d`, upon which it is built, are suspect, as you probably saw [here](https://github.com/NVIDIA/framework-determi

[2021-04-15 02:30] DnPlas commented on #48485
I believe flatbuffers is a dependency that would normally be pulled by bazel in a "traditional" build. I see you are using CMake, so you may reference [1] or try cross-compilation with bazel [2].

[1] https://www.tensorflow.org/lite/guide/build_cmake_arm
[2] https://www.tensorflow.org/lite/guide/build_arm#cross-compilation_for_arm_with_bazel

[2021-04-15 02:44] jwallbridge opened #48531 "Computing gradients with Tensorflow 2.4.1: 'KerasTensor' object has no attribute '_id'"
I am trying to manipulate gradients within a layer in Tensorflow 2.4.1.  There seems to be a problem leading to the error 'KerasTensor' object has no attribute '_id'.  I am using a custom loss function.

I have linked standalone code below that reproduces the issue.  This is the bare minimum necessary to generate the problem.  My actual working code is part of a large RL pipeline so I am looking f

[2021-04-15 04:15] Parth220 commented on #45373
@n9hal Did you end up finding a solution? I have the same warning on conversion. It does not run in the TFLite C++ api on Android

[2021-04-15 04:21] #46540 closed

[2021-04-15 04:44] malik-anhar opened #48532 "Select-tf-ops Is Not Working in Android Kitkat 4.4 (API 19)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Samsung Galaxy Tab 3 (Android KitKat with API 19)
- TensorFlow installed from (source or binary): Installed

[2021-04-15 04:45] malik-anhar commented on #48532
Hopefully I can get some advice from @thaink

[2021-04-15 04:45] AdityaKane2001 commented on #48531
@jwallbridge
The correct usage for gradient tape is:
[code]

Also, you need not make a Lambda layer for the loss function. The loss function `customLoss` is good enough. You can pass `loss = customLoss` in the model.

[2021-04-15 04:50] abattery commented on #48532
@thaink could you take a look?

[2021-04-15 04:55] malik-anhar commented on #48532
In order to reproduce the issue on the Android, here is my build.gradle file
[code]

[2021-04-15 05:01] za13 opened #48533 "'tensorboard.compat.tensorflow_stub.io.gfile' has no attribute 'FastGFile'"
I have the code below

    N=1024
    target_size = (N, N)

    warnings.filterwarnings('ignore')

    LR= 1e-4
    E, BS = 2,4

    def get_unet(img_rows, img_cols):
        inputs = Input((img_rows, img_cols, 1))
        conv1 = Conv2D(32, (3, 3), activation='relu', padding='same')(inputs)
        conv1 = BatchNormalization()(conv1)
        conv1 = Conv2D(32, (3, 3), activation='relu', padding='

[2021-04-15 05:22] renjie-liu commented on #48521
Hi Tessil, see here https://github.com/tensorflow/tensorflow/blob/89133a6a74da4b976a585b66a09a6601fce3b217/tensorflow/lite/kernels/internal/optimized/optimized_ops.h#L3780

it's always `const int32_t max_uint8 = std::numeric_limits<uint8_t>::max();` right?

[2021-04-15 05:25] irfanumar1994 opened #48534 "Training a keras model on pretrained weights using load_weights()"
I am using a custom keras model in Databricks environment. For a custom keras model, `model.save(model.h5)` does not work, because custom model is not serializable. Instead it is recommended to use` model.save_weights(path)` as an alternate.

model.save_weights(pathDirectory) works. This yields 3 files c`heckpoint`,`.data-00000-of-00001,``.index` in the pathDirectory

For loading weights, Followin

[2021-04-15 05:34] Suraj1199 commented on #47689
@AdityaKane2001 @hojin89
One can observe in this [file](tensorflow/python/keras/layers/local.py) that LocallyConnected2D layer uses deprecated version of keras and a bunch of deprecated ops. According to its documention, implementation=2, stores weights of each layer in a dense (but sparsely-populated) 2D matrix and implements the forward pass as a single matrix-multiply. So while saving as TF Sav

[2021-04-15 05:35] lugalUrim opened #48535 "Wrong warning message about "Variables were used a Lambda layer's call""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): TF 2.4.1 and

[2021-04-15 05:36] AdityaKane2001 commented on #47689
@Suraj1199
The link is broken..

[2021-04-15 05:39] yuefengz commented on #47344
If I understand it correctly, what you can do is before loss computation, use `tf.distribute.ReplicaContext.all_gather` to gather the logits from all the replicas and compute a loss based on the global logits.

[2021-04-15 05:40] Suraj1199 commented on #47689
@AdityaKane2001  It should be working now.

[2021-04-15 05:41] AdityaKane2001 commented on #47689
@Suraj1199
Thanks

[2021-04-15 05:46] Suraj1199 commented on #47689
To save the model in TF SavedModel format in a directory ('keras1' in this case) use Conv2D layer intead of LocallyConnected2D.

[2021-04-15 06:08] AdityaKane2001 commented on #43634
@tanzhenyu
I want to propose a possible solution. Suppose following is the directory structure
[code]
We could calculate the hash of all images in all directories, as the names can be the same, and store them in a dict (say).
Structure of this dict:
[code]
 Then make a `tf.dataDataset` of all unique images (no labels in that dataset). Then  iterate through all images in all feature dicts to find i

[2021-04-15 06:19] jappoz commented on #44061
Done. Switching to tf 2.5.0-rc1 did not solve the problem.

[2021-04-15 06:21] #48142 closed

[2021-04-15 06:21] #47813 closed

[2021-04-15 06:36] saikumarchalla commented on #48528
@halhwadi The issue is related to models repo. Could you please submit a new issue [here](https://github.com/tensorflow/models/issues/new?assignees=&labels=type%3Abug%2Cmodels%3Aresearch&template=30-research-bug-report-issue.md).Thanks!

[2021-04-15 06:54] tilakrayal commented on #47292
@luvwinnie ,

Could you please confirm if the issue is resolved. if yes, please feel free to move this issue to closed status.

[2021-04-15 06:56] luvwinnie commented on #47292
@tilakrayal It is not able to integrate the GradCAM inside the model, Instead I Implement the gradient calculation and GradCAM  with only numpy.

[2021-04-15 06:56] #47292 closed

[2021-04-15 07:23] lugalUrim commented on #48535
I figured out that the problem is that I didn't connect the inputs and output of the layer. Will close this issue. Thanks.

[2021-04-15 07:23] #48535 closed

[2021-04-15 07:31] n9hal commented on #45373
@Parth220 No, Didn't find anything

[2021-04-15 07:39] saikumarchalla commented on #48518
@Rahul2203  Could you please provide the following information.

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from source):
- GCC

[2021-04-15 07:42] Suraj1199 commented on #45063
While trying to reproduce the error, I noticed adding a Dense layer before the softplus runs fine. The problem occurs only when softplus has an immediate Conv2D before. I also went through the files mentioned in the Traceback. Spent an hour trying to modify the model arguments and layers. The KeyErrors iterate over **"strides", "explicit_padding"** and in few cases **"dilation"**. @vandenheuvel is

[2021-04-15 07:56] Tessil commented on #48521
Hi,

It seems you're looking at the wrong kernel (Softmax instead of LogSoftmax).

The line is
https://github.com/tensorflow/tensorflow/blob/de6d871ce4214e2856d7129deef579f2d64c8cc3/tensorflow/lite/kernels/internal/optimized/optimized_ops.h#L4137

where `T` will be `int8_t` for the int8 version of the kernel.

[2021-04-15 08:03] saikumarchalla commented on #48533
@za13  I tried to reproduce the issue but facing multiple errors and  you can see it in the colab  [here](https://colab.research.google.com/gist/saikumarchalla/12d0fc1a5be4381dfa953ab06ebe3f91/untitled60.ipynb#scrollTo=P5Se6akmSEAw).  If possible, Could you please provide the colab link  by adding all dependecies and necessary dataset that are required.

Also, check this SO [link](https://stackove

[2021-04-15 08:03] barabanus commented on #48018
I probably wait for updated `tensorflow-opt-cuda` package and then reopen the issue in the case it's not fixed. Thank you very much for your work.

[2021-04-15 08:03] #48018 closed

[2021-04-15 08:06] MoussaMM commented on #35482
Yes I think the issue is solved. Thank you!

[2021-04-15 08:06] #35482 closed

[2021-04-15 08:31] lucacampanella commented on #48487
Hi @teijeong and thanks a lot for the feedback, it's much appreciated.

Here's the code that builds the model:
[code]

So if I understood you correctly, you're saying that TFLite keeps the integer quantization also during inference and thus applies it also to the activations. On the other hand CoreML does inference in float16, which allows the activations to have a broader range of values and yiel

[2021-04-15 08:37] Saduf2019 commented on #48473
@scarlehoff
Created pr #48536 to fix this issue, once the pr is merged this issue will be automatically closed.
Thanks!

[2021-04-15 08:38] DimanChuancey commented on #32809
there‘re many "Incomplete shape."  in the screen. i don't know whether it is true. But thanks for your share!

[2021-04-15 09:16] shivamguys commented on #46111
any updates?

[2021-04-15 09:22] renjie-liu commented on #48521
Oh Thanks, will send out a fix later

[2021-04-15 09:30] Henry6789 commented on #45373
Any update on this one? I'm suffering from this problem too..

[2021-04-15 09:42] vandenheuvel commented on #45063
@Suraj1199 thanks for taking a look.

The Hessian determinant of a scalar function is computed. Note that the code works when removing the `@tf.function` annotation. As such, I don't think there is a bug in the snippet.

Is there anything else I can clarify?

[2021-04-15 09:45] Mullich123 commented on #48439
I've been updated my issues and file below is trainset I use which has been preprocessed.
[hand_trainset.zip](https://github.com/tensorflow/tensorflow/files/6316862/hand_trainset.zip)

[2021-04-15 09:52] Mullich123 commented on #48324
Sorry I am a newbie in Tensorflow2.Could you please delete this issue.

[2021-04-15 10:00] #48324 closed

[2021-04-15 10:38] patriklaurell opened #48537 "micro: Port RESIZE_BILINEAR from lite to micro"
@tensorflow/micro

@advaitjain This issue tracks my work on porting the RESIZE_BILINEAR kernel for int8 and float to TFL micro. It will be delivered in four PRs.
* PR1 (merged): Extract the code for parsing the op from a flatbuffer out of ParseOpDataTfLite in tensorflow/lite/core/api/flatbuffer_conversions.cc into a standalone function. #43427
* PR2 (merged): Extract the reference implementation o

[2021-04-15 11:23] XtremeGood commented on #43634
Actually keras provides already all required methods so it  would be just better to wrap them.

[2021-04-15 11:25] AdityaKane2001 commented on #43634
@XtremeGood
Even for this?

[2021-04-15 11:29] fsx950223 commented on #48397
Any update, @Saduf2019

[2021-04-15 11:58] atptour2017 opened #48538 "build_all_linux.sh failed: threadpool.cc:94:29: error: no matching function for call to ‘Eigen::NonBlockingThreadPoolTempl"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary):  https://github.com/tensorflow/tensorflow.git
- TensorFlow version: 1.13
- Python version: 3.6.13
- Installed using virtualenv? pip? conda?: virtualenv

[2021-04-15 12:45] raduslmn commented on #48482
The invocation works when using Tensorflow Lite from the `tf-nightly==2.6.0-dev20210414` Thank you. @abattery

So this has solved only half of the problem, when I run the invocation using `tflite_runtime` alone I get this error:

`ValueError: Op builtin_code out of range: 140. Are you using old TFLite binary with newer model?Registration failed.`

on model import:
[code]

You @abattery said that

[2021-04-15 12:51] Saduf2019 commented on #48478
@axelning
I ran the code shared on tf 2.4 and see error due to third party dependencies, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/e3d84ef25821c21f31342f11c8cace5d/untitled588.ipynb).
Please share code such that there are no third party dependencies and if the error reported is due to these, please open the issue in the respective repository.
If possible share a

[2021-04-15 12:53] Humza1996 opened #48540 "How can I change dtype of TFLITE model Weights ?"
**System information**
- OS Platform and Distribution (Windows 10):
- TensorFlow installed from binary
- TensorFlow version 2.4.1

I have a TFLITE model which was made from KERAS Functional API. Unfortunately I have deleted the all files related to that model like weights.h5 and model structure file. Now All I have is my TFLITE model. Its weights are in float 32 but I have to run it on mobile. So

[2021-04-15 12:55] tilakrayal commented on #48531
@jwallbridge,

Please take a look at @AdityaKane2001's comment and let us know if you are still facing the same issue?  Thanks!

[2021-04-15 13:13] ymodak commented on #48540
I am afraid there is no way to do this without original model since all model optimization techniques ([integer-only quantization](https://www.tensorflow.org/lite/performance/post_training_integer_quant#convert_using_integer-only_quantization), [float16 quantization](https://www.tensorflow.org/lite/performance/post_training_float16_quant#convert_to_a_tensorflow_lite_model)) are declared before con

[2021-04-15 13:21] #48227 closed

[2021-04-15 13:29] ymodak commented on #48453
Python 3.9 support is added with TF 2.5 rc1, so all upcoming later versions of TF should support it as well. You may try with latest numpy version just to be sure.

[2021-04-15 13:35] SixtyTrees opened #48541 "ValueError: `updates` argument is not supported during eager execution. You passed: [<tf.Variable 'UnreadVariable'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-04-15 13:39] ymodak commented on #48502
Looks like `nccl` drivers are missing from your system config. By default TF uses `NcclAllReduce()` you may switch to Hierarchical Copy and try.
[code]
https://www.tensorflow.org/api_docs/python/tf/distribute/MirroredStrategy?version=nightly#args

[2021-04-15 13:54] abattery commented on #48482
Since you are using tf 2.6 for conversion. The tflite-runtime should have the same TF version, 2.6 or beyonds. TF 2.6 version is too early version to have the prebuilt binaries.

For now, you need to compile your own tflite-runtime or just depend on the TF pip package.

[2021-04-15 14:16] farazBhatti opened #48544 "Tf lite interpreter.allocate_tensors() Runtime error"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 18.04):
- TensorFlow installed from (binary):
- TensorFlow version (2.4.1):
- Also tried tf-nightly

Ive used the following code to convert keras model to tflite. Conversion went successfull without any errors. Note that i used tf-nightly for the conversion as stable version of tf 2.4.1 was unable to convert
[code]
Now I am

[2021-04-15 14:25] phone-burner commented on #48453
I tried `numpy-1.20.5` and it works with `tensorflow-2.6.0` . This problem has been partly solved .
But when I try to run a simple test program , it doesn't work properly .
Program source code ( from official tensorflow tutorials ) :
[code]
Logs :
[code]
There are only 10 types of object in the dataset `keras.datasets.fashion_mnist` , so it seems that the program can't classify the pictures at all

[2021-04-15 14:25] girish914 commented on #38762
same issue here too

[2021-04-15 14:33] XtremeGood commented on #43634
keras provide total support so I don't think reinventing the wheel would do it any good.

[2021-04-15 14:36] XtremeGood commented on #43634
Actually no, keras does not provide enough good api like tensorflow, it rather requires you to load all data in memory together. So an efficient approach like storing the paths in a dataframe and making the iterator again and again would be required.

[2021-04-15 14:38] AdityaKane2001 commented on #43634
I was thinking on similar lines, using `tf.data.Dataset` more efficiently

[2021-04-15 14:43] AdityaKane2001 commented on #43634
sklearn has MultiLabelBinarizer. Intending to do something similar

[2021-04-15 14:48] GatGit12 opened #48545 "Introduce ability to clear GPU memory in Tensorflow 2"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.3.1, 2.4.1
- Are you willing to contribute it (Yes/No):

[2021-04-15 14:58] AdityaKane2001 commented on #43487
Is this issue still open? Would like to work on this one.

[2021-04-15 15:00] tilakrayal commented on #48534
@irfanumar1994 ,

In order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Bazel

[2021-04-15 15:04] tilakrayal commented on #48538
@atptour2017 ,

TensorFlow 1.x is not actively supported. Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same issue. Thanks!

[2021-04-15 15:14] Saduf2019 commented on #48324
@Mullich123
Please confirm if your issue is resolved.

[2021-04-15 15:17] amahendrakar commented on #48368
@redmlr,
Thank you for the gist.

In the given code snippet, the `mod_func` function returns a Python dictionary. And since Python dictionaries do not have the `shape` attribute the `AttributeError: 'dict' object has no attribute 'shape'` error is thrown.

If you require the `shape` attribute, I'd suggest you to use an alternative data structure. Thanks!

[2021-04-15 15:25] Saduf2019 commented on #48366
@hashishoya
The reduction in speed is expected because tf has to pad after resizing, as there is large amounts of padding in your case. [which is obvious as you have to pad across 2 dimension of a 3d image]

Can you try manually padding after resizing and compare it with the resize_with_pad function to check the difference and let us know.

[2021-04-15 15:50] amahendrakar commented on #48513
@micosacak,
On running the code, I am facing an error stating `NotFoundError: Unsuccessful TensorSliceReader constructor: Failed to find any matching files for model/variables/variables`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/ee834abcc2adb4dc8406da9460f8654d/48513.ipynb#scrollTo=XRqGykekNFk6).

In order to reproduce the issue reported, could you plea

[2021-04-15 15:52] UsharaniPagadala commented on #48469
@lugalUrim
As per the [documentation](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Conv2DTranspose?version=nightly#expandable-1) stride and dilation_rate should be same,if stride=1,dilation_rate=(1,1) or if stride=2,dilation_rate=(2,2)
I [reproduced](https://colab.research.google.com/gist/UsharaniPagadala/37d997f5b9e66e26e75bacc5d323cdbe/untitled13.ipynb#scrollTo=mGOQcl_1pNK-) it by

[2021-04-15 16:02] AdityaKane2001 commented on #47019
@kkimdev
What is the expected output that we are looking for here?

[2021-04-15 16:30] Mullich123 commented on #48324
Good night

I'm so sorry.It's my default.I raised the issue in a wrong way.By debugging my code
and referencing tutorials,I found I knew too little.In term of the issue,I use 50 ports
of localhost to do experiment and make it ambiguous.So please delete it and I would&nbsp;
raise another questions carefully.

Yours Sincerely,
Mr. Mullich

[2021-04-15 16:50] jvishnuvardhan commented on #48480
@darkSKULL-labs If this is not a TF problem, then please post it in Stackoverflow where there is a huge community to help each other.

This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for ad

[2021-04-15 17:02] advaitjain commented on #48537
Thanks @patriklaurell!

Note that we have realized that it's better to combine PR3 and 4 into a single pull request with separate commits for those steps.

[2021-04-15 17:17] emadboctorx opened #48547 "WARNING:tensorflow:Gradients do not exist for variables ['dense_2/kernel:0', 'dense_2/bias:0'] when minimizing the loss."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-04-15 17:29] amahendrakar commented on #48388
@ymodak,
I was able to reproduce the issue with TF v2.4.1, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/1c82bdfec34ba52b3cc064609424fcd1/48388.ipynb#scrollTo=32-gTBbyV99S).

 Whereas with TF v2.5.0rc1 and TF-nightly, the dependency `tensorflow-recommenders-addons` is not compatible. Thanks!

[2021-04-15 17:32] 1siddhi7 commented on #44046
same problem faced as @joemarshall , isn't there any provision to directly make batches of windows?

[2021-04-15 17:43] amahendrakar commented on #48545
@GatGit12,
Since similar issue is already being tracking in issue [#36465](https://github.com/tensorflow/tensorflow/issues/36465), to avoid duplicates can you please close this and subscribe/follow that issue? Thanks!

[2021-04-15 17:57] MeghaGhosh commented on #47973
Hi @srjoglekar246 I have removed the mask head, number of output tensors and reduced the image size (to 384*384), with a major compromise in accuracy to bring the inference time down to 6 seconds. (this is with multithreading)

This speed somewhat works for us however there are some problems. If you could shed some light as to how we can fix this:

The tflite output on android is different from th

[2021-04-15 18:01] impjdi commented on #48001
Quoting some internal thread (sorry, I don't understand what these mean):
[code]

[2021-04-15 18:01] bhack commented on #40505
You can follow our effort to optimize and continuously monitoring the contributor experience with our official docker developer image at https://github.com/tensorflow/tensorflow/pull/48421 /cc @theadactyl

[2021-04-15 18:07] alealv commented on #45263
I also have the same issue with CUDA v11.1. I tried TensorFlow v2.5,0-rc1 and it's working just fine.
I believe that the problem is that TensorFlow v2.4.1 links only to CUDA 11.0

[2021-04-15 18:27] amahendrakar commented on #48368
@redmlr,
In this case, you can either return the strings as a Tensor or use the `len()` function instead of shape for the dictionary.

Please check [this gist](https://colab.research.google.com/gist/amahendrakar/9e01e74b727fe4b5041982bdfdbfff77/48368.ipynb#scrollTo=yDEvUrPfqfif&line=2&uniqifier=1) for reference. Thanks!

[2021-04-15 18:32] #48174 closed

[2021-04-15 18:35] jvishnuvardhan commented on #48038
@WoutRuyters Named dictionary output actually work but the keys should match. I updated your code with dictionary inputs as shown below.

Replaced the following line
`outputs = {'steve' : age_branch, 'bob' : race_branch, 'joost' : gender_branch},`
with this line
` outputs = {'age_output' : age_branch, 'race_output' : race_branch, 'gender_output' : gender_branch},`

I also updated one line in `gene

[2021-04-15 18:36] aaudiber commented on #48500
Regarding prefetch buffer size autotune debugging, first figure out whether or not you are using legacy autotune. This will show up in the TF Profiler trace of the Prefetch op. If you are using legacy autotune, the behavior is described [here](https://github.com/tensorflow/tensorflow/blob/5dcfc51118817f27fad5246812d83e5dccdc5f72/tensorflow/core/kernels/data/prefetch_autotuner.h#L24-L39). Otherwise

[2021-04-15 18:39] kkimdev commented on #48454
Thanks for working on this! I just skimmed and it seems like the kernel implemenations are at `third_party/tensorflow/core/kernels/conv_ops*` and we need to add complex type support for those kernels.

[2021-04-15 18:40] #47797 closed

[2021-04-15 18:45] rd16395p commented on #43487
@AdityaKane2001 Sure, you can join! Feel free to send me a message.

[2021-04-15 18:49] kkimdev commented on #48484
Thanks for filing this.  FYI here is the implementation `third_party/tensorflow/core/kernels/linalg/einsum_op_impl.h`.  Marking contribution welcome.

[2021-04-15 18:57] ameyparanjape opened #48548 "TFlite INT8 conversion error- Quantization not supported for op: 'DIV'"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installation (pip package or built from source): 2.4.1
- TensorFlow library (version, if pip package or github SHA, if built from source): pip

### 2. Code

Provide code to help us reproduce your issues using one of the following options:
(just the part where I get the error, of the whole script)
[co

[2021-04-15 18:59] bhack commented on #47816
@nicolaspi can you try:
[code]
@mdanatg  What kind of solution/contribution do we want to collect here?

[2021-04-15 19:05] micosacak commented on #48513
@amahendrakar
[code]

model1.load_weights` will raise error of course. Because you do not have a trained model saved as "model" in the path. If you want any dataset you can download an example from [here](http://medicalsegmentation.com/covid19/). But my question does not require an input data, I think. Because it is a more general  question.

I think you did not get my question.

My question is:

[2021-04-15 19:06] micosacak commented on #48513
@AdityaKane2001 what do you mean by resizing? Is [this](https://keras.io/api/layers/preprocessing_layers/image_preprocessing/resizing/) what you are suggesting?

[2021-04-15 19:24] abattery commented on #48548
@teijeong could you triage this?

[2021-04-15 19:24] mrchairman commented on #33285
/Applications/Python\ 3.6/Install\ Certificates.command
work for me Thank you 👍

[2021-04-15 19:27] micosacak commented on #48513
BTW; the tensorflow 2.4.1 raises the error, if the input shape is (256,256,1) as below:

[code]

Now, if I try the same with tensorflow 2.2

`WARNING:tensorflow:Model was constructed with shape (None, 128, 128, 1) for input Tensor("input_2:0", shape=(None, 128, 128, 1), dtype=float32), but it was called on an input with incompatible shape (1, 256, 256, 1).
`

However, tensorflow 2.2 still perform

[2021-04-15 19:28] HadiSDev commented on #38100
Still having the exact same issue :'(

[2021-04-15 19:29] micosacak commented on #48513
In order to prevent above errors; I do the following (as I have shown above), if the image shape is (256,256,1):

[code]

then it does not show any error or warning message!

[2021-04-15 19:38] jvishnuvardhan commented on #48356
@romanovzky I can reproduce the issue on my local but May be it is due to the size of the model (WGAN-GP). Thanks!

[2021-04-15 19:40] mhaghighat commented on #47174
@duncanriach: I couldn't separate that op run on the CPU. I tried different ways to pass the arguments but no success so far.
Would you mind taking a look at it in this [notebook](https://colab.research.google.com/gist/mhaghighat/5d6d33b78531ccf9664501dc166508d4/untitled541.ipynb).
Thanks!

[2021-04-15 19:42] redmlr commented on #48368
@amahendrakar Well, unfortunately it's not that simple. The error occurred in the `model.fit()` function where I don't have any control over using `len()` or `.shape`.

[2021-04-15 19:45] jvishnuvardhan commented on #46581
@DJJD17 Sorry for the late response. This is more related to TensorBoard, so can you please open this issue in [`TB repo`](https://github.com/tensorflow/tensorboard/issues). That repository has TB experts who can resolve your issue faster. In this repo, we deal `TensorBoard` callback under `tf.keras`. Thanks!

Please close the issue here and open a new issue (with the same content) in TB repo. Tha

[2021-04-15 20:35] tetelestia opened #48549 "TF Squeezing dimension off of sequential model inputs"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab notebook provided below
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below):

[2021-04-15 20:40] VivekPanyam opened #48550 "Missing libtensorflow builds for 2.5.0-rc0 and 2.5.0-rc1"
There don't appear to be prebuilt binaries for libtensorflow (https://www.tensorflow.org/install/lang_c) for `2.5.0-rc0` and `2.5.0-rc1`.

These binaries exist for 2.3.0 and 2.4.0 (and the corresponding RCs) under https://storage.googleapis.com/tensorflow/libtensorflow/, but none exist for the 2.5.0 RCs.

For example, https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-linux-

[2021-04-15 20:41] arturdryomov commented on #48001
Yep, got the same thing on the public tracker. Thanks! Gonna check if it helps.

[2021-04-15 20:55] antonaldo commented on #48279
@nikitamaia
Yes, you are correct, when using `MultiWorkerMirroredStrategy` the model performs the training loop, but the error message is displayed at the beginning. However, when using my full model with `MultiWorkerMirroredStrategy` loss is not decreasing, but ends up in NaN loss after a few steps.
When using `MirroredStrategy` training works as expected with my full model (loss decreases).
I as

[2021-04-15 21:16] bhack commented on #44462
@palatos More then Gradcam specific, that is hosted on [another repository](https://github.com/keras-team/keras-io/blob/master/examples/vision/grad_cam.py), is in your specific case more related to  https://github.com/tensorflow/tensorflow/issues/34977 ?

[2021-04-15 21:46] ymodak commented on #47871
@VoVAllen  Can you please take a look at this issue/ tag its owner? Thanks!

[2021-04-15 21:59] ymodak commented on #47888
Apologies for the delay in response?
I don't see TF 2.4 alpha distribution available, Can you please test with latest version of TF 2.4.1 or TF 2.5.0rc1? Thanks

[2021-04-15 22:03] ymodak commented on #48290
@Lucy20211 I would suggest to open a new github issue thread for discussing topic other than the original query. This way it helps future users to access the appropriate information easily. Can you please post a new issue if your original question has been answered? Thanks!

[2021-04-15 22:28] ymodak commented on #47908
I think [huggingface/transformers ](https://github.com/huggingface/transformers)repository is right place for this issue since the you have imports from transformers module. Please try posting this issue on transformers repository. Thanks!

[2021-04-15 22:52] duncanriach commented on #47174
@mhaghighat, thanks for making this really easy for me to help.

The call to `x` needed to look like this: `x(*args, **kwargs)` to unpack the `args` and `kwargs`. I have changed the code above to be the working version, including returning the result the call to `x`, which you discovered was necessary.

The model now train. Step time increased from 27ms (all on GPU) to 100ms (DepthwiseConv2D on CP

[2021-04-15 23:17] mdanatg commented on #48289
This should be fixed by https://github.com/tensorflow/tensorflow/commit/885861a9cada78487cd868f5acdbd7f2938d7a87, and should be visible in the next nightly. We'll try to patch it into the next 3.5 RC.

[2021-04-16 00:46] duncanriach commented on #47174
In this [notebook](https://colab.research.google.com/gist/duncanriach/7d783b073cb9615320d4ae0ba1680a9a/untitled541.ipynb), I have simplified things so that the model will run twice in a few seconds. I have also included some code and instructions for hiding the GPU. I spent a while trying to identify what the remaining source of nondeterminism might be. Since the model trains reproducibly on CPU,

[2021-04-16 00:47] #48289 closed

[2021-04-16 01:21] #43712 closed

[2021-04-16 01:33] thaink commented on #48532
Did it happen in with the stable version?
implementation 'org.tensorflow:tensorflow-lite-select-tf-ops:2.4.0'

[2021-04-16 01:41] jwallbridge commented on #48531
Thank you @AdityaKane2001 and @tilakrayal.  I am still facing the same issue.  The problem with @AdityaKane2001's comment is the `X` in `model(X)`.  Let's say I want to rescale the gradients in a layer by 1/3.  In Tensorflow 1 you could simply do
[code]
without an explicit input.  It seems `compute_gradients` is not available in Tensorflow 2.4.1.  When you replace `model(X)` by `model.output` you

[2021-04-16 01:50] duncanriach commented on #39751
Note that [PR 47772](https://github.com/tensorflow/tensorflow/pull/47772), which has been merged and will be present in TensorFlow version 2.5 onwards, causes TensorFlow to throw `tf.errors.UnimplementedError` when `TF_DETERMINISTIC_OPS` is set to `"true"` or `"1"` (when determinism is expected) and the segment reduction ops are used in such a way that truly random noise will be injected into the

[2021-04-16 02:01] renjie-liu commented on #48521
Fixed at https://github.com/tensorflow/tensorflow/commit/40fa5028dcbd9f3a70afdfc7ed98732f69235040

[2021-04-16 02:04] duncanriach commented on #38185
Note that [PR 47925](https://github.com/tensorflow/tensorflow/pull/47925), which has been merged and will be present in TensorFlow version 2.6 onwards, causes TensorFlow to throw `tf.errors.UnimplementedError` when `TF_DETERMINISTIC_OPS` is set to `"true"` or `"1"` (when determinism is expected) and the softmax/cross-entropy ops are used in such a way that truly random noise will be injected into

[2021-04-16 02:06] lugalUrim commented on #48469
Thanks @UsharaniPagadala . I suppose you are suggesting that `dilation_rate` and `strides` should be the same for all spatial dimension?

I was trying `dilation_rate=(1,2)` (without specifying strides) in order to have different dilation rate for width and height dimension.

For example pytorch's Conv2d supports `dilation=(3, 1)`.
https://pytorch.org/docs/stable/generated/torch.nn.Conv2d.html#torc

[2021-04-16 02:12] malik-anhar commented on #48532
It gives another error
[code]
seems like the select-tf-ops dependency incompatible with the Android 4.4.2

[2021-04-16 02:23] darkSKULL-labs commented on #48480
Ok thanks

[2021-04-16 02:24] cswhjiang commented on #48502
The task can run without XLA enabled. It seems that nccl drivers are installed correctly.

[2021-04-16 02:48] lugalUrim commented on #48469
I believe it's possible to have different dilation rates for width and height dimension. For example, in conv3d:
[code]

[2021-04-16 02:50] darkSKULL-labs commented on #48480
Yes, I found out what the problem was and can fix it.

[2021-04-16 03:08] rayryeng commented on #45263
@alealv that's good to know!

[2021-04-16 03:09] DavidPal opened #48551 "tf.strings.lower() does not lower-case non-ASCII characters"
**System information**
This bug happens in Colab notebook. It happens on other platforms as well, but that's beside the point.

**Describe the current behavior**

tf.strings.lower() lower cases A-Z to a-z but it does not lower case other unicode characters, e.g. LATIN CAPITAL LETTER E WITH ACUTE, LATIN CAPITAL LETTER Z WITH CARON, and many others, etc. See the code below.

It seems that tf.strings

[2021-04-16 03:47] #39986 closed

[2021-04-16 03:57] Ethylbenzol opened #48552 "How to create a representative dataset using TFrecords for tensorflow lite post training quantize conversion?"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): tf-nightly 2.6 dev

I am trying to create a representative data set for conversion to tflite and perform a int8 quantize operations. I was wondering, is

[2021-04-16 03:59] frankchn commented on #48268
Assigning to TPU oncall.

[2021-04-16 04:25] thaink commented on #48532
I actually found fenv.h in Android 4.4.2
https://android.googlesource.com/platform/prebuilts/gcc/linux-x86/host/i686-linux-glibc2.7-4.4.3/+/refs/tags/android-4.4.2_r1/sysroot/usr/include/fenv.h
Not sure why this happens.

[2021-04-16 04:30] AdityaKane2001 commented on #48513
@micosacak
Yes, I was suggesting `Resizing`  layer. The thing is, when you pass some integer values in shape, you essentially create a graph of  the model. All the functions used in the model are now traced by AutoGraph. This means that your input size is now fixed. Thus, using `None` in your input shape means that you are not allowing the model to be traced. Also, when you compile the model, the

[2021-04-16 04:31] bersbersbers commented on #43712
Thanks! Also, release notes now say

https://github.com/tensorflow/tensorflow/releases/tag/v2.5.0-rc1

[2021-04-16 04:48] daverim commented on #45887
Hi sorry for the delay, realized there were two bugs with this issue: workaround is posted  in

https://github.com/tensorflow/model-optimization/issues/523

[2021-04-16 04:48] #45887 closed

[2021-04-16 05:03] za13 commented on #48533
the code should work as long as you use any 1024x1024 image and rename it as owlResized.bmp. Was your image 1024x1024?

I already saw that SO link and it doesn't address my error and I already said in my post that I added:

    import tensorboard as tb
    tf.io.gfile = tb.compat.tensorflow_stub.io.gfile

And got

    with tf.io.gfile.FastGFile('tfmodel.pb', mode='wb') as f:
    AttributeError: mo

[2021-04-16 05:04] abattery commented on #48552
@teijeong could you triage this issue?

[2021-04-16 05:12] AdityaKane2001 commented on #48531
@jwallbridge
I am a bit confused what you are trying to do here. If I'm not mistaken, you want to write a custom training loop which will scale the gradients by some constant and then apply them, right? Or is it something else that you are trying to achieve?

[2021-04-16 05:30] rmothukuru commented on #35763
@yourtheron,
Can you please respond to the [above comment](https://github.com/tensorflow/tensorflow/issues/35763#issuecomment-595392657)? Thanks!

[2021-04-16 05:50] liying9611 commented on #31162
@liyinhgqw @yuefengz do you fix it? I  got the same error changing MirroredStrategy to CentralStorageStrategy because of OOM, on python3.7, tensorflow2.4, linux.

[2021-04-16 05:53] AdityaKane2001 commented on #47689
Side note, this is true for `implementation=3` as well

[2021-04-16 05:57] jwallbridge commented on #48531
@AdityaKane2001
Thank you for your assistance.  Indeed, I would like to scale (and clip) gradients in a chosen layer of my network.  I am following the official documentation
https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Optimizer
which states that the correct procedure is
[code]
contrary to your suggestion of including `pred = model(X)`.  When you follow these instructions you ge

[2021-04-16 06:01] VoVAllen commented on #47871
@ymodak I'm not tensorflow people. I believe it should be someone who owns Keras data processing part.

[2021-04-16 06:17] nicolaspi commented on #47816
Your code runs, but `lambda_fn` is not executed eagerly. For debugging purposes it would be useful to be able to build a keras model and execute it eagerly.

[2021-04-16 06:28] hfahrudin commented on #43487
It seems like the PR already closed. Do you have any plan to reopen it? @rd16395p

[2021-04-16 07:01] havefun007 commented on #44882
it works!

[2021-04-16 07:47] luca992 opened #48553 "Best methods to debug and identify dynamic-sized tensors to work around: TensorFlow Lite Error: Attempting to use a delegate that only supports static-sized tensors with a graph that has dynamic-sized tensors?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 11.2.3
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: iPhone 12 pro
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):

[2021-04-16 07:50] GatGit12 commented on #48545
But this issue (#36465) is marked as a bug, with no attention and no explicit feature request, which is why i formally opened this post here as a feature request.

Also there are several issues with the gpu ram clearning which are simply ignored...

Here is a selection (without guarantee of completeness): #39535, #19571, #15880, #20387

[2021-04-16 07:55] DarshanDeshpande commented on #48454
@kkimdev Yes, those are the kernels but I'm not sure where exactly the support should be added. Does [this](https://github.com/tensorflow/tensorflow/blob/c0abef1d844a93d0c2d4adbed8e5dd8158e6f77c/tensorflow/core/ops/nn_ops.cc#L335) list define all the supported types? What are the dependencies for these ops? Is there another file that specifies the input types for Convolutional operations? I've bee

[2021-04-16 08:13] dexsr415 opened #48554 "RuntimeError: MetaGraphDef associated with tags {''serve'} could not be found in SavedModel."
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installation (pip package or built from source):anaconda installation
- TensorFlow library (version, if pip package or github SHA, if built from source):2.3.0

### 2. Code
 I am using, the official code from the tensorflow website:
REFERENCE : https://www.tensorflow.org/lite/convert

`impo

[2021-04-16 08:25] farazBhatti commented on #48544
inorder to reproduce above error, here is the link of converted keras to tflite [model](https://drive.google.com/file/d/1y3LQSuxZcggilzMo82rPdGW9PMt-Lqam/view)

[2021-04-16 08:40] tanguycdls commented on #41034
Still an issue in TF2.5.rc1

[2021-04-16 09:01] maxrohleder commented on #31608
@AtlantaPepsi did you make progress here? Same thing happens to me now with tf2.4.0, bazel 3.1 and MSVC 2019

[2021-04-16 09:04] lugalUrim commented on #48470
Thanks @fchollet . I agree that `ValueError` should be raised whenever `filters` is `0`.
I noticed that the following functions also crash when `filters`=`0`.
Conv1DTranspose
Conv3DTranspose
ConvLSTM2D

while these does not.
Conv1D
Conv3D

[2021-04-16 09:05] Saduf2019 commented on #36025
@abcdabcd987
please update if you still face this issue on later versions of tf.

[2021-04-16 09:18] amahendrakar commented on #48317
@Mullich123,
Thank you for the update.

Closing this issue as it is resolved. Please feel free to re-open if necessary.

[2021-04-16 09:18] #48317 closed

[2021-04-16 09:26] oO0oO0oO0o0o00 opened #48555 "InvalidArgumentError when using class_weight in Model.fit with labels having extra dimension for time step"
We used the `class_weight` parameter to assign different weights for samples of different classes in `keras.Model.fit()`.
Our data (input) and labels (output) have an extra time-step dimension besides the batch dimension.
The labels are indices of classes (i.e. not one-hot encoded), used along with the **sparse** CE loss function.
We've written a minimal reproduction script (as presented below) to

[2021-04-16 09:27] romanovzky commented on #48356
@jvishnuvardhan thanks for checking this out. I have no doubt that it might be not a bug, but just how heavy the model is. However, an equivalent model (also with gradient penalty) in pytorch is fast to start, so I'd just wanted to call the attention to this "papercut" from a user perspective (my workflow is TF, but my group has a growing interest in alternative frameworks and papercuts like this

[2021-04-16 09:28] Saduf2019 commented on #33834
@amitp-ai
This issue has been fixed in tf-nightly and tf 2.5, please refer tot he [gist here](https://colab.research.google.com/gist/Saduf2019/e5e66d55e18434207cb0f3f699e9f5e7/untitled590.ipynb), can you please upgrade your tf and move this issue to closed status.

[2021-04-16 09:29] Duynguyen0897 opened #48556 "Create image_classifier in colab have an error. "unknown image file format. one of jpeg png gif bmp required""
![image](https://user-images.githubusercontent.com/44739285/115004251-d04c9c80-9ed0-11eb-924c-7dcf0060dae8.png)
The images datasets [here](https://babycuatoi.vn/tree.zip)
Help me please!

[2021-04-16 09:35] Saduf2019 commented on #39411
I have tried in colab with TF nightly version (2.6.0-dev20210415) and was able to reproduce the issue. Please, find the [gist here](https://colab.research.google.com/gist/Saduf2019/426febbf26350372206d0a84b1a977c1/untitled590.ipynb).Thanks!

[2021-04-16 09:38] abattery commented on #48553
Actually, TFLite supports dynamic dimension tensors but GPU acceleration is not supported for dynamic dimension tensors.

If the CPU based graph execution does satisfy your case, you can consider running the graph without enabling GPU delegate.

If the graph does not have any If or While ops and all the tensors can have static shapes (you can determine them with the Netron visualizer), the graph c

[2021-04-16 09:40] Saduf2019 commented on #38280
I have tried on colab with TF version 2.5 and was able to reproduce the issue.Please, find the [gist here](https://colab.research.google.com/gist/Saduf2019/76ca3e3ada81b1fcb79675a745d23f37/untitled589.ipynb). Thanks!

[2021-04-16 09:41] rmothukuru commented on #35813
@dswah,
Can you please respond to the above comment? Thanks!

[2021-04-16 09:43] abattery commented on #48554
Could you use the `saved_model_cli` tool to inspect the available tags in the given saved model?

If the available tags are "serve" and "train", you need to provide them as a set, e.g.,

tf.lite.TFLiteConverter.from_saved_model(
    saved_model_dir, tags=set())  # if the tags are empty.

tf.lite.TFLiteConverter.from_saved_model(
    saved_model_dir, tags=set(["serve", "train"]))  # if the tags are