[2020-12-07 04:53] ashishsme14 commented on #45411
https://www.hackerrank.com/test/3joiio81bhc/questions/ffst10flki5

[2020-12-07 04:53] ashishsme14 commented on #45411
tensorflow==2.2.0
numpy==1.16.0
pandas==0.24.2
scipy==1.4.1
scikit-learn==0.19.1
pytest==5.4.1
blinker==1.4.0
jupyter==1.0.0
jupyter-client==6.1.2
jupyter-console==6.1.0
jupyter-core==4.6.3
pickleshare==0.7.5
ipynb==0.5.1
keras==2.3.1
six==1.14.0
setuptools==46.1.3

[2020-12-07 05:03] Saduf2019 commented on #45422
@RD191295
I ran the code shared and there are too many syntac and indentation issues, please share code that is indented or if possible share a [colab gist](https://colab.research.google.com/gist/Saduf2019/a395a3980a0d7a28e07f5225a284218e/untitled.ipynb)

[2020-12-07 05:11] RD191295 commented on #45422
can you try to run this code.
https://colab.research.google.com/drive/1DAxkDY0hwxra6kSMLIZuTVHO36x4jtIa?usp=sharing

[2020-12-07 05:14] RD191295 commented on #45422
this require model file and .pbtxt file also. if needed please let me know how can i send this..

[2020-12-07 05:14] sidhomj opened #45436 "Sparse.Softmax Example"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2020-12-07 05:16] ravikyram commented on #45411
@ashishsme14

Can you please share colab link  or complete code snippet along with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster. Thanks!

[2020-12-07 05:20] thaink commented on #45153
Are build building it at Tensorflow v2.3.0? Or at what commit are you using?

There seems to be a divergence between compiler versions. The error related to "_ZNK6google8protobuf7Message11GetTypeNameEv" did not happen in my debian system but reported by another.
Anyway, this error should be fixed, so could you try it at v2.4.0-rc4?

[2020-12-07 05:25] ashishsme14 commented on #45411
We already provided complete instructions n cvs file too

[2020-12-07 05:25] ashishsme14 commented on #45411
https://serversgxza4en-ws-dev-server-8000.in-rc-3.projects.hackerrank.net/tree?

[2020-12-07 05:26] ashishsme14 commented on #45411
https://github.com/tensorflow/tensorflow/files/5650585/airline-passengers.zip

[2020-12-07 05:28] ashishsme14 commented on #45411
https://github.com/tensorflow/tensorflow/files/5650599/RNN_Question.zip

[2020-12-07 05:38] abattery commented on #45377
I think there are unsupported StridedSlice operation inputs by TFLite StridedSlice op. You will be able to run your model with Select TF ops. https://www.tensorflow.org/lite/guide/ops_select

[2020-12-07 05:40] abattery commented on #45376
To run TFLite model with GPU delegate or NNAPI, the model should have a static shape. When you convert your model, could you set a fixed input shape when you are creating a keras model?

[2020-12-07 05:42] abattery commented on #45361
Sorry for encountering this issue. TFLite runtime is not able to handle mutable variable cases yet. We are working on improving this area.

[2020-12-07 05:47] abattery commented on #45313
Interesting. @gcervantes8 Could you provide your tflite to us and the snapshot of the Netron app?

[2020-12-07 05:51] #45281 closed

[2020-12-07 06:05] thaink commented on #45394
@Saduf2019 Can we loop some one in NNAPI team here?
We need to know what op and what input data cause the issue.

[2020-12-07 06:22] Tieckby commented on #45281
No, it doesn't.

On Mon, Dec 7, 2020, 5:52 AM tensorflow-butler[bot] <
notifications@github.com> wrote:

[2020-12-07 06:25] ashishsme14 commented on #45411
please find all details.. thanks

[2020-12-07 06:26] abattery commented on #45281
@Tieckby Let's continue discussions at the #45301.

[2020-12-07 06:49] KopfKrieg commented on #29704
No idea, sorry. I currently don't have time to look further into that issue, all I know is building tensorflow 2.x didn't work for me.

[2020-12-07 06:50] Tieckby commented on #45281
Ok, Can you solve it ?

On Mon, Dec 7, 2020, 6:27 AM Jae sung Chung <notifications@github.com>
wrote:

[2020-12-07 07:03] felixmaximilian commented on #41244
Have you tried what I suggested above?

[2020-12-07 07:13] ethanyanjiali commented on #32176
@ymodak @yuefengz Is there a timeline to add this gradient accumulation to tf.keras optimizers? Or will there be a guideline on how to do it in the custom training loop? My current approach is to create an accumulated gradients variable and have train step in each replica to add to this variable, but I also need a separate strategy.run to apply the gradients because that variable is under replica

[2020-12-07 07:38] yonatansc97 commented on #45428
Hi, @ravikyram
Thank you for the response!
I could not get it to run on a colab environment, so I am uploading the following files of code:
- inception_v3.py - this is the CNN.
- modeling.py - this module implements the tf.Estimator API, and is responsible for handling tensorboard summaries (those that are not taken care of by the Estimator itself).

- main.py - this creates the estimator and runs

[2020-12-07 07:40] zhenql commented on #45310
@mwlon
`ulimit -s unlimited` or other size more than 8192.
I'm not sure if the method works though my tf program always require more stack size.

[2020-12-07 07:45] ashishsme14 commented on #45411
details are good?

[2020-12-07 07:46] eli-osherovich opened #45437 "Keras: inconsistent behavior of "embedded" models"
Not sure if this a bug (I am inclined to believe so) or not, but it looks strange/inconsistent to me...
Consider the following scenario (a simple "embedded" model case):
[code]

Now, assume that I would like to extract features from an internal layer of the models.
The following example works as expected:

[code]

However, this one fails, even though I would expect it to be equivalent to `test1` a

[2020-12-07 07:51] #45071 closed

[2020-12-07 08:09] bheu commented on #43588
Another resolution is to modify soname in libcudart.so.
sudo patchelf --set-soname libcudart.so.11.1 /usr/local/cuda-11.1/targets/x86_64-linux/lib/libcudart.so.11.1.74
But the system will show the file was truncated.

[2020-12-07 08:51] #45058 closed

[2020-12-07 09:14] amahendrakar commented on #45410
@joehoeller,
I did not face any errors while running the command on Ubuntu 18.04, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/3015fd93b2f31caf1265fd8785bbfe2d/45410.ipynb).

Could you please restart your machine, run all the commands listed in the [guide](https://www.tensorflow.org/install/gpu#ubuntu_1804_cuda_101) and check if it works. Thanks!

[2020-12-07 09:15] amahendrakar commented on #45410
Also in order to expedite the trouble-shooting process, could you please provide the following details

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed using virtualenv? pip? conda?:
- Bazel ve

[2020-12-07 09:20] DachuanZhao opened #45441 "mixed_precision make train and predict very slow when only using cpu"
tensorflow : 2.3
Here is the [colab](https://colab.research.google.com/drive/1glypA7wC988kivuGe07Qfk_XHuq1j9aS?usp=sharing)
You can see that it costs 3s to train a epoch while costs 187s to train the same epoch using ```mixed_precision ```

[code]
vs
[code]

[2020-12-07 09:34] DachuanZhao commented on #41244
I have tried it . It makes another error :
[code]
I don't know how to import ```TrackableWeightHandler``` , so I change it to
[code]
It raises error too :
[code]

[2020-12-07 09:35] terryheo commented on #44237
Verified the issue. Working on making a fix.

[2020-12-07 09:51] #45069 closed

[2020-12-07 09:58] Saduf2019 commented on #45441
@DachuanZhao
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [steps followed before you ran into this error or stand alone code to reproduce the issue faced, if possible colab gist with the error]

[2020-12-07 09:58] Hedibouchelliga commented on #38613
import numpy as np
X = np.array(X)
y= np.array(y)
that will change your X,y  to numpy arrays and solve the problem
this would be also done just before feeding your neural network to make sure that the NN received numpy arrays

[2020-12-07 10:01] amahendrakar commented on #45413
@yummychop,
Please go through [this](https://www.tensorflow.org/model_optimization/guide) TensorFlow model optimization guide and let us know if it helps. Thanks!

[2020-12-07 10:01] ravikyram commented on #45396
Was able to run the code on Ubuntu 18.04 without any issues. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/06212dc6359e088a0d64c97f1bf79d17/45396.ipynb). Thanks!

[2020-12-07 10:04] DachuanZhao commented on #45441
I think this bug is a common bug which means it may exist in many versions . So I only give the tensroflow version .
I have post a colab , and you can run the code in the colab .

[2020-12-07 10:14] ravikyram commented on #45437
@eli-osherovich

Please, let us know which TF version you are using.You are seeing the same behavior with recent TF versions like 2.4-rc3 and nightly versions?

Thanks!

[2020-12-07 10:20] byronyi commented on #45441
Why using mixed precision with CPU? As said in the [doc](https://www.tensorflow.org/guide/mixed_precision),

This slowdown is pretty much expected.

[2020-12-07 10:24] Jiaxin8122 opened #45443 "error when load the model use keras.models.load_model"
**System information**

- OS Platform: Windows10
- TensorFlow version: 2.3.1
- Python version: 3.8.4
- CPU

I used AutoKeras generate a model and saved as 'tf' format.
model.save('ak_best_model', save_format='tf')
Then i use:
keras.models.load_model('ak_best_model')   in the same script
It works well...

But i open a new script and use Keras load the same model, error occured:

RuntimeError: Unabl

[2020-12-07 10:24] amahendrakar commented on #45426
@u1s1QS,
In order to expedite the trouble-shooting process, please provide the following details

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed using virtualenv? pip? conda?:
- Bazel version

[2020-12-07 10:25] DachuanZhao commented on #45441
```it may not improve performance.```

In fact , it leads to worse performance ......

[2020-12-07 10:26] byronyi commented on #45441
I don't think it is a bug. This feature is not meant to accelerate your model on regular CPUs.

[2020-12-07 10:29] shardiman commented on #45016
Ok thanks for the suggestions and taking the time to look at my issue,

After running my code on Colab, I can confirm that the bug no longer seems to persist on this colab environment.
I guess the problem must be specific to my hardware/architecture/installation. Unfortunately I don't really have control over this environment, so I'll have to contact and my system administrators and work with them

[2020-12-07 10:29] #45016 closed

[2020-12-07 10:34] DachuanZhao commented on #45441
But at least it should't make the performance  worse ...... We often train a model with gpu and deploy it with cpu . In this situation, the bug has a big impact ......

[2020-12-07 10:34] amahendrakar commented on #45443
@Jiaxin8122,
On running the code, I am facing an error stating `FileNotFoundError: [Errno 2] No such file or directory: 'total.xlsx'`.

In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and the dataset you are using.

Also, please go through issue [#44199](https://github.com/tensorflow/tensorflow/issues/44199#issuecom

[2020-12-07 10:36] byronyi commented on #45441
There is nothing prevent you to deploy a model trained in mixed precision with full precision. The model itself is always stored in full precision.

[2020-12-07 10:48] DachuanZhao commented on #45441
The strange thing is that when you deploy a model which is trained with mixed_precision on tf-serving-cpu , you will find the model is slower than the model trained without mixed_precision ......

[2020-12-07 10:58] Maratyszcza commented on #45237
It is possible that this is not sufficient to disable XNNPACK. You may profile the binary, and if it spends much time in `xnn_*` functions, XNNPACK is being used.

[2020-12-07 11:02] princio commented on #33148
@kaixih where did you read it?
I'd like to give it a try.

[2020-12-07 11:03] byronyi commented on #45441
I've clearly stated that mixed precision training has nothing to do with serving your model in full precision. Even in mixed precision training your model is saved in full precision.

[2020-12-07 11:04] byronyi commented on #45441
If you actually meet a bug, which is unlikely IMHO, you could raise an issue on tensorflow/serving.

[2020-12-07 11:09] DachuanZhao commented on #45441
Have you run the code in my colab ?  It's acceptable that training a model with mixed_precision on cpu is 60 times slower than training it without mixed_precision  ?

[2020-12-07 11:15] joehoeller commented on #45410
It fails in Dockerfile.

On Mon, Dec 7, 2020 at 3:15 AM Abhilash Mahendrakar <
notifications@github.com> wrote:

[2020-12-07 11:21] yananchen1989 opened #45444 "Did not get operators or tensors in subgraph 1. when using tf.lite.Interpreter"
**tf version: 2.3.1**

I saved a model of simple RNN and after quantitation, this model can not be reloaded by `tf.lite.Interpreter`
I tried other types of model such as textCNN, it still does not work.

If I remove the `converter.optimizations = [tf.lite.Optimize.DEFAULT] `, it succeed.
However, I cannot remove this command as it can significantly reduce the size of my model.
Any hints ?
Thanks.

[2020-12-07 11:53] ahtik commented on #45258
@anirudhakulkarni As said, it is not recommended to keep going with CUDA 11.1, even after renaming `cusolver64_11` to `cusolver64_10` unless there is no possibility to install CUDA 11.0 in your Windows installation :)

`cusolver64_10.dll` is part of CUDA 11.0 and CUDA 10.1 installation, `cusolver64_11.dll` is part of CUDA 11.1.
Using a wrong version `.dll` simply by renaming it asks for more confu

[2020-12-07 12:11] vikramdattu commented on #45185
Hey @nixmeer
tfmicro's build system is bit different and it needs sources added in Makefile.inc which is used to generate CMakeList.txt

What you can do is simply add these files under esp [directory](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/micro/examples/micro_speech/esp) and make changes in [Makefile.in](https://github.com/tensorflow/tensorflow/blob/master/tensorflow

[2020-12-07 12:17] vagdevik opened #45445 "Unable to succeed "pip install tensorflow" due to error "Failed building wheel for grpcio" in virtualenv"
**System information**
- OS Platform and Distribution Linux Ubuntu 16.04
- TensorFlow installed from pip install
- TensorFlow version:1.14.0
- Installed using pip inside a virtual environment created using virtualenv command

**When I was trying to install tensorflow in a virtual environment(created using `virtualenv` command, it is showing the following error at some point of installation:**
[cod

[2020-12-07 12:22] amahendrakar commented on #45423
@jaehochang92,
Thank you for the update. I'm facing issues while running the code, the `prepare_dataset` method seems to run indefinitely.

Could you please provide a minimal code snippet so that we can reproduce the issue on our end. Thanks!

[2020-12-07 12:24] yutaochen1998 commented on #45441
"The dtype policy mixed_float16 may run slowly because this machine does not have a GPU. Only Nvidia GPUs with compute capability of at least 7.0 run quickly with mixed_float16."
Mixed precision is not meant to accelerate training on CPU. It's expected to impact performance.

[2020-12-07 12:31] byronyi commented on #45441
float16 are accelerated by hardware, not software. Software enables such acceleration with supported hardware, while regular CPUs do not have fp16 capability. I am surprised it actually runs btw.

[2020-12-07 12:41] eli-osherovich commented on #45437
This is TF 2.3.0

[2020-12-07 12:48] Jiaxin8122 commented on #45443
here is the dataset:
[total.xlsx](https://github.com/tensorflow/tensorflow/files/5652212/total.xlsx)

import numpy as np
import pandas as pd

from keras.models import load_model
from sklearn.model_selection import train_test_split

df = pd.read_excel('total.xlsx', dtype=np.float32)

y = df[['Static_Fric', 'Rolling_Fric']].values
x = df.drop(labels = ['Static_Fric', 'Rolling_Fric'], axis =1)

x_tra

[2020-12-07 12:58] PureTryOut opened #45446 "Source compilation fails on Musl system on multiple places"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Alpine Linux edge
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.3.1
- Python version: 3.8.6
- Installed using virtualenv? pip? conda?: source
- Bazel version (if compiling from source): 3.5.0
- GCC/Compiler version (if compiling from source): 10.2.1_pre1

**Describe the problem**

I'm

[2020-12-07 13:01] Saduf2019 commented on #45258
@anirudhakulkarni
As already informed repeatedly please CUDA 11.0 and not 11.1.

[2020-12-07 13:05] Saduf2019 commented on #25283
@Nayana-ibm
Please let us know if this is still an issue else move this to closed status.

[2020-12-07 13:06] mihaibf opened #45447 "addv2"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**
Provide a reproducible test case that is the bare minimum necessary to generate
the problem. If possible, please sha

[2020-12-07 13:10] Saduf2019 commented on #45445
@vagdevik
TF 1.14 is not supported, can you please try with 2.x and let us know.
There are siilar issues, please refer to them and let us know: [link](https://github.com/stan-dev/pystan/issues/470), [link1](https://stackoverflow.com/questions/56357794/unable-to-install-grpcio-using-pip-install-grpcio)

[2020-12-07 13:23] Saduf2019 commented on #40614
@sbrl
Is this still an issue

[2020-12-07 13:31] ravikyram commented on #45447
@mihaibf

Please, fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

Please, share the colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster. Thanks!

[2020-12-07 13:34] pwichmann opened #45448 "2.4.0-rc4: import keras error"
This is likely to be a stupid question.
I use an RTX 3090 and hence am very interested in the 2.4.0 version of Tensorflow.

However, when I use the 2.4.0-rc4 and attempt to import keras...
`from tensorflow import keras`

... I get the error:
[code]

Is this an expected behaviour for this rc -- and I should have known that keras does not work with rc versions?
Is there a simple way for me to get ke

[2020-12-07 13:35] moaradwan opened #45449 "Segmenation fault when saving StringLookup layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- MacOS
- TensorFlow installed from binary
- TensorFlow version: '2.3.1'
- Python version: 3.7

**Current behavior**
A Model with just input and StringLookup layers is failing to save after loading it twice. It gives a segmentation fault.
**Expected behavior**
Saving without hav

[2020-12-07 13:41] Sylv-Lej commented on #45044
same issue with nvidia/cuda:11.0-cudnn8-devel-ubuntu18.04 and RTX 3080

using cuda 11.1 cause :

`Could not load dynamic library 'libcusolver.so.10'; dlerror: libcusolver.so.10: cannot open shared object file: No such file or directory`

tried with rc0 -> rc4

[2020-12-07 13:51] #45070 closed

[2020-12-07 14:05] ashishsme14 commented on #45411
After running code then we execute

[code]

Here our output should be match but coming as unmatched.

[2020-12-07 14:17] Harsh188 commented on #45044
I've found a temporary solution by using software provided by [lambda stack](https://lambdalabs.com/blog/install-tensorflow-and-pytorch-on-rtx-30-series/). It works on ubuntu 20.04 for all RTX 30 series GPUs.

[2020-12-07 14:26] menkeyi opened #45450 "all CUDA-capable devices are busy or unavailable"
(tfv1) [root@bogon ~]# cat /etc/redhat-release
CentOS Linux release 7.9.2009 (Core)

tfv1) [root@bogon ~]# nvidia-smi
Mon Dec  7 22:21:25 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 450.80.02    Driver Version: 450.80.02    CUDA Version: 11.0     |
|-------------------------------+----------------------+----------------------+
| GPU  Name

[2020-12-07 14:29] llan-ml commented on #29215
For those who still suffer from this issue, I found that we can first convert the custom model into a functional model (i.e., initialize the model [in a graph manner](https://github.com/tensorflow/tensorflow/blob/25fba035f3e453d94490932096282c7b0624bbb3/tensorflow/python/keras/engine/network.py#L173)) and then visualize the graph with `tf.keras.callbacks.Tensorboard`, which usually results in a mu

[2020-12-07 14:51] #45067 closed

[2020-12-07 15:18] mypey commented on #39857
Hi,
I encountered the same issue. My workaround is to use `tf.config.list_physical_devices()` instead of `tf.config.list_logical_devices()` but I am not really satisfied.
Any new about this problem?
Thanks!

[2020-12-07 15:26] #44693 closed

[2020-12-07 15:34] #45443 closed

[2020-12-07 15:44] #37445 closed

[2020-12-07 15:47] ion-elgreco opened #45451 "tensorflow_estimator-2.4.0rc0.dist-info is missing METADATA file"
FileNotFoundError: [Errno 2] No such file or directory: 'c:\\users\\USER\\anaconda3\\envs\\tf-gpu-latest\\lib\\site-packages\\tensorflow_estimator-2.4.0rc0.dist-info\\METADATA'

Only the INSTALLER file is in the directory.

Edit:
Reinstall it in a new environment and it now has those files, something must have gone wrong during pip installation.

[2020-12-07 15:55] shlomi-amitai opened #45452 "tflite quantized model unable to run on DSP"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
Binary
- Tensorflow version (commit SHA if source):
tf-nightly
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):
Android
**Describe the problem**
Model with full quantization.
I get the following message:
INFO: Created TensorFlow Lite d

[2020-12-07 15:56] farotem opened #45453 "Suspected memory leak - when loading multiple models with tf.saved_model.load"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
YES
- OS Platf

[2020-12-07 15:58] Sidong-Wei commented on #45009
Hi @jdduke, I think I just got some useful information in addressing this issue.
Based on my investigation, the issue here is not limited to serialize and deserialize tflite flatbuffer models, because I also identified this issue when using the experimental `mlir_quantizier`, in which case the flatbuffer model is converted into a mlir module then quantized and converted back.
I believe the major i

[2020-12-07 16:01] johannesSX commented on #37726
Is there any alternative for using concat instead?

I tried it with the tf.stack command and have the same problem.

[2020-12-07 16:03] alihasn92 commented on #45231
Do we have any update here?

[2020-12-07 16:05] gitfourteen commented on #35045
Got the same problem when using customized loss for VAE by tf 2.x, but OK for tf 1.x

[2020-12-07 16:06] #45451 closed

[2020-12-07 16:11] MarkDaoust commented on #45203
Yes. This is clearly  a bug in 1.15. But It's definitely not something significant enough that we'd make a patch release for it, we only do patch releases for major bugs or security fixes. So I'm closing this.

[2020-12-07 16:11] #45203 closed

[2020-12-07 16:19] Osos8128 commented on #24816
Any updates how to solve this problem ??

[2020-12-07 16:21] OfekShochat opened #45454 "keras model to a single pb file or valid graph"
I use TensorFlow 2.3.1

currently, you cant export a Keras model to a pb file without a folder that is a valid graph to use in the c++ api.

I don't think this will change the api. just a feature for making a valid graph for the c++ api.

I think that labs that work with c++ and other languages that use the c_api.h file for wrapping for the language (maybe python uses it too?) with tensorflow beca

[2020-12-07 16:24] srjoglekar246 commented on #44606
The code is under active review, so should be submitted soon :-)

[2020-12-07 16:27] shrikumaran commented on #45436
Hi @sidhomj

I tried this out, I too got the same error.
The reason for the error is SparseTensor accepts only 1-D tensor as values but in the docs a 3-D tensor is passed. So, to solve this you can get the non zero values from the tensor and store it in a list and then pass it to the SparseTensor.

[code]
This is how I implemented it

[2020-12-07 16:36] gitfourteen commented on #35045
THIS DOES NOT WORK!

[2020-12-07 16:46] amahendrakar commented on #45354
@ruhollah2,
Thank you for the update. I did not face any warnings while running the code, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/5322fc5a0407e336a54644f35be8a3cf/45354.ipynb#scrollTo=K3KkFt5NCrEf).

You can suppress the warnings by changing the log level at the start of the program
[code]

or you can set the [autograph verbosity](https://www.tensorflo

[2020-12-07 16:56] ravikyram commented on #45450
@menkeyi

Please, try with the tested build configurations from [here](https://www.tensorflow.org/install/source#gpu). Thanks!

[2020-12-07 17:21] Xeratec commented on #43141
Having the same problem with TensorFlow 2.5.0. I want to use Conv1D layers with dilatation. Is it possible to add this operation to tflite/micro?

[2020-12-07 17:27] skribm9 opened #45455 "recorded_allocation parameters for quantized tensors are incorrect for BE machines"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.3.1
-

[2020-12-07 17:37] amahendrakar commented on #45433
Was able to reproduce the issue with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/c339a19b43ebd9e7a83be67405b2870d/45433.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/1db7335dc8bde1e3e2c23cb44fdfc1a3/45433-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-12-07 17:43] gcervantes8 commented on #45313
Hello @abattery I attached a zip with the models.
Two models; one with the optimizer (doesn't work), the other without the optimizer (works):
[lite_models.zip](https://github.com/tensorflow/tensorflow/files/5654245/lite_models.zip)

I am using version 4.6.5 of Netron

[2020-12-07 17:46] Nayana-ibm commented on #25283
@Saduf2019 Its still an issue as grpc uses boringssl and boringssl is not supported on s39ox.
However we could install TensorFlow wheel with workaround to use Openssl instead of Boringssl.
Closing the issue.

[2020-12-07 17:46] #25283 closed

[2020-12-07 17:49] amahendrakar commented on #45436
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/17622f98bd68a4d0b489d5e41b2c1564/45436.ipynb). Thanks!

[2020-12-07 17:51] #45097 closed

[2020-12-07 18:04] bhack commented on #45448
We don't officially support conda here.
See if  this could help you https://stackoverflow.com/questions/64102020/modulenotfounderror-no-module-named-keras-preprocessing

[2020-12-07 18:04] rkuester commented on #45387
With the merger of #45389, this closed.

[2020-12-07 18:04] #45387 closed

[2020-12-07 18:13] yummychop commented on #45413
Thank you for the reply, we tried the weights-based pruning as suggested in the guide, the sparsity of the weights increased but the inference time didn't get improved. As someone raised here: https://github.com/tensorflow/model-optimization/issues/173. The pruning only reduced the model size.

And as I indicated above, it seems quantization only works for TF lite and TF lite in only for embedded

[2020-12-07 19:04] bhack commented on #45433
@amahendrakar Thanks.

@soroosh-rzh
Can you try with:
[code]

[2020-12-07 19:21] ymodak commented on #45448
You may try https://stackoverflow.com/a/64104744/11127923

[2020-12-07 19:22] wanusic opened #45458 "tensorflow.python.framework.errors_impl.UnknownError: Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above. [Op:Conv2D]"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2020-12-07 19:23] bhack commented on #45448
@ymodak Is your different?

[2020-12-07 19:39] davidcereal commented on #41073
I'm using the [TensorFlow Ranking ](https://github.com/tensorflow/ranking) library, which is dependent on feature_columns as input to transform the features into a format suitable for Learn to Rank modeling. Since feature_columns have not been deprecated, I would hope this bug would be fixed.

[2020-12-07 19:41] bhack commented on #45458
We don't support ananconda here. Please use the default pip install in venv or try to get support at https://github.com/AnacondaRecipes/tensorflow_recipes

[2020-12-07 19:56] ymodak commented on #45448
My bad.. I didn't check your comment. I will retract.

[2020-12-07 19:59] bhack commented on #45448
Nevermind, thanks.

[2020-12-07 20:04] tanzhenyu commented on #41073
@ramakumar1729 Has TFR's support for KPL been opened sourced?

[2020-12-07 20:11] pwichmann commented on #45448
Does it matter that I installed it with pip --just in a conda environment?

[2020-12-07 20:22] ingo-m commented on #45321
Unfortunately I have to reopen this issue - I had overlooked that when enabling custom operations (`converter.allow_custom_ops = True`), the model can be compiled and saved, but can't perform inference. I updated the [colab notebook](https://colab.research.google.com/drive/1-sYbh6In8Dubki0UtcnzjmEZuMiMa-Gd?usp=sharing) with the complete example, tested in TensorFlow 2.3.1.

Specifically, after loa

[2020-12-07 20:24] wanusic commented on #45458
@bhack If you read my post, you will see that I tried both pip and anaconda install

[2020-12-07 20:27] bhack commented on #45458
But pip inside a conda env?

[2020-12-07 20:30] ingo-m commented on #45321
PS: The user [guide](https://www.tensorflow.org/lite/guide/ops_select#python) mentions: "TensorFlow Lite with select TensorFlow ops are available in the TensorFlow pip package version since 2.3 for Linux", so the [colab example](https://colab.research.google.com/drive/1-sYbh6In8Dubki0UtcnzjmEZuMiMa-Gd?usp=sharing) should work, right?

[2020-12-07 20:31] wanusic commented on #45458
Yes, is that a problem?

[2020-12-07 20:40] shenriet opened #45459 ""keras predict" uses one more batch than specified by "steps" argument with generator x"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from: pip
- TensorFlow version (use command below): 2.3.1
- Python version: 3.6.9
- CUDA/cuDNN version: 10.1

**Describe the current behavior**
When providing a python generator to the keras.Model.predict function with a number of steps=N then, the generator is called N+1 times whereas the output of th

[2020-12-07 20:51] #45068 closed

[2020-12-07 21:09] scawsome commented on #42931
Very helpful, thanks!

[2020-12-07 21:15] Ecclesiast opened #45460 "Cannot convert model: Exception has occurred: ValueError"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): built from source
- TensorFlow version (or github SHA if from source): 2.3.0

Here you can find a **tf-trt, tflite converter** issue with model train code and build model - [Collab Notebook](https://colab.research.google.com/drive/1-dRG9O2B_NfvjmQz9du5A0oRQ

[2020-12-07 21:20] mihaimaruseac commented on #34371
I just noticed you are using `**` but TF's [globbing patterns don't include that case](https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/core/platform/file_system.h;l=184-215;drc=516ae286f6cc796e646d14671d94959b129130a4)

Including `**` would complicate [an already complicated implementation](https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/core/platform/

[2020-12-07 21:26] mihaimaruseac commented on #36893
I think this will get fixed in the 2.4 final release, after [rewriting implementation of matching code](https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/core/platform/file_system_helper.cc;l=123-266;drc=8b5b9dc96666a3a5d27fad7179ff215e3b74b67c)

[2020-12-07 21:27] mihaimaruseac commented on #39167
This should be fixed in the 2.4 release, after [rewriting implementation](https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/core/platform/file_system_helper.cc;l=123-266;drc=8b5b9dc96666a3a5d27fad7179ff215e3b74b67c)

[2020-12-07 21:28] mihaimaruseac commented on #39234
This seems to have stalled. I'll close it but if it still reproduces at head please reopen.

[2020-12-07 21:28] #39234 closed

[2020-12-07 21:28] mihaimaruseac commented on #36505
The filesystem glob matching [implementation](https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/core/platform/file_system_helper.cc;l=123-266;drc=8b5b9dc96666a3a5d27fad7179ff215e3b74b67c) has recently changed. Let's test with the 2.4 release when it gets out to see if this is made better

[2020-12-07 21:30] mihaimaruseac commented on #38147
This seems to have stalled and afaik it  has been solved. Closing this but please reopen if the issue still manifest with the latest Bazel and a latest commit.

[2020-12-07 21:30] #38147 closed

[2020-12-07 21:33] mihaimaruseac commented on #40614
@sbrl WAI = working as intended

[2020-12-07 21:37] mihaimaruseac commented on #40959
With the merging of https://github.com/tensorflow/docs/pull/1749 this can be now closed.

For `diagnose_me.py` script, we should probably open a feature request.

[2020-12-07 21:37] #40959 closed

[2020-12-07 21:41] mihaimaruseac commented on #39468
This seems to have stalled. Will close but if there are still issues please reopen.

[2020-12-07 21:41] #39468 closed

[2020-12-07 21:45] mihaimaruseac commented on #44623
Final release should come this week or the next.

[2020-12-07 21:45] mihaimaruseac commented on #44616
Final release should come this week or the next.

[2020-12-07 21:46] bhack commented on #45458
Here we don't officially support conda also as env. It could work but It Is hard to get support in this repo for a conda setup.

Please try to make a clean install as in the official guide:
https://www.tensorflow.org/install/pip

[2020-12-07 21:46] mihaimaruseac commented on #44251
This seems to have stalled. Will close but please reopen if there is more information.

[2020-12-07 21:46] #44251 closed

[2020-12-07 21:48] bhack commented on #45448
See https://github.com/tensorflow/tensorflow/issues/45458#issuecomment-740199045

[2020-12-07 21:59] mihaimaruseac commented on #45248
We are currently discussing moving towards Windows GPU support only via WSL.

[2020-12-07 22:03] dellis23 commented on #42980
@VSZM

I believe [this](https://github.com/tensorflow/tensorflow/commit/84f2ec1d60b5bb14a59ccef8f8fa7eb5a1096e8f) commit broke backwards compatibility with the op in question.  I've passed the bug along to the relevant maintainers, though I don't have a estimate on when they might be able to take a look.

In the meantime, you mention you mostly just need a workaround.  My reading of the code is th

[2020-12-07 22:04] mihaimaruseac commented on #45336
Are you missing some APIs or just some source files that exist in the repo don't get exposed in the wheel?

[2020-12-07 22:05] mihaimaruseac commented on #45370
We don't have anyone left working on Java at the moment. This is a task that should be picked up by SIG JVM.

[2020-12-07 22:08] mihaimaruseac commented on #45229
@ewilderj , @theadactyl can you help here please?

[2020-12-07 22:15] mihaimaruseac commented on #45083
C++ code has versions specified in `workspace.bzl` file and automatically pulled for you when you do `bazel build`.

[2020-12-07 22:20] mihaimaruseac commented on #45448
Tested this in a virtualenv with `pip`-only and it works. So it seems that the fault lies in conda.

[2020-12-07 22:23] abattery commented on #45313
This bug is related to the optimization toolkit. @daverim @teijeong could you take a look?

[2020-12-07 22:25] TSE-jc opened #45462 "Pip install issue on windows 10 with error ERROR: Could not install packages due to an EnvironmentError: [Errno 2] No such file or directory: 'C:\\Users\\jc_mr.TSE-DEV64-2\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python38\\site-packages\\tensorflow\\include\\external\\aws\\aws-cpp-sdk-core\\include\\aws\\core\\client\\SpecifiedRetryableErrorsRetryStrategy.h'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2020-12-07 22:26] mihaimaruseac commented on #45462
Please fill issue template

[2020-12-07 22:31] cement-head opened #45463 "Cannot ./configure Tensorflow on Ubuntu 18.04 LTS with CUDA 11.1"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 LTS
- Mobile devi

[2020-12-07 22:32] bhack commented on #44467
We are now at 3.1.0 on master https://github.com/tensorflow/tensorflow/pull/45380

[2020-12-07 22:32] pwichmann commented on #45448
Thank you, everyone!

[2020-12-07 22:32] #45448 closed

[2020-12-07 22:36] ewilderj commented on #45229
Looking into it. @peter197321 feel free to forward that email to me at ewj at google dot com so I can chase it down internally. Thanks.

[2020-12-07 22:41] mihaimaruseac commented on #45295
Also, what version of `gast` are you using.

[2020-12-07 22:51] #43835 closed

[2020-12-07 22:51] #44734 closed

[2020-12-07 22:59] JohnTaylor2000 commented on #44510
Wondering if you can confirm that this is an issue based on my supplied bug report and if you have a solution? This is a roadblock to my research so I am keen to have this resolved - any help greatly appreciated!

[2020-12-07 23:09] ruhollah2 commented on #45354
@tensorflowbutler Thank you for your follow up.

As per your instruction, I added the following before training the model:
[code]
However, now im facing with a larger set of errors and warnings. Strangely, though, the training proceeds and does not stop.

Here is a partial log of the output w/ err/warning:

[code]

Any idea?!

[2020-12-07 23:51] #44777 closed

[2020-12-08 00:19] OscarVanL commented on #38025
Has this issue returned for anyone else? I've done the above process to re-download dependencies, but my app has started crashing with the same segfault errors again.

build.gradle:
[code]

Crash:

[code]

[2020-12-08 00:19] steven-johnson commented on #34489
Well, yes and no: this works fine as long as you are using it directly from another CMake build; if you just want to build a one-off static library to use in a different build system (Make, in my case), you still have to track down and build all the transitive dependencies, which are missing.

Amusingly, the Make-produced static library for e.g. Linux doesn't have this issue and works fine, but th

[2020-12-08 00:41] jdduke commented on #34489
Sadly, no, at least not that I'm aware of. There are some ways to traverse the transitive cc_library deps w/ Bazel, and manually generate a static library. We've considered adding a helper rule for doing so, but it's somewhat brittle.

[2020-12-08 01:04] CalebEverett commented on #43362
I experienced this issue today with tf 2.3.

[code]

There was no error with either CPU or GPU.

Here is a colab that reproduces the error:

https://colab.research.google.com/drive/1C09OUXP-7Es4KIthVA6daRcGq_bJKGe8?usp=sharing

[2020-12-08 01:18] noahtren commented on #39056
This would also be very helpful for me, preferably without requiring `tf.py_function`

[2020-12-08 01:25] steven-johnson commented on #34489
FWIW, the [instructions](https://www.tensorflow.org/lite/guide/android) for using Bazel to build a **dynamic** library for Android don't work either...

[code]

[2020-12-08 02:14] nikitamaia commented on #44987
I've added a note to the data sharding section of the [Distributed Input guide](https://www.tensorflow.org/tutorials/distribute/input#tfdistributestrategyexperimental_distribute_dataset) that the autoshard policy only applies to MultiWorkerMirroredStrategy and TPUStrategy, and not ParameterServerStrategy.

Closing this issue now since original question was addressed in the Parameter Server Strateg

[2020-12-08 02:14] #44987 closed

[2020-12-08 02:23] yananchen1989 commented on #45444
`converter.optimizations = [tf.lite.Optimize.OPTIMIZE_FOR_SIZE]` , which has the same effect of compression, can also cause the error.
the size of the original model is **15M**
if not using
[code]
the quantization model size is 11M.
If use, the model will be 2.8M. A significant change.

[2020-12-08 02:39] abattery commented on #38025
@terryheo could you take a look at https://github.com/tensorflow/tensorflow/issues/38025#issuecomment-740262718 ?

[2020-12-08 02:51] adityagupta679 opened #45465 "How to unset changes made by tf.debugging.set_log_device_placement?"
## URL(s) with the issue:  https://www.tensorflow.org/api_docs/python/tf/debugging/set_log_device_placement

## Description of issue (what needs changing):
It is not specified as to how to unset the changes made by this function.  Therefore it's becoming difficult to suppress the info level messages and a long trail of info messages gets printed leading to difficulty in analyzing actual results.

[2020-12-08 03:33] CalebEverett commented on #33517
tf.keras.metrics are not working with TPUs on colab version 2.3

https://colab.research.google.com/drive/1C09OUXP-7Es4KIthVA6daRcGq_bJKGe8#scrollTo=hbXc0o4p2W0a

[2020-12-08 03:58] zhangqiang-hf commented on #45289
Yes, I have modified the test file.  please see the attach file.
when test, I have set
export TF_ENABLE_MKL_NATIVE_FORMAT=1
export TF_NUM_INTEROP_THREADS=1
export TF_NUM_INTRAOP_THREADS=4
export OMP_NUM_THREADS=4
export KMP_BLOCKTIME=1
export KMP_AFFINITY=granularity=fine,compact,1,0

and the test result is that:
case1:   resnet50-onepic.py,  do the predict for one picture
case2：resnet50-bs100.py,

[2020-12-08 04:08] tomweingarten commented on #44500
This is now resolved, thank you!

[2020-12-08 04:14] OfekShochat commented on #45458
The issue is that another application uses the cudnn services. So you cant run two instances of training and using the network because its using it. If you are running lc0 in the background it could be it. Try to close it

[2020-12-08 04:17] OfekShochat commented on #45458
So it's not a "build/install"

[2020-12-08 04:43] abattery commented on #45460
@Ecclesiast Could you try conversion with V2 converter API, from_saved_model?

[2020-12-08 05:48] #45201 closed

[2020-12-08 06:03] terryheo commented on #38025
I can verified the issue. Let me dig and prepare a fix.

[2020-12-08 06:03] ashishsme14 commented on #45411
So we need to know given instruction followed perfectly or not

[2020-12-08 06:26] eli-osherovich commented on #45437
The results are reproducible in tf-nightly
[code]

[2020-12-08 06:42] yananchen1989 commented on #45444
if not use `converter.optimizations = [tf.lite.Optimize.DEFAULT]`
`tflite_quant_model = converter.convert()` info:

if use `converter.optimizations = [tf.lite.Optimize.DEFAULT]`
There are more lines of info:

[2020-12-08 07:00] NeoZhangJianyu commented on #45289
@zhangqiang-hf
case1: resnet50-onepic.py
The problem you mentioned is present.
But, I repeat the predict() 100 times and got the average time, it's a little better than stack TF.

[code]

The reason was explained in preview comment:
"
@zhangqiang-hf @Zantares
As answer from Zantares: "Bad performance is expected if you only run session once because TF with oneDNN will take more time in warmup (1st

[2020-12-08 07:02] Steph71 commented on #45336
As indicated above I think the API is complete but I am missing python sources e.g. whatever is under:

https://github.com/tensorflow/tensorflow/tree/r2.3/tensorflow/python/keras/applications

[2020-12-08 07:12] sunzhe09 commented on #45394
@thaink @Saduf2019 I have tested with the latested  tf-nightly aar the nnapi result seems to be the same,thanks

[2020-12-08 07:25] zhangqiang-hf commented on #45289
Dear sir,
my test result with cost time as bellow:
  case1:  onepic,  slower then not use onednn, you known.   (with onednn:1.3s,    not with onednn :0.6s)
  case2:  bs100,  nearby   (with onednn:4.7s,  not with onednn:4.5s)
  case3:  one100,  slower  (with onednn: 9.5s,   not with onednn:6.8s)
  case4: 100pic, a bit quicker (with onednn:24s,  not with onednn:27s)
for this four cases, I test the s

[2020-12-08 07:33] SamuelMarks commented on #35102
I just saw this issue, was about to report it myself. Until 3.0 is available, it might be worth mentioning this issue in the docstring of `class Adam` so that those expecting paper-correct results will have a note to refer to (and won't be expected to compare the research paper with the TensorFlow implementation).

[2020-12-08 07:35] NeoZhangJianyu commented on #45289
@zhangqiang-hf
I use following cmd to build the TF with MKL:
[code]

You can try it and test.

[2020-12-08 07:48] yananchen1989 commented on #45444
`2.5.0-dev20201207` is OK for this problem.

[2020-12-08 07:50] llan-ml commented on #29215
I believe that this issue has been resolved with the new public summary operation [`tf.summary.graph`](https://www.tensorflow.org/api_docs/python/tf/summary/graph).

[2020-12-08 07:50] #29215 closed

[2020-12-08 07:50] amahendrakar commented on #45340
@adriang133,
Thank you for the udpate. Closing the issue as it is fixed in the latest TF-nightly.

[2020-12-08 07:50] #45340 closed

[2020-12-08 08:08] gmt710 commented on #20764
@traveller59 , Hello, I met the same problem and didn't find any other issues.
If you have solved the problem, would you mind sharing your method for solving this problem ?

my enviroment is:
[code]

[2020-12-08 08:16] shlomi-amitai opened #45467 "TFlite fails to run on GPU with - ERROR: TfLiteGpuDelegate Prepare: No shader implementation for reduce_sum"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
tf-nightly from source
- TensorFlow version (or github SHA if from source):
2.4 nightly

**Provide the text output from tflite_convert**
non conversion issue but run time on mobile GPU
[code]

[2020-12-08 08:29] zhangqiang-hf commented on #45289
ok， later ， I will try to build as you said. These build items will give good performance?

[2020-12-08 08:44] NeoZhangJianyu commented on #45289
@zhangqiang-hf
It's working for me.
I'm not sure for your case.

Let's check the result.

If it's not working for you, there is no more method.
Your CPU is a little old, so that I can't reproduce it in same HW.

My test approve that TF with MKL is better in Intel Xeon CPU.

I have shared you all of common optimization methods on Intel CPU.
If you use non-Intel CPU, you could choose the TF version

[2020-12-08 08:45] NeoZhangJianyu commented on #45289
@zhangqiang-hf
Could you send me an email for your target?

[2020-12-08 08:53] Ecclesiast commented on #45460
If you mean
[code]
then yes. I mentioned above, that it doesn't work. The error is a bit different, but I consider the main idea is the same.
[code]

[2020-12-08 08:57] vagdevik commented on #45445
Have even tried with this:
[code]
and faced the same issue.
Nevertheless, doing the following solved the issue:
[code]

So I realized that the problem was with my pip version.
If pip is of an older version(say 9.0), and if we install tensorflow directly, it is trying to install tensoflow 1.14 and is failing to succeed in installation. To make it successful, I relied on the above commands.

Finally

[2020-12-08 08:57] #45445 closed

[2020-12-08 09:02] Saduf2019 commented on #45463
@cement-head
Can you please try with CUDA 11.0? TF 2.4 (and nightly) is built and tested against CUDA 11.0, not 11.1.
Please refer to this issue and let us know : #43629

[2020-12-08 09:02] amahendrakar commented on #45446
@PureTryOut,
Could you please install the pip package dependencies as mentioned in [the guide](https://www.tensorflow.org/install/source#install_python_and_the_tensorflow_package_dependencies) and check if you are still facing the same issue? Thanks!

[2020-12-08 09:21] mawaregetsuka commented on #45274
@BananaLoaf
Looks like you used the model.fit() twice in your example, then you save the log to a same file. In fact, nobody knows except yourself that the two training are continuous and consistent. Sometimes it is possible to train the same model in different directions after a checkpoint.
So in your case all you need is the initial_epoch parameter of the model.fit().
https://www.tensorflow.org/

[2020-12-08 09:28] Saduf2019 commented on #45441
@byronyi
is this still an issue.

[2020-12-08 09:33] RuralHunter commented on #34025
same here with tf 2.3.1 without GPU.

[2020-12-08 09:35] ravikyram commented on #45467
@shlomi-amitai

Please, share colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-12-08 09:38] TSE-jc commented on #45462
Issue closed. Was due to a windows file long path management not activated.

[2020-12-08 09:38] #45462 closed

[2020-12-08 09:50] ravikyram commented on #45458
@wanusic

In order to reproduce the issue reported here, could you please provide the complete code and the dataset you are using.

Also, please go through issue #24828 with a similar error and let us know if it helps. Thanks!

[2020-12-08 10:08] OfekShochat commented on #45454
I tried now using the tutorial here https://medium.com/@sebastingarcaacosta/how-to-export-a-tensorflow-2-x-keras-model-to-a-frozen-and-optimized-graph-39740846d9eb.
it does not say that its not a valid graph but it makes a problem. Exception thrown at 0x00007FFAF05B1F70 (tensorflow.dll) in a0xa.exe: 0xC0000005: Access violation reading location 0x0000000000000090. this is still in the properties o

[2020-12-08 10:12] ravikyram commented on #45411
@ashishsme14,
On running the code, I got the values as MSE: 512.102, RMSE: 22.630, MAE: 17.900. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/a0b0c21c4bde919d25bde8666aa97c69/45411.ipynb).

Could you please let us know the expected output / behavior. Thanks!

[2020-12-08 10:25] ashishsme14 commented on #45411
After running code then we execute

[code]

Here our output should be match but coming as unmatched.

[2020-12-08 10:28] ando0689 opened #45468 "Strange Out Of Memory error when trying example Colab"
When I try to run the [officially provided Colab ](https://www.tensorflow.org/lite/tutorials/model_maker_question_answer)
not changing any row, everything goes fine until the training `model = question_answer.create(train_data, model_spec=spec)`
As soon as training process started, after a while it begins to consume memory with big chunks (e.g. memory consumption increases by 2GB per 2-3 seconds)

[2020-12-08 10:29] ashishsme14 commented on #45411
with ur output also it is unmatched

[2020-12-08 10:34] ashishsme14 commented on #45411
we do not see any difference in ur code and our code still we are getting as -

MSE: 665.522, RMSE: 25.798, MAE: 17.127

[2020-12-08 10:38] ashishsme14 commented on #45411
import hashlib
from hashlib import md5
print(md5(str(512.102).encode()).hexdigest())

coming as 8651059a78bff56865b3e2f0322e1cc0  it should be 51ad543f7ac467cb8b518f1a04cc06af

[2020-12-08 10:41] amahendrakar commented on #45460
Was able to reproduce the issue with TF v2.3. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/10da08af79ac01ee6d8b37460212db9c/45460.ipynb#scrollTo=AS3Lu3vY6fgz).

However with TF v2.2 and TF-nightly, importing `tensorflow_text` throws an error stating
[code]
Thanks!

[2020-12-08 10:47] amahendrakar commented on #45465
@adityagupta679,
In order to reproduce the issue reported here, could you please provide the TensorFlow version, the complete code and the dataset you are using. Thanks!

[2020-12-08 10:48] amahendrakar commented on #45465
Also, try setting the log level before importing TensorFlow as shown below and check if it works.

[code]
Thanks!

[2020-12-08 10:49] gerbauz opened #45469 "Failed to build person_detection example test"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): All (presumably)
- TensorFlow installed from (source or binary): Source
- Tensorflow version (commit SHA if source): 4a11dfdd3bb
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): All (presumably), tested for ARC.

**Describe the problem**
As I can see, now there is no longer common p

[2020-12-08 10:54] Yosonix opened #45470 "Raspberry Pi 4 camera feed doesn't appear"
Hi everyone,

**System information**
- OS Platform and Distribution : Raspbian
- TensorFlow installed from : binary
- TensorFlow version : v2.3.0-0-gb36436b087 2.3.0
- Python version: Python 3.7.3
- Model : Raspberry Pi 4 4gb ram

**Describe the current behavior**
When I'm using [image_classification example](https://github.com/tensorflow/examples/tree/master/lite/examples/image_classification/ras

[2020-12-08 11:04] bhack commented on #45437
@eli-osherovich About the summary It Is ok to have this different behaviour. Input https://github.com/tensorflow/tensorflow/issues/35515#issuecomment-571266052

See also the difference between Input and InputLayer https://www.tensorflow.org/api_docs/python/tf/keras/layers/InputLayer

[2020-12-08 11:22] jaehochang92 commented on #45423
Thank you for the feedback. It is weird since `prepare_dataset` is working well in my machine... By the way, unexpectedly, I found a simple solution. All I needed to do was put the following code above `foo_volume` declaration:
[code]

[2020-12-08 11:27] #45101 closed

[2020-12-08 11:27] #45105 closed

[2020-12-08 11:27] #45141 closed

[2020-12-08 11:48] VladislavAD commented on #43629
Any possible ways to compile working libtensorflow.dll with it? I installed cuda 10.0 to system with 3070 and tensorflow.dll 1.15 that i'm currently using doesn't give me any errors, but initialization and inference are extremely slow.

[2020-12-08 11:51] shreeraj04 opened #45471 "Failed to load native tensorflow runtime"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution : Windows Server 2012 R2 Standard
- TensorFlow installed f

[2020-12-08 11:54] pnovapps commented on #45373
The problem is with Android Studio.

Copy pasting code from the examples given I can load and run the model even though Android Studio tells me it is an invalid model and refuses to import it. There is a ticket raised with  Android Studio.

[2020-12-08 12:03] abattery commented on #45460
@Ecclesiast

I tried to import the attached saved model through TensorFlow saved model loader.

tensorflow/python/training/py_checkpoint_reader.py, in get_tensor
    self, compat.as_bytes(tensor_str))
IndexError: Requested 411640 bytes but only read 0.

The attached saved model may be not loadable because the checkpoint path is hard-coded somewhere in the saved model.

[2020-12-08 12:06] #43565 closed

[2020-12-08 12:07] #45368 closed

[2020-12-08 12:09] alejandroaguileraalcalde-ing opened #45472 "No OpKernel was registered to support Op 'BroadcastTo' used by {{node gradients/Mean_grad/BroadcastTo}}with these attrs: [Tidx=DT_INT32, T=DT_FLOAT]"
I have created a simple linear regression model and got a graph.pb file so i can used it in my android studio app. When I call  sess.runner().addTarget("init").run(); I got this error: No OpKernel was registered to support Op 'BroadcastTo' used by {{node gradients/Mean_grad/BroadcastTo}}with these attrs: [Tidx=DT_INT32, T=DT_FLOAT]

Here is the python model code:

import tensorflow.compat.v1 as tf

[2020-12-08 12:11] mansnils opened #45473 "SSD Mobilenet v2 model fail in PPD op"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source): 0939f0b7a8aed30559b54ae0dd5b9e6b312de1c5
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):

**Describe the problem**
SSD Mobilenet v2 crash in detection postprocess operator because of a bug.

[2020-12-08 12:15] Ecclesiast commented on #45460
@amahendrakar tensorflow_text should be the same version as tf. Something with ABI, as I know. So if you are installing tf 2.2, then try install tensorflow_text==2.2.0.

[2020-12-08 12:16] Ecclesiast commented on #45460
@abattery I don't know actually what's the problem with this model, maybe something with compressing.
Please, go to attached collab notebook. Last cells contains trainer class and training code for one iteration.
You can execute them and save as a model.

[2020-12-08 12:49] emadboctorx commented on #39468
@mihaimaruseac I'm sorry for taking a long time to reply, I will try what you indicated as soon as I can and I will let you know if this solves the problem. I also have a question about [tensorflow_macos](https://github.com/apple/tensorflow_macos) is it something official or a third party? and if it is something official, does it serve the same result as building tf on my mbp I mean do I get more

[2020-12-08 13:10] gmt710 commented on #41926
Hello, I followed your steps to compile tensorflow2.3.0, but it got this error:
[code]

My enviroment:
[code]
It's so wired. I have no idea about how to correct this ?
would you mind giving me some suggestion ?
Thanks !

[2020-12-08 13:16] abattery commented on #45460
@Ecclesiast

I was able to convert the trainer in the colab notebook to TFLite converter without any errors.

[2020-12-08 13:24] AndreyPlotkinOr commented on #41926
@gmt710 I think your exception is not related to this issue.
Probably: https://github.com/tensorflow/tensorflow/issues/20764

[2020-12-08 13:26] gmt710 commented on #41926
Yes, but [#20764](https://github.com/tensorflow/tensorflow/issues/20764) is not solved.

[2020-12-08 13:36] abattery commented on #45460
@Ecclesiast

I  would recommend training your model with the recent version of TF and TF text library and then convert your model with the same TF and TF text runtime.

[2020-12-08 13:36] Abdul-Moeed commented on #45234
Yes, but I couldn't find a workaround for Hessian of a vector field in that thread. Instead, the following works for me:

[code]

[2020-12-08 14:02] zaccharieramzi opened #45476 "tf.nn larger support for RaggedTensor"
**System information**
- TensorFlow version (you are using): 2.3
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

I would like to be able to use `tf.nn`, and in turn `tf.keras.layers` such as `Conv2D` on `RaggedTensor`.

**Will this change the current api? How?**

I think it shouldn't in any way, just that keras layers and tf.nn operations

[2020-12-08 14:11] cement-head commented on #45463
Okay - this will take some time.

[2020-12-08 14:21] byronyi commented on #45441
I don't think so and this issue could be closed.

[2020-12-08 14:27] #44990 closed

[2020-12-08 14:27] EMichaelC commented on #8854
This method gets me the logs needed to visualise my graph in tensorboard, however i can't locate my output nodes.

Does anyone know how to find out the output node name from the graph that we have created?

[2020-12-08 14:32] Saduf2019 commented on #45441
Moving this to closed status with confirmation.

[2020-12-08 14:32] #45441 closed

[2020-12-08 14:38] Saduf2019 commented on #45471
@shreeraj04
Could you please refer to [this comment](https://github.com/tensorflow/tensorflow/issues/45435#issuecomment-739659395) and let us know if all the requirements are met as this is the common reason for the error.

[2020-12-08 14:40] VladislavAD opened #45477 "When pre-built libtensorflow C API will be updated to 2.4?"
I rely on pre-build C API libs that I download from https://www.tensorflow.org/install/lang_c, so I wonder when it is going to be updated with recent tensorflow 2.4 version with CUDA 11 support.

[2020-12-08 14:43] ValadeAurelien commented on #45279
Thanks a lot for your very detailed answer!

I am surprised that it is possible for the algorithm to draw a graph from a python function containing a `while` statement! Does it impact the performances? Is `tensorflow` going to be able to compute the gradient of that function ?

I am using the HMC method implemented in `tensorflow_probabilities` but in order to compute my likelihood, I need to perf

[2020-12-08 14:51] Saduf2019 commented on #45468
@ando0689
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

Van you share your colab gist where the error is present.

[2020-12-08 14:57] Saduf2019 commented on #45432
I am able to replicate the issue reported, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/7b0f4b070dd2eda6e0d68e9035e7b703/untitled478.ipynb)

[2020-12-08 14:57] cement-head commented on #45463
Okay - same error with CUDA 11.0 and TensorFlow 2.5 (pulled from GitHub):

Please specify the comma-separated list of base paths to look for CUDA libraries and headers. [Leave empty to use the default]: /usr/local/cuda-11.0/targets/x86_64-linux/lib,/usr/local/cuda-11.0/targets/x86_64-linux/include,/usr/lib/x86_64-linux-gnu,/usr/include,/usr/local/cuda-11.0/bin/,/usr/local/cuda-11.0/nvvm/libdevice/

[2020-12-08 14:59] Saduf2019 commented on #45422
@RD191295
i ran the code and face different error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/573e2f250ad7f52bd8b2b895a2fe6055/untitled479.ipynb), please use the attachment options to share all dependencies.

[2020-12-08 15:08] cement-head commented on #45463
BTW; Tensorflow is not finding the install CUDA, nor the cuDNN install automagically, which is in the path on this machine - all other CUDA functions are okay (on Ubuntu 18.04).

This does not appear to be a CUDA 11.0 vs 11.1 error/issue.

[2020-12-08 15:17] amahendrakar commented on #45472
@alejandroaguileraalcalde-ing,
I was able to run the code snippet on TF v2.3 without any issues, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/3ccf00f3a3fb30ffde6b2157c22c7427/45472.ipynb).

In order to expedite the trouble-shooting process, could you please provide the complete code along with the error log and also the TensorFlow version you are using. Tha

[2020-12-08 15:22] ArpithaFAU commented on #42053
Hello I am also having a similar issue. The validation loss is always 0 even though i use keras and not tf.keras. But i have values for validation accuracy.
I am using tf-version 2.1.0 and keras 2.3.1.
Can anyone help me with this?

[2020-12-08 15:23] jubjamie commented on #8854
It's been a while since I've dealt with this but I think it goes bottom to top so your outputs should be near the top, probably labelled as output, or whatever you've named them as. I would ask this on s/o or look at tb docs rather than here.

## New Readers/Visitors
Please note that my original solution was thrown together to temporarily answer the issue to help the user. I then PR'd a helper fun

[2020-12-08 15:31] Flamefire commented on #45045
Looks like this is caused by *not* using `--build_tests_only`, so I guess this is a non-issue as passing that flag solves it.

[2020-12-08 15:31] #45045 closed

[2020-12-08 15:33] shlomi-amitai opened #45478 "Fail to run tflite on DSP - BATCH_TO_SPACE_ND failed to prepare"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Android

- TensorFlow installed from (source or binary):
source (dde0fe783c8208358971979460611caca75dc363)

- Tensorflow version (commit SHA if source):
tf-nightly 2.4

- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):
dsp on mobile

**Describe the problem**
INFO: Created TensorFlow

[2020-12-08 15:37] ardila commented on #40166
+1 Isn't keras efficientnet one of the most commonly used models? Seems like a big hole in the SavedModel format

[2020-12-08 15:39] nlp4whp commented on #41909
what I got from cudnn is `cudnn64_8.dll` rather than `cudnn64_7.dll`

[2020-12-08 15:43] Flamefire commented on #44626
I tried that and found it doesn't work. Multiple tests (e.g. //tensorflow/core/kernels:eigen_spatial_convolutions_test)  will fail due to wrong results. Hence I don't have an easy way anymore to compile and use TF on POWER

[2020-12-08 16:02] ando0689 commented on #45468
Hi. I am sorry for that, but actually I don't know what to fill there.
I opened this issue under the "Other" tag, as I guess it's not relevant what OS I use etc, because I just run the [**Official Tensorflow Lite Model Maker example Colab** ](https://www.tensorflow.org/lite/tutorials/model_maker_question_answer) **without changing anything,** just running each cell one by one, and on the cell call

[2020-12-08 16:10] amahendrakar commented on #45302
@wwdok,
On running the code, I am facing an error stating `FileNotFoundError: [Errno 2] No such file or directory: 'D:\\MachineLearning\\DataSet\\iGuardDataset\\IMAGE\\Rider-384-484-images'`.

Could you please share all the files required to run the code, so that we can reproduce the issue on our end.

Also, please take a look at the [tf.compat.v1.lite.TFLiteConverter](https://www.tensorflow.org/a

[2020-12-08 16:10] soroosh-rzh commented on #45433
@bhack

I tried it, it works! Thanks for the suggestion. The loss is a little bit different from what is gained using numpy but I believe it should be Ok!
Do you have any idea how it might work without dictionary and using tuples as input/outputs? The real use case for me would be multiple inputs/outputs. I mean something close to what I have mentioned in experiment 2.
Thanks

[2020-12-08 16:11] alejouribesanchez commented on #40438
Thanks, @ebraraktas for your detailed response, I was able to run your example using C++ and flatbuffers 1.12.0 and it worked for me but it seems that the C support is still not working, I mean the C API code, try this main.cpp

#include <iostream>
#include "include/tensorflow/lite/c/c_api.h"

[code]

And then you will get my first issue reported

[code]
So let me know if you find a way to run the

[2020-12-08 16:13] bhack commented on #45433
We use our stack overflow space for this kind of support.
Please submit at https://stackoverflow.com/questions/tagged/tensorflow and close this.

[2020-12-08 16:13] Ecclesiast commented on #45460
@abattery thank you for your answer. Could you please specify which versions of these libraries I should use to convert models without errors?
Also is it a good solution to install tf-nightly side by side with tensorflow source build? As I remember, removing tf-nightly in future is a pain in the neck. And also tf-nightly as I understand is a developer builds of tf?
When can I count on unbuggy tf,

[2020-12-08 16:31] ebraraktas commented on #40438
@alejouribesanchez I have built your code with no issue. Are you sure you are linking it with the correct library, to use C API you should build with command below:

[code]
And link your target with `libtensorflowlite_c.dylib`, see lines below:
[code]

[2020-12-08 16:35] mihaimaruseac commented on #37390
Solved by #41733

[2020-12-08 16:35] #37390 closed

[2020-12-08 16:41] srjoglekar246 commented on #45467
@shlomi-amitai Can you share your inference code? The logs mention both NNAPI & GPU (TFLite usually works best with only one of the two delegates).
The "No shader implementation" log line is probably a bug. CC'ing @impjdi who might know more.

[2020-12-08 16:47] Saduf2019 commented on #45459
I am able to replicate the issue reported, please fin the [gist for nightly](https://colab.research.google.com/gist/Saduf2019/552f6674aa5f547a6f2898c1a4edf9c2/untitled.ipynb), [tf 2.3](https://colab.research.google.com/gist/Saduf2019/05229ccff799bcd67db6d4cc3cbb3014/untitled480.ipynb)

[2020-12-08 16:48] tfeher opened #45481 "TF-TRT Dynamic Shapes Feature Tracker"
### Introduction
The dynamic shape mode in TF-TRT utilizes TensorRT’s [dynamic shape feature](https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#work_dynamic_shapes) to improve the conversion rate of networks and handle networks with unknown input shapes efficiently. This issue tracks the ongoing development to enable TRT's dynamic shape mode trough TF-TRT.

**Who will benefi

[2020-12-08 16:50] ravikyram commented on #45453
@farotem

Can you please share colab link or complete code to trace memory  allocations. Thanks!

[2020-12-08 16:59] mehradans92 opened #45482 "Running a part of a calculation in double precision"
Is it possible to use float32 generally and for only  a part of the code use float64 and then switch back to float32?

[2020-12-08 17:01] mdanatg commented on #45279
The graph is drawn by autograph which uses source code transformation. Simply put, it turns the `while` statement into a `tf.while_loop` call; the transformation can be done mechanically. And the result is differentiable so gradients should work, too.

Performance-wise, it's identical to writing `tf.cond` and `tf.while_loop` by hand (but less annoying). A word of caution that `tf.cond` and `tf.whi

[2020-12-08 17:14] soroosh-rzh commented on #45433
Correct. Forgetting what would be my use case, I still think the endpoint pattern is not working without a dictionary as input so that may be a still a bug not a question! Thank you for your reply.

[2020-12-08 17:16] rthadur commented on #45347
@iglaweb Are you using [tensorflow/java](https://github.com/tensorflow/java/issues) here ? Can you please provide where exactly the documentation is missing ?

[2020-12-08 17:23] alejouribesanchez commented on #40438
@ebraraktas thank you so much!, I was using the previous `build -c opt --config=opt  //tensorflow/lite:tensorflowlite` so I was not linking the correct library this `bazel build -c opt --config=opt  //tensorflow/lite/c:tensorflowlite_c` worked with my C code

[2020-12-08 17:24] HoangTienDuc opened #45483 "Same code - difference result from PC and jetson nano"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device: Jetson nano
- TensorFlow version : 2.3.1+nv20.11
- Python version: 3.6
- tflite-runtime: 2.5.0

**Describe the current behavior**
 I run same code below. but difference result from my pc (ubuntu 18.04) a

[2020-12-08 17:35] ValadeAurelien commented on #45279
Thank you again for your answer.
Do you thus confirm there is no simpler work-around to get the gradient of the (inverse) Fourrier Transform in `tensorflow` ?
Should I then close the issue?

[2020-12-08 17:37] #45092 closed

[2020-12-08 17:37] bhack commented on #45433
Can you reformulate your code with your bug hypotesis?

[2020-12-08 17:37] amahendrakar commented on #45322
Was able to reproduce the issue with the latest [TF-nightly](https://colab.research.google.com/gist/amahendrakar/2e47c65e4cb30ab59a3fc83d3e288137/45322-tf-nightly.ipynb), i.e. v2.5.0-dev20201208.

However, I did not observe much increase in the memory usage with [TF v2.2](https://colab.research.google.com/gist/amahendrakar/03b1a1862050fc7013ad3e217f828d3a/45322-2-2.ipynb) and [TF v2.3](https://col

[2020-12-08 17:40] tgpsantos commented on #45376
Setting the input size fixed it. I tried it previously but some asset must have been mixed up during tests. This time I was more careful 👓  Thanks guys, problem solved.

[2020-12-08 17:40] #45376 closed

[2020-12-08 17:41] impjdi commented on #45467
I couldn't spy which op triggers reduce_sum.  Can you pinpoint?

[2020-12-08 17:46] mdanatg commented on #45279
Yes, I think the example I gave is about as simple as it can get, at the moment. We're considering supporting recursion in `tf.function`, but there are no concrete plans for it yet.
Technically one could also define a gradient kernel for `tf.signal.irfft3d`, but that is not trivial either and involves writing C++ code.
So I believe it's ok to close this issue, and I hope the alternate solution I g

[2020-12-08 17:49] iromani commented on #23949
I stumbled in a problem of time series forecast to which it would be good to have a custom loss function which depends on iterating over the series sequentially and using state-dependent logic to calculate an accumulation function. I couldn't find a way to do it with TensorFlow symbolic operations, thus my intended loss function is non-differentiable by TensorFlow and hence cannot be used.

[2020-12-08 17:50] Cy-r0 commented on #45213
Hello?

[2020-12-08 18:04] #45279 closed

[2020-12-08 18:19] impjdi commented on #45142
we identified and fixed the bug.  please sync past commit 8206491e82f6614fa2daa314e1ec8b8ca0ed946d

[2020-12-08 18:19] #45142 closed

[2020-12-08 18:25] mihaimaruseac commented on #45336
I don't think they are included in the pip package, by design.

[2020-12-08 18:47] mihaimaruseac commented on #39468
That one is an Apple fork. We release pips for TF on Apple but only on x86_64 whereas that one seems to be on the new ARM M1 chips?

[2020-12-08 18:48] eli-osherovich commented on #45437
@bhack
Why is it okay to have InputLayer in models created via functional API but not in models created with the Sequential API?
In case one wants to access, say, third layer in the network he/she will have to check whether it is sequential or functional?

[2020-12-08 18:50] mihaimaruseac commented on #45477
When TF 2.4 pip package is released, later this week or the next.

[2020-12-08 18:52] qlzh727 commented on #45243
Thanks for reporting the issue.

To give more context, the preprocess_input() was a standard method for all models to normalize the input data. However, it is quite common that user forget to call this method before they feed the data to model, which result into poor result. When we realized this problem, we move the preprocessing logic from this method to the model itself for some new models (lik

[2020-12-08 18:53] ewilderj commented on #45229
Resolved out-of-band in email.

[2020-12-08 18:53] #45229 closed

[2020-12-08 18:56] bhack commented on #45437
It is in the doc link:

When using InputLayer with Keras Sequential model, it can be skipped by moving the input_shape parameter to the first layer after the InputLayer.

You can still access to layer by name as in https://keras.io/getting_started/faq/#how-can-i-obtain-the-output-of-an-intermediate-layer-feature-extraction

[2020-12-08 19:18] duudat opened #45488 "Selective builds to reduce tensorflow-lite binary size missing needed java package org.tensorflow.lite"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
Try to build a custom .aar file from https://raw.githubusercontent.com/tensorflow/tensorf

[2020-12-08 19:22] hongjunChoi commented on #43362
@CalebEverett : Above error seems to be from user code.

Normally "UnavailableError: Socket closed" is an aftermath of an underlying error

` TypeError: tensordot() got an unexpected keyword argument 'dtype' `

Could you try updating `call` function to use correct semantics for tensordot()?

[2020-12-08 19:24] eli-osherovich commented on #45437
It might be that I do not understand something... `m1` and `m2` do use `keras.Input`, however their summary (and more important `.layers` property) do not have `InputLayer`.

[2020-12-08 19:25] iglaweb commented on #45347
@rthadur Yeah, I use tensorflow/java v.2.3.0 that was recently deprecated. I cannot figure out how to provide multiple inputs for the model.

[2020-12-08 19:26] brethvoice commented on #42053
Check your .compile() call and make sure you have a loss function specified there.

[2020-12-08 19:33] bhack commented on #45437
Yes but as you see `m1` and `m2` are sequential and you are using `Input` not `InputLayer`

test4 is implicit functional (see the autoname of the model `Model: "functional_19"`)

[2020-12-08 19:35] eli-osherovich commented on #45437
@bhack please see my updated response above yours.
Isn't it reasonable to expect identical models in these two cases?

[2020-12-08 19:43] bhack commented on #45437
Yes exactly, again:

And you first model in our last example `m1` is functional.

[2020-12-08 19:50] eli-osherovich commented on #45437
Sorry for being "dumb". My main point is not what documentation says, but how things behave (and whether people *expect* this behavior). I would expect (and probably more people) that these three models would be identical:

[code]

However, they are not
`m1` has *two* layers, whereas `m2` and `m3` both have only one layer.

P. S.
With that said, I do not see how the documentation part you cited ex

[2020-12-08 20:04] advaitjain opened #45492 "downloaded flatbuffers result in bazel build errors (when attempting to recursively build all the bazel targets)"
@tensorflow/micro

If we download flatbuffers via the TFLM makefile and then use the following command:
[code]

we get an error due to the BUILD files in tensorflow/lite/micro/downloads/flatbuffers.

These build files are not needed and can be deleted.

[2020-12-08 20:13] #45243 closed

[2020-12-08 20:24] nikitamaia commented on #44710
@bdch1234 have you seen the resources shared in the above post?

[2020-12-08 20:35] bdch1234 commented on #44710
@nikitamaia, I have but it still not addressing the question I had.

We have established that a concrete function can be saved manually if needed, but there is no functionality for automatic saving and loading of it (like numba's cache), hence my feature-request. Also, the second link is just a general high-level description of how tf.function works. The closest thing to being useful for this thre

[2020-12-08 20:35] bhack commented on #45437
The documentation source is https://www.tensorflow.org/api_docs/python/tf/keras/layers/InputLayer

If you want the historical motivation about Sequential summary see:
https://github.com/tensorflow/tensorflow/blob/42c2ae60913b517a5c345bf35185afe412f587ee/tensorflow/python/keras/engine/sequential.py#L148-L157

[2020-12-08 20:45] eli-osherovich commented on #45437
Thanks, @bhack!
So, there is difference between Sequential and Functional. Wouldn't it be correct to "fix" the way Sequential "hides" its input layer?

[2020-12-08 20:51] bhack commented on #45437
It was accepted in 2019 for `model_to_dot` with https://github.com/tensorflow/tensorflow/pull/24637
But rejected for `summary` with https://github.com/keras-team/keras/pull/12388#issuecomment-469348981

@Wiki-fan asked about inconsistency at https://github.com/keras-team/keras/pull/12388#issuecomment-469351075 but without any reply.

/cc @fchollet If he want to add something more, by an historical

[2020-12-08 20:59] joehoeller opened #45494 "TF2 GPUs on Kubernetes"
I made a helm chart for TF2 and it doesn't seem to be able to recognize the GPU, although cupy seems to work fine.
Is there any avail guidance on this or working helm chart example to inspect?

[2020-12-08 21:02] bhack commented on #44710
Yes this was just a little bit of support info if you want to try to prepare a PR.
@bdch1234 I don't know if you are interested but I think for something like this you need to prepare a design RFC PR at https://github.com/tensorflow/community/

[2020-12-08 21:09] nikitamaia commented on #44698
Hi @gitlabspy, there's a lot to unpack in this thread. Let's try and isolate the issue here. In the new example you have provided, are you seeing the leak on GPU only? Or also with CPU? Can you also test in nightly?
I was not able to repro the issue, as I ran into the error `AttributeError: module 'tensorflow_probability.python.bijectors' has no attribute 'Glow'`(I am also not very familiar with t

[2020-12-08 21:12] bdch1234 commented on #44710
Got it. Well then thanks for providing the additional info @bhack.

[2020-12-08 21:19] ezhulenev commented on #44626
Thats's strange, all these ugly specializations in `eigen_spatial_convolutions-inl.h` are supposed to be only for performance reasons, and not change how the data is packed.

[2020-12-08 21:45] rthadur commented on #45347
@iglaweb please post this issue on [tensorflow/java ](https://github.com/tensorflow/java/issues) where it would be relevant.

[2020-12-08 21:51] ArpithaFAU commented on #42053
I have a loss function specified but still i have the issue.

[2020-12-08 21:56] engrmz commented on #27680
Hi,

How could we reshuffle dataset in every epoch without using eager mode?
[code]

In my case, data remains in same sequence after every iteration. I need to reshuffle at position **#Reshuffle is required here** .

[code]
Thanks in advance.

[2020-12-08 22:07] aaudiber commented on #27680
@engrmz To get different orders you can use `data = data.repeat(num_epochs)`, to repeat the dataset `num_epochs` times, with each repetition doing a reshuffle.

[2020-12-08 22:27] abattery commented on #45460
@Ecclesiast I would say that there is a tf 2.4 released binaries. Could you use that version for your case?

[2020-12-08 22:27] #44072 closed

[2020-12-08 22:44] fmgs31 commented on #9330
The problem is still present.  It's a problem in tensorboard.
Tensorboard is caching the first tensor it gets. It's not updating when refreshing the page, even after deleting the whole log folder. The **workaround** is to close the tensorboard server and run it again.

[2020-12-08 23:00] #45213 closed

[2020-12-08 23:15] feranick commented on #45463
I cannot reproduce this issue. Running Ubuntu 18.04 with CUDA 11.0 or 11.1, and they are detected just fine during `.configure`. It seems there is an issue with the submitter setup of CUDA.

Is CUDA recognized using TF 2.4?

[2020-12-08 23:24] fmgs31 commented on #9330
I created an issue [here](https://github.com/tensorflow/tensorboard/issues/4439)

[2020-12-08 23:49] dfvr1994 commented on #42425
Hi, any update on this?

[2020-12-08 23:49] engrmz commented on #27680
Hi @aaudiber,
Thanks for your prompt response.
**Point 1:** When I use repeat(5), it repeats the dataset 5 time and shuffles it too. Doing this, I can get shuffled data in every batch. My code (as given above) considers this step as epoch 1 (as I am trying to repeat dataset using epoch loop).

**Point 2:** However, after 5 repetitions of whole dataset, in epoch 2, I still get the same sequence (5

[2020-12-09 00:02] aaudiber commented on #27680
The TF1 way of doing things is to handle multiple iterations of the dataset by using `repeat()`. Creating a new iterator in each epoch loop is the TF2 way. If you'd like to discuss further please open a separate issue so we can avoid hijacking this one.

[2020-12-09 00:56] karimnosseir commented on #45014
@ibrahimgharyali Please reply to https://github.com/tensorflow/tensorflow/issues/45014#issuecomment-731474874

Thanks

[2020-12-09 01:07] HoangTienDuc commented on #45483
my code can be rewrite as below
[code]

env:
[code]

[2020-12-09 01:10] CodePythonFollow opened #45497 "> It work for me.Thank you"
try
`conda update wrapt`

_Originally posted by @congee524 in https://github.com/tensorflow/tensorflow/issues/30191#issuecomment-514249543_

[2020-12-09 01:54] SelvaMuruganChithiraipandi opened #45504 "Bus error when load the tflite model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): N/A
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux 4.14.119
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Installed tflite runtime from source code.
- TensorFl

[2020-12-09 01:59] zhidk commented on #45024
yes.thankyou.

[2020-12-09 02:01] #45492 closed

[2020-12-09 02:10] luciencho opened #45510 "When installed by pip, dependencies' versions are not fixed."
**System information**
- OS Platform and Distribution: window & linux
- TensorFlow installed from: binary
- TensorFlow version: 1.13, 1.14
- Python version: 3.6.8
- Installed using virtualenv? pip? conda?: pip

**Describe the problem**
grpcio>=1.8.6 has been installed, which is always the newest one: eg. 1.34.0; however grpcio~=1.32.0 is expected

**Provide the exact sequence of commands / steps t

[2020-12-09 02:26] jvishnuvardhan commented on #45396
@kamathhrishi Looks like this is not an issue of Tensorflow as @ravikyram was able to run (but not using Graphene-SGX).
Can you please post the issue in Graphene-SGX repo?

If you think the error is related to Tensorflow, Can you please share error log? In the above posts, Assertion error was not shown (hope i didn't miss). Thanks!

[2020-12-09 02:27] wwdok commented on #45302
Hi, @amahendrakar ,the Rider-384-484-images download link is [here](url). I try on another computer whose TF version is 2.3.0rc0, it seems produce differennt log from TF1.15, but still can not generate tflite file.
![image](https://user-images.githubusercontent.com/43233772/101565691-89253b00-3a08-11eb-976d-157144fbaac0.png)

[2020-12-09 02:27] terryheo commented on #45483
Could you elaborate? There could be a small difference expected in output by some reasons. (such as execution order difference in kernels)

If there is significant difference, you'd better compare the result with your original graph in TF model to show which one has the wrong numbers.

[2020-12-09 02:33] bhack commented on #45326
Check the input at:

https://github.com/keras-team/keras-preprocessing/blob/58df11e1145b2088092252c4dba02168c6da2b13/keras_preprocessing/image/affine_transformations.py#L281

[2020-12-09 02:35] terryheo commented on #45504
What's the target OS? Is it Raspberry Pi OS?
If it's your custom HW, I think there is an ABI compatibility issue. You can check flags of /proc/cpuinfo.
FYI, we only have tested ARM with Raspberry Pi OS, Ubuntu Server for ARM, Coral.

[2020-12-09 02:38] gebob19 commented on #4467
I was having the same problem writing a large dataset -- the writing speed would get slower the longer the process ran (starting at 1iteration/sec and going up to 11sec/iteration).

The way I solved it was to spin up sub-processes in a loop to write smaller blocks of the data. Ideally the blocks would be small enough so that the writing would remain at 1iteration/second.

For example my slow code

[2020-12-09 02:44] SelvaMuruganChithiraipandi commented on #45504
Target OS: Linux 4.14.119

root@as371:~$cat /proc/cpuinfo
processor	: 0
BogoMIPS	: 50.00
Features	: fp asimd aes pmull sha1 sha2 crc32 cpuid
CPU implementer	: 0x41
CPU architecture: 8
CPU variant	: 0x0
CPU part	: 0xd03
CPU revision	: 4

processor	: 1
BogoMIPS	: 50.00
Features	: fp asimd aes pmull sha1 sha2 crc32 cpuid
CPU implementer	: 0x41
CPU architecture: 8
CPU variant	: 0x0
CPU part	: 0xd03
CP

[2020-12-09 02:56] SelvaMuruganChithiraipandi commented on #45504
Hi, how to check the flags of /proc/cpuinfo to find is it really ABI compatibility issue or not? If it is an ABI compatibility issue, how to fix this ?

[2020-12-09 02:58] jvishnuvardhan commented on #45263
@SchrodingerZhu Can you please try to uninstall, restart the system, reinstall and check whether the issue was resolved or not. thanks!

[2020-12-09 03:03] dingjiaweiww opened #45532 "report error "tensorflow.python.framework.errors_impl.InvalidArgumentError "when visit dataset"
version: 2.3.0
OS：mac
### report error "tensorflow.python.framework.errors_impl.InvalidArgumentError "when visit dataset
### script：
from __future__ import absolute_import, division, print_function, unicode_literals
import tensorflow as tf

import IPython.display as display
from PIL import Image
import numpy as np
import matplotlib.pyplot as plt
import pathlib

AUTOTUNE = tf.data.experimental.AUTO

[2020-12-09 03:11] zhangqiang-hf commented on #45289
Yes，  My target is to get the best performance on my CPU platform(mips64 cpu) by TF-2.4.0 with oneDNN
I do the same test on X86 intel cpu. the result is above that I said.

[2020-12-09 03:12] zhangqiang-hf commented on #45289
Dear sir, you are chinese? Do you have weixin? share we make a friend? can I add your weixin?

[2020-12-09 03:16] HoangTienDuc commented on #45483
hello @terryheo
i am sure that aligned_norm is the same value between my pc and my jetson nano. my input, output have the same value also
only tensorflow lib version has a little bit different
[code]
Result from my pc:
[code]

result from my jetson nano
[code]

My model and input image are in this [folder](https://drive.google.com/drive/u/2/folders/1DPTgMzSmJNJcidFxjVD_PRacj1QdfhxC)

[2020-12-09 03:22] DachuanZhao commented on #45441
Why not ???
You say : "I am surprised it actually runs btw." , but you don't think it's a bug ???

[2020-12-09 03:25] DachuanZhao commented on #45441
I suggest you run the code in my colab and you decide whether it's a bug or not by yourself ......

[2020-12-09 03:27] #41304 closed

[2020-12-09 03:31] DachuanZhao commented on #45441
So the conclusion is that "It's acceptable that training or predicting a model with mixed_precision on cpu is slower than without mixed_precision" ?

[2020-12-09 03:36] byronyi commented on #45441
You should really consult your CPU vendor. There is nothing TF can fix this for you except for disabling mixed precision on unsupported hardware all together.

[2020-12-09 03:36] byronyi commented on #45441
cc @reedwm

[2020-12-09 03:46] DachuanZhao commented on #45441
This problem can reproduce at google colab . You think it may be a common problem on different types of CPUs ? So TF can't fix it ?

[2020-12-09 04:06] gitlabspy commented on #44698
@nikitamaia Hi, my issue does not leak on GPU, it leak on physical memory. And the above tfp code I provided is kinda different from this case but they lead to kinda same behaviour which is memory leak and also same speed...

 I shouldn't have confused you with these tfp codes but I observed they both have to take a bit time ( 5min or more depends on how big the model is) to compile the autograph.

[2020-12-09 04:07] NeoZhangJianyu commented on #45289
@zhangqiang-hf Yes, could you send me an email, instead of comment here.

[2020-12-09 04:15] Crispy13 opened #45533 "TypeError: 'NoneType' object is not subscriptable when training with tf.dataset"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-12-09 04:21] terryheo commented on #45504
TF's armhf toolchain compiles ARMv7 binary with NEON and VFP supports which are missing from yours.

FYI, this is RPI3's.
[code]

Also you can check ABI of binary with readelf.
[code]
You can compare it with yours.

You might want to add some GCC options to CUSTOM_BAZEL_FLAGS to make it compatible with your target hw.
https://gcc.gnu.org/onlinedocs/gcc/ARM-Options.html

[2020-12-09 04:34] terryheo commented on #45483
It seems that you're using quantized TFLite model. I have some questions.

1. Did you test float32 model?
2. Did you test the quantized model without using EdgeTPU?
3. Could you share the conversion command you used? I wanted to know which quantization you applied.

FYI, quantization is a technique to get the performance improvement with some loss on accuracy. So accuracy discrepancy could be expe

[2020-12-09 04:42] feranick commented on #35917
This is no longer an issue, so it should be closed.

[2020-12-09 04:42] #35917 closed

[2020-12-09 04:48] Saduf2019 commented on #45510
@luciencho
Please verify your pip version if it is the latest.
There is no support for 1.x, please upgrade to 2.x and share the complete error log in case you face issues with 2.x.
you may refer to [pip install tensorflow gpu](https://github.com/tensorflow/tensorflow/issues/42367) similar issue.

[2020-12-09 04:51] ravikyram commented on #45533
@Crispy13

Can you please share the supporting file to reproduce the issue in our environment. I am seeing the error message `NameError: name 'train_tiles' is not defined`.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/26cffc6155b86ee20f1ed7f42aed63c5/untitled570.ipynb).Thanks!

[2020-12-09 04:54] ramanps05 commented on #44606
Thanks @srjoglekar246 ,

[2020-12-09 05:30] RD191295 commented on #45422
PLEASE find gist here. i uploaded all dependencies required to run code.[https://colab.research.google.com/gist/RD191295/8410cd53e88b0a7dbf69297da02fece3/untitled479.ipynb](url)

[2020-12-09 05:48] WindQAQ opened #45536 "RMSprop fails if using mixed precision training and eager functions"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.0rc4
- Python ver

[2020-12-09 06:02] eli-osherovich commented on #45437
Please note, that printing or drawing is not the biggest problem. Accessing layers' outputs may be problematic since the number of layers is different.

Which brings me back to the original topic of this question: how one can access (the output of) an "internal" layers (from a nested model)?

[2020-12-09 06:05] luciencho commented on #45510
It is a tf 1.x problem.
After updating pip, the problem remains unsolved. I was just wondering why grpcio>=1.8.6 has been installed. [code](https://github.com/tensorflow/tensorflow/blob/r1.14/tensorflow/tools/ci_build/install/install_python3.6_pip_packages.sh) does not make sense to me.

[2020-12-09 06:12] zhangqiang-hf commented on #45289
I have sent a email to you, please check it, thank you!

[2020-12-09 06:41] Ahsankiani8 commented on #39442
how we give this line 184.mb for any array with shape of (899,19999)

[2020-12-09 06:50] thaink commented on #45488
Hi @duudat What it means by "in order for it to run locally: org.tensorflow.lite.Interpreter, etc."?
Are you using it in an Android project?

[2020-12-09 06:52] Malithi-gif commented on #26600
Registered devices: [CPU]
Registered kernels:
  <no registered kernels>

         [[cu_dnnlstm_1/CudnnRNN]]

Errors may have originated from an input operation.
Input Source operations connected to node cu_dnnlstm_1/CudnnRNN:
 cu_dnnlstm_1/transpose (defined at C:\Users\User\AppData\Local\Programs\Python\Python37\lib\site-packages\keras\layers\cudnn_recurrent.py:484)
 cu_dnnlstm_1/ExpandDims_2 (de

[2020-12-09 07:05] eli-osherovich opened #45537 "save/load pair do not preserve `trainable` attribute"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2020-12-09 07:50] thaink commented on #45488
@wangtz I found it has been this way since day 1 of this feature.
However, It seems to work fine with Android since then.
Do you have any insights on this?

[2020-12-09 08:06] stefan-falk commented on #33721
I ran into this problem again ([see my stackoverflow question](https://stackoverflow.com/questions/65160085/getting-cancellederror-derived-recvasync-is-cancelled-after-hours-of-train)).

My training runs for multiple hours until at some point I am getting this error:

[code]

[2020-12-09 08:08] duudat commented on #45488
@thaink Yes, you are correct, I use the generated aar file in my Android project to cutting the size of 'org.tensorflow:tensorflow-lite:x.x.x'.
Specifically, my assumption by follow the instructions: https://www.tensorflow.org/lite/guide/reduce_binary_size#selectively_build_tensorflow_lite_with_docker is that:
The resulted `tensorflow-lite.aar` will replace 'org.tensorflow:tensorflow-lite:x.x.x' d

[2020-12-09 08:10] ashishsme14 commented on #45411
plz help us

[2020-12-09 08:18] duudat commented on #45488
Minor thing I notices is that: the generated aar file seems to also exclude other files inside normal 'org.tensorflow:tensorflow-lite:x.x.x' aar file from Center: proguard.txt, headers.

<img width="799" alt="Screen Shot 2020-12-09 at 12 13 59 AM" src="https://user-images.githubusercontent.com/65645909/101602842-8f3cfc80-39b3-11eb-8b31-5c10d0287c06.png">

At least proguard.txt is, for sure, needed

[2020-12-09 08:22] duudat commented on #45488
@thaink you have suggestion to get around with the errors: `cannot find symbol class Interpreter.` without adding 'org.tensorflow:tensorflow-lite:x.x.x'  dependency to my build.gradle file.

[2020-12-09 08:29] Githubpython96 commented on #32678
I have solved this problem by using anaconda.Use "conda install -c conda-forge tensorflow" in cmd on Windows.I have used pip and pycharm tools but failed.I uninstalled it and run "conda install -c conda-forge tensorflow".This works.

[2020-12-09 08:30] thaink commented on #45488
@duudat Your use is right. Let me check the cause of this.

[2020-12-09 08:33] Steph71 commented on #45336
@mihaimaruseac

The  [wheel](https://files.pythonhosted.org/packages/5d/6a/9669836f813b73fe5abf5e9f118ccc9b7fb060f02789d385825b0943f9c8/tensorflow-2.3.1-cp37-cp37m-win_amd64.whl) distributed through pypi has these files ...

![grafik](https://user-images.githubusercontent.com/8713992/101604609-71968400-3a01-11eb-9954-7e7a32fc77f0.png)

[2020-12-09 08:38] terryheo commented on #45290
It works well for me with r2.4 branch.
Could you check if you're using up-to-date r2.4 branch?

BTW, here is the official guide on CMake build
https://www.tensorflow.org/lite/guide/build_cmake

[2020-12-09 08:48] terryheo commented on #45210
It's tricky to fix it here since I can't find Big Endian machines.
Please feel free to send a PR. I can review it.

[2020-12-09 08:54] Flamefire commented on #44626
What I did was to remove the gemm_pack_rhs class specializations from `Eigen/src/Core/arch/AltiVec/MatrixProduct.h` and tests failed. However when I removed the whole header (there is a conditional include in `Core` which I commented) it worked, so I guess there is some dependency on the stuff TF introduces and some other things from the MatrixProduct.h which fail to meet implicit assumptions in t

[2020-12-09 09:07] rmothukuru commented on #45279
@ValadeAurelien,
Can you please confirm if your issue has been resolved so that we can close it. Thanks!

[2020-12-09 09:21] aquahika commented on #43174
Same here!
My environment is RTX1660 Super and running on docker with `tensorflow/tensorflow:2.4.0rc3-gpu-jupyter` image.
It perfectly works with this few lines.

[2020-12-09 09:24] eli-osherovich commented on #45537
tf-nightly behaves in the same way

[2020-12-09 10:15] vasilevskykv commented on #45337
I tried everything with tf.while_loop. I asked on StackOverflow but I got no answers. I think the problem is with **shape_invariants**.
In my opinion, **it's a bad feature that a developer should think about the initial shape of the loop variable**.  I think that **to allow the shape to vary across iterations must be by deafult**. So one more parameter should be. For exmaple, **shape_variation**,

[2020-12-09 10:26] adityagupta679 commented on #45465
Hey , This code can regenerate the issue. GPU environment is required for the messages to be shown at all. I ran on Google colab using Tensorflow version 2.3.0 . Notice that in the second run of the matmul operation, the messages should not be displayed but are still displayed.
Trying the workaround you suggest also does not work.  Additionally, the issue is that I wish to be able to turn the mess

[2020-12-09 10:34] ezhulenev commented on #44626
[code]

Yes, and we had our fair share of ODRs from that :) But it brings very large improvement in practice, and too TF specific to be moved upstream. I remember it was brought up in some discussion with Eigen maintainers, and there is a desire to clean that up, so it could be upstreamed, but as far as I know, no one is working on it right now.

[2020-12-09 10:48] Flamefire commented on #44626
I see. Do you recall where that was discussed?
Maybe the Eigen maintainers and especially the authors of that AltiVec code could at least make something which is compatible with TF.
And maybe someone familiar with that code could judge, which implementation is better on POWER. I'd naively expect the Eigen code is faster, as it uses vector intrinsics while (IIUC) the TF code relies on auto-vectoriz

[2020-12-09 10:55] ezhulenev commented on #44626
Eigen template specialization in TF allows to bypass all DataMappers and read data directly from the underlying tensors. Reading data through data mappers incurs HUGE overheads in stride computations for TensorImagePatch operation.

However it all worked with an assumption that packed block format is the same for all architectures. With AltiVec, TF packing specialization will produce data in forma

[2020-12-09 10:57] farotem commented on #45453
https://colab.research.google.com/drive/1Vlc00zyfMEZ_8vXPN9v2_dp6eZ3K3NDz?usp=sharing

[2020-12-09 10:57] vasilevskykv opened #45538 "tf.while_loop allow to vary shapes by default"
I tried everything with tf.while_loop. In nested loops I always get ValueError due to the shape.
I think the problem is with **shape_invariants**.
In my opinion, it's a **bad feature that a developer should think about the initial shape of the loop variable**. I think that **to allow the shape to vary across iterations must be by deafult**.
So one more parameter should be, for exmaple, **shape_var

[2020-12-09 10:57] KarthikDutt commented on #44975
@karimnosseir @jvishnuvardhan Will this be part of 2.4?

[2020-12-09 11:01] nixmeer commented on #45185
Hello,

so first I tried to somehow get the files included by somehow creating a `CMakeLists.txt` in the va-sdk but could get this to work. I do not understand why espressos uses different build systems themselves.

Then I tried copying the files as @vikramdattu suggested and added them to the esp directory and added them to the `CMakeLists.txt` there. After adding some files that where not mentio

[2020-12-09 11:04] Svan70 commented on #38891
Had the same issue. The reason is quite tricky !
It is related to the way lambda handles variables defined in outer scope. It is explained here :

https://docs.python.org/3/faq/programming.html#why-do-lambdas-defined-in-a-loop-with-different-values-all-return-the-same-result

So if we do that :
`model.add_loss(lambda x=layer: l2_regularizer(x.kernel))`
instead of
` model.add_loss(lambda: l2_regula

[2020-12-09 11:18] Saduf2019 commented on #45412
@khany27
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

[2020-12-09 11:23] anirudhakulkarni commented on #45258
Thanks for resolving the issue. It worked with CUDA 11.0.

[2020-12-09 11:23] #45258 closed

[2020-12-09 11:26] Saduf2019 commented on #45510
@luciencho
There is no support for 1.x, please upgrade to 2.x and share the complete error log in case you face issues with 2.x.

[2020-12-09 11:48] ravikyram commented on #45538
@vasilevskykv

Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature.Thanks!

[2020-12-09 11:48] amahendrakar commented on #45482
@mehradans92,
Could you please explain the use case you are trying to implement and also provide the TensorFlow version and a minimal code snippet, so that we can look into this. Thanks!

[2020-12-09 11:53] ravikyram commented on #45453
@farotem

Please, grant me the access for the colab link. Thanks!

[2020-12-09 11:56] amahendrakar commented on #45497
@CodePythonFollow,
Could you please describe in detail the issue you are facing and provide the following details

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed using virtualenv? pip? conda?:

[2020-12-09 11:59] farotem commented on #45453
please try again

[2020-12-09 12:02] ravikyram commented on #45337
@vasilevskykv

Please, share colab link or standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster.Thanks!

[2020-12-09 12:26] Llamrei commented on #38518
Just wanted to drop a line to say I faced the same issue today - trying to run the https://www.tensorflow.org/tutorials/text/text_classification_rnn tutorial.

OS: Windows 10 Pro x64
GPU: GeForce 940M
Drivers:
- CUDA 10.1
- cudNN 7
- Nvidia 457.30

Would crash if `tensorflow==2.3`

Downgrading to `tensorflow==2.2` 'fixed' the issue but causes other bugs within above tutorial (such as inability to

[2020-12-09 12:29] vasilevskykv commented on #45538
The case of every loop. The developer doesn't need to be concerned about the shape. It is impossible to make a correct nested loop because of the **shape_invariant**. Because the ValueError will be always:
`ValueError: Input tensor 'while/while/Const:0' enters the loop with shape (), but has shape (3,) after one iteration. To allow the shape to vary across iterations, use the `shape_invariants` ar

[2020-12-09 12:42] ravikyram commented on #45538
@vasilevskykv

Looks like duplicate of #45337. Can we close the issue here and track in #45337. Thanks!

[2020-12-09 12:47] amahendrakar commented on #45532
@dingjiaweiww,
On changing the line `parts = tf.strings.split(file_path, '\\')` to `parts = tf.strings.split(file_path,sep="/")` in the `get_label` method, I was able to run the code without any issues.

Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/11f168001c0a9eb45175b2cba92e4cc7/45532-v2.ipynb). Thanks!

[2020-12-09 12:52] bryanseah234 commented on #9680
o m g u saved me an hour of googling! thankyouu

[2020-12-09 12:54] vasilevskykv commented on #45538
The problem in 45337 didn't solve

[2020-12-09 13:05] ravikyram commented on #45453
@farotem

I tried in colab with TF 2.4, nightly version (`2.5.0-dev20201209`).Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/99ba4449987b586936b065b278d063ce/untitled572.ipynb).You are also seeing the same behavior?

Thanks!

[2020-12-09 13:10] farotem commented on #45453
yes thank you, as you can see you started at 380.1 MiB
finished at 388.3 MiB
after 1024 iterations.

[2020-12-09 13:11] stengoes opened #45539 "Bug in tensorflow.python.ops.parallel_for.gradients.batch_jacobian()"
There is a bug on `line 113` of the `batch_jacobian` function:
https://github.com/tensorflow/tensorflow/blob/5681c179eff80bce00e526303950b67b23cad14c/tensorflow/python/ops/parallel_for/gradients.py#L83-L113

## Explaining the bug
On `line 113` the `output_shape[0]` is not an instance of the class `tf.TensorShape()`.
It is either an `integer` or `None` and therefore has no `is_compatible_with()` me

[2020-12-09 13:12] mynameisteodora opened #45540 "TFLite java.lang.IllegalArgumentException: Internal error: Failed to run on the given Interpreter on Android SDK 29"
Hello. I have a simple Android app connected to an accelerometer. I have a few tflite models in the app, one of which is throwing  a "Failed to run on the given Interpreter" error without any additional information. The code works fine on SDK 25.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Android SDK 29
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy

[2020-12-09 13:17] Crispy13 commented on #45533
Solved it through inserting `model.build(batch_input_shape)` in the code.

[2020-12-09 13:17] #45533 closed

[2020-12-09 13:20] vikramdattu commented on #45185
@nixmeer the build system are different because of the fact that Espressif now supports CMake build system which previous IDF releases didn't have.

The project I referred you is based on older IDF version and hence the confusion!

[2020-12-09 13:23] amahendrakar commented on #45537
@eli-osherovich,
Please take a look at [this comment](https://github.com/tensorflow/tensorflow/issues/37531#issuecomment-600439680) from similar issue #37531 and let us know if it helps. Thanks!

[2020-12-09 13:32] brethvoice commented on #42053
@ArpithaFAU another thing I would check is that your validation data are being presented in a tuple (x, y).  If they are not then the validation calculation will not be possible.

[2020-12-09 13:35] abattery commented on #45540
The TFLite runtime version should be the same version with or higher version than the TFLite converter Python version.

For example, if you convert the model with TF 1.15, you need to use TFLite runtime version 1.15 at least.

Could you make sure that your TFLite runtime version is aligned with the TFLite converter Python version, which is used for the TFLite model generation, especially regarding

[2020-12-09 13:48] tgpsantos commented on #35632
Hi guys, I'm getting the same error in a new model that I'm testing in [Huawei P10 Lite LX1A](https://www.gsmarena.com/huawei_p10_lite-8598.php). In Samsung S9 it worked fine.

The P10 Lite has a **Mali-T830** GPU, like @OleksandrGrument mentioned above. I'm also running with `Tensorflow 2.3.0`

[2020-12-09 13:52] bhack commented on #45437
If you don't like layers names you can still access with `index` when you create the functional mode (your Model() calls examples):

`keras.Model(m2.get_layer(index=0).input, m2.get_layer(index=0).output)`

[2020-12-09 14:07] Sidong-Wei commented on #44852
Close the issue as PR has been merged.

[2020-12-09 14:07] #44852 closed

[2020-12-09 14:07] Sidong-Wei commented on #44982
Closed the issue as the PR has been merged.

[2020-12-09 14:07] #44982 closed

[2020-12-09 14:12] ando0689 opened #45541 "Official Example For TensorFlow Lite Model Maker keeps crashing"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
 **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
**Mac Book Pro 2017(2.3 GHz Dual-Core Intel Core i5, 8 GB 2133 MHz LPDDR3), MacOS Big Sur 11.0.1,
Browser: Version 87.0.4280.88 (Official Build) (x86_64),
but I guess the above info does not matter as I run the e

[2020-12-09 14:18] #45468 closed

[2020-12-09 14:19] ando0689 commented on #45468
I didn't provide enough information in this issue, so I close this and provided the full information here: https://github.com/tensorflow/tensorflow/issues/45541

[2020-12-09 14:20] ArpithaFAU commented on #42053
@brethvoice i have done that as well but i still have the same issue. If you are aware of any other solution pls let me know.

[2020-12-09 14:20] goncinious commented on #32454
I'm also seeing the same problem when using a `tf_py_function` wrapped in a `map()` during multi-GPU training. @qqfish any progress on this?

[2020-12-09 14:33] mynameisteodora commented on #45540
I do not have access to the original model unfortunately, but I tried importing the model as per the instructions here: https://www.tensorflow.org/lite/guide/android and this way it works. So it must be the way I was doing it before might be deprecated?

[2020-12-09 14:52] nikitamaia commented on #44710
Different end use case, but #43800 seems like it would result in a similar feature. Specifically [this comment.](https://github.com/tensorflow/tensorflow/issues/43800#issuecomment-704411480)

[2020-12-09 15:04] amahendrakar commented on #45410
@joehoeller,

The guide you have linked is for installing TensorFlow pip packages.

If you're using Docker containers, please follow the instructions as per [this guide](https://www.tensorflow.org/install/docker). Thanks!

[2020-12-09 15:21] amahendrakar commented on #45449
@moaradwan @mihaimaruseac,
I was able to reproduce the issue with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/0ee0ef20c66aac2055b91a1924e77dcf/45449.ipynb#scrollTo=UWeRKkyRC2p9).

However, the issue seems to be fixed with the latest [TF-nightly](https://colab.research.google.com/gist/amahendrakar/1d88cbe6ececd4b5ee31b54d47a3374e/45449-tf-nightly.ipynb). Please check the linked gi

[2020-12-09 15:28] joehoeller commented on #45410
Does TF2 work with CUDA 11?

On Wed, Dec 9, 2020 at 9:04 AM Abhilash Mahendrakar <
notifications@github.com> wrote:

[2020-12-09 16:00] CathyCan0329 opened #45543 "Windows Tensorflow load large than 4GB file will meet outOfRange error."
**System information**
-OS Platform and Distribution: Windows
-TensorFlow installed from: binary
-TensorFlow version: 1.0.1, 1.15
-Python version: 3.6

**Describe the current behavior**
Tensorflow load large than 4GB file on Windows will meet **outOfRange** error.

**Other info / logs**
Tensorflow Windows version's file stat function by default use **_wstat** which represents the file size as 32-b

[2020-12-09 16:06] Aditya-11 commented on #23262
@yuhc  , @danegraphics Are there any native libraries in c/c++ to program the google cloud tpus ?

[2020-12-09 16:07] amahendrakar commented on #45354
@ruhollah2,
Could you please try running the code in a new virtual environment and check if you are facing the same issue?

Also, try changing the `AUTOGRAPH_VERBOSITY` level and check if it helps. Thanks!

[2020-12-09 16:17] Sidong-Wei commented on #45210
Thanks for the reply, I will test it using the approach I mentioned and send a PR shortly.

[2020-12-09 16:28] ruhollah2 commented on #45354
Not sure what you mean by "virtual environment". Do you mean a new conda environment? (ie, should I create a new conda env with all required packages and then re-run this code in the new env?)

[2020-12-09 16:51] eli-osherovich commented on #45437
@bhack
I love layers names. I want the following code to work as expected:

[code]

[2020-12-09 17:13] amahendrakar commented on #45354
@ruhollah2,
Yes please, create a new conda environment as per [this guide](https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#creating-an-environment-with-commands) and run the code in it.

[2020-12-09 17:15] eli-osherovich commented on #45537
Thanks @amahendrakar, It seems that the ticket is indeed related to this problem, however, I do not see how that particular comment is relevant. If I understand correctly the comment, It suggests to compile the model after setting `trainable=False`. This is probably necessary to use the model properly. However, it has nothing to do with the fact that reloaded model has all its parameters set to tr

[2020-12-09 17:19] eli-osherovich commented on #45537
@amahendrakar , I have to correct myself, the issue you reference above (#37531) is completely unrelated to this bug. That thread is about the need to compile models after one changes `trainable` flag.

[2020-12-09 17:23] amahendrakar commented on #33613
@Vooblin,
Is this still an issue? Could you please update TensorFlow to v2.3 and check if you are facing the same issue. Thanks!

[2020-12-09 17:27] #45167 closed

[2020-12-09 17:29] mihaimaruseac commented on #45336
That's the macos wheel, the bug is about a windows wheel.

Windows wheels are smaller because of maximum size limits under windows (we cannot create a zip file larger than 2GB at one point during the build).

[2020-12-09 17:33] mihaimaruseac commented on #45543
Does this manifest on master?

[2020-12-09 17:40] amahendrakar commented on #35096
@BerndHuber,
Is this still an issue? I was able to build the binaries as per the [guide](https://www.tensorflow.org/lite/microcontrollers/library#build_binaries). Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/d2a598608ca2dfd9206403095ebed6eb/35096.ipynb). Thanks!

[2020-12-09 17:42] evonbevern commented on #44590
I am able to reproduce the issue but am having trouble pinpointing it. I am having trouble deciding whether the bug is caused in model.losses or model.add_loss(). If you attempt to print model.losses in the for loop before line 10, as seen below, in the buggy test case the program throws an attribute error:

`import tensorflow as tf

tf.random.set_seed(0)
model = tf.keras.Sequential()
inputs = tf.

[2020-12-09 17:42] #45320 closed

[2020-12-09 17:42] mihaimaruseac commented on #45320
Closing as not a relevant issue

[2020-12-09 17:43] mihaimaruseac commented on #45497
Closing as spam

[2020-12-09 17:43] #45497 closed

[2020-12-09 17:44] bhack commented on #43800
Yes we are still waiting to add a warning with https://github.com/tensorflow/tensorflow/pull/42846

[2020-12-09 17:47] amahendrakar commented on #34664
@kenthinson,
Is this still an issue? Could you please update TensorFlow to v2.3 and check if you are still facing the same error. Thanks!

[2020-12-09 18:04] wanusic commented on #45458
I have updated the stack trace.

Possible issues:
-  Incompatibility between conda installed version of cuda and cudnn. I have removed these from anaconda, so I only have system wide install. Also conda list cuda, and conda list cudnn returns empty.

-  Tensorflow GPU guide uses cudnn 7.6.x version, i have tried both highest (7.6.5) and lowest (7.6.0) while still supported by cuda
    10.1 (Some p

[2020-12-09 18:06] mdanatg commented on #31579
Quick note, DeemMind has created in implementation similar to the ideas in this thread: https://github.com/deepmind/tensor_annotations

[2020-12-09 18:17] emadboctorx opened #45546 "Tensorflow does not use the GPU during training with eager execution, despite manual activation"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2020-12-09 18:25] emadboctorx commented on #39468
Mine is an old model (Early 2015) so I guess I would get more benefit if I just build tf

[2020-12-09 18:38] merplumander commented on #44590
Thanks for looking into it!

[2020-12-09 19:03] jvishnuvardhan commented on #45536
@WindQAQ Thanks for creating this issue. I can reproduce the issue with `tf-nightly` and `2.4rc4` but works as expected with `TF2.3`. We will look into it. Thanks!

The following gists are for our reference.

[Here](https://colab.research.google.com/gist/jvishnuvardhan/980c1c17909d390528b4117a976b14ed/untitled115.ipynb) is a gist with `TF2.4rc4`.

[Here](https://colab.research.google.com/gist/jvis

[2020-12-09 19:04] bhack commented on #45437
I don't know what do you expect but that will not work.
Please give two different names to `m1` input and `m2` input:

[code]

[2020-12-09 19:10] Saduf2019 commented on #45422
@RD191295
Could you please check the gist once, there is no gist there.

[2020-12-09 19:18] predator4hack commented on #28036
Hi, may I know what exactly do we need to add in CONTRIBUTORS.md and can I work on this?

[2020-12-09 19:25] cement-head commented on #45463
Okay, turns out that TensorRT is already pre-built in the repos; I just installed that!

[2020-12-09 19:25] #45463 closed

[2020-12-09 19:35] yuhc commented on #23262
Not afaik. @Aditya-11

[2020-12-09 19:50] lamberta commented on #45429
Thanks for the report and tracking internally b/175229423

[2020-12-09 19:59] jdduke commented on #45009
You're right, that does leave us in a tricky situation.

For my own understanding, are you most interested in supporting the (big endian) -> (big endian) path, where both the conversion and execution take place on a big-endian machine? Or all potential permutations of little/big endian conversion and deployment?

[2020-12-09 20:07] ymodak commented on #45541
The colab crashes on trying with a different model_spec as well.
[code]

[2020-12-09 20:12] jdvisnaw commented on #44590
I am working with evonbevern to try to find this bug, after a bit of testing it does not seem to be the model.losses, we are currently trying to see if it is something in the add_loss function, or if the problem exists elsewhere

[2020-12-09 20:14] joehoeller commented on #45546
I’m having same issue. But in Kubernetes.

[2020-12-09 20:18] joehoeller commented on #45494
@ymodak would you be able to assist please?

[2020-12-09 20:23] #33613 closed

[2020-12-09 20:30] ymodak commented on #45494
What is your TF version and cuda version?
See https://www.tensorflow.org/install/source#gpu for TF and cuda version compatibility.

[2020-12-09 20:33] zhenzey commented on #22803
@javirk: I have the same issue as you do. Do you find any solution for transferring pix2pix GAN to tf lite model? Thank you so much!

[2020-12-09 20:40] gcervantes8 commented on #44403
I am getting the same bug, is there any known workarounds to this issue?

[2020-12-09 20:44] joehoeller commented on #45494
The AWS AMI is CUDA 11, the docker image it pulls from is CUDA 10.1.

On Wed, Dec 9, 2020 at 2:30 PM Yasir Modak <notifications@github.com> wrote:

[2020-12-09 20:44] reedwm commented on #45441
As @byronyi has stated, CPUs do not have hardware support for float16 and so will be slower with mixed_float16. I'll clarify in the tutorial that mixed precision can actually significantly slow down a model on CPUs, instead of just not speeding it up.

As for the TF serving issue: A float32 and a mixed_float16 `tf.train.Checkpoint` are identical for the same model, as checkpoints do not store the

[2020-12-09 20:47] joehoeller commented on #45494
Does TF2 distribute across VMs/ your whole K8s cluster?

[2020-12-09 20:51] karimnosseir commented on #22803
@javirk One way is to use TF SELECT which will fallback to TF kernel for the missing TF ops
https://www.tensorflow.org/lite/guide/ops_select
Another way is to write a TFLite custom op
https://www.tensorflow.org/lite/guide/ops_custom

[2020-12-09 21:06] lamberta commented on #45429
Should be fixed now: https://www.tensorflow.org/hub/tutorials/tf2_object_detection

[2020-12-09 21:06] #45429 closed

[2020-12-09 21:26] imaneBYD2020 commented on #35538
i get the same issues any help plz

[2020-12-09 21:51] Sidong-Wei commented on #45009
For me, it will be best if we could settle this once and for all - i.e. make sure it is consistent across all platforms so that the entire flatbuffer models will work seamlessly across different machines and converters. So I think the second approach would be more preferred (while the first approach could be a temporary workaround for us).
My ideal solution on this would be implementing something

[2020-12-09 22:16] karimnosseir commented on #44532
Thanks @sunzhe09 for providing the reproduce steps.
I have a fix. Will be merged soon.

Thanks

[2020-12-09 22:20] karimnosseir commented on #45213
Should be supported now. You can try with later nightly builds.

Thanks

[2020-12-09 22:30] Sidong-Wei opened #45556 "lstm related tests are failing due to unprovided optional inputs are not read correctly as nullptr on s390x machine"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): N
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.

[2020-12-09 22:45] Feynman27 opened #45557 "Cannot load SavedModel when model trained with tfa.optimizers.NovoGrad: ValueError: Shapes (3, 8) and () are incompatible"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No.
- OS Platf

[2020-12-09 22:47] karimnosseir commented on #44975
@KarthikDutt No AFAIK, they should be part of the next release though 2.5

[2020-12-09 22:48] karimnosseir commented on #44975
I am not sure there is any action on the issue. So closing.

Thanks

[2020-12-09 22:48] #44975 closed

[2020-12-09 22:50] #44532 closed

[2020-12-09 22:56] behzad-a opened #45558 "Keras optimizer uses non-trainable variables instead of constants for hyperparameters"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux CentOS 7.8
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.2

[2020-12-09 22:58] jdduke commented on #45009
Agreed, my question is more toward determining next steps and ordering. There could be a few simple tweaks we could make to get big -> big working, on the way toward full generality, if that is a blocker for any specific use-cases or project you're working on. If not, then the order of work doesn't necessarily matter and we can focus on the general solution.

[2020-12-09 23:02] thaink commented on #45478
Seems like a Micro issue.

[2020-12-09 23:32] jvishnuvardhan commented on #45413
@yummychop This issue is more related to Model-optimization. It is better if you post this issue in [`Model-optimization`](https://github.com/tensorflow/model-optimization/issues) repo. The issue you share will have more updates in the future as team is working supporting the feature. Thanks!

Please open an issue there and close the issue here. Thanks!

[2020-12-09 23:40] angerson commented on #44255
We redeployed the containers for `2.3.0` and `2.3.1`. Can you check and see if the issue persists?

[2020-12-10 00:09] seongkyun commented on #45385
I have exactly same problem.
Did you solve it?

[2020-12-10 00:28] Sidong-Wei commented on #45009
Sure, thanks for being so thoughtful! I think the big -> big route does not have a general blocker right now. As mentioned before, to save and load `.tflite` binary model on the same machine does not have any issues.
What I did notice that may require a bit of tweaks is [here](https://github.com/tensorflow/tensorflow/blob/fcc4b966f1265f466e82617020af93670141b009/tensorflow/compiler/mlir/lite/flatb

[2020-12-10 00:33] abattery commented on #45540
@mynameisteodora can you share what the difference was for the other users?

[2020-12-10 00:33] #45540 closed

[2020-12-10 00:37] abattery commented on #45556
@renjie-liu could you take a look at this?

[2020-12-10 00:49] kaixih commented on #39556
Yes, for this case, the cuDNN doesn't provide faster NHWC fp16 kernel than its NCHW counterparts. We need to sync with our cuDNN team to see if adding new algorithm or adding auto transformation is possible.

[2020-12-10 01:05] seongkyun commented on #45385
I solved this problem.

your code:
<pre><code>
import tensorflow as tf
from tensorflow.keras.layers import Input

model = tf.keras.models.load_model("Model")
print(model) # First line of output.

inputs = Input(shape=(1, 12, 12))
outputs = model(inputs) # Error appears on this line.
</code></pre>

and change it as below:

<pre><code>
import tensorflow as tf
from tensorflow.keras.layers import Inpu

[2020-12-10 01:39] #45350 closed

[2020-12-10 01:43] renjie-liu commented on #45556
It looks like related to the nnapi_delegate_test setup? Miao, can you help take a look?

[2020-12-10 02:04] #45510 closed

[2020-12-10 02:52] terryheo commented on #45009
According to this,
https://google.github.io/flatbuffers/md__internals.html
`A FlatBuffer is a binary file and in-memory format consisting mostly of scalars of various sizes, all aligned to their own size. Each scalar is also always represented in little-endian format, as this corresponds to all commonly used CPUs today. FlatBuffers will also work on big-endian machines, but will be slightly slower

[2020-12-10 02:53] terryheo commented on #45210
Maybe we'd better use https://github.com/tensorflow/tensorflow/issues/45009 for further discussion.

[2020-12-10 02:57] jvishnuvardhan commented on #45453
@farotem Similar behavior was noticed with `tf.keras.models.load_model` also.
[code]

[Here](https://colab.research.google.com/gist/jvishnuvardhan/6f7d9fc4034138037ef0945e00fbfad3/untitled572.ipynb) is a gist for our reference. Thanks!

[2020-12-10 02:58] CalebEverett commented on #43362
@hongjunChoi Hi, thanks for looking into this. I've taken out that dtype argument and it is still producing the same error. I must have put that in as I was trying to get it work.

The colab is updated. https://colab.research.google.com/drive/1C09OUXP-7Es4KIthVA6daRcGq_bJKGe8?usp=sharing

[2020-12-10 03:06] jvishnuvardhan commented on #45143
@Ben-Lee-2019 Was this resolved with recent `tf-version` or provide a simple standalone code to reproduce the issue. Thanks!

[2020-12-10 03:28] jvishnuvardhan commented on #45077
@zaccharieramzi I loaded your model and checked signature as shown below.

[code]

So, the loaded model was expecting a signature of (None, 96, 96, 1), while you are providing (None, 32, 32, 1), so the code was throwing an error `ValueError: Python inputs incompatible with input_signature:`.

When I changed inputs to (1, 96, 96, 1) or (2, 96, 96, 1) or any batch_size, it is working as expected.

P

[2020-12-10 03:30] ymodak commented on #35608
We have added a variety of new tutorials for beginners.
You may try ML basics with Keras that covers a variety of concepts.
See https://www.tensorflow.org/tutorials
Thanks!

[2020-12-10 03:30] #35608 closed

[2020-12-10 03:32] jvishnuvardhan commented on #45411
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2020-12-10 03:32] #45411 closed

[2020-12-10 03:34] Malithi-gif commented on #33948
raise ValueError("Shapes %s and %s are incompatible" % (self, other))
ValueError: Shapes (2, 56, 56, 1024) and () are incompatible

Can anyone help me?

[2020-12-10 03:41] jvishnuvardhan commented on #45310
@mwlon Did you check whether you have the same issue on the local (without `venv`). May be there is something limiting the memory.

Also, can you please check with other python version with `venv`. Thanks!

[2020-12-10 03:45] ymodak commented on #43029
Closing this issue now since the colab executes successfully end-to-end.
For more info see the the associated PR thread. Thank you.

[2020-12-10 03:45] #43029 closed

[2020-12-10 03:50] ymodak commented on #42850
@pushpendrapratap Is this still an issue? Were you able to apply model optimization techniques as suggested above? Thanks!

[2020-12-10 03:52] ymodak commented on #42723
Thanks for the update. Closing since its resolved.

[2020-12-10 03:52] #42723 closed

[2020-12-10 03:58] Sidong-Wei commented on #45009
Yes, that is true, and I think this is basically what we intend to achieve at last. Currently, all the other fields defined in the schema (which have types) are working properly except `buffers`, so it would make sense to fix `buffers` to use little-endian.

On the other hand, for those fields that are correctly stored in little-endian format, there do exists some places in the codebase where the

[2020-12-10 03:59] ai1361720220000 commented on #26478
hello, have you solved this problem of cast op?

[2020-12-10 04:55] xfffrank commented on #13932
@zaccharieramzi @mrry
I encountered this nondeterminism in `map` as well, when it is used with the random augmentation function like `tf.image.random_brightness` and `num_parallel_calls` > 1.

I tried setting `deterministic = True` but it didn't work.

By the way, I've already called a function for deterministic results as below.
[code]

[2020-12-10 04:57] llan-ml opened #45565 "tf.SparseTensorSpec in input_signature of tf.function does not take effect"
**Describe the current behavior**
When we define a `tf.SparseTensorSpec` with some specific shape in the `input_signature` of `tf.function`, we still can pass a `tf.SparseTensor` with any arbitrary shape into the decorated function.

Related to #29198. For now, the shape of input sparse tensor is always `None` inside tf.function, which I think contradicts with the purpose of `input_signature`.

**

[2020-12-10 04:58] congjianting commented on #41061
bazel clean firstly run after downgrading numpy, it worked for me.

[2020-12-10 05:05] Saduf2019 commented on #40614
@sbrl
Please move the issue to closed status if resolved.

[2020-12-10 05:13] Malithi-gif opened #45566 "raise ValueError("Shapes %s and %s are incompatible" % (self, other)) ValueError: Shapes (2, 56, 56, 1024) and () are incompatible"
Traceback (most recent call last):
  File "main.py", line 191, in <module>
    tf.app.run()
  File "C:\Users\User\AppData\Roaming\Python\Python37\site-packages\tensorflow\python\platform\app.py", line 40, in run
    _run(main=main, argv=argv, flags_parser=_parse_flags_tolerate_undef)
  File "C:\Users\User\AppData\Local\Programs\Python\Python37\lib\site-packages\absl\app.py", line 299, in run
    _

[2020-12-10 05:18] jaeyoo commented on #35538
For now, I am not sure what the exact cause is because there was no response, but I want to say that upgrading to the latest TensorFlows (e.g. tf-nightly>=2.5 or tensorflow>=2.4) and check it again.

[2020-12-10 05:25] CathyCan0329 commented on #45543
The bug can be reproduced on TF 1.15 and I've tested the fix it worked. The related code has not changed for 3 years, so the master branch should have the same issue.

[2020-12-10 05:28] advaitjain commented on #45478
From the error message, it looks like the Lite (not Micro) kernels are being use.

@shlomi-amitai can you please confirm if you are looking to run on the Android CPU + delegates (in which case this would be a Tensorflow Lite Mobile issue) or on an embedded DSP (in which case this would be a TensorflowLite Micro issue).

[2020-12-10 06:10] shlomi-amitai commented on #45478
Hi, I'm trying to run a quantized tflite model on an android mobile DSP.
below listed conversion's params (I use IOQ):
    converter.optimizations = [tf.lite.Optimize.DEFAULT] # dynamic range quantization
    if quantType == 'ffq' or quantType == 'ioq':
        converter.representative_dataset = representative_data_gen  # + float fallback quantization
        if quantType == 'ioq':
            con

[2020-12-10 06:18] Saduf2019 commented on #45566
@Malithi-gif
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

[2020-12-10 06:27] #45192 closed

[2020-12-10 06:32] Crispy13 opened #45568 "Using mixed precision causes incorrect loss, metric values"
Tensorflow version : 2.4.0-rc3, compiled from source
GPU : RTX 3080 10GB
CUDA / CUDNN : 11.1 / 8
bazel version : 3.1.0
Windows 10

I decided to mixed precision to speed up the training, but some issues were.
I used this code:
[code]
**Training didn't show any nan loss and metric. But when evaluating the model or each epoch ended, val loss and metric were incorrect(they were fixed over epochs).** T

[2020-12-10 06:39] ivodopyanov opened #45569 "Add RaggedTensor support to tf.stop_gradient and tf.reduce_logsumexp"
**System information**
- TensorFlow version (you are using): 2.4.0rc3
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.** Tensorflow prohibits use of tf.stop_gradient or tf.reduce_logsumexp with RaggedTensor. Other tf.math.reduce_XXX methods support RaggedTensor though.

**Will this change the current api? How?** Should not.

**Who will benefit

[2020-12-10 06:55] eli-osherovich commented on #45437
Honestly, I do not get it. This is the canonical way to extract features from an intermediate layer: one uses model's input and that layer output. It works with usual networks, but not with "embedded" ones.

[2020-12-10 06:57] Saduf2019 commented on #45543
@CathyCan0329

Can you please share a simple stand alone code with all dependencies, or if possible share a colab gist with the issue reported.

[2020-12-10 07:21] rmothukuru commented on #43886
@marcospgp,
I take back my comment that it is an internal operation. Yes, it impacts the result. Will update the documentation stating that **`padding = same` pads the Input Image Tensor with Zeros**.

[2020-12-10 07:22] Saduf2019 commented on #44841
@YANxu-666
Please update

[2020-12-10 07:45] innovativeC commented on #43645
Hi guys, any update on this bug ?

[2020-12-10 07:52] zaccharieramzi commented on #45077
Yes but that's exactly the problem : it shouldn't have this signature because it uses only convolutions.
I should be able to use convolutions on images of arbitrary width and height no matter what I used it on in an arbitrary run (first run or not).
To be explicit I should be able to use the saved model and on both 32×32 and 96×96 images. There is nothing in the convolution operation (both mathema

[2020-12-10 07:56] Steph71 commented on #45336
@mihaimaruseac

True, Sorry for the confusion. However also the windows wheels have the files (see updated screenshot above)

[2020-12-10 07:58] ardamavi commented on #45385
@seongkyun
I try your suggestion, this time I get another error:
[code]

[2020-12-10 08:02] Saduf2019 commented on #45180
I am able to replicate this on [tf 2.4](https://colab.research.google.com/gist/Saduf2019/f1c124e221c876ea2c6a19147514aaca/untitled483.ipynb) and as reported on [tf 2.3](https://colab.research.google.com/gist/Saduf2019/b6ae6c4127e0013c0a4358010d14da91/untitled483.ipynb) and [nightly](https://colab.research.google.com/gist/Saduf2019/d1508e252364618225b895700960e74b/untitled483.ipynb)

[2020-12-10 08:05] Saduf2019 commented on #45241
@WrathofBhuvan11
Can you please share your code with the issue reported in a colab gist.

[2020-12-10 08:06] NEWPLAN opened #45570 "failed to compile tensorflow (V2.4_RC4) in debug mode"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 4.19.117.bsk.4
- Mobile

[2020-12-10 08:15] mabdullahsoyturk opened #45571 "NCCL version is always 2.7.3"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.3.0-54-g

[2020-12-10 08:17] Saduf2019 commented on #45288
I am able to replicate the issue reported, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/c4d7b6ef2ccb6b2416bc8580e017ed7f/untitled483.ipynb).

[2020-12-10 08:35] sgiraudot commented on #42492
I'm sorry to see that this issue has not been addressed in 4 months. Just to be clear, this is not a criticism, I do understand that the C++ library is not a priority and that TF developers are already quite busy with the Python version. In the mean time, should I consider the C++ library as officially broken and move on?

[2020-12-10 09:30] rmothukuru commented on #45384
@brethvoice,
Can you please share the code corresponding to the statement,

so that it helps us to reproduce the issue better and understand exactly what is missing.

Thanks!

[2020-12-10 09:40] Saduf2019 commented on #45570
@NEWPLAN
Can you please try with CUDA 11.0? TF 2.4 (and nightly) is built and tested against CUDA 11.0, not 11.1.

[2020-12-10 09:50] emadboctorx commented on #45546
@joehoeller the problem is I can't tell whether this is a tensorflow or implementation specific problem. Clearly most of DRL algorithms are designed in a way that is not GPU friendly, a lot of computations are done sequentially using the CPU as this is not the first time that I experience this delay and GPU under-utilization.

[2020-12-10 09:59] cuongdv1 commented on #24477
@caiya55
have you solved this issue?

[2020-12-10 10:02] yairkit opened #45572 "A quantized tf code that contain tf.where op cannot be converted to tflite (operator of type Where is not yet implemented.)"
**System information**
- OS Platform and Distribution: ubuntu 20.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (or github SHA if from source): 1.15.3

**Text output from tflite_convert**

[code]

**Any other info / logs**

When converting a model to tflite, got the error above.

- Added tf.where() op to the model code (as a custom output layer).
- Model: DeepLabV3 (us

[2020-12-10 10:12] bhack commented on #45437
I don't understand what you want to do:

[code]

[code]

So with your `test3 = Model(m2.input, m2.layers[0].layers[1].output)` you are trying to connect `m1_input`

[2020-12-10 10:17] prasan001 commented on #44606
Hey @srjoglekar246,
Great to hear that you made progress.
Is the patch ready ?
I tried by looping around each subgraph but still i am not able to write the conditional subgraph properly.
Could you please tell how did you approach or share the patch.

[2020-12-10 10:18] lvyong1943 commented on #45170
@SilenceEagle Thanks,I solved the problem according to your method!!!

[2020-12-10 10:18] lvyong1943 commented on #45170
Thanks,I solved the problem according to your method!!!

[2020-12-10 10:35] Malithi-gif commented on #45566
After updating TensorFlow it was fixed.

Thank you

On Thu, Dec 10, 2020 at 11:48 AM Saduf2019 <notifications@github.com> wrote:

[2020-12-10 10:58] ravikyram commented on #45565
@llan-ml

 have tried n colab with TF 2.3, nightly verson(`2.5.0-dev20201210`)  and was able to reproduce the issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/7530ff249cd234b8d881ec726476cfac/untitled573.ipynb).Thanks!

[2020-12-10 11:12] ravikyram commented on #45572
@yairkit

Please, provide the colab link or simple standalone code with supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-12-10 11:23] pushpendrapratap commented on #42850
Hi, the NN architecture had mostly `Conv3D` layers, which (as I saw last time) can't be optimized by the current API. Eventually, I realized that this model can't be run on mobile devices and so I went with the `client-server` architecture.

I'm closing this issue but if anyone wants to deploy any action recognition model on mobile devices, I have a few suggestions:
1. Make sure all the operators

[2020-12-10 11:23] #42850 closed

[2020-12-10 11:27] eli-osherovich commented on #45437
@bhack I want to extract features from a layer in `m2`, which is inside the embedded `m1`.

[2020-12-10 11:31] eli-osherovich opened #45573 "save_model/load_model pair does not preserve model's metric"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2020-12-10 11:33] eli-osherovich commented on #45573
Please note also that in this case I do get same loss for both models, however, in my original (more complex) case even the losses are different.

[2020-12-10 11:42] mhamedLmarbouh commented on #24828
After going over all the proposed solutions, this one is what solved it for me
NOTE:  windows 10, cuda 10.0, cudnn 7.6

[2020-12-10 11:47] amahendrakar commented on #45546
Was able to reproduce the issue with TF v2.2 and TF v2.3. GPU utilization shows 0%. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/e09b444c63660052f3f679a954cdd587/45546.ipynb).

![gpu 2 3](https://user-images.githubusercontent.com/57165142/101768383-7e9f9a00-3b0b-11eb-91fc-fa51ef78d859.png)
Thanks!

[2020-12-10 12:14] amahendrakar commented on #45558
@behzad-a,
On instantiating the optimizer with TF v2.2, the type is a `tensorflow.python.keras.optimizer_v2.gradient_descent.SGD` object.

Could you please provide a minimal code to reproduce the issue? Thanks!

[2020-12-10 12:21] bjornsing opened #45574 "TF 2.4rc3 fails with CUDNN_STATUS_INTERNAL_ERROR on GeForce RTX 3070"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Docker image tensorflow/tensorflow:2.4.0rc3-gpu
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Docker binary
- Tens

[2020-12-10 12:26] NEWPLAN commented on #45570
Thanks for your reply, I would follow your suggestion to recompile it. Additionally, what are the expected arguments passing to the bazel?  That's how can I disable the "-O2" flag in debug mode?

[2020-12-10 12:32] bhack commented on #45437
....
test3 = Model(m2.input, m2.layers[0].layers[1].output)

This is exactly the same as:
`test3 = keras.Model(m2.input, m1.layers[1].output)`

And this doesn't work also for not nested models.
As this is not a bug you need to close this and ask as a support questions to our stackoverflow space at https://stackoverflow.com/questions/tagged/tensorflow

Thanks

[2020-12-10 13:01] gioxc88 commented on #36459
I noticed the same behavior in linux vs windows

[2020-12-10 13:01] Saduf2019 commented on #44613
@lgeiger
Is this still an issue.

[2020-12-10 13:02] Saduf2019 commented on #44583
Moving this to closed status as resoved.

[2020-12-10 13:02] #44583 closed

[2020-12-10 13:03] Saduf2019 commented on #44546
@RarDay
Could you please install 1.15 and update us.

[2020-12-10 13:04] Saduf2019 commented on #44459
Moving to closed status as resolved.

[2020-12-10 13:04] #44459 closed

[2020-12-10 13:06] Saduf2019 commented on #44159
@gdrolet
Please update if this is still an issue

[2020-12-10 13:14] gioxc88 commented on #31312
any update on this on any suggestion on a particular tf version which does not have this issue?

[2020-12-10 13:15] jediRey opened #45575 "Error when building tensorflow from source"
**System information**
- OS Platform and Distribution: ubuntu 20.4
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.3.0 & 2.3.1
- Python version: 3.8
- Installed using virtualenv? pip? conda?: from source, via bazel
- Bazel version (if compiling from source): 3.1.0
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: N/A
- GPU model and memory: no

[2020-12-10 13:15] lgeiger commented on #44613
@Saduf2019 yes this is still an issue. The current temporary workaround relies on private TensorFlow function which isn't a longterm solution. See https://github.com/tensorflow/tensorflow/issues/44613#issuecomment-732215759

[2020-12-10 13:22] Saduf2019 commented on #45557
I am able to replicate the issue reported, please find the gist here for [nightly](https://colab.research.google.com/gist/Saduf2019/4493bdcf3fc650096ae65c57beeb6254/untitled480.ipynb),  [tf 2.4](https://colab.research.google.com/gist/Saduf2019/1012ccdc5616fcef7353733e2b118e4c/untitled481.ipynb) and [tf 2.3](https://colab.research.google.com/gist/Saduf2019/1106d41b11f8fcf33b634e8c2ddc17c6/untitled4

[2020-12-10 13:50] #45454 closed

[2020-12-10 13:53] seongkyun commented on #45385
type below at terminal then you can see the I/O shapes of the model:

$ saved_model_cli show --dir PATH/TO/PB/FILE --tag_set serve --signature_def serving_default

the PATH/TO/PB/FILE is the folder including asset, variables folders and saved_model.pb file.

Is the input shape correct?

[2020-12-10 13:56] rmothukuru commented on #45170
@SilenceEagle,
Closing the issue as it has been resolved. Thanks!

[2020-12-10 14:00] behzad-a commented on #45558
@amahendrakar, I think you misunderstood my question. What I'm referring to are the ops in the TF graph (or the XLA graph for that matter) that are created by using these optimizers in a computation. Keras V2 optimizers, such as `tensorflow.python.keras.optimizer_v2.gradient_descent.SGD`, internally convert their **constant** hyperparameters (learning rate, momentum, etc.) into **non-trainable var

[2020-12-10 14:08] jediRey commented on #45575
Some more info: this ubuntu OS is on an Oracle virtual box. When I open that address (https://storage.googleapis.com/mirror.tensorflow.org/gitlab.com/libeigen/eigen/-/archive/386d809bde475c65b7940f290efe80e6a05878c4/eigen-386d809bde475c65b7940f290efe80e6a05878c4.tar.gz) on the Windows host, it works well. However on the ubuntu guest, it gives me this:

Did Not Connect: Potential Security Issue

Fi

[2020-12-10 14:23] rmothukuru commented on #45216
@NguyenThaiHoc1,
Can you please respond to the above comment. Thanks!

[2020-12-10 14:36] amahendrakar commented on #45568
On running the code with [TF v2.2](https://colab.research.google.com/gist/amahendrakar/f32019942de7a6cba160e8ffb5b2dfd1/45568-2-2.ipynb#scrollTo=kM-cUF1sR-_k), the `val_loss` value is `1.0001`.

Was able to reproduce the issue with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/25afe63903c66dc02a2a1a90b6482ca3/45568.ipynb#scrollTo=kM-cUF1sR-_k), with which the `val_loss` is `nan`.

[2020-12-10 14:37] gqqnbig opened #45577 "Tutorials still mention boosted_trees_classifier_train_in_memory"
## URL(s) with the issue:

https://github.com/tensorflow/docs/blob/master/site/en/tutorials/estimator/boosted_trees_model_understanding.ipynb

## Description of issue (what needs changing):

The tutorials says

However, function `boosted_trees_classifier_train_in_memory` doesn't exist. It's actually removed in ffc25308ce2be84240ec90502b38800bc5a4dd60.

### Submit a pull request?

I'm not sure whet

[2020-12-10 14:46] eli-osherovich commented on #45437
@bhack  can you please explain why?

I do not agree that this is the same: both inputs and outputs belong to `m2`. Furthermore, the following code does not generate an error:
[code]
P. S.
Can you please show the right way to extract features from internal layers of an embedded network?

[2020-12-10 14:58] amahendrakar commented on #45574
@bjornsing,
Please try setting a hard limit of the total GPU memory as per [this guide](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) and let us know if it works.

Also, please go through similar issues [#24828](https://github.com/tensorflow/tensorflow/issues/24828#issuecomment-464910864), [#40646](https://github.com/tensorflow/tensorflow/issues/40646#issuecomment-647224203) and

[2020-12-10 15:00] jediRey commented on #45575
More details of the error:

RROR: An error occurred during the fetch of repository 'icu':
   java.io.IOException: Error downloading [https://storage.googleapis.com/mirror.tensorflow.org/github.com/unicode-org/icu/archive/release-64-2.zip, https://github.com/unicode-org/icu/archive/release-64-2.zip] to /home/rey/.cache/bazel/_bazel_rey/7a2ccf9885a6b6731b7d3780dd19d183/external/icu/release-64-2.zip:

[2020-12-10 15:06] bhack commented on #45437
Is the same cause If you start to give to  all the layers an unique name and you start to print the names of the layers you get you can verify yourself that `m1.layers[1].output` is exactly `m2.layers[0].layers[1].output`.

As It Is not a bug or a feature request if you need support use Stackoverflow.

[2020-12-10 15:09] brethvoice commented on #45384
The code is nearly 300 lines, so I posted it to my only Github [repo](https://github.com/brethvoice/optuna_demo_MNIST/blob/main/tensorboard_example_code.py).  It can be run from Windows 10 using local GPU if available.

[2020-12-10 15:16] KbeeArthur opened #45578 """TypeError: 'NoneType' object is not iterable"" when instantiating keras.models.Model() or keras.models.Sequential()"
Whenever i try to instantiate a keras model either Model() or Sequential() i get **TypeError: 'NoneType' object is not iterable**.
As an example I've taken screenshots of a Sequential model i wanted to create on the Mnist data using PyCharm as follows.

![capture-20201210-164722](https://user-images.githubusercontent.com/72258001/101787332-a4c33b00-3b07-11eb-8c4c-23ad30821723.png)

After running i

[2020-12-10 15:30] Sidong-Wei commented on #45556
To add on a bit more info, there are two other related test: `//tensorflow/lite/kernels:lstm_test` and `//tensorflow/lite/kernels:lstm_eval_test`.
Before any changes were made, `lstm_test` is failing due to seg fault on both my x86 machine and s390x machine. The first fix about `use_layer_norm` is actually making this test proceed further and then fail again.
Before any changes were made, `lstm_ev

[2020-12-10 15:48] eli-osherovich commented on #45437
I meant this is not the same since `m1` is embedded into `m2` (unlike the case, where these two models are unrelated). Hence, there is a path from `m2.input` into `m1`.

 Can you please show the right way to extract features from internal layers of an embedded network?

[2020-12-10 15:51] Lescurel opened #45579 ""SAME" padding for avg_pool2d yields different results than explicitly 0-padded input with "VALID""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.3.0-rc2-23-gb36436b087 2.3.0
- Python version: 3.8.5

**Describe the current behavior**

When using pad

[2020-12-10 15:51] camilamiraglia commented on #41380
Unfortunately @dtmaidenmueller workaround did not work for me. I am also using Windows 10 Enterprise, with **Python 3.8.5**, **Tensorflow 2.3.0** and **Keras-Tuner 1.0.1**. I am also saving the results for visualization on TensorBoard. Tensorflow was installed without 'conda'.
The error started to appear only when I increased the number of maximum trials for the tuner from 30 to 150 (and above) an

[2020-12-10 15:58] bjornsing commented on #45574
Thanks @amahendrakar,

I could get it to run by limiting the total GPU memory.

Still getting annoying warnings:
[code]

But that's not the end of the world. Which docker image would you recommend by the way for TF 2.X.X on GeForce RTX 3700?

Cheers,

Björn

[2020-12-10 16:08] Cy-r0 commented on #45213
Hey, thank you for your help.

I installed the latest nightly version of tensorflow (2.5.0.dev20201210), converted a TensorFlow model using the depth_to_space() op to TFLite with int8 quantisation (no float fallback), and tried running it on an android device.

When using NNAPI, the following error appears:
[code]
Am I supposed to compile tensorflow lite myself, or is there something else I'm miss

[2020-12-10 16:14] bhack commented on #45437
This is you interpretation but it doesn't work like you are expecting and if you check you have exactly the same error as `test3 = keras.Model(m2.input, m1.layers[1].output)`.

This part is just a support request and you need to post that on our Stackoverflow  space.

[2020-12-10 16:25] dlebech opened #45580 "Cannot load saved model when using multiple tf.keras.layers.experimental.preprocessing.StringLookup layers"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.1 and Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below)

[2020-12-10 16:48] mihaimaruseac commented on #40614
It's not resolved, there is only a workaround.

[2020-12-10 16:49] srjoglekar246 commented on #44606
@prasan001 The patch requires more work than simply looping over the subgraphs :-).
The end result is an API like `ModelWriter`, similar to `SubgraphWriter`, that takes in an `Interpreter*` ptr. We need to maintain common data structures for entities common to the graph (op codes, buffers, etc)
Will report back once the code changes are in.

[2020-12-10 16:55] SelvaMuruganChithiraipandi commented on #45504
Hi, I got the below information in my benchmark_model and tflite runtime .so file, this looks similar to yours.

I saw the "--define=raspberry_pi_with_neon=true" in BAZEL_FLAGS, what is the use of this flag? Is this enabling something specific to Raspberry Pi? Are we also need to enable something like that?

We are using cortex-A53 ARM64 machine, but we are using 32bit applications because of some

[2020-12-10 17:05] wanusic commented on #45458
In the end I think this is a memory issue. I tried using config.gpu_options.per_process_gpu_memory_fraction = 0.4 which eliminates the cudnn issue. I think that cudnn tries to allocate the memory for the entire neural network at once which exceeds limitations of my memory so cudnn cannot allocate handle. Still dynamically allocating memory does not work because it will still exceed memory limitati

[2020-12-10 17:05] #45458 closed

[2020-12-10 17:07] srjoglekar246 commented on #44890
TBH, its difficult to gauge what the model tensors mean without looking at the TF code that generated the model :-).
What is the source of the model? Is it from some TF repo?

[2020-12-10 17:09] mihaimaruseac commented on #45336
What commit are you building from?

[2020-12-10 17:10] mihaimaruseac commented on #45449
It is likely this got fixed by my recent changes for a security vulnerability.

Can you try testing with a nightly from November?

[2020-12-10 17:11] maxvfischer commented on #43478
@Liu-Da I'm experiencing this problem as well. I'm using `from tensorflow.keras.callbacks import ModelCheckpoint` to save the model. Do you see an adjustment of your work-around when using `ModelCheckpoint`?

[2020-12-10 17:20] lgeiger commented on #43478
I submitted a fix for this issue in #45278, but it is still waiting for review.
I don't think there is an easy workaround for this currently other than only saving the weights in `ModelCheckpoint` or by adapting the callback itself to only save the model without the metrics.

[2020-12-10 17:22] huberemanuel commented on #45580
I tried your code with the latest `tf-nightly`, and it works perfectly. I also tried with `tensorflow==2.4.0rc4` and also works. I would suggest upgrading your TensorFlow version.

[2020-12-10 17:46] ardamavi commented on #45385
@seongkyun
Yes, the input shape is correct:
[code]

[2020-12-10 17:53] duudat commented on #45488
@thaink any update on this issue?

[2020-12-10 17:57] QEDan opened #45582 "Layers with non-zero gradients are not updated with optimizer.apply_gradients()"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-12-10 18:06] amahendrakar commented on #45449
@mihaimaruseac,
Fails with nightly builds from November, until v2.5.0.dev20201207 ([gist](https://colab.research.google.com/gist/amahendrakar/0d2c5ba4fc5e547462fa888da5974fc0/45449-2-5-0-dev20201207.ipynb) for reference).

It was fixed with the 2.5.0.dev20201208 release.

[2020-12-10 18:10] mihaimaruseac commented on #45449
Awesome. Thanks for confirming. Then it will get fixed in the 2.4 release, it is due to a CVE I fixed recently.

Let's keep this open until 2.4 gets released and then validate and close.

[2020-12-10 18:10] dlebech commented on #45580
@huberemanuel thanks for the quick response! This is great news, and I am a bit embarrassed that I did not try the release candidate before posting. I will close the issue and upgrade to the bleeding edge :+1: Thank you for your time.

(I have verified now that it worked for my use case in 2.4.0 RC4)

[2020-12-10 18:10] #45580 closed

[2020-12-10 18:20] pandrey-fr commented on #45538
Yes, they do. Providing exact shapes yields optimized computation graphs, which is often critical in writing efficient operations, layers and models. Similarly, while `shape_invariants` allows to relax part of the loop variables' shapes, it also enables optimizing what can be (by partially or fully defining the shape of some of the variables). Having a coercive behavior as default can also be seen

[2020-12-10 18:27] #44272 closed

[2020-12-10 18:35] Steph71 commented on #45336
Tag 2.3.1-- Diese Nachricht wurde von meinem Android Mobiltelefon mit GMX Mail gesendet.Am 10.12.20, 18:09 schrieb Mihai Maruseac <notifications@github.com>:

  What commit are you building from?
  —You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-12-10 18:39] liyunlu0618 commented on #26478
The contrib.quantize is no longer maintained. Please try the new keras based quantization aware training [API](https://www.tensorflow.org/model_optimization/guide/quantization/training_example) and let us know if you run into any issues. Thanks!

[2020-12-10 18:51] mihaimaruseac commented on #45336
This is weird. We are using the exact same command.

Can you change

[code]

to have a path argument that does not share prefix with the path to the TF sources?

Alternatively, can you also try on the 2.4 branch?

[2020-12-10 18:51] mdanatg commented on #45093
@cheshire FYI

Sorry for the delay. I think the warning about `mark_used` is quite misleading, we'll need to fix it. You almost never want to use it. The warning itself was meant to caution that you should always assign the result of `x.write` back to `x`. It's similar to Pandas, if you're familiar with it.

There is another limitation of tf.function here: when you want to pass values outside the

[2020-12-10 19:22] lev-prol commented on #45556
I haven't managed to reproduce the issue yet, but I can shed some light on why `forget_layer_norm_coefficients_ptr` is checked. The reason is because when the cell is used in the CIFG (coupled input and forget gates) mode, input layer norm coefficients will not be present but the rest of the layer norm weights still could be set. As the layer norm weights are either all present or all omitted, `fo

[2020-12-10 19:35] karimnosseir commented on #45213
That means the TFLite runtime you're using is not the latest.
There is an issue with Jcenter not up to date which we are looking into it (might be the reason).
Can you access this file and use it
 https://bintray.com/google/tensorflow/download_file?file_path=org%2Ftensorflow%2Ftensorflow-lite%2F0.0.0-nightly%2Ftensorflow-lite-0.0.0-nightly.aar

[2020-12-10 19:38] jdvisnaw commented on #44590
So after playing with the code a bit more, the first large difference I have found between the provided test cases is that in each test case, the second time in each that layer.add_loss(lambda :tf.reduce_sum(layer.kernel)) is called, in add_loss() is another function, _tag_callable(), that returns different values, the correct value for test case 1 but the incorrect value in test case 2. In _tag_c

[2020-12-10 19:52] Murad1893 commented on #42037
**THIS IS A LIFE SAVER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!**

[2020-12-10 20:03] merplumander commented on #44590
Sounds like you guys are doing a good job so far 👍
I’m also working on my final project, so we’re all in the same boat ^^

[2020-12-10 20:06] qlzh727 commented on #45437
Thanks @bhack for answering the question.

To echo some of the response and providing more context here:

1. keras.layers.InputLayer is a Layer and should be used with Sequential model, which stacks layer one by one. It is mainly used to define the input shapes, which is needed by following layers to build its weights.
2. keras.Input is NOT a Layer, and should be used with functional model. The fu

[2020-12-10 20:06] #45437 closed

[2020-12-10 20:14] Sidong-Wei commented on #45556
Hi @lev-prol, thanks a lot for the explanation! If I understand correctly, I think theoretically, in this particular nnapi test case where only 20 inputs are provided, all the 4 layer norm coefficient input should be `nullptr` and we could check `forget_layer_norm_coefficients_ptr` to indicate the rest ones.
However, as I mentioned, if I change `const bool use_layer_norm = (forget_layer_norm_coeff

[2020-12-10 20:16] bhack commented on #45437
@qlzh727 Probably, If we want to take something good from this ticket hanldlig,  maybe we could add a warning somewhere in the code for Sequential + Input what do you think?

[2020-12-10 20:32] jamal-ansary commented on #23809
i was using the model from saved_model folder and had the same issue. Get your model from trained_inference_graph folder. it should be sth like: frozen_inference_graph.pb

[2020-12-10 20:32] ymodak commented on #45578
Please copy paste your code and the stacktrace in the issue template with use proper formatting.
Screenshots do not help in reproducing the problem. Thanks!

[2020-12-10 20:40] moonj94 opened #45584 "Autograph warning seems to lead to reduced performance"
**System information**
- I am using a toolbox called EEGNet and using my own script
- OS Platform and distribution: macOS catalina version 10.15.7 (19H2)
- TensorFlow installed from (source or binary) - i don't know how to check this
- Tensorflow version 2.3.1
- Python version: 3.7.4

- GPU model and memory: Radeon Pro 560X 4GB Intel UHD graphics 630 1536MB, and memory = 16GB 2400MHz DDR4

**Descr

[2020-12-10 20:56] jdduke commented on #45038
@liufengdb @daverim can you take a look?

[2020-12-10 20:57] jdduke commented on #44707
@talumbau @karimnosseir thoughts on addressing this?

[2020-12-10 21:21] KbeeArthur commented on #45578
Okay thanks @ymodak let me copy paste my code and the stacktrace here.
And on this one I changed `keras` to `tf.keras` as you had previously advised

`import tensorflow as tf
from keras.datasets import mnist
from tensorflow.keras import layers
from keras import utils`

`(train_images, train_labels), (test_images, test_labels) = mnist.load_data()`

`network = tf.keras.Sequential()
network.add(layer

[2020-12-10 21:44] karimnosseir commented on #44707
I am confused with the details you mention. If you're using post training quantization then the ops should be a floating point not int16. The int16 quantization happens after the conversion which you point too.

On the other hand
Since TFLite kernel doesn't support filter with int16 type, then we should remove the type from here
https://github.com/tensorflow/tensorflow/blob/c86b90dc9e3dc51dfc95964

[2020-12-10 21:45] ymodak commented on #45378
@syeds-git  For enabling augmentation you can set `use_augmentation` flag as True,
[code]
It performs data augmentation with default values  as `rotation_range=40, horizontal_flip=True, width_shift_range=0.2, height_shift_range=0.2, shear_range=0.2, zoom_range=0.2`
See https://github.com/tensorflow/hub/tree/master/tensorflow_hub/tools/make_image_classifier#advanced-usage

[2020-12-10 21:47] tatianacv opened #45585 "Inconsistent results when using tf_upgrade_v2 script"
**System information**

- Run in Google Collab Notebook with macOS Big Sur
- There are two files run:
    - a version running code with Tensorflow 2
    - a version running code with Tensorflow 1.x
- Python 3.6.9

**Current behavior**

We wanted to see if the result of the migration script from TF 1.x to TF 2 gives the same output. To evaluate this, we took code from Tensorflow 1.x taken from this

[2020-12-10 21:50] syeds-git commented on #45378
@ymodak the documentation is for the command line tool. Is it possible to provide different values using image_classifier.create method?

[2020-12-10 21:53] jackd commented on #44491
Doc change merged.

[2020-12-10 21:53] #44491 closed

[2020-12-10 22:09] ymodak commented on #45578
Can you try setting up a [virtual env](https://www.jetbrains.com/help/pycharm/creating-virtual-environment.html) and run following lines;
[code]

[2020-12-10 22:14] qlzh727 commented on #45437
Sure, will send a change soon.

[2020-12-10 22:19] ymodak commented on #45378
I am afraid not. It simply provides an option to perform data augmentation with default `hparams`.
https://github.com/tensorflow/hub/blob/a13500b5465b1ca168e6089104a6dbbd9725219f/tensorflow_hub/tools/make_image_classifier/make_image_classifier_lib.py#L69-L88

[2020-12-10 22:21] syeds-git commented on #45378
@ymodak possible to have this capability in future?

[2020-12-10 22:22] CloneHub94 opened #45586 "Object Detection doesn't work"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- Windows
- TensorFlow installed from source:
- TensorFlow version 2.3.1
- Python version 3.8.3
- CUDA/cuDNN version 11.1, 11, 10.1, and 9.0 installed on my pc
- GPU model: GeForce GTX 1050 (4 GB of memory)

**Actual Behavior**
When I run the script I use to do object_detection

[2020-12-10 23:28] jvishnuvardhan commented on #45259
@rschumi0 A PR raised to correct this documentation. Will closed the issue when the PR gets merged. thanks!

[2020-12-10 23:58] bhack commented on #45573
I think it could be related to https://github.com/tensorflow/tensorflow/pull/41701.
To verify can you pass an explicit metric name e.g. `metrics=["sparse_categorical_accuracy"]` or another explicit one in your colab?

[2020-12-11 00:25] swight-prc commented on #44285
In my case, the issue lay with passing Pandas dataframes. In this case, it might be

See this:
https://github.com/tensorflow/tensorflow/blob/v2.3.1/tensorflow/python/keras/engine/data_adapter.py#L1011-L1019

At that point, it's going to try to convert things to tensors. But it only checks for ndarrays and sparse arrays.

For some reason I can't find `gen_array_ops` in the repo, so I can't confirm,

[2020-12-11 01:46] majianjia commented on #43833
I met the same issue while converting a RNN model (GRU) with stateful enabled to tflite.

[2020-12-11 02:11] reedwm commented on #45536
Thank you for filing this issue. The error occurs when mixed precision is enabled and `RMSprop.apply_gradients` or `Nadam.apply_gradients` is called in Eager mode (outside any `tf.function`s). This occurs in `Model.fit` if you pass `run_eagerly=False` to `Model.compile`. The error that occurs is:

Unfortunately, TF 2.4 is about to be released, so this cannot be fixed for 2.4. It will be fixed in 2

[2020-12-11 02:24] WindQAQ commented on #45536
@reedwm Thanks for clarification! Addons uses it in unittests only so it doesn't matter if we change the optimizer. Just out of curiosity. Do we really need to access `.op` of the variables in `_resource_apply_*`? Seems that returning the variables directly can work as expected.

https://github.com/tensorflow/tensorflow/blob/579ce3a2e1ec3a5392968f6c7703fc598b02d5d7/tensorflow/python/keras/optimize

[2020-12-11 02:36] jvishnuvardhan commented on #45146
@jponf Can you please share a simple standalone code to reproduce the issue? Thanks!

[2020-12-11 02:43] reedwm commented on #45536
When TF2 behavior is disabled with `tf.compat.v1.disable_v2_behavior()`, I think removing the `.op` might make `Optimizer.minimize` return a variable instead of an op. This probably won't break anyone, but [the documentation](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Optimizer?version=nightly#minimize) does state `Optimizer.minimize` returns an op. (The documentation should al

[2020-12-11 02:48] WindQAQ commented on #45536
Thanks for the help. Actually, all optimizers in addons use the way you suggested. It's nice to see that we do not need to change anything. Thanks again for the clarification!

[2020-12-11 02:48] #45536 closed

[2020-12-11 02:50] jvishnuvardhan commented on #45199
@chuqnzhao I am seeing lot of warnings (before `OutOfRangeError:  Read less bytes than requested`) the as shown below. Looks like while loading model, it was not able to access `tf.Variable`). Please check below.

Can you please share model building code? Thanks!

[code]

[2020-12-11 02:54] lei522 commented on #37102
@impjdi  could you help me to use the multiply op in tflite model with metal delegate？ i am using tf1.15.4 and tflite 1.15.4 with  metal metal delegate

when there is a scalar multiplier it works well,otherwise, the error occurs. i also use resize_bilinear to ensure both inputs have the same shape, it dosen't work.
When I run the model with GPU delegate, it complains:

`2020-12-11 10:41:56.881639+

[2020-12-11 02:57] lei522 commented on #37102
@impjdi @impjdi could you help me to use the multiply op in tflite model with metal delegate？ i am using tf1.15.4 and tflite 1.15.4 with metal metal delegate

when there is a scalar multiplier it works well,otherwise, the error occurs. i also use resize_bilinear to ensure both inputs have the same shape, it dosen't work.

When I run the model with GPU delegate, it complains:

`2020-12-11 10:41:56.

[2020-12-11 02:57] liuxufenfeiya opened #45590 "Value 'sm_86' is not defined for option 'gpu-name'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):docker
- TensorFlow installed from (source or binary):pip
- TensorFlow version (use command below):tf-nightly-gpu         2.5.0.dev20201210
- Python version:3.6.9
- CUDA/cuDNN version:11.0/8.0.4
- GPU model and memory:

[2020-12-11 03:42] Sunyingbin opened #45591 "tfjs-models/face-landmarks-detection/demo/ TypeError: Fail to fetch"
Hi ,  I run this demo in my macbook, I don't have VPN,  How to synchronize the model and store it myself. thank you!

[2020-12-11 03:44] gioxc88 opened #45592 "Keras doesn't release the memory after fit (single thread and multiprocessing)"
**System information**
- OS Platform: Windows, Linux
- TensorFlow version ('v2.3.0-54-gfcc4b966f1', '2.3.1')
- Python version: 3.8.6

**Current behavior**
This problem is unfortunately blocking my production code.
The example below is oversimplified but it's perfectly able to reproduce the issue.
I run many different models using different combinations of:
- hyperparameters
- features
- samples

F

[2020-12-11 04:38] ravikyram commented on #45590
@liuxufenfeiya

You can ignore those warning.If you want to disable the warning messages add the below code.

[code]
If you feel the issue still persists request you to share colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster.
Thanks!

[2020-12-11 05:21] yourtheron commented on #36198
@oanush . As I mentioned above, please refer to the last comment in issue #35441. The example is there!

[2020-12-11 05:49] ravikyram commented on #45584
@moonj94

Can you please provide colab link or simple standalone code with supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-12-11 06:00] chuqnzhao commented on #45199
@jvishnuvardhan
Thank you for your reply，I used the following link to generate the TensorFlow model, and then used the TensorFlow tool to convert the model to the savedModel type.
https://github.com/matterport/Mask_RCNN/blob/master/mrcnn/model.py

[2020-12-11 06:13] ravikyram commented on #45579
I have tried in colab with TF 2.2, 2.3 and nightly version(`2.5.0-dev20201210`) and was able to reproduce the issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/d100d4b85685c6ccf0ac70182aeab3e9/untitled574.ipynb).Thanks!

[2020-12-11 06:42] tucachmo2202 commented on #23714
It can't be now. They are using `TFLite_Detection_PostProcess` in SSD instead of `tf.image.non_max_suppression?`. I want to apply this operation to other models too. If you have any answers, please let me know.

[2020-12-11 06:59] amahendrakar commented on #45586
@CloneHub94,
Issues related to TensorFlow object detection module are tracked in the tensorflow/models repo.

Could you please submit a new issue from [this link](https://github.com/tensorflow/models/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-12-11 07:02] chuqnzhao commented on #45199
I use your conversion code to prompt for the following error
[code]
Please use the following code：
converter = tf.lite.TFLiteConverter.from_saved_model("./saved/", signature_keys=['predict'])

[2020-12-11 07:26] stefan-falk opened #45594 "CancelledError: [_Derived_]RecvAsync is cancelled."
## Note

I am opening this issue because the error I am describing seem to affect quite some people. See **Related Issues**, but those have been closed "due to inactivity".

----

**System information**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16, 18
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.3.0-54-gfcc4b966f1 2.3.

[2020-12-11 07:27] #44359 closed

[2020-12-11 07:29] ravikyram commented on #45594
@stefan-falk

Please, share colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-12-11 07:32] stefan-falk commented on #33721
@Izeple Could you provide and share a colab where we can reproduce this issue?

[2020-12-11 07:52] ymodak commented on #45541
@ando0689 Can you please try with model maker nightly package?
`python
!pip install tflite-model-maker-nightly
`
The colab does not crash with the nightly package. Thanks!

[2020-12-11 08:02] KbeeArthur commented on #45578
Unfortunately I got the same error even in a virtual environment

![capture-20201211-095104](https://user-images.githubusercontent.com/72258001/101877333-82c4c980-3b96-11eb-8132-cbbf3eeacf9a.png)

I thought the screenshot would be better to show my error rather than put in all the code like before since it's giving the exact same error.

[2020-12-11 08:10] JohanMeppelinkDRA opened #45596 "Tensorflow float32 conversion bug from python to tensorflow constants"
Tensorflow changes values well within tf.float32 range to nearby values.

Is this expected behaviour? Numpy doesn't have this issue and given the values are within float32 range I'm not sure why this is happening.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04)

[2020-12-11 08:22] RD191295 commented on #45422
@Saduf2019
can you please check this.
https://colab.research.google.com/gist/Saduf2019/573e2f250ad7f52bd8b2b895a2fe6055/untitled479.ipynb

[2020-12-11 08:27] #45206 closed

[2020-12-11 09:05] zaccharieramzi commented on #41934
@reedwm I see that you fixed this for tf 2.4 which is great.
I was seeing the same effect in my networks and I hadn't pinned it down to upsampling.

Another problem I am noticing is that after a certain (large) number of iterations, nans start appearing in my trainig (I haven't figured out where first yet). Could this be related and should this fix the nan issue?

[2020-12-11 09:06] Ecclesiast commented on #45460
@abattery There is no version I've tested on Collab that resolves this issue. I've tried different versions of tf-nightly(2.5.0.dev20201210, 2.4.0.dev20200902).
Also tried tensorflow==2.4.0rc1 and tensorflow_text==2.4.0rc1 - nothing works fine.
Also this is important as the last stable release versions are 2.3.0 for both libraries and tensorflow-text is clarifying that versions of these libraries

[2020-12-11 09:07] chrism0dwk commented on #43170
I found out how to use TF_CPP_MIN_LOG_LEVEL and TF_CPP_MIN_VLOG_LEVEL.  Debug information attached.
[chol_log.txt](https://github.com/tensorflow/tensorflow/files/5678190/chol_log.txt)

[2020-12-11 09:11] zaccharieramzi commented on #37130
I noticed the same issue, but I don't have a reproducible example to share yet, however I can say that my network uses some bilinear upsampling (as well as a lot of other stuff).
More specifically, my training time is 6x longer for the epochs where no nans are present. Nans start appearing after roughly 2000 steps (which takes about 4 hours).

@Hazarapet I don't know if you had seen this, but inde

[2020-12-11 09:14] liuxufenfeiya commented on #45590
i had already try the way,but it was no use

[2020-12-11 09:18] stefan-falk commented on #45594
@ravikyram I am going to try and build a small example but the nature of this issue does not make this easy, as nobody seems to know where this issue is coming from (if one follows what people post e.g. in https://github.com/tensorflow/tensorflow/issues/33721).

At this point I think it would help if somebody could help us track the source of this issue down on our side. E.g. somebody who has _any

[2020-12-11 09:27] maxvfischer commented on #43478
@lgeiger I'm thinking about using @Liu-Da workaround together with `ModelCheckpoint`:

[code]
Have I understood `ModelCheckpoint` correctly, that after `model.fit()`, the variable `model` will be the best model (because `save_best_only=True` in `ModelCheckpoint`)?

[2020-12-11 09:37] rani-pinchuk commented on #41739
Thank mihaimaruseac - you write that the Eigen benchmark files are not imported. Does this mean that the downloads in https://www.tensorflow.org/install/lang_c are built without them? But then, why do the .zip files contain that GPL license in the THIRD_PARTY_TF_C_LICENSES ?

If the DLL is built without the Eigen files, then the GPL license is not applicable for this download, and should be remove

[2020-12-11 09:53] motionlife opened #45598 "Please let tf.keras.metrics.MeanIoU support y_pred from logits"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.4.0
- Are you willing to contribute it (Yes/No): Yes

**

[2020-12-11 10:06] abattery commented on #45460
What I succeeded is the following conversion procedure. However, the shared saved model are based on version 2.2 so I would recommend you to create a new saved model based on tf 2.4.0 rc version.

[code]

[2020-12-11 10:15] Rulino commented on #45579
Thanks for creating issue, thought about doing so as well according to my yesterdays question on SO ([Question](https://stackoverflow.com/questions/65231630/understanding-average-sum-pooling-padding-in-keras/65237472)). This happened to me in colab with TF 2.3 as well as at windows 10, python 3.6 with TF 2.2 and 1.14, seem to be a bug across all versions, can somebody confirm?

[2020-12-11 10:21] willemavjc commented on #44485
@mihaimaruseac Any update? (Quite concerned here as we did an upgrade to 3.9 for some various reasons such Python's core enhancements but totally zapped out the TensorFlow's upper bound T_T)

[2020-12-11 10:35] abattery commented on #45572
I saw the error log is coming from TOCO converter, which is being deprecated and TFLite has a significant conversion improvements based on a new MLIR converter in the recent TensorFlow Lite version. Could you try it with the recent TF version?

[2020-12-11 10:42] rmothukuru commented on #39645
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-12-11 11:00] Steph71 commented on #45336
actually I now had a closer look into the created wheel ... and the files are actually there ...
trying to figure out why they haven't been installed in the first place ... could'nt reproduce ...

I have to appologize for creating the noise here ... not sure what happended

[2020-12-11 11:00] #45336 closed

[2020-12-11 11:04] rmothukuru commented on #45433
@soroosh-rzh,
Can you please respond to the above comment. Thanks!

[2020-12-11 11:08] DachuanZhao commented on #41244
```TF Nightly 2.5.0-dev20201211``` raises a different error :
[code]

[2020-12-11 11:21] amahendrakar commented on #45582
Was able to reproduce the issue with TF v2.2, TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/253fc483f128e86c9b6dc3f3b8f886c8/45582-tf-nightly.ipynb). Thanks!

[2020-12-11 11:24] aliFrancis commented on #44568
I have found a very similar issue. Could this be linked in any way to the various discussions about Batch Normalization from 2018? e.g. http://blog.datumbox.com/the-batch-normalization-layer-of-keras-is-broken/ and https://github.com/keras-team/keras/pull/9965

My understanding was that this had been fixed in TF2, but looks like a very similar problem, relating to differences in behaviour of batch

[2020-12-11 11:31] eli-osherovich commented on #45573
@bhack
It is explicit already ('metic'), do you want to change it to another one?

[2020-12-11 11:32] king398 commented on #45590
Try upgrading your Duda version to 11.1

[2020-12-11 11:38] bhack commented on #45573
As mentioned in the reference ticket I meant "explicit" string in the context of:

So to pass an explicit metric strings not an automatically selected like "accurancy" or "acc".

[2020-12-11 11:45] Saduf2019 commented on #45422
@RD191295
Could you please refer to this isse and let us know if [this comment helps](https://github.com/tensorflow/models/issues/4864#issuecomment-407600939).

[2020-12-11 11:49] RD191295 commented on #45422
Problem is not about any object detection api failed to import.. I am running code on Nvidia gpu board with camera.. But when I run I get above mentioned error.. Still not able to find what this means... If I import object detection api it is working and I can able to import correctly but when I load my newly trained model it is not working.. I tested model on google colab it's working there but n

[2020-12-11 11:57] eli-osherovich commented on #45437
Please update the documentation too. Today it is exactly how Sequential is demonstrated (with kearas.Input):
https://www.tensorflow.org/api_docs/python/tf/keras/Sequential

[2020-12-11 12:13] smdshakeelhassan opened #45601 "Cannot convert numpy array to tensor in Image Data Generator"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: Yes
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 20.04
-   **TensorFlow installed from (source or binary)**: Installed using Lambda Stack
-   **TensorFlow version (use command below)**: 2.3.1
-   **Python version**: 3.8.5
-   **Bazel v

[2020-12-11 12:19] Cy-r0 commented on #45213
Thanks for the file.

In addition to that, I also had to fetch the .aar archive for tensorflow-lite-support from Jcenter manually, otherwise an error popped up, which I'm chalking up to some confict between the local module for tensorflow-lite and the remote module for tensorflow-lite-support:
[code]
With both modules installed locally, I was able to build and run the app.

Something interesting I

[2020-12-11 12:28] smdshakeelhassan commented on #45601
Found a very similar issue on stack overflow without solution [https://stackoverflow.com/questions/64978209/valueerror-when-trying-to-execute-model-fit-failed-to-convert-a-numpy-array/](here)

[2020-12-11 12:38] gioxc88 commented on #45592
Thank you for the answer!
I hope this can be solved soon.
If you need any test from my end please let me know.

@amahendrakar when you say you were able to reproduce the issue with TF v2.2, TF v2.3 and TF-nightly, does that mean that the issue is not present on TF v2.1?
Because if that is the case I can try to downgrade version while this is fixed.

Many thanks
Gio

[2020-12-11 12:43] pedro-r-marques opened #45602 "keras load_model Could not find matching function when compute_mask is used"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
https://colab.

[2020-12-11 13:32] francesco086 opened #45603 "BoostedTreesClassifier segmentation fault when evaluate or predict is called"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac Os X 10.15.7
- TensorFlow installed from (source or binary): binary (pip installed)
- TensorFlow version (use command below): tried with both 2.3.1 and 2.3.0
- Python version: 3.8.5
- CUDA/cuDNN version: running o

[2020-12-11 13:38] francesco086 commented on #45603
Further info. I now tried to run it inside docker python:3.8 and it works.
It seems to be an issue with Mac Os X.

I asked a colleague of mine (who also has a mac) to try the same and he got this error instead (again at the `.evaluate()` point):
[libprotobuf FATAL ./google/protobuf/arena_impl.h:160] CHECK failed: (limit_) >= (ptr_):
libc++abi.dylib: terminating with uncaught exception of type goog

[2020-12-11 14:04] amahendrakar commented on #45603
@francesco086,
I was able to run the code with TensorFlow v2.3 on Linux without any issues. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/1734a4115adbd4ac9ac526a10e45c805/45603.ipynb#scrollTo=BjqXqPiOEbUE&line=4&uniqifier=1).

Could you please try running the code in a new virtual environment and with TF v2.4.0rc4 or TF-nightly and check if you are facing th

[2020-12-11 14:19] MokkeMeguru commented on #39645
@akkiss
hello, i readed your code. (however, i'm not tf developer team, ) I think the problem will cause some problems.

- tf.nn.moments does not deal with multi-gpu (I think your result is the mean of single-gpus' results)
   see . https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/normalization_v2.py#L145-L188 (SyncBatchNorm Implementation, they don't use tf.nn.m

[2020-12-11 14:21] MokkeMeguru commented on #39645
@rmothukuru
where is "above workaround"?

[2020-12-11 14:37] francesco086 commented on #45603
Please read the message above yours - with Docker it worked. It is an issue on Mac Os X.

[2020-12-11 14:39] moonj94 commented on #45584
I don't have a colab link but here is my code snippet:
`F1,D,F2,KL=8,2,16,9`
`model = EEGNet(nb_classes = 3, Chans = chans, Samples = samples,
                        dropoutRate = 0.5, kernLength = KL, F1 = F1, D = D, F2 = F2,
                        dropoutType = 'Dropout')`
`checkpointpath = '/tmp/checkpoint.h5`
`checkpointer = ModelCheckpoint(filepath=checkpointpath, verbose=1,

[2020-12-11 14:53] soroosh-rzh commented on #45433
@bhack @rmothukuru I will reformulate the code and add a comment over my weekend! Please do not close this issue for now. Thanks

[2020-12-11 15:00] #45473 closed

[2020-12-11 15:13] akkiss commented on #39645
I'm not in tf developer team either, just ran into a similar issue. Strangely when I rewrote my model in tf.keras, the problem just vanished - since it's not what your code does it's not meant to be a workaround. As for tf.nn.moments, of course averaging over gpu instances is not mathematically correct, but does the job.

[2020-12-11 15:25] karimnosseir commented on #45213
@Cy-r0 Thanks for confirming.
You can visualize the model and check the ops using https://netron.app/

[2020-12-11 15:29] nafi90 commented on #45462
ERROR: Could not install packages due to an EnvironmentError: [Errno 2] No such file or directory: 'C:\\Users\\mkays\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python38\\site-packages\\caffe2\\python\\serialized_test\\data\\operator_test\\collect_and_distribute_fpn_rpn_proposals_op_test.test_collect_and_dist.zip'

Got this error while

[2020-12-11 15:39] #44788 closed

[2020-12-11 16:09] guillaumelorre28 opened #45604 "No gradients available error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.3.

[2020-12-11 16:35] MareSeestern commented on #43608
I got the same error. You have got a fix?

[2020-12-11 16:37] amahendrakar commented on #45423
@jaehochang92,
Thank you for the update. Glad its working now. Marking the issue as closed since it is resolved. Please feel free to reopen if necessary.

[2020-12-11 16:37] #45423 closed

[2020-12-11 16:51] Guthman opened #45605 "No documentation on how to access the ram:// filesystem of TPU's"
According to this comment there is support to access the RAM filesystem of TPU's: https://github.com/tensorflow/tensorflow/issues/32651#issuecomment-534685146

However, the documentation seems to be lacking information on the subject (although it's a bit hard to search, as the search term 'ram' (special characters are stripped) returns a lot of irrelevant results.

Is the documentation indeed miss

[2020-12-11 17:15] sathibault commented on #44622
This is still an issue on Windows 10 with versions 2.3.1 and 2.4.0-RC4 and CUDA 10.2.

[2020-12-11 17:16] shrikumaran commented on #43667
Hey can I work on this seems interesting
@scd75 can you post any sample data in the type you mentioned

[2020-12-11 17:25] Harsh188 commented on #45308
Hi, I'm willing to work on this issue. However, there are many issues at the moment with RTX cards running on CUDA 11.0. Some suggest that 11.1 works while 11.0 doesn't. Personally, I was facing issues even while using the TF docker container until I was facing issues even while using the TF docker container. I stumbled across an article by [lambda stack](https://lambdalabs.com/blog/install-tensor

[2020-12-11 17:55] impjdi commented on #37102
@lei522 I'm not familiar with the versions, but we removed `apply_mask` quite some time back.  Is it possible for you to try the latest code?

[2020-12-11 18:06] brychcy commented on #44403
At least in the case described in the bug report, the error message is annoying, but harmless,
because mentioned function _destroyer() is a No-Op as destroy_resource_fn of CapturableResourceDeleter is None for  StaticHashTable - actually almost always: looking through the tensorflow non-test sources, destroy_resource_fn seems to be always None except in code related to TensorRT.

So if you don't u

[2020-12-11 18:07] mihaimaruseac commented on #44278
This should be fixed now, right?

Please reopen if that is not the case.

[2020-12-11 18:07] #44278 closed

[2020-12-11 18:29] yair-ehrenwald opened #45607 "TFLM: Adding ported and optimized operations for CEVA-BX1"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu
- TensorFlow installed from (source or binary): source
- Tensorflow version (commit SHA if source): nightly
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): CEVA-BX1

I will be adding optimized operations for the CEVA-BX1 platform (later on for other CEVA platforms as well).

[2020-12-11 18:52] rsun-bdti opened #45608 "Micro: port op CAST from Lite"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- Tensorflow version (commit SHA if source): master
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Sparkfun Edge

**Describe the problem**
I am about to port The TF Lite kernel op CAST to TF Lite Micro.

**Please