[2022-08-10 08:03] aaronhsueh0506 commented on #55344
Hi,
I have same issue on ubuntu 18.04.

I try to follow the command on tensorflow.org
`cmake ../tensorflow_src/tensorflow/lite/c`
`cmake --build . -j`
And I get a libtensorflow_c.so in tflite_build folder.

But when I compile my main.cpp in my project, the error message like this issue, lots of undenfined reference.

Is this have any update?

[2022-08-10 08:28] mohantym commented on #57064
Hi @bogdantmm92 !
Work around is to use CNN instead of defaults one in the model part. Once you get the lite model using CNN upload it to assets  file.

Attached [gist ](https://colab.sandbox.google.com/gist/mohantym/52654626843322ed1d05d05fa857bdd0/mnist_tflite.ipynb)for reference.

[2022-08-10 08:52] tilakrayal commented on #19049
@chychen,
I tried to execute the code with the alternative approach and was not able to find any issues. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/075b2655358ab17e6dee4bc416985b50/untitled483.ipynb) and let us know if the issue still persists. Thank you!

[2022-08-10 09:02] chychen commented on #19049
uh... it has been 4 years... maybe we could just leave it? thanks.

[2022-08-10 09:05] mohantym commented on #57081
@qazx3113 !
Could you update the template to replicate this issue.
Attached relevant thread for reference. [1](https://github.com/tensorflow/models/issues/2675#issuecomment-415307387), [2.](https://github.com/tensorflow/models/issues/2676#issuecomment-421765031)
Thank you!

[2022-08-10 09:07] tilakrayal commented on #57076
@sachinprasadhs,
I was able to reproduce the issue on tensorflow v2.9, v2.8 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/0a8fb61d0a40155acd67311a1fdcf729/57076.ipynb).

[2022-08-10 09:12] mohantym commented on #57049
Hi @syy555 !
Could you share the steps followed along a minimum standalone code .
Thank you!

[2022-08-10 09:18] mohantym commented on #57055
Ok @wikstorm !
Thanks for the update. I also suggest to check step 2 in above [comment](https://github.com/tensorflow/tensorflow/issues/57055#issuecomment-1210272066) for windows machine. Please let us know whether it is resolved or not after your trial
Thank you!

[2022-08-10 09:19] tilakrayal commented on #19049
@chychen,
Could you please feel free to move this issue to closed status. Thank you!

[2022-08-10 09:23] Shinwazu opened #57082 "raise ValueError( ValueError: Given `time_step`: TimeStep( {'discount': array(1., dtype=float32),"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Bug

### Source

source

### Tensorflow Version

2.8

### Custom Code

Yes

### OS Platform and Distribution

MacOS

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memor

[2022-08-10 09:31] #19049 closed

[2022-08-10 09:56] aaronhsueh0506 commented on #54069
Hi, I have same issue for this.

My environment is
- Ubuntu 18.04
- Tensorflow 2.9
- GCC/G++ 7.5.0
- CMake 3.21.1

[2022-08-10 10:01] Hastyrush commented on #52357
Same issue with a Resnet based backbone feature extractor model initialized and trained from timm in pytorch. Pytorch > Onnx > Tensorflow PB with all minimal accuracy loss. Tflite FP32 and Dynamically quantized INT8 works fine as well, but statically quantized INT8 model totally fails with 0AP

[2022-08-10 10:21] lgeiger commented on #53766
It seems like this has been fixed in 4a98e2761646811d829f26038f5954ff44cb0f38 which is great! I verified that [this works correctly with TF 2.10.0-rc0](https://colab.research.google.com/drive/1bfI_Dx3zyoHkabJlHpNFnbDA9r9G5ffE?usp=sharing#scrollTo=1RDYCUwP4oW1).

[2022-08-10 10:21] #53766 closed

[2022-08-10 10:22] mohantym commented on #29635
Hi @maingoh !
You can also decide the fraction of memory usage now through below command.

[code]
Could we move this to resolved status now.

Thank you!

[2022-08-10 10:23] mohantym commented on #29635
Hi @maingoh !
You can also decide the fraction of memory usage now through below command.

import tensorflow as tf
tf.config.gpu.set_per_process_memory_fraction(0.75)
tf.config.gpu.set_per_process_memory_growth(True)
Could we move this to resolved status now.

Thank you!

[2022-08-10 10:57] gadagashwini commented on #57010
Hi @slyforce, I tested it on macOS Monterey Version 12.5. with CPU version of Tensorflow. I followed the instructions mentioned [here](https://developer.apple.com/metal/tensorflow-plugin/) to install Tensorflow. Thank you!

[2022-08-10 11:04] gadagashwini commented on #56998
I could able to reproduce the issue with CUDA 11.2 and CUDA 11.4, `tf.pow(2.0,13)==8191.996`. Thank you!

[2022-08-10 11:06] maxhgerlach commented on #57010
@gadagashwini, I see the same issue as OP, MacBook Pro 2021 with M1 Pro (aarch64), macOS 12.5.

TensorFlow is installed via the package `tensorflow-macos==2.9.2`, no `tensorflow-metal` needed.

The issue may very well be specific to arm64 (Apple Silicon). In that case you won't see it with an Intel CPU.

[2022-08-10 11:19] emailic commented on #40869
In the previous tf versions:
`data_aug_iter = val_ds.make_one_shot_iterator()`
`next_element= data_aug_iter.get_next()`

`# Running next element in our graph will produce a batch of images`
`for i in range(5):`
    `batch_of_imgs, label = tf.keras.backend.get_session().run(next_element)`
   ` img = batch_of_imgs[0]`

Now becomes (tf version 2.8.2) :
`iterator = iter(val_ds)`
`next_element = iterat

[2022-08-10 11:33] chengmengli06 commented on #56885
could you post your logs here?

[2022-08-10 11:56] chengmengli06 commented on #56885
![image](https://user-images.githubusercontent.com/31561586/183895075-37aa914f-0f93-472e-96bc-ccea39729bbd.png)
My output.

[2022-08-10 12:07] #56884 closed

[2022-08-10 12:16] bogdantmm92 commented on #57064
Hey @mohantym that doesn't seem to help. The app crashes when initializing the interpreter.
Commenting out this line `options.setUseNNAPI(true)` fixed the crash but not the predictions.
I get the same random predictions. Could it be something in the format of the pixels fed to the tflite model?

[2022-08-10 12:44] mohantym commented on #57064
@bogdantmm92 !

What is your Android and TF version. I am not getting crash here in Android Chipmunk and Pixel 5 in emulator or Also in Samsung Galaxy A20s.
I agree current TFlite model in asset not efficient , But it was better after uncommenting the CNN code snippet mentioned in above gist.

Thank you!

[2022-08-10 13:07] #25295 closed

[2022-08-10 14:01] ViktorKhLoopMe commented on #56698
@gowthamkpr Hello!
Here is code with model training and save
https://gist.github.com/ViktorKhLoopMe/54f5584f77c5c030c835f9678c02da8d

[2022-08-10 14:10] bogdantmm92 commented on #57064
Galaxy S22, Android 12.

`/org.tensorflow.lite.examples.digitclassifier E/AndroidRuntime: FATAL EXCEPTION: pool-3-thread-1
    Process: org.tensorflow.lite.examples.digitclassifier, PID: 5290
    java.lang.IllegalArgumentException: Internal error: Error applying delegate:
        at org.tensorflow.lite.NativeInterpreterWrapper.createInterpreter(Native Method)
        at org.tensorflow.lite.NativeI

[2022-08-10 14:11] ArthurBesse commented on #57061
@tilakrayal

Hm, I think I can't. `pickle.load` [does not have](https://docs.python.org/3/library/pickle.html#pickle.load) a suitable argument to pass `tf.saved_model.LoadOptions` .

Nothing changed.

I don't understand what you mean. My code saves the model to a file and then tries to load the model from the same file. So, even if the file is corrupted, I think it will be another subject for inve

[2022-08-10 14:46] mohantym commented on #57064
Ok @bogdantmm92 !
Thanks for the update.

@sachinprasadhs !
Could you look at this issue.

Thank you!

[2022-08-10 15:20] misterBart commented on #57043
Based on my last reply, a work-around could be:
[code]
I'm not very fond of this work-around though, the code is cleaner and more efficient if the output order is correct in the .tflite.

[2022-08-10 17:12] kfrancischen commented on #56997
Hey @innat, I don't think this is considered a bug in Tensorflow and using `tf.keras.models.load_model` can solve the problem. Do you mind closing this issue?

[2022-08-10 17:52] sachinprasadhs commented on #56998
@gilfree , I think the issue is specific to GPU, I was able to reproduce the issue on colab with GPU runtime.
But, when the inputs are changed to float64 precision, the results are as expected.
[Here](https://colab.sandbox.google.com/gist/sachinprasadhs/200530442d713455b7bfa3bf1958a0d4/56998.ipynb) is the attached gist for reference.

[2022-08-10 18:12] maxhgerlach opened #57083 "Header tensorflow/tsl/platform/stack_frame.h not included with tf-nightly pip package"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

v1.12.1-79472-g4aaefec710e 2.11.0-dev20220810

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response

[2022-08-10 18:14] petered opened #57084 "TensorFlow-lite: "ValueError: Invalid tensor size" when output is a zero-size tensor"
**Summary - when the output has zero-size, I get "ValueError: Invalid tensor size" when trying to retrieve the output value - even when the output is supposed to have zero-size.**

### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **MacOS Monterrey 12.2.1**

- TensorFlow installation (pip package or built from source): **`2.8.1`, installed with `conda install -c

[2022-08-10 18:31] innat commented on #56997
@kfrancischen yes, you're right. It's not actually bug. Closing it. But would you please take a look into kaggle issue, I mentioned earlier.  Thanks.

[2022-08-10 18:31] #56997 closed

[2022-08-10 18:34] sachinprasadhs commented on #57076
Thanks for opening this issue. Development of keras moved to separate repository https://github.com/keras-team/keras/issues

Please post this issue on keras-team/keras repo.
To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2022-08-10 19:19] sachinprasadhs commented on #57002
@eeDigitalSeal , Could you please refer the comment [here](https://github.com/tensorflow/tensorflow/issues/56863#issuecomment-1210173883) about gradient computation behavior in forward and backward mode.

[2022-08-10 19:34] piyushmundhra opened #57086 "Installation of tflite-model-maker 0.4.1. takes forever"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tflite-model-maker==0.4.1

### Custom Code

No

### OS Platform and Distribution

Ubuntu 18.04.3

### Mobile device

_No response_

### Python version

3.7.13

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

###

[2022-08-10 19:44] VictoriaGriffith commented on #56873
Thanks for your answer @cantonios ! Can you also check this open issue for `torch.special.xlog1py` https://github.com/pytorch/pytorch/issues/80770? This bug has been confirmed and PyTorch community are working actively to fix it. So I guess both TensorFlow and PyTorch are consistently wrong on this special case.

[2022-08-10 19:47] piyushmundhra commented on #57086
Update: installing the nightly version works fine and I am able to import searcher. I wonder why this installation was easily successful and not the stable package version?

[2022-08-10 19:59] matteospanio commented on #57070
@osayes thanks for your response.
I think you probably got the point, but if this is the reason, shouldn't it be a better behaviour from tensorflow library to execute everything  without touching the GPU at all instead of use the GPU memory to execute the program mainly on the CPU? And why all that noise in the output? If my GPU is too unperformant I would expect an output like: "detected GPU is t

[2022-08-10 20:38] osayes commented on #57070
what you said makes sense, I'm just guessing based on this situation that tensorflow didn't use gpus with low compute capability in the early years
you can try to use different code to test whether tf would use gpu, like:
with tf.device("/gpu:0"):
  do some computation(e.g. large matrix mul)

you can also use pytorch to test whether it is a environmental problem

[2022-08-10 21:33] #56630 closed

[2022-08-10 21:50] sachinprasadhs commented on #56796
It is due to the default epsilon value in the `l2 normalize`, basically `x_inv_norm` will be having the value of in the return statement here https://github.com/tensorflow/tensorflow/blob/v2.9.1/tensorflow/python/ops/nn_impl.py#L644-L700.
Below is the debug details for the same which shows the details
<img width="1244" alt="image" src="https://user-images.githubusercontent.com/73069040/184025073-0

[2022-08-10 22:07] sachinprasadhs commented on #57039
@code4lala , The linked PR has been merged, could you please close the issue. Thanks!

[2022-08-10 22:10] gilfree commented on #56998
As I have stated in the bug description this is indeed CUDA only issue.

Any kind of floating point number that is in use today should easily be able to represent this computation - be it float16, bfloat16, float32, nvidia's tensor float (see here: https://en.wikipedia.org/wiki/Bfloat16_floating-point_format and here: https://oletus.github.io/float16-simulator.js/ for simulating this computation).

[2022-08-10 23:07] #56839 closed

[2022-08-10 23:07] #44173 closed

[2022-08-11 01:06] never-to-never opened #57093 "low-level compilation"
Before tensorflow 2.0, tensorflow was a static graph mode, and it was necessary to build a graph and get an HLO IR. XLA accepts computational graphs defined in HLO for goal-independent optimization. Then, the xla backend performs further HLO-level optimizations. After that, xla backend converts the HLO IR to LLVM IR, which performs low-level optimizations and generates machine code. After tensorfl

[2022-08-11 01:10] DevelopDaily opened #57094 "How to fix the "undefined reference" problem for the TF Lite? A suggestion."
When [CMakeLists.txt](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/CMakeLists.txt) is used to build a shared library of TF Lite, it is impossible to link with it because of the "undefined reference" problem.

Those "undefined reference" objects reside on the `tensorflow` main branch, but the following macro `populate_tf_source_vars` has never populated a single line of main

[2022-08-11 02:55] tdat97 commented on #36465
if you use "Process" of multiprocessing.. Maybe you will face error such as "CUDA_ERROR_NOT_INITIALIZED".
(tf 2.x)
I did.

Generally, we used to code this such as
"model.fit(train_x, train_y, epochs=30, validation_data=...)"
OR
"
with tf.GradientTape() as tape:
    yhat = model(...)
    loss = loss_fn(...)
    grad = tape.gradient(...)
    opt.apply_gradients(...)
 "

I think This Way make Trainse

[2022-08-11 03:13] mohantym commented on #57086
Hi @piyushmundhra !

To use a specific branch, Please follow below syntax
[code]
Thank you!

[2022-08-11 04:31] PatriceVignola opened #57095 "Pluggable Device crash since H2D copies optimization"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf-nightly-cpu 2.10.0.dev20220604

### Custom Code

No

### OS Platform and Distribution

Windows

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model an

[2022-08-11 05:17] penpornk commented on #57095
@PatriceVignola Thank you for opening the issue!
@sagunb Your commit https://github.com/tensorflow/tensorflow/commit/0416617ecae7fda2c646aeb53fa911ed6d129547 seems to have caused the issue. Any thoughts on why this happened? Thank you!

[2022-08-11 05:17] tilakrayal commented on #57082
@Shinwazu,
I do not have access to the link you have provided. Could you please provide the required permissions to view the files or the colab gist. Thank you

![image](https://user-images.githubusercontent.com/81610181/184068763-69fd6c15-6c44-42b7-86fb-741acf1b89f4.png)

[2022-08-11 05:19] buihoanganhtuan commented on #44394
The behavior is still reproducible on tensorflow 2.9.1. Is there any plan to fix it?

[2022-08-11 05:23] ibiglari opened #57097 "CMake and Bazel documentations for compiling tensorflow-lite are incomplete and/or incorrect"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.11.0

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 22.04 LTS

### Mobile deice

_No response_

### Python version

3.10

### Bazel version

N/A

### GCC/Compiler version

gcc-arm-8.3-2019.03-x86_64-aarch64-linux-gnu

### CUDA/cuDNN version

N/A

### GPU

[2022-08-11 05:40] Shinwazu commented on #57082
tilakrayal,

I'm online now and I have given you full access to the files.

https://code-with-me.global.jetbrains.com/9Q5ZV_wWhCtt14FRmGi_cw#p=PC&fp=711A53B05D7D46196DCF40C0C122FBE9EAFCAF76EA142EF150833CBDB7FAFD60

Thank you.

On Thu, Aug 11, 2022 at 7:17 AM tilakrayal ***@***.***> wrote:

[2022-08-11 06:22] hosford42 commented on #57003
@mohantym I'll take a look tomorrow. Thank you, and sorry for the delayed response.

[2022-08-11 06:22] mohantym commented on #57084
Hi @petered !
Thanks for reporting this bug.

@sachinprasadhs !
Could you look at this issue. Attached gist in [2.8](https://colab.sandbox.google.com/gist/mohantym/6986c3f342476564f621163a07d14388/git_57084.ipynb#scrollTo=ic7RKz9P6Vlk), [2.9](https://colab.sandbox.google.com/gist/mohantym/651cd01c29233329bd040be21ac611b6/git_57084.ipynb#scrollTo=j-o8PBSIejNA) and [nightly](https://colab.sandbox.go

[2022-08-11 06:28] cl886699 opened #57098 "Take the middle segment of the model as the a model, got this error ValueError: Graph disconnected:"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

binary

### Tensorflow Version

tf2.6

### Custom Code

Yes

### OS Platform and Distribution

windows11 && centos7

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-08-11 06:34] syy555 commented on #57049
val tfFile = TFModelLoader.vipTfLite!!
        val buffer: ByteBuffer = FileInputStream(tfFile).use { inputStream ->
            val fileChannel: FileChannel = inputStream.channel
            fileChannel.map(FileChannel.MapMode.READ_ONLY, 0, tfFile.length())
        }
        val tflLte = Interpreter(buffer)
        currentInput = inputList
        val inputArray = Array(1) { Array(inputList.size)

[2022-08-11 06:35] tilakrayal commented on #57034
@zhenhao-huang,
Thanks for opening this issue. Development of keras moved to another [repository](https://github.com/keras-team/keras/issues).

Could you please post this issue on keras-team/keras [repo](https://github.com/keras-team/keras/issues).
To know more please refer:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2022-08-11 06:43] aravinthk00 commented on #41482
I also froze on same issue , anyone help me in this error . I  am very new this field so could you give clear solution

(myenv) C:\Users\Downloads\Function-level>python main.py --config config\config.yaml --data_dir=data\ --embedding ELMo
Using TensorFlow backend.
2022-08-11 10:41:35.159324: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library cudart6

[2022-08-11 07:01] sandeep5193 opened #57099 "TensorFlow Lite in Play Services issue"
**System information**
- Android Device information (use `adb shell getprop ro.build.fingerprint`
  if possible): Lenovo/A6020a46/A6020a46:5.1.1/LMY47V/A6020a46_S105_161124_ROW:user/release-keys
- TensorFlow Lite in Play Services SDK version (found in `build.gradle`): play-services-tflite-java:16.0.0-beta03
- Google Play Services version
  (`Settings` > `Apps` > `Google Play Services` > `App detai

[2022-08-11 07:06] sushreebarsa commented on #57018
@gadagashwini I was able to replicate the issue on colab, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/14f4bea51869bf20aa763003ea046ce0/57018.ipynb) for reference. Thank you!

[2022-08-11 07:07] sushreebarsa commented on #57036
@CharlesbrownK
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thank you!

[2022-08-11 08:07] #40166 closed

[2022-08-11 08:07] #56910 closed

[2022-08-11 09:14] #57083 closed

[2022-08-11 09:22] sushreebarsa commented on #57029
@fuzzyswan I tried to replicate the issue on colab, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/a990f04103f573131267fa8878f773b2/57029.ipynb) and confirm the issue.
Thank you!

[2022-08-11 09:23] misterBart commented on #57097
Without analyzing too deeply, I see in your first log:
`arm-linux-gnueabihf-g++ -march=armv7-a -mfpu=neon-vfpv4`
Which seems to imply you want to build for the Armv7a, which is a 32-bits platform, with hardware floating-point support. Yet in your 'Standalone code to reproduce the issue' I see you use `aarch64-linux-gnu-`, which is a 64-bits Arm compiler for the Armv8 platform. This may explain you

[2022-08-11 09:38] ibiglari commented on #57097
I need both 32bit and 64 bits of the library, hence trying both commands.

[2022-08-11 09:42] code4lala commented on #57039
@sachinprasadhs Thanks for your help! But the content in the Simplified Chinese documents is still the old one, how long will it take effect?

[2022-08-11 09:53] 486946 opened #57101 "crash on R2.2 libtensorflowlite_c.so and config threadnum >1"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf2.2, tf2.8

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and mem

[2022-08-11 10:42] mohantym commented on #57097
@ibiglari !

Thanks for pointing it out.
Bazel build is passing with Bazel 5.0.0 , Master and GCC 7.3.1 .  Attached [gist](https://colab.sandbox.google.com/gist/mohantym/143ce898b4e9cab7ed43b8b7c0c5f420/tensorflow-ranking.ipynb#scrollTo=tlf7PgzQ2JtS) for reference.

Not Sure about CMake documentation part. But it is failing in Colab too with [2.8](https://colab.sandbox.google.com/gist/mohantym/5fb

[2022-08-11 10:42] slyforce commented on #57010
What @maxhgerlach reflects the current situation. (replying to remove the awaiting response tag)

[2022-08-11 10:47] ibiglari commented on #57097
@mohantym Thanks for your update. I am using Bazel 5.1.1 (as I was getting an error message that project workspace specifies 5.1.1 needs to be used).

[2022-08-11 11:07] #56923 closed

[2022-08-11 11:20] joker-eph commented on #57083
We likely need to wait for the next nightly package to confirm it is solved, will track that!

[2022-08-11 11:21] mseth10 commented on #56088
@elfringham I see that we have removed `pad_op_test_{cpu/gpu}` from the arm skip-test list. While these tests pass on master branch, they are [failing](https://github.com/tensorflow/tensorflow/actions/workflows/arm-ci.yml?query=branch%3Ar2.10) on r2.10 branch. Is there a fix on master branch that needs to be backported to r2.10 branch for these tests?

[2022-08-11 11:24] TamirRozenfeld opened #57103 "Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found"
### Issue Type

Bug

### Source

source

### Tensorflow Version

tf2.9.1

### Custom Code

No

### OS Platform and Distribution

windows 10

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current Behaviour?

[code]

###

[2022-08-11 11:47] mohantym commented on #57099
Hi @sandeep5193 !
You can check instructions in this [document](https://www.tensorflow.org/lite/performance/gpu#tensorflow_lite_interpreter) to check available GPU delegate. You can also build your GPU delegate through below Bazel commands.

I am doubtful about NNAPI implementation with Android 5.1 (Android 8.1 minimum requirment). You can check with other available delegate ( I see Snapdragon 616

[2022-08-11 12:07] #56866 closed

[2022-08-11 12:35] mohantym commented on #57103
Hi @TamirRozenfeld
Quick fix is to download 'cudart64_110.dll' from [dll-files.com ](https://www.dll-files.com/cudart64_110.dll.html) and paste it into cudatoolkit/bin file location.

Can you confirm that you are using Cuda 11.2 and CudNN 8.1 and followed instructions from [here](https://www.tensorflow.org/install/pip#windows). (Updated one)

Thank you!

[2022-08-11 12:50] maxhgerlach commented on #57083
Thanks for getting on this so quickly 👍

[2022-08-11 13:12] sandeep5193 commented on #57099
Hi @mohantym,

The document you have linked talks about using the delegate through org.tensorflow:tensorflow-lite-gpu module, while I am inclined with using them through [Play Services](https://www.tensorflow.org/lite/android/play_services). TensorFlow Lite available in the Google Play services API doesn't have any way to check if the device is compatible for GPU delegate.

[2022-08-11 13:28] sushreebarsa commented on #57052
@elina-israyelyan
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thank you!

[2022-08-11 14:29] sushreebarsa commented on #57080
@gadagashwini I was able to replicate the issue, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/46d1d6938099e024cd59d5d4ed0ad7b7/tf_dataset_npy_iterator.ipynb#scrollTo=Qqgt7tesWhlg) here. Thank you!

[2022-08-11 14:51] sheepmaster commented on #57099
We're not recommending to use the `CompatibilityList` class with TensorFlow Lite in Google Play services, because the list is a static copy built into the SDK, whereas the GPU delegate can get updated over time, so compatibility might actually change. (Also, currently the `CompatibilityList` class is bundled into the static GPU delegate SDK, so depending on it would include a full copy of the GPU

[2022-08-11 14:56] sandeep5193 commented on #57099
Thanks for clarifying.

[2022-08-11 15:05] TamirRozenfeld commented on #57103
"Quick fix is to download 'cudart64_110.dll' from [dll-files.com ](https://www.dll-files.com/cudart64_110.dll.html)and paste it into cudatoolkit/bin file location." It's doesn't work,

After I've seen your response I followed the instructions from [here](https://www.tensorflow.org/install/pip#windows) i still have the same problem

[2022-08-11 15:20] sconde opened #57105 "cmake build is not installing library"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

master

### Custom Code

No

### OS Platform and Distribution

Ubuntu 20.04.4 LTS

### Mobile device

_No response_

### Python version

3.8.5

### Bazel version

_No response_

### GCC/Compiler version

9.4

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No

[2022-08-11 16:05] yatbear commented on #25707
Seeing a similar error in `scalars_demo`:
[code]

Googlers, see b/239742608.

[2022-08-11 16:06] gowthamkpr commented on #56677
Closing this issue as it has been answered. Thanks!

[2022-08-11 16:06] #56677 closed

[2022-08-11 16:16] jarussell opened #57106 "Numpy version error compiled with API 0x10 installed 0xf"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.9.1

### Custom Code

Yes

### OS Platform and Distribution

Debian Bullseye in Docker on an M1 Mac (linux/aarch64 build)

### Mobile device

_No response_

### Python version

3.10.6

### Bazel version

5.1.1

### GCC/Compiler version

gcc (Debian 10.2.1-6) 10.2.1 20210110

[2022-08-11 16:21] jarussell commented on #57106
I also get a bunch of deprecation warnings about packages being added as data instead of as packages. I don't have the full log because it got cut off, but I have a list of some of the packages:

[code]

[2022-08-11 16:26] #56599 closed

[2022-08-11 16:27] mohantym commented on #57103
Hi @gadagashwini !
Could you look at this issue.
Thank you!

[2022-08-11 16:29] jarussell commented on #57106
I don't know how to determine what version of Numpy `0x10` nor `0xf` are actually referring to. I am running with `numpy==1.22.4`.

[2022-08-11 17:59] Shinwazu commented on #57082
The access link keeps changing. Please mail me or comment when you want access so that I can provide you with the latest link. I hope you understand.
Kind regards,
SHINWAZU

[2022-08-11 18:09] tgsmith61591 commented on #46073
Would be very interested in this as well..

[2022-08-11 18:17] sachinprasadhs commented on #56894
Thanks for reporting the issue.
`cluster_resolver` is basically designed for TPU and GPU only, it is not intended to without any of those hardware.
But even with the changes which you have suggested, it may fail in the below condition
[code]

above value should be set to
`os.environ['CUDA_VISIBLE_DEVICES'] = ""`
or
`os.environ['CUDA_VISIBLE_DEVICES'] = '-1'`
To use CPU only.

[2022-08-11 18:30] sachinprasadhs commented on #57097
Could you please follow the steps from the Gist [here](https://colab.sandbox.google.com/gist/sachinprasadhs/25db573d51c15793a65a79c413a2d643/cmake-build-56271.ipynb#scrollTo=zYk5jJpab7h_) and let us know if you're still facing an issue. Thanks!

[2022-08-11 18:33] sachinprasadhs commented on #57039
It will take few days to take effect, but there will be one more update with the translation with the description as well apart from the code changes submitted in the above PR.

[2022-08-11 18:57] sachinprasadhs commented on #57006
Have you tried with float conversion instead of int8 conversion to see if it is failing on both the cases.

[2022-08-11 19:07] #56927 closed

[2022-08-11 19:07] #56899 closed

[2022-08-11 20:04] EngrStudent commented on #33131
It is crazier than you think.  It sometimes works.
I find I can't assign individual elements for things that were created as blocks, such as the weights for a single conv2d filter, but if I create a tf.Variable of the right size, then assign does work.

[2022-08-11 21:07] #56903 closed

[2022-08-11 22:03] Young768 commented on #56393
The issue was fixed after using the ```dtensor.DTensorDataset``` API.

[2022-08-11 22:03] #56393 closed

[2022-08-11 22:06] ibiglari commented on #57097
@sachinprasadhs I can run those commands to create the library on Ubuntu, but the result is a library for the CPU architecture that's executing those commands, and not for ARM.

[2022-08-11 23:08] mihaimaruseac commented on #14425
CC @angerson @learning-to-play as there is some testing to use clang for building.

[2022-08-11 23:17] sachinprasadhs commented on #57033
Could you please confirm the documents against english version and let us know if the steps are same. Thanks!

[2022-08-11 23:23] sachinprasadhs commented on #56519
for Half `dtype`, some of the tests are failing to due deviation of precision errors more than the defined threshold level.
Is is possible for you to run the op in `float32` and then cast the output to half `dtype`.

[2022-08-11 23:49] petered opened #57111 "Cannot assign variable in Tensorflow-Lite: "incompatible with expected resource""
### Summary

I cannot get variable assignment to work in TFLite.

I've made a minimal-possible graph for just doing a cumulative sum.

 When I try to save the graph as a TFLite model, I get

[code]

### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Monterey, 12.2.1
- TensorFlow installation (pip package or built from source): Conda, from `conda install -c

[2022-08-12 01:31] github-actions[bot] opened #57115 "Issue created for Rollback of PR #56572: Support Cudnn Runtime Fusion (Conv+Bias+Relu6/Elu/LeakyRelu)"
Merged PR #56572 is rolled back in 5fc2e25f66cfc46d451add785a43ecb663501387.
    Please follow up with the reviewer and close this issue once its resolved.

[2022-08-12 02:23] kaixih commented on #57115
@reedwm Can you advise why this was rolled back?

[2022-08-12 02:58] gadagashwini commented on #56962
Hi @Blackbird95x, While I was trying to replicate issue, I am getting an error `ModuleNotFoundError: No module named 'deep_Knowledge_Tracing'`. Kindly provide more information to reproduce the issue. Thank you!

[2022-08-12 03:02] gadagashwini commented on #56967
Hi @7NoteDancing, I am unable to reproduce the reported issue. I could able to save and load model. Please find the gist [here](https://colab.research.google.com/drive/1LLAQHZyPe2HNQXJucFQ-VOGTJ_YD3ywA?usp=sharing). Thank you!

[2022-08-12 04:38] mohantym commented on #57049
@syy555 !
Thanks for the update.

@sachinprasadhs !
Could you look at this issue.

Thank you!

[2022-08-12 05:09] mohantym commented on #57101
Hi @486946 !
Thanks for bringing it up.
Just curious whether you checked in 2.9/2.10  too. It would be great to have above stand alone code as Colab gist to replicate this behavior.

Thank you!

[2022-08-12 06:30] vighneshhegde opened #57118 "Is there a way to convert (or transfer weights from) CuDNNLSTM to TFLiteLSTMCell?"
### 1. System information

- OS Platform and Distribution: Ubuntu 18.04 (and Android for inference)
- TensorFlow installation: pip
- TensorFlow library: version 1.14.0

### 2. Code

I wish to use `CuDNNLSTM` for a bidirectional LSTM model in order to make use of GPU for training. A short code snippet is below.

[code]
However, this architecture is too heavy to deply on android using TFLite. Also,

[2022-08-12 06:35] tilakrayal commented on #57070
@matteospanio,
As suggested could you please try to use `tf.device("/gpu:0")` and also TensorFlow 2.9 is compatible with CUDA 11.2 and please take a look at tested build [configurations](https://www.tensorflow.org/install/source#gpu) and please check if you are facing the same issue.

Version | Python version | Compiler | Build tools | cuDNN | CUDA
-- | -- | -- | -- | -- | --
tensorflow-2.9.0 | 3.

[2022-08-12 06:37] tilakrayal commented on #57093
@never-to-never,
Looks like this is a duplicate of issue #57040. Could you please close this issue, since it is already being tracked there? Thank you!

[2022-08-12 07:00] tilakrayal commented on #57098
@cl886699,
I was able to reproduce the issue without any issues/errors. Could you please create a virtual environment with the latest stable v2.9 and test your code again. Thank you!

[2022-08-12 07:40] mohantym commented on #57111
Hi @rthadur !
Could you look at this issue. Attached gist in [2.8](https://colab.sandbox.google.com/gist/mohantym/cf370a7953cf2d44ab72f9d005467383/test_tflite_fails_with_stateful_op.ipynb), [2.9](https://colab.sandbox.google.com/gist/mohantym/a6e3c3384c3f4ef8aefbd035d3d853a0/test_tflite_fails_with_stateful_op.ipynb#scrollTo=6-RNc-Bu_HC-) and[ nightly](https://colab.sandbox.google.com/gist/mohantym

[2022-08-12 08:02] bmharper opened #57120 "Hexagon delegate (tflite) functionality broken after rebuilding project"
I had the hexagon delegate working fine for weeks, but yesterday I clicked "Rebuild Project" in Android Studio, and now I cannot get it working again.
I have scrubbed every place on my disk where I can find the files `libhexagon_interface.so` and `libtensorflowlite_hexagon_jni.so`, and made sure that the only copy of those files present on my computer is one that I downloaded and extracted manuall

[2022-08-12 08:05] cgebbe commented on #57057
@tilakrayal : Just to understand you correctly: Do you mean the example ran through? If yes, this is expected.

However, in the second test asserts that the output is close to the `wrong_result`, whereas it should be close to the `correct_result`. Maybe that clears things up?

[2022-08-12 08:19] sabrinakall-imtf opened #57121 "CHECK failed: file != nullptr"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.6.0

### Custom Code

No

### OS Platform and Distribution

MacOS Monterey Version 12.0.1 (21A559)

### Mobile device

_No response_

### Python version

3.8.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

#

[2022-08-12 08:26] 486946 commented on #57101
2.9/2.10 is same as above.
thanks

[2022-08-12 09:04] gadagashwini commented on #56973
Hi @cidzerda-unity, You need to install `MSYS2`. [Install MSYS2](https://www.msys2.org/) for the bin tools needed to build TensorFlow. Make sure all the pre-required software installed. Kindly follow the instructions mentioned [here](https://www.tensorflow.org/install/source_windows). Thank you!

[2022-08-12 09:41] gadagashwini commented on #57103
Hi @TamirRozenfeld, Use Conda to install CUDA and cuDNN, which takes care the path setting.

[code]

[2022-08-12 09:44] MariumAZ commented on #56997
@kfrancischen in my case the `tf.keras.models.load_model` doesn't solve the pb, for saving the model and loading it with tf 2.9 everything works fine but when I switch to tf 2.6 it is not the case .. for more info I am using the subclassing API to build the model.

[2022-08-12 09:53] RickSanchezStoic opened #57123 "tf.math.ceil supported dtypes"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Bug

### Source

source

### Tensorflow Version

tf 2.9.1

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU mod

[2022-08-12 09:54] tilakrayal commented on #57106
@jarussell,
This looks like numpy version not playing well with v2.9. Could you please try installing the tensorflow with `numpy ~= 1.20` also please try to use `sudo` while installing. Thank you!

[2022-08-12 10:00] mohantym commented on #57003
@hosford42 !
Please give us an update after your trial.
Thank you!

[2022-08-12 10:00] Deepchavan1 commented on #57123
Hey there, can I contribute to this issue?

[2022-08-12 10:23] osayes opened #57124 "Error:Could not compute output KerasTensor... when saving a model"
when saving model, identical layer instance in different level leads to an error

**code to reproduce**:
[code]

**the code below works correctly**:
[code]

there is no error as long as not saving, I wonder if it is a bug, or some mechanism causes that

platform: win10
tf version: 2.7.0
python version: 3.9

[2022-08-12 10:27] TamirRozenfeld commented on #57103
I did
but the gpu isn't compatible
![image](https://user-images.githubusercontent.com/108065131/184336220-f40c8c7e-bdbf-46d5-998d-5775b098a480.png)
i have some missing files

[2022-08-12 10:33] maxhgerlach commented on #57083
tf-nightly 2.11.0.dev20220812 comes with the header file and that fixes the Horovod build

[2022-08-12 10:53] mohantym commented on #57120
Hi @bmharper !
Can you check below options and let us know.

1. Switch to 2.9/2.8 version of GPU delegates

 2. You also root your device to resolve this issue.

[code]
 Attached relevant [thread](https://github.com/tensorflow/tensorflow/issues/39024#issuecomment-624433684) for reference.

Thank you!

[2022-08-12 10:59] tilakrayal commented on #57082
@Shinwazu,
I  was facing the same issue and do not have access to the link you have provided. Could you please provide the required permissions to view the files or the colab gist. Thank you

[2022-08-12 11:08] vibhutisawant opened #57126 "Test //tensorflow/python/tools:saved_model_cli_test fails on s390x arch due to incorrect target_triple"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

Linux Ubunu 18.04

### Mobile device

NA

### Python version

3.10.4

### Bazel version

5.1.1

### GCC/Compiler version

7.5.0

### CUDA/cuDNN version

NA

### GPU model and memory

NA

### Current Behaviour?

[code]

### Sta

[2022-08-12 11:28] tilakrayal commented on #57040
@never-to-never,

The compilation realtion of TensorFlow graphs using XLA is as below.

We can use `XLA` to compile and run parts of a `TensorFlow graph` at runtime.

By compiling models with `XLA`, we can generate high-performance code that can outperform Tensorflow's hand-written compute kernels, by applying optimizations such as automatic operator fusion.

There are three phases to JIT compilat

[2022-08-12 11:41] yinciki opened #57127 "Compile failed with c++17 using gcc"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf 2.7

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

3.6.8

### Bazel version

4.2.1

### GCC/Compiler version

8.3.1

### CUDA/cuDNN version

11.0/8

### GPU model and memory

Nvidia A100

### Curre

[2022-08-12 11:46] Shinwazu commented on #57082
tilakrayal,

https://gist.github.com/Shinwazu/3056cf83254bdc8a65249957f757f0b8

I'm providing a link to my github gist. I have written the sort of error
I'm dealing with. Please help!!!

Kind regards,
SHINWAZU

On Fri, Aug 12, 2022 at 12:59 PM tilakrayal ***@***.***>
wrote:

[2022-08-12 11:51] HectorSVAI commented on #39632
Getting now NotImplementedError: unable to open file: libtensorflow_io.so, from ... venv/lib/python3.10/site-packages/tensorflow_io/python/ops/libtensorflow_io.so: undefined symbol: _ZNK10tensorflow10FileSystem8BasenameEN4absl12lts_2021110211string_viewE'] on tensorflow gpu nightly 2.10

[2022-08-12 12:03] bmharper commented on #57120
Hi @mohantym,
I've tried 2.8.0 and 2.9.0 of the hexagon delegate, and I get the exact same error messages.
The GPU delegate runs without errors, but I specifically need the hexagon support.
My device is rooted, and I run with `setenforce 0`.
Like I said, I had this working for weeks.

[2022-08-12 12:10] mohantym commented on #57120
@bmharper !
Sorry for the inconvenience.

@sachinprasadhs !
Could you please look at this issue.

[2022-08-12 12:11] carlthome commented on #40457
Hmm, I also got tripped up on this now in 2.9.1. I'm using tf.data and return minibatches on the format `Tuple[Dict[str, tf.Tensor], Dict[str, tf.Tensor]]` with (features, targets).

Since that format "just works" with losses, metrics and optimizers, I expected it to also work for class_weight, but alas I need an additional `tf.data.Dataset.map(lambda features, targets: (features[input_key], targe

[2022-08-12 12:19] Hrayo712 opened #57128 "Incorrect output shape when using dilations and strides > 1 with depthwise conv"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.4 - v2.4.0-rc4-71-g582c8d236cb 2.4.0

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 18.04.6 LTS

### Mobile device

_No response_

### Python version

3.8.0

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.0

[2022-08-12 12:30] ravikairam opened #57129 "Tensorlow installation issue"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

latest

### Custom Code

Yes

### OS Platform and Distribution

windows

### Mobile device

_No response_

### Python version

3,9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

Intel

[2022-08-12 13:08] code4lala commented on #57033
@sachinprasadhs As your advice, I tried the following command according to the English version document ( https://www.tensorflow.org/lite/guide/ops_select?hl=en-us#cc ), and it worked!
[code]
So could you please update the Simplified Chinese document? Thanks!

[2022-08-12 13:35] jhabr opened #57131 "[Android]: Internal error: Cannot create interpreter: tensorflow/lite/core/subgraph.cc BytesRequired number of elements overflowed."
**System information**
- Android Device information (use `adb shell getprop ro.build.fingerprint`
  if possible):
  (1) google/sdk_gphone64_arm64/emu64a:13/TPB4.220624.004/8808248:userdebug/dev-keys
  (2) Nokia/TA-1012_00WW/NB1:9/PPR1.180610.011/00WW_5_15K:user/release-keys
- TensorFlow Lite in Play Services SDK version (found in `build.gradle`): 2.9.0
- Google Play Services version
  (`Settings`

[2022-08-12 13:53] mohantym commented on #57127
@yinciki !
Build seems to be passing with below command.
`bazel build --config=cuda --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" --cxxopt=-std=c++17 //tensorflow/tools/pip_package:build_pip_package`

Could you let us know from your end.
Thank you!

[2022-08-12 14:32] joker-eph commented on #57083
Thanks for confirming!

[2022-08-12 15:31] gowthamkpr commented on #56798
@Sanjay2802 Where did you post this issue? Did you post it in tf forum and stackoverflow? Thanks!

[2022-08-12 15:35] cidzerda-unity commented on #56973
We have a different solution now so this is no longer a problem.

[2022-08-12 15:35] #56973 closed

[2022-08-12 16:04] gadagashwini commented on #57129
Hi @ravikairam, You need to install Tensorflow with conda environment as suggested in the [Tensorflow site](https://www.tensorflow.org/install/pip#windows-native).

[code]
Thank you!

[2022-08-12 16:13] aljungberg commented on #56228
Just an idea but I don't think this looks right:

[code]

One of the shard indexes will be 0, so it won't use any sharding for that one generator. As a result, some of your training data is lost because the unsharded generator outputs the beginning of the sequence, rather than a strided subset.

[2022-08-12 16:14] hahouari commented on #56661
Try setting memory_limit when initializing a logical device.
In my case I have an RTX 3060 6GB and I had the same problem with `tensorflow==2.9.1`, so this worked:

[code]

Here is before setting memory_limit:

![Screenshot from 2022-08-12 16-26-25](https://user-images.githubusercontent.com/39862612/184389061-343b0f5c-6e51-4e36-a9e1-299bc5734e5d.png)

and after setting memry_limit to `5292MiB`:

!

[2022-08-12 16:25] petered commented on #57111
Ok, I found a workaround for this.  [See answer to stackoverflow question](https://stackoverflow.com/a/73337087/851699).

Basically, variable-assignment only works when loading the converter from:

[code]

Colab notebook with solution: https://colab.research.google.com/drive/1Ud3lcyweOIeHRUgsoqr7-kBxndZSSBcH

Up to you guys whether you want to close this ticket - two possible improvements that cou

[2022-08-12 16:44] sachinprasadhs commented on #57033
Thanks for the confirmation, I will update create a PR for the same.

[2022-08-12 16:46] impjdi commented on #39632
@HectorSVAI see yongtang's comment on May 27, 2020

[2022-08-12 17:08] utkarshgupta137 commented on #53160
Not stale

On Fri, Aug 12, 2022, 21:07 google-ml-butler[bot] ***@***.***>
wrote:

[2022-08-12 17:28] jarussell commented on #57106
Downgrading `numpy` to `1.21` worked. Thanks!

[2022-08-12 17:28] #57106 closed

[2022-08-12 17:56] reedwm commented on #57115
An internal test failed with the infamous "No algorithm worked!" error. I'll try to get an example to reproduce.

/CC @jlebar FYI (not sure why you weren't automatically CCed)

[2022-08-12 19:23] hans-ekbrand commented on #56963
requests is already installed:

[code]

[2022-08-12 19:26] creativesh commented on #42114
@utkrist-karky
Thanks, your approach worked for me.

[2022-08-12 19:35] kaixih commented on #57115
Also, cc @nluehr and @pjannaty for vis.

[2022-08-12 20:00] kcoul opened #57133 "[Win] fft2d tries to link m.lib"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-08-12 21:35] rposts commented on #56937
Hi @gowthamkpr - any insights appreciated - tx!

[2022-08-12 22:23] cl886699 commented on #57098
when update to tf2.7, it is working fine, thank you

[2022-08-12 22:23] #57098 closed

[2022-08-13 00:35] reedwm commented on #57115
The following reproduces the issue:

[code]

I tested on the internal build using CUDA 11.7 and cuDNN 8.3.2.

Also when creating this example, I noticed something weird in the PR: You call the function `RuntimeFusionEnabled` [here](https://github.com/kaixih/tensorflow/blob/543bf5b44ddf28f2af381892824b741001b83b84/tensorflow/core/grappler/optimizers/remapper.cc#L3350) in the `RequiresInferredShapes

[2022-08-13 01:12] mseth10 commented on #56088
@elfringham I have also tagged you in this PR for review of scripts to run non-pip tests in CI: https://github.com/tensorflow/tensorflow/pull/57113 . Thanks!

[2022-08-13 02:34] GabrielGlzSa commented on #46776
I am using a custom constraint with tf.reshape and it causes the error when using @tf.function.

https://colab.research.google.com/drive/1nD8j4j387lyPsrucTXw1wJoxUoPXM1nx?usp=sharing

[2022-08-13 06:00] mohantym commented on #57118
Hi @vighneshhegde !
1.x version are not supported any more. I was thinking of using get_weights then set_weights method to transfer the weights from CudNNLSTM to LSTMcell model.

Attached relevant [thread](https://medium.com/howtoai/model-surgery-copy-weights-from-model-to-model-a31b1dec7a7a) for reference.

Please let us know after your trial.

Thank you!

[2022-08-13 06:10] mohantym commented on #57131
Hi @jhabr !

Sorry for the inconvenience. Dynamic shape, Tensor and Batch size is not supported yet and work in progress feature .
Present work around is go with a fixed shape as you mentioned .

Thank you!

[2022-08-13 07:11] kaixih commented on #57115
Thanks for the investigation and the repro script.

Yes, the `FindContractionWithBiasAndActivation` should also include those checks. I think I misunderstood the behavior of the branch that calls `RequiresInferredShapes()`. I thought it can only affect a subgraph or a matched pattern but it actually will infer the shapes for the whole graph.

I reopened the https://github.com/tensorflow/tensorflow

[2022-08-13 07:45] creativesh commented on #1758
@mrry
Hi, would you please look at my issue and determin whether I use your approach in my problem as well ? I want to remove the decoding part from my network.

https://github.com/tensorflow/tflite-support/issues/870

[2022-08-13 08:25] innat commented on #56997
@MariumAZ Is it possible to share reproducible code?

[2022-08-13 10:38] nyngwang commented on #36968
no reply.

[2022-08-13 12:53] matteospanio commented on #57070
I verified I'm running CUDA version 11.2, cuDNN 8.1 and python 3.9 from conda environment, so Iìm running in the first tested configuration

running `tf.device("/gpu:0")` always returns this message:
[code]
I tried with a simpler matmul with matrices many different dimensions (of course I get also in this case the previuos noisy output and then it executes):
[code]
the task is always performed by

[2022-08-13 12:58] yinciki commented on #57127
Thanks. I tried but got the same error:
Traceback (most recent call last):
  File "/root/.cache/bazel/_bazel_root/75033a8ead962ac817396f45646bf4d8/execroot/org_tensorflow/bazel-out/k8-opt/bin/tensorflow/python/keras/api/create_tensorflow.python_api_keras_python_api_gen.runfiles/org_tensorflow/tensorflow/python/tools/api/generator/create_python_api.py", line 26, in <module>
    from tensorflow.pyth

[2022-08-13 16:42] #53115 closed

[2022-08-13 18:24] neel04 commented on #40366
Same here. any workarounds?

[2022-08-13 21:06] pangyuteng commented on #38924
`run_eagerly=False` saved the day. Thank you @guptapriya  @ybNo1 !!

Additional info on what I encountered provided below.
--

I have faced the similar issue when training a keras model in a single host 2-gpu environment. Aftering going through the helpful guidlines and adding usage of `tf.distribute.MultiWorkerMirroredStrategy`, `distributed_train_step`, `distributed_test_step` and swapping Keras

[2022-08-14 02:39] luliyucoordinate opened #57142 "Problem with constructor of tensor"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf2.9.1

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-08-14 06:18] #57093 closed

[2022-08-14 06:40] dibbla opened #57144 "TF2 run out of GPU memory when doing GradientTape.jacobian"
<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Source

source

### Tensorflow Version

tf 2.5

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memor

[2022-08-14 09:07] dibbla commented on #57144
One more thing, even after I comment all Conv layers, the jacobian still exceeds the GPU memory.

[code]

[2022-08-14 12:41] boroicamarius opened #57145 "[TF2] Trying to fit an array of dictionaries into my model as prediction or training data to a DenseFeatures layer"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

v2.9.0-rc2-42-g8a20d54a3c1 2.9.0

### Custom Code

No

### OS Platform and Distribution

Windows 11 Pro

### Mobile device

_No response_

### Python version

3.10.6

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

###

[2022-08-14 15:12] nyngwang commented on #36981
@BinyanHu Did you find any workaround for gradient-checkpointing that works?

[2022-08-14 15:52] NeilPandya opened #57146 "Build Failure re: Intel MKL (building with "--config=mkl" flag); Missing "mkl_cblas.h"?"
### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf 2.9.1

### Custom Code

No

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

5.1.1

### GCC/Compiler version

9.4.0

### CUDA/cuDNN version

CUDA 11.2, cuDNN 8.1

### GPU model and memory

RTX 2070 Super

### Current Behaviour?

[code]

[2022-08-14 19:18] yoeldr opened #57148 "tf.sparse.reduce_max should update the static shape"
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

source

### Tensorflow Version

tf 2.9.1

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model

[2022-08-14 19:49] jiunyen-ching commented on #20698
@MatanSandori I think this method will work only if the inputs are of the same shape?

[2022-08-14 21:46] iteal commented on #20866
As this issue was 4 years ago, I have since moved on and not using TensorFlow anymore, so you can close this ticket.

[2022-08-14 23:34] ImRobot777 opened #57149 "`Transformers` : Error while fitting TFBertForSequenceClassification model (via tensorflow-directml-plugin)"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tensorflow-cpu 2.9.1

### Custom Code

Yes

### OS Platform and Distribution

windows 11 PRO 64bit : 21H2

### Mobile device

_No response_

### Python version

3.8.13

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

tensorflow-directml-

[2022-08-15 02:12] mo979 commented on #57146
I think you haven't installed intel_mkl_ml dependencies. Could you find "mkl_cblas.h" file in your system?

[2022-08-15 03:16] cheyennee opened #57150 "update documentation of tf.abs"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Bug

### Source

source

### Tensorflow Version

TF2.4

### Custom Code

Yes

### OS Platform and Distribution

win11

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and mem

[2022-08-15 03:23] jingjing0327 commented on #56548
oh my god, I modified the model.  now the CPU load is 30%，thank you very much!

[2022-08-15 03:23] #56548 closed

[2022-08-15 04:42] Tharunika-21 commented on #57035
Yes. It worked  with the latest version. Thank you for your support!

[2022-08-15 06:10] HarisBalaji commented on #57148
Hi, @sushreebarsa if I want to be assigned an open issue, what can I do or how to do show my willingness?

[2022-08-15 06:23] HarisBalaji commented on #57150
hey,@tilakrayal I want to do contribution in this open issue. Can you assign me in this?

[2022-08-15 06:26] HarisBalaji commented on #57150
I also want to know how you will be assigned by google-ml-butler?
I am a beginner. Please help me.

[2022-08-15 07:02] cheyennee commented on #57150
I didn't assign to him😥 It seems to be automatically assigned by the system bot?

[2022-08-15 07:07] #56872 closed

[2022-08-15 07:07] #56957 closed

[2022-08-15 07:12] cheyennee commented on #57150
I dont know😥I am also a beginner, I just want to report this issue.

[2022-08-15 07:29] EgOrlukha commented on #34876
You can reduce weight of your Tensorboard callback by setting write_graph flag to False.
Source: https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/TensorBoard

In my case this helped, I just didn't need to analyze the full model graph.

[2022-08-15 07:46] cheyennee opened #57151 "tf.clip_by_value allows clip_value_min greater than clip_value_max"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

TF2.4

### Custom Code

Yes

### OS Platform and Distribution

win11

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No respo

[2022-08-15 07:48] wannianlou opened #57152 "how to add callbacks without using model.fit in tf2"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

tf2.2.0

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-08-15 08:15] davlhd commented on #46359
Is there any news on building tensorflow lite with xnnpack for webassembly?

[2022-08-15 08:26] cheyennee opened #57153 "The type of parameter 'device_type' in tf.config.list_logical_devices wrong"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Bug

### Source

source

### Tensorflow Version

TF2.4

### Custom Code

Yes

### OS Platform and Distribution

win11

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and mem

[2022-08-15 08:28] multiverse-tf commented on #46359
I think @Maratyszcza could shed more light on this. Thx!

[2022-08-15 08:31] cheyennee commented on #57153
Same problem is found in tf.config.list_physical_devices.
[code]

[2022-08-15 08:35] nyngwang commented on #492
@yselivonchyk Do you know how to do this in TF2?

[2022-08-15 09:04] bogdantmm92 commented on #57064
Attaching a [link](https://drive.google.com/file/d/1SumAwiVQx36fkbBwZ9zW8Mcg7_3PDiE7/view?usp=sharing) to the tflite model that crashes on Android.

[2022-08-15 09:07] #56945 closed

[2022-08-15 09:08] misterBart commented on #57097
A few months back I successfully used the following commands to build Arm64 libraries. Give it a try.

[code]

[code]

N.B. Back then I cloned the master branch, nowadays I would recommend to clone a stable branch (then you know what worked for you, instead of hoping that the master branch still works for you). E.g. `git clone --single-branch --branch r2.9 https://github.com/tensorflow/tensorflow

[2022-08-15 09:16] zhenhao-huang commented on #57034
tfmot don't support `+` sign，but support `tf.keras.layers.Add()`.

[2022-08-15 09:16] #57034 closed

[2022-08-15 09:48] TsinghuaTop opened #57154 "tensorflow c++ api crashed during inferencing on arm64, but same codes is running well on x86_64"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf2.6.5 or  tf2.9.1

### Custom Code

No

### OS Platform and Distribution

centos7  arm64

### Mobile device

no

### Python version

3.8.10

### Bazel version

3.7.2

### GCC/Compiler version

gcc (GCC) 7.3.1 20180303 (Red Hat 7.3.1-6)

### CUDA/cuDNN version

no

### GPU mod

[2022-08-15 10:04] alionkun commented on #42018
it's 2022 H2, any updates ?

[2022-08-15 10:12] bluetail14 opened #57155 "RuntimeError: Data adapters should be mutually exclusive for handling inputs in Streamlit"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

Yes

### OS Platform and Distribution

Windows 10 21H2

### Mobile device

_No response_

### Python version

3.9.12

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

Cuda 11.2.2/ cuDNN v8.1.0.77

### GPU model and

[2022-08-15 10:27] acebenson0704 opened #57156 "TFLite C API in Android: Select TensorFlow op(s), included in the given model, is(are) not supported by this interpreter"
<details><summary>Click to expand!</summary>

### Issue Type

Support

### Source

source

### Tensorflow Version

tf 2.9

### Custom Code

Yes

### OS Platform and Distribution

Windows 10

### Mobile device

Android API 31

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No respo

[2022-08-15 10:36] learning-to-play commented on #14425
@bani-intelaipg

[2022-08-15 11:16] HarisBalaji commented on #57150
Is the selection by system bot random?

[2022-08-15 11:20] HarisBalaji commented on #57150
Assignees - @tilakrayal
How you become assignee?
Please clear my doubt

[2022-08-15 11:29] jhabr commented on #57131
Hi @mohantym

Thanks for your answer. I was able to make it run. If someone else encounters this problem, here is one way how to solve this:

1. Train the original model with dynamic input size, e.g. `(1, None, None, 1)`
2. During conversion to TFLite model fix the size of the input tensor:

[code]
This will create a TFLite model with the following input details:

[code]

3. On _Android_ load the

[2022-08-15 12:07] #50616 closed

[2022-08-15 12:58] RachelLYY commented on #57049
Hi, I'm using kotlin to deploy the ai model, the code below also triggered SIGSEGV crash:
inputTensor?.let { input ->
            interpreter.run(input.tensorBuffer.buffer, outputTensor.buffer)
}
The crash log is:
org.tensorflow.lite.NativeInterpreterWrapper.run(NativeInterpreterWrapper.java:249)
org.tensorflow.lite.InterpreterImpl.runForMultipleInputsOutputs(InterpreterImpl.java:133)
org.tensorfl

[2022-08-15 14:04] Zahlii opened #57158 "Fitting with generators and sample weights crashes when batch size varies between steps with 3D output"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

MacOS 12.5

### Mobile device

_No response_

### Python version

3.7.3

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

-

### GPU model and memory

-

### Current Behaviour?

[2022-08-15 14:04] cheyennee opened #57159 "The type of parameter 'prefix' in tf.keras.backend.get_uid documentation wrong"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Bug

### Source

source

### Tensorflow Version

TF2.4

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model

[2022-08-15 14:07] #42410 closed

[2022-08-15 14:08] Zahlii commented on #57158
Interestingly, the following works (i.e. "normal" output instead of 3D)

    import numpy as np
    import tensorflow as tf

    x = np.random.random((200, 20, 20, 3)) * 10
    y = x.dot(np.random.random((3, 3))).sum(axis=(1,2,3))
    x = x.astype(np.uint8)
    print(x.shape, y.shape)
    model = tf.keras.Sequential()
    model.add(
    tf.keras.layers.Conv2D(
        filters=3,
        kernel_siz

[2022-08-15 16:26] elfringham commented on #56088
@mseth10 This should have been fixed by https://github.com/tensorflow/tensorflow/commit/c194d8cb4f1b76e1893523ec9bda5829d35bc829#diff-39eadfc771b57ef11bff67b85cc38a47b9c13ec203b145e3feaf556a43bdccb1 AFAIK - but maybe that is not suffficient.
This is the last of the tests that begins to fail with numpy>=1.23.0 but that is only being used by the ARM_Ci/ARM_CD actions. This is because there is no con

[2022-08-15 17:22] rikardn commented on #54235
Thanks for the suggestion. I will test this and get back with the results

[2022-08-15 17:22] Abdullah-208 opened #57160 "Error in spec = model_spec.get('efficientdet_lite0')"
I am making a custom object detection model.
[code]
When I run the above line of code it gives the following error.
AttributeError: module 'keras.api._v2.keras.mixed_precision' has no attribute 'experimental'
I am using the official tensorflow colab notebook's code (in Spyder(anaconda))

[2022-08-15 18:23] TsinghuaTop commented on #57154
when i edit source code to close MetaOptimizer::OptimizeGraph in
https://github.com/tensorflow/tensorflow/blob/6b54e9fa35d6261adae9565f18cde359003b551b/tensorflow/core/grappler/optimizers/meta_optimizer.cc#L606
like this
[code]

it is running ok.

[2022-08-15 18:27] nyngwang commented on #36330
@rmothukuru The link you provided is not related to the title. This thread is about GPU memory usage while the linked answers are about how to visualize computation graph of the given model.

[2022-08-15 18:38] Maratyszcza commented on #46359
AFAIK, the recent Emscripten SDK releases feature Bazel support, and everything should build out of the box. Look at the scripts in [https://github.com/tensorflow/tfjs/tree/master/tfjs-tflite](tfjs-tflite) for examples.

[2022-08-15 21:58] sirakiin commented on #57026
Hi @tc-wolf

I'm having 70c50e734eac50e67317614413da04ea53acd528 to fix the axes issue when input dimension is less than 4. Let me know if it works for you.

Thanks!

[2022-08-15 23:12] whatdhack opened #57162 "tensorflow.python.framework.errors_impl.UnknownError: JIT compilation failed. [Op:FloorMod]"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

Linux

### Mobile device

_No response_

### Python version

3.9.13

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.6.2

### GPU model and memory

_No response_

### Curre

[2022-08-16 02:01] cheyennee opened #57164 "filters can be set to float in tf.keras.layers.Conv1D"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

TF2.4

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_

[2022-08-16 02:10] cheyennee commented on #57164
Same problem is found in similar APIs:
tf.keras.layers.Conv1DTranspose
tf.keras.layers.Conv2D
tf.keras.layers.Conv2DTranspose
tf.keras.layers.Conv3D
tf.keras.layers.Conv3DTranspose

[2022-08-16 02:24] fuzzyswan commented on #57029
@sushreebarsa Yes, thank you for reproducing the issue on TF 2.9 and nightly!

[2022-08-16 02:36] cheyennee opened #57165 "tf.keras.layers.Dense documentation wrong"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Bug

### Source

source

### Tensorflow Version

TF2.4

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model

[2022-08-16 02:58] cheyennee commented on #57165
Same problem is found in these APIs:
tf.keras.layers.GRU

[2022-08-16 03:07] cheyennee commented on #57164
size can be set to float in tf.keras.layers.UpSampling1D. But size should be an integer written in documentation.
[code]
Above code works.

[2022-08-16 03:14] mseth10 commented on #56088
@elfringham I compared ARM CI/CD for master and r2.10 branches. Both install scipy 1.9.0 and numpy 1.23.2 . And both contain the fix that you mentioned. Still only r2.10 fails. Maybe something else is missing. For now we can skip the two tests in r2.10 .

[2022-08-16 04:11] tilakrayal commented on #20866
@tatianashp,
Could you please feel free to move this issue to closed status. Thank you!

[2022-08-16 04:47] mohantym commented on #55647
Hi @douzaikongcheng !
Re-opening as requested. Please provide a colab gist to help expedite the issue.
Thank you!

[2022-08-16 05:14] mohantym commented on #57127
Hi @sachinprasadhs !
Could you look at this issue.
Thank you!

[2022-08-16 05:18] mohantym commented on #57131
@jhabr !

You can format the input and output size through Firebase [ML kit](https://firebase.google.com/docs/ml-kit/android/use-custom-models) and [TF hub ](https://towardsdatascience.com/machine-learning-with-android-11-whats-new-e8c829e9452)model binding. Feel free to close this issue if it is resolved.

Thank you!

[2022-08-16 05:27] gadagashwini commented on #57058
Hi @AlbertoSinigaglia, Could you share the complete code snippet to reproduce the issue. Thank you!

[2022-08-16 05:52] mohantym commented on #57160
Hi @Abdullah-208 !
Could you provide a complete reproducible code to replicate the issue. I can not replicate in 2.8 version .
Attached relevant threads for reference . [Ref](https://discuss.tensorflow.org/t/attributeerror-module-keras-api-v2-keras-mixed-precision-has-no-attribute-experimental/11225/3?u=manas_mohanty) .

Thank you!

[2022-08-16 05:58] mohantym commented on #57155
Hi @bluetail14 !

Could you try again after removing  the all zero columns from your train and test dataset and let us know.
Attached relevant [thread](https://stackoverflow.com/a/61146190/11530462) for reference.

Thank you!

[2022-08-16 06:01] tilakrayal commented on #57121
@sabrinakall-imtf,
Could you please confirm if you are using X86 wheel without AVX. In that case we have already an open ticket, so it is better to add a comment there instead of having a new ticket:
#19584

If instead you want to have AVX TCG support in QEMU e.g. on M1 there is already an open ticket at:
https://gitlab.com/qemu-project/qemu/-/issues/164.

Also please take a look at this [issue1](

[2022-08-16 06:05] CohenAriel commented on #56311
I'd like to try implementing that.

[2022-08-16 06:28] burnpanck opened #57166 "AutoGraph cannot handle python 3.10's structural pattern matching"
### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.2

### Custom Code

No

### OS Platform and Distribution

macOS 12.5

### Mobile device

none

### Python version

3.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

none

### GPU model and memory

Apple's METAL (though unlikely to be relevant here)

### Current Behaviour?

[c

[2022-08-16 06:29] Dreamcouple commented on #45853
how to set that? in windows

[2022-08-16 06:30] mohantym commented on #57156
Hi @acebenson0704 !
Including Flex delegate option in CMake is still a pending Feature request as you pointed out.

You can build local flex delegate  C++ run time  environment using below command.
`bazel build -c opt --config=monolithic tensorflow/lite/delegates/flex:tensorflowlite_flex
`

From Android perspective, You can build your AAR files using sh command and declare Select ops dependency in

[2022-08-16 06:33] gadagashwini commented on #56885
Hi @chengmengli06, I tried with Tf 2.9.1 and CUDA 11.4.

[code]

[2022-08-16 06:39] tilakrayal commented on #57124
@osayes,

Thank you for opening the issue! This is an issue with `Sequential` models, where they will essentially assume that any layer can be traced with a an input matching the layer's dtype. This is an issue hitting quite a few `preprocessing` layers (though due to some refactoring it looks like StringLookup is newly affected in 2.8).

For now, the fix suggested above, use a `keras.Input(..., d

[2022-08-16 06:50] tilakrayal commented on #57128
@Hrayo712,
TensorFlow v2.4 is not actively supported. Could you please update TensorFlow to the latest stable version v2.9.0 and check if you are facing the same issue. Thank you!

[2022-08-16 06:53] tilakrayal commented on #57133
@kcoul,
This issue will move to closed status once the respected PR is merged. Thank you!

[2022-08-16 06:55] #23192 closed

[2022-08-16 06:55] cheyennee opened #57167 "tf.nn.conv2d error message is inconsistent with documentation"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

TF2.4

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_

[2022-08-16 06:55] tilakrayal commented on #57142
@luliyucoordinate,
This issue will move to closed status once the respective PR is merged. Thank you!

[2022-08-16 07:09] Abdullah-208 commented on #57160
Hi @mohantym!
The link to the colab is https://colab.research.google.com/github/khanhlvg/tflite_raspberry_pi/blob/main/object_detection/Train_custom_model_tutorial.ipynb

[2022-08-16 07:27] gadagashwini commented on #57127
Hi @yinciki, By default, build TF in C++ 17 mode.
Take a look at this reference [link](https://github.com/tensorflow/tensorflow/blob/master/.bazelrc#L334). Thank you!

[2022-08-16 07:30] gadagashwini commented on #54294
Hi @guizili0, By default, build TF in C++ 17 mode.
[code]
For more information refer this [link](https://github.com/tensorflow/tensorflow/blob/master/.bazelrc#L334). Thank you!

[2022-08-16 07:32] guizili0 commented on #54294
@gadagashwini thanks, is this from 2.10 release? Or just in TF master.

[2022-08-16 07:34] zzq96 opened #57169 "how to clear tf.function's cache"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

binary

### Tensorflow Version

tf 2.8.2

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No re

[2022-08-16 07:35] gadagashwini commented on #57103
Hi @TamirRozenfeld, Looks like CUDA version incompatibility with GPU cards,
Try,
`conda install -c conda-forge cudatoolkit=11.0 cudnn=8.0`

Thank you!

[2022-08-16 07:45] cheyennee opened #57170 "Inconsistent tf.gather_nd behavior on cpu vs gpu"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

TF2.4

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_

[2022-08-16 07:45] eelcoder opened #57171 "LeakyRelu in Tensorflow lite with the Hexagon Delegate not supported"
When using a tflite model (8-bits quantized via TensorFlow lite conversion framework) that includes the activation function "LeakyRelu", the Hexagon delegate from tensorflow framework cannot perform the DNN inference on the whole graph, but rather it falls back to the CPU/XNNPack delegate. This is due to the fact that 'LeakyRelu' operation is not supported by the Hexagon Delegate (confirmed in Ten

[2022-08-16 07:52] tilakrayal commented on #57149
@ImRobot777 ,
I ran the code and faced a different error, please find the gist [here](https://colab.research.google.com/gist/tilakrayal/95a3caf0a8542cb9fbe169d891a07e2b/untitled491.ipynb) and share all dependencies to replicate the issue or share a colab gist with the reported error. Thank you!

[2022-08-16 07:55] #47711 closed

[2022-08-16 07:55] #41280 closed

[2022-08-16 07:57] cheyennee commented on #57170
Same problem is also found in tf.gather.
[code]
The results is {'err_cpu': 'Error:indices[0,0] = 76 is not in [0, 1) [Op:GatherV2]', 'res_gpu': <tf.Tensor: shape=(1, 222, 8, 1, 1), dtype=float32, numpy=
array([[[[[0.]],
         [[0.]],
         [[0.]],
         ...,
         [[0.]],
         [[0.]],
         [[0.]]],
        [[[0.]],
         [[0.]],
         [[0.]],
         ...,
         [[0.]]

[2022-08-16 08:05] bmharper commented on #57120
OK... an update for posterity:

I finally managed to get the NNAPI delegate working, so I no longer need hexagon support.
The key thing that I was doing wrong, was calling `options.setUseNNAPI(true)`.
Instead, the correct thing to do is just this:
[code]

[2022-08-16 08:05] #57120 closed

[2022-08-16 08:12] mohantym commented on #57160
@Abdullah-208 !
Installation was taking a lot  of time with this below code snippet.
[code]
so changed to
[code]
Attached resolved [gist](https://colab.sandbox.google.com/gist/mohantym/9414890aa9932b426a01999ff0f7dd78/model-maker-object-detection-for-android-figurine.ipynb#scrollTo=wnqktl45PZRy) for reference.

For raspberry inference , Could you give a try the instructions from this [document](ht

[2022-08-16 08:22] elfringham commented on #56088
Ah, OK, it looks like this commit is also needed then https://github.com/tensorflow/tensorflow/commit/c1f68309986a4a7105c55545eac92b8b0f5917ab

[2022-08-16 08:22] Abdullah-208 commented on #57160
When I tried running the below code snippet it showed an error.
[code]
The error it gives is
ERROR: pip's legacy dependency resolver does not consider dependency conflicts when selecting packages. This behaviour is the source of the following dependency conflicts.
tensorflowjs 3.19.0 requires packaging~=20.9, but you'll have packaging 21.3 which is incompatible.
tensorflowjs 3.19.0 requires protob

[2022-08-16 08:37] mohantym commented on #51799
Sorry @mihaimaruseac ! I accidentally assigned you while assigning myself.

[2022-08-16 08:39] cheyennee commented on #57170
Problem is found in tf.keras.losses.sparse_categorical_crossentropy.
[code]
The results is {'err_cpu': 'Error:Received a label value of -56 which is outside the valid range of [0, 3).  Label values: -56 -47 [Op:SparseSoftmaxCrossEntropyWithLogits]', 'res_gpu': <tf.Tensor: shape=(2,), dtype=float32, numpy=array([nan, nan], dtype=float32)>}.
CPU throws an error, while GPU runs.

[2022-08-16 08:46] bluetail14 commented on #57155
I have images in my train and test datasets,x_train and x_test, and 1 and 0 as labels in y_train and y_test. so I cant really remove the 0 labels?

[2022-08-16 08:59] cheyennee opened #57172 "Inconsistent tf.losses.mean_squared_error on cpu vs gpu"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

TF2.4

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_

[2022-08-16 09:07] Hrayo712 commented on #57128
@tilakrayal

Just verified that the same behavior is present on TF v2.9.1

[2022-08-16 09:09] cheyennee opened #57173 "Inconsistent sparse_categorical_crossentropy on cpu vs gpu"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

TF2.4

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_

[2022-08-16 09:23] cheyennee opened #57174 "tf.nn.embedding_lookup result on cpu inconsistent with gpu"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

TF2.4

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_

[2022-08-16 09:27] tilakrayal commented on #57152
@wannianlou,
To expedite the trouble-shooting process, could you please provide a complete code you are trying to execute. Please try to add the callabacks as mentioned below.

[code]

Also take a look at this doc [link](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/TensorBoard) which delivers the information and try to execute the code in the latest stable `version2.9` as `v2.2` i

[2022-08-16 09:27] cheyennee commented on #57174
Same problem is found in tf.scatter_nd.
[code]
'''
The result is {'err_cpu': 'Error:indices[0] = [-107, -249] does not index into shape [3,1,12,64] [Op:ScatterNd]', 'res_gpu': <tf.Tensor: shape=(3, 1, 12, 64), dtype=float32, numpy=
array([[[[0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         ...,
         [0., 0., 0., ..., 0., 0.,

[2022-08-16 09:51] mohantym commented on #57171
Hi @eelcoder !
Could you also provide a minimal reproducible code .
Thank you!

[2022-08-16 10:05] wannianlou opened #57175 "how to use tfrecord data(dict format) (tf.data.dataset) in distribute training?"
<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Source

source

### Tensorflow Version

tf2.2.0

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_

[2022-08-16 10:10] tilakrayal commented on #57123
@RickSanchezStoic,
The PR has been assigned for reviewing and once it is merged this issue will move to closed status. Thank you!

[2022-08-16 10:12] wannianlou commented on #57175
def make_dataset_for_distribute_train(self, all_paths):
   dataset = tf.data.TFRecordDataset(all_paths)
   dataset = dataset.map(self.parser, num_parallel_calls=tf.data.experimental.AUTOTUNE)
   dataset = dataset.map(self.make_feed_dict,num_parallel_calls=tf.data.experimental.AUTOTUNE)
   padding_dict = {"a": [20], "b": [None], "c": [30],"d": [13]}

   dataset_for_train = dataset.padded_batch(self

[2022-08-16 10:15] mseth10 commented on #56088
@nitins17 @penpornk can you please cherry-pick this commit into r2.10

[2022-08-16 10:15] cheyennee commented on #57153
https://tensorflow.google.cn/api_docs/python/tf/config/list_logical_devices#args
The 'string' constraints should be deleted from the description of device_type. For example, (optional) Only include devices matching this device type.

https://tensorflow.google.cn/api_docs/python/tf/config/list_physical_devices#args
The 'string' constraints should be deleted from the description of device_type as we

[2022-08-16 10:22] tilakrayal commented on #57061
@ArthurBesse,
I am unable to reproduce the reported issue. I was able to save and load model. Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/491ca7985664503535700229d6362d39/57061.ipynb). Thank you!

[2022-08-16 10:32] AlbertoSinigaglia commented on #57058
The code with which I initially encountered the error message is pretty long since it was a GAN, however I'm able to reproduce the error also with the following code:
[code]
In addition to this, there is also the fact that SimpleRNN does not work on M1 GPU, as reported here: https://github.com/tensorflow/tensorflow/issues/56082

[2022-08-16 10:40] #57160 closed

[2022-08-16 10:41] Abdullah-208 commented on #57160
@mohantym!
thanks for your help!
Problem is solved!

[2022-08-16 10:55] mohantym commented on #57174
Hi @chunduriv !
Could you look at this issue. Attached gist in [2.8](https://colab.sandbox.google.com/gist/mohantym/4c35b3703512e2dc9f6cd20ad150e0b8/git_57174.ipynb#scrollTo=hlamhCnGOVzW), [2.9](https://colab.sandbox.google.com/gist/mohantym/8e9b10b8fc8d6c7d12a907cd2a120fb2/git_57174.ipynb#scrollTo=hlamhCnGOVzW) and [nightly](https://colab.sandbox.google.com/gist/mohantym/4ebca5065a7bee9ed272a9564

[2022-08-16 10:57] sushreebarsa commented on #57035
@Tharunika-21 Thank you for the update!
Closing this issue as it is resolved in the latest version. Please feel free to reopen the issue if you still have a concern.
Thank you!

[2022-08-16 10:57] #57035 closed

[2022-08-16 10:59] tilakrayal commented on #57082
@Shinwazu,
This issue is not related to tensorflow. It is more related to tensorflow-agents. Could you please try to post this issues in tensorflow-agents repo for the assistance. Thank you!

[2022-08-16 11:07] OllyJ918 commented on #51590
I had to do the following for it to work, I must have installed nightly builds and it resulted in mismatches, but this worked for me:

pip install tflite-model-maker==0.4.1
pip install tflite-support==0.4.1

I think I had a nightly version of tflite-support which was causing problems on writing the metadata to the model.

[2022-08-16 11:07] tilakrayal commented on #57150
@cheyennee,
It was already mentioned in `math_ops.py` where all the arithmetic operations were included for dtype `int8`. Could you please take a look at the link below.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/math_ops.py

Thank you!

[2022-08-16 11:09] tilakrayal commented on #57165
@cheyennee,
Thanks for opening this issue. Development of keras moved to another [repository](https://github.com/keras-team/keras/issues).

Could you please post this issue on keras-team/keras [repo](https://github.com/keras-team/keras/issues).
To know more please refer:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2022-08-16 11:14] tilakrayal commented on #57057
@cgebbe,
Thanks for opening this issue. Development of keras moved to another [repository](https://github.com/keras-team/keras/issues).

Could you please post this issue on keras-team/keras [repo](https://github.com/keras-team/keras/issues).
To know more please refer:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2022-08-16 11:14] nanteby commented on #9966
On redhat 9.0 I used the following.
yum install libibverbs-devel

[2022-08-16 11:27] vulkomilev commented on #57173
Hi,
Please the error msg:'err_cpu': 'Error:Received a label value of -8 which is outside the valid range of [0, 3). .Here is a fixed version
`
results = dict()
import tensorflow as tf
try:
  try:
    with tf.device('/CPU'):
      arg_0_0 = 1
      arg_0_1 = 2
      arg_0 = [arg_0_0,arg_0_1,]
      arg_1_0_0 = 0.05
      arg_1_0_1 = 0.95
      arg_1_0_2 = 0
      arg_1_0 = [arg_1_0_0,arg_1_0_1,arg_

[2022-08-16 11:28] Abdullah-208 opened #57177 "Error while exporting efficientdet_lite0 model to tflite format"
I have trained a custom object detection model using tflite-model-maker using efficientdet_lite0 architecture but when I try to export the model in tflite format using below code snippet
[code]
It gives the below given error
[code]
I am using google colab!

[2022-08-16 11:38] tilakrayal commented on #57169
@zzq96,
Could you please try to execute the below mentioned to clear the  `tf.function` cache.

`self.call._stateful_fn._function_cache.primary.clear()`

`self.call = tf.function(self.call.python_function)`--That will clear everything; you may want to copy over input_signature and other `tf.function` options if applicable. Thank you!

[2022-08-16 12:26] mohantym commented on #57177
Hi @Abdullah-208 !
Thanks for reporting . We are already tracking this bug here in this issue #57174 . Could you post your comment there.
Thank you!

[2022-08-16 12:32] mohantym commented on #57177
Thank you!

[2022-08-16 12:33] Abdullah-208 commented on #57174
I have trained a model using using tflite-model-maker
but cant export it in tflite format using the below given code snippet
[code]
I am getting this error
[code]
Note: I am using google colab!

Any solution or alternative?

[2022-08-16 12:51] Abdullah-208 commented on #56970
I am currently facing this issue.
any solution or alternative?

[2022-08-16 12:51] #57177 closed

[2022-08-16 13:11] larawehbe commented on #41482
Hi, Check the version of TensorFlow on google colab. it might be TensorFlow version issue

[2022-08-16 13:13] kun-lu20 commented on #44713
Hi All,

I've run this test case on TF v2.9.1 on s390x and found the cause of `GetTargetVectorRegisterByteSize()` returning 0 is that the code passes `""` as the value of cpu string parameter to LLVM function `createTargetMachine()`. This works for Intel, but on s390x we need to pass a specific CPU name (such as `"z13"`) to this argument, since only CPU models newer than z13 can support vector fac

[2022-08-16 13:19] rolfvandam commented on #56970
I've switched to a different platform for object detection (YOLOv5 which is pytorch based).

[2022-08-16 13:27] Abdullah-208 commented on #56970
@rolfvandam actually I am training a custom object detection model to use it in android application.
I have already trained the model but can't export it in tflite format!

[2022-08-16 13:31] cheyennee commented on #57173
I know there is something wrong with arg_0_0 and arg_0_1. But what I care about is that cpu and gpu handle these error values differently. 🥺

[2022-08-16 13:34] cheyennee commented on #57173
I know there is something wrong with arg_0_0 and arg_0_1. But what I care about is that cpu and gpu handle these error values differently. 🥺

[2022-08-16 13:41] cheyennee commented on #57165
Thanks for reminding. I have open this issue on keras repo. 🙂

[2022-08-16 13:44] cheyennee commented on #57150
Get it. Thanks. I will close this issue👌

[2022-08-16 13:44] #57150 closed

[2022-08-16 13:46] tilakrayal commented on #57165
@cheyennee,
Could you please feel free to move this issue to closed status. Thank you!

[2022-08-16 13:48] modem7 opened #57179 "Bazel - Download from ... returned 404 Not Found"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

Docker - condaforge/mambaforge-pypy3:4.13.0-1

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

5.1.1

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No respo

[2022-08-16 13:48] #57165 closed

[2022-08-16 13:53] falk-stefan commented on #45202
The issue seems still to be a thing (2.9.1)?

[2022-08-16 13:55] #50487 closed

[2022-08-16 13:55] #56981 closed

[2022-08-16 13:55] #56984 closed

[2022-08-16 13:55] Whrothus commented on #56928
@multiverse-tf Do you need something else ?

[2022-08-16 14:00] ppham27 commented on #30418
Sorry for the trouble. I have pretty limited time these days, but if you have a repro in colab, I might be able to play with it over the next couple of weeks.

[2022-08-16 14:03] Bahar-BM opened #57180 "openCL crash in models converted by the newer versions of TF (e.g. TF 2.9)"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installation (pip package or built from source): source
- TensorFlow library (version, if pip package or github SHA, if built from source): TF 2.8 - TF 2.9 - TF Nightly

### 2. Code

We have implemented a small tool (with a comprehensive ReadMe) to reproduce the mentioned issue. He

[2022-08-16 14:10] sidml opened #57181 "Segmentation fault (core dumped)"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

binary

### Tensorflow Version

tf 2.6

### Custom Code

Yes

### OS Platform and Distribution

Linux 5.4.0-1089, 18.04.1-Ubuntu SMP

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

###

[2022-08-16 14:54] mihaimaruseac commented on #54294
Master and TF 2.10 will both support C++17 (that is, you can compile code in C++17 from both `master` and `r2.10` branches). I just forgot to close this issue when we landed the fix, my bad.

[2022-08-16 14:54] #54294 closed

[2022-08-16 14:55] #56969 closed

[2022-08-16 15:13] hanaa-rft commented on #52845
I've tried `Tensorflow 2.3.1 ` and I still get
`F tensorflow/core/lib/monitoring/sampler.cc:42] Check failed: bucket_limits_[i] > bucket_limits_[i - 1] (0 vs. 10)
qemu: uncaught target signal 6 (Aborted) - core dumped`
Any suggestions would be great - thanks.

[2022-08-16 15:16] TimCargan commented on #56423
Hi @jszaday, sorry for the delay.

I have tested with `2.10.0rc0` and `2.10.0rc1` and the issue seems to be persisting. I have tested on configurations with both 1 and 2 A6000's and with 32G and 64G of ram, it always seemed to fail at the same point. I also tried explicitly distributing dataset as per your example code but that still has the same issue.

[2022-08-16 15:39] stephenonethree commented on #52845
Looks like this problem also comes up if you want to run the GCP Deep Learning Container gcr.io/deeplearning-platform-release/tf-gpu.2-9 on an M1 Mac since it has Tensorflow. The error message is:

[code]

[2022-08-16 16:04] vighneshhegde commented on #57118
Hi @mohantym , thanks very much for your response!

I have tried manualy transferring the weights (i.e., "model surgery"), but I must be missing something like a transpose operation or some other thing because the results don't come out right. The [documentation](https://docs.w3cub.com/tensorflow~1.15/lite/experimental/nn/tflitelstmcell) I found for TFLiteLSTMCell mentions a transpose operation bu

[2022-08-16 16:49] Abdullah-208 commented on #56970
@rthadur !
have you found anything to solve this problem?
I need the solution ASAP!

[2022-08-16 17:12] aravinthk00 commented on #41482
tensorflow 1.15 need for in my project , that's why used that version only comfortable. please give me a solution

[2022-08-16 17:22] tc-wolf commented on #57026
@sirakiin That looks perfect!  I tested with the rminimum reprex and that works.  I'll test with a larger model and then should be good to close.

[2022-08-16 17:32] nigelparsad commented on #49202
Error still persists in tensorflow-macos=2.9.2 and tensorflow-metal=0.5.0.

Error occurred while attempting to run inference using a Tensorflow 2 version of the Mask R-CNN deep learning neural network architecture for instance segmentation:

2022-08-16 04:06:15.497243: F tensorflow/core/framework/tensor.cc:728] Check failed: IsAligned() ptr = 0x2d5a5cf60

Machine is an M1 Max MacBook Pro.

Message

[2022-08-16 17:55] huzq85 commented on #21698
hello, @aselle , thank you for your comments! I think it makes sense but I ran the quantized tflited model on my (Android) phone and the inference speed is still slow. I tried both on Tensorflow 2.8.1 and 2.9.1, the results of the quantized version is slower than the one without quantization. My question is, how could I enable ARM NEON intrinsic when I ran the tflite model? Any comments are apprec

[2022-08-16 18:00] davi000015 opened #57183 "TensorRT conversion: tensorflow.GraphDef exceeds maximum protobuf size of 2GB"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

tf 2.8

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memor

[2022-08-16 18:42] tc-wolf commented on #57026
Confirmed that this works with the non-toy-example / larger model!

[2022-08-16 18:42] #57026 closed

[2022-08-16 18:59] sachinprasadhs commented on #57010
Thanks for reporting the issue. I was able to reproduce the behavior in Tensorflow 2.9.2 in MaCOS M1 chip.

[2022-08-16 19:03] sushreebarsa commented on #57145
@boroicamarius
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thank you!

[2022-08-16 19:32] sushreebarsa commented on #57148
@gadagashwini I was able to replicate the issue, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/b2ff803a62aabc03c8f8603b3215f87a/57148.ipynb) here. Thank you!

[2022-08-16 19:41] obuseme commented on #39253
Can you give a code snippet that shows how to correct for this please?  Thanks

[2022-08-16 19:47] rgov opened #57185 "Please publish official wheels for Apple Silicon"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

macOS 12

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memor

[2022-08-16 20:30] haozha111 commented on #56804
@LukeBoyer could you take a look on this issue? Thanks!

[2022-08-16 20:41] haozha111 commented on #42157
TF Lite converter has already supported dynamic shapes. If your model has dynamic input shapes and you didn't specify a dimension size when building and converting your model, the converter will use 1 as the default dimension size. However, at inference time you can use Interpreter's ResizeInputTensor API to change the input shape of the model:
https://github.com/tensorflow/tensorflow/blob/2d13fc5

[2022-08-16 21:22] nitins17 commented on #56088
Cherrypicked https://github.com/tensorflow/tensorflow/commit/c1f68309986a4a7105c55545eac92b8b0f5917ab into [r2.10](https://github.com/tensorflow/tensorflow/commits/r2.10)

[2022-08-16 21:41] sun51 commented on #51681
TF result is consistent with other framework (e.g. Jax). you can find the definition of max grad here  https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/math_grad.py#L234

[2022-08-16 21:41] #51681 closed

[2022-08-16 22:55] #56207 closed

[2022-08-16 22:57] ibiglari commented on #57097
@misterBart

Finally had a chance to try it, and worked like a charm for ARM64. Thanks for that :)

Then I tried to apply the same method to get the 32bit library, so I changed the toolchain to arm-linux-gnueabihf. Looks like XNN doesn't like to be compiled for it. I tried both `arm` and `armhf` as target processor, but in both cases below message was produced:

[code]

If I understand it correctl

[2022-08-16 23:28] whatdhack opened #57189 "Is there a way to see MatMul tensor shapes in TensorBoard or elsewhere ?"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

Linux

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

#

[2022-08-17 00:14] ranjeetkgupta commented on #50178
@jrabary. I am trying to run a similar scenario . multiple nodes , each node with multiple gpus. In this case do we run multiple workers(==no of gpus on that node) on each node, or just one worker on each node? From the documentation and examples, its not clear what happens when 1 worker has multiple gpus, or should we run multiple process in that case.

[2022-08-17 00:15] ranjeetkgupta commented on #49014
@chenxinhua. Were you able to figure this out ?? I am trying to run a similar scenario . multiple nodes , each node with multiple gpus. In this case do we run multiple workers(==no of gpus on that node) on each node, or just one worker on each node? From the documentation and examples, its not clear what happens when 1 worker has multiple gpus, or should we run multiple process in that case.

[2022-08-17 02:04] zzq96 commented on #57169
hi, i have tried it.
although the cache of tf.function is cleared, but the memory isn't cleared:
<img width="1232" alt="image" src="https://user-images.githubusercontent.com/39215341/185018451-b8d8822e-fc6e-4de1-a915-c47a6e63e88d.png">

[2022-08-17 02:24] osayes commented on #57070
[code]

to see if it will use gpu

[2022-08-17 03:42] mohantym commented on #38513
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-08-17 03:43] mohantym commented on #57120
@bmharper !
Thanks for sharing your fix.

[2022-08-17 05:31] Collonville commented on #54299
I had the same issue in TF2.9.1 but it worked well for this solution. Thanks for the research!

[2022-08-17 05:37] shuangpe commented on #42673
[https://github.com/tensorflow/tensorflow/issues/42673#issuecomment-828412232](url)

@abattery, the code that converts keras model to tf v1 saved model format reports error on TF2.9.1.
could you provide an updated version of the conversion code? Thx!

[2022-08-17 05:42] mohantym commented on #57155
Hi @bluetail14 !
Did you try putting Pillow image instead of Stream lite image.
Thank you!

[2022-08-17 06:00] tilakrayal commented on #57167
@cheyennee,

_**tf.nn.conv2d**_ allows a list of explicit padding amounts to be passed to the padding parameter. This list is in the same format as what is passed to **_`tf.pad`_**, except the padding must be a nested list, not a tensor. For example, in the 2D case, the list is in the format `[[0, 0], [pad_top, pad_bottom], [pad_left, pad_right], [0, 0]] `when `data_format` is its default value of

[2022-08-17 06:13] tilakrayal commented on #56529
@GChaitanya2001,
Glad the issue is resolved for you, please feel free to move this to closed status.

[2022-08-17 06:21] NeilPandya commented on #57146
I searched for it, and it itsn't present. I was under the impression that I installed MKL libraries via Intel OneAPI, installed with the following command:

`sudo apt install intel-basekit`

as per [these instructions](https://www.intel.com/content/www/us/en/developer/tools/oneapi/onemkl-download.html?operatingsystem=linux&distributions=aptpackagemanager).

[2022-08-17 06:22] mohantym commented on #57180
Hi @Bahar-BM !
Could you check this [comment](https://github.com/tensorflow/tensorflow/issues/34525#issuecomment-564755977) from similar [issue ](https://github.com/tensorflow/tensorflow/issues/34525)which suggests using 1x1 convolution.
Thank you!

[2022-08-17 06:32] tilakrayal commented on #57172
@cheyennee,

**tf.random.uniform** provides the output random values from a uniform distribution. The generated values follow a uniform distribution in the range [minval, maxval].  It is intended for the CPU and GPU to return different results if you pass random values as the input.

- Use `tf.keras.utils.set_random_seed`(some_seed) control all random behavior is needed

- Optimize the algorithm a

[2022-08-17 06:32] tilakrayal commented on #57172
Also, setting the seeds is not enough. If you are working on a small dataset you have to switch from GPU to CPU, as the first one has a non-deterministic order of computations.

Moreover, you should get rid of any parallelism in feeding data, as that can also cause problems. Thank you!

[2022-08-17 06:37] tilakrayal commented on #57175
@wannianlou,
To reproduce the issue reported here, could you please provide the complete code and the dataset you are using.
Also TensorFlow **v2.2** is not actively supported. Could you please update TensorFlow to the latest stable version **_v2.9_** and check if you are facing the same issue. Thank you!

[2022-08-17 06:39] afbpinheiro commented on #57103
@TamirRozenfeld I had the problem you describe in the last image because I installed my python version via microsoft store.
I uninstalled it and installed python via the usual means and it worked.

Note: I also needed to add the relevant miniconda folders to the system path

[2022-08-17 06:54] mohantym commented on #57179
Hi @gadagashwini !
Could you look at this issue.
It was passing in [Colab](https://colab.sandbox.google.com/gist/mohantym/7c2a08834ca2f42c52a845657c5a745d/git_57179.ipynb#scrollTo=qDLby8IZ8rcG) and throwing package conflicts (Screenshot [1,](https://user-images.githubusercontent.com/86464649/185053343-651ed2b2-c4ea-4add-beb9-05b4436fff63.png) [2](https://user-images.githubusercontent.com/86464649/

[2022-08-17 06:55] #56996 closed

[2022-08-17 07:15] cheyennee commented on #57172
@tilakrayal  Thanks for elaborating on tf.random.uniform usage. But in my code, I just use tf.random.uniform to output two random values. Then I feed these two random values  to CPU and feed same values  to GPU.  That is to say, CPU and GPU get same inputs. What I focus on here is that the CPU and GPU produce different outputs with the same inputs.

[2022-08-17 07:23] cheyennee commented on #57167
@tilakrayal  Thanks for reminding me. But the padding of tf.nn.conv2d can be set to 'SAME' or 'VALID' written on documentation https://tensorflow.google.cn/versions/r2.4/api_docs/python/tf/nn/conv2d#args. However, the error message shows that the padding can be set to 'SAME' or 'VALID' or 'EXPLICIT', which is inconsistent with the documentation.

[2022-08-17 07:48] gadagashwini commented on #57058
Hi @AlbertoSinigaglia, Itried on Mac, above given code worked as expected.Please take a look at log below.

[code]

[2022-08-17 07:52] yinciki commented on #57127
@gadagashwini Thank you for your reply!
I followed the ref and used the command :
bazel build --config=cuda --host_cxxopt=-std=c++17 //tensorflow/tools/pip_package:build_pip_package
and build succeeded but I found that the tf built in this way still used absl::lts_20210324::string_view which was not the new feature in c++17. Any othre suggestions ?

detailed log:
nm -A libtensorflow_framework.so.2

[2022-08-17 07:55] #56988 closed

[2022-08-17 08:08] ZhangWeiguo commented on #44224
same problem

[2022-08-17 08:09] mohantym commented on #57183
Hi @davi000015 !
Yes! Protobuf has size constraint of 2GB. Could you comment in this [issue ](https://github.com/tensorflow/tensorflow/issues/51870)and close this issue as duplicate.
Thank you!

[2022-08-17 08:12] misterBart commented on #57097
Glad you got the Arm64 libraries built.

https://github.com/google/XNNPACK/ says about supported architectures:

Strangely enough ARMv6 and ARM64 are mentioned for Linux, but not your ARMv7. You can try to disable Xnnpack during building, e.g. with the CMake macro -DTFLITE_ENABLE_XNNPACK=OFF. I'm not sure whether that macro is still respected though, because as you have said correctly, the documen

[2022-08-17 08:41] osayes commented on #57124
@tilakrayal,
Thank you for your response!
Adding the input layer into the first layer of sequential model solved the problem, although I'm still confused about the tracing procedure
In my mind, all inputs and outputs of the relu instance in previous code are the same if you feed any value with any dtype to the model, they should not conflict with each other

[2022-08-17 08:42] ibiglari commented on #57097
@misterBart

Yes that works. XNN can be switched off for ARM 7.

For other people who stumble across this, you need to install a version of GCC and G++ that matches what you have on your Raspberry Pi. After building the libraries using GCC11, I was not able to link against them on RPi because latest available version of GCC on RPi (at this time) is 10. I had to slightly modify the CMake script and

[2022-08-17 08:45] gadagashwini commented on #57146
Hi @NeilPandya,
From the error log, it seems issue with GCC

`ERROR: /tensorflow_src/tensorflow/compiler/xla/service/cpu/BUILD:345:11: Compiling tensorflow/compiler/xla/service/cpu/simple_orc_jit.cc f`

Can you try with `GCC 9.3.1`. Thank you

[2022-08-17 08:50] mazatov opened #57191 "WARNING:tensorflow:Using a while_loop for converting RngReadAndSkip"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf2.9

### Custom Code

Yes

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

3.7

### Bazel version

v2.9.0-rc2-42-g8a20d54a3c1 2.9.0

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and mem

[2022-08-17 08:50] #56529 closed

[2022-08-17 08:55] #56987 closed

[2022-08-17 08:57] namrata-ibm commented on #56892
@mohantym Could you please have a look ?

[2022-08-17 09:16] RickSanchezStoic opened #57192 "Integer dtype not supported for tensorflow.math.tan"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Bug

### Source

source

### Tensorflow Version

2.9.1

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model

[2022-08-17 09:30] mohantym commented on #57191
Hi @mazatov !
Could you post this issue in [keras-team/keras-cv](https://github.com/keras-team/keras-cv). It seems to be duplicate of [56242](https://github.com/tensorflow/tensorflow/issues/56242).
Thank you!

[2022-08-17 09:41] Meoooww commented on #16981
so how to solved this problem? upgrade seems not useful for others

[2022-08-17 09:42] mohantym commented on #56892
Hi @namrata-ibm !
It is getting time out here while build , I will run it with a separate account and update you.
Thank you!

[2022-08-17 09:55] #56920 closed

[2022-08-17 10:40] AlbertoSinigaglia commented on #57058
@gadagashwini can i ask what env are you using? (Tf-metal version, venv vs conda and so on)

[2022-08-17 10:41] HarisBalaji commented on #57192
hey @tilakrayal , is the work in progress?
Shall I work on it?

[2022-08-17 11:07] NeilPandya commented on #57146
I am building via tensorflow's docker container, labeled with tags as `tensorflow/tensorflow:latest-devel-gpu`.

Is there a specific container I can pull that has gcc-9.3.1 or must I install manually?

Also, forgive me in advance, as this may be a dumb question, but if the error is `No such file or directory` regarding `mkl_cblas.h`,

`In file included from tensorflow/compiler/xla/service/cpu/simp

[2022-08-17 11:21] chendadon commented on #56287
any update on this issue? for now we wrap the invoke by @autoreleasepool as work around

[2022-08-17 11:32] mo979 commented on #57146
Would you have a look at this #28437 ?

[2022-08-17 12:08] vibhutisawant commented on #57126
Hi @sushreebarsa
Could you please take a look at this? Thank you very much!

[2022-08-17 13:17] zilaiyedaren opened #57194 "env: python: No such file or directory"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

TF 2.8

### Custom Code

Yes

### OS Platform and Distribution

macos

### Mobile device

macbook pro

### Python version

3.10

### Bazel version

4.2.1

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Curr

[2022-08-17 13:44] roserg commented on #57180
Hi, try after this commit https://github.com/tensorflow/tensorflow/commit/61b98be3c21f0ae40657f62eaaced4bb8e904382

[2022-08-17 13:54] NoteDancing opened #57195 "AttributeError: 'Tensor' object has no attribute 'numpy'"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

tf 2.9.1

### Custom Code

No

### OS Platform and Distribution

Windows 11

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No resp

[2022-08-17 13:55] #56958 closed

[2022-08-17 13:55] NeilPandya commented on #57146
Thank you, @mo979, I'm now compiling from source again with the following bazel build command, as per the solution found in [#28437](https://github.com/tensorflow/tensorflow/issues/28437):

`bazel build --verbose_failures --config=mkl --config=opt --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-msse4.2 --copt=-DINTEL_MKL_ML_ONLY --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" //tensorflow/tools/pip_package:

[2022-08-17 14:12] Dreamcouple commented on #25996
WARNING:tensorflow:From D:\tensorflow_object_Detection\TFODCourse\tfodc\lib\site-packages\tensorflow\python\util\dispatch.py:1082: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.cast` instead.

i too have these error , how to rectify this???, it takes so much long time to perform even after 2hrs also, it rema

[2022-08-17 14:25] bermeitinger-b commented on #57146
I have the same issue but for `tensorflow-2.10.0-rc1`. Versions `2.9.1` and `2.8.2` compile fine. My GCC version is 9.4.0 (from Ubuntu 20.04).

The above hint with adding `--copt=-DINTEL_MKL_ML_ONLY` doesn't help, it can't find the file `"third_party/intel_mkl_ml/include/mkl_cblas.h"`

[2022-08-17 14:37] bogdantmm92 commented on #53335
Not sure what is the solution for this issue. I'm having the same problem with a Conv2D layer.

[2022-08-17 14:55] #56999 closed

[2022-08-17 14:59] OrigamiDream commented on #40366
I'm using TensorFlow 2.9.1, and I found a workaround.
Do not define the metrics within the scope.
[code]

This works when you are using **custom training loop**.
I didn't test on `Model#fit()` because I have no enough time.

The model should not be compiled within the `MirroredStrategy` scope.

[2022-08-17 15:52] gowthamkpr commented on #56698
@ViktorKhLoopMe The issue here is that you are using `saved_model.Builder` which is from tensorflow 1.x.  Please try using `tf.saved_model.save()` or `tf.keras.saved_model.save()` for keras which is preferred way of saving model in tensorflow 2.x. For more details you can look at the following [migration guide](https://www.tensorflow.org/guide/migrate/saved_model). Thanks!

[2022-08-17 15:58] gowthamkpr commented on #56860
@njuhang I don't understand what type of LSTM layer you need. Can you point me to pytorch where they have this LSTM layer. Thanks!

[2022-08-17 16:54] sachinprasadhs commented on #57072
Thanks for reporting the issue. Now the information has been edited at https://hub.docker.com/r/tensorflow/tensorflow, Could you please confirm and close the issue. Thanks!

[2022-08-17 16:58] zplizzi commented on #57072
Thanks! I can confirm that it's been updated to read `Images built after Sept 2021 are based on Ubuntu 20.04. Earlier images are based on Ubuntu 18.04 or 16.04.`, which seems more in line with what I was seeing.

[2022-08-17 16:58] #57072 closed

[2022-08-17 17:19] sushreebarsa commented on #57144
@dibbla I tried to replicate the issue on colab, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/1ee41b236c26b6ada079706bf1c7bd5b/57144.ipynb) and confirm the same. Thank you!

[2022-08-17 17:25] mihaimaruseac commented on #57179
These are just warnings, not impacting the build artifact.

Most TF dependencies use a mirror to not hit upstream (e.g., github) on every build and download the artifact from there. When the dependency gets updated, someone also needs to update the mirror. If something is not mirrored, Bazel then goes to upstream and fetches the dependency from there.

[2022-08-17 17:38] sachinprasadhs commented on #57039
Document is now updated with the latest code and information inline with the english version. Could you please verify here https://www.tensorflow.org/lite/performance/gpu_advanced?hl=zh-cn#android_cc and close the issue. Thanks!

[2022-08-17 17:39] sachinprasadhs commented on #57033
Document is now updated in the website, could you please verify the update here https://www.tensorflow.org/lite/guide/ops_select?hl=zh-cn and close the issue. Thanks!

[2022-08-17 17:40] sushreebarsa commented on #57158
@Zahlii I tried to replicate the issue on colab, please find the gist [here ](https://colab.research.google.com/gist/sushreebarsa/f05f31c10c6155387aedd5951091979b/57158.ipynb#scrollTo=gkT5Zc0M22pg)and confirm the same. Thank you!

[2022-08-17 18:11] sachinprasadhs commented on #57105
Could you please refer this document here https://cmake.org/cmake/help/latest/command/find_package.html to find the package. Let us know if this helps. Thanks!

[2022-08-17 18:16] drubinstein opened #57196 "Is the estimate of how big TFLite is on ARM incorrect for iOS?"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Bug

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

iOS

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-08-17 18:55] #56416 closed

[2022-08-17 18:55] #53844 closed

[2022-08-17 19:55] #56774 closed

[2022-08-17 19:55] #55713 closed

[2022-08-17 20:08] kaixih commented on #57115
I think this issue has already been resolved and the https://github.com/tensorflow/tensorflow/pull/56572 has been merged again. Thanks.

So, closing this issue for now.

[2022-08-17 20:08] #57115 closed

[2022-08-17 20:44] Mrutyunjay01 commented on #57195
@7NoteDancing

Instead of applying .numpy() inside the tf.function decorator, apply the same in the function output. The modified code block looks like following:

[code]

This should give the desired output.

[2022-08-17 21:32] BeastOrchestra opened #57198 "Colab CuDnn issue involving LSTM"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.9

### Custom Code

Yes

### OS Platform and Distribution

Linux

### Mobile device

_No response_

### Python version

Python 3.7.13

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA Version: 11.2

### GPU model and memory

NVIDIA

[2022-08-17 21:40] jhabr commented on #57131
Thank you for the update @mohantym.

[2022-08-17 21:40] #57131 closed

[2022-08-17 23:30] JXRiver commented on #56300
`tape.batch_jacobian` and `tf.vectorized_map` (API of pfor) both don't support RaggedTensor at this moment. We are planning to support both of them. Before that happen, you may try to pad RaggedTensor to tensor.

[2022-08-18 00:01] ejboettcher opened #57201 "Tutorial throws error"
https://github.com/tensorflow/docs/blob/master/site/en/tutorials/images/transfer_learning_with_hub.ipynb

at
[code]

throws the following error.
------------------------------

---------------------------------------------------------------------------
UnimplementedError                        Traceback (most recent call last)
[<ipython-input-14-c951ede0675b>](https://localhost:8080/#) in <module>

[2022-08-18 00:36] ejboettcher opened #57202 "Tutorial doesnt run in CoLabs"
https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/images/transfer_learning.ipynb?force_kitty_mode=1&force_corgi_mode=1#scrollTo=TqOt6Sv7AsMi

This is the second Transfer learning tutorial that does not run in colabs.  I have not had an issue before.  Is there a version I need to set.
This time the code fails at

[code]

[2022-08-18 00:46] mohantym commented on #57195
Hi @7NoteDancing !
Could you check with @Mrutyunjay01 's fix in the above [comment](https://github.com/tensorflow/tensorflow/issues/57195#issuecomment-1218473007).
Thank you!

[2022-08-18 00:53] ejboettcher commented on #57201
I was able to get the tutorial to run if I forced the version to be 2.7.
[code]

I would like to know how to run this tutorial using tensorflow 2.9.  Thank you.

[2022-08-18 00:53] ejboettcher commented on #57202
I was able to get the tutorial to run if I forced the version to be 2.7.
[code]

I would like to know how to run this tutorial using tensorflow 2.9.  Thank you.

[2022-08-18 00:59] 7NoteDancing commented on #57195
What should I do if I want to use numpy() in a function decorated by tf.function?

[2022-08-18 01:00] 7NoteDancing commented on #57195
What should I do if I want to use numpy() in a function decorated by tf.function?

[2022-08-18 01:28] njuhang commented on #56860
Emm, there is nothing to do with pytorch.
I need such a LSTM layer, when executing inference, it use functions defined in tensorflow/lite/kernels/lstm.cc. But currently I can only get Unidirectional LSTM layer, which use functions defined in tensorflow/lite/kernels/unidirectional_sequence_lstm.cc. My code has been attached above.
My question is how to get a .tflite model, with such a LSTM layer.

[2022-08-18 03:04] Bahar-BM commented on #57180
@roserg
Hi, your new commit resolved my issue. Thanks!

[2022-08-18 03:04] #57180 closed

[2022-08-18 03:32] enor2017 commented on #56519
@sachinprasadhs It's ok for me currently. However, if the issue is hard to fix, would you like to modify the documentation to remove support for the `half` type? That causes an inconsistency.

[2022-08-18 05:24] durgals commented on #35634
At the beginning, I have issue of the shape errors. So I had to apply sklearn.preprocessing.OneHotEncoder.
But with tensorflow version 2.9.1, I do not have that issue. if restore_best_weights = True, it always loads the best weights.

![image](https://user-images.githubusercontent.com/10932215/185300498-f8fcb321-5299-4270-9c5b-fa815d00839c.png)

[2022-08-18 05:36] gadagashwini commented on #57058
Hi @AlbertoSinigaglia, I am using Tf-metal 2.9
I used below steps to install Tensorflow on Mac
[code]

[2022-08-18 05:41] gadagashwini commented on #57146
Hi @NeilPandya, Can you try other Docker image such as `tensorflow/tensorflow:nightly-gpu`. Thank you!

[2022-08-18 06:29] ooshyun commented on #41053
@w4nderlust I also had same problem when not using checkpoint, but if I use tf.train.Checkpoint and tf.train.CheckpointManager, then the optimizer saved. I attached my test code, please check in this way !

Here's my code.

[code]

[2022-08-18 06:54] tilakrayal commented on #57192
@sachinprasadhs,
I was able to reproduce the issue on tensorflow v2.9 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/775dc8ff4e3d8bb2b7c7dfbac78db7d3/untitled502.ipynb) and the issue was reproducible on all int datatype(**int8, int16, int32, int64)**, but was able to execute without any issue on other datatypes (**bfloat16, half, float32, float64,

[2022-08-18 07:14] Abdullah-208 opened #57203 "TFlite Model not detecting any object"
I have trained a custom object detection model (Hand detection) using tflite_model_maker but it is not detecting hands in my android application.
When I try the detection in tensorflow's colab it detects hands but not in my android app.
I am using ml kit in android studio so it is not entering the onSuccessListener it is only entering onFailureLIstener.
See the below code snippet.
[code]
I is show

[2022-08-18 08:06] machineko opened #57204 "Metal performance shader topk not working with k>15"
### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.0

### Custom Code

No

### OS Platform and Distribution

macos 13

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current Behaviour?

[code]

### Standalone co

[2022-08-18 08:43] masaton6 commented on #55817
I got hit by exact same issue while building with `--config=mkl` . I tried ProcessMonitor downloaded from Microsoft site to identify which DLL is missing and got below error.

`8:44:18.8425549	python.exe	14196	CreateFile	C:\Python\Python310\libomp.dll	NAME NOT FOUND	Desired Access: Read Attributes, Disposition: Open, Options: Open For Backup, Open Reparse Point, Attributes: n/a, ShareMode: Read, W

[2022-08-18 08:46] tilakrayal commented on #57201
@ejboettcher,
I was able to execute the code on tensorflow v2.9 wiht out any errors/issues. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/26cc6f3486c85d1500aaa381f8e31228/transfer_learning_with_hub.ipynb) and please create a virtual environment and test your code again. Thank you!

[2022-08-18 09:13] blime4 commented on #17076
amazing. this bug is 4 years old and still open

[2022-08-18 09:24] sushreebarsa commented on #57164
@cheyennee I was able to replicate the issue, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/ea0d92d441898baa946b45aff508506f/57164.ipynb) here.
This issue seems to be Keras issue.  Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues) as Keras development is fully moving to [github.com/keras-team/keras](http://github.com/keras-t

[2022-08-18 09:51] ejboettcher commented on #57201
That is weird.  I ran your code fine but from the Google Tutorials in Colab I can not run the same notebook.
https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/images/transfer_learning_with_hub.ipynb

I checked and it is the same TF version.

[2022-08-18 10:04] ejboettcher commented on #57201
I found the difference!!!  I have GPU enabled and you do not.  If you switch your run time to use GPU you will run into the same issue.

This is a bug in TF.

[2022-08-18 10:12] NeilPandya commented on #57146
@gadagashwini I am pulling the nightly-gpu image now and will post results using the following build command. Also, I think I made a mistake on the labeling of this issue. I think we need to change the tag of this post to TF 2.10, as the original docker image I was using was `tensorflow/tensorflow:latest-devel-gpu`. Please let me know if that's the case.

@mo979 Unsuccessful when using the `--conf

[2022-08-18 10:23] nyngwang opened #57205 "It seems that `recompute_grad` is not saving GPU memory."
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

conda `tensorflow-gpu` 2.10.0rc1 pypi_0 pypi
(I also tried: conda `tensorflow` 2.9.1   pypi_0    pypi)

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.10.5

### Bazel version

_No response_

### GCC/Compi

[2022-08-18 10:23] birjinia commented on #53144
This solution worked for me. Thanks for sharing it.

[2022-08-18 10:40] tilakrayal commented on #57201
@ejboettcher,
I was able to execute the code without any issues on **tensorflow-gpu v2.9**. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/79917d457259f0e54275aa39e464a116/57201.ipynb).

As a workaround for the time being, you may try running **!apt install --allow-change-held-packages libcudnn8=8.1.0.77-1+cuda11.2** and let us know if that fixes your issues. P

[2022-08-18 10:52] ejboettcher commented on #57201
@tilakrayal
Please run your lab in google Co-lab with GPU enabled.   It does not work in Google's colab.

That is the issue.  It will only run in Google's colab if you switch to version 2.7 (with GPU)  or run it without GPU in version 2.9.

The only control I have in Co-lab is to run with and without GPU.  I really do not have control of the environment :-(.  I wish there was a requirement.txt fil

[2022-08-18 10:55] gadagashwini commented on #57185
Hi @rgov, Currently there is no official GPU support for running TensorFlow on MacOS. You can get macOS (CPU-only) wheels.

Python 3.7 | https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-2.9.0-cp37-cp37m-macosx_10_14_x86_64.whl
-- | --
Python 3.8 | https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-2.9.0-cp38-cp38-macosx_10_14_x86_64.whl
Python 3.9 | https://storage.googleapis

[2022-08-18 10:56] nyngwang commented on #57205
I would also suggest reopening issue #30418, because if you follow the thread you would know that the problem isn't resolved:

1. The thread got closed [after @ppham27 had shared the code from his research](https://github.com/tensorflow/tensorflow/issues/30418#issuecomment-914245598) and the author thumbed it. But from [the comment](https://github.com/tensorflow/tensorflow/issues/30418#issuecommen

[2022-08-18 10:59] tilakrayal commented on #57201
@ejboettcher,
I tried to execute the code on GPU enabled only and was able to execute without any issues. Please try to execute  **!apt install --allow-change-held-packages libcudnn8=8.1.0.77-1+cuda11.2** before code. Thank you!
![image](https://user-images.githubusercontent.com/81610181/185379317-10ce8506-f90c-4110-9c49-ad56c303e9c5.png)

[2022-08-18 11:00] tilakrayal commented on #57202
@ejboettcher,
I was able to execute the code without any issues on tensorflow v2.9 GPU enabled. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/d84b55677afa88284ac48097d8e60ec6/57202.ipynb).

![image](https://user-images.githubusercontent.com/81610181/185379477-cd1c9ec7-77f8-4653-aa6f-60e1ba539cec.png)

As a workaround for the time being, you may try running **!

[2022-08-18 11:14] bluetail14 commented on #57155
thank you, that might be the case. why is it not a PIL image? I'm using 'u_img = load_image(Image.open(uploaded_file))'.

[2022-08-18 11:29] ejboettcher commented on #57201
Thank you @tilakrayal
That did fix the issue of running this in CoLab with TF 2.9 + GPU.
**BUT**
The tutorial does not run by itself without you injecting code if you are using the GPU as default.
You either have to switch to Non GPU, switch to TF 2.7 or change  libcudnn8-dev to libcudnn8.

The purpose of the tutorials is that it should just run in colabs so that you can focus of the material and

[2022-08-18 11:32] gadagashwini commented on #57174
I could able to replicate the issue on Ubuntu with Tf v2.9, CUDA 11.4.
[code]

[2022-08-18 11:59] bogdantmm92 commented on #57064
It looks that Conv2D filter doesn't work with the tflite option `options.setUseNNAPI(true)`. If I remove this line `options.setUseNNAPI(true),` the app runs fine

[2022-08-18 12:02] gadagashwini commented on #57181
Hi @sidml, Use below code snippet at the beginning of the your code to Get the detailed error log.
[code]

Complete error log of given code snippet.
[code]
Error message says shape mismatch. Check your input data shape and expected input shape of Model. Thank you!

[2022-08-18 12:03] cheyennee commented on #57164
@sushreebarsa Thanks for reminding. I post this issue on keras repo, and the system asigns that issue to you automatically.

[2022-08-18 12:09] masaton6 opened #57206 "analyzer_wrapper/model_analyzer.cc has typo causing C2001 error while compiling"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.9

### Custom Code

No

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

3.10

### Bazel version

5.0.0

### GCC/Compiler version

MSVC

### CUDA/cuDNN version

8.4.1

### GPU model and memory

GeForce GTX 750 Ti

### Current Behavi

[2022-08-18 12:12] mohantym commented on #57155
@bluetail14 !
You are using st.image widget to take the image to stream lite.
`    img = st.image(u_img, 'Uploaded Image', use_column_width=True)
`

Could you confirm whether it works or not after replacing below statement
` pred_label = model_cnn_ltsm_.predict(img)[0]
`

with statement below

`pred_label = model_cnn_ltsm_.predict(u_img)[0] `

Thank you!

[2022-08-18 12:17] mohantym commented on #57195
@7NoteDancing !
You can use either tf.numpy_function or numpy api from Tensorflow to resolve this issue. Attached [gist](https://colab.sandbox.google.com/gist/mohantym/5adc5e3bbd61df98a99fcb8a517bee27/git_57195.ipynb#scrollTo=K3rQjSj61-I6) for reference.
Thank you!

[2022-08-18 12:44] danijar commented on #57000
What's the reason for not specifying a range?

[2022-08-18 12:49] nyngwang commented on #56692
Hi, I'm not the staff of the Repo. but if got the error because you put the `tf.recompute_grad` around the `__call__` or `call`(if you use `tf.keras`) method, then you might try to create a nested function inside `__call__` (or `call`)  and wrap it with `tf.recompute_grad`:

[code]

[2022-08-18 13:13] ejboettcher commented on #57202
Thank you @tilakrayal
That did fix the issue of running this in CoLab with TF 2.9 + GPU.
BUT
The tutorial does not run by itself without you injecting code if you are using the GPU as default.
You either have to switch to Non GPU, switch to TF 2.7 or change libcudnn8-dev to libcudnn8.

The purpose of the tutorials is that it should just run in colabs (Google has already built the vm for you) so th

[2022-08-18 13:51] code4lala commented on #57033
Thanks!

[2022-08-18 13:51] #57033 closed

[2022-08-18 13:52] code4lala commented on #57039
Thanks!

[2022-08-18 13:52] #57039 closed

[2022-08-18 14:23] tilakrayal commented on #57201
@ejboettcher,
Ideally it should run but as there was an issue from google colab side, it was failing with the error which is not related to tensorflow. Please take a look at this [comment](https://github.com/googlecolab/colabtools/issues/2600#issuecomment-1061312120) from the **GoogleColab/ColabTools** team.

As this is not from the TF related issue, I request please feel free to move this issue t

[2022-08-18 14:24] tilakrayal commented on #57202
@ejboettcher,
Ideally it should run but as there was an issue from google colab side, it was failing with the error which is not related to tensorflow. Please take a look at this [comment](https://github.com/googlecolab/colabtools/issues/2600#issuecomment-1061312120) from the **GoogleColab/ColabTools** team.

As this is not from the TF related issue, I request please feel free to move this issue t

[2022-08-18 14:32] ejboettcher commented on #57202
@tilakrayal
I thought that you and colab were the same group.  My bad.

Take care, Issue open for me but closed for you.

[2022-08-18 14:32] #57202 closed

[2022-08-18 14:33] ejboettcher commented on #57201
@tilakrayal
I thought that you and colab were the same group.  My bad.
**BUT** could you add a co-lab work around in your tutorial until co-labs get their act together.

Take care, Issue open for me but closed for you.

[2022-08-18 14:33] #57201 closed

[2022-08-18 14:34] rgov commented on #57185
Hi @gadagashwini thank you but the issue is not about CPU vs GPU wheels, it is about arm64 vs x86_64 wheels. All of the ones you linked are x86_64 wheels.

[2022-08-18 14:41] AlbertoSinigaglia commented on #57058
Hi @gadagashwini, some clarifications... I'm using a conda env to have GPU acceleration, and following are the tf versions:
[code]
so when you say `Tf-metal 2.9` you mean `tensorflow-macos` or am I missing some updates?...

[2022-08-18 14:49] sidml commented on #57181
@gadagashwini
Thanks. Yes, the input shape should have been (1, 28, 28,1). I missed it while writing this toy example.
I added the logger code snippet but I still get  only `Segmentation fault (core dumped)`.
Is there anything else that I can do to get a more detailed error log ?
Thanks.

[2022-08-18 14:55] bermeitinger-b commented on #57146
PR #57186 fixes the compilation issue for me.

However, I don't know if this has any implication on the runtime.

[2022-08-18 15:04] c-parsons opened #57207 "Bazel CI Failing for Tensorflow with Bazel@HEAD"
Tensorflow is impacted by an incompatible Bazel change: https://github.com/bazelbuild/continuous-integration/issues/1404

Tensorflow will need to migrate usages of `@bazel_tools//platforms` to `@platforms`, as described in the above bug.

Example breakage: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2590#0182aec8-7365-4995-81b0-a0494cafc3ea

[2022-08-18 15:12] mohantym commented on #57118
@vighneshhegde !

Not sure on 1.x apis.  But please feel free to go through this document on[ LSTMFusion Code lab](https://colab.sandbox.google.com/github/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/experimental_new_converter/Keras_LSTM_fusion_Codelab.ipynb) (I think it will be possible to convert without select ops with this method)

Thank you!

[2022-08-18 15:38] PfeifferJosef-96 opened #57208 "TF Lite API Reference on Internet Page does not match Code for interpreter_options.h"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Bug

### Source

source

### Tensorflow Version

Master Branch

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GP

[2022-08-18 15:55] #56814 closed

[2022-08-18 15:55] #56837 closed

[2022-08-18 15:57] rayeeed commented on #55468
Add this line of code at the beginning. Worked for me.
`!apt install --allow-change-held-packages libcudnn8=8.4.1.50-1+cuda11.6`

[2022-08-18 16:02] davwang2019 opened #57209 "Hexagon delegate for Qualcomm snapdragon chip APQ8098 (835)"
Our product uses Qualcomm snapdragon chip 835 (APQ8098) with android 8.1. We ran our machine learning model on hexagon DSP using hexagon delegate library from Google:

[v1.20.0.1](https://storage.cloud.google.com/download.tensorflow.org/tflite/hexagon_nn_skel_v1.20.0.1.run)

Recently, we updated our android from 8.1 to 10 and hexagon delegation stopped working (our model could only run on CPU now)

[2022-08-18 16:03] sushreebarsa commented on #57209
@davwang2019
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thank you!

[2022-08-18 16:04] tilakrayal commented on #57198
@BeastOrchestra,
Could you please try to run the  below command before executing the code. I tried and was able to execute the code. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/f7b0cbaa704ed0872573334f6980ef1f/57198.ipynb).

**`!apt install --allow-change-held-packages libcudnn8=8.1.0.77-1+cuda11.2`**

Thank you!

[2022-08-18 16:08] sushreebarsa commented on #57164
@cheyennee Thank you for the update!
Could you please move this issue to closed status as we will track the other ticket in keras-team/keras repo.
Thank you!

[2022-08-18 16:08] davwang2019 opened #57210 "Hexagon delegate for Qualcomm snapdragon chip APQ8098 (835)"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

tf2.7

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

Android 10

### Python version

3.6

### Bazel version

3.1.0

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

###

[2022-08-18 16:12] kulinseth commented on #57185
@nitins17 , @learning-to-play and @yarri-oss

[2022-08-18 16:28] #57164 closed

[2022-08-18 16:31] yarri-oss commented on #57185
@rgov thank you for summarizing this issue. On behalf of the Apple and Google teams working on this, we are planning official support for Apple Silicon (Aarch64 based) CPUs, and to streamline GPU support. I'll follow up in this issue when we have more to share.

[2022-08-18 16:37] sushreebarsa commented on #57159
@cheyennee I was able to replicate the issue, please  find the [gist](https://colab.research.google.com/gist/sushreebarsa/39bc4ea2f0820a0b9cc6b3f3a8997c26/57159.ipynb) here.
This issue seems to be Keras issue.  Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues) as Keras development is fully moving to [github.com/keras-team/keras](http://github.com/keras-

[2022-08-18 16:43] misterBart commented on #57097
You may correct if I'm wrong, but I suspect you encountered a GLIBC(XX) mismatch. And you resolved it by downgrading the build tools on your build machine, so that the build tools on your build machine won't use a newer GLIBC(XX) than available on your target machine (Raspberry Pi).

[2022-08-18 16:46] gowthamkpr commented on #23605
As mentioned [here](https://stackoverflow.com/questions/52979374/tensorboard-projector-will-compute-pca-endlessly), try using tensorboard & tensorflow 1.12 and this problem has been fixed. Thanks!

[2022-08-18 16:50] gowthamkpr commented on #22410
@mpjlu Can you please take a look at the following implemntation of wgan [here](https://github.com/ChengBinJin/WGAN-GP-tensorflow/blob/master/README.md) and also please let me know if its still an issue. Thanks!

[2022-08-18 16:55] sushreebarsa commented on #57162
@whatdhack
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thank you!

[2022-08-18 17:13] BeastOrchestra commented on #57198
Update: I confirm that the previous line of code revolved the issue.

[2022-08-18 17:13] #57198 closed

[2022-08-18 17:23] sushreebarsa commented on #57170
@cheyennee I tried to replicate the issue on colab, please find the gist here in [cpu](https://colab.research.google.com/gist/sushreebarsa/f4e4093822f352682d402e7581fc8552/57170-cpu.ipynb) and [gpu](https://colab.research.google.com/gist/sushreebarsa/eb93c6fc6c40cec0d1c7f332678121ae/57170-gpu.ipynb) runtime. Could you please confirm the issue. Thank you!

[2022-08-18 17:26] sushreebarsa commented on #57173
@cheyennee Could you please confirm if this is a duplicate ticket of this [issue](https://github.com/tensorflow/tensorflow/issues/57170).
Thank you!

[2022-08-18 17:46] penpornk commented on #57146
cc: @TensorFlow-MKL

[2022-08-18 17:54] penpornk commented on #57146
@bermeitinger-b Thank you for bringing up the PR! We believe #57186 should fix the issue.

I'm positive this is unrelated because the PR only reverted XLA target copts to what they used to be before #56715. Could you please help check if you see this error message at commit cd17810b2c21c843fe9a605ef314f01077cf87f7 (the commit before https://github.com/tensorflow/tensorflow/commit/30069385eaffe6de5

[2022-08-18 18:01] Bahar-BM opened #57211 "openCL delegate issue with models that output results from their intermediate nodes"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.9.1, nightly version

### Custom Code

No

### OS Platform and Distribution

Android

### Mobile device

tested on Snapdragon 888, 865, 855

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No respons

[2022-08-18 18:15] urosjarc opened #57212 "Can't pass random value (not tensor) in tensorflow function as a parameter."
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

Windows 11

### Mobile device

_No response_

### Python version

3.9.0

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_

[2022-08-18 18:36] agramesh1 commented on #57146
Agreeing with @penpornk, the cuBlas error is not related to the mkl error.  @penpornk's PR https://github.com/tensorflow/tensorflow/pull/57213 should fix the mkl error in 2.10

[2022-08-18 18:38] janpfeifer opened #57214 "Go API instrunctions no longer work"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 22.04, in WSL2

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

###

[2022-08-18 18:45] soumya997 commented on #26266
might sound silly, but putting `import pandas as pd` on the top of the import cell resolved my error, Im using pandas==1.1.5, python 3.7.0.

[2022-08-18 18:52] mihaimaruseac commented on #56618
Closed by #57190

[2022-08-18 18:52] #56618 closed

[2022-08-18 19:59] Alexanderbayer commented on #57006
Yes, I have tried that, and this works as there is no inference on sample images necessary for conversion without quantization.

[2022-08-18 20:03] penpornk commented on #57146
@bermeitinger-b: @reedwm thinks the message belongs to an unrelated issue, which has recently been fixed in https://github.com/tensorflow/tensorflow/pull/56691.

@agramesh1 Thank you for the quick reply!

@NeilPandya Does https://github.com/tensorflow/tensorflow/pull/57186 fix the issue for you?

[2022-08-18 20:25] rposts opened #57215 "testTFLiteGraphDef and similar tests in lite_test.py fail on s390x arch"
### 1. System information

- OS Platform and Distribution: Ubuntu 20.04
- TensorFlow installation: Built from source
- TensorFlow library : 2.9.1

### 2. Code

bazel test -s --config=dbg --define=tensorflow_mkldnn_contraction_kernel=0 --define tflite_with_xnnpack=false --test_tag_filters=-gpu,-benchmark-test,-v1only,-no_oss,-oss_serial -k --test_timeout 300,450,1200,3600 --build_tests_only --test_

[2022-08-18 20:50] NeilPandya commented on #57146
I will checkout #57186, compile, and report back accordingly, thank you.

[2022-08-18 20:54] penpornk commented on #57146
@NeilPandya Thank you! #57186 has been merged into master, so you can just pull the latest commit from master as well. (Or use the PR merge commit https://github.com/tensorflow/tensorflow/commit/6909580015657cf0e0ecc623bc1838cf7263fef1.)

[2022-08-18 20:55] #55644 closed

[2022-08-18 21:09] kcoul opened #57218 "Can't build for iOS using CMake"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.9.x

### Custom Code

No

### OS Platform and Distribution

Any

### Mobile device

iOS

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Cur

[2022-08-18 21:23] #55738 closed

[2022-08-18 21:53] matteospanio commented on #57070
as expected cupy uses only my GPU for this operation! It uses 100% of the graphic card without touching the CPU.
Thank you @osayes I didn't know this library :)

[2022-08-18 21:57] skerres opened #57220 "Restoring a saved model does not create the same results as the same model just before saving"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.9.1.

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-08-18 22:26] matteospanio commented on #57070
UPDATE: Don't know why, but just __after updating PopOS seems to work properly__ (I don't know if only this or something in the last hundreds of commits fixed my issue...). Now running a matmul with tensorflow uses 100% of my GPU and some CPU work, while a deep-learning model training uses almost 70% of GPU and a little of CPU (about 15%). Anyway, even with tensorflow working as expected I'm still

[2022-08-18 22:47] ibiglari commented on #57097
@misterBart You are correct, and the saga continues :(

Tryed to create a minimal application on RPi, but the linker is having difficulty with GLIB2_17 for some reason. Now I'm compiling Tensorflow-lite directly on the RPi (feeling sorry for the poor machine...). This time, no need for downloading or declaring the a special version of GCC. Fingers crossed this time I get a working library :(

[2022-08-19 00:49] cheyennee commented on #57170
@sushreebarsa Are the two codes based on different tensorflow versions? Later version may have fixed bugs from previous version. Otherwise it's hard to explain why the same code behaves differently😶‍🌫️

[2022-08-19 00:50] NeilPandya commented on #57146
@penpork Build was successful with the following command:

`bazel build --verbose_failures --config=opt --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-msse4.2 --config=mkl --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0"
//tensorflow/tools/pip_package:build_pip_package`

I will install and test against my smaller models I'm working on which utilize MKL to be sure, but I think your fix detailed in #57186 did

[2022-08-19 00:54] cheyennee commented on #57159
@sushreebarsa I have posted the issue on keras repo. Thanks.

[2022-08-19 00:54] #57159 closed

[2022-08-19 01:05] Charxil commented on #45575
Hello, how do you solve the issue? because I also got the same issue.

[2022-08-19 01:16] penpornk commented on #57146
@NeilPandya Thank you for the detailed feedback and for the output log!

[code]

These warning messages are safe to ignore. It's just saying it couldn't find the mirrored packages on storage.googleapis.com (and went and download those packages directly from github instead). I just fixed that and those mirror links (beginning with storage.googleapis.com) should work now.

I'm closing this issue sin

[2022-08-19 01:46] osayes commented on #57070
@matteospanio ,
Cupy can be seen as the cuda accelerated version of the numpy lib
I don't know if you use virtual environment, if not, you can use the miniconda to create a virtual environment, and install libs into it
Anyway, the problem is solved.

[2022-08-19 02:21] stridge-cruxml opened #57222 "Saving and loading with an empty model layer"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

v2.8.0-rc1-32-g3f878cff5b6 2.8.0

### Custom Code

No

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU m

[2022-08-19 02:36] mohantym commented on #57196
Hi @drubinstein !
Could you share any minimal reproducible code to investigate this issue .
Thank you!

[2022-08-19 05:15] mohantym commented on #57194
Hi @zilaiyedaren !

Can you give confirmation whether you said yes to your python location and IOS build  while running configure.py .
If yes , please add a symlink through the below command
[code]

[2022-08-19 05:17] tilakrayal commented on #57169
@zzq96,
Could you please try to execute the mentioned to clear the `tf.function `cache. **self.call._stateful_fn._function_cache.primary.clear()**
Also please take a look at this doc [link](https://www.tensorflow.org/guide/function) which provides the information for better performance with `tf.function`. Thank you!

[2022-08-19 05:37] tilakrayal commented on #57172
@cheyennee,
I tried to execute the code multiple times on both cpu and gpu and I was able to fetch the different results for every execution on both [CPU](https://colab.research.google.com/gist/tilakrayal/04920f203454aa08761518266525000b/cpu.ipynb) and [GPU](https://colab.research.google.com/gist/tilakrayal/323f89e2ac22cf8b9c8d34829c814545/gpu.ipynb). Kindly find the gist.
As mentioned tf.random.u

[2022-08-19 06:12] gadagashwini commented on #41280
Hi @pvanhaes, You need set GPU growth to True. Below  code snippet worked.

[code]
**Output**
[code]

[2022-08-19 06:14] matteospanio commented on #57070
Thank you for your kind support.

[2022-08-19 06:14] #57070 closed

[2022-08-19 06:15] tilakrayal commented on #57124
@osayes,
Glad the suggestion worked for you. Could you please feel free to move this issue to closed status and submit a new issue from [this link](https://github.com/keras-team/keras/issues) in Keras repo. Thank you!

[2022-08-19 06:36] #57124 closed

[2022-08-19 06:38] sachinprasadhs commented on #57000
@danijar, Usually these versions are tested by Nvidia and the latest stable CUDA version against the specific Tensorflow version will be published.

[2022-08-19 07:17] mohantym commented on #57203
Hi @Abdullah-208 !
Sorry for the late response. Could you provide your colab gist too / sample inference code used in android too.
Attached relevant [thread ](https://developers.google.com/ml-kit/vision/object-detection/android)for reference.
Thank you!

[2022-08-19 07:36] Abdullah-208 commented on #57203
@mohantym I have created a object detection android application and I used it to detect objects from a pretrained tflite model and it is working fine.
but when I try to use my custom object detection model trained using this [Colab](https://colab.research.google.com/github/khanhlvg/tflite_raspberry_pi/blob/main/object_detection/Train_custom_model_tutorial.ipynb) it does not go in the onSuccessList

[2022-08-19 07:38] mohantym commented on #57206
@masaton6 !
Feel free to raise a PR .
Thank you!

[2022-08-19 07:48] yugeshav opened #57225 "How to calculate number of MAC's in a custom tensorflow model"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

2.7

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.4

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.2

### GPU model and memory

NVID

[2022-08-19 07:51] mohantym commented on #57210
Hi @davwang2019 !

Just quick observations based on template details.
Could you switch to Python 3.7/3.8 (Python 3.7 minimum version ) and Bazel 3.7.2 for TF 2.7 . Please post the error stack trace for further assistance.
[Reference](https://www.tensorflow.org/install/source).

[2022-08-19 07:54] tilakrayal commented on #57153
@cheyennee,
We would prefer a PR for the validation, Could you please feel free to submit a PR for the requested change to be made. Thank you!

[2022-08-19 07:55] masaton6 commented on #57206
Hi @mohantym ,
I have never raised PR before. Will find out how to then try.

Thank you!

[2022-08-19 07:56] misterBart commented on #57043
Hmm, more than a week has passed. I believe my post is easy to follow. Several related issues exist about this reordered/shifted output layers, so I would deem it has some importance. Is everybody on holidays?

[2022-08-19 08:10] cheyennee commented on #57172
@tilakrayal Get it. Thanks!

[2022-08-19 08:10] #57172 closed

[2022-08-19 08:29] tonibofarull commented on #54069
Since Tensorflow Lite deprecated [Makefile](https://github.com/tensorflow/tensorflow/tree/f28d91b15b1ba1aee611753923a6e0ca27b76405/tensorflow/lite/tools/make), the library compiles in a `libtensorflow-lite.a` and some other smaller libraries.

My recommendation is to compile your code using CMake as well and link TF by using [this](https://www.tensorflow.org/lite/guide/build_cmake#create_a_cmake_p

[2022-08-19 08:48] tilakrayal commented on #57128
@Hrayo712,
Thanks for opening this issue. Development of keras moved to another [repository](https://github.com/keras-team/keras/issues).

Could you please post this issue on keras-team/keras [repo](https://github.com/keras-team/keras/issues).
To know more please refer:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2022-08-19 08:55] #26060 closed

[2022-08-19 09:28] FragrantRookie opened #57226 "tensorflow lite for microcontroller is slower then tensorflow lite for python."
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

tf 2.9

### Custom Code

Yes

### OS Platform and Distribution

ubuntu20

### Python version

3.9

### Current Behaviour?

[code]

### Standalone code to reproduce the issue

[code]

### Relevant log output

[code]
</details>

[2022-08-19 09:30] gadagashwini commented on #57212
Hi @urosjarc, `tfa.image.mean_filter2d`, `filter_shape` takes  an Input : An integer or tuple/list of 2 integers.
In this case,you are using float value for `filetr_shape`.

[code]
**Output**
`tf.Tensor(0.6196606, shape=(), dtype=float32)`.

You must use tuple or integer value. Thank you!

[2022-08-19 09:36] gadagashwini commented on #57189
Hi @whatdhack, Output of the Matmul prints the shape along with value.
Please follow the below sample code snippet
[code]
**Output**
[code]

[2022-08-19 09:41] gadagashwini commented on #57181
Hi @sidml, Could you try the workaround mentioned [here](https://stackoverflow.com/a/13654489/14290244). Thank you!

[2022-08-19 09:49] gadagashwini commented on #57154
Hi @TsinghuaTop, Can we move this to closed status since you found workaround. Thank you!

[2022-08-19 09:55] gadagashwini commented on #57058
Hi @AlbertoSinigaglia, Tf-metal means `tensorflow-macos`. I am not using Conda env, I used Python virtual environment and manually, I setup the GPU. Thank you!

[2022-08-19 09:56] tilakrayal commented on #57220
@skerres,
We can see there are multiple .py files in the mentioned link. It would be difficult for us to pinpoint the issue. Please share complete stand alone code to replicate the issue or a colab gist with the error reported. That will allow us to determine the source of the issue easily. Thank you!

[2022-08-19 10:05] mohantym commented on #57204
Hi @gadagashwini !
Could you look at this issue. Attached gist in [2.8](https://colab.sandbox.google.com/gist/mohantym/cacc30175ea488d0a03bac0cfe22da19/git_57204.ipynb#scrollTo=ejY2WaPKyM5B), [2.9](https://colab.sandbox.google.com/gist/mohantym/1297d40c114858604751bea1f06c81f5/git_57204.ipynb#scrollTo=Z5emh26hx4uA) and [nightly](https://colab.sandbox.google.com/gist/mohantym/59de68fa3c8ee1cdbe1010

[2022-08-19 10:19] tilakrayal commented on #57222
@stridge-cruxml,
Could you please try loading the model with **`tf.saved_model.load("PATH")`**. I tried the alternative approach and was able to load the model without any issue. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/b9a52acf633f62ab782a08536b9c1dea/57222.ipynb). Thank you!

[2022-08-19 10:30] PatReis commented on #56300
Okay thanks for the update. I am looking forward to RaggedTensor support.

[2022-08-19 10:30] #56300 closed

[2022-08-19 10:44] stridge-cruxml commented on #57222
@tilakrayal thanks for the quick response!

Yes, I found that work around. However this is not ideal as it loads as tensorflow model not keras model.
The other work around (if its just a shortcut layer) is to use `tf.keras.layer.Layer()` instead of Sequential().

But my purpose of reporting this, is this is a case that should work and should be supported but isn't.

[2022-08-19 10:45] roserg commented on #57211
Hi, this is known limitation of GPU delegates. I don't think that you can expect that it will be fixed in the nearest time.
As a workaround you can add dummy operation like Add with zeroes or identity reshape to make intermediate tensor output not intermediate tensor. Sorry for this inconvenience.

[2022-08-19 11:25] tilakrayal commented on #57167
@cheyennee,
Here in the error trace EXPLICIT was considered as an attribute which is optional. Could you please take a look at this doc [link1](https://www.tensorflow.org/api_docs/cc/struct/tensorflow/ops/conv2-d/attrs#explicit_paddings_) and [link2](https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/conv2-d) which provides the information. It might be difficult for the community if paddi

[2022-08-19 12:34] tilakrayal commented on #57173
@cheyennee,
TensorFlow 2.4 is not actively supported. Could you please update TensorFlow to the latest stable version v2.9.0 and check if you are facing the same issue. Thank you!

[2022-08-19 12:51] urosjarc commented on #57212
Hy @gadagashwini, I want to run this peace of code (minimal example) that is part of my image augmentation pipeline...

[code]

If I run this I get error...

[code]

How can I pass random value to `mean_filter2d` to blure each image at random value?

[2022-08-19 13:12] mohantym commented on #57206
@masaton6 !

I do see the above change in[ line 244 ](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/python/analyzer_wrapper/model_analyzer.cc#:~:text=out_stream%20%3C%3C%20kSectionSplitter%3B,n%5Cn%22%3B) and 245 though in the master branch.

Could you confirm from your end.

Thank you!

[2022-08-19 13:20] mohantym commented on #57215
Hi @rposts!
Sorry for the late response.
Above tests seem to be passing when -v1only flag is removed. Attached [gist](https://colab.sandbox.google.com/gist/mohantym/e483f3d1a2520350dbdfc9b8416dcb5c/tensorflow-ranking.ipynb#scrollTo=vDXp-0XmqYkc) for reference.

Could you give let us know from your end.

Thank you!

[2022-08-19 13:46] Bahar-BM commented on #57211
Hi, thank you for your response. Yes, in the documentation of the tool in the attached link, we have pointed out the same workaround for this issue. We wanted to know if there is more systematic way to address this issue from your side but your explanation cleared everything up. Thank you

[2022-08-19 13:46] #57211 closed

[2022-08-19 13:51] cheyennee commented on #57167
@tilakrayal
Get it! I may have misunderstood 'EXPLICIT' before. Now I really know the use of 'EXPLICIT'. Thank you very very much👍

[2022-08-19 13:51] #57167 closed

[2022-08-19 14:03] cheyennee commented on #57173
@tilakrayal
I repro the code on colab [https://colab.research.google.com/drive/1mwRKRPO6pdPyyi3AGoTBwOaE4e4oJKMp?usp=sharing](#57173). The tensorflow version is 2.8, CPU and GPU output same result. I think the problem may have been fixed. Thanks.🤝

[2022-08-19 14:03] #57173 closed

[2022-08-19 15:01] christianhacker opened #57228 "tf.distribute.MirroredStrategy for asynchronous training"
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Tensorflow Version

2.8.1

### Python version

3.8.13

### CUDA/cuDNN version

11.8

### Use Case

I need to run multiple asynchronous copies of the same model on different slices of the dataset (e.g. with bootstrap sampling). There's no *good* way to do this in keras api that I'm aware of, although a couple of hac

[2022-08-19 16:35] whatdhack commented on #57189
@gadagashwini , thanks for replying.  Some of the Keras layers like LSTM, etc  are  decomposed into matmuls by Grappler.  How would one find the  shapes of  the tensor involved in such operations ?

[2022-08-19 16:38] masaton6 commented on #57206
Hi @mohantym ,

Thank you for your check. I confirmed this is already fixed with commit #2a7ad5e .

[2022-08-19 17:50] rposts commented on #57215
Thanks @mohantym - that did not fix it. Remember, this problem occurs on big-endian arch (`s390x`). Do you know if there is a way to generate this model for TF 2.x? As noted above I already tried to export inference_graph as per instructions noted in the docs.

[2022-08-19 18:49] alexmil2019 opened #57250 "ERROR: Current implementation only supports equal length strides in the r.w and column dimensions!is there any plan to support this?"
is there any plan to support this?

[code]

_Originally posted by @alexmil2019 in https://github.com/tensorflow/tensorflow/issues/33005#issuecomment-1176697401_

[2022-08-19 18:49] alexmil2019 opened #57251 "ERROR: Current implementation only supports equal length strides in the r.w and column dimensions."
is there any plan to support this?

[code]

_Originally posted by @alexmil2019 in https://github.com/tensorflow/tensorflow/issues/33005#issuecomment-1176697401_

[2022-08-19 21:32] drubinstein commented on #57196
Hi @mohantym . I attached a zipped up xcode project using the tflite 2.9.1 Pod and a tflite file that can be used to build a project that integrates tflite. You'll need to run `pod install` to download the tflite pods as I removed them due to upload
[blah.zip](https://github.com/tensorflow/tensorflow/files/9385494/blah.zip)
 size constraints from github. After building it and running
[code]

You'l

[2022-08-19 23:11] cammyoung opened #57343 "Computing `jacobian` or `batch_jacobian` with `experimental_pfor=True` errors when loading a `tf.saved_model` that uses an LSTM layer"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.8.2

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

3.7.13

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No re

[2022-08-20 00:07] ooshyun commented on #41053
And, I also found that after redefining the optimizer, applying gradient using optimizer at the first time to get the optimizer shape for the optimizer weight's shape, and setting the saved optimizer weight, then the other types of optimizers works well. I attached my test code,

[2022-08-20 00:29] mohantym commented on #57206
Ok @masaton6 !

Thanks for the update.  Moving this to resolved status as it has fixed in the nightly version.

Thank you!

[2022-08-20 00:29] #57206 closed

[2022-08-20 03:12] Apprisco opened #57353 "tf.image.ssim produces nan gradients when utilized as a loss function"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

Ubuntu 18.04

### Mobile device

_No response_

### Python version

3.9.12

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.3/8.6

### GPU model and memory

Tesla V100

###

[2022-08-20 07:49] NevilleMthw opened #57354 "0 derived errors ignored. [Op:__inference_test_function_5397] Function call stack: test_function -> test_function"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.4.1

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.4

### GPU model and memory

NVIDIA GeForce RTX

[2022-08-20 08:32] kunal-moloco commented on #40502
@mhorlacher This thread helped me a lot! Just a quick question, were you able to optimize it any further? I have a very similar task as you did and am trying to further optimize my preprocessing.

[2022-08-20 09:48] Abdullah-208 commented on #57203
@mohantym can you help?

[2022-08-20 09:49] sky712345678 commented on #57052
I also got a `Type inference failed` error when running `tf.keras.Model.fit()` in tf 2.9. I didn't see this kind error in tf 2.8 with the identical code.

### Source
binary

### Tensorflow Version
2.9.1

### OS Platform and Distribution
Linux Ubuntu 18.04

### Python version
3.7

### Current behaviour
Run tf.keras.Model.fit() and the error shows up.

### Standalone code to reproduce the issue
Link

[2022-08-20 09:56] skerres commented on #57220
@tilakrayal  Thank you for your answer.
I updated the repository, it contains now only a single .ipynb with all the code.
I hope this helps.

[2022-08-20 10:40] danijar commented on #57000
@sachinprasadhs I see. However, it's really useful information for users to know the range of CUDA versions that will work, not just the newest one. Is it accurate to say that newer CUDA versions will also work? If so, this is important information to mention.

To provide some more background, many users already have a certain CUDA version installed and want to know whether some TensorFlow issue t

[2022-08-20 11:05] beyarkay commented on #27318
@jvishnuvardhan Can you confirm that there's no way for a custom callback to get access to the validation dataset being used by the model? For example, I want to log the per-class precision/recall on a multi-class classification problem but I can't do that without the data.

[2022-08-20 11:10] beyarkay commented on #27318
@jvishnuvardhan Can you confirm that there's no way for a custom callback to get access to the validation dataset being used by the model? For example, I want to log the per-class precision/recall on a multi-class classification problem but I can't do that without the data.

For future travellers, this [stack overflow](https://stackoverflow.com/a/61856587/14555505) answer has a workaround whereby

[2022-08-20 14:44] ankur-rana99 commented on #38235
Try to set socket timeout to a higher value:

pip3 install -U --upgrade --timeout 10000 tensorflow

it worked for me while installing jupyter

[2022-08-20 14:46] ankur-rana99 commented on #48886
Try to set socket timeout to a higher value:

pip3 install -U --upgrade --timeout 10000 tensorflow

it worked for me while installing jupyter

[2022-08-20 16:03] Armanasq commented on #31107
You must add 'get_config' to your code

    def get_config(self):
        config = super().get_config()
        return config

[2022-08-20 16:06] andriworld commented on #45200
This worked for me on Ubuntu 22.04.1 LTS
`sudo apt install nvidia-cudnn`

It's a large install but it worked best for me as several other library files were missing.

[2022-08-20 17:07] johnthagen commented on #56137
@terryheo Checking in again. Is there anything the community can help with to get Python 3.10 wheels for `tflite-runtime`? We'd really like to deploy against Python 3.10 in production.

I see the latest [`tflite-runtime-nightly` on PyPI](https://pypi.org/project/tflite-runtime-nightly/2.11.0.dev20220819/#files) still only targets Python 3.7-3.9.

Let us know how we can help. ❤️

[2022-08-20 19:39] petered commented on #1766
For those searching for this, here is the place:

[code]

[2022-08-20 22:36] sachinprasadhs commented on #50762
Could you please try again with latest IOS and Tensorflow nightly version and let us know if you still face any problem. Thanks!

[2022-08-20 23:07] sachinprasadhs commented on #51877
@puneeshkhanna , Is this still an issue, could you please refer above comment and let us know your response. Thanks!

[2022-08-20 23:49] k-w-w commented on #41053
Using `tf.train.Checkpoint` would be the way of saving the optimizer weights separately from the model (as @ooshyun found)

@ooshyun  Outside of getting the optimizer with `model.optimizer`, and setting the optimizer with `model.compile`, I'm not sure how to answer this question. Could you provide more details?

[2022-08-21 00:11] ooshyun commented on #41053
Thanks for answers ! As you can see in the my code, I want to save optimizer state in the custom training model. So it found two ways, first way is using ```tf.train.Checkpoint``` and second way is using get_weights and set_weights.

The first way worked well, but the second way didn't worked well if you just set the optimizers weights to optimizer.

So, I tried to find the way how to set the weig

[2022-08-21 01:43] mohantym commented on #57203
Hi @sachinprasadhs !
Could you look at this issue.

Thank you!

[2022-08-21 02:00] mohantym commented on #57226
Hi @FragrantRookie !
Sorry for the late response. Just quick advice before going into a deep dive.

If you are using an integer only accelerator microcontroller , you have to use int8 quantization with a representative data set of int8 type too ( float 32 input data type model in a microcontroller either give performance or hybrid error )

Attachede relevant thread for reference.
Ref [1](https://g

[2022-08-21 02:08] mohantym commented on #57214
Hi @janpfeifer !
Could you check the golang build instructions from [Tensorflow/build](https://github.com/tensorflow/build/tree/master/golang_install_guide) repo.

Thank you!

[2022-08-21 02:11] mohantym commented on #57196
@drubinstein !Thanks for the update.

Hi @sachinprasadhs !
Could you look at this issue.

Thank you!

[2022-08-21 02:14] mohantym commented on #57208
Hi @PfeifferJosef-96 !
Thanks for pointing it out.

@sachinprasadhs !
Could you please look at this issue.

Thank you!

[2022-08-21 04:21] nikimagic opened #57355 "model.summary TF 2.9.1"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

win10

### Mobile device

_No response_

### Python version

3.8.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

###

[2022-08-21 06:53] janpfeifer commented on #57214
Thanks for the link @mohantym !

So it seems the Go API's [README.md](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/go/README.md) is out of date.

[2022-08-21 07:22] iammeizu opened #57356 "TF golang client memory leak"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 1 and tf 2

### Custom Code

Yes

### OS Platform and Distribution

ubuntu20.04

### Python version

3.8

### GCC/Compiler version

9.3.0

### CUDA/cuDNN version

11.4

### Current Behaviour?

[code]

### Standalone code to reproduce the issue

[code]

[2022-08-21 07:29] iammeizu commented on #57356
![1661066879182](https://user-images.githubusercontent.com/18156457/185780528-6f920a6d-128f-415c-8279-d50e3cf85a0c.png)
Action1：right red box

[2022-08-21 14:10] VictoriaGriffith opened #57357 "`tf.nn.silu` have wrong gradient for complex input"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.9

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-08-21 14:12] VictoriaGriffith commented on #57357
Here is the theoretical and numerical gradient for `tf.nn.silu`:
[code]
Outputs:
[code]

[2022-08-21 14:23] VictoriaGriffith commented on #57357
I check `sigmoid` and find similar bug also exists in `tf.nn.sigmoid`:
[code]
Outputs:
[code]

[2022-08-22 00:55] hosford42 commented on #57003
I've confirmed it works as expected with tensorflow 2.9.1. I'll go ahead and close the issue. Thanks!

[2022-08-22 00:55] #57003 closed

[2022-08-22 02:17] acebenson0704 commented on #57156
Thanks for your reply.

I tried to build tensorflow lite in Windows.

First, I tried first command `bazel build -c opt --config=monolithic tensorflow/lite/delegates/flex:tensorflowlite_flex`
But in windows, it built .dll files.
**Can I build .so files by add some flags or anything else? (For Android C/C++ NDK)**

Second, I also tried the second command follow the ref link.
`sh .\tensorflow\lite\to

[2022-08-22 03:09] eeDigitalSeal opened #57358 "Forward-mode autodifff fails to process input in `tf.Variable` type when taking higher-order JVPs and throws `Internal error`"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-08-22 03:43] dydxdt commented on #22480
This problem occurs when I used tf2.2, and I use tf2.3, it disappears

[2022-08-22 03:49] mohantym commented on #57214
@janpfeifer !Thanks for the update.
@gadagashwini ! Could you look at this issue.
Thank you!

[2022-08-22 04:27] Co1lin opened #57359 "failed to set new cublas math mode: CUBLAS_STATUS_INVALID_VALUE"
### Issue Type

Bug

### Source

binary

### Tensorflow Version

v2.9.0-18-gd8ce9f9c301 2.9.1

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04.4 LTS

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

[2022-08-22 04:55] #57032 closed

[2022-08-22 05:15] tilakrayal commented on #57228
@christianhacker,
_**`tf.distribute.experimental.ParameterServerStrategy`**_ as an asynchronous CPU/GPU multi-worker solution, where the parameters are stored on parameter servers, and workers update the gradients to parameter servers asynchronously.

Could you please take a look at this doc [link1](go/tf-multi-worker#current-status-of-cpugpu-multi-worker-strategies-with-keras) and [link2](https:/

[2022-08-22 06:15] tilakrayal commented on #57222
@stridge-cruxml,
Thanks for opening this issue. Development of keras moved to another [repository](https://github.com/keras-team/keras/issues).

Could you please post this issue on keras-team/keras [repo](https://github.com/keras-team/keras/issues).
To know more please refer:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2022-08-22 06:26] tangguangmin opened #57360 "Stack dump without symbol names (ensure you have llvm-symbolizer in your PATH or set the environment var `LLVM_SYMBOLIZER_PATH` to point to it):"
<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Source

source

### Tensorflow Version

tf2.6.0

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and

[2022-08-22 06:35] tilakrayal commented on #57343
@sachinprasadhs,
I was able to reproduce the issue on tensorflow [v2.8](https://colab.research.google.com/gist/tilakrayal/a77fe2c6c4d10e7df9dcd8f621f3ea48/tensorflow_pfor_savedmodel_bug.ipynb), [v2.9](https://colab.research.google.com/gist/tilakrayal/701e2c0a4dfea601f3887148346977f5/2-9tensorflow_pfor_savedmodel_bug.ipynb) and nightly. Kindly find the gist of it [here](https://colab.research.googl

[2022-08-22 06:57] tilakrayal commented on #57354
@NevilleMthw,
I ran the code and faced a different error, please find the gist [here](https://colab.research.google.com/gist/tilakrayal/b9ed9db735f7e0c683db865ac43e20c3/untitled512.ipynb) and share all dependencies to replicate the issue or share a colab gist with the reported error.

Also Tensorflow version 2.4 is not actively supported. Hence, kindly update to the latest stable version 2.9 to te

[2022-08-22 07:24] panhu opened #57362 "TypeError: stftLayer() missing 1 required positional argument: 'x'"
### 1. System information

- Linux Ubuntu:
- TensorFlow installation (pip package):
- TensorFlow 1.14:

### 2. Code

Code:

# -*- coding: utf-8 -*-

import os
import tensorflow as tf
import tensorflow.keras as keras
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Lambda, Input, Conv2D, BatchNormalization, Conv2DTranspose, Concatenate, LayerNormalization, PReLU
from te

[2022-08-22 07:55] #57017 closed

[2022-08-22 07:55] #57005 closed

[2022-08-22 09:00] JvKgithub commented on #56739
Are there any news on this issue @miaout17 ?

[2022-08-22 09:05] singinwhale opened #57363 "model.save: Tried to export a function which references 'untracked' resource even though the tensor should be tracked"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9.1

### Custom Code

No

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

3.7.13

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.7.0_516.01/8100

### GPU model and memory

_No

[2022-08-22 09:12] ViktorKhLoopMe commented on #56698
@gowthamkpr  Can you produce how I suppose save model with signatures in V2?

like I used to saved in V1

`builder = tf.saved_model.builder.SavedModelBuilder(export_path)

    model_input = tf.saved_model.utils.build_tensor_info(model.input)
    model_output = tf.saved_model.utils.build_tensor_info(model.output)

    prediction_signature = (
        tf.saved_model.signature_def_utils.build_signatu

[2022-08-22 09:55] #56889 closed

[2022-08-22 10:01] gadagashwini commented on #57189
Hi @whatdhack, Using Tensorboard Op-level graph, You can see metadata by clicking on a node. This allows you to see inputs, outputs, shapes and other details. For more details refer this [link](https://www.tensorflow.org/tensorboard/graphs#op-level_graph). Thank you!

[2022-08-22 10:07] lgeiger opened #57364 "XNNPACK fails to crosscompile for `elinux_armhf`"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

master / v2.10.0-rc1

### Custom Code

No

### OS Platform and Distribution

elinux_armhf

### Mobile device

_No response_

### Python version

3.9

### Bazel version

5.1.1

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memo

[2022-08-22 10:10] mohantym commented on #57156
@acebenson0704 !
To build .so files , You can either run the same command in linux or Colab.

@sachinprasadhs !
Could you look at this issue.

Thank you!

[2022-08-22 10:22] gadagashwini commented on #57204
Hi @machineko, When I tried on MacOS with TF 2.9.1. I got the following result, can you confirm the issue.

[code]
Thank you!

[2022-08-22 10:38] gadagashwini commented on #57225
Hi @yugeshav, You can use `tf.profiler` to calculate Flops. Follow the workaround mentioned on the similar issue [#32809](https://github.com/tensorflow/tensorflow/issues/32809) and [#941](https://discuss.tensorflow.org/t/calculate-flops-in-tensorflow-and-pytorch-are-not-equal/941/8). Thank you!

[2022-08-22 10:55] #57027 closed

[2022-08-22 11:14] tilakrayal commented on #57355
@nikimagic,
model.summary() to print a useful summary of the model, which includes:

- Name and type of all layers in the model.
- Output shape for each layer.
- Number of weight parameters of each layer.
- If the model has general topology, the inputs each layer receives
- The total number of trainable and non-trainable parameters of the model.

For the input, please consider providing the input

[2022-08-22 11:21] mohantym commented on #56184
Hi @nvcastet !
I was getting below error in 2.10.rc1

So I cast the outputs like these to resolve above issue.
[code]

Could you try this work around and let us know.

Thank you!

[2022-08-22 11:36] tilakrayal commented on #57358
@gowthamkpr,
I was able to reproduce the issue on tensorflow v2.8, v2.9 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/1443551ae75abd01ac309b3a24585880/untitled517.ipynb).

[2022-08-22 12:55] #14566 closed

[2022-08-22 13:08] sseppola commented on #44265
I'm on an x84_64 mac trying to run TF on my iPhone in local development, and cannot get `2.9.1` to work.

[code]

Reverting to `2.6.0` for all the listed pods, as mentioned by @alarm109, worked.

The latest docs do not appear to be in sync with the latest `TensorFlowLiteSelectTfOps` which uses a`xcframework`, so the path should be `$(SRCROOT)/Pods/TensorFlowLiteSelectTfOps/Frameworks/TensorFlowLit

[2022-08-22 13:35] jonas-eschle opened #57365 "[BUG] Gradient tape *inside* tf.function broken for tf.Variable argument."
### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.7, 2.9, nightly

### Custom Code

Yes

### OS Platform and Distribution

Ubuntu 22.04

### Mobile device

_No response_

### Python version

3.1)

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current Behaviour?

[cod

[2022-08-22 15:13] BhaskarsarmaP opened #57366 "TFLite build issue on windows for version 2.8.0"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.8.0

### Custom Code

No

### OS Platform and Distribution

Windows

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

4.2.2

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No re

[2022-08-22 15:15] christianhacker commented on #57228
@tilakrayal ,
Thank you for the reply. I've been working on getting ParameterServerStrategy working, but am at an impasse.

Since this is bootstrap training, I'd like to have access to each worker's model weights post training; I need to track how parameters are different for each bootstrap split (i.e. a random subsample of the original training data with replacement).

This means that each split

[2022-08-22 15:15] BhaskarsarmaP commented on #57366
Used , python version 3.10.6

Visual Studio 2019
Installed numpy , future and pip

[2022-08-22 15:21] nvcastet commented on #56184
@mohantym Yes casting is a good workaround, but if you want to communicate/reduce in `int32`, we will need to add the int32 NCCL support in TF.

[2022-08-22 15:51] mihaimaruseac commented on #57214
Sadly, there is no one left in TF with Go readability to maintain the bindings. Creating a SIG Go is currently pending on https://github.com/tensorflow/community/pull/407.

[2022-08-22 15:52] #55293 closed

[2022-08-22 15:55] #16839 closed

[2022-08-22 17:06] #55323 closed

[2022-08-22 17:18] kchelvan opened #57368 "Shape Error when Passing Different Features for Wide and Deep Models"
**OS: ** Windows 11
**TensorFlow: **Installed from pip. Version 2.9.1
**Python Version: **  3.10.5

I am attempting to recreate the Wide and Deep model using Tensorflow's WideDeepModel library; however, I am encountering an issue when attempting to differentiate between the wide model inputs and the deep model inputs. Referenced below is the code that I am using.

[code]

My goal is to fit the com

[2022-08-22 18:12] NevilleMthw commented on #57354
Hi, I have already solved the issue, seems it was something related to my ```model.compile()``` function. Thank you for the help and concern!

[2022-08-22 18:12] #57354 closed

[2022-08-22 19:33] albertmundu commented on #32809
Refer to this https://github.com/wandb/wandb/blob/latest/wandb/integration/keras/keras.py#L1025-L1073 for the future visitors

[code]

[2022-08-22 19:40] perestoronin opened #57371 "Build TF 2.9.1 with use ROCM 5.2.3 with GCC 12.2.0 failed, but succesfull build with use ROCM 5.2.3 with GCC 11.3.0 or with GCC 12.2.0 without use ROCM"
Build TF 2.9.1 with use ROCM 5.2.3 with GCC 12.2.0 failed,

but succesfull build with use ROCM 5.2.3 with GCC 11.3.0
or with GCC 12.2.0 without use ROCM

<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf 2.9.1

### Custom Code

No

### OS Platform and Distribution

Gentoo

### Mobile device

_No response_

### Python versio

[2022-08-22 19:43] mbhynes commented on #48167
Hi folks,

I was also interested in using L-BFGS (and other batch solver) from `scipy.optimize`, and have made a package for this in my own work:
  - https://github.com/mbhynes/kormos
  - https://pypi.org/project/kormos/
  - https://kormos.readthedocs.io/en/latest/

I set up the package to be as drag & drop info TF2 as possible, since I was myself alternating between solvers like ADAM and L-BFGS d

[2022-08-22 21:44] mikeymezher commented on #43497
Though this would definitely be a nice feature to have, I'm pretty confident there is a work around that avoids for loops.
Consider sparse tensor A of size (b x s x d) and dense tensor B of size (b x k x d)
If we'd like to matrix multiply A x B.T, and expect the result E to be of size (b x s x k), we can do this using sparse_dense_matmul by:

1. Reshaping A into (b*s x d) and B into (b*k x d)
2. C

[2022-08-22 21:46] PurvangL opened #57372 "tf.distribute.MultiWorkerMirroredStrategy getting stuck"
<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Source

binary

### Tensorflow Version

2.5

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.6.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-08-22 22:33] kchelvan commented on #57368
Seems like an issue with the addition I was using. Issue is resolved.

[2022-08-22 22:33] #57368 closed

[2022-08-22 23:46] YLuc opened #57375 "official tutorial has Warning for op: "CropAndResize""
Official tutorial is based on 2.9.0-rc1, while I reproduced the warning on both TF2.9.0 and TF2.8.2.

The warning appears on the page: https://www.tensorflow.org/hub/tutorials/object_detection#apply_module

2022-04-27 14:31:15.178364: W tensorflow/core/grappler/costs/op_level_cost_estimator.cc:690] Error in PredictCost() for the op: op: "CropAndResize" attr { key: "T" value { type: DT_FLOAT } } at

[2022-08-23 00:34] curiarteb commented on #43497
Yes! And it was exactly what I did. However, there are two big issues regarding this:
1) You need to know the size of "b" for reshaping both A and B.
2) The .fit function of Keras enables graph execution mode (it is much faster than eager execution). When constructing the graph,the reshape function breaks, since we are feeding tensors with "None" first axis dimensions.

Then, your reshaping only w

[2022-08-23 01:00] sushreebarsa commented on #57170
@cheyennee The gists are having latest TF versions. Could you please check if this issue is not replicating in latest versions as it is recommended to use latest TF version. Thank you!

[2022-08-23 01:12] ruler501 commented on #43497
Use tf.shape(tensor) to get the shape at runtime in graph mode. As long as the rank is determined working with it is the same.

[2022-08-23 01:21] cheyennee commented on #57170
@sushreebarsa I have confirmed that these issues are not replicating in tf 2.8.2 version. I will update my tf version. Thanks.

[2022-08-23 01:21] #57170 closed

[2022-08-23 02:15] sushreebarsa commented on #57218
@kcoul Thank you for raising this ticket.
This issue will be closed once the PR is merged.
Thank you!

[2022-08-23 02:18] tilakrayal commented on #57360
@tangguangmin,
To expedite the trouble-shooting process, could you provide a complete code snippet you are using.

**mlir_generated_gpu_kernels_enabled** seems to be an alias for **gpu_enabled** (please check https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/mlir_generated/build_defs.bzl#L116). Also please take a look at this [issue](https://github.com/tensorflow/tensorf

[2022-08-23 02:25] sushreebarsa commented on #33005
@Raukk
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thank you!

[2022-08-23 02:26] sushreebarsa commented on #57250
@alexmil2019
In order to expedite the trouble-shooting process here, could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thank you!

[2022-08-23 02:30] sushreebarsa commented on #57251
@alexmil2019 Could you please let us know if this is a duplicate ticket of [57250](https://github.com/tensorflow/tensorflow/issues/57250) ?
Thank you!

[2022-08-23 03:58] zzq96 commented on #57169
hi, i have tried it, but the memory isn't cleared:

<img width="834" alt="image" src="https://user-images.githubusercontent.com/39215341/186066492-5b1c4acf-0e9b-449f-8b30-8d3a36483cc1.png">

[2022-08-23 04:38] mohantym commented on #57364
@sachinprasadhs !

Could you look at this issue .
It is passing in [2.9](https://colab.sandbox.google.com/gist/mohantym/6ab81dc34c85e5fb0856d2e98ed688a2/tensorflow-ranking.ipynb#scrollTo=skRg4_WPi616) and failing in [master](https://colab.sandbox.google.com/gist/mohantym/1694a4841773864b871152838db72de2/tensorflow-ranking.ipynb#scrollTo=tlf7PgzQ2JtS).

Thank you!

[2022-08-23 05:24] gzygmontson13 commented on #55259
I use the following code to write images to TFRecord format:

def image_feature(imageSample):
  feature = {
    'image': bytes_feature(imageSample.tobytes())
  }
  return tf.train.Example(features=tf.train.Features(feature=feature))

def WriteTFRecord(images, save_directory, fileNumber):
  """ Writes a TFRecord file containing one or multiple training examples """
  with tf.io.TFRecordWriter(save_

[2022-08-23 05:28] tilakrayal commented on #57365
@sachinprasadhs,
I was able to reproduce the issue on tensorflow [v2.8](https://colab.research.google.com/gist/tilakrayal/8935c59e2233d0896d153a2071d36fe9/2-8gradient_tape_with_function_and_variable_broken.ipynb), [v2.9](https://colab.research.google.com/gist/tilakrayal/edb62f126ef28301034693a1ea2be901/2-9gradient_tape_with_function_and_variable_broken.ipynb) and [nightly](https://colab.research.g

[2022-08-23 05:31] Abdullah-208 commented on #57203
@sachinprasadhs !
Could you take a look plz!

[2022-08-23 05:50] yishuangP commented on #56255
Hi really sorry for the late reply. I'm working on a fix, basically we should remove `xnnpack_delegate` target from `avoid_deps`, there are some duplicate symbols in TensorFlowLiteSelectTfOps and TensorFlowLiteC static frameworks, we'll need to remove them from TensorFlowLiteSelectTfOps. In the meantime, can you try tensorflow/lite/ios/build_frameworks.sh? You might need to add `--config=monolithi

[2022-08-23 06:15] yyoon commented on #44265
@sseppola Could you kindly create a new issue for this? You can also tag @yishuangP in the new issue.

[2022-08-23 06:22] sushreebarsa commented on #48372
@ktaebum I tried to replicate the issue and faced a different error in latest TF version using colab. Could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/4ec7ff8660b3b06f48c62b4cc83027c1/48372.ipynb) and confirm the same. Thank you!

[2022-08-23 06:38] #56226 closed

[2022-08-23 06:44] tilakrayal commented on #57371
@perestoronin,
Could you please lower the GCC version to 9.3.1 and try to build Tensorflow, as 9.3.1 is a compatible version for tf v2.9. Thank you!

[2022-08-23 07:00] mohantym commented on #55214
Hi @DLFrameworkBug !
Getting a crash in [2.9](https://colab.sandbox.google.com/gist/mohantym/a0bc4b0b68da02308fe7d2bbf2ada816/-55214.ipynb#scrollTo=Qv24ISeUd2lZ) and invalidArgument error in[ nightly](https://colab.sandbox.google.com/gist/mohantym/a838d11722ab24baef1a7919695cc4ab/-55214.ipynb#scrollTo=wexsxyrRfVa4).
Thank you!

[2022-08-23 07:05] tilakrayal commented on #57375
@YLuc,
Could you please try to run the below command before executing the code. I tried and was able to execute the code. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/202a3fe3549a1b48e6a962fcc7f4559e/2-9-57375.ipynb).

**`!apt install --allow-change-held-packages libcudnn8=8.1.0.77-1+cuda11.2`**

Thank you!

[2022-08-23 07:11] elina-israyelyan commented on #57052
I mentioned the architecture of the model. Those warnings can also be seen in https://www.tensorflow.org/guide/migrate/evaluator . So the warning doesn't come from only my architecture. Further information on details of the code I cannot provide.

[2022-08-23 07:13] machineko commented on #57204
Yup it same in my case

[2022-08-23 07:19] wukong1992 opened #57385 "Tensorflow horovod distributed on a100 mig error"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

1.15.4

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-08-23 07:27] gadagashwini commented on #53403
Hi @exx8, Did you get a chance to look at @SeeForTwo's comment above.

Thank you!

[2022-08-23 08:08] tilakrayal commented on #50575
@guillaumekln,
I was not able to find the above mentioned warning with softmax on tensorflow v2.11.0-dev20220822. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/3dcd7398f93cb8b6693d50ed2b900009/untitled52100.ipynb) and let us know if the issue still persists. Thank you!

[2022-08-23 08:09] martin-ku-oup opened #57386 "Model Maker Object Detection Tutorial cannot export model"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: No
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Google Colab
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**:
-   **TensorFlow installed from (source or binary)**: source
-   **TensorFlow v

[2022-08-23 08:35] gadagashwini commented on #57179
Hi @modem7, As @mihaimaruseac mentioned in the above comments, these are the warnings, you can ignore them. These won’t impact on build. Thank you!

[2022-08-23 08:38] #42521 closed

[2022-08-23 08:54] tilakrayal commented on #50687
@wwwwcu,
Could you please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/50687#issuecomment-879277321) from the developer and let us know if you are facing the same issue in latest stable v2.9. Thank you!

[2022-08-23 08:56] modem7 commented on #57179
Great news!

Cheers chaps! Thanks for looking into it!

[2022-08-23 08:56] #57179 closed

[2022-08-23 09:08] tilakrayal commented on #50727
I was able to reproduce the issue on tf-nightly 2.11.0-dev20220822. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/b96b466af8014d8e3f55aec82700882e/untitled521.ipynb). Thank you!