[2021-03-26 00:55] bhack commented on #48086
Yes I suppose that the issue is more in the pythoh native join in model save and load. E.g. see https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/saving/saved_model/save.py#L96.

X filesystem separator in c++ is here but I don't think it is exposed in pyhton:
https://github.com/tensorflow/tensorflow/blob/343cb03f21c73cfe84e47ab2974a6faa1ad80972/tensorflow/core/platform/f

[2021-03-26 01:07] adriangb commented on #48086
I have a reproducible version without model saving (although of course these two could be unrelated, you make a good point above):

[Test passing on *nix](https://github.com/adriangb/tensorflow-test/runs/2198281295?check_suite_focus=true)
[Test failing on Windows](https://github.com/adriangb/tensorflow-test/runs/2198281305?check_suite_focus=true)

Source (also [here](https://github.com/adriangb/te

[2021-03-26 01:12] DolanDack commented on #47875
I have the exact same problem. Just replaced my 1080ti with a 3090 and TF 2.4 is very slow (CUDA 11.0)

[2021-03-26 01:17] psybuzz opened #48094 "Eagerly calling a Keras Conv2D crashes with `floating point exception`"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 11.2
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.5.0.dev20210215
- Python version: 3.8.2
- CUDA/cuDNN version: n/a
- GPU model and memory: AMD Radeon Pro 5

[2021-03-26 01:27] terryheo commented on #48027
I think this is the case since there is no float16 native kernels. @jdduke, @daverim FYI,

I wonder if you tried full integer quantization which saves more memory. https://www.tensorflow.org/lite/performance/post_training_quantization
I guess it also allows to share constant tensors.

[2021-03-26 01:34] HiveYuan commented on #18736
but my device monitor says only 38% memory is used

[2021-03-26 01:37] Her0Mark commented on #43227
I also have the same issue. I modified TensorFlow/workspace/training_demo/models/ YOUR-MODEL-NAME/pipeline.config to batch_size: 1 (on line 135). Im still getting this error. Please can anyone help

[2021-03-26 01:37] ljburtz commented on #46093
I highly recommend using the tensorflow docker image built by NVIDIA !
see my [comment upthread](https://github.com/tensorflow/tensorflow/issues/46093#issuecomment-787044411)

[2021-03-26 02:14] alex-sokolov2011 commented on #34385
I still got the same error after
[code]
SystemError                               Traceback (most recent call last)

<ipython-input-10-7c0b5e3718da> in <module>()
      3 device_name = tf.test.gpu_device_name()
      4 if device_name != '/device:GPU:0':
----> 5    raise SystemError('GPU device not found')
      6 print('Found GPU at: {}'.format(device_name))

SystemError: GPU device not found

but

[2021-03-26 02:15] bhack commented on #48086
I suspect this is another problem.
I don't know if you can patch on the fly in you repo action  https://github.com/tensorflow/tensorflow/blob/306904197c95cc01cdcd30462fd62984329f5cef/tensorflow/python/lib/io/file_io.py#L838-L839
To print `_make_full_path` and `is_directory` result in Ubuntu/Win

[2021-03-26 02:20] alex-sokolov2011 opened #48096 "GPU device not found (Google colab)"
I still got the same error after

[code]
in output:
_**SystemError Traceback (most recent call last)

in ()
3 device_name = tf.test.gpu_device_name()
4 if device_name != '/device:GPU:0':
----> 5 raise SystemError('GPU device not found')
6 print('Found GPU at: {}'.format(device_name))

SystemError: GPU device not found**_

but comand
`!nvidia-smi`
get me:
**_NVIDIA-SMI 460.56 Driver Version: 460.32

[2021-03-26 02:24] adriangb commented on #48086
I should be able to. I'll give it a try tomorrow.

[2021-03-26 02:33] Arcturai commented on #43947
@LeKristapino

This unfortunately didn't solve my problem. I tried to upgrade to CUDA 11.2 and the newest cuDNN (8.1.1) today, which promptly broke my tensorflow. I found out that latest stable release of tensorflow 2.4.1 only supports up to CUDA 11.0, so I followed the [CUDA installation guide](https://docs.nvidia.com/cuda/archive/11.0/cuda-installation-guide-linux/index.html#removing-cuda-tk-and

[2021-03-26 03:37] bjourne commented on #47853
It's a 2d-tensor [n, size]. n is 10k and size varies between 100 to 1000.

[2021-03-26 03:42] Adhithya-tech commented on #48071
@amahendrakar I think

This should solve it

[2021-03-26 03:43] Adhithya-tech commented on #48071
Anyways, it's basically converting a faster RCNN model to tensorfow using onnx in between

[2021-03-26 03:45] Yakshith-Ramesh opened #48098 "Issue related to goldeneye DOS attack"
I have been seeing this below error when I run the final command, can anyone help me fix it.

Exception AttributeError: "'NoneType' object has no attribute 'terminate'" in <bound method Striker.__del__ of <Striker(Striker-2, initial)>> ignored

Shutting down GoldenEye
![image](https://user-images.githubusercontent.com/64961683/112573985-7c0a4b80-8e41-11eb-9432-477ae4a81714.png)
@jan Seidl @jseidl

[2021-03-26 03:49] ymodak commented on #48096
This is because colab hosts cuda 11.0 currently. Generally colab uses latest stable TF compatible cuda version (currently TF 2.4 and cuda 11.0)
We can expect colab using cuda 11.2 once TF 2.5 is released.
[code]

[2021-03-26 03:55] sanjoy commented on #48057
@cbcafiero the standalone reproducer you shared above is not complete (`load_img_datasets` is not defined, for instance, and I also don't know what to put in `path/to/data`).

Can you share an isolated reproducer that I can run as `python reproducer.py` on TF nightly?

Thanks!

[2021-03-26 04:06] abattery commented on #48085
Please refer to the following document. This document explains how to enable object detection through TFLite.
https://www.tensorflow.org/lite/examples/object_detection/overview

[2021-03-26 04:31] tabVersion commented on #46685
@ameyparanjape Hi, I first init a dataset and iter over it. Using `for` should reach the data and I process data every batch instead of using `map`.

[2021-03-26 04:32] alex-sokolov2011 commented on #48096
@ymodak thank you so much. You are damn right, i have got the same output. But, but how does this information solve my problem?
I have already seen this cause in other threads, but have not found working solutions to downgrade to CUDA = 10.0.0 for Colab.

[2021-03-26 04:46] Saduf2019 commented on #48069
@julng
can you please upgrade your tf version to 2.4 and let us know if you face the issue.

[2021-03-26 04:49] Saduf2019 commented on #48066
@Kewenjing1020

We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

[2021-03-26 04:53] Saduf2019 commented on #48098
@Yakshith-Ramesh
Can you please paste the error logs for us to look into the issue.

[2021-03-26 05:15] Yakshith-Ramesh commented on #48098
Hi, thanks for responding. The error is shown at the bottom of screen as shown in the picture. There's no logs associated with the errors.

[2021-03-26 05:29] Saduf2019 commented on #48098
@Yakshith-Ramesh
Please paste the error in text format, it would be difficult for users with similar error to search and us to look it up.

[2021-03-26 05:41] Yakshith-Ramesh commented on #48098
I am sorry about that. The error is as below
Exception AttributeError: "'NoneType' object has no attribute 'terminate'" in <bound method Striker.__del__ of <Striker(Striker-2, initial)>> ignored

Shutting down GoldenEye

[GoldenEYE error.txt](https://github.com/tensorflow/tensorflow/files/6209586/GoldenEYE.error.txt)

[2021-03-26 05:55] ajaysg94 commented on #30864
I am using Keras = 2.2.4, Tensorflow = 1.14.0, I wanted to convert **.h5 to tf-lite** but getting the below error. My keras model has LSTM in it.
[code]

I am using this script
[code]

[2021-03-26 06:18] galeone commented on #35133
Great! Have you fixed the linking problem you posted before?

[2021-03-26 06:18] gdavid57 commented on #48070
**Describe the feature and the current behavior/state.**

Tensorflow already incorporates a native Non Max Suppression algorithm for 2D bounding boxes. It is used for instance for objet detection tasks, usually after a anchor box generation step as it is observed in YOLO. Another remarkable use exists within the Mask R-CNN algorithm: many anchor boxes are generated (~200,000-300,000 boxes). After

[2021-03-26 06:37] #47717 closed

[2021-03-26 06:37] #42610 closed

[2021-03-26 07:02] rcx986635 commented on #35100
I have the same problem (using model.fit() ,and one numpy generator but keras.sequence)
I'm using linux redhat, python 3.6 and tensorflow 2.4.1.
then I got the error
  File "/root/python_env/anaconda3/lib/python3.6/copy.py", line 215, in _deepcopy_list
    append(deepcopy(a, memo))
  File "/root/python_env/anaconda3/lib/python3.6/copy.py", line 180, in deepcopy
    y = _reconstruct(x, memo, *rv)

[2021-03-26 07:05] rcx986635 commented on #35100
devices = tf.config.experimental.list_physical_devices('GPU')  tf.config.experimental.set_memory_growth(devices[0], True)
not work for me

[2021-03-26 07:05] Kewenjing1020 opened #48100 "How do you convert mobilenet v3 checkpoints to .h5 file?"
Hi, as pointed in https://github.com/tensorflow/tensorflow/blob/v2.4.1/tensorflow/python/keras/applications/mobilenet_v3.py#L390-L429 :
[code]

How do you convert the checkpoints to .h5 file? Is there any documentation about this?

[2021-03-26 07:25] rmothukuru commented on #48039
@zwang1995,
Can you please share the link corresponding to the statement,

so that we can double check? Thanks!

[2021-03-26 07:37] #47719 closed

[2021-03-26 07:37] #47701 closed

[2021-03-26 07:38] rcx986635 commented on #35100
It might be helpful ,
Epoch 00001: loss improved from inf to 93.23533, saving model to model/best_model.h5
Traceback (most recent call last):
  File "train_v2.py", line 1070, in train
    callbacks=callbacks_list)
  File "/root/python_env/anaconda3/lib/python3.6/site-packages/tensorflow/python/keras/engine/training.py", line 1145, in fit
    callbacks.on_epoch_end(epoch, epoch_logs)
  File "/root/

[2021-03-26 08:02] DachuanZhao opened #48101 "Add a tf.keras.layers.WeightedAverage"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): tensorflow 2.4.1
- Are you willing to contribute it (Yes/N

[2021-03-26 08:02] herbiezhao commented on #48068
I imitated the build_aar.sh file and created a bash file. In bash, I added a function that can compile the C++ library correctly. The library is very small, only 162k, but when I use this library to inference, there are many API functions that can’t be found.

**Added function:**
function generate_tflite_cc {
  pushd ${TMP_DIR} > /dev/null
  # Generate the BUILD file.
  message=(
    'load("//tens

[2021-03-26 08:19] rcx986635 opened #48102 "TF2.4 ModelCheckpoint Cant Save Model"
**System information**
- OS Platform and Distribution (e.g., Linux Redhat 7.4):
- TensorFlow installed from conda install
- TensorFlow version (use command below): tf 2.4.1
- Python version: 3.6.8
- CUDA/cuDNN version:  11.2/8.0.4
- GPU model and memory:   GTX3090   24G

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
checkpoint1 = ModelCheckpoint(

[2021-03-26 09:02] napoleonwar commented on #47760
@johanforslund Did you run the helloworld and micro speech from micro example before? Can I ask what the code size it is? like the size of binary file, .hex file....

[2021-03-26 09:02] skku-dhkim commented on #43174
Same issue on RTX 2060 Ti with TF 2.4.1
If I upgrade TF 2.4.1 to tf-nightly, the missing CUDA library error occurs.

The proposed above solution was best for me.
But still, it has drawbacks that limit the GPU memories.
It could be a temporary solution.

[2021-03-26 09:24] MeghaGhosh commented on #47973
Okay thanks, I'll look into this.

[2021-03-26 09:25] zwang1995 commented on #48039
@rmothukuru
Here is the link: https://arxiv.org/abs/1502.03167

[2021-03-26 09:33] rmothukuru commented on #48039
@zwang1995,
Sorry, but we couldn't find the expression you mentioned in that link. Can you please provide the exact link? Thanks!

[2021-03-26 09:37] #47694 closed

[2021-03-26 09:49] rmothukuru commented on #30532
@bojangus,
Sorry for the delayed response. I think, recommendation in this case is to use [**`Tensorflow Extended, TFX`**](https://www.tensorflow.org/tfx), which effectively handles **`End-To-End Machine Learning Pipelines`**. In your case, the versioning will be taken care by **`Tensorflow Serving`**, a sub system of **`TFX`**.

[2021-03-26 09:50] zwang1995 commented on #48039
@rmothukuru
In Algorithm 1, in the normalize step, there is a **square root** for (sigma**2 + epsilon).
And the **square root** is missing in the document for BatchNormalization layer.

[2021-03-26 09:50] edurenye commented on #34954
Then this can be closed now

[2021-03-26 10:01] amahendrakar commented on #48086
@adriangb,
With [TF v2.4](https://colab.research.google.com/gist/amahendrakar/244269ccabf4e7b5f175ce5eaf662264/48086.ipynb), I was able to reproduce the `AssertionError` on Linux as well.

However, I did not face any error while running the code with the latest [TF-nightly](https://colab.research.google.com/gist/amahendrakar/6fcf1ad6081f233913593481a765c7b8/48086-tf-nightly.ipynb). Please check th

[2021-03-26 10:23] gg187on commented on #35133
yes, today we are trying to implement something in it, and we will see if it works,... we do team project to school where we need to create CNN for object detection (there will be folder of images, and it needs to detect object on it) and then calculate time of run both in serial and parallel running. (using gorutines with it, that I'm not sure if I know how). Could You propably help us? I can pay

[2021-03-26 10:26] Saduf2019 commented on #48098
@Yakshith-Ramesh
This is not a tensorflow related issue.

We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

[2021-03-26 10:31] innat opened #48103 "EfficientNet official VS non-official implementation + Reproducibility"
I've encountered weird phenomena with the official implementation of the `EfficientNet` model. The **validation score** doesn't improve as expected and far less than a non-official one.

# Reproduce Issue

[code]

[code]

[code]

[code]

Tested in `TensorFlow 2.4.1`.
Training log from **Official EfficientNet**

Epoch 1/3
1563/1563 [==============================] - 128s 77ms/step - loss: 1.6419 -

[2021-03-26 10:39] LeKristapino commented on #43947
@Arcturai Your statement doesn't go together with the error messages - if the missing files are in `/usr/local/cuda/targets/x86_64-linux/lib` or any other folder which is included in LD_LIBRARY_PATH then they wouldn't show up as missing

Could you paste the output of

* `ls /usr/local/cuda/targets/x86_64-linux/lib`
* `ls /usr/local/cuda-11.0/lib64`
* `echo LD_LIBRARY_PATH`

[2021-03-26 10:40] Saduf2019 commented on #48094
I ran the code shared but colab crashes, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/73e4368b893d9089f7eb41408218ab14/untitled575.ipynb)

[2021-03-26 10:46] Saduf2019 commented on #48100
@Kewenjing1020

Kindly open a [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow) issue for this as it is not a bug or feature request, Please post this kind of support questions at Stackoverflow. There is a big community to support and learn from your questions.

You may refer to these to links for an isea and move this issue to closed status after you reate one on stackoverflo

[2021-03-26 10:48] Saduf2019 commented on #48102
@rcx986635
Please share simple stand alone code or a colab gist with the issue reported.

[2021-03-26 10:50] Saduf2019 commented on #47930
@Fabien-Couthouis

Kindly open a [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow) issue for this as it is not a bug or feature request, Please post this kind of support questions at Stackoverflow. There is a big community to support and learn from your questions.
Thanks!

[2021-03-26 11:03] bhack commented on #48086
@amahendrakar We was always working to debug this with nightly. See https://github.com/adriangb/tensorflow-test/blob/master/.github/workflows/test.yml#L14

[2021-03-26 11:08] abattery commented on #48068
Looks like the above custom built script strips out all the operators from the generated library file. I would recommend using the bazel based solution for this case, which is verified working.

[2021-03-26 11:28] herbiezhao commented on #48068
I put
"tflite_custom_cc_library(
    name = "custom_tflite_lib",
    models = [
        "model1.tflite",
        "model2.tflite",
    ],
)" into tensorflow/lite/BUILD, and build again, I got the same library, and inference with same error.

I am not familiar with bazel build, could you provide a script that can be directly executed? TKS

[2021-03-26 11:39] abattery commented on #48068
Please refer to the following document for the bazel build environment:

https://www.tensorflow.org/lite/guide/build_android#set_up_build_environment_without_docker

And then run the following command and you can find the generated artifact file paths in the screen:

[code]

[2021-03-26 11:47] rmothukuru commented on #31089
@beasteers,
Sorry for the delayed response. The functionality you are looking for, is implemented in [tf.Variable](https://www.tensorflow.org/guide/variable). Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/ccbb2d0eb8993887a480b9e6b7c23590/gh_31089.ipynb) of the working code. Thanks!

[2021-03-26 11:48] barabanus commented on #48027
@terryheo

At some point I will, but I'd split the whole graph into preparation (`float32`), inference (int quantization) and postprocessing (`float32`) parts. Currently it would be very beneficial to have just `float16`. More to say, it's shame that previous implementation of the same model had been done manually with `float16` arithmetic (== two times less memory) and the same performance. Also,

[2021-03-26 12:26] cbcafiero commented on #48057
@sanjoy Here is complete code, per your request

[code]

Here is complete output of running this code on two GPUs:

[code]

My data are in directories (relative to `reproducer.py`):

[code]

I can make these data available to you if it's necessary, but I think any set of PNGs that are 224x224 should suffice. Please let me know how you'd like to proceed on this point. Sample image attached.

Thanks

[2021-03-26 12:37] lcx2017 opened #48104 "Tensorflow_xla model inference crash on Jetson AGX xavier"
I met tensorflow_xla crash issue for model inference on Nvidia Jetson AGX Xavier aarch64 system.

**System information**
- Have I written custom code: Yes, I have some CPU computing custom ops, they are in different places in the middle of the network
- OS Platform and Distribution):  Linux Ubuntu18.04
- device: Nvidia Jetson AGX Xavier
- TensorFlow installed from (source or binary): source
- Tens

[2021-03-26 12:37] #47692 closed

[2021-03-26 12:45] beasteers commented on #31089
- This question was pertaining to `tf.keras.backend.variable` which is presumably different to `tf.Variable`. If I've missed something and they can in fact be used interchangeably, then it's perhaps that `tf.keras.backend.variable` is now unnecessary because of improving tf+keras core integrations and is just there for legacy purposes.

But in the keras version it's doing a bit more (`_keras_shape

[2021-03-26 13:07] dlopr opened #48105 "Incorrect ZeroPadding before MaxPool2D in keras' resnet"
Hi,

I've noticed that the implementation of resnet networks in keras introduces a ZeroPadding layer before the initial MaxPool2D 3x3 stride 2:

https://github.com/tensorflow/tensorflow/blob/204082475214b3f08d1301998780592b53076951/tensorflow/python/keras/applications/resnet.py#L161

I don't think this is correct. Zero is not a neutral element for a MaxPool2D operation. The input values at the edg

[2021-03-26 13:29] bhack commented on #48086
@adriangb Ok I've Win emulated your last example on Linux with Docker+Wine.

You can test yourself with

[code]
You can add debug prints to `/opt/wineprefix/drive_c/Python39/Lib/site-packages/tensorflow/python/lib/io/file_io.py` in `def _make_full_path(parent, item):`

Just for your last **specific test case** you could replace `return os.path.join(parent, item)` with `return os.path.join(parent,

[2021-03-26 13:37] #25780 closed

[2021-03-26 13:38] bhack commented on #48086
@frankchn @mihaimaruseac  As i see in your ram filesystem [tests](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/ram_file_system_test.py) do you expect an universal "/" for the ram filesystem and not an OS dependent one right?

[2021-03-26 13:42] zhangguanqun opened #48106 "Call tf.lite.Interpreter.interpreter.invoke() makes program crash"
### 1. System information

- OS Platform and Distribution (Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installation (pip package or built from source): pip install
- TensorFlow library (version, if pip package or github SHA, if built from source): tensorflow==2.3.2

### 2. Code
[code]

### 3. Failure after conversion
Model conversion successful, but invoke() makes program crash with error msg:

[2021-03-26 14:00] Saduf2019 commented on #48106
@zhangguanqun
Can you please refer to similar issues and let us know if it helps: #32492, #34574, [link](https://github.com/tensorflow/tensorflow/issues/24376#issuecomment-448026297)

[2021-03-26 14:01] Saduf2019 commented on #48073
@ocaff1
Please move this issue to closed status as its resolved.

[2021-03-26 14:09] Saduf2019 commented on #47931
I am able to replicate the issue on tf2.3,2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/37b969984beb099ace9afd32946e02b6/untitled576.ipynb).

[2021-03-26 14:16] adriangb commented on #48086
I was able to test using docker and wine, thanks for the tip @bhack !

It looks like what is happening is that this `os.path.join`:
https://github.com/tensorflow/tensorflow/blob/204082475214b3f08d1301998780592b53076951/tensorflow/python/lib/io/file_io.py#L824
Is joining `parent="ram://test"` and `item="inner"` -> `path="ram://test\inner`, which then cascades into `is_directory(path) == False`, so

[2021-03-26 14:17] #48073 closed

[2021-03-26 14:21] bplevin36 commented on #48058
@amahendrakar  Just in case, I reran the entire process using Python 3.8, but the issue remains.

[2021-03-26 14:25] adriangb commented on #48086
So it seems like 2 things are needed to solve this:
1. Some way to determine what the path separator is given the full path.
2. An implementation of `os.path.join` that accepts a path separator.

[2021-03-26 14:27] bhack commented on #48086
If you see that ram filesystem tests I mentioned above you see that it is only tested with "/" separator.

But OS dep separator it is not illegal. E.g. run in your Wine environment:

[code]

[2021-03-26 14:42] zhangguanqun commented on #48106
@Saduf2019
Thanks reply.
I tried above three issues you mentioned, and I'm sure I don't have these problems, all the programs works fine on my computer.

[2021-03-26 14:47] herbiezhao commented on #48068
I can generate so, but this so cannot be used normally (missing operators).
How can i fix this problem?

[2021-03-26 14:54] TsigabuTe commented on #14008
from tensorflow.keras.utils import to_categorical

[2021-03-26 14:57] dogacbasaran commented on #48064
@amahendrakar I'm having trouble installing GCC 7.3.1 specifically. I downgraded my Bazel to 3.1.0, tried with GCC 7.5.0 it still failed the same way. Could you please direct me on how to install that specific version please? Thanks.

[2021-03-26 15:00] nmfisher opened #48108 "Can't load TFLite model on Android/iOS - NODE PAD failed to prepare"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): TF built on CentOS / current Docker version for Android
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Samsung J2 Core
- TensorFlow installed from (source or binary):

[2021-03-26 15:02] Arcturai commented on #43947
@LeKristapino
Of course.

`echo $LD_LIBRARY_PATH`     **:**
[code]

`ls /usr/local/cuda/targets/x86_64-linux/lib`     **:**
[code]
Some of the above files are of type 'Link to shared library', although if I understand it correctly, that's supposed to be the case.

`ls /usr/local/cuda-11.0/lib64`     **:**
[code]
Same output as above; my /usr/local/cuda folder is just a link to /usr/local/cuda-11.0

[2021-03-26 15:17] amahendrakar commented on #48096
@alex-sokolov2011,
I was able to run the given code snippet without any issues using TF v2.4.1, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/76e1162458ebc4e287af31ab765cbdc1/48096.ipynb). Thanks!

[2021-03-26 15:20] dariobig commented on #45785
Thanks @mihaimaruseac , can you confirm this will be addressed in TF 2.5? Since this issue is closed, do you have another issue to track its progress?

[2021-03-26 15:24] dariobig opened #48109 "TF 2.4 still depends on GRPCIO v1.32.0"
GRPCIO was meant to be updated in TF 2.4 but TF 2.4.0 and 2.4.1 still depend on it:
- https://github.com/tensorflow/tensorflow/blob/v2.4.1/tensorflow/tools/pip_package/setup.py#L121
- https://github.com/tensorflow/tensorflow/issues/45785#issuecomment-806233485

[2021-03-26 15:25] dariobig commented on #45785
I've created a new issue just in case: https://github.com/tensorflow/tensorflow/issues/48109

[2021-03-26 15:37] #47529 closed

[2021-03-26 16:00] amahendrakar commented on #48104
@lcx2017,
In order to expedite the trouble-shooting process, could you please provide a minimal code snippet to reproduce the issue reported here and the dataset you are using. Thanks!

[2021-03-26 16:03] amahendrakar commented on #48104
Also, **TensorFlow v2.4.1** is compatible with **CUDA 11.0** and **cuDNN 8.0**. Please take a look at the [tested build configurations](https://www.tensorflow.org/install/source#gpu) for more information.

Version | Python version | Compiler | Build tools | cuDNN | CUDA
-- | -- | -- | -- | -- | --
tensorflow-2.4.0 | 3.6-3.8 | GCC 7.3.1 | Bazel 3.1.0 | 8.0 | 11.0
tensorflow-2.3.0 | 3.5-3.8 | GCC 7.

[2021-03-26 16:08] jvishnuvardhan commented on #30864
@ajaysg94 Please open a new issue as this was an old issue. Thanks!

[2021-03-26 16:14] jthibaut commented on #47891
I put the link here:
https://colab.research.google.com/drive/1h63P4DhR3RJLu48IOSbgfgUz1eFYpFyj

[2021-03-26 16:32] ymodak commented on #33041
Edge TPU Python library is deprecated and [PyCoral](https://coral.ai/software/#pycoral-api) is the new library for Python development with the Edge TPU.

[2021-03-26 16:36] jvishnuvardhan commented on #48070
@gdavid57 As this is a new feature, I think this is more suited for `tf-addons` repo [here](https://github.com/tensorflow/addons/issues). Please raise the feature request with that repo as close it here. Thanks!

[2021-03-26 16:41] Sicily-F commented on #46093
hi there,

Ok, I'll give it a try!

Many thanks

[2021-03-26 16:43] adriangb commented on #48086
Perhaps. But those files wouldn't exit. For example:

[code]

That is, the files are saved with `/`, but when `walk` calls `os.path.join` they end up with `\`, so they are different files.

[2021-03-26 16:52] ymodak commented on #34096
Tried https://www.tensorflow.org/tutorials/load_data/pandas_dataframe example with saving/loading model in tf/h5 format and works correctly. Please test with latest version of TF and try again. Others who are experiencing similar issue please raise a new issue thread. Thanks!

[2021-03-26 16:52] #34096 closed

[2021-03-26 16:53] fonnesbeck opened #48111 ""Graph is finalized and cannot be modified" when loading saved Estimator"
**System information**
- OS Platform and Distribution: MacOS 11.3
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.5.0
- Python version: 3.7.10
- Bazel version (if compiling from source): 4.0.0
- GCC/Compiler version (if compiling from source): clang

**Describe the current behavior**

I have a DNNClassifier that I have created as follows:

[code]

[2021-03-26 17:32] allurefx commented on #48017
I had the same problem, seems like the release doesn't handle the new module changes correctly. Anyway, I've put together a small script to generate the proto code, see below. Run this after you've done a go get in your module to get the tf module (basically till the point when you get the proto missing error).

# Edit these as necessary
go=~/go
ver=tensorflow@v2.4.1+incompatible

# Looks like go:

[2021-03-26 17:37] gg187on commented on #48017
Ok, it seems I hit another problém, I'm not sure if it's error of documentation, but some APIs from docs seems like are not implemented. What I learned for last week is that, Golang is not machine learning ready. So if anyone want to do machine learning, I would rather recommend Python or C or even JS.

[2021-03-26 17:39] gg187on commented on #48017
Ok, it seems I hit another problem, and also it seems it's hard to do parallelism with TensorFlow lib. What I learned for last week is that, Golang is not machine learning ready. So if anyone want to do machine learning, I would rather recommend Python or C or even JS.

[2021-03-26 17:41] bhack commented on #48086
I see in your old debug print with save `listing (L832) =  ['\\assets', '\\keras_metadata.pb', '\\saved_model.pb', '\\variables']`
As we told above `save` is using the native Os separator at save time right?
https://github.com/tensorflow/tensorflow/blob/94f92c9949c2dc6afe1db959e25631520602c6ea/tensorflow/python/keras/saving/saved_model/save.py#L96

[2021-03-26 17:44] adriangb commented on #48086
Maybe? It's very much possible that there is more than one issue at play here. Well, I think it's the same issue, just different places in the codebase that it's occurring. The end result is the same: the `ram://` filesystem (and presumably other non-native filesystems) are not fully functional on Windows.

[2021-03-26 17:48] bhack commented on #48086
Let's wait to understand what the original design scope was. If `ram://` works only with `/` but it isn't enforced or it need to work on native Sep by design.

[2021-03-26 17:58] ymodak commented on #48096
@alex-sokolov2011  Google colab hosts latest stable TF version by default (TF 2.4.1 with gpu support). Thus you don't need to install tf explicitly neither use tf 2.x magic function. You can simply try ;
[code]

[2021-03-26 18:02] ymodak commented on #48109
The requirements are updated with TF 2.5 branch. See https://github.com/tensorflow/tensorflow/blob/96dfa5c37c8844d0fa7347c7a43c383ed9813022/tensorflow/tools/pip_package/setup.py#L130

[2021-03-26 18:34] shariq-audiofocus commented on #15644
+1

[2021-03-26 18:35] ymodak commented on #47829
ZeroPadding3D expects a [5D tensor](https://www.tensorflow.org/api_docs/python/tf/keras/layers/ZeroPadding3D#input_shape) whereas your input Conv2D gives [4D tensor](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Conv2D#output_shape_2).
Switching to ZeroPadding2D  for Conv2D works;
[code]

[2021-03-26 18:38] #47736 closed

[2021-03-26 18:38] #47328 closed

[2021-03-26 18:41] alex-sokolov2011 commented on #48096
@amahendrakar and @ymodak thank you so much

 That was real mystery, but now GPU ON. [here my test ](https://colab.research.google.com/drive/1uUdcdcuCUCpVE9Pkz16Hr9KgAXGIwMzA?usp=sharing).
 Sorry that I bothered you with that discussion.

[2021-03-26 18:41] #48096 closed

[2021-03-26 18:43] rxsang commented on #39550
This is due to the coordinator and TPU worker version don't match. Make sure they both use the same TF version or nightly instance.

[2021-03-26 18:50] pgunn opened #48113 "Please help Conda package tensorflow for OSX"
(I get that this is a weird thing to put in an issue)

Right now it's hard for the Anaconda people to make conda packages of Tensorflow for OSX because of gcc-versus-clang issues:
https://github.com/ContinuumIO/anaconda-issues/issues/11697

This is impacting downstream packages that want to use tensorflow, as we can't specify conda environments that come with tensorflow included; installing it wit

[2021-03-26 19:02] ymodak commented on #33626
You can also see https://pypi.org/project/tflite/#files

[2021-03-26 19:12] ymodak commented on #39692
You may try with;
[code]

[2021-03-26 19:33] ShubhamShaswat commented on #47891
I don't have access to this, when you share code through Colab select "Anyone with the link" instead of "Restricted" after clicking on "Get Link" option, this way people can see your code but can't edit.If you want, you can either choose "Viewer" , "Commenter" (they can only comment) or "Editor" ( can edit your code too). In your case,"viewer" seems fine too.

[2021-03-26 19:58] jthibaut commented on #47891
Does it work here ?
https://gist.github.com/jthibaut/d947b0956b0738f508163d7d876ee89e

[2021-03-26 20:14] kevindegila commented on #4349
Here to confirm that rebooting work. Try it before anything else.

[2021-03-26 20:44] jvishnuvardhan commented on #42691
@banerjs Looks like this was resolved in recent `tf-nightly` and stable `TF2.4.1`. I don't see any error when I ran your code with `tf-nightly`. Please check a gist [here](https://colab.research.google.com/gist/jvishnuvardhan/720245bfc87ccff286f09b725a447f59/untitled389.ipynb).

Please verify once and close the issue if this was resolved for you. Thanks!

[2021-03-26 21:19] MopsieX commented on #47770
Latest tf-nightly is now working for me.

[2021-03-26 22:29] enjieli commented on #43114
@ravikyram I am encountering similar issues. Here is the colab [link](https://colab.research.google.com/github/stellargraph/stellargraph/blob/master/demos/link-prediction/hinsage-link-prediction.ipynb#scrollTo=AUcv_Osglmxf) .

After training the model, i used `model.save('model/traits_only.h5')` to save the model. However, I am having issues loading the model using ` models.load_model("model/movie

[2021-03-26 22:50] dariobig commented on #48109
Thanks @ymodak

[2021-03-26 23:19] ShubhamShaswat commented on #47891
Yes, I can see this one. Your outputs is of shape `(None, 256, 256, 10)`, the first one i.e. "None" is just your batch size. Now, In your case your dataset have two images as inputs, the second one is your label which is of shape `(256, 256, 4)`. Now you are using `sparse_categorical_loss` which is used when you have multiple classes for training. Now in here, you have two images that is your "inp

[2021-03-26 23:22] #36278 closed

[2021-03-27 00:15] qinjinze commented on #15869
I hope there is a time plan to support windows

[2021-03-27 00:18] #48098 closed

[2021-03-27 00:26] kwanchet commented on #43114
@enjieli @benste  seems like saving the weight and neural network architecture via `model.save` might be a problem.  Not too sure why it happens.

But a workaround might be to use `save_weights` to save the weights and `load_weights` to load the weights/checkpoints.
That being said, to make sure you can do proper inference, you may need to re-use model training steps in your google colab to re-set

[2021-03-27 00:37] enjieli commented on #43114
@kwanchet thank you so much for your input!

[2021-03-27 01:22] #39485 closed

[2021-03-27 01:48] mcmar commented on #45569
Since making `tf.stop_gradient` work with ragged tensors appears to be trivial to do, but nonetheless presents a footgun to the end user, can we prioritize adding this functionality to `tf.stop_gradient`? I'm fine for now using this workaround, but it'd be nice if new users didn't have to google `"tf stop_gradient ragged tensor"` and find this issue, then copy-paste a function to make this work.

[2021-03-27 02:00] jvishnuvardhan commented on #41428
@ivdorelian Is this still an issue for you. There were some performance improvements over the last few months. I tested your code with `tf-nightly` and it was running without memory issues. i ran outer `for` loop for 10 iterations without any issue. As it was taking long time, i interrupted execution.

[Here](https://colab.research.google.com/gist/jvishnuvardhan/ccff56d41112909cdee938cb411cd518/41

[2021-03-27 02:22] #34305 closed

[2021-03-27 02:23] jvishnuvardhan commented on #40942
@gdudziuk Is this still an issue for you? There were some good performance related updated over the last few months.

Can you please check with a recent `tf` version and also adding `gc.collect()` as mentioned by @tirear .

There ([1](https://github.com/tensorflow/tensorflow/issues/44711#issuecomment-736186819) and [2](https://github.com/tensorflow/tensorflow/issues/41973#issuecomment-668361074))

[2021-03-27 03:10] shariq-audiofocus commented on #15644
@spate141 - one workaround (no gradients available) -
[code]

See here:
https://www.tensorflow.org/api_docs/python/tf/raw_ops
https://www.tensorflow.org/api_docs/python/tf/raw_ops/UniqueV2

[2021-03-27 03:11] shariq-audiofocus commented on #11575
@zaqqwerty  - one workaround (no gradients available) -
[code]

See here:
https://www.tensorflow.org/api_docs/python/tf/raw_ops
https://www.tensorflow.org/api_docs/python/tf/raw_ops/UniqueV2

[2021-03-27 04:32] zhangguanqun commented on #48106
**UPDATE**
In python crash log from ubutun system, there is:
[code]
CopyFromBufferHandle() makes crash.

[2021-03-27 04:32] frankchn commented on #48086
So the original design for the RAM file system is quite limited -- it was originally just for Cloud TPUs to have a place to write temporary files to (since Cloud TPUs don't have access to local file systems and writing to GCS is slow).

I think if someone wants to get `ram://` working with Windows-style separators etc, we are happy to accept the controbution.

[2021-03-27 05:18] Nath9319 commented on #42916
Is there any way to use sparse tensor or scipy sparse data with keras?

[2021-03-27 05:56] ramakrse opened #48116 "TransformedDistribution Documentation is not readable"
### Describe the problem
The documentation of tfp.TransformedDistribution is not readable in between, seen the attachement

### Source code / logs
Please see attachment
![Capture](https://user-images.githubusercontent.com/19791881/112711538-30ae7680-8eef-11eb-86e5-008263c64d6b.PNG)

[2021-03-27 06:48] mchuv commented on #46975
Hi I want to share my results with you:

Operative System: Ubuntu 20.04
CPU : AMD Ryzen 7 3800X
TensorFlow version: 2.4
Python version: 3.8 (default with Ubuntu)
Cuda version :  11.1.0   The installer name is : cuda_11.1.0_455.23.05_linux.run
CudNN version: 8.0.5    The installer package is : libcudnn8_8.0.5.39-1+cuda11.1_amd64.deb

**The first error a got was:**

Cannot dlopen some GPU libraries.

[2021-03-27 07:33] bugpromax commented on #46623
May I know how everything is going with this issue

[2021-03-27 08:06] notnotype opened #48117 "OP_REQUIRES failed at conv_ops.cc:1106 : Not found: No algorithm worked!"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
-  Linux Ubuntu 18.04.2
- TensorFlow installed from: binary
- TensorFlow version: 2.4.1
-

[2021-03-27 08:14] jthibaut commented on #47891
Yes, indeed ! I should have begun by that !
I just finished a training in data science and, in the frame of this training we had a project (taken from a kaggle competition) to perform but we (were 2) did not succeed to finish because we did not habe any help.
It was a cloud cell segmentation; try to find 4 shapes of clouds:
https://gist.github.com/jthibaut/8b8ceb4f5e1842a018d0ed017f8406e8

So, to

[2021-03-27 10:22] MystiqueCida commented on #47151
These steps gave me a solution to the error.

# In[3]: pip install --user virtualenv

# In[3]: pip install wheel

# In[1]: pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.12.0-py3-none-any.whl

# In[ ]: pip install tf-nightly

[2021-03-27 10:58] therc01 commented on #48070
Hi, I want to contribute to 3D NMS.

[2021-03-27 11:12] vvsotnikov commented on #32052
I experience the same issue on 2.4.0.

[2021-03-27 11:19] vvsotnikov commented on #35982
I experience the same issue on 2.4.0.

[2021-03-27 11:26] sztomi opened #48118 "tensorflowlite.dll is huge (compared to other platforms)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow instal

[2021-03-27 11:45] sztomi commented on #48118
Interestingly, it compresses down to just 1.3MB with lzma. That tells me it's probably not all code taking up that much size.

[2021-03-27 11:48] vvsotnikov commented on #46475
I experience the same on 2.4.1 with RTX 3090. Replaced `relu` with `elu` as a temporary fix.

[2021-03-27 12:01] valkenburg opened #48119 "tf.estimator.BoostedTreesEstimator returns all zero predictions when using custom loss_fn involving linear loss (zero second derivative)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **macos Big Sur && Google Colab**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **na**
- TensorFlow installed from (source or binary): **pip (python 3.8)**
- Tenso

[2021-03-27 12:30] amahendrakar commented on #47872
@evancollins1,
On running the code with [TF v2.4](https://colab.research.google.com/gist/amahendrakar/e01a745291ced3ef687d60341655aa42/47872.ipynb#scrollTo=NdYdsfw8mIJe) and [TF v1.15](https://colab.research.google.com/gist/amahendrakar/3e768eaa20fca8c13c2aa7e1991ef5f2/47872-1-15.ipynb), I am facing the same error stating
[code]

Please check the linked gist for reference. Thanks!

[2021-03-27 12:31] mostafa-mahmoud commented on #35982
@omalleyt12 is there any updates regarding this issue? Please note that comparing to keras (particularly v2.4+) is no longer valid , because ‚keras‘ now internally is just importing ‚tensorflow.keras‘, so it’s just an alias for the Same erroneous behavior.  Also the issue has improved from tf2.1 to 2.4, do the leakage is not as sever but it *still* happens.

[2021-03-27 12:34] valkenburg opened #48120 "tf.estimator.BoostedTreesEstimator center_bias=True breaks when label dimension > 1"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **macos Big Sur && Google Colab**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **na**
- TensorFlow installed from (source or binary): **pip (python 3.8)**
- Tenso

[2021-03-27 12:53] WeiHao97 commented on #48043
Any updates on this? Thanks! @abattery @fredrec

[2021-03-27 12:54] WeiHao97 commented on #48005
Any updates on this? Thanks! @jvishnuvardhan @Saduf2019

[2021-03-27 13:34] marziehoghbaie commented on #41547
Hi,
I'm having the same error. "Exception: TensorFlow Lite currently doesn't support control flow ops: Enter, Exit, Merge, Switch."
The problem is that my model has some custom layers implemented in tf1.x.
Besides, The solution @abattery proposed is only possible when using tf2.x, So that for tf1.x the error still remains.
In the following I attach the code that I used for loading and conversion:(

[2021-03-27 13:57] bhack commented on #48086
@adriangb As `test_savedmodel` test was passing on Win and Linux is this enough for your use case at https://github.com/tensorflow/tensorflow/pull/39609#discussion_r600667357?
https://github.com/tensorflow/tensorflow/blob/3c16284eb619732b69948f0200ee06c5dd7312d0/tensorflow/core/platform/ram_file_system_test.py#L146-L156

[2021-03-27 14:25] 9ahlamchahmi1f opened #48121 "BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT"
BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULLSHIT BULL

[2021-03-27 14:33] SysuJayce commented on #41898
@nikitamaia Though `MultiWorkerMirroredStrategy ` won't throw the IndexedSlices warning, it takes a long time to start training, much longer than `MirroredStrategy `.

Is there any progress about this issue?

[2021-03-27 15:43] adriangb commented on #48086
@bhack that test is not enough for #39609.

We need to load all of `ram://my_module,` into a single contagious string of bytes so that it can be serialized. There is no other way to do this other than iterating over each file, which is exactly what `walk` is for. I don't see any way to do this without fixing `walk` or re-implementing it using `listdir`, `isdir`, etc.

@frankchn so I take it that s

[2021-03-27 15:55] bhack commented on #48086
@adriangb Can you extend that test or a new one in the same file with a new PR just to cover your case. If I have time to explore a C++ fix I need to use the CI cause Wine is too slow to compile a large source code like TF without an available cache produced in the same environment.

[2021-03-27 15:57] adriangb commented on #48086
We have tests in #39609 . Why do we need new tests or a new PR?

Thanks for looking into a fix.

[2021-03-27 16:19] bhack commented on #48086
I meant that we need a new test (with a new PR) in `ram_filesystem_test.py` to test the isolated feature that you need in the ram_file_system.

[2021-03-27 16:25] adriangb commented on #48086
I don't think this is necessarily a feature. Depending on whether it was intentional for `\` to be supported on `ram://` or not (it sounds like it was neither), it is either a design oversight or a bug.

[2021-03-27 17:13] adriangb commented on #48086
I think the easiest solution here is to implement a TensorFlow specific `os.path.join`, maybe `tf.io.gfile.join`:

[code]

I'm not sure if `root.startswith("ram://")` is the best we can do here, that will be up to your team to decide.

The more difficult part of this will be replacing `os.path.join` with `tf.python.io.file_io.join` all around the codebase.

Then finally comes the issue of testing,

[2021-03-27 17:30] dwyatte commented on #37104
@aniketbote @goldiegadde I could use this functionality, so I made a quick pass on it in https://github.com/tensorflow/tensorflow/pull/48122 (a few line change in `tensorflow/python/keras/utils/metrics_utils.py` plus tests).

If this is something useful, we should figure out whether support for sparse outputs should be implicit as in the draft PR above or explicit and if it explicit, whether usage

[2021-03-27 18:24] bhack commented on #48086
I don't know if `model.save` it is supported on GCS  see https://github.com/tensorflow/tensorflow/issues/36453.
Probably `tf.saved_model.save` is going to work cause it use c++ impl with `io::JoinPath`.
But if you still need `model.save` in your case and `model.save` is using os native join at the Python level probably it is easier to let r`ram://` to support Win native separator as `ram://` is cu

[2021-03-27 18:43] adriangb commented on #48086
My use cases don't require saving anything to gcs. I only threw `root.startswith("gs://")` in there because I thought you'd want it implemented (and since it's only a couple extra characters).

I also don't care about `tf.saved_model.save` vs `model.save` vs. any other way to save things using SaveModel, they would all be equally fine for #39609. But I tested `tf.saved_model.save`  and it does not

[2021-03-27 19:23] bhack commented on #48086
What I meant is that using  the ticket info and if a test like this will pass also on GCS I suppose that it is not using `os.join` at the python level cause GCS doesn't work with `\`.

https://github.com/tensorflow/tensorflow/blob/3c16284eb619732b69948f0200ee06c5dd7312d0/tensorflow/core/platform/ram_file_system_test.py#L146-L156

And probably it is why `model.save` doesn't work also with GCS (I've

[2021-03-27 19:34] adriangb commented on #48086
So you want a test that explicitly checks for support of the `ram://folder\subfolder` pattern?

[2021-03-27 19:44] bhack commented on #48086
I suppose that we could have more candidate workarounds with `ram://folder\subfolder`, as I don't see a specific `IsDirectory` in `ram_file_system.h` I suppose it rely on Posix and Window fs `isDirectory`.

[2021-03-27 19:47] adriangb commented on #48086
I don't see any way to write specific tests for that that don't explicitly suggest support for that pattern.

That is why my proposal focuses on the limiting the use of that pattern within the rest of the ecosystem. That way no decision needs to be made on explicit support of that pattern and no fixes need to be applied to existing functionality.

[2021-03-27 19:56] 12o13 opened #48123 "Tutorial Redirect for Time Series Forecasting gives 404."
### Describe the problem
In the [Machine Learning Tutorial ](https://www.tensorflow.org/guide/data) the Time-series example hyperlink redirects to a [404 page](https://www.tensorflow.org/tutorials/text/time_series) instead of the proper tutorial: https://www.tensorflow.org/tutorials/structured_data/time_series This needs to be updated, but I'm uncomfortable making the changes and then creating a p

[2021-03-27 21:28] SamTov commented on #47303
Is there any update on this?

[2021-03-27 21:45] adriangb commented on #48086
I think there may be more:

https://github.com/tensorflow/tensorflow/blob/b221f78a300a6e50564acfd94dae6b608008474d/tensorflow/python/saved_model/save.py#L1131-L1133

[2021-03-27 22:49] Zakria96 opened #48126 "tflite model is not running on webcam feed"
**System information**
- OS Platform and Distribution (Linux)
- TensorFlow version (2.4.1):

I used TensorFlow pre-trained faster rcnn inception v2 coco model and used my own images and trained them on that model. I exported the frozen inference graph successfully and check it on my webcam , I was working fine and using the code below , I converted the frozen inference graph into tflite model....

[2021-03-27 23:00] Zakria96 commented on #48068
Use the code below ...This will convert frozen graph into tflite and reduce the size of your tflite model... just provide the path of the frozen graph and run the following code:

import logging
logging.getLogger("tensorflow").setLevel(logging.DEBUG)

import tensorflow as tf
from tensorflow import keras
import numpy as np
import pathlib

#conversion of faster_rcnn_inception_v2_coco_model frozen_in

[2021-03-27 23:19] abattery commented on #48126
To use TensorArray ops in your model, please consider using tf-nightly or TF 2.5. TensorArray is supported only in TFLite after TF 2.5

[2021-03-27 23:20] abattery commented on #48106
Could you try conversion and model inference run with the more recent TF version? For example, TF 2.4 or tf-nightly?

[2021-03-27 23:22] bhack commented on #48086
Check if this test extension is enough for your case https://github.com/tensorflow/tensorflow/pull/48124
But it seems to me from the logs that ramfs tests are excluded on Windows CI.

[2021-03-27 23:23] abattery commented on #48108
Could you verify whether the given input is valid in the above original onnx model and TF saved model? TF saved model can successfully handle the given inputs and we can easily spot the problem location.

[2021-03-27 23:31] abattery commented on #48068
Did you correctly put the models arguments in your BUILD rule? Could you share how to declare your custom library in the BUILD file?

@thaink

[2021-03-28 00:27] DirtySoc commented on #46502
This is still an issue. I'm trying to set a password by using:
[code]
 and it is not working.  See: https://github.com/tensorflow/tensorflow/issues/6351#issuecomment-637476227

[2021-03-28 00:52] tondangerza commented on #45285
Now I used rtx 3060 and installed tf-nightly-gpu (intread tensorflow-gpu) with cuda core 11.1.0 and it work for me

[2021-03-28 01:00] ashitpatel2496 commented on #45285
Can you mention exact versions you installed. Of tensorflow, cuda and cudnn. Also can you confirm that you able to train CNN models with it?

[2021-03-28 01:01] nmfisher commented on #48108
@abattery Thanks for taking a look. There's no problem with running the SavedModel directly:

![image](https://user-images.githubusercontent.com/7238578/112739102-1a6eec00-8fbd-11eb-9c3d-0e91a18e00ef.png)

[2021-03-28 01:13] krishdb38 commented on #45285
I am working in RTX 3070 and tf causing the error and tf-nightly is
crashing instead of showing any error.
but the other algorithm run well in GPU except CNN
same CNN model run well in CPU mode.

@ ashitpatel did you tested in the CNN model ??

On Sun, Mar 28, 2021 at 10:00 AM ashitpatel2496 ***@***.***>
wrote:

--
[image: photo]
*ADHIKARI KRISHNA P.*
Assistant Manager(대리), THERAGEN GENOME CARE

+

[2021-03-28 01:31] tondangerza commented on #45285
I training Yolov3 model of [https://github.com/pythonlessons/TensorFlow-2.x-YOLOv3](https://github.com/pythonlessons/TensorFlow-2.x-YOLOv3)
- tb-nightly               2.5.0a20210327
- CUDA Toolkit 11.1.0 (Sept 2020), Versioned Online Documentation
![Untitled](https://user-images.githubusercontent.com/51964193/112739600-d3263280-8f9f-11eb-9453-7a03917346ab.jpg)

[2021-03-28 03:49] lcx2017 commented on #48104
For Jetson AGX Xavier platform, it only support Nvidia Jetpack SDK to update system AI tool chain, now I'm using Jetpack4.4, and Jetpack does not support CUDA 11.0 yet.  https://developer.nvidia.com/jetpack-sdk-44-archive

[2021-03-28 03:55] lcx2017 commented on #48104
Do you have Jetson AGX Xavier platform to reproduce this issue?

[2021-03-28 04:16] AdityaKane2001 commented on #48094
@psybuzz
The code given as the example at [keras website](https://keras.io/api/layers/convolution_layers/convolution2d/) works as expected. Gist [here](https://colab.research.google.com/gist/AdityaKane2001/b3fc660078d46974db4797052b6f3256/untitled575.ipynb). Also,
`a = tf.keras.layers.Conv2D(10, (3,3),activation = 'relu')(tf.constant(np.random.rand(10,10,10,3)))`
this works as expected.

As you me

[2021-03-28 04:25] janoslim commented on #48074
I am using tensorflow 2.4.0 in google colab.
My source codes are,
[code]

[2021-03-28 05:10] marconi1964 commented on #47299
Compile result shows
Total static RAM memory (data + bss) : 36,408 bytes
Total Flash memory (text + data): 94,736 bytes

The bin file 'mbed.bin' size shows 135,308 bytes, under linux system.

it is not required to build .elf file to run mbed on embedded CPU, so no information available about .elf file size.

[2021-03-28 05:33] esologic commented on #25866
For what it's worth, I ran into this exact issue when interfacing with an NVIDIA tesla K80 via a docker container after the card had overheated. It was hard to debug as the `docker-build` process etc was working as expected.

[2021-03-28 06:15] UCRajkumar commented on #47791
@nikitamaia  any update here?

[2021-03-28 07:14] Zakria96 commented on #48126
Can You send me a snippet how to use my tflite in TF 2.5 .... and finding my tflite's tensorArray

[2021-03-28 07:26] abattery commented on #48126
You can install a newer tf version by using the pip command:
```pip install tf-nightly```

To use the TensorArray support, the TFLite model should be regenerated with the new TF version.

[2021-03-28 07:30] SashiDareddy commented on #44683
On Windows, use the following in the cmd window before executing your Python script:
`SET TF_XLA_FLAGS=--tf_xla_enable_xla_devices`
Then when you run your TF script you should see something like this:
`2021-03-28 08:25:51.619986: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x1e1afc777c0 initialized for platform CUDA (this does not guarantee that XLA will be used). Devices:
2021-0

[2021-03-28 07:47] leondgarse opened #48127 "Conv2D is 20x slower using mixed_float16 in training process"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): `v2.4.0

[2021-03-28 08:19] gdavid57 commented on #48070
@jvishnuvardhan Alright, thank you for your response.
@therc01 Hi! follow the [way](https://github.com/tensorflow/addons/issues/2434)

[2021-03-28 08:19] #48070 closed

[2021-03-28 08:24] zhangguanqun commented on #48106
@abattery Thanks, it works fine on TF 2.4.1 and TF-nightly (2.5.0-dev20210210), but why not works on TF 2.3.X?

[2021-03-28 09:39] AdityaKane2001 commented on #46953
Requesting to close this issue, as it has been solved in [#48000 ](https://github.com/tensorflow/tensorflow/pull/48000)

[2021-03-28 10:44] S99amuele opened #48128 "name parameter not working in tf operations (colab)"
System information
-google colab, standard free account, didn't touch any config, no accelerator selected

I was using the functional API because I have to write a network with two outputs, and I noticed that the the name parameter doesn't work in most of the tf operations. In this simple code I wrote below **b** should be the equal to **a** with the name changed, but it doesn't work, it simply ig

[2021-03-28 11:11] S99amuele commented on #48128
I tried downgrading tensorflow, and apparently before 2.4.0 the parameter worked with identity and others, but not all tf operations (I noticed that for example tf.abs ignored the parameter)

[2021-03-28 11:27] Zakria96 commented on #48126
I regenerated my Tflite model with tf-nightly and then using TFLite_detection_webcam.py and
 Webcam is not showing the output results.
got the following error: screenshoot attached
![image](https://user-images.githubusercontent.com/65131911/112750493-6cf9d980-8fb8-11eb-9849-e39711e550c0.jpeg)

[2021-03-28 11:54] MaudDestree commented on #47890
@amahendrakar
I have re-installed everything (without Anaconda) and now it is running fine.
Thank you

[2021-03-28 11:54] #47890 closed

[2021-03-28 12:09] bjourne opened #48129 "SparseCategoricalCrossentropy and sparse_categorical_crossentropy are different due to precision loss"
The following code demonstrates the issue:
[code]
According to TensorFlow documentation and expectations (see f.e https://stackoverflow.com/questions/59360263/tensorflow-2-0-what-is-the-difference-between-sparse-categorical-crossentropy-a) the two methods of computing the loss should always yield the exact same result. But that is not the case because the `SparseCategoricalCrossentropy` code path

[2021-03-28 12:34] Fabien-Couthouis commented on #47930
Hi @Saduf2019,

Thanks for the answer, a [stackoverflow issue](https://stackoverflow.com/questions/66669910/share-variable-across-devices-in-tensorflow-2-cluster) has already be opened (without any answer unfortunately). I understand you have a lot of work with tensorflow and you cannot provide the support but I was just wondering if my use case was doable in tensorflow 2, and if not, this would b

[2021-03-28 13:40] Zakria96 commented on #48126
And when I am loading my mnist_model_quant.tflite model in the code below ,

import numpy as np
import tensorflow as tf

# Load the TFLite model and allocate tensors.
interpreter = tf.lite.Interpreter(model_path="model/mnist_model_quant.tflite")
interpreter.allocate_tensors()

print(interpreter.get_input_details())

# Get input and output tensors.
input_details = interpreter.get_input_details()
ou

[2021-03-28 14:37] mania25 opened #48130 "error: aliases are not supported on darwin In MacOS Big Sur"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Big Sur 11.2.3
- Mobile

[2021-03-28 14:40] harishB97 commented on #42564
Hi, I'm also facing the same issue while using Conv2D layer with dynamic input size.

[code]

When I look for tensor details of the interpreter, I find this to be the only layer with the name 'fill'

{'name': 'tfl.fill',
  'index': 43,
  'shape': array([1, 1, 1, 1]),
  'shape_signature': array([-1, -1, -1, -1]),
  'dtype': numpy.float32,
  'quantization': (0.0, 0),
  'quantization_parameters': {'s

[2021-03-28 15:31] pliablepixels commented on #32743
I'm going to leave another finding here:

1. Replacing the cable eliminates _most_ problems related to  intermittent loading libedgetpu issues
2. However, there are times this happens, and especially if I interrupt an ongoing TPU operation
3. When this happens, a reboot usually fixes, but I recently found [this script](http://billauer.co.il/blog/2013/02/usb-reset-ehci-uhci-linux/) that works very

[2021-03-28 16:33] ThWuensche commented on #46373
Hi @nikitamaia, thanks for your reply. I just returned from a trip and have to get things set up again, I will try your proposal.

I did not write that code, but used and modified it for a plant detection system for agriculture. So I would be interested to get that solved. Sure it's a lot of code, but I had done investigation before opening the issue and think the code pretty much resembles the ex

[2021-03-28 16:48] Zakria96 commented on #48126
@abattery Jae sung Chung

[2021-03-28 16:48] iieternal commented on #48121
Exceptional Issue!

[2021-03-28 19:32] ashitpatel2496 commented on #45285
What version was Cudnn?

[2021-03-28 19:45] john- opened #48135 "Removing dependency on full TF"
### 1. System information

- OS Platform and Distribution: aarch64 /Ubuntu 18.04
- TensorFlow installation:  Package
- TensorFlow library: 2.4.1

### 2. Code

I have taken first step to using TF Lite by using interpreter from full Tensorflow.   This code does the inferencing and there is separate code to do the modelling:

[https://gitlab.com/john---/xmit_processor/-/blob/tflite/xmit_processor/xmi

[2021-03-28 21:24] FeU-aKlos opened #48136 "equations are terribly formatted"
hello,
if I change the language (e.g. German) in the documentation, the equations are terribly formatted. This problem appears e.g. [here](https://www.tensorflow.org/agents/tutorials/intro_bandit). In English language, every looks fine. Nevertheless, as soon as I change the language, there seems to be a formatting issue.
Best Regards

[2021-03-28 22:11] abattery commented on #48108
Looks like the converted tflite is working. For the TFLite_detection_webcam.py's behavior, please ask questions at the script owner at https://github.com/EdjeElectronics/TensorFlow-Lite-Object-Detection-on-Android-and-Raspberry-Pi.

[2021-03-28 22:20] abattery commented on #48135
TFLite is optimized for the mainly ARM devices and inference use cases. It can reduce overall memory footprint by using only carrying inference features only.

- If possible, you might find an alternative option in programming language for tf.audio.decode_wav function out of graph, which is usually needed at the beginning of the graph.
- You can find alternatives in tfl dialect or you can implemen

[2021-03-28 22:23] abattery commented on #48106
@zhangguanqun We have improved the TFLite conversion pipelines and kernel implementations. Looks like the related issue around the PAD op had been fixed between TF 2.3 and TF 2.4.

[2021-03-28 22:23] #48106 closed

[2021-03-28 22:25] abattery commented on #48106
Closing this issue since the problem has gone at the newer TF versions.

[2021-03-28 22:29] abattery commented on #48126
Looks like the converted tflite is working. For the TFLite_detection_webcam.py's behavior, please ask questions at the script owner at https://github.com/EdjeElectronics/TensorFlow-Lite-Object-Detection-on-Android-and-Raspberry-Pi.

[2021-03-28 22:32] abattery commented on #48108
@nmfisher if possible, could you provide the saved model directory to us for debugging?

[2021-03-28 22:42] jvishnuvardhan commented on #47770
@razvanra2 Can we close this issue if it is not an issue any more? Thanks!

[2021-03-28 22:52] hannnwang opened #48137 "Output size same as input size only if strides = 1"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/keras/layers/Conv2D

## Description of issue (what needs changing):
In the description of the input argument "padding", it says:

_one of "valid" or "same" (case-insensitive). "valid" means no padding. "same" results in padding evenly to the left/right or up/down of the input such that output has the same height/width dimensio

[2021-03-28 22:54] tylerwolf35 opened #48138 "Error: Report to Tensorflow team, "Input 0 of layer sequential is incompatible with the layer: expected ndim=3, found ndim=2. Full shape received: (1, 60)""
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-03-29 00:09] fonnesbeck commented on #46361
Did anyone come up with a solution for this? `normalizer_fn` is practically useless if it does not use the values from the training dataset to scale/normalize new inputs to the loaded model. Is this not documented anywhere? It seems like a pretty common issue.

[2021-03-29 00:28] nmfisher commented on #48108
@abattery Sure, [here you go](https://github.com/tensorflow/tensorflow/files/6218523/tf_model.zip)

[2021-03-29 00:41] abattery commented on #48108
At the tf-nightly version, the above saved model is successfully converted if the optimization is disabled and the converted model is executed well with the TFLite benchmark tool.

[2021-03-29 00:43] abattery commented on #48108
I think the above input tensor should have the (1, 64, 11) shape but in the above your code, it sets a tensor data with the (1, 64, 1) shape.

```input_buf = np.ones((1, 64, 1),dtype=np.float32)```

-->

```input_buf = np.ones((1, 64, 11),dtype=np.float32)```

[2021-03-29 00:44] nmfisher commented on #48108
Thanks @abattery but the Python conversion isn't the problem - that completes successfully with either (1,64,1) or (1,64,11).

The problem is the C++ code, which segfaults on the call to `interpreter->AllocateTensors();`.

I've tried reshaping the tensors before calling AllocateTensors in C++, but this doesn't make a difference.

[2021-03-29 00:51] abattery commented on #48108
Could you verify whether the TF version number, that the above C++ program was built with, is 2.4.1 or tf-nightly version?

[2021-03-29 00:55] thaink commented on #48068
+1 We need more explanation about how you build it. Where did you put your models? If you modified the  tensorflow/lite/BUILD, the models should better be copied there.

[2021-03-29 00:56] abattery commented on #48108
If possible, since the model is converted successfully with the tf-nightly version, please upgrade the TFLite C++ library in android/iOS to the tf-nightly version.

[2021-03-29 01:01] nmfisher commented on #48108
@abattery I've tried building the TFLite C++ library both from 2.4.1 and nightly (and from the official Docker container, and directly from the Github repository with my existing NDK). None of those work.

[2021-03-29 01:07] john- commented on #48135
Thanks for the detailed response.

Based on the the first two items it seems like the biggest gain would be to not import Tensorflow but to remove the dependency on it by reimplementing those functions I am currently using from  the tensorflow import.

Is it fair to say the the model itself is not really what what is bringing in the overhead but the functions needed to prepare the data for inferen

[2021-03-29 01:10] abattery commented on #48108
I actually successfully ran your model with the TFLite benchmark tool, which is built with TFLite C++ API including the AllocateTensors method invocation. Hmm.. I couldn't reproduce your issue. Could you make sure that the given TFLite model, being used for C++ API, is not out-dated one? Can you verify whether the issue is reproducible with https://www.tensorflow.org/lite/performance/measurement#b

[2021-03-29 01:16] terryheo commented on #47536
I think you need "-DTFLITE_ENABLE_XNNPACK=OFF" option for your project. The error happens with XNNPACK build.

[2021-03-29 01:17] abattery commented on #48135
Sorry, I don't have a good answer of your question related to the overhead expectations.

In my best guess, the overhead should be analyzed per model since each model has different characters.

For the details of the overhead analysis, please consider using the TFLite benchmark tool set to analyze overall memory overhead: https://www.tensorflow.org/lite/performance/measurement

[2021-03-29 01:21] herbiezhao commented on #48068
Modified in the tensorflow/lite/BUILD:
[code]
I put model1.tflite and model2.tflite into the path "tensorflow/lite".
Execution:
`bazel build -c opt --crosstool_top=//external:android/crosstool --host_crosstool_top=@bazel_tools//tools/cpp:toolchain --cxxopt="-std=c++11" --fat_apk_cpu=arm64-v8a --config=android_arm64 //tensorflow/lite:custom_tflite_lib`

I got:
`-r-xr-xr-x 1 xxxx  xxxx  162K 3月  29

[2021-03-29 01:22] tondangerza commented on #45285
cuDNN v8.1.0 (January 26th, 2021), for CUDA 11.0,11.1 and 11.2

[2021-03-29 01:27] john- commented on #48135
Thanks.   I guess I distinguished the model from the data preparation.   Sounds like the benchmark tool will give be a complete picture.

[2021-03-29 01:43] terryheo commented on #47862
Currently there is a code which always rely on RUY. So it's inevitable now. But I'll handle it later.

BTW, if you're using aarch64, RUY gives performance improvement. Could you share why do you want to minimize library dependencies?

[2021-03-29 01:44] abattery commented on #48068
@thaink any thoughts on this?

[2021-03-29 01:58] daverim commented on #48074
Hi, could you please try using `converter.experimental_new_quantizer = True` before `convert()`, as I believe that error is fixed in the new quantizer.

`!pip install tf-nightly` to use the new flag.

[2021-03-29 02:35] abattery commented on #48022
I verified that the above error is gone at the tf-nightly version.

[2021-03-29 02:44] offthewall123 opened #48140 "Global barrier in TensorFlow"
In paper https://i.cs.hku.hk/~cwu/papers/yhpeng-sosp19.pdf, there mentioned a concept **global barrier** in Tensorflow between successive iterations.
 _– the
global barrier waits for all communication operations to
finish before moving on to the next iteration_

But not found any discuss on this, want to make sure that is there really a **global barrier** in Tensorflow?

[2021-03-29 03:23] julng commented on #48069
Thanks for the help. Using tensorflow/tensorflow:2.4.1-gpu fixed the performance issue. This other log message kept appearing, though I am not too concerned about it.
`W tensorflow/stream_executor/gpu/asm_compiler.cc:235] Your CUDA software stack is old. We fallback to the NVIDIA driver for some compilation. Update your CUDA version to get the best performance. The ptxas error was: ptxas fatal   :

[2021-03-29 04:24] LucasColas opened #48142 "tensforflow stucks at the installation"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Family
- TensorFlow version:  2.4.1
- Python version: 3.7.6
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): No
- GCC/Compiler version (if compiling from source): none
- CUDA/cuDNN version: CUDA 11.2
- GPU model and memory: GTX 1660 Ti

I wanted to install tensorfl

[2021-03-29 04:31] teijeong commented on #46679
This seems to be resolved with nightly version of tensorflow. Can you try again?

[2021-03-29 04:41] fsx950223 commented on #48103
Remove
[code]
fix the bug.

[2021-03-29 05:08] thaink commented on #48068
Seems like tflite_custom_cc_library does not meant to generate a standalone .so library but to generate a dependency for using in bazel build only.

@herbiezhao At the end of tensorflow/lite/BUILD file, in the "deps" file for the rule "tensorflowlite", could you:
- remove ":framework",
- replace "//tensorflow/lite/kernels:builtin_ops_all_linked", with ": custom_tflite_lib",
and build the //tensorf

[2021-03-29 05:46] innat commented on #48103
Sorry, couldn't catch it. Isn't it normalizing the data? Are you saying to remove it?

[2021-03-29 05:59] herbiezhao commented on #48068
@thaink  I can use your method to compile the library, but the size of the library has not decreased. The size is the same as the normal compilation
`-r-xr-xr-x 1 xxxx xxxx 3.0M  3.29 13:51 bazel-bin/tensorflow/lite/libtensorflowlite.so`

[2021-03-29 06:07] cfarrend commented on #39232
Is there any traction on this? We're mostly deciding whether to wait for an official Tensorflow release or attempt it ourselves. If it's in the works then we're happy to wait.

[2021-03-29 06:15] Kewenjing1020 commented on #48100
Thanks! The related links help!

[2021-03-29 06:23] #47799 closed

[2021-03-29 06:23] #47807 closed

[2021-03-29 06:23] #47786 closed

[2021-03-29 07:23] #47696 closed

[2021-03-29 07:23] #47792 closed

[2021-03-29 08:03] wangtz commented on #48078
Hi Vijay,

Please provide more concise code snippets so that we can better help you.

But looking at the failure message

E/AndroidRuntime(15303): Caused by: java.lang.IllegalArgumentException: Cannot copy from a TensorFlowLite tensor (Identity) with shape [1, 1] to a Java object with shape [1, 2].

You might be training the binary classification model with a single output class but expects the mo

[2021-03-29 08:05] wangtz commented on #48021
Hi Terry,

Could you help on this CMake issue?

Thanks,
Tiezhen

[2021-03-29 08:20] wangtz commented on #48014
Hi Flamur,

It would be great if you can provide more information on how the BUILD file was written and how your .tf_configure.bazelrc looks like.

Reading the error message above, it seems that bazel can find `tensorflow/lite/delegates/gpu/cl/serialization.fbs` but not `tensorflow/lite/delegates/gpu/common/task/serialization_base.fbs` ?

Hi Juhyun,

Any thoughts on this or could you help re-assig

[2021-03-29 08:29] flamxi commented on #48014
Hi @wangtz
Thanks for your reply.
This is my BUILD file content:
[code]

And my tf_configure.bazelrc is:
[code]

[2021-03-29 08:29] wangtz commented on #47978
Hi Thai,

Do you mind have a look at this iOS related issue?

Thanks,
Tiezhen

[2021-03-29 08:41] robinvanschaik commented on #46361
@fonnesbeck I think that applying [layer-normalization](https://www.tensorflow.org/api_docs/python/tf/keras/layers/LayerNormalization) on the input layer w.r.t. the appropriate axis might achieve a similar result, no?

Unfortunately, it would mean that these parameters have to be learned during training, and I believe that this may extend training time.

Other than that, I do not have any other so

[2021-03-29 08:42] wenwu-glagle commented on #32194
I have the same confusion, and after read the source code. I got the reason for "frontend_input = input + 160; ".

I think this is because we reuse 10 ms history audio data, it means 160 sample when sample rate is 16000.

At the first time WindowProcessSamples() will read the whole 480 samples (30ms),  and 320 samples following (20 ms), just the new samples. Log like below:

[code]
If see the sour

[2021-03-29 08:47] dmpiergiacomo opened #48145 "Missing Add* function for Builtin operator FILL"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.5 LTS
- TensorFlow installed from (source or binary): Source
- Tensorflow version (commit SHA if source): 771c870a81c1025c4886a4fb60ca33971e98c577
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): nRF52840 DK

**Describe the problem**
I successfully converted my mo

[2021-03-29 08:50] thaink commented on #47978
I think it is equivalent to  "TensorFlowLiteCMetal_framework". @airman00 Can you try that one?

[2021-03-29 08:55] dmpiergiacomo commented on #48145
Hi,

I created a PR with a fix [(48144)](https://github.com/tensorflow/tensorflow/pull/48144).

Apologies if did not respecting your contributing guidelines this time.

Cheers

[2021-03-29 08:58] Lu-Tan commented on #45068
Use gpustat to check  if there's someone using GPU at the same time.
I also met this problem, the reason turned out to be too much memory allocated in GPU. After I killed other process which is allocating memory of GPU, this problem disappered.

[2021-03-29 09:15] bondhugula commented on #48004
Thanks @jurahul - clean with expunging works.

[2021-03-29 09:15] #48004 closed

[2021-03-29 10:00] ibreschi opened #48146 "GPU Profiling: MemoryProfile do not contain memory events."
**System information**
- Have I written custom code in: C++
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from: source
- TensorFlow version: 2.3.2
- Python version: 3.6
- Bazel version: 3.1.0
- GCC/Compiler version: g++ (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
- CUDA/cuDNN version: 10.2 /8
- GPU model and memory: GeForce GTX 1060 6GB

**Describe the current behavior**

I'm trying

[2021-03-29 10:05] Saduf2019 commented on #48069
@julng
Please  move this issue to closed status as the performance issue is resolved, for any other query please create a new issue and it will be addressed.
AS there is no more support for 1.x, users have to upgrade to 2.x only.

[2021-03-29 10:20] sztomi commented on #48118
After some poking, it appears the size is due to the export table being 12MB. This is due to the `windows_export_all_symbols` feature added here: https://github.com/tensorflow/tensorflow/commit/fa32891c6f30add2338b4833ad32f593ec6610a6

There is a def file filtering script, but that is only used for the non-lite version. I think that could be a reasonable solution to this. https://github.com/tensor

[2021-03-29 10:22] #20338 closed

[2021-03-29 10:24] #48069 closed

[2021-03-29 10:28] lgeiger commented on #47927
@abattery @MeghnaNatraj Do you have any recommendation on how to workaround this bug until there is a proper fix for it implemented?

[2021-03-29 10:33] Jcelestine commented on #47151
This:
 pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.12.0-py3-none-any.whl gave me the response as well

[2021-03-29 10:41] abattery commented on #47927
Actually, you can override the output signature names by wrapping the keras model.

For example,

[code]

[2021-03-29 10:43] #48145 closed

[2021-03-29 10:44] nanhyang9 opened #48147 ""CancelledError: [_Derived_]RecvAsync is cancelled. Function call stack: train_function" persists for some code"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-03-29 10:45] lgeiger commented on #47927
Cool, thanks. Would be great if this could be automatically done when constructing the Keras model in the future.

But that still will break with `converter.inference_output_type = tf.int8` since it modifies the flatbuffer after the fact.

[2021-03-29 10:49] abattery commented on #47927
@lgeiger Could you help us create a separate issue for the int8 overriding case with the signature definitions? This thread has a number of the discussion points and it is not easy to focus on when we invite more folks to look at the issue. It would be great if you can provide a minimal example as a form of the gist regarding the above issue.

[2021-03-29 10:53] josefgrunig commented on #23747
@ValYouW @Dr-Champ would you mind sharing you converted tflite model with 513x513 input?
Thank you!

[2021-03-29 10:55] abattery commented on #47927
Thanks @lgeiger for finding a bug! I took the above colab. It looks like the signature API can be broken after the model optimization is applied. Could you copy and paste the comment (https://github.com/tensorflow/tensorflow/issues/47927#issuecomment-804240854) to create a separate issue? I will take a look at this issue with the team.

[2021-03-29 10:55] abattery commented on #47927
fyi @karimnosseir

[2021-03-29 11:01] lgeiger opened #48148 "`TFLiteConverter` breaks `SignatureDefs` when used with full integer quantization"
**System information**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS
- TensorFlow installation (pip package or built from source): binary
- TensorFlow library (version, if pip package or github SHA, if built from source): `2.5.0-dev20210319` and `2.6.0-dev20210329`

**Describe the current behavior**

Converting `SignatureDefs` together with full int8 quantization by setting
[co

[2021-03-29 11:02] abattery commented on #48148
Thanks again @lgeiger for reporting this!

[2021-03-29 11:04] lgeiger commented on #47927
Thanks for taking a look. I opened #48148 which only includes the description of the bug that breaks the signature API with full integer models.

Sorry for mixing the two problems, this issue can now focus purely on the API usability.

[2021-03-29 11:23] #47800 closed

[2021-03-29 12:04] lgeiger opened #48149 "Keras `predict_step` is not preserved across save and restore"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04 and macOS
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.6.0-dev20210329
- Python version: 3.7 and 3.8

**Describe the current behavior**

When implemen

[2021-03-29 12:12] sztomi commented on #48118
After further investigation I found that the CMake build produces a 1.4MB DLL that is missing lots of symbols. However, with the CMake build, I'm able to build a static library that solves this problem for our use-case because ultimately it allows the linker to sort out which symbols to use (we are using the C++ API directly). The bazel build hardcodes the shared library, maybe it would be useful

[2021-03-29 12:18] dmpiergiacomo commented on #45695
Hi @patriklaurell,

Which is the status of your PR5? I would need to consume TRANSPOSE from TFLM as well and I would prefer not to duplicate the effort, if you are already working on it :)

Thank you.

[2021-03-29 12:31] john- commented on #48135
I did some tests which indicate to me that the main contributor to memory  utilisation is the TensorFlow framework and not the model.

Without any model loaded:

`
/usr/bin/time -f '%M' python -c "import tensorflow as tf"
`
349296
`
/usr/bin/time -f '%M' python -c "import tflite_runtime.interpreter as tflite"
`
28644

With the model:

`
/usr/bin/time -f '%M' python -c "import tensorflow as tf; mod

[2021-03-29 12:33] CaptainDP opened #48151 "tf. feature_column.input_layer(dataVale, feature_embedding) sometimes gets out of order when processing feature_embedding lists"
When bucketized_column is used to divide buckets and generate one-hot code, the running result is inconsistent with the actual input feature list.

windows10,tensorflow==1.13.1,python==3.7.7

-----------------------------------------python-----------------------------------------------------------
import tensorflow as tf
import json
import pandas as pd

def get_feature_columns(tain_file):
    data

[2021-03-29 12:39] rczj2102 opened #48152 "TF2 getting tf.keras.metrics.AUC().result() greater than 1 on mirroredStrategy"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2021-03-29 12:40] samanemami opened #48153 "Using GridSearchCV in BoostedTreesClassifier"
I'm trying to Implement [GridsearchCV](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html) on [BoostedTreesClassifier](https://github.com/tensorflow/estimator/blob/781c0d30c6bf100aa174591dd97cb70fc39d294d/tensorflow_estimator/python/estimator/canned/boosted_trees.py#L1933). Since [BoostedTreesClassifier](https://github.com/tensorflow/estimator/blob/781c0d30

[2021-03-29 12:44] mofanv commented on #48059
Thanks. Seems you're right.

I see the coral team mentioned it on their [compiling page](https://coral.ai/docs/edgetpu/models-intro/#compiling).
`The compiler creates a single custom op for all Edge TPU compatible ops`

[2021-03-29 12:44] #48059 closed

[2021-03-29 12:44] samanemami opened #48154 "Compact Multi-Class Boosted Trees configuration"
I am trying implement the TFBT algorithm from the [Compact multi-class boosted trees](https://ieeexplore.ieee.org/abstract/document/8257910?casa_token=OcIH95osyb4AAAAA:OwLjp3Fs9BbWlYGx_mtC96HRjaDU2311UxfgEjpJCocDCKSbXUaKdOaQnEBwT9u8BfrZefYqNA) paper. As I understand this [paper](https://ieeexplore.ieee.org/abstract/document/8257910?casa_token=OcIH95osyb4AAAAA:OwLjp3Fs9BbWlYGx_mtC96HRjaDU2311UxfgEj

[2021-03-29 12:47] Exferro commented on #34924
Hi everyone, could you please tell if there has been any progress on the subject? I am not an expert, but enabling MKL support for Eigen operations sounds like a reasonable solution, and would be highly appreciated. Otherwise, it's a bit frustrating to see how TensorFlow humbly uses only one core, while NumPy enjoys running SVD with >1000% CPU load :-)

[2021-03-29 12:47] andrewstevens-infineon opened #48155 "Filename clashes in /tmp during flatbuffer download"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): source
- Tensorflow version (commit SHA if source): 1e8f4666f2fbc1bdd4ce2797b218de0453cffc63
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): all

**Describe the problem**

The script `tensorflow/lite/micro/tools/ma

[2021-03-29 13:19] nanhyang9 commented on #48147
I was able to got both codes working by downgrading TF from 2.4.1 to 2.3.0. But the performance dropped dramatically. When the 2nd code was run with TF 2.4.1 , it took about 5 seconds to run an epoch. But the same code run with TF 2.3.0 took about 65 seconds for an epoch. Watching `nvidia-smi` suggests that TF didn't seem to utilize GPU (Fan: 0%) even though `tf.test.is_built_with_cuda()` returns

[2021-03-29 13:26] nmfisher commented on #48108
Thanks @abattery - I just tried built with the latest master (1e8f4666f2fbc1b) (NOT nightly branch, which wouldn't even compile)  and the model can now be properly loaded on both Android and iOS in both the benchmark tool and my C++ code.

Thanks for the help, closing this issue.

Also for future reference, are the nightly releases actually built from the nightly branch?

[2021-03-29 13:26] #48108 closed

[2021-03-29 13:33] mdanatg commented on #36792
Please file a new issue for these errors. Since it's unclear whether they're related to the original bug, they need separate triage.

[2021-03-29 13:36] codekcg23 commented on #47554
TensorFlow Version:  2.4.1
![image](https://user-images.githubusercontent.com/43032723/112844192-14faca00-90c1-11eb-8d84-31bb5a0e8e49.png)
![image](https://user-images.githubusercontent.com/43032723/112844417-58553880-90c1-11eb-92c7-ae518ee852a0.png)

Is this solved ? I have the same issue.

[2021-03-29 13:38] abattery commented on #48108
In my understanding, they are built with the latest master branch.

[2021-03-29 13:47] nmfisher commented on #48108
Thanks @abattery, I think that might have been my problem (trying to build from nightly branch).

[2021-03-29 13:52] ValYouW commented on #23747
@josefgrunig I uploaded one to [this](https://github.com/ValYouW/tflite-win-c) repo which also includes a working sample in c++...

[2021-03-29 14:09] fonnesbeck commented on #46361
@robinvanschaik this is an Estimator (`DNNClassifier`), so I'm not manually building the layers, otherwise that's what I would have tried. I've resorted to manually serializing numpy arrays of normalization parameters.

[2021-03-29 14:20] josefgrunig commented on #23747
Thank you @ValYouW,
when using your tflite model on the mobile example I see it is missing the 4th dimension in the output:

`Error occurred when initializing ImageSegmenter: Output tensor is expected to have 4 dimensions, found 3.`

Can I ask from which frozen graph you created this model from?

Meanwhile, I managed to get **tflite_convert** working too and successfully converted this graph http:

[2021-03-29 14:22] napoleonwar opened #48156 "Huge code size after compile the TFLM hello world example for ARM"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Debian 9
- TensorFlow installed from (source or binary): Source
- Tensorflow version (commit SHA if source): SHA
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): ARM Cortex M33 bare mental (SSE 200)

**Describe the problem**
##########
I want to implement the TFLM into my own

[2021-03-29 14:28] lgeiger opened #48157 "`SignatureDef` of saved Keras models should match the Keras input and output `dict`"
**System information**
- TensorFlow version (you are using): 2.6.0-dev20210329
- Are you willing to contribute it (Yes/No): Yes (although I'd need some pointers to where to look for this particular issue)

**Describe the feature and the current behavior/state.**

Currently when saving Keras models using the saved model format, the input and output names in the `SignatureDef` refer to the names of

[2021-03-29 14:48] VasyaSmolyar opened #48159 "ImportError on Raspberry Pi 4 Model B: cannot import name 'symbol_database' from 'google.protobuf'"
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution: Linux raspberrypi 5.10.17-v7l+ #1403 SMP Mon Feb 22 11:33:35 GMT 2021 armv7l GNU/Linux
- Raspberry Pi 4 Model B
- TensorFlow installed from binary
- TensorFlow version: 2.4.0
- Python version: 3.7
- Google Protobuf version: 3.15.6

[2021-03-29 14:58] #48138 closed

[2021-03-29 14:58] tylerwolf35 commented on #48138
I was able to fix this error by reshaping x_train_data.

[2021-03-29 15:03] Kewenjing1020 commented on #48066
Here's my validation code:
[code]
With this code, I can only achieve top1 ~50%. My environment is : tensorflow==2.4.0, python=3.8.2, cuda-version 11.2

[2021-03-29 15:08] mooch443 commented on #45994
I can confirm that the steps in https://github.com/tensorflow/tensorflow/issues/45994#issuecomment-791823979 still reproduce the issue for me as well.

Python 3.7.9
Debian Linux 5.10.0-4-amd64
NVIDIA 1080 TI
cudnn 7.6.5 cudatoolkit 10.1.243
Tensorflow 2.4.1

The suggested workaround helps.

[2021-03-29 15:15] DylanHsu commented on #36465
Hello, is there any plan to add functionality for clearing GPU memory to Tensorflow? At best, this is a really embarrassing design oversight.

[2021-03-29 15:19] Sicily-F commented on #46093
Can I ask if this was on your own computer? I just tried on a server, pulling the docker image in with Singularity, and the NPC image doesn't support the NVIDIA Tesla K80 GPU, any other suggestions?

[2021-03-29 15:24] ValYouW commented on #23747
@josefgrunig It depends what you choose as your last layer (OutputArrays) when converting, if you choose `ResizeBilinear_2` then the output layer will be 4 dimensions, where the 4th dimension is 21 values which is the score per "class", and you will have to select the class with the highest probability yourself. If you choose `ArgMax` as the output layer, then the output is 3 dimensions where the

[2021-03-29 15:57] josefgrunig commented on #23747
Seems promising @ValYouW, will go through the full conversion process again starting from a frozen graph with dm=1.
Unfortunately cannot find the .pb file you started from in your repo. Can you point me at the right path?
Is there a better dataset than another for recognising portrait figures from the background?
Thank you for your support, I still have a lot to learn.

[2021-03-29 16:18] arnoegw commented on #46456
This has been fixed by https://github.com/tensorflow/tensorflow/commit/149691c4b1628ea67b06188503dc2fc4a6be3317, which has already been available from tf-nightly for a while and is expected to be released with TF2.5. Thank you, @k-w-w !

[2021-03-29 16:18] #46456 closed

[2021-03-29 16:55] ahmedhajyahmed commented on #48023
thanks guys for your help @abattery @impjdi @thaink I will close the incident now

[2021-03-29 16:55] #48023 closed

[2021-03-29 17:04] Saduf2019 commented on #48151
@CaptainDP
We see that you are using 1.13 version of tensorflow, as 1.x is no more supported please upgrade to 2.x [2.4 is the stable version] and let us know if you face any issues.

[2021-03-29 17:17] Saduf2019 commented on #48142
@LucasColas
Could you please down grade your Cuda to 11.0 and let us know if you face the same issue as Cuda 11.2 is compatible from tf-nightly [2.5].
Also please verify if you meet the system requirements:
#47720,#43030,#47517

[2021-03-29 17:21] Saduf2019 commented on #48136
@FeU-aKlos
Can you please check the same on different browsers and confirm as we do not face the same issue.

[2021-03-29 17:23] #47961 closed

[2021-03-29 17:24] Saduf2019 commented on #48130
@mania25
Could you please try on virtual env and let us know if you still face the issue.

[2021-03-29 17:36] Saduf2019 commented on #48120
I am able to replicate this issue please find the [gist here](https://colab.research.google.com/gist/Saduf2019/e7e65026b102e70c0dfaa434a17baee8/untitled578.ipynb)

[2021-03-29 17:43] ValYouW commented on #23747
@josefgrunig I believe I took it here from [here](https://github.com/tensorflow/models/blob/71943914beaa3a0a74c073657193f7e31a3b1b0e/research/deeplab/g3doc/model_zoo.md), it is the `mobilenetv2_coco_voc_trainval` model.
I once wrote a [blog post](https://www.thecodingnotebook.com/2020/05/converting-to-tensorflow-lite-models.html) on the conversion process (which uses TF 1.x).

[2021-03-29 17:45] Saduf2019 commented on #48117
@notnotype
I ran the code shared on tf 2.4 and did not see any error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/60ea301148c77093902e3e8eafee43a1/untitled578.ipynb).

[2021-03-29 17:50] Saduf2019 commented on #48111
@fonnesbeck
Can you please refer to this link with same error and let us know if it helps:[link](https://gitmemory.com/issue/tensorflow/tensorflow/26430/478064379)

[2021-03-29 17:54] Saduf2019 commented on #48147
I am able to replicate the issue reported on the version mentioned, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/ca0005488f81dc618a5dc8b9137c59e1/untitled577.ipynb)

[2021-03-29 17:56] #48135 closed

[2021-03-29 18:00] Saduf2019 commented on #48022
@barabanus
Please move this to closed status if resolved.

[2021-03-29 18:01] Saduf2019 commented on #48100
@Kewenjing1020
Please move this issue to closed status as issue is resolved.

[2021-03-29 18:04] fonnesbeck commented on #48111
No, not at all. That example is using TF1 whereas I am on TF2. I am getting errors when loading the saved model, not on saving the model.

[2021-03-29 18:14] ruler501 opened #48162 "LoadDataset op uses a bytes string as its name"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux NixOS 20.09
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v

[2021-03-29 18:22] #47469 closed

[2021-03-29 18:23] #47549 closed

[2021-03-29 18:35] #48022 closed

[2021-03-29 18:51] ShuttleDDD commented on #43223
same issue when using TF2.4.1 on RTX3060, compiled by myself, weird

[2021-03-29 18:56] RuofanKong commented on #45312
@thaink The problem is lots of this particular checking on the invalid values (e.g. "tf.math.is_nan") are not supported in TFlite..

[2021-03-29 18:58] ShuttleDDD commented on #48117
My RTX3060 throw out this same error while my 3070 don't while running the same code,
I'm using TF2.4.1 built from source, cuda11.2.2+cudnn8.1.1, compatibility issue?

[2021-03-29 19:01] Cnotey commented on #47522
@ymodak I have done some further investigation into the matter.  I am also able to mitigate the issue by changing the random seed in TF.  Is it possible that the random seed is somehow related to the number of lines in the program?

[2021-03-29 19:12] lmocsi commented on #47249
I run the code like this:
python train.py -d dataset -m celeb.model -l lb.pickle
(attached python files have been renamed to .txt, since this site does not support uploading python files: train.py -> train.txt, pyimagesearch/smallervggnet.py -> pyimagesearch/smallervggnet.txt)
And you need images in the dataset directory in subdirectories, named like emma_watson or charlize_theron.
(I have 731 MBs

[2021-03-29 19:20] adriangb opened #48165 "Python tensorflow and tensorflow-cpu dependencies"
Although undocumented, it seems that the [tensorflow-cpu](https://pypi.org/project/tensorflow-cpu/) package is meant to be a CPU-only version of tensorflow to enable smaller package sizes.

Given that there is no dependency relationship between `tensorflow-cpu` and `tensorflow`, ecosystem libraries have no way of specifying that they need either package (see for example [this issue](https://discus

[2021-03-29 19:36] fonnesbeck opened #48166 "Prediction from saved Estimator is Tensor with no numpy method"
**System information**
- OS Platform and Distribution: MacOS 11.2.3
- TensorFlow installed from: source
- TensorFlow version (use command below): GIT_VERSION: v1.12.1-48291-g8867b44e4cd  VERSION: 2.5.0
- Python version: 3.7.10
- Bazel version (if compiling from source):  4.0.0-homebrew
- GCC/Compiler version (if compiling from source): clang

I have an Estimator model that I have fit:

[code]

and

[2021-03-29 19:39] Zakria96 commented on #48126
https://github.com/EdjeElectronics/TensorFlow-Lite-Object-Detection-on-Android-and-Raspberry-Pi#step-1a-download-and-extract-quantized-ssd-mobilenet-model

The link you sent that says that TensorFlow Lite does NOT support RCNN models such as Faster-RCNN! It only supports SSD models.

[2021-03-29 19:52] JHvdM1959 opened #48167 "Running L-BFGS-B optimizer in TF2"
### System information

-   This concerns a customized script applying PINN
-   Runs both (quite well) on Jupyter Notebooks, and Colab
-   TF2 (and T1 in other environment) installed using Anaconda, and Colab
-   TF 2.4.1
-   Python 3.8.2 (3.7 in Colab)
-
-   No CUDA used on local host (yet), automatically assigned on Colab
-   NVIDIA 1070 (local host, not yet used), automatically assigned on Cola

[2021-03-29 19:55] MarkDaoust commented on #48140
This seems more like a stack overflow question than a bug, in the future, please send questions like to stack overflow please.

I'm not 100% sure, but I assume this depends on how you're _using_ TensorFlow.

For example if you write a `train_step` `tf.function` and call it repeatedly from python, the python call may be equivalent to this "global barrier". But calling `train_step` multiple times wi

[2021-03-29 19:55] #48140 closed

[2021-03-29 21:33] Bottom-Gay opened #48169 "Copy by stewert"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-03-29 21:37] Fedour opened #48170 "Difference between android and iOS inference result"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, no exampl

[2021-03-29 22:00] mihaimaruseac commented on #47151
These are not TF errors. You pip install is old and needs to be updated. Please file a bug on Pip repo if that is not the case as most likely the issue comes from there

[2021-03-29 22:01] bhack commented on #48165
There was an old  similar thread at https://github.com/tensorflow/tensorflow/issues/7166

[2021-03-29 22:08] adriangb commented on #48165
I see, thank you for linking me! Indeed it does seem like the same issue. It's unfortunate that no resolution was reached.

[2021-03-29 22:16] #46603 closed

[2021-03-29 22:21] nikitamaia commented on #44194
Hi @psobot, sorry for the very delayed response here! Please take a look at https://github.com/tensorflow/tensorflow/commit/a279b46a97a386e2f15182826779192fced3473e

[2021-03-29 22:23] specke opened #48171 "tf.cast zeroes out input tensor"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, but a stock example would fail too, e.g. "style_transfer.ipynb" fails on my setup when trying to convert image into a floating point tensor.
- OS Platform and Distribution: Windows 7, 64 bit
- TensorFlow installed from: binary, installed using command "pip install tensorflo

[2021-03-29 22:41] AritroSaha10 commented on #47536
This worked perfectly, thank you! On another note, is XNNPACK not supported by RPi or should I file an issue on the XNNPACK repo?

[2021-03-29 23:29] angerson commented on #47989
Maybe not directly at the moment, but "Ubuntu Sanity" on the PR status runs the same tests.

[2021-03-29 23:30] ksachdeva commented on #43995
pinging again!

@Saduf2019 since you were able to reproduce this is there a way to get a resolution on this.

[2021-03-29 23:31] adriangb commented on #47989
Yes but someone working at Google has to manually trigger that AFAIK, which introduces several days of lag every time tests need to be run. Testing, especially "sanity"/linting but arguably unit tests as well, should be easy and fast to run so that developers can get feedback on their changes ASAP and iterate.

[2021-03-29 23:36] zhaozheng09 commented on #47947
copy that. @kkimdev

[2021-03-29 23:40] kkimdev commented on #47947
Q: Is this request from a real world use case? If so, do you mind sharing with us?  I'm trying to gauge the importance of this and if it'll be useful more broadly.  Thanks!

[2021-03-29 23:43] bhack commented on #47989
@angerson Just a reminder. If we are working in a Docker container these scripts require Docker in Docker and I it is not the best experience.

[2021-03-29 23:46] adriangb commented on #48165
I'll close this since it really is a dupe of #7166, resolution or not

[2021-03-29 23:46] #48165 closed

[2021-03-29 23:51] allenlavoie commented on #47785
Thank you for the report. Looks like a capturing issue, where the gradient of the placeholder in the while_loop isn't recorded properly as being associated with the external tensor being captured. So `tape.gradient` returns None and the wrapper code crashes, or with `unconnected_gradients="zero"` it returns an incorrect result. The cases where the result is correct correspond to vectorized_map not

[2021-03-30 00:12] mania25 commented on #48130
hmm okay i'll try it

[2021-03-30 00:26] mania25 commented on #48130
it still the same, i still got same error in virtual env

[2021-03-30 00:50] nanhyang9 commented on #48147
I just learned that the exactly same results occur on Win10 with NVIDIA Driver 461.33, CUDA 11.2.109, Python 3.8.3.

[2021-03-30 00:56] abattery commented on #48170
@yyoon could you take a look?

[2021-03-30 01:00] Ishmam97 commented on #28154
hasnt this been fixed yer?

[2021-03-30 02:04] atn832 opened #48173 "Embedding projector's Help icon link is broken"
**Describe the current behavior**
1. Go to https://projector.tensorflow.org/
2. Click the Help icon in the upper right corner
3. Opens a new tab that loads https://www.tensorflow.org/get_started/embedding_viz and shows Error 404

**Describe the expected behavior**
It should show me the documentation for the Embedding projector.

[2021-03-30 02:11] atn832 opened #48174 "https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/TensorBoard contains broken links"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/TensorBoard

## Description of issue (what needs changing):

The doc for the `embeddings_metadata` argument contains a broken link. It says "See the details about metadata files format.", and the link redirects to https://www.tensorflow.org/how_tos/embedding_viz/#metadata_optional, which is broken.

[2021-03-30 03:08] raposter opened #48175 "tensorflow: AutoGraph could not transform data"
Error reported in Python 3.9.2 tf-nightly:
"WARNING:tensorflow:AutoGraph could not transform <bound method Dense.call of <keras.layers.core.Dense object at 0x0000019783941EE0>> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: invalid syntax (tmp0qln7o16.py, l

[2021-03-30 03:29] crccw commented on #43983
`tf.queue.FIFOQueue` doesn't work across workers with `MultiWorkerMirroredStrategy`. Note that it's not TF2 specific.  `MultiWorkerMirroredStrategy` is designed that each worker only sees its local devices.

It is still possible to do what you describe in #1 with TF2. You can start a `tf.distribute.Server` on each worker, and connects to the cluster from a client by `tf.config.experimental_connect

[2021-03-30 03:30] zhaozheng09 commented on #47947
Scene: Ps save embedding hash table, and workers get embedding by features.
We need unique_op to filter repeated features(hash key) for decreasing net pressure and decreasing lookup embedding hash table times.
Now we search 2,000,000 features in hash table once(like my test code).
We will search more keys in the future.

Data:The data cannot be given to you due to its sensitivity, but the characte

[2021-03-30 03:57] abattery commented on #48157
The signature def API is designed intentionally without having an intuitive order. It would be better to stick with the naming instead of the order.

[2021-03-30 03:58] abattery commented on #47927
The signature def API is designed intentionally without having an intuitive order. It would be better to rely on the names instead of the order.

[2021-03-30 04:01] BearNinja123 opened #48176 "FP16 support for grouped convolutions"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.4.1
- Are you willing to contribute it (Yes/No): No

**D

[2021-03-30 04:02] LucasColas commented on #48142
I'm not a big to down grade Cuda.

[2021-03-30 04:03] abattery commented on #48157
I think this is a problem of exporting the given keras model to the corresponding saved model, which means that this is not related to TFLite.

[2021-03-30 04:21] mgmanzanillo opened #48177 "Time Series Prediction Bug"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-03-30 04:32] thaink commented on #45312
the tf.is_nan is supported in TFLite by lowering to equal op.
Could you try to convert with nightly?

[2021-03-30 04:50] keyonvafa opened #48178 "Dataset random state not saved in checkpoint when reshuffling each iteration"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): 2.4.1
- Python ve

[2021-03-30 05:22] #47834 closed

[2021-03-30 05:47] NeRR0 opened #48179 "Converting saved_model to .tflite with empty Signatures Key"
### 1. System information

- OS Platform and Distribution: Ubuntu 20.04
- TensorFlow installation: pip
- TensorFlow library (version, if pip package or github SHA, if built from source): tensorflow == 2.4.1

### 2. Code

[code]
Link to model: https://drive.google.com/file/d/1hU2zOpMPqH0gaASiDLmTZ6MFTotMEfw9/view?usp=sharing

### 3. Failure after conversion
Conversion failed.

[code]

### 5. (optio

[2021-03-30 06:23] #47824 closed

[2021-03-30 06:23] #47831 closed

[2021-03-30 06:25] ssrokyz commented on #46549
From the following page, the issue could be solved in my case.
[https://github.com/tensorflow/tensorflow/pull/46550](https://github.com/tensorflow/tensorflow/pull/46550)

[2021-03-30 06:34] pigubaoza commented on #48069
Hi. I believe I am facing the same issue with a similar hardware configuration: Ryzen Zen 3 CPU with RTX 3090.
Would this be an issue with the Linux Kernel or Nvidia Driver? Anything we can do to change these for compatibility?
We do have production software working on Tensorflow 1.14 and 1.15 so it would be hard for us to move to 2.4 in the immediate future.

[2021-03-30 07:02] millenniumbismay opened #48180 "Unable to install tensorflow 2.4.1 with python3.8.2 pip"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2021-03-30 07:25] abattery commented on #48179
For this case, could you embed your saved model into a keras model and then convert the keras model to the TFLite converter?

[2021-03-30 07:50] amahendrakar commented on #48180
@millenniumbismay,
In order to expedite the trouble-shooting process, could you please provide the following details

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed using virtualenv? pip? cond

[2021-03-30 07:51] mania25 commented on #48130
@Saduf2019 is there any way I could run Bazel with custom clang? I think the issue is within default XCode clang compiler and only happen when Bazel trying to compile llvm_openmp.

[2021-03-30 07:54] amahendrakar commented on #48180
Also, try running the below commands and let us know if you are still facing the same issue

[code]

Thanks!

[2021-03-30 08:23] #47564 closed

[2021-03-30 08:35] shkarupa-alex commented on #47968
It seems i found an answer.
When passing a function as loss it wrapped with `LossFunctionWrapper` inside `LossesContainer`.  LossFunctionWrapper intercepts `sample_weights` in __call__ method and applies them on the result of original loss function call.

The final loss therefore should be computed correctly while original loss function returns result with a shape broadcastable to sample_weights.

[2021-03-30 08:36] ljburtz commented on #46093
Sorry about that. It does [look like](https://forums.developer.nvidia.com/t/can-we-use-ngc-docker-containers-of-deep-learning-libraries-on-tesla-k80/62926) the older architecture of the NVIDIA K80 isn't supported by NGC containers. To answer your question, II was indeed on my own computer, and I don't have experience with the K80 or Singularity, best of luck on your use case and hopefully the tens

[2021-03-30 08:38] Flamefire commented on #17076
What's wrong with the bot? There has been activity here since its last comment, so why close it?

[2021-03-30 08:43] napoleonwar commented on #48145
Hi, could you please tell me how big is your libtensorflow-microlite.a?

[2021-03-30 09:00] amahendrakar commented on #48177
@mgmanzanillo,
I did not face any errors while running the code with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/e7f299f46e51b6f0b9eb645b307a4369/time_series.ipynb#scrollTo=daJ0-U383YVs&line=2&uniqifier=1) and [TF v2.4](https://colab.research.google.com/gist/amahendrakar/d4ce2e1745ce9bd39745f21469f4d4c2/48177-2-4.ipynb#scrollTo=daJ0-U383YVs&line=1&uniqifier=1). Please check the l

[2021-03-30 09:11] dmpiergiacomo commented on #48145
Hi @napoleonwar, my `libtensorflow-microlite.a` seems to be 1.0 MB on my host. I currently don't know the size on the target though.

[2021-03-30 09:19] NeRR0 commented on #48179
I hope I understand you well. As you suggested, I tried to convert the saved model to the keras model (h5) , but  i got some troubles.

keras==2.4.3
tensorflow==2.4.1

Code:
[code]
Error:
[code]

When i switch to tf-nightly-2.6.0.dev20210329 got:

[code]

So looking into similar problem i tried load keras layer:
tf-hub-nightly-0.12.0.dev202103300006

[code]

Error:
[code]

There are any other opti

[2021-03-30 09:25] xinluo2018 commented on #46194
i have the same error with 2.4.1

[2021-03-30 09:35] amahendrakar commented on #48166
@fonnesbeck,
On running the given code snippet, I am facing an error stating `NameError: name 'get_feature_columns' is not defined`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/2ef70c901976d666a27d04cc204f51d0/48166.ipynb).

In order to expedite the trouble-shooting process, could you please provide a minimal code snippet to reproduce the issue reported he

[2021-03-30 09:40] amahendrakar commented on #48159
@VasyaSmolyar,
Could you please provide the exact sequence of commands / steps that you executed before running into the problem?

Also, take a look at [this comment](https://stackoverflow.com/a/40981878) from a similar StackOverflow query and check if it helps. Thanks!

[2021-03-30 09:42] rmothukuru commented on #17076
@Flamefire,
Sorry for the inconvenience. Reopened the issue.

[2021-03-30 10:08] lisa676 commented on #15604
This solution worked for me. Thanks for this solution.

[2021-03-30 10:10] daniele-salerno commented on #7547
@Jayanth1812 did u find a way to solve this?

did u find a way to solve this?

[2021-03-30 10:23] #23216 closed

[2021-03-30 10:23] #23393 closed

[2021-03-30 10:23] #23469 closed

[2021-03-30 10:23] #23709 closed

[2021-03-30 10:23] #24009 closed

[2021-03-30 10:29] NijatR commented on #37187
I came across this issue while trying to pass a custom metric to `ModelCheckpoint` callback from a custom callback. `logs` dictionary can be used for this purpose, however `_supports_tf_logs` flag of the `ModelCheckpoint` instance needed to be set to `False`, otherwise the `logs` dictionary was not updated and passed to it. Additionally, what I observed is that the callbacks are executed in the or

[2021-03-30 10:37] zawaranwar1 commented on #42645
![Capture](https://user-images.githubusercontent.com/81622361/112975850-9445d780-916d-11eb-8190-991b62599216.PNG)
ON "ANACONDA.NAVIGATOR" MAIN PAGE CHANGE THE setting of  "APPLICATION ON TENSORFLOW OR TF"

[2021-03-30 10:37] rmothukuru commented on #48154
@samanemami,
The usage of **`Boosted Trees Using Estimators`** is demonstrated in the [Tensorflow Tutorial](https://www.tensorflow.org/tutorials/estimator/boosted_trees) . It is further elaborated in [this Tutorial](https://www.tensorflow.org/tutorials/estimator/boosted_trees_model_understanding).

If this is not what you are looking for, can you please elaborate your point. Thanks!

[2021-03-30 10:39] freddan80 opened #48183 "Minor updates to documentation"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): N/A
- Tensorflow version (commit SHA if source): 899fdb415dc970d5bca7d98a7dddf95968ef07c2
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): N/A

**Describe the problem**
Some documentation is outdated and needs an upd

[2021-03-30 10:39] zawaranwar1 commented on #42495
![Capture](https://user-images.githubusercontent.com/81622361/112976282-2057ff00-916e-11eb-9655-16e7b8e71951.PNG)
change the settings

[2021-03-30 10:40] samanemami commented on #48154
I have read this [Tutorial](https://www.tensorflow.org/tutorials/estimator/boosted_trees). The thing is I need to be sure that this is the same model that you used in this [paper](https://ieeexplore.ieee.org/abstract/document/8257910?casa_token=OcIH95osyb4AAAAA:OwLjp3Fs9BbWlYGx_mtC96HRjaDU2311UxfgEjpJCocDCKSbXUaKdOaQnEBwT9u8BfrZefYqNA).
Also, I need to have the configuration of the hyper-parameter

[2021-03-30 10:41] rmothukuru commented on #48169
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2021-03-30 10:49] rmothukuru commented on #48179
@NeRR0,
Please refer this [Stack Overflow Answer](https://stackoverflow.com/a/62211811/11530462) for help to convert the Models from **`Tensorflow Saved Model`** Format to **`H5`** Format. Thanks!

[2021-03-30 11:22] #24296 closed

[2021-03-30 11:32] rmothukuru commented on #48154
@samanemami,
The Tutorial, [Boosted trees using Estimators](https://www.tensorflow.org/tutorials/estimator/boosted_trees) states,

So, we can say that the Model used in the [paper](https://ieeexplore.ieee.org/abstract/document/8257910?casa_token=OcIH95osyb4AAAAA:OwLjp3Fs9BbWlYGx_mtC96HRjaDU2311UxfgEjpJCocDCKSbXUaKdOaQnEBwT9u8BfrZefYqNA) is same as in [the Tutorial](https://www.tensorflow.org/tutor

[2021-03-30 11:35] Zardoua-Yassir opened #48185 "#Question on efficient data input pipeline."
Hello,
I trained a small ML model, where I created and extracted training data in a Pythonic way. According to TF docs, it seems there is an efficient alternative using the module tf.data. I'm learning about tf.data from a Stanford Gitbub code written in TF Version 1. Thus, it is necessary o use tf.compat.v1 to use these commands on TF version 2. Since my goal is to build efficient solutions, is i

[2021-03-30 11:41] #48154 closed

[2021-03-30 11:56] lgeiger commented on #47927
I agree that using the signature def API makes a lot of sense when working with `tf.functions` and saved models directly.

However, I think users only working with Keras models tend to expect that output ordering is preserved similar to how Python functions returning tuples work. So when converting models with `tf.lite.TFLiteConverter.from_keras_model` the fact that output ordering is not preserve

[2021-03-30 12:03] saikumarchalla commented on #48171
@specke  I tried to reproduce the issue with  TF version 2.3 and 2.4 as well  but I am not experiencing any issues and it is working as expected.
[code]
Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/882dda21d65b19c1c2c33fd9442d045a/-48171.ipynb).Thanks!

[2021-03-30 12:05] Bottom-Gay opened #48186 "Micro controller"
@bottom-Gay

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source):
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):

**Describe the problem**

**Please provide the exact sequence of commands/steps when you ran into the problem**

[2021-03-30 12:14] NeRR0 commented on #48179
@rmothukuru
I've seen and tested this answer before, but I still have a problem like I wrote on my second answer and the same
 `summary()` problem as the comments on the stackoverflow answer. Can I count on your help or ideas?

[2021-03-30 12:14] specke commented on #48171
I understand that this must be specific to my setup - otherwise you will have thousands more people complaining!

So it has something to do with how TF connects to GPU on my machine. Can you at least recommend the debugging process in this situation? As in: since I already happen to have the setup where things do not work as expected, I would like to at least try to identify what the actual issue

[2021-03-30 12:23] #47002 closed

[2021-03-30 12:23] #24319 closed

[2021-03-30 12:35] napoleonwar commented on #48145
Ok Thanks! I am wondering how big is it after you compiling the hello world example if you did before. Because in my case, the binary file is 350KB for this simplest example, it will become bigger for more complex cases. Did you get some result whose size is under 100KB by using TFLM?

[2021-03-30 12:47] dakshvar22 opened #48188 "RaggedTensor with irregular shape breaks when yielded from `tf.keras.utils.Sequence`"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2021-03-30 12:53] Rajalod75 commented on #39584
i am facing the same issue, any solution please  ?!!

[2021-03-30 13:13] #30226 closed

[2021-03-30 13:32] jeongukjae opened #48189 "Broken Link in MLIR docs"
## URL(s) with the issue:

https://www.tensorflow.org/mlir

<img width="1406" alt="Screen Shot 2021-03-30 at 10 25 10 PM" src="https://user-images.githubusercontent.com/8815362/112996050-cc1d4100-91a6-11eb-8b25-54934afe1d09.png">

`MLIR on GitHub` box link is broken. That link is pointing `https://github.com/llvm/llvm-project/tree/master/mlir` that returns 404. I think `https://github.com/llvm/llv

[2021-03-30 13:41] amahendrakar commented on #48152
@rczj2102,
Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same issue?

In this case, could you please provide a dummy code snippet which can replicate the error in both distributed and non-distributed environments?

Thanks!

[2021-03-30 14:14] SunnyHong36 commented on #36580
I use TF2.3.0 and python3.7 run the code from the 'TFRecord and tf.Example' of 'Load and preprocess data' in Tensorflow Tutorials, and i also get this error:"TypeError: <tf.Tensor: shape=(), dtype=bool, numpy=True> has type <class 'tensorflow.python.framework.ops.EagerTensor'>, but expected one of: (<class 'int'>,) [Op:EagerPyFunc]"
Have you solved the problem?
Appreciating for your reply

[2021-03-30 14:21] Humza1996 opened #48190 "High Inference time on warmup state in android"
**System information**
- OS Platform and Distribution (Windows 10 Pro/Andriod 10,11):
- Mobile device (Redmi note 8)
- TensorFlow installed from (source or binary): tflite .so built from source
- TensorFlow version: 2.4
- Python version: 3.8

**Problem:** I am working on Real time Audio processing application in android studio. I made a model using LSTMs and converted the model to the TFLITE forma

[2021-03-30 14:22] #47837 closed

[2021-03-30 14:27] amahendrakar commented on #48128
@S99amuele,
Looks like this is simliar to issue #45401, #43844 and #43840.

Please take a look at [this comment](https://github.com/tensorflow/tensorflow/issues/45401#issuecomment-738957954) from a member of the TensorFlow team for more information. Thanks!

[2021-03-30 15:10] notsinkingtitanic opened #48191 "Regenerate Keras Python code based on model.summary()"
Is it possible to generate python code based on model.summary() information, the generated code (maybe write it to `filename.py` file) is the regular Keras model Sequential like the following:

[code]

I am sure someone somewhere did it but I searched GitHub and Google and could not find it, you may have already came across such function. Please share your thoughts.

[2021-03-30 15:39] Biplab097 commented on #40392
please reopen this Issue

[2021-03-30 15:42] amahendrakar commented on #48104
@lcx2017,
Thank you for the update.

Currently, I do not have the NVIDIA Jetson AGX Xavier Developer Kit. But a minimal code snippet would help us debug the issue and determine the source of the error easily.

[2021-03-30 15:49] evancollins1 commented on #47872
Hi @amahendrakar, attached below is a link to the functional code to reproduce the issue. Thanks!

https://colab.research.google.com/drive/1PP9UM4KAiN4K6pKxNyOjYlHf0m49Z9Mx?usp=sharing

[2021-03-30 15:56] Guneetkaur03 commented on #47916
Hey!
So, I am training with huge amount of data (in millions). When I try training with lets say approx 25M images, I get "[libprotobuf FATAL external/com_google_protobuf/src/google/protobuf/wire_format_lite.cc:523] CHECK failed: (value.size()) <= (kint32max):
Segmentation fault (core dumped)" when model.fit is called and the TensorFlow training crashes. I have used TensorFlow dataset API and crea

[2021-03-30 15:56] dmpiergiacomo commented on #45695
I created a PR [48192](https://github.com/tensorflow/tensorflow/pull/48192) that should solve this issue.

[2021-03-30 16:01] Some-random commented on #28663
any updates on this issue? I'm trying to convert my model to tensorrt and faced a similar issue. The error log looks like this:

` layout failed: Invalid argument: Invalid graph: Frame ids for node StatefulPartitionedCall/while/body/_378/while/transformer_decoder/transformer_decoder_layer/multi_head_attention_12/dense_73/BiasAdd/ReadVariableOp does not match frame ids for it's fanout StatefulParti

[2021-03-30 16:01] dmpiergiacomo commented on #43472
I created a PR [48192](https://github.com/tensorflow/tensorflow/pull/48192) that should solve this issue.

Thank you @victorromeo for your contribution. I refactor some of your code cherry-picking it, in a way your name appears. Having your name associated with the PR, Google now asks for both of our signature in their Contributor License Agreement. It would be really nice if you could quickly sig

[2021-03-30 16:26] #40402 closed

[2021-03-30 16:30] raposter commented on #48175
from random import random
from numpy import array
from matplotlib import pyplot
from matplotlib.patches import PathPatch
from matplotlib.path import Path
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense

# generate a rectangle with random width and height
def random_rectangle():
	width, height = random(), random()
	points = list()
	# bottom left
	poi

[2021-03-30 17:23] #34721 closed

[2021-03-30 17:25] banerjs commented on #42691
Sorry, I no longer have access to the codebase or machines that I tested this on initially. I'm happy to have you close this if this does indeed work (running the colab was fine for me)

[2021-03-30 17:32] Saduf2019 commented on #48117
@ShuttleDDD
Could you please downgrade your cuda to 11.0 and see if you still face the issue.

[2021-03-30 17:36] zoxoi opened #48195 "Recurrent layers fail on (at least some) Linuxes where use_bias=True, succeeds on Macos"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Custom code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 (AWS Deep Learning AMI)
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.3, 2.4.1, several 2.5 and 2.6-nightly samples
- Python version: 3.6
- CU

[2021-03-30 17:59] DSamuylov opened #48196 "Getting sub-layer output of a custom layer breaks in a Tensorflow 2.4.1"
**System information**
- Custom code:

[code]

- OS Platform and Distribution: Mac OS Big Sur v 11.2.2, Linux Ubuntu 20.04
- TensorFlow installed from binary
- TensorFlow version: code fails using TF 2.4.1, but it works using TF  2.3.1
- Python version: 3.8

**Describe the current behavior**

The following line works:

[code]

The following line breaks in Tensorflow 2.4.1:
[code]

However, it work

[2021-03-30 18:00] Alok-Ranjan23 opened #48197 "@tf.function in TF2.x"
Where is tf.function defined?
Where can I see its implementation?
How can it be invoked (as a decorator) when we compile the model using TF.Keras?

[2021-03-30 18:22] allenlavoie commented on #47785
Looks like this is actually because the tape needs `persistent=True`, since vectorized_map calls the function that computes gradients twice. I'll add an explicit error message, but in the meantime I'd use `GradientTape(persistent=True)` in your code for `batch_jacobian(..., parallel_iterations=...)`. Sorry you ran into this.

[2021-03-30 18:29] karimnosseir commented on #48148
Thanks @lgeiger for reporting this. We will work on a fix.

Thanks

[2021-03-30 18:31] #42691 closed

[2021-03-30 18:33] yann-pourcenoux opened #48199 "TFLite ERROR: Attempting to use a delegate that only supports static-sized tensors with a graph that has dynamic-sized tensors."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Xiaomi Redmi Note 7
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command b

[2021-03-30 18:52] yongwww commented on #17353
Tried this solution on my GPU instance, unfortunately, the fix doesn't work for me

[2021-03-30 19:38] impjdi commented on #48199
Tensor index can be easily verified if you add a print statement in the `HasDynamicTensorImpl` function...

[2021-03-30 19:51] abattery commented on #48179
@NeRR0 Could you share the information about the inputs and output specification of the saved model?

Sorry, I am not saying that the saved model should be converted to the h5 file format. Instead, I am thinking of the following code snippet:

[code]

[2021-03-30 19:56] abattery commented on #48190
@srjoglekar246 could you take a look?

[2021-03-30 20:10] yann-pourcenoux commented on #48199
I am sorry but I do not find any documentation about this function: Can you tell me where it is defined/how can I use it?

[2021-03-30 20:22] georgeslabreche opened #48200 "There is no Digital Object Identifiers (DOI) to make the code citable for academic references"
## URL(s) with the issue:

https://github.com/tensorflow/tensorflow/blob/master/README.md

## Description of issue (what needs changing):

The source code should be made citable for academic references: https://guides.github.com/activities/citable-code/

### Clear description

_"A DOI, or Digital Object Identifier, is a string of numbers, letters and symbols used to permanently identify an article

[2021-03-30 20:59] #44194 closed

[2021-03-30 21:31] Hossamfathi050 commented on #44615
pip install tensorflow

[2021-03-30 21:46] chenmoneygithub commented on #46953
Thanks!

[2021-03-30 21:46] #46953 closed

[2021-03-30 22:06] giautm commented on #48017
Hey @gg187on I have really setup DevContainer with TensorFlow for Go 1.16.1. You can use it right now without any issue with compiler.

https://github.com/giautm/tensorflow-go-example

FYI: DevContainer is feature of VSCode (https://code.visualstudio.com/docs/remote/containers). So, It requirements you have VSCode, Docker on your machine.

[2021-03-30 22:08] Bonolo-Maluleke commented on #45033
There is a good solution to this from the TinyML Forum:

https://forums.tinyml.org/t/make-doesnt-work-on-hello-world-test-from-tinyml-book/344

[2021-03-30 22:13] RuofanKong commented on #45312
@thaink Okay as I was on the older TF 2.x version, and it's great to see more ops are supported in TFlite now!

[2021-03-30 22:32] lukmanr-cadence opened #48202 "Sigmoid,tanh: TFL int16 reference code compared to float implementation is off by 3-4 bits"
@advaitjain , @njeffrie, @petewarden, @nyadla-sys

### Describe the problem
TFL int16 reference code compared to float implementation is off by 3-4 bits (int8 is off by 1 bit).
TFLM does not have int16 support yet.
Sigmoid shows maxdiff of 6 (3 bit).
Tanh shows maxdiff of 12 (4 bit).
Cadence’s hardware implementation is 1 bit off and that’s how it was discovered that TFLM implementation was off
A

[2021-03-30 23:10] daverim commented on #47858
Hi, sorry for the late reply:

As you can see in the conv default config, the weight quantizer extends LastValueQuantizer and sets per_axis=True
https://github.com/tensorflow/model-optimization/blob/9193d70f6e7c9f78f7c63336bd68620c4bc6c2ca/tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantizers.py#L22

Since you are using a custom scheme, you'll need to se

[2021-03-31 00:06] StarWang opened #48204 "TF2 equivalent of tf.contrib.graph_editor"
Hi Team,

In TF1 we have tf.contrib.graph_editor to conveniently edit a trained model. I couldn't find the equivalent in TF2. Editing a trained model is obviously a better design since in many cases separating models into different components (e.g., embedding generation) is a post-training request. It does not make sense to use tf.function to generate different signatures and train the model again

[2021-03-31 00:15] talhaanwarch opened #48205 "TF2 model output NaN when inferenced is performed using CPU"
I have a TensorFlow model architecture and pre-trained weights. When I use it for prediction on GPU it works well, but on CPU it starts giving NaNs. The model weights are in hdf5 format. There is no batch normalization layer in the model. I am confused why it's not working on the CPU.
Tensorflow version:2.30.
Tested on Windows and Linux (same issue on both). A similar error is reported in #35307 .

[2021-03-31 00:22] #47503 closed

[2021-03-31 01:51] junneyang commented on #47583
thanks !

[2021-03-31 01:58] Saptr commented on #47875
Same problem.
I had tested all gpu that i had ,and a lot of combinations.
CUDA : 11.0,11.1,11.2
tensorflow == 2.4.1,tf-nightly-gpu==2.5.0.dev20210320 or 2.5.0.dev20210320
GPU device : rtx3080,3090 ,2080s,2080ti,1080ti

Best performane always on rtx2080ti, and 3080/3090 worst, but the rtx20 series have stopped production.
Rtx30 series extremely slow (training or prediction,1.3~2times)
Big trouble o

[2021-03-31 02:22] #39816 closed

[2021-03-31 02:30] fhahaha opened #48206 "transpose op is deleted when i use tf.lite.TFLiteConverter.from_keras_model to convert tflite model."
### 1. System information

- OS Platform and Distribution (Linux Ubuntu 16.04):
- TensorFlow installation (pip package):
- TensorFlow library (2.0.0-rc0):

### 2. Code
...
    output = tf.transpose(output, [0, 3, 1, 2])
    output_shape = output.shape
    output = Reshape([output_shape[1] * output_shape[3], output_shape[2]])(tf.transpose(output, [0, 1, 3, 2]))
    output = tf.transpose(output, [0,

[2021-03-31 02:35] abattery commented on #48206
@fhahaha could you provide minimal, reproducible steps as a format of gist to reproduce your problem at our end?

[2021-03-31 02:51] abattery commented on #48206
Could you try your conversion with the recent TF version? There is possibility that the issue has been fixed in the recent TF version already.

[2021-03-31 03:22] fhahaha commented on #48206
@abattery Thanks, the issue has been fixed in recent TF version 2.4.1.

[2021-03-31 03:24] #48206 closed

[2021-03-31 03:25] abattery commented on #48206
Thanks @fhahaha for the confirmation. Closed this issue since the recent TF version can resolve this issue.

[2021-03-31 04:11] ramakrse commented on #48116
Ok. Thanks. Done.

[2021-03-31 04:32] saikumarchalla commented on #48171
@specke  Could you please  create a virtual environment and test your code again. May be that works. Thanks!

[2021-03-31 04:35] saikumarchalla commented on #48116
@ramakrse  Could you please go ahead and close the issue.

[2021-03-31 05:22] #46111 closed

[2021-03-31 05:31] Saduf2019 commented on #48185
@Zardoua-Yassir
We have V2 version for all V1 functions, you should look out at the V2 implementation in the API docs to modify current model,
request you to refer to this [link](https://www.tensorflow.org/guide/upgrade) and move this issue to closed status and open an issue in [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow) in case of any further queries as it is not a bug

[2021-03-31 05:40] sandeep22-v commented on #44790
Got the error :

tensorflow.lite.python.convert.ConverterError: <unknown>:0: error: loc("batch_normalization/moving_mean"): is not immutable, try running tf-saved-model-optimize-global-tensors to prove tensors are immutable

[2021-03-31 05:44] Saduf2019 commented on #48033
@zhaoyun0071
The code provided is fairly complex hence it would be difficult for us to pinpoint the issue. Could you please get the example down to the simplest possible repro? That will allow us to determine the source of the issue easily. Thanks!

[2021-03-31 05:47] future-zy commented on #47311
I also have the problem in colab ,but I see the problem is not solved.

[2021-03-31 05:53] Saduf2019 commented on #48013
@tensorflowbutler
Cod shared is full of [indentation errors](https://colab.research.google.com/gist/Saduf2019/c94b6dd0903441e6e1e834ab1299aa93/untitled575.ipynb), please share a colab gist with issue reported or simple stand alone indented code with all dependencies such that we can replicate the issue reported.

[2021-03-31 06:03] Saduf2019 commented on #48195
@zoxoi
I ran the code shared on tf 2.4 and face a different error,Please find the [gist here](https://colab.research.google.com/gist/Saduf2019/b1933a7374348ca6034590589a4e5212/untitled575.ipynb).
Could you please share a colab gist with the issue reported.

[2021-03-31 06:26] vignesh0710 opened #48209 "Documentation for Time Distributed Layer"
Documentation for ```Time Distributed layer``` in Keras mentions any ```Layer``` applied with it will be ```applied to every temporal slice```

But in my assumption - for example consider ```mant-to-many``` sequence model trained for ```NER``` or ```Language Model``` with the following code, ```(if return_sequences==True)``` in the previous ```BiLSTM layer``` then ```Dense(n)``` and ```TimeDistrib

[2021-03-31 06:28] razvanra2 commented on #47770
Thanks for the reply @MopsieX ! @jvishnuvardhan - i tried  tf_nightly-2.6.0.dev20210330 today. Everything looks like it's working again. Closing the issue.

[2021-03-31 06:28] #47770 closed

[2021-03-31 06:57] Humza1996 commented on #48190
@impjdi @ymodak Please reveiw

[2021-03-31 07:11] #48123 closed

[2021-03-31 07:27] Saduf2019 commented on #48197
@Alok-Ranjan23
1) & 2) Please refer to [this link](https://www.tensorflow.org/api_docs/python/tf/function) for the function details.
3) When you compile a keras model it is invoked internally until and unless you specify the run_eagerly argument to be true.

For any further queries on this kindly open a [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow) issue for this as it is

[2021-03-31 08:02] rmothukuru commented on #48039
@zwang1995,
If I am not wrong, you are referring to the `formulae` mentioned in [this link](https://paperswithcode.com/method/batch-normalization). Your point is valid but the expression has been simplified by removing the `Square Root` in the `Denominator` because **_`Square root of (sigma ** 2)`_** will be **_`sigma`_** itself, and the value, **_`epsilon`_** is a very very small number (usually

[2021-03-31 08:09] zwang1995 commented on #48039
@rmothukuru,
It did clarified. Thank you!

[2021-03-31 08:09] #48039 closed

[2021-03-31 08:10] samijaba commented on #25254
I got the same problem in training. I resolved it by using repeat inside "fit"

`train_steps_per_epoch = dataset_info.splits["train[:95%]"].num_examples // batch_size
valid_steps_per_epoch = dataset_info.splits["train[95%:]"].num_examples // batch_size

train_steps = 4*100000
epochs = train_steps // train_steps_per_epoch
print (valid_steps_per_epoch)
# Running 100 training and 50 validation steps,

[2021-03-31 08:10] ymjiang opened #48210 "[XLA PjRT] Ongoing progress and future plan of PjRT distributed runtime"
Hi TF developers,

This issue intends to get more knowledge about the ongoing and future plan of XLA PjRT, especially on the distributed runtime of GPU.

Although there are some related commits (e.g., 44e771aa50ad8be454b7f4469ad04a815d03cca1 and 8a72c4466a0f44de9bd1cfbf47a701727731036c), existing PjRT code seems quite preliminary in supporting distributed training on multiple hosts -- As far as I

[2021-03-31 08:13] samijaba commented on #25254
I got the same isssue in training with retinanet. I resolved it by using repeat inside "fit"

`train_steps_per_epoch = dataset_info.splits["train[:95%]"].num_examples // batch_size
valid_steps_per_epoch = dataset_info.splits["train[95%:]"].num_examples // batch_size

train_steps = 4*100000
epochs = train_steps // train_steps_per_epoch
print (valid_steps_per_epoch)

import random

random.seed(10)
h

[2021-03-31 08:22] #47846 closed

[2021-03-31 08:30] Saduf2019 commented on #48117
@ShuttleDDD
Can you upgrade tensorflow version to 2.5 and let us know if you still face issues.

[2021-03-31 08:31] lcx2017 commented on #48104
Thanks a lot!
On Jetpack 4.4 (cuda 10.2, cudnn 8.0, tensorrt 7.1.3.0, Tensorflow 2.4.1)
1, The code can not share because of Trade secret, sorry for that!
2, The custom op is common pixel level computing method, some if/else logic in it so we didn't code it by CUDA kernel.
3, After close xla compilation for all the custom ops, crash issue still exists, crashed 6 times after 20 runs.
4, After enabl

[2021-03-31 08:38] ShuttleDDD commented on #48117
I switch to RTX3070 and this issue didn't came out any more, so this is a 3060 stand alone issue maybe?
by the way, this can be solved by adding
physical_devices = tf.config.list_physical_devices('GPU')
tf.config.experimental.set_memory_growth(physical_devices[0], True)
after importing everything in the code.

[2021-03-31 08:41] rmothukuru commented on #48089
Created [a CL](https://critique-ng.corp.google.com/cl/365201271) with the suggested changes.

[2021-03-31 09:01] rmothukuru commented on #48101
@DachuanZhao,
Thank you for the details and for the code. Can you please specify the use cases for this feature. Thanks!

[2021-03-31 09:08] augustinemune opened #48211 "kindly help"
Epoch 1/20
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-107-c74f48714daf> in <module>()
      2 # history = model.fit_generator(datagen.flow(train_x,train_y, batch_size=batch_size),
      3 #                               epochs = epochs, validation_data = (val_x,val_y), steps_

[2021-03-31 09:11] israelwei opened #48212 "Quantization Aware Training model has weird inference behavior"
Hi,
I have a pretrained detection model I trained in Tensorflow 2.3 with fp32 precision. I used this model's weights as initial pretrained weights for Quantization Aware Training (QAT). During training I could see that training converged and gave logical predictions (I visualized results during training).
When trying to load with Tensorflow the Quantization Aware Training weights for inference the

[2021-03-31 09:12] abattery commented on #48212
@xhae  could you triage this issue?

[2021-03-31 09:20] povolann commented on #46093
Hi, can I ask which command exactly did you use here?
_If you have Docker 19.03 or later, a typical command to launch the container is:
docker run --gpus all -it --rm -v local_dir:container_dir nvcr.io/nvidia/tensorflow:<xx.xx>-tf<x>-py<x>_

It gives me the error:
_bash: syntax error near unexpected token `newline'_

So, I have tried
_docker run --gpus all -it --rm -v local_dir:container_dir nvcr.

[2021-03-31 09:23] #24695 closed

[2021-03-31 09:25] xhae commented on #48212
@Xhark Can you take the issue?

[2021-03-31 09:37] rmothukuru commented on #48137
Created [a CL](https://critique-ng.corp.google.com/cl/365992643) which specifies the point about `strides=1`.

[2021-03-31 10:03] ingolfured opened #48213 "Exception when saving custom RNN model with a constant in the call function when using SavedModel format"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Redhat 7.8.2
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.4.

[2021-03-31 10:04] S99amuele commented on #48128
@amahendrakar,
thanks, looks like it's for that reason. I will try using lambda layers with no operation.
It kinda seems a bit unpolished though, someone should consider implementing a tf.rename funtion or something like that

[2021-03-31 10:13] rmothukuru commented on #48176
@BearNinja123,
Couple of points:
1. Documentation of `Mixed Precision` states:

Can you please confirm if you are using latest `GPU` with `Compute Capability` 7.0 or higher?

2.  Can you please try using [tf.keras.layers.Conv2D](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Conv2D) and confirm if you are experiencing the same `performance` (because this API is more active compared to

[2021-03-31 10:23] #25946 closed

[2021-03-31 10:24] saqibns commented on #47174
Facing the same problem. Any updates on this yet?

[2021-03-31 10:43] NeRR0 commented on #48179
@abattery

If you only ask for the size of the input then its (?, 256, 256 ,3).

The model return 3 outputs:
I. shape=(1, 5), dtype=float32)
II. shape=(1, 24, 3), dtype=float32)
III. shape=(1, 24, 3), dtype=float32)

I would like to share more information but unfonetly I am unable to read them from Netron. I dont know if its important but
the entire architecture is based on ResNet101 with modifica

[2021-03-31 10:44] rmothukuru commented on #48149
@lgeiger,
The way you load the model should be some thing like,

`loaded_1 = keras.models.load_model("my_model", custom_objects={"CustomModel": CustomModel})`

Please refer the Documentation of [Saved Model for Custom Objects](https://www.tensorflow.org/guide/keras/save_and_serialize#how_savedmodel_handles_custom_objects) and check if the issue persists?

Also, the error that you got, **`Assertion

[2021-03-31 10:49] abattery commented on #48179
@NeRR0 is it possible to regenerate the saved model again with the signature def information? Please refer to https://www.tensorflow.org/guide/saved_model#specifying_signatures_during_export Then you can specify the name of signature at the signature_keys in the from_saved_model API.

[2021-03-31 11:01] Saduf2019 commented on #48189
@jeongukjae
Created a PR to fix this issue, this issue will be closed once the [PR](https://github.com/tensorflow/tensorflow/pull/48215) is merged.

[2021-03-31 11:22] #47856 closed

[2021-03-31 11:29] lgeiger commented on #48149
@rmothukuru Thanks for the fast response. Reloading with custom objects still does not work in this case.

I updated the [notebook](https://colab.research.google.com/drive/1q2f1tXS3fUaO4WH1TJYmEYFO7QQoh8Z9?usp=sharing) to make the issue more clear and test your suggestion.

Also in general I thought the idea behind the saved model format is that models can be reloaded without the code. Which also

[2021-03-31 11:41] amahendrakar commented on #48190
@Humza1996,
In order to expedite the trouble-shooting process, could you please provide a minimal code snippet so that we can reproduce the issue on our end. Thanks!

[2021-03-31 11:45] stronquens commented on #45285
This versions works for me in a rtx 3070 with CNN layers. The problems of crashes disappears.
Thanks a lot

[2021-03-31 11:50] lgeiger commented on #36505
@mihaimaruseac did you have any chance to look into this issue?

Reloading models (even small ones) from GCS seems almost unusable even with a super fast network connection so unfortunately the only workaround currently is to download the saved model (which tends to be super fast) and read it from the local disk which can be quite cumbersome for users.

[2021-03-31 11:57] terryheo commented on #47536
I wonder if it requires to specify NEON extension.

Could you try to use the ARMCC_FLAGS?
https://www.tensorflow.org/lite/guide/build_cmake_arm#run_cmake_2

[2021-03-31 12:11] 0x0badc0de commented on #39167
Can it be protected from auto-closing since it's clearly not fixed and easy to reproduce?

[2021-03-31 12:12] amahendrakar commented on #48196
@rmothukuru,
I was able to run the code without any errors with [TF v2.3.2](https://colab.research.google.com/gist/amahendrakar/fd243f4375b1d4082dedbc19d6e2ae62/48196-2-3.ipynb).

However with [TF v2.4.1](https://colab.research.google.com/gist/amahendrakar/b67fd59f860e8513b0f9286c058370ab/48196.ipynb#scrollTo=uZScYo7BRcNM) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/66c6be

[2021-03-31 12:15] xiongli520 opened #48216 "slim"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2021-03-31 12:40] krishdb38 commented on #45285
I am also successfully running now with the above same version
Till now I am facing some speed problems.

I think my GPU is not working fully. somewhere I need to do setup inside TensorFlow.

Thank you very much for sharing the information.

![rtx_3070_cpu](https://user-images.githubusercontent.com/45994360/113145610-98571f80-9269-11eb-96e5-77f811ce3040.PNG)

![rtx_3070_gpu](https://user-images.gi

[2021-03-31 12:53] angeligareta commented on #32620
Actually, now you can simply use tf.io.read_file() with a gs file and it would be able to read it even from a tensor. 😄

[2021-03-31 13:10] Humza1996 commented on #48190
@amahendrakar Please find below
**loadModelFile** is loading function
If I use **tflite.runForMultipleInputsOutputs(inputs, outputs);** it gives high inference time i.e 13-14 ms
But when I run this line in for loop it gives me around 3-4ms inference time. Althou I have declared tflite outside the while loop.

`private MappedByteBuffer loadModelFile() throws IOException {
        AssetFileDescripto

[2021-03-31 13:36] Zardoua-Yassir commented on #48185
Thank you for the kind answer. I'm closing this issue

[2021-03-31 13:36] #48185 closed

[2021-03-31 14:05] tgolsson commented on #46475
A bit more update from my testing:

I applied the relu fix globally to our codebase using a `get_custom_objects().update({'relu': Lambda(lambda x: tf.maximum(0., x))})` call. This *didn't seem to solve it anymore*, as opposed to replacing it inline. I'm wondering whether something related to relu *as a name* is problematic, leading to some optimization here or there on certain hardware? It might a

[2021-03-31 14:55] Saduf2019 commented on #48188
@dakshvar22
I ran the code shared and face "invalid syntax: error, can you please check you code and share a colab gist with the error reported.

[2021-03-31 15:04] dakshvar22 commented on #48188
@Saduf2019 There was a missing parenthesis. Updated the code. It should work now.

[2021-03-31 15:11] rohan100jain commented on #41827
I'm sorry we looked into this issue and there isn't really any easy way of fixing this without rolling back a change (https://github.com/tensorflow/tensorflow/commit/f0d0485b0de521ff273c8d91acbb2fbabe57baa7) that enhances dtype coverage of our GPU ops and improves the consistency of Tensorflow in general. This issue has exposed some problems we need to fix with our device placement that we're plan

[2021-03-31 16:00] #48197 closed

[2021-03-31 16:16] baaohuii commented on #39240
Hi, have you solve the error? I am facing the same problem here

[2021-03-31 16:17] amahendrakar commented on #48205
@talhaanwarch,
The `model.py` file you've linked has only the class and function definitions. I did not get any output on running the code. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/045a3d9ba253e11ef575bfd7ebd77a78/48205.ipynb).

In order to reproduce the issue reported here, could you please provide a minimal code snippet and the dataset you are using.

[2021-03-31 16:22] #47857 closed

[2021-03-31 16:23] francotheengineer commented on #33303
I can reproduce this issue in TF 2.4.1 . Inspecting the list of output tensors from:
 `interpreter = tf.lite.Interpreter(
    model_path='/path/to/tflite/model'
interpreter.get_output_details()`
Yeilds a out-of-order list, compared to the `.predict` call in tf.keras, specifically, the list has been mirrored. For 4 output tensors:
tf.keras.Model.predict `output[0] ` is now `output[3] ` in tf.lite
t

[2021-03-31 16:37] #47729 closed

[2021-03-31 16:43] yann-pourcenoux commented on #48199
The problem was that I indeed had a "hidden" dynamic-sized tensor.
Changing from:
[code]
to:
[code]
fixed the problem.

[2021-03-31 16:43] #48199 closed

[2021-03-31 16:53] #33041 closed

[2021-03-31 16:54] VasyaSmolyar commented on #48159
Reinstalling protobuf is not helps at all. I install binary TF from here https://github.com/Qengineering/Tensorflow-Raspberry-Pi/

[2021-03-31 16:57] amul-dhungel commented on #48179
Did any one solved this issue?

[2021-03-31 17:29] FTC55 opened #48219 "Add "input" label mode to tf.keras.preprocessing.image_dataset_from_directory"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.4.0
- Are you willing to contribute it (Yes/No): No

**D

[2021-03-31 17:29] Saduf2019 commented on #48209
@vignesh0710
Kindly open a [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow) issue for this as it is not a bug or feature request, Please post this kind of support questions at Stackoverflow. There is a big community to support and learn from your questions.
Thanks!

[2021-03-31 17:29] zoxoi commented on #48195
I don't know what a collab gist is. I put the entire code in the gist I linked. It needs some supporting code, the code I pasted was just me pointing out the relevant code the error is occurring in.

[2021-03-31 17:29] jdduke commented on #48027
Hi @barabanus . Your request is quite reasonable, though there would be quite a bit of complexity involved to make this work properly, due to the lazy manner in which float16 weights are currently "inflated" at runtime. Terry's suggestion to try int8 quantization is probably the best approach to both reduce the model size but also enable weight sharing.

That said, for Q2 we are looking into suppo

[2021-03-31 17:32] Saduf2019 commented on #48117
@ShuttleDDD
If adding the code resolves the issue can we move this to closed status.

[2021-03-31 17:34] ymodak commented on #48211
Please share code to reproduce the issue and share your platform details.

[2021-03-31 17:34] 9nut commented on #41808
@galeone @jhseu is this a correct summary of the issue and work-around?

Some of the modules that are required for using TF from Go are artifacts that are generated during the TF build process (therefore, NOT checked into the repository). Go module processing expects to "get" those modules from their "import" paths;  but, obviously, it can't find them.  The solution is to build the library, and ge

[2021-03-31 17:40] Saduf2019 commented on #48111
@fonnesbeck
Can you share complete code such that we could replicate the error reported. [ simple stand alone indented code or a colab gist with the error reported]

[2021-03-31 17:47] Saduf2019 commented on #48188
I am able to replicate this issue on 2.3,2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/33af235b715ba87e27cbe0243e277283/untitled579.ipynb).

[2021-03-31 18:04] vignesh0710 commented on #48209
Hi, Thanks for the response. My thinking was in case the assumption is correct, the docs can be modified to assert that as I see so many posts about this very confusion.

[2021-03-31 18:17] amahendrakar commented on #48213
Was able to reproduce the issue with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/70335ea8349dae6d8a98840b0cb3f78a/48213-2-3.ipynb) and [TF v2.4](https://colab.research.google.com/gist/amahendrakar/6ded3f5bd216f6b6bce44aa0a3367f82/48213.ipynb).

Whereas with the latest [TF-nightly](https://colab.research.google.com/gist/amahendrakar/afa52880fc8f09635e60c6b5141eecbe/48213-tf-nightl

[2021-03-31 18:44] amahendrakar commented on #47976
@shuchitajain,
The GitHub repository you've linked contains multiple `.ipynb` files.

In order to expedite the trouble-shooting process, could you please provide a minimal code snippet? Thanks!

[2021-03-31 18:48] amahendrakar commented on #48216
@xiongli520,
In order to expedite the trouble-shooting process, could you please explain in detail the issue you are facing and also fill in the issue template. Thanks!

[2021-03-31 19:10] jacksonloper commented on #24410
Needed a tensorflow op that did the generalized edt (i.e. `out[p] = min_q (||q-p||^2 + in[q])`) .  Implemented here, CPU/GPU, float32/float64.

https://github.com/jacksonloper/tensorflow-felzenszwalb-edt

Wheel here

https://github.com/jacksonloper/tensorflow-felzenszwalb-edt/releases/download/v0.0.1/tensorflow_felzenszwalb_edt-0.0.1-py37-none-linux_x86_64.whl

Caveat emptor, haven't tested it on

[2021-03-31 19:31] barabanus commented on #48027
@jdduke @terryheo Thank you for the explanation. Well, I wish TFLite will implement native float16 kernels. What shall we do with the issue?

[2021-03-31 19:43] jdduke commented on #48027
It's up to you whether you'd like to leave this issue open. We can file an external issue tracking native float16 computation, and when we've done so link to that here (and potentially close this issue).

[2021-03-31 19:45] danijar commented on #46093
@mihaimaruseac, do you have an idea when the prebuilt `tf-nightly` package will start using CUDA 11.2?

[2021-03-31 19:48] barabanus commented on #48027
@jdduke Thanks, it would be wonderful to track float16 task. Also I would double check it with the program I wrote.

[2021-03-31 19:57] giautm commented on #41808
Hi, I have some comments to share.

First, I starting my application by trying to use TensorFlow API directly in Go. In development environment, I used [DevContainer to run Go code](https://github.com/giautm/tensorflow-go-example) with TensorFlow in binary. But, when I trying to deploy my application to production mode. I realize that TensorFlow is too big to be deployed with the same application.

[2021-03-31 20:09] jvishnuvardhan commented on #47930
@Fabien-Couthouis Please follow the guide on distribution strategy [here](https://www.tensorflow.org/guide/distributed_training).  In the tutorial section of TF website, there are lot of tutorials on [distribution strategies](https://www.tensorflow.org/tutorials/distribute/keras).

This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow

[2021-03-31 20:20] Nate711 opened #48220 "Model to estimator docs use deprecated code"
The example code for converting a keras model to a tf estimator cause a user warning that set_learning_phase is deprecated and will be removed after 2020-10-11, which has since past.

## URL(s) with the issue:
https://www.tensorflow.org/guide/migrate#using_a_keras_model_definition

## Description of issue (what needs changing):
User warning in the console log:

[code]

[2021-03-31 20:22] mats-claassen commented on #45243
Hi, the docs at https://www.tensorflow.org/api_docs/python/tf/keras/applications/mobilenet_v3/preprocess_input are still misleading (specifically, the `Returns` section)

For example, when trying to replicate the preprocessing based on the documentation to run it on mobile, this might lead to scaling the input values twice.

[2021-03-31 20:29] ymodak commented on #48072
You may want to post this issue now [tf-onnx](https://github.com/onnx/onnx-tensorflow/issues) repo as a feature request since the `runtime error` hits from tf-onnx codebase.

[2021-03-31 20:39] qlzh727 commented on #45243
I think the doc change wasn't included in the 2.4 release, but will be reflect into 2.5 release (coming soon).

[2021-03-31 21:29] Mastiff37 opened #48221 "tf.linalg.eigh and tf.linalg.eigvalsh errors"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  CentOS 6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):  Source
- TensorFlow version (use command below):  2.0.0
- Pyt

[2021-03-31 21:44] xxl4tomxu98 commented on #36792
Dan, do you mean I repost this again where? I posted this in stack
overflow, is it the place you want me to post it?
Thanks
Tom

On Mon, Mar 29, 2021 at 9:33 AM Dan Moldovan ***@***.***>
wrote:

--
Tom Xu

[2021-03-31 22:41] jvishnuvardhan commented on #35353
@TomatoBoy90 @LeparaLaMapara Can you please share a standalone code to reproduce the issue? Thanks!

[2021-03-31 23:08] rrklearn2020 commented on #47742
It would be a great help if you can share some hints to update this area with TF2.x

[2021-03-31 23:12] krishdb38 commented on #47798
I am sorry for late response.
default TensorFlow installation exist the problem.

I solved this with tf-nightly
issue #45285

Currently, I am facing a speed problem with my GPU

![gpu_RTX](https://user-images.githubusercontent.com/45994360/113222382-e0099580-92c1-11eb-9523-535c8cf5242d.png)

**My GPU is not running in its full capacity**

Thank you very much for your great work

[2021-03-31 23:25] jvishnuvardhan commented on #47933
@Yu-Hang Yes, `keras_metadata.pb` is saved and is intended behavior. [Here](https://colab.research.google.com/gist/jvishnuvardhan/adacb23fc2ec9ba647a3e74089d1864e/untitled.ipynb) is a gist for your reference.

This is a recent addition to the functionality of `model.save`. If you try to save a model load a model without `keras_metadata.pb`, then it will throw a warning as shown below

`
#### load

[2021-03-31 23:39] eddie-scio commented on #44884
I believe this is a real problem with `make_dirs` (perhaps not `write_file`) interaction with GCS -- note the T2T issue [here](https://github.com/tensorflow/tensor2tensor/issues/879), I figured this is an existing issue and better to bump it in core TF.

My workflow is simply to call `tf.gfile.MakeDirs(FLAGS.data_dir)` on my output directory (which is on GCS), which is quite a common workflow.  Ho

[2021-03-31 23:50] jvishnuvardhan commented on #46385
This is intended behavior and the warning is to encourage users to use `model.save`  instead of `tf.saved_model.save` when saving keras models.

[Here](https://colab.research.google.com/gist/jvishnuvardhan/53116f96ec3127dab87c3b109d355846/untitled94.ipynb) is a gist where model was trained and saved using `TF2.4`. Then, loaded the model using `tf-nightly` and trained again on the same data. The ac

[2021-03-31 23:50] #46385 closed

[2021-04-01 00:21] jvishnuvardhan commented on #45288
@shengpu1126 I updated one line in your code as follows (added `input_shape` to first layer of `Sequential`)

`tf.keras.layers.Dense(1000, activation="relu", input_shape=(d,)),`

After the above update, I cannot reproduce the error. [Here](https://colab.research.google.com/gist/jvishnuvardhan/ad305a6648a729e50cea08006e7d0a1d/untitled2.ipynb) is a gist for your reference.

Can you please verify onc

[2021-04-01 00:32] dogacbasaran commented on #48064
@amahendrakar I was able to build TF from the source. I copied my previous built /lib and /include directories into /usr/local before I failed in building. When I deleted them from the /usr/local, I was able to build again. I don't know why it works like that but that is ok for my case anyway. Thanks for your help. Cheers.

[2021-04-01 00:32] #48064 closed

[2021-04-01 00:33] eddie-scio commented on #44884
For folks who run into this and can't use the linked workaround of top-level bucket input, I'm just tracking down all usages of `MakeDirs/makedirs` and using a temporary local input there instead, doing a GCS copy later with the GCS python lib instead of tf.

[2021-04-01 00:36] psybuzz commented on #1978
For anyone who might've stumbled upon this thread:

Users who have a *.pbtxt can go to TensorBoard.dev, the service for hosting TB data
- Go to https://tensorboard.dev/experiment/QFRIzZJpTZCNRzi8N7zomA/#graphs
- Click 'Upload file' in the left sidepane to upload your graph from your filesystem

Users running a Python notebook can use the TensorBoard notebook magic to launch TB and visualize a grap

[2021-04-01 01:34] wangpengmit commented on #27120
Hi @annaiart you need to check the definition of `generator`. It seems somewhere in it a `tf.Variable` is unconditionally created, which is not allowed by `tf.function` (and `.save` which uses the same mechanism as `tf.function` internally). Perhaps somewhere in your custom-defined Keras layer?

[2021-04-01 02:10] MarkDaoust commented on #45243
The nightly view shows what the current state is.

https://www.tensorflow.org/api_docs/python/tf/keras/applications/mobilenet_v3/preprocess_input?version=nightly

[2021-04-01 03:01] vijayshankarrealdeal commented on #48078
actually i have given the github repo link of the project and the python note book from where model is made.

The project githubrepo - https://github.com/vijayshankarrealdeal/The-Network
and my model train code is -https://www.kaggle.com/vijayshankar756/notebookd234d927a6

[2021-04-01 03:01] ymodak commented on #48009
Thanks for tagging the newly created thread. It's better to maintain one issue for discussion,Therefore closing this issue for now.

[2021-04-01 03:01] #48009 closed

[2021-04-01 03:07] xueyedamo521 opened #48223 "fake_quant_with_min_max_vars can only get five significant figures instead of six"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platfo

[2021-04-01 03:12] zhaoyun0071 commented on #48033
`import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

inputs = keras.Input(shape=(784,), name="digits")
x = layers.Dense(64, activation="relu", name="dense_1")(inputs)
x = layers.Dense(64, activation="relu", name="dense_2")(x)
outputs = layers.Dense(10, activation="softmax", name="predictions")(x)

model = keras.Model(inputs=inputs, outputs=outputs)

(x_train,

[2021-04-01 03:14] xueyedamo521 commented on #48223
"fake_quant_with_min_max_vars " is  implemented using XLA. For accuracy I wonder why it is different from pytorch which can ensure six significant figures.

[2021-04-01 03:17] ymodak commented on #46644
Any luck in putting together a reproducible example?

[2021-04-01 03:18] qkqk772 opened #48224 "How can I find the type of quantization?"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2021-04-01 03:19] abattery commented on #48224
@xhae could you triage this issue?

[2021-04-01 03:24] ymodak commented on #46540
I wonder if this issue only fails on colab.
On macOS pycharm it gives:
[code]

[2021-04-01 03:31] ymodak commented on #48224
You may use [netron app](https://github.com/lutzroeder/netron) to load your tflite file and inspect the node properties.

[2021-04-01 03:40] Young768 opened #48225 "how to obtain the location of input/output when create a new Op?"
Hi, I am following the [doc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/pad_op.cc#L372) to implement a new tensorflow Op. For REGISTER_KERNEL_BUILDER,
`REGISTER_KERNEL_BUILDER(Name("PadV2")
                            .Device(DEVICE_GPU)
                            .TypeConstraint<int32>("T")
                            .TypeConstraint<int32>("Tpaddings")

[2021-04-01 03:44] jeisinge commented on #46644
Unfortunately, no.  The issue still exists, however, I still cannot reproduce with code/data that I can share.

If you have any recommendations on how best to reproduce, let me know.  If not, I reckon, this should be closed.

[2021-04-01 03:58] Kewenjing1020 commented on #48066
@Saduf2019 The error happens because you don't install ipdb. Just install ipdb by 'pip install ipdb'. Or, remove 'from ipdb import set_trace'.
Besides, in this code, it calls the Imagenet dataset by giving the datapath and vallist.  You need to change the 'eval_image_list' and 'eval_image_path'. The eval_image_list file is defined as:
[code]

[2021-04-01 04:16] #48116 closed

[2021-04-01 04:28] Saduf2019 commented on #47910
I am able to replicate the issue reported on tf 2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/d0a9b04b87978907c7c112f7fad16104/untitled580.ipynb)

[2021-04-01 04:42] Saduf2019 commented on #48223
@xueyedamo521
We see that you are using an old version of tensorflow, there is no support for tf 1.x hence please upgrade to 2.x and let us know.

[2021-04-01 04:51] qkqk772 commented on #48224
Thank you, but I have to find out through code execution in Python..

[2021-04-01 05:02] xhae commented on #48224
AFAIK there's no such metadata that you can read and get the quantization type directly, instead you can navigate the weights and observe the data types. Does this make sense to you?

[2021-04-01 05:11] Saduf2019 commented on #48033
@zhaoyun0071
i ran the code shared on tf 2.4.1, tf 2.4.0 and nightly, i do not see any striking differences, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/64831a7dcb16b0eaf3e0c11b9fe40a8b/untitled580.ipynb)

[2021-04-01 05:14] Saduf2019 commented on #48103
@innat
When we try to replicate the code shared i face a different error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/eeba421a301ad30bfe87b5291059b5b6/untitled580.ipynb). If possible share a colab gist with the issue reported.

[2021-04-01 05:16] hamedhpajouh commented on #46194
same issue! with 2.4.1 any one have suggestion?!

[2021-04-01 05:40] innat101 commented on #48103
@Saduf2019, as I mentioned in my post. You forgot to install a non-official efficient net. Add this at the beginning.

[code]

[2021-04-01 05:42] innat101 commented on #48103
If you encounter any issue with this non-official package, then please see the read me at least of it, here https://github.com/qubvel/efficientnet

It's important in case you choose `tf` version (maybe).

[2021-04-01 05:45] innat commented on #48103
@Saduf2019

Install it at the beginning

[code]

If you encounter any issue, then please check the read me of this non-official efnet.  https://github.com/qubvel/efficientnet#examples
or, https://github.com/qubvel/efficientnet#important

[2021-04-01 05:56] Kewenjing1020 opened #48226 "Mobilenet v3 keras model lack a 7x7 avgpool and cannot get reported performance"
Mobilenetv3 keras model is reported as converted from its ckpt model. As I observed its structure, they are inconsistent, as keras model **lacks a 'Avgpool' layer before conv_2 layer**. As a consequence, the released mobilenetv3_large_1.0 model can only achieve top1: 72.7%, 3% lower than ckpt model.

[2021-04-01 06:04] thaink commented on #48068
The problem turn to be the list in -exported_symbols_list is too inclusive. It include all builtin and custom ops definition.
@herbiezhao will the C api work for you?

[2021-04-01 06:21] qkqk772 commented on #48224
Yes, I was wondering if there was any other way than the way you told me. Thank you!

[2021-04-01 06:23] xhae commented on #48224
👍  sorry for the inconvenience.

[2021-04-01 06:23] #48224 closed

[2021-04-01 06:28] MaxxTr commented on #46315
@abattery  @haozha111  any news ? Was it added ?

[2021-04-01 06:34] abattery commented on #46315
Sorry for the late notice. The feature has been landed at HEAD.

[2021-04-01 06:42] truboxl commented on #48001
Can I ask where you set targetsdkversion 30?
There's nothing in https://github.com/tensorflow/tensorflow/search?q=targetsdkversion&type=code

I suspect something got to do with targetsdkversion > 24 behaviour in https://developer.android.com/about/versions/nougat/android-7.0-changes#ndk

[2021-04-01 06:45] axeldavy commented on #48033
If it is indeed the same issue than mine, last working should be tf 2.3, not tf 2.4.0. I tried the 2.5.0-rc0 branch a few days ago, and the issue is still there.

[2021-04-01 06:45] arturdryomov commented on #48001
It’s not about the TensorFlow target SDK. TensorFlow dependencies are used as-is but the client application declares the `S` target SDK. PTAL at the Google issue linked above — it has a sample project.

[2021-04-01 07:00] notnotype commented on #48117
Thank you, I upgrade tensorflow version to 2.5 and resolves the issue.

[2021-04-01 07:10] Saduf2019 commented on #48117
@notnotype
Glad the issue is resolved for you, please move this to closed status.

[2021-04-01 07:12] #48117 closed

[2021-04-01 07:14] xueyedamo521 commented on #48223
output_1 = tf.quantization.fake_quant_with_min_max_vars(0.27, min_var, max_var, num_bits=8, narrow_range=True)
print(output_1 ) #output_1 is 0.3037033

the result is error.
scale = (max_var-min_var)/(255-1) #should be 0.1012346, and float32 can guarantee six significant figures, "6" can not be ensured.
the fake quant result of "0.27" should be "scale*3". Observely, TF is not right with only five s

[2021-04-01 07:24] bgcgh commented on #47794
I provided the complete code defining the model for your investigation of possible model-dependence of the tensorboard problem reported. The program runs well with tensorboard 2.3.1 as I have reported, so there should be no problem with the code or dataset (which I regrettably am unable to distribute). Since I have been forced to downgrade to  tensorboard 2.3.1 as well as to CUDA 11, it is not pos

[2021-04-01 07:28] MaxxTr commented on #46315
@abattery  sorry, I'm not familiar with the "slang" what does it mean "The feature has been landed at HEAD" ?
Do you mean it can be taken with the nightly ?

[2021-04-01 07:35] abattery commented on #46315
Yes, the feature is available at the tf nightly and tf 2.5 release candidates.

[2021-04-01 07:36] malik-anhar commented on #35590
Hi @tucachmo2202 have you done for implementing NMS without SELECT_TF_OPS? I'm facing the issue too. Let me know if you have the solution. Thanks in advance!

[2021-04-01 07:38] WannesBouwen commented on #47862
Hello,

As we are running on an embedded system with a limited amount of memory, we want to avoid all libraries which we do not necessarily need. A performance hit is less of a problem for us.

Kind regards,

Wannes

[2021-04-01 07:39] VladislavAD commented on #4779
Any update on this issue? I'm looking for a way to speed up inference moving pre and post processing of input and output of U-Net into GPU memory using OpenCV with CUDA build + Tensorflow C API. DtoH and HtoD memory operations eat all performance advantage of OpenCV CUDA image processing.

[2021-04-01 07:50] WannesBouwen opened #48227 "Tensorflow-lite: unresolved dependencies during linking"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): arm 64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version: 85c8b2a817f95a3e979ecd1ed95bff1dc1335cff
- Python version:
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from s

[2021-04-01 07:51] MaxxTr commented on #46315
@abattery  thank you. Do I need to do something special to enable it ?

[2021-04-01 07:58] napoleonwar commented on #48156
@ymodak @saikumarchalla Is there anyone can give me some hint?

[2021-04-01 07:59] abattery commented on #46315
Please install the tf-nightly version, convert the TF model with the it and execute the converted model with it.

[2021-04-01 08:22] terryheo commented on #47862
Acknowledged.

BTW, if you're quite limited on memory, we should use TFLite Micro.

[2021-04-01 08:22] #26472 closed

[2021-04-01 08:33] MaxxTr commented on #46315
@abattery  unfortunately I see the same error:

  File "C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\lite\python\interpreter.py", line 833, in invoke
    self._interpreter.Invoke()
RuntimeError: tensorflow/lite/kernels/concatenation.cc:74 t->dims->data[d] != t0->dims->data[d] (400 != 1)Node number 34 (CONCATENATION) failed to prepare.
Node number 3 (WHILE) failed to invoke.
Node number 18

[2021-04-01 08:34] zhaoyun0071 commented on #48033
I mean 2.4.0 and 2.4.1have the same question。
they are different from 2.3.0 and other low version!
you can try 2.3.0,see the history loss and epoch loss

[2021-04-01 08:36] zhaoyun0071 commented on #48033
you can try 2.3.0,see the history loss and epoch loss are same.
but 2.4.0  the history loss and epoch loss are different

[2021-04-01 08:47] abattery commented on #46315
Did you follow the haoliang's suggestion at https://github.com/tensorflow/tensorflow/issues/46315#issuecomment-782914795 ?

[2021-04-01 09:03] abattery commented on #48227
@multiverse-tf could you take a look?

[2021-04-01 09:05] sandhyacs opened #48228 "Centernet Mobilenet Keypoint Model Training on custom datasets issue in Keypoints Scores"
Hi,

TensorFlow : 2.2.0
Python : 3.6
Model: centernet_mobilenet_kpt_fpn

I am trying to train centernet keypoint model on custom datasets. But its keypoints score is very less, if box score, i am getting as 70% then keypoints score i am getting 3%.
Can anyone tell me why it is happening?

[2021-04-01 09:08] israelwei commented on #48212
Another note, I would like to know if this is a possible cause for issues: When I inspect the onnx converted model from my QAT tensorflow model, I can see the following for all `QuantizeLinear` and `DequantizeLinear` nodes: `x_scale` values are always ~0.5039 (`x_zero_point` is 0, as it should be). I would have expected this quantization scale to be different for all layers since this is a learnab

[2021-04-01 09:13] Saduf2019 commented on #48226
@Kewenjing1020
Can you please share the code in support of the issue reported, also if possible share a colab gist with the issue reported.

[2021-04-01 09:19] herbiezhao commented on #48068
I will consider using the C api, but is C++ compilation still possible? Because building the aar package can greatly reduce the size of the library.

[2021-04-01 09:22] #36916 closed

[2021-04-01 09:30] thaink commented on #48068
Do you mean the size of the aar file or the so file inside it? the aar file might have been compressed so it should be smaller.

[2021-04-01 09:34] tanguycdls opened #48229 "Multiple retracing when shapes changes"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: na
- TensorFlow installed from (source or binary): binay pypy
- TensorFlow version (use command below): 2.4.1
- Py

[2021-04-01 09:38] WannesBouwen commented on #47862
Thanks for the suggestion. I'll have a look into TFLite Micro. We are however running on an ARM A53, for which I do not immediately see support in the micro framework.

[2021-04-01 09:58] dmpiergiacomo commented on #36688
Hi, any updates on this? Thank you.

[2021-04-01 10:17] multiverse-tf commented on #48227
@WannesBouwen could you share the CMakeLists.txt you created for your simple C++ program?

Also, does this issue happen w/ the HEAD? We have had multiple CMake-related changes since the commit [85c8b2a](https://github.com/tensorflow/tensorflow/commit/85c8b2a817f95a3e979ecd1ed95bff1dc1335cff).

[2021-04-01 10:39] Saduf2019 commented on #48229
I am able to replicate the issue reported, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/c8bf4652ba79f99a8e8d34497e815ce7/untitled581.ipynb)

[2021-04-01 10:44] cuongvng commented on #48014
For my case, I have to configure the Bazel build process to specify Android SDK and NDK path before running the `bazel build ...` commands.
More detailed https://github.com/cuongvng/TF-Lite-Cpp-API-for-Android

[2021-04-01 10:44] herbiezhao commented on #40680
Did you solve it, I have the same problem.

[2021-04-01 10:49] NEGU93 opened #48230 "Reset/Reinitialize model weights/parameters"
Motivated by [this](https://github.com/keras-team/keras/issues/341) post, I would like to ask for a method like `model.reset_weights()` to get the reset and init the weights again.

[2021-04-01 10:57] terryheo commented on #48014
I guess the problem can be fixed by modifying the following file.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/gpu/cl/BUILD
[code]
flatc_args need to have additional "-I" option to find `serialization_base.fbs` file. Could you try?

[2021-04-01 11:15] kkimdev commented on #42203
Those API only support NHWC today.
- https://github.com/tensorflow/tensorflow/blob/8cc5a3a/tensorflow/core/kernels/spacetodepth_op.cc#L76
- https://github.com/tensorflow/tensorflow/blob/8cc5a3a/tensorflow/core/kernels/depthtospace_op.cc#L61

Adding contribution welcome tag.

[2021-04-01 11:52] lvlanson opened #48232 "Loading multiple Models over different Processes"
I am creating a GUI for handling neural nets using Keras.

I run, save and load models in different processes (multiprocessing.Process). I assumed the global state of tensorflow is being cleaned up after the process is being terminated. This works so far well when running and saving the models in different processes.

Somehow when I load a net and the process terminates, somehow the global variabl

[2021-04-01 12:01] mdanatg commented on #36792
StackOverflow is fine. But if it's a bug and you need to repost it here, it'e best done as a new issue.

[2021-04-01 12:12] raphyphy commented on #45676
Hello, this is also a relevant issue to me. I have a personal rtx 2070 super and each epoch takes around 5s

these are the logs

2021-04-01 20:03:46.712589: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library cudart64_110.dll
2.4.1
2021-04-01 20:03:48.725664: I tensorflow/compiler/jit/xla_cpu_device.cc:41] Not creating XLA devices, tf_xla_enable_xla_

[2021-04-01 12:15] amahendrakar commented on #48220
@rmothukuru,
I was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/55b13a19457068e5b0163f7613f4d12d/48220.ipynb). Thanks!

[2021-04-01 12:23] #28063 closed

[2021-04-01 12:23] #27557 closed

[2021-04-01 13:18] #47930 closed

[2021-04-01 13:33] flamxi commented on #48014
I tried a lot of combination to pass that flag as you mentioned @terryheo but since I am not familiar with flatbuffer bazel macros, I can not find a proper way that should work, what I tried is to update the -I with just the first directory of the repository meaning ```-I //tensorflow, -I //``` but that seems like a syntax error, also tried to find and check this content: ``` "//tensorflow/lite/de

[2021-04-01 13:35] flamxi commented on #48014
@cuongvng thanks for your suggestions, but I already mentioned that when it comes to clone the repo locally I managed to add as a local_repository and than build against it, I am trying to build with tensorflow repo directly cloned from bazel! Thanks

[2021-04-01 13:37] dansuh17 opened #48234 "Broken syntax highlighting on docs that render python notebooks."
tensorflow/docs related.

## URL(s) with the issue:

Code example for `MultiHeadAttention` at:

https://www.tensorflow.org/tutorials/text/transformer?hl=en#multi-head_attention

and code example at:

https://www.tensorflow.org/tutorials/text/image_captioning?hl=en#create_a_tfdata_dataset_for_training

## Description of issue (what needs changing):

### Clear description

I actually wasted some amo

[2021-04-01 13:45] herbiezhao commented on #48068
The size of the aar file is 635KB, and the size of so file in aar is 1384KB. So I think there should be a way to achieve compression.

[2021-04-01 14:00] NandeeshHD commented on #47100
@GF-Huang, have you found a solution to this issue. If so, kindly share your solution here. I'm facing similar issue.

[2021-04-01 14:04] bhack commented on #47816
It happens also when you are not using explicit lambda:
https://github.com/tensorflow/tensorflow/issues/44906#issuecomment-729868988

[2021-04-01 14:40] josefgrunig commented on #23747
Thank you @ValYouW for pointing me in the right direction!
Starting from mobilenetv2_coco_voc_trainval dataset and converting into a tflite model I am getting good results. Also the resulting segmentation masks is no more binary, but somehow smoothed on the edges. Is is due to the depth multiplier?
Thank you again, its the best result I have seen so far on mobile.

[2021-04-01 14:40] talhaanwarch commented on #48205
Please check this
https://colab.research.google.com/drive/16RbTjME6LcGjG7uSOSr5f8KQMXBH65WZ?usp=sharing

Run it with CPU and with GPU

[2021-04-01 14:43] GF-Huang commented on #47100
I forget what's the problem, maybe restart the python kernel will be help.

[2021-04-01 14:51] Saduf2019 commented on #48127
I am able to replicate this issue on yf 2.4 and nightly , please find the [gist here](https://colab.research.google.com/gist/Saduf2019/fc475839fb6be70958d587a665f676c4/untitled580.ipynb)

[2021-04-01 15:00] amahendrakar commented on #48038
@WoutRuyters,
On running the above code, I am facing a different error stating `ValueError: No gradients provided for any variable`.

Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/a2ba4e4690bde13706c6a7d926dc70d5/48038.ipynb#scrollTo=dRebaTQg2v5K). Thanks!

[2021-04-01 15:29] bjkomer opened #48235 "Error when loading trained model with tf.keras.models.load_model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8.0
- CUDA/cuDNN version: 11.0.221 / 8.0.4
- GPU model and memory: RTX 309

[2021-04-01 16:00] thomultee opened #48236 "tensorflow.python.framework.errors_impl.InvalidArgumentError: Specified a list with shape [32,3] from a tensor with shape [2,3] [[node model/lstm/TensorArrayUnstack/TensorListFromTensor (defined at /PycharmProjects/Latestcodeemma/venv/lib/python3.8/site-packages/kerashypetune/kerashypetune.py:206) ]] [Op:__inference_train_function_10478]"
**We are writing a neural network for text analysis. To do this we want to perform a gridsearch for the hyperparameters. However, in our code we get the following error:**

tensorflow.python.framework.errors_impl.InvalidArgumentError:  Specified a list with shape [32,3] from a tensor with shape [2,3]
	 [[node model/lstm/TensorArrayUnstack/TensorListFromTensor (defined at PycharmProjects/venv/lib/p

[2021-04-01 16:07] jvishnuvardhan commented on #48033
I can reproduce the issue. The issue is mainly with `loss` and `sparse_categorical_accuracy` in training only. The validation metrics are matching with the  validation metrics in `history` object but the training metrics are not matching. [Here](https://colab.research.google.com/gist/jvishnuvardhan/83c64c997276e080d5fa11f59d4d33c3/untitled580.ipynb) is a gist for our reference. Thanks!

@zhaoyun00

[2021-04-01 16:32] amahendrakar commented on #47797
@jvishnuvardhan,
I was able to reproduce the issue with [TF v2.4](https://colab.research.google.com/gist/amahendrakar/fa9ed4f606a4ad1f6e0f454df4f0df8d/47797.ipynb#scrollTo=xGopHeBEuWLk) and TF-nightly. Whereas with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/761ea542250be22f05e03b3f95f59f1d/47797-2-3.ipynb), I am facing an error stating `AttributeError: module 'tensorflow._api.v2

[2021-04-01 16:50] areiner222 commented on #46635
I'm relying on map_fn to extract ragged image patches using bounding boxes so I can then produce ragged bounding-box centered feature maps via convolutions. I am encountering the same bug with the gradient step inside a tf.function (I can successfully run outside tf.function). The ragged image patches method is enabling a large speed up with a reduced memory footprint so it would be very useful to

[2021-04-01 16:52] Yu-Hang commented on #47933
@jvishnuvardhan I see. Thanks. Quick follow up questions:

1. Does the nightly version still require generating an intermediate SavedModel before converting to a .tflite model?
2. Are support for EfficientDet models included in the nightly version?

[2021-04-01 16:58] xxl4tomxu98 opened #48237 "The new Apple M1 MLcompute Tensorflow2.4 not compatible with Numpy1.20.1 or 1.18.5"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Apple Macbook M1 air):
- Mobile device (e.g. iPhone

[2021-04-01 17:34] amahendrakar commented on #48031
@shaofengzeng,
While running the given code snippet, I am facing an error stating `TypeError: erosion2d_v2() missing 1 required positional argument: 'dilations'`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/1b76751200662d17959e1d8bbbcd81af/48031.ipynb#scrollTo=FLtmRycjVdym).

In order to expedite the trouble-shooting process, could you please provide the c

[2021-04-01 17:43] haozha111 commented on #46315
Hi,

Since we have landed the support for flex tensorlist ops. Could you try the following:

1. Enable TF-select ops in converter:
 converter.target_spec.supported_ops = [
      tf.lite.OpsSet.TFLITE_BUILTINS, tf.lite.OpsSet.SELECT_TF_OPS
  ]

2. Remove the `fn_output_signature` parameter in `tf.map_fn`. This should allow the converted model to use the flex TensorList ops instead.

[2021-04-01 17:47] DCtheTall opened #48238 "tf.meshgrid throws exception when input tensors have different dtypes"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Reproducible on several OS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: See above
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.1
- Python version: 3.7.10
- Bazel version (if compiling from source): N/A
- GCC/Com

[2021-04-01 18:01] shengpu1126 commented on #45288
Yes that solved it. Thank you!

[2021-04-01 18:01] #45288 closed

[2021-04-01 18:06] rthadur commented on #48236
please check for a similar issue [here](https://stackoverflow.com/questions/64309194/invalidargumenterror-specified-a-list-with-shape-60-9-from-a-tensor-with-shap) , thank you

[2021-04-01 18:40] kkimdev commented on #47019
Ideally this should return infinity.  Currently
[code]
But doesn't seem like a high priority and contributions welcome!

[2021-04-01 18:46] Ebanflo42 opened #48239 "Autograph transformation failure with tensorflow 2.4.1"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.4.1
- Pytho

[2021-04-01 18:55] rshih32 commented on #46194
I ran into this problem when trying to run gradients using the functional keras API on 2.4.1
The main difference I see is that the layer outputs are the wrong type in 2.4.1
The solution for now is to downgrade to 2.3.0

See:
[code]

in 2.3.0:
[code]

in 2.4.1/2.4.0:
[code]

[2021-04-01 19:03] bhack commented on #46972
@dimitraka This is a well know issue. You can subscribe or comment about your experience at https://github.com/tensorflow/build/issues/5

[2021-04-01 19:21] ssanderson commented on #47849
**UPDATE:** I can reproduce the issue with the tensorflow release binaries by building tensorflow from source using the google-provided bazel base image. I'm using the following docker image / build script:

`Dockerfile-tensorflow`

[code]

`build_tensorflow.sh`

[code]

if I try to build a program against the `.so` produced in `libtensorflow.tar.gz`, I get the same errors as the ones described ab

[2021-04-01 19:39] ssanderson commented on #47849
It looks like the root issue might be that the build above uses `gold` as the default linker, which seems to produce a binary that `ld`/`lld` aren't happy with (but `gold` is fine with, unsurprisingly). If I pass `--linkopt="-fuse-ld=ld"` to the `bazel build` invocation, then the resulting binary seems to work as expected.

I'm not quite sure what's causing the bazel build to use gold by default.

[2021-04-01 19:49] EnderWiggin14 commented on #47882
Can I at least get a link to the source code where the amount of padding is calculated?

[2021-04-01 20:03] advaitjain commented on #48155
Thanks for the fix. Created https://github.com/tensorflow/tensorflow/pull/48241 with the path.

Feel free to send a PR as well.

[2021-04-01 20:32] jvishnuvardhan commented on #47933
@Yu-Hang I am not sure whether I understand your question completely.

Ans

(1) You don't need to save (`model.save`) and load (`load_model`) the model for tflite conversion. You can train a keras model and pass that model to `tf-lite-converter`. If you ran a  large model in cluster or high end GPU, then you can save the model, load the model and use `tf.lite.TFLiteConverter.from_keras_model()` to

[2021-04-01 20:35] dbl001 commented on #48130
I have the same issue on Catalina with clang verson 12.0.0
[code]

[2021-04-01 20:55] #47933 closed

[2021-04-01 21:27] o0stsou0o opened #48242 "Ubuntu Debbian to MacOS Terminal Prompt and TF"
Hi,

I have traditionally used TF 2.3.1 on an linux ubuntu debbian where I ran this project through a jupyter notebook.  No GPU was needed to run anything.

I am now working locally on my Mac OS Terminal where I believe I can only conda install TF 2.0.  When I try pip installing an upgrade, I can no longer even import tensorflow.  I get this error importing tensorflow:

File "/Users/blah/anaconda3

[2021-04-01 21:46] jvishnuvardhan commented on #48237
@xxl4tomxu98 As you noticed this is more related to numpy version (>1.20). As mentioned [here](https://github.com/tensorflow/tensorflow/blob/r2.4/tensorflow/tools/pip_package/setup.py#L84), there is a bound on numpy versions supported by TF2.4  ( ~=1.19.2). Currently numpy version should be  >=1.19.2 and  < 1.20.

Downgrading `numpy 1.2x.x` to the versions mentioned above will work without any iss

[2021-04-01 21:46] #48237 closed

[2021-04-01 23:19] prabhat00155 commented on #40680
No, it didn't work for me.

[2021-04-02 00:01] jvishnuvardhan commented on #38287
Looks like this was resolved. Please check the performance of the four cases below. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/ea9832ac0b481990a849790f547ed40f/38287.ipynb). Thanks!

[code]
Performance of graph mode is better than eager model as shown above. Thanks!

[2021-04-02 00:37] terryheo commented on #48014
It worth to provide absolute path to the serialization_base.fbs with "-I" option. (later we could find proper relative path)
FYI, "//" path only works Bazel and flatc_args is directly used by flatbuffer compiler.

[2021-04-02 00:40] advaitjain opened #48251 "Corstone download appears occasionally fail"
Here is one CI run where the corstone download failed unexpectedly:
https://source.cloud.google.com/results/invocations/d8f3e531-377b-4e7a-b7e6-18a039a7eedb/log

[code]

[2021-04-02 01:21] ymodak commented on #48221
Please provide a concise reproducible code example to investigate the issue. Thanks!