[2017-02-07 04:54] raghakot opened #7317 "Tensorboard fails to load with latest install from source."
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-02-07 05:09] D-X-Y commented on #7316
Sorry, it's a stupid question..
I install tensorflow via `sudo pip install tensorflow --upgrade`, which does not support GPU.
It works fine with `sudo pip install tensorflow-gpu --upgrade`.
This issue can be closed.

[2017-02-07 05:09] #7316 closed

[2017-02-07 05:12] yaroslavvb commented on #7257
just launched [TensorFlow Community Wheels](https://github.com/yaroslavvb/tensorflow-community-wheels) for this purpose, fully integrated with github

[2017-02-07 05:14] martinwicke commented on #6342
Could someone check #7318 to see whether the fix works?

[2017-02-07 05:16] martinwicke commented on #6647
Duplicate of #6342. See linked PR for a possible solution.

[2017-02-07 05:16] #6647 closed

[2017-02-07 05:32] lw00245 opened #7319 "can any body write one simple seq2seq model with attention ,the example given by tensorflow.org is too hard to understand!"
can any body write one simple seq2seq model with attention ,the example given by tensorflow.org is too hard to understand!

[2017-02-07 05:33] pengd49 opened #7320 "Tensorflow freezes for a small model in Windows 10"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
--> I have not been able to find any related information. I did post a SO thread (http://stackoverflow.com/questions/41889147/tensorflow-execution-freezes-for-a-small-cnn), and got the suggestion that I may have encountered a bug.

### Environment info
Operating System:
--> Windows 10 home

[2017-02-07 05:38] orkhanbd commented on #7313
Resolved with upgrade to 1.0.0-rc1

[2017-02-07 05:38] #7313 closed

[2017-02-07 05:38] Bruczzz opened #7321 "Tensorflow retrained model compression fails with error: terminate called after throwing an instance of 'std::bad_alloc'   what():  std::bad_alloc Aborted (core dumped)"
I am doing a college project on tensorflow. I have successfully retrained using rerain.py file, to use that model in android program. I was trying to compress the model using commands in the following
link: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md#shrinking-file-size

But it is getting terminated throwing the below error:
ERROR:   terminate c

[2017-02-07 05:39] guschmue commented on #7258
might not be obvious: on top of building a such a dll, another thing is needed - the code in the dll would want to call say the c api that is in tensorflow.dll. On windows such public api's would need to be declared with dllexport so a new dll can link against tensorflow.dll and resolve references to the public api (for example the c api). Loading such a dll via tf.load_library() should kind of wo

[2017-02-07 06:23] mahatosourav91 commented on #7281
Even if there is any suitable example / implementation of LDA using tensorflow , it would be very helpful

[2017-02-07 06:41] gunan commented on #7286
I assume by sdist you assume source distribution to be built during `pip install`?
That might be tricky, as we rely on bazel. Bazel is quite heavy, and has limited os support, so it still wont work on many OSs.

[2017-02-07 06:47] danchokobo commented on #7285
@girving r0.12

[2017-02-07 07:23] HikvIneH commented on #25
is it already support GPU compute 3.0?

[2017-02-07 07:26] carltonwang commented on #6599
Any idea about this problem?

[2017-02-07 07:26] martinwicke commented on #25
yes.

[2017-02-07 07:33] HikvIneH commented on #25
@martinwicke o thank you so much, I've struggled by creating new problem that wasnt there.

[2017-02-07 07:45] HikvIneH commented on #25
@martinwicke do I still have to build it from source, or just directly pip install it?

[2017-02-07 07:51] danchokobo opened #7322 "How to uninstall tensorflow?"
Help I want to reinstall tensorflow, from GPU to CPU, because, just installed tensorflow not work correctly.
I test my installation, from documentation of tensorflow.org,
then it gives back that error:

Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: module 'tensorflow' has no attribute

[2017-02-07 07:58] IvanBudnikov commented on #7260
ldd returns equal list of links:
        linux-vdso.so.1 (0x00007ffcaad4c000)
	libstdc++.so.6 => /usr/lib/gcc/x86_64-pc-linux-gnu/4.9.4/libstdc++.so.6 (0x00007f9cf9533000)
	libm.so.6 => /lib64/libm.so.6 (0x00007f9cf9234000)
	libgcc_s.so.1 => /usr/lib/gcc/x86_64-pc-linux-gnu/4.9.4/libgcc_s.so.1 (0x00007f9cf901d000)
	libc.so.6 => /lib64/libc.so.6 (0x00007f9cf8c81000)
	/lib64/ld-linux-x86-64.so.2 (0x

[2017-02-07 08:00] bc-lee opened #7323 "convert_variables_to_constants doesn't preserve output shape"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-02-07 08:32] #7323 closed

[2017-02-07 09:12] sjperkins commented on #7166
@dustinvtran See [here](https://github.com/ska-sa/montblanc/blob/rime-tf/setup.py) for an example which detects a CUDA installation and then selects either tensorflow/tensorflow-gpu depending on CUDA availability.

[2017-02-07 09:29] Randl opened #7324 "Auto-Configuration Error: Invalid compute capability: "6.0""
[code]
Works with default compute capability.
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
https://github.com/tensorflow/tensorflow/issues/4105
### Environment info
Operating System:
Ubuntu 16.04
Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
CUDA 8.0
[code]

If installed from so

[2017-02-07 09:34] haow85 opened #7326 "Can't find rt.jar when installing tensorflow on Mac OS"
Hi,

I downloaded and installed jdk 8 on my mac os. But there was no classes.jar or rt.jar shipped with the installation. When I tried to install tensorflow afterwards, I got a could not find rt.jar error. How should I fix this ?

[2017-02-07 09:48] riless commented on #7288
I'd like to go with the _dummy libpthread.so target_ solution.

I don't know how to do this. I've tried to add a target like this.

[code]

And added it to deps of libfoo.so

[code]

but I still have the `cannot find -lpthread` error.

[2017-02-07 10:18] benwu232 commented on #7284
Any link so I can have a try?

Thanks!

[2017-02-07 10:34] bulatyauheni commented on #6385
@andrewharp or @AndreyRub Could you please provide some steps for such goal:
In order to build simple example on Windows with retrained model, I needed to:
1) Install chocolatey
2) Install bazel
3) ....

I am really stuck with it. Thank you.

[2017-02-07 11:13] edgarriba commented on #7160
Hi guys, sorry for this late reply. @rasbt you were right I finally found that opencv resizes routine has a random component. So, after setting all the random seeds the results in different versions are almost the same.

@yaroslavvb Besides, and not sure if it's the correct place to ask, but as I mentioned above we have been struggling to replicate some results from a paper we have using triplets

[2017-02-07 11:40] JingY0604 opened #7327 "CondaHTTPError: HTTP Error when installing tensorflow on windows by anaconda"
(D:\Program Files (x86)\Anaconda2) C:\XX\XXXXX>conda install -c https://
api.anaconda.org/conda-forge tensorflow
Fetching package metadata ....Could not connect to https://repo.continuum.io/pkg
s/free/noarch/
Could not connect to https://repo.continuum.io/pkgs/pro/win-64/
Could not connect to https://repo.continuum.io/pkgs/free/win-64/
Could not connect to https://repo.continuum.io/pkgs/pro/noarch

[2017-02-07 12:33] jeffheaton commented on #6849
I tested this in 1.0.0-rc1 and has the problem as well.

[2017-02-07 12:51] DjangoPeng opened #7328 "Add network address check in clusterSpec"
Today, I got an error when starting a distributed TensorFlow computation. I debugged for hours and finally found the problem is that TensorFlow doesn't have network address check in `ClusterSpec` method. And it endlessly connect the illegal network address `100.xxx.xxx.232.:2223`, because there is a redundant `.` after `232`.

[2017-02-07 12:54] DjangoPeng commented on #7328
I think I can create a PR to optimize the legal check of network address.

[2017-02-07 13:29] inflation commented on #7284
The metagraph importing is working as far as I know. You need to give more information in the SO question. @benwu232

[2017-02-07 14:16] iBadawi opened #7329 "404 error when installing Tensorflow on Python for Raspberry pi"
I want to install Tensorflow on Python for Raspberry Pi and followed the steps in this page:
https://github.com/samjabrahams/tensorflow-on-raspberry-pi

But when I apply the command:
wget https://github.com/samjabrahams/tensorflow-on-raspberry-pi/releases/download/v0.12.1/tensorflow-0.12.1-cp27-none-linux_armv7l.whl

I get Error 404 - not found ..

How to solve it?

NOTE: Only file GitHub issues f

[2017-02-07 14:21] #7329 closed

[2017-02-07 14:31] sanchit-agrawal commented on #833
**Workaround:**
I had this issue when I wanted to use batch_norm right after a conv2d_transpose. The conv2d_transpose loses all shape information about the output tensor. batch_norm requires the number of channels to be statically known. I found a workaround by using tf.reshape() right after the conv2d_transpose. This regains the static shape information.

[2017-02-07 15:03] crjensen21 commented on #1419
Actually, @jkiske , I may have spoken too soon. My reader op works in the tensorflow environment I built myself, but when I test it in the environment where I used the binary install ('pip install tensorflow-gpu'), I get a segmentation fault when I call tf.load_op_library. I would like to distribute this op to others with the binary install, so this is annoying. But it might also be something for

[2017-02-07 15:13] girving commented on #7224
@hycis There are at least two problems with your suggestion already: you're off if the noise shape is lower rank, and your solution can't handle inputs that are already tensors.  There's also the larger question that I don't think this trick is standard numpy, and I'm leery of settling on an API that isn't standardized.

[2017-02-07 15:16] girving commented on #7285
How are you installing TensorFlow?  Somehow you've managed to get a TF distribution with nothing in it.

[2017-02-07 15:18] girving commented on #7260
@keveman Is it expected that the op library doesn't link against TensorFlow?

[2017-02-07 15:23] girving commented on #7328
That sounds reasonable to me.  @mrry Is that the right place to check?

[2017-02-07 15:24] girving commented on #7327
This seems to be an issue with Anaconda, not TensorFlow.

[2017-02-07 15:24] #7327 closed

[2017-02-07 15:25] girving commented on #7326
Since TensorFlow doesn't use any Java, are you referring to a problem with Bazel?  You could also the Bazel folk, but I expect the problem is better suited for StackOverflow.  Wherever you ask it, please post complete error messages.

[2017-02-07 15:25] #7326 closed

[2017-02-07 15:26] girving commented on #7324
@zheng-xq Should 6 be supported?

[2017-02-07 15:30] girving commented on #7322
@gunan Heads up: this is the second recent bug I've seen where someone somehow got an empty installation of TensorFlow (no `tf.constant` here, no `tf.Variable` for https://github.com/tensorflow/tensorflow/issues/7285).  This one is anaconda; not sure about the other one yet.

@danchokobo We don't support Anaconda, so if you installed it through that you should look at Anaconda docs to know how to

[2017-02-07 15:31] girving commented on #7321
It sounds like you ran out of memory.  However, it's impossible for us to help with the level of detail you given.  For example, what command did you run that ran out of memory?

[2017-02-07 15:33] girving commented on #7320
Can you get us a stack trace from where it freezes?  This isn't enough information to guess at a cause.  A Python stack trace would be a starting point; just hit ctrl-c or whatever the windows equivalent is.

[2017-02-07 15:34] girving commented on #7319
Questions about the model should be asked on StackOverflow.

[2017-02-07 15:34] #7319 closed

[2017-02-07 15:38] girving commented on #7317
@dandelionmane Suggestions?  That doesn't look like the best URL.

[2017-02-07 15:40] girving commented on #7312
What would the extra worker use for compute?

[2017-02-07 15:41] girving commented on #7306
@mrry Do we support Windows Server 2012/NTFS?

[2017-02-07 15:42] girving commented on #7304
@caisq Preferences?

[2017-02-07 15:44] girving commented on #7302
@dandelionmane Can you comment?

[2017-02-07 15:45] girving commented on #7295
Thanks @yaroslavvb!

[2017-02-07 15:45] #7295 closed

[2017-02-07 15:45] #7294 closed

[2017-02-07 15:46] girving commented on #7293
This question would be better asked on StackOverflow.  Github issues are for bug reports and feature requests.

[2017-02-07 15:48] josh11b commented on #7314
It may have an unfortunate name, but exists to provide an alternative to using a Reader in the case when all your data is in memory.  Enqueuing its output would just add overhead in its designed use case (see https://www.tensorflow.org/how_tos/reading_data/#preloaded_data ).  If you really need the output of this in a queue, you can create a queue, enqueue the output of slice_input_producer, and a

[2017-02-07 15:49] caisq commented on #7304
@thesuperzapper @girving I agree that pandas is a frequently used package for TF Docker image users. According to my analysis, this leads to an increase in the docker image size by an modest 18 MB. So I will approve this PR. Thank you for sending the PR.

[2017-02-07 15:54] girving commented on #7292
@mrry Want this lovely Windows GPU issue?

[2017-02-07 15:55] girving commented on #7300
The link you posted is broken.

[2017-02-07 15:59] girving commented on #7311
@ebrevdo I'm suspicious that this is a TFRecord problem, since the sizes don't approach INT_MAX.  The next likely candidate is the example parsing code.  Thoughts?

[2017-02-07 16:02] #7304 closed

[2017-02-07 16:03] PierreAndreNoel commented on #7300
Sorry. Please use https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/api_docs/python/framework.md then scroll down to the end of tf.Graph.name_scope .

[2017-02-07 16:11] jonasrauber commented on #7311
I have the same issue when writing large float lists to the tfrecords file. 64 MB seems to be the limit.

[2017-02-07 16:11] girving commented on #7300
@mrry Looks like you changed the documention in cl/126447618 to the rules are the

[2017-02-07 16:15] girving commented on #7311
@jonasrauber Ah, right.  Protobufs are limited to 64 MB outside of Google for some unfathomable reason.  @martinwicke Was there a hack to increase this?

[2017-02-07 16:19] flaviostutz commented on #491
+1 on this!

[2017-02-07 16:25] jonasrauber commented on #5676
I have the same problem. Using the other protobuf library doesn't help.

[2017-02-07 16:27] jonasrauber commented on #7311
Using the other protobuf library as mentioned here doesn't help: https://github.com/tensorflow/tensorflow/issues/5676

[2017-02-07 16:29] pengd49 commented on #7320
@girving Actually the ctrl-c doesn't work in this case: the console/execution simply stays frozen. I had to forcibly close the console or kill the process to terminate the execution.

Is there another good way to gather more info?

[2017-02-07 16:33] girving commented on #7320
The ideal would be to run it through a debugger.  You could also try adding print statements until you localize it, but it'll be hard to get below the Python level with those.

@mrry Do you have suggestions for Windows debugging?

[2017-02-07 16:40] andrewharp commented on #6385
@bulatyauheni Bazel does not support Android on Windows yet. You might try the [cmake build](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/android/cmake), but easiest thing to do if you just want to plug something into your Android Studio project is to grab the pre-built libraries referenced above.

[2017-02-07 16:43] mrry commented on #7292
Not without much more information, e.g. including what other logs are printed. If I had to guess, I'd say the problem is an incompatible version of the cuBLAS DLL in the `%PATH%`. The logs should contain additional information about what DLL was loaded.

[2017-02-07 16:44] andrewharp commented on #7288
@riless See https://github.com/tensorflow/tensorflow/commit/cd53f3c3302c9312c1840389a9988a879b8b9dd5#diff-06b90d704990e9b4f5adadb18c837b64

[2017-02-07 16:49] yaroslavvb commented on #6599
@carltonwang can you isolate your problem a bit more? IE, does it happen with latest version? Does it happen with tcmalloc? Can you run it with memory profiler and figure out who allocates all the extra memory?

[2017-02-07 16:52] yaroslavvb commented on #7160
@edgarriba there's no magic bullet for matching performance of two frameworks unfortunately. Last time I tried to match Torch's l-BFGS in TensorFlow, I ended up saving results after each operation in both Torch and in TensorFlow, and comparing them numerically one-by-one until I found the difference. See [SaveTensor1D](https://github.com/yaroslavvb/lbfgs/blob/master/mnist_sgd.lua#L91) and acompany

[2017-02-07 16:53] yaroslavvb commented on #7160
I'll close it for now since this doesn't seem like a bug in TensorFlow

[2017-02-07 16:58] mrry commented on #7306
I doubt the issue is related to a specific release of Windows, but it could be a bug in the `file_io.py` library, which AFAIK doesn't distinguish between text and binary files (modes "r" versus "rb"), and I think this can invalidate file length checks.

@rohan100jain Can you take a look at this?
@mawah Can you share a minimal text file that reproduces this problem on Windows?

[2017-02-07 17:01] skaarthik commented on #7312
I am not sure what you mean by "extra worker". I am assuming that I can use any number of workers to run this example. I tried running it with 2 workers each with 1 GPU and got this error. Is that not a valid setup to run mnist_replica.py?

[2017-02-07 17:04] mrry commented on #7328
The ClusterSpec class might be used with many different naming schemes, so the appropriate place to put the validation is in `grpc_server_lib.cc` around L130.

[2017-02-07 17:11] girving commented on #7312
I'm not familiar with this code, but I'm assuming that check is because it's inefficient to use more workers than GPUs, because each worker uses one GPU for compute.  Each worker does some compute, and in GPU mode this compute takes place on a GPU.

[2017-02-07 17:21] skaarthik commented on #7312
In my case, I would like to use 2 GPU. However the workers I have in Cloud have only 1 GPU each. So, I had to use 2 workers to employ 2 GPUs for my job. I understand that getting a bigger VM with more GPU is more efficient and would not result in this error but the configuration I am using sounds like a valid one and I find this error unnecessarily restrictive.

[2017-02-07 17:29] girving commented on #7312
@skaarthik Ah, sorry for my confusion.  @mrry Does this check look wrong to you?  I tried finding who added it in the history, but failed.

[2017-02-07 17:38] mrry commented on #7312
It looks wrong to me, but I think it might have a weird sense where it's used for multi-GPU in a single machine, but not multi-machine multi-GPU. @caisq wrote that code, so he can confirm.

[2017-02-07 17:42] allenlavoie commented on #7308
Thank you for the report! Was updating that tutorial anyway. I'll probably just take that bit out of the comment unless you have an objection.

[2017-02-07 18:02] jkiske commented on #1419
@crjensen21 I fixed the segfault by modifying the build file for reader_base. It no longer pulls in the entire framework, which I think is better, overall.

This still does not fix the issue with `disallowed_deps` because we still depend on core

[code]

[2017-02-07 18:30] Montmorency commented on #7268
Thanks for response!
Bazel
[code]
Distro
[code]
Update:
I had a closer look and started using a more recent compiler. The NFS is not an issue. Closer inspection of the output pointed to failure to do with JEMALLOC_THP and some undefined variable(MADV_NOHUGEPAGE). I think the cluster has an older linux kernel. I manually removed these flags from the jemalloc/BUILD file and compilation completed wit

[2017-02-07 18:30] edgarriba commented on #7160
@yaroslavvb sure I'll try. Thanks!

[2017-02-07 18:30] #7160 closed

[2017-02-07 18:35] vincentvanhoucke commented on #7283
Looks like the current tf Docker image is 1.12.1, which doesn't have the latest API changes which have been incorporated in the assignments already. I'm going to wait until a newer one is created.

[2017-02-07 18:37] gaika commented on #7308
Another comment is puzzling for a novice that wants to know more:
[code]
Is there some tutorial or a more specific reference how do it better?

[2017-02-07 19:07] mawah commented on #7306
Sure thing @mrry -- the following generates a text file and shows the error thrown:
[code]

[2017-02-07 19:11] moshelooks commented on #2237
FYI we just released [TensorFlow Fold](github.com/tensorflow/fold/). [This notebook](https://github.com/tensorflow/fold/blob/master/tensorflow_fold/g3doc/sentiment.ipynb) shows how to implement a recursive neural network.

[2017-02-07 19:12] aselle commented on #7214
I have a PR out to add it into README.md. Thanks for your contribution.
-A

On Sat, Feb 4, 2017 at 8:58 AM Chris <notifications@github.com> wrote:

[2017-02-07 19:29] RobRomijnders commented on #2237
Looks good. So this model assumes we know the tree a priori, doesn't it?

So the input is (tree,words) output is (sentiment).

[2017-02-07 19:32] RobRomijnders commented on #2237
Looks good. So this implementation assumes that the tree is known a-priori, doesn't it?
So it maps (embeddings, tree) to (sentiment).

Would it also be able to map (embeddings) to (tree,sentiment)?

[2017-02-07 19:39] carlorosati opened #7336 "Docs don't explain how to add the optimization flags for avx, sse instruction sets"
After installing tensorflow from source, I saw the following warnings.

[code]

The current tensorflow docs mention adding `-march=native` to configure but don't explain how. I have found by inspecting the configure script you can add it with `--copt=-march=native`.

Can someone explicitly state this in the docs?

[2017-02-07 19:56] carlorosati commented on #7336
master branch addresses this by asking which optimization flags to use in configure.

[2017-02-07 19:56] #7336 closed

[2017-02-07 20:12] yaroslavvb commented on #1419
cc @vrv - this is another place where `disallowed_ops` for user_op are blocking needed dependencies

[2017-02-07 20:21] moshelooks commented on #2237
Great question. You're right, this example does assume that the tree structure is part of the input. The particular model in the Socher paper that generates trees can be implemented with Fold, because the shape of the computation graph is a function of the input data (I'm assuming here that the terminals and adjacency matrix are provided as inputs to the model).

However Fold in its current form w

[2017-02-07 20:31] jhseu commented on #7268
Ah yeah, that kernel is really old (from 2009!). I'm not sure we should try to support jemalloc with that kernel when there's a reasonable workaround.

The double free issue is unrelated because it happens even when disabling jemalloc (from your other comment on #6968). Also, it's in code that's unaffected by jemalloc. Looking at the stack trace, it's crashing in pthread_join in deallocating threa

[2017-02-07 20:31] #7268 closed

[2017-02-07 20:37] jhseu commented on #7268
I haven't tested, but some searching indicates that jemalloc should build as long as the Linux kernel version is >= 2.6.38, otherwise it needs to be disabled.

[2017-02-07 20:53] girving commented on #7322
Ah, didn't notice you were the same person from https://github.com/tensorflow/tensorflow/issues/7285.  I believe you installed through Anaconda, so you should look at the Anaconda docs for how to uninstall.

[2017-02-07 20:53] #7322 closed

[2017-02-07 21:00] jonasrauber commented on #6809
Bad news, 1.0.0rc1 and the nightlies again require SSE4.1. @gunan Can you please reopen the issue.

[2017-02-07 21:02] cjfpainter commented on #1501
Hi there,Had similar trying to get PyCuda going, and took a suggestion from elsewhere to be careful about paths; I use Ubuntu, and this sort of did the trickexport LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/usr/local/cuda/lib64"export CUDA_HOME=/usr/local/cudain bashrcI was using Nsight to compile, and forgot that it uses internal paths Hope that helps!-----chemelnucfin <notifications@github.com> wrote: -

[2017-02-07 21:03] gunan commented on #7285
I remember things like this happening in windows before.
What operating system are you using?
What command did you use to install?

[2017-02-07 21:19] phaniparsa opened #7341 "pywrap_tensorflow.TF_GetCode(status)) tensorflow.python.framework.errors_impl.InvalidArgumentError: Shape in shape_and_slice spec does not match the shape in the save file: [10,5], save file shape: [10,3]"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-02-07 21:32] allenlavoie commented on #7308
Interesting question. I'm guessing it involves partitioning the space to avoid iterating in the parts of the image which have provably diverged (imaginary part greater than 2). The Wikipedia article is actually quite good there.

Maybe we could do some sort of SparseTensor followup which gets a speedup.

[2017-02-07 21:40] phaniparsa commented on #7341
Tensorflow version: 0.12.1
Code:
IRIS_TRAINING = "C:/Stocks/tensorflow/tf_trainData.csv"
IRIS_TEST = "C:/Stocks/tensorflow/tf_testData.csv"

# Load datasets.
training_set = tf.contrib.learn.datasets.base.load_csv_with_header(
    filename=IRIS_TRAINING,
    target_dtype=np.int,
    features_dtype=np.float32)
test_set = tf.contrib.learn.datasets.base.load_csv_with_header(
    filename=IRIS_TEST,

[2017-02-07 22:29] juanprietob commented on #394
I ran into this issue recently. I upgraded my nvidia-driver to version 375.26 and docker to version Docker version 1.13.0.
When training a network I would get the

`cuInit: CUDA_ERROR_UNKNOWN`

The problem here is that cuda fails to initiate the 'shared GPU context'.
For some reason, the 'nvidia-cuda-mps-control' service is not active after the upgrade. I need to investigate more.

However, try ru

[2017-02-07 22:56] gunan commented on #3527
Sorry for the delay, my inbox is going crazy these days.
Yes, you will have the machine maintained by you, and I will provide you instructions to setup the machine for tensorflow builds. The build results will be visible through ci.tensorflow.org. You will have access to all build logs through ci.tensorflow.org.
I can even set you up with access to start and stop the specific build for s390x.

[2017-02-07 23:12] mrry commented on #7300
I'm submitting a fix for the broken docstring in `tf.Graph.name_scope()`.

The bad formatting between `tf.Graph.name_scope()` and the paragraph describing collections is (I believe) a function of the doc generator, which @josh11b touched last and will be best placed to fix.

I don't know what the problem is about having `tf.Graph.add_to_collection()` and `tf.Graph.add_to_collections()`, other than

[2017-02-07 23:17] CryKey3 commented on #6999
Hi gunan had a go at building from source as per
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/README.md

Just don't have the time to sort out all of the dependencies, ie SWIGWIN-3.0.12 not 3.0.10 etc..
Could you please let me know when Python 3.6 support wheel for Windows 10 is updated.
Will wait until then.
Thanks in advance.

[2017-02-07 23:22] mrry commented on #7320
I've mainly used Visual Studio for debugging on Windows. The free Community edition should be able to attach to your frozen process and gather a stack trace.

[2017-02-07 23:41] wrsaunde opened #7344 "Documentation for tf.contrib.layers.stack replaced by documentation for tf.stack"
Documentation for tf.contrib.layers.stack appears to be replaced by documentation for tf.stack, see
[https://www.tensorflow.org/api_docs/python/contrib.layers/higher_level_ops_for_building_neural_network_layers_#stack](https://www.tensorflow.org/api_docs/python/contrib.layers/higher_level_ops_for_building_neural_network_layers_#stack)

[2017-02-08 00:43] DjangoPeng commented on #7328
@mrry ok, I'd like to work on it today.

[2017-02-08 00:58] gunan commented on #6809
I just verified that somehow we have some sse 4.1 instructions in the disassembled code.
But we are not sure how it crept back in.
Will do some debugging in our build scripts.

[2017-02-08 01:24] yifeif commented on #6533
'tensorflow-gpu' for python 3.6 should be now available for 0.12.1. @EntilZha

[2017-02-08 01:29] gunan commented on #6809
Found the problem. It was bad, because when you are building from sources on any machine it was enforcing `-msse4.1`. I am hoping to get fixed binaries everywhere by tomorrow.

[2017-02-08 01:35] #7308 closed

[2017-02-08 04:32] danchokobo commented on #7285
@gunan  @girving  thanks guys, I solved my problem by reinstalling using by pip install tensorflow )
I use OSX

[2017-02-08 04:52] snnn opened #7352 "Tensorboard ImportError: No module named 'tensorflow.tensorboard.plugins.debugger'"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-02-08 06:09] nikashitsa commented on #5867
Yes, it would be nice if the `optimize_for_inference.py` script did this automatically.
My current manual solution https://dato.ml/drop-dropout-from-frozen-model/

[2017-02-08 07:09] fesun opened #7353 "Session run timeout causes memory leak and saving stuck"
I am using distributed tensorflow, one of my machines was something wrong and caused almost all session run timeout, eventually memory reached 80G and been killed. This also caused worker0 process failed to save model, saver.save() stuck forever.

I am using 0.12.1 windows build. I searched and nobody ever reported issues like this. Any idea and advice to confirm and fix it?

[2017-02-08 07:26] ankeshanand opened #7354 "dynamic_rnn_decoder doesn't have an initial_state argument"
The `rnn_decoder` function used to have a `initial_state` argument earlier, which was useful for custom cell state initializations.

However, in the new API, the `dynamic_rnn_decoder` method doesn't have this argument. Is there any other to initialize cell state in this case?

[2017-02-08 07:37] benwu232 commented on #7284
I wrote two examples
[tf_save.py](https://gist.github.com/benwu232/6b90d6571cc19c5ebb5294919d9f677d) and [tf_restore.py](https://gist.github.com/benwu232/73d95d930c5e1f1555acc91de2a27bf8).

In tf_save.py, collection is used to save the useful variables. And in tf_restore.py, it is used to restore the useful varibales, such as inputs, outputs, etc.

Conclusion is the apis are right, but you need to

[2017-02-08 07:43] sjperkins commented on #7286
https://github.com/tensorflow/tensorflow/issues/6540 may be relevant

[2017-02-08 08:27] elbaro opened #7355 "Add QueueBase.is_closed()"
Can we add `bool QueueBase.is_closed()` or `bool QueueBase.is_opened()`?
It will be mainly for debugging purposes.

[2017-02-08 09:01] RobRomijnders commented on #2237
@moshelooks strong answer. thanks for the info

[2017-02-08 09:27] pengd49 commented on #7320
I have stepped through my code in the IDLE debugger and gotten the following stack trace:

'__main__'.<module>(), line 87:_, l1, l2, predictions = session.run([optimizer, loss, loss_reg, train_prediction], feed_dict=feed_dict)
'tensorflow.python.client.session'.run(), line 766: run_metadata_ptr)
'tensorflow.python.client.session'._run(), line 964: feed_dict_string, options, run_metadata)
'tensorfl

[2017-02-08 09:47] zakizhou commented on #6996
@ebrevdo is there any news?

[2017-02-08 11:00] Julian commented on #7286
#6540 appears mostly to be about eggs, which yeah I don't think tensorflow should have.

@gunan I'm still trying to understand tensorflow's logistics (I'm mostly focused on directly hitting #252 but I've certainly managed to build it via bazel by now) but my first assumption would have been that an sdist would have invoked the requisite bazel command to build itself (under the assumption that baze

[2017-02-08 11:13] Julian opened #7356 "Potential UnboundLocalError in error-handling context manager"
I'm working on unrelated things while this came up, and it's possibly unlikely to happen in real development, but just to track it in case someone cares,

https://github.com/tensorflow/tensorflow/blob/5e5dc97dd3523509ce5f536d7be5122d016fc6b5/tensorflow/python/framework/errors_impl.py#L471

that is an `UnboundLocalError` if it was line 463 that raised there (i.e. if TF_NewStatus failed entirely).

[2017-02-08 11:44] ikhlestov commented on #6996
Hi all
Also I'd like to note that [seq2seq tutorial](https://www.tensorflow.org/tutorials/seq2seq/) reference to some files like `models/rnn/translate/seq2seq_model.py` that does not exists now in the repo. There no any `models` folder at all. I think links should be pointed to outer repo *tensorflow/models*, to [this folder](https://github.com/tensorflow/models/tree/master/tutorials/rnn/translate

[2017-02-08 12:40] mathfinder opened #7357 "there is a error when i run 'bazel build --config opt //tensorflow/tools/pip_package:build_pip_package'"
INFO: Found 1 target...
ERROR: /home/ben/.cache/bazel/_bazel_ben/a552231fe7b7da49217bcb6530531abd/external/protobuf/BUILD:73:1: C++ compilation of rule '@protobuf//:protobuf_lite' failed: gcc failed: error executing command /usr/bin/gcc -U_FORTIFY_SOURCE -fstack-protector -Wall -B/usr/bin -B/usr/bin -Wunused-but-set-parameter -Wno-free-nonheap-object -fno-omit-frame-pointer -g0 -O2 '-D_FORTIFY_SOU

[2017-02-08 12:48] OLEGator30 opened #7358 "name 'DATA_CFG' is not defined, Extension 'tensorflow/tensorflow.bzl' has errors"
Hi!

I was following the [Nvidia instruction](http://www.nvidia.com/object/gpu-accelerated-applications-tensorflow-installation.html) on how to install tensorflow with CUDA/cuDNN when I faced with the next problem (step 5, "call bazel to build the TensorFlow pip package"):
[code]
Could you suggest something to overcome this issue?

Additional information:
[code]

[2017-02-08 13:23] buptjz commented on #5244
hello,does Estimator has this feature yet? @drpngx

[2017-02-08 14:02] harshsp31 commented on #6668
How did you update that submodule? @bgrayburn

[2017-02-08 14:08] riless commented on #7288
@andrewharp  it works now, thank you.

I'll still go with this solution as I want boringssl to be downloaded on build.

[2017-02-08 14:08] #7288 closed

[2017-02-08 15:07] girving commented on #7284
@benwu232 For future reference, it would probably have helped others more if you'd asked and then asked this question on StackOverflow.

[2017-02-08 15:09] girving commented on #2237
I'm closing to this bug as fixed for now given Fold.  Further requests for fold features should be filed at https://github.com/tensorflow/fold.

[2017-02-08 15:09] #2237 closed

[2017-02-08 15:10] girving commented on #7320
@pengd49 Yes, unfortunately `TF_Run` is where everything happens, so it isn't specific enough yet.

[2017-02-08 15:16] girving commented on #7358
What version of TensorFlow are you using?

[2017-02-08 15:17] girving commented on #7357
Do you have cuda installed?  What version?  What planform are you on, and what version of TensorFlow do you have?

[2017-02-08 15:21] girving commented on #7356
Nice catch, thank you!  I'll fix, unless you feel like submitting a PR.

[2017-02-08 15:24] cancan101 opened #7359 "resize_image_with_crop_or_pad should work with batch of images"
This is a repost of https://github.com/tensorflow/tensorflow/issues/2284 [per comment](https://github.com/tensorflow/tensorflow/issues/2284#issuecomment-277339057) from @mrry (CC @ziky90).

`resize_image_with_crop_or_pad` should be modified to take either a single image or a batch of images. Right now the signature of the function specifies:
[code]

For a reference of what the api should look like

[2017-02-08 15:24] girving commented on #7355
@josh11b Seems reasonable to me.  Objections?  It looks like it requires another C++ op.

[2017-02-08 15:27] dvader9 commented on #4589
Any update?

[2017-02-08 15:27] mathfinder commented on #7357
i have installed cuda7.5 and the latest tensorflow on Ubuntu 15.04.i install tensorflow from sourse and set cuda version 7.5.but it didn't work when import tensorflow in python script.

发自我的 iPhone

[2017-02-08 15:29] OLEGator30 commented on #7358
As I mention above: master 70de76e696c21da617fd2e6435cf7fedab220db8

[2017-02-08 15:30] girving commented on #7353
I don't think we'll be able to debug this with the information provided.  Can you reproduce the problem?  It may be worth checking if TensorFlow 1.0 solves it for you.

[2017-02-08 15:31] girving commented on #7352
@snnn What version of Tesnorflow are you using?

@dandelionmane Seen anything like this?

[2017-02-08 15:32] OLEGator30 commented on #7358
Sorry, I've closed the issue accidentally.

More precisely, tensorflow was cloned this way:
[code]

[2017-02-08 15:39] girving commented on #7358
@OLEGator30 That commit is from July.  Please try a newer version.

[2017-02-08 15:40] girving commented on #7357
Try running bazel with `--subcommands` to see the whole gcc command that is failing.

[2017-02-08 15:45] girving commented on #7359
@shlens Can you comment?  Ages ago we stripped most of these image preprocessing ops down to 3-D only; what do you think about people raising them back up again?

@cancan101 The motivation for 3-D only is that image processing pipelines that take images of different sizes have to handle separate images as separate tensors anyways, at least until after the resizing step happens.  And this op is the

[2017-02-08 15:48] girving commented on #7354
@ebrevdo Where did the initial state go?  It's not obvious to me either from the code.

[2017-02-08 15:48] girving commented on #7344
@josh11b Did you have a docs rewrite planned?

[2017-02-08 15:49] cancan101 commented on #7359
@girving Where I am using this, and likely others as well (this was the same use case that Lasagne handles) is in the NN portion graph itself when doing an upsample. I want to upsample and then concatenate across channels but I need to take a center crop to make sure spatial dimensionality  matches.

[2017-02-08 15:50] girving commented on #7341
Is sounds like you saved a tensor with one shape and are trying to read it back in with another.  The shapes have to match when reading from checkpoints.

[2017-02-08 15:50] #7341 closed

[2017-02-08 15:56] girving commented on #7359
@cancan101 Okay, I think fixing this is quite reasonable.  However, if it's fixed it should work for any rank >= 3.  This shouldn't be much more complicated than doing it for just 3D and 4D, since the higher ranks all mean map.

[2017-02-08 16:07] shlens commented on #7359
@girving I think adding support for 4D sounds reasonable -- especially if it leads to consistency in the API across image resizing functions.

[2017-02-08 16:11] girving commented on #7359
@cancan101 Great, we're all in agreement that this is a good change.  Would you be interested in submitting a PR?

[2017-02-08 16:51] PhilJd opened #7362 "Clean up SegmentReduction Ops"
The segment reduction ops are currently inconsistent, they include different ops for sorted/unsorted/ and sparse/dense tensors.
I guess it would make sense to provide the same reduction ops  for these - I'd be happy to work on this and build on nikste's work.

For similar previous issues @andydavis1, @drpngx were responsible for reviewing, so I link you here.

Things to possibly consider:
- Replac

[2017-02-08 16:59] matth commented on #2146
Just to update this this ticket in case others come here looking for Warp CTC integration.

The Warp CTC maintainers have released a tensorflow binding which works transparently with `proprocess_collapse_repeated=False` and `ctc_merge_repeated=True`.

I've tested this with Tensorflow 0.12.0 and got good results, though the speed improvement was marginal in my case.

https://github.com/baidu-resear

[2017-02-08 17:00] ebrevdo commented on #7354
Apologies for the confusing API.

I hope to **remove the dynamic_rnn_decoder function next week**; it's
limited and bug-prone.  We have a new object oriented API which should be
much easier to use (examples of use here
<https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/seq2seq/python/kernel_tests/decoder_test.py#L132>).
What remains is adding a Decoder that supports attention

[2017-02-08 17:02] ebrevdo commented on #6996
The new API is available; we're working on adding attention and beam search
over the next several weeks.  Some examples of how to use it are here
<https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/seq2seq/python/kernel_tests/decoder_test.py#L132>
.

We also hope to have a new tutorial in the next few weeks based on this API.

On Wed, Feb 8, 2017 at 3:45 AM, Illarion <notifica

[2017-02-08 17:04] yaroslavvb commented on #7324
6.0, 6.1 is Pascal TitanX, P100 cards. I routinely enter those in configure (5 days ago when I tried last it worked)

[2017-02-08 17:05] yaroslavvb commented on #7324
According to https://github.com/tensorflow/tensorflow/issues/6914, you guys are already building with 6.0

[2017-02-08 17:13] girving commented on #7344
This is fixed in the 1.0 docs.

[2017-02-08 17:13] #7344 closed

[2017-02-08 17:17] girving commented on #7324
@jart Any ideas for this cuda/bazel issue?

[2017-02-08 17:20] martinwicke commented on #5244
We got sidetracked, so no, I am sorry.

[2017-02-08 17:27] mikigom opened #7363 "tf.decode_csv() seems to read the second field which actually doesn't exist."
### Environment info
Operating System:
[code]

Installed version of CUDA and cuDNN:
[code]

Tensorflow version:
[code]

I tried following ['A typical pipeline for reading records from' in 'Reading data'](https://www.tensorflow.org/how_tos/reading_data/).

I wanted to read just one csv file including file name of MS COCO dataset.
The content of csv file is the following :
[code]

I have repeatedly

[2017-02-08 17:40] rsaliy commented on #7285
Hi guys,
I've just installed tensorflow using the next command:

python -m pip install --upgrade https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-0.12.1-cp35-cp35m-win_amd64.whl

My python:
Python 3.5.2 (v3.5.2:4def2a2901a5, Jun 25 2016, 22:18:55) [MSC v.1900 64 bit (AMD64)] on win32

OS: Windows 10 Pro

My code:
import tensorflow as tf
print(dir(tf));
W = tf.Variable(tf.random_uni

[2017-02-08 17:52] jart commented on #7324
Maybe it's too early for me, but how is it possible for this condition to fail for the input "6.0"? Unless that's some kind of unicode dot, I don't understand how this is possible.

[code]

[2017-02-08 17:52] jart commented on #7324
Oh I see, somehow that value is getting quoted. Looking into this further…

[2017-02-08 17:55] girving commented on #7285
@gunan What extra information would you need to debug this?

[2017-02-08 18:07] yaroslavvb opened #7364 "Can't build MacOS GPU pip because odf nccl_archive errors"
Looks like Google CI build is having the same issue:
https://ci.tensorflow.org/view/Nightly/job/nightly-matrix-mac-gpu/TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON3,label=gpu-mac/lastFailedBuild/console

[code]

[2017-02-08 18:07] gunan commented on #7285
Calling in windows experts:
@mrry @guschmue @vit-stepanovs

@rsaliy What does the installation command output look like?
On windows, we have seen cases where pip/conda commands succeeded, but the logs told the installations were failed.
When installing, were you in a terminal that has admin rights?
Without that, the installation may fail because you wont be able to write to system folders.

Also,

[2017-02-08 18:08] yaroslavvb commented on #7227
This problem has been possibly resolved at head, although I won't know for sure until https://github.com/tensorflow/tensorflow/issues/7364 is fixed

[2017-02-08 18:11] yaroslavvb commented on #7364
fixing this will enable me to add the first macos XLA wheel to https://github.com/yaroslavvb/tensorflow-community-wheels

[2017-02-08 18:12] aidan-plenert-macdonald commented on #1419
FYI, I found that when I was implementing [kernels for new hardware](https://github.com/tensorflow/tensorflow/issues/4359#issuecomment-247187582) that I also needed to link to a variety of shared libraries in order to have all the proper symbols in my shared library. Its been a while, but here is what I did in my Makefile

[code]

Without it, I would get errors saying stuff about protobuf symbols

[2017-02-08 18:13] gunan commented on #7364
This seems to be an issue in nccl.
We have conributed a fix, and testing the mac gpu build with it right now:
http://ci.tensorflow.org/job/tensorflow-pull-requests-mac-gpu/7/

[2017-02-08 18:22] nickj-google commented on #7212
Sorry, no insight into what's going on here. I don't think my changes should result in the error @prats226 is seeing.

[2017-02-08 18:23] rsaliy commented on #7285
@gunan

I've lost it, because started to train model:
python -m tensorflow.models.image.mnist.convolutional

I don't remember nothing special.
Model was successfully trained

Minibatch loss: 1.595, learning rate: 0.006302
Minibatch error: 0.0%
Validation error: 0.8%
Step 8500 (epoch 9.89), 354.0 ms
Minibatch loss: 1.616, learning rate: 0.006302
Minibatch error: 1.6%
Validation error: 0.9%
Test err

[2017-02-08 18:24] guschmue commented on #7285
Rename your script from tensorflow.py to example.py ... 'import tensorflow' will import your own script, not tensorflow.
--
C:\temp>python tensorflow.py
['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'tf']
Traceback (most recent call last):
  File "tensorflow.py", line 1, in <module>
    import tensorflow as tf
  File "C:\temp\tensorflow.

[2017-02-08 18:27] rsaliy commented on #7285
@guschmue
Thanks, fixed :)

[2017-02-08 18:36] #7285 closed

[2017-02-08 19:06] bgrayburn commented on #6668
@harshsp31 been awhile since I did this, but should just need to go to head of master in tensorflow/models, then I probably did something silly like `cd` into the tensorflow submodule folder and pull, but you should probably do `git submodule update --recursive --remote` in the tensorflow/models folder to update any and all submodules.

[2017-02-08 19:07] mwytock commented on #7204
I hit this too.

For others waiting for a fix, monkey patch is a temporary workaround:

[code]

[2017-02-08 19:17] girving commented on #7212
@martinwicke Who's the go-to person for graph_util?  I can't find it in the doc.

[2017-02-08 19:42] carltonwang commented on #6599
It happens on the latest version, with or without tcmalloc...

[2017-02-08 19:54] martinwicke commented on #7212
​maybe @petewarden?

[2017-02-08 20:18] jhseu commented on #6968
Strangely, I'm getting the exact same stack trace for https://github.com/tensorflow/tensorflow/pull/7338 (and it happens even with jemalloc disabled). Pretty hard to track down the root cause...

[2017-02-08 20:18] OLEGator30 commented on #7358
Yeah, now it works, thanks! Nvidia instruction is completely out of date.

[2017-02-08 20:18] #7358 closed

[2017-02-08 20:57] AlexisTM commented on #6999
If you are using anaconda distribution, you can do the following to use python 3.5 on the new environnement "tensorflow":

[code]

[2017-02-08 22:56] cancan101 opened #7367 "TF Slim batch_norm does not expose beta_regularizer or gamma_regularizer"
[`batch_normalization`](https://github.com/tensorflow/tensorflow/blob/b00fc538638f87ac45be9105057b9865f0f9418b/tensorflow/python/layers/normalization.py#L255-L256) takes in a `beta_regularizer` and `gamma_regularizer` but the [TF slim `batch_norm` layer does not expose this](https://github.com/tensorflow/tensorflow/blob/bd4a1c58d28734c77ecb17d719e72c45c6c33077/tensorflow/contrib/layers/python/laye

[2017-02-08 23:27] yaroslavvb commented on #6131
BTW, if this makes it into TF 1.0 it'll be forever the lone exception to "define-then-run" convention of TensorFlow. (ie, session ops need "define-run-define-runagain")

[2017-02-08 23:42] brando90 opened #7368 "Feature Request: Official Docker base image with python 3.5 (and not only 3.4)"
I was building my Dockerfile for my docker image and when I ran containers, I noticed that python 3.4 was the one that was used. I installed python 3.5 successfully on the image but I was still unable to use tensorflow. Is it possible to request a base image that is always with the latest version of TensorFlow and also uses other version of pyhton 3? Like 3.5.

I am aware I can just pip install it

[2017-02-09 00:00] cancan101 commented on #7359
Is it okay to change the api of this method? Perhaps with some sort of deprecation to take in `images` rather than `image`?

[2017-02-09 00:05] girving commented on #7359
@cancan101 Please leave it image, then document that image can be higher rank.

[2017-02-09 00:19] EntilZha commented on #6533
Thanks!

[2017-02-09 00:34] rohitgirdhar commented on #7255
The meme probably explains the situation here :p Closing the issue.

[2017-02-09 00:34] #7255 closed

[2017-02-09 00:46] jkiske commented on #7314
For anyone interested in @josh11b 's solution, this worked for me. This is really helpful when your data and labels are in separate files.

[code]

[2017-02-09 00:48] civilman628 opened #7370 "number of class mismatch between .py file and .ckpt, which makes wrong prediction."
the total class which is assigned num_classes=1000 in the file below.

https://github.com/tensorflow/models/blob/master/slim/nets/inception_v2.py

however, the published checkpoint file on the page below  for inception v2 is 1001.

https://github.com/tensorflow/models/tree/master/slim

The prediction use this check point file is wrong, even if we update num_classes=1001 in the code. the wrong pred

[2017-02-09 00:53] bxshi opened #7372 "`Estimator.evaluate` froze"
### Environment info
Operating System:

`Linux 3.13.0-107-generic #154-Ubuntu SMP Tue Dec 20 09:57:27 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

Installed version of CUDA and cuDNN:

`None`

If installed from source, provide

1. The commit hash (`git rev-parse HEAD`)

`a7338d74be3b07968dd2c2a94167db7b9ae1a9f8`

2. The output of `bazel version`

### If possible, provide a minimal reproducible exampl

[2017-02-09 00:55] CryKey3 commented on #6999
Thanks AlexisTM that worked.
Tested: https://www.tensorflow.org/get_started/basic_usage
Results:
![p100 tf test](https://cloud.githubusercontent.com/assets/25624072/22764367/635421fa-eebe-11e6-8fbd-53e3bd6679f7.jpg)

[2017-02-09 01:09] #7372 closed

[2017-02-09 01:17] hannes-brt commented on #6702
@ebrevdo @yaroslavvb After additional investigation I believe that this problem is OS-specific. I had a suspicion that the way the kernel queues tasks was related to the problem after I observed that the machine load would get extremely high (e.g. >1000 on a six core machine), but CPU, memory, and disk I/O would all remain low.
So I tried both my test script as well as my regular training task on

[2017-02-09 01:55] mathfinder opened #7373 "there is a error when i import tensorflow in python script"
after i finish 'Configure the installation' step without finishing 'create the pip package and install'step.
there is a error when i import tensorflow in python script.
i type 'import tensorflow' in my python script and run it.i get this error:
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/__init__.py", line 24,

[2017-02-09 01:59] mathfinder commented on #7357
i type 'bazel build --subcommands //tensorflow/tools/pip_package:build_pip_package',ans i get error:

ERROR: /home/ben/tensorflow/tensorflow/core/BUILD:1089:1: C++ compilation of rule '//tensorflow/core:lib_internal' failed: gcc failed: error executing command /usr/bin/gcc -U_FORTIFY_SOURCE -fstack-protector -Wall -B/usr/bin -B/usr/bin -Wunused-but-set-parameter -Wno-free-nonheap-object -fno-omit-

[2017-02-09 02:08] yaroslavvb commented on #7314
Be careful with "images_queue, labels_queue" construction. If they go into `train_op`, and you run this op in parallel (ie, from different Python threads), then your images and labels can go out of sync because your second run dequeues can "wedge in" the first call image_op dequeue and label_op dequeue, more details in http://stackoverflow.com/questions/41920371/tensorflow-multi-threaded-queuerunn

[2017-02-09 02:21] yaroslavvb commented on #6702
nice investigation! Can you share more details for posterity? IE, what commands did you to use to query machine load (how is that different from CPU?)

[2017-02-09 02:23] Katuali opened #7374 "Issues with Eigen when building tf_tutorials_example_trainer on Windows 10"
I'm attempting to build Tensorflow C++ on Windows 10 following the instructions of the cmake readme. However, I'm getting issues with compiling at the Eigen step.

[code]

[2017-02-09 02:32] chihyaoma opened #7375 "tensorboard show empty page (master)"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

[#5341](https://github.com/tensorflow/tensorflow/issues/5341)

### Environment info
Ubuntu 14.04 LTS.
git clone https://github.com/tensorflow/tensorflow
./configure
bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package
bazel-bin/tensorflow/tools/pip_package/bui

[2017-02-09 02:42] tfboyd commented on #7187
Hi Randl,

Thank you for the information.  We are working through the benchmark and days away from publishing a performance guide.  There are a couple things that I noticed at a glance with the code they are using.  Before I mention them I want to stress that this is code that was published in the TensorFlow repo and I am not shifting blame.  Now some things to look for:

- Loading data with feed_

[2017-02-09 02:54] ferrouswheel commented on #7374
The line with the error is:

`C:\Users\Irene\Documents\tensorflow\tensorflow\contrib\cmake\build\eigen\src\eigen-build\CMakeFiles\CMakeTmp\CheckIncludeFile.c(1): fatal error C1083: Cannot open include file: 'pthread.h': No such file or directory [C:\Users\Irene\Documents\tensorflow\tensorflow\contrib\cmake\build\eigen\src\eigen-build\CMakeFiles\CMakeTmp\cmTC_55681.vcxproj]`

So I guess the questio

[2017-02-09 02:55] hannes-brt commented on #6702
I mean load average as reported by e.g. `top` or `uptime` and many other tools. For example, here is an article that explains load and how it is different from CPU utilization: http://www.linuxjournal.com/article/9001. You can find people reporting similar problems by googling "high load average low cpu".

[2017-02-09 03:10] snnn commented on #7352
@girving It was compiled from source code by myself.  commit version is : e946a6b

[2017-02-09 03:23] yaroslavvb commented on #7187
@tfboyd great to know you guys are looking at it! I think their multi-GPU resnet example is especially intriguing. It's basically fork of official cifar multi-GPU example which I think was originally made by @shlens and doesn't have obvious problems like feed_dict, yet there's a large performance gap with competitors.

[2017-02-09 03:55] boche commented on #6072
@zhangyaobit
If unidirectional, one layer has 8 matrices ordered like W_i,W_f,W_c,W_o,R_i,R_f,R_c,R_o.
If bidirectional, one layer will then have 16 matrices right, since we have a forward matrix and a backward matrix for each W_x or R_x, so my question is how are these 16 matrices ordered?

It can be appended like W^f_i, ...,R^f_o, W^b_i, ..., R^b_o
or interleaved as W^f_i, W^b_i, ..., R^f_o, R^b

[2017-02-09 04:10] darshanmaiya opened #7376 "Distributed mnist training in synchronous mode raises a ValueError in worker node"
I am trying to run distributed mnist training using the file given here: [https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dist_test/python/mnist_replica.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dist_test/python/mnist_replica.py)

The async mode doesn't have any issues but I cannot get the sync mode to work. As soon as I start a worker in the s

[2017-02-09 04:42] namrata-ibm commented on #7270
I had not faced this error. As @mrry suggests, you could try building with Bazel(which has to be built first).
Also what is the gcc version being used?

[2017-02-09 04:57] shiyemin commented on #7375
You should wait for a while. It's slow for tensorboard to load the data.

[2017-02-09 05:02] fesun commented on #7353
I ran into this issue two times, however I will try 1.0 version. But calling saving.save without shard=True stuck forever each time when I have lots of workers, for example 40 ps machines and 80 worker machines, each worker machine starts 10 worker processes.

here is the stack of master worker that calls saving, maybe you guys could get some idea:
 # Child-SP          RetAddr           Call Site

[2017-02-09 05:03] hakimka commented on #7159
I have the similar issue on AWS

### simple code to create/save a model
import tensorflow as tf
import sys
import numpy as np

w1 =  tf.Variable(tf.random_normal((2,2)), name="w1")
w2 =  tf.Variable(tf.random_normal((2,2)), name="w2")
b1 =  tf.Variable(tf.random_uniform([2],0,100, dtype = tf.int32, seed = 10), name="b1")
b2 =  tf.Variable(tf.random_uniform([2],0,100, dtype = tf.int32, seed = 1), n

[2017-02-09 05:09] yaroslavvb commented on #7356
how to make tensorflow pull request https://gist.github.com/yaroslavvb/bdb0a92f2a516ebbe2d386c48f5e2c45

[2017-02-09 05:13] yaroslavvb commented on #7159
Are you using version 12.1 by chance? That version provided new format for saving checkpoints, but didn't provide a way to read them. The solution is to save in old format:

`saver = tf.train.Saver(write_version = saver_pb2.SaverDef.V1)`

see: http://stackoverflow.com/questions/41048819/how-to-restore-a-model-by-filename-in-tensorflow-r12

[2017-02-09 05:15] ShownX commented on #7375
Same here. It is the white page!

[2017-02-09 05:16] yaroslavvb commented on #7353
wow, I've never seen windows stack trace before, cc @mrry

[2017-02-09 05:20] #6809 closed

[2017-02-09 05:22] smasoudn commented on #6509
I have the same issue with `tf.one_hot()` . Here is my settings:

- Windows 10
- NVIDIA GeForce GTX 1070
- Cudda 8.0
- CuDnn 5.1
- TensorFlow 0.12

Error:    Error polling for event status: failed to query event: CUDA_ERROR_ILLEGAL_ADDRESS
             Kernel died

[2017-02-09 05:24] yaroslavvb commented on #7376
Can you insert a print statement to print `self._replica_id` before using it in `training/sync_replicas_optimizer.py:751`? I suspect that value is None, in which case @jmchen-g may  know why that would happen

[2017-02-09 05:28] yaroslavvb commented on #7314
Given @josh11b 's response, it seems there are compelling reasons to break with the pattern here

[2017-02-09 05:28] #7314 closed

[2017-02-09 05:29] pengd49 commented on #7320
@girving If I understand it correctly, the TF_Run is ultimately defined in the file _pywrap_tensorflow.pyd, right?

I'm sorry I am inexperienced in debugging a pyd file. From what I found online, it seems I will need to try to compile and generate a version of the pyd with debug flag in order to debug it?

[2017-02-09 06:03] jmchen-g commented on #7376
This is a known issue that mnist example with sync_rep is not working as expected. We need to troubleshoot this... @caisq

[2017-02-09 06:08] gunan commented on #6509
The problem is resolved in 1.0.0-rc0, 1 or 2..
Please upgrade and try again.

On Wed, Feb 8, 2017 at 9:23 PM, smasoudn <notifications@github.com> wrote:

[2017-02-09 06:30] strickon commented on #6509
tested rc2 windows 10, gtx 1060, cuda 8 cudnn 5.1

The kernel diag_op_test fails

I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\core\common_runtime\gpu\gpu_device.cc:975] Creating TensorFlow device (/gpu:0) -> (device: 0, name: GeForce GTX 1060 3GB, pci bus id: 0000:03:00.0)
E c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\stream_executor\cu

[2017-02-09 06:49] mkabra opened #7378 "Seg fault when using tf session with opencv 3"
Hi,

We noticed that when we try to use tensorflow with opencv 3, it consistently seg faults and crashes. The commands are:

[code]

Assuming you have a messi5.jpg in the folder (https://raw.githubusercontent.com/abidrahmank/OpenCV2-Python-Tutorials/master/data/messi5.jpg)

We see this issue when we use tensorflow 0.12 GPU enabled, opencv 3.2.0 and python 2.7.6, CUDA 8.0 and CuDNN 5.1.5 . We did n

[2017-02-09 07:15] shiyemin opened #7379 "Compile error: use of deleted function"
### Environment info
Operating System: Rocks OS (CentOS 6.5)

Installed version of CUDA and cuDNN:  CUDA 8.0 and cuDNN 5.1

1. The commit hash (`git rev-parse HEAD`)：v1.0.0-rc2 1536a84f32f1fe77efd3fee6e5933a1dfe4e10bb
2. The output of `bazel version`：
Build label: 0.4.4- (@non-git)
Build target: bazel-out/local-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build

[2017-02-09 07:24] harshsp31 commented on #6668
@bgrayburn Thank you for helping me out. I found the fix :)

[2017-02-09 07:50] gunan commented on #6509
#6822 explicitly disables diag_op_test because of failures when using GPU.
We are working on debugging those problems.

[2017-02-09 07:58] AlexisTM commented on #6999
I had the exact same problem yesterday ;)

[2017-02-09 08:07] laventura commented on #5354
Hi @yufengg -- Is this ```/usr/local/cuda/extras/CUPTI/lib64``` applicable for MacbookPro (with Nvidia GPU) as well? Thanks.

I'm getting this same error:
[code]

[2017-02-09 08:49] darshanmaiya commented on #7376
@yaroslavvb : You are right, it is None.

[2017-02-09 09:09] machrisaa commented on #7214
Thank you very much!

[2017-02-09 09:10] carltonwang commented on #6599
I implemented an encoding algorithm in my code. Today I just encapsulated this encoding method as an RNN cell, and then the memory leak disappeared!!!

[2017-02-09 09:24] asimshankar commented on #582
@dpressel @hollinwilkins : FYI #7338 should take care of this since protobuf 3.2.0 raised the limit from 64MB to 2GB

[2017-02-09 09:31] jonasrauber commented on #6809
Tested it with 1.0.0rc2. Looks good :-) Thanks a lot!

[2017-02-09 10:35] llhe opened #7380 "[Discussion] Limit the exported symbols from _pywrap_tensorflow.so"
TensorFlow statically links many fundamental libraries and exported all their symbols, this can cause version conflict for other modules outside of TensorFlow which links against a different version library, see [the symbol lookup rules](http://stackoverflow.com/questions/12666248/elf-dynamic-loader-symbol-lookup-ordering).

For example, I have a script which involves TensorFlow and matplotlib. Ju

[2017-02-09 10:43] t0mk commented on #7166
@sjperkins Detecting if nviidia gpu is available will not work when installing in Dockerfile to a Docker image, and in general if you install it somewhere where you don't intend to run it.

I was checking if it could be done with setup.py extras:
https://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies

but I don't think it's possib

[2017-02-09 10:45] wonderzy opened #7381 "Tensorflow gemmlowp preformance"
I ran the tensorflow android demo on android with the google inception model. I used the quantized model transformed from tools/quantize_graph but  was sad to found that the gemmlowp works worse than float Eigen convolution on Android. Any suggestions to this , thanks a lot.

[2017-02-09 10:45] Nayana-ibm commented on #3527
@gunan
Thanks for your support.
Could you please let me know what's the recommended H/W configuration required? and
 S/W requirements (if any).

[2017-02-09 11:04] sjperkins commented on #7166
@t0mk One still needs to install CUDA in the docker container. The example I provided will still compile CUDA code if GPUs aren't available, but it won't be able to target specific architectures and will default to sm_30.

[2017-02-09 11:09] ygoncharov commented on #2916
Chainer folks claim that they are 5.5 times faster than TF in the distributed environment (128 GPUs, Resnet-50):
http://chainer.org/general/2017/02/08/Performance-of-Distributed-Deep-Learning-Using-ChainerMN.html

I think it is mostly because of RDMA/InfiniBand (MXNet and CNTK are doing much better than TF most likely because of it).

[2017-02-09 12:17] geromueller opened #7382 "[TensorBoard] load data from relative path"
To embed tensorBoard the data needs to be loaded from a relative directory, not /data.

[2017-02-09 12:24] mschonwe commented on #7354
@ebrevdo, +1 for the new attention decoder to also support beams.

Looking forward to the new attention decoder!  We tried the original dynamic_rnn_decoder approach but got better results with fixed length padded buckets (with dynamic, attention never converged "on the diagonal").

For attention we used an approach recommended by @pbhatia243 in issue #654 - results are much better than naive argma

[2017-02-09 12:24] caiqi opened #7383 "use cuda7.5 on windows"
I installed tensorflow-gpu with pip on windows. But it does not work with cuda7.5. And there is no way to update cuda due to driver limit. Is there any way to use cuda7.5 on windows with tensorflow-gpu? Or is there any tutorial about how to compile tensorflow with cuda7.5 on windows?  Thanks.

[2017-02-09 12:31] oliblum90 opened #7384 "freeze_graph.py script fails with FailedPreconditionError: 01"
I want to freeze a graph for the usage on a mobile device. The code I wrote was motivated by the freeze_graph_test.py script.

import modules
[code]

set path and file names
[code]

define the graph, load weights and and save checkpoint
[code]

set further paths for freezing the graph
[code]

freeze the graph
[code]

when I run the code I get an **FailedPreconditionError: 01** error in the last fu

[2017-02-09 12:38] jyh2986 opened #7385 "[Tensorboard Request]Ignoring specific subdirectories"
I think this will be simple but very useful feature for Tensorboard.

What I want is the ignoring specific subdirectories.

Tensorboard load all of subdirectries and display them, but it become slower as more subfolders are added. So, I just want to ignore some directories without moving them.

There's several options to do this.
1. If there is special character(like #) in folder name, just ignore

[2017-02-09 13:46] shiyemin commented on #7379
After update gcc from 4.9 to 5.3, i can compile tensorflow on CentOS 6.5. Close this issue.

[2017-02-09 13:46] #7379 closed

[2017-02-09 14:26] jihunchoi commented on #6824
I created a new PR solves the issue.

[2017-02-09 14:38] DjangoPeng commented on #7328
@mrry @girving I found there are at least two ways to work it out.
1. Include the `boost::regex` to associate with the network address check.
2. Define a function and some rules to check the string by myself.
I don't know which one is better in the case of TensorFlow. Could you give me some advice?

[2017-02-09 15:02] davideb91 opened #7388 "error with bazel build in windows"
I'm trying to build Tensorflow android camera demo in Windows.
When I try to build the application with

`bazel build -c opt //tensorflow/examples/android:tensorflow_demo`

I have these errors:

[code]

I have android sdk installed with the 25.0.1 build-tools version and the aapt file. I have also modified my WORKSPACE with the correct path (and version. I tried also with version 24.0.1 with same

[2017-02-09 15:03] strickon commented on #6509
So is there some official statement about what GPUs and versions of CUDA and cudnn work on windows 10 and for all platforms for that matter?  It is just Pascal that has the issue?  It would be helpful if there were some specific information about what features work and don't work, rather than run code and get random errors.

While I know that certain tests fail, I am not familiar enough with tenso

[2017-02-09 15:05] fesun commented on #7353
form my experience, windows version is not very stable, i also ran into session run stuck when I enabled full tracing option with one custom operator built in, and setting timeout did not work, sometimes the first step could get stuck, but after i disabled full tracing everything is fine. but the script under linux is ok, no stuck happened.

and here is the stack:

# Child-SP          RetAddr

[2017-02-09 16:10] girving commented on #7320
@pengd49 `TF_Run` is where essentially everything happens.  All it means is that the error is somewhere in C++ code.

[2017-02-09 16:18] girving commented on #7388
@andrewharp Can you comment?  Haven't seen many Android + Windows bugs yet.

[2017-02-09 16:18] girving commented on #7385
@dandelionmane Do you like any of these options?

[2017-02-09 16:21] girving commented on #7384
Please don't use `load_source` to pull a file from deep inside TensorFlow.  We only support using TensorFlow through the toplevel `tensorflow` Python module.  If you need help writing out a graph in a standard way, please ask on StackOverflow.

[2017-02-09 16:21] #7384 closed

[2017-02-09 16:22] girving commented on #7383
Please ask questions like this on StackOverflow.  Github issues are for feature requests and bug reports.

[2017-02-09 16:22] #7383 closed

[2017-02-09 16:23] girving commented on #7382
We would need more details to know what kind of issue you are having.

[2017-02-09 16:24] girving commented on #7381
Please ask questions like on StackOverflow; Github issues are for feature requests and bug reports.  If you want to report a performance issue, we would need a lot more information.

[2017-02-09 16:24] #7381 closed

[2017-02-09 16:25] girving commented on #7380
@martinwicke Care to comment?  I'm not sure if Bazel supports this, and we'd have to maintain it.

[2017-02-09 16:27] geromueller commented on #7382
we embed TensorBoard in our platform and mount the wsgi app under a certain path, eg. /extension/tb/12345/. So TB should get its data from /extension/tb/12345/data instead of /data

[2017-02-09 16:30] girving commented on #7362
I don't think we'll replace the sorted versions with unsorted versions.  The feature requested in https://github.com/tensorflow/tensorflow/issues/478 is covered by https://github.com/tensorflow/tensorflow/issues/478, so we don't need to ask for it twice here.  The remaining new bits are adding missing ops and fixing the TODO, both of which we would be happy to accept PRs for.

[2017-02-09 16:31] yaroslavvb commented on #7380
I wonder if that may be to blame for crashes we've seen with some tensorflow import orders.
For instance we found that we need to import opencv before TensorFlow, also to import [go-vncdriver](https://github.com/openai/go-vncdriver) before TensorFlow

[2017-02-09 16:32] girving commented on #7362
However, it would be better to have targeted feature requests rather than this grab bag mixing things we don't want and things we do, so I'm going to close this issue for now.  Would you be willing to file more specific issues for the two aspects I mentioned?

[2017-02-09 16:32] #7362 closed

[2017-02-09 16:34] girving commented on #7363
I don't think CSV supports trailing commas, so `'a,'` means `['a', '']`.

[2017-02-09 16:34] #7363 closed

[2017-02-09 16:35] girving commented on #7367
@cancan101 Seems like a reasonable request.

@sguada I'll mark this contributions welcome, but let me know if there's a reason against it.

[2017-02-09 16:36] girving commented on #7368
@caisq Is there a reason to not upgrade the docker?  3.5 would be backwards compatible with 3.4, right?

[2017-02-09 16:38] girving commented on #7374
@mrry `pthread.h` on Windows does seem anomalous.

[2017-02-09 16:41] girving commented on #7382
I'm pretty sure we still need more details, but @dandelionmane may have a clearer idea.

[2017-02-09 16:43] girving commented on #7378
@mkabra Can you check if importing TensorFlow first solves the problem (as mentioned by @yaroslavvb)?  This is not a great fix, but it might help with localization.

[2017-02-09 16:45] PhilJd opened #7389 "Add unsorted segment ops for prod, min, mean, sqrt_n"
As requested by @girving in #7362 I'll file a separate issue.

The sorted segment reduction ops feature  prod, min, mean, sqrt_n while the unsorted ops don't include those. So I suggest to add the following functions:
[code]

If you mark this as contributions welcome, I'd start working on this.

[2017-02-09 16:47] girving commented on #7373
Are you building it from sources, but still trying to import an installed version?  How did TensorFlow get into `/usr/local/lib/python2.7/dist-packages`?

[2017-02-09 16:48] yaroslavvb commented on #7380
It seems there's already some limiting going on, @keveman added `exported_symbols_list` to `extra_linkopts ` in https://github.com/tensorflow/tensorflow/commit/5405394ecbc92baf9c45e612185ab42b1dcd0a30 to fix a crash in https://github.com/tensorflow/tensorflow/issues/1992 , so perhaps it's just a matter of adding those `extra_linkopts` to whichever target builds `libtensorflow.so`?

[2017-02-09 16:48] girving commented on #7370
@nathansilberman Do you know the source of the off-by-one error?

[2017-02-09 16:48] girving commented on #7389
Thank you for splitting this out!

[2017-02-09 16:49] girving commented on #7389
I'd recommend spelling it `num_segments`, though.

[2017-02-09 16:50] PhilJd commented on #7389
Sorry, of course! Stupid typo, I'll change the issue description.

[2017-02-09 16:54] cancan101 commented on #7367
Do you think it should have one regularizer param like for the `initializer` param on batch_norm? Or be consistent with how `convolution` has a param for each regularizer? (note: `convolution` also has a param for each `initializer` which is not consistent with `batch_norm`).

[2017-02-09 16:55] martinwicke commented on #7380
I would love it if we limited what is exported from that library. Where
does this `.lds` file come from? @keveman can probably help more than I do.

[2017-02-09 17:02] beckermr opened #7391 "Change `dim` to `axis` for neural network classification ops to match others for the TF 1.0.0 API?"
It looks like the neural network classification ops still use `dim` whereas the rest of the API is being moved to `axis` in v1.0.0. Is this purposeful, or was this bit just missed?

[2017-02-09 17:03] beckermr commented on #7391
<img width="1284" alt="screen shot 2017-02-09 at 10 56 02 am" src="https://cloud.githubusercontent.com/assets/5296416/22794074/70921e78-eeb7-11e6-914c-61977aee574b.png">

[2017-02-09 17:07] martinwicke commented on #25
I think it should work from binary.

[2017-02-09 17:12] ppwwyyxx commented on #7378
Also you can try `export CUDA_VISIBLE_DEVICES=` to see if GPU is the factor. I've met bug reports failing to use opencv with TF because they used unofficial builds of opencv with cuda enabled.

[2017-02-09 17:14] yaroslavvb commented on #7364
I just synced to master, and now I'm getting dozens of failures of the form

[code]

[2017-02-09 17:16] yufengg opened #7392 "docs: Broken link/missing py file in Model Files guide"
On the page ["A Tool Developer's Guide to TensorFlow Model Files"](https://www.tensorflow.org/how_tos/tool_developers/)
([GitHub md link](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/how_tos/tool_developers/index.md))

In the GraphDef section, there's a link to `graph_metrics.py`, pointing to the url https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/to

[2017-02-09 17:23] yaroslavvb commented on #7378
That happens with official OpenCV version too. I've hit this crash, and looking at gdb backtrace it was in some OpenCV function checking if OpenCL was enabled. My guess is that TensorFlow binary unintentionally includes some OpenCL symbols which confuses it.

The solution is to set the following variable before running your script

`export OPENCV_OPENCL_RUNTIME=`

[2017-02-09 17:24] Anida-qin commented on #7048
I came with the same problem. I upgraded Bazel to latest (0.4.4).

[2017-02-09 17:25] hawkinsp commented on #7048
It sounds to me like this issue is fixed by bazel 0.4.4. Closing; feel free to reopen if not.

[2017-02-09 17:25] #7048 closed

[2017-02-09 17:30] keveman commented on #7380
@yaroslavvb is correct, `_pywrap_tensorflow.so` only exports symbols that have `tensorflow` in them. It is indeed strange that the `png*` symbols are leaked from`_pywrap_tensorflow.so`  even with the [linker script](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tf_version_script.lds) only allowing `tensorflow` symbols. @llhe, do you have any ideas why this may be?

[2017-02-09 17:40] yaroslavvb commented on #7364
After getting master, those errors are gone, but now pip package won't build with a bunch of errors like below

[code]

[2017-02-09 17:41] PatWie commented on #7375
Same here and #7317 might be related.

[2017-02-09 17:45] xuefeng7 commented on #590
still having this issue version 0.12, python 2.7.10

[2017-02-09 17:46] xuefeng7 commented on #590
while installing with pip, there has no image_training dir under examples dir

[2017-02-09 18:04] aidan-plenert-macdonald opened #7393 "Have Docker Build not Install via Pip"
In the [Development Dockerfile](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docker/Dockerfile.devel), I see this note,

[code]

Due to the [lack of important header files](https://github.com/tensorflow/tensorflow/issues/1419) in mainstream Tensorflow, I need to patch the TF build so I can get those headers. Unfortunately, the current Dockerfile clears the Bazel cache. I a

[2017-02-09 18:04] malmaud opened #7394 "Segfault when calling TF_OperationGetAttrTensor on malformed tensor"
On 1.0.0-rc1 (and earlier versions), this segfaults:

[code]

Note that `TF_Message(status)` is `TF_OK` after the calls to `TF_SetAttrTensor` and `TF_FinishOperation`.

[2017-02-09 18:07] gunan commented on #7364
@jhseu Looks like protobuf update broke mac gpu build?
Could you take a look?

[2017-02-09 18:09] #7356 closed

[2017-02-09 18:13] aidan-plenert-macdonald commented on #7393
This is the patch I do, in case it is important
[code]

[2017-02-09 18:16] gunan commented on #6809
Glad to hear this is resolved.
Thank you for your patience.

[2017-02-09 18:41] mishra69 commented on #7358
I am facing the same issue on the cuda_osx branch.

[code]

[code]

[2017-02-09 18:50] girving commented on #7358
@mishra69 Random commits from August are not supported.  Please use something more recent.

[2017-02-09 18:55] dandelionmane commented on #7382
I believe removing the leading slash [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tensorboard/components/tf_backend/router.ts#L39) would fix it?

Do you want to submit a pull request?

n.b. currently Bazel doesn't compile TensorBoard. We're actively fixing this right now. But until the next release, you will need to [recompile the TensorBoard frontend yourself](https://gi

[2017-02-09 18:58] andrewharp commented on #7388
Unfortunately Bazel doesn't support Android builds on Windows yet -- that seems to be [planned for 0.8](https://bazel.build/roadmap.html)

In the meantime I'd suggest using the [prebuilt libraries](https://ci.tensorflow.org/view/Nightly/job/nightly-android/) or waiting for the upcoming cmake demo build support.

[2017-02-09 18:58] #7388 closed

[2017-02-09 19:02] geromueller commented on #7382
Hi!

Yes, thats it! I removed the slash from the compiled js code and it works. Preparing a PR. Thanks!

[2017-02-09 19:02] #7382 closed

[2017-02-09 19:07] geromueller commented on #7382
okay, will not prepare an PR since i would have to undergo all the CLA for just one character.

[2017-02-09 19:08] silentsnooc commented on #5343
I have installed `cuda-repo-ubuntu1604-8-0-local-ga2_8.0.61-1_amd64.deb` but as I try to import tensorflow I get
[code]

I do not have a `/usr/local/cuda/` directoryafter installation

[code]

The `cuda-8.0` directory only contains

[code]

Which I think comes from cuDNN.

I don't quite understand why it does not find `libcudart.so.8.0`. Not sure what the `.deb` file installed if not CUDA.

[2017-02-09 19:09] drasmuss opened #7397 "`tf.dynamic_stitch` gradient is incorrect"
### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)
[code]

gives output
[code]

The numeric gradient correctly shows that `x` has no impact on `y` (since the value of `x` is completely overwritten by a constant in the `dynamic_stitch`).  The analytic gradient is incorrect; it seems like the gradient calculation in `dynamic_st

[2017-02-09 19:10] MIC7 commented on #7195
I have a similar setup, but with a gtx-1080, and was having the same problem. I did indeed get it working by using the 1.0.0rc version of tensorflow-gpu. It did require slight tweaking of syntax though, so that I had to explicitly add "labels=" and "logits=" for softmax_cross_entropy_with_logits.

[2017-02-09 19:19] silentsnooc opened #7398 "Cuda 8.0 .deb file installation "E: Unable to locate package cuda""
I am following the instructions from https://developer.nvidia.com/cuda-downloads for the Ubuntu 16.04 setup but the `cuda` package is not available after

[code]

Here is my output:

[code]

[2017-02-09 19:21] asimshankar commented on #7394
We should probably error our more safely, but could you elabore on what you mean by an "empty" tensor? A tensor with `ndims=0` is intended for representing a scalar, so a `TF_FLOAT` tensor with `ndims=0` should be backed by 4 bytes of storage. So, the `empty` `TF_Tensor` in the snippet above seems malformed.

Perhaps `TF_NewTensor` should return `nullptr` in that case and we should update the docu

[2017-02-09 19:25] aselle commented on #5343
@silentsnooc,   you probably should open a new issue with full context of your install environment ( we have an issue template). However, here is generic information:

1. `dpkg -L <package>` will list files installed by installing a deb. You can also use `find` or `locate` to find the file if that doesn't help.

2. If you can't find libcudart.so.8.0, install CUDA properly (possibly manually). If y

[2017-02-09 19:31] #7398 closed

[2017-02-09 19:33] silentsnooc commented on #5343
@aselle Hi! Thank you very much for that information. I'll take a look at it. It's frustrating because I just setup the whole thing on another machine but like you said: sometimes it goes smoothly and sometimes not. I'll try to go with the shell approach that you suggested.

[2017-02-09 19:45] malmaud commented on #7394
Yes thanks, that makes sense. It just seems problematic that a malformed tensor should cause `TF_OperationGetAttrTensor`to crash instead of safely error-ing out.

[2017-02-09 19:52] jhseu commented on #7364
Looks like it's https://github.com/google/protobuf/issues/2545 and https://github.com/google/protobuf/commit/ecc460ab1bf37d18f10511533bdf6ce6f746ab4d.

Can't really revert that change because macOS atomics are deprecated in favor of C++11 atomics. Not sure why nvcc is hitting both static_asserts when it should only reach one... Will investigate later today.

[2017-02-09 20:19] hakimka commented on #7159
Hello Yaroslav,

I just check the version, it says

print tf.__version__

0.11.0rc2

I am using the tensorflow in iPython notebook setup.

By the way, I found this example

http://stackoverflow.com/questions/33759623/tensorflow-how-to-restore-a-previously-saved-model-python
I believe you answered that question at some point.

These lines run ok

w1 = tf.Variable(tf.truncated_normal(shape=[10]), na

[2017-02-09 20:21] abhinavvishnu commented on #2916
Chainer is showing results for ResNet-50, which is much easier to scale the
AlexNet/GoogleNet. They are using MPI based implementation as well. So it
is pretty good, but I am not sure, if they are doing any other
optimizations such as asynchronous communication, layer-wise etc.

:- Abhinav

On Thu, Feb 9, 2017 at 6:10 AM, Yaroslav Goncharov <notifications@github.com

--
Abhinav Vishnu
Research Sci

[2017-02-09 20:48] dandelionmane commented on #7382
Haha, I can do it on my end :)

[2017-02-09 21:09] vladimircape opened #7399 "Tensorflow GPU on Windows Python 3.5 CUDA_ERROR_OUT_OF_MEMORY"
I am working on

    Notebook Lenova Z50-70
    GPU:Nvidia Geforce 840M
    Python 3.5
    Windows 7
    pip install tensorflow-gpu

I open windows and try to test how tensorflow use GPU.

    import tensorflow as tf

ary cublas64_80.dll locally
I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\stream_executor\dso_loader.cc:128] successfully opened CUDA libr
ary cudnn64_5

[2017-02-09 21:32] jhseu commented on #7364
Fixed in https://github.com/google/protobuf/pull/2699. Will have to update workspace.bzl after that's merged.

[2017-02-09 21:51] #6798 closed

[2017-02-09 21:54] iRapha commented on #6539
Do you guys mind if I try my hand at it? I'll have a PR soon

[2017-02-09 23:48] Jaspereclipse commented on #5343
One possible case I've found is that the environment (IDE) you run your Python does not have access to the file. If you try import tensorflow in CLI and it works, then probably you should consider this possibility.

[2017-02-10 00:50] louiehelm commented on #7375
Tensorboard has been broken for several days now. You can revert the past few days of commits to "solve" this issue:

git reset --hard 8dc43a3

I suspect this is what broke it:
https://github.com/tensorflow/tensorflow/commit/5d56ddbe3d84ff2ccf15c87de95e70840d56b7e7

Maybe tb still works in Chrome? That could explain why core developers aren't seeing this. I'm in Firefox.

[2017-02-10 00:53] dchirikov opened #7402 "Unable to build pip package from sources. Error: invalid command 'bdist_wheel' in pip_package/build_pip_package"
Hi, trying to build tensorflow for ppce64le got stuck with the issue. No CUDA (yet), trying to build binaries for CPU

[code]

[code]

[2017-02-10 00:58] dandelionmane commented on #7317
On it.

[2017-02-10 01:00] dandelionmane commented on #7375
On it.

[2017-02-10 01:15] dandelionmane commented on #7375
@jart it looks like this was broken by the webfiles build changes.

[2017-02-10 01:16] JimSEOW commented on #18
@jhseu [Not sure if you are the right person to ask]
Is there a plan to build native library [[libtensorflow.dll](https://github.com/migueldeicaza/TensorFlowSharp/issues/21)] on Windows?

So we could persuade @migueldeicaza to get tensorflow/tensorsharp working on Windows?

[2017-02-10 01:17] dandelionmane commented on #7375
Also, contrary to the initial issue description, I think this is broken on master but not in the release candidate. (phew)

[2017-02-10 01:22] sguada commented on #7367
I think one param is a good idea.

[2017-02-10 01:22] dchirikov commented on #7402
For the one who will struggle, need to install lates wheel package manually first.
[code]

[2017-02-10 01:31] brando90 commented on #1402
What does it mean to be in the "source directory". I am also having the same issue however, I have no idea what the source directory is.

[2017-02-10 01:32] brando90 commented on #1244
What does it mean to be in the "source directory". I am also having the same issue however, I have no idea what the source directory is.

[2017-02-10 01:34] jhseu commented on #18
We don't have any immediate plans, but making it would likely be trivial once Bazel works on Windows. I believe that's coming soon, but I'm not sure.

[2017-02-10 02:05] jaejun-yoo commented on #6509
@gunan I tested rc2 and the error message was gone (which didn't in rc1). Thank you for your comment!

[2017-02-10 02:07] ftramer opened #7403 "Incorrect second derivative of softmax cross entropy loss"
### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)

[code]

produces the output

[code]

Although the gradient is correct in both cases, the hessian computed using ```loss1``` is correct while the one computed from ```softmax_cross_entropy_with_logits``` is not.
I have not figured out where the issue arises from.

[2017-02-10 02:38] llhe commented on #7380
@keveman I found the root cause. We build tensorflow by ourself, and made some changes on the bazel build script and misused the [bazel select feature](https://bazel.build/versions/master/docs/be/functions.html#select), which disabled the version-script settings. So this should also explain the mysterious segfaults when using HDFS in our build reported in #5399.

[2017-02-10 02:58] llhe commented on #7380
@yaroslavvb I checked the official _pywrap_tensorflow.so, it exports expected symbols, so it should not be the cause. Also checked CUDA  library
[code]
Generally, only symbols prefixed cu are exported except some fftw symbols which should also be expected I guess:
[code]
`nm` is nice tool to verify the shared libraries symbols.

[2017-02-10 03:05] llhe commented on #7380
LG_DEBUG may also be useful for debug.

[2017-02-10 03:12] yaroslavvb commented on #7380
Nice investigation! Bazel's select brings back some memories....we spent time debugging why we couldn't package our custom GPU ops as a Bazel project that depends on TensorFlow as a submodule....turned it out that Bazel's select is [not sensitive](http://stackoverflow.com/questions/41153199/building-a-tensorflow-based-android-app-with-tensorflow-as-a-repository) to workspace it's defined in, and c

[2017-02-10 03:14] malmaud opened #7404 "No attribute 'outer_context' when calculating gradient from imported graph"
It seems when you import a graph with a "while" loop, you can't calculate gradients as you could on the original graph. e.g.

[code]

[code]

[2017-02-10 03:15] gundeep59 opened #7405 "tf.complex_abs not supported in r1.0.0"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.
HI,
I installed tf from [this link](https://www.tensorflow.org/versions/r1.0/get_started/os_setup) on Mac OS Sierra 10.12. However, tf.complex_abs() module is returning an error "'module' object has no attribute 'complex_abs'".

 The output from `python -c "import tensorflow; print(tensorflow.__version__

[2017-02-10 03:15] yaroslavvb commented on #7380
Feel free to close this issue unless there's something that's not addressed

[2017-02-10 03:20] llhe commented on #6116
Anyone working on this? The grpc patch is merged. I can have a try.

[2017-02-10 03:35] #7380 closed

[2017-02-10 03:44] jhseu commented on #6116
Yeah, that'd be great! Note that it didn't make it into the gRPC 1.1 release, so you'd have to update gRPC to a more recent git version.

We also use a custom BUILD file that's in third_party/grpc.BUILD. You can diff it from the version it's derived from to see its changes. Ideally, we'd just use gRPC's build file and not have our own, but I'm not sure how feasible that is. I'm not sure how many o

[2017-02-10 03:55] jhseu commented on #6116
Also, if you update, it'd be useful to run this benchmark to compare before and after:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/distributed_runtime/rpcbench_test.cc

Run it with: `bazel run -c opt rpcbench_test -- --benchmarks=all`

[2017-02-10 04:00] gundeep59 commented on #7405
It has been deprecated and is now called tf.abs(). PrettyTensor doesn't support this apparently. Closing it, since it is not a tf issue.

[2017-02-10 04:00] #7405 closed

[2017-02-10 04:03] ctiller commented on #6116
I'd be super interested in hearing the result.

On Thu, Feb 9, 2017 at 7:56 PM Jonathan Hseu <notifications@github.com>
wrote:

[2017-02-10 04:31] botonchou opened #7406 "Should check whether n_class is zero before calling sample_n() in mixture.py"
### Problem Description
Mixture model first use categorical to sample how much samples it need for each mixture components (this is variable `n_class` at [line 308](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/distributions/python/ops/mixture.py#L308), but it actually means **number of samples per component**), and then it pass `n_class` to `sample_n()`.

The problem is

[2017-02-10 05:53] bxshi opened #7407 "Estimator does not catch OutOfRange error"
I created a [4, 1, 5] tensor and use

[code]

to create a batch queue that produces the tensor only once, and I then use this in the input_fn function of `model.evaluate` with steps=2. Because the batch size is 2 and the steps is 2, I expect this could use up the batch queue without an OutOfRange error (or the Estimator will catch this error and use it as an indicator to stop the evaluation), howe

[2017-02-10 05:53] quirkyshop commented on #6233
@DollarAkshay

it works for me, thanks!

[2017-02-10 07:53] Sean-Git opened #7408 "Cannot achieve the reported accuracy 0.844 with wide_n_deep_tutorial"
After running the code in "wide_n_deep_tutorial.py", I achieved accuracy 0.834 for wide-only model, but the achieved accuracy for wide-and-deep model was only about 0.82.

I didn't change anything in the source code and just couldn't achieve the accuracy 0.844 as reported on the website. Can anyone help me to tell where could sth be wrong?

[2017-02-10 08:32] tswapnil commented on #6999
I am using python 3.6 (anaconda ) . All the steps worked for me except for the last one -
pip install tensorflow
I get the following output on console.
Collecting tensorflow
  Could not find a version that satisfies the requirement tensorflow (from versions: )
No matching distribution found for tensorflow. Any idea what should I do to make it work ?

[2017-02-10 08:37] AlexisTM commented on #6999
@tswapnil That's the reason for the `conda create --name tensorflow python=3.5`. Indeed, it installs python 3.5 because tensorflow is **not** compiled for Python 3.6.

Did you that exact command or did you changed "python=3.5" to "python=3.6". If you changed it, that's the reason it fails.

[2017-02-10 08:43] tswapnil commented on #6999
I changed it to python=3.6 . How should I change it back ? Because it took a lot of time installing and I don't wish to do that all again for a new Name . Is there a way to change the prefix ?

[2017-02-10 08:46] AlexisTM commented on #6999
Very simple, check the cheatsheet, delete your environnement and reinstall it. (It can't reuse same packages anyway as those are for 3.6 version and not 3.5.)

https://conda.io/docs/using/cheatsheet.html

[2017-02-10 08:48] tswapnil commented on #6999
Thanks @AlexisTM  .

[2017-02-10 08:48] Syndrome777 commented on #654
Hi, @pbhatia243

As @nikitakit says, it seems that your code in Neural Conversion Models repo is not the complete Beam Search. It may be a solution between the absolutely greedy method and Beam Search.
As the normal Beam Search method, it need to reset the state of RNN during decoding.
Could you add a step to reset the state by the beam_parent in your code?

[2017-02-10 08:50] AlexisTM commented on #6999
You're welcome ;)

[2017-02-10 09:42] zffchen78 commented on #6961
It seems that it's working as intended. Note that one can construct recursive TF functions as in other programming environment. AFAIK, it lies on the programmer to make sure the recursion is finite.

[2017-02-10 09:42] #6961 closed

[2017-02-10 10:15] weixsong opened #7410 "How to update model parameters with accumulated gradients?"
Hi,

Due to some reason, my model has limited batch size, then this limited batch-size will make the model has a high variance.

So, I want to use some trick to make the batch size larger. My idea is to store the gradients of each mini-batch, for example 64 mini-batches, and then sum the gradients together, use the mean gradients of this 64 mini batches of training data to update the model's param

[2017-02-10 10:33] fesun commented on #7353
Something weird is that many workers ran into session timeout just before ending. For example, one cluster has 800 worker processes, after 127 workers successfully ended training and no timeout error occurred, all other workers started to ran into timeout and no worker could successfully finish even one step. After master worker finished reading data and started to save checkpoint, it will hang fo

[2017-02-10 11:06] Bruczzz commented on #7321
I am referring the "Shrinking File Size" section given at https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md#shrinking-file-size

The command that failed was:

<code>
bazel build tensorflow/tools/graph_transforms:transform_graph
bazel-bin/tensorflow/tools/graph_transforms/transform_graph \
--in_graph=tensorflow_inception_graph.pb \
--out_graph=optimize

[2017-02-10 12:07] JimSEOW commented on #18
FYI: Here is some[ recent effort ](https://github.com/migueldeicaza/TensorFlowSharp/issues/22)to use Bazel Windows to build the native library [libtensorflow.dll]

[2017-02-10 12:36] davideb91 opened #7411 "bazel build tensorflow/python/tools:optimize_for_inference doesn't work"
I want to build the Android Camera Demo using a custom classifier.
However when I run

`bazel build tensorflow/python/tools:optimize_for_inference`

in order to optimize my graph I get these errors:

[code]

Suggestion?

[2017-02-10 13:26] gouwsmeister commented on #4904
Hi @lpxz,

`labels` are used both in the softmax computation and in the sampled softmax computation. Here is another more intuitive explanation that might be useful:

Let each batch of the training data consist of (inputs, labels) examples. Here, inputs may be a (vector) of integer word ids (the "contexts"), and labels is a vector of batch_size target-class integer ids (the "target words").

We no

[2017-02-10 13:26] #4904 closed

[2017-02-10 13:34] linrio opened #7412 "AttributeError: module 'tensorflow.contrib.tfprof' has no attribute 'model_analyzer'"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-02-10 13:41] markvdw opened #7414 "extract_image_patches gradient only works with float32"
`tf.extract_image_patches()` works well with `tf.float64`, however its gradient requires that `tf.float32`s are passed. Otherwise `tf.gradients()` raises:
`TypeError: Input 'b' of 'SparseTensorDenseMatMul' Op has type float64 that does not match type float32 of argument 'a_values'.`.

Here is an example of the offending code. If I take the gradient with respect to `X` without casting, I get the er

[2017-02-10 13:55] samwhitlock opened #7415 "Scale-out performance limitation for distributed session"
![image](https://cloud.githubusercontent.com/assets/433170/22829003/8b585f4e-efa0-11e6-9ddc-34a6b7e65cfb.png)

Scale-out performance for scatter-gather dataflow pipelines is limited.

I use Tensorflow to build custom pipelines (i.e. I write my own OpKernels) of "embarrassingly parallel" problems (no coordination between "local" pipelines required). Typically these involve the _local_ pipeline bein

[2017-02-10 14:41] #7411 closed

[2017-02-10 15:13] girving commented on #7353
@mrry Looks like all the threads in that stack trace are waiting, so presumably the problem is elsewhere.  Do you have recommendations for what extra information to get?

[2017-02-10 15:13] themightyoarfish opened #7416 "Bazel build fails on SUSE Enterprise due to too many open files"
This could also be a bazel issue, I don't know.

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
None

### Environment info
Operating System: SUSE Linux Enterprise Server 12 SP1

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
[code]
If installed from source, provide

1. The commit h

[2017-02-10 15:18] girving commented on #7321
@Bruczzz What version of TensorFlow are you using?  A request for this was in the instructions that you deleted when creating the issue.

@petewarden What would `transform_graph` be doing that consumes a bunch of memory?  Are there huge constants in these graphs?

[2017-02-10 15:33] girving commented on #6599
Closing since the problem is gone.  Happy to reopen if there is still an underlying bug to be fixed in TensorFlow, but it sounds like everything so far is inconclusive.

[2017-02-10 15:39] girving commented on #7357
The lack of `std::is_trivially_destructable` is odd.  It would imply your version of g++ is too old: we don't support anything without good C++11 support.  However, your version of Ubuntu is reasonably recent.  What version of g++ do you have?  Is there some other reason you'd lack part of the standard library?

[2017-02-10 15:40] girving commented on #7393
@caisq Can you comment on this Docker request?

[2017-02-10 15:41] gouwsmeister commented on #6860
Good catch. Yes, this seems to be a (very subtle) off-by-one error. Since it only seems to affect the end of every batch, it's effect should almost be negligible (especially for larger batches).

@soloice, could you please post the output on the same example sentence with your fix, and if it solves the problem we can accept a pull request to fix it?

[2017-02-10 15:44] girving commented on #7392
@petewarden This one of your doc files?

[2017-02-10 15:45] girving commented on #7391
@aselle Looks like we missed one.  I imagine this is too late for 1.0, but maybe we could add the *axis* parameter as an alternative name?

[2017-02-10 15:49] girving commented on #7013
Closing due to lack of response.

[2017-02-10 15:49] #7013 closed

[2017-02-10 15:53] girving commented on #7133
It certainly sounds like there was a regression here, but we'd need more detail to debug.

@rohan100jain Is it possible your change in cl/134036016 broke TensorSliceReader for globs without wildcards?

[2017-02-10 15:54] girving commented on #7156
Closing for now, but I'm happy to reopen if there is a mathematical description that seems like something useful.  I'm not going to reverse engineer the meaning from code.

[2017-02-10 15:54] #7156 closed

[2017-02-10 15:56] davharris opened #7417 "Crashes in tf.sparse_tensor_dense_matmul"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

Possibly related to #4282?

Also, [SO seems to suggest](https://stackoverflow.com/questions/29401116/abort-trap-6-in-c-program) that "abort trap 6" is related to accessing memory that TF doesn't own.

Both problems boil down to bounds errors crashing the Python session instead of throwing

[2017-02-10 15:59] davharris commented on #4282
Possibly. I just reported crashing behavior that seems to be related to the dimension of the tensors in sparse_tensor_dense_matmul (#7417). I'm on version 0.12.1.

[2017-02-10 16:01] girving commented on #7201
Closing pending more information.  If it's fixed in HEAD, we're good.

[2017-02-10 16:01] #7201 closed

[2017-02-10 16:02] zdx3578 commented on #4251
use tensorflow 0.9  i am ok.

[2017-02-10 16:03] davharris commented on #4282
(I'm mainly referring to "crash 2" from that report, where `sparse_tensor_dense_matmul_op.cc` seems to get confused about the number of rows.  I'll let you know when I have a reproducible example).

[2017-02-10 16:03] #7256 closed

[2017-02-10 16:28] #7276 closed

[2017-02-10 16:29] #7297 closed

[2017-02-10 16:29] davharris commented on #4282
(example added.  Sorry for the triple comment!)

[2017-02-10 16:30] davharris commented on #7417
(updated with a second reproducible example and more information)

[2017-02-10 16:30] girving commented on #7416
@damienmg Have you seen this before?  `Too many open files` during the build is odd.

[2017-02-10 16:31] girving commented on #7415
Please ask this kind of question on StackOverflow, as Github issues are for bug reports and feature requests.  It is probably a lack of parallelism in your graph or bad distribution of ops across workers.

[2017-02-10 16:31] #7415 closed

[2017-02-10 16:33] davideb91 opened #7419 "Build android demo using a custom classifier"
I want build TensorFlow Android Camera Demo using a custom classifier following [this](https://www.oreilly.com/learning/tensorflow-on-android) tutorial.
When I build the app using `bazel build //tensorflow/examples/android:tensorflow_demo` I get:
[code]
Thanks in advance!

[2017-02-10 16:35] petewarden commented on #7321
Apologies, this is a known bug with the command line parser. If you remove the '\' and newlines in the transform script it should work. I have a fix pending, I'm hoping to get it in soon.

[2017-02-10 16:35] petewarden commented on #7392
graph_metrics.py was removed, so we should update the docs.

[2017-02-10 16:37] themightyoarfish commented on #7416
The limit as given by `ulimit -n` is 1024 btw.

[2017-02-10 16:41] niffler92 commented on #800
Hi, I'm also having a similar issue.
I changed my cifar-10 into binary classification with some adjustments, and it doesn't seem to be doing the right feature extraction as training step increases.
For my case, within 100 steps, the predicted class is all set to one label and shows no change after.
As I see my fully connected layer, I can see that the nodes are mostly dead to one value and the one

[2017-02-10 16:41] girving commented on #7397
Ug.  You're correct that the gradients are wrong, but I don't see how to fix it without a dramatic performance hit.  Do you have any suggestions?

[2017-02-10 16:42] girving commented on #7402
@dchirikov Glad you found the fix.  Closing since it's fixed by the latest `wheel`.

[2017-02-10 16:42] #7402 closed

[2017-02-10 16:43] girving commented on #7404
@ebrevdo Any idea what would be happening here?  Do while loop gradients depend on unserialized information?

[2017-02-10 16:47] girving commented on #7406
The bug here is that `RandomGamma` doesn't allow zero samples.  https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/random_op.cc#L306 should be fixed to exit early in that case rather than crashing.  @brianwa84: Can you confirm this interpretation?

@botonchou Pending Brian's ack, would you be interested in submitting a pull request?

[2017-02-10 16:48] niffler92 commented on #800
Or is there any reason that I have to lower my learning rate the only thing I changed was labeling to binary with same data?

[2017-02-10 16:48] girving commented on #7410
Please ask questions like this on StackOverflow.  Github issues are for bug reports and feature requests.

[2017-02-10 16:48] #7410 closed

[2017-02-10 16:54] girving commented on #7408
@ispirmustafa Is that within noise?

[2017-02-10 16:55] girving commented on #7407
@ilblackdragon Should learn catch this?

[2017-02-10 16:58] girving commented on #7417
Yep, this is a bug.  @ebrevdo: Can you take a look?  Pure Python shouldn't be able to get a CHECK crash like this.

[2017-02-10 17:01] girving commented on #7399
Presumably another process is using more than 0.66 of your GPU memory.  Do you have evidence that this isn't the case?

@mrry: Have you unexpected out-of-GPU-memory issues on Windows?

[2017-02-10 17:04] girving commented on #7414
The problem appears to be this line: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/array_grad.py#L641.  It explicitly sets a dtype to be `float32`.  Can you change `tf.float32` to `grad_flat.dtype` and see if it solves your problem?

[2017-02-10 17:05] mrry commented on #7399
@girving Not that I'm aware of. I don't think this issue is Windows specific.

[2017-02-10 17:07] vladimircape commented on #7399
I think Gchrome not use GPU memory, because when i closed GChrome, and start use Firefox for Jupiter, everything was ok.
Also i check info, that my tensorflow use GPU dedicated memory and it's ok, but not use GPU processor, and use CPU processor, is it normal?

[2017-02-10 17:07] girving commented on #7403
I'm guessing you're using an old version of TensorFlow.  HEAD explicitly bails if you try to do this: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/nn_grad.py#L334.

We'd be happy to accept a fix to do the Hessian correctly  @alextp Is there any fundamental issue here, or did we just not get to it?

[2017-02-10 17:08] brianwa84 commented on #7406
Returning a zero shape tensor is OK for the zero sample use-case. Feel free
to submit the pull request.

Brian Patton | Software Engineer | bjp@google.com | +1 (360) 903-9003

On Fri, Feb 10, 2017 at 11:49 AM, Geoffrey Irving <notifications@github.com>
wrote:

[2017-02-10 17:09] vladimircape opened #7420 "TypeError: Input 'y' of 'Mul' Op has type float32 that does not match type int32 of argument 'x'."
I tried to start these tutorial https://github.com/nlintz/TensorFlow-Tutorials/blob/master/08_word2vec.py and get these error

I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\stream_executor\dso_loader.cc:128] successfully opened CUDA libr
ary cublas64_80.dll locally
I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\stream_executor\dso_loader.c

[2017-02-10 17:11] girving commented on #7406
@brianwa84 Not to pry, but did you really intend to post your phone number in a Github comment?

[2017-02-10 17:12] andrewharp commented on #7419
@davideb91 That article is somewhat outdated. The model files are now downloaded automatically by Bazel, which is why you're getting conflicts with the manually downloaded ones. You can either delete the files from assets/, or remove the dependencies on the file archives in the tensorflow/examples/android/BUILD file.

[2017-02-10 17:17] girving commented on #7399
I think this is better as a StackOverflow question, since it's not at all clear it's a TensorFlow bug.

[2017-02-10 17:17] #7399 closed

[2017-02-10 17:18] prudhvinandan commented on #5036
Hvass-Labs's tutorials are outstanding. Please provide the MetaGraph etc that he is requesting.

[2017-02-10 17:18] girving commented on #7420
Please file this issue with https://github.com/nlintz/TensorFlow-Tutorials.

[2017-02-10 17:18] #7420 closed

[2017-02-10 17:24] damienmg commented on #7416
Yes we have seen that on OS X with high number of --jobs, try forcefully setting --jobs to the number of cores.

[2017-02-10 17:28] girving commented on #7416
Closing here since this seems to be a Bazel issue, and not TensorFlow specific.  @damienmg Is it worth filing a Bazel bug, or is this impractical to fix?

[2017-02-10 17:28] #7416 closed

[2017-02-10 17:32] iRapha commented on #202
I can work on this but I wanted to clarify something:

This error message [0] is only raised when the ref input needs to be of type `tf.Variable`, right? I can't find another example of it being raised. If so, this change is really just a matter of updating [0] and I can have a PR in no time :)

[0] https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/op_def_library.py#

[2017-02-10 17:33] panyx0718 commented on #7412
It actually appears in my 0.12.0-rc1. Do you mind upgrading to 1.0?

python -c "import tensorflow; print(tensorflow.__version__)"
0.12.0-rc1

<function print_model_analysis at 0x7fe5949d4b18>

[2017-02-10 17:34] girving commented on #202
@iRapha That sounds right.

[2017-02-10 17:44] damienmg commented on #7416
We already have a bug for that :( Our resource estimation is quite wrong
unfortunately (and even it was right, we would still have those issue on
some edge case systems).

On Fri, Feb 10, 2017 at 6:29 PM Geoffrey Irving <notifications@github.com>
wrote:

[2017-02-10 17:56] davideb91 commented on #7419
Thanks @andrewharp , it works now!
However when I try to open the app on my android phone it is terminated.

To build the app I ran
[code]
in order to optimize my graph, and I copied retrained_label.txt in /android/assets/ .
Then I added these line in /tensorflow/tensorflow/examples/android/src/org/tensorflow/demo/TensorFlowImageClassifier.java
[code]
And I removed other dependencies on the file a

[2017-02-10 18:07] aselle commented on #7391
Yes, for most of the axis changes (except reverse and concat) we actually just kept the old name at the end of the argument list so both work. We can do the same here.

[2017-02-10 18:14] brianwa84 commented on #7406
heh thx. email signature fail

[2017-02-10 18:22] beckermr commented on #7391
Yay! Thank you!

[2017-02-10 18:47] aselle commented on #5118
It seems like this is resolved. Please let us know if this is still an issue for anybody.

[2017-02-10 18:47] #5118 closed

[2017-02-10 19:06] cancan101 opened #7422 "Feature: Add reduce_average (weighted reduce_mean)"
[Numpy has a function `average`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.average.html) which peforms a weighted mean. I suggest adding this function to tensorflow or adding an optional `weights` argument to `reduce_mean`.

[2017-02-10 19:20] kingtaurus commented on #7422
Could you just use broadcasting and call `reduced_mean`?

[code]

[2017-02-10 19:24] cancan101 commented on #7422
Yes though also want to divide through by sum of weights since it may not sum to 1

[2017-02-10 19:33] andrewharp commented on #7419
@davideb91 What does adb logcat say?

[2017-02-10 20:41] dennybritz commented on #6968
Can confirm this. I ran into this on my CI server and the the following fixed it:

[code]

[2017-02-10 20:45] jhseu commented on #6968
What Linux distribution and version were you running?

In https://github.com/tensorflow/tensorflow/pull/7338, it seemed to be an issue with pypi's numpy on Ubuntu 14.04. Compiling from source fixed it.

[2017-02-10 20:48] dennybritz commented on #6968
Using Ubuntu 14.04 - https://circleci.com/docs/build-image-trusty/. I was using the tf1.0-rc2 pip package.

[2017-02-10 20:55] skullkey commented on #6594
Thanks @Omnipresent

After applying your edit to workspace.bzl,I got:
**Prefix zlib-1.2.8 was given, but not found in the archive and referenced by '//tensorflow/core:lib_internal'.**

Changing the entry as follows worked for me:
`  native.new_http_archive(
    name = "zlib_archive",
    url = "http://zlib.net/fossils/zlib-1.2.10.tar.gz",
    strip_prefix = "zlib-1.2.10",
    build_file = str(Labe

[2017-02-10 21:16] aselle commented on #4790
The bottom line is that android and ios have a subset of all ops. They need to be stripped down to have smaller binaries. Our engineers use TensorFlow for Android and IOS apps, but the process of stripping a model is currently not as easy as we would like. @civilman628, do you have any idea to contribute on how to make this process better? If not, you could certainly submit a pull request to impro

[2017-02-10 21:21] aselle commented on #4775
@benoitsteiner , it looks the eigen change was merged. Could you post an update and close this if relevant?

[2017-02-10 21:22] aselle commented on #4774
@marcoadurno, did you find a solution to this issue?

[2017-02-10 21:43] aselle commented on #4735
No. TF_CUDNN_WORKSPACE_LIMIT_IN_MB is how much to use for scratch space. This is temporary scratch space that is used by individual cudnn ops. If you set it to 12000, you will have no space in your GPU  to store tensors persistently or for TensorFlow to use as scratch space.

You are at the cusp of running out of memory. There is likely memory fragmentation going on which means that as your proces

[2017-02-10 21:44] #4735 closed

[2017-02-10 21:48] aselle commented on #4714
Ping @dandelionmane.

[2017-02-10 21:58] civilman628 commented on #4790
@aselle  There is no document about how you make this file:
https://storage.googleapis.com/download.tensorflow.org/models/inception5h.zip

As I said previously, we can't reproduce it. only a fixed model, which can predict 1000 classes is useless.

[2017-02-10 21:59] aselle commented on #5310
@petewarden, is this resolved?

[2017-02-10 22:00] civilman628 commented on #4790
If you can only use one demo on iOS, but can't create their own model, then it is meaningless.

[2017-02-10 22:00] aselle commented on #5934
@tfboyd, can you take a look at this?

[2017-02-10 22:02] aselle commented on #5842
@rmlarsen, do you think this would be good. It doesn't look like NumPy has anything equivalent. I think if you are willing to accept this, we should invite @AidanGG to contribute it.

[2017-02-10 22:35] rmlarsen commented on #5842
@AidanGG The setThreshold method in Eigen does not affect the main SVD computation itself. Rather, it is mostly a convenient way to post-filter the SVD when using it to determine numerical rank or using it for applying a pseudo-inverse via the solve() method.

https://bitbucket.org/eigen/eigen/src/41ef39502e7e9aab985bb5b51894d1f87106b67e/Eigen/src/SVD/SVDBase.h?at=default&fileviewer=file-view-defa

[2017-02-10 22:35] #5842 closed

[2017-02-10 22:48] sguada commented on #7172
No sure why this is assigned to me, seems solved. Feel free to re-open if there is still an issue.

[2017-02-10 22:48] #7172 closed

[2017-02-10 23:02] panyx0718 commented on #7412
Found this: https://github.com/tensorflow/tensorflow/issues/6731
It seems the packages under tf.contrib is currently missing for Windows

[2017-02-10 23:06] jhseu commented on #7364
https://github.com/tensorflow/tensorflow/pull/7425

[2017-02-10 23:15] dandelionmane commented on #7352
+ @caisq, @chihuahua

[2017-02-10 23:16] GeorgianaPetria commented on #6
Is there any way to load a graph partially in tensorflow?

I would like to be able to use the weights trained for classification, but replace the fully connected layers and retrain for regression.

This can be done in Keras using the "by_name" option when loading a model, but I couldn't find a way to do it in tensorflow.

[2017-02-10 23:32] chihuahua commented on #7352
In your paste above, I wonder why `debugger` is missing from the `tensorflow\tensorboard\plugins` directory.

[2017-02-10 23:58] Carmezim commented on #7399
@vladimircape you could use nvidia-smi to check where is your GPU memory going for.

[2017-02-11 00:10] girving commented on #7422
@aselle Thoughts?  It seems pretty trivial to implement (`tf.reduce_sum(weights * x) / tf.reduce_sum(weights)`) so I'm not sure we need it, but it does exist in numpy.

[2017-02-11 00:22] Noahyt commented on #590
I had this issue Python 2.7.10, tf .12, OSX 10.12.3

[2017-02-11 01:07] boche commented on #6072
Also I found a bug @zhangyaobit. I am using params_to_canonical to export parameters.

When my model is bidirectional, I always have this mistake

Here my input size is 129, num_units is 10. But when I switch my model to unidirectional, there is no such mistake.

I think the bug is in line 548.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cudnn_rnn/kernels/cudnn_rnn_ops.

[2017-02-11 01:31] petewarden commented on #6
You might take a look at the TensorFlow for Poets codelab and sample code to see a similar approach to removing the final fully-connected layer:
https://codelabs.developers.google.com/codelabs/tensorflow-for-poets/index.html#0
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/image_retraining/retrain.py

[2017-02-11 01:33] petewarden commented on #5310
I think it is fixed now, @andrewharp put in a change recently to remove the BUILD files from the download folders. Closing.

[2017-02-11 01:33] #5310 closed

[2017-02-11 02:16] jart commented on #7375
Currently investigating.

**Unrelated:** I'm noticing there's a lot of stuff in this pip package that has no business being there. We need to fix that.

![image](https://cloud.githubusercontent.com/assets/49262/22850345/ab3b954e-efbc-11e6-9a42-bbc5e6451e1a.png)

**Unrelated:** Shouldn't `purelib/external/` directory should probably be named `purelib/tensorflow/_external/` or something, so it's les

[2017-02-11 02:30] jart commented on #7375
I'm pretty confident #7431 is going to fix this. Would anyone from the community mind patching that tiny change and seeing it TensorBoard works again?

[2017-02-11 02:39] caisq commented on #7352
https://github.com/tensorflow/tensorflow/pull/7428 should have fixed this issue. Please comment or reopen issue if there are any other problems.

[2017-02-11 02:39] #7352 closed

[2017-02-11 03:18] fesun commented on #7353
@girving @mrry  I changed my script to write checkpoint to hdfs with sharded=True, and found one of the parameter server failed to output checkpoint, so I am pretty sure worker timeout and saver stuck were caused by this one parameter server.here is the stack:
[stack.txt](https://github.com/tensorflow/tensorflow/files/768200/stack.txt)

[2017-02-11 03:18] jhseu commented on #6968
So I think this is some interaction between pypi's numpy and Ubuntu 14.04. Either upgrading to Ubuntu 16.04 or building numpy from source (pip install --no-binary) fixes it in every case I've tried (GPU/no GPU, jemalloc disabled/enabled, Python 2.7/3.4/3.5)

[2017-02-11 04:05] guoying1030 opened #7432 "Batch normalization for Bidirectional RNN ?tensorflow support it?"
Batch normalization for  Bidirectional RNN ?tensorflow support it?

[2017-02-11 04:34] AidanGG commented on #5842
Hi @rmlarsen, I have been using
[code]
and slicing `U`, `s` and  `V` by this `rank`. This works well enough for my purpose.

[2017-02-11 04:38] moveforever opened #7433 "Failed to build from source for r0.12 about :_rules_closure: no such attribute 'urls""
Hi, I'm trying to install tensorflow r0.12 on a cluster with CentOS. i came across with following errors:
[code]

bazel 0.4.0
cuda 7.5
cudnn 5.1
small help will welcome, tks.

[2017-02-11 04:40] clarklight opened #7434 "InvalidArgumentError Invalid JPEG data, size 4096 for retain.py(image_retrain), Not JPEG file 0x00 0x05"
Problem: when i run the retrain script with my sub_folder(my photos) shown in the Image retrain tutorial,
https://www.tensorflow.org/how_tos/image_retraining/
 It gives that error, InvalidArgumentError Invalid JPEG data. I took a look at this thread https://github.com/tensorflow/tensorflow/issues/4009

And changed the tf.image.decode_jpeg to tf.image.decode_image, but no luck(i also made sure all

[2017-02-11 05:49] gunan commented on #7375
For slimming down the pip package:
@caisq working to remove some of the external libraries from pip package.
@keveman just removed protobuf from our pip package.

[2017-02-11 06:13] soloice commented on #6860
@gouwsmeister Sure. With my fix, the output on the same example will be:
[code]
Now all possible pairs are recalled, and words at the end of a batch (`term`, for instance) will appear in the next batch.

[2017-02-11 06:44] gunan commented on #7364
I was able to build the pip package successfully. Now running all tests on it, but as the build is  successful, closing this issue.
Thanks @jhseu

[2017-02-11 06:44] #7364 closed

[2017-02-11 07:11] soloice commented on #6860
@gouwsmeister  I've made a pull request about this issue.
This is the first time that I made a pull request on Github. Not sure if I'm getting it correctly.
Thanks for your tracking.

[2017-02-11 07:20] ebrevdo commented on #7417
Thanks for reporting this. I'll take a look likely after end of next week

[2017-02-11 07:22] ebrevdo commented on #7404
Yes, though I thought Yuan and Sherry had added the appropriate serialization to the metagraph.  Is this on master branch of tf?

[2017-02-11 07:24] gunan commented on #7433
Please upgrade to bazel version 0.4.1 or higher.
We had to make backwards incompatible changes to our build files, so any bazel version before 0.4.1 will not work.

[2017-02-11 07:24] #7433 closed

[2017-02-11 07:31] #6539 closed

[2017-02-11 08:33] gunan commented on #7393
I think we started to recently run bazel clean, as bazel cache can be in the order of Giga bytes.
This was a move to limit the size of docker containers for people with bandwidth concerns.
In the US this is not a very big concern, but this can be very important in other countries where ISPs have strict data caps.

In any changes you make, you should only need to build once.
You can reuse the conta

[2017-02-11 08:42] gunan commented on #7368
The primary reason for this is our docker images build on top of ubuntu 14.04. We are still at this version, because our base nvidia docker images (`cuda8 cudnn5`) are based off of ubuntu 14.04. So we kept all our docker images at the same ubuntu version to keep consistency. Unfortunately, ubuntu 14.04 only supports up to python 3.4.

We can install python as you described, but we decided to stay

[2017-02-11 08:45] gunan commented on #7063
Closing issue due to inactivity.

[2017-02-11 08:45] #7063 closed

[2017-02-11 08:49] alihusn commented on #1013
Well it worked for me :P

[2017-02-11 08:54] gunan commented on #6555
@zafartahirov I think for using tensorflow as is, you have a point. However, when tensorflow is an external dependency, tensorflow/models or tensorflow/serving, I believe users may need to run `configure` differently.

Also, as the pushd/popd lines have a comment describing what they do, I do not see a problem in terms of code readability.

Therefore, I am inclined to close this issue. Let me know

[2017-02-11 08:54] #6555 closed

[2017-02-11 08:56] gunan commented on #4974
cc @yifeif

[2017-02-11 09:00] gunan commented on #3194
https://github.com/tensorflow/tensorflow/issues/7118

We were able to get TensorFlow build on RHEL6. Looks like you need to make some local changes, but things seem to build fine. I will close this issue to merge the discussion on the other thread, which currently has a solution.

[2017-02-11 09:00] #3194 closed

[2017-02-11 09:03] gunan commented on #3894
Closing this issue, as building TensorFlow with any bazel version older than 0.4.1 is not possible anymore.
For a possible workaround for building tensorflow on RHEL, and possibly centos, you can check https://github.com/tensorflow/tensorflow/issues/7118

[2017-02-11 09:03] #3894 closed

[2017-02-11 11:14] clarklight commented on #7434
I have managed to locate the root of my problem, the transfer of JPEGS dataset via USB will corrupt the file, so that when you decode it, the decoder will think its not JPEG calling a Invalid JPEG 0x00 0x05.

[2017-02-11 11:14] #7434 closed

[2017-02-11 11:58] MartinThoma commented on #859
@mrry When I add `tf.reset_default_graph()` to [my code](https://github.com/MartinThoma/HASY/blob/master/scripts/keras_hasy_cv.py), I get

[code]

[2017-02-11 12:46] malmaud commented on #7404
Ya, this is master.

[2017-02-11 13:01] louiehelm commented on #7375
@jart Pulled your3e1973688  patch and tested it.

Tensorboard works again. Seems snappier too when reloading boards.

[2017-02-11 14:54] moveforever commented on #7433
another question: i upgrade bazel to 0.4.2, and then recompile, i came across with another following error:
[code]

[2017-02-11 14:57] moveforever commented on #7433
i compile again, it appeared a new error:
[code]

[2017-02-11 15:04] davideb91 commented on #7419
@andrewharp This is the output of adb logcat:
[code]

[2017-02-11 15:11] kvrd18 opened #7439 "Batch Normalization for Multi-GPU / Data Parallelism"
Where is the batch normalization implementation for Multi-GPU scenarios? How does one keep track of `mean`, `variance`, `offset` and `scale` in the context of the Multi-GPU example as given in the [CIFAR-10 tutorial](https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_multi_gpu_train.py)?

Why is the question on [StackOverflow](http://stackoverflow.com/questions/418190

[2017-02-11 15:20] DaniZz opened #7440 "can't install TensorFlow properly (to use KeraS)"
I can't install TensorFlow properly (to use it with Keras)
I did install it manually with this command:
pip install tensorflow-1.0.0rc2-py2-none-any.whl
My operating system: OSX: 10.12.3

here's the error I get, any suggestions?

Using TensorFlow backend.

Traceback (most recent call last):
  File "<pyshell#1>", line 1, in <module>
    import keras
  File "/Library/Frameworks/Python.framework/Vers

[2017-02-11 15:22] DaniZz commented on #7440
I did install it manually with this command:
pip install tensorflow-1.0.0rc2-py2-none-any.whl

[2017-02-11 16:01] yaroslavvb commented on #7439
How does Torch handle multi-GPU batch normalization? Batch normalization on multi-GPU batch incurs and extra performance penalty because statistics need to be communicated across all GPUs, so are some performance questions to consider in. You can aggregate statistics on CPU, aggregate them by going around in a circle along the lines of how Nvidia NCCL all-reduce does, or aggregate them by doing a

[2017-02-11 16:21] brianlan commented on #1965
My problem is exactly the same as @xuxy09, and I used the solution provided by @yselivonchyk. It solved my issue. Thanks a lot.

[2017-02-11 17:09] AjayTalati commented on #6968
Hi, I got a similar `Error in "python": double free or corruption (!prev)` error. Using tf 0.12, built from source, today with Ubuntu 14.04.

This was solved with @dennybritz 's fix, four posts above. Thank you very much @dennybritz

Will try upgrading to 16.04 as @jhseu recommends

[2017-02-11 17:14] malmaud commented on #7404
OK, I see if I save and restore the metagraph (via `tf.train.export_meta_graph` and `tf.train.import_meta_graph`, then I can take the gradient in the restored session. So it's just a problem if you try serializing and importing the `GraphDef` itself.

[2017-02-11 17:44] andrewharp commented on #7419
Can you also provide the log above this section? It should contain the actual error.

[2017-02-11 17:46] andrewharp commented on #7419
Is the label file actually in your assets folder?

[2017-02-11 18:16] gunan commented on #7433
This one looks like a transient download error. Please try again.

On Feb 11, 2017 6:58 AM, "zheng" <notifications@github.com> wrote:

[2017-02-11 18:41] yaroslavvb commented on #859
You have to recreate everything from scratch after resetting graph

[2017-02-11 20:03] bazinac commented on #7150
Hi guys, sorry for being such a pestilent guy, but is there any development it this? Or, could you please point me to some other possibilites how to shrink graph size (eg. some prunning), I desperately need to make it more compact for mobile deployment... Thanks

[2017-02-11 21:21] ahundt opened #7443 "Add Continuous Integration + Review Requirements to CONTRIBUTING.md"
Could some basic instructions and suggestions be added to [CONTRIBUTING.md](
https://github.com/tensorflow/tensorflow/blob/master/CONTRIBUTING.md)?

Example notes to add:
 - correctly installing and configuring a compliant python/C++ linter
 - links and explanation of other guidelines that must be followed
 - how to run tests on your own machine

[2017-02-11 22:14] taion opened #7444 "tfprof model analyzer ignores scalar parameters"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
Searched issues for "tfprof"

### Environment info
gcr.io/tensorflow/tensorflow:1.0.0-rc2-devel-gpu

### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)
[code]

This will show `total_parameters` of `0`, despite there b

[2017-02-11 22:17] GeorgianaPetria commented on #6
Thanks @petewarden!
The code in retrain.py is very helpful!
However, since inception has 3 output layers, don't I need to retrain all the 3 outputs?
In the retrain.py code a new layer is added on top of the bottleneck 'pool_3', but won't my regression be affected by not replacing all the outputs?

[2017-02-11 23:09] yaroslavvb commented on #7443
I agree that it would be useful to community. I think perhaps someone who has recently gone through the process might be motivated to put the important things together into a nice guide.

Some snippets from my development notes:

making a PR: https://gist.github.com/yaroslavvb/bdb0a92f2a516ebbe2d386c48f5e2c45

pylint:

[code]

Running tests:

You can see requirements in tensorflow/tools/ci_build/i

[2017-02-11 23:14] tgirgin23 commented on #7311
I am having a similar problem when trying to read my Example protocol bufffer in batches. I have also tried the other protobuf library, but that did not help.

[2017-02-11 23:44] ahundt commented on #7443
Awesome info! Since you mentioned tmux there is also http://byobu.co/ which is built on top of tmux and improves usability.

[2017-02-12 01:01] mandarup commented on #4229
getting  ```CUDA_ERROR_OUT_OF_MEMORY```  when trying to run  ``convolutional.py`` from tensorflow ``models`` repo

[code]

[2017-02-12 01:45] moveforever commented on #7433
i have a try

[2017-02-12 01:49] moveforever commented on #7433
i have a try. it seems to configure successfully. And then i run `bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package`. it appear error followed:
[code]

[2017-02-12 02:18] yaroslavvb commented on #4229
@mandar that indicates your GPU doesn't have enough memory for this network

On Feb 11, 2017 5:01 PM, "Mandar Upadhye" <notifications@github.com> wrote:

[2017-02-12 02:23] mandarup commented on #4229
thanks @yaroslavvb ! jupyter notebook locked in full memory even when it was idle!

[2017-02-12 02:25] yaroslavvb commented on #4229
Yes TF is greedy, it takes all GPU memory by default

On Feb 11, 2017 6:23 PM, "Mandar Upadhye" <notifications@github.com> wrote:

[2017-02-12 02:39] lemmonation opened #7445 "memory overflow when processing Variable.eval()"
I'm using Tensorflow to process a simple matrix factorization algorithm. Every step went correct but at the last step, where I want to `eval()` a Tensor to store it, the program didn't work and only occupied more and more memory. I tried to `eval()` the initial parameters before the algorithm, it correctly processed. Then I'm confused where the bug is.
Core code is as follows.
[code]

It's fairly

[2017-02-12 03:08] ppwwyyxx commented on #7439
@kvrd18 As pointed out above, there are just too many ways to implement batch norm across GPUs. TensorFlow now doesn't seem to provide a "default" way how it is implemented.

@yaroslavvb My understanding is that most frameworks (including caffe & torch) doesn't aggregate statistics across GPUs at all. Different GPUs maintain statistics independently and statistics from only one GPU are used at tes

[2017-02-12 03:13] mandarup commented on #4229
@yaroslavvb  so TF wouldn't release GPU memory once TF session exits?

[2017-02-12 04:35] AdamWP opened #7446 "Android Example TF Detect crashes when built with files in source directory"
Android TF Detect crashes when I make the apk with inception_5 and mobile_multibox files in the assets directory and removed in BUILD as per the instructions at https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android

It works when built with automatic download.

I commented out lines 66 & 67 in BUILD.
 "@inception5h//:model_files",
 "@mobile_multibox//:model_files",

The

[2017-02-12 04:47] caisq commented on #7393
Yeah, as @gunan pointed out, our devel docker images (especially the GPU one) used to be so large that they caused download and disk space issues to users, so we removed the bazel cache, which reduced the image size by about 50%.

[2017-02-12 04:52] caisq commented on #7393
I think @gunan's solution should work for @aidan-plenert-macdonald . Another alternative is to simply run `docker run` without the `--rm` flag and then restart the container with `docker start -i` later. So I'll close the issue for now. Feel free to comment or reopen the issue in case you have more questions.

[2017-02-12 04:52] #7393 closed

[2017-02-12 04:54] caisq commented on #7368
As @jhseu recently pointed out, cuda 8 is now based on ubuntu:16.04. So this old roadblock doesn't exist anymore. We'll confirm that everything else is okay and if so, go ahead with the Python version update in the py3 docker images.

[2017-02-12 05:14] andrewharp commented on #7446
What is the actual message for the crash? (Use adb logcat)

If you run unzip -v on the apk, do the contents look the same with either method? You probably have an extra layer of directories in there or something similar.

[2017-02-12 05:40] una-dinosauria opened #7448 "tf.summary.FileWriter crashes with AlreadyExistsError"
We have a cluster with ~20 GPUs that we often use to train multiple networks in parallel, and we use `tf.summary.Filewriter` to keep track of the networks' progress. However, some jobs are crashing when they attempt to create their `FileWriter`s with the following stack trace:

[code]

I am writing the `Filewriter`s' progress under `/global/scratch/julm/3d_experiments/`, and creating multiple subd

[2017-02-12 06:01] ahundt opened #7449 "bazel build --copt=-march=native not using available CPU instructions"
Here are the key lines in my install script with a quote from the tensorflow docs:
[code]
### Even with `--copt=-march=native` I get the following warnings about the CPU instruction set, contradicting the above statement:

[code]

Here is the exact script I used to build tensorflow:
https://github.com/ahundt/robotics_setup/blob/b5ee71f262ec36f8dbc8374ed2503c0812fb0f47/tensorflow.sh

### What relat

[2017-02-12 07:14] lemmonation commented on #7445
solved

[2017-02-12 07:14] #7445 closed

[2017-02-12 07:51] #7375 closed

[2017-02-12 08:03] kaishijeng opened #7450 "android demo app: tf_detect using yolo instead of multibox_detect"
Does anyone know how to build android demo app which uses yolo detector instead of multibox detector ?

Thanks,,

[2017-02-12 09:17] #7118 closed

[2017-02-12 10:33] prachi2509 opened #7451 "Getting the following error :/usr/prachi/tensorflow/bazel-bin/tensorflow/examples/image_retraining/retrain.runfiles/org_tensorflow/tensorflow/python/client/session.py", line 944, in _run % (np_val.shape, subfeed_t.name, str(subfeed_t.get_shape()))) ValueError: Cannot feed value of shape (0,) for Tensor u'input/BottleneckInputPlaceholder:0', which has shape '(?, 2048)'"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-02-12 11:04] AndreyRub opened #7452 "Bugs in TensorFlowYoloDetector"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
None

### Environment info
Operating System: Windows 10

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0

If installed from source, provide

1. The commit hash (`git rev-parse HEAD

[2017-02-12 13:34] kkarrancsu commented on #5726
Hello, it looks like the latest docs (API r0.12) still has the old documentation that implies that `top_k` is non-differentiable.  See [docs](https://www.tensorflow.org/api_docs/python/nn/evaluation)

[2017-02-12 13:37] AdamWP commented on #7446
I tracked down the issue.  The difference between builds is the automatic download version gets https://storage.googleapis.com/download.tensorflow.org/models/mobile_multibox_v1a.zip while the instructions at https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android specify to download https://storage.googleapis.com/download.tensorflow.org/models/mobile_multibox_v1.zip . (not

[2017-02-12 13:37] #7446 closed

[2017-02-12 14:21] inexxt commented on #6533
Could you also add the 3.6-compatible version to conda repo?

[2017-02-12 15:31] yaroslavvb commented on #7227
I have just checked at head still getting `ld: file not found: -lcudart.8.0` error. when trying to build pip package. The main thing that changed from the last time this build worked was upgrading Bazel to 0.4.4

I notice that your continuous build [failed](https://ci.tensorflow.org/view/Nightly/job/nightly-matrix-mac-gpu/TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON3,labe

[2017-02-12 15:39] yaroslavvb commented on #7449
This command should break down the optimizations that are turned on with march=native

`
gcc -march=native -Q --help=target`

Are AVX/FMA optimizations in there?

Also, `march=native` is a long way of writing

`bazel build --config=opt --config=cuda `

[2017-02-12 16:02] yaroslavvb commented on #7451
I'm 98% sure this is a user-error, which is best helped by nice people on stackoverflow

[2017-02-12 16:02] #7451 closed

[2017-02-12 16:21] dremaker52 opened #7453 "error while building on windows with cuda 7.5"
I have spent days to build tensorflow on windows with cuda 7.5 but met a lot of error. I first followed https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/cmake/readme.md. I modified CmakeList.txt from cuda 8 to cuda 7.5. But nvcc version 7.5 do not support visual studio 2015. When I change to visual studio 2013. It failed with constexpr because visual studio 2013 do not suppo

[2017-02-12 17:27] yaroslavvb commented on #7452
cc @andrewharp

[2017-02-12 17:37] llhe commented on #6116
@ctiller Is bazel still supported in gRPC trunk? Looks like there are somethings broken, like unreferenced header, incorrect header path, redefined symbols etc. I'm trying to solve them to make it build with tensorflow.

[2017-02-12 20:14] jamesdacombe17 opened #7454 "(iOS Camera Example from GitHub) 'unsupported/Eigen/CXX11/Tensor' file not found"
<p>I have just downloaded the tensorflow iOS Camera Example from GitHub and when I run the project it crashes with the error "'unsupported/Eigen/CXX11/Tensor' file not found".  I have added an example and would really like some help as soon as possible.</p> <br>

<p>All the best, James</p>

<br>

<img width="877" alt="screen shot 2017-02-12 at 20 11 26" src="https://cloud.githubusercontent.com/ass

[2017-02-12 20:32] bxshi commented on #7407
Is there an alternative way to feed batches into `model.evaluate`?

[2017-02-12 21:54] ctiller commented on #6116
We are in the process of switching to Bazel as our source of truth. I'd be
surprised if anything is broken, but if so it's something we'd want to
track down immediately.

Can I trouble you for more details?

On Sun, Feb 12, 2017, 9:38 AM Liangliang He <notifications@github.com>
wrote:

[2017-02-12 22:00] serans1 commented on #5968
And dont forget to restart.

[2017-02-12 23:47] #6804 closed

[2017-02-13 00:04] andrewharp commented on #7450
You need to add the graph to assets/ and flip the boolean USE_YOLO to true. There are instructions here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/src/org/tensorflow/demo/DetectorActivity.java#L65

Closing as there is nothing actionable here; for further TF usage queries please try on StackOverflow.

[2017-02-13 00:04] #7450 closed

[2017-02-13 01:22] zaqari opened #7455 "Tensorflow value error when setting up training_data"
Hey, I'm trying to feed a csv to tf.contrib.learn and running into a ValueError over and over again. Here's my code for the training_set variable, plus the ensuing error:

training_set = tf.contrib.learn.datasets.base.load_csv_with_header(
	filename = MET_TRAINING,
	target_dtype = np.float,
	features_dtype = np.str)
Traceback (most recent call last):
  File "<pyshell#15>", line 4, in <module>

[2017-02-13 01:50] CryKey3 commented on #6999
Hi AlexisTm.
I had some side issues with other things not working the way I would like and wanted to share with you what I did.
I downloaded the anaconda python 3.5 from here:
https://repo.continuum.io/archive/index.html
for my install I used:
Anaconda3-4.2.0-Windows-x86_64
I then did a Pip upgrade from the cmd window:
pip - m pip install --upgrade pip
I was then able to run the command but added

[2017-02-13 01:50] shiyemin commented on #7439
I have the same issue, too. I believe distributed batch normalization is very important for some problems like action recognition. It will be very useful if Tensorflow can provide an implementation.

[Here](https://github.com/shiyemin/shuttleNet/blob/master/train_video_classifier.py#L408-L429) is my trick for train BN on action recognition, which just rearranges the sample order so that every GPU

[2017-02-13 02:11] mrry commented on #7374
@Katuali and @ferrouswheel: What command are you using to start the build? Since Eigen is header-only, we shouldn't need to build anything for it, and our [CI is currently green](http://ci.tensorflow.org/job/tensorflow-pr-win-cmake-py/), so I suspect something is different in your configuration.

Also, @Katuali, I notice that MSBuild seems to be building in `Debug` configuration. For various reaso

[2017-02-13 02:36] yaroslavvb commented on #7439
@shiyemin are approaches mentioned in @ppwwyyxx reply acceptable for your needs? This may be a good material for community contribution. If Google adds multi-GPU batch-norm it may end up optimized for their custom interconnect hardware, rather than commodity hardware.

[2017-02-13 02:57] mlucool commented on #7031
I am seeing this error when running this example for the udacity course: [/examples/udacity/6_lstm.ipynb](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/udacity/6_lstm.ipynb)

[2017-02-13 03:19] shiyemin commented on #7439
@ppwwyyxx @yaroslavvb As far as i know, shuffling the training data is not enough for tasks like action recognition. Because that one GPU can only handle 2 videos (each video have 16 frames), which is a too small batch size for calculating the mean and variance. That's the reason i shuffle the batch itself at each step. After go through the CNN, the batch will be rearranged to its original order t

[2017-02-13 03:50] fesun commented on #7353
@girving @mrry hey guys, are you taking care of this issue? if you have no time, please give some advice and i will try my best to debug it.

[2017-02-13 04:37] mrry commented on #7353
@fesun Thanks for sending over the thread stacks. Unfortunately, there doesn't seem to be anything informative in the parameter server stack... all threads appear to be blocked waiting for more work (or in `tf.Server.join()`).

The most important observation seems to be that creating a `tf.train.Saver` with `sharded=True` is a more stable configuration than `sharded=False`, especially when the tot

[2017-02-13 04:43] YiMX opened #7456 "Training using multiple GPUs returns Inf values for loss and Nan for grads."
I have two Tesla K80 cards (2 GPUs per card) and I spent few days testing a MNIST classification model using multiple GPUs. What I found is that the training process would always diverge (got Nan for grads and Inf for loss) when I use two GPUs which are in the same card, however when I allocated two GPUs to my training operation from different cards, it would lead to convergence. By the way, every

[2017-02-13 05:00] #202 closed

[2017-02-13 05:07] gunan commented on #7453
Ill let @mrry @guschmue comment.
I think there is an incompatibility (due to the versions of visual studio they are compiled with) between cuda versions anything lower than 8 and python.

[2017-02-13 05:08] CryKey3 commented on #3043
Results:
runfile('C:/Users/3/Documents/Python Scripts/TensorFlow/mnist_basic1.py', wdir='C:/Users/3/Documents/Python Scripts/TensorFlow')
Extracting MNIST_data\train-images-idx3-ubyte.gz
Extracting MNIST_data\train-labels-idx1-ubyte.gz
Extracting MNIST_data\t10k-images-idx3-ubyte.gz
Extracting MNIST_data\t10k-labels-idx1-ubyte.gz
0.9199

Cut and Paste this:

from tensorflow.examples.tutorials.mnis

[2017-02-13 05:13] gesman opened #7457 "UnboundLocalError: local variable 'status' referenced before assignment"
The output from `python -c "import tensorflow; print(tensorflow.__version__)"`:

 python -c "import tensorflow; print(tensorflow.__version__)"
I tensorflow/stream_executor/dso_loader.cc:128] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.cc:128] successfully opened CUDA library libcudnn.so locally
I tensorflow/stream_executor/dso_loader.cc:128] succes

[2017-02-13 05:15] gunan commented on #7195
Looks like the problem is resolved in a more recent version.
Closing the issue.

[2017-02-13 05:15] #7195 closed

[2017-02-13 05:16] bl3ndom opened #7458 "Feature Request: Default project"
New default project, for anyone new to these things.
# watcher#

[2017-02-13 05:18] gunan commented on #7193
@UkiDLucas is it possible uu installed using `conda install`?
That is not an officially supported way to install. I recommend you retry installing with `pip install` even after using `conda` to create the environment.

As I also cannot reproduce the problem, can did not receive a response for 10 days now, I am closing this issue.

[2017-02-13 05:18] #7193 closed

[2017-02-13 05:24] gunan commented on #6652
@wolffg is this resoled?

[2017-02-13 05:30] #7458 closed

[2017-02-13 05:54] Bruczzz commented on #7321
Thanks a lot guys @petewarden  and @girving. Now i can compress my retrained model successfully.

@petewarden is there way to create our own model for specific task with minimal size?? Can you kindly answer me??
Because i am using inception v3 model , after compression also it is still 22MB, Can we create our own model with specific task?? or can we reduce the size further??

Thanks again.

[2017-02-13 05:58] xiatian122 opened #7459 "Decode csv failed to decode csv file with commas in cell properly."
### Environment info
Operating System: Ubuntu 16.04

Installed CUDA and cuDNN:

Tensorflow is build from source.

Tensorflow version: 1.0.0-rc2

### Problem
[code]

The data to import:
[code]

The column "name" contains comma. The tenforflow reports invalid arguments.

[2017-02-13 06:03] fesun commented on #7353
@mrry thanks for your responses.
First, I used shared=True and wrote checkpoint to hdfs, and found only one parameter server had no output without any error occurred, and as you said, the ps stacks are all waiting for more work. Also before saving checkpoint, all workers were timeout even with 100 seconds timeout. I am pretty sure that one parameter server can't response any more.
Second, each wor

[2017-02-13 06:11] guschmue commented on #7453
With vs2015 only supporting the cuda toolkit 8.0 you'd need to use vs2013.
The c99 support in vs2013 was incomplete and tensorflow makes lots of use of c99. When we started porting tensorflow we used vs2015.update1 and even that was a royal pain to get things compile - lots of little things that required code changes. With vs2015.update3 all of this went away.
Maybe not impossible to get this to w

[2017-02-13 06:13] zzks commented on #5591
Same problem. @prb12  I have set LD_LIBRARY_PATH.
BTW, I can import&use TF successfully 3 weeks ago in the same PC.
I haven't touch cuda related file. Strange...

[2017-02-13 06:15] mathfinder commented on #7357
the version of g++ is 4.7.4.which version of g++ i should head?

[2017-02-13 06:50] gunan commented on #6533
Conda repo is not controlled by us. Therefore, we cannot update it.
We are working on our installation documents to remove references to conda repos.

[2017-02-13 07:37] jhseu commented on #7227
This is a Bazel bug. Reported with a simple reproducible test case at https://github.com/bazelbuild/bazel/issues/2526

Building works with Bazel 0.4.3 or below.

[2017-02-13 08:16] JoshVarty opened #7460 "Check failed GetConvolveAlgorithms() on Windows"
I'm following through the set of Udacity Tensorflow examples.

I can run the first three without any problems, but when I use the code found in the [fourth example,](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/udacity/4_convolutions.ipynb) Python crashes and I receive a track trace that leads to
[code]

I'm using tensorflow-gpu which I've installed via: `pip install te

[2017-02-13 08:27] JoshVarty commented on #7460
After posting I re-read the error log and noticed that it suggest I upgrade CuDNN. I've upgraded to version 5.1 but I'm now seeing the following error instead:

[code]

[2017-02-13 08:37] JoshVarty commented on #7460
The last error `Check failed: s.ok() could not find cudnnCreate in cudnn DSO; dlerror: cudnnCreate not found` was due to a bad copy on my part so CUDA couldn't find the libraries it needed.

To recap for future viewers:
 1. I had to make sure I had the proper version of CuDNN downloaded. (In my case version 5.1)
 2. Once I had downloaded and extracted CuDNN, I had to ensure that `cuda/bin` was dis

[2017-02-13 08:37] #7460 closed

[2017-02-13 09:31] TimZaman commented on #533
So what's this then https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/resize_bilinear_op_gpu.cu.cc

[2017-02-13 09:35] wonderzy commented on #2807
@petewarden I ran the benchmark mentioned above on 32-bit ARM using the google inception model.But I got the result below, it shows that the 8-bit quantized graph is much slower than the 32-bit float one. Is this result the reasonable one and what's the performance of the latest version on 32-bit ARM. This really bothered me a lot. Looking forward to your response. Thanks.

**fp result:**

native

[2017-02-13 10:01] andreas-eberle commented on #4044
I'm also experiencing this problem when trying to load a previously frozen facenet graph. Is there any progress on this? Is there a way to help debug this issue?

[2017-02-13 10:03] carlthome opened #7461 "Add aliases to make layer names more consistent?"
In the new [layers API](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/layers/layers.py) the convolutional layers have short names (conv1d, conv3d, etc.) while the pooling layers have full names (max_pooling1d, average_pooling3d, etc.) which seems inconsistent. tf.contrib.layers had aliases. Could something like that be added in to the core layers too?

E.g.
[code]
and so o

[2017-02-13 10:04] carlthome commented on #7461
Or preferably just settle on a naming convention (full names) instead, and never shorten it.

[2017-02-13 10:09] ansu1234 opened #7462 "ValueError: Variable d_bn1/d_bn1_2/d_bn1_2/moments/moments_1/mean/ExponentialMovingAverage/biased does not exist"
I am trying to run the model from here, http://bamos.github.io/2016/08/09/deep-completion/ , but i am facing this issue. Kindly suggest some approach.
Traceback (most recent call last):
  File "train-dcgan.py", line 39, in <module>
    is_crop=False, checkpoint_dir=FLAGS.checkpoint_dir)
  File "/Users/asuma2/Code/GAN/ImageCompletion/dcgan-completion.tensorflow/model.py", line 65, in __init__
    s

[2017-02-13 10:14] carlthome commented on #6604
@mrry are you referring to [training hooks](https://www.tensorflow.org/versions/master/api_docs/python/train/training_hooks) with `tf.train.MonitoredSession`?

[2017-02-13 10:14] andreas-eberle commented on #3628
Might this issue be related to / the same as #4044?

[2017-02-13 10:23] chadland commented on #7306
Did you manage to resolve this issue? I am facing the same problem on Windows Server 2012.

[2017-02-13 11:25] davideb91 commented on #7419
@andrewharp In asset folder (tensorflow/tensorflow/examples/android/asset) there are only label and graph file of my retrained model, and I haven't found any file named imagenet_comp_graph_label_strings.txt in tensorflow/*.
With a grep command I found the string ("imagenet_comp_graph_label_strings.txt") in these files:

tensorflow/tensorflow/java/src/main/java/org/tensorflow/examples/LabelImage.ja

[2017-02-13 11:59] kvrd18 commented on #7439
@yaroslavvb, in Torch, the weights updates for each module in a replica are accumulated and summed together on the first replica. Owing to Torch's modular code base, with `BatchNormalization` being a module, its internal parameters also undergo the same computational flow as described above. Also, Torch has used NCCL to enable fast inter-GPU communication.

To define a model in Torch, you would do

[2017-02-13 12:01] mawah commented on #7306
Sorry @chadland, no progress yet. Not sure if @rohan100jain or @mrry need more information to repro the problem?

[2017-02-13 12:11] chadland commented on #7306
Thanks for letting me know @mawah

[2017-02-13 12:42] lemmonation opened #7463 "Initialize error in 0.12.1"
I run my code well under Tensorflow 0.10, but after I update the version to 0.12.1, all the variables throws a `FailedPreconditionError (see above for traceback): Attempting to use uninitialized value W` error. And my code is  unchanged except I use` tf.global_variables_initializer()` instead of `tf.initialize_all_variables()`. I tried to add `tf.GraphKeys.VARIABLES = tf.GraphKeys.GLOBAL_VARIABLES

[2017-02-13 13:07] colmantse commented on #6469
Hi, I am using r.12.0 and I switched to branch r.12.0 as suggested, this saved me from the loads of trivialities encountered previously but the 420x400 dimension prob persists, would be great if anyone can help!

[2017-02-13 13:35] ppwwyyxx commented on #7439
@kvrd18 What you described is the general case for most modules in torch. However for batch normalization, my best understanding is that torch by default doesn't synchronize the mean/variance among GPUs, but only the other two parameters (scaling and shifting).
Relevant issue here: https://github.com/torch/nn/issues/1071

[2017-02-13 13:52] ppwwyyxx commented on #4526
@zheng-xq

Now the stage/unstage operators are added to TF, but they seem to require an extra client side thread indeed. Can you share what's the plan about it (or if there is a solution already)?

[2017-02-13 13:54] davideb91 commented on #7419
Solved!
Problem was in `tensorflow/tensorflow/examples/android/src/org/tensorflow/demo/ClassifierActivity.java`
I had to set dependencies to my model.
Thanks Andrew for help

[2017-02-13 13:57] andrewharp commented on #7419
Great!

[2017-02-13 13:57] #7419 closed

[2017-02-13 14:07] davideb91 opened #7464 "Android Camera Demo sometimes doesn't works"
I have built Tensorflow Android Camera Demo with a custom model.
Sometimes the app works correctly on my phone, but at other times it gives error and is terminated.
These are my adb logcat:
[code]
How can I solve this problem?

[2017-02-13 14:12] andrewharp commented on #7464
It looks like the yuv>RGB conversion is breaking. What sort of device are you using? On some 5.0 devices only the Y plane gets returned, resulting in a greenish image.

[2017-02-13 14:13] clizarralde opened #7465 "Library not loaded: @rpath/libcudart.8.0.dylib"
Hi! Tensorflow is not properlly installed.

Here's the output of: python -c "import tensorflow; print(tensorflow.__version__)"

dyld: warning, LC_RPATH $ORIGIN/../../_solib_darwin/_U@local_Uconfig_Ucuda_S_Scuda_Ccudart___Uexternal_Slocal_Uconfig_Ucuda_Scuda_Slib in /Library/Python/2.7/site-packages/tensorflow/python/_pywrap_tensorflow.so being ignored in restricted program because it is a relative

[2017-02-13 14:16] davideb91 commented on #7464
I'm using Android 6.0. The strange thing is that I have this error only sometimes

[2017-02-13 14:21] yuvval opened #7467 "Feature request: Add early stopping mechanism to slim.evaluation_loop"
Would it be possible to add early stopping mechanism to slim.evaluation_loop?

[2017-02-13 14:22] gdelab commented on #383
I have the same problem when I try to restore a graph trained on a different machine, although it works on the same machine.
More precisely,  I get
`KeyError: 'VariableV2'`
on the tf.train.import_meta_graph

`    tf.reset_default_graph()
    with tf.Session() as sess:
        # Restore graph
        saver = tf.train.import_meta_graph(model_filename_path)
        saver.restore(sess, path_to_ckpt)
`

[2017-02-13 14:26] andrewharp commented on #7464
Thats odd then. When you turn on debug mode (volume button), does the thumbnail image appear normal?

[2017-02-13 14:45] davideb91 commented on #7464
I don't know if thumbnail image appear normal. This is what I see: https://storage.googleapis.com/tensorflow_android_demo/Screenshot_20170213-154631.png

[2017-02-13 14:58] andrewharp commented on #7464
That's is definitely abnormal. The stride is wrong and the green noise at the bottom is uninitialized data. It's crashing when it tries to access data that it shouldn't be reading from, apparently because the image is a different res than it thinks it is. It's hard to tell just from this image, but does the preview seem stretched on screen as well?

The question is why there's a mismatch. You migh

[2017-02-13 15:24] llhe commented on #6116
@ctiller I encountered some issues when I try to include grpc as a bazel submodule:
1. duplicated symbols, for example, `grpc_register_built_in_plugins` is defined both in `grpc_unsecure_plugin_registry.c` and `grpc_plugin_registry.c` which are both included in `grpc++_unsecure` target, there more than one such cases, see [all the hacking fix here](https://github.com/llhe/tensorflow/blob/19bf520f3

[2017-02-13 15:27] mrry commented on #6604
@carlthome Hooks are the main way to add features to a `tf.train.MonitoredSession`, yes. It's possible that such a feature would require changes elsewhere, but I'll let @ispirmustafa comment on that.

[2017-02-13 15:32] llhe commented on #6116
The benchmark result posted here https://github.com/tensorflow/tensorflow/pull/7466

[2017-02-13 15:37] soloice opened #7469 "docs: batch normalization usage in slim"
How to use batch normalization in the testing phase?

I tried to use batch normalization to train a model like this:
[code]
But when I finished training and restored my model from checkpoint files, the model's performance on the testing set was poor, just like random guessing.

If these parameters are not dumped as model variables, is it possible to make an example to illustrate how to use batch n

[2017-02-13 15:45] alextp commented on #7403
There is no fundamental issue, simply no one has implemented it yet. We should figure out a way fo back off from these fused implementations when things like second derivatives are requested.

In this case I think the right answer for now is to not use tf.softmax_cross_entropy_with_logits

[2017-02-13 15:50] girving commented on #7404
@ebrevdo Is there an easy way to produce a nicer error message here, so that users don't have to guess the graph vs. metagraph issue?

[2017-02-13 15:54] girving commented on #5726
They are fixed at HEAD: https://www.tensorflow.org/versions/master/api_docs/python/nn/evaluation.

[2017-02-13 15:58] girving commented on #533
Looks like someone did it, at least for bilinear.  @panmari Should this be closed, or are there missing ones?

[2017-02-13 15:58] davideb91 commented on #7464
Here you can find the full log, with all error and warning:
https://storage.googleapis.com/tensorflow_android_demo/log.txt
and here the log, with all error, warning and info:
https://storage.googleapis.com/tensorflow_android_demo/log_info.txt

My device is a Samsung Galaxy S6.

Maybe these errors are a problem of my phone. If I use others devices the app seems to work correctly and the thumbnail i

[2017-02-13 16:01] girving commented on #7357
@mathfinder Looks like gcc 4.9, or any recent version of clang.

[2017-02-13 16:01] #7357 closed

[2017-02-13 16:33] petewarden commented on #7150
Are you only trying to shrink the file size, rather than reduce latency? If so, try using "quantize_weights" rather than "quantize_nodes" in your call to the graph transform tool. That will store the parameters as eight bit, but use float calculations inside the graph (expanding the weights to floats the first time the graph is run). That might help your accuracy problems.

[2017-02-13 16:39] petewarden commented on #7321
If you look at the Slim library, there's a pretrained Inception v1 model that only has seven million parameters and so shrinks down to 7MB. You might want to try fine-tuning that.
https://github.com/tensorflow/models/blob/master/slim/README.md#Pretrained

[2017-02-13 16:58] mrry commented on #7306
Unfortunately I don't have easy access to a Windows Server 2012 box, so I haven't been able to reproduce the problem you are seeing. There is no obvious platform dependence in the `file_io` library that would explain different behavior on Windows Server 2012 and Windows 10.

@rohan100jain, since you wrote that library, can you suggest what steps could be useful to debug this further?

@mawah, base

[2017-02-13 17:00] ebrevdo commented on #7404
Yes; I believe that the forward_ctxt object here:

forward_ctxt.outer_context

should have a @property outer_context; and if no such internal object is
set, it can raise a ValueError/InternalError that maybe you're trying to
call gradients on a while loop without properly serializing your graph via
MetaGraphDef.

On Mon, Feb 13, 2017 at 7:51 AM, Geoffrey Irving <notifications@github.com>
wrote:

[2017-02-13 17:17] bazinac commented on #7150
Actually that is what I did. First I stripped graph, then rounded weights (round_weights(num_steps=256)')
and then quantized weights using:

`bazel-bin/tensorflow/tools/graph_transforms/transform_graph --in_graph=/tmp/rounded.pb --out_graph=/tmp/eightbit.pb --inputs='Mul:0' --outputs="final_result_musoth,final_result" --transforms='quantize_weights'`

However, after this step, it is not accuracy p

[2017-02-13 17:33] aselle commented on #5310
Thanks!

[2017-02-13 17:34] andrewharp commented on #7452
@AndreyRub Thanks for the catches! I had not known what to expect from the tiny YOLO graph, so I just chalked any performance issues up to it being much smaller than the regular graph. Fix incoming.

Re: #3, the non-max suppression is performed in DetectorActivity using the same logic as the default MultiBox detector.

[2017-02-13 17:35] taion commented on #6968
Would it be possible to rebuild the Docker images on gcr.io? The underlying `nvidia/cuda:8.0-cudnn5-devel` uses Ubuntu 16.04 now, but the `gcr.io/tensorflow/tensorflow:1.0.0-rc2-devel-gpu` image still uses Ubuntu 14.04.

[2017-02-13 17:39] yaroslavvb commented on #533
PS resize bilinear and resize bicubic GPU implementations are slow (about 2 seconds for resizing to 1280 x 1280, same as on CPU), when we switched to nearest neighbor, it made our CNN run 10x faster

[2017-02-13 17:40] aselle commented on #7422
As we've gotten to 1.0, there is now more careful review of API additions. I'm also working on finishing up a proposal on sub-modules and aliases. My feeling is that we should probably minimize what we add to the root tf namespace (even NumPy compatible aliases/macro functionality) and defer those to the planned numpy submodule. The idea would be that you get more numpy compatible names in the num

[2017-02-13 17:42] aselle commented on #4361
Closing due to lack of recent activity. Please update the issue if it persists and we will reopen.

[2017-02-13 17:42] #4361 closed

[2017-02-13 17:42] aselle commented on #7034
Closing due to lack of recent activity. Please update the issue if it persists and we will reopen.

[2017-02-13 17:42] #7034 closed

[2017-02-13 17:42] aselle commented on #6982
Closing due to lack of recent activity. Please update the issue if it persists and we will reopen.

[2017-02-13 17:42] #6982 closed

[2017-02-13 17:43] aselle commented on #6967
Closing due to lack of recent activity. Please update the issue if it persists and we will reopen.

[2017-02-13 17:43] #6967 closed

[2017-02-13 17:43] aselle commented on #6946
Closing due to lack of recent activity. Please update the issue if it persists and we will reopen.

[2017-02-13 17:43] #6946 closed

[2017-02-13 17:44] aselle commented on #6879
Closing due to lack of recent activity. Please update the issue if it persists and we will reopen.

[2017-02-13 17:44] #6879 closed

[2017-02-13 17:44] aselle commented on #6644
Closing due to lack of recent activity. Please update the issue if it persists and we will reopen.

[2017-02-13 17:44] #6644 closed

[2017-02-13 17:46] aselle commented on #6812
Closing due to lack of recent activity. if you provide additional information, we can reopen this. Thanks!

[2017-02-13 17:46] #6812 closed

[2017-02-13 17:47] aselle commented on #6399
Closing due to lack of recent activity. if you provide additional information, we can reopen this. Thanks!

[2017-02-13 17:47] #6399 closed

[2017-02-13 17:49] jhseu commented on #6968
I'm updating all the Docker images, but the gcr.io ones won't be updated until after 1.0. In the meantime, you can start from nvidia/cuda:8.0-cudnn5-devel-ubuntu16.04 and just add RUN pip install tensorflow_gpu

[2017-02-13 17:50] mjlm commented on #5994
I got the same error when trying to install TensorFlow with a Python installation that was not the default one on the system. Adding the desired version to the path solved the issue, e.g. with:
[code]

In my case, I was using python 3 and there was no file in my /bin folder that was just called `python`, so I added a symlink:
[code]

[2017-02-13 17:57] taion commented on #6968
Sorry, I mean the Docker images for the 1.0.0 RCs specifically – or at least any upcoming ones?

This is actually a bit weird to me, because the `nvidia/cuda:8.0-cudnn5-devel` (with no OS suffix) image on Docker Hub has been pointing at Ubuntu 16.04 since at least 24 days ago, which predates all the TensorFlow 1.0.0 RC releases.

[2017-02-13 17:58] aselle commented on #6039
Closing this issue as it is a dupe  of #5527

[2017-02-13 17:58] #6039 closed

[2017-02-13 17:59] aselle commented on #5527
@benoitsteiner, are you planning to improve the numerical accuracy of reduce_sum, or should we mark it contributions welcome. The naive implementation is certainly not "incorrect" but it would be better for it to use multiple accumulators, magnitude ordering partial sums or whatever.

[2017-02-13 18:37] kevinashaw opened #7470 "Android: Multiple dex files define Lorg/tensorflow/contrib/android/TensorFlowInferenceInterface"
I am getting the following error regarding the TensorFlowInferenceInterface only when I try to build an APK in Android Studio (on MacOS).  But when I instead just "Run app", I do not get the error and the app compiles, installs and runs just fine.  (There is also an unrelated warning shown for a CircularQueue that I am working to fix; I include it for completeness)
[code]

I am using the following

[2017-02-13 18:39] jinghuangzhu commented on #4763
Is save_checkpoints_steps now in version r1.0? I find it really useful. Thanks.

[2017-02-13 18:41] yaroslavvb commented on #7465
This issue has been reported before, if you search issues you'll find solutions (disable SIP, set DYLD_LIBRARY_PATH, etc)

[2017-02-13 18:42] #7465 closed

[2017-02-13 18:46] yaroslavvb commented on #6729
To summarize for new users who find this:

On MacOS you need to do this:

1. Disable SIP (Security Integrity Protection)
2. Set environment variables point to your CUDA installation

ie,
[code]
Furthermore, if you are running TF through `bazel` as in `bazel test`, you need to make sure those env vars are propagated, by using `--action_env` flags

`bazel test $flags --action_env PATH --action_env L

[2017-02-13 18:48] junshi15 commented on #2916
We recently released a package called TensorflowOnSpark (https://github.com/yahoo/tensorflowonspark), which includes a RDMA implementation for tensorflow (https://github.com/yahoo/tensorflow/tree/yahoo/tensorflow/core/distributed_runtime/rdma).

The RDMA implementation is not based on MPI, but rather based on ibverbs C++ API. We keep the GRPC protocol for cluster setup, graph exchange, etc, but re

[2017-02-13 19:10] matteson commented on #1062
+1 for this issue (general tensordot). I ran into wall on something I was implementing that would really benefit from this.

[2017-02-13 19:19] girving commented on #1062
@rmlarsen matmul and batch_matmul are merged, right?  That was the major issue blocking this in the past, so I think it would be straightforward to add.  I believe we would need to extend our matmul to handle 1-D tensors on either side, but this would be a welcome change at least to me.

Cc @aselle since this is related to numpy compatibility.

[2017-02-13 19:20] mawah commented on #7306
Thanks @mrry,

I also get a length of "10" using `file_io.stat()` on both Windows 10 and Windows Server 2012 with the code snippet below:
[code]
Evidently the problem lies elsewhere. I'm not sure where to find the definition of `pywrap_tensorflow`, which I would have examined next...thought it would be defined under the `[site-packages]\tensorflow\python` directory, but I'm having trouble locating

[2017-02-13 19:23] ahundt commented on #7449
Here is the full output of that command:
https://gist.github.com/ahundt/ec233276360962b1317a36c2054d933c

Key lines:
[code]

Thanks, I didn't know that about the bazel flags, I usually use cmake so I'm not super sure of the particulars of bazel.

Based on what you are saying this may also have something to do with either the gcc version or how my gcc is configured/compiled and not just which flags

[2017-02-13 19:29] anfeng commented on #2916
Please checkout this [RDMA enhancement ](https://github.com/yahoo/tensorflow/blob/yahoo/tensorflow/core/distributed_runtime/rdma/rdma_readme.md)of TensorFlow mentioned by @junshi15. You could use it independent of TensorFlowOnSpark.

It is designed to work in a cloud setting, where a set of nodes are dynamically allocated.
That's why we avoid MPI option.

[2017-02-13 19:30] andrewharp commented on #7150
I noticed that [quantize_weights.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/quantize_weights.cc#L85) has:
 `max = min / 2.0f;`
while [round_weights.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/round_weights.cc#L88) has:
 `min = 2.0f * max;`
Could this be related?

[2017-02-13 19:34] zheng-xq commented on #4526
The plan is not to have separate python threads driving them, but to embed the parallelism in the graph. We will publish some scripts demonstrate how to do this in near future. Stay tuned.

[2017-02-13 19:38] andrewharp commented on #7470
It sounds like you have a compiled version of TensorFlowInferenceInterface also on your classpath somehow, which would mean it wouldn't show up when you search your .java files -- probably the very .class file you've decompiled here?

Btw It's not necessary to recreate the src file manually: you can grab the source from contrib/tensorflow/android/java/... or just download the [prebuilt jar](https:

[2017-02-13 19:38] bazinac commented on #7150
@andrewharp: is this question to me or to pete? I coud barely answer I understand the this script code jsut poorly, please treat me as BFU :D

[2017-02-13 19:39] jhseu commented on #6968
Yeah, Docker caches image versions and we had 14.04 cached. @caisq is planning to upgrade those.

[2017-02-13 19:41] jhseu commented on #6116
Nice! More than 3x faster for large Tensors.

[2017-02-13 19:43] jhseu commented on #6116
Looks like it also may have some regressions (but perhaps within noise). I'll run it on our benchmark machines.

[2017-02-13 19:43] andrewharp commented on #7150
@bazinac Primarily for @petewarden, but you might try changing them both to match each other (for both versions) and see if anything improves.

[2017-02-13 19:46] bazinac commented on #7150
Ok will do, thanks for your support,

[2017-02-13 20:10] andrewharp commented on #7464
Does the preview appear to be rotated? If so, it's probably treating it as a 320x480 image rather than a 480x320 image.

Can you try hardcoding sensorOrientation in [ClassifierActivity.java](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/src/org/tensorflow/demo/ClassifierActivity.java#L147) to be 0? My guess is that this device is returning incorrect info about th

[2017-02-13 20:12] bxshi commented on #7455
Not sure if I understand your question, but this may more suitable for a SO question instead of an issue.

Seems you are trying to convert the text string `conflict` to an integer. You may want to write your own parser instead of simply using the `int()` function since you said you will have categorical values.

Do something like `n_samples = 0 if header[0] == 'conflict' else 1`.

[2017-02-13 20:22] neotheicebird opened #7473 "Jupyter notebook: Kernel dies when running timeline trace [Nvidia-docker]"
I am trying to use timeline to profile GPU memory usage on an EC2 instance using Tensorflow-Gpu Nvidia-Docker. When I add a few lines to my notebook which runs a convNet, it keeps restarting with a "Kernel died" message.

Some of the changes I made:
[code]

[code]

[2017-02-13 20:46] altosaar opened #7474 "Gradient of gamma log pdf is broken"
[code]
It looks like this happens because Gamma samples can be negative:
[code]
Happy to run more tests to figure out this issue.

Update: quick fix thanks to @ebrevdo -
```z = z + np.finfo(z.dtype.as_numpy_dtype).tiny```

[2017-02-13 20:52] yaroslavvb commented on #7449
cc @martinwicke who troubleshooted (troubleshot?) similar issues in the past

[2017-02-13 20:56] mrry commented on #7306
Thanks for checking that. Does the file also have size 10 if you `dir` it at the command prompt?

Can you also try printing each individual character of that file, using code like the following:

[code]

I'd expect this to crash with an error when it eventually goes beyond the end of the file, but it would be interesting to learn where this happens....

[2017-02-13 21:06] mrry commented on #7353
Is it always the same PS task that fails to write a checkpoint? Does it fail on the first attempt to write a checkpoint, or does it fail non-deterministically at some point during training?

What were the workers doing that timed out?

How did you confirm this? Can you try running a step on that PS task, e.g. to fetch a single variable that's held on that task?

Which mechanism do you use for this

[2017-02-13 21:11] normanheckscher commented on #6729
I have not disabled SIP on my current OSX install. I can compile TensorFlow from the head and release branches successfully.

[2017-02-13 21:28] cancan101 commented on #7469
When training are you using: `slim.learning.create_train_op(loss, optimizer)` ?

[2017-02-13 21:29] cancan101 opened #7476 "Implement Batch Renormalization in TF"
See paper: https://arxiv.org/pdf/1702.03275.pdf
Keras implementation: https://github.com/ajbrock/Neural-Photo-Editor/blob/master/layers.py#L35

[2017-02-13 21:29] joethompson1961 commented on #6742
I encountered the same problem just now.  how do I fix it?

[2017-02-13 22:01] fabienbaradel commented on #7311
Same issue for me. Increasing size of protobufs would be great :)

[2017-02-13 22:02] mawah commented on #7306
Thanks again @mrry. This certainly cleared up something for me. The following fails (regardless of whether the filepath is relative or absolute, and I did double-check that the file is still present):
[code]
...which fully explains the origin of the OutOfRangeError on attempting to read from the file. (Unsurprisingly, I got that error again if I simply tried to read from `f` one character at a tim

[2017-02-13 22:02] jimfleming opened #7477 "Add support for custom queue runners"
I have a custom implementation of `QueueRunner` but right now TF complains when serializing:

The use case for the implementation is to take advantage of automatic thread starting from `Experiment`, `Supervisor`, `managed_session`, etc.

I could inherit from `QueueRunner` but a `QueueRunnerBase` would be ideal as much of the existing implementation assumes the use of `enqueue_ops`.

As an example,

[2017-02-13 22:47] rohan100jain commented on #7306
Okay so one bug clearly is that the tell() method (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/lib/io/file_io.py#L147) needs to do a _preread_check() and not just check for _read_check_passed. That should fix the problem with Tell().

It should look like...

def tell(self):
    """Returns the current position in the file."""
    self._preread_check()
    return self._rea

[2017-02-13 23:13] mawah commented on #7306
Hi @rohan100jain and @mrry ,
I added a call to `f._preread_check()`. Even so, looks like the `for` loop crashes while trying to read the first byte:
[code]
Output:
[code]

[2017-02-14 00:06] szym opened #7480 "preprocessor definition clash with glog"
CHECK macros from `platform/logging.h` leak out into `core/public` headers which clash with users of glog.

One path is through `core/platform/allocator.h`:
[code]
This one is easy to fix by moving method implementation to allocator.cc.

Another is through `core/lib/core/status.h`.
[code]

This one is more work to fix because `TF_CHECK_OK` is used all over the code, but it does not seem to be nece

[2017-02-14 00:16] szym commented on #7480
It looks like there's no need for `TF_CHECK_OK(...) << "message"`, so this could be replaced with
[code]

[2017-02-14 00:17] yaroslavvb commented on #7477
@jimfleming do you have a solution in mind? (ie, is it an issue of an internal check being unnecessarily strict?)

[2017-02-14 00:27] jimfleming commented on #7477
That may be one issue and possibly a feature request for a `QueueRunnerBase` or for a more general thread runner. I haven't yet looked at what is involved with serialization so the check may be valid, in the case of my custom runner, particularly as it has not been tested in a distributed setting.

I'm open to suggestions for how to proceed and if a pull request is warranted I can put one together

[2017-02-14 00:30] tompfeil opened #7482 "Feature request: enable modification of data in tfrecord files"
It would be nice to be able to append or remove samples to or from an existing set of samples saved in a tfrecords file. Otherwise the file has to be duplicated, which is unpractical for datasets >> 1TB.
Formulated in a more generalized way, this can also be seen as splitting and concatenating tfrecord files.

[2017-02-14 00:31] liangwang opened #7483 "sparse_placeholder failed when specifying shape"
When trying to create a sparse placeholder, exception raised if specifying the `shape` parameter:
[code]
Exception reads like:
[code]

Is this a bug?

[2017-02-14 00:38] yaroslavvb commented on #7477
An alternative to "queuerunnerbase" is to implement it as new object and use duck typing to make it work with tensorflow serialization. The amount of stuff in QueueRunner is quite small, I'm not sure if it's worth using inheritance as opposed to "copy paste the needed bits"

[2017-02-14 00:40] Goddard commented on #67
Am I missing something, but I am being sent to http://zlib.net/zlib-1.2.8.tar.gz, but this is 404.

[2017-02-14 00:41] jeffhammond commented on #2916
@anfeng What specific issues do you see with using MPI in a cloud setting?

MPI has supported dynamic process management since version [MPI 2.0](http://mpi-forum.org/docs/mpi-2.0/mpi2-report.pdf), which was released in 2003.  Granted, high-quality support for functions like [MPI_Comm_spawn_multiple](https://linux.die.net/man/3/mpi_comm_spawn_multiple) has not always been widely available, but that

[2017-02-14 00:44] Goddard opened #7484 "zlib-1.2.8.tar.gz 404 NOT FOUND"
Am I missing something, but I am being sent to http://zlib.net/zlib-1.2.8.tar.gz, but this is 404.  I think they are forcing installing 1.2.11 because of a bug?

[2017-02-14 00:50] jart commented on #67
@Goddard I believe I fixed our workspace.bzl file to update those URLs a couple weeks ago. Chances are you're tracking an old branch. Please pull the latest code.

[2017-02-14 00:58] jimfleming commented on #7477
I agree that it's quite small. It looks like [`add_queue_runner`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/queue_runner_impl.py#L365) and [`start_queue_runners`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/queue_runner_impl.py#L383) wouldn't be affected. [`QueueRunnerDef`](https://github.com/tensorflow/tensorflow/blob/maste

[2017-02-14 00:58] fenrus75 commented on #7116
$ diff -u ./tensorflow-1.0.0-rc2/third_party/eigen3/unsupported/Eigen/CXX11/src/FixedPoint/PacketMathAVX512.h.org ./tensorflow-1.0.0-rc2/third_party/eigen3/unsupported/Eigen/CXX11/src/FixedPoint/PacketMathAVX512.h
--- ./tensorflow-1.0.0-rc2/third_party/eigen3/unsupported/Eigen/CXX11/src/FixedPoint/PacketMathAVX512.h.org     2017-02-14 00:58:37.005624958 +0000
+++ ./tensorflow-1.0.0-rc2/third_party

[2017-02-14 01:00] avader906 commented on #2916
Let them stare on to shadows. Everything in that thread - including
theoretical speedup from various interconnect / distributed computing stack
combinations can be calculated with a piece of paper. Latencies are known
at every point and so is bandwidth. Scalability factors could be
approximated from various benchmarks around there. If you give people
numbers and they resist, the issue is something

[2017-02-14 01:54] #7484 closed

[2017-02-14 01:56] llhe commented on #2916
@junshi15 Could this difference caused by this issue: https://github.com/tensorflow/tensorflow/issues/6116?

[2017-02-14 02:43] act65 opened #7486 "Contrib breaks rendering with gym"
Using; pyenv, python 3.5.2, tensorflow 0.12, gym 0.7.3, ubuntu 14.04.5 lts, pyglet 1.2.4.

(1) Runs perfectly fine. I see a little game of pong...
[code]

***
(2) _Raises_: `ImportError` from pyglet.gl due to `'NoneType' object has no attribute 'decode'` in pyglet/compat.py.
[code]

I doubt the problem is tf.slim. But one of the contrib modules seems to break `pyglet.gl`.

[2017-02-14 02:51] inflation commented on #7031
@mlucool `tf.concat` has changed the order of parameters. You can check the doc to see the difference.

[2017-02-14 03:11] mlucool commented on #7031
Ah that solved it! Thanks! I should have downloaded from the 0.12.1 tag to be sure

[2017-02-14 03:19] #7452 closed

[2017-02-14 03:24] monajalal commented on #5816
@yaroslavvb can you please have a look at this?
https://github.com/endernewton/tf-faster-rcnn/issues/7

[2017-02-14 03:32] yaroslavvb commented on #5816
It looks pretty good!

[2017-02-14 03:41] monajalal opened #7488 "AttributeError: 'module' object has no attribute 'histogram' when using tf-faster-rcnn"
Please have a look at this issue and let me know if you know how to fix it?
[code]

### Environment info
Operating System:
[code]

Version of TF:

[code]

The output of `bazel version`
[code]
CUDA8

[2017-02-14 03:46] junshi15 commented on #2916
@llhe I think there are two causes. First, infiniband RDMA is faster than Ethernet. Second, the problem you highlighted in issue #6116. Our work was based on TF 0.12.1, the new GRPC patch was not applied.

[2017-02-14 03:49] monajalal commented on #5816
@yaroslavvb I didn't know if Jupyter notebook is open I'll get this error, even though GPU wasn't being used there (was used a day ago for a training using TF).

[2017-02-14 04:24] 0x454447415244 commented on #2146
@matth I just tried it and I can't see an improvement in speed. I see the CPU utilization is the same in both cases (`tf.nn.ctc_loss` and `warpctc_tensorflow.ctc`).

[2017-02-14 05:01] guoying1030 opened #7489 "how to use baidu wrap-ctc on tensorflow?"
when i use tensorflow ctc, i find it is very slow,,,
so i want use baidu wrap-ctc on tensorflow,

but how to write code?

when i use tensorflow ctc, i write it:
    print logits.get_shape()
    logits = tf.reshape(logits, [batch_size, -1, nout])
    logits = tf.transpose(logits, (1, 0, 2))
    print 'logits shape is '
    print logits.get_shape()
    labels = tf.SparseTensor(indices=label_idx, val

[2017-02-14 05:06] 0x454447415244 opened #7490 "Can't restore previous models"
I installed Tensoflow from source. I can't restore previous models saved with precompiled Tensorflow (installed via pip). I get lots of these:

[code]

Any idea?

[2017-02-14 05:20] dremaker52 commented on #7453
Thank you for your response, I will try copying dlls and update drivers.

[2017-02-14 05:32] byronyi commented on #2916
@junshi15 I am very interesting to test out your RDMA implementation. However I see difference only on C++ part; did you provide any interface for Python API users to use your RDMA implementation?

[2017-02-14 05:38] aghasd5 commented on #7195
@mrry
Can you try upgrading to the 1.0.0rc version of tensorflow-gpu? There were some buggy GPU kernels in the 0.12 release that caused similar failures.

from where may i install 1.0.0rc version of tensorflow-gpu.

[2017-02-14 06:20] gunan commented on #7195
I assume you are asking us to update our binaries uploaded to pypi.
We will update those once we verify that rc(release candidate) versions are sufficiently stable.
Until then, please Use the URLs here to download our pre-built binaries for different operating systems:
https://www.tensorflow.org/versions/r1.0/get_started/os_setup#pip_installation

[2017-02-14 06:28] zero2hero2020 opened #7491 "BatchNormalization error with keras"
Hello,
I use keras and tensorflow backend and ran into error with the follow code:
seq.add(LSTM(256,
input_shape=(length, dim),
activation='tanh',
return_sequences=True))
seq.add(BatchNormalization(
mode=0,
axis=1))
the eroor message is:
File "D:\SciSoft\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\constant_op.py", line 165, in cons
tant
tensor_util.make_tensor_proto(val

[2017-02-14 06:43] leakyrelu opened #7493 "Build issue with bazel "bazel_bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg""
[code]

[2017-02-14 06:49] rmlarsen commented on #7289
@girving FYI: I'm fixing this internally and will get it pushed to github. port::ScopedSetRound was kind of broken.

[2017-02-14 06:49] #7289 closed

[2017-02-14 07:20] nehardave opened #7494 "TensorBoard Projector does not work on Mac"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

<img width="1440" alt="screen shot 2017-02-14 at 12 49 12 pm" src="https://cloud.githubusercontent.com/assets/25763469/22919144/130df352-f2b4-11e6-8eb5-86d8b886e64f.png">

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and

[2017-02-14 08:10] nukuok commented on #4640
I modified the camera sample to let it run on photos and succeeded to build in x86_64 on Sierra by following workaround.

[code]

Although nonsence, values were picked from
"15.0.0" => "brew info gcc; ls /usr/local/Cellar/gcc/*/bin"
"16.4.0" => "uname -r"

[2017-02-14 08:59] soloice commented on #7469
Thanks for your reply.
I used `train_step = tf.train.GradientDescentOptimizer(0.5).minimize(cross_entropy)` in my code. After I saw your comment, I changed it into `slim.learning.create_train_op`, but it didn't work either.

This is my current [code](https://github.com/soloice/mnist-bn/blob/master/mnist_bn.py) (I've figured out the canonical way to use a normalizer to pass its parameters using `no

[2017-02-14 09:16] shishaochen commented on #7353
@mrry I am quite interested in the TensorFlow cluster scale in Google. What is the largest number of TensorFlow worker process have you Google guys used for model training? And what is the upper bound of QPS can a parameter server handle? Your experience may help our deciding machine count.

[2017-02-14 09:38] panmari commented on #533
I did the implementation for nearest neighbor in #588 (funny enough, blame doesn't show me anymore). That algorithm is good enough for my purposes and I've been using it since. So from my side, we can close this bug @girving. But there might be others that want fast implementations for other algorithms such as @TimZaman. Maybe I'll come around and do some benchmarking of the current implementation

[2017-02-14 10:20] mkabra commented on #7378
Importing tensorflow first didn't help. But (de-)setting CUDA_VISIBLE_DEVICES or OPENCV_OPENCL_RUNTIME individually worked. If this is an accepted solution, then feel free to close the bug.

Thanks!

And here is the stack trace if that helps:

Core was generated by `python test_warpaffine.py'.
Program terminated with signal SIGSEGV, Segmentation fault.
#0 __GI___pthread_mutex_lock (mutex=0x0) at .

[2017-02-14 10:26] wei-yuan opened #7496 "TypeError: zeros_initializer() got multiple values for keyword argument 'dtype'"
I'm trying to do distributed learning from tutorial [Inception in TensorFlow](https://github.com/tensorflow/models/tree/master/inception)

**Environment**
_Parameter Server_
Operating system : Ubuntu 16.04 LTS
Tensorflow : r 0.12
python : 2.7.12

_Worker_
Operating system : CentOS 7
Tensorflow : r 0.12
python : 2.7.5
GPU card : 2 * GTX NVIDIA 1080

but i got this error :

[code]
I checked the foll

[2017-02-14 10:40] bohemia420 commented on #6726
just FYI, this worked for me too(for Mac OS X, though) , Philippe Remy's answer here :
http://stackoverflow.com/questions/33622842/error-in-python-after-import-tensorflow-typeerror-init-got-an-unexpect

[2017-02-14 11:03] priyankamandikal commented on #7089
@abred , what's testAccSumDiff here?

[2017-02-14 11:56] abred commented on #7089
@priyankamandikal ah sorry, just some other summary, forgot to remove it, edited the first post

[2017-02-14 12:14] talk2ap001 opened #7497 "Bazel fetch issue while compiling Tensorflow"
I'm compiling Tensorflow from source. After the configure step I'm facing the following error:

This stems from the bazel_clean_and_fetch() in configure file
`bazel fetch "//tensorflow/... -//tensorflow/contrib/nccl/...
      -//tensorflow/examples/android/..."
`
Same error replicates if I do `bazel fetch //...`

My system is behind a proxy and I've set HTTP_PROXY and HTTPS_PROXY in the env.

**gi

[2017-02-14 12:38] chenleo opened #7498 "Import Tensorflow lib with Qt for Android"
I tried to import tensorflow lib into my Qt project, the build procedure was followed as described in contrib/makefile

I somehow managed with Desktop and iOS platforms, but failed with Android with linking problem:
[code]
I think this problem is because I did not reference to the std lib correctly. Could someone help me with this problem? thank you.

====
OS: macOS 10.12.3
SDK: android-21
NDK: r1

[2017-02-14 12:41] brisker opened #7499 "error when running conda create -n tensorflow python=2.7"
the error reads like:
jcc@jcc:~$ conda create -n tensorflow python=2.7
Fetching package metadata .......
Solving package specifications: ..........

Package plan for installation in environment /home/jcc/anaconda2/envs/tensorflow:

The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    openssl-1.0.2k

[2017-02-14 13:25] asross commented on #6742
The issue is that the website where MNIST is canonically hosted sometimes goes down. I think an ideal solution would be to find or set up a mirror, then fall back to it? Or just find a more stable source.

[2017-02-14 13:28] beraybentesen commented on #6726
First, I solve problem by running Tensorflow in Docker container but Docker has it's own difficulties so I solve problem completely by using Basel. It works well without any problem.

[2017-02-14 14:41] Franck-Dernoncourt opened #7500 "TensorFlow version 1.0.0-rc2 on Windows: “OpKernel ('op: ”BestSplits“ device_type: ”CPU“') for unknown op: BestSplits” with test code"
I installed TensorFlow version 1.0.0-rc2 on Windows 7 SP1 x64 Ultimate (Python 3.5.2 |Anaconda custom (64-bit)) using:

    pip install --upgrade https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-1.0.0rc2-cp35-cp35m-win_amd64.whl

When I try running the test script from https://web.archive.org/web/20170214034751/https://www.tensorflow.org/get_started/os_setup#test_the_tensorflow_ins

[2017-02-14 15:22] girving commented on #533
Cc @gpapan.

[2017-02-14 15:56] kvrd18 commented on #7439
What if the `population_mean`, `population_variance`, `scale` and `offset` are defined as CPU variables and `tf.get_variable_scope.reuse_variables()` is invoked every time you define a tower in a GPU? Won't the help maintain synchronization of the batch normalization parameters?

[2017-02-14 15:57] edgarriba commented on #6769
@yaroslavvb getting similar issue with conv when running with float64
[code]

[2017-02-14 16:01] ppwwyyxx commented on #7439
It can help but nothing will automatically happen. You'll need to implement the logic of synchronization yourself (and there are again, several slightly different ways of doing that).

[2017-02-14 16:02] yaroslavvb commented on #6769
My solution didn't work?

[2017-02-14 16:11] edgarriba commented on #6769
nope, I cast to float32 before maxpool and to float64 after

[2017-02-14 16:11] kvrd18 commented on #7439
It's going to be painful to train fully convolutional networks on multiple GPUs that cannot afford to have huge batch sizes to alleviate the problems that might arise out of not synchronizing mean and variance among GPUs.

[2017-02-14 16:17] yaroslavvb commented on #7439
It would be good experiment to make -- compare torch approach, vs. keeping variance on GPU0 vs keep variance on CPU. I suspect when your GPUs are p2p connected, keeping vars on GPU0 will be better. (ie, I found cifar multi-GPU example runs 15% faster when weights are pinned to GPU0)

[2017-02-14 16:18] yaroslavvb commented on #6769
It sounds like you are running conv with float64 which isn't supported, you have to cast to float32 before conv

[2017-02-14 16:31] edgarriba commented on #6769
oh, that's what I was trying to do. Got it. Thx!

[2017-02-14 16:32] ppwwyyxx commented on #7439
@kvrd18 For standard BN, during training the moving averages are never used, so it mathematically makes no difference whether you aggregate the statistics or not. It will only affect test time performance (in fact I think the effect is invisible), but you can always recalculate the statistics after training so it's fine.

What you may be more interested in, is to compute the statistics from a larg

[2017-02-14 16:39] ppwwyyxx commented on #7439
@kvrd18 It could be an improvement to aggregate the statistics (before the actual normalization), instead of normalizing by each GPU's own statistics. This can avoid potential problems that the statistics of a small batch is too unstable. You can do this in tensorflow but this is going to be very expensive.

Maybe [Batch Renormalization](https://arxiv.org/abs/1702.03275) is a better option in this