[2019-03-19 01:11] #26567 closed

[2019-03-19 01:43] ymodak commented on #22379
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-19 01:43] #22379 closed

[2019-03-19 01:43] ymodak commented on #26593
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-19 01:43] #26593 closed

[2019-03-19 01:43] ymodak commented on #26599
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-19 01:43] #26599 closed

[2019-03-19 02:04] xiaocc612 commented on #22794
Same issue. Win10 x64, python 3.6, tensorflow-gpu 1.12.0, CUDA 10.1 with CUDNN 10.1 installed.

[2019-03-19 02:06] chwang85 opened #26854 "Tensorflow 2.0: where is tf.contrib.layers.layer_norm?"
Cannot find tf.contrib.layers.layer_norm in TF 2.0

[2019-03-19 02:26] ilous12 commented on #25238
@freedomtan I tried to change the input and out by belows command like

Is it right way?

[2019-03-19 02:34] student733 commented on #4451
I meet the same problem?  Have you solved it?

[2019-03-19 02:35] student733 commented on #4451
I meet the same problem, have you solved it?

[2019-03-19 02:40] exitsky commented on #22794
Thank you. solved my issue
my setting
Win10 + python 3.6.6 + GeForce GTX 1050 Ti (Legion Notebook)
Visual Studio Community 2017 + CUDA 10.0 (cudnn 7.5.0)  + tensorflow 1.13.1

[2019-03-19 02:41] shekbruce commented on #21554
I resolved this issue by upgrading numpy and importing numpy before tensorflow.  my numpy version was 1.15.4. Upgraded it  to  1.16.2.

[2019-03-19 02:48] mdanatg commented on #26793
Thank you for the nice repro! Yes, that is definitely a bug.

[2019-03-19 03:06] dattran2346 commented on #26182
After installing cuda, you need to export `$PATH` and `$LD_LIBRARY_PATH`. Tensorflow will use these environment variables to load package. For example, if you install cuda at `/usr/local/`, you can add this to your `.zshrc` or `.bashrc`

[code]

This trick can be used to change the version of cuda you want to use.

[2019-03-19 03:09] mihaimaruseac commented on #26844
`tf.session` will be deprecated later, after the community switches to using TF2.x. Until then, it will still be available for some scenarios, since TF2.x has a very abrupt change in the way TF code is executed (from graph mode to eager mode; `tf.session` is needed for graph mode even in TF2.x).

`tf.layers.dense` has a 100% functional equivalent. It has been there for a long time and the decision

[2019-03-19 03:10] Rubinks commented on #26836
Decided to himself! For those who have the same error, just reinstall Tensorflow and everything will work!

[2019-03-19 03:14] miaout17 commented on #26586
@haozha111 Could you help to take a look at the model?
I think this requires broadening supported types of Range, in both converter and runtime

[2019-03-19 03:25] miaout17 commented on #26545
It's missing an ExtractImagePatches op in TensorFlow Lite.
@talumbau could you take a look to see should we implement it as a TensorFlow Lite builtin op?

Meanwhile, we have an experimental feature that you can use TensorFlow kernel in TensorFlow Lite.
Feel free to try it if you're interested and give us feedbacks.
https://www.tensorflow.org/lite/guide/ops_select

[2019-03-19 03:27] miaout17 commented on #26075
Load balance to @karimnosseir -- could you take a look?

[2019-03-19 03:30] miaout17 commented on #25462
@haozha111 Could you take a look since you're recently looking into TransposeConv?

[2019-03-19 03:33] miaout17 commented on #22803
Load balancing... @karimnosseir could you take a look?

[2019-03-19 04:05] lhendre commented on #26638
Let me do a little digging and work over the day and Ill get back here with questions

[2019-03-19 04:11] willbattel commented on #26833
Which YOLO model is this? v2? v3? Also is it the full YOLO model or Tiny YOLO?

[2019-03-19 04:32] willbattel commented on #23970
Is this problem still being observed in recently nightly builds?

[2019-03-19 04:44] sudob commented on #22794
Overall, getting the basic validation test to work for tensorflow-gpu (1.13.1) is a big ordeal -- don't know where exactly the utterly useless DLL load error message comes from...

Noting down my parameters (as of 03/18/2019) in case it helps any brave soul !
Base framework: Windows 10 Pro/64,    Anaconda 3-5.1.0 (python 3.6.4),
                          Visual Studio 2017       [GPU=RTX2060]
Unsu

[2019-03-19 05:05] franticguy commented on #25798
Hi, I am facing the same problem. Has anyone solved this?

[2019-03-19 05:06] reorder-cv commented on #26833
Full YOLOv3

[2019-03-19 05:10] malikaltakrori commented on #21364
Ok, I'll get to my question directly: So, If I have a model with a gradient reversal layer, i.e. a custom layer with no trainable variables, that calculates tf.identity(x) in the forward pass, but should return tf.negative(grad) in the backward pass, what should I monitor in this case? the layer itself?

[2019-03-19 05:10] wosiu commented on #23888
the same issue. Tensorflow installed using miniconda:
  - tensorflow=1.12.0=mkl_py36h69b6ba0_0
  - tensorflow-base=1.12.0=mkl_py36h3c3e929_0

[2019-03-19 05:14] willbattel commented on #26833
And what did you do to initially convert it from Darknet to Tensorflow?

[2019-03-19 05:15] penpornk commented on #25798
Not yet. I'm having my hands full with other issues. Will try to look at this soon or find other people  to do so. Sorry for the delay!

[2019-03-19 05:26] guizili0 commented on #23970
@willbattel yes, still failed.

[2019-03-19 05:34] ocampesato commented on #26852
@hadim: that worked for me .... thanks!

[2019-03-19 06:20] alanhdu opened #26864 "[TF2] tf.saved_model.save does not support type annotations"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): pip wheel
- TensorFlow version (use command below): `tf-nightly-2.0-preview==2.0.0.dev20190318`
- Python version: 3.7

**Describe the current behavior**
Given

[2019-03-19 06:48] pratjosh9 commented on #20402
Thanks for the quick response @alextp. I've implemented the above changes for CPU as follow. Is this the correct way of implementing the registration for max and min? I will then start extending these changes to the GPU section defined in the aforementioned file.

[code]

[2019-03-19 06:57] cj741 commented on #26386
Hi ymokak,
I have looked the link you provided, it looks to show how to build a .whl package. What I want is build a .sln C++ project for vs2015. Since there is no folder  "ops" under the tensorflow/contrib/tpu, I got failure when I configure. Do you have idea on that?
Thanks~

[2019-03-19 07:13] gbobeff commented on #26810
Done ([1412](https://github.com/tensorflow/tfjs/issues/1412))
Thanks

[2019-03-19 07:17] jingxu10 commented on #24980
Would you please upgrade your tensorflow to the latest version (ver 1.13.1)? It seems to be fixed in this release.

$ pip install --upgrade intel-tensorflow
$ python -c "import tensorflow as tf; print(tf.GIT_VERSION, tf.VERSION)"
b'v1.13.1-0-g6612da8' 1.13.1
$ python test.py
2019-03-19 16:15:55.541077: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this Te

[2019-03-19 07:46] Terizian opened #26866 "Tensorflow Hardware Requirements"
Does the tensorflow library require a CPU with AVX support? It's not mentioned anywhere in the documentation. I've tried import tensorflow on several machines and it only fails in the machine without AVX support.

[2019-03-19 07:47] combacsa commented on #25636
[code]

According to numpy issue 11871, tensorflow >= 1.13 should depends on numpy >= 1.16 ...

https://github.com/numpy/numpy/issues/11871

[2019-03-19 07:47] combacsa commented on #25636
It happens on macOS, too. Not only on windows.

[2019-03-19 08:10] drsealks opened #26867 "transform_graph tools fails to produce output for a particular graph definition/also strange behavior of the tool"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platfo

[2019-03-19 08:16] facaiy commented on #26854
Hi, it has been moved to addons: https://github.com/tensorflow/addons/tree/master/tensorflow_addons/layers

[2019-03-19 08:24] eLvErDe commented on #25323
Hello,

I can confirm TensorFlow cannot be built anymore on Debian Stable (Stretch) and Ubuntu LTS (Bionic) due to this "internal compiler error":

[code]

Debian Stable comes with GCC 6.3 while Ubuntu LTS uses 7.3.

Regards,

[2019-03-19 08:27] ChaoYue0307 opened #26868 "What is the corresponding API for tf.nn.rnn_cell._linear in tf 2.0?"
Just as the title suggests, I want to adopt an older version code to tf2.0, thanks

[2019-03-19 08:31] facaiy commented on #26854
@martinwicke @seanpmorgan Hi, Martin, Sean, can we find a way to let users easily know where those modules of contrib have gone?

I know we have had https://github.com/tensorflow/community/pull/37 and https://github.com/tensorflow/community/pull/18 , but unfortunately, it seems that not all users would like to read it.

[2019-03-19 08:35] facaiy commented on #25636
@av8ramit Hi, Amit. Do you know the problem?

[2019-03-19 08:45] SystemErrorWang commented on #6220
@Traeyee thanks,  fixed the problem after many attempts of changing tf.name_scope and tf.variable_scope.

[2019-03-19 08:45] prameshbajra commented on #21898
I am getting this :
[code]

Actually more than 500 of these. Can anybody let me know how do I disable this log? or a workaround for this?

[2019-03-19 08:45] facaiy commented on #26816
I'm not sure, but I'm afraid Session will be removed ? https://github.com/tensorflow/community/pull/20 cc @alextp

[2019-03-19 08:47] prameshbajra commented on #21898
I am getting this : :cry:
[code]

Actually, more than 500 of these. :face_with_head_bandage:

Can anybody let me know how do I disable this log (Only this, if possible)? or a possible workaround for this?

Thanks.

[2019-03-19 08:47] IrvingMeng commented on #22803
@sercant When freezing a model for inference, the attribute "is_training" of the BN layers should be set as false. In your frozen model, "is_training" is true. That makes the means/variances of BN layers to be all 0s.
Maybe you should regenerate a frozen model with "is_training=false" and then convert it to a tflite model.

[2019-03-19 09:05] facaiy commented on #26811
Would you mind passing a name for each weight? like this
[code]

[2019-03-19 09:16] facaiy commented on #26811
@fchollet Can we let `name` be a required field for `add_weight`?

[code]

[2019-03-19 09:22] osanwe opened #26869 "Converting to TF Lite with tf.lite.OpsSet.SELECT_TF_OPS is bounded"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux Ubuntu 16.04
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
v1.13.1-0-g6612da8951
- Python version:
3.5.6 (Anaconda)
- CUDA/cuDNN version:
CPU version

I am try

[2019-03-19 09:23] andmek opened #26870 "ImportError: DLL load failed: The specified module could not be found. Failed to load the native TensorFlow runtime."
System information:
Have I written custom code: No
OS Platform and Distribution: Windows 10 Home
Mobile device: None
TensorFlow installed from: binary with pip
TensorFlow version: 1.13.1
Python Version: 3.6.7
Bazel version: not installed
CUDA/cuDNN version: CUDA 10.1, cuDNN 7.5.0.56
GPU model and memory: GeForce GTX 1050 TCC/WDDM
NVIDIA Driver version: 419.35
TensorRT version: 5.0.4.3

Exact comma

[2019-03-19 09:34] facaiy commented on #26651
@drpngx does we rename the op in purpose?

https://github.com/tensorflow/tensorflow/blob/b244682665372a4e5aaf16b13a54d1dba2613c57/tensorflow/python/ops/image_ops_impl.py#L1370-L1371

[2019-03-19 10:14] alar0330 commented on #11157
Although, the issues discussed in this thread is somewhat diverse in origin, [this answer on Stackoverflow](https://stackoverflow.com/questions/47066635/checkpointing-keras-model-typeerror-cant-pickle-thread-lock-objects/55229794#55229794) might help some in looking for a solution to their problem.

[2019-03-19 10:19] bersbersbers opened #26873 "Incorrect epoch number in TensorBoard callback when using batch-level metrics"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, see below
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): pip install tensorflow
- TensorFlow version (use command below): `tensorflow==1.13.1` and `tf-nightly==1.14.1.dev20190318` (`v1.12.0-10310-g3db239

[2019-03-19 10:36] TahaK commented on #26811
Yes passing a name solves the problem. I can save and load weights now, great!

[2019-03-19 11:14] ziruizhuang commented on #26853
The same thing goes here. I have tried to install tensorflow through pip and tensorflow_mkl with conda. Another installation on a different machine which uses a GPU version tensorflow works just fine. Tried to remove and reinstall python environment to avoid any possible dependency issue, not working.

Since 0xC0000005 often comes from DLL importing issue on Windows, I checked the event log of Win

[2019-03-19 11:21] ziruizhuang commented on #26853
Also it worth mentioning that a custom py37-win-x64 build on branch r1.13 with cherry-pick https://github.com/tensorflow/tensorflow/commit/ec727016282383aacf9d26386b01f6bdbd65b14b by VS2017 also facing the same problem. I haven't had time to build a cpu version on the other computer, so it is unclear whether the issue is related to code or the environment (either system or python).

[2019-03-19 11:27] mrgloom commented on #23401
I can't find `.tf_configure.bazelrc` when it should appear?

[2019-03-19 11:34] MRYingLEE commented on #22794
I tried with CUDA 10.1 but all version combinations didn't work, then I switched to CUDA 10.0 as someone suggested and it finally worked. So I guess the problem lies at the CUDA 10.1.

My successful version combinations are:

CUDA 10.0  (NOT CUDA 10.1)
cuDNN v7.5.0 (Feb 21, 2019), for CUDA 10.0 (NOT the one for CUDA 10.1)
Annaconda Anaconda 2018.12 (with Python 3.7 version, 64-Bit Graphical Instal

[2019-03-19 12:10] Mardeepus opened #26877 "TF 2.0.0a0 doesn't find attributes after fresh installation"
**System information**
- OS Platform and Distribution: **Windows 10 Pro x64**
- TensorFlow installed from (source or binary): **binary (for GPU)** https://files.pythonhosted.org/packages/a3/a1/adff98d96de3d623f53f2e002d6e5b3936857c168a99efa632b7db89da05/tensorflow_gpu-2.0.0a0-cp37-cp37m-win_amd64.whl
- TensorFlow version: **2.0.0a0 for GPU**
- Python version: **3.7.2 64-bit (3.6.8 x64)**
- Install

[2019-03-19 12:53] seanpmorgan commented on #26854
It's been discussed that we should add deprecation warnings to tf.contrib which instruct users of the move to addons for certain functions/classes. We would need to get these in before the 1.14 release I believe, so still some time but we should probably create an issue to track that.

Also, those same warnings should be added to the t2_convert script which instruct users where they can be found.

[2019-03-19 12:55] ttdd11 commented on #23542
@kingstarcraft Did you solve this problem? Facing the same issue.

[2019-03-19 12:59] csachs opened #26879 "TF 2.0: tf.stack can cause a segmentation fault"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Linux Ubuntu 18.04
- Mobile device: N/A
- TensorFlow installed from: binary
- TensorFlow version: 2.0.0-alpha0, 2.0.0-dev20190319
- Python version: 3.6.7
- Bazel version: N/A
- GCC/Compiler version: N/A
- CUDA/cuDNN version: 10.1 / 7.4.2
- GPU model and memory: GeForce GTX 1080 Ti (11 GB)

**Describe the curre

[2019-03-19 13:01] Mean-Street commented on #26777
According to the [doc](https://www.tensorflow.org/api_docs/python/tf/enable_eager_execution), `enable_eager_execution` takes a config as argument the same way your session does. Simply do:
[code]

[2019-03-19 13:03] tensorflowbutler commented on #26266
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-19 13:20] 2014bcs007 opened #26881 "ImportError: cannot import name 'audio' from 'tensorflow._api.v1'"
Am new in Tensor flow,i was running my first example in tensor flow but found this issue.
How can i go about it

"TOCO failed. See console for info.\n%s\n%s\n" % (stdout, stderr))

ConverterError: TOCO failed. See console for info.
Traceback (most recent call last):
  File "D:\Software\Scripts\toco_from_protos-script.py", line 6, in <module>
    from tensorflow.lite.toco.python.toco_from_protos im

[2019-03-19 13:22] wdirons commented on #23401
@mrgloom, .tf_configure.bazelrc is created by running ./configure

Your answers from ./configure are stored in .tf_configure.bazelrc

[2019-03-19 13:24] mrgloom opened #26882 "ERROR: /home/user/.cache/bazel/_bazel_user/b4774fbdb8542988b4e302c9e073f145/external/com_google_absl/absl/types/BUILD.bazel:190:1: C++ compilation of rule '@com_google_absl//absl/types:bad_variant_access' failed (Exit 1) on benchmark_model tool build"
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
[code]
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
Build from source
- TensorFlow version:
Fresh master
[code]
- Python version:
[code]
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from source):
[code]
- GCC/Compi

[2019-03-19 14:07] ttdd11 commented on #23342
@jesen8 are you using GPU version? I am having issues with SetDefaultDevice not working as it's supposed to.

[2019-03-19 14:20] ttdd11 commented on #16291
@asimshankar Can we re-open this issue? Seems to be pretty common and present for about a year.

[2019-03-19 14:23] jesen8 commented on #23342
@ttdd11 do you have qq?,please add me 360697611

[2019-03-19 14:28] ttdd11 commented on #23342
@jesen8 I'm not sure what qq is?

[2019-03-19 15:01] mrgloom commented on #26882
Seems I forget `./configure`

[code]
Not sure what `/usr/lib/android-sdk` should contain, in my case:

[code]

[code]

i.e. android-sdk have `build-tools`, but `platforms` is under `android-sdk/android-ndk-r16b/`.

[2019-03-19 15:28] mmuratarat opened #26886 "Restoring a saved model and evaluating on a new Tensorflow Data object"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary (for GPU)
- TensorFlow version: **GIT**: v1.9.0-0-g25c197e023, **TF**: 1.9.0
- Python version: Python 3.5.2
- CUDA/cuDNN version: 10.0, V10.0.

[2019-03-19 15:31] mihaimaruseac commented on #26839
I'm not familiar with what that would entail, but it looks like a good project.

[2019-03-19 15:34] karimnosseir commented on #26075
Hi chrisfan918,

Can you share the pb and tflite files after your freeze graph fix.

Thanks

[2019-03-19 15:35] jvishnuvardhan commented on #26266
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-03-19 15:35] #26266 closed

[2019-03-19 15:40] foobar167 commented on #26877
It seems that different syntax in TF 2.0 is used.
Try this code (it worked for me):
[code]

[2019-03-19 15:40] karimnosseir commented on #22803
Hi Sercant,

As IrvingMeng mentioned, you need to make sure is_training is false. Can you please confirm and share tflite &pb files for the model

Thanks

[2019-03-19 15:54] Mardeepus commented on #26877
Thank you foobar167, it works!

It seems I have to get used to the new API. You are right, it needs to be _tf.random.normal_ instead of _tf.random_normal_ and also needs to use _tf.executing_eagerly()_ instead of _tf.enable_eager_execution()_ (which is on in 2.0 by default).

The TF-install-Doc needs to be update there, so this confusion would happen again.

Thanks again!

[2019-03-19 15:54] #26877 closed

[2019-03-19 15:56] mihaimaruseac commented on #26836
Closing as it seems solved. Please reopen if that's not the case

[2019-03-19 15:56] #26836 closed

[2019-03-19 15:59] mihaimaruseac commented on #26532
A part of the work on this enlarged issue has been done in #26540. @mandroid6 do you want to make a single PR with the rest of the documentation (`tf.unstack`, `tf.unique`, `tf.zeros`, `tf.zeros_initializer`) and then we can close this? Just to make sure we're not forgetting anything.

[2019-03-19 16:00] mihaimaruseac commented on #26530
Closing this in favor of #26532 as work has been done on #26540 for both this and that

[2019-03-19 16:00] #26530 closed

[2019-03-19 16:09] arp95 commented on #26831
@ymodak i have updated the readme as seen in the pr. Please review.

[2019-03-19 16:11] loretoparisi commented on #26182
@mostafaelhoushi I did the simlink but this does not make the trick:

[code]

[2019-03-19 16:13] loretoparisi commented on #26182
@dattran2346 This should work with CUDA10 installed already, but if you start from older Docker images, you may have installed
[code]

[2019-03-19 16:13] tafsiri commented on #26667
@jvishnuvardhan You may have been thinking of someone else. I don't work on tflite.

[2019-03-19 16:18] svboeing commented on #25285
Hello @amitlevy21. I am facing similar problem and want to ask you a question. You wrote

but you also mentioned that your tasks have different loss functions. How do you switch between them? As far as i understand, in this code snippet you only change your input_fn, but not model_fn and hence, model loss stays the same. I am facing similar issue as i want to implement a multi-task learning model,

[2019-03-19 16:29] RobinHSanner commented on #26708
Are you using the nightly build?

I get this:

W0319 12:28:09.571433 40164 tf_logging.py:161] Entity <function <lambda> at 0x00000276D2AF62F0> could not be transformed and will be staged without change. Error details can be found in the logs when running with the env variable AUTOGRAPH_VERBOSITY >= 1. Please report this to the AutoGraph team. Cause: Unexpected error transforming <function <lambda>

[2019-03-19 16:30] bSolt opened #26889 "tf.keras.fit not working with my model, doesn't feed the output target to placeholder tensor"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): I have custom

[2019-03-19 17:02] philippHRO commented on #18652
Threadstarter here, hello.

**This works!** I checked with that wheel, and then with `tf-nightly-gpu-2.0-preview` on PYPI, which also worked.

For everyone, here's a what I did, as a guide:

### Install Tensorflow Nightly 2.0 GPU in Anaconda on Windows 10 x64
• I initially wanted to use the anaconda cudatoolkit and cudnn packages, but currently, cudnn is only available up to version 7.1.3. Tensorf

[2019-03-19 17:06] anto1399 commented on #26870
@andmek I also run into the same problem. From the official installation page of tenserflow, the CUDA version supported is 10.0, for now 10.1 will give you issues until that is fixed.
So you have to downgrade from 10.1 and follow the setup of the CUDA/cuDNN by updating setting the system path.

[2019-03-19 17:07] anto1399 commented on #26870
@andmek The same issue is on this thread: https://github.com/tensorflow/tensorflow/issues/26364

[2019-03-19 17:13] ablanch5 commented on #26792
Thanks so much for your answer

On Mon, Mar 18, 2019, 2:04 PM omalleyt12 <notifications@github.com> wrote:

[2019-03-19 17:14] frreiss commented on #25882
@drpngx yes, I've done an op replacement in the past with the `accumulate_n` op.

I'll break this work down into a few smaller PRs to make the diff size more manageable:
1. Add a new C++ op, `EncodeJpegV2`, along with C++ regression tests.
2. Modify the `random_jpeg_quality` Python API to use `EncodeJpegV2` and also fix issue #25882.
3. Change the other Python code in `image_ops_impl.py` that uses

[2019-03-19 17:24] aaryapatel007 opened #26893 "Compilation failed: Compilation failure: Ran out of memory in memory space vmem. Please file a bug against XLA."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):NO
- OS Platfor

[2019-03-19 17:36] allenlavoie commented on #26864
@vbardiovskyg do we need an extension of structure coding for type annotations? I guess stripping them would be slightly better than throwing an exception, but long-term it seems like we want to save them. We should be able to add a Python 3-only unit test suite.

[2019-03-19 17:37] tanweer-ali commented on #18736
If you are using the tensorflow with Docker containers, then I was able to fix this problem by increasing the container memory.

I have posted the answer here on stack overflow:
https://stackoverflow.com/a/55246936/565223

[2019-03-19 17:38] saysx commented on #24828
the same problem
cuda 10.0
cudnn 7.5
nvidia driver 418.43
2070 RTX
tensorflow 1.13.1

try to add
config = tf.ConfigProto()
config.gpu_options.allow_growth = True
session = tf.Session(config=config)

but process still used all 8 Gb of video  memory.

try to use tensorflow2.0.0alpha and tensorflow.keras but it used only cpu.
tensorflow1.13.1 can used gpu but crashes with errors

2019-03-20 00:34:48.

[2019-03-19 17:40] Ademord commented on #24828
This code solution doesnt work on TF 2.0, since there's no config proto, no session either

[2019-03-19 17:40] ymodak commented on #26866
Please take a look at [hardware requirements for TF](https://www.tensorflow.org/install/pip#hardware-requirements).

[2019-03-19 17:43] ymodak commented on #26364
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-19 17:43] #26364 closed

[2019-03-19 17:44] alanhdu commented on #26864
One work-around for now is to use `str` annotations like:

[code]

In Python 3.7, doing
[code]

will also by-default make all the type annotations strings without having to manually quote them.

[2019-03-19 17:52] omalleyt12 commented on #26788
Thanks for the bug! I was able to reproduce, looking into now

[2019-03-19 17:53] #26274 closed

[2019-03-19 17:54] Terizian commented on #26866
I don't know how I missed out on that! Thanks a lot. I have been unsuccessfully trying to set up a machine with an E7 CPU that has no AVX support. I will look for alternatives.

[2019-03-19 17:54] #26866 closed

[2019-03-19 17:54] jhagege commented on #3640
Did you find a solution for reproducibility of TFRecords creation, especially when it is multithreaded ?
Thanks !

[2019-03-19 17:56] omalleyt12 commented on #24429
Hi @harahu, please call `.batch(<batch_size>)` on your Dataset. When I do that with your example, everything works fine

For example:

[code]

[2019-03-19 17:56] #24429 closed

[2019-03-19 17:57] #24371 closed

[2019-03-19 18:01] alextp commented on #26816
It's by design that TF 2.0 does not have tf.Session.

[2019-03-19 18:01] #26816 closed

[2019-03-19 18:04] impjdi commented on #26730
@sunzhe09

Thanks for trying out the GPU delegate.  Unfortunately, batching was not fully supported at the time of building the dev preview.  Since the release of the dev preview, we made some progress in that direction and you will most likely be able to use the batch dimension in our open source release.

[2019-03-19 18:06] usptact commented on #15144
I had this issue because I installed "libtensorflow_framework.so" in my system. Removing this library out of "/usr/local/lib" solved this problem for me.

[2019-03-19 18:09] saysx commented on #24828
I used this code

from tensorflow.keras.backend import set_session
config = tf.ConfigProto()
config.gpu_options.allow_growth = True
session = tf.Session(config=config)
set_session(session)  # set this TensorFlow session as the default session for Keras

tensorflow 1.13.1
but it nothing change

[2019-03-19 18:21] lostmsu commented on #9171
Is there a way to reset all the internal state in the ops to its original value without recreating graph?

[2019-03-19 18:22] alextp commented on #20402
Yes, I think so.

Thanks!

[2019-03-19 18:23] allenlavoie commented on #26864
Oh interesting, we do save annotations, we just don't have a case for "int". Seems easy to add.

On the other hand, passing non-Tensors (like Python "int"s) to tf.functions will re-trace each time (i.e. each value of the integer will get its own graph). Out of curiosity, what is the Python int argument there for?

[2019-03-19 18:29] wangpengmit commented on #9171
No, the op's state is stored in a C++ member variable with no access from outside. Exposing it is among the main motivations of the RFC.

[2019-03-19 18:39] jdduke commented on #26736
Why are you running with 16 threads on a 4-core device? Can you run the numbers with just 1 thread?

[2019-03-19 18:41] jdduke commented on #21787
Thanks for the report, we'll take a look on that issue.

[2019-03-19 18:44] omalleyt12 commented on #26322
@eldar please replace `model.updates` with `model.get_updates_for(image)`.

`model.updates` includes all updates, including the ones created when constructing your model off of the `keras.Input`s

[2019-03-19 18:44] #26322 closed

[2019-03-19 18:45] ttdd11 commented on #19304
@thomasyoung @tobs Did you guys figure out what the zero problem was caused by? Getting the same issue.

[2019-03-19 18:46] #26622 closed

[2019-03-19 18:57] isaacnoble commented on #26725
Also seeing this bug when using tf.contrib.distribute.CollectiveAllReduceStrategy, any information on what it means?

[2019-03-19 19:10] Ayush517 commented on #25903
@dynamicwebpaige @aselle Can I please work on this as a project for this year's GSOC.

[2019-03-19 19:21] etragas-fathom commented on #26635
Hey @jvishnuvardhan any thoughts on this?

[2019-03-19 19:33] mwappner opened #26899 "Error when importing tensorflow: DLL load failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2019-03-19 20:01] MRDJR97 opened #26900 "Converted .tflite file and it's output"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 1.13.1

**Describe the documentation issue**

I am have a tf.keras sequent

[2019-03-19 20:06] amitlevy21 commented on #25285
@svboeing I'm implementing an infrastructure for conducting experiments on language models using multitask and transfer learning, my client have asked me to not use Keras implementation. The use of Keras, Especially with the upcoming Tensorflow 2.0 should have decrease the complexity of my code, So i suggest to only considerate the following if you must not use Keras in your solution.

I used the

[2019-03-19 20:08] theonegis commented on #14885
I just run "tf.test.is_gpu_available()" and get the same error, can anyone help me?

[2019-03-19 20:11] aaroey commented on #25348
TF-TRT is supported in TF 2.0 alpha, and here is a [simple example](https://github.com/aaroey/tensorflow/blob/tftrt20/tftrt20/test.py) for that.

[2019-03-19 20:11] #25348 closed

[2019-03-19 20:19] ymodak commented on #26866
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-03-19 20:21] bSolt commented on #26889
I figured out the exact issue and a workaround. The issue is that keras wasn't copying over the target values for the output of model into the output of classifier. This can be easily fixed by changing the structure of the model so that this step is unnecessary. I only had to change the `build_full_model()` function to do so. Here is the updated code:
[code]

The change is on the lines with exclam

[2019-03-19 20:27] drpngx commented on #26651
I think @meyerjo is right, the symbol is exported as `tf.image.resize_with_pad` in 2.0 and not `resize_image_with_pad`, which is v1, so the published doc is incorrect.

It is just a matter of re-running the docs generation and uploading the new version.

You can check what docs would be generated with:
[code]
I ran that locally and it produces the right docs. I'm leaving that issue open until we u

[2019-03-19 20:34] ymodak commented on #26881
Please provide following information. Thanks!

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use com

[2019-03-19 20:37] jvishnuvardhan commented on #18874
@nikonikolov Could check whether the error persists with TF1.12 or 1.13? Thanks!

[2019-03-19 20:46] jvishnuvardhan commented on #26853
@bglee85 Could you uninstall python and tensorflow, restart system and install python and tensorflow following these [instructions](https://github.com/jvishnuvardhan/Installing-TensorFlow-GPU-on-Windows-10-TF1.12). This procedure is for installing TF1.12 but you can follow similar procedure to install higher version of TF. Please let me know how it progresses. Thanks!

[2019-03-19 20:50] SimSimY commented on #26715
Also:
docker run --rm -it tensorflow/tensorflow:1.12.0-gpu-py3
is actually jupyter version

[2019-03-19 20:58] reactivetype commented on #21230
@sarmadidrees How have you solved the problem finally?

[2019-03-19 21:11] jvishnuvardhan commented on #26841
@phquanta Could you provide system details and TF version [here](https://github.com/tensorflow/tensorflow/issues/new?template=00-bug-performance-issue.md). Thanks!

[2019-03-19 21:18] jvishnuvardhan commented on #26839
@phquanta Could you provide more details on the feature? May be take a simple example code and demonstrate what was missing with the current TF and what would be achieved with this new feature. Thanks!

[2019-03-19 21:23] angersson commented on #26715
Thanks for reporting this. It looks like it's probably a mistake in the way our CI handles PyPi pre-releases. "Latest" usually refers to pre-releases, but since 2.0 is more of an alpha, the CI gets confused with PyPI's limited classification system.

In the meantime, if you run into this, please use the numbered tag directly instead of "latest", which will be accurately tagged.

[2019-03-19 21:24] jvishnuvardhan commented on #26838
@rojanulak Interesting application. However, this is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-03-19 21:24] #26838 closed

[2019-03-19 21:38] theonegis commented on #17216
@LotusWang0723 Do you solve this problem? I have the same problem.

[2019-03-19 21:40] alextp commented on #26812
tf.function may evaluate your python function more than once.

What the RFC states instead is that you are allowed to create variables as long as variable creation only happens the first time your python function is evaluated.

[2019-03-19 21:40] #26812 closed

[2019-03-19 21:41] sharvil opened #26901 "tf.range fails on integer tensors"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 16.04.6 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below):

[2019-03-19 21:41] alextp commented on #26812
And the reason for this is that if you write python code which unconditionally creates variables then I can't tell whether you mean to create a new variable every time the python function is called (eager behavior) or reuse the existing variables (what happens in graph tf 1.x) so an error felt safer.

[2019-03-19 21:52] ppwwyyxx opened #26902 "tf_upgrade_v2 does not preserve file attributes and symbolic links"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):n/a
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):archlinux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:n/a
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below): tf2 preview n

[2019-03-19 21:56] feihugis opened #26903 "Cardinality() of SkipDataset may be not right in some cases"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-03-19 21:58] Kublai-Jing commented on #19903
Hi, @ychfan @albanie ,

 I am actually a bit confused here. Does the following code warm-starts ALL variables, including TRAINABLE and GLOBAL ones ?
[code]
This doesn't seem to be the case in the code: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/warm_starting_util.py#L315

What

[2019-03-19 22:04] ymodak commented on #26868
You can convert your TF 1.X code to 2.X by using [```tf_upgrade_v2 utility```](https://github.com/tensorflow/docs/blob/master/site/en/r2/guide/upgrade.md#upgrade-code-to-tensorflow-20)

[2019-03-19 22:05] aaroey commented on #26800
Hi @smit-hinsu, would you please help to take a look? Thanks

[2019-03-19 22:26] jvishnuvardhan commented on #26316
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-03-19 22:26] #26316 closed

[2019-03-19 22:31] ymodak commented on #26778
The ```mobilenet_v2.py```  and ```imagenet_utils.py``` are referencing the decode_predictions correctly.

[2019-03-19 22:34] qlzh727 commented on #26763
Assigning to Priya since this seems to be related with distribution strategy. Please reassign to someone who owns the embedding if the fix should be on that side.

[2019-03-19 22:34] PawelFaron opened #26904 "Cannot add metric to Estimator with binary_classification_head"
I created custom Estimator that uses binary_classification_head. During training I can see only loss and global step in tensorboard.
I was trying to add metric using tf.contrib.estimator.add_metrics but it doesn't work (don't know why).
I was also trying to add it using similar approach to this one but also with no luck:
https://stackoverflow.com/questions/50120073/tensorflow-metrics-with-custom-e

[2019-03-19 22:37] qlzh727 commented on #26245
In 2.0  we will recommend user to use distribution strategy. Having said that, I don't see the multi_gpu_model gets deprecated, @fchollet, should we actually deprecate multi_gpu_model in v2 since istribution strategy is the new recommended way for model sharding?

[2019-03-19 22:57] ilia-nikiforov commented on #23861
Tried on python3 with the stable 1.13 binary release and CUDA 10.0, identical behavior

[2019-03-19 23:12] #26903 closed

[2019-03-19 23:13] phquanta commented on #26839
Sure , basically instead of writing down :

1) aa=tf.slice(hIn,[p,j,0],[1,1,self.n_h])[0][0], One would write aa=hIn[p,j,:]
2) tf.scatter_update(self.vOut,i,[[1. for i in range(self.n_v)] for j in kk])], One would write self.vOut[i,:,:]=[[1. for i in range(self.n_v)] for j in kk])]

Those type of operations.

[2019-03-19 23:13] bdod6 opened #26906 "Multiple CheckpointSavers when using MonitoredTrainingSession"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-03-19 23:25] phquanta opened #26907 "Specs"
Tensorflow: version 1.7.0 (CPU based installation)
Python: 3.6
OS: Windows 8.1
OS Name	Microsoft Windows 8.1
Version	6.3.9600 Build 9600
Other OS Description 	Not Available
System Model	XPS 8700
Processor	Intel(R) Core(TM) i7-4790 CPU @ 3.60GHz, 3601 Mhz, 4 Core(s), 8 Logical
Installed Physical Memory (RAM)	24.0 GB
GPU: Nvidia GTX 1050Ti
IDE: Spyder 3.3.1

Aslo this operation

j=1

aa=self.sess.ru

[2019-03-19 23:26] phquanta commented on #26841
Tensorflow: version 1.7.0 (CPU based installation)
Python: 3.6
OS: Windows 8.1
OS Name	Microsoft Windows 8.1
Version	6.3.9600 Build 9600
Other OS Description 	Not Available
System Model	XPS 8700
Processor	Intel(R) Core(TM) i7-4790 CPU @ 3.60GHz, 3601 Mhz, 4 Core(s), 8 Logical
Installed Physical Memory (RAM)	24.0 GB
GPU: Nvidia GTX 1050Ti
IDE: Spyder 3.3.1

Aslo this operation

j=1

aa=self.sess.ru

[2019-03-19 23:30] cag51 commented on #17824
Agree, can't believe it has been a year and we're still waiting on this basic request.

[2019-03-19 23:38] haozha111 commented on #26586
I downloaded your model, but I can't reproduce your issue. I used virtualenv and tf-nightly.

(tensorflow_venv) haoliang@haoliang0:~/tensorflow_venv/bin$ python test.py
2019-03-19 16:37:17.875562: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
2019-03-19 16:37:17.905232: I tensorflow/core/platform/pr

[2019-03-19 23:41] haozha111 commented on #25462
Sure.

[2019-03-19 23:58] jvishnuvardhan commented on #26841
@phquanta Could you check with latest version of TF and check whether the bug persists? Thanks!

[2019-03-20 00:10] haozha111 commented on #25462
Patched your code and run with tf-nightly. Here is the result:

INFO: Initialized TensorFlow Lite runtime.
output tf: [[[[ 0.18149409  0.12595409  0.25195837 -0.7155486 ]
   [ 0.15551439  0.15711296  0.42898354 -0.4680799 ]
   [-0.09389246 -0.14556983  0.5282279  -0.2589781 ]
   ...
   [ 0.16891086 -0.02126111  0.17114447 -0.08986548]
   [ 0.02455523  0.10942102  0.41191384 -0.33445707]
   [ 0.075

[2019-03-20 00:14] alextp commented on #26839
Most numpy slicing is already supported in tensorflow; tensor[p, q, :] for example is perfectly supported.

What isn't currently supported is slice assignment. TensorFlow tensors are immutable, so we'd need an operation which takes a tensor and returns another one. It should be relatively straightforward to repurpose the existing kernel for StridedSlice to do this, similar to how TensorScatterAdd

[2019-03-20 00:17] drpngx commented on #25882
I will let the API reviewer comment. My general intuition is that numbers can be changed, and everything else, in the worst case put in the graph. So `quality`, `{x,y}_density` would be input tensors.

[2019-03-20 00:24] alextp commented on #26721
I think this is a problem with pyproxy. It's saying that in the line where you have

[code]

`p.proxy` is an object which doesn't have a compute method. So this does not look like a tf issue to me.

[2019-03-20 00:24] #26721 closed

[2019-03-20 00:29] mostafaelhoushi commented on #26182
Did you make sure you installed CUDA10.0? Or which version is installed?

[2019-03-20 00:37] ymodak commented on #26828
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-03-20 00:37] #26828 closed

[2019-03-20 00:43] bglee85 commented on #26853
I was quite urgent to use the tensorflow-gpu, so I reset my windows and reinstall everything. It works with the following conditions:-

CUDA 10.0, cudnn 7.5, python-3.6.8, tensorflow & tensorflow-gpu 1.13.1
Windows 10, i9, GTX 1050 Ti

I wish there is a better way to solve the issue without resetting the windows, but I didn't have time to try other options one by one.

** On side note, I did try w

[2019-03-20 00:43] #26853 closed

[2019-03-20 00:44] mingyr commented on #26721
I think the root cause is not "p.proxy is an object which doesn't have a compute method", but potentially some changes in Python 3. Actually the attribute of "compute" can be either in unicode form, or in so-called byte stream form. That means "compute" and b"compute" are different things.

Anyway, let's see whether engineers at DeepMind have the time to address this or not.

[2019-03-20 00:47] miaout17 commented on #25462
Numerical errors are almost unavoidable in floating point calculation.
In many of our test cases, we test with 1e-6 threshold.
1e-8 is pretty acceptable, so I'd say this is intended behavior.

I'd suggest to always test float results with a threshold, not exact matching.

[2019-03-20 00:54] haozha111 commented on #25462
Agreed. I will close for now.

[2019-03-20 00:54] #25462 closed

[2019-03-20 01:02] priyakansal commented on #26182
@dattran2346 @mostafaelhoushi
Do i need to install cuda and cudnn during the build of the docker image also, like this :
[code]

[2019-03-20 01:03] priyakansal commented on #26182
@dattran2346
i have exported the paths as you suggested, but still not working...

[2019-03-20 01:16] bhushanbrb commented on #26642
Many of the good functions from **tf.contrib** are eliminated, such as CRF conditional random field etc how can one use these packages ( by using source code from these packages)? @qlzh727
any suggestions pls

[2019-03-20 01:22] theonegis commented on #17216
I just run "tf.test.is_gpu_available()" and get the same error, can anyone help me?

[2019-03-20 01:25] MrPiavushka commented on #22512
i had the same issue using (conda install tensorflow-gpu) solve the problem.
cuda 10.0
cudnn 7.41.5 for cuda 10.0
python 7.1

[2019-03-20 01:25] MrPiavushka commented on #22794
i had the same issue using (conda install tensorflow-gpu) solve the problem.
cuda 10.0
cudnn 7.41.5 for cuda 10.0
python 7.1

[2019-03-20 01:32] catskillsresearch commented on #26777
Thanks, that answers my question!

[2019-03-20 01:32] #26777 closed

[2019-03-20 01:48] phquanta commented on #26839
If i'm not mistaken, that type is supported but not tensor[p, :, q] or tensor[:, :, q] or tensor[:, p,q] or other more fancier slices.

Also, i was wondering if it is possible to make tensors mutable at some point ?

Thanks.

[2019-03-20 01:49] phquanta commented on #26841
Thanks. Will do.

[2019-03-20 01:50] SyedAliZafar commented on #17541
For me (tf-2.2.4) this worked

and this did not

[2019-03-20 02:12] since4satang opened #26912 "Can't load integrated model(two models cascade) with multiple inputs (Invalid input_shape argument error)"
Hi~

I have made two models which have input with dimension (?, 1771) and output with dimension(?,161) each.

And two models are connected in cascade and new integrated model have 11 inputs with the same size.

When the training is finish and can't load the saved model with below message.

**ValueError: Invalid input_shape argument (None, 1771): model has 0 tensor inputs.**
-----------------------

[2019-03-20 02:36] LotusWang0723 commented on #17216
I upgraded the CUDA and cudnn, then the error was gone.

王落桐

Lotus WANG (Ms.)

博士生

北京大学 工学院
生物医学工程系
Ph.D Candidate
Department of Biomedical Engineering

College of Engineering, Peking University

原始邮件
发件人:Victor Tannotifications@github.com
收件人:tensorflow/tensorflowtensorflow@noreply.github.com
抄送:LotusWangwangluotong@126.com; Mentionmention@noreply.github.com
发送时间:2019年3月20日(周三) 09:26
主题:Re: [te

[2019-03-20 02:41] zjh-nudger commented on #25285
I am also facing similar problem and want to ask question.

In your implementation, how to share specific module between different task?

thank you

[2019-03-20 02:41] zjh-nudger commented on #25285
I am also facing similar problem and want to ask question.

In your implementation, how to share specific module between different task?

thank you

[2019-03-20 03:12] sunzhe09 opened #26914 "NNAPI don't support dilateconv,but tflite support.How can I add this funtion in it?is there any way to add coustom op for nnapi"

[2019-03-20 03:20] YunYang1994 commented on #3628
yeah , Fuck tensorflow !!!

[2019-03-20 03:39] aimzieslol commented on #14363
[code]

[code]

Getting this same error also. I've dropped the batch size to 50.

Specs:
[code]

[code]

[2019-03-20 03:50] SystemErrorWang commented on #26696
get the same problem when trying to convert from session, code as below:
`

    converter = tf.lite.TFLiteConverter.from_session(
                        sess, [inputs], [outputs])converter.inference_type = tf.lite.constants.QUANTIZED_UINT8
    input_arrays = converter.get_input_arrays()
    converter.quantized_input_stats = {input_arrays[0] : (0., 1.)}  # mean, std_dev
    tflite_model = converte

[2019-03-20 04:07] Roger8 commented on #26474
mine failed too, have no idea,  need help.
[code]

[2019-03-20 04:10] gzerveas commented on #10632
The `stack` solution worked for me too and indicates that this is beyond doubt a bug.

[2019-03-20 04:14] shizukanaskytree commented on #1824
How to see threads of a CPU process in the Timeline?

[2019-03-20 04:29] gunan commented on #26826
Correct, we had to build our python 3.7 binaries on ubuntu 16, because we were not able to setup python 3.7 fully on ubuntu 14. We had to disable ssl, which caused our builds to fail.
We are exploring builds on CentOS, but I cannot offer an immediate solution for prebuilt binaries.
You should be able to build TF from sources on CentOS for a quick solution.

[2019-03-20 04:58] dattran2346 commented on #26182
- Nvidia-docker only give us access to the driver, the `cudatoolkit` and `cudnn` stuff we have to install by ourselves. `cudatoolkit` and `cudnn` are just dynamic libraries and their location depends on where we installed.

- If we install tensorflow-gpu with pip (inside conda or not), tensorflow-gpu will look at `$PATH` and `$LD_LIBRARY_PATH` to find `cudatoolkit` and `cudnn` at runtime. In this

[2019-03-20 05:00] jvishnuvardhan commented on #26853
@bglee85 when you have time, please write simple step by step instructions that could help the community who have similar problems like you had earlier. Thanks!

[2019-03-20 05:16] kshaeffer opened #26918 "r2.0-alpha compile on Ubuntu 18.04 has not installed tensorboard nor tf_upgrade_v2 properly"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): AWS Ubuntu 18.04 server
- Mobi

[2019-03-20 05:21] priyakansal commented on #26182
@dattran2346
Thankyou so much for so detailed explanation.
if i am running ``` conda install tensorflow-gpu ```, then also it is not working, however, i have not tried is with  ```conda uninstall cuda10.0 ```. Here, the problem is that i also want to install ``` tensorflow-serving-api-gpu```, which is not available for conda-install, so need to install using pip, but when installing this.. i am ge

[2019-03-20 05:35] xhyydynlxxd commented on #23058
Have you solved this problem? The problem I encountered is exactly the same as you. Can you help me?I tried many ways。

[2019-03-20 05:39] kshaeffer commented on #26918
I have been able to get tf_upgrade_v2.py to run. And it does process the file as expected.

$ python3 -m tensorflow.tools.compatibility.tf_upgrade_v2_main --infile ../../t1LSTMBlockCell4HLDropoutAdam.py --outfile ../../t1LSTMBlockCell4HLDropoutAdam_v2.py

My understanding is I should not need to run it this way. Presume it is not properly installed.

[2019-03-20 05:43] sirius8050 commented on #26833
You can try tensorflow==1.10.0.

[2019-03-20 06:16] reorder-cv commented on #26833
I tried using tools from
- https://github.com/mystic123/tensorflow-yolo-v3
- https://github.com/jinyu121/DW2TF

and used the .pb files generated from these two tools.

[2019-03-20 06:17] reorder-cv commented on #26833
I was able to convert to tflite format with 1.12.0 after a lot of issues however if i try to use the interpreter using the same version it says that some operations are not suppored 'ResizeNearest'

[2019-03-20 06:26] sirius8050 commented on #26833
You can try to quickly create a tensorflow1.10.0 environment with the virtual environment under Linux. I have tried to use TF1.13.0 for a mistake. I am not very clear about whether it is possible to use TF1.12.0.

[2019-03-20 06:54] macfly1202 commented on #25866
HI, I want to reopen this because I encounter simlilar issue.
I've run a custom model for more than 200 experimentation on 2 month and some scanning parameter training for 3 days without any issue.

Previously NO ISSUES was on driver 4.10, CUDA 9.0, Cudnn 7.3.1
Ubuntu 16.04
Tensorflow install from binary
TensorFlow version (use command below): 1.12.0
Python 3.6
GPU model and memory: GTX 1080 TI 11

[2019-03-20 07:23] shashanka300 opened #26922 "AttributeError: 'tensorflow.python.framework.ops.EagerTensor' object has no attribute 'swapaxes'"
using keras API in tensorflow 2.0

[2019-03-20 07:27] pratjosh9 commented on #20402
I've implemented the corresponding changes in the required file and created a PR  #26923. Kindly suggest if any further changes are required.

[2019-03-20 07:28] araujoalexandre commented on #19671
Hi, has the update been done on v1.13?
Thank you,

[2019-03-20 07:39] jaingaurav commented on #19671
Hi @araujoalexandre, the fix did not make it in the v1.13 release. It should be in the next release. You can also try the nightlies to verify that it has indeed been fixed.

[2019-03-20 07:58] JustASquid commented on #25866
@macfly1202

Sadly it looks very similar to my issue which was definitely a hardware issue. My problem also started happening without any hardware changes etc - I guess the GPU just died spontaneously. After I returned the card and got a replacement, the issue went away entirely.

Maybe try running https://www.geeks3d.com/gputest/ for a period of time (mine took 5 minutes or so) to see if you can

[2019-03-20 07:59] guptapriya commented on #17851
@Oktai15 https://www.tensorflow.org/alpha/guide/distribute_strategy covers various ways in which you can use tf.distribute.MirroredStrategy to do multi GPU training (and links to tutorials and examples)

[2019-03-20 08:14] yun1988822 opened #26924 "iOS example compile error"
iOS example app compile error because "third_party/tensorflow/core/framework/types.h" file not found. (Xcode 10.1)

I can fix this bug by modify
`#include "third_party/tensorflow/core/framework/types.h" `
to
`#include "tensorflow/core/framework/types.h" `
(tensorflow/tensorflow/examples/ios/simple/ios_image_load.h # line20)

Many thanks!

[2019-03-20 08:14] araujoalexandre commented on #19671
Thank you @jaingaurav, I have access to the v1.12 and v1.13, is it possible to fix this issue an other way ? I tried tf.set_random_seed(1) but is not working

[2019-03-20 08:29] bolau commented on #25181
Just a noob question for now: what branch should I work from?

[2019-03-20 08:31] loretoparisi commented on #26182
What I did was this https://gist.github.com/loretoparisi/4a096fc3625f60403c8734de9660cbcc

[code]

Basically you will get Python3.6, CUDA 9 and TF 1.12.0

[2019-03-20 08:34] youngkiu commented on #25094
I have same problem, when I import show error like this
--------------------------------------------------------------------------------
Start Server
Traceback (most recent call last):
  File "C:\Program Files\VATECH\Ez3D-i Auto Tooth Segmentation\pkgs\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Program Fil

[2019-03-20 08:40] laiqb opened #26925 ""tensorflow/core/framework/attr_value.pb.h""
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version:
- Doc Link:

**Describe the documentation issue**
in "tensorflow/core/fram

[2019-03-20 09:06] bolau opened #26927 "Compile error for overlapping nets with Tf.Keras metrics"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: macOS 10.14
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below):  broken with 1.13.1, works with 1.12.0
- Python version: 3.6.3

**Describe the current behavior**
Compiling concatenated networks with Keras metrics causes an InvalidArgumentError in the input of the secon

[2019-03-20 09:18] AlexMetsai commented on #26922
How do you import keras, are you importing from tensorflow? Have you tried import tf.keras?

[2019-03-20 09:18] SumNeuron opened #26928 "Memory always exceeds 10% system memory"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): conda gpu version
- TensorFlow version (use c

[2019-03-20 09:19] mandroid6 commented on #26532
@mihaimaruseac yes will make a single PR for these documentation issues `` tf.unstack``,`` tf.unique``, ``tf.zeros``, ``tf.zeros_initializer`` and also ``tf.zeros_like``.

[2019-03-20 09:27] hudarsono commented on #17493
Same issue here with TensorFlow 1.12 and Xcode 10.1.

That line of code in 1.12 a bit different now :
`extern __shared__ __align__(8) unsigned char shared_memory[];
`
I replaced it with :
`extern shared unsigned char shared_memory[];
`
But generating  error: explicit type is missing ("int" assumed).

[2019-03-20 09:32] veritas9872 opened #26929 "Please add the window size parameter (and other options) to SSIM"
**System information**
- TensorFlow version (you are using): 1.13
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
Currently, the SSIM in tf.image.ssim has many parameters fixed inside the script with no way to alter them. Most importantly, the window size parameter is fixed at 11x11.

However, many people have found that changing the window

[2019-03-20 09:33] foxik commented on #26927
For TF 2.0, it has been reported as https://github.com/tensorflow/tensorflow/issues/26738. From what you say, it seems that it also affects 1.13.

[2019-03-20 09:37] foxik commented on #26889
This seems to be a copy of https://github.com/tensorflow/tensorflow/issues/26927 and a TF 2.0 version of this problem https://github.com/tensorflow/tensorflow/issues/26738.

[2019-03-20 09:42] hxs91 commented on #22857
The same problem occurs for me.
For `train_and_evaluate`, I have the following codes:
[code]
and I get the log as follows:
`Saving dict for global step 223632: acc = 0.92796874, global_step = 223632, loss = 52.85372`
For `estimator.evaluate`, I use the same model trained during `train_and_evaluate`, the codes are as follows:
[code]
But the log gives a different and poor result:
`Saving dict for gl

[2019-03-20 10:35] hxs91 commented on #22857
update:
I find the difference is due to the different parameter `steps` in `train_and_evaluate` and `estimator.evaluate`.
`steps` in `train_and_evaluate` has a default value of `100`, but the default value of it in `estimator.evaluate` is `None`.
After I set it to `100`, this problem is resolved. But I still do not know the reason, and I wonder whether whether this result is identical to the `esti

[2019-03-20 11:08] priyakansal commented on #26182
@loretoparisi
Hi ,
Sorry I am bit new to docker ... so when I am building some image ... either <tensorflow :tensorflow- latest-gpu> or < tensorflow-serving: latest -gpu> using docker run or nivida-docker rum and importing the packages related to tensorflow every thing is working fine ... but when i am building my custom image with anaconda as a base image using docker-compose or nivida-docker- co

[2019-03-20 11:09] keesduisters opened #26932 "tf lite java api model interpretation error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Nexus 5 emulator, API version 23
- TensorFlow installed from (source or binary): binary
- TensorFlow

[2019-03-20 11:16] ramkumarkoppu opened #26933 "Can we have demo CNN application using ARM micro controller with Camera for object detection please?"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): Experimental Micro-controller version
- Are you willing to

[2019-03-20 11:25] pf-xu commented on #22794
yes, it works. mark!

[2019-03-20 11:40] bersbersbers commented on #26873
To explicitly include a thought of mine:

My reporting this issue is based on the expectation that `epoch_` metrics should behave the same regardless of how often `batch_` metrics are written, such that `epoch_` metrics are always comparable across runs with different `update_freq`.

Of course, if `batch_` and `epoch_` metrics are assumed to be interpreted in conjunction for one run, there is a ne

[2019-03-20 12:03] chengyuz opened #26935 "how to edit kernel weight at certain global_step using estimator"
i want to set some weights to zero at certation global step.

[2019-03-20 12:45] shaolinkhoa opened #26937 "Typo in the section "3. Install the TensorFlow pip package""
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version:
- Doc Link: https://www.tensorflow.org/install/pip

**Describe the documen

[2019-03-20 12:53] ericyue opened #26938 "How to use tf.embedding_lookup_sparse_with_distributed_aggregation in feature_column&estimator ?"
Hi, I want to use `tf.embedding_lookup_sparse_with_distributed_aggregation`  in my training program. The model is built with tf.estimator and tf.feature_column .

But the default is using `safe_embedding_lookup_sparse ` which will cost lots of network traffic.

So what is the best way to use distributed_aggregation with feature_column ?

 I think one way is to modify tf.feature_colmun source code.

[2019-03-20 12:57] tensorflowbutler commented on #18353
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-20 13:01] hxs91 commented on #22857
It seems that `steps` in `estimator.evaluate` controls the proportion of evaluation data, but what exactly does `steps` mean?

[2019-03-20 13:07] hxs91 commented on #22857
Sorry for this stupid question. I know it now.
one `step` in this situation means an evaluation for a batch of data.

[2019-03-20 13:15] mostafaelhoushi commented on #26182
Can you try to search for the missing file `libcublas.so.10.0` on your file system. e.g. by using
[code]

and then when you find the path add it to `LD_LIBRARY_PATH` environment variable.
If you can't find it, then you probably need to install the correct version.

[2019-03-20 13:27] xyzdcgan opened #26940 "Allocation of ram/memory while training 50 gb of data"
Hello,

I am training a model and my specs are

Tesla K80 GPU  12 GB ram
61 gb ram physical ram

my training data set is of 50 gb

I want to know that how tensorflow use the memory for loading the data as it gives "OOM" error,
while loading images/dataset how it load whether loads all the in gpu and doesn't utilize the ram
as while training it uses gpu so does it do half data on ram and half data

[2019-03-20 13:27] Sklan opened #26941 "[TF2.0] ref types in TF1 vs TF2"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platfo

[2019-03-20 13:56] NicolasSofu commented on #12871
in march 2019 the lack of deterministic behaviour of the adam optimizer is still a problem !
 I don't want to force the optimizer to run on CPU (i don't want to wait for the rest of my life) ....

Is there any new proposal ?
Or is the "clip_by_value" on cpu a real answer ? if so, can someone detail it a little because i didn't catch this.

[2019-03-20 13:58] NicolasSofu commented on #12871
yes still an issue for me at least :+1:

[2019-03-20 14:18] ttdd11 opened #26942 "Add SetDefaultDevice equivalent in c_api"
TensorFlow version: 1.11, 1.12, 1.3
-Are you willing to contribute it (Yes/No): Yes

In bazel build for tensorflow_cc.lib, SetDefaultGraph does not work as it has previously.

My recommendation would be to add an entry into the c_api so that one can assign a session to a specific GPU.

[2019-03-20 14:32] phquanta commented on #26841
Did check, it still persists.

Numpy:
start=time.time()
self.wNegJ[j,:,:]+=np.add.reduce([np.outer(self.vt[i,j,:],self.ht[i,j,:])*expF[i] for i in self.lRepls],axis=0)
print("Time for Average step0:",time.time()-start)

Time for Average step0: 0.26468753814697266

Tensorflow:
               bb1=tf.convert_to_tensor(self.vt[:,j,:])
               bb2=tf.convert_to_tensor(self.ht[:,j,:])

[2019-03-20 14:33] phquanta commented on #26841
Sorry, TF version is 1.11.0

[2019-03-20 15:15] alextp commented on #26839
We'll not make tensors mutable (as this will make compilation substantially
harder) but we can do a better job at hiding the immutability of tensors
after tf 2.0 goes out.

If you can enumerate specific slicing formats which currently do not work
we can try to add them to the strided slice operation.

On Tue, Mar 19, 2019 at 6:52 PM Andrei Buin <notifications@github.com>
wrote:

--
 - Alex

[2019-03-20 15:24] xindongzhang commented on #22643
try old version bazel, like 0.18.0 or 0.19.0

[2019-03-20 15:51] ebubekirtabak opened #26945 "ImportError: cannot import name 'calibration_pb2'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):NO
- OS Platform and Distribution "Debian GNU/Linux 9 (stretch)"
- TensorFlow installed from: source
- TensorFlow version: b'unknown' 1.10.0
- Python version: 3.5.6
- Bazel version: 0.15.2
- GCC/Compiler version gcc (Debian 6.3.0-18+deb9u1) 6.3.0 20170516
- CUDA/cuDNN version: 10

[2019-03-20 16:05] mihaimaruseac commented on #26925
It is autogenerated from the protocol buffers

[2019-03-20 16:19] jaingaurav commented on #19671
@araujoalexandre: `tf.set_random_seed(1)` should have addressed this issue. Would you be able to share code? Perhaps there is something else that is causing a memory leak for you.

[2019-03-20 16:26] ArifSohaib opened #26947 "Tensorflow 2.0 compile for raspberry pi failed with file not found error"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:No
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **Python version**: tried both 2.7 and 3.6
- **Bazel version (if compiling from source)**: 0.13.0
- **GCC/Compiler version (if compiling from source)**: 5.4.0
- **CUDA/cuDNN version**:10.0.1

[2019-03-20 16:28] theonegis commented on #17216
@LotusWang0723 I have no root privilege, so I use conda to install cudatoolkit and cudnn. The versions matches with the official built binary. But I still got this error.

[2019-03-20 16:30] theonegis commented on #17216
By the way, in the same context (cudatookit=10.0, cudnn=7.4), PyTorch library can run without any issues, but TensorFlow just throws this error.

[2019-03-20 16:34] PaulNicolasHunter opened #26948 "why do i get empty array at tf.keras.Sequential(layers).trainable_variables?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- TensorFlow version: 2.0.0-alpha0
- Python version: 3.6
- Installed using virtualenv? pip? conda?: pip

**why do I get empty array ?**

I'm trying to follow tf2.0 tuts on the website to perform a simple perceptron but seems like the package manager isn't able to pick up the new release but also not throwing

[2019-03-20 16:51] ricardobnjunior commented on #20718
same problem

[2019-03-20 16:56] haozha111 commented on #26869
When you use the non-custom loss implementation, internally TF will call the log1p operator, which is not supported by TF Lite (it's neither built-in nor select). So this will crash the conversion process.

I'm wondering if you could strip loss/train_op from the model and then convert it to TF Lite. TF Lite models can't be used for training, since it doesn't support gradient ops or variable update

[2019-03-20 16:57] haozha111 commented on #26869
Forgot the attach the code link where log1p is called:

[2019-03-20 17:05] makalaia commented on #25144
I'm having the same issue when trying to compile Tensorflow 1.13.1, I'm using bazel 0.21.0 on amazon linux.

I've tried with gcc versions 7.3.0, 7.3.1, 7.4.0, 8.3.0 and got the same error on all of them. Do anyone have a solution for this?

[2019-03-20 17:08] #26942 closed

[2019-03-20 17:12] jvishnuvardhan commented on #26935
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-03-20 17:12] #26935 closed

[2019-03-20 17:25] galeone commented on #26812
Thank you for the explanation @alextp - now everything is clearer. The RFC just describes the first call, but there is no guarantee that tf.function won't call the function more than once while converting it as a graph and for this reason, the developer should take care of handling the variables creation; thus If I need to reuse or not a variable it makes no difference, I have to take care of its

[2019-03-20 17:26] aaryapatel007 opened #26950 "FailedPreconditionError when training on TPU"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):YES
- OS Platfo

[2019-03-20 17:29] woodshop opened #26951 "EagerTensor.numpy() fails with string dtype when called from py_function on GPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.13.1

[2019-03-20 17:29] haozha111 commented on #26549
Hi Scott,

Sorry for late reply! Can you still reproduce this issue? I tested it on tf-nightly but no assertion errors show up again.

[2019-03-20 17:33] essalahsouad opened #26952 "OSError: libcudart.so.9.0: cannot open shared object file: No such file or directory"
**I know that my question isn't nothing to do with tensorflow but i'll appreciate any help**
when i was trying to prepare voc dataset for training pre trained model i got this error

`from gluoncv.data import VOCDetection
class VOCLike(VOCDetection):
    CLASSES = ['iris']
    def __init__(self, root, splits, transform=None, index_map=None, preload_label=True):
        super(VOCLike, self).__init_

[2019-03-20 17:38] alextp commented on #26812
Yes, exactly. With TF 2.0 in general we're trying to get TF out of your way
as much as possible, instead of pushing every possible thing you'd want to
do inside TF. We think this is simpler, more modular, and easier to
integrate with larger codebases.

On Wed, Mar 20, 2019 at 10:29 AM Paolo Galeone <notifications@github.com>
wrote:

--
 - Alex

[2019-03-20 17:59] jdduke commented on #26932
Thanks for the report, I'll take a look.

[2019-03-20 18:06] jdduke commented on #26932
What is the shape of your input tensor?

[2019-03-20 18:22] ankitvgupta opened #26954 "Documentation Request: Transfer Learning in TF 2 with same and/or different final layer"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 2 alpha
- Doc Link: N/A

**Describe the documentation issue**
Hello, I'm i

[2019-03-20 18:34] dksb commented on #26543
@jvishnuvardhan Let's investigate this one further. There might be an environment/device specific issue.

[2019-03-20 18:35] jdduke commented on #26932
I've run your code, and if I give it the natural (1, 3, 200, 1) shape it behaves as expected. I'll need to know what shape you're providing.

Note that not all graphs support dynamic resizing based on the input shape. If you have any operators in the graph with fixed shape assumptions, the resize may fail or produce an invalid shape.

[2019-03-20 18:56] alextp commented on #26941
Yes, ref is no longer a thing in tf v2.

[2019-03-20 18:56] #26941 closed

[2019-03-20 19:00] osanwe commented on #26869
I kept in mind the following.

The difference between the operations set of this simple graph (it includes training and assigning operations) and the set of allowed select operations is an empty set [1]. So if I recompile TF Lite for Android with select operations support [2] it will be possible to train model with TF Lite.

[1] https://colab.research.google.com/drive/1rpKNTPZ4z914PNqGzXlH3pnUDQnr

[2019-03-20 19:05] julian59189 commented on #21965
What do I need to specify or do to get the flatbuffers build? they are not installed in the configure routine and also not in the bazel build process. Do I need to set any flags for the flatbuffers to build?

[2019-03-20 19:12] reuben opened #26956 "tensorflow/core/kernels/slice_op_gpu.cu.cc is never referenced in any BUILD file"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.13
- Python version: 3.6
- Installed using virtualenv? pip? conda?: N/A
- Bazel version (if compiling from source): 0.19

[2019-03-20 19:19] nadianaji opened #26957 "why this error have happen? 'NoneType' object has no attribute '_inbound_nodes'"
Hi,
 I want to fill a tensor with the value of the specific index of another tensor, this is my full code
[code]
I need sth like this.
[code]
wtm(0,0)=0 so I want to produce this new tensor with shape(28,28,1)

[code]
but when I implement the code it produces this error:

what should I do? how can I access to the specific value in tensor and do sth like the thing I mentioed before? I really need y

[2019-03-20 19:30] SyedAliZafar commented on #17541
Hey,

It's some mulfunction of tensorflow. I also faced this problem. But I
restarted my computer and it's working fine now 😂

Best regards,

Ali

On Wed, Mar 20, 2019, 19:35 Eric <notifications@github.com> wrote:

[2019-03-20 19:45] souregi commented on #26945
I am having the same issue

[2019-03-20 19:49] mdanatg commented on #19214
Final update - the loop uses the type to decide whether to run as a Python or TF loop. So, if the iterated is a Tensor, then the loop will run in TF. Otherwise it stays in Python.

Examples:

[code]

We found that this is the way that's most consistent with other instances, like for instance overloaded operators (e.g. `a + b` runs in TF if either `a` or `b` is a tensor).

[2019-03-20 19:49] #19214 closed

[2019-03-20 19:54] girving commented on #26684
It looks like there are two problems, one large and one small:

**Large:** Every `tf.Operation` has a strong reference to the graph it lives inside (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/ops.py#L1921).  This should probably be a weak reference.  This is presumably the cause of the leak, since we store a long lived reference to the op in `_SUMMARY_WRITER_I

[2019-03-20 20:07] kshaeffer commented on #26486
I've encountered the same bug. A test file:

#! /usr/bin/env /usr/bin/python3

import tensorflow as tf

tf.enable_eager_execution()
print(f"tf.executing_eagerly() = {tf.executing_eagerly()}")

I've attached the Traceback.
[tf2_fstring_traceback.txt](https://github.com/tensorflow/tensorflow/files/2989900/tf2_fstring_traceback.txt)

[2019-03-20 20:11] ZunDubCore opened #26958 "Error C2338 in tensorflow/compiler/tf2xla/cpu_function_runtime.h(71)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 64 bit
- Mobile dev

[2019-03-20 20:20] ZunDubCore commented on #26679
Not getting this error anymore. Instead see #26958. Closing the issue

[2019-03-20 20:28] karmel commented on #25882
(For API owners) This might be more appropriate for the [TensorFlow Addons](https://github.com/tensorflow/addons) repository, which has a number of special use ops like this. In either case, in the op registration code above, the Attrs should be Inputs. (Inputs are more flexible.)

[2019-03-20 20:29] karmel commented on #26069
(For API owners) We can take a look when there is a specific proposal to review.

[2019-03-20 20:31] tawe141 opened #26959 "Component function execution failed: Unknown: Fail to find the dnn implementation."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-03-20 20:33] dynamicwebpaige commented on #26937
Thanks for letting us know! :slightly_smiling_face:

I made the change, and you can track progress on the PR here:
https://github.com/tensorflow/docs/pull/402

[2019-03-20 20:33] #26937 closed

[2019-03-20 20:48] jvishnuvardhan commented on #26240
There are solutions and workarounds presented in a similar issue #26182. Please go through them if your issue was not resolved. I am closing this issue. Thanks!

[2019-03-20 20:48] #26240 closed

[2019-03-20 20:53] NexYY commented on #22794
Hi, I have the same setup with python 3.7.
Now there is a cudnn version of CUDA 10.1, however tensorflow-gpu still doesn't work if I install it from pip.
Did you rebuild it yourself?

[2019-03-20 20:54] ymodak commented on #26633
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-20 20:54] #26633 closed

[2019-03-20 20:54] max0x7ba commented on #19375
March 2019 update.

`tensorflow-gpu` is built against `cuda-10.0`. Ubunty 18.04 has `cuda-10.1` and that is incompatible with `tensorflow-gpu`.

One has to go to NVidia developer website to install CUDA from CUDA Toolkit 10.0 Archive **along** with corresponding `cuDNN` because the latter is not packaged with `cuda` meta-package.

If you don't install `cuDNN` you get that `python: Relink `/lib/x86

[2019-03-20 20:55] jvishnuvardhan commented on #26247
@combacsa Could you share a sample file as requested by @yongtang . If it was resolved with latest TF version, please close the issue. Thanks!

[2019-03-20 20:56] #26778 closed

[2019-03-20 20:56] jvishnuvardhan commented on #26262
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-03-20 20:56] #26262 closed

[2019-03-20 21:02] jvishnuvardhan commented on #26273
@wagonhelm I agree with @henrysky . This is related to #25636. So I will close this issue and keep the issue #25636 open until it is resolved. Thanks!

[2019-03-20 21:02] #26273 closed

[2019-03-20 21:13] jvishnuvardhan commented on #26335
@effiek9999 Please check #26182 for any workarounds and solutions. Please close the ticker if your issue was resolved. Thanks!

[2019-03-20 21:15] jvishnuvardhan commented on #26375
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-03-20 21:15] #26375 closed

[2019-03-20 21:16] souregi commented on #26945
Instead of excecuting this command :

    protoc --python_out=. .\object_detection\protos\anchor_generator.proto .\object_detection\protos\argmax_matcher.proto .\object_detection\protos\bipartite_matcher.proto .\object_detection\protos\box_coder.proto .\object_detection\protos\box_predictor.proto .\object_detection\protos\eval.proto .\object_detection\protos\faster_rcnn.proto .\object_detection\pr

[2019-03-20 21:17] macfly1202 commented on #25866
@JustASquid thanks for answer. I run gputest / pixmark Piano in full screen during 40 minutes without any issue: GPU0 - core temp: 68 °C, core usage 100%
GPU0 - core temp: 68 °C, core usage 99%.

I will try compiled version to check especially the conda install tensorflow which embed the cuda package directly to check if errors occurs again.

[2019-03-20 21:21] jvishnuvardhan commented on #26390
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-03-20 21:21] #26390 closed

[2019-03-20 21:25] jvishnuvardhan commented on #26420
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-03-20 21:25] #26420 closed

[2019-03-20 21:25] jvishnuvardhan commented on #26448
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-03-20 21:25] #26448 closed

[2019-03-20 21:28] jvishnuvardhan commented on #26476
@usernamemissing Could you follow @grzegorz700 suggestion and let me know how it progresses. Please close the issue if it was resolved already. Thanks!

[2019-03-20 21:57] LenaGer commented on #11859
fixed it creating new environment variable : 'BAZEL_SH' value: 'C:\msys64\usr\bin\bash.exe'

[2019-03-20 22:00] kshaeffer opened #26960 "tf.compat.v2.summary.scalar has no attribute 'summary_scope'"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes, I have a

[2019-03-20 22:16] nfelt commented on #26479
Duplicate of https://github.com/tensorflow/tensorboard/issues/1993

This is fixed in `tb-nightly`, which you can try out via `pip install --upgrade tb-nightly`.

[2019-03-20 22:16] #26479 closed

[2019-03-20 22:31] davideh29-portfolio opened #26961 "Dynamic ksize and strides with AvgPool"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
1.11.0

- Are you willing to contribute it (Yes/No):
Yes -

[2019-03-20 22:48] allenlavoie commented on #26954
The easiest would be to collect the common layers in a single Model and save and load weights on that. While training each configuration (50 / 100 classes) you can save_weights and load_weights on the slightly larger Model which includes the common Model, but to make the transfer I'd use the common Model.

Does that make sense? So three Models, one common and one which includes it for each task. I

[2019-03-20 22:54] allenlavoie commented on #26948
The Layers aren't built yet. You can either pass an input_shape to Sequential, which will build everything, or you can call build() explicitly. You can also call the model with data and they will build automatically.

Whichever option, the Layer just needs to know its input shape before it can create its variables.

[2019-03-20 22:54] #26948 closed

[2019-03-20 23:03] ankitvgupta commented on #26954
Thanks very much for the help!

To clarify, are you suggesting something like this:
[code]
then, for example, I could train 100_model, and then save_weights on that.

When I want to train 50_model, would first running 50_model.load_weights on the exported weights from 100_model work? I would have guessed that would yell at me since the architectures are different. I'd like to use the SavedModel fo

[2019-03-20 23:14] allenlavoie commented on #26954
Yep, those are the models I had in mind. Then if you use `common_model.save_weights` after training model_100, you can load it into a compatible `common_model` with `common_model.load_weights` when you want to train model_50. (Or if you can keep them both in the same program they'll naturally share weights.)

It's also possible to extract `common_model`'s weights from `model_100`'s checkpoint, by

[2019-03-20 23:33] qlzh727 commented on #23269
Sorry for the very late reply. The sequence_length/masking should now by supported in keras.LSTM/GRU in 2.0 with change https://github.com/tensorflow/tensorflow/commit/ac04087f7fb9d535d33b800d6e2bfb82c7df7077 and https://github.com/tensorflow/tensorflow/commit/9eec7d3f0dae15792a58444b74873c3d6d96b037

[2019-03-20 23:34] #23269 closed

[2019-03-20 23:40] jvishnuvardhan commented on #26565
I think it was resolved. I am closing the issue. If you think I made a mistake, please open another issue. Thanks!

[2019-03-20 23:40] #26565 closed

[2019-03-21 00:12] impjdi commented on #26297
@anilsathyan7

Apologies for the delayed response.  For some reason, I just got this in my inbox >_<

Quick question re: your code:

Doesn't it have to be

`GLES31.glBufferData(GLES31.GL_SHADER_STORAGE_BUFFER, 3 * mWidth * mHeight, null, GLES31.GL_STREAM_COPY);`

?

Also, do you have the luxury to make the input SSBO of shape 1x129x129x4 ?  Then you could eliminate one hidden memcpy inside.

From

[2019-03-21 00:14] bglee85 commented on #26853
@jvishnuvardhan, technically I didn't solve the problem, I just reset my windows and reinstall everything. Anyway here is the step after factory reset the windows.

1) Install CUDA 10.0
2) Copy cudnn into CUDA/v10.0 folder
- you can check out whether your GPU is working with CUDA running at Anaconda prompt deviceQuery.exe at "UDA/v10.0/extras/demo_suite/deviceQuery.exe"
- you also can test out the

[2019-03-21 00:25] alextp commented on #26486
This is an issue in google_pasta, a library we use to write that script in. I've escalated it to the maintainers and will ping back here soon.

[2019-03-21 00:31] amsoftgroup commented on #8858
I had similar issues, random reboots under Tensorflow GPU load with Gigabyte X299 UD4 motherboard shipped with BIOS version F3. Official support for my CPU (Intel Core i7-9800X CPU @ 3.80GHz) came under BIOS version F6j. Updated the BIOS and completely stable. Echoing others before me, make sure your motherboard BIOS explicitly supports the CPU even if all appears to be well.

[2019-03-21 00:31] tanzhenyu commented on #26557
Can you update tf version to 1.13.1 and see if it goes away?

[2019-03-21 00:36] jrullan commented on #26731
I had the exact same error on a Pine64 A64+ Board.

[2019-03-21 00:39] prouast commented on #17824
Bump, I would also like to see this done properly.

[2019-03-21 00:49] smit-hinsu commented on #26800
Thanks for the detailed report and also proposing a solution!

Pull requests should be sent to the `master` branch. You can refer to guidelines  for contributing code to TensorFlow at https://www.tensorflow.org/community/contribute/code. Let us know if you have any other questions!

[2019-03-21 01:12] smit-hinsu commented on #26072
Could you set TF_CPP_MIN_VLOG_LEVEL environment variable to 10 using the following in python?
os.environ['TF_CPP_MIN_VLOG_LEVEL'] = '10'

This might help us understand what it is doing between the timestamp '00:07:13.806642' and '00:11:15.093862'?

Also, It seems that some of the users are not having this issue with TensorFlow 2.0 nightly. See,
https://github.com/tensorflow/tensorflow/issues/18652

[2019-03-21 01:17] youngkiu commented on #25094
I solved my problem.
Reference the below links
https://github.com/tensorflow/tensorflow/issues/17386#issuecomment-370129452
https://stackoverflow.com/questions/49113497/python-tensorflow-import-dll-load-failed

[2019-03-21 01:22] KaramAbuaisha commented on #26072
Sorry I actually made a mistake earlier, I still get the error `ImportError: No module named 'tensorflow'
`

[2019-03-21 01:23] KaramAbuaisha commented on #26072
I was actually in the wrong docker container when I tested it again and got the results above

[2019-03-21 01:43] kavita-moholkar commented on #11859
Done

On Thu 21 Mar, 2019, 3:30 AM LenaGer, <notifications@github.com> wrote:

[2019-03-21 02:06] smit-hinsu commented on #26072
The commands to build dockerfiles seem correct to me but we need to use "devel-gpu.Dockerfile" Dockerfile while building the docker.

[2019-03-21 02:20] PawelFaron opened #26964 "Restoring model doesn't see variables"
I saved model using:
[code]
When I'm trying to restore and use it:
[code]
I'm getting the following error:

But when I use cli everything looks ok:
[code]

[2019-03-21 02:22] smit-hinsu commented on #20915
Could you share the TensorFlow graph with TF 1.3 and the next version that shows regression? You can refer to this answer for instructions to dump the default TensorFlow graph.
https://stackoverflow.com/a/34440319/9501553

This will help check if the regression is happening because use of different ops or some change in the op implementation. I couldn't find a way to dump the optimized graph after

[2019-03-21 02:22] willbattel opened #26965 "freeze_graph successful from command line but fails from Python file"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-03-21 02:27] miaout17 commented on #26869
Training in isn't supported in TensorFlow Lite.
We're looking into supporting Training. Stay tuned.

[2019-03-21 02:40] snackerdog commented on #20778
Am getting the following error trying to run ChatLearner chatbot. Not sure where to get the 'abs' for keras?  How to fix this any ideas?

from tensorflow.python.keras._impl.keras.backend import abs
ImportError: cannot import name 'abs'

[2019-03-21 02:43] heydatatalks commented on #23748
i got the same error in tf1.13. Anyones has a quick local fix solution?
Thanks a lot!

[2019-03-21 02:59] priyakansal commented on #26182
@mostafaelhoushi
When i am running this command  ``` find / -name "libcublas.so.10.0" ```
the output is
[code]

[2019-03-21 03:04] KaramAbuaisha commented on #26072
Even if I make no changes at all, I get the same import error as above

[2019-03-21 03:09] Letbulletfly commented on #3628
I solved this problem by using the tf.layers.batch_normalization rather the tf.contrib.layers.batch_norm.

[2019-03-21 03:14] 00krishna opened #26966 "Add a `length` or size attribute to the `tf.data.Dataset`"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):
Tensorflow ve

[2019-03-21 03:17] smit-hinsu commented on #26072
Could you confirm that you are editing devel-gpu.Dockerfile file and then running the following command?
`docker build -t tf-tools -f dockerfiles/devel-gpu.Dockerfile`

(The script you posted has tools.Dockerfile and not devel-gpu.Dockerfile that we need to use.)

If this still does not work, could you run it after setting TF_CPP_MIN_VLOG_LEVEL environment variable?

[2019-03-21 03:19] priyakansal commented on #26182
@mostafaelhoushi
When i am running this command  ``` find / -name "libcublas.so.10.0" ```
the output is
[code]

[2019-03-21 03:23] Lihengwannafly opened #26967 "InvalidArgumentError (see above for traceback): ConcatOp : Dimensions of inputs should match:"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-03-21 03:24] KaramAbuaisha commented on #26072
I was running this command `docker run --rm -u $(id -u):$(id -g) -v $(pwd):/tf tf-tools python3 assembler.py --release nightly --build_images --run_tests_path=$(realpath tests) --only_tags_matching="^devel-gpu-py3$"`

`docker build -t tf-tools -f dockerfiles/devel-gpu.Dockerfile` returns
[code]

[2019-03-21 03:35] Letbulletfly commented on #3628
# fix batch norm nodes
        for node in input_graph_def.node:
            if node.op == 'RefSwitch':
                node.op = 'Switch'
                for index in range(len(node.input)):
                    if 'moving_' in node.input[index] and "Switch" not in node.input[index]:
                        node.input[index] = node.input[index] + '/read'
            elif node.op == 'AssignSub':

[2019-03-21 03:37] zhangjinyangnwpu commented on #8220
I wonder if I want get a return value from every processing, how should I do? return in method 'run'? and how can I get this return value?

[2019-03-21 03:54] Lancerchiang commented on #8220
@zhangjinyangnwpu

[code]

[2019-03-21 03:59] Lancerchiang commented on #8220
[code]

[2019-03-21 04:08] smit-hinsu commented on #26072
Adding @tfboyd to see if he knows any obvious issue with building the docker.

Could you try setting TF_CPP_MIN_VLOG_LEVEL environment variable with the default TensorFlow docker to see if that helps investigate?

This issue might have the same underlying issue as #18652. So marking this as duplicate to that one.

[2019-03-21 04:08] zhangjinyangnwpu commented on #8220
For the code, I'm confusing that why
[code]
What is this part means?
@Lancerchiang

[2019-03-21 04:12] jacobhilton opened #26969 "Batched matmul gives incorrect result on GPU with 32-bit precision and batch size >= 2 ** 16"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): not sure
- TensorFlow version (use command below): v1

[2019-03-21 04:16] Lancerchiang commented on #8220
@zhangjinyangnwpu  The workers won't know the tasks are done if this signal is not broadcasted

[2019-03-21 04:16] shashanka300 commented on #26922
yes i have used tf.keras

[2019-03-21 04:30] shashanka300 commented on #26922
UnknownError                              Traceback (most recent call last)
<ipython-input-14-c90c3b2c3d99> in <module>
      3 earlystopper = tf.keras.callbacks.EarlyStopping(patience=5, verbose=1)
      4 checkpointer = tf.keras.callbacks.ModelCheckpoint('test_1.h5', verbose=1, save_best_only=True)
----> 5 results = model.fit(X_train, Y_train, validation_split=0.1, batch_size=16, epochs=50,shuff

[2019-03-21 04:38] ebubekirtabak commented on #26945
Its work. Thanks.

[2019-03-21 04:38] #26945 closed

[2019-03-21 05:02] #26821 closed

[2019-03-21 05:16] sritee commented on #9071
@gabrielziegler3  did you fix your issue? I am having the same problem, despite having everything working recently.

[2019-03-21 05:20] KaramAbuaisha commented on #26072
I changed test.py to
[code]
This was the output
[code]

[2019-03-21 05:28] KaramAbuaisha commented on #26072
I do not believe that this is a duplicate of #18652 because my delay happens after the tensor flow device is created
`2019-03-21 05:14:11.545978: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1115] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 3696 MB memory) -> physical GPU (device: 0, name: Quadro M1200, pci bus id: 0000:01:00.0, compute capability: 5.0)`

and

[2019-03-21 05:58] SanthoshRajendiran commented on #26474
We tried benchmarking the tflite obtained from official deeplab repository, with depthwise conv2d Version 2. The dilation_w_factor and dilation_h_factor for deeplab is set as 1, by default. The tflite from the output of the graph transform model, seemed to provide no speed difference as we believe graph transformation (Flatten_atrous_conv), has affected the speed improvement by DepthwiseConv2d Ver

[2019-03-21 06:01] smit-hinsu commented on #26072
I will investigate building of custom docker for TensorFlow.

[2019-03-21 06:11] VishvajeetRamanuj commented on #21362
I am facing this issue too.
when i am installing tensorflow from source https://www.tensorflow.org/install/source
on running bellow line i get error
./configure
Extracting Bazel installation...
WARNING: --batch mode is deprecated. Please instead explicitly shut down your Bazel server using the command "bazel shutdown".
You have bazel 0.23.0 installed.
Please downgrade your bazel installation to ve

[2019-03-21 06:19] fsx950223 opened #26973 "Tensorboard crashed when keras finish train in eager execution"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-03-21 06:22] VishvajeetRamanuj commented on #21366
I am facing issue like this on ubuntu 18.04(LTS)
when i am installing tensorflow from source https://www.tensorflow.org/install/source
on running bellow line i get error
./configure
Extracting Bazel installation...
WARNING: --batch mode is deprecated. Please instead explicitly shut down your Bazel server using the command "bazel shutdown".
You have bazel 0.23.0 installed.
Please downgrade your baz

[2019-03-21 06:31] omarmaree commented on #11991
hello , i'm trying to build bazel with CPU by this command:
bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package
i followed the instructions here as well : https://www.tensorflow.org/install/source_windows ,
the error:
ERROR: Skipping '//tensorflow/tools/pip_package:build_pip_package': error loading package 'tensorflow/tools/pip_package': Unable to load package for '@local_con

[2019-03-21 06:44] erikchwang opened #26974 "tf.keras.layers.Bidirectional is not equivalent to tf.nn.bidirectional_dynamic_rnn"
In tf.nn.bidirectional_dynamic_rnn, we can set "sequence_length", which contains the actual lengths of the sequences in a batch. But there is no such setting in tf.keras.layers...
So, if each sample in a batch has a different actual length, how can I do bidirectional_dynamic_rnn in tf.keras.layers?

[2019-03-21 06:46] Fordacre commented on #26557
[code]
@tanzhenyu I test it on my PC with tf version 1.13.1 again. Thanks for your advice, however, it doesn't help.

[2019-03-21 07:17] Ayush517 commented on #25880
@karloberas Are these the documents you were looking for?
https://www.tensorflow.org/lite/convert
https://www.tensorflow.org/lite/convert/cmdline_examples

[2019-03-21 07:23] monklof commented on #26800
@smit-hinsu thanks for the review, I'll update the Pull request later.

[2019-03-21 07:29] tjcooperforted opened #26975 "get "virtual memory exhausted: Cannot allocate memory" in Makefile"
when installing Tensorflow models with:
sudo make install     I get "Error 1" when making argmax_op_0

re ran the make file several times after rebooting Raspberry Pi 3 B+
and get same error each time.

[2019-03-21 07:39] alexhegit commented on #26731
Same problom with master branch of tensorflow for ARMv8 platform

[2019-03-21 08:04] DiyanaK commented on #26945
It does not work in my case.

[2019-03-21 08:08] 8bitmp3 opened #26976 "[TF 2.0 API Docs] tf.transpose"
**System information**
- TensorFlow version: 2.0 alpha
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/transpose

**Describe the documentation issue**

_Params:_ Minor thing - `tf.conj(tf.transpose(input))` should be formatted appropriately imho

_Visuals:_ One would be useful

_Raises:_ No raises listed /defined but would be useful for some folks
e.g. Running this `tf.tran

[2019-03-21 08:57] Ethan-yt opened #26978 "All images were broken in Chinese document (404)"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version:
- Doc Link: https://www.tensorflow.org/guide/premade_estimators

**Describ

[2019-03-21 08:59] meteorcloudy commented on #26418
@jvishnuvardhan Sorry, I'm not the correct person to be assigned

[2019-03-21 09:08] amitlevy21 commented on #25285
@zjh-nudger Did you mean a python module?
Each task is a module that has a file for each of the following functions: create_loss, create_model, create_optimizer.
Then i can simply import that of the those functions anywhere.

[2019-03-21 09:11] meyerjo opened #26980 "[TF2.0a0] Distribute Strategies and Summary Writer don't work together"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0-alpha0
- Python version: python 3.6
- CUDA/cuDNN version: 10.1
- GPU model and memory: TITAN X

**Describe the current behavior**
I am trying to use tf.summary at the same time as using distribute strat

[2019-03-21 09:59] Kirancgi commented on #543
so what you did? ... actually i am also facing same issue can u please help

[2019-03-21 10:06] lkabongoCS commented on #24834
For those who can't upgrade their OS (company policies, ...) and still want to access nightly previews (issue has been solved in alpha version `pip install tensorflow==2.0.0-alpha0`):
- Download the latest wheel matching their configuration from pypi:
-- GPU version here; https://pypi.org/project/tf-nightly-gpu-2.0-preview/#history
-- CPU version here: https://pypi.org/project/tf-nightly-2.0-previ

[2019-03-21 10:06] disha3 commented on #25327
@werner-rammer , I am getting the same error, did you find a solution for this?

[2019-03-21 10:21] SanthoshRajendiran commented on #26693
#26474

Not able to obtain speed up of Depthwise Conv2d Version 2, as flatten_atrous_conv is applied. Need suggestion on what kind of other conversion mechanism is there to obtain the advantages of Depthwiseconv2d.. Is there any other mechanism other than applying flatten_atrous_conv, to remove batch_to_space and space_to_batch?

[2019-03-21 10:25] SVDmodel commented on #25327
@disha3 , unfortunately not! Bad thing is that in the not-too-distant future I'll really need this ...

[2019-03-21 10:36] OsamaNaeem1995 opened #26981 "Error file not found, when running protoc command. (use tensorflow Objection detection api tutorial )"
<

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10 64 bit
-
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.13.1
- Python version: 3.5.3
- Installed using virtualenv? pip? conda?: pip

**Problem Description*
I am trying to run "introduction use tensorflow objection detection api tutorial"
https://pythonprogramming.net/intr

[2019-03-21 10:45] paulomarciano commented on #20915
Sure. Here's a zip file with an example of the graph for 1.3, one for 1.12, and the code used to generate it.
[example_net.zip](https://github.com/tensorflow/tensorflow/files/2991674/example_net.zip)

[2019-03-21 11:55] 8bitmp3 opened #26984 "[TF 2.0 API Docs] tf.math modules, new endpoints, gen_math_ops.py"
**System information**
- TensorFlow version: 2.0 alpha
- Doc links:
`tf.math` module-related, including:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/math/log
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/math/less
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/math/less_equal
... and **many more** - a lot of endpoints mentioned below affected

**Describe

[2019-03-21 12:02] ilous12 commented on #26474
Hi @shashishekhar, I'm deeplearning new and I have questions.
Are you change the input type from "uint8" to "float32"?

**export_model.py**
[code]

I saw your tflite files. What do you do weights & bias from '32' to '16'?

<img width="246" alt="Screen Shot 2019-03-21 at 8 58 51 PM" src="https://user-images.githubusercontent.com/3174693/54750847-6d6a7780-4c1c-11e9-82ad-478320161663.png">

[2019-03-21 12:13] anilsathyan7 commented on #26474
Hi @ilous12, those frozen graph and tflite files will have depth multiplier 0.5 in this case...

[2019-03-21 12:23] Ayush517 commented on #26978
Everything's working fine on my browser
<img width="1680" alt="Screenshot 2019-03-21 at 5 52 04 PM" src="https://user-images.githubusercontent.com/31190928/54751828-19eb3000-4c02-11e9-85ce-1813dca763e7.png">

[2019-03-21 12:26] Ayush517 commented on #26981
Is this given on the official website?
Please use official Tensorflow [Link](https://github.com/tensorflow/models/tree/master/research/object_detection) instead of third party tutorials.

[2019-03-21 12:46] IrvingMeng commented on #24591
same here.

[2019-03-21 12:51] Ayush517 commented on #26824
@wongongv Isn't the tutorial same on both the links?

[2019-03-21 13:04] Ayush517 commented on #23831
@wydwww Which link are you referring to?
Links for graph_run_run2.pbtxt and inception_v3 archive seem to be working correctly.

[2019-03-21 13:06] Ayush517 commented on #23819
@francescomilano172 It seems to be working correctly. You can close the issue now 🙂

[2019-03-21 13:07] meyerjo commented on #26608
@goldiegadde This is still present in 2.0.0-dev20190319

[2019-03-21 13:08] jxr006 opened #26987 "Installing tensorflow-gpu"
Folks,
In many of the forums you see countless people strugging to install the tensorflow for GPU.

If NVIDIA is really a partner you need to create files that say libcublas.latest with a sym link to the version.

It's pretty annoying that i have to deinstall cuda 10.1, because tensorflow-gpu only works with cuda 10.0, and that others struggle because the file name is 10 vs 10.0, etc..

this part

[2019-03-21 13:13] supersidor commented on #22794
I just installed latest conda 3.7
run "conda install tensorflow-gpu" in anaconda promt
no need to install cuda, cudann and mess with PATH variables
everything works

[2019-03-21 13:14] itsliupeng commented on #17353
I am also getting the same error and cannot find the reason...

[2019-03-21 13:15] kitfactory commented on #24828
I use this for tensorflow 2.0 alpha before your tensorflow session computes your graph eagerly.
This might work.

[code]

[2019-03-21 13:17] Ethan-yt commented on #26978
[code]
Maybe it is because of the language. After removing `accept-language` it shows 200.

@Ayush517 Is it still working in Chinese version?

[2019-03-21 13:27] mostafaelhoushi commented on #26182
OK. I see `libcublas.so.10.0` is found in `/usr/local/cuda-10.0/lib64/`.
Try running this command:
[code]
and try again.

NOTE: I see the library is also found in your docker system. I am not familiar with dockers, so maybe someone else could help here. But try the above command and see.

[2019-03-21 13:37] Ademord commented on #25939
Thanks for the reply! Looking forward to a stable 3.7 release, for now I will make my own dockerfile based off https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docker/Dockerfile.gpu
Cheers!

[2019-03-21 13:37] francescomilano172 commented on #23819
You're right, thanks.

[2019-03-21 13:37] #23819 closed

[2019-03-21 13:58] harzival commented on #15319
This isn't a fix it's a bodge workaround, can we get this fixed?

[2019-03-21 14:38] brandjon commented on #25935
Add `--incompatible_remove_old_python_version_api` to that list. I'm flipping this flag to true now, for release in Bazel 0.25. The fix #26752 will bump TF's min required Bazel version to 0.22.

[2019-03-21 14:39] wydwww commented on #23831
@Ayush517 It's already been fixed. Closed.

[2019-03-21 14:39] #23831 closed

[2019-03-21 14:40] adler-j opened #26989 "Add fftshift, ifftshift, etc"
**System information**
- TensorFlow version (you are using): 1.13
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Tensorflow is currently lacking a [fftshift](https://docs.scipy.org/doc/numpy/reference/generated/numpy.fft.fftshift.html) operation. This has been repeatedly requested, see e.g. #23587 and [fftshift in tensorflow???????????!!!

[2019-03-21 14:42] theonegis commented on #17216
I solved this problem by increasing the max user processes.

[2019-03-21 14:43] theonegis commented on #14885
I solved this problem by increasing the max user processes.

[2019-03-21 14:43] sailist opened #26990 "in nmt_with_attention,the gru layer in decoder confuse me"
[nmt_with_attention file link](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/eager/python/examples/nmt_with_attention/nmt_with_attention.ipynb)
In the Decoder class, the gru layer is defined, and it is used in `call()` function, the code is:
[code]

My question is, the gru cell state may not be updated? In the same batch, every timestamp use the same cell state? Is my und

[2019-03-21 14:44] sailist commented on #26990
The loss when I use context_vector as the gru's initial_state
···
Epoch 5 Batch 0 Loss 0.4456
···

[2019-03-21 14:45] meyerjo opened #26991 "[TF2.0][FR] Skip TFRecord files with 'DataLossError: corrupted record at'"
**System information**
- TensorFlow version (you are using): 2.0.0-dev20190319

**Describe the feature and the current behavior/state.**

In this version of TF and prior versions, TFRecord files get corrupted or are detected as corrupt spontaneously during training. This is a problem already heavily discussed in e.g https://github.com/tensorflow/tensorflow/issues/13463 . Unfortunately, no one came

[2019-03-21 14:48] meyerjo commented on #26987
You don't have to uninstall CUDA 10.1. You only have to change the environment variables for your system or your virtualenv to the paths where CUDA 10.0 is located.

The error messages are not too beginner friendly, though.

[2019-03-21 14:51] ankitvgupta commented on #26954
Got it, that makes sense!

Is there any equivalent (or planned equivalent) to the regex-based selection system for loading weights as was the case in WarmstartSettings? That was very convenient since it let us train a model in 1 way, but then flexibly experiment with warmstarting different subsets of it.

[2019-03-21 14:53] meyerjo commented on #26960
I think you need to mark the `stats_writer` as default. Either by calling `stats_writer.set_as_default()` (do not directly add this call to the creation of the SummaryFileWriter [#25976]) or by setting up the summary scope like this:

[code]

[2019-03-21 15:08] dynamicwebpaige commented on #26989
Thanks for filing the issue, @adler-j! Would you be wanting to add these DSP features to [`tf.signal`](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/signal), or in `tensorflow/addons`?

cc: @martinwicke

[2019-03-21 15:23] josh11b commented on #26608
It seems plausible but I'm not certain I understand the implications of this change.

[2019-03-21 15:35] dynamicwebpaige opened #26994 "2.0 Reference Models: BERT (TPU with dist strat and Keras)"
[**BERT**, or Bidirectional Encoder Representations from Transformers](https://github.com/google-research/bert), is a new method of pre-training language representations which obtains state-of-the-art results on a wide array of Natural Language Processing (NLP) tasks.

The research team's academic paper describes BERT in detail and provides full results on a number of tasks: https://arxiv.org/abs/

[2019-03-21 15:36] dynamicwebpaige opened #26995 "2.0 Reference Models: BERT (1 GPU, 8 GPU with dist strat and Keras)"
[**BERT**, or Bidirectional Encoder Representations from Transformers](https://github.com/google-research/bert), is a new method of pre-training language representations which obtains state-of-the-art results on a wide array of Natural Language Processing (NLP) tasks.

The research team's academic paper describes BERT in detail and provides full results on a number of tasks: https://arxiv.org/abs/

[2019-03-21 15:41] mcjjin commented on #26198
Hi guys I have the same error with
bazel build tensorflow/tools/graph_transforms:summarize_graph

INFO: Invocation ID: 21b504b6-1730-45a1-b022-0a26498210e3
ERROR: D:/workspaces/tensorflow/third_party/eigen3/BUILD:34:1: no such package '@eigen_archive//': Traceback (most recent call last):
        File "D:/workspaces/tensorflow/third_party/repo.bzl", line 106
                _apply_patch(ctx, ctx.a

[2019-03-21 15:42] girving commented on #26684
Update: I made a brief attempt at removing that one reference, but it didn't work, so I think there are others.  Probably a more concerted push is required.

[2019-03-21 15:45] nairouz opened #26996 "Keras: Bug when creating a custom layer without inputs"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Colab
- TensorFlow version (use command below): 1.13
- Python vers

[2019-03-21 15:59] meyerjo commented on #26996
You can just create `__call__(self, inputs=None)`, can't you?

[2019-03-21 16:05] SanthoshRajendiran commented on #26474
@jianlijianli @shashishekhar  The code snippet referred, states that version2 of depthwiseconv2d will be used, when either of dilation_width_factor or dilation_height_factor is not equal to 1. This is exactly opposite what was written above.

@jianlijianli How to set dilation height and width when using Mobilenet-v2 architecture to take advantage of Depthwiseconv2d version 2?

[2019-03-21 16:10] allenlavoie commented on #26954
No, I don't know of any plans for regex matching of variables. We don't use variable names to match checkpoints with variable objects in 2.x (except in Estimator), so it'd be a pretty weird API.

It's certainly possible to programatically filter weights like you describe, though. Just mirror the objects in the real model, attaching just the variable objects you want to load. There's some mention o

[2019-03-21 16:12] jxr006 commented on #26987
Nvidia support gave me a lot of bad info.

I found this to work:

$wget https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64/cuda-repo-ubuntu1804_10.0.130-1_amd64.deb
$sudo dpkg -i cuda-repo-ubuntu1804_10.0.130-1_amd64.deb
$sudo apt-key adv --fetch-keys $https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64/7fa2af80.pub
$sudo apt-get update
$wget http://d

[2019-03-21 16:12] dynamicwebpaige opened #26997 "2.0 Reference Models: MobileNetv2 (TPU with dist strat and Keras)"
**MobileNetV2** is a significant improvement over [MobileNetV1](https://research.googleblog.com/2017/06/mobilenets-open-source-models-for.html) and pushes the state of the art for mobile visual recognition including classification, object detection and semantic segmentation. It builds upon the ideas from MobileNetV1, using depthwise separable convolution as efficient building blocks. However, V2 i

[2019-03-21 16:13] dynamicwebpaige opened #26998 "2.0 Reference Models: MobileNetV2 (1 GPU, 8 GPU with dist strat and Keras)"
**MobileNetV2** is a significant improvement over [MobileNetV1](https://research.googleblog.com/2017/06/mobilenets-open-source-models-for.html) and pushes the state of the art for mobile visual recognition including classification, object detection and semantic segmentation. It builds upon the ideas from MobileNetV1, using depthwise separable convolution as efficient building blocks. However, V2 i

[2019-03-21 16:16] PeterMitrano commented on #22342
For me this had nothing to do with pandas or matplotlib. The issue was that I had installed a newer version of TF then downgraded. Uninstalling `tensorflow-estimator` and `tensorflow-gpu`, then reinstalling `tensorflow-gpu` fixed it.

[2019-03-21 16:16] PeterMitrano commented on #23007
For me this had nothing to do with pandas or matplotlib. The issue was that I had installed a newer version of TF then downgraded. Uninstalling `tensorflow-estimator` and `tensorflow-gpu`, then reinstalling `tensorflow-gpu` fixed it.

[2019-03-21 16:17] MRDJR97 commented on #26900
Not sure what exactly caused this, but seems it wasn't a .tflite issue. I did 'File-> Invalidate Caches/Restart' in Android Studio followed by 'File->Sync Project With Gradle Files' and I started getting the expected "1.0", "0.0" outputs from my model.

[2019-03-21 16:17] #26900 closed

[2019-03-21 16:21] nairouz commented on #26996
Nope.
`None values not supported.`

[2019-03-21 16:21] rehevkor5 commented on #17411
Related: https://github.com/tensorflow/tensorflow/issues/19584

[2019-03-21 16:30] lamberta commented on #26978
Had some server issues earlier that seemed to have been resolved. These both seem to work now:
* https://tensorflow.google.cn/guide/premade_estimators?hl=zh-cn
* https://www.tensorflow.org/guide/premade_estimators?hl=zh-cn

Please re-open if you run into this again. Thanks

[2019-03-21 16:30] #26978 closed

[2019-03-21 16:37] dynamicwebpaige commented on #25448
Friendly reminder that @lc0 is amazing and http://tf2up.ml is something you should check out. :slightly_smiling_face:

Closing!

[2019-03-21 16:37] #25448 closed

[2019-03-21 16:57] ankitvgupta commented on #26954
Got it, thanks.

OK, I like that idea. Could you just clarify what you mean by "mirror the objects in the real model"? My thinking is I have a model that's something like,
[code]
Now, when I want to load just the weights associated with the first dense layer in the model, here is my thinking of how to do it:

[code]

Does that match what you were thinking?

[2019-03-21 17:07] jvishnuvardhan commented on #26922
@shashanka300 Could you fill the issues template [here](https://github.com/tensorflow/tensorflow/issues/new?template=00-bug-performance-issue.md).
Were you able to install TF2.0 without any issues? What were the commands used to install TF?
Other than keras, were you able to run any TF code? Please provide more details to find root-cause of the issue. Thanks!

[2019-03-21 17:22] jvishnuvardhan commented on #26925
@laiqb I had it in one of my virtual environment /usr/local/google/home/vishnuvardhanj/venv/lib/python3.6/site-packages/tensorflow/include/tensorflow/core/framework.

If there is any issue, please fill issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=00-bug-performance-issue.md) so that we can resolve it as soon as possible. If this is not related to bug or build insta

[2019-03-21 17:22] allenlavoie commented on #26954
That's better than what I was thinking. Eventually you should be able to do a traversal over the object graph and re-construct it with modifications. The problem is we don't yet have a public API for iterating over checkpoint dependencies with their names.

If we did, you could do something like this:

[code]

Which works, but uses a non-stable/private API (`_checkpoint_dependencies`). I've consid

[2019-03-21 17:23] #26869 closed

[2019-03-21 17:27] omalleyt12 commented on #23748
SparseTensors aren't supported in Dense layer currently, although this is something we are considering. You can implement a custom layer that calls `tf.sparse.sparse_dense_matmul` on your SparseTensor

[2019-03-21 17:30] seb1000 opened #27000 "estimator built with keras.estimator.model_to_estimator fails with CollectiveAllReduceStrategy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
CentOS 7 on a HPC system

- TensorFlow installed from (source or binary):
binary (from anaconda)
- TensorFlow version (use command below):
1.12.0
- Python version:
3.6.8
- CUDA/cuDNN version: None
- GPU model and mem

[2019-03-21 17:58] ankitvgupta commented on #26954
Got it, this makes a lot of sense. OK thanks so much for the help!

[2019-03-21 18:00] soupytwist commented on #26486
Sorry for the trouble here, this will be addressed as part of google/pasta#58.

[2019-03-21 18:18] nadianaji commented on #26957
I solve the error by changing this part of code
[code]
to
[code]
but  ` Kr.layers.Lambda(lambda x:x[1,1])(wtm)` does not give me the value in row=1 and column=1 the output shape is (4,1) while I need (1,1) what should I do to solve this?

[2019-03-21 18:19] gargn commented on #25443
https://github.com/tensorflow/tensorflow/commit/cebce4a2b5e33a06a1c92772008082895568f10a should fix this issue. Please reopen if it's still an issue.

[2019-03-21 18:21] gargn commented on #25327
cebce4a should fix this issue. Please reopen if it's still an issue.

[2019-03-21 18:21] #25327 closed

[2019-03-21 18:22] gargn commented on #21889
cebce4a should fix this issue. Please reopen if it's still an issue.

[2019-03-21 18:26] angersson commented on #26715
With regards to the 1.12.0 images, only the images newer than 1.13 use the newer Dockerfiles, and we haven't rebuilt them to avoid breaking anyone who depends on the old structure. There's a note about this at the top of the Docker Hub repository.

[2019-03-21 18:58] thebeancounter opened #27002 "sigdev error when training model with image data generator"
Hi

see also [SO question](https://stackoverflow.com/questions/55283194/tensorflow-gpu-sigdev-error-when-training-on-image-data-generator) regarding this issue

I am using ubuntu with conda, python 3.6 and tf gpu 1.12, and using image data generator to load images, and then fit generator.

I am using this code

    i = gen.flow_from_dataframe(dataframe=df, x_col="new_filename",

[2019-03-21 18:59] ghego commented on #26245
Update on this bug:
replacing `LSTM(64, dropout=0.2, recurrent_dropout=0.2)` with `LSTM(64, dropout=0.2)` in the model definition runs fine, albeit the warnings:

[code]

I suspect the problem is somewhere in the new bundled LSTM layer that automatically chooses where to allocate the weights and whether to use CuDNN or not. In fact CuDNN layers need to be on the GPU and do not support `recurrent_d

[2019-03-21 19:11] captain-pool commented on #26998
@dynamicwebpaige I'ld like to work on this. can you please assign this to me?

[2019-03-21 20:01] maat16 commented on #25804
Problem accured due to memory segmentation problem in GPU. We can solve this issue by Allowing GPU memory growth in Tensorflow session.
config = tf.ConfigProto()
config.gpu_options.allow_growth=True
sess = tf.Session(config=config)

[2019-03-21 20:15] ppwwyyxx opened #27003 "TF2 has tf.floor but not tf.ceil"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):n/a
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):archlinux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:n/a
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):tf-nightly-gpu

[2019-03-21 20:16] mdanatg commented on #26807
The loop is actually being unrolled in this example. You can verify this by inserting a few print statements:

[code]

Out of curiosity, I tried a version that uses `tf.while_loop`, like so:

[code]

and it gave a small speed improvement in my tests.

[2019-03-21 20:19] mdanatg commented on #26807
@alextp

Out of curiosity, I tried a mostly-empty function:

[code]

The results were comparable with taylor_v2. So I wonder whether we're looking at invocation overhead here?

[2019-03-21 20:28] alextp commented on #26807
@mdanatg you're most likely looking at function building / pruning / first execution overhead, yes.

[2019-03-21 20:28] #26807 closed

[2019-03-21 20:35] jvishnuvardhan commented on #25804
@maat16 Thanks for posting solution here.!

[2019-03-21 20:39] Sklan commented on #26995
I am interested on working on this issue.

[2019-03-21 20:40] sergii-bond opened #27004 "WARNING: Entity <method-wrapper '__call__' of weakref object..."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): one line modification to official [colab checkpoints.ipynb](https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/r2/guide/checkpoints.ipynb)
- Tensorflow version: 2.0.0-alpha0

**Describe the current behavior**
After the model has been loaded from a check

[2019-03-21 20:49] devnoname120 commented on #22794
I can confirm that CUDA 10.1 does not work. But then, tensorflow never claimed it did and its guide asks to [download CUDA 10.0](https://www.tensorflow.org/install/gpu).

For those who can't find this version, it's available in the NVIDIA archives and here is a direct link: https://developer.nvidia.com/cuda-10.0-download-archive

[2019-03-21 21:00] foxik commented on #26974
Use masking -- either directly though `tf.keras.layers.Masking`, or through
`mask_zero` parameter of `tf.keras.layers.Embeddings`. As for masking, Keras has a notion of "masked elements", which are ignored by all subsequent layers (and also losses, so you no longer have to pass weights manually generated using `tf.sequence_mask`).

[2019-03-21 21:05] jvishnuvardhan commented on #26938
@ericyue Could you provide more details and a short code to demonstrate the issue? Thanks!

[2019-03-21 21:14] ymodak commented on #26987
We have updated the [gpu support page](https://www.tensorflow.org/install/gpu) on TF website with cuda requirements for TF version 1.13 and added linux gpu setup guide as well. Did you get a chance to take a look yet?

[2019-03-21 21:14] Sklan opened #27005 "[TF 2.0] Documentation still mentions _ref types"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version:2.0.0-alpha
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/p

[2019-03-21 21:22] ymodak commented on #26967
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-03-21 21:24] jvishnuvardhan commented on #26940
@xyzdcgan Please check there are lot of info on latest TF website. Here is link to [distribution_strategy](https://www.tensorflow.org/guide/distribute_strategy) and this [link](https://www.tensorflow.org/guide/using_gpu) might be helpful.

This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagge

[2019-03-21 21:24] #26940 closed

[2019-03-21 21:24] jsimsa commented on #26966
The tf.data API provides the [cardinality](https://www.tensorflow.org/api_docs/python/tf/data/experimental/cardinality) method which returns the cardinality of a dataset (when the cardinality can be computed efficiently from the cardinality of its inputs). Unfortunately, the method will return "unknown" for TFRecord dataset as there is no other way to determine the number of records in a TFRecord

[2019-03-21 21:24] #26966 closed

[2019-03-21 21:26] jeffpollock9 commented on #26807
Many thanks for your time looking at this. I can see now that some static unrolling of the loop is happening, however I'm still not sure how to make the v2 version as fast as the v1 version, which might make tf2 unusable for some work I am doing.

Is there any way to make the tf2 version competitive?

[2019-03-21 21:27] angersson commented on #26715
I've fixed the underlying issue and re-tagged the `latest` images to be based on the `1.13.1` images. Thanks!

[2019-03-21 21:27] #26715 closed

[2019-03-21 21:31] chwang85 commented on #26974
import tensorflow as tf
inputs = tf.ones([2,10,5])
outputs = tf.nn.bidirectional_dynamic_rnn(cell_fw=tf.nn.rnn_cell.LSTMCell(3),cell_bw=tf.nn.rnn_cell.LSTMCell(3),inputs=inputs,sequence_length=[6,10],dtype=tf.float32)

How can I translate the above code into tf.keras.layers style?

[2019-03-21 21:32] qlzh727 commented on #26245
Interesting, thanks for sharing the finding, which will narrow down the cause of the issue.

Regarding to the device context, it has been recently updated with https://github.com/tensorflow/tensorflow/commit/584ad2f575ffc644accb8f0d8c4e1038edd42412. You can try updating your installed TF with nightly-2.0-preview and it should fixed issue.

[2019-03-21 21:39] ymodak commented on #26975
Please provide following information. Thanks!
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from source):
-

[2019-03-21 21:42] alextp commented on #26807
@jeffpollock9 can you run your code through a profiler (like cProfiler in python) to find out what the bottlenecks are?

Happy to work on improving the performance of TF v2.

[2019-03-21 21:46] chwang85 commented on #26974
It seems that tf.keras.layers.RNN.call() accepts a "mask" argument, how can I use this argument to solve this problem? The document is not clear at all.

[2019-03-21 21:47] dynamicwebpaige commented on #27003
The replacement operation for `tf.ceil` in TF 2.0 is `tf.math.ceil`.

[2019-03-21 21:49] jvishnuvardhan commented on #26952
@essalahsouad I think some function in your code is forcing to use GPU. which is why it was searching for CUDA9.0 related files and throws error as there is no GPU and no CUDA files. Could you run a simple cpu based model and check whether there is any bug. Please check there are lots of community support on stackoverflow. Thanks!

[2019-03-21 21:51] chwang85 commented on #26974
tf.keras.layers.Bidirectional(
  tf.keras.layers.LSTM(
    units=5,
    dropout=0.5,
    return_sequences=True
  )
).apply(
  inputs=tf.ones([2,10,5]),
  mask=tf.expand_dims(input=tf.sequence_mask([6, 10]), axis=2),
  training=True
)

[2019-03-21 21:53] dynamicwebpaige commented on #27005
Removing:

As well as:

[code]

from the reference documentation. Thanks for alerting us to this issue!

[2019-03-21 21:53] #27005 closed

[2019-03-21 21:57] chwang85 commented on #26974
It seems that tf.keras.layers.Masking will mask the whole time-step? But what if each sample has different actual length?

[2019-03-21 21:59] iamprakash13 commented on #26945
it works thanks a lot

[2019-03-21 22:01] jvishnuvardhan commented on #26957
@Thank you for your post. We noticed you have not filled out the fields in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Thanks!

[2019-03-21 22:11] ymodak commented on #25181
You can [submit a PR](https://help.github.com/en/articles/creating-a-pull-request) referencing master branch. Thanks!

[2019-03-21 22:24] anilknayak commented on #25948
Can anybody help me here?

[2019-03-21 22:24] jvishnuvardhan commented on #26959
@tawe141 Were you able to run any TF code that requires GPU? Did you check whether the cuDNN and CUDA are referenced correctly. Could you create any GitHub gist with public data and share it. Thanks!

[2019-03-21 22:35] dynamicwebpaige commented on #26854
We could also add the replacements to the [1:1 Symbols Map](https://docs.google.com/spreadsheets/d/1FLFJLzg7WNP6JHODX5q8BDgptKafq_slHpnHVbJIteQ/edit#gid=0).

[2019-03-21 22:42] janwendt opened #27008 "Cannot use load_model for a model with a DenseFeatures layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no (https://www.tensorflow.org/alpha/tutorials/keras/feature_columns + model.save + load_model)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow i

[2019-03-21 23:12] cristinasegalin commented on #25474
I have the same problem... using as well Mask_RCNN with similar code but not running on the webcam, just reader frames from a video

[2019-03-21 23:36] RostyxCZ commented on #22823
Hi, please help me, I am getting this - same as person above. I think I did whole instalation properly, I tried it for 3 times but it always result in same error. I am using Python 3.7.2, anaconda, tensorflow-gpu 1.13.1, CUDA 10.1, cuDNN 7.5.

[2019-03-21 23:42] ymodak commented on #24405
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-03-21 23:42] #24405 closed

[2019-03-21 23:48] julian59189 commented on #17375
In my experience the your input index is wrong.
It should be: `float* out = interpreter->typed_tensor<float>(0);`
instead of `float* out = interpreter->typed_tensor<float>(input);`

[2019-03-21 23:49] julian59189 commented on #19380
I think it should be:
`interpreter->typed_input_tensor<float>(0)`
instead of
`interpreter->typed_input_tensor<float>(input)`

[2019-03-21 23:50] ymodak commented on #26042
@Davide-sd Is this still an issue? Thanks!

[2019-03-21 23:54] gunan commented on #26956
It is referenced through the bazel macros we define.
Here is the build rule for `slice_op`
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/BUILD#L1107
As you can see it also has a dependency on `strided_slice_op`

This rule is an instance of tf_kernel_library. That is defined here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tensorflow.bzl#L1262

Th

[2019-03-21 23:54] #26956 closed

[2019-03-22 00:00] reuben commented on #26956
@gunan The problem is that `strided_slice_op` does not have a dependency on `stride_op`, not the other way around. Here's the build rule for `strided_slice_op`: https://github.com/tensorflow/tensorflow/blob/93a7be53a9c314b1e4dc35fc97d5be8367e8fc01/tensorflow/core/kernels/BUILD#L121-L159

[2019-03-22 00:02] ymodak commented on #25899
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-22 00:02] #25899 closed

[2019-03-22 00:07] ymodak commented on #23357
Apologies for the delay in response. Is this still an issue for you with the latest version of TF? Thanks!

[2019-03-22 00:11] ymodak commented on #26500
Closing this issue due to lack of updates. Feel free to reopen if have any follow up questions. Thanks!

[2019-03-22 00:11] #26500 closed

[2019-03-22 00:12] #26793 closed

[2019-03-22 00:15] mihaimaruseac commented on #25181
Please CC me if you do a PR for this.

[2019-03-22 00:17] ghego commented on #26245
Looks like nightly builds are not available for mac py3.7? I get:

[code]

I'll try on linux

[2019-03-22 00:22] ymodak commented on #26899
From the error message, I suspect you have installed tf-gpu version. Please take a look at duplicate #22794
Also can you please share  TF installation process you followed? Thanks!

[2019-03-22 00:23] ymodak commented on #26893
@jlebar

[2019-03-22 00:29] alimaan2935 commented on #27008
I have a similar problem. I am trying to load tensorflow_hub module into tf.keras model.
`
model = tf.keras.models.Sequential()
model.add(hub.KerasLayer(
			    "https://tfhub.dev/google/tf2-preview/nnlm-en-dim128/1",
				trainable=True,
			    output_shape=[128],  # Outputs a tensor with shape [batch_size, 20].
			    input_shape=[],     # Expects a tensor of shape [batch_size] as input.
			    d

[2019-03-22 00:52] chwang85 commented on #26854
I have noticed that it is `tf.keras.layers.experimental.LayerNormalization` in TF 2.0
But `tf.keras.layers.experimental.LayerNormalization` is not in TF 1.13
Will it appear in TF 1.14?

[2019-03-22 00:59] seanpmorgan commented on #26854
I would not expect tf.keras.layers.experiment.LayerNormalization to continue to exist in TF 2.0 for much longer. See the conversation in https://github.com/tensorflow/addons/pull/14 . Its on our TODO to request the removal of it.

[2019-03-22 01:07] chwang85 commented on #26854
So what to use instead of it???

[2019-03-22 01:14] seanpmorgan commented on #26854
For TF2.x
https://github.com/tensorflow/addons
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/layers/normalizations.py#L277

[2019-03-22 01:17] jsaurabh commented on #25820
@dynamicwebpaige If it hasn't already been resolved, I'd be happy to go ahead and work on this

[2019-03-22 01:18] chwang85 commented on #26854
So finally there will be only `tf.keras.xxx.GroupNormalization`?
`tf.keras.xxx.LayerNormalization` will be removed?

[2019-03-22 01:25] seanpmorgan commented on #26854
Sorry I'll try to explain more clearly. TensorFlow addons is an additional python package that contains extra functionality for core tensorflow. One of the layers available in that package is LayerNormalization. Our implementation utilizes the fact that LayerNormalization is just one configuration of GroupNormalization. Feel free to use the `LayerNormalization` end point though.

[code]

[2019-03-22 01:41] chwang85 commented on #26854
My understanding is that tfa is to replace tf.contrib, and tf.keras is to replace tf.layers?

[2019-03-22 01:45] seanpmorgan commented on #26854
Yeah that's true enough. One thing to note is that layers/optimizers/etc. in tensorflow_addons all subclass a tf.keras base class so they'll have the same api structure.

[2019-03-22 01:46] zhouhaiy opened #27009 "How horovod integrate itself into tf distribute strategy?"
Hi,
I read from tensorflow TFC that horovod team is collobrating with tf team upon the HorovodDistributionStrategy.
RFC: https://github.com/tensorflow/community/blob/master/rfcs/20181016-replicator.md#use-case-4-users-who-will-create-new-distributionstrategy-implementations

Can anyone share with us more details about how to integrate horovod into d.s.? Because there's a lot of difference between

[2019-03-22 01:48] chwang85 commented on #26854
Thanks a lot...
But I prefer the previous TF, which is simpler.

[2019-03-22 01:57] seanpmorgan commented on #26854
Entitled to your opinion, but I think you'll find tf.keras API spec is very intuitive and a better user experience now that everything is unified under one design.

 If you are referring to the fact that contrib got to exist in the same package as core.. thats true, but it  also [became unmanagable](https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md) and there were

[2019-03-22 02:10] erikchwang opened #27010 "tf.keras.layers.Softmax does not support masking?"
[code]
Since the default mask value of Masking is zero, Softmax should skip all values in the above case, and its behavior should be like sparse softmax. Therefore, I suppose the output should be all zeros, but that is not the case.

[2019-03-22 02:22] weiweizhou commented on #24607
hello,I'm trying to deploy Superresolution on android, and I found it seems not support Dynamic input size,
have you fix this problem now?
@jdduke

[2019-03-22 02:27] shenyichen105 opened #27012 "tflite depthwise_conv2d produces different(wrong) results"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): `pip install tensorflow`
- TensorFlow version (us

[2019-03-22 02:30] shashanka300 commented on #26922
yes i was able to get a glean installation for GPU with cuda 10.1  and cundd 7.5 after trying a few time , standard commands provided on website,haven't explored much yet, the issue occurs whenever i try to use meaniou accuracy metric which has been changed in the current version,even after changing it to adapt to the current version using the source code.

[2019-03-22 02:37] gargisri68 commented on #22823
Use cuda version 9 and cudnn 6.4.7

On Fri, Mar 22, 2019, 5:10 AM RostyxCZ <notifications@github.com> wrote:

[2019-03-22 02:39] gargisri68 commented on #22823
If required downgrade your python to 3.6 and tensorflow-gpu to 1.12 or
lesser.

On Fri, Mar 22, 2019, 8:07 AM Gargi Srivastava <gargisri68@gmail.com> wrote:

[2019-03-22 03:20] mwappner commented on #26899
I had looked at that issue, but since I' not using a GPU, I figured I [didn't need to install CUDA](https://www.quora.com/What-is-CUDA-If-we-can-perform-TensorFlows-computation-directly-from-a-GPU-then-why-do-we-actually-need-it).
When I check my conda enviorment, it says I have tensorflow (not tensorflow-gpu) installed, as well as tensorboard, tensorflow-base and tensorflow-estimator (and keras,

[2019-03-22 03:22] zhaohb commented on #8820
Now, I add a fpga device in tensorflow, and I can call the kernel of fpga device to perform an addition operation，but the fpga device is also a virtual device ,I do not realize API to collect the info of fpga, I will do it later.
the [code:](https://github.com/zhaohb/tensorflow/commit/7456ddb8d38e0313c90ff582d9a73ca5bdcaccc9)

[2019-03-22 04:13] stakemura commented on #26736
I added the benchmark result with 1 and 4 threads.
The result shows that 16 threads is faster than 4 threads.

[2019-03-22 04:35] laiqb commented on #26925
@mihaimaruseac how to autogenerate the file. thanks

[2019-03-22 04:38] chwang85 opened #27016 "tf.keras.layers (in TF 1.13.1): variable_scope does not work"
Run the following code:
[code]
There will be 4 variables:
[code]

But if you change tf.keras.layers to tf.layers:
[code]
There will be only 2 variables (the correct result):
[code]

[2019-03-22 04:41] chwang85 commented on #26854
tf.keras still has a lot of problems in combining with other tf components...
see #27016 for example

[2019-03-22 04:43] #26925 closed

[2019-03-22 04:43] jvishnuvardhan commented on #26922
@shashanka300
1. Could you provide a code to reproduce the bug?
2. Was there any issue when you ran any tf.keras tutorials on the TF website?

Please provide as many details (along with the code) as possible to find root-cause of the issue. Thanks!

[2019-03-22 05:01] chwang85 commented on #26844
This decision is not reasonable at all, because the new components, tf.keras.layers, still has a lot of problems in combining with other tf components...
tf.keras.layers even does not support variable scope, see #27016 for example

[2019-03-22 05:03] prabindh commented on #8785
Since the issue is really due to long file name, it should be temporarily fixed using the Registry-longfilename setting as mentioned at - https://github.com/conda/conda/issues/7203. This setting can be changed back to 0 after the uninstall to avoid breaking other tools. Worked for me (Conda Py3.7/tf1.13).

[2019-03-22 05:08] martinwicke commented on #26854
@chwang85 -- variable_scope had a nasty habit of not being very composable. We have removed it from the 2.0 API (it remains available in `compat.v1` just like everything else).

If you prefer the "simpler" lower level API, it's still all there, you can absolutely still use it. In fact, it's likely easier to use, since we cleaned up a bunch so similar things don't appear in several places any more.

[2019-03-22 05:08] #26854 closed

[2019-03-22 05:15] YAOYI626 opened #27020 "tensorflow-gpu 2.0.0-alpha0 on win10 ImportError: DLL load failed:"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  win10 Pro x64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version: 2.0.0
- Python version: 3.6.6
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source):
- GCC/Compiler v

[2019-03-22 05:25] chwang85 commented on #26854
These lower level API (e.g. tf.layers.dense) is the most useful part of TF (at least for me, a ML developer), but now every time I use them, there will be a disgusting message: `xxx (from tensorflow.python.layers.core) is deprecated and will be removed in a future version. Use keras.layers.xxx instead.` However, it seems that tf.keras.layers is not equivalent with tf.layers (see the variable scope

[2019-03-22 05:26] dan-garvey opened #27022 "tf.data.experimental.ignore_errors"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**May have been addressed by:** [https://github.com/tensorflow/tensorflow/issues/25700](url)

**System information**
- Have I written c

[2019-03-22 05:46] chwang85 opened #27023 "TF 1.x: remove the "deprecated" warning messages"
I know the functional APIs, such as tf.layers.dense, will disappear in TF 2.0. However, their alternatives, tf.keras.layers, are not compatible with other components of TF 1.x, for example, they even do not support variable scope (#27016). So I will stick on the deprecated APIs in TF 1.x.
Would you please remove the disgusting "deprecated" warning messages like this: `xxx (from tensorflow.python.l

[2019-03-22 06:03] kshaeffer commented on #26960
meyerjo, thank you for your comment.
I tried the context: with stats_writer.as_default():
This produced the same Traceback:

Traceback (most recent call last):
  File "./tf2summary_bug.py", line 72, in <module>
    tf.compat.v2.summary.scalar("stddev",_st,step=count,description='stddev')
  File "/usr/lib/python3/dist-packages/tensorboard/plugins/scalar/summary_v2.py", line 55, in scalar
    with t

[2019-03-22 06:07] martinwicke commented on #26854
No, the Keras layers are pretty much equivalent in functionality. That does not mean they are drop in replacements. For a drop-in replacement, use tf.compat.v1.layers.

Note also that tf.layers.* are not lower level than Keras layers in any meaningful way. They are definitely more magic, since they rely on a lot of global (or graph) state to work at all.

In keras layers, we removed support for th

[2019-03-22 06:30] SunilTapashetti commented on #17807
ImportError                               Traceback (most recent call last)
c:\users\tapashetti-sr\tf_gpu\lib\site-packages\tensorflow\python\pywrap_tensorflow.py in <module>
     57
---> 58   from tensorflow.python.pywrap_tensorflow_internal import *
     59   from tensorflow.python.pywrap_tensorflow_internal import __version__

c:\users\tapashetti-sr\tf_gpu\lib\site-packages\tensorflow\python\py

[2019-03-22 06:53] chwang85 commented on #26854
I strongly wish TF 1.x should stick on "Graph". TF 2.x may focus on "Eager". Just like Python 2.x vs Python 3.x

[2019-03-22 07:03] martinwicke commented on #26854
It will. The only thing we're doing to 1.x is to add deprecation notices.

If you'd like you can disable the deprecation warnings, you can use (it's not part of the public API, but hey):

[code]

[2019-03-22 07:15] chwang85 commented on #26854
Two questions to confirm:
1. Will TF 1.X still be updated after TF 2.X is officially issued?
2. Will tf.layers.dense (and so on) always stay in TF 1.X?

[2019-03-22 07:16] foxik commented on #26974
I would convert
[code]
to
[code]
Or you can use the `mask` directly using
[code]

The `expand_dims` can usually be avoided, because inputs are usually two-dimensional, i.e., `[2, 10]`, and you expand them to `[2, 10, 5]` using an embedding layer.

[2019-03-22 07:22] OsamaNaeem1995 commented on #26981
yeah the 'protoc' command was mentioned in the website, i gave you the link.

[2019-03-22 07:25] galeone commented on #26844
To share variables using Keras layers you have to build a Keras Model - is a different way of organizing the code and to think.

Once you built the model you have to reuse the **object**. Hence don't share variables using scopes, but share variables using the `model.trainable_variables` attribute.

While I was migrating my codebase to TF2 I faced your same issues and I wrote a blog post about this

[2019-03-22 07:27] essalahsouad commented on #26952
@jvishnuvardhan
thank you for your reply

[2019-03-22 07:36] lissyx commented on #20369
Still no news on that ?

[2019-03-22 07:54] DennisWangCW commented on #23888
I meet with the same issue, any solutions?

[2019-03-22 08:05] weixsong opened #27026 "dilated convolution does not convergence with data format NHWC"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS Linux release 7.4.1708
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): conda installation
- TensorFlow versio

[2019-03-22 08:15] ChaoYue0307 commented on #26868
Sorry, I tried using the single line of command to upgrade the script, but the old issue just remains.

[2019-03-22 08:46] SystemErrorWang opened #27027 "tf.dataset failed to correctly load image data"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platf

[2019-03-22 09:07] shashvatshahi1998 commented on #27023
You can use this:-
import os
import tensorflow as tf
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'

In detail:-
0 = all messages are logged (default behavior)
1 = INFO messages are not printed
2 = INFO and WARNING messages are not printed
3 = INFO, WARNING, and ERROR messages are not printed

[2019-03-22 09:08] ageron opened #27029 "Make documentation link to C++ code"
**System information**
- TensorFlow version: All
- Doc Link: All the Python API documentation, for example: https://www.tensorflow.org/api_docs/python/tf/nn/conv2d_transpose

**Describe the documentation issue**
The Python API documentation often points to the Python code (on github) where the operation is defined. For the example, for `tf.nn.conv2d_transpose()`, it links to [this code](https://ww

[2019-03-22 09:13] seb1000 commented on #27000
problem solved with upgrading to 1.13.1

[2019-03-22 09:13] #27000 closed

[2019-03-22 09:25] SystemErrorWang commented on #3389
I may have a different question but similar with yours: if my input data is already in tensor type, how can i feed them into the network? this is very simple and straightforward in pytorch, but as we know, tensorflow uses static computational graph. we have to pre-define the graph and then change the input in a cycle. if the inputs of network and loss function are defined when creating the graph,

[2019-03-22 09:27] jeffpollock9 commented on #26807
@alextp I've tried to run the code through [cProfile](https://docs.python.org/3.6/library/profile.html#profile.Profile) (mostly just copied their example) and profile the same code which was being timed, but I don't think it gives anything particularly useful (likely just my misunderstanding, though). Looks like it is spending all of the time in `_pywrap_tensorflow_internal.TFE_Py_Execute`?

outpu

[2019-03-22 09:34] TimmvonderMehden commented on #14632
i have the same problem with current tensorflow master (f5e0f9d520260b3a6009a9e792cf2316dc37b8e3 22 Mar 2019), tried to link against bazel build tensorflow.dll.if.lib (dll was successfully build) , source is basically the LabelImage sample. errors below. It does not matter if i use tensorflow_cc.dll.if.lib instead

missing functions are some ops (tensorflow::ops::ResizeBilinear,ExpandDims,Placehol

[2019-03-22 09:46] shashvatshahi1998 commented on #27003
i am not getting the link , where i can contribute as in documentation it is written that tf.math.ceil() is in tensorflow/python/ops/gen_math_ops.py but there is no such file in tensorflow codebase.

[2019-03-22 09:57] laiqb opened #27030 "'tensorflow/core/framework/numeric_types.h' file not found"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- OS Platform and Distribution : cenos7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy)

[2019-03-22 10:01] anilsathyan7 opened #27031 "Tensorflow-lite segmentation model does not work with NNAPI on Android 9.0"
**System information**
- OS Platform and Distribution : Android, Tensorflow-Lite-Experimental
- Mobile device : Samsung SM-A730F, Android 9 , API 28
- Tensorflow: 1.13

**Describe the current behavior**

The official tensorflow lite segmentation model '[deeplabv3_257_mv_gpu.tflite](https://storage.googleapis.com/download.tensorflow.org/models/tflite/gpu/deeplabv3_257_mv_gpu.tflite)' cannot be run

[2019-03-22 10:26] StarYoung opened #27033 "gpu doesn't report error when id is actually out of range in tf.nn.embedding_lookup(embed, ids)"
- TensorFlow version (use command below):1.13
- Python version:3.6

[code]

the following above I run on cpu and gpu separately,
while cpu reports:
InvalidArgumentError (see above for traceback): indices = 999 is not in [0, 3)
	 [[node embedding_lookup (defined at test.py:24) ]]

but gpu just give an output like this:
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

[2019-03-22 10:42] werner-rammer commented on #25327
Thanks! When I use the changed  version of `graph_util_impl.py` (by copying the file to my local pyhton lib) it works!
Looks as if the mentioned commit above fixes the issue.
Thanks again!

[2019-03-22 10:44] qwesdfok opened #27034 "Unexpected log output in Tensorboard"
Env:
Tensorflow-GPU 1.13.1
Tensorboard 1.13.1
TensorboardX 1.6
Installed time: 2019/03/22
Installed from PIP
OS: Windows 10
Python version: 3.7
CUDA: 10

Problem:
I use command "tensorboard --logdir ... --host 127.0.0.1" to run the program, and there are many log output in the command. And not add "-v" parameter..

TensorBoard 1.13.1 at http://127.0.0.1:6006 (Press CTRL+C to quit)
I0322 17:56:22.6

[2019-03-22 11:24] ilous12 commented on #26474
@anilsathyan7 thanks your help. I succeeded by following you.

One more question.
I don't why my NHWC is "1x17x17x96" and "deeplabv3_257_mv_gpu.tflite"'s NHWC is "1x17x17x96" on MobilenetV2/expanded_conv_6. You will see an image below.

<img width="1546" alt="스크린샷 2019-03-22 오후 8 01 33" src="https://user-images.githubusercontent.com/3174693/54818973-e1b91f80-4cdd-11e9-9992-cf4f277e3d9d.png

[2019-03-22 11:44] ghsama opened #27035 "Tensorflow 1.13.1 import Error on Python 3.7.1"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution : Windows 10 Pro, 64-bit
- TensorFlow installed from (sour

[2019-03-22 12:22] ericpts commented on #26812
I have an exact issue like this, but with using different optimizers:

[code]

On a first epoch, I have `use_fast = [True, False]`, and then on a second one I have
`use_fast = [False, True]`.

With this, I have a huge error trace on the `apply_gradients_once` call, ending with `ValueError: tf.function-decorated function tried to create variables on non-first call.`.

From my understanding, since t

[2019-03-22 12:53] jlebar commented on #26893
@ymodak for TPU related-stuff we need to find a different point of contact.

Perhaps @broune can forward this to the right person.

[2019-03-22 12:55] tensorflowbutler commented on #13530
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-22 12:55] tensorflowbutler commented on #23096
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-22 13:17] seb1000 commented on #27000
just found out that actually the problem was not the tensorflow version, but the fact that i used 1.12.0 from conda. So it works both with 1.12.0 and 1.13.1 from pip.

[2019-03-22 13:27] YAOYI626 commented on #27035
you could try `pip install --upgrade --no-deps --force-reinstall tensorflow`, it makes tensorflow 1.13.1 work on my win10

[2019-03-22 13:50] ghsama commented on #27035
I try it and still having the same error

[2019-03-22 13:52] felipheggaliza commented on #21526
Hi,

Any updates about when Quantized Div and ResizeNearestNeighbor operations?
Has anyone tried to implement a custom operation for ResizeNearestNeighbor using these guidelines https://www.tensorflow.org/lite/guide/ops_custom?

Regards,

Feliphe

[2019-03-22 13:52] #26996 closed

[2019-03-22 14:16] chwang85 commented on #27023
this is what i have been using for years
it cannot stop the deprecation warning

[2019-03-22 14:33] shaolinkhoa commented on #27035
I think if you don't need python version 3.7 then you should downgrade the python version to 3.6.8.
Because on the [pip guide](https://www.tensorflow.org/install/pip) said : `Requires Python 3.4, 3.5, or 3.6]`

You can use conda to create a python version 3.6 and install tensorflow:
`conda create -n py36 python=3.6 pip tensorflow`

[2019-03-22 14:34] chwang85 commented on #26844
thanks
i have noticed that the change between TF 1.x and TF 2.x is too big to simply modify tf.layers to tf.keras.lyaers
instead, it requiress a totally different way of thinking and designing...
i will stick on the graph + session ways

[2019-03-22 14:48] hamzeah commented on #26947
same problem, when when cross-compile opencv for raspberry

[2019-03-22 14:51] ghsama commented on #27035
I installed tf 1.13.1 firstly on my python 3.6 environment, then get the error checking other issues they suggested that it's due to compatibility with python 3.7. Now i face it even on tf 1.10 on python 3.6.

[2019-03-22 14:55] shaolinkhoa commented on #27020
You should install CUDA toolkit v10 just like this [guide](https://www.tensorflow.org/install/gpu#software_requirements)said.
Or you can install on conda follow this [guide](https://medium.com/@shaolinkhoa/install-tensorflow-gpu-2-0-alpha-on-anaconda-for-windows-10-ubuntu-ced099010b21?fbclid=IwAR17F1Z7Xd6yk0UYnnLhYYuHcAr6mBn61xdxbg1fLy-swd10vprfrbc__GM)

[2019-03-22 15:26] jdduke commented on #24607
We're actively working to improve this. Expect a change in the next few days which will improve the ability to dynamically resize at runtime. You'll still need to give it a static shape during conversion, but the graph should be much more robust to dynamic size changes.

[2019-03-22 15:35] jdduke commented on #26736
Thanks @stakemura, we're actively investigating the performance discrepancy internally. Stay tuned.

[2019-03-22 15:36] araujoalexandre commented on #19671
@jaingaurav I am try to do gradient descent in a eager py_func, in this function, I need to make several calls to the model. I think every time I make a call a copy of the variables is made.
You can find a run code here -> https://github.com/araujoalexandre/tf_mem_leak/blob/master/memory_leak.py

You can run it with :
mkdir train_folder; python3 memory_leak.py --train_dir ./train_folder/

I am usi

[2019-03-22 15:44] erikchwang opened #27042 "tf.sparse: limited functionality"
1. `tf.sparse.sparse_dense_matmul` only support matrix of rank 2, why cannot it support higher ranks?
2. `tf.sparse.to_dense` cannot support back-propagation at least in and before TF 1.13
3. there is no element-wise multiplication for sparse tensors similar to tf.multiply
4. there is no matmul between two sparse tensors

[2019-03-22 15:49] chwang85 commented on #26854
By the way, before deprecating old components, would you please complete the current functionality? See #27042. It seems that TF is very good at deprecating widely used functions, but poor at improving its weak points

[2019-03-22 15:50] chwang85 commented on #27042
By the way, before deprecating old components, would you please complete the current functionality? It seems that TF is very good at deprecating widely used functions, but poor at improving its weak points

[2019-03-22 15:51] chwang85 commented on #26844
By the way, before deprecating old components, would you please complete the current functionality? See #27042. It seems that TF is very good at deprecating widely used functions, but poor at improving its weak points

[2019-03-22 15:54] chwang85 commented on #27023
By the way, before deprecating old components, would you please complete the current functionality? See #27042. It seems that TF is very good at deprecating widely used functions, but poor at improving its weak points

[2019-03-22 15:55] shaolinkhoa commented on #27035
Then I think your CUDA toolkit and cuDNN are not correct.
I suggest you install tensorflow by conda intead of pip. Because currently, Anaconda has supported tensorflow 1.13.1 package and they will also install the correct CUDA toolkit and cuDNN for you.

So my solution for you:
+ Check your Nvidia GPU driver. You should install Nvidia GPU driver version >= 410.x
+ Run this command on Conda prompt.

[2019-03-22 15:56] chwang85 commented on #26151
By the way, before deprecating old components, would you please complete the current functionality? See #27042. It seems that TF is very good at deprecating widely used functions, but poor at improving its weak points
@kakakaku00 @mihaimaruseac @ymodak @fchollet

[2019-03-22 16:10] shaolinkhoa commented on #26824
@wongongv  is correct.
Both colab link and github link are wrong. The current link is not for tensorflow 2.0
They should direct to this link: https://github.com/tensorflow/docs/blob/master/site/en/r2/tutorials/images/transfer_learning.ipynb

[2019-03-22 16:18] mihaimaruseac commented on #27042
Sparse tensors have been added recently and they're under constant work. The deprecation needed for TF2.0 is orthogonal to this, thus unrelated. Let's try to keep things on topic, please.

[2019-03-22 16:19] mihaimaruseac commented on #27023
Deprecation messages are needed to inform people who want to use an actual version of TensorFlow what is going to happen in the future, and give them time to adapt.

As such, we won't be able to remove these messages.

[2019-03-22 16:19] #27023 closed

[2019-03-22 16:22] mihaimaruseac commented on #27016
There is no variable scope in TensorFlow 2.0

[2019-03-22 16:28] blaueck commented on #27004
I met the same problem with the following code running second time. It can be fixed by uncomment the line "fc(x)". So I think is related to the restoration of Checkpoint.
[code]

[2019-03-22 16:38] chwang85 commented on #27016
The above code are written with TF 1.13.1

[2019-03-22 16:45] chwang85 commented on #27042
See #6391
The issues about sparse tensors have been there for at least 2.5 years

[2019-03-22 16:56] lamberta commented on #26449
Thanks. Tested on Safari and this issue seems resolved when the redesign rollout completed.

[2019-03-22 16:57] omalleyt12 commented on #24962
There would be ambiguity in doing this, as it's perfectly valid for users to have inputs named `y`.

Instead, `targets` should be the second element of a tuple when using datasets. I believe that element can be a dict

[2019-03-22 16:58] ghsama commented on #27035
i install usinf pip and not conda, i tried it and it changed anything
the solution i found temprary is to make a python 3.5.6 and install tensorflow 1.9 waiting for a solution for the issue.

[2019-03-22 17:07] jvishnuvardhan commented on #27035
@ghsama Please uninstall tensorflow and python completely and then reinstall python3.6.5 (that I have) or python3.6.6. Then, install tensorflow1.13.1 or tensorflow1.12 using the instructions provided [here](https://github.com/jvishnuvardhan/Installing-TensorFlow-GPU-on-Windows-10-TF1.12). Please let me know how it progresses. thanks!

[2019-03-22 17:09] jvishnuvardhan commented on #27035
@ghsama If you like conda, you could follow the instructions given by others (above) and install TF. Some time when you have many version install and uninstalled, then there will be lot of incompatibilities arises. Please start fresh by uninstalling python and tensorflow and reinstall them. Thanks!

[2019-03-22 17:12] jvishnuvardhan commented on #27034
@qwesdfok Could you provide a small code to reproduce your bug? Thanks!

[2019-03-22 17:19] hadim commented on #24962
So the only way to pass Dataset to `fit()` would be with a tuple of length 2. The first element will **always** be inputs and the second element will **always** be outputs (targets). Both can be Tensor objects or dict of tensors (or list of tensors)?

If it's already what TF 2.0 assume then I guess I am all good :-)

[2019-03-22 17:21] saxenasaurabh commented on #24815
tf.cond seems to [handle](https://github.com/tensorflow/tensorflow/blob/35c49e7fc952d5c86e7e506eea468c4e2c7df49a/tensorflow/python/ops/control_flow_ops.py#L1820) the case when an Operation is returned but does [not](https://github.com/tensorflow/tensorflow/blob/35c49e7fc952d5c86e7e506eea468c4e2c7df49a/tensorflow/python/ops/control_flow_ops.py#L1814) when summaries are added. We should do it in bot

[2019-03-22 17:29] hadim commented on #24962
I just tested the following on TF2.0:

[code]

(I use single Tensor input/output here but it's only for illustration)

And after adding the correct names in my Keras model, everything works like a charm:

[code]

[2019-03-22 17:30] rjpower commented on #26214
Thanks for this report. We're deprecating the tf.contrib.tpu.keras_to_tpu_model functionality in favor of DistributionStrategy, which should be available in the next TF release.

We will confirm that keras.applications work with DistributionStrategy TPU API.

[2019-03-22 17:30] hadim commented on #24962
(I guess you can close here)

[2019-03-22 17:31] ymodak commented on #26981
Did you run the ``` protoc object_detection/protos/*.proto --python_out=.``` from command from the ```tensorflow/models/research/``` directory? Can you please confirm? Thanks!

[2019-03-22 17:34] saxenasaurabh commented on #23166
Could you setting the environment flag `TF_ENABLE_CONTROL_FLOW_V2="1"` and see if the issue remains?

[2019-03-22 17:40] felixnext commented on #25254
System information

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.1

[2019-03-22 17:41] jdduke commented on #26499
Thanks for the suggestion.

The problem is one of hosting and deployment. We don't store binaries in the actual GitHub repo, so what would be the distribution model for the binary? We could potentially bundle it in the TensorFlow pip, but then you're getting *host* performance, not on-device performance.

[2019-03-22 17:41] #24962 closed

[2019-03-22 17:43] jdduke commented on #26484
Do you by chance have a link to the converted .tflite model?

[2019-03-22 17:43] #26790 closed

[2019-03-22 17:45] jdduke commented on #27031
Thanks for flagging. We'll soon be moving to an NNAPI acceleration approach which allows partial subgraph delegation, which should resolve the problem.

[2019-03-22 17:50] jvishnuvardhan commented on #26907
@phquanta Could you try latest version of TF and check whether the bug persists? There were lots of improvements between TF1.7.0 to TF1.13.1 or TF2.0. Some of the ops run much faster than previous version. Please let me know what you think? Thanks!

[2019-03-22 17:55] jvishnuvardhan commented on #27030
Thank you for your post. We noticed you have not filled out the fields in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. Thanks!

[2019-03-22 17:56] ymodak commented on #27020
I suspect you must have installed TF 1.13.1 CPU version earlier since it supports cuda 10.0 too. In addition to cuda 10.0 installation also take a look at [windows setup guide](https://www.tensorflow.org/install/gpu#windows_setup) to add cuda path. Thanks!

[2019-03-22 17:56] shashvatshahi1998 commented on #24815
Is issue sorted any further changes required?

[2019-03-22 18:03] omalleyt12 commented on #25254
I'm guessing the generator runs out of Data, I don't think repeat works with generators

[2019-03-22 18:10] #26182 closed

[2019-03-22 18:14] jpangburn commented on #25800
Hi, it seems these instructions have been added back as it says you should put this line in your podfile:
pod 'TensorFlowLiteSwift'

But seems that it's still not available.  The instructions came back in this commit [76e879d1c18c74ee5cbc5a1162ff254a0cfb221b](https://github.com/tensorflow/tensorflow/commit/76e879d1c18c74ee5cbc5a1162ff254a0cfb221b)

Maybe I'm just jumping the gun and this will show

[2019-03-22 18:16] chwang85 commented on #26974
But they are still not equivalent, because tf.keras.layers dose not support variable scope
See #27016

[2019-03-22 18:21] chwang85 commented on #27016
If this issue is not solved in TF 1.X, please do not mislead users to replace tf.layers to tf.keras.layers
By the way, I thinks the change after TF 1.12 is a failure.

[2019-03-22 18:23] sndnyang opened #27043 "In Eager mode, batch norm doesn't support Second order derivative"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS Linux release 7.4.1708
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below

[2019-03-22 18:57] smit-hinsu commented on #27026
Could you provide us with a MCVE as described in https://stackoverflow.com/help/mcve that involves only a single TensorFlow operation and the results have large difference with data format NHWC and NCHW with a particular input?

Also, could you give it a try after setting 'TF_CUDNN_USE_AUTOTUNE' to '0' with NHWC data format to see if that helps? Winograd convolution that is used in case of NHWC is

[2019-03-22 19:11] temrich commented on #25800
Hey Jesse,
At the moment the CocoaPods have not been pushed publicly. Hoping to do that soon.

In the meantime (if you want), you can play around with the pods [locally](https://guides.cocoapods.org/making/making-a-cocoapod.html#testing).

You will need to configure the TensorFlowLiteC podspec which requires building the TensorFlowLiteC.framework. You can do that using Bazel by following these [st

[2019-03-22 19:12] tjcooperforted commented on #26975
Thanks for quick response.  All of my steps come EXACTLY from the MagicPi description of how to install tensorflow on a RaspberryPi 3B+  system.  The only unusual things I have is a 120GB SSD as my storage system.  Here are instructions:

https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile

I have inserted below answer to specific questions.

I noticed that the two EXP

[2019-03-22 19:19] RostyxCZ commented on #22823
So I reinstalled CUDA to version 9.2, downgraded cudnn and also python to 3.6 and tf-gpu to 1.12 and I am still getting the same error as I did before. Do you guys have any other advices? Btw, I am running on GTX 1050 ti.

[2019-03-22 19:22] carlini commented on #23166
I still get the same error when setting that environment variable.

[2019-03-22 19:22] anilknayak commented on #25948
latest log
[code]

Is this because of floating and shape [2,113,113,64]? I am trying out the quantization of model?
I will update on this.

[2019-03-22 19:39] RostyxCZ commented on #22823
Right now I am reinstalling CUDA to ver 9.0. I will give feedback after the instalation done.

[2019-03-22 19:42] ymodak commented on #27008
duplicate #26835

[2019-03-22 19:45] jvishnuvardhan commented on #26873
@bersbersbers Could you post this in Tensorboard repo [here](https://github.com/tensorflow/tensorboard/issues). They are actively resolving the issues in Tboard repo so    it will get better visibility and faster resolution if you post it there. Close this issue when you post it on tensorboard repo. Thanks!

[2019-03-22 20:00] jacobzweig opened #27044 "math_ops.div_no_nan support for float16"
**System information**
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from: binary
- TensorFlow version: 1.14.1-dev20190306
- Python version: 3.6
- CUDA/cuDNN version: 1.01
- GPU model and memory: M60

**Describe the current behavior**
math_ops.div_no_nan only allows `float32` or `float64`, this limits the ability to use `MirroredStrategy` with `float16`

[2019-03-22 20:00] ymodak commented on #26833
Can you try converting your model using [```TFLITE_BUILTINS```, ```SELECT_TF_OPS```](https://www.tensorflow.org/lite/guide/ops_select) if haven't already?

[2019-03-22 20:03] skye commented on #26526
I believe I've identified the problem. The issue is around importing a while loop (which is generated by tf.map_fn) via import_graph_def multiple times. We don't propagate the import prefix to the while loop correctly.

We're working on a new implementation of tf.while_loop which doesn't have this problem (see the [design doc](https://github.com/tensorflow/community/blob/master/rfcs/20180821-diffe

[2019-03-22 20:05] jvishnuvardhan commented on #26904
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-03-22 20:19] foxik commented on #26974
Yes, they are not equivalent. But you can achieve masking, which seemed to me to be the main point of your issue. Personally, I like the TF 2.0/Keras way of masking (because they extend automatically to all following layers and also losses and metrics).

[2019-03-22 20:28] lamberta commented on #26824
Thanks.
These links have been fixed upstream: https://github.com/tensorflow/docs/blob/master/site/en/r2/tutorials/images/transfer_learning.ipynb
And will be reflected on the website when the next site publish happens.

If you're learning, I'd go with the alpha/r2 docs (though some of them are still in alpha condition)

[2019-03-22 20:28] #26824 closed

[2019-03-22 20:29] jsimsa commented on #27027
What the error indicates is that the 92nd image has different shape ([270, 270, 3] vs. [270, 270, 1]) then the previous 91 images.

My recommendation would be to remove `batch` from your input pipeline and then iterate through your input pipeline one by one, printing out the shape and image name to identify the problematic image.

This is problem with your data, not with tf.data.

[2019-03-22 20:29] #27027 closed

[2019-03-22 20:29] ebrevdo commented on #26901
TensorFlow has a strict type system the moment inputs are tensors.  If you use convert_to_tensor(10) you get an `int32` tensor; and tf.range will not let you perform the subtle conversion to `float32`.  If you pass a python integer 10, it will perform the conversion to `float32` for you.  This strict typing is a core part of TF's type system.  If you want your tensor to be a float, use `tf.range(t

[2019-03-22 20:29] #26901 closed

[2019-03-22 20:35] chwang85 commented on #26974
I am a heavy user of "graph + session", maybe I should change my mind to fit into the new TF.

[2019-03-22 20:36] rjpower commented on #26437
Thanks for the bug report and apologies for the slow reply.

This issue has been fixed (by fixing the behavior of `HParams.set_param`). It should show up in the tf-nightly build today, and will be available with the next release of TensorFlow.

In the meantime, as you mention you can use a dictionary instead of the HParams object as a workaround. Sorry for the inconvenience!

[2019-03-22 20:36] #26437 closed

[2019-03-22 20:40] RealLast commented on #24709
Hello,

Had the same problem.
For debugging, I tried to wrote the buffer I read from the assets back to a file on the internal storage.
However when writing the buffer directly, only one byte was written. That surprised me.
So I tried to copy the buffer byte-wise to a string prior to writing it to a file.
And that worked! So I created a buffer and copied the data over, and built the FlatBuffer fro

[2019-03-22 20:44] jvishnuvardhan commented on #675
@zackchase Is this resolved? Please close If it was resolved already. Thanks!

[2019-03-22 20:47] jvishnuvardhan commented on #1325
@mightyroy Is this issue resolved? Please close If it was resolved already. Thanks!

[2019-03-22 20:48] jvishnuvardhan commented on #5477
@thjashin Is this issue resolved? Please close If it was resolved already. Thanks!

[2019-03-22 20:48] sharvil commented on #26901
It would be nice to have consistent behavior between literals and tensors. If it's not possible or desirable to implicitly convert the tensor type, is it possible at least to raise a ValueError instead of implicitly casting the integer literal? It's quite surprising that two semantically equivalent programs have different behaviors.

[2019-03-22 20:52] bersbersbers commented on #26873
@jvishnuvardhan are you certain this a TensorBoard issue? If my guesses above are correct, it's `python/keras/callbacks.py` in the TensorFlow repo which causes the issue. If you certain that TensorBoard is the correct repo to report this issue, I am happy to report it there.

[2019-03-22 20:55] jvishnuvardhan commented on #6992
@gilgils As mentioned by @rmlarsen I think this was resolved by LU op [developed](https://github.com/tensorflow/tensorflow/pull/21885#issuecomment-445085277). I am closing this issue but open a new issue if you think Imade a mistake. Thanks!

[2019-03-22 20:55] #6992 closed

[2019-03-22 20:55] erikchwang opened #27045 "Cannot remove all warnings"
Run the following code:

[code]
Then you will get the following warnings:
[code]

How can I remove these disgusting messages?

[2019-03-22 20:57] jvishnuvardhan commented on #7480
Is this issue resolved? Please close If it was resolved already. Thanks!

[2019-03-22 20:58] chwang85 commented on #27023
Thanks
See #27045, any suggestions?

[2019-03-22 21:02] jvishnuvardhan commented on #7669
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Thanks!

[2019-03-22 21:02] #7669 closed

[2019-03-22 21:03] jvishnuvardhan commented on #8112
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Thanks!

[2019-03-22 21:03] #8112 closed

[2019-03-22 21:05] cericson opened #27046 "tf.Module doesn't see variables from keras layers"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):

[2019-03-22 21:08] jvishnuvardhan commented on #8416
@yoshihingis Is this issue resolved? Please update here If it was not resolved already. Thanks!

[2019-03-22 21:10] jvishnuvardhan commented on #8564
@drasmuss Is this issue resolved? Please update here If it was not resolved already. Thanks!

[2019-03-22 21:13] jvishnuvardhan commented on #8652
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken.

[2019-03-22 21:13] #8652 closed

[2019-03-22 21:14] jvishnuvardhan commented on #8804
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken.

[2019-03-22 21:14] #8804 closed

[2019-03-22 21:26] jvishnuvardhan commented on #10110
Is this issue resolved? Please update here If it was not resolved already. Thanks!

[2019-03-22 21:26] jvishnuvardhan commented on #9946
Is this issue resolved? Please update here If it was not resolved already. Thanks!

[2019-03-22 21:26] #9946 closed

[2019-03-22 21:27] jvishnuvardhan commented on #10672
Is this issue resolved? Please update here If it was not resolved already. Thanks!

[2019-03-22 21:30] jvishnuvardhan commented on #11521
Is this issue resolved? Please update here If it was not resolved already. Thanks!

[2019-03-22 21:38] aaron-jencks opened #27047 "tf.train.BytesList should accept bytearray as an input type"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.13
- Are you willing to contribute it (Yes/No): I don't

[2019-03-22 21:41] mdanatg commented on #27004
Yes, it happens when restoring from check points, although the root cause is unrelated.

The issue should be fixed in the nightly build by #1003.

[2019-03-22 21:41] #27004 closed

[2019-03-22 21:53] mihaimaruseac commented on #27016
The replacement is meant to happen in TF2.0, not before.

[2019-03-22 21:58] jvishnuvardhan commented on #26719
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-03-22 21:58] #26719 closed

[2019-03-22 22:05] broune commented on #26893
Thank you for the bug report and congratulations for finding a way to make a loop fusion run out of VMEM, that's a bit of an achievement. :) I'd guess that it has something to do with the 33 input operands to the fusion node - maybe if you stick something into your graph that will defeat fusion around that location, you can work around it that way until we fix it on our end (I'm not sure what's be

[2019-03-22 22:07] ymodak commented on #26990
@yashk2810 Can you PTAL? Thanks!

[2019-03-22 22:09] chwang85 commented on #27016
But your "deprecated" warning message is like this:
[code]

[2019-03-22 22:13] ymodak commented on #27002
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-03-22 22:13] #27002 closed

[2019-03-22 22:18] mihaimaruseac commented on #27042
My bad, I was wrong

[2019-03-22 22:32] gshashank84 commented on #27047
The argument **value** accepts list of bytes as an argument, **not** bytearray in ``tf.train.BytesList``.

So here you can implement the above code -
[code]

[2019-03-22 22:41] chwang85 commented on #26974
About masking, any suggestion on #27010?

[2019-03-22 22:45] mihaimaruseac commented on #27045
I don't think you can remove the `contrib` going away warning

[2019-03-22 22:46] mihaimaruseac commented on #27016
Deprecated warning means "X is deprecated in this version, will go away in version A and at that time you should use Y instead"

[2019-03-22 22:49] shenyichen105 commented on #27012
Actually found the solution. Changed `converter.quantized_input_stats = {input_arrays[0] : (128, 1)} ` to `converter.quantized_input_stats = {input_arrays[0] : (0, 1)} ` and then tf and tflite gave almost same outputs.  Although I am pretty suprised that the output is that sensitive input stats.

[2019-03-22 22:49] #27012 closed

[2019-03-22 22:49] chwang85 commented on #27045
users do not like warnings, please...

[2019-03-22 22:54] chwang85 commented on #27016
i spent a whole day to modify the funtional tf.layers to the OOP tf.keras.layers, but finally found that they do not support variable scope...shit

[2019-03-22 23:00] jpangburn commented on #25800
Hi @temrich I followed your steps (thank you) with the following results:

- Building TensorFlowLiteC.framework worked fine
- The first two steps under the "Bazel" section seem like they're for after you get the TFLSwift library built, so I skipped them.  The next step `bazel build tensorflow/lite/experimental/swift:TensorFlowLite` went fine, but I wonder if it's not supposed to have a switch to b

[2019-03-22 23:02] bayesian commented on #26041
ran into the same problem when run tf-agents example code,
nightly build as of '2.0.0-dev20190322' still have the same issues

[2019-03-22 23:25] mrry commented on #26991
Reassigning to @jsimsa for triage (but maybe `tf.data.experimental.ignore_errors()` would solve the problem here?).

[2019-03-22 23:33] lostmsu opened #27049 "Resuming training from saved checkpoint produces different result than uninterrupted training"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes ([Google Collab](https://colab.research.google.com/drive/1ZRhX4VBEWo4fh4zbXL_p-HDCUGTRelnH))
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Collab
- TensorFlow installed from (source or binary): Google Collab
- TensorFlow version (use command below): 1.13.

[2019-03-22 23:37] laiqb commented on #27030
if I change as  #include  ‘numberic_types.h’ , it works. it maybe the path problem. thanks

[2019-03-22 23:37] jsimsa commented on #26991
@meyerjo as per @mrry's suggestion, have you tried using [ignore_errors](https://www.tensorflow.org/api_docs/python/tf/data/experimental/ignore_errors)?

[2019-03-22 23:39] tjcooperforted commented on #26975
I forgot to mention in the description that the error always comes when building the module:
argmax_op.o

If I do not "clean" the make setup, then another "make" will try to build only that module and will give the same virtual memory exhausted error.
   tjcooper

[2019-03-22 23:51] temrich commented on #25800
You will only need Bazel to generate the TensorFlowLiteC.framework, which will produce a `zip` file. Once you have the zip file, you can unzip it in the root TensorFlow directory that contains the TensorFlowLiteC.podspec (assuming you moved the podspec there, I can update the configure script to do this automatically in the future).

In the root directory move the TensorFlowLiteC.framework inside

[2019-03-23 00:16] eivind88 commented on #26449
@lamberta @jvishnuvardhan
Actually, if this is what I suspect it is (bungled service worker at some point) you wouldn't be able to reproduce this issue if you didn't access the site at the same time as I must have originally done (at the time when the service worker was incorrect).

I'm still having the exact same issue.

[2019-03-23 00:21] lamberta commented on #26449
I can file an internal ticket, but will need to be able to reproduce the issue. Is there anything about your setup that needs to be taken into account? (JavaScript blockers, etc.) Thanks

[2019-03-23 00:30] walidk commented on #26928
tl;dr: the issue is that the linked script tries to process the entire sparse matrix in one iteration. Batching the sparse input matrix will solve the problem.

Detailed explanation: Suppose the embedding dimension is d, and the number of rows in a batch is n. When processing a batch, the update op needs to solve n linear systems, each involving a different d x d matrix. The combined linear system

[2019-03-23 00:30] #26928 closed

[2019-03-23 00:30] RostyxCZ commented on #22823
[SOLVED] Okay, so my problem is solved. Actually successfuly running on :
 CUDA 9.0, cuDNN 7.3.1,  python 3.6.0 (Anaconda), tensorflow 1.12 with my GPU Nvidia GTX 1050 Ti.

Thanks alot for your help and this tread in general 💯

[2019-03-23 01:09] OsamaNaeem1995 commented on #26981
I ran it in the directory u mentioned and it run fine. But when I went on
to run the code it could not recognize the  .proto files it had to import.
Giving an error
error in " cannot import from utils"

On Fri, Mar 22, 2019, 10:35 PM ymodak <notifications@github.com> wrote:

[2019-03-23 01:16] zakizhou commented on #27046
After `tf.Module` becomes the base class for `tf.keras.layers.Layer` this issue will be fixed, but I don't know when

[2019-03-23 01:20] shashvatshahi1998 commented on #27044
there is no problem I will add the feature in core of math_ops soon.

[2019-03-23 01:48] zakizhou opened #27050 "Immediately build `tf.keras.layers.Layer` if `input_dim` or `input_shape` are specified"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0alpha0
- Are you willing to contribute it (Yes/No): Y

[2019-03-23 01:50] jpangburn commented on #25800
OK, here are the steps I took and results.

- Moved TensorFlowLiteC.framework into a new Frameworks directory in the root of my tensorflow (same level as the .git directory).  Reverted the TensorFlowLiteC.podspec's s.vendored_frameworks to 'Frameworks/TensorFlowLiteC.framework', and updated the s.source as directed above with my own path.

- Did `cd ~/.cocoapods/repos` and `pod repo add localtfrep

[2019-03-23 02:09] jvishnuvardhan commented on #27030
@laiqb If it is resolved, please close the issue. Thanks!

[2019-03-23 02:20] shashvatshahi1998 commented on #27044
I got some issues in my pull request, sorry for that but you can do it on your own go to TensorFlow's/core/ops/math_ops.cc and search for DivNoNan and add required dtypes in its attributes

[2019-03-23 02:22] fzyzcjy commented on #26499
Sorry, I do not quite get your point... I think, if the binaries are bundles in pip, everything will be fine and I can get on-device performance!

Looking at https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/benchmark , we see these steps:

(0) ndk install
(1) Build for your specific platform
(2) Connect your phone. Push the binary to your phone with adb push (make the dir

[2019-03-23 02:47] freedomtan commented on #27031
@jdduke Op code 23 is ResizeBilinear (`kTfLiteBuiltinResizeBilinear = 23`), which is supported by NNAPI. That is, this is not an op in TFLite but not NNAPI.

[2019-03-23 03:11] qwesdfok commented on #27034
@jvishnuvardhan
For example,

from tensorboardX import SummaryWriter
import numpy as np
import time
writer = SummaryWriter("tb_log")
step = 0
while True:
    writer.add_scalar("loss", np.random.rand(), step)
    time.sleep(1.0)
    step += 1

And run tensorboard. Open 127.0.0.1:6006 in Chrome browser. The following output will appare in the command line.

tensorboard --logdir E:\PersonalData\Proje

[2019-03-23 03:16] bjtommychen commented on #24059
@ljdang
when I run benchmark_model, avg time cost displayed, but other is empty like below.
would you help on this ?

============================== Run Order ==============================
                     [node type]          [start]         [first]        [avg ms]            [%]          [cdf%]          [mem KB]      [times called]  [Name]

============================== Top by Computation

[2019-03-23 04:50] patzm commented on #26437
cool great to hear that 👍

[2019-03-23 04:55] gshashank84 commented on #27050
#25780

[2019-03-23 05:00] NaveenGandla opened #27052 "Unable to import tensorflow in Gpu after successful installation"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2019-03-23 05:22] shaolinkhoa commented on #27020
@YAOYI626 Where do you want to install Tensorflow-gpu 2.0? local or on anaconda?
**If you want to install on local:**
I had been this error before while I install tensorflow-gpu 2.0 on local (without Anaconda). The reason are:
+ Wrong Nvidia GPU version => Solution: Install Nvidia GPU latest ( >=410.x)
+ Wrong CUDA toolkit version =>  Solution: Install CUDA toolkit 10.0
+ Wrong cuDNN version  =>

[2019-03-23 05:29] Grossmend commented on #22794
My settings:

Python 3.6.5
CUDA 9.0
cuDNN 7.41.5
tensorflow 1.12.0
tensorflow-gpu 1.12.0

great work

[2019-03-23 05:34] aaryapatel007 commented on #26893
Thanks, @broune ... had to do coz for the first time the error itself told to report the bug. :)
Grateful to Google for providing free access to Cloud TPU on Colab. It saves a lot of training time.

May I know what exactly VMEM is, and why is it not possible to run out of memory in memory space VMEM? I used other models with params range(5M-15M) and they trained successfully.

Basically, I'm using

[2019-03-23 05:55] soumen29dec commented on #20320
I am getting peculiar issue while running detector_utils.py. while hand_label_map.pbtxt is very much there in the specified folder, i am still getting following error - please help me how to resolve:
NotFoundError                             Traceback (most recent call last)
<ipython-input-20-a486b1bd49eb> in <module>
----> 1 label_map = hand_label_map_util.load_labelmap(PATH_TO_LABELS)

C:\Anacon

[2019-03-23 05:56] pooyadavoodi commented on #26202
Looks like TF is running out of memory.

The GPU that's being used has only 2GB.

The default workspace size used by https://github.com/tensorflow/models/blob/master/research/tensorrt/tensorrt.py is 1GB.
Could you decrease that and retry?

[2019-03-23 06:02] shashanka300 commented on #26922
1.I can reveal the exact on but https://www.kaggle.com/aglotero/another-iou-metric this code and https://www.kaggle.com/keegil/keras-u-net-starter-lb-0-277 , if ported to tensorflow 2.0 gives the same error when using mea_iou as accuracy metric.
2. no