[2016-12-18 12:26] Seleucia opened #6386 "Dense CRF implemenation"
Is there an easy way to implement or use the dense CRF within tensorflow.  More spesifically i would love to train my network with dens CRF. You can see more information about dense CRF from this paper.[DenseCRF poster ](http://vladlen.info/papers/densecrf-poster.pdf). You can see C++ implementation form here: [Dense CRF C++](https://github.com/lucasb-eyer/pydensecrf/tree/d824b89ee3867bca3e90b9f04

[2016-12-18 16:40] jramapuram commented on #5853
@paul-the-noob : looks like this is because of the usage of float64? This works for me:

[code]

[code]

[2016-12-18 16:41] facundoq commented on #6019
Well, if you check the MWE you'll see that I removed the for loop and I'm doing a single eval, so I guess that theory is irrelevant for this issue.

 Regardless, you are telling me that each time I feed a numpy array to a graph memory gets allocated and never released?

[2016-12-18 18:01] yaroslavvb commented on #6019
I'm not able to reproduce freezing after single eval. When I ran your example from http://pastebin.com/THNqB4ws it runs for >100 iterations, but it was using all cores and growing memory over 30GB, so I killed it. I've seen cases of a machine freezing to a point of requiring reboot when TensorFlow allocated too much memory.

If I put a pause after 100 iterations in your script, the memory usage re

[2016-12-18 18:27] nmiculinic opened #6388 "CTC TimeOrder argument inconsistency"
For example, here's signature for dynamicRNN:
[code]

Here is for ctc_loss:
[code]

There is the difference between default behavior for **time_major**? (Rest of CTC module is similar in behaving time first.) This is unintuitive and should be changed to batch first in whole CTC module by default to be in consistency with rest of tensorflow library. (Or make other function time first, as long as th

[2016-12-18 19:25] yaroslavvb commented on #6019
Here's a version of your script with some extra info printed: http://pastebin.com/Sfhn3sAP
When I run it, I see this:

[code]

So it seems to be executing normally without slowdown.

[2016-12-18 20:52] Carmezim opened #6389 "[TensorFlow.org] Anchor Tag Incorrect Reference"
Nothing really serious but I noticed the link on `see Pip installation for Windows` on getting started doc body is using an anchor separated with dashes `#pip-installation-on-windows`  while the corresponding `id` uses underscores `#pip_installation_on_windows`.

For instance, the body anchor (which works on github)
`#pip-installation-on-windows`
and the right side nav-bar `Index` link, working no

[2016-12-18 21:26] beniroquai commented on #6213
@andrewharp Thanks for your reply. Yes, I use the `jni_utils.cc` file and when I use a pb file with about 35 MB I get the following output:

`I/native: jni_utils.cc:117 fd: 28, length: 35256478`

Another file with 135 MB gives the following output:

`I/native: jni_utils.cc:117 fd: 28, length: 137619240`

The crap crashed all over sudden with the following output:

[2016-12-18 22:33] npfp commented on #6007
Hi,

As a matter of fact, it appears that I had the same use case than albertz
- variables created and stored in one place,
- various operations defined later and if possible in the same scope than the variables.

I ended up independently to the same conclusion that the scope object had to be stored in the same place than the variables.

It looks like it's not the right way to work with tensorflow

[2016-12-19 00:14] suryabhupa opened #6390 "Extract attention matrix during decoding"
It seems like it's not possible to access the attention weights during decoding since the attention() method in seq2seq_model isn't called during the forward step. Otherwise, is there another feature to allow for this, or was this intended?

[2016-12-19 00:40] kleinma commented on #6365
I would like to use `tf.mod` in my graph, as well, in order to define a loss function that minimizes the error in a variable that wraps (e.g. an angle with a range of [-pi,pi)). For example, if
`a1 = pi - eps` and `a2 = -pi + eps`,
then I would like
`a1 - a2 = -2 * eps`,
as opposed to
`a1 - a2 = -2 * eps + 2 * pi`.

In order to test the above solution, must I rebuild Tensorflow from source? I'm cu

[2016-12-19 00:41] backsangyub commented on #6063
tf.contrib.deprecated.scalar_summary -> tf.scalar_summary -> tf.summary.scalar
....

[2016-12-19 00:48] rizar opened #6391 "tf.sparse_tensor_to_dense does not have a gradient"
Differentiating `tf.sparse_tensor_to_dense` and also `tf.sparse_to_dense` returns `None`. At the same time, a hacky way of converting a sparse tensor to a dense tensor by using `tf.sparse_add` works. Please see the code below:

[code]

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

Didn't find anything.

### Environment info

1. A lin

[2016-12-19 00:55] ccase0 commented on #6063
tf.contrib.deprecated.scalar_summary -> tf.scalar_summary -> tf.summary.scalar
???

[2016-12-19 01:32] Dimpl opened #6392 "Monitors (contrib) documentation"
The monitors (contrib) documentation (https://www.tensorflow.org/api_docs/python/contrib.learn.monitors) does not appear to have been deployed properly.

[2016-12-19 01:34] yaroslavvb commented on #6365
@kleinma For Python-only changes such as above, you need not rebuild TensorFlow from source

[2016-12-19 01:35] yaroslavvb commented on #6370
Version 0.11 and comes compiled for 7.5

On Sat, Dec 17, 2016 at 6:15 PM, 史业民 <notifications@github.com> wrote:

[2016-12-19 01:53] shiyemin commented on #6370
According to https://github.com/tensorflow/tensorflow/blob/r0.11/tensorflow/g3doc/get_started/os_setup.md, r0.11 also need CUDA 8.0 and CUDNN v5.

[2016-12-19 01:55] yaroslavvb commented on #6370
Sorry, I meant version 10.
CUDA filename is baked into the final executable, in order to change the
CUDA version you have to recompile

On Sun, Dec 18, 2016 at 5:53 PM, 史业民 <notifications@github.com> wrote:

[2016-12-19 02:10] guoying1030 commented on #6352
@vrv ,,,how to write this design???Is there a template?

[2016-12-19 02:59] soliders opened #6393 "tensorflow.python.framework.errors_impl.PermissionDeniedError: data"
hi,when am run a TensorFlow demo model as this
https://www.tensorflow.org/get_started/os_setup#test_the_tensorflow_installation
i have the problem descripte as follows:

$ python /usr/local/lib/python2.7/dist-packages/tensorflow/models/imag
e/mnist/convolutional.py
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/models/image/mnist/convolutional.py", lin

[2016-12-19 04:12] BulletShadow commented on #5935
The permissions on the file as follow:

ls -la tensorflow/examples/android/res/layout/activity_camera.xml
-rw-rw-rw-  1 Yeeio  staff  966 11 23 12:44 tensorflow/examples/android/res/layout/activity_camera.xml

[2016-12-19 04:40] adamcrume commented on #6248
`yes '' | ./configure` seems to work.

[2016-12-19 04:54] yaroslavvb commented on #6019
I took a [closer look](https://github.com/yaroslavvb/notebooks/blob/master/mnist-memory.ipynb) at your memory usage and the main source of memory usage is the activation in your first conv layer.

Your convolution has 32 filters, so activations for first conv layer takes 4x28x28x32 = 100k per example. This is followed by broadcasting add which makes it 200k total. To run this over whole dataset yo

[2016-12-19 05:44] zAMLz opened #6394 "Tensorflow GPU Support for Windows?"
Hi I installed tensorflow-GPU through pip on my Windows 10 machine and I have also installed the Nvidia Cuda Toolkit and have downloaded cuDNN. But I came to the realization that there was no GPU version for Windows 10. Is it still possible to use the tensorflow-GPU windows 10 given that it is install-able via pip and all the other dependencies can be installed and configued?

[2016-12-19 06:15] craftlk commented on #4775
@benoitsteiner  Hi, this command "CC=icpc bazel build -c opt --copt=-xMIC-AVX512 //tensorflow/tools/pip_package:build_pip_package" still can't be applied on KNL server. Is the new tensorflow merged?

[2016-12-19 06:15] rgvb178 commented on #323
I think you can have a try with this solution  :
Use `tf.nn.relu6()` to replace `tf.nn.relu() `

[2016-12-19 06:38] xuzhuoran0106 opened #6395 "calculate partial gradient"
Hi,

For example, in such a multi-task network.

A=net(input)
o1=softmax(A)
B=fullconnect(A)
o2=softmax(B)

Now, the gradient of  'A' from both 'o1' and 'B'.
But, I only want the gradient of  'A' from  'o1'

Is there a way to do this in tensorflow?

Thanks.

[2016-12-19 07:18] zhangyaobit commented on #6072
I believe this is the answer you are looking for.

Excerpt from "4.105. cudnnGetRNNLinLayerMatrixParams" in cuDNN guide:

If mode in rnnDesc was set to CUDNN_LSTM values of 0-3
reference matrix multiplications applied to the input from the
previous layer, value of 4-7 reference matrix multiplications
applied to the recurrent input.
‣ Values 0 and 4 reference the input gate.
‣ Values 1 and 5 refere

[2016-12-19 07:40] craftlk commented on #4775
@yaroslavvb Hi,I can't even build with icpc as:"CC=icpc bazel build -c opt  //tensorflow/tools/pip_package:build_pip_package".  Can you give some help?

[2016-12-19 07:45] Sadrpour commented on #684
anybody found a solution for this ?

[2016-12-19 07:52] gunan commented on #6394
What do you mean there was no GPU version for windows?
if you run the following command, you should get the GPU(Nvidia Cuda) version of tensorflow installed.
[code]
We do have tensorflow GPU version available for windows 10, which also should be compatible with older versions of windows to some extent.

It is correct that you have to install CUDA and CuDNN yourself, as they are separate pieces of

[2016-12-19 07:54] gunan commented on #6370
You may also update CUDA and CuDNN, (if you are the administrator of the device) to use the later versions of tensorflow.

Closing this issue as @yaroslavvb has identified and explained the problem.

[2016-12-19 07:54] #6370 closed

[2016-12-19 07:56] gunan commented on #6362
Did you try the rc1?
Is it possible it got resolved in that?

[2016-12-19 08:03] gunan commented on #6346
@johnxllis Do you have physical access to the machine, or do you use remote desktop?

CC @mrry @vit-stepanovs @guschmue

[2016-12-19 08:04] gunan commented on #6267
CC @asimshankar

[2016-12-19 08:07] gunan commented on #6248
It is also possible that there are some new environment variables you need to set, such as `TF_NEED_OPENCL`.

Closing this issue, as it seems to be resolved now.

[2016-12-19 08:07] #6248 closed

[2016-12-19 08:08] gunan commented on #6233
@zsxgb based on your last comment, you seemed to have resolved the issue?

[2016-12-19 08:11] gunan commented on #6188
@meereeum Could you provide a minimal example?
Maybe a subset of the script you are running?

If I can reproduce the problem, I might be able to help.
As our tests do not show that there is a problem, I am not sure if this is due to your installation or something in TF.

[2016-12-19 08:16] gunan commented on #6057
@chasep255, any reason why you elected to not use the pip package?

Also, what bazel version are you using?

[2016-12-19 08:17] gunan commented on #5997
@jhseu recently updated the packages pointed by tensorflow.org.
Closing this issue.

[2016-12-19 08:17] #5997 closed

[2016-12-19 08:54] fighting41love commented on #2492
@gorinars Hi, I'm new to tensorflow.
I have the same error.
Could you please give me some details about how to modify the codes?
Thanks!

[2016-12-19 09:44] chasep255 commented on #6057
I fixed the issue.  I was using an older bazel.

Sent via the Samsung Galaxy S® 6, an AT&T 4G LTE smartphone
-------- Original message --------From: gunan <notifications@github.com> Date: 12/19/16  3:17 AM  (GMT-05:00) To: tensorflow/tensorflow <tensorflow@noreply.github.com> Cc: chasep255 <chasepreuninger@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [tensorflow/tensorflow] Instal

[2016-12-19 10:23] shakith opened #6396 "Cmake static library build issue"
Hi all,

I have successfully build tensorflow in windows/visual studio using the [cmake project](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/cmake).

Now due to large build time of tensorflow, I am building the tensorflow as libraries (static library) and trying to use them in an application (tf_label_image_example). However, I get the following runtime error at the poi

[2016-12-19 11:25] asrivat1 commented on #6384
Having the same issue. Does anyone know of a workaround until this gets fixed?

[2016-12-19 11:34] asimshankar commented on #6267
I am planning on distributing the library and header file for the TensorFlow [C API](www.tensorflow.org/code/tensorflow/c/c_api.h), which is intended for building other language bindings on ([Go](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/go), [Java](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/java), [Rust](https://github.com/tensorflow/rust), [Haskell](htt

[2016-12-19 12:06] sjperkins commented on #6361
@sdrelton You may find https://github.com/tensorflow/tensorflow/issues/5277 useful where a tensorflow has been implemented both with OpenMP and Eigen's ThreadPool implementation. The Eigen documentation is available [here](https://bitbucket.org/eigen/eigen/src/f5cf4207b67ee7ac304c1300873ae7ef93537956/unsupported/Eigen/CXX11/src/Tensor/README.md).

[2016-12-19 12:13] Hvass-Labs opened #6397 "Feature suggestion: Total Variation Denoising"
I would like to suggest the following feature be added to TensorFlow and discuss it before making the pull-request. As far as I can tell, the feature does not exist in TensorFlow.

### Motivation

Total Variation Denoising (TVD) is sometimes used as a regularizer in image processing to suppress noise. It is commonly used in Style Transfer implementations. Here is my recent tutorial which uses it:

[2016-12-19 12:23] sdrelton commented on #6361
@sjperkins Thanks very much, I'll take a good look!

[2016-12-19 13:11] zakizhou commented on #4044
I've had the same problem, can anyone give a solution?

[2016-12-19 13:51] siddharth-agrawal commented on #5694
@zhangyaobit I'm working on this issue.

[2016-12-19 14:30] jonasrauber opened #6399 "Make an op compute its input once and hold."
Currently, tf.constant can take NumPy arrays as input, but it cannot take TensorFlow tensors as input. It would be useful to allow tf.constant to take tensors (that change with every evaluation, e.g. the tensor created by a dequeue op) and turn it into a constant tensor by evaluating the input tensor only once.

[2016-12-19 14:33] feiskyer opened #6400 "Images missing in api_docs"
A few images are missing at https://www.tensorflow.org/api_docs/python/math_ops/segmentation, e.g. [SegmentSum.png](https://www.tensorflow.org/api_docs/images/SegmentSum.png) and [SegmentProd.png](https://www.tensorflow.org/api_docs/images/SegmentProd.png) are not found

[2016-12-19 14:35] jamborta commented on #6081
@CTTC have you got an answer for this? I'm after the same solution.

[2016-12-19 14:39] beniroquai opened #6401 "Numpy.FFT2() vs. TF.FFT2D() gives wrong values"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

None.

### Environment info
Operating System:
Ubuntu 16.04 LTS

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
Toolkit-version 8.0

If installed from binary pip package, provide:
Installed it using pip install und Anaconda

### If pos

[2016-12-19 14:50] johnxllis commented on #6346
@gunan This is physical machine on my desktop. However, I am now seeing evidence that this issue is larger than just Tensorflow as it seems to be affecting Theano as well. The problem is most likely in CUDA or the configuration of the machine. I am closing the issue until I can isolate further.

[2016-12-19 14:50] #6346 closed

[2016-12-19 14:55] j88k commented on #6384
I'm having the same issuse.

@asrivat1: I guess you've doing something like multiplication of each element of the batch of shape [B,I,J] with a matrix of shape [J,K]. In that case you could just reshape the batch to [B*I,J] and do the ordinary tf.matmul to obtain the result of shape [B*I,K], and then reshape this to [B,I,K]. To do the reshaping you can determine the tensor shapes with tf.shape.

[2016-12-19 14:56] talolard commented on #6305
Thanks @vrv .

As far as I can tell, I'm not initializing any variable based on another one and I only have a single call to an init opp.
Your suggestion is at the limits of my understanding of TF.  Could you point me at the right docs to understand how to go about "try to find which GPU variable is being read on CPU, " ?
Thanks

[2016-12-19 14:57] siddharth-agrawal commented on #5694
@zhangyaobit I investigated into the issue. The C++ implementation of `FusedBatchNorm` depends on [this line](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/stream_executor/stream.cc#L280) in `stream.cc` which uses the underlying cuDNN implementation from what I can see. Thus, the solution you suggested can work for 1D filters but not for 3D. But as @tomrunia suggested we can have

[2016-12-19 14:58] xiaop1987 commented on #6251
This core may caused by the diffence of linux kernel, Maybe you need to compile the tf lib by yourself.

[2016-12-19 15:49] talolard commented on #6305
Quick update:
I removed the following lines and it worked!
[code]
I'm not sure why, but I suspect it has somehting to do with the variables that ExponentialMovingAverage creates, per the docs:

[2016-12-19 15:51] facundoq commented on #6019
Thanks Yarsolav, that may be it. I thought the forward pass would be smarter and discard intermediate computations or do them in-place when not needed for the backward pass, but thinking about it a bit more that may be hard to do with a framework as general as tf.

[2016-12-19 15:51] #6019 closed

[2016-12-19 15:59] dimbleby opened #6402 "Please provide protobuf 3.1.0 download"
Since #4572, TensorFlow depends on protobuf==3.1.0.

[This section](https://github.com/kashif/tensorflow/blob/f2e17755e9466ff3c3f8a5806264d3baccd0f74e/tensorflow/g3doc/get_started/os_setup.md#protobuf-library-related-issues) of the installation instructions continues to point to a wheel for version 3.0.0, which doesn't help at all.

Therefore: please provide pre-built wheels for protobuf 3.1.0.

A

[2016-12-19 16:08] dimbleby commented on #6402
Related StackOverflow question: http://stackoverflow.com/questions/40989168/protobuf-issue-during-tensorflow-installation

(but it's just someone hitting the same problem, and getting an unhelpful answer).

[2016-12-19 16:25] danyz91 commented on #6345
Hi Guys,
I had the same problem, i just used the previous version of concat because i read here https://www.tensorflow.org/versions/master/api_docs/python/array_ops/slicing_and_joining#concat_v2 that their goal is identical.
The only thing is that the order of the parameters is inverse.
Where concat_v2 takes (values, axis), concat takes (axis,values), so i reversed the parameters calling
tf.concat

[2016-12-19 17:21] meereeum commented on #6188
@gunan

[code]

(not even creating the tensorflow op, just referring to it)

[code]

[2016-12-19 17:37] yaroslavvb commented on #6019
Actually if you look at [memory timeline](https://github.com/yaroslavvb/notebooks/blob/master/mnist-memory.ipynb) you'll see that activations for `h_conv1` are discarded as soon as `h_conv1+b_conv1` completes. This is because it's eval pass, so they are not needed for derivatives. If `add` could be done in place this would essentially lower the peak usage from 12GB to 6GB, and that's perhaps what

[2016-12-19 17:55] vit-stepanovs commented on #6396
@shakith This is caused by MSVC throwing out object files in static libraries during link time if no symbols from them are referenced from anywhere else (which is in most cases a desirable behavior). Many TF objects (ops, kernels, sessions) are not used directly by other code, but through accessing them via global 'registry' collections, hence this behavior.

You have two options - either link the

[2016-12-19 18:06] vrv commented on #6352
There isn't exactly a template yet.   It might be helpful to follow the beginning steps from something like  https://github.com/golang/proposal#readme: file an issue with the feature request, proposing in detail the scenario that you would like to enable.  We can then go through the process of discussing the options for implementing them, and depending on the scope of that work, the next steps mig

[2016-12-19 18:18] facundoq commented on #6019
Yes, a fused conv+add could store the activation A(b_conv1), and do A(b_conv1)-b_conv1 in the backward pass (again, in-place) to obtain A(h_conv1) again! That would surely help for big models even with small batch sizes.

Anyhow, in this case I guess the sane thing to do is to use a tf input queue that would automatically batch stuff or calculate the full training set accuracy by feeding small bat

[2016-12-19 18:22] gerbenvanveenendaal commented on #4742
:+1:

[2016-12-19 18:32] eraoul opened #6404 "Confusion about Cuda install docs for Mac"
### Environment info
Operating System: Mac OSX 10.11

The docs have 2 issues related to this section at the top:

"The GPU version works best with Cuda Toolkit 8.0 and cuDNN v5. Other versions are supported (Cuda toolkit >= 7.0 and cuDNN >= v3) only when installing from sources. Please see Cuda installation for details. For Mac OS X, please see Setup GPU for Mac."

1) The link to "Setup GPU for Ma

[2016-12-19 18:40] wookayin opened #6405 "tf.split_v() is removed in master?"
A bit of history:

- Until <= 0.12, [`tf.split()`](https://www.tensorflow.org/api_docs/python/array_ops/slicing_and_joining#split) has the following signature:
```tf.split(split_dim, num_split, value, name='split')```
- In commit f803bd7c (since 0.12), a new op `split_v()` is introduced:
```tf.split_v(value, size_splits, split_dim=0, num=None, name="split_v")```
- In commit a46b6d211 (master), `tf

[2016-12-19 18:44] kmalakoff commented on #6267
@asimshankar sounds good. If both could be distributed, I would use the C++ API.

I have performed some basic steps of implementing a port to Node.js with both the [C](https://github.com/kmalakoff/tensorflow-node/tree/master/src/native/c) and [C++](https://github.com/kmalakoff/tensorflow-node/tree/master/src/native/cc) APIs. Definitely, C++ is a much better API when you can use it (I could when us

[2016-12-19 18:51] #6057 closed

[2016-12-19 19:08] andydavis1 commented on #6395
This is a question better suited for StackOverflow, which we also monitor. Please ask it there and tag it with the `tensorflow` tag.

[2016-12-19 19:08] #6395 closed

[2016-12-19 19:10] andydavis1 commented on #6396
please re-open if the above answer does not resolve your issue.

[2016-12-19 19:10] #6396 closed

[2016-12-19 19:14] derofim commented on #6396
I have similar problem.

In generated with cmake .sln file tf_tutorials_example_trainer.vcxproj tensorflow works fine, but linking tensorflow in existing project (same code as in tf_tutorials_example_trainer) gives error "No session factory registered for the given session options".

When i use /WHOLEARCHIV and tensorflow .lib files in existing project (console release x64) - Error:
/WHOLEARCHIVE

[2016-12-19 19:14] andrewharp commented on #6356
@kevinshaw You can try using [build.gradle](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/build.gradle) to have AS automatically build and install the native libs with gradle (calling out to bazel).

If you're doing it manually the .so will probably need to go in libs/armeabi-v7a. You'll also need to copy over the Jar produced from building //tensorflow/contrib/a

[2016-12-19 19:19] andydavis1 commented on #6361
Please re-post on stackoverflow if this question is not resolved.

[2016-12-19 19:19] #6361 closed

[2016-12-19 19:21] andydavis1 commented on #6281
Closing as it looks like #6283 was committed.

[2016-12-19 19:21] #6281 closed

[2016-12-19 19:22] petewarden commented on #6196
No, I believe this is a problem that has been introduced by moving the PTB examples over to the tensorflow models repo. If you follow the tutorial, it points you to tensorflow/models/rnn/ptb, but the code is now in https://github.com/tensorflow/models/tree/master/tutorials/rnn

@nealwu can you take a look, since you were involved in the move?

[2016-12-19 19:25] gunan commented on #6331
1-You usually need "sudo" to run pip installations, unless you are running inside a virtualenv.

2-There is also a problem where if you both have macOS installed python and brew installed python, you can install any packages on one, but run the other. MacOS installed python resides in `/usr/bin/python` while brew installs it under `/usr/local/bin/python`.
I think you need to run the following to m

[2016-12-19 19:36] nealwu commented on #6196
Thanks for reporting this. I've already fixed this tutorial to clarify where to find those model files after the move, so it should be visible the next time we push out an update to the TensorFlow site.

In the meantime, use this folder as a reference: https://github.com/tensorflow/models/tree/master/tutorials.

[2016-12-19 19:36] #6196 closed

[2016-12-19 19:52] yaroslavvb commented on #6399
Constants are special in that their value is inlined into the graph, so the value is defined before session is created. Functionality like static shape-inference relies on this to figure out shapes before the first run call is created. If you allow constants to be undefined until the first session run, that would complicate that logic.

You could implement the functionality you want by using varia

[2016-12-19 19:58] andrewharp commented on #5935
@BulletShadow You are having the exact same issue as @sobinzeng?

[2016-12-19 20:05] gorinars commented on #2492
@fighting41love not sure which code you are working on, but what helped was what @lukaszkaiser suggested above.

You can check [this example](https://github.com/cmusphinx/g2p-seq2seq/blob/master/g2p_seq2seq/app.py)

[2016-12-19 20:13] andrewharp commented on #6213
@beniroquai Yes, you may be able to strip some unnecessary nodes out of the GraphDef with the [optimize_for_inference.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/optimize_for_inference.py) script.

If there are some other non-size related issues with the pb file that may also expose them, as the ParseFromZeroCopyStream can fail for other reasons as well. I've v

[2016-12-19 20:16] andrewharp commented on #6213
@beniroquai Have you made any other modifications to the file, though? Your printout is on line 117, while I would assume it should be on line 97 given the current state of `jni_utils.cc`.

[2016-12-19 20:41] zAMLz commented on #6394
I was confused since the build passing icon was only on windows-cpu. If that is the case than that is great. But I am also having trouble installing CuDNN. Where would I install it on a windows machine?

[2016-12-19 20:54] aselle commented on #6405
We are making several backward incompatible changes. The final state is what you are seeing in the latest master branch where split_v() is removed and split() exists with the keyword arguments
[code]
To switch between versions, you will need to creat a local compatiblity wrapper that keys off of `tf.__version__` or uses exceptions to try the newest form and if the keyword arguments don't match use

[2016-12-19 20:56] i3v commented on #2291
@zym1010 I might be wrong, that `-lrt` is required. The thing is - I found a suggestion to add `-lrt` before I found a suggestion to add `-lm`. And after first tests it looked like `-lrt` is enough. I was not hitting any errors. However, shortly after that, I've noticed your suggestion to add `-lm`, so I've added it as well :) .

I'm not aware of any real cases, where both flags are needed. Neithe

[2016-12-19 20:59] gunan commented on #6188
Hmm, I still cannot reproduce the issue.
Which OS are you using? Anything outside ubuntu, you will probably need to rebuild tensorflow from source.

Also, could you print the contents of the folder `/home/miriam/anaconda2/envs/py35/lib/python3.5/site-packages/tensorflow/contrib/cudnn_rnn/python/ops/`

And finally, could you reinstall the rc1, and see if the issue is resolved in that version?

[2016-12-19 20:59] aselle commented on #6377
Thanks for reporting this. I can reproduce this on the nightly build as well. Looks like grad might not support negative axes. We'll look into it. As you say the work around is to use non-negative axes for now.

[2016-12-19 21:02] beniroquai commented on #6213
Ups. You're perfectly right! Wow! That was great! I used an older Version of the file `jni_utils.cc`. I updated the file and now it works perfectly fine! I would have never been able to solve this issue.

Thank you so much! :)

[2016-12-19 21:02] #6213 closed

[2016-12-19 21:02] gunan commented on #6394
We try to keep the build passing icons to a minimum.
But any released package means all builds/tests have passed for that package.

For CuDNN, you have to go through https://developer.nvidia.com/cudnn

CLosing this issue as it seems to be resolved on TF side.

[2016-12-19 21:02] #6394 closed

[2016-12-19 21:05] Carmezim commented on #6404
The link problem is the same as #6389

[2016-12-19 21:20] gunan commented on #5555
@yifeif, did we update the documentation about this one?

[2016-12-19 22:13] paul-the-noob commented on #5853
@jramapuram
thanks, for that. Using 32bit floats for v and the second ("values") argument to the SparseTensor constructor also works for me. (The "indices" and "shape" arguments are more lenient; the docs specify them as int64, perhaps constructor converts them?)

@concretevitamin
I'm leaving this open, anyway. It would certainly be nice being able to use double precision: for example, the applica

[2016-12-19 22:25] gunan commented on #5994
Not sure what is going on here, because it is really difficult to get a SLES/openSuse box ready with all TF  dependencies. I will probably not be able to reproduce the problem.

But I am sure that the culprit is your subprocess library. Therefore I will close the issue.

[2016-12-19 22:25] #5994 closed

[2016-12-19 22:45] fighting41love commented on #2492
Thanks! @gorinars
I'm working on this script: [translate.py (code-to-comment)](https://github.com/thaije/code-to-comment/blob/master/seq2seq/translate.py)
In function train() (line 224), we just remove the "#" from lines 277 and 278.
In this case, the code can train a model for every 5000 steps, then save the model, and then evaluate the performance.

An error appears as follows:

Traceback (most

[2016-12-19 23:20] BradNeuberg commented on #3628
This is hitting me too; it's a bad bug that makes it hard to use BatchNorm in production settings.

[2016-12-19 23:40] kmario23 commented on #6188
Hello,
  In r0.11, the contents of the folder ( ..../cudnn_rnn/python/ops/) is:
 __init__.py
cudnn_rnn_ops.py
__init__.pyc
cudnn_rnn_ops.pyc
_cudnn_rnn_ops.so
__pycache__

Just wondering, could this be caused because of using anaconda2 but Python3.x & tf 0.12?

[2016-12-19 23:54] gunan commented on #6188
Not sure if this can be caused by anaconda vs python version mismatch. But to me more and more this looks like an anaconda bug, as with python (native) python(virtualenv) it all works fine.

The only thing I am not sure is, your OS.
I can see that `_cudnn_rnn_ops.so` is there for you, so it should be accessible. The only reason it wont would be permissions or your OS not being able to read it, but

[2016-12-19 23:56] gunan commented on #6402
@jhseu I thought the ones we built were 3.1.0?
Looks like we need to push new protobuf packages out?

@yifeif FYI

[2016-12-20 00:18] gunan commented on #6382
@vit-stepanovs I feel like your answer at #6396 might be also applicable here?

[2016-12-20 00:36] vit-stepanovs commented on #6382
Yes, it looks like the same issue.

[2016-12-20 00:42] wolffg commented on #6389
That should be picked up by our formatting tool.  I'll take a look.

[2016-12-20 01:02] yifeif commented on #5555
Updated the instruction at #6407. Should be up on the website tomorrow.

[2016-12-20 01:02] #5555 closed

[2016-12-20 01:23] gunan commented on #6382
Then closing this issue.

later this month, we will move all windows support onto bazel.
I think it will look slightly different, and we will be able to use bazel's incremental build then.

Until bazel arrives, I suggest tring suggestions at #6396.
Closing this issue.

[2016-12-20 01:23] #6382 closed

[2016-12-20 01:30] gunan commented on #5994
Another great suggestion I received from @aselle is using cmake.
That might be a much better solution, as bazel also does not have official support for SLES.

I heard that a lot of our users on CentOS have successfully built TF using cmake.

[2016-12-20 01:40] wookayin commented on #6405
Thanks for the feedback. I was assuming backward-incompatible changes, but also was confused since I find there was a similar change on `tf.concat()`: in r0.12 we have both `concat_v2()` and `concat()` (I expect the v2 method will replace the original soon).

However, if the changes are intended, perhaps we might not need to add a method (such as `tf.split_v()`) which would be a legacy, though qui

[2016-12-20 02:02] Carmezim commented on #6389
It's a matter of modifying the anchor reference to follow github's format.

[2016-12-20 02:22] meereeum commented on #6188
I'm using debian (jessie), but have had no problems with tensorflow packages built from this anaconda contributor before...

in contrast to above, I see only
[code]

so am lacking the `_cudnn_rnn_ops.so` file indicated by the error

[2016-12-20 02:27] meereeum commented on #6188
aha, definitely something with the anaconda build (which is unfortunate), as a `pip install` (with PYTHONPATH pointing to conda python) seems to work

[2016-12-20 03:09] mpooleery opened #6411 "Testing in python - import tensorflow as tf throws error "Exception: Versioning for this project requires either an sdist tarball""
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
Some of the issues when searching for "import tensorflow as tf" gave answers related to either mock not being installed correctly or protobuf.  In my case, all were installed correctly and succe

[2016-12-20 03:13] c0710204 commented on #4775
@craftlk I overwrite the CROSSTOOL under subdir in `bazel-tensorflow` and that worked.
By the way  eigen said that they support AVX-512 now(Eigen3.3.0/Tensorflow0.11+/require `--copt='-DEIGEN_ENABLE_AVX512`)
On the other hand @benoitsteiner implemented the AVX-512 support for Fixedpoint last week. However, due to the use of AVX-512 DQ in that part, that implement cannot compiling on KNL.

[2016-12-20 03:16] robotnc commented on #6072
That’s great! Thanks a lot!

[2016-12-20 03:43] BulletShadow commented on #5935
sorry， i didn't noticed i changed the account, both BulletShadow & sobinzeng are my accounts.

[2016-12-20 03:47] gunan commented on #6188
Thanks for verifying.
I will then close this issue as it seems to be an anaconda problem.
In the meantime, we will consider removing anaconda instructions.

[2016-12-20 03:47] #6188 closed

[2016-12-20 05:43] andrewharp commented on #5935
And you're listing the file as it is inside the sandbox (not in the repo)?

For odd build issues like this it tends to be fastest just to reclone the repo.

[code]

Where my WORKSPACE_ANDROID file contains the following (adjust for your system):
[code]

[2016-12-20 06:26] derofim commented on #6396
Got another strange error trying to link fresh custom Release x64 console project like tf_label_image_example (same code) when added /WHOLEARCHIVE:

Ошибка	LNK1000	Internal error during CImplib::EmitThunk

C/C++ settins:

`/MP /GS /TP /W3 /wd"4267" /wd"4244" /wd"4800" /wd"4503" /wd"4554" /wd"4996" /wd"4348" /wd"4018" /wd"4099" /wd"4146" /wd"4305" /wd"4307" /wd"4715" /wd"4722" /wd"4723" /wd"4838" /

[2016-12-20 06:29] derofim commented on #6396
Found similar tensorflow issue forum https://groups.google.com/forum/#!topic/bazel-discuss/tDGrTAtaxYw
 ( Internal error during CImplib::EmitThunk )

[2016-12-20 07:09] derofim commented on #6396
For now tf_label_image_example works fine in generated .sln!

To stop rebuilding whole tensorflow each time i used workaround
"Configuration Manager". Un-check the "Build" for all except tf_label_image_example as in http://stackoverflow.com/a/1433680

Also in contrib\cmake\build i created folders tensorflow/examples/label_image/data/ and placed in it:
grace_hopper.jpg
imagenet_comp_graph_label_str

[2016-12-20 07:13] derofim opened #6412 "contrib\cmake: configure step errors"
Config & commands used: https://gist.github.com/derofim/b4f150da1269b81af8d12744df730708

`cmake .. -A x64 -DCMAKE_BUILD_TYPE=Release  -DSWIG_EXECUTABLE="D:/Tensorflow/swigwin-3.0.10/swig.exe" -DPYTHON_EXECUTABLE="C:/Program Files/Anaconda3/python.exe" -DPYTHON_LIBRARIES="C:/Program Files/Anaconda3/libs/python35.lib" -Dtensorflow_ENABLE_GPU=ON -DCUDNN_HOME="D:\Tensorflow\cudnn\cuda" -Dtensorflow_B

[2016-12-20 08:07] suiyuan2009 commented on #4836
I'd like to give a help.

[2016-12-20 08:08] gibiansky opened #6413 "Running Tests in Docker (on Mac) Fails with Cryptic Download Error"
I am currently trying to run the Docker tests on my machine (a Mac).

Building the container succeeds, but then when it builds TensorFlow after `./configure`, it fails with the following error:

[code]

The error is quite consistent and from my machine I can `wget` that `numeric.min.js` URL.

Have you see this? What does `java.security.cert.CertPathValidatorException` even mean?

Thanks!

[2016-12-20 08:11] gibiansky commented on #6413
Ah, and by the way, it is always with `numeric.min.js`, it does not change which package it is if I invoke the `ci_build.sh` command multiple times.

[2016-12-20 08:16] gibiansky commented on #5990
This has been taken care of by the referenced PR, so I am closing this.

[2016-12-20 08:16] #5990 closed

[2016-12-20 08:21] Hvass-Labs opened #6414 "Feature suggestion: Loss Normalization"
I would like to suggest the following feature be added to TensorFlow. As far as I know, the feature does not exist in TensorFlow. There are some issues that must be discussed and solved before making the pull-request.

### Motivation

When optimizing multiple objectives in TensorFlow, the combined loss-function is typically a weighted sum of the individual loss-functions. Finding the weights for t

[2016-12-20 08:25] gibiansky commented on #6413
My apologies, the issue was entirely on my end.

(For anyone who ends up on this thread: This is caused by the time inside the container being out of sync with the realtime. You can verify this by running `date` within the container and outside of the container; if they are significantly different, this is likely the cause of the error I mentioned above. Fix this by restarting the virtual machine

[2016-12-20 08:25] #6413 closed

[2016-12-20 08:46] shakith commented on #6396
@vit-stepanovs , Thanks for the info.

I have followed the adding all obj file solution and it works. However, it will be great to have lib version (with small amounts of libs). I added /WHOLEARCHIVE compiler option (on Visual Studi 2015 Update 3) to the tf_label_image_example application project with the lib dependencies. It gives the same error as for @derofim:

`LNK1000: Internal error during C

[2016-12-20 08:48] redserpent7 opened #6415 "Merging inception retrained models"
Hi,

I know this might not be the place to ask this but I did not get any replies nor comments on SO so I thought to give it a shot.

I have done my own training of tensorflow inception a while ago, recently I wanted to add new classes to the original model. However, when I retrain tensorflow it generates a new graph and labels files completely separate from the older one.

Is there a way to combi

[2016-12-20 09:32] eaigner commented on #5611
I adapted the build scripts and got

    ld: -bind_at_load and -bitcode_bundle (Xcode setting ENABLE_BITCODE=YES) cannot be used together

[2016-12-20 09:36] chaitanya2692 opened #6416 "Tensorflow fault tolerance"
Hello,

I have been using the following simple code to learn about the behavior of distributed tensorflow (which claims to be fault tolerant):-

[code]

I create workers by running a separate program as given below:-

[code]
But when I stop one of the servers(machines), the whole program stops functioning instead of assigning the job to another machine. Is tensorflow fault tolerant when a machine

[2016-12-20 09:43] kmhofmann commented on #4535
I'm _really_ looking forward to an implementation of in-session queue resetting, and hope this will be coming soon.

This would enable repeated evaluation of an enqueued validation set, where (epoch_size % batch_size > 0) in a single session. I thought this was a rather common case, and am a bit surprised there is no good support in TensorFlow for this scenario.

Currently we are resorting to comp

[2016-12-20 10:13] HWiese1980 opened #6417 "Saver can't handle filename only"
Hey everyone,

it seems to me like - at least on Windows - the `tf` saver can't save model files whose path consists only of the file's name with no parent path, relative nor absolute. The issue lies at or around [saver.py:1363](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/saver.py#L1363) where it tries to check whether the parent directory of the file is actuall

[2016-12-20 10:29] mattdns100689 commented on #6370
Thanks

[2016-12-20 10:32] Frobb commented on #6345
Ohh, right. Gotta keep an eye out for the master docs as well. Nice find @danyz91!

[2016-12-20 10:47] eaigner commented on #5611
It actually works. Here are the steps:

- Add `export MACOSX_DEPLOYMENT_TARGET="10.12"` to `build_all_ios.sh`, otherwise you'll get a linker error (see above).
- Insert `-fembed-bitcode \` in `compile_ios_protobuf.sh` and `Makefile`
- Run `build_all_ios.sh`

You now have a working TF bitcode enabled iOS build.

[2016-12-20 10:49] casiciaco opened #6419 "I cannot generate the pip wheel"
Hi,
I am trying to compile tensorflow from scratch. I find the following problem.
When I execute:
[code]
The compilation goes ok.
But when I try to build the wheel from the program  :
[code]

Can anyone help ?

Thanks

[2016-12-20 10:52] abdoelali commented on #5553
@shastakr I'm not really working with ResNet's, so I'm leaving all matters of batch normalization alone for now

[2016-12-20 10:55] abdoelali commented on #5553
@penguinmenac3 This can't be it, as the .pb file is certainly being read. I know this because: (a) the out of the box inception graph file works correctly (and is placed in the assets dir) and (b) changing my frozen graph file name to one that doesn't exist causes a fatal error.

So, still stuck on:

` tensorflow_inference_jni.cc:202 Error during inference: Invalid argument: Session was not create

[2016-12-20 11:04] AnishShah commented on #4742
Can I work on this? I think, I can solve this.

[2016-12-20 12:15] wangpeng138375 commented on #5396
I really confused !
 `  x = tf.slice(data, [0, i * num_steps], [batch_size, num_steps])
    y = tf.slice(data, [0, i * num_steps + 1], [batch_size, num_steps])`
Do x  and y use the same value of i ??????????????????????

[2016-12-20 12:23] xusong2008 commented on #6068
maybe deprecated?

[2016-12-20 12:37] sshleifer commented on #6068
yeah i figured it out fee free to close
On Tue, Dec 20, 2016 at 7:24 AM xusong2008 <notifications@github.com> wrote:

[2016-12-20 14:41] dkokron commented on #5994
Gunan,

We were eventually able to get a working TF environment using the Anaconda
framework.
Thank you for all the help and suggestions.

Dan

On Mon, Dec 19, 2016 at 5:31 PM, gunan <notifications@github.com> wrote:

[2016-12-20 14:51] hholst80 commented on #5578
Just for completeness, the updated `Dockerfile` for building TensorFlow 0.11 from source. This works for me (only for CPU compiled TF)

[code]

[2016-12-20 15:23] gongbudaizhe commented on #6087
@yuanbyu  how is it going now ?

[2016-12-20 16:56] derofim commented on #6396
@shakith Thanks for the detailed description of the problem. Can you please say how you added all obj files to solution?

I saw list of .obj files needed to build tf_label_image_example in solution explorer and was amazed how big it is. Maybe some of them may be skipped (or added automatically)?

![image](https://cloud.githubusercontent.com/assets/9510143/21359502/84694102-c6ed-11e6-862b-03905aa74

[2016-12-20 17:12] vit-stepanovs commented on #6412
@derofim Please try pulling the latest master. #6380 should have fixed the issues you encountered.

[2016-12-20 17:19] vrv commented on #4742
That would be great @AnishShah, can you describe what the problem is?

[2016-12-20 17:45] toph-allen commented on #6196
Thanks! That's helpful.

[2016-12-20 17:48] SMH17 commented on #6355
The problem has been fixed in the latest final release. Upgrade your rc (release candidate) version to final 0.12.0

[2016-12-20 18:07] alexmonroe87 opened #6422 "[Feature request] Ability to reimplement backprop."
Currently there is no straightforward way to do things like implementing different learning rates for different layers. Much less apply learning rate masks for individual unit adjustment.

Torch allows you to easily reimplement backprop however you want. TF seems limited to this: https://www.tensorflow.org/api_docs/python/framework/core_graph_data_structures#Graph.gradient_override_map

[2016-12-20 18:14] yaroslavvb commented on #6422
What is the abstraction used in Torch/how would it look in TensorFlow?

[2016-12-20 18:20] vrv commented on #6422
@alexmonroe87 while there is probably a good feature request here, we need this to be a lot more precise for it to be useful.

One can use different instantiations of optimizers for variables with different learning rates to get per-layer learning rates.  I also don't know what a 'learning rate mask' is, so I'm not sure why it's hard.

It would be helpful to detail the use case more.  It's possibl

[2016-12-20 18:42] alexmonroe87 commented on #6422
@vrv Using different optimizer instances for different variables would lead to the problem of computing the same gradients multiple times and probably some other issues. Might also not work as intended with an optimizer like Adam.

What I'm essentially asking for the is the ability to scale a gradient on a per neuron basis with a mask, or as in the use case of individual layers having their own le

[2016-12-20 18:48] derofim commented on #6412
Tried pulling the latest master. Works fine.

[2016-12-20 18:48] #6412 closed

[2016-12-20 19:20] vrv commented on #6422
@alexmonroe87 an example where using different optimizer instances doesn't work would be useful -- I don't think we'd compute the same gradients multiple times if every variable is associated with one optimizer.  "Might not work as intended" is not sufficient evidence for a new feature request :).

As for your mask idea, you can do that today:  Let's say you have a single variable you want to opti

[2016-12-20 19:43] aselle commented on #6265
This seems like it would be an interesting feature. @vrv, do you know if anyone internally is working on this? We would definitely welcome  a PR that implemented this

[2016-12-20 19:46] alexmonroe87 commented on #6422
@vrv Scaling incoming gradients doesn't work for optimizers that adaptively rescale/normalize the gradients. Such as Adam.

[2016-12-20 19:47] ahirner commented on #6322
Thanks for ending the confusion @danielgordon10 @oduerr! I first thought there should be a direct way of writing a checkpoint from an operation's output. However, it seem you have to create a temporary variable first, initialize it with embeddings from a previous run and then save it.

[2016-12-20 20:12] yaroslavvb commented on #6422
There's a solution [here](http://stackoverflow.com/a/39793644/419116) that works for adam (specify different optimizer for each layer)

[2016-12-20 20:27] vrv commented on #6265
@fredbertsch, any ideas?

[2016-12-20 20:30] yaroslavvb commented on #6419
Which version? I just tried it with 12rc1 successfully

[code]

[2016-12-20 20:45] #6345 closed

[2016-12-20 20:46] aselle commented on #6348
@caisq can you take a look. @brando90, you can just use `docker run -it tensorflow/tensorflow bash` to use docker hub. Also, you should almost always use a tag of the version you want to use... rather than tensorflow/tensorflow alone, because the semantics of latest are confusing.

[2016-12-20 20:53] aselle commented on #6351
-e is a docker parameter to export the environment variable to override the docker image. It seems like that works. We should definitely add this to the docker instructions @caisq.

[2016-12-20 20:53] caisq commented on #6348
@brando90, when you do use the image name `gcr.io/tensorflow/tensorflow` without any tags at the end, you are implicitly pointing to the `latest` tag, which is for python2 only. The tag `latest-py3` is most likely the one you want. So just do:

[code]

As @aselle pointed out, you could also download the image from Docker Hub, instead of gcr.io:

[code]

[2016-12-20 20:54] caisq commented on #6348
I'm closing this issue. Please let me know if you have any remaining questions.

[2016-12-20 20:54] #6348 closed

[2016-12-20 20:55] aselle commented on #6349
@andydavis1 , @benoitsteiner , do you know if anyone has gotten tensorflow running on Xeon phi. I'm not aware of anybody. If, it may take some work to get it to work @craftlk.

[2016-12-20 20:56] aselle commented on #6116
@jhseu, thought you might want to take a look at this issue. Thanks.

[2016-12-20 21:01] yaroslavvb commented on #6416
No, TensorFlow doesn't reschedule job when machine goes down, that's job of cluster manager.

You could specify your cluster using hostnames rather than IP numbers like this
`cluster = tf.train.ClusterSpec({"local": ["machine1:2222", "machine2:2223"]})
`
Then when one machine1 goes down, it's job of cluster manager to spin up another instance, and update DNS records so that `machine1` points to th

[2016-12-20 21:02] aselle commented on #6366
The probably reason that VLOG is disabled in code is that it would cause a significant runtime penalty. It might be placed in tight loops where comparing against a variable number would cause performance degradation. As it is now, VLOG blocks will basically be eliminated from compiled code and have no performance penalty. Replacing VLOG_IS_ON(lvl) definition with a call to getenv() would not be ok

[2016-12-20 21:06] vrv commented on #6366
https://github.com/tensorflow/tensorflow/pull/6375 is a reasonable solution that is being worked on: it checks the env var once statically on first use and just checks against the member variable on every call, which shouldn't be that expensive.

[2016-12-20 21:07] aselle commented on #6386
This question is more appropriate for StackOverflow. Please re-ask there. Thank you!

[2016-12-20 21:07] #6386 closed

[2016-12-20 21:10] leftnoteasy commented on #6366
Thanks for reviews from @cwhipkey, @vrv, @aselle, very helpful!

For performance concerns from @aselle, I think @vrv's comment should solve the problem:
https://github.com/tensorflow/tensorflow/pull/6375#discussion-diff-93282773R130

I'm going to update the patch according to your feedbacks.

[2016-12-20 21:11] aselle commented on #6385
@petewarden, you mentioned you have had experience with android builds on windows.

[2016-12-20 21:11] aselle commented on #6388
@ebrevdo, could you comment on this issue?

[2016-12-20 21:21] aselle commented on #6366
Sounds good.... marking as contributions welcome since it is being worked on.

[2016-12-20 21:41] wolffg commented on #6400
Thanks. We'll look into it.

[2016-12-20 21:46] rizar opened #6426 "Outdated documentation of Assert op"
From https://www.tensorflow.org/api_docs/python/control_flow_ops/debugging_operations#Assert

[code]

`tf.with_dependencies` does not exist (see also a related [stack overflow discussion](http://stackoverflow.com/questions/37980078/tensorflow-has-no-attribute-with-dependencies))

[2016-12-20 21:52] JavascriptMick commented on #1244
I ended up using virtual env viz: https://www.tensorflow.org/get_started/os_setup#virtualenv_installation

[2016-12-20 21:57] AhmedElsafy commented on #600
Hi Guys,
I was trying to use the command tf.device() in the translate example to be set on the GPU, it was working till the step of saving a check point and it crashed with a message pointing out that I need a CPU for this, so I removed the command, but I noticed that the step time is taking the same time when I was running the code without a GPU installed before, Do you know how can I make sure t

[2016-12-20 22:04] aselle commented on #6401
To my eye, it just looks like the GPU version of fft is lower accuracy than the CPU (double precision) version that numpy uses.

[2016-12-20 22:06] aselle commented on #6417
This may be a known limitation. I think most people are using fully qualified paths in batch systems to avoid current directory surprises. @mrry, do you have any insight. @concretevitamin, do you have any insight?

[2016-12-20 22:07] aselle commented on #6419
Also, what operating system version?

[2016-12-20 22:10] mi-g commented on #37
+1

[2016-12-20 22:11] aselle commented on #6391
@ebrevdo, @zongheng, please take a look at this issue.

[2016-12-20 22:13] aselle commented on #6399
@yaroslavvb's comment seems to resolve this issue. please comment if this does not resolve your question @jonasrauber . Thanks for the issue.

[2016-12-20 22:14] aselle commented on #6355
@AndreaFar  please confirm that @SMH17's suggestion to upgrade resolves your issues. Thanks!

[2016-12-20 22:35] mrry commented on #6417
I think this isn't OS-specific, but agree that it's a bit strange. As a workaround, it might be possible to prepend `"./"` to the save path, and perhaps we should do that in the cases when `os.path.dirname()` returns `""`?

[2016-12-20 23:05] plsuarez commented on #1142
i can not install tensorflow on windows 8 64bits?
i got this error
is not a supported wheel on this platform

[2016-12-20 23:42] ebrevdo commented on #6388
Time major is more efficient with rnns, but dynamic_rnn was made batch major for consistency with the rest of tf.  Since most users of CTC are experts, and are clearly going to be combining it with rnns, we are encouraging users to use time major here as well.  If you're using dynamic_rnn, I encourage you to use the flag time_major=True for efficiency.

[2016-12-20 23:43] ebrevdo commented on #6388
The order of arguments may have changed. Andrew, were you the one who made that change?  See Martin wickes recent announcement on the tf discussion mailing list.

[2016-12-20 23:44] ebrevdo commented on #6391
This uses sparse to dense op, which is mostly deprecated in favor of scatter_nd op.  That op has a gradient.  We should change the sparse to dense Python wrapper to call scatter_nd.

[2016-12-20 23:45] ebrevdo commented on #6391
Zongheng, if you have time to change the sparse to dense wrapper.  Or simister if he is around can do it.  I'm away till late December.

[2016-12-20 23:49] raingo opened #6429 "[Tensorboard Feature Requests] Binding the run selectors of the tabs together"
For now, in order to check the Events/Image/Distribution tabs for a run, I need to make the selection for each of the tab. It would be nice to be able to apply the same run filters across all tabs. If I made a selection in one tab, the other tabs will use the same filters automatically.

[2016-12-20 23:50] NuovoVesuvio commented on #1402
I follow the official pip windows installation and get same error as others.

I also tried uninstalling protobuf etc beforehand to no avail. I'm running python 3.5.2 and Anaconda.

Is everyone having this problem on Windows?

`C:\Users\Rafie>python
Python 3.5.2 |Anaconda 4.2.0 (64-bit)| (default, Jul  5 2016, 11:41:13) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "li

[2016-12-20 23:57] ivancruzbht commented on #5553
I also have the same issue. I posted it on [stackoverflow](http://stackoverflow.com/questions/41252122/tensorflow-on-android-error-during-inference-invalid-argument-session-was-not).

What I have noticed in [tensorflow_inference_jni.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/android/jni/tensorflow_inference_jni.cc) is that the GraphDef is instantiated and then the

[2016-12-21 00:31] nmiculinic commented on #6388
Thanks for the tip, I'll use time major in RNN as well.

[2016-12-21 00:31] HWiese1980 commented on #6417
I think this is the usual and as such expectable behavior that when you don't provide an absolute/fully qualified path that it is treated as relative to the current working directory. So... yes, I think this should also be handled like this by TF.

[2016-12-21 00:34] mrry commented on #6417
Sounds fair to me. I'll defer to @concretevitamin on how best to fix that, since he wrote the most recent version of the `Saver` code.

[2016-12-21 00:36] HWiese1980 commented on #6417
Awesome! Thanks a lot!

[2016-12-21 00:50] jessyuan24 commented on #6351
Thanks you.

[2016-12-21 00:51] jessyuan24 commented on #6351
Thank you!!

[2016-12-21 00:51] #6351 closed

[2016-12-21 01:27] mrry commented on #6416
+1 to what @yaroslavvb said above. The [`tf.train.MonitoredSession`](https://www.tensorflow.org/api_docs/python/train/distributed_execution#MonitoredSession) class contains utilities that help with recovery after a failure.

In the current implementation, after a `tf.Session.run()` call fails due to a worker failure, the `tf.Session` object is no longer usable. The `tf.train.MonitoredSession` take

[2016-12-21 01:27] #6416 closed

[2016-12-21 01:55] imanakas71 commented on #600
If you are using NVIDIA GPUs, just type

% nvidia-smi

[2016-12-21 01:56] yaroslavvb commented on #6416
@mrry what if `.run` calls due to connection getting reset in the middle of `run` call like in https://github.com/tensorflow/tensorflow/issues/6319, can I still use the same Session object?

[2016-12-21 02:04] mrry commented on #6416
The session may be in an undefined state at that point, so YMMV if you try to keep using it. The various wrapper libraries will re-create the session in those cases.

[2016-12-21 03:12] AhmedElsafy commented on #600
Thanks it seems that tensrflow is not utilizing the GPU, did you guys had to do anything specifically to run the example on the GPU ?
I have CUDA and CuDNN installed, and I have tried the command tf.device("gpu") before and it was working and the test went through!
Any advice ?

[2016-12-21 04:10] #3906 closed

[2016-12-21 04:19] Zondabb opened #6431 "Does TF support multicore processing on Android?"
As we know, iPhone play better performance than other Android mobiles on single CPU, presenting Android takes more time to run an inference. But Android usually have four or more CPU cores and iPone have only two. So I want to speed up Android's inference by using multicore processing.

**What solutions have you tried?**
I according Eigen multi-threading docs to add -fopenmp build options, but it

[2016-12-21 04:49] muneeb699 commented on #6266
I downloaded it from docker hub and i am using tensorflow 0.11

[2016-12-21 05:35] imanakas71 commented on #600
translate.py does not use GPU in all the process.  You should check the status of GPU by

%nvidia-smi

and

%top

when messages come out, or stopped. ( when running top, push "1" key to see every single CPU's performance).
Maybe you can see your GPU is running.

[2016-12-21 05:37] imanakas71 commented on #600
translate.py uses GPU in not all the process. You should check the status of GPU by

%nvidia-smi

and

%top

when messages come out, or stopped. ( when running top, push "1" key to see every single CPU's performance).
Maybe you can see your GPU is running.

[2016-12-21 05:40] xusong2008 opened #6432 "rnn_cell has no BasicLSTMCell"
lstm_cell = tf.contrib.rnn.BasicLSTMCell(
AttributeError: 'module' object has no attribute 'BasicLSTMCell'.

Is it been replaced by other cell?

[2016-12-21 05:43] llhe commented on #6431
From [the source code here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtime/direct_session.cc#L210), looks like multi thread execution on Android is not enabled.
We are also interested in this.

[2016-12-21 05:55] Frankie08 commented on #6393
You may not have permissions to write/read in your working directory. This is nothing about tensorflow.

[2016-12-21 06:41] soliders commented on #6393
thanks a lot. i had already find the reason.

[2016-12-21 06:59] AnishShah commented on #4742
@vrv The problem is in this [line](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/nn_ops.py#L974). It is using `ShapeOp` to estimate `paddings` for `ShapeToBatchOp`. That is why it is not able to predict the output shape. I tried few things, but I was unsuccessful. What do you suggest?

[2016-12-21 07:23] pattrickrice commented on #1402
Same issue as @NuovoVesuvio

[2016-12-21 08:06] gunan commented on #6432
rnn is being moved into core.
You can use BasicLSTMCell through
`tf.nn.rnn_cell.BasicLSTMCell`

I was able to verify this in 0.12

[2016-12-21 08:32] gunan commented on #297
With the website move, this should be resolved.
@wollfg, I think we are now ready to close this issue.

[2016-12-21 08:39] gunan commented on #1423
is_gpu_available is now ready.
Force gpu if available has been in the plans, but getting delayed deprioritized so far.

[2016-12-21 08:40] gunan commented on #1892
TF 0.7 documentation has been removed, so this issue is now obsolete.
Closing.

[2016-12-21 08:40] #1892 closed

[2016-12-21 08:40] martinwicke commented on #6261
We're looking into finding a replacement link. In the meantime, you can probably download the file manually from https://drive.google.com/corp/drive/folders/0Bz8a_Dbh9Qhbfll6bVpmNUtUcFdjYmF2SEpmZUZUcVNiMUw1TWN6RDV3a0JHT3kxLVhVR2M

[2016-12-21 08:41] martinwicke commented on #6261
duplicate of #6174.

[2016-12-21 08:41] #6261 closed

[2016-12-21 08:43] gunan commented on #2335
@yaroslavvb has this issue been resolved?
Mac builds seem to be pretty stable so far, but I have not checked the setuptools version on our mac machines.

[2016-12-21 08:44] gunan commented on #2600
@caisq has already taken care of this, as far as I know.
Please see our *py3 docker images. in dockerhub.

[2016-12-21 08:44] #2600 closed

[2016-12-21 08:45] martinwicke commented on #6210
It's not a command line option, you'll have to edit the workspace.bzl file to replace how bazel finds its dependencies from their current sources (often, http_archive) to [local_repository](https://www.bazel.io/versions/master/docs/be/workspace.html#local_repository).

[2016-12-21 08:46] gunan commented on #2306
Looks like this has been resolved. Closing this issue.

[2016-12-21 08:46] #2306 closed

[2016-12-21 08:48] gunan commented on #3194
We now have cmake support under contrib. So you may be able to use that.
As for offline build support, I am not sure but I guess you can build a pip package on a machine with internet access and deploy that on other machines.

[2016-12-21 08:51] gunan commented on #2855
This is now resolved?
At least on my own machines I have TF setup locally, and bazel seems to capture my changes in my workspace during bazel test. @yaroslavvb, could you verify?

[2016-12-21 08:54] gunan commented on #2902
I think this issue is now resolved. Our continuous tests on py3 seem to be all working.
Please reopen if I am mistaken.

[2016-12-21 08:54] #2902 closed

[2016-12-21 08:57] gunan commented on #3338
Looks like the there is an explanation here.
Closing the issue for now. Please reopen if the above suggestion wont resolve the problem for you.

Also, the error message suggests you should report a gcc bug, so I am assuming this is a gcc bug.

[2016-12-21 08:57] #3338 closed

[2016-12-21 08:59] gunan commented on #3386
Looks like this issue was resolved.
Also there has been many updates to our scripts and documentation, so I think this issue got resolved, but it was not closed.
Please reopen if you still run into this problem.

[2016-12-21 08:59] #3386 closed

[2016-12-21 09:00] gunan commented on #3196
Website is also updated (many many times since this issue :) ) to point to correct URLs.
Closing this issue.

[2016-12-21 09:00] #3196 closed

[2016-12-21 09:01] gunan commented on #3262
Closing the issue, as there seems to be a resolution now.
Please reopen if you still run into it.

[2016-12-21 09:01] #3262 closed

[2016-12-21 09:02] ronrest commented on #4534
Even if this feature does not get included in the Tensorflow code, I would like to know if anyone has any working code (or link to working code) for implementing Locally Connected Layers in tensorflow.

[2016-12-21 09:05] gunan commented on #3501
Looks like the issue was resolved.
Closing the issue.

[2016-12-21 09:05] #3501 closed

[2016-12-21 09:07] gunan commented on #3651
Our wheel files now come built for cuda 8.0 and cudnn 5.1
I think this issue is now obsolete, thus closing.

[2016-12-21 09:07] #3651 closed

[2016-12-21 09:09] gunan commented on #3674
Is this still a problem?

When you install CUDA, libcuda.so.1 should exist in your system.
what do you see when you run
[code]

[2016-12-21 09:12] gunan commented on #3938
I am assuming now this issue is obsolete.
@haibarasiao are you still running into this?

[2016-12-21 09:16] gunan commented on #4021
(With delayed move to new docs) it did help
When I search for `tf.reshape`, the first result I get is to tensorflow documentation in the new TF website.

[2016-12-21 09:16] #4021 closed

[2016-12-21 09:17] gunan commented on #3980
@davidzchen is this issue resolved?
Or do we have more changes we are planning on this?

[2016-12-21 09:18] gunan commented on #3962
With 2 new releases after 0.10, this issue is now obsolete.
Sorry for the lack of attention to the issue.
I am closing this now.

Please open a new issue if you run into the same problem in our latest release.

[2016-12-21 09:18] #3962 closed

[2016-12-21 09:24] gunan commented on #4187
I am curious as our mac test machines have been working fine so far.

Is it possible the `LD_LIBRARY_PATH` environment variable is not set to point to cuda, when you are running into the issue?

[2016-12-21 09:25] haibarasiao commented on #3938
no，I use mxnet now.
------------------ Original ------------------
From: "gunan"<notifications@github.com>
Date: Wed, Dec 21, 2016 05:13 PM
To: "tensorflow/tensorflow"<tensorflow@noreply.github.com>;
Cc: "haibarasiao"<fuxiao@wtweiqi.com>;"Mention"<mention@noreply.github.com>;
Subject: Re: [tensorflow/tensorflow] After upgrade protobuf for the 64Mblimited , segment fault occurred (#3938)

I am assu

[2016-12-21 09:25] gunan commented on #4216
Looks like the issue was resolved in the end.
Closing.

[2016-12-21 09:25] #4216 closed

[2016-12-21 09:27] gunan commented on #4368
Is this still a problem at master or 0.12?

[2016-12-21 09:30] gunan commented on #4403
A quick google search points to a known openssl issue.
Closing.

[2016-12-21 09:30] #4403 closed

[2016-12-21 09:32] gunan commented on #4571
We should update the website with this information.
All our builds have been using cudnn 5.1 for a while now.

[2016-12-21 09:33] gunan commented on #4561
Is this fixed by #4572 ?

[2016-12-21 09:37] gunan commented on #4969
This is fixed at master and r0.12
We will not merge the fix back to 0.11, therefore closing the issue.

[2016-12-21 09:37] #4969 closed

[2016-12-21 09:38] gunan commented on #5014
Issue seems to be resolved.
Closing.

[2016-12-21 09:38] #5014 closed

[2016-12-21 09:39] gunan commented on #4974
cc myself
Working on coverting all our CI builds to sandboxed builds.

[2016-12-21 09:42] gunan commented on #5434
CentOS is not officially supported for neither bazel, nor TF.
Did you ry using the cmake build under contrib?
That might be easier to run.

[2016-12-21 09:43] gunan commented on #5413
Looks like this is just closed today.

[2016-12-21 09:43] #5413 closed

[2016-12-21 09:46] gunan commented on #5580
@yifeif with our regular protobuf builds, is this now resolved?

[2016-12-21 09:47] #3938 closed

[2016-12-21 09:52] gunan commented on #6021
with bazel 0.4.2, we now have multiple mirrors for our external dependencies.
Could you try bazel 0.4.2?

[2016-12-21 10:07] wolffg commented on #297
Docs navigation has accordions and twistdowns now for easier navigation.  I'm going to close this.

[2016-12-21 10:07] #297 closed

[2016-12-21 10:07] llhe commented on #6431
@benoitsteiner Is this restriction caused by eigen::ThreadPoolTempl?

  // std::function, only Closure, which we cannot easily convert.

What's the cause of this? Because std::function is regarded as unsupported on Android? Looks like from [this discussion](https://groups.google.com/forum/#!topic/android-ndk/ez3tWOEtCFY) and [also another one](http://stackoverflow.com/questions/33584288/android-nd

[2016-12-21 10:28] dr2mer commented on #4944
In my case, -config=cuda7.5 is working

[2016-12-21 11:41] biolee commented on #3388
it induced by different gc sequence, you can force python to del session by:

`sel session`

or if you are using keras, you cant get the session instance, you can run folloing code:
`import gc
gc.collect()`

[2016-12-21 12:26] Hong-Xiang opened #6436 "Failed to build from source for r0.12 for missing urls."
Hi, I'm trying to install tensorflow r0.12 on a cluster with CentOS. Since I don't have sudo permission and got the same problem as [#53]( https://github.com/tensorflow/tensorflow/issues/53 ), I have to build from source.

When trying to build r0.12, during `./configure` step, I got following errors:
[code]

When I turned back to r0.11,  `./configure`  works fine.

Any ideas?

[2016-12-21 12:45] yohokuno commented on #5982
By the way, I just realized you implemented the same paper (Gal 2015) I am just implementing. Thank you! :-)

[2016-12-21 13:14] zakizhou commented on #2146
Any progress?

[2016-12-21 13:17] trsaunders commented on #3628
I'm also experiencing this. It seems that moving_averages._zero_debias() uses scopes in a peculiar way.

For example, if you pass assign_moving_average a variable created within a variable scope, e.g with name "scope1/var", then _zero_debias() creates its variables "biased" and "local_step" within the variable scope "scope1/var", but because we're already within the scope "scope1" the variables en

[2016-12-21 13:19] giabar commented on #6436
Which version of Bazel you have? I was ok with 4.2

[2016-12-21 13:52] pannous commented on #2146
can warp-ctc be merged into tensorflow?

[2016-12-21 14:22] sankethvedula opened #6437 "Separable convolutions in 3D ( For example, separable_conv3d )"
Is there a function to implement separable convolutions with 3D convolutions. We have a similar function in the case of 2D called as separable_conv2d()

Is there a similar implementations in 3D as well?

Thanks in Advance!

[2016-12-21 14:39] hasitpbhatt commented on #6436
This may sound stupid and is definitely irrelevant to the issue but pip install doesn't require sudo permission, does it?

[2016-12-21 14:43] hasitpbhatt commented on #6437
@sankethvedula, I don't think so.

[2016-12-21 15:21] friskit-china opened #6438 "Cannot show stderr when using Jupyter"
Hello,
Could you please have a look about this.

I am using TF and Jupyter. But what makes me confuse is that the log text cannot be shown in Jupyter output cell (but it output correctly in ipython).
I think it is because of the stderr. This issue have been discussed before in #3047. You add several lines to determine whether or not current context is in an interactive environment.

However, even

[2016-12-21 15:38] jonasrauber commented on #6399
Kind of, but not really. I am aware that it's possible to use workarounds like the one proposed by @yaroslavvb. I don't care so much how it relates to real constants, I just thought it would be nice to have an op that consumes it's input once and then outputs this initial input whenever it's evaluated. A possible use case would be to turn a data loading queue into a fake data queue, to measure net

[2016-12-21 15:47] rgobbel commented on #2146
As commented above, getting it to work wasn't hard, but I stopped working on it because of the dependencies on code with problematic licensing terms. If that's not an issue, it could be merged into the main TensorFlow sources pretty easily.

I started working on adding support for the preprocess_merge_repeated and ctc_merge_repeated flags, but that's tricky, involving quite a few changes to the ke

[2016-12-21 16:18] JerryX2014 commented on #6119
same issue with Linux server ( CentOS Linux release 7.2.1511 (Core) )
tensorflow version 0.12.0

I got the correct predictions [1,2] of my first run, but my following runs were all [1,1]...

[2016-12-21 16:28] yaroslavvb commented on #2855
I don't have Mac development env setup since releasable GPU builds obviated the need to build myself. I think this could be closed and re-opened if someone else runs into this

[2016-12-21 16:28] #2855 closed

[2016-12-21 16:28] yaroslavvb commented on #2335
This has a high chance of being fixed and/or irrelevant hence closing

[2016-12-21 16:28] #2335 closed

[2016-12-21 16:37] jart commented on #4561
Probably.

[2016-12-21 16:37] #4561 closed

[2016-12-21 16:55] lukaszkaiser commented on #600
I think you need to use tf.device("/gpu:0") or sth like that. You can also set soft placements in session (with tf.Session(config=tf.ConfigProto(allow_soft_placement=True)) as sess) -- this will place on CPU all ops it cannot place on GPU, like the Saver.

[2016-12-21 17:20] yaroslavvb commented on #6438
This would be good to fix, meanwhile I've been using this work-around with FDRedirector from [here](https://github.com/bitemyapp/ipython/blob/master/IPython/kernel/core/fd_redirector.py)

[code]

The downside is that this hangs inside tensorflow print if pipe buffer is exceeded (65k)

[2016-12-21 17:20] carlthome opened #6439 "Have TensorBoard graph smoothing not overestimate last gotten scalar"
When plotting scalars in TensorBoard, the smoothed curve overfits the latest value. It means the curve jumps around with subsequent updates, and for a line fit it just plainly looks bad and feels wrong.

For example, when progress reporting neural networks training and plotting the loss over the training data, surely the blue line will continue with a slight downwards slope given a stable learning

[2016-12-21 18:01] AmirHadifar opened #6440 "AttributeError: 'module' object has no attribute 'legacy_seq2sec'"
In Tensorflow 0.12.0 && python 2.7.10  When I run :
        `ptb_word_lm.py --data_path=/Users/mac/Documents/Tensor/simple-examples/data/ --model small`

It throws such exception:

How can I fix this issue?

[2016-12-21 18:26] leftnoteasy commented on #6366
#6375 is merged, closing this one, thanks everyone for your feedbacks!

[2016-12-21 18:26] #6366 closed

[2016-12-21 18:26] yifeif commented on #5580
Sorry this hasn't bump up the piles as it can be simply resolved by renaming the downloaded package tags to "cp3-none-any".

[2016-12-21 18:29] yifeif commented on #5580
Actually just took a look at the downloading link on [install page ](https://www.tensorflow.org/get_started/os_setup#protobuf_library_related_issues), the binary is now named "protobuf-3.0.0-**cp35-cp35m**-linux_x86_64.whl", which should be a supported wheel name. Closing this issue. @hholst80 please feel free to re-open if it is still not working for you. Thanks!

[2016-12-21 18:29] #5580 closed

[2016-12-21 18:47] virtigex commented on #6436
I had the same problem with bazel 0.4.0 and upgrading to 0.4.2 fixed this for me. @hasitpbhatt - you need 'sudo' if you do not have write permission to your 'site-packages' directory and you can find the location of this with 'python -c "import site; print(site.getsitepackages())"'. If you cannot use 'sudo' you can get around this by installing your own local version of python.

[2016-12-21 19:25] gunan commented on #6436
You have to upgrade to bazel 0.4.2
There has been a backwards incompatible change with bazel, so our external dependency rule formats have been slightly modified.

Sorry for not broadcasting this wider. I will see what I can do to make error messages better.

[2016-12-21 19:25] #6436 closed

[2016-12-21 19:30] #627 closed

[2016-12-21 19:32] gunan commented on #6232
looks OK in the new website. closing.

[2016-12-21 19:32] #6232 closed

[2016-12-21 19:36] gunan commented on #3943
This seems to be all fixed now. Closing.

[2016-12-21 19:36] #3943 closed

[2016-12-21 19:44] vrv commented on #6422
@alexmonroe87 reimplementing backprop for a given op would only allow you to control the output prior to the optimizer, so I still don't understand your feature request.

I'm going to close this particular issue since the request is still unclear after repeated requests for clarfiication.

If you can provide *concrete* examples of what is not possible / what is hard, (or more evidence of why somet

[2016-12-21 19:44] #6422 closed

[2016-12-21 19:54] andrewharp commented on #5553
@abdoelali I noticed this line in your logcat dump which seems to explain the error you're seeing:
`11-15 11:50:15.011 17053 17053 E native  : tensorflow_inference_jni.cc:133 Could not create Tensorflow Graph: Invalid argument: Input 0 of node BatchNormalization/cond/AssignMovingAvg_1/Switch was passed float from BatchNormalization/moving_variance:0 incompatible with expected float_ref.`

[2016-12-21 20:05] andrewharp commented on #5553
@ivancruzbht Still not sure what's going on in your case. Though 7ms seems very fast to initialize (it takes me 70ms to initialize with a .5mb graph), so it probably is just failing to load the graphdef properly. What is the size of your file? Is it binary or text?

@penguinmenac3 Yes, we should do a better job of failing fast and reporting initialization errors clearly -- will look into improving

[2016-12-21 20:22] ivancruzbht commented on #5553
@andrewharp I just found out the issue. It seems that ReadFileToProtoOrDie in [jni_utils.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/android/jni/jni_utils.cc#L78) needs the prefix "file:///android_asset/" in the file name to use the AssetManager to open the GraphDefFile. Otherwise it will try to open the file standalone. For some reason not using the AssetManager do

[2016-12-21 20:33] pannous commented on #6322
@danielgordon10 @oduerr most wonderful, thanks!
This should definitely be part of the official docu/samples!

[2016-12-21 20:34] andrewharp commented on #5553
@ivancruzbht Right -- if you leave off the prefix it just treats the location as a regular filepath on device (e.g. you could put your file in /sdcard/ somewhere -- there's no reason that PBs need to be bundled with the app in assets).

I suppose the assumption was that proto->ParseFromCodedStream would return false if the file wasn't found, and then the CHECK on ReadFileToProtoOrDie would catch t

[2016-12-21 20:42] wolffg commented on #6400
Images are back on that page and others where the same transcription error happened.

[2016-12-21 20:42] #6400 closed

[2016-12-21 20:46] gunan commented on #4257
@nealwu Is this all complete?
Did we also update the docs?

[2016-12-21 20:56] nealwu commented on #4257
Yep, this is complete. The models are now in https://github.com/tensorflow/models/tree/master/tutorials. The docs are also mostly updated, but I'm still working on a few issues with them now.

[2016-12-21 20:56] #4257 closed

[2016-12-21 21:06] gunan opened #6442 "Build on windows using bazel broken"
Operating System: Windows
bazel 0.4.2, issue is seen at master branch.

It looks like sometime after our update to libjpeg turbo, our build has been broken in windows.
I am looking into it, but I cannot see a clear resolution to the problem.
The error message says:
http://ci.tensorflow.org/job/tf-master-win-bzl/218/console
[code]

I checked jmorecfg.sh, and tried to use `#define HAVE_BOOLEAN` to g

[2016-12-21 21:30] vit-stepanovs commented on #6442
A quick search showed that 'boolean' is defined in Windows SDK header rpcndr.h.

Actually, it looks like jpeg-turbo does handle this case in in [win/jconfig.h.in](https://github.com/libjpeg-turbo/libjpeg-turbo/blob/master/win/jconfig.h.in):

#ifndef __RPCNDR_H__		/* don't conflict if rpcndr.h already read */
typedef unsigned char boolean;
#endif
#define HAVE_BOOLEAN

One of the following is possib

[2016-12-21 21:56] krstovski commented on #5761
The example code has a typo:
tf.slice -> tf.strided_slice
Also, the third example doesn't produce the given result:
tf.slice(input, [1, 1, 0], [2, -1, 3], [1, -1, 1]) **!=**> [[[4, 4, 4], [3, 3, 3]]]

[2016-12-21 22:32] wolffg commented on #5564
Fixed!  Thanks for pointing that out.  It was correct in the gist, but not written in the code.

[2016-12-21 22:32] #5564 closed

[2016-12-21 23:23] gunan commented on #6442
OK, I think I have an idea about what we are missing
https://github.com/libjpeg-turbo/libjpeg-turbo/blob/master/CMakeLists.txt#L186

In cmake based libjpeg turbo build, jconfig.h is replaced by win/jconfig.h.in
For us, we seem to have some genrules, which do some sort of magic
https://github.com/tensorflow/tensorflow/blob/master/third_party/jpeg.BUILD#L279
https://github.com/tensorflow/tensorflow/

[2016-12-21 23:38] gibiansky opened #6446 "TF_CUDA_VERSION and TF_CUDNN_VERSION can be too specific"
If you run `./configure` and provide your own `TF_CUDA_VERSION` and `TF_CUDNN_VERSION`, you will get an error message if your version is too specific.

For example, setting `TF_CUDA_VERSION=7.5.18` will result in an error when `nvcc` reports a version `7.5`. If you set `TF_CUDNN_VERSION=5.1.3`, you get an error because `cudnn.h` reports version `5`.

I think in previous versions of TensorFlow this

[2016-12-22 00:03] jart commented on #6442
When writing jpeg.BUILD I primarily copied off of the internal Google configuration in //third_party. If you want to restructure those genrules to copy the default config.h files rather than inlining them, then I would recommend comparing their contents with the Google modifications internally.

[2016-12-22 00:27] chrisranderson opened #6448 "Documentation request: leave all function names on the sidebar"
Before, I found it really nice that I could `ctrl+f` to look up a function really quickly. Now I either have to Google it or use the search bar, or worse, scan through the hierarchy and click a few times and scroll til I find it. Not a huge deal, but relatively painful.

It was nice to get instant search results for even partial bits of function names.

[2016-12-22 00:58] k-hashimoto opened #6449 "Using OpenCL on macOS"
Thank you very much for developing nice framework. I have a question about OpenCL support for macOS. Is there no way to run tensorflow with GPU on recent MacBookPro?  Tensorflow support OpenCL. But I think this is for Linux, not for macOS. Tensorflow + OpenCL need ComputeCpp. But ComputeCpp compiler do not support macOS(I couldn't find ComputeCpp binary for mac). Do you have a plot to support rece

[2016-12-22 01:12] zhangyaobit commented on #5694
@siddharth-agrawal Please note that how the code currently handles the case when the input is 2D (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/layers/python/layers/layers.py#L233): the input is reshaped to a 4D shape [-1, 1, 1, channels].

I believe this is essentially the same as the workaround by @tomrunia, where the 5D input is reshaped to 4D. For the 3D case, say NWC

[2016-12-22 01:33] ryanjferrin opened #6451 "ig"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-12-22 01:51] sasadep commented on #6449
OpenCL  support is tracked on  #22

[2016-12-22 02:21] weity commented on #6351
Finally,I find a way to access jupyter notebook.Recreate a container and specify a password.
[code]
then I can enter the notebook.

[2016-12-22 02:51] benoitsteiner commented on #6449
@lukeiwanski maybe have more information on the ComputeCpp plan for MacOS

[2016-12-22 02:51] StructML opened #6452 "Nvidia GTX 960: Abnormal Memory Usage"
### Environment info
Operating System: Ubuntu 16.04

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

-rw-r--r-- 1 root root   558720 Dec 17 21:39 libcudadevrt.a
lrwxrwxrwx 1 root root       16 Dec 17 21:39 libcudart.so -> libcudart.so.8.0
lrwxrwxrwx 1 root root       19 Dec 17 21:39 libcudart.so.8.0 -> libcudart.so.8.0.44
-rwxr-xr-x 1 root roo

[2016-12-22 03:06] ardasnck commented on #5816
Hey @tomrunia
I'm also having exactly the similar problem as you described...I also work on C3D. I was wondering any update on this?
Thank you very much.

[2016-12-22 03:32] yaroslavvb commented on #5816
It's possible to have non-deterministic "out of memory" because you are unlucky. TensorFlow has non-deterministic order of execution, so depending on factors such as GPU temperature, you may have things scheduling in different order and needing different amounts of memory.

To verify this is indeed a bug, you could use memory profiling as detailed in https://github.com/yaroslavvb/notebooks/blob/ma

[2016-12-22 04:12] miltonbd commented on #722
are you running the code from command line? try to run from command line.
add the following in your system include path.

export PATH=/usr/local/cuda/bin:$PATH
export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/usr/local/cuda/lib64"
export CUDA_HOME=/usr/local/cuda

[2016-12-22 04:27] ceena opened #6454 "TypeError: zeros_initializer() got multiple values for keyword argument 'dtype'"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
https://github.com/tensorflow/models/issues/672

### Environment info
Operating System: Ubuntu 16

Installed version of CUDA and cuDNN:  NO
The output of `bazel version`  0.4.2

### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of

[2016-12-22 05:42] yaroslavvb commented on #6454
#6202

[2016-12-22 05:56] #6451 closed

[2016-12-22 06:32] #6393 closed

[2016-12-22 07:42] vrv commented on #4833
I made the fast IDCT the default in febdc1d13576a28382122e718bc8ab22ba9e6a45

[2016-12-22 07:42] #4833 closed

[2016-12-22 08:29] giabar commented on #6436
@hasitpbhatt Did you try with Bazel 0.4.2? Let us know

[2016-12-22 09:41] nina124 opened #6455 "gradient for tf.gather_nd"
I use tf.gather_nd to build a Value Iteration Block(NIPS2016 best paper, value iteration network).
I need to pick several "pixels" (what the input (i,j) points to in the following picture) in the feature map Q_n.
![image](https://cloud.githubusercontent.com/assets/6497205/21421213/a8e6a8be-c86c-11e6-8801-714ca47c4c2f.png)

But I got this error: NotImplementedError: Gradient for gather_nd is not im

[2016-12-22 09:42] yangkun1993 opened #6456 "tensorflow.python.framework.errors.InvalidArgumentError"
I getting error when using  cifar10 model to train my tfrecord datasets  which are made with tf.python_io.TFRecordWriter().

on tensorflow0.8 ,it's running ok, but on tensorflow 0.10 and 0.11 ,there is the error : tensorflow.python.framework.errors.InvalidArgumentError

File "/Users/yang/Documents/cifar10/cifar10_train.py", line 133, in <module>
    tf.app.run()
  File "/Library/Frameworks/Python.

[2016-12-22 09:54] abdoelali commented on #5553
@andrewharp the `tensorflow_inference_jni.cc:133` error might explain my ResNet experiment (which indeed gives batch normalization error), but not my CNN experiment I initially linked to (this [logcat](https://github.com/abdoelali/scratch/blob/master/adb_logcat_tf.txt)).

[2016-12-22 09:56] Randl commented on #5468
Any update on this?

[2016-12-22 09:59] abdoelali commented on #5553
@ivancruzbht Also have a [StackOverflow question](http://stackoverflow.com/questions/40555749/running-own-tensorflow-model-on-android-gives-native-inference-error-session-w) open.

Will try printing the node count and inspect the ReadFileToProtoOrDie in ` jni_utils.cc`.

[2016-12-22 10:04] yoslber opened #6457 "Name clash with inspect.py"
Ubuntu 14.04, TF r0.12

I named a script `inspect.py` and then launched TF in the same folder. It crashes.

Reproducer:
----------------
In terminal:
[code]
If I remove `inspect.py` it works again.

[2016-12-22 10:09] gunan commented on #6442
OK, I have an idea now to how to proceed.
I am working on a solution.

On Wed, Dec 21, 2016 at 4:04 PM, Justine Tunney <notifications@github.com>
wrote:

[2016-12-22 11:25] AndreyRub commented on #6385
Ok, after trying to build the Bazel example Android project on Linux, and reverse engineering the .apk package, it looks like it depends only on a single .so native TensorFlow Android library, called **libtensorflow_demo.so**.

Currently in order to build this simple example on Windows, I needed to:
1) Install chocolatey
2) Install bazel
3) Install pacman
4) Download gcc using pacman
5) Change som

[2016-12-22 11:33] markroxor commented on #3479
@sungjin712
open `third_party/gpus/crosstool/CROSSTOOL` from the root dir and add this line `cxx_builtin_include_directory: "/usr/local/cuda-8.0/include"` next to other `cxx_builtin_include_directory: "xx"` lines.

[2016-12-22 13:09] lukeiwanski commented on #6449
Hello @k-hashimoto,
Currently, unfortunately no, you cannot use ComputeCpp on macOS.
As of today, SPIR 1.2 ( https://www.khronos.org/spir ) support is essential for ComputeCpp to work on any platform and it boils down to Apple not providing SPIR 1.2 support yet.

macOS support is definitely an important milestone on our roadmap - a lot of developers are asking for it - and the support should be av

[2016-12-22 14:22] k-hashimoto commented on #6449
OK. Thanks!

[2016-12-22 15:27] sharod commented on #6432
gunan I hwas having the same problem as xusong2008 . I replaced tf.contrib.rnn.BasicLSTMCell by tf.nn.rnn_cell. BasicLSTMCell as you said but now a new error is being shown:

Traceback (most recent call last):
  File "ptb_word_lm.py", line 362, in <module>
    tf.app.run()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 30, in run
    sys.exit(main(sys.argv[

[2016-12-22 15:49] sharod opened #6458 "BasicLSTMCell problem"
In the ptb_rnn_lm.py I have replaced tf.contrib.rnn.BasicLSTMCell by tf.nn.rnn_cell.BasicLSTMCell as suggested in [https://github.com/tensorflow/tensorflow/issues/6432](url) but now a new error is being shown:

Traceback (most recent call last):
File "ptb_word_lm.py", line 362, in
tf.app.run()
File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 30, in run
sys.exit

[2016-12-22 16:01] bhack commented on #6449
@lukeiwanski What do you think to rely on something similar to SPIR-V MSL translability https://github.com/KhronosGroup/SPIRV-Cross/blob/master/README.md?

[2016-12-22 16:10] dgmackay opened #6459 "cuda autoconf issues for cuda rpm install"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-12-22 17:24] gmazzamuto commented on #4521
Hi all,
I have a very similar problem. This MWE fails with a floating point exception only when `w_size = 16`:
[code]
Tested with TensorFlow 0.12.0, CUDA 8.0.44, cuDNN 5.1 on the following systems:
* Ubuntu 16.04.1 LTS, Tesla K40c, driver version 375.20
* Ubuntu 14.04.5 LTS, GeForce GTX 980, driver version 367.57

[2016-12-22 17:46] yaroslavvb commented on #6457
Inspect is a system module used by TF's `remove_undocumented` to dynamically modify visible members, and on Anaconda 3.5 Python I also get this error because `~` is the first entry on sys.path, so anything you put there will shadow system modules of the same name. One work-around is to move the ~ path to the end of `sys.path`, ie

[code]

Below is original stack trace.
[code]

[2016-12-22 17:51] yaroslavvb commented on #5468
dup of https://github.com/tensorflow/tensorflow/issues/4589

[2016-12-22 17:55] Randl commented on #4589
Still no updates on this one?

[2016-12-22 17:58] noahajohn commented on #6184
Side question: any idea what's causing the warning:
**WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.**

Is there a way to prevent this and/or can it be ignored?

[2016-12-22 18:03] andrewharp commented on #5553
I've updated ReadFileToProtoOrDie internally to help it live up to the latter part of its name in the case of pb files not being found. Also added a check that the resulting GraphDef has > 0 nodes to catch anything else slipping through. Should be getting pushed to GitHub soon, so hopefully that will help discriminate between loading errors and actual TF issues.

[2016-12-22 18:10] vrv commented on #6457
Closing since this seems python-related and not specific to TF.

[2016-12-22 18:10] #6457 closed

[2016-12-22 18:13] vrv commented on #6455
This is a question better suited to stack overflow, please post it there and tag it with 'tensorflow'

Also, GatherNd does have a gradient as of November 2nd (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/array_grad.py#L355)  so you're probably using an older version of TensorFlow

[2016-12-22 18:13] #6455 closed

[2016-12-22 18:14] Bobrosoft98 opened #6460 "Slow Adam sparse updates in distributed TF"
I am trying to train a model with the **tf.nn.embedding_lookup_sparse** operation. Small example: https://gist.github.com/Bobrosoft98/2d639d3924dfbc4ec7bc620fd5a4d480

When I run this code with NUM_WORKERS = 1, the output is as follows

[code]

However, when I increase the number of workers to 30, every single process works more than 30 times slower:

[code]

The CPU load is only ~50%, so there is

[2016-12-22 18:20] mpooleery commented on #6411
Ok, this was resolved.  The only thing I had to do was to upgrade the distribute module - "pip install --upgrade distribute".

[2016-12-22 18:20] #6411 closed

[2016-12-22 18:50] mrry commented on #6251
An update on this issue: we have not been able to reproduce the crash. Since CentOS 6.3 is not a supported configuration, and it appears that the failure is happening inside standard library code, it is possible that there is some incompatibility between the pre-built binaries and either your libc or your kernel.

Since we cannot easily reproduce the failure, I'm throwing open this issue to Commun

[2016-12-22 19:00] cshapeshifter commented on #550
I have the same problem; haven't found a solution yet. I opened a bug report in tensorflow/models where this example code now resides: https://github.com/tensorflow/models/issues/771

[2016-12-22 19:27] #6191 closed

[2016-12-22 19:55] #6432 closed

[2016-12-22 19:55] gunan commented on #6432
Looks like your is a breakage in one of the models in our models repository.
COuld you file an issue in tensorflow/models repository for a fix for that?

[2016-12-22 19:57] gunan commented on #6458
As stated in #6432 yours seems to be an issue with `ptb_word_lm.py`

Please, next time include clearer reproduction instructions, as we cannot help anything we cannot reproduce.

@nealwu could you take a look at this, I tink you recently moved this model?

[2016-12-22 20:49] robksawyer commented on #890
I keep getting the following even after using the protobuf upgrade mentioned above. Any ideas?

I'm on El Capitan 10.12.1 using Python 2.7.12

[code]

[2016-12-22 20:55] ahundt commented on #6448
I agree this was nice to be able to have one page to search around, but they may not think this would scale as the TensorFlow API grows.

I also just can't help acknowledging that, at some level, this is a complaint about having to Google that's being delivered to Google. :-)

[2016-12-22 21:21] gunan commented on #6459
We only have official support for ubuntu linux distribution.
If you, or anyone else would like to contribute fixes/improvements, we will be happy to review and accept.

[2016-12-22 21:36] hadsed commented on #5343
Perhaps you need to make a symbolic link from `/usr/local/cuda` to `/usr/local/cuda-8.0`? That seemed to fix the issue for me

[2016-12-22 21:44] aselle commented on #6454
Did @yaroslavvb's referring issue solve your problem. If so, I will close this as a dupe of that one.

[2016-12-22 21:47] aselle commented on #6357
There have been ports to Rasberry PI's that run full Linux stacks see https://github.com/samjabrahams/tensorflow-on-raspberry-pi/blob/master/GUIDE.md

However, I am not aware of any ports to MCUs that run RTOS' or bare metal. There may be some features in the soon to be released XLA that help deploy individual inference routines derived from TensorFlow.

@petewarden, do you have anything else to a

[2016-12-22 21:49] aselle commented on #6363
@wolffg and @martinwicke, is there a good place on devsite for adding these?

[2016-12-22 21:53] aselle commented on #6365
I'm not sure if mod in models is well-defined enough to know what the gradient should be in all cases. The angle case makes sense, but lots of uses of mod (binning, etc) are inherently discontinuous, certainly with integers. @girving, do you think we should provide a default mod gradient, or just let people override them appropriately for their application when they see this error?

[2016-12-22 22:03] andrewharp commented on #6385
Unfortunately Bazel doesn't support Android on Windows yet.

However we do have cmake support in [tensorflow/contrib/android/cmake](https://cs.corp.google.com/piper///depot/google3/third_party/tensorflow/contrib/android/cmake/) that should let you build the library necessary for simple Android inference on Windows (this excludes some native code created specifically for the demo). Full demo suppor

[2016-12-22 22:07] lukaszkaiser commented on #6007
I think there are 2 good ways to structure TF models.

* The functional / scoping way. Everything is a function, create variables inside (don't worry about creating them beforehand). I use this a lot for research as it makes it super-easy to just put a new layer here and there. It is the basis of [tensorflow-slim](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/slim) and th

[2016-12-22 23:13] Leomund commented on #37
+1

[2016-12-22 23:59] wolffg commented on #6389
This is now fixed.  Thanks for pointing it out.

[2016-12-22 23:59] #6389 closed

[2016-12-22 23:59] wolffg commented on #6392
This is now fixed.  Thanks for pointing it out.

[2016-12-22 23:59] #6392 closed

[2016-12-23 00:00] jhseu commented on #6402
Fixed now.

[2016-12-23 00:00] gunan commented on #4571
Documentation is now updated.

[2016-12-23 00:00] #4571 closed

[2016-12-23 00:01] wolffg commented on #4444
I removed all the leading % and # (which I was using to indicated whether you were in or not in Docker).

[2016-12-23 00:01] #4444 closed

[2016-12-23 00:03] wolffg commented on #6404
Part 1 of this issue has been fixed.

[2016-12-23 01:07] StrangeTcy commented on #4030
After having experienced similar issues with `bazel build`ing for several frustrating days, I've decided to look for already existing wheels too; so thanks for those.

[2016-12-23 01:11] tornadomeet commented on #5537
@yaroslavvb  thanks.  it indeed work, but is not succinct enough, we need set it everytime.
i just put `export TF_CPP_MIN_LOG_LEVEL=3``` in my env, but why it does't work?

[2016-12-23 01:52] Carmezim commented on #6389
@wolffg Awesome. No problem!

[2016-12-23 02:33] robotnc opened #6466 "CudnnLSTM dropout takes no effect"
My environment is: Tensorflow 0.11.0rc2, in unbuntu 16.04, cuda8.0, cudnn5.1, GPU is GTX1080.

I am using the CudnnLSTM from tensorflow.contrib.cudnn_rnn package. I found that the dropout setting in CudnnLSTM seems take no effect, and I checked that there is no test for dropout in op unit test. So I write a simple code to test it, the code is below:

    import tensorflow as tf
    from tensorflow

[2016-12-23 03:08] stackOverMind commented on #37
I am looking forward to see a official Node.js API.But I think there are some problems.
1. JavaScript have only 1 thread ,trainning  can block the whole process unless using callbacks or  other tricks.
2. lack of other science labs, like numpy
3. JavaScript only support 53bit precision.

anyway, JavaScript is awesome!

[2016-12-23 04:56] caisq commented on #4030
The Mac GPU pip wheels of the latest release (0.12.0) are built with CUDA 8.0and CUDNN 5.1.

See: https://www.tensorflow.org/get_started/os_setup

# Mac OS X, GPU enabled, Python 2.7:
$ export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/mac/gpu/tensorflow_gpu-0.12.0-py2-none-any.whl

# Mac OS X, GPU enabled, Python 3.4 or 3.5:
$ export TF_BINARY_URL=https://storage.googleapis.com/tenso

[2016-12-23 05:34] sharod opened #6468 "AttributeError: 'module' object has no attribute 'legacy_seq2seq'"
I am running the ptb_rnn_lm.py. The tensorflow version is 0.12. The error is occurring in the line:

loss = tf.contrib.legacy_seq2seq.sequence_loss_by_example(
        [logits],
        [tf.reshape(input_.targets, [-1])],
        [tf.ones([batch_size * num_steps], dtype=data_type())])

The entire error log is:

Traceback (most recent call last):
  File "ptb_word_lm.py", line 364, in <module>
    t

[2016-12-23 06:01] sharod commented on #6458
Ok, I solved this problem. I had changed something in the code and had mistyped a few things. Thanks for the quick help.

[2016-12-23 06:01] #6458 closed

[2016-12-23 06:04] sharod commented on #6468
I even downloaded and manually copied the legacy_sec2sec folder into the contrib folder. Unfortunately this didnt work either. Pls help !!

[2016-12-23 07:00] sharod opened #6469 "ptb_rnn_lm.py error:tensorflow.python.framework.errors.InvalidArgumentError: logits and labels must have the same first dimension, got logits shape [400,10000] and labels shape [420]"
Getting the error:
tensorflow.python.framework.errors.InvalidArgumentError: logits and labels must have the same first dimension, got logits shape [400,10000] and labels shape [420]

The code is available here:
[http://pastebin.com/FM6M43w7](http://pastebin.com/FM6M43w7)

I am giving the full error log here:

Traceback (most recent call last):
  File "ptb_word_lm.py", line 364, in <module>
    tf.

[2016-12-23 07:25] gunan commented on #1277
Looks like this was resolved?
Closing the issue.

[2016-12-23 07:25] #1277 closed

[2016-12-23 07:39] langzhining opened #6470 "how to use two optimizer in one model"
I want to build a model that can use different optimizers to train different parts, just like the tf.contrib.learn.DNNLinearCombinedClassifier(), what should I do?
thanks

[2016-12-23 07:57] zhiweifang commented on #6440
I got the same problem and have no idea.
And I can not find legacy_seq2sec in API r0.12. Is this api removed?

[2016-12-23 08:52] beniroquai commented on #5297
I have the same issue on Mac OSX El-Capitan when building `tensorflow/contrib/makefile/build_all_android.sh`

Also tried the steps above.. Any update on this? Thanks!

[2016-12-23 09:09] silverlining21 opened #6471 "how to custom learning rate decay policy ?"
as it shown in the learning rate deay **[API doc](https://www.tensorflow.org/api_docs/python/train/decaying_the_learning_rate)** , there are only 4 kinds of policies. but in caffe  policies are as follows:

1.   //    - fixed: always return base_lr.
2.   //    - step: return base_lr * gamma ^ (floor(iter / step))
3.   //    - exp: return base_lr * gamma ^ iter
4.   //    - inv: return base_lr * (1

[2016-12-23 09:28] agnusmaximus opened #6472 "Timeout does not work with session created with server"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem? None

### Environment info
Operating System: Ubuntu

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`): CPU only

If installed from source, provide

1. The commit hash (`git rev-parse HEAD`)

c32663d119a4cbd9d4926d4eed2a0705f03a57f9

2. Th

[2016-12-23 10:37] MircoT opened #6473 "Errors_impl - NotFoundError - stringpiece"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

None.

### Environment info
Operating System: Ubuntu 16.04.1 LTS

Installed version of CUDA and cuDNN: None

Binary pip package info:

1. A link to the pip package you installed: https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.12.0rc0-cp35-cp35m-linux_x86_64.whl
2. The ou

[2016-12-23 11:21] sharod commented on #6468
I have worked this out. I am using tf.nn.seq2seq.sequence_loss_by_example.This is working.

[2016-12-23 11:22] mlad3n commented on #6468
I had the same problem, followed the help for modules and found this function:

loss = tf.contrib.seq2seq.loss.seq2seq_loss

but now I get this because it returns Nan:

Traceback (most recent call last):
  File "/Users/mladenman/machine_translation2/0_basic/03_rnn/ptb_word_lm.py", line 363, in <module>
    tf.app.run()
  File "/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-pa

[2016-12-23 11:51] sharod commented on #6468
It seemed like its working but it may not. Getting a new error, which may be connected to this change:

raceback (most recent call last):
File "ptb_word_lm.py", line 364, in
tf.app.run()
File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 30, in run
sys.exit(main(sys.argv[:1] + flags_passthrough))
File "ptb_word_lm.py", line 350, in main
verbose=True)
File "ptb_wo

[2016-12-23 12:18] mlad3n commented on #6468
I had the same problem as you, applied your change and now it works fine, so I don't think its about that line(model is still training i will update when it finishes)

[2016-12-23 12:26] sharod commented on #6468
mlad3n I am sharing my code please please take a look:

[http://pastebin.com/FM6M43w7](http://pastebin.com/FM6M43w7)

The error is as I stated above. I am new to tensorflow.

[2016-12-23 13:11] TimZaman opened #6474 "Change draw_bounding_box() label input to allow different number of inter-batch boxes."
This is a question or feature request regarding the following function
`tf.image.draw_bounding_boxes(images, boxes, name=None)`
### Current
The required bounding-box format is as follows:
`[batch, num_bounding_boxes, 4]`, in which the labels are in `[y_min, x_min, y_max, x_max]` format.
If i understand correctly, this assumes that every image has the same number of bounding boxes.
### Suggestion
D

[2016-12-23 13:13] liuhyCV commented on #734
@joaanna have you solve your problem? I have the same error with you

[2016-12-23 13:19] hellolovetiger opened #6475 "Training with local variables is very slow in distributed tf"
I used local variables on worker tasks in a distributed RNN training. Every update go through 3 steps: 1) assign local variables on each worker with PS variables 2) training local variables in several loops/batches, and accumulate the gradients from each loop 3) apply the accumulated gradients to the PS variables. The first and second step is very slow: for step 1, it takes about 12 seconds; for s

[2016-12-23 14:23] napjon commented on #6345
@danyz91 : I don't understand. The link that you gave shows that `concat` function is deprecated and it's encouraged for us to use `concat_v2`. So which one should we use in the long run?

cc @aselle

[2016-12-23 14:42] sirinath opened #6476 "Data Structures for Time Series, Vectorized Time Series and real time data processing"
There are times you want a tensor to be circular along a dimension so new data can be efficiently and quickly appended along this dimension.

[2016-12-23 14:46] sirinath opened #6477 "Sub Matrices, Partitioned Matrices and composite matrices through view on undeling data"
There are times you want to address portions of a vector or matrix separately and also combine matrices and vectors to form new matrices. Essentially these matrices would be  view on the original data.

E.g.

Concatenate 2 matrices to create a view
Sub current matrix into smaller n * n matrices returning view on the sub matrices

[2016-12-23 14:52] groakat commented on #722
Same here. Using tensorflow 0.12 and master (self-compiled from git and the release .whl from the tensorflow installation guide), I get this error when trying to use inceptionv3 after putting it through [optimize_for_inference.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/optimize_for_inference.py).

It can be worked-around, however, by using [0.12rc1](https://ci

[2016-12-23 14:59] mlad3n commented on #6468
My code:
http://pastebin.com/6BSp8qhX

I'm running it with python 3.5

[2016-12-23 15:16] PhoenixDai opened #6478 "t.eval() built with slim outputs wrong predictions when input batch contains identical images"
When evaluating a model built with slim on a batch that contains identical images, the output of the batch will be wrong (mostly the outputs will be the most frequent label). For example, if my evaluation set has 421 images and my batch size is 40, I filled the last batch with 19 identical images (the 421st one) to avoid tensor shape mismatch error. Then,  the output for the 21st to the 40th image

[2016-12-23 15:27] PhoenixDai commented on #6470
I think this kind question might be better to be asked on stackoverflow.com but anyway I think something like this should work:

`_, l1 = sess.run([optim1, loss1], feed_dict={input:batch_input})`
`_, l2 = sess.run([optim2, loss2], feed_dict={input:batch_input})`

[2016-12-23 16:38] laurel2935 commented on #1390
I also met a similar error, but it was cause by my own fault.
for my case, I defined the LSTM within a function (within a class), say
---
def prediction(self):
  some codes..
  lstm_cell = tf.nn.rnn_cell.LSTMCell(self.size_inner_vector)
  lstm_cell = tf.nn.rnn_cell.DropoutWrapper(lstm_cell, output_keep_prob=self.dropout)
  lstm_stack = tf.nn.rnn_cell.MultiRNNCell([lstm_cell] * self.num_hiddden_lay

[2016-12-23 16:59] yaroslavvb commented on #6475
How big are your local variables? There's some slowness in current version if they are too big -- https://github.com/tensorflow/tensorflow/issues/6116 . Also, what does your `session.run` looks like? If you do something like `sess.run(assign_op)` then you are fetching result to Python which can be slow (https://github.com/tensorflow/tensorflow/issues/6256), the solution is to do `sess.run(assign_o

[2016-12-23 17:35] rohitgirdhar commented on #4882
@frenchwr Did you then ultimately end up compiling TF without the c99 flag? I am facing the exact same issue, but if I compile without the c99 flag, I get the following error:
[code]

And if I use the c99 flag, I get the same error as mentioned earlier
[code]
Any ideas on how to get around this?

[2016-12-23 17:54] Garoe opened #6479 "Bash argument completion for tensorboard"
It be nice to have autocompletion for the tensorboard arguments.
I experimented a bit https://github.com/Garoe/tensorflow/commit/3c217767cd47560c776232207a05b08b6f2cb166 with the [argcomplete](https://argcomplete.readthedocs.io/en/latest/), however the completion is too sluggish to be useful.
The entry point for the completion is after the flags are defined and the slugginesh is due to too much st

[2016-12-23 18:37] yaroslavvb commented on #6402
BTW, running `python setup.py develop` on 0.12 tag fails with the following

[code]
Workaround it to install `protobuf-3.1.0-py2.py3-none-any.whl` manually:
`pip install --upgrade https://pypi.python.org/packages/b2/30/ab593c6ae73b45a5ef0b0af24908e8aec27f79efcda2e64a3df7af0b92a2/protobuf-3.1.0-py2.py3-none-any.whl#md5=f02742e46128f1e0655b44c33d8c9718
`

[2016-12-23 22:22] beniroquai commented on #6401
Maybe the way I calculate the result is inappropriate. The dynamic range of the FFT is quiet big. So adding all the tiny and large values maybe results into this error on the GPU?
I just ported a python code to Tensorflow and the numerical results are completely wrong. I'm still searching for the error and I was taking the numerical precision into account, but maybe it's also another problem. Than

[2016-12-23 23:36] StrangeTcy commented on #4030
The link @caisq provided ( [tensorflow install]( https://www.tensorflow.org/get_started/os_setup) now has instructions on installing binaries, so I think the issues is resolved and thus should be closed.

[2016-12-24 01:37] RichDubielzig commented on #4359
Thank you all for your help.  I asked this question to Vijay in an email, but I think I'd like to post it here too.

---------

I've been trying to understand how backpropagation is implemented in tensorflow models.  I'm just asking you to let me know if I have any major misunderstandings about the nature of TensorFlow here.  Thank you again for your efforts to help me out.

I'm basing this interp

[2016-12-24 01:53] StrangeTcy commented on #4393
The same error occured on tensorflow r0.10 with `/models/image/mnist/convolutional.py`. Changing `f.Size()` to `f.size()` solved it for me.

[2016-12-24 02:55] m15i commented on #4175
Still getting this error. In r0.12, the original is not as above, but is:

`  pred_is_pos = math_ops.greater(
      array_ops.tile(array_ops.transpose(predictions_2d), [num_thresholds, 1]),
      thresh_tiled)
  pred_is_neg = math_ops.logical_not(pred_is_pos)`

[2016-12-24 05:11] gunan commented on #6402
Ah, you are right.
The reason is, pypi only has 3.1.0post1, or 3.0.0
https://pypi.python.org/pypi/protobuf
@jhseu Which one makes more sense for us to depend on?

[2016-12-24 05:19] jhseu commented on #6402
It'll work if you patch in 0b133f0cec50636c67174441be70188625a5f474. Perhaps add that to the r0.12 branch, but don't cut a release? It'll help users like @yaroslavvb who build on their own.

[2016-12-24 05:24] jhseu commented on #6402
Or we can do a patch release. Just might not be worth the effort given the timing with the next release.

[2016-12-24 07:42] suryabhupa opened #6483 "Please update seq2seq tutorial on the Tensorflow website"
It seems like the seq2seq.py library has been deprecated, and it would be nice to know where the new code, and if the tutorial could point to it.

[2016-12-24 08:58] gunan commented on #6402
@yifeif @martinwicke
This affects 0.12.
This breaks `pip install tensorflow` command in a clean system.
Should we patch and roll out 0.12.1 ?

[2016-12-24 08:58] #6442 closed

[2016-12-24 10:36] martinwicke commented on #6402
Sigh. I suppose we should.

Should we also take the opportunity to rethink how we do pip tests? This
should have been caught by those ideally.

[2016-12-24 12:11] LLLLKKKK opened #6484 "Some of tensorflow GPU OpKernel compute by eigen device without stream sync, is that correct?"
from gpu_device.cc

[code]

and gpu_device only waits when there are different contexts. (sync_every_op is false)

But take argmax_op.h  for example,

    template <typename Device, typename T>
    struct ArgMin {
    #define DECLARE_COMPUTE_SPEC(Dims)                                     \
    EIGEN_ALWAYS_INLINE static void Reduce##Dims(                        \
    const Device& d, typename TTyp

[2016-12-24 13:26] mariolew commented on #5882
I also ran into that problem. Like mrry said, I'm running two process on one GPU, since we have only one GPU and we think the GPU memory is enough for two process. When we ran two process on one GPU using caffe, no such problem happens. Could you please offer some suggestions?@mrry

[2016-12-24 14:32] jessyuan24 commented on #6331
I have same error, how to solve this problem without homebrew.

[2016-12-24 16:26] yaroslavvb commented on #5882
@mariolew the first TF process tries to allocate all of GPU memory did you try solution here? -- http://stackoverflow.com/questions/34199233/how-to-prevent-tensorflow-from-allocating-the-totality-of-a-gpu-memory

[2016-12-24 17:12] kovek commented on #4187
@gunan 's comment helped me!

I've been reading about this issue and possible fixes for it for a bit now.

People have success with

    sudo ln -s /usr/local/cuda/lib/libcuda.dylib /usr/local/cuda/lib/libcuda.1.dylib

and with setting

    export DYLD_LIBRARY_PATH="/Developer/NVIDIA/CUDA-8.0/lib:/usr/local/cuda/lib"

----

However. In my case, these two did not help solve the issue fully. I **als

[2016-12-24 18:03] sharod commented on #6468
I tried it on python 2.7. I just changed the concat_v2 to concat, with the order of arguments changed as suggested [here](https://github.com/tensorflow/tensorflow/issues/6345). But the same issue I told before is coming up. Canu pls share ur reader.py code too? As the reader.py I had didnt contain ptb_producer. I manually added that function in my code. It would be a big help if u share the reader

[2016-12-24 18:36] KhabarlakKonstantin opened #6486 "Windows: cannot compile using cmake 3.7.1 generator"
Hello

If I use cmake 3.7.1 generator, I cannot compile tensorflow on Windows with Visual Studio
I get the following error message during tf_core_gpu_kernels project:

`nvcc fatal   : Stray '"' character
30>
30>  CMake Error at tf_core_gpu_kernels_generated_adjust_contrast_op_gpu.cu.cc.obj.Release.cmake:222 (message):
30>    Error generating
30>    C:/libs/tensorflow/tensorflow/contrib/cmake/build

[2016-12-24 19:29] comicchang commented on #6331
@jessyuan24

Homebrew is the best way. Otherwise You can try
Virtualenv

If you want to use the macos python, maybe you need to disable SIP and use 'sudo pip install'

[2016-12-24 21:15] aselle commented on #6401
You might try computing the infinity norm of the concatenated vector (reshaped to 1d)... i.e. take the differences of the two results per element, and then you can take the maxabs over all the elements. That's a much better measure of if the results are similar and avoids numeric precision loss. Summing arbitrary magnitude numbers in arbitrary orders will not give you an accurate sum (you'd need t

[2016-12-24 21:17] aselle commented on #6345
In the short-term (before 1.0 final happens) concat_v2 will be the function to use. Once 1.0 final happens, concat_v2() will be renamed to concat() and then what used to be concat() will cease to exist.

[2016-12-24 21:22] DollarAkshay commented on #6233
I have the exact same problem. Everything loads except `libcuda.so.1`

`Couldn't open CUDA library libcuda.so.1. LD_LIBRARY_PATH: $LD_LIBRARY_PATH:/usr/local/cuda/lib64:/usr/local/cuda/lib64`

I did notice that the file was missing in that path which is absurd cause i literally purged all Nvidia and CUDA stuff and did a fresh deb(network) install for Ubuntu 64-bit 16.04. I looked into `/usr/lib/x8

[2016-12-24 22:22] galharth opened #6487 "Errors when trying to build label_image neural net with bazel"
### Environment info
Operating System: El Capitan, 10.11.1

I'm doing this tutorial: https://petewarden.com/2016/09/27/tensorflow-for-mobile-poets/
Trying to classify images using tensorflow on iOS app.
When I try to build my net using bazel:
`bazel build tensorflow/examples/label_image:label_image
`

I get these errors:
https://gist.github.com/galharth/36b8f6eeb12f847ab120b2642083a732

[2016-12-24 23:15] shakacs opened #6489 "Error when trying to run lstm example of ptb"
I was stuck at here when trying to run ptb_word_lm under ubuntu 16 and tensorflow master branch. Any advice would be very much appreciated.

The exception said:
Epoch: 1 Learning rate: 1.000
Traceback (most recent call last):
  File "/home/****/.local/lib/python3.5/site-packages/tensorflow/python/training/supervisor.py", line 964, in managed_session
    yield sess
  File "ptb_word_lm.py", line 357

[2016-12-25 00:58] napjon commented on #6345
@aselle: Got it, thank you for the explanation!

[2016-12-25 01:31] Carmezim commented on #6486
To build TensorFlow from source using CMake as the [pre-requisites specify](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/README.md#pre-requisites) you need versions 3.5 up to 3.6.

[2016-12-25 03:28] gunan commented on #4187
OK, then I will close this issue.
Please reopen if you still run into it.

[2016-12-25 03:28] #4187 closed

[2016-12-25 03:31] gunan commented on #6331
Because of System integrity protection, I think only way to install software on macOS natively is through the appstore.

So, as @comicchang suggested, your options are:
1-disable SIP (the instructions are easy to find with a google search) then sudo pip install
2-use virtualenv
3-use homebrew.

@zshareef did running `brew link python` help resolve your problem?

[2016-12-25 03:38] gunan commented on #6233
in my system, it is under:
`/usr/lib/x86_64-linux-gnu/` and it points to `libcuda.so.370.28`. `370.28` comes from my driver version.
When you use APT to install cuda, libcuda ends up here.

Also:
[code]

I see that your LD_LIBRARY_PATH has two paths that are exactly the same. maybe thats the problem?

[2016-12-25 03:50] mariolew commented on #5882
@yaroslavvb Yeah, I've tried this. But when we ran two processes, it's easy to get stuck for 5~6 hours and then it start working for a few minutes and then stuck again. The Volatile GPU-util is 0 when stucking.

[2016-12-25 05:22] tesfaldet commented on #6095
Is there any way to convert the range to between 0 and 2*pi? I'm trying to mimic opencv's cartToPolar method this way, however, I'm having trouble finding a way to modify elements in a tensor (on a placeholder, so I can't use scatter update) based off of a condition i.e. where angle < 0, add 2*pi.

[2016-12-25 05:28] sharod commented on #4697
Same problem here YananLiu. Someone pls help !!

[2016-12-25 06:47] ethereon opened #6490 "Weird concat_v2 behavior with negative axis"
This:
[code]

Produces:

[code]

Tested on tensorflow version `0.12.0`

[2016-12-25 07:14] shakacs commented on #6489
ok，i figured out that it seems the data was not imported correctly due to the misuse of zip function in _build_vocab of reader.py under python 3.5. But after i fixed the problem, the program throwed another exception said: logits and labels must have the same first dimension, got logits shape [400,10000] and labels shape [420]....

[2016-12-25 07:26] shakacs commented on #6468
i tried mlad3n's code on python 3.5, the same exception of mismatched shape occured as sharod, i used the reader.py as given in the master branch.

[2016-12-25 08:18] gunan commented on #6402
This is actually something we do not have a test for, and should be simple to test (But a non hermetic test I hate writing).
We have to check pypi for the dependencies we have. Without our tests contacting pypi, we cannot really catch this issue.

[2016-12-25 08:57] gunan commented on #6486
Correct. the failures with 3.7.1 are known, and unfortunately we have no workaround apart from downgrading cmake.

[2016-12-25 08:57] #6486 closed

[2016-12-25 09:50] martinwicke commented on #6402
I think of this as a release test not an integration test so I'm not too
concerned about hermeticity.

[2016-12-25 09:54] finlay-liu commented on #3208
I meet this bug too, it seems about the tf.Variable, you can try it with  tf.Variable(0, trainable = False)

[2016-12-25 10:08] npfp commented on #6007
Thx, it definitely  helps. I appreciate!

[2016-12-25 11:23] shakacs commented on #6489
finally, the problem has been fixed. the point is i changed strided_slice into sclice in ready.py.add an stride just fix the problem.

[2016-12-25 11:25] shakacs commented on #6468
try change slice back into strided_slice would fix the problem.

[2016-12-25 14:19] shashank879 opened #6492 "Error performing lstm using BasicLSTMCell in v0.12.0"
Hey Guys, I have v0.12.0 installed on my system and I'm facing some issue while running a simple LSTM. While trying to get it to work I have even reduced my code to the examples at https://www.tensorflow.org/tutorials/recurrent/, but still facing the same issue. I'm attaching snippets from my code and the error log. The "lstm" function takes input from a convolving function that produces latent re

[2016-12-25 16:30] LLLLKKKK commented on #6484
sorry, I miss something in code. cuda stream is passed to eigen device

[2016-12-25 16:30] #6484 closed

[2016-12-25 16:45] raviqqe commented on #4814
How about just saving and reloading models every epoch? All local variables will be reset. Because 1 epoch is generally long, it should not cost much.

[2016-12-25 17:41] artcg commented on #6490
Nice festive example! Probably concat_v2 should follow the convention in numpy wherein the negative axis wraps around the dimensions

[2016-12-25 21:39] dylib commented on #22
After reading through all this I'm guessing there's no solid solution yet for using OpenCL on macOS/OS X? I tried to compile Tensorflow C++ ( which I assume requires ComputeCpp for SYCL 1.2 as someone pointed out ) with OpenCL support.

I looked around and couldn't seem to locate where to download, compile or build the SYCL library. Is it here https://www.codeplay.com/ ? I'm unsure really how to p

[2016-12-25 22:20] gunan commented on #6419
Looks like this is an issue with pip installation:
https://github.com/pypa/pip/issues/1117

[2016-12-25 22:34] tesfaldet commented on #6095
For what it's worth, I managed to implement two versions of atan2. One that follows the opencv style (returns degrees), and another that uses tensorflow's atan function (returns rads).

`def atan2(y, x):
    angle = tf.select(tf.greater(x, 0.0), tf.atan(y / x), tf.zeros_like(x))
    angle = tf.select(tf.greater(y, 0.0), 0.5 * np.pi - tf.atan(x / y), angle)
    angle = tf.select(tf.less(y, 0.0), -0

[2016-12-25 22:40] tesfaldet commented on #6095
Oh, and if anyone's coming here to look for an atan2 function for their own flow visualization function, here's what I made (I know this isn't the point of this issue!):

[code]

[2016-12-26 01:09] b0noI opened #6493 "The "training/saver" is raising an exception when saving data to the regional Google Cloud bucket"
The current version of the TensorFlow that is used with Google Cloud ML (my guessing is TF 0.12) is not working when I'm using the regional bucket as a training source. Detailed step by step reproducing tutorial can be found here: https://blog.kovalevskyi.com/how-to-train-a-chatbot-with-the-tensorflow-and-google-cloud-ml-3a5617289032#.dq3xzjm3h  in order to reproduce the issue you just need to cre

[2016-12-26 01:50] inflation commented on #22
@dylib As far as I know that there is still not a ComputeCpp for macOS. So that means OpenCL for macOS is not ready.

[2016-12-26 02:15] zhangpao17 commented on #1642
@jf-rce   whice file to add the build configure ???
APP_OPTIM := release
APP_CFLAGS += -O3
LOCAL_LDFLAGS += -flto

[2016-12-26 02:17] jessyuan24 commented on #6331
@comicchang Thank you so much. it works. But I have some problem didn't understand.

[2016-12-26 03:17] #6331 closed

[2016-12-26 04:35] eraoul opened #6495 "Docker doesn't support GPU for mac OS (doc clarification request)"
The docs present instructions for installing via Docker on MacOS. GPU support isn't mentioned explicitly, but it seems that GPU (nvidia-docker) can't be supported for MacOS. See here:
https://github.com/NVIDIA/nvidia-docker/issues/175

If I'm right that GPU is a no-go for Docker on Mac OS, I'd like to see this up-front in the documentation (e.g., write "GPU support not possible on MacOS X in Docke

[2016-12-26 05:08] milinddeore opened #6496 "tensorflow + opencv webcam hangs"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
Yes posted on stackoverflow but no help and believe this is an issue to report: http://stackoverflow.com/questions/41276085/tensorflow-opencv-webcam-hangs

### Environment info
Operating System: Environment: MAC machine, running my code inside virtual machine with guest OS: Ubuntu 14.4 LTS

[2016-12-26 07:24] inferrna opened #6497 "OpenCL isn't working"
TF is configured with OpenCL
[code]

ComputeCpp is also present
[code]

I also has OpenCL
[code]

But it seems that TF don't see any OpenCL device in my system.
[code]

[2016-12-26 07:28] inferrna commented on #22
Still can't make it working on Ubuntu 16.04 with AMD card and catalyst driver https://github.com/tensorflow/tensorflow/issues/6497. Is there any howto?

[2016-12-26 09:10] hellolovetiger commented on #6475
Yes, my variables are very big, totally larger than 400MB. `sess.run(assign_op.op)` solved my problem. Thanks a lot.

[2016-12-26 09:58] danbarnes333 commented on #2531
I have the same problem and have had to resort to explicitly writing out two different graphs (explicitly replacing the use of tf.cond).

Has anyone had any luck using a graph containing tf.cond in c++ and not getting the error
`... was passed float from ... incompatible with expected float_ref.`?

[2016-12-26 10:13] abhishekmm opened #6499 "how test a model made tensorflow and python following the code"
[code]

C:\Users\ABC\Desktop\DemoTensarflow>cmd
Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\Users\ABC\Desktop\DemoTensarflow>python ReadTF_mod.py train.csv
WARNING:tensorflow:From ReadTF_mod.py:124 in <module>.: initialize_all_variables
 (from tensorflow.python.ops.variables) is deprecated and will be removed after
2017-03-02.
Instructio

[2016-12-26 10:59] kishorenayar opened #6500 "Issue with Tensorflow on windows when using TensorForestEstimator"
I already have conda installation in my Windows, I installed tensorflow using pip and it was working fine based on the testing the [tensorflow installation](https://www.tensorflow.org/get_started/os_setup#test_the_tensorflow_installation).

When I'm using TensorForestEstimator, I',m getting the following error
**lib\site-packages\tensorflow\contrib\tensor_forest\python\ops\_training_ops.so not fou

[2016-12-26 11:18] KeithYin opened #6501 "Issue with tf v0.12.0 when using split"
the code run correctly with tf 0.12rc1.0, but when using 0.12.0, an error occured.
here is the log.
I tensorflow/stream_executor/dso_loader.cc:125] successfully opened CUDA library libcublas.so.8.0 locally
I tensorflow/stream_executor/dso_loader.cc:125] successfully opened CUDA library libcudnn.so.5 locally
I tensorflow/stream_executor/dso_loader.cc:125] successfully opened CUDA library libcufft.s

[2016-12-26 11:24] bhack commented on #70
A partialy correlated coming soon https://www.tensorflow.org/versions/master/resources/xla_prerelease

[2016-12-26 13:54] s4sarath opened #6502 "Insert rows ( arrays ) into a tensor at specific index , and index keeps on changing with batch of data"
I have function , to which I have to pass a dynamic list of values and dynamic batch size, along with feed dict in Tensorflow. The tf.unstack function accepts an int only. This int here is my batch size and doc_length is list of values. It will change with each batch of data. The idea here, from RNN, i am getting a state matrix and I have to insert zeros at some particular indices.

How to pass th

[2016-12-26 13:55] s4sarath commented on #6502
@ebrevdo @alrojo - It is to create a Heirarchical Attention Mechanism . Any thoughts ?

[2016-12-26 14:13] kstant0725 opened #6503 "Feature Request: Gradient for SVD op"
The gradient for the SVD op would be very useful so that it could be used in networks and cost functions.  Currently when trying to use SVD I get the follow:

LookupError: No gradient defined for operation 'Svd' (op type: Svd)

So my request is for the gradient for the SVD op

[2016-12-26 14:15] kstant0725 opened #6504 "Feature Request: Gradient for QR op"
The QR op is currently implemented but has no gradient.  It would be very useful if the gradient were defined so that the op could be used in networks and cost functions.

[2016-12-26 14:28] inflation commented on #6497
@inferrna can you run any ComputeCpp example code?

[2016-12-26 15:43] yaroslavvb commented on #6501
split argument order changed in HEAD -- https://github.com/tensorflow/tensorflow/blob/64edd34ce69b4a8033af5d217cb8894105297d8a/RELEASE.md

[2016-12-26 15:52] inferrna commented on #6497
Just tried and found that it's because of computecpp problem.
https://github.com/codeplaysoftware/computecpp-sdk/issues/9

[2016-12-26 15:52] #6497 closed

[2016-12-26 16:13] inferrna commented on #22
I had to look at /usr/local/computecpp/bin/computecpp_info output before trying to use TF compiled with OpenCL support. In my case it showing
[code]
now there is 2 choices for running TF on GPU:
good working on limited (by vendor) number of devices, but proprietary CUDA
bad working on limited (by computecpp developers) number of devices and also proprietary computecpp
Still no OpenCL support.

[2016-12-26 17:16] nmiculinic opened #6506 "Error in `python': free(): invalid pointer: when running example frac.cc op"
Frac.cc as in repo:
[code]

bazel build:
[code]

Test script:
[code]

full core dump: http://pastebin.com/69rLzybC

I'm trying to write tf op. Tf repo is on origin/r0.12 tag

What is going on and how do I fix it/implement my custom op?
Python version 3.5.2
Linux protagonist 4.8.13-1-ARCH #1 SMP PREEMPT Fri Dec 9 07:24:34 CET 2016 x86_64 GNU/Linux

[2016-12-26 19:39] yaroslavvb commented on #6503
the algorithm is in section 3.2 of [An extended collection of matrix derivative results
for forward and reverse mode algorithmic
differentiation](https://people.maths.ox.ac.uk/gilesm/files/NA-08-01.pdf)

[2016-12-26 20:02] Warvito opened #6507 "Feature request: Add float16 support for Conv3D, MaxPool3D and AvgPool3D ops"
Support for `tf.float16 dtype` was recently added ([#1300](https://github.com/tensorflow/tensorflow/issues/1300)) to a bunch of ops. Can we add it for conv3d too, please?

conv3d is important to development of videos and medical images systems. Since both consumes a lot of memory, it would be good to have fp16 support to allow deeper models.

[2016-12-26 20:27] yaroslavvb commented on #4359
It helps to think of different layers of TensorFlow -- there's the client
side which creates computational graph, and TensorFlow runtime side which
executes it.

`tf.gradients([a],[b])` is a "client-side" operation that adds nodes to the
graph that give gradient of a with respect to b. In a sense it's not part
of core TensorFlow since it's not accessible to people using TensorFlow
from other langu

[2016-12-26 20:51] yaroslavvb commented on #4359
@RichDubielzig  It helps to think of different layers of TensorFlow -- there's the client side which creates computational graph, and TensorFlow runtime side which executes it.

`tf.gradients([a],[b])` is a "client-side" operation that adds nodes to the graph that give gradient of a with respect to b. In a sense it's not part of core TensorFlow since it's not accessible to people using TensorFlow

[2016-12-26 20:57] edouardoyallon commented on #5827
Hi!
I'm also having this issue when reusing batch normalization layer, and in particular ema:
[code]

My objective is to duplicate some variables of a model, to insert them in another model, and then to load them from a check point. Everything works fine except the ema. When I use the trick explained by @ppwwyyxx , by imposing not to reuse variables, I have an issue when I load a model from a chec

[2016-12-26 22:12] lukeiwanski commented on #6449
@bhack at the moment we target SPIR. It might be possible to translate that into other formats but at the moment we output SPIR 1.2 only. SPIR-V is an interesting format but we cannot emit it right now.

[2016-12-26 22:24] bhack commented on #6449
@lukeiwanski Will XLA impact also your effort?

[2016-12-26 23:33] mbz opened #6508 "PS OOM in Distributed Inception"
We are trying to train Inception model on ImageNet in a distributed setting following the guide [here](https://github.com/tensorflow/models/tree/master/inception). TensorFlow successfully trains the model with 32 workers but with 64 worker, the PS dies with OOM killer.

In all of these experiments, PS was running on a separate machine. Looking at the memory consumption of 32 workers, it seems that

[2016-12-26 23:47] SergeyBykov1 opened #6509 "Issue with tf.one_hot() in 0.12.0 in GPU mode (CUDA_ERROR_ILLEGAL_ADDRESS)"
I'm using a LeNet-5 mnist example from Udacity's course. Link to the source code is below.
Training works ok on a CPU (config = tf.ConfigProto(device_count = {'GPU': 0})),
but fails in a GPU mode with the following 'CUDA_ERROR_ILLEGAL_ADDRESS' error:

name: GeForce GTX 1060 6GB
major: 6 minor: 1 memoryClockRate (GHz) 1.7845
pciBusID 0000:01:00.0
Total memory: 6.00GiB
Free memory: 5.01GiB
I c:\tf_j

[2016-12-27 00:08] yaroslavvb commented on #6508
How many PS tasks do you have? I would first check CPU utilization/network utilization of PS to make sure you have enough tasks to keep up with the workers. IE, suppose each worker can do a single batch in 2 seconds. With 25M parameters that's 50MB per second per worker, so in a shared cloud one might use 10 PS tasks for 32 workers and 20 PS tasks for 64 workers.

More generally, you can use Heap

[2016-12-27 01:05] mbz commented on #6508
Bandwidth shouldn't be an issue in this case since we have a 9.6GB/sec peak injection bandwidth to each node. For 32 workers, the current speed is less than 2 samples per second which should sum up to 3.2GB per second.

If this helps, we are using the XK nodes in BlueWaters supercomputer (you can find the spec [here](https://bluewaters.ncsa.illinois.edu/hardware-summary)).

I will try using Heap C

[2016-12-27 01:34] cardwing opened #6510 "Tensorflow0.08+cuda7.5+cudnn v4, GPU is not used as wished"
I have installed Tensorflow0.08+cuda7.5+cudnn v4 by Anaconda installation. However, when I was training the DDPG network, I found that the speed was rather slow and the computation was mainly done in CPU instead of GPU. Hope someone can help me out.
    Regards,
    Cardwing

[2016-12-27 01:58] yaroslavvb commented on #6508
What about CPU utilization of your PS task?

[2016-12-27 02:41] xiaolienahu opened #6511 "No module named 'gen_word2vec' and missing tf.models"
I got two problems with tensorflow, which was built today from source. My OS is Mac.
1.I was trying to run the code here https://github.com/tensorflow/models/blob/master/tutorials/embedding/word2vec.py, but received an error:
     ImportError: No module named 'gen_word2vec'
Could anyone help explain where I could find the gen_word2vec.py?
2. Another problem is that I couldn't import tensorflow.mod

[2016-12-27 02:42] KeithYin commented on #6501
@yaroslavvb Thanks a lot

[2016-12-27 02:42] #6501 closed

[2016-12-27 02:49] inflation commented on #6511
@xiaolienahu The models are moved to the separated repo under tensorflow/models.

[2016-12-27 02:52] xiaolienahu commented on #6511
@inflation Thanks. Do you know how I could get the gen_word2vec?

[2016-12-27 02:53] shakacs opened #6512 "The meaning of batch_size in ptb_word_lm"
I am new to tensorflow, i am now a little confused about the meaning of batch_size. As commonly known that the meaning of batch_size is the number of samples for each batch, but according to the code in ptb_word_lm, it seems not:
reader.py
data_len = tf.size(raw_data)  #the number of words in dataset
batch_len = data_len // batch_size   #what does batch_len mean? the number of batchs?does not make

[2016-12-27 02:57] yaroslavvb commented on #6511
It's automatically generated if you do bazel run word2vec target from the
models directory
https://github.com/tensorflow/models/blob/12f279d6f4cb33574bc20109b41eb8a59f40cfd1/tutorials/embedding/BUILD#L111

On Mon, Dec 26, 2016 at 6:52 PM, xiaolienahu <notifications@github.com>
wrote:

[2016-12-27 03:10] xiaolienahu commented on #6511
@yaroslavvb Thanks. I am new to the bazel. Could you show me how to bazel run the target?
What I tried is to clone the /models to /tensorflow/tensorflow and then go to /models/tutorials/embedding and do the command: bazel build :gen_word2vec. Then I got an error:

ERROR: error loading package 'tutorials/embedding': Extension file not found. Unable to load package for '//tensorflow:tensorflow.bzl':

[2016-12-27 03:15] Carmezim commented on #6512
This question is more suited to Stack Overflow. They also monitor it.

[2016-12-27 03:16] yaroslavvb commented on #6511
Sounds like Bazel is looking for files in regular tensorflow repo, so you need to clone that as well. Maybe tensorflow models need to be checked out as a submodule? This is probably better issue for tensorflow models issue tracker

[2016-12-27 03:17] Carmezim commented on #6499
Did you try asking on SO? It's also monitored by them.

[2016-12-27 03:29] mbz commented on #6508
That can be the case. CPU utilization is at %100 but only one core. It seems to be single threaded. Is there any flag to use more threads?

Will send you the results of slow gradients as soon as I can.

[2016-12-27 03:35] yaroslavvb commented on #6508
More threads can be done with tf.Server(config arg, see #4455

[2016-12-27 03:50] StrangeTcy opened #6513 "Tensorboard AttributeError: 'module' object has no attribute 'cpu_count'"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
Some people report having similar problems with 'module' objects having no attribute something-or-other and claim they were solved by upgrading.

### Environment info
Operating System:
Ubuntu 17.04 x64
Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/l

[2016-12-27 04:05] mbz commented on #6508
I assume you are referring to `inter_op_parallelism_threads` and `intra_op_parallelism_threads`. Aren't these set to the number of available cores by default?

[2016-12-27 04:24] yaroslavvb commented on #6508
They should, although there have been cases when number of cores was
misidentified on new architecture

On Dec 26, 2016 8:05 PM, "Mohammad Babaeizadeh" <notifications@github.com>
wrote:

[2016-12-27 04:33] DollarAkshay commented on #6233
Okay I purged everything and installed nvidia-375 (with DKMS) and the cuda deb(network install) .

Although I have 2 nvidia drivers now. The problem inst there.

[2016-12-27 04:36] DollarAkshay commented on #6510
You really need to give us some more info. Run a really simple tensor flow program and paste the output here

[2016-12-27 04:51] FrankYu opened #6514 "tensorflow (0.12.0) doesn't work with libcudart.so.8.0.44"
Hi，
I'm using cuda-8.0 on centos7.3, and I install tensorflow(0.12.0)  with pip.
when I tried to import tensorflow, it report "ImportError: libcudart.so.8.0: cannot open shared object file: No such file or directory".
I'm sure libcudart.so.8.0 does exist. tensorflow-0.12.0 should works with cuda-8.0 according the docs.

[code]

[2016-12-27 05:39] nina124 opened #6515 "tensorboard fail to load summaries"
Enviroment: Ubuntu14.04
tensorflow installed with
`sudo pip install --upgrade https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-0.12.0-cp27-none-linux_x86_64.whl`

tensorboard fails to load events, even with the tensorflow_root_path/models/image/cifar10/cifar10_train.py.
run `python cifar10_train.py`, [the event file](https://github.com/tensorflow/tensorflow/files/673591/event.zip

[2016-12-27 05:52] gunan commented on #6233
Did you fix your LD_LIBRARY_PATH?
and do you mean the problem is not there?

[2016-12-27 06:10] gunan commented on #6514
TensorFlow only has official Ubuntu support.
For CentOS, we have not tested our pip packages.

Possible issues that come to my mind, did you check your LD_LIBRARY_PATH, does it include the directory /usr/local/cuda/lib64/ ?
If not, could you try adding that folder to your LD_LIBRARY_PATH and try again?

[2016-12-27 06:14] gunan commented on #6510
I will close this issue.
Please try installing the latest version of TF (with latest versions of cuda and cudnn).
If you still run into the problem, please file a new issue.
And when filing the issue, please fill out the template.
Otherwise, we will only be able to point you to the docs.

[2016-12-27 06:14] #6510 closed

[2016-12-27 06:16] gunan commented on #6509
https://github.com/vlfeat/matconvnet/issues/65

In this issue, I see that some people were able to go around the problem by changing their drivers.
Can it be the same issue here?

[2016-12-27 06:17] DollarAkshay commented on #6233
Yes the problem is gone now. I really just reinstalled everything dint try changing the LD_LIBRARY_PATH. I guess the cuda installer took care of it.

This is what I see now :

`$ echo $LD_LIBRARY_PATH
:/usr/local/cuda/lib64
`

[2016-12-27 06:33] #6233 closed

[2016-12-27 07:11] gunan commented on #6513
As your logs show, the error is thrown due to a missing function call in psutil library.
https://github.com/giampaolo/psutil/blob/master/HISTORY.rst#200

cpu_count seems to be added in version 2.0.0 of psutil.
So running the following command should fix your problem:
[code]
Also the stacktrace shows that this is a call in `dask` library. So this issue is better reported to dask library.

[2016-12-27 07:11] #6513 closed

[2016-12-27 07:16] gunan commented on #278
https://www.tensorflow.org/versions/master/how_tos/reading_data/#csv-files

Is this sufficient to close this issue?

[2016-12-27 07:23] gunan commented on #601
looks like there is no nvidia-docker support on OSX
https://github.com/NVIDIA/nvidia-docker/issues/175

Therefore, this seems to be blocked for us by nvidia docker.

[2016-12-27 07:23] #601 closed

[2016-12-27 07:25] FrankYu commented on #6514
@gunan
Thanks. it's LD_LIBRARY_PATH's problem.
Any plan official support TensorFlow on CentOS?

[2016-12-27 07:32] gunan commented on #1060
@suiyuan2009 did you try the driver update?
Did it resolve the problem for you?

[2016-12-27 07:34] gunan commented on #6514
Not in our short term plans, but things may change.
I am glad that we were able to resolve your problem.

[2016-12-27 07:34] #6514 closed

[2016-12-27 07:36] gunan commented on #6511
CC @nealwu

[2016-12-27 07:42] #1947 closed

[2016-12-27 07:42] gunan commented on #1947
Looks like on AWS driver update resolves the problem.
All reports seem to be resolved ATM.

[2016-12-27 07:44] gunan commented on #2494
I think with v2 checkpoints, this issue may be obsolete.
Also no activity for a long time.
Closing the issue.

[2016-12-27 07:44] #2494 closed

[2016-12-27 07:50] gunan commented on #3017
On windows, you can use either CMAKE or Bazel.
We use makefile primarily for iOS support.
@kakashidan It is possible some of the libraries you are trying to use are excluded in makefile build?
You can see this piece for details:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/makefile/Makefile#L418

Please see the README file in makefile folder for more details.

[2016-12-27 07:53] gunan commented on #2903
All I can think of is after apt-get purge command you may need to manually remove libprotobuf files under  `/usr/lib/x86_64-linux-gnu/`, if they are still there. Then install the correct protobuf version using `pip` as described in tensorflow.org.

[2016-12-27 08:27] suiyuan2009 commented on #1060
@gunan I solved the problem, but I forget how to solve...

[2016-12-27 09:29] StrangeTcy commented on #6513
I tried upgrading `psutil`, but somehow that didn't work. Anyway, it does now. Thanks!

[2016-12-27 09:51] RuiShu commented on #4361
I noticed that the docs haven't been updated yet. Would it be useful if the docs instead said:
[code]

As for proper reuse across multiple data streams, it looks like a shareable version is still [in the works](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/layers/normalization.py#L200).

As an aside, to the best of my understanding, the notion of a shareable BN layer shoul

[2016-12-27 11:03] KeithYin opened #6517 "no code completion supported in tf0.12.0 ?"
when i typed `tf.contrib.rnn.`, there is no code completion choice with pycharm and ipython.are there some soft reload mechanism ?. what should i do to solve this problem.

[2016-12-27 11:31] danijar commented on #6360
So access to variables is already protected by a lock that allows multiple reads or one write? My understanding was that assigning to a variable while using it in a computation from another `sess.run()` can cause interference.

[2016-12-27 11:47] albertz opened #6518 "tf.sequence_mask with int64 does not work"
Given some tensor `x` with shape (batch,time) and `seq_lens` of shape (batch,) of dtype `int64`, I wanted to use this code:
[code]

This fails with `TypeError: Input 'y' of 'Less' Op has type int64 that does not match type int32 of argument 'x'.` in `gen_math_ops._range(0, maxlen, 1) < expand_dims(lengths, 1)`.

If I add `seq_lens = tf.cast(seq_lens, "int32")` before, then it works.

Casting `tf.s

[2016-12-27 13:05] KeithYin commented on #6517
when using `from tensorflow.contrib import rnn` , the code completion works correctly

[2016-12-27 13:05] #6517 closed

[2016-12-27 13:15] mxmxlwlw opened #6519 "Can't output summaries using tensorflow.contrib.slim"
When I run my code, it gives the following warning:
`WARNING:tensorflow:From C:\Program Files\Anaconda3\lib\site-packages\tensorflow\python\training\supervisor.py:344 in __init__.: SummaryWriter.__init__ (from tensorflow.python.training.summary_io) is deprecated and will be removed after 2016-11-30.
Instructions for updating:
Please switch to tf.summary.FileWriter. The interface and behavior is th

[2016-12-27 13:31] SergeyBykov1 commented on #6509
@gunan I've updated Nvidia's driver to the most recent version (376.33) on my Work PC.

The issue still occurs.
I'd like to note that sometimes it triggers only CUDA_ERROR_ILLEGAL_ADDRESS error.
But sometimes it triggers CUDA_ERROR_ILLEGAL_ADDRESS + some cudnn errors.

am_executor\cuda\cuda_event.cc:49] Error polling for event status: failed to que
ry event: CUDA_ERROR_ILLEGAL_ADDRESS
F c:\tf_jenk

[2016-12-27 13:31] inflation commented on #6519
@mxmxlwlw As it said, SummaryWriter has renamed to `tf.summary.FileWriter`

[2016-12-27 13:40] edgarriba commented on #4536
@davek44 do you have any working example?

[2016-12-27 13:48] mxmxlwlw commented on #6519
@inflation I noticed that slim.learning.train has a parameter summary_writer. So I passed the tf.summary.FileWriter to it, and the warning didn't show again. However, the log still did't come up. I think the error may be in other place of my code.
Here's my code:

import pickle
import re
import random
import numpy as np
import tensorflow as tf
from vgg_preprocessing import preprocess_image
slim =

[2016-12-27 13:53] mxmxlwlw commented on #6519
@inflation Here's the code.

[doNet.zip](https://github.com/tensorflow/tensorflow/files/674192/doNet.zip)

[2016-12-27 14:15] shixiazuike opened #6520 "Interesting phenomenon when running cifar10_train.py and cifar10_multi_gpu_train.py"
### Environment info
Operating System:
[code]

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
[code]
here is the result
[code]

If installed from binary pip package, provide:

1. A link to the pip package you installed:
I install tensorflow using pip with command from pypi
[code]
2. The output from `python -c "import tensorflow; print(tensorfl

[2016-12-27 15:02] Arsakes commented on #2245
`extract_sub_graph()` is hard to use.
A **variable** consist of few nodes and there is no single node that has an outgoing connection to each other.
_Thanks to this fact `export_sub_graph()` breaks variable structure and effectivly removes variable from graph.
Is there a smart way around it? (I didn't try explicitely listing all the nodes for each variable used by source graph - but this wouldn't

[2016-12-27 15:18] martinwicke commented on #6363
Please add them to https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/resources/index.md

This is less prominent than we'd like at the moment, but whatever new place will be seeded with information from there.

[2016-12-27 15:18] #6363 closed

[2016-12-27 16:11] #6174 closed

[2016-12-27 17:24] mrry commented on #6472
This looks like a bug in the (recently added) in-process shim for contacting the master without performing a full RPC. I'm testing a fix right now.

[2016-12-27 17:25] inflation commented on #6519
You can try to add `tf.summary.FileWriter.add_summary` before your training

[2016-12-27 17:35] gunan commented on #1060
OK, then I will close this issue.

[2016-12-27 17:35] #1060 closed

[2016-12-27 17:38] yaroslavvb commented on #6360
The lock is activated by `use_locking` option. Here's a simple experiment to confirm -- https://gist.github.com/yaroslavvb/3a53132dcddc8ff47e4e919579b98c6a

If you turn on `use_locking`, then each read takes at least as long as each write. If you turn it off, the reads are near instant.

[2016-12-27 18:18] yaroslavvb commented on #2245
There's a more advanced subgraph extractor proposed in https://github.com/tensorflow/tensorflow/pull/5802

[2016-12-27 18:29] danijar commented on #6360
Okay, thanks for putting together an example. Seems like we might not need locking primitives then. One more question, without `use_locking` are the reading threads guaranteed to read consistent versions of the variable? By consistent, I mean that they are either not yet updated or already fully updated.

[2016-12-27 18:34] yaroslavvb commented on #6360
No -- in the example I gave the writes >1 seconds each, while reads take 0.0005 seconds, so they must be looking at partially update states.

[2016-12-27 18:53] nitaro opened #6523 "possible variable typo in "Vector Representations of Words" documentation"
The variables "training_inputs" and "training_labels" in the section "[https://www.tensorflow.org/tutorials/word2vec/#training_the_model](https://www.tensorflow.org/tutorials/word2vec/#training_the_model)":

[code]

appear to be new per the tutorial text.

Were they supposed to be the previously defined "train_inputs" and "train_labels"?

thanks,

[2016-12-27 18:59] yaroslavvb commented on #6508
@mbz possibly related issue is https://github.com/tensorflow/tensorflow/issues/6116  Current grpc implementation uses too much CPU, there's a patch that fixes the issue

[2016-12-27 19:01] EronWright opened #6524 "Feature request: Support reference counting on Java Tensor class"
The `Tensor` class of the new Java library would be more useful and easier to use with built-in reference counting, based on a common interface `RefCounted`.    This would be in lieu of `AutoCloseable`.

I suggest that reference counting follow the Netty approach as described [in the docs](http://netty.io/wiki/reference-counted-objects.html).   A nice aspect is that it simplifies the common case o

[2016-12-27 19:11] danielgordon10 commented on #6322
Should I make a PR or something? Would this go in Contrib somewhere or with the rest of the MNIST examples?

[2016-12-27 19:12] danielgordon10 commented on #6195
I was able to partially fix this by writing fewer full trace summaries to file. But I don't think that's a real fix.

[2016-12-27 20:09] toddpi314 commented on #278
Well done. This is very clear.

[2016-12-27 20:17] danielgordon10 commented on #1823
I think it's way more user-friendly to allow new names, new shapes, and removed variables (Caffe style). This code seems to get that job done. I call it after running the global init operation.

[code]

[2016-12-27 20:18] danielgordon10 commented on #312
I think it's way more user-friendly to allow new names, new shapes, and removed variables (Caffe style). This code seems to get that job done. I call it after running the global init operation.

[code]

[2016-12-27 20:37] MircoT commented on #6473
No more problems with new version 0.12.

[2016-12-27 20:38] nealwu commented on #6511
Unfortunately I don't know of a way right now to build the embedding models with bazel. I have a pull request in the models repo that gets the model to run if you compile the ops on your own: https://github.com/tensorflow/models/pull/802. Take a look and let me know if that works for you.

[2016-12-27 20:43] nealwu commented on #6432
@sharod I think I saw you open an issue in github.com/tensorflow/models and close it later -- did you end up figuring it out?

[2016-12-27 20:58] EronWright opened #6527 "[Java] provide a Maven POM"
It would be handy to have a POM file for the Java library.

In the short-term, having a POM facilitates local development of Java applications (potentially using other build frameworks).  For example, it makes it possible to install the built library into Maven's local repository:
[code]

The POM file should also be useful for eventual publishing of the library.

[2016-12-27 21:01] MircoT commented on #6473
The problem still in Linux as said above. I want to add another information:

to compile the plugin correctly on Linux I had to add libprotobuf and libprotobuf_lite as dependencies. I took the libraries from the compiled directory after bazel build execution.

[2016-12-27 21:03] andrewharp commented on #5553
With https://github.com/tensorflow/tensorflow/commit/c8abaee1e8dd9a2a654d0499e431a82e0285c5d1
to check for missing files and
https://github.com/tensorflow/tensorflow/commit/522046158048c5c6a7c12ec8975b1178eed7165c to check for 0 node counts in the GraphDef, most initialization errors should now be caught much earlier.

@abdoelali If you sync again does it still give you the same error? You're also

[2016-12-27 21:45] #278 closed

[2016-12-27 22:22] galharth commented on #6487
Any help 🙏 ?

[2016-12-27 22:31] andrewharp commented on #4024
FWIW there is now gradle+cmake+Makefile support for the Android TF JNI inference library under [tensorflow/contrib/android/cmake](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/android/cmake), which may make things easier for you.

Full support for the demo should be coming at some point as well.

[2016-12-27 22:50] guschmue commented on #6509
I know there is a problem with one_hot(T=uint8) that results in the CUDA_ERROR_ILLEGAL_ADDRESS.
Looked at this in the past but found nothing obvious in the source.
Let me attach a debugger and see if we find this.
This happens only for T=uint8, int32 will work fine.

[2016-12-27 23:03] galharth commented on #6487
@petewarden
When I run it on the docker machine (tensorflow/tensorflow:nightly-devel) this is what I get:
[code]

On my machine I get:
[code]

[2016-12-27 23:25] petewarden commented on #6487
Ah, I missed that the step was within the docker container, gcc makes sense there. Have you made sure that the virtual machine has enough memory assigned to it?

[2016-12-27 23:30] galharth commented on #6487
How much memory the virtual machine needs? this is my current docker preferences: http://d.pr/i/YCUl
(2 cpus, 2 GB RAm)

[2016-12-27 23:44] #6202 closed

[2016-12-27 23:45] petewarden commented on #6487
2GB is tight for Bazel unfortunately. As a start, I would try ramping that up, and there are also some options to make Bazel only build one source file at a time, which helps, but I don't have those handy.

[2016-12-28 00:09] aselle commented on #6374
@mrry could you take a look when you get a chance?

[2016-12-28 00:18] aselle commented on #6378
@zheng-xq, do you have any insights on the concurrency issue here. I don't see the problem with the Titan X Maxwell edition on current nightly.

[2016-12-28 00:26] aselle commented on #6390
You might try asking this question on StackOverflow. Others users may have found a way to do it there. If you cannot find a way to do it after asking there, please reply here, and we will open it as a feature request. Thanks!

[2016-12-28 00:26] #6390 closed

[2016-12-28 00:40] aselle commented on #6384
This appears to work for me on python2.7 just fine. It appears you are using python3. Perhaps try forcing the string to be bytes and/or unicode. Are you all using Python 3?

[2016-12-28 00:43] aselle commented on #6397
It seems reasonable to me. @martinwicke, do you have any opinions here, or do you know who might?

[2016-12-28 00:48] asrivat1 commented on #6384
I'm in 2.7. @aselle are you on 0.12.0-rc1? I found two workarounds. The first is to pad out the shape of the tensors to some fixed size using 0s via `tf.pad`, and this fixes the `tf.einsum` bug. The other solution is what @j88k suggested, and it's about 80% faster for my program. Also worth noting that for joining on multiple dimensions, `tf.batch_matmul` works wonders. The only disadvantage is th

[2016-12-28 00:49] asrivat1 commented on #6384
Also worth noting I'm using Cython and Anaconda. It's possible that's part of the problem.

[2016-12-28 00:50] aselle commented on #6496
One possibility is that the FFMPEG linked into tensorflow is conflicting with the FFMPEG in OpenCV. If they are different versions, then this is quite likely. You could try to remove the ffmpeg support from the tensorflow build and see if that solves your problem.

[2016-12-28 00:52] aselle commented on #6448
@wolffg, don't know if there is an easy way to get a ctrl-f'able page.

[2016-12-28 00:53] aselle commented on #6446
Please take a look @gunan. Thanks!

[2016-12-28 00:55] aselle commented on #6439
@danmane, could you please take a look?

[2016-12-28 01:02] aselle commented on #6399
@jonasrauber: I changed the title, because essentially, I don't think what your describing could be a constant.  I would be worried that such an op would be somewhat confusing. What if upstream values had been computed with some temporary feed and then the feed was changed. The first value evaluated was not useful, so you don't want to keep that cached value, you want the second input value. @mrry

[2016-12-28 01:36] gunan commented on #6468
The file you are suign has been moved here:
`https://github.com/tensorflow/models/tree/master/tutorials/rnn/ptb`

Are you sure you have all the updates that are made in that file?

[2016-12-28 01:36] gunan commented on #6469
The file you are suign has been moved here:
`https://github.com/tensorflow/models/tree/master/tutorials/rnn/ptb`

Are you sure you have all the updates that are made in that file?

[2016-12-28 01:37] #6527 closed

[2016-12-28 02:00] mrry commented on #6399
Off the top of my head, there are a few different possibilities here (although I'm sure there are others...):

* The easiest would be to implement a write-once version of `tf.Variable`. It would still have an explicit `initialize` op, but it could be treated as a constant subsequently (e.g. in graph optimizations constant folding, CSE, etc.). Depending on how you want to use it, it could have bloc

[2016-12-28 02:17] yaroslavvb commented on #6399
BTW, regarding recipe 2, I've been using `cond` to initialize variables once as [here](https://gist.github.com/yaroslavvb/d592394c0cedd32513f8fbb87ca05938#file-smart_initialize-py-L22). Without `tf.cond` you get unexpected results when initialization is split over several `sess.run` calls (https://github.com/tensorflow/tensorflow/issues/4920)

[2016-12-28 02:41] ethereon opened #6531 "tf.losses.softmax_cross_entropy is deviously inconsistent"
There are at least three variants of `softmax_cross_entropy` in TensorFlow:

1. `tf.nn.softmax_cross_entropy_with_logits`

Accepts `logits` as the first argument, and `labels` as the second argument.

2. `tf.contrib.losses.softmax_cross_entropy`

Accepts `logits` as the first argument, and `onehot_labels` as the second argument. So far so good. Except this is deprecated, and displays the recommend

[2016-12-28 03:57] lanceturnbull commented on #3388
@biolee It works for me. Thanks a lot! I'm using keras.

[2016-12-28 05:50] wolffg commented on #6448
I think I understand your request, and it was a use case we thought about.  The landing page:

https://www.tensorflow.org/api_docs/python/

is designed to be complete index that you could use ctrl-f to hunt around in.  Does that cover your use case?  Is it missing functions?

[2016-12-28 05:55] nikitakit opened #6532 "Feature request: log-log scale for tensorboard"
Would there be interest in adding a log-log display mode to tensorboard? That is, to enable plotting the x-axis in log scale for step count (and maybe relative time as well).

I find log-log to be very useful for inspecting learning curves (loss vs. iteration). Given a constant learning rate, standard optimization algorithms usually give a straight line in log-log scale. It's really easy to visual

[2016-12-28 06:51] VelizarVESSELINOV opened #6533 "Python 3.6 support [feature requests]"
I'm sure that you are aware that Python 3.6 is available and TensorFlow is still not available for this version. Hope next update will cover the cp36 Python version.

[2016-12-28 07:02] omarshehab opened #6534 "InvalidArgumentError (see above for traceback): Nan in summary histogram for: dnn/hiddenlayer_0_activation"
I am trying to do regression for my own data following the example of [Deep Neural Network Regression with Boston Data](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/learn/boston.py).

Following is my code.

[code]

I am getting the following error.

Am I passing any deprecated argument to DNNRegressor.fit()?

[2016-12-28 08:15] andreme commented on #2164
In v0.12.0 this is a fatal error when using libtensorflow for go: Op BatchNormWithGlobalNormalization is not available in GraphDef version 17. It has been removed in version 9. Use tf.nn.batch_normalization().

Using optimize_for_inference allows me to load the model:
optimize_for_inference --input=/tmp/output_graph.pb --output=/tmp/output_graph.pb_optimised --frozen_graph=True --input_names=Mul -

[2016-12-28 09:19] warmspringwinds commented on #206
Hey guys.

Sorry for bugging.
Any update on the gradient implementation for tf.gather_nd() ?

[2016-12-28 09:56] HWiese1980 commented on #6417
@mrry or @concretevitamin Could you give a quick status update on this as soon as there's something new to mention?

[2016-12-28 10:06] albertz commented on #799
Note that this will not happen anymore because the variables are created inside `...Cell.__call__` and not in  `...Cell.__init__`, thus it does not need a scope for the construction of the cells, and it will handle the variable scope itself inside `bidirectional_rnn` thus you don't need to scope it yourself.

[2016-12-28 10:46] albertz opened #6537 "file_io.get_matching_files fails if any unrelated (non-matching) sub-directory is non-readable"
Let `filename = "/tmp/mymodel.005"`.

`file_io.get_matching_files(filename)` will raise an exception like

    PermissionDeniedError: /tmp/.xrdp/xrdp-sesman-jjz1ox

for me. I think this is a bug as this is an unrelated (non-matching) directory, so it does not matter and it will anyway not match the `filename`, thus it should not raise an exception.

I get this via `saver.restore(sess=..., save_pat

[2016-12-28 11:08] mxmxlwlw commented on #6519
@inflation It suggest that I can't pass tensor to the add_summary function...

[2016-12-28 11:14] gokceneraslan commented on #5930
Any news? Should we wait until 1.0 release?

[2016-12-28 11:30] marchezinixd opened #6538 "Missing GRPC information on Documentation"
Both the site and the Git does not say that it is necessary to have GRPC installed to run distributed TensorFlow.

[2016-12-28 11:37] albertz opened #6539 "better Variable.__repr__"
Right now, I get sth like:

    <tensorflow.python.ops.variables.Variable object at 0x2b9c67daae10>

It would be nice if it would show sth like

    <Variable name="foo" shape=(100,200) dtype="float32">

or so.

[2016-12-28 12:19] MichaelCaraccio commented on #6533
You can install it manually (worked for me):

[code]

[2016-12-28 13:03] DrSleep commented on #6011
@karlTUM, you can try the code below:

[code]

I haven't extensively tested it, but it outputs a vector of the same length (in case of `levels=[1, 2, 3, 6]`): `50=[1x1 + 2x2 + 3x3 + 6x6]x(channels)` for every input with each spatial dimension more (or equal) than `36=6x6`.

[2016-12-28 13:05] martinwicke commented on #6397
People who may have an informed opinion on this: @shlens, @sguada, @vincentvanhoucke.

To your questions:

1) This function should probably go into the image module, since it's specific to image data.
2) Yes, please add a name_scope. It'll make the graph more readable in tensorboard.
3) It would be good to have a batch version which returns a vector. I would expect to be used more than the single

[2016-12-28 13:06] karlTUM commented on #6011
@DrSleep  Thank you.

[2016-12-28 14:08] inflation commented on #6537
@albertz The underlying `GetMachingFiles` performs a pattern matching on all files in the directory.

[2016-12-28 14:11] sjperkins opened #6540 "`easy_install tensorflow-gpu` fails"
A pip install of tensorflow-gpu and tensorflow works great.

[code]

However, when one is trying to create a package with a dependency on tensorflow, one usually has to do the following in `setup.py`:

[code]

Unfortunately, using the above as dependencies fail because setuptools defers to `easy_install` rather than `pip`.

[code]

easy_install doesn't seem to be able to recognise the wheels found

[2016-12-28 14:16] albertz commented on #6537
Yes I see that it does that (and even for all sub directories) but it shouldn't break on sub directories which do not match anyway.

[2016-12-28 14:32] inflation commented on #6537
It add all sub folders before doing the match, and the error is thrown when checking if it is a directory.

[2016-12-28 14:39] inflation commented on #6519
Slim uses `supervisor` for training. Do you have the model checkpoint files?

[2016-12-28 14:51] albertz commented on #6537
I know. And I say that this should not fail if it does not match the pattern anyway.

[2016-12-28 15:28] coolsurf commented on #4713
Would you reopen this issue, please?  In our cluster setup (LSF+MPI shared by many different groups), it requires extra efforts to monitor a TF job in order to stop it after training.  A simple wait-then-close method for parameter server would be much appreciated because it increases ease-of-use a lot, especially in a shared cluster where parameter servers should be closed after every single job.

[2016-12-28 15:49] saurabh203 commented on #6436
I was facing the same issue earlier and tried configuration with Bazel 0.4.2 and it works.

[2016-12-28 15:52] shlens commented on #6397
SGTM. +1 to everything  @martinwicke suggested.

I would suggest adding the function to:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/image_ops_impl.py

The function should check that its argument `images` is of the appropriate shape using `_Check3DImage` or `_CheckAtLeast3DImage`

[2016-12-28 16:00] diggerdu opened #6541 "tf.signal CPU FFT implementation is slower than NumPy, PyTorch, etc."
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

### Environment info
Operating System:
Ubuntu 16.04 LTS 64bit

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
`
-rw-r--r-- 1 root root   558720 9月  15 07:02 libcudadevrt.a
lrwxrwxrwx 1 root root       16 9月  15 07:05 libcudart.so -> l

[2016-12-28 16:03] antoine-dbr commented on #4024
Good to know, thanks for the pointer @andrewharp.

[2016-12-28 16:14] yaroslavvb commented on #4713
There's a work-around -- instead of `server.join()` have your parameter servers do `sess.run(queue.dequeue)` `k` times if there are `k` workers. Then each worker does an `enqueue` at the end of it's work. Here's a full example, search for `create_done_queues` [here]( https://gist.github.com/yaroslavvb/ea1b1bae0a75c4aae593df7eca72d9ca). An alternative solution was started in this pr -- https://gith

[2016-12-28 16:15] mrry commented on #6538
There is no separate installation step for gRPC when using distributed TensorFlow. It is linked statically into the Python extension `_pywrap_tensorflow.so` (or `_pywrap_tensorflow.pyd`) that is installed as part of the PIP package.

[2016-12-28 16:15] #6538 closed

[2016-12-28 16:54] yaroslavvb commented on #6539
Maybe something like this: https://github.com/yaroslavvb/tensorflow/commit/de542371f05148641b33a1dcf4c25cc3c0cdd1c5

[2016-12-28 17:25] mrry commented on #6374
I don't think this is a bug, but it might be poor documentation, and/or grounds for a feature request.

It looks like the problem arises because the chief worker and the parameter server do not share the same file system (because the client performs some file operations on the checkpoint data locally, but the checkpoint data is loaded by a `Restore` op that runs on the parameter server). This has

[2016-12-28 17:28] mrry commented on #6508
@mbz There are some guidelines on how to deal with memory leaks in TensorFlow here:

http://stackoverflow.com/documentation/tensorflow/3883/how-to-debug-a-memory-leak-in-tensorflow#t=201612281727521481272

In particular, you should try running with tcmalloc, which can prevent heap fragmentation (that sometimes leads to out-of-memory errors with the default `malloc()` implementation).

[2016-12-28 17:43] stonebig commented on #6533
there is a Tensorflow-0.12 Python-3.6 version for windows on cgohlke page

[2016-12-28 18:50] siddharthkhullar commented on #2626
I'm facing this issue as well. Installed tf from source. Here's the log. Facing this issue while trying to run mnist_with_summaries.py.

I tensorflow/stream_executor/dso_loader.cc:125] successfully opened CUDA library libcublas.so.8.0 locally
I tensorflow/stream_executor/dso_loader.cc:125] successfully opened CUDA library libcudnn.so.5 locally
I tensorflow/stream_executor/dso_loader.cc:125] succes

[2016-12-28 18:53] VelizarVESSELINOV commented on #6533
I'm aware of workarounds, but the code we are using is `pip install -r requirements.txt` and will be nice to make it work in all the environments, not fan of creating several requirements.txt per operating system, Python version, etc.

[2016-12-28 19:10] prb12 commented on #2626
Why would that be suspicious if you're compiling from source and all the other CUDA libraries mentioned are CUDA8?

This error report is not very meaningful without explaining how you configured your source tree (i.e. what versions of cuda libraries and header files did you point it at).

Whatever version of CUDA header files you *built* against will have to match the shared library versions which

[2016-12-28 19:19] auxsophia commented on #2626
Also important is which version you have. I think version 12 of TensorFlow might require cuda 8.0 :(
But if you're installing from source, you should be able to specify cuda 7.5.

You could also try version 11 of TensorFlow, but it will put you a little behind.

[2016-12-28 19:36] gunan commented on #6540
@yifeif Is this because we are hosting tensorflow gpu pip package at the new pypi backend?
Or maybe easy_install uses some workflow similar to old pip versions?

@sjperkins for context, tensorflow pip packages exceed the old pypi package size limit.
Therefore, they have to be hosted in their new datastore. This makes our packages uninstallable using old versions of pip. So maybe this is an issue w

[2016-12-28 19:39] gunan commented on #6533
We usually follow ubuntu LTS versions to build our packages.
Latest ubuntu LTS (16.04) still seems to not have python 3.6.

I will reevaluate our resources, but for now I cannot promise quickly delivering this package.

[2016-12-28 19:43] mrry commented on #6399
@yaroslavvb Right, that code should work, as long as you're okay with the possibility that the initializer might run more than once.

[2016-12-28 19:43] yifeif commented on #6540
It could be something with the '_' and '-' replacement. https://pypi.python.org/simple/tensorflow_gpu/  seems to work as well. @sjperkins do you mind try replacing tensorflow-gpu with tensorflow_gpu?

[2016-12-28 19:47] siddharthkhullar commented on #2626
I'm obviously new to this. I followed the instructions on getting started page for tf.
tensorflow: 0.12
cuDNN: v5.1
CUDA: 8.0

This is how I configured the source (I'm assuming you're asking for ./configure options in tf? Exactly as suggested on the getting started tf page.
Please specify the location of python. [Default is /usr/bin/python]: /usr/bin/python3
Do you wish to build TensorFlow with Go

[2016-12-28 20:18] siddharthkhullar commented on #2626
@prb12 Yes, it does. /extras/CUPTI/lib64 is on my LD_LIBRARY_PATH. Yes libcupti.so points to libcupti.so.8.0 which further points to a third file called libcupti.so.8.0.44 in that directory.

[2016-12-28 20:43] sjperkins commented on #6540
Sorry should have mentioned, underscore also does not work.

On 28 Dec 2016 9:44 p.m., "Yifei Feng" <notifications@github.com> wrote:

[2016-12-28 20:47] geelenb commented on #2169
Why could tf.gather not be used for this problem? Does it not propagate gradients?

[2016-12-28 21:30] danijar commented on #6360
You're right, here is a slightly more compact example to reproduce the issue. The writer thread increases the elements of the matrix exponentially using locking. The reader thread checks for all elements of the matrix being identical at any point, which fails. Isn't this a bug in TensorFlow's implementation of `use_locking`?

[code]

[2016-12-28 21:46] yaroslavvb commented on #6360
Hm, looks like `use_locking` sets a write-lock rather than read lock? cc @mrry for his expertise

[2016-12-28 22:01] aselle commented on #6541
Likely you are measuring the overhead of .run(), the copying of the feed variable spec which doesn't happen in numpy. In general, you will get good performance if each .run() does a significant portion of work. For example, I move your computation into a while loop inside tensorflow graph and get
[code]

Here's the code:
[code]

[2016-12-28 22:03] aselle commented on #6381
@mrry, could you comment on this proposal and see if we want to accept the PR.

[2016-12-28 22:06] mbz commented on #6508
@yaroslavvb thanks for all the info.

adding `tf.ConfigProto(inter_op_parallelism_threads=64,intra_op_parallelism_threads=64)` to `tf.train.Server` solved the issue. CPU utilization is way higher and the memory is stable at ~20GB peaking at 30GB.

I can dig more into why TF does not pick up the right number of cores if you folks are interested. It would be helpful if you point me to the right code

[2016-12-28 22:10] mrry commented on #6508
@mbz If you are not running with tcmalloc, I'd still recommend that you give it a try. Allocating and then soon after freeing a large number of large message objects may still be causing heap fragmentation.

[2016-12-28 22:19] danijar commented on #6360
Exactly, but it seems quite counter-intuitive to me. I'd expect a write lock to block both reads and writes. There are some people on Github who tried to implement A3C (Mnih et al.; 2016) and ran into this issue. They ended up using processes and aggregating updates on the Python side with Numpy. Would be interesting to hear an opinoin from @mrry.

[2016-12-28 22:22] yaroslavvb commented on #6508
@mbz You could check what `port::NumSchedulableCPUs` returns on your system. I see it being used in [local_device.cc](https://github.com/tensorflow/tensorflow/blob/d44d271c9da4d244ce4b2ffaf808adbe4cff759d/tensorflow/core/common_runtime/local_device.cc#L37)  to set number of threads

[2016-12-28 22:37] vrv commented on #6541
@aselle do you run the ops in your version or just construct them?

[2016-12-28 22:51] yifeif commented on #6540
According to [this page](https://packaging.python.org/pip_easy_install/), easy_install does not install from wheels, and it only installs from egg. We currently only build wheel packages. Looks like setup_requires section of setup.py is always fulfilled by easy_install http://pip.readthedocs.io/en/latest/reference/pip_install/#controlling-setup-requires. Do you need tensorflow in both setup_requir

[2016-12-28 22:55] aselle commented on #6342
I'm able to reproduce this @martinwicke. Any thoughts?

[2016-12-28 22:57] gunan commented on #4848
Ping, any updates, comments on this?

[2016-12-28 23:02] Shapedsundew9 commented on #3208
I see this too with r0.12

[code]

Traceback (most recent call last):
  File "titanic.py", line 306, in <module>
    master.update(estimate('Fare', fareCats, fareReals, master))
  File "titanic.py", line 156, in estimate
    prediction = nn.predict(input_fn=predict_fn, as_iterable=False)
  File "/usr/local/lib/python3.4/dist-packages/tensorflow/python/util/deprecation.py", line 191, in new_func

[2016-12-28 23:14] StructML commented on #6452
The main and process portion should contain a workable example. If you download the code, all you need is to provide images in a format similar to CIFAR10 but with 1750 * 1750 images. Before running main.py, you may want to reconfigure the directory names, as they are for my personal PC(I should fix it).

The code can be found here:

https://github.com/StructML/Neural-Network-Prostate

[2016-12-28 23:20] Shapedsundew9 commented on #3208
Found that this is a known issue: https://github.com/tensorflow/tensorflow/issues/3340
And a ticketed enhancement: https://github.com/tensorflow/tensorflow/issues/5548
See above tickets for work around.

[2016-12-28 23:30] aselle commented on #6541
Good catch @vrv, forgot the run() call. When putting in a run() call (see below code), I get
[code]
which I suppose is comparible to your results (yours was numpy 66x faster, and mine was like numpy 33x faster). One explanation is that the GPU FFT implementation is really not tuned to smalls sizes, so that it can't achieve the same performance of the CPU FFT on a relatively small 513 element array

[2016-12-28 23:44] aselle commented on #6518
This is an unfortunate known limitation, and we would welcome a patch that fixes it.

[2016-12-28 23:45] aselle commented on #6503
We are currently working on this internally and I've heard it may be close. @rmlarsen knows more.

[2016-12-28 23:47] aselle commented on #6506
What distriubtion and version of Linux?

[2016-12-28 23:49] aselle commented on #6532
@danmane, could you consider this feature?

[2016-12-28 23:51] aselle commented on #6502
Please ask this question on Stack Overflow. Others might have encountered this use case and have an elegant solution.

[2016-12-28 23:51] #6502 closed

[2016-12-28 23:52] aselle commented on #6473
@jart, could you take a look at this issue?

[2016-12-28 23:55] aselle commented on #6479
@dnamane, please consider this feature request. Thanks!

[2016-12-28 23:55] aselle commented on #6479
er @danmane

[2016-12-28 23:58] aselle commented on #6471
This question is best asked on Stack Overflow which is geared toward helping users of TensorFlow with usage questions. GitHub is concerned mainly with bugs and feature requests. Thanks!

[2016-12-28 23:58] #6471 closed

[2016-12-28 23:58] aselle commented on #6474
@danmane, please consider this feature request.

[2016-12-29 00:05] mbz commented on #6508
@mrry this graph might be interesting. this is the memory of PS overtime (one hour of log).

![image](https://cloud.githubusercontent.com/assets/1122127/21534139/147af5de-cd28-11e6-8865-9c04686b98d2.png)

which is in sync with network:

![image](https://cloud.githubusercontent.com/assets/1122127/21534144/24ebf44a-cd28-11e6-8539-ee27de20e32f.png)

unfortunately, it seems that Blue Waters (Cray to b

[2016-12-29 00:12] nmiculinic commented on #6506
Arch Linux,

[code]

[2016-12-29 00:20] rendi7936 opened #6546 "TensorFlow Implementation in MapReduce"
Hello guys,

First, i'm sorry if i break the rules. But, i really stuck right now. So, this is my last hope to ask this question.

I just want to ask something. Can i implement TensorFlow in MapReduce Programming Model within Hadoop ?

Yes, i know that TensorFlow can be runned in distributed mode, according this reference https://www.tensorflow.org/versions/r0.11/how_tos/distributed/ . But, it doe

[2016-12-29 00:41] jart commented on #6473
So you're writing a custom op. Can you post your Bazel build configuration?

[2016-12-29 00:46] mxmxlwlw commented on #6519
@inflation Yes, I downloaded it from slim page in tensorflow/models(repository)

[2016-12-29 00:48] aselle commented on #6506
and are you trying to load the built dso with a prebuilt tensorflow binary or did you build the tensorflow binary from the same bazel environment as the extension dso?

[2016-12-29 01:05] tristanbrown commented on #6136
This did not fix it for me. I'm still having the same problem.

[2016-12-29 01:43] tristanbrown opened #6548 "'No module named tensorflow' after installing via pip"
I'm running Anaconda on win64.
The files are in the correct site-packages directory, with an `__init__.py`, but python doesn't seem to be able to recognize the module, regardless of whether I'm working in a virtual environment or the root directory.
None of the following has changed this result:
[This.](https://www.tensorflow.org/get_started/os_setup#pip_installation_on_windows)
[This.](https://gi

[2016-12-29 01:46] inflation commented on #6519
No, I mean when you trying to train your model, does it produce anything in the output directory?

[2016-12-29 02:08] dennybritz opened #6549 "keep_checkpoint_every_n_hours is ignored"
I think that when creating a new saver [`here`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/graph_actions.py#L249), the `keep_checkpoint_every_n_hours` flag from the RunConfig should be passed to it.

[2016-12-29 02:16] nojvek opened #6550 "classify_image.py file not found at tensorflow/models/image/imagenet"
It seems the tutorials are out of date.

[2016-12-29 02:21] Carmezim commented on #6136
@tristanbrown could you please elaborate giving more specifics of what you did and used?

[2016-12-29 02:23] IgorWang opened #6551 "Can't restore a partitioned variable"
I have a large matrix.

I use bellow method create this variable as number of shards.
[code]
create log:
[code]
I can training and save it success. But when I try to restore model I got this error:

restore log
[code]

I found tensorflow save the variable as a whole part. The saved parameter just have one softmax_w. No longer a partitioned variable, I can use bellow code restore that variable.
[co

[2016-12-29 02:24] buaahsh opened #6552 "Issue with tf.matrix_diag() in 0.12.0 in Windows GPU mode (CUDA_ERROR_ILLEGAL_ADDRESS)"
Here is my code:
[code]
It works ok on a CPU but fails in a GPU mode with the following 'CUDA_ERROR_ILLEGAL_ADDRESS' error:

I have tried
[code]
and `x_diag_matrix = tf.matrix_diag([1., 1., 1.])` , Both work ok in a GPU mode. Maybe the tensor couldn't be input of  tf.matrix_diag() in a Windows GPU mode?

[2016-12-29 03:06] chitro commented on #42
Hello I am running Tensorflow examples on my Win 10 machine with Python 3.5.2 and latest TF  0.12.0 (those out of the box) and seeing errors on several of them. Seeing several errors. For example, the wide-N-deep tutorial is throwing the following (along with lots of deprecation messages)

Traceback (most recent call last):
  File "C:\projects\tf\tensorflow\tensorflow\examples\learn\wide_n_deep_tu

[2016-12-29 03:15] tristanbrown commented on #6548
I originally tried setting it up by generating an environment.yml file:
[code]
In the same directory, I use `conda env create`, followed by `activate tensorflow`. Running any `import tensorflow` statement then prints `ImportError: No module named 'tensorflow'`.

I've now found that I manually add 'C:\Program Files\Anaconda3\envs\tensorflow\Lib\site-packages' to my PYTHONPATH environment variable,

[2016-12-29 03:17] chitro commented on #4200
I'm seeing a similar issue with TF on native Windows 10 (TF 0.12) for dense_shape while running the wide_n_deep_tutorial shipped with the package. I pulled the latest version of TF as well but still didn't resolve the problem:

TypeError: __init__() got an unexpected keyword argument 'dense_shape'

Cannot comment whether this happens on Unix also. I've python 3.5.2 installed. Any ideas?

[2016-12-29 03:37] wgmao opened #6553 "Issue with tf.InteractiveSession()"
I try to train a neural net with nested loop `tf.while_loop`. If I start the session with `sess = tf.Session()`, the training process will start with the following log for one batch. There seems to be some memory issue, but it still works.
[log1.txt](https://github.com/tensorflow/tensorflow/files/676557/log1.txt)

But if I start with `sess = tf.InteractiveSession()`, there will be errors. The log

[2016-12-29 03:54] BaiGang opened #6554 "Bug or feature - Confusing shapes of Tensor resulted from `tf.decode_csv`"
[code]

The shapes of `label_tensor`, `weight_tensor` and `feature_tensor` are **`(200, )`**, **`(200, )`** and **`(200, 22)`** respectively.

If we put an extra comma at the end of line 4 and 5, like this:
[code]
Then the shapes become **`(200, 1)`**, **`(200, 1)`** and **`(200, 26)`** respectively.

So an extra comma determines the shape of the resulted tensor. I am not quite familiar with Pytho

[2016-12-29 04:46] jart commented on #4200
I recommend opening a new issue so it can go through triage. Windows support is very new.

[2016-12-29 06:59] anddelu commented on #1402
my environment:
centos6.5 x86_64
python 2.7

I use pip install tensorflow version1.2 succuessfully. However I enter python and import tensorflow, I met the error like above. I try above solution, but it still failed.
ImportError: /lib64/libc.so.6: version `GLIBC_2.16' not found (required by /data/apps/anaconda/lib/python2.7/site-packages/tensorflow/python/_pywrap_tensorflow.so)

Error importing te

[2016-12-29 07:11] zafartahirov opened #6555 "[minor] Non-silenced `pushd` followed by `popd` in `tensorflow/configure`"
`tensorflow/configure` has the following lines:

[code]

I am not sure what is the purpose of the `pushd` followed by `popd` without change in directory. I think this is not necessary, and distracts when reading the source codes. Unless it is allowed to run the `configure` from the directory other than the tensorflow root, it is completely redundant.

Also, the `> /dev/null` is commented out which

[2016-12-29 07:11] QoT commented on #4640
I tried all recipes above but stuck having build error:

`Making clean in .
/bin/sh: /Volumes/Macintosh: No such file or directory
make: *** [clean-recursive] Error 1
`

So, I did fix that by changing path to my Xcode not to have delimiters like spaces:

`/Volumes/Macintosh HD/Xcode 8.2.app -> /Volumes/Macintosh-HD/Xcode.app `

and now I can succesfully build:

`tensorflow/contrib/makefile/compile

[2016-12-29 07:18] Gubarev commented on #4640
@QoT Seems like your XCode location is not default. Usually it is installed via AppStore into /Applications/Xcode.app

[2016-12-29 07:24] gunan commented on #6548
There are some known anaconda issues.
In your pip install command, could you try adding the `--ignore_installed` flag

[2016-12-29 07:53] asimshankar commented on #6524
Discussing this in the pull request thread.

[2016-12-29 07:58] mrry commented on #6554
The extra comma is significant: it turns a `tf.Tensor` object (e.g. `parsed[0]`) into a single-element `tuple` (e.g. `(parsed[0],)`).  When you pass them to APIs that expect a single `tf.Tensor`, TensorFlow automatically packs lists and tuples of `tf.Tensor` objects into a single `tf.Tensor` with an additional dimension. Therefore, since `parsed[0]` is a scalar (a 0-dimensional tensor), `parsed[0]

[2016-12-29 07:58] #6554 closed

[2016-12-29 08:00] zafartahirov opened #6558 "`TensorContractionThreadPool.h' file not found` when using `--copt=-march=native`"
When trying to run

[code]

it fails with the `./third_party/eigen3/unsupported/Eigen/CXX11/FixedPoint:42:10: fatal error: 'src/Tensor/TensorContractionThreadPool.h' file not found` error.

Similar problem was seen in #4680, #580,

I am on Mac OS X Sierra 10.12.2 with no CUDA and cuDNN installed. I am using virtual environment on Python 2.7

Here is the checked commit and `bazel` version
[code]

T

[2016-12-29 08:04] zafartahirov commented on #6558
I can attach the `pip freeze` of my virtual environment if required, but I think this is an issue with `Eigen` not being downloaded

[2016-12-29 08:13] chenmx00 commented on #6558
2016-12-29 16:04 GMT+08:00 Zafar Takhirov <notifications@github.com>:

[2016-12-29 09:11] BaiGang commented on #6554
Thanks Derek for the detailed explanation. My question is resolved.

On Thu, Dec 29, 2016 at 3:59 PM, Derek Murray <notifications@github.com>
wrote:

[2016-12-29 09:19] damienmg commented on #4848
Is this still happening? I have some in progress change to fix invalidation of skylark remote repository (to avoid the clean --expunge in the configure step) but it shold not affect this one (or maybe it will).

[2016-12-29 09:55] rasmusbergpalm commented on #3937
I strongly disagree with the sentiment here.

This is how I've spent ~6 hours before I found this issue

* Run big hairy model for a couple of hours, everything is fine.
* Suddenly, NaNs everywhere.
* Google tensorflow debug nan. Tells me to insert `add_check_numerics_ops`. Great! Then I can at least know which tensor first get's the NaNs.
* Run model again. Immediately get NaN warning `gradients/

[2016-12-29 10:56] siebertlooije commented on #6279
Hello,

After the update to 0.12.1, I run into some problems with the "batch_matmul":

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: module 'tensorflow' has no attribute 'batch_matmul'

Is there changed anything in the latest version ?
(Maybe one of the collaborator can re-open this issue?)

Thanks

[2016-12-29 12:17] sjperkins commented on #6540
**tl;dr** Just use `pip` for everything, rather than `python setup.py ...` (a.k.a. `easy_install`) which is deprecated

Feel free to close if you don't want to support the legacy `easy_install` stuff.

@yifeif My use case for placing `tensorflow-gpu` in `setup_requires` is compiling custom ops into a shared library (python extension) during the installation process of a module I'm building. So I w

[2016-12-29 12:30] JackJiang1989 commented on #6483
Along with below files related with rnn is all gone...
'tensorflow/tensorflow/models'
'tensorflow/tensorflow/python/ops/seq2seq.py'
'tensorflow/tensorflow/python/ops/rnn_cell.py'
Why we delete it?

[2016-12-29 12:43] Itaydal opened #6560 "No tf.batch_matmul operation on source built 12.1 distribution"
Hi all,
I've build from sources the latest version (0.12.1) on my Ubuntu 16 machine.
Then I've found out that I no longer have tf.batch_mat:

import tensorflow as tf
tf.batch_matmul

Traceback (most recent call last):
  File "<ipython-input-2-95fcb8b3e629>", line 1, in <module>
    tf.batch_matmul
AttributeError: module 'tensorflow' has no attribute 'batch_matmul'

Any ideas for a solution?

Some

[2016-12-29 13:47] martinwicke commented on #1402
The binaries we provide do not work on CentOS 6.5, because the system libraries are too old. You will have to build from source.

[2016-12-29 13:53] AlexandreBriot opened #6561 "Android Camera Demo Errot when trying to replace default inception model"
Hey,

I am trying tu run the android camera demo with different model.
To get a simple use case, I started with a retrained inception model produced from the TensorFlow for Poets codelab tutorial classifying flowers.

What I have done ?
I place the new model pb file and the new label txt file in the assets directory.
I followed the recommendations specified in the ClassifierActivity.java file
1/ s

[2016-12-29 14:02] andrewharp commented on #6561
@AlexandreBriot You can run [optimize_for_inference.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/optimize_for_inference.py) on your GraphDef to strip out the unsupported-on-mobile nodes like DecodeJpeg.

[2016-12-29 14:56] Carmezim commented on #6548
When you said you tried the solution on #6136 if you just updated setuptools, as gunan pointed out the ignore flag may solve it.
If you had errors with `easy_install` during pip installation is a quirk between anaconda and pip that everytime both `setuptools` versions are out of sync this error happens.

[2016-12-29 15:15] fnl commented on #6558
If it helps, I've "resolved" the issue for me by tinkering around a bit and adding the missing header:

1. Add [`TensorContractionThreadPool.h`](https://bitbucket.org/eigen/eigen/raw/9ba936354ee8b73fb1966dcb2d3506387bb357f1/unsupported/Eigen/CXX11/src/Tensor/TensorContractionThreadPool.h) from [Eigen](https://bitbucket.org/eigen/eigen) "itself" to TF's `third_party/eigen3/unsupported/Eigen/CXX11/s

[2016-12-29 15:58] chitro commented on #4200
Ok thanks.

[2016-12-29 16:05] chitro opened #6563 "Tensorflow 0.12 on Windows - TypeError: init() got an unexpected keyword argument 'dense_shape' running example"
I downloaded the latest Windows native version of Tensorflow and having problems running some examples. I have Windows 10 (TF 0.12) with python 3.5.2.

The issue is with keyword dense_shape while running the wide_n_deep_tutorial shipped with the package. I pulled the latest version of TF as well but still didn't resolve the problem:

TypeError: init() got an unexpected keyword argument 'dense_shap

[2016-12-29 16:20] yaroslavvb commented on #3937
btw there's also dedicated `tf.square(x)` op. Another problem with `add_check_numerics` is that ops created by optimizers are not checked https://github.com/tensorflow/tensorflow/issues/2288

[2016-12-29 16:21] utensil commented on #5688
I've encountered the same issue on `tensorflow==0.11.0rc2` with latest `keras`:

[code]

I was feeding the CNN 10k 200x200x3 images per `fit`. When I gradually lower the number to 8k, the same issue no longer exist. On the other hand, with the 10k images per `fit`, the same CNN written in `tflearn` was just fine.

[2016-12-29 17:22] Randl commented on #5468
@yaroslavvb AFAIK, there is no full support of even non-native INT8 operations, and https://github.com/tensorflow/tensorflow/issues/4589 talks only about FP16

[2016-12-29 17:34] markroxor commented on #2494
Facing the same issue, can this be re-opened?

[2016-12-29 17:55] nmiculinic commented on #6506
I'm using prebuild binary from pip, ```tf.__version__ == 0.12.0```. Could it be something related to ABI? Since when I installed warp-ctc I had ABI compile problems where I had to put additional flag.

[2016-12-29 17:59] gunan commented on #2494
Are you using v2 checkpoints?
If not, could you try with v2 checkpoints, and if you are still facing the problem, please report a new issue as that will probably be a something new.

[2016-12-29 18:10] gunan commented on #4848
Yes, I am still running into this if I do bazel clean:
[code]