[2019-11-20 00:15] Shiro-LK commented on #32104
Regarding your gist on colab, I suspect it is normal to see slower training with 2.0. When you do `print(tf.test.is_gpu_available())` it returns False currently, so that means the gpu is not used right ?
Is it the case in your computer too?

[2019-11-20 00:17] gunan commented on #29644
Looks like the majority of the size increase came in v 14.
But there were two 10 MB increases before.

I cannot promnise a fix to this, but the best I can do is to maybe find an explanation for this increase.

[2019-11-20 00:24] gunan commented on #29644
From what I can see, there are 30 MBs of additional python files due to "tf.compat" module, 15 MB size increase in libtensorflow_framework, which may be explained by starting to use MKL-DNN for contraction kernels, 8 MB increase in XLA, another 9 MB in contrib, and a few megabytes of new headers. I think due to the preparation to 2.0, we did a lot of things, which accumulated.

I do not think we c

[2019-11-20 00:24] #29644 closed

[2019-11-20 00:25] gunan commented on #29053
Closing the issue, as this is a bazel toolchain autodetection problem, on an operating system not supported by us.
You can reach out to bazel team, or try getting help through stackoverflow.

[2019-11-20 00:25] #29053 closed

[2019-11-20 00:26] gunan commented on #27289
@alextp any ideas?

[2019-11-20 00:29] gunan commented on #28087
Looks like both of these ran into internal GCC bugs:
[code]
As we have not seen these issues ourselves, I do not think we can help much.
You can try reaching out to gcc community for help.

[2019-11-20 00:29] #28087 closed

[2019-11-20 00:30] #26095 closed

[2019-11-20 00:36] ydxt commented on #34222
@marcojerome  @ravikyram Thanks, I will try it with bazel 0.24.1

[2019-11-20 00:44] gunan commented on #33544
My only remaining explanation is, maybe you need to run `bazel clean --expunge`
Other than that, I cannot reproduce the problem as everything seems to be working fine for me with either visual studio 2017 or 2019 (on different VMs)

[2019-11-20 00:46] gunan commented on #33544
After running `bazel clean --expunge`, you need to run `configure` again, and then run bazel build command you are using.

Finally, with CUDA compute capability 3.0, we are not testing. so after going through all this trouble TF may crash.

[2019-11-20 00:51] houtoms commented on #33148
Yes, I can repro the error. Turns out the cudnnSetRNNDataDescriptor gives the BAD PARAM error. From the log, I can see you want to process the input data as 256 (batch size) x 144 (time steps) x 130 (unit size). But, when using masks, I observe that some entire sequences are masked out. For example, there could be only 25 meaningful sequences (at least having one time step) out of the 256 sequence

[2019-11-20 01:07] alanpurple opened #34429 "build failed with cuda 10.2"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04 x64
- Mobile device (e.g

[2019-11-20 01:16] igorhoogerwoord commented on #34376
@gowthamkpr thanks for getting back on this, what would you need me to share specifically in the gist or colab?

[2019-11-20 01:16] shishaochen commented on #30121
@wangsiyu @liyi193328 @sahiltyagi4 I guess all of you have explicitly offered the `tf.ConfigProto` consumed by the Estimator.
According to source of [run_config.py#L589](https://github.com/tensorflow/estimator/blob/r1.14/tensorflow_estimator/python/estimator/run_config.py#L589), TensorFlow will automatically add device filters to the created `tf.ConfigProto` in distributed training when the field

[2019-11-20 01:23] fmbao opened #34430 "Speech_command validation accuracy is very low,just 8.3%,Why?"
Hi ALL , I download from this repo. Run the example of speech_command.However, I find the validation accuracy just is 8.3%. I run the model by pycharm and the edition of tensorflow is 2.0.0b.

[2019-11-20 01:40] jam3st commented on #26595
No those flags are from gcc-march=native for IvyBridge. To my knowledge and that of wikipedia there are no know IvyBridge CPUs that have support AVX2. https://en.wikipedia.org/wiki/Advanced_Vector_Extensions

There are many many things that it could possibly be, but given the fact that these flags have remained constant for a few gcc versions and when I compile and AVX2 program with explicit AVX2

[2019-11-20 01:40] #26595 closed

[2019-11-20 02:09] klopez929 commented on #27909
same bug with tensorflow 2.0

[2019-11-20 02:19] Casco-csv opened #34431 "AttributeError: module 'tensorflow' has no attribute 'app'"
Hi, I'm new in the field of machine learning, and I started watching a video about how to classify images
Video: https://www.youtube.com/watch?v=EKe05rMG-Ww

but in a part when I run: python csv_a_tf.py --csv_input=CSV/test.csv --output_path=TFRecords/test.record --images=images

this gives me back:
----------------------------------------
Traceback (most recent call last):
  File "csv_a_tf.py", l

[2019-11-20 02:31] yyoon commented on #34395
Looks like the fix for this issue (04e169ac74a81b00507f1bb571513a5c2f61547f) has not been included in v1.15.0 tag. If you want to build it from v1.15.0, you could cherry-pick that patch to your local repository and build successfully.

[code]

Could you try this and see if this works?

[2019-11-20 02:42] csukuangfj opened #34432 "Model mismatch between create_low_latency_conv_model and cnn-one-fstride4"
https://github.com/tensorflow/tensorflow/blob/ba63d9082a2265da91ec4daefecfa4cd47fcf07f/tensorflow/examples/speech_commands/models.py#L337-L339

But the stride is actually **one** instead of **four**:

https://github.com/tensorflow/tensorflow/blob/ba63d9082a2265da91ec4daefecfa4cd47fcf07f/tensorflow/examples/speech_commands/models.py#L388-L389

which results in a **huge** increase of the number of p

[2019-11-20 02:44] ArtificialNotImbecile commented on #34185
I can not optimize the graph in `tensorflow=1.15.0`, it breaks my jupyter notebook every time I call the `trt.TrtGraphConverter()` function. I'll report the result If I can get the optimization work in `TF1.15`.

[2019-11-20 02:57] hahadashi commented on #22304
because you train your model with gpu,you can try load your model just cpu type

[2019-11-20 03:07] andirkh commented on #31932
reinstalling tensorflow works for me

[2019-11-20 03:17] oanush commented on #34407
@Sathis89 ,
Can you please open an issue in the [pywinauto](https://github.com/pywinauto/pywinauto/issues/new) repo as this is not related to TensorFlow.
Thanks!

[2019-11-20 03:18] #34407 closed

[2019-11-20 03:23] Raymondhhh90 commented on #29911
Any info about when will this bug be fixed?

[2019-11-20 03:30] ElPapi42 commented on #31973
Not working for me :/

[2019-11-20 04:02] fmbao commented on #34430
不要沉，我自己顶一下，顶，顶

[2019-11-20 04:15] zhanghaocol commented on #34357
yep, thank you.

[2019-11-20 04:15] #34357 closed

[2019-11-20 04:24] boluoyu commented on #33261
Any update?

[2019-11-20 04:29] alanpurple commented on #34117
Is this error related?

[code]

[2019-11-20 04:44] Devtapas commented on #31927
After installing tf-nightly, still i am getting the same error message.
I am trying to read the CSV file from hdfs using tf.data API.

Following is my code sample,-
(code is referred from: #https://www.tensorflow.org/tutorials/load_data/csv)
train_file_paths = ["hdfs://..../tr/titanic/train/train.csv"]
test_file_paths = ["hdfs://...../tr/titanic/eval/test.csv"]

LABEL_COLUMN = 'survived'
LABELS =

[2019-11-20 04:49] bmzhao commented on #34117
@alanpurple could you file a separate issue including all relevant information to reproduce the error? Please see https://github.com/tensorflow/tensorflow/blob/master/ISSUE_TEMPLATE.md#system-information

[2019-11-20 04:49] #34117 closed

[2019-11-20 04:52] shun-lin commented on #34431
Are you using tensorflow version 1.x or tensorflow version 2.x, in this tensorflow 2 guide, https://www.tensorflow.org/guide/effective_tf2, it says `tf.app` is removed. Therefore I think the code in `csv_a_tf.py` is using `tf 1.x` version and the tensorflow in your environment in 2.x. I hope this helps!

To resolve, either uninstall tensorflow 2.x and then install 1.x, or modify the code so that i

[2019-11-20 04:56] shun-lin commented on #34430
Hi!

May you update the tensorflow version to 2.0.0 in your environment and check the accuracy again? If the problem persists let me know! Glad to help.

[2019-11-20 05:04] fmbao commented on #34430
I run the model on two computers ,one the tensorflow is 1.14.0 , another is 2.0.0b.The result of two computers is same.Validation accuracy = 8.3% (**by the model of conv**). the confusion matrix is:
INFO:tensorflow:Confusion Matrix:
 [[371   0   0   0   0   0   0   0   0   0   0   0]
 [371   0   0   0   0   0   0   0   0   0   0   0]
 [397   0   0   0   0   0   0   0   0   0   0   0]
 [406   0   0

[2019-11-20 05:09] dbonner opened #34433 "r2.0/2.1 Python 3.8 AutoGraph could not transform <bound method LinearRegressionTF.fit of <tensorflow.python.eager.function.TfMethodTarget object at 0x7f7a5ccc1fa0>> and will run it as-is"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes (attached file code_warning_py38.py.txt -> rename it as .py and execute it)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): This problem occurs with

[2019-11-20 05:16] civilman628 commented on #32653
i have the same issue with tensorflow 1.12

[2019-11-20 05:27] shun-lin commented on #34417
Hi @zaccharieramzi,

I am the maintainer for [tqdm progress bar](https://github.com/tensorflow/addons/blob/master/docs/tutorials/tqdm_progress_bar.ipynb) in tensorflow addons, does this problem persists with `tfa`'s implementation of tqdm progress bar? Thanks!

[2019-11-20 05:37] dbonner commented on #34117
I am still in the process of building with bazel 1.1.0 and will report back how it goes.
If successful, can we update configure.py to allow maximum bazel version of 1.1.0 please?

[2019-11-20 05:37] shun-lin commented on #34430
Hi,

So the confusion matrix above indicates that every data points is been classified as the same class (that's why you see a column with numbers and all others are zeros). There may be many cause to this but one cause may be `layer` in the model the weights all become 0 and thus the output for rest of the models all become 0 as well (and as you can see from the confusion matrix that all points a

[2019-11-20 05:45] zxk19981227 commented on #1511
I also met this problem with the code above…… could anyone help with it？`ValueError: in converted code:

    <ipython-input-1-81054f0385cb>:856 train_step  *
        optimizer.apply_gradients(zip(gradients, transformer.trainable_variables))
    /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/keras/optimizer_v2/optimizer_v2.py:427 apply_gradients
        grads_and_vars = _filter_grads

[2019-11-20 05:46] sehargul-123 opened #34434 "tensorflow is not using GPU"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 18.04):
- Mobile device (e.g. iPhone 8

[2019-11-20 05:50] ravikyram commented on #34260
@TakeByEarn

Will it be possible to share minimal stand alone code to reproduce the issue reported here. Thanks!

[2019-11-20 05:54] ravikyram commented on #34228
@jianhuaxiao

Any update on this issue please. Thanks!

[2019-11-20 05:54] oanush commented on #34406
@sayakpaul ,
Looks like the issue is fixed in `tf-nightly-gpu`, can you confirm the same and close the issue ?Thanks!

[2019-11-20 05:56] ravikyram commented on #34216
@IntegralWorks

Any update on this issue please. Thanks!

[2019-11-20 06:00] fmbao commented on #34430
I just download from the repo of tensorflow by way of the zip file. I don't change any code.Just try to run it

[2019-11-20 06:01] gadagashwini commented on #34415
@fancyerii, Please take a look at this [link](https://www.tensorflow.org/api_docs/python/tf/config/threading). Thanks!

[2019-11-20 06:05] fmbao commented on #34430
When I debug the code, I find that  the all value of valid_fingerprint is not zero.

[2019-11-20 06:08] fmbao commented on #34430
I run the code by the 'run' buttom of  pycharm.

[2019-11-20 06:15] fmbao commented on #34430
I print the validation accuracy, validation input ,validation groundtruth:

I1120 14:04:10.739843 139977653700352 train.py:258] Step #5195: rate 0.001000, accuracy 76.0%, cross entropy 0.697745
INFO:tensorflow:Step #5196: rate 0.001000, accuracy 75.0%, cross entropy 0.892020
I1120 14:04:12.088193 139977653700352 train.py:258] Step #5196: rate 0.001000, accuracy 75.0%, cross entropy 0.892020
INFO:t

[2019-11-20 06:27] sayakpaul opened #34435 "Significantly slow training with TFRecords when the labels are one-hot encoded"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 2.0.0
- Python version:

[2019-11-20 06:32] sayakpaul commented on #34406
@oanush I can definitely check that out but there were some other issues I mentioned which I believe need some more attention. For example, the speedup not happening when using `tf.keras.mixed_precision.experimental.LossScaleOptimizer(opt, "dynamic")`. So, I would wait for a few days to get some pointers on that.

[2019-11-20 07:01] AVI18794 commented on #21967
I have the lastest version of python and still I am facing the same issue. Any help will be appreciated. I tried upgrading and downgrading the python version as well.

[2019-11-20 07:03] alanpurple commented on #34429
after set nccl version manually to 2.5.6, above error doen't appear, instead, another error as below came

[code]

[2019-11-20 07:04] lallallalu commented on #29635
too problem

[2019-11-20 07:07] Traeyee commented on #26144
Awful apis, awful warning, awful backward compatibility.

[2019-11-20 07:08] anshkumar commented on #34353
My platform is NVIDIA Jetson AGX Xavier; tensorflow is provided by nvidia. The list of version provided by them is [here](https://developer.download.nvidia.com/compute/redist/jp/v42/tensorflow-gpu/). (TF-TRT is enabled with the version of tensorflow in the link.) On google colabs, I don't know how to enable TF-TRT.

[2019-11-20 07:12] anshkumar commented on #34339
My platform is NVIDIA Jetson AGX Xavier; tensorflow is provided by nvidia. The list of version provided by them is here. NVIDIA does not provide Tensorflow-2.0 for Jetson.

[2019-11-20 07:14] tonmoyborah commented on #24665
Hi @zhuohuiyuan have you resolved this issue?
@suharshs  I am facing the same issue and I understand your point. So I went ahead and tested the pb and keras models on the same cpu as well- turns out tflite model (optimized) still takes double the time taken by the h5 model without any optimization. The invoke function actually in itself takes up that much time. What am I doing wrong? I don't think

[2019-11-20 07:34] JasonzhouCV commented on #14632
have u solved this problem? i've encountered this problem on windows , successfully generate libtensorflow.dll, but still receive some link errors.

[2019-11-20 07:40] gadagashwini commented on #34408
Issue is replicating on colab with Tf 2.0.
Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/d58b838b5dc4b2c91997e4c3d54a4700/untitled260.ipynb). Thanks!

[2019-11-20 07:40] stephen-systemfriend opened #34436 "Add GPU delegate support to the TFLite experimental c api"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): Yes

**De

[2019-11-20 07:46] stephen-systemfriend commented on #33127
Is there a workaround for this or any fix in any of the 2.x releases?

[2019-11-20 07:46] ravikyram commented on #34413
Looks like code is incomplete. Request you to provide minimal stand alone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2019-11-20 08:05] SivamPillai commented on #33030
I am using tf-nightly-gpu, and I still face the same issue:

`Name: tf-nightly-gpu
Version: 2.1.0.dev20191119
`
The memory profile still keeps increasing (image below) with each training fold which was not observed in TF1.X
![tfnightly2 x_memleak](https://user-images.githubusercontent.com/6624314/69220250-7cd90080-0baf-11ea-9184-80c4b5aa9b25.png)

[2019-11-20 08:11] ravikyram commented on #34199
I have tried on colab with TF version 2.0 ,2.1.0-dev20191119 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/d767a6d43b7280b9b2dbdff119b6afe1/keras-named-output-dict.ipynb). Thanks!

[2019-11-20 08:12] flashtimeLee opened #34438 "Build libtensorflow-lite.a with android-ndk-r14b and some errors has occurred"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (

[2019-11-20 08:13] oanush commented on #33780
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-20 08:13] #33780 closed

[2019-11-20 08:14] oanush commented on #33815
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-20 08:14] #33815 closed

[2019-11-20 08:15] oanush commented on #33875
@SophieChang66 ,
Any update on the issue?Thanks!

[2019-11-20 08:15] oanush commented on #33984
@leedrake5 ,
Any update on the issue?Thanks!

[2019-11-20 08:16] oanush commented on #34026
@gyc521zsc ,
Any update on the issue?Thanks!

[2019-11-20 08:18] dbonner opened #34439 "Build failure: undefined reference to protobuf symbols #34117 closed issue still occurring on r2.1"
Re: [https://github.com/tensorflow/tensorflow/issues/34117](url)
This issue is still occurring when I build r2.1 branch with bazel 1.1.0.
It has been fixed on head.  Would it be possible to implement the fix on build r2.1
Also the maximum bazel version needs to be increased to 1.1.0 in configure.py once the fix is implemented (in both head and r2.1).

[2019-11-20 08:27] nikochiko opened #34440 "Error while building API docs"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/compat/v1/flags/tf_decorator/tf_stack/FileAndLine

## Description of issue (what needs changing):
Get a `ValueError` while setting up to view TensorFlow-style HTML locally. (According to https://www.tensorflow.org/community/contribute/docs)

### Clear description
[code]

[2019-11-20 08:42] oanush commented on #34271
@sakurakatana ,
Hi,when tried running the given code I got  `TypeError: ('Keyword argument not understood:', 'units') `kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/d0d8cf9fc6b053c40b76463b88c5087b/34271.ipynb) of colab for reference. Thanks!

[2019-11-20 08:44] VitaMusic commented on #33544
I did the following

bazel --output_user_root user_root --output_base base shutdown
bazel --output_user_root user_root --output_base base clean --expunge
set CC_CONFIGURE_DEBUG=1
set BAZEL_VS=
set BAZEL_VC=C:\Program Files (x86)\Microsoft Visual
Studio\2019\Enterprise\VC
set BAZEL_VC_FULL_VERSION=14.23.2810
set BAZEL_SH=C:\msys64\usr\bin\bash.exe
conda activate tf2
python configure.py

bazel --out

[2019-11-20 08:51] kkimdev commented on #34270
@mdanatg FYI

Unfortunately, `@tf.function` is supposed to trace only direct Tensor manipulations.  I agree that it's not ideal but currently it's out of the scope for `@tf.function`.  For now, I suggest to manage the metadata outside of `@tf.function`

FYI, `@tf.function` is defined here https://github.com/tensorflow/tensorflow/blob/7cebef3019e9ec10fd81a021e56233527ae7c9d1/tensorflow/python/eager

[2019-11-20 08:52] gadagashwini commented on #33949
@ori-6over6, Closing the issue since its resolved. Thanks!

[2019-11-20 08:52] #33949 closed

[2019-11-20 08:56] gadagashwini commented on #34369
@songs18, Just to verify, Did you update the latest version using
`pip install -U tensorflow` ?

[2019-11-20 09:03] mftun commented on #34301
Same problem when run documentation example from [here](https://www.tensorflow.org/lite/convert/cmdline_examples#using_--output_formatgraphviz_dot_)

[code]
Output

[code]

[2019-11-20 09:21] tpeet opened #34441 "Updating the guide for building TensorFlow Lite with select ops for iOS"
Hi!

We followed the [guide](https://www.tensorflow.org/lite/guide/ops_select#ios), which seems bit outdated as `tensorflow/contrib` has been removed. We couldn't get TFLite model with select ops working on iOS, while the same model is working well on Android. It seems that bazel could also be used for building the library together with using private CocoaPods. We tested this approach but were als

[2019-11-20 09:26] sakurakatana commented on #34271
In the previous code, part of the content I copied incorrectly. I'm so sorry about that. I hope you can test it again. Thanks!

the code:
`# %%
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
impor

[2019-11-20 09:29] mimxrt commented on #33148
Thank you for your reply. The reason for processing 256 x 144 x 130 data is that I make the assumption that my maximum sequence (in real data) has approximately `256 * 144 = 36864` time steps (each time step has 130 values/features -> unit size). The shortest sequence has actually 3728 time steps. Hence, the input dataset in my example is generated using this shortest length and during processing

[2019-11-20 09:31] anthonyatp commented on #33693
the issue is the model using tensorflow version 2.0, however, google ai platform does not support this version yet. To get around this, you can create a notebook instance with a tf v2.0 environment to train the model

[2019-11-20 09:36] tpeet commented on #34326
For me it worked, when I saved model in the following matter:
[code]

And then added tensorflow-lite-select-tf-ops nightly build to the dependencies in build.gradle:
[code]

[2019-11-20 09:37] ravikyram commented on #34088
@bersbersbers

Will it be possible for you to raise a new issue by filling [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).Thanks!

[2019-11-20 09:37] JuanYan commented on #30191
This worked for me

[2019-11-20 09:39] zaccharieramzi commented on #34417
Hi @shun-lin ,

Thanks for the pointer. I have installed `tensorflow-addons` using `pip install tensorflow-addons`. However, when testing with the following code:
[code]

I get the following output:
[code]

Have you had this problem before?

Also, I noticed in the source code that you d[idn't allow a custom metrics formatting](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/call

[2019-11-20 09:39] rabbabot opened #34442 "OOM (out of memory) Without any reason on Tensorflow"
Everytime I try to run deepfacelab cuda 9.2 (the most updated version from a week ago) receive the following:

Using TensorFlow backend.
Loading: 100%|######################################################################| 654/654 [00:03<00:00, 196.88it/s]
Loading: 100%|####################################################################| 1491/1491 [00:06<00:00, 238.51it/s]
============= Model Sum

[2019-11-20 09:39] wrd90 commented on #34035
@kaploink Glad to hear you've been able to get some inference results! I have decided to move away from LSTMs for now. Instead I am currently buffering my observations and actions, which I then feed into the network as well. I am hoping this will perform well enough, but so far I have not seen any significant differences in the learning process compared to the LSTM version. Due to time restriction

[2019-11-20 09:39] songs18 commented on #34369
No, the environment i used is a sandbox created by virtualenv, i installed tensorlfow 2.0.0 just by insert the command 'pip install tensorflow'

[2019-11-20 09:40] ClementWalter opened #34443 "Metrics not added when tf.keras.Model is compiled without loss"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): ✅
- OS Platfor

[2019-11-20 09:45] songs18 commented on #34369
sorry, my tensorflow is actually the lastest version, i tried -U, the warning remains.

[2019-11-20 09:46] hustcat commented on #34375
@oanush Of course, what infomation do you need? I'v run horovod  successfully with NCCL/RoCE success on the same server.

[2019-11-20 09:48] vmarkovtsev opened #34444 "tf.reduce_mean crashes TensorFlow Lite"
**System information**
- Ubuntu 18.04 4.15.0-66-generic x86_64
- TensorFlow installed from (source or binary): official wheel
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d38 2.0.0
- Python version: 3.7
- CUDA/cuDNN version: N/A

**Describe the current behavior**

The program SIGABRTs (see the code below).

**Describe the expected behavior**

The program does not crash.

**Code to

[2019-11-20 09:48] sakurakatana commented on #34271
@oanush,
Because I am not familiar with the way github text is edited, causing some code to change after uploading, resulting in code error. I'm so sorry about that. I hope you can test it again, Thanks!

the new code：
[code]

[2019-11-20 09:50] mftun commented on #34301
Check that `~/.local/bin` in PATH.

[2019-11-20 09:52] byronyi commented on #34375
I doubt 2.5.4 is your actual NCCL version. AFAIK TF bundled NCCL is still 2.4.7: https://github.com/tensorflow/tensorflow/blob/master/third_party/nccl/archive.patch

[2019-11-20 10:04] yashmanuda opened #34445 "Adapter to allow sparse matrix as target labels in Keras models"
Tensorflow version : 2.0
OS : Debian 9

I am training a sequential model as shown below :

    model = Sequential()
    model.add(Embedding(input_dim=170000, output_dim=100, input_length=10))
    model.add(GlobalAveragePooling1D())
    model.add(Dense(num_target=3811, activation='softmax'))
    model.compile(loss='categorical_crossentropy', optimizer=Adam(learning_rate=0.001))

    model.fit(X_tra

[2019-11-20 10:05] freddan80 commented on #33802
Thanks for raising this issue! It would be great to see such a flowchart.

[2019-11-20 10:09] hustcat commented on #34375
@byronyi Yeah, you are right, It seems that TF use the NCCL 2.4.7 actually:

[code]

But I'v installed the NCCL 2.5.4 base on the docker image `tensorflow/tensorflow:2.0.0-gpu`:

[code]

[2019-11-20 10:19] hustcat commented on #34375
Only libnccl.so 2.5.4 exist in the container:

[code]

[2019-11-20 10:25] hustcat commented on #34375
should I install the NCCL 2.4.7 library with TF?

[2019-11-20 10:25] DocDriven commented on #34277
No worries. I am using the devel-py3 docker image to generate the libtensorflowlite.so library. I built it with the extended runtime because not all my used ops were supported by tflite. I had an issue regarding the build here: #33980

I built your minimal.cc example and executed it with my model. Notice that I did not provide inputs/read outputs. Upon inspection, this look reasonable to me:

[cod

[2019-11-20 10:52] lytum commented on #29092
Sorry, i still have the problem "CMake Error at tf_python.cmake:217 (message):
  Python module not found: tensorflow/contrib/tpu/ops"

and I download the tensorflow-r1.14 from github

Do you have any suggestion about the error? Many thanks for any information.

[2019-11-20 10:59] kangkang59812 commented on #30524
Sorry to bother, I meet this `Converting unsupported operation: TFLite_Detection_PostProcess` too. Where should I add this `converter.allow_custom_ops = True`?

[2019-11-20 11:07] ravikyram commented on #34429
Can you downgrade to cuda 10.0 and see how it progress.Thanks!

[2019-11-20 11:11] kangkang59812 commented on #30524
So how to solve this problem `Converting unsupported operation: TFLite_Detection_PostProcess` exactly?
(1)export_tflite_ssd_graph.py --pipeline_config_path training/ssdlite_mobilenet_v2_coco.config --trained_checkpoint_prefix training/model.ckpt-19780 --output_directory tflite_graph --add_postprocessing_op True. ---->  add_postprocessing_op True or Flase

[2019-11-20 11:12] kiflowb777 commented on #33789
Related topics: https://github.com/tensorflow/tensorflow/issues/34443

[2019-11-20 11:15] sergeay opened #34447 "Tensorflow C/C++ only?"
- OS Platform and Distribution Linux Ubuntu 18.04
- Virtual guest on windows hyperV

Trying your installation steps and fails again and again:

pip install -U pip six numpy wheel setuptools mock 'future>=0

It's trying to connect without success, although the machine does not have any network issue.

Is there a way to use TensorFlow w/o python , only C/C++?

[2019-11-20 11:16] kiflowb777 commented on #34413
@xuchengggg if you use tf2.0 you have to change:
`model.metrics_tensors.append(loss)`
to
`model.metrics.append(loss)`

More info: https://github.com/tensorflow/tensorflow/issues/33789

[2019-11-20 11:19] abhiverma1924 commented on #34447
@sergeay Can you please explain clearly, what you are trying to do?

[2019-11-20 11:21] kiflowb777 commented on #34408
I have similar problem with custom layers in tf.keras: https://github.com/tensorflow/tensorflow/issues/33785
It seems like tf.keras cannot compute custom layer's shape.

[2019-11-20 11:21] kuozhang commented on #32487
I also met this problem, and use above the internal fix, thanks !
still I have few questions:
1. is this a bug and will be fixed in the later version or this is the way to use it?
2. what causes this ?
3. if i don't set this option, but to do some changes to the dataset, will it work as expected ?

[2019-11-20 11:33] bersbersbers opened #34448 "model.compile() should check for unknown kwargs"
**System information**
- TensorFlow version (you are using): TF2
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
This code works:
[code]

I believe this code should throw an exception stating that `why_does_this_not_fail` is not a known argument.

**Will this change the current api? How?**
No.

**Who will benefit with this feature?**
Anyone

[2019-11-20 11:43] bersbersbers opened #34449 "TensorBoard callback should not close and reopen writers to enable reuse"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, see below
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OpenSUSE
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d38 2.0.0
- Python version: 3.7.5

**Describe the current behavior**
Currently,

[2019-11-20 12:14] tlkh commented on #34406
When using `tf.keras.mixed_precision.experimental.set_policy('mixed_float16')`, the last layer (softmax layer) must currently be set to have `dtype=tf.float32` and it will work:

[code]

However, you are not seeing speed-up because of a few reasons:

- The model is too small (only 60554 params), so other overheads (casting, padding) have greater impact that speeding up the layers
- Many shapes in

[2019-11-20 12:18] yashmanuda commented on #34445
EDIT : You can't use Sparse tensors either in mode.fit()

Failed to convert object of type <class 'tensorflow.python.framework.sparse_tensor.SparseTensor'> to Tensor. Contents: SparseTensor(indices=Tensor("DeserializeSparse:0", shape=(None, 2), dtype=int64), values=Tensor("DeserializeSparse:1", shape=(None,), dtype=int64), dense_shape=Tensor("DeserializeSparse:2", shape=(2,), dtype=int64)). Consid

[2019-11-20 12:34] #30602 closed

[2019-11-20 12:34] tensorflowbutler commented on #30602
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-11-20 12:45] gillesvtsilvano commented on #4960
Same problem with tensorflow 2.0.0, glibc 2.12 on centos 6.5.

[2019-11-20 12:50] evgps commented on #33101
Is there any solution for the issue?

[2019-11-20 12:57] bhack commented on #34447
If you want c++ only check https://jacobgil.github.io/deeplearning/tensorflow-cpp

[2019-11-20 13:09] JasperGeurtz commented on #32381
copying only `cudart64_100.dll` from a 10.0 installation into the 10.1 `bin` folder seems to work (as a workaround until 10.1 support is added)

[2019-11-20 13:10] bersbersbers opened #34451 "'accuracy' and tf.metrics.get('accuracy') produce different results"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, see below
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OpenSUSE
- TensorFlow installed from (source or binary): pip binary within pyenv
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d38 2.0.0
- Python version: 3.7.5

**Describe the current behav

[2019-11-20 13:15] sayakpaul commented on #34406
@tlkh thanks much for your pointers. I experimented today with ResNet50V2 as well but could not observe any significant improvements. You can find the notebook [here](https://gist.github.com/sayakpaul/e595b12b09dbb40e452db0289a6aa76c).

Also, did you check out experiments with `tf.train.experimental.enable_mixed_precision_graph_rewrite(opt)` and `tf.keras.mixed_precision.experimental.LossScaleOpti

[2019-11-20 13:40] ValYouW commented on #28105
OK, trying the `master` branch and `ios_arm64` does compile, however it fails linking due to mac's clang I believe, I get the error:
`ld: unknown option: -z `
and if I remove the `-z defs` option from the BUILD file it fails on the other option which is unknown: `--version-script`.
Any idea??

[2019-11-20 13:52] Passenger12138 opened #34452 "python3.7.3 Anaconda tensorflow No module named 'joblib'"
I have successfully installed the sklearn library, but it shows the code running result display.
No module named 'joblib'
I am very confused, I hope to get your answer, thanks ‘
Here is my code

---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-25-638e12154cef> in <module>
----> 1 f

[2019-11-20 14:04] asus4 commented on #31119
Hi, a simple way is importing pre-build `TensorFlowLiteC.framework` from CocoaPods

Just make the blank Xcode project with Podfile and copy it.
[code]

and need to modify `[DllImport (TensorFlowLibrary)]` to  `[DllImport (__Internal)]`
of use my PR #34450

[2019-11-20 14:16] tlkh commented on #34406
**2 - MP in tf.keras 2.0.ipynb**

- **Your training is CPU bottlenecked due to the data augmentation**.  Just adding `use_multiprocessing=True` and `workers=8` to the fit function cuts each epoch from 30+s to 20+s on my workstation (20 core Xeon processor). Using tf.data (in particular the `prefetch` function) would likely yield much better results.
- In any case, I don't think you're using the mi

[2019-11-20 14:26] Cospel opened #34454 "Layer model is not connected, no input to return."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macos mohave
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip install tensorflow==2.0.0
- TensorFlow version (use com

[2019-11-20 14:31] sayakpaul commented on #34406
@tlkh thank you for providing the information. I could not find this on the documentations I had studied. Moving forward, I will consider these and will report back accordingly.

[2019-11-20 14:31] #34406 closed

[2019-11-20 14:31] mdanatg commented on #34270
Indeed, it would be cleaner to encapsulate those tensors inside structures that `tf.function` supports, like `namedtuple` objects. These structures could then carry the values along with the metadata. In general, tensors generally have semantics of opaque values (unfortunately not uniformly implemented right now), so in theory they should not allow setting custom attributes (they should behave mor

[2019-11-20 14:41] RunOrVeith opened #34455 "tf.ragged.stack breaks with rank-1 regular tensors"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary pip
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d38 2.0.0
- Python version: 3.6.5
- CUDA/cuDNN version: CUDA 10.1 cuDNN 7.6.2.

[2019-11-20 14:53] zaccharieramzi opened #34456 "AsyncResult hangs in unexpected cases in fit_generator"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from: pip
- TensorFlow version: 2.0.0b1
- Python version: 3.6.8
- CUDA/cuDNN version: V10.0.130
- GPU model and memory: Quadro P5000 (16GB)

**Describe the current behavior**
I have a very complicated model solving an image-to-image problem. I also use a custom callbac

[2019-11-20 15:03] lojzezust opened #34457 "Model.fit displays wrong total count in progress bar when using validation data with undefined length"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04.6 LTS
- TensorFlow installed from (source or binary): binary (pip install tensorflow)
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d38 2.0.0
- Python version: 3.6.8
- CUDA/cuDNN version: /

[2019-11-20 15:13] grzjab opened #34458 "Using skip and ignore_errors cause training hang"
Using skip on a dataset that contains corrupted data and then applying ignore_errors() causes fit method to hang before the validation step. The fit method uses dataset for training and validation.

This behavior was reported using
Ubuntu 18.04, Tensorflow 2.0.0 installed using pip, python 3.7.3

[code]

[2019-11-20 15:24] scentini commented on #34117
I believe the undefined symbols errors are caused by 2 different Bazel flags:
`--incompatible_remove_legacy_whole_archive`
`--incompatible_do_not_split_linking_cmdline`

@bmzhao confirmed that `--incompatible_do_not_split_linking_cmdline` allows for a successful build even without the fix [5caa9e8](https://github.com/tensorflow/tensorflow/commit/5caa9e83798cb510c9b49acee8a64efdb746207c)

The `--in

[2019-11-20 15:30] perfinion commented on #34429
@ravikyram Cuda 10.0 and 10.1 are supported and have been for a fair while now, this looks new.

@yifeif have you tried cuda 10.2 yet?

[2019-11-20 15:31] zaccharieramzi commented on #34456
I finally managed to create an example involving `fit_generator`:

[code]

It's not bare yet, but at least it reproduces the error, and you just need to install `keras-tqdm` to get it working (= hanging).

[2019-11-20 15:51] shun-lin commented on #34417
Hi!

Can you pip install using this following command?

`!pip install -q --no-deps tensorflow-addons~=0.6`

(without the `!` if in terminal or with `!` if in notebook)
Since I just added the tqdm progress bar callback recently, it will be available with regular `pip install tensorflow addons` in the next release, so now we need to add a bit more flag to as above to install.
I did not include a cus

[2019-11-20 15:55] pw2393 commented on #34322
@rmothukuru Thanks for the label. But it may be a `comp:op` bug for `collective_gather` instead of a GPU bug.

[2019-11-20 16:06] yenicelik commented on #24529
@breadbread1984 Did the stackoverflow post resolve the issue for you? I have the same problem amongst TF 1.14, TF 1.15 and TF 2.0, and I don't want to wrap the entire code inside a `tf.GradientTape`

[2019-11-20 16:08] dtsmith2001 opened #34459 "Modifications to BUILD to Use Target libtensorflowlite and make tar.gz"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS
- Mobile de

[2019-11-20 16:26] gregsadetsky opened #34460 "404 link in documentation"
## URL(s) with the issue:

https://github.com/tensorflow/docs/blob/master/site/en/r1/tutorials/sequences/audio_recognition.md

## Description of issue (what needs changing):

Non functioning link in the documentation:

[code]

https://download.tensorflow.org/data/speech_commands_v0.01.tgz leads to a non working page.

[2019-11-20 16:39] srjoglekar246 commented on #30524
@kangkang59812 Please look at the following snippet in the first comment:

[code]

There, we need to add `converter.allow_custom_ops = True` for the TFLite SSD inference to work.

And about your second comment: Yes, we need to set `--add_postprocessing_op True`

[2019-11-20 16:51] RaphaelMeudec opened #34461 "Can't load libcublas 10.0 on nightly build 2.1.0"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version: tf-nightly-gpu==2.1.0.dev20191120
- Python version: 3.6.8 or 3.7.3
- Installed using virtualenv? pip? conda?: pip
- Bazel version (i

[2019-11-20 16:53] trialzuki commented on #29092
Hi.
As I can remember I'm already make the same fix it in my local copy. )

[2019-11-20 16:54] saravanabalagi commented on #19731
I tried the following things, but, none **guaranteed** to free the memory up
[code]
Creating [separate processes](https://stackoverflow.com/a/58944126/3125070) always worked and **guaranteed** that the memory is freed up than the following. Further that helped me manage and allocate resources the way I wanted.
[code]

[2019-11-20 16:56] Rassibassi commented on #34336
Thank you very much. And sorry, I thought this was an actual bug. I should have searched a bit more or read the doc's.

[2019-11-20 16:56] #34336 closed

[2019-11-20 16:56] shun-lin commented on #34408
@kiflowb777 I think the problem is different from [#33785](https://github.com/tensorflow/tensorflow/issues/33785) as this issue is due to the `test_layers` in `test_utils` not expecting a list/tuples of tensors.

[2019-11-20 17:03] IntegralWorks commented on #34216
@ravikyram
Sorry, new to GitHub and I'm busy this week with examinations. I hope this
message reaches you; I'm replying on email.
Unfortunately I decided using Docker for my project was not worth it and I
ended up successfully installing dlib with CUDA support on bare
metal/regular install.
I noticed that the key difference between my regular install and the Docker
container is that the container

[2019-11-20 17:07] itemko commented on #34222
JFYI
For our similar case the problem is not reproducible with TensorFlow master since yesterday (looks like there were some fixes). Bazel version: 0.29.1.
For example, this TensorFlow commit (95051b912c0b00f9cde62aada17687151944eb0d) is built successfully.

[2019-11-20 17:08] itemko commented on #34117
JFYI
For our similar case the problem is not reproducible with TensorFlow master since yesterday (looks like there were some fixes). Bazel version: 0.29.1.
For example, this TensorFlow commit (95051b9) is built successfully.

[2019-11-20 17:17] dtsmith2001 commented on #34459
Apologies! My change worked. I found `libtensorflowlite.tar.gz` in `bazel-bin/tensorflow/tools/lib_package/`. I'll fork, push, and make a PR.

[2019-11-20 17:25] jsimsa commented on #34153
@thijskooi thank you for reporting the issue. Could you please provide working example that can be used to readily reproduce the issue to aide with debugging? Thank you.

[2019-11-20 17:27] pw2393 commented on #33894
@haoyuz Thanks a lot! BTW, any chance you might know how to deal with #34242 ?

[2019-11-20 17:34] gunan commented on #33544
In my case, I never need to set the following:
[code]

Moreover, Visual Studio 2019 version numbers will be of the form `16.x.x` Your VC full version that starts with 14 is inconsistent with the VC path.

Could you try not setting any of that, and also share your full configure script output?

[2019-11-20 17:42] GaoFangshu commented on #34074
@YujieLu This issue page might help: [https://github.com/tensorflow/tensorflow/issues/21362](https://github.com/tensorflow/tensorflow/issues/21362)

[2019-11-20 17:44] VitaMusic commented on #33544
I've the both , v14.23.28105 too.
in my previous message I showed that without this settings it can not find
a good version of VS c++ tools.
I'll do output of configure script too.

On Wed, Nov 20, 2019 at 6:34 PM Gunhan Gulsoy <notifications@github.com>
wrote:

[2019-11-20 17:47] xiang123 commented on #34425
in configure.py, I only put yes for Do you wish to build TensorFlow with CUDA support? [y/N]: Y.

[2019-11-20 17:49] gunan commented on #33544
That may be the reason bazel gets confused.
You have two toolchains installed, and you are using two different environment variables to tell bazel to use two different visual studio compilers. You use BAZEL_VC to tell it to look for 2019, but the BAZEL_VC_FULL_VERSION tells it to look for 2015.

Please try not setting either of those, in a new terminal, bazel clean, configure, and try bazel build.

[2019-11-20 17:49] jdduke commented on #34033
My comment about avoiding recreation was based on your snippet in the original issue report. If that's not how you're actually using it in the app, that's fine.

What device(s) are you testing against? And can you provide a link to the exact .tflite model you're using? Thanks.

[2019-11-20 17:51] alextp commented on #27289
Huh I noticed the same thing, it makes our test failure logs very unfortunate to read.

Do you know if this is something TF itself does or if it's a property of the library we use under the hood for unit tests, https://github.com/abseil/abseil-py/blob/master/absl/testing/absltest.py ?

[2019-11-20 17:52] pwais commented on #19731
+1 @saravanabalagi subprocess works for me, but that is in many cases impractical.

[2019-11-20 17:52] PrieureDeSion commented on #28326
I was facing the same problem with tf2.0

Setting up cudnn [7.6.1] and cudatoolkit [10.1] in my conda env fixed this for me! Thanks @sidd-hart

[2019-11-20 18:10] olesalscheider commented on #33688
Why was a64ff0f2cda9d4e35ea450d4e945009a90ddee9a rolled back?
Since the rollback this issue is valid again.

[2019-11-20 18:15] jaingaurav commented on #33688
@olesalscheider: We unfortunately hit a number of model performance regressions due to this change. We're still trying to investigate but this is isn't surprising given how careful one needs to be about device placement.

I'm not sure what all models we have available publicly for you to look into. But the issue seemed pretty wide-spread (at least for pure eager workloads).

[2019-11-20 18:26] rchao commented on #33030
Thanks @SivamPillai for the update. We'll continue to investigate into this.

[2019-11-20 18:26] suharshs commented on #33572
Hi, I have a CL in progress to fix this.

[2019-11-20 18:30] mirekphd commented on #19731
Seeing this issue (and its many variations) closed, we see it is a design flaw and should move on. For new projects that need no JavaScript runtime I will always recommend PyTorch, which has a dedicated function for releasing GPU memory, `torch.cuda.empty_cache()`

Saves a lot of hacking around memory management and as a bonus the API proved more stable over time...

[2019-11-20 18:36] rchao commented on #34408
Chatted with @shun-lin and Shun is happy to contribute. Thanks Shun!

[2019-11-20 18:38] houtoms commented on #33148
Yes, your understanding is correct. And cuDNN doesn't support zero samples in batch for now.

I am not sure if it is possible/how to change the batch size during training using tf.dataset (@qlzh727 some tf.dataset experts?). Batch size 1 could work, but it might significantly affect the performance.

Or you could try to change the way you split your sequence into the batch, like using seq_len/batc

[2019-11-20 18:55] ymodak commented on #34434
Please switch to cuda 10.0 or gpu support
See [software requirements](https://www.tensorflow.org/install/gpu#software_requirements)

[2019-11-20 18:56] suharshs commented on #33352
This is WIA. The code is still in the repository but this code is not exposed intentionally in TF 2.0 as graphs are not central in 2.0, look to Grappler as the place for TF rewrites now.

[2019-11-20 18:56] #33352 closed

[2019-11-20 18:58] suharshs commented on #33144
Its seems that your representative dataset is feeding string tensors can you double check the type of input_value and make sure it is the correct type (FLOAT)

[2019-11-20 19:13] qlzh727 commented on #33148
@houtoms, Thanks for providing the context.

From high level API's perspective, I would expect the kernel to just return zeros for any of the sequence that is fully masked, rather than asking user to remove those values from the batch. It will be quite complicate to ask user to handle this on the python side.

@houtoms, will it be complicated to add this support (fully masked sequence) in the cudn

[2019-11-20 19:17] infil00p commented on #34395
@yyoon It does work.  So...a couple of questions:

1. Does this just build on Linux?
2. Will there be a patch release with this fix? Or should I just create a custom tag of v1.15.0+select_ops_fix?

[2019-11-20 19:18] robieta commented on #32477
@kkimdev The original code is now failing due to the assert in `ops._override_gradient_function` which comes from https://github.com/tensorflow/tensorflow/commit/cafc2b641f62d00ba00c8fb7742f3c2ebc80c387. Can you take a look?

[2019-11-20 19:20] gowthamkpr commented on #34452
Install joblib package using this command
`conda install -c anaconda joblib`
and this should solve your issue.

If you are still running into the sane issue, you can go through the following questions [#1](https://stackoverflow.com/questions/35103338/python-no-module-named-how-to-use-pip) and [#2](https://forum.knime.com/t/modulenotfounderror-no-module-named-joblib/15275).

[2019-11-20 19:20] jvishnuvardhan commented on #33101
@payne4handsome It clearly shows the error `_FallbackException: This function does not handle the case of the path where all inputs are not already EagerTensors.`. This requires input to be one of the following as mentioned in TF website.

Currently, you are providing a graph tensor. Please close the issue if it is resolved. Thanks!

[2019-11-20 19:22] houtoms commented on #33148
Yes, I agree with you. I am contacting the cuDNN about this issue. Will update when I get any feedback.

[2019-11-20 19:26] itemko commented on #33519
The issue is not reproducible anymore (e.g. no hanging with one of recent TensorFlow commits 95051b912c0b00f9cde62aada17687151944eb0d).

[2019-11-20 19:26] #33519 closed

[2019-11-20 19:26] JimBiardCics opened #34462 "Please don't implement a feature suggested in a categorical cross-entropy TODO"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): v2.0.0
- Are you willing to contribute it (Yes/No): Yes

*

[2019-11-20 19:30] ymodak commented on #34351
Are you able to import TF in the anaconda prompt after installation?

[2019-11-20 19:32] MeghnaNatraj opened #34463 "Unify the APIs on a tf.keras.Model when trained vs when it is saved and loaded."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0.0
- Are you willing to contribute it (Yes/No): No

**D

[2019-11-20 19:46] joshuahyatt commented on #33014
I experienced the same issue, here is an example to reproduce the error and view a similar model that does work.

[code]

[2019-11-20 19:48] gowthamkpr commented on #34451
@bersbersbers This has been fixed in the latest version of tf-nightly. Please find my gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/caca35bfc6f28afa2c3744951bd826b1/untitled247.ipynb).

[2019-11-20 19:52] gowthamkpr commented on #34376
@igorhoogerwoord Please try Reproducing your issue [here](https://colab.sandbox.google.com/notebooks/welcome.ipynb). Thanks!

[2019-11-20 19:52] ymodak commented on #34310
The version will be same and you may use the above snippet to get tf version. Thanks!
Closing this issue now, feel free to reopen if have any questions. Thanks!

[2019-11-20 19:52] #34310 closed

[2019-11-20 19:56] hdu-hh commented on #19944
**ConcatGradient** has [already been implemented](https://github.com/tensorflow/tensorflow/commit/084075e4e967677fc0be9fe921a0157126e69617) in 2016 and has been in many Tensorflow releases from before version 1.0 and is there today.

The error **No gradient defined for op: Concat** seems to come from the Lookup() method of a **GradOpRegistry** singleton. The gradient functions managed there are re

[2019-11-20 19:57] simonchen375 commented on #34326
@tpeet, thank you for your reply! I was using the same convert scripts, but built a local Tensorflow lite aar by Bazel from source. So did you succeed in using tf.signal.mfccs_from_log_mel_spectrograms, or any mfcc function like audio_ops.mfcc in a Tensorflow lite on android? If so, could you kindly provide more details, like your Tensorflow version, lines of codes using mfcc? Thank you so much!

[2019-11-20 19:59] #33346 closed

[2019-11-20 20:10] gunan commented on #27289
Ah, I misread that after the logging it still fails, but it is just the logging.
I think assertRaises comes from this implementation in python unittest:
https://docs.python.org/3/library/unittest.html#unittest.TestCase.assertRaises
https://github.com/python/cpython/blob/3.8/Lib/unittest/case.py#L208
I cannot see where it prints anything in the terminal.

The message looks like it is fully construc

[2019-11-20 20:13] bersbersbers commented on #34451
I believe this is not fixed. Your gist clearly shows this output, with different accuracy values reported:

[code]

[2019-11-20 20:20] alextp commented on #27289
Are we sure we depend on python unittest and not absl for assertraises?
(not that I see a print anywhere on absl's code either).

I wonder if we can debug this somehow; maybe redirect stdout to a pipe and
stop reading from this pipe when an exception comes and then crash the
python program to get a stack trace?

On Wed, Nov 20, 2019 at 12:10 PM Gunhan Gulsoy <notifications@github.com>
wrote:

--

[2019-11-20 20:26] SumNeuron opened #34466 "TF 1.15 to TF 2.0 breaking changes even with tf.compat.v1 for saving models for use with tf serving"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-11-20 20:59] gunan commented on #27289
https://github.com/abseil/abseil-py/blob/master/absl/testing/absltest.py#L519

Absl inherits from unittest.Testcase, and I cannot find an override of assertRaises within absl.

[2019-11-20 21:00] jvishnuvardhan commented on #34404
There are lot of resource like [this](https://www.leadergpu.com/articles/429-tensorflow-resnet-50-benchmark) on benchmark performance of tensorflow.

This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub i

[2019-11-20 21:08] jvishnuvardhan commented on #34346
@Shiro-LK can you please create a standalone code to reproduce the issue. It will be faster to resolve the issue that has a standalone code. If this is not related to a Bug/Performance, then please post it in Stackoverflow. Thanks!

[2019-11-20 21:25] ymodak commented on #34368
Code you provided is incomplete. Please provide minimal reproducible test case. Thanks!

[2019-11-20 21:32] jvishnuvardhan commented on #33913
@RomanSteinberg did you had a chance to look at my gist. Please close the issue if it was resolved already. Thanks!

[2019-11-20 21:35] jvishnuvardhan commented on #33908
@sunzhe09 Can you please provide a standalone code to reproduce the issue? Thanks!

[2019-11-20 21:38] ymodak commented on #34235
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

Thanks!

[2019-11-20 21:38] #34235 closed

[2019-11-20 21:47] jvishnuvardhan commented on #33942
@OverLordGoldDragon Can you please provide a simple standalone code to reproduce the issue? If you can, please create a colab gist or Jupyter notebook whichever is convenient to you. Can you please add more details on what you mean by

Thanks!

[2019-11-20 21:53] jvishnuvardhan commented on #34113
@LucasSloan Did you had any time to prepare simple standalone code to reproduce the issue? Thanks!

[2019-11-20 22:21] jsimsa commented on #34311
You can implement your custom batching logic using existing tf.data transformation thanks to the following API: https://github.com/tensorflow/community/blob/master/rfcs/20180726-tf-data-windowing-reducers.md

[2019-11-20 22:51] wdirons commented on #34461
The nightly builds, which use the master branch, and is for the release after 2.1, have switched to CUDA 10.1.

This was done with commit: https://github.com/tensorflow/tensorflow/commit/7ed383001f1e70a995b2da25db17cb676745f9c5#diff-ade1d3e4b7c35655f854151d899df62b

[2019-11-20 22:53] Molkree commented on #34117
I was having the same issue with https://github.com/tensorflow/tensorflow/commit/76f94a5f0777abe8697cdfc7e1c79484760fd1b5 but adding --noincompatible_do_not_split_linking_cmdline as @scentini suggested allowed to build successfully (thank you!).

[2019-11-20 22:57] vatsuak commented on #21251
I am facing a similar issue, I am able to build my ops using Bazel, which is, in turn, creating a .so file in the Bazel-build folder but then when I load a prebuild graph(.meta file) and attach it to my sessions using in C++, it says that kernel not registered. It works using the python api. Also, I am able to load graphs without any custom ops with the same c++ api. The call to TF_LoadLibrary doe

[2019-11-20 23:11] jdduke commented on #26584
@lu-wang-g and @xunkai55 , would one of you mind taking a pass at improving the documentation here? Thanks!

[2019-11-20 23:24] Bidski opened #34469 "ValueError with tf.data.Dataset and model.fit and tf.distribute"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-11-20 23:24] jdduke commented on #34277
I suspect the issue here may just be to poor C++ ABI stability when using different compile flags or options across shared library boundaries, particularly if you're using a very different pipeline for your client app.

I'd be curious if you see the same issues when using the C API as supported by [this shared library](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experiment

[2019-11-20 23:26] lu-wang-g commented on #26584
No problem. I'll take a look at that.

[2019-11-20 23:28] mrgloom commented on #7439
Is run under horovod average batch norm statistics across gpus?

[2019-11-20 23:29] rachellim commented on #33516
Thanks for the repro. Looking into it.

[2019-11-20 23:41] jvishnuvardhan commented on #30864
I think the issue was resolved. I am closing the issue. Please feel free to open it if the issue persists again. Thanks!

[2019-11-20 23:41] #30864 closed

[2019-11-20 23:47] shahriar49 commented on #34311
@jsimsa
Thanks for link!

[2019-11-20 23:50] gowthamkpr commented on #33255
Closing this issue due to the lack of recent activity. Please add additional comments and we can open this issue again. Thanks!

[2019-11-21 00:07] kevinkingo opened #34470 "tf.meshgrid bug: Duplicate node name in graph"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): v2.0

[2019-11-21 00:08] gowthamkpr commented on #33571
Was able to reproduce it. Please find the github gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/77e75db8bf851b175033e94e4db30f2d/untitled246.ipynb). Thanks!

[2019-11-21 00:09] #33586 closed

[2019-11-21 00:14] gowthamkpr commented on #34423
So, the issue is resolved here right @SidGATOR

[2019-11-21 00:22] andreclaudino commented on #31057
I am having the same problem on tensorflow 2.0

[2019-11-21 00:31] SidGATOR commented on #34423
Yes it is. You can add the changes to the branch

[2019-11-21 00:52] OverLordGoldDragon commented on #33942
@jvishnuvardhan Standalone code's in the original post, with random seeds set so you can reproduce the issue. The "30%" refers to the final bullet point under "OBSERVATIONS"; if needed, I can provide code to reproduce that as well - it's of a small-medium sized model w/ more conv layers.

Let me know if more info's needed - thanks

[2019-11-21 00:53] VitaMusic commented on #33544
I did
but now the both errors cuda and vs detection problems

[image: image.png]

---------------------------------------------------------
Extracting Bazel installation...
Starting local Bazel server and connecting to it...
WARNING: The following configs were expanded more than once: [v2]. For
repeatable flags, repeats are counted twice and may lead to unexpected
behavior.
INFO: Writing tracer pr

[2019-11-21 01:21] jvishnuvardhan commented on #31057
@andreclaudino @aingo03304 @AlexFuster Can you please open a new issue with details of your model and share a simple standalone code to reproduce the issue. Thanks!

[2019-11-21 01:28] NKCSRzChen commented on #34401
hello, I think the reason of this issue has already been figured out. The CUDA version of my system is 9.1, however tensorflow v1.15 requires at least CUDA 10.  More details could be found in https://www.tensorflow.org/install/source#common_installation_problems

Now I wonder why I cannot build tensorflow 1.15 from source code in my system environment, yet I could use pip to install tensorflow 1.1

[2019-11-21 01:31] reedwm commented on #34406
Thank you @sayakpaul for filing this issue, and @tlkh for the responses! As mentioned, TF2.1 will fix the TypeError, but you can pass `dtype=tf.float32` to make it work in 2.0.

However, even in 2.1, it is recommended to do softmax in float32 for numeric stability. @tlkh fix of passing `dtype=tf.float32` will cause the softmax to be done in float32, solving the issue. For slightly better performan

[2019-11-21 01:47] Passenger12138 commented on #34452
I have successfully solved the problem, thank you very much for your answer.

[2019-11-21 01:48] hustcat commented on #34375
I remove the NCCL 2.5.4  package, and no IB error reported. But the test program  seems  hangup after NCCL inited, and nothing to output:
[code]

no more log to output.

[2019-11-21 02:21] OverLordGoldDragon commented on #34351
@yacoder No, same error

[2019-11-21 02:29] karmel commented on #34418
Contrib.estimator has been deprecated for quite some time. If you still need this functionality, I would recommend forking it. The code as-is is a relatively short function, and you could likely clean it up even further if it only needs to support your use-case.

[2019-11-21 02:29] #34418 closed

[2019-11-21 02:31] dangtai29 commented on #31350
cm tụi mày

[2019-11-21 02:34] trembous commented on #33931
good job!

[2019-11-21 02:34] byronyi commented on #34375
It's bundled in TF, i.e. you do not need to install a separate NCCL library on your system path.

The program hang may caused by other issues in your environment. Could you try cuda-gdb attaching to your process and send us a stack trace of your threads?

[2019-11-21 02:37] sunzhe09 commented on #33908
@jvishnuvardhan sorry for my late response,I have pass the code ,it't my fault.when I set a new model with Input layer and set the input shape then, the code can run .The rnn return sequence can't process tensor with None batch

[2019-11-21 02:37] #33908 closed

[2019-11-21 02:38] byronyi commented on #34375
@hustcat could you try NCCL_IB_DISABLE=1 to see if it's a TF-side issue?

Ping @dubey; not sure if you have IB available for testing. I could help if we pin down the issue to RDMA.

[2019-11-21 02:41] makihiro commented on #29031
Hi @hoonkai,
I'm facing the same issue while compiling too.
How have you solved this?

[2019-11-21 03:01] wangluyao123456 commented on #21875
你好，我想请教一下这个应该怎么改，我也遇到了这种问题，但是我毫无头绪
`
        with tf.variable_scope('Decoder'):
            print('self.masked_v',self.masked_v.get_shape())
            vector_j= tf.reshape(self.masked_v, shape=(cfg.batch_size, 2, 16, 1, 1))
            kernel2 = tf.constant(1.0, shape=[3, 3, 2, 1, 1])  # 反向卷积核
            kernel3 = tf.constant(1.0, shape=[3, 1, 29, 1, 1])  # 反向卷积核
            deconv11 = tf.nn.co

[2019-11-21 04:19] kangkang59812 commented on #22106
@innovimax  How to get this picture of the graph?

[2019-11-21 04:31] tonysung opened #34473 "fit_generator with use_multiprocessing=True causes runtime error when initializing worker pool"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): This -> https://cloud.google.com/ml-engine/docs/runtime-version-list#1.14
- TensorFlow installed from (source or binary): Binary.
- TensorFlow version (use command below): 1.14
- Python version: 3.5

**Describe the

[2019-11-21 04:40] zxk19981227 commented on #29027
Sir have you solved your problem? I also met a problem like this but some reshape is used in my programme but i have no idea how to fixed the leak of CPU memory.

[2019-11-21 04:46] sayakpaul commented on #34406
Thank you very much for passing this along @reedwm. I think the notebooks @tlkh shared are quite nice and definitely provide good insights. I am also working on more experiments to make it easier for the community to try mixed-precision training in `tf.keras` 2.0.

[2019-11-21 04:52] siddas27 commented on #15203
The same problem Ubuntu 18.04, python3.7, tensorflow-1.31.1

[2019-11-21 04:56] ravikyram commented on #34445
@yashmanuda

Looks like code is incomplete. Can you help us with minimal stand alone code and supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2019-11-21 05:07] oanush commented on #34449
Issue replicating for version TF-2.0. Kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/f64e85cedff9e96dfe12b36ef3fba472/34449.ipynb) of colab.Thanks!

[2019-11-21 05:13] kangkang59812 commented on #30524
@srjoglekar246  The produced  `converted_model.tflite` is same as the .tflite produced by `bazel` command.  What makes me confused is that the result is different  between `converted_model.tflite` and `tflite_graph.pb`.  I think it still can't convert the `postprocessing_op` sucessfully. For exampe, the bbox has negative values in `converted_model.tflite`'s result, but the values are nomal in 'tfl

[2019-11-21 05:13] gadagashwini commented on #32630
@vmarkovtsev,
Please use the imports as follows:
[code]
Thanks!

[2019-11-21 05:29] zxk19981227 commented on #31842
I met the same problem. Did you solve the same problem?

[2019-11-21 05:29] gadagashwini commented on #34425
@xiang123, In the configure.py, did you set the path for CUDA. Thanks!

[2019-11-21 05:37] oanush commented on #34435
@sayakpaul,
Hi,when tried running both the colab gist, I model training time was almost same. Kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/6e9acb4750eb1c1227d4b500015d55a8/copy-of-tfrecords_with_tf_data_advanced-one-hot.ipynb) of colab for one-hot encoding. Thanks!

[2019-11-21 05:38] gadagashwini commented on #34433
@dbonner, Thanks for reporting the issue. Please provide the input data file to reproduce the reported issue. Thanks!

[2019-11-21 05:51] Panshangka opened #34474 "Get a confused error when using tf.keras.layers.Conv2D to create Gan model"
Hello, I tried to convert my tensorflow 1.x code to tensorflow 2.0, but met with some problems here:

the original 1.x code is:
def generator(inputs_real, is_train=True, alpha=0.01, name="generator"):
    # 256*256*3
    with tf.variable_scope(name, reuse=(not is_train)):
        # 128*128*64
        conv1 = tf.layers.conv2d(inputs_real, 64, (3,3), padding='same')
        conv1 = tf.nn.relu(conv1)

[2019-11-21 05:54] YunchuZhang opened #34475 "WHere is staging package in tf2?"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-11-21 05:55] gadagashwini commented on #34444
@vmarkovtsev, Please paste the code snippet to reproduce the reported issue here. Thanks!

[2019-11-21 06:00] gadagashwini commented on #34447
@sergeay, Install Tensorflow C using the instructions mentioned [here](https://www.tensorflow.org/install/lang_c).  Please find the tensorflow C++ operation in this [link](https://www.tensorflow.org/api_docs/cc). Thanks!

[2019-11-21 06:01] oanush commented on #34426
@burnmg ,
Hi, When tried executing the given code `NameError: name 'x_train' is not defined` was faced, can you please provide complete code to reproduce the error mentioned here.Thanks!

[2019-11-21 06:03] ravikyram commented on #34443
I have tried on colab with TF version 2.0 , 2.1.0-dev20191120 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/a2743456a47bd50e730f05bc6dea0261/untitled385.ipynb). Thanks!

[2019-11-21 06:07] dbonner commented on #34433
@gadagashwini
[cal_house.json.gz](https://github.com/tensorflow/tensorflow/files/3873037/cal_house.json.gz)
Sorry, I forgot to do this.  Here it is.
Regards,
Dan

[2019-11-21 06:08] ravikyram commented on #34442
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Request you to provide minimal stand alone code to reproduce the issue in our environment. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/te

[2019-11-21 06:27] xhae commented on #34416
I tried the conversion with tf 2.0 and the your conversion code worked fine without any errors. Can you try this with 2.0 again?

[2019-11-21 06:30] xiang123 commented on #34425
it fond the path by itself
the configure shows:
Found CUDA 10.1 in:
    /usr/local/cuda/lib64
    /usr/local/cuda/include
Found cuDNN 7 in:
    /usr/local/cuda/lib64
    /usr/local/cuda/include

[2019-11-21 06:31] xiang123 commented on #34425
@gadagashwini
it fond the path by itself
the configure shows:

Found CUDA 10.1 in:
/usr/local/cuda/lib64
/usr/local/cuda/include
Found cuDNN 7 in:
/usr/local/cuda/lib64
/usr/local/cuda/include

[2019-11-21 06:32] ravikyram commented on #34432
@csukuangfj

Can you please let us know which TensorFlow version you are using.Will it be possible to share related code, it helps us in localizing the issue faster. Thanks!

[2019-11-21 06:45] vmarkovtsev commented on #34444
@gadagashwini But it's already here.

![image](https://user-images.githubusercontent.com/2793551/69313816-e3ebc900-0c32-11ea-9730-464a974ed199.png)

[2019-11-21 07:08] yushuxin1 commented on #13044
Hello, excuse me, why is JPEG on the top and. JPG on the bottom? The picture used in my project is. JPG running error is"Invalid argument: assertion failed: [Unable to decode bytes as JPEG, PNG, GIF, or BMP]".Why?

[2019-11-21 07:23] yyoon commented on #34395
1. Yes, it does work on Linux without patching that commit.
2. I guess it depends on your use case. The patch commit is already released in master branch, so if you could build from master, that should be an option for you. If not, I think locally creating a new tag for yourself should also work fine.

[2019-11-21 07:34] Ain-Crad commented on #29027
Hi,
The follow **@tf.function instruction** in Tensorflow may provide some clues:

More information about [@tf.function](https://www.tensorflow.org/api_docs/python/tf/function).

So, check if have obey this, otherwise it will generate new graph each batch, and that will significantly raise your CPU memory.

Good luck.

[2019-11-21 07:53] akanyaani commented on #31842
Hi @zxk19981227,

Can you give me some idea about your model architecture, then I will be able to give you the answer.

Thanks

[2019-11-21 07:54] gadagashwini commented on #34444
Sorry I didn't check. My bad. Thanks!

[2019-11-21 07:55] Cospel commented on #33985
Ok I think the problem is that y = L2NormalizeLayer(...) is not specified in the outputs of tf.keras.Model. Once I changed code to:

model2 = tf.keras.Model(inputs=inputs, outputs=[outputs, y])

everything pass. I don't know if this is intentional behavior, if so then you can close it now.

[2019-11-21 08:16] rmothukuru commented on #34424
@anthonyatp,
Can you try reducing the Batch Size and check if it helps. Thanks!

[2019-11-21 08:19] yashmanuda commented on #34445
import os

os.environ['CUDA_VISIBLE_DEVICES'] = '2'
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '0'

import tensorflow
import numpy as np
import string
import random

from tensorflow.keras.models import Sequential
from sklearn.preprocessing import LabelBinarizer
from tensorflow.keras.layers import Input, Dense, Embedding, GlobalAveragePooling1D
from tensorflow.keras.optimizers import Adam

training_size

[2019-11-21 08:21] oanush commented on #34440
@nikochiko ,
Can you provide code snippet to reproduce the error reported here?Thanks!

[2019-11-21 08:27] ravikyram commented on #34216
@IntegralWorks

CUDA and cuDNN can be installed by following these [instructions](https://www.tensorflow.org/install/gpu#install_cuda_with_apt). Thanks!

[2019-11-21 08:28] yashmanuda commented on #34445
Please let me know if you don't understand anything.

[2019-11-21 08:28] csukuangfj commented on #34432
@ravikyram
the links in the above issue comment come from the latest master branch.

[2019-11-21 08:33] sayakpaul commented on #34406
@tlkh I experimented with your codes today but on a [different dataset](https://datahack.analyticsvidhya.com/teams/game-of-thrones). Mixed Precision indeed showed it's magic and that too big time. I have pushed the files [here](https://github.com/sayakpaul/Mixed-Precision-Training-in-tf.keras-2.0/tree/master/With_Policy). The GPU utility has significantly increased as I am now using utilities from

[2019-11-21 08:37] Mutekeri commented on #22897
Thanx @devimonica it worked on windows with the folliwing command

--graph_def_file=<mylocation>/retrained_graph.pb --output_file=<location>/optimized_graph.tflite --input_format=TENSORFLOW_GRAPHDEF --output_format=TFLITE --input_shape=1,224,224,3 --input_array=input --output_array=final_result --inference_type=FLOAT --input_data_type=FLOAT

[2019-11-21 08:37] gadagashwini commented on #33841
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-21 08:37] #33841 closed

[2019-11-21 08:37] RaphaelMeudec commented on #34461
@wdirons Thanks for the info, closing this!

[2019-11-21 08:37] #34461 closed

[2019-11-21 08:39] dingevin opened #34478 "Gradient computation return None"
hello, i write an example to test **tf.while_loop** and **tf.TensorArray**,  it return None when compute gradients, it seem that there is no connection from input to output, i don't know why?

tensorflow version:  1.10.1
code:  https://github.com/dingevin/example/blob/master/example.py

log:
<tf.Variable 'forward/dense/kernel:0' shape=(1024, 512) dtype=float32_ref>
<tf.Variable 'forward/dense/bias

[2019-11-21 08:39] gadagashwini commented on #33937
@tomergt45, Were you able to resolve this issue. Thanks!

[2019-11-21 08:39] gadagashwini commented on #33994
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-21 08:39] #33994 closed

[2019-11-21 08:47] gadagashwini commented on #34369
@songs18, Can you add the complete code which generates this warning? It's hard to say whether it's important without knowing what you were trying to do. It will indeed help us to move faster. Thanks!

[2019-11-21 08:51] gekowa opened #34479 "Got "ValueError: Unable to create group (name already exists)" when saving a convolutional model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d382ca
-

[2019-11-21 08:55] #34435 closed

[2019-11-21 09:14] ravikyram commented on #31166
@sWizad

I tried in colab with TF GPU versions for 1.14, 1.15 and i am not seeing any issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/6c0d71133160fb0614bb28942c3fba04/untitled79.ipynb).Please, let us know whether we can close this issue.Thanks!

[2019-11-21 09:18] DeviLeo commented on #32104
@Shiro-LK No, it returns True both on the colab and my computer.

[code]

[2019-11-21 09:38] sergeay commented on #34447
bhack and gadagashwini , thanks I'll try those links.

abhiverma1924, I am trying to make tensorflow work on my ubuntu 18.04 machine, I am not interested in any python and it seems the main page of tensorflow requires all kind of bazel, pyton this and python that, each installation step is failing one after the other and requires tons of time to look at the conflicting packages and environment and

[2019-11-21 09:50] plooney opened #34481 "Summaries producing warnings"
The example code states

[code]

But on multiple systems and operating systems I am seeing warnings using code like this of the form

WARNING:tensorflow:5 out of the last 5 calls to <function my_func at 0x7fc4f0197ae8> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings is likely due to passing python objects instead of tensors. Also, tf.function has experime

[2019-11-21 09:52] antofara commented on #33464
operation MUL is now integrated with TFLite Micro. However, GRUs cannot still be deployed due to missing operator SUB.

I take the chance for a related questions. Is there a way to enforce the converter to generate tflite ops of a specific version? For example, I noticed that after conversion my model contains AVERAGE_POOL_2D operations in version 2. Despite the declared compatibility in all_ops_r

[2019-11-21 09:55] antofara commented on #33606
@rockyrhodes
It seems that the change has been pushed, thanks! Can I close this issue?

[2019-11-21 10:00] s4sarath commented on #29911
Any info about when this bug will be fixed. For dynamic batch size inputs, this input_signature is essential, otherwise it will lead to tracing, which is very expensive.

[2019-11-21 10:01] zaccharieramzi commented on #34456
Maybe related: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/utils/data_utils.py#L522

[2019-11-21 10:01] dexception commented on #26289
Very unprofessional attitude towards managing a software.

[2019-11-21 10:02] amitport commented on #33374
https://github.com/tensorflow/tensorflow/labels/stat%3Aawaiting%20tensorflower

[2019-11-21 10:03] amitport commented on #33374
closed by accident... sorry

[2019-11-21 10:07] anthonyatp commented on #34424
@rmothukuru
I reduced the batch size from 16 to 8 and it takes around 11s per iteration but it has double the amount of iterations so would actually take longer than if batch size was 16?

As mentioned, the tutorial claims this takes 10mins to run in colab with GPU (for 30k images and batch size 16) - currently that would take me over 9 hours. Obviously I'm using a different dataset but the image

[2019-11-21 10:12] runnableapps commented on #31114
implementation 'org.tensorflow:tensorflow-lite:0.0.0-nightly'
does not fix crash

[2019-11-21 10:14] mapeima commented on #34416
Yes, I know that with tf 2.0 works perfectly but the point is that I need to use tf 1.15 because I want to run that model on the Google edgeTPU and to do that I have to perform a full integer quantization. As they say [here](https://coral.withgoogle.com/docs/edgetpu/models-intro/#quantization), I must use tf 1.15:

[2019-11-21 10:15] zaccharieramzi commented on #5448
I am trying to solve https://github.com/tensorflow/tensorflow/issues/34456 , so I tried the main solution provided here (`multiprocessing.set_start_method('spawn')`), but I got the following error: `TypeError: can't pickle _thread.lock objects`.

This is because [tf is initializing a pool with a queue](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/utils/data_utils.py

[2019-11-21 10:22] chansonzhang commented on #12745
seems like your flannel service is not ok

[2019-11-21 10:22] chansonzhang commented on #12745
seems like your flannel service is not ok

[2019-11-21 11:10] Pauladds opened #34482 "Error with Placeholder_1"
I tried to run el script https://github.com/tensorflow/magenta-demos/blob/master/jupyter-notebooks/Sketch_RNN.ipynb but with diferente dataset (pig.npz) and with the checkpoints of that and i have the next problem :
![download](https://user-images.githubusercontent.com/38189240/69332857-d8f75f80-0c57-11ea-813c-22fe4db6b636.png)
Thnak you :)

[2019-11-21 11:48] impjdi commented on #34436
@stephen-systemfriend

We made sure that `//tensorflow/lite/delegates/gpu/delegate.h` stays compatible with C.  I need a little bit of elaboration.  Are you requesting an API beyond the TFLite delegate?

[2019-11-21 12:10] Auburgo commented on #33976
Are there any updates on this issue?

[2019-11-21 12:11] plooney commented on #34481
The example should be

`for step in range(100):
    step = tf.convert_to_tensor(step, dtype=tf.int64)
    my_func(step)
    writer.flush()`

or

`for step in tf.range(100):
    step = tf.cast(step, tf.int64)
    my_func(step)
    writer.flush()`

[2019-11-21 12:14] tlkh commented on #34406
When using the Policy method, the loss is also scaled. I'm not sure why the tf.config + LossScaleOptimizer would not be working when the Policy method does.
I'm currently a bit tied up with work, but I'll take a close look at this when I have some time.

[2019-11-21 12:14] olesalscheider commented on #33688
Does this just occur on models that are split across multiple devices or also in the single GPU case?

I could imagine that my change introduces more points where different devices have to be synchronized and that this comes with some overhead. But I don't know how to avoid that...

If we can't find a solution maybe we can introduce a flag for the GradientTape that decides the behavior of the devi

[2019-11-21 12:18] Cospel commented on #32180
Thumbs up! Right now it is impossible to deploy models to tflite if they have multiple outputs. Is anybody working on this?

[2019-11-21 12:21] NidamanuriChenchaiah commented on #33976
No
On Thu, Nov 21, 2019, 17:41 Auburgo <notifications@github.com> wrote:

[2019-11-21 12:28] qitianliang opened #34483 "Limit GPU memory"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-11-21 12:28] EvilTrtl commented on #34205
I've changed them to the 1.15.0 ones #1216

[2019-11-21 12:28] #34483 closed

[2019-11-21 12:32] tensorflowbutler commented on #33960
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-21 12:51] arielbenitah commented on #30738
Hi, I have the same problem in tensorflow 1.14. Any help is more than welcomed.

[2019-11-21 13:33] andmax commented on #33357
This issue has been fixed in TF 1.15 and 2.0.

[2019-11-21 13:34] andmax commented on #31451
This issue has been fixed in TF 1.15 and 2.0.

[2019-11-21 13:34] #31451 closed

[2019-11-21 13:35] dmus opened #34485 "Tensorflow 2.0 does not use GPU, while Tensorflow 1.15 does"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux Ubuntu 18.04

- TensorFlow installed from (source or binary):
binary (pip install tensorflow==2.0 vs pip install tensorflow==1.15

- TensorFlow version (use command below):
2.0 and 1.15

- Python version:
Pytho

[2019-11-21 13:36] andmax commented on #30993
This issue has *not* been fixed in TF 1.15 and 2.0.

[2019-11-21 13:39] chsigg commented on #26289
Nightly release builds and r2.1 release are built against CUDA 10.1. I'm going to close this issue.

@dexception, I agree I could have handled this better. Sorry.

[2019-11-21 13:39] #26289 closed

[2019-11-21 14:03] netw0rkf10w commented on #33962
@gowthamkpr Sorry for the delay, I have been overwhelmed over the last days. I'm preparing the code.

[2019-11-21 14:06] ujjawalcse opened #34487 "Training deep learning model on a cluster of machines"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-11-21 14:09] netw0rkf10w commented on #34088
Sorry for the late reply. Unfortunately I don't remember how I learned about that, but definitely not from the official documentation or tutorials!

[2019-11-21 14:13] ujjawalcse commented on #34487
Since I'm facing a lack of GPU resources on my PC for training a deep learning model, I thought of using all my friend's PCs as resources in combined form to train the model. So, is there any way to train the model using all machines as a cluster in which each machine may or may not have GPUs?
Please share any useful link or medium to tackle this issue.

[2019-11-21 14:15] ydxt commented on #34222
tensorflow r2.0 with  bazel 0.24.1 successed builded, thank you for your reply.

[2019-11-21 14:15] #34222 closed

[2019-11-21 14:19] netw0rkf10w commented on #34127
Hi @rchao. Could you tell me what kind of issues did you have? I have just tested again and there was no issue with the download of data.

Note that in the notebook, I created the dataset and fit the model in the same code cell, so maybe the error you got was from the training part and not from the dataset download part. For clarity, I have split them into different cells. Please try it again. Tha

[2019-11-21 14:45] sayakpaul commented on #34406
Sure. Thanks, @tlkh :)

[2019-11-21 14:47] fjean opened #34488 "ListWrapper does not support insert method for nested lists of layers"
**System information**
- Have I written custom code: **yes**
- OS Platform and Distribution: **Linux Ubuntu 18.04**
- Mobile device: **N/A**
- TensorFlow installed from: **binary**
- TensorFlow version: **2.0.0**
- Python version: **3.7.5**
- Bazel version: **N/A**
- GCC/Compiler version: **N/A**
- CUDA/cuDNN version: **10.1 / 7.6.4**
- GPU model and memory: **GeForce GTX 1070, 8 GB**

**Describe

[2019-11-21 15:05] mlinxiang opened #34489 "how to build tensorflow lite static library for android use ndk?"
i check all issue about build static library with ndk for android c++ code, but no one give a complete guide.  and different version from r1.12 r.113 r1.15 has very different tensorflow/lite/tools/make   build_**.sh and target/**.inc, any guide for me to use cmake or bazel to build a libtensorflow-lite.a with armv-8a and armv7a on mac or linux machine.

[2019-11-21 15:35] noahtren commented on #17851
Is there a way to do distributed training without a `@tf.function`? Implementing the training step in graph mode is making it difficult to 1) work with multiple losses that might change between runs, and 2) write detailed per-loss information with `tf.summary`.

[2019-11-21 15:45] LaurentBerger commented on #32817
I think An example is missing in Doc :

[code]

you must set drop_remainder to True in batch method argument and set steps_per_epoch=x.shape[0] // batch_size in fit method

@sharkdtu
[code]

[2019-11-21 15:56] sitting-duck commented on #30647
Are you able to apply the fix? It is a lot if info in the guide, but basically all you have to do is add TF_EXPORT where you need it and recompile.

Please let me know if it worked for you, or if my directions are not clear.

The process should not take too long.
You can also reach out to my gmail, ashley.tharp@gmail.com and I can try to help you apply the steps.

[2019-11-21 16:00] sitting-duck commented on #23542
I dont see any image related code on your Github. If you push any related code to h
Github or want to share it with me please let me know I love to collaborate. You can reach me at ashley.tharp@gmail.com

[2019-11-21 16:13] deven-amd commented on #33987
gentle ping....any update here?

[2019-11-21 16:28] josephernest opened #34490 "Tensorflow 1.6 without SSE4.1"
Hello,
It seems that Tensorflow 1.6 and later versions are configured to require SSE4.1 instructions by default. Some processors (like AMD Phenom II x4 965) do not have these instructions.

**How to configure / rebuild Tensorflow for Python 3 to run on CPUs without SSE4.1?**

[2019-11-21 16:41] Innuendo1975 opened #34491 "tf.keras computes incorrect loss values with Masking"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): pip install tensorflow  /  pip install tf-nightly-2.0-preview
- TensorFlow version (use command below): 2.0  /  2.0.0-dev20191002
- Python version:

[2019-11-21 16:41] dubey commented on #34375
I don't have access to IB.  @hustcat it would be good to understand if setting `NCCL_IB_DISABLE=1` as @byronyi suggests fixes the issue.  If you can also run with `TF_CPP_VMODULE="nccl_manager=2"` you will get additional logs from TF that can help debug this issue.

[2019-11-21 16:41] ydcjeff commented on #33474
@rmothukuru Thank you for your answer & sorry for late response!
It solved.

[2019-11-21 16:41] #33474 closed

[2019-11-21 16:46] alextp commented on #33688
We found a performance regression in the single-gpu case, which is what
worried us to the point of rolling this back.

On Thu, Nov 21, 2019 at 4:14 AM Niels Ole Salscheider <
notifications@github.com> wrote:

--
 - Alex

[2019-11-21 16:48] Boudegga commented on #34034
hello, i have the same problem.
did you resolve this problem of unsupported control flow ops: Merge, Switch by tensorflow lite?

[2019-11-21 16:50] alextp commented on #17851
Not currently in a fast way, but the tf.device APIs to run ops on different
devices work with eager execution and you can use multiple python threads
to coordinate things.

On Thu, Nov 21, 2019 at 7:35 AM Noah Trenaman <notifications@github.com>
wrote:

--
 - Alex

[2019-11-21 17:00] VanNamMan commented on #34034
I have not been able to solve this problem yet

[2019-11-21 17:08] nikochiko commented on #34005
PR merged. Closing issue.

[2019-11-21 17:08] #34005 closed

[2019-11-21 17:11] nikochiko commented on #34440
@oanush , this code on the TensorFlow documentation: https://www.tensorflow.org/community/contribute/docs#python_reference

[2019-11-21 17:15] srjoglekar246 commented on #19293
While it is possible to convert a MaskRCNN model to TFLite using our new converter, there are some major drawbacks:
1. It requires using the [Select TF ops in TFLite](https://www.tensorflow.org/lite/guide/ops_select) feature, as not all ops in MaskRCNN are supported on TFLite (Size, CropandResize, LinSpace). This adds binary size & latency.
2. The latency is *very* high (read: >8s), mainly because

[2019-11-21 17:20] haozha111 commented on #34034
TF Lite doesn't support v1 style control flow (switch, merge), but we support v2 control flow(while, if).

Can you rebuild your model with latest version of tensorflow and then try use our new mlir-based converter?

more details : https://groups.google.com/a/tensorflow.org/forum/#!topic/tflite/C7Ag0sUrLYg

[2019-11-21 17:26] srjoglekar246 commented on #30524
The result, mathematically, shouldn't be that different with our custom op (atleast for 10 detections or so). The reason we do this, is that using the custom op is much easier/faster than using multi-class Non-Max-Suppression that tensorflow does in its graphs.

There is one way to do this with our experimental new converter, which supports builtin NMS ops without using the custom op.

Could you t

[2019-11-21 17:26] shen-sir commented on #33183
Same issue, fresh macOS Catalina, virtualenv , i just update python to 3.7.5 , i try it and its works!

[2019-11-21 17:29] RicardasSim commented on #34429
also failed build of version 1.15.0 with cuda-10.2

fatbinary fatal   : Unknown option '-bin2c-path'

here is a comparison of "fatbinary --help" output from cuda-10.0 and cuda-10.2

https://pastebin.com/E1SXpuqh

seems that there is no '-bin2c-path' option anymore

[2019-11-21 17:30] jdduke commented on #31114
You might need to [clear your gradle cache](https://stackoverflow.com/questions/23025433/how-to-clear-gradle-cache). I've manually inspected the [nightly build](https://bintray.com/google/tensorflow/tensorflow-lite#files/org%2Ftensorflow%2Ftensorflow-lite%2F0.0.0-nightly) and verified that `__register_atfork` is no longer referenced. There might be another issue with your usage, in which case plea

[2019-11-21 17:30] suharshs commented on #34416
Hi @mapeima

We have code that is about to be submitted to enable the uint8 parameters in the 2.0 converter. The fastest path for you will be to wait until that is in the nightly, and then upgrade to using the new version of the converter that has support for IdentityN. Will let you know when that is ready.

Thanks!
-Suharsh

[2019-11-21 17:48] pavithrasv commented on #33825
I have submitted a fix for this now, please try it out and let us know if things look good. Thank you!

[2019-11-21 17:50] robieta commented on #33445
The API that you're looking for is `tf.custom_gradient`, and the technique is called gradient checkpointing. There's no need to use tf.Variables to manage when values are collected; the standard Tensor lifetime analysis will do that. (Since the gradients will mostly be using rematerialized values rather than the original Tensors from the forward pass.)

[2019-11-21 17:50] #33445 closed

[2019-11-21 18:13] penpornk commented on #34213
@TensorFlow-MKL Could you please help take a look? Thank you very much!

[2019-11-21 18:14] #33516 closed

[2019-11-21 18:27] wdirons commented on #34490
You'll need to build TensorFlow from source following the instructions here:

https://www.tensorflow.org/install/source

Note the table here: https://www.tensorflow.org/install/source#cpu, on what version of bazel, python and gcc to use for TensorFlow 1.6

[2019-11-21 18:33] wdirons commented on #34485
In TensorFlow 2.0, if you want to use GPU, you need to `pip install tensorflow-gpu==2.0`

Some history:
For a long time the `tensorflow` pip package was CPU only and the `tensorflow-gpu` pip package was GPU only. This was still true when TensorFlow 2.0 was released.

TensorFlow 1.15.0 was released after TensorFlow 2.0, and that was the first package where the `tensorflow` pip package could work wi

[2019-11-21 18:50] karmel commented on #33635
In general, we wouldn't advise checking and setting the regularizer manually. Please use the add_loss API instead: https://www.tensorflow.org/api_docs/python/tf/keras/layers/Layer#add_loss

[2019-11-21 18:50] #33635 closed

[2019-11-21 18:58] karmel commented on #34200
This is possibly due to the ways in which the Kmeans estimator is trying to check the number of dataset steps, but we do not currently have the availability to dig into this. @DenisUllmann , is this something you can look into and submit a fix for?

[2019-11-21 19:03] rjurney commented on #26289
`2.1`? Try `2.0.1`. `2.1` will be forever, right?

[2019-11-21 19:04] chrismrutherford commented on #24496
This issue isn't limited to the RTX.  Or TF 2.0.

Adding:
_from tensorflow.compat.v1 import ConfigProto
 from tensorflow.compat.v1 import InteractiveSession
 config = ConfigProto()
 config.gpu_options.allow_growth = True
 session = InteractiveSession(config=config)_

Solves the "Could not create cudnn handle: CUDNN_STATUS_INTERNAL_ERROR" issue with environment as follows:

`nvidia-smi
| NVIDIA-SMI

[2019-11-21 19:23] hnyu opened #34496 ""Conv2DBackpropFilter uses a while_loop. Fix that!""
**Describe the current behavior**
Currently when I compute Jacobian with the option "experimental_use_pfor=True" on Conv2D layers, the GPU memory will explode. For other layers like FC (with the same amount of parameters), there is no such issue.

**Describe the expected behavior**
If there is any efficient alternative way of doing this (hopefully YES, as indicated by the warning message in the co

[2019-11-21 19:25] gowthamkpr commented on #34490
@josephernest As mentioned by William above, you can try building it from source. Also I would recommend you using the latest version of Tensorflow as for the versions less than 1.11, the support is minimal. Thanks!

[2019-11-21 19:25] #34490 closed

[2019-11-21 19:54] reedwm commented on #34406
@sayakpaul, in [the Jupyter notebook where you have the LossScaleOptimizer](https://github.com/sayakpaul/Mixed-Precision-Training-in-tf.keras-2.0/blob/master/With_Loss_Scale_Optimizer/Mixed_Precision.ipynb), you have the line

[code]

The issue is LossScaleOptimizer does not modify the passed in optimizer, but instead returns a new optimizer that performs loss scaling. Try setting `opt` to the Los

[2019-11-21 19:55] #34452 closed

[2019-11-21 20:03] sun51 commented on #34176
this is a known issue with random seeds in the tf1 API. Either pass a
seed argument to every random op or switch to using
tf.random.experimental.Generator for deterministically seedable random
numbers.

[2019-11-21 20:03] #34176 closed

[2019-11-21 20:07] rachellim commented on #33516
This was indeed intriguing. I've submitted a fix, which will be in TF 2.1 :)

[2019-11-21 20:23] chsigg commented on #26289
TF 2.0 release will probably stay on CUDA 10.0. You can build TF with CUDA 10.1 from any branch, or use nightly releases before TF 2.1 is released.

[2019-11-21 20:25] jdduke commented on #34438
r14b has a number of issues, please upgrade to NDK r17c.

[2019-11-21 20:25] #34438 closed

[2019-11-21 20:46] birdmw commented on #33030
@rchao nightly fixed it for me

[2019-11-21 20:49] rchao commented on #33030
Thanks @birdmw! Can you share with us the version of TF you're using?

[2019-11-21 20:52] MeghnaNatraj commented on #33976
@NidamanuriChenchaiah Some values in the android example are hard coded for that particular use case, so this might not work as is for a new tflite model. I suggest you try the following:

1. Refer to a similar issue ([31788](https://github.com/tensorflow/tensorflow/issues/31788)) and try resolving it using their suggestions:
  a) Match input and output shape array, modifying NUM_DETECTIONS, etc.

[2019-11-21 21:02] Namburger commented on #34135
@bsddemon is it only for certain user? Try this:
[code]

[2019-11-21 21:05] chsigg commented on #33987
Sorry for the delay. I think we should change `nogpu` tags to `no_gpu`. I can take care of this.

[2019-11-21 21:13] csuter commented on #34379
This is a TFP issue, which we're presently resolving. Closing this (please follow https://github.com/tensorflow/probability/issues/647 for TFP updates)

[2019-11-21 21:13] #34379 closed

[2019-11-21 21:17] skulhare commented on #34350
Hi, I am getting the same error :
 File "/usr/local/lib/python3.6/dist-packages/tensorflow_core/lite/python/lite.py", line 421
in convert
raise ValueError("This converter can only convert a single "
ValueError: This converter can only convert a single ConcreteFunction. Converting multiple functions is under development.

I am trying to convert SSD_ResNet50_fpn architecture with tf-nighty version.

[2019-11-21 21:23] deven-amd commented on #33987
@chsigg thanks.

how about the `v1only` tagged tests....should they also be filtered out by default on the `master` branch?

[2019-11-21 21:36] houtoms commented on #33148
Got some feedback from cuDNN and it sounds not complicated to do that. Already filed a request to them. For now, users still have to make sure they don't have such fully masked sequences in batch.

[2019-11-21 21:38] qlzh727 commented on #33148
Thanks for the update.

[2019-11-21 21:51] Shiro-LK commented on #34346
To reproduce this issue we need to use a generator. For instance we can use the ImageDataGenerator from keras.
[code]

The issue does not come from the code because it works well on GPU. The issue comes only when TPU is used.

The link on colab if the entire code is needed. https://colab.research.google.com/drive/1eNERfIFoDGzKOICWcj9PEu4LzUt2snZx

[2019-11-21 21:53] birdmw commented on #33030
I forget. It's whatever the latest nightly was on Saturday the 16th this
last weekend.

On Thu, Nov 21, 2019, 12:49 PM Rick Chao <notifications@github.com> wrote:

[2019-11-21 21:57] MeghnaNatraj commented on #34057
The latest copy of the file has the updated fix -- [tensorflow/lite/experimental/micro/micro_allocator.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/micro/micro_allocator.cc#L279)

Closing the issue as it seems to be resolved.

[2019-11-21 21:58] #34057 closed

[2019-11-21 21:58] martinwicke commented on #33309
@tomerk -- I think to some extent this is inevitable (we are only considering "tf." when warning/modifying), but we did discuss whether it might be feasible to handle some common patterns.

[2019-11-21 22:15] kaibrach commented on #34201
Is there any solution for that issue?

[2019-11-21 22:24] gowthamkpr commented on #33283
@tseth92 @AlexFuster Did the above comment help you in understanding the root of the problem?

[2019-11-21 22:26] superJen99 commented on #34201
DIY it... write all of the functions and objects without using Tensorflow

On Thu, Nov 21, 2019 at 10:19 PM kaibrach <notifications@github.com> wrote:

[2019-11-21 22:51] kaibrach commented on #34201
The only solution I found is to disable eager execution on startup.
`tf.compat.v1.disable_eager_execution()`

Afterwards
[code]

can be used as usual

[2019-11-21 22:55] wkdgnsgo opened #34499 "E tensorflow/core/grappler/optimizers/meta_optimizer.cc:502] layout failed: Invalid argument: size of values 0 does not match size of permutation 4."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-11-21 22:56] josephernest commented on #34490
@gowthamkpr @wdirons Thank you for your answers. Even if there is a HOWTO, this seems to be quite like a long task (installing the right `bazel` (?), the right gcc which is probably not the one I have currently installed, configure the build settings, probably a full day or two when you're new to it, etc.).

Would you have a TF 1.14 build with SSE4.1 off? I think it could be useful for many people

[2019-11-21 23:05] wdirons commented on #34490
There are plans for an on-demand build service document here: https://github.com/tensorflow/community/blob/master/rfcs/20190225-tf-on-demand.md, but details like who is providing the pool of machines to build on is not worked out.

I'm not aware of anyone providing unofficial builds without SSE4.1.

[2019-11-21 23:10] mihaimaruseac commented on #34442
Also, please use markdown formatting around code/error logs so that they can be read.

[2019-11-21 23:10] jdduke commented on #33634
I think this might be resolved with https://github.com/bazelbuild/bazel/pull/9976. I'm curious if adding `        features = ["windows_export_all_symbols"],` to [this build rule](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/build_def.bzl#L148) resolves the problem temporarily?

[2019-11-21 23:12] wdirons commented on #34490
I should also point out that if you use a devel docker container then all the prereqs should already be installed

[code]

[2019-11-21 23:18] divyekapoor opened #34500 "[TF2.1] Performance: Control flow and scalar ops 225x slower than raw Python and 24000x slower than C++"
**Summary**
TF Op performance for a simple subgraph (built with AutoGraph) is at-least 2 orders of magnitude slower than expected: looping over 100K numbers takes 4+ seconds instead of 18ms (or much faster)

**Benchmark code and repro instructions:**
https://github.com/divyekapoor/ml-op-benchmarks

1. Clone the repo
2. `make tfbench`

[code]
Raw python: Running the same code without tf.Module and

[2019-11-21 23:39] #34297 closed

[2019-11-21 23:39] ynorz commented on #31368
https://colab.research.google.com/github/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/performance/post_training_integer_quant.ipynb

I tried to do the post-training integer quantization following the official guide on MNIST. And this guide can only run on tensorflow 1.15.0, which, to some extent, did prove your point that tensorflow 1.15 worked better. However, I still get the internal

[2019-11-21 23:41] gowthamkpr commented on #33667
@sayakpaul Taking it up an octave and Scaling up with tiles are two different techniques.

In the 1st technique, you converted an image to tensor and then cast it to float32 to multiply it by an octave(i.e., floating point number) but in the second technique you are just passing in the original image that is a numpy array directly to the function.

I don't think this is redundant information.

[2019-11-21 23:44] frreiss commented on #31831
The instructions for building and running that example are [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/micro/examples/person_detection/README.md).

Although there are some Bazel rules to compile and run tests of the `person_detect` model, it does not appear that those Bazel rules currently work. The rules to generate the missing file `person_detect_mode

[2019-11-21 23:46] jalexvig commented on #30094
This issue still exists. Any updates?

[2019-11-21 23:47] gowthamkpr commented on #33668
Contrib is being depricated @walty19950301 Can you please repeat this with TF 2.0 and see if the issue still persists?

[2019-11-21 23:52] gowthamkpr commented on #33693
I think the root of this issue is that version of tensorflow. @YINGYINGHU1220 Please follow the recommendation of @anthonyatp and it should solve your issue. I am closing this issue for now.

If you have any more doubts, you can add additional comments and we can open this issue again. Thanks!

[2019-11-21 23:52] #33693 closed

[2019-11-21 23:53] preethivenkatesh commented on #34213
we are looking into this issue. will keep you posted on our findings shortly

[2019-11-21 23:54] frincyc opened #34501 "ValueError: slice index 12231 of dimension 1 out of bounds. for 'strided_slice_14' (op"
Hello,

I am trying to work on an Intepretable AI solution for Image classification. Our work is based on Smooth Grad CAM plus plus. I had a perfectly working code until  I installed pytorch in my environment. I had been working with keras library. I am passing image to a classifier and trying to visualize the layers.

I am getting an error only after I installed pytorch in the same environment as

[2019-11-21 23:55] frincyc commented on #34501
Please help me in solving this issue, I have tried every possible methods I am aware of..

[2019-11-22 00:19] gowthamkpr commented on #33822
Closing this issue as it has been awaiting response for more than 3 weeks. Please add additional comments and we can open this issue again. Thanks!

[2019-11-22 00:19] #33822 closed

[2019-11-22 00:22] gowthamkpr commented on #33871
Tensorflow is built with bazel version 0.24.1. Can you please try it with bazel 0.24.1 and let me know if you are able to build successfully. For more info, go through this [link](https://www.tensorflow.org/install/source).

[2019-11-22 00:25] m-ciniello opened #34502 "Concat within tf.range loop throwing error when converting to tflite: StatelessWhile custom implementation needed"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX 10.14.6
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source): '2.0.0-dev20191002'

**Provide the text output from tflite_convert**

[code]

Below is the function I am trying to convert to tflite (which will eventually be put into a custom layer). I'm trying to extrac

[2019-11-22 00:26] impjdi commented on #33605
@wanfranck

Thanks.  @NikolayChirkov might have found the root cause of this problem.  I'll keep you posted when his fix goes live.  Maybe you can test and confirm :)

[2019-11-22 00:29] stephen-systemfriend commented on #34436
I want to access the gpu delegate from some C# code. I'm currently using the Unity plugin, and was hoping to extend it to use the gpu delegate as well, but it didn't seem to be supported. I'll attempt to use the delegate as is and get back to you if it doesn't work.

[2019-11-22 00:30] n-gao opened #34503 "[TF2.0] Enable nested tf.custom_gradient"
**System information**
- TensorFlow version (you are using): 2.0
- Python 3.7

**Describe the feature and the current behavior/state.**
Implementing a custom op in python with a custom second-order derivative requires a lot of redundant code because tf.custom_gradient functions can not be nested. The following code will not use the defined second-order gradient:
[code]
d2ydx2 is None in this examp

[2019-11-22 00:31] impjdi commented on #34436
Ah, I always forget Unity is in C#.

@jdduke

Do we have an official strategy on C# usage?

[2019-11-22 00:34] jdduke commented on #34436
We do support C# and Unity for CPU inference. We'd have to do some more investigation about GPU delegate work, though. Unity's render thread and context are likely unavailable on the sim thread, so we'd need to do some testing first to see how well this would work.

[2019-11-22 00:38] JaviBonilla commented on #19293
Hi @srjoglekar246,

Thanks for the effort and the information. It is great that it is already working. For our use case, a latency of seconds is probably enough.

We are doing research in solar tracking for concentrating solar power, so basically we have a Raspberry Pi and a camera on each mirror (called heliostat) to automatically track the Sun and detect a receiver (at the top of a tower) to ref

[2019-11-22 00:39] impjdi commented on #33605
@wanfranck

Okay.  Change went live on master.  Can you sync and try out the latest code?

[2019-11-22 00:54] bigmw commented on #34385
UPDATE:
GPU is working with TF 2.0 now in Colab. Thanks for all your comments/suggestions.

[2019-11-22 00:55] jvishnuvardhan commented on #34016
@netw0rkf10w I think with subclass model, the input/output shape is unknown until it is first tested with proper data. I updated your code as follows which worked without any issue with .h5 format.

[code]

Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/fbc2cdea31a5b588a6525b2d62f009c0/tf_checkpoint.ipynb).

Please close the issue if it is resolved. Thanks!

[2019-11-22 00:59] ymodak commented on #34385
Awesome. Closing this issue. Thanks!

[2019-11-22 00:59] #34385 closed

[2019-11-22 01:10] sanjoy commented on #32234
I don't think this is the root cause.  Since we have `static XlaDeviceOpRegistrations* registrations = ...` the allocation should happen only once and not cause a gradual memory leak.

Moreover, we need the `XlaDeviceOpRegistrations` to be alive for the entire process lifetime.

[2019-11-22 01:22] minemine1126 commented on #33927
I get the same result, is there a solution?

[2019-11-22 01:22] jvishnuvardhan commented on #32500
@LuisSaybe Is this still an issue. I ran it in colab for 25000 iterations without any issue. Thanks!

[2019-11-22 01:30] jvishnuvardhan commented on #30957
I think it was resolved. Closing due to lack of recent activity. Please open new ticket if you see similar issue. Thanks!

[2019-11-22 01:30] #30957 closed

[2019-11-22 01:52] yyoon commented on #31261
Just made a commit (f560b2745e59ac663bb554fc75304d8d3fa9d34e) for adding GPU delegate option to the benchmark tool.

Could you follow the instructions here:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/benchmark/ios

and let me know if it works for you?

[2019-11-22 01:58] songs18 commented on #34369
To run any tf2 script will reproduce the warning, so i do not provide the whole code but just the exact code snippet, if you need the whole code, i can provide a simple verison.
`import tensorflow as tf
import numpy as np
import logging

logging.basicConfig(format='%(message)s', level=logging.INFO)

input = np.array([[0.1, 0], [0, 0.1]], np.float32)
target = np.array([1, 0], np.float32)

class lay

[2019-11-22 02:04] songs18 commented on #34369
From the warning info, the code can work now, but cannot promise in future, i want to write right code which meet the tf recommends, unfortunately, i do not get help from tf website, i want to know how to write code to eliminate the warning.
Thanks!

[2019-11-22 02:04] kangkang59812 commented on #30524
@srjoglekar246  Thanks for your patient . I followed the below steps:
1. Following your advice, I change the pipline.config.
2. I use ```
python object_detection/export_tflite_ssd_graph.py \
--pipeline_config_path=$CONFIG_FILE \
--trained_checkpoint_prefix=$CHECKPOINT_PATH \
--output_directory=$OUTPUT_DIR \
--input_type=image_tensor \
--input_shape=1,300,300,3 \
[code]
import tensorflow as tf
grap

[2019-11-22 02:24] huaxiaozhong1 commented on #33778
#### 4.3, Flash (the section needs to be fixed as below)
Prepare the board image to flash, which the trained model is in.
Still in the container, change directory --
[code]
Actually the commit provides an existing trained model, which is: tensorflow-4a464440b2e8f382f442b6e952d64a56701ab045/tensorflow/lite/experimental/micro/examples/micro_speech/tiny_conv_micro_features_model_data.cc. Change its n

[2019-11-22 02:28] sayakpaul commented on #33667
@gowthamkpr

I guess I never mentioned scaling up octaves and tiling are the two same techniques.

Regarding the redundancy, the order of the lines code (that I mentioned initially) in the tutorial goes like the following:

[code]

All I am trying to say is if we are creating an `np.array` of the `original_img` in the very beginning then what's the point of doing it again for the downstream tasks

[2019-11-22 03:05] sayakpaul commented on #34406
@reedwm extremely sorry about that silly mistake. I have updated the notebooks accordingly but still, the loss increases along with the accuracy.

Note that I intentionally did not pass the `.npy` files. You would need to run the `Data_gathering_and_prep.ipynb` notebook to generate them.

[2019-11-22 03:30] gao-shi commented on #24239
try tf.contrib.lite.TocoConverter

[2019-11-22 03:32] macqueen09 commented on #17422
I make cudnn from 730 to 704 ;
still same problem
and then I change tensorflow from 1.5 to 1.9
It solved every problem
(I use CUDA 9)

[2019-11-22 03:39] OverLordGoldDragon opened #34507 "How to get symbolic learning_phase? (TF2 Eager)"
`K.learning_phase()` fetches the value, not the tensor itself - following _backend.py_, I found somewhat of a workaround, but it isn't user/API-friendly. I need the learning phase tensor to feed to `K.function` to get layer gradients, outputs, etc. Works fine w/ `import keras.backend as K`, but fails for `import tensorflow.keras.backend as K`.

Passing the symbolic learning_phase into `K.function`

[2019-11-22 03:48] shaunster0 commented on #25386
I have this need for integer tensor and their gradients too ... it’s disappointing nothing seems to be happening with this, I think this will restrict future innovation in some interesting areas

[2019-11-22 03:49] oanush commented on #34482
@Pauladds ,
Hi, I see that TF version-1.8.0 is being used, please try using the latest version 1.15 and let us know the results. Also please provide a minimal standard code to reproduce the issue reported here if it exists in latest version. Thanks!

[2019-11-22 04:11] ravikyram commented on #34474
@Panshangka

Can you please share the code with proper indentation or colab link, so it will be easy to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2019-11-22 04:12] OverLordGoldDragon opened #34508 "How to get sample_weights and learning_phase? (TF2 Eager)"
`model.sample_weights` works w/ `from keras` imports but not `from tensorflow.keras`; I need the sample weights _tensor_  to feed to `K.function` to get layer gradients, outputs, etc.

Using `model._feed_sample_weights` instead does eliminate the error, but returns `[]`, and feeding `np.ones(32)` vs. `4*np.ones(32)` for sample weights yields the same outputs (it shouldn't).

<hr>

**Note**: see [t

[2019-11-22 04:26] ravikyram commented on #34470
Can you try running the code in latest -tf-nightly `(!pip install tf-nightly-gpu==2.1.0dev20191121`).Issue seemed to be fixed, kindly find the [gist](https://colab.sandbox.google.com/gist/ravikyram/68cba0317e31a6aa835523edabc03d4b/untitled393.ipynb) of colab for the same.Thanks!

[2019-11-22 04:30] Panshangka commented on #34474
Thanks for your reply, This is my colab link:https://colab.research.google.com/drive/1i3gB11KmRjLWESslUaUMWSD6ldJ5SamU

[2019-11-22 04:40] bhavitvyamalik commented on #31368
If you are getting internal compiler error then your operations are supported by the Edge TPU during compilation. However it can still run on the CPU of your Edge TPU but it'll increase the inference time to a large extent.

Most importantly, you can compile only these models successfully on Edge TPU:
- Mobilenet_v1
- Mobilenet_v2
- Inception_v3
- ResNet50

If you'll use any other model, it might

[2019-11-22 04:48] sharkdtu commented on #32817
@LaurentBerger thx， but i don't think it is a good idea for forcing users to set the `steps_per_epoch`.

[2019-11-22 05:10] stephen-systemfriend commented on #34436
with the changes in https://github.com/stephen-systemfriend/tensorflow/commit/5c8659b0b61b2d6789119e18c231c8d6cb5c5d47 it seems to run fine on android (though the SSD net I wanted to use has some custom ops that currently get in the way). Can I make a pull request/what kind of tests should I run first?

[2019-11-22 05:13] tulasiram58827 commented on #33711
@jvishnuvardhan please look into this

[2019-11-22 05:13] tulasiram58827 commented on #33494
@haozha111  please look into it

[2019-11-22 05:15] #33429 closed

[2019-11-22 05:17] WindQAQ commented on #34474
I'm really confused here...

TF - Keras defaults to channel last representation. So the problem here is:

`self.conv512` is first build with input channels 256 when calling `conv4 = self.conv512(conv3)`. However, when calling `conv5 = self.conv512(conv4)`, the input channels become 512.

[code]

[2019-11-22 05:45] gadagashwini commented on #34473
@tonysung, Please provide the complete standalone code to reproduce the reported issue. Thanks!

[2019-11-22 05:57] Panshangka commented on #34474
Thanks! But how do I exactly make this the same as tf.layers? I searched the documentation but got no clue. Maybe I should use another API in tf 2.0 cause I can't change the model structure that I am going to build

[2019-11-22 06:00] WindQAQ commented on #34474
Could you say more about the implementation of `tf.layers` so that I could help you? Maybe give a link of reference codes in `tf.layers`. Thanks!

[2019-11-22 06:05] ravikyram commented on #34457
I have tried on colab with TF version 2.0. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/54fe6ec0fbb9a278f553acd31491b977/untitled395.ipynb). Is this the expected behavior?. Thanks!

[2019-11-22 06:08] Panshangka commented on #34474
The same notebook, I have pasted the implementation of tf.layers in the second cell. It seems that tf.layers.conv2d does not defaults to channel last representation as tf.keras.layers.con2d do
https://colab.research.google.com/drive/1i3gB11KmRjLWESslUaUMWSD6ldJ5SamU

[2019-11-22 06:16] WindQAQ commented on #34474
It does actually. Each time you call `tf.layers.conv2d`, it will generate a convolution kernel/weight. For example, in your generator, it generates 14 kernels/weights (each of them might have different shape depending on input and parameters). However, your `tf.keras.layers.*` implementation only builds 4 convolution layers. You could check this by printing number of parameters in each implementat

[2019-11-22 06:24] WindQAQ commented on #34474
FYI, https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/layers/convolutional.py#L317-L424

You could see a new layer will be created (if `reuse` is False) and applied on inputs.

[2019-11-22 06:28] PhilippJKratzer commented on #34429
I was able to successfully compile on v2.0.0 with cuda-10.2.

I had the same error. My workaround was to remove the line `"--bin2c-path=%s" % bin2c.dirname,` from the file `third_party/nccl/build_defs.bzl.tpl`

seems this option is not required anymore.

[2019-11-22 06:31] SanthoshRajendiran commented on #33557
Actually, I tried that too.. That is also not working, attaching the error log herewith.
[benchmarking_issues_gpu.txt](https://github.com/tensorflow/tensorflow/files/3878212/benchmarking_issues_gpu.txt)

[2019-11-22 06:31] yyoon commented on #34441
Will update the official document soon to reflect the changes in building TFLite with select ops for iOS.

In the meantime, you can try building the following bazel target:
[code]

The resulting framework can then be used in place of the `TensorFlowLiteC` framework described in this guide: https://www.tensorflow.org/lite/guide/build_ios

There's one more step to follow when building an app with th

[2019-11-22 06:33] Panshangka commented on #34474
谢谢，I should read more about the source code

[2019-11-22 06:37] burgerkingeater opened #34510 "BufferedInputStream should avoid doing Reset() in Seek when new position is still in buffer."
Check the [code here](https://github.com/tensorflow/tensorflow/blob/597a30bc61134ee1deec0b439b3649f346f1f119/tensorflow/core/lib/io/buffered_inputstream.cc#L161)
[code]

 I see two issues, correct me if i'm wrong:
1. Tell() doesn't return the position of the buffer within file as suggested in comment, in fact it returns the position of the `pos_` within the file.
2. when `position` is still inside

[2019-11-22 06:37] WindQAQ commented on #34474
No worries! It's a hard transition from 1.x to 2.0. Please let me know if you have further questions. Thank you :-)

[2019-11-22 06:43] maifeeulasad opened #34511 "Grammar.txt not found pip3 install --upgrade tensorflow-gpu"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Win10 Pro [Version 10.0.19013.1122]
- Tried to install TensorFlow  installed using pip3

[2019-11-22 06:49] mouse36872 opened #34512 "Learning VM"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2019-11-22 06:51] mouse36872 opened #34513 "Q"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-11-22 06:58] npuichigo commented on #32817
@LaurentBerger sometimes we even don't know the full size of the data.

[2019-11-22 07:14] Passenger12138 opened #34514 "module 'tensorflow' has no attribute 'enable_eager_execution'"
My tensorflow 2.0 has encountered a strange problem, I showed it when creating a new regression model class.
Module 'tensorflow' has no attribute 'enable_eager_execution'
I am confused.I really hope to get your answer. Here is my code.

import tensorflow as tf
tf.enable_eager_execution()
x=tf.constant([[1.0,2.0,3.0],[4.0,5.0,6.0]])
y=tf.constant([[10.0],[20.0]])
class Linear(tf.keras.Model):
    d

[2019-11-22 08:02] LaurentBerger commented on #32817
@sharkdtu I changed code and use [tf.data.experimental.cardinality](https://www.tensorflow.org/api_docs/python/tf/data/experimental/cardinality)[ issue here](https://github.com/tensorflow/tensorflow/issues/26966)

@npuichigo Why? (of course  I must shuffle data before fit but it's only an example)

[2019-11-22 08:07] gadagashwini commented on #34458
Issue is replicating with Tf 2.0.
Please take a look at colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/db3cd6c2d13e3b16b6cc3fedfac2b1ae/untitled265.ipynb). Thanks!

[2019-11-22 08:07] minemine1126 commented on #33927
This error may be caused by the punctuation of the Chinese input method in the code and some Chinese characters, such as ‘需’, ‘为’, ‘第一层',etc. I deleted the Chinese characters in the code and replaced the Chinese punctuation with English punctuation.it works well.
The result:

    INFO line 17:24: Renamed 'tf.random_normal' to 'tf.random.normal'
    INFO line 27:24: Renamed 'tf.random_normal' to 't

[2019-11-22 08:13] gadagashwini commented on #34478
@dingevin, Can you try with Tf latest 1.15 version and check still error persists or not. And also if possible provide the minimum code snippet to localize the reported issue. Thanks!

[2019-11-22 08:19] gadagashwini commented on #34479
@gekowa, Please provide the complete standalone code to reproduce the reported issue.Thanks!

[2019-11-22 08:27] gadagashwini commented on #34479
@gekowa, Similar issue [#32672](https://github.com/tensorflow/tensorflow/issues/32672). Thanks

[2019-11-22 08:34] oanush commented on #34454
Issue replicating for given code in TF-2.0, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/edd8e140df86794bc17324b0b7cb2333/34454.ipynb) of colab.Thanks!

[2019-11-22 08:34] optiluca commented on #33686
Hi, is there any update on this issue?  The latest gist is [here].(https://colab.research.google.com/gist/optiluca/83eeca1cd238ed119d6a6185bd45c635/untitled298.ipynb)

[2019-11-22 08:43] kierenj commented on #33960
I'm very sorry, my time for this whole project was very limited, and I've worked around using `tensorflow/tensorflow:latest-py3`. I haven't managed to find even an hour to share more detail, though I know that is not helpful.

[2019-11-22 08:54] oanush commented on #34060
@yaolove ,
Any update on the issue ?Thanks!

[2019-11-22 08:56] yaolove commented on #34060
just a bug of my source,already solve it ,thanks

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"oanush"<notifications@github.com&gt;;
发送时间:&nbsp;2019年11月22日(星期五) 下午4:54
收件人:&nbsp;"tensorflow/tensorflow"<tensorflow@noreply.github.com&gt;;
抄送:&nbsp;"超"<442622355@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [tensorflow/tensorflow] undefined reference to `absl::M

[2019-11-22 08:59] oanush commented on #34166
@ibarshai ,
Any update on the issue ?Thanks!

[2019-11-22 09:00] ZK-Zhou opened #34517 "Tensorflow deadlock when using multi-feed_dicts or multi-queues to different gpus"
**System information**
- pycharm
- 1.10
- Python version:3.6
- CUDA/cuDNN version:9
- GPU model and memory:GTX 1080Ti

**Describe the current behavior**
I used the data-parallel mode to train my network. For the require of research, I needed feed different category images to different GPU(all The images have same size, such as input dogs' images to GPU 0 and cats' images to GPU 1), so I initiated

[2019-11-22 09:04] Pauladds commented on #34482
Hi, I have TF 1.15 and my program still doesn't work. Here is the code, i am running "blob_sketch_RNN-bread" but i don't know my problem...
my version of TF is:
(magenta) paula@oceanus:~$ pip show tensorflow-gpu
Name: tensorflow-gpu
Version: 1.15.0
Summary: TensorFlow is an open source machine learning framework for everyone.
Home-page: https://www.tensorflow.org/
Author: Google Inc.
Author-email:

[2019-11-22 09:10] xieyi4650 commented on #28411
ubuntu 16.04
gcc 5.4.0 20160609
python 3.6
bazel: 0.26.1
cuda 10
cudnn 7.6.5
tensorflow:  [r1.14]https://github.com/tensorflow/tensorflow/tree/r1.14
docker image build by using  [dockerfiles](https://github.com/tensorflow/tensorflow/tree/r1.14/tensorflow/tools/dockerfiles),  change python version to python3.6

build command
`bazel build --config=opt --config=cuda  --verbose_failures //tensorflow/t

[2019-11-22 09:10] gadagashwini commented on #34481
Could reproduce the issue with TF 2.0.
Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/74b3582f02348373e348f075afbf4edd/untitled266.ipynb). Thanks!

[2019-11-22 09:14] #34060 closed

[2019-11-22 09:14] ravikyram commented on #34456
I have tried on colab with TF version 2.0 beta,2.0,2.1.0-dev20191121 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/3b2d9e8d159ca9ca38870cd2650b10ae/untitled396.ipynb).Thanks!

[2019-11-22 09:20] niccle27 opened #34518 "Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above."
I researched that issue, but unfortunnately all i was able to find was a compatibility problems. i made sure to install exactly what was specified in the tensorflow gpu installation procedure. The only thing that is different is that i'm running the 430 nvidia driver (which was installed by asking to install the 418)

**System information**
- https://github.com/tensorflow/models/blob/master/resear

[2019-11-22 09:22] gadagashwini commented on #32945
Closing since its duplicate [#33363](https://github.com/tensorflow/tensorflow/issues/33363).

[2019-11-22 09:22] #32945 closed

[2019-11-22 09:23] mariusz-r commented on #31831
Thanks! This fully answers my question and I think this issue can be closed.

[2019-11-22 09:25] #32908 closed

[2019-11-22 09:26] flashtimeLee commented on #34438
I try to use NDK r17c， there is still the same err。Do you have any sugge？

[2019-11-22 09:35] inkcherry commented on #33148
I think embedding(mask_zero=true) create this problem,there are two way I find to slove it
1"mask_zero=False",but it changes code process
2 your way
thanks a lot.

[2019-11-22 09:42] dmus commented on #24828
Same issue here

Works with these lines added
config = tf.compat.v1.ConfigProto()
config.gpu_options.allow_growth = True
sess = tf.compat.v1.Session(graph=self.graph, config=config)

[2019-11-22 09:56] nikochiko commented on #33927
@minemine1126 @Jinnrry , Looks like an encoding bug to me. The default encoding while using `open` to open a file is `unicode` so this method won't be compatible with `utf-8` characters as Chinese strings as @minemine1126 pointed out.
@jvishnuvardhan , please see.

[2019-11-22 10:11] #34514 closed

[2019-11-22 10:30] gadagashwini commented on #34116
@sc20ka, Install CUDA 10.0 and Follow the following steps to install Tensorflow. Also set the CUDA path.
$pip install virtualenv
$virtualenv tf_1.13   # tf_1.13 is virtual env name
$source tf_1.13/bin/activate
tf_2.0.0 $ pip install tensorflow-gpu==1.13.1
Thanks!

[2019-11-22 10:30] josephernest commented on #34490
Oh this would be really great... Is there a waiting list for this service, or could my use case (TF 1.14 without SSE4.1) serve as a demo case for this service? :-)

If you had a little spare time on a machine to run such a build in background, I would be really interested @wdirons if we can send it via file transfer ;) (my email is on my profile)

Would you have a list of commands in this example:

[2019-11-22 10:30] steph-en-m commented on #34512
@mouse36872 it doesn't look like your raising any issue here.

[2019-11-22 10:31] gadagashwini commented on #34142
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-22 10:31] #34142 closed

[2019-11-22 10:32] gadagashwini commented on #34156
@jessicadef, Please paste the code snippet to localize the reported issue. Thanks!

[2019-11-22 10:33] gadagashwini commented on #34192
@mandyclustar, Any update.

[2019-11-22 10:34] gadagashwini commented on #34232
@psnbbgy, Please provide the information asked in the template. Thanks!

[2019-11-22 10:40] lojzezust commented on #34457
Yeah this is the current behaviour, but not what should be happening. When you run the first example, you can see that first the dataset size is unknown (as it should be). After the first epoch is completed (1024 steps), evaluation is performed (128 steps).

Then for other epochs the size of the evaluation dataset (128) is incorrectly used instead of the the training dataset (1024) as the total co

[2019-11-22 10:40] ravikyram commented on #33903
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-22 10:40] #33903 closed

[2019-11-22 10:41] steph-en-m commented on #34513
@mouse36872 Please go through the contributing guidelines at https://www.tensorflow.org/community/contribute.

[2019-11-22 11:13] SSSxCCC opened #34519 "tf.range + for x,y in dataset issue"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: win10 1809, pycharm2019.2.3
- TensorFlow installed from: pip install tensorflow-gpu
- TensorFlow version: tensorflow-gpu 2.0.0
- Python version: 3.6
- CUDA/cuDNN version: 10.0/7.6.4
- GPU model and memory: rtx2080 8g

**Describe the current behavior**
tf.range + for x,y in dataset raise exception.

**Describe

[2019-11-22 11:23] olesalscheider commented on #33688
Hm, that's weird. The only explanation I have is that some of the operations have outputs or inputs on the CPU and thus the operations for the backward pass end up there...

It might be helpful to log the device placement for a model with performance regression with and without the patch and have a look at the diff. Maybe that can bring some clarity.

[2019-11-22 11:28] EvilTrtl commented on #33743
As of the Tensorflow 2.0 release, that Codelab was deprecated. A 2.0 version of that colab can be found at [https://colab.research.google.com/github/tensorflow/examples/blob/master/community/en/flowers_tf_lite.ipynb](url)

[2019-11-22 11:51] elblogbruno commented on #33605
MEDIAPIPE Now works! awesome! thanks @impjdi and @wanfranck

[2019-11-22 12:00] gadagashwini commented on #32371
@zihaozhihao, I tried executing the code snippet multiple times with TF 1.15. I didn't see inconsistency in the result. Please see the [gist](https://colab.sandbox.google.com/gist/gadagashwini/ede7154975bc3fb4c0920252f2fd6e91/untitled268.ipynb). Please let us know if the issue still persists. Thanks!

[2019-11-22 12:11] btel commented on #34457
I observe the same behaviour when using `tf.data.Dataset.from_generator`. However it seems to be fixed in the nighlty build. Try replacing the first line in the notebook with:

```!pip install tf-nightly```

[2019-11-22 12:16] Tauranis commented on #33009
I got the same problem both on rc2 and on official 2.0.0 release.
`model.predict_on_batch` workaround worked for me

[2019-11-22 12:28] yangis1019 commented on #34354
OK

[2019-11-22 12:28] #34354 closed

[2019-11-22 12:31] tensorflowbutler commented on #27679
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-22 12:47] LuisSaybe commented on #32500
will check today, sorry was on vacation

[2019-11-22 12:54] DocDriven commented on #34277
@jdduke Thanks for your answer. I am relatively new to the bazel build system. Is this library automatically produced when invoking
[code]
or do I have to add the contents of the experimental feature to `/tensorflow_src/tensorflow/lite/BUILD`? I guess I have to modify the build command for the c shared object to build the extended runtime as well. I would be grateful for some guidance at this poin

[2019-11-22 12:54] jkrathore commented on #15736
from tensorflow.python.keras.layers.core import Reshape,Dense,Dropout,Activation,Flatten

works for me

[2019-11-22 13:15] titanbender commented on #34350
I'm having the same issue as @skulhare

[2019-11-22 13:17] Yooong-W opened #34520 "does not contain a toolchain for cpu 'arm64-v8a' when building tensorflow lite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):source
- TensorFlow version:r1.15
- Bazel version (if compiling from source):0.24.1

Hi,
I'm trying to build the tensorflow lite for 'arm64-v8a' with linux on an am

[2019-11-22 13:34] Yooong-W commented on #34520
i changed the command `bazel build -c opt //tensorflow/lite:libtensorflowlite.so --fat_apk_cpu=arm64-v8a`,and it works well. i want know What is the difference between the --fat_apk_cpu=arm64-v8a and --cpu=arm64-v8a? and is the generated library suitable for arm64-v8a with linux?

[2019-11-22 13:43] guillaumekln commented on #28007
@jvishnuvardhan @nfelt Any update on this? Maybe this issue should be reassigned to someone else.

[2019-11-22 13:43] 7Z0nE opened #34521 "keras.Model does not work with keras.Input that was created with `tensor=` kwarg."
### System information
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 18.04 LTS**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use comm

[2019-11-22 13:56] andmax commented on #30993
This issue is simple to resolve, just place shuffle=shuffle in model_iteration call for val_results in:

https://github.com/tensorflow/tensorflow/blob/r1.15/tensorflow/python/keras/engine/training_arrays.py#L428

In this way, shuffle will not be default to True in validation call raising the TypeError about not being shuffle=batch, here:

https://github.com/tensorflow/tensorflow/blob/r1.15/tensorf

[2019-11-22 14:11] mdanatg commented on #34297
The PR that just got merged should fix the issue in tf.function.

As a side note, we should still disallow RaggedTensor.__iter__ in graph code (or make it return a proper graph-based iterator).

[2019-11-22 14:14] vmarkovtsev opened #34523 "TensorFlow Lite schema updater loses floating-point precision"
I am concerned about [tensorflow/lite/schema/upgrade_schema.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/schema/upgrade_schema.py). I see that the schema upgrade is performed by converting flatbuffers binary to JSON and then backward.
However, there is a problem with flatbuffers binary -> JSON step described in https://github.com/google/flatbuffers/issues/5371 which lea

[2019-11-22 14:20] humanpose1 commented on #31166
Hello,
I've run into the same issue on Ubuntu 18.04 CUDA 10.1 tensorflow-gpu version 2.0.0 and Python 3.7.4. Cudnn version is 7.6.2.
But in my case, if I use the version 1.14 of tensorflow the code above gives me the right answer.

It seems that in colab, there is no issue for the version 2.0 and for the 1.14.
Any idea why is there that problem ?

[2019-11-22 14:23] noahtren commented on #17851
@alextp thanks for the quick reply! I ended up accomplishing what I wanted to do with a simple `model.fit` and custom callbacks.

[2019-11-22 15:12] indranaut commented on #28953
@hadim  Did you find the solution to this problem ? It will be appreciated as I am facing the same

[2019-11-22 15:35] lojzezust commented on #34457
Can confirm. Using the nightly build (2.1.0-dev20191122) I get the expected behaviour.

[2019-11-22 15:50] denis-sh opened #34524 "`tfjs.converters.convert_tf_saved_model` fails for NN with embedding (in most cases)"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux x64
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
2.0.0
- Python version:
3.7.4
- CUDA/cuDNN version:
CUDA Version: 10.0
- GPU model and memory:
Multiple GeFo

[2019-11-22 15:53] zolon-zz commented on #33179
Reproduced issue with docker latest-py3-jupyter

adding the above pip to the tutorial code works as a workaround.

[2019-11-22 16:13] shelkesagar29 commented on #33925
@liyunlu0618 any solution yet?

[2019-11-22 16:23] durandg12 commented on #34068
I have reviewed the issue you linked. It seems to be the same problem indeed. I had also found the workaround of loading without compile but as @somedadaism said [this post](https://github.com/tensorflow/tensorflow/issues/32612#issuecomment-534248672) it is not satisfying.

So right now the best workaround is to use a custom function and pass it to the `compile`method and not subclassing `MeanMetr

[2019-11-22 16:43] #34513 closed

[2019-11-22 16:46] cataclysmus commented on #9489
Had the same problem with `libcublas10=10.2.2.89-1`, solved it by downgrading to `10.1.0.105-1`

[2019-11-22 16:51] ylipacbio commented on #32234
Thanks for the reply and pointing out that `static XlaDeviceOpRegistrations* registrations = ` looks fine.

Please let me know once the root cause is found and fixed. Thanks!

[2019-11-22 16:55] LuisSaybe commented on #32500
@yhliang2018 yes it is fixed now in tf-nightly, thanks

[2019-11-22 16:55] #32500 closed

[2019-11-22 17:07] jdduke commented on #34438
We generally discourage use of Makefiles for Android, instead preferring Bazel. Looks like the key difference in your makefile is that we use llvm-libc++ by default, rather than gnu-libstdc++, so I think you'll need to update your LIBS and INCLUDES accordingly. One good way to compare with bazel builds is to configure your Android build (run `configure` in your root TensorFlow checkout), then run

[2019-11-22 17:14] ghiles-bgp opened #34525 "Cannot Use GpuDelegate on simple model with 3D input"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Catalina and Android 10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.0.0

**Provide the text output from tflite_convert**

[code]

**Any other info / logs**

*The model*

[code]

*TFLite conversion code*

[code]

*Android code*

[code]

This works

[2019-11-22 17:19] srjoglekar246 commented on #30524
If latency isn't an issue for you, just use `export_tflite_ssd_graph.py` with the extra param `--use_regular_nms=true`. Does that improve the accuracy?

[2019-11-22 17:20] jvishnuvardhan commented on #32944
@charmasaur  I cannot reproduce the issue when I ran your code in `tf-nightly`. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/a0be9e53419c37cf63d4d090aededd23/untitled1.ipynb). Thanks!

This issue was fixed by @rmlarsen fix. It is available in `tf-nightly`.

I am closing the issue as it was resolved. Please feel to open the issue if the issue persists again. Tha

[2019-11-22 17:20] #32944 closed

[2019-11-22 17:21] sri9s commented on #24828
Can you be specific? How did you solve it with tf2.0 and cuda10.0?

[2019-11-22 17:23] srjoglekar246 commented on #19293
@JaviBonilla If better bounding-box based tracking is your goal, you could try `ssd_resnet_50_fpn_coco` from our [detection page](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md). It gives a COCO mAP value of 35 at a relatively lower latency (while still being pretty good with the TFLite infra) - the latency is ~14s on a Pixel 2, to give some

[2019-11-22 17:36] mouse36872 opened #34526 "Xxx"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that would be helpful to diagno

[2019-11-22 17:36] mouse36872 commented on #34526
Xxx

[2019-11-22 17:37] mouse36872 opened #34527 "Xxx"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-11-22 17:37] mouse36872 commented on #34527
Xxx

[2019-11-22 17:41] sethmnielsen commented on #24828
@sri9s see my post above for an example that works.

[2019-11-22 17:58] #34526 closed

[2019-11-22 17:58] #34527 closed

[2019-11-22 18:08] jdduke commented on #34436
I would apply the delegate, try running the example model in the sample Unity app (I believe the operator should be supported by the GPU), check the adb logs and make sure you see something about GPU delegate initialization.

[2019-11-22 18:10] jdduke commented on #34010
Any chance you can link to the model? or a trimmed down version of the model?

I'd like to see what other operators would be needed for this kind of model, as I suspect it might be more than just ZeroPadding3D.

[2019-11-22 18:11] jianlijianli commented on #34502
Adding haozha111 to triage the issue since this involves converting loops. Thanks.

[2019-11-22 18:22] gowthamkpr commented on #33667
@sayakpaul Yes, I agree with you. We will take a look into it. Thanks!

[2019-11-22 18:25] pavithrasv commented on #34187
With the current batch size the shape of y_pred and y_true are : y_pred (50, 10), y_true (50,)
Except for the last batch where the shape is: y_pred (50, 10) y_true (0,)

This is the reason for the error. Fixing the input data will fix the issue.

[2019-11-22 18:25] #34187 closed

[2019-11-22 18:27] #34503 closed

[2019-11-22 18:28] zihaozhihao commented on #32371
@gadagashwini Thanks for replying and I checked your gist and found the results were changed if you ran the code multiple times.

[2019-11-22 18:37] andmax opened #34528 "External loss function raises error on incompatible types"
On TensorFlow 2.0 (OS Ubuntu 16.04), when I've an external loss function, the tf.keras.model fit() function call raises an error of incompatible types, whereas the same code on TensorFlow 1.15 does not raise any error and works fine.  The function fit() fails with:

[code]

The minimal code to reproduce is:

[code]

If I remove line (1) it works on TensorFlow 2.0.

[2019-11-22 18:43] quangkevin commented on #23748
Hi @kechan, did you figure out the solution? I'm running into the same issue too.

[2019-11-22 18:45] jvishnuvardhan commented on #34068
@durandg12 If you have a solution to an issue in Tensorflow, you can raise PR by going [here](https://github.com/tensorflow/tensorflow/pulls). You can edit related TF source code with your solution, test it locally, then checkit into PR. Tensorflow Team will review it and responds. If everything is looking good, then it will be approved and then merged into TF source code. [This](https://www.tenso

[2019-11-22 19:02] EvilTrtl commented on #34205
tensorflow/docs#1216

[2019-11-22 19:04] EvilTrtl commented on #34205
tensorflow/docs#1216

[2019-11-22 19:09] jevad commented on #33618
I get this also.  I tried both bazel 0.29.1 and 1.2.0.  The problem is that '-std=c++14' is not a valid flag for cl.  The cl flag that should be used to specify the C++ 14 standard  is '/std:c++14'.

[2019-11-22 19:18] gowthamkpr commented on #34004
@airplane2230 Can you share a github gist reproducing the issue on colab. Thanks!

[2019-11-22 19:20] gowthamkpr commented on #34004
In TensorFlow 2.0, if you want to use GPU, you need to pip install tensorflow-gpu==2.0

Some history:
For a long time the tensorflow pip package was CPU only and the tensorflow-gpu pip package was GPU only. This was still true when TensorFlow 2.0 was released.

TensorFlow 1.15.0 was released after TensorFlow 2.0, and that was the first package where the tensorflow pip package could work with eithe

[2019-11-22 19:25] anuj-rawat commented on #28411
@xieyi4650 , What is the eigen in your original build with the problem? Is it at [c85345](https://github.com/tensorflow/tensorflow/commit/c853459a0a88187a3a4e8adc6dd1eea6bbd566bc#diff-455a4c7f8e22d7c514e8c2caa27506c5)? - this should have the fix already. The API was removed from  `Eigen/src/Core/arch/GPU/PacketMathHalf.h`

[2019-11-22 19:28] reedwm commented on #34406
Also, for the LossScaleOptimizer notebook, try passing `learning_rate=1e-4` to the Adam optimizer:

[code]

This is already done in the Policy notebook. After doing this, the loss decreased for me instead of increasing.

[2019-11-22 19:45] komodovaran commented on #34025
I get the same error if trying to predict in a for-loop (due to variable length inputs).

I have to call `model.predict(np.expand_dims(xi, axis = 0))` on each sample individually, or tensorflow will attempt to concatenate predictions and fail.

This is probably calling something several times, when it shouldn't.

[2019-11-22 19:50] #33572 closed

[2019-11-22 20:16] kechan commented on #23748
@quangkevin
No. I haven't looked into it again. I thought i just use Masking for my particular model and move on. But try install tf.nightly and see if the issue is still there. it appears this "bug" has been opened for a long while.

[2019-11-22 20:24] tseth92 commented on #33283
@gowthamkpr if someone can really confirm that pickling is not supported for dynamic objects, then this should be considered as a feature request as it is an important part of TF.

[2019-11-22 20:25] praveen-14 commented on #26812
Hello, Is there a workaround for a situation like this.

`@tf.function
def inference(input):

  model = Model()

  input = model.add_input(input)
  input_layer = input

  layer_1 = model.add_layer(input_layer, c_kdimension=[3, 3, 1, 32], c_kstrides=[1, 1, 1, 1], map_priority=False, lrn=False, pool=True,
                       mp_kdimension=[1, 2, 2, 1], mp_kstrides=[1, 1, 1, 1], act='leaky_relu',

[2019-11-22 20:31] praveen-14 commented on #26812
Hello, Is there a workaround for a situation like this.

def add_layer(input, c_kdimension, c_kstrides):
  w = tf.get_variable(name="w", shape=c_kdimension, initializer = tf.contrib.layers.xavier_initializer()
  b = tf.get_variable(name="b", shape=c_kdimension[-1], initializer=tf.contrib.layers.xavier_initializer())

@tf.function
def inference(input):
  model = Model()
  layer_1 = model.add_layer(

[2019-11-22 20:42] guydavid commented on #34010
I am afraid I not at liberty to share the model but you are correct- ZeroPadding3D is not the only missing operation as it requires MaxPooling3D and Conv3D as well.
I made several pull requests over the week to advance this agenda and the next item would be to extend schema.fbs with these new operators. The various pooling and convolution operations are too coupled together so I will keep my chang

[2019-11-22 20:48] lgeiger commented on #21389
I don't think this is an issue in TF 2 anymore.

[2019-11-22 20:48] #21389 closed

[2019-11-22 20:50] lgeiger commented on #33847
Closing, since it looks like support for this was added in 7ea9c329266e365f667cfb75965543c08bac7476

[2019-11-22 20:50] #33847 closed

[2019-11-22 21:08] lvenugopalan commented on #34527
@mouse36872 The issue tracker is for Tensorflow feature requests or bug reports.  Please refrain from posting inappropriate content to this forum. This is unacceptable to this community.

[2019-11-22 21:09] lvenugopalan commented on #34526
@mouse36872 The issue tracker is for Tensorflow feature requests or bug reports.  Please refrain from posting inappropriate content to this forum. This is unacceptable to this community.

[2019-11-22 21:16] komodovaran opened #34530 "Prediction fails on variable size inputs due to np.concatenate"
I've built an autoencoder that takes input of size `(None, 2)` (batch size must be 1). This works for training, because it deals with each batch individually. I've posted my implementation [here]( https://datascience.stackexchange.com/questions/63571/tensorflow-training-with-batch-size-of-1-none-features-but-model-expects-ex?noredirect=1#comment68767_63571)

When it comes to prediction however, th

[2019-11-22 21:47] ymodak commented on #34351
You may try installing TF in virtual environment using ```conda create```
See (Create virtual environments for python with conda)[https://uoa-eresearch.github.io/eresearch-cookbook/recipe/2014/11/20/conda/]

[2019-11-22 21:59] akshaym commented on #30113
Sorry for the delayed response.

Eager internally has 2 paths (and you've found a place where they don't agree - a discrepancy I will remove soon).

Unfortunately, this means removing the behavior of being 278 is unfortunately going to go away in eager, and all the above cases will return 178.

As suggested by @yongtang, the best thing to do is to convert the numpy array to a tensor explicitly.

[2019-11-22 22:05] jessicadef commented on #34156
@gadagashwini Thanks for your reply! I figured out where the issue was: one of the two machines was running the code in a virtualenv environment which did not allow the machines to communicate.

[2019-11-22 22:15] ymodak commented on #34306
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
 Thanks!

[2019-11-22 22:15] #34306 closed

[2019-11-22 22:17] #34512 closed

[2019-11-22 22:17] jianlijianli commented on #34523
Hi gargn@, could you please help answer this question, it's about conversion between different versions of the schema. Thanks.

[2019-11-22 22:30] jianlijianli commented on #34489
Hi mlinxiang, thanks for using tensorflow lite.

For your use case, could you please try to follow https://www.tensorflow.org/lite/guide/android (and https://github.com/tensorflow/examples/blob/master/lite/examples/image_classification/android/README.md)? That should create a standard image classification model.

Thanks.

[2019-11-22 22:54] ymodak commented on #23678
(tf-lite convert) toco compilation/execution was fixed for Windows in TF 1.11 and continues to be available in later Tf versions as well.
See https://github.com/tensorflow/tensorflow/releases/tag/v1.11.0

[2019-11-22 22:54] #23678 closed

[2019-11-22 23:03] gargn commented on #34523
Reassigning to @aselle who has more context.

[2019-11-22 23:13] Jaftem commented on #33153
Any updates on this? Running into this issue with a RPi3.

[2019-11-22 23:13] ymodak commented on #34129
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

 Thanks!

[2019-11-22 23:13] #34129 closed

[2019-11-22 23:15] jvishnuvardhan commented on #33686
@optiluca Looks like this was resolved in `tf-nightly`. I cannot reproduce the issue with `tf-nightly`. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/19db72f446e25f5192d2df18b09bbc8c/untitled298.ipynb). Thanks!

Please close the issue if it was resolved for you. Thanks!

[2019-11-22 23:27] ymodak commented on #34229
Please attach input pbfile to repro the reported issue. Thanks!

[2019-11-22 23:28] gowthamkpr commented on #34475
@YunchuZhang `tensorflow.contrib.staging` uses `StagingArea class` as shown [here](https://github.com/tensorflow/tensorflow/blob/590d6eef7e91a6a7392c8ffffb7b58f2e0c8bc6b/tensorflow/contrib/staging/__init__.py#L20) and also yo can find staging area class [here ](https://github.com/tensorflow/tensorflow/blob/590d6eef7e91a6a7392c8ffffb7b58f2e0c8bc6b/tensorflow/python/ops/data_flow_ops.py#L1770)

In T

[2019-11-22 23:31] ymodak commented on #34083
TF 1.4.1 is obsolete. Please install latest version of TF and import again.
Current colab host TF 1.15.0 version an can successfully import.
```from tensorflow.examples.tutorials.mnist import input_data```

[2019-11-22 23:40] n-gao commented on #34503
In case someone runs into the same issue, there is an example given in the [custom_gradient.py](https://github.com/tensorflow/tensorflow/blob/b6d720fd9303d2841ddbb34536653eb1ec3b3dd9/tensorflow/python/ops/custom_gradient.py#L128) file which is not available on the online documentation.

[2019-11-22 23:48] n-gao opened #34534 "[TF2.0] tf.function use within tf.custom_gradient is extremly slow"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): I wrote a simple example similar to the provided examples
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 64bit
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: not tested
- TensorFlow installed from (source or

[2019-11-23 00:01] gowthamkpr commented on #34458
@grzjab This bug has been fixed in TF-nightly. Please find my github gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/3beef897724021a730c2e8b0086068c7/copy-of-untitled265.ipynb).

[2019-11-23 00:18] ymodak commented on #33918
Apologies for the delay in response. You need to add ```CUPTI``` to the ```$LD_LIBRARY_PATH```environment variable path.
See https://www.tensorflow.org/install/gpu#linux_setup

[2019-11-23 00:22] #33916 closed

[2019-11-23 00:25] ymodak commented on #33835
Closing this issue since its resolved. Feel free to reopen if have further questions. thanks!

[2019-11-23 00:25] #33835 closed

[2019-11-23 00:26] ymodak commented on #33940
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-23 00:26] #33940 closed

[2019-11-23 00:28] yhliang2018 commented on #32234
@julyrashchenko I've tried the model in the example with tf-nightly, but don't see a huge increase of the memory usage. Maybe the model is not large enough? Can you try tf-nightly for your real training job? We have fixed several memory leaking issues recently, and this problem may be potentially fixed already.

[2019-11-23 00:36] ymodak commented on #34001
I beg your pardon, you are right. TensorFlow Mobile is deprecated.
See https://github.com/tensorflow/examples/blob/master/community/en/docs/tfmobile/android_build.md#building-tensorflow-on-android
 You may try using TF Lite for your case.

[2019-11-23 00:37] #34231 closed

[2019-11-23 00:40] gowthamkpr commented on #34455
This is not a bug @RunOrVeith As the uniform dimension is missing before the ragged dimensions, its throwing an error. Thanks!

[2019-11-23 00:45] gowthamkpr commented on #34448
Please find the github gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/a0d97fa218c98e386f353f6a351a75da/untitled248.ipynb)

[2019-11-23 01:21] ymodak commented on #33361
Apologies for the delay in response. Is this still an issue?
I tried TF 2.0 and TF-Nightly versions in python interpreter (terminal), I can see the log info printed.
Can you please confirm by trying in python interpreter? Thanks!

[2019-11-23 01:35] fcakir opened #34536 "Is TF Lite optimized for nvidia gpu's and Intel CPUs?"
Is TF Lite optimized for nvidia gpu's (as similar to TensorRT) and Intel CPUs. If not is there a list of supported hardware/accelerators out there?

[2019-11-23 02:18] un-knight commented on #15805
@RoboEvangelist Can you share resource link about the cambricon and HUAWEI HiAI APIs? thanks!

[2019-11-23 02:20] YunchuZhang commented on #34475
Thank you so much!!!

On Fri, Nov 22, 2019 at 6:28 PM gowthamkpr <notifications@github.com> wrote:

[2019-11-23 02:27] stakemura commented on #31261
@yyoon

I succeeded to build TensorFlowLiteBenchmarkC.framework on my environment.
I thanks a lot for the great work.
In my opinion, I wish we could build TFLiteBenchmark .ipa file with the [bazel](https://docs.bazel.build/versions/master/tutorial/ios-app.html#add-an-ios_application-rule).

[2019-11-23 02:41] yyoon commented on #31261
Great. Will consider adding a bazel rule for building the app in the future.

[2019-11-23 02:41] #31261 closed

[2019-11-23 02:41] mlinxiang commented on #34489
@jianlijianli i want to build a libtensorflow-lite.a to compile my c++ code which will be used by android through jni.  i find one way to do this, but need a lot change about Makefile and target/***.inc, and a lot env settings.  i think maybe this could be more official guide for new people. later i can share my steps to do so

[2019-11-23 03:33] OverLordGoldDragon commented on #34351
@ymodak It's what I did, as shown under "Installation" - my base env is clean, so creating a new one would be same as cloning base env

[2019-11-23 04:15] ymodak commented on #30776
You may also use [```netron```](https://github.com/lutzroeder/netron) for figuring out node names.
Tensorboard also provides the ability to visualize the network as you mentioned with [Op-level graph](https://www.tensorflow.org/tensorboard/graphs#op-level_graph)

[2019-11-23 04:16] #30776 closed

[2019-11-23 04:48] sri9s commented on #24828
I'm using an RTX 2080ti and on checking nvdia-smi it shows dedicated gpu memory is almost fully occupied by some apps running on my win10.
How do I disable windows apps from using my gpu memory and only use it only for deep learning?

[2019-11-23 05:24] airplane2230 commented on #34004
Thank you for your answer.

In my writing, The sentence 'Use Window 10 and TF 2.0' is wrong.

Correctly, 'Use Window 10 and TF 2.0-gpu'.

This mean, I already install tensorflow-gpu==2.0.0 and The above code run in this environment!

thanks.

[2019-11-23 05:24] dynamicwebpaige commented on #23867
Borrowing from the [StackOverflow post linked above](https://stackoverflow.com/questions/53384454/how-to-use-custom-op-to-build-tensorflow-graph-in-c)...

Taking `ZeroOut` from [here](https://www.tensorflow.org/guide/extend/op) as an example, you have to do the following:

[code]

Then you can use it to build a graph:

[code]

**Note**: For TensorFlow inherent ops, code like `ZeroOut class` is aut

[2019-11-23 05:43] sayakpaul commented on #34406
Sure, thanks much @reedwm

[2019-11-23 06:13] #33361 closed

[2019-11-23 06:14] sayakpaul commented on #33667
I opened a PR for the same as well. @gowthamkpr

[2019-11-23 06:14] #33667 closed

[2019-11-23 06:26] lsgrep commented on #34312
Hi @k-w-w , Can I take on this issue?

[2019-11-23 06:31] dbonner opened #34538 "Build from head fails with Bazel 1.1.0 but succeeds with Bazel 0.26.1"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): source (building source issue)
- TensorFlow version: build from head (2.0.0)
- Python version: 3.7.3
- Installed using virtualenv? pip? conda?: Conda
- Bazel version (if compiling from source): 1.1.0 fails while 0.26.1 succeeds
- GCC/Compiler version (if co

[2019-11-23 06:40] YunchuZhang commented on #34475
Hi there,
do you know which function or class could be used to change the StagingArea
in tf2?

Currently, i want to use tf.Variable in tf2 not placeholder to be put in
stagingarea like this:

self.staging_tf = StagingArea(
dtypes=[tf.float32 for _ in self.stage_shapes.keys()],
shapes=list(self.stage_shapes.values()))

self.buffer_ph_tf = [tf.Variable(tf.ones(shape=shape)) for shape in
self.stage_s

[2019-11-23 06:41] dubesar commented on #34508
Hi @OverLordGoldDragon The above code works fine for TensorFlow 1.15
But it seems to fail for TF 2.0

The reason it is failing is the ``` python3 model.sample_weights[0] ``` is outputting None
I don't know the reason for the output None for the model.sample_weights

Please ping me if your issue gets resolved or you find any more issue.

[2019-11-23 07:28] zwenju opened #34539 "RNN document is not clear"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://www.tensorflow.org/api_

[2019-11-23 07:33] fsx950223 opened #34540 "autograph bug"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platfor

[2019-11-23 07:58] htfy96 commented on #252
I think this issue is closed by mistake. The #252 referenced in 913871c's message is actually https://github.com/tensorflow/mlir/pull/252, not this issue.

[2019-11-23 08:00] zwenju opened #34541 "RNN with cell get_initial_state and state_size incompatible"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-11-23 08:02] fsx950223 commented on #34540
fixed with separate function

[2019-11-23 08:02] #34540 closed

[2019-11-23 08:11] wady101 commented on #34083
@ymodak I have tried all three versions - 1.4.1, 1.12.1 and 2.0.0 - all three give me the same error (Using both "building from source" and "pip").
The two things I ask for is ;

Repository I am trying to run - https://github.com/layog/Accurate-Binary-Convolution-Network/blob/master/ABC-layer-inference-support.ipynb [5th cell in Jupyter book gives me error]
Thanks

[2019-11-23 08:30] hoangcuong2011 commented on #31148
I went through this problem and I found the solution @gowthamkpr suggested did not work.
Instead, I found the [solution](https://stackoverflow.com/questions/34001922/failedpreconditionerror-attempting-to-use-uninitialized-in-tensorflow) from stackoverflow helps. I hope my experience is helpful to anyone who happened to stuck with this issue.

[2019-11-23 09:12] wuzhixin1010 commented on #29034
@radiantone  did you finally solve the problem?
I get the same problem right now.
Also in my how hardware2070s.And problem occour in the text classification example of tensorflow.
[https://www.tensorflow.org/alpha/tutorials/text/text_classification_rnn](url)

`CancelledError:  [_Derived_]RecvAsync is cancelled.
	 [[{{node Reshape_11/_38}}]] [Op:__inference_distributed_function_6315]

Function call

[2019-11-23 09:16] alanjuster opened #34542 "向下兼容性太差了，一升级全完蛋，好气人啊！"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-11-23 09:17] alanjuster commented on #34542
文件路径不断地修改 换来换去，晕

[2019-11-23 09:32] sumuzhao commented on #18858
I think the correct way is to use hooks or listeners. But this is non-trivial.

[2019-11-23 10:18] Feelingloved opened #34543 "Hey i need help with this problem in kali linux"
Umm so i was using Kali linux today and I wanted to download HiddenEye but i get this problem here is a screneshot - http://prntscr.com/q0xuqi

Any way on how i can fix that and i am new to kali linux stuff

[2019-11-23 10:44] D4n1aLLL opened #34544 "Cannot add tensor to the batch: number of elements does not match. Shapes are: [tensor]: [585,1024,3], [batch]: [600,799,3]"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Binary (Used pip to install tensorflow 1.15 and downlo

[2019-11-23 11:18] lgeiger commented on #34332
Thanks a lot for the insights. It would be cools if we could come up with a simple solution for this.

[2019-11-23 11:23] kpe commented on #34391
Just noted, that disabling eager execution, makes the test cases 0 and 2 above work again, i.e. without `experimental_distribute_dataset()` it works fine, just `eager_execution` needs to be disabled.

[2019-11-23 11:26] kpe commented on #33747
@donttal - I just noticed that `tf.compat.v1.disable_eager_execution()` allows me to train on a TPU - see #34391.

[2019-11-23 11:37] mmaaz60 commented on #31509
Hi, I am facing this issue while training tiny yolo on VOC2012 dataset using model.fit() method. Note that I am using repo https://github.com/zzh8829/yolov3-tf2 and using TF2.0 official release. Any suggestion to fix the error?

[2019-11-23 11:37] JaviBonilla commented on #19293
@srjoglekar246 thanks a lot for the info! We will do some experiments in our solar field with the model you mentioned and Mask RCNN to compare and evaluate accuracy and latency.

I keep you inform about the results :-).

[2019-11-23 12:23] tensorflowbutler commented on #31245
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-23 12:23] tensorflowbutler commented on #31945
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-23 12:32] foobar167 commented on #27198
@r-barnes : There is [Anaconda Python](https://www.anaconda.com/distribution/) distribution which is more flexible sometimes, than Python distribution. For example, I installed TensorFlow on the old CPU using **Anaconda Python**. Meanwhile Python refused to work (old CPU, CUDA not installed, wrong version of cuDNN, etc.).

Anaconda Python has better automatic software package installer and version

[2019-11-23 13:07] SamuelMarks commented on #24828
Thanks that did the trick with TensorFlow 2.0.0 (GPU). Just a quick suggestion, run this to prevent updating it with `apt-get upgrade`:
[code]

[2019-11-23 13:46] lxz1104 opened #34547 "AttributeError: module 'tensorflow' has no attribute 'data'"
**System information**
- OS Platform and Distribution :Linux Ubuntu 18.0.4
- TensorFlow installed from (source or binary): anaconda3
- TensorFlow version (use command below):2.0.0
- Python version:3.6.9
- CUDA/cuDNN version:10.1
- GPU model and memory:GTX2070 8GB

**Code to reproduce the issue**
[code]

**info / logs**
[code]

[2019-11-23 17:44] GiuseppeDiGuglielmo opened #34548 "Does TFLite (Python API) require Tensorflow installed (RISCV64 porting)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux from Buildroot 2019.08.2
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: RISCV64 Ariane core
- TensorFlow installed from (source or binary): TF non installed, TFLite installed
- TensorFlow version: 2.0.0
- Python version: Python 3.7.5
- Installed using virtualenv?

[2019-11-23 18:52] georgebush422 commented on #33374
This is not limited to windows. Rolling linux distributions without the option to downgrade  software packages are also having the problem.

[2019-11-23 18:52] srihari-humbarwadi commented on #34519
@SSSxCCC cannot reproduce the issue
![image](https://user-images.githubusercontent.com/24864163/69483691-6b625380-0e50-11ea-8eb7-04affe81ad53.png)

[2019-11-23 19:53] parasgoyal12 commented on #25802
I would love contributing to this. Please tell me how to proceed as I am newcomer.

[2019-11-23 19:57] #34548 closed

[2019-11-23 20:36] niccle27 commented on #34518
[code]
Adding those lines just after importing the modules fixed the precedent issue. But i still cannot run , on jupyther, the kernel die:

[code]
Does anybody have a workarround this ?

[2019-11-23 21:08] lodeguns opened #34549 "Dynamic assignment of tensor elements fails in custom layer"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

I'm not an expert but after a week of research, I would like to know your opinion.

**System information**
- Have I written custom code

[2019-11-23 22:43] mtobeiyf commented on #33545
Use older versions of the libraries would solve the problem
tensorflow==1.13.2
keras==2.2.4

[2019-11-23 22:48] sri9s commented on #28326
I am facing the same error with an RTX 2080ti. Here is my output to nviidia-smi:

+-----------------------------------------------------------------------------+

[2019-11-24 00:51] sidwa opened #34550 "Cannot install tensorflow on raspberry pi-0, raspbian buster"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Raspbian Buster
- Mobile device

[2019-11-24 01:29] zhangjunhust commented on #17747
Have you figured it out?

[2019-11-24 03:01] AlcoholV commented on #23269
@bstriner
This is what I really need.
Can you explain in more detail? Please.

[2019-11-24 03:22] SSSxCCC commented on #34519
@srihari-humbarwadi thank you for your reply! Are you sure your tf is tensorflow-gpu? When I pip install tensorflow, the code works fine, but when I pip install tensorflow-gpu, the code still raise the exception I mentioned.

[2019-11-24 04:32] haozha111 commented on #34502
Hi,

can you try the new TF Lite converter by setting:
converter.experimental_new_converter = True.

Thanks.

[2019-11-24 04:46] haozha111 commented on #33711
assigning this to nupurgarg@ who is working on dynamic shape support.

[2019-11-24 04:49] DeveloperRachit opened #34551 "Bound method <Conv.call> could not be transformed"
Entity <bound method Conv.call of <tensorflow.python.layers.convolutional.Conv2D object at 0x7f2557c76048>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method Conv.call of <tensorflow.python.layers.convolut

[2019-11-24 04:55] haozha111 commented on #33416
Hi,

Sorry for late reply. Can you try out our new TF Lite converter by setting:
converter.experimental_new_converter = True

Please use the tf-nightly pip package so that you can get this working.

Thanks.

[2019-11-24 04:59] haozha111 commented on #31821
Hi,

Sorry for a late update. We have just released a beta TF Lite converter, you can try it with:
coverter.experimental_new_converter = True (make sure you install the latest tf-nightly).

With this converter, you can just use the native tf.nn.bidirectional_dynamic_rnn API rather than tf.lite.experimental* ones. Can you give it a try?

[2019-11-24 05:12] haozha111 commented on #32802
Can you try with the new TF Lite converter?

Install latest tf-nightly, and then try:
converter.experimental_new_converter = True.

(The tensorflow version you use is a bit old, please try with tf-nightly to see if your issue persists).

[2019-11-24 05:48] clived2 commented on #17411
I'm having this problem with Tensorflow 2 runing in a virtual environment in Ubuntu 18.04. It just blows my mind that the Tensorflow developers would put TF 2 as ready and available with this crap happening. NOT Impressed, you TF developers .

[2019-11-24 06:06] dhiren-hamal commented on #4996
So, how did you solve that problem? I have the same problem and I didn't see any header files inside either in tensorflow/core/framework directory.

[2019-11-24 06:37] ishotjr commented on #34219
@jomoengineer thanks for sharing your solution!!! :heart_eyes: :+1:

[2019-11-24 06:38] ishotjr commented on #32037
Thanks so much, @shabaz123 and @dansitu!!! :heart_eyes: :+1:

[2019-11-24 07:03] amitport commented on #33374
@georgebush422 @gowthamkpr  should probably remove [subtype:windows](https://github.com/tensorflow/tensorflow/labels/subtype%3Awindows) tag

[2019-11-24 09:49] googincheng opened #34552 "Tensorflow 2.0 build fail in Windows 10"
### Environment
Windows 10
gtx 1050Ti
CUDA driver 441
CUDA tool kit 10.0
CuDNN 7
Python 3.5
Bazel 0.27.1

### Action
follow the official instruction. https://www.tensorflow.org/install/source_windows

run :
`C:\Users\admin\tensorflow>bazel build //tensorflow/tools/pip_package:build_pip_package`
### ERROR INFO

   Traceback (most recent call last):
        File "C:/users/admin/tensorflow/third_part

[2019-11-24 10:14] huangyh09 opened #34553 "numpy.dot and tensorflow.tensordot can't be used together in MacBook"
Hi,

I was using tensorflow (2.0.0) and numpy (1.7.3) on my MacBook (with Python 3.7.5), but it failed to use both `numpy.dot` (or `numpy.tensordot`) and `tensorflow.tensordot` in one jupyter notebook (no error reported but never finish), though any of them alone works properly.

I have tried the same codes on Linux with the same conda environment, and there is no such issue.

Codes I tested:
[cod

[2019-11-24 11:07] kaushalrai7797 commented on #24642
I am getting the same error, While trying to pip install 1.5 tensorflow i get this error.

Collecting tensorflow==1.5
  Could not find a version that satisfies the requirement tensorflow==1.5 (from versions: 1.13.0rc1, 1.13.0rc2, 1.13.1, 1.13.2, 1.14.0rc0, 1.14.0rc1, 1.14.0, 1.15.0rc0, 1.15.0rc1, 1.15.0rc2, 1.15.0rc3, 1.15.0, 2.0.0a0, 2.0.0b0, 2.0.0b1, 2.0.0rc0, 2.0.0rc1, 2.0.0rc2, 2.0.0)
No match

[2019-11-24 11:32] maifeeulasad commented on #34511
Solved with `Python 3.5.0 (v3.5.0:374f501f4567, Sep 13 2015, 02:27:37)`, when installed using an executable installer.

Reference : [stackoverflow](https://stackoverflow.com/questions/58988652/grammar-txt-not-found-pip3-install-upgrade-tensorflow-gpu?noredirect=1#comment104230564_58988652)

That's all !!!

[2019-11-24 11:32] #34511 closed

[2019-11-24 11:41] nikochiko commented on #34466
@SumNeuron , the notebook you have shared saves the model successfully. Please share a notebook in which you face the issue.

[2019-11-24 11:50] SumNeuron commented on #34466
@nikochiko did you change the `FROM` statement in `Dockerfile.ai` from

[code]

to

[code]

[2019-11-24 11:51] RunOrVeith commented on #34455
Yes, I assumed that it is not a bug, but rather more unexpected behavior/missing documentation.
Maybe this could also be labeled as a feature request for `tf.ragged.stack`.
But it's not super urgent as the workaround with adding a dimension and then squeezing it works well enough.

[2019-11-24 11:56] cooijmanstim opened #34554 "Forward-mode-by-double-backprop fails on tf.square ops"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): colab
- TensorFlow version (use command below): 1.15
- Python version: 3.x

The double-backprop trick (https://j-towns.github.io/2017/06/12/A-new-trick.html) for computing jacobian-vector products (JVPs) fails when `

[2019-11-24 11:57] sh1ng opened #34555 "ppc64le hang nsync::nsync_mu_semaphore_p_with_deadline"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
custom
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
[code]
[code]
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
source compiled with
[code]
- TensorFlow version (use c

[2019-11-24 12:34] jjqtony commented on #34499
same issue for me.

[2019-11-24 12:48] nikochiko commented on #34466
@SumNeuron What error are you getting? You have provided too little information to help.
And to make TF1.X code compatible with TF2.X, you need to disable eager execution with `tf.compat.v1.disable_eager_execution()`.
Works fine for me. See gist: https://colab.research.google.com/gist/nikochiko/cc43b4e4e57918669c217c9fe91270b1/34466.ipynb

[2019-11-24 12:49] nikochiko commented on #34466
@oanush @gowthamkpr , I think this issue is wrongly marked as a bug. Please see.

[2019-11-24 12:49] SumNeuron commented on #34466
@nikochiko ah so it was
[code]
that was the missing line?

[2019-11-24 12:59] Danmou opened #34556 "tf.keras fit is incompatible with tf.function"
**System information**
- TensorFlow version (use command below): 2.0.0
- Python version: 3.7

**Describe the current behavior**
I'm not sure if this is a bug or a documentation issue. The [migration guide](https://www.tensorflow.org/guide/migrate#mixed_variables_v1layers) recommends adding the `@tf.function` decorator to the `call` method of subclassed Keras models or layers. However, this causes

[2019-11-24 13:13] eliadl commented on #31927
This error still persists with today's `tf-nightly` (also tried 1.15.0 and 2.0.0).

I have `DenseFeatures` as the first layer.
I'm able to `evaluate`, `predict` and even `save` the model.
But on `load_model` I get:
[code]
Any suggestions?

[2019-11-24 13:37] christosiraklis opened #34557 "Failed to load the native TensorFlow runtime"
**System information**
- Windows 10
- pip install tensorflow in Anaconda
- TensorFlow version: 2.0.0
- Python version: 3.6
- Installed using virtualenv? pip? conda?: pip

While trying to load keras.datasets,

Traceback (most recent call last):
  File "c:\users\chris\anaconda3\envs\ml\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pyw

[2019-11-24 13:55] Panshangka commented on #34474
Hello again! I successfully print out the loss during training, but when I save the model to find out the size of model only 20KB. Something went wrong, and I visualized the structure looks weird.
here is my colab link:https://colab.research.google.com/drive/1i3gB11KmRjLWESslUaUMWSD6ldJ5SamU
Thanks!

[2019-11-24 14:23] darsh8200 commented on #34551
Not sure what the bug is exactly. But installing installing gast 0.2.2 version fixed it.

pip install --user gast==0.2.2

[2019-11-24 14:30] christosiraklis commented on #34557
Solved by installing tensorflow 1.5 version and keras 2.2 version.

[2019-11-24 14:31] #34557 closed

[2019-11-24 14:33] JushBJJ opened #34558 "undefined reference to `_imp__TF_Version' when compiling in C"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x86 Version 10.0.18

[2019-11-24 14:33] Dieblitzen opened #34559 "Gradient doesn't exist/ becomes None for conv_transpose layers"
**System information**
- Custom code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Catalina
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0
- Python version: 3.6.8
- Bazel version (if compiling from source): N/A
- GCC/Compiler ve

[2019-11-24 14:37] wangshuaizs opened #34560 "Check failed: s.ok() copy tensor to gpu sync"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): [v

[2019-11-24 14:46] jothamsl opened #34561 "Import statement for Tensorflow returning error"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10 x64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.0.0
- Python version: 3.6.2
- Installed using: pip
- Bazel version (if compiling from source):
- GCC/Compiler version (if compil

[2019-11-24 15:58] DeveloperRachit commented on #34551
Pack node (map_1/while/stack) axis attribute is out of bounds: 0                               2019-11-24 21:22:04.734195: W ./tensorflow/core/grappler/optimizers/graph_optimizer_stage.h:241] Failed to run optimizer ArithmeticOptimizer, stage RemoveStackStridedSliceSameAxis node map_1/while/ChangeCoordinateFrame/strided_slice_2. Error: Pack node (map_1/while/stack) axis attribute is out of bounds:

[2019-11-24 15:59] DeveloperRachit commented on #34551
now i am getting this above error when i am evaluating this model

[2019-11-24 16:03] nikochiko commented on #34466
@SumNeuron Yes. See the gist.

[2019-11-24 16:03] Flamefire commented on #30703
Fixed by https://github.com/tensorflow/tensorflow/pull/29673

[2019-11-24 16:06] SumNeuron commented on #34466
@nikochiko Then for now I recommend perhaps updating the error message.
Set `enable_eager = True` and run with 2.0 and get the error:

[code]

to include a statement pointing to `tf.compat.v1.disable_eager_execution()`

[2019-11-24 16:19] zwenju commented on #34541
it seems that the error occurs  with the following  (([input_X, input_U]))
    out = tf.keras.layers.RNN(cells, return_sequences=True)([input_X, input_U])

[2019-11-24 16:23] jdduke commented on #33280
There's nothing we can do for 1.14, are you able to repro with the latest master build? If not, what about 1.15 or the upcoming 2.1 release?

[2019-11-24 16:24] nikochiko commented on #34466
@SumNeuron Why did you change it to True?

[2019-11-24 16:26] SumNeuron commented on #34466
@nikochiko to see the error message. When eager was rolled out there was emphasis on enabling it (auto-on for 2.0), but i have yet to encounter that it could or may need to be disabled for v1 compatibility, so adding a note to the error message may be useful to other users as well

[2019-11-24 16:27] nikochiko commented on #34466
No, look, you can avoid errors altogether with this syntax instead:
[code]

[2019-11-24 16:28] zwenju opened #34562 "multi previous states RNN"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):

**Describe t

[2019-11-24 16:42] SumNeuron commented on #34466
@nikochiko the point I was trying to make is that the need for
[code]
is not made explicitly clear, especially as many `tf.compat.v1` functions also work in eagerly.

Semirelated, do you know the v2 version of the code (e.g. how to achieve the same `.pb` file without `v1` functions?

[2019-11-24 16:46] m-ciniello commented on #34502
I tried that as follows:
[code]

Got the same error:
[code]

[2019-11-24 16:47] Keyrainn commented on #34143
yes it solve for me. Currently i am able to do up to training part only. all file conversion to .pb or .tflite is being done on colab

[2019-11-24 17:03] WindQAQ commented on #34474
It's because you *instantiate the layer in `call` and do not set it as attribute* (like `self.conv = xxxx`), the weights won't be trackable for either `Generator` or `Discriminator`.

IMO, the following pattern would be better for you:
https://colab.research.google.com/drive/1U2Sy5A3ciwPqVeSV9zFDcxoiA3kDnMCl

Also, note that some layers such as batch normalization or dropout have different behavio

[2019-11-24 17:03] nikochiko commented on #34466
@SumNeuron , if I understand correctly, you are trying to make your code compatible with both `TensorFlow 1.X` and `TensorFlow 2.X`. You should first decide whether you want to have eager execution enabled or not, and you can continue with that. As you mentioned that some v1 compat functions are compatible with eager execution, but it will be weird to have your code execute differently in 1.X and

[2019-11-24 17:06] SumNeuron commented on #34466
@nikochiko Not quite. I am happy to transfer to v2 and live in the new TF paradigm.

You might have noticed in your colab (copy from the repo I provided), the header for the code which breaks without disabling eager, is "Simple Save for Serving".

The only thing I want to be compatible in V2 is saving a trained keras model for later use with `tf-serving`

[2019-11-24 17:33] nikochiko commented on #34466
@SumNeuron , if you are ready to move to TF2, you only need to apply `tf_upgrade_v2`.
@gowthamkpr , please take this on from here.

[2019-11-24 17:53] nikochiko commented on #34561
Maybe a duplicate of https://github.com/tensorflow/tensorflow/issues/19584.
@jothamsl , you have installed with pip which means you have installed the binary and not from the source. Please make that correction. Thank you.

[2019-11-24 18:37] ryswm commented on #33183
Same issue using virtualenv, Python = 3.7.3, upgraded to 3.7.5 and works fine

[2019-11-24 18:44] bozcani commented on #33102
You can also follow these steps to install tensorflow2.0 (GPU version) for conda environment.

[code]

[2019-11-24 18:44] m-ciniello commented on #34502
It actually appears to be "unravel_index" that is the main problem. However this still doesnt address the ''**StatelessWhile**" issue is:

[code]
Here is the error:
[code]

[2019-11-24 20:50] komodovaran commented on #34530
Okay, so I found that I need to do `predict_on_batch` on single samples in a loop. I assume the concatenation in `predict()` will not go away anytime soon, because it's what's sensible in 99.9% of cases.

[2019-11-24 20:50] #34530 closed

[2019-11-24 20:58] jiraiyajr98 opened #34563 "operators in the model are not supported by the standard TensorFlow Lite runtime"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win 10 x64
- TensorFlow version (or github SHA if from source):  2.0

**Provide the text output from tflite_convert**

[code]
----------------------------------------------------------------------------

import tensorflow as tf

filename = 'model_24_11_19_3'
model = tf.saved_model.load(filename)

concrete_func = mode

[2019-11-24 21:42] taylorchu commented on #33681
@alexeyr
I noticed that this path was not always triggered for me. It only happened when I added more layers (more variables, more gradients as a result)
Does this happen for you too? thanks!

[2019-11-24 21:44] charmasaur commented on #32944
Yep, that looks to be fixed, thanks! Any chance the fix could be linked here? I'd be keen to see what was going wrong.

[2019-11-24 22:17] MikeOfZen opened #34564 "experimental_connect_to_cluster hangs"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):No custom code

- TensorFlow installed from (source or binary):Binary
- TensorFlow version (use command below): '2.1.0-dev20191124'
- Python version:3.5.3
- Using GCP image: debian-9-tf-nightly-2-x-v20191124
- Using TPU v

[2019-11-24 23:30] jamesonthecrow opened #34565 "Applying certain ImgAug augmenters inside of a `tf.py_function` causes AutoGraph errors."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-11-25 00:25] jonathanrjpereira opened #34566 "Google Colab: InvalidArgumentError: Cannot update variable with shape [] using a Tensor with shape [32], shapes must be equal. [[{{node metrics_26/acc/AssignAddVariableOp}}]]"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution: Google Colab
- TensorFlow installed from (source or binary): 2.00
- TensorFlow version (use command below): 2.00
- Python version: 3.6

**Describe the current behavior**
I'm working on an image classification project using Tensorflow and runni

[2019-11-25 00:49] acarrill opened #34567 "No way to use tensorflow with cuda on windows. cudaGetDevice() failed."
Hi,

I'm trying to use cuda with tensorflow. I installed cuda 10.0 and tensorflow 2.0, my version of VS is 2017. I set my env variables and the problem persists.

This is the error message: **cudaGetDevice() failed. Status: cudaGetErrorString symbol not found.**

Thanks to u all!

[2019-11-25 00:49] Machine-Hum commented on #34219
Is there another way to solve this? I don't want to jump through all these hoops just to compile a sample project

[2019-11-25 00:55] ishotjr commented on #34219
@Machine-Hum the only way I was able to get it to run was applying ***both*** hacks. Let me know if you find a different workaround!! :sweat_smile:

[2019-11-25 00:57] ucasiggcas commented on #34214
Today  I have tried again,
installed tf-gpu==1.14 by conda in new environment
but the error makes me confused,

but when I use tf-gpu==1.15, I got success, so I close the issue now

[2019-11-25 00:57] #34214 closed

[2019-11-25 01:04] Machine-Hum commented on #34219
Using the build instructions here https://www.tensorflow.org/lite/microcontrollers/library seem to work fine, are these the most recent build utils or is it the readme in the repo :s

[2019-11-25 01:12] themikem commented on #34429
I've removed this, but now am getting a failure with it unable to find cupti.h.  I'm on the r2.0 branch though, as the last time I tried master I had other non-CUDA issues that failed the build.

Which branch did you use for this (r2.0 or the v2.0.0 tag?), and did you see this error at all?

Thanks!