[2021-04-29 16:05] karimnosseir commented on #32180
@manp-git I am not sure i understand what you refer to by "this procedure"
Please file separate issue with sample and reproduce steps if you're having an issue.

Thanks

[2021-04-29 16:27] othrif commented on #48801
I have resovled the issue. The answer is that I cannot access `.numpy()` inside a `.map()` function since `.numpy()` is Python code not pure TensorFlow code. I need to wrap my python function with https://www.tensorflow.org/api_docs/python/tf/py_function in order for it to work.

Happy to close this ticket.

[2021-04-29 16:27] #48801 closed

[2021-04-29 16:34] kaosdev opened #48826 "Cached augmentation and BATCH_SIZE not used in CycleGAN tutorial"
## URL(s) with the issue:

https://www.tensorflow.org/tutorials/generative/cyclegan

## Description of issue (what needs changing):

Seems like the data pipeline for the CycleGAN is using cache after augmenting the data.
Is this intentional? Doesn't that make augmentation useless?

Another "problem" in the data pipeline: a batch size of 1 is used even if there is a 'BATCH_SIZE' variable at the sta

[2021-04-29 17:06] mayou36 commented on #22059
Are there any news on this? That would indeed be helpful

[2021-04-29 17:16] manp-git commented on #48824
Hi @UsharaniPagadala , I have uploaded the snippets in the question. 1) The first one is default TF-Resnet-50 - quantisation to TFLite
2) Change in weights and lower graph when I pulled out : outputs= [my_model.get_layer("conv2_block1_1_relu").output, my_model.get_layer("conv2_block1_2_conv").output, my_model.get_layer("conv2_block1_2_relu").output]
3) change in entire graph when I pulled out all

[2021-04-29 17:35] #48366 closed

[2021-04-29 17:37] Saduf2019 commented on #48680
@shbkukuk
thank you for your update, glad the issue is resolved.

[2021-04-29 17:38] jdduke commented on #41977
Note: Let's leave this issue open to address the case where it should be perfectly OK to apply XNNPACK multiple times to the same graph (or to apply the GPU delegate, then the XNNPACK delegate).

[2021-04-29 17:45] coffice12 opened #48828 "make -f error"
maos 11.3
Python 3.9.4
esp-idf4.2

error：

cafe@CafedeiMac tensorflow % make -f tensorflow/lite/micro/tools/make/Makefile TARGET=esp generate_hello_world_esp_project
tensorflow/lite/micro/tools/make/downloads/flatbuffers already exists, skipping the download.
tensorflow/lite/micro/tools/make/downloads/pigweed already exists, skipping the download.
make: *** No rule to make target 'tensorflow/lite/

[2021-04-29 17:58] amahendrakar commented on #35213
@pinxue,
Is this still an issue?

Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same error. Thanks!

[2021-04-29 18:00] amahendrakar commented on #36657
@Nithraniel,
Is this still an issue?

Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same error. Thanks!

[2021-04-29 18:03] amahendrakar commented on #32760
@linyia01,
Is this still an issue?

Please take a look at the above comment and let us know if you have any further queries. Thanks!

[2021-04-29 18:05] amahendrakar commented on #36183
@Rexhaif,
Is this still an issue?

Could you please update TensorFlow to the latest stable version and check if you are facing the same issue. Thanks!

[2021-04-29 18:13] cantonios commented on #46460
Nice catch!  We can fix this in the general case by using an Eigen macro to provide a custom aligned `new` operator.  Fix should propagate soon.

[2021-04-29 18:16] Saduf2019 commented on #40086
@gmlu
The code produces warnings on tf 2.5 which would guide you to fix the issue,
please refer to the [gist here](https://colab.research.google.com/gist/Saduf2019/d4c09f03af4c5655e88d3fc41a7c59b0/untitled597.ipynb) and upgrade your tf and let us know.

[2021-04-29 18:18] Saduf2019 commented on #39654
@zredlined
Could you please check on tf 2,4,1 and let us know if you still face this issue.

[2021-04-29 18:25] Saduf2019 commented on #39248
@alanpurple
Could you please check on tf 2.4.1/upgrade tf version to latest and let us know if you still face the issue.

[2021-04-29 18:27] manp-git commented on #48824
Update:- Solution I have figured out to weight values getting changed is that - not to output the block but only the relu layer. Why is that so, I dont know.
Secondly Why is the location of batch normalisation different in default resnet50 model as compared to tflite quantised resnet50 model, I am curious to know, as I want to change the weights to produce the relu output, which I am not able to d

[2021-04-29 18:31] reedwm commented on #48662
In general, loss scaling can be applied as by scaling the loss and unscaling the gradients around every call to `tape.gradient` (the methods `Model.fit`, `Optimizer.minimize` and `Optimizer.get_gradients` do this for you automatically but for the examples ahead, I will use `tape.gradient`). For example, suppose gradient penalty is implemented as follows:

[code]

To apply loss scaling, before each

[2021-04-29 18:34] bhack commented on #48820
We don't support TF 1.x anymore.
If you want to use modern TF version with AWS lambda check https://aws.amazon.com/it/blogs/compute/building-deep-learning-inference-with-aws-lambda-and-amazon-efs/

[2021-04-29 18:54] IldarKashaev opened #48829 "Session takes a long time to initialize c++ api"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.2.0
-

[2021-04-29 19:52] abattery commented on #48823
Could you try conversion without the model optimization?

[2021-04-29 19:57] MarkDaoust commented on #39654
I got the `tf.function` implementation working in that tutorial.

The `tf.function` only runs one step at a time, so it's still not ideal.

In this commit I fixed NMT-with attention to `tf.function` compile the whole loop, with batched-inputs. That should be even faster.

https://github.com/tensorflow/docs/commit/9e18593b7ee19058b651626d0e96a552ac7b4733

That commit got rolled-back because of 2.4/

[2021-04-29 19:57] jroakes opened #48830 "Error when loading TensorFlow SavedModel with tag set 'serve': FileFactory 'local_file' not found."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab (Linux-4.19.112+-

[2021-04-29 20:01] Tingbopku commented on #45848
Libcusolver.so.10 is renamed to .11, as CUDA updates from 11.0 to 11.1, so the following works.
`sudo ln -s /usr/local/cuda-11.1/lib64/libcusolver.so.11 /usr/local/cuda-11.1/lib64/libcusolver.so.10`

[2021-04-29 20:06] aki65 commented on #48081
Yes, I use NNAPI, but as you can judge from this issue, it wasn't a roaring success either.

Standard INT8 models (like the ones used in AI benchmark) are handled quite well by NNAPI. The benchmark results are fine and I can reproduce them on my Mi 11. So it's extremely unlikely, that the terrible performance in this issue is caused by a wrong SELinux configuration.
Instead, it seems that the type

[2021-04-29 20:14] #46460 closed

[2021-04-29 20:16] abattery commented on #48824
Sorry, it is little hard to understand your questions since there are more than one questions and they are little broad. What is the major goal here?

[2021-04-29 20:30] MarkDaoust commented on #33163
Maybe we need a clearer warning about `save_freq=N`.

@anomp, callbacks are easy to modify, I bet this will do what you want:

[code]

[2021-04-29 20:35] #46581 closed

[2021-04-29 20:36] bhack commented on #48817
As this is a specific  Keras.io guide I suggest you to open a ticket on https://github.com/keras-team/keras-io to check if they are interested to expand that example.

[2021-04-29 20:40] miaowang14 commented on #48081
@aki65 sorry for replying late as I haven't got a concrete answer from our partners at Qualcomm.

One of the potential reason is that Mi11 was the first device with SnapDragon888, and used early versions of the NNAPI driver. I'll update here once I hear more.

[2021-04-29 20:51] jvishnuvardhan commented on #48817
@bhack Looks like `keras` was imported from `tensorflow` (in both the examples). I guess you can use https://tensorflow.google.cn/guide/distributed_training#using_tfdistributestrategy_with_custom_training_loops to define `train_step` and `test_step`.

@nikitamaia Can you please take a loot at it. Thanks!

[2021-04-29 21:08] bhack commented on #48817
Yes the new keras doc hosted there is always related to Keras in TF namespace but It Is a distinct repository

[2021-04-29 21:15] lu-wang-g commented on #48306
@karimnosseir Can you please help to take a look at this issue? Thanks!

[2021-04-29 21:21] karimnosseir commented on #47246
Hi @alexanderfrey
As mentioned earlier, QC new hardware is using new chip and API and it doesn't even use Hexagon NN, that's why the delegate doesn't work (Sorry, i wish i could do something to help here :( )

For NNAPI case, it's different than Hexagon delegate, and QC provides different drivers for android.

[2021-04-29 21:23] karimnosseir commented on #48306
This is similar to https://github.com/tensorflow/tensorflow/issues/47246
888 is a new hardware and different that doesn't work with Hexagon NN.

[2021-04-29 21:26] karimnosseir commented on #48306
@lu-wang-g  do you want to keep the issue for Java API acceleration support.

[2021-04-29 21:45] lu-wang-g commented on #48306
Thanks @karimnosseir! I'll close the issue for now. Stay tuned for the upcoming updates about the Java acceleration support. Feel free to reopen this issue for any questions.

[2021-04-29 21:45] #48306 closed

[2021-04-29 21:55] #48743 closed

[2021-04-29 22:05] ismael-elatifi commented on #36697
I have the same issue with TF 2.3.2 on Windows 10 with classic keras CNN models and model.fit.
The training freeze/hang at a random batch inside an epoch. I need to restart my training over and over gain starting with latest checkpoint saved.  Sometime N epochs complete and it hangs at the N+1 epochs.

[2021-04-29 22:20] jxnding opened #48833 "Performance Bug When Using CMake to Build TFLite r2.4 for Android (2x slower inference times than Bazel)"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-04-29 22:29] ismael-elatifi commented on #36697
I found this which might be useful https://github.com/tensorflow/tensorflow/issues/36072#issuecomment-664672783

[2021-04-29 23:06] bjourne commented on #48129
But the calculations should be exactly identical, not only to *n* decimal places. The comment in the code even says there is a bug here.

[2021-04-29 23:15] jvishnuvardhan commented on #48175
@raposter Is it possible for you to check with `python3.9`? You can download `*.py` file from my colab and run it. Thanks!

[2021-04-29 23:48] bhack commented on #48826
@nikitamaia @lamberta @MarkDaoust We have two Official cyclegan tutorial for the community:
https://github.com/tensorflow/docs/blob/master/site/en/tutorials/generative/cyclegan.ipynb
https://github.com/keras-team/keras-io/blob/master/examples/generative/cyclegan.py

[2021-04-29 23:56] bhack commented on #48826
The Web renderings are:
https://keras.io/examples/generative/cyclegan/
https://www.tensorflow.org/tutorials/generative/cyclegan

[2021-04-29 23:56] lamberta commented on #48826
The Keras project maintains a separate documentation site at https://keras.io/

We import some of their guide docs [here on tf.org](https://www.tensorflow.org/guide/keras/sequential_model) but not their community examples/tutorials.

[2021-04-29 23:56] steven-johnson opened #48835 "CMake build rule for C api is incomplete when building with TFLITE_C_BUILD_SHARED_LIBS=OFF"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.5.0-rc2
- Python version:  3.6.8 (but probably n/a)
- Installed using virtualenv? pip? conda?: n/a
- Bazel version (if compiling from s

[2021-04-29 23:57] marconi1964 commented on #47622
Similiar try on TFLM for RISC-V, but different progress and error.

I tried TFLM on MaixPy Amigo, which is also RISC V base MCU, but failed. I reported at [MaixPy repo issue](https://github.com/sipeed/MaixPy/issues/414), but no reply yet. See if I can get some input here.

I did the same with @ioannesKX by  renaming mcu_riscv_makefile.inc to riscv32_mcu_makefile.inc, but different make command, an

[2021-04-30 00:11] bhack commented on #48826
Yes I know but in cases like this one I think that it could be a little bit confusing for users when we have almost the same content (with the same potential question). Also, cause there is any specific claim that one documentation is community best effort maintained and the other one is  TensorFlow maintained.

[2021-04-30 00:21] lamberta commented on #48826
Happy to help merge changes to [tutorial](https://github.com/tensorflow/docs/blob/master/site/en/tutorials/generative/cyclegan.ipynb) in tensorflow/docs. For the Keras project, you'll have to work over there :)

We maintain the tensorflow/docs repo for official tensorflow.org tutorials. But we don't see an issue if the Keras project maintains Keras-specific docs.

[2021-04-30 00:32] bhack commented on #48826
Ok I understand. Just to note that If there is something interesting in this ticket you will need two issues, two PRs, two reviews on both the repositories.

[2021-04-30 00:44] Bonsen commented on #48817
@bhack @jvishnuvardhan Thanks! I will try it soon.

[2021-04-30 00:44] #48817 closed

[2021-04-30 00:50] steven-johnson opened #48836 "CMake build option TFLITE_ENABLE_RUY=OFF does not work"
**System information**
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
TensorFlow installed from (source or binary): source
TensorFlow version: 2.5.0-rc2
Python version: 3.6.8 (but probably n/a)
Installed using virtualenv? pip? conda?: n/a
Bazel version (if compiling from source): n/a
GCC

[2021-04-30 00:52] abattery commented on #48836
@terryheo could you take a look?

[2021-04-30 01:01] steven-johnson commented on #48835
BTW: it appears that `libtensorflow-lite.a` is produced as a byproduct if you look in the `tensorflow-lite/` subdir of the build folder, so this problem may be possible to work around by linking that in as well; however, that led me to find another issue (https://github.com/tensorflow/tensorflow/issues/48836) that made that unusable as well.

Ideally the two libraries should be combined into one,

[2021-04-30 01:12] terryheo commented on #48836
Plz check https://github.com/tensorflow/tensorflow/issues/47862 for the detail.

[2021-04-30 01:15] terryheo commented on #48835
If you want to use static library, you'd better have a project in CMake so the make tool can handle all the dependencies.
https://www.tensorflow.org/lite/guide/build_cmake#create_a_cmake_project_which_uses_tensorflow_lite

[2021-04-30 01:58] AR-fan commented on #48823
When I comment this code:
    ```converter.optimizations = [tf.lite.Optimize.DEFAULT]```
It works fine, thank you very much!

[2021-04-30 02:09] abattery commented on #48833
@terryheo @multiverse-tf could you take a look at this report?

[2021-04-30 02:25] Kareem-negm commented on #47689
@hojin89
you can Save the entire model to a HDF5 file.
 The '.h5' extension indicates that the model should be saved to HDF5.
```model.save('my_model.h5')```

[2021-04-30 02:34] mihaimaruseac commented on #48550
Can you check if they are in RC2 release?

[2021-04-30 02:37] merplumander commented on #44590
Hi,
thanks for following up on this. It's still an issue for me on tf version 2.4.1.

[2021-04-30 02:37] terryheo commented on #48833
Could you try to enable RUY with "-DTFLITE_ENABLE_RUY=ON" ?
Also you can add more C flags likes "-DCMAKE_C_FLAGS=-march=armv7-a -mfpu=neon-vfpv4 -funsafe-math-optimizations" and "-DCMAKE_CXX_FLAGS=-march=armv7-a -mfpu=neon-vfpv4 -funsafe-math-optimizations"

[2021-04-30 02:38] hasanabs commented on #48690
I found the main problem, it turns out that in TF 2.4 there is a slight change in the way to call accuracy but for sparse_categorical_crossentropy

This is the change needed for solve this problem. First, delete the line I commented on, then define loss and matrices as in the green area
![Screenshot from 2021-04-30 10-25-33](https://user-images.githubusercontent.com/26079804/116641799-0a717000-a9a

[2021-04-30 02:38] #48690 closed

[2021-04-30 03:43] VivekPanyam commented on #48550
@mihaimaruseac Thanks! Looks like Linux CPU is available, but Linux GPU and Mac CPU are missing.

* Linux CPU: https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-linux-x86_64-2.5.0rc2.tar.gz
* Linux GPU (missing): https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-gpu-linux-x86_64-2.5.0rc2.tar.gz
* Mac CPU (missing): https://storage.googleapis.com/tensorfl

[2021-04-30 03:47] VivekPanyam commented on #48550
Also, not sure if it matters, but the previous releases used the format `-x.y.z-rc2` and it seems like 2.5.0 uses `-x.y.zrc2`

[2021-04-30 03:59] AR-fan commented on #48823
I have another questions, pls:
1.Don't use optimizations , time speed transforms from 800ms to 1700ms, is it normal? How to balance time and accuracy?
2.The tflite model's input is [1,3,224,224], should I do some special operation  to use it in android? Shoudl I change the shape to [1, 224,  224, 3]? Result is not good in my android app.

[2021-04-30 04:02] deeb02 commented on #48714
That sounds like a reasonable idea at face value. Why not submit a PR with that change?

[2021-04-30 04:02] tilakrayal commented on #48823
@AR-fan ,

Could you please confirm if the above mentioned issue is resolved. if yes, please feel free to move this issue to closed status and please submit a new issue from this link and fill in the template, so that we can track the issue there. Thanks!

[2021-04-30 04:06] deeb02 commented on #48736
Keras supports sample weighting in a separate argument, why does that not cover your use case?

[2021-04-30 04:07] sayakpaul commented on #48714
Since I don't have the workaround yet, I wanted to pass this on to the team responsible for authoring the tutorial. If that was not the case I would have submitted the PR.

[2021-04-30 04:24] penpornk commented on #39051
Closing this since the [GPU kernel](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/sparse_fill_empty_rows_op_gpu.cu.cc) has been added in https://github.com/tensorflow/tensorflow/pull/46172. (Thank you very much, @benbarsdell!)

[2021-04-30 04:24] #39051 closed

[2021-04-30 04:37] Saduf2019 commented on #48579
@jocelynbaduria
Could you please update if this is still an issue.

[2021-04-30 05:05] Saduf2019 commented on #48228
@sandhyacs
I tried running the code shared but face dependencies issues, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/072424147caf4c0e1b851ee8631fdf7e/untitled597.ipynb), please share a colab gist if possible with the error reported.

[2021-04-30 06:35] #35763 closed

[2021-04-30 07:04] Ethylbenzol commented on #48689
'''
def representative_dataset():
    for _ in range(100):
      data = np.random.rand(1, 640, 640, 3)
      yield [data.astype(np.float32)]
''
so i ran this dummy dataset and seem like there was no operation cancelled error.

[2021-04-30 07:11] TianruiZhang opened #48837 "BatchNormalization layers in Tensorflow 2.4.1 give constant validation accuracy"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-04-30 07:27] axelning commented on #48478
ummm, any progress?

[2021-04-30 07:33] #39248 closed

[2021-04-30 07:43] RocaVincent commented on #48662
@reedwm That's what I do currently and this implementation gives me problems with instance normalization layers in mixed-precision mode whereas I don't have these problems with same architectures but without gradient penalty. But maybe I have to admit I can't use instance normalization layers in mixed precision with gradient penalty, hoping I will not have problems with other mixed precision layer

[2021-04-30 07:47] ggproRIC commented on #48676
I solved it.

[2021-04-30 07:47] #48676 closed

[2021-04-30 07:49] foxik opened #48838 "LSTM and GRU layers do not use cuDNN acceleration when processing RaggedTensors"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian stable
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.1
- P

[2021-04-30 07:51] ggproRIC commented on #28068
def stochastic_gradient_descent(X, y_true, epochs, learning_rate = 0.01):

    number_of_features = X.shape[1]
    # numpy array with 1 row and columns equal to number of features. In
    # our case number_of_features = 3 (area, bedroom and age)
    w = np.ones(shape=(number_of_features))
    b = 0
    total_samples = X.shape[0]

    price_list = []
    epoch_list = []

    for i in range(epochs):

[2021-04-30 08:21] pinesnow72 commented on #47311
I am also suffering the same issue when giving custom loss or metrics (eg., accuracy) in compile().
In the custom loss and accuracy, I used mask when calculating mean without padded parts like:

 # this is my custom accuracy
 acc = categorical_accuracy(y_true, y_pred)  # shape=(B,T)
 mask = tf.cast(self.mask, dtype=tf.float32)  # shape=(B,T)
 acc = tf.reduce_sum(acc * mask, axis=-1) / tf.reduce_su

[2021-04-30 09:00] freddan80 opened #48839 "Can't build TFL micro build with armclang toolchain"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): N/A
- Tensorflow version (commit SHA if source): 9000e360d95b9d2c3925672ba100579bd459ee30
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Any target

**Describe the problem**
When using the armclang toolchain to build the

[2021-04-30 09:17] tilakrayal commented on #48830
@jroakes ,

In order to reproduce the issue reported here, could you please provide the complete code and the dataset you are using. Thanks!

[2021-04-30 09:19] henriwoodcock opened #48841 "Inconsistencies in micro_speech example"
This may be related to https://github.com/tensorflow/tensorflow/issues/48752. The `micro_speech` model is int8 quantized for both input and output. The test for the example has some lines with `data.int8` and `data.uint8` when querying the output data.

For example:

https://github.com/tensorflow/tensorflow/blob/173b50a525e0f88fa25674980f1243ada460114e/tensorflow/lite/micro/examples/micro_speech/m

[2021-04-30 09:28] abattery commented on #48823
Let's use this for the remaining model optimization toolkit issue.

[2021-04-30 10:05] UsharaniPagadala commented on #48828
@coffice12

Could you please fill the template

In order to expedite the trouble-shooting process, please provide a code snippet/colab gist to reproduce the issue reported here. Thanks!

[2021-04-30 10:33] seermer opened #48844 "TensorFlow 2 slow on small numbers of batches"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 and Colab (observed such performance issue on both platform)
- TensorFlow installed from (source or binary): pip / provided in colab
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8
-

[2021-04-30 10:33] tilakrayal commented on #48794
@ZoeZhang91 ,

Looks like this is a duplicate of issue #48040.

Can you please confirm if we close this issue, since it is already being tracked there? Thanks!

[2021-04-30 10:35] tilakrayal commented on #48749
@Davidelvis ,

The code provided is not complete hence it would be difficult for us to pinpoint the issue. Please share complete stand alone code to replicate the issue or a colab gist with the error reported.? That will allow us to determine the source of the issue easily.

Thanks!

[2021-04-30 10:35] #33834 closed

[2021-04-30 10:35] #35813 closed

[2021-04-30 10:38] shkarupa-alex opened #48845 "BatchNorm generates NaN moving_variance on GPU with fused set to True"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab, Ubuntu
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary (Colab), source (Ubuntu)
- TensorFlow version (us

[2021-04-30 10:39] jroakes commented on #48830
@tilakrayal sure.  Here is the cleaned-up Colab notebook with the full example.
https://colab.research.google.com/drive/1w-E1gjRVV-Qpur9SHBWWFHJKIXhfM1JI?usp=sharing

[2021-04-30 10:49] UsharaniPagadala commented on #48841
@henriwoodcock

Could you please fill the template and elaborate your Query with clear details. What is your error and what are the steps followed to reproduce it. Thanks

[2021-04-30 10:56] henriwoodcock commented on #48841
@UsharaniPagadala I've added the template

[2021-04-30 11:01] DachuanZhao opened #48846 "Is tensorflow going to support amd gpu with ROCm ？"
**Describe the problem**
I notice that ```pytorch``` supports amd gpu with ROCm in version 1.8.1 ([https://pytorch.org/get-started/locally/](https://pytorch.org/get-started/locally/)) . I want to know whether ```tensorflow``` is going to support amd gpu or not ...

[2021-04-30 11:04] Anishauday commented on #17353
Any luck with this? I'm on same boat...

[2021-04-30 11:32] wangsiyu opened #48849 "[For GShard] parameter instruction in HLO could not get sharding information from annotated VarHandleOp"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): (2.6.0)mast

[2021-04-30 11:34] reza-ebrahimi commented on #48787
Same issue with Ubuntu 20.04.

Python version:
[code]

Tensorflow version:

[code]
[code]

[2021-04-30 11:35] #43657 closed

[2021-04-30 11:35] #36216 closed

[2021-04-30 12:24] ravgupta161803 commented on #27107
I have implemented the WALS low rank factorization in tensorflow 2.0 and got some great results from it. Here is the link to the repository https://github.com/ravgupta161803/WALS-matrix-factorisastion-tensorflow-2.0.git

[2021-04-30 12:35] ArtanBerisha1 opened #48850 "CenterNet TFLite crashes while running on Android"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Android 9, not specific device(RK3399 cpu, and QC835 cpu)
- TensorFlow installed from (source or binary): s

[2021-04-30 12:35] #36372 closed

[2021-04-30 12:35] #36436 closed

[2021-04-30 13:30] #48468 closed

[2021-04-30 13:35] sureshbhusare commented on #22088
It is still failing.

[2021-04-30 13:36] bgbutler commented on #32358
Use the library PlaidML; works fine for more models on a Mac OS with AMD GPU.

[2021-04-30 13:37] i-tolmachev commented on #34266
We have successfully converted the Keras model to the tflite format. Unfortunately, when building the interpreter with the converted tflite model, we have got the following error message:
"Didn't find op for builtin opcode '▒\▒▒' version '-258516128'
Registration failed."
We appreciate any suggestions on this issue.

[2021-04-30 13:58] frozenburst commented on #35844
The list of trainable_weights might be [list of variable], instead of [[list of variable], [list of variable]].

[2021-04-30 14:00] levuloihust99 opened #48851 "tf.function traces twice when creating Variables in the first call?"
I have struggled to understand this strange behavior when using `@tf.function`. I have the following code:
[code]
According to [this guide](https://www.tensorflow.org/guide/function#tracing), the above code will first build a `tf. Graph` (**tracing**) and then execute the built `tf. Graph`. When running the above code, I get the expected result as below:
[code]
However, if I try to create the vari

[2021-04-30 14:10] rmothukuru commented on #37874
@lminer,
Sorry for the delayed response. As per [this comment](https://github.com/tensorflow/tensorflow/pull/37952#pullrequestreview-382996086), this functionality can be achieved by vectorizing **`tf.vectorized_map`**. Thanks!

[2021-04-30 14:29] isaacgerg commented on #32618
Adding the argument workers=0 to model.eval() and model.fit() fixed this issue.

[2021-04-30 14:29] isaacgerg commented on #32697
Adding the argument workers=0 to model.eval() and model.fit() fixed this issue.

[2021-04-30 14:35] #48502 closed

[2021-04-30 14:43] 77blackbird opened #48852 "Use of TensorFlow trademark in product name"
After reading the licensing doc and the TM usage guidelines I am still unclear: can the TensorFlow TM be used in a product name, provided that the attributions, as described in the TM guide, are used in the product description.  As an example:

"xxxxx for Machine Learning - Includes Installed TensorFlow Distribution"

Thanks in advance.

[2021-04-30 15:37] navalta3030 opened #48853 "Recommenders item vs item."
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue: https://www.tensorflow.org/reco

[2021-04-30 15:57] jianlijianli commented on #48816
Hi gyin-ai,

I noticed you are using random numbers as the "representative_dataset". This is reasonable for making sure the conversion works but accuracy might be impacted. representative_dataset is to run some "representative" data (usually a subset of actual data) through the system so the min/max information is captured for activations and quantization process uses the min/max information to qu

[2021-04-30 16:05] jocelynbaduria commented on #48579
@Saduf2019 , I will update you, just crunching with projects and hw. Thanks!

[2021-04-30 17:01] reedwm commented on #48662
In general, computing variance in float16 can cause issues since it may overflow or underflow, so it should always be computed in float32. Instance normalization computes variance, so either the variance within instance normalization must be done in float32 or the entire instance normalization itself must be float32.

I'm not sure why you only run into issues with mixed precision instance normaliz

[2021-04-30 17:17] #43322 closed

[2021-04-30 17:35] steven-johnson commented on #48835
Hmm, ok, so if I understand correctly, this CMake support is intended *only* for use when included inside another CMake build? That's not unreasonable, but it is unusual enough that I think the documentation needs to call this out much more specifically.

I can probably make this fit my needs (by creating a local wrapper build), but it seems unnecessarily limited and counterintuitive that one supp

[2021-04-30 17:38] steven-johnson commented on #48836
Thanks for the link. If current versions of TFLite really do require Ruy, that's fine and dandy, but it doesn't really make sense to offer an option that claims to disable Ruy but does not -- surely the option should be removed in that case?

[2021-04-30 17:49] haozha111 commented on #34266
It seems that opcode and version is messed up.. could you try to run it in tf-nightly?

[2021-04-30 17:59] Saduf2019 commented on #48756
@GitUser2000

Can you please check your pip version and [numpy version](https://github.com/tensorflow/tensorflow/issues/41061#issuecomment-656017717), refer to this comment here and verify your [system requirements](https://github.com/tensorflow/tensorflow/issues/47824), also refer to [link](https://github.com/tensorflow/tensorflow/issues/44913#issuecomment-751487970).

[2021-04-30 17:59] deeb02 commented on #48714
I closed it as a Keras issue, but it may make sense as a documentation issue.

[2021-04-30 18:04] MarkDaoust commented on #48714
I'll take  look. It seems easy to implement a workaround.

[2021-04-30 18:11] Sicily-F commented on #47233
has there been any progress on this? I'd love to use on Tensorflow/Keras too!!

[2021-04-30 18:20] optiluca commented on #42355
Sorry for the silence, yes I've just checked and on TF 2.4 the issue was resolved.  Thanks!

[2021-04-30 18:20] #42355 closed

[2021-04-30 18:26] rthadur commented on #48627
related PR has been approve and will be merged soon. Thank you

[2021-04-30 18:29] sayakpaul commented on #48714
Looking forward to it. FWIW, I don't think it's a docs issue. In fact, the tutorial is very clear and well written. It's rather an incremental suggestion to accomplish a use case.

[2021-04-30 18:44] bhack commented on #48714
@MarkDaoust I think the thread is alive since 2016 at https://github.com/keras-team/keras/issues/3653

[2021-04-30 18:44] Saduf2019 commented on #42355
@optiluca
Thank you for your update, glad the issue is solved.

[2021-04-30 18:55] jxnding commented on #48833
Hi Terry,

I just tried with -DTFLITE_ENABLE_RUY=ON, I'm now getting 271ms, a huge improvement over the previous 550ms! It's still slower than Bazel, which is at 240ms, and this difference is statistically significant given that the standard deviation is about 2ms (I'm using the default 50 runs in benchmark_model).

Trying the additional C and C++ flags don't change the performance, it's still 271

[2021-04-30 19:07] rthadur commented on #10004
We do not see this file in the models repo anymore , so this issue is not relevant ,closing this issue. Thank you

[2021-04-30 19:07] #10004 closed

[2021-04-30 19:34] michaelschufi commented on #44176
Any tips on what to do if the tcmalloc LD_PRELOAD only works occasionally?
1. I ran the command with the mentioned library `LD_PRELOAD="/lib/x86_64-linux-gnu/libtcmalloc_minimal.so.4" python script.py` and it worked.
2. I interrupted the run with CTRL+C.
3. I started the same run again, with the exact same command line, but this time it didn't work.

It only worked 3 or 4 times so far (out of mayb

[2021-04-30 19:39] Craigacp opened #48855 "TF_AddGradientsWithPrefix doesn't seem to lock the gradients properly"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Using TF-Java
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS
- TensorFlow installed from (source or binary): Maven Central binary
- TensorFlow version (use command below): v2.4.1

**Describe the current behavior**

When training a model I'm hitting a non-determ

[2021-04-30 20:15] threebrooks commented on #47269
Cross-refencing PR https://github.com/tensorflow/tensorflow/pull/48856, which I believe has a fix for the issue.

[2021-04-30 20:58] Duskley opened #48857 "java.lang.UnsatisfiedLinkError: Failed to load native TensorFlow Lite methods."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Samsung Galaxy s5 min
- TensorFlow installed from (source or binary): source
- TensorFlow version: 'org.tensorflow:tensorflow-lite:2.4.0' + org.tensorflow:tensorflow-android:1.13.1'
- Python version:
- Installed us

[2021-04-30 21:09] michaelschufi commented on #42586
@aaudiber Have you ever heard of tcmalloc only working occasionally? I've installed it and I'm loading it as described, but it only seems to work rarely. Is there a way to check if the library has been loaded correctly?

[2021-04-30 21:39] abattery commented on #48857
@Duskley
would you share the below deatils to help you out the above problem,
1- build script which use to compile android app?
2- your handset cpu abi version(adb shell getprop ro.product.cpu.abi)?
3- sdk and ndk version which you configure with tensorflow?

[2021-04-30 21:46] Duskley commented on #48857
Of course, is that enough for you?

apply plugin: 'com.android.application'

android {
    compileSdkVersion 30
    defaultConfig {
        applicationId "descartes.info.l3ak2.eyetrek"
        minSdkVersion 23
        targetSdkVersion 30
        versionCode 63
        versionName "6.0"
        testInstrumentationRunner 'androidx.test.runner.AndroidJUnitRunner'
        renderscriptTargetApi 28 //mu

[2021-04-30 21:52] Duskley commented on #48857
I do not know enough Android studio how to do?

[2021-04-30 22:00] abattery commented on #48857
Fyi, https://support.google.com/android/answer/7680439?hl=en

[2021-04-30 22:06] Duskley commented on #48857
Version android : 6.01
Security patch level : ASKS v1.2 Release 161011

[2021-04-30 22:07] bhack commented on #48662
I've not tried It but probably you can take a look how mixed precision and gp was handled in https://github.com/bryanlimy/tf2-cyclegan

[2021-04-30 22:10] Duskley commented on #48857
I specify I changed the software of my phone so that I can do the tests in android 6.0. The application must work at least in 6.0 (it is recorded on the specifications ^^)

[2021-04-30 22:17] brendano257 commented on #45263
I also had a similar experience to @alealv

After figuring out nvidia driver issues between Arch and Manjaro's preferred nvidia drivers, explicitly upgrading to 2.5.0 rc2 worked for me after making sure to uninstall any previous tensorflow or tensorflow-gpu installations.

[2021-04-30 22:21] alanokelly commented on #41380
I am actively experiencing this issue on Windows 10 as well. If you delete the folders from scratch each time you still get the error.

[2021-04-30 23:30] alanokelly commented on #41380
Actually, I think I found an explanation on stack overflow that led to a solution for me ( https://stackoverflow.com/questions/41365318/access-is-denied-when-renaming-folder ).

Basically the python script can't rename folders in windows if the target directory is the folder the process is running in, or a sub-folder of that folder. I changed my training folder to a c:/Temp/Training, and now it's

[2021-04-30 23:47] teaglin opened #48858 "Keras bidirectional lstm incorrect predictions"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution Linux Ubuntu 20.04):
- TensorFlow installed from (source or binary): Binary & Source
- TensorFlow version (use command below): 2.4 & 2.3.1
- Python version: 3.8
- Bazel version (if compiling from source): 3.1
- CUDA/cuDNN version: 11 / 8
- GPU mode

[2021-05-01 00:07] aaudiber commented on #42586
@michaelschufi Haven't heard of that before, and I'm not sure how to verify the install. You may be able to get more information from stack overflow or https://github.com/google/tcmalloc

[2021-05-01 01:11] mahidurrahman251 commented on #26270
Is there anyone who can help me to create Program rock paper scissors game play with NAO robot?

[2021-05-01 01:11] abattery commented on #48857
@thaink could you take a look?

[2021-05-01 01:21] sayakpaul commented on #48714
^ which is what I mentioned in my initial post as well.

[2021-05-01 03:36] keisen opened #48860 "[Mixed_precision] Model#__call__() behavior is different when using tf.Tensor input and when using tf.Variable input."
**System information**
- OS: colab (Ubuntu 18.04.5)
- Where TensorFlow installed from : pre-installed in colab
- TensorFlow version: 2.4.1
- Python version: 3.7.10
- GPU model and memory: Tesla K80, 12GB

**The current behavior**

On default (`float32`) policy environment, I have to load and use a keras model that is loaded from a `h5` file that was created with `mixed_float16` policy.
When using

[2021-05-01 03:42] JonathanCMitchell commented on #38762
same issue

[2021-05-01 04:31] fernandobperezm commented on #42091
## System information

- **Have I written custom code (as opposed to using a stock example script
provided in TensorFlow)**: Custom Code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Big Sur v11.3
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.0
- Python version: 3.7.7

### Instructions to install
[code]

 ### Describe the pr

[2021-05-01 06:09] HunderlineK commented on #47285
I've tested out some of the methods, specifically in_train_phase, and it works in 2.4.1. so indeed looks like a documentation issue

[2021-05-01 06:28] terryheo commented on #48835
We have kind of documentation on this.

https://www.tensorflow.org/lite/guide/build_arm

For C++ libraries, similar with CMake, you need to have a Bazel project to use Bazel generated binaries.

There are two issues on using them with different build system.
1. There is no easy way of copying necessary header files
2. The generated TFLite library doesn't contain 3rd party libraries so you need to

[2021-05-01 06:39] sanjoy commented on #48474
Hi @kevint324,

This is a valid issue, please send a PR.

This is passing on our internal CI likely because in this case the NVIDIA memcpy implementation is coping the CPU memory into a staging area at memcpy enqueue time, hiding this problem.

[2021-05-01 06:47] dantarion commented on #43608
on Win10 TF 2.4.1 with the same error message

[2021-05-01 07:09] DrAA commented on #45978
Yes, I can confirm that the issue has been resolved in the latest tf-nightly. Great!

[2021-05-01 07:50] Anupam-USP commented on #48641
Hey I want to take up this issue, but I am new in this. Can you please elaborate the issue?

[2021-05-01 08:07] apramanik62 commented on #29078
@YonitZall
did you get any solutions? I am facing the same problem

[2021-05-01 08:08] apramanik62 opened #48861 "@YonitZall"
@YonitZall
did you get any solutions? I am facing the same problem

_Originally posted by @apramanik62 in https://github.com/tensorflow/tensorflow/issues/29078#issuecomment-830577011_

[2021-05-01 08:35] #36677 closed

[2021-05-01 09:03] selmankaplan commented on #29078
There are different parameters that affect this, but when I did enough training with appropriate learning rate values, I was able to train a model with higher fps and accuracy than the faster rcnn model. You have to find out for yourself which parameter should be edited. Although it is not certain, as a general solution, it is also used as a solution to train in more than one class and only show t

[2021-05-01 09:46] mind-mind commented on #48745
I can fix it now, it was because of the path on the container. Thank you.

[2021-05-01 09:46] #48745 closed

[2021-05-01 09:50] ismael-elatifi commented on #36072
I also solved this issue by only updating my nvidia graphic card driver from version 431.70 to version 451.48 (451.48-quadro-desktop-notebook-win10-64bit-international-whql.exe).

[2021-05-01 09:54] keisen opened #48862 "Optimizer that is wrapped with two different LossScaleOptimizer throws a error."
**System information**
- OS: colab (Ubuntu 18.04.5)
- Where TensorFlow installed from : pre-installed in colab
- TensorFlow version: 2.4.1
- Python version: 3.7.10
- GPU model and memory: Tesla K80, 12GB

**The current behavior**

When using tf.keras.Optimizer that is wrapped with two different `tf.keras.mixed_precision.LossScaleOptimizer`, the optimizer raises a error below.

[code]

**The expect

[2021-05-01 10:49] RocaVincent commented on #48662
@reedwn Yes I know the overflow issue in normalization layers due to mean and variance computing. But make all normalization calculations in float32 is very expansive in terms of memory and time. So I tried to keep a maximum of computation in float16. To be more precise, I observed which normalization layers in my models were likely to overflow by first running in full precision and checking value

[2021-05-01 11:52] apramanik62 commented on #29078
Hello @selmankaplan
Thanks for the reply.
Can you tell me which parameters should I look on ? And on which file will I get those parameters.
I have used ssd pet config and I am working on bird detection. I have used pretrained model of  the Coco data  and find model is detecting bird as bird in some cases. Any idea?

[2021-05-01 12:11] rschiewer opened #48863 "Stateful ConvLSTM2D reset_states() throws error"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Windows 10 (10.0.19042)
- TensorFlow installed from: binary
- TensorFlow version: v2.4.0-49-g85c8b2a817f, 2.4.1
- Python version: 3.7.7
- CUDA/cuDNN version: 11.0/8.0
- GPU model and memory: GeForce GTX 1080 Ti

**Describe the current behavior**

The `reset_states()` method of the `ConvolutionalLSTM2D` layer t

[2021-05-01 12:35] #20528 closed

[2021-05-01 12:50] lugalUrim opened #48864 "tf.compat.v1.flags.EnumClassSerializer throws error on Windows"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): TensorFlow 2.4.1
- Python version: 3.7.5
- CUDA/cuDNN version: N/a
- GPU model and memory: N/a

**Standalone co

[2021-05-01 13:10] dengyinlin commented on #48469
Hi everyone, any update on this issue?

[2021-05-01 13:55] Duskley commented on #48857
I am still waiting for your answer. have you found a solution to my problem ^^ ?

[2021-05-01 13:55] ThWuensche commented on #46373
Dear Nikita,

yes, I ran that code without further changes (besides the mentioned one). As mentioned in the beginning of the issue I installed and worked with the VOC 2007 dataset (not MSCOCO). The dataset installed for me without big problems according to the instructions, only thing I had to provide was "ray".

I wanted to test again on the system I have at hand now with tf.distribute.get_strate

[2021-05-01 13:56] MuSamiNaf opened #48865 "Performance Issue: GTX 1080 Tensorflow training is stuck indefinitely | GPU Load 0%"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): _**Yes**_
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): _**Windows 10 Version 2004 Build 19041.928**_
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): _**source**_
- Tenso

[2021-05-01 14:49] atyshka commented on #31173
@omalleyt12 It's now been almost 2 years. If we want to contribute this from the community can you at least provide some info on why it was deprecated in the first place?

[2021-05-01 15:01] MuSamiNaf commented on #44936
@SestoAle, @DolanDack, Have you solved the problem? I have the same behavior exhihited with a 1080 GTX card

[2021-05-01 16:35] #20687 closed

[2021-05-01 18:11] abattery commented on #48857
Instead of using the mixed version like the below one;

[code]

Use the same version:

[code]

[2021-05-01 18:25] embeddetech commented on #47609
@advaitjain Thank you! Is there any chance an #ifdef _WINDOWS switch could be pulled into the TFLM release so that it is compatible with MSVC out of the box?

@lindyrock I want to say that doing it your way seemed to cause issues for me, but it may be that I had multiple concurrent issues and was confused about what was causing me problems. I have TFLM up and running in an MSVC C/C++ project. I cu

[2021-05-01 18:28] Duskley commented on #48857
ok i will try I'll let you know ^^

[2021-05-01 18:58] AdityaKane2001 commented on #48557
@bhack
Used docker compose this time. As discussed, I used 2 volumes:
[code]
Used the following command:
[code]

Encountered the following errors on two successive builds :
[code]

and

[code]

Could you please tell how can I resolve this error?
Thanks

[2021-05-01 19:01] bhack commented on #48557
Have you rabased your branch?

[2021-05-01 19:02] AdityaKane2001 commented on #48557
Yes

[2021-05-01 20:32] ruler501 commented on #48545
I'm seeing the same issue with `cuda_malloc_async`. I'm on Linux with kernel 5.11.16, Nvidia driver 465.27-2, Cuda 11.2.2-2, Cudnn 8.2.0.53-1, and python 3.8.8. Tensorflow is tf-nightly-2.6.0.dev20210501.

[2021-05-01 20:41] Duskley commented on #48857
the same error yet

i try to put alone implementation 'org.tensorflow:tensorflow-lite:0.0.0-nightly-SNAPSHOT' in my app graddle (no work) and the same for api 'org.tensorflow:tensorflow-lite:2.4.0'

[2021-05-01 21:04] selmankaplan commented on #29078
If you're training using tensorflow, your train and test images and its label frames are effective parameters for your training data. If you created the dataset properly, the training parameters are included in the .config file. First of all, you should pay attention to the learning rate parameter and data augmentation options parameters. Although data augmentation parameters seemed to be a good c

[2021-05-01 23:11] bhack commented on #48851
Can you try with

[code]

[2021-05-01 23:32] bhack commented on #48851
For your example it will need to re-valuate `self.count` when you assign. You can check yourself run with commented and uncommented `#self.count = tf.Variable(0)`

[code]

[2021-05-01 23:48] foxik commented on #26784
Closing the issue. With `train_step` one can override it and transform loss calls on higher-dimensional data (e.g., 2D loss in case of sequences as batch examples) to calls on one-dimensional data (e.g., concatenating valid words only).

Furthermore, with RaggedTensors, padding values might be handled directly, instead of passing masks as weihts.

[2021-05-01 23:48] #26784 closed

[2021-05-01 23:50] foxik commented on #26406
With the #36839 merged, I believe this can be closed.

Cheers.

[2021-05-02 00:48] j-beaver commented on #44563
same issue for me with keras 2.3.1
`import os
os.environ["CUDA_VISIBLE_DEVICES"] = "-1"

from gym import Env
from gym.spaces import Discrete, Box

class FooEnv(Env):
    metadata = {'render.modes': ['human']}

    def __init__(self, training=True):
        self.training = training
        self.action_space = Discrete(5)
        self.size = 11
        self.observation_space = Box(low=np.array([0, 0

[2021-05-02 02:04] Theelgirl opened #48866 "undefined symbol: _ZN10tensorflow...."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- Mobile de

[2021-05-02 02:13] Theelgirl commented on #48866
Also tried on gcc 7.5.0, didn't work. I can't figure out how to install gcc-7.3.1 on ubuntu 20.04.

[2021-05-02 04:06] atyshka opened #48867 "Issues serializing model (resource conversion)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.4.0
- Python version: 3.8
- Bazel version (if compiling from source): NA
- GCC/Compiler version (if compiling f

[2021-05-02 04:22] GitUser2000 commented on #48756
I'm building using cpp and not pip, any specific info I need to provide ? thanks

[2021-05-02 05:10] rainbow9981 commented on #46628
I follow the

I follow the suggestion to install the certificate but still can't solve the problem. I wonder why. Thanks

[2021-05-02 06:49] pinesnow72 commented on #47311
It seemed to be solved in my case.
In my case, I have got the last layer's call() method to return mask and used the mask in the custom loss and accuracy methods. By the way, the mask in the last layer has type of tf.Tensor but after returning it by calling the last layer, the mask's type automatically changed into KerasTensor and this caused the error when calculating (multiplying or dividing) wi

[2021-05-02 09:24] willawebb opened #48868 ""Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found""
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2021-05-02 11:12] bhack commented on #48557
Probably you could try to reduce your Resources (especially RAM). See https://github.com/tensorflow/tensorflow/issues/35051#issuecomment-623751066

[2021-05-02 11:13] rpsantosa opened #48869 "Flag TF_GPU_ALLOCATOR=cuda_malloc_async ( to work with large tensors), results in: " Error in py_call_impl(callable, dots$args, dots$keywords) : InternalError: No allocator statistics ""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): my code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10/Rstudio
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): "v2.5.0

[2021-05-02 11:15] AdityaKane2001 commented on #48557
I'll try

[2021-05-02 11:19] bhack commented on #48557
If you still have the same issue after tuning the resources please post a comment at https://github.com/tensorflow/tensorflow/issues/39947

[2021-05-02 11:20] AdityaKane2001 commented on #48557
Sure

[2021-05-02 11:37] #48477 closed

[2021-05-02 11:46] HeliumPeng commented on #45200
I got same situation when using my school's GPU farm, and I ran "conda install -c nvidia cudnn", then the problem is gone(The machine had already install CUDA10.1 and cudnn8.0.4)

[2021-05-02 12:03] AhmadRaza159 commented on #46409
Check out the version of Tensorflow which you use while training, Use the same version in android build.gridle(app).
I use tensorflow 2.4.0 (which is latest) in colab while training, so I put (implementation 'org.tensorflow:tensorflow-lite:2.4.0')  in my android build.gridle(app)

[2021-05-02 12:04] AhmadRaza159 commented on #41943
Check out the version of Tensorflow which you use while training, Use the same version in android build.gridle(app).
I use tensorflow 2.4.0 (which is latest) in colab while training, so I put (implementation 'org.tensorflow:tensorflow-lite:2.4.0') in my android build.gridle(app)

[2021-05-02 14:35] wamuir opened #48870 "Go generation of protos during install is problematic"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Debian Buster
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.5.0-rc2
- Python version: 3.8
- Installed using virtualenv? pip? conda?: n/a
- Bazel version (if compiling from source

[2021-05-02 15:28] mattn commented on #42998
I confirmed latest version fix this issue.

[2021-05-02 15:28] #42998 closed

[2021-05-02 16:14] suraj-maniyar commented on #40157
Hello @thaink & @abattery

I am running in this error with NonMaxSuppression operation while running inference from TFlite model.
(tf.image.non_max_suppression is one of the final layers of my model)
I tested using both TF v2.3.2 and v2.4.1

[code]

Is this operation supported under any recent Tensorflow releases?
The discussion [here](https://github.com/tensorflow/tensorflow/issues/32004#issuecom

[2021-05-02 16:36] suraj-maniyar commented on #32004
Hello @tpeet
Could you please provide the detailed instructions on how to build TFLite C++ API , using tensorflow/lite/delegates/flex:delegate as dependency?

From the link you shared I don't know where to specify the build dependencies.

Thanks.

[2021-05-02 17:03] Ethylbenzol commented on #48689
update to this issue:
Looking at the logs during tflite inference for this model:
[code]

Seem like there the detection_classes are missing and the score make no sense. Are there anything else i could provide to troubleshoot this?

[2021-05-02 17:36] PetrDvoracek opened #48873 "Could not initialize EfficientNet with mixed precision policy"
### System information

-   **Have I written custom code**: yes
-   **OS Platform and Distribution**: Manjaro 21.0.3 Ornara
-   **TensorFlow installed from**: binary
-   **TensorFlow version**: 2.5.0-rc
-   **Python version**: 3.9
-   **CUDA/cuDNN version**: 11.3
-   **GPU model and memory**: RTX 3060 (6GB) [laptop]
-   **Exact command to reproduce**:
[code]

### Describe the problem

Could not in

[2021-05-02 18:18] antonaldo commented on #48279
@nikitamaia:
I have tried it with nightly and the error is no longer displayed. Therefore, this problem is resolved an I will close this issue.
I realized that the observed NaN-loss in my full model is most likely related to use of `tf.keras.layers.experimental.SyncBatchNormalization()`. I will look into this and file a new issue if needed.
Thanks for your support!

[2021-05-02 18:18] #48279 closed

[2021-05-02 18:53] levuloihust99 commented on #48851
I have read this guide and I understand why second counter() always print 1, but that's not my question. My question is **why are there 2 tracings with only one call to `__call__`?**, not **why is there only one tracing with 2 calls to `__call__`?**. Your answer seems to be for the latter question.

Since I am asking for **tracing** behavior of `@tf.function`, I do not get what you mean by this ex

[2021-05-02 19:22] bhack commented on #48851
I think this example it is different and probably you can explicit build the model or not?
[code]

[code]

[2021-05-02 19:50] Davidy22 opened #48874 "'File' value has no field or method 'append' in in _prune_relocatable_code rule @nccl_archive//:device_pruned:"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mint 20.1, Ubuntu 20.04 base
- TensorFlow installed from (source or binary): Source
- TensorFlow version: origin/r2.5
- Python version: 3.8.5
- Installed using virtualenv? pip? conda?: Regular version installed via pip, but that's not the one with the issue
- Bazel version (if compiling from source): 3.7.2
- GCC/Comp

[2021-05-02 20:56] pythonic2020 commented on #45055
@CostanzoPablo, thank you very much for the above post.  I finally got tf 2.4.1 to install in a conda-forge environment with GPU support (CUDA 11.3, Python 3.8.8)!  Where did you find out that "python-dotenv" should be installed?  I haven't seen that package mentioned anywhere on tf website, or anywhere else, with regard to tf install.

[2021-05-02 22:31] rohanmuplara commented on #45923
@nikitamaia @Flamefire @rmothukuru

I had some questions about distribute strategy custom training. https://www.tensorflow.org/tutorials/distribute/custom_training.

1. "If you are using regularization losses in your model then you need to scale the loss value by number of replicas. You can do this by using the tf.nn.scale_regularization_loss function."

**Why are regularization loss treated diffe

[2021-05-02 22:33] rohanmuplara opened #48875 "Understanding distributed strategy loss for tpu training"
I had some questions about distribute strategy custom training. https://www.tensorflow.org/tutorials/distribute/custom_training.

"If you are using regularization losses in your model then you need to scale the loss value by number of replicas. You can do this by using the tf.nn.scale_regularization_loss function."
Why are regularization loss treated different compared to other type of losses?

"U

[2021-05-02 23:43] oonisim commented on #8496
[code]
[code]

[2021-05-03 01:28] thaink commented on #40157
@suraj-maniyar You can find our guide here: https://www.tensorflow.org/lite/guide/ops_select#run_inference
How to use it depends on what environment you are running with.

[2021-05-03 02:07] levuloihust99 commented on #48851
Must I always build the model's weights in advance to avoid tracing 2 times? Not only the model but also the optimizer creates some Variables when applying gradients for the first time. Explicitly build the model and optimizer looks not good. Is there a way other than building the model and optimizer explicitly?

Again, my question is **why**. I want to understand why the exactly same computation

[2021-05-03 02:32] thaink commented on #48857
@Duskley Does it work on emulator with the same Android version?

[2021-05-03 02:37] moflo commented on #48846
Isn't that a question for AMD?

[2021-05-03 02:44] Theelgirl commented on #48866
Fixed. For anyone who comes across this later, I fixed it by deleting /root/.cache/bazel to force it to rebuild from scratch, and I used gcc 7.5.0. The problem seems to have been that even though I had aliased gcc to gcc 7.5.0, it was still using the old cached files from when I had previously built with gcc 10, and so it continued to encounter the errors from gcc 10.

[2021-05-03 02:44] #48866 closed

[2021-05-03 02:47] moflo commented on #48852
Gotta follow the brand guidelines...
https://www.tensorflow.org/extras/tensorflow_brand_guidelines.pdf

[2021-05-03 02:51] 77blackbird commented on #48852
That's the doc I referenced initially.  Unfortunately, it seems to be more of a style guide; we'd like to make sure our use is legal/acceptable.

[2021-05-03 02:58] suraj-maniyar commented on #40157
@thaink
I am using C++ API on CentOS 8 machine and I get the above error on model loading.

[2021-05-03 02:59] atyshka commented on #48867
Update: I found the issue, it's adding

[code]

That causes the issue. This is related to #36833. I will disable the when saving models, but this issue should either be fixed or noted in the documentation for model.save() or tf.debugging

[2021-05-03 03:32] imanvk opened #48876 "download error for cars196 dataset when using tfds.load"
It seems "cars196" dataset is not available:

(train_ds, val_ds, test_ds), metadata = tfds.load(
    'cars196',
    split=['train[:80%]', 'train[80%:]', 'test'],
    with_info=True
)

**DownloadError**: Failed to get url https://image-net.org/internal/car196/cars_test.tgz. HTTP code: 404.

[2021-05-03 03:46] mhyeonsoo opened #48877 "Android implementation orientation question"
Hi, I am trying to switch orientation of sample android classification app, and having trouble making screen as full-screen.

I modified menifest xml's orientation from portrait to landscape, but still main cameraview of the app takes just part of the screen, which is not full-screen.

Is there any guide or things to change to make the app's default orientation as landscape view?

Thanks.

[2021-05-03 03:54] AdityaNikhil opened #48878 "[Custom Layer]ValueError: tf.function-decorated function tried to create variables on non-first call"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Colab**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **No**
- TensorFlow installed from (source or binary): **Colab**
- TensorFlow version (use command below):

[2021-05-03 04:15] thaink commented on #40157
@suraj-maniyar Are you using bazel? How did you install the dependency for TFLite?

[2021-05-03 04:23] suraj-maniyar commented on #40157
@thaink Yes, I am using Bazel (v3.7.1)
I followed all the instructions for building TFLite C API from source from [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/c#building-the-c-api).

[2021-05-03 05:00] thaink commented on #40157
I see. You can have two options:
- add tensorflow/lite/delegates/flex:delegate to the list of your dependency
- build //tensorflow/lite/delegates/flex: tensorflowlite_flex with --config=monolithic and add the .so file to your project

[2021-05-03 05:11] manp-git opened #48879 "How to modify weights in TFLite model and check effect on activation layer output, set_tensor helps only on input layers and not intermediate tensors."
How to modify weights in TFLite model and check effect on activation layer output for experimentation purpose, set_tensor helps reapply things only on input layers and not intermediate tensors.
I am ok doing in offline by extracting output of previous layer and convolving it with the extracted weights and biases of layer in consideration.
Please share if there is a command for that. Else how can I

[2021-05-03 05:13] manp-git commented on #48824
Hi, I have created a new issue for one of the things here: https://github.com/tensorflow/tensorflow/issues/48879

[2021-05-03 05:25] tilakrayal commented on #48844
@jvishnuvardhan ,

I was able to reproduce the code.Please find the [gist](https://colab.research.google.com/gist/tilakrayal/74e54faafe4e743a8f2b4538481c6db9/48844.ipynb) here

[2021-05-03 06:01] tilakrayal commented on #48861
@apramanik62 ,

In order to expedite the trouble-shooting process, could you please provide the The tesnorflow version,complete code and dataset to reproduce the issue.

Thanks!

[2021-05-03 06:16] cosmoquester opened #48880 "Error occured Bidirectional layer with TPU"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-05-03 06:34] apramanik62 commented on #48861
@tilakrayal
Thanks for your kind response . can you share me your email address for sharing necessary files?

[2021-05-03 07:24] WeiHao97 commented on #48005
Any updates on this? Thanks! @jvishnuvardhan @Saduf2019

[2021-05-03 07:25] WeiHao97 commented on #48043
Any updates on this? Thanks! @abattery @fredrec

[2021-05-03 07:28] tilakrayal commented on #48864
@lugalUrim ,

I was able to run the given code without any errors.Please find the [gist](https://colab.research.google.com/gist/tilakrayal/60efd73f0e5bd11e7ba4e35e74e56932/48864.ipynb) here. Could you please try to execute the code in colab from your side and let us know if you are facing the issue again.

Thanks!

[2021-05-03 07:36] tilakrayal commented on #48867
@atyshka ,

In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

Thanks!

[2021-05-03 07:38] #48710 closed

[2021-05-03 07:40] Duskley commented on #48857
Hello, yes it works very well. To switch from an aab format to an apk format I have to change the ndk filters. I'm going from arm64-v8a, armeabi-v7a to armeabi-v7a (My phone only supports armeabi-v7a). Does this crash have something to do with ndk filters?

[2021-05-03 08:04] saar-eliad opened #48881 "Tensorflow cpu memory profiling"
**System information**
- TensorFlow version (you are using): 2.3.1
- Are you willing to contribute it (**Yes**/No):

**Describe the feature and the current behavior/state.**

Tensorflow cpu memory profiling: we want to get detailed profiling as in GPU memory profiling.
(Beginning with a single thread.)
Currently: when running the memory profiler in CPU mode we do not see any memory profile data ca

[2021-05-03 08:13] UsharaniPagadala commented on #48873
@PetrDvoracek
I ran the code in tf 2.5rc1 and tf-nightly,did not face any errors.Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/c87b68e164fc8b5fbe1a7fde1c2a3f93/untitled31.ipynb) here

and also
Could you please have a look on the similar issues [#39982](https://github.com/tensorflow/tensorflow/issues/39982),[#34406](https://github.com/tensorflow/tensorflow/issues/34

[2021-05-03 08:17] tbhaxor opened #48882 "Tensorflow is not detecting GPU but Pytorch is"
Hi,

I am on Manjaro _5.4.114-1-MANJARO_ kernel. Pytorch is detecting the GPU and using it while training the model but TensorFlow
 is not detecting it.

![image](https://user-images.githubusercontent.com/28386721/116854848-f8990280-ac15-11eb-829c-364d85a3ac5e.png)

[2021-05-03 08:53] saikumarchalla commented on #48846
@DachuanZhao  Currently, I think tensorflow-gpu library isn't built for AMD as it uses CUDA. To get Tensorflow to work on an AMD GPU,  one way this could work is to compile Tensorflow to use OpenCl.

 Please go through the community supported build section [here](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream#community-supported-builds)  and you will get more information on this.

Als

[2021-05-03 09:08] saikumarchalla commented on #48846
@DachuanZhao Seems Tensorflow is now supporting AMD GPU with ROCM. Please go through this [document](https://medium.com/analytics-vidhya/install-tensorflow-2-for-amd-gpus-87e8d7aeb812) for Step by step installation. Thanks!

[2021-05-03 09:08] cecabert commented on #48196
Run into the exact same issue in #46605. Apparently it is consider as a *feature* and not a bug. However it makes impossible to access any layer's output once the model has been created.

[2021-05-03 09:08] Saduf2019 commented on #48876
@imanvk
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

If it just about the dataset, you can find them here : [link](https://www.tensorflow.org/datasets/catalog/cars196) ,[link1](https://ai.stanford.edu/~jkrause/cars/car_dataset.

[2021-05-03 09:28] tilakrayal commented on #48852
@77blackbird ,

Can you please provide more information/details to understand the issue.Thanks!

[2021-05-03 09:32] Saduf2019 commented on #40831
@David-LETINAUD

Is this still an issue can you please try with the latest tf version [2.4.1] and let us know.

[2021-05-03 09:34] saikumarchalla commented on #48797
@YodaEmbedding  Any update on this?. Please feel free to close the issue if the issue was resolved already. Thanks!

[2021-05-03 10:04] arctop-sk opened #48884 "TFLite NNApi / GPU causes results to be outputted as 0.0, while on CPU results are correct"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubunto 20.04.2 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Pixel 4 / 5
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command

[2021-05-03 10:05] resera commented on #48820
Hello, thanks for a suggestion. After saving a model with

It now gives me a different error while running the object detection, it looks like this:

`Error parsing message: DecodeError
Traceback (most recent call last):
  File "/var/task/lambda_function.py", line 36, in lambda_handler
    detect()
  File "/var/task/lambda_function.py", line 51, in detect
    od_graph_def.ParseFromString(serialize

[2021-05-03 10:14] saikumarchalla commented on #48874
@Davidy22  Could you please try using CUDA 11.2 instead of 11.3 on a new virtual environment and let us know if you facing the issues still. Thanks!

[2021-05-03 10:16] saikumarchalla commented on #48874
Duplicate issue: #48652

[2021-05-03 10:18] YodaEmbedding commented on #48797
Reinstalling `torchvision` seems to fix the issue. Not sure what was causing it.

[2021-05-03 10:18] #48797 closed

[2021-05-03 10:22] rmothukuru commented on #48839
@freddan80,
Thank you for submitting the fix. As the PR #48840 has been merged, can you please let us know if we can close this issue?
Thanks!

[2021-05-03 10:31] tilakrayal commented on #48875
@rohanmuplara ,

We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

Thanks

[2021-05-03 10:51] bhack commented on #48851
When you create a `tf.varaible` inside a `tf.function` it will re-trigger a retrace.
It is also why [Variables may only be created once](https://www.tensorflow.org/api_docs/python/tf/function?version=nightly#variables_may_only_be_created_once) and in the same doc section

So calling `model(sample)` on an not built model it will go to create model variable inside your `tf.function` and this will tr

[2021-05-03 10:51] Saduf2019 commented on #48652
@Gaasmann
Sorry for the delayed response, can you please let us know if you still face the issue.

[2021-05-03 11:06] Saduf2019 commented on #44628
@advaitjain
Is this still an issue.

[2021-05-03 11:09] rmothukuru commented on #38862
@ngc92,
Sorry for the delayed response. The [Example Code](https://www.tensorflow.org/api_docs/python/tf/ragged/stack#examples) mentioned in documentation returns a **`Ragged Tensor`**, which is line with [the documentation](https://www.tensorflow.org/api_docs/python/tf/ragged/stack#returns) provided.

Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/9a6a789d7adc9e746535129

[2021-05-03 11:11] Saduf2019 commented on #48451
@mitramir55
These two messages are just a warning, you can ignore them if you are not concerned. Basically, these messages will always be displayed everytime the graph node is executed, and only in graph mode.

[2021-05-03 11:15] ayandebbarman opened #48885 "Docker Hosted automl predict ignores score_threshold param"
I have deployed the .pb file exported out of GCP as per below instructions

https://cloud.google.com/vision/automl/object-detection/docs/containers-gcs-tutorial

I am able to get the response but I am getting all predictions with all scores. I tried to limit the responses with below payload and score_threshold. But its still not filtering the response with low scores and seems to be ignoring score

[2021-05-03 11:17] Saduf2019 commented on #48799
@Davidelvis
Please move the issue to closed status as resolved.

[2021-05-03 11:19] Saduf2019 commented on #40790
@dtch1997
Is this till an issue, could you please try is later tf versions and let us know.

[2021-05-03 11:21] Saduf2019 commented on #40635
@ruperty

Is this till an issue, could you please try is later tf versions [2.4 or nightly] and let us know.

[2021-05-03 11:24] anuragtr commented on #42425
Same problem, unable to convert pb to h5(keras), pb file was created from an onnx file.

[2021-05-03 11:24] Saduf2019 commented on #40838
@alexmil2019
Can you please try with the latest tf versions and let us know if this is still an issue.

[2021-05-03 11:26] Saduf2019 commented on #39459
@nikita1andreev
Could you please try on tf 2.4.1 or later version and let us know if this is still an issue.

[2021-05-03 11:27] Saduf2019 commented on #34500
@divyekapoor
Could you please verify with later tf versions and let us know if this is still an issue.

[2021-05-03 11:29] Saduf2019 commented on #38443
@isaacgerg
Could you please update with respect tot he above comment, or verify with later tf versions [2.4.1] if you still face the issue.

[2021-05-03 11:48] tilakrayal commented on #48738
@Jeet1994 ,

The code provided is fairly complex hence it would be difficult for us to pinpoint the issue. Could you please get the example down to the simplest possible repro? That will allow us to determine the source of the issue easily. Thanks!

[2021-05-03 11:57] freddan80 commented on #48839
Absolutely, you can close it.

[2021-05-03 11:58] rmothukuru commented on #39107
@vikalpjain91,
Sorry for the delayed response. Can you please let us know if this issue is resolved with respect to this [Stack Overflow Answer](https://stackoverflow.com/a/47973905/11530462)? Also, please refer to the Documentation of [Custom Layers](https://www.tensorflow.org/tutorials/customization/custom_layers) and [this Tutorial](https://www.tensorflow.org/guide/keras/custom_layers_and_model

[2021-05-03 12:00] #48839 closed

[2021-05-03 12:04] UsharaniPagadala commented on #48877
@mhyeonsoo
Could you please fill the template
 In order to expedite the trouble-shooting process, please provide a code snippet /colab gist to reproduce the issue reported here. Thanks!

[2021-05-03 12:07] levuloihust99 commented on #48851
Okay, I got it. Thank you @bhack

[2021-05-03 12:07] #48851 closed

[2021-05-03 12:15] oonisim commented on #37726
Please advise if this issue has been resolved. I am using 2.4.0 and having the issue of the tape.gradient() returns None with tf.concat().

[2021-05-03 12:25] PetrDvoracek commented on #48873
@UsharaniPagadala
Thanks, the problem persists on my laptop even after installing tf-nightly (2.6.0).

More details about the environment  (long part removed):
[code]

[2021-05-03 12:30] its-shubham2323 opened #48886 "Traceback (most recent call last):"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution ( Windows 10 Home ):
- TensorFlow installed from (source )

[2021-05-03 12:37] #48611 closed

[2021-05-03 12:42] Jeet1994 commented on #48738
@tilakrayal

Hi,

The code is complex, understood. Let me explain you the issue once again, the problem is with the usage of function `tfa.seq2seq.AttentionWrapperState` , which is a function defined under *tensorflow addons**.

Please look at the original code snippet added with the issue.

Request you to delegate the issue to someone who can help me in this matter, if you are unable to do so.

[2021-05-03 13:26] suraj-maniyar commented on #40157
Hello @thaink
I tried your 2 approaches.

For first approach :
I updated this file :
[code]

I changed the tf_cc_shared_object to add the flex delegete dependency like so ([reference](https://github.com/tensorflow/tensorflow/issues/33980#issue-517305280)) :
[code]

And built tensorflowlite using this command :
[code]

This built successfully, but during runtime, I still get error in model loading

[2021-05-03 13:28] Gaasmann commented on #48652
@Saduf2019 This seems to be a bug on the line I mentioned. I don't see new commits so I doubt the problem has resolved. I'll try to recompile nonetheless and let you know.

[2021-05-03 13:41] mlpva commented on #47721
Bump

[2021-05-03 13:42] mmaor123 commented on #39521
same here. tried all sort of debug build options with 2.6.0
getting /tensorflow/python/_pywrap_tensorflow_internal.so: undefined symbol: _ZN10tensorflow4data17FinalizeDatasetOp15kHasCapturedRefE

is debug build broken? is there a new method to build debug version of TF?

[2021-05-03 13:49] tilakrayal commented on #48879
@manp-git ,

In order to reproduce the issue reported here, could you please provide  the complete code and the dataset  or colab link you are using. Thanks!

[2021-05-03 13:54] Saduf2019 commented on #48873
@PetrDvoracek
As this issue is not reflecting in our colab gist, can you please confirm if you face this issue on stable version 2.4.1 along with cuda 11.0 [cuda version 11.2 is tested with tf 2.5, there is no update on 11.3]
also please refer to [this comment](https://github.com/tensorflow/tensorflow/issues/33484#issuecomment-555299647) and let us know if it helps.

[2021-05-03 14:06] UsharaniPagadala commented on #48644
@rschumi0
The following are the supported [devices](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/tf2xla/g3doc/cpu_supported_ops.md) for XLA_CPU_JIT. Could you please check and let us know if it helps.Thanks

[2021-05-03 14:33] tilakrayal commented on #48882
@tbhaxor ,

In order to expedite the trouble-shooting process, could you please provide the following information
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Bazel version (if compiling from source):
GCC/Compiler version (if compiling from source):
CUDA/cuDNN version:

Thanks!

[2021-05-03 14:50] UsharaniPagadala commented on #48845
@shkarupa-alex

I ran the code shared on  tf nightly at runtime GPU and BatchNorm did not generated NaN moving_variance on GPU, please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/8dcf4524ea52fa64b23a0887eeff70bf/bn-issue.ipynb) here.Thanks

[2021-05-03 15:48] arctop-sk commented on #48884
Some additional info.
We have tried every combination of flags on both NNApi and GPU delegates, the problem persists.

[2021-05-03 15:55] advaitjain commented on #47071
As part of enabling benchmarks for the Ethos-U, we will want to support the Vela converted person detection model from the benchamark code. [Here](https://github.com/tensorflow/tensorflow/pull/48669#discussion_r622620181) an initial discussion on that topic.

[2021-05-03 15:58] ebrevdo opened #48888 "Possible memory leak in eager context's thread_local_data"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-05-03 16:02] rohan100jain commented on #48551
Thanks for the minimal reproduction! If you pass in encoding='utf-8' as an argument to tf.strings.lower, the test seems to pass. It looks like by default if no encoding is provided then we default to ASCII. We'll look into maybe making that the default but there might be some backwards compatibility considerations we need to think through.

[2021-05-03 16:09] Prithvi-k commented on #47311
This worked for me! Thank you @abhishekvenkat764

[2021-05-03 16:19] jvishnuvardhan commented on #48531
@jwallbridge Can you please check this [issue](https://github.com/tensorflow/tensorflow/issues/46194#issuecomment-827036146) which is similar to your issue. Thanks!

[2021-05-03 16:31] Mastiff37 opened #48889 "Which version of gast for TF 2.4? (Autograph warning)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Centos7
- TensorFlow installed from (source or binary):  Conda install
- TensorFlow version: 2.4.1
- Python version: 3.7
- Installed using virtualenv? pip? conda?: Conda

**Describe the problem**

When training a model, receive "WARNING: Autograph could not transform..." ... "Cause: module 'gast' has no attribute 'I

[2021-05-03 16:33] reedwm commented on #48662
By using average absolute deviation instead of standard deviation, you remove the risk of overflow, so I think float16 is OK.

If you are concerned about performance of running variance calculations in float32, consider [using XLA](https://www.tensorflow.org/xla). XLA can potentially remove the performance cost of doing the variance in float32, since it can fuse the cast-to-float16, the variance c

[2021-05-03 16:40] pwuertz opened #48890 "Build with CUDA support fails with GCC >= 10.3"
**System information**
- OS Platform and Distribution: Ubuntu Linux 21.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: v2.5.0-rc2
- Python version: 3.9
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if compiling from source): 10.3
- CUDA/cuDNN version: 11.2 / 8.2

**Describe the problem**

Building tensorflow with CUDA support with GCC 10.

[2021-05-03 16:40] Lucy20211 commented on #27120
Hi, for the following simple test example, in which I use conv1D op (I cannot use conv2D op for my project), I get the same error:

`import tensorflow as tf`

`input_shape = (1, 7, 1)`
`x = tf.random.normal(input_shape)`

`@tf.function`
`def convol1d():`
    `y=tf.keras.layers.Conv1D(1, 3,
      input_shape=input_shape[1:],name="Conv1D")(x)`
       `return y`

`data = convol1d()`
`print("\n\n data

[2021-05-03 16:40] ebrevdo commented on #48888
It's possible the leak was actually found and ignored in https://github.com/tensorflow/tensorflow/commit/11e09d9352066e564db9f0e16cc5f06c6f5f8b63?

[2021-05-03 16:41] cantonios commented on #46887
This is an FPE in c++, causing TF to crash.  (same with truncatediv, truncatemod, floordiv).  Fix coming soon.

[2021-05-03 16:41] ebrevdo commented on #48888
Adding Ed & Kibeom who approved that code.

[2021-05-03 16:42] tbhaxor commented on #48882
I solved this already by using community packages with python3.9

[2021-05-03 16:42] #48882 closed

[2021-05-03 16:45] rmothukuru commented on #39882
@winnietsang,
**`Multidimensional Support`** is available in [tf.raw_ops.UniqueV2](https://www.tensorflow.org/api_docs/python/tf/raw_ops/UniqueV2) and [tf.raw_ops.UniqueWithCountsV2](https://www.tensorflow.org/api_docs/python/tf/raw_ops/UniqueWithCountsV2). PTAL. Thanks!

[2021-05-03 16:50] rmothukuru commented on #40006
@scarrazza,
Can you please respond to the above comment? Thanks!

[2021-05-03 16:53] ebrevdo commented on #48888
It's possible the error stems back to the fact that `eager_context_thread_local_data_map` and `eager_context_thread_local_data_defaults` are not associated with a particular context object (they're defined as `thread_local` in an anonymous namespace in a `.cc` file).  This was done [here](https://github.com/tensorflow/tensorflow/commit/8e1ef83d9ea91f1de915841690264b98b9a75c21).

[2021-05-03 17:06] Lucy20211 commented on #48567
Could I try to implement a custom operator without using @tf.function?

[2021-05-03 17:20] mihaimaruseac commented on #48550
@av8ramit can you take a look?

[2021-05-03 17:27] #34439 closed

[2021-05-03 17:33] bhack commented on #48881
Are you following this guide https://www.tensorflow.org/guide/profiler?

[2021-05-03 17:37] #43631 closed

[2021-05-03 17:40] #45978 closed

[2021-05-03 17:49] tom-andersson commented on #48736
@deeb02 Thank you for your reply. Does the passing `sample_weight` as a third element from a data loader in `Model.fit` work with custom metrics?

[2021-05-03 17:51] mihaimaruseac commented on #48640
`tensorflow` and `tensorflow-gpu` after 2.1 are exactly the same package, just with a different name.

[2021-05-03 17:59] nikitamaia commented on #48439
Yes, I see the dataset now. Thanks, I will try to reproduce this when I get a chance. In the meantime did you try the two suggestions in my previous comment?

[2021-05-03 18:05] ymodak commented on #48778
Please take a look at similar [thread](https://forums.tinyml.org/t/make-doesnt-work-on-hello-world-test-from-tinyml-book/344) for workarounds.

[2021-05-03 18:06] RocaVincent commented on #48662
@reedwm Yes I already use XLA and indeed it saves a little bit of memory and computation time.

[2021-05-03 18:31] nikitamaia commented on #48586
Hi @Yannik1337, for multi-dimensional labels, you still need to divide the loss by the global batch size later with `tf.reduce_sum(per_example_loss) / GLOBAL_BATCH_SIZE`
[code]

which is equivalent to if you're using a single replica
[code]

I don't think it's completely obvious from the tutorial that you still need to divide by the global batch size (like in the case where your labels are not mul

[2021-05-03 18:31] #48586 closed

[2021-05-03 18:38] mihaimaruseac commented on #48377
Can you bisect with nightly versions to see at what nightly this got introduced?

[2021-05-03 18:52] MarkDaoust commented on #48714
I wonder why the "Fix:" comment on the commit didn't close the bug.

[2021-05-03 18:52] #48714 closed

[2021-05-03 19:07] shimafoolad commented on #43775
@krn-sharma Write metadata to the object detection model using the following script:
[code]

[2021-05-03 19:16] bhack commented on #48714
@MarkDaoust  Cross repositories is not in the format: https://github.blog/2013-03-18-closing-issues-across-repositories/?

[2021-05-03 19:21] bhack commented on #48714
As I don't see your direct commits in this repo other than an old commit in 2015 but with another email.  Do you have push right here?

[2021-05-03 19:24] bhack commented on #48714
Ok I've checked with your current email and all seems fine. Very strange.

[2021-05-03 19:24] MarkDaoust commented on #48714
Yeah, I think you're right that it's just a permissions issue.

[2021-05-03 19:38] bhack commented on #48714
Yes probably is ` MarkDaoust authored and Copybara-Service`

[2021-05-03 19:47] bhack commented on #48714
We don't have that commiter bot here `git log --committer="Copybara-Service"`. it is used in the Docs repository. This is why Github don't close your cross ticket as the permission check it is related to the committer not to the author (you).

[2021-05-03 19:54] av8ramit commented on #48550
I've fixed the issue that caused this and done a manual re-upload. I can now see the previously missing files. Can you please confirm this is resolved @VivekPanyam ?

[2021-05-03 20:09] mhs-achyut commented on #45568
same issue here. Please let me know once this is resolved.

[2021-05-03 20:31] allenlavoie commented on #48888
From the original bug report, "One of the possible solutions is to call gc.collect() but it significantly slows down training". That suggests to me that this is not a memory leak at all, just a reference cycle. I don't see much mention of that later on in the thread; seems like the thread_local bits are definitely a red herring if so.

There's a separate question of which objects are participating

[2021-05-03 20:38] mhs-achyut commented on #45568
@Crispy13 I have figured out the bug. You need to explicitly cast the softmax Dense layer to dtype=tf.float32 to avoid numerical instability. Thanks to the source here: https://wandb.ai/site/articles/mixed-precision-training-with-tf-keras

[2021-05-03 20:42] wangpengmit commented on #27120
You can't unconditionally create a Keras layer in `tf.function`, because the layer creates variables inside it. You have to either move the `y = tf.keras.layers.Conv1D(...)` line outside `tf.function`, or guard it by an `if`:
[code]

[2021-05-03 20:52] ymodak commented on #48876
duplicate #https://github.com/tensorflow/tensorflow/issues/48818

[2021-05-03 20:52] #48876 closed

[2021-05-03 21:00] tomerk commented on #48888
Yeah we know certain parts of TF (and e.g. Keras functional models) are susceptible to reference cycles that sometimes require a gc.collect to clear. We have some internal bugs open for Keras to fix these reference cycles, though it'll require a fairly involved rework of the internals of Keras History tracking in functional models, so we haven't been able to put it on the roadmap yet.

There's als

[2021-05-03 21:27] Lucy20211 commented on #27120
Thanks for your reply @wangpengmit: I guarded it by an if; however now I get this error:

`ValueError: Failed to import metagraph, check error log for more info.`

At the end I would expect it instead:

`Error: Didn't find custom operator for name 'Conv1D'.
Registration failed.`

If this latter error appeared, I would try to define a custom operator for conv1D op.

[2021-05-03 21:41] wangpengmit commented on #27120
That seems an unrelated bug. Please file a separate bug for it.

[2021-05-03 21:42] bhack commented on #48889
Check https://github.com/tensorflow/tensorflow/issues/44146

[2021-05-03 21:46] bhack commented on #48890
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=100102
https://github.com/NVIDIA/nccl/issues/494

[2021-05-03 21:49] bhack commented on #48885
I think that you need to use the feedback button in that docs page footer. It is not in the TensorFlow perimeter.

[2021-05-03 21:52] TACIXAT opened #48892 "The bounding box x/y ordering returned by `detect_fn` is unacceptable"
For some reason it returns `ymin`, `xmin`, `ymax`, `xmax`. According to this poll [1] it should at least be `xmin`, `ymin`, `xmax`, `ymax`, and preferably `xmin`, `xmax`, `ymin`, `ymax`. I am not sure what maniac chose this ordering because I couldn't find the source after lazily searching for `detection_boxes` in this repository, but I'd like to see this code to understand what type of person wou

[2021-05-03 22:25] #48627 closed

[2021-05-03 22:28] bhack commented on #48864
@lugalUrim Can you check if is it solved on your Windows system with TensorFlow 2.5.0.rc2?
It seems running without problem under Wine:

[code]

[2021-05-03 22:29] bhack commented on #48864
/cc @nikitamaia

[2021-05-03 22:50] abattery commented on #48884
@srjoglekar246 could you take a look?

[2021-05-03 22:52] abattery commented on #48879
To modify the weight of the specific graph nodes, you need to edit the flatbuffer library based on the TFLite schema directly.

The TensorFlow Lite model file is based on the flatbuffer file format.

[2021-05-03 23:19] njeffrie commented on #48567
I have very little experience with tf functions - perhaps @jdduke can assign this to somebody more familiar.

[2021-05-03 23:22] allenlavoie commented on #48430
Fixed in master, still needs a cherry-pick or a rollback in the release branch (probably the former).

Thank you for testing the release and the great report!

[2021-05-03 23:23] DolanDack commented on #44936
@MuSamiNaf no, I have just stopped trying at this point.

[2021-05-03 23:38] cheshire commented on #48615
Fixed in https://github.com/tensorflow/tensorflow/commit/eaa0c588cf44e0c436560738ec361cbc4861cb2d

[2021-05-03 23:38] #48615 closed

[2021-05-04 00:01] suraj-maniyar commented on #40157
@thaink
Any updates on this issue?

[2021-05-04 00:47] jvishnuvardhan commented on #48478
@axelning I changed last line of your code from
`model._make_train_function()` to `model.make_train_function()` and with that change it doesn't throw any error. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/d45923375c3cc9988a4e93d83feaddba/untitled589.ipynb).

Looks like `model._make_train_function()` is only available under `tensorflow/python/keras/engine/trai

[2021-05-04 00:52] thaink commented on #40157
For the first approach, you are building the wrong target: It should be //tensorflow/lite:tensorflowlite
For the second one, You should sync to our master branch and the name is tensorflowlite_flex not tensorflow_flex

[2021-05-04 01:17] thaink commented on #48857
Not sure but I suspect that or `sourceSets` might be the problem.
Could you check if the .so file does exists in the apk and tests several option on these fields?

[2021-05-04 01:26] Davidy22 commented on #48874
Followed the solution that was taken in the attached report, replaced

`output.append(outputs)`

with

`outputs.append(output)`

In the offending file and it worked, might make a pull request some time if i got the time to find where this gets generated

[2021-05-04 02:21] sanjoy commented on #48869
@trentlo @chsigg Any idea what's going on?

[2021-05-04 02:31] oonisim commented on #36559
https://stackoverflow.com/questions/67378040/

[2021-05-04 02:36] TACIXAT commented on #48892
Further evidenced by other libraries following the `x0`, `y0`, `x1`, `y1` convention -

https://pillow.readthedocs.io/en/stable/reference/ImageDraw.html?highlight=rectangle#PIL.ImageDraw.ImageDraw.rectangle

Is this insanity in Tensorflow even documented anywhere? I have only seen it unofficially documented in external package's code -

https://github.com/tensorflow/models/blob/master/research/obj

[2021-05-04 02:39] trentlo commented on #48869
This is a known issue that we mention to you in the last meeting.

@nouiz is back. He knows more. (@bas-aarts FYI.)

[2021-05-04 03:08] henrysky commented on #48377
The behavior is introduced in this commit https://github.com/tensorflow/tensorflow/commit/373883e4cc074c5ad0efa8c3d3875ae102c4005a

[2021-05-04 03:25] sayakpaul commented on #48714
@MarkDaoust thank you for your contribution for the section:

https://www.tensorflow.org/tutorials/images/segmentation#optional_imbalanced_classes_and_class_weights

We now at least have a section in the official docs providing a way to get around this important problem.

[2021-05-04 03:41] suraj-maniyar commented on #40157
@thaink
Thank you very much for the correction. I tried building tensorflowlite using the first approach.
It gave me the following error:
[code]

Is this also supposed to be built under master branch? I am building it under v2.3.2

[2021-05-04 04:25] thaink commented on #40157
Can you add --experimental_ui_max_stdouterr_bytes=1000048576 or a bigger number of necessary. And don't forget to add --config=monolithic

[2021-05-04 05:06] ankitadhar commented on #22116
I have similar issue..
I am getting following error:

`
I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:116] None of the MLIR optimization passes are enabled (registered 2)`
`W tensorflow/core/platform/profile_utils/cpu_utils.cc:126] Failed to get CPU frequency: 0 Hz`
`F tensorflow/core/grappler/costs/op_level_cost_estimator.cc:710] Check failed: 0 < gflops (0 vs. 0)type: "CPU"
`

I am

[2021-05-04 05:10] saikumarchalla commented on #48889
@Mastiff37   please use gast 0.3.3 for Tensorflow version 2.4. If you prefer to work with gast 0.4 use latest Tensorflow/Nightly version. Thanks!

[2021-05-04 05:29] saikumarchalla commented on #48825
@notprime  Could you please confirm what version of gast are you using? Please try with gast 0.3.3 for TF version 2.4. Thanks!

[2021-05-04 05:59] 1RandoPerson commented on #26853
Have you moved your files around in any way, like separate the application from the rest of the files. I moved the files back and the problem was solved.

[2021-05-04 06:31] shkarupa-alex commented on #48845
You did'n read comments in code and as result didn't uncomment line

If you will, you see that all ops are placed on Cpu (tf-nightly does not work with colab gpu env), but issue is GPU-related.

[code]

[2021-05-04 06:43] ayandebbarman commented on #48885
The parameter is being accepted but not working.
If you try something like below payload you get an error as parameter is not identified .. Ultimately whether you host it in Docker or in GCP it should be calling the predict api

https://cloud.google.com/automl/docs/reference/rpc/google.cloud.automl.v1#google.cloud.automl.v1.PredictRequest

{
"instances": [
{
"image_bytes": {
"b64": "”
},
"key": "y

[2021-05-04 06:47] thaink commented on #48850
Does your model run correctly with the python API?

[2021-05-04 06:47] hthu commented on #48602
Sorry for the slow response.

The root issue is that your dataset doesn't have static batch shape, and that leads to dynamic shape inside TPU XLA which is problematic.

You can simply use `drop_remainder=True` when calling the batch function to produce a `fixed` shaped batch, e.g.:

[code]

And that would give you the output shape below:
[code]

With that, you should be able to train properly.

[2021-05-04 07:03] UsharaniPagadala commented on #48892
@TACIXAT
Could you please have a look at this [documentation](https://www.tensorflow.org/hub/tutorials/object_detection).Thanks

[2021-05-04 07:17] s4sarath commented on #47311
Use ```keras.Input.type_spec```

[2021-05-04 07:25] saikumarchalla commented on #48863
Was able to reproduce the issue in TF 2.4 and Nightly versions.Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/bdf24c8618cfd44fcfe0f18e0cda8ae4/-48863.ipynb#scrollTo=k-pQruNuQ-Hp).

[2021-05-04 07:38] PetrDvoracek commented on #48873
@Saduf2019
Thank you, it works in version 2.4.1 on my machine.

[2021-05-04 08:44] rmothukuru commented on #39305
@bhack,
Sorry for the delayed response. Can you please elaborate on your point? Thanks!

[2021-05-04 08:47] saar-eliad commented on #48881
@bhack  yes

[2021-05-04 08:58] rmothukuru commented on #40225
@godweiyang,
Sorry for the delayed response. Can you please refer this [Stack Overflow Answer](https://stackoverflow.com/a/43576298/11530462) where the similar error has been resolved? Thanks!

[2021-05-04 09:09] #47968 closed

[2021-05-04 09:13] bhack commented on #39305
Check https://github.com/tensorflow/tensorflow/issues/48699#issuecomment-825653937 /cc @mdanatg @MarkDaoust

[2021-05-04 09:28] rmothukuru commented on #48881
@saar-eliad,
**`Tensorboard Profiler`** works with **`CPU`**. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/db189c30d7acd81df1b2b75423315238/tensorboard_profiling_keras.ipynb) of working code.

The code used in [the Colab](https://colab.research.google.com/gist/rmothukuru/db189c30d7acd81df1b2b75423315238/tensorboard_profiling_keras.ipynb) is taken from the [documentation

[2021-05-04 09:36] saar-eliad commented on #48881
@rmothukuru what you are showing from the gist/colab is CPU *execution*/*trace*, which works.

However, the problem we are discussing is with the *memory profiler* tool.

[2021-05-04 09:37] #43764 closed

[2021-05-04 09:37] rmothukuru commented on #40532
@mjkim720,
Upon running your code in the latest version of Tensorflow (2.4.1), I think proper error is being raised. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/e800797cb02ffb7b88988ec9ac5188ac/40532-tf-nightly.ipynb). Thanks!

[2021-05-04 09:41] Saduf2019 commented on #48890
@pwuertz
Would you want to down grade to cuda 11.0 and tensorflow stable tested version 2.4.1 and let us know if you face any issues.

[2021-05-04 11:03] pwuertz commented on #48890
Not really, sorry, since I'm building everything at a non-isolated system level and require python 3.9 and CUDA 11.2 for other reasons. And as said before, building the configuration above with GCC-9 as NVCC host compiler works fine. I just wanted to make anyone who is looking for this aware and give a pointer to the upstream bug report at GCC.

The problem seems to be pretty much identified at th

[2021-05-04 11:04] rmothukuru commented on #48881
@saar-eliad,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-05-04 11:10] bhack commented on #48890
@pwuertz In the meantime can you build in our docker devel container `tensorflow/tensorflow:devel` or does it not fit your use case?

[2021-05-04 11:12] bhack commented on #48881
@saar-eliad Can you select CPU in the dropdown at https://www.tensorflow.org/guide/profiler#memory_profile_summary ?

[2021-05-04 11:22] saar-eliad commented on #48881
@bhack when running with GPU, I am able to select CPU in the dropdown menu (the cpu info is very limited compared to the gpu information).

when running without GPU, i.e., CPU only, there is no menu at all (and even the gunziped json file in tensorboard dir is empty).

[2021-05-04 11:26] bhack commented on #48881
Do you see the https://www.tensorflow.org/guide/profiler#memory_profile_summary on CPU?

[2021-05-04 11:29] vcucu commented on #41448
Still interested in an update on this!

[2021-05-04 11:30] saar-eliad commented on #48881
@bhack  I do not see the memory profile summary on CPU. (it says something like - no profile).

[2021-05-04 11:37] bhack commented on #48881
It seems a duplicate of https://github.com/tensorflow/tensorflow/issues/42123. @MarkDaoust can we add a claim in the Docs?

[2021-05-04 11:37] rmothukuru commented on #41126
@samquar,
Can you please respond to the above comment? Thanks!

[2021-05-04 11:38] saar-eliad commented on #48881
@rmothukuru since I can't share the whole code, here is a copy & paste of the relevant parts.
(we got this from a 3rd party)
Do you have an example of a working CPU memory profiler without GPU? I did not find any.
If so let's take the model from there.

The 3rd party we are working with claims Tensorflow can profile only CPU memory - it did not work according to my check, hence I believe this feat

[2021-05-04 11:41] Saduf2019 commented on #48886
@its-shubham2323

We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

Based on the error please refer to: #48034,#43986,#38235, [link](https://stackoverflow.com/questions/43298872/how-to-solve-readtimeouterror-httpsconnectionpoolhost-

[2021-05-04 11:41] bhack commented on #48881
I think that situation is still the same as 2020 https://github.com/tensorflow/tensorflow/issues/42123#issuecomment-675047711. It is why probably a claim in Doc is the better solution to avoid new tickets on this topic.

[2021-05-04 11:45] rmothukuru commented on #41234
@Wirg,
Sorry for the delayed response. Can you please let us know if [tf.tensor_scatter_nd_add](https://www.tensorflow.org/api_docs/python/tf/tensor_scatter_nd_add) is what you are looking for? Thanks!

[2021-05-04 11:46] saar-eliad commented on #48881
@bhack I saw this issue before opening this one, and I checked: even in tf 2.3.1 there is an output of gunzip-ed memory profile in tensorboard directory - it has a lot of information there regarding GPU profiles.
(for GPU: we converted it to xlsx and using it instead of the tensorboard frontend)

I believe that in tf 2.4 the fix was reading and displaying this file (frontend fix).
In CPU mode, how

[2021-05-04 11:51] rmothukuru commented on #41280
@pvanhaes,
Can you please respond to the above comment? Thanks!

[2021-05-04 12:17] rmothukuru commented on #41437
Could reproduce the error with **`Tensorflow Version 2.4.1`**. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/e85c132120cad4dafcef3de086e9eb79/untitled138.ipynb). Thanks!

[2021-05-04 12:21] saikumarchalla commented on #48838
@foxik  I can see there is a performance issue with TF version 2.4. When i tried to execute your code on Nightly version,  I didn't see any performance issue. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/d8cb1b310aa880a9dda1bbf56d34fc5c/raggedtensorlstm.ipynb).Thanks!

[2021-05-04 12:23] UsharaniPagadala commented on #48858
@teaglin

In order to reproduce the issue reported here, could you please provide the complete code/colab gist along with the dependencies and the dataset you are using.Thanks!

[2021-05-04 12:49] jroakes commented on #48830
Hi @tilakrayal and @Saduf2019.  I was able to resolve the issue by using `https://tfhub.dev/tensorflow/bert_en_uncased_preprocess/3` instead of `https://tfhub.dev/tensorflow/bert_en_uncased_preprocess/2`. It appears there is an incorrect reference to `vocab.txt` in the prior versions of this Model.  It may be worth a more explicit notification on https://tfhub.dev/tensorflow/bert_en_uncased_prepro

[2021-05-04 12:49] #48830 closed

[2021-05-04 13:14] pvanhaes commented on #41280
As far as I can tell, yes? It seems to be related since the problem occurs only when using the cudnn ctc loss implementation.
I looked into pytorch to see if they have the same issue. They have test cases where logit_length is not uniform but have disabled them due to flakiness, however they seem to have correct gradients.

[2021-05-04 13:28] Saduf2019 commented on #48830
@jroakes
I ran you code on tf 2.5 and the issue does not exist, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/7888e9968856a077d1057835157e07c1/untitled598.ipynb)

[2021-05-04 13:34] bhack commented on #48881
If you read that comment was:

I think that also now it rely on CUPTI/GPU profiler and It needs a clarification in the docs.

[2021-05-04 13:37] tomashek commented on #47691
Is there any estimation when Tensorflow will work with numpy 1.20.x?

[2021-05-04 13:40] Saduf2019 commented on #48830
@jroakes
Apologies for the delayed response, thank you for your update glad the issue is resolved.

[2021-05-04 13:47] nouiz commented on #48869
This diff fix at least part of the problem:
[code]

But I have problems building upstream TF in our container. So I have difficulty investigating this. Here is the error in case you have an idea what is going on:

[code]

[2021-05-04 13:47] Saduf2019 commented on #48865
@MuSamiNaf
I am unable to access the code shared, can you please share a colab gist with the issue reported.

[2021-05-04 13:55] DavidPal commented on #48551
Thanks a lot for the explanation. This makes sense. In retrospect, I feel stupid and I should have guessed it. However, it would nice to update both the online documentation on the web and the functions' docstrings, and list at all these places explicitly the set of allowed encodings, so that people don't trip on this like I did.

As for backward compatibility/default behavior, I don't have any st

[2021-05-04 14:05] Saduf2019 commented on #48878
@AdityaNikhil
While i replicate the colab shared i face a different error, please find the [gist here](url.)

Could you please refer to [this comment](https://github.com/tensorflow/tensorflow/issues/27120#issuecomment-768443779) and let us know if it helps. [similar issue #34983, [link](https://www.tensorflow.org/api_docs/python/tf/config/run_functions_eagerly)]

[2021-05-04 14:09] saar-eliad commented on #48881
@bhack Absolutely. This clarifies things beyond all doubt.
 (Some of the first comments here gave me false hopes that I might be missing something.)
 So it's a valid feature request then.

[2021-05-04 14:21] Saduf2019 commented on #48868
@willawebb
Could you please try with cuda 11.0 and cudnn 8.0 as i see you have mentioned cudnn 11 in the template.

[2021-05-04 14:28] 77blackbird commented on #48852
@tilakrayal Hi and thank you for the follow-up.

Our proposed use is packaging this as part of a kit that would include a number of components, including a SD Card or SSD pre-loaded with TensorFlow (we'd also include the TPU co-processor as part of the package).  We do not intend to use the logo, or other branding, only the TM "TensorFlow" (we will use branding, if so required).  TensorFlow would

[2021-05-04 14:37] #48453 closed

[2021-05-04 14:37] #48374 closed

[2021-05-04 14:37] #48376 closed

[2021-05-04 14:39] Jimut123 opened #48895 "Couldnot visualize convnet's internals, TypeError: Cannot convert a symbolic Keras input/output to a numpy array. Same for keras-vis and Kaggle kernel"
Firstly I was checking [this notebook][1] from Kaggle, and for some reason I couldn't reproduce the **Visualizing Filter Patterns of Convolution layers** section of this notebook.

I am getting this error:

[code]

Secondly, I tried to use the [Keras blog tutorial][2],

I get this error,

[code]

Thirdly, I found this amazing [Keras library][3], but with this too, I was unable to get anything.

Th

[2021-05-04 14:42] AdityaNikhil commented on #48878
Hi @Saduf2019,
It was just the cell where the variable was declared was below that function. Anyway, can you try again. Thank you!

[2021-05-04 15:08] foxik commented on #48838
@saikumarchalla Please note that tf-nightly does not use GPU on Colab (it required too new CUDA), which you can verify by adding for example
[code]
which shows
[code]

The issue is not fixed in nightly, as visible for example in the following source:
https://github.com/tensorflow/tensorflow/blob/baaa9b23f76e307eb9e1dd2773ee5956f677dccc/tensorflow/python/keras/layers/recurrent_v2.py#L434-L438
so pl

[2021-05-04 15:20] DavidPal commented on #48551
The reason why tf.strings.lower() and its default behavior matters (to me at least) is because of tf.keras.layers.experimental.preprocessing.TextVectorization layer, which is responsible for creating words from a piece of text. The layer, by default, lower cases the text. It calls tf.strings.lower() internally without any encoding parameter and does not handle non-ASCII characters as one would nai

[2021-05-04 15:36] ArtanBerisha1 commented on #48850
Hi @abattery ,
Yes I have trained and tested the TFLite model on the Python API and it works like it should. Currently I don't have the tflite model but I could provide one in couple of days.

[2021-05-04 15:39] Mastiff37 commented on #48889
When I attempt to install gast 0.3.3 with conda, it wants to downgrade tensorflow-gpu to 2.2.  Is this expected?

[2021-05-04 16:05] bhack commented on #48889
We don't directly support conda install here.

[2021-05-04 16:09] rohan100jain commented on #48551
Thanks David for confirming! I agree we should document this clearly so that users don't trip on it. Please send us a PR with the documentation updates - it'll be super useful! https://www.tensorflow.org/community/contribute/code#contribution_workflow has some instructions that might be helpful. It might be helpful to even add documentation to Keras Preprocessing Layers to indicate this as well.

[2021-05-04 16:23] hyang0129 commented on #48602
oh. That is... not anywhere in the documentation that I could find.

Can this be added somewhere or can we update the error generated when calling batch_to_space?

[2021-05-04 16:34] Saduf2019 commented on #36723
@mankeyboy

Please update if this is still an issue in later version of tf.

[2021-05-04 16:37] #48540 closed

[2021-05-04 16:44] Saduf2019 commented on #37077
@t-niroc
Could you please update as per above comment and confirm if this is still an issue on later tf versions.

[2021-05-04 16:47] Saduf2019 commented on #38488
@yadonskov
Could you please check on later versions and let us know, as per above comment this is resolved.

[2021-05-04 16:47] Saduf2019 commented on #40065
@kazimuth
Can you please verify if this is still an issue on later tf versions.

[2021-05-04 16:49] Saduf2019 commented on #35194
@rutrilla
Please verify on later tf version and let us know of this is still an issue.

[2021-05-04 17:12] saikumarchalla commented on #48874
@Davidy22  Please go ahead and close the issue since the issue was resolved for you. Please feel free to submit a PR to fix the  issue. Thanks!

[2021-05-04 17:16] Flamefire commented on #40065
@Saduf2019 Yes the problem is still present because the problematic code hasn't changed: https://github.com/tensorflow/tensorflow/blob/7e193718033d18a159fcae75be4dd0a59c32b897/third_party/curl.BUILD#L572

[2021-05-04 17:22] saikumarchalla commented on #48860
Was able to reproduce the issue in TF 2.4 and Nightly versions. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/c42138712e61aa3fcfb8c6253f372681/error-when-calling-model-with-tf_variables.ipynb). Thanks!

[2021-05-04 17:34] numan-hussain opened #48896 "Issue"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-05-04 17:40] bhack commented on #48895
For the first example you could try to add

[code]
in
[code]

[2021-05-04 17:45] rawansuww opened #48898 "I am still having this issue..."
@HaraBeron This is a know bug with `accuracy`. In earlier TF versions `accuracy` was correctly inferred from the `loss` function. In this case, `accuracy` need to be inferred as `sparse_categorical_accuracy` but in the current version it is not working as expected.

Everything works as expected If you replace `accuracy` with `sparse_categorical_accuracy` in `model.compile` as shown below.

[code]

[2021-05-04 17:53] #48896 closed

[2021-05-04 18:06] Mastiff37 commented on #48889
Ok thanks.  This would seem to indicate that TF 2.4 is somehow telling conda it needs a newer version of gast (than 0.3.3).  My understanding is limited, but don't the TF developers provide the dependencies to conda somehow?

[2021-05-04 18:24] Lucy20211 commented on #48567
It should be that I get ValueError because I can't create a Keras layer in tf.function (the layer should create variables inside it), but I'm not sure how I could define the layer inside tf.function at this point.

[2021-05-04 18:32] kaixih commented on #41280
I tried the script on V100 a couple of times and I can see the flakiness:
Run 1:
[code]
Run X:
[code]

Looking into it.

[2021-05-04 18:35] bhack commented on #48889
If you need Conda it is supported by third-party.
You could try to ask or open a ticket at:
https://docs.anaconda.com/anaconda/user-guide/tasks/tensorflow/
https://github.com/AnacondaRecipes/tensorflow_recipes

[2021-05-04 18:37] #32997 closed

[2021-05-04 18:37] #48364 closed

[2021-05-04 18:39] bhack commented on #48898
Is this a dup of https://github.com/tensorflow/tensorflow/issues/41361?

[2021-05-04 18:40] Jimut123 commented on #48895
@bhack, unfortunately, it doesn't change anything. You could confirm [here](https://colab.research.google.com/drive/13MS7dk4ZA1OgJJVuriCfKR17dAjVIFKj?usp=sharing).

[2021-05-04 18:43] #48895 closed

[2021-05-04 18:43] AAKrupnov opened #48901 "There's no way to pass class labels from list in tf.keras.preprocessing.image_dataset_from_directory using this"
If there're no subfolders and labels to preprocessing.image_dataset_from_directory function are passed from external list this part of code will generate empty 'results' variable and further in line 88-98 this will lead to an error of not finding any files.
But if there's at least one subfolder the same code will lead to labels being inherited from subfolder name.
This means labels at all times be

[2021-05-04 18:44] rawansuww commented on #48898
No, I don't think so.  It's the same issue as #42890 and was marked as closed. I tried the recommended bug fix of using 'sparse_categorical_accuracy' when I compile after load_model, but it did not work

Thanks for the fast response :)

[2021-05-04 18:45] TACIXAT commented on #48892
Ah yes, that is similar to the one I linked that shows the usage, but not the base format. I think this is a feature request for TF3, to change the API to return `x` first as is standard.

[2021-05-04 18:54] crfrolik opened #48902 "_pywrap_tensorflow_internal.so is enormous"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (

[2021-05-04 19:06] david-ngo-sixense commented on #7089
Hello,

Do you know how to plot multiple scalar on the same plot using tensorflow 2.3?
For example, I want to display train_accuracy and valid_accuracy on the same plot, and train_loss and valid_loss on the same plot.
Thank you.

[2021-05-04 19:09] jvishnuvardhan commented on #48898
@rawansuww Can you please share a standalone code to reproduce the issue? Thanks!

[2021-05-04 19:14] davidruegamer commented on #6504
@D-Roberts Many thanks for you implementation :pray: Works like a charm for me. Any chance that there will also be a gradient implementation for `nrows > ncols` and `full_matrices = True`? Currently looking for a TF option to get the basis of the null space of a deep matrix, but the usual options (Q_2 in [Q_1 Q_2] [R_1^T R_2^T]^T in the QR decomposition or U in U Sigma V^T in the SVD decomposition

[2021-05-04 19:19] ashahab opened #48903 "tf.data.experimental.snapshot segfault when using repeat and prefetch"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-05-04 20:03] thusinh1969 commented on #39679
Gents has this been fixed please :( ... !!!

[2021-05-04 20:21] #18243 closed

[2021-05-04 20:21] samikama commented on #18243
vmodule is implemented now

[2021-05-04 20:58] Duskley commented on #48857
Hello, sorry for the late reply. I have checked in my apk and the libtensorflowlite.so file is present but in the aab file it cannot be found, so I think my problem is due to the libtensorflowlite.so file which is nonexistent in my aab file. The question now is "is there a step to include .so files in the aab?". I specify there are normally other .so which are present in my apk but which are not f

[2021-05-04 21:03] suraj-maniyar commented on #40157
Thanks a lot @thaink. This built successfully!
I have one additional question: I tried building TF Lite v2.4.1 with flex delegate dependency using cmake and again got the unsupported operator error.
Is flex delegate not supported in v2.4.1 under CMake?
If so, could you give an estimate when the support would be added?

[2021-05-04 22:51] samanemami opened #48907 "Compact Multi-Class Boosted Trees"
<em>The issue related to the performance of the [BoostedTree](https://github.com/tensorflow/estimator/blob/781c0d30c6bf100aa174591dd97cb70fc39d294d/tensorflow_estimator/python/estimator/canned/boosted_trees_test.py#L403) classifier in terms of accuracy.</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and D

[2021-05-04 22:52] #48430 closed

[2021-05-04 23:13] hthu commented on #48602
https://github.com/tensorflow/tensorflow/commit/6b746d6631b9dce36303ecac26b70fef9a9d8cea

The commit should make the documentation on dataset batching a bit more clear.

[2021-05-05 00:12] yujanshrestha commented on #33303
Please fix this. I was hoping to use TFLite as a drop in replacement for the TF runtime. However, the unpredictable ordering for multi-output models is surprising behavior and took me a long time to figure out what was going on.

[2021-05-05 00:16] catskul opened #48908 "tflite::Intepreter move constructor"
`tflite::Interpeter` doesn't have a move constructor.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/interpreter.h

Because of this it's more difficult to make a resource pool of `Interpeter`s which is itself desirable because `Interpeter` is not itself threadsafe, and the critical piece which is needed once-per-thread, and is simultaneously expensive to build.

**System inf

[2021-05-05 00:47] jvishnuvardhan commented on #21439
@Lillypucien Looks like this was resolved in recent TF1.x. I tried your code with `TF1.15.3` and I cannot reproduce the issue. Please take a look the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/247c54a0df162eebec9513625add28d0/untitled.ipynb).

Please verify once and close the issue if this was resolved for you. Thanks!

[2021-05-05 01:10] abattery commented on #48908
@thaink could you take a look at this feature request?

[2021-05-05 01:18] jvishnuvardhan commented on #20857
@felsabbagh3 Sorry for the late response. I think this is a stale issue.

This issue is more related to models. You could post issues related to `object_detection` under models repo https://github.com/tensorflow/models/issues

Please share simple standalone code to reproduce the issue. Thanks!

[2021-05-05 01:50] xinjin95 opened #48910 "How does the tf.raw_ops.Timestamp operator get unix time? Can we manipulate the timestamp by changing device time for tf.raw_ops.Timestamp operator?"
According to tensorflow documentation, the tf.raw_ops.Timestamp operator returns the timestamp as a float64 for seconds since the Unix epoch. I got a question when using the tf.raw_ops.Timestamp operator: what if users change the device time when they do inference? Can we manipulate the timestamp it returns by change the system time? Specifically, if a user do inference on a phone and changes the

[2021-05-05 02:50] DavidPal commented on #48551
Here is the PR with the documentation fix: https://github.com/tensorflow/tensorflow/pull/48911

I am guessing that the online documentation is automatically generated from the files I modify in the PR.

[2021-05-05 04:18] #48875 closed

[2021-05-05 04:18] rohanmuplara commented on #48875
closed

[2021-05-05 04:21] rohanmuplara opened #48912 "Question about tf.distribute.strategy"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://www.tensorflow.org/guid

[2021-05-05 04:39] #48765 closed

[2021-05-05 04:59] #48602 closed

[2021-05-05 07:03] UsharaniPagadala commented on #48810
@raj-brown
Can you please confirm if you face this issue on stable version 2.4.1 along with cuda 11.0 [cuda version 11.2 is tested with tf 2.5, there is no update on 11.3].Thanks

[2021-05-05 07:51] rmothukuru commented on #48860
@keisen,
AFAIK, this behavior is expected because **`Tensorflow Variables`** are used when the values are not constant and if they change continuously, like the **`Weights`** in a **`Model`**. They are not used for **`Inputs`**  to the **`Model`** because **`Inputs`** to a **`Model`** is a **`Tensor`**, not a **`Variable`**.
What do you think?

[2021-05-05 08:03] rmothukuru commented on #41499
@mjkim720,
Sorry for the delayed response. Upon running the code with **`Tensorflow Version 2.4.1`**, we see a meaningful error:

Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/04e9271376e50d80a43c80abd2e66899/untitled.ipynb#scrollTo=xvFpAG4AcJ2J).
Please let us know if we can close this issue. Thanks!

[2021-05-05 08:04] patriklaurell commented on #46984
@mdinoulis there have been some recent updates to mbed generation for the hello world example. Is this still an issue with these recently merged changes?

[2021-05-05 08:14] rmothukuru commented on #41542
@sedol1339,
Sorry for the delayed response. The code mentioned in this comment could be executed without any error in **`Colab`** with **`TPU Runtime`** and **`Tensorflow Version 2.4.1`**. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/58492a16f72a7c8e2613844259602914/gh_41542.ipynb) of working code. Thanks!

[2021-05-05 08:27] rmothukuru commented on #41664
@maia-adar,
Sorry for the delayed response. Can you please confirm if the issue still persist. If so, request you to file an issue in [TFP Github Repository](https://github.com/tensorflow/probability/issues/new). Thanks!

[2021-05-05 08:32] rmothukuru commented on #41718
@jammm,
Can you please respond to  [tomerk's comment](https://github.com/tensorflow/tensorflow/issues/41718#issuecomment-700957911) and [rjdbcm's comment](https://github.com/tensorflow/tensorflow/issues/41718#issuecomment-731600429)? Thanks!

[2021-05-05 08:35] jammm commented on #41718
@rmothukuru I haven't had the chance to get back to this yet. I remember decreasing the scale of the training itself so it would keep leaking memory but at a slow enough rate to finish before using too much RAM.

[2021-05-05 08:38] #24571 closed

[2021-05-05 08:38] #24738 closed

[2021-05-05 08:38] #24881 closed

[2021-05-05 09:03] StephaneKazmierczak commented on #36515
It seems like the explanation about steps_per_epoch was removed from the tutorial, now it is just some random hard coded values. I had lots of problems setting up steps_per_epoch for multi worker strategy in context of multi nodes as it also change the behavior of how the dataset is iterated over.

[2021-05-05 09:03] keisen commented on #48860
@rmothukuru , Thank you for your response!

I've been implementing a library ([tf-keras-vis](https://github.com/keisen/tf-keras-vis)) that provide [Model Feature Visualization](https://distill.pub/2017/feature-visualization/#:~:text=Feature%20visualization%20answers%20questions%20about,looking%20for%20by%20generating%20examples.&text=As%20a%20young%20field%2C%20neural,not%20yet%20have%20standardiz

[2021-05-05 09:12] rmothukuru commented on #41810
@Jordy-VL,
Can you please confirm if we can close this issue as it has been fixed per [above comment](https://github.com/tensorflow/tensorflow/issues/41810#issuecomment-788876673)? Thanks!

[2021-05-05 09:13] UsharaniPagadala commented on #48903
@ashahab
I was able to reproduce the issue in  TF v2.4.1, TF2.5rc1 and TF-nightly(2.6.0). Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/ee62c3dfdc40f543b17a6cc2f6431e8d/-48903.ipynb) here and let us know if it helps. Thanks!

[2021-05-05 09:22] rmothukuru commented on #42033
@duncanriach,
As per your statement,

Can you please let us know if you are planning to implement this feature? Thanks!

[2021-05-05 09:24] AdityaKane2001 commented on #48584
@bhack
Frankly, I don't have any idea how to proceed from here. I had read the related code and tried to understand it, but I couldn't identify what changes were required. How can we proceed from here?

[2021-05-05 09:26] KHBillel commented on #4297
Zero padding layer can help you with this issue.

[2021-05-05 09:37] #48636 closed

[2021-05-05 09:41] rmothukuru commented on #42152
@DNXie,
Sorry for the delayed response. When tried to reproduce your code in [Colab](https://colab.research.google.com/gist/rmothukuru/3ae57aa459e26ab8510f7d8a24c2095b/gh_42152.ipynb), it is **crashing**, instead of the **`Floating Point Exception`** that you mentioned. Can you please help us to reproduce your issue? Thanks!

[2021-05-05 09:51] tilakrayal commented on #48779
@ssh352 ,

Can you please refer this issues for the similar type of error. [link1](https://github.com/NVIDIA/nvidia-docker/issues/1369),[link2](https://askubuntu.com/questions/732985/force-update-from-unsigned-repository),[link3](https://github.com/NVIDIA/nvidia-docker/issues/613)

[2021-05-05 09:59] Jordy-VL opened #48913 "Custom Tensorflow optimizer cSGLD (Stochastic Langevin Dynamics) in TF2: correct update ops?"
System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
TensorFlow installed from (source or binary): binary
TensorFlow version (use command below): v2.2
Python version: 3.6.9
CUDA/cuDNN version: v10.2
GPU model and memory: GeForce GTX 1070 - 8117MiB

Describe

[2021-05-05 10:12] Saduf2019 commented on #39942
@dsalnikov
Could you please let us know if this is still an issue, can you verify with later versions of tf and let us know.

[2021-05-05 10:13] ICG14 commented on #44312
I would like to provide how I solved this issue after a long term.
Just I saw that  this file was not inside of my directory libcublas.so.10. I do not know why.
I had installed CUDA-10.0, CUDA-10.1 and CUDA-10.2 but I called for CUDA-10.1. My solution was to pass the libcublas.so.10.0 and rename it from CUDA-10.0 to CUDA-10.1 and it worked! I verified that my GPU is running! I am so happy!

[2021-05-05 10:37] Jordy-VL commented on #41810
@rmothukuru I confirm it works, thanks for the effort!

[2021-05-05 10:37] #41810 closed

[2021-05-05 11:30] tilakrayal commented on #48861
@apramanik62 ,

Can you please provide the tensorflow version,complete code and dataset or colab to reproduce the issue here.

[2021-05-05 11:38] #25050 closed

[2021-05-05 11:38] #25391 closed

[2021-05-05 11:39] tilakrayal commented on #48746
@chenglong0317 ,

Could you please confirm if the issue is resolved. if yes, please feel free to move this issue to closed status

Thanks!

[2021-05-05 11:42] tilakrayal commented on #48730
@athira-ajith ,

Do you have any update on this?
Based on the error you may also refer to:#47517,#43915,#46788

Thanks!

[2021-05-05 11:47] UsharaniPagadala commented on #48862
@keisen
As per the [documentation](https://www.tensorflow.org/api_docs/python/tf/keras/mixed_precision/LossScaleOptimizer?version=nightly#hyperparameters) Object (saved)name should be UNIQUE for more info please find the [LINK](https://colab.research.google.com/gist/UsharaniPagadala/ed3328ee33ac81c36048ace6593af3cd/-48862.ipynb) .Thanks

[2021-05-05 12:19] ashahab commented on #48903
@UsharaniPagadala I think this is a race condition. I don't know about the execution environment of the notebook and whether it allows true multi-threading.
Here are the steps I followed on a 12-core Azure nv12 box:
[code]

Let me know if you follow the above steps you don't see the segfault.

[2021-05-05 12:36] curioyang opened #48914 "MIRROR PAD result mixed"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 20
- TensorFlow installed from (source or binary):binary
- TensorFlow version (or github SHA if from source):2.4

When I tested the mirror pad, I found that the result was a bit unexpected.
The input shape of pad is [1,1,2,2], paddings[[0, 0], [0, 0], [3, 3], [3, 3]],pad mode: SYMMETRIC.
I know that my paramet

[2021-05-05 12:38] #48631 closed

[2021-05-05 12:40] Mithrandir2k18 commented on #34291
@amahendrakar

I won't have time to test this in the nearer future and also currently don't have a need to use the extra efficiency I'd get from compiling myself. I'll come back to this in a few months probably, but then I may as well open a new issue and maybe reference this one.

[2021-05-05 12:40] #34291 closed

[2021-05-05 12:40] neso613 opened #48915 "Dynamic Input support for TFLite models"
Hello Tensors
I have a TF model with (None,None,100) input dims and its converted into TFLite too.
But when I do inference, it gives error-
RuntimeError: tensorflow/lite/kernels/reshape.cc:58 stretch_dim != -1 (0 != -1)Node number 72 (RESHAPE) failed to prepare.

**System information**
- TensorFlow version (you are using): 2.4.1.

**Describe the feature and the current behavior/state.**
Currently,

[2021-05-05 12:41] neso613 commented on #48915
@ichuang

[2021-05-05 12:50] abattery commented on #48915
@neso613 Please share simple stand alone code such that we can replicate the issue faced or if possible share a colab gist.

FYI, both TF and TFLite supports multiple dimensions but the Reshape operator does not only allow two dynamic dimensions in the shape argument.

[2021-05-05 12:57] neso613 commented on #48915
Thats the Question.
TFLite supports dynamic input shape.
`[{'name': 'input_1', 'index': 0, 'shape': array([ 1,  1, 40], dtype=int32), 'shape_signature': array([-1, -1, 40], dtype=int32), 'dtype': <class 'numpy.float32'>, 'quantization': (0.0, 0), 'quantization_parameters': {'scales': array([], dtype=float32), 'zero_points': array([], dtype=int32), 'quantized_dimension': 0}, 'sparsity_parameters':

[2021-05-05 13:00] DachuanZhao commented on #48846
Why not add the installation to the [offical tensorflow document](https://www.tensorflow.org/install/gpu)  ~~~

[2021-05-05 13:01] abattery commented on #48915
That is an intended behavior since the input tensors should be fixed through the resize_tensor_input method when the given model has dynamic inpiuts. You can resize input tensors again when the model should handle the different size in the following tasks.

[2021-05-05 13:02] DachuanZhao commented on #46093
+ 1 . Hope tensorflow2.5.0 can be built with cuda>=11.1

[2021-05-05 13:10] brianwa84 commented on #41664
Filed on tfp

[2021-05-05 13:10] #41664 closed

[2021-05-05 13:22] UsharaniPagadala commented on #48903
@jvishnuvardhan
I was able to run the code in tf2.4, tf2.5rc1 and tf-nightly .Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/ee62c3dfdc40f543b17a6cc2f6431e8d/-48903.ipynb) here.Thanks

[2021-05-05 13:32] neso613 commented on #48915
This is the code, I am using
`interpreter.resize_tensor_input(input_details[0]['index'],data_test.shape)
interpreter.allocate_tensors()
interpreter.set_tensor(input_details[0]['index'], data_test)
interpreter.invoke()
output_data = interpreter.get_tensor(output_details[0]['index'])`

[2021-05-05 13:48] abattery commented on #48915
@neso613 Please share simple stand alone code such that we can replicate the issue faced or if possible share a colab gist. It is really impossible to reproduce your problem at our end and please consider the latest TF version from the conversion stage to the inference stage.

[2021-05-05 13:53] UsharaniPagadala commented on #48785
@pedrogalher
Thank you for your update, glad its working fine for you, kindly move this issue to closed status as it is resolved.

I don't have access to the colab you shared.Please provide me the access if it is required to reproduced the issue in the above mentioned tf versions .Please open a new issue if you'd like to work on this further.Thanks

</div></b>

[2021-05-05 13:53] Titaniumtown commented on #47691
Yea, I really need it to be updated, I've been unable to use tensorflow for over a month now 😕

[2021-05-05 13:59] pedrogalher commented on #48785
@UsharaniPagadala

Hi! Could you try with this link: [https://colab.research.google.com/drive/15j1qVC_33zQmtn12Cjbz30WY7m9P1n5g?usp=sharing](colab)

[2021-05-05 14:08] UsharaniPagadala commented on #48818
@calvuser
Could you please let us know if the above mentioned [comment](https://github.com/tensorflow/datasets) works for you as
The host website (stanford.edu) has ceased hosting the dataset which is parsed by tfds.load thus you see the error. Thanks

[2021-05-05 14:26] keisen commented on #48862
@UsharaniPagadala

Where does it say that?
Would you be more specific about where it is?

What is `Object` you said?
If you said `Object` is `tf.keras.optimizers.RMSprop` instance, why there are no error when we use multiple RMSprop instances (whose name are all default value 'RMSprop') in model training?

What named it 'loss_scale'?
I opened this issue because I thought the naming logic in `LossS

[2021-05-05 14:26] teaglin commented on #48858
Looks like it was a hardware failure issue. Closing issue.

[2021-05-05 14:26] #48858 closed

[2021-05-05 14:33] Luux commented on #33005
Just stumbled upon this issue. I wanted to implement an EfficientNet that uses (1, 2)-strides. However, this does not seem to be possible with the current implementation of Depthwise Conv?

[2021-05-05 14:34] jm-willy commented on #37726
I absolutely needed tf.concat to experiment around, so I found this easy workaround:

[code]
output:

[code]

Since `tf.concat` is a commonly used function, I think the docs should be modified to include a temporal solution until the underlying bug is fixed.

@acxz @Lescurel

[2021-05-05 14:37] #47861 closed

[2021-05-05 14:49] MoustafaMeshry commented on #39942
@Saduf2019 Yes, this is still an issue. As @lingyixia mentioned, the default value for the 'axis' argument should correspond to [1:len(input_shape)] (i.e all channel dimensions except for the batch dimension). Since the init() function does not have access to the input_shape, the fix probably requires a few more than a single line change.

[2021-05-05 15:12] bileschi commented on #48533
`FastGFile` is deprectaed in favor of just `GFile`.  It was a breaking change introduced in the move from TensorFlow 1.X to TF2.

It is possible to continue to use the API by replacing your line:
`    with tf.io.gfile.FastGFile('tfmodel.pb', mode='wb') as f:`
with
`    with tf.compat.v1.gfile.FastGFile('tfmodel.pb', mode='wb') as f:`
(docs here https://www.tensorflow.org/api_docs/python/tf/compat/

[2021-05-05 15:28] Zodaztream opened #48916 "No gradients exist for a sub-classed model"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-05-05 15:54] 183amir commented on #29576
Testing this with 2.4.1, the behavior has changed again! But now at least using the Sequential class, you can get consistent (broken) naming:
[code]
all the 3 code variants above, print:
[code]

As a workaround, I suggest people explicitly add the name scope, like the example below:
[code]

layer naming still remains broken:
[code]

[2021-05-05 15:57] manp-git commented on #48879
Thanks @abattery.
So I found the following links related to what you mentioned:-
https://www.tensorflow.org/lite/convert/metadata
https://www.tensorflow.org/lite/api_docs/cc/class/tflite/flat-buffer-model#classtflite_1_1_flat_buffer_model_1a658e48aadda1eafb55fc7deb0434da14
https://github.com/tensorflow/tflite-support/blob/master/tensorflow_lite_support/metadata/metadata_schema.fbs
https://tensorfl

[2021-05-05 16:41] jvishnuvardhan commented on #48647
@rschumi0 Do you want to update any TF docs with a note to users? Please feel free to create any PR to update the docs. Thanks!

[2021-05-05 17:05] yangustc07 commented on #48903
Thanks for the link. I can also reproduce the issue.

[2021-05-05 18:05] jennyfothergill commented on #48380
This issue is still not resolved by #48393 ...

[2021-05-05 18:10] ymodak commented on #48852
@77blackbird please try bhttps://github.com/tensorflow/tensorflow/issues/48413#issuecomment-817941455

[2021-05-05 18:32] RandinAk commented on #48916
[thanks]()

[2021-05-05 18:52] matt-houk commented on #48772
I just wanted to include some followup info from efforts I have made to debug the issue over the past week.

I had attempted to set OMP_NUM_THREADS prior to running the python file, this also appears to have no impact.

I have also set the environment variables TF_NUM_INTEROP_THREADS and TF_NUM_INTRAOP_THREADS prior to application runtime, checking them using os.environ from within python both bef

[2021-05-05 19:05] ashahab commented on #48903
@yangustc07  Were you able to see the segmentation fault?

[2021-05-05 19:12] yangustc07 commented on #48903
Yes, I can see the segmentation fault and I'm working on a fix. Inputs are welcome if you have more information.

[2021-05-05 19:23] ymodak commented on #48638
Adding to AdityaKane's answer-
Even though eager execution is enabled by default there are certain cases (executing inside of `tf.function`) when it is disabled and in such cases the eager execution check can come in handy.
See https://www.tensorflow.org/api_docs/python/tf/executing_eagerly to know more.

[2021-05-05 19:31] ashahab commented on #48903
@yangustc07 Thanks for reproducing the issue.
Yes I have more inputs.
This is caused only when we combine these five: snapshot, shuffle, batch, repeat, and prefetch. I have been unsuccessful in removing any of these to narrow the problem.

I added some logging where snapshot Reader was getting an input reference: `input_->Ref()` and where it was returning the reference: `input_->UnRef()`.
All thre

[2021-05-05 19:37] gcervantes8 commented on #48915
I have gotten a very similar error when converting models with TFLite and running with TensorFlow 2.4.  TensorFlow versions 2.3 and 2.5 pre-release work for me, I'd recommend trying these versions.

[2021-05-05 19:44] srjoglekar246 commented on #48884
@arctop-sk What code are you using to run the models with GPU/NNAPI on device?

[2021-05-05 19:48] Lucy20211 commented on #48567
I tried with this code:

`import tensorflow as tf`

`input_shape = (1, 7, 1)`

`test_input = tf.random.normal(input_shape)`
`y = None`

`@tf.function`
`def convol1d():`
`global y    `
    `if y is None:`
     `y=tf.keras.layers.Conv1D(1, 3, input_shape=input_shape[1:],name="Conv1D")(test_input)`
    `return y`

`tflite_model_name = 'convol1d'`
`converter=tf.lite.TFLiteConverter.from_concrete_funct

[2021-05-05 19:49] bas-aarts opened #48919 "cannot build TensorFLow with --config=dbg"
when building opensource  TensorFlow with

bazel build --config=dbg  --config=cuda --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" //tensorflow/tools/pip_package:build_pip_package

(for SM 7.0 only)

The build dies at link time with:

`ERROR: /home/baarts/tensorflow-GH/tensorflow/python/BUILD:3373:24: Linking of rule '//tensorflow/python:_pywrap_tensorflow_internal.so' failed (Exit 1): crosstool_wrapper_dri

[2021-05-05 20:16] #48841 closed

[2021-05-05 20:23] bhack commented on #47691
Here the PR to explore CI fails https://github.com/tensorflow/tensorflow/pull/48918

[2021-05-05 20:37] #34215 closed

[2021-05-05 21:11] bnavigator commented on #47691
CI fails because the installer cannot install Numpy 1.20 for a Python 3.6 ecosystem don't help you at all.

[2021-05-05 21:18] bnavigator commented on #47691
I don't think that is true. There should be nothing in NumPy 1.20 which has not been deprecated before a long time ago.
https://numpy.org/doc/stable/release/1.20.0-notes.html#expired-deprecations.
Any fixes of failures because old TF code does not work with NumPy 1.20 anymore will also happily work with NumPy 1.19.

[2021-05-05 21:25] #35867 closed

[2021-05-05 21:27] zachmayer commented on #32737
I am on `tf.__version__` `'2.5.0-rc3'` and while `Model.predict` now works fine with sparse data, `Model.fit` does not:
[code]

If I switch my imports from tf.keras to just import from keras, Dense models work just fine.

Why does the keras package support training with sparse input, but tf.keras does not?

[2021-05-05 21:37] bhack commented on #47691
@bnavigator Before you downvoting if you are talking about:
[code]
These are external builds, on external "community" build servers/VM so they are not under TF control.
Then we have our [TF Macos fails](https://source.cloud.google.com/results/invocations/7ba94070-327a-4429-b736-0903f9c4f06f/targets/%2F%2Ftensorflow%2Flite%2Fpython:lite_v2_test/tests). That CI VM probably is still under python 3.7.

[2021-05-05 21:41] bnavigator commented on #47691
So why are you *requiring* 1.20 for all of your containers? That's not how you check compatibility with 1.20. As I said, you don't have to drop support for older NumPy versions and thus python 3.6. The failures with NumPy 1.20 are already partially reported. Just fix those.

[2021-05-05 21:50] bhack commented on #47691
This is not the problem as it is already mentioned in the PRs the there is another one to upgrade some base images as requested in another ticket (Docker images, wheels and CI VM are not strictly aligned).

As you have commented also on the PR I will reply on the PR.

[2021-05-05 22:15] D-Roberts commented on #6504
@davidruegamer Glad to hear this is useful. As much as I enjoy developing tf open source, I don't have current plans for the full_matrices case. However, there are some theoretical considerations (unpublished yet) around it that I am happy to share if you'd like to email me at denisa.roberts@denisaroberts.me .

[2021-05-05 22:37] #48033 closed

[2021-05-05 22:44] bhack commented on #48910
`CLOCK_MONOTONIC` is not affected but `CLOCK_REALTIME`:
[code]
See more at https://man7.org/linux/man-pages/man3/clock_gettime.3.html

[2021-05-05 22:59] MarkDaoust commented on #32737
@zachmayer

Shoot, when I fixed it for predict, I added tests for predict assuming that there were tests for fit __somewhere__...

I'll take a  look, it may b e too late to patch for tf2.5...

[2021-05-05 23:00] MarkDaoust commented on #32737
Can you post the fill trace-back and/or the some simple code to reproduce this?

[2021-05-05 23:19] angerson commented on #46845
@loretoparisi Sorry for the delay. Since `core2` is a platform target, it would be specified like this: `-march=core2` (more [details here](https://gcc.gnu.org/onlinedocs/gcc-4.8.2/gcc/i386-and-x86-64-Options.html)).

[2021-05-05 23:23] MarkDaoust commented on #32737
I tried to reproduce this but did not get that error. I need more details to make any progress.

[2021-05-05 23:31] trentlo commented on #48615
I confirm it fixes the issue. Thanks!

[2021-05-05 23:51] yangustc07 commented on #48903
Thanks for the input. I can fix the issue with this code:

[code]

I still need to understand it better. Can you try it and see if it fixes your code?

[2021-05-06 00:13] simonmaurer commented on #46679
any news on this? still seems a problem with the latest TF2.5(RC) release

[2021-05-06 00:25] thaink commented on #48914
Paddings must be no greater than the dimension size.
Here, your paddings is bigger, that leads to incorrect results.

[2021-05-06 00:32] reedwm commented on #48919
I am unable to reproduce by running:

[code]

I ran at commit a3d9f9be9ac2296615644061b40cefcee341dcc4 with Ubuntu 18.04. The compute capabilities I compiled with defaulted to 7.0.

Can you give more information, like the commit and OS? Perhaps the issue was fixed at a later commit.

You can also try compiling only a subset of files with debugging symbols, which I highly recommend as it reduces bu

[2021-05-06 00:54] karundawadi opened #48923 "Failed to initialize TensorFlow context: subgraphs is null"
I am trying to run this program; however I keep on getting the error listed below.
[code]
[code]

[2021-05-06 00:56] thaink commented on #48908
@catskul Interpreter is almost always created as std::unique_ptr<Interpreter>. How about using that for the pool?

[2021-05-06 00:56] karundawadi commented on #48923
The build.gradle file is:
[code]

[2021-05-06 01:21] catskul commented on #48908
That certainly works, and is what I'm doing now, but the pool hands out handles which are effectively `unique_ptrs` and ends up creating an awkward double dereference, and causes generic code to need to special case `tflite::Intepreter` instead of treating it like all the other types.

Certainly not the end of the world not to have this, but it would be a nice-to-have.

[2021-05-06 01:23] kitetaka opened #48924 "Failed init TFL interpreter when enabled XNNPACK"
**System information**
- IDE: XCode 12.5
- Mobile device: iPhone 12 Pro Max
- TensorFlow installed: 'TensorFlowLiteObjC' from CocoaPods
- TensorFlow version: tried '2.3.0', '2.4.0', and '0.0.1-nightly.20210503'

**Describe the current behavior**
Whenever enabled XNNPACK, model initiation will fail. (see code snippets below)

**Describe the expected behavior**
Expected to initiate mode successfully

[2021-05-06 01:25] thaink commented on #48908
@jdduke What do you think about this?

[2021-05-06 01:28] yangustc07 commented on #48903
Tried to debug more. The reason one thread does not call `input_->Ref()` is `SnapshotDatasetV2Op::Dataset::Iterator::Reader::Initialize` returns a cancelled error somewhere. In that case, the destructor shouldn't call `input_->UnRef()`, and there shouldn't be any calls to `Reader::GetNextInternal()`.

[2021-05-06 01:31] thaink commented on #48850
The kernels are shared for C++ and Python API. So it is weird to have the problem in C++ but not Python.
Sure we need the model or someway to reproduce the issue.

[2021-05-06 01:44] abattery commented on #48924
@yyoon @multiverse-tf could you take a look?

[2021-05-06 01:49] abattery commented on #48923
Could you add the following static code in your Java class?

[code]

[2021-05-06 01:54] karundawadi commented on #48923
@abattery I added the static code, I get the same kind of error.
[code]

[2021-05-06 01:58] abattery commented on #48923
I see. I could confirm that this is a newly introduced bug in the Flex delegate. Thanks for reporting this bug! @karundawadi

[2021-05-06 02:00] curioyang commented on #48914
@thaink Got it, I checked the documentation, it did mention this, but I ignored it.   THX !

[2021-05-06 02:00] #48914 closed

[2021-05-06 02:01] karundawadi commented on #48923
@abattery Is there any other work around to this, I have a project due by tomorrow. If there are, what would be the appropriate workarounds?

[2021-05-06 02:01] thaink commented on #48857
I am not familiar with aab bundling. Hope this link could help: https://developer.android.com/studio/build/configure-apk-splits#configure-split

[2021-05-06 02:01] abattery commented on #48923
I think you can stick with the other TensorFlow version, for example, TF 2.4 or TF 2.5 rc versions.

[2021-05-06 02:03] axelning commented on #48478
is this the reason leading to prediction difference when in eager mode and non-eager mode?  I trained one model with non-eager mode, by self defined function through model._make_train_function() and use the model in eager mode, the logits the model output is absolutely wrong, but in non-eager mode, the logits returned normal

[2021-05-06 02:07] thaink commented on #40157
@terryheo can you update about the cmake build?

[2021-05-06 02:17] bas-aarts commented on #48919
I'm at commit  9275e30a68f40c99b81a80bd55ec7d2567620cc7

root@7fe23091cb5b:/home/baarts/tensorflow-GH# cat /etc/issue
Ubuntu 20.04.1 LTS \n \l

[2021-05-06 02:19] karundawadi commented on #48923
@abattery  Thank you for the suggestion. I did try TF 2.4 but it says that :
[code]

[2021-05-06 02:22] #30195 closed

[2021-05-06 02:57] ashahab commented on #48903
Yang, your earlier solution of commenting out ref and unref does not seem
safe to me, and may result in memory leaks.

On Wed, May 5, 2021 at 6:28 PM Yang Chen ***@***.***> wrote:

[2021-05-06 02:59] yangustc07 commented on #48903
Yes, I have updated the comment earlier. I have a better fix now.

[2021-05-06 03:17] ashahab commented on #48903
Yeah I think the fix can handle the cancellation.

On Wed, May 5, 2021 at 7:59 PM Yang Chen ***@***.***> wrote:

[2021-05-06 04:25] mitramir55 commented on #48451
Thank you for your response. I guess the warning prompt should be changed because each time I run my code it tells me to contact the TensorFlow team.
`
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, export AUTOGRAPH_VERBOSITY=10) and attach the full output.`

[2021-05-06 04:32] thaink commented on #48879
@manp-git You can follow https://google.github.io/flatbuffers/flatbuffers_guide_tutorial.html
There is a section about mutating Flatbuffers. Our schema is https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/schema/schema.fbs

[2021-05-06 04:59] saikumarchalla commented on #48889
@Mastiff37  Please go ahead and close the issue if you don't have any further questions. Thanks!

[2021-05-06 05:13] tilakrayal commented on #48913
I was able to reproduce the code in TF v2.4,2.5.0rc1,nightly.Please find the [gist](https://colab.research.google.com/gist/tilakrayal/fb326bee06975a6656d005c56d2eea2a/untitled48913.ipynb) here

[2021-05-06 05:24] mipsan opened #48925 "Only some Keras activations under `tf.keras.activations` are supported"
Hi,

When adapting QAT(Quantization aware training) to get bbox regression with Keras,
I've got following error:
`ValueError: Only some Keras activations under `tf.keras.activations` are supported. For other activations, use `Quantizer` directly, and update layer config using `QuantizeConfig`.
`
Even I referred some Tensorflow documents, I cannot find out what's problem at all.
[link](https://www.

[2021-05-06 05:38] harendracmaps opened #48926 "Installing tensorflow headers and libs for c++"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile de

[2021-05-06 05:41] arctop-sk commented on #48884
@srjoglekar246 - I've tried with all three functions. I've also tried all combinations of flags inside the options.

     `public static Interpreter.Options getOptionsForGPU() {
        Interpreter.Options options = new Interpreter.Options();
        CompatibilityList compatList = new CompatibilityList();
        if (compatList.isDelegateSupportedOnThisDevice()) {
            // if the device has

[2021-05-06 06:04] Jeffin21 opened #48927 "Error loading maskrcnn .pbtxt file"
Error loading maskrcnn  .pbtxt file in opencv dnnn. i made a custom dataset and trained and created pb and ptxt  and i want to run the trained model in opencv dnn
created .pbtxt using this code below
link to .pbtxt file https://drive.google.com/file/d/1HK86GRMg3LR8N9BPGZL5JyLdxVIxn3N3/view?usp=sharing
[code]

generated the  pb using trained .h5 file using this code

[code]

link to pb file https:/

[2021-05-06 06:06] calvuser commented on #48818
Hi, I understand it has been fix on tfds.load.

I am downloading it on TF model maker. train_data, validation_data, test_data = ImageClassifierDataLoader.from_tfds('cars196')

seems like the link in TF model maker have to be fix as well

[2021-05-06 06:26] elad-c opened #48928 "compat.v1.resize_bilinear fails in 2.4.1"
The following code works in 2.3.2 but fails in 2.4.1:

`
h, w = 3, 1
image = tf.constant(np.arange(h*w).reshape((h, w)), dtype=tf.float32)[tf.newaxis, ..., tf.newaxis]
_input = tf.keras.layers.Input((h, w, 1))
tf2_img = tf.image.resize(_input, [9, 1])
tf1_img = tf.compat.v1.image.resize(_input, [9, 1], align_corners=True)
tf1_img_bl = tf.compat.v1.image.resize_bilinear(_input, [9, 1], align_corner

[2021-05-06 06:43] jvishnuvardhan commented on #34691
@durandg12 I am not sure whether it is a workaround or not. I changed two lines in your code as shown below. With that change, now I can see the following output with the names given to the layers. Please take a look at the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/7711f849ec186ce53fa8f8489845a7ea/github-issue-34691.ipynb).

[code]

Output

[code]

[2021-05-06 06:48] HanshuYAN opened #48929 "How the tf.linalg.eig operation is implemented and why it is differentiable?"
I used the tf.linalg.eig to compute the eigenvalues of an arbitrary real matrix. Although it is differentiable, I am concerned about how this operation is implemented and whether the differentiation is always correct.

https://www.tensorflow.org/api_docs/python/tf/linalg/eig

[2021-05-06 06:50] ArtanBerisha1 commented on #48850
Hi @thaink , here is the model:
[CenterNetModel.zip](https://github.com/tensorflow/tensorflow/files/6432343/CenterNetModel.zip)
Just to clarify this is happening when I try to run the model in Android App, because as executable file is working fine.

[2021-05-06 06:58] ZoeZhang91 commented on #48794
@tilakrayal  About the compilation error " C++ compilation of rule '@nsync//:nsync_cpp' failed (Exit 2): python.exe failed: error executing command", I've found the solution, the cause is that the command  --copt=THRUST_IGNORE_CUB_VERSION_CHECK with the '/' missing, so the right one is  --copt=/THRUST_IGNORE_CUB_VERSION_CHECK.
Sorry for my carelessness. And thanks for your reply, i'll close this i

[2021-05-06 06:58] #48794 closed

[2021-05-06 07:06] loretoparisi commented on #46845
@angerson hi Austin, thank you for your support. Yes I assumed that the bazel config would do this automatically when using the bazel wizard.
If you look here it seems there is an error in parsing config options for _march_
value, for which I should have passed "core2", or at least I though so.

Thank you!

[2021-05-06 07:13] tilakrayal commented on #48916
@Zodaztream ,

In order to reproduce the issue reported here, could you please provide the complete code and the dataset  or colab link you are using.
Also please refer these issues for similar error log  #45604,#47445,#47288

Thanks!

[2021-05-06 07:22] b-entangled opened #48930 "tensorflow go bazel visibility issue during bazel build"
I'm using tensorflow 1.4.0 and  we are using bazel to build our service. During bazel build I'm getting the following error,

`in go_library rule @com_github_tensorflow_tensorflow//tensorflow/go/op:op: target '@com_github_tensorflow_tensorflow//tensorflow/go:go' is not visible from target '@com_github_tensorflow_tensorflow//tensorflow/go/op:op'. Check the visibility declaration of the former targe

[2021-05-06 07:28] terryheo commented on #40157
We don't have a plan to support Flex delegate with CMake. But I'm wondering why you can't use Bazel for the purpose.

[2021-05-06 07:35] DUPASYoann commented on #46036
I have the same error but when I disable eager mode it work :
[code]

[2021-05-06 07:37] #25592 closed

[2021-05-06 07:38] ymodak commented on #39733
The documentation for model.fit arguments  are now updated with latest [tf-nightly api docs](https://www.tensorflow.org/api_docs/python/tf/keras/Model?version=nightly#fit). Thanks!

[2021-05-06 07:38] #39733 closed

[2021-05-06 07:41] ymodak commented on #38950
The documentation for `model.fit` arguments  are now updated with latest [tf-nightly api docs](https://www.tensorflow.org/api_docs/python/tf/keras/Model?version=nightly#fit). Thanks!

[2021-05-06 07:41] #38950 closed

[2021-05-06 07:42] ymodak commented on #47780
The documentation for `model.fit` arguments are now updated with latest [tf-nightly api docs](https://www.tensorflow.org/api_docs/python/tf/keras/Model?version=nightly#fit). Thanks!

[2021-05-06 07:52] sachinprasadhs commented on #48913
@Jordy-VL does [this](https://www.tensorflow.org/probability/examples/Fitting_DPMM_Using_pSGLD) document help you?

[2021-05-06 08:01] sachinprasadhs commented on #48838
As mentioned in the Ragged Tensors [document](https://www.tensorflow.org/guide/ragged_tensor#tensorflow_apis), if you use Ragged Tensors or `ragged=True` in your layer you would get a warning like `WARNING:tensorflow:Layer lstm will not use cuDNN kernel since it doesn't meet the cuDNN kernel criteria. It will use generic GPU kernel as fallback when running on GPU`

[2021-05-06 08:11] manp-git commented on #28777
Hi I am struggling with the same issue. Here is the code snippet if somebody can help out:-

conv_output = tensorflow.keras.backend.conv2d(input_tensor, kernel=modified_weights, strides=(1, 1), padding='same', dilation_rate=(1,1), data_format='channels_last')

input_tensor.shape( )= (1, 56, 56, 64)
modifies_weights.shape( ) = (64, 3, 3, 64)

Tried with channels_first also ; same error;

This some

[2021-05-06 08:25] foxik commented on #48838
@sachinprasadhs Yes, that is true -- the warning is caused by the source snippets above, which are marked with `TODO(b/156447398)`, which I assume it is some internal bug tracking number.

The current code path converts the ragged tensors to dense tensors (inside the LSTM/GRU) anyway, but then it does not use the cuDNN path. But if the conversion is done manually outside (using the same functions)

[2021-05-06 08:33] elad-c commented on #48928
also fails in tf-nightly: 2.6.0-dev20210505

[2021-05-06 08:37] #25728 closed

[2021-05-06 08:39] apramanik62 commented on #48861
@tilakrayal
below is the link
https://1drv.ms/u/s!At88VZrdRtnbhHhyJor1fXyD_4Nc?e=rK2FJT
kindly give your comments for the same.
tensorflow version 1.15

[2021-05-06 08:57] manp-git commented on #48879
@thaink , thanks,

As per what I understand from the above links is that:

I nee to install flatbuffers from Anaconda by doing:
conda install -c conda-forge flatbuffers
Then run the flatc command on the schema and model:
flatc -t schema.fbs -- model.tflite

Then can call the table elements in schema using monster
Then can edit using mutate (python support not available/ other languages to try)

An

[2021-05-06 08:59] woodlgz opened #48931 "in customized async op, should gpu allocate_output call be synchronized?"
Hi, I am using tensorflow 1.15 with horovod in which cusomized asynchronous op kernel is involved.
horovod implements its collective op by enqueuing collective request to its own runtime message queue, and in nvidia gpu environment, horovod uses its own cuda stream other than tensorflow gpu stream.
generally, horovod gpu allgather operation calls allocate_output and synchronizes on it (blocking ho

[2021-05-06 09:00] UsharaniPagadala commented on #48841
@henriwoodcock
Apologize for the late reply.Could you please reopen the issue if it is still persist.Thanks

[2021-05-06 09:33] anomp commented on #33163
@MarkDaoust worked like a charm, thank you! These are my changes for anyone interested.
[code]
Callback definition:
[code]
Produces output:
[code]

[2021-05-06 09:37] #25775 closed

[2021-05-06 09:37] #26069 closed

[2021-05-06 09:43] vizakshat opened #48932 "Tflite from pytorch-onnx - seesaw facenet very slow loading."
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-05-06 09:55] manp-git opened #48933 "Input depth should be equal to filter depth, conv2d, Tensorflow, Convolution operation, CNN"
Tensorflow version 2.0

Python version 3.7

Following tensors extracted from TF Resnet50 model for experimentation on convolution.
in1.shape = (1,56,56,64)
weight_kernel.shape = (64,3,3,64)

Method1:-
image_conv = tensorflow.nn.conv2d(in1, weight_kernel, strides=(1,1), padding='SAME', dilations=None, data_format='NHWC')

Method2:-
image_conv = tensorflow.keras.backend.conv2d(in1, kernel=weight_ker

[2021-05-06 10:19] yakovdan opened #48934 "Tflite Hexagon delegate performance drop when upgrading from TF 2.2 to 2.4"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10, Android.
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Snapdragon 855 dev platform
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.2 and 2.4
- Python version: 3.8
- Bazel

[2021-05-06 10:20] stefanYli commented on #36688
Any updates? I have a similar issue. I tried building a univariate time series forecasting system with LSTMs that run on a micro-controller. The model is build and compiled with Keras. The Tf Lite version is 2.4.1.  The model works fine and compiles, but when I try to allocate tensors on the Arduino IDE it says that **only one subgraph is currently supported** on the serial monitor.

[2021-05-06 10:37] #26401 closed

[2021-05-06 10:37] #48481 closed

[2021-05-06 11:01] sachinprasadhs commented on #48838
@foxik Yes, you are right, there is already a internal bug(b/156447398) created for the same issue, till the issue is fixed the cuDNN GPU is disabled for the ragged inputs to avoid the input shape error due to the error in conversion of ragged tensors to dense tensors.

[2021-05-06 11:04] rmothukuru commented on #42343
@andrekassis,
Can you please respond to the above comment? Also, please let us know the use cases for this Feature Request. Thanks!

[2021-05-06 11:08] Lucy20211 commented on #48567
I've added `tf.config.run_functions_eagerly(True)` again and used

`data = convol1d()`
`print("\n\n data is:", data)`

before using TF converter.  I haven't got errors now, but I would expect it:

`Error: Didn't find custom operator for name 'Conv1D'.
Registration failed.`

Instead, it doesn't happen. What could it depend on in this case?
Is it correct to use this snippet of code to implement a cu

[2021-05-06 11:31] yananchen1989 opened #48936 "Use MultiHeadAttention in tf:2.3.1"
I want to use `MultiHeadAttention` layer in tf:2.3.1 due to CUDA version limit.

here is the test code:
[code]

I copy this file : https://github.com/tensorflow/tensorflow/blob/v2.4.1/tensorflow/python/keras/layers/multi_head_attention.py
to my current working path for import.

Here is the error:

Any solution ?

[2021-05-06 11:33] H-Ribeiro commented on #47532
I can confirm that I have the same issue when using an Con1D after input layer.

[2021-05-06 11:33] yananchen1989 commented on #48936
In tf:2.4.1 everything is OK:

`att = layers.MultiHeadAttention(num_heads=num_heads, key_dim=embed_dim)`

[2021-05-06 11:35] rmothukuru commented on #48862
@keisen,
Can you please let us know why do you want to wrap the **`an Optimizer`** with two **`tf.keras.mixed_precision.LossScaleOptimizer`** instances? Thanks!

[2021-05-06 11:43] vulkomilev commented on #48167
Hi, can I contribute to this issue ?

[2021-05-06 11:51] Zodaztream commented on #48916
Thanks, I have added a google colab and google drive link (for the necessary files

[2021-05-06 11:54] fredo838 opened #48937 "Can't print RaggedTensor with dtype uint8"
Following code block
`>>> tf.print(tf.ragged.constant([[1,2,3],[1,2]], dtype=tf.uint8)`
raises
[code]
I'm filing this as a bug because I really don't think this error is thrown intentionally. If it is, apologies.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): u

[2021-05-06 12:11] Lucy20211 commented on #21526
Is it worth waiting for implementation of Conv1D? I know that I can use Conv2D instead of Conv1D, but I have to measure performance of my MCU which uses the same Conv1D and make a comparison with Conv2D for different models (if I implemented Conv1D with Conv2D, it should use the same resources and complexity of a Conv2D, so I wouldn't do anything).

[2021-05-06 12:32] rmothukuru commented on #29648
@SimiCode,
Detailed description, along with usage examples are present in the Nightly Version. Please refer the [Nightly Version of Documentation of tf.io.read_file](https://www.tensorflow.org/api_docs/python/tf/io/read_file?version=nightly). Thanks!

[2021-05-06 12:50] tilakrayal commented on #48930
@b-entangled ,

We see that you are using tf version 1.4, there is no support for 1.x, please update to 2.x and let us know if you are using same issue.

Thanks!

[2021-05-06 12:58] rmothukuru commented on #42755
@marjanemd,
Sorry for the delayed response. [This is the path of the source code for tf.raw_ops.Mfcc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/api_def/base_api/api_def_Mfcc.pbtxt). Hope this helps. Thanks!

[2021-05-06 13:08] rmothukuru commented on #42955
@Mistobaan,
Since [it is fixed](https://github.com/tensorflow/tensorflow/issues/42955#issuecomment-687287334) in **`Tensorflow Version 2.3`**, as it is recommended to switch to **`Tensorflow Version 2.x`**, from **`1.x`**,  can you please let us know if we can close this issue? Thanks!

[2021-05-06 13:19] foxik commented on #48838
@sachinprasadhs It seemed like the issue is being tracked internally, but I did not find any mention about the problem here, so I created this issue to make it publicly visible.

It is however surprising that performing the conversion manually outside of the LSTM/GRU layer works without any problems (while I really encountered an issue when I tried to remove the workaround in the sources)...

[2021-05-06 13:54] Xhark commented on #47193
@lgeiger
Thanks for your comment. It might be better to add epsilon value for your binarizing use case if it possible.
We assume that zero-point is representable with integer number, and all optimization / implementation also assume that we have integer zero-point. (e.g. zero-padding is easily possible on quantized domain, some pre-compute optimizations for the symmetric quantized weight assume we

[2021-05-06 14:25] #48889 closed

[2021-05-06 14:29] francotheengineer commented on #39530
I've attempted multiple work arounds for this exact issue. I have been unable to fix it. I suggest you either copy the code in the tf.keras implementation ResNet, then slice out the layers in the ResNet construction code and tack them on after your custom layer code. This allows you to get essentially `pretrained_resnet[3:]`. Then copy the imagenet weights across.

[2021-05-06 15:05] rmothukuru commented on #29274
Created [a CL](https://critique-ng.corp.google.com/cl/372343340) to fix this.

[2021-05-06 15:05] guillaumekln commented on #48722
I updated the issue to clarify it was executed in a Docker container and the logs also report an error from `cuInit`.

[2021-05-06 15:17] pandrey-fr commented on #46833
Hello,

Many thanks to VoVAllen for clarifying where this behavior comes from.

I am currently facing a practical issue due to this (as other have before): when I convert int Tensors to dlpack in order to use pre-compiled custom cuda kernels (using TVM), they end up on the CPU, which causes my custom code to fail.

I am therefore wondering : **how can you force a given int Tensor to have a GPU as

[2021-05-06 15:21] pandrey-fr commented on #46833
My bad, you mentioned a trick [here](https://github.com/tensorflow/tensorflow/issues/41307#issuecomment-657385914) by casting to and then from unsigned int. This is not optimal, but it works.

[2021-05-06 15:22] Jordy-VL commented on #48913
Hi,

Thanks for the suggestion. It clears up some points, yet it still only treats preconditioned (c)SGLD, which only works in TF1.
I think my current implementation works fine :)

There is still an issue with SGHMC, where I cannot do the momentum sparse update due to an embedding lookup operation, any guidance there would be appreciated :)

Kind regards,

Jordy

[2021-05-06 15:32] AhmadAlhajKarim commented on #36209
The error in my case was that --dataset_dir was not pointed correctly to the tfrecord file (wrong path)

[2021-05-06 15:33] clime commented on #38012
Still an issue: https://github.com/keras-team/keras/issues/14632

[2021-05-06 15:37] #48563 closed

[2021-05-06 15:40] saikumarchalla commented on #48907
@samanemami  I tried to reproduce the issue  but facing error while importing data. Please check the gist [here](https://colab.research.google.com/gist/saikumarchalla/848e49f1a2d1e1799c88c8183496599c/comparison.ipynb).

[2021-05-06 15:43] H-Ribeiro commented on #42916
Im having the same issue and when tried to use the solution suggested [here](https://github.com/tensorflow/tensorflow/issues/25980#issuecomment-714344567), Im getting `TypeError: Input must be a SparseTensor.`.
Can anyone please advice me on what to do?

[2021-05-06 15:52] sachinprasadhs commented on #48838
Manually conversion works fine, but as I have mentioned above the issue seems to be with the RNN code converts the ragged tensor to dense tensor before feeding it to cuDNN kernel, so the error might be in the conversion code.

[2021-05-06 15:58] keisen commented on #48862
@rmccorm4 , Thank you for your response.

I know it's only natural but, we do NOT want to meaninglessly wrap the one with multiple LossScaleOptimizers.
We want to resolve this issue for our library users.
We've been developing [a library](https://github.com/keisen/tf-keras-vis) that analyze the model, the code below is its I/F.

https://github.com/keisen/tf-keras-vis/blob/ddd951396f16e7f5b7a0e8619

[2021-05-06 16:05] #29274 closed

[2021-05-06 16:07] joooeey opened #48939 "couldn't install tensorflow with poetry"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Mint 20.1 (based on Ubun

[2021-05-06 16:19] srjoglekar246 commented on #48884
The code seems fine to me. Have you added the proper dependencies, etc?
@lu-wang-g Can you take a look?

[2021-05-06 16:20] rjpower commented on #45214
This is fixed after https://github.com/tensorflow/tensorflow/commit/73f56e99958893bbe536e8282688cfc6080d4034.

[2021-05-06 16:20] #45214 closed

[2021-05-06 16:22] DanielMH commented on #42916
Maybe this helps:

https://github.com/tensorflow/tensorflow/issues/47931#issue-836309758

[2021-05-06 16:25] arctop-sk commented on #48884
@srjoglekar246 - yes all dependencies are there.

[2021-05-06 16:30] srjoglekar246 commented on #48884
Do you see any errors in adb logcat? Its difficult to know what exactly might be going wrong in your case without looking at some debug logs or the overall code/app.

[2021-05-06 16:37] lu-wang-g commented on #48884
+1 on screening the logs. The delegates may not be set up successfully.

[2021-05-06 16:38] arctop-sk commented on #48884
I haven't seen anything.
The model runs, and produces results. However, we get something like [ 4 results, 12 0.0 , 6 result ...]
and so on with NNApi / GPU. Works as expected on CPU.
Is there a flag I can send the runtime like adb shell setprop debug.tflite.trace 1 that will give more verbose data in the logcat?

[2021-05-06 16:38] tilakrayal commented on #48927
@Jeffin21 ,

Please refer these links for similar error log [link1](https://stackoverflow.com/questions/55007656/cannot-parse-graphdef-file-in-function-readtfnetparamsfromtextfileordie-in-ope),[link2](https://github.com/opencv/opencv/issues/11805),[link3](https://github.com/opencv/opencv/issues/10043).Hope it helps.

Thanks!

[2021-05-06 16:40] saikumarchalla commented on #48936
@yananchen1989 The file you are using referring to 2.4 version but the multi_head_attention.py  doesn't exist in TF 2.3.1.Thanks!

[2021-05-06 16:44] Jeffin21 commented on #48927
@tilakrayal thanks for your reply, already tried these. not working for me

[2021-05-06 16:47] haozha111 commented on #48923
I will fix this issue today, hopefully you can try tomorrow's nightly build to verify it. Sorry about that.

[2021-05-06 16:48] arctop-sk commented on #48884
@srjoglekar246  @lu-wang-g
It doesn't seem to me that we are using any operations that are not supported by the GPU/NNAPI, but that would have been my first guess. Since i'm getting no errors, I don't really have a lead as to where to start digging into this.

[2021-05-06 16:54] catskul commented on #48908
It makes sense, and is currently what I'm doing. It just forces an extra layer of indirection: `(*interpreterResource)->AllocateTensors()` where the code normally just does `interpreterResource->AllocateTensors()` isn't too bad on it's own, but where it intersects with templates/generic code which is expecting a single layer of indirection, then I need to special case with SFINAE which I'd rather

[2021-05-06 17:02] srjoglekar246 commented on #48884
@arctop-sk Can you try using our [benchmark tool](https://www.tensorflow.org/lite/performance/measurement#native_benchmark_binary) on your model with GPU & NNAPI delegates? It has more verbose logging, and will tell us if the delegates are getting used at all.

[2021-05-06 17:14] apramanik62 commented on #48861
@tilakrayal
Thanks for your response. I will look at the given link.
Can you tell me how did figure out that? is there any wrong file in TensorFlow 1.15

[2021-05-06 17:15] Jeffin21 commented on #48927
@tilakrayal  tried this now
!python -m tensorflow.python.tools.optimize_for_inference --input /content/drive/MyDrive/thirip2/mask_rcnn_landing.pb --output /content/sample_data/graph_optimized.pb --input_names DecodeJpeg/contents --output_names final_result

error i got
raise KeyError("The following input nodes were not found: %s" % not_found)
KeyError: "The following input nodes were not found: {'

[2021-05-06 17:15] rmccorm4 commented on #48862
I believe @rmothukuru was supposed to be pinged above instead.

[2021-05-06 17:18] karundawadi commented on #48923
@haozha111 @abattery  is there any other workaround to fix this issue? I did try TF 2.4 but I got the error saying that tensorflow.flex does not exist. I added various dependencies but I had no luck.

Is there any way in which I can connect or use the previous versions of the nightly built in which the code was working?

[2021-05-06 17:23] keisen commented on #48862
@rmothukuru , @rmccorm4 , I sincerely apologize for the mistake!

[2021-05-06 17:29] samanemami commented on #48907
@saikumarchalla Please find the modified gist [here](https://colab.research.google.com/gist/samanemami/b1a4797ad00e6c84c61a9a00fc363127/comparison.ipynb)

[2021-05-06 17:32] mattdangerw commented on #48768
@harshgeek4coder thanks for the report! If you have a code snippet ready, could you post it as a gist or colab here and we could take a look?

Is the goal to have JSON specifically? Or just a way to save a model architecture and weights. If the latter, the SavedModel format would be the way to do this today. Is there a reason that doesn't work for your use case?
https://www.tensorflow.org/guide/ke

[2021-05-06 17:36] cossio commented on #35617
Bump

[2021-05-06 17:40] itamarst commented on #48213
On 2.4, changing to saving in the new model format (e.g. `model.save('tmp.model')`) instead of HDF5 results in the error occurring at save time.

[2021-05-06 17:44] za13 commented on #48533
if I try `with tf.compat.v1.gfile.FastGFile('tfmodel.pb', mode='wb') as f:`, I get

    runtimeError: attempting to capture an EagerTensor without building a function

When I tried `with tf.gfile.GFile('tfmodel.pb', mode='wb') as f:`, I got an error

    module tensorflow has no attribute gfile

so I then changed it to `with tf.io.gfile.GFile('tfmodel.pb', mode='wb') as f:`

I then get the same er

[2021-05-06 17:45] CoderStone opened #48940 "TF 1.15.0 GPU, 1050ti & 1650 super, CUDNN 7.4.2 CUDA 10.0.130"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2021-05-06 17:45] ymodak commented on #48377
This is fixed with latest release of  TF 2.5-rc3 and should be in TF 2.5 final version as well.
Please check this [gist](https://colab.research.google.com/gist/ymodak/15e0203253582cc830f110ac8206fea7/-48377.ipynb) for reference.

[2021-05-06 17:51] ymodak commented on #48940
What is make/model of your machine? Does it support AVX instruction sets?

[2021-05-06 17:52] CoderStone commented on #48940
Dual xeon x5690, DDR3 96GB 1333mhz RAM, dell r710

[2021-05-06 17:54] CoderStone commented on #48940
Ah it seems AVX isn't supported. However, I have ran previous tensorflow versions on it without issues.

[2021-05-06 17:55] henrysky commented on #48377
indeed fixed in rc3, thanks!

[2021-05-06 17:55] #48377 closed

[2021-05-06 17:59] ymodak commented on #48940
TF 1.6 and above pre built binaries require systems to support AVX instructions set.
See https://www.tensorflow.org/install/pip#hardware-requirements
Your other option is to build TF by source by enabling CPU optimization flags or you can switch to google colab to use TF-here all you need is internet connection and , google colab host latest stable TF version and you also utilize gpu,tpu accelerat

[2021-05-06 17:59] CoderStone commented on #48940
Weird, I clearly remember running tensorflow gpu 1.14.0 without issues however.

[2021-05-06 18:01] CoderStone commented on #48940
Are there specific instructions for building without AVX for versions prior to 2.0?

[2021-05-06 18:05] ebrevdo commented on #48888
I'm not sure this is a reference cycle so much as it's some kind of issue with eager context `thread_local` [objects](https://github.com/tensorflow/tensorflow/blob/5dcfc51118817f27fad5246812d83e5dccdc5f72/tensorflow/python/eager/pywrap_tfe_src.cc#L4289) "disappearing" between calls.  Why aren't these objects defined inside the appropriate eager context?

[2021-05-06 18:12] CoderStone commented on #48940
Interesting.
![image](https://user-images.githubusercontent.com/34324909/117345914-1a43f500-ae75-11eb-9de3-edd8f33897e5.png)
I got it working... am very confused. Did not install any separate wheel.
I will have to check the version of tensorflow to confirm.

[2021-05-06 18:14] CoderStone commented on #48940
Never mind. Code doesn't run, crashed right after without any log.

[2021-05-06 18:15] CoderStone commented on #48940
I found a nice wheel that lets me even use a higher version of CUDA and CUDNN, so that would hopefully work! Thank you.

[2021-05-06 18:15] arctop-sk commented on #48884
@srjoglekar246 same case with the GPU. not sure if this is the cause, but that's the only issue i'm seeing

[2021-05-06 18:21] impjdi commented on #48407
I'm not familiar with `TfLiteInterpreterOptions`.  I suggest using the code snippet I pasted above.

[2021-05-06 18:22] ymodak commented on #48940
Awesome. Will close this thread now that you have found a potential workaround. Feel free to reopen if have further questions. Thanks!

[2021-05-06 18:22] #48940 closed

[2021-05-06 18:27] harshgeek4coder commented on #48768
Hey, @mattdangerw   Thanks for replying back. So the thing is, when we handle basic NLP Tasks, we require the tokenizer's saved state data for later use so that once we load the saved models, we need tokenizer's data to identify word indexes for each unique word in custom data for the model prediction.

Coming Back to your question, the main goal is to save Tokenizer's state in JSON format which w

[2021-05-06 18:29] Saduf2019 commented on #48451
@mitramir55
Can you confirm if you are using:
```imported keras from tensorflow (from tensorflow import keras)```
Also, please take a look at [this comment](https://github.com/tensorflow/tensorflow/issues/45354#issuecomment-740039243) from a similar issue and check if it helps. [#47898] Thanks!

[2021-05-06 18:36] angerson commented on #46845
Sorry, I don't quite understand the quote there. When configuring TensorFlow's build, you should specify the whole `-march=core2` flag.

[2021-05-06 18:37] kkimdev commented on #48802
Thanks for reporting the issue!

[2021-05-06 18:46] kkimdev commented on #48701
Thanks for reporting the issue!

[2021-05-06 18:51] saxenasaurabh commented on #37726
`tf.concat` on scalars is not supported, please use `tf.stack` for scalars instead. The fact that calling `tf.concat` on scalars in eager mode does not raise an error is a bug. For example:

[code]

[code]

[code]

Raises:

```ValueError: Can't concatenate scalars (use tf.stack instead)```

I agree we should raise a better error message here instead of silently dropping gradients.

[2021-05-06 18:51] #37726 closed

[2021-05-06 18:55] ymodak commented on #48650
Adding github [gist](https://colab.research.google.com/gist/ymodak/bf83ea272c11f180a3608a932e22dde1/untitled16.ipynb) that reproduces the reported error for next tensorflower.

[2021-05-06 18:55] haozha111 commented on #48923
Could you install an earlier version tf-nightly and try?

https://pypi.org/project/tf-nightly/#history

[2021-05-06 18:56] rohan100jain commented on #47582
@emadboctorx in order to understand what might be going wrong, its important we can reproduce the error. Even if its a workflow that you do i.e. start with code X, make modification Y, re-run is good enough for us but without a reproduction, its really hard to understand what is going on.

[2021-05-06 19:06] kkimdev commented on #48767
Thanks for reporting the issue!

[2021-05-06 19:07] saxenasaurabh commented on #48767
Please feel free to send a PR!

[2021-05-06 19:10] rnett commented on #48767
I can, but what's the preferred solution?  Providing and exposing a `TF_AddGradientsWithPrefixLocked` that doesn't lock, or exposing `TF_NewOperationLocked` and `TF_FinishOperationLocked`?  (See #48815)

[2021-05-06 19:11] saxenasaurabh commented on #48767
Exposing `TF_NewOperationLocked` and `TF_FinishOperationLocked` sgtm.

[2021-05-06 19:19] karundawadi commented on #48923
@haozha111 @abattery Thank you for y'all help. I am using android and I believe it uses maven as repository management. I am trying to revert to an previous nightly built but unable to do so. I am using the following for my dependencies:
[code]
This is for my build.gradle file :
[code]

When I run this I am unable to import an previous version. What would be the ideal method to achieve the previou

[2021-05-06 19:19] ashahab commented on #48903
@yangustc07 do you have a fix?

[2021-05-06 19:20] reedwm commented on #48919
I can reproduce on Ubuntu 20.04. I am not familiar with how debugging symbols work, but based on what you said it seems they are exceeding 2 GB which is causing the issue? You mention `-gdwarf64`, which is in gcc 11.1 but not in gcc 9.3, which is what Ubuntu 20.04 uses.

/CC @chsigg any ideas on what to do here? If it's impossible to support compiling all files with debug symbols, perhaps we shoul

[2021-05-06 19:22] edloper commented on #48888
Yes, the issue is that the thread_local pointer eager_context_thread_local_data_map is (lazily) initialized to point to an object, but that never gets freed when the thread is destroyed.  (The pointer is destroyed, but not the object it points to.)  So a small amount of memory is leaked per thread created & destroyed.  I'm working on a fix for this.

[2021-05-06 19:23] yangustc07 commented on #48903
Yes, I just submitted https://github.com/tensorflow/tensorflow/commit/858a5698a7b4ee95befa2e9c3d7aaa0a8170ec54. I'm trying to see why it changes my commit message to "internal change." The original description was:

[code]

[2021-05-06 19:24] #48903 closed

[2021-05-06 19:28] allenlavoie commented on #48888
Edward, I sent you a change; it looks like this triggers even without any thread creation involved. Just repeatedly clearing and setting the function_call_options field triggers it, and that happens when you change some settings (soft device placement, optimizer options, etc.).

[2021-05-06 19:31] ebrevdo commented on #48888
@allenlavoie thank you for confirming!  we're seeing something like this even when we don't change config settings.  i expect that if you fix the problem under your test case, it'll resolve the problem in general.

[2021-05-06 19:32] edloper commented on #48888
Thanks, @allenlavoie!

[2021-05-06 19:33] edloper commented on #48888
(I think there is *also* a memory leak when lots of threads are created and destroyed; so I'll go ahead and fix that one as well.  But I think the one @allenlavoie found is the more significant/relevant one.)

[2021-05-06 19:37] #45539 closed

[2021-05-06 19:43] allenlavoie commented on #48888
Interesting. I don't know what would have been clearing the function call options if you're not changing config/optimizer/etc. settings. If that change does help with the leak we may also want to figure out why the options are repeatedly recreated, since it sounds like a performance issue.

[2021-05-06 19:48] mattdangerw commented on #48768
Got it. Thanks!

For the SavedModel format, that is intended to save both the model architecture and the model weights. `model.save(some_path)` will do that.

On the tokenization front, we are actually working on new layers for tokenization (and mapping strings to indices generally), that will integrate better with a keras model:

https://www.tensorflow.org/api_docs/python/tf/keras/layers/experime

[2021-05-06 20:04] JRice15 opened #48941 "tf.ragged.constant fails on list of np.array"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-05-06 20:06] CoderStone commented on #48940
![image](https://user-images.githubusercontent.com/34324909/117359176-086a4e00-ae85-11eb-8749-6bf52558bf7e.png)
I am not sure what config I am supposed to use for SSE4.2.

[2021-05-06 20:11] CoderStone opened #48942 "Building tensorflow for SSE4.2, cannot find proper option in configure.py"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>![image](https://user-images.githubusercontent.com/34324909/117359506-80387880-ae85-11eb-9821-290f3ddb3ee0.png)
**

[2021-05-06 20:23] bhack commented on #48942
These are the available options:
https://github.com/tensorflow/tensorflow/blob/4bdae6bb3b3a31de0e7adc111e6ed4a83c9341a0/.bazelrc#L23-L33

You can use the native one if the SSE4.2 is the same where you are compiling TF.

[2021-05-06 20:24] jvishnuvardhan commented on #36785
@8bitmp3 I checked that @abhilash1910 PR https://github.com/tensorflow/tensorflow/pull/36849 got merged and I also reviewed that `AddaDelta` in `keras-team/keras` and `tf.keras` are in sync.

[Here](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adadelta?version=nightly) is the TF page on `AdaDelta` with the update.

[Here](https://github.com/keras-team/keras/blob/master/keras/opti

[2021-05-06 20:27] blackyang opened #48943 "[keras] [tensorboard] buggy behavior of keras x tensorboard"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-05-06 20:30] blackyang commented on #48943
cc @omalleyt12 @foxik

[2021-05-06 20:31] CoderStone commented on #48942
I'm on windows, and it's an SSE4.2 server. I meant in ./configure.py where it suggests /arch:AVX. Do you mean I can use /arc:native or just use /arc:AVX?

[2021-05-06 20:42] mdanatg commented on #48844
Your findings are mostly expected, I will include some explanations below. At a glance, I don't see any obvious issues with the way you've been constructing the code.

1. TF eager

TF eager is know to be slower compared to PyTorch. Your measurement of about an order of magnitude seems in the ballpark. The rule of thumb is to use eager execution for debugging, and production code to use tf.function

[2021-05-06 20:44] bhack commented on #48942
Generally I don't compile on win I think that these are the available ones https://docs.microsoft.com/it-it/cpp/build/reference/arch-x64?view=msvc-160

[2021-05-06 20:56] dbouchabou commented on #45854
Is it possible to get an example of mask using with this function ?

[2021-05-06 21:00] CoderStone commented on #48942
It might be /arch:SSE2, I'll post an update here for any future people that need to do this.

[2021-05-06 21:11] duncanriach commented on #42033
I'm sorry, @rmothukuru, but I cannot give an ETA for a deterministic GPU solution right now.

## Additional Information

I maintain a publicly-visible status for progress on GPU-determinism of this op [here](https://github.com/NVIDIA/framework-determinism/blob/master/tensorflow_status.md#crop-and-resize).

PR [48905](https://github.com/tensorflow/tensorflow/pull/48905), which will almost certainly

[2021-05-06 21:15] CoderStone commented on #48942
![image](https://user-images.githubusercontent.com/34324909/117366373-a7477800-ae8e-11eb-95df-73f9918e8237.png)
No idea what this error is.

[2021-05-06 21:21] CoderStone commented on #48942
Having issues once I downgraded to VS2017 from VS2019 build tools, since bazel wants you to use 2013 to 2017 and build fails. When downgrading, the above error occurs? no idea what to do.

[2021-05-06 21:26] abattery commented on #48934
@karimnosseir could you take a look at this?

[2021-05-06 21:33] jvishnuvardhan commented on #36894
@Rayarrow Looks like this was resolved in `tf-nightly`. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/d97f138de1da3f8e50646692a37830c2/untitled398.ipynb).

Can you please verify once and let us know whether it was resolved or not. Thanks!

[2021-05-06 21:33] bhack commented on #48942
Sorry but we don't support TF 1.x anymore.

[2021-05-06 21:37] jm-willy commented on #37726
@saxenasaurabh Still returns None for `w1 = tf.Variable([[1.0], [1.0]])` `w2 = tf.Variable([[3.0], [3.0]])`. Same as `w1 = tf.Variable([[1.0]])` `w2 = tf.Variable([[3.0]])`

[2021-05-06 21:38] CoderStone commented on #48942
That is a BS move to be fair... we should be able to compile older versions without issue. Forcing visual studio 2019 for compilation while bazel demands 2017 or below shouldn't be allowed.

[2021-05-06 21:42] bhack commented on #48942
TF on win is tested with Visual studio 2019 https://www.tensorflow.org/install/source_windows?hl=en#install_visual_c_build_tools_2019

What I meant is that we don't support in general tickets on TF 1.x as it is defacto EOL

[2021-05-06 21:51] CoderStone commented on #48942
I just mean that both bazel and the tester should use the SAME visual studio code version. I guess I'll try using a higher bazel version though that'd 100% fail.

[2021-05-06 21:58] bhack commented on #48942
Have you found this in the master branch?

[2021-05-06 22:02] CoderStone commented on #48942
I believe so...

[2021-05-06 22:03] mohammedayub44 commented on #48071
@amahendrakar

Here is one text boundary detection model I'm using. Let me know if this helps -

Install ONNX-Tensorflow

`git clone git@github.com:onnx/onnx-tensorflow.git && cd onnx-tensorflow`
`pip install -e .`

Code snippet:
Model - [Link](https://1drv.ms/u/s!Astr8XJs2VCYge02Is9jjtWzpec3aA?e=88EZTP)

[code]

Thanks !

[2021-05-06 22:04] bhack commented on #48942
In your template I see `TensorFlow version: 1.15.0` we don't suypport TF 1.x please use a recent Tensorflow version.

[2021-05-06 22:06] CoderStone commented on #48942
I've tried four different branches including master.

[2021-05-06 22:10] bhack commented on #48942
In master,  where do you have evidence of this request?

[2021-05-06 22:33] CoderStone commented on #48942
Compiling again to reach the final error, give me a few. Although, I think that error came bec I was using the wrong version of bazel for tf2... so you are probably right. Still, not supporting earlier builds compilation is heavily frowned upon...

[2021-05-06 22:47] bhack commented on #48941
Can you check with https://github.com/tensorflow/tensorflow/pull/48945?