[2017-07-27 06:04] laket opened #11803 "/gpu:0/stream doesn't appear on Timeline"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
('v1.2.0-2479-g88abddb', '1.3.0-rc0')
- **Python version**:
2.7.12
- **Bazel version (if compiling from source)**:
bazel release 0.4.5
- **CUDA/cuDNN version**:
CUDA 8.0
cuDNN 5.1.5
- **GPU driver

[2017-07-27 06:28] pickou commented on #6683
@ebrevdo Here is my code. https://github.com/pickou/multiplicative-lstm

[2017-07-27 06:29] liuzqt opened #11804 "No OpKernel was registered to support Op 'RFFT' for CPU (running on android)"
I'm running tensorflow on android. and got this error:
`Caused by: java.lang.IllegalArgumentException: No OpKernel was registered to support Op 'RFFT' with these attrs.  Registered devices: [CPU], Registered kernels:
                                                                       <no registered kernels>`

I'm using the master branch, where the RFFT CPU verison is already supported. So I'm w

[2017-07-27 06:47] junshi15 commented on #11725
My observation agrees with @shamoya 's.

1) the program got stuck with the trivial model, but it needed 8 GPUs per worker. Even 7 GPUs do not result in hang (after running 1000 iterations).
2) the program got stuck either at warm-up or early iterations (< 100).
3) locking global_step does not help.
4) At the very beginning, some tensors changed size as shown below. This may not be an issue, but it

[2017-07-27 06:50] kaizhang opened #11805 "Cannot build Tensorflow: 'GLIBCXX_3.4.21' not found"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS 7
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**: 3.6.1
- **Bazel version (if compiling from source)**: 0.5.2
- **CUD

[2017-07-27 06:50] ed-alertedh commented on #5719
Well, it looks like we got what we wanted! @ebrevdo looks to have implemented this and it's in 1.3.0rc0!
Interestingly, it's a heap-based algorithm: [code here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/topk_op_gpu.cu.cc)

I'm a little sad that I didn't manage to release my code in time due to unforeseen "red tape" at work. But OTOH, I'm a newbie with CUDA and my

[2017-07-27 08:17] errord commented on #9270
+1

[2017-07-27 08:24] HannH commented on #11771
@snnn Thank you for your suggestion! Because compile is time-consuming, I would tell you the result later.
Anthor question: I found it is necessary to compile a tensorflow project statically in vs, which caused the result bloat. For example, project 'tf_label_image_example' is 164 MB in release mode, but there only one file named 'main.cc' from 'examples\label_image' in this project. Is there any

[2017-07-27 08:30] mavenlin opened #11806 "sparse ClusterSpec fails when using tf.cond"
Here's the minimal code to reproduce.
on machine 1 and machine 2
[code]

on machine 3:

[code]

On machine3, it crashes complaining

[code]
There is no problem if the true_fn and false_fn just returns a already constructed op, like in the commented code.

[2017-07-27 08:47] hxsnow10 commented on #11723
but tf.softmax works.....

[2017-07-27 08:51] loretoparisi commented on #4940
@jart this issue was closed for inactivity, by the way any recent progress or contribute in that direction for the build chain (I guess it has changed a bit...)? Thanks.

[2017-07-27 09:23] linyia01 opened #11807 "tensorflow build error in Illegal ambiguous match on configurable attribute "copts" in //tensorflow/python:gen_math_ops_py_wrappers_cc:"
$ bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package
ERROR: /root/tools/tensorflow-master/tensorflow/python/BUILD:1166:1: Illegal ambiguous match on configurable attribute "copts" in //tensorflow/python:gen_math_ops_py_wrappers_cc:
@local_config_cuda//cuda:using_clang
@local_config_cuda//cuda:using_nvcc
Multiple matches are not allowed unless one is unambiguously mor

[2017-07-27 09:25] rubenvereecken opened #11808 "tf.contrib.streaming_mean_squared_error returns incorrect result"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Mint 18
- **TensorFlow installed from (source or binary)**: Binary (pip)
- **TensorFlow version (use command below)**: v1.3.0.0rc0
- **Bazel version (if compiling from source)**: N/A
- **CUDA/cuDNN vers

[2017-07-27 09:37] axelv commented on #9545
Reusing a lot of layers I encounter the same messy graphs in TensorBoard.
It would be nice to have the two namespaces merged if they contain the same variables!

[2017-07-27 09:38] AakashKumarNain opened #11809 "Setting weights for different layers in a CNN"
I have a number of models which I have trained in `lasagne`. I have weights saved for all those models. As of now I want to switch to `tensorflow`. I can build the whole architecture in `tf` but I want to load the weights from my hard disk. How can I set the pre-trained weights for the network?

[2017-07-27 09:45] chunyang-wen commented on #9777
@suiyuan2009 Why don't you check the performance first before check in your code? It makes no sense. BTW, I have drew the timeline for ***_distributed_aggregation, sure, part of the computation has been moved to ps, but the overall performance does not improve.

[2017-07-27 09:49] anjany opened #11810 "Momentum, Adam, and other optimizers don't work for variable input/output sizes"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-07-27 10:07] paolof89 opened #11812 "InternalError: Blas GEMM launch failed"
------------------------

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.2 LTS
Release:        16.04
- **TensorFlow installed from (source or binary)**:
pip3 install tensorflow-gpu

- **TensorFlow version (use command below)**:
v1.2.0-5-g435cdfc 1.2.1

- **Python version**:
3.5

- **CUDA/cuDNN version**:
nvc

[2017-07-27 10:28] snnn commented on #11599
Hi @lakshayg , @jhseu is upgrading grpc. #11768

[2017-07-27 10:58] lijhong commented on #11781
ok.

[2017-07-27 12:19] Lukeeeeee commented on #6971
## same issue here, when run
[code]

Limit:                 68719476736
InUse:                        2816
MaxInUse:                  4197120
NumAllocs:                      54
MaxAllocSize:              4194304

2017-07-27 20:05:05.729344: W tensorflow/core/common_runtime/bfc_allocator.cc:277] *___________________________________________________________________________________________________
201

[2017-07-27 12:26] scucheri commented on #11474
No, That question is different from this.  This question is about bazel build error.

tensorflow r1.2 & bazel 0.5.2 cause error
tensorflow r1.0 & bazel 0.4.3 build successfully

[2017-07-27 12:54] jubjamie commented on #11809
_Warning: As this doesn't appear to be a bug with Tensorflow, the devs may ask for this to be moved to Stack Overflow._

Does this help?
https://github.com/fchollet/keras/wiki/Converting-convolution-kernels-from-Theano-to-TensorFlow-and-vice-versa
This really is a S/O question however and you should post there instead.

[2017-07-27 13:05] cheind opened #11815 "tf.contrib.data.Iterator - Continue from dataset with reinitializable iterator."
I'd like to request the following feature. In TF 1.3.0rc0 and probably before the reinitializable iterator can be used to switch between dataset sources as shown [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/programmers_guide/datasets.md). This is great for switching between train and test data, but has a nasty side-effect: when reinitializing the iterator the ite

[2017-07-27 13:20] duane-ibm opened #11816 "Snappy related tests are failing"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 'v1.2.1-0-gb4957ff', '1.2.1'
- **Python version**: 2.7.12
- **Bazel version (if compi

[2017-07-27 13:25] shirishr opened #11817 "Looks like a bug tensorflow 1.2.1 with gpu error during basic_gpu_test"
### System information
- **No custom code
- **OS Windows 10
- **TensorFlow installed from:https://storage.googleapis.com/tensorflow/windows/gpu/tensorflow_gpu-1.2.1-cp35-cp35m-win_amd64.whl
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**: 3.5 (Anaconda environment)
- **Bazel version (if compiling from source)**: N/A
- **CUDA/cuDNN version**: 8.0
- **GPU model and memory**:

[2017-07-27 13:39] degrave opened #11818 "cxx"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-07-27 13:41] #11818 closed

[2017-07-27 13:50] shirishr commented on #11817
Same error is associated with
acosh, cosh, sinh, atanh

as well.

[2017-07-27 13:57] Qiang-Ge commented on #5600
You should change the installation location of Anaconda3, because the command line of the space will bring a lot of problems, More? -DPYTHON_EXECUTABLE = C: / Program Files / Anaconda3 / python.exe ^
More? -DPYTHON_LIBRARIES = C: / Program Files / Anaconda3 / libs / python35.lib There are spaces in both commands that may not be recognized, resulting in an error

[2017-07-27 14:10] the-moliver commented on #11690
@lllyasviel @StefanoD  The instance normalization paper says: "The key idea is to replace batch normalization layers in the generator architecture with instance normalization layers, and to keep them at test time (as opposed to freeze and simplify them out as done for batch normalization)". I believe the running_mean and running_var in the lua implementations are being used to hack the batch norma

[2017-07-27 14:11] Nayana-ibm commented on #11290
@cy89 Thanks for your reply. I have checked the flag used to detect underlying platform.
The flag `kLittleEndian `declared [here ](https://github.com/tensorflow/tensorflow/blob/v1.2.1/tensorflow/core/platform/cpu_info.h#L29) can be used to check for big endian However, the `c_api_test`  fails on the SavedModel from test data which is in raw format and we are not sure about an appropriate way to co

[2017-07-27 14:25] July-Morning commented on #10669
Well, I managed to save my model in SavedModel format and load it back in Python, but running time is as slow as while using a frozen graph.

Here is how I save my model:
`   export_path = './saved_model' + str(datetime.now()) + '/'
    builder = tf.saved_model.builder.SavedModelBuilder(export_path)

    tensor_info_im = tf.saved_model.utils.build_tensor_info(model.image_input)
    tensor_info_pr

[2017-07-27 14:39] alextp commented on #10669
In general the first run of a tensorflow session is slower as a lot of
once-only computation gets performed (graph pruning, GPU set up, etc)

On Thu, Jul 27, 2017 at 7:31 AM, July-Morning <notifications@github.com>
wrote:

--
 - Alex

[2017-07-27 14:49] shamoya commented on #11725
+ @katyakats @bkovalev
Ok, after reviewing the full logs, this is what we think is the root cause:
A single GPU (in worker1) doesn't complete loading of the model parameters from the CPU.
For this GPU we don't see "Async kernel done" for the SEND/RECV operation (CPU:0 -> GPU:x locally).

The reason why it happens only with RDMA (and not with gRPC) is not known yet.
Thought about possibly interrupt

[2017-07-27 14:49] July-Morning commented on #10669
Yeah, I thought about it, too, but decided to mention just in case.

[2017-07-27 15:05] RawthiL commented on #6698
I found that in some cases resetting the jupyter kernel wont work. Actually it happened to me while using jupyterhub.
I restarted the kernel, deactivated my virtualenv and the GPU memory was still being held by some process. The` nvidia-smi` command said that there was no process using the GPU and when I  tried to reset it with `sudo nvidia-smi --gpu-reset -i 0` (for the 0 gpu core) it said the fo

[2017-07-27 15:10] cheind commented on #11815
Closing this, just found that a feedable iterator covers my use case. Thanks!

[2017-07-27 15:10] #11815 closed

[2017-07-27 15:38] st-- opened #11821 "Gradient for self_adjoint_eigvals fails (self_adjoint_eig works fine)"
As also noted in #1915 already (but that ticket had been closed), there is a bug in the implementation of `self_adjoint_eigvals` (whereas `self_adjoint_eig` works fine, but it is rather inefficient to compute eigenvectors and their gradients if I only require the eigenvalues!).

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow

[2017-07-27 15:38] prb12 commented on #10730
I agree that this looks strange.  The code is clearly waiting for a bunch of operations to complete via control dependencies (`group_deps_3`), and it's not clear to me from the timeline where those are executing or which one is 'slow'.

The reason for that seems to be that the device level GPU tracing (in the `/gpu:0/memcpy`  and `/gpu:0/stream:N` timelines) looks to be truncated after 12ms.  The

[2017-07-27 15:56] JinmingZhao commented on #1325
I have the same problem as @rustyoz .

[2017-07-27 16:04] #11809 closed

[2017-07-27 16:30] aselle commented on #11804
Android only builds a subset of the ops, You need to add the ops that you need that are not in the "commonly used set" by hacking the build files for your needs.

[2017-07-27 16:33] aselle commented on #11816
Most likely it is a big-endian vs little endian issue in snappy buffers.  As usual, we don't really have a great way to debug this, but you should be able to look at the code and find raw buffer interpretations that need endian swaps included for the big-endian case.

[2017-07-27 16:33] byronyi commented on #11725
Just a wild guess, if the callback passed into the local async recv kernel is an erroneous remote send, would it appear to be stuck at the local recv? What's the downstream operator of that local recv?

[2017-07-27 16:49] yaroslavvb commented on #11724
If you can make a reliable repro it could make sense to report it with Intel. I recently found another MKL-caused bug in linalg and they fixed it promptly after [reporting](https://software.intel.com/en-us/comment/1869912)

[2017-07-27 17:08] jo89er opened #11822 "tfcompile of tf.sin and tf.cos"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow version (use command below)**: ('v1.2.0-5-g435cdfc', '1.2.1')
- **Python version**: 2.7.12

### Describe the problem
I tried to use tfcompile for AOT compilation of a graph w

[2017-07-27 17:08] av8ramit commented on #8828
Just FYI, I've added cuDNN 6 to the 1.3 release notes.

[2017-07-27 17:19] fxsuper commented on #11788
Fantastic. I look forward to it!

[2017-07-27 17:19] reedwm commented on #11821
@rmlarsen can you take a look? The line [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/linalg_grad.py#L207) checks if `grad_v` is None, but for `tf.self_adjoint_eigvals`, `grav_v` will be a tensor of shape `[0]`, not None.

[2017-07-27 17:22] reedwm commented on #11812
Make sure you have no other processes using the GPU running. Run `nvidia-smi` to check this.

[2017-07-27 17:30] reedwm commented on #11807
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new).

 We ask for this in the issue submission template, because    it is really difficult to help without that info

[2017-07-27 17:38] #11786 closed

[2017-07-27 17:44] snarb commented on #4589
Deffinetly we need this. My test on P100 shows great speed improvment in caffe fp16 for my model. Tensorflow now is still behinds for p100.

[2017-07-27 17:49] RylanSchaeffer commented on #11067
@oahziur , do you have an idea of what might be causing my problem?

[2017-07-27 17:50] MtDersvan commented on #11442
@ebrevdo Is there a way then to harness the new AttentionWrapper (from tf.contrib.seq2seq) for sequence classification (attention reduction)? E.g. as a words-to-sentence reduction step.
I mostly refer to the [Hierarchical Attention Networks for Document Classification](https://www.cs.cmu.edu/~diyiy/docs/naacl16.pdf) paper. tensorflow/nmt tutorial mostly shows it in use with a decoder.
Thanks.

[2017-07-27 18:01] zheng-xq commented on #10730
I agree nvprof and nvvp provide very useful info.

[2017-07-27 18:08] reedwm commented on #11805
This seems similar to #3261. Can you try the workarounds described [here](https://github.com/tensorflow/tensorflow/issues/3261#issuecomment-234147379) or [here](https://github.com/bazelbuild/bazel/issues/1358#issuecomment-258501870)?

@martinwicke any thoughts? Similar issues (#3261, bazelbuild/bazel#1358, bazelbuild/bazel#898) have been posted before.

[2017-07-27 18:11] reedwm commented on #11817
You should run tests with bazel instead of directly running the .py files.

For example, to run `tensorflow/python/kernel_tests/basic_gpu_test.py`:
[code]

[2017-07-27 18:11] #11817 closed

[2017-07-27 18:16] mari-linhares opened #11823 "ERROR message when using tf.SyncReplicasOptimizer"
I'm running distributed tensorflow with estimators, in order to it in sync mode I'm using tf.SyncReplicasOptimizer, but casually (specially after evaluation) I see the following error on the master:
[code]
Code available at:https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10_estimator/cifar10_main.py

[2017-07-27 18:39] tfboyd commented on #4589
@reedwm Can you give some update and info on FP16?

[2017-07-27 18:52] gunan commented on #11784
@av8ramit Could you update documentations on the release branch and master branch?

[2017-07-27 18:55] kashefy commented on #9498
When running @gongzhitaao code snippet at the top multiple times, I sometimes get different outputs for `acc`.

[code]
I have this code running in standalone script, each run is completely independent from the previous run.

Any ideas anyone?

[2017-07-27 18:59] anne1994 commented on #6136
The best way is to install anaconda and then install tensorflow with pip instead of creating a conda environment, activating tensorflow.  Thats the only thing that worked for me as of now.

[2017-07-27 19:03] shirishr commented on #11817
I am on windows platform...I did install chocolatey (which installed python 2.7 outside of conda) and then installed bazel which failed because in windows I have msys2_shell.bat (and not msys2.exe)
So a generally futile exercise. I commented out the 5 lines associated with asinh, acosh, cosh, sinh, atanh from basic_gpu_test to make sure that my gpu is playing nicely with tensorflow_gpu.
Thank you

[2017-07-27 19:35] Mr-Grieves commented on #11334
@asimshankar: The latter. I'm new to Java and still not totally comfortable with the idea of leaving objects around to be cleaned up by the GC... My app runs as desired initially, but slows down over time, and eventually grinds to a halt. I initially thought this issue was being caused by a memory leak, but perhaps the memory management is running as it should and the cause of the slowdown lies so

[2017-07-27 19:37] reedwm commented on #11783
Good catch! Running the tutorial code, I sometimes get the class predictions being [1, 2] (as claimed in the tutorial) but sometimes they are [1, 1].

I think this issue was already fixed (perhaps unintentionally). When I run the [tutorial code in the repo](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/get_started/estimator.md), I always get [1, 2] as claimed (I ran 100

[2017-07-27 19:37] #11783 closed

[2017-07-27 19:45] junshi15 opened #11825 "Why remove tolerate_dup_recv from LocaRendezvous."
I did not find a PR for this [patch](https://github.com/tensorflow/tensorflow/commit/cbfd50ff0f01e1825922230a8bc6e5766da98dd7). Maybe this discussion belongs to that particular commit page. If so, I will move it there.

Can somebody explain the rationale behind this patch? Current contrib/verbs uses exactly this flag to transfer tensors. Note it is set true [here](https://github.com/tensorflow/ten

[2017-07-27 19:53] andrewharp commented on #11334
@Mr-Grieves It could be thermal throttling slowing down the CPU frequency after sustained load. I'm not sure if you can view this in Android Studio, but you could try [printing the frequency](https://stackoverflow.com/questions/3021054/how-to-read-cpu-frequency-on-android-device) manually via adb.

[2017-07-27 20:01] junshi15 commented on #11725
@shamoya intriguing discovery. Local tensor transfer is handled by BaseRemoteRendezvous. There is one difference between gRPC and RDMA: tolerate_dup_recv is set to `false` in [the former](https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/core/distributed_runtime/rpc/rpc_rendezvous_mgr.cc#L42) and `true` in [the latter](https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/contr

[2017-07-27 20:22] aselle commented on #11822
It looks like xla doesn't support double size complex #'s. Does this happen when you use tf.complex64 instead?
@tatatodd, is anyone working on extending complex support in xla?

[2017-07-27 20:27] hongzimao commented on #11756
Do you have some examples for "sparse cross entropy softmax with logits functions"? Thanks!

[2017-07-27 20:48] shamoya commented on #11725
Thanks @junshi15 for noticing this commit.
Not sure I understand why you say BaseRemoteRendezvous is used in the case of local tensor transfer between GPU and CPU on the same worker.
[This](https://gist.github.com/shamoya/36beb1d093d4b95a523e27d4deda16ea) is a more detailed log of the all the occurences of affine1/biases in the last iteration in worker1. We can see the RdmaRemoteRendezvous has com

[2017-07-27 21:16] solix commented on #9412
I am also struggling with landscape mode for drawing correct rectangles around images. Debug looks totally valid only preview side is remaining. any progress on this?

[2017-07-27 21:24] andrewharp commented on #11474
Have you tried r1.0 with bazel 0.5.2?

My best guess at the cause is that something is causing it to evaluate the wrong paths when searching the SDK directory looking for API level (it's trying to evaluate "MNC" from a partial path as an integer).

You might have better luck over at https://github.com/bazelbuild/bazel with this, as I doubt it has anything directly to do with TF.

[2017-07-27 21:29] reedwm commented on #11823
The [file](https://github.com/mari-linhares/models/blob/f24c44d5b94c516ac630110ca6f32eb8a3f023f9/tutorials/image/cifar10_estimator/cifar10_main.py) your pull request modified only appears to support single-process TensorFlow, not distributed TensorFlow.

What command(s) did you run that caused the error?

[2017-07-27 21:39] reedwm commented on #11825
/CC @zffchen78

[2017-07-27 21:41] andrewharp commented on #11804
@liuzqt You can follow @aselle's suggestion by adding fft_ops.cc to the //tensorflow/core/kernels:android_extended_ops_group1 filegroup and see if that solves the issue.

[2017-07-27 21:52] jo89er commented on #11822
This happens when I use any of the float data types.
Using tf.complex64 or tf.complex128 raises:

[code]
[code]

[2017-07-27 21:53] junshi15 commented on #11725
@shamoya RdmaRemoteRendezvous is a derived class of BaseRemoteRendezvous. The local send/receive functions are defined in the base class. RdmaRemoteRendezvous only overrides RecvFromRemoteAsync().

[2017-07-27 21:59] yaroslavvb commented on #11756
Once you start feeding in infinities, then I expect there'll be NaN's in gradients. Fundamental reason is that gradients are obtained using simple algebraic transformations which only make sense for finite numbers. The robust way of handling things would be to use boolean masks.

It looks like "really large number" works in this case, although in general things can overflow and give unexpected nan

[2017-07-27 22:04] mari-linhares commented on #11823
It's using experiments (tf.estimators) so it supports distributed TensorFlow. This Error happened after the master executed evaluation, and once the worker finished training. I executed this with 1 master, 1 worker and 1 ps.

[2017-07-27 22:07] kaizhang commented on #11805
I had read this before posting the issue. But no, it did work. Also the file `third_party/gpus/crosstool/CROSSTOOL` no longer exists. I tried both `third_party/gpus/crosstool/CROSSTOOL_nvcc.tpl` and `third_party/gpus/crosstool/CROSSTOOL_clang.tpl`, but none of them worked.

[2017-07-27 22:12] kaizhang commented on #11805
Right now I can use the pip wheel. So I don't need workarounds here, at least now. If this is an intended behavior or you know how to fix this in future release, feel free to close it. Otherwise, let me know what I can help.

[2017-07-27 22:21] patrikerdes opened #11829 "Slow to import tensorflow.contrib with Python 3 because inspect.stack is slow"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Sierra 10.12.5
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: v1.2.0-2420-g2b4a0f9a4 1.3.0-rc0
- **Python version**: 3.6.2
- **Bazel version (if

[2017-07-27 22:28] reedwm commented on #11823
What commands did you run to start the master, worker, and ps?

[2017-07-27 22:36] subzerofun commented on #11761
@av8ramit  That's really unfortunate – i recently got myself a 1080 Ti and thought that with the 11 GB VRAM i can finally run all the stuff my older card couldn't lift. And i have just discovered Tensorboard ... Now i can only:
1) Downgrade >= 1.2 TF only functions/code back to 1.1 (won't work for long 😬)
2) Search for implementations of a TF project in Keras (Theano), pyTorch/Torch etc.
3) Rewrit

[2017-07-27 22:39] yhu9 opened #11831 "No mention of how to use custom RunConfig with Estimator in the Estimator tutorial"
On the tutorial of creating estimators using tf.contrib.learn there doesn't seem to be any mention of how to create your own RunConfig object in order to specify the configurations for an Estimator run. The configuration in particular I wanted to find was on how to write summaries after custom sized steps. I eventually found it in the RunConfig description, but I think it would be worthwhile to me

[2017-07-27 23:17] reedwm commented on #11831
The API also does not specify that the `config` parameter to [`tf.contrib.learn.Estimator`](https://www.tensorflow.org/api_docs/python/tf/contrib/learn/Estimator) should be a [`RunConfig`](https://www.tensorflow.org/api_docs/python/tf/contrib/learn/RunConfig). Often a tutorial does not contain all the details of a class, but we should at least specify this in the API.

@dr4b, @sandersk, thoughts?

[2017-07-27 23:18] saman-aghazadeh commented on #11626
Alright, so here I have one more question. If I have a model with specific operators, which gradients have not been implemented in C++ version, does it mean that during training it's gonna fail? Or it's silently continue execution with no update on the variables? I'm asking this because I'm trying to validate how much using C++ interface is practical for training models!

[2017-07-27 23:31] faifai21 commented on #11334
@asimshankar Thanks for the response. I've spoken to our iOS engineers a few more times and it seems like the memory leak does not actually happen in iOS land. This seems to be an issue on Android only, perhaps in the JNI methods?

[2017-07-27 23:33] dandelionmane commented on #11635
Hi @BinhangYuan,

You're right that we changed the TensorBoard build system a lot. We no longer use node and associated tooling, we found it was really hard to keep multiple build systems synchronized, since we were using bazel internally and node externally. The result was a really painful build process in open source.

Now, as you can see at [DEVELOPMENT.md](https://github.com/tensorflow/tensorb

[2017-07-27 23:53] reedwm commented on #11771
/CC @mrry

[2017-07-28 00:13] foslabs commented on #2883
Tried the quantize_graphy command by @jakublipinski to regenerate pb file. It doesn't solve 'negative output' issue in my case.
I followed all instructions above. Everything works great till the log shows "...Running model failed: Invalid argument: computed output size would be negative...". Does the training picture size matter here?

[2017-07-28 00:14] ericlormul opened #11836 "'module' object has no attribute 'BasicLSTMCell'"
Hello guys,

I'm adopting a project of version 1.1.0 to version 1.2.1. Looks like some APIs have changed. I'm new to tensorflow, could someone tell what's the new APIs for those old ones below:

from tensorflow.contrib.rnn.python.ops import core_rnn_cell_impl as rnn_cell

core_rnn_cell_impl doesn't exist, but I need BasicLSTMCell is in rnn_cell.

Thank you very much.

Eric

[2017-07-28 00:36] byronyi commented on #11725
I noticed the date of that commit is 6 days ago, but I remember, if correctly, the issue came out earlier than that.

Please ignore me if I'm wrong. Maybe you guys could revert that commit locally first and test if the issue could still be reproduced.

[2017-07-28 01:41] WilliamTambellini commented on #11471
We are seeing similar crash with ArrayFire, which is doing just like XLA (JIT).
nvidia driver 375.51 seems more stable and we dont see crash with it...
TBC

[2017-07-28 02:03] gauss-clb opened #11839 "tf.train.ExponentialMovingAverage.variables_to_restore"
When I view the API doc, [tf.train.ExponentialMovingAverage.variables_to_restore](https://www.tensorflow.org/versions/master/api_docs/python/tf/train/ExponentialMovingAverage#variables_to_restore). It said `If a variable has a moving average, use the moving average variable name as the restore name; otherwise, use the variable name.`, but I test it is wrong.
Look the code:

[code]
And the output i

[2017-07-28 02:14] liuzqt commented on #11804
@andrewharp @aselle adding fft_ops.cc to build file solve the problem, many thanks!  But it come up with a new problem, when running fft, raise this exception:
`Caused by: java.lang.IllegalArgumentException: DataType 8 is not recognized in Java (version 1.3.0-rc0)
                                                       at org.tensorflow.DataType.fromC(DataType.java:66)

[2017-07-28 02:50] jiqiujia opened #11840 "Using a `tf.Tensor` as a Python `bool` is not allowed"
[code]
When I run the code above, I encounter the following errors:

But when I change to the following code, it doesn't raise a exception
[code]
with the output of

[False False False]

It seems to be a bug, or it's designed to be so?

[2017-07-28 02:57] yaroslavvb commented on #11840
Not a bug, `b` is treated as the `feed_dict` argument, you probably meant to do `ss.run([a,b])`

[2017-07-28 02:57] #11840 closed

[2017-07-28 03:01] jiqiujia commented on #11840
Oh, yes, what a careless mistake! Thank you very much.

[2017-07-28 03:21] linyia01 opened #11841 "arg_max error"
my code is

y=tf.Variable(tf.random_normal(shape=[2,5,3,10,12 ,5 ]))
a=tf.arg_max(y,0)
a.shape
sess=tf.Session()
sess.run(tf.global_variables_initializer())
sess.run(a)

error is :
InvalidArgumentError (see above for traceback): ArgOp : Unhandled input dimensions: 6
	 [[Node: ArgMax_7 = ArgMax[T=DT_FLOAT, Tidx=DT_INT32, _device="/job:localhost/replica:0/task:0/cpu:0"](Variable_9/read, ArgMax_7/dim

[2017-07-28 03:42] learyg commented on #11788
Landed in 32e198f2d5787ca81aba89bf073e4eb380769253

Thanks for filing! Let us know if you have other issues.

[2017-07-28 03:42] #11788 closed

[2017-07-28 04:32] ppwwyyxx commented on #11810
They all work for network whose inputs/outputs are partially defined. I can train FCN with unknown input shapes with adam without any problems.

Your error log indicates that you have some trainable variables that are partially defined. This is unsupported and you probably have done something wrong in your code.

[2017-07-28 04:53] junshi15 commented on #11725
That patch is unrelated to this bug.  I am testing code prior to that. With that patch, the RDMA path won't run, and you will get an immediate crash.

[2017-07-28 05:57] anjany commented on #11810
@ppwwyyxx , thank you for responding. As far as I know, all my trainable parameters are shape-defined. My only 'partially' defined objects are the placeholders for input images and true labels. But, I'll go through it again as you suggested.

However, at this moment, the same code (with Adam) runs on a machine with TF1.0, while fails on TF1.2. It also worked before I upgraded:

If you know anythin

[2017-07-28 06:13] clemens-tolboom commented on #11785
I agree with same code/git base.

Having notebooks unittested would be great. That probably would solve python version differences on ie https://www.tensorflow.org/get_started/* too.

@wolffg where is that discussion documented?

Is a link to raw version not enough?

[2017-07-28 06:15] rafaelsimonmaia commented on #11761
I compiled TF 1.2 with GPU support for my mac pro. It runs fine so far. R1.3 is not really out yet, and it is a bit broken right now for macs. Biggest issue seems compiler compatibility. llvm/clang 9 is not really getting along with cuda 8 yet and some other stuff seem to be broken too.

[2017-07-28 06:23] ppwwyyxx commented on #11810
[This line](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/slot_creator.py#L169) in tensorflow seems to be causing the problem:
[code]
The first line return either a TensorShape or a Tensor, depending on the condition. This is probably a bug anyway. In the above case it somehow returns a Tensor, which causes AttributeError in the second line.

Since the first line

[2017-07-28 06:32] anjany commented on #11810
Yes, that line indeed looks fishy. There were a few [changes](https://github.com/tensorflow/tensorflow/commit/8f75f24a52a7645a4ef93cbe244d45d30d5e4a3f) made to the slot_creator.py in March '17. I got as far as this, and then lost the trail.

Unfortunately, I cannot post my raw code here. I'll try to build a simpler block where this error is reproducible. Again, thank you!

[2017-07-28 08:00] yick2232 commented on #11602
Thanks, I already finished the book that you gave me. I got a lot, and I find there is a discussion in [other issue of seq2seq](https://github.com/google/seq2seq/issues/81). They solve my problem.

[2017-07-28 08:02] fodortibi commented on #9672
I have the same problem even with 1.3.0rc0 win7 CPU.
tensorflow-1.3.0rc0-cp35-cp35m-win_amd64.whl
https://pypi.python.org/packages/44/43/bcacb6d0a1b63bb0e000a5301079dc66f4da842923878b371a63645ee188/tensorflow-1.3.0rc1-cp35-cp35m-win_amd64.whl#md5=95b003c917ce4f535fab12a149a953d1

Jupyter notebook:
http://www.anishathalye.com/media/2017/07/25/adversarial.ipynb

NotFoundError: Op type not registered

[2017-07-28 08:05] nolanliou commented on #7251
@girving @skye The [#8260 PR](https://github.com/tensorflow/tensorflow/pull/8260) has been stalled in the past few months, and I also need the GPU version of dynamic_stitch op recently. So may i take over the issue? Thanks.

[2017-07-28 08:43] StatML opened #11843 "bazel build error: no such package '@protobuf//src/google/protobuf'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04.2
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.2.x
- **Python version**:  3.5
- **Bazel version (if compiling from source)**: 0.4.5
-

[2017-07-28 08:55] snnn commented on #11843
Please fill the form

[2017-07-28 09:03] anjany commented on #11810
@ppwwyyxx : Here you go! Find the partially shape-defined placeholders (input_pl and mask_pl) toward the end of the code block. In my environment, this block does give me the above mentioned errors.

[code]

[2017-07-28 09:04] jubjamie commented on #8828
Cheers. Guess this might as well be closed now @cancan101 ?

[2017-07-28 09:08] deepali-c commented on #11836
Please check here - https://www.tensorflow.org/api_docs/python/tf/contrib/rnn/BasicLSTMCell

[2017-07-28 09:15] StatML commented on #11843
Hi, @snnn  I had fill the form. Thanks!

[2017-07-28 10:31] jasdeep06 opened #11844 "tf.contrib.rnn.static_rnn not found"
I am using tensorflow version 0.12.1 and trying to implement simple RNN using static_rnn.

    lstm_layer=tf.contrib.rnn.LayerNormBasicLSTMCell(n_hidden,forget_bias=1)
    outputs, states = tf.contrib.rnn.static_rnn(lstm_cell, x, dtype=tf.float32)

The IDE is not able to resolve `static_rnn`.

In tensorflow documentation `tf.contrib.rnn.static_rnn` is listed [here](https://www.tensorflow.org/api_g

[2017-07-28 10:44] shamazharikh opened #11846 "Fractional 3d Max Pooling"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.2.0
- **Python version**: 3.5.2
- **Bazel version (if compiling from source)**:
- **

[2017-07-28 10:49] JerrikEph commented on #11598
Try this:
[code]
Because encoder_state is a LSTMStateTuple, so you can't simply tile a tuple, but tile every element in a tuple, then pack it as LSTMStateTuple.

[2017-07-28 11:03] anjany commented on #11844
You seem to be using an older version of tensorflow. 'contrib' module was introduced after TF1.0, I guess. You can either upgrade to a newer version of TF or use the `tf.nn` module which has what you need.

Any reason why you didn't fill the form?

[2017-07-28 11:28] zhedongzheng commented on #11598
@JerrikEph After changing code to this:
[code]
The old problem is solved, however a new error occurs as:
[code]
The error seems pretty hard to understand

[2017-07-28 11:39] nesadiankemo commented on #2680
Hi, @Mr-Grieves . I fix the same problem by change all occurrences(2) of the following in tensorflow/core/framework/register_types.h
`#define TF_CALL_bool(m)`
to
`#define TF_CALL_bool(m) m(bool)`.
It work for me, hope it will help you.

[2017-07-28 11:56] jasdeep06 commented on #11844
Thanks for the response.My mistake.Pycharm and console show different version of tensorflow.I've resolved it.I was pretty sure it was version problem but pycharm indicated otherwise.

[2017-07-28 11:56] #11844 closed

[2017-07-28 12:25] ShapingView opened #11847 "Bug: Op type not registered 'BlockLSTM' in binary"
### Describe the problem
I want to load and run a single tensorflow model within another C++ project. To do this, I defined the `tensorflow_all` library in [`tensorflow/BUILD`] which should include all the necessary dependencies. (Details below)

When loading the tensorflow model via the C++ API ([LoadSavedModel]), the following runtime error occurs:

[LoadSavedModel]: https://github.com/tensorflo

[2017-07-28 12:30] #11598 closed

[2017-07-28 13:11] snnn commented on #11843
**Personally**, I don't think it's a bug of tensorflow. 1.2 is a release version. Recently, I build it everyday, for many times. I never encountered this error. If you are seeking help, please close this issue and go to Stack Overflow.

[2017-07-28 13:36] cancan101 commented on #8828
This can probably be closed though I would ask is cuDNN merely linked against or is TF using the features offered (main ones being dilated convolution and fused conv + bias + activation)?

[2017-07-28 13:46] spacetrain commented on #9697
For GCE instance running on skylake, Ubuntu 16.04, according to @mwytock, I have successfully compiled r1.2 with some modification to tensorflw/workspace.bzl
Change the section "eigen_archive" to

  native.new_http_archive(
      name = "eigen_archive",
      urls = [
          "http://mirror.bazel.build/bitbucket.org/eigen/eigen/get/9c6361787292.tar.gz",
          "https://bitbucket.org/eigen/eig

[2017-07-28 13:50] rubenvereecken opened #11848 "Can't import graph containing batch_sequences_with_states"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Mint 18
- **TensorFlow installed from (source or binary)**: Binary (pip)
- **TensorFlow version (use command below)**: v1.3.0.0rc0
- **Bazel version (if compiling from source)**: N/A
- **CUDA/cuDNN vers

[2017-07-28 13:50] lllyasviel commented on #11690
I reviewed the code and finally found I was wrong. I am sorry for that. The keras implementation is good. 👍
ps: maybe use default axis = -1 is better? Many keras users prefer directly writing "x = InstanceNormalization()(x);" when the last layer is a channel-last conv2d. In this case, it will take them many time to finally found out that they should add "axis=3".
I know that the default axis=None

[2017-07-28 14:03] paolof89 commented on #11812
I runned the `nvidia-smi` command while just before the crash. Here the output:
`Fri Jul 28 14:01:37 2017
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 367.48                 Driver Version: 367.48                    |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A

[2017-07-28 14:28] perone commented on #10827
Same problem on tensorflow-gpu==1.3.0rc0

[2017-07-28 14:29] flamoedo commented on #9469
Try to use cuDNN v5.1 for CUDA 8.0, this solves the issue for me.

[2017-07-28 14:42] duongnt commented on #11803
I'm having the exact same problem, but I didn't compile from code

**System information**

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command bel

[2017-07-28 14:55] michaelpetruzzellocivicom commented on #11674
@nkashy1

From my understanding of export_saved_model on custom models you will need to work with feature dicts for the export to work.

I came across this same issue as I just pass tensors to the model. So what I did was check to see what type of features are being passed in (straight tensors or features). If it is just tensors, do the normal code. If it is the features dicts, then I convert it t

[2017-07-28 16:03] arthitag opened #11851 "'No module named tensorflow' error in jupyter notebook after installing tensorflow-gpu using pip in the same virtual environment. I am using python 2.7.12."
I am trying to use tensorflow-gpu on Ubuntu16.04. I installed tensorflow via pip inside virtual environment, and other required libraries. When I start jupyter notebook in the same environment and try to run a code that uses tensorflow, the line 'import tensorflow as tf' gives an error.
It says no module named tensorflow. I had a similar problem with skimage(I initially installed scikit-image inst

[2017-07-28 16:13] aselle commented on #11846
As far as I know we're not working on this currently, but it would make a useful feature.

[2017-07-28 16:13] ppwwyyxx commented on #11810
Why do you use `validate_shape=False`? This gives you a variable of unknown shape.

[2017-07-28 16:15] jrabary commented on #11715
+1 In my case I added a tf.map_fn to decode a set of images. I noticed that the simple fact of adding tf.map_fn in the graph causes this problem.

[2017-07-28 16:27] July-Morning commented on #10669
Any ideas?
I have uploaded my scripts and model files to github:
https://github.com/July-Morning/Tensorflow_model_utils
I have restore_model.py running 2 times faster than load_frozen_graph.py or load_savedmodel.py for this specific model.
May be that would help somehow...

[2017-07-28 16:29] gogo40 commented on #10157
Thank you @ljanyst

[2017-07-28 16:32] prb12 commented on #11803
@laket Thanks for the issue report and the clear investigation.  I agree that it looks like the tracing buffers aren't getting flushed.

The docs on `cuptiActivtyFlushAll` are a bit vague about what those flags mean and we have been running without `CUPTI_ACTIVITY_FLAG_FLUSH_FORCED` for a long time without seeing this issue.  I guess something has changed in recent driver versions,

I don't see a

[2017-07-28 16:33] reedwm commented on #11812
If multiple TensorFlow processes are used, either [`per_process_gpu_memory_fraction`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/protobuf/config.proto#L21) or [`allow_growth`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/protobuf/config.proto#L40) should be passed to the TensorFlow Session in a `ConfigProto` to prevent one process from using all th

[2017-07-28 16:33] aselle commented on #11817
@gunan, is there anyway to run the tests using the easier to use cmake build?

[2017-07-28 16:41] aselle commented on #11724
Thanks for the insight @yaroslavvb!

[2017-07-28 16:42] arthitag commented on #11851
I also tried "import tensorflow-gpu as tf" but it gives an "invalid syntax" error.
in the terminal, inside the virtual environment for tensorflow, "pip show tensorflow" yields nothing. However "pip show tensorflow-gpu" shows the version information below:
Name: tensorflow-gpu
Version: 1.2.1
Summary: TensorFlow helps the tensors flow
Home-page: http://tensorflow.org/
Author: Google Inc.
Author-emai

[2017-07-28 16:48] arthitag commented on #11851
$ pip freeze
adium-theme-ubuntu==0.3.4
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0rc1
bleach==1.5.0
configparser==3.5.0
cycler==0.10.0
Cython==0.23.4
decorator==4.0.6
entrypoints==0.2.2
enum34==1.1.6
extractframes==0.16
funcsigs==1.0.2
functools32==3.2.3.post2
h5py==2.7.0
html5lib==0.9999999
imageio==2.2.0
ipykernel==4.6.1
ipython==5.4.1
ipython-genutils==0.2.0
ipywidgets==6.0

[2017-07-28 16:51] yaroslavvb commented on #11724
@dburkhardt as a possible work-around, can you try lowering the number of MKL threads?
Set env var MKL_NUM_THREADS

[2017-07-28 16:52] arthitag commented on #11851
I think I have a hint about the source of the problem:

~$ which python
~/venv4Tensorflow/bin/python
~$ which jupyter
/usr/local/bin/jupyter
~$ which ipython
/usr/local/bin/ipython

[2017-07-28 17:00] arthitag commented on #11851
And here's the solution:
http://help.pythonanywhere.com/pages/IPythonNotebookVirtualenvs
Hope this helps anyone else who gets stuck with this issue.

[2017-07-28 17:10] reedwm commented on #11841
`tf.arg_max` only handles tensors with a 5 or less dimensions. See [argmax_op.cc](https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/core/kernels/argmax_op.cc#L91).

If you want to run `tf.arg_max` on higher dimension tensors, explain why and reopen this bug.

[2017-07-28 17:12] tfboyd commented on #11802
This is true.  We are working with Intel to add this feature.  It may take some time as this feature does not seem to be implemented in the underlying library.  Intel has indicated that they have customers also very interested in conv3d.  I will keep it assigned to me and this may take time.

[2017-07-28 17:22] reedwm commented on #4589
We're currently working on adding float16 ops to more TensorFlow ops, such as `tf.nn.fused_batch_norm`, as well as increasing the performance when using float16 ops. Although float16 ops use float32 internally for computations to avoid numerical precision issues, using float16 ops will result in increased performance over their float32 counterparts when run on P100 GPUs due to the reduced memory t

[2017-07-28 17:40] Valentin4869 commented on #6722
Sorry, I know you closed this, but I've ran into this problem myself today and have been trying to understand what's wrong for 13 hours with no answer. I wonder if you managed to figure out what was wrong? It seems to me that it's a bug with TF.

I imported some weights from a Caffe network into TF, and for verification I used MATLAB. I also have two OpenCL implementations using FFT convolution an

[2017-07-28 17:54] liuliu commented on #11361
@josh11b thank you for the explanation. That makes a lot of sense now. Do you have any suggestions on how to move these static initializers to other places besides the macro changes? Alternatively, I can scan the REQUIRE_OP function, and move all of them into a different method.

[2017-07-28 18:15] anjany commented on #11810
Wow! I did not know that. That is probably a remnant of my earlier attempts to make it shape-independent. It now works. Thank you! I'll close this now unless you this we should report this:
[code]

[2017-07-28 18:16] #11810 closed

[2017-07-28 18:17] yaroslavvb commented on #11806
Can [reproduce](https://github.com/yaroslavvb/stuff/tree/master/mavelin) using single machine, maybe @saeta has an idea? Essentially a worker named `/job:b/replica:0/task:1` is complaining that it doesn't know about worker named `/job:b/replica:0/task:1`

[2017-07-28 18:18] reedwm commented on #11839
This behavior is confusing but it is not a bug. When calling `variables_to_restore`, you are supposed to indicate what variables have moving averages through its `moving_avg_variables` parameter. `ExponentialMovingAverage` doesn't actually use its own stored averages to determine what variables have moving averages, but instead relies on `moving_avg_variables`.  `moving_avg_variables` defaults to

[2017-07-28 18:21] mari-linhares commented on #11823
You need to have a TF_CONFIG environment variable, example for TF_CONFIG in the master:

[code]
Then you can run the following script in all the machines.
[code]

[2017-07-28 18:31] reedwm commented on #11851
Thank you for posting the solution once you resolved the issue.

[2017-07-28 18:31] #11851 closed

[2017-07-28 18:39] reedwm commented on #11847
/CC @josh11b Can you comment? I know nothing about the C++ API, but it does seem strange how the [`lstm_ops_kernels`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/rnn/BUILD#L342) rule includes GEMM kernels but not LSTM kernels. Is this a bug?

[2017-07-28 18:43] aselle commented on #11804
It seems like complexabs is not implemented. You could just try removing the #if !defined and see if it works. I'm not sure why that check was put in, but it is possible that it was for an old version that didn't support the complex type. @petewarden , any ideas?

[2017-07-28 18:44] ppwwyyxx commented on #11810
Those two lines still look suspicious. Any comments? @aselle

[2017-07-28 18:48] chihuahua opened #11856 "tf.variables_initializer seems broken."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: The nightly wheel.
- **TensorFlow version (use command below)**: The nightly build that went out at 2AM on 7/28/2017: https://ci.tensorflow.or

[2017-07-28 18:57] chihuahua commented on #11856
It seems like indenting `print(sess.run(result))` one to the right does away with the exception. Like this:
[code]
However, it doesn't seem like that was necessary yesterday. And it would be nice if that were not necessary (to save one level of indentation for most of the function).

[2017-07-28 19:02] reedwm commented on #11843
I can not reproduce on Ubuntu 14.04. I installed python3-protobuf with pip3 in a virtualenv, than used the corresponding python3 in the virtualenv when installing TensorFlow. It built fine.

Can you post the input/output when you run `./configure`? Also, try without sudo after doing a `bazel clean`, there is no need to use sudo when building.

[2017-07-28 19:06] chihuahua commented on #11856
Actually ... indeed, that won't work because mostly likely, I'm not running the session within a control dependency block.

[2017-07-28 19:09] yaroslavvb commented on #11856
This also fails on 1.2.1 version of TensorFlow. Theory -- "v+1" is relying on `Variable/read` node which is created outside of `tf.control_dependencies` block, and therefore doesn't have proper control dependency. The following makes it pass. cc @alextp

    result = tf.assign(v, v.read_value() + 1)

[2017-07-28 19:22] #11578 closed

[2017-07-28 19:22] #10754 closed

[2017-07-28 19:30] gunan commented on #11817
While the recommended way is to use bazel, most of our tests "should" run without bazel, just by running `python <filename>`.
For the equivalent of what we are running on our CI for windows, you may check this script:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/ci_build/windows/gpu/cmake

[2017-07-28 19:34] alextp commented on #11856
Also swapping the variables with resource variables (using
get_variable(..., use_resource=True) to construct the variables) makes this
issue go away.

On Fri, Jul 28, 2017 at 12:11 PM, Yaroslav Bulatov <notifications@github.com

--
 - Alex

[2017-07-28 19:49] WilliamTambellini commented on #11471
The crash in
cuModuleLoadDataEx>fatBinaryCtl_Compile>__cuda_CallJitEntryPoint
also disappears with nvidia drivers 384.59.
There seems to be a background bug in nvidia driver sources that is randomly effective according to the version of the drivers. The bugtracker of nvidia is not public so hard to say if they are aware of that bug.

[2017-07-28 20:09] chihuahua commented on #11856
I think I still want to use a `tf.Variable` instead of a resource one because the test uses a `ScatterAdd` op here: https://github.com/tensorflow/tensorboard/blob/02f97383951f57dacb462fb6335f461f32ac7141/tensorboard/plugins/pr_curve/summary.py#L162

And the scatter add seems to err when passed resource variables:

[code]

Is there a way to include that `Variable/read` op in the control dependency

[2017-07-28 20:13] alextp commented on #11856
There's a resource_scatter_add op which can be used instead.

On Fri, Jul 28, 2017 at 1:11 PM, Chi Zeng <notifications@github.com> wrote:

--
 - Alex

[2017-07-28 20:14] perone commented on #8828
It seems that the 1.3.0rc0 is just linked with the cuDNN 6, because I didn't noticed any performance improvement using dilated convolutions with 1.3.0rc0 and cuDNN 6.

[2017-07-28 20:19] gunan commented on #8828
Correct, we moved the linked library to cudnn 6, but we are still not using the full power of it.
@zheng-xq @tfboyd may have more to say on the timeline for using the new cudnn 6 features.

[2017-07-28 20:20] chihuahua commented on #11856
It seems like `resource_scatter_add` is only supported by eager mode for now? I don't see it in the `tf.` namespace, and the test is open-source.

[2017-07-28 20:27] agupta74 commented on #4589
@reedwm Does it mean that TensorFlow does not plan to implement native FP16 (half-precision) FMA Cuda ops (opcode HFMA2) -- [https://devblogs.nvidia.com/parallelforall/mixed-precision-programming-cuda-8/](url) ? For inference there could be some applications which could have a significant speedup (theoretically 2x increase in FLOPS) and it is acceptable for these applications to have reduced preci

[2017-07-28 20:31] wuharvey commented on #11791
I'd like to try working on this.

[2017-07-28 20:31] wuharvey commented on #11846
I'd like to try working on this.

[2017-07-28 20:47] snarb commented on #4589
News say that Intel will also add native  fp16 support for next Intel Xeon Phi processor (Knights Mill is commonly suggested) this year. There are few research that shows that in many cases fp16 is enouph for deep learning. Maybe not in all, but in many. Mb will be beter to allow the user make choice what presision is enouph? For example for my RL task I definitly know that fp16 presision  is  eno

[2017-07-28 20:48] shirishr commented on #11817
Thank you gunan,

That is exactly how I ran the test:

and that is how I got the error message described in the issue.

No big deal..I commented the line out. and..commented out every line that lead to similar error.

I was only interested in checking if my gpu is working at all. The test (with few lines commented out) did tell me it was working alright.

I felt obliged to let wonderful people at

[2017-07-28 20:54] aselle commented on #11806
Brennan @saeta , could you please take a look?

[2017-07-28 20:54] gunan commented on #11817
To check if my GPU is working or not, I like to use `tf.test.is_gpu_available()` method.
This only checks if the GPU is accessible. The computations are still best checked by unit tests.

[2017-07-28 20:55] aselle commented on #11626
If the gradient is not implemented in C++, we don't register a kernel, so it will definitely give you a "no kernel found" type error.

[2017-07-28 21:08] shirishr commented on #11817
Thank you sir !

Will try that out !!

Bye for now,
Shirish

________________________________
From: gunan <notifications@github.com>
Sent: Friday, July 28, 2017 8:56 PM
To: tensorflow/tensorflow
Cc: Shirish (Sam) Ranade; Author
Subject: Re: [tensorflow/tensorflow] Looks like a bug tensorflow 1.2.1 with gpu error during basic_gpu_test (#11817)

To check if my GPU is working or not, I like to use tf

[2017-07-28 21:50] AngusG commented on #1592
It's still a bit rough, but I thought i'd share my custom op with an mnist training example and benchmarks against tf.matmul. Feedback and suggestions welcome!

https://github.com/AngusG/tensorflow-xnor-bnn

[2017-07-28 22:21] alex-taffe opened #11859 "no such package '@local_config_cuda//cuda'"
Please go to Stack Overflow for help and support:

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

No

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Linux — Ubuntu Server 16.04 LTS

Linux PowerEdge-R810 4.4.0-87-generic #110-Ubuntu SMP Tue Jul 18 12:55:35 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

- **Ten

[2017-07-28 22:26] reedwm commented on #4589
@agupta74  Currently, float16 matmuls do compute in float16 if the environmental variable [TF_FP16_MATMUL_USE_FP32_COMPUTE](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/util/matmul_autotune.cc#L44) is set to "False". We plan on adding a similar environmental variable to convolutions.

We are currently discussing whether to expose this as an argument, e.g. adding a `gpu_comp

[2017-07-28 22:35] reedwm commented on #11823
Thanks for the info, I did not know about TF_CONFIG. I was not able to reproduce locally by running 3 processes on my local machine, but I didn't try on separate machines. How long does it usually take before the error occurs? I ran for about 30 minutes.

Also, when running with 1 master, 1 worker, and 1 ps, did you set --num_workers=1 (it's set to 2 in your example above).

@ali01 Can you look in

[2017-07-28 22:52] reedwm commented on #11859
@jrvb Can you take a look? This is similar to #9435, but the error message is a bit different.

[2017-07-28 22:55] aselle commented on #11817
Thanks gunan

[2017-07-28 23:06] aselle commented on #11798
What is the exact command you are running to produce this error? Is this just doing import tensorflow as tf from a python shell?}

[2017-07-28 23:52] Helique commented on #11859
I have been having this same problem for the last day. I have installed the latest version of bazel (0.5.3). I previously got a build working, but then uninstalled it. When I went back to reinstall, I encountered this error. Two days ago I also was able to get this working on docker, but now it also does not work in docker.

#Environment Data
[code]

#Bazel Build Version
[code]

#Error Message

[c

[2017-07-29 00:11] jeroenherczeg commented on #11859
I have the setup and problem as @Helique.

[2017-07-29 00:12] suryaprakaz opened #11863 "AbortionError(code=StatusCode.NOT_FOUND, details="FeedInputs: unable to find feed output ToFloat:0")"
Hello
I am trying to host the *ssd_mobilenet_v1_coco* model from the Tensorflow Object Detection API model zoo with Tensorflow Serving.

I was able to successfully export the model with the exporter script in `models/object_detection/exporter.py` as a SavedModel. The issue arises when I tried to run the modified client

[code]

Here's the traceback for the gRPC request

[code]

I am using this [co

[2017-07-29 00:28] StatML commented on #11843
Hi, @reedwm  I re-build using bazel after doing a `bazel clean`, it works now. (I don't know why :P) Thanks a lot!  Also thanks @snnn !

[2017-07-29 00:28] #11843 closed

[2017-07-29 00:35] fabriciorsf commented on #11157
I get this same error with Keras+TensorFlow on `fit_generator`.
And the same code with Keras+Theano works fine.

Follow the command gets the error:
[code]
The error:
[code]

__System information:__

__Have I written custom code:__ Yes
__OS Platform and Distribution:__ Linux GnomeUbuntu 16.04, but with new kernel
__TensorFlow installed from:_ pip
__TensorFlow version:__ 1.2.1
Python version: 3.6.1

[2017-07-29 01:22] brightbytes-dude commented on #10779
I'm getting exactly this same issue on MacOSX 10.11.6

I first followed exactly the steps here for the `virtualenv` setup for Python 3.n: https://www.tensorflow.org/install/install_mac

Then, following the first 2 steps in this tutorial https://www.tensorflow.org/get_started/mnist/beginners I see the following; any suggestions for working-around this (e.g. could I download this from somewhere else

[2017-07-29 01:25] wentaol commented on #11859
Rolling bazel back to 0.5.2 seems to fix the problem

[2017-07-29 01:29] jeroenherczeg commented on #11859
@wentaol How do you rollback to 5.2?

[2017-07-29 01:32] wentaol commented on #11859
`sudo apt-get purge bazel `
followed by installation from 0.5.2 binaries
https://docs.bazel.build/versions/master/install-ubuntu.html

[2017-07-29 01:47] jeroenherczeg commented on #11859
@wentaol Thank you, i have downgraded to 0.5.2 and `bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package`seems to be running.

[2017-07-29 02:32] girving commented on #7251
@nolanliou Probably, pending @skye's thoughts, but if so it's probably worth describing the algorithm you plan to use.  The previous approach had some fundamental issues.

[2017-07-29 03:14] TomAshley303 commented on #4105
This is happening for me too. I already have TF installed and working for GPU via the runfile but I wanted to compile it for optimizations. I get:

[code]

Steps to reproduce:

[code]

If you notice that I've done something wrong, please let me know. I saw someone before mention something about `LD_LIBRARY_PATH` which I have set to `/usr/local/cuda-8.0/lib64`. I figured it was fine since as I said

[2017-07-29 03:35] sausax commented on #8652
@Pr0duktiv's solution worked for me.

[2017-07-29 04:40] vinayprabhu commented on #9672
Same issue here

- Windows 10
- GTX 960M
- Python 3.5 (Anaconda)
- tensorflow_gpu-1.2.1-cp35-cp35m-win_amd64.whl
- tf 1.2.1

[2017-07-29 04:54] Valentin4869 opened #11864 "tf.nn.conv2d produces incorrect results"
conv2d doesn't seem to produce results that are correct when compared with a C++ implementation and MATLAB's conv2. These errors are most pronounced when importing parameters from an external model. The same network in tf produces an accuracy of 60% while the original network has an accuracy of 97%. To verify that the problem indeed is in tf's conv2d, I used the following simple example:
**MATLAB

[2017-07-29 05:10] cuixue commented on #6269
@EloiZ  i meet the same problem, how you deal with it

[2017-07-29 05:46] ppwwyyxx commented on #11864
It's not a bug. Tensorflow's convolution is actually cross-correlation. This is mentioned in [the doc](https://www.tensorflow.org/api_guides/python/nn#Convolution).

If you add `k = k[::-1,::-1]` you'll see the same result.

[2017-07-29 06:01] Valentin4869 commented on #11864
Okay, thanks. I don't understand what is the justification behind this though, especially when considering how standard it is to use convolution and not cross-correlation.

[2017-07-29 06:05] ppwwyyxx commented on #11864
In deep learning world the standard implementation is to use cross-correlation, I think.

[2017-07-29 06:09] #11864 closed

[2017-07-29 07:04] pobingwanghai commented on #11327
Same error to conv3d!

[2017-07-29 07:04] pobingwanghai commented on #11327
Same error to conv3d when setting a dimension to 1.

[2017-07-29 07:05] pobingwanghai commented on #11327
Same error to conv3d when setting one dimension of the filter to 1.

[2017-07-29 07:05] aluo-x opened #11865 "Batchnorm errors in "successful" Windows builds"
* Current system configuration:
* Windows 10 64 bit, intel i7-7700HQ latest microcode, Nvidia 1050 4GB.
* Driver: 384.94
* Python used: Anaconda 4.4.0 Python 3.6.2 and 3.5.3
* CUDA/cuDNN: 8.0.61/5.1 or 8.0.61.2/6.0
* swigwin 3.0.12
* Built 1.2.1 from source using VS 2015 Update 3, CMake 3.9.0 or 3.9.0 RC5, swigwin 3.0.12.
* Code modifications: in builds with both cuDNN and AVX enabled, the code wa

[2017-07-29 07:12] aluo-x commented on #11865
A complete error print out:

[2017-07-29 08:24] ExonRen commented on #11859
Same problem and thanks @wentaol . Btw it is weird that bazel doesn't provide old versions in `apt-cache` once upgraded and rollback has to be done via binary installer.

[2017-07-29 08:29] pobingwanghai commented on #9576
The real error for me is out of memory, but it still raise this error.

[2017-07-29 08:44] jeremy-rutman opened #11866 "error in docs"
The docs [here]( https://www.tensorflow.org/versions/r0.12/api_docs/python/image/working_with_bounding_boxes)  for bounding boxes  have an error :
The paragraph reading

`For example, if an image is 100 x 200 pixels and the bounding box is [0.1, 0.2, 0.5, 0.9], the bottom-left and upper-right coordinates of the bounding box will be (10, 40) to (50, 180).`

would better go something like:

`For exa

[2017-07-29 09:05] suryaprakaz commented on #11863
I fixed it. I'm leaving the solution here if anyone faces this issue in the future.
Turns out I was trying to host with an older commit of tensorflow/models (which also happens to be the default submodule of tensorflow serving).
When I switched to the master branch of tensorflow/models, the error went away!

[2017-07-29 09:05] #11863 closed

[2017-07-29 09:52] AakashKumarNain opened #11867 "Dense layer throwing error with inputs from Keras Concatenate layer"
I think this is the most weird error I have ever seen. I concatenated the outputs of `max_pool` and `average_pool` using two different methods and passed the output to another dense layer as :

[code]

The error thrown is this:

[code]

As the incoming inputs are all `float32`, shouldn't the dense layer infer that itself?

[2017-07-29 10:41] davidpham87 commented on #11831
Related to this issue, I wonder if we should not try to update the tutorial to use the core Estimator API?

In general, are tutorials considered as contributions to Tensorflow?

[2017-07-29 11:54] jjallaire opened #11868 "keras resnet50 example yields different predictions than in stand-alone keras"
### System information

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No (using example from Keras documentation here: https://keras.io/applications/#classify-imagenet-classes-with-resnet50
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS X 10.12.6
- **TensorFlow installed from (source or binary)**: Binary (CPU Version)
-

[2017-07-29 13:26] alex-taffe commented on #11859
Yep bazel 0.5.2 fixed the problem for me as well, very strange

[2017-07-29 13:33] jjallaire commented on #11868
Observed the same behavior with `('v1.3.0-rc1-447-g4b50313', '1.2.1-rc1')`

[2017-07-29 15:13] guschmue commented on #9867
https://github.com/tensorflow/tensorflow/pull/11768 - closing.

[2017-07-29 15:13] #9867 closed

[2017-07-29 15:55] paulcwatts commented on #10779
@brightbytes-dude Did you run the command listed here: https://github.com/tensorflow/tensorflow/issues/10779#issuecomment-309134512

`/Applications/Python\ 3.6/Install\ Certificates.command`

[2017-07-29 16:54] feranick opened #11871 "Error during compilation of tensorflow-GPU using bazel 0.5.3"
Using Bazel 0.5.3 (from installer, both sh and deb) on Ubuntu 16.04 to compile tensorflow-gpu, I get the following error that fails compilation:

` Encountered error while reading extension file 'cuda/build_defs.bzl': no such package '@local_config_cuda//cuda': Traceback (most recent call last):
	File "/home/nicola/Software/tensorflow/gpu/tensorflow/third_party/gpus/cuda_configure.bzl", line 1039

[2017-07-29 17:54] ericyue opened #11872 "How to shutdown a tf.train.Server's port?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Pip
- **TensorFlow version (use command below)**:  1.2.1
- **Python version**:  2.7
- **Bazel version (if compiling from source)**: None

[2017-07-29 18:15] skearnes commented on #310
I'm seeing "python" from `python -c "from google.protobuf.internal import api_implementation; print(api_implementation._default_implementation_type)"` using a bazel build of TF 1.2.1.

[2017-07-29 18:35] skearnes commented on #310
FYI downloading and installing the [latest cpp whl](https://pypi.python.org/pypi/protobuf/3.3.0) from pypi fixes the issue for me.

[2017-07-29 18:37] yaroslavvb commented on #310
Also this https://www.tensorflow.org/versions/r0.12/get_started/os_setup#protobuf_library_related_issues

[2017-07-29 19:15] RylanSchaeffer commented on #11067
I thought I'd add more information and code, in case that can help someone help me.

As background, both my inputs and labeled outputs at each time step are vectors of shape `(4, )`. I run my encoder for 500 steps i.e. inputs have shape `(minibatch size, 500, 4)`, and my decoder runs for approximately 40-41 steps i.e. final output has shape `(minibatch size, 41, 4)`. Each output label depends roug

[2017-07-29 19:20] RylanSchaeffer commented on #11067
Most of my code was written before the NMT tutorial was released, so I read the code and then stepped through it, but I can't find any glaring differences. I do have a couple of additional questions.

1) I have two hypotheses. One is that I'm incorrectly accessing my model's alignments, and the other is that I'm screwing something up in a much more significant way. Just to eliminate the first as a

[2017-07-29 19:21] RylanSchaeffer commented on #11067
@lmthang , if you could help, I'd really appreciate it!

[2017-07-29 19:47] Jeffh2 commented on #7623
Ok, still a newbee problem here ... I have what seems like the same error. Reading this chain I tried to install the Visual C++ 2015 redistributable (x64 version) per @Carmezim. However that simply tosses an installer error that it cannot install over a newer version already on my system. So I also tried manually putting the existing msvcp140.dll into my User Variables %PATH% (as C:\Windows\System

[2017-07-29 20:09] ebrevdo commented on #11157
Try using the tf 1.3 rc

On Jul 28, 2017 2:35 PM, "Fabrício Raphael Silva Pereira" <
notifications@github.com> wrote:

[2017-07-29 20:55] subzerofun commented on #11761
@rafaelsimonmaia Cool! Could you point out what problems i could face when building from source – how to avoid getting stuck in the process? What did you need to install or change that you could compile it successfully?

[2017-07-29 21:11] hongjic commented on #11872
#4713  this issue might help you.
Also checkout [Coordinator and QueueRunner](https://www.tensorflow.org/versions/r0.12/api_docs/python/train/coordinator_and_queuerunner)
and there is a high level class [Supervisor](https://www.tensorflow.org/programmers_guide/supervisor) you may be interested.

[2017-07-29 21:13] yaroslavvb commented on #11872
There was an attempt to add this functionality in this PR https://github.com/tensorflow/tensorflow/pull/6185 by @llhe

Otherwise server stays open until the parent Python process quits.

In current situation you could implement this functionality by having a parent process running `while` loop and launching child Python processes which actually start the server

[2017-07-29 21:23] fchollet commented on #11867
`keras.layers.Concatenate`  is a class. `Concatenate()` returns a class instance, and it only expects an `axis` argument.

You could either:

1) Instantiate the class, then call it:

[code]

2) Use its functional interface, which is equivalent

[code]

I recommend 2).

[2017-07-29 21:23] #11867 closed

[2017-07-29 21:37] Arvinds-ds commented on #11868
I have noticed this issue for long. See [https://github.com/tensorflow/tensorflow/issues/11160](url). The predefined weights seem to be essentially random in tf.contrib.keras and issues do not seem to get much attention.  After some time trying to port my keras models to tf.contrib.keras, I have moved to tf-slim models/api which is excellent.

[2017-07-29 22:37] StephanH84 commented on #11571
For me it was likely solved by adding CUDA to Windows' path variable and then reinstalling tensorflow-gpu via pip (but here it took a version from cache). There were some issues at the start as comments:
[code]

Apart from that at least for my issue "this issue" can be closed.

[2017-07-29 23:50] rafaelsimonmaia commented on #11761
@subzerofun Perhaps you wanna give a try https://github.com/rafaelsimonmaia/tensorflow_for_macpro/blob/master/Compute%206.1/tensorflow-1.2.1-cp35-cp35m-macosx_10_7_x86_64.whl
It is for python 3 and Compute 6.1, so it should work on your machine.

To compile, I downgraded my clang to Apple LLVM version 8.0.0 (clang-800.0.42.1), which is found on the Command Line Tools for Xcode 8.2. Then I updated

[2017-07-30 01:24] chihuahua commented on #11856
I want to spend some time to fix this and move the read node into the dependency chain. Could someone please give me some guidance?

My alternative would be to rewrite a project to avoid scatter_add. That is a relatively big task. Furthermore, after a variable is "initialized", it seems reasonable for a user to assume that they can read from and update the variable.

[2017-07-30 01:55] liuzqt commented on #11804
@aselle I remove that #if !defined and it works! many thank!

[2017-07-30 03:08] Carmezim commented on #7623
@Jeffh2 hey Jeff, can you provide all the relevant info as TF version, using GPU/CPU etc?
As it notified you of a newer version it might be a different cause.
Could you try running this (script)[https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c]? It will help diagnosing the issue.

[2017-07-30 04:11] ebrevdo commented on #11598
You closed the issue, can you record for posterity how you resolved it?

On Jul 28, 2017 2:31 AM, "zhedongzheng" <notifications@github.com> wrote:

[2017-07-30 04:36] glhfgg1024 opened #11876 "All Windows GPU build links are broken."
The link (bolded) is broken in the webpage of "https://github.com/tensorflow/tensorflow".

<li>Windows GPU: <a href="**https://ci.tensorflow.org/view/Nightly/job/nightly-win/M=windows-gpu,PY=35/lastSuccessfulBuild/artifact/cmake_build/tf_python/dist/tensorflow_gpu-1.3.0rc1-cp35-cp35m-win_amd64.whl**">Python 3.5 64-bit</a> (<a href="https://ci.tensorflow.org/view/Nightly/job/nightly-win/M=windows-g

[2017-07-30 04:48] zhedongzheng commented on #11598
okay, the key is to:
* tile the encoder state separately
* make sure impute_finished is False
the complete code is:
[code]

[2017-07-30 05:11] loveJasmine commented on #11157
@ebigelow
it doesn't work!

[2017-07-30 05:19] Carmezim commented on #8317
Depending how you installed the required dependencies, Pip may be associated with a different Python installation that TensorFlow is trying to find e.g. `/Library/Python/2.7/site-packages/` but the Pip used was associated to `/usr/local/lib/python2.7/site-packages`.

This corrected to the installed packages associated in my case.
`export PYTHONPATH=$PYTHONPATH:/usr/local/lib/python2.7/site-package

[2017-07-30 05:33] ericyue commented on #11872
@yaroslavvb  thanks, it's exactly what I want to know. It seems that using a subprocess is a good choice currently since the grpc shutdown's incomplete  :)

[2017-07-30 05:33] #11872 closed

[2017-07-30 05:56] PiyushDatta commented on #11798
I wanted to run bitwise_ops_test.py, which runs this code:
`if __name__ == "__main__":
  googletest.main()`

And no, I'm running it on an IDE, on a anaconda environment.

[2017-07-30 06:56] ccdavid commented on #11541
Having the same issue. I have a computation with no feeds and don't see a fundamental reason why this wouldn't work. Are there updates on this?

[2017-07-30 07:00] ericyue opened #11877 "Why tf.FIFOQueue didn't removed when using tf.reset_default_graph?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Pip
- **TensorFlow version (use command below)**:  1.2.1
- **Python version**:  2.7
- **Bazel version (if compiling from source)**: None

[2017-07-30 08:25] jubjamie commented on #11571
Those are just warnings to do with possible ways to improve performance if compiling from source. They are normal and can be ignored. If you're happy the issue is solved you can close it yourself!

[2017-07-30 08:44] lifewadwdv opened #11881 "python ImportError: No module named 'scipy'"
In [1]:from sklearn import linear_model
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-1-a6ebbebad697> in <module>()
----> 1 from sklearn import linear_model
C:\ProgramData\Anaconda3\envs\tensorflow-gpu\lib\site-packages\sklearn\__init__.py in <module>()
     55 else:
     56

[2017-07-30 09:54] aluo-x commented on #11865
Running a diff -b on the extracted files from the official functioning tensorflow_gpu-1.2.1-cp36-cp36m-win_amd64, and my build tensorflow_gpu-1.2.1-cp36-cp36m-win_amd64_cuDNN5_2:

Files tensorflow_gpu-1.2.1-cp36-cp36m-win_amd64/tensorflow_gpu-1.2.1.data/purelib/tensorflow/contrib/rnn/python/ops/_gru_ops.dll and tensorflow_gpu-1.2.1-cp36-cp36m-win_amd64_cuDNN5_2/tensorflow_gpu-1.2.1.data/purelib/te

[2017-07-30 10:11] jnjaby opened #11882 "conv2d_transpose produce different results on GPU"
### System information
== cat /etc/issue ===============================================
Linux ST 4.2.0-42-generic #49~14.04.1-Ubuntu SMP Wed Jun 29 20:22:11 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
VERSION="14.04.4 LTS, Trusty Tahr"
VERSION_ID="14.04"

== are we in docker =============================================
No

== compiler =====================================================
c++ (Ubuntu

[2017-07-30 12:45] SAGARSURI opened #11883 "Error while building android project from tensorflow/examples"
`Error:/Users/sagarsuri/tensorflow/tensorflow/core/BUILD:194:1 Failed to get cached inputs: Could not determine containing package for external/protobuf/src/google/protobuf/stubs/common.h.`

I am getting the above error while building Android project which is provided in the examples folder.

I executed this command to pull tensorflow project to my mac:

`git clone https://github.com/tensorflow/te

[2017-07-30 13:02] derwentx commented on #9072
Hey all,
That's an unfortunate but understandable decision to remove support for macOS in 1.2.

If we wanted to try to improve the CUDA driver situation in macOS, who should we go to for support? Is the problem an issue with NVidia's drivers or Apple's OS?

I presume if there are thousands of tensorflow developers who use macs, all asking either NVidia or Apple to improve the situation, then somet

[2017-07-30 15:15] uglybachelor opened #11884 "Bazel build failure with gpu version"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
1.2.0, I'm installing from tha master branch
- **Python ver

[2017-07-30 15:26] TonySnark commented on #6589
Getting same error.

[2017-07-30 16:00] EAZYE9000 commented on #6589
It was months ago I got this. Run me through what you're trying to do, maybe I can help. @avi-jain @TonySnark

[2017-07-30 16:10] yaroslavvb commented on #11856
@chihuahua replacing the line with `tf.assign(v, v.read_value() + 1)` will refer to the proper read node.

The issue is that the tensor is retrieved from `_snapshot` in [AsTensor](https://github.com/tensorflow/tensorflow/blob/faf7c32ab27dad24d2d806a16d1371ecb4671fc8/tensorflow/python/ops/variables.py#L367) which is initialized during variable construction. One might modify `AsTensor` to check whet

[2017-07-30 16:20] clemens-tolboom commented on #11876
The link https://github.com/tensorflow/tensorflow works for me.

Which link pointing to what page is broken?

[2017-07-30 16:27] Zumbalamambo opened #11885 "Command 'graph_transforms/transform_graph' not found."
i ran the following script since i want to optimise the graph for using in android.

[code]
Im getting the following error..

`Command 'graph_transforms/transform_graph' not found. Try 'bazel help'.
`

[2017-07-30 16:29] TonySnark commented on #6589
Thanks easye. I have a feeling it's a file structure problem...

I cd to a models-master dir. In there, I have a tf_files dir with my image folders.

I run Retrain.py from models-master, and it works fine. Spits out /bottlenecks /inception /retrained_labels.txt and /retrained_graph.pb in the tf_files folder.

Again from models-master, I run label_image.py as it is on "tensor flow for poets" tutori

[2017-07-30 16:34] clemens-tolboom commented on #11866
Is it really _height x width_ ? Yes as said on https://www.tensorflow.org/versions/r0.12/api_docs/python/image/working_with_bounding_boxes

You could create a PR for around line 700 in
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/image_ops.cc#L700

I agree It is not intuitive but it's mentioned as swapped.

---
Wouldn't it be better to mention __width__ and __height__ t

[2017-07-30 17:16] imjcham opened #11887 "Plan for supporting tf.contrib.seq2seq.prepare_attention in r1.2"
Any plans to support

https://www.tensorflow.org/versions/r1.0/api_docs/python/tf/contrib/seq2seq/prepare_attention

in r1.2?

[2017-07-30 17:34] andrewharp commented on #11883
Have you edited tensorflow/WORKSPACE to fill in the Android sdk/ndk values?

[2017-07-30 18:04] SAGARSURI commented on #11883
[code]
Here is my WORKSPACE. Now I am getting this error:
`Error:/Users/sagarsuri/tensorflow/tensorflow/core/BUILD:194:1 Failed to get cached inputs: Could not determine containing package for external/protobuf/src/google/protobuf/arena.h.`

[2017-07-30 18:21] glhfgg1024 commented on #11876
@clemens-tolboom I mean the link pointed to "Python 3.6 64-bit" is

https://ci.tensorflow.org/view/Nightly/job/nightly-win/M=windows-gpu,PY=36/lastSuccessfulBuild/artifact/cmake_build/tf_python/dist/tensorflow_gpu-1.3.0rc1-cp36-cp36m-win_amd64.whl

is broken.

[2017-07-30 18:31] lukashann commented on #11884
Have a look at this
https://github.com/tensorflow/tensorflow/issues/11859

using an older version of bazel (0.5.2) should fix the problem

[2017-07-30 18:56] clemens-tolboom commented on #11876
tnx ... Maybe change the title to

[2017-07-30 19:01] dims12 commented on #6698
Have the same issue. GPU is GTX 1070 and CUDA 8.0 and CUDNN 5.1 for CUDA 8.0.

Issue does not depend on user code, it depends on hardware or Nvidia or Google software state. This error can start rising at any time and reboot can fix it with the same user code.

[2017-07-30 19:05] glhfgg1024 commented on #11876
@clemens-tolboom yeah, that would be better. Thanks.

[2017-07-30 19:33] mari-linhares commented on #11823
@reedwm you should be able to reproduce it locally... I think I missed the `--sync=True` flag, make sure you have it and you should see it, sorry.

*Also, when running with 1 master, 1 worker, and 1 ps, did you set --num_workers=1 (it's set to 2 in your example above).*

Yes, the master counts as one worker as well since it also does training.

[2017-07-30 19:50] Jeffh2 commented on #7623
Hi Ardiano,

Let's see ... following is the info. After running tensorflow_self_check.py I see that it doesn't find a couple of cud*.dll needed for the GPU version of tensorflow. That's probably because I assumed I already had that installed as part of the NVIDIA software that comes with this PC. That's what I get for assuming!

NVIDIA GeForce GTX 960, 2GB

Intel Core i7-6700K @ 4.0GHz

C:\Users\j

[2017-07-30 20:00] woodshop commented on #10196
This issue appears to be the same as #5804, which has been open for a while now. Perhaps it's low-priority for the developers.

However, I suggest that `ffmpeg.decode_audio` is not always a great solution for reading audio files, especially in large numbers. As you point out, decode_audio relies on the external ffmpeg library. In addition, for each audio file, it induces an additional disk write a

[2017-07-30 20:06] Jeffh2 commented on #7623
Solved ... thanks @Carmezim for the assistance!

TLDR; NVIDIA CUDA toolkit and cuDNN were _not_ installed as required by tensorflow GPU version; corrected and it works now. Problem solved.

After running tensorflow_self_check.py I see that it doesn't find a couple of cud*.dll needed for the GPU version of tensorflow. That's because I assumed I already had that installed as part of the NVIDIA softw

[2017-07-30 20:23] rubenvereecken opened #11888 "Can't import graph containing MutableHashTable"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Mint 18
- **TensorFlow installed from (source or binary)**: Binary (pip)
- **TensorFlow version (use command below)**: v1.3.0.0rc0
- **Bazel version (if compiling from source)**: N/A
- **CUDA/cuDNN vers

[2017-07-30 20:37] bigdavek commented on #6999
@yaroslavvb comment from Jan 21 below helped me and it's working perfect now!  Thanks!

"BTW, you can just rename the wheel to say cp36 instead of cp35, that's what official 3.6 release for Mac does"
--

 @yaroslavvb

[2017-07-30 20:42] znmeb commented on #22
@choongng I joined the Google Group but it seems to be quiet. So I'll rant:

<rant>

1. Machine learning / high performance / GPU computing is a fiercely competitive market. NVidia, like it or not, dominates the market *and* keeps their cards and software close to the vest. If you've got a budget and a deadline, you're more or less stuck with NVidia for now.

2. I've got an old-ish AMD card ("Bona

[2017-07-30 20:50] peterhanneman commented on #11180
I was experiencing numerous issues including this one and finally solved them all by installing the latest Xcode v8.3.3 then running:

```bazel clean --expunge```
```./configure``` (accepting the default ```-march=native``` option)
```bazel build --config=opt --xcode_version=8.3.3 --macos_sdk_version=10.12 //tensorflow/tools/pip_package:build_pip_package```

[2017-07-30 21:08] jeremy-rutman commented on #11866
I tried doing a pr [11889](https://github.com/tensorflow/tensorflow/pull/11889) as you suggested, thanks.

[2017-07-30 21:21] carlthome opened #11890 "No registered 'MirrorPad' OpKernel for XLA_CPU_JIT"
`tf.pad(..., mode='REFLECT')` doesn't work with tfcompile. Will this be supported and when?

It's somewhat urgent on my part, and it seems like it should be a simple enough addition unlike control flow as in https://github.com/tensorflow/tensorflow/issues/11275

[2017-07-30 21:41] acoye commented on #22
@znmeb I did not even knew you could use pre-GCN hardware for TF.
With my Tahiti I only have support threw one distro (ubuntu 14.01.x) as AMD proprietary drivers only work with older linux kernels for GCN1. (I get TF + openCL via SYCL (untested on 7970) )

Where I work the entire R&D department runs green team. They all have PHDs and all but none wrote a single line of cuda (nor OCL). But the tool

[2017-07-30 21:42] pocandraspoc opened #11891 "'//tensorflow/contrib/verbs:rdma"
Build fails
Thanks for help in advance

1. It must be a **bug**

------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**:yes
- **TensorFlow version (use command below)**:L

[2017-07-30 21:55] znmeb commented on #22
@acoye FWIW here's the GitHub post that got me going this weekend after thrashing and Googling since April: <https://github.com/BVLC/caffe/issues/5804#issuecomment-318789942>. See also <https://github.com/cdeterman/gpuR/issues/77#issuecomment-318814154>. That was my original issue - trying to use my Bonaire to accelerate linear algebra on R.

[2017-07-30 22:09] yzhwang commented on #11327
@pobingwanghai Could you provide more info as @ma0ho does in the template? It would be much easier for me to debug the problem if you could offer a reproducer too. I guess the OOM error is probably an intended behavior or another issue. But it would be nice if you can offer more info first so that I can have a look. Thank you!

[2017-07-30 22:20] nishnik opened #11892 "Softplus with parameters"
Should I go on implementing the parametric version of Softplus?

Current implementation: [softplus_impl.py#L35](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/distributions/python/ops/bijectors/softplus_impl.py)

Reference to parametric version: [PyTorch docs](http://pytorch.org/docs/master/nn.html?highlight=softplus#torch.nn.Softplus)

[2017-07-30 22:22] naibaf7 commented on #22
@acoye
You can move on to the latest Linux distros & use a recent custom compiled kernel like 4.11/4.12 with AMDGPU drivers enabled, RADEON disabled and with `CONFIG_DRM_AMDGPU_SI=Y` and/or `CONFIG_DRM_AMDGPU_CIK=Y` set in the kernel configuration, plus AMD firmware for 7970 in the initramfs => newest AMDGPU-PRO OpenCL will work on any GCN cards. Forget about FGLRX (on older Linux distros) and Clo

[2017-07-30 23:14] amehrjou opened #11894 "Slow Hessian"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: I have written custom code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 4.4.0-47-generic #68-Ubuntu and Also macOS Sierra 10.12.3 (CPU only)
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1
- **Pytho

[2017-07-30 23:21] znmeb commented on #22
@naibaf7 I spent a few hours yesterday trying to get AMD's open source stack working. I got `MIOpen` and its dependencies but `hcc` is still missing some bits. I may need to do a custom kernel build to get everything. I don't much care about porting CUDA code or running compiled C++ on the GPU - I want to do number crunching on it. ;-)

[2017-07-31 00:12] uglybachelor commented on #11884
Solved the problem by rolling back to  bazel (0.5.2) .

[2017-07-31 00:12] #11884 closed

[2017-07-31 00:16] naibaf7 commented on #22
@znmeb Yeah I am also trying to get some MIOpen and TensorFlow stuff working on my RX 480, but I don't want to destroy my main development rig, so instead I use IOMMU virtualization and use an Ubuntu 16.04 virtual machine that can use the RX 480. The AMD drivers are very friendly to virtualization (unlike nVidia drivers made for the gaming cards - only the Quadro drivers do).

[2017-07-31 00:31] adityaatluri commented on #22
@znmeb All you gotta do is `sudo apt-get install rocm miopen-hip`

[2017-07-31 01:13] HannH commented on #11771
@snnn OK, your suggestion works, thank you!

[2017-07-31 01:31] znmeb commented on #22
@adityaatluri It's in the Arch User Repository but it doesn't install - it doesn't install from GitHub source either. It looks like something simple - it can't find a few dependencies.

[2017-07-31 01:34] aselle commented on #11894
@alextp, it seems like slowness is inherent with the current approach to computing Hessians of non-scalars. I don't know of anything else to do. Could eager mode help with this at all?

[2017-07-31 01:35] adityaatluri commented on #22
@znmeb Can you create an issue here (https://github.com/RadeonOpenCompute/ROCm/issues) so that we can discuss there? Thanks!

[2017-07-31 01:42] znmeb commented on #22
@adityaatluri Sure - I'm heading to dinner but I'll file it when I get back

[2017-07-31 01:56] aselle commented on #11868
@fchollet, could you take a look, please. Thanks!

[2017-07-31 02:27] qinglintian opened #11896 "[Feature request] Dynamically add new machines in distributed TensorFlow"
I'm not sure this has been raised before. I did some search on Google and haven't found relevant stuff. If it do exist, please direct me there. Thank you.

I'm currently experimenting with distributed TensorFlow. When building a distributed cluster, all machines in the cluster should be fed into tf.train.Server as parameters. That is, the disitributed cluster configuration is defined when building

[2017-07-31 02:31] tomzhang commented on #11881
have you check the scipy installation by issue command "pip list "?
can you import scipy from python originally?
anyway, this issue should report from forum rather than tensorflow issue list

[2017-07-31 02:32] laket commented on #11803
@prb12 yes. I got  /gpu:0/stream:xx lines in Timeline with  `CUPTI_CALL(ActivityFlushAll(CUPTI_ACTIVITY_FLAG_FLUSH_FORCED));`

[2017-07-31 03:03] lifewadwdv commented on #11881
@tomzhang
”import scipy from python originally” is done,
 but i just want to use "from sklearn  @import linear_model" in the environment of tensorflow-gpu，may i ？

[2017-07-31 03:28] lifewadwdv commented on #11881
@tomzhang I work it out by in install scipy-0.19.1-cp35-cp35m-win_amd64.whl，thank U very much！

[2017-07-31 03:32] jacob1017 opened #11897 "Run mnist_with_summaries.py error：can not open shared object libcupti.so.8.o"
error info as below:
`2017-07-31 11:18:47.859639: I tensorflow/stream_executor/dso_loader.cc:129] Couldn't open CUDA library libcupti.so.8.0. LD_LIBRARY_PATH:
2017-07-31 11:18:47.859724: F ./tensorflow/stream_executor/lib/statusor.h:205] Non-OK-status: status_ status: Failed precondition: could not dlopen DSO: libcupti.so.8.0; dlerror: libcupti.so.8.0: cannot open shared object file: No such file

[2017-07-31 03:58] yaroslavvb commented on #11896
There's some discussion of this [here](https://groups.google.com/a/tensorflow.org/forum/?utm_medium=email&utm_source=footer#!msg/discuss/Okb2jKqYwmQ/yxyxXem0BwAJ). Yahoo and TensorflowOnHadoop have said in the past that they are working with TF team to add this

[2017-07-31 04:03] sttomato opened #11899 "Where can I find c++ head file "tensorflow/cc/ops/sparse_ops.h""
I want to use the sparse tensor in C++ API(https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/add-sparse-to-tensors-map).
But when I search in "https://github.com/tensorflow/tensorflow", there is no "tensorflow/cc/ops/sparse_ops.h"
Does anyone know how to use the sparse tensor in C++?

[2017-07-31 04:12] byronyi commented on #11896
I went through a little bit of the discussion. Given the current session implementation does not support dynamic partitioning of the graph, following the design of `MonitoredSession`, one proposed solution could be:

1. Prepare for a scaling by writing a checkpoint to external storage
2. Terminate current session
3. Re-do the partitioning of graph with respect to the new cluster_def
4. Create a ne

[2017-07-31 04:37] learyg commented on #11890
I think this might be quite simple to add to the tf2xla bridge. I'll take a look.

[2017-07-31 04:40] byronyi commented on #11689
Given the comments [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/distributed_runtime/rpc/grpc_server_lib.h#L72), there has been some considerations for adding such feature.

[2017-07-31 04:40] learyg commented on #11822
FYI I believe sin/cos for floating types should be supported now, but I don't know that complex types are currently supported by the tf2xla bridge.

[2017-07-31 04:43] yuchen112358 commented on #9194
Have you succeeded in moving computations over to a new device by XLA? Could you please tell me about your method in detail? @lwogulis

[2017-07-31 05:28] aselle commented on #11876
@gunan, @av8ramit, could you take a look

[2017-07-31 05:30] fchollet commented on #11868
@aselle I won't have time to look into these issues for at least a week or so. Can we find someone else? Currently every single issue related to Keras is routed to me personally, which isn't scalable.

[2017-07-31 05:41] aselle commented on #11882
@zheng-xq, Do you have any thoughts on this. I made a slightly more elaborate test case that computes relative error between the gpu and cpu version and two runs of the cpu version. @jnjaby's fear that gpu is not deterministic seems due to non-determinism in reduction (probably), because I only see 1e-5 error between two runs on the gpu. But I see a ~5770. relative  error between the gpu vs cpu. C

[2017-07-31 05:54] aselle commented on #11896
@mrry, @saeta, care to comment. Are you working on this, should we mark this contributions welcome. Do you have any ideas on the design in case we do.

[2017-07-31 05:54] aselle commented on #11866
see #11889 for fix.

[2017-07-31 05:55] aselle commented on #11730
@tatatodd, any ideas?

[2017-07-31 06:06] asimshankar commented on #11899
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

(That file is generated by the build system and located in `bazel-genfiles/tensorflow/cc/ops/sparse_ops.h` when you build from source)

[2017-07-31 06:06] #11899 closed

[2017-07-31 06:20] huxuanlai commented on #8191
`def single_cell():
      return tf.contrib.rnn.GRUCell(size)
    if use_lstm:
      def single_cell():
        return tf.contrib.rnn.BasicLSTMCell(size)
    cell = single_cell()
    if num_layers > 1:
      cell = tf.contrib.rnn.MultiRNNCell([single_cell() for _ in range(num_layers)])`

[2017-07-31 06:26] sharmaannapurna commented on #11651
Hi,
I am also having the same issue with the requirement of static shape of the input.

[2017-07-31 06:28] jnjaby commented on #11882
@aselle because the weight initialized by CPU and GPU are different. I try to initialize weights with another `tf.constant`. However, this time GPU is deterministic while CPU is not. That really confuses.
[code]

[2017-07-31 06:36] huxuanlai commented on #8191
Move the code on cell definition into seq2seq_f:

[code]
Then "python translate.py --data_dir data/ --train_dir checkpoint/ --size=256 --num_layers=2 --steps_per_checkpoint=50" can work.

[2017-07-31 06:45] meteorcloudy opened #11900 "patch is not installed on some of Windows slaves"
http://ci.tensorflow.org/job/tf-master-win-bzl/1335/console
On win0-slave:
[code]

[2017-07-31 06:45] meteorcloudy commented on #11900
@gunan @yifeif

[2017-07-31 07:25] lujian9328 commented on #6035
Is there an alternative for tf.nn.max_pool_with_argmax? Because now I only want to test my trained model on CPU env.

[2017-07-31 07:44] nolanliou commented on #7251
@girving
we have to check the collision before sending data to GPU given the  the collision requirements.
So I wanna divide into two cases:

1. No collision: easy to use threadIdx/blockIdx to index. (most time).
2. Collison: compute all the output's indies at CPU to resolve the collision, then send to GPU.

Welcome any tips.

[2017-07-31 08:25] jo89er commented on #11822
You are right. I just rebuild tfcompile with the current version of the code.
sin/cos for floating types is supported now.

The complex types are not supported:
[code]

[2017-07-31 08:25] lsorber commented on #11665
@reedwm Wouldn't that approach limit the size of `X` to 2 GB though? With the placeholder approach, the data in `X` is not part of the graph.

[2017-07-31 08:34] July-Morning commented on #10669
I have also made a test on tensorflow built with GPU support (run all the scripts above on the computer with TitanX), of course everything is faster there, but the difference still exists (restoring model ~2x faster than loading frozen graph or saved model), so I have to say it does not seem to be an operation system or a specific build issue .

[2017-07-31 08:49] #4534 closed

[2017-07-31 09:08] sandipmgiri opened #11902 "//tensorflow/python/kernel_tests:denormal_test test failure on ppc64le (error : Arrays are not equal)"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
    Ubuntu 16.04 (ppc64le)
- **TensorFlow installed from (source or binary)**:
     Installed from source
- **TensorFlow version (use command below)**:
    ('v1.2.1-0-gb4957ff', '1.2.1')
- **Python version**:
     Python 2.7.5
- **Bazel version (if compiling from source)**:
      0.4.5-2017-07-13 (@037b9b9)
- **C

[2017-07-31 09:09] episodeyang opened #11903 "Missing input file mpi:mpio.h"
### System information
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Platform and Distribution: **Linux Ubuntu 16.04)**
- TensorFlow installed from: **source**
- TensorFlow version: **master**
- Python version: **3.5.2**
- Bazel version (if compiling from source): **0.5.2**
- CUDA/cuDNN version: **8.0**
- GPU model and memory: **K80**

[2017-07-31 09:46] zhedongzheng opened #11904 "Unclear about how to integrate AttentionWrapper with BeamSearchDecoder"
TF Version: 1.2.1

I cannot find information about how to integrate AttentionWrapper with BeamSearchDecoder on website / nmt tutorial, in particular how to feed the beam-search-tiled (```tf.contrib.seq2seq.tile_batch```) states to the attention-cloned (```zero_state(...).clone(...)```) states.

In my attempt, there seems to be an inconsistency between the requirement of the ```batch_size``` of the

[2017-07-31 10:22] shamoya commented on #11891
Hi @pocandraspoc
Why "y VERBS support" ?
It means you have chosen to compile with RDMA Verbs support, but you don't have the SW stack (libibverbs, etc..), and I guess you didn't want to have anyway.
Run configure and choose No for Verbs support.

[2017-07-31 10:53] agniszczotka commented on #7669
is there any update regarding ValidationMonitor as hook? The documentation seems to not be updated

[2017-07-31 11:46] Savash2016 commented on #10798
hey @bmount ,

I want to try your project and get your project start on my smartphone (Samsung S7).
I dont have any idea how i can get your finished work  (https://github.com/bmount/tensorflow/tree/android-demo-mobilenet-ssd) on my smartphone. Please can you help me an upload your work as a finished android app ??

best wishes
Savash

[2017-07-31 11:50] a111xushuai commented on #8191
@huxuanlai it works! At least it's training now, thx!

[2017-07-31 11:52] carlthome opened #11905 "No registered 'ResizeBilinear' OpKernel for XLA_CPU_JIT"
Similar to https://github.com/tensorflow/tensorflow/issues/11890, `tf.image.resize_images` and its siblings haven't been made available for XLA yet. Is there a timeline for when core ops will be supported by XLA? Is there a short instruction somewhere on how to implement ops kernels for the XLA bridge so we could do pull requests as needed to speed up development?

Related: https://github.com/tens

[2017-07-31 12:09] smodlich commented on #11753
@utkrist Thank you for your informative answer. I checked the global step and indeed it behaves like you explained for tf.train.Supervisor, except for a short initial phase. In my case the model error with asynchronous training got bad after 15 to 20 Workers. When using synchronous training I can scale beyond 40 workers after increasing my learning rate by sqrt(workers), because of increased batch

[2017-07-31 12:42] adibrov opened #11906 "Wrong conv2d outputs for tensors of certain sizes"
### System information
- **Custom code**: yes
- **OS Platform and Distribution**: Windows 7 Professional, SP1
- **TensorFlow installed from**: binary
- **TensorFlow version**: tensorflow-gpu 1.3.0rc0
- **Python version**: 3.5.2
- **CUDA/cuDNN version**: 8.0/6.0
- **GPU model and memory**: Nvidia Titan X (Pascal), 12GB
- **Exact command to reproduce**: conv2d

Images (tensors produced from numpy 2d

[2017-07-31 12:47] sandipmgiri commented on #11902
I have done some investigation on this, looks like we need to add Power specific intrinsics in  https://github.com/tensorflow/tensorflow/blob/v1.2.1/tensorflow/core/platform/denormal.cc#L43-L73

[2017-07-31 13:42] namrata-ibm opened #11908 "Query in lower-level versions of Get/Put involved in EncodeFixed/DecodeFixed"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 'v1.2.1-0-gb4957ff', '1.2.1'
- **Python version**:  2.7.12
- **Bazel version (if comp

[2017-07-31 14:02] emsi opened #11909 "Numeric instability of tf model when run o CPU"
I'm having problem with running a model on CPU. I trained it on GPU and it works just great on GPU with no issues whatsoever yet when run on CPU it computes differently and quickly falls into returning just NaNs.

I used Keras to construct the model which looks like this:
[code]

I used following code to debug it:
[code]

I fed it with the very simple input just to show the differences.
The result

[2017-07-31 14:05] Queequeg92 opened #11910 "RandomShuffleQueue seems not random when one class one file."
I split cifar-10 dataset to ten files, where each file contains one class of samples. When I use the split files   as the input of a classification model and use RandomShuffleQueue to handle the input, data in one batch  is not an approximate uniform sampling of the ten classes. The hisogram of the labels in one batch indicates RandomShuffleQueue seems not do a real random dequeue operation. Can a

[2017-07-31 14:26] skye commented on #11765
Hi, I was on vacation, but will take a look at this soon.

[2017-07-31 14:32] mari-linhares commented on #11823
Also, you don't need to run distributed to see the error, if you run locally with `--sync=True` you should be able to see it. Thanks!

[2017-07-31 14:34] lemonsee opened #11911 "tensorflow-1.2.1 import tensorflow Segmentation fault"
hi ,
I installed tensorflow-1.2.1 in my machine, and met a segment fault as below.

[code]

### System information
[code]

###  Installing
I do :
`pip install --ignore-installed --upgrade  https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.2.1-cp27-none-linux_x86_64.whl`

so , would someone help me to solve this problem ?🤕 ，thx !

[2017-07-31 14:41] andrew659 opened #11912 "A potential null pointer deference bug in GraphProperties class"
Dear developers,

I am studying the code of Tensorflow and found a potential null pointer dereference bug in tensorflow/core/grappler/costs/graph_properties.cc

### The problem

The function `updateEnter()` at line 70 of tensorflow/core/grappler/costs/graph_properties.cc calls the `getContext()` function of the ShapeRefiner class, which could return a null pointer (line 79 of tensorflow/core/commo

[2017-07-31 14:44] prb12 commented on #11803
Seems reasonable.  I dug around into the history of this flag.  It seems that in CUDA6 and earlier this flag was *required* to be zero, and there have been a few bugs related to buffer flushing (e.g. losing the last trace record in the buffer).

Since (I think) we no longer need to support cuda versions < 7 this seems like a sensible change to me.

Could you please submit a PR?

[2017-07-31 15:11] utkrist commented on #11753
@smodlich I am curious how do you set the learning rate, is it simply lr = 1/(sqrt(workers)) or what?
I also need to scale to many machines soon.

[2017-07-31 15:20] yaroslavvb commented on #11909
What if you add some regularization? Some CPU and GPU kernels produce slightly different results in floating point, so if you are in unstable regime, small differences blow up.

[2017-07-31 15:28] emsi commented on #11909
There's plenty of regularization: two dropout and two BN layers.

What puzzles me are the NaNs in weights.
I solved the problem with following trick:
[code]
It brought model back to stability.

[2017-07-31 15:32] sandersk commented on #11831
Hi all,

Agree it would be worthwhile to mention RunConfig in the tutorial, and link to appropriate resources.

Also agree that it would be good to update this tutorial to use core Estimator rather than tf.contrib.learn. I'll grab this issue and get to these changes as soon as I can.

Thanks,
Sanders

[2017-07-31 15:32] yaroslavvb commented on #11894
@amehrjou one issue is that current`tf.gradients` implementation is quite slow. The runtime grows linearly with size of the graph even when size of the subgraph to differentiate or the output stays constant. https://github.com/tensorflow/tensorflow/issues/9901

[2017-07-31 15:37] yaroslavvb commented on #11909
NaN's tend happen when things underflow/overflow and you end up dividing by zero

[2017-07-31 15:50] amehrjou commented on #11894
@yaroslavvb Exactly. I also realized that the size of the graph becomes very large when `tf.gradients` is applied for the second time. For example the first `tf.gradients` added around 100 nodes to a graph with 80 nodes. But the second derivative surprisingly adds 1000 nodes to the graph for each dimension of the vector with respect to which derivates are computed. Is there any chance to compute H

[2017-07-31 16:00] alextp commented on #11856
I think it should be safe to always call read_value when you reference the
variable. Indeed I do this in resource variables which do not have this bug
and for which a scatter_add operation exists (resource_scatter_add). I do
not understand what's the remaining issue here.

On Sun, Jul 30, 2017 at 9:12 AM, Yaroslav Bulatov <notifications@github.com>
wrote:

--
 - Alex

[2017-07-31 16:03] aidan-plenert-macdonald commented on #9194
@yuchen112358 Unfortunately, neither @lwogulis nor I work at that company anymore. We did manage to get the computation to run on a new "virtual" device (new bindings to the CPU). As far as I am aware, XLA has yet to be mapped to the device. We have normal TF running on the device. @RichDubielzig is the current lead

[2017-07-31 16:08] yaroslavvb commented on #11894
Oh you want just the diagonal of Hessian? For piecewise linear neural network (ie, ReLU activations) computing diagonal can be done cheaply (ie, for square loss it's the product of corresponding activation and backprop variances). In a general network, there's no fast way (http://www.cs.utoronto.ca/~ilya/pubs/2012/CurvProp.pdf)

[2017-07-31 16:14] av8ramit commented on #11876
https://github.com/tensorflow/tensorflow/pull/11914

[2017-07-31 16:14] mehmetbasbug opened #11915 "Out of memory due to cuda_host_bfc allocator"
Hi,

I am getting OOM errors when I try to move data from GPUs to CPU. CPU has 0.5TB memory and when I allocate a large chunk of CPU memory directly there is no problem. However, for some reason cuda_host_bfc allocator sets the limit to 68719476736 which is incidentally 0 in int32. It looks like there is a bug here. Any thoughts?

Thanks

p.s. I disable the auto_gc collector on purpose (with get_r

[2017-07-31 16:15] yaroslavvb commented on #11856
Does calling `read_value` append to the graph/invalidate graph cache?

[2017-07-31 16:19] alextp commented on #11856
Yes

On Mon, Jul 31, 2017 at 9:17 AM, Yaroslav Bulatov <notifications@github.com>
wrote:

--
 - Alex

[2017-07-31 16:19] yaroslavvb commented on #10669
This issue is a bit confusing to follow, is the problem with C++ API, or is the issue with SavedModel?

[2017-07-31 16:20] amehrjou commented on #11894
@yaroslavvb I want the diagonal of Hessian but specifically for a smooth network and I want it with respect to inputs not parameters. Second derivative of a piecewise linear function with respect to its input is trivially zero and just for the record Tensorflow returns `None` even though it must return zero.

[2017-07-31 16:23] yaroslavvb commented on #11877
I believe this is working as intended (you have to reset the session/containers to get rid of persistent ops)

[2017-07-31 16:23] #11877 closed

[2017-07-31 16:24] yaroslavvb commented on #11894
`None` result in `tf.gradients` means there's no path between input and output in the computation graph

[2017-07-31 16:25] mehmetbasbug commented on #11915
Resolved.
Looks like cuda_host_mem_limit defaults to 64GB.
Setting the environment variable TF_CUDA_HOST_MEM_LIMIT_IN_MB solved the problem.

[2017-07-31 16:28] amehrjou commented on #11894
@yaroslavvb Yes. I replace `None` values with zero. Thank you for the pointer to the Curve Propagation paper too.

[2017-07-31 16:39] girving commented on #7251
@nolanliou It would be better to do it all in one pass, both to avoid the separate collision checking phase and to avoid CPU work in the collision case.  One option is to have a separate buffer storing the source index of an output index.  Atomically writing an entry in the separate buffer at the same time as the main buffer can avoid collisions.  Not sure if the separate buffer can be avoided.

[2017-07-31 16:42] Mazecreator commented on #7251
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  mazecreator@gmail.com
    Domain mazecreator.com has exceeded the max emails per hour (27/25 (108%)) allowed.  Message will be reattempted later

------- This is a copy of the message, i

[2017-07-31 16:55] ericyue commented on #11877
I have already reset the session by using `tf.reset_default_graph()`  @yaroslavvb

[2017-07-31 16:58] Mazecreator commented on #11877
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  mazecreator@gmail.com
    Domain mazecreator.com has exceeded the max emails per hour (30/25 (120%)) allowed.  Message will be reattempted later

------- This is a copy of the message, i

[2017-07-31 17:08] July-Morning commented on #10669
Oh, I see. I will try to sum up shortly how it was and here we are now.

1.  I noticed that when I was loading frozen graph with C++ API tf session ran twice slower than in Python. I created a MNIST benchmark as an example, but @alextp showed that there was a stupid mistake in time measurement. So, for MNIST everything was fine (however, for my initial more complicated net it was not) and I closed

[2017-07-31 17:58] yifeif commented on #11900
Hi Yun, they should be installed now. I rebuild a few machines(0, 1 and 3) last week. Let me know if you see anything else missing. Thanks!

[2017-07-31 18:02] zheng-xq commented on #11882
I would agree with first making the initialization the same. One common way is to random initialize the weights in numpy, and use that in both paths.

[2017-07-31 18:47] codeahead14 opened #11916 "Docker installation: version compatibility issues"
I am trying to setup tensorflow in Windows 10 machine inside Docker.

The command I ran is:
`docker run -it -p 8888:8888 gcr.io/tensorflow/tensorflow`

Error response:
`C:\Program Files\Docker Toolbox\docker.exe: Error response from daemon: client is newer than server (client API version: 1.24, server API version: 1.22).`

Surprisingly, I did not get a lot many threads on this issue.

[2017-07-31 19:05] #11881 closed

[2017-07-31 20:10] meteorcloudy commented on #11900
Hi Yifei, I still see the same error on win3-slave:
https://ci.tensorflow.org/job/tf-master-win-bzl/1344/console

[2017-07-31 20:13] joel-shor commented on #11364
Sorry for the delay.

I've improved the documentation, and improved the error message for non-iterable input. Please reopen if this is still an issue.

[2017-07-31 20:13] #11364 closed

[2017-07-31 20:34] emsi commented on #11909
I got that. There's plenty o ways to prevent or fix it (like using L1, L2 regularization while training).
That doesn't change the fact though that it somehow produces correct results when evaluated on GPU while going awry on CPU.

[2017-07-31 21:01] yaroslavvb commented on #11909
A way to verify the problem could be to identify a small case where you are dividing by something other than 0 and getting NaN as a result (similar for square root case). It could be that NaN is a correct outcome. IE, this could happen if you are dividing by variance which should be zero, but the GPU version gives produces non-zero due to floating point fuzziness and avoids a NaN

[2017-07-31 21:12] yifeif commented on #11900
sorry, should be fixed for 3 for reals! Passed the patch part: http://ci.tensorflow.org/job/tf-master-win-bzl/1347/console

[2017-07-31 21:12] #11900 closed

[2017-07-31 21:30] mari-linhares commented on #11823
I also see this error sometimes:

Exception in thread Thread-2:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self.__kwargs)
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/training/queue_runner_impl.py", line 254

[2017-07-31 21:44] yaroslavvb commented on #11910
This may be better suited for stackoverflow. Amount of mixing is controlled by min_after_dequeue and capacity parameters. For best level of mixing you could shuffle the dataset before feeding it to tensorflow

[2017-07-31 21:44] #11910 closed

[2017-07-31 21:57] aselle commented on #11916
This seems unrelated to TensorFlow and more a question of Docker installation. Can you verify your docker install works with one of their simple examples?

[2017-07-31 21:58] aselle commented on #11912
Do you have a sense of how to fix it? If so we'd love if you could take the time to submit a pull request. Thanks.

[2017-07-31 21:59] aselle commented on #11912
@benoitsteiner , could you take a quick look as well.

[2017-07-31 22:05] leonchen417 commented on #10827
I'm facing the same issue too tensorflow-gpu==1.2.1

[2017-07-31 22:07] brightbytes-dude commented on #10779
That did the trick, thanks!!  (I stupidly assumed that was only relevant for the `dmg` installation.)

[2017-07-31 22:32] poxvoculi commented on #11829
Is this PR also useful?  https://github.com/tensorflow/tensorflow/pull/11919
Waiting on this PR: https://github.com/tensorflow/tensorflow/pull/11830

[2017-07-31 22:57] aselle commented on #11882
This version shows no relative error between any of the implementations, so I am thinking there is no bug
[code]

[2017-07-31 23:04] saeta commented on #11896
We now have some of basics in place (i.e. ClusterSpec propagation, and ClusterResolvers) to allow this sort of thing, however we do not have anyone working on this now as far as I know. The latest tentative designs are pretty much identical to what @byronyl described in his comment above.

[2017-07-31 23:05] ankitachandak commented on #11726
@aselle I have one doubt regarding the example given in https://developers.googleblog.com/2017/03/xla-tensorflow-compiled.html video. where exactly does it picks up the operation for the following graph:
# Text form of tensorflow.tfcompile.Config proto.
feed {
  id { node_name: "x_hold" }
  shape {
    dim { size: 2 }
    dim { size: 3 }
  }
}
feed {
  id { node_name: "y_hold" }
  shape {
    dim

[2017-07-31 23:05] jmchen-g commented on #11753
Glad to see that it works as expected :)

Apparently different models have different settings. Just note that the newer sync replica optimizer is using the average instead of sum so if you have N replicas, you might want to try sqrt(N) * lr instead of making it smaller.

[2017-07-31 23:19] poxvoculi commented on #11885
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-07-31 23:27] poxvoculi commented on #11897
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-07-31 23:33] poxvoculi commented on #11903
I assume you're trying to use the contrib/mpi extension to TF.  Did you follow the configuration instructions to select this library?   See tensorflow/contrib/mpi/README.md    I have not used this package myself.  I'm suspicious that you're setting TF_NEED_MPI=0 in your env.  Is that correct?

[2017-07-31 23:35] hongjic commented on #11896
How about just scaling the workers? The variables don't need to be re-partitioned when a new worker comes in and the worker just need to build a same graph and pin the variables to the already existed parameter servers. Could that be a little easier to implement?

[2017-07-31 23:39] andrewharp commented on #11883
I'm guessing it's related to the `--depth` option you're cloning with, which may have [issues](https://stackoverflow.com/questions/23708231/git-shallow-clone-clone-depth-misses-remote-branches) with remote repositories.

I typically clone with the following command:
`git clone --recursive https://github.com/tensorflow/tensorflow/`

[2017-07-31 23:53] yaroslavvb commented on #11896
@hongjic for async parameter server architecture this is already possible. IE, training begins as soon as all parameter server shards are up, and at at least one worker is up. As more worker come online, the training throughput increases.

[2017-07-31 23:55] currivan opened #11923 "Race condition in add_arg_scope causes silent incorrect behavior"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Mint 17.3 Rosa
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
v1.2.0-5-g435cdfc 1.2.1
- **Python version**:
3.6.1
- **Bazel version (if compilin

[2017-08-01 00:11] yongtang commented on #6518
I think this issue has been fixed in the latest version.

[2017-08-01 00:34] episodeyang commented on #11903
Hi Paul, @poxvoculi

I'm using `TF_NEED_MPI=1` and `MPI_HOME=/usr/bin/openmpi`. The three header files the config needs are `mpi.h`, `mpio.h`, and `mpicxx.h`. `mpio.h` is not available in ubuntu16.04 but the other two are available in different folders.

I updated the env parameters above to reflect this.

The README here doesn't say much about the setup. The default using `./configure` manually f

[2017-08-01 00:56] SAGARSURI commented on #11883
I tried that command as well. Same issue.

[2017-08-01 01:43] GHmaryam commented on #8753
Hi,

I have a similar issue as what posted above by hqqxyy when running "tfdbg> run" to debug the issue that my code returns the value of training loss as NAN. I applied the change suggested by caisq on Mar 30 above and also I tried upgrading the version of tensorflow on my system to 1.2 to apply the "thread_name_filter" property. But still I am getting the error in the following box. I will appre

[2017-08-01 01:49] andrew659 commented on #11912
@aselle Hi Andrew, I would love to help, but I am not sure if wrapping the for loop with a null checker would be correct since the logic of `updateEnter()` seems complicated. For the other two call sites of `getContext()`, I found that simple null checkers worked (lines 256-258 and 345-347 of tensorflow/core/grappler/costs/graph_properties.cc at commit 4432623).

[2017-08-01 01:52] currivan commented on #11923
Tracked the issue down to memory reuse. The keys for the `_DECORATED_OPS` dict in arg_scope.py are `str(func)`, which are based on the function's address. When memory is reused and a new function has the same address as a garbage collected one, the old one still appears in the decorator dictionary.

Simple fix is to always update the dict for the latest call to the decorator:

[code]

[2017-08-01 01:55] jnjaby commented on #11882
@aselle The last case is consistent. I make another test case output `True` and `False` respectively, showing different result between `tf.constant` and `tf.Variables`. Commonly, however, the weights should remain the same after initialized. So let's clarify my questions:
- Where is the non-determinism produced, Tensorflow or other libraries of GPU?
- What is the difference between `constant` Tens

[2017-08-01 02:04] yongtang commented on #10729
Added PR #11925 for the fix. As both `max_pool` and `avg_pool` are wrapped in the python code, the fix only changes the docstring in tensorflow/python/ops/nn_ops.py.

[2017-08-01 02:19] gauss-clb opened #11926 "How to understand multithreading in tf queue?"
Tensorflow provides us two ways to implement reading data.
The first way, use many reader, such as `tf.TextLineReader`, one reader per thread.
The second way, use just one reader and multithreading of enqueue ops, for example we can use `tf.train.shuffle_batch` and set `num_threads` greater than 1.

I can't understand the second way, we just have one reader to load data(perhaps a thread), why we n

[2017-08-01 02:39] poxvoculi commented on #11903
I'm afraid I can't build with this package in the Google environment, and you'll need to find someone in the open-source community to help you.  Perhaps you can get some help on stackoverflow.   It's a contrib package contributed by @jbedorf.  Perhaps you don't have a full installation of MPI, or it's not an installation with which this package was tested.

[2017-08-01 02:48] poxvoculi commented on #11911
I see in one of our internal documents that Centos is only supported for version 7 and up.  I can't find a public document that addresses this issue, though I suspect it's your problem.  If upgrading to Centos 7 is infeasible,  you might try on stackoverflow to see whether the community has figured out how to make it work on your version.

[2017-08-01 02:59] poxvoculi commented on #11923
Thanks for the detailed analysis.  An internal bug has been opened.  You might also just submit a PR with your fix.

[2017-08-01 03:15] currivan commented on #11923
After looking at the code some more, it appears scope args will be passed correctly even if the cached argspec is wrong.

My fix works but isn't ideal - a non-decorated op could have the same address as a freed one. A better approach would be to remove the _DECORATED_OPS dict and store the argspec on the wrapper or recompute it on demand.

It's also unsound to use the fn address as the key into th

[2017-08-01 03:42] episodeyang commented on #11903
@poxvoculi Right. @jbedorf Hey @jeroen, which version of mpi did you build with? I'm on ubuntu 16.04.

Thanks!

[2017-08-01 03:52] bluekingdom opened #11928 "tf-r1.3: show Warning Info when saving checkpoint"
I met some warn info show above when saving checkpoint: ([all code here](https://github.com/bluekingdom/my-tf-learning-code/blob/master/face-generate-example/main.py))

[code]

log like this:

this log occur in r1.3, but do not occur in r1.2 .

tf do save a checkpoint. But I am not sure the checkpoint has been saved correctly when this log occur.

[2017-08-01 05:01] Keson96 commented on #10111
@ChrisAntaki It worked for me, too! Thank you!

[2017-08-01 05:20] yaroslavvb commented on #11926
This seems to be better question for stackoverflow

[2017-08-01 05:20] #11926 closed

[2017-08-01 05:34] philipperemy commented on #7162
Any chance that this problem gets solved?

[2017-08-01 05:37] ktmniroj commented on #9814
@aelimame thanks. it worked.

[2017-08-01 06:08] learyg commented on #11905
Sure, I'd be happy to use bilinear resize as the subject of a writeup.

[2017-08-01 06:09] learyg commented on #11890
This may be able to make it into the merge tomorrow, I'll ping the issue when it's on the merge train.

[2017-08-01 06:09] Wenstery opened #11929 "How to make full use of multicore(only cpu mode) on android phone?"
### System information
 Platform : android 6.0, arm64-v8a
 TensorFlow installed from source(cpu mode only):
 TensorFlow version (1.2.0)
  Bazel version (0.5.2)

### Describe the problem
When I trained a model by using google object-detection api, I put it to my android env, and use c++ api to run the pb file model on my phone, it has a slow running speed, and only 2 cpus are fully utilized when th

[2017-08-01 06:41] Zumbalamambo opened #11930 "No OpKernel was registered to support Op 'Dequantize' with these attrs"
Im getting the following error while running quantized graph

[code]

[2017-08-01 06:50] bmount commented on #10798
Hi @Savash2016, here's a large "everything" apk: https://storage.googleapis.com/bmount/ssd-mobilenet-v1-coco/tensorflow_demo.apk . If you have trouble installing, steps to build are: 1) check out https://github.com/bmount/tensorflow/tree/android-demo-mobilenet-ssd 2) run `bazel build -c opt //tensorflow/examples/android:tensorflow_demo` 3) run `adb install -r bazel-bin/tensorflow/examples/android/

[2017-08-01 06:53] meteorcloudy commented on #11900
Great, thanks for fixing this! But the Bazel version seems to fall back to 0.4.5, because we didn't update the Windows slave setup script. I've sent a CL to do that. ;)

[2017-08-01 06:55] sandipmgiri commented on #11902
I was discussing about this test failure on power porting mailing list (power-port-tune@lists.linux.ibm.com) and they mentioned as follows-

_MM_GET_FLUSH_ZERO_MODE
_MM_GET_DENORMALS_ZERO_MODE
_MM_SET_FLUSH_ZERO_MODE
_MM_SET_DENORMALS_ZERO_MODE

This is not an intrinsic, it is mode and a nonstandard (not IEEE754 conforming) one at that.

Some embedded machines perform slight better in this mode, b

[2017-08-01 07:12] huopan opened #11931 "Exception in thread "main" java.lang.UnsupportedClassVersionError: org/tensorflow/Graph : Unsupported major.minor version 52.0"
When I use tf java API, there is a problem Exception in thread "main" java.lang.UnsupportedClassVersionError: org/tensorflow/Graph. It seems that the jdk version 1.7 can not user the lib. So, I want to know whether can I use java api with jdk1.7 and how?
------------------------

[2017-08-01 07:46] snnn commented on #11929
@Wenstery This is not the place for asking help.  Please go to Stackoverflow.

[2017-08-01 07:51] drpngx commented on #11902
Sgtm

On Jul 31, 2017 11:58 PM, "sandipmgiri" <notifications@github.com> wrote:

[2017-08-01 07:53] smodlich commented on #11753
@utkrist I'm using a base learning rate of 0.001 which works fine for a single worker. I multiply this learning rate for distributed training by sqrt(N) where N is number of workers (Just ass @jmchen-g wrote). I also tried: base lr*N (mentioned in [this paper](https://research.fb.com/wp-content/uploads/2017/06/imagenet1kin1h5.pdf?)) but that was to high.

[2017-08-01 07:53] #11753 closed

[2017-08-01 07:57] suiyuan2009 opened #11933 "built 1.3.0 from source, got version 1.2.0"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:ubuntu 16.04
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**:v1.2.0-2651-g82456f9 1.2.1-rc1
- **Python version**: Python 3.5.2
- **Bazel version (if compili

[2017-08-01 08:07] jimdowling commented on #10665
I have this problem  with Centos 7.2. It is a pity as it is very close to working!
The corresponding compiler and software I used as below: bazel v0.5.2, gcc v4.8.5, python v2.7x, cuda v8.0, cudnn v6.0. The problem occurs when building the python package:

___[1,783 / 4,162] Compiling external/protobuf/src/google/protobuf/descriptor_database.cc
ERROR: /root/.cache/bazel/_bazel_root/2608380002b7e82

[2017-08-01 08:08] bknl commented on #11843
I get the exact same problem for TensorFlow Serving (current git head, after no problems of that sort for months). I've tried bazel 0.5.1 , 0.5.3 , bazel clean, manually removing the bazel caches and I get the exact same issue on both x86_64 and PowerPC versions under Linux.  Building TensorFlow itself (1.3.0rc0) is fine in the same environment.  What I would *really* like to learn though is not s

[2017-08-01 08:39] taehoonlee commented on #11638
I agree with @ZekunZh. The `expand_dims` in `_Pooling1D` should transform:
- `NHC` to `NHWC ` for `channels_last` with `expand_dims(inputs, 2)`
- `NCH` to `NCHW` for `channels_first` with `expand_dims(inputs, -1)` not `1`

[2017-08-01 08:40] jbedorf commented on #11903
@episodeyang
I'm using the latest OpenMPI and MVAPICH versions, built from source. I'm not sure what the Ubuntu pre-built packages do and do not install. In this case it looks like the configuration script can not find the 'mpi_portable_platform.h' file and incorrectly assumes you are using MVAPICH.
I would get the latest MVAPICH version which is confirmed to work (http://mvapich.cse.ohio-state.ed

[2017-08-01 08:50] #11931 closed

[2017-08-01 09:05] scucheri opened #11936 "does libtensorflow_inference.so contains both "code for training .pb file" and "code for analyzing .pb file"?"
### Describe the problem
 I'd like to import "libtensorflow_inference.so" to an android app to and make it possible to make some machine learning in the app. But the size of "libtensorflow_inference.so"  file is too large which is 9.8M .

Because  I just want to import generated models(.pb file) to predict and don't need to train models in android app. Could you please tell me which code is used t

[2017-08-01 09:39] tampler opened #11937 "TPU support"
I wanna add support for my Tensor Processing Unit chip in TensorFlow.

My TPU is implemented as an accelerator for ARM v7 32bit processor and implements multiple arithmetic kernels, similar to GPU. It implements a simple memory mapped interface, SGDMA and vector instructions over tensors. I added vector extension to GCC 7.1.1 and can run bare metal C++ nets on embedded Ubuntu 16.04

I also checked

[2017-08-01 09:45] soukira opened #11938 "I am unable to extract the hidden layer values from Seq2Seq model in Tensorflow for NMt"
Has anyone tried to extract the hidden layer values since the code explicitly doesn't specify the hidden layer  in translate.py or in seq2seq_model.py. ?

tensorflow version: 1.0
OS : CentOS
Python: 2.7

Is there any other program i need to look into for printing the hidden layer values?

[2017-08-01 09:45] emsi commented on #11909
The case is slightly different. I already have NaNs in the model (in the Conv layer) and the model produces correct results on GPU. What's interesting is that if I change the NaNs to minus infinity it produces the same results on CPU.

Take a look at the weights:
[code]

The model is defined as follows hence the NaNs are in the first layer after Embeddings:

[code]

[2017-08-01 10:01] jiqiujia commented on #9747
@gauravsindhwani , can you still run the code successfully after you remove these two collections since they are actually part of the graph. I try your way but find the program is stuck after restoring.

[2017-08-01 10:21] sandys commented on #1021
@universewill @ulgus @shlens  is there a current solution to this ? we need a nightly batch processing of 100 of K of images. I have been considering using this method combining it with spark - http://go.databricks.com/hubfs/notebooks/TensorFlow/Distributed_processing_of_images_using_TensorFlow.html

sc = pyspark Context

[2017-08-01 10:48] carlthome commented on #11905
Sweet! Looking forward to it!

[2017-08-01 11:07] nolanliou commented on #7251
@girving Yeah, it could avoid the collision checking, I have implemented the code and post a [PR](https://github.com/tensorflow/tensorflow/pull/11940), please review it if you have time.

[2017-08-01 11:46] Wenstery commented on #11929
If you talk about things that have noting to do with the problem of tensorflow, I'll ignore it.

[2017-08-01 11:48] Wenstery commented on #11929
@snnn  If you talk about things that have nothing to do with the problem of tensorflow, I'll ignore it.

[2017-08-01 12:16] taehoonlee commented on #11868
There is no significant change in the resnet script, but several tf-keras layers have been refactored in [here](https://github.com/tensorflow/tensorflow/commit/35253fa89c5f8af25e3d84f76980729569091a6c). Thus, I tested the four individual layers mainly used in the resnet, and found something weird in `Conv2D` as follows:

[code]
The results are:
[code]

[2017-08-01 12:21] loveJasmine commented on #11157
It is a real disaster!

any workaround?

[2017-08-01 12:46] zakizhou commented on #9020
any updates?

[2017-08-01 12:51] aweichina opened #11941 "Where can I find "gen_checkpoint_ops""
_**When I was debuging inception v4, there has a message:**_
"22 from tensorflow.contrib.framework.python.ops import gen_checkpoint_ops
     23 from tensorflow.contrib.util import loader
     24 from tensorflow.python.framework import dtypes

ImportError: cannot import name gen_checkpoint_ops
".
_**But I can't find a module or package named "gen_checkpoint_ops".**_
_**I don't know how to resolve t

[2017-08-01 13:03] adrienycart commented on #10755
I have experienced the same problem when using brackets in the name of the saving folder.

[2017-08-01 13:18] kindlychung opened #11942 "Got `ValueError: Both labels and logits must be provided` while both labels and logits have been provided."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.2.0-5-g435cdfc 1.2.1
- **Python version**:  3.6.2 |Continuum Analytics, Inc.| (default,

[2017-08-01 14:44] kesinger commented on #5929
I ran into the same thing with the same fix using tf 1.2. I noticed that in file_io.py get_matching_files does a string comparison to check files, and I'd put good odds on this (or something similar) being the culprit.

[2017-08-01 14:53] VinceMarron commented on #10196
You are correct, it is the same issue as #5804. Closing here.

Thank you for the advice.

[2017-08-01 14:53] #10196 closed

[2017-08-01 15:07] riklopfer commented on #10119
Does this fix apply to the GPU version of the libraries as well? Specifically, I'm wonder about `libtensorflow_jni-gpu-linux-x86_64-1.3.0-rc1.tar.gz`. I run out of memory when running with that library on an Nvidia card.

[2017-08-01 15:12] yaroslavvb commented on #11909
It sounds like you are saying that NaN's are handled differently between CPU and GPU. What do you mean by "correct results"? IE, what are you expecting when you apply convolution that contains nans

[2017-08-01 15:15] yaroslavvb commented on #11941
This is probably better for stackoverflow or tensorflow/models repo. I'm guessing you need to use a different version of TF

[2017-08-01 15:15] #11941 closed

[2017-08-01 15:16] yaroslavvb commented on #11937
New hardware is typically added through XLA interface. A discussion group is here -- https://groups.google.com/forum/#!forum/xla-dev

[2017-08-01 15:24] yaroslavvb commented on #11897
Note that the error message says that your LD_LIBRARY_PATH is empty. I would double check that environment is set correctly

[2017-08-01 15:34] asimshankar commented on #10119
Yes, the fix applies to both. You might be running into something else. Please file a new issue, ideally with steps to reproduce the problem. Thanks!

[2017-08-01 15:41] kindlychung opened #11943 "Consoles freezes while reading an image."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.2.0-5-g435cdfc 1.2.1
- **Python version**:  3.6.2 |Continuum Analytics, Inc.| (default,

[2017-08-01 15:42] JamesKostas commented on #11721
I apologize for not getting back to this and being able to help; I've run out of time and had to move on to a new project.  However, I have had a similar issue with PyTorch; apparently it is an issue with CUDA and maybe my GPU.  Perhaps the TF leak is caused by same issue?  See

https://discuss.pytorch.org/t/tracking-down-a-suspected-memory-leak/1130/44
https://discuss.pytorch.org/t/memory-usage-l

[2017-08-01 15:45] yaroslavvb commented on #11943
This might be better suited to stackoverflow (you didn't start queue runners)

[2017-08-01 15:53] yaroslavvb commented on #11721
@reedwm btw, regarding using TF_CPP_MIN_VLOG_LEVEL to debug memory leaks, it became less useful between 1.0.1 and 1.1

Some of the deallocation messages started missing allocation ids, so you can't tell how much memory got reclaimed.

ie for some of my scripts I see messages like this
'2017-05-09 15:31:16.865982: I tensorflow/core/framework/log_memory.cc:35] __LOG_MEMORY__ MemoryLogTensorDeallocat

[2017-08-01 15:55] jrbtaylor opened #11944 "Feature Request: Video Decoder"
A video decoder would make it much easier to work with video. For instance, something like tf.image.decode_jpeg, but for mp4 videos (or some other format perhaps).

[2017-08-01 15:55] yaroslavvb commented on #10769
@3rd3 you could build more accurate image of maximum memory by parsing memory deallocation messages like in https://github.com/yaroslavvb/memory_util

[2017-08-01 16:03] laket commented on #11803
@prb12 thanks for the detail background. I submit the PR.

[2017-08-01 16:14] tampler commented on #11937
@yaroslavvb > New hardware is typically added through XLA interface
Well, XLA is a graph compiler and a relatively new feature. It relies on LLVM backend to generate instructions for a (co)processor.  In my case, I need a memory mapped device support with a direct access to local TF memory, e.g shared buffers. TF should directly call my API methods, wrapped as C++ kernels, instead of generating an

[2017-08-01 16:24] yaroslavvb commented on #11937
I see. TF was more recently ported to run on Qualcomm Hexagon DSP, so maybe that has useful lessons -- https://github.com/tensorflow/tensorflow/tree/b00fc538638f87ac45be9105057b9865f0f9418b/tensorflow/contrib/hvx

[2017-08-01 16:41] emsi commented on #11909
Yes. NaNs are undoubtedly handled differently between GPU and CPU. [There's another possibility, see the last paragraph of this post].

By correct results I mean that I have a model that I trained on GPU and it works correctly on GPU. It produces desired results and is surprisingly numerically stable. It's most probably due to the fact that those NaNs are handled on GPU much like -Inf. At least wh

[2017-08-01 16:45] poxvoculi commented on #11929
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-01 16:47] #11929 closed

[2017-08-01 16:55] yaroslavvb commented on #11909
To make this bug report actionable it would be useful to have a small self-contained example. IE, perhaps a 1x1 convolution on a 1x1 input. There are unfortunately numerical difference between GPU and CPU kernels which are too hard to eliminate, but there may be specific cases where it is feasible.

[2017-08-01 17:03] maelp commented on #9662
Hi, I'm trying to build the standard Android C API (not the JNI API) so I can build a standalone binary in Rust on Android, what would be the recommended way? I saw the `contrib/android` builds the JNI lib, should I simply do a cross-compile bazel build of `//tensorflow:libtensorflow.so` ?

[2017-08-01 18:09] reedwm commented on #11823
I'm able to reproduce locally with `--sync=True`, by running the three terminal commands in three different terminal windows:
[code]
[code]
[code]

I consistently get the "Object was never used" error on the master after the first evaluation.

The stack trace in the error message (from the [first comment](https://github.com/tensorflow/tensorflow/issues/11823#issue-246125815)) is hard to read since

[2017-08-01 18:11] andrewharp commented on #11936
@scucheri The Android TF library is inference only, so there is no training code to remove.

However, we include a large set of ops by default.  You can probably save quite a bit of space by using selective registration. This will strip the binary down to just the ops needed for your model pb. See [print_selective_registration_header.py](https://github.com/tensorflow/tensorflow/blob/master/tensorf

[2017-08-01 18:11] #11936 closed

[2017-08-01 18:14] andrewharp commented on #9662
@maelp The target you're looking for is //tensorflow/core:android_tensorflow_lib. See //tensorflow/contrib/android/README.md for the set of build flags to use.

[2017-08-01 18:17] mari-linhares commented on #11823
Thank you for taking to reproduce this @reedwm! Can you train again for 1 epoch and see if you can get the other Error I mentioned on the last comment?

[2017-08-01 18:18] jinyeom opened #11947 "No module named 'tensorflow.contrib.keras.datasets'"
In the documentation, in order to import Keras dataset, you have to

[code]
But instead, it only works when

[code]
I think this problem would occur not just for datasets but anything else in Keras.

[2017-08-01 18:21] reedwm commented on #11665
Good point, you do need to use a feed dict to initialize variables larger than 2 GB.

/CC @ispirmustafa, what do you think?

[2017-08-01 18:41] gunan commented on #11902
Also SGTM,
If I recall correctly, we also have a check in there to conditionally skip this test anyway.

[2017-08-01 18:44] reedwm commented on #11721
@JamesKostas That's ok. Respond to this post if you ever get time to upload the logs or reproduce the problem with a simpler program.

@yaroslavvb Can you file a separate bug? allocation_id might be only printed if its not 0, but I'm not sure.

[2017-08-01 18:52] riklopfer opened #11948 "Memory leak in Java API when using GPU"
### System information
- **Custom code**: https://github.com/riklopfer/TensorflowJavaGpuMemoryTest
- **OS**: CentOS 7
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: n/a
- **Python version**: n/a
- **Bazel version (if compiling from source)**: n/a
- **CUDA/cuDNN version**: 8.0
- **GPU model and memory**: GeForce GTX 1080
- **Exact command to

[2017-08-01 18:53] riklopfer commented on #10119
@asimshankar, see #11948

[2017-08-01 19:42] reedwm commented on #11823
I was not able to reproduce the other error. I ran the three terminal commands above for 4000 steps, which I believe is several epochs. I did get the original "Object was never used" error after every evaluation, however.

[2017-08-01 19:48] mari-linhares commented on #11823
I see thank you @reedwm.

[2017-08-01 19:55] allenlavoie commented on #11871
I ran into this too building Bazel from head. Looks like we can just cast the returned paths from _get_cxx_inc_directories_impl with str() to make them immutable (not sure what they are by default, but apparently not strings). I'll make that a pull request.

[2017-08-01 20:30] jstaker7 commented on #9091
This is becoming problematic for me as well. I also use non-fixed input dimensions.

Related:
https://github.com/tensorflow/tensorflow/issues/8560
https://stackoverflow.com/questions/42861956/gpu-poolallocator-explodes-the-cpu-memory

[2017-08-01 20:32] zhangyaobit commented on #11638
Marked as contribution welcome. Anyone is welcome to implement the fix proposed by @ZekunZh

[2017-08-01 20:35] sgirkin commented on #11713
Hi,

I implemented decoding csv using _tf.py_func_ and numpy (test_numpy_csv function in the code below). It seems even reading with numpy is faster than decode_csv.

https://pastebin.com/rTZjCwGH

So far parsing csv using py_func+numpy is ~5 times faster than using decode_csv on this particular synthetic data (1000 examples with 100 float columns)

[2017-08-01 20:41] poxvoculi commented on #11947
I'm not able to find the import statement you cite.  Could you tell me where it is?

[2017-08-01 20:46] pwfff commented on #11157
@loveJasmine I was able to work around it by replacing the `.deepcopy` call with `.copy`. This probably breaks other things in subtle ways, but for my purpose it allowed me to get on with training.

The line I changed was
[code]

@ebrevdo this was after trying the RC and compiling master myself to no avail.

[2017-08-01 20:50] av8ramit commented on #11876
The original links are working now.

[2017-08-01 20:50] #11876 closed

[2017-08-01 20:53] av8ramit commented on #11933
Hi @suiyuan2009 do you mind sending over a list of commands that you used from start to finish? Thanks!

[2017-08-01 21:17] cancan101 opened #11950 "Issues with tensordot and axes is list of ints"
[code]
### Describe the problem
`np.tensordot` works for a given set of settings but `tf.tensordot` does not.

### Source code / logs
This works:
[code]
but this does not:
[code]
I get:
[code]

[2017-08-01 21:38] jinyeom commented on #11947
https://www.tensorflow.org/api_docs/python/tf/contrib/keras/datasets/mnist/load_data

[2017-08-01 21:42] yaroslavvb commented on #11933
@suiyuan2009 it looks like you are building from master. Versioning is non-linear, the master is at 1.2.1 (in [version.h](https://github.com/tensorflow/tensorflow/blob/ced7455a9c3d2ff1570f9752c9ca432af1913167/tensorflow/core/public/version.h#L21)) whereas 1.3 only exists in a branch

[2017-08-01 21:49] itssujeeth commented on #4105
I’m also facing the same challenge - unable to build tensor flow on a gpu server.  Below given are the details.  OS is Ubuntu 16.04LTS

[code]
[code]
[code]
[code]
[code]
[code]

[2017-08-01 21:53] itssujeeth commented on #4105
Also - If when checked the cache doesn’t contain crosstool - Am I missing something here?
[code]

[2017-08-01 21:54] poxvoculi commented on #11947
I'm afraid I still don't see it.  Are you talking about the module names, in the left column?

[2017-08-01 21:54] yaroslavvb commented on #11933
PS, you get the commit hash from git_version after the "-g" part
[code]

[2017-08-01 21:58] #11803 closed

[2017-08-01 22:08] reedwm commented on #11713
Thank you for performing that benchmark. Since `tf.decode_csv` is significantly slower than numpy's `np.fromstring`, I'm reopening and marking as contributions welcome.

[2017-08-01 22:12] shivaniag commented on #11892
@ jvdillon could you please comment on this.

[2017-08-01 22:36] #11804 closed

[2017-08-01 22:51] learyg commented on #11890
I think this should be resolved, take a look at let us know how it goes.

[2017-08-01 22:51] #11890 closed

[2017-08-01 23:11] RuofanKong opened #11953 "Is `tf.matrix_inverse()` supported for TF v.1.2?"
I notice that the Tensorlfow computation op `tf.matrix_inverse()` was not supported running on GPU in the previous versions, and I wonder if it's supported for Tensorflow v.1.2 now. If it's still not, can we make a feature request for it? Thanks!

[2017-08-01 23:11] ebrevdo commented on #11157
Interesting, I thought we had fixed this in master.  I'll dig some more
after vacation.

On Aug 1, 2017 10:46 AM, "pwfff" <notifications@github.com> wrote:

[2017-08-01 23:15] ebrevdo commented on #11887
I think we deleted all this code in favor of an object oriented API.

[2017-08-01 23:15] #11887 closed

[2017-08-01 23:16] poxvoculi commented on #11808
@alextp Does this look like a bug, or unclear documentation?

[2017-08-01 23:22] alextp commented on #11808
The metrics functions return two operations: one which computes the metrics based on the current value of a variable (with no dependency on its updating) and another which updates the variables and returns the computed value based on the new values. Your session.run call is running both of those, and the racy one can return different values.

Do `_, e = tf.contrib.metrics...` instead to always use

[2017-08-01 23:22] #11808 closed

[2017-08-01 23:29] #4112 closed

[2017-08-01 23:39] allenlavoie commented on #11938
Let's keep this to StackOverflow (https://stackoverflow.com/questions/45434572/unable-to-extract-the-hidden-layer-values-during-neural-machine-translation-in-t for anyone interested in following up).

[2017-08-01 23:39] #11938 closed

[2017-08-02 00:30] venuktan commented on #3471
@lingz I am trying to run the exported .pb file in C++ and getting errors.
The .pb file works in python but not c++.
Can you point me to a how you ran it in C++ ?
Thank you

[2017-08-02 00:31] TomMiller commented on #868
Happened for me as well.
IPython 5.4.1 (Jupyter 4.3.0)

$ wget https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/udacity/1_notmnist.ipynb
$ md5sum 1_notmnist.ipynb
f8261a76e67ccc7cc1ac2718ad7bc3d9  1_notmnist.ipynb
$ jupyter notebook 1_notmnist.ipynb
[I 20:26:37.275 NotebookApp] Serving notebooks from local directory: /home/USER/udacity/deep_learning
[I 20:26:37.275 Notebook

[2017-08-02 00:36] jinyeom commented on #11947
I might be doing something wrong, but since the documentation suggests 'tf.contrib.keras.datasets.mnist' as the module name, I assumed that I import it by
[code]
but that didn't work.

[2017-08-02 00:39] haraldurt opened #11954 "Dilated convolution does not preserve tensor shape"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 14.04.5 LTS
- **TensorFlow installed from (source or binary)**:
Source
- **TensorFlow version (use command below)**:
('unknown', '1.3.0-rc0')
- **Python version**:
2.7.12

- **Exact command to reproduc

[2017-08-02 00:44] orangeagles opened #11955 "Incorrect tfBinaryURL for installing with Anaconda on Linux"
There is incorrect tfBinaryURL at tensorflow.org.

In case of Installing with Anaconda in Linux, the example shows the following command for Python 2.7.
(tensorflow)$ pip install --ignore-installed --upgrade \
 https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.2.1-cp34-cp34m-linux_x86_64.whl
But this is for Python 3.4 so correct command is below.
(tensorflow)$ pip install --ignore-i

[2017-08-02 01:06] atilaorh opened #11956 "Feature Request: Correlation Layer"
There is a surging interest in Geometric Computer Vision and a large number of recent papers leveraging an operation(with small variations) dubbed "Correlation" layer. There is a CUDA kernel for this operation in the FlowNet paper's author's fork of Caffe. Is there plan on including it in Tensorflow? I couldn't locate a relevant issue anywhere and this is why I am raising this issue.

[2017-08-02 01:06] Qinka opened #11957 "cudnn failed with GTX960"
I am trying to use conv2d (for cnn) with GPU, and there are one GTX 960 and Quadro 600 on my computer. I set up the `CUDA_VISIBLE_DEVICES=0` to use GTX 960, but I get
[code]

### System information
- I Just using Haskell's binding, but I don't think that is key to this problem, and the libtensorflow.so is the gpu one.
- system
[code]
- Using libtensorflow.so download from official site
- tensorflo

[2017-08-02 01:17] zhedongzheng commented on #11904
@ebrevdo any insight about this?

[2017-08-02 01:21] nolanliou commented on #7251
@girving thanks and good luck.

[2017-08-02 01:25] zhedongzheng commented on #11904
@JerrikEph @Songweiping @pplantinga
any insight about this?

[2017-08-02 01:27] Qinka commented on #11957
(I forgot to set up `use_cudnn_on_gpu` to true....)

[2017-08-02 01:27] #11957 closed

[2017-08-02 01:30] dmitry-xnor commented on #7257
@mvpel "There's not much point to vector instructions in a GPU-enabled TF runs"

CPU is very much a bottleneck with today's faster GPUs on certain models. Typically for e.g. computer vision problems you need to do a bunch of data decoding and augmentation, much of which can't be done on the GPU. This is actually a major problem we had with TF for multi-GPU training. Things were so bad (even _with_

[2017-08-02 01:32] hongjic opened #11958 "[Bug?]Session Hang during training with 'mnist_replica.py' and learning rate as a placeholder"
### System information
 OS: Mac OS
 TF: 1.2.0, pip install
 Python: 2.7.9
also tested on RHEL with TF 1.1 and Python 2.7.13, the problem still exists. I don't think it is system specific.

### Describe the problem
I am training the 'mnist-replica.py' provided on github. link is [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dist_test/python/mnist_replica.py)
and set u

[2017-08-02 01:35] pplantinga commented on #11904
The error message seems to suggest a fix: tile the encoder output

[2017-08-02 01:38] zhedongzheng commented on #11904
hi @pplantinga
It is already tiled here:
[code]
I use clone method because of attention wrapper

[2017-08-02 01:42] hongjic commented on #11958
I am not sure is this the right way to do?

[2017-08-02 01:46] pplantinga commented on #11904
I see:

Encoder out -> attention -> decoder cell -> beam search(cell=decoder cell)

Without ever getting tiled. I'm not sure of the correct place to tile, however.

[2017-08-02 01:49] vincentvanhoucke commented on #868
@TomMiller if the notebook you get starts with 'u'\n\n\n\n\n\n\n<html lan..., I would take a look at the rest of the HTML, seems like you might be getting an error response to your wget command instead of the actual notebook.

[2017-08-02 02:43] suiyuan2009 commented on #11933
@yaroslavvb , I got
[code]

[2017-08-02 02:49] suiyuan2009 commented on #11933
@av8ramit ,
[code]

[2017-08-02 02:50] zhedongzheng commented on #11904
I finally get the graph successfully compiled by the following, will further test the running environment and then close the issue if solved
[code]

[2017-08-02 03:09] qinglintian commented on #11896
Thank you the info provided above. It seems that dynamic scaling of the cluster is not supported yet. Is there any clear plan for supporting that?

@yaroslavvb Correct me if my understanding is wrong. What you mentioned for async parameter server is applicable for data parallelism? When more workers come online, the worker simply build same graph and request data to training the model and transfer

[2017-08-02 03:12] loveJasmine commented on #11157
@pwfff
in my project,change from deepcopy to copy will move on, but it doesn't make any sense on the logic

[2017-08-02 03:28] yongtang commented on #11950
The case of `axes=[1, 2]` was not covered in `_tensordot_axes()`, only `axes=[[1], [2]]` had been covered.

Created a PR #11959 to fix this issue.

[2017-08-02 03:30] yaroslavvb commented on #11896
@qinglintian if you keep your hyper-parameters (ie, learning rate) in shared variable, then you can adjust from any tensorflow client that's part of the cluster. Fault tolerance is achieved by checkpointing and restarting the training on failures. Permanent removal of workers can be handled with backup workers. Permanent removal of parameter servers is more tricky -- you have to repartition your p

[2017-08-02 03:40] yaroslavvb commented on #11933
@suiyuan2009 the reason you are seeing this is because versioning is non-linear. Some commits go directly into version branch. Right now master is behind 1.3 version branch by 1 commit.

[2017-08-02 03:47] zhedongzheng commented on #11904
running is passed, this is closed, thanks.

[2017-08-02 03:47] #11904 closed

[2017-08-02 04:34] gagan-bansal commented on #37
+1

[2017-08-02 04:49] suiyuan2009 commented on #11933
thank you @yaroslavvb . The version `1.2.1-rc1` I got from `tf.__version__` confused me, I thought I installed a wrong version.

[2017-08-02 05:35] Savash2016 commented on #10798
Niceeeeeee! Hi @bmount,
thank you! I can work with both ways without any problems!
Previously I work with darkflow/yolo to make an app in android and it was quite the same.

Again, thank you and keep doing!

[2017-08-02 05:40] anandcu3 commented on #10798
@Savash2016  I tried compiling and got the following error..

`No OpKernel was registered to support Op 'Switch' with these attrs.  Registered devices: [CPU], Registered kernels:
                                                                     device='GPU'; T in [DT_STRING]
                                                                     device='GPU'; T in [DT_BOOL]

[2017-08-02 05:53] Savash2016 commented on #10798
Hi,
@anandcu3 sorry I dont have an solution for this.

But I would advise you to do your work in linux (ubuntu).
Previously I work with windows  too and after a lot of problems (with bazel and tensorflow) I switched to Ubuntu.

[2017-08-02 05:59] liuquande opened #11961 "timeout breaks FIFOQueue"
### System information
-  Linux Ubuntu 14.04
-  TensorFlow installed from https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.2.1-cp27-none-linux_x86_64.whl
-  Tensorflow-gpu 1.2.1
-  Python version 2.7
-  CUDA 8.0 /cuDNN 5.1.10
-  GPU - Nvidia GTX 1080

### Describe the problem
I use thread to add my training data to a FIFO Queue. There is always an thread error occurring in the

[2017-08-02 06:14] glhfgg1024 commented on #11876
@av8ramit thanks for revisions.

[2017-08-02 07:04] Antigonus commented on #3369
Same thing.  Simple direct install.

-----
$ lsb_release --> Ubuntu 17.04
$ sudo su -l
# pip3 install tensorflow
    <many messages all good>
    Successfully installed backports.weakref-1.0rc1 bleach-1.5.0 html5lib-0.9999999 markdown-2.6.8 numpy-1.13.1 protobuf-3.3.0 tensorflow-1.2.1 werkzeug-0.12.2
^d

$ Python 3.5.3 (default, Jan 19 2017, 14:11:04)
[GCC 6.3.0 20170118] on linux
Type "help", "co

[2017-08-02 07:08] bmount commented on #10798
@anandcu3 I think I hit the Switch kernel registration issue too and the workaround was this little change in register_types.h:  https://github.com/bmount/tensorflow/commit/24b59a4a7797623a9da9311ee1214ac334478ed3#diff-76e272a58ca1535b3e0ec93499779a14 which I believe I found here: https://github.com/tensorflow/tensorflow/issues/2680 . That patch is part of the commit with the ssd demo, so you shou

[2017-08-02 07:34] meteorcloudy opened #11962 "Some gpu tests are failing on Windows in Bazel build"
They are marked as `no_windows_gpu` in https://github.com/tensorflow/tensorflow/pull/11901, but we need to investigate why they are now failing.
[code]

[2017-08-02 07:56] llhe commented on #7116
@jiazhentim Is the AVX512 issue solved?

[2017-08-02 07:58] sj6077 opened #11963 "Infiniband with tensorflow"
-----------------------
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
commit 3bee923c9
- **Bazel version (if compiling from source

[2017-08-02 08:09] rolai opened #11964 "Fail to restore the model after upgraded to version 1.2.1"
I trained my model in tensorflow version 1.1.0, and test or restore it successfully. But after I upgraded tensorflow to version 1.2.1,  I fail to restore the same model  with the same code!

### Error Log
[code]

###  Restore Code
[code]

Is it a bug of tensorflow or my code? How to fix it?

[2017-08-02 08:12] StatML commented on #11859
I met the same problem. Rolling back to bazel 0.5.2 does not help >_<

[2017-08-02 08:20] dung38tn commented on #9619
There are a little differences in using android interface API between tensorflow version.
If you go with old version (build num. 44 on Feb. 17, 2017) the code for feeding, running will be exactly as you did
But you have new version (build num 164 on June 15, 2017) the code should be like this:
Refer this video for comprehensive info.
https://www.youtube.com/watch?v=SSGp06uFhhU&t=25s
https://www.yo

[2017-08-02 08:39] JonathanRaiman commented on #9091
@jart @zhifengc Have these code snippets helped illuminate what might be the source for the leak? Is there any other information we could provide to help fix this?

[2017-08-02 08:56] byronyi commented on #11963
This a [known issue](https://github.com/tensorflow/tensorflow/issues/9926#issuecomment-302259929) that when the first IB port is down, the verbs server wouldn't run. You could manually change it to the second port [here](https://github.com/tensorflow/tensorflow/blob/314008aceb061675eb30daf7e0cae303ebfe8723/tensorflow/contrib/verbs/rdma.cc#L74).

Or you could wait a little bit more time to try my [

[2017-08-02 09:01] rubenvereecken commented on #11808
A race condition! Good stuff, makes sense. Might want to update the docs somehow though because I remember feeling like I should use the first one to get the updated value.

[2017-08-02 09:19] buffxz commented on #8665
Any update for this issue?

[2017-08-02 09:38] Lucky94 commented on #2680
Hi, @Mr-Grieves I am getting the same error. Did that fix work for you? It's not working for me.

`tensorflow/core/kernels/concat_lib_cpu.cc:68:44: error: duplicate explicit instantiation of 'void tensorflow::ConcatCPU(tensorflow::DeviceBase*, const std::vector<std::unique_ptr<typename tensorflow::TTypes<T, 2>::ConstMatrix> >&, typename tensorflow::TTypes<T, 2>::Matrix*) [with T = std::basic_strin

[2017-08-02 09:40] EKami commented on #5303
Any updates on this? I'm still having the issue with TF 1.3.0 rc1:
[code]

with:
[code]
and:
[code]

[2017-08-02 11:22] idofr opened #11965 "Moving average and moving variance in Batchnorm aren't updated"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**:  3.5.3
- **Bazel version (if compiling from source)**: None
- **CUDA

[2017-08-02 11:26] Lucky94 commented on #2680
Hey, @Mr-Grieves @nesadiankemo @leftstone2015 @andrewharp
That error is gone . I did change only the TF_CALL_bool macros at lines L#98 and L#125 only and not at any other places. Also i didn't change the TF_CALL_string macro. So it worked for me but now I'm getting error at the later stage when i am running the benchmark for "frozen_inference_graph.pb" as provided for object detection model.

One

[2017-08-02 11:35] pocandraspoc commented on #11891
Thanks I will check it!

[2017-08-02 11:41] scucheri commented on #11936
Thank you very much ~

[2017-08-02 13:36] namrata-ibm opened #11967 "Training_ops_test assertion failures on Ubuntu 16.04"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**:  'v1.2.1-0-gb4957ff', '1.2.1'
- **Python version**:  2.7.12
- **Bazel version (if com

[2017-08-02 14:06] jiazhentim commented on #7116
I did not try with ICC. For gcc, it works for AVX-512. @llhe

[2017-08-02 14:10] Mazecreator commented on #7116
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  mazecreator@gmail.com
    Domain mazecreator.com has exceeded the max emails per hour (25/25 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, i

[2017-08-02 14:59] parunach opened #11969 "tensorflow_gpu-1.3.0rc1-cp27-none-linux_x86_64.whl is not a supported wheel on this platform."
I am trying to install TF 1.3.0rc1 in CentOS 7.3 with Nvidia GPUs for python3.6. When I installed with python2.7, it was fine.

`sudo pip3.6 install -U http://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.3.0rc1-cp27-none-linux_x86_64.whl`

I get this error with python3.6

My pip3.6 has a slight difference with sudo

Without sudo, when I run pip3.6 --version, I get

With sudo I get

[2017-08-02 15:01] GPhilo opened #11970 "Error when using dataset.map() with num_threads != None"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes (code attached below)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**: 3.5
- **Bazel version (if compiling from s

[2017-08-02 15:18] #11969 closed

[2017-08-02 15:45] idofr commented on #11965
I can't edit my orginal message, so I'll just add a comment.
I tried running the test function with `is_training=False` (but with the exact same checkpoint as before). The accuracy went from ~98% to roughly 12%.

My theory here is that the batchnorm layer is keeping the mean and variance variables in a different place than it's telling the collection

[2017-08-02 15:46] yaroslavvb commented on #11961
This doesn't sounds like a bug in TensorFlow (the error you see is signaling that you have not enqueued enough elements onto the queue)

[2017-08-02 16:00] netheril96 opened #11971 "API request: MonitoredSession.run_without_hooks"
Currently it is not possible to run a `MonitoredSession` without also calling the `before_run` and `after_run` methods of session hooks. But sometimes it is necessary. For example, I want to modify certain variables in the graph, but sometimes the `SummarySaverHook` decides it is time to collect summary, right when I am loading new values into the dependent variables, and then `Tensorboad` shows i

[2017-08-02 16:02] #11961 closed

[2017-08-02 16:03] maciekcc commented on #5303
The fix is already in gemmlowp (since May actually) : https://github.com/google/gemmlowp/commit/9941cad948313bffd44b8cafe759aa6d8d6a9d75

I will check if it ended up in tensorflow.

[2017-08-02 16:23] pjaehrling commented on #11571
@jubjamie should I open another issue? I couldn't find a way to make it work nor got a response to my Stack Overflow issue so far. I also tried to install tensorflow outside of the virtualenv and tried to build a pip wheel from source for the latest release version 1.3, but got the same error.

When I build the `.whl` file, I get warnings, which may seem to point to the problem?

[code]

[2017-08-02 17:21] joseph-valles opened #11974 "tf.reshape does not accept Dimension objects for the shape parameter"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-08-02 17:29] Mr-Grieves commented on #2680
@Lucky94: I could not get it working with the suggested edits to register_types.h
Eventually I was able to get my hands on a .pb file with the problematic nodes removed, but I realize that doesn't help you much.

Hopefully somebody will be able to provide an alternative solution soon.
Sorry!

[2017-08-02 17:43] ophiry commented on #10073
@KashiErez Do you have a recommendation which of these solutions works best?

[2017-08-02 17:56] poxvoculi commented on #11947
It appears that the module names in the documentation are frequently not the same as the include paths.
 This appears to be intentional.  The documentation often gives a specific path where a particular module is defined.

[2017-08-02 17:59] Mazecreator commented on #11947
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  mazecreator@gmail.com
    Domain mazecreator.com has exceeded the max emails per hour (25/25 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, i

[2017-08-02 18:00] shivaniag commented on #11948
@asimshankar could you please take a look at this.

[2017-08-02 18:04] Mazecreator commented on #11948
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  mazecreator@gmail.com
    Domain mazecreator.com has exceeded the max emails per hour (26/25 (104%)) allowed.  Message will be reattempted later

------- This is a copy of the message, i

[2017-08-02 18:14] yaroslavvb commented on #11974
One fix could be to add some code before [this line](https://github.com/tensorflow/tensorflow/blob/42ca99b5aae03a8122ba0db94abfe1f3f5c257dc/tensorflow/python/framework/tensor_util.py#L377) that casts all tf.Dimension objects in the list to Python int

[2017-08-02 18:20] pusj commented on #10399
@xiejw ,

Correct, this is now workin in TF 1.3...however, I can only get the CPU ver of TF running, the GPU ver of 1.3 throws the pywrap error, although the GPU ver for TF 1.2 works like a charm....strange, that's what is it...

[2017-08-02 18:23] MaxSavenkov opened #11975 "CMake build with -Dtensorflow_BUILD_ALL_KERNELS=OFF does not work"
Problem:

When building Tensorflow via CMake, specifying option tensorflow_BUILD_ALL_KERNELS=OFF leads to failed linker step due to unresolved external functions, because many important files (that are not kernels, but are necessary) are not included in build's list of sources (like ops_util.cc, but also other files).

Reproduction:

Follow instruction in https://github.com/tensorflow/tensorflow/b

[2017-08-02 18:45] poxvoculi commented on #11955
Thanks for pointing this out.

[2017-08-02 18:51] gautam1858 commented on #5858
Me too

[2017-08-02 18:52] elefthei commented on #9080
Could you try a multiprocess scenario? Something like:

[code]
# With MPS enabled
`time stresstest`

# With MPS disabled
`time stresstest`
[code]

[2017-08-02 18:56] dburkhardt commented on #11724
If I run `export MKL_NUM_THREADS="1"` before opening python, then I get the correct result, but if I set MKL_NUM_THREADS="2" or greater, then I get the wrong answer again.

[2017-08-02 19:04] NickTGraham commented on #9243
@ilkarman I had the same issue. I found the error a bit confusing. The problem wasn't with the input but with the filter. I had to create a variable instead of just passing in a list.

Here is what I did, based on the example [here](https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10.py ):
[code]

[2017-08-02 19:14] GeorgeHamilton opened #11976 "How to Retrain Final Layer for New Categories"
Could there be another or newer classification algorithm for image classification like ResNet etc? There are a lot of new neural nets with less classification error than Inception. ImageNet results: [http://image-net.org/challenges/LSVRC/2017/results](INCR)

[2017-08-02 19:17] yaroslavvb commented on #11724
Sounds like an MKL bug. I also saw a bug where MKL's SVD gave incorrect results for certain numbers of MKL_NUM_THREADS (however it was order of magnitude faster than openblas version)

[2017-08-02 19:18] shivaniag commented on #11956
@benoitsteiner do you have any comment on this?

[2017-08-02 19:22] ultimatespirit opened #11977 "Multiple runs of Configure with MKL enabled leads to cyclic symlinks"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Centos 7
- **TensorFlow installed from (source or binary)**: Compilation from source
- **TensorFlow version (use command below)**: v1.2.1 and v1.3.0-r1
- **Python version**: Python 3.5.2
- **Bazel versio

[2017-08-02 19:24] yaroslavvb commented on #11956
Maybe this could be contributions welcome? First step could be implemented this as a user_op which could exist in a separate repo

[2017-08-02 19:39] ultimatespirit commented on #11977
I have seen elsewhere in the issue tracker mention that this section of configure code may change soon, so rather than making a pull request immediately I will just say here how I fixed the script for this specific problem. This would also fix Issue #11029

Instead of using `locate` use `wheris`, which checks the $PATH alone.

Line 276 becomes
`loc="$(wheris libdl.so.2 | awk '{print $2}')"`

Unfor

[2017-08-02 19:39] erwins22 opened #11978 "tf.nn.weighted_cross_entropy_with_logits is bad"
tf.nn.weighted_cross_entropy_with_logits
(1 - z) * x + l * (log(1 + exp(-abs(x))) + max(-x, 0))
where l = (1 + (q - 1) * z)

but tf.nn.sigmoid_cross_entropy_with_logits
max(x, 0) - x * z + log(1 + exp(-abs(x)))

if q=1 weighted_cross_entropy_with_logits is equvalent sigmoid_cross_entropy_with_logits

(1 - z) * x + l * (log(1 + exp(-abs(x))) + max(-x, 0)) {l=1}- (max(x, 0) - x * z + log(1 + exp(-ab

[2017-08-02 20:14] nsmetanin commented on #9080
I've tested it in multiprocess environment — 3-4 instances of the same process per GPU, each with sufficient amount of GPU memory, all under simultaneous high load (each process handle requests by several GPU inference calls alternating with calculations on CPU), it's actually a LSTM-based dialog model in a nutshell. All the difference was in running it thought MPS or not and I've got ~10% perform

[2017-08-02 20:19] #11822 closed

[2017-08-02 20:20] AxenGitHub commented on #7669
I am in the same boat as "agniszczotka".
I have successfully used a SummarySaverHook to write some stats to file and display them on tensorboard, but i am wondering how i can evaluate the accuracy improvement through training. Should i put an estimator.evaluate with different "step" parameters to evaluate the accuracy in different moments/checkpoints?
In specific, i am trying to replicate this: ht

[2017-08-02 20:23] fauliath commented on #3369
@Antigonus, you're misspelling the command. You have tensoflow instead of tensorflow.

It should be;
`pip3 install tensorflow --upgrade https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.2.1-cp35-cp35m-linux_x86_64.whl`

[2017-08-02 20:49] poxvoculi commented on #11848
I don't see any batch_seq_with_states, only contrib.training.batch_sequences_with_states, which is documented [here](https://www.tensorflow.org/versions/r0.12/api_docs/python/contrib.training/splitting_sequence_inputs_into_minibatches_with_state_saving)

[2017-08-02 20:51] #11978 closed

[2017-08-02 20:51] erwins22 commented on #11978
may error

[2017-08-02 21:02] shivaniag commented on #11944
@shlens do you have any comments on this?

[2017-08-02 21:05] Mazecreator commented on #11944
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  mazecreator@gmail.com
    Domain mazecreator.com has exceeded the max emails per hour (25/25 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, i

[2017-08-02 21:12] dr4b commented on #11955
So, we already have fixed this in the source, as you can see here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/install/install_linux.md#InstallingAnaconda

It just hasn't propagated out to be the root version of the documentation on tensorflow.org yet, but that should happen fairly soon.

[2017-08-02 21:12] #11955 closed

[2017-08-02 21:31] poxvoculi commented on #11908
The routines in coding.{h,cc} are meant to be agnostic of the endian-ness of the machine on which they're executing.  They should only be used for encoding/decoding values used by tensorflow itself, not for values produced or consumed by some other program.  Hence they pick one convention (little-endian) as confirmed in coding_test.cc and use it independently of the machine architecture, which sho

[2017-08-02 21:32] #11908 closed

[2017-08-02 21:37] Abduoit commented on #351
Hi all and @vrv @petewarden

I have installed Tensorflow gpu-support successfully, I test it with python example, it works fine, but I have problem when I test it with C++ example, I run

`bazel build tensorflow/examples/label_image/...` this works fine

`bazel-bin/tensorflow/examples/label_image/label_image` this give me the follwoing error

`E tensorflow/examples/label_image/main.cc:285] Not fou

[2017-08-02 21:40] poxvoculi commented on #11912
internal tracking bug opened

[2017-08-02 21:43] poxvoculi commented on #11928
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-08-02 21:48] poxvoculi commented on #11930
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-08-02 21:58] poxvoculi commented on #11942
The combine_inputs function does not return any value.

This sort of question is better asked on stackoverflow.

[2017-08-02 21:58] #11942 closed

[2017-08-02 22:29] shivaniag commented on #11954
@jbms could you please take a look into this. I am able to reproduce the problem.

[2017-08-02 22:35] shivaniag commented on #11974
We currently don't have anybody working on this. It would be great if you could help us by working on this and submitting a PR. Let us know if you need further clarification. Thanks!

[2017-08-02 22:36] shivaniag commented on #11962
@gunan do you have any comments on this?

[2017-08-02 22:36] kevinlmh commented on #11974
I am new to tensorflow community but I would like to help on this one.

[2017-08-02 23:01] jbms commented on #11954
This is a limitation in the shape inference.  It may be difficult to fix without introducing a fair amount of additional complexity/code duplication, which is why it hasn't already been fixed.  The difficulty lies in the fact that tensorflow has special support for constant-valued tensors whose values are known at graph creation time, but it doesn't have support for partially-constant tensors, whe

[2017-08-02 23:04] poxvoculi commented on #11967
Which test specifically is failing?  If it's one where the final values are the result of multiple math ops, then 1e-6 is not a very high tolerance.

[2017-08-02 23:31] asimshankar commented on #11964
Sorry you ran into this.
I believe the RNN code was moved from experimental (`tf.contrib`) to the main repository in 1.2.0. Quoting from the [release notes](https://github.com/tensorflow/tensorflow/blob/master/RELEASE.md) of 1.2.0:

RNNCells' variable names have been renamed for consistency with Keras layers. Specifically, the previous variable names "weights" and "biases" have been changed to "ke

[2017-08-02 23:39] seaotterman commented on #11651
+1
Can confirm this for TF v1.2.1.

[2017-08-03 00:09] TomMiller commented on #868
Thanks Vincent. The issue was that I shouldn't have been using wget at all. I thought that would get me the 1_notmnist.ipynb file, but instead it downloaded the web page view of the 1_notmnist.ipynb file. I cloned the tensorflow repository, and opening the file in the repository worked just fine.

[2017-08-03 00:38] shlens commented on #11944
We are generally reluctant to add more dependencies to tensorflow on external libraries. In particular, many external open-source video decoding libraries (e.g. ffmpeg) tend to be quite large and bring in many dependencies. In addition, decoding a video on the fly can be computationally expensive and may detract from the training speed.

That said, one can always build a stand-alone script that im

[2017-08-03 00:40] EKami commented on #5303
@maciekcc Doesn't seems so. The most recent commit from the [bazel workspace](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/workspace.bzl#L229) is [this one]
(https://github.com/google/gemmlowp/commit/a6f29d8ac48d63293f845f2253eccbf86bc28321).

[2017-08-03 01:53] jared-mess opened #11982 "Feature Request: Kill session->run process"
For mobile & embedded devices `session->run` is typically initiated through a user interaction. If the user presses the back button or continues to another screen before `session->run` finishes, the process is still lingering in the background wasting resources. Since these devices are relatively low powered, it would be great if we could cancel/kill the process when it's not needed anymore.

[2017-08-03 02:07] HannH commented on #11771
I found it is easy to build tensorflow project dynamically in vs 2015 for tf-r1.3. Close the issue.

[2017-08-03 02:07] #11771 closed

[2017-08-03 02:07] HannH commented on #11771
I found it is easy to build tensorflow project dynamically in vs 2015 for tf-r1.3. Close the issue.

[2017-08-03 02:46] nolanliou commented on #11228
@tjingrant How is the PR going?

[2017-08-03 02:48] sh1r0 commented on #4105
@itssujeeth #11949 fixes the issue when building tensorflow with gpu support using bazel 0.5.3.

[2017-08-03 02:53] tjingrant commented on #11228
Hi, I got some feedback about a week ago but since then was caught up with some other things. I will likely be able to submit an update within 2 days. Sorry for the delay.

[2017-08-03 03:06] ppwwyyxx commented on #11971
As a workaround you can call `monitored_session._tf_sess()` to get the underlying `tf.Session` object.
But I also hope there is a public API for it.

[2017-08-03 03:09] ppwwyyxx commented on #11965
You probably forgot this which is written in the document of batch_norm:
[code]

  One can set updates_collections=None to force the updates in place, but that
  can have a speed penalty, especially in distributed settings.
[code]

[2017-08-03 03:16] litchiyj opened #11984 "Save seq2seq model error (tensowflow 1.0.0)"
1. I had trained a seq2seq model with tensorflow 1.0.0 (cpu version)

  install: pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-1.0.0-cp35-cp35m-win_amd64.whl

2. Save the model.
save_path = saver.save(session, 'model/model.ckpt')

3. load the model.
new_saver = tf.train.import_meta_graph('model/model.ckpt.meta')

when I load the model,the

[2017-08-03 03:24] snnn opened #11985 "windows bazel build failed: undeclared inclusion"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
2ab9cb209babf905091dcff2f7cdce38da616cfe
- **Python version**:
3.5.3
- **Bazel version (if co

[2017-08-03 03:25] snnn commented on #11985
If no one is working on this, I'll take it.

[2017-08-03 03:52] gauss-clb opened #11986 "The FixedLenFeature of parse_example?"
View[ API DOC](https://www.tensorflow.org/versions/master/api_docs/python/tf/parse_example).

The description maybe wrong?
`Each FixedLenFeature df maps to a Tensor of the specified type (or tf.float32 if not specified) and shape (serialized.size(),) + df.shape.`

But the example shows:
For dense results in two serialized Examples:

[code]
We can use arguments:

[code]
And the expected output is:

[2017-08-03 04:11] jingxil opened #11988 "AttentionWrapper is not compatible with dynamic_rnn"
### System information
- **TensorFlow version (v1.2.0-rc2-21-g12f033d 1.2.0)**:
- **Python 3**

### Describe the problem

The return of `zero_state` function of  `tensorflow.contrib.seq2seq.AttentionWrapper` is not compatible with `tensorflow.nn.dynamic_rnn` function.  It seems that `if output.shape.ndims == 0:` in `_copy_one_through` function does not work. Once those scalar elements in return tu

[2017-08-03 05:07] nurlonn commented on #11564
I tried adjusting some optimization options to find the problems.

I found that reshape-motion in HLO optimizer optimization is a problem.
(tensorflow/compiler/xla/service/reshape_mover.cc)
(I can not be sure this optimization is always a problem. In some cases this seems to work well.)

I used the parallel check option to compare the results of turning the reshape-motion optimization option on an

[2017-08-03 05:23] justinshapiro opened #11990 "Python crashes with "Check failed" error when fitting TensorForestEstimator"
### Problem

I am experiencing an issue trying to use `TensorForestEstimator`. I am trying to predict 7 output labels by inputting 7 features. That is, my `num_outputs=7` and `num_features=7` in my hyperparameters. The shape of `features` and `labels` is `(484876, 7)`.

Here is an example of the format of my input data:

[code]

When calling `fit()`,  each of the trees get properly trained (see lo

[2017-08-03 05:57] StatML commented on #11985
Hi, @snnn I met the following problem when building from source. Do you know how to fix it? Thx!

System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 16.04.4
TensorFlow installed from (source or binary):
source
TensorFlow version (use command below):

Python version:
3

[2017-08-03 06:04] StatML opened #11991 "ERROR: Skipping '//tensorflow/tools/pip_package:build_pip_package': error loading package 'tensorflow/tools/pip_package': Encountered error while reading extension file 'cuda/build_defs.bzl': no such package '@local_config_cuda//cuda'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04.4
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**:
- **Python version**:
- **Bazel version (if compiling from source)**: 0.5.3
- **CUDA/cuDN

[2017-08-03 06:38] justinshapiro commented on #11990
`regression=True` needed to be specified in the `ForestHParams` because `TensorForestEstimator` by default assumes a classification problem. There is an implicit `num_outputs` variable created upon initialization of the estimator and it is set to `False` if `regression` was not specified. If `regression` is specified, then `num_outputs = num_classes` and checkpoints are saved normally.

[2017-08-03 06:38] #11990 closed

[2017-08-03 06:50] sandipmgiri commented on #11603
Tried to run sample code using TF Relu API , but getting same issue -

[code]
I was debugging this issue and could able to reach at https://github.com/tensorflow/tensorflow/blob/v1.2.1/tensorflow/python/framework/op_def_library.py#L288

Now trying to understand apply_op function for Relu operation, looks like different graph operations performed here.
Any comments/suggestions on this would help! T

[2017-08-03 07:09] KashiErez commented on #10073
Hi Ophiry,

I found the 3rd solution the best.

This post contains a code snippet of the Dockerfile:
http://engineering.taboola.com/deep-learning-from-prototype-to-production

When you want to run on CPU, you have to:
   *  override the docker cmd, and use the CPU venv

When you want to run on GPU, you have to do 2 things:
   * override the docker cmd, and use the GPU venv
   * use nvidia-docker c

[2017-08-03 07:14] aluo-x commented on #11865
[Here is the code](https://github.com/aluo-x/tensorflow_windows/issues/1#issuecomment-312762361) that triggered the error in my builds but not in official whls.

[2017-08-03 07:18] KashiErez commented on #10073
Hi @gunan & @martinwicke,

My advice is to add GPU & CPU support at one tensorflow installation, for 2 reasons:
   1. The work around is very tedious
   2. Almost anyone going to production with Tensorflow will face this issue (regardless of using docker)

@ophiry, do you agree?

Thanks,
Erez

[2017-08-03 07:23] idofr commented on #11965
Ok, this was indeed the problem. Many thanks.

Do I need to concatenate this collection with any other one for normal training? Why does it make sense to have it like this?

[2017-08-03 07:23] rolai commented on #11964
It works. @asimshankar Thank you very much!

[2017-08-03 07:23] #11964 closed

[2017-08-03 07:26] ophiry commented on #10073
Agree - the simplest thing would be to have tf use GPU if it's avaiable, and CPU if not.
of possibly have a configuration variable that can force GPU, force CPU, or do automatic selection

[2017-08-03 07:32] jeisses commented on #675
@liber145 I have to compute semi-large Jacobians and am also having performance issues using a for loop.

After looking at the code by @tillahoffmann I came up with the following function, which gives a decent speedup for larger N:

[code]
In my case speed is similar to Theano's [`jacobian`](http://deeplearning.net/software/theano/library/gradient.html#theano.gradient.jacobian) function

[2017-08-03 07:59] ppwwyyxx commented on #11965
Other layers don't have similar caveats AFAIK.

It makes sense because the moving averages are not updated by gradient descent, therefore there must be another way to update it.

[2017-08-03 08:03] tillahoffmann commented on #675
@jeisses, the implementation of `hessians` on the `master` branch looks very similar to the one you suggested (see [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/gradients_impl.py#L941)).

[2017-08-03 08:28] jeisses commented on #675
@tillahoffmann, yes, I did derive the function directly from that code :smile:.

But I'm looking for just a Jacobian matrix, doesn't the `hessians` function contain second order derivates, and still use aggregated gradients? Or could I use the `hessians` function for this?

Thanks

[2017-08-03 08:32] Antigonus commented on #3369
@faullath,   thank you!   I suspect the first problem was something about permissions having run pip3 as root.   That mispelling is incredible as the command was cut and paste from the dialog. Somehow a character was deleted, or wasn't there in the first place.  I didn't think to examine it closely.   I ended up replacing Ubuntu 17  with a Debian Stretch,  ran pip3 as a user on the new system,  an

[2017-08-03 08:35] pocandraspoc commented on #11891
Sorry to make false bug report,
I made the mistake wit my configurations.

[2017-08-03 08:42] bluekingdom commented on #11928
@poxvoculi I sorry for my pool English and I try to do my best to editing my problem again. Hope you can understand.

[2017-08-03 08:51] yyx911216 opened #11994 "tensorflow-1.2.1：TypeError: sampled_loss() got an unexpected keyword argument 'logits'"
# the code is:
    def sampled_loss(labels, inputs):
            labels = tf.reshape(labels, [-1, 1])
            # We need to compute the sampled_softmax_loss using 32bit floats to
            # avoid numerical instabilities.
            local_w_t = tf.cast(w_t, tf.float32)
            local_b = tf.cast(b, tf.float32)
            local_inputs = tf.cast(inputs, tf.float32)
            return tf.ca

[2017-08-03 08:53] EKami commented on #5303
How am I supposed to modify the bazel workspace? I tried to update it with the most recent commit with:
[code]
But it's not working, I get a http `403` on `http://mirror.bazel.build`. And when I try only with the github archive it doesn't work neither, I end up with a `java.lang.IllegalStateException`. How am I supposed to upload the archive to the bazel mirror? Thanks

[2017-08-03 09:00] gautam1858 opened #11995 "Errors"
Hi I am running a simple tensor flow script and I am getting the following errors
 - OS is macOS
-Tensorflow binary 1.2.1 version
-python version 3.5

The thing is it runs on the Jupyter notebook buy when I run python add.py I get the following errors

[code]

[2017-08-03 09:08] AngryPowman opened #11996 "tensorflow Makefile build does not support building arm64-v8a static library for Android"
Currently tensorflow has only support build static library in `armeabi-v7a` for Android.

And the build script has not support the other platforms yet as we can see in:
 [`tensorflow/tensorflow/contrib/makefile/Makefile`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/makefile/Makefile#L219)

Our team would like to build all the architecture for Android if possible, and we

[2017-08-03 09:19] meteorcloudy commented on #11985
Culprit is https://github.com/tensorflow/tensorflow/commit/7ed4beea18c2aecaa0a1f600427e8452933df7b3

I've commented on the internal change.

[2017-08-03 09:38] rubenvereecken commented on #11848
So it is but the name used is without the leading module I believe. The documentation says nothing about it not being serializable.

The issue looks very similar to #11888

[2017-08-03 10:02] namrata-ibm commented on #11908
@poxvoculi, Thank you for the clarification.
I now need to see how the functionality related to TEST(TensorBundleTest, Checksum) is to be corrected with the LE convention on big endian.